[2016-11-27 10:06] #11787 closed

[2016-11-27 10:19] Bouncey commented on #11830
confirmed in `staging`

[2016-11-27 10:25] Bouncey commented on #11830
@TheTessaMurphy are you able to carry on with other challenges?

[2016-11-27 10:31] Bouncey commented on #11830
The issue seem to be `myArr.push(i)`. In one test alone this will mutate `myArr` 40 million times.

Using `myArr = myArr.concat([i])` keeps the browser alive during this operation

[2016-11-27 11:09] VAggrippino commented on #11819
I initially quoted all my case values and didn't understand why I didn't pass until I looked more closely at the test function calls. I thought I should mention it just in case someone else approached the challenge from the same perspective as me.

Thank you for your response and your time. I haven't had many positive experiences with either support or bug reporting on the Internet and I wasn't re

[2016-11-27 11:18] Bouncey commented on #11819
@VAggrippino I was opening this issue up for anyone to create a PR. We would be grateful for any attempt to fix this, but if you are not up to it, someone else will create a PR. No pressure :+1:

Happy Coding!

[2016-11-27 12:01] systimotic commented on #11824
@josephzjw Sorry, I meant to clarify in my first comment, but I forgot.
This issue was fixed, but it was not yet pushed to production. That means that we took care of it, but it will take a little while before the whole world can see the changes.
I hope that clears things up.
Again, thanks for reporting this issue, and happy coding!

[2016-11-27 12:04] josephzjw commented on #11824
Hi Timo, now I got it. Thanks for your reply!

On Sun, Nov 27, 2016 at 8:02 PM, Timo <notifications@github.com> wrote:

--
best wishes
Jiawei Zhang

[2016-11-27 14:33] raisedadead commented on #9530
Issues which do not see any activity for prolonged periods of time and aren't mission critical can be closed with 'decayed' flag.

They may be re-opened if the activity picks up.

If you have a fix, please make a pull request.

Thanks.

[2016-11-27 14:38] raisedadead commented on #10423
we should wait for the redesign, and take this post that.

[2016-11-27 14:40] raisedadead commented on #7697
Should be taken up in the curriculum expansion?
/cc @FreeCodeCamp/moderators

[2016-11-27 14:41] raisedadead commented on #11806
@dhcodes I am afraid, I have not been up to date with the expansion lately, but yeah that sounds like a good idea though.

[2016-11-27 14:45] sw-yx commented on #11806
backend challenges being overhauled?? ooh! whats coming? I’m like halfway through the current set of challenges now...

Sw yx

Sent from
https://polymail.io/?utm_source=polymail&utm_medium=referral&utm_campaign=signature

On Sat, Nov 26, 2016 at 4:29 AM Dylan

<
mailto:Dylan <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

https://github.com/raisedadead

[2016-11-27 14:47] raisedadead commented on #11828
Removed bug, because its not a show stopper issue. Yes search needs some love though.

[2016-11-27 14:50] raisedadead commented on #11806
@sw-yx
Apologies but can you please discuss on the chat, keeping the thread for issue-specific discussions only. That said, challenges would mostly be same, with a new twist making them more flexible.

And do not worry your progress is still counted, as always. You can also should you want to do them again per your interest, hang tight... 😉

[2016-11-27 14:52] raisedadead commented on #11657
Closing as not reproducible.

@BananaCustard can you confirm again if this is still causing an issue? Do you have the font installed locally on your machine? If yes, then uninstalling and trying the issue should be a work around. Let us know how it goes.

[2016-11-27 14:52] #11657 closed

[2016-11-27 14:54] raisedadead commented on #11812
Thanks for confirming @HamienSmells, let us know if you face this in future again. Apologies for your inconvenience, though.

[2016-11-27 14:54] #11812 closed

[2016-11-27 15:02] raisedadead commented on #11817
Looks like a case of duplicate account. Quincy should be able to help on this, @fega apologies for the inconvenience we are looking into it.

[2016-11-27 15:28] olddognewtrix123 commented on #758
Hi, everyone. I have spent my morning trying to very carefully get around step 11 but I keep getting a 404 error.  I go back and repeat steps 09 and 10, but still get the 404. I have deleted the directory and started a new one, carefully repeated the steps, and still get the 404, even after once again repeating steps 9 and 10 and always using the next to most recent version # (if current version i

[2016-11-27 15:43] vasadhananjay opened #11834 "Challenge [Search and Replace]: Cannot assign to read only property '0' of string 'leaped'"
Challenge [Search and Replace](https://www.freecodecamp.com/challenges/search-and-replace) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.99 Safari/537.36</code>.

Running the code below results in the following issue. I've validated that this function executes fine.

    TypeError: Cannot assign to read only pro

[2016-11-27 16:35] mdmiraj10 opened #11836 "add removeclass using jquery."
Challenge [Remove Classes from an element with jQuery](https://www.freecodecamp.com/challenges/remove-classes-from-an-element-with-jquery) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.99 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[c

[2016-11-27 17:49] abhisekp commented on #7697
I think [**Convert Celsius to Fahrenheit**](https://www.freecodecamp.com/challenges/convert-celsius-to-fahrenheit) should be moved right after [**Finding a Remainder in JavaScript**](https://www.freecodecamp.com/challenges/finding-a-remainder-in-javascript) challenge.

I think this **surprise** question after some challenges related to shorthand operands is the issue in a subtle way.

[2016-11-27 18:10] maxssage opened #11837 "Ditch Custom CSS for Bootstrap: 'Your paragraph elements should no longer use the font Monospace.'"
Challenge [Ditch Custom CSS for Bootstrap](https://www.freecodecamp.com/challenges/ditch-custom-css-for-bootstrap#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20%20%7D%0A%0A%20%20.thick-green-bor

[2016-11-27 18:13] maxssage commented on #11837
Hi @VarCI-bot

I just reported bug

[2016-11-27 18:46] raisedadead commented on #11837
Hi @maxssage, unfortunately, your code is not correct. You are not supposed to delete the `p` elements.

Please reach out to the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help).

[2016-11-27 18:46] #11837 closed

[2016-11-27 18:55] raisedadead commented on #11836
@mdmiraj10 Your code is incorrect.

In future please reach out to the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help), before reporting as bug.

[2016-11-27 18:55] #11836 closed

[2016-11-27 20:53] systimotic commented on #11834
Hi @vasadhananjay! Thank you for reporting this issue.

You can not edit a string with that syntax (although it would be cool if you could). This challenge explains it https://www.freecodecamp.com/challenges/understand-string-immutability

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the

[2016-11-27 20:53] #11834 closed

[2016-11-27 20:59] erictleung commented on #11806
Somewhat distantly related to https://github.com/FreeCodeCamp/FreeCodeCamp/issues/8743 in terms of jade-to-pug transition.

[2016-11-27 21:10] systimotic commented on #9530
Ok, thanks @raisedadead! I'll fine-tune what I have and submit a PR

[2016-11-27 23:47] TomorrowIsToday commented on #9142
Strange same issue. Copied the above Code and worked just fine.

[2016-11-28 00:01] teachinggeek opened #11838 "Making text red"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-11-28 00:01] #11838 closed

[2016-11-28 00:05] mitrostziavarasgr opened #11839 "mitros73"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-11-28 00:06] teachinggeek opened #11840 "Text not changing red"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-11-28 00:06] JohnnyBizzel commented on #11832
I'm not sure you should close this issue. It is clearly valid to have global variables.

[2016-11-28 00:17] fly1030 opened #11841 ""Condense arrays with reduce" example code has bug/typo"
#### Challenge Name

#### Issue Description

Below is code of example to call reduce function, where a typo/bug is found using "(" instead of "{"

var singleVal = array.reduce(function(previousVal, currentVal) {
  return previousVal - currentVal;
}, 0);

#### Browser Information

* Browser Name, Version: Chrome, Version 53.0.2785.143 (64-bit)
* Operating System: Mac OS
* Mobile, Desktop, or Tablet

[2016-11-28 00:22] #11841 closed

[2016-11-28 00:23] fly1030 commented on #11841
View was incomplete...

[2016-11-28 00:25] jackuhlantern commented on #7351
I've also encountered an issue with the demo not working. I don't want to look at the code before doing the challenge, though, so I'm not sure what's wrong. Here's a screenshot:
![image](https://cloud.githubusercontent.com/assets/18414227/20653163/059f5756-b54c-11e6-8573-f9e46a4ffd14.png)
Every time I've tried to open the page that's what it looks like. I know it's not my browser settings since I'

[2016-11-28 00:37] HKuz commented on #7697
I'm going to link to @abhisekp 's comment over in the Curriculum Expansion [issue 14 here](https://github.com/FreeCodeCamp/CurriculumExpansion/issues/14) - it held all the discussion about the existing JavaScript section. The issue is closed, but there are a handful of new challenges that need to be seeded I have noted as a to-do. We can do any proposed challenge re-orders for that section, too, a

[2016-11-28 01:40] erictleung commented on #11840
@teachinggeek Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/fr

[2016-11-28 01:40] #11840 closed

[2016-11-28 01:41] erictleung commented on #11839
@mitrostziavarasgr Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com

[2016-11-28 01:41] #11839 closed

[2016-11-28 01:45] erictleung commented on #11832
@JohnnyBizzel yes, global variables are perfectly valid to use in code. Nonetheless, this is a duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9199 and this would've been closed in favor of that one. Feel free to continue the discussion over in the other issue. Happy coding!

[2016-11-28 03:01] johnnyqbui commented on #11798
@Manish-Giri Hey are you working on this? If not, I'm going for it.

[2016-11-28 03:17] Manish-Giri commented on #11798
@johnnyqbui  Yes, I am.

[2016-11-28 04:16] vasadhananjay commented on #11834
Agreed that it shouldn't work. But it shouldn't throw an error either should it?

[2016-11-28 04:23] johnnyqbui commented on #10511
I'd like to help out with this.

[2016-11-28 06:41] Em-Ant commented on #9327
@chuckadams Thanks for your help. We are improving the microservice projects in the new curriculum. I'm closing this and moving the discussion to the related issue in the curriculum expansion repository https://github.com/FreeCodeCamp/CurriculumExpansion/issues/82.

[2016-11-28 06:41] #9327 closed

[2016-11-28 06:59] raisedadead commented on #7351
Can anyone confirm, it seems to work for me? /cc @FreeCodeCamp/moderators

[2016-11-28 07:03] Manish-Giri commented on #7351
It seems to be working for me -

![screenshot 2016-11-28 02 02 18](https://cloud.githubusercontent.com/assets/11348778/20659015/e30fff34-b50e-11e6-8953-74d79512953f.png)

[2016-11-28 07:06] abhisekp commented on #7351
It works for me too. It shows my location along with the temperature.

@jackuhlantern Please check your dev console to see for any errors
<kbd>CTRL + SHIFT + J</kbd>

[2016-11-28 07:08] Em-Ant commented on #7351
If you use https to access codepen your browser is blocking the call to the weather api (which is on http) because of the "mixed active content" policy.

[2016-11-28 07:42] Em-Ant commented on #7392
Closing. We restructured the challenge using POST

[2016-11-28 07:42] #7392 closed

[2016-11-28 09:32] flipsyde606 commented on #11828
I am taking this

[2016-11-28 10:49] DanteTheRocker opened #11845 "Whats the problem here"
Challenge [Create a Form Element](https://www.freecodecamp.com/challenges/create-a-form-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospac

[2016-11-28 10:53] DanteTheRocker commented on #11845
This is the first time I use Github, so if this is not the correct format I should post a post, please for give me guys.

I've tried doing this on Firefox and Microsoft internet explorer and still I have the same problem

[2016-11-28 12:31] hblauth commented on #11830
I have also experienced this issue

[2016-11-28 12:44] sjames1958gm commented on #10718
The change provided didn't test the case indicated. The property "number" is on every contact, the new test should have been something like profileLookup("Bob", "email")

[2016-11-28 13:01] raisedadead commented on #11845
@DanteTheRocker thanks for posting, unfortunately, your code is incorrect.

This issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-11-28 13:01] #11845 closed

[2016-11-28 13:10] DanteTheRocker commented on #11845
thanks a lot my friend :D

[2016-11-28 13:29] #11819 closed

[2016-11-28 13:55] adambugaj commented on #6249
What would be, if we want to replace 'if/else" with **"switch"** method?

`switch (checkProp) {
    case checkProp:
      myObj.hasOwnProperty(checkProp) === true;
      return myObj[checkProp];
     case checkProp:
      myObj.hasOwnProperty(checkProp) === false;
      return "Not Found";`

"Pony" and "Kitten" works on this code (first part), but the second ("Not Found") does not. Some sugestion

[2016-11-28 14:36] dhcodes commented on #11825
Closing. Please reopen if you are still having an issue.

[2016-11-28 14:36] #11825 closed

[2016-11-28 16:32] BlindAmbition opened #11846 "Console capture does not log when message is falsy"
Challenge [Passing Values to Functions with Arguments](https://www.freecodecamp.com/challenges/passing-values-to-functions-with-arguments#?solution=%0A%2F%2F%20Example%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0Afunction%20functionWithArgs(c%2C%20d)%20%7B%0A%20console.log(c%20%2B%20d)%3B%20%0A%7D%0AfunctionWithArgs(-4%2C4)%3B%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/

[2016-11-28 16:45] SeilaAG opened #11847 "Sum All Odd Fibonacci Numbers - The result is not correct"
I have done the challenge and almost all tests have passed except for **_sumFibs(75025):_**

- The expect value: **_135721_**
- My result:  **_60696_**

**Browser Information:**
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/45.0.2433.0 Safari/537.36</code>.

**My code:**

[code]

[2016-11-28 16:51] raisedadead commented on #11846
Your code passes for me. Can you try checking by resetting the code, and/or deleting the cookies, and then reattempting the challenge?

[2016-11-28 16:54] SeilaAG commented on #11847
Instead of  "_while( fib < num)_" it should be "**_while( fib <= num)_**"

[2016-11-28 16:54] #11847 closed

[2016-11-28 17:26] RobertDiebels opened #11848 "In correct styling syntax used in example for "Change the Color of Text""
Challenge [Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%20style%3D%22color%3A%20red%3B%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp%3

[2016-11-28 17:57] statesof opened #11849 "Will not accept answer for: myStr should have encoded text with the proper escape sequences and no spacing."
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%3D%22Firstline%5Cn%5C%5CSecondLine%5C%5C%5CrThirdLine%22%3B%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/601.7.7 (KHTML, like Gecko) Version/9.1.2 Safari/601.7.7</code>.
Please describe how to reproduce this is

[2016-11-28 18:26] raisedadead commented on #11849
The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-11-28 18:26] #11849 closed

[2016-11-28 18:50] axiomteck opened #11850 "Change the Font Size of an Element"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%7D%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitt

[2016-11-28 18:51] axiomteck commented on #7976
is showing me a red circle with an x and it show Between the style tags, give the p elements font-size of 16px. Browser and Text zoom should be at 100%.

[2016-11-28 18:56] axiomteck commented on #7976
never mind i was adding a dot to the P tag sorry guys i figure out

[2016-11-28 19:54] Marcelosilva10 commented on #11850
<style>
  p {
    font-size: 16px;
  }
  .red-text {
    color: red;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

<p>Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip the couch sleep in the

[2016-11-28 19:56] Manish-Giri commented on #11850
@axiomteck Your code is incorrect. `p` elements are HTML elements, so they don't need the `.` in CSS, which are required for classes.

Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) first for help with issues like these, in future. Happy Coding!

[2016-11-28 19:59] Marcelosilva10 commented on #11848
[code]

[2016-11-28 20:00] axiomteck commented on #11850
Yes thank you I fix it
--
Sent from www.axiomteck.com Monday, 28 November 2016, 11:55AM -08:00 from Marcelo Henrique de Souza e Silva  notifications@github.com :

  p {
    font-size: 16px;
  }
  .red-text {
    color: red;
  }
</style>

[2016-11-28 20:04] axiomteck commented on #11850
Yes thank you I fix it
--
Sent from www.axiomteck.com Monday, 28 November 2016, 11:58AM -08:00 from Manish Giri  notifications@github.com :

[2016-11-28 20:11] erictleung commented on #11846
@BlindAmbition you've deleted the original seed code and that is why you're getting the weird console log. If you add the following code *back* into your code, you won't see any issues.

[code]

Please take note of comments in the editor when you start. Some will have `// Only change code below this line.` which are important to notice when completing the challenge. Closing as a non-bug issue. Hap

[2016-11-28 20:14] erictleung commented on #11848
@RobertDiebels my two cents on the matter is that the code is fine i.e. no semi-colon is necessary because these are inline stylings, which shouldn't be used anyways. Nonetheless, I'll be closing this issue because it is a duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/10403. Feel free to continue the discussion over on that issue. Happy coding!

[2016-11-28 20:14] #11848 closed

[2016-11-28 20:16] erictleung commented on #11850
@axiomteck sounds like your issue is resolved. I'll be closing the issue as it appears resolved. Happy coding, all!

[2016-11-28 20:16] #11850 closed

[2016-11-28 20:37] Bouncey commented on #11830
@raisedadead could this be some weird `loop-protect` thing?

[2016-11-28 20:38] Bouncey commented on #11815
Closing as stale, @znllnz if you have any more info, please reopen this issue

[2016-11-28 20:38] #11815 closed

[2016-11-28 20:43] Bouncey commented on #11806
This is more of an issue for workshoppers, not us as we do not maintain it.

@sw-yx using jade will not do you any harm, currently freeCodeCamp is using jade to render almost everything on the production site. You can use pug where the workshopper says to use jade, I'm sure it wont break anything.

Happy coding

[2016-11-28 20:43] #11806 closed

[2016-11-28 20:53] #11763 closed

[2016-11-28 20:56] systimotic commented on #11834
@vasadhananjay That's how Javascript works, we can't really influence it.
I like that it throws an error. If it doesn't work, but it doesn't throw an error, it would take me way longer to figure out what went wrong.
I'm genuinely curious, what do you think it should do?

[2016-11-28 21:17] Bouncey commented on #11797
Closing as stale

@mesturrica if you have any more information, please reopen this issue

[2016-11-28 21:17] #11797 closed

[2016-11-28 21:24] #11826 closed

[2016-11-28 21:37] porjolovsky commented on #10154
agreeing with @r1chard5mith & @dhcodes here, came looking for this. Seemed off for it to be a timezone issue, given that the display works ok and separates challenges done correctly by day to the hour (I've mostly coded at or around midnight, so I've seen this live). I think it could be solved by using a 48 hour period (2 days instead of 1.5, if that's where the error was) and get the user timezon

[2016-11-28 21:48] michelle65 opened #11852 "issue1-width"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B

[2016-11-28 21:49] michelle65 commented on #11852
it does not work when I try to compile

[2016-11-28 21:52] systimotic commented on #11852
Hi @michelle65! Thank you for reporting this issue.

There's an issue in your code. You added your class with `.classname` in the HTML, where it should be `classname`.
If you need coding help, please click the "Help" button on the challenge. This issue tracker is meant for issues with Free Code Camp itself.

If you think I'm wrong in closing this issue, please reopen it and add further clarificati

[2016-11-28 21:52] #11852 closed

[2016-11-28 22:40] Lamora-lies opened #11853 "Image Width won't change."
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2016-11-28 22:41] #11853 closed

[2016-11-28 23:42] BerkeleyTrue commented on #9530
@systimotic You might want to hold off. We are in the process of removing all the sidecar related drawers.

[2016-11-28 23:43] #9530 closed

[2016-11-29 00:11] BerkeleyTrue commented on #11441
@systimotic I agree with removing that line but that is a separate issue from this one. Please open a new one with a fitting title.

[2016-11-29 00:24] BlindAmbition commented on #11846
Hi ,Eric,

Thank you for the quick feedback.

However, no, it won't, I'm sorry.
I reset the problem, and put my own code in, and then the result is not
0, but 5.
Being the result from the example. Which is why I removed it while
toying with it.

You may be right that it is not a bug, but it IS kinda weird that using
7 + -7 does not give 0 as a result.
It should, and I asked around and when NOT in

[2016-11-29 00:30] jackuhlantern commented on #7351
From dev console:
![image](https://cloud.githubusercontent.com/assets/18414227/20691701/fdd5cfd0-b615-11e6-8b62-75bb5ccce059.png)

It does seem to be an issue with https, but I can't load it with http in full view for some reason (404 error). Oddly enough, the app works just fine with http in "Editor View", but 404's in Details or Full view.

[2016-11-29 00:36] abhisekp commented on #7351
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-cod

[2016-11-29 00:36] #7351 closed

[2016-11-29 00:48] BerkeleyTrue commented on #11627
@Bouncey I'm not sure what is going on but I cannot replicate this locally.

[2016-11-29 00:53] BerkeleyTrue commented on #11627
This is on your lang translation note PR.
![lang-issue-test](https://cloud.githubusercontent.com/assets/6775919/20692183/15f29624-b58b-11e6-9586-5ee250f2a4b4.gif)

[2016-11-29 01:19] BerkeleyTrue commented on #11788
@QuincyLarson no loopback will not automatically remove emails. The emails we already have will not be removed.

This scope can be removed.

[2016-11-29 01:47] victormanoliu97 opened #11854 "My code is corect and it runes my tests but it won't let me press the button Submit and go to my next challenge"
Challenge [Profile Lookup](https://www.freecodecamp.com/challenges/profile-lookup#?solution=%0A%2F%2FSetup%0Avar%20contacts%20%3D%20%5B%0A%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%22firstName%22%3A%20%22Akira%22%2C%0A%20%20%20%20%20%20%20%20%22lastName%22%3A%20%22Laine%22%2C%0A%20%20%20%20%20%20%20%20%22number%22%3A%20%220543236543%22%2C%0A%20%20%20%20%20%20%20%20%22likes%22%3A%20%5B%22Pizza%22%2

[2016-11-29 01:53] CherryPlaysRoblox1 commented on #11854
Next time maybe, could you avoid adding long links to your posts? Thanks!

[2016-11-29 01:56] erictleung commented on #11846
@BlindAmbition thanks for the response. Ah I see. Yes, I agree that this might come off as confusing.

It seems that something in the background is failing for when you have a difference/sum equal to zero for the `functionWithArgs()` function, like `functionWithArgs(-4, 4)`. If you have something that is positive or negative like `functionWithArgs(4, 1)` or `functionWithArgs(3, -4)`, then the cons

[2016-11-29 02:00] erictleung commented on #11854
@victormanoliu97 your code passes for me and it allows me to go to the next challenge. I would close the window and try submitting your code again and see if that works. Otherwise, what other information can you give on your situation? Is the button visible? Can you click on it but nothing happens?

[2016-11-29 02:10] abhisekp commented on #11846
Ah! Your hunch is right :smiley: @erictleung
This line https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/basic-javascript.json#L2358 should read
[code]

The `if` statement is unnecessary.

[2016-11-29 02:13] sarathin commented on #11846
Code is working fine, but the message displayed is incorrect. Refer screenshot below

![passing values to functions with arguments free code camp](https://cloud.githubusercontent.com/assets/16823211/20692305/e8261a4e-b58b-11e6-933a-11552320b186.jpg)

[2016-11-29 03:20] kimbah opened #11856 "Link to CodePen (Build a Personal Portfolio Webpage) - 404 (Page Not Found) Error?"
Challenge [Build a Personal Portfolio Webpage](https://www.freecodecamp.com/challenges/build-a-personal-portfolio-webpage) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.98 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

The link to the CodeP

[2016-11-29 03:35] Gabriel2700 commented on #5176
Having trouble with 'Add images to your website'
<img src="https://bit.ly/fcc-relaxing-cat"/>
  alt="kittens relaxing.">

[2016-11-29 03:39] erictleung commented on #11856
@kimbah I can't reproduce. Can you give a screenshot? And is it the entire CodePen page or just parts of the portfolio web page?

[2016-11-29 04:03] kimbah commented on #11856
Hi,

Thanks for quick reply. Think it may be a Chrome issue because I just discovered it does not happen in Firefox (??).

Here’s the screen shot below.

Thanks and regards,

Kim Hughes

[2016-11-29 04:12] kimbah commented on #11856
Sorry quick follow up. In Firefox and Safari link takes you to website itself okay but not the CodePen page (i.e. the Pen itself)??? Chrome takes you to CodePen but has the 404 Page Not Found error.

Thanks and regards,

Kim Hughes

[2016-11-29 04:48] #10511 closed

[2016-11-29 04:54] Manish-Giri commented on #11856
@kimbah If I understand it correctly, you want to see the demo app? To do that, see the objective 1 on the left

Click on that link, that will take you to the demo. By default, all challenge links will take you to the challenge description page on FCC itself, not the demo apps directly.

[2016-11-29 05:06] kimbah commented on #11856
Thanks Eric,

That link still takes me to a 404 page as below:

[2016-11-29 05:08] kimbah commented on #11856
Eric,

I meant to add the link to the CodePen,io takes me here:

[2016-11-29 05:36] yankease commented on #4150
thank you baby jesus and all contributors for this thread, helped me out immensely

[2016-11-29 06:38] michelle65 opened #11857 "How can I make this work? ...at the top it says undefined?"
Challenge [/C:/Users/Mihaela%5E/Desktop/Link%20to%20External%20Pages%20with%20Anchor%20Elements%20_%20Free%20Code%20Camp.htm](file:///C:/Users/Mihaela%5E/Desktop/Link%20to%20External%20Pages%20with%20Anchor%20Elements%20_%20Free%20Code%20Camp.htm) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64; rv:50.0) Gecko/20100101 Firefox/50.0</code>.

How can I make this work?---not her

[2016-11-29 06:54] hensn5250 commented on #11813
I had difficulty with this problem as well. After some time I noticed I simply had spelling errors. Just look at the example and watch for little mistakes in spelling and syntax.

[2016-11-29 07:38] raisedadead commented on #11830
Please try running the code with `//noprotect` at the top of your code in the editor. If it passes then it could be a loop protect issue, which we will have to look into.

[2016-11-29 11:05] raisedadead commented on #11856
@kimbah please use the GitHub interface for adding comments and screenshots. Replies from your email client don't show tge screenshots.

[2016-11-29 11:23] kimbah commented on #11856
No worries will do,

[2016-11-29 12:02] davidpickup commented on #758
I get the same errors as @olddognewtrix123. All my previous challenges are "COMPLETED", but trying to add a dist-tag just doesn't work.

[2016-11-29 12:27] kimbah commented on #11856
![screen shot 2016-11-29 at 1 05 21 pm](https://cloud.githubusercontent.com/assets/15304551/20709692/c51dc998-b671-11e6-8e8f-de6dcc8c5abd.png)
![screen shot 2016-11-29 at 1 07 05 pm](https://cloud.githubusercontent.com/assets/15304551/20709693/c5f770bc-b671-11e6-8f10-1e8fda9bd671.png)

[2016-11-29 12:37] raisedadead commented on #11856
Please open up your [Chrome dev tools](https://developer.chrome.com/devtools) and share the errors that you see on the `Console` tab.

[2016-11-29 13:10] marzelin commented on #11830
The issue here is not with the time that takes the loop in the challenge code to finish (which is protected), but with  tests that try to compare the result. For one test (`sumFibs(4000000)`) the code returns  an array with 4,000,000  items (approximately 400MB of RAM). There's no protection against humongous arrays here so pretty much every challenge can be frozen just by making the code return l

[2016-11-29 14:30] Richbward commented on #3894
Hhhmmm...I was just about to add this as well.  It is minor - but it shouldn't be, "color" and should instead be, "class".  This is correct - and it is used correctly twice later in the description:
1. "Add Bootstrap's btn-primary class to your button."
2.  "Your button should have the class btn-primary."

[2016-11-29 14:36] tonystaark opened #11858 "Help! Double #target5 on left!"
Challenge [Target the Children of an Element Using jQuery]

Hi I can't seem to pass the challenge. Tried searching for other related posts on the bug issue but to no avail.

My code:
[code]

[2016-11-29 14:37] tonystaark commented on #11858
![pic2](https://cloud.githubusercontent.com/assets/16837659/20713731/6444f566-b684-11e6-9c9c-0bb1aef6dc9d.png)

[2016-11-29 15:38] Kwpolska commented on #11441
I changed the title, so please reopen this one.

[2016-11-29 15:41] Richbward opened #11860 "Responsively Style Radio Buttons"
Responsively Style Radio Buttons

In the challenge you state that the user should nest each radio button with the following class:
`<div class="col-xs-6">`

However, the two lists:
1.  Things cats love:
2.  Top 3 things cats hate:

each have three radio buttons.

Because the Bootstrap grid system is based on twelve columns per row this wouldn't add up (it would be eighteen).

Each of the three rad

[2016-11-29 15:45] erictleung commented on #11858
@tonystaark thanks for the issue. This is a duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/5072 and React-ification of the site should solve this problem soon https://github.com/FreeCodeCamp/FreeCodeCamp/pull/7430. Closing as resolved in staging. Happy coding!

[2016-11-29 15:45] #11858 closed

[2016-11-29 15:46] Richbward commented on #11860
Presently, this challenge fails if I try to have a row for the unordered and ordered lists with the three radio buttons each in a single row...

[2016-11-29 15:51] t3h2mas commented on #11860
Hi @Richbward, could you please link to the challenge/post the description? Thank you

[2016-11-29 15:51] erictleung commented on #11860
@Richbward Thank you for reporting this issue. I can see how this might be confusing but please read the instructions carefully.

The math still adds up to twelve. Please head over to one of the help rooms for more clarification, if needed.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on th

[2016-11-29 15:51] #11860 closed

[2016-11-29 15:52] erictleung commented on #11857
@michelle65 Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free

[2016-11-29 15:52] #11857 closed

[2016-11-29 16:11] Richbward commented on #11860
Hi Eric -

Thanks for the prompt response.

Yes, you're right - this is confusing.  I see two lists (one unordered, one ordered) each with three items.  The only way I can see 6 adding up to 12 would be if you had the list title and three items for each in a single row split by two  <div class="col-xs-6"> like so:

  <div class="row">
        <div class="col-xs-6">
  <p>Things cats <span class="te

[2016-11-29 16:12] Richbward commented on #11860
Hi @t3h2mas -

Here is the link:
https://www.freecodecamp.com/challenges/responsively-style-radio-buttons#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20%20%7D%0A%0A%20%20.thick-green-border%20%7B%0A%20%2

[2016-11-29 16:25] peterdeng opened #11862 "Would you please add a test case."
Challenge [Search and Replace](https://www.freecodecamp.com/challenges/search-and-replace) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.98 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Would you please add the following test case?
myRepla

[2016-11-29 16:30] Richbward commented on #11860
@erictleung -

I tried to reopen this issue but it appears I do not have the right to do so. I would appreciate a response.

[2016-11-29 16:37] erictleung commented on #11860
@Richbward GitHub issues are for bug reporting, not for coding help. I believe this GitHub issue is about coding help because my interpretation of the issue is that the column widths aren't adding up. However, they do add up correctly.

If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Feel free to

[2016-11-29 16:41] Richbward commented on #11860
@erictleung -

Then I guess I simply disagree that three radio buttons with six columns each adds up to twelve.

I don't see this as a coding issue at all.  I know how to use Bootstrap.

The best scenario I can see here is that the question is very poorly worded.

I thought Free Code Camp was to help users code - not play word games.

[2016-11-29 16:43] marzelin commented on #11441
New challenge title:
Make Link Placeholders using the Hash Symbol

New description:
When developing a website you often want to check the behavior and looks of a page before you connect it with the rest of the website. For example, You want to check how a link looks when clicked  without it causing the browser to move to another page.

That's where placeholder links come handy.
For `<a>` element t

[2016-11-29 16:47] erictleung commented on #11862
@peterdeng can you give your reasoning for adding this test case? Are the instructions unclear? Do you want to make the challenge more difficult? I think the challenge is sufficient the way it is but I'm up for discussing it.

[2016-11-29 17:12] raisedadead commented on #11441
Thanks! @marzelin.

The description looks great!

I am a bit skeptical about changing the title of the challenge, though. It's more or less the same and one caveat with changing the name would be that it will break the stored solutions for many campers (their progress stays, except they would have to re-submit the challenge if they want their solution to be visible on their profiles, unfortunately

[2016-11-29 17:20] raisedadead commented on #11033
Closing with the comment above.

/cc @BerkeleyTrue @QuincyLarson

[2016-11-29 17:20] #11033 closed

[2016-11-29 17:25] JakeHenshall commented on #9044
This should be the code:

var myVar = 87;

// Only change code below this line
var total = ++myVar;

[2016-11-29 17:30] marzelin commented on #11441
In theory `#` link is not a dead link, so if the title won't be changed be prepared for some nitpicky people to throw issues concerning this subject from time to time.

[2016-11-29 17:41] raisedadead commented on #11441
/cc @FreeCodeCamp/moderators please approve the title change, before tagging help wanted.

[2016-11-29 17:43] raisedadead commented on #11627
@BerkeleyTrue it's reproducible on the staging as seen in the OP for this issue. And @Bouncey's PR results in the same as your GIF.

[2016-11-29 17:45] raisedadead commented on #11627
However in both cases, if I delete the cookies from the browser (creating a true fresh session). And login again. The language remains `en` even though on the settings page I can see it to be `es`

[2016-11-29 17:46] BerkeleyTrue commented on #11627
So it is fixed?

[2016-11-29 17:48] raisedadead commented on #11627
Yes. The PR fixes the issue.

[2016-11-29 17:51] BerkeleyTrue commented on #11627
@raisedadead That PR has been merged. So staging should be fixed as well

[2016-11-29 17:53] raisedadead commented on #11627
Apologies I meant https://github.com/FreeCodeCamp/FreeCodeCamp/pull/11801 fixes it.

[2016-11-29 17:54] BerkeleyTrue commented on #11627
@raisedadead The Gif I supplied is not from that PR. So I am having a different experience than you and @Bouncey

[2016-11-29 18:01] raisedadead commented on #11627
@BerkeleyTrue so you merged a different PR that gave you the result in your gif? If yes, which one? I can revert locally and check?

[2016-11-29 18:02] BerkeleyTrue commented on #11627
#11545 does not replicate the issue. But I don't think it has anything to with the pr. I'm just not seeing this behavior.

[2016-11-29 18:22] johnnyqbui commented on #11382
@atjonathan was wondering if I can help out with this?

[2016-11-29 18:23] dhcodes commented on #11441
I'm alright with the title change. I'll go ahead and make the challenges for `<marquee>` and `<blink>`. /s 😉

[2016-11-29 18:25] raisedadead commented on #11627
@BerkeleyTrue you are correct. I just merged #11545 locally and `npm` installed. And I get the same behavior as you.

This issue is not reproducible with #11545 merged.

[2016-11-29 18:26] Kwpolska commented on #11441
(Here’s a minor architecture nitpick: don’t depend on challenge titles, use some ID that never changes)

[2016-11-29 18:38] BerkeleyTrue commented on #11441
(Yes, this is what we do in staging. Thank you for your suggestion)

[2016-11-29 18:39] raisedadead commented on #11441
They already do use a unique id, in our staging. It's also associated when storing the data per user.

The solutions are encoded as params in the URLs and are stored on the profile. This was to save as much as possible on a db constraints that we had early on.

[2016-11-29 18:51] ktajpuri commented on #8206
I am still getting this issue.

![image](https://cloud.githubusercontent.com/assets/10725893/20724066/e0c12732-b692-11e6-9e24-20b1606a407a.png)

[2016-11-29 18:56] ktajpuri commented on #11348
Can I work on this? I can reproduce the issue in my local setup. @BerkeleyTrue @Bouncey

[2016-11-29 18:58] raisedadead commented on #8206
@ktajpuri your issue is different from one that's noted here, and is also normal because from the screenshot, its coming from your localhost (running fcc locally) in a development environment.

You can ignore them.

[2016-11-29 19:07] raisedadead commented on #11348
@ktajpuri sure, all `help wanted` issues are open to all for pull requests, unless they already have one. Please make sure you follow the contributing guidelines.

[2016-11-29 19:11] znllnz commented on #7847
I had this issue as referenced by erictleung here:
https://github.com/FreeCodeCamp/FreeCodeCamp/issues/11815

for some reason I didn't get a notification that he had responded to it in email until it was closed.

hitting enter does seem to fix it

[2016-11-29 19:22] ktajpuri commented on #11348
Yup. Will do.

[2016-11-29 20:11] pdhanoya opened #11864 "Drop it : Test case 2 and 6 expect wrong return value from the function."
Challenge [Drop it](https://www.freecodecamp.com/challenges/drop-it) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.71 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

Incorrect Test Cases
dropElements([0, 1, 0, 1], function(n) {return n

[2016-11-29 20:56] marzelin opened #11865 "Feature: peer reviews for advanced challenges"
# Feature: peer reviews for advanced challenges

##  The problem

Since writing code is becoming more and more collaborative process the ability to produce highly readable code is becoming crucial for aspiring developers. Writing code that is easy to understand by other people is as important as writing code that fulfils technical requirements.
There are tools that can check and enforce some aspec

[2016-11-29 21:07] dhcodes commented on #11864
@pdhanoya You're to drop the items in the array, starting with index 0 *until* the function becomes true, NOT to drop *all* the items in the array that do not make the function (second argument) true.

[2016-11-29 21:21] cmorlee commented on #9196
having this problem on chrome... help

[2016-11-29 21:22] gogoKt commented on #11085
That one was a puzzle :)

[2016-11-29 21:22] atjonathan commented on #11382
@johnnyqbui, sure, we are hoping to remove the animations on the "are you sure?" routes. Sorry, I didn't get round to this myself 😖

[2016-11-29 21:40] jdc20181 opened #11866 "Bug: Added the required challenge text but nothing happens it says i havent done it."
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20p%7B%0A%20%20%20%20font-size%3A16px%0A%20%20%20%20%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3

[2016-11-29 21:58] dhcodes commented on #11866
@jdc20181 you have an error in your code. Please consider asking for help in the chat room by clicking the Help button on the challenge.

[2016-11-29 21:58] #11866 closed

[2016-11-29 22:19] jdc20181 commented on #11866
An error? I think I know what it could be but I've been coding for over a
year this is just a side project essentially to improve my skills and get
to know clients.

On Tue, Nov 29, 2016 at 5:00 PM Dylan <notifications@github.com> wrote:

[2016-11-29 22:20] prashish14 opened #11868 "Bug in the editor for Concatenate Arrays with concat"
Challenge [Concatenate Arrays with concat](https://www.freecodecamp.com/challenges/concatenate-arrays-with-concat#?solution=%0Avar%20oldArray%20%3D%20%5B1%2C2%2C3%5D%3B%0Avar%20newArray%20%3D%20%5B%5D%3B%0A%0Avar%20concatMe%20%3D%20%5B4%2C5%2C6%5D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0Avar%20newArray%20%3D%20oldArray.concat(concatMe)%3B%0Aconsole.log(newArray)%3B%0AnewArray

[2016-11-29 22:22] Bouncey commented on #11627
So previous to this GIF, I checked out #11545 and did:
`git pull --rebase upstream staging`
`rm -r node_modules`
`npm install`
`gulp`
![anim](https://cloud.githubusercontent.com/assets/18572518/20731375/0f9d825a-b682-11e6-900a-e00db8a237a3.gif)
I am still seeing the issue that #11801 fixes

[2016-11-29 22:24] raisedadead commented on #11735
Reopening per comment from OP.

[2016-11-29 22:36] atjonathan commented on #11868
@prashish14, your code is incorrect. After setting `newArray` correctly, you set the value back to `oldArray`.
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-11-29 22:36] #11868 closed

[2016-11-29 22:39] #11735 closed

[2016-11-29 22:45] raisedadead commented on #9196
@GordonBombay88 @cmorlee

We are aware of this issue and it has been fixed, but unfortunately this has not reached the main website.

We will ship the fix, along with the new react version of Free Code Camp in the upcoming release. This might take a while, until then please bear with us.

[2016-11-29 23:21] cmorlee commented on #9196
This doesn't make sence seeing that my co-worker is using the camp and has
night mode activated on chrome.

On Tue, Nov 29, 2016 at 5:47 PM Mrugesh Mohapatra <notifications@github.com>
wrote:

[2016-11-29 23:35] Bouncey commented on #11261
@BerkeleyTrue My understanding was that there is no code in the URI's now anyway?

[2016-11-29 23:36] BerkeleyTrue commented on #11261
Code URI is still there.

[2016-11-29 23:41] #9696 closed

[2016-11-30 00:50] johnnyqbui commented on #11382
No worries, I'll try my best! Thanks!

[2016-11-30 01:05] araxsus opened #11869 "Color is RED!"
Challenge [Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp%3E%0A%3Ch2%20style%3D%22color%3Ared

[2016-11-30 01:12] angela57 opened #11870 "help me with implementing font"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%0A%20%20%20%7B%20%0A%20%20%20font-size%3A%2016px%3B%0A%20%20%20%7D%0A%20

[2016-11-30 01:22] tonystaark commented on #11858
Nope. I mentioned in my post that all posts I have searched before, including this can't solve my problem. Have tried the solution here for my challenge but it does not work.

[2016-11-30 03:01] inthegully commented on #9079
This is a broken challenge that should be fixed with a disclaimer so people aren't wasting their time.

[2016-11-30 03:17] dhcodes commented on #11869
@araxsus you have an error in your code. Please ask for help in the chat room by clicking the Chat button on the challenge.

[2016-11-30 03:17] #11869 closed

[2016-11-30 03:19] dhcodes commented on #11866
Your CSS attribute does not have a `;` at the end. While not strictly required for a single CSS attribute, the tests enforce it here because it's an assumed best practice and beginners should get in the habit of using semicolons at the end of CSS attributes as there are usually more than one being applied.

We try to refrain from offering code help here in Github issues as that is the purpose of t

[2016-11-30 03:21] dhcodes commented on #11870
@angela57 you have an error in your code. Please consider asking for help from fellow campers in the chat room by clicking the Chat button on the challenge page.

[2016-11-30 03:21] #11870 closed

[2016-11-30 03:23] jdc20181 commented on #11866
I figured it out asking for help.

It wasn't any error in my CSS. I even checked for errors.

Further more- it was the text in the <p> element that caused the issue but
no where on my screen said what o was told to place there.

Thanks

On Tue, Nov 29, 2016 at 10:21 PM Dylan <notifications@github.com> wrote:

[2016-11-30 03:24] jdc20181 commented on #11866
Not a beginner added it up and with what I said earlier I have around 2.5
years coding experience under my belt.
About 1.5 years web and 2.5 years Non web.

On Tue, Nov 29, 2016 at 10:22 PM jeffrey crowder <jdc20181@gmail.com> wrote:

[2016-11-30 04:54] ktajpuri commented on #11348
This is strange. When I intentionally put error in console we have no output in console but all tests pass !
![image](https://cloud.githubusercontent.com/assets/10725893/20740174/0b604172-b6e7-11e6-92c3-6a386ad34cda.png)

[2016-11-30 05:19] ktajpuri commented on #11348
What is the intened behaviour here? Shall the console show the same output as the browser console? Or it should clear and just display the results once?

[2016-11-30 06:13] wendu77 commented on #8340
Go to www.withwendu.com if you need any custom orders for affordable design prices!!

[2016-11-30 06:21] TheTessaMurphy commented on #11830
Sorry I didn't see this and respond earlier. Succinctly, all the remedies
you've suggested are things I tried before I contacted you. The original
code that I sent you was after everything else had failed. I stripped it
down to the bare minimum to see if it still failed, and it did. That's when
I contacted you. The only clues I can offer are that it appeared to hang on
the return, in Chrome, which

[2016-11-30 06:32] erictleung commented on #11846
@abhisekp thanks for cleaning that up! I forgot that `"0" == false` evaluates to true 😄

[2016-11-30 06:39] QuincyLarson commented on #11788
@BerkeleyTrue OK - great. Thank you for confirming this. @raisedadead since you discovered this issue, would you like to be the contributor to create the pull request?

[2016-11-30 06:39] peterdeng commented on #11862
@erictleung Thanks for your reply.

Maybe we do not need to increase the difficulty for this challenge.
But in a case like this, would you please modify this description instead?
before:
NOTE: Preserve the case of the original word when you are replacing it.
after:
NOTE: Preserve the case of the first char in the original word when you are replacing it.
or just explain that only the first char in

[2016-11-30 06:55] QuincyLarson commented on #11817
@fega OK - I found two accounts associated with the email address you provided - neither of which had any progress. You should be able to create a new account using your email address, then link your GitHub account to it.

Please let me know if I can be of further help with this.

Happy coding!

[2016-11-30 06:56] #11817 closed

[2016-11-30 06:59] raisedadead commented on #11788
I am sure he meant you @abhisekp ! :sweat_smile:

[2016-11-30 07:10] abhisekp commented on #11862
I agree that the test should cover all caps too just for the sake of completeness. Might handle future cases.

Overall the tests should cover the following cases

1. Variable length of `before` and `after`
    - `before` and `after` length > 0
    - `after` length = 0
2. Same length of `before` and `after`
    - length > 0
3. Same case of `before` and `after`
   - both `before` and `after` upperca

[2016-11-30 07:11] raisedadead commented on #8340
@wendu77 please do not spam issue trackers on Github.

[2016-11-30 07:12] QuincyLarson commented on #11788
@raisedadead yes, thanks for correcting me. I meant @abhisekp. I failed to scroll all the way up to the top of the issue 🙂

[2016-11-30 08:29] marzelin commented on #11830
Funny thing: since Firefox's JavaScript engine is less performant than Chrome's, pushing 4,000,000 items in a loop takes more than a second which triggers `loopProtect` to stop the execution. That's why there's no browser freezes in Firefox for this code.

@TheTessaMurphy fyi your current solution works in Chrome as well because it doesn't create humongous arrays any more.

[2016-11-30 09:17] sludge256 commented on #11830
You haven't actually lost any work for challenges that you've passed. All challenges that you pass and submit are stored in the database and are accessible from your profile page. Code that you see via the map is stored locally.

[2016-11-30 09:20] VaneSuky89 opened #11873 "Create a Custom Heading"
Error: Make sure each of your div elements has a closing tag.

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>

  h2 {
    font-family: Lobster, Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

</style>
<p><span class = "text-danger">Things cats love:

[2016-11-30 09:21] #11873 closed

[2016-11-30 09:25] VaneSuky89 opened #11874 "Create a Custom Heading"
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>

  h2 {
    font-family: Lobster, Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

</style>
<p><span class = "text-danger">Things cats love:</span></p>
<div class="container-fluid">
  <div class="row">

[2016-11-30 12:22] fega commented on #11817
thanks so much, Quincy!

[2016-11-30 12:29] raisedadead commented on #11874
The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-11-30 12:29] #11874 closed

[2016-11-30 12:34] AaravGupta opened #11875 "Code outputs the sentence in Title Case for all tests, but tests show as failed."
Challenge [Title Case a Sentence](https://www.freecodecamp.com/challenges/title-case-a-sentence#?solution=function%20titleCase(str)%20%7B%20%20%0A%20%20var%20y%20%20%3D%20%20%20str.toLowerCase()%3B%0A%20%20var%20x%20%20%3D%20%20%20y.split(%22%20%22)%3B%0A%20%20var%20z%20%20%3D%20%20%20%22%22%3B%0A%20%20for(var%20i%3D0%3Bi%3Cx.length%3Bi%2B%2B)%7B%0A%20%20%20%20%20%20z%20%2B%3D%20%20%20x%5Bi%5D%5B0

[2016-11-30 12:37] VaneSuky89 commented on #11874
Thank you very much for the information, every time I am learning more

[2016-11-30 12:44] raisedadead commented on #11875
You are almost there!

![image](https://cloud.githubusercontent.com/assets/1884376/20752689/9adbfe40-b728-11e6-8b26-4f9615c0ebcb.png)

There is an extra space which you do not want. Happy Coding.

Please search for issues and use the help chat before reporting.
Thanks.

[2016-11-30 12:44] #11875 closed

[2016-11-30 14:26] #8025 closed

[2016-11-30 14:27] raisedadead commented on #8025
Moved to https://github.com/FreeCodeCamp/TranslationExpansion/issues/87

[2016-11-30 14:30] raisedadead commented on #9697
Closing as a duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9696 fixed via https://github.com/FreeCodeCamp/FreeCodeCamp/pull/11545

[2016-11-30 14:30] #9697 closed

[2016-11-30 14:45] raisedadead commented on #10869
@QuincyLarson The gem results with the below:

[code]

[2016-11-30 14:50] TomorrowIsToday commented on #7697
As a new commer I was totally confused with this exercise. Thanks for your help  everyone.

[2016-11-30 14:52] raisedadead commented on #10869
The gem detects our current LICENCE.md as closer to **CC-BY-4.0**, if we want it to be BSD-3 then the text would have to be updated as such in the LICENCE.md

[2016-11-30 15:36] elzemrany commented on #6435
$("#target4").html("<id>#target4</id>");

[2016-11-30 16:09] sh6sha commented on #11792
I am facing the similar issue

[2016-11-30 16:49] QuincyLarson commented on #10869
@raisedadead wow - thank you for installing this and running this. I will look into this and get back to you on how we should proceed.

[2016-11-30 17:37] mike131 opened #11877 "Cannot pass test, but all criteria is passed..."
Challenge [Create a Set of Radio Buttons](https://www.freecodecamp.com/challenges/create-a-set-of-radio-buttons#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobst

[2016-11-30 19:27] erictleung commented on #11877
@mike131 Thank you for reporting this issue. Your code is incorrect and that is the reason you are not passing. Please check the example code in the challenge description for some help.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to t

[2016-11-30 19:27] #11877 closed

[2016-11-30 19:31] erictleung commented on #11865
@marzelin thanks for the feature suggestion. I think this would be an interesting twist to the program that would be similar to the kind of programming you might do on the job. Another drawback, similar to your second point, is that peer review is subjective on what would be considered good. And to clarify, which advanced challenges are you referring to? All of them? Only adv. algorithms? The proj

[2016-11-30 19:32] mike131 commented on #11877
@erictleung I'm an idiot, thanks for making me look over my code again 😄

[2016-11-30 19:36] erictleung commented on #11864
@pdhanoya as @dhcodes has pointed out, the instructions say to drop elements *until* the function is true.

Thus, the tests and instructions are consistent with each other. If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-11-30 19:36] #11864 closed

[2016-11-30 19:51] johnnyqbui commented on #11382
@atjonathan I removed the crazy wobble animation, did you also want to center it and change the color to something else?

[2016-11-30 20:21] atjonathan commented on #11382
@johnnyqbui, awesome! Yeah if it could be centered horizontally and vertically, and adjust the design to be a little more modern, that would be great 😃

[2016-11-30 20:40] systimotic commented on #10163
@dhcodes Did you make any progress on this?

[2016-11-30 20:48] johnnyqbui commented on #11382
![deleteaccount](https://cloud.githubusercontent.com/assets/17282870/20770543/bb886862-b70b-11e6-985e-1719258320fc.JPG)
![deleteaccount2](https://cloud.githubusercontent.com/assets/17282870/20770544/bb9948a8-b70b-11e6-8fa1-52dd13b8ce3a.JPG)

I just gave it a lighter grey background color and added more px to the top margins to center it. What do you think?

[2016-11-30 20:49] johnnyqbui commented on #11382
I wasn't sure what other colors to use

[2016-11-30 20:51] systimotic commented on #9867
Hi @mcole1976!
If you there's enough money in the till, you should return an array of change.
If there's not enough money in the till, or the amount in the till is equal to the required amount of changed, you should return a string with the correct message.
You never have to return the cash that is currently in the drawer.

I hope that clears things up.
If you need coding help in the future, pleas

[2016-11-30 20:51] #9867 closed

[2016-11-30 20:54] systimotic commented on #9861
@dhcodes @SamAI-Software
Hi there! This issue is really old, and I can't seem to reproduce this anymore.
Because of the combination of those two things, I'm closing this issue. If you can still reproduce, please reopen!

[2016-11-30 20:54] #9861 closed

[2016-11-30 20:58] systimotic commented on #9600
Hi all! I very much agree with what is being said in this challenge.
This is being addressed in the curriculum expansion. More info here: https://github.com/FreeCodeCamp/CurriculumExpansion/issues/44
I'm closing this issue, because I think it's best to continue the discussion there. If you think I'm wrong in closing this issue, please reopen it and add further clarification.
Happy coding!

[2016-11-30 20:58] #9600 closed

[2016-11-30 21:06] johnnyqbui commented on #11382
![deleteaccount](https://cloud.githubusercontent.com/assets/17282870/20771306/80c37890-b70e-11e6-835d-0b9c24f04b2f.JPG)
![deleteaccount2](https://cloud.githubusercontent.com/assets/17282870/20771305/80bf97a2-b70e-11e6-9aa7-1e04538a26db.JPG)

Gave the success button a green color

[2016-11-30 21:06] atjonathan commented on #11382
@johnnyqbui, sorry to be picky! I think if the title, "You don't really...", and the "x" button should be on the same line. The buttons shouldn't have as much spacing vertically either. Thanks again!

[2016-11-30 21:07] johnnyqbui commented on #11382
@atjonathan ok no problem!

[2016-11-30 21:09] systimotic commented on #8973
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9861, so I am closing it as a duplicate.

If you think I'm wrong in closing this issue, please reopen it and add further clarification.
Happy coding!

[2016-11-30 21:09] #8973 closed

[2016-11-30 21:31] NBrillhart10 commented on #3013
All in the details thanks for the help

[2016-11-30 21:52] johnnyqbui commented on #11382
@atjonathan
![deleteaccount](https://cloud.githubusercontent.com/assets/17282870/20772846/d29fa2be-b714-11e6-8ca2-fd3bff908b2a.JPG)

Like this? I also increased button size a little bit for easier tap target. Let me know what you think.

[2016-11-30 22:49] atjonathan commented on #11382
@johnnyqbui, looks great! Thanks so much for taking the time to do this, feel free to open a pull request 😄

[2016-11-30 23:24] kimbah commented on #11856
Found fix/workaround for the problem - running Chrome in incognito mode fixes it. I tried starting Chrome with the switch "--allow-running-insecure-content" but this did not fix the problem so I'm thinking its maybe a Chrome extension thats causing the problem???

[2016-12-01 00:32] graalcloud opened #11880 "My code worked perfect, but the program refused to accept one of the results. I reproduced what it wanted me to make and it worked everytime, definitely a bug."
Challenge [Find the Longest Word in a String](https://www.freecodecamp.com/challenges/find-the-longest-word-in-a-string#?solution=var%20arr%20%3D%20%5B%5D%3B%0Avar%20i%20%3D%200%3B%0Avar%20lengthArray%20%3D%20%5B%5D%3B%0A%0A%0Afunction%20findLongestWord(str)%20%7B%0A%20%20arr%20%3D%20str.split(%27%20%27)%3B%0A%20%20%0A%20%20for%20(i%20%3D%200%3B%20i%20%3C%2010%3B%20i%2B%2B)%20%7B%0A%20%20%20%20if%

[2016-12-01 00:55] erictleung commented on #11880
@graalcloud thanks for the issue. This is a *feature* on how the tests work. They work by calling the function `findLongestWord()` over and over. All global variables are changed likewise. This is a duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9199. There's already been a call for adding some text about this "feature" in the curriculum somewhere https://github.com/FreeCodeCamp/

[2016-12-01 00:55] #11880 closed

[2016-12-01 01:03] erictleung commented on #9063
@raisedadead I like the idea of a progress bar, or at least showing the user if/when tests are run. Right now, it is unclear on whether the tests ran or your code is still wrong. Maybe progress bar or any other visuals on the tests working could be another issue.

@HKuz do you have any comment on where this could go? I was thinking adding some instructions before the Basic Algorithm Challenges wou

[2016-12-01 01:24] EddyInWind commented on #11880
Put the "lengthArray" definition inside the function, a global shouldn't be used, cause multiple function call may pollute this array when it's global.
For example, when it's first called...
`findLongestWord("The quick brown fox jumped over the lazy dog");
// lengthArray now is [6, 5, 5, 4, 4, 3, 3, 3, 3]`

And the second time the function is called
`findLongestWord("May the force be with you");
/

[2016-12-01 03:57] mszaf opened #11882 "Testing Objects for Properties needs clarification."
Challenge [Testing Objects for Properties](https://www.freecodecamp.com/challenges/testing-objects-for-properties) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.99 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

_edited by mod_

**Issue

[2016-12-01 04:55] TheTessaMurphy commented on #11830
@ Brian, thanks, someone else pointed that out as well. I was in a panic
and hadn't thought things through clearly, after which I felt like an
idiot. But a greatly relieved idiot.

@Marzelin, my original code most certainly did cause the freeze. I saw
right away what I'd done, but by then the page was frozen. That was not the
mystery to me. It was the thirty or so screen freezes AFTER THAT that ha

[2016-12-01 06:14] QuincyLarson commented on #9063
@erictleung I suspect an explanation will not suffice. Many campers will forget it, or skip reading it all together. Instead, we need a way to detect that tests will not run and tell them why the tests aren't running.

[2016-12-01 06:17] Bouncey commented on #9063
Currently in staging the output window cycles between `running tests` and
`tests complete` when the camper runs the tests.

Also the test suit has an initial state that is different from a failing
and passing test. The 'scroll the test suite into view when tests have run'
animation still needs to be implemented into the react version of the site

Do we really need more hints that the tests have ru

[2016-12-01 06:38] raisedadead commented on #11856
@kimbah yes, most probably. You can start by disabling them one by one to isolate the extension causing the problem. Particularly ad blockers, or theme changing extensions, and VPN extensions.

Closing as not an issue wth the code base. Happy Coding!

[2016-12-01 06:38] #11856 closed

[2016-12-01 06:43] QuincyLarson commented on #9063
@Bouncey as long as it has a message like "Your tests couldn't run. Please double check your code. " or something like that, I think this will be sufficient.

[2016-12-01 06:53] raisedadead commented on #9063
Sadly this covers a wide area of test cases, combinations, and if implemented will result in more complicated bugs.

I am open to the idea of detecting global variables so we may show a notif, but the problem here is they are `global vars` and mutate the result of the test cases following the first one.

It would be really challenging to come up with a robust way to know what went wrong.

An ideal

[2016-12-01 07:20] EfyourK commented on #10645
.silver-background {background-color: silver;}
  }

... seems like you got an extra }

[2016-12-01 07:31] raisedadead commented on #10807
Interesting. Should be nice to implement, and give access to mods only to view a report of such profiles? Doesn't relate to this specific issue, I could open a new one if we are looking forward to something like that?

[2016-12-01 08:12] raisedadead commented on #11846
[code]

Nope. **The check is required** to avoid throwing exceptions. **Never assume a param to be passed correctly.**

Ex: It's failing in the PR's case because it's undefined for some caller. Callee should validate before using any params.

Need a better workaround than this.

[2016-12-01 08:15] RobertDiebels commented on #10403
I inadvertently created the issue that recently got closed. So I decided to join the discussion on here.
I've read all the comments and some good points are made. Especially the HTML spec not requiring it (did not know that).

There are some points I do not agree with however. For example the ending of the line with a semicolon being a hard concept the grasp.
Everyone knows you end your sentences

[2016-12-01 08:31] Bouncey commented on #9063
It could be done with an iframe for each function call,  which is destroyed
immediately after the test has run. But implementation would have a certain
element of complexity and testing overhaul.

On Thursday, 1 December 2016, mrugesh <notifications@github.com> wrote:

[2016-12-01 08:36] raisedadead commented on #10403
Yes agreed. But, teaching best practices are not within the scope of the code challenges (we are limiting then to teach concepts only). This keeps things simple.

Best practices have a better impact when taught via wiki articles in our [forum](https://forum.freecodecamp.com) and even better via the video challenges and our youtube series.

Please feel free to check those.

[2016-12-01 08:40] raisedadead commented on #9063
They still have the context of their parent, and would only increase the complexity, and remember that they are going to make things slower, as well. Not a favored choice.

[2016-12-01 08:49] Bouncey commented on #9063
Agreed Mrugesh

On Thursday, 1 December 2016, Stuart Taylor <staylor1012@gmail.com> wrote:

[2016-12-01 08:56] Bouncey commented on #9063
We could wrap each function call in some closure, each with its own copy of
the campers code. So a global in the campers code becomes block scoped for
the that test.

On Thursday, 1 December 2016, Stuart Taylor <staylor1012@gmail.com> wrote:

[2016-12-01 09:31] raisedadead commented on #9063
Yup, that could be an approach. Updated the OP and the title. Tagging as help wanted.

[2016-12-01 09:37] raisedadead commented on #8745
No longer relevant. Closing.

[2016-12-01 09:37] #8745 closed

[2016-12-01 09:38] raisedadead commented on #8591
No longer relevant. Closing.

[2016-12-01 09:38] #8591 closed

[2016-12-01 09:40] raisedadead commented on #9168
No longer relevant. Closing. Please continue on [Forum](https://forum.freecodecamp.com)

[2016-12-01 09:40] #9168 closed

[2016-12-01 09:41] #8243 closed

[2016-12-01 10:24] kimbah commented on #11856
Thanks Eric appreciate the support.

Regards,
Kim

[2016-12-01 11:27] janchen85 commented on #10548
Still not working, won't pass the test

[2016-12-01 11:41] zr0n opened #11885 "I cant complete the challenge, even after pass the github and heroku urls"
Challenge [Timestamp Microservice](https://www.freecodecamp.com/challenges/timestamp-microservice) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64; rv:50.0) Gecko/20100101 Firefox/50.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[2016-12-01 13:15] marzelin commented on #11830
@TheTessaMurphy, the issue you submitted is valid and confirmed by me and other people. **Thank you** for taking the time to make FreeCodeCamp a better learning platform.

### This issue is not a bug

FreeCodeCamp testing program doesn’t protect from every possible code that can freeze the browser. In this case it does not protect from creating really big arrays and performing operations on them.

[2016-12-01 13:17] Commandojs1 opened #11886 "Doesn't change to blue"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3A%7D%20blue%3B%7D%0A%3C%2Fstyle%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%2

[2016-12-01 14:47] Croasdell commented on #5890
this worked for me ..

<script> $(document).ready(function() {
    $("button").addClass("animated");
    $(".btn").addClass("shake");
    $("#target1").addClass("btn-primary");
    $("#target1").addClass("animated shake btn-primary");
  });
</script>

[2016-12-01 14:50] texas2010 commented on #11886
@Commandojs1
Thanks for reporting this. But your code is incorrect.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-12-01 14:50] #11886 closed

[2016-12-01 15:37] systimotic commented on #11885
Hi @zr0n! Thank you for reporting this issue.

I'm sorry to hear this isn't working for you. Can you please give us more details?
If you reload the page and try again, does it work? How about a different browser?
Are you seeing any errors? Can you describe what happens after you click the submit button, or send a screencapture of what is going on?

[2016-12-01 16:01] systimotic commented on #11862
Hi @peterdeng! Thank you for reporting this issue.

I see what you mean here. "Case" means the distinction between UPPER and lower case. The word does not mean just the first letter, that's "capitalization."
Going from the tests and the note, I believe this challenge means capitalization rather than case. The description should be updated to clarify this.

While we're at it, the formatting of this

[2016-12-01 16:41] dhcodes commented on #11865
I like this idea, but recommend the following:
a) guidelines be set up to help promote good reviews (to combat @erictleung's point about quality of feedback)
b) it be optional. It could be rewarded with a brownie point(s) like some other aspects of the site.

Soon, the projects will implement testing to ensure the user stories are met. That will help to ensure functionality. I think code quality i

[2016-12-01 17:18] dcolclasure commented on #6143
I have found that chat works well for me but I guess it can depend on your time zone.  In addition I have learned that the people assisting understand the code very well but don't always understand or remember what it's like to be learning code for the first time.  I'm not trying to trash on them I just want to emphasize that solution to work around that is being persistent until you get the solut

[2016-12-01 18:40] abhisekp commented on #11846
Ugh....

[code]

:unamused:

[2016-12-01 19:12] Rashidow commented on #11701
hi, how do Uncomment this <h1>Hello World</h1> Please.

[2016-12-01 19:37] zr0n commented on #11885
I've tried in chrome and firefox. Even after logout and relogin it is not working :C
If someone of the main staff read this, my user is zr0n (as the github)

[2016-12-01 20:02] abigailbeets opened #11887 "Random Quote Generator - Scaffolding Needed"
I'm very disappointed with this project - and I'm not new to programming. In the section before, there are very few challenges dealing with APIs, and worse, they are essentially "copy and paste this code into the html" and incredibly simple. We then make a huge leap to connecting to a website and generating random quotes, with no guidance on how we should approach the problem or how we could solve

[2016-12-01 21:11] marhyorh commented on #11830
@marzelin It should still be tagged a bug because i use Chrome regularly and I've being stopped severally by JSBin's loop protect. And yeah, we'd still have a jank even if we change it to `sumFibs(4000000) === 4613732, true,`

[2016-12-01 21:23] jpdd2002 opened #11888 "Sizing images - this won't run"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2016-12-01 21:34] systimotic commented on #11887
Hi @abigailbeets! Thank you for reporting this issue.

I understand what you're saying, and I agree that this is somewhat throwing the campers into the deep end while still learning to swim.
This challenge is also being discussed here https://github.com/FreeCodeCamp/FreeCodeCamp/issues/8841, which also mentions that using an API is not a requirement. For the next project, and API is required, and

[2016-12-01 21:34] #11887 closed

[2016-12-01 21:35] Viniciogj commented on #11786
// Setup
var a;
var b = 2;

// Only change code below this line

var a = 7;
b = a;

[2016-12-01 21:35] Viniciogj commented on #11295
// Setup
var a;
var b = 2;

// Only change code below this line

var a = 7;
b = a;

[2016-12-01 21:38] #11271 closed

[2016-12-01 21:39] systimotic commented on #11888
Hi @jpdd2002! Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/fr

[2016-12-01 21:39] #11888 closed

[2016-12-01 21:39] #8137 closed

[2016-12-01 21:44] #9673 closed

[2016-12-01 21:46] Viniciogj opened #11889 "Correct solution"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-12-01 21:48] #11889 closed

[2016-12-01 21:50] shanemmay opened #11890 "Says theres spaces where there are no spaces. Am I missing something."
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%20%3D%20%22FirstLine%5Cr%5C%5CSecondLine%5C%5C%5CnThirdLine%22%3B%20%2F%2F%20Change%20this%20line%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_1) AppleWebKit/602.2.14 (KHTML, like Gecko) Version/10.0.1 Safari/602.2.14</cod

[2016-12-01 21:55] marzelin commented on #11830
@marhyorh
JSbin's loop protect is set to stop loop execution that takes longer than 100ms, while FCC's is set to 1s. So yes, JSbin has better loop protect ;)

If you have an idea for code that would prevent browser freezes caused by operations on large arrays, by all means go for it. :+1:

[2016-12-01 23:31] erictleung commented on #11890
@shanemmay Thank you for reporting this issue. Your code is incorrect and is preventing you from passing the challenge. It is more about the special characters than the spacing that is preventing you from passing.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Ca

[2016-12-01 23:31] #11890 closed

[2016-12-01 23:31] raisedadead commented on #11786
@Viniciogj please provide assistance on help chat instead, GitHub issues are for reporting bugs with code base only.

[2016-12-01 23:37] QuincyLarson commented on #10807
@raisedadead yes - this is the simplest user experience. It should only show up if the camper is logged in, and we should have a record of who reported it, in case we get people "crying wolf."

The best way would be to send an email to team@freecodecamp.com so I can take a look at it myself. If these start piling up, we can design a system through which they're reviewed by someone else.

For now t

[2016-12-02 00:11] MixRadu commented on #1646
Why we use .target ? Why i can't use
`   $('.well:nth-child(2)').addClass('animated bounce');`

[2016-12-02 00:42] zhanghao0371 commented on #10215
It maybe a bug. I have the same question. Otherwise the FCC.cn doesn't have this question

[2016-12-02 02:18] QuincyLarson commented on #10869
@raisedadead OK - here's @kemitchell recommended we do:
-  Move curriculum license to a separate file if you like.
-  Mention both sets of terms (and corresponding files) in README.

@mgattozzi or @raisedadead would you be interested in doing the honors?

[2016-12-02 03:52] raisedadead commented on #10869
@mgattozzi since you already have had made a PR, I feel you should take the credit for this contribution ... 😃 !

- Create a LICENCE or LICENCE.md file with BSD for the code base.
- Create a LICENCE-Free-Code-Camp-Curriculum.md file for the curriculum with text from the existing CC-BY-4.0 type text.
- Update the readme to reflect links to both.

In case you are not available, I will be glad to tak

[2016-12-02 03:54] raisedadead opened #11891 "Reporting Profiles."
Refers a simple email based reporting. https://github.com/FreeCodeCamp/FreeCodeCamp/issues/10807#issuecomment-264329567

[2016-12-02 04:02] babattles commented on #11846
I'll make the PR with @abhisekp fix.

[2016-12-02 04:20] graysonmillar commented on #7697
Yeah, I'll fourth, or fifth on this issue. I'm here to get certifications and learn more, but I've been modifying javascript and other programming languages such as PHP for probably as long as it's been around, and yet this was not clear to me how to solve it until I got to this github thread. Mind you, I'm not very 'instinctual' with math, but I do see how this works now, however I wouldn't have

[2016-12-02 05:11] scottcoeditor opened #11893 "Hello, there seems to be a bug here"
I've entered the HTML code as shown, but it won't take me to the next challenge.

Challenge [Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%20style%3D%22color%3A%20blue%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20th

[2016-12-02 05:24] raisedadead commented on #11893
@scottcoeditor

Thanks for reporting, but your code is not correct.

The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-12-02 05:24] #11893 closed

[2016-12-02 05:37] Sydney-Whippet commented on #7697
Yep...This challenge totally had me confused.

@jacob-on-github I liked that I saw the other stuff as you mentioned.

However the use of the  var fahrenheit; declaration fooled me a bit. Also the wording "You are given a variable celsius representing a temperature in Celsius. " confused me a bit. I might have solved this without that bit of information.

Regardless - I finally solved it using sear

[2016-12-02 05:43] scottcoeditor commented on #11893
Thank you, I figured out the issue.

On Thu, Dec 1, 2016 at 9:26 PM, mrugesh <notifications@github.com> wrote:

[2016-12-02 07:35] kareltjen opened #11894 "jou tube om in te loggen kan niet krijg mijn code niet van google telefoon code,s gr karel"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-12-02 09:02] duodushu commented on #5828
151Escape Sequences in Strings？it's not working?
var myStr="\\ \t \t \r \n";
what's wrong?

[2016-12-02 09:43] ladybugtju commented on #8418
Hi @abhisekp : Sorry for the snail reply, busy days. I ll look at all this again after the 14th but I think I actually already downloaded 10 rooms or so and made a short list. We could close several rooms that are not useful and finish downloading several other small ones for now. Let s split the work? We could tackle other issues later. How many rooms did you download and what would be your prefe

[2016-12-02 11:04] pezz80 commented on #6657
Why is this not corrected. I almost start to cry trying to follow the  instructions in code

  // Only change code below this line

  // Only change code above this line

:D

please help us learn

[2016-12-02 12:33] lawfets commented on #8805
I don't know if I can put this here but if you make a mistake in the html code that can be copy-pasted into the right position, it still validates the test, although there's a major mistake in the coding and if you press the button nothing happens.
for instance : if you remove  html += "<div class = 'cat'>"; the test passes but there's no output due to the problems created in the html code that is

[2016-12-02 12:57] abhisekp commented on #8418
@ladybugtju Thanks for the update. And thanks for doing this.
Could you please share the list of rooms you've already downloaded?

I was unable to continue due to technical issues with my PC and unstable connectivity.

[2016-12-02 14:49] dhcodes commented on #11894
@kareltjen could you go into more detail about what you're experiencing. Logging into Youtube?

[2016-12-02 14:49] dhcodes commented on #11885
@zr0n can you paste your urls here?

[2016-12-02 15:32] MelissaLynneD81 opened #11895 "Cursor won't go where I need it to"
I'm having trouble getting the cursor to go where I need it to. I click the spot and it doesn't go there.

I'm using MacOS Sierra 10.12.1 on a laptop.

Challenge link:
https://www.freecodecamp.com/challenges/style-text-inputs-as-form-controls

That's all I know. The problem didn't happen previous to this lesson.

Thanks.

[2016-12-02 15:53] MelissaLynneD81 commented on #11895
of course after I post this....it goes back to normal. Not sure what it was but it isn't doing it anymore.

[2016-12-02 16:46] erictleung commented on #11895
@MelissaLynneD81 it is probably this issue https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7847. If it is, please close this issue and read some suggestions on how to get around this issue over there. This is unfortunately a known issue.

[2016-12-02 17:00] Codewarr18 commented on #11886
it's not blue

[2016-12-02 18:10] #11895 closed

[2016-12-02 21:07] rzounlom commented on #11818
I am having the same issue detailed above; my code is not transfering to the image below on my phone app

[2016-12-02 21:12] systimotic commented on #11846
What's interesting to me is that most of the following challenges ([global scope challenge](https://github.com/FreeCodeCamp/FreeCodeCamp/pull/11867) and the local scope challenge) don't verify the message at all, nor stringify it.
The message "console.log was never called" is never shown because of the seed, so it's a bit weird that it even exists.
I think it would be a good idea to make sure it's

[2016-12-02 21:35] systimotic commented on #11894
The title of this issue seems like it is written in Dutch, which happens to be my native language.
Here's my attempt at translating the title: "I can't use YouTube to log in because I'm not getting my code" (I'm guessing this is a two factor authentication code).
Free Code Camp does not have an option to log in with a YouTube account. Perhaps we're talking about a Google account here?

@kareltjen

[2016-12-02 22:18] systimotic commented on #11882
Hi @mszaf! Thank you for reporting this issue.

It took me a bit to understand what you were saying, so to save others the same struggle, here's what I believe this is about. This challenge does not mention how to return the value when it is present. Campers could try to return the value as `return myObj.checkProp` rather than `return myObj[checkProp]`
The previous challenge talks about the correc

[2016-12-02 22:49] mszaf commented on #11882
@systimotic
Thanks for looking into this.

My issue was a matter of the purpose of the test being to check for understanding in regards to the .hasOwnProperty method versus the small difference in dot accessing and bracket accessing an object.

Secondly, how the test is written - only parameters surrounded in quotes are passed to the user's method.

Therefore using any sort of dot access isn't pos

[2016-12-02 22:52] Akshay4561 opened #11897 "Unable to pass "Size your Images" challenge"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2016-12-02 23:47] atjonathan commented on #11894
@kareltjen, this issue is not related to FreeCodeCamp. This repository's issues are for bugs and feature requests only.

[2016-12-02 23:47] #11894 closed

[2016-12-02 23:48] Dave1089 commented on #11897
Please do not open Github issues when you need help. It is only for bugs with the website. Use [Help Chatroom](https://gitter.im/FreeCodeCamp/Help) instead.

I would suggest you close the issue and ask your challenge related questions there.

[2016-12-02 23:55] atjonathan commented on #11897
@Dave1089 is correct, (thanks @Dave1089 😃). @Akshay4561,
please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-12-02 23:55] #11897 closed

[2016-12-03 00:18] KirillY commented on #11617
I hit Map link above, switched to the previous lesson, then Ctrl+Enter, then it allowed me to pass the test.

[2016-12-03 01:21] Robson3991 opened #11898 "a good result, but does not approve of tasks"
Challenge [Where do I belong](https://www.freecodecamp.com/challenges/where-do-i-belong#?solution=%0Afunction%20getIndexToIns(arr%2C%20num)%20%7B%0A%20%20%2F%2F%20Find%20my%20place%20in%20this%20sorted%20array.%0A%20%20var%20index%3B%0A%20%20function%20compare(a%2C%20b)%7B%0A%20%20%20%20return%20a%20-%20b%3B%0A%20%20%7D%0A%20%20var%20sort%20%3D%20arr.sort(compare)%3B%0A%20%20for%20(var%20i%20in%20

[2016-12-03 02:01] duodushu commented on #6294
function myTest(val) {
  var answer = "";
  // Only change code below this line
  switch(val){
    case "a":
      answer="apple";
      break;
    case b:
      answer="bird";
      break;
    case c:
      answer="cat";
      break;
    default:
      answer="stuff";
  }

  // Only change code above this line
  return answer;
}

// Change this value to test
myTest(1);

[2016-12-03 02:36] QuincyLarson commented on #8418
@ladybugtju I recommend we close all the rooms at once, once you've downloaded all of their data and we've backed them up.

The simplest way to do this is to create individual files for each room and push them to this repo that I've created: https://github.com/FreeCodeCamp/gitter-history

I've granted both you and the entire moderation team (which includes @abhisekp) as members.

What format would

[2016-12-03 03:48] spectro132 opened #11899 "change the color of text"
Challenge [Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%20style%3D%22color%3A%20blue%22%3ECatPhotoApp%3C%2Fh2%3E%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp%3E) ha

[2016-12-03 06:27] Takashihakase opened #11900 "Cursor fails to align at the beginning of challenge"
This is a recurring issue in every challenge. At the beginning of a challenge, I would click on an area on the code. The flashing cursor is usually a row or two above or below the actual location. I always had to type something/enter to find out the actual location of the cursor. From then on, I can click anywhere on the code, and it would be the exact location where it's supposed to be. This does

[2016-12-03 06:34] spectro132 opened #11901 "THE H2 ELEMENT IS RED!!!!!!!!!!!!!!!"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20h2%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%2

[2016-12-03 07:48] #11901 closed

[2016-12-03 07:48] atjonathan commented on #11900
@Takashihakase, this is a known issue (https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7847). Thank you for reporting!

[2016-12-03 07:48] #11900 closed

[2016-12-03 07:49] atjonathan commented on #11899
@spectro132, the challenge says: `Your h2 element should be red.` and not blue.
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-12-03 07:49] #11899 closed

[2016-12-03 08:22] warriorofhell opened #11902 "Download/Print Solutions from the User Profile."
Challenge [Add Font Awesome Icons to all of our Buttons](https://www.freecodecamp.com/challenges/add-font-awesome-icons-to-all-of-our-buttons) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.99 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

**If we could

[2016-12-03 09:31] Jeetg57 commented on #5828
Correct Answer is:
var myStr = "FirstLine\n\\SecondLine\\\rThirdLine";
Hope this helps...

[2016-12-03 09:38] Bouncey commented on #11902
@warriorofhell thank you for your request. If this is just for your own reference, your solutions are saved in our database and can be accessed from your profile [here](https://www.freecodecamp.com/warriorofhell)

[2016-12-03 09:42] theWhiteFox commented on #6294
There is no need to make so many changes to the code.
*Hint* what is the `(val)` you are trying to match.
`// Change this value to test
switchOfStuff("a");`

[2016-12-03 09:42] Bouncey commented on #11261
@BerkeleyTrue do we want to extract the code from the URI and pass it to the editor or just remove it completely and present the challenge as it is in the `seed`?

[2016-12-03 12:09] Kluki11 opened #11903 "I've done everything correctly but for some strange reason I can't submit and go on (it's loading and loading and loading)."
Challenge [Shopping List](https://www.freecodecamp.com/challenges/shopping-list#?solution=%0Avar%20myList%20%3D%20%5B%5B%22Chocolate%20Bar%22%2C%2015%5D%2C%20%5B%22Chip%22%2C%202%5D%2C%20%5B%22Book%22%2C%2010%5D%2C%20%5B%22Suit%22%2C%202%5D%2C%20%5B%22Waterbottle%22%2C%2020%5D%5D%3B%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/601.7.7 (KH

[2016-12-03 12:39] peterdeng commented on #11862
Hi @systimotic , Thank you for you reply.

me too. OK for me, please close this issue after the modification. or if I need to close this issue by myself, please contact with me.

[2016-12-03 12:51] ronalto7777 commented on #6249
This is my code:

`// Setup
var myObj = {
  gift: "pony",
  pet: "kitten",
  bed: "sleigh"
};

function checkObj(checkProp) {
  var objPro = myObj[checkProp];

if(myObj.hasOwnProperty(checkProp)){
   return objPro;
  }
  else
return "Not Found";
}
// Test your code by modifying these values
checkObj("house");
`

it is error because there is wrong semicolon placing (; in) your if (condition);{}

[2016-12-03 14:28] dhcodes commented on #11898
@Robson3991 I believe the last test is not being met as nothing is returned. As for the other tests, the issue has to do with your return being a string and not a number. Please consider asking for help in the chat room by clicking the Help button on the challenge.

[2016-12-03 14:28] #11898 closed

[2016-12-03 14:32] dhcodes commented on #11903
@Kluki11 your code worked for me in both Safari and Chrome. Maybe try copying your code and then reloading your browser or resetting the code area and then paste your code back in.

[2016-12-03 14:35] Kluki11 commented on #11903
Ok thanks. will try it in the evening. (y)

Gesendet mit meinem iPhone

Am 03.12.16 um 15:33 schrieb Dylan

[2016-12-03 14:46] texas2010 commented on #5828
@Jeetg57
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-12-03 16:03] Clipso opened #11906 "i found a bug here and i need help as i cannot submit the challenge!!"
Challenge [Split your Bootstrap Row](https://www.freecodecamp.com/challenges/split-your-bootstrap-row#?solution=%0A%3Cdiv%20class%3D%22container-fluid%22%3E%0A%20%20%3Ch3%20class%3D%22text-primary%20text-center%22%3EjQuery%20Playground%3C%2Fh3%3E%0A%20%20%3Cdiv%20class%3D%22row%22%3E%0A%20%20%20%0A%20%20%20%20%20%3Cdiv%20col-xs-6%3E%20%3C%2Fdiv%3E%0A%20%20%20%20%3Cdiv%20col-xs-6%3E%20%3C%2Fdiv%3E%

[2016-12-03 16:04] kkufieta opened #11907 "Feature: test skills to skip a few levels"
# Feature: test skills to skip a few levels
## The problem
Intermediate programmers who start freeCodeCamp are faced with some or a lot of material that they already know. They can skip levels manually by skimming over the titles of the challenges. That could mean that they are skipping over content which they should have repeated instead, as a refresher.

## Proposed solution: Test intermediate p

[2016-12-03 16:04] Clipso commented on #11906
this is a a bug issue.

[2016-12-03 16:16] dhcodes commented on #11906
@clipso You have an error in your code. Please consider asking for help in the chat room by clicking the Help button on the challenge page.

[2016-12-03 16:16] #11906 closed

[2016-12-03 16:21] dhcodes commented on #11907
@kkufieta Thanks for the issue. I think freeCodeCamp's approach is to allow campers to self-select their skill. It's difficult to write a quiz/exam that does skill placement appropriately 100% of the time and therefore, the easier approach may be to leave the path as it is. I'll tag this as discussing, and let others chime in.

[2016-12-03 16:25] slawr1805 opened #11908 "Setup Line is missing a line"
Challenge [Iterate Through an Array with a For Loop](https://www.freecodecamp.com/challenges/iterate-through-an-array-with-a-for-loop#?solution=%0A%2F%2F%20Example%0Avar%20ourArr%20%3D%20%5B%209%2C%2010%2C%2011%2C%2012%5D%3B%0Avar%20ourTotal%20%3D%200%3B%0A%0Afor%20(var%20i%20%3D%200%3B%20i%20%3C%20ourArr.length%3B%20i%2B%2B)%20%7B%0A%20%20ourTotal%20%2B%3D%20ourArr%5Bi%5D%3B%0A%7D%0A%0A%2F%2F%20S

[2016-12-03 16:26] priyasharmab commented on #11521
I'm having the same issue. It's saying the myStr value is incorrect and not letting us pass the challenge.
error "myStr should have a value of This is the first sentence. This is the second sentence."

my code:
// Example
var ourStr = "I come first. ";
ourStr += "I come second.";

// Only change code below this line

var myStr= "This is the first sentence.";
myStr+="This is the second sentence.";

[2016-12-03 16:48] Naudeep commented on #11521
I don't know exactly but once try myStr and + with a space

On Dec 3, 2016 21:57, "priyasharmab" <notifications@github.com> wrote:

[2016-12-03 17:51] priyasharmab commented on #11521
I tried doing it still is not working.
My Code:
// Example
var ourStr = "I come first. ";
ourStr += "I come second.";

// Only change code below this line

var myStr = "This is the first sentence.";
myStr += "This is the second sentence.";

[2016-12-03 18:07] ikeuzo57 commented on #11521
var myStr = "This is the first sentence. ";
notice the space between the full stop and semi-colon on both lines. Create a space it will work fine

[2016-12-03 18:09] UsedBlank opened #11909 "It aint working"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20%0A%20%20.smaller-image%20%7B%0A%20%20%20%20width%3A%20100px%3B%0A%20%20%7

[2016-12-03 18:15] #11909 closed

[2016-12-03 18:19] kquayvo21 opened #11910 "issue with size image challenge"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2016-12-03 19:24] qq7 commented on #11910
It's completely alright. You've simply forgot to add a "smaller-image" class to you <img> tag.

[2016-12-03 20:33] johnnyqbui commented on #11908
@slawr1805 The instructions states to declare `total` and initialize it to 0. You can declare it below the "Only change the code below this line" to make it work as well.

[2016-12-03 21:12] texas2010 commented on #11889
@Viniciogj
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-12-03 21:13] texas2010 commented on #11701
@Rashidow
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-12-03 21:19] dhcodes commented on #11908
Yeah, it works in both places and the instructions say to declare it so I'm not sure this is a problem per se.

[2016-12-03 21:20] dhcodes commented on #11910
@kquayvo21 you have an error in your code. Please consider asking for help in the chat room by clicking the Help button on the challenge.

[2016-12-03 21:20] #11910 closed

[2016-12-03 23:13] maher17 commented on #11812
i have the same issue i have completed nearly 185 tasks last summer.

[2016-12-04 04:48] alensh12 commented on #11910
you  forgot .smaller-image{........}
<img class="smaller-image">

[2016-12-04 07:27] slawr1805 commented on #11908
Thank you both for clarifying that! Is there a way to delete this post then?

[2016-12-04 07:36] sassanuv opened #11913 "Return Early Pattern for Functions"
Challenge [Return Early Pattern for Functions](https://www.freecodecamp.com/challenges/return-early-pattern-for-functions#?solution=a%3D0%3B%0Ab%3D0%3B%0A%2F%2F%20Setup%0Afunction%20abTest(a%2C%20b)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%20%20if%20(a%3C0%20%7C%7C%20b%3C0)%7B%0A%20%20%20%20return%20%22undefined%22%3B%0A%20%20%7D%0A%20%20%20%20%0A%20%20%0A%20%20%0

[2016-12-04 07:37] #11913 closed

[2016-12-04 07:37] Manish-Giri commented on #11913
@sassanuv Please read the instructions carefully, and look at this line

Remember that undefined is a keyword, not a string.

[2016-12-04 08:21] wjhurley commented on #11704
I would like to work on this. Do we know which challenges need to be updated?

[2016-12-04 12:08] cuteman100 opened #11915 "small syntax error"
Challenge [Use Hex Code for Specific Colors](https://www.freecodecamp.com/challenges/use-hex-code-for-specific-colors) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.99 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Thre is a small syntax error in a sentence:

[2016-12-04 12:51] meekdoyx commented on #3583
@ltegman Thanks Sir!

[2016-12-04 13:06] #11704 closed

[2016-12-04 13:10] Bouncey commented on #10335
\cc @FreeCodeCamp/moderators Is this a change we wan to make?

[2016-12-04 13:24] Bouncey commented on #11915
@cuteman100 Thanks for the issue. I would welcome a PR for this :+1:

[2016-12-04 13:25] Bouncey commented on #11908
We could adjust the seed to remove white space between `myArr` and the comment `Only change the code below this line`

[2016-12-04 13:40] Jatasya11 commented on #11364
<style>
  .red-text {
    color: red;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>
<style>
  .p {
    font-size: 16px;
  }
</style>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

<p>Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip the

[2016-12-04 13:41] bishals opened #11916 "Nest an Anchor Element within a Paragraph"
**Challenge [Nest an Anchor Element within a Paragraph]
Now nest your existing a element within a new p element (just after the existing h2 element) so that the surrounding paragraph says "View more cat photos", but where only "cat photos" is a link, and the rest of the text is plain text.**
[code]
I didn't find any error in this code but still it shows some error..
*Create a new p element around

[2016-12-04 13:41] hrithick commented on #3943
function randomFraction() {

  // Only change code below this line.
value=Math.random();
  return value;

  // Only change code above this line.
}

[2016-12-04 14:10] srivasthavapippari commented on #11916
i too didn't get it

[2016-12-04 15:08] Tech11 opened #11917 "Unsupported on Mac Google chrome using bootstrap:"
Challenge [Add Font Awesome Icons to our Buttons](https://www.freecodecamp.com/challenges/add-font-awesome-icons-to-our-buttons) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code

[2016-12-04 16:12] VENKATASASANK opened #11918 "bootstrap grid to put elements side by side"
Challenge [Use the Bootstrap Grid to Put Elements Side By Side](https://www.freecodecamp.com/challenges/use-the-bootstrap-grid-to-put-elements-side-by-side#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h

[2016-12-04 16:16] Bouncey commented on #11917
@Tech11 thanks for the issue.

That is strange considering it looks like bootstrap is working everywhere else for you. Can you visit the challenge again, when the issue presents itself again press `F12` make a note of anything in the `console` and post it here please.

[2016-12-04 16:18] Bouncey commented on #11918
@VENKATASASANK Thanks for taking the time to report this issue, however, we need more information to help you.
We need to know what the issue is. :+1:

[2016-12-04 16:22] Bouncey commented on #11916
@bishals I cannot reproduce your issue

Can you press the reset button and try again?

Happy Coding! :+1:

[2016-12-04 16:23] Bouncey commented on #11885
@zr0n Are you still having issues submitting this challenge?

[2016-12-04 16:23] texas2010 commented on #11364
@Jatasya11
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-12-04 16:24] Bouncey commented on #11902
@warriorofhell does using the links in your profile give you the functionality you need?

[2016-12-04 19:59] Bouncey opened #11919 "Refactor required for update of redux-form"
`redux-form v6.2.1` promises performance boost's amongst other things.

See #11876 for details

We need to refactor every instance of `redux-form` in our app. Handily, there is a [migration guide](http://redux-form.com/6.0.1/docs/MigrationGuide.md) here.

Many thanks and Happy Coding!

[2016-12-04 20:18] BerkeleyTrue commented on #11919
We will be moving away from redux-form in the future as the current version breaks with hot reloader.

[2016-12-04 21:15] glynnw commented on #11915
I'd like to do it if @cuteman100 isn't going to.

[2016-12-04 21:18] Bouncey commented on #11919
There is a note on the redux-form site about hot reload, they have an issue
with v1.x but it is resolved with hot loader v3, we would need to wait for
v3 to come out of beta though.

On Sunday, December 4, 2016, Berkeley Martinez <notifications@github.com>
wrote:

[2016-12-04 21:51] nassiryoussouf opened #11920 "it tells me the h2 element must be red while it is already"
Challenge [Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%22style%20%3D%20color%3Ablue%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp%3E%

[2016-12-04 21:56] dhcodes commented on #10335
I'm onboard. Might want to run it by Quincy though.

[2016-12-04 22:27] BerkeleyTrue commented on #11919
Yes, that is what I remember as well. For now redux-form gets the job done in its current state. It's upsetting that they haven't fixed the issue with hot-reload v1 since this is the version that is still widely used. I'm not happy about that or the api of the new version so we will peg it on v5 for now.

[2016-12-04 22:27] #11919 closed

[2016-12-04 23:24] atjonathan commented on #11920
@nassiryoussouf, your code is incorrect. Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-12-04 23:24] #11920 closed

[2016-12-04 23:25] atjonathan commented on #10335
@QuincyLarson, tagging for approval.

[2016-12-04 23:54] atjonathan opened #11922 "Update Redirect when cancelling to remove account"
Currently when clicking cancel on the remove account modal, user is redirected to `/about`. This should be updated to redirect to `/settings`.

[2016-12-04 23:54] #11382 closed

[2016-12-04 23:55] #11918 closed

[2016-12-04 23:55] #11854 closed

[2016-12-04 23:55] #11833 closed

[2016-12-05 00:10] ajain17 commented on #11922
I will take a look at it.

[2016-12-05 00:12] atjonathan commented on #11922
@ajain17, thanks! Please, check our [**Guidelines for Contributing**](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) and if you need any assistance reach out to the [Contributors Chat room](https://gitter.im/FreeCodeCamp/HelpContributors).

[2016-12-05 00:50] nando0204 commented on #6249
I wouldn't create a new var like ronalto7777 did, "var objPro = myObj[checkProp];"

// Setup
var myObj = {
  gift: "pony",
  pet: "kitten",
  bed: "sleigh"
};

function checkObj(checkProp) {
  // Your Code Here

  if(myObj.hasOwnProperty(checkProp)){
return myObj[checkProp];
}
else
return "Not Found";
}

// Test your code b modifying these values
checkObj("gift");

[2016-12-05 00:54] ajain17 commented on #11922
@atjonathan Just to be sure, you mean when we currently click on the cross button, it takes us to the about page where as it should remain on settings page. Is that right?

[2016-12-05 01:29] Tech11 commented on #11917
@Bouncey Thank you for getting back.

Here's the sc of the console, I hope got the right thing you asked for.

![screen shot 2016-12-05 at 6 58 39 am](https://cloud.githubusercontent.com/assets/16895842/20871125/f5ac6728-bab7-11e6-90a1-875d55964584.png)

I see a few errors which the script is making to run on my Chrome, however, as mentioned earlier it works perfectly on the Safari page.

Let me k

[2016-12-05 03:30] ajain17 commented on #11916
I can't reproduce it either. Are you clicking on "Run tests" after making your changes?

[2016-12-05 04:25] wjhurley commented on #11798
I believe where PetrusStarken is getting the array with nulls is from doing a console.log in the middle of the filter function:

`function diffArray(arr1, arr2) {
  var newArr = arr1.concat(arr2).sort();

  // Same, same; but different.
  newArr.filter(function(value, index, arr) {
    if (value === arr[index + 1]) {
      delete arr[index];
      delete arr[index + 1];
      console.log(newArr);

[2016-12-05 04:37] QuincyLarson commented on #10335
@valmassoi yes - I agree with your reasoning this would be good, as @dhcodes and @marhyorh have. We plan to ship staging as soon as @BerkeleyTrue resolves a few key issues. So please make this change off of the staging branch.

Thanks again for pointing out that this is indeed a more logical way to present these data.

[2016-12-05 04:47] wmcooper2 commented on #11916
Doing a "hard refresh" on the page, then trying the challenge solved my problem.

[2016-12-05 06:22] wrannikko opened #11926 "Practically copied what it says. Still no advance"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20Color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20

[2016-12-05 07:06] jihdeh commented on #11926
@wrannikko that's not a bug, you have to add the class name to the `h2` element. Check the instructions correctly.

[2016-12-05 07:08] wrannikko commented on #11926
Thanks but I already solved it
On Dec 5, 2016 2:07 AM, "Babajide Fowotade" <notifications@github.com>
wrote:

[2016-12-05 07:54] erictleung commented on #11926
Closing as resolved. Happy coding!

[2016-12-05 07:54] #11926 closed

[2016-12-05 10:04] Clipso commented on #11906
Hi Dylan,

Thank you for the prompt response. Yes, you are right. I found the error
and I have rectified it. already :)

Reagrds,

On Sun, Dec 4, 2016 at 12:18 AM, Dylan <notifications@github.com> wrote:

[2016-12-05 10:53] PreritM opened #11928 "Can't proceed to next challenge"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2016-12-05 11:22] manunited4 commented on #11886
This is my code
<style>
 h1 {color:blue;}
</style>
However its not blue

[2016-12-05 11:52] tadeur opened #11929 "Cant move forward on this challenge"
Challenge [Give a Background Color to a Div Element](https://www.freecodecamp.com/challenges/give-a-background-color-to-a-div-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20

[2016-12-05 11:54] tadeur commented on #11929
Im pretty sure I did this right but for some reason Google Chrome is not recognising my command :/
I was doing so well! Dont want to stop! Help please!

[2016-12-05 11:59] cgraveline commented on #11929
I don't see the class .silver-div added to the div.

[2016-12-05 12:00] PetrusStarken commented on #11798
@wjhurley, the result I've posted here I copied from problem output, not from browser console. About the delete inside a filter, I was just testing, how I said, it isn't my final solution for this problem.

If you execute this code at FreeCodeCamp, you'll see the result with null values, see:

![image](https://cloud.githubusercontent.com/assets/11821650/20884199/fb2a01a6-bad0-11e6-93a8-6f5b8789c65

[2016-12-05 12:02] cgraveline commented on #11929
css...
div.silver-div {}

html...
<div class="silver-div"></div>

[2016-12-05 12:03] cgraveline commented on #11929
*background not div sorry

[2016-12-05 12:06] tadeur commented on #11929
Hey @cgraveline  thank you for answering.

I changed for the following:

<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    width: 100px;
  }

  .sil

[2016-12-05 12:07] tadeur commented on #11929
Im using .silver-background { background-color: silver; but it still not working

[2016-12-05 12:10] GabeLep commented on #11929
@tadeur Have a look at your <div> element carefully and where the class should go. You're almost there

[2016-12-05 12:10] GabeLep commented on #11929
*div

[2016-12-05 12:11] andymaheshw commented on #3264
Example that could help...not exact url, but pretty close: ```$.ajax({
    url: "https://en.wikipedia.org/w/api.php?action=opensearch&search=random&rnlimit=5&format=json",
    dataType: "jsonp",

    success: function( data ) {
        console.log( data );
    }```

[2016-12-05 12:11] raisedadead commented on #11928
The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-12-05 12:11] #11928 closed

[2016-12-05 12:12] raisedadead commented on #11929
The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-12-05 12:12] #11929 closed

[2016-12-05 12:16] raisedadead commented on #11908
It's stated to declare the necessary additional variable/s. Removing the white space doesn't have any significant effect unless the campers follow the instruction. IMHO this is a bikeshedding issue and may be closed.

[2016-12-05 12:22] raisedadead commented on #11902
Letting user's download a copy of their own data is an interesting idea. This is some of the top websites allow and do as part of their policy including Google, Twitter, etc. But should be strongly debated before pursuing.

[2016-12-05 12:40] montanonic opened #11930 "Wouldn't submit unless I added "btn btn-class" to the second button."
Challenge [Taste the Bootstrap Button Color Rainbow](https://www.freecodecamp.com/challenges/taste-the-bootstrap-button-color-rainbow#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20

[2016-12-05 12:42] #11930 closed

[2016-12-05 15:00] axel8591 commented on #4956
You simple need to add your comment tag just below the script tag.

[2016-12-05 15:43] fuzzytern commented on #9583
This seems still broken. Demo in images:

![](http://i.imgur.com/GV8egsT.png)

With the following code:

![](http://i.imgur.com/HZ1BXiN.png)

[2016-12-05 16:20] scottpepperman opened #11931 "change color style"
Here's how you would set your h2 element's text color to blue:

[code]

Change your h2 element's style so that its text color is red.Challenge

my answer

[code]

so whats wrong?

[Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%3E%22color%3A%20red%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20ev

[2016-12-05 16:55] Bouncey commented on #11917
@BerkeleyTrue would merging #11371 into production help this?

On Monday, 5 December 2016, Tech11 <notifications@github.com> wrote:

[2016-12-05 16:57] audreyperrin opened #11932 "Issues with "Use the Bootstrap Grid to Put Elements Side By Side" Section"
#### Challenge Name

Use the Bootstrap Grid to Put Elements Side By Side
https://www.freecodecamp.com/challenges/use-the-bootstrap-grid-to-put-elements-side-by-side#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%

[2016-12-05 17:23] voronovmax commented on #11931
Hi,

The code for h2 tag should be:
<h2 style="color: red">CatPhotoApp</h2>

[2016-12-05 17:24] erictleung commented on #11931
@scottpepperman Thank you for reporting this issue. Your code is incorrect. Please take a look at the two pieces of code you've written and compare the two. There is a difference that makes one correct and the other one not.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on F

[2016-12-05 17:24] #11931 closed

[2016-12-05 17:26] erictleung commented on #11932
@audreyperrin Thank you for reporting this issue. You'll almost there. You're missing one character. Make sure your tags, brackets, quotes, etc are all balanced.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for tha

[2016-12-05 17:26] #11932 closed

[2016-12-05 17:41] audreyperrin commented on #11932
Thank you @erictleung  Silly me! :)

[2016-12-05 19:16] amin8666 commented on #7713
<script>
  $(document).ready(function() {
    $("#target1").css("color", "red");
    $("#target4").html("<em>#target4</em>");
     $("#targt4").text("#target4");
  });
</script>

[2016-12-05 20:43] jpdd2002 commented on #11888
So I've tried asking for help and everyone has suggested as above but it just won't run, what now ?? thanks

[2016-12-05 21:31] LoveRoseGoddess commented on #11735
My issue with this problem is that it won't let me submit my answer and the to-do list isn't showing up. Is this a bug?

[2016-12-05 21:56] queenly111 commented on #11684
Helloworld

[2016-12-05 22:24] #11915 closed

[2016-12-05 22:30] AmonRA40 commented on #11684
You should just add World, after Hello.

[2016-12-05 22:35] ampersamd opened #11934 "FCC Twitch API Pass-through not returning JSON"
#### Challenge Name

[Twitch JSON API Challenge](https://www.freecodecamp.com/challenges/use-the-twitchtv-json-api)

#### Issue Description

The link for the FCC Twitch Pass Through API no longer returns valid JSON (regardless if callback request is passed). Returns a web page containing a note about the usage (screenshot below). Multiple users have reported similar issue.

https://wind-bow.hyperd

[2016-12-05 22:54] ampersamd commented on #11934
Got it working. Looks like the URL was changed to "https://wind-bow.gomix.me" and the documentation just needs to be updated. Happy coding!

[2016-12-05 23:09] macloo opened #11935 "Seek and Destroy code solution overly difficult?"
This was the first time I looked something up in the FCC wiki. I was happy to find the hints. I had not thought to use `indexOf()`, and that enabled me to solve the problem. **However,** when I went back to the wiki and looked at the "Basic Code Solution," I thought it was too complex to be called "basic."

#### Seek and Destroy
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Algorithm-Seek-And-

[2016-12-05 23:13] dhcodes commented on #11934
Tagging @Em-Ant. Looks like hyperdev changed its domain.

[2016-12-05 23:41] #9850 closed

[2016-12-05 23:41] #10628 closed

[2016-12-05 23:42] JP999 opened #11936 "Can't move ahead no matter what the combinations"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20h2%20%7B%0A%20%20%20%20color%3A%20blue%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%

[2016-12-05 23:47] Em-Ant commented on #11934
@QuincyLarson should I submit a PR targeting `backup/master` too ?

[2016-12-06 00:13] atjonathan commented on #11922
@ajain17, checkout @dhcodes's comment on the PR 😄

[2016-12-06 00:14] TrishanaCann opened #11938 "What is going on here please?"
Challenge [Add Borders Around your Elements](https://www.freecodecamp.com/challenges/add-borders-around-your-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%2

[2016-12-06 00:16] #11938 closed

[2016-12-06 00:27] erictleung commented on #11936
@JP999 Thank you for reporting this issue. Please read the instructions carefully for help on how to finish the challenge.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view

[2016-12-06 00:27] #11936 closed

[2016-12-06 01:51] #11934 closed

[2016-12-06 05:11] BerkeleyTrue commented on #11917
arg, yeah I have a patch in production but it involves me stashing the patch and pulling the new commits everytime there is an update. Would you mind creating a pr against backup/master that adds optimizely to the csp?

[2016-12-06 06:07] ppatel1604 opened #11939 "Value doesn't change after the change in line has been done."
Challenge [Increment a Number with JavaScript](https://www.freecodecamp.com/challenges/increment-a-number-with-javascript#?solution=%0Avar%20myVar%20%3D%2087%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0AmyVar%20%3D%20myVar%2B%2B%3B%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/602.3.12 (KHTML, like Gecko) Version/10.0.2 Safar

[2016-12-06 06:29] erictleung commented on #11939
@ppatel1604 Thank you for reporting this issue. Your code is incorrect. Please read the note in the instructions for additional help.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You ca

[2016-12-06 06:29] #11939 closed

[2016-12-06 06:40] kolyambo opened #11940 "Twitch.tv API challenge is buggy as hell"
Challenge [Use the Twitchtv JSON API](https://www.freecodecamp.com/challenges/use-the-twitchtv-json-api) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.100 YaBrowser/16.11.1.228 (beta) Yowser/2.5 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Hello, pl

[2016-12-06 06:48] ppatel1604 commented on #11939
@erictleung Yeah, I have noticed it afterward. I was not following the instructions properly.

[2016-12-06 07:24] Manish-Giri commented on #11940
@kolyambo "No API for Twitch"? Did you read through the [Twitch API](https://github.com/justintv/Twitch-API/blob/master/v3_resources/streams.md#get-streamschannel) docs? I've used the API, along with the API key, and it works 100% for me.

[2016-12-06 07:50] hb237 commented on #11922
I will look into it..

[2016-12-06 08:01] 00090 commented on #6530
I wanted to write about the same task but it was possible to pass the text with "30px" while it requires "16px"

[2016-12-06 08:14] 00090 opened #11941 "Code should not pass with wrong font-size rule"
#### Issue Description

One of the requirement to pass the test is "Between the style tags, give the p elements font-size of 16px. Browser and Text zoom should be at 100%." however is passes with "30px" as well that was given with example

#### Browser Information

* Browser Name, Version: Firefox 50.0.2
* Operating System: Ubuntu
* Mobile, Desktop, or Tablet: Desktop

#### The Code

[code]

first

[2016-12-06 08:24] Em-Ant commented on #11940
@kolyambo we are updating the links.
The whole Hyperdev has been suddenly renamed yesterday. It's not something that we can control.

Regarding cross-domain requests, you should use **jsonp**, like the original API. I implemented it this way on purpose (no pain, no gain... ).

The "fix" is a compromise of course. We built it to not force people to get their own api keys, and make the old projects

[2016-12-06 09:30] rusagara22maurice opened #11942 "help"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2016-12-06 09:44] rusagara22maurice commented on #11942
Nest an Anchor Element within a Paragraph

[2016-12-06 09:55] LoveRoseGoddess opened #11943 "Understand String Immutability"
Challenge [Understand String Immutability](https://www.freecodecamp.com/challenges/understand-string-immutability#?solution=%0A%2F%2F%20Setup%0Avar%20myStr%20%3D%20%22Jello%20World%22%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0AmyStr%5B0%5D%20%3D%20%22J%22%3B%20%2F%2F%20Fix%20Me%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (iPad; CPU OS 10_1_1 like Mac OS X) AppleW

[2016-12-06 10:32] guytat opened #11944 "Calculator functionality"
Challenge [Build a JavaScript Calculator](https://www.freecodecamp.com/challenges/build-a-javascript-calculator) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.99 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

In the [calculator example provided](https

[2016-12-06 10:34] guytat commented on #11944
Sorry, already reported.

[2016-12-06 10:34] #11944 closed

[2016-12-06 11:34] raisedadead commented on #11735
@LoveRoseGoddess please reach out to the [help chat](https://gitter.im/FreeCodeCamp/HelpChat), if it indeed is a bug, please log a fresh issue on the tracker.

[2016-12-06 11:35] raisedadead commented on #7713
@amin8666 please reach out to the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help).

[2016-12-06 11:36] #11942 closed

[2016-12-06 11:39] raisedadead commented on #11943
Can anyone reproduce/debug this on a native device? The OP is using Google Chrome on an iPad.

[2016-12-06 11:44] raisedadead commented on #11935
@macloo our wiki has moved to [Forum](https://forum.freecodecamp.com), here you can search for latest articles and hints to the solutions if you find them not satisfactory please proceed with suggestions there.

Thanks for reporting.

[2016-12-06 11:44] #11935 closed

[2016-12-06 13:37] drguildo commented on #11940
If it's not something you can control then you probably shouldn't be depending on it.

[2016-12-06 14:21] Davide1234 commented on #3654
I can't claim my front end developer certificate

[2016-12-06 14:23] dhcodes commented on #11922
Closed via #11923

[2016-12-06 14:23] #11922 closed

[2016-12-06 14:25] dhcodes commented on #11908
Closing as wontfix. Will reconsider if this issue crops up again.

[2016-12-06 14:25] #11908 closed

[2016-12-06 14:33] vivek7860 opened #11946 "k firts things first ,1. i dont understand the functionlaity of uncomment , 2. am i commenting or uncommenting"
Challenge [Uncomment HTML](https://www.freecodecamp.com/challenges/uncomment-html#?solution=%0A%3C!--hello%20world...%3E%0A%3C!--h1%3EHello%20World%3C%2Fh1--%3E%0A%0A%3C!--h2%3ECatPhotoApp%3C%2Fh2--%3E%0A%0A%3C!--p%3EHello%20Paragraph%3C%2Fp--%3E%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64; rv:50.0) Gecko/20100101 Firefox/50.0</code>.
Please describe how to reprodu

[2016-12-06 14:33] jhonny-me opened #11947 "recursion cause crash"
#### Challenge Name

https://www.freecodecamp.com/challenges/symmetric-difference

#### Issue Description

I created a recursion function and after run test, browser dead. And i can never enter freecodecamp, cause every time i enter, it will run the function automatically, so i dead again.

#### Browser Information

* Chrome, Version: Version 54.0.2840.98 (64-bit)
* Operating System: macOS 10.12.1

[2016-12-06 14:51] purpledrumsticks commented on #11947
Did you try adding &run=disabled to the website url?

[2016-12-06 14:53] jhonny-me commented on #11947
https://www.freecodecamp.com/challenges/symmetric-difference&run=disabled dosent work.

[2016-12-06 15:10] ajain17 commented on #11941
I can replicate it at my end. I'll look into it.

[2016-12-06 15:59] williamein commented on #11946
<hello world>
<h1>Hello World</h1>
<h2>CatPhotoApp</h2>
<p>Hello Paragraph</p>

[2016-12-06 16:01] williamein commented on #11946
Be sure to delete <b>all</b> trailing comment tags, i.e. -->

[2016-12-06 16:09] dhcodes commented on #11946
@vivek7860 you have an error in your code. Please consider asking for help in the chat room by clicking the Help button on the challenge page.

[2016-12-06 16:09] #11946 closed

[2016-12-06 16:21] dhcodes commented on #11941
Confirmed on staging as well.

[2016-12-06 16:40] craigerrington opened #11948 "Accepts incorrect code"
When initially running this, I had the incorrect px size in my code (30 instead of 16), but it gave me a pass..

Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20p%20%7Bfont-size%3A%2016px%3B%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20c

[2016-12-06 17:12] rapidfirer56 commented on #6255
had a hard time with this challenge also because of the instructions wording so i just tried this:

// Setup
function abTest(a, b) {
  // Only change code below this line
 switch(a<0){
   case a<0:
  return undefined;
 }
  switch(b<0){
    case b<0:
      return undefined;
  }
  // Only change code above this line

  return Math.round(Math.pow(Math.sqrt(a) + Math.sqrt(b), 2));
}

// Change values

[2016-12-06 17:16] dhcodes commented on #11948
closing as duplicate of 11941; Thanks for the issue @craigerrington

[2016-12-06 17:16] #11948 closed

[2016-12-06 17:41] Em-Ant commented on #11940
PR: https://github.com/FreeCodeCamp/FreeCodeCamp/pull/11937 - update twitch api link

[2016-12-06 19:28] ajain17 commented on #11941
I'm seeing a weird issue. The test fails on my local host if the font size is 30px (because it needs it to be 16px) but on the website, it passes with 30px . I'm not sure why that would be?

[2016-12-06 19:40] dhcodes commented on #11941
If you are talking about staging on your local, then it would usually make sense because staging has fixes that are not currently on the live site. In this case though, the code above passed on my local version too. Maybe someone else can test it too.

[2016-12-06 19:41] ajain17 commented on #11941
@dhcodes So I thought. Thanks for confirming. If another person confirms that it works expectedly on localhost then we can close the issue.

[2016-12-06 19:58] systimotic commented on #11888
@jpdd2002 Try checking what they said. You mixed up your `src` and `class` values in the code provided 🙂

[2016-12-06 21:49] raisedadead commented on #11940
@drguildo

Thanks for  your valuable suggestion, no offense, but we are a non-profit, for the community organization, so YES, we will continue to depend on resources that are best available to the community in the most economically feasible  way. Having said that we are helping 300000+ students to learn to code.

We are NOT would love to explore alternates if you have in mind. Until that happens p

[2016-12-06 21:49] #11940 closed

[2016-12-06 21:55] raisedadead commented on #11947
@johnny-me, sad to know that you are having trouble with a recursive function. As you mentoined that run disabled code doesnt work.

You can clear your browser cache and cookies for free code camp. This will delete all of your local code, solutions that are already submitted to your profile will still be available on your profile page.

Re-attempt the challenge and let us know how it goes.

[2016-12-06 22:14] carlos1ready commented on #11947
Can you please unsubscribe me to these emails please

Sent from my iPhone

[2016-12-06 22:23] drguildo commented on #11940
@raisedadead I'm sorry if I upset you, I wasn't trying to. 😞

I was thinking along the lines of hosting a Twitch API pass-through on FCC controlled servers.

[2016-12-07 02:22] erictleung commented on #11947
@carlos1ready Looks like you may have accidentally subscribed to all notifications for the [FreeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp) repository. To stop receiving notifications please visit the [subscriptions page](https://github.com/FreeCodeCamp/FreeCodeCamp/subscription) and select "Not watching". Additionally, you can visit the [GitHub Help page on managing notification deliv

[2016-12-07 03:06] jhonny-me commented on #11947
@raisedadead actually, the `https://www.freecodecamp.com/challenges/symmetric-difference&run=disabled` gives me a `We couldn't find a challenge with the name symmetric-difference&run=disabled. Please double check the name.` error. Am i connect the `&run=disabled` wrong?

[2016-12-07 03:21] DracoLupa opened #11950 "image sourcing bug or mistake within lesson"
Challenge [Add Images to your Website](https://www.freecodecamp.com/challenges/add-images-to-your-website#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%

[2016-12-07 03:47] erictleung commented on #11947
@jhonny-me try `https://www.freecodecamp.com/challenges/symmetric-difference?run=disabled`

[2016-12-07 03:49] erictleung commented on #11950
@DracoLupa Thank you for reporting this issue. Hint: your `<img>` element is in the wrong place.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of officia

[2016-12-07 03:49] #11950 closed

[2016-12-07 04:33] spectro132 opened #11951 "css class to style an element"
#### Challenge Name

https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20h2%7B%0A%20%20color%3A%20red%3B%0A%7D%20%0A%3C%2Fstyle%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20

[2016-12-07 06:42] erictleung commented on #11943
While trying to simulate this with a device emulator in Chrome, I got a similar error but not the same one.

![image](https://cloud.githubusercontent.com/assets/2754821/20957514/2706bb18-bc05-11e6-9561-648dd42a40ba.png)

The challenge tests don't show up because of this type error in general. If you remove the `// Fix me` line, you at least get the challenge tests to show up and something in the c

[2016-12-07 06:50] erictleung commented on #11951
@spectro132 Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free

[2016-12-07 06:50] #11951 closed

[2016-12-07 07:12] Manish-Giri commented on #11943
I can try to reproduce this on my iPad. Will report on the results.

[2016-12-07 07:20] ambatshri commented on #11943
Well the challenge is documented properly. And the information says that the individual character cannot be changed in the variable. So you've to rewrite the whole string instead of rewriting the character. So its not a bug.

[2016-12-07 07:25] jhonny-me commented on #11947
Great! This url works. Thx a lot. @erictleung

[2016-12-07 07:25] #11947 closed

[2016-12-07 09:00] raisedadead commented on #11940
@drguildo Please accept my apologies, I didn't mean to direct my comment towards you, although it sounds like it. I sincerely regret saying that.
This is something generic that we often get from many campers/users in general.

I agree it would be more controllable to have our own infrastructure, but you as you probably understand that having the backend to handle micro VM's per user is highly unfe

[2016-12-07 09:02] raisedadead commented on #11943
@ambatshri thanks, but none the less the test cases should still display. Needs more looking into.

[2016-12-07 09:28] jay3li opened #11953 "Use a CSS Class to Style an Element"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%20%0A%20%20h2%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%20%3E%20CatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%

[2016-12-07 10:04] ambatshri commented on #11953
You need to create a class with name red-text instead of writing h2 in style tag.

[2016-12-07 10:11] erictleung commented on #11953
@jay3li take look at what @ambatshri has suggested for some help. If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-12-07 10:11] #11953 closed

[2016-12-07 11:23] ppatel1604 opened #11955 "List of what to do does not appear before completing the test succesfully."
![capture](https://cloud.githubusercontent.com/assets/11170715/20965818/66ff6f76-bcdc-11e6-9566-f5f27e969683.PNG)
Challenge [Local Scope and Functions](https://www.freecodecamp.com/challenges/local-scope-and-functions#?solution=%0Afunction%20myLocalScope()%20%7B%0A%20%20'use%20strict'%3B%0A%20%20var%20myVar%20%3D%20%22Something%22%3B%0A%20%20%0A%20%20console.log(myVar)%3B%0A%7D%0AmyLocalScope()%3B

[2016-12-07 12:03] LoveRoseGoddess commented on #11943
This wasn't very clear but after @ambatshri  commented, I rewrote the the code and got the answer correct. The "TypeError" threw me off so bad. Thanks for your help guys!

[2016-12-07 12:03] #11943 closed

[2016-12-07 12:36] jpdd2002 commented on #11888
thank you, I think I'd tried various things and got in a muddle, this now works. thanks again.

[2016-12-07 14:23] ndaljr commented on #11941
I just took a look at this on the live website and the tests pass as long as the requested font size is equal or greater than 16px. This test fails on my local staging version.

[2016-12-07 15:07] ajain17 commented on #11941
@ndaljr On the live website, tests pass for me also. but on local staging, they fail unless font size is 16px. Like dhcodes said, it could be because staging has fixes that are not currently on the live site.

[2016-12-07 15:51] zr0n commented on #11885
@dhcodes  Urls:
http://timestampmservice.herokuapp.com/January%201,%202016
https://github.com/zr0n/timestampservice

@Bouncey  Yes, still having issues

[2016-12-07 16:07] anweshd opened #11956 "issue on style blue"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%0A%3Ch2%20style%3D%22color%3A%20blue%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cstyle%3E%0A%20%20h2%20%20%7Bcolor%3Ablue%3B%7D%0A%20%20%3C%2Fstyle%3E%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankl

[2016-12-07 16:37] Crizstian opened #11957 "1 eye for of 1 eye. it is a palindrome, test mark it as false."
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=%0Afunction%20palindrome(str)%20%7B%0A%20%20%2F%2F%20Good%20luck!%0A%20%20var%20pattern%20%3D%20%2F(%5CW)*(%5Cd)*(_)*%2Fg%3B%0A%20%20var%20rep%20%3D%20str.replace(pattern%2C%20'').toLowerCase().split('')%3B%0A%20%20%0A%20%20for(var%20i%20%3D%200%2C%20j%20%3D%20rep.length%20-%201%3B%20i%20%3C%2

[2016-12-07 16:51] scvasquez19901024 commented on #11155
I have the same issue, there is something curious with  this challenge when I comment the if else and else statement the compiler get good results with the test that relation with if statement.

Here is my code:

var contacts = [
    {
        "firstName": "Akira",
        "lastName": "Laine",
        "number": "0543236543",
        "likes": ["Pizza", "Coding", "Brownie Points"]
    },
    {

[2016-12-07 17:37] erictleung commented on #11956
@anweshd Thank you for reporting this issue. Your code does not meet the requirements for the challenge. Please read the instructions once more or head to the Gitter chat rooms for more help.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take yo

[2016-12-07 17:37] #11956 closed

[2016-12-07 17:41] erictleung commented on #11957
@Crizstian Thank you for reporting this issue. `1 eye for of 1 eye` is not a palindrome.

[code]

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of officia

[2016-12-07 17:41] #11957 closed

[2016-12-07 18:04] wrannikko opened #11958 "Sign in Issue with Gitter chat room"
Challenge [Use an ID Attribute to Style an Element](https://www.freecodecamp.com/challenges/use-an-id-attribute-to-style-an-element]

the challenge isnt an issue. i ran into a problem i am trying to fix and i requested help. it brought up the chat box. i clicked sign in. i signed in, but it doesnt allow me to start chatting. it assumes i didnt even sign in. i tried multiple times to sign in, even

[2016-12-07 18:23] wrannikko opened #11959 "code doesnt adjust"
Challenge [Use Clockwise Notation to Specify the Padding of an Element](https://www.freecodecamp.com/challenges/use-clockwise-notation-to-specify-the-padding-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.injected-text%20%7B%0A%20%20%20%20margin-bottom%3A%20-25px%3B%0A%20%20%20%20text-align%3A%20center%3B%0A%20%20%7D%0A%0A%20%20.box%20%7B%0A%20%20%20%20border-style%3A%20solid%3B%0A%20%20%20%20bor

[2016-12-07 18:24] wrannikko commented on #11959
nevermin

[2016-12-07 18:26] #11959 closed

[2016-12-07 18:32] maxerd opened #11960 "It is red"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-12-07 18:34] tnharvey opened #11961 "Use Responsive Design with Bootstrap Fluid Containers needs Rewording"
Challenge [Use Responsive Design with Bootstrap Fluid Containers](https://www.freecodecamp.com/challenges/use-responsive-design-with-bootstrap-fluid-containers#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20

[2016-12-07 18:39] Manish-Giri commented on #11958
@wrannikko Did you click on "join room"?

[2016-12-07 18:41] Crizstian commented on #11957
My mistake, i didn't read well the exercise, in the regex pattern i was taking out the numbers to.

with the numbers included in fact is not a palindrome.

thanks.

[2016-12-07 18:45] dori235 opened #11962 "Challenge will not allow me to move on because of bug with img size."
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2016-12-07 18:46] khushboo13 opened #11963 "Challenge not passing in chrome, firefox"
#### Challenge Name

https://www.freecodecamp.com/challenges/write-reusable-javascript-with-functions

#### Issue Description

#### Browser Information

* Browser Name, Version: Chrome, firefox
* Operating System: Ubuntu
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]
#### Screenshot

[2016-12-07 18:47] Manish-Giri commented on #11962
@dori235 There's no bug. You haven't applied the `smaller-image` class to the `img` elemnt in HTML.

Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) first for help with challenges like these in future. Happy Coding!

[2016-12-07 18:51] Manish-Giri commented on #11963
@khushboo13 Your code is slightly incorrect. You need to `console.log("Hi World");` from within the function definition, and it follows that you don't need to pass `myStr` or any parameters to `reusableFunction()` while calling it.

[2016-12-07 18:56] Manish-Giri commented on #11961
To me, `nest all of the main content HTML` sounds a bit vague, especially the `main content HTML` bit.

[2016-12-07 19:34] #11962 closed

[2016-12-07 19:34] #11963 closed

[2016-12-07 19:58] raisedadead commented on #11958
@wrannikko You cannot sign in to Free Code Camp's chat room with Twitter. Since you have a Github account, try sign in with the GitHub account instead.

Please share screenshots of your issue.

[2016-12-07 19:58] #11960 closed

[2016-12-07 19:58] raisedadead commented on #11960
The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-12-07 20:02] raisedadead commented on #11903
Closing. Please comment if issue still persists.

[2016-12-07 20:02] #11903 closed

[2016-12-07 20:03] maxerd commented on #11960
Sorry I sent it before I filled it in.

[2016-12-07 20:08] raisedadead commented on #11885
@zr0n

So, just to confirm you aren't able to submit the above URLs to your repo and the app on the challenge page?

Can you take some screenshots of whats happening?
Can you also take screenshots of the console (Developer Tools) for your browser and let us know if there are any errors?

[2016-12-07 20:09] maxerd opened #11964 "It should be red"
I was doing a challenge and it keep saying I did not finish the challenge but I made no typos or misuse of code. I even asked it in the chat and even they said there was nothing wrong with it so I think there is a bug or something.

#### Challenge Name

https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element

#### Issue Description

#### Browser Information

* Browser Name, Ver

[2016-12-07 20:09] raisedadead commented on #11960
No problem, you can still mention the issue in the comments here and we will reopen it for you.

[2016-12-07 20:13] wrannikko commented on #11958
Thank but I figured it out
On Dec 7, 2016 2:59 PM, "mrugesh" <notifications@github.com> wrote:

[2016-12-07 20:18] raisedadead commented on #11964
Your code is correct and passes for me. Please try resetting the code and typing it again, if your copy pasting for instance from a notepad, it's possible that some non-standard chars may creep in.

If it still doesn't work, try deleting your cache.

[2016-12-07 20:18] #11958 closed

[2016-12-07 20:30] 003lions commented on #9178
The problem is looking for this:
<div class="container-fluid">
  <h3 class="text-primary text-center">jQuery Playground</h3>
  <div class="row">
    <div class="col-xs-6">
      <div class="well">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="well">
      </div>    </div>
  </div>
</div>

[2016-12-07 20:50] systimotic commented on #11964
Hi @maxerd!
I see you're on a mobile device. We've had quite a few issues in the past with mobile devices inserting non-breaking spaces, which break the code. It was fixed recently in https://github.com/FreeCodeCamp/FreeCodeCamp/pull/11472, but it was not pushed to production yet. I believe this issue might be related to that same bug.

[2016-12-07 21:14] systimotic commented on #11941
@dhcodes 😕 Maybe your staging is out of date? My guess would be that you did `git pull --rebase upstream staging`, but didn't run `node seed` (because I know I would forget 😅)
This should have been fixed in https://github.com/FreeCodeCamp/FreeCodeCamp/pull/11306
I can confirm this works as expected on my local setup as well. 👍

I'm removing the labels, blocking for Dylan to confirm whether this is

[2016-12-07 21:29] dhcodes commented on #11941
@systimotic alas, you are correct. My bad.
![fail-whale](http://www.wired.com/wp-content/uploads/2010/06/CSSfailwhale.jpg)

[2016-12-07 21:29] dhcodes commented on #11941
closing as resolved in staging.

[2016-12-07 21:29] #11941 closed

[2016-12-07 21:47] DCady02 commented on #11955
refresh the page, worked for me

[2016-12-08 00:30] Octopiman opened #11965 "you can't type on line 71 at all and that i on all"
Challenge [Style Text Inputs as Form Controls](https://www.freecodecamp.com/challenges/style-text-inputs-as-form-controls) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.75 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-12-08 00:31] Octopiman commented on #11965
It's not the code it's that i can't type on line 71 or further down.

[2016-12-08 02:24] ajain17 commented on #11955
Try clearing your cookies and then reload the page. It works perfectly for me.
<img width="1417" alt="screen shot 2016-12-07 at 9 23 49 pm" src="https://cloud.githubusercontent.com/assets/5581487/20995209/7a42d564-bcc3-11e6-9246-eed1c69afc2d.png">

[2016-12-08 05:44] wheelhot opened #11966 "Bootstrap Grid to Put Elements Side by Side question"
Challenge [Use the Bootstrap Grid to Put Elements Side By Side](https://www.freecodecamp.com/challenges/use-the-bootstrap-grid-to-put-elements-side-by-side) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_1) AppleWebKit/602.2.14 (KHTML, like Gecko) Version/10.0.1 Safari/602.2.14</code>.
Please describe how to reproduce this issue, and include links to screenshots if

[2016-12-08 05:51] portaljacker commented on #11751
I have a concrete example here: http://tinyurl.com/ztjdbyc

The solution was changing the alt text to "cat".

[2016-12-08 06:13] erictleung commented on #11965
@Octopiman sorry to hear about your issue. Your issue sounds similar to this one https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7847. Can you take a look and see if pressing enter or typing a little bit before typing again will solve the issue?

[2016-12-08 06:21] erictleung commented on #11966
@wheelhot Thank you for reporting this issue. Great question. Yes, you can add grid classes to buttons. However, in the context of the challenge, we ask to nest your `<button>` element in `<div>` elements because generally, you will probably be working with `<div>` elements that will vary in size, rather than whole buttons. If you have other questions, please ask within one of the Gitter chat room

[2016-12-08 06:21] #11966 closed

[2016-12-08 06:41] wheelhot commented on #11966
@erictleung I did try adding grid classes to button but it doesn't line up the buttons in a horizontal row as opposed to placing it in individual div `<div>`. And as mentioned, I tried searching around on why doesn't col-xs-4 work if placed in a button vs in its own div while having the button nested but to no avail.

See line 38-40
![screen shot 2016-12-08 at 2 38 28 pm](https://cloud.githubuserc

[2016-12-08 07:19] Riverino commented on #9610
that is right, it works for me. thanks

[2016-12-08 07:22] raisedadead commented on #11964
Closing as a duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7753

[2016-12-08 07:22] #11964 closed

[2016-12-08 07:56] syedbaji commented on #11455
hi

[2016-12-08 08:04] Riverino commented on #4150
I'm having troubles with the same challenge. The smaller-image class works if I insert it into the tag before the other classes, but then the other classes do not work. Am I doing something wrong?

here it is:

.smaller-image {
    width: 100px;
  }
  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;}
</style>

<h2 class="red-text">CatPhotoApp</h2>

<i

[2016-12-08 09:37] SanjeetSk opened #11969 "Issue with dist-tag command and poor instruction."
Challenge [Manage Packages with npm](https://www.freecodecamp.com/challenges/manage-packages-with-npm) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.99 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

I have following information in package.json file
[code]

my

[2016-12-08 09:50] syedbaji opened #11970 ""Repeat a string repeat a string", my code working but not passing the challenge please help"
Challenge [Repeat a string repeat a string](https://www.freecodecamp.com/challenges/repeat-a-string-repeat-a-string#?solution=var%20finString%20%3D%20%22%22%3B%0Afunction%20repeatStringNumTimes(str%2C%20num)%20%7B%0A%20%20%2F%2F%20repeat%20after%20me%0A%20%20for(var%20i%3D1%3B%20i%3C%3Dnum%3B%20i%2B%2B)%7B%0A%20%20%20%20finString%2B%3Dstr%3B%0A%20%20%7D%0A%20%20return%20finString%3B%0A%7D%0Arepeat

[2016-12-08 09:52] syedbaji commented on #11970
yes i requested in help room but nobody responding in that..........

[2016-12-08 09:54] ppatel1604 commented on #11955
@ajain17 I did that. It didn't work for me. As soon as I complete it, List appears itself.

[2016-12-08 09:57] #11970 closed

[2016-12-08 14:38] raisedadead commented on #11969
@SanjeetSk I understand the frustration, can you head over to https://github.com/workshopper/how-to-npm and check any workarounds exist?

[2016-12-08 15:01] dhcodes commented on #11969
@SanjeetSk this thread should help https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9558.

Closing this issue as FCC does not manage the 'learnyou...' exercises and therefore cannot manage improvements.

[2016-12-08 15:01] #11969 closed

[2016-12-08 15:07] ajain17 commented on #11955
@ppatel1604  I cannot replicate your error in firefox/chrome/safari on the live site. Can anyone else confirm this?

[2016-12-08 15:08] ajain17 commented on #11961
I'll take a look at this.

[2016-12-08 15:47] texas2010 commented on #4150
@Riverino
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-12-08 16:37] raisedadead commented on #11969
Thanks @dhcodes !

[2016-12-08 16:38] hamrasalim opened #11971 "Run Test Does Not Work"
Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.98 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-12-08 16:40] raisedadead commented on #11955
Yes, sometimes these behaviors can be seen. Browsers can stop rendering the page correctly at times when exceptions are thrown.

It's best to try reset/refresh at those times.

[2016-12-08 16:40] #11955 closed

[2016-12-08 16:42] raisedadead commented on #11971
@hamrasalim Thanks for the issue, but your code is not correct!

The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-12-08 16:42] #11971 closed

[2016-12-08 16:58] hamrasalim commented on #11971
Yes, sorry about that. Its the first time that i made a coding error so i assumed that id get an error message if it was wrong.
Best,Salim

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: mrugesh <notifications@github.com> Date: 12/8/16  8:44 PM  (GMT+04:00) To: FreeCodeCamp/FreeCodeCamp <FreeCodeCamp@noreply.github.com> Cc: Salim Hamra <hamrasalim@yahoo.com>, Menti

[2016-12-08 17:48] tyra134 opened #11973 "This is already blue"
Challenge [Use RGB to Mix Colors](https://www.freecodecamp.com/challenges/use-rgb-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20rgb(255%2C0%2C0)%3B%0A%20%20%7D%0A%20%20.orchid-text%20%7B%0A%20%20%20%20color%3A%20rgb(218%2C112%2C214)%3B%0A%20%20%7D%0A%20%20.sienna-text%20%7B%0A%20%20%20%20color%3A%20rgb(160%2C82%2C45)%3B%0A%20%20%7D%0A%20%20.blue-text%20

[2016-12-08 17:55] raisedadead commented on #11973
@tyra134 thanks for the issue, but your code is not correct. It's blue but not the correct one.

The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-12-08 17:55] #11973 closed

[2016-12-08 19:20] michelmarechal commented on #6112
This is a really bad explained exercise. Thank you all for the help!

[2016-12-08 21:07] dinghino commented on #4976
Same here. been stuck for the last 20 minutes trying to understand why it didn't work. I think you should really add the tip for the `//noprotect` and/or increase the timeout.

This is the code I used, that got stuck at the `977` test.
[code]

Managed to complete with the `//noprotect` flag and then I did some testing;
* skipping all even values it took 0.016s to complete
* incrementing `i` with `

[2016-12-08 22:02] tyra134 commented on #11973
Thanks I copied and pasted it, and then it worked.

[2016-12-09 00:03] dshokoofi commented on #10135
they mean get rid of the "http://...." part and replace it with "#"

[2016-12-09 00:17] MHASSS opened #11975 "[Taste the Bootstrap Button Color Rainbow] It does not go to the next challenge and browser hangs."
Challenge [Taste the Bootstrap Button Color Rainbow](https://www.freecodecamp.com/challenges/taste-the-bootstrap-button-color-rainbow#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20

[2016-12-09 00:21] MHASSS commented on #11975
![screenshot 6](https://cloud.githubusercontent.com/assets/13354315/21032983/91407cf4-bdad-11e6-8290-b876f116ad7c.png)

It stays like this forever and doesn't go to the next challenge, I tried my linux system, different browsers, same result. It shows the challenge in the Map as not done. I tried doing the next challenge but same thing happened.

[2016-12-09 00:26] MHASSS commented on #11975
Same thing happens when I skip to later challenges.
![screenshot 7](https://cloud.githubusercontent.com/assets/13354315/21033092/6de6184e-bdae-11e6-9e99-0fab8707b9a1.png)

[2016-12-09 03:16] CantWeAllJustGitAlong commented on #3921
Guys, I was stuck on this for awhile! I posted my code in the help forum and nobody could figure it out. Luckily, I found this string of posts. The only thing that worked was putting an EXTRA </div> before </form> but it makes no sense to me. All of the other challenges before this one passed without that EXTRA </div>. If someone can explain this to me like I'm 3 years old, I would appreciate it.

[2016-12-09 04:18] frogo123 opened #11976 "Falsy bouncer"
Hi, below is my code for the Falsy Bouncer project which returns the expected value into the black console screen.

The problem I have is that all the challenges fail except the (["a", "b", "c"]) one which out of the 4 is the only one that returns all the original values.

I have spent some time on the Falsy Bouncer and I'm unsure what to do next as the code I have returns the answers I been looki

[2016-12-09 05:47] wjhurley commented on #9583
I would like to work on this issue.

[2016-12-09 07:06] elskaan commented on #11744
function convertToF(celsius) {
  var fahrenheit;

  // Only change code below this line
  fahrenheit = celsius * (9 / 5) + 32;

  // Only change code above this line
  return fahrenheit;
}

// Change the inputs below to test your code
convertToF(20);

[2016-12-09 07:16] cloudasim opened #11978 "Global declaration of vars conflict with test cases."
Challenge [Factorialize a Number](https://www.freecodecamp.com/challenges/factorialize-a-number#?solution=var%20factor%20%3D1%3B%0Afunction%20factorialize(num)%20%7B%0A%20%20for%20(var%20i%3D1%3B%20i%3C%3Dnum%3B%20i%2B%2B)%7B%0A%20%20%20%20factor%20*%3Di%3B%0A%20%20%7D%0A%20%20return%20factor%3B%0A%7D%0A%0Afactorialize(10)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW

[2016-12-09 07:16] raisedadead commented on #11978
The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-12-09 07:17] cloudasim commented on #11978
i think the code is correct but it is showing wrong

[2016-12-09 07:23] raisedadead commented on #11978
Apologies, please have a proper title and description on the issue next time, screenshots are appreciated. I closed because this appeared like an issue seeking help with the challenge.

And yes your code is correct, but unfortunately is using the `var factor =1;` in global scope.
This conflicts with the test cases.

If you move the same inside the scope of the function, it should work fine.

[2016-12-09 07:25] raisedadead commented on #11978
Closing again as duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9199

[2016-12-09 07:25] #11978 closed

[2016-12-09 08:02] erictleung commented on #11976
@frogo123 Thank you for reporting this issue. You code is incorrect and doesn't satisfy the requirements of the challenge. Hint: ask yourself, do you understand what a "falsy" value is in JavaScript?

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will

[2016-12-09 08:02] #11976 closed

[2016-12-09 09:33] Sega-Patidar commented on #11155
This code is working
var contacts = [
    {
        "firstName": "Akira",
        "lastName": "Laine",
        "number": "0543236543",
        "likes": ["Pizza", "Coding", "Brownie Points"]
    },
    {
        "firstName": "Harry",
        "lastName": "Potter",
        "number": "0994372684",
        "likes": ["Hogwarts", "Magic", "Hagrid"]
    },
    {
        "firstName": "Sherlock",
        "l

[2016-12-09 16:41] jmcmullin commented on #11665
I'm having the same issue with this challenge. The Run Test button seems to be unresponsive and check-mark section is not loading. @chrissielavender, how you were able to move forward from this?

[2016-12-09 19:40] sashajustice commented on #6546
I agree..it is actually quite confusing

[2016-12-09 19:41] emmavan15 opened #11979 "Change the font size of an element"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%20p%7B%0A%20%20%20%20%20%20font-size%3A%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ips

[2016-12-09 19:49] ajain17 commented on #11979
you are not closing the { bracket after .red-text. There is no issue with the challenge. @dhcodes  You can close this issue.

[2016-12-09 19:55] #11979 closed

[2016-12-09 20:02] JohnnyBizzel opened #11980 "Heroku deploy fail - GitHub Wiki Article is Deprecated"
#### Challenge Name
https://www.freecodecamp.com/challenges/url-shortener-microservice

#### Issue Description
After using these  instructions https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Heroku-Deployment-Guide I get:
"Heroku | Welcome to your new app!

Refer to the documentation if you need help deploying."

#### Your Code
https://github.com/JohnnyBizzel/url-shortener-jb

[2016-12-09 20:03] JohnnyBizzel commented on #11980
The bug is you need to update your instructions!

[2016-12-09 21:54] NatashaRocha opened #11982 "The desired output is not being shown on most Javascript Challenges"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%20%3D%20%22FirstLine%5Cn%5C%5CSecondLine%5C%5C%5CrThirdLine%22%3B%20%2F%2F%20Change%20this%20line%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.75 Safari/537.36</code>.
P

[2016-12-09 22:04] szrharrison opened #11984 "You must target the children of element with the target class. (Needs re-wording)"
#### Challenge Name

Target a Specific Child of an Element Using jQuery
https://www.freecodecamp.com/challenges/target-a-specific-child-of-an-element-using-jquery

#### Issue Description

Wording in the instructions is extremely misleading&mdash;and not grammatically correct.

This has been mentioned several times but it hasn't been changed and there doesn't seem to be any alternative wording sugg

[2016-12-09 23:27] Lieghti opened #11985 "The Button element isn't working correctly"
Challenge [Create a Bootstrap Button](https://www.freecodecamp.com/challenges/create-a-bootstrap-button#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20

[2016-12-09 23:41] ajain17 commented on #11985
It works for me with the button type set as "submit". You have set it to "button". Can anyone confirm is this is by design or by mistake that button type="button" is incorrect?

[2016-12-09 23:42] ilay1034 commented on #11985
Why did you do `<button type="button">`?

For me it worked without the button type. Here's my code:
`  <button class="btn">like</button>`

I just started this course, so I am not a professional, but I think that you don't need button type, since your using bootstrap, bootstrap can probably recognize by itself, and I am pretty sure that button is not a type.

[2016-12-09 23:44] ajain17 commented on #11985
It works with button type = button also. I just noticed that.

[2016-12-09 23:46] ajain17 commented on #11985
The problem is in this line:

<img src="https://bit.ly/fcc-running-cats" class="img-responsive" alt="Three kittens running towards the camera. >

You are not closing the quote.

@dhcodes This issue can be closed.

[2016-12-09 23:46] ilay1034 commented on #11985
Really? so button is a type?

[2016-12-09 23:57] ajain17 commented on #11985
http://www.w3schools.com/TAgs/att_button_type.asp

[2016-12-10 00:03] ajain17 commented on #11982
I can replicate the issue at my end.

[2016-12-10 00:11] ajain17 commented on #11984
The OP is correct. I'd agree with making these changes for more clarity. If anybody else approves this change, I'll push the fix.

[2016-12-10 00:28] Lieghti commented on #11985
What worked for me was   <button type="submit" class="btn">Like </button>.
I tried that after I reset my page.

The instructions don't have the "submit" button type specified.

Thanks for your help!

On Fri, Dec 9, 2016 at 3:42 PM, Ayushi Jain <notifications@github.com>
wrote:

[2016-12-10 01:50] alexalexson143 opened #11986 "Divide one Decimal by Another with JavaScript"
Challenge [Divide one Decimal by Another with JavaScript](https://www.freecodecamp.com/challenges/divide-one-decimal-by-another-with-javascript#?solution=%0Avar%20quotient%20%3D%200.0%20%2F%202.0%3B%0A%0A%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.75 Safari/537.36</code>.
Please describe how to reproduce this i

[2016-12-10 01:55] ajain17 commented on #11985
You had incorrect code earlier. You had mistakenly removed a ". Please read my comment above. Instructions are clear in the challenge.

[2016-12-10 02:15] laukcoder commented on #11986
It is asking you to use the '/' operator. By adding quotient = 2.2; underneath the already given code, you are  assigning the value of 2.2 to quotient. This means that when your code is checked for the correct answer, 2.2, it will pass. The platform checks to make sure you arrived at the correct answer, it doesn't check to make sure that you arrived there the way that you were intended to. quotien

[2016-12-10 02:41] alexalexson143 commented on #11986
Thanks for the reply laukcoder.

I agree that learning should be the number one priority in doing these exercises. Initially, I couldn't figure out how to return the value 2.2 from 0.0 / 2.0 (lol) so I just tried assigning 2.2 to the variable and I was surprised that it worked. Anyway I know this is trivial, just wanted to point it out anyway.

[2016-12-10 03:33] dhcodes commented on #11985
No need to tag me @ajain17; someone will come along and close the issue if it's not a bug. Please point people toward the chat room for code help. Thanks for helping out!

[2016-12-10 03:33] #11985 closed

[2016-12-10 03:47] dhcodes commented on #11986
I think we can write the tests in a way that require the camper to use the `/` for division. Confirmed this is a bug on staging too. I'll take this one.

[2016-12-10 04:12] Lieghti commented on #11985
The word "submit" isn't anywhere in the instructions for this. Maybe in
another version?

Anyway, thanks again for your help!

On Fri, Dec 9, 2016 at 5:56 PM, Ayushi Jain <notifications@github.com>
wrote:

[2016-12-10 04:27] QuincyLarson commented on #8418
@ladybugtju @abhisekp has there been any progress on this? Please let me know if I can be of any help. I am eager to consolidate these rooms.

[2016-12-10 04:28] QuincyLarson commented on #8312
I've long-since resolved this and am closing this issue. Thanks for your help, everyone!

[2016-12-10 04:28] #8312 closed

[2016-12-10 05:44] victorhugorch opened #11988 "Check for Palindromes Challenge"
#### Check for Palindromes
https://www.freecodecamp.com/challenges/check-for-palindromes

#### Issue Description

This function returns false in my browser but in the FreeCodeCamp interpreter it is returning true.

#### My Code

[code]

#### Browser Information

* Browser Name, Version: Chrome 54.0.2, Firefox. Desktop.

[2016-12-10 06:15] ClearConscience opened #11989 "Ditch Custom CSS for Bootstrap"
There seems to be an issue with a section of the code which so happens to be hard-coded with the answer, I haven't tried to complete the challenge yet since it would defeat the purpose of someone going through the code and pinpointing how to change the code. In further detail, the hard-coded class "img-responsive" on the <img> element is not supposed to be there. What is supposed to be there is "s

[2016-12-10 06:17] ClearConscience commented on #11989
Forgive me if this issue has been brought up in the past, I scrolled through a bunch of closed issues but then again if the issue had been brought up and closed the issue wouldn't exist in the first place. Thanks guys!

[2016-12-10 06:31] #11989 closed

[2016-12-10 07:07] QuincyLarson commented on #4299
I'm closing this issue as stale. If someone gets the bandwidth for this we can reopen it.

[2016-12-10 07:07] #4299 closed

[2016-12-10 08:54] Aditya2096 opened #11990 "img-responsive isn't working"
FreeCodeCamp

#### Dtich Custom CSS for Bootstrap

#### Issue Description
Even though I've added the img-responsive to the top most image it still doesn't compile.

Code :
[code]

[2016-12-10 12:16] Tech11 commented on #11917
Hey guys,

Any update on the error? I have been even trying to practice Bootstrap lately using the source code or CDN from the official website using brackets, but no luck so far. Could you please guide me from here?

Thank you again for looking into it and bearing with me. :)

[2016-12-10 13:39] systimotic commented on #11917
@raisedadead The description of your PR says it closes this issue, but for some reason this issue wasn't closed. Can it be closed?
@Tech11 Sorry for the trouble. Are you still seeing the same errors? It seems like the fix was merged, but I'm not sure if it was deployed yet.

[2016-12-10 13:50] raisedadead commented on #11917
Dunno why the tag didn't work.

[2016-12-10 13:50] #11917 closed

[2016-12-10 17:00] raisedadead commented on #11988
<img width="1060" alt="screen shot 2016-12-10 at 10 28 56 pm" src="https://cloud.githubusercontent.com/assets/1884376/21074810/155759c4-bf28-11e6-89a1-076f22c65a08.png">

I am getting a false. Mind sharing a screenshot, and any errors that you are getting on your browser console (Dev tools).

[2016-12-10 17:53] erictleung commented on #11990
@Aditya2096 Thank you for reporting this issue. First, there's a typo in your code. Second, you don't need to modify your first image. It should still have `class="smaller-image thick-green-border"`

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will

[2016-12-10 17:53] #11990 closed

[2016-12-10 19:04] #11988 closed

[2016-12-10 20:37] majlind opened #11991 "Unable to update Twitter/LinkedIn accounts"
In Dec 2015 I updated my account with a twitter handle and a linkedin account but since then I've changed my username on both sites. As of Dec 2016 I'm unable to update either in the settings. When I hover over either the twitter/linkedin logos it displays the old username but offers no choice for updating to a new one.

It's not a huge issue, moreso one for the few of us who've changed their twit

[2016-12-10 21:33] mikeiscoding opened #11992 "Typo in challenge text"
Challenge [Target Elements by ID Using jQuery](https://www.freecodecamp.com/challenges/target-elements-by-id-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22button%22).addClass(%22animated%20bounce%22)%3B%0A%20%20%20%20%24(%22.well%22).addClass(%22animated%20shake%22)%3B%0A%20%20%20%20%24(%22%23target3%22).addClass(%22animated%20fadeout%22)%3B%0A%2

[2016-12-10 22:29] klingonunderwearmodel commented on #3921
Yeah, this one threw me off as well until I added an extra </div> but I don't know why that fixed it.

[2016-12-11 00:29] OMAsphyxiate opened #11993 "Code editor cursor issue"
Throughout my progressions of the HTML5 & CSS challenges, each time I am asked to add/edit any code within the code editor the cursor within the editor does not show up where intended. I have to begin typing or editing the code via keyboard before the cursor will fix itself and allow me to select the desired location in order to edit or add in the correct spot. While this doesn't prevent users fro

[2016-12-11 02:07] ajitkumarsahu opened #11994 "I am not able to do the task of Escape sequences in strings"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%3D%22FirstLine%5Cn%5C%5CsecondLine%5C%5C%5CrThirdLine%22%3B%0A%0A%2F%2F%20Change%20this%20line%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 UBrowser/5.7.16817.1002 Safari/537.36<

[2016-12-11 03:15] kevcomedia commented on #11993
Hi. This is a known issue. See #7847
Closing this as duplicate.

[2016-12-11 03:15] #11993 closed

[2016-12-11 03:16] Manish-Giri commented on #11994
@ajitkumarsahu `SecondLine` - `s` should be capital.

Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) first for help with challenges like these, in future. Happy Coding!

[2016-12-11 03:18] Manish-Giri commented on #11992
@mikeiscoding Isn't the class name `fadeOut`?

[2016-12-11 04:48] Madmanden opened #11995 ""Build a wikipedia viewer" link doesn't work correctly"
#### Challenge Name
https://www.freecodecamp.com/challenges/build-a-wikipedia-viewer

#### Issue Description

The pen in the challenge link doesn't work, so campers can't use it to see the functionality example.

https://codepen.io/FreeCodeCamp/full/wGqEga/

#### Code
The follow just shows:
```main(ng-app='WikiApp' ng-controller='MainCtrl') #search.wrapper.fullHeight a.white-text(href='https://en.

[2016-12-11 05:05] raisedadead commented on #11991
@majlind please email the same to team@freecodecamp.com, we are currently in the process of having a feature to update the usernames for twitter and LinkedIn shortly.

This is being discussed on a separate thread.
Refer : https://github.com/FreeCodeCamp/FreeCodeCamp/issues/10807#issuecomment-257653781

[2016-12-11 05:08] raisedadead commented on #11992
This is a `camelCase` class name, and not an typo IMHO.

[2016-12-11 05:08] raisedadead commented on #11994
Thanks @Manish-Giri, Closing at not an issue with the codebase.

The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-12-11 05:08] #11994 closed

[2016-12-11 05:42] educrvz opened #11996 "You should only be targeting one element and adding only one class at a time. Altogether, your three individual selectors will end up adding the three classes shake, animated, and btn-primary to #target1."
#### Challenge Name: Target the same element with multiple jQuery Selectors

www.freecodecamp.com/challenges/target-the-same-element-with-multiple-jquery-selectors

#### Issue Description: Note message incorrect.

In the descriptions is states:
Note: You should only be targeting one element and adding only one class at a time. Altogether, your three individual selectors will end up adding the thre

[2016-12-11 05:56] nitdutt opened #11997 "Code is correct but freecodecamp is not accepting it"
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=%0Afunction%20palindrome(str)%20%7B%0A%20%20%2F%2F%20Good%20luck!%0A%20%20%20%0A%20%20%20var%20newStr%3Dstr.replace(%2F%5B%5EA-Z0-9%5D%2Fig%2C%20%22%22).toLowerCase()%3B%0A%20%20var%20revStr%3DnewStr.split(%22%22).reverse().join(%22%22)%3B%0A%20%20if(revStr%3D%3D%3DnewStr)%0A%20%20%20%20return

[2016-12-11 06:07] erictleung commented on #11992
Yeah, this doesn't look like a typo http://api.jquery.com/fadeOut/. It looks to be case-insensitive so I also don't see an error here.

[2016-12-11 06:09] erictleung commented on #11997
@nitdutt Thank you for reporting this issue. Hint: check your return type. Please check the help chat rooms for more help.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view

[2016-12-11 06:09] #11997 closed

[2016-12-11 06:16] erictleung commented on #11996
@educrvz can you elaborate a bit on your concern? I don't see any inconsistencies in the text. Each of the instructions is consistent with the statement

And then text following that will also be true after applying the three classes. The parenthetical you added of `(only)` does make that statement not true. Meaning that those three classes added all do not apply to *just* `#target1`. However, the

[2016-12-11 06:21] erictleung commented on #11995
@Madmanden thanks for catching this! It looks like there is an extra space that shouldn't be there in the `.jade` HTML on Line 8. There needs to be one less space in front of this line.

[code]

@FreeCodeCamp/moderators can someone confirm and/or make changes to this CodePen whoever has privileges to it?

[2016-12-11 06:58] wjhurley commented on #11798
I'm sure the contributors could chime in on this, but I believe the delete statements are what is causing the null values in the array. The filter method should only return either true or false, it should not edit the array it is called upon.

[2016-12-11 07:02] erictleung commented on #11798
@wjhurley agreed. The `delete` statements seems to be causing weird output, along with it being within a callback function. I guess a fun "feature" of JavaScript 😄

[2016-12-11 08:20] kevcomedia commented on #11996
How about

Maybe "one element" can easily be mistaken to mean "one HTML element".

[2016-12-11 09:04] wjhurley commented on #9199
Should this issue be closed?

[2016-12-11 10:18] mikeiscoding commented on #11992
It's fade0ut with a zero, not fadeOut with a capital 'O.'

[2016-12-11 10:21] mikeiscoding commented on #11992
Thanks for the swift replies, everyone and thanks for linking the jQuery documentation. I'm new so I'm glad such a resource exists.. however, as I noted in my previous comment, it's fade0ut with a zero, not a capital 'O.'

Is this the best place to report typos?

(Also closed the issue on accident, misclicked.)

[2016-12-11 10:24] mikeiscoding commented on #11992
I just copy-pasted the original text and it turns out to be a capital 'O' after all. I should've done that before my previous comment. Sorry guys.

Closing the issue.

[2016-12-11 10:24] #11992 closed

[2016-12-11 12:15] raisedadead commented on #11995
Issue fixed.

[2016-12-11 12:15] #11995 closed

[2016-12-11 12:19] raisedadead commented on #9199
Nope we need a way to detect global variables, stop the execution of tests and show a warning to users why the code can't be run.

or

Execute the tests in some isolated mechanism , that avoids this conflict.

[2016-12-11 12:29] raisedadead commented on #11982
@NatashaRocha thanks a lot for the issue.

JavaScript Challenges currently show the console.log of the last statement of the Seed (Editor) code that is executed by the code runner.

In case of a function, as seen in some challenges it is the output of function's return statement.

This is usually parsed via a console.log

Yes, I agree in some cases like this challenge we need/expect an output diff

[2016-12-11 12:40] raisedadead commented on #11980
@JohnnyBizzel apologies the wiki is deprecated. Please head over to our forum:
https://forum.freecodecamp.com.

You can look for updated guides to deploy, and also seek assistance from fellow campers on this.

[code]

[2016-12-11 12:45] raisedadead commented on #11984
@szrharrison Thanks Scott. You absolutely rock! Would you interested in helping us out more by logging such grammar issues?

@ajain17 please make a pull request, whenever you are ready, and thanks for taking the interest in fixing these.

[2016-12-11 13:54] educrvz commented on #11996
Thank you for taking the time to read my issue. After reading it through a few times I understand the instructions and they are correct.

I believe it would help the user if you could:

Change the instructions, so that target1 shakes. This would make it visually clear to the user, that all buttons and btn have classes animated and btn-primary, but on #target1 has all 3 (animated, btn-primary and s

[2016-12-11 13:55] anasibrahimgm opened #11999 "i have tried this js code on my browser and it 100% works, but when i try it on the site , it doesn't"
Challenge [Make Object Properties Private](https://www.freecodecamp.com/challenges/make-object-properties-private#?solution=var%20Car%20%3D%20function()%20%7B%0A%09%09%20%20%2F%2F%20this%20is%20a%20private%20variable%0A%09%09%20%20var%20speed%20%3D%2010%3B%0A%0A%09%09%20%20%2F%2F%20these%20are%20public%20methods%0A%09%09%20%20this.accelerate%20%3D%20function(change)%20%7B%0A%09%09%20%20%20%20speed

[2016-12-11 14:08] MHASSS commented on #11975
I have not yet been able to complete anymore challenge, I'm starting to give up on freecodecamp.

[2016-12-11 15:19] andy2577 opened #12000 "No repeats please."
Unresponsive script warning.
When I run this script my browser hangs-up. When I try same script running on https://repl.it/languages/javascript   I get expected results. However not on FreeCodeCamp site. It might be only an Ubuntu issue, however I thought that is worth it to submit just in case someone else has the same issue.

If you change" i < n"; to "i < n-1" in generate function for permutati

[2016-12-11 19:39] szrharrison commented on #11984
@raisedadead Absolutely! I'll keep mentioning things as I go through the program. Is submitting issues the best way for me to bring them to attention or is there some other way that would be preferable?

[2016-12-11 19:51] ajain17 commented on #11984
As you see issues/enhancements, you can create an issue and someone will fix it asap. Any outstanding issues are picked up by contributors sooner or later.

[2016-12-11 19:54] AstiV commented on #9368
+1

[2016-12-11 20:39] systimotic commented on #11999
Hi @anasibrahimgm! Thank you for reporting this issue.

This is not an issue with Free Code Camp, it is an issue with your code.
If I run `myBike.setGear(2)` it returns the number I passed it, but if I call `myBike.getGear()` without any arguments it returns `undefined`.

If you need coding help, please click the "Help" button on the challenge instead.

If you think I'm wrong in closing this issue

[2016-12-11 20:39] #11999 closed

[2016-12-11 20:47] systimotic commented on #11975
Hi @MHASSS! Thank you for reporting this issue.

I'm sorry for the trouble.
I can not reproduce your issue. Could you help us out by providing some additional details?

Does the issue also occur in a different browser?
Are you behind a firewall, VPS, proxy, or anything similar?
Is there any output in the developer console?

[2016-12-11 21:59] QuincyLarson commented on #11980
@raisedadead OK - I've added this warning, which will show up on every page of the GitHub wiki: https://forum.freecodecamp.com/c/wiki

[2016-12-11 21:59] #11980 closed

[2016-12-11 22:29] Sidar123 opened #12003 "hello <h1>"
Challenge [Say Hello to HTML Elements](https://www.freecodecamp.com/challenges/say-hello-to-html-elements#?solution=%0A%3Ch1%3EHello%3C%2Fh1%3E%0A%3Ch1%3E%20my%20name%20is%20sidar%3C%2Fh1%3E%20%0A%3Ch2%3E%20I%20have%20no%20idea%20what%20to%20do%20now%20%3A)%20%3C%2Fh2%3E%0A%0A%3Ch3%3E%20how%20can%20I%20go%20to%20the%20next%20level%3C%2Fh3%3E%0A%3Ch4%3E%20I%20am%20still%20bussy%20with%20writing%20%

[2016-12-11 22:33] Manish-Giri commented on #12003
@Sidar123 You're supposed to write `Hello World` between your `h1` tags. Once you do that, click on "run tests" on the left!

This is the pattern for all the challenges here on FreeCodeCamp. Write your code according to the instructions on the left, then click on "Run Tests" to proceed to the next challenge. Happy Coding!

[2016-12-11 22:38] Sidar123 commented on #12003
@Manish-Giri  I am new here :) I try to find my way. I think githup is not the place to set the questions :) thank you for your quick answer!

[2016-12-11 22:41] Manish-Giri commented on #12003
@Sidar123 Yes, there is a [Help Room](https://gitter.im/FreeCodeCamp/Help) which you can visit for any help with these challenges! Github is more of a place to report issues with the FCC website itself.

[2016-12-11 22:50] kilocycle commented on #11965
@erictleung @Octopiman I am having the same issue. Can only scroll to the beginning of line 71. I'm using Firefox on Win10. Pressing 'Enter' allows me to proceed further.

[2016-12-11 22:52] shapir opened #12004 "One test which should pass fails - beats me"
<strong>getIndexToIns([5, 3, 20, 3], 5) should return 2. fails - not sure why</strong>

Also not sure why console.log does not work for me, so I can't debug effecively.

Challenge [Where do I belong](https://www.freecodecamp.com/challenges/where-do-i-belong#?solution=%22use%20strict()%22%3B%0A%0Afunction%20getIndexToIns(arr%2C%20num)%20%7B%0A%20%20%2F%2F%20Find%20my%20place%20in%20this%20sorted%20

[2016-12-11 22:56] Manish-Giri commented on #12004
@shapir If you study the documentation on `.sort()` linked in the challenge, you'll find -

[2016-12-11 23:07] shapir commented on #12004
Thanks, @Manish-Giri that was it - I've surely learned something new today!
Changed code as below - worked fine :-)

arr.sort(compareNumbers);

function compareNumbers(a, b) {
  return a - b;
}

[2016-12-11 23:07] #12004 closed

[2016-12-12 00:14] Bouncey opened #12006 "Markup generated is different on the client or server"
When `gulp` is running:

* I open a window and navigate to `localhost:3000` then close this window,
* without stopping `gulp`,
* I open a new tab and navigate to `localhost:3000` I get this warning in my console

This can happen when `makeToast` is dispatched on mount.

[2016-12-12 04:26] raisedadead commented on #12003
Thanks @Manish-Giri and @Sidar123

Happy coding!

[2016-12-12 04:26] #12003 closed

[2016-12-12 07:29] #11984 closed

[2016-12-12 07:50] trinhtc opened #12007 "Challenge profile lookup - Can't pass a test case"
Challenge URL : https://www.freecodecamp.com/challenges/profile-lookup

[code]

Description:
lookUpProfile("Bob", "number") has returned "No such contact" but can't pass through the test.

[2016-12-12 08:25] faioc commented on #2393
This one work

<div class="container-fluid">
  <h3 class="text-primary text-center">jQuery Playground</h3>
  <div class="row">
    <div class="col-xs-6">
      <div class="well">

      </div>
    </div>
    <div class="col-xs-6">
      <div class="well">

      </div>
    </div>
  </div>
</div>

[2016-12-12 08:25] faioc commented on #2393
<div class="container-fluid">
  <h3 class="text-primary text-center">jQuery Playground</h3>
  <div class="row">
    <div class="col-xs-6">
      <div class="well">

      </div>
    </div>
    <div class="col-xs-6">
      <div class="well">

      </div>
    </div>
  </div>
</div>

[2016-12-12 08:58] raisedadead commented on #11885
@zr0n do you have any updates? We could use your help in reproducing this.

[2016-12-12 08:58] #11996 closed

[2016-12-12 08:59] raisedadead commented on #11965
Closing as a duplicate of #7847

[2016-12-12 08:59] #11965 closed

[2016-12-12 09:25] ARAGX opened #12008 "What's wrong with my string?"
Challenge [Escaping Literal Quotes in Strings](https://www.freecodecamp.com/challenges/escaping-literal-quotes-in-strings#?solution=%0Avar%20myStr%3D%20%22I%20am%20a%5C%22double%20quoted%5C%22string%20inside%5C%22double%20quotes%5C%22%22%3B%20%2F%2F%20Change%20this%20line%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64; rv:50.0) Gecko/20100101 Firefox/50.0</code>.

[2016-12-12 09:38] raisedadead commented on #12008
The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-12-12 09:38] #12008 closed

[2016-12-12 11:55] ajitkumarsahu commented on #11994
hey giri thanx yar .
It's great you helped me .
and by the way It worked...........😀😀😀😀😀😀

On Sun, Dec 11, 2016 at 8:47 AM, Manish Giri <notifications@github.com>
wrote:

[2016-12-12 13:03] Kobe1Kenobi opened #12010 "Dead links hash symbol challenge - Run tests error"
Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Dragon/52.15.25.665 Chrome/52.0.2743.82 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

When I

[2016-12-12 13:09] raisedadead commented on #12010
The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.