[2016-02-01 21:03] thinkhuman opened #6659 "phoneticLookup("") returns"
Challenge [Using Objects for Lookups](http://www.freecodecamp.com/challenges/using-objects-for-lookups#?solution=%2F%2F%20Setup%0Afunction%20phoneticLookup(val)%20%7B%0A%20%20var%20result%20%3D%20%22%22%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20var%20lookup%20%3D%20%7B%0A%20%20%20%20%22alpha%22%3A%20%22Adams%22%2C%0A%20%20%20%20%22bravo%22%3A%20%22Boston%22%2C%0A%20%20

[2016-02-01 21:03] thinkhuman opened #6660 "phoneticLookup("") returns undefined in the test, but it won't pass"
Challenge [Using Objects for Lookups](http://www.freecodecamp.com/challenges/using-objects-for-lookups#?solution=%2F%2F%20Setup%0Afunction%20phoneticLookup(val)%20%7B%0A%20%20var%20result%20%3D%20%22%22%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20var%20lookup%20%3D%20%7B%0A%20%20%20%20%22alpha%22%3A%20%22Adams%22%2C%0A%20%20%20%20%22bravo%22%3A%20%22Boston%22%2C%0A%20%20

[2016-02-01 21:49] OriBon opened #6661 "Text Overlapping On Map Page"
It appears that there is some overlapping of the module/section names over the estimated completion time. This does not happen on Chome when I tested it, only on Firefox Dev Edition and regular Firefox.
Common issue? Or my own browsers?

My dimensions are:
Browser window width:	1920
Browser window height:	905
Screen width:	1920
Screen height:	1080

![screenshot from 2016-02-01 16 42 14](https://cl

[2016-02-01 21:50] SaintPeter commented on #6661
@hallaathrad Can you please take a look at this one?

[2016-02-01 21:54] HoBi commented on #6660
The same for me. The test is [here](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/fb83f96ea5cab4f9e43104183a081b609d1544b6/seed/challenges/01-front-end-development-certification/basic-javascript.json#L3473).

Btw., if I add this line before return, it tells me everything is not undefined -> "false".

[code]

[code]

[2016-02-01 21:55] HoBi commented on #6659
Duplicate of #6660.

[2016-02-01 22:05] adibasy commented on #6659
ThinkHuman you need to take out the += and just make is =

[2016-02-01 22:06] amanda-wong opened #6662 "Range error when example code is duplicated"
Challenge [Passing Values to Functions with Arguments](http://www.freecodecamp.com/challenges/passing-values-to-functions-with-arguments#?solution=%2F%2F%20Example%0Afunction%20ourFunction(a%2C%20b)%20%7B%0A%20%20console.log(a%20-%20b)%3B%0A%7D%0AourFunction(10%2C%205)%3B%20%2F%2F%20Outputs%205%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0Afunction%20myFunction(a%2Cb)%20%7B%0A%20%20c

[2016-02-01 22:09] hallaathrad commented on #6661
The issue is that Lato is not being loaded... like on many other issues I've seen before, this is a common issue (for this and other fonts) while using some linux distros

[2016-02-01 22:18] ltegman commented on #6659
Closing as a duplicate. Thanks and happy coding!

[2016-02-01 22:18] #6659 closed

[2016-02-01 22:20] ltegman commented on #6660
This is not a test problem. If you need challenge help please visit the [Help Chat](https://gitter.im/FreeCodeCamp/HelpJavaScript). Thanks and happy coding!

[2016-02-01 22:20] #6660 closed

[2016-02-02 00:12] thinkhuman commented on #6660
If the console in the problem returns "undefined", and the test still won't pass--because 'undefined' isn't being returned--then that's a problem with your FreeCodeCamp environment. I've also tested this code outside the FreeCodeCamp environment, and it works perfectly.

[2016-02-02 00:13] emilyhitchings commented on #6655
The same is happening to me right now, did you end up figuring out what was going on?

[2016-02-02 00:17] kayley24 commented on #6655
I didn't have the code in the right place. I put it on the regular buttons
instead of the radio buttons.
On Feb 1, 2016 7:14 PM, "Emily" <notifications@github.com> wrote:

[2016-02-02 00:20] ltegman commented on #6660
By appending undefined to an empty string with your `result += lookup[val];` code you are implicitly type converting `undefined` to `'undefined'`, which is not the same thing.

[2016-02-02 01:36] melodysmiles commented on #6651
Me too.
Chrome 48.0.2564.97 m doesn't work, but Firefox is fine.

[2016-02-02 02:32] thinkhuman commented on #6660
Nope, that's not what I'm seeing in the environment. But I've learned one thing: this will be the last FreeCodeCamp issue I attempt to file.

[2016-02-02 03:14] NothingLeft opened #6664 "Correct code and browser zoom on font size challenge, but unable to pass."
I am using Internet Explorer with zoom setting at 100%. Any help would be greatly appreciated.
![font size code](https://cloud.githubusercontent.com/assets/16979105/12738671/7ecc0036-c928-11e5-8ec1-a2ffdc0dbb9f.PNG)

[2016-02-02 03:44] #6617 closed

[2016-02-02 03:51] SaintPeter commented on #6641
I would be open to an example that more clearly illustrates what is being added during the join operation.  The key would be something that alternates, like `e i e i o` maybe?

In reality we don't use `join` with words much.

We just need a good illustration.

[2016-02-02 04:22] #6648 closed

[2016-02-02 04:24] #6657 closed

[2016-02-02 04:33] SaintPeter commented on #6652
Your Journeyman project could be to file the PR to fix this.  Good catch!

[2016-02-02 04:38] SaintPeter commented on #6661
@hallaathrad
Could we have a "safer" fallback font?

[2016-02-02 04:43] SaintPeter commented on #6664
Which version of IE?  Which operating system?

[2016-02-02 05:08] eranmor opened #6665 "Rangeerror : Maximum call stack size exceeded"
Challenge [Passing Values to Functions with Arguments](http://www.freecodecamp.com/challenges/passing-values-to-functions-with-arguments#?solution=%2F%2F%20Example%0Afunction%20ourFunction(a%2C%20b)%20%7B%0A%20%20console.log(a%20-%20b)%3B%0A%7D%0AourFunction(10%2C%205)%3B%20%2F%2F%20Outputs%205%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0Afunction%20myFunction(c%2C%20d)%7B%0A%20%

[2016-02-02 06:00] vtamara commented on #6496
Este archivo había sido traducido antes del cambio de currículo.  Por error se habían perdido las traducciones.  Por lo visto pronto volveran a ser integradas las traducciones que ya se habían hecho ver: https://github.com/FreeCodeCamp/FreeCodeCamp/pull/6562

[2016-02-02 06:06] Lewis65 commented on #3264
It seems like this issue is unnecessarily frustrating or hard to track down for a sample project. Yes, there is read-search-ask and such, but is this the type of thing we should be asking campers to understand at this level? I've spent 1 day on building the html, css, and javascript and two weeks googling and trying to get the API to work. The documentation is pretty bad for a beginner and there i

[2016-02-02 06:09] jestintab commented on #6241
@tommygebru Your setGear function is wrong. It should accept the gear value and assign it to the gear variable and getGear fn will return the value.

[2016-02-02 06:48] Sajuuk51 opened #6666 "Objective thinks an actual palindrome should return false?"
Challenge [Check for Palindromes](http://www.freecodecamp.com/challenges/check-for-palindromes#?solution=%2F*%0AObjective%20thinks%20a%20palindrome%20should%20return%20false%3F%0A%0AA%20palindrome%20is%20a%20word%20or%20sentence%20that's%20spelled%20the%20same%20way%20both%20forward%20and%20backward%2C%20ignoring%20punctuation%2C%20case%2C%20and%20spacing.%0A%0AYou'll%20need%20to%20remove%20all%20

[2016-02-02 06:52] sludge256 commented on #6666
Do not remove numbers.

[2016-02-02 06:52] sludge256 commented on #6665
Try refreshing the page or restarting your browser.

[2016-02-02 06:53] sludge256 commented on #6662
Try refreshing the page or restarting your browser.

[2016-02-02 06:56] Sajuuk51 commented on #6666
Ahh, thanks.

[2016-02-02 06:56] #6666 closed

[2016-02-02 07:07] raisedadead commented on #6665
Duplicate of #6183

[2016-02-02 07:09] raisedadead commented on #6662
Duplicate of #6183

[2016-02-02 07:15] sludge256 commented on #6662
Closing as duplicate. Thanks @raisedadead

[2016-02-02 07:15] #6662 closed

[2016-02-02 07:15] sludge256 commented on #6665
Closing as duplicate. Thanks @raisedadead

[2016-02-02 07:15] #6665 closed

[2016-02-02 07:43] rrenwick commented on #5425
Sorry @SaintPeter, I have to agree with @andreykaipov & @sloyless - `<i>` by itself is not even recommended by the W3C anymore - according to this link they don't consider it semantic either: [https://www.w3.org/International/questions/qa-b-and-i-tags](https://www.w3.org/International/questions/qa-b-and-i-tags)
While this is not a problem with the site, I believe it would be beneficial for new lea

[2016-02-02 07:52] ltegman commented on #5425
@rrenwick. That article simply suggests that authors carefully consider if there is a more semantically appropriate tag when using an `<i>`. I think this thread and a couple others like it are proof that we have carefully considered if another tag would be more semantically appropriate and the fact is, it wouldn't.

[2016-02-02 08:00] wolverine2k commented on #6641
You are right. I particularly like the below example stolen from w3schools (http://www.w3schools.com/jsref/jsref_join.asp)

var fruits = ["Banana", "Orange", "Apple", "Mango"];
var energy = fruits.join(" and ");
console.log(energy);
Output: Banana and Orange and Apple and Mango

[2016-02-02 08:05] sludge256 commented on #5425
For further consideration:

[Source](https://fortawesome.github.io/Font-Awesome/examples/)

[2016-02-02 08:06] rrenwick commented on #5425
Fair enough @ltegman, you guys obviously have a better insight to the issues and learning problems encountered - I was just surprised to encounter this tag still being recommended.

[2016-02-02 08:14] zhylninc commented on #6633
err:
win10+chrome

good:
win10+firefox

[2016-02-02 08:14] zhylninc commented on #6633
#6642
only after landing

//! moment-timezone.js
//! version : 0.5.0
//! author : Tim Wood
//! license : MIT
//! github.com/moment/moment-timezone

vendor-main-00eff8238f.js:formatted:17423Uncaught TypeError: Cannot read property 'join' of null

function i(a) {
var b = a.toTimeString()
, c = b.match(/(.+)/);
c = c && c[0] ? c[0].match(/[A-Z]/g).join("") : b.match(/[A-Z]{3,5}/g)[0], //error line

[2016-02-02 08:48] iritu opened #6668 "there is no way to go to the next " chalanges" it doesnt work for 2 days"
Challenge [Escape Sequences in Strings](http://www.freecodecamp.com/challenges/escape-sequences-in-strings) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.97 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-02-02 08:58] AkiraLaine commented on #6668
@iritu Your code works for me. So, I'm assuming this is the same problem as #6633.

Please take a screenshot of your ```console``` and ```network``` tabs (Chrome Dev Tools) and post them on the the above issue :smile:

[2016-02-02 08:58] #6668 closed

[2016-02-02 09:15] nickrobson commented on #6666
Ironic that the issue with the palindromic ID of 6666 is asking about palindromes..

[2016-02-02 09:51] iritu commented on #6633
It stucks in this position, not working, for 2 days, tried in Edge and Chrome, nothing helps, it worked perfectly a few days ago so please don't blame my WIN10 or my computer it something to do with your system, please do check it.

![1](https://cloud.githubusercontent.com/assets/8612743/12745624/f8b4ca98-c9a2-11e5-92a8-ea4220cb3845.GIF)

[2016-02-02 10:03] QuincyLarson commented on #6232
@bugron @jniro any progress on this? We are almost ready to launch the Spanish translation this week. Russian will be possible as soon as the translation work is done :)

[2016-02-02 10:09] raisedadead commented on #6633
@iritu Can you use Firefox meanwhile? seems to have worked for others in the comments above.

[2016-02-02 10:09] Greenheart opened #6669 "Curriculum Request: Create challenges to teach security and debugging"
**Curriculum Request: Create challenges to teach security and debugging.**

Pre-face:

---

### Ideology :
- Cover important security topics through challenges.
- Challenges should have user stories to be completed, for assessing the user progress.
- Award a security-focused certification ?

### List of resources to check and create the curriculum :
- [Interactive tutorial on XSS](https://xss-game

[2016-02-02 10:11] iritu commented on #6633
Yes, this is what I did, try to fix the problem with Chrome, please....Tnks.

[2016-02-02 10:13] bugron commented on #6232
@QuincyLarson actually, I don't know. No one has contacted me about the Russian translation.

[2016-02-02 11:03] kronengold opened #6670 "Save or Print a Certificate"
The certificate, specifically the Front End but probably the others too, cannot be printed on a single page or saved as an image.

The certificate page is built with an image and overlaying name and date. When you try to save the image, it is saved without the name and date. The print of the page results in a too large images that does not fit on a single page.

Quincy suggested I'll check for a s

[2016-02-02 11:16] alistermada commented on #6664
@SaintPeter I notice that the test uses the `Number.parseInt()` method which [Internet Explorer does not support](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/parseInt#Browser_compatibility). The built-in `parseInt()` function, however,  is [compatible in all browsers](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/parseI

[2016-02-02 11:19] rfprod commented on #6232
@bugron I can take part in making Russian translation in general. Can do ru-en en-ru translations pretty fast and of high quality, but I'm pretty busy lately. I could, for example, do translation of at least one item (exercise) per day. Will be able to provide more certainty not earlier than I finish voting app, which will hopefully happen soon. Are there any recommendations except https://github.

[2016-02-02 11:23] AkiraLaine commented on #6651
This is the same issue as #6633 - I'll close this issue since it's a duplicate.

[2016-02-02 11:23] #6651 closed

[2016-02-02 11:24] bugron commented on #6232
@rfprod don't know if we have anything else than Vladimir's article. If you're going to work on this take a look at this repo https://github.com/alnero/FCC-Russian-Translation, this may decrease the translation time.

[2016-02-02 12:15] elvinege commented on #5884
`function myTest(val) {
  var answer = "";
  // Only change code below this line
  switch (val) {
    case 1:
      answer = "alpha";
      break;

    case 2:
      answer = "beta";
      break;

    case 3:
      answer = "gamma";
      break;

    case 4:
      answer = "delta";
  // Only change code above this line
  return answer;
  }
}
// Change this value to test
myTest(1);`

I couldn't fin

[2016-02-02 12:18] bhaskar20 commented on #6641
Example avoiding spaces alltogether for simplicity
var joinMe = ["Batman","kills", "Joker!"];
var joinedString = joinMe.join("-");
console.log(joinedString);

Output: joinedString = "Batman-kills-Joker!"

[2016-02-02 12:26] raisedadead commented on #5884
@elvinege
You have a problem here:
[code]
move the `}` after `return answer` to line marked with `<<--------------------` below
[code]

if you need further help, please visit [Help Chat](https://gitter.im/FreeCodeCamp/Help)

[2016-02-02 12:34] alistermada commented on #6670
Would it possible to get the base certification image plus the date, name, and verification link all in one SVG element / file? That might make it easier to convert to a printable format like PNG.

[2016-02-02 13:07] tatidesigner opened #6671 "Error "404:We couldns/]"

[2016-02-02 13:07] tatidesigner opened #6672 "Error "404:We couldnt find path/_JailedSite.js""
This msg keep coming on the top of my course... Does anybody knows how to fix it?

https://dl.dropboxusercontent.com/u/74034301/img.jpg

[2016-02-02 13:14] rfprod commented on #6232
@bugron this information is not public, but can be shared privately in case of substantial need.

[2016-02-02 13:19] meenareddyv commented on #6639
Hi,

my code is

<style>
  .red-text {
    color: red;
      }
  p{
    font-size: 16px;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
<p class="red-text"> Purr jump eat the grass rip the couch scratched sunbathe, shed

[2016-02-02 13:36] bugron commented on #6232
@rfprod good point, sorry.

[2016-02-02 13:38] dmitriz opened #6674 "Make examples simpler, cleaner, more focused and future-facing?"
It might be just me, I find this example too "hacky" for what it does:

http://www.freecodecamp.com/challenges/add-different-padding-to-each-side-of-an-element

This element
[code]
is put outside of the yellow box, yet it is "brutally" pushed into it by applying the negative margin. Note that the exercise is about **padding**, so that additional complexity feels distracting with no clear purpose.

[2016-02-02 14:12] cladddd commented on #6639
Hi my code looked like this:
<style>
  .red-text {
    color: red;
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed
everywhere stretching attack your ankles chase the red dot, hairball run
catnip eat the grass sniff.
</p>
<p>Purr jump eat the grass rip the couch scratched su

[2016-02-02 14:23] minminimal opened #6675 "Bug with Factorialize a Number bonfire?"
Challenge [Factorialize a Number](http://www.freecodecamp.com/challenges/factorialize-a-number#?solution=function%20factorizeMe(num)%20%7B%0A%20%20%0A%20%20var%20myArray%20%3D%20%5B%5D%3B%0A%20%20%0A%20%20var%20multiplyMe%20%3D%201%3B%0A%20%20%0A%20%20for(var%20i%20%3D%201%3B%20i%20%3C%3D%20num%3B%20i%2B%2B)%7B%0A%20%20%20multiplyMe%20*%3D%20myArray.push(i)%3B%0A%20%20%7D%0A%20%20%0A%20%20%2F%2Fva

[2016-02-02 14:30] mrthnmn commented on #6611
That did it! Thank you! I tried searching the site for the problem but couldn't find anything.

[2016-02-02 14:30] #6611 closed

[2016-02-02 14:37] Shumbasdad opened #6676 "unable to submit and move to next lesson."
After "Use Hex Code for Specific Colors" when I submit the whole of FCC crashes on my computer. This has not happened before. If i refresh it will come back but as before unable to pass this point. Any ideas?

[2016-02-02 14:54] camilodelvasto commented on #3264
@Lewis65 Though I somehow agree with you, CORS is a real issue when you are building something for real, so learning how to deal with it really helps. Anyhow, there are free APIs out there that allow you to perform essentially the same operations (json requests, object manipulation, etc) and perhaps FCC could have a list of those that will allow anything on codepen to run without issues. I have fo

[2016-02-02 15:03] raisedadead commented on #6675
@minminimal
Your logic is correct but you have renamed the original function name from `factorialize` to `factorizeMe`.

The test case look for a function called `factorialize` and hence fail.

Rectify and retry. Goodluck!

Please ask your further queries at [Help Chat](https://gitter.im/FreeCodeCamp/Help).

[2016-02-02 15:04] #6671 closed

[2016-02-02 15:14] Em-Ant opened #6677 "back end projects submitted in the past are still displayed as 'basejumps'"
![screenshot - 02022016 - 16 06 12](https://cloud.githubusercontent.com/assets/12955734/12753526/cb5bd5da-c9c7-11e5-9674-14970089330e.png)

from my profile http://www.freecodecamp.com/em-ant

[2016-02-02 15:20] fewspider opened #6678 "suggest online editor add comment support"
`command + /` or `control + /` should be toggle code comment.
Thanks this awesome repo and people who work on it.

[2016-02-02 16:29] hallaathrad commented on #6661
This is worth some testing. The site is serving it's own ttf files.
Please see [#6679](https://github.com/FreeCodeCamp/FreeCodeCamp/pull/6679) serving woff2 files directly from google's font cdn and I'd have @OriBon test it, if he'd be so kind.

[2016-02-02 16:34] hallaathrad commented on #6208
Sounds like something React will be able to help us with ;)

[2016-02-02 17:08] jniro commented on #6232
I am in the process of finishing the getting started Russian translation.

Can someone explain how merging works with translation?

On Tuesday, February 2, 2016, Arsen Melikyan <notifications@github.com>
wrote:

[2016-02-02 17:21] rfprod commented on #6232
@jniro do you mean <a href="https://github.com/vtamara/fcc_trad/blob/master/Recomendaciones.EN.md#2-technical-procedure-to-create-a-translated-file" target=_blank>this</a>?

[2016-02-02 17:24] hallaathrad opened #6680 "Using live-filter to hide completed challenges"
Typing 'incomplete' in our new live-filter should be able to only show these, and hide the already completed challenges. And the same for 'completed'...

 Anyone?

[2016-02-02 18:02] dcofjapan commented on #3881
Pretty much everything was easy to follow until javascript. it has been an uphill battle since then. I don't want to have to ask for the answer in help chat or look on the wiki for the answer or search in the issues for the answer. For example there are examples such as on this challenge: http://www.freecodecamp.com/challenges/adding-a-default-option-in-switch-statements
 but statement1 told me no

[2016-02-02 19:03] bugron commented on #6232
@jniro when you open a PR I'll QA and merge.

[2016-02-02 19:45] sebbe88 commented on #6633
Firefox works for me. Waiting for Chrome fix, please :)

[2016-02-02 20:04] jlogan81 commented on #6664
<style>
  .red-text {
    color: red;
  }
  p {
    font-size: 16px;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
<p>Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip the couch sleep in the

[2016-02-02 20:08] raisedadead commented on #6664
@jlogan81 The fix is on its way, it will reach to the main website once the PR is merged shortly. :smiley:

[2016-02-02 20:32] sludge256 commented on #6676
Is it just stuck on the success pop up?
Are you using Chrome? If so please test it out with FireFox and report back.

[2016-02-02 20:50] ltegman commented on #6675
@raisedadead Is correct that you need to keep the original function name in order for the tests to properly called the function. Thanks and happy coding!

[2016-02-02 20:50] #6675 closed

[2016-02-02 21:03] qmikew1 commented on #6633
There are 64 and 32 bit Chrome versions. Saw Windows 7 mentioned. Any of the posts mention/ include this info? (i.e., which version of Win7 ( (32/64) not sure that it would be relevant though)

[2016-02-02 21:18] noncasus commented on #6633
No issues here but I'm usually signed out so it could be that one must sign in to get past this issue.

Win10/Chrome 48.0.2564.97

[2016-02-02 21:42] annzach opened #6683 "Not tracking the solved challenges"
I have completed all the challenges in 'Responsive Design with bootstrap' in the front end development.But few of the challenges are not marked as solved.
Seek your help

[2016-02-02 22:02] OriBon commented on #6661
@hallaathrad To test it do I just check beta? If so, it looks better on there.

![screenshot from 2016-02-02 17 00 17](https://cloud.githubusercontent.com/assets/10662057/12765886/bfd2972e-c9ce-11e5-8b3f-207fa7394514.png)

[2016-02-02 22:04] hallaathrad commented on #6661
Not quite, my friend. Beta is not showing the changes. Let me see if I can figure out a way for you to try it there.
I'll edit this comment on my progress.

[2016-02-02 22:08] alesolher opened #6684 "I CAN`T"
Challenge [Use CSS Selectors to Style Elements](http://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3Ablue.%3B%7D%0A%3C%2Fstyle%3E%0A%0ACatPhotoApp%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat

[2016-02-02 22:10] samoguche opened #6685 "The "Go to next challenge" button doesnt load the next challenge"
After rounding up the first phase of the basic html, it doesnt load the next challenge.

[2016-02-02 22:13] hellawindy commented on #6680
there were a button to do this. i don't why they removed! i think your suggestion would be a good alternative

[2016-02-02 22:14] raisedadead commented on #6685
@samoguche Is this a possible duplicate of #6633 ? If yes, Do you mind closing this issue and continue the discussion there, with screenshots of the error?

Thanks.

[2016-02-02 22:15] hallaathrad commented on #6680
We removed it because we didn't see it as a relevant feature worth having it's own separate button... but I do think we can possibly integrate it in the filter, as it won't take any additional space.

[2016-02-02 22:15] ltegman commented on #6684
Github issues are not for challenge help. Please visit the [Help Chat](https://gitter.im/FreeCodeCamp/Help) if you need challenge assistance. Thanks and happy coding!

[2016-02-02 22:15] #6684 closed

[2016-02-03 00:07] alistermada commented on #6680
So basically something like this but live and without the filter buttons?
![image](https://cloud.githubusercontent.com/assets/12993334/12768419/21846240-ca42-11e5-900c-1f5fa6d476ec.png)

GitHub makes it fairly clear how to use their text-based filters by making "is: issue is:open" the default when you open the issue tab. Should we have something like "is: incomplete" be the default setting when us

[2016-02-03 00:33] otternonsense commented on #6591
I ran through the challenge again today and it produced a certificate so this can be closed. The challenge looked slightly different (word Sample on certificate of step one and different verbiage in instructions) so it may have been an update the fixed the issue.

[2016-02-03 00:33] #6591 closed

[2016-02-03 00:49] brutalcrozt commented on #6633
@sebbe88 can you try with closing the tab and try again with chrome?
or try with signed out and sign in again?

[2016-02-03 01:05] SaintPeter commented on #6641
I am not above stealing, but maybe we could use Veggies or something?
[code]

[2016-02-03 01:08] #6335 closed

[2016-02-03 01:08] #6664 closed

[2016-02-03 01:09] QuocAnhVu opened #6687 "Challenge statement for "Change the Font Size of an Element" is unclear."
Challenge [Change the Font Size of an Element](http://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20i

[2016-02-03 01:10] QuocAnhVu commented on #6687
Just kidding. I didn't read.

[2016-02-03 01:24] krowlaicos opened #6688 "`If` statements don't work when put together as `if else` but work individually"
Challenge [Profile Lookup](http://www.freecodecamp.com/challenges/profile-lookup#?solution=%2F%2FSetup%0Avar%20contacts%20%3D%20%5B%0A%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%22firstName%22%3A%20%22Akira%22%2C%0A%20%20%20%20%20%20%20%20%22lastName%22%3A%20%22Laine%22%2C%0A%20%20%20%20%20%20%20%20%22number%22%3A%20%220543236543%22%2C%0A%20%20%20%20%20%20%20%20%22likes%22%3A%20%5B%22Pizza%22%2C%20

[2016-02-03 02:04] mitoba opened #6689 "I think syntax is wrong"
Challenge [Accessing Nested Arrays in JSON](http://www.freecodecamp.com/challenges/accessing-nested-arrays-in-json#?solution=%2F%2F%20Setup%0Avar%20myPlants%20%3D%20%5B%0A%20%20%22flowers%22%3A%20%5B%0A%20%20%20%20%20%20%22rose%22%2C%0A%20%20%20%20%20%20%22tulip%22%2C%0A%20%20%20%20%20%20%22dandelion%22%0A%20%20%20%20%5D%2C%0A%20%0A%20%0A%20%20%20%22trees%22%3A%20%5B%0A%20%20%20%20%20%20%22fir%22%

[2016-02-03 02:12] ltegman commented on #6689
The original seed code for this challenge is fine. If you need to get back to it you can use the reset button on the side. Please visit the [Help Chat](https://gitter.im/FreeCodeCamp/Help) if you need further assistance. Thanks and happy coding!

[2016-02-03 02:12] #6689 closed

[2016-02-03 02:15] alistermada commented on #6688
Your `for` loop doesn't check past the first contact object in the `contacts` array because your `lookUp()` function is returned before the loop goes to the next iteration.

For example, when looking for the contact with the `firstName` of "Kristian", your function checks the first contact to see if its `firstName` is equal to "Kristian" and then returns "No such contact" if it isn't before checki

[2016-02-03 02:37] #6683 closed

[2016-02-03 02:40] sludge256 commented on #6688
Please use the help chat. Thanks!

[2016-02-03 02:40] #6688 closed

[2016-02-03 03:04] cwkatzmann commented on #6183
+1 for this issue. Using the latest Chrome. Refresh solves the problem.

[2016-02-03 03:06] ltegman commented on #6687
In the future please close the issue if you realize it is not a bug. Thanks and happy coding!

[2016-02-03 03:06] #6687 closed

[2016-02-03 03:07] dennislixin commented on #5896
The same error here.

![image](https://cloud.githubusercontent.com/assets/3445866/12771703/935673e6-ca6e-11e5-8081-9e303813cf94.png)

[2016-02-03 03:27] sludge256 commented on #5896
@dennislixin I believe your issue is actually related to https://github.com/FreeCodeCamp/FreeCodeCamp/issues/6633
Please try switching to FireFox for now.

[2016-02-03 03:39] brtong commented on #6655
`<form action="/submit-cat-photo">
    <div class="row">
      <div class="col-xs-6">
        <label><input type="radio" name="indoor-outdoor"> Indoor</label>
      </div>
      <div class="col-xs-6">
        <label><input type="radio" name="indoor-outdoor"> Outdoor</label>
      </div>`

[2016-02-03 04:03] doohyunkwon opened #6691 "Use the Bootstrap Grid to Put Elements Side By Side"
Challenge [Use the Bootstrap Grid to Put Elements Side By Side]

Is this what I was supposed to do? My buttons aren't side to side, but the program said I passed. (http://www.freecodecamp.com/challenges/use-the-bootstrap-grid-to-put-elements-side-by-side#?solution=%3Clink%20href%3D%22http%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E

[2016-02-03 04:44] ScottBrenner opened #6692 "Generate Random Whole Numbers with JavaScript: Instructions and test case do not match"
Challenge [Generate Random Whole Numbers with JavaScript](http://www.freecodecamp.com/challenges/generate-random-whole-numbers-with-javascript#?solution=var%20randomNumberBetween0and19%20%3D%20Math.floor(Math.random()%20*%2020)%3B%0A%0Afunction%20myFunction()%20%7B%0A%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0A%20%20return%20Math.floor(10*Math.random())%3B%0A%7D%0A) has an i

[2016-02-03 04:46] SaintPeter commented on #6692
Use this technique to generate and return a random whole number between 0 and 9.

The `20` is for the example code.

[2016-02-03 04:46] SaintPeter commented on #6692
Closing as not an issue.  Thanks and Happy Coding!

[2016-02-03 04:46] #6692 closed

[2016-02-03 04:52] SaintPeter commented on #6672
Where are you located?  Is there any chance that your ISP is injecting ads into your site?  Do you get any error messages in your browser console?

[2016-02-03 04:58] dennislixin commented on #5896
@sludge256 It works with FireFox. Thanks for you help.

[2016-02-03 05:22] caramiame commented on #6108
The code is correct but the test won't process the result. Phone simulation reflects the text on the buttons as directed.  Seems like a bug.  I even moved my id's in front of classes and still would not run.  When I reset the editor, id's followed classes, anyway.  Text reflects correctly but code will not allow user to advance.

RE:Give your button element with the id target1 the text #target1, e

[2016-02-03 05:28] Peajaycodes78 opened #6693 "Stand in Line"
Challenge [Stand in Line](http://www.freecodecamp.com/challenges/stand-in-line#?solution=function%20queue(arr%2C%20item)%20%7B%0A%20queue%20(%5B2%5D%2C%201)%3B%20%2F%2F%20Your%20code%20here%0A%20%20%0A%20%20return%20item%20(arr)%3B%20%20%2F%2F%20Change%20this%20line%0A%7D%0A%0A%2F%2F%20Test%20Setup%0Avar%20testArr%20%3D%20%5B1%2C2%2C3%2C4%2C5%5D%3B%0A%0A%2F%2F%20Display%20Code%0Aconsole.log(%22Bef

[2016-02-03 05:39] AkiraLaine commented on #6693
Hey @Peajaycodes78! Please visit our [main](https://gitter.im/FreeCodeCamp/FreeCodeCamp) room or our [help](https://gitter.im/FreeCodeCamp/Help) room if you need help.

GitHub is for issues only.

[2016-02-03 05:39] #6693 closed

[2016-02-03 05:58] alistermada commented on #6691
Your `<div class="col-xs-4">` elements shouldn't be nested inside each other.

This is not the expected output even though you technically passed all the tests. Looks like this challenge needs a test to ensure that `<div class="col-xs-4">` is only 1 level under `<div class="row">`

[2016-02-03 06:02] emilyanndavis commented on #6483
Hi there, what's the next step here? Does this sort of change need to be pushed through by someone in particular or approved by a critical mass before we can proceed, or would making the changes I proposed above be something I could pursue myself? (Clearly I've never done this before!)

[2016-02-03 06:25] gititGoro opened #6694 "Javascript execution error: TypeError: cannot read property 'length' of undefined"
I've ensured that the code I wrote runs perfectly on codepen. When I first copied it into the freecodecamp window and ran it, it couldn't understand the toLowerCase() string function. So I wrote my own. Then it gave the error in the title.
![bug](https://cloud.githubusercontent.com/assets/12531162/12774655/a26bf000-ca4f-11e5-8f3e-2780e780bb66.PNG)

Original code pen just to illustrate that it work

[2016-02-03 06:32] ltegman commented on #6694
Please provide us with a copy of the exact code you're trying to submit on Free Code Camp. I can't debug something on our website with a codepen link.

[2016-02-03 07:57] snow8261 commented on #6676
I have the same problem, I can not submit in chrome,but it is ok on firefox

[2016-02-03 07:59] AkiraLaine commented on #6676
Closing as this is the same issue as #6633

[2016-02-03 07:59] #6676 closed

[2016-02-03 08:13] snow8261 opened #6696 "Where does FCC store user data?"
Where does FCC store user data? Does it store in the local storage in user's pc or store in the fcc server? I switch from Chrome to firefox,but i found that I can not view my solved exercise in firefox?

[2016-02-03 08:30] AkiraLaine commented on #6685
@samoguche Are you using Chrome? If yes, please us FireFox and tell us if that solved the issue.

[2016-02-03 08:48] augmt commented on #6694
@gititGoro Your Codepen code (the `getCapitalizationVector` function to be specific) runs into an error when the `before` string is longer than the `after` string, as is the case with the first two tests in the Search and Replace challenge.

[2016-02-03 08:54] QuincyLarson opened #6697 "Streak is still broken"
Current Streak number seems flakey at best. It's supposed to have a 36 hour grace period since the most recent brownie point before it resets the streak, but that doesn't seem to be working.
![](https://www.evernote.com/l/AqQ3XyvQUF1Alr02lQqi39Wp4zlS-4LBLnsB/image.png)

[2016-02-03 08:58] smpvst736 opened #6698 "There is no code to uncomment"
It says to uncomment code but there is no code to uncomment.

[2016-02-03 08:58] brutalcrozt commented on #6697
any clue?

[2016-02-03 09:00] gititGoro commented on #6694
Thank you. My bad. Sorry for wasting your time.

On Wed, 3 Feb 2016 at 10:50 augmt <notifications@github.com> wrote:

[2016-02-03 09:22] #6694 closed

[2016-02-03 09:40] ColeDCrawford commented on #5845
Also looking forward to this, starting to learn D3 for some digital humanities data viz projects.

[2016-02-03 09:49] wolverine2k commented on #6641
+1 @SaintPeter

[2016-02-03 10:42] alistermada commented on #6483
@emilyanndavis Anybody can propose a change to FCC's source code if they want to. Usually for minor, non-critical changes, FCC's team leaves it up to contributors such as you and me to submit a pull request for someone on the team to review.

The team seems to be quite busy implementing some major features and improvements to FCC right now so a minor issue such as this is likely to be near the bot

[2016-02-03 10:45] QuincyLarson opened #6699 "Map is blank in Safari 8.0.8"
![](https://www.evernote.com/l/AqQQYulRD99Btps2JPAHudAfzs4SuGYw8-EB/image.png)

[2016-02-03 10:50] bugron commented on #6699
@QuincyLarson any errors in browser's console? Is everything OK on Networks tab?

[2016-02-03 11:10] Recursivepaiste commented on #6680
Perhaps using a tooltip or something similar when a user hovers over the search bar would be useful? A clean and fairly unobtrusive way of informing the user.

[2016-02-03 11:59] YangLeda commented on #6633
Same problem. I have 2 computuers at my home, windows7 + chrome / windows10 + edge. Both have  the same problem. Home WiFi, no VPN. I'm in China. I haven't try firefox since I don't like it. Thanks a lot if anybody gonna fix this.

[2016-02-03 12:09] AkiraLaine commented on #6698
Can you try clearing cache and cookies, then resetting your code?
If that doesn't work please post a screenshot with your console open (if there are any errors).

[2016-02-03 12:10] AkiraLaine commented on #6697
I have a 0 streak, even though my heat map is pretty filled.

[2016-02-03 12:31] smpvst736 commented on #6698
I looked at it again and the code was just very light and hard to see but I
was able to see it and answer the question.  Thank you.
On Feb 3, 2016 7:10 AM, "Akira Laine" <notifications@github.com> wrote:

there are any errors).

[2016-02-03 13:46] MatisyahuCS commented on #6687
OMG, I was going crazy for it. Thanks!

[2016-02-03 13:47] jncampbell commented on #6641
+1 @bhaskar20

[2016-02-03 14:21] jbmartinez commented on #6696
Look at your profile, you'll find a list containing all your solutions

[2016-02-03 14:33] Treevil commented on #6259
I had the same issue and refresh the page doesn't help me.

[2016-02-03 14:41] ltegman commented on #6696
It stores them in localStorage for retrieval when visiting a challenge from the map and stores them in the DB to be accessed from your profile. Thanks and happy coding!

[2016-02-03 14:41] #6696 closed

[2016-02-03 14:42] ltegman commented on #6698
Closing as resolved.

[2016-02-03 14:42] #6698 closed

[2016-02-03 15:04] jncampbell commented on #6192
+1.

Someone shared a project with HN that allows you to get HTTPS through LetsEncrypt for free. Here's the link: https://news.ycombinator.com/item?id=11002635. One of the creators answered questions in post's comments so it might be worth a read.

[2016-02-03 15:11] smpvst736 opened #6700 "The browser is not accepting my code blue."
Challenge [Use CSS Selectors to Style Elements](http://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3A%20blue%3B%7D%0A%3C%2Fstyle%3E%20%20%0A%20%20%3ECatPhotoApp%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20r

[2016-02-03 15:21] justinian336 commented on #6508
Working on this one.

[2016-02-03 16:31] smpvst736 commented on #6700
I mean it is not accepting:
<style>
    h2 {color: red;}
</style>
\
red.  The exercise says to change h2 to red and it is not working.

[2016-02-03 16:34] smpvst736 commented on #6700
I am sorry.  I just looked at the exercise again.  It says to change h2 to blue and it is not accepting blue.
The code is:

<style>
     h2{color: blue}
</style>
and this is not working.

[2016-02-03 16:41] simondiep opened #6701 "Object Oriented JavaScript - Confusing code exercise descriptions"
There are two exercises dealing with JavaScript array functions that don't change the original array (.map and .filter).  It is very confusing to a learner whether to modify the existing array or to assign the results to a separate array.  Here's a snippet from http://www.freecodecamp.com/challenges/iterate-over-arrays-with-map

`Use the map function to add 3 to every value in the variable oldArra

[2016-02-03 16:47] ltegman commented on #6701
I like suggestion number two :+1:

[2016-02-03 16:49] nagashreekumar commented on #6700
U can try this
<html>
<style>
p{
color:blue;}
</style>
<p> this is an example</p>
</html>

[2016-02-03 16:50] BerkeleyTrue commented on #6192
Thanks everybody. SSL is in the works.

Happy Coding!

[2016-02-03 16:50] #6192 closed

[2016-02-03 16:51] ltegman commented on #6700
Your code doesn't have an h2 element for your style to apply to. You can reset the seed code to get this element back. In the future please visit the [Help Chat](https://gitter.im/FreeCodeCamp/Help) to confirm what you're seeing is actually a site bug. Thanks and happy coding!

[2016-02-03 16:51] #6700 closed

[2016-02-03 16:53] BerkeleyTrue commented on #6556
Brownie points from thanks and completing challenges work exactly the same.

See #6697

Happy Coding!

[2016-02-03 16:53] #6556 closed

[2016-02-03 16:55] BerkeleyTrue commented on #6696
To clarify. We store all user data in the database, but we do not store in-progress challenges only submitted solutions. These are stored in localStorage in your browser.

Happy Coding!

[2016-02-03 17:00] trueskawka commented on #6556
So it won't fix the streak? As per my calendar, I haven't broken my streak for the last 27 days, yet it doesn't work properly in my profile.
http://www.freecodecamp.com/trueskawka

[2016-02-03 17:16] justinian336 commented on #6510
I'm taking this one

[2016-02-03 17:23] raj-maurya commented on #6126
Here is the answer,  you refer as it is working fine.

var myStr = '<a href="http://www.example.com" target="_blank">Link</a>';

[2016-02-03 17:26] romaan7 commented on #6226
getting same issue on Chrome it still gives output as 87

[2016-02-03 18:05] anuragaryan commented on #6652
If the issue is still unfixed, can I send the Pull Request?

[2016-02-03 18:08] tech4david opened #6705 "Can't add LinkedIn to my profile"
I've got an account on your site and I've successfully added GitHub, Twitter and G+ to my profile, but when I try to add LinkedIn, nothing happens once I've logged in and authorized Free Code Camp. The problem seems to be on your side as the dialog closes after attempting to authorize and when the button is clicked in the future no dialog box pops up as it's already been authorised.

[2016-02-03 18:58] aleksej3455 commented on #6633
same error appear, win 7 + chrome
made 112 challanges in one day, took 4 days break and - Uncaught TypeError: Cannot read property 'join' of null

[2016-02-03 19:12] Dadsaster commented on #5847
My preference would be for a TDD style tutorial broken up into stages.  Ideally first stage is having tests written and then have the camper make the tests pass.  Second stage would be to have user write tests first, then write code to make them pass, then have them refactor.

[2016-02-03 19:24] BerkeleyTrue commented on #6633
Thanks everyone for reporting. This is a bug in moment-timezones code. I'll put together a patch shortly while we wait for an official fix from them.

[2016-02-03 19:29] SaintPeter commented on #6633
Can everyone report if they have their OS language set to a non-English language and/or a non-western alphabet/character set (IE: Cyrillic)?

If so, does changing your language to english help?

[2016-02-03 19:40] BerkeleyTrue commented on #6633
A patch is up on [beta](http://beta.freecodecamp.com/challenges/headline-with-the-h2-element). Give it a try and report back.

[2016-02-03 19:43] BerkeleyTrue commented on #5847
This is how every challenge on Free Code Camp currently works.

[2016-02-03 19:44] brutalcrozt commented on #6633
@BerkeleyTrue will report if any user in gitter have this issue.

[2016-02-03 19:56] #6633 closed

[2016-02-03 20:17] BerkeleyTrue commented on #6633
A patch has been released to production. This patch will be removed when new version of moment-timezone is release with permanent fix.

[2016-02-03 21:01] SaintPeter commented on #6674
RE: "Add Different Padding"
Yes, it looks a bit hacky to us, too . . . but the key here is to clearly illustrate a specific concept, hopefully in a clear and unambiguous way.  For the specific area that we're approaching, padding, I think it works.

Negative margins exist and are widely supported by *every* browser.  I am not aware of any general guideline that suggests that you should not use it.

[2016-02-03 21:27] SaintPeter commented on #6677
I don't believe that we will fix these.  Consider it a badge of honor that you completed it before the change!  You're an old-timer now!

Thanks and Happy Coding!

[2016-02-03 21:27] #6677 closed

[2016-02-03 21:30] SaintPeter commented on #6691
@alistermada is correct.  In the future, please ask for help in [Help Chat](https://gitter.im/FreeCodeCamp/Help).

Thanks and Happy Coding!

[2016-02-03 21:30] #6691 closed

[2016-02-03 21:36] SaintPeter commented on #6483
@emilyanndavis And not just to put this all on you.  I definitely think you have a valid point.  The main thing we need is to come to some consensus on what the revised language needs to be.  I'm currently up to my elbows in a sea of bees so I have not had a chance to bounce around new ideas.   That's why we have this issue open.  I was hoping more folks would chime in with some proposed verbiage.

[2016-02-03 21:39] SaintPeter commented on #6680
I could see updating the placeholder text to something like:

I just worry that it would be longer than the text box on some screens.

[2016-02-03 21:40] SaintPeter commented on #6697
I have seen mine start at 0, but as soon as I complete a challenge or otherwise get a point it resets to my current streak.

[2016-02-03 21:41] SaintPeter commented on #6641
ok, if someone wants to take this with the veggies example, I'd love to see a PR for it.

[2016-02-03 22:04] Janainaf opened #6708 "Brazilian Portuguese translation of HTML5 and CSS"
- [ ] Say Hello to HTML Elements
- [ ]  Headline with the h2 Element
- [ ]  Inform with the Paragraph Element
- [ ] Uncomment HTML
- [ ] Comment out HTML
- [ ]  Fill in the Blank with Placeholder Text
- [ ]  Delete HTML Elements
- [ ]  Change the Color of Text
- [ ]  Use CSS Selectors to Style Elements
- [ ]  Use a CSS Class to Style an Element
- [ ]  Style Multiple Elements with a CSS Class
- [ ]

[2016-02-03 22:08] Janainaf opened #6709 "Brazilian Portuguese translation of Responsive Design with Bootstrap"
- [ ] Use Responsive Design with Bootstrap Fluid Containers Complete
- [ ]  Make Images Mobile Responsive Complete
- [ ]  Center Text with Bootstrap Complete
- [ ]  Create a Bootstrap Button Complete
- [ ]  Create a Block Element Bootstrap Button Complete
- [ ]  Taste the Bootstrap Button Color Rainbow Complete
- [ ]  Call out Optional Actions with Button Info Complete
- [ ]  Warn your Users of a

[2016-02-03 22:16] Janainaf opened #6710 "Brazilian Portuguese translation of Gear up for Success"
- [x] Reference our Wiki
- [x]  Join our LinkedIn Alumni Network
- [x]  Join our Subreddit
- [x]  Read Coding News on our Medium Publication
- [x]  Watch us Code Live on Twitch.tv
- [x]  Commit to a Goal and a Nonprofit

[2016-02-03 22:17] Janainaf opened #6711 "Brazilian Portuguese translation of jQuery waypoints"
- [ ] Learn how Script Tags and Document Ready Work
- [ ]  Target HTML Elements with Selectors Using jQuery
- [ ]  Target Elements by Class Using jQuery
- [ ]  Target Elements by ID Using jQuery
- [ ]  Delete your jQuery Functions
- [ ]  Target the same element with multiple jQuery Selectors
- [ ]  Remove Classes from an element with jQuery
- [ ]  Change the CSS of an Element Using jQuery
- [ ]  D

[2016-02-03 22:18] Janainaf opened #6712 "Brazilian Portuguese translation of Basic JavaScript  "
- [ ] Comment your JavaScript Code
- [ ] Declare JavaScript Variables
- [ ] Storing Values with the Equal Operator
- [ ] Initializing Variables with the Equal Operator
- [ ] Understanding Uninitialized Variables
- [ ] Understanding Case Sensitivity in Variables
- [ ] Add Two Numbers with JavaScript
- [ ] Subtract One Number from Another with JavaScript
- [ ] Multiply Two Numbers with JavaScript
-

[2016-02-03 22:21] Janainaf opened #6713 "Brazilian Portuguese translation of Object Oriented and Functional Programming"
- [ ]  Declare JavaScript Objects as Variables
- [ ]  Construct JavaScript Objects with Functions
- [ ]  Make Instances of Objects with a Constructor Function
- [ ]  Make Unique Objects by Passing Parameters to our Constructor
- [ ]  Make Object Properties Private
- [ ]  Iterate over Arrays with .map
- [ ]  Condense arrays with .reduce
- [ ]  Filter Arrays with .filter
- [ ]  Sort Arrays with .sor

[2016-02-03 22:24] Janainaf opened #6714 "Brazilian Portuguese translation of Basic Algorithm Scripting"
- [ ] Get Set for our Algorithm Challenges
- [ ]  Reverse a String
- [ ]  Factorialize a Number
- [ ]  Check for Palindromes
- [ ]  Find the Longest Word in a String
- [ ]  Title Case a Sentence
- [ ]  Return Largest Numbers in Arrays
- [ ]  Confirm the Ending
- [ ]  Repeat a string repeat a string
- [ ]  Truncate a string
- [ ]  Chunky Monkey
- [ ]  Slasher Flick
- [ ]  Mutations
- [ ]  Falsy Bou

[2016-02-03 22:25] Janainaf opened #6715 "Brazilian Portuguese translation of Basic Front End Development Projects"
- [x] Get Set for our Front End Development Projects
- [ ]  Build a Personal Portfolio Webpage
- [ ]  Build a Random Quote Machine
- [ ]  Build a JavaScript Calculator
- [ ]  Build a Pomodoro Clock

[2016-02-03 22:27] Janainaf opened #6716 "Brazilian Portuguese translation of Intermediate Algorithm Scripting"
- [ ] Sum All Numbers in a Range
- [ ]  Diff Two Arrays
- [ ]  Roman Numeral Converter
- [ ]  Where art thou
- [ ]  Search and Replace
- [ ]  Pig Latin
- [ ]  DNA Pairing
- [ ]  Missing letters
- [ ]  Boo who
- [ ]  Sorted Union
- [ ]  Convert HTML Entities
- [ ]  Spinal Tap Case
- [ ]  Sum All Odd Fibonacci Numbers
- [ ]  Sum All Primes
- [ ]  Smallest Common Multiple
- [ ]  Finders Keepers
- [ ]

[2016-02-03 22:28] Janainaf opened #6717 "Brazilian Portuguese translation of JSON APIs and Ajax"
- [ ] Trigger Click Events with jQuery
- [ ]  Change Text with Click Events
- [ ]  Get JSON with the jQuery getJSON Method
- [ ]  Convert JSON Data to HTML
- [ ]  Render Images from Data Sources
- [ ]  Prefilter JSON
- [ ]  Get Geo-location Data

[2016-02-03 22:30] #6701 closed

[2016-02-03 22:34] SaintPeter commented on #6226
@romaan7 GitHub Issues are still not for code problems.  Please ask for help in [Help Chat](https://gitter.im/FreeCodeCamp/Help).

[2016-02-03 22:36] Janainaf opened #6718 "Brazilian Portuguese translation of Intermediate Front End Development Projects"
- [ ] Show the Local Weather
- [ ]  Stylize Stories on Camper s
- [ ]  Build a Wikipedia Viewer
- [ ] Use the Twitch.tv JSON API
- [ ]  Build a Tic Tac Toe Game
- [ ]  Build a Simon Game

[2016-02-03 22:36] Janainaf opened #6719 "Brazilian Portuguese translation of Advanced Algorithm Scripting"
- [ ] Validate US Telephone Numbers
- [ ]  Symmetric Difference
- [ ]  Exact Change
- [ ]  Inventory Update
- [ ]  No repeats please
- [ ]  Friendly Date Ranges
- [ ] Make a Person
- [ ] Map the Debris
- [ ] Pairwise

[2016-02-03 22:37] Janainaf opened #6720 "Brazilian Portuguese translation of Claim Your Front End Development Certificate"
- [ ] Claim Your Front End Development Certificate

[2016-02-03 22:37] SaintPeter commented on #6652
You may absolutely @anuragaryan - That's what it's here for!

Make sure you follow the guidelines in [Contributing.md](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) and if you get stuck, ask for help in [HelpContributors](https://gitter.im/FreeCodeCamp/HelpContributors).

[2016-02-03 22:42] emilyanndavis commented on #6483
No worries!

I would be glad to dive in and submit a pull request on my own (@alistermada , thank you so much for summarizing the process and linking to resources!) but I am just as happy to wait until others are on board.

Obviously, I don't expect this to rank highly in terms of critical fixes (since by most definitions it's really not even broken). I just wanted to make sure I hadn't dropped th

[2016-02-03 23:03] LenaBarinova opened #6721 "Steak is broken though challenges were completed everyday"
This issue was originally reported by @thebgar.

The problem happens when the difference between two dates is bigger than 36 hours, but these dates still fall into two consecutive days.
<img width="932" alt="screen shot 2016-02-03 at 2 56 42 pm" src="https://cloud.githubusercontent.com/assets/2317409/12799925/7bd6cda2-ca86-11e5-9db8-70bb796edd9c.png">

The dates are such:
1. 2016-02-02T04:12:43
2.

[2016-02-03 23:04] blackwaterx opened #6722 "nothing appear in the iphone on right"
Ok when i start the exsercise it suppose to have something in the iphone on right but nothing appear. i wondering if someone could help me to know if that could be my computer or some setting  on the site.
thanks

[2016-02-03 23:07] SaintPeter commented on #6705
I think I've confirmed this.

Did you get a message like:
![image](https://cloud.githubusercontent.com/assets/553494/12800136/c26d29cc-ca87-11e5-8833-8b7d1073c39a.png)

[2016-02-03 23:13] SteveRaskin opened #6723 "function passes test but fails in my console if logging instead of return; why?"
Challenge [Profile Lookup](http://www.freecodecamp.com/challenges/profile-lookup#?solution=%2F%2FSetup%0Avar%20contacts%20%3D%20%5B%0A%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%22firstName%22%3A%20%22Akira%22%2C%0A%20%20%20%20%20%20%20%20%22lastName%22%3A%20%22Laine%22%2C%0A%20%20%20%20%20%20%20%20%22number%22%3A%20%220543236543%22%2C%0A%20%20%20%20%20%20%20%20%22likes%22%3A%20%5B%22Pizza%22%2C%20

[2016-02-03 23:18] SaintPeter commented on #6721
While you're looking at this, can you also look into the "Current Streak 0 days" before a point has been awarded for the current day?  Or is that a related issue?

Is the solution to consider a break of < 48 hours to be inclusive.  I guess someone could technically have completed a challenge at 12:01am on one day and then 11:59pm on the next day and still technically have had two contiguous dates,

[2016-02-03 23:21] SaintPeter commented on #6722
If you click the "Bug" button from the challenge in question it will copy your current code as well as append useful information about your current browser.  I'm going to close this issue since it doesn't actually give us any information at all about the problem.

Please use the Bug button to open a new issue and give details such as your OS, Browser, and if you have any errors in your browser dev

[2016-02-03 23:28] SaintPeter commented on #6723
The reason that it would fail if you're using `console.log` is because `console.log` does not stop the flow of the program.  `return` exits the function immediately and returns a single value.

Also, maybe more importantly, the code which checks your code is expecting a return value.  Without it it can't do anything.  It's basically checking to see what your function `lookUp` returns.  With out a

[2016-02-03 23:28] #6723 closed

[2016-02-03 23:29] SteveRaskin commented on #6723
Thx, my bad: in fact it was burnout-related trivial error on my part in how I was calling the function. Time to rest :)

[2016-02-03 23:31] LenaBarinova commented on #6721
@SaintPeter I think "Current Streak 0 " might be related to this.

Yeah, I think it's not about the length of the break, but more about was it everyday activity or not. So I'll try to standardize all the dates and then see if work was happening everyday.

[2016-02-03 23:32] blackwaterx commented on #6722
thank you very much i ll try that

[2016-02-04 00:12] AndrewMcSwain opened #6724 "Iterate Array For Loop Challenge: problem with 3rd conditon of the challenge, doesn't recognize var with myArr.length preloaded"
When I preload 'myArr.length' into a variable 'length' and use that in the condition of the for loop, as shown below, the 3rd condition of the trial "iterate through myArr using a for loop" doesn't turn green. I completed the challenge by replacing the variable with what it was pointing to, myArr.length.

[code]

Doesn't work

This does:

[code]

[2016-02-04 00:23] Offloads opened #6725 "Replacing If Else Chains with Switch: Commented out Code fails the test"
This is a rather small detail, but in this challenge when the original if else code is replaced by the switch statement it does not pass the first two test because the key words of 'if' & 'else' are seen. However, this should pass the test if the code is commented out, it would then be possible to keep a nice record of the changes made.
![screen shot 2016-02-03 at 12 17 39 am](https://cloud.github

[2016-02-04 00:34] BerkeleyTrue commented on #6721
@LenaBarinova Thanks for tracking down the reason for this issue.

[2016-02-04 00:35] BerkeleyTrue commented on #6697
closing in favor of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/6721

[2016-02-04 00:35] #6697 closed

[2016-02-04 01:03] christophermoura commented on #6710
Working on it.

[2016-02-04 02:18] VibhorThakral commented on #6722
I had the same problem you had at first, I later found out that the problem was due to my ISP provider, using proxy has helped me so I guess you can try that.

[2016-02-04 03:12] mynameissal opened #6728 "Tests pass but user doesn't follow instruction"
Challenge [Create a Bootstrap Row](http://www.freecodecamp.com/challenges/create-a-bootstrap-row) has an issue.

User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64; rv:44.0) Gecko/20100101 Firefox/44.0</code>.

Please describe how to reproduce this issue, and include links to screenshots if possible:

- Instructions were: "Create a div element below the h3 tag, with a class of row."
- I put m

[2016-02-04 05:11] Em-Ant commented on #6677
Ok! Thanks. I'm proud of it.

[2016-02-04 05:46] #5347 closed

[2016-02-04 05:49] SaintPeter commented on #6725
I'm sorry, but our infrastructure doesn't have the complexity to parse JavaScript and ignore comments.  In particular, for earlier challenges where we're looking to make sure you didn't use specific statements, there is just no way to do it.

Thanks and Happy Coding!

[2016-02-04 05:49] #6725 closed

[2016-02-04 05:50] #6722 closed

[2016-02-04 06:06] SaintPeter commented on #6108
@caramiame
Sorry, but Issues are not for code problems.  Please ask for help in [Help Chat](https://gitter.im/FreeCodeCamp/Help).

Thanks and Happy Coding!

[2016-02-04 08:20] Greenheart commented on #6192
Great news, keep it up! @BerkeleyTrue

[2016-02-04 08:35] kalunlee136 commented on #6641
Hi, I can work on this one.

Also, I thought of another example using the existing Batman one:

var joinMe = ["Na ", "Na ", "Na ", "Na ", "Batman!"];
var joinedString = joinMe.join("- ");
console.log(joinedString);

Output: joinedString = "Na-Na-Na-Na-Batman!"

I find this one to be a lot more clear and avoids possible mistakes with white space, similar to @bhaskar20's example.

[2016-02-04 08:36] joshaquino commented on #2802
I'm getting the same result, the Delete button is cutoff.

[2016-02-04 08:44] bhaskar20 commented on #6641
@kalunlee136 your example has some mistakes though

[2016-02-04 08:55] kalunlee136 commented on #6641
@bhaskar20 Did you mean the extra white space on the first "Na " in joinMe? because I just caught that. Woops.

[2016-02-04 09:36] vtamara commented on #6500
- [X] Learn how Free Code Camp Works
- [X] Create a GitHub Account and Join our Chat Rooms
- [X] Configure your Code Portfolio
- [X] Join a Campsite in Your City
- [X] Learn What to Do If You Get Stuck

[2016-02-04 10:31] vtamara commented on #6494
- [ ] Validate US Telephone Numbers
- [ ] Symmetric Difference
- [ ] Exact Change
- [ ] Inventory Update
- [ ] No repeats please
- [ ] Friendly Date Ranges
- [ ] Make a Person
- [ ] Map the Debris
- [ ] Pairwise

[2016-02-04 10:32] vtamara commented on #6495
- [X] Get Set for our Algorithm Challenges
- [X] Reverse a String
- [X] Factorialize a Number
- [X] Check for Palindromes
- [X] Find the Longest Word in a String
- [X] Title Case a Sentence
- [X] Return Largest Numbers in Arrays
- [X] Confirm the Ending
- [X] Repeat a string repeat a string
- [X] Truncate a string
- [X] Chunky Monkey
- [X] Slasher Flick
- [X] Mutations
- [X] Falsy Bouncer
- [X] Se

[2016-02-04 10:34] vtamara commented on #6496
Efectivamente ya nos hicieron el favor de reintegrar las traducciones anteriores.  @jorgeruvalcaba espero que no te haya generado mucho trabajo extra.  Disculpas (aunque yo no las había retirado).

[2016-02-04 10:35] vtamara commented on #6496
- [X] Comment your JavaScript Code
- [X] Declare JavaScript Variables
- [ ] Storing Values with the Equal Operator
- [ ] Initializing Variables with the Equal Operator
- [ ] Understanding Uninitialized Variables
- [ ] Understanding Case Sensitivity in Variables
- [X] Add Two Numbers with JavaScript
- [X] Subtract One Number from Another with JavaScript
- [X] Multiply Two Numbers with JavaScript
-

[2016-02-04 10:35] vtamara commented on #6497
- [X] Get Set for our Front End Development Projects
- [X] Build a Personal Portfolio Webpage
- [X] Build a Random Quote Machine
- [X] Build a JavaScript Calculator
- [X] Build a Pomodoro Clock

[2016-02-04 10:36] vtamara commented on #6498
- [X] Use Responsive Design with Bootstrap Fluid Containers
- [X] Make Images Mobile Responsive
- [X] Center Text with Bootstrap
- [X] Create a Bootstrap Button
- [X] Create a Block Element Bootstrap Button
- [X] Taste the Bootstrap Button Color Rainbow
- [X] Call out Optional Actions with Button Info
- [X] Warn your Users of a Dangerous Action
- [X] Use the Bootstrap Grid to Put Elements Side By

[2016-02-04 10:36] vtamara commented on #6499
- [X] Claim Your Front End Development Certificate

[2016-02-04 10:41] vtamara commented on #6493
- [X] Learn how Free Code Camp Works
- [X] Create a GitHub Account and Join our Chat Rooms
- [X] Configure your Code Portfolio
- [X] Join a Campsite in Your City
- [X] Learn What to Do If You Get Stuck

[2016-02-04 10:45] AikaMei opened #6731 "Issues with font-size test on multiple browsers."
Challenge [Change the Font Size of an Element](http://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20i

[2016-02-04 10:47] vtamara commented on #6501
- [X] Say Hello to HTML Elements
- [X] Headline with the h2 Element
- [X] Inform with the Paragraph Element
- [X] Uncomment HTML
- [X] Comment out HTML
- [X] Fill in the Blank with Placeholder Text
- [X] Delete HTML Elements
- [X] Change the Color of Text
- [X] Use CSS Selectors to Style Elements
- [X] Use a CSS Class to Style an Element
- [X] Style Multiple Elements with a CSS Class
- [X] Change

[2016-02-04 10:48] vtamara commented on #6502
- [X] Sum All Numbers in a Range
- [X] Diff Two Arrays
- [X] Roman Numeral Converter
- [X] Where art thou
- [X] Search and Replace
- [X] Pig Latin
- [X] DNA Pairing
- [X] Missing letters
- [X] Boo who
- [X] Sorted Union
- [X] Convert HTML Entities
- [X] Spinal Tap Case
- [X] Sum All Odd Fibonacci Numbers
- [X] Sum All Primes
- [X] Smallest Common Multiple
- [X] Finders Keepers
- [X] Drop it
- [X]

[2016-02-04 10:48] vtamara commented on #6503
- [X] Show the Local Weather
- [X] Stylize Stories on Camper News
- [X] Build a Wikipedia Viewer
- [X] Use the Twitch.tv JSON API
- [X] Build a Tic Tac Toe Game
- [X] Build a Simon Game

[2016-02-04 10:48] AkiraLaine commented on #6731
What browser/OS are you using?

Also, are you sure that your Zoom is set to 100%?

[2016-02-04 10:49] vtamara commented on #6504
- [X] Learn how Script Tags and Document Ready Work
- [X] Target HTML Elements with Selectors Using jQuery
- [X] Target Elements by Class Using jQuery
- [X] Target Elements by ID Using jQuery
- [X] Delete your jQuery Functions
- [X] Target the same element with multiple jQuery Selectors
- [X] Remove Classes from an element with jQuery
- [X] Change the CSS of an Element Using jQuery
- [X] Disable a

[2016-02-04 10:49] vtamara commented on #6505
- [X] Trigger Click Events with jQuery
- [X] Change Text with Click Events
- [X] Get JSON with the jQuery getJSON Method
- [X] Convert JSON Data to HTML
- [X] Render Images from Data Sources
- [X] Prefilter JSON
- [X] Get Geo-location Data

[2016-02-04 10:49] wolverine2k commented on #6641
https://github.com/FreeCodeCamp/FreeCodeCamp/pull/6732 A pull request is issued! Cheers.

[2016-02-04 10:50] vtamara commented on #6506
- [X] Declare JavaScript Objects as Variables
- [X] Construct JavaScript Objects with Functions
- [X] Make Instances of Objects with a Constructor Function
- [X] Make Unique Objects by Passing Parameters to our Constructor
- [X] Make Object Properties Private
- [X] Iterate over Arrays with .map
- [X] Condense arrays with .reduce
- [X] Filter Arrays with .filter
- [X] Sort Arrays with .sort
- [X] R

[2016-02-04 10:50] vtamara commented on #6507
- [X] Learn D3 Challenges

[2016-02-04 10:51] vtamara commented on #6508
- [X] Claim Your Data Visualization Certificate

[2016-02-04 10:51] vtamara commented on #6509
- [ ] Visualize Data with a Bar Chart
- [ ] Visualize Data with a Scatterplot Graph
- [ ] Visualize Data with a Heat Map
- [ ] Show Relationships with a Force Directed Graph
- [ ] Map Data Across the Globe

[2016-02-04 10:52] vtamara commented on #6510
- [ ] Build a Markdown Previewer
- [ ] Build a Camper Leaderboard
- [ ] Build a Recipe Box
- [ ] Build the Game of Life
- [ ] Build a Roguelike Dungeon Crawler Game

[2016-02-04 10:52] vtamara commented on #6511
- [X] Learn React Challenges

[2016-02-04 10:53] AikaMei commented on #6731
I used both mozilla and chrome. The zoom is at 100%.
I got the problem right initially on Jan 20th, but today it is not.

[2016-02-04 10:53] vtamara commented on #6512
- [X] Learn Sass Challenges

[2016-02-04 10:53] vtamara commented on #6513
- [X] Get Set for our Back End Development Projects
- [ ] Timestamp Microservice
- [ ] Request Header Parser Microservice
- [ ] URL Shortener Microservice
- [ ] Image Search Abstraction Layer
- [ ] File Metadata Microservice

[2016-02-04 10:54] vtamara commented on #6514
- [X] Use the Javascript Console
- [X] Using typeof

[2016-02-04 10:54] vtamara commented on #6515
- [X] Claim Your Back End Development Certificate

[2016-02-04 10:55] vtamara commented on #6516
- [X] Build a Voting App
- [X] Build a Nightlife Coordination App
- [X] Chart the Stock Market
- [X] Manage a Book Trading Club
- [X] Build a Pinterest Clone

[2016-02-04 10:55] vtamara commented on #6517
- [X] Save your Code Revisions Forever with Git

[2016-02-04 10:55] vtamara commented on #6518
- [X] Store Data in MongoDB

[2016-02-04 10:56] AikaMei commented on #6731
My friend is also cannot get passed this

[2016-02-04 10:56] vtamara commented on #6519
- [X] Manage Packages with NPM
- [X] Start a Node.js Server
- [X] Continue working with Node.js Servers
- [X] Finish working with Node.js Servers
- [X] Build Web Apps with Express.js

[2016-02-04 11:02] c-daniels commented on #6190
Hi @ltegman ,
I have exactly the same issue as @chris0612 (the same exact scoring issues i.e. (4, 1) and (1, 1) do not respond with the correct response as highlighted by Chris' code above). I have checked that my strings are exactly what was requested several times (as I see that Chris missed an exclamation mark etc) and even run the code through Notepad++ which has no issues with logging to the

[2016-02-04 11:06] AikaMei commented on #6731
Should I wait for it to get fixed?

[2016-02-04 11:07] AkiraLaine commented on #6190
@c-daniels Could you paste your code here?

[2016-02-04 11:44] wolverine2k commented on #6728
https://github.com/FreeCodeCamp/FreeCodeCamp/pull/6734 PR for fixing this issue.

[2016-02-04 11:56] alistermada commented on #6731
Your second `<p>` element shouldn't have any classes.
Under the **Note** in the challenge description:

[2016-02-04 12:01] AikaMei commented on #6731
thanks @alistermada it worked!

[2016-02-04 12:02] #6731 closed

[2016-02-04 12:04] AkiraLaine commented on #6731
@alistermada I missed that. Thanks :smile:

[2016-02-04 12:32] alistermada commented on #6680
@SaintPeter That's already too big for the text box even on a large screen. Looks like the text box has a fixed width of 260px.

![image](https://cloud.githubusercontent.com/assets/12993334/12815006/f434f522-cb75-11e5-9e7b-18b1fcede384.png)

[2016-02-04 12:44] dyczol commented on #6112
@amykotas I use "Beginning JavaScript" by McPeak as a supporting material and it helps a lot. Highly recommend for novice coders.

[2016-02-04 12:52] justinian336 commented on #6495
Shall I do the remaining one?

[2016-02-04 12:59] jorgeruvalcaba commented on #6496
No hay problema, integraré las que faltan. Gracias por avisar @vtamara

[2016-02-04 13:06] Janainaf commented on #6715
Working on it!

[2016-02-04 13:34] devarsh1997 opened #6735 "Requires some more explanation"
Challenge [Use Abbreviated Hex Code](http://www.freecodecamp.com/challenges/use-abbreviated-hex-code#?solution=%3Cstyle%3E%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20%23F00%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.97 Safari/537.36</code>.
Please describe

[2016-02-04 13:51] chris0612 commented on #6190
Hi @c-daniels, have you tried to reset your code. Sometimes it works wonders! or reset your browser cache.

[2016-02-04 14:26] hallaathrad commented on #6252
and then this @nightwalkerkg

[2016-02-04 15:37] VibhorThakral commented on #6735
In the hexadecimal code #FF0000, FF portion represents the red, 00 represents the green and 00 represents the blue respectively, so when both the values of Red or green or blue are same they can be representated by one letter in this case #F00(red,green,blue), but if the values of red, green and blue are not same for example #004546, you can not shorten the notation, also note that you can not sho

[2016-02-04 16:38] pcrist13 opened #6737 "Cannot continue after completing the challenge: Target a Specific Child of an Element Using jQuery"
Won't navigate to the next challenge after completing this one. This occurs on several pages it seems like and I followed someone else's bizarre suggestion to move the everything in the script tags to the bottom of the page. This worked for a little while but stuck on this challenge.

Just will manually skip forward using the map but this is quite frustrating.

[2016-02-04 16:46] nightwalkerkg commented on #6252
@hallaathrad Consolas font is causing the issue. After removing it the the L looks fine.

[2016-02-04 17:11] sludge256 commented on #6737
Would you mind providing some more info? Browser/OS and a screenshot or details of any messages that show up in the browser's console upon clicking submit?

[2016-02-04 17:20] pcrist13 commented on #6737
Google Chrome Console:
https://sidecar.gitter.im/dist/sidecar.v1.js Failed to load resource: net::ERR_TUNNEL_CONNECTION_FAILED
http://www.freecodecamp.com/completed-challenge/ Failed to load resource: net::ERR_CONNECTION_RESET

Attached two screenshots showing the code used, and where it gets hung up.
![code](https://cloud.githubusercontent.com/assets/11684076/12823381/df747e34-cb28-11e5-9522-6176

[2016-02-04 17:30] raisedadead commented on #6737
@pcrist13 Thanks, Do you mind posting a screenshot of your browser console (F12 > Console Tab), as well?

Are you behind any firewall, VPN or any browser extension? If that's the case can you check if [this wiki article](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Using-browsec-for-securing-your-connection-to-fcc) helps you?

[2016-02-04 17:53] CrystalCJoseph commented on #6225
😁 Tried that too, the button still will not work.

Sincerely,

Crystal Joseph
about.me/crystal.joseph

[2016-02-04 17:59] hallaathrad commented on #6252
@nightwalkerkg I thought it was Consolas the one showing a lowercase that looks like it's an upper.

[2016-02-04 18:08] raisedadead commented on #6225
Thanks @CrystalCJoseph Can you post a screenshot of browser console?
Press F12 to open the developer tools, and take a screenshot of the console and network tabs like below:

![1](https://cloud.githubusercontent.com/assets/1884376/12824679/646f901e-cb98-11e5-9642-0d38f64606e5.PNG)
![2](https://cloud.githubusercontent.com/assets/1884376/12824678/646ec418-cb98-11e5-8f82-f4009f52625d.PNG)

[2016-02-04 18:09] nightwalkerkg commented on #6252
@hallaathrad Yeah, also it being Italic is just making it worse. :P Just remove it and it should work fine.

[2016-02-04 18:12] shantilise commented on #5651
@tany007 -- this solution worked for me as well today **after I refreshed the page**

[2016-02-04 18:16] simondiep commented on #6130
@dwhitebud If you are referring to http://www.freecodecamp.com/challenges/build-a-javascript-calculator  :  I've noticed the user stories, site, and demo video are all slightly different.  The chaining user story is a bit vague, which could have been intentional.  However, since the demo video and the current live example on Codepen implement the solution in different ways, this could be confusing

[2016-02-04 18:16] raisedadead commented on #6183
Issue is fixed via #6681

[2016-02-04 18:24] tech4david commented on #6705
I didn't get any error at all; it just didn't successfully add it to my profile.

[2016-02-04 19:12] SaintPeter commented on #6735
It's actually just `16^3 = 4096`.

https://www.w3.org/TR/CSS2/syndata.html - Section 4.3.6 Colors

I'm not sure how to link this explanation in, though.

[2016-02-04 19:42] simondiep opened #6741 "Improve contributor's guide documentation for new contributors"
I'm a new contributor to this project and have run into a few confusing points on CONTRIBUTING.md that I'd like to clarify for other new contributors.

1. waffle.io - From a few other contributors, I've been told this is no longer used.  I'd suggest removing this from the contributor's guide.

2. Installing npm dependencies.  This project has a dependency to [node-gyp](https://github.com/nodejs/no

[2016-02-04 20:17] dmitriz commented on #6674
Thanks @SaintPeter for taking your time to answer!

Yes, it looks a bit hacky to us, too . . . but the key here is to clearly illustrate a specific concept, hopefully in a clear and unambiguous way. For the specific area that we're approaching, padding, I think it works.

Glad you agree it is hacky. But I'm not following how this **margin** addition illustrates padding, which is a different concep

[2016-02-04 20:59] SaintPeter commented on #6741
These all sound like reasonable changes.  Go ahead and get a PR going for it.

[2016-02-04 21:00] pallavrustogi commented on #5764
I think this issue is still persisting.

[2016-02-04 21:09] nikrb opened #6742 "learnyoumongo install errors"
learnyoumongo displays errors (below) during install. Reran with sudo ... but still same errors.
Being a nuub it's largely gobbledy-gook to me.
learnyoumongo seems to run ok so soldiering on.

[code]

[2016-02-04 21:10] simondiep commented on #6741
I'll get started on it.

[2016-02-04 21:15] LVMC commented on #6674
Thank you very much for this information. I am attempting to move forward
but I am having trouble with things in the past that keep making my mind
backtrack or divert my attention in a direction I was not intending. Is
there anything which could help you comprehend better. I was taking the
advice which was given on here to take a break for 2 days to put my mind
and body at ease. I am trying to rel

[2016-02-04 21:20] SaintPeter commented on #6674
RE: Web Components
Sorry, if there is some other aspect of Web Components that is not related to HTML5, a cursory Google search did no reveal a clear alternative definition.  My point is that if I've never heard of them I have no hope of teaching them, let alone completely revamping our curriculum around them.

We do have some Bootstrap content, of course, and we could probably expand that somewha

[2016-02-04 21:21] SaintPeter commented on #5764
@pallavrustogi Can you please explain what you mean?  The code has been changed.  If your code is different you may try hitting the "reset" button to refresh it to the new code.

[2016-02-04 21:27] SaintPeter commented on #6742
Did you try running it?   Despite all of the errors it still looks like it installed.

You're running on a local dev environment, rather than on C9?

[2016-02-04 21:46] nikrb commented on #6742
I'm using C9.
I did say it seemed to be working so I was continuing.
All db's listed as (empty) except local, which doesn't have a parrots collection.
The original download instruction was to import the data perhaps? This isn't the place for another question, struggling forwards :)

[2016-02-04 22:24] SaintPeter commented on #6742
`learnyoumongo` actually puts the collection in place only while you're running, the removes it as soon as its done.  You can run `learnyoumongo test <scriptname>` to run it under test conditions without the `verify` step, if I remember correctly.

[2016-02-04 22:27] #6741 closed

[2016-02-04 22:36] ltegman commented on #6742
This is normal behaviour for learnyoumongo and kerberos build errors are not uncommon and can be ignored unless you are using kerberos (most mongo DBs are not). Closing as not an issue. Further issues with learnyoumongo should be filed on [their repo](https://github.com/evanlucas/learnyoumongo). Thanks and happy coding!

[2016-02-04 22:36] #6742 closed

[2016-02-05 00:19] nikrb commented on #6742
thanx for the feedback guys. Checked [their issues](https://github.com/evanlucas/learnyoumongo/issues) and it seems this is up in the air atm.
FYI I've tried learnyoumongo with test, run and verify but no luck. There is also a suggestion of redoing steps 1 and 2 but no luck there either.

[2016-02-05 01:17] BuKinoshita commented on #6705
Just tested here, everything worked just fine.

[2016-02-05 01:43] abhisekp commented on #6192
SSL is not forced in the sign in page http://www.freecodecamp.com/email-signin

[2016-02-05 02:38] bkowshik commented on #5896
I have this issue too.

The behaviour is not consistent though. Sometimes the transition to the next exercise is smooth. But, sometimes the browser hangs.

@QuincyLarson Why is this marked as `help_wanted`? How can I help?

[2016-02-05 02:42] bkowshik commented on #5896
### An Idea
How about we **prefetch the next lesson** so that for the campers the next lesson loads instantaneously and the cycle continues?

[2016-02-05 02:51] #6628 closed

[2016-02-05 04:08] ltegman commented on #6192
@abhisekp This isn't in place yet, it just isn't really a repo issue people can work on, so it was closed.

[2016-02-05 04:16] juggernate commented on #6680
I think the hide completed button was far more useful than the type in filter. I don't know the names of many of the challenges so typing for them isn't so helpful, but I do want to quickly filter out the things I've already completed.

[2016-02-05 04:26] nikrb commented on #6105
confused me too, have you seen @richchurcher 's [comment](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/3375#issuecomment-141822919)?

[2016-02-05 05:24] SaintPeter commented on #6680
I think we've come up with a possible solution.  We'll use a "drop down" filter button like the GitHub Interface, but rather than a menu it will have checkboxes that appear below the search box for completed/incomplete/required/whatever.  Then you can have both a filter and search within it.

[2016-02-05 05:39] #6510 closed

[2016-02-05 06:09] Subh-007 opened #6745 "Topic: Target the same element with multiple jQuery Selectors"
Challenge [Target the same element with multiple jQuery Selectors]

1. - Only add one class with each of your three selectors.
2. - Your #target1 element should have the classes animated‚ shake and btn-primary.

How is this possible, or may be i am misunderstanding something.
??

[2016-02-05 06:38] luyi1678 commented on #4833
I have same issue too

[2016-02-05 07:02] AkiraLaine commented on #6745
Please read the instructions:

If you need help please go to our [main](https://gitter.im/FreeCodeCamp/FreeCodeCamp) room or our [help](https://gitter.im/FreeCodeCamp/FreeCodeCamp) room. GitHub is for issues only.

[2016-02-05 07:02] #6745 closed

[2016-02-05 07:04] EktaSingh opened #6746 "Check for Plaindromes"
Hi there,
palindrome("0_0 (: /-\ :) 0-0") should return true.
This is not true since _ and - are not same.

Kindly update.

[2016-02-05 07:11] reanjar opened #6747 "bug"
Challenge [Return Early Pattern for Functions](http://www.freecodecamp.com/challenges/return-early-pattern-for-functions#?solution=%2F%2F%20Setup%0Afunction%20abTest(a%2C%20b)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20if(a%3C0%20%7C%7C%20b%3C0)%7B%0A%20%20%20%20%0A%20%20%20%20return%20%22undefined%22%3B%0A%20%20%7D%20%0A%20%20%0A%20%20%0A%20%20%2F%2F%20Only%20change

[2016-02-05 07:15] SaintPeter commented on #6746
You are incorrect.  Please read the instructions carefully.

You can ask for coding help in [Help JavaScript Chat](https://gitter.im/FreeCodeCamp/HelpJavaScript).

Thanks and Happy Coding!

[2016-02-05 07:15] #6746 closed

[2016-02-05 07:16] SaintPeter commented on #6747
Please read the **Hint** at the bottom of the instructions.

GitHub Issues are not for code problems.  In the future, please ask for help in [Help JavaScript Chat](https://gitter.im/FreeCodeCamp/HelpJavaScript).

Thanks and Happy Coding!

[2016-02-05 07:16] #6747 closed

[2016-02-05 07:29] #6493 closed

[2016-02-05 07:45] vtamara commented on #6496
Este es el archivo con más cambios de traducción pendientes.   Te pido el favor de hacer commit de lo que llevas para poder apoyar la completación --tal parece que muy pronto empiezan a operar rutas en español con lo cual quedará visible lo que hemos traducido (se estaba hablando de mañana sábado).

[2016-02-05 08:16] EktaSingh commented on #6746
Yeah right.
Just read.

Thanks,
Ekta Singh

On Fri, Feb 5, 2016 at 12:47 PM, Rex Schrader <notifications@github.com>
wrote:

[2016-02-05 08:49] mtam2 commented on #5896
@bkowshik Tests are ran client-side on the browser so that speed is dependent on your computer/browser. The "Submit and go to my next challenge" requests the next page from the server and FCC servers experience fluctuating load.

[2016-02-05 09:42] vtamara commented on #6603
I asked before in the channel of translators to spanish, if someone could create an issue for each file to review.  I thank @justinian336 for doing.   Recently I introduced checkboxes for each challenge in each issue. We are working on them and closing them.  However few people is active, and I don't have much time in this moment.  So I'm sorry but we will not be able to complete the audit this we

[2016-02-05 09:53] tech4david commented on #6705
hmm, are you sure it was added to your profile? For me it appears to work at first but it's not actually displayed on the portfolio and the "display LinkedIn on my portfolio" button is still shown - although no error is given. I've tried deauthorizing Free Code Camp and signing in again with LinkedIn but it still won't add to my profile.

[2016-02-05 10:37] justinian336 commented on #6496
@jorgeruvalcaba @vtamara I can work on this tonight if you guys let me know which part is pending to be done.

[2016-02-05 12:03] devarsh1997 commented on #6735
@SaintPeter and @VibhorThakral the explanations makes much more sense. How about we link one of your explanations by stating in the explanation after the lines I cited. For example:

I hope I am making sense.

[2016-02-05 13:09] jorgeruvalcaba commented on #6496
@vtamara @justinian336 Enterado, el transcurso del día haré commit.

[2016-02-05 14:18] andreferreira-me opened #6755 "Brazilian Portuguese translation of Getting Started"
- [ ] Learn how Free Code Camp Works Complete
- [ ] Create a GitHub Account and Join our Chat Rooms Complete
- [ ] Configure your Code Portfolio Complete
- [ ] Join a Campsite in Your City Complete
- [ ] Learn What to Do If You Get Stuck

[2016-02-05 14:21] andreferreira-me commented on #6755
Working on it

[2016-02-05 14:31] mynameissal opened #6756 "Unclear instructions"
Challenge [Truncate a string](http://www.freecodecamp.com/challenges/truncate-a-string
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:44.0) Gecko/20100101 Firefox/44.0</code>.

No bug with the challenge but the instructions are very unclear and should be re-written. I was only able to complete the challenge going through the test cases and writing code specifically solving each test c

[2016-02-05 14:46] #6756 closed

[2016-02-05 14:49] SatyaShivam opened #6757 "crsumit"
Challenge [Add Borders Around your Elements](http://www.freecodecamp.com/challenges/add-borders-around-your-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.97 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-02-05 14:54] SatyaShivam commented on #6757
Give your image a border width of 10px.
Give your image a border style of solid.
The border around your img element should be green.
 my code is not running its want these all this elements, i can do all this things, but cant solve my code
plz give me the advice...

[2016-02-05 15:02] SanjeetSk commented on #3524
I am also getting same issue. Yes my code is incorrect but that should not freeze entire window. I am not able to change my code now.

[2016-02-05 15:03] BuKinoshita commented on #6705
![screenshot 2016-02-05 10 02 48](https://cloud.githubusercontent.com/assets/6929565/12849830/acfe1cea-cbef-11e5-89a9-ae3cd0306d86.png)

[2016-02-05 15:29] hostmaked commented on #5072
+1

[2016-02-05 15:36] raisedadead commented on #6757
@SatyaShivam Please ask your queries at [Help Chat](https://gitter.im/FreeCodeCamp/Help), GitHub Issues are for bugs in the site only.

[2016-02-05 15:39] Rocket-Buddha opened #6758 "Understand String Immutability"
Understand String Immutability: it doesn't advance to next challenge.

Code:

// Setup
var myStr = "Jello World";

// Only change code below this line

myStr = "Hello World"; // Fix Me

![image](https://cloud.githubusercontent.com/assets/4625251/12850632/6bd40b20-cc04-11e5-89c6-b9e85ed5cc0a.png)

[2016-02-05 16:43] tech4david commented on #6705
Still not working for me, do many other people have this issue?

[2016-02-05 18:52] hallaathrad commented on #5358
I'm in :)

[2016-02-05 19:34] Mashadim opened #6760 "Bonfire Chunky Monkey Solution Issue"
On Solution #3  newArray should be newArr:

https://github.com/freecodecamp/freecodecamp/wiki/bonfire-chunky-monkey#solution-3

[2016-02-05 20:26] lmaes commented on #6259
Was getting pretty desperate thinking of what I'd done wrong. Thank you commenters for confirming this is a bug. Refresh did it for me.

[2016-02-05 20:38] ArielLeslie opened #6761 "Ambiguity in both description and tests-- What to do when card is 7||8||9 -- Counting Cards"
Challenge [Counting Cards](http://www.freecodecamp.com/challenges/counting-cards#?solution=var%20count%20%3D%200%3B%0A%0Afunction%20cc(card)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20var%20bet%20%3D%20''%3B%0A%20%20if(card%3C%3D6)%7B%0A%20%20%20%20count%20%2B%2B%3B%0A%20%20%7D%20else%20if%20(!(card%3C%3D9))%7B%0A%20%20%20%20%20%20count%20--%3B%0A%20%20%7D%0A%20%20be

[2016-02-05 21:59] jniro commented on #6232
Can someone tell me how the merging with the translation works. I dont suppose to pull before pushing to my branch, second, I do not think I cant push it to my branch before merging what I have on my branch? is that right?

[2016-02-05 22:22] #6758 closed

[2016-02-05 22:41] fedebboy90 opened #6762 "fedebboy90"

[2016-02-05 22:41] fedebboy90 opened #6763 "only helper :D"
only helper :D

[2016-02-05 22:43] ltegman commented on #6762
Please do not make Github issues unless you are reporting a bug.

[2016-02-05 22:43] #6762 closed

[2016-02-05 22:43] ltegman commented on #6763
Please do not make Github issues unless you are reporting a bug.

[2016-02-05 22:43] #6763 closed

[2016-02-05 22:56] epicgug opened #6764 "I return not found but it doesn't complete the challenge."
Challenge [Testing Objects for Properties](http://www.freecodecamp.com/challenges/testing-objects-for-properties#?solution=%2F%2F%20Setup%0Avar%20myObj%20%3D%20%7B%0A%20%20gift%3A%20%22pony%22%2C%0A%20%20pet%3A%20%22kitten%22%2C%0A%20%20bed%3A%20%22sleigh%22%0A%7D%3B%0A%0Afunction%20checkObj(checkProp)%20%7B%0A%20%20%2F%2F%20Your%20Code%20Here%0A%20%20if(myObj.hasOwnProperty(checkProp))%20%7B%0A%2

[2016-02-05 23:02] TravisHi commented on #6764
You have to return _Exactly_ what they ask you for, so just remove the Full stop after "Not Found" in your code

[2016-02-05 23:03] fedebboy90 commented on #6762
disculpas , espero quiero aprender de esto, gracias y nuevamente disculpas

[2016-02-05 23:05] SteveRaskin opened #6765 "nitpicking re: diction"
Challenge [Filter Arrays with filter](http://www.freecodecamp.com/challenges/filter-arrays-with-filter#?solution=var%20oldArray%20%3D%20%5B1%2C2%2C3%2C4%2C5%2C6%2C7%2C8%2C9%2C10%5D%3B%0Avar%20newArray%20%3D%20%5B%5D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0AnewArray%20%3D%20oldArray.filter(function(val)%7B%0A%20%20%20%20return%20val%20%3C%3D%205%3B%0A%7D)%3B%0A) has an issu

[2016-02-05 23:05] #6764 closed

[2016-02-05 23:05] epicgug commented on #6764
I could have sworn there was a period in the return striing they asked for

[2016-02-05 23:06] TravisHi commented on #6764
Yeah I did too when I first read it :p

[2016-02-06 02:10] #6652 closed

[2016-02-06 02:11] brb808 commented on #6731
I'm a little confused why declaring the p class for the text size did not require ".p" with a period in front like .red-text?

[2016-02-06 02:20] xxks-kkk opened #6766 ""Run test" button is irresponsive for Chrome"
Challenge [Change the Font Size of an Element](http://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20amet%2C

[2016-02-06 04:05] haasDev opened #6769 "not matching backslash in regex"
when I submit my code everything passes except final test.  when debugging I found that the backslash in my regex isn't being matched as it should for some reason.

Challenge [Check for Palindromes](http://www.freecodecamp.com/challenges/check-for-palindromes#?solution=function%20palindrome(str)%20%7B%0A%20%20%2F%2F%20Good%20luck!%0A%20%20%0A%20%20str%20%3D%20str.toLowerCase().split(%22%22).filter

[2016-02-06 04:15] kmulligan opened #6770 "Nest one Array within Another Array"
In Basic Javascript --> Nest one Array within Another Array, the example code given isn't nested... I think.

This is the code:
[code]

My code works and passes. But shouldn't the example be:
``
// Example
var ourArray = [["the universe", "everything"], 42];
``

...to show off the nesting?

[2016-02-06 04:25] alistermada commented on #6769
Note: The instructions ask you to "remove all non-alphanumeric characters (punctuation, spaces and symbols)". This means your filtered string should only have letters and numbers.

If you are stuck on a challenge, please check out the [Help Chat](https://gitter.im/FreeCodeCamp/Help) first.

[2016-02-06 04:29] #6279 closed

[2016-02-06 04:30] #6495 closed

[2016-02-06 04:35] #6724 closed

[2016-02-06 04:45] alistermada commented on #6770
A nested array is simply an array within another array. Your code has a nested array (`["Kevin", 32]`), but so does the example (`["the universe", "everything", 42]`). Having other elements (such as the number 42) within the top-level array is irrelevant.

[2016-02-06 04:50] kmulligan commented on #6770
Gotcha. Thanks. Just was a little confused by the double [[ ]] with nothing else in it.

[2016-02-06 04:56] SaintPeter commented on #6735
I'm not sure how important this actually is.  Certainly it's trivial to add the link.  I don't necessarily want to add unneeded details.

@FreeCodeCamp/issue-moderators What do ya think?

[2016-02-06 04:58] #6757 closed

[2016-02-06 04:59] SaintPeter commented on #6760
@Mashadim Can you please open this issue on the Wiki repo?
https://github.com/FreeCodeCamp/wiki

Thanks and Happy Coding!

[2016-02-06 04:59] #6760 closed

[2016-02-06 05:02] SaintPeter commented on #6765
Normally I'm a 10 cent word kinda guy, but I think the simpler phrasing is easier to translate into other languages.

Also, I think I would say "is comprised of" - I am not sure that it is grammatically correct to say "it comprises only".

Regardless, I don't see much value in the change.

Thanks and Happy Coding!

[2016-02-06 05:02] #6765 closed

[2016-02-06 05:06] SaintPeter commented on #6761
Interesting.  I thought that it was clear that these were changes to `count`.

I think we need at least 2 more tests which have some combination of 7/8/9 and other value such that resetting `count` to `0` would fail.  I'm open to suggestions on how to emphasize that for these three values that we should not change `count` at all. . . . or that the `Value` represents a change in the value of `count

[2016-02-06 05:09] SaintPeter commented on #6766
It is responsive, your code is just wrong.  You are not supposed to add a class to the new `p` element, as it explicitly says in the instructions.

In the future, please ask for help in [Help Chat](https://gitter.im/FreeCodeCamp/Help) before opening an issue.

Thanks and Happy Coding!

[2016-02-06 05:09] #6766 closed

[2016-02-06 05:09] #6769 closed

[2016-02-06 05:15] xxks-kkk commented on #6766
Then it is really a unfriendly design. Click a button, expect something but actually not :(

Then how about now?
[code]

Still not showing anything?

[2016-02-06 05:18] SaintPeter commented on #6766
I agree that we could do a better job of showing that the tests have completed running.

[2016-02-06 05:21] SaintPeter commented on #6770
I agree, this example stinks.

The example code should be re-written to show more than one array inside another array.
eg:
[code]

[2016-02-06 05:36] xxks-kkk commented on #6766
Glad to see that. I feel confusing about wording of the hint, "Create an entry for p elements" and I figure out with the help of fellow campers:

[code]
To be honest, I have never seen this kind of usage (element tag followed by properties) until this usage? Would you guys show some example before this usage? Otherwise, I probably will stuck here forever.

[2016-02-06 05:38] ernest-okot commented on #6560
Hello,

Am having a similar issue with this challenge

Here is my code

[code]

That code returns `4` whilst in my opinion it's supposed to return `3`

Here is the console log

[code]

I get a feeling there's something wrong with the challenge

[2016-02-06 06:39] epicgug opened #6773 "I return all values greater than 5 however it still doesn't recognize it."
Challenge [Filter Arrays with filter](http://www.freecodecamp.com/challenges/filter-arrays-with-filter#?solution=var%20oldArray%20%3D%20%5B1%2C2%2C3%2C4%2C5%2C6%2C7%2C8%2C9%2C10%5D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0Avar%20newArray%20%3D%20oldArray.filter(function(val)%20%7B%0A%20%20return%20val%20%3E%205%3B%0A%7D)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0

[2016-02-06 06:45] ltegman commented on #6773
This is not a test issue. Github issues are not for challenge help. Please visit the [Help Chat] (https://gitter.im/FreeCodeCamp/Help) if you need help. Thanks and happy coding!

[2016-02-06 06:45] #6773 closed

[2016-02-06 07:01] QuincyLarson opened #6775 "Green checkmarks missing in project view and video view"
![](https://www.evernote.com/l/AqQfS5l81B9OGJHIFQ9y46utfp7tipzgMvEB/image.png)
![](https://www.evernote.com/l/AqRIb3uizgpEn4vA3J5Bkf5KVOce6nJATkIB/image.png)

[2016-02-06 07:03] BerkeleyTrue opened #6776 "Flash message not visible on /map page"

[2016-02-06 07:05] QuincyLarson opened #6777 "Left-align slide challenge text"
![](https://www.evernote.com/l/AqSi3-3WI5VAO4jNE1gk2iyhvGFNni4Qa_EB/image.png)

[2016-02-06 08:27] Pwter opened #6779 "Wrong testcase? Friendly date ranges"
I think there is a fault here, you need the year here in the bold line.
it should return ["December 1st, 2016","February 3rd"]

http://www.freecodecamp.com/challenges/friendly-date-range

[2016-02-06 08:35] AkiraLaine commented on #6779
@Pwter The instructions state:

Happy Coding :smile:

[2016-02-06 08:35] #6779 closed

[2016-02-06 08:38] Pwter commented on #6779
this is the one mentioning the beginning of the range but thanks!:)

[2016-02-06 08:41] Pwter commented on #6779
Thanks! But isnt that contradicts with this one?

 "2023-09-04"]) should return ["September 5th, 2022","September 4th"].

[2016-02-06 09:01] AkiraLaine commented on #6779
@Pwter Actually this: ```friendly(["2016-12-01", "2017-02-03"])``` should follow this:

Not sure about ```friendly(["2022-09-05", "2023-09-04"])``` though. Am I missing something @FreeCodeCamp/issue-moderators

[2016-02-06 09:02] Pwter commented on #6779
Is this about the current year as it is 2016 now? I thought it's about the friendly dates.

[2016-02-06 09:03] AkiraLaine commented on #6779
Current year refers to all ```2016``` dates

[2016-02-06 09:05] Pwter commented on #6779
Okey, i found the problem, thanks!

[2016-02-06 09:27] alistermada commented on #6775
I was working on this and I noticed that the view for the video challenges aren't loaded from the `showVideo.jade` file in `freecodecamp\server\views\challenges` but from the `Hike.jsx` file `freecodecamp\common\app\routes\Hikes\components`.

No wonder editing `showVideo.jade` wasn't doing anything.

[2016-02-06 09:39] langzi2015 commented on #6664
I can't pass the test using fireforks with zoom setting at 100%

[2016-02-06 11:56] MichaelLeeHobbs opened #6780 "Test state does not change after JavaScript error"
Had a typo in my code and most of the test past when none of them should have. See result = loolup[val]; this was returning undefined but the first 8 test passed.

Challenge [Using Objects for Lookups](http://www.freecodecamp.com/challenges/using-objects-for-lookups#?solution=%2F%2F%20Setup%0Afunction%20phoneticLookup(val)%20%7B%0A%20%20var%20result%3B%0A%0A%20%20%2F%2F%20Only%20change%20code%20be

[2016-02-06 11:59] alistermada commented on #6209
@AkiraLaine I think this issue has already been resolved. Can you confirm?

[2016-02-06 12:23] alistermada opened #6781 "Some problems with video challenges"
**1.** After answering a question, the answer remains highlighted in the next question.

![image](https://cloud.githubusercontent.com/assets/12993334/12866492/ee85469e-cd01-11e5-8688-ff2fd3c7bbf0.png)

**2.** ~~Reference to Hikes upon challenge completion.~~ [Fixed]

**3.** Large gaps in the video description.

![image](https://cloud.githubusercontent.com/assets/12993334/12866486/9c079dea-cd01-11e

[2016-02-06 12:30] MichaelLeeHobbs opened #6782 "Arrow functions throw warning but work correctly in code editor"
When using arrow functions in the code editor you revive a warning:

'arrow functions syntax (=>)' is only available in ES6 ('use esversion: 6').

However they work correctly with no issues.

[2016-02-06 13:02] cannelflow commented on #6780
checked on chrome windows 10 it checked every condition as passed tough giving error ReferenceError: loolup is not defined .however if you do like result = lookup[vall]; then also it is marking every condition as passed giving error ReferenceError: vall is not defined.

[2016-02-06 13:33] alistermada commented on #6780
Refreshing the browser seems to fix this problem.

[2016-02-06 16:33] cannelflow commented on #6209
yes it like that for me also if you try to access it through http://www.freecodecamp.com/map but you can find your solution if you navigate from http://www.freecodecamp.com/username and i agree with alistermada that it is only for challenge completed before UI change.

[2016-02-06 16:43] shw-eta opened #6783 "it doesn't run tests"
![screenshot from 2016-02-06 21 55 47](https://cloud.githubusercontent.com/assets/17098338/12867830/62e6b042-cd1e-11e5-89b1-02bdc20c81d3.png)

Challenge [Say Hello to HTML Elements](http://www.freecodecamp.com/challenges/say-hello-to-html-elements#?solution=%3Ch1%3EHello%20World%3C%2Fh1%3E%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko)

[2016-02-06 17:06] itschetan commented on #6783
![screenshot 11](https://cloud.githubusercontent.com/assets/17069952/12867990/e8137f22-cd21-11e5-853c-1ec714954194.png)
Its working..!!! Try restaring your browser then try.

[2016-02-06 17:59] oeyece opened #6784 "Lack of information provided with regards to the Open Weather API"
Challenge [Show the Local Weather](http://www.freecodecamp.com/challenges/show-the-local-weather) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

The instructions should let you know that if you want to use

[2016-02-06 18:01] oeyece commented on #6784
Never mind, I miss read.

[2016-02-06 18:01] #6784 closed

[2016-02-06 18:22] VibhorThakral commented on #6783
Many people are facing this issue even I had it at first I would say you should try using VPN, Browsec is a very good chrome extension for it. :)

[2016-02-06 18:36] sludge256 commented on #6783
Try this:
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Using-browsec-for-securing-your-connection-to-fcc

[2016-02-06 20:18] carl-parrish commented on #1342
It seems that Now I in Chrome I can save a new submission over the last one. But It doesn't seem to work in Firefox.

[2016-02-06 20:33] PeterChauYEG opened #6786 "Issue with the const variable declaration"
Challenge [Reverse a String](http://www.freecodecamp.com/challenges/reverse-a-string#?solution=function%20reverseString(str)%20%7B%0A%20%20var%20strArray%20%3D%20str.split('')%3B%0A%20%20var%20reverse%20%3D%20strArray.reverse()%3B%0A%20%20%0A%20%20return%20reverse.join('').toString()%3B%0A%7D%0A%0AreverseString(%22hello%22)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Ma

[2016-02-06 20:36] kmulligan commented on #6770
Thanks, should I leave this open or close it?

[2016-02-06 20:38] sludge256 commented on #6770
Go ahead and leave it open. It will be closed once a better example is created and accepted. It could even be you who submits the PR ;)
https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md

[2016-02-06 21:12] Greenheart commented on #6786
@PeterChauYEG I get this to work on Chrome/48.0.2564.**103** (64 bit) on Ubuntu.

However, FCC recommends campers to use ES5 until the browser support for ES6 is better (which it most likely will be later this year). This is to minimize confusion for new developers and let them focus on the core concepts instead of cutting-edge syntax and features.

[2016-02-06 21:18] Greenheart commented on #6782
FCC recommends campers to use ES5-syntax until the browser support for ES6 is better (which it most likely will be later this year). [ES6 Implementation status](https://kangax.github.io/compat-table/es6/)

This is to minimize confusion for new developers and let them focus on the core concepts instead of cutting-edge syntax and features.

Happy coding!

[2016-02-06 21:20] ltegman commented on #6786
This is not a problem with FCC and is dependent on browser support. Thanks and happy coding!

[2016-02-06 21:20] #6786 closed

[2016-02-06 21:25] Greenheart commented on #6781
1. I think that is a desired behavior in order to show what button you selected but I'm not sure.
2. Should probably say "challenge" instead?
3. Probably a design choice to make it easier to skim through. However I agree that it could be decreased a little bit.
4. Verified

[2016-02-06 21:29] sludge256 commented on #6782
If your browser does support ES6 you can add this to the top of your code to disable the warnings.
`//jshint esversion: 6 `

[2016-02-06 21:29] #6782 closed

[2016-02-06 22:25] acr187 opened #6787 "Typo: The past tense of input"
![inputed](https://cloud.githubusercontent.com/assets/17096026/12869735/84470d90-cd73-11e5-9011-ecf018e9f838.png)

Challenge [Add Placeholder Text to a Text Field](http://www.freecodecamp.com/challenges/add-placeholder-text-to-a-text-field) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64; rv:43.0) Gecko/20100101 Firefox/43.0</code>.
Please describe how to reproduce this issu

[2016-02-06 22:27] Greenheart commented on #6787
I agree, good job finding it!

[2016-02-06 22:39] Greenheart commented on #6212
@nightwalkerkg I like your third version, but as @alistermada mentioned - change the link color. Also maybe add **a few pixels of padding** to the code-markup in instructions.

@Aoxom Really neat and clean look!

This feature will be a great addition so please keep this up! :)

[2016-02-06 23:10] #6787 closed

[2016-02-07 00:12] rishipuri commented on #6721
Noticed this same issue today. Any updates?

[2016-02-07 01:39] dcofjapan commented on #6692
this is still an issue

[2016-02-07 01:40] CrystalCJoseph commented on #6225
Okay, attached you will find both Firefox and Chrome screenshots :)

On Thu, Feb 4, 2016 at 12:10 PM, Mrugesh Mohapatra <notifications@github.com

--
Sincerely,
*Crystal Claire Joseph*

[2016-02-07 02:33] MatheusGodinho commented on #6717
Working on it!

[2016-02-07 02:46] LenaBarinova commented on #6721
@rishipuri, I'm working on it, have it fixed now, but need to do more unit tests. I think I'll create a pull request next week.

[2016-02-07 02:53] #6770 closed

[2016-02-07 02:59] alistermada commented on #6209
@SaintPeter Can you check this out to confirm this? This seems to be related to #5957 which was closed because the problem wasn't able to be reproduced.

Here's how to reproduce it:
**1.** Find a challenge (either HTML & CSS or Algorithm) that you completed a while back and have not updated since. For this example I'll use [Inform with the Paragraph Element](http://www.freecodecamp.com/challenges/

[2016-02-07 04:29] justinian336 opened #6789 "Japanese translation of Getting Started"
- [ ] Learn how Free Code Camp Works
- [x] Create a GitHub Account and Join our Chat Rooms
- [ ] Configure your Code Portfolio
- [ ] Join a Campsite in Your City
- [ ] Learn What to Do If You Get Stuck

[2016-02-07 04:33] justinian336 opened #6790 "Japanese translation of Advanced Bonfires"
- [ ] Validate US Telephone Numbers
- [ ] Symmetric Difference
- [ ] Exact Change
- [ ] Inventory Update
- [ ] No repeats please
- [ ] Friendly Date Ranges
- [ ] Make a Person
- [ ] Map the Debris
- [ ] Pairwise

[2016-02-07 04:42] justinian336 opened #6791 "Japanese translation of Basic Bonfires"
- [ ] Get Set for our Algorithm Challenges
- [ ] Reverse a String
- [ ] Factorialize a Number
- [ ] Check for Palindromes
- [ ] Find the Longest Word in a String
- [ ] Title Case a Sentence
- [ ] Return Largest Numbers in Arrays
- [ ] Confirm the Ending
- [ ] Repeat a string repeat a string
- [ ] Truncate a string
- [ ] Chunky Monkey
- [ ] Slasher Flick
- [ ] Mutations
- [ ] Falsy Bouncer
- [ ] Se

[2016-02-07 04:44] justinian336 opened #6792 "Japanese translation of Basic Ziplines"
- [ ] Get Set for our Front End Development Projects
- [ ] Build a Personal Portfolio Webpage
- [ ] Build a Random Quote Machine
- [ ] Build a JavaScript Calculator
- [ ] Build a Pomodoro Clock

[2016-02-07 05:07] justinian336 opened #6793 "Japanese translation of Basic Javascript"
- [ ] Comment your JavaScript Code
- [ ] Declare JavaScript Variables
- [ ] Storing Values with the Equal Operator
- [ ] Initializing Variables with the Equal Operator
- [ ] Understanding Uninitialized Variables
- [ ] Understanding Case Sensitivity in Variables
- [ ] Add Two Numbers with JavaScript
- [ ] Subtract One Number from Another with JavaScript
- [ ] Multiply Two Numbers with JavaScript
-

[2016-02-07 05:44] SaintPeter commented on #6780
[code]

Your code is wrong.  You are not referencing the variable you defined.

In the future, please ask for help in [Help Chat](https://gitter.im/FreeCodeCamp/Help).

Thanks and Happy Coding!

[2016-02-07 05:51] lamar-frankie opened #6794 "Filtered all results greater than 5"
Challenge [Filter Arrays with filter](http://www.freecodecamp.com/challenges/filter-arrays-with-filter#?solution=var%20oldArray%20%3D%20%5B1%2C2%2C3%2C4%2C5%2C6%2C7%2C8%2C9%2C10%5D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0Avar%20newArray%20%3D%20oldArray.filter(function(val)%7B%0A%20%20return%20val%20%3E%3D%206%3B%0A%7D)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0

[2016-02-07 05:58] shw-eta commented on #6783
Thanku guys I have installed browser everything is fine now ! :)

[2016-02-07 05:58] shw-eta commented on #6783
*browsec

[2016-02-07 05:59] #6783 closed

[2016-02-07 06:01] AkiraLaine commented on #6794
Hey @lamar-frankie, please read the insurrections and tests carefully.

If you need help, go to our [main](https://gitter.im/FreeCodeCamp/FreeCodeCamp) room or our [JavaScript Help](https://gitter.im/FreeCodeCamp/HelpJavaScript) room. GitHub is for issues only.

[2016-02-07 06:01] #6794 closed

[2016-02-07 06:04] SaintPeter commented on #6209
Confirmed with a challenge I had completed back in July.

This is interesting, because the code looks like it checks by challenge ID:  https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/server/boot/challenge.js#L56

What is doubly interesting is that it does show complete on the map.

Before October it did much the same:
https://github.com/FreeCodeCamp/FreeCodeCamp/commit/6c305dbc6763b4bda0

[2016-02-07 06:28] LatashaH commented on #5467
Hi. This thing is Not working for me and it holding me back. I have correct code and it will not run correctly on a chrome browser on android. Two people looked at it and said it worked. I dont want to put a bug report on something that works. But its sorta crazy. Thanks for your time.

[2016-02-07 07:01] #6777 closed

[2016-02-07 07:07] QuincyLarson opened #6797 "Clicking Map button when map is active should slide map shut"
![](https://www.evernote.com/l/Ar86WmBdQc1PtrBWZc_HWd7eCWsDGOKunUsB/image.png)

[2016-02-07 08:09] QuincyLarson opened #6799 "Navbar displaced on certain viewport widths"
![](https://www.evernote.com/l/Ar-on4o2CuNGG6D8zfWXtJQHuDTik-htpxsB/image.png)

[2016-02-07 09:10] raisedadead commented on #6225
@CrystalCJoseph

Umm, Github doesn't let you attach images via email! You have to visit this [issue page here](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/6225).
And drag and drop those screenshots in to the comment box.

Thanks again for helping us out!

[2016-02-07 09:58] vanshdeepsingh1 opened #6800 "problem in html 5"
Challenge [Change the Font Size of an Element](http://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%7D%0A%20%20p%7Bfont-size%3A16px%3B%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%2Cclass%3D%22p%22%20%3EKitty%20ipsum%20dolor%20sit

[2016-02-07 10:07] Greenheart commented on #6800
@vanshdeepsingh1 This doesn't seem to be a bug.

If you want help, you can go to any of the help-chatrooms in this list - [Official Free Code Camp Chatrooms](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Official-Free-Code-Camp-Chat-Rooms) where you'll find plenty of campers that want to help you!

Good luck and happy coding! :smile:

[2016-02-07 10:09] cannelflow commented on #6800
@vanshdeepsingh1  agreed this is not a bug before reporting bug you should first ask at FCC chat room

[2016-02-07 10:26] AkiraLaine commented on #6800
Closing this as this is not an issue

[2016-02-07 10:26] #6800 closed

[2016-02-07 12:56] benmcmahon100 opened #6802 "React apps' nav bar doesn't match the main apps' nav bar"
@BerkeleyTrue

The shop link disappears when on the react app version of the site
/news
![image](https://cloud.githubusercontent.com/assets/10749142/12872435/11864e02-cd9a-11e5-9454-e18bdd54c9a5.png)

/jobs
![image](https://cloud.githubusercontent.com/assets/10749142/12872436/1c35ce68-cd9a-11e5-8767-9be78e8591e7.png)

[2016-02-07 15:02] abisz commented on #6799
that's because the media query is adjusted for single-digit challenge points. does it make sense to change the "max-width" so the layout is safe up to four-digit points, or does anyone have a better idea?

[2016-02-07 15:27] skusku opened #6805 "Challenge Basic JavaScript :: Manipulate Arrays with unshift() description not matching needed solution"
The challenge in Basic JavaScript
 "id": "bg9997c9c69feddfaeb9bdef",
 "title": "Manipulate Arrays With unshift()"

asks us to `unshift()` the Array. However you have to first `shift()` the solution and then `unshift()` it in order to proceed.

[2016-02-07 16:09] rfprod opened #6808 "Russian Translation of React Projects"
- [x] Build a Markdown Previewer
- [x] Build a Camper Leaderboard
- [x] Build a Recipe Box
- [x] Build the Game of Life
- [x] Build a Roguelike Dungeon Crawler Game

[2016-02-07 16:22] MichaelLeeHobbs commented on #6780
SaintPeter, you should go back and thoroughly read the initial issue submission. I pointed out that I had a typo yet test were passing that should not have been. It is painfully clear that you did not read it or the following post where others verified the issue. This only servers to make the last two lines of your post very condescending and greatly reduces the odds that I will take the time in t

[2016-02-07 16:35] hallaathrad commented on #6780
@MichaelLeeHobbs I gave it a try and cannot seem to be able to replicate your issue from scratch. As @alistermada explains, this seems to be caused somehow after you have initially passed the tests and then change the variable. It's been brought to the core team's attention, but I don't honestly know whether it'll be fixed soon as it is not system breaking. i.e. it does rely on having passed first

[2016-02-07 16:56] SaintPeter commented on #6780
@MichaelLeeHobbs You're right, I did not read the issue submission carefully.  Please accept my apologies.  We get a deluge of "my code is broken" errors and I tend to dispose of them quickly.  As for my last two lines, those are boilerplate and I will never apologize for being polite. :wink:

I was able to replicate the issue:
1. Run partial code which replicates the 6 red/2 green errors (just ru

[2016-02-07 17:05] hallaathrad commented on #6780
Hm considering some of us do go back to improve previous code as our skills get better, it is worth improving (I'd use that worth rather than fixing, as it is not broken... it'd rather be a required enhancement). However, it being non-critical, I honestly do not know whether it would be easy enough to add to justify the brain cycles to do so.

[2016-02-07 17:22] anomepani opened #6810 "Test result fail for true answer Filter Array with filter challenge"
Challenge [Filter Arrays with filter](http://www.freecodecamp.com/challenges/filter-arrays-with-filter#?solution=var%20oldArray%20%3D%20%5B1%2C2%2C3%2C4%2C5%2C6%2C7%2C8%2C9%2C10%5D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0Avar%20newArray%20%3D%20oldArray.filter(function(val)%7Breturn%20val%20%3E%205%3B%7D)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.

[2016-02-07 17:30] ltegman commented on #6810
Read the challenge instructions carefully. This is not the correct answer. Please visit the [Help Chat](https://gitter.im/FreeCodeCamp/HelpJavaScript) if you need help. Thanks and happy coding!

[2016-02-07 17:30] #6810 closed

[2016-02-07 18:31] SaintPeter commented on #6799
@hallaathrad Want to take a look at this?

[2016-02-07 18:32] hallaathrad commented on #6799
I'm on it

[2016-02-07 18:47] erictleung opened #6812 ""Missing" Basic JavaScript challenges"
The last challenge in the JavaScript section is "Invert Regular Expression Matches with JavaScript."

![image](https://cloud.githubusercontent.com/assets/2754821/12874316/a74a0014-cd86-11e5-9204-2a1c33510999.png)

But in the [code base](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/basic-javascript.json#L4723), there are more chall

[2016-02-07 18:47] imimpressed opened #6813 "Need to add Raleigh, NC to the map"
[Raleigh, NC](https://www.facebook.com/groups/free.code.camp.raleigh) is on the list but not on the map,[ "List of Free Code Camp city based Campsites" ](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/List-of-Free-Code-Camp-city-based-Campsites)on [google maps](https://www.google.com/maps/d/u/0/embed?mid=zH0hxoM17_fk.kDBMlxfk0BZ8).

[2016-02-07 18:49] #6802 closed

[2016-02-07 19:04] savvysioux opened #6815 "Give a Background Color to a Div Element issue- not accepting my answer"
<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    widt

[2016-02-07 19:06] #6815 closed

[2016-02-07 19:12] bugron commented on #6812
@erictleung that is true. But these challenges are marked as beta (see `"isBeta": true` property for those challenges), that is why they're not in production site.

[2016-02-07 19:12] #6812 closed

[2016-02-07 19:28] #6799 closed

[2016-02-07 19:51] netschki commented on #6212
![snapshot2](https://cloud.githubusercontent.com/assets/12996034/12874835/824ab352-cddc-11e5-8337-8c24d5717bf0.png)

Here is my idea

[2016-02-07 20:16] hallaathrad commented on #6212
I like @netschki's take... the colours seem to match the "light" palette quite nicely. I've been working on a dim one like his as well.

[2016-02-07 20:17] hallaathrad commented on #6813
Added ;)

[2016-02-07 20:17] #6813 closed

[2016-02-07 20:25] NYCSavage opened #6816 "I have completed this session already and have moved onto the next session but it is not showing as complete on my map. This is also the same with:"
Challenge [Add Different Margins to Each Side of an Element](http://www.freecodecamp.com/challenges/add-different-margins-to-each-side-of-an-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_3) AppleWebKit/601.4.4 (KHTML, like Gecko) Version/9.0.3 Safari/601.4.4</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[2016-02-07 20:27] NYCSavage commented on #6816
I am currently up to "Override Class Declarations by Styling ID Attributes" but according to my map it says the previous session as incomplete (despite completing them):

Add Different Margins to Each Side of an Element Incomplete

Use Clockwise Notation to Specify the Padding of an Element Complete

Use Clockwise Notation to Specify the Margin of an Element Complete

Style the HTML Body Element I

[2016-02-07 20:29] NYCSavage commented on #6816
I have just gone into each one again, clicked "Run tests" and then they are now marked as complete

[2016-02-07 20:34] SirSeanConnerie opened #6817 "Waypoint: Make Object Properties Private- Not checking correctly"
![image](https://cloud.githubusercontent.com/assets/16216332/12875018/bdde3476-cdae-11e5-9171-3ff1303f5b8f.png)

Tried asking on glitter but no response. When I test the code I can return 3 and 1 as required but it won't check as such.

Seems like a minor issue assuming I did nothing wrong.

[2016-02-07 20:37] NYCSavage commented on #6816
Forgot to mention, using a Macbook (early 2015 model) brand new out of the box and up to date with all software updates.

[2016-02-07 20:42] kira8975 opened #6818 "Challenges wont advance"
Challenge [Increment a Number with Javascript](http://www.freecodecamp.com/challenges/increment-a-number-with-javascript#?solution=var%20myVar%20%3D%2087%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0AmyVar%2B%2B%3B%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.103 Safari/537.36</code>.
Plea

[2016-02-07 21:01] chuckadams commented on #5308
I think the problem should be simplified to eliminate the step of reducing over an arbitrary number of args unless and until some description comes around that neither confuses the reader nor requires a wall of text larger than most other challenges to explain.  Just have the user implement symmetric difference until a better treatment of Array.reduce can be put into another challenge.

[2016-02-07 21:13] Ronaiza commented on #6720
work on it!

[2016-02-07 21:15] Greenheart commented on #6212
Nice work @netschki!
But will it be usable by those who need higher contrast? Maybe the text needs to be a bit lighter?

[2016-02-07 21:20] netschki commented on #6212
@Greenheart Don't mix up these two, we are here speaking of a "Night Mode" not of a high Contrast mode for Accessibility reasons.
And in my Opinion a so called Night Mode shouldn't have strong contrast or even white in it, on the other side a High Contrast Mode, i would make a slightly darker Screen, increase Text Size and make the text white

[2016-02-07 21:54] Greenheart commented on #6212
@netschki That's a good point! Keep up the good work! :)

[2016-02-07 22:04] hallaathrad commented on #6212
just as a matter of curiosity, @netschki... you're only changing the colours, right?

[2016-02-07 22:57] noncentz commented on #6781
Just a heads up in case someone missed it,
![hmm](https://cloud.githubusercontent.com/assets/8762304/12875980/08de8dbc-cdc4-11e5-9a86-a2419cd563f7.png)

[2016-02-08 00:15] ejg opened #6819 "Mismatched error message for Font Size of an Element"
Challenge [Change the Font Size of an Element](http://www.freecodecamp.com/challenges/change-the-font-size-of-an-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.111 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]
Havin

[2016-02-08 01:07] fredericksilva commented on #6712
working on it

[2016-02-08 01:53] Thraganux opened #6820 "Suggestion"
Challenge [Build a Simon Game](http://www.freecodecamp.com/challenges/build-a-simon-game) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64; rv:43.0) Gecko/20100101 Firefox/43.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

This is more of a suggestion, so I'm not sure where to mention it:
Due to the issues i've read with M

[2016-02-08 02:47] alistermada commented on #6817
Your `setGear` function increments `gear` by the argument passed instead of setting it to the argument's value. Note: `gear` isn't reset to 0 by the time `myBike.setGear(3)` is called.

[2016-02-08 03:03] danielfsousa commented on #6713
Working on it

[2016-02-08 03:22] jle3 opened #6821 "Seek and Destroy Challenge not accepting correct output."
Challenge [Seek and Destroy](http://www.freecodecamp.com/challenges/seek-and-destroy#?solution=function%20destroyer(arr)%20%7B%0A%20%20%2F%2F%20Remove%20all%20the%20values%0A%20%20function%20comp%20(element%2C%20index%2C%20array)%7B%0A%20%20%20%20return%20element%20!%3D%3D%20this%3B%0A%20%20%7D%0A%20%20var%20result%20%3D%20arr%3B%0A%20%20var%20arg%20%3D%20arguments%3B%0A%20%20for(var%20i%20%3D%201

[2016-02-08 03:42] CrystalCJoseph commented on #6225
Oh I had replied via email and attached them that way, not realizing where you were actually viewing this. Sorry lol  When I'm at my computer I'll drop the pics in

[2016-02-08 03:48] CrystalCJoseph commented on #6225
Chrome - Console
![chrome - console](https://cloud.githubusercontent.com/assets/11810503/12878075/c69599c6-cde3-11e5-8036-a1c0941975e2.png)

Chrome - Network
![chrome - network 01](https://cloud.githubusercontent.com/assets/11810503/12878092/13bf6f88-cde4-11e5-9930-3b9d60091e54.png)
![chrome - network 02](https://cloud.githubusercontent.com/assets/11810503/12878095/1f897962-cde4-11e5-9e7f-ec7f71f7

[2016-02-08 03:51] CrystalCJoseph commented on #6225
Sorry @raisedadead I was just replying to the email on my phone, so I didn't realize the photos wouldn't go into the comment. But, there they are in my last comment so I hope it helps

[2016-02-08 04:18] alistermada commented on #6821
I'm not exactly sure why the console is returning `["hamburger"]`, but if you type in `console.log(this)` in your `comp()` function, you'll notice that it logs either a String object or a Number object. One of those JavaScript quirks of assigning a value to `this` I guess. You'll have to convert those objects to their primitive values.

[2016-02-08 05:18] erictleung commented on #6819
It appears that the last test is designed to test the new paragraph you added and assumes that there is no class added to it i.e. `<p>...</p>`. This challenge could be modified to either give instructions to make both paragraphs red text or specify that the new paragraph shouldn't have any classes added to it.

[2016-02-08 05:19] alistermada commented on #6781
@Greenheart As for number 1, the screenshot shows my answer for Question 1; I didn't click false on Question 2. I don't think answers from the previous question should remain highlighted on the current one.

@noncentz I'm not sure what's up with Question 3. As for the Meet Bonfire solution, the challenge has been renamed so the route it's trying to link to (`\challenges\meet-bonfire`) doesn't exis

[2016-02-08 05:23] jorgeruvalcaba commented on #6496
Se integraron las siguientes challenges:

- [x] Storing Values with the Equal Operator.
- [x] Initializing Variables with the Equal Operator.
- [x] Understanding Uninitialized Variables.
- [x] Understanding Case Sensitivity in Variables.
- [x] Increment a Number with Javascript.
- [x] Decrement a Number with Javascript.
- [x] Finding a Remainder in Javascript
- [x] Assignment with Plus Equals
- [x

[2016-02-08 05:40] sludge256 commented on #6819
The instructions do mention this

The test text could use an update to better reflect the updated test, and perhaps the word "extra" could be omitted from the mentioned section of the instructions to prevent confusion.

[2016-02-08 05:44] AkiraLaine commented on #6805
@skusku You do not have to ```shift()``` the array, that is done for you.

@FreeCodeCamp/issue-moderators Thoughts?

[2016-02-08 05:56] sludge256 commented on #6816
This was probably due to the server maintenance and/or the server not being able to handle the high load during a usage peak. Feel free to reopen if the issue persists.

[2016-02-08 05:56] #6816 closed

[2016-02-08 06:18] LatashaH opened #6823 "The button will not properly submit my code"
Challenge [Add Rounded Corners with a Border Radius](http://www.freecodecamp.com/challenges/add-rounded-corners-with-a-border-radius#?solution=%3Clink%20href%3D%22http%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-

[2016-02-08 06:50] alistermada commented on #6823
Hmm.. for some reason `border-radius` doesn't affect the image if it's declared below `border-style`. If you switch those two properties around it works.

However, there isn't anything wrong with your code. If you run the tests with your original code again it should work.

[2016-02-08 06:55] ankitaggarwal011 commented on #6819
I think removing the word "extra" and putting a break between two messages in Note would be enough.

It's also possible to split the last test case into two test cases, one asserting that no classes are attached with test p element and the other to assert the font size is as desired.

[2016-02-08 06:59] LatashaH commented on #6823
Hi. After doing what you suggested it still didnt work. Is it my device or
what? Ive been having problems since yesterday.
On Feb 8, 2016 12:54 AM, "Alister Najib Mada" <notifications@github.com>
wrote:

[2016-02-08 07:02] alistermada commented on #6823
@LatashaH  That's odd. When I clicked on the link to your code, it originally didn't work for me then I did what I described above and it worked.

I'm not sure. It might be device-specific. What browser and operating system are you using? Are you getting any errors in console?

[2016-02-08 07:08] sludge256 commented on #6823
While the link and the raw code posted the body of the post appear to contain the same code they produce different URLs.
Link URL:
[code]
URL generated from code shown in this issue:
[code]

There seems to be an unusual white space character before
[code]
in the linked code as opposed to the pasted code.

[2016-02-08 07:08] LatashaH commented on #6823
I am using an Android on Chrome. I do not not understand your last question.
On Feb 8, 2016 1:06 AM, "Alister Najib Mada" <notifications@github.com>
wrote:

[2016-02-08 07:12] LatashaH commented on #6823
I must also add after skipping the exercise and the one after it...I had no
problems with completing the exercises that had nothing to do with
border-radius and etc.
On Feb 8, 2016 1:08 AM, "Latasha Hoard" <latashahoard@gmail.com> wrote:

[2016-02-08 07:15] alistermada commented on #6823
@LatashaH I believe you can access the console on Android with Chrome by typing `about:debug ` in the address bar of the page.

[2016-02-08 07:18] LatashaH commented on #6823
Ok. The suggestion you made about white space worked. But what was crazy
was that I had to put all of that information i.e. border info on one line
of code. Is that normal?

Thank you.

L.
On Feb 8, 2016 1:12 AM, "Latasha Hoard" <latashahoard@gmail.com> wrote:

[2016-02-08 07:26] LatashaH commented on #6823
Ok. Thanks. Although to be honest, I am not familiar with what a console is
or does or anything at all. I am a novice, indeed.
On Feb 8, 2016 1:23 AM, "Alister Najib Mada" <notifications@github.com>
wrote:

[2016-02-08 07:32] raisedadead commented on #6225
@CrystalCJoseph Thanks for the screenshots.

From your Chrome Console log is appears that your facing a CSP issue, many campers faced recently ([read more](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/5999)).

Since you are blocked by issue on both Chrome and Firefox, I recommend you go through the wiki link below, and try `browsec`. It may resolve your case at least.

https://github.com/Fr

[2016-02-08 07:32] sludge256 commented on #6823
You shouldn't have to put it all in one line, but for some reason an non-normal space was added to your code. Regular spaces are encoded as `%20` but you had a white-space character of `%C2%A0` in your code. Do you have any idea how that may have occurred?

[2016-02-08 07:36] skusku commented on #6805
Hmm, I had to shift() before it worked for me. I still feel strange that there's a shift when the description is clearly only about unshift(). The returned answer is in my eyes not what one would expect from the question.

[2016-02-08 07:42] LatashaH commented on #6823
I have no idea because other people where able to use my code too and no
problems. I did notice that the system would not really clear things up and
etc; when I would clear out my code or refresh the page and it would save
bits of it after the fact. But I also noticed when I went forward in my
code the code displayed was not on one line. But there was no error saying
I had white space.
On Feb 8, 2

[2016-02-08 07:46] AkiraLaine commented on #6805
@skusku Could you paste your code here?

[2016-02-08 07:51] netschki commented on #6212
@hallaathrad yes, but this was only a draft - Would you change more?
the colors i used:
Background color: #2b2b2b2
white Text: #AAAAAA
buttons(Run, Help, etc.): green; text color of the button: #AAAAAA
in the continuous text i removed the background only left the "pink" highlighting

@Greenheart sorry for the harsh tone it was already late and i did not prove read it.
i don't think creating a Cont

[2016-02-08 07:53] skusku commented on #6805
[code]

[2016-02-08 07:55] skusku commented on #6805
and this did not work:
[code]

[2016-02-08 08:10] sludge256 commented on #6805
@skusku It seems you removed the `shift()` from the default code

This is what I have with a reset to ensure I'm looking at default code:
[code]

[2016-02-08 08:15] skusku commented on #6805
Oh okay oops! My bad then.

[2016-02-08 08:16] QuincyLarson commented on #6820
@Thraganux is there an easier option than making them use new API? Like having higher quality sounds? Or am I missing the point you're making?

[2016-02-08 08:16] rfprod commented on #6808
@bugron I just found a couple of typos in the file I committed yesterday. What's the best way to make corrections. And should the issue be closed by someone else after checking an confirming my commit or should I do it myself?

[2016-02-08 08:20] narlem opened #6824 "hello-world"
Just getting started

[2016-02-08 08:20] #6824 closed

[2016-02-08 08:25] #6805 closed

[2016-02-08 10:19] vtamara commented on #6496
@jorgeruvalcaba te invito a hacer una solicitud de cambio (pull request) de lo que llevas y a solicitar revisión en el canal, después te invito a realizar las mejoras que te sugieran y a seguir traduciendo de arriba hacía abajo.  @justinian336 podría comenzar de abajo hacía arriba.

[2016-02-08 10:44] richyvk opened #6825 "Better wording for first paragraph - Create a custom heading bootstrap waypoint"
Challenge [Create a Custom Heading](http://www.freecodecamp.com/challenges/create-a-custom-heading

First paragraph reads: "We will make a simple heading for our Cat Photo App by putting them in the same row."

Recommend changing to:

"We will make a simple heading for our Cat Photo App by putting the title and relaxing cat image in the same row."
[code]

[2016-02-08 11:51] bugron commented on #6808
@rfprod the best way is making changes and amending the commit (IMHO). Or you can just add another commit (as you did, this is nice option because I can see what have you changed) and when I or someone else verifies that translation is good amend them and get ready to be merged. PR shouldn't be closed in that case. This issue will be closed when your PR is merged.

[2016-02-08 12:39] rfprod commented on #6808
@bugron got it.

[2016-02-08 12:59] darrylpargeter opened #6826 "JavaScript Lingo: MDN and Documentation Question issue."
Going though the new Video Challenge and question 3 on JavaScript Lingo MDN and Documentation doesn't seem to be there. Though clicking true answers it correctly, while false gives me the wrong answers animation.

![screen shot 2016-02-08 at 12 50 34](https://cloud.githubusercontent.com/assets/10661000/12886093/f699494a-ce62-11e5-8e59-b71c96681e24.png)

[2016-02-08 13:28] pedroigor91 opened #6827 "Error"
Challenge [Size your Images](http://www.freecodecamp.com/challenges/size-your-images#?solution=%3Clink%20href%3D%22http%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20%0A%20%20.smaller-image%20%7Bwidth%3A100px%3B%7D%0A%0A%20%20h2%20%7B%0A%20%20%2

[2016-02-08 13:33] #6827 closed

[2016-02-08 13:59] topcat11 opened #6828 "Add borders around your elements false error ?"
I get error that i didn't set the border to 10px and i don't know what is wrong .

Challenge [Add Borders Around your Elements](http://www.freecodecamp.com/challenges/add-borders-around-your-elements#?solution=%3Clink%20href%3D%22http%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20co

[2016-02-08 14:02] ejg commented on #6819
Just to clarify, the issue is not with the instructions for the exercise. The problem is the error message gives the error as the font-size instead of the class on the second p tag.

Instead of the font-size message being highlighted as wrong, the second message should be marked wrong with some text like "Make sure each of your p elements has a closing tag and the correct classes".

[2016-02-08 15:00] ObieMD5 opened #6829 "Error in Basic Algorithm Scripting -> Check for Palindromes"
I wrote the algorithm to check for palindromes and it works perfect except on the last test case that the system uses.  It states that `palindrome("0_0 (: /-\ :) 0-0)` should return true, when in reality it should return false because the 2 and 16 characters are not the same.  One is a dash and the other is an underscore.

[2016-02-08 15:02] rkingkeo opened #6830 "Global variable error."
Challenge [Global vs Local Scope in Functions](http://www.freecodecamp.com/challenges/global-vs-local-scope-in-functions#?solution=%2F%2F%20Setup%0Avar%20outerWear%20%3D%20%22T-Shirt%22%3B%0A%0Afunction%20myFunction()%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%0A%20%20outerWear%3D%22sweater%22%3B%0A%20%20%0A%20%20%2F%2F%20Only%20change%20code%20above%20this%20line%0

[2016-02-08 15:03] #6829 closed

[2016-02-08 16:03] ejg commented on #6828
You misspelled width:  ` border-witdh: 10px;`

[2016-02-08 16:27] hallaathrad commented on #6828
That should fix the issue. Thanks for your help @ejg.
@topcat11: please check in the [help channel](https://gitter.im/FreeCodeCamp/Help) first.
Github is meant only for reporting verified bugs and issues with the system.

[2016-02-08 16:27] #6828 closed

[2016-02-08 16:29] samthedog99 commented on #6013
Isn't it proper grammar to add TWO spaces after a period?  This answer only accepts one space.

[2016-02-08 16:40] danaewill opened #6831 "Code coming up already completed"
Hi folks,
       This challenged and the prior two challenges loaded already with the correct code and with the green check mark. I made no changes to the code and the challenge was approved. Would love to have done it myself.

Thank you!

Challenge [Style Multiple Elements with a CSS Class](http://www.freecodecamp.com/challenges/style-multiple-elements-with-a-css-class) has an issue.
User Agent i

[2016-02-08 16:41] #6831 closed

[2016-02-08 16:45] iamscripted commented on #6731
@brb808 the (.) dots  are only used for classes. so that's a way of saying that you want to target just the class name (ie. .red-text).  p  is an element, so it doesn't use that. It also means that all paragraph tags made will be 16px.. well, unless a class is made that declare otherwise.  Just remember this, class and id are used to uniquely customize elements.

[2016-02-08 16:58] ltegman commented on #6826
@SaintPeter Not sure if you're the right person to ask, but any idea what this question was supposed to be?

[2016-02-08 17:08] raisedadead commented on #6830
Yup Confirmed.

[2016-02-08 17:29] raisedadead commented on #6830
Sorry, my bad.

@rkingkeo Your code actually is incorrect:
[code]

Please have a look at the example code, in the instruction.
You can further queries at [Help Chat](https://gitter.im/FreeCodeCamp/Help).

[2016-02-08 17:37] #6830 closed

[2016-02-08 19:25] nightwalkerkg commented on #6212
@netschki i like your solution, but i would just make the pink text bolder.

[2016-02-08 19:37] erictleung commented on #6013
There's quite a debate on one-space versus two-space (http://www.writersdigest.com/online-editor/how-many-spaces-after-a-period). Up to others on whether they want to accept only one or also two spaces.

[2016-02-08 19:40] brb808 commented on #6731
@iamscripted Thank you for the great explanation.

[2016-02-08 19:46] ltegman commented on #6013
One in most common in digital media and you can't even display two spaces in HTML without going to extra effort, so we will be sticking with one space.

[2016-02-08 20:06] jorgeruvalcaba commented on #6496
Listo @vtamara, me parece bien. Continuaré traduciendo de arriba hacia abajo.

[2016-02-08 20:19] SaintPeter commented on #5467
@LatashaH If you want to share your code we can take a look, but we have not been getting reports like this since we pushed the fix out.

[2016-02-08 20:22] johnpallis1990 opened #6833 "is not going to the next lesson"
Challenge [Use RGB to Color Elements White](http://www.freecodecamp.com/challenges/use-rgb-to-color-elements-white#?solution=%3Cstyle%3E%0A%20%20body%20%7B%0A%20%20%20%20background-color%3Argb(255%2C%20255%2C%20255)%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.82 Safari/537.36 OPR

[2016-02-08 21:03] sludge256 commented on #5467
@SaintPeter
The issue was "resolved" in https://github.com/FreeCodeCamp/FreeCodeCamp/issues/6823

[2016-02-08 21:11] sludge256 commented on #6823
@FreeCodeCamp/issue-moderators
Should we consider this resolved and close the issue? I am unable to reproduce the issue without knowing how the non-standard white space character was introduced.

[2016-02-08 21:12] sellis7 commented on #6566
I just want to comment, because this is the closest issue I've seen to what I'm experiencing. It's the exact same phenomenon as "thanisha123" experienced - however I'm having this issue on my mobile devices...
iPad 2 (iOS 8.4), both Safari & Firefox, & I then attempted to pull up the site from my Samsung phone (Android 4.3) and had the exact same behavior.

I can't get the box to respond to tappin

[2016-02-08 21:20] MrHormonas commented on #6718
i can work on this

[2016-02-08 21:25] revisualize opened #6834 "JavaScript for loop multiple variable initialization not recognized."
Challenge [Iterate Through an Array with a For Loop](http://www.freecodecamp.com/challenges/iterate-through-an-array-with-a-for-loop#?solution=%2F%2F%20Example%0Avar%20ourArr%20%3D%20%5B%209%2C%2010%2C%2011%2C%2012%5D%3B%0Avar%20ourTotal%20%3D%200%3B%0A%0Afor%20(var%20i%20%3D%200%3B%20i%20%3C%20ourArr.length%3B%20i%2B%2B)%20%7B%0A%20%20ourTotal%20%2B%3D%20ourArr%5Bi%5D%3B%0A%7D%0A%0A%2F%2F%20Setup

[2016-02-08 21:26] #2524 closed

[2016-02-08 21:30] nightwalkerkg opened #6835 "Profile page redesign"
Hey, i have been talking to @hallaathrad and we had an idea to do a new design for the profile page.
So i set down and did a mock up.
![](http://i.imgur.com/x9CxLTn.png)

The left side ( sidebar ) and the FCC activity board will be fixed, and only the challanges part of it would scroll.
Any feedback is welcome on how we can improve it.

[2016-02-08 21:30] revisualize commented on #6835
Is there a mock up for Mobile Browsers?

[2016-02-08 21:31] hallaathrad commented on #6835
not quite yet, but it'd look much like the current one (at least for now)

[2016-02-08 22:18] BerkeleyTrue commented on #6835
Isn't there already an issue open on portfolio redesign?

[2016-02-08 22:18] apayabyab opened #6836 "Not working"
Challenge [Turn an Image into a Link](http://www.freecodecamp.com/challenges/turn-an-image-into-a-link#?solution=%3Clink%20href%3D%22http%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monos

[2016-02-08 22:31] LatashaH commented on #6823
Yes. The issue is resolved.
On Feb 8, 2016 3:48 PM, "Brian" <notifications@github.com> wrote:

[2016-02-08 22:31] #6823 closed

[2016-02-08 23:05] nightwalkerkg commented on #6835
@BerkeleyTrue can you link it ?

[2016-02-08 23:08] BerkeleyTrue commented on #6835
https://github.com/FreeCodeCamp/FreeCodeCamp/issues/5667

[2016-02-08 23:13] nightwalkerkg commented on #6835
@BerkeleyTrue ah, i didn't see this one at all. @hallaathrad if you want we can close this one and continue there ?

[2016-02-08 23:16] hallaathrad commented on #6835
Yes, let's do that, please. :) closing this one for that purpose.

[2016-02-08 23:16] #6835 closed

[2016-02-08 23:17] nightwalkerkg commented on #5667
Hey, i have been talking to @hallaathrad and we had an idea to do a new design for the profile page.
So i set down and did a mock up.
![](http://i.imgur.com/x9CxLTn.png)

The left side ( sidebar ) and the FCC activity board will be fixed, and only the challanges part of it would scroll.
Any feedback is welcome on how we can improve it.

[2016-02-08 23:21] nightwalkerkg commented on #5667
Hey, i have been talking to @hallaathrad and we had an idea to do a new design for the profile page.
So i set down and did a mock up.
![](http://i.imgur.com/x9CxLTn.png)

The left side ( sidebar ) and the FCC activity board will be fixed, and only the challanges part of it would scroll.
Any feedback is welcome on how we can improve it.

[2016-02-08 23:27] pmbenjamin commented on #5667
:+1:

[2016-02-08 23:35] #6797 closed

[2016-02-08 23:46] vtamara commented on #6519
@justinian336 podrías por favor poner en la descripción inicial de este problema/issue las cajas de verificación y textos que indican los desafios y su revisión como puse en el comentario?  Es que asi queda bien el progreso al verlo en el listado de problemas y queda listo para ser reusado a futuro.

[2016-02-08 23:48] vtamara commented on #6519
Lo mismo tocaría en los demas problemas de  verificación/actualización.  Disculpa no haberlo pensado y pedido desde un comienzo.

[2016-02-08 23:53] #6817 closed

[2016-02-08 23:56] SaintPeter commented on #6821
Sorry, but Issues are not for code problems.  As @alistermada say, please ask for help in [Help Chat](https://gitter.im/FreeCodeCamp/Help).

Thanks and Happy Coding!

[2016-02-08 23:56] #6821 closed

[2016-02-08 23:59] SaintPeter commented on #6781
Looks like there was a leftover question here:
https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/04-video-challenges/jslingo.json#L31

These were part of the template I built when we added these in.  Probably just a simple oversight.

[2016-02-09 00:04] SaintPeter commented on #6825
I agree, your proposed wording is clearer.

[2016-02-09 00:09] SaintPeter commented on #6819
I think it probably makes sense to have two separate tests.  There needs to be a test that ensures that there exists at least one `p` element with no classes, prior to the one that checks the size, since that check is dependent on it not having a class.

[2016-02-09 00:11] SaintPeter commented on #6826
It looks like it's a leftover from the templates I created.
https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/04-video-challenges/jslingo.json#L31

@brianamarie Do you have a 3rd question here, or can you fix this one?

[2016-02-09 00:19] SaintPeter commented on #6834
Look at you smart people with all your learnin'.  Think you're better 'n all of us!  You're a showoff, that's what it it.  :wink:

Nice solution, actually.

I think we could probably change the regex to specifically look for `total = 0`, dropping the `var` requirement.  The only downside there is that you could technically solve it without the `var` at all, which would be bad.

I'd like some opini

[2016-02-09 00:21] SaintPeter commented on #6836
Your code is incorrect.  You have created a new image, rather than wrapping the existing image in an anchor tag.

Issues are not for code problems.  Please ask for help in [Help Chat](https://gitter.im/FreeCodeCamp/Help).

Thanks and Happy Coding!

[2016-02-09 00:21] #6836 closed

[2016-02-09 00:23] SaintPeter commented on #5667
@nightwalkerkg I really like that sidebar.  The only sticky wicket, as @hallaathrad already brought up, would be the mobile view.  Still, this is much better than the current "scroll all the way to the bottom" version.

[2016-02-09 00:29] hallaathrad commented on #6834
I believe it should look for 'var total' somewhere, as an invisible requirement

[2016-02-09 00:32] hallaathrad commented on #5667
Well, the mobile is not an issue since I'd be the one coding the design, pretty much as it is now (one thing on top of each other) except with the visual and functional improvements.

Although I am actually tempted in having the profile be a sidebar.
hahaha sidebar overload. We're slowly putting together the groundwork for an FCC mobile app.

[2016-02-09 00:36] nightwalkerkg commented on #5667
@SaintPeter We can turn the sidebar into a navigation drawer.
http://www.roblukedesign.com/trunk/trunk.html

[2016-02-09 00:43] hallaathrad commented on #5667
I fear it'd be confusing to add that feature when we already have the one for the map and chat going

[2016-02-09 00:52] doransignal opened #6837 "this code below will not work."
Challenge [Change the Color of Text](http://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%3Ch2%20style%3D%22color%3A%20blue%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp%3E%0A)

[2016-02-09 01:00] nightwalkerkg commented on #5667
@hallaathrad i meant it for mobile view. Not in general.

[2016-02-09 01:02] hallaathrad commented on #5667
hmm I'm listening. This is definitely something doable, not necessarily through adding another module but coding it ourselves (I've done something similar before with just a couple of jquery lines).

Ok, to be discussed as an enhancement. let's focus on a responsive general design

[2016-02-09 01:04] sludge256 commented on #6837
Please make sure you read the full instructions and ask in the [Help Chat](https://gitter.im/FreeCodeCamp/Help) before submitting **bug** reports.

[2016-02-09 01:04] #6837 closed

[2016-02-09 01:13] francisfrances commented on #6819
hi everyone
im a newbie on here

i had probs with this question. my code as follows
![image](https://cloud.githubusercontent.com/assets/17091103/12904861/2bdfea48-ceca-11e5-9232-1e10a4b079e6.png)

i changed to explorer fm chrome and got green light no problem

hope this helps

[2016-02-09 01:36] francisfrances commented on #6819
currently i am refreshing the page and  flicking fm chrome to explorer as i keep getting
![image](https://cloud.githubusercontent.com/assets/17091103/12905255/867fd794-cecd-11e5-8a14-4724170b0d11.png)
erroneously

[2016-02-09 01:37] wumpafruits commented on #5293
I'mhaving this same exact issue right now. I can't click into the text below line 68. I can't insert my code accomplish one of the goal's exercises.

[2016-02-09 02:12] CodeNonprofit opened #6839 "Home page is routing to 'Learn How Free Code Camp Works' after logging out and logging back in regardless of last challenge completed"

[2016-02-09 02:37] aaronk73 commented on #5884
function myTest(val) {
  var answer = "";
  // Only change code below this line
  switch (val){
    case 1:
      answer ="alpha";
      break;
      case 2:
     answer = "beta";
      break;
      case 3:
     answer = "gamma";
      break;
      case 4:
      answer = "delta";

  }
  // Only change code above this line
  return answer;

}

// Change this value to test
myTest(1);

[2016-02-09 02:46] erictleung commented on #6165
@SaintPeter, should we remove the `use strict;` or keep it?

[2016-02-09 03:14] TheBGar commented on #6721
@LenaBarinova greatly appreciate all the hard work on this! Just wish I could help :smiley:

[2016-02-09 03:25] rkingkeo commented on #6830
Thank you. It might have just been the computer I was working on.

On Mon, Feb 8, 2016 at 1:45 PM, Mrugesh Mohapatra <notifications@github.com>
wrote:

--
*Sam Kingkeo*

[2016-02-09 03:31] justinian336 commented on #6519
Entendido. Me imagino que eso va para todos los desafíos que todavía no tienen las cajas de verificación ¿incluso aquellos cuyos issues ya están cerrados?

[2016-02-09 04:18] erictleung opened #6840 "Odd spacing between paragraphs and list"
Challenge [Generate Random Whole Numbers with JavaScript](http://www.freecodecamp.com/challenges/generate-random-whole-numbers-with-javascript) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[2016-02-09 04:57] erictleung commented on #3997
@SaintPeter, it looks like your suggestion to loop through 100 iterations in the "tail" section [got added in](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/basic-javascript.json#L4480-L4495).

On side note, it looks like the instructions are a little redundant with the "inclusive" and "or equal to" part:

[2016-02-09 05:42] jegger79 commented on #5559
Thanks niallmurphy-ie
Had me scratching my head...

[2016-02-09 05:49] grim6626 opened #6842 "Record Collection Challenge: When pushing an integer onto the tracks array you still pass the challenge."
Challenge [Record Collection](http://www.freecodecamp.com/challenges/record-collection#?solution=%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%202548%3A%20%7B%0A%20%20%20%20%20%20album%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20artist%3A%20%22Bon%20Jovi%22%2C%0A%20%20%20%20%20%20tracks%3A%20%5B%20%0A%20%20%20%20%20%20%20%20%22Let%20It%20Rock%22%2C%20%0A%20%20%20%20%20%20%2

[2016-02-09 06:03] SaintPeter commented on #3997
I believe the instructions got updated as well.  I'm going to close this as resolved.

[2016-02-09 06:03] #3997 closed

[2016-02-09 06:17] SaintPeter commented on #6165
I don't have a good answer for this because I don't fully understand this one myself - I ended up not writing the whole thing.  The idea of local and global variables is important to understand but very difficult to illustrate in a practical way.  We have the "use strict" there to keep a global from being created accidentally.  I'm not quite sure how we would explain it, but it's absolutely needed

[2016-02-09 06:19] SaintPeter commented on #6840
This sounds like a job for @hallaathrad!

[2016-02-09 06:20] SaintPeter commented on #6842
Confirmed.

It sounds like we need to include a test that also checks the actual value of the last track in `tracks` to ensure it was properly added.

[2016-02-09 06:21] #4304 closed

[2016-02-09 07:01] AkiraLaine commented on #6833
Hey @johnpallis1990! What browser/OS are you using? Can you confirm that it is still not going to the next challenge?

[2016-02-09 07:02] sludge256 commented on #6833
I think this was due to the site slowdown earlier today.

[2016-02-09 08:00] amruthpolavarapu opened #6844 "Next challenge not loading from 109 even though previous challenge is successfull"

[2016-02-09 08:17] AkiraLaine commented on #6844
Hey @amruthpolavarapu What browser/OS are you using? Can you confirm that it still won't go to the next challenge?

Might be related to #6833

[2016-02-09 08:21] amruthpolavarapu commented on #6844
Google chrome @AkiraLaine

[2016-02-09 08:22] AkiraLaine commented on #6844
@amruthpolavarapu Will it still not go to the next challenge?

[2016-02-09 08:23] amruthpolavarapu commented on #6844
Nope. I am manually going to map and going to other challenges

[2016-02-09 08:24] sludge256 commented on #6844
Is this happening for all challenges? What is the name of the challenge you labeled as #109?

[2016-02-09 08:26] amruthpolavarapu commented on #6844
Learn how Script Tags and Document Ready Work in jquery

[2016-02-09 08:26] sludge256 commented on #6844
Are there are error messages showing up in the browser's console?

[2016-02-09 08:27] amruthpolavarapu commented on #6844
Just a sec. I will tell you

[2016-02-09 08:28] amruthpolavarapu commented on #6844
Refused to load the script 'http://10.226.35.8:15871/cgi-bin/blockpage.cgi?ws-session=1824636845' because it violates the following Content Security Policy directive: "script-src 'unsafe-eval' 'unsafe-inline' *.google-analytics.com *.gstatic.com https://*.cloudflare.com *.cloudflare.com https://*.gitter.im https://*.cdnjs.com *.cdnjs.com https://*.jsdelivr.com *.jsdelivr.com *.twimg.com https://*.

[2016-02-09 08:30] AkiraLaine commented on #6844
Is that all?

[2016-02-09 08:31] amruthpolavarapu commented on #6844
Ya. This is the error shown in console application

[2016-02-09 08:31] jennerousity commented on #6828
Also if you have a space between Lobster and Monospace you need " " around
Monospace to validate.

On Mon, Feb 8, 2016 at 8:02 AM, cristi <notifications@github.com> wrote:

[2016-02-09 08:32] AkiraLaine commented on #6844
@QuincyLarson @BerkeleyTrue - Could you guys look into this?

[2016-02-09 08:38] sludge256 commented on #6844
Could you give this a try and report back?
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Using-browsec-for-securing-your-connection-to-fcc

[2016-02-09 08:39] amruthpolavarapu commented on #6844
kk..

[2016-02-09 08:42] rawreef opened #6845 "Hotkey and other productivity suggestions"
I'd like to maintain a list of suggested hotkeys and other productivity suggestions here (if a Github issue is a good platform for doing that - I'm new to this so I don't know yet.) Please post your suggestions below.

FCC already has some hotkeys:

**GENERAL**
g -> c = go to chat / close chat
g -> m = go to map / close map
Any others???

**IN TEXT EDITOR**
cmd + x = delete line (just like in Subl

[2016-02-09 08:47] amruthpolavarapu commented on #6844
I am on my company's network. I am not able to install the plugin. I will let you know later.

[2016-02-09 08:50] sludge256 commented on #6844
You should test submitting and loading the next challenge without the plugin first when you get home. If it's the case that it is your work network causing the problems you won't need the plugin when using FCC at home.

[2016-02-09 08:51] amruthpolavarapu commented on #6844
kk... Thanks for helping..

[2016-02-09 09:38] ankitaggarwal011 commented on #6819
@SaintPeter, yeah, I propose two changes with respect two this issue:

- Removing "extra" from note description.
- Splitting last test case into two test cases, one for checking whether the p tag has any classes and other checking for font size.

[2016-02-09 09:44] ankitaggarwal011 commented on #6842
@grim6626 @SaintPeter, this will not be limited to tracks, as one can hard-code the same in the function for non-tracks field as well.

A corresponding check has to be made with tracks as well as non-tracks on whether they had been set properly.

[2016-02-09 09:46] CEREBR4L opened #6846 "Shop tab not showing"
The shop tab is not showing when on 'jobs' section.

Screenshot: https://i.gyazo.com/86857d88035748ffd225924e32d40f8f.png

[2016-02-09 10:22] alistermada commented on #6846
There seems to be a fix for it already: [here](https://github.com/FreeCodeCamp/FreeCodeCamp/pull/6804). It just hasn't been applied to the site yet.

[2016-02-09 10:29] AkiraLaine commented on #6846
Thanks @alistermada! Closing this as it has been resolved.

[2016-02-09 10:29] #6846 closed

[2016-02-09 11:20] richyvk opened #6847 "Target the Parent of an Element Using jQuery waypoint - passed without using parent()"
Challenge [Target the Parent of an Element Using jQuery]

I can pass this waypoint without targeting the #target1 parent, like this:
    $("#left-well").css("background-color", "red");

i.e. without using the parent() method.

[2016-02-09 11:21] richyvk commented on #6847
Now I can't. Don't know what's going on??

[2016-02-09 11:26] AkiraLaine commented on #6847
Hey @richyvk!
Can you confirm that you can pass the challenge without using ```.parent()```? Or can't you pass?

[2016-02-09 11:28] alistermada commented on #6845
Suggestions:

* Open/close help chat. Was gonna suggest <kbd>ctrl</kbd> + <kbd>h</kbd>, but that opens up the browsing history tab on Chrome. <kbd>g</kbd> + <kbd>h</kbd> wouldn't work in the text editor.

* Add a formatted link to the current challenge to the clipboard,  so users can quickly paste something like this -- [Headline with the h2 Element](http://www.freecodecamp.com/challenges/headline

[2016-02-09 12:49] raditotev commented on #6572
Hi,
I'm dong this challenge right now and it looks like there is still something wrong with the test. I'm passing the test for "Harry", "likes", but the "Sherlock", "likes" is still red. When I'm testing the function with lookUp("Akira", "likes");,
I get back the array:
["Javascript", "Gaming", "Foxes"] as it's expected.

[2016-02-09 14:19] Earlq commented on #6429
@BerkeleyTrue can you please do the same for me???

[2016-02-09 14:34] rawreef commented on #6845
"Open/close help chat. Was gonna suggest ctrl + h, but that opens up the browsing history tab on Chrome. g + h wouldn't work in the text editor."

"Copy as "pretty code". There used to be a tool-tip that gave users an option to copy the code they highlighted as a Markdown-formatted code block depending on the challenge they were on. Users could easily copy their code and paste something this..."

[2016-02-09 14:40] Ronaiza commented on #6755
Hey, voce já terminou? eu terminei a minha e dei o pull. não sei como colocar que já está acabado

[2016-02-09 14:41] Ronaiza commented on #6720
finish

[2016-02-09 15:32] db001 commented on #6572
Hi,

I just corrected the typo in list to match the test and that got it to pass.  The other suggestions I got was to clear my browser cache and reload the challenge.

Hope this helps,
Dave

On Tue, Feb 9, 2016 at 4:50 AM -0800, "Radi Totev" <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi,
I'm dong this challenge right now and it looks like there is still something wrong wit

[2016-02-09 16:07] fredericksilva commented on #6755
Oi @Ronaiza da um pull com referencia para o issue ex " `commit -m "#6755 - Finalizei a tradução" ` "

[2016-02-09 17:12] #5308 closed

[2016-02-09 17:29] SaintPeter commented on #6842
We do explicitly check that the value has been written for at least one case.  I would be amenable to adding another test, though.  Maybe adding a chase for changing an already set value.

[2016-02-09 17:30] SaintPeter commented on #6819
@ankitaggarwal011 Sounds good.  Go for it!

[2016-02-09 17:34] SaintPeter commented on #6845
RE:  g -> s for Search
When you open the map the search field has focus by default.

RE: Formatted Link/Code
This is something we had before, but the UI was horrible.  We definitely plan to revisit it.

[2016-02-09 18:13] URobert commented on #6721
HI. I seem to have an issue with the streak calculation too.
I basically did complete challenges/helped out people everyday but I have a discontinuity on Feb 5th when I should not. My calendar shows activity everyday however my streak was broken (and a member sent me print-screen where he sees the gap in the calendar when checking my profile page, although there is no such thing then I check it).

[2016-02-09 18:18] LenaBarinova commented on #6721
@URobert Thanks for reporting it! The more broken cases we have - the better we can test.
I've fixed this issues and created a pull request. So as soon as it passes ```Beta``` testing - it will go live.

[2016-02-09 19:00] SaintPeter commented on #6572
Does resetting your code work?

[2016-02-09 19:05] raditotev commented on #6572
Thanks guys. Everything is honky dory!

[2016-02-09 19:52] #6825 closed

[2016-02-09 19:54] #6572 closed

[2016-02-09 21:05] annzach opened #6852 "Seek help"
Challenge [Counting Cards](http://www.freecodecamp.com/challenges/counting-cards#?solution=%0A%0Avar%20count%20%3D%200%3B%0A%0Afunction%20cc(card)%20%7B%0A%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%20%2F%2Fvar%20count%3D0%3B%0A%0A%20%20%20if(card%20%3D%3D%207%7C%7C8%7C%7C9)%7B%0A%20%20%20%20%20%20count%3D0%3B%0A%20%20%20%20%20%20return%20count%20%2B%22%20Hold%22%3B%7D%0A

[2016-02-09 21:22] annzach commented on #6852
can some one tell me why is this code not working?

[2016-02-09 21:33] johncurcio commented on #6852
Not sure about javascript, but you usually can't do this: ``if (card == 7||8||9)``, you have to write ``if ((card == 7) || (card == 8)...)``, so on. The first if will always evaluate as true, because you'd have a ``if (8)``.

[2016-02-09 21:34] SaintPeter commented on #6852
Sorry, but Issues are not for code problems.  Please ask for help in [Help JavaScript Chat](https://gitter.im/FreeCodeCamp/HelpJavaScript).

Thanks and Happy Coding!

[2016-02-09 21:34] #6852 closed

[2016-02-09 22:23] timpwbaker opened #6853 "Record Collection JSON object task - http://www.freecodecamp.com/challenges/record-collection"
I have searched for a solution to this, but can't find anything. The issue is on http://www.freecodecamp.com/challenges/record-collection

When I run my code it fails the test:
"After update(5439, "artist", "ABBA"), artist should be "ABBA"

However as can be seen from the screenshot of the Firebug Object for object 5439 the artist is "ABBA" and the correct output is being displayed in the output b

[2016-02-09 22:24] #6721 closed

[2016-02-09 22:39] dmitriz commented on #6674
I didn't mean to focus on the Web Components as buzzword.
More on clean reusable patterns that don't break as soon as you change your design :)

Which is exactly what happened with ALL examples in that "negative margin" article. Having read it, I'm even more convinced that negative margin are very likely to lead to hacks. I have yet to see a convincing example to prove that wrong. (But I'm always

[2016-02-09 22:56] dvaun opened #6855 ""Iterate Through An Array With For Loop" not accepting valid assignment"
Hi FCC Team,

This is a minor issue, but was brought up by a redditor[ asking for help with his code.](https://www.reddit.com/r/FreeCodeCamp/comments/44yr21/iterate_through_an_array_with_a_for_loop/)

This is what's not accepted:
`for (i = 0; i < myArr.length; i++)`
`{`
`    total = total + myArr[i];`
`}`

I double-checked the instructions, and didn't see it specifying that it be written as `total

[2016-02-09 23:09] SaintPeter commented on #6855
Yeah, the tests look for `+=` explicitly.  We should allow that or `total = total +`.

[2016-02-09 23:23] alistermada commented on #6855
My mistake. Should've thought of that. I'll fix this one.

[2016-02-09 23:44] sammieovie opened #6857 "dont know what to do"
Challenge [Set the ID of an Element](http://www.freecodecamp.com/challenges/set-the-id-of-an-element#?solution=%3Clink%20href%3D%22http%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospa

[2016-02-09 23:52] LenaBarinova commented on #6857
@sammieovie you should give your ```form``` and ```id``` of ```cat-photo-form```. Meaning that 9th line counting from bottom should look like this:
```<form id="cat-photo-form" action="/submit-cat-photo">```

[2016-02-09 23:57] sludge256 commented on #6857
Please ask in the [Help Chat](https://gitter.im/FreeCodeCamp/Help) in the future. Github issues are reserved for site related issues.

[2016-02-09 23:57] #6857 closed

[2016-02-10 00:29] SaintPeter commented on #6853
It looks like you deleted some required code:
[code]
I don't know why you got rid of that, but it breaks all of the tests, which are defendant on the copy being present.

You should be able to copy the part of the code you write, reset the code, and paste yours in.  I confirmed that your code DOES pass all tests when the `collectionCopy` variable is properly initialized.

Thanks and happy coding!

[2016-02-10 00:29] #6853 closed

[2016-02-10 00:31] #6855 closed

[2016-02-10 00:32] alistermada commented on #6845
Sounds good to me.

I'm not in favor of pressing a button twice in one hotkey. Perhaps we could include the Shift and/or Alt key.

[2016-02-10 00:36] SaintPeter commented on #6845
One thing we need to consider is discover-ability.  It's all fine and dandy to add a bunch of keyboard shortcuts, but unless we can clearly communicate them to the user, they're not much good.

One thing we have queued up is changing around where the "Run Tests" and other buttons are located.  Once we have more room we can add a "Copy Pretty Code" button.  We could potentially have some sort of "K

[2016-02-10 00:58] nitiblack opened #6859 "nesting for loops"
Challenge [Nesting For Loops](http://www.freecodecamp.com/challenges/nesting-for-loops#?solution=function%20multiplyAll(arr)%20%7B%0A%20%20var%20product%20%3D%201%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20for%20(var%20i%3D0%3B%20i%20%3C%20arr.length%3B%20i%2B%2B)%20%7B%0Afor%20(var%20j%3D0%3B%20j%20%3C%20arr%5Bi%5D.length%3B%20j%2B%2B)%20%7B%0Aconsole.log(arr%5Bi%5D%5B

[2016-02-10 02:06] bkowshik commented on #5125
Yes. Although the problem statement says **remove all non-alphanumeric characters**, I removed the numbers as well. My script is as follows;

[code]

[2016-02-10 02:07] vtamara commented on #6519
Todos tienen cajas de verificación puestas por mi, pero no en el comentario inicial que es el que tu puedes crear/editar y que es donde deben quedar las cajas de verificación.

[2016-02-10 02:17] justinian336 commented on #6519
¡Ah, ya te entiendo! Ok, lo voy a hacer durante el día de hoy.

[2016-02-10 02:17] CatMiller07 commented on #6126
Thanks.

[2016-02-10 02:17] SaintPeter commented on #6859
Sorry, but Issues are not for code problems.  Please ask for help in [Help JavaScript Chat](https://gitter.im/FreeCodeCamp/HelpJavaScript).

Thanks and Happy Coding!

[2016-02-10 02:17] #6859 closed

[2016-02-10 02:37] sahat commented on #6845
These are all great suggestions.

@SaintPeter In addition to Keyboard Shortcuts popup, I would also like to chime in and suggest adding a `title` attribute on all applicable buttons that would display a keyboard shortcut on mouse over.

[2016-02-10 02:42] jorgeruvalcaba commented on #6496
Se integraron estos nuevos challenges:

- [x] Escaping Literal Quotes in Strings.
- [x] Quoting Strings with Single Quotes.
- [x] Escape Sequences in Strings.
- [x] Concatenating Strings with Plus Operator.
- [x] Concatenating Strings with the Plus Equals Operator.
- [x] Constructing Strings with Variables.
- [x] Appending Variables to Strings.
- [x] Understand String Immutability
- [x] Word Blank

[2016-02-10 02:44] richyvk commented on #6847
Couldn't recreate issue.

[2016-02-10 02:44] #6847 closed

[2016-02-10 03:11] Sootsw10 opened #6860 "Cant figure out what is wrong. Think it might have to do with the sizing of the picture or zoom on my browser. Ive tried both firefox and chrome neither seem to be rigth."
Challenge [Size your Images](http://www.freecodecamp.com/challenges/size-your-images#?solution=%3Clink%20href%3D%22http%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20%20%7

[2016-02-10 03:14] ltegman commented on #6860
You haven't used the CSS selector you made to actually do anything on the page. Please visit the [Help Chat](https://gitter.im/FreeCodeCamp/Help) to confirm what you're seeing is a site issue before filing a bug. Thanks and happy coding!

[2016-02-10 03:14] #6860 closed

[2016-02-10 04:29] #6775 closed

[2016-02-10 04:48] #6717 closed

[2016-02-10 04:50] QuincyLarson commented on #6833
@johnpallis1990 Thank you for submitting this. I agree, this is probably caused by our major server issues. I'm closing this issue.

[2016-02-10 04:50] #6833 closed

[2016-02-10 06:00] AkiraLaine commented on #6844
@amruthpolavarapu Did Browsec work for you?

[2016-02-10 06:08] amruthpolavarapu commented on #6844
It worked on my home computer without browsec but I am not supposed to install browsec on my company computer. But I believe it will work.

[2016-02-10 06:10] AkiraLaine commented on #6844
Ok, since it seems that your work connection is the problem, I will close this.

[2016-02-10 06:10] #6844 closed

[2016-02-10 07:30] erictleung commented on #5397
@LeoFib you still wanna take care of this one?

Also, just for reference, this challenge has moved since the addition of other problems so this issue now refers to the [Generate Random Whole numbers with JavaScript](http://www.freecodecamp.com/challenges/generate-random-whole-numbers-with-javascript) challenge.

[2016-02-10 07:49] timpwbaker commented on #6853
Thanks Peter! Not sure how I managed that.

[2016-02-10 09:01] tusharacc commented on #6844
This issue is still persisting for me. I am using Chrome.Even though I have completed my challenge, I am not getting the challenge # 110. Attached is the error from console.
![image](https://cloud.githubusercontent.com/assets/15858037/12942688/f27949fe-d002-11e5-8eec-a3ce030cf290.png)

[2016-02-10 10:17] LeoFib commented on #5397
I really would love to. I'm asleep right now, but would really like to get
back to it. trivial, though it may be, it's the use of github successfully
is the whole point -->not lost on you, I suppose. :)

I'll be in touch in 24 hours!

Thanks so much!

~Beau

On Wed, Feb 10, 2016 at 2:31 AM, Eric Leung <notifications@github.com>
wrote:

[2016-02-10 12:06] padrisimo opened #6863 "Too many bugs and bad Praxis."
In the time we do have codecademy and some free courses on coursera and codeschool (and also a lot of videos on youtube) I decide to give a try on Freecodecamp wondered by the idea to learn react and node in an easy way.
It is the biggest disappointment ever, not only the desing is terrible the bugs submiting exercices are too many, Im exausted of wait and refresh.
The other main problem is the ba

[2016-02-10 12:45] #6863 closed

[2016-02-10 12:48] #6808 closed

[2016-02-10 14:03] ankitaggarwal011 commented on #6819
@SaintPeter, opened a PR #6864. Have a look. Thanks!

[2016-02-10 14:18] ankitaggarwal011 commented on #6842
@SaintPeter, Yes, the 3rd test-case for this challenge should be updated to check if the value is properly added to the tracks, similar to 1st test-case for artist.

I propose updating the 3rd test-case to check for added value in tracks similar to 1st test-case of artist.
Let me know.

[2016-02-10 15:02] arecvlohe commented on #5794
Sample problems:
1. URL match
2. Email match
3. Hex value match
4. HTML tag match
5. Valid/Invalid password
6. Valid/Invalid username
7. Valid/Invalid ticket number
8. Count the number of valid/invalid items
8. Password maker
10. Camel case maker
11. Parse logs for error code

[2016-02-10 15:52] lucaslmuller commented on #6716
Working on it

[2016-02-10 16:42] Michael-Morris-1 commented on #76
I've changed my twitter username from mkemo8870 to Mike_Morris_1. How can I update this to my twitter icon on my free code camp profile.

[2016-02-10 17:07] lalov1 opened #6865 "Confirm the Ending logic seems incorrect"
Shouldn't it just be checking for the end of the string and not somewhere in the middle:
[code]
Shouldn't this be false:
end("He has to give me a new name", "me") should return true.

[2016-02-10 17:17] sludge256 commented on #6865
"He has to give me a new na**me**, is what would cause it to return true.

[2016-02-10 17:28] doransignal commented on #4150
yes this isn't real clear in the directions but reading this i got it to work. thanks all

[2016-02-10 17:47] lalov1 commented on #6865
I have it returning true, but I'm still getting the error:
[code]

[2016-02-10 17:52] ltegman commented on #6865
There is a different test case you are not returning the correct result for now. Please visit the [Help Chat](https://gitter.im/FreeCodeCamp/HelpJavaScript) if you need challenge help. Thanks and happy coding!

[2016-02-10 17:52] #6865 closed

[2016-02-10 17:55] EricSSartorius commented on #6793
As a Japanese major I could probably help with a bunch of these. How do I go about contributing? I am only used to pull requests and haven't done translation on here before.

[2016-02-10 18:01] bugron commented on #6793
@EricSSartorius start with our [**Guidelines for Contributing**](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) to get common information about contribution process. Also we have a [Translators](https://gitter.im/FreeCodeCamp/Translators) Gitter chat room where you can ask questions. And finally here are some examples of Spanish translation. https://github.com/FreeCodeC

[2016-02-10 18:07] EricSSartorius commented on #6793
@bugron Thanks!

[2016-02-10 18:27] SaintPeter commented on #6844
@tusharacc Did you try https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Using-browsec-for-securing-your-connection-to-fcc ?

Indian ISPs have significant issues with monitoring and modifying web traffic, which is probably why you're seeing the CSP violations - the responses are not coming from valid sites.

[2016-02-10 18:33] clarkarnold opened #6866 "Numbers too large for debugging"
Challenge [Sum All Odd Fibonacci Numbers](http://www.freecodecamp.com/challenges/sum-all-odd-fibonacci-numbers#?solution=function%20sumFibs(num)%20%7B%0A%20%20var%20currentNum%20%3D%201%3B%0A%20%20var%20arr%20%3D%20%5B%5D%3B%0A%20%20for%20(var%20i%3D0%3B%20i%3C%3Dnum%3B%20i%2B%2B)%20%7B%0A%20%20%20%20var%20nextNum%20%3D%20i%20%2B%20currentNum%3B%0A%20%20%20%20arr.push(nextNum)%3B%0A%20%20%7D%0A%0A

[2016-02-10 18:36] ltegman commented on #6866
If you don't want to test the large numbers I'd recommend using something like [repl.it](https://repl.it/) and only running the tests you want to. Part of the challenge of this exercise is making sure you can efficiently calculate the result for a number that large, so we will not be removing that test. Thanks and happy coding!

[2016-02-10 18:36] #6866 closed

[2016-02-10 19:10] kilik42 opened #6867 "my code is correct and I followed the directions. I cannot complete this challenge for greater than"
Challenge [Comparison with the Greater Than Operator](http://www.freecodecamp.com/challenges/comparison-with-the-greater-than-operator#?solution=function%20myTest(val)%20%7B%0A%20%20if%20(val%20%3E%209)%20%7B%20%20%2F%2F%20Change%20this%20line%0A%20%20%20%20return%20%22Over%20100%22%3B%0A%20%20%7D%0A%20%20%0A%20%20if%20(val%20%3E%208)%20%7B%20%20%2F%2F%20Change%20this%20line%0A%20%20%20%20return%2

[2016-02-10 19:23] annzach opened #6868 "taking longer time to move to the next question"
May I know, why is it taking a longer time to move to the new questions?

[2016-02-10 19:24] sludge256 commented on #6868
https://twitter.com/FreeCodeCamp/status/697478028792758272

[2016-02-10 19:26] ltegman commented on #6867
This solution is not correct. Please reread the question carefully and visit the [Help Chat](https://gitter.im/FreeCodeCamp/Help) if you need help. Thanks and happy coding!

[2016-02-10 19:26] #6867 closed

[2016-02-10 19:28] annzach commented on #6868
thanks much

[2016-02-10 19:28] #6868 closed

[2016-02-10 20:01] hey-its-iota opened #6869 "Smallest Common Multiple: Returning correct answer, but not receiving a check next to the test for [1,13]"
[code]
I'm not getting a check mark next to the test for 1, 13 when I run the above code.  I am, however, getting check marks next to the other tests.

So, this code doesn't seem to have a speed problem, since it uses the prime factorization method of finding the lowest common multiples, as opposed to brute forcing a large number of multiples until a common one is found.  Moreover, when I hit "Run

[2016-02-10 20:13] SaintPeter commented on #6842
@ankitaggarwal011 Sounds good to me.

[2016-02-10 20:55] jcubed22 opened #6871 ""Filter Arrays with filter" description needs clarification"
Challenge [Filter Arrays with filter](http://www.freecodecamp.com/challenges/filter-arrays-with-filter#?solution=var%20oldArray%20%3D%20%5B1%2C2%2C3%2C4%2C5%2C6%2C7%2C8%2C9%2C10%5D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0Avar%20newArray%20%3D%20oldArray.filter(function(val)%20%7B%0A%20%20return%20val%20%3C%3D%205%3B%0A%7D)%3B%0A) has an issue.
User Agent is: <code>Mozilla/

[2016-02-10 21:09] biginjapan opened #6872 "Cannot advance to the news task"
Challenge [Change the Color of Text](http://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%3Ch2%20style%3D%22color%3A%20blue%22%3ECatPhotoApp%3C%2Fh2%3E%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp%3E) has an

[2016-02-10 21:11] #3410 closed

[2016-02-10 21:14] SaintPeter commented on #6871
I agree, this is potentially confusing.

I think it might be safe to say something like:

Do you think that would help?

[2016-02-10 22:03] ltegman commented on #6872
You are not completing what the challenge is asking you to. Github issues are not for help, so please visit the [Help Chat](https://gitter.im/FreeCodeCamp/Help) if you need assistance. Thanks and happy coding!

[2016-02-10 22:03] #6872 closed

[2016-02-10 22:20] jamigibbs commented on #6871
Does this bit below the example clear things up well enough? It seems like adding another explanation would be redundant.

[2016-02-10 22:25] taylorham commented on #6871
I'm with @jamigibbs on this one. I just re-took this challenge and had to try 3 different ways to get the 'correct' result. I'd change the 'filter out' terminology, though. Adds confusion to what the result should actually be.

[2016-02-10 22:36] kkrugler commented on #6165
I guess I'm missing something here. It seems like you want to catch the case of the variable being created as a global, a that's the mistake a programmer would make when they forget to use "var".

If the template was set up as:
[code]
and then the test verified that
[code]
wouldn't that catch the cases of (a) no variable is defined, or (b) variable is set to something without using 'var'?

[2016-02-10 22:48] hallaathrad commented on #6776
please see corresponding PR

[2016-02-10 23:34] zicmic commented on #6294
i think there is still some issue !

[2016-02-10 23:39] cragsify opened #6875 "Give user feedback after wrong submission"
Currently there is no User feedback when a user attempts to verify that a challenge is complete. The change from a tick to an X is very subtle and I would suggest implementing a screen flash. This would be especially helpful with people with slow/unreliable internet connections where it may take a while for the answer to verify.

[2016-02-10 23:39] LenaBarinova opened #6876 "Should challenge.lastUpdated be added to the streak calculation?"
Since there is a new filed ```lastUpdated``` shouldn't it be added to streak calculation and to the calendar heatmap?

I could do it.

[2016-02-10 23:53] alistermada commented on #6869
Type in `console.log(arr, result, primes.length);` just before you return the results for `smallestCommons()`. Notice that primes.length is 0 by the time it gets to the results of the test for `smallestCommons([1, 13])`.

Since primes is a global variable,  it doesn't get reset to its originally declared value every time `smallestCommons()` is run.

Note, that user-defined tests are run first and

[2016-02-10 23:56] jamigibbs commented on #5699
I agree as well and would be able to work on this if possible. I see a few different routes:

1. Add an explanation to [the first waypoint that introduces the border property](http://localhost:3000/challenges/add-borders-around-your-elements) about what a CSS shorthand property is and how it's applied to `border`, or,
2. Create a new waypoint specifically for the student to update their previous l

[2016-02-11 00:13] del-dow commented on #4997
I have the same issue. If I copy and paste the code it works fine ,however, typing the code directly doesn't work.

[2016-02-11 00:17] darkom05 commented on #5152
Just a ques...why are you using a global update() + a global object? Isn't this anti-pattern?

[2016-02-11 00:20] HermanFassett commented on #5152
@darkom05 to be completely honest with you, I was very new to React when I made this and probably did it in a very hacky way... I haven't looked back since. It very well could be :smile:

[2016-02-11 01:51] ander-yamamoto commented on #5072
+1

[2016-02-11 03:23] #6776 closed

[2016-02-11 03:25] SaintPeter commented on #6876
I think we intended the streak to be for brownies.  We wouldn't, for example, want someone to just open up a previous challenge, add a useless comment, and save it again.

I'll defer to @QuincyLarson on this, though.

[2016-02-11 03:29] sludge256 commented on #6876
I think we're also trying to discourage people from going back and spending too much time on their algorithms also.

[2016-02-11 03:29] SaintPeter opened #6877 "Incorrect Video URL still "loads""
If you put in an incorrect video URL you do not get redirected, nor do you get a flash message saying that the video is not found.  Instead you are taken to video display view with a video that never loads.

IE:
http://www.freecodecamp.com/videos/this-is-not-a-video

My expectation would be a redirect back to the map page with a flash message, if possible, same as a bad challenge link.

[2016-02-11 03:33] SaintPeter commented on #6871
How about:

I do agree that the `5` in there makes it a bit harder than it should be, because you assume that you need to use `5` in your filter which is not strictly speaking true.

[2016-02-11 03:36] SaintPeter commented on #6165
The issue is that if a global variable is created it cannot be "unset".  That would lead to situations where campers accidentally created the wrong type of thing, then could not "go back" without refreshing the page, which was even more confusing.

[2016-02-11 03:38] SaintPeter commented on #6294
@zicmic You're welcome to open another issue with your code, but I strongly encourage you to ask for help in [Help JavaScript Chat](https://gitter.im/FreeCodeCamp/HelpJavaScript) to get confirmation of the bug before you open an issue.  We see many issues opened for "site bugs" where it's simply a programming error.

Thanks and Happy Coding!

[2016-02-11 03:40] SaintPeter commented on #6875
This is something which we are planning to visit soon.  We're thinking that we may have "toasts" (little floaty pop-ups) that say something like "X of Y tests failed" or something like that.  Some sort of positive indication that the tests were run.  Even I have experienced issues where I was not sure that the tests had run at all.

[2016-02-11 03:42] SaintPeter commented on #5152
@darkom05 SSSHHH!! You're not supposed to look at the code.  ;)

[2016-02-11 04:07] sethspearman commented on #6298
Actually I think that this...
"Set the property hat to the variable hatValue and the property shirt to shirtValue."...
Should read like this...
"Set the variable hatValue to the property hat and the  property shirt to variable shirtValue to the property shirt.

I think this is the only way it can work if you only modify the two referenced change lines.

Am  I right ?

[2016-02-11 04:24] taylorham commented on #6871
@SaintPeter This sounds like the best option. +1

[2016-02-11 04:45] 4mifix commented on #6298
This one gave me hell and I remember it well. @erictleung that fix may work better to clarify what is asked for to complete the challenge.

[2016-02-11 05:11] tasha-a-coder opened #6878 "Error on solution to challenge"
**[Adding a default option in Switch statements](http://www.freecodecamp.com/challenges/adding-a-default-option-in-switch-statements)**
Error: 'Unreachable' break after 'return'.
on each line of the solution's code that is
`break;`

[2016-02-11 05:20] alistermada commented on #6878
Please show us your code.

[2016-02-11 05:30] erictleung commented on #6298
Mmm I agree. Reading it more carefully, I can see how the instructions can be misinterpreted. We can open this up again and myself or anyone else can rewrite this to something like:

[2016-02-11 05:37] erictleung commented on #2702
Could we point people to this repository? https://github.com/meanjs/mean

I haven't tested it out but it looks promising on implementing and getting started on using a MEAN stack.

[2016-02-11 06:48] EthanDavis opened #6880 "Test cases are returning the correct value in the console, but it won't let me pass the challenge"
Challenge [Golf Code](http://www.freecodecamp.com/challenges/golf-code#?solution=function%20golfScore(par%2C%20strokes)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%20%20if(strokes%20%3D%3D%201)%7B%0A%20%20%20%20return%20%22Hole-in-one%22%3B%0A%20%20%7D%0A%20%20else%20if(strokes%20%3C%3D%20par%20-2)%20%7B%0A%20%20%20%20%20return%20%22Eagle%22%3B%0A%20%20%7D%0A%20%20el

[2016-02-11 06:48] #6880 closed

[2016-02-11 07:02] paul-howard commented on #5690
Actually, I agree with Phajava. AFAIK, the "nicknames" of the various golf scores are not mentioned at all in either the [USGA](http://www.usga.org/rules/rules-and-decisions.html#!rule-01) nor the [R&A](http://www.randa.org/RulesEquipment/Rules/Rules-Explorer) versions of The Rules of Golf. And in my 20+ years of playing this game, I've never heard of a 3-under-par score described as an Eagle. In

[2016-02-11 07:06] johsnguyen opened #6881 "Johsthao"
Challenge [Build JavaScript Objects](http://www.freecodecamp.com/challenges/build-javascript-objects#?solution=%2F%2F%20Example%0Avar%20ourDog%20%3D%20%7B%0A%20%20%22name%22%3A%20%22Camper%22%2C%0A%20%20%22legs%22%3A%204%2C%0A%20%20%22tails%22%3A%201%2C%0A%20%20%22friends%22%3A%20%5B%22everything!%22%5D%0A%7D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0Avar%20myDog%20%3D%20%7B

[2016-02-11 07:16] AkiraLaine commented on #6881
Hey @johsnguyen. If you need help, please go over to our [main](https://gitter.im/FreeCodeCamp/FreeCodeCamp) room or our [HelpJavaScript](https://gitter.im/FreeCodeCamp/HelpJavaScript) room. GitHub is for issues only :smile:

[2016-02-11 07:16] #6881 closed

[2016-02-11 07:29] erictleung opened #6882 "JavaScript challenge title should have capital S"
In the sidebar menu under the "Automated Testing and Debugging," "JavaScript" should have a capital "S." A little nit picky but for the sake of consistency in the rest of the menu it should be "JavaScript." Should be an easy fix.

![image](https://cloud.githubusercontent.com/assets/2754821/12971268/d9dfc7c4-d04d-11e5-894c-bda30ed709a2.png)

[2016-02-11 07:43] devarsh1997 opened #6884 "Tests should be stricter for "Counting Cards" challenge"
Challenge [Counting Cards](http://www.freecodecamp.com/challenges/counting-cards#?solution=var%20count%20%3D%200%3B%0A%0Afunction%20cc(card)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20switch(card)%7B%0A%20%20%20%20case%202%3A%0A%20%20%20%20case%203%3A%0A%20%20%20%20case%204%3A%0A%20%20%20%20case%205%3A%0A%20%20%20%20case%206%3A%0A%20%20%20%20%20%20count%20%2B%3D%201%

[2016-02-11 08:22] Sarkar121 opened #6885 "Freecodecamp CSS style colour selection is having some problem."
Challenge [Use CSS Selectors to Style Elements](http://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%20%20h2%20%7Bcolor%3A%20blue%3B%7D%0A%20%20%20%20%20%20%20%20%20%20%3C%2Fstyle%3E%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20

[2016-02-11 08:32] AkiraLaine commented on #6884
Yes, I agree - your code shouldn't pass.
1. For cases 7, 8 and 9, you are setting ```count``` to 0 instead of increment it by 0.
2. Also, even if the ```if/else``` are techniacally right, that's not what the challenges asks you to do.

The tests should be modified to be a bit strict.

What do you guys think @FreeCodeCamp/issue-moderators?

[2016-02-11 08:35] AkiraLaine commented on #6885
This is not a bug. You removed the ```h2``` element from your code.

Click "Reset" to reset you code and try again :smile:

[2016-02-11 08:35] #6885 closed

[2016-02-11 08:44] alistermada commented on #6884
This seems to be related to #6761.

[2016-02-11 10:02] bernadette-engleman commented on #4177
Im very frustrated and disappointed with FCC.
It is very poor teaching website. No explanation, no introduction, only 1 useless example, unrelated test to example. If the creators are thinking that campers will learn by themselves by learning elsewhere, they did not even bother including resources where campers can learn the basic lesson.
I've studied w3school before FCC, and I did not learn a sin

[2016-02-11 10:23] ashokget opened #6886 "escape sequences"
Challenge [Escape Sequences in Strings](http://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=var%20myStr%20%3D%20%22%20%20%5C%5Cbackslash%5C%5C%20%5C%20%5Cttab%5Ct%20%5C%20%5Cttab%5Ct%20%5C%20%5Crcarriage-return%5Cr%20%5C%20%5Cnnew-line%5Cn%20%20%22%3B%20%2F%2F%20Change%20this%20line%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3

[2016-02-11 10:31] AkiraLaine commented on #6886
Hey @ashokget. If you need help, please go over to our [main](https://gitter.im/FreeCodeCamp/FreeCodeCamp) room or our [HelpJavaScript](https://gitter.im/FreeCodeCamp/HelpJavaScript) room. GitHub is for issues only :smile:

[2016-02-11 10:31] #6886 closed

[2016-02-11 11:36] devarsh1997 opened #6887 "An idea to improve 'Add New Properties to a JavaScript Object' Challenge"
Challenge [Add New Properties to a JavaScript Object](http://www.freecodecamp.com/challenges/add-new-properties-to-a-javascript-object#?solution=%2F%2F%20Example%0Avar%20ourDog%20%3D%20%7B%0A%20%20%22name%22%3A%20%22Camper%22%2C%0A%20%20%22legs%22%3A%204%2C%0A%20%20%22tails%22%3A%201%2C%0A%20%20%22friends%22%3A%20%5B%22everything!%22%5D%0A%7D%3B%0A%0AourDog.bark%20%3D%20%22bow-wow%22%3B%0A%0A%2F%2

[2016-02-11 12:21] jp5486 opened #6889 "Video Challenges- JavaScript Lingo- Question 3"
Video Challenges-
JavaScript Lingo: MDN and Documentation
[Question 3
](http://www.freecodecamp.com/videos/javascript-lingo-mdn-and-documentation)

The title and question for this part only states Question 3 with a passing answer of True.
Question should be removed or updated.

[2016-02-11 12:32] raisedadead commented on #6889
@jp5486 just fixed this for Issue #6781 via PR #6890
You can close this.

[2016-02-11 12:32] AdiDD commented on #4561
Insert this inside the specified lines and it will work

 **var x = Math.floor(Math.random() * 10);
  return x;**

I also tried  returning **Math.floor(Math.random() * 10)** and for some reason it dosen't work.
So initialize a variable **x** with the function and return **x**.
It will work.

[2016-02-11 13:22] willnwhite commented on #4650
Yeah, at least you don't have to do the challenges in order.

[2016-02-11 13:33] adhikarinetwork opened #6892 "Help! I am Stuck, Thank you."

[2016-02-11 13:34] adhikarinetwork opened #6893 "Help! Convert Celsius to Fahrenheit, Thank you."
Challenge [Convert Celsius to Fahrenheit](http://www.freecodecamp.com/challenges/convert-celsius-to-fahrenheit#?solution=function%20convert(celsius)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%0A%0A%20%20%2F%2F%20Only%20change%20code%20above%20this%20line%0A%20%20if%20(%20typeof%20fahrenheit%20!%3D%3D%20'undefined'%20)%20%7B%0A%20%20%20%20return%20fahrenheit%3B%0A%20

[2016-02-11 13:38] raisedadead commented on #6893
@adhikarinetwork Please ask your queries at [Help Chat](https://gitter.im/FreeCodeCamp/Help), GitHub Issues are for bugs in the site only.

[2016-02-11 13:39] raisedadead commented on #6892
Please ask your queries at [Help Chat](https://gitter.im/FreeCodeCamp/Help), GitHub Issues are for bugs in the site only.

Duplicate of #6893

[2016-02-11 13:42] adhikarinetwork commented on #6893
I think its bug.

[2016-02-11 13:48] raisedadead commented on #6893
@adhikarinetwork IMHO, your code is just returning string messages, which is not the objective.
Please read through the instructions and look at the test cases:

You need to convert temperature (in Celsius to Fahrenheit).

If you are stuck ask for help in our [Help Chat](https://gitter.im/FreeCodeCamp/Help).
Thanks.

[2016-02-11 13:52] dbender opened #6894 "Friendly Date parameter and return value data type"
Challenge [Friendly Date Ranges](http://www.freecodecamp.com/challenges/friendly-date-ranges#?solution=function%20friendly(str)%20%7B%0A%20%20return%20str%3B%0A%7D%0A%0Afriendly(%5B'2016-07-01'%2C%20'2016-07-04'%5D)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_3) AppleWebKit/601.4.4 (KHTML, like Gecko) Version/9.0.3 Safari/601.4.4</code>.
Please describe h

[2016-02-11 14:03] hey-its-iota commented on #6869
@alistermada Brilliant, thanks for that.  I hadn't considered that the FCC testing didn't re-initialize the program each time it ran a function call.  The fix turned out to be quite easy.

[2016-02-11 14:03] #6869 closed

[2016-02-11 14:17] W12S12E12 commented on #5699
https://github.com/abhisekp

[2016-02-11 14:18] sethspearman commented on #6298
Eric, that wording would work well.

Seth

On Thu, Feb 11, 2016 at 12:31 AM, Eric Leung <notifications@github.com>
wrote:

[2016-02-11 14:24] W12S12E12 commented on #4177
https://github.com/dting/fccportfolio-boilerplate

[2016-02-11 14:26] W12S12E12 commented on #6884
https://github.com/FreeCodeCamp/FreeCodeCamp

[2016-02-11 14:32] W12S12E12 commented on #6872
https://www.ibm.com/developerworks/community/blogs/cloudview?sortby=0&maxresults=10&order=asc&lang=es

[2016-02-11 14:34] W12S12E12 commented on #6885
https://github.com/bobchao/code-standards/blob/master/index.html

[2016-02-11 14:41] hey-its-iota commented on #6893
You haven't added any code to solve this problem... Notice the problem says:
[code]
So what you need to do is fill in some code between the lines.  Presumably this would mean declaring a variable `fahrenheit`.  And then do some calculations on the input `celsius` and save the result as `fahrenheit`.  If you search google, you will find the formula for converting celsius to fahrenheit, and all you

[2016-02-11 14:42] W12S12E12 commented on #2702
for linux
http://unix.stackexchange.com/questions/17779/how-can-i-build-a-custom-distribution-for-running-a-simple-web-browser
for linux: http://wiki.linuxcnc.org/cgi-bin/wiki.pl?Installing_EMC2
for ubuntu: http://ubuntuforums.org/showthread.php?t=1346642

andhttps://github.com/openresty/openresty.org/blame/4a4b57984ea203908ecb5b58c115fc7a883dfd9d/index.html

[2016-02-11 14:47] W12S12E12 commented on #6871
world press
https://vip.wordpress.com/documentation/code-review-what-we-look-for/

and and https://github.com/sk89q/craftbook/commit/709ab2520b125f6f91431b81c6352256d424a163