[2019-02-02 09:14] Nirajn2311 commented on #35028
@ahmadabdolsaheb I meant it happens when you hover the cursor over the buttons, sry if I was not clear before.

[2019-02-02 14:55] #19695 closed

[2019-02-02 17:49] #17996 closed

[2019-02-02 18:52] RandellDawson commented on #17966
I am on vacation through Monday, so I can not review til Monday evening.

[2019-02-02 19:10] Bouncey commented on #35015
There could be more social accountability where we pull in a screenshot of the url for GUI projects, not sure how we would handle api projects with this though.

[2019-02-02 19:16] Alex-Cannon commented on #16390
@QuincyLarson @raisedadead if this feature is still open I'd like to get started on it.

[2019-02-02 19:21] raisedadead commented on #35015
Yep. That'd be a great way to catch abuse.

[2019-02-02 20:54] nommanshaik18 commented on #10385
change the spelling of paul its given as upper case Paul you have given lower case paul @usmanghani5995

[2019-02-02 21:09] rishikesh1410 commented on #29311
@SKSSKS I also noticed it . Can I work on this ?

[2019-02-02 22:02] cmccormack commented on #35015
The cert itself is the concern right?  Can we include a link or image (similar to the codepen preview) of the final project in the cert so duplicated URLs will be completely obvious?  Just an idea.

[2019-02-03 01:08] JonDevOps commented on #35015
@raisedadead I agree and I might add to your point that codepen is not mandatory by saying, I had trouble for awhile understanding codepen for months. Since there was no head or body tags i ended up being extremely confused on how to use it, and even to ths day still opt out and instead favor github and gh-pages because it's more comfortable, for me, to write code with every line of code being the

[2019-02-03 05:57] thecodingaviator commented on #17966
I'll test it locally and try to review whatever I can

[2019-02-03 06:32] thecodingaviator commented on #17966
There's another problem in edge, when I click on any link the cursor appears there as if the content is editable but on typing anything or pressing backspace, it does what nothing and goes back to the previous page respectively:
![image](https://user-images.githubusercontent.com/34807532/52173493-92f60b80-27ab-11e9-9e17-0f18134d49dd.png)
![image](https://user-images.githubusercontent.com/34807532/

[2019-02-03 14:21] leebut opened #35049 "Firefox - Add Flex Superpowers - failing .follow-btn test."
I completed the challenge [Add Flex Superpowers to the Tweet Embed](https://learn.freecodecamp.org/responsive-web-design/css-flexbox/add-flex-superpowers-to-the-tweet-embed)

It states to **add display: flex; to**:

header, the header's .profile-name, the header's .follow-btn, the header's h3 and h4, the footer, and the footer's .stats.

However upon completing the challenge, it fails when using F

[2019-02-03 15:01] dharmabumzee opened #35050 "Not getting a short-code email?"
Was learning to code on FCC a few years ago, liked it. Been on the mailing list ever since, too. Trying to login again and I'm not getting an email with a short code. It's not in the spam folder, I've checked. Any suggestions?
Thanks in advance!

[2019-02-03 16:39] raisedadead commented on #35050
Can you check if you are getting any errors on your browser's dev console? You can look up the instructions to do so on Google based on the OS and the browser that you have.

[2019-02-03 16:49] #17966 closed

[2019-02-03 16:50] raisedadead commented on #17966
We have landed the fixes on master. Please report fresh issues on separate threads, if any.

[2019-02-03 17:19] Nuthi-Sriram commented on #35011
[image: image.png]

On Thu, Jan 31, 2019 at 10:45 PM mrugesh mohapatra <notifications@github.com>
wrote:

[2019-02-04 04:57] aravindvnair99 commented on #35012
@raisedadead I too was facing the same issue until last night. But looks like it's been fixed now.

[2019-02-04 05:00] aravindvnair99 commented on #35011
@raisedadead I too was facing the same issue until last night. But looks like it's been fixed now.

[2019-02-04 05:52] raisedadead commented on #35011
Thanks @aravindvnair99 I am going to close this. Please reach out to our support [Forum](https://forum.freecodecamp.com) in case you get this again. They will be able to help in debugging issue better

[2019-02-04 05:52] #35011 closed

[2019-02-04 05:52] raisedadead commented on #35012
Going to close this. Please reachout to the support forum [Forum](https://forum.freecodecamp.com)

[2019-02-04 05:52] #35012 closed

[2019-02-04 07:39] QuincyLarson commented on #35015
I agree with most of the people in this thread that there's not much we can do to *prevent* people from cheating.

Instead, we should focus on detecting cheating. We need a crawler of sorts that goes through people's submitted projects and automatically flags ones it thinks need human attention.

This can be open source and we can openly discuss ways to detect cheating. Since we would be continuou

[2019-02-04 08:05] JonDevOps commented on #35015
I would love to. I'm currently going through basic JS so I know I wouldn't be the best of help but I want to keep track of this and this can be my first dive intomore advanced topics than html and css. Also I have a learning group and a cohort group Mr. Larson with hundreds of people ...and we start tomorrow :) can i get them on this somehow? We have data scientist js devs, etc. Can I zoom with yo

[2019-02-04 08:07] QuincyLarson opened #35054 "Cheater detection crawler and triage admin dashboard"
Currently it's easy to cheat. When claiming a certification, you can:
- paste in the URLs of plagiarized projects
- paste in the URLs of projects that aren't even yours
- paste in any URL you want (we allow people to submit projects on many hosting platforms, including their own personal domains)

Instead of trying to prevent cheating - which is futile - we need to catch cheaters after the fact.

[2019-02-04 08:08] QuincyLarson commented on #35015
I'm closing this issue in favor of a dedicated discussion around these tools: https://github.com/freeCodeCamp/freeCodeCamp/issues/35054

[2019-02-04 08:08] #35015 closed

[2019-02-04 09:02] co16353sidak commented on #35054
As for the web crawler part, we can use dom loading to detect if the link is legitimate or false or broken(404 error). [there must be a way to detect whether the page loads and displays something or doesn’t or if the server throughs a default error page]
And also the test suite we use hopefully  requires a script to be inserted in the header tag, which can be detected.

Links failing these initial

[2019-02-04 09:22] #34932 closed

[2019-02-04 10:34] #34993 closed

[2019-02-04 10:39] ahmadabdolsaheb commented on #34993
Thank you all for reporting and helping to resolve this issue.  👍

[2019-02-04 11:13] BabarKhann commented on #34993
😊

*Babar Khan*

On Mon, Feb 4, 2019 at 3:42 PM Ahmad Abdolsaheb <notifications@github.com>
wrote:

[2019-02-04 12:57] #34988 closed

[2019-02-04 13:00] ahmadabdolsaheb commented on #34970
Hi @Wishnia, I was wondering if you are still working on this issue? Please let us know If we could help in any way.

[2019-02-04 13:03] QuincyLarson commented on #18307
@dgrcode Thanks - I agree that these machine translations need improvement. I encourage you to dig in and start fixing them. Be sure to join gitter.im/freecodecamp/contributors if you need help getting set up 👍

[2019-02-04 13:32] lasjorg commented on #35049
Do you see the follow button in the output on the right?

I know Adblock on Firefox has caused issues with this challenge. If you have Adblock installed, try to disable it and run the test (I think its an issue with a filter list, not the extension).

[2019-02-04 13:34] ahmadabdolsaheb commented on #34926
@beaucarnes

[2019-02-04 13:49] moT01 commented on #35054
That all sounds like a good start, but none of it would catch someone who copies another persons working project.

[2019-02-04 14:08] QuincyLarson commented on #16044
@RandellDawson Awesome!

@ahmadabdolsaheb could you QA this and merge it if it looks good?

[2019-02-04 14:08] QuincyLarson commented on #16390
@Alex-Cannon OK - it's all you. Please keep us posted on your progress.

[2019-02-04 14:10] QuincyLarson commented on #19346
@addv12345 I can't assign it to you through GitHub (I think you have to have write permissions for me to do that) but I've set it to "in progress". Please keep us posted and if you need any help, we're here for you in https://gitter.im/freecodecamp/contributors

[2019-02-04 14:39] thecodingaviator commented on #35054
What we can do is have the test script generate a code that writes to a database based on when the project was tested successfully and maybe get the CSS part and salt it then log it and when the user is submitting the project, if a duplicate if found, their account can be flagged.
This is at least a way for us to go forward with and this would prevent cheating in the future.

Of course, this is an

[2019-02-04 17:53] Nirajn2311 commented on #35054
Are there any stats on how many projects are submitted in a day as if its a low number then a group of people can go through the links and check if they are valid.
But if it's more, then we could do something similar to what @thecodingaviator suggested. We could log each link into a database when they are submitted and the next time any user submits another link a script could be made to see if th

[2019-02-04 18:49] Alex-Cannon commented on #16390
@QuincyLarson got it. I'll start on it today. I plan on integrating some sort of visual walk-through, then having them make a git repository. Any suggestions/advice would be appreciated. :) Will keep you posted on my progress.

[2019-02-05 05:16] leebut commented on #35049
Thank you for your reply.
I don't run Adblock, but uBlock Origin was blocking .follow-btn and .share-btn.

[2019-02-05 05:16] #35049 closed

[2019-02-05 06:40] #34909 closed

[2019-02-05 07:04] ahmadabdolsaheb commented on #16390
Thanks for working on this @Alex-Cannon.
Here is a content list proposal. The following commands are used for contributing to the freecodecamp, it would be great if the git lessons could touch on these materials so campers would feel comfortable contributing to freecodecamp or similar open source projects after finishing the lessons.

git clone https://github.com/YOUR_USER_NAME/freeCodeCamp.git
gi

[2019-02-05 07:38] ahmadabdolsaheb commented on #35036
Thanks @co16353sidak for reporting this.
Here is the file to be changed if anyone is interested.
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/certifications/javascript-algorithms-and-data-structures/es6/use-class-syntax-to-define-a-constructor-function/index.md

just change the 'Vegetable' instances in the constructor to 'name'.

[2019-02-05 08:04] co16353sidak commented on #35036
I will create the pull myself, please wait for a few minutes

[2019-02-05 08:16] co16353sidak commented on #35036
Please review and check accordingly, I have fixed the solution to display the complete correct solution.

[2019-02-05 08:39] #35022 closed

[2019-02-05 08:39] #35036 closed

[2019-02-05 08:48] ahmadabdolsaheb commented on #35036
I merged your second PR; please let me know if further modifications are needed.

[2019-02-05 09:29] leebut opened #35059 "ES6 'Mutate an Array Declared with Const' shows lowercasse not uppercase const names"
I am on the challenge, [Mutate an Array declared with Const](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/mutate-an-array-declared-with-const)

On the previous challenge, we are informed us to use uppercase to declare const variables, but this challenge seems to use lowercase 's', both in the examples and the code editor.

![fcc-const](https://user-images.githubuser

[2019-02-05 10:16] ezioda004 commented on #35059
See previous discussion: https://github.com/freeCodeCamp/freeCodeCamp/issues/19037

[2019-02-05 10:17] ezioda004 commented on #35016
Fixed in https://github.com/freeCodeCamp/freeCodeCamp/pull/34981

[2019-02-05 10:17] #35016 closed

[2019-02-05 10:30] leebut commented on #35059
Okay, thank you.
Perhaps all of that should be explained in the challenge rather than the code appearing as a contradiction in conventions.

[2019-02-05 11:18] ahmadabdolsaheb commented on #34877
Thank you for reporting this issue. Since this issue has been addressed in the master branch and we are getting close to ship master I will close this issue for now.

[2019-02-05 11:18] #34877 closed

[2019-02-05 12:04] #34957 closed

[2019-02-05 15:37] zainulabidin302 commented on #34901
Hey, The link in the comment is broken.
<img width="810" alt="screen shot 2019-02-05 at 8 36 48 pm" src="https://user-images.githubusercontent.com/7473349/52284218-c9877e00-2985-11e9-9d8f-a4e5433c33cf.png">

[2019-02-05 16:40] Alex-Cannon commented on #16390
@ahmadabdolsaheb nice. I agree that most of these commands should be learned and freeCodeCamp isn't a bad place for people to start learning. Will keep all of you updated.

[2019-02-05 17:44] #34905 closed

[2019-02-05 17:49] ahmadabdolsaheb commented on #34887
Hi @scissorsneedfoodtoo, Thanks for working on this. Please let me know when you have the PR ready so we could review and merge it ASAP.

[2019-02-05 19:11] raisedadead opened #35061 "Whitespacing on footer"
The footer is crammed on the Curriculum and the Guide pages:

![image](https://user-images.githubusercontent.com/1884376/52297916-ca310c00-29a7-11e9-99ea-f17ed3165673.png)

This needs to be uniform with whitespace like on th welcome page:
![image](https://user-images.githubusercontent.com/1884376/52297944-d9b05500-29a7-11e9-8115-d5bcbb5e5276.png)

[2019-02-05 20:39] skyemorgan0907 commented on #29311
yesSent from my Samsung Galaxy smartphone.
-------- Original message --------From: Rishikesh Sahu <notifications@github.com> Date: 2/2/19  3:11 PM  (GMT-06:00) To: freeCodeCamp/freeCodeCamp <freeCodeCamp@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: Re: [freeCodeCamp/freeCodeCamp] Search option not working. (#29311) @SKSSKS I also noticed it . Can I work on this ?

—Y

[2019-02-05 21:36] Bubsy3D commented on #34901
should work now

[2019-02-05 22:10] Wishnia commented on #34970
@ahmadabdolsaheb Yep, I'm working on this issue right now. I figured out that the source of this bug is probably in [search-assets ](https://github.com/freeCodeCamp/search-assets) repo.

[2019-02-06 00:18] aditijoshi14 commented on #18007
@raisedadead Is it possible for you to assign this issue to me? This will save us from any duplicate work.

[2019-02-06 00:21] coder077 commented on #18861
@raisedadead Is it a good idea to split this into different issues before I start working on this?

[2019-02-06 03:43] ronaldcs commented on #34861
Note, this issue **is** reproducible. All it takes is having the comment text contain `padding-top` or any padding-* variant to cause the issue. The issue occurs anywhere within the code (e.g. inside or outside the `<style>` block.

![image](https://user-images.githubusercontent.com/4138434/52319285-e5475000-2996-11e9-8d13-5482bad843b5.png)

[2019-02-06 04:17] ronaldcs commented on #35028
Couldn't repro either on a Windows 10 VM using Chrome, although I do see a border on the bottom when you hover.
<img width="1172" alt="screen shot 2019-02-05 at 11 14 44 pm" src="https://user-images.githubusercontent.com/4138434/52320213-0a8a8d00-299c-11e9-933d-d12fe3a60578.png">

[2019-02-06 05:41] rupali317 commented on #35028
@Nirajn2311 which OS and browser are you using?
I tried to reproduce in local as well as the production site, I was unable to reproduce. I am on Windows 10 Home and using Chrome 71.0.3578.98

[2019-02-06 06:32] raisedadead commented on #18861
Yes, it should however we need to revisit and see what needs to be in the individual issues since a lot has changed lately in the master.

[2019-02-06 06:57] rupali317 opened #35068 "Clicking on "Sign In" button or "Start coding (it's free)" button leads to 500 error in local setup"
**Describe the bug**
This happens in the local setup. So in the welcome page, if you click on "Start coding (it's free)" button or on "Sign In" button on the navbar, we are shown "500 Internal Server Error"

Not sure if I am missing any configuration

**To Reproduce**
Steps to reproduce the behavior:
1. Go to welcome page
2. Click on "Start coding (it's free)" button or "Sign In" button on the nav

[2019-02-06 07:02] rupali317 commented on #35068
Here is the error message:

![error_logs_signin](https://user-images.githubusercontent.com/5875663/52325497-2c2d5800-2a20-11e9-94eb-69987aef7007.JPG)

[2019-02-06 08:17] snehal96 commented on #17715
the issue still persists in the site, the code does not produce correct answer even though other online compilers produce correct results for the same code

[2019-02-06 08:25] reyesvicente opened #35069 "Sass: Apply a Style Until a Condition is Met with @while"
**Describe your problem and how to reproduce it:**

Google Chrome:

Your .text-1 class should have a font-size of 5px

Safari:

Your .text-1 class should have a font-size of 5px.
Your .text-2 class should have a font-size of 10px.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/front-end-libraries/sass/apply-a-style-until-a-condition-is-met-with-while

**Tell us about

[2019-02-06 08:42] snehal96 opened #35070 "project euler problem 9"
**Describe your problem and how to reproduce it:**
The answer to the project euler problem 9 special pythagorean triplet for n=120 should be 60000 but instead it says 49920 to be the answer

**Add a Link to the page with the problem:**

https://learn.freecodecamp.org/coding-interview-prep/project-euler/problem-9-special-pythagorean-triplet
**Tell us about your browser and operating system:**
* Bro

[2019-02-06 09:32] Bouncey commented on #17715
As noted by the label added by @ValeraS, this issue has been resolved on the master branch and should be available for public test shortly. The idea is then to deploy master to production after a suitable burn-in period.

[2019-02-06 09:32] #17715 closed

[2019-02-06 10:07] Bouncey commented on #35028
I cannot reproduce @Nirajn2311, feel free to raise a PR though. If it is effecting you, it will be the same for others

[2019-02-06 10:40] ValeraS commented on #35061
@raisedadead do you think this is better?

![image](https://user-images.githubusercontent.com/10867286/52335843-71e42380-2a14-11e9-989a-8f078dbb0a92.png)

[2019-02-06 11:06] ahmadabdolsaheb commented on #35061
@raisedadead @ValeraS this PR is gonna add an hr that makes learn look a bit better than just a spacer, but it will hurt the aesthetics on all other templates. In the footer issue, we discussed having custom footers for each template so it could reduce distraction in learn.  Maybe we could explore spacing as an addition to the footer so it could customize the space and the length of the hr tag dep

[2019-02-06 11:44] raisedadead commented on #35061
Hi @ValeraS

I think the long term solution that we are looking at should be to get rid of the internal scroll bars.

Here is what I think would be a good UX (**taking cues from our mobile layout**):

![image](https://user-images.githubusercontent.com/1884376/52338957-cea20700-2a31-11e9-8a61-c9f517e6bbfa.png)

Instructions Panel with tests stings checkbox (1) : Should have the full height of its c

[2019-02-06 11:45] raisedadead commented on #35061
I know this is difficult to achieve, we have thought of some more cleaner layout that will have tabs, which we will add later after we ship.

[2019-02-06 12:03] ValeraS commented on #35061
@raisedadead Beside buttons and fixed height of the console panel, it works as you describe. Or did I misunderstand something?

[2019-02-06 12:20] ahmadabdolsaheb commented on #35061
If I understood you correctly @raisedadead, you want 1 and 4 to have the same height and both scroll together? if that is the case, we could achieve that with some JS. There are cases where users need to  read from the end of the  instructions panel, implement changes in the editor and see their changes which takes place at the top of the preview. so the user will be scrolling up and down if that

[2019-02-06 12:31] raisedadead commented on #35061
Hmm.. now having read your comments, I think that we would need the individual scrolls (like it is currently).

UX is hard.

I still believe that extracting the buttons would be a good idea though. And having them as a fixed just below the panels would be neat. However, I agree this is not trivial.

[2019-02-06 13:33] zberwaldt commented on #17763
I moved my two github routes to the `server.js` file, as @ibnthani2016 suggested. This passed the tests for me.

[2019-02-06 13:52] #13999 closed

[2019-02-06 14:00] moT01 commented on #14002
How is this coming @HarplingeTom? Were you able to get the repo setup locally? Do you still want to try and tackle this?

[2019-02-06 15:40] Nirajn2311 commented on #35061
Do we really need all 5 buttons? I think just 3(Run tests, guide, and Ask for help) are enough.

[2019-02-06 17:07] thecodingaviator commented on #35068
Okay, I'm not sure if we really want to fix this right now since we don't really have a problem on the client side, but let's see what the other have to say

[2019-02-06 17:23] 7KAG7 opened #35078 "iOS keyboard"
When going from next challenge the next challenge won’t display the keyboard even after I click in the editor. iPhone 8+ iOS 12.2 beta

[2019-02-06 17:35] raisedadead commented on #35078
Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/17386

[2019-02-06 17:35] #35078 closed

[2019-02-06 17:55] raisedadead commented on #35068
Could not reproduce.

Have you followed the local setup guide? Is your MongoDB running (separately)? Have you seeded the Database (`npm run seed`) like in the instructions?

[2019-02-06 18:41] JimmyRowland commented on #34798
The import failed after I revoked glitch's access to my github's username && email. Re-logging in solved my issue.

[2019-02-06 19:11] #35061 closed

[2019-02-07 01:54] ronaldcs commented on #34861
Pretty much edge case, but created a PR for it (shrug).

[2019-02-07 09:13] SamWoolerton opened #35081 "UI/UX design overhaul"
Hey all,

I've thought for some time that while I love FCC's content, the design (both UX and UI( could be better. For context, I used FCC about 18 months ago to learn frontend and have recommended the site to many people interested in learning programming. I recently revisited the site and noticed the potential for improvement.

I've rebuilt the site's main pages (landing page, home, curriculum,

[2019-02-07 14:20] Nirajn2311 commented on #35081
@SamWoolerton The designs were all amazing. I think that the night mode could use a few changes. Also in the curriculum page for the topics, maybe we could use the same kind of progress bar you used to show the number of projects, challenges done.

[2019-02-07 14:34] rupali317 commented on #34967
This issue happens provided the person is signed in to FCC. This bug does not happen when the user is signed out

[2019-02-07 16:03] rupali317 commented on #35068
I ran the commands again from the beginning. I am not able to reproduce this issue.

I made a mistake. At some point, I had closed the console which was running the **mongod** command.

I will close this issue

[2019-02-07 16:03] #35068 closed

[2019-02-07 16:31] raisedadead commented on #35068
No worries, glad you figured it out. It helps if you check that someone else is getting the same issues. We have a friendly [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) which you should checkout.

[2019-02-07 16:48] co16353sidak commented on #18007
Hi, is anyone currently working on this issue? or can I have a go at it?
@raisedadead @aditijoshi14 ?

[2019-02-07 16:49] co16353sidak commented on #34901
Hi, has this been fixed or can I have a go at it?
@Bubsy3D @ahmadabdolsaheb

[2019-02-07 17:12] raisedadead commented on #18007
Hey @co16353sidak there are several issues that we could use your help on. Have a look on the open issue. Feel free to tag me or others from the mods team for queries, including pointers to codebase.

Can you check back on this specific issue in a few days? If @aditijoshi14 has not requested more time by then you could look into next week.

Thanks a lot for you help. Happy contributing!

[2019-02-07 17:15] raisedadead commented on #17131
Closing this in favor of #35054

This has come up many times and I think we cannot check all the projects, since we do allow people to submit any project in any language of their choice.

[2019-02-07 17:15] #17131 closed

[2019-02-07 17:20] raisedadead commented on #35081
Related issue thread: https://github.com/freeCodeCamp/freeCodeCamp/issues/16445

[2019-02-07 17:21] raisedadead commented on #16445
Related: https://github.com/freeCodeCamp/freeCodeCamp/issues/35081

[2019-02-07 17:37] thecodingaviator commented on #35081
@SamWoolerton I love the designs that you've made,As @Nirajn2311 , the night mode could use some work, the colour of grey  isn't particularly 'night' if you get what I mean and maybe just leave this white:
![image](https://user-images.githubusercontent.com/34807532/52430816-f0cc7f80-2b2c-11e9-8aa7-083e6462d500.png)
 The visual hierarchy is amazing! Overall I love it!

[2019-02-07 17:37] aditijoshi14 commented on #18007
@co16353sidak Hi, thank you for checking. I am currently working on it!

[2019-02-07 17:40] cmccormack commented on #35059
@ezioda004 unless I'm missing something the link you shared explained why @leebut issue is valid.  @leebut are you interested in submitting a PR to modify the variable name?  Perhaps we can make the example a little more interesting by making it a real-life example.

[2019-02-07 17:50] ezioda004 commented on #35059
@cmccormack The convention is to use lowercase for non-primitive values. The challenge is following the correct convention since array is a non-primitive value hence the lowercase use.
A note regarding (uppercase/lowercase with `const`) would be sufficient.

[2019-02-07 18:02] ZebulanStanphill opened #35086 "Tests for "Data Visualization with D3: Add Axes to a Visualization" and other challenges do not allow spaces around function arguments"
## The problem
The tests for the ["Data Visualization with D3: Add Axes to a Visualization"](https://learn.freecodecamp.org/data-visualization/data-visualization-with-d3/add-axes-to-a-visualization) challenge do not allow spaces around function arguments.

When my code looks like this, the tests pass:

[code]

But when I add spacing in the `call` function, the tests no longer pass:

[code]

**This

[2019-02-07 18:06] co16353sidak commented on #18007
Awesome @aditijoshi14, do tell me how it pans out.

[2019-02-07 18:27] co16353sidak commented on #35069
Hi, @reyesvicente

Can't Seem to reproduce your problem when I run it on my browser, can you please be more descriptive about this problem?
1. Did you also try following the
[Read-Search-Ask System](https://www.freecodecamp.org/forum/t/the-read-search-ask-methodology-for-getting-unstuck/137307) to find out about the problem you are facing here?
2. Also did you try refreshing the browser page and r

[2019-02-07 18:36] co16353sidak commented on #35059
Agree with @ezioda004 here, muting objects shouldn't be uppercase as it would confuse the third party to think of it as an unchangeable variable but in reality here we do change s in the sense that we mutate it.
So the use of const here just remains to prevent re-assignment of s and so lowercase can prevail.
We could add a few extra lines in the challenge description to make it more clear.

[2019-02-07 18:47] thesidbatra commented on #35081
I, for one, think the design looks absolutely beautiful/functional

[2019-02-07 19:41] Fordco commented on #24632
Should this issue be closed since a solution was merged?

[2019-02-07 19:42] raisedadead commented on #35081
Our brand guidelines: https://design-style-guide.freecodecamp.org/

[2019-02-07 19:48] co16353sidak opened #35088 "Sass: Apply a Style Until a Condition is Met with @while: Add proper guide"
**Describe your problem and how to reproduce it:**
The guide seems to be empty for this particular problem, as I am finding some problems are being faced by the amount of issues opened on this particular challenge.

**Add a Link to the page with the problem:**
[Inside Repo Link](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/certifications/front-end-libraries/sass/apply-a-s

[2019-02-07 20:04] co16353sidak opened #35089 "Regular Expressions: Match Anything with Wildcard Period: no prior explanation for test method"
**Describe your problem and how to reproduce it:**
The challenges prior to this method use the match() method to determine regex tests, in this there is a sudden use of the test method.
There should be a small description to be provided to the user so that he/she can understand the difference between the two, also the challenge requires the use of the test method in place of match, so a beginner m

[2019-02-07 20:04] SamWoolerton commented on #35081
Thanks all for the feedback!

@Nirajn2311 Totally agree, curriculum with progress bars was actually one of the first things I tried there. I prefer the version without as it's a bit cleaner visually, but this is a good option too, and it's really nice to see progress at a glance.
![Curriculum with progress bars](https://user-images.githubusercontent.com/25044315/52439046-809b1980-2b7f-11e9-84b5-df

[2019-02-07 20:52] Bubsy3D commented on #34901
yes it has, the link works now. But you could also easily find it in the freecodecamp curriculum / responsive web design / basic html and html 5

[2019-02-07 20:53] Bubsy3D commented on #34901
no it hasn't

[2019-02-07 21:12] raisedadead commented on #35081
Hi @SamWoolerton

Thanks a lot for investing your time and efforts in the UI/UX. First of all these look great! 👏
I really like the way the Challenge map looks.

I guess @QuincyLarson can attest this better but, we do have a brand tone that we adhere to.

Some pointers off the top of my head that we care about:
1. We have strong contrasting colors for the sake of simplicity and a11y.
	The best exa

[2019-02-07 21:42] SamWoolerton commented on #35081
@raisedadead Sweet as, fully get the a11y side of things. I'll aim to make some time over the weekend and play around with the colour scheme - will look to swap in the brand dark green and will test the orange.

I do think that the light gray page background with white background for content (kind of a card look) is another form of whitespace and helps to separate out content sections. Without thi

[2019-02-07 21:55] raisedadead commented on #35054
We could potentially use https://github.com/sindresorhus/capture-website

[2019-02-07 21:59] ZebulanStanphill opened #35090 "Tests for various challenges are too strict about line breaks before method calls"
## The problem
The tests for the ["JSON APIs and Ajax: Handle Click Events with JavaScript using the onclick property"](https://learn.freecodecamp.org/data-visualization/json-apis-and-ajax/handle-click-events-with-javascript-using-the-onclick-property) challenge do not allow a line break before the `getElementById` method call.

When my code looks like this, the tests pass:

[code]

But this cause

[2019-02-07 22:14] ZebulanStanphill opened #35091 ""JSON APIs and Ajax: Change Text with click Events" tests don't allow line breaks before method calls"
**Describe your problem and how to reproduce it:**
The tests for the ["JSON APIs and Ajax: Change Text with click Events"](https://learn.freecodecamp.org/data-visualization/json-apis-and-ajax/change-text-with-click-events) challenge do not allow a line break before method calls.

When my code looks like this, the tests pass:

[code]

But this causes the tests to fail:

[code]

**Add a Link to the

[2019-02-07 23:56] ZebulanStanphill commented on #35090
@RandellDawson I have not completed the entire section. I'm just reporting these bugs as I find them while going through the challenges.

[2019-02-08 02:13] reyesvicente commented on #35069
Hi @co16353sidak, yes I've refreshed and read search asked but you are the only one that replied. I tried it again now but still received the error.

[2019-02-08 02:15] leebut commented on #35059
I have created a pull request to update the first challenge on const variables, but it is pointing to the master of my fork, not freecodecamp.

[2019-02-08 02:24] co16353sidak commented on #35059
You are here comparing across branches of your forked repo, you will have to make a pull request across forks and make sure that the base repository is freeCodeCamp's master branch and the head repository is your fork.

[2019-02-08 02:47] ZebulanStanphill opened #35095 ""JSON APIs and Ajax: Get JSON with the JavaScript XMLHttpRequest Method" tests don't allow arrow function to be used as onload event handler"
**Describe your problem and how to reproduce it:**
The tests for the ["JSON APIs and Ajax: Get JSON with the JavaScript XMLHttpRequest Method"](https://learn.freecodecamp.org/data-visualization/json-apis-and-ajax/get-json-with-the-javascript-xmlhttprequest-method) challenge do not allow an arrow function to be used as the `onload` event handler for the XMLHttpRequest.

When my code looks like this

[2019-02-08 02:51] ZebulanStanphill opened #35096 ""JSON APIs and Ajax: Get JSON with the JavaScript XMLHttpRequest Method" tests don't allow spaces around JSON.parse arguments"
**Describe your problem and how to reproduce it:**
The tests for the ["JSON APIs and Ajax: Get JSON with the JavaScript XMLHttpRequest Method"](https://learn.freecodecamp.org/data-visualization/json-apis-and-ajax/get-json-with-the-javascript-xmlhttprequest-method) challenge don't allow spaces around the arguments passed to the `JSON.parse` method.

When my code looks like this, the tests pass:

[c

[2019-02-08 02:57] ZebulanStanphill opened #35097 ""JSON APIs and Ajax: Get JSON with the JavaScript XMLHttpRequest Method" tests don't allow line break before document method calls"
**Describe your problem and how to reproduce it:**
The tests for the ["JSON APIs and Ajax: Get JSON with the JavaScript XMLHttpRequest Method"](https://learn.freecodecamp.org/data-visualization/json-apis-and-ajax/get-json-with-the-javascript-xmlhttprequest-method) challenge don't allow line break before the `document` method calls.

When my code looks like this, the tests pass:

[code]

But this c

[2019-02-08 03:33] RandellDawson commented on #35090
It would be best to report one issue per the same set challenges which have one or more of the same issues.  If you find any more for this section, please put them on the same issue.

Thank you.

On a side note, even though the code should technically work with the spaces in the function calls, it is not typical coding practice to do so.  We may or may not fix all of these types of issues which ar

[2019-02-08 03:41] RandellDawson commented on #35069
@reyesvicente Can you paste your actual code instead of a screenshot?  Also, did you ask this same question on the forum first?

[2019-02-08 04:32] co16353sidak commented on #35069
Same as #34775

[2019-02-08 05:08] reyesvicente commented on #35069
I asked also on the forum but no reply.

[2019-02-08 05:21] RandellDawson commented on #35069
@reyesvicente Can you post your exact code?  Use 3 backticks on the line before and after the code you paste.  I believe it is a spacing issue that the tests are having trouble with, but I need to see your exact code to try an duplicate the problem.  Screenshots don't always convey spaces well.

Thank you.

[2019-02-08 06:58] RandellDawson commented on #34775
@mstachalski I am wondering if you have a browser setting which is affecting your ability to go below `6.6667px`.  I will ask some others for some more feedback on why you maybe seeing that one specific test related to the `text-1` class.

 As far as the 2nd issues regarding the increment error, that is a bug in the tests which has yet to be fixed (@thecodingaviator I tested this same code locally

[2019-02-08 07:05] kdmino opened #35101 "When I log in via chrome on desktop, freecode camp logs me out when I click curriculum tab. But I can log in fine under firefox."
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
When I log in via chrome on desktop, freecode camp logs me out when I click curriculum tab. But I can log in fine under firefox.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'freecodecamp.org'
2.

[2019-02-08 07:50] raisedadead commented on #19346
Hi @QuincyLarson

Some of the requirements here are not trivial, because of our legacy user model schema. That is somethings about the model if not planned from the beginning always make your system resistive to change.

Anyways I will leave some pointers for anyone working on this:

- I think while we want this do this, its best approach is to take the way others are handling it. The URL for exam

[2019-02-08 09:59] QuincyLarson opened #35102 "Improvements to Footer"
**Expected behavior**
Please see attached screenshot for more details.

Basically:
- [x] "Contact email" should be "Email Us"
- [x] We should get rid of the outbound link icons
- [ ] The footer should always go below the tallest element. Currently on the Guide, it seems to go under the least tall element.

**Screenshots**

<img width="1246" alt="echo_and_print___freecodecamp_guide" src="https://us

[2019-02-08 10:03] QuincyLarson opened #35103 "Improve search UI"
Please see below image with suggested improvements:

<img width="1155" alt="echo_and_print___freecodecamp_guide" src="https://user-images.githubusercontent.com/985197/52471394-c54ca200-2bcb-11e9-8c4f-e1e900380b7c.png">

[2019-02-08 14:47] moT01 commented on #34775
I was able to get a similar error when my browser was zoomed to 80%. Try making the zoom 100% or other zoom levels and run the tests again @mstachalski.

[2019-02-08 15:03] moT01 commented on #35069
Closing in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/34775 - There's a potential solution I posted on that issue @reyesvicente.

[2019-02-08 15:03] #35069 closed

[2019-02-08 15:20] Bouncey commented on #19346
This saga handles the profile request:
https://github.com/freeCodeCamp/freeCodeCamp/blob/db02d1c479812d6cc18e9c31094d5dde434a91be/client/src/redux/fetch-user-saga.js#L30-L42

The `maybeUser` argument should be enforced to be lower case.

[2019-02-08 16:02] ZebulanStanphill commented on #35096
Closing in favor of #35086 being the single ticket for all bugs of this type.

[2019-02-08 16:02] #35096 closed

[2019-02-08 16:11] ZebulanStanphill commented on #35096
Actually, I just realized that I have an even older issue that covers the same kind of issue, so closing in favor of that one: #34344.

[2019-02-08 16:11] ZebulanStanphill commented on #35086
I just realized I had an older issue that covers the same kind of issue, so closing this issue in favor of that one being the single ticket for all issues of this type: #34344.

[2019-02-08 16:11] #35086 closed

[2019-02-08 16:17] ZebulanStanphill commented on #35091
Closing in favor of #35090 being the single ticket for issues like this.

[2019-02-08 16:17] #35091 closed

[2019-02-08 16:17] ZebulanStanphill commented on #35097
Closing in favor of #35090 being the single ticket for issues like this.

[2019-02-08 16:17] #35097 closed

[2019-02-08 16:18] digilou opened #35106 "UI bug: Last lesson panel widens view"
On the Curriculum page, when opening the last panel (Project Euler) under Coding Interview Prep, the column widens almost twice the size of the original column width when other panels are open or closed.

Viewing on a MacBook Pro with Firefox.

<img width="610" alt="Screenshot of Project Euler panel opened" src="https://user-images.githubusercontent.com/8865558/52490563-7b36d280-2b71-11e9-8ec4-ae1

[2019-02-08 16:20] thecodingaviator commented on #35081
I given things a knock [here](https://www.figma.com/file/SdsUKVcvwJM5KRgB8sZE1E/freeCodeCamp-Copy?node-id=1%3A3) .

@raisedadead / @QuincyLarson  I really think we should add the color `#7DB17D` to our styles because I've given different colours a try and none of them really seem to fit in the dark mode

[2019-02-08 16:25] ZebulanStanphill commented on #35090
@RandellDawson I have closed the similar tickets in favor of this ticket being the single one for issues like this. I have updated the description and title to reflect this. Thank you for pointing out the unnecessary duplication to me. :+1:

Also, my decision to put line breaks before the method calls is not really what I would consider weird. As far as I am aware, it is standard practice to avoid

[2019-02-08 18:27] RandellDawson commented on #35090
@ZebulanStanphill Thanks for putting all of the challenges for the same issue in a single issue.  That makes it much easier for everyone involved.  I will update my existing PRs and create new PRs to deal with the line break issues you have pointed out.  You are welcome to create the separate issue regarding the argument spacing, so other collaborators can have a say beyond my opinions on this iss

[2019-02-08 18:43] ArielLeslie commented on #35089
Really that requirement is just to make sure you don't change any line besides the one that says `// Change this line`.

[2019-02-08 18:56] co16353sidak commented on #35089
Yes @ArielLeslie  but then again, in the next challenge, a user maybe inclined to try the test method as well.
Causes a bit of ambiguity.

[2019-02-08 19:09] QuincyLarson commented on #24632
@beaucarnes Were you able to run this certification through the translator?

If you haven't, of course, be very careful as it can get expensive quickly if you make a mistake.

Once these are translated, could you open a new PR adding these translations to the repo?

[2019-02-08 19:12] QuincyLarson commented on #19346
@raisedadead Thanks for the details. Since this is a relatively low priority, I'll add it to the roadmap and we can tackle it later.

[2019-02-08 19:39] ZebulanStanphill commented on #35090
@RandellDawson Here is the ticket I am now using for whitespace-around-function-arguments issues: #34344.

[2019-02-08 19:46] QuincyLarson commented on #35081
@SamWoolerton First of all, thanks for taking the time to create these mock-ups and share them with us.

We get these kinds of redesign concepts often.

The main thing that informs our design is accessibility and unambiguity.

Some people say Craigslist is an ugly website. Why haven't they changed it after all these years?

The fact is, it's fast, accessible, and it works.

This said, I think ther

[2019-02-08 20:11] #34743 closed

[2019-02-08 20:29] aditijoshi14 commented on #18007
@co16353sidak sure!

[2019-02-08 20:32] aditijoshi14 commented on #18007
@raisedadead I was thinking of using regex to match the text inside <li> tags. I was just wondering if we should just accept alphabets(A-Za-z) or should we accept numbers and symbols as well?

[2019-02-08 20:49] SamWoolerton commented on #35081
@QuincyLarson Thanks for the detailed feedback, much appreciated!

There were probably 3 key UX prompts that started me on the redesign
- Curriculum page dropdowns have been a pain point for me, as you can't tell if you've completed all lessons in a sub-course (say Applied CSS), without opening it and checking every lesson is green. A clear indication for if all lessons in a subcourse are complete

[2019-02-08 20:55] beaucarnes commented on #24632
This has not been done yet. I will start working on it.

[2019-02-08 21:07] tspeed90 commented on #35106
I'd be interested in working on this if you aren't, @digilou!

There are a couple options for how this can be fixed, I suppose. Should the width be consistently that wide on the page or should the long titles that are pushing the width out be wrapped instead?

[2019-02-08 21:17] RandellDawson commented on #24632
@beaucarnes Please make a separate PR for each set of language translations, so they are not all tied together.  That way, the translators can focus on their own specific language PR and not hold up the others.

[2019-02-08 21:45] BurnhamG commented on #13157
@patricktownley Great catch! That was an actual mistake that I missed with past commits. I've made the appropriate changes in my pull request to take care of that issue as well.

[2019-02-08 23:01] geekysmurf123 opened #35110 "Iterate with JavaScript Do…While Loops"
**Describe your problem and how to reproduce it:**
The description of the problem and the solution that passes are not the same.  The code that passes this section would give you the wrong answer to the instructions.  write the proper code for the instructions and it will not pass.  try it.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-

[2019-02-08 23:41] RandellDawson commented on #35110
Can you be more specific?  For example, what code passes the challenge which you think goes against the instructions?

[2019-02-08 23:47] RandellDawson commented on #18007
@aditijoshi14 I say they should probably contain anything except only white space characters.

[2019-02-09 00:03] Fordco commented on #35110
I just came up with this solution based on the instructions and passed the test cases.

![image](https://user-images.githubusercontent.com/21327614/52512282-0fd11d00-2bd2-11e9-829f-5fdf7bc76e47.png)

After thinking about it more I can see how the instructions might be misleading. The following code pushes the number 10 to myArray, and i will be equal to 11 when the code finishes running, but the a

[2019-02-09 00:22] geekysmurf123 commented on #35110
the first pic is the way i tried it first and it wouldn't pass.  i got it
to pass changing the while:

} while (i < 5);

that should not have passed.

i also had a few connection issues with that one.  like i clicked on run
test and the page would lockup.
i would close my browser, reopen it, go to your page, click on curriculum,
and it gave me a 404 error message
a few times.

Have a great day!

J

[2019-02-09 01:17] RandellDawson commented on #35110
@geekysmurf123 The code `while (i < 5)` should definitely pass the tests, because you just need the loop to iterate one time.  So, the while loop condition should evaluate to `false` in the first iteration (which it does with that code).

@Fordco If you start with the original seeded code, `i` is `10` and not `5`, so it is not going to add other numbers anyway.  That being said, the wording change

[2019-02-09 01:21] Fordco commented on #35110
@RandellDawson I would love to do that.

[2019-02-09 02:17] aditijoshi14 commented on #18007
@RandellDawson Thank you so much for your response. I will work on that.

[2019-02-09 02:18] RandellDawson commented on #34901
@Bubsy3D, @co16353sidak  What are your suggestions for the challenge description and example code that users should see?

Let's get the content agreed upon, so @co16353sidak or someone else can help create a PR with what is decided here.

[2019-02-09 02:24] co16353sidak commented on #34901
@RandellDawson
1. How about adding another test that ensures the presence of a value attribute
2. Or if that seems too extreme, we could just include the value attribute in our challenge’s example.
3. Or/And add a note describing the importance of the value attribute

[2019-02-09 02:37] RandellDawson commented on #34901
The challenge information is supposed to be short and concise and teach something specific.  The intent of this challenge is not have the user create a form which would be used to submit capture the `value` attribute.  I believe this type of information is better served as additional information in the Guide instead.

@co16353sidak My thought on your 3 suggestions is as follows:

1. Seems beyond t

[2019-02-09 04:23] RandellDawson commented on #18007
@aditijoshi14 If you get stuck, let me know.  I have come up with an assert which I think will work well.

[2019-02-09 07:27] orangegrove1955 opened #35112 "Broken "Get a Hint" links for most of Information Security with HelmetJS"
**Describe your problem and how to reproduce it:**
The "Get a hint" links for most of the Information Security with HelmetJS challenges are broken, returning a 404 error when clicked.

It seems to be the challenges that end in helmet.xxxx() format in their title, as the pages that do not have this link to the guide correctly. From brief inspection of the links attempted to be accessed, compared to

[2019-02-09 08:07] Nitin96Bisht commented on #34832
@benschac @Bouncey @4M3L Let me know whether it has been done now or not. I would like to work on this issue.

[2019-02-09 11:27] Hiyorimi opened #35114 "Minor explanation correction"
**Problem:**
I think that it might be  not clear why separate function is used to wrap the class declaration, and it might confuse some people. I would like to purpose adding some explanation, like, `class declaration in  the example is wrapped into makeClass function, because we need to maintain  ES6 space in the closure`.

**Links:**
[FCC link](https://learn.freecodecamp.org/javascript-algorithm

[2019-02-09 13:49] Flarp commented on #14234
Sorry for taking so long to respond; the next semester started and I was sidetracked with work.

I'm going to work for a few hours today to make sure everything is in order.

[2019-02-09 16:47] Flarp commented on #14234
Unfortunately my 2010 netbook cannot handle having a web browser and Gatsby running at the same time, so I'm going to have to rewrite a lot of this blindly. If someone here could run the tests I make that would be great, because I can't.

[2019-02-09 17:43] moT01 commented on #17673
Thanks for opening this PR @digilou - I'm not exactly sure where these problems were all occurring for you, but after navigating much of the website, I cannot find anywhere the text "squishes together" like you described. Perhaps it has all been resolved, or perhaps I couldn't find it. I believe this is no longer a problem, so I will close this issue for now. If you think I'm wrong feel free to re

[2019-02-09 17:57] moT01 opened #35116 "Zooming out with safari cuts off content in lessons"
When zooming out in safari, the content gets cut off when doing challenges.

**Initial load of challenge:**
<img width="1055" alt="screen shot 2019-02-09 at 11 53 44 am" src="https://user-images.githubusercontent.com/20648924/52524338-7ea98700-2c61-11e9-8ad2-6371cac2cfe1.png">

**After zooming out:**
<img width="1031" alt="screen shot 2019-02-09 at 11 54 10 am" src="https://user-images.githubuserc

[2019-02-09 18:05] lucassorenson commented on #35089
I specifically remember being confused by '.test()' because FCC just threw it in there without an explanation, so I think @co16353sidak 's concerns are valid.

[2019-02-09 18:08] moT01 commented on #35102
Side note (perhaps a separate issue): the footer on the `news` page is difficult to get to due to the loading of content on a scroll down. So you have to keep scrolling and keep loading content until there's no more to load to reach the footer.

[2019-02-09 18:10] QuincyLarson commented on #35081
Sure - we could definitely implement these to the right of the carets. Would you be interested in doing this?

I don't think it's so long that it necessitates a tabbed approach. If anything we could have a "Jump to certifications" button at the top.

My philosophy has been - instead of adding more complicated interfaces, simplify the amount of elements you have to begin with. We may be able to pai

[2019-02-09 18:10] #35081 closed

[2019-02-09 18:11] RandellDawson commented on #35116
@moT01 Did you check if the same thing happens locally using the latest `master` branch?

[2019-02-09 18:13] QuincyLarson commented on #14234
@Flarp No worries - if you can make your changes and push your edits, one of us can QA them locally. I know it's tough to fly blind like that, so my hats off to you. Best of luck with it and thanks for keeping us posted!

[2019-02-09 18:17] moT01 commented on #35116
no

[2019-02-09 18:35] TomerPacific opened #35117 "Introduction to the Data Visualization Projects Contains Stub"
**Describe your problem and how to reproduce it:**
In the page, Introduction to the Data Visualization Projects, instead of a description about the projects the user will need to do, the user sees this:
"This introduction is a stub. Help us make it real on GitHub."

There should be a description, like in [Introduction to the JavaScript Algorithms and Data Structures Projects](https://learn.freecod

[2019-02-09 18:50] moT01 commented on #17461
Thanks you for reporting this issue @Shidigital, these are some good suggestions. I am closing this for now since it does not cover specific issue. If any of these problems are still a concern you can open a new issue for each of them. Thanks and happy coding!

[2019-02-09 18:50] #17461 closed

[2019-02-09 18:53] Nirajn2311 commented on #35102
I'll give it a try.

[2019-02-09 18:55] moT01 commented on #34733
Thanks for reporting this suggestion @WillzMu - however, this appears to be a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/17509 - make sure to do a search before creating a new issue to see if someone else already created something related. You may have done that, sometimes they're tough to find.  Thanks and happy coding!

[2019-02-09 18:55] #34733 closed

[2019-02-09 19:08] moT01 commented on #18010
Fixed

[2019-02-09 19:08] #18010 closed

[2019-02-09 19:24] tomasvn commented on #16445
@QuincyLarson No luck, running it locally

[2019-02-09 20:28] aditijoshi14 commented on #18007
@RandellDawson Thank you so much for asking. I am making some progress but I will definitely let you know if I get stuck.

[2019-02-09 20:36] Nirajn2311 commented on #16445
@tomasvn what issues did you come across when setting up locally

[2019-02-09 21:02] hilliarj opened #35120 "Coding Challenge getting blocked by padding on Safari"
**Describe your problem and how to reproduce it:**
Launching any challenge on the curriculum on Safari causes this issue. It may be specific to Safari or just specific versions. Also does not matter if it is in day/night mode.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/responsive-web-design/basic-css/change-the-color-of-text
(Could be any challenge)

**Tell us abo

[2019-02-09 21:03] hilliarj commented on #35120
[Could be similar to this issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/35116)

[2019-02-09 21:11] hilliarj commented on #17267
@kanpeki Are you still working on this? I would like to try to see if I could fix this as well.

[2019-02-09 22:15] icatat commented on #35114
I would like to help with this issue.

[2019-02-09 22:21] RandellDawson commented on #35120
@hilliarj Have you tried adjusting your Zoom level?

[2019-02-09 23:21] icatat commented on #18180
I checked out  the survey. The problem in the description of the issue adds up to 100%, so that one looks fine.

![image](https://user-images.githubusercontent.com/16485007/52527498-49b82700-2c97-11e9-8988-dd4d16f646c6.png)

However, there are a few others that do not add up to 100%, but they add up to 99% or 101%. I screen-shoted them below:

![image](https://user-images.githubusercontent.com/164

[2019-02-10 02:53] digilou commented on #35106
I'm not working on it @tspeed90.

The weird thing is that I don't think that section had wide titles, However, I'd wrap them, if there were.

[2019-02-10 02:58] digilou commented on #17673
I guess I was thinking that sections should stack after a certain width happened? But that was a while ago since I reported this, and I haven't spent a lot of time here recently. If I encounter another issue, I'll open this again. Thanks!

<img width="616" alt="Functional Programming Lesson in a narrow width window with text squished." src="https://user-images.githubusercontent.com/8865558/5252882

[2019-02-10 05:25] vineshSwargam commented on #34901
Hi @RandellDawson,
If adding the value attribute in our challenge example is fine, can I have a go at it?
Would be my first OS project.

[2019-02-10 05:31] RandellDawson commented on #34901
Let's see if there are some other collaborators who have an opinion on this.

[2019-02-10 05:36] co16353sidak commented on #34901
@RandellDawson

Would it be viable if we create a separate challenge towards adding a value attribute and mentioning its significance, implementing the value attribute in another challenge won't serve as a proper justification towards its use.
Other than that, adding the value attribute to examples would then mean editing all form examples in many challenges. that too doesn't seem too viable.

[2019-02-10 05:41] co16353sidak commented on #35089
On checking through some stack overflow, i have observed that `test()` method will return a boolean true or false on whether a regex matches a string or not, whereas a `match()` method will return the matching strings or a `null`.
So it would be worthwhile to add a note to explain the use of test in contrast to match in this particular challenge.

@raisedadead any thoughts ?

[2019-02-10 09:20] Nirajn2311 commented on #35102
@QuincyLarson I have fixed the first two issues but couldn't quite reproduce the third one either in Chrome or Firefox(In Windows 10).

**cc** - @ahmadabdolsaheb @moT01

![screenshot 38](https://user-images.githubusercontent.com/36357875/52531939-7ff8b380-2d36-11e9-801a-3e7e4b25d3db.png)

[2019-02-10 11:52] Nirajn2311 opened #35124 "3 Digit numbers in number of challenges in sub topics are pushed to next line"
**Describe the bug**
When you open a dropdown for any of the certificate, if the subtopic has 3 digit number of challenges it gets pushed to the next line. I think that it would be better if kept in same line.

**Screenshots**
![screenshot 39](https://user-images.githubusercontent.com/36357875/52533252-9577d880-2d4a-11e9-8db6-e72131114c47.png)

![screenshot 40](https://user-images.githubuserconten

[2019-02-10 15:10] moT01 commented on #17673
Ahh, I see what you're saying now - the components or frames or whatever don't stack like you would expect on a phone or other small screen... for some reason, I was looking for text that squished together. This definitely makes for a bad experience.

[2019-02-10 17:19] RandellDawson commented on #18307
There is still work pending on this. When you make a PR for this particular issue, do not tag it with `Closes #XXXXX` instead just reference it with `#XXXXX`

[2019-02-10 18:21] Alex-Cannon commented on #16390
Figured out how to add new challenges, new challenge blocks/super blocks, and new challenge types. Below is a pic of the start of the a new git challenge page. 👍

![](https://github.com/Alex-Cannon/freeCodeCamp/blob/master/update.jpeg?raw=true)

My plan is to add the editor, display, etc. so users can finish one challenge, using [Learn Git Branching](https://github.com/pcottle/learnGitBranching) a

[2019-02-10 19:33] RandellDawson commented on #34832
@Nitin96Bisht This has been fixed and is awaiting a deployment to production.

[2019-02-10 19:38] RandellDawson commented on #17850
@Bouncey @raisedadead Is this something that we are interested in pursuing?

[2019-02-10 20:03] #17495 closed

[2019-02-10 21:31] RandellDawson commented on #17495
@juandesouza @camachado Can you validate this is no longer an issue?

[2019-02-11 03:56] ronaldcs commented on #35116
@RandellDawson @moT01 Tested locally using latest `master` and the issue is **not** happening; when I go to prod, however, the issue exists.

[2019-02-11 04:26] RandellDawson commented on #35116
@ronaldcs Are you using Safari for your testing?

@moT01 Can you please check if you see the same problem when running the latest version of the `master` branch locally?  If it is not present in the local testing, then you should be able to close this issue.

[2019-02-11 04:29] ronaldcs commented on #35106
From my understanding, this seems to be working as intended. Based on the CSS, the width will expand based on the content, up to 960px - https://github.com/freeCodeCamp/freeCodeCamp/blob/9b75c1965a2f624388584b407ed749b7cc4a98cc/client/src/pages/learn.css#L6 - which is the reason why it's shifting like that. You'd probably want to get @QuincyLarson's feedback on this.

[2019-02-11 05:11] ronaldcs commented on #35070
Just validated this and the product of a, b, c should be 49,920 where n = 120.

[2019-02-11 05:16] ronaldcs commented on #35116
@RandellDawson Yes, I was on Safari 12.0.3 on Mojave.

[2019-02-11 05:42] moT01 commented on #35116
It does the same thing while running locally on the latest master

[2019-02-11 06:23] RandellDawson commented on #35116
OK that is interesting.  Two people using the same version of Safari have two different experiences when testing locally?

[2019-02-11 06:25] cindydhy opened #35141 "Typo with print(): Should be printf() instead of print()"
**Describe your problem and how to reproduce it:**
In the Hello World example in guide, there is a typo when explaining the stdio library. Instead of print(), it should be printf().

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/c/hello-world/index.md

**Tell us about your browser and operating system:**
* Browser Name: Google C

[2019-02-11 07:19] co16353sidak commented on #35117
Originally there was no need to describe the projects under this category as any user reaching here would already have experience in building freeCodeCamp projects
You are free to open a PR to suggest additions.

[2019-02-11 07:21] cartagenae commented on #34901
I don't understand what the problem is. I ran the code here just fine on the webpage. The labels and the radio buttons displayed properly on the view (web page) and embedded within the form tags.

    <label for="indoor">
      <input id="indoor" type="radio" name="indoor-outdoor" /> Indoor
    </label>
    <label for="outdoor">
      <input id="outdoor" type="radio" name="indoor-outdoor" /> Outdo

[2019-02-11 07:29] co16353sidak commented on #34901
@cartagenae There is as such no problem with the challenge but the use of value attribute is being discussed here

[2019-02-11 08:45] ahmadabdolsaheb commented on #35102
@QuincyLarson @Nirajn2311 There is a UX trade off for doing that for implementing the third one.

In order for the footer to go under the tallest element, both elements should have the height of 100% (no-scroll). In that case, when user clicks on a side nav that is taller than the content, the page should either go to the top to show the top of the content (loses the location of the scroll), or ke

[2019-02-11 09:22] PongtheGreat commented on #34775
@RandellDawson Chrome's minimum font size is 6px.

[2019-02-11 09:24] borisyordanov commented on #16445
@tomasvn Please read this - https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md

[2019-02-11 11:24] raisedadead commented on #35102
Hi @QuincyLarson

I agree with @ahmadabdolsaheb

I think the key here is to use the site as an end user, and then decide on the tradeoff. I agree that the current sidebar is far better UX for the user, who are more likely browsing through an article and have it in view rather than have them scroll a long way to switch to the next topic of their interest.

That will definitely increase a session ti

[2019-02-11 11:46] raisedadead commented on #17850
I'll defer to @QuincyLarson

[2019-02-11 11:49] raisedadead commented on #17673
This has been addressed in our upcoming release. It might be a while before you can see it on the main site.

[2019-02-11 12:23] Nirajn2311 commented on #35028
@ahmadabdolsaheb Strange, I could reproduce this only in Chrome(v72.0.3626.96).

[2019-02-11 12:42] ahmadabdolsaheb commented on #35028
@Nirajn2311 it might be a webkit specific styling. I wonder if you could track down that dash in the devtools by selecting the that element and moving up and down the dom tree and checking out the styles at the same time. That might be helpful :/

[2019-02-11 17:55] ahmadabdolsaheb commented on #35103
only the width of the suggestions list should be adjusted.

[2019-02-11 18:01] lucassorenson opened #35148 "Missing hints in React challenges"
**Describe your problem and how to reproduce it:**

At least one of the challenges for React (Use the Lifecycle Method componentWillMount) has a link to an empty guide stub, when there is a guide article in the freeCodeCamp files. Clicking "Get a hint" takes you to an empty page, when it should take you to the relevant hint.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.

[2019-02-11 18:36] organicdude opened #35150 "Differentiating New User Login's"
Hi there,

FCC has earned a Google Grant to promote FCC on Google ads.

To make sure our ads are being effective in getting new campers to sign up, we need to differentiate between 2 types of sign in's:

1. New campers, who just signed up.
2. Returning campers, who already signed up previously.

I believe the easiest way to track a new camper signing up in Google Ads/Analytics is with a GET parame

[2019-02-11 19:49] ronaldcs commented on #35116
Correct, I used the ⌘ key and the - and + to zoom in/out and ⌘ 0 (command-zero) to zoom back to normal. For local, the UI kept the same size as the viewport when zooming in/out, but with prod, the UI would get cut off when zooming out, as described in this issue.

[2019-02-11 19:57] hilliarj commented on #35120
Yes. Changing the zoom level makes it stop. Should I close this issue since it is essentially the same as #35116?

[2019-02-11 20:23] moT01 opened #35155 "[beta] some "get a hint" links still broken"
Some of the "get a hint" links are still not working in beta. It seems to be ones that had possibly been previously fixed by renaming the guide folder.

Here's a list of challenges with broken hint links...
**node:**
https://www.freecodecamp.rocks/learn/apis-and-microservices/managing-packages-with-npm/how-to-use-package.json-the-core-of-any-node.js-project-or-npm-package
**D3:**
https://www.freec

[2019-02-11 20:25] moT01 commented on #29554
I have created an issue to consolidate all of the broken "get a hint" links https://github.com/freeCodeCamp/freeCodeCamp/issues/35155

[2019-02-11 20:26] moT01 commented on #34782
I have created an issue to consolidate all of the broken "get a hint" link issues https://github.com/freeCodeCamp/freeCodeCamp/issues/35155

[2019-02-11 20:27] moT01 commented on #34832
I have created an issue to consolidate all of the broken "get a hint" link issues https://github.com/freeCodeCamp/freeCodeCamp/issues/35155

[2019-02-11 20:27] moT01 commented on #35112
I have created an issue to consolidate all of the broken "get a hint" link issues https://github.com/freeCodeCamp/freeCodeCamp/issues/35155

[2019-02-11 20:31] RandellDawson commented on #35120
If it is the same as the earlier issue, then please close this one.

[2019-02-11 20:36] #35120 closed

[2019-02-11 20:39] RandellDawson commented on #35155
@moT01 There is no reason to rename those files (the .  They should work, but you can not use Windows to test it locally, because it sees the dots and tries to serve as file.  @ValeraS fixed this issue in another PR.   I will let @ValeraS shed more light on this issue.

[2019-02-11 20:39] moT01 commented on #35148
Thank you for reporting this issue.
This is a standard message notifying you that the problem you mentioned here is present in production, but that it has already been fixed. This means that the next time we push our master branch to production, this problem should be fixed. Because of this, I’m closing this issue.
If you think I’m wrong in closing this issue, please reopen it and add further clar

[2019-02-11 20:55] RandellDawson commented on #35148
@moT01 I believe we have been adding a new label instead of closing these, so that people know that it is fixed and when searching for open issues, they can find the open issue when searching.

[2019-02-11 20:56] moT01 commented on #35155
Quincy mentioned that as a fix on one of those issues, another one has an open PR with that as a fix, and [this one](https://github.com/freeCodeCamp/freeCodeCamp/issues/18010) merged a fix like that. That's why I thought to go that route. So, I suppose, you just redirect to the current URL instead of changing the names. Yea, that's probably a lot easier. It might make some of the links where the f

[2019-02-11 20:57] lucassorenson commented on #35148
Thank you for the clarification. I'm new here and not sure how this all works. Please let me know if anything else about the issue was done incorrectly so I can participate more effectively.

[2019-02-11 21:37] icatat commented on #19346
Hi! @QuincyLarson My friends @addv12345 are still potentially interested in this issue. However, we are new to this project. Would it still be worth investigating this particular problem?

[2019-02-11 21:42] TomerPacific commented on #35117
@co16353sidak ,
I went over the repository looking for a file for this page or a similar one for a different projects page, but could not find one. I looked under curriculum/challenges/english/04-data-visualization/data-visualization-projects. Is there a need to create one in that directory?

[2019-02-12 01:16] moT01 commented on #17437
There is a message there showing the test didn't pass. I'm not sure what more you are expecting, but I don't think this is an issue, so I am going to close it for now. If you think it's still a problem feel free to reopen it and add further details. Thanks and happy coding!

[2019-02-12 01:16] #17437 closed

[2019-02-12 01:41] moT01 commented on #17420
Perhaps the instructions aren't clear. You are supposed to `Change the value of --penguin-belly to white in the penguin class.`
like this...
[code]
Since the original issue here has been fixed, I am going to close this. Feel free to create a new issue if either of you think the instructions need to be reworded. Thanks!

[2019-02-12 01:41] #17420 closed

[2019-02-12 01:48] moT01 commented on #17411
Is this still a problem @cj-sv?

[2019-02-12 02:28] #17617 closed

[2019-02-12 03:08] aravindvnair99 opened #35158 "Minor enhancements"
- Images could be optimised with lossless compression
- Spelling mistake

Will make a pull request for the same to indicate the changes.

[2019-02-12 06:52] raisedadead commented on #19346
Yes, sure. We are interested in fixing this. However, as I said before this needs extensive testing and the solution has to be elegant enough to play well with our current schema. We have put up all the pointers in the previous comments.

Please feel free to dig in, and let us know if you need additional information on working thru this.

Thanks.

[2019-02-12 06:56] ahmadabdolsaheb opened #35160 "Matching the styles of production and master"
**Describe the bug**
There are several style related issues that needs to be fixed:

- [x] The fonts on production and master do not match.
- [x] The underline text decoration on links and the buttons should go away.
- [ ] The button sizes are different on production and master.
- [ ] The font size and weights are different on production and master

[2019-02-12 08:26] #34768 closed

[2019-02-12 08:27] ahmadabdolsaheb commented on #35160
@mrughesh, could you give me an example of different button sizes? I could not reproduce the issue.

[2019-02-12 11:24] charisTheo commented on #17558
I tried to clone the Github Repo and when I put the package.json file url in the solution I get:

[code]

[2019-02-12 12:17] ColorizeMySky commented on #18128
Have the same problem: the date of Full Stack Certificate is always a current date.
https://www.freecodecamp.org/certification/colorizemysky/full-stack

[2019-02-12 12:20] cj-sv commented on #17411
Yep, still present.

Tested on Manjaro,  Firefox Nightly 67.0a1 and Firefox 65.0 in safe mode and on different profiles.

[2019-02-12 14:27] icatat commented on #19346
Sounds good! We were looking into it earlier. The issue we ran into was that we could not find a way to test the code or access a user's public profile (or a mock user's profile - not sure how that part is structured yet). Can you please point us in the right direction?

[2019-02-12 15:08] americanSammy opened #35163 "Repetitive Link"
**Describe your problem and how to reproduce it:**
If you click "Contact" on the nabar, it duplicates the current page in the smaller window.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/lock-an-element-to-the-browser-window-with-fixed-positioning/

**Tell us about your browser and operating system:**
* Browser Name: Googl

[2019-02-12 16:18] co16353sidak commented on #35163
Was able to replicate this.

@americanSammy
This is the navbar that is being designed by you in the challenge and the href given to it must be the link to the whole current page, so when we click on the page, it then open's up the page inside the preview window where we see the page being designed.

I don't think it was a problem to begin with.

[2019-02-12 17:21] QuincyLarson commented on #35150
@organicdude Thanks for creating this issue.

@raisedadead You know the most about our authentication flows. How would we best track new signups VS returning users for the purpose of analytics? This is for us to improve our Google Ads (the ones Google gives us for free as a nonprofit).

[2019-02-12 17:27] #35158 closed

[2019-02-12 17:43] #18125 closed

[2019-02-12 17:51] QuincyLarson commented on #35102
@ahmadabdolsaheb @raisedadead

That is fine. People will scroll. I think you all are dramatically overestimating the inconvenience of scrolling. On mobile, this will all be a single column layout anyway.

This is what people thought was the optimal solution back in the 1990s. In practice, it's confusing to users. Users would much rather scroll up and down a page then have to move their mouse aroun

[2019-02-12 18:09] co16353sidak commented on #35117
Please check this out @TomerPacific

https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/pages/learn/data-visualization/data-visualization-projects/index.md

this page will be a part of client render as it doesn't contain any curriculum related content this remains in this directory.
although I think someone has already changed the contents for it to be more descriptive.
there will

[2019-02-12 18:23] raisedadead commented on #35102
**I strongly recommend testing the app as user would to derive the best UX for our app's use case.**

For the Guide, I think the tallest element principle does not work in practice, you can test that locally yourself, it's just weird to scroll through whitespace vs content.

People will scroll through content, not whitespace?

For Learn I had given my feedback in a comment here: https://github.com

[2019-02-12 18:29] ahmadabdolsaheb commented on #35102
@QuincyLarson @raisedadead @ValeraS.
I will make a MVP and have you test it ASAP.

[2019-02-12 18:52] ahmadabdolsaheb commented on #35102
Please let me know if you wanna move forward with this design, and if you want the user to go to the top of the page after clicking the side nav or not so I could adjust it accordingly.

[2019-02-12 18:56] ahmadabdolsaheb commented on #35103
@QuincyLarson Would you still like the suggestions box to be the same size as the search bar in smaller screens?

[2019-02-12 19:15] raisedadead commented on #19346
Sure.

Once you setup freeCodeCamp locally, you should have already seeded (a.k.a populated) the database  using the guide.

The current way of reaching the user profile page is bit tedious (because we have Gatsby's dev server taking over in local development).

Here is what you should do:

<img src='https://user-images.githubusercontent.com/1884376/52650951-48922e80-2f11-11e9-9eee-360a25ad28ad.gi

[2019-02-12 19:16] TomerPacific commented on #35117
@co16353sidak ,
yeah it seems like there isn't one required. I am going to close this issue by tomorrow.

[2019-02-12 19:20] #35117 closed

[2019-02-12 21:32] #35088 closed

[2019-02-12 21:49] moT01 commented on #35163
I found about 50 challenges with an issue like this. A few of them are simple anchor tags with an empty `href`, where adding `#` in the `href` would fix it. But most of them have a form in the challenge like [this one](https://learn.freecodecamp.org/responsive-web-design/basic-css/change-the-color-of-text). My idea for a fix was to put `javascript:void(0)` as the form action for all of them. This

[2019-02-12 22:39] hvaandres commented on #34699
Can I have an update on this issue?

[2019-02-12 23:25] CandiW commented on #17450
Is anyone working on fixing this api for the Camper Leaderboard?

[2019-02-12 23:58] Em-Ant commented on #17450
If there is no better solution we can bypass the cors issue building a proxy on glitch (I am quite expert on this...) I can scope the request to only allowed me and methods and enpoints if necessary. It should be quite easy to build. Let me know if you want me to do it.

[2019-02-13 03:05] QuincyLarson opened #35176 "Remove reference to "backspace" regex in example"
**Add a Link to the page with the problem:**

On this challenge: https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/escape-sequences-in-strings/

Currently we use the word "backspace" to describe the \b expression. While this may be literally what it's called, it's unnecessarily confusing. \b is generally used to indicate the "boundary between words".

Rather

[2019-02-13 04:33] co16353sidak commented on #35176
Would love to work on this @QuincyLarson, is it possible to create a PR

[2019-02-13 06:31] ValeraS commented on #35163
@moT01 IMO, we can handle it on preview engine level, no need to change challenges.

[2019-02-13 07:59] Hiyorimi commented on #35114
I think that using function is a great idea. It is only text of the exercise, not giving  clear explanation, why is it used like this, that might need improving.

[2019-02-13 09:25] mohit122 commented on #13049
// example crowd gathering
let crowd = 'P1P2P3P4P5P6CCCP7P8P9';

let reCriminals = /C+/ // Change this line

let matchedCriminals = crowd.match(reCriminals)
console.log(matchedCriminals)

[2019-02-13 09:43] lipis opened #35185 "Normalize company/product names"
- [x] `Github` -> `GitHub` #34971
- [x] `Linkedin` -> `LinkedIn` #34972
- [x] `Javascript` -> `JavaScript` #35183
- [x] `Typescript` -> `TypeScript` #35203 #35204 #35205 #35206
- [x] `Jquery`, `JQuery` -> `jQuery` #35184
- [ ] `ReactJS`, `React JS` -> `React`
- [ ] `Angular JS`, `AngularJS` -> `Angular`
- [ ] `Wordpress` -> `WordPress`
- [ ] `NodeJS`, `NodeJs`, `Node.JS`, `Node JS`, `Node Js` -> `

[2019-02-13 10:44] QuincyLarson commented on #16390
@Alex-Cannon Awesome. Congrats on getting that together so far. I recommend "faking it" at first, and just writing the lessons followed by the commands that people have to type (these could be regex tests).

This way we get the 80% of the value (teaching people important git commands) with 20% of the work (actually creating an environment where they can stage and unstage files, etc. would be aweso

[2019-02-13 10:50] QuincyLarson commented on #17850
@JonDevOps The main thing we want to do is link to the old projects associated with the legacy certifications. Once we overhaul the settings page, it will be easier to link to those projects.

I enjoyed using the old map, too, but I think we should keep looking forward. We should improve the new map rather than trying to create a "classic mode" or something like that (it would be fun but difficult

[2019-02-13 10:50] #17850 closed

[2019-02-13 10:54] QuincyLarson commented on #35106
@digilou Thanks for spotting this and creating the issue! I've reproduced this and agree - we should fix this.

@ronaldcs Yes - that line is probably the guilty line, but it's not intentional. We should find a better way of implementing this to prevent the widening from happening. This could be an HTML element that's outside of a certain div, or perhaps an off-by-one array problem (since it only a

[2019-02-13 14:10] ahmadabdolsaheb opened #35190 "the backed project pages have a double hr tag and buttons need resizing"
The conditional rendering in the challenge description for the backend projects renders an empty section although there is no instructions in the markdown file resulting in a double hr.

additionally the buttons are almost as wide as the screen that need to be smaller.

**Screenshots**
![image](https://user-images.githubusercontent.com/4591597/52716460-dfadc380-2faf-11e9-9a3f-eb2d99f8bcb6.png)

If

[2019-02-13 15:04] RandellDawson commented on #35190
This issue is present on many challenges actually, but I have noticed a lot of the time, that it is simply a matter that the instructions have not been separated from the description section.

[2019-02-13 15:26] moT01 commented on #35106
This seems to happen in any section that has a challenge with a long title.... applied visual design, applied accessibility, flexbox... there's many others.

[2019-02-13 16:09] ayushshah2120 commented on #17822
No Heat On My Profile's Heat Map
https://www.freecodecamp.org/shahayush
I Solved 21Challenges on 30th of January 2019 but there is no heat on heat map.

![image](https://user-images.githubusercontent.com/40225091/52725585-88bbe480-2fd7-11e9-95c1-5ac78c58f1f8.png)

[2019-02-13 16:16] RandellDawson commented on #17822
@raisedadead Any thoughts on this?

[2019-02-13 17:26] RandellDawson commented on #35185
Before you create a PR to change ReactJS or React JS to React, let's get some consensus with some collaborators first.

[2019-02-13 18:03] lipis commented on #35185
That's why I opened that issue.. not touching the ones that are in doubt.. or needs to be addressed.

[2019-02-13 18:10] RandellDawson commented on #35114
FYI - There is a pull request (https://github.com/freeCodeCamp/freeCodeCamp/pull/34538) which remove the function wrapper.

To other moderators: Once it has been merged, the label `status: resolved \ shipping` should be added until it has been moved to production.  Once in production, this issue can be closed.

[2019-02-13 18:42] Bouncey opened #35194 "getUserInput is not defined in test-evaluator"
**Describe the bug**

`getUserInput` is not defined in `test-evaluator`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [write-concise-declarative-functions-with-es6](https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/es6/write-concise-declarative-functions-with-es6 )
2. Click on Run Tests
3. Open console
4. See error

**Expected behavior**
The test suite  s

[2019-02-13 18:50] ValeraS commented on #35194
@Bouncey It's here
https://github.com/freeCodeCamp/freeCodeCamp/blob/0dc0edcded1dd6aa2c57cc408b57ea0064e607a6/client/src/client/workers/test-evaluator.js#L36

[2019-02-13 19:05] Alex-Cannon commented on #16390
As @RandellDawson and @ahmadabdolsaheb suggested, I created two quick wire frames (with the help of @cmccormack). I am in favor of wire frame B. Let me know what you all think. For now, I will move on with the functionality of this feature.

[Wire frame A](https://drive.google.com/open?id=1T3JTy0JqGStBM3ZVNO00sygVqOFxdsxz)
[Wire frame B](https://drive.google.com/open?id=1FUc51ce8ZJoDlzpoHx1AWm-ugr

[2019-02-13 19:29] ahmadabdolsaheb commented on #35190
@raisedadead probaby I fit two issues at once, please review and let me know.

[2019-02-13 19:32] ahmadabdolsaheb commented on #35190
@RandellDawson so challenge description used to check if is null or and empty string. however in the markdown the instruction is set as an empty section tag that causes the challenge description to render it and wrap it in two hr tags.

[2019-02-13 21:08] crossjames934 commented on #34407
Is this being addressed? I too would be happy to help fix it but sounds like alexch has already got the solution.

[2019-02-13 21:44] RandellDawson commented on #34407
@crossjames934 See @scissorsneedfoodtoo's comment above.  Whenever you see the label `status: resolved \ shipping`, it means it has been fixed, but not released to production.

[2019-02-13 22:01] #35194 closed

[2019-02-14 01:05] samuel-2018 opened #35196 ""Basic Data Structures: Iterate Through the Keys of an Object with a for...in Statement": missing dot in example code"
"Example 2" is missing a dot after "[user]":

[code]

https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-data-structures/-iterate-through-the-keys-of-an-object-with-a-for...in-statement

![image](https://user-images.githubusercontent.com/45561451/52754993-6a032100-2fca-11e9-9d33-55bb1073a9f7.png)

[2019-02-14 01:58] RandellDawson commented on #35196
@samuel-2018 I created a pull request which will fix it in all the languages.  Thank you for reporting this issue.  Once it is merged, we marked it here.

[2019-02-14 02:55] QuincyLarson commented on #35176
@co16353sidak Sure it's all yours 👍

Please keep us posted on your progress, and let us know if you have any questions. (Join gitter.im/freecodecamp/contributors if you haven't yet - a great place to get help)

[2019-02-14 02:56] QuincyLarson commented on #17450
@Em-Ant Yes - that sounds like a nice work-around.

Please keep us posted and let us know if we can do anything to help.

[2019-02-14 02:59] QuincyLarson commented on #34699
@hvaandres I don't know whether @raisedadead has had time to look at this yet.

If your account is personally affected by this and you aren't able to get into it, please email team@freecodecamp.org and I can fix this for you in the database.

[2019-02-14 03:06] QuincyLarson commented on #35103
@ahmadabdolsaheb Based on my testing, I think the right UX would be for when the display is narrow enough, the search result suggestion box should be the full width of the screen. This may be "xs" or "sm" in Bootstrap.

[2019-02-14 03:08] moT01 commented on #35141
There's no need to create issues for the guide articles at the moment, as @RandellDawson described on your PR - so I will close it. There's plenty of things that can improved like this in the guide articles and elsewhere if you're feeling ambitious - thanks!

[2019-02-14 03:08] #35141 closed

[2019-02-14 03:12] QuincyLarson commented on #35102
@raisedadead Please take a look at this document: https://uxmyths.com/post/654047943/myth-people-dont-scroll

Also consider this: very few people are actively looking for the footer. And if they are, they're just going to swipe down really fast and get there immediately, regardless of how tall the page is.

The main purpose of the footer is SEO and for the 0.001% of people who are actively looking

[2019-02-14 06:10] QuincyLarson commented on #35102
@raisedadead @ahmadabdolsaheb A good example of how to handle a documentation page with expandable side menu items, and a footer, without extra scrolling is the MDN: https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML

When you expand the menu items on the left, the footer just gets pushed further down the page.

[2019-02-14 06:27] ValeraS commented on #35102
@QuincyLarson with these changes, this issue will back https://github.com/freeCodeCamp/freeCodeCamp/issues/34285#issuecomment-455045048
Or am I missing something?

[2019-02-14 06:34] raisedadead commented on #35185
IMHO we should always, refer what the brand guidelines or styling is used on their official docs, website etc. is used.

Example: https://reactjs.org/ -> React

This removed all ambiguity.

[2019-02-14 06:38] ahmadabdolsaheb commented on #35102
@ValeraS, so I think @QuincyLarson wants the page scroll to go to zero only when a node with no children is clicked on the side nav. I cannot think of a way that I could implemented it without recording and resetting the scroll with JS, so if anything comes to your mind, let me know.

[2019-02-14 06:39] aravindvnair99 commented on #35185
@raisedadead Shall I change all spellings to "React" from other variations as suggested by @lipis and submit in individual PRs with fewer number of files changed so that not many files are changed at a time so as to make merging easy?

[2019-02-14 06:40] ValeraS commented on #35102
@QuincyLarson Nodes with children also have articles.

[2019-02-14 06:44] raisedadead commented on #35185
Yes please. But you should wait for confirmation from @lipis in case they have already started work on it.

[2019-02-14 06:47] RandellDawson commented on #35185
@aravindvnair99 Definitely wait until @lipis responds, because we don't want to have two PRs with duplicates on them.  Maybe, the two of you can split the work by each taking a different set of languages.  Just communicate with each other to make sure you are both using the same technique to find them all.

[2019-02-14 06:47] aravindvnair99 commented on #35185
@lipis @RandellDawson @raisedadead WordPress is the right spelling and as per the guidelines mentioned [here](https://codex.wordpress.org/Codex:Guidelines), it should be spelled using proper case.

Meta rules 1 as given on WordPress website for both .com and .org:

[2019-02-14 06:49] aravindvnair99 commented on #35185
@RandellDawson @raisedadead Yes, I'll await a response from @lipis . Would love to help! Thanks for responding. :)

[2019-02-14 06:53] co16353sidak commented on #35176
@QuincyLarson made all the changes discussed, please review. 👍

[2019-02-14 07:06] ahmadabdolsaheb commented on #35102
@ValeraS very good point, so we would be reverting to the bug, then.

 @QuincyLarson if the height of both elements are set to 100% our footer would be pushed down when an element is expanded; however, in the mozilla doc, Nodes with children do not have articles. So users can click on an end node on the side nav and then it page goes to the top. in our case, if a user wants to visit for example `W

[2019-02-14 07:11] aravindvnair99 commented on #35185
Roundup of what I could find regarding the naming guidelines:

1. Angular and AngularJS

AngularJS was the first version and all successive versions are Angular. So technically and theoretically, both are different. We could make changes only for Angularjs / AngularJs / AngularjS to AngularJS.

Reference links:

- [Stack Overflow](https://stackoverflow.com/questions/34114593/angularjs-vs-angular)

[2019-02-14 07:12] ValeraS commented on #35028
@Nirajn2311 Are you working on it? If needed, I can help.

[2019-02-14 07:13] scissorsneedfoodtoo commented on #34887
@QuincyLarson, sorry for the delay with this! Been flying a bit blind since I don't have a Retina screen device of my own. Ended up using some kiosk MacBooks and playing with the CSS in the browser. Could only test with Safari, but I suspect that this is caused by the search bar having an undefined height.

I'm just about to submit a PR, so could you and @ahmadabdolsaheb check it out when you can?

[2019-02-14 07:14] raisedadead commented on #35102
Hi @QuincyLarson

IMHO, and all honesty I really do not care about the footer. Meaning we are on the same page about its priority.

The idea is the best usability of the site itself.

I am not advocating that we should not make it so that people do not have to scroll.

All I am interested in is making the UX intuitive and not painful from a user's viewpoint. I completely agree on your well researc

[2019-02-14 07:23] RandellDawson commented on #35185
I think this one is going to be tricky, because it is going to be based on context.  It could be that an article was written concerning the latest version of Angular, but the author used Angularjs by mistake.  It would be wrong to automatically name it AngularJS, because it really should actually be Angular.  This means there is no easy regex you can write to replace these easily like React or Wor

[2019-02-14 07:31] raisedadead commented on #34699
I am waiting on getting this tested on the next release, where I believe this has been fixed. For a immediate resolution to your profile, I recommend reaching to the support email that Quincy has suggested in the previous comment.

[2019-02-14 07:42] raisedadead commented on #34476
@dgisser sure here [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors)

[2019-02-14 07:51] Nirajn2311 commented on #35028
@ValeraS Were you able to reproduce the issue?

[2019-02-14 07:54] ValeraS commented on #35028
@Nirajn2311 I can reproduce it when zooming page.

[2019-02-14 08:14] Nirajn2311 commented on #35102
Maybe for the challenges and guide page we could make a smaller footer similar to the one github uses.

[2019-02-14 08:23] Nirajn2311 commented on #35028
@ValeraS I couldn't figure out how to fix it, so you can start working on it.

[2019-02-14 09:26] shootermv commented on #17890
hi, im complete new to this repo, may be im missing something basic...
But can you please provide the details of reproduce the bug for newbies like me?
like:
1. clone this repo
2. run `npm i`
etc...

Thanks!

[2019-02-14 10:02] EladKarni commented on #35176
Hi! So I'm looking to hopefully contribute to my first repo, but it seems this issue is already taken care of. What issues can a newbie tackle?

[2019-02-14 10:04] EladKarni commented on #34614
Is this issue still available for a noob to take on?

[2019-02-14 10:04] raisedadead commented on #35102
![image](https://user-images.githubusercontent.com/1884376/52779335-edc21980-306d-11e9-9dda-26b2c779fc9e.png)

[2019-02-14 10:05] lipis commented on #35185
Hey guys, I haven't started anything from the ones that don't have PR number next to it.. so feel free to work on them! and maybe it's a good idea to edit the initial comment and write your name next to it, on who is working on what.

`React` and `WordPress` are easy, but for Angular I'm not sure what should we do. I'm also not familiar if there are courses for older versions of Angular, if not th

[2019-02-14 10:08] lipis commented on #35185
I also added another tricky one: `freeCodeCamp`.

<img width="488" alt="screenshot 2019-02-14 at 11 07 51" src="https://user-images.githubusercontent.com/125676/52779623-d3c21000-3048-11e9-9689-500c5c7a1289.png">

[2019-02-14 10:53] lipis commented on #35185
Added more: npm, Node.js

[2019-02-14 10:59] #35028 closed

[2019-02-14 11:01] #34887 closed

[2019-02-14 12:02] s-Hale commented on #35054
How many projects are submitted a day? A week?
Maybe all could be volunteer reviewed.
Or users could have to link a Codepen to their FCC account, proving they're the owner.

[2019-02-14 13:31] DzmitryUr commented on #34476
Currently the code is saved into `localStorage` after pressing 'Run the Tests' button. Probably it would be better to save the code into `localStorage` on change `textarea` event? That can save the data if the user does not press the button and closes the browser.
I do not see big advantage in saving code into DB on the fly. Probably it can be useful in some cases, but it causes a lot of requests

[2019-02-14 14:14] #34984 closed

[2019-02-14 14:14] #34985 closed

[2019-02-14 14:34] raisedadead commented on #35102
Re-opening. GitHub closed it automatically. This issue will be taken care of in repeated iterations.

[2019-02-14 14:37] #34962 closed

[2019-02-14 14:42] ahmadabdolsaheb commented on #35103
@QuincyLarson The PR is ready. here are some screenshots.

<img width="1552" alt="screen shot 2019-02-14 at 5 15 12 pm" src="https://user-images.githubusercontent.com/4591597/52793687-4b129680-307f-11e9-9793-bfc8b17956f2.png">
<img width="1552" alt="screen shot 2019-02-14 at 5 14 58 pm" src="https://user-images.githubusercontent.com/4591597/52793688-4bab2d00-307f-11e9-92f8-f60006e6a2b5.png">
<img

[2019-02-14 14:50] #35163 closed

[2019-02-14 15:06] RandellDawson commented on #35176
@EladKarni Though they may not all be for newbies, you can simply go to https://github.com/freeCodeCamp/freeCodeCamp/pulls and use the following filter to find issues where we could really use some help.

[code]

[2019-02-14 15:36] RandellDawson commented on #35185
@raisedadead How large do we want to let this one `issue` get?  There are probably hundreds of other product names which are not consistent throughout the guide and curriculum.  If we can narrow it down to the big hitters, then maybe a better approach here is instead of trying to fix all of these in replacement PRs, we have the `sweeper.js` and `Probot` add a special label `Possible Invalid Produc

[2019-02-14 15:42] RandellDawson commented on #35185
An example of a PR which involves a lot of prep reviewing before even getting to reviewing/merge of it is PR #35183.  @cmccormack and I have started the task of reviewing 104 earlier PRs which also make changes to the same files.  Making it even more complex is, some of the earlier PRs also have multiple PRs which will have to be reviewed first, because of similar replacement PRs.

[2019-02-14 16:05] aravindvnair99 commented on #35185
@lipis Cool. I'll take up WordPress then for now. We can take one at a time so as to progress in the most efficient way.

@RandellDawson @raisedadead I would suggest we send few files at a time in one pull request so as to not create serious merge conflicts or have too many open PRs. And these PRs could be merged faster as it's just few spelling changes as opposed to serious code changes.

So, how

[2019-02-14 16:23] RandellDawson commented on #35185
@aravindvnair99 Before creating the actual PR for each language for the WordPress, can you first report back how many files it will change for each language?

[2019-02-14 16:26] co16353sidak commented on #35176
@EladKarni also be on the lookout for the label `good first issue`, these also pop up from time to time.
😃

[2019-02-14 19:07] Bouncey opened #35213 "Modal header styling is incorrect"
The header of our modals have no background colour. They should have a background-color of `#006400`

![image](https://user-images.githubusercontent.com/18572518/52810854-7b603200-308b-11e9-8b11-6058398a056e.png)

[2019-02-14 19:25] RandellDawson commented on #35185
After speaking with @raisedadead, we have decided to put this issue on hold and only allow one more set of PRs (1 for each language) to address the cases where `Wordpress` should be changed to `WordPress`.

@aravindvnair99  There are 45 files which have `Wordpress`.  They are all Guide articles.  You have permission to go ahead and create the necessary PRs, but make sure you make them for each lan

[2019-02-14 19:41] chaomt commented on #35213
We could work on it! @Fordco

[2019-02-14 19:43] Fordco commented on #35213
Yeah, that'd be great if its alright.

[2019-02-14 19:48] Fordco commented on #35213
@Bouncey  Can you tell us where this occurs?

[2019-02-14 20:22] EladKarni commented on #35176
Okay, thanks guys!

[2019-02-14 20:47] Bouncey opened #36468 "Create NGINX mapping to handle subdomain links."
`https://learn.freecodecamp.org/<challenge>` should map to `https://www.freecodecamp.org/learn/<challenge>`

`https://guide.freecodecamp.org/<article>` should map to `https://www.freecodecamp.org/guide/<article>`

`https://sponsors.freecodecamp.org/<article>` should map to `https://www.freecodecamp.org/sponsors/<article>`

[2019-02-14 21:24] #13157 closed

[2019-02-14 23:13] RandellDawson commented on #18009
This appears to be a duplicate issue of #17814.  Please refer to that issue and let us know if you are still seeing this problem.

Thank you.

[2019-02-14 23:13] #18009 closed

[2019-02-14 23:17] RandellDawson commented on #18150
@Nirajn2311 I have tested this in the beta site and it appears to be resolved.  Let me know if you think this issue should still be left open.  If you find the beta site does not have this problem, but want to leave this issue open, please add the label `status: resolved \ shipping`.

Thank you.

[2019-02-14 23:27] RandellDawson commented on #29806
I am closing this issue, because it has already been reported on issue #18150.

[2019-02-14 23:27] #29806 closed

[2019-02-14 23:38] RandellDawson commented on #29311
@Bouncey I can confirm this is still an issue.  Should this be reported over at https://github.com/freeCodeCamp/search-assets/issues ?

[2019-02-14 23:53] lipis commented on #35185
@RandellDawson the idea of making the bot is pretty nice one and I guess not hard to make and we don't have to update all the changes before installing it, it can be done from now on for all upcoming results. The main reason is that if it's not automated we will have to do these changes once in a while to keep it consistent.

[2019-02-14 23:58] hvaandres commented on #34699
Thank you for this information!

[2019-02-15 00:05] RandellDawson commented on #35185
@lipis I agree.  The long term plan is to get the bot to do something like I proposed above.  The short term plan is to wait until we get down to below 500 open PRs and then do a mass update on some of these others.

[2019-02-15 00:42] Bouncey opened #35219 "Favicons are missing"
The current master does not have any favicons.

The likely culprit is my configuration of `gatsby-plugin-manifest`

https://github.com/freeCodeCamp/freeCodeCamp/blob/5f228f9b441d3664a60a6bb6106017d6bd156930/client/gatsby-config.js#L136-L149

[2019-02-15 06:15] raisedadead commented on #35185
I agree with @RandellDawson on this. While we are very interested in making things more consistent, it should not come at the cost of clogging things up. We should do this two steps:

- Automated linting as proposed in the bot/scripts/tests.
- Making large sweeps in PRs once we reach a manageable no of open PRs.

This way, everyone wins and we have lesser chore like work to do.

[2019-02-15 07:57] ahmadabdolsaheb commented on #35219
related: https://github.com/freeCodeCamp/search-assets/pull/9 .

[2019-02-15 08:41] #18150 closed

[2019-02-15 10:06] #35124 closed

[2019-02-15 10:14] nikrb commented on #34836
I have a [script](https://github.com/nikrb/change-var-to-const-let.git) that converts var defs to const, or let if reassigned.
[160 english md files](https://github.com/nikrb/change-var-to-const-let/blob/master/outlist.txt) are changed, though a number of directories are skipped for various reasons.
A dozen or so files have issues with client app and curriculum tests because of seed code and/or so

[2019-02-15 10:36] #35160 closed

[2019-02-15 11:48] thecodingaviator opened #35226 "Rocks: Buttons not redirecting properly"
**Describe the bug**
If on https://www.freecodecamp.rocks/ :
![image](https://user-images.githubusercontent.com/34807532/52854651-1701a900-3145-11e9-8fe3-bfab7badd4f0.png)

![image](https://user-images.githubusercontent.com/34807532/52854722-5af4ae00-3145-11e9-8b72-981abaaebf1e.png)

Any links after that lead to links on the main website

![image](https://user-images.githubusercontent.com/34807532

[2019-02-15 13:33] ahmadabdolsaheb commented on #35102
@QuincyLarson @raisedadead I believe the decision is to make the sidebar more concise so there would not be a need to scroll.

Although displaying the sibling nav items were discussed, I think it would be best to move forward with something similar to the following convention where only children and parent nodes are in the sidebar.
![navigation_interface_2x_8f059f7f-2e2f-4c86-8468-7402b7b3cfe0](ht

[2019-02-15 15:32] RandellDawson commented on #34836
I second this recommendation.  There are a couple of PRs we are going to wait on creating (mass find/replace) PRs which affect 100s of files, so we have decided to wait until we get below 500 open PRs to avoid other PRs stacking up behind them as we clear through eariler PRs to prevent mass chaining of merge conflicts.

I think it is a great idea and some of this logic could be added to the Probot

[2019-02-15 15:35] ayushshah2120 commented on #17822
any progress?

[2019-02-15 15:47] ayushshah2120 commented on #22031
Kind Of..
My Issue is same as this issue as well as #17822 one.

[2019-02-15 16:03] raisedadead commented on #35102
@ahmadabdolsaheb Yes, let's get a variation that you propose in, and test it out.

[2019-02-15 16:07] RandellDawson opened #35229 "Nav styling on freecodecamp.auth0.com does not match production or beta site"
While testing the beta site for something else, I noticed the styling for freecodecamp.auth0.com does not match for at least the nav bar at the top.

**freecodecamp.auth0.com**

![authsite](https://user-images.githubusercontent.com/5313213/52868545-856c4a00-30f8-11e9-82e5-94cc5942d09d.gif)

**Production**

![production](https://user-images.githubusercontent.com/5313213/52868523-77b6c480-30f8-11e9-

[2019-02-15 16:11] RandellDawson commented on #17822
@ayushshah2120 Currently we are in the middle of testing a beta site which will hopefully moved to production in the near future, so it could be a while before we have time to work on this issue.

[2019-02-15 17:40] moT01 opened #35232 "[beta] remove <hr>'s above footer?"
In my opinion, I don't like the hr's above the footer - specifically on the curriculum page, but it might look better without it all around. It just looks a little out of place or something to me.

<img width="1411" alt="screen shot 2019-02-15 at 10 36 43 am" src="https://user-images.githubusercontent.com/20648924/52874048-19004380-3116-11e9-84d2-f4ff24474a0a.png">
<img width="1389" alt="screen sh

[2019-02-15 17:43] ahmadabdolsaheb commented on #35232
I agree, the thing is, without it the lessons would look strange. it looks like the instructions fade into space. so the best way would be to add lower border to the challenges on learn and completely remove the hr tag.

[2019-02-15 17:55] Ronkiro commented on #35101
Hello @kdmino!

Do you have your cookies enabled?

Here's a little guide on how to check.
[Google - Turn cookies on or off](https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&hl=en)

[2019-02-15 21:25] ahmadabdolsaheb commented on #35232
There was a new addition to the lessons and all of the buttons are placed at the bottom of the view. So it would probably be safe to just remove the hr. But be wary of how it would look on the guide.

[2019-02-16 04:23] aravindvnair99 opened #35239 "Losslessly compress images"
The following images can be losslessly compressed and optimised.

Total -- 407.51kb -> 312.99kb (23.19%)

- /docs/images/github/comparing-forks-for-pull-request.png -- 177.61kb -> 128.57kb (27.61%)
- /docs/images/github/compare-pull-request-prompt.png -- 90.45kb -> 67.18kb (25.73%)
- /docs/images/mailhog/1.jpg -- 28.49kb -> 21.72kb (23.74%)
- /docs/images/mailhog/2.jpg -- 39.59kb -> 32.59kb (17.68

[2019-02-16 06:34] #35239 closed

[2019-02-16 06:49] ayoisaiah commented on #35102
I have a couple of suggestions on the footer:

- I feel the links are too cramped and need a little more padding between them
- Headings can be simplified
- There should be substantial space between the block of text on the left and the links

At the end, it could look somewhat like this:

![fcc-footer](https://user-images.githubusercontent.com/13372163/52895777-4228de80-31bf-11e9-96d8-31ae163d5a8

[2019-02-16 07:43] Bouncey opened #35242 "Reimplement the Danger Zone on the setting page"
The Danger Zone is missing on the settings page. It should be a clone of what we have in production.

[2019-02-16 08:08] raisedadead commented on #35226
I believe this is fixed? Can someone check and close. We did break this temporarily.

[2019-02-16 08:22] raisedadead commented on #35226
You may have to clear the cookies for all `*.freecodecamp.rock` domains

For example on Chrome you should be able to visit `chrome://settings/siteData` and lookup `freecodecamp.rocks`. Then on you should be able to remove only cookies for this domain.

[2019-02-16 09:46] raisedadead commented on #35229
Thanks for reporting.

However, this issue an indirect side-effect of a different issue.

**Limitation with Auth0 and one of our social providers:**

While we could have multiple domains for the current tenant (subscription), we can't use multiple domains with the same OAuth app for GitHub. GitHub allows only one callback URL. We could have a separate tenant and hook it up to `.rocks` domain, but

[2019-02-16 09:46] #35229 closed

[2019-02-16 09:54] raisedadead commented on #35232
I have something in works about this. See linked PR.

[2019-02-16 09:54] raisedadead commented on #35226
Resolved.

[2019-02-16 09:54] #35226 closed

[2019-02-16 11:58] chuckadams opened #35246 "ES6 challenge has poor wording: Use Destructuring Assignment to Assign Variables from Objects"
The text of the challenge reads:

Except `AVG_TEMPERATURES` is not the input object, `avgTemperatures` the parameter is.  Anyone trying to destructure the global constant will not pass  the challenge.  The simple fix is just to change the one word, from AVG_TEMPERATURES to avgTemperatures.  Alternatively, maybe just pass the object in-line and not use a global constant at all.

[2019-02-16 12:03] #35190 closed

[2019-02-16 12:03] chuckadams commented on #35246
Also, the challenge "ES6: Use Destructuring Assignment with the Rest Operator to Reassign Array Elements" suffers from the same issue, with the text referring to the global `source` rather than the parameter `list` as it should.

[2019-02-16 12:18] chuckadams commented on #35246
Note this is a duplicate of #34257 which was closed without any resolution.  Doesn't encourage me to make a PR for it...

[2019-02-16 12:27] ayushshah2120 commented on #17822
No Problem Sir. Thank You!

[2019-02-16 12:42] raisedadead commented on #17822
Hi everyone!

Sorry about the delay in getting back on this. Thanks for your patience.

We have had some work go in into this issue a few months back. So this issue is probably fixed or behaving better on the beta, it needs to be tested there.

That does mean that, @RandellDawson you are right, it's going to be a while before we can land the fix in production.

The fastest way to test this would b

[2019-02-16 12:58] ahmadabdolsaheb commented on #35102
@ayoisaiah, I really like your design, it definitely looks better than the current one. Here are a couple of considerations.

- The logo looks great, but it makes the footer area taller. As a general rule we would like to save as much screen real state as possible.
- To be accessible we need a way other than color to establish visual hierarchy between headings and footer items.

I encourage you to

[2019-02-16 14:30] Nirajn2311 commented on #35102
@ayoisaiah Also I don't think you're allowed to change the colour of logo according to https://design-style-guide.freecodecamp.org/

[2019-02-16 14:40] QuincyLarson opened #35248 "Set .rocks robot.txt to block all indexing"
freecodecamp.rocks needs to have a separate robot.txt file that is different from master that prevents crawlers from crawling it.

Multiple SEO experts have suggested we do this to prevent the accidental indexing of duplicate content.

What do you think the best way of going about this is, @Bouncey and @raisedadead?

[2019-02-16 15:31] ahmadabdolsaheb opened #35249 "Side navigation redesign for the guides."
**Describe the bug**
The guide on master and .rocks does not have navigation to other articles on mobile devices and tablets. the hamburger navigation that exist in the production version of the guides is allocated to settings.

On the other hand, the current sidebar navigation on the guides for larger screens is too large causing an unwanted scroll and UX issues.

**Proposed solution:**

- design

[2019-02-16 15:33] ahmadabdolsaheb commented on #35249
This redesign would resolve #35102

[2019-02-16 15:36] ahmadabdolsaheb commented on #35102
let us address side-nav related suggestions and improvement in the above-referenced issue so it does not get confused with the footer.

[2019-02-16 16:15] lynxlynxlynx commented on #34969
If we can get rid of the duplication of tests' text and testString, that's a good thing on its own.

[2019-02-16 16:30] RandellDawson commented on #34969
@lynxlynxlynx Not sure if you are aware, but we can already write the test section like (due to a PR @ValeraS already merged:

Instead of:
[code]
we can now do this:
[code]
I had already started working on changing all the `testString`s when I started thinking about how we could possibly remove the `testString` the non-English versions.  The only way I can think about doing that is to use somethin

[2019-02-16 16:46] RandellDawson commented on #35246
@chuckadams As the comments on the PR suggested, you are fine creating another issue for this and another PR, because the other one went stale.

[2019-02-16 16:52] lynxlynxlynx commented on #34969
Not at all, sorry. But great that the text deduplication is so easy now.

[2019-02-16 16:52] StephenHogsten commented on #34484
@jcconnol are you still planning on submitting a PR?  This is always bugging me when I use the site

[2019-02-16 16:59] hemakshis commented on #35242
Hi @Bouncey, I would like to take up this issue as my first contribution to FCC :smiley:. Could you please guide me further on how it should look?
Thank you!

[2019-02-16 17:06] ayushshah2120 commented on #17822
It's Okay If You Use my Profile or My Data to work on your issue.

[2019-02-16 17:17] #34867 closed

[2019-02-16 18:02] raisedadead commented on #35248
Nice catch. I believe we are able to do this by updating the config during build with Gatsby conditionally.

[2019-02-16 18:22] RandellDawson commented on #17822
@raisedadead, @Bouncey You have a user now.

[2019-02-16 19:07] RandellDawson commented on #34484
@jcconnol, @jcconnol I do not believe they are going to add anything else to the top nav anytime soon.  They have moved the guide link to the footer in the latest version of code on the master branch and will be moving this change to production in the very near future.   I would let some other collaborators weigh in on this before creating a PR right now.  I will label this as 'discussing' for now

[2019-02-16 19:16] ahmadabdolsaheb commented on #35249
Although displaying the sibling nav items were discussed, I think it would be best to move forward with something similar to the following convention where only children and parent nodes are in nav.
![navigation_interface_2x_8f059f7f-2e2f-4c86-8468-7402b7b3cfe0](https://user-images.githubusercontent.com/4591597/52859747-9475eb00-313e-11e9-9778-b1c94c745495.png)

[2019-02-16 19:36] Nirajn2311 commented on #35249
@ahmadabdolsaheb I prefer this especially for mobile it becomes easier to use the nav.

[2019-02-16 20:19] Alex-Cannon commented on #16390
@QuincyLarson which wire frame should I go with? Or do you have another suggestion?
I also figured out how to create a graph (link below).
[Progress update pic](https://drive.google.com/open?id=1LRuSXnWxN3rOssKGLAKdRCcwePWtb5DD)

[2019-02-16 20:26] ahmadabdolsaheb commented on #35249
@QuincyLarson. since we currently don't have navigation for the guide on mobile. here is a proposal nav proposal for guide on mobile. for the desktop, the navigation will be to the side of the article.

on the next iteration the number of subarticles for each topic could be added

<img width="944" alt="screen shot 2019-02-16 at 11 22 15 pm" src="https://user-images.githubusercontent.com/4591597/52

[2019-02-16 21:38] #35103 closed

[2019-02-16 22:42] BrandonWingerAir commented on #34708
It's still currently incorrect as the solution doesn't work and uses another requirement. This is the correct code if anyone needs it or knows where I could submit it.

if (str.length > num) {
    return str.slice(0, num) + '...';
} else {
    return str;
}

[2019-02-16 23:11] RandellDawson commented on #34708
I am closing this issue, because PR #34228 has fixed the issue on the `master` branch and we are just waiting on the changes to be moved to production. You can view the [current file here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/certifications/javascript-algorithms-and-data-structures/basic-algorithm-scripting/truncate-a-string/index.md).

If you do not believe the c

[2019-02-16 23:11] #34708 closed

[2019-02-17 03:59] ayoisaiah commented on #35102
@ahmadabdolsaheb Here are the screenshots for screenshots for comparison.

## Before
![screenshot](https://user-images.githubusercontent.com/13372163/52908169-8de79080-3270-11e9-8d5e-d5eac1a15580.png)

## After
![screenshot_2019-02-17 learn to code freecodecamp org 1](https://user-images.githubusercontent.com/13372163/52908174-9b9d1600-3270-11e9-83ca-7fdf4e25483a.png)

## Without the logo
![screen

[2019-02-17 05:11] QuincyLarson commented on #35249
@ahmadabdolsaheb Let's hop on a call to discuss the specific UX considerations in real time.

Regarding the look of the side navigation - it's OK for there to be a different colored background to indicate a boundary between navigation and content, but it shouldn't be gray text on gray background. It needs to be higher contrast.

Also, I don't think we actually use the hamburger menu icon anywhere

[2019-02-17 08:40] #34627 closed

[2019-02-17 10:09] #35248 closed

[2019-02-17 10:10] Bouncey commented on #35248
I set this at the nginx level

[2019-02-17 11:38] Bouncey opened #35259 "Handle client updates more gracefully"
When we update the client the previous build is no longer available.Therefore, chunk paths are no longer valid and a 404 page is returned were JSON is expected. The effects of which are unpredictable. This failed chunk requests make it all the way through to our monitoring application as an uncaught syntax error.

![Uncaught syntax error report](https://user-images.githubusercontent.com/18572518/5

[2019-02-17 11:52] raisedadead commented on #35259
Just to make sure, how impacted are we without this. Is the behaviour and perf going to be worse than current prod, if we do this after the sprint?

IMHO, we do not want to be doing too anything that we during our beta sprint that is does not have a clear path ahead.

Coming back to the issue: As long as we implement a "break the glass" to override/unregister the service worker, I am all in favor

[2019-02-17 14:28] ahmadabdolsaheb commented on #35249
You are absolutely right. the design was simplified to save time.  Here is the updated version.

The reason that the nav is called "guide's menu" is because this whole page is going to be under the main navbar that has its own menu button.

<img width="1156" alt="screen shot 2019-02-17 at 5 25 43 pm" src="https://user-images.githubusercontent.com/4591597/52914427-18fc7100-32d9-11e9-903d-270fde5ebc

[2019-02-17 15:04] Naaman-Saif commented on #35242
@hemakshis Would you like to pair on this? I think I have an idea what this is about.

[2019-02-17 16:23] Nirajn2311 commented on #35242
@hemakshis @Naaman-Saif This is what the Danger Zone looks like in the production -

![screenshot 52](https://user-images.githubusercontent.com/36357875/52915807-b06dbe00-32f1-11e9-9e73-039eba32c0b8.png)

[2019-02-17 18:24] #17406 closed

[2019-02-17 19:16] #34928 closed

[2019-02-17 20:30] raisedadead opened #35265 "View certificate text bleed outside the button"
![image](https://user-images.githubusercontent.com/1884376/52918773-dfe7ef00-3320-11e9-9df7-4329ba58e23a.png)

[2019-02-17 20:50] Nirajn2311 commented on #35265
@raisedadead Could you give a link to the page as then it might be easier to solve the issue?

[2019-02-18 02:13] bdwolff commented on #34901
I have the solution but am trying to figure if this is an exercise or a real problem.

[2019-02-18 02:14] RandellDawson commented on #18034
@ahmadabdolsaheb I noticed you made the initial commit for this challenge and others when the curriculum was its own repo.  Can you shed some light on what the original intent was for the Challenge Seed code, challenge description, and instructions?  I just want to make sure the changes on PR #26088 are not changing the original purpose of this challenge.

Thanks.

[2019-02-18 03:05] hemakshis commented on #35242
I think I'm good working on this issue by myself.

[2019-02-18 05:57] ahmadabdolsaheb commented on #18034
@danielrlc thanks for catching this issue and @bannon-tanner for working on the PR. I looked into the challenges before and after this one, I think the best solution here would be to only replace "in the preview," with "Imagine". That being said, no one can shed more light on this than @moT01 who played a major role in designing these challenges. What would be a good fix here @moT01?

[2019-02-18 06:25] raisedadead commented on #35265
This should be the case on the user's profile page. You can reproduce by setting the certificate keys to true in the user object.

[2019-02-18 08:35] vireakpanha commented on #35213
Can I still work on this issue?

[2019-02-18 09:37] DzmitryUr commented on #35213
@vireakpanha There is 'pull request' above your comment. PR probably fixed this issue already.

[2019-02-18 11:29] thecodingaviator commented on #17413
@QuincyLarson where are we still seeing this? Maybe I can have a look

[2019-02-18 12:14] raisedadead commented on #35249
Moving it from critical path as discussed.

[2019-02-18 12:15] vireakpanha commented on #35213
Okay!

[2019-02-18 12:31] ahmadabdolsaheb opened #35273 "Master font-sizes does not match production."
here is a side-by-side screenshot of production(left) and master(right). Although the font size is the same on both, the size of the rendered characters is different.      ¯\\_(ツ)_/¯

<img width="1439" alt="screen-shot-2019-02-13-at-11 10 43-am 1" src="https://user-images.githubusercontent.com/4591597/52951116-fa0de580-3391-11e9-9e19-b43012a78878.png">

[2019-02-18 13:54] QuincyLarson commented on #35249
@ahmadabdolsaheb Thanks for sharing this updated design. This looks much better.

What exactly will the options be under "Guide's Menu"?

[2019-02-18 13:58] QuincyLarson commented on #17413
@thecodingaviator One place we're still seeing the "Oops something went wrong" message is when one of the unsubscribe link fails from my email blasts. This usually happens if there is a duplicate account with the same email address (this is a corner case that our code should address anyway). But even so, we shouldn't have "oops" type messages.

Rather, we should have more transparent issues like "

[2019-02-18 14:06] QuincyLarson commented on #35259
@Bouncey I am in favor of doing this.

We should silently update automatically rather than prompting the user. Otherwise people may say "no" and just think freeCodeCamp is broken.

[2019-02-18 14:06] QuincyLarson commented on #35248
@Bouncey @raisedadead awesome! Thanks for handling this so quickly.

[2019-02-18 14:39] #35102 closed

[2019-02-18 14:55] hemakshis commented on #35273
Hi @ahmadabdolsaheb, I encountered this same while working on the master. What I saw was that the font-sizes for `btn-lg` don't match for `master` and `production` branches.

![screenshot from 2019-02-18 20-22-53](https://user-images.githubusercontent.com/22373452/52958919-1eca8300-33bb-11e9-92aa-9a0293b24b64.png)
`master` has `font-size` of `23px` for `btn-lg`

and
![screenshot from 2019-02-18 20

[2019-02-18 15:28] nikrb commented on #34344
@RandellDawson
discuss: handling whitespace (and possibly capitalisation). Looking for comments from all mods.

It seems unreasonable to fail a challenge because of whitespace and free text capitalisation. The challenge addressed by this pr is to enter `console.log('Now I know React and Redux!');`. Should the user have extra spaces in function arguments, text or mis-capitalise text, the challenge

[2019-02-18 15:39] moT01 commented on #18034
Thanks for the shout out, @ahmadabdolsaheb. I made a request for changes on the PR, if one of you want to go check out my suggestions and make sure that sounds like a good change, that would be great.

[2019-02-18 15:45] ahmadabdolsaheb commented on #35273
I just realized the issue was to related to my browser.

Thank you @hemakshis for bringing it up the issue with the buttons.

I will close this issue for now to avoid confusion for other contributors but I will make sure the buttons issue is addressed.

[2019-02-18 15:45] #35273 closed

[2019-02-18 15:53] RandellDawson commented on #18034
@moT01 Sorry for now recognizing your contribution on this challenge.

[2019-02-18 15:58] #34834 closed

[2019-02-18 16:02] raisedadead commented on #17276
Resolved in staging.

[2019-02-18 16:02] #17276 closed

[2019-02-18 16:06] raisedadead commented on #17487
If it helps we are linking medium as a resource in a footer link in our upcoming resources. We do not think there is any worth in linking them from the challenges themselves.

We do link guide articles in many of our challenges as a supplement.

[2019-02-18 16:06] #17487 closed

[2019-02-18 16:07] DzmitryUr commented on #35106
I have added PR for this issue.
As @moT01 mentioned this issue happens in any section that has a challenge with a long title

It seems the best way to prevent widening to set `max-width` for wide title of map challenge. The width is depended on the content and without setting `max-width` or `width` it would be some tricky CSS solution or dynamically changes in `JavaScript` code.

![test_widening](

[2019-02-18 16:09] raisedadead commented on #17432
I think you mean: You submitted and successfully passed a challenge. Then navigated away to a different challenge. And then you came back to the original challenge?

[2019-02-18 16:18] moT01 commented on #18034
That's alright, I didn't make the commits.

[2019-02-18 16:20] RandellDawson commented on #34344
@nikrb I think if we are going to use regular expressions to test a challenge in this way, then as far as the code goes, I think removing the whitespace in all parts of the testString are fine.   I think the exception to that would be if we are looking for a specific string to be rendered (per instructions) within the users code.  For example, if we were expecting a user to specifically display a

[2019-02-18 16:29] ojeytonwilliams opened #35276 "Some slow tests"
**Describe your problem and how to reproduce it:**

Some of the challenge tests take upward of a second to run.  This is typically due to lengthy timeouts or, typically for interview prep challenges, genuinely long calculations.

Below are examples where the tests are slow and include timeouts.  These tests involve simulating an event with Enzyme (or setting a component's state) and then waiting t

[2019-02-18 16:32] lasjorg commented on #34901
This applies to grouped checkboxes as well (i.e. checkboxes with the same name attribute value). In the following challenge for input of type checkbox, 3 grouped checkboxes are made.

I think the best option is to make a new challenge after the radio-buttons and checkbox challenges which introduces the value attribute. I actually had a PR ready for this but was never super happy about it so I didn

[2019-02-18 16:34] hemakshis commented on #35273
@ahmadabdolsaheb should I open an issue for this?

[2019-02-18 18:01] ThembaniSt commented on #18222
//just EPIC

[2019-02-18 18:02] ThembaniSt commented on #18222
THIS GUY DESERVES A ROUND OF APPLAUSE

[2019-02-18 18:31] ahmadabdolsaheb commented on #35273
Yes please that would be great.

[2019-02-18 18:44] hilliarj commented on #35103
@ahmadabdolsaheb Did you address issue #17267 with this PR as well? Or was it just issue #35146 ?

[2019-02-18 19:01] QuincyLarson commented on #16390
@Alex-Cannon This is off to a great start. How are you rendering those diagrams?

Note that we are in the process of redesigning freeCodeCamp's curriculum to use a single-column layout for the challenges, so this may make your life a bit easier. You can simply stack the lesson, diagram, and input terminal, and tests on top of one another.

[2019-02-18 19:12] nikrb commented on #34344
@RandellDawson yes I have to agree ... got carried away trying to trim down the `testString`'s. I'll have a think about a global stripWhiteSpace function.

[2019-02-18 19:12] ahmadabdolsaheb commented on #35103
hi #17267 was not addressed

[2019-02-18 19:17] hilliarj commented on #35103
@ahmadabdolsaheb Ok thanks for letting me know!

[2019-02-18 19:24] chaomt commented on #35265
I could work on this!

[2019-02-18 19:32] moT01 commented on #35112
Fixed in beta. Viewable at https://www.freecodecamp.rocks/

[2019-02-18 19:32] #35112 closed

[2019-02-18 19:41] moT01 commented on #35116
This appears to be fixed in [beta](https://www.freecodecamp.rocks/)

[2019-02-18 19:41] #35116 closed

[2019-02-18 19:47] ahmadabdolsaheb opened #35279 "empty white-space under learn"
here is an empty whitespace under learn.
This issue was introduced today so going though commits merged in the last 12 hours helpful in finding the solution.

chrome-mac
<img width="1440" alt="screen shot 2019-02-18 at 10 41 45 pm" src="https://user-images.githubusercontent.com/4591597/52973378-fb113800-33ce-11e9-8c5b-66318a842fe0.png">

[2019-02-18 20:19] #35279 closed

[2019-02-18 20:51] RandellDawson commented on #17487
@jooji-san You might consider adding a Medium article link to the applicable Guide article (typically found under the `Resources` section of an article), if you you feel strongly about a specific Medium article.

[2019-02-18 21:04] Nirajn2311 commented on #35265
@chaomt I am already working on it.

[2019-02-18 21:05] Alex-Cannon commented on #16390
@QuincyLarson I'm rendering the diagrams with D3. I am having trouble rendering branch merges though. I haven't worked with Redux or D3, so I'm a little lost, but I'll figure it out. For now I'm going to focus on the terminal + commands.

Here is my suggestion for stacking the Git challenges:

I'll keep you updated. 🌮

[2019-02-18 21:30] moT01 commented on #34832
Fixed in [beta](https://www.freecodecamp.rocks/)

[2019-02-18 21:30] #34832 closed

[2019-02-18 21:32] moT01 commented on #34782
Fixed in [beta](https://www.freecodecamp.rocks/learn)

[2019-02-18 21:32] #34782 closed

[2019-02-18 21:54] moT01 commented on #29554
Fixed in [beta](https://www.freecodecamp.rocks/learn)

[2019-02-18 21:54] #29554 closed

[2019-02-18 21:57] chaomt commented on #35265
@Nirajn2311 Thanks for letting me know!

[2019-02-18 22:34] moT01 commented on #35148
Fixed in [beta](https://www.freecodecamp.rocks/)

[2019-02-18 22:34] #35148 closed

[2019-02-18 23:06] RandellDawson commented on #35155
@moT01 So I noticed you updated the body of the issue, so my first comment is irrelevant now.  If I am ready this issue correctly now, we just need to rename those two guide articles to include the dots `.` again and everything will be back to normal for those challenges.  If so, have you created a PR yet.  If not, I don't mind creating it.

[2019-02-18 23:11] moT01 commented on #35155
Yea, sorry about that - I was going to make a note about that. It's all the react lessons with periods, as well. I was just testing locally to make sure it all works, and was going to make a PR. Do you think I should make changes to the folders in all languages? I would suspect the same issue occurs there.

[2019-02-18 23:13] RandellDawson commented on #35155
I imagine so, but put each language changes on a separate PR if you don't mind.

[2019-02-18 23:14] RandellDawson commented on #35155
Just to clarify, you are only going to be renaming guide filenames?

[2019-02-18 23:20] moT01 commented on #35155
Yes, that's the plan if I can test it locally to make it sure it's working.
So...
https://github.com/freeCodeCamp/freeCodeCamp/tree/master/guide/english/certifications/apis-and-microservices/managing-packages-with-npm/how-to-use-package-json-the-core-of-any-node-js-project-or-npm-package

would become
https://github.com/freeCodeCamp/freeCodeCamp/tree/master/guide/english/certifications/apis-and-mi

[2019-02-18 23:43] RandellDawson commented on #35155
You can not use Windows to test the Hint button will properly link to any guide article which has a dot in the folder name.  I discovered this last week.  You need to test on Linux or maybe Mac.

[2019-02-18 23:46] RandellDawson commented on #35155
Also, make sure to copy `guide/english/certifications` folder over to `mock-guide/english`, so your local build will have all the guide articles.

[2019-02-19 04:23] ahmadabdolsaheb commented on #35249
@QuincyLarson. "Guide's Menu" will open the drawer (off-canvas) nav and bring it to the view either by covering the main content or pushing it to the side.

Here is the demo:
![menu](https://user-images.githubusercontent.com/4591597/52990014-27e93d80-3417-11e9-82b1-b78feff9aa28.gif)

[2019-02-19 04:48] StubRavi commented on #17432
exactly

[2019-02-19 05:46] ahmadabdolsaheb opened #35287 "The guide's mobile menu button should open guides side nav instead of showing main nav items"
The guides does not have the way to navigate through the articles. we would like to have the top menu button on the nav to go display the side nav instead of showing the search bar and other main nav items.

here is what happens when it is the menu button is clicked
<img width="760" alt="screen shot 2019-02-19 at 8 33 24 am" src="https://user-images.githubusercontent.com/4591597/52992546-08a3dd80-

[2019-02-19 06:15] ahmadabdolsaheb opened #35288 "Text bleed on learn welcome page"
the text is touching the edges of the screen when the screen is between 650 and 750 pixels.
Probably needs to wrapped in a grid container but not sure.

<img width="706" alt="screen shot 2019-02-19 at 9 10 15 am" src="https://user-images.githubusercontent.com/4591597/52993798-82d66100-3426-11e9-96d7-4c4495172257.png">

[2019-02-19 06:52] ahmadabdolsaheb opened #35290 "Map titles have different weight and sizes"
On master, the weights of fonts are different although they are set to 400px on global.css

Also, fonts are smaller on the second level titles than the 3rd level titles.

<img width="789" alt="screen shot 2019-02-19 at 9 35 33 am" src="https://user-images.githubusercontent.com/4591597/52994818-d39b8900-3429-11e9-9020-8a6802adca44.png">

[2019-02-19 07:08] raisedadead commented on #17432
This is an expected behaviour. We are not storing the challenge solution on a localStorage or on the Database once it has been completed and submitted successfully.

Although you do have the option to download your solution if you needed to on the completion modal. Thanks for reporting. I am going to close this.

[2019-02-19 07:08] #17432 closed

[2019-02-19 07:34] ahmadabdolsaheb commented on #35102
@QuincyLarson, would you be interested in making the footer titles more concise as @ayoisaiah suggested?

[2019-02-19 07:43] ahmadabdolsaheb commented on #35232
the above-mentioned pr (#35235) closes this issue.

[2019-02-19 07:43] #35232 closed

[2019-02-19 08:03] DzmitryUr commented on #35288
I have created PR to fix this.
There was a media query that sets padding for small sizes (<630px device width). So I just added padding for larger devices.

[2019-02-19 08:35] #18055 closed

[2019-02-19 09:35] RandellDawson commented on #35110
@Fordco How's your PR coming along?

[2019-02-19 09:44] #35290 closed

[2019-02-19 09:48] RandellDawson commented on #35004
Closing this issue, because it has been fixed in beta. Viewable at https://www.freecodecamp.rocks/

[2019-02-19 09:48] #35004 closed

[2019-02-19 09:52] RandellDawson commented on #34960
@raisedadead What are your opinions on this?

[2019-02-19 09:58] RandellDawson commented on #34901
@lasjorg I say go ahead and submit your PR.

[2019-02-19 13:04] petercrackthecode opened #35300 "Free Code Camp login sessions saving"
**Challenge Name:** Javascript Algorithms And Data Structures Certification- Intermediate Algorithm Scripting
**Issue Description: ** Cannot save login session when switching to challenges after successfully logging in.
**Browser Information: ** Google Chrome **Version 72.0.3626.109 (Official Build) (64-bit)**

Descriptive video: https://vimeo.com/317925080

[2019-02-19 16:11] moT01 commented on #17322
Should be resolved with PR https://github.com/freeCodeCamp/freeCodeCamp/pull/35280

[2019-02-19 16:14] moT01 commented on #17322
I am actually going to close this, since it's a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/35155 - and the other one has more details.

[2019-02-19 16:14] #17322 closed

[2019-02-19 16:18] raisedadead commented on #35300
Have you tried this troubleshooting step?

https://www.freecodecamp.org/forum/t/how-to-troubleshoot-sign-in-issues-on-curriculum-and-setting-pages/252012

[2019-02-19 16:18] #35300 closed

[2019-02-19 16:20] raisedadead commented on #35101
Have you tried this trouble shooting step:

https://www.freecodecamp.org/forum/t/how-to-troubleshoot-sign-in-issues-on-curriculum-and-setting-pages/252012

Closing, may reopen once confirmed bug.

[2019-02-19 16:20] #35101 closed

[2019-02-19 16:51] moT01 commented on #17673
Fixed in [beta](https://www.freecodecamp.rocks/) - Thanks for reporting @digilou.

[2019-02-19 16:51] #17673 closed

[2019-02-19 16:55] moT01 commented on #17466
Closing, since it looks like this isn't going anywhere for the foreseeable future.

[2019-02-19 16:55] #17466 closed

[2019-02-19 17:06] #35050 closed

[2019-02-19 17:48] moT01 commented on #18856
Thanks for reporting this issue @no-stack-dub-sack, I am closing it in favor of duplicate https://github.com/freeCodeCamp/freeCodeCamp/issues/17304

[2019-02-19 17:48] #18856 closed

[2019-02-19 17:49] moT01 commented on #18082
Closing in favor of duplicate https://github.com/freeCodeCamp/freeCodeCamp/issues/17304

[2019-02-19 17:49] #18082 closed

[2019-02-19 18:02] moT01 commented on #17304
The issues I just closed appear to be the same problem as this.

To repeat what has been said above: The search results link to certain lessons/sections give a 404

Here is a list of what sections are problematic, and an example of the bad link from the search results, and what the actual url to the lesson is.
- ALL RESPONSIVE WEB DESIGN PROJECTS:

Bad link -
https://learn.freecodecamp.org/respons

[2019-02-19 18:32] RandellDawson commented on #17814
@memilanuk Can you check out the [beta site](https://www.freecodecamp.rocks/) to see if this problem still exists?  If not, please close this issue.  If it does, please let us know.

[2019-02-19 18:35] RandellDawson commented on #18856
@moT01 I see you closed this one.  Can you add this challenge to your list on issue #17304?

[2019-02-19 18:58] moT01 commented on #18856
@RandellDawson the list there just includes one example from each section, and its each of those whole sections that has that issue

[2019-02-19 19:29] #18127 closed

[2019-02-19 20:09] RandellDawson commented on #18856
So I would think we still do not want to lose track of this reported issue (since it is now closed) unless we add it to another open issue somewhere.

[2019-02-19 20:30] mawalicoder commented on #34707
Maybe somewhere as mentioned in the image!!!!
![55d1b1c3f5fa5aea3c043dc0a0d0725861c5aee8](https://user-images.githubusercontent.com/26973191/53045249-20777200-34b3-11e9-85f4-70ea4490f9ce.png)

[2019-02-19 20:44] DoviMaj commented on #34707
That's a good idea!

[2019-02-19 20:51] ahmadabdolsaheb commented on #34707
it would be challenging to assign a percentage since some topics specially the projects take much longer than others. I believe the screenshot is from the production website, since we currently have a way to show progress in the  master branch.

<img width="729" alt="screen shot 2019-02-19 at 11 48 48 pm" src="https://user-images.githubusercontent.com/4591597/53046447-1b112c00-34a1-11e9-8b02-95033

[2019-02-19 22:04] mawalicoder commented on #34707
Close it then!!!!

[2019-02-19 22:13] ineslaram opened #35306 "Certification and all challanges blank"
Hello !

I have finished today the Responsive Web Design Certification: I had all the challanges done and i had just one project left which i finish today , but i dont know what it have happened because now everything is blank, there are only checked the projects and i can not access to the certification because it appers the follow:

![captura de pantalla 2019-02-19 a las 23 03 31](https://user-i

[2019-02-19 22:59] RandellDawson commented on #34775
@mstachalski What zoom percentage are you using when you experience this issue.  If you change to 100% zoom, do you still experience the problem?

[2019-02-19 23:03] RandellDawson commented on #34767
This is the same issue reported in issue #34344, so I am closing this one as a duplicate in favor of keeping the other one open.

[2019-02-19 23:03] #34767 closed

[2019-02-19 23:06] RandellDawson commented on #34752
@raisedadead Can we close this now due to the fact that PR #34840 has been merged, or is this still an ongoing issue?

[2019-02-19 23:07] moT01 commented on #18856
It's in the list I made, so it hasn't been lost. There's no need to keep issues open that have the same cause. It should get fixed with that.

[2019-02-19 23:09] RandellDawson commented on #34735
@tbushman Can you provide some guidance on this issue?  What is with the rawgit reference anyway?  Is this an issue or does the user just not have the correct link?

[2019-02-19 23:11] RandellDawson commented on #18856
@moT01 Sorry, I must have missed it in the list.  I totally agree to close duplicate issues.  I am doing the same.

[2019-02-19 23:12] ineslaram commented on #35306
Sorry, i have already fix it ! thanksssss

[2019-02-19 23:12] #35306 closed

[2019-02-19 23:16] RandellDawson commented on #34626
@Recelis, @bikingbadger Is this something where you the the challenge instructions could have a note or extra information to aid the camper in completing this challenge?  If so, would either of you be interested in creating a pull request on [GitHub](https://github.com/freeCodeCamp/freeCodeCamp) for this?

[2019-02-19 23:24] RandellDawson commented on #34617
@wanzulfikri I think your wording is better.

@matkoniecz I checked GitHub and could not find where you have submitted a PR with this new verbiage.

If anyone else would like to create a PR using @wanzulfikri's wording above, that would be great!

Thank you.

[2019-02-19 23:28] RandellDawson commented on #35306
@ineslaram How did you resolve your issue?

[2019-02-20 00:22] ineslaram commented on #35306
It was my fault sorry ! I didnt know i had two differents accounts with 2 differents emails

Thanks for your replay

[2019-02-20 00:45] RandellDawson commented on #34357
@beaucarnes Would you have any input on this issue?

[2019-02-20 00:56] RandellDawson commented on #34254
Closing this issue, because it has been fixed in beta. Viewable at https://www.freecodecamp.rocks/

[2019-02-20 00:56] #34254 closed

[2019-02-20 01:28] RandellDawson commented on #34248
Almost all the `testString`s would have to be rewritten and even a few of the existing `text` with the way you have tried to restructure the instructions and tests.  For example, the first test (below) would  not make any sense if you are going to use strings like `Some text on the first line` which has spaces in the string.

This is why the challenge author originally created the text on each lin

[2019-02-20 01:32] RandellDawson commented on #34240
We are currently seeking assistance from contributors (first timers are welcome) to help change the wording from "Rest Operator" to "Rest Parameter" for this challenge.

[2019-02-20 02:29] RandellDawson commented on #31785
@tbushman Has this been resolved?  Has this been reported on the other repo?

[2019-02-20 02:33] RandellDawson commented on #26859
@thumpshere Would you be interested in helping create such a solution for the Guide article?

Would anyone like to contribute a counting sort solution for Swift?

[2019-02-20 02:55] tbushman commented on #34735
Thanks fyi @tchaffee @raisedadead : This involves editing the codepen. The Technical Documentation example project is using the rawgit bundle url. I don't have access.

[2019-02-20 02:58] RandellDawson commented on #25676
@empty-god Can explain in detail why you think the challenge `The Regex Challenge Restrict Possible Usernames` requires knowing `Specify Upper and Lower Number of Matches` information to solve the former?

[2019-02-20 03:10] RandellDawson commented on #19794
This has been resolved.

[2019-02-20 03:10] #19794 closed

[2019-02-20 03:13] RandellDawson commented on #19901
@VioletLain Are you with us closing this issue now, since you can now attempt to create a PR to add/modify a guide article in which you feel this information would be best placed?

[2019-02-20 03:19] RandellDawson commented on #19344
It seems we have agreement on the note to add to this challenge's verbiage.  Anyone want to take a shot at fixing this?

[2019-02-20 03:23] tbushman commented on #31785
@RandellDawson There was some confusion at the time, but the test uses `.project-tile` now.
@vipatron Let me know if you're still having an issue.

[2019-02-20 03:28] RandellDawson commented on #19057
@ezioda004 Can we close this issue due to https://github.com/freeCodeCamp/freeCodeCamp/pull/24362 being merged?

[2019-02-20 03:37] RandellDawson commented on #18885
@amusedberry Yes, would you be interested in making the semi-colon optional for this challenge to pass the tests?

[2019-02-20 03:42] RandellDawson commented on #18410
@raisedadead Is this an issue on which we should add the `help wanted` label?  It might not be a bad idea to link directly to the guide article on Github `master` branch using a footer component or if nothing else, maybe a link to [How to Work on Guide Articles](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-work-on-guide-articles.md) ?

[2019-02-20 03:46] RandellDawson commented on #18134
@raisedadead Is this something that is still an issue on the new beta?

[2019-02-20 04:12] #35059 closed

[2019-02-20 04:37] nsuchy commented on #18134
<img width="1280" alt="screen shot 2019-02-19 at 11 35 36 pm" src="https://user-images.githubusercontent.com/8227641/53066711-18add280-349f-11e9-8dde-e1a263036d98.png">
These new stats may be worth adding to the discussion.

[2019-02-20 05:06] #35288 closed

[2019-02-20 05:41] jannilonline opened #35308 "Basic JavaScript: Count Backwards With a For Loop"
**Describe your problem and how to reproduce it:**
run the test***
this code pass**( " i >")is missing
for ( var i = 9;  1; i -= 2){myArray.push(i);}
var myArray =[9,7,5,3,1]

this code pass too**
for ( var i = 9; i > 1; i -= 2){myArray.push(i);}
var myArray =[9,7,5,3,1]
![capture](https://user-images.githubusercontent.com/47098383/53068912-10907a00-3515-11e9-8b06-d33a5adda838.PNG)

**Add a Link t

[2019-02-20 07:07] fadaile commented on #35306
+You can also use a predefined generic empty class `strClass`. It's
usefull for anonymous objects, dynamic properties or casting other
types to object.

On Wed, Feb 20, 2019 at 3:24 AM ineslaram <notifications@github.com> wrote:

[2019-02-20 11:37] Nirajn2311 commented on #35308
@jannilonline why are you defining myArray again? The test check is myArray contains `[9,7,5,3,1]` and due to the redefinition the challenge passes.

[2019-02-20 11:51] fadaile opened #35309 "fadail2"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-02-20 11:56] fadaile commented on #35309
my browser fir fox link
operating system windws 7

[2019-02-20 11:58] fadaile opened #35310 "fadail3"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-02-20 11:59] fadaile opened #35311 "fadail5"

[2019-02-20 12:00] fadaile opened #35312 "fadail3"

[2019-02-20 12:26] thecodingaviator commented on #35309
Your PR is missing any description about the bug whatsoever. Please check

[2019-02-20 12:46] #35312 closed

[2019-02-20 12:46] #35311 closed

[2019-02-20 12:46] #35310 closed

[2019-02-20 12:47] #35309 closed

[2019-02-20 14:31] #34450 closed

[2019-02-20 14:37] #34752 closed

[2019-02-20 14:42] raisedadead commented on #34735
I have updated the pen to use:

[code]

Can anyone confirm and close the issue as resolved?

[2019-02-20 15:16] RandellDawson commented on #34735
I can confirm the console is clear of this error after you changed the tests link.  Closing this issue.

[2019-02-20 15:16] #34735 closed

[2019-02-20 15:27] jcconnol commented on #34484
@StephenHogsten I was working on it very slowly on and off but if it is something that will already be put into the master branch then I will leave it be.

[2019-02-20 16:15] VioletLain commented on #19901
@RandellDawson Yes please; thanks. I still to write it yet but I'll be sure to make a pull request for it once I've finished writting it and citing all my sources.

[2019-02-20 16:15] #19901 closed

[2019-02-20 16:27] RandellDawson commented on #18134
@nsuchy Have you checked the stats on https://freecodecamp.rocks?

[2019-02-20 18:10] beaucarnes commented on #34357
This does need to be fixed. It should be clarified that while 'orange' is a color name recognized by browsers, the shade of orange does not exactly correspond to the official tertiary orange color. After a little research, it seems that our hex code for the tertiary orange could be off a little. According to this [wikipedia entry](https://simple.wikipedia.org/wiki/Color_wheel), it should be #FF7F0

[2019-02-20 18:20] beaucarnes commented on #34357
Both the orange color and raspberry colors were incorrect.
Orange was `rgb(255, 125, 0)`. But since 255/2 = 127.5, it should be `rgb(255, 127, 0)`. Same for the raspberry color.

I fixed this in my PR.

[2019-02-20 18:28] lasjorg commented on #34617
@RandellDawson Unless I'm blind, @wanzulfikri didn't suggest a change, the quote he gave is directly from the challenge. I think he just suggested what part of the text might be changed.

---
I think part of the problem is when you don't have a clear definition and understanding of the difference between a parameter and an argument.

1 parameter !== 1 argument.

I also think using parameter and ar

[2019-02-20 18:44] lasjorg commented on #34617
Side note:

I think the way the challenge example code was written is potentially harmful to people just starting out learning. It really muddies the water and gives a wrong impression of how objects and the splice method works.

This is the example code:

[code]

It is effectively is doing this, but in my opinion hides that fact by returning the array and by capturing the return.

[code]

[2019-02-20 19:01] RandellDawson commented on #34617
I should have said @matkoniecz's suggestion is different, because the current challenge states:

which is different from his suggestion:

I still don't like `parameters` here, they are placeholders.  With the splice method any `arguments` passed after the first two are the extra elements do be inserted by the splice.  I am not sure how best to convey this without using the `arguments` terminology,

[2019-02-20 19:46] nsuchy commented on #18134
<img width="1280" alt="screen shot 2019-02-20 at 2 45 34 pm" src="https://user-images.githubusercontent.com/8227641/53119773-3706e300-351e-11e9-8f75-6f0655d68bad.png">
It has a much larger page size.

[2019-02-20 20:36] lasjorg commented on #34617
It is definitely not additional parameters, it is one parameter accepting multiple arguments.

Here is my first stab at it.

[2019-02-20 20:43] RandellDawson commented on #34617
@lasjorg I like all but that last "Example usage".  I think It makes the challenge unnecessarily long and you already have the best example above that part:

However, your example would be perfect for the hint section of the linked Guide article.

[2019-02-20 21:41] lasjorg commented on #34617
My example (or something simple like it) would be used instead of the example code given in the challenge.

In my opinion, when first explaining a prototype method it should be simple and bare-bones. It should not have any complexity to it that is not needed. At least not in the first example given.

I can appreciate the example tries to be less abstract and more real-world, but there is a number

[2019-02-20 23:24] rituteb commented on #34617
I agree that saying this function accepts 3 parameters is inaccurate. However, it's understandable why this was written given that the parameters beyond the first two are logically grouped as one - elements to add - represented as a variable parameter. To not introduce any new concepts, which are beyond the scope of this challenge, I would suggest the following changes:

1. In the previous challen

[2019-02-21 04:34] rabindranathfv commented on #17584
![image](https://user-images.githubusercontent.com/28325503/53143917-d789f100-3578-11e9-8afc-ad10a3cfb779.png)

that happen to me some timeout, idk why

[2019-02-21 04:36] RandellDawson commented on #18194
@kskotenko Would you mind testing this challenge again on our [beta site](https://www.freecodecamp.rocks/learn/responsive-web-design/applied-visual-design/adjust-the-height-of-an-element-using-the-height-property) which has many improvements over the existing production site?

[2019-02-21 04:46] RandellDawson commented on #18192
@adachenski, @siddhantvirus Can you test out the same challenges for this issue on our latest beta version?  We have made many improvements and are validating it before moving to the production site.

Here the same lessons on the beta site:

https://www.freecodecamp.rocks/learn/responsive-web-design/applied-accessibility/improve-form-field-accessibility-with-the-label-element

https://www.freecode

[2019-02-21 05:22] digilou commented on #35106
Actually @tspeed90 said she’d be interested in working on this, which sounds great. I can help, if needed.

[2019-02-21 05:23] digilou commented on #17673
Thanks, all!

[2019-02-21 07:17] panhabot opened #35324 "Adding Khmer Language to CONTRIBUTING.md"
Dear owner, I would like to ask permission to translate a CONTRIBUTING.md file to my Khmer language as some of the people from my country have difficulty reading English. Thank in advance!

[2019-02-21 07:26] RandellDawson commented on #35324
/cc: @QuincyLarson

[2019-02-21 07:39] RandellDawson commented on #18177
@geeseyj, @thecodingaviator I reopened PR #18909, resolved merge conflicts, and replaced the partial solution with a full solution and it seems to fix this issue.  I am awaiting feedback from other reviewers before we can merge it.

[2019-02-21 08:38] RandellDawson commented on #18138
@JESii I had forgotten about his issue.  I just created a PR to hopefully resolve this bug.

[2019-02-21 08:41] RandellDawson commented on #18126
@tbushman Can you offer an opinion on this issue?  Should this be reported on the testable projects repo?

[2019-02-21 08:49] RandellDawson commented on #18102
Hi @TheMarco77 ,

As there has been no response from your end for a while, we are closing this issue.

Feel free to request this issue to be reopened if you have new information.

Happy Coding!

[2019-02-21 08:49] #18102 closed

[2019-02-21 09:06] #34967 closed

[2019-02-21 09:09] RandellDawson commented on #18092
@ilhamjulianto Your `style` tag is missing `type='text/sass'`, so that is a coding issue on your end.

@SpiritusSancti5 Just tested having no space between the opening `style` tag and the `$text-color: red;` line and passes the applicable test. It seems your issue has been fix according to the latest [beta](https://www.freecodecamp.rocks/learn/front-end-libraries/sass/store-data-with-sass-variable

[2019-02-21 09:09] #18092 closed

[2019-02-21 09:13] RandellDawson commented on #18070
@tbushman Are you aware of such issues?

[2019-02-21 09:17] RandellDawson commented on #18042
@joshalling Can you validate if this issue has been resolved on the freecodecamp.rocks beta site?

[2019-02-21 09:22] RandellDawson commented on #18036
@ValeraS Should we keep this open here or close it now?

[2019-02-21 09:28] #18036 closed

[2019-02-21 09:31] RandellDawson commented on #18014
@raisedadead Is this something that might be added to the road map?  I personally do not think this feature is a needed.

[2019-02-21 09:40] RandellDawson commented on #18006
Closing this issue, because it has gone stale.

@LeiCorre, @rmfranciacastillo If either you are still having problems with this, please request us to reopen the issue.  Also, you should post your code over on the [forum](https://freecodecamp.org/forum) to see if anybody can help you conclude if your code is correct or not.

[2019-02-21 09:40] #18006 closed

[2019-02-21 09:46] RandellDawson commented on #18005
@raisedadead Not sure if this is a nginx or Discourse issue, but I did find [this thread on the Discourse forum](https://meta.discourse.org/t/error-414-when-posting-updating-via-api/98186/6) which might help.

[2019-02-21 09:48] RandellDawson commented on #17998
@ezioda004 Is this still an issue?

[2019-02-21 09:53] RandellDawson commented on #17958
This has been fixed, so I am closing this issue.

[2019-02-21 09:53] #17958 closed

[2019-02-21 09:57] RandellDawson commented on #17956
@zrfrank Closing this issue, because it appears to be something you resolved.  If you feel this is still an issue, please request us to reopen.

[2019-02-21 09:57] #17956 closed

[2019-02-21 09:59] RandellDawson commented on #17953
Closing this issue, because it has been fixed in beta. Viewable at https://www.freecodecamp.rocks/learn/responsive-web-design/basic-html-and-html5/link-to-internal-sections-of-a-page-with-anchor-elements

[2019-02-21 09:59] #17953 closed

[2019-02-21 10:00] RandellDawson commented on #17925
@moT01 Is this still an issue on freecodecamp.rocks ?

[2019-02-21 10:02] RandellDawson commented on #17924
@moT01 Is this still an issue on the beta site for you?

[2019-02-21 10:05] RandellDawson commented on #17921
@raisedadead What do you think about this?

[2019-02-21 11:50] ojeytonwilliams commented on #18008
How about the following:

I think it's worth expanding a little on what is and isn't prime.  Also, by referencing `num` directly, it should be clear which primes we're interested in.

[2019-02-21 12:19] karikalanarun commented on #18159
May I know, Is this reproduced in other browsers?.

[2019-02-21 12:31] raisedadead commented on #18014
Yes, I agree. We do not want to remove this section. However, we might re-arrange this section to be the second last item on the page, that is just before the danger zone section.

[2019-02-21 12:33] raisedadead commented on #18014
In all fairness this is there to remind users when submitting the certifications that they are are bound by the policy. So, I believe its in its correct location already.

[2019-02-21 12:33] #18014 closed

[2019-02-21 12:34] raisedadead commented on #18024
Needs to be reproduced locally. I can't confirm yet.

[2019-02-21 12:56] raisedadead commented on #18005
Hi @RandellDawson

Thanks for pointing me to the suggested thread on discourse.

This is happening because the payload to the API is unable to handle the the length of the URI constructed by the learn app. Its simply large than the limit set on discourse side.

However, I am of the opinion that increasing the buffer for large URIs may not be the solution long term. Surely it will be a quick fix to

[2019-02-21 12:58] raisedadead commented on #18005
/cc @freeCodeCamp/dev-team for visibility.

[2019-02-21 13:00] raisedadead commented on #17921
I'll defer this to @ahmadabdolsaheb .

Please note that since we moved to the `.md` files, we maybe able to unify code snippets better. That's we should just be using two types one is inline with back ticks and then there are the blocks with three backticks.

[2019-02-21 13:40] joshalling commented on #18042
@RandellDawson I think this should have been closed a long time ago, as the curriculum was always working as intended. The issue was that the guide article was wrong.

[2019-02-21 13:40] #18042 closed

[2019-02-21 14:00] moT01 commented on #17925
It is, go to any challenge and console.log something with a single quote in it. `console.log("alsdkf'asdfasdf");` - the text after the `'` turns red. Not a huge problem, if you think it's not worth fixing, you can close this.

[2019-02-21 14:06] moT01 commented on #35106
@digilou, there's an open PR to fix this, you can see it two comments above yours. It hasn't been reviewed yet and may or may not get merged. But you might want to wait until that gets reviewed.

[2019-02-21 14:11] moT01 commented on #17924
It is still happening, but perhaps it's not worth fixing. It's most noticeable when you are working on a skinny window or frame. The only solution I can think of is to have the prompt thing hug the left of the window. You can close this if you think it doesn't need to be fixed.

[2019-02-21 14:33] TheFinalDawn opened #35328 "several html guide pages have nothing in them"
**Describe your problem and how to reproduce it:**
Half of the guide doesn't exist.
Open it.
**Add a Link to the page with the problem:**
**[This whole section.](https://guide.freecodecamp.org/certifications/responsive-web-design/applied-visual-design/)**
https://guide.freecodecamp.org/certifications/data-visualization
etc. etc. Basically 50% of the guide doesn't exist.

**Tell us about your brows

[2019-02-21 14:35] moT01 commented on #35030
@mmeyers00 @ahmadabdolsaheb, did that merge fix this? If so, we can close this.

[2019-02-21 14:56] raisedadead commented on #35030
Nope. As I mentioned in the PR, its unrelated to this.

[2019-02-21 15:18] ojeytonwilliams commented on #34394
@drecali It is a bit of an anomaly to have a challenge that always passes!  I'll add a PR that encourages campers to find a way to fix `newTab()`.

[2019-02-21 15:38] rituteb opened #35330 "Search results are cut off"
**Describe the bug**
When searching for something in the search box at the top, the results box shown is cut off the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://learn.freecodecamp.org/
2. Click on the search box
3. Type in something to search "e.g. testing"
4. View the results

**Expected behavior**
The results box should be in the view, not cut off.

**Screenshots*

[2019-02-21 16:34] RandellDawson commented on #17925
@moT01 I understand the issue now.  I think it is worth fixing.

[2019-02-21 16:35] RandellDawson commented on #18042
@joshalling Has the guide article been fixed?

[2019-02-21 16:38] RandellDawson commented on #17921
@raisedadead Now I remember you saying there the move to using only backticks for the inline and block sections.  So was @ahmadabdolsaheb working on that?

[2019-02-21 16:43] joshalling commented on #18042
Yes it has

[2019-02-21 17:12] raisedadead commented on #17921
Not at the minute I guess. But I am suggesting we could unify this from both the UX and the content side, now that we are able to.

[2019-02-21 17:25] RandellDawson commented on #18005
As a forum mod, it is not just "nice to have", it is extremely beneficial so we have the full code the user is working with.

Where would this copy/paste take place?  On the forum, once the post has already taken place or somewhere in the modal popup window?  I would hope in the modal popup window somehow, because many users struggle with adding formatted code (after the fact) in their posts.  I w

[2019-02-21 17:25] tbushman commented on #18070
@RandellDawson @rachelnicole You should not need to omit special characters from your `id`s.
Having tested:
`<a class="nav-link" href="#Introduction!@#$%^&*()?&" rel="internal"><li>Introduction!@#$%^&*()?&</li></a>`
with ``` <section class="main-section" id="Introduction!@#$%^&*()?&">
    <header>Introduction!@#$%^&*()?&</header>```

[2019-02-21 17:28] RandellDawson commented on #18070
@tbushman So maybe the challenge instructions and/or the project tests should give show this disclaimer?

[2019-02-21 17:29] tbushman commented on #18126
@RandellDawson @dtvn The latest commit at testable-projects allows `<figure>`s and `<figcaption>`s. We're enforcing the use of `id`s so that students have a choice of which tag to use, and for backward compatibility. If we begin to enforce tags instead of `id`s, then old projects will fail.

[2019-02-21 17:35] RandellDawson commented on #18126
@tbushman Based on your reply, should I close this issue and label it with `status: wontfix`?

[2019-02-21 17:38] RandellDawson commented on #35330
Closing this issue, because it has been resolved and the beta site does not exhibit this issue.  Once the beta site is moved to production, you will not experience this issue anymore.

[2019-02-21 17:38] #35330 closed

[2019-02-21 17:42] raisedadead commented on #18005
The fix should only strip the seed section (by calculating the remaining chars in advance of the API request/URI Encoding).

Everything else will still be there. Feel free to test it on any challenge from you local for the workflow to understand this better.

Again **this is a feature**, that we would love to support. And will work for most challenges, baring a few that have really large seed code

[2019-02-21 17:43] tbushman commented on #18126
@RandellDawson Yes.

[2019-02-21 17:43] rituteb commented on #35330
What's the URL for the beta site? Also, curious how soon the beta moves to production as this is a pretty big issue?

[2019-02-21 17:45] RandellDawson commented on #35328
I am closing this issue, because this is known already and is part of the whole open source strategy here at Free Code Camp.  If you would like to add new content, you can visit the [master branch on GitHub](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/guide/english/certifications/data-visualization) for this particular section and add content to any article you feel would benefit the

[2019-02-21 17:45] raisedadead commented on #35328
Have you read through the links in there?

[2019-02-21 17:45] #35328 closed

[2019-02-21 17:46] tbushman commented on #18070
@RandellDawson OK

[2019-02-21 17:55] RandellDawson commented on #35330
Beta is at freecodecamp.rocks

There is has been no date set yet on when it will be moved to production, but we are testing it extensively and could use your help in finding any new issues that may have popped up.

Over 9000+ PRs have been merged, so many bugs which were originally reportedvia GitHub issues have been fixed on the master branch and are live on the beta site.

[2019-02-21 17:58] RandellDawson commented on #18005
So what about my second option above?  Wouldn't that work for the challenges which are stripped of the code section which is too long?

[2019-02-21 18:00] raisedadead commented on #18005
Yes, I am in favor of something along that lines.

[2019-02-21 18:16] RandellDawson commented on #17895
@zrfrank Tecnhically, you could download the repo and set it up locally on your machine and work through all the challenges similar to how you would on the production site.

[2019-02-21 18:23] RandellDawson commented on #17882
@moT01 Should we close this in favor of issue https://github.com/freeCodeCamp/freeCodeCamp/issues/17733 ?

[2019-02-21 18:26] RandellDawson commented on #17878
As there has been no discussion on this issue and reading your last reply, it seems fine to close.

Feel free to request this issue to be reopened if you still feel this is an issue.

Thank you.

[2019-02-21 18:26] #17878 closed

[2019-02-21 18:26] moT01 commented on #34396
Closing as duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/17334

[2019-02-21 18:26] #34396 closed

[2019-02-21 18:27] RandellDawson commented on #17866
Is anybody interested in working on this issue?

[2019-02-21 18:29] RandellDawson commented on #17865
@ezioda004 Sounds like a plan.

[2019-02-21 18:29] RandellDawson commented on #17863
@LBWright What is the PR # you created for this issue?

[2019-02-21 18:34] RandellDawson commented on #17837
@QuincyLarson Any thoughts on this issue?

[2019-02-21 18:37] RandellDawson commented on #17836
Closing this issue, because it has been fixed in beta. Viewable at https://www.freecodecamp.rocks/

[2019-02-21 18:37] #17836 closed

[2019-02-21 18:40] RandellDawson commented on #17856
Closing this issue, because it has been fixed in beta. Viewable at https://www.freecodecamp.rocks/

[2019-02-21 18:40] #17856 closed

[2019-02-21 18:42] RandellDawson commented on #17834
@raisedadead Has something like this already been implemented on freecodecamp.rocks?

[2019-02-21 18:45] RandellDawson commented on #17831
@tbushman Any thoughts on this issue? Is this still a problem?

[2019-02-21 18:49] RandellDawson commented on #17827
@sxnaprkhr I think having them both would be OK.  Maybe start with XMLHttpRequest and then have a second challenge afterwords introducing fetch.

[2019-02-21 18:50] RandellDawson commented on #17824
@raisedadead Any thoughts?

[2019-02-21 18:53] RandellDawson commented on #17815
Closing this issue, because it has been fixed in beta. Viewable at https://www.freecodecamp.rocks/

[2019-02-21 18:53] #17815 closed

[2019-02-21 18:55] RandellDawson commented on #17816
Closing this issue, because it has been fixed in beta. Viewable at https://www.freecodecamp.rocks/

[2019-02-21 18:55] #17816 closed

[2019-02-21 18:58] Fordco commented on #35110
@RandellDawson  I'm pretty sure I finished with it. Is there anything else I need to do with it? The correct PR is #35214

[2019-02-21 19:01] raisedadead commented on #17834
We do not have a Hot key mapped to the modal. We may do so in future, depending on what @QuincyLarson thinks of it.

**The modal is shown only once per session (each browser tab).**

This will become more better in the next release, because we would not have as many subdomains. User's will have more of a single page application navigation for all things freeCodeCamp!

[2019-02-21 19:05] raisedadead commented on #17824
Is it reproducible in the next release?

[2019-02-21 19:12] rituteb commented on #35330
Great, thanks.

[2019-02-21 19:33] chaomt commented on #19344
@RandellDawson I would like to work on it!

[2019-02-21 19:39] darryn11 opened #35335 "React: Create a Controlled Form Bug"
**Describe your problem and how to reproduce it:**
Every time I click the submit button, an entirely new freecodecamp window opens within the challenge-preview-frame.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/front-end-libraries/react/create-a-controlled-form

**Tell us about your browser and operating system:**
* Browser Name: Google Chrome
* Browser Version: Ch

[2019-02-21 20:12] RandellDawson commented on #35335
Thank you for reporting this issue.  However, this issue has already been fixed on the master branch and can be validated on our [beta site](https://www.freecodecamp.rocks/learn/front-end-libraries/react/create-a-controlled-form) which will be moved to production in the near future.

[2019-02-21 20:12] #35335 closed

[2019-02-21 20:22] RandellDawson commented on #19344
@chaomt Sure go ahead and let us know if you need any help.  You can reply here or for more immediate feedback, checkout our [Contributors room on Gitter](https://gitter.im/FreeCodeCamp/Contributors).

[2019-02-21 20:29] RandellDawson commented on #17824
@raisedadead I just validated in the `next release` that this has been resolved.  Closing this issue now.

[2019-02-21 20:29] #17824 closed

[2019-02-21 20:48] moT01 commented on #17882
This seems to have been fixed on [beta](freecodecamp.rocks) - those two solutions no longer work.

[2019-02-21 20:48] #17882 closed

[2019-02-21 20:50] AdrianSkar opened #35337 "Variable names improvement. ES6 Higher order arrow functions"
In [the guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/certifications/javascript-algorithms-and-data-structures/es6/write-higher-order-arrow-functions/index.md) for the [ES6: Write higher order functions ](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/write-higher-order-arrow-functions/) we used the same `const` name (`squaredIntegers`)

[2019-02-21 20:53] paulywill commented on #34861
Should there not be another test for not including comments?

[2019-02-21 20:54] randomSveta opened #35338 "404 on the link ” Comparison with the Equality Operator ” in JS course"
**Description:**
404 error when I click on the link " Comparison with the Equality Operator" on
“Basic JavaScript: Returning Boolean Values from Functions” page

**Where to find:**
JS course page “Basic JavaScript: Returning Boolean Values from Functions”:
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/returning-boolean-values-from-functions

**Steps:**
1

[2019-02-21 21:01] RandellDawson commented on #35338
Hi @randomSveta Thank you for reporting this issue.   I am closing this issue, because it has already been reported and fixed on the `master` branch of our repo and will show up in production during the next release (coming soon).

[2019-02-21 21:01] #35338 closed

[2019-02-21 21:14] randomSveta commented on #35338
Hi! @RandellDawson!
Could you help, please?

I have the same problem 404 with the link "Storing Values with the Equal Operator",
 https://learn.freecodecamp.org/storing-values-with-the-assignment-operator

on the page  "Basic JavaScript: Generate Random Fractions with JavaScript" https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/generate-random-fractions-wit

[2019-02-21 21:48] tbushman commented on #17831
@RandellDawson The link is no longer functioning. I wasn't aware of this, sorry. I will say that I've seen uncaught exceptions coming from student projects that get reported as such by mocha, but that's unlikely here if there are no project scripts. It would be good to have the whole code to reproduce the issue.

[2019-02-21 21:50] RandellDawson commented on #17831
@hbar1st Can you provide a link to the code which caused this issue?

[2019-02-21 21:57] RandellDawson commented on #35338
@randomSveta PR #35125 has already been created to fix not only the link in the challenge you found above, but also 3 other challenges.  I have approved the PR already, but I am still awaiting one other reviewer to approve before it gets merged into the `master` branch.  Even after it is merged, the changes will be moved to our beta site first and then finally to production.  It is not necessary t

[2019-02-21 22:08] randomSveta commented on #35338
@RandellDawson,  Thank you so much for your help!
Also, big Thanks for the super detailed answers :)

[2019-02-21 22:25] #35110 closed

[2019-02-21 22:39] lilia97 opened #35339 "The search bar and the search list are not proportional"
<img width="1440" alt="screen shot 2019-02-21 at 11 38 12 pm" src="https://user-images.githubusercontent.com/34647698/53206639-cc46cc00-3631-11e9-8b3a-27e04b9b825f.png">

[2019-02-21 23:01] robjloranger commented on #17584
same as @rabindranathfv, I noticed that after cloning the glitch project it thinks there is no 'package.json' and to run 'refresh' from the console. After which there are very few files left.

steps:
- clone project using glitch link provided
- see small error msg in top right that say's something went wrong
- logs are complaining over and over that `package.json` does not exist
- run `refresh` fr

[2019-02-22 00:31] louischrisorona commented on #18120
@WillzMu an array is an "object"   i.e.:
`
let myArray = [1,2,3,4];
console.log(typeof myArray)
`
This outputs 'object'.

[2019-02-22 01:02] WillzMu commented on #18120
@louischrisorona , yeah, thats true. But you cant `.map()` an "object" now, can you?

[2019-02-22 01:03] Manish-Giri commented on #35337
I don't think it is confusing as such, especially because two earlier ES6 lessons ([Compare Scopes of the var and let Keywords](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/compare-scopes-of-the-var-and-let-keywords/) and [Explore Differences Between the var and let Keywords](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/explore-differ

[2019-02-22 01:21] RandellDawson commented on #35339
@lilia97 This is a known issue on production which has already been resolved on our `master` branch and will be moved production soon.  Feel free to checkout the same challenge on our newest beta site located at https://freeCodeCamp.rocks

I am closing this as an issue that has already been addressed and is awaiting deployment to production.

Thanks for understanding.

[2019-02-22 01:21] #35339 closed

[2019-02-22 01:28] louischrisorona commented on #18120
@WillzMu I think you misinterpreted my helpful tip... I was not trying to patronize you.
Have you since been able to correct your issue?
Was it perhaps that your object was not setup properly to access the array?

`this.state.messages.map((message, index) => {
  return <li key={index}>{message}</li>
})`

[2019-02-22 01:58] Manish-Giri commented on #15615
Just getting back on this. Will post an update soon.

[2019-02-22 02:50] #35176 closed

[2019-02-22 04:07] cmccormack opened #35343 "Code elements have unbalanced spacing on the sides"
**Describe your problem and how to reproduce it:**

`<code></code>` elements appear visually unbalanced on the left and right side due to improper space in pseudo-selectors.

The `::before` pseudo selector used on the `code` element does not appear to add the spacing intended - while it works on the `::after` selector, the space, when applied to the `::before` selector, doesn't appear to display a

[2019-02-22 06:19] rajeevkannav opened #35345 "Cannot access Next Challenge after login via email"
**Cannot access Next Challenge**
Facing 504

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://www.freecodecamp.rocks'
2. Click on 'Sign-in'
3. Scroll down to 'After sign-in with email application will redirect you at https://www.freecodecamp.rocks/welcome/'
4. Click on 'Go to my next challenge'
5. See error  at
![image](https://user-images.githubusercontent.com/331827/53223501-

[2019-02-22 07:54] RandellDawson opened #35347 "Sign In button displays instead of Settings icon even when authenticated on Beta Site"
I could not find the following issue reported yet regarding the beta site.

I notice if I have already authenticated, the `Sign In` button still shows on the main home page. When I click on `Learn`, I can immediately see I am logged in and have access to the Settings button. I would think the Settings button should show in place of the `Sign In` button once you have been authenticated. Is this a k

[2019-02-22 07:56] brimarq commented on #18103
This is still a problem. I just amended the description meta tag in `head` of `index.pug` to be
`meta(name='description', content='Home page')`.  That seemed like a good place to put the 'Home page' text that the test expects. I suspect that the test will pass as long as that text is *somewhere* in the rendered HTML of the homepage.

So... I suppose that a quick, "band-aid" fix could be to simply

[2019-02-22 08:40] RandellDawson opened #35349 "Unable to use js-teardown section in Responsive Web Design curriculum challenge files"
Today, I discovered that I could write a helper function in a `js-teardown` section of a Responsive Web Design challenge and reference it in the assert statement with the test working correctly when running `npm run develop` locally.  However, when I ran `npm run test:curriculum` It would fail with a message like:
[code]
I finally gave up and moved the helper function to the `testString` directly

[2019-02-22 09:05] ValeraS commented on #35349
@RandellDawson
For html challenges you can do something like this:
[code]

[2019-02-22 09:17] RandellDawson commented on #35349
@ValeraS It is not that the code I wrote in the `js-teardown` section did not work with my assert, it is that the test runner threw an error.

When I wrote:
[code]
and had the following test, everything worked as I expected using `npm run develop`.
[code]

[2019-02-22 09:24] RandellDawson commented on #17811
@Chris2Brooks I agree with @thecodingaviator that once you change the value to `infinite`, it is very clear that the ball keeps bounced forever as opposed to just 3 seconds as the challenge code starts.

I am closing this issue, but feel free to create a pull request for the current stub article that the `Get a Hint` button links and add any relevant information you would like to see there.

[2019-02-22 09:24] #17811 closed

[2019-02-22 09:28] RandellDawson commented on #17810
Closing this issue, because it has been fixed on the `master` branch.  The fix will be in the next production release.

[2019-02-22 09:28] #17810 closed

[2019-02-22 09:35] RandellDawson commented on #17802
This particular challenge was rewritten to use the `s` tag and not the `del` tag, so this issue is not relevant anymore.

[2019-02-22 09:35] #17802 closed

[2019-02-22 09:36] PhoeniXAbhisheK opened #35351 "Text overflows out of button / button does not expand on homepage"
**Describe the bug**
When accessing [freecodecamp.rocks](freecodecamp.rocks) via mobile, the 'Start coding(it's free)' button does not expand with respect to text.
As a result, the  text overflows the button area.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [freecodecamp.rocks](freecodecamp.rocks) via mobile
2. Scroll down to '....'
3. See error

**Expected behavior**
The button sh

[2019-02-22 09:37] RandellDawson commented on #17809
Closing as this is a duplicate of issue #17822.  Please use this other issue to discuss further.

Thank you.

[2019-02-22 09:37] #17809 closed

[2019-02-22 09:40] RandellDawson commented on #17790
Closing this issue, because it has been fixed on the `master` branch.  The fix will be in the next production release.

[2019-02-22 09:40] #17790 closed

[2019-02-22 09:57] RandellDawson commented on #17756
Closing this issue, because it has been fixed on the `master` branch.  The fix will be in the next production release.

[2019-02-22 09:57] #17756 closed

[2019-02-22 10:01] RandellDawson commented on #17743
Closing this issue as it is a duplicate of issue #17822 which is being used as the single source for this issue.  Please make further inquiries there.

[2019-02-22 10:01] #17743 closed

[2019-02-22 10:05] RandellDawson commented on #17740
Closing this issue as it is not an actual problem with the challenge, but instead is a problem with the user's code.

[2019-02-22 10:05] #17740 closed

[2019-02-22 10:11] RandellDawson commented on #17718
@tbushman Is this an issue?

[2019-02-22 10:17] RandellDawson commented on #17734
This is actually not resolved yet.  There is a PR #19477 which seems to be a possible fix.  I will keep this open until it has been tested, approved and merged.

[2019-02-22 10:47] ValeraS commented on #35349
@RandellDawson The code you write works not because you do it right, but because you are lucky. At the moment, the behavior of which file will be shown in the editor, if you have two files, is not defined. So you should do as suggested in my previous comment.

[2019-02-22 10:59] RandellDawson commented on #35349
I guess I am not understanding what you mean by two files.  What two files?  There is just a single file with multiple sections.  I must be misunderstanding.

When you say I got lucky, are you referring to the code I show in my last post or what I ended doing on PR #35342 which passed the Travis build?

[2019-02-22 11:19] ahmadabdolsaheb commented on #35265
a reasonable fix would be to give the grid that contains the profile a class and on the css, change the button under that class and have ` white-space: nowrap; `. you will end up with something like this.
<img width="681" alt="screen shot 2019-02-22 at 2 18 10 pm" src="https://user-images.githubusercontent.com/4591597/53239365-e07bdf00-36ac-11e9-93b7-ea307a805a1a.png">
<img width="1095" alt="scree

[2019-02-22 11:22] ValeraS commented on #35349
Each `{ext}` in the `challengeSeed` section transforms in a separate file, e.g. index.html, index.js. One of this file will be shown in the editor in the client app.

[2019-02-22 11:30] RandellDawson commented on #35349
OK

[2019-02-22 11:42] Bouncey commented on #35349
We could expand the challenge writing docs to cover this.

[2019-02-22 11:49] #35345 closed

[2019-02-22 11:50] Bouncey opened #35356 "Errors in the sass worker (user syntax errors) are making it through to rollbar"
![image](https://user-images.githubusercontent.com/18572518/53240666-3cd40400-3697-11e9-98ae-2ebb45bcb6ea.png)

These count towards our rollbar quota and could easily max it out once `master` has shipped.

[2019-02-22 13:56] raisedadead opened #35359 "Donate modal animation"
Donate modal is rendered/animated twice when invoked

[2019-02-22 13:57] raisedadead commented on #35359
Steps to reproduce.

- Complete at least 9 challenges.
- See modal once per session.

[2019-02-22 15:36] ahmadabdolsaheb commented on #35359
alternatively, change this line to true and get the modal after completion of each challenge.
https://github.com/freeCodeCamp/freeCodeCamp/blob/293e58cc235db6d313a16e03e18739362f89a250/client/src/redux/index.js#L138

[2019-02-22 15:48] tbushman commented on #17718
@RandellDawson I would say close this. A dataURL would fail the test for any type of image. People can use SVG by saving in the cloud and using that URL in `src`.

[2019-02-22 16:17] ojeytonwilliams commented on #29311
I'd quite like to take a look at this, but I've fallen at the first hurdle!  Where is the source for the search.freecodecamp.org page?  It doesn't appear to be in https://github.com/freeCodeCamp/search-assets.

[2019-02-22 16:25] rituteb commented on #34960
To confirm, @cc189 & @raisedadead, you're suggesting to change all references of CodeMirror to Monaco Editor in this guide (should it point to https://microsoft.github.io/monaco-editor/)? Assuming this should be done in all translations. I can go ahead and make this change once this is confirmed.

[2019-02-22 16:45] ahmadabdolsaheb commented on #35359
Just in case someone tackle this before I get back to it.
it seems like the app gets updated after the donate modal is up. so that might be causing the flashing.

<img width="338" alt="screen shot 2019-02-22 at 6 46 38 pm" src="https://user-images.githubusercontent.com/4591597/53253433-4c247300-36d2-11e9-8fd2-335b2b7ccb4c.png">

[2019-02-22 16:47] raisedadead commented on #34960
Yes. that is correct @rituteb

[2019-02-22 17:01] cc189 commented on #34960
Sounds good @rituteb

[2019-02-22 17:12] moT01 opened #35361 "ajax challenges: seed code doesn't match description"
In the `JSON APIs and Ajax` section, the seed code uses the class `message box`, but the instructions tell you to change the item with class `message` - This doesn't affect the ability to complete the challenges, but might be confusing.

![screen shot 2019-02-22 at 11 00 33 am](https://user-images.githubusercontent.com/20648924/53258142-83266480-3691-11e9-8e5c-7062515cac6e.png)

All the challenges

[2019-02-22 17:44] coder077 commented on #18861
@raisedadead Yes, I revisited all the individual issues and they are still there. So, should I split these into multiple new issues and work on them?

[2019-02-22 18:13] sreysa commented on #35361
Can I do this one????

[2019-02-22 18:37] #34357 closed

[2019-02-22 18:46] #19382 closed

[2019-02-22 18:46] #17734 closed

[2019-02-22 18:51] moT01 commented on #35361
Sure, @sreysa. Let us know if you need anything.

[2019-02-22 18:51] RandellDawson commented on #35349
@Bouncey That would really be great!

[2019-02-22 19:06] #17718 closed

[2019-02-22 19:18] #35090 closed

[2019-02-22 19:40] robjloranger commented on #17746
The `_api` route should work fine. Free Code Camp is using this as it is part of the app you cloned.

See https://github.com/freeCodeCamp/boilerplate-npm/blob/58a9a55cf988d9f3df3a7fd476ab404b7dcc2188/server.js#L27-L35

There are similar issues being reported however, #17584 for example

[2019-02-22 20:55] chaomt commented on #19344
@RandellDawson Thanks so much! I started working on it. I'm a beginner and I will try my best!

[2019-02-22 21:02] ZebulanStanphill commented on #35090
@RandellDawson #35093 fixed several of the challenges, but there are some still affected (see original post, which has been edited to reflect this). Should this issue be reopened or should I create a new issue?

[2019-02-22 21:43] RandellDawson commented on #35090
If you don't mind, can you create a separate issue for oustanding issues you feel the PR did not address, so we can discuss there?  There may be some things we just decide not to implement, but at least want to have the discussion.  Thanks for helping bring these issues to us.

[2019-02-22 21:55] RandellDawson commented on #35361
It appears out of the 9 challenges in that section, only `Get Geolocation Data to Find A User's GPS Coordinates` does not use `class="message box"`.

[2019-02-22 22:19] RandellDawson commented on #17733
@abnogueira , @bikingbadger This issues referenced here have been resolved on the `master` branch and can be verified on our beta site at https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/regular-expressions/restrict-possible-usernames

There actually is another PR open right now that improves the tests even more, but for now I am closing this one due to the beta site

[2019-02-22 22:19] #17733 closed

[2019-02-22 22:48] RandellDawson commented on #17712
Finally got around to creating a PR (#35367) to prevent incorrect solutions, such as the one @AxiomInfinite, from being accepted as a valid solution to the challenge.

[2019-02-22 23:27] ZebulanStanphill opened #35368 "Tests for various challenges are too strict about line breaks before method calls (part 2)"
_Not all of the challenges listed in #35090 were fixed by #35093. This issue is for the remaining challenges that the aforementioned PR did not modify._

## The problem
The tests for various challenges are too strict about line breaks before method calls.

E.g. something like this passes:

[code]

But this causes the tests to fail:

[code]

## Affected challenges
- ["JSON APIs and Ajax: Access the

[2019-02-22 23:27] ZebulanStanphill commented on #35090
@RandellDawson Just to be clear, the PR did not address them because I added the challenges to the list after the PR was made. The type of issues are the same one that the PR fixed for the other challenges. I have created #35368 for the remaining challenges.

[2019-02-23 03:29] amusedberry commented on #18885
@RandellDawson sure! Just let me get familiar with the code base and as soon as I have a better grasp, I will send the pr's for this challenge and the next one (that is under the same situation).

[2019-02-23 07:18] bravas opened #35370 "Find the Longest Word Challenge - error when using a for loop without brackets"
**Describe your problem and how to reproduce it:**
On challenge 'Find the Longest Word' if I try to use a for loop without curly brackets I'm getting the following error:

[code]
I tried a for loop in other challenges the same way and seems to work.

**Add a Link to the page with the problem:**

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-algorithm-scripting/find

[2019-02-23 07:38] raisedadead commented on #35370
Thanks. Can you post the code in the screenshot in here?

You can format code with
<code>```js</code>

```Your code here```

<code>```</code>
in the comment box below.

[2019-02-23 07:41] ezioda004 commented on #19057
Closed via https://github.com/freeCodeCamp/freeCodeCamp/pull/24362

[2019-02-23 07:41] #19057 closed

[2019-02-23 07:48] bravas commented on #35370
Thanks for the prompt reply. Just updated it.

[2019-02-23 07:59] raisedadead commented on #35370
Thanks for sharing your code. I can confirm this is indeed a bug on the platform.

We have recently fixed this issue that is shipping soon. You can confirm this by testing it out on [our beta testing site](freecodecamp.rocks).

We plan to be able to release this fix in the upcoming weeks.

Thanks for patience.

[2019-02-23 08:03] raisedadead commented on #17668
Hey we have recently fixed this, however it will be a few more weeks before we can ship this to production site.

We have confirmed this issue is no longer present on an upcoming test version of the platform [here](https://www.freecodecamp.rocks).

Thanks for your patience.

[2019-02-23 09:47] Ensive commented on #35368
I am looking into it

[2019-02-23 11:10] ahmadabdolsaheb commented on #35265
Similar solution could be applied to these donate buttons probably. but the selectors should be very specific not to change the styling on other buttons in the platform.
<img width="669" alt="screen shot 2019-02-23 at 2 09 14 pm" src="https://user-images.githubusercontent.com/4591597/53285698-afff7800-3774-11e9-8b8c-1d4ad751a7c9.png">
<img width="502" alt="screen shot 2019-02-23 at 2 08 51 pm" src

[2019-02-23 14:42] Nitin96Bisht commented on #35361
Hi @moT01 @RandellDawson, I have created my first PR. This is only for **JSON APIs and Ajax** section for all languages. Please have a look and let me know If anything needs to be improved.

I will create a separate PR for all other sections except **Get Geolocation Data to Find A User's GPS Coordinates** once It gets resolved.

[2019-02-23 14:56] Ensive commented on #35368
@RandellDawson
Hi Randel,
Do you think something like `assert(code.replace(/(?:\r\n|\r|\n|\s+)/g, '').match(), 'message')` would help? My concern is, that it would remove spaces in actual strings (if any inside of the code).
Shall we move in this direction (means `replace`) or different?

[2019-02-23 15:48] RandellDawson commented on #35368
@Ensive Yes, that is more like what I am thinking.  You have valid concerns concerning removing spaces in actual strings.  In challenges that do not have specific code strings in the `script` element, we should be fine, so for these specific challenges we could maybe use a helper function like:
[code]
Then we could use it in the `testString` like the following for the `Access the JSON Data from an

[2019-02-23 16:06] Ensive commented on #35351
I am currently looking into this issue. I will keep you posted

[2019-02-23 16:08] Ensive commented on #35368
@RandellDawson
Shall I create PR with changes based on your suggestion for these two specific challenges?
Shall we consider to apply the same fix for other challenges?
Do you think putting a helper `removeWhiteSpace` function into `html-teardown` section is robust enough at the current moment?

[2019-02-23 16:12] vcc-LG opened #35377 "Missing image on freecodecamp.rocks/news/"
![image](https://user-images.githubusercontent.com/22344951/53288843-a4687d00-3785-11e9-824a-6aec9e1bb068.png)

File should live at "/news/content/images/2018/12/FCC-logo-white.png" but appears to be missing.

[2019-02-23 16:22] Ensive commented on #35351
I've found that there is one more place where this issue happens, on welcome page:
<p align="center"><img src="https://user-images.githubusercontent.com/3208083/53288924-87d54080-3797-11e9-9af0-5a997603bf0a.png" width="200" /></p>
These are the only places issue occurs, so I gonna apply an ultimate fix for such cases using a mobile first media query.

[2019-02-23 16:31] Nirajn2311 commented on #35377
Even Quincy's avatar photo is not there next to the news articles.

[2019-02-23 16:40] RandellDawson commented on #35368
Let me check with a few other collaborators, because I think we might already have minifier library we could use instead.  If that is the case, then I will let you know how we can use it instead.  Then we would not have to worry about accidentally removing white space from code which actually needs to be a part of a string or something.  Again, this is not an issue for these particular challenges,

[2019-02-23 16:45] Ensive commented on #35368
@RandellDawson
I agree. Thanks for the updates. Looking forward to hearing from you

[2019-02-23 16:48] RandellDawson commented on #35368
I have asked @ValeraS who has a very solid understanding of what helper utilities to which we have access.

[2019-02-23 17:09] Ensive commented on #35351
PR is ready for review https://github.com/freeCodeCamp/freeCodeCamp/pull/35378

[2019-02-23 17:29] Ensive commented on #35347
Looking into it

[2019-02-23 18:01] Ensive commented on #35347
Hi @RandellDawson
Looking at the code seems like it is intended behaviour.
After testing on production site, I found when you already signed in: clicking on "freecodecamp" logo won't lead you to a home page layout, but to the "welcome" layout.

Looks like this:
![freecodecamp_production_behaviour_sign_in_vs_setttings](https://user-images.githubusercontent.com/3208083/53289726-6fb6ee80-37a2-11e9-8c

[2019-02-23 18:23] raisedadead commented on #35347
This one please. Thanks.

[2019-02-23 19:04] huyenltnguyen commented on #35377
The image URLs are pointing to `freecodecamp.rocks`, I'm guessing we are not hosting images there, hence the 404 error.

Making them point to `freecodecamp.org` should resolve the issue.

![untitled](https://user-images.githubusercontent.com/25715018/53290539-094cc300-37d8-11e9-8b00-b205bc6be06a.png)

[2019-02-23 20:28] moT01 commented on #35361
@Nitin96Bisht, you should make changes to all 8 files for one language in a PR, and make a separate PR for each language. Similar to what I did [here](https://github.com/freeCodeCamp/freeCodeCamp/issues/35155). I'll add check-boxes to this issue. If you and @sreysa want to split them up or something.

[2019-02-24 02:29] Recelis commented on #34626
yes @RandellDawson it would be. I'm not sure how to find the code for this to do the pull request.

[2019-02-24 02:41] RandellDawson commented on #34626
@raisedadead Any advice on where to fix this?

[2019-02-24 02:53] ritute commented on #17866
I think the consensus here is to add a note saying that `require` is not a standard JS function. The 2nd note on this challenge could be a good location to add this:

However, this challenge assumes you're already familiar with what `require` is, so I'm not even sure this is a worthy add on its own. It'd be better to point to a challenge/guide/article that explains the use of `require`, so that th

[2019-02-24 05:35] Nitin96Bisht commented on #35361
Hi @moT01, Thanks for your suggestions! I have created PR for English only for all 8 files. Please check and let me know If any changes required. Meanwhile, I am creating another PR for all languages.

[2019-02-24 05:41] RandellDawson commented on #35361
@Nitin96Bisht Make sure you create a separate PR for each language which will have the 8 files each.

[2019-02-24 05:42] Nitin96Bisht commented on #35361
Ok @RandellDawson

[2019-02-24 05:58] RandellDawson commented on #35361
@Nitin96Bisht One other thing.  Make sure you create each new branch from master, so that the other changes you made in the other languages will not also be on the next PR.  Your Chinese version also has English files on it.

[2019-02-24 06:01] Nitin96Bisht commented on #35361
Ok @RandellDawson, Thanks for your suggestions. I will take care of this.

[2019-02-24 06:23] Ensive commented on #35347
@raisedadead
Okay. I will take care.
Do you have an idea where should I start?

How shall we do the redirect:
• gatsby `navigate`
• Using <RedirectWelcome /> component
• just put a `/welcome` path on the logo when use is signed in (for internal pages)

What would you suggest?

[2019-02-24 06:47] Nitin96Bisht commented on #35361
Hi @RandellDawson, I have created PR for all languages. Kindly review it and let me know If anything needs to be improved.