[2022-07-12 19:56] Sboonny opened #46877 "Missing periods at the end of sentences in counting cards."
### Describe the Issue

In the challenge, there are multiple hints that end without period, example:

These should have period in the end of them

Here is the markdown file [curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/counting-cards.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/02-javascript-algorithms-and-d

[2022-07-12 19:57] jdwilkin4 commented on #46863
For this small change, then I like the idea of changing the last sentence.

[2022-07-12 20:09] nhcarrigan commented on #46877
I don't believe we've enforced full stops at the end of hint texts.

[2022-07-12 20:17] Njong392 commented on #46868
Works for me in Chromium. I have noticed a few people post about failing tests, only to have the tests pass for me. What could be the reason?

[2022-07-12 20:28] Sboonny commented on #46877
True but almost every new hint has period at the end of it.

Anyway, this is the old JavaScript which will be deprecated, so I don't mind.

[2022-07-12 20:28] #46877 closed

[2022-07-12 20:44] Sboonny commented on #46868
@Njong392 Some extension inject `meta` elements with `color-theme` as dark mode extensions.

This is example of how extension manipulated Dom, we don't know what extensions people run, and building sandbox where they can run every extensions and pass the test is almost impossible work. So we recommend disabling them.

[2022-07-12 20:54] luka2220 commented on #44668
Hello! I would like to help contribute to this project 🙂

[2022-07-12 21:09] bbsmooth commented on #46863
I like @ojeytonwilliams and @jdwilkin4 idea of only having them indent only one element and having the comment and `p` already indented correctly and just having them indent the `h2` to match. If we did this we could do away with the HTML list example because we would already have an example in the starter code to refer to. This solves the problem of people inserting the list elements in the HTML

[2022-07-12 22:46] lasjorg commented on #45922
@anlach Any help we can get is appreciated.

I don't really have anything new to report on the tests for the 25 + 5 project. I still think the mutation observer used has something to do with it and I'm not sure if it can be fixed or if it needs to be re-written without it. Also, that is just a guess, I have no real evidence for it.

[2022-07-13 00:23] anlach commented on #45922
Okay, @lasjorg, thanks. I gave it a try and messed with some delays.  They started passing for me locally. Here's the PR:
https://github.com/freeCodeCamp/testable-projects-fcc/pull/1466

[2022-07-13 00:41] jdwilkin4 commented on #46868
Hi @junilm !
I am going to go ahead and close this issue since multiple people have tested it and it works on their end.
As mentioned, try disabling browser extensions since they have been know to interfere with the tests.
Or you can try this challenge in another browser.

Hope that helps! 👍

[2022-07-13 00:41] #46868 closed

[2022-07-13 05:12] junilm commented on #46868
Did from another browser and it worked, thank you all for your help and support.

[2022-07-13 08:46] ieahleen commented on #46729
the projects use
https://github.com/freeCodeCamp/freeCodeCamp/blob/1a8899bfb8ef543ebd6be7895f2e8ff1189409f3/client/utils/challenge-types.js#L16

And I went to investigate what the other types are used for, maybe there is one already for the step based projects.
Challenges in es6 are type 6
curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/
https://github.com/freeCodeCa

[2022-07-13 15:36] lasjorg opened #46885 "Add dependencies to starter boilerplates"
### Describe the Issue

This is in relation to the Replit config issues https://github.com/freeCodeCamp/freeCodeCamp/issues/46824

As seen in the PR https://github.com/freeCodeCamp/boilerplate-mongomongoose/pull/46 the config used in the PR will auto install dependencies which is otherwise an initial step in the challenge. The version of the dependencies we require is self-imposed and often causes

[2022-07-13 15:58] #45897 closed

[2022-07-13 16:50] bbsmooth commented on #46863
@lasjorg I think I've noticed on the forums as well that the word "indentation" is causing some problems. Defining it as you have here would probably be a good idea. I still think we ought to get rid of the code example completely in the instructions though. Even if we use pseudo-code I still think people will copy/paste it into the HTML.

[2022-07-13 17:50] lasjorg commented on #46863
They might, it is really an attempt to tie the words used in the text (parent/child) to the code example given.

[2022-07-13 17:54] lasjorg opened #46886 "When/when are RWD media queries first taught?"
### Describe the Issue

Edit: I'm talking about a standard media query used in responsive design.

Is [step 27](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-responsive-web-design-by-building-a-piano/step-27) in "Learn Responsive Web Design by Building a Piano" really the first mention? And if so how does that step qualify as teaching media queries? Nothing is explained at al

[2022-07-13 18:59] lasjorg opened #46887 "Product Landing Page: allow flexbox to be set only inside a media query"
### Describe the Issue

The test should allow that flexbox is only set inside a media query.

As the test is written right now it doesn't seem possible.

I didn't actually try logging out what the test is accessing. But I would assume from looking at the code that if the selector is inside a media query `rule.style` won't be what is expected.

https://github.com/freeCodeCamp/freeCodeCamp/tree/main

[2022-07-14 00:51] sparkO7 commented on #46886
[Step 20](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-20) is the first mention. (with no syntax example)

[Step 66](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-66) is the 2nd mention. (with syntax example)

[2022-07-14 01:15] lasjorg commented on #46886
The first one is actually in the process of being removed completely ([PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/46639)). Because we can't ask people to do something that hasn't been taught.

The second isn't really the type of media query I'm talking about here. Sure it is an `@media` at-rule, but I'm talking about a standard media query used in responsive design.

[code]

Anyway, tha

[2022-07-14 05:22] santiagotorregallego commented on #45553
Hello everyone, hello AdamZaczek, I try and try to load the page where the RunCodeAlly button appears, but it doesn't. I have read the forum, I also allowed cookies in Chrome but nothing that allows me.
Yesterday it allowed me and in fact I made my first bash tutorial.

Greetings.

[2022-07-14 06:55] AdamZaczek commented on #45553
We had a now-fixed error that was probably causing this. Please let me know if it works for you now @santiagotorregallego

[2022-07-14 12:31] ieahleen commented on #46843
That would be a great UX improvement, considering that we don't have the progress modal in the projects anymore.

See here for many confused people:
https://forum.freecodecamp.org/t/survey-form-stuck-on-20-completion-5-parts/523950

[2022-07-14 15:22] MoiraX opened #46894 "Bug in Colored Markers step 1"
### Describe the Issue

While replying to a forum post, I realised that it seems to be impossible to pass the test for the first step in the Colored Markers section of the new RWD curriculum.
Has there been a recent change?

The challenge asks for a DOCTYPE html declaration and a html element with lang="en".

So this should work:
[code]

I've
- tried this on Chrome and Firefox (no extensions, them

[2022-07-14 15:39] #46894 closed

[2022-07-14 15:40] MoiraX commented on #46894
My mistake - @lasjorg pointed out that the problem was a missing </html> tag.

[2022-07-14 20:57] ieahleen commented on #46111
as the step in question doesn't have anymore an element name in parenthesis, I am closing this issue as fixed. If this is not correct, please ask to reopen the issue again.

[2022-07-14 20:57] #46111 closed

[2022-07-15 00:03] moT01 opened #46898 "Extra line in first npm challenge"
### Describe the Issue

The [first NPM challenge](https://www.freecodecamp.org/learn/back-end-development-and-apis/managing-packages-with-npm/how-to-use-package-json-the-core-of-any-node-js-project-or-npm-package) says this:
[code]

There is no input for a github link. I glanced at the next few blocks, I didn't see any others that have that last sentence - but I didn't look at all of them. We shou

[2022-07-15 01:07] santiagotorregallego commented on #45553
Hello @AdamZaczek , since this morning it works very well for me, I thank you for your attention and for all this wonderful contribution that you have given to humanity

[2022-07-15 02:09] bbsmooth opened #46899 "Colored Markers - Step 16 - Awkward example placement"
### Describe the Issue

Seen this issue come up a few times in the forum. At the bottom of the description is an example of setting multiple classes on an element, but it's just sort of placed there without any reference to it in the description. I've seen several people copy/paste from it, or something very similar to it (using a class name like "markerClass1" or "class1"). Since we aren't explai

[2022-07-15 06:59] #46898 closed

[2022-07-15 06:59] #46834 closed

[2022-07-15 13:24] delivey opened #46909 "Typo: 'switches' instead of 'squishes' in question of 'Neural Networks: Activation Functions'"
### Describe the Issue

https://www.freecodecamp.org/learn/machine-learning-with-python/tensorflow/neural-networks-activation-functions

In the page above, a question (Which activation function switches values between -1 and 1?) uses 'switches' when the actual word should be 'squishes' (like Tim says in the video)

### Affected Page

https://www.freecodecamp.org/learn/machine-learning-with-python/

[2022-07-15 13:48] raisedadead commented on #46674
Can we move this out of triage if this is a known bug and tag accordingly?

[2022-07-15 13:54] raisedadead commented on #46909
@delivey please go ahead.

[2022-07-15 13:59] raisedadead commented on #46857
Once a user has donated (even if they cancel right after or a while), we want to keep acknowledging them as a supporter.

I understand that the message "You currently have a recurring donation" is a bit misleading. We should stop showing only that part of the message to avoid confused users reaching out to our support. Instead, the message should be more precise.

@ahmadabdolsaheb please look into

[2022-07-15 15:38] raditotev commented on #46776
@ieahleen I was waiting to hear any comments regarding the proposed changes but I assume whoever saw this is ok. We can open this for contributors. The change should be pretty straight forward.

[2022-07-15 16:00] lasjorg commented on #46824
What is the status of this?

- Using `npm install` in the run command will cause dependencies to install/reinstall every time the Replit starts. In my opinion, this isn't a great option. I believe it also affect nodemon restarts and the Replit auto restart on saving, i.e control/command + S.
-  The config change I have suggested should work, with the caveat that it will auto install some dependenc

[2022-07-15 16:32] RandellDawson commented on #46824
I think you have everything covered.  The only thing I am concerned about is we will have to either delete or modify the first challenge in the Mongoose section if we are going to automatically install the latest packages (if I am understanding what you want to do here).  Also, we will need to update the 2nd to last challenge dealing with removing records, since in the latest version of Mongoose,

[2022-07-15 16:39] lasjorg opened #46910 "Replit config update status for Node.js challenges and projects"
### Describe the Issue

I thought it might be nice to have a separate issue for tracking Replit config updates to the Node.js challenges/projects. We may want to do the same for Python. This is a work in progress so excuse the mess.

## Back End Development and APIs

### Challenges

[Managing Packages with npm](https://www.freecodecamp.org/learn/back-end-development-and-apis/managing-packages-with

[2022-07-15 16:59] lasjorg commented on #46824
Yes, for mongo/mongoose we have to update the initial challenge page. But that shouldn't be an issue, it is also mentioned in the PR.

As for the other update you suggested. I'm not suggesting we update the dependencies to the latest version, only that we provide the version we require in the initial package files. We do so only because of the age of the challenge and its tests.

If we update the

[2022-07-15 17:23] lasjorg commented on #46824
It seems easier to me to just let it auto-install the dependencies and make sure we include the correct versions in the boilerplate. The PR is already done for this, we just have to update the initial challenge page and remove the install instructions when/if it is merged.

[2022-07-15 17:23] moT01 commented on #46824
I think I would vote to keep using the mongo version that we suggest to install. Auto install it when running the repl - and slightly modify the first challenge.

[2022-07-15 17:27] lasjorg commented on #46824
Also, just in case anyone missed it I did open an issue for this. Just in case we want to talk about it more in-depth without "polluting" this issue.

https://github.com/freeCodeCamp/freeCodeCamp/issues/46885

[2022-07-15 17:30] moT01 commented on #46824
I'll make a PR to modify that first challenge.

There's a lot going on around these replit issues - I'm looking over them to catch up. If you all want to get on a call to discuss it together, I'm available - chat/discord/forum.

[2022-07-15 17:51] vetrisuriya opened #46912 "#320.1 build-a-kitty-ipsum-translator"
### Describe the Issue

https://www.freecodecamp.org/learn/relational-database/learn-advanced-bash-by-building-a-kitty-ipsum-translator/build-a-kitty-ipsum-translator

I typed the code correctly but I have no idea how to complete this level.

### Affected Page

https://www.freecodecamp.org/learn/relational-database/learn-advanced-bash-by-building-a-kitty-ipsum-translator/build-a-kitty-ipsum-transl

[2022-07-15 18:04] gikf commented on #46912
Hey, what text do you have in the `name.txt` file?

[2022-07-15 18:47] lasjorg commented on #46824
Prettier does some funky formatting of the config file. I have started to add a `.prettierignore` file to the PRs. Just to account for anyone that has the Prettier code editor extension installed (Prettier isn't a dep in most, if not all the repos).

[2022-07-15 19:05] bbsmooth commented on #46863
If we do end up keeping the example list HTML (I still want to get rid of it) then I would suggest we close up the spacing on the list items because someone in the forums thought that the space between the `<li>` and the text was the spaces the instructions were referring to. Also, it seems like a lot of the steps actually fail if users add extra unnecessary spaces like that so it seems strange th

[2022-07-15 21:40] lasjorg commented on #46863
The formatting for the example does look off and the code fencing (backticks) around the word li inside the `li`s seems weird.

I still feel like we need a visual example of the formatting. Not sure what the best option for it is.

[2022-07-15 21:50] moT01 commented on #46910
Note: The exercise tracker PR had *.html in the .gitattributes file, but it was still using html/css/js instead of node. I added .css in there and it started using node.

[2022-07-15 23:10] bbsmooth commented on #46863
What about @jdwilkin4's suggestion that we have the comment and `p` element already indented properly in the starter code and then they just have to indent the `h2` to make it match? Or it could be the `h2` and comment that are indented and they have to indent the `p`. That gives us an example without having to introduce any new code/pseudo-code. It also simplifies the lesson because they only nee

[2022-07-16 02:39] lasjorg commented on #46863
I'm open to that as well.

- Explain what indentation is (literally) and why it is needed.
- Have two of the elements already indented in the seed code and explain that the elements are already indented.
- Ask them to indent the first (or last) element.

[2022-07-16 07:11] Sboonny opened #46921 "Typo in step 73 buliding skyline hint from new RWD"
### Describe the Issue

there is a typo in cramers-rule challenge, `determinates` is used instead of `determinants` which is wrong

this sentence

should be changed to

Here is the markdown file https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e9911.md

### Affected Pag

[2022-07-16 07:33] #46852 closed

[2022-07-16 08:07] ieahleen commented on #46863
Let's consider even maybe dividing the step into two different one...
step 6: indent one single element
step 7: indent everything else

[2022-07-16 08:16] ieahleen opened #46923 "developmentuser should have keyboard shortcuts already enabled"
### Is your feature request related to a problem? Please describe.

During testing of the local version, it's easier to use keyboard shortcuts to navigate between challenges.

### Describe the solution you'd like

Please let's have the development user having them already enabled.

### Describe alternatives you've considered

![image](https://user-images.githubusercontent.com/26656284/179346758-a2

[2022-07-16 08:31] ieahleen commented on #42294
What version could be requested for the next few steps

Should we maybe publish a new version of the package so to have available for teaching 1.0.0 and like 1.4.23?

[2022-07-16 09:25] vetrisuriya commented on #46912
freeCodeCamp

[2022-07-16 10:21] ieahleen commented on #46843
@ahmadabdolsaheb as you are the designer, maybe you want to say yours?

[2022-07-16 11:11] DeepaPrasanna commented on #46921
Hi, May I work on this issue ?

[2022-07-16 11:15] Sboonny commented on #46921
@DeepaPrasanna of course, feel free to open pull request, after you have read the guide line

[2022-07-16 14:55] #46921 closed

[2022-07-16 16:08] mackotron commented on #46912
Have you tried closing this terminal and opening new one ? I found that, if CodeRoad doesn't open automatically and you open it manually, the terminal which had been open before CodeRoad, doesn't work with it.

[2022-07-16 16:45] vetrisuriya commented on #46912
Thanks buddy it works, thanks for taking your time to reply my issue. Have a nice day.

[2022-07-16 16:46] #46912 closed

[2022-07-16 18:46] Njong392 opened #46930 "Learn Basic CSS by building a cafe menu - step 17"
### Describe the Issue

Instruction requires you to add a self closing link tag, add a rel with value of stylesheet and a href = "styles.css". But test is not passing for some reason.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/step-17

### Your code

[code]

### Expected behavior

Test was suppposed to pass with self cl

[2022-07-16 18:48] Njong392 commented on #46930
And I just wanted to ask this. For the System part of the issue template, if the issue was created based on problems faced by a camper, do I ask them about their device info?

[2022-07-16 19:10] gikf commented on #46930
I'm not able to reproduce the issue.

Generally yes, it might not always be needed, but if the issue is not happening for everybody, specific device, os or browser can play some role in the problem.

[2022-07-17 02:02] jdwilkin4 commented on #46930
HI @Njong392 !

I am also unable to replicate the issue.

Maybe you have a browser extension messing with the tests.
Have you disabled all browser extensions and run the test again?
Or maybe you can run this test in another browser.

I am testing in chrome and it passes for me.

[2022-07-17 06:39] kriscdesign commented on #46810
Creating the habit of frequently saving files is probably a good thing, IMO. I think the bigger problem is that Campers are never even told they should, or even that they **CAN** save their files. I'm pretty sure the button doesn't even exist in most places, even though the save functionality is always there!

[2022-07-17 07:08] gikf commented on #46836
Thank you for reporting this issue.

The origin of the issue should be fixed per https://github.com/freeCodeCamp/boilerplate-express/pull/96

Thank you and happy coding.

[2022-07-17 07:08] #46836 closed

[2022-07-17 07:37] kriscdesign opened #46933 "Can't go to next challenge in New Responsive Web Design"
### Describe the Issue

Successfully checking your code, changing something, then trying to submit and go to the next challenge will do nothing. If someone checks their code for correctness, goes back and removes extra spaces/new lines, they will be stuck!

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design

### Steps to Reproduce

1. Go to any step in the responsive

[2022-07-17 10:10] Sboonny commented on #46933
Couldn't replicate in edge, did you make sure that you undo step 3?

[2022-07-17 10:20] Sboonny opened #46934 "Misleading hint in step 23 at building a quiz project"
### Describe the Issue

there is a misleading hint in [step 23](https://github.com/freeCodeCamp/freeCodeCamp/blob/85b009b308b1beccad0b4f5e7ee302cc396a54a1/curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6143931a113bb80c45546287.md) at building a quiz project, it reads as follows:

it is testing for span closing tag, so the hint should be changed to

[2022-07-17 11:40] ahmadabdolsaheb commented on #45563
Yes for simplicity a dedicated error page and we could display different error messages based on the url parameters.

[2022-07-17 11:50] ahmadabdolsaheb commented on #44827
Thank you for your feedback.

[2022-07-17 12:50] ahmadabdolsaheb commented on #44668
@luka2220 please refer to the Component Library documentation link in the issue description above.

[2022-07-17 12:52] kriscdesign commented on #46933
@Sboonny Oooh, sorry about that. Changed the affected page link to the new RWD

[2022-07-17 14:05] mackotron commented on #46934
Hey, If you mean something like this: `<span class="sr-only">D.O.B.</span>` then it doesn't work, but `D.O.B. <span class="sr-only"></span>` passes. The linked case has been solved and that wasn't the issue.

[2022-07-17 14:18] Sboonny commented on #46934
@mackotron The issue is in the hint, when you type the code, the hint isn't describing correctly what the test is doing.

[2022-07-17 14:45] ahmadabdolsaheb commented on #46857
@naomi-lgbt what would be the best course of action when we need to change a value or remove a key/value pair from the translations.json?

[2022-07-17 15:15] ieahleen commented on #46934
that's the correct code, look at next challenge

[2022-07-17 15:43] #46909 closed

[2022-07-17 15:47] #46934 closed

[2022-07-17 15:49] Sboonny commented on #46934
Oh I see now, thank you @ieahleen, and @mackotron. 😅😳 let me apologize to the guy in the forum real quick

[2022-07-17 15:56] ahmadabdolsaheb commented on #46843
Thanks for notifying me. "Saying 'X of Y Projects Complete" would make sense.

[2022-07-18 05:30] ahmadabdolsaheb commented on #46810
We would need to have a fixed buttons row at the bottom of the description at least to reduce confusion with the current saving implementation.

[2022-07-18 05:37] ahmadabdolsaheb commented on #46646
@naomi-lgbt,  was wondering what you think about Oliver's last comment.

[2022-07-18 11:41] Njong392 commented on #46930
This problem was faced by a camper. I'll just go ahead and close this issue if no one else can reproduce the problem.

[2022-07-18 11:41] #46930 closed

[2022-07-18 12:57] #46933 closed

[2022-07-18 13:33] RandellDawson opened #46941 "Slight change in word for 2nd test of Chain Middleware to Create a Time Server challenge"
### Describe the Issue

I never paid much attention to it before, but after someone tried to add a `setTimeout` of 20 seconds to the [Chain Middleware to Create a Time Server](https://www.freecodecamp.org/learn/back-end-development-and-apis/basic-node-and-express/chain-middleware-to-create-a-time-server) challenge to pass test 2 (shown below), I think we should modify the wording to make it clear,

[2022-07-18 15:34] naomi-lgbt commented on #46857
For changing or removing key/value pairs, you can just make the change in the English file and let the crowdin sync flow clean up the other ones.

[2022-07-18 16:24] ieahleen commented on #46941
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/05-back-end-development-and-apis/basic-node-and-express/chain-middleware-to-create-a-time-server.md

Pl

[2022-07-18 17:32] ShaunSHamilton commented on #46941
I am not sure this wording is much better?

Do we really need to mention the approximation used in the test? That is, can we make it:

[2022-07-18 20:58] RandellDawson commented on #46941
@ShaunSHamilton It may not be much better.

As far as the approximation being used in the text, it has been that way since the curriculum was ported over from the [old curriculum repo](https://github.com/freeCodeCamp/curriculum/blob/dev/challenges/05-apis-and-microservices/basic-node-and-express.json).  I assume it was added to account for some users with slow connections or maybe if someone ran t

[2022-07-18 21:11] RandellDawson opened #46944 "Wrong test number referenced in Run Functional Tests Using a Headless Browser II challenge"
### Describe the Issue

Two of the typos are minor but one could be confusing
In the first paragraph of the instructions (see below), there is a reference to

The actual test number to change is `#6` and not `#5`, so it should be changed to reflect this.

### Affected Page

https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-hea

[2022-07-18 21:14] RandellDawson commented on #46941
I am with you now.

Whoever takes this issue on, please change the text to reflect @ShaunSHamilton's suggestion shown below:

[2022-07-18 21:55] mackotron commented on #46944
Hey, I created pull request for this issue.

[2022-07-19 00:25] michaelteye opened #46946 "FreeCodeCamp social media links can be included on both the header and the footer"
### Is your feature request related to a problem? Please describe.

Including a social link in the header(navbar)will enable sponsors and students to know more about the community with the help of social media.

### Describe the solution you'd like

Including a social link in the header(navbar)will enable sponsors and students to know more about the community with the help of social media.

### De

[2022-07-19 09:32] masterX89 opened #46949 "`task.once` is invalid in worker-executor.js"
## Describe the bug

`task.once` is invalid in `client/src/templates/Challenges/utils/worker-executor.js`.

## To Reproduce

1. add a test in `client/src/templates/Challenges/utils/worker-executor.test.js`

[code]

2. run this test

3. If `task.once` works well, then `handler` will be called just once.

4. However, `handler` is called twice time.

## Expected behavior

`handler` should only be cal

[2022-07-19 10:11] raisedadead commented on #17834
Thanks for commenting. I have requested Quincy to address this.

[2022-07-19 10:38] raisedadead commented on #46923
This should be it:

https://github.com/freeCodeCamp/freeCodeCamp/blob/8f19b1926bc51c0149254fdd7a86ecb0708c6dd2/tools/scripts/seed/seedAuthUser.js#L88

[2022-07-19 10:47] ojeytonwilliams commented on #46949
Thanks for the report @masterX89. I'm not aware of any serious side effects of this bug, but I agree that `once` is not behaving as expected.

That said, I think `task.done` is fine as is: I don't believe we will want to respond more than once to 'done' or 'error'.

Would you be interested in creating a PR fixing the `removeListener` call? Then we can investigate and make sure there are no bad sid

[2022-07-19 11:03] ojeytonwilliams commented on #46949
It's a tricky one to migrate - I tried myself and it was a bit of a mess.  However, with your changes the number of arguments should match up, so that should help the migration.

[2022-07-19 11:22] ahmadabdolsaheb commented on #46530
It seems like we need to be looking for a "namely being sans-serif, fixed-width, slashed zero, and sufficient differentiation between the characters 1, l, |, and I." Here is a helpful [thread](https://ux.stackexchange.com/questions/46142/need-a-font-with-unambiguous-letters-for-commonly-confused-characters).

At the same time, we could see if the vscode or monaco editors' default fonts meet our cr

[2022-07-19 11:26] ahmadabdolsaheb commented on #41255
I tried coderadio on multiple iPhone devices with different installations of Safari and was not able to reproduce it; therefore, I am closing this pr due to inactivity for the time being.

If a you are still experiencing the issue, we would appreciate you providing as much context as possible to reproduce it.

[2022-07-19 11:28] #46885 closed

[2022-07-19 11:32] #41255 closed

[2022-07-19 11:42] masterX89 commented on #46949
sorry, I just misunderstood your meaning.

If I just fix `removeListener` to `self.removeListener(event, handler)` then it works and will really remove handler.

Then the following tests will throw errors (expected: 1, received: 0) in this line `expect(handler).toBeCalledTimes(1)` because handler has been removed when `task.done`:
- Worker executor should successfully execute one task
- Worker exe

[2022-07-19 12:08] moT01 commented on #46910
At least a few of the remaining boilerplates need the dependencies added to the package - and the instructions that tell users to install them need to be removed on /learn - similar to the mongo boilerplate we did.

[2022-07-19 12:23] #46944 closed

[2022-07-19 12:46] ahmadabdolsaheb commented on #46946
Thank you for the feature request. Since there is a link to our moderated community (forum) in the main menu, having links to other social media is not a priority for now.  As a result I will be closing this issue.

[2022-07-19 12:46] #46946 closed

[2022-07-19 13:47] ojeytonwilliams commented on #46949
Thanks for explaining. The tests failing aren't surprising, but the concern is: do these broken tests represent new bugs or were the tests broken in the first place?

[2022-07-19 16:41] lasjorg opened #46955 "Building a Rothko Painting - move syntax example from step 35 to step 34"
### Describe the Issue

It would make more sense for step 34 to have the filter syntax example, instead of it showing up in the next step.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-34

### Your code

[code]

### Expected behavior

Explain and show the syntax.

### Screenshots

_No response_

### Syst

[2022-07-19 18:11] bbsmooth opened #46957 "Reg Form Step 30: Options are not required to be in the select"
### Describe the Issue

Had a user in the forum who was able to pass this step with the following HTML:

[code]

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-forms-by-building-a-registration-form/step-30

### Your code

See above.

### Expected behavior

I'm guessing the tests are just checking if the `select` element is nested in the `label` and the

[2022-07-19 19:55] naomi-lgbt commented on #46646
The challenge then would be to run it through crowdin without overwriting the keywords

[2022-07-20 06:53] masterX89 commented on #46949
Thanks for sharing idea , I figure it out.
I should reduce `index` and `length` in the `emit` because it may call `Array.prototype.splice` in `removeListener`

[2022-07-20 07:27] ojeytonwilliams commented on #46949
Awesome, I'm glad you were able to figure it out - that file is pretty confusing.

[2022-07-20 14:15] scissorsneedfoodtoo commented on #42294
The current plan is to create and publish a new package under the freeCodeCamp org on NPM (a simple example like Hello World?) and use that in the challenge, rather than the [freecodecamp](https://www.npmjs.com/package/freecodecamp) package, or Moment.js.

[2022-07-20 14:38] #43485 closed

[2022-07-20 15:05] moT01 commented on #44192
This issue is changed to focus on adding instructions. The [multiplayer game](https://www.freecodecamp.org/learn/information-security/information-security-projects/secure-real-time-multiplayer-game) doesn't really have any instructions so users don't know what to do. The other JS projects in this area do - see the [stock price checker](https://www.freecodecamp.org/learn/information-security/inform

[2022-07-20 15:11] QuincyLarson opened #46965 "Certification printing / saving as PDF not formatted correctly"
**Describe the bug**
Certifications are not correctly formatting when downloading / printing.

**To Reproduce**
Steps to reproduce the behavior:
View a certification. For example: https://www.freecodecamp.org/certification/mainlycoding/javascript-algorithms-and-data-structures

Then right click save as PDF or print. You will see the formatting jumbled, despite efforts to manually resize. The signa

[2022-07-20 15:34] moT01 commented on #46824
Since we have [this other issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/46910) to track all the node boilerplates, I think we can probably close this when we fixed up all the python projects. We could do another quick audit of those to make sure we got them all, and close this I think.

[2022-07-20 15:42] ShaunSHamilton commented on #46965
Sounds like the fix for this might require some research into [`<link media="print" />`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link). _That is just my initial suggestion_

---

An issue with the _help wanted_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributo

[2022-07-20 15:43] naomi-lgbt opened #46966 "Discussion around handling English fallback of i18n challenges"
This came up in our issue triage meeting, but to prevent the conversation getting lost I'm creating an issue thread.

## Current Issue

When we modify the order of the English curriculum in a way that results in new files being added, running an i18n build will error out if the changes haven't been synced to that language. This means we can not rely on our CI on the `main` branch to indicate the s

[2022-07-20 15:51] raisedadead commented on #46966
I think both of these are reasonable.

Plus, I think with the ongoing decoupling and containerization, we do not have to build all the languages in lockstep with one another like we are with our Pipelines right now.

[2022-07-20 15:54] ojeytonwilliams commented on #46966
I don't think that alone is enough.  The problem last time was that the new challenge did not have a 100% proofread version, so the sync did nothing.

[2022-07-20 15:58] naomi-lgbt commented on #46966
We can change that in the configuration to allow non-translated files to download, but it'll slow things down.

[2022-07-20 16:06] ojeytonwilliams commented on #46966
If it's not prohibitively slow, that's probably the way to go.  If it *is* slow, how about doing it on demand when we want to clear a path for deployment?

[2022-07-20 17:14] sarah681 commented on #7492
// Example
var ourStr = "I come first. " + "I come second.";

// Only change code below this line

var myStr = "This is the start sentence, " + "This is the end sentence. ";

(myStr should have a value of This is the start sentence. This is the end sentence.
Use the + operator to build myStr( I'm getting this error what can I do))

[2022-07-20 19:42] Sboonny opened #46970 "Missing period at the end of setup mobile app locally document"
### Describe the Issue

in the docs, there is a line that is missing period at the end of it.

These should have period in the end of it

Here is the markdown file [/docs/how-to-setup-freecodecamp-mobile-app-locally.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/b0faf882e1a603144d19d17248b0f7424f010f44/docs/how-to-setup-freecodecamp-mobile-app-locally.md)

### Additional context

Please mak

[2022-07-20 20:10] adity2911 commented on #46970
I will work on that

[2022-07-20 20:10] bbsmooth opened #46972 "Indroductory course on how to use FCC?"
### Is your feature request related to a problem? Please describe.

Has the topic of creating a quick introductory course on how to use FCC ever come up? It feels like a lot of the issues that keep coming up over and over again in the forums could potentially be avoided if FCC offered a quick intro course that taught people how to use the system and also made them aware of the common pitfalls that

[2022-07-20 20:31] anlach commented on #45922
Hey guys - nobody has responded to the PR, and I didn't name the branch properly, so I made a new PR: https://github.com/freeCodeCamp/testable-projects-fcc/pull/1485

[2022-07-20 22:48] wschuz commented on #46863
Spacebar twice.
Make sure you press the spacebar twice on every line inside the main element

[2022-07-20 22:55] jeremylt commented on #46863
The flood of step 6 requests for help is still coming. It would be good to try *something* - we can always iterate more in the future. How about this:

With the seed code:

[code]

[2022-07-20 23:35] bbsmooth commented on #46863
@jeremylt , I'm basically on board with you. I do think that the word "indentation" is causing trouble for ESL campers and we should define it a little better as @lasjorg recommended above. Perhaps this for the first paragraph:

Would anyone object if I opened a PR on this with @jeremylt's latest suggestion and my change here?

[2022-07-21 00:41] jdwilkin4 commented on #46972
If it were to be a video course, it would get a lot of views on the youtube channel. Maybe Ania or Beau could do it and it would be really popular.

An article on the fcc news publication would work.
Plus it could be translated into the other non english news publications too.

[2022-07-21 00:43] jdwilkin4 commented on #46863
No objections here 👍

[2022-07-21 11:47] chibuikes opened #46975 "Code snippets do not fit into code editor on phone"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.
For some reason my code in the editor does not fit into the screen anymore. It is out of the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2022-07-21 14:46] naomi-lgbt commented on #46972
The challenge with a video course is that they are remarkably difficult to update.

[2022-07-21 15:16] #46923 closed

[2022-07-21 16:17] Sboonny opened #46977 "Typo in language lead handbook"
there are two typos in the file

- [ ] a typo in this line, `there two places` should be `there are two places`, here is the line

https://github.com/freeCodeCamp/freeCodeCamp/blob/d0e42982f070e9ec8ba95be308af1ea090384421/docs/language-lead-handbook.md#L34

- [ ] a typo in this line, `settngs` should be `settings`, here is the line

https://github.com/freeCodeCamp/freeCodeCamp/blob/d0e42982f070e9e

[2022-07-21 16:49] jdwilkin4 commented on #46972
From my experience from helping people on the forum, I think a lot of people are very intimidated to start learning programming.  I don't think it is always that the site is hard to navigate but rather people feel more comfortable getting started with a video.
Videos like this already exist through non freecodecamp accounts.
https://www.youtube.com/watch?v=9DCpQG1KVGk

After reading through those

[2022-07-21 17:14] #46970 closed

[2022-07-21 17:21] sanwalkhan commented on #8609
$("h3").html("<em>#target4</em>");

[2022-07-21 17:26] Nishant-96 commented on #46977
Can i take this issue?

[2022-07-21 17:26] yasindce1998 commented on #8609
Getting messages after 4 years 😂😂

[2022-07-21 17:29] Sboonny commented on #46977
@Nishant-96 feel free to open pull request, after you have read our guidelines

[2022-07-21 17:40] lawfets opened #46978 "Problem step 6 new responsive web design? CAMPER CAFE"
### Describe the Issue

when putting the opening en closing tag p on differnt lines from Est. 2020. I get a failure response although this seems to be acceptable in html.

Only when I put both p tags on the same line as Est. 2020, I get the answer right.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/step-6

### Your code
[

[2022-07-21 18:29] Sboonny commented on #46978
This error happens because regex is expecting the value to be in that form, as shown in the code below.

https://github.com/freeCodeCamp/freeCodeCamp/blob/f0e4131f9dac8ec449cec6289e6227382739d8d7/curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f332a88dc25a0fd25c7687a.md#L38-L42

We can change regex, but I prefer using DOM instead because it will a

[2022-07-21 18:50] hrittik2002 commented on #46977
I have fixed both the typo errors. Can you accept my PR

[2022-07-21 21:06] bbsmooth commented on #46975
@chibuikes Could you be very specific here and tell us exactly where you go to trigger this issue? Giving us a link to the specific challenge would be best, but if not possible then tell us exactly which course and which challenge/step it is.

[2022-07-21 21:41] RandellDawson commented on #46675
Where will float be taught?  It was decided over 2 years ago that we still needed to teach float so when users come across it in other code, they will understand how it works.

[2022-07-21 21:42] RandellDawson commented on #46814
@ojeytonwilliams ???

[2022-07-21 21:54] RandellDawson opened #46982 "Incorrectly indented code in steps 12 through 89 of the Learn Intermediate CSS by Building a Picasso Painting project"
### Describe the Issue

I came across [this forum topic](https://forum.freecodecamp.org/t/why-div-does-not-have-closing-tags/532489) where the user was confused about opening/closing tags for `div` elements.  After looking at step 12 of the project, I noticed the starting code for step 12 (the solution for step 11) added an indentation of 4 spaces not needed for the `<div class="characters">`.  Al

[2022-07-22 01:52] emcode93 commented on #46982
I discovered this issue and would love to help fix it!

[2022-07-22 05:47] bbsmooth commented on #46593
@ShaunSHamilton I think we would need to add more to the descriptions because we would need to tell the user to add an `id` to the `input` and a corresponding `for` attribute to the `label`. Or I suppose we could just automatically add them behind the scenes but I'm not sure that wouldn't cause more confusion than it's worth. As you know by now, I'm a big accessibility advocate and I will almost a

[2022-07-22 06:54] Njong392 commented on #46972
Then perhaps a static site or article would be preferable in this case? It'll be easier to update, and this is better in my opinion because it could get translations so that many people can access it (as mentioned above)

[2022-07-22 09:23] scissorsneedfoodtoo commented on #46824
Hi everyone, thank you all for your help digging into this and for your updates to the different boilerplate repos.

To make things a bit easier to audit, I renamed this issue so, along with general discussion on dependency handling, we can track the update status for the Python project boilerplates.

## Scientific Computing with Python ✅

[Arithmetic Formatter](https://www.freecodecamp.org/learn/

[2022-07-22 10:10] Sboonny commented on #46982
Here is the markdown file https://github.com/freeCodeCamp/freeCodeCamp/blob/93b3151cca51becd237c3a58083f99a02b5059fb/curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-picasso-painting/60b69a66b6ddb80858c51582.md

this issue requires changing the seed contents, especially these lines

https://github.com/freeCodeCamp/freeCodeCamp/blob/93b3151cca51becd237c

[2022-07-22 10:11] ieahleen commented on #46982
@emcode93 issues are not assigned, feel free to open a PR

@hrittik2002 don't trust PR titles, there isn't such a folder, the steps are in curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting
Please read the contributing guidelines at contribute.freecodecamp.org

[2022-07-22 10:15] ieahleen commented on #46982
@Sboonny you have linked only one step, but this issue is for all the steps between 12 and 89

[2022-07-22 10:19] gikf commented on #46824
There are two more python projects in the Information Security, but they also don't need additional dependencies.

[2022-07-22 10:47] Sboonny commented on #46982
thank you @ieahleen, I have edited my original comment

[2022-07-22 10:56] scissorsneedfoodtoo commented on #46824
Gah, I knew I missed a couple.

Thanks for catching those, @gikf. I'll go ahead and add them to the list, too.

[2022-07-22 12:01] ieahleen opened #46987 "challenge-editor should be documented"
challenge-editor should be added to the "How to work on practice projects" documentation here: https://contribute.freecodecamp.org/#/how-to-work-on-practice-projects

[2022-07-22 14:27] #46163 closed

[2022-07-22 15:17] SaintPeter commented on #46675
I'm not where where it should be taught.  It should be taught the way it is currently intended to be used: for inline elements that need text to flow around them.  A news article with an image on the side which the text wraps around is ideal.  The way it was historically used (like in this exercise) is kinda a bastardization of it's intended function.

[2022-07-22 16:01] miyaliu666 opened #46992 "Update the forum link for "Ask for Help" button in Chinese curriculum"
The Chinese forum has been moved to https://forum.freecodecamp.org/c/chinese/533, and the links in the curriculum should be updated.

[2022-07-22 16:47] RandellDawson commented on #46982
This would be much easier to fix using the Challenge Editor.  @ieahleen created [an issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/46987) to have instructions for using it added to the [How to Work on Practice Projects](https://contribute.freecodecamp.org/#/how-to-work-on-practice-projects?id=how-to-work-on-practice-projects) guide.

[2022-07-22 17:30] raisedadead commented on #46992
I have updated the keys, and the builds should be out in a while on production. @naomi-lgbt can you help check if that worked or we need more changes?

[2022-07-22 17:32] naomi-lgbt commented on #46992
I'll follow up once the deployment completes!

[2022-07-22 17:59] naomi-lgbt commented on #46987
I'll tackle this today.

[2022-07-22 18:51] bbsmooth commented on #46675
I'll throw a wrench into this discussion and make a case for using float in this heading (at least the way it is currently marked up). And of course because it's me you have to know that it's accessibility related. Using the NVDA screen reader, when navigating the page by up/down arrow, if you use flex to align "Calories" and "230" then it will read them as separate `h1` headings. For example, if

[2022-07-22 19:15] bbsmooth commented on #46530
I'm using the following string for testing:

`0 O 1 l | I`

The font we are using for monaco does not pass. No slashed zero and the lowercase letter `l` looks too much like the number 1.

I will start testing fonts and report back with my findings.

[2022-07-22 19:56] naomi-lgbt commented on #46992
<img width="568" alt="image" src="https://user-images.githubusercontent.com/63889819/180517837-a15a5845-2401-4af3-ab16-9a152bb81e52.png">

I can confirm that the Ask for Help button points to the right location now.

[2022-07-22 20:14] #46992 closed

[2022-07-22 21:07] Sboonny opened #46994 "Typo in building a picasso painting step 50"
### Describe the Issue

There is a typo in learn-intermediate-css-by-building-a-picasso-painting, `elemnts` is used instead of `elements`.

Here is the typo

https://github.com/freeCodeCamp/freeCodeCamp/blob/84a41308c02ce4fac2b0db6a23ac21e9ba1590a0/curriculum/challenges/english/14-responsive-web-design-22/learn-intermediate-css-by-building-a-picasso-painting/60b69a66b6ddb80858c515a7.md#L14

Here i

[2022-07-22 21:23] anoopano commented on #46994
can i take this up

[2022-07-22 21:26] Sboonny commented on #46994
@anoopano feel free to open pull request after you have read the guidelines

[2022-07-22 23:26] RandellDawson commented on #46675
`Side note: Also, there are two h1s in this markup. While not technically an accessibility violation it is not a best practice and and I think we actually note this in a previous course.`

Yes we do.

[2022-07-23 01:26] lasjorg opened #46997 "Building a quiz step-30: Missing ids on input elements"
### Describe the Issue

It doesn't seem intended as the following step has specific for/id attributes.

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-30
https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-31

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/

[2022-07-23 05:43] chibuikes commented on #46975
Javascript  algorithm and data structures certification exam ,cash register(),this is where it started from. You don't actually need a picture but I will still send one. The problem is that my codes in the code editor doesn't fit into my screen, that is, I have to scroll horizontally when I want to read my code,instead of vertically.
This problem is now on all of the code editors in my freecodecam

[2022-07-23 05:51] bbsmooth commented on #46975
@chibuikes Try this. In a blank space in the editor, hold your finger down on the screen for a good second and then let up. You should see a pop-up menu. Select the Command Palette at the bottom. In the search box that show up, type start typing "Toggle Accessibility". At some point it should narrow down to one option. Select that option and see if that doesn't fix your problem.

[2022-07-23 05:55] chibuikes commented on #46975
Ok,I will try this now. also please how do I send pictures?

[2022-07-23 05:57] chibuikes commented on #46975
Ok,I will try this now. also please how do I send pictures?

[2022-07-23 05:57] chibuikes commented on #46975
Problem solved . Thank you!

[2022-07-23 05:58] bbsmooth commented on #46975
You had accidentally turned on accessibility mode for the editor. This mode is primarily for people who use screen readers and it is much easier to use a screen reader with the editor if the lines don't wrap.

[2022-07-23 05:59] #46975 closed

[2022-07-23 08:50] ashwathhalemane commented on #46977
I was about to take up this task, but later I understood this is closed, can this PR be closed if merged?

[2022-07-23 09:25] Sboonny commented on #46977
Yes the is will close with @Nishant-96 pull request

[2022-07-23 10:57] ieahleen commented on #46675
The steps to change would probably be from 23 onward, particularly:

- [ ] step 23 float is used for the first time for class `.right`
- [ ] step 25 makes h1 selector more specific, not needed if there is only one h1
- [ ] step 32 creates a new h1 - it should be a h2 and see https://github.com/freeCodeCamp/freeCodeCamp/issues/46675#issuecomment-1192850012 for the content
- [ ] step 33 styles the s

[2022-07-23 12:36] ieahleen commented on #46997
the tests do not require a specific id, it is I think left to the user to remember how to link a label and an input together

like most of the project it's all "choose what you want there"

[2022-07-23 12:43] ieahleen opened #47009 "Typo in step 22 of registration form practice project"
In the file curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f85a62fb30c80bcea0cedb.md

https://github.com/freeCodeCamp/freeCodeCamp/blob/b22f28d7738099ba2b1a8fd0e058ecc8f0dd05c5/curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f85a62fb30c80bcea0cedb.md?plain=1#L10

There is a ty

[2022-07-23 13:13] ieahleen opened #47010 "CatPhotoApp Step 12 is not clear"
There are many users every day having issues with this step.

I have no idea what could be changed, but something would need to be changed

[2022-07-23 14:36] SaintPeter commented on #46675
I'm less concerned about the specific markup and more concerned that we use the proper tool for the job. Flexbox has the advantage of not requiring "magic numbers" in the CSS to fix optical alignment issues.

To @bbsmooth’s point, using a h1 to hold the value is probably semantically wrong, which results in a confusing accessibility experience.

A definition list (`dl`,`dt`,`dd`) for the entire ta

[2022-07-23 14:50] ShivamMadlani commented on #47009
I would like to work on this

[2022-07-23 14:52] RandellDawson commented on #47009
@ShivamMadlani Go for it.

[2022-07-23 15:07] lasjorg commented on #46997
In my opinion, that doesn't really make much sense seeing as the seed code in the next step has the `id` and `for` attributes set to specific values. It also makes the instructions and seed code look incomplete. I would suggest adding the ids to the elements in the sed code or giving them as part of the challenge text.

The point of the challenge is to connect the labels to the inputs using the `f

[2022-07-23 15:13] #46982 closed

[2022-07-23 15:37] Sboonny commented on #47010
We can make it two steps one adding a link and the other deleting it

[2022-07-23 16:24] JohnathanTWebster commented on #47009
Added updated wording and is linked to issue.

[2022-07-23 16:26] #46994 closed

[2022-07-23 16:58] bbsmooth commented on #47010
I think one of the causes for confusion with this step is that this is the first time we are really asking them to embed one element within another and they don't realize they can do that. Granted, they have been embedding elements within elements all along, but each element they have added up to this point has taken up the entire line. So I could see that they may think you can only have one elem

[2022-07-23 21:23] RandellDawson commented on #47009
We have two pull requests with the same change.

[2022-07-24 04:43] Sboonny opened #47015 "Missing code block around the hint in step 21 of building a piano project"
### Describe the Issue

in step 21 of building a piano project, the hint in line 30 is missing code blocks

This should be changed to

https://github.com/freeCodeCamp/freeCodeCamp/blob/343b7f70eede56860097df1ea7a9f9d60146ee7e/curriculum/challenges/english/14-responsive-web-design-22/learn-responsive-web-design-by-building-a-piano/612eaf56b7ba3257fdbfb0db.md#L29-L31

### Additional context

If you

[2022-07-24 05:59] edmechem commented on #15027
After puzzling & trying different browsers (Firefox, Brave, Chrome) & searching and finding various forum posts & Github commit comments, I eventually found this – and came here to echo this.

The keyboard shortcut description on the `Check Your Code ` button should be platform specific.
It currently isn't – and is thus frustratingly incorrect, on Macs.

It should stay the same, i.e. `Check Your C

[2022-07-24 06:23] DylanDevelops commented on #47015
I believe I did all this right. This is my first time contributing to open source. Very exciting :))

[2022-07-24 07:47] ieahleen commented on #46997
Like this one says "place a question..."
https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-28

And in the next one the seed code has a specific question in it

[2022-07-24 08:09] ieahleen commented on #46955
Yes, that totally needs to be done

what about step 35? there I think the example is to remind people how to give same rules to multiple selectors. Should that be removed? double blur example?

[2022-07-24 08:12] #47015 closed

[2022-07-24 08:35] #47009 closed

[2022-07-24 09:43] #44192 closed

[2022-07-24 10:00] ieahleen commented on #46091
As no one has been able to reproduce this issue, I am closing this.

If this issue presents again, this can be reopened.

[2022-07-24 10:00] #46091 closed

[2022-07-24 10:00] ieahleen commented on #45949
the settings has changed since then. is this still an issue?

[2022-07-24 10:01] ieahleen commented on #45797
@scissorsneedfoodtoo any updates on this?

[2022-07-24 10:07] ieahleen commented on #45096
The ferris wheel and penguin projects have been switched, so I am closing this as fixed.

If you think this is still an issue please let us know and this can be reopened.

[2022-07-24 10:07] #45096 closed

[2022-07-24 10:11] ieahleen commented on #44923
We would want to remove the images alltogether, or add them to challenge description?

[2022-07-24 13:05] Jagrutiti commented on #46843
Hey everyone,

I looked up this issue and went through the code.

From `getCompletedPercent()` I learn that the message could be a combination of two variables used in the same function. Something like this:

` Completed ${completedChallengesInBlock.length} of ${currentBlockIds.length} challenges`

`getCompletedPercent()` returns a number so I do not want to change that.

My approach would be to w

[2022-07-24 13:12] JohnathanTWebster commented on #46593
Does this still need to be implemented? I know that the new course is out now so wanted to verify before looking further into this issue.

[2022-07-24 13:16] Sboonny commented on #46593
@JohnathanTWebster this issue is in the new RWD course

[2022-07-24 13:21] JohnathanTWebster commented on #46593
@Sboonny Okay, I can take a look. Since the concept is mentioned early on in the course I can start adding "for" in the labels.

[2022-07-24 13:55] moT01 commented on #45949
The settings did change, but I still think it looks a little rough:
![Screen Shot 2022-07-24 at 8 30 09 AM](https://user-images.githubusercontent.com/20648924/180650292-0f866ffa-4347-4f42-af1b-f336ae732d54.png)

I suggested turning this area into a table, like the timeline - what do you think about that @ieahleen?

[2022-07-24 14:25] ieahleen commented on #45949
I don't have a preference, personally, I was just looking to see if the issue could be closed or it still needs to be solved

[2022-07-24 14:26] ieahleen commented on #46843
It could work, just keep in mind that the string needs to be translatable, so you can't hardcode it there

[2022-07-24 14:43] lasjorg commented on #46997
But to me, you are pointing out more issues and not reasons why it should be like that. Just because other steps are poorly constructed doesn't mean they have to be. It seems to be one of the cases also pointed out by campers on the forum where the instructions are lacking and not in line with how challenge steps should be constructed.

It just feels like a lack of QA to me.

[2022-07-24 14:47] lasjorg commented on #46955
Not sure if we need a selector list example as long as the hint text shows the selector. But I would like for the hint text to actually specify it as a selector list.

[2022-07-24 14:54] Jagrutiti commented on #46843
Where do  I put the text that needs to be hard coded?

[2022-07-24 15:07] ieahleen commented on #46843
You can't hardcode it, you need to add it to `translations.json` and use the translation function to retrieve it, like it's done for any text, for example
https://github.com/freeCodeCamp/freeCodeCamp/blob/530737f9cc4a7827366f1d43db563a6c93cb4a92/client/src/templates/Challenges/components/completion-modal.tsx#L265

which are here:
https://github.com/freeCodeCamp/freeCodeCamp/blob/530737f9cc4a782736

[2022-07-24 15:13] ieahleen commented on #46997
It was more a "if that needs to be fixed, then this also needs to be fixed". We should follow the same approach for all the project

[2022-07-24 15:22] lasjorg commented on #46997
So do you agree that the instructions seem a bit rushed and not fully fleshed out? If so they should be corrected, should they not?

[2022-07-24 15:30] ieahleen opened #47021 "Remove type coercion when get-words.js is migrated"
the file was migrated, so now this can be solved:

https://github.com/freeCodeCamp/freeCodeCamp/blob/530737f9cc4a7827366f1d43db563a6c93cb4a92/client/src/components/FourOhFour/index.tsx#L12-L41

[2022-07-24 17:30] #46863 closed

[2022-07-24 17:39] Dark2412 opened #47023 "Link redirects to porn website"
### Describe the Issue

![Screenshot 2022-07-24 193428](https://user-images.githubusercontent.com/97246023/180659206-d01d80aa-f228-4c19-a986-e3e6f8460f4d.png)

In step eight of the Responsive Web Design course ( " Create a cat photo app" is a link. If you paste it in your browser with a german ip, you get redirected to a p*rn website. This should be fixed soon  xD

### Affected Page

https://www.f

[2022-07-24 19:55] JohnathanTWebster commented on #46593
Maybe I need further clarification. After going through all the "Learn Accessibility by Building a Quiz" steps I am unable to locate where "for" is missing in the labels. Starting from step 21 and throughout the curriculum the labels are all populating with the correct "for" descriptions. I have also run the site in accessibility mode, NVDA as I am using windows 10, and the narrator is correctly i

[2022-07-24 20:03] Sboonny opened #47024 "Missing code block on step 4 of building a balance sheet"
### Describe the Issue

in step 4 of building a balance sheet, the hint in line 16 is missing code blocks

This should be changed to

https://github.com/freeCodeCamp/freeCodeCamp/blob/85a110e2642eee73f94b450ddf5ddff9c13854db/curriculum/challenges/english/14-responsive-web-design-22/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/61fd67a656743144844941cb.md#L16

### Additional con

[2022-07-24 20:40] AlexMNet commented on #47024
I can take care of this!

[2022-07-24 20:53] bbsmooth commented on #47010
Here's some more common mistakes:
- They add the link with the "cat photos" text at the very end of the sentence, thus duplicating "cat photos" in the sentence.
- They add the link with the "cat photos" text but delete the rest of the sentence so that the only text in the `p` is "cat photos".
- The add the link correctly but include the period inside the anchor tags.

[2022-07-24 22:14] DylanDevelops commented on #47023
I can try to fix this but I'll let you guys know if I can't figure it out.

[2022-07-24 22:17] DylanDevelops commented on #47023
This is not recreating for me. I used a VPN and connected to Germany but it just goes to this site so I'm not sure if this is just something affecting you.

<img width="1512" alt="Screen Shot 2022-07-24 at 4 17 24 PM" src="https://user-images.githubusercontent.com/48571264/180667982-529ccfe7-fb05-4ee3-9908-ec0992976100.png">

[2022-07-24 22:37] DylanDevelops commented on #47023
I ended up recreating it and it didn't direct me to a p*rn website but it did direct me to scam websites so I changed the link and hopefully it should be fixed. Thanks for noticing this!

[2022-07-24 23:48] AlexMNet commented on #47023
It also didn't redirect me to a p*rn site.

[2022-07-25 01:14] JohnathanTWebster commented on #46593
Yeah, I am gonna need a little help with where to start on this. Where is the HTML being formatted from Mark Down? I have spent the majority of today trying to figure that out but have gotten lost.

[2022-07-25 01:23] DanielFacchiano opened #47028 "24 Game is missing answers."
### Describe the Issue

There are tons of different ways to write this algorithim, that will come up with tons of different variations of the acceptable equation that reaches 24.
My algorithim came up with the following solutions:
for set 4878 my algorithm returns 7 * 8 - 4 * 8 which is 24, but that will fail the test
for set (1234) my algorithm returns ( 3 + ( 1 + 2 ) ) * 4 which is 24, but will

[2022-07-25 03:06] SaintPeter commented on #47023
I got redirected through several sites and landed on a faux Google.

Bottom line: we should use something like example.com which is specifically designed for usage like this. Alternately, we should use a domain owned and controlled by fCC.

[2022-07-25 04:39] #47024 closed

[2022-07-25 04:40] AlexMNet commented on #47023
That's a great idea @SaintPeter

[2022-07-25 06:40] ieahleen commented on #46997
No, I don't have an opinion either way.

It's just that if that is too vague, there are many other places in the projects that are too vague. I was bringing more details.

[2022-07-25 06:53] DylanDevelops commented on #47023
I'll implement this now. Thanks fo the suggestion!

[2022-07-25 07:16] shootermv commented on #44668
Hi! Can i try to work on FdropdownButton component?

[2022-07-25 08:07] #46977 closed

[2022-07-25 09:36] Sboonny commented on #46593
@JohnathanTWebster there is a ci tool that take care of this, you can follow the instruction mentioned in this pull request.

Other than that, it's best to use search function on your Text editor.

Here is the markdown file https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145e6eeaa66c605eb087fe9

[2022-07-25 13:09] JohnathanTWebster commented on #46593
@Sboonny thank you. I will look into this further. I checked the documentation site for how to "edit" but there were only steps on how to create new challenges.

[2022-07-25 14:04] ieahleen commented on #43289
for the new responsive web design, it even just say "This is a test for the new project-based curriculum."

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app

[2022-07-25 14:05] ieahleen commented on #43289
for the new responsive web design, it even just say "This is a test for the new project-based curriculum."

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app

[2022-07-25 16:32] jeremylt commented on #47010
One thing that I noticed is that our description of Step 6 less obviously calls out the nesting as a concept, which might be contributing to the confusion

[2022-07-25 17:09] #44901 closed

[2022-07-25 17:47] #47023 closed

[2022-07-25 17:53] #44638 closed

[2022-07-25 17:54] Sboonny opened #47037 "Reduce require submit times needed to show reset the code button"
### Is your feature request related to a problem? Please describe.

In forum, people come frustrated, I think when they have the ability to reset their steps early, it will reduce that frustration.

### Describe the solution you'd like

Show reset button after one click.

Seeing `reset` button showing after one click, will make it look like we are offering tools if they need them, instead of block

[2022-07-25 17:57] bbsmooth commented on #47037
Agreed. I've had to tell several people in the forum that they need to keep clicking the Check Your Code button in order to get the Restart button.

[2022-07-25 18:28] ieahleen commented on #46501
Pocket guide says ([here](https://help.getpocket.com/article/1077-what-is-article-view)

Someone may try to reach out to Pocket support to see if it's their software that needs adjusting or if something can be done on this side

[2022-07-25 21:11] #46354 closed

[2022-07-25 21:20] ilenia-magoni opened #47038 "data analysis with python projects are not i18n friendly"
Continuing from https://github.com/freeCodeCamp/boilerplate-medical-data-visualizer/pull/18#discussion_r929168245 by @naomi-lgbt

All the projects in this certification (somewhere else too maybe?) have many comments inside the boilerplate, resulting that it is missing in i18n.

Project description + boilerplate should be reworked to make so that all the indications are available in the curriculum

[2022-07-26 01:24] JohnathanTWebster commented on #46593
Before moving forward, as it was mentioned in the initial post, here are a couple samples I would like to review. The first sample is with 1:1 naming meaning the same name as the entered text.

[code]
Personally I am not a fan of the wordy formatting only because the auto wrapping for the site gets really crowded. Though, the descriptions are more informative.

The second example is less wordy/inf

[2022-07-26 02:22] scissorsneedfoodtoo commented on #45797
@ieahleen, no, I haven't heard back from the author about this article yet, and haven't had time to dig into Go and the packages myself yet.

It's on the list of things to do, but if you'd like to take a crack at it, please feel free.

[2022-07-26 03:17] Sboonny commented on #46593
I prefer the second but without capitalizing first latters, because it's the same style as the one used in previous steps.

[2022-07-26 03:25] JohnathanTWebster commented on #46593
Okay, I'll continue with the second without capitalizing the first letters

[2022-07-26 09:43] ieahleen commented on #47038
it's the Quality Assurance - Quality Assurance and Testing with Chai section!

For these we could implement something of this kind.

[2022-07-26 09:47] ieahleen commented on #47028
This is the file https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/10-coding-interview-prep/rosetta-code/24-game.md

At this point I don't know...
1. check it contains the required numbers
2. use `eval` or something? to check that it actually results to 24?

[2022-07-26 09:47] ieahleen commented on #47028
cc/ @jeremylt

[2022-07-26 13:39] ahmadabdolsaheb commented on #44668
@shootermv, yes please.

[2022-07-26 15:31] RandellDawson opened #47044 "Arguments Optional missing a valid test case that would cause existing Guide solutions to fail"
### Describe the Issue

I was looking at the existing solutions in the Guide for the [Arguments Optional](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/arguments-optional) challenge and noticed if we added the following valid test case, both Guide solutions would fail.  For this test case, they should return `undefined` but instead re

[2022-07-26 15:50] jeremylt commented on #47044
I tweaked the guide solutions for correctness. I don't have any objection to this extra test case

[2022-07-26 16:16] RandellDawson commented on #47044
I have opened this issue up for contributors.

The requirements for before submitting a PR for this issue are:
1. Adding the new test case as described in the issue body.
2. Replacing the existing solution in the challenge with the proposed solution above.
3. Validate your changes work by running the following command without receiving any errors:
  `npm run test:curriculum --superblock=javascript

[2022-07-26 16:18] RandellDawson commented on #47044
@jeremylt Are you fine with us adding the solution I proposed above to the Guide also?

[2022-07-26 17:22] naomi-lgbt commented on #47037
IMHO, we should always show the reset button.

[2022-07-26 17:35] Sboonny commented on #47037
@naomi-lgbt in chance, that someone misclicks the button, sees a shiny red button, doesn't read the message and click it, then reset the code without meaning to, I vote for the first one.

I felt like I am typing a Final Destination movie, while thinking of this possibility 🤣

[2022-07-26 18:24] #46987 closed

[2022-07-26 22:18] bbsmooth commented on #47010
Here's my first attempt at a new description for step 12.

[2022-07-27 08:23] masterX89 commented on #44668
Hi! I found these components like `DropdownButton` , `Modal` and `ToggleButton` are considered using Headless UI. So I wonder if `Tabs`, `Tab` and `TabPane` will also consider [Headless UI's Tabs](https://headlessui.com/react/tabs).
Can I try to work on these above components?

[2022-07-27 09:55] ahmadabdolsaheb commented on #44668
@masterX89, we consider using headlessUI if the component is complex and using headless UI would speed up the implementation considerably.
Feel free to research a component that you are interested and summarize your findings in a new issue. Then, we could discuss the implementation in more detail.

[2022-07-27 11:17] ahmadabdolsaheb commented on #43233
@moT01, let me know if you need help with this.

[2022-07-27 12:34] Tusher-Ahmed commented on #35700
let sampleWord = "astronaut";
let pwRegex = /(?=\w{6,})(?=\D*\d{2,})/; // Change this line
let result = pwRegex.test(sampleWord);

[2022-07-27 13:47] ahmadabdolsaheb commented on #47037
That makes sense. We could eventually show both of them as icon buttons side by side and display tooltips on hover to save space.

[2022-07-27 15:01] moT01 commented on #43233
I glanced at this a little - I didn't have a way to reproduce it on my computer, so I wasn't able to open the browser dev tools to play around with it and find a fix. So basically, I would have been kind of just guessing on a fix, and then checking my phone to see if it worked. I could look around a little harder for some tools that would help me.

[2022-07-27 16:38] Sboonny commented on #47037
I do like the icons, it opens the possibilities to add multiple options.

[2022-07-27 16:56] bbsmooth commented on #47037
I'll just add that the words "tooltip" and "accessibility" almost never go together. So if we are going to use icon buttons for restart and help then we need to pick icons that are very obvious.

[2022-07-27 18:06] jeremylt commented on #47044
Sure, I went ahead and added it

[2022-07-27 18:18] #45231 closed

[2022-07-27 18:50] staranbeer opened #47054 "user text and user user is too close to the user's avatar."
### Describe the Issue

The profile summary page on the freecodecamp's forums have the user's avatar right next to the user's information which is a little too close in my opinion.

### Affected Page

https://forum.freecodecamp.org/u/staranbeer/summary

### Steps to Reproduce

1. Go to '...'

https://forum.freecodecamp.org/u/staranbeer/summary

### Expected behavior

Some spacing between the eleme

[2022-07-27 19:22] jeremylt commented on #47054
Note - we don't write the forum software, so I don't think we can change this

It looks like when the green border for online users is added, the distance between the text and the user photo actually *decreases*. That feels like a Discourse bug.

[2022-07-27 19:30] staranbeer commented on #47054
so we have no control over how the site the user profile looks? is there nothing we can do?

[2022-07-27 19:49] ieahleen commented on #47054
there is a forum theme https://github.com/freeCodeCamp/forum-theme
I don't know if the customization allowed by the Discourse software would allow to make this change tho

[2022-07-27 19:58] sidemt opened #47055 "Possible typo in the instruction of Cat Photo App Step 42"
### Describe the Issue

At the end of the instruction, it says:

But this step is just asking the camper to add `type="submit"` to the button element, and not asking them to set the destination where the form should be sent.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-42

### Your code

[code]

### Expected behavior

[2022-07-27 20:55] #46955 closed

[2022-07-27 20:59] #46146 closed

[2022-07-27 21:21] #46957 closed

[2022-07-27 21:25] #46978 closed

[2022-07-27 21:38] #46332 closed

[2022-07-27 22:32] jeremylt commented on #47028
This challenge again.

Mathematically there should be a wide range of possible solutions - I'm not wild about using eval but we could make a small parsing function to check strings.

[2022-07-27 22:41] jeremylt commented on #47010
What about this variant? Anecdotally, I have had good success by saying something like what I added to paragraph 3.

[2022-07-27 23:04] bbsmooth commented on #47055
Agreed, the use of the word "where" could be slightly confusing since we are already specifying where the form will submit in the `action` attribute on the `form`. My suggestion:

"Go ahead and do this to make it clear that this button should submit the form."

Actually, I would reword the entire second paragraph.

"You learned previously that the button submits the form by default. But relying on

[2022-07-27 23:22] bbsmooth commented on #47010
We do define nesting now in step 6, but I guess there is nothing wrong with defining it again. Actually, I like this one sentence definition better than what we have in step 6 right now. I would vote that we replace the four word sentence definition currently in step 6 with this sentence.

This is exactly what is happening in this step of course, but I can't help but feel that it is basically just

[2022-07-28 01:01] Sboonny commented on #47055
I vote for the second option, with a small suggestion

[2022-07-28 01:05] bbsmooth commented on #47055
FYI, I purposely left out the word "explicitly" because it seems like a word that could potentially cause trouble for ESL campers.

[2022-07-28 06:24] Mir-SA commented on #47044
can I take this issue to add the extra test case?

[2022-07-28 07:09] #42294 closed

[2022-07-28 07:18] #47021 closed

[2022-07-28 07:55] #46538 closed

[2022-07-28 07:55] #46579 closed

[2022-07-28 07:55] #46771 closed

[2022-07-28 09:30] #46540 closed

[2022-07-28 09:38] yashdev9274 commented on #47044
hello @RandellDawson  I'm Yash and I'm new to github contribution can you please guide me , from where should I start.

[2022-07-28 09:44] ieahleen opened #47056 "test:curriculum block for 2022/responsive-web-deisgn doesn't work"
The instructions are here: https://contribute.freecodecamp.org/#/how-to-work-on-coding-challenges?id=testing-challenges

But, using `--block` for the practice projects will always result in a meta order error:
<details>
   <summary> Output Testing Penguing Project</summary>

<pre><code>block being tested: learn-css-transforms-by-building-a-penguin

  1 passing (21ms)
  1 failing

  1) Check challe

[2022-07-28 09:56] ieahleen opened #47057 "it's not possible to run the tests for a single challenge in RWD-22"
In 2022/responsive-web-design there is no way to test for a single challenge.

As there is a step 1 for each practice project, running
[code]

as instructed runs a lot of tests

[code]

[2022-07-28 11:57] ieahleen commented on #44691
This seems that everything has been completed, isn't it? @ojeytonwilliams @ShaunSHamilton @naomi-lgbt

[2022-07-28 12:03] ShaunSHamilton commented on #44691
Thanks for the ping. Yes, this all looks resolved.

[2022-07-28 12:03] #44691 closed

[2022-07-28 12:45] moT01 commented on #45949
I cut a couple screen shots together for an example of what I think it should maybe look like:
![Untitled](https://user-images.githubusercontent.com/20648924/181508021-ea95d985-daac-45a2-a259-790c861d5bdf.png)

[2022-07-28 13:11] #47044 closed

[2022-07-28 13:15] moT01 commented on #47055
The shorter the better

"The button you added will submit the form by default. Add the type attribute with the value submit to the button to make it clear that it is a submit button."

[2022-07-28 13:26] moT01 commented on #47037
Side note - it appears like a mobile size or narrow window can show these buttons twice:
![Screen Shot 2022-07-28 at 8 24 16 AM](https://user-images.githubusercontent.com/20648924/181516291-266ec815-10c2-4470-9e7e-4b711d12c9b5.png)

Maybe this is a separate issue, or potentially something we can fix here if we're going to be working on it.

[2022-07-28 13:44] moT01 commented on #46972
It should be like the "getting to know the buttons" part of a video game. When you first turn on a video game, you often have a short period at the start where they teach you the buttons and mechanics of the game. I think we could potentially try to create something like this - it should be interactive and on the website, with popups that explain the buttons and then have users click everything. M

[2022-07-28 16:04] RandellDawson commented on #46824
It appears replits are yet again having their .replit file changed even though we specify the run command in it. The reason it is happening is when the project loads from the starter link, the user see the following in the preview pane and then when the user clicks Done, the run command changes to:

run = "python venv/lib/python3.10/site-packages/setuptools/package_index.py"

and then shows the us

[2022-07-28 17:16] linkion opened #47065 "HTML Accesibility Lesson contradicts previous parts"
### Describe the Issue

In [step 19](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-19) of "Learn Accessibility by Building a Quiz," you add three div elements with a label and an input in each.

 Before we are told that we should nest the /<input> tag in /<label> so that clicking on the text would also select the button or put your cursor

[2022-07-28 17:22] linkion commented on #47065
nvm, we then use `for`

[2022-07-28 17:22] #47065 closed

[2022-07-28 17:24] lasjorg commented on #46824
I tried using their configs from their Python template. If I copy them to the boilerplate it seems to work. I would assume it includes some things not needed for our boilerplate(s).

But it still does not help with the import.

When I import the boilerplate with those configs I get this screen.

![github-import](https://user-images.githubusercontent.com/28780271/181598135-34708b9e-5619-42f0-856c-b

[2022-07-28 17:47] sidemt commented on #47055
Thanks everyone for your comments!

I like @moT01 's shorter the better approach, but I also thought it's important to explain why we are doing this. So I included the "But relying on default behavior may cause confusion." part from @bbsmooth 's comment and opened a PR.

[2022-07-28 17:50] gikf commented on #46824
Some option might be including on each project page steps for starting boilerplate on replit manually. As an alternative or in case things _go wrong_ with the automatic setting up.

- Start new replit using `Python` template
- `git clone` boilerplate repository
[code]
- Move files from cloned folder to the root folder
[code]

[2022-07-28 18:35] ieahleen commented on #47056
This is the test that keeps failing:
https://github.com/freeCodeCamp/freeCodeCamp/blob/5cfa9caa61f99a051b04f6b81c517bddef5ec64f/curriculum/test/test-challenges.js#L266-L308

Specifically this:
https://github.com/freeCodeCamp/freeCodeCamp/blob/5cfa9caa61f99a051b04f6b81c517bddef5ec64f/curriculum/test/test-challenges.js#L304-L305

Where `index` is consistently `0`

[2022-07-28 19:18] naomi-lgbt commented on #47057
I wonder if we can updated it to take the file name instead. 🤔

[2022-07-28 19:23] naomi-lgbt commented on #45949
The timeline is a distinct component so we might be able to do that?

[2022-07-28 19:38] cw66786 opened #47073 "Heat map example project errors"
### Describe the Issue

The data visualization heat map project example does not pass all the tests. It looks like the y_axis is messed up. December is in January's spot causing everything to be off by 1 month.

### Affected Page

https://codepen.io/freeCodeCamp/full/JEXgeY

### Steps to Reproduce

1. Go to 'https://codepen.io/freeCodeCamp/full/JEXgeY'
2. Click on 'run test then 17/18'
3. Scroll d

[2022-07-28 19:47] gikf commented on #47073
I've tried it on two browsers and didn't have any test fails.

Could you include screenshot of the issue for reference? Is there any more information that you can provide?

[2022-07-28 19:52] naomi-lgbt commented on #46966
https://github.com/freeCodeCamp/freeCodeCamp/runs/7566402154?check_suite_focus=true

The validation seems to be working as intended. Do we want to explore further solutions or are we satisfied enough to close this issue?

[2022-07-28 20:52] naomi-lgbt commented on #47073
<img width="769" alt="image" src="https://user-images.githubusercontent.com/63889819/181635324-222c4030-aa74-420e-859d-2a0ba4287bea.png">

I can reproduce it on Chrome.

[2022-07-28 21:01] cw66786 commented on #47073
@naomi-lgbt beat me to it, I get the same results as you on my phone using safari as well as my pc using  Firefox

[2022-07-28 22:09] RandellDawson commented on #46824
Also, we are seeing [issues like this](https://forum.freecodecamp.org/t/loading-nix-environment-doesnt-stop/535791/2).

[2022-07-28 22:10] RandellDawson commented on #47044
@yashdev9274 Looks like a PR was already created, approved, and merged.  You can look for other issues to work on.  We appreciate any help you can provide.

[2022-07-29 04:26] gargi-09 commented on #47073
Tried it on chrome
![image](https://user-images.githubusercontent.com/85283030/181682644-78f7a026-f92e-440b-97ab-e47403f61cbd.png)

[2022-07-29 04:37] Sboonny opened #47074 "Missing code block on step 31 of building a registration form"
### Describe the Issue

in step 31 of building a registration form, the description in line 10 is missing code blocks

This should be changed to

https://github.com/freeCodeCamp/freeCodeCamp/blob/972dbd5c27579ffc77c10acc6fec8170943cf1dd/curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fac56271087806def55b33.md?plain=1#L10

### Additional

[2022-07-29 04:43] Sboonny opened #47075 "Typo in Understand BCrypt Hashes in information security"
### Describe the Issue

There is a typo in Understand BCrypt Hashes, `ab` is used instead of `as`.

Here is the typo

https://github.com/freeCodeCamp/freeCodeCamp/blob/c36ddf9c61cd52c08cfd4c93a00f5154f1f3a6e3/curriculum/challenges/english/09-information-security/information-security-with-helmetjs/understand-bcrypt-hashes.md#L21

### Additional context

If you would like to fix this issue, please m

[2022-07-29 07:07] raisedadead commented on #47054
Yup - while the platform is hosted by Discourse, we do have the ability to use our theme on top of it for visual things.

Interested contributors should look at the theme shared in the previous comment. There is documentation on how you can test changes as well.

[2022-07-29 07:45] ahmadabdolsaheb commented on #46972
Thinking out-load here.
- If we end up with an article, we could add a link of it to the help section if the user has less than a number of completed challenges.
- we could cook the "getting to know the buttons" in the entry points of the curriculum. For instance, users are told what some of site functionalities are and we let them pass the tests.

[2022-07-29 07:55] ahmadabdolsaheb commented on #47037
@bbsmooth, since we can add related arias to the icon, we keep the tooltips completely hidden from screen readers. It is just there to reduce confusion for visual users

@moT01, mobile needs redesign :.)

[2022-07-29 08:11] #47075 closed

[2022-07-29 08:24] raisedadead commented on #46966
I guess so. To be clear, if I understand this correctly:

1. Once the said workflow fails, we need the languages to catch up before deploying.
2. If we need to deploy urgently, we should run the Crowdin upload/download workflows first.
3. Alternatively, we just wait for the daily cron-based triggers, which will do step 2 above.

[2022-07-29 09:43] Vedanshi555 commented on #47074
hey , i would like to solve this issue, but i can't find the step 31...can you help me with it?

[2022-07-29 09:57] ieahleen commented on #47074
Maybe also `Balance Sheet` and `AcmeWidgetCorp` need to be in code blocks

OH! That is a different file! LOL @Sboonny

---

@Vedanshi555 this file here:
https://github.com/freeCodeCamp/freeCodeCamp/blob/972dbd5c27579ffc77c10acc6fec8170943cf1dd/curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fac56271087806def55b33.md?plain=1#L10

[2022-07-29 10:14] Vedanshi555 commented on #47074
@ieahleen thankss

can i get assigned to this issue?

[2022-07-29 10:22] ieahleen commented on #47074
@Vedanshi555 issues are not assigned, feel free to open a PR. Check the contributing guidelines!

[2022-07-29 10:24] Sboonny commented on #47074
@Vedanshi555 feel free to open pull request after reading the guidelines 👍

Even after 100 PRs juggling between files still doing this silly mistake. Thanks for the backup, I have updated the link

[2022-07-29 11:25] staranbeer commented on #47054
Hey! @raisedadead  i actually tried looking for the particular CSS rules that are being used to style the user summary, but i couldn't find anything from the repo that @ieahleen  mentioned.

[2022-07-29 13:23] raisedadead commented on #47054
You should reach out to the [contributor's chat](https://discord.gg/PRyKn3Vbay) for more help. Goodluck.

[2022-07-29 16:25] #47074 closed

[2022-07-29 16:28] ojeytonwilliams commented on #46966
Kind of. As Naomi said, we need to change the config for that to work. A separate config that doesn't skip untranslated files *should* be enough, but we should test next time we insert a new step.

[2022-07-29 16:37] bbsmooth commented on #47037
@ahmadabdolsaheb Correct, tooltips aren't a problem for screen reader users because icon buttons are required to have a programmatically accessible name to begin with. But by default they are not accessible to visual users who use only a keyboard. You can fix them to make them keyboard accessible, but it's a lot of work and potentially annoying for keyboard users. I'm not saying we can't have the

[2022-07-29 19:03] bbsmooth commented on #46972
I like this discussion, but to be honest, my main intent was not to teach people how to use the interface, because I think it is for the most part pretty clear, but rather more about making them aware of common problems and giving them the tools to figure them out. For example, a lot of people don't realize that case matters in these steps. So they've basically done the step correctly except they

[2022-07-29 19:31] qwenwest opened #47082 "Parasomic Pixels"
Learn coding and so much more

[2022-07-29 19:32] qwenwest opened #47083 "Parasomic Pixels"

[2022-07-29 19:40] moT01 commented on #46972
I know what you mean about these problems @bbsmooth...

I don't really think an extra step for something like this is needed. This indicates to me that the steps themselves aren't clear enough. I would lean towards not creating something like this - but, if it's done right, might not be too bad.

I can see more of a need for something to help with this - something to explain the editable region, a

[2022-07-29 19:44] ShaunSHamilton commented on #47082
Hello there,

It appears this is a test issue/PR. For future cases, please test on your own repositories.

Testing on public repositories disturbs many developers. Specifically, 8,500 developers are watching this repo.

[2022-07-29 19:44] #47082 closed

[2022-07-29 19:44] ShaunSHamilton commented on #47083
Hello there,

As this issue does not contain enough information for us to debug or help, it is invalid. Therefore, I am closing this issue.

If you accidentally opened this, then there is not need to do anything. However, if you still are encountering an issue, then please edit your description to include useful information such as:

- What you are trying to accomplish
- What the expected behaviou

[2022-07-29 19:44] #47083 closed

[2022-07-29 20:00] bbsmooth commented on #46972
I'm perfectly fine with not having a separate introductory course to deal with this stuff. It was just one idea that came to mind. We can integrate it into the existing cat photo app course, add a "notes" feature, create articles/videos, whatever. I do think that more people will be likely to complete a short intro course than watch a video or read an article, but I could be wrong about that.

Pri

[2022-07-29 20:25] bbsmooth opened #47084 "Remove "6 spaces" from hints for cat photo app step 6"
### Describe the Issue

The new description seems to be working well as the amount of step 6 issues in the forums has gone way down. But I think the hints are still causing confusion for some people, primarily the mention of 6 spaces. If they don't get it right on the first try then they start adding six spaces to everything.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-w

[2022-07-29 23:58] QuincyLarson opened #47085 "Add dynamic meta images based on page content"
ListenNotes.com – founded by a friend of the freeCodeCamp community, Wenbin Fang – has dynamic Twitter preview images that show up based on the page contents. We should do something similar with non-/news routes within freeCodeCamp, such as our /learn landing pages, or forum threads.

Here's an example of what this looks like when linking on Twitter:

![_2__Home___Twitter_🔊](https://user-images.gi

[2022-07-30 01:58] DylanDevelops commented on #47084
I'll try to get this.

[2022-07-30 02:13] DylanDevelops commented on #47084
I added the line:

instead of:

Not sure if this is exactly what you are looking for but I belive it works better than making it so they have to restart. If they are still stuck, clicking check  more times will allow them to restart.

[2022-07-30 02:30] DylanDevelops commented on #47085
This is an awesome idea! I'm just a little too new to do this because I'm a little confused! But I would be willing to make an image in photoshop we could use for this. Just let me know if anyone would want that if you end up working on this feature.
- dylan

[2022-07-30 04:52] bbsmooth commented on #47084
I think we will have to disagree there :-) My experience in the forums is that they almost always have to restart the step to get the original formatting back because they have changed things they shouldn't have and they just can't get them back to what they should be without restarting.

[2022-07-30 05:11] #46941 closed

[2022-07-30 06:14] qiya opened #47095 "dkkdjfjjf"
krjfjfj is

[2022-07-30 06:14] #47095 closed

[2022-07-30 14:10] DylanDevelops commented on #47084
I get that for most coding problems. There's a point of no return lol. But I feel like this specific step is way harder to get to that point than others.

[2022-07-30 16:56] Sboonny commented on #47084
Is it possible for the step to count the number of space the camper currently have, and reduce it from `6`.

the camper will get something like you

and if they add too much it will turn to

[2022-07-30 17:04] Sboonny opened #47102 "Confusion cased by the description on step 11 of color marker"
### Describe the Issue

While try to help camper in the forum https://forum.freecodecamp.org/t/preview-does-not-work-on-the-responsive-web-design-course/536554/4

He mentioned not being able to see the changes, after looking into it, I can see why this happened.

I think we should warn learners about this, like we do in skyline project, to reduce the coming confusion.

### Affected Page

https://w

[2022-07-30 17:52] DylanDevelops commented on #47084
That sounds like it could be possible but I don't know how to do that, unfortunately. It wouldn't be able to update constantly though most likely, only when you click the hint button.

[2022-07-30 18:10] DylanDevelops commented on #47102
What should the warning say exactly? I'm a little confused about why it doesn't show.

[2022-07-30 19:04] Sboonny commented on #47102
I am leaving this part for people who smarter than me, and because I am worried that people will open a pull request without other people skimming in and voicing their opinion.

But to answer the question, we can alter the first paragraph and the last, and reword it, so people won't expect a color to be changed.

to something like

[2022-07-30 19:31] bbsmooth commented on #47037
Perhaps we can just concentrate on a quick fix right now of showing the Reset button after the first attempt if they don't get it right? Moving them to icon buttons and rearranging the format could come later? Do we need to do both at once?

[2022-07-30 19:43] Sboonny commented on #47037
I have opened this for contribution, and tomorrow I will open a second issue about the icons.

[2022-07-30 19:57] sparkO7 opened #47106 "Cat Photo App 48 - Tests are not checking for radio buttons type attribute"
### Describe the Issue

The tests aren't checking for the `type` attribute for both `radio` buttons, on [step 48](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-48) of the Cat Photo App.
I can successfully pass this step with no `type` attributes set.

![image](https://user-images.githubusercontent.com/108756150/181942659-ac814c1e-4e70-45c

[2022-07-30 19:57] DylanDevelops commented on #47102
I can add this change if you would like. But if there is anything else other than rewording what it says, I might not be the best person for it.

[2022-07-30 20:02] Sboonny commented on #47102
I would wait for other people to voice their opinion

[2022-07-30 20:14] DylanDevelops commented on #47102
Yeah, that works for me. I'm excited to see what they do so I can learn from it lol.

[2022-07-30 23:58] bbsmooth commented on #47102
Agreed @Sboonny, seems a little weird to mention at the beginning that they are going to add color but then they can't see any color added after they add the CSS. Personally, I might swap step 11 and 12 so that the div has width/height when they add the background color to it. But I can see how they built this up because step 12 explains why they didn't see any color immediately after completing s

[2022-07-31 09:23] MahijithMenon opened #47109 "Learn Typography by building a Nutrition Label:Step 22"
### Describe the Issue

In this ,we have to add span tag in between p tags and if we give spacing between text present in p tags only then the test cases is accepted.
This case will work:-
[code]
But This will not work:-
[code]
we can add a new test case which could allow the second one too or can add a description regarding it.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsiv

[2022-07-31 09:25] MahijithMenon commented on #47109
how to add html code it is showing the executed code

[2022-07-31 14:09] Sboonny commented on #47109
@MahijithMenon I have update your post, to show html

[2022-07-31 14:18] Sboonny commented on #47109
In step https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-24 has similar instructions, because campers do face this earlier, I don't think we should change the description.

[2022-07-31 15:22] Bharath314 commented on #46972
I have an idea that could potentially hit multiple birds with a single stone.
We could have a course named "Learn how the web works by making a forum post".
We could teach them the basics of the web by having a mock conversation with a fictional user similar to the discobot tutorial. This way we can teach them the basics of the web, forum etiquette and markdown syntax all at the same time.
We coul

[2022-07-31 15:33] sumitmukharjeeeeee opened #47110 "The new responsive web design"
### Describe the Issue

The new responsive web design app learning path freezes many times during learning in many of my devices

### Affected Page

cat photo app

### Steps to Reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### Expected behavior

It should be smooth

### Screenshots

_No response_

### System

- Device: [e.g. iPhone 6, Laptop]
- OS: [e.g. iOS 14,

[2022-07-31 15:47] RandellDawson opened #47111 "Picasso Painting preview does not look like what the final project ends up looking like if screen width is greater than the preview width"
### Describe the Issue

See [this comment on the forum](https://forum.freecodecamp.org/t/not-sure-about-the-final-result-in-picasso-painting-project/5368920) regarding the final version compared to the preview that is shown at the beginning of the project.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-intermediate-css-by-building-a-picasso-painting/step-89

[2022-07-31 17:03] Jagrutiti commented on #47037
I find this issue interesting and would like to take this up. The thing is I am a noob in React.

I read the React documentation but will need help from time to time.

[2022-07-31 17:43] Sboonny commented on #47037
@Jagrutiti thank you for taking interest in this, if you need help with error you are facing you can ask in our [discord server](https://discord.gg/Z7Fm39aNtZ)

[2022-07-31 22:14] lasjorg commented on #46910
When I import the Node projects we fixed, Replit now wants to update the run command and add "run" to it. Even though that absolutely shouldn't be needed with an npm start command.

![config-run-command](https://user-images.githubusercontent.com/28780271/182047313-965dca10-15e9-4d82-b636-100f9f1b2876.png)

The suggestion it makes, and can auto-correct, works just fine. So strictly speaking, we mig

[2022-07-31 22:48] lasjorg commented on #47111
Pretty sure it would take a major redesign to make that responsive. It is using a lot of fixed px units for the dimensions and positions. It also looks like some of the elements are not inside the proper containers to have the correct relative/absolute relationship.

I will say the image it is supposed to be is also not the easiest to recreate in CSS.

https://github.com/freeCodeCamp/CurriculumExp

[2022-07-31 22:59] lasjorg commented on #47110
Please fill out the system information part of the issue.

I haven't really done much of the new curriculum but I haven't seen any freezing as far as I can remember.

[2022-08-01 03:04] priviestack commented on #46097
guess i better head to Discord as well

[2022-08-01 03:48] RandellDawson commented on #47111
Maybe, but something needs to be done here.  It does not have to be responsive.  It either needs to use percentages to keep things aligned correctly or use fixed widths. When I first saw this project over in the curriculumExplansion repo as a prototype, I assumed it would be a fixed width design when it was transposed over to the curriculum.

[2022-08-01 04:59] raisedadead commented on #46966
OK - in that case, @naomi-lgbt can you please update the workflow to also run specifically on PRs created by Camperbot for the Curriculum files for gatekeeping?

[2022-08-01 08:28] scissorsneedfoodtoo commented on #46910
Hey @lasjorg, thanks again for catching this.

I just started a new Replit project with the latest changes in the [boilerplate-infosec](https://github.com/freeCodeCamp/boilerplate-infosec) repo, and unfortunately, it doesn't seem like changing the `run` command to `"npm run start"` has made a difference — I still see the same "Configure the Run Command" message when starting a new project.

We may

[2022-08-01 13:15] ShaunSHamilton commented on #46910
Regarding the above: I have seen that message in a lot of my REPLs, for ~ a month now, and, just like Kris, the message appears regardless of the existence of a `run` config.

[2022-08-01 14:54] lasjorg commented on #46910
@scissorsneedfoodtoo I honestly just assumed it would, I never tested it with a new import. I don't see why it would prompt for something that already exists. It does seem more like an issue Replit needs to handle.

[2022-08-01 14:58] lasjorg commented on #47111
Sure, it can be made fixed width and just have it overflow as well. Without having looked much at the code I would imagine that would still be quite a few code changes and I'd assume as a result test changes.

[2022-08-01 16:03] lawfets opened #47115 "Learn Bash Scripting By Building Five Programs"
### Describe the Issue

When working on the fortune.sh file we are asked to write a function.

There is a typo in the last sentence of the info you give. "Make sure the "**repsonse**" you...

### Affected Page

https://www.freecodecamp.org/learn/relational-database/learn-bash-scripting-by-building-five-programs/build-five-programs

### Your code

[code]
no code needed

### Expected behavior

just

[2022-08-01 18:58] gikf commented on #47115
Thank you for opening this issue.

Tutorial is located at: https://github.com/freeCodeCamp/learn-bash-scripting-by-building-five-programs

This tutorial is using CodeRoad VS Code extension, specific guidelines how to contribute to them can be found on https://contribute.freecodecamp.org/#/how-to-work-on-tutorials-that-use-coderoad. Making PR for this issue will require following parts referring to

[2022-08-01 21:27] DylanDevelops commented on #47115
I can fix this typo :)

[2022-08-01 22:43] JustLolo opened #47117 "Stuck in challenge when I had a typo"
### Describe the Issue

I don't know how to address this bc this is the relational database course, and I don't have a link.
But check the picture I uploaded, you should be able to go to the affected code from there.
The issues was I had a typo and when I fixed it I was stuck in the same mini challenge, I have to redo the steps to be able to continue to the next screen, for more references about t

[2022-08-01 23:06] DylanDevelops commented on #47115
I believe I fixed this typo correctly, but I was a little confused with the guide. You can read the description of the pull request for a more detailed explanation.

[2022-08-02 04:45] bbsmooth opened #47118 "CatPhotoApp Step 68: Issues with `meta` element"
### Describe the Issue

I believe this is the first step to introduce the `meta` element. Two issues with this step:
- [ ] The description does not explain that it is a self-closing tag
- [ ] The tests accept a closing tag

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-68

### Your code

You can pass this step with the

[2022-08-02 06:49] #47115 closed

[2022-08-02 07:08] footedroom575 opened #47120 "Does not accept response incase extra space is added"
### Describe the Issue

If the following code snippet response is submitted as a response, the response succeeds.
[code]

But, if we add a space after "new Promise" like:
[code]
the, response should be accepted technically, but it throws error `Your promise should receive a function with resolve and reject as parameters.
`

### Affected Page

https://www.freecodecamp.org/learn/javascript-algorithm

[2022-08-02 07:47] ojeytonwilliams commented on #47117
cc: @moT01

[2022-08-02 10:39] sagivab commented on #46887
Hi @lasjorg,

I've been looking to this issue and been able to solve it by iterating the rules if it's instanceof CSSMediaRule like the following:
[code]
I know it's not efficient because media rules can be nested in others and I don't catch this cases, any suggestions how to parse the data in more efficient way?

Thanks!

[2022-08-02 11:46] #46966 closed

[2022-08-02 12:45] footedroom575 opened #47123 "Does not accept logically equivalent answer"
### Describe the Issue

When I write the loop as:
[code]
the response is evaluated to be correct. But similar approach and logically equivalent approach like:
[code]
  is rejected.

  In first loop, I converted` <= `to` < `to solve OBOE problem. In second loop, I changed the value i is being compared with like  `i <= len-1`

both are acceptable approaches but the response is not accepted in case o

[2022-08-02 13:44] moT01 commented on #47117
Thanks for sharing @JustLolo. The tests are checking that you enter the command you used on 112, as shown in the last hint there. That's why you didn't pass on 102, you made a typo, then tried to continue by fixing the typo - but never entered the expected command.

Someone actually tried to account for this in the [latest changes to that course.](https://github.com/freeCodeCamp/learn-bash-by-buil

[2022-08-02 14:32] #47056 closed

[2022-08-02 14:34] JustLolo commented on #47117
no problem, thanks for the response and for the valuable work you all are doing

[2022-08-02 15:29] JustLolo commented on #47117
check this too
![image](https://user-images.githubusercontent.com/103621114/182412617-c6d5f44c-3611-4881-8090-29abc8ffd278.png)

I created second_table some steps before because I didn't read correctly, I had to delete the table and create it again, I am not sure if this could be categorized as a bug bc it was a previous mistake

[2022-08-02 15:32] moT01 commented on #47117
That one should have passed if you already created the table. That test just checks if the table exists - the tests likely don't run automatically until you enter an SQL command I think. So I don't think we need to change anything there.

[2022-08-02 15:36] viktorm471 commented on #45377
if someone have issues with the last two tests maybe his clock isn't in the right time, you need to automatic update the windows clock.
https://www.softzone.es/windows/como-se-hace/solucionar-problemas-fecha-hora-windows/

[2022-08-02 15:51] Sboonny commented on #47123
the third is the one failing, it's expecting a certain formula.

We can check if `i` value isn't above `5`, and remove the regex. or we can update the regex to have both possibilities

https://github.com/freeCodeCamp/freeCodeCamp/blob/af288935b973a3b36278bbd9ea8871e1fb3c3230/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/catch-off-by-one-errors-when-using-inde

[2022-08-02 15:53] jeremylt commented on #47123
Yeah, it looks like a reasonable fix to me.

Side note for @footedroom575 - `i < len` is much more common than `i <= len - 1`, so you should use the first in general over the second

[2022-08-02 15:53] moT01 commented on #47123
[File with the code.](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/debugging/catch-off-by-one-errors-when-using-indexing.md)

I was going to suggest we reword the instructions, but I think it would be fine to account for both of these possible variations. Here's a regex I made quick: `i\s*<\s*len\s*;|i\s*<=\s*len\

[2022-08-02 17:29] bbsmooth opened #47128 "CatPhotoApp Step 6: Extra white space after closing tags causes step to fail"
### Describe the Issue

The step that just keeps on giving.

If user accidentally adds extra white space after `</h2>` or `-->` then step will not pass.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-6

### Your code

There is one space at the end of this line which causes step to fail.
[code]

There is one space at the

[2022-08-02 17:52] sumitmukharjeeeeee commented on #47110
well I have experienced this on my laptop as well as desktop

[2022-08-02 18:15] jeremylt commented on #47123
In general, our rule of thumb is that valid code should pass the challenges.

[2022-08-02 18:16] RandellDawson commented on #46411
Why was it taken out?

[2022-08-02 18:17] TomJPrice commented on #47123
That makes sense to me, thanks for the info.

[2022-08-02 18:34] footedroom575 commented on #47123
Yes you're right. I acknowledge that the former approach should be followed and `<= len -1` should be avoided because of the reason that the CPU is evaluating an extra expression, every iteration i.e. `len-1`.

But my whole point was, it should be at least accepted as an answer since its correct too :)

[2022-08-02 18:37] jeremylt commented on #47123
It doesn't really have anything to do with `the CPU is evaluating an extra expression'. Micro-optimizations like that aren't often a noticeable performance impact. My point is just that when you defy typical conventions, you make it a little bit harder for others to read your code, which is a "bad thing" (technical term there).

[2022-08-02 18:40] ojeytonwilliams commented on #46411
It was never fully implemented and I don't recall if it was reliable or not. From what I remember it just logged to the browser console.

[2022-08-02 18:50] Sboonny commented on #47123
If you want to contribute, please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instructions in our guides. Join us in [discord](https://discord.gg/PRyKn3Vbay) or [the forum](https://forum.freecodecamp.org/c/contributors/3) if you need help contributing, our moderators will guide you through this.

Sometimes w

[2022-08-02 18:52] Sboonny commented on #47123
I have marked the discussion about "= Len - 1" as off-topic to not confuse new contributors

[2022-08-02 21:00] nikitakoselev opened #47131 "please add CodePen link to"
### Describe the Issue

In the amazing doc of README.md, the CodePen website doesn't have a link.
When a great website, like a CodePen, doesn't have a link in a README.md of a quality OpenSource project,
a small kitten starts crying somewhere. A small, shaking, frozen kitten.

Please think of kittens and add a hyperlink to the CodePen.
Edited by moderator

Special thanks to [@eazyangel](https://tw

[2022-08-02 21:08] ChocoUnicorn commented on #47131
Thank you for raising this issue. Hopefully it gets fixed soon

[2022-08-02 21:12] nikitakoselev commented on #47131
Congrats on the contribution, you are amazing. Really.

[2022-08-02 21:25] jeremylt commented on #47131
Please don't use our issue tracker to advertise your project. That's not very friendly.

[2022-08-03 01:15] DylanDevelops commented on #47131
Are you saying we shouldn't add this or should we? I can add this if you'd like.

[2022-08-03 01:18] jeremylt commented on #47131
I have not weighed in on if this is needed or not - I'm not familiar with the current preferences on the README, but we generally limit external links.

My comment was more pointing out that this issue is largely an advertisement for OP's YouTube channel, and trying to use an issue tracker to get advertising is rude, in my opinion.

[2022-08-03 01:23] DylanDevelops commented on #47131
I totally agree with this. I can add the link and then if they approve it then we know it's okay. I might also add a link to replit since it occurs in the same sentence just to keep it consistent.

[2022-08-03 01:24] jeremylt commented on #47131
I'd wait until someone else weighs in. Like I said, we generally limit external links in our content and I'm not sure if that policy applies here or not.

[2022-08-03 01:30] DylanDevelops commented on #47131
Oh, I see this message now. Sorry. I will do that the next time.

[2022-08-03 01:32] jeremylt commented on #47131
No worries - I was just trying to save on extra work/confusion. You'll know for next time.

[2022-08-03 01:34] DylanDevelops commented on #47131
I really appreciate all the help. I'm super new to this so learning how these kinds of things are implemented are really helpful.

[2022-08-03 03:27] abhi3315 commented on #47123
Instead of just solving the `len - 1` we should also focus on some other cases too like if some using the index from 1 to 5:
[code]

I am willing to contribute to this issue!

[2022-08-03 03:37] jeremylt commented on #47123
Personally, I don't think we need to add every single possible way to accomplish this task. The current regex handles the majority of learner solutions. This extra case should handle the overwhelming majority of learner solutions. We can add more if they become necessary.

[2022-08-03 05:25] Sboonny commented on #47131
@nikitakoselev Thank you for bringing this to our attention, I have edited your original post, to remove self advertisement.

If you talked to someone about you being able to post your YouTube channel, please let them know, so they can help you post it back.

[2022-08-03 06:12] raisedadead commented on #47131
Thanks for taking the time to create this issue. I think people interested in this project can quickly figure out popular services and apps.

We do not think there is any need to add links to everything. Adding a link to every technology / app / service that we mention in our content will just make things more cumbersome.

Thanks.

[2022-08-03 06:12] #47131 closed

[2022-08-03 06:35] #47084 closed

[2022-08-03 08:07] nikitakoselev commented on #47131
Hi, I wanted to say I'm sorry for the advertising. I'm autistic, sometimes I make mistakes like that one :(
My goal is to help people from underrepresented and underprivileged groups to start contributing to OpenSource.
I believe this way they can find an impactful project close to their hearts and find a good job, eventually.

Once again, I am sorry for advertising and I want to thank you for you

[2022-08-03 08:38] ahmadabdolsaheb commented on #47054
@staranbeer, here is the file that needs changing: https://github.com/freeCodeCamp/forum-theme/blob/main/common/common.scss

Mind, you would need to change the styles for the signed in users.

[2022-08-03 09:54] ahmadabdolsaheb commented on #47085
@DylanDevelops, Thank you for your interest.
I would appreciate it if you could research `dynamically generating social images` and let us know of the best practices.
Ideally we would not need an third party service.

[2022-08-03 10:10] ahmadabdolsaheb commented on #46972
So it would be helpful to accumulate these topics to so we could design our course accordingly.
One thing that comes to mind is that if there is an error in the input, the tests/hints should deal with that.
We can have tests to notify the users of case sensitivity (if the input is correct, but casing is not) and if the user has edited outside the editable region (for new RWD perhaps)

[2022-08-03 10:26] abhi3315 commented on #47123
I have a question. Do I need to change the files of the other translations like Chinese etc along with English?

[2022-08-03 10:50] gikf commented on #47123
@abhi3315 no, just English version should be changed. Other languages will be handled using the translation workflow.

[2022-08-03 11:03] abhi3315 commented on #47123
I have raised the PR https://github.com/freeCodeCamp/freeCodeCamp/pull/47139. Please get it reviewed.

[2022-08-03 14:06] hanswang123456 commented on #47120
Proper syntax for a JS promise does not allow for spaces after the word "promise."

[2022-08-03 14:14] #47055 closed

[2022-08-03 14:16] Nirajn2311 commented on #44475
Make the tests more forgiving by asking the user to send the timezone along with the date and fallback to the current test if not present.

[2022-08-03 14:17] naomi-lgbt commented on #44475
<img width="326" alt="image" src="https://user-images.githubusercontent.com/63889819/182631191-06b583cf-dc5d-4ef9-9479-b94332c31b73.png">

We could potentially change the `datestring` instruction to `UTCstring`

[2022-08-03 14:20] #44494 closed

[2022-08-03 14:22] kaushxx234 commented on #11742
problem in step 12 its showing- The link's text should be cat photos. You have either omitted the text or have a typo. what to do

[2022-08-03 14:25] Nirajn2311 commented on #44705
Fixed

[2022-08-03 14:25] #44705 closed

[2022-08-03 14:25] naomi-lgbt commented on #44494
Reviewed this in our issue triage meeting - this hasn't received any contributor interest, and apparently we've got a gist for each step in this section and most (if not all) would need updating with the changes.

Happy to reopen and re-evaluate if someone has more perspective on this. 💜

[2022-08-03 14:26] DylanDevelops commented on #47085
As for third party, [this](https://mugshotbot.com) website seems to do exactly what we want to very easily. I believe you have to make an account though so I'm not sure if that would be something we would want to do.

As for built-in, [this](https://www.indiehackers.com/post/creating-dynamically-generated-images-for-twitter-and-facebook-shares-6f83481945) is an article explaining how to build this

[2022-08-03 14:36] naomi-lgbt commented on #44718
Going to assign this to myself and play with the following plan:

- Attach a `topics` key to challenge frontmatter
- Use the currently orphaned [block pages](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/) to list the topics alongside the challenge list.

Long-term???:

- Add a `topics` component that lists *all* topics and the steps that teac

[2022-08-03 14:36] Sboonny commented on #47118
Meta and link closing tag is accepted almost everywhere, I made sure it's the similar test to make it easier to change them to self-closing if issue rise from that. But changing them will make it harder unnecessary in my opinion, because browsers take care self-closing tags.

About the description, we should include it, that was mistake from my part.

[2022-08-03 14:41] Nirajn2311 commented on #44790
Oliver will be checking with Beau to see if there was a reason the links were removed

[2022-08-03 14:43] #44857 closed

[2022-08-03 14:45] naomi-lgbt commented on #44857
Thank you for reporting this issue.

This is a standard message notifying you that this issue has been discussed and we have concluded no fix is necessary at this time.

If you think we're wrong in closing this issue, please request for it to be reopened and add further clarification. Thank you and happy coding.

[2022-08-03 14:47] #44933 closed

[2022-08-03 14:53] Nirajn2311 commented on #44938
Device specific issue

[2022-08-03 14:53] #44938 closed

[2022-08-03 14:57] Nirajn2311 commented on #45041
Challenge is being rewritten for the new curriculum so closing it.

[2022-08-03 14:57] #45041 closed

[2022-08-03 15:07] Nirajn2311 commented on #45050
Apply a `lang` attribute to `iframe` element

[2022-08-03 15:23] lasjorg commented on #47118
According to the specs, the end tag is not allowed.

https://html.spec.whatwg.org/multipage/semantics.html#the-meta-element

It will fail validation with `Error: Stray end tag meta`

[2022-08-03 15:29] lasjorg commented on #47120
What do you mean by allow?

As far as I know, you can call any constructor with as many spaces before the parentheses as you like. Not sure why you would, but the constructor works just fine.
[code]
Proper _formatting_ rules shouldn't allow it, but that has nothing to do with allowed syntax.

[2022-08-03 15:41] lasjorg commented on #47084
Just as an aside. Something I also noticed is the format of the HTML when creating a help thread.

[code]

At first when I saw it, I was thinking the campers made that change but it's just how the code is formatted when posting.

Not sure why the body is missing the indentation and everything subsequently is missing an indentation level. It just makes it harder to talk about the indentation level

[2022-08-03 16:04] Sboonny commented on #47118
@lasjorg same is applied to link element, iam convinced.

We should change link element tests as well

[2022-08-03 16:08] bbsmooth commented on #47084
@lasjorg I was actually going to create an issue about this very thing yesterday. The auto-formatter is not indenting either the `body` or `head` tags, but all of the FCC steps indent those tags. So when the Ask for Help button is used and the HTML is automatically filled in for the user then we lose the FCC formatting style. Also, if you use the formatter built into monaco you have the same issue

[2022-08-03 16:20] sumitmukharjeeeeee commented on #47110
follow Up:
I think the problem has been solved.
Now it's super responsive .
Closing with thanks

[2022-08-03 16:29] #47123 closed

[2022-08-03 16:36] lasjorg commented on #47118
Yes, the tag omission rules are the same for the `link` element.

I'm not suggesting we absolutely have to test for it everywhere, I'm just saying it is in fact invalid syntax to have the end tag. Not sure how many tests would need to be implemented for this to be consistent across all challenges, or if it's worth it or not.

[2022-08-03 17:02] lasjorg commented on #47084
@bbsmooth Maybe open the issue anyway, just to get some more eyes on it?

[2022-08-03 17:15] bbsmooth opened #47146 "Auto-formatter does not follow FCC indentation standards for `body` and `head` elements"
### Describe the Issue

This is most noticeable in CatPhotoApp Step 6, since the indentation for that step must be precise in order to pass.

FCC indentation standards appear to indent the `body` and `head` elements two spaces. This is the way it appears in all default HTML for the steps.

[code]

But when you use the Ask for Help button, the auto-formatter does not indent the `body` and `head` ta

[2022-08-03 17:44] jeremylt commented on #47146
I don't know if it is related, but some user have had 2 spaces of indentation lost when making Javascript help posts as well.

[2022-08-03 19:11] JustLolo commented on #47117
maybe this was what happened, bc I didn't run any command, I just deleted the table and created it again.

[2022-08-03 20:25] DylanDevelops commented on #47106
I'm gonna try to tackle this issue.

[2022-08-03 20:33] DylanDevelops commented on #47106
Sorry i'm not really sure how the checking system functions. Here is the code I believe is checking the users answer. Could someone explain it to me. I was confused by the docs on how the checking system works.:

[code]

Both radio buttons should have a `value` attribute. Check that there is a space after the opening tag's name and/or there are spaces before all attribute names.

[code]

The `Indo

[2022-08-03 20:38] JustLolo opened #47148 "Inserted wrong command and I was able to pass the minichallenge"
### Describe the Issue

Inserted wrong command and I was able to pass the minichallenge.
I can't remember but it was one or two minichallenges after this one.
I had to reset the whole thing bc the next minichallenge made no sense based on the error I had.

### Affected Page

database course

### Your code

[code]

### Expected behavior

won't be able to pass the minichallenge bc of the error I got

[2022-08-04 02:13] moT01 commented on #47148
I don't think this is a bug @JustLolo.

If you have an issue like this, follow [these steps](https://forum.freecodecamp.org/t/running-the-relational-database-curriculum-in-your-browser/500231#issues-within-a-course-9) to restart the challenge to what it is supposed to be at the start of the challenge you are on. If you run into other problems, there's quite a few other troubleshooting steps in tha

[2022-08-04 02:13] #47148 closed

[2022-08-04 09:51] #46776 closed

[2022-08-04 13:50] Sboonny opened #47155 "Create ControlLabel Component"
What freeCodeCamp use https://github.com/react-bootstrap/react-bootstrap/blob/v0.33.1/src/ControlLabel.js

It has to propstype `htmlFor` and `srOnly`

Styles

[code]

[2022-08-04 13:50] Sboonny opened #47156 "ControlLabel @ahmadabdolsaheb"

[2022-08-04 13:52] #47156 closed

[2022-08-04 14:13] #47037 closed

[2022-08-04 14:24] Sboonny opened #47157 "Replace button with icons in the lower jar of the challenges"
### Is your feature request related to a problem? Please describe.

As discussed in #47037, swapping buttons with icons then adding tool tips for the icons, will open the possibility for more features that can be helpful for campers

### Describe the solution you'd like

Adding icons and their tooltips to lower jaw with a helping page, that replace the buttons

### Describe alternatives you've con

[2022-08-04 14:55] Sembauke opened #47158 "new RWD step-based blocks have incorrect padding"
### Describe the Issue

There is no padding on completed challenges on the left, only on the right. I would rather see them in squares instead of rectangles also.

![image](https://user-images.githubusercontent.com/46919888/182878459-c41ff6fe-ddd8-4a85-8b1b-64143f543030.png)

### Affected Page

https://freecodecamp.org/learn/2022/responsive-web-design/

### Steps to Reproduce

-

### Expected beha

[2022-08-04 19:31] JustLolo commented on #47148
My explanation wasn't the best bc I had no information about the step I made wrong bc I restart the challenge before doing this post, I created I can't remember if was a key or a table in the wrong way and I was able to pass the minichallenge, bc of this I thought I was ok, but, after one/two or three I have to do an step that depended on the challenge I did wrong, that's why I inserted the corres

[2022-08-04 20:49] ShaunSHamilton commented on #47146
To clarify, are we talking about the fomatter (linter)? Or, are we talking about the [create-question-epic](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/templates/Challenges/redux/create-question-epic.js)?

[2022-08-05 10:19] #47106 closed

[2022-08-05 10:33] Sembauke commented on #47118
Let's keep it simple:

Since this is the first time the meta element is used we should explain in the description that it is a self-closing tag. I'm assuming that we are not expecting the user to look up this information themselves.

Also, we should fix the test so that it does not accept a closing `</meta>` tag.

We can always add more tests to other steps.

[2022-08-05 12:13] Sboonny opened #47163 "Splitting flex-direction concept into two steps for better detailed explaination"
### Describe the Issue

In https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/6153908a366afb4d57185c8d.md

Instead of only telling the camper to try something, we can give them an explanation of what is happening while they are trying it.

Like for example:

A step explaining the reverse val

[2022-08-05 12:31] Sboonny opened #47165 "Adding explanation for why campers are doing the instructions"
### Describe the Issue

In some steps there are description that carry instructions only, this will make campers think of why they are implementing instruction, instead of how to add these instruction and concepts into their future projects.

### Example

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-5

### Additional context

We d

[2022-08-05 16:45] TheFoxy0 opened #47172 "I need help pls :("

[2022-08-05 16:45] bbsmooth commented on #47165
Are you thinking of something like this?

[2022-08-05 16:47] #47172 closed

[2022-08-05 16:54] bbsmooth commented on #47010
I'm beginning to realize that even though the previous two steps walked them through how to turn a group of words into a link, they don't realize that that is what they have just done and so they don't understand what it means to turn the words "cat photos" into a link. Perhaps we need to reiterate this a little more clearly.

[2022-08-05 17:09] jeremylt commented on #47010
I like that idea.

I also agree that we should split this step it half

12 -> turn `cat photos` in the `p` into a link
13 -> delete the duplicate `a` element

---

So, summary so far

1) Update Step 12

2) Create new Step 13 (and shift all later Steps by 1)

---

Thoughts?

[2022-08-05 17:13] ojeytonwilliams commented on #47165
That seems enough to me. It gives them some motivation and the number of images is implied.

Also, I know this is super nitpicky, but I'd go with this:

Longer sentences put slightly more burden on the reader, so, since the objective is to be almost painfully clear, I'd favour short ones.

[2022-08-05 17:34] bbsmooth commented on #47010
I think what you have is almost perfect. I would make one addition.

I think we still need to emphasize that it is OK to nest an anchor element inside of a `p` element. I'm trying to use the same terminology in both paragraphs, so the wording is slightly awkward and not the way I would normally say it, but I think consistency is very important here.

And yes, definitely split this into two steps.

[2022-08-05 17:53] bbsmooth commented on #47010
I'm also predicting, based on what I see in the forums, that people will still add a second "cat photos" to the end of the `p` element and make that the link. I'm fine leaving this unaddressed for now. I'm just making a prediction that I think there is a good possibility we will be revisiting this issue again and making it clear that they shouldn't add any new text to the `p` element :smile:

[2022-08-05 17:54] jeremylt commented on #47010
:+1: to waiting to see what happens, but I suspect you are correct. I like the cycle we have going of incremental updates based upon what we see on the forums.

[2022-08-05 18:21] abhi3315 commented on #47028
@jeremylt Why don't we create a script to find out all the possible solutions and then add those permutations to the test-cases array? A valid solution can have 4 digits, mathematical operators (`+`,`-`,`/`,`*`,`%`), brackets, and at the max length of 11. For example `(6*8)/(9-7)` has 4 numbers, operators, brackets, and a max length of 11.

I can write out the script and update the possible cases.

[2022-08-05 18:23] jeremylt commented on #47028
There is a very large possible number of solutions. I do not think it is a good idea trying to write every single possible solution out.

[2022-08-05 18:39] abhi3315 commented on #47028
What about evaluating with regex?

A possible solution can have the following case-
`( n $ n ) $ (n $ n)`
`( n $ n ) $ n $ n`
`n $ ( n $ n ) $ n`
`n $ n $ ( n $ n )`
`n $ n $ n $ n`
`n $ ( n $ n $ n )`
`( n $ n $ n ) $ n`
`$` => Mathematical operator, `n` => Number

We can extract the operator and number and calculate them. Need to take care of the precedence of the operator and brackets.

[2022-08-05 18:41] jeremylt commented on #47028
Or we could skip all that and make a simple, lightweight expression parser.

[2022-08-05 18:48] abhi3315 commented on #47028
Parsing is fine but evaluation of the expression to the target answer is tricky!

[2022-08-05 18:49] jeremylt commented on #47028
Not really though, since we only have four operations. I'm making up a smaller parser right now

[2022-08-05 18:52] abhi3315 commented on #47028
Great! Please share it in the thread once done.

[2022-08-05 18:53] eldarlrd opened #47173 "A bugged Timeline/Challenge row in the Profile, duplicates itself."
### Describe the Issue

I just finished the "Build a Tribute Page" challenge, now when I go to check my timeline it shows the challenge doubled. Going back and forth from the Timeline page that has the bugged row, adds more duplicate "Build a Tribute Page" rows.

When I go to the challenge again and Run the code, it shows me double the percentage I should've received i.e. 60% instead of 40%.

###

[2022-08-05 19:02] #47165 closed

[2022-08-05 19:50] jeremylt commented on #47028
This isn't fully bulletproof, but this is the basic idea:
[code]

[2022-08-05 22:25] bbsmooth commented on #46972
Here's another "lesson" I would teach in this course. Don't add unnecessary spaces. Getting a lot of forum posts lately because the user has put spaces around the equals sign when adding an attribute to an element. Or they add space between the opening/closing tags and the text. A lot of tests are very strict about these unnecessary spaces.

[2022-08-05 23:28] bbsmooth opened #47175 "Registration Form Step 55: Clarify instructions"
### Describe the Issue

Seeing a lot of forum posts for this step in which they add the `1em` top/bottom margins correctly but they change the left/right margins to `0`. Not sure why this is happening, but perhaps we can make it a little clearer that they should keep the left/right margins at `auto`.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-forms

[2022-08-06 04:23] bbsmooth commented on #46814
Opening again. Someone in the forums just discovered that the following will pass this step:

[code]

[2022-08-06 05:31] DylanDevelops commented on #47173
Could you elaborate on your issue I'm a little confused what the error is? I see this:

![image](https://user-images.githubusercontent.com/48571264/183235603-e99b3292-a370-467b-9251-4a462697b6bd.png)

[2022-08-06 05:33] DylanDevelops commented on #47175
I can implement this!

[2022-08-06 05:37] bbsmooth commented on #47175
Go for it. It's a minor change and if someone wants it reworded a little they can make a suggestion in the PR.

Yes, I am only referring to the second sentence. The first sentence should remain as is.

[2022-08-06 05:38] eldarlrd commented on #47173
There are two "Build a Tribute Page" rows when there only should be one. Also, try going back to Page 4 or forward to Page 6 and you'll see a bugged "Build a Tribute Page" on top of the list, out of place.

[2022-08-06 06:36] bbsmooth commented on #46814
It also passes

[code]

[code]

[code]

And probably other variations as well. This is with FF 100 on linux. I think browsers are just too good at fixing bad HTML :smile:

[2022-08-06 06:41] DylanDevelops commented on #47175
Perfect i'll add the change.

[2022-08-06 06:48] DylanDevelops commented on #47173
Oh I see it now. I'm unaware if normal contributors have the ability to change the way the profile code works so you might have to wait for a member of freecodecamp to come along and see this issue.

[2022-08-06 06:51] DylanDevelops commented on #47163
Was this implemented or is this still awaiting help.

[2022-08-06 07:27] Sboonny commented on #47163
It isn't decided, if it's even needed @DylanDevelops

[2022-08-06 07:32] DylanDevelops commented on #47163
Perfect. Thanks @Sboonny

[2022-08-06 23:16] bbsmooth opened #47197 "Clarify instructions for Cat Photo App Step 1"
### Describe the Issue

Been seeing this more lately where people are changing the tag names to `CatPhotoApp` instead of the text. I'm tempted to believe it is because the explanation of where the text for the element is located is at the very bottom of the description, after the actual instructions, and perhaps people just aren't reading that far.

### Affected Page

https://www.freecodecamp.org/

[2022-08-07 00:26] DylanDevelops commented on #47197
Would you mind posting the link to the page that has this?

I've never had to edit the RWD main page so I'm not sure where to find that. Is it just in the same place where all the steps are for this project?

[2022-08-07 00:31] bbsmooth commented on #47197
@DylanDevelops I think that we should perhaps give some time for others to chime in here before opening a PR. I am not the ultimate authority on these things and this is a change to the main RWD page, so I think it needs a little more consideration.

[2022-08-07 00:39] DylanDevelops commented on #47197
I see. Is the main RWD page just in the the Build a cat photo app folder that has all the steps. I'm not gonna make a PR, I'm just curious for future reference.

[2022-08-07 01:09] hanswang123456 commented on #47197
I don't see much of a problem to be honest.  The instruction explicitly states "make sure that the text is between its opening and closing tags."

[2022-08-07 01:10] hanswang123456 commented on #47197
A fix might be changing the last lines to "Give the document a heading by putting `CatPhotoApp` between the opening and closing h1 tags."

[2022-08-07 01:12] hanswang123456 commented on #47197
I guess the issue would people not know what "text" is being referenced in this part---> "Find the h1 element and change its text to: CatPhotoApp Make sure that the text is between its opening and closing tags."

[2022-08-07 01:18] bbsmooth commented on #47197
Just to reiterate, my problem isn't that the instructions aren't telling the user what to do. My issue is with where they are placed, which is potentially causing them to miss it.

If we want to spell it out more by explicitly by telling the user to change the text between the `<h1>` and `</h1>` tags I'm fine with that as well. Either way, we have moved the last line of the instructions, which was

[2022-08-07 01:21] hanswang123456 commented on #47197
Here's a draft of a pull request, with a bit of rephrasing to make the location of where to put `CatPhotoApp` a bit more clear.

[2022-08-07 04:11] #47175 closed

[2022-08-07 05:03] Sboonny opened #47200 "Dead link in demographic data analyzer"
### Describe the Issue

There is dead link in [https://www.freecodecamp.org/news/learn-python-video-course/](https://www.freecodecamp.org/news/learn-python-video-course/) the file below

https://github.com/freeCodeCamp/freeCodeCamp/blob/1cd621fa673199b2fedf381fff2e9bd3a2797aa3/curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/demographic-data-analyzer.md

[2022-08-07 06:47] mmatsumoto1026 commented on #47200
Hello, @Sboonny.

I found that all five projects in "Data Analysis with Python Projects" contain the link (https://www.freecodecamp.org/news/learn-python-video-course/) and as you mentioned, they are all dead link now.

But I also noted that only in "Demographic Data Analyzer" project, there is "(10 hours)" text with the link. It may be a hint for correct video course.

In freeCodeCamp YouTube cha

[2022-08-07 18:10] sidemt opened #47206 ""start at the beginning" link navigates to the legacy RWD"
### Describe the Issue

When a new camper signs in and visits the top page of `/learn` , a message "If you are new to coding, we recommend you start at the beginning." is displayed.

But when they click the link, it will take them to the legacy RWD. I think we should switch it to the new RWD.

### Affected Page

https://www.freecodecamp.org/learn/

### Steps to Reproduce

1. Sign in with a new use

[2022-08-07 18:52] #47128 closed

[2022-08-07 19:47] lasjorg opened #47207 "Did PR #45890 break something?"
### Describe the Issue

I was making a PR for the building a penguin challenge to implement the dom query way of checking for the `link` element when I noticed something odd. I'm not sure if this is from the change in #45890 or if there is something more going on, but when I tried moving the `link` element out of the `head` element to check the `head > link` selector test it passed when the link e

[2022-08-07 22:45] bbsmooth commented on #47207
Browsers are just getting to good at fixing bad code. I just tested your HTML example in FF and even though the `link` is outside of the `head`, when I look at it in the inspector, FF has put the `link` inside the `head`. I ran into this problem with [PR #47181](https://github.com/freeCodeCamp/freeCodeCamp/pull/47181). Browsers will automatically fix bad `head` and `body` elements, so you have to

[2022-08-08 00:39] lasjorg commented on #47207
I haven't looked at the full process (it is a bit convoluted to trace) but I was kind of under the impression that we constructed the content of the head. But I guess it is possible that we pull it from the DOM at some point and it has been "fixed" at that point. So `documentElement` comes in fixed and then the `link` element is no longer in the wrong place.

If so, I believe we have more than one

[2022-08-08 04:05] jdwilkin4 commented on #47206
Good catch.

That should definitely be pointing to the new curriculum.

[2022-08-08 06:34] mmatsumoto1026 commented on #47206
Hello,

The link is set by slug (line 63, @client/src/components/Intro/index.tsx) and the one seems to be set by the data get from a graphql query (line 101 - 111, @client/src/pages/learn.tsx).

But in the challengeNode of data, id "learn-html-by-building-a-cat-photo-app/step-1" is not contained and we can not set the link to new RWD so how about that adding the id for new RWD's step-1 and reading

[2022-08-08 10:19] ojeytonwilliams commented on #47173
My PR, https://github.com/freeCodeCamp/freeCodeCamp/pull/45862, is probably to blame.

I suspect what's happening is that multiple submit requests can end up reaching the api more or less simultaneously.  The api gets the user object from the db in one query, looks to see if the challenge has been completed and then sends another query to update the db. Two simultaneous requests will see the same

[2022-08-08 10:25] shootermv opened #47214 "different api routes at `exercize tracker` tests challenge"
### Describe the Issue

sometimes route url is `/api/users/:id/logs` and some other times it is `/api/users/:_id/logs` (`id` is `_id`)
this can be confusing (although the request is same)
### Affected Page

https://www.freecodecamp.org/learn/back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker

### Your code

[code]

### Expected behavior

routes to be similar: `/a

[2022-08-08 10:35] ojeytonwilliams commented on #47173
Also, one other idea I considered was to remove any duplicates with `$pull` and then `$push` the updated submission.  Unfortunately, unless done as a transaction, this solves nothing. Simultaneous updates will `$pull` in parallel and `$push` in parallel, so effectively the `$pull` never happens.

[2022-08-08 11:37] #47120 closed

[2022-08-08 13:45] ahmadabdolsaheb commented on #47054
@staranbeer Thanks for working on this issue. Your proposed solution resolves the issue with minor changes. Therefore, I am closing this issue accordingly.
https://github.com/freeCodeCamp/forum-theme/pull/74
Thank you for your contribution.

[2022-08-08 13:45] #47054 closed

[2022-08-08 14:32] ahmadabdolsaheb commented on #47158
Thanks for your patience with that. The reason that they are connected horizontally is that it gives it a sense of direction instead of having the eye wonder around. <img width="302" alt="Screen Shot 2022-08-08 at 5 31 54 PM" src="https://user-images.githubusercontent.com/4591597/183442599-8976f414-f49e-47d6-bc85-8c96849b8e86.png">

[2022-08-08 15:34] ojeytonwilliams commented on #47158
@ahmadabdolsaheb have you considered highlighting the ends?  Something subtler than a giant blob, of course.

[2022-08-08 16:20] #46949 closed

[2022-08-08 17:40] cossieB commented on #44659
I'm doing this now and I came here to say this. Instructions are misleading. I had to look at the hint.

[2022-08-08 18:07] vivekmsundaram commented on #7046
Thanks

[2022-08-08 21:14] hanswang123456 opened #47220 "Example Snippet Formatting"
### Describe the Issue

The current example snippet for `JavaScript Algorithms and Data Structures` -> `Basic JavaScript` -> `Access Multi-Dimensional Arrays With Indexes` has the expected output underneath the sample code. It would be clearer for campers if the expected output is moved into the example snippet.

### Affected Page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-

[2022-08-08 22:37] mriiad commented on #44668
Hello @ahmadabdolsaheb, I would like to work on Panel & MenuItem please!

[2022-08-08 23:47] naomi-lgbt commented on #47207
That would be because our challenge transformer appends the style.css content to the parentNode of the link element, which I believe is determined by the code the camper writes instead of the final rendered HTML.

https://github.com/freeCodeCamp/freeCodeCamp/blob/399eaa01ed6c5cdff4f3d08b60c5cc51237fb2e4/client/src/templates/Challenges/rechallenge/transformers.js#L212

[2022-08-09 01:53] bbsmooth commented on #47118
I'm going to make another suggestion. Perhaps we should just get rid of this step completely? According to MDN, the only valid value for `charset` is `UTF-8`. The W3C validator will throw an error if you use any other value. And even more, it won't complain if you don't include a `charset` at all. It appears all browsers will just automatically default to `UTF-8`, so you don't need a `charset` def

[2022-08-09 02:54] lasjorg commented on #47207
Why do we assume the link element is in the correct location? Why is the link element location, or the parent node, relevant to the injected styles location? Shouldn't the injected styles always go in the head no matter what?

Anyway, are we reverting the link element location tests back to regex or is there another fix for this issue?

This affects most of the challenges that have the `Your link

[2022-08-09 03:06] naomi-lgbt commented on #47207
We don't - I believe this is a design decision in line with our "emulate a local dev environment". That is, we can't actually use a `link` element to fetch the CSS because the file doesn't exist, so we put the CSS inline where the user has defined it.

I think there's some valid discussion to be had here. We've been pushing for "valid code should pass" lately - is a link element outside of the hea

[2022-08-09 03:27] lasjorg commented on #47118
I would imagine it is still considered a best practice to include it. I'm not so sure relying on browsers to do the work is a good starting point to take when teaching, even if all modern browsers do the right thing.

I'd also suggest that when teaching taking the pedantic approach is often the better choice.

[2022-08-09 03:45] lasjorg commented on #47207
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link
<html>
<body>

Permitted parents | Any element that accepts metadata elements. If [itemprop](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/itemprop) is present: any element that accepts [phrasing content](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories#phrasing_content).
-- | --

</body>

[2022-08-09 04:13] bbsmooth commented on #47118
Ya, you're right, we should teach it because it seems to be the accepted best practice.

[2022-08-09 04:49] naomi-lgbt commented on #47207
Hmm, this is an interesting case then.

I suppose the "best" solution would be to revert back to regex parsing, though I'm loathe to do so.

[2022-08-09 05:04] scissorsneedfoodtoo commented on #46910
@lasjorg, no worries, I assumed that would work as well. If there's something we can do on our end in the future to get rid of that message, we can set up another issue like this to create a battle plan and check progress. But I'm guessing it's something on their end that can possibly be fixed.

[2022-08-09 05:08] #46910 closed

[2022-08-09 06:02] shiv19 opened #47223 "Responsive Web Design - Learn CSS Flexbox - Step 5"
### Describe the Issue

The instructions ask you to create a div with the id of "gallery", but it expects you to create a div with a class of "gallery".

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-5

### Your code

[code]

### Expected behavior

The current instruction reads

[code]

I suggest we change it to

[2022-08-09 06:08] gikf commented on #47223
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-css-flexbox-by-building-a-photo-gallery/61537c9eecea6a335db6da79.md

[2022-08-09 06:36] vishalscodes opened #47225 "Feature Request for certificate - Add QR Code linked to Certificate on FCC Website on Certificate"
### Is your feature request related to a problem? Please describe.

Typing the URL given at the bottom of the certificate takes more time and is harder to verify.

So kindly add the requested feature below:

### Describe the solution you'd like

Can you please add a QR Code to the certificate which links to the actual certificate on the freeCodeCamp website for the uniqueness of the certificate (I

[2022-08-09 06:53] itsnoa04 commented on #47223
Hey is this issue taken, Im trying to get into OSS this seems like a solid start. Can I work on this?

[2022-08-09 06:55] shiv19 commented on #47223
Hey @itsnoa04, A PR has already been created for this issue. It is pending review.

[2022-08-09 06:59] itsnoa04 commented on #47223
It that case I'll just review the PR

[2022-08-09 07:43] raisedadead commented on #47173
In an ideal world, it should be a perfect timeline, but practically speaking, we do not even need it to be consistent on the DB.

We can sort all the entries and filter out duplicates before sending the list downstream to the client. It should be a relatively quick fix vs. rejigging the whole thing and tripping over elsewhere because we do not have a consistent schema on the documents, to begin wi

[2022-08-09 07:53] ojeytonwilliams commented on #47173
I'm not worried about the timeline, exactly, I'm worried about what this means for everything that depends on the `completedChallenges` data.  If there are duplicates of a given project, sure, we could filter them out before we send anything to the client, but that means we have to do that every time want to access that array.

We introduced a load of bugs because we changed `files` to `challengeF

[2022-08-09 07:59] raisedadead commented on #47173
I see - I'll defer to you. If this means the heightened load on the cluster, then I am okay with it as long as Quincy signs off on the costing to convenience tradeoff.

[2022-08-09 08:04] ojeytonwilliams commented on #47173
Okay, cool, I'll check in with him.

[2022-08-09 08:42] gikf commented on #47220
I'd rather change it similarly to #46813. Keep the explanation below the code, and either remove `arr[3](...)` from it, or add concrete variables to refer to them in explanation.

[2022-08-09 09:30] ahmadabdolsaheb commented on #47157
We would need to replace those buttons with icons and then have tooltips for those. I believe we could adjust this issue to prioritize that or update the #46178 to reflect the new action item.

[2022-08-09 09:44] Sboonny commented on #47157
@ahmadabdolsaheb I have updated the issue, hopefully it will reflect better the requirement.

About moving it, I am worried the reset icon won't change of its moved.

but if you think it would be better to move it, go for it

[2022-08-09 12:45] ahmadabdolsaheb commented on #47158
Sure, I think that makes sense. We could experiment with flipping the colors.

[2022-08-09 13:04] hanswang123456 commented on #47220
@gikf that seems like a good explanation. Another way could be wrapping the array access in a console.log and comment the output beside it.

[2022-08-09 13:34] #46814 closed

[2022-08-09 13:40] #47214 closed

[2022-08-09 13:44] #47223 closed

[2022-08-09 13:51] hanswang123456 commented on #47225
Perhaps a better fix would be to have a "click to copy" link. Its more convenient than taking out a phone to scan a QR code.

[2022-08-09 14:08] moT01 commented on #47220
I think I agree @hanswang123456 - however, it looks like it used to be like that and [they were remove here](https://github.com/freeCodeCamp/freeCodeCamp/commit/7117919d36d3565e1da7f701dd959b6605ae7b50#diff-e1cda84da65ba1f15cb0ba73938003283c5e0610675b1d53934bb84ca0f22fd7R23), on [this PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/41092), to streamline the translation process. It is more di

[2022-08-09 14:25] ahmadabdolsaheb commented on #44668
Thanks for your interest @mriiad.
Please feel free to proceed with reading the issue and related documentation thoroughly and opening an issue with your research findings on the `Panel` component.

Let's hold of on the `Menuitem` since it is very close to what @shootermv is working on in #47043.

[2022-08-09 14:48] ahmadabdolsaheb commented on #46629
So the next step would be to pull the learn trending links from CDN.
@scissorsneedfoodtoo, tom and I tried to reimplement your backend [news solution](https://github.com/freeCodeCamp/news/blob/c0fc7080617a4033cef6a993112fc9ca04e33927/config/i18n/config.js) in https://github.com/freeCodeCamp/freeCodeCamp/pull/47174 with no success yet.

[2022-08-09 15:32] moT01 commented on #47206
Use the superblock. Filter for the first challenge in the new RWD superblock.

[2022-08-09 16:03] hanswang123456 commented on #47163
I think having a step that describes the flex-box's features would help. Maybe break it into 2 steps where the camper test out some of the properties(with code snippet help) and then get them to setup the gallery without help.

[2022-08-09 18:29] Sboonny commented on #47163
I think, you are talking about something similar to Mozilla docs. Although that would be nice, it would turn steps from challenges to documents.

[2022-08-09 18:40] moT01 commented on #47197
I'm fine with the suggested instructional change. I would leave the intro (main) page, the phrasing on those pages is somewhat deliberate for SEO purposes.

[2022-08-09 18:44] hanswang123456 commented on #47197
That sounds good, I'll reopen a pull request that updates the last few lines.

[2022-08-09 18:45] hanswang123456 commented on #47163
That's true. I think your suggestion of putting a step and then reversing the values would be good. Maybe add a step that tests out flex columns?

[2022-08-09 19:11] moT01 commented on #47146
Is it time to just remove this step yet?

[2022-08-09 19:17] bbsmooth commented on #47146
Since we updated the description to step 6 a few weeks ago, the number of posts about it in the forums has dwindled to almost nothing. So it seems like we can keep it if introducing them to formatting is considered important.

[2022-08-09 19:20] moT01 commented on #46972
If this is something that goes on the website, I'm not a huge fan of some of the suggestions here. This may be some people's first introduction to coding, I think we want them to get excited about it as fast as possible. Maybe just my opinion, but I think that's one of the goals of the cat photo app - get them writing code and seeing results ASAP. They start adding photos on step 8 - and cats are.

[2022-08-09 20:16] #47200 closed

[2022-08-09 20:39] #47220 closed

[2022-08-09 21:23] JordanMooree opened #47232 "Implement Table component"
## Current specs

- Variants:
  - Dark
  - Light
- Types of tables:
  - Condensed
  - Striped
  - Bordered
  - Borderless
- Sizes (for responsive mode):
  - Large (lg)
  - Medium (md) (default)
  - Small (sm)
- a11y [best practices](https://www.w3.org/WAI/ARIA/apg/example-index/table/table) for tables?

### Screenshots

| Usage | Light theme | Dark theme |
| --- | --- | ---|
| Timeline on user pro

[2022-08-09 23:42] naomi-lgbt commented on #47225
The purpose of the verification link is more for cases where you:
- print the certification
- display a rendered version of the certification (i.e. a screenshot or PDF copy) somewhere.

In both of these cases, a "click to copy" feature wouldn't be available. I could see the argument for providing a QR code (in addition to the plain text URL).

[2022-08-10 02:00] #47158 closed

[2022-08-10 02:21] cw66786 commented on #47073
I have completed my heat map and along the way figured out a solution for this. I'm unsure what to do about it though because its a codepen.

[2022-08-10 03:41] DylanDevelops commented on #47225
I like this idea of having a qr code. I understand the convenient aspect but let's be honest, we all have funs right next to us usually lol

[2022-08-10 04:12] mmatsumoto1026 commented on #47206
@moT01  The query like this？

[code]

[2022-08-10 07:47] masterX89 opened #47247 "Implement Tabs component"
## where to use

- ~~`client/src/components/Donation/duration-amount-options.tsx`~~(for a/b test)

- `client/src/templates/Challenges/classic/mobile-layout.tsx`

![image](https://user-images.githubusercontent.com/8510146/183844109-5b8c80d3-e731-4cee-93fc-21cb3f77ff20.png)

[code]

## Props interface

### Tabs

| **Name**    | **Type**            | **Default** | **Description**

[2022-08-10 09:42] scissorsneedfoodtoo commented on #46629
@ahmadabdolsaheb, thanks for reminding me about this. I'll take a look at that PR now.

[2022-08-10 14:31] SleemBee444 commented on #47157
I think i would want to work on this issue, but to be clear, what we are looking to achieve can be implemented same way the YouTube navigation bar icons were right
![tooltip, youtube](https://user-images.githubusercontent.com/83936667/183927933-f9d37dbc-e419-49d6-a45a-0bcd26912928.png)
?

[2022-08-10 16:27] skrewde opened #47252 "Step 5 of the Learn CSS Flexbox course says create an id but the solution is a class"
### Describe the Issue

Step 5 of the [Learn CSS Flexbox by Building a Photo Gallery](https://www.freecodecamp.org/learn/2022/responsive-web-design/#learn-css-flexbox-by-building-a-photo-gallery)
 course says create a div element with an id (gallery) but the Hint requests a class instead.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-flexbox-by-buildin

[2022-08-10 16:35] gikf commented on #47252
Thank you for reporting this issue.

This is a standard message notifying you that the problem you mentioned here is present in production, but that it has already been fixed (#47223) in staging. This means that the next time we push our staging branch to production, this problem should be fixed. Because of this, we're closing this issue.

If you think we're wrong in closing this issue, please req

[2022-08-10 16:35] #47252 closed

[2022-08-10 18:17] bbsmooth commented on #46972
I'm getting the sense that some sort of introductory course is not in the future, and that's fine, I was just curious if it had ever been considered and what people's opinions of it were. I do think that this discussion has given us some ideas as to how we can improve the current courses to help beginners be more successful and minimizing the common errors that keep showing up in the forum. I'm un

[2022-08-10 21:04] Kingkiosk opened #47255 "Learn Typography by Building a Nutrition Label - Step 28"
### Describe the Issue

The task is:

**You may notice there is still a small border at the bottom of your .lg element. To reset this, give your .lg, .md selector a border property set to 0.**

Issue: There isn't anywhere a class="md" in whole code.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-typography-by-building-a-nutrition-label/step-28

### Your cod

[2022-08-10 21:39] naomi-lgbt commented on #47255
The class is later used in [step 37](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-typography-by-building-a-nutrition-label/step-37). We could probably add a note explaining this.

[2022-08-10 22:36] Tito-Osemobor opened #47256 "Learn CSS Colors by Building a Set of Colored Markers - Step 49"
### Describe the Issue

I believe the code I entered for this particular step is correct but is being parsed as wrong. Maybe I didn't understand what the step entails but I have gone over it several times and input different variations of what I think the correct syntax should be with no success. I have come to the conclusion that it is a bug :)

### Affected Page

https://www.freecodecamp.org/lea

[2022-08-11 02:06] moT01 opened #47257 "[Forum] Links to headings a hidden behind nav"
### Describe the Issue

When sharing a link to a heading within a forum post, it takes you to that heading but scrolls up too far. The heading and some text is hidden behind the nav.

### Steps to Reproduce

Open this link:
https://forum.freecodecamp.org/t/running-the-relational-database-curriculum-in-your-browser/500231#your-container-loaded-but-the-terminal-is-not-visible-8

The `Your container

[2022-08-11 02:49] bbsmooth commented on #46233
Is it time to add a disclaimer to the steps with this Safari issue? We get a lot of people posting in the forum about this.

[2022-08-11 03:06] arqamgrt opened #47258 "Accessibility issue in Relational Databases Certification"
Hello Campers. Hope you’re doing well.
I’m Facing an issue in Relational Databases Certification (online).
There is no output spoken by screen readers in the terminal of vs code. I know, I can use it locally. I actually did it. But in the PostGreSQL Course, I was stuck on first step. I don’t know why, but it was failing the test. Same steps I tried online, and it was successful. But again, in onli

[2022-08-11 03:49] saadbitcoin commented on #47257
May your days be happy and flowers == I would like someone or a group to
help me to finish a special site for bitcoin mining on Quekza and the
Central Therapy Unit = who has feelings of help My mail is available to
call = Wishing you happy days

On Thu, 11 Aug 2022 at 05:11, Tom ***@***.***> wrote:

[2022-08-11 04:41] bbsmooth commented on #47258
@arqamgrt I have not looked at this course yet but I will be happy to give it a try. Can you give us some more details about exactly where you are having problems. Since I have no experience with this course, please be as specific as possible. Also, what operating system, browser, and screen reader are you using?

[2022-08-11 06:21] ShaunSHamilton commented on #47258
Hello there,

Thank you for taking the time to open this. Unfortunately, we have no control over the VM serving the VSCode-style editor. I will ping @moT01 as we might need to transfer this issue to CodeAlly?

[2022-08-11 06:36] DylanDevelops commented on #47256
I'll take a look at the code that checks your code.

[2022-08-11 06:43] DylanDevelops commented on #47256
This is the code that checks if your code is right:

[code]

I'm not seeing anything wrong with it though. The `background: rgb(255, 0, 0)` looks exactly the same as yours to me so I'm not sure what the issue is. In step 50 the code looks like this:

`.red {
  background: rgb(255, 0, 0);
}`

Hopefully, someone can come along and help you out with this issue!

[2022-08-11 06:47] DylanDevelops commented on #47257
I'm seeing this. What exactly is the issue? If the error isn't showing up in this picture it might be an issue on your side rather than a global problem.
<img width="1480" alt="Screen Shot 2022-08-11 at 12 46 55 AM" src="https://user-images.githubusercontent.com/48571264/184078372-6c5a8ea6-696d-423b-bae8-c2034545f1e9.png">

[2022-08-11 06:59] #46899 closed

[2022-08-11 07:37] ahmadabdolsaheb commented on #47085
@DylanDevelops thanks for doing the research. Talked to the dev team, and going with the third party option seems to be feasible.

For learn we optimally want a few different types of templates. Block completion, certification, blocks, superblock, etc.
Could you do a research among different providers, compare features and pricing  and let us know if there are better options than mugshotbot?

[2022-08-11 07:41] DylanDevelops commented on #47256
Thanks @bbsmooth

[2022-08-11 07:43] DylanDevelops commented on #47085
I'll hop on this first thing tomorrow!

[2022-08-11 13:03] moT01 commented on #46233
I think I would use that as a last resort. There's a number of other issues like this, where a browser will have a different computed value than is expected. We adjusted our tests in those cases to allow the values from either browser. I think those ones were a little easier, but I would vote to do the same here. I doubt anyone will like this, but I think we may need to just regex this one - since

[2022-08-11 16:11] arqamgrt commented on #47258
Well, I'm using Windows 10 21H2. with chrome browser and NVDA screen reader.
if you talk about online mode, the only problem is that I can't hear the output of anything on terminal.

[2022-08-11 17:23] #47028 closed

[2022-08-11 17:40] lasjorg commented on #46233
@moT01 A bit unrelated, but how difficult would it be to switch (or just add) Playwright for the CI browser tests? It has support for Webkit.

[2022-08-12 02:51] DylanDevelops commented on #47085
So sorry I had something come up. Here are some of the options:

# [MugShotBot:](https://mugshotbot.com)

Mugshot Bot automates link preview images for your entire blog or website. • Automate every page on your site with one line of HTML • Host your images on Mugshot Bot's CDN •&nbsp;Create unlimited images with the free plan

# [Piar.io:](https://piar.io/?utm_source=producthunt&utm_medium=post&ut

[2022-08-12 03:12] Srisuma13 opened #47266 "Learn-css-colors-by-building-a-set-of-colored-markers - Step 5"
### Describe the Issue

For more clarity, can we specify to the user to add a **_NEW_** `meta` element in Step 5 as one already exists (added in step 4)?

Also, explain the reason why we are adding a new `meta` when some might think of adding attributes to the existing one.

- **Exactly one of the `name`, `http-equiv`, and `charset` attributes must be specified for a single meta element.**

### Af

[2022-08-12 07:53] ronaldgevern commented on #36937
It seems like Math.round() is a better solution, but it is not! In some cases it will NOT round correctly. Also, toFixed() will NOT round correctly in some cases.

To correct the rounding problem with the previous Math.round() and toFixed(), you can define a custom [JavaScript round](http://net-informations.com/js/progs/round.htm) function that performs a "nearly equal" test to determine whether a

[2022-08-12 14:15] moT01 commented on #46233
I really don't know @lasjorg - I've heard ideas like that floated around before, but don't think there's ever been much of a real discussion around it. I don't know a whole lot about it, or what would be involved in switching to or adding it. There's probably some other staff who could elaborate more on it. Maybe @ojeytonwilliams or @naomi-lgbt. Feel free to open an issue if you want a more dedica

[2022-08-12 15:17] vishalscodes commented on #47225
Also, can you please shorten the URL given at the bottom? I feel that it is tough to enter the URL on the address bar without the help of a phone.

[2022-08-12 15:46] a2937 commented on #43778
I'd like to migrate the worker-executor, if I knew what underlying libraries were used.

[2022-08-12 15:49] moT01 commented on #46523
Bumping this since seeing two RWD buttons at the top of the map annoys me.

[2022-08-12 18:00] jeremylt opened #47271 "Project *TILE*?"
### Describe the Issue

Do we mean this step to check for `project-tile`? `project-title` makes more sense to me.

https://github.com/freeCodeCamp/freeCodeCamp/blob/92270f7ef63183c25fd34d58fe1a3d50893095ea/curriculum/challenges/english/14-responsive-web-design-22/build-a-personal-portfolio-webpage-project/build-a-personal-portfolio-webpage.md?plain=1#L72

Also, the text of the hint doesn't make it

[2022-08-12 18:01] ahmadabdolsaheb commented on #47247
@masterX89, thanks for researching the `Tabs` component and opening this detailed issue. Solid work here.

Here are a few nitpicks:
- Client/src/components/Donation/duration-amount-options.tsx belongs to a feature that we might a/b test in a couple of months so it does not need checking. You could re-adjust the specifications based on the `mobile-layout.tsx` only.
- `bsStyle` could be removed sinc

[2022-08-12 18:14] ShaunSHamilton commented on #47271
`tile` is a very common term in HTML/CSS naming: https://www.digitalocean.com/community/tutorials/how-to-build-a-tiled-layout-with-css-section-3

It is a `tile`. It is not a `title`. Also, it is a certification project. So, we are very unlikely to change that test/user-story

[2022-08-12 18:16] jeremylt commented on #47271
Ah, the tile vs title makes more sense now.

[2022-08-12 18:39] naomi-lgbt commented on #47257
<img width="608" alt="image" src="https://user-images.githubusercontent.com/63889819/184422915-32f357b4-746e-47e3-a0aa-9bc763638dc2.png">

I'm able to reproduce this, yeah.

[2022-08-12 22:25] JustLolo opened #47273 "Stuck in a step in Learn Bash Scripting by Building Five Programs, database curriculum"
### Describe the Issue

I think that it's enough info with the pictures.
I even restart the whole thing.
Tested on both codeally and FCC.

![image](https://user-images.githubusercontent.com/103621114/184452008-5e4cbb85-321a-477d-9fab-afd2dce54a24.png)
![image](https://user-images.githubusercontent.com/103621114/184452030-efc53c51-dfab-4c27-b130-654291219fe9.png)
![image](https://user-images.github

[2022-08-12 23:00] bbsmooth commented on #47232
Regarding accessibility for tables, if the table is rather simple then there is really not a lot you need to do to make it accessible other than using the native table elements properly. The link you have to [table best practices](https://www.w3.org/WAI/ARIA/apg/example-index/table/table) above is a description of the different roles that are assigned to the various table elements, which is helpfu

[2022-08-13 04:22] jeremylt commented on #47273
This looks a request for help. Have you tried asking on the forum?

[2022-08-13 04:22] #47271 closed

[2022-08-13 15:21] oriooctopus opened #47285 "Build a boilerplate page does not load"
### Describe the Issue

Both my wife and I were testing out the "Build a boilerplate" tutorial of the new Relational database model. We did about 5-10 lessons. The next day we went back to do more of it and both of us experienced the same error, on different computers, and on different accounts. This was about a week ago and the issue still exist

I have tried disabling all chrome extensions and s

[2022-08-14 06:15] ChiragSharma0208 commented on #46965
Can you assign this to me so that I can look into it?

[2022-08-14 13:43] hanswang123456 commented on #47285
I was able to load the page.
![image](https://user-images.githubusercontent.com/50556568/184539876-5b527710-9554-4286-b952-585440ed4f8b.png)

[2022-08-14 13:44] hanswang123456 commented on #47285
Once you hit "Start the Course" it give you a prompt:
![image](https://user-images.githubusercontent.com/50556568/184539902-d7ddfdfe-8799-49cc-bca1-effd85d99018.png)

[2022-08-14 17:31] naomi-lgbt commented on #46233
I poked around with Playwright a bit, but nothing too in-depth. The testing API seems similar enough to Cypress that things should migrate well, but different enough that we'd be doing a lot of rewriting.

The Cypress team have finally started implementing Safari support (hooking in to Playwright's webkit driver, ironically enough) - so hopefully we can use that.

[2022-08-14 17:39] hanswang123456 commented on #47255
I will open a PR to resolve

[2022-08-14 19:35] a2937 opened #47289 "Take home Project - Show National Contiguity with a Force Directed Graph"
### Describe the Issue

I am having trouble understanding the take-home project and nothing loads on the sample page. All I see is a big black box with a blue background. I wanted to see how much I still need to learn by picking a random project and starting to build it to see my weaknesses.

 https://codepen.io/freeCodeCamp/full/xVopBo

### Affected Page

https://www.freecodecamp.org/learn/coding

[2022-08-14 23:39] ninjaboy667 opened #47290 "Update the x-axis ticks for the Data Visualization Heat map example project"
### Describe the Issue

Each tick is exactly **one year off**, as you can see in FCCs example project [here](https://codepen.io/freeCodeCamp/full/JEXgeY). This shouldn't actually pass the test (user story 10) but it does.
I have detailed the issues in this [post](https://www.reddit.com/r/FreeCodeCamp/comments/wnpxch/updoot_for_visibility_mods_correction_to_d3_heat/)

This is because the first/last

[2022-08-15 02:30] rudy0628 commented on #47285
I have the same issue with beta page, it stuck on build virtual server, i have seen the trouble shooting on freecodecamp official docuemnt, i still got stuck when i refresh the page.
Document: `https://forum.freecodecamp.org/t/running-the-relational-database-curriculum-in-your-browser/500231`
![image](https://user-images.githubusercontent.com/53780265/184567330-a99d50c6-25d0-4e99-9ea2-c78cf05844f5

[2022-08-15 09:38] ahmadabdolsaheb commented on #47232
For the props, we should only implement the props that are used in learn such as `striped`, `condensed`, etc.

[2022-08-15 11:13] ieahleen opened #47294 "Wrong test in Page Series Visualiser Final Project"
### Describe the Issue

It says that plot 1 should have an x label of Month, but it's the second plot that is monthly. It should say that plot 2 should have that xlabel.

### Affected Page

https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-projects/page-view-time-series-visualizer

### Your code

[code]

### Expected behavior

It should say that plot 2 should h

[2022-08-15 13:00] #47206 closed

[2022-08-15 13:05] ahmadabdolsaheb commented on #46747
For the validation style changes, we could use React.createContext and useContext to pass a state (validation) to its children. Since the checking for validation happens outside the form-group and passed to form-group, we could use react context to pass props formGroup's children and add classes conditionally.

[2022-08-15 13:07] moT01 commented on #47289
I didn't look into why this one isn't working, it may be a simple fix - which would probably be preferable. But, I completed this project and we can use that for now if we want: https://codepen.io/moT01/full/EWmYPq - it could probably use a little update, but it's better than a broken project.

[2022-08-15 13:12] moT01 commented on #47285
Thanks for reporting. There is an issue loading containers right now, and you will not be able to load a project. We are looking into it - thanks for your patience.

[2022-08-15 13:17] moT01 commented on #47273
There is an issue loading containers right now @JustLolo, so you probably won't be able to try this. We are looking into it.

[Resetting the step](https://forum.freecodecamp.org/t/running-the-relational-database-curriculum-in-your-browser/500231#issues-within-a-course-9) should resolve this for you after we fix that issue. Please post issues on the forum first, where we can decide if it's an issue

[2022-08-15 13:17] #47273 closed

[2022-08-15 13:46] #46965 closed

[2022-08-15 14:13] naomi-lgbt commented on #47289
Looks like the dataset this example relies on is no longer available.

The request triggers a CORS error:

<img width="712" alt="image" src="https://user-images.githubusercontent.com/63889819/184651430-3dc1b5f8-89ec-44db-b57c-61c915203b9e.png">

And visiting the resource in my browser throws a 403:

<img width="256" alt="image" src="https://user-images.githubusercontent.com/63889819/184651695-85be

[2022-08-15 14:22] naomi-lgbt commented on #47290
Wow, thanks for the detailed write up. Your changes look good - I'd have no objections with updating the example project, but I'll give others a chance to weigh in.

[2022-08-15 17:52] #47197 closed

[2022-08-15 20:18] naomi-lgbt opened #47299 "Use System Default for Initial Theme?"
### Describe the Issue

I had an issue with another website that was fixed by clearing my browser cache. As a result, I had to log in to all of my sites again. I ended up on Reddit which defaulted to light mode for unauthenticated users, and realised that freeCodeCamp does the same.

### Affected Page

https://freecodecamp.org

### Steps to Reproduce

1. Log out.
2. See light mode?

### Expected b

[2022-08-16 02:29] mmatsumoto1026 commented on #47294
Hello,

It seems that same thing is for the "test_box_plot_titles".

[2022-08-16 07:52] ojeytonwilliams commented on #43778
Hi @a2937 worker-executor has no dependencies - it's a standalone module for managing workers.

[2022-08-16 13:12] favour-olumese opened #47302 "Button not clicking to check code and progress to the next challenge when you restart the challenge after initially solving the challenge."
### Describe the Issue

In "Learning HTML by Building a Cat Photo App," once a challenge has been completed and the "Restart Step" button is clicked, the "Submit and go to the challenge" button is not reverted to "Check Your Code" and users are unable submit their challenge again or progress to the next challenge.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/le

[2022-08-16 13:41] ahmadabdolsaheb commented on #47157
@SleemBee444 yes, the tooltips should look like bootstrap top tooltip, but should not use bootstrap if possible since we are migrating to our own component library.
https://getbootstrap.com/docs/4.0/components/tooltips/

First, we would need to replace the help and restart buttons to icon button and then add the tooltips.

[2022-08-16 14:17] anlach commented on #45922
Hi @ShaunSHamilton - any idea what the status is for accepting my PR?

[2022-08-16 15:06] moT01 commented on #47302
I can reproduce this.

[2022-08-16 15:07] moT01 commented on #47285
This should be resolved @oriooctopus @hanswang123456 @rudy0628 - let us know if you are still having issues.

[2022-08-16 15:07] #47285 closed

[2022-08-16 15:12] moT01 commented on #47299
Yes, we default to light mode.

I'm not against this - although, I think the bigger issue is that you can only switch the theme if you are logged in. Seems like you should be able to switch regardless. I don't recall if there was any reason that we don't allow that.

[2022-08-16 15:23] moT01 commented on #45725
Added

[2022-08-16 15:23] #45725 closed

[2022-08-16 15:57] ieahleen commented on #47294
I am opening this for contribution.
The PR has to be done on the boilerplate: https://github.com/freeCodeCamp/boilerplate-page-view-time-series-visualizer

[2022-08-16 15:59] texas2010 opened #47304 "CodeAlly CodeRoad"
### Describe the Issue

I feel the font size is too small for me and I can't change it in the CodeAlly CodeRoad.  this part needs to allow us to change font size when we need to do.

### Affected Page

https://www.freecodecamp.org/learn/relational-database/learn-bash-by-building-a-boilerplate/build-a-boilerplate

### Steps to Reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. S

[2022-08-16 16:01] ieahleen commented on #47302
Possible solutions:
- hide reset button after the tests succed
- Or bring back the Check your code button when step is reset

[2022-08-16 20:18] a2937 commented on #43778
Thank you very much. I didn't have prior experience using Web Workers before in JavaScript. Also now I have another slight hiccup. What exactly is eventify? I believe it's some sort of EventListener/Dispatcher but don't know the exact class name at the minute. And secondly I assume the done method right here

 https://github.com/freeCodeCamp/freeCodeCamp/blob/4e5eb183e998614b62cb384d63053273174900

[2022-08-17 05:10] scissorsneedfoodtoo commented on #45797
Thanks again for your patience and for reporting this @luojiyin1987. Also, thanks for your helpful suggestions on installing the Gota package.

I spent some time over the last couple of days updating this article and the code used throughout. Now it should be much easier for readers to install Gota and follow along locally.

Will close this for now. Please feel free to reopen this issue and @ ment

[2022-08-17 05:10] #45797 closed

[2022-08-17 11:39] stephanduesterhoeft opened #47307 "Please activate the german language for the freecodecamp"
The German-speaking community is making great progress.

82 percent of the German-language curriculum has already been translated. 4 certificates (including the first 3) are now fully translated and approved.

I request to activate german language.

[2022-08-17 12:05] mseibert commented on #47307
+1

This would help us teaching kids a lot!

[2022-08-17 12:09] Sembauke commented on #47307
@naomi-lgbt

[2022-08-17 13:35] ieahleen commented on #47307
![image](https://user-images.githubusercontent.com/26656284/185147299-a29fb953-5549-4887-becf-7600257481c2.png)

The proofred certifications are:
Legacy Responsive Web Design
JavaScript Data Structures and Algorithms
Front End Development

And also Learn UI is translated and approved, so this is ready to go!

[2022-08-17 14:13] moT01 commented on #45091
I don't think fixing the legacy challenges is all that important, we can leave those if we want but we should probably fix up the new ones.

[2022-08-17 14:19] moT01 commented on #45176
Closing this so we can focus our efforts on the project based curriculum. Thanks and happy coding 🎉

[2022-08-17 14:19] #45176 closed

[2022-08-17 14:30] moT01 commented on #45216
Closing as wont fix.

[2022-08-17 14:30] #45216 closed

[2022-08-17 14:36] ieahleen opened #47309 "Template for forum posts in non english languages don't have correct subforum (maybe?)"
Lots of the Spanish and Portuguese topics end in General.
Maybe they don't have the correct subforums set.
We would want to double check there, and in case fix it.

[2022-08-17 14:38] ojeytonwilliams commented on #45307
Closing as duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/45277

[2022-08-17 14:38] #45307 closed

[2022-08-17 14:38] moT01 commented on #45463
cc @ahmadabdolsaheb

[2022-08-17 14:50] raisedadead opened #47310 "Prevent Crowdin from Creating PRs on Weekends"
Ideally, we do not want to be looking at PRs on Weekends because although the bot appends commits to the PR branch that is created on a weekend, it is unlikely to be looked at by a member of @freeCodeCamp/i18n

Instead, I think the workflows should upload & download files normally but create a PR only on weekdays.

That way we also avoid the double review problem, where an approval gets invalidate

[2022-08-17 14:51] raisedadead commented on #47310
I need more coffee.

[2022-08-17 14:51] #47310 closed

[2022-08-17 14:56] moT01 commented on #45510
I believe we need to add some padding to those buttons at the top and stop the bottom buttons from going off the screen.

[2022-08-17 14:59] moT01 commented on #45522
Closing as stale.

[2022-08-17 14:59] #45522 closed

[2022-08-17 14:59] moT01 commented on #46729
Related: https://github.com/freeCodeCamp/freeCodeCamp/issues/45522

[2022-08-17 15:03] ieahleen opened #47311 "Add about links.json to Language Lead Handbook"
It will be the process to fix https://github.com/freeCodeCamp/freeCodeCamp/issues/47309

[2022-08-17 16:16] moT01 commented on #47309
I don't see any of these posts, I presume you moved them to their correct category. Do you know of any specific ones that ended up in the wrong place?

I clicked the create forum post button on a few steps and it gave me a forum template in the correct category. I wonder if these campers are manually going to the forum and creating posts. If that's the case, I'm not sure what we could do. Potentia

[2022-08-17 16:26] moT01 commented on #47304
What specifically is too small @texas2010?

It looks maybe a little small to me:
![Screen Shot 2022-08-17 at 11 21 10 AM](https://user-images.githubusercontent.com/20648924/185191814-50f4bd38-5b69-4841-97bb-9b1e110f1716.png)

Although, not much smaller than the default size in that getting started tab. You can zoom the browser in for now if you want it bigger.

[2022-08-17 16:33] moT01 commented on #47302
I would be fine with either of those solutions. I'm really not sure which one I like better - what do you like @ieahleen @favour-olumese?

Side note: for me, clicking the button after resetting doesn't work, but the hotkeys do.

[2022-08-17 16:46] ieahleen commented on #47309
@moT01 for example: https://forum.freecodecamp.org/t/expressoes-regulares-encontrar-padroes-ao-inicio-da-string/543976

It should have gone to `portugues/javascript-pt`
So I guess this could be the source of the issue, the subforum doesn't match in the file:
https://github.com/freeCodeCamp/freeCodeCamp/blob/3a0f3a7253aad8d7682bde864d31b05df47bc4ad/client/i18n/locales/portuguese/links.json#L27

[2022-08-17 17:01] moT01 commented on #47309
Yes, I can reproduce this by going to https://www.freecodecamp.org/portuguese/learn/javascript-algorithms-and-data-structures/regular-expressions/match-beginning-string-patterns and clicking the create forum post button. It also happens in a new RWD challenge I tried. So presumably, it happens with all the challenges in this language.

I copied the URL that opens when you click that button - every

[2022-08-17 17:40] ieahleen commented on #47309
Portuguese doesn't work because of how the subforums are named
it should be https://forum.freecodecamp.org/new-topic?category=Portugues%2FHTML-CSS-pt
Because the subforum link is https://forum.freecodecamp.org/c/portugues/html-css-pt/546

[2022-08-17 18:24] moT01 commented on #47309
I see. Do we want to just change the file you shared then or change the names on the forum? None of the other languages follow that convention.

[2022-08-17 19:05] ieahleen commented on #47309
I honestly have no idea what's best. Changing the subforums would mean we don't need to wait for deployment for it to take effect

[2022-08-17 20:21] favour-olumese commented on #47302
@moT01 I believe bringing back the "Check Your Code" button after the challenge has been reset would be great. I noticed this error while explaining this challenge to a beginner and after solving it, I wanted him to give it a try also.

[2022-08-17 20:23] moT01 commented on #47289
Lets do that then. We just need to replace the link in [that challenge file.](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/10-coding-interview-prep/take-home-projects/show-national-contiguity-with-a-force-directed-graph.md)

[2022-08-18 01:21] hanswang123456 commented on #47302
This does make more sense, having the ability to reset challenges is good for first time learners.

[2022-08-18 05:20] velagandulasaiteja opened #47316 "Switching among chapters of a course"
### Is your feature request related to a problem? Please describe.

When you open this URL - https://www.freecodecamp.org/learn , you see list of available courses. In this screen, you choose a course and proceed to learn further. For example, Iet us consider a scenario where I choose to learn "javascript-algorithms-and-data-structures" course. When I click on "JavaScript Algorithms and Data Struc

[2022-08-18 13:02] moT01 commented on #47302
Lets try that then.

[2022-08-18 13:12] moT01 commented on #47316
I believe that what you are calling "chapters", we would refer to as "blocks". There are breadcrumbs you can click on each lesson to get back to the main page of a course:
![Screen Shot 2022-08-18 at 8 04 03 AM](https://user-images.githubusercontent.com/20648924/185402709-29e513b6-0ad6-4862-96aa-86f969a985f0.png)

I'm all for improving the UI/UX, but I'm not sure if I like another side menu. Perha

[2022-08-18 13:29] mohitchakraverty commented on #47289
I would like to work on it.

[2022-08-18 13:34] mohitchakraverty commented on #47289
I would like to work on it.

[2022-08-18 15:31] jeremylt commented on #47316
I think throwing in yet another menu would increase clutter.

[2022-08-18 15:38] lexyd commented on #44668
@ahmadabdolsaheb Is there a design file like on Figma where the consistency of the UI components can be designed first.

I would like to contribute to it.

[2022-08-18 16:15] hanswang123456 commented on #47302
It seems like we need to change
![image](https://user-images.githubusercontent.com/50556568/185444084-9f6ffc5b-1a7b-4606-abef-ce1ed1b3c499.png)

[2022-08-18 16:41] hanswang123456 commented on #47302
![image](https://user-images.githubusercontent.com/50556568/185449276-297931c0-0d7b-4f76-bd7c-8c2a248b5bd2.png)

[2022-08-19 01:10] masterX89 commented on #47247
@ahmadabdolsaheb Thanks for the suggestions, I modified the content of the issue according to the suggestions and tried to implement basic `Tabs` component. If there is anything that can be improved please let me know.
Thanks in advance :)

[2022-08-19 03:15] QuincyLarson opened #47324 "Add empty line below input field in Responsive Web Design curriculum"
I just observed someone not understanding that they could press enter within their answer box to create a new line, then add their new element there. See screenshot below:

<img width="1124" alt="Cursor_and_mom_mp4_-_Google_Drive" src="https://user-images.githubusercontent.com/985197/185535009-e793693b-6a2e-44c8-b7d1-bdf1249c9d7f.png">

I propose we add an empty line below the seed code, so that l

[2022-08-19 04:57] Arun-Mclaren commented on #47010
They add the link with the "cat photos" text at the very end of the sentence, thus duplicating "cat photos" in the sentence.
They add the link with the "cat photos" text but delete the rest of the sentence so that the only text in the p is "cat photos".
The add the link correctly but include the period inside the anchor tags.

[2022-08-19 05:05] gikf commented on #46824
Reopening, as with further replit changes all python boilerplates are broken. On the import from github, multiple _missing_ configuration options are added to `.replit` file.

Examples of errors:
https://global.discourse-cdn.com/freecodecamp/original/4X/a/b/e/abe86bcec235f1490f6f0540db2c57e53d239159.png
https://global.discourse-cdn.com/freecodecamp/original/4X/b/f/6/bf60b515e53fa9227000318283afc74

[2022-08-19 07:00] #47289 closed

[2022-08-19 07:10] mmatsumoto1026 commented on #47302
I agree with @favour-olumese's idea, so I would like to participate in solving this issue.

The behavior of test button and submit button in challenge editor seems to be controled by `challengeHasBeenCompleted` state and `challengeIsCompleted` prop of `LowerJaw` component in `client/src/templates/Challenges/classic/lower-jaw.tsx`, so the issue may be solved by adding some processes after `challeng

[2022-08-19 07:34] #47255 closed

[2022-08-19 08:36] ShaunSHamilton commented on #47324
Before we go and make this change, do we want to discuss additional changes we would like to make to the editor/seed as a whole? _Just so we are not immediately overwriting other changes_

Specifically, I am thinking about the possibility to completely overhaul this project so that the page starts with a blank slate (no distracting elements in the editor).

[2022-08-19 08:59] #47256 closed

[2022-08-19 09:00] ieahleen commented on #47302
Feel free to open a PR if you can solve this! The challenge has the help wanted tag, so it's up for grabs for anyone that wants to contribute.

[2022-08-19 10:55] ahmadabdolsaheb commented on #44668
@lexyd at this point we are focusing on replacing the existing customized react-bootstrap library.

Once that is done, we will audit our component library's design. We could consider having Figma files then, but it would be more work to keep them in-sync over time.

I will tag you if we decide to go down that route. Meanwhile, feel free to work on the remaining components if you are interested.

[2022-08-19 11:34] #46423 closed

[2022-08-19 11:39] ahmadabdolsaheb commented on #47257
If there are any takers, I would check to see if --header-offset variable can be reset. If not, I would add the following style and check to see if it looks good on mobile ( reload after toggling device toolbar from the elements pane on developer tools )
[code]

[2022-08-19 11:59] ahmadabdolsaheb commented on #46972
I am closing this issue since " the general consensus here is to focus on improving the instructions, tests, and hints where needed." :)

[2022-08-19 11:59] #46972 closed

[2022-08-19 12:04] ahmadabdolsaheb commented on #47085
@DylanDevelops Thanks for doing the research. It would not require a lot of programing. It would mostly be uploading some templates and adding an html tag. I will update this issue once we evaluate the options and land on a service.

[2022-08-19 12:20] ieahleen opened #47328 "challenge-editor step tools off by one error"
The tool "Insert step" says to write the nth step after which the new step will be added.
![image](https://user-images.githubusercontent.com/26656284/185616830-c473f498-f54b-42e2-aef0-8d0683b68e77.png)

But if I write 16, it creates a new step 16, not 17.
If I want a new step after 16, I have to write 17.

[2022-08-19 12:25] ahmadabdolsaheb commented on #45463
Thanks for bringing this to my attention. Our profile is due for a redesign and we should make the number more meaningful. It will most likely be a tooltip or a dropdown that reveals more info about the user's points.

I will work on a mock/wireframe next week, share it here, and we can continue the discussion.

[2022-08-19 13:38] hanswang123456 commented on #47328
![image](https://user-images.githubusercontent.com/50556568/185630090-247bb1bb-069e-43a7-b83c-a459cd1310b4.png)
It seems like line 45 is incorrect where the indexing should be `[stepNum-1][0]`?

[2022-08-19 13:59] ojeytonwilliams commented on #47328
I think we just need to check the wording. The tool is supposed to insert the nth step, not the n+1th.

[2022-08-19 14:03] hanswang123456 commented on #47328
that's another option too. I can edit up the files and draft a PR

[2022-08-19 15:32] ahmadabdolsaheb commented on #47316
The breadcrumbs currently link to the current block(grid of steps) and superblocks( list of chapter cards) so it provides sufficient navigational options. We can improve the design of it make it more visible.

[2022-08-19 15:35] ahmadabdolsaheb commented on #47324
Here are my thoughts from chat for reference:
1) When asked to input text on the next line, we should either have an empty line or tell users early on to hit enter.
2) The editable region is not distinguishable enough, we would need to either add more contrast and/or tell the user were to edit the code.
3) We probably need to explain the html tags early on so users don't wonder about pre existing

[2022-08-19 15:36] moT01 commented on #47324
I'm not against an update to the project so that we have them create the html element and stuff - although, I've always felt that part of this projects goal is to get people who have never written code before, excited about it. So I think having them add fun things like cat images as soon as possible, helps with that.

I would suggest that for now, we just go through the first 20 steps? whole proj

[2022-08-19 15:53] ahmadabdolsaheb commented on #47324
At some point the users need to learn about creating a new line, or they will face an issue down the line.

[2022-08-19 15:53] ieahleen commented on #47328
@hanswang123456 could you maybe also change the documentation? it says the same thing
https://github.com/freeCodeCamp/freeCodeCamp/blob/main/docs/how-to-work-on-practice-projects.md

[2022-08-19 15:53] mdezetter commented on #45553
I've been having this same issue on Firefox for a while now. Any ideas on how to fix it?

[2022-08-19 15:53] ojeytonwilliams commented on #47324
I'm strongly in favour of the former, but what we should do is make sure that a user has to enter in two lines of code fairly early on.  That way they'll see that the region expands as they use it and we won't need to tell them.

Or... what Shaun said.  If they have blank slate for step 1, everything is editable.  That way nobody should fall at the first hurdle. More visual distinctiveness couldn'

[2022-08-19 16:18] hanswang123456 commented on #47328
@ieahleen I've updated the documentation in the PR. I've removed the redundant example in the doc as well. Let me know if any edits should be made.

[2022-08-19 16:24] moT01 commented on #45553
Make sure you have third-party cookies enabled @mdezetter - and check your security settings for something that might be blocking them. I have been using firefox without issue for quite some time.

You can also check [this post](https://forum.freecodecamp.org/t/running-the-relational-database-curriculum-in-your-browser/500231) for a bunch of instructions and troubleshooting tips. Let us know if yo

[2022-08-19 17:21] mdezetter commented on #45553
Thank you, yeah I've gone through the post several times and nothing helped. I've made sure I have firefox set to allow all cookies from freecodecame, codeally, and github. I also disabled all my privacy related extensions. Then when all else failed. I tried in incognito and it still gets me stuck in this infinite loop.

[2022-08-19 17:27] moT01 commented on #45553
Here's my firefox security settings:
![Screen Shot 2022-08-19 at 12 23 20 PM](https://user-images.githubusercontent.com/20648924/185674059-21be56a1-4b31-4c6a-8492-026b7da6cbe6.png)

Chrome didn't work either for you? Do you see anything in the dev tools that may be helpful - the console or network tab? Maybe clear any cookies and local storage related to the CodeAlly domain and try again?

[2022-08-19 17:28] mdezetter commented on #45553
Aha okay so for anyone else that hits this issue in Firefox. It's content blocking, not cookies. So even though I had third party cookies set to always allow. It was still content blocking. I turned this off by going to the freecodecamp course page, clicking the shield next to the URL and turning off the toggle for content blocking.

[2022-08-19 17:50] gikf commented on #46824
This is quite _funny_. The reason why boilerplates using only built-in modules are not working, is the version of nix channel, which is added automatically by replit. For some reason `stable-22_05` is causing errors, while changing it (or even removing) to ie. `stable-21_11` works. Therefore adding the latter in boilerplates maybe can protect against some strange shenanigans with the nix channels