[2020-08-17 02:10] scissorsneedfoodtoo commented on #39392
Awesome, thank you for reporting this @nhcarrigan. Sorry I'm just seeing this now.

Seems like this is due to a paid plan that Glitch recently introduced. Now there are just [1,000 project hours](https://support.glitch.com/t/glitch-1000-hours/29723) per month for registered users.

I went ahead and upgraded our account and "boosted" some of our most popular applications ([Timestamp Microservice Pr

[2020-08-17 05:45] spookysaint commented on #9047
I cannot understand why does this works. Does this mean that we can't directly make a function with empty parenthesis in javascript?

[2020-08-17 08:23] SeasonLeee commented on #39397
@raisedadead Hey, man, thanks for the advice and sorry for not keeping the update or work on it for several days, I'm currently dealing with some life emergency, and magically, the only thing that can let me feel less painful or pain-free is immerse myself in the world of coding😂 how crazy!

Anyway, I just opened a PR and hopefully that can help a lot of people using mac and try to build the proje

[2020-08-17 09:07] raisedadead commented on #39397
Hey Benjamin.

Hope that you are hanging in well. Stay strong and I wish you the very best in whatever you are dealing with. Keep doing what you love.

Thanks a lot for the PR, and your contributions during these hard times. I will take a look at the PR and will check your recommendations.

I hope you have a great day ahead. Goodluck.

[2020-08-17 09:53] scissorsneedfoodtoo commented on #39060
@richardtorres314, the screenshots you posted look correct. The ones from the original poster were due to a bug I accidentally introduced to the Glitch example while updating the project to work with Mongo Atlas rather than MLab.

Also, the example at https://nonstop-pond.glitch.me/ should be working again.

Could you post a link to your project so we can take a look?

[2020-08-17 12:07] Sky020 commented on #38932
@RandellDawson . In that case, shall we edit the test to be inclusive of all selector types?

We could edit the instructions to be more specific, but I am concerned there will be too much jargon which will confuse more.

[2020-08-17 12:40] Sky020 commented on #9047
@spookysaint,

In general, I recommend you open a topic on the [forum](https://forum.freecodecamp.org) for a question like this.

Have a go  at running this code to see what is happening:
[code]

[2020-08-17 16:57] richardtorres314 commented on #39060
@scissorsneedfoodtoo I found my issue, it was a cors problem (tried to use hapi framework instead of express to complete the project and found issues with setting the cors header so eventually switched over to express). The output passed the tests and the challenge completed successfully! Currently moved over to the "File Metadata Microservice" project, but that sample project link (https://purple

[2020-08-17 20:42] Sky020 opened #39423 "Test Variable Name Change: Pass Arguments to Avoid External Dependence in a Function"
**Describe your problem and how to reproduce it:**
The following code does not pass, because the test has a variable name which is the same:
[code]
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/pass-arguments-to-avoid-external-dependence-in-a-function

Solution:
Change variable name of [this test](https://github.com/freeCodeCamp/freeCodeCamp/bl

[2020-08-17 20:52] richardtorres314 commented on #39060
@scissorsneedfoodtoo I see that https://purple-paladin.glitch.me/ has been updated and is now up. Thanks!

[2020-08-18 00:00] moT01 commented on #38540
All of the backend example projects and boilerplates use the green logos. If you go to the [timestamp microservice project page](https://www.freecodecamp.dev/learn/apis-and-microservices/apis-and-microservices-projects/timestamp-microservice) and click the example link at the top. The green icons appears in the browser tab...
![Screen Shot 2020-08-17 at 6 59 12 PM](https://user-images.githubuserco

[2020-08-18 00:06] moT01 opened #39425 "Change solution placeholder to user repl.it url"
Replace codepen placeholder URL's with Repl.it URL's. I believe the only place they need to be replaced is the backend lessons. I haven't audited, but the backend projects all use the repl.it placeholders already, I believe. The backend lessons are using codepen still - they should be changed.

![Screen Shot 2020-08-17 at 5 49 45 PM](https://user-images.githubusercontent.com/20648924/90455675-4982

[2020-08-18 01:58] RandellDawson commented on #39425
@moT01 This is similar to an existing issue (#39321).  Do you want to close this one and add your suggestion there?

[2020-08-18 02:38] KaniahDunn commented on #39244
Hi, I would like to take a try at this - if it is still available.

[2020-08-18 10:53] raisedadead opened #39427 "Investigate build artifact issues with Gatsby schema"
Refer: https://github.com/freeCodeCamp/freeCodeCamp/pull/39426

[2020-08-18 11:36] Shrman007658 commented on #39423
Hey! I am a beginner in open source programming. Can I take this issue up?
Thanks.

[2020-08-18 13:09] ojeytonwilliams commented on #39425
Might as well track this separately since the placeholder should still appear whenever the form is empty.

[2020-08-18 13:42] Sky020 commented on #39423
@Shrman007658 , Yes you may have a go at this. To begin, you should go through the [contributing docs](https://contribute.freecodecamp.org/#/index), if you have not already.

Some things to highlight:
- We do not typically assign issues
- If an issue has _help wanted_ or _first timers only_ labels, then they are open for contribution
- The first PR which closes the issue will be accepted

If you h

[2020-08-18 13:45] Sky020 commented on #39244
Hello @KaniahDunn .

This issue has yet to be _triaged_. What this means is we are yet to decide whether to go ahead with resolving it.

You are welcome to pick up any issue which has a _help wanted_ label, and does not already have a PR likely to close it.

@scissorsneedfoodtoo Do you think this change would be useful?

[2020-08-18 14:04] Sky020 commented on #39425
I assumed I fixed this with #38411 . So, I must have done this with only the projects. Except, it should have pointed to Glitch.

[2020-08-18 18:41] ojeytonwilliams commented on #39425
@Sky020 your PR did the job, I've doubled-checked it locally.  Something must have changed since then.

[2020-08-18 20:45] dvbsknd commented on #39060
@Symbolistic, thanks for taking the time to to document. I found myself in the same state of frustration and wasted a lot of time, but was too strung out to write it up! I still haven't managed to get everything passing but will continue working on it. I suppose the good thing is it probably (unintentionally) gives us a taste for what a real world project feels like, however it shouldn't be done t

[2020-08-18 22:52] fuzzyray commented on #39217
This works as expected for me on MacOS Mojave 10.14.6 with Chrome, Safari, Firefox and Opera. I see the horizontal scrollbar for the code block and can use it.

[2020-08-19 01:23] KaniahDunn commented on #39244
Ah, thank you for the clarification @Sky020 . I will look around for other issues that I might be able to pick up.

Thank you 😊

[2020-08-19 01:24] RandellDawson commented on #39392
@scissorsneedfoodtoo Will this issue get closed out once you create your other PR for the remaining Glitch projects in the Take Home Projects section?

[2020-08-19 08:35] ahmadabdolsaheb commented on #39217
I am closing this issue as the behavior  seems to be expected for mac users.

[2020-08-19 08:35] #39217 closed

[2020-08-19 11:26] Twaha-Rahman commented on #39374
I get this error while running `npm ci` on Windows 10(v2004)(64 Bit).

[code]

[2020-08-19 11:43] Twaha-Rahman commented on #39374
@lasjorg 's solution worked for me.

[2020-08-19 11:47] scissorsneedfoodtoo commented on #39244
Hi @Sky020, thanks for your patience. This looks good to me. It makes sense to add that flag to the tests since they were probably designed to expect numeric values.

What do you think @beaucarnes?

[2020-08-19 12:13] filbranden opened #39430 "Problematic usage of assertAlmostEqual in Mean-Variance-Standard Deviation Calculator"
This is about [Data Analysis with Python Projects - Mean-Variance-Standard Deviation Calculator](https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-projects/mean-variance-standard-deviation-calculator), also tracked [here in this repository](https://github.com/freeCodeCamp/CurriculumExpansion/blob/master/mean-variance-standard-deviation-calculator/mean-var-std.m

[2020-08-19 14:19] morgan-sam commented on #39101
Is help still wanted with this issue? Asking because #39112 is still open

[2020-08-19 14:47] #39423 closed

[2020-08-19 14:56] ojeytonwilliams commented on #39101
Thanks for the heads up @morgan-sam, I should have removed the label.  I'm in the process of updating how user code makes it into the test frame and, once that's done, #39112 should work.

[2020-08-19 17:32] ojeytonwilliams opened #39432 "Sass challenge timeout"
**Describe the bug**
Sass pages with invalid syntax occasionally timeout

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/learn/front-end-libraries/sass/store-data-with-sass-variables
2. Paste in
[code]
3. See `timeout` in the console (sometimes)

**Expected behavior**

The following should appear in the console:
[code]

Since this is intermittent, here's a

[2020-08-19 19:07] Sky020 commented on #39432
Hey Oliver,

When I clicked on the link, I reset the code, and completed the challenge as it should be completed. I came across a `timeout` error, and was unable to run the tests.

However, after resetting the code, refreshing the page, and pasting in the code you provided (missing `}`), the error you mention appeared, but does not disappear.

So, I suspect it has to do with the page first load, b

[2020-08-19 19:12] AnonymousRepositoryStuff opened #39433 "Unclear instructions on an FCC CSS Grid challenge"
* On the CSS Grid challenge "CSS Grid: Use grid-area Without Creating an Areas Template" I think the wording is a little unclear

- Go to https://www.freecodecamp.org/learn/responsive-web-design/css-grid/use-grid-area-without-creating-an-areas-template
- Notice the wording on the test reading "item5 class should have a grid-area property such that it is between the third and fourth horizontal line

[2020-08-19 19:53] #38638 closed

[2020-08-19 21:55] lasjorg commented on #39190
@RandellDawson @ojeytonwilliams @moT01

So what is the plan here? Should we update the challenge description to ask the camper to install a specific version or do we just abandon backward compatibility and go with the PR from obsessedyouth?

[2020-08-19 22:20] nhcarrigan opened #39435 "[BUG] - Quality Assurance projects have user stories related to Information Security"
**Describe your problem and how to reproduce it:**

With the roll-out of the Python curriculum, the full stack curriculum was restructured and Information Security was split off from the Quality Assurance section and given its own section. However, three of the Quality Assurance projects still include user stories that expect features associated with the `helmet.js` learning - that is now covered

[2020-08-20 02:38] xAdvitya opened #39436 "[BUG] Incorrect Repel.it link"
In the Quality Assurance Projects - Personal Library project the repel.it project link redirects towards the metric converter project boilerplate code

![Screenshot (413)](https://user-images.githubusercontent.com/54709416/90710420-fb3c0d80-e2bb-11ea-8c91-77366a535e40.png)

https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-projects/personal-library

[2020-08-20 03:09] xAdvitya commented on #39436
## fixed now

[2020-08-20 03:09] #39436 closed

[2020-08-20 03:36] casandracarrizales commented on #8221
<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  .pink-text {
    color: pink;
  }

  .blue-text {
    color: blue;
  }
</style>
<h1 class="pink-text blue-text">Hello World!</h1>

[2020-08-20 03:38] casandracarrizales commented on #8221
<img width="433" alt="Screen Shot 2020-08-19 at 10 38 03 PM" src="https://user-images.githubusercontent.com/60071014/90714162-aa50f880-e26c-11ea-9b15-582ab9685fad.png">

[2020-08-20 04:26] miyaliu666 opened #39437 "embed bilibili video for Chinese publication articles"
**Is your feature request related to a problem? Please describe.**
I can only add a video URL now.

**Describe the solution you'd like**
Could you add "embed bilibili video" to the editor? Thanks!

[2020-08-20 04:45] najmieh opened #39438 ""i" is not defined in the for loop"
** "i" is not defined in the for loop. Also, the underneath comment is wrong. it should say: "return false if it is divisible by any number that is not itself. **

**https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-sum-all-primes/16085**

**Tell us about your browser and operating system:**
* Browser Name: chrome
* Browser Version:
* Operating System: Windows 10

**If possible, add a

[2020-08-20 11:03] ojeytonwilliams commented on #39435
Thanks for bringing this up, Nicholas.  If the info sec certificate came before QA this would be less of a problem, but right now those user stories do seem out of place.

cc @scissorsneedfoodtoo @RandellDawson

[2020-08-20 11:16] #39186 closed

[2020-08-20 11:20] raisedadead commented on #39437
Can you post a sample video URL and we can check what's needed?

[2020-08-20 11:47] Sky020 commented on #39438
Hello there,

Could you please provide more information about what the problem is:
- In which loop is `i` not defined?
- Which _"underneath comment"_ is wrong?

There are a lot of solutions, and hints on the referenced guide post. So, more information would be useful.

[2020-08-20 11:57] scoaband commented on #8221
Try using anther browser. Sometime browser tend to cache pages.

[2020-08-20 12:00] scoaband commented on #39438
nested loops

[2020-08-20 13:53] najmieh commented on #39438
Yes, this part. the first for loop
`function sumPrimes(num) {
  // function to check if the number presented is prime
  function isPrime(number) {
    for (i = 2; i <= number; i++) {
      if (number % i === 0 && number != i) {
        // return true if it is divisible by any number that is not itself.
        return false;
      }
    }
    // if it passes the for loops conditions it is a prime

[2020-08-20 14:09] miyaliu666 commented on #39437
This one: https://www.bilibili.com/video/BV1UC4y1a78j
Thanks!

[2020-08-20 14:13] Sky020 commented on #39438
Thank you, for reporting this, and providing the extra detail.

I have edited the guide post, to reflect these changes. As such, I am closing this issue.

[2020-08-20 14:13] #39438 closed

[2020-08-20 14:35] moT01 commented on #38540
auth.freecodecamp.org has the green icons...
![Screen Shot 2020-08-20 at 9 34 54 AM](https://user-images.githubusercontent.com/20648924/90785837-6e4b8100-e2c8-11ea-9254-d4dc35709c86.png)

[2020-08-20 16:20] najmieh opened #39441 "Array.prototype.every() explanation"
**in the 3rd solution on the hint section we have this explanation:  For every object in the collection array, check the truthiness of object’s property passed in pre parameter
Array#every method internally checks if the value returned from the callback is truthy.
Return true if it passes for every object. Otherwise, return false.
**

**https://forum.freecodecamp.org/t/freecodecamp-challenge-guide

[2020-08-20 17:31] Sky020 commented on #39441
Thank you, for pointing this out.

I have updated the guide post with `Array.prototype.every` for clarity. As such, I am closing this issue.

[2020-08-20 17:31] #39441 closed

[2020-08-20 18:28] raisedadead commented on #39437
Here is the iframe that should be genrated by the theme:

`<iframe src="//player.bilibili.com/player.html?aid=796086221&bvid=BV1UC4y1a78j&cid=205208423&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>`

[2020-08-20 18:29] raisedadead commented on #39437
This might be something that Ghost would need to support upstream first, I will let Ahmad do the research.

[2020-08-20 23:08] HiThereImCam commented on #39284
@ahmadabdolsaheb

I'm working on this problem. I'm not sure if your on Gitter but I have two questions that I hope will point me in the right direction

1.) I'm trying to duplicate the problem and the only way to do that is by receiving a course certificate. Is there a way to by pass the challenges and receive the certificate?
2.) Are you familiar with SuperBlock.js? Before I make changes, I'm try

[2020-08-21 03:00] moT01 commented on #39284
To quickly gain a certificate - you can log in locally, go to your account settings page and scroll down to the projects/certifications. Open all the projects for the cert you want in new tabs, most of them don't have tests so you can submit any URL.

Second option would be to open up your mongo database locally and change these values for a local user:
[code]
I think that would work.

It looks li

[2020-08-21 03:36] HiThereImCam commented on #39284
Hi @moT01

Thank you for the reply! Thank you so much for pointing me in the right direction. As pointed earlier in the thread, they want a

I looked at the config file and noticed that a completion hours file and tests were not created so I was planning on taking of that.

Thanks Tom!

[2020-08-21 06:38] ahmadabdolsaheb commented on #39284
A quick update:
Based on our latest talked with Quincy, all of the certificates( except the full stack) should be 300 hours.
@HiThereImCam, in the Interest of time I am planning to tackle this issue in the next two days, but you are welcome to submit a pr before then.

[2020-08-22 15:18] Twaha-Rahman opened #39451 "`seed` script fails to run in Windows"
**Describe the bug**

The `npm run seed` script used for seeding sample data to the DB fails to run. When the `seed` script is run (after following all the previous steps in the docs), this is the output -

[code]

Then, errors start to get logged for each individual markdown file  -

[code]

This looks like the DB is working fine cause it successfully seeds user data to the DB.

![image](https://

[2020-08-22 16:59] ojeytonwilliams opened #39453 "Windows CI"
To better support contributors using Windows we should add CI tests running on that OS.

They should catch these kinds of issues: https://github.com/freeCodeCamp/freeCodeCamp/issues/39451

[2020-08-23 18:38] #39401 closed

[2020-08-23 20:40] Agathasta opened #39668 "Personal Portfolio navbar-link-test (7) not passing"
#### Issue Description

On the Personal Portfolio project, the test

is not passing. I have 3 links on my navbar and they work (see code and CodePen link below)

#### Browser Information

- Browser Name, Version: Firefox 79.0 (64-bit)
- Operating System: MacOS HighSierra 10.13.6 (17G11023)
- Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen
`<navbar id="navbar">`
  `<a class="

[2020-08-24 07:13] Twaha-Rahman opened #39458 "`build` script not running on Windows"
**Describe the bug**

The `npm run build` command errors out on Windows. This is the error message I get when I run it -

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the steps to be able the run the dev server locally
2. Run `npm run build`
4. See error

**Expected behavior**

The `build` script should run and build the production build which I'll be able to use with the `s

[2020-08-24 09:16] scissorsneedfoodtoo commented on #18103
@QuincyLarson, this is a longstanding issue. @Sky020's PR #39080 will close this once it's reviewed and deployed.

[2020-08-24 10:30] SeasonLeee commented on #39397
@raisedadead Thank you so much for the kind words you said, you have no idea what they means to me during this time... thank you!!!! And I am really grateful that I am able to find peace inside the world of code...

Also, there seems some problems of the cypress testing of my pr.... dang it... 😂 anyway, I will have a look on it as well later. Thank you guys!

Stay safe! And have a great day!

[2020-08-24 13:57] ojeytonwilliams commented on #39397
Hey @SeasonLeee, I'm glad you're able to find some peace, that's some good news.

As for the cypress testing, don't worry about it - I'll investigate.  It's almost certainly not your code. It looks like a old bug that I thought I'd squashed.

[2020-08-24 13:59] morgan-sam commented on #39432
I tried @Sky020's method but that didn't produce the bug.

I am able to reliable reproduce the bug on Chromium & Firefox with the following steps:

1. Open the page (new tab & refresh can both produce bug).
2. Repeatedly delete & re-add the `}` character from line 9, fast enough that the new state does not display in the console.
3. End step 2 on deleting the `}`. If done correctly the `Your test

[2020-08-24 14:54] SaumitraVerma commented on #39271
It's been over a month and still no response from anyone!!!!!.

[2020-08-24 15:52] ojeytonwilliams commented on #38362
@raisedadead we're not planning on going back to Plyr are we?  I assume not, so I'm closing this.

[2020-08-24 15:52] #38362 closed

[2020-08-24 16:01] RandellDawson commented on #39271
@beaucarnes Any thoughts?

[2020-08-24 16:14] lasjorg commented on #38932
I don't see why we should complicate this any more than we have to. The [previous challenge](https://www.freecodecamp.org/learn/responsive-web-design/basic-css/set-the-font-family-of-an-element) shows how to set the font family on an element using the element selector. This challenge was in my opinion clearly made with the intention of the camper using an element selector to set the font, even if

[2020-08-24 16:22] lasjorg commented on #39374
@RandellDawson Should we do a chore update to the dependencies/lock file to fix this? Not sure if you tried my suggestion or not but it worked for both me and @Twaha-Rahman

[2020-08-24 16:30] RandellDawson commented on #39374
Let me boot up my Windows side and validate the fix works for me.

[2020-08-24 16:57] RandellDawson commented on #39374
@lasjorg @Twaha-Rahman After trying the suggested changes, `npm ci` completes with no issues.  However, I did see the following warning after installing `jest`:

npm WARN deprecated fsevents@1.2.13: fsevents 1 will break on node v14+ and could be using insecure binaries. Upgrade to fsevents 2.

The bad news is, I still whole new set of errors when trying to run `npm run develop` related to `sharp`

[2020-08-24 17:20] lasjorg commented on #39374
I think the warning is just that. I have not looked into it much but I believe the update to fsevents is most likely going to happen for all packages that have it as a dependency and is willing to drop some backwards compatibility (not sure what the compatibility is with). My guess is there is some package (or package dependency) that is still using the old version and we would need to figure out

[2020-08-24 17:45] RandellDawson commented on #39374
@lasjorg What version of build-essentials did you end up installing?  If you did not explicitly install it, do you know if what version (if any) is installed on your pc? I have tried both the 2015 and 2017 versions with no success.

Before this latest problem, I had not had any trouble with running `npm ci` or `npm run develop` in over a year.

FYI - I have even tried using PowerShell instead of m

[2020-08-24 18:26] lasjorg commented on #39374
Are you talking about the node-gyp stuff @raisedadead was talking about? I have not installed anything. I do not think it is related to the error you were seeing, as I said fsevents should not try to build on non-MacOS systems.

Are you saying doing that, did, or didn't work for you?

Not sure what that is about. I don't have any clue why the file name would have that space in it.

That is a commo

[2020-08-24 18:32] raisedadead commented on #39374
This is true. Partly because the target of the build (servers) run on Linux. So, while we would love to support development work on all machines/OS types, its easier said than done, sadly.

[2020-08-24 18:35] ojeytonwilliams commented on #39374
@Twaha-Rahman is working on the CI here: https://github.com/freeCodeCamp/freeCodeCamp/pull/39456, but GitHub actions don't really support Windows properly *either*, so it's harder than I'd realised to put even basic checks in place.

Thanks for sticking with that @Twaha-Rahman and please let us know if we can help at all.

[2020-08-24 18:46] RandellDawson commented on #39374
@lasjorg I am saying even after trying to do what you mentioned, I am still having problems related to `sharp` when I try to run `npm run develop`.  I no longer see an error running `npm ci` after performing the actions you recommended though.

[2020-08-24 18:48] lasjorg commented on #39374
Yeah, I totally get that. As I said, it's not an uncommon issue.

Considering the size and scope of the project, fCC has done an amazing job making it as inclusive as it is. Not sure I can pick a better repo for anyone to make their first PR in. Keep up the great work.

[2020-08-24 19:09] lasjorg commented on #39374
@RandellDawson I'm actually not sure if I have seen that specific error with sharp, but it's [not uncommon](https://www.google.com/search?q=Something+went+wrong+installing+the+%22sharp%22+module) it seems.

Maybe try `npm install --verbose sharp` and check the log.

So I guess we should bump `docsify-cli` to 4.4.1 and also push an updated version of the lock file after having run `npm i jest`. Not

[2020-08-24 22:05] skaparate opened #39462 "Latest Helmet Version Unsupported in Hide Potentially Dangerous Information"
Hello!

**Describe your problem and how to reproduce it:**

A user on the forum reported that he couldn't finish the challenge **Hide Potentially Dangerous Information Using Helmet PoweredBy**. Upon further investigation, I found that the API of helmet in 4.+ has changed, which causes problems with the validation of the challenge.

Using version 4.1.0 of helmet, this is the response from the serve

[2020-08-24 22:22] Sky020 commented on #39462
Duplicate of #39190

[2020-08-25 15:41] #39301 closed

[2020-08-25 15:48] Twaha-Rahman commented on #39374
@RandellDawson Do you have C/C++ Build Tools installed in your Windows?

When you install Node.js in Windows, there is an option to install those.
(AFAIK sharp requires those tools, without those it spits out errors)

![47272399-00738880-d57d-11e8-9de6-0a6b86df7dac](https://user-images.githubusercontent.com/39026437/91196963-9bf75680-e71c-11ea-9e6c-2d3b60a7210e.png)

[2020-08-25 15:50] Twaha-Rahman commented on #39374
Btw... I have no problem when I run `npm ci` and `npm run develop` after following @lasjorg 's solution.

Can you give another try after installing those tools and tell us how it goes?

[2020-08-25 15:51] RandellDawson commented on #39374
@Twaha-Rahman Sure.  I will do that now.

[2020-08-25 17:03] RandellDawson commented on #39374
@Twaha-Rahman I started from scratch.  I deleted the repo from my machine. I uninstalled Node and reinstalled using the same installation package you showed, using 12.18.3 LTS (which is what I had before).  I checked the box to install the dependencies when the dialog box appeared.  I then performed all the steps (including Lasorg's which fixed the npm ci issue).  When I run `npm run develop`, I a

[2020-08-25 17:33] Twaha-Rahman commented on #39374
@RandellDawson The malformed challenge link error can be fixed by applying #39454

[2020-08-25 18:16] shartrooper opened #39467 "REPL.it Sample Projects Unavailable"
**Describe your problem and how to reproduce it:**
Hello.
Currently, the Url for the Personal Library challenge sample project cannot reach its Repl.it

**Add a Link to the page with the problem:**

Sample Project Repl.it URL: [QA Personal Library](https://personal-library--freecodecamp.repl.co/)
**Tell us about your browser and operating system:**
* Browser Name: Mozilla Firefox
* Browser Version

[2020-08-25 18:23] nhcarrigan commented on #39467
A couple of additional errors:

[Issue Tracker](https://issue-tracker--freecodecamp.repl.co/) - Returns a page that says "project started".
[Personal Library](https://personal-library--freecodecamp.repl.co/) - Returns a 404 error from repl.it
[American British Translator](https://americanbritish-english-translator--freecodecamp.repl.co/) - This one just won't connect for me.

[2020-08-25 18:33] randomSveta opened #39468 ""Sudoku Solver" project has an error "setGrid is not defined" when user changes data inside textarea"
**Description:**
There is an issue “ReferenceError: setGrid is not defined” in “Sudoku Solver” https://sudoku-solver--freecodecamp.repl.co/ example project when a user enters/changes/removes data inside. Also, if data inside textarea was changed no changes apply to the sudoku grid. I suppose the second issue is because of the first.

* Browser Name:  Firefox
* Browser Version: 79.0 (64-bit)
* Oper

[2020-08-25 18:57] Sky020 commented on #39467
I am able to access the _Issue Tracker_ and _American British Translator_, without any problems.

[2020-08-25 20:08] RandellDawson commented on #39467
@nhcarrigan I can reach the Issue Tracker and American British Translator, but definitely can not reach the Personal Library.

@Sky020 Do you know if that is the correct url?  We QA'd that PR and all the links seem to work fine the other day.

[2020-08-25 20:11] nhcarrigan commented on #39467
Giving it another shot, I was finally able to access those two projects. Not sure what the cause of the error was. 🤔

[2020-08-25 20:19] RandellDawson commented on #39374
OK.  I guess it was a combination of errors.  Once I cherry-picked the commits on #39454 into a branch off `master` where the changes @lasjorg suggested, everything is working again on my Windows machine.

@Twaha-Rahman Thanks for the help.

@lasjorg If you want to create a PR with your suggested bumps, I think we can get those changes merged quickly.

[2020-08-25 20:22] #39451 closed

[2020-08-25 20:24] RandellDawson commented on #39467
@scissorsneedfoodtoo Seems like we are getting some sporadic access issues to some of the projects?

[2020-08-25 20:54] Sky020 commented on #39467
I do remember it working. So, it definitely took the browser somewhere.

[2020-08-25 20:56] nhcarrigan commented on #39467
![image](https://user-images.githubusercontent.com/63889819/91227074-c6c0bb00-e6da-11ea-893d-108cc6a2a558.png)

This is where it takes me...

[2020-08-25 21:13] Sky020 commented on #39467
I can get to it by going to https://repl.it/@freeCodeCamp then https://repl.it/@freeCodeCamp/Personal-Library

This leads me to a project link of: https://Personal-Library.freecodecamp.repl.co which needs to be run-up

[2020-08-25 21:29] RandellDawson commented on #39467
@Sky020 Even after going through the steps and clicking Run, the page that shows is still what @nhcarrigan shows above.

The page should show something like was on Glitch:

![Screenshot from 2020-08-25 14-28-24](https://user-images.githubusercontent.com/5313213/91229841-5b2d1c80-e6df-11ea-9c1c-1dc711e30726.png)

Also, there is a separate issue in that the `this link` link points to `https://repl.i

[2020-08-25 22:06] kelvinsanchez15 commented on #39468
I also realized this today when I was looking for a way to solve the project.

I was able to get it working by adding an event listener to textArea and a handler function.

[code]

This way, there's no need to use the `oninput` attribute that is within the textarea of the index.html file.

I have not contributed to open source projects yet, but I hope my comment can be of help to solve this issue.

[2020-08-25 22:39] fuzzyray opened #39470 "Quality Assurance Projects - Metric-Imperial Converter Example Project accepts invalid input"
**Describe your problem and how to reproduce it:**
I am working through the Unit and Functional tests for the Metric Imperial Converter and using the example project to verify my understanding. The example project accepts invalid inputs that are supposed to be rejected according to what is being filled out in the test suite. The specific one being tested is double fraction input. From the 2_functi

[2020-08-25 22:46] RandellDawson opened #39471 "Having to stop/restart npm run develop when adding a new step in project-based curriculum"
Fixing this issue would speed up the process of viewing a new step after creating the necessary file when developing locally.  Currently, when a new step is added, you have to manually stop `npm run develop` and then run it again.  Depending on the user's machine, the total time wasted is between 60-120 seconds per new file created.  The wasted time is one thing, but it also stops the flow of cont

[2020-08-25 23:16] Sky020 commented on #39467
I got it to run by adding a `.env` with a PORT and DB string. So, the code works.

How does fCC keep the servers alive for the example projects?

[2020-08-26 03:40] scissorsneedfoodtoo commented on #39467
Hi @shartrooper, thanks for reporting this.

Not sure what happened here. I'll reach out the Repl.it team to see why this project was unavailable. To fix it, I just opened the project under the official fCC account and clicked the "Run" button.

@Sky020, it's my understanding that Repl.it projects work similarly to ones on Glitch. The servers spin down after awhile, then restart when someone goes

[2020-08-26 06:56] OsakaStarbux opened #40043 "Tests may assume a particular implementation, unit tests include functional tests"
Hi, I have some questions about the Sudoku Solver QA project tests.
Firstly, these two unit tests:

- Valid complete puzzles pass
- Invalid complete puzzles fail

Why do we need to test complete puzzles? The user stories can be fulfilled without this. After completing a working project I would have to write more code just to pass these tests.

Then this one:

- Parses a valid puzzle string into an

[2020-08-26 12:14] Balagii opened #39472 "Code snippet highlights broken"
**Describe your problem and how to reproduce it:**
I was reading https://www.freecodecamp.org/news/how-did-i-miss-javascript-symbols-c1f1c0e1874a/ on latest Chrome. Every code snippet in the article had a grey background for highlight EXCEPT for the last couple characters of each multiline snippets

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/news/how-did-i-miss-javas

[2020-08-26 12:41] shartrooper commented on #39467
It's currently reaching the app now. Did running the app fixed the issue?.

[2020-08-26 13:12] SaumitraVerma commented on #39458
You should launch PowerShell as administrator.

[2020-08-26 13:27] ojeytonwilliams commented on #39458
There shouldn't be any need to have elevated privileges when running fCC.  There's no need on 'nix systems, so hopefully Windows is the same.

[2020-08-26 13:39] SaumitraVerma commented on #39458
So, I think you should try it on command prompt instead of PS.

On Wed, 26 Aug 2020, 6:57 pm Oliver Eyton-Williams, <
notifications@github.com> wrote:

[2020-08-26 17:43] ojeytonwilliams opened #39476 "Display issue with completion modal"
**Describe the bug**
The completion model buttons are not correctly aligned.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.dev/learn/
2. Log out.
3. Go to https://www.freecodecamp.dev/learn/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements
4. Complete the challenge
5. Click run tests
6. See error

**Screenshots**
![SignIn](https://user-ima

[2020-08-26 17:48] nhcarrigan commented on #39476
I am able to confirm this bug. Looking at the elements:

The Go To Next Challenge button has a left margin of 5px.
![image](https://user-images.githubusercontent.com/63889819/91338048-2bd2ea00-e789-11ea-87e2-8d2428de88a4.png)

The Download My Solution button has a top margin of 5px.
![image](https://user-images.githubusercontent.com/63889819/91338140-50c75d00-e789-11ea-8442-d0161b48910f.png)

[2020-08-26 18:29] prakharindoria commented on #38932
I would like to contribute.

[2020-08-26 18:34] RandellDawson commented on #38932
@prakharindoria There currently is an outstanding PR #39084 that we are waiting on the contributor to update based on the latest discussion in this issue.  If the user does not make the changes in the next week, then you could go ahead and create a PR.

There are many other issues listed where you could help.  See if you can find one that does not currently have a PR for it.

[2020-08-26 19:10] prakharindoria commented on #38932
Its great to hear from you @RandellDawson. I will look into something else.

[2020-08-27 08:34] ahmadabdolsaheb commented on #39472
Thanks for letting us know. I will share this with the editorial team.

[2020-08-27 13:44] Twaha-Rahman commented on #39458
I tried running the `build` script both in `cmd` and `powershell` with and without admin rights and it still fails.

I'll look more into it once I have some time.

[2020-08-27 14:45] #39374 closed

[2020-08-27 16:36] Sky020 commented on #38254
![](https://github.trello.services/images/mini-trello-icon.png) [Slow React Tests](https://trello.com/c/kkeQQ7Ir/14-slow-react-tests)

[2020-08-28 02:41] SaumitraVerma commented on #39458
I think there is a problem with permissions only as the first error is
`'Client workers building...'  workers ready.' &
Error: EPERM: operation not permitted, scandir 'D:/$RECYCLE.BIN/S-1-5-18'
    at Object.readdirSync (fs.js:955:3)
    at GlobSync._readdir (D:\xampp\htdocs\gitcontributions\freeCodeCamp\api-server\node_modules\glob\sync.js:288:41)
    at GlobSync._readdirInGlobStar (D:\xampp\htdo

[2020-08-28 04:54] bkbranden commented on #39049
Hey I am looking for an issue to make a first contribution to and I stumbled upon this one! It seems like someone is working on this issue, but I don't see any updates since Jul 14.

Is someone still working on this issue?

[2020-08-28 06:35] scissorsneedfoodtoo commented on #39467
Hi @shartrooper, thank you for reporting this issue. Also, thanks everyone else for checking the other projects. Not sure if this is a problem on our end or not, but I've reached out to the Repl.it team in the meantime.

Please feel free to open a new issue if you find that another project is unreachable.

[2020-08-28 06:54] Gern-Yataro opened #39481 "InfoSec 5 multiplayer game project: broken tests"
**Describe your problem and how to reproduce it:**
FCC Curriculum's Information Security 5: Secure Real Time Multiplayer Game Project test is completely broken, any link added to the testing screen passes all the tests.

Reproduce Steps:
1. Go to https://www.freecodecamp.org/learn/information-security/information-security-projects/secure-real-time-multiplayer-game.
2. Add any Repl.it project link

[2020-08-28 09:54] scissorsneedfoodtoo commented on #17584
Tested with the current production site and by forking the boilerplate-npm repo with this link on the Introduction to the Managing Packages with npm Challenges intro page: https://repl.it/github/freeCodeCamp/boilerplate-npm

Went through all the challenges in this section on Repl.it and didn't run into any issues.

[2020-08-28 09:54] #17584 closed

[2020-08-28 10:09] Sky020 commented on #39481
I believe this should be added to: #37185

[2020-08-28 10:28] MyNameIsAres opened #39483 "Broken links in Record Collection solution."
**Problem description:**
Noticed the issue when helping someone with the Record Player challenge. Two links in the ''get a hint'' section are broken.
The ''add new properties to a JavaScript Object'' and ''Delete Properties from a JavaScript Object" links,  point to a 404 page with an incorrect url.

https://www.freecodecamp.org/challenges/delete-properties-from-a-javascript-object
-> should be:
h

[2020-08-28 10:37] MyNameIsAres opened #39484 "A link to a "free" course is now premium."
**Describe your problem and how to reproduce it:**
An article suggests the first linked course is free. If you click on the link it brings you to a premium course. The course might have been free at the time of writing. However, it currently isn't.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/news/these-are-the-best-free-courses-to-learn-data-structures-and-algorithms

[2020-08-28 11:19] Sky020 commented on #39483
Thank you, for taking the time to help the freeCodeCamp community, by pointing this out.

I have updated the guide post's links.

[2020-08-28 11:19] #39483 closed

[2020-08-28 11:52] Sky020 commented on #39049
@bkbranden The current PR does resolve the current issue. So, I suggest you look for another issue to work on with the _help wanted_ label. Thank you, for your interest.

[2020-08-28 15:53] Obaida-Albaroudi commented on #39467
Hey Folks, I am Obaida from Repl.it. Appreciate you all reaching out to Kris with these issues. I will go ahead and look into this and keep you all posted with any updates I may have! Also always feel free to raise the issues here as well https://repl.it/bugs.

[2020-08-28 17:04] lasjorg opened #39486 "Update challenges with hint on how to get to the array"
Challenges:
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/implement-map-on-a-prototype
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/implement-the-filter-method-on-a-prototype

The assumption that the camper will know to use `this` inside the callback to get to the array is pretty unfounded

[2020-08-28 17:29] Sky020 commented on #39486
In a prior challenge, campers are taught about objects (the way I see it, everything in JavaScript boils down to an object), and how _methods_ of an object have access to the object via `this`:
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/object-oriented-programming/make-code-more-reusable-with-the-this-keyword

I do think the `Array.prototype.map` and `Array.protot

[2020-08-28 17:56] bhagerty commented on #37612
I also found this question very confusing, but I'm not sure that [the PR from @Pallof](https://github.com/freeCodeCamp/freeCodeCamp/pull/38703) is the best solution (if that PR is even still alive). I would propose a different solution. I think that the issue is more one of substance than one of wording.

Here's why the problem, as written, is confusing:

- The constructor takes a Farhenheit value

[2020-08-28 18:10] lasjorg commented on #39486
I don't think the OOP part of the curriculum is of much help to people in figuring this out. The challenge seems completely oblivious to this missing piece of information, it's like it is not even part of the challenge, yet it's necessary to complete it.

I'm 99% sure if this challenge did not have a hints page we would be flooded with forum posts about it. Just do a search on the forum for it and

[2020-08-28 18:12] bhagerty opened #39487 "Add explanation or link about what "chaining methods" means in ES6 challenge"
In [the ES6 challenge "Handle a Rejected Promise With Catch"](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/handle-a-rejected-promise-with-catch), the reader is told" "Note: the then and catch methods can be chained to the promise declaration if you choose."

Nothing so far in the Javascript curriculum has explained what it might mean to "chain" methods to the pr

[2020-08-29 02:21] skaparate commented on #38691
@RandellDawson this is weird... your solution doesn't work when validating the challenge with a solution (it works if no solution is provided), but it passes the tests when running `npm run test -- -g 'Basic JavaScript: Record Collection'`.

I tried to implement this test:

[code]

With this `teardown`:

[code]

Which works when a solution is provided but fails the tests with `_parsedCollection is

[2020-08-29 03:09] anup-thunder commented on #34507
its not working now

[2020-08-29 04:19] Maddipatla67 opened #39490 "website stalite and antihack code check."
[fibre antihackcodeglass.txt](https://github.com/freeCodeCamp/freeCodeCamp/files/5144774/fibre.antihackcodeglass.txt)

we should unlock this code

[2020-08-29 13:02] sudiptog81 commented on #38380
The e-mail address change flag is already being used in `api-server/server/boot/authentication.js` to determine whether the new e-mail is incorrect or not. We can use this flag and similar logic and change the success message based on the conditions.

https://github.com/freeCodeCamp/freeCodeCamp/blob/aa62fdbfe98f872785f792108c6d55582da7e12d/api-server/server/boot/authentication.js#L156

https://gi

[2020-08-29 13:45] ahmadabdolsaheb commented on #39490
Hi @Maddipatla67, could please provide more context and a description of the feature that you have in mind?

[2020-08-29 15:08] RandellDawson commented on #38691
@skaparate I will investigate further and see if I can reproduce what you are seeing.

[2020-08-30 14:11] etnnth commented on #39271
I have been trying to do something similar with [pyodide](https://github.com/iodide-project/pyodide).
It is somewhat similar to Brython. It also allow the use of the scientific python stack with numpy and stuff.
I managed to hack my way through FreeCodeCamp code and add a way to run python code given in the editor.
If you are interested, I made a pull request #39493.

[2020-08-30 15:16] raisedadead commented on #38308
Code freeze has been removed on all PRs pending the migration of the schema. We want to land as many PRs on `master` as we can before running a script to update all challenge files.

/cc @freeCodeCamp/dev-team

[2020-08-30 17:22] hollidayeric commented on #17584
Hello, I've just started this course and have experienced the same error as reported before, however, I am using Repl.it.  I tried the earlier suggestion of sharing the raw data link from Github and still get an error about missing a valid author key.  I also tried removing all the existing code so the file only had `"author": "hollidayeric",` remaining.
Here is my Repl.it file link: https://repl.

[2020-08-30 18:08] Sky020 commented on #17584
@hollidayeric The link you are providing in the solution box is not the link to the live app the tests need access to.

The link to submit should look something like:
`https://boilerplate-npm.hollidayeric.repl.run`

And is available to copy from the preview browser URL bar

Hope this clarifies

[2020-08-30 18:46] QuincyLarson commented on #39484
@MyNameIsAres Thanks for letting me know that this course is now paid. I moved it to the bottom of the article and noted that the course is no longer free.

[2020-08-30 18:46] #39484 closed

[2020-08-30 19:16] hollidayeric commented on #17584
@Sky020 - Thank you!  I still had trouble with https://boilerplate-npm.hollidayeric.repl.run.  I opened the editor in a new window and noticed the link is slightly different for the program.  It is running and works to submit the lessons with this link: https://boilerplate-npm.hollidayeric.repl.co

![image](https://user-images.githubusercontent.com/69764172/91667554-8941a080-ead3-11ea-8f67-be55b9c

[2020-08-31 03:01] #38507 closed

[2020-08-31 03:53] #38312 closed

[2020-08-31 05:50] #38478 closed

[2020-08-31 08:59] nibble0101 commented on #39433
Aren't you implying that the area starts on the line? The way i have understood grid lines is that they are "width-less"  boundaries of the areas within which the grid items lie.  The numbers 1, 2, 3, ... are just labels for the vertical and horizontal lines splitting your grid container into grid areas. And you can give them any name you want instead of using numbers. From your interpretation it

[2020-08-31 10:48] Laurent0311 opened #39496 "challenge tribute page (codepen)"
don't understand why i cannot see the picture on codepen

![Capture d’écran 2020-08-31 à 05 22 44](https://user-images.githubusercontent.com/64399759/91712536-eaaa5380-eb55-11ea-80dd-9e7e775b9960.png)

NOTE: If you're reporting a security issue, don't create a GitHub issue. Instead, email security@freecodecamp.org. We will look into it immediately.
-->
**Describe your problem and how to reproduc

[2020-08-31 11:04] Sky020 commented on #39496
Hello there,

Seeing as this is not an issue with the source code/test suite, I recommend you open a topic in the [forum](https://forum.freecodecamp.org). Please be sure to include a link to your project, and make use of the MarkDown syntax used.
It is difficult to work with screenshots of code.

As such, I am closing this issue. Thank you.

[2020-08-31 11:04] #39496 closed

[2020-08-31 11:29] #37890 closed

[2020-08-31 11:52] AnonymousRepositoryStuff commented on #39433
I don't think it reads that way personally. Do you?

I understand your point but I disagree.
I still think my proposed description is an improvement for the item listed above, as I think it is using the same terms the underlying CSS is using.
`grid-area: 3/1/4/4;` is essentially shorthand for: `grid-area: <name> | <row-start> / <column-start> / <row-end> / <column-end>;`
I think it makes more sema

[2020-08-31 13:45] nibble0101 commented on #39433
If this is the reason for your suggestion, i have no objection.
Actually my response above is mostly to your explanation of why the change is necessary not the actual change itself, i should have made that clear from the onset:

Essentially what i am saying is that interpreting the instruction that way would mean  the lines take some sort of "width" and/or "height" therefore  the area must exclude

[2020-08-31 14:13] SainiKhushi commented on #14144
I do have the same problem
My code is:
// Variable declarations
var StUdLyCapVaR;
var properCamelCase;
var TitleCaseOver;

// Variable assignments
StUdLycapVaR = 10;
properCamelCase = "A String";
TitleCaseOver = 9000;

what should I do?

[2020-08-31 14:18] SainiKhushi commented on #14144
Answer to this challenge:
// Variable declarations
var StUdLyCapVaR;
var properCamelCase;
var TitleCaseOver;

// Variable assignments
STUDLYCAPVAR = 10;
PRoperCAmelCAse = "A String";
tITLEcASEoVER = 9000;

[2020-08-31 14:20] SainiKhushi commented on #14144
answer to this challenge:
// Variable declarations
var studlyCapVar ;
var properCamelCase ;
var titleCaseOver ;

// Variable assignments
studlyCapVar  = 10;
properCamelCase  = "A String";
titleCaseOver  = 9000;

[2020-08-31 16:04] AnonymousRepositoryStuff commented on #39433
Okay, you have been a very helpful sounding board @nibble0101 - thank you for bouncing your ideas/ why it's necessary.

If I make a pull request and go with what I discussed above:
"item5 class should have a grid-area property that begins on the third horizontal line, ending on the fourth horizontal line and begins on the first vertical line, ending on the fourth vertical line."

Does FCC have a p

[2020-08-31 17:01] RandellDawson commented on #39433
Just change the English version for now.

[2020-08-31 17:06] moT01 opened #39498 "Add some space in completion modal when not signed in"
Go to any challenge when not signed in and complete it. The modal that pops up could use a little space where highlighted...
![Screen Shot 2020-08-31 at 12 01 40 PM](https://user-images.githubusercontent.com/20648924/91746501-4be81c00-eb82-11ea-94f3-7973476be66f.png)

Tested on chrome and firefox.

[2020-08-31 17:08] nhcarrigan commented on #39498
Heya @moT01 - is this related to #39476? 🙂

[2020-08-31 17:32] #39392 closed

[2020-08-31 18:18] dloynaz opened #39667 "Test not working on Pomodoro Clock in FCC"
#### Issue Description

The test is not passing all the tests but my project is already working. I check every section of it and it seems everything is alright.
#### Browser Information
Google Chrome

CodePen / React

- Browser Name, Version:Google Chrome Versión 84.0.4147.135
- Operating System: Windows 10
- Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

https://codepen.i

[2020-08-31 20:31] #38710 closed

[2020-08-31 22:16] #38329 closed

[2020-08-31 23:14] RandellDawson commented on #38932
@Sky020 Would you be OK with @lasjorg's latest suggestion?  If so, then can one of you make the necessary commit?  I will approve such a change.

[2020-09-01 00:15] #39370 closed

[2020-09-01 01:13] #39498 closed

[2020-09-01 01:24] #38648 closed

[2020-09-01 06:24] scissorsneedfoodtoo commented on #39472
Hi @Balagii, thanks for reporting this. I went in and fixed all the code snippets, added syntax highlighting to many of them, and added some missing code snippets.

Here's the updated article: https://www.freecodecamp.org/news/how-did-i-miss-javascript-symbols-c1f1c0e1874a/

[2020-09-01 06:24] #39472 closed

[2020-09-01 07:46] ojeytonwilliams opened #39501 "Potential issue with dev sign in"
@RandellDawson and @ahmadabdolsaheb found themselves unable to log in locally.  Ahmad's issue was fixed by `npm run seed`, but Randy's was not.  Could you explain a bit in this issue if the problem persists?

It might be nothing, but it could be a sign something isn't quite right.

[2020-09-01 12:22] Sky020 commented on #39501
I am able to log in, and save settings. I did however get a bunch of errors on the landing page, which I resolved by adding:
[code]
Back to `.env`

Possibly useful to take a look at what changes #39443 made, and correct the setup for the changes.

[2020-09-01 12:28] Sky020 commented on #39501
Here are the errors I am getting without the above _env_ vars
![image](https://user-images.githubusercontent.com/51722130/91851321-de59ef80-ec56-11ea-9f0d-0c4dd52ec6c4.png)

Slightly more verbose:
![image](https://user-images.githubusercontent.com/51722130/91851376-f5004680-ec56-11ea-8404-f7156032c165.png)

[2020-09-01 12:46] raisedadead commented on #39501
Thanks for confirming, we should add some defaulting logic to this actually in dev mode.

Speaking of which @scissorsneedfoodtoo do you know if we have a test instance of Algolia, I do not see any on the dashboard.

[2020-09-01 13:10] moT01 commented on #39190
I think there was pretty good support for rewriting the lesson to use a specific version of helmet - If the current tests all pass with `3.21.3`, like @lasjorg mentioned - we could probably go with that one. It has the dual benefit of backwards compatibility and stopping this issue from coming up again if/when helmet changes something else. So I would say to pin helmet to that version if it works.

[2020-09-01 13:14] RandellDawson commented on #39501
The only way I was able to finally clear up the errors I was seeing, was to clear my cache for localhost.  Before that, I had tried:
1. resyncing master
2. running the following commands:
[code]

[2020-09-01 13:26] raisedadead commented on #39501
Thanks @RandellDawson this additional information helps. The secrets were changed (by me) on the `sample.env` which have led the sessions (in the local db on your end) to go stale.

The client is sending the session details to the API, the API is also correctly seeing them in the db, but because the keys (which encrypted) the tokens in the first place has changed it is erroring out.

This is kind

[2020-09-01 13:42] RandellDawson commented on #39501
Wouldn't the `npm run seed` have purged the db?

[2020-09-01 13:46] raisedadead commented on #39501
Nope. It will only "seed" the user collection if it is not present already. It would not create/remove anything else by design.

[2020-09-01 13:48] RandellDawson commented on #39501
Should we add something to `npm run seed` that purges the local db and then seeds it?

[2020-09-01 13:55] Rohit-Arora-0508 commented on #39364
Is this issue still open? I will like to work on it.

[2020-09-01 13:59] raisedadead commented on #39501
Like I said, this behaviour is intentional. The DB is not a ephemeral entity. It should not be mutated after intial setup. That is the only way you would catch potential bugs from reaching production.

[2020-09-01 14:00] Rohit-Arora-0508 commented on #39049
Is it still open? I'd like to contribute to it.

[2020-09-01 14:13] raisedadead opened #39503 "Missing nav from forum header"
**Describe the bug**
Missing nav from forum header.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to <http://forum.freecodecamp.org/u/nonexistentuser>
2. See error

**Expected behavior**
Nav should be available at all times.

**Screenshots**
![image](https://user-images.githubusercontent.com/1884376/91862065-2135ba80-ec8b-11ea-9540-f30af2852286.png)

[2020-09-01 14:22] raisedadead commented on #36277
We have something similar to this in the works #39466

[2020-09-01 14:22] #36277 closed

[2020-09-01 14:24] ojeytonwilliams commented on #39501
Oh, so because I don't keep my browser cache, it kept requesting a new token?

[2020-09-01 14:25] raisedadead commented on #36743
Bump.

[2020-09-01 14:27] raisedadead commented on #37590
Closing in favor of the linked issue.

[2020-09-01 14:27] #37590 closed

[2020-09-01 14:30] raisedadead commented on #39501
Yes.

[2020-09-01 14:37] raisedadead commented on #39471
I am moving this upto the current version with the linked PR as a partial solution given the limitations we discussed.

[2020-09-01 15:02] nhcarrigan commented on #39364
Heya @Rohit-Arora-0508

Thank you for your interest in contributing! There is currently an active PR that will close this issue, and it looks like that PR is on track for approval. We typically accept the first comprehensive PR that fixes an issue - as such, I would recommend looking for other issues labelled `help wanted` (or `first timers only`, if this is your first contribution) and check for

[2020-09-01 15:25] ojeytonwilliams opened #39505 "Remove isHidden from Chinese challenges"
After the Chinese curriculum has been synced up with the English, the `isHidden` variable will need to be removed from the frontmatter.  We're not doing it now, since it could create a ton of tedious merge conflicts.  Once the Chinese changes have been merged it's a trivial search and replace.

[2020-09-01 15:44] #39364 closed

[2020-09-01 15:51] Rohit-Arora-0508 commented on #39364
Ok Thanks 🙂🙂

On Tue, Sep 1, 2020, 20:32 Nicholas Carrigan <notifications@github.com>
wrote:

[2020-09-01 17:10] RandellDawson commented on #38691
I just tested my proposal again and ran `npm run test -- -g 'Record Collection'` after first changing to the `curriculum` directory and it works as it should.

@skaparate I am not understanding what you mean by "tested the regex on the browser console".  Can you elaborate on what you mean here?  What exactly did you enter into the browser console?

As far as the docker error, I do not use docker,

[2020-09-01 17:16] #39462 closed

[2020-09-01 18:38] Sky020 commented on #38691
@RandellDawson Your solution works well to resolve this issue.

[2020-09-01 18:48] skaparate commented on #38691
[quote]I just tested my proposal again and ran npm run test -- -g 'Record Collection' after first changing to the curriculum directory and it works as it should.[/quote]

Sorry! I didn't explain it correctly.

Using your solution, **the tests pass** when run through `npm` or docker, **but do not work** if you try to submit the solution through the challenge page on the browser (localhost:3000/lear

[2020-09-01 19:04] Sky020 commented on #17972
I am closing this issue as the link and page have changed completely, and the issue is no longer present.

[2020-09-01 19:04] #17972 closed

[2020-09-01 21:37] AnonymousRepositoryStuff commented on #39433
Thank you for the assistance @RandellDawson

[2020-09-01 22:28] skaparate commented on #38691
I tested again, but this time using gitpod, but had the same result, here's a GIF of what I did (it's a little big :sweat_smile:): https://drive.google.com/file/d/1XWv3-uu1ZhtLP99w3z9jlPIafPrPBK8Q/view?usp=sharing

[2020-09-01 23:48] #39346 closed

[2020-09-02 00:11] RandellDawson commented on #38691
@skaparate After watching your video, I now know what the issue is.  When I was testing it, I only used the function and not the function and the call to the function (which is part of the seed code).  If you comment out the call to the function, it works as expected.  However, we do not want a test to fail just because of a user making a call to the function while they are testing things out.

Th

[2020-09-02 05:40] QuincyLarson opened #39507 "Donation prompt modal recurs during same session after donating"
Steps to reproduce:

1. Create a new account on /learn
2. Complete a section. The Trophy modal will show up.

<img width="1757" alt="Python_for_Everybody___freeCodeCamp_org" src="https://user-images.githubusercontent.com/985197/91936010-9e295a00-ecb4-11ea-9803-d3d2fff59277.png">

3. Enter credit card information into the modal and successfully become a donor.
4. During the same session, continue c

[2020-09-02 05:44] QuincyLarson opened #39508 "Account deletion redirects too quickly"
**Describe the bug**
Deleting your account works as expected, but it also redirects users to /signin immediately after signing them out. This means the "Your account has successfully been deleted" message only appears for a split second before it disappears. I knew to look for it, but most users would not. Meaning they might misunderstand and think their account has not been deleted successfully.

[2020-09-02 08:38] #39476 closed

[2020-09-02 12:25] scissorsneedfoodtoo commented on #39501
@raisedadead, we do have a test instance of Algolia, but I accidentally created it under my account rather than a general team account, so only I have access to it.

I'll create a test instance under the team account and create a PR to update the keys in sample.env.

[2020-09-02 12:46] Sky020 commented on #38691
@RandellDawson To close both this and the related #38962 , why not try something similar to: https://github.com/freeCodeCamp/freeCodeCamp/pull/39385

We could pass `_recordObject` to the function for each test. This would probably require the lesson and seed to be changed to have the collection passed as an argument.

Proposed seed:
[code]
That, or similar. I realise this is a lot more work...

[2020-09-02 13:18] Sky020 commented on #38691
@skaparate What are your thoughts about:
1) Change the seed so that the function accepts an object, and returns a new one (no mutation)
2) Remove the first test (no need for it)
3) Run all tests, by passing `_recordObject` to the function.
4) Leave the `collection` variable as is, so campers can use it to debug.

[2020-09-02 15:03] skaparate commented on #38691
@Sky020 Nice! I'll fix it and create the PR. Thanks :smile:

[2020-09-02 16:59] #38712 closed

[2020-09-02 17:11] #38680 closed

[2020-09-02 18:21] #38932 closed

[2020-09-02 21:15] ptkpyitheim commented on #38932
Yes, no problem. I'm checking out the comments on the PR link.

[2020-09-02 22:59] RandellDawson commented on #39467
@Obaida-Albaroudi We have another demo project that stopped working.

https://metric-imperial-converter--freecodecamp.repl.co/

[2020-09-02 23:01] #36447 closed

[2020-09-03 00:24] #38254 closed

[2020-09-03 00:57] Obaida-Albaroudi commented on #39467
@RandellDawson Thanks for flagging! I looked at the base code real quick and it seems like you are calling process.env.PORT with no env file. I believe that should fix the problem, please let me know if you are still having issues and I can dive into this a little more.

[2020-09-03 04:33] scissorsneedfoodtoo commented on #39467
Hi @Obaida-Albaroudi, thanks for taking a look at this project.

I went in and added the `.env` file, but I don't think it was necessary for the project, and was only used to set the port and whether or not tests run automatically. There's a fallback if `process.env.PORT` returned `undefined`, so the project was working until recently.

Still, that could be why the project stopped working here. Ma

[2020-09-03 06:12] raisedadead commented on #39501
I am not in favor of adding our keys (although these are client side keys for algolia) to version control. Instead the search feature sould be mocked/disabled in developement.

[2020-09-03 08:11] scissorsneedfoodtoo commented on #39501
@raisedadead, sure, that sounds good. I think it'll throw errors for now, but there's probably a good way to disable search altogether in development.

[2020-09-03 11:34] #38691 closed

[2020-09-03 11:34] #38962 closed

[2020-09-03 13:20] RandellDawson opened #39514 "Remove reference/link to Azure Notebooks in README.md in external repo"
While reviewing PR #39499, it was discovered that one of the external reps to which we link in four `Data Analysis with Python Course` challenges, has a note and link to Azure Notebooks.

The four challenges are:
- curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/data-cleaning-and-visualizations.english.md

- curriculum/challenges/english/08-data-analysis

[2020-09-03 14:13] najmieh opened #39515 "unclear instructions for basic JavaScript: Appending Variables to Strings lesson"
**the instruction says: "Set someAdjective and append it to myStr using the += operator."  while it doesn't specify that you should set a string for someAdjective. I find it confusing and I think mentioning this can help newbie coders a lot**

**Link to the lesson: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/appending-variables-to-strings**

**Tell

[2020-09-03 14:28] #39049 closed

[2020-09-03 14:47] nhcarrigan commented on #39515
![image](https://user-images.githubusercontent.com/63889819/92130500-ab7c3c80-edb9-11ea-9b11-5f301caffde6.png)

The test text below the instructions *does* specify the value of `someAdjective` should be a string. 🙂

[2020-09-03 14:58] #39190 closed

[2020-09-03 15:49] #38783 closed

[2020-09-03 20:06] Obaida-Albaroudi commented on #39467
Hey, apologies you were definitely right and the env file had nothing to do with it. I dug into it a little more and was able to determine the issue with the help of the team. The app is running with no issues, matter of fact you should be able to open it up in a new tab. Unfortunately the issue is the web view won't open up in the repl page your on because you set X-Frame-Options: sameorigin (pro

[2020-09-03 20:58] #39433 closed

[2020-09-03 22:47] shartrooper opened #39517 "Mochachai testing unit failing: "before all" hook in "Unit Tests""
**Describe your problem and how to reproduce it:**
Hello.
After finishing the main scripts for both Sudoku Solver and American/British translator. I was unable to write test units that actually work for my code, and I mostly left the suite async configuration in the boilerplate testing files mostly intact.

So I went to their respective FCC challenge sample projects, checked their **1_unit-test.js

[2020-09-04 05:42] RandellDawson commented on #39173
@scissorsneedfoodtoo Can we close this issue now that we are using repl.it?

[2020-09-04 08:59] ojeytonwilliams opened #39519 "Login difficulties"
Reported on Twitter: https://twitter.com/AnantaCodes/status/1301448427289456641

I've checked that I can login on Edge, so I think it is probably an issue specific to that user's network.  Possibly their certificates are invalid or their network is intercepting traffic, hard to say.

[2020-09-04 13:30] Sky020 opened #39520 "Feature to Refactor SolutionForm"
Currently, the method `SolutionForm` and `FormFields` uses to parse and display the various fields is convoluted, and prevents customisability.

The main feature is to refactor the code methods for parsing the `placeholders` and `options` objects.

The minor feature is to change `Github Link` -> `GitHub Link` (capital `H`)
![image](https://user-images.githubusercontent.com/51722130/92244473-e0bc83

[2020-09-04 13:44] #39425 closed

[2020-09-04 13:44] #39375 closed

[2020-09-04 13:50] #17781 closed

[2020-09-04 13:50] #17820 closed

[2020-09-04 13:50] #36281 closed

[2020-09-04 13:50] #38064 closed

[2020-09-04 13:50] #38882 closed

[2020-09-04 13:50] #17618 closed

[2020-09-04 13:50] #17704 closed

[2020-09-04 13:50] #17757 closed

[2020-09-04 13:50] #17763 closed

[2020-09-04 13:50] #17765 closed

[2020-09-04 13:50] #18103 closed

[2020-09-04 13:50] #36050 closed

[2020-09-04 13:52] ShaunSHamilton opened #39521 "Advanced Node and Express - Package Versioning"
_Advanced Node and Express_ section needs package versions added to the instructions, as discussed in: https://github.com/freeCodeCamp/freeCodeCamp/pull/39080#pullrequestreview-479988596

Example:
"
Add <code>passport.socketio</code> version <code>X.X.X</code>, <code>connect-mongo</code> version <code>X.X.X</code>, and <code>cookie-parser</code> version <code>X.X.X</code> as dependencies and requi

[2020-09-04 17:08] beaucarnes commented on #39514
I just made the PR with this change and reached out to the creator via email to explain.

[2020-09-04 18:28] devagarwal2503 opened #39523 "Basic JavaScript: Local Scope and Functions"
There is a problem with the challenge, even after solving it right it not accepting it.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/local-scope-and-functions

**Tell us about your browser and operating system:**
* Browser Name: Google Chrome
* Browser Version:  84.0.4147.135
* Operating System: Windows

[2020-09-04 18:44] RandellDawson commented on #39523
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-09-04 18:44] #39523 closed

[2020-09-04 21:06] #39101 closed

[2020-09-04 22:07] Sky020 opened #39524 "News: Machine Learning Crash Course links to Private Video"
As the title says: Machine Learning Crash Course links to Private Video

Article: https://www.freecodecamp.org/news/machine-learning-crash-course/

I cannot find the same video on the channel.

@beaucarnes Ping

[2020-09-05 08:46] Twaha-Rahman opened #39527 "Run Cypress tests in more than one browser in parallel"
**Is your feature request related to a problem? Please describe.**

We often get a lot of questions about which browser/s fCC's site supports. We normally answer saying, newer versions of Chrome... when in reality the site probably works fine on all browsers. But we couldn't guarantee it. It would be a good idea to run tests on different browsers. That way if a feature doesn't work in browser, we'

[2020-09-05 10:42] ojeytonwilliams commented on #39527
Sounds good to me. Do you know if we can group the status checks on GitHub?  Just to keep the noise down.  If that's the case I don't see a problem having them all run on each PR.

[2020-09-05 14:46] scissorsneedfoodtoo commented on #39467
@Obaida-Albaroudi, awesome, thank you for looking into that. Is there anything we can do on our end with this project and the others to prevent this issue in the future?

About the web view being unavailable, that should be okay for some projects that require Helmet with those settings. We can do a deeper audit to make sure only the projects with those specific user stories are affected, and that

[2020-09-05 14:49] scissorsneedfoodtoo commented on #39173
@RandellDawson, thanks for catching this.

@limvus, thanks again for reporting this. While this project is still available on Glitch, we've moved the backend projects to Repl.it. The URL for the Repl.it version is here: https://url-shortener.freecodecamp.repl.co/.

[2020-09-05 14:49] #39173 closed

[2020-09-05 15:39] nhcarrigan opened #39531 "[BUG] - Edge Case Handling on "Define the Head and Body of an HTML Document""
**Describe your problem and how to reproduce it:**

In relation to the changes from #39112...

A few things that the tests seem to miss:
1. The tests do not validate that the `head` elements are separate from the `body` elements. The following code passes:
[code]
2. The reverse is also true:
[code]
3. Adding the required elements at the bottom of the code will pass:
[code]
**Add a Link to the page

[2020-09-05 16:29] nibble0101 commented on #39515
I do agree with you @najmieh. Though the test description clarifies what is expected of the learner, I think it makes more sense to be explicit about the type of `someAdjective` in the task description rather than in the test description. I say this because many other assignments do not specify all the requirements of the task in the task description. You can only be sure of what is expected of yo

[2020-09-05 16:48] nibble0101 commented on #39487
I don't remember coming across a lesson in the javascript section linking to an external site for better explanation. Wouldn't it even be better to add a lesson explaining promise chaining than link to an external site if it has not been explained anywhere in the lesson series? TBH i see promise chaining used a lot.

[2020-09-05 17:53] lasjorg commented on #38410
This is still causing problems every now and then.

Have we abandoned the support of the older Edge versions (prior to the switch to Chromium), or should we fix this by switching back to a regex?

[2020-09-06 01:31] bhagerty commented on #39487
@nibble0101 Yeah, I don't see a lot of external links, so an explanation of promise chaining seems like the way to go. Not sure if it needs another lesson or could be explained here.

[2020-09-06 05:52] 011235813a commented on #39351
Hello! Has any resolution to this been implemented? Im not entirely sure what to do about submitting this project because this error still exists. Any help is greatly appreciated!

[2020-09-06 08:22] carbasemin commented on #39351
I don't think so, README.md hasn't changed. It doesn't matter though, design the project as if it was modified the way I suggested and it'll be fine.

[2020-09-06 10:47] Twaha-Rahman commented on #39527
@ojeytonwilliams I'll have to look into it. There should be a way to so....

[2020-09-06 12:21] piouson opened #39533 "Advanced Node and Express - Trailing Forward Slash and Whitespaces Fails Tests"
**Describe your problem and how to reproduce it:**
Trailing forward slash and whitespaces fails the tests

**Add a Link to the page with the problem:**
- [Implementation of Social Authentication](https://www.freecodecamp.org/learn/quality-assurance/advanced-node-and-express/implementation-of-social-authentication)

**Tell us about your browser and operating system:**
* Browser Name: Chrome 84
* Br

[2020-09-06 12:23] Sky020 commented on #39487
Hello there,

You are correct, we try as much as possible to avoid links to external resources. One of the main ideas behind the challenges in this version of the curriculum is stated [in the contributors docs](https://contribute.freecodecamp.org/#/how-to-work-on-coding-challenges?id=challenge-descriptionsinstructions):

As for the issue with campers potentially never having heard of _"chaining"_,

[2020-09-06 15:09] nhcarrigan commented on #39521
I am leaning more toward the `@~4.2.0` requirement, myself.

With the carat prefix, `npm` will install the latest *minor* version. In theory, updates to the minor version are backwards compatible and shouldn't create any issues with the tests or challenges. However, minor versions can include depreciation notices like `X is depreciated and will be unavailable in a future version. Use Y instead`. T

[2020-09-06 15:20] nibble0101 commented on #39487
Hi @Sky020 . Well it is understandable to give learners something to research about but my honest opinion is if you decide to do it, then you must clearly state so. Looking at the wording of the note:

From the above statement there is a very high likelihood for a learner to ignore the note because it is an alternative to the already explained method.  I would most likely ignore it too,  given the

[2020-09-06 16:40] Sky020 commented on #39487
@nibble0101 I fully understand where you are coming from.

My main issue with including anything about _chaining_ in this context or _fetch_/_ASYNC_ context is `.then` and `.catch` are not a part of this topic - ES6. I would much rather a new lesson be created teaching _chaining_ in another block, and/or _TRY/CATCH_ being taught as the standard with _ASYNC/AWAIT_ in the ES6 block.

That being said

[2020-09-06 17:27] bhagerty commented on #39487
@Sky020 Thanks for weighing in. Your comment about the "new curriculum" is news to me. If that's where this discussion belongs, that's fine with me.

On the substance, as a beginner, I think the bare-bones note about promise chaining here does more harm than good. So given that there is no appetite for explaining it here, I would favor deleting the note.

[2020-09-06 17:40] RandellDawson commented on #39487
@moT01 Since you originally created this challenge and included the note, could you share your thoughts on this issue?

[2020-09-06 17:48] Sky020 commented on #39487
@bhagerty , In that case, I highly recommend you take a peak. Starting with these two posts announcing it:
- https://forum.freecodecamp.org/t/what-do-you-think-of-the-2020-curriculum-updates/328768
- https://forum.freecodecamp.org/t/help-us-build-version-7-0-of-the-freecodecamp-curriculum/263546

[2020-09-07 15:06] ojeytonwilliams commented on #39527
Thanks.  I don't think it's a deal-breaker, but if we can keep the noise down, that's definitely a plus.

[2020-09-07 19:35] neilk13 opened #39536 "Correct answer not accepted"
At the url https://www.freecodecamp.org/learn/responsive-web-design/css-flexbox/add-flex-superpowers-to-the-tweet-embed, the property is supposed to be added to several things.  However, the condition "Your .follow-btn should have a display property set to flex" is marked as not met.  It seems to be a website error, because I then copied and pasted the answer given at "get help," but the same thin

[2020-09-07 20:30] pankajboruah commented on #39468
As the error message suggests, the function `setGrid` is not recognized. This might be because it's not getting imported.
While using type="module", the function needs to be imported like this:
[code]
Or better just remove type="module" from the script tag.

[2020-09-07 21:00] RandellDawson commented on #39536
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-09-07 21:00] #39536 closed

[2020-09-07 21:19] moT01 commented on #39487
I don't think I would expand this lesson to include teaching method chaining, since it would take away the focus of the lesson. Even an extra example might be much - I know there's many other lessons that are longer with many examples - but that's my opinion.

I wouldn't object to an additional lesson about it - but we aren't really adding lessons anymore in favor of the new curriculum.

So I thin

[2020-09-08 01:57] RandellDawson opened #39537 "Chinese challenges (Responsive Web Design) needing another audit for English changes from Feb 29, 2020 - Sep 7, 2020"
The following Chinese curriculum challenges need to be compares to their English equivalents.

This issue only covers challenges in the Responsive Web Design certification.

All the challenges below have Description or Instructions sections with changes to the English version since Feb 29, 2020 (the day after the last such audit on this section of challenges). Also, any challenges with Tests where

[2020-09-08 02:58] nhcarrigan opened #39538 "[BUG] - Formatting required in `Introducing Else If Statements`"
**Describe your problem and how to reproduce it:**

The tests appear to require specific (albeit conventionally correct) formatting in order for the code to pass. This code block, provided by a user, did not pass:
[code]

However, if I ran the formatter with `Ctrl`+`Alt`+`F`, the resulting formatted code *did* pass:
[code]

**Add a Link to the page with the problem:**

[Basic JavaScript - Introduc

[2020-09-08 07:34] Sky020 commented on #39538
Confirmed. This is due to the extra space between the word _else_ and _if_. Here is the culprit:

[code]
Changing the above to this should work:
[code]

@nhcarrigan Open up to _first-timers_?

[2020-09-08 08:27] raisedadead commented on #39537
Let's merge all outstanding PRs (at least what we can) and the do the

1. Audit
2. Fix changes
3. Remove any freeze.

We would be needing to do this for all the certifications correct?

[2020-09-08 12:04] RandellDawson commented on #39537
Yes. I will need to create separate issues for the different certifications and for some, maybe break them down into sub sections to avoid the audit information from being too much information (i.e. the JavaScript Algorithm and Data Structures certification).

Before you unfreeze, you will want to wait until @ojeytonwilliams has added the new test ids, once the Chinese team has confirmed all the t

[2020-09-08 13:20] beaucarnes commented on #39524
Thanks for bringing that to my attention. We discovered that video course was plagiarized almost word-for-word from another course so we took it down. I forgot to delete the article. I just deleted it.

[2020-09-08 13:20] #39524 closed

[2020-09-08 14:12] nhcarrigan commented on #39538
Sounds good to me!

[2020-09-08 14:47] AkshataJ96 commented on #39538
Hi, I would like to pick this! Thanks for the guide! :)

[2020-09-08 14:49] nhcarrigan commented on #39538
@AkshataJ96 Welcome!

Issues labelled `first timers only` don't require permission for a pull request, as long as its your first pull request with us. 😁

If you have not done so already, please give our [contributing docs](https://contribute.freecodecamp.org) a read - there are a lot of helpful tips in there to get you started.

[2020-09-08 16:55] #39533 closed

[2020-09-08 17:08] ojeytonwilliams commented on #37629
Closing as stale.

[2020-09-08 17:10] RandellDawson commented on #39514
I can confirm this issue has been resolved.

[2020-09-08 17:10] #39514 closed

[2020-09-08 17:11] ojeytonwilliams commented on #38300
Closed because Randy is handling this.

[2020-09-08 17:11] #38300 closed

[2020-09-08 17:21] ojeytonwilliams commented on #36513
Since we're moving to mdx, this will no longer be needed.

[2020-09-08 17:21] #36513 closed

[2020-09-08 17:45] moT01 commented on #19142
Closing as stale. The best place to discuss any further ideas on this would be the [project based curriculum repo](https://github.com/freeCodeCamp/CurriculumExpansion). Thanks and happy coding 🎉

[2020-09-08 17:45] #19142 closed

[2020-09-08 17:50] moT01 commented on #18159
This should be fixed now via https://github.com/freeCodeCamp/freeCodeCamp/pull/39194 - so I am going to close this. If anyone is still having problems, feel free to make a comment and we can reopen it. Thanks and happy coding 🎉

[2020-09-08 17:50] #18159 closed

[2020-09-08 18:14] moT01 commented on #34641
Closing as stale. If anyone wants to continue the conversation, feel free to make a comment and we can reopen this. Thanks and happy coding 🎉

[2020-09-08 18:14] #34641 closed

[2020-09-08 18:17] moT01 commented on #34222
Closing as stale, and I believe some or all of these have been added since this issue was opened. If anyone wants to continue the conversation, feel free to leave a comment and we can reopen this. Although, probably better to create a new issue at this point. Thanks and happy coding 🎉

[2020-09-08 18:17] #34222 closed

[2020-09-08 18:21] moT01 commented on #34836
Closing as stale. If you come across this @nikrb, you should create a new issue and we can discuss running your script again. Thanks and happy coding 🎉

[2020-09-08 18:21] #34836 closed

[2020-09-08 18:23] moT01 commented on #35571
Closing as stale. I don't think semi-colon rules need to be clarified. That's a small nuance that coders will pick up over time, and I think it's probably best practice to just always use it. If anyone wants to continue this conversation, feel free to leave a comment and we can reopen this. Thanks and happy coding 🎉

[2020-09-08 18:23] #35571 closed

[2020-09-08 18:27] moT01 commented on #35707
Sorry if you didn't get the guidance you needed @Pogayo. I think we would welcome a PR to add this if you're still interested. Since it's been so long, I am going to close this for now. If you are still interested in creating these, feel free to leave a comment and we can reopen this. Thanks and happy coding 🎉

[2020-09-08 18:27] #35707 closed

[2020-09-08 18:31] moT01 commented on #36846
Closing as stale. Feel free to create a new issue regarding comments on articles if desired. But this particular issue is no longer present since comments aren't there. Thanks and happy coding 🎉

[2020-09-08 18:31] #36846 closed

[2020-09-08 18:38] moT01 commented on #36921
Closing as stale. If anyone is interested in adding this functionality, it's probably best to create a new issue. Thanks and happy coding 🎉

[2020-09-08 18:38] #36921 closed

[2020-09-08 18:42] moT01 commented on #37457
Closing as stale. Please read the comment above if you are having issues with your account. Thanks and happy coding 🎉

[2020-09-08 18:42] #37457 closed

[2020-09-08 19:03] tavernhell opened #39546 "YouTube - Make chapters displayed on progress bar"
Take this video for example https://www.youtube.com/watch?v=RGOj5yH7evk
If in the description you change: ":emoji: (0:00) Introduction"  to "0:00 Introduction" (for all the timestamps of course), chapters would automatically be added ON the progress bar (it's a new YT feature), making it easier for the users to navigate the video.

[2020-09-08 19:37] raisedadead commented on #39546
Can you add more details like OS, Browser, device details, etc. It seems to be fine on my end:

<img src="https://user-images.githubusercontent.com/1884376/92520014-92034680-f238-11ea-84ce-39cbe03012a4.png" width="400" />

[2020-09-08 19:46] QuincyLarson commented on #39546
I can confirm the timestamps work fine on the iOS version of the YouTube app.

In mobile Safari, the timestamps don't work, but they don't work for any videos (including videos with timestamps but no emoji preceding them).

[2020-09-08 19:47] nhcarrigan commented on #39546
![image](https://user-images.githubusercontent.com/63889819/92521084-7b75d480-f1d1-11ea-821f-52ba08d2671e.png)

I am able to confirm them on Chrome for Windows.

[2020-09-08 20:09] #37760 closed

[2020-09-08 22:49] RandellDawson commented on #39520
It turns out this is a bigger issue than originally expected. With the way the current `FormField` component is designed, the label text and the `name` attribute for the field make use of the field name passed to `fields` prop .  Whoever originally wrote the code was always counting on the Lodash `startCase` method to ignore non-letters characters like `+`.   Unfortunately, the method removes such

[2020-09-09 09:11] raisedadead commented on #39546
Hi @tavernhell

We are closing this for now, do let us know if you are still seeing the issue. Chances are you need to contact YouTube support if this persists.

[2020-09-09 09:11] #39546 closed

[2020-09-09 10:29] yashgupta18 commented on #39538
Hi, i am a first timer. Is the issue still open?

[2020-09-09 10:36] ojeytonwilliams commented on #39538
Hey @yashgupta18. We typically accept PRs in the order we receive them, so this will be open until we get a working PR.

[2020-09-09 10:49] Bhavna777 opened #39547 "Some project url related issue"
When I enter any random url on the freecodecamp solution of :-- 1) Scientific Computing with Python Certificate, 2) Data Analysis with Python Certificate, 3) Machine learning with Python certificate, then without checking my project it redirect me to next project(challenge).

[2020-09-09 10:56] nibble0101 commented on #39486
@lasjorg  Is this issue still open? I would love to work on it.

[2020-09-09 11:29] tavernhell commented on #39546
Okay. I'm still not seeing them on Windows 10 using the latest Chrome release (when at work) but at home (with the same Windows and Chrome versions) I can see them. Weird, I'll contact YouTube support to get an answer regarding this. Thanks for the replies!

[2020-09-09 11:39] Sky020 commented on #39547
Hello there,

The tests have not been written yet, for them on the client side. This is a known issue, and you are welcome to open a PR adding tests.

Duplicate of #37185

[2020-09-09 11:39] #39547 closed

[2020-09-09 11:43] Sky020 commented on #38763
@moT01 I assume we can either close this, or change its description to reflect the move away from `.language.md`?

[2020-09-09 12:55] RandellDawson commented on #39185
This bug was fixed by Discourse and has been applied to our instance.

[2020-09-09 12:55] #39185 closed

[2020-09-09 12:58] RandellDawson commented on #16869
@Hash2C How is your solution coming along?

[2020-09-09 13:04] RandellDawson commented on #38024
@snigo Any thoughts on how best to test that it is performed on one line?

[2020-09-09 13:04] #38763 closed

[2020-09-09 13:07] RandellDawson commented on #37868
I like this option.  Does anyone want to work on achieving this with a new test or modification of an existing test?

[2020-09-09 13:09] RandellDawson commented on #37215
@ojeytonwilliams Any thoughts on how to fix this or will this no longer be an issue soon?

[2020-09-09 13:16] RandellDawson commented on #17754
As there has been no further discussion, we are closing this issue as stale.

If anyone is interested in continuing this discussion or has ideas of how best to make the desired improvements, you can request this issue to be reopened. Thanks and Happy Coding!

[2020-09-09 13:16] #17754 closed

[2020-09-09 13:18] TheBeardBeatsAll opened #39549 "Project Euler: Problem 2: Even Fibonacci Numbers"
**Describe your problem and how to reproduce it:**
The given solution for Problem 2: Even Fibonacci Numbers does not pass all the tests as it does not allow for when n itself is an even Fibonacci number to be added to the sum which is needed.
Failing tests: Your function should sum the even-valued Fibonacci numbers: fiboEvenSum(8) should return 10.
& fiboEvenSum(34) should return 44.
Line 6:  whil

[2020-09-09 13:35] nhcarrigan commented on #37868
I can take a look at adding this 🙂

[2020-09-09 13:36] RandellDawson commented on #39549
@TheBeardBeatsAll Thanks for pointing this out.  I have updated the Guide topic Problem Explanation and added a correct solution for the challenge.  I am closing this issue for now.  If you discover any other problems with it, you can request it to be reopened.

[2020-09-09 13:36] #39549 closed

[2020-09-09 13:42] nhcarrigan commented on #37868
Heya @RandellDawson - so poking around in the file, we already have a test that checks for the looping functions:
[code]

Should I work with the regex proposed above to test for recursion? Or would it be better to remove the recursion test?

[2020-09-09 14:13] ojeytonwilliams commented on #37215
@RandellDawson I think this will be a non-issue once the localisation pipeline is up and running.

[2020-09-09 14:13] #37215 closed

[2020-09-09 17:45] nibble0101 opened #39554 "Test implementation of element-wise-operations challenge is incorrect."
**Describe your problem and how to reproduce it:**
According to element-wise-operations challenge of Rosetta code, one is required to write a function which takes an operation and two matrices as argument and perform basic element-wise matrix-matrix and scalar-matrix operations. The first parameter will be the operation to be performed, for example, "m_add" for matrix addition and "s_add" for scal

[2020-09-09 18:32] raisedadead commented on #39343
Since https://github.com/freeCodeCamp/freeCodeCamp/pull/39447, this file is unused. Most branches (by extention forks, and PR) which have not been rebased will see this getting created.

We could add this to `.gitignore` but that would be treating the symptoms. I would rather wait until the branches/forks heal themselves.

[2020-09-09 18:32] #39343 closed

[2020-09-09 18:36] #37493 closed

[2020-09-09 18:38] raisedadead commented on #38373
Making @ahmadabdolsaheb the owner.

[2020-09-09 19:30] #39538 closed

[2020-09-10 13:47] #38757 closed

[2020-09-10 13:56] moT01 commented on #39382
Are you still having this problem @itshally? I gave it a quick test and did not see it on the first two links you gave in firefox or chrome.

Were you able to reproduce this @RandellDawson?

[2020-09-10 14:15] moT01 commented on #35705
[Looks like this is fixed](https://github.com/freeCodeCamp/boilerplate-project-timestamp/blob/gomix/README.md#user-stories), so I am going to close this. If I am mistaken, feel free to leave a comment and it can be reopened. Thanks and happy coding 🎉

[2020-09-10 15:00] CallumScaife opened #39558 "Slice and Splice"
Issue is either tests implemented incorrectly or the question should state that splice must be used.

Tell us what’s happening:
My code is satisfying all tests but returning false on the below which i believe is an error:
All elements from the first array should be added to the second array in their original order.

Your code so far
function frankenSplice(arr1, arr2, n) {
let rarr = [];
for(var i

[2020-09-10 15:05] RandellDawson commented on #39558
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-09-10 15:05] #39558 closed

[2020-09-10 15:11] CallumScaife commented on #39558
This was not me debugging my code. My code is proper and works. This is to raise an issue with the test.

[2020-09-10 15:23] RandellDawson commented on #39558
@CallumScaife The code you posted above does not pass the 4th test of the challenge (seen below) due to a logic error in your solution.  Your solution does not correctly handle the case where `arr2` is an empty array.

See below for the function call being used for the 4th test.
[code]

[2020-09-10 16:52] nhcarrigan opened #39560 "[BUG] - JS Basic Algorithms: Slice and Splice solution should not pass"
**Describe your problem and how to reproduce it:**

While helping a camper with their work on this solution, I took a look at mine and discovered it passes when it *should not*.

[code]

If you paste this code into the editor, you can see that `arr2` has been modified from `[4, 5, 6]` to `[5, 6]` but the test does not catch this fact.

I *believe* it may be due to the tests for array modification

[2020-09-10 16:56] ojeytonwilliams opened #39561 "Legacy submission bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://www.freecodecamp.dev/settings`
2. Scroll down to just above 'Legacy Backend'
3. Enter in a valid url for any 'Legacy Front End' project
4. Click 'Save Progress'
5. Alter that url (it should still be valid)
6. Click 'Save Progress' again
7. See 'It looks like

[2020-09-10 17:15] RandellDawson commented on #39561
@ojeytonwilliams I noticed this bug yesterday.  It only does it if there is at least one url for a section's solutions.  If there are none, it works as expected.

[2020-09-10 17:17] RandellDawson commented on #39561
Since the url appears on their public profile, I could see someone improving upon their original design or now hosts it on their own domain, so they may have a new url to share.

[2020-09-10 17:54] jessanova commented on #39047
It looks like this is fixed by https://github.com/freeCodeCamp/boilerplate-mochachai/pull/16/files.

[2020-09-10 18:53] godslayer201 commented on #38850
Is this issue still requiring help? Would like to work on this.

[2020-09-10 21:47] ojeytonwilliams commented on #38850
Hey @godslayer201, yes, this is still open. If you want to work on it, that would be great.

[2020-09-10 21:54] moT01 commented on #39561
I would agree that users should be able to change it. Which is how it is now I believe. What if the hosting service changes something to where users have to move a project elsewhere.

[2020-09-11 07:22] Sky020 commented on #39467
@scissorsneedfoodtoo and @Obaida-Albaroudi ping

This is still (once again) an issue for: https://issue-tracker--freecodecamp.repl.co/

[2020-09-11 07:59] ffe4 opened #39563 "Exercise Tracker challenge hint possibly misleading"
*Description updated. Original post quoted at the bottom.*

The [hint](https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-exercise-tracker/301505) for the Exercise Tracker challenge contains the following line:
[code]
Which originally led me to believe that my solution using SQL did not pass because this field did not contain the correct type.
If mentioning other database terms might be

[2020-09-11 14:26] nibble0101 commented on #39560
I believe so. Essentially if you invoke `frankenSplice` without `n`, the value of `n` is `undefined` and  from the solution you have given, `arr2.splice(0, n)` will be `arr2.splice(0, undefined)` which is `[]`. Therefore :
[code]
As a result `testArr1` and `testArr2` remain unmutated. What i am not sure of is whether invoking the function without `n` was an oversight or intentional.

[2020-09-11 15:40] Ieahleen commented on #39560
calling the function without an `n` stops various loop solutions from being accepted. I do not know if it was intentional

[2020-09-11 16:47] nibble0101 commented on #39560
Is it to force learners to use `splice`/`slice` since it is a splice-slice challenge?

[2020-09-11 18:23] SaintPeter opened #39565 "Advanced Node and Express - Set up Passport - Missing dotenv install instructions"
**Describe your problem and how to reproduce it:**
I am running Node.js on my own server.

Working through the [Advanced Node and Express - Set up Passport challenge](https://www.freecodecamp.org/learn/quality-assurance/advanced-node-and-express/set-up-passport). The instructions tell you to "Be sure to add 'SESSION_SECRET' to your `.env` file and give it a random value", which I did.

I was getti

[2020-09-11 20:15] Sky020 commented on #39565
Thanks for bringing this up. This whole section was just updated, but the new boilerplate has not gone with it just yet (I had not realised these changes made their way into production).

The new boilerplate includes `dotenv`.

@moT01 and @RandellDawson Can we get https://github.com/freeCodeCamp/boilerplate-advancednode/pull/11 merged?

[2020-09-11 20:27] RandellDawson commented on #39560
There is no requirement to use splice or slice.  It is an algorithm challenge.  We do not care how they solve the problem.

[2020-09-11 21:06] SaintPeter commented on #39565
Just to be clear:
Are you saying that the changes that went out for the `/learn`/curriculum, but that the corresponding changes had not yet been made to the boilerplate code?

[2020-09-11 21:10] Sky020 commented on #39565
Yes. Well, the changes are made, but have not been merged. This is done, because once a PR is merged here (on the main repo), it is usually only pushed to production in a few days, but, with the boilerplate repos, a merge targets the branch used by campers. So, it is immidiate.

The means we wait for a main repo change to reach production, before merging the boilerplate, to, _ironically_, avoid th

[2020-09-11 21:13] SaintPeter commented on #39565
Well, I'm glad to be the canary in your coal mine, I guess.  I'll watch that repo to see when the change has been merged.

Thanks!

[2020-09-11 21:39] RandellDawson commented on #39565
@SaintPeter The repo has been updated now that the PR referenced by @Sky020 has been merged.  It slipped through the cracks when production  was deployed earlier today.  Sorry for any confusion this may have caused. Let us know if everything seems to be present now, so we can close this issue.  We will wait for your feedback.

Thank you.

[2020-09-11 23:03] #37553 closed

[2020-09-11 23:19] RandellDawson commented on #39467
This project is back up and running again.

[2020-09-12 00:16] SaintPeter commented on #39565
Yup, Yup, it seems to be working properly now.  I re-based against the current release and confirmed all of the libraries I expected were present.

Thanks all for the quick turnaround!

[2020-09-12 00:16] #39565 closed

[2020-09-12 09:41] #39467 closed

[2020-09-12 12:02] Twaha-Rahman commented on #39527
@ojeytonwilliams Looks like Brave doesn't play well with Cypress. Would you like to substitute Brave with any of the following -

1. Edge (stable/canary/nightly)
2. Chromium (stable/canary/nightly)

[2020-09-12 12:03] Twaha-Rahman commented on #39527
I'll keep an eye out on Cypress support for Brave on the meantime too :eyes:

[2020-09-12 15:42] ruhci28 commented on #39531
Hii @nhcarrigan I want to work on this issue

[2020-09-12 15:58] Sky020 commented on #37820
Closing, as this is no longer an issue. Both mentioned challenges use `class` syntax from the seed.

[2020-09-12 15:58] #37820 closed

[2020-09-12 16:25] Sky020 commented on #39123
@ojeytonwilliams What about handling double-clicks as a way to submit the answer?

That is the only idea I can come up with, and, if that is still too encouraging of _click-throughs_, then I suggest we close this issue.

[2020-09-12 16:36] Sky020 commented on #39097
@moT01 Are you ok with my opening this up to _first-timers only_, with the expectation that they change the question to use:
[code]
And the answers to include:
[code]

Plus, I would leave the current answer as an option, just to catch-out 🤷‍♂️ , but the other options should all be 7x7 matrices.

[2020-09-12 19:11] ojeytonwilliams commented on #39527
We only officially support Chrome and Firefox, so we should definitely add tests for them.  Other browsers I'm less sure about: we don't want to end up in a situation were we have a bunch of tests that always fail and we have to ignore them.  Ideally we would support Safari and Edge, too, but each one we add increases the maintenance effort.   @raisedadead any thoughts?

[2020-09-12 19:41] Twaha-Rahman commented on #39527
@ojeytonwilliams So let's limits the tests to only run on Chrome and Firefox for now...

[2020-09-12 21:38] skaparate commented on #39563
AFAIK, it's not required to be an ObjectID nor a string, just that it matches the id of the recently created user. I mean, [the tests check that the object returned contains the `_id` parameter, but not the type](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/exercise-tracker.english.md).

Maybe the h

[2020-09-13 06:57] ffe4 commented on #39563
Are those the test that are actually run? When I look at the [tests for shorturl](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/url-shortener-microservice.english.md) they look pretty empty.

Either way, it seems I jumped to conclusions. After reading the hint, it simply seemed like the most likely e

[2020-09-13 09:50] Haroldthe24th commented on #39503
Hey, is this still open for grabs?
@raisedadead

[2020-09-13 10:22] Sky020 commented on #39563
I have edited the guide post containing the hint.

Yes, Many of the tests for the backend projects have not been written: https://github.com/freeCodeCamp/freeCodeCamp/issues/37185

[2020-09-13 11:15] raisedadead commented on #39503
Thanks for reaching out, see: https://contribute.freecodecamp.org/#/index?id=where-do-i-start-if-i-want-to-work-on-an-issue

[2020-09-13 11:19] ffe4 commented on #39563
Thank you @Sky020. LGTM, so I'll close the issue.

[2020-09-13 11:19] #39563 closed

[2020-09-13 14:17] ojeytonwilliams commented on #39123
@Sky020 on reflection, it's probably fine as is.  Double-clicking is a bit counter-intuitive - I'm not sure I've come across a UI that requires that before.

As an aside, do you know what happened with the outlining?  I feel sure we both worked on that at one point, but production has no outlining at all, which isn't great from an a11y perspective.

[2020-09-13 15:05] moT01 opened #39569 "Learn: Size your images challenge not working in Safari"
[This challenge](https://www.freecodecamp.org/learn/responsive-web-design/basic-css/size-your-images) is not working in Safari.

See [this thread](https://github.com/freeCodeCamp/freeCodeCamp/pull/38770#issuecomment-691682076)

I suppose a fix would be to rewrite the regex.

[2020-09-13 16:50] Sky020 commented on #39123
@ojeytonwilliams , We did, and you still have a PR for this: https://github.com/freeCodeCamp/freeCodeCamp/pull/39148

[2020-09-13 19:41] fuzzyray opened #39571 "Suggestion: Exercise Tracker and Issue Tracker projects are conceptually identical"
Feel free to close this as changing this isn't quick or easy and requires lots of time from someone. This is purely a suggestion from my working through the curriculum.

I recently finished the APIs and Microservices Projects and have moved on to the Quality Assurance Projects. I recently started working on the Issue Tracker and with the exception of adding in Helmet for security and writing the f

[2020-09-13 20:39] Goldac77 opened #39666 "Port front end demo projects to .rocks"
The reference Tribute page used in the Tribute Page project opens in Codepen as well. Out of curiosity, I tried to copy and paste the code from the editor on the reference page to the Test Suite Template page made for the user. I wasn't really surprised but it works, there is nothing that prevents the user from copying and pasting code to pass tests.

My point is, this can lead to laziness in a wa

[2020-09-13 22:54] dvbsknd opened #39572 "Advanced Node Social Authentication test fail due to broken test script"
A [recent change](e3cfe80f88bb098f616c338b6b7a7b05ab676590) to the test scripts for the [social authentication](https://github.com/freeCodeCamp/freeCodeCamp/blob/production-current/curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication.english.md) step of the challenge will never pass: they expect the `fcctesting.js` script to expose a

[2020-09-13 23:14] Sky020 commented on #39572
Hello there,

This is due to the whole _Advanced Node and Express_ section having been updated recently. The entire section is new, and the boilerplate is new. So, unfortunately, if you had started the section, and half-way through it updated, you will have to restart, to ensure there are no issues along the way.

One of the main changes is there is no longer 3 separate boilerplates for the sectio

[2020-09-14 05:22] ahmadabdolsaheb opened #39573 "Ghost Tag page and Author page lack proper social meta"
<img width="605" alt="Screen Shot 2020-09-14 at 7 23 04 AM" src="https://user-images.githubusercontent.com/4591597/93046763-51099880-f663-11ea-8448-c0bb35bf2c31.png">

[2020-09-14 07:03] raisedadead commented on #39123
Going to go ahead and close this. Thanks everyone.

[2020-09-14 07:03] #39123 closed

[2020-09-14 07:07] #39527 closed

[2020-09-14 07:41] scissorsneedfoodtoo commented on #39573
Played around with this on .dev/news and it seems like all we need to do is set the default Twitter and Facebook card images in the Ghost dashboard:

![image](https://user-images.githubusercontent.com/2051070/93057468-eda25980-f6a8-11ea-9621-c7ab654d5529.png)

There's a way to set a different image for each tag, but it may be enough to use the basic publication cover image for now.

[2020-09-14 10:38] ojeytonwilliams opened #39574 "Testing methodology and frameworks"
Let's talk about how we should be testing.  It's obvious we should be testing more, but we need some guidelines to help ensure that our tests are high quality and that contributors can easily see what they should be doing.

As such I think we should discuss which testing frameworks we should use and where we should use them.

Right now we use:

- Cypress for e2e, which means we use Mocha when writ

[2020-09-14 10:39] ojeytonwilliams commented on #39574
I think we should discuss for a bit and then we can put our conclusions in the contribute docs.

[2020-09-14 13:09] #39569 closed

[2020-09-14 13:16] ojeytonwilliams commented on #39574
Also, how do we want to handle persistent data?  For example, it would be good to have tests that ensure that users can submit challenges and projects.  We also want confirm that settings changes immediately take effect and survive page reloads.  Similarly, if a user starts donating, that should not require a reload before the client updates.  All of which would require the DB and the client to be

[2020-09-14 15:33] moT01 commented on #39560
So, to be clear @nhcarrigan - you are thinking to put a value in for `n` on those two tests you shared would catch this.

[2020-09-14 15:40] moT01 commented on #39572
Sorry, if you have to restart this @dvbsknd - that's a bummer. You can probably salvage much of the code, but you may need to copy/paste into the new boilerplate I think. If you do find out that this is not an issue when using the new boilerplate, let us know please so we can close this. If you don't think that's the issue, let us know that as well.

[2020-09-14 15:49] moT01 commented on #39531
I believe there is [something in the works to change how the code is rendered in the preview](https://github.com/freeCodeCamp/freeCodeCamp/issues/39101#issuecomment-676477771) so that we could use jQuery on these tests, which would make life a lot easier. It may be worth waiting for that, instead of trying to redo the regex. But, if you want to give a try @ruhci28, go for it. 😄

[2020-09-14 15:55] nhcarrigan commented on #39560
Yes, updating the test call to:
[code]
should correct this bug

[2020-09-14 16:02] moT01 commented on #39517
Thanks for reporting this @shartrooper. I extended the timeout to 5000 and they pass on both projects...
![Screen Shot 2020-09-14 at 10 55 24 AM](https://user-images.githubusercontent.com/20648924/93108868-f8dd9100-f678-11ea-8fc6-f95399f97328.png)
So I think if we extend that timeout on both the example projects and the boilerplates, we would probably be good. 5000 worked on both of them for me.

[2020-09-14 16:10] moT01 commented on #39515
I think a small rewrite of the instructions would be fine on this one, so I will open it up for a PR. We can work out the details of what exactly it should say on the PR. I vote for my suggestion, but other suggestions are certainly welcome.

[2020-09-14 16:28] nibble0101 commented on #39515
Hi @moT01 .

Is the instruction complete without specifying what the length of the string should be? Essentially if the string is not at least three characters long, the test will fail. Something along the lines of "Set someAdjective to a string at least 3 characters long  and append it to myStr using the += operator" would be exhaustive IMHO.

[2020-09-14 16:37] shartrooper commented on #39517
Finally, Thanks a lot. Oddly enough, I've received zero feedback wherever I asked in regards of this issue. Now I have something to help sort out my testing unit coding issues too for my later projects.

[2020-09-14 16:42] moT01 commented on #39517
If you want, you can let us know if you come across this issue on other projects as well so we can fix them up :smile:

[2020-09-14 16:44] moT01 commented on #39481
Thanks for reporting @Gern-Yataro. I am going to close this as a duplicate of the linked issue. Thanks and happy coding 🎉

[2020-09-14 16:44] #39481 closed

[2020-09-14 16:50] moT01 commented on #39470
So I think that the example project just needs to be changed to correctly handle these inputs. Negative numbers also work I noticed.

[2020-09-14 16:51] RandellDawson commented on #39515
Here is another approach to this.  Why not supply a list of say 5 adjectives the user can choose in the instructions:

Then the test could be something like:
[code]
The above regex will handle any case of the words, ignore extra before or after, and ignore added punctuation.

[2020-09-14 16:54] randomSveta commented on #39517
Hi! @moT01, the thing is that if you do "npm run test" everything works fine, but when tests run automaticaly, when project is in a working state, then tests have the same issue issue. Could you check it too, please? Thank you!

![tests-run-on-command](https://user-images.githubusercontent.com/38963057/93115025-41b23b80-f6b3-11ea-8cb9-a624cda2ae74.png)

![test-run-before-all-hooks](https://user-im

[2020-09-14 17:01] moT01 commented on #39435
Any thoughts on this @RandellDawson @Sky020 @scissorsneedfoodtoo?

[2020-09-14 17:10] RandellDawson commented on #39470
@scissorsneedfoodtoo Since you are working on adding this project to a separate repo, could you also update the example project to correctly reject these invalid inputs?

[2020-09-14 17:29] Sky020 commented on #39435
I agree with removing the test related to any Helmetjs content

From what I can tell, the link to a Repl of the boilerplate is just a direct method to clone the GitHub boilerplate. So, just the READMEs and `views/index.html` would need to be changed as well.

[2020-09-14 18:22] moT01 commented on #39371
I dunno - I feel like I like what we currently have better because it says `bottom-to-top`, `right-to-left`, etc.

The suggestion `wrap-reverse: In a row, wraps overflowing items above the previous row.` is true, but it makes it sound like it pushed the row down and adds another one on top. When actually, it starts at the bottom, and adds a row above when needed - this is why I like `bottom-to-top

[2020-09-14 20:23] itshally commented on #39382
@moT01 I just tested it and it's fixed now. Thanks!

[2020-09-14 20:23] #39382 closed

[2020-09-14 21:10] dvbsknd commented on #39572
Thanks guys, appreciate the responses. What I'll probably do is run with the two boilerplates side-by-side and bring in the items I need rather than starting from scratch, mainly because I'm trying to build this in its own repository and use good Git habits—so I'd like to keep my history. I'll update this issue once I've completed the module.

[2020-09-15 02:21] moT01 commented on #39517
You can add the timeout option in `test-runner.js` and it will pass...

![Screen Shot 2020-09-14 at 9 18 48 PM](https://user-images.githubusercontent.com/20648924/93157543-0eca7080-f6d0-11ea-87bb-d925ae2d95c2.png)

[2020-09-15 03:23] scissorsneedfoodtoo commented on #39517
Thanks for reporting this @shartrooper, and for catching the related issue with the automated test runner @randomSveta. @moT01's fixes were tested on these projects and merged into both boilerplates, so I'll close this for now.

Could you let us know if you have any other issues with the tests timing out?

[2020-09-15 03:23] #39517 closed

[2020-09-15 04:57] scissorsneedfoodtoo commented on #39435
@nhcarrigan, thanks for bringing this up and sorry for the late response.

I'm all for removing these user stories from the projects because Info Sec isn't covered in any of the practice projects. We discussed this internally before breaking the original QA and Infosec certificate up and decided to leave them in at the time, but I always felt a bit iffy about it.

[2020-09-15 06:30] scissorsneedfoodtoo commented on #39470
Thanks for bringing this up @fuzzyray.

This is something we've discussed in an [older issue](https://github.com/freeCodeCamp/freeCodeCamp/pull/23953) but never really came to a consensus.

Could you all take a look at this when you get a chance?: https://resonant-stupendous-wall.glitch.me/

For inputs like `13/13/13lbs` it throws `invalid number`, and for `1a3lbs` it throws `invalid number and in

[2020-09-15 07:37] raisedadead commented on #39574
We could move over to [`testing-library`](https://testing-library.com/) for most things:

TL has [`@testing-library/cypress`](https://testing-library.com/docs/cypress-testing-library/intro)

Mocha is used quite well, I am biased towards more fast / async - [`ava`](https://github.com/avajs/ava)

Well maintained and good for most things, can live with it.

This is a non-trivial one. I believe we wou

[2020-09-15 08:43] ojeytonwilliams commented on #39574
I'm all in favour of TL.  I think it's worth taking the time to migrate.

I can't remember the last time we needed to change that code.  Maybe shift to ava if the tests end up taking too long and we need to do a big re-write? This could happen with the new project steps and helpers (i.e. more and slower tests).

The rationale for using Enzyme is that it really lets you dig into the implementation

[2020-09-15 09:52] randomSveta commented on #39517
@shartrooper, @moT01 , @scissorsneedfoodtoo, Thank you for your help! :)

[2020-09-15 11:16] scissorsneedfoodtoo commented on #39573
Will run this by @QuincyLarson real quick before changing those settings.

[2020-09-15 11:18] scissorsneedfoodtoo commented on #39517
@randomSveta, thanks again for your input! It was really helpful.

Please let us know if you run into any other issues with the projects.

[2020-09-15 14:07] #39520 closed

[2020-09-15 15:37] RandellDawson commented on #16869
Closing this issue as the number of users working on this project in general has significantly dropped as it is no longer a required project for a certification.  This has lead to fewer instances where the rate limit for the API is reached.

[2020-09-15 15:37] #16869 closed

[2020-09-15 15:39] RandellDawson commented on #39537
@raisedadead Once we are ready to freeze any English curriculum PRs into master, then I will update this issue by running my script again in case there were any recent changes since I created this issue that need to be reviewed in the audit.  Then, I will also create the other issues for the other sections.

[2020-09-15 15:45] moT01 commented on #38566
I'm not sure of the exact implementation we want here, but there seems to be support for this feature so I added the help wanted label. I think it works with the `1/1` or a little trophy icon - or perhaps both. I would use the icon that appears on the timeline if we go that route...
![Screen Shot 2020-09-15 at 10 43 59 AM](https://user-images.githubusercontent.com/20648924/93233234-75877280-f740-1

[2020-09-15 16:01] moT01 commented on #38426
It has been decided that the videos are too difficult to keep updated so we are going to be removing links to them in the challenges. Fixed via https://github.com/freeCodeCamp/freeCodeCamp/pull/39559 - so we can close this. Thanks and happy coding 🎉

[2020-09-15 16:01] #38426 closed

[2020-09-15 16:17] moT01 commented on #38417
bump

[2020-09-15 16:27] moT01 commented on #38416
I took a look at this and I don't see the purpose of setting the local storage. @scissorsneedfoodtoo, do you know if that's necessary or what the purpose of it is?

[2020-09-15 16:38] moT01 commented on #37988
Closing this as stale. If anyone wants to continue the discussion, I recommend creating a new issue so it might get some attention. Thanks and happy coding 🎉

[2020-09-15 16:38] #37988 closed

[2020-09-15 16:54] moT01 commented on #37942
Thanks for reporting, but I am closing this as stale. If someone wants to try fixing this up, feel free.

[2020-09-15 16:56] moT01 commented on #37770
Closing this as stale. If someone wants to continue the discussion, feel free to leave a comment and we can reopen this. Thanks and happy coding 🎉

[2020-09-15 16:56] #37770 closed

[2020-09-15 17:19] fuzzyray commented on #39470
That sounds good, looking back through the unit testing and requirements. the only explicit math expression that it looks to want to declare as invalid is the double fraction. So looking at it and feeding it various things, it looks like it is working to correctly to me. The only additional expression that I personally would consider invalid is the division by 0 which on the project will return "I

[2020-09-15 18:08] ojeytonwilliams commented on #38566
That sounds good to me.  I think that would look nice.

[2020-09-15 19:05] lasjorg opened #39582 "Are updates to "Install and Require Helmet" challenge needed?"
Challenge:
https://www.freecodecamp.org/learn/information-security/information-security-with-helmetjs/install-and-require-helmet
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/09-information-security/information-security-with-helmetjs/install-and-require-helmet.english.md

1. Does this challenge need instructions on how to actually install the specified vers

[2020-09-15 19:34] Sky020 commented on #39582
If changing the tests to allow `^` does not cause any of the versioning issues mentioned previously, then we should go with that. Otherwise, we could add a note that the camper should use `--save-exact`: `npm install --save-exact helmet@3.21.3`

[2020-09-16 01:20] johntyree commented on #37942
Is it stale because the bug is no longer present or because no one has fixed it in the span of a few months?

[2020-09-16 01:29] scissorsneedfoodtoo commented on #38416
@moT01, I agree, I don't think `localStorage` is necessary. I'll dig into this and make sure the code on CodePen and in the testable projects repo is synced up.

[2020-09-16 06:26] Twaha-Rahman opened #39586 "How to sign up and sign in on local dev server?"
I was planning on writing some Cypress tests that'll check common user workflows such as creating a new account and signing in with it as suggested in #38611.

Looks like clicking the CTA button on the landing page automatically logs you in with the test/development account. But there's no documentation on how to create new accounts locally and sign in with them. If there's a way please let me kno

[2020-09-16 08:06] elcordova commented on #39515
Hi @nibble0101

I agree with you, it's a good  TODO description.

[2020-09-16 10:32] Twaha-Rahman commented on #39574
I suggest we use [MongoMemoryServer](https://github.com/nodkz/mongodb-memory-server) for testing. That way we won't change the local DB.

[2020-09-16 12:54] moT01 commented on #37942
It's stale because there hasn't been any activity on the issue in 9 months. The issue is likely still present.

[2020-09-16 13:15] hamzaerrechydyhacker opened #39589 "Create pure Html,Css and Javascript web apps projects"
Hello,

After finishing the JavaScript Section in freecodecamp i notice that there isn't projects in which students can create web apps using pure JavaScript plus the Html&Css skills they acquire from the earlier part.

My suggestion is : to put instead of problems projects that the student can build with the knowledge he learned from this part, this is good for three reasons  :

- The student wil

[2020-09-16 13:26] Sky020 commented on #39586
Adding this as a reminder (probably for me): Once an answer is given for creating new accounts locally, relay information to [question on forum](https://forum.freecodecamp.org/t/offline-freecodecamp/421004).

[2020-09-16 13:43] RandellDawson commented on #39589
@hamzaerrechydyhacker You are in luck.  We have already been working on changes like the ones you are suggesting.   See [Quincy's article here for more information about the changes coming](https://www.freecodecamp.org/news/python-curriculum/).  You can also check the project prototypes over at our [curriculumExpansion repo](https://github.com/freecodecamp/curriculumExpansion).

I am closing this

[2020-09-16 13:43] #39589 closed

[2020-09-16 13:48] hamzaerrechydyhacker commented on #39589
Thank you a lot for giving me this feedback

On Wed, Sep 16, 2020 at 2:43 PM Randell Dawson <notifications@github.com>
wrote:

[2020-09-16 14:14] ShaunSHamilton opened #39590 "Discuss Refactoring of API in Client"
This comes about as I was going to refactor `Certification.js` to not rely on hardcoded values, but after discussing with Mrugesh and Oliver, realise it is not a quick section to fix.

Top sections to refactor:

- [ ] `./redux` Move from using both _epics_ and _sagas_ to just _sagas_.

---
What I have been looking into:
- [ ] `Certification.js` (certMapSelector, and renderLegacyFullStack)
- [ ] `S

[2020-09-16 14:31] RandellDawson commented on #39590
Would we want to do something about `utils/block-nameify.js` as it relates to hardcoded names?

[2020-09-16 14:40] ojeytonwilliams opened #39591 "Disable Monaco code actions highlighting"
**Describe the bug**
The highlighting for code actions appears in the editor, but the user cannot interact with them.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/comment-your-javascript-code
2. Enter
[code]
3. see the three dots below the 'a' in 'anyname'

**Expected behavior**
Since the u

[2020-09-16 14:55] ojeytonwilliams commented on #39586
At the moment everything goes through auth0 unless `LOCAL_MOCK_AUTH === 'true'`, so we don't currently support local account creation.   The dev user is created via `seedAuthUser.js` in which a user object is directly inserted into the DB.

This could be the approach for testing purposes, but I don't think that is of much use.

As far as testing auth0 goes, I'm not sure how we'd go about that - my

[2020-09-16 15:04] ojeytonwilliams commented on #39590
That was just a bad idea of mine.  Mrugesh was right: if we can, we should just make use of `useStaticQuery` to fetch the data we need when we build the client.  That creates a better separation of the client and the curriculum.

[2020-09-16 15:16] moT01 commented on #37942
Want to review this @johntyree https://codepen.io/moT01/pen/GRZBLMr?editors=0010 ?

[2020-09-16 16:30] SaintPeter opened #39592 "Advanced Express Implementation of Social Authentication III - Deprecation for "findAndModify""
**Describe your problem and how to reproduce it:**
I am using the latest boilerplate for the "Implementation of Social Authentication III" challenge on a server I control.  When I copy and paste the code for the GitHub database record creation and run it, I get a deprecation warning:
[code]

According to the [MongoDB manual page](https://docs.mongodb.com/manual/reference/method/db.collection.findO

[2020-09-16 16:41] danielh-official opened #39593 "Setting the expectations for a certification before working on Challenges"
Some people get into this with pre-existing knowledge. Having to go back to the basics and go through 300 hours of coding problems just to earn a certificate can be quite tedious.

Each segment should have an all-encompassing assessment that allows people to get a certificate without having to go through every problem.

[2020-09-16 16:42] nhcarrigan commented on #39593
Hello~!

As an FYI, *only* the five projects in each section are required for certification. A user does not have to complete any of the challenges to be able to claim the certificate. 🙂

[2020-09-16 17:01] ojeytonwilliams commented on #39593
Yep, this is something we're looking to improve.  We're planning to make it clearer what's purely for practice and what's required to claim the certification.

[2020-09-16 17:06] ojeytonwilliams commented on #39590
Not necessarily, since the names have to appear somewhere.  That said, it's possible the best approach is to just apply `blockNameify` to set the `superBlock`s while building the curriculum and then fetch them with a GraphQL query in the client.  Same reasoning as above.

[2020-09-16 17:11] RandellDawson commented on #39590
@ojeytonwilliams Ultimately, I just want the process of adding a new block (project in v7) easier.  Currently, this involves updating multiple files in various files located in the `client` and `curriculum` folders.

[2020-09-16 17:14] ojeytonwilliams commented on #39590
@RandellDawson since you're doing this a lot, would you mind noting all the places you have to change things? Not necessarily right now, but it would be great if you could keep this in mind next time you add a block.

[2020-09-16 17:18] RandellDawson commented on #39590
@ojeytonwilliams Yes, I have been meaning to document it anyway.

[2020-09-16 17:26] Sky020 commented on #39592
Thank you, for bringing this up. You are correct in saying we should update the method used. However, there is some mismatch due to `findAndModify` having the format `(query, sort, doc, options, callback)`, and `findOneAndUpdate` having the format `(filter, update, options, callback)`.

This mismatch is because the lessons are written to work with the MongoDB Nodejs Driver, and not necessarily the

[2020-09-16 17:31] SaintPeter commented on #39592
Haha, ok, I just figured that the signature was different, since my code failed, and I was coming here to update.  Missed it by 4 minutes.

[2020-09-16 17:48] ahmadabdolsaheb commented on #39586
Here is an article I came across that might be helpful for cypress + auth0 integration:
https://auth0.com/blog/end-to-end-testing-with-cypress-and-auth0/

[2020-09-16 17:58] Sky020 commented on #39589
@hamzaerrechydyhacker , This might not be exactly what you are looking for, but there are many projects under the `Coding Interview Prep` section within the `Take Home Projects` block.

Hope this helps

[2020-09-16 18:01] raisedadead commented on #39586
We should be able to mock authenticated routes with the local user, seeded in the DB.

It would not cover Auth0 integration, but it should still cover sessions and any route that needs auth (using the `mock` strategy seen here: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/api-server/server/passport-providers.js#L13).

Instead of the development build, you would build for production wit

[2020-09-16 18:38] RandellDawson opened #39594 "Remove video link where the video content no longer matches the current version of the challenges"
After some discussion on the forum, it was concluded the following challenges need the `videoUrl` removed from the the frontmatter of the challenge files.

* [Create a Form Element](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-form-element.english.md)
* [Learn about Tertiary Colors](https://github.com/

[2020-09-16 19:57] SaintPeter opened #39595 "Authentication with Socket.IO - Unclear instructions, incorrect/incomplete solution"
**Describe your problem and how to reproduce it:**
Working on the Advanced Express problems with a server I control.

In the Authentication with Socket.IO section, you are instructed to:

However, it is completely unexplained what this is supposed to mean or where you would do this.

I couldn't initially figure out what this even meant so I would get an error like this on the socket connection:

[2020-09-16 20:00] SaintPeter commented on #39595
Also, this provided code:
[code]
is wrong.

It should be:
[code]

[2020-09-16 20:07] lasjorg commented on #39591
@ojeytonwilliams Not sure if there is an editor option for it, but here is the CSS for removing the three dots.

client\src\templates\Challenges\classic\classic.css
[code]
I did look a bit for an option but the API docs for Monaco are pretty dense and hard to comb through.

Just let me know if I should make a PR with the CSS change.

[2020-09-16 20:18] Sky020 commented on #39595
Thanks, for this, @SaintPeter . The missing `key` in the Gist is my fault, and I will fix it on my side just for parity. @scissorsneedfoodtoo could you update the _camperbot_ side?

I am not sure where the confusion is...there is only one _'session middleware mounted on the app'_. How would you want this explained? (I did not want any more code for a camper to copy-pasta)

Someone else with more e

[2020-09-16 21:10] lasjorg commented on #39591
I made a PR just in case. If we want to use it its there.

[2020-09-16 21:34] SaintPeter commented on #39595
Maybe something along the lines of:

 for the session middleware, near where we set `saveUninitialized: true` . This is necessary to tell SocketIO which session to relate to.

I don't recall hearing the terminology "mounted on the app" previously and I found it confusing.  We're really talking about changing the options on the session.

I know what you mean about the cut and paste.  Not a whole lo

[2020-09-16 21:38] gwenf opened #39597 "Every Challenge Should Link to Related Github Repo File"
It would be great if, for each page or challenge, we had a direct link to the github code to make changes to that file. For example, the Vue.js documentation has this at the bottom of pages:

<img width="957" alt="Screen Shot 2020-09-16 at 5 34 58 PM" src="https://user-images.githubusercontent.com/10039233/93394913-f464d400-f842-11ea-8eed-7a7409a28b90.png">

Sometimes, people find an issue with a

[2020-09-16 21:45] RandellDawson commented on #39597
We are working on something like this for the version 7 of the curriculum.  As far as the current curriculum, I am not sure where the text would go that would not further clutter the challenge description/instruction text.  The last thing we want to do is make the text in the challenges any longer.

[2020-09-16 21:51] SaintPeter opened #39599 "Advanced Express - Inconsistent naming of user/username based on local/github Auth type"
**Describe your problem and how to reproduce it:**
In doing the Advanced Express challenges I discovered there are some inconsistencies in the creation of a new user in the `local` vs. `github`.  For the former, the user name is stored in the DB as `username` for the latter it is stored as `name`.

Relevant sections of code from `routes.js`:
[code]

And from `auth.js`:
[code]

Assuming that they a

[2020-09-16 21:58] gwenf commented on #39597
@RandellDawson I don't think it would be too obtrusive to put it in smaller font right below the title or at the bottom of the challenge description. It's just a few words and one link.

[2020-09-16 22:16] Sky020 commented on #39595
Fair enough. Thank you, for these suggestions. I would be happy with that wording change.

[2020-09-16 22:18] RandellDawson commented on #39597
I will discuss with the core team, but since we will have this in the new curriculum, I think this will not be a popular idea.  I will let you know.

[2020-09-16 22:47] Sky020 commented on #39599
Hello again,

Why did you think to search for `user` within `socket.request.user`? The code `socket.request.user.name` is given.

---

There should be no issue with local vs github, because only the github auth route is setup to direct to the `/chat` endpoint. Campers are welcome to refactor (and I did when I was testing), but all sections will need to be refactored.

As for standardising this:
-

[2020-09-16 23:01] gwenf commented on #39597
Thanks. Someone just mentioned it to me earlier that they wanted to recommend updates to challenges but didn't know how to get start with that.

[2020-09-17 00:25] SaintPeter commented on #39599
Here's the thing:
We're making a chat client, right?  In order to test this we need to connect multiple "users" to the client to see if the messages get sent out.  I only have one GitHub account and I'm not about to make a second one just to test this.  While I CAN log in multiple times from the same account then all I'm seeing is my name sending chats.  The UI we make doesn't differentiate betwee

[2020-09-17 01:16] AjeethT commented on #39594
I am first timer to contribute it. please help with it.
We need to remove the `videoUrl` from `the create-a-form-element.english.md` right.

[2020-09-17 01:21] RandellDawson commented on #39594
@AjeethT Yes and the same goes for the other challenge too.

[2020-09-17 01:43] AjeethT commented on #39594
I removed the <videoUrl> and created a pull request for [Create a form Element](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/create-a-form-element.english.md)

[2020-09-17 01:58] RandellDawson commented on #39594
@AjeethT Thank you for your contribution.

For future reference, you can make changes to multiple files on the same.  Also, you really should make your changes on a different branch than `master` to avoid soiling it.  I suggest taking a look at our documentation on [how to work on coding challenges](https://contribute.freecodecamp.org/#/how-to-work-on-coding-challenges?id=set-up-the-tooling-for-th

[2020-09-17 02:01] #39594 closed

[2020-09-17 03:04] Twaha-Rahman commented on #39574
@raisedadead I do believe that moving over to the Hooks API should simplify the codebase a LOT. A combination of the `useState`, `useContext` and `useEffect` should be more than enough for state management.

Now the question is, **are we or when are we going to start refactoring to use these new APIs?** I'm seeing many deprecation warnings currently in a lot of places (Usage of `componentWillMount

[2020-09-17 04:42] scissorsneedfoodtoo commented on #39595
Thanks for bringing this to our attention @SaintPeter, and for all of your helpful suggestions.

I went ahead and updated that Gist and the ones after to the following:

[code]

About the name of the key, I could go either way. Changing it to the default value seems fine, but leaving them as `'express.sid'` also works.

We don't really explain what they are or why they work in the current lessons,

[2020-09-17 06:08] todortotev commented on #39592
I could give a shot on it. Please keep in mind I would complete it at least 2 days from now on.

[2020-09-17 07:29] ojeytonwilliams commented on #39574
If we start small and refactor one or two components, I think we can start now.  That way we can see how much simpler it is in practice.

[2020-09-17 10:28] Sky020 commented on #39592
@todortotev , Sure. Go ahead. We normally QA the first comprehensive PR, and do not typically assign issues. So, any one is welcome to work on issues depending on the labels.

[2020-09-17 12:38] ojeytonwilliams opened #39604 "Fixed vs absolute Universal nav"
As discussed in https://github.com/freeCodeCamp/freeCodeCamp/pull/39580#discussion_r489477744 Cypress has a hard time with absolutely positioned elements.  Also, `fixed` seems more natural for a nav, since it always stays at the top of the viewport (and that seems to be the point of `fixed`).

Is there anything I'm missing or can we move to `position: fixed` and `click({ force: true }) -> click()`

[2020-09-17 13:10] raisedadead commented on #39604
Yikes - looks like I missed that discussion. I went thru the other comments and it seemed the PR was just waiting to merged.

I assume it's something we can still fix (haven't read the whole context yet)?

[2020-09-17 13:47] ojeytonwilliams commented on #39604
Yeah, it's not urgent, though.  As far as I know it's fine to use `click({ force: true })` it's just a hint that something slightly odd is happening. In this case Cypress automatically scrolls the button into view before clicking and then warns because the button ends up covered by the nav.

It would be better if we didn't have to force things (it's fine right now, but I think it's a bad habit to

[2020-09-17 14:00] Twaha-Rahman commented on #39604
@ojeytonwilliams  Have you tried using `fixed` and running Cypress without `force` locally?

[2020-09-17 14:08] #38584 closed

[2020-09-17 14:16] ojeytonwilliams commented on #39604
I have, yes.  All the tests pass once you use `fixed` and stop forcing.  I'll create a draft PR so people can take a look.

[2020-09-17 15:36] SaintPeter commented on #39595
I like this idea.  It could be the default key name initially, then by way of explanation we have them change it to match?  I'm not sure what a reason would be for changing the key name, though.  I do wonder how likely it is be that you would need to change it.  It's just as likely that express would randomly change it from `connect.sid` just to break things.

[2020-09-17 15:46] ahmadabdolsaheb commented on #38707
@scissorsneedfoodtoo, I believe this has been implemented if I am not mistaken.

[2020-09-17 16:15] raisedadead commented on #39177
Can you elaborate what this is about a bit more? Thanks.

[2020-09-17 16:16] #39519 closed

[2020-09-17 17:49] ojeytonwilliams commented on #39177
Yeah, I could have been clearer.

Before that PR, the `text` description of a test was just a snippet of html.  No processing happened.  After that PR, they are parsed as markdown.  In most cases this won't matter, but something like `x = 2*3*2` would become `x = 2<em>3</em>2`.

[2020-09-17 17:59] RandellDawson commented on #39177
@ojeytonwilliams Any suggestions on how best to perform an audit to find odd cases?  Could we create a one-off script that compares all the `text` strings as the final compiled markdown to the original string (removing any backticks) to make sure they ar the same?

[2020-09-17 18:00] #39515 closed

[2020-09-17 21:25] Sky020 opened #39607 "Python for Everybody - isRequired set to true for all lessons"
**Describe your problem and how to reproduce it:**
It appears that all of the challenges/lessons in the Python for Everybody section of the curriculum have the `isRequired` property set to `true`.

Doing a top-level search, I did not see it in use anywhere...

This property is misleading, and should either be set to `false`, or removed as there are some lessons without it.

@beaucarnes I know you

[2020-09-17 21:36] lasjorg opened #39608 "Improve warnings about extensions?"
I know we added a warning about extensions to the intro page for the CSS challenges, but it is not really working. We still get many forum posts about the challenges affected by ad-block (flexbox [tweet embed](https://www.freecodecamp.org/learn/responsive-web-design/css-flexbox/add-flex-superpowers-to-the-tweet-embed) challenge) and the various color challenges affected by dark mode/dark reader ex

[2020-09-17 21:55] bhagerty commented on #39487
My suggestion is to take it out. This fits best with the contributor guideline quoted by @Sky020: "Campers should never have to google anything during these challenges. "

Right now, if a camper wants to understand the note, they have to google promise chaining. I realize that they don't actually *have* to google promise chaining because it isn't part of the challenge. But that's all the more reas

[2020-09-17 22:00] RandellDawson commented on #39487
Since we are not going to add an external link on the topic and we are not planning on adding a new challenge to the existing curriculum for the topic being linked, I think we should just remove the note.

[2020-09-18 06:13] scissorsneedfoodtoo commented on #38707
@ahmadabdolsaheb, I believe we adjusted the meta description sometime back, but there doesn't seems to be any special meta images besides what's picked up from Ghost.

Also the Chinese version of Ghost seems a bit older, and doesn't have as much granular control over the meta images and descriptions under General in the settings menu.

As a quick workaround, we could probably just add some meta ta

[2020-09-18 06:17] scissorsneedfoodtoo commented on #39470
Great, thank you for going through that and testing it out @fuzzyray. Also, great catch with the dividing by 0 problem.

I'll go ahead and fix that in my fork of the project. Once that's approved by another team member or two, we'll make sure those changes are reflected in the live example project.

[2020-09-18 06:36] scissorsneedfoodtoo commented on #39595
@SaintPeter, that's a good point. I also don't know why you would change it from the default value unless you really had to for some reason. It could go either way, where we start at the default value and just point out that you could change it in certain situations. Or actually have them change it, though it would be rather arbitrary.

Hopefully Express doesn't go and change `connect.sid` in some

[2020-09-18 08:08] ojeytonwilliams commented on #39607
Thanks Shaun, I've searched as well and it's no longer used.  It should be removed from everywhere (`challengeSchema` and mocks, too).

[2020-09-18 09:14] #39397 closed

[2020-09-18 10:25] scissorsneedfoodtoo commented on #38707
Heard from @miyaliu666 and it seems like we need to use the [Weixin JS SDK](https://developers.weixin.qq.com/doc/offiaccount/en/OA_Web_Apps/JS-SDK.html#0) for WeChat moments to pick up the correct cover image from each Chinese /news story that's shared.

Here's Miya's screenshot with two Chinese /news stories that are missing images:

![image](https://user-images.githubusercontent.com/2051070/9358

[2020-09-18 10:54] raisedadead commented on #39177
Ah - this is something that can be easily overlooked. Will we be able to catch this with some form of linting.

[2020-09-18 11:23] Sky020 commented on #39607
@ojeytonwilliams Should this also be removed from all languages?

[2020-09-18 11:40] raisedadead commented on #35259
Closing this, need to create fresh discussion.

The implementation has changed quite a bit and we need to look at this from a fresh perspective. The need is still present.

[2020-09-18 11:40] #35259 closed

[2020-09-18 11:53] raisedadead opened #39612 "Handle Client Updates Gracefully - (Offline Mode)"
At the minute the client application is \*almost\* a PWA with some offline abilites, thanks to out-of-the-box implementations that come with Gatsby.

We also have implementation that notifies users when the API goes offline. It even attempts to post progress updates to the API when back online. You are able to test this by loading up `/learn` and turning off your internet.

This feature is not qui

[2020-09-18 15:30] #39487 closed

[2020-09-18 15:42] thecodingaviator commented on #38589
Hi, I'll pick this up. No promises on when I'll get it done though

[2020-09-18 18:28] Sky020 opened #39614 "Discuss the Standardisation of Lesson Content Format"
Following from this PR (#39606 ): There are many inconsistencies (nothing more than markup), which I would like clarification on, before continuing.

There is this [section in the docs](https://contribute.freecodecamp.org/#/how-to-work-on-coding-challenges?id=formatting-challenge-text):

I would like to expand on this with what would be best (look the nicest) for:
- Mentioning routes and non-code

[2020-09-18 18:30] #39560 closed

[2020-09-18 18:33] nhcarrigan commented on #39614
I'll chime in with some thoughts:

(This form is set up to POST on /register...)

I think these should go in `<code>` tags as well. `/register`, for example, could technically be considered a "code part".

(Add BCrypt as a dependency...) OR (Add bcrypt as a dependency...)

This one I lean more toward using the package name, for clarity's sake. And wrapping the package name in `<code>` as well.

I

[2020-09-18 18:47] nhcarrigan commented on #39608
I will say that the blue note stands out well on dark mode:
![image](https://user-images.githubusercontent.com/63889819/93633939-9e0fa680-f9a4-11ea-9024-40e5aaf59214.png)

But blends in a lot more on light mode:
![image](https://user-images.githubusercontent.com/63889819/93633991-b2ec3a00-f9a4-11ea-86eb-1ef8ccfa0c5e.png)

I am in favour of adding a note/warning to that challenge. There are a coupl

[2020-09-18 19:10] nhcarrigan commented on #39352
Constructing the code by hand, the TypeError gets thrown on the `sum += i ** i` line. I explored other variations, and it appears the use of the `**` operator is causing the error. [According to the MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt#Operators), the `BigInt` type *should* support the `**` operator - as @Bouncey mentioned this code does work

[2020-09-18 19:14] nhcarrigan commented on #39257
I am in agreement with Randell, here, that adding additional CSS requirements would restrict the individuality and personalisation of a user's project.

[2020-09-18 20:12] SaintPeter commented on #39470
I discovered another issue. Invalid input like a "double fraction":
https://metric-imperial-converter--freecodecamp.repl.co/api/convert?input=1//2gal

Causes a server error:
[code]

[2020-09-18 20:22] lasjorg commented on #39608
It's not really the contrast that is the problem, it's the psychological response to colors. Errors are red, warnings are yellow/orange, and information is blue. This message would, in my opinion, be more a warning and not just information. An exclamation icon in front of the text might also do the trick or something to that effect.

The only issue is we are trying to get away from having such mes

[2020-09-18 20:26] nhcarrigan commented on #39608
I think this is a good approach as well.

[2020-09-18 21:25] SaintPeter opened #39616 "Imperial Metric Converter - Boilerplate/Repo/Repl.it "Convert" button does not work"
**Describe your problem and how to reproduce it:**
If you click the "Convert" button on the UI for the example project/boilerplate/Repl.it, the page refreshes and the conversion does not occur.  This is because the `onsubmit` handler in the script does not have an `event` parameter being passed in, despite doing the `event.preventDefault()` in the body. Adding the `event` parameter fixes the issue

[2020-09-18 21:32] SaintPeter opened #39617 "Imperial/Metric Converter - Inconsistency in unit capitalization"
**Describe your problem and how to reproduce it:**
There are inconsistencies in the way in which the capitalization for units is handled, particularly for the "L" liters.  Based on the sample tests, the L is sometimes capital, sometimes lowercase.  It's clear which is "supposed" to be, which makes handling the conversion sticky.

My preference, and the way I solved it, was to convert everything to

[2020-09-18 22:17] moT01 commented on #16448
Closing this as stale. Thanks and happy coding everyone 🎉

[2020-09-18 22:17] #16448 closed

[2020-09-18 22:25] moT01 commented on #36810
Closing this as stale. Thanks and happy coding 🎉 We still welcome the use of this tool if anyone wants to try and add it to our mentioned tools.

[2020-09-18 22:25] #36810 closed

[2020-09-18 22:26] SaintPeter opened #39618 "Imperial/Metric Conversion - Boilerplate/Repl.it has Incorrect Example conversion"
**Describe your problem and how to reproduce it:**
The `index.html` has an example conversion output:

As per Google and basic math:
3.1mi * 1.60934 km/mi = 4.98895 not 5.0000008
The results are also supposed to be rounded to 5 digits.

This appears to be correct in the sample project (or at least within 2 hundred thousandths)

**Add a Link to the page with the problem:**
https://github.com/freeCo

[2020-09-18 22:33] moT01 commented on #34815
Closing at stale. I don't think we will be changing these challenge at the moment in favor of the project based curriculum. Thanks and happy coding everyone 🎉

[2020-09-18 22:33] #34815 closed

[2020-09-18 22:36] moT01 commented on #37639
Closing as stale. Thanks and happy coding 🎉

[2020-09-18 22:36] #37639 closed

[2020-09-18 22:37] moT01 commented on #37398
Closing this as stale. I think we will just have to live with this one for the time being. Thanks and happy coding 🎉

[2020-09-18 22:37] #37398 closed

[2020-09-18 22:42] moT01 commented on #38209
Is this still an issue for you @Sky020? I cannot reproduce this after a quick test.

[2020-09-18 22:43] moT01 commented on #37974
Closing as stale. Thanks and happy coding 🎉

[2020-09-18 22:43] #37974 closed

[2020-09-18 22:50] moT01 commented on #35615
Closing as stale. Thanks and happy coding 🎉

[2020-09-18 22:50] #35615 closed

[2020-09-18 23:04] moT01 commented on #39571
I don't think this is an issue that needs fixing @fuzzyray - although a good suggestion, I don't think we want to change up the projects this much at the moment. I would disagree that this doesn't reinforce any learning - certainly it's more practice with known topics if nothing else.

Unless you're interested in creating a new project, I am going to vote to close this. We can leave it open for no

[2020-09-18 23:07] nhcarrigan commented on #39571
I do believe the lessons themselves involve a chat type application. 🤔

Agreed - with the planned shift to a project-based curriculum especially.

[2020-09-18 23:10] fuzzyray commented on #39571
While I would not mind working on a new project for this, I realistically know that it won't happen quickly, due to other obligations. My actual thought is to close this, especially since I'm seeing with other issues that things are being changed and moved around. It can always be revisited in the future.

[2020-09-18 23:25] moT01 commented on #36610
Closing as stale. Thanks and happy coding 🎉

[2020-09-18 23:25] #36610 closed

[2020-09-18 23:56] moT01 opened #39664 "Consolidate issues to main repo?"
~~For visibility, please create issues related to this project on the [freeCodeCamp repository](https://github.com/freeCodeCamp/freeCodeCamp/issues). Thank you.~~

Edit: I have updated this issue for now so we can get some input on if we want to move the issues over to the main repo or not. If there were any issues I closed that someone was working on, feel free to reopen them - or let me know and

[2020-09-19 00:28] moT01 commented on #36920
@ahmadabdolsaheb - I'm not too familiar with the details of ghost, but it sounds like this isn't viable. Close?

[2020-09-19 00:29] moT01 commented on #38010
I vote for a new "classic" theme - which reverts to green colors.

[2020-09-19 00:34] SaintPeter opened #39620 "Issue Tracker Project - POST operation lacks error definition, default value for open"
**Describe your problem and how to reproduce it:**
Here are the user stories for the POST operation for the Issue Tracker project:

Notably missing here are definitions for how to handle errors.  A "required" field implies that the lack of such a field will result in an error, but there is no direction given as to how to handle this.

Additionally, the `open` field is defined as a boolean, but no

[2020-09-19 00:35] beaucarnes commented on #39271
We've looked into Brython but I've never seen pyodide before. We decided to go in a different direction. We've started creating the Python challenges in an in-browser VS Code environment, complete with a terminal. This will allow it to be a more real-world experience for learners.

[2020-09-19 00:35] #39271 closed

[2020-09-19 00:38] #36590 closed

[2020-09-19 00:43] SaintPeter commented on #39620
It might also make sense to include a return status code like '400', which is "Bad Request"

The 400 (Bad Request) status code indicates that the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, **invalid request message framing**, or deceptive request routing).

(emphasis added)

Some discussion on the topic her

[2020-09-19 01:38] RandellDawson commented on #39608
@lasjorg If we need to remove the video due to a change to the challenge that improves the challenge, then go for it.

[2020-09-19 01:42] RandellDawson commented on #39257
@nhcarrigan Recently, we had some discussions where we might start adding more slight restrictions to validate users know how to implement certain CSS syntax.  The goal will be to try to allow a variety of options that must be included to still allow creativity.  We will have some more discussions about this in the near future.

[2020-09-19 09:40] raisedadead commented on #39597
Thanks a lot for this suggestion Gwen.

I agree that finding a challenge to update quickly has not been the best of the experience. To be honest it is intentional. We used to have a Wikipedia style guide where users could do something similar, they would click the link on the bottom of the guide and edit the page.

Here are some reasonings based on my experience over the years (and the archived gu

[2020-09-19 10:16] Sky020 commented on #38209
@moT01 No. Seems to magically have gone away. Thanks, for checking.

[2020-09-19 10:16] #38209 closed

[2020-09-19 14:53] Ieahleen opened #39623 "the Anonymous Message Board sample project has been substituted by something different"
here: https://www.freecodecamp.org/learn/information-security/information-security-projects/anonymous-message-board

the example project: https://anonymous-message-board--freecodecamp.repl.co/

is not an anonymous message board:

![image](https://user-images.githubusercontent.com/26656284/93670062-9af5e280-fa98-11ea-9ebc-0b42a3bec0f9.png)

[2020-09-19 15:21] moT01 commented on #39597
We could possibly add a link that opens a new issue with some prefilled info - like a link to the challenge and maybe to the file in the repo. But even that worries me that we will get a bunch of people reporting issue's when there's just a problem with their code. Just a thought.

[2020-09-19 15:37] nhcarrigan commented on #39597
Currently a user can hit the "Ask for Help" button to generate a forum post. My understanding is users should be turning to the forums first for triage with their code - if the community determines it is actually a bug in the challenge, *then* an issue should be created right?

We have a canned forum reply for creating GitHub issues for challenge bugs - which we use when we determine a user's code

[2020-09-19 15:58] RandellDawson commented on #39597
@nhcarrigan is spot on.  We want users to use the forum for debugging their code.  We already have to close PRs for users creating issues on GitHub when the issue is the user's code.  We redirect them back to the forum.  On a related issue, mods on the forum should only be recommending opening GitHub issues, once they confirm themselves that there is not a bug in the user's code.  I have a few mod

[2020-09-19 16:16] divyavit commented on #39620
Hi @SaintPeter I am up for this task. Pls let me know if I can proceed.

[2020-09-19 16:18] nhcarrigan commented on #39620
Hey there @divyavit~! Thank you for your interest in contributing!

When an issue is labelled with the `help wanted`, anyone is free to work on it - you do not need permission, and issues are not usually assigned to someone. 🙂

We will generally accept the first pull request (PR) that provides a comprehensive fix for the issue. If you have not done so already, make sure to read our [contributing g

[2020-09-19 16:45] SaintPeter commented on #39620
I was looking for some consensus.  I guess since there is no argument, this is what we'll go with?  I'm down with that.

@divyavit If you want to update the boilerplate, that would be awesome.

[2020-09-19 16:56] nhcarrigan commented on #39623
This appears to be back up and running again. @Ieahleen can you take a second look on your end?

[2020-09-19 17:00] Ieahleen commented on #39623
now it seems back to normal, yes

what was going on there?

[2020-09-19 17:09] SaintPeter commented on #39620
There is also an oversight with the PUT verb:

There is no definition for what happens when the `_id` field is not sent. This is distinct from "no updated fields" being set, because it's possible to send an `_id` and still not have fields to update.

I propose we match the definition for the DELETE verb :

(emphasis to highlight addition only)

[2020-09-19 17:15] SaintPeter commented on #39620
This would necessitate one additional test to validate `_id not found`.

[2020-09-19 18:10] SaintPeter commented on #39620
On second thought:

seems to cover not being able to find the `_id`.

[2020-09-19 20:22] nhcarrigan commented on #39623
I'm not sure. May have been some error on repl.it's side. Given that it's resolved, I think it's safe to close this issue for now.

[2020-09-19 20:22] #39623 closed

[2020-09-19 22:52] johntyree commented on #37942
Looks good to me. Thanks for fixing it! :)

[2020-09-20 04:21] SaintPeter commented on #39620
@divyavit Please let me know when you'll get to this.  I have a pending PR which implements tests for these, see the link above.

Here is the complete final verbiage which needs to be updated on the boilerplate's [`views/index.html`](https://github.com/freeCodeCamp/boilerplate-project-issuetracker/blob/gomix/views/index.html):

Feel free to edit for legibility.

I can be found as `@SaintPeter#1584

[2020-09-20 05:49] nhcarrigan commented on #37942
@moT01 I took a peek at the CodePen and it looks good to me as well 🙂

[2020-09-20 08:48] Twaha-Rahman commented on #39612
Oooh... this is really interesting and I'd love to give a hand! I have prior experience with writing SW from scratch. I might need some help here and there but I'd like to give it a go.

[2020-09-20 12:13] ahmadabdolsaheb commented on #38707
Script injection sounds good to me. We could pair on this when you wish.

[2020-09-20 12:22] ahmadabdolsaheb commented on #38010
Thanks for bringing my attention to the issue. The feature has been reconsidered and we will continue replacing all green logos with their indigo equivalents.

We could discuss adding a new theme in a separate issue.

[2020-09-20 12:22] #38010 closed

[2020-09-20 13:38] Millionaire009 opened #39629 """
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2020-09-20 13:45] #39629 closed

[2020-09-20 15:04] gwenf commented on #39597
@nhcarrigan some users don't need help. Maybe they want to suggest wording or example updates for the challenge. Many people still have a hard time understand some of the instructions for freeCodeCamp challenges so the extra PRs/suggestions could really help. Many teachers also audit the freeCodeCamp challenges and it would be nice if we could just click on a button to suggest updates to how the c

[2020-09-20 15:36] SaintPeter opened #39630 "Personal Library Project - Improve Error Definitions, Test Coverage"
**Describe your problem and how to reproduce it:**
The User Stories for the Personal Library project is missing an error handling definitions for the `title` field on creation.

I propose the following changes to the user stories (changes in **bold text**).

...

Note, as per #39435, the InfoSec user stories may be removed.

Additionally, the boilerplate should be updated to include tests for thes

[2020-09-20 17:39] nhcarrigan opened #39631 "[BUG] - Incorrect Boilerplate in American-British Translator"
**Describe your problem and how to reproduce it:**

I was looking in to writing tests for the American British Translator project. Poking around the code in the example project, I see these routes in the test runner:

[code]

However, neither of these routes point to existing files. These appear to be the routes for the Metric-Imperial converter.

Is there another way to write the tests? The logic

[2020-09-20 20:24] Guru-coderZ opened #39633 "Code completion problem in HTML tag img"
When I use code completion for image tag, ie:-'img', it completes it as [object object], all other tags are working just fine.
Awesome tutorials btw

* Browser Name:  Google
* Browser Version: Latest
* Operating System: Windows 10 Home

[2020-09-20 20:29] RandellDawson commented on #39633
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-09-20 20:29] #39633 closed

[2020-09-20 20:43] nhcarrigan commented on #38403
![image](https://user-images.githubusercontent.com/63889819/93721806-32197380-fb47-11ea-9076-a57aeb44f617.png)

This appears to have been fixed, so I will go ahead and close this issue. If you find that the bug persists, feel free to request we reopen this and provide the relevant information. 🙂

[2020-09-20 20:43] #38403 closed

[2020-09-20 21:00] nhcarrigan commented on #38558
[code]

So I poked around with this challenge, and the above code passes the tests.

The `getter` assigns an incorrect value, but is tested against a `new Thermostat(32)` call (which should return a Celcius temp of 0).

The `setter` assigns a hard-coded value I randomly chose, and appears to be tested only against this call:
`t = new Thermostat(32); t.temperature = 26;`
As long as the resulting te

[2020-09-20 21:09] nhcarrigan commented on #38845
Heya @viveksharmaui - are you able to provide a status update? It looks like raisedadead has requested additional information for the specifics of this functionality. Additionally, the PR #38844 you have opened appears to be in need of a rebase against our master branch. 🙂

[2020-09-20 21:39] TineoC opened #39634 "Workwindow variable in Functional Programming section"
**Describe your problem and how to reproduce it:**

The problem is in the Functional Programming section from the Javascript Algorithms certificate in: Understand the Hazards of Using Imperative Code, the variable workwindow is initialized with this array:

var workWindow = new Window(['GMail', 'Inbox', 'Work mail', 'Docs', 'freeCodeCamp']); // Your mailbox, drive, and other work sites

And notice

[2020-09-20 21:41] nhcarrigan commented on #39634
Hello~!

Are you able to provide more information? What is not working the way you expected it to?

[2020-09-20 21:46] TineoC commented on #39634
Sorry, now it's complete or think so

[2020-09-20 21:49] nhcarrigan commented on #39634
Ahhh I see. It should be `Gmail` not `GMail`, right?

[2020-09-20 21:52] gwenf commented on #39597
Thanks, I agree with your proposal about the UX element. It could guide users to either opening a forum post or an issue. As I mentioned above, many users of freeCodeCamp are not first-time learners and it would be great to capture their suggestions as issues, and then hopefully PRs.

[2020-09-20 21:53] TineoC commented on #39634
Yes :)

[2020-09-20 21:57] nhcarrigan commented on #39634
So it looks like this would need to be updated in a few places in the challenge file. The instructions, test, challenge seed, and solution all include references as `GMail`.

Before opening this up, though, I wouldn't mind waiting for additional consensus. (I could have sworn the actual brand was `GMail` but apparently it's not...)

[2020-09-20 23:04] TineoC commented on #39634
I'm with you

[2020-09-21 00:33] RandellDawson commented on #39634
They are just representing email folder names.  The spelling of names are really not that important.  Changing "GMail" to "Gmail" feels like bike-shedding to me.

[2020-09-21 02:47] TheJaredWilcurt commented on #39597
I am very much on board with this. I've been going through the curriculum and just finding lots of small things that would be easy to fix if there was something like an "Edit this page" link that takes you to the file to edit on GitHub and submit a PR.

I understand that it may be a concern that new learners may misunderstand and misuse this feature, however, rather than not do it, I'd suggest jus

[2020-09-21 03:21] sultanofcardio commented on #36214
I agree with the suggestion to move the challenge. The [suggested solution](https://github.com/freeCodeCamp/freeCodeCamp/blob/bd68b70f3de9699eaa094d14d4706bea3c83d43f/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/regular-expressions/restrict-possible-usernames.english.md#solution) makes use of both quantity specifiers and character groups before they are taught.

Getti

[2020-09-21 03:22] nhcarrigan commented on #39597
@TheJaredWilcurt the concern with streamlining the process directly from the `/learn` platform to the file to edit is that it disrupts the general workflow as @raisedadead mentioned:

I think adding a CTA that leads users to create an *issue* would work, but not to edit the file directly. Most changes to the codebase require testing locally prior to opening a PR, or the CI tests will fail.

[2020-09-21 03:40] scissorsneedfoodtoo commented on #39470
Thanks for catching this @SaintPeter. This was fixed in the updates I made to https://resonant-stupendous-wall.glitch.me/.

Could you try some other invalid inputs with that project and let me know if you run into anything else?

[2020-09-21 05:17] scissorsneedfoodtoo commented on #38707
@ahmadabdolsaheb, sure, that sounds great :+1: :+1:

I talked with @miyaliu666 about this last week and she will check with Quincy about creating a Weixin account. Then once she can register an app and give us the `clientId` and a few other things we'll be in business.

[2020-09-21 05:31] GuruTheCoderYoutube opened #39635 "A shortcut for doing everything"
Just need  shortcuts to run the tests, download and for everything for productivity

[2020-09-21 05:50] Guru-coderZ opened #39636 "Make the editor fully-fledged, for code completion, just like vs code"
Code formatting feature and more. I need to be more productive!!

[2020-09-21 06:28] Twaha-Rahman commented on #39635
I believe there's key bindings for those. @ojeytonwilliams why aren't they documented?

[2020-09-21 07:06] Guru-coderZ commented on #39635
We hve to see, ya From: Twaha RahmanSent: 21 September 2020 09:28To: freeCodeCamp/freeCodeCampCc: Guru-coderZ; AuthorSubject: Re: [freeCodeCamp/freeCodeCamp] A shortcut for doing everything (#39635) I believe there's key bindings for those. @ojeytonwilliams why aren't they documented?—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubsc

[2020-09-21 07:15] ojeytonwilliams commented on #39635
I was working on them here: https://github.com/freeCodeCamp/freeCodeCamp/pull/38203, but I never seem to find the time.  I'll try to get that done before too long.

[2020-09-21 09:28] ojeytonwilliams commented on #39612
I would go with multiple PRs if the features are independent.  Otherwise it's fine to have a large PR as long as we organise the commits before merging.

[2020-09-21 09:54] lizaiueo commented on #10523
<style>
  .red-text {
    color: #FF0000;
  }
  .green-text {
    color: #00FF00;
  }
  .dodger-blue-text {
    color: #1E90FF;
  }
  .orange-text {
    color: #FFA500;
  }
</style>

<h1 class="red-text" style="color: rgb(255, 0, 0)">I am Red!</h1>

<h1 class="green-text" style="color: rgb(0, 255, 0)">I am Green!</h1>

<h1 class="dodger-blue-text" style="color: rgb(30, 144, 255)">I am dodger blue!

[2020-09-21 10:38] Sky020 commented on #36214
@sultanofcardio The solution you see in the `md` file is used only by devs to test if their changes prevent the challenge from passing a solution.

This topic was discussed on the forum here: https://forum.freecodecamp.org/t/restrict-possible-usernames-solution-requires-knowledge-not-introduced/395660/7

The guide post has the visible solution, and it has been updated with a perfectly suitable sol

[2020-09-21 10:47] Sky020 commented on #39636
Hello there,

This has been discussed in the past. However, including code formatting/completion/intellisense has two main downfalls:
1) Overwhelms some campers when they are just getting started
2) Decreases the effectiveness of learning the syntax, and debugging code. Campers learn much more effectively, if they are required to type everything out.

If this bothers you, you are welcome to comple

[2020-09-21 10:55] ojeytonwilliams opened #39638 "Saved challenges stored for all users"
**Describe your problem and how to reproduce it:**

If you save your code `ctrl+s`, log out and then log back as a different user then the new user will see the saved code.  While this only affects users that share machines, it's clearly not intended behaviour.

Similarly, I think that failed submissions will be retried for the currently logged in user, not necessarily the user who attempted to su

[2020-09-21 11:28] schmelto opened #39639 "Add Flex Superpowers to the Tweet Embed | Your .follow-btn should have a display property set to flex."
**Describe your problem and how to reproduce it:**
Add Flex Superpowers to the Tweet Embed
Your .follow-btn should have a display property set to flex.

write source code but not accepted by test

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/css-flexbox/add-flex-superpowers-to-the-tweet-embed

**Tell us about your browser and operating syste

[2020-09-21 11:41] #39639 closed

[2020-09-21 11:51] tareq12345 commented on #39592
Was this issue solved or still there is a problem? in the code base sort:{} is empty.

[2020-09-21 12:49] sultanofcardio commented on #36214
Thank you @Sky020.

I tried something like this but I neglected to duplicate the `$` and `^` symbols.

[2020-09-21 13:05] Sky020 commented on #37942
@moT01 The CodePen you linked resolves this issue, and passes all tests 👍

[2020-09-21 13:06] RandellDawson commented on #10523
@davidstulajter Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-09-21 13:10] Sky020 commented on #39592
@tareq12345 It appears this issue is still open to _first-timers_. The issue still exists, because the `sort` query is still being used, despite it being an empty object literal.

[2020-09-21 13:21] SaintPeter commented on #39470
Here is a fun one:
https://resonant-stupendous-wall.glitch.me/api/convert?input=9,1.2/0mi

[code]

That appears to break JS's parser.  My thought is to wrap the whole parse block in a try/catch block and return an `invalid number` on any trip of it. We're just never going to "think" our way out of bad input. Trying to catch all the special cases is madness.

[2020-09-21 13:26] raisedadead commented on #39597
Thanks for your feedback again @gwenf and @TheJaredWilcurt

We understand and empathize with the need here.

Like I mentioned before, we have had something like this in the past with another project. And we were overwhelmed at the time with the noise.

Valuable contributions such as yours, who are not students for example would simply get in lost in the noise of the PRs if we skipped to "edit this

[2020-09-21 13:34] raisedadead commented on #39612
Hi folks, just getting caught up on my notifications.

I should have mentioned that there are several diligent validations need to be done before we jump to any implementation. There are a few reasons that we had chosen to left it midway.

One of them being issues with the `gatsby-offline-plugin` being notorious for some reason I do not remember of the top of my head.

Feel free to experiment, but

[2020-09-21 14:52] ahmadabdolsaheb commented on #38707
I am closing this issue since it would need an ICP license.

[2020-09-21 14:52] #38707 closed

[2020-09-21 14:53] Guru-coderZ commented on #39633
👎.  The img auto completion feature is buggy.

On Sun, Sep 20, 2020, 11:29 PM Randell Dawson <notifications@github.com>
wrote:

[2020-09-21 15:09] SaintPeter commented on #39470
I took a stab at this again. This is very much an "onion" problem - many layers and they all make you cry.

Here are the assumptions:
1) Units are at lest 1 alphabetic characters preceded by the start of the input or a non-alphabet character and ending at the end of the input
2) The numbers are anything left in the string once we remove the units with the prior characteristics
3) A number is made

[2020-09-21 15:21] #39607 closed

[2020-09-21 16:19] ojeytonwilliams commented on #39177
Basically, yes, what I was thinking was something similar to this:

[code]

That will catch all the tests with any markdown in.  If that proves to be too many, we'd need to rethink, but hopefully that's enough that a human can quickly scan through and fix.

Backticks are tricky, since someone might put them in expecting them to make it into the final html.  We probably shouldn't remove them unless

[2020-09-21 16:42] ojeytonwilliams commented on #39352
I think it's a issue with how Babel transforms exponentials.  Take a look at this [repl](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=true&loose=true&code_lz=DYUwLgBAzgrgthAvBAQgSwOYEkB2YAUATAJQBQscAVJRQNylA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&timeTravel=false&sourceType=module&lineWrap=false&presets=env%2Cenv&pret

[2020-09-21 17:59] iarobinson opened #39641 "Fix Broken Link in README.md for InfoSec Chai section"
### Current README links to:
https://www.freecodecamp.org/learn/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai

This is a broken link.

### Current README SHOULD link to:
https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-and-testing-with-chai/

<img width="1440" alt="Screen Shot 2020-09-21 at 12 43 27 PM" src="https://user-images.githubuserc

[2020-09-21 18:19] ojeytonwilliams commented on #39453
@raisedadead we're not going in this direction, right?  I assume so from the discussion on the PR, but if I'm being stupid, please re-open this.

[2020-09-21 18:19] #39453 closed

[2020-09-21 18:44] raisedadead commented on #39453
Yes - We are not going to support native dev on Windows.

[2020-09-22 02:52] #39641 closed

[2020-09-22 09:14] ojeytonwilliams commented on #39352
Unfortunately we would need to start using the JSBI to handle BigInts if we want to support older browsers.  Instead, I think we should make the browsers we say we support (on /news/support) the ones we explicitly support (via browserlist).  I'll create a separate issue to discuss this, since it's a bit broader than BigInt.

[2020-09-22 09:21] ojeytonwilliams opened #39647 "Official browser support"
Right now we recommend Chrome and Firefox on [/news/support](https://www.freecodecamp.org/news/support/), but we transpile for more than that: https://github.com/freeCodeCamp/freeCodeCamp/blob/dd7fba4558f5a0c4b2dc35ebd919c22921c0b0df/client/.babelrc#L12

Should we officially support, say, Chrome, Firefox, Edge, Safari and Opera?  If we do, we can tailor our browserlist to that and also our Cypress

[2020-09-22 14:34] Twaha-Rahman commented on #39647
Except Firefox almost all browsers are Chromium under the hood so supporting multiple browsers should be a big problem. The only browser I want to drop from the list is Safari.

That lefts us with -

1. Chrome
2. Firefox
3. Edge (The new Chromium one)
4. Opera

[2020-09-22 16:54] ojeytonwilliams commented on #39647
My rationale for including Safari was just that it's pretty popular. If we can support it, that would be good.  Could you expand a bit on why you'd prefer to drop it?

[2020-09-22 17:30] nhcarrigan commented on #39647
It would appear that, according to WikiPedia, Safari is still fairly popular:
![image](https://user-images.githubusercontent.com/63889819/93916507-84c96b80-fcbe-11ea-9f64-8daffe930b80.png)

I'm not sure if we can view browser statistics for our `/learn` platform specifically, but I'd be concerned about dropping support for an OS default browser.

[2020-09-22 18:00] raisedadead opened #39650 "NGINX Config for the demo apps"
- [ ] Make the config a bit flexible and dynamic?
- [ ] Add handlers for the `www`, root, maintenance and 404 pages.
- [ ] Cleanup all extraneous files.

[2020-09-22 19:30] davi-santos5 opened #39665 "Incosistent test result on Pomodoro Clock project"
#### Issue Description

When I run the tests it fails on the first ones (#Technology Stack), although the only framework I'm using is React. But if a start the clock in the app and then run the tests, it passes. I checked my code searching the reason for this behavior, but I didn't understand why this is happening, so maybe is a problem with the Test Suite.
Another strange behavior is on the test

[2020-09-22 19:31] moT01 commented on #39435
There should be three parts to this:

- [ ] Remove tests/text from /learn pages
- [ ] Remove text from boilerplates
- [ ] Remove text from example projects

[2020-09-23 05:33] scissorsneedfoodtoo commented on #39573
Did a bit more testing and it seems like author pages will show the author's cover image when shared. We'll need to find a good way to add a default image in the theme.

For the tags pages, I went ahead and added the default cover image for both Twitter and Facebook. I also started adding custom images for the most popular tags like tech, programming, technology, and so on. I'll continue to do tha

[2020-09-23 07:43] Ieahleen commented on #39569
has the PR already been deployed? reports of the issue keep appearing

[2020-09-23 08:10] Sky020 commented on #39569
@Ieahleen No, it does not look like this commit has made it to production yet.

@raisedadead Is there any need to cherry-pick this one? I remember there being a mention of this, but cannot remember why.

[2020-09-23 11:43] ahmadabdolsaheb commented on #39573
Here is a related issue from a while back :)
https://github.com/TryGhost/Ghost/issues/10988

[2020-09-23 13:42] surajat17 commented on #39592
Is this issue solved or there's still some problem? i would like to work on it

[2020-09-23 14:37] RandellDawson commented on #39592
@surajat17 We already have a PR for this issue that is probably going to be merged very soon.

[2020-09-23 14:41] raisedadead opened #39656 "YouTube embeds have issue loading."
https://forum.freecodecamp.org/t/tutorial-videos-on-fcc-dont-load/422178

[2020-09-23 15:15] #39604 closed

[2020-09-23 15:21] #39592 closed

[2020-09-23 17:22] ojeytonwilliams opened #39658 "Give challenge authors better control test messages"
**Is your feature request related to a problem? Please describe.**
Challenge tests only report success or failure, with no specific information about why a test failed.  If a test is moderately complicated (i.e. has multiple assertions) and can fail at several points, a user may have difficulty understanding what they did wrong.

**Describe the solution you'd like**
Allow a test writer more contro

[2020-09-23 17:35] SaintPeter commented on #39658
For the projects, there are many steps that require an initial setup in order to get a known id.  For example, with the exercise tracker, you have to create a user every time so you can get an id to add an exercise to it.  For the Personal Library, you need to create a book (or books) before you can add comments.  In order for the tests to be atomic, this needs to happen for each test.

In general

[2020-09-23 19:43] Anoop01234 commented on #39503
Sir, I would like to resolve the issue but the problem that I am facing is that I can not navigate, where I could find the navigation bar code in the repo. So, it would be really helpful if you could help me out in that.

[2020-09-23 19:47] raisedadead commented on #39503
Thanks for your interest.

This issue is non-trivial and is assigned to one of the staff members. I am locking this to avoid further "I want to work on this" comments.

We encourage you to sift through the help wanted labels and give our Contributing Docs a good read. They have all the information you need to start working on any issue that interests you.

[2020-09-23 22:30] nhcarrigan commented on #39614
Just to keep this on the radar:

In #39653 Randell pointed out some styling inconsistencies for the file that was changed. I submitted #39657 to correct those. However, I also noticed a few other files that were using `<em>` tags where they should probably use `<code>` tags.

I was going to create an issue for them, but would it be best to wait until this discussion is resolved?

[2020-09-24 05:33] scissorsneedfoodtoo commented on #37942
@johntyree, thanks for opening up this issue and kicking off this discussion. Like some others have suggested, I'm also in favor of leaving the user stories and tests the way they currently are.

But I don't see a problem with updating the project. If anything, subtracting negative numbers can be seen as a hidden feature. If campers discover it and want to implement it themselves, then they can de

[2020-09-24 07:46] scissorsneedfoodtoo commented on #38416
@moT01, I did a bit more digging into this issue and here's what I found.

It seems like those CodePen example projects are slightly outdated, and a lot of them were last updated in either June or October 2018: https://codepen.io/freeCodeCamp/details/GrZVaM. The one exception is the Scatter Plot project, which I updated in April 2020. The changes are being tracked in the testable-projects repo, bu

[2020-09-24 09:07] ojeytonwilliams commented on #39614
Just focusing on a small detail: I think using code tags (or better still `) for code is a convention we should stick to.  If the styling is a bit ugly, we should see if we can improve it.  Either like Nicholas suggested, tweak the wording, or, if that feels too restrictive, we could adjust the css.

[2020-09-24 09:33] Sky020 commented on #39614
Something to add to this:
- File names (eg `package.json`)

Personally, I could go with either `code` tags, or `em`, just **not** plain text.

[2020-09-24 11:37] RandellDawson commented on #38416
It would be nice if we could configure those projects to auto deploy to Netlify when anything is merged master for them.  This would keep us from having to manually copy/paste over to Codepen.

[2020-09-24 12:03] #38194 closed

[2020-09-24 12:39] #38808 closed

[2020-09-24 14:22] FakeErFy opened #39662 "ES6: Use the Spread Operator to Evaluate Arrays In-Place"
**Describe your problem and how to reproduce it:**
In the challenge that I mentioned in the title there is an issue. Even when the output doesn't match with the challenge requirements but it still passes the challenge. I have linked some gifs so it is more understandable.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/

[2020-09-24 14:35] nhcarrigan commented on #39662
Good catch!

The first test on this page uses:
[code]

A fun quirk with `.every()` that I ran in to yesterday is that it *returns true* on an empty array. This error could likely be fixed by adding an assertion for `arr2.length`.

[2020-09-24 15:03] jp-sauve commented on #39636
I  understand the desire for this, but I'd agree with @Sky020. If you're just learning the syntax, autocompletion is not going to help. Students need to try and recall themselves, as 'Active Recall' is important for committing to long-term memory.

[2020-09-24 15:44] FakeErFy commented on #39662
Honestly I didn't know why it passed the challenge. Thank you for the explanation.

[2020-09-24 15:46] jp-sauve commented on #39204
I agree that the text should be updated. I just got caught up by the unclear instructions. The way it is, I thought that what was 'required' was that quantity be a number. It doesn't suggest to me that a quantity is required.

[2020-09-24 16:03] nhcarrigan commented on #39664
I believe this one can be closed now, with @raisedadead migrating the issues and the merge of the bug report link change.

[2020-09-24 16:04] raisedadead commented on #39664
Move complete. Let's triage here instead.

[2020-09-24 16:04] #39664 closed

[2020-09-24 16:40] raisedadead opened #39674 "Default upcoming changes to false, and do not look for it"
[code]

[2020-09-24 16:44] ShaunSHamilton opened #39675 "Tests for Implementation of Social Authentication Too Strict"
The tests need to be updated to allow for the two main ways of defining routes:
[code]
**AND**
[code]

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication.english.md

[2020-09-24 18:32] RandellDawson commented on #39675
We need to figure how to test most things without using regex.

[2020-09-24 18:33] #39669 closed

[2020-09-24 18:33] RandellDawson commented on #39669
@vishutdhar Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-09-24 18:34] RandellDawson commented on #39670
Hi @Ajay121code,

As there has been no response from your end for a while, we are closing this issue.

Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in you

[2020-09-24 18:34] #39670 closed

[2020-09-24 18:39] raisedadead opened #39679 "Cypress with Firefox keeps crashing"
![image](https://user-images.githubusercontent.com/1884376/94185731-4c46af00-fec3-11ea-99a6-208fb6bc460a.png)

[2020-09-24 18:44] raisedadead commented on #39679
Dropping Firefox support temporarily with [`1bb0bdb` (#39677)](https://github.com/freeCodeCamp/freeCodeCamp/pull/39677/commits/1bb0bdb80abebcf4cfc203622c9e64d49d8cba6c). This was causing me to slow down with the PRs and rapid testing we are doing on the staging.

I will let someone else investigate this.

[2020-09-24 18:47] raisedadead commented on #39636
Thanks for reporting and requesting this feature.

We do not have plans for changing the editor behavior for reasons that others have mentioned.

Happy coding.

[2020-09-24 18:47] #39636 closed

[2020-09-24 18:59] Sky020 commented on #39675
@RandellDawson We could change the tests to ping the route, to determine if it was defined correctly?

[2020-09-24 19:08] RandellDawson commented on #39667
@dloynaz Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-09-24 19:08] #39667 closed

[2020-09-24 19:23] RandellDawson commented on #39662
Opening this up for contributions.  As @nhcarrigan mentions, we just need an additional condition in the `assert` to test that `arr2.length` is non-zero (which means it would be truthy).

[2020-09-24 19:33] RandellDawson commented on #39204
Opening this PR for contributions.  The test text should be changed to:

[2020-09-24 19:35] RandellDawson commented on #39665
@davi-santos5 Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-09-24 19:35] #39665 closed

[2020-09-24 20:11] davi-santos5 commented on #39665
Ok, sorry for the inconvenience and thanks for your time

[2020-09-24 20:13] RandellDawson commented on #39665
@davi-santos5 It might turn out after posting on the forum, that it can be determined it is a bug with our tests.  We would just prefer users start there first to make sure.  Thanks.

[2020-09-24 21:11] ojeytonwilliams commented on #39679
@Twaha-Rahman any thoughts on this one?  I'll take a look when I can, but I figured you might have some insight.

[2020-09-24 22:05] misbagas commented on #39662
you can find in stackovervlow

[2020-09-24 22:22] misbagas opened #39684 "can you please make a documentation to eazy understand"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Recommended fix, suggestions (how would you update it?):**

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2020-09-24 22:28] lasjorg opened #39685 "Intermittent SSL certificate failures on cdn.freecodecamp.org"
Is anybody else seeing this issue? It has happened to me multiple times over a period of time. It affects everything that uses the CDN, i.e. the test script and forum login page (script and SVG resource fail to load).

It seems very intermittent and random so I'm not really sure what is going on.

![cdn-cert](https://user-images.githubusercontent.com/28780271/94190014-cec37480-feab-11ea-94fd-79238

[2020-09-24 23:14] #39662 closed

[2020-09-24 23:18] RandellDawson commented on #39684
@misbagas Can you be more specific about what documentation you find difficult to understand?

[2020-09-25 01:02] misbagas commented on #39684
no its okay I understand about the documentation

[2020-09-25 01:02] #39684 closed

[2020-09-25 02:31] Twaha-Rahman commented on #39679
I'll look into it soon. Will let you know when I get to the bottom of it.

[2020-09-25 02:36] kevinsmithwebdev opened #39687 "Basic JavaScript: Passing Values to Functions with Arguments"
**Describe your problem and how to reproduce it:**

The challenge instructions say:

But you can only pass positive integers. I suggest that either the instruction is changed to:

or the regex should be changed to:
[code]
So that it can accept negatives and decimals.

Changing the regex would probably be simpler because it could be changed across all the language files without having to worry abou

[2020-09-25 03:03] nhcarrigan commented on #39687
I definitely agree that updating the test to allow for numbers (and not just integers) is the right way to go.

I don't suppose there's an alternative to regex for the approach though? 🤔

[2020-09-25 03:13] BillRobitskeJr commented on #39617
Well, this got my curiosity going, so I did some "quick" internet research (so, bare with me, I guess...?).  I guess the question of "what's accurate" here comes down to if we're following SI or not.  I'm going on the assumption that we are.

Going through the [The International System of Units (SI), 9th Edition](https://www.bipm.org/utils/common/pdf/si-brochure/SI-Brochure-9-EN.pdf), all units _e

[2020-09-25 03:42] scissorsneedfoodtoo commented on #38416
@RandellDawson, agreed. Either Netlify or GitHub pages like you or @moT01 mentioned would be a huge improvement.

Seems like Netlify launched support for monorepos late last year. Might be able to go with that in the testable-projects repo without too many changes: https://www.netlify.com/blog/2019/10/09/launching-monorepo-support-for-netlify-sites/

[2020-09-25 05:45] RandellDawson commented on #39687
I was not able to think of a way. I using a slight modification of @kevinsmithwebdev's regex is needed for the test to pass with function declaration above it.
[code]

[2020-09-25 06:02] scissorsneedfoodtoo commented on #38416
@KartikSoneji, thanks again for opening an issue about this.

We synced all the example CodePen projects with the most up-to-date versions in the [testable projects repo](https://github.com/freeCodeCamp/testable-projects-fcc). Now none of the example projects on CodePen use `localStorage`. Will close this for now, but please let us know if you're still having issues.

[2020-09-25 06:02] #38416 closed

[2020-09-25 06:11] #39204 closed

[2020-09-25 06:35] Twaha-Rahman commented on #39679
Mrugesh shared two links to the CI runs that failed and both of them failed for the `leran/challenges/output.js`. So, I was looking at the test and saw a lot of explicit timeout increasing... this is probably the reason why it fails on Firefox. Because the timeout were increased by watching the time it took on Chrome and manually adjusting it. But Firefox normally needs a few more seconds to finis

[2020-09-25 07:24] KartikSoneji commented on #38416
Hi @scissorsneedfoodtoo

I still get a popup from codepen, but the project works properly.

![image](https://user-images.githubusercontent.com/25801283/94238503-1c80c100-ff2e-11ea-8bdd-5d1c2e6e9981.png)

Thanks for fixing this issue.

[2020-09-25 08:56] ojeytonwilliams commented on #39679
We do wait for the editor, but everything after that should be basically instantaneous.

Thanks for investigating that, but it should be fixed for Firefox 80 (https://github.com/cypress-io/cypress/issues/6187) and that's what we run the tests on.

Also, [this config](https://github.com/marketplace/actions/cypress-io#firefox) suggests we should be using ` options: --user 1001` which could be a fact

[2020-09-25 10:25] Ieahleen commented on #39633
there is no autocompletion in the editor, but if you think there is something going wrong with the editor features you can show a video or image or gif of the issue

[2020-09-25 12:49] SaintPeter commented on #39617
This is pretty reasonable. My only concern is that whatever we go with is documented in the user stories.

Something like:

[2020-09-25 13:37] raisedadead commented on #39685
Hmm looks like the CDN is erroneously picking up the Cloudflare Certificate at times than the one from netlify.

I have been unable to reproduce this, and going to rule this out as a temporary DNS cache issue?

Please re-open if it persists.

[2020-09-25 13:37] #39685 closed

[2020-09-25 13:39] raisedadead commented on #39671
Probably a CORS issue. Do you mind sharing a sample repo for me to reproduce this?

[2020-09-25 13:54] SaintPeter opened #39692 "Backend Project Tests - Sudoku Solver and Am/Brit Translator - Not possible to test from fCC side"
**Describe your problem and how to reproduce it:**
I have been working on #37185 (Add Tests for Backend Projects) as I've worked though the QA curriculum.  I have evaluated the user stories for the Sudoku Solver and American-British Translator and determined that it is not possible to create an FCC hosted test for these projects with any degree of coverage.

The problem is that these two projects

[2020-09-25 14:07] SaintPeter commented on #39692
An aside about the front-end projects and the "honor system".

I've been wondering if it would be possible to digitally "sign" the front-end tests in some meaningful way.  Since the code is hosted by fCC, it might be possible to dynamically generate it with a user-specific id.

Imagine this scenario:
When the script is fetched there is a GET parameter on the filename, maybe an e-mail address?
[cod

[2020-09-25 14:42] mplatt212 opened #39693 "25 + 5 Clock 'Not Reaching 00:00' Error"
Hi,

Here are two versions of the 25 + 5 clock challenge that I created.  One was made with Vanilla JS and the other in React.  Both of them fail about 6 or so tests that throw a 'Timer has not reached 00:00' error.  I'm just trying to figure out exactly what I'm missing because I can visually see the clock reach 00:00 on both of them.

https://codepen.io/mplatt212/pen/yLOGQwy?editors=0011

https:

[2020-09-25 15:03] RandellDawson commented on #39693
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-09-25 15:03] #39693 closed

[2020-09-25 15:44] Twaha-Rahman commented on #39679
The bug is fixed on Firefox but Cypress still manually triggers GC as it is said in the Cypress docs (also when you run the tests locally in Firefox, it'll show you a message about GC. This is because Cypress doesn't manually run GC on `open` but when it's run in CI using `run` then Cypress manually triggers GC).

I agree. I don't think this is the reason.

I couldn't reproduce the bug locally...

[2020-09-25 17:02] ojeytonwilliams commented on #39679
Right, but would this make a test fail?  If it runs between tests, which is the default, it should just make the whole run a bit slower.  If it's included in the timeout for a particular test, that would be a massive oversight.  My assumption is that the only timeout you might hit because of this is the limit for the entire run.

Sure.  I'll let @raisedadead decide when he wants to do this, though