[2021-02-18 17:12] JoshuaPelealu commented on #40915
I have tried doing every way possible to get an HTTP request but it all responded with the same exact string
`<a href="https://boilerplate-express-1.joshuapelealu.repl.co/json">Permanent Redirect</a>`

I took FCC's boilerplate express package and put it into my reply to test around with it.

I tried using the `http.get()` request:
[code]
Still the same result.

At some point I tried messing around

[2021-02-18 17:30] ShaunSHamilton opened #41174 "Refactor Project Links to Single Source"
Original Discussion: https://github.com/freeCodeCamp/freeCodeCamp/issues/41159

Some thoughts discussed on previous PRs and chat:

Validate example links are not submitted
- This would mean less maintenance for the project links (we could remove the tests that look for the example)
- Prevent Campers from submitting the CodePen boilerplate, and not saving their project code

Store project links wit

[2021-02-18 17:46] ieahleen commented on #41173
it may be less disruptive to people that use video hints to leave the video

I'm fine with either way

[2021-02-18 17:46] RandellDawson commented on #41173
I like allowing either `http` or `https`.

[2021-02-18 17:52] JoshuaPelealu commented on #41174
Here's another example using these challenge
- https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage.md
- https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-product-landing-page.md

[2021-02-18 18:08] master795 opened #41176 "инструмет"

[2021-02-18 18:08] #41176 closed

[2021-02-19 01:48] JoshuaPelealu commented on #41173
Leaving to allow either `http` or `https` is IMO better to avoid confusion in errors because even if you used `http` in your links, it will usually redirects into https if the target location have an SSL certificate.

[2021-02-19 04:22] scissorsneedfoodtoo commented on #41142
@ahmadabdolsaheb, the translation helper and file structure for Handlebars/Ghost is a bit more restrictive than what we're doing in the main repo. But I'm pretty sure we could separate things like the footer and donor links, along with some of the Algolia config strings into a separate config file or files.

We'll need to test it out to confirm, though.

[2021-02-19 05:42] M0hanad0 commented on #41135
Okay Thank you. @moT01 , @JoshuaPelealu I will try.

[2021-02-19 08:23] gikf commented on #40877
Method to prevent caching also was removed in `helmet 4.x`, but boilerplate uses `3.22.0` by default. I suppose as long as project isn't explicitly changed to use newer version it's okay.

[2021-02-19 11:46] ojeytonwilliams opened #41184 "i18n: translate validation warnings"
As mentioned on https://github.com/freeCodeCamp/freeCodeCamp/pull/41094 the project submission warnings need translating.

[2021-02-19 15:20] #41135 closed

[2021-02-19 15:54] manakwadhwa2002 commented on #41126
Instead of this we can automate the notification to go automatically once the nav bar button is clicked.

[2021-02-19 15:59] JoshuaPelealu commented on #41126
We do not want to remove the notification unless the user removes it by themselves...

[2021-02-19 16:09] nhcarrigan commented on #41173
Alright looks like I'm in the minority here 😅

So, this issue can be resolved with:

- add anchors to make sure that the link is exactly that with no extra stuff around
- remove the g tag which in this case is just useless
- add the possibility to have an http link pass, seeing that the video hint show that link (it shows an example https, and then it deletes the s)

[2021-02-19 16:10] nhcarrigan commented on #41173
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues with contribu

[2021-02-19 21:25] JoshuaPelealu commented on #40915
Should a temporary solution be used for this issue, until we find exactly why it's failing? This will mean that users can use the curriculum back while we try to fix the issue.

[2021-02-19 21:29] ShaunSHamilton commented on #40915
@JoshuaPelealu There is a temporary solution, just waiting to be QAed.

[2021-02-20 05:02] #41184 closed

[2021-02-20 06:34] #39398 closed

[2021-02-20 13:37] ieahleen opened #41192 "Hint in "tore Multiple Values in one Variable using JavaScript Arrays" is outdated"
**Describe your problem and how to reproduce it:**
the challenge contains

There is no example code in the editor

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/store-multiple-values-in-one-variable-using-javascript-arrays

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in

[2021-02-20 14:45] RandellDawson commented on #41192
Let's just remove the `Hint`.

[2021-02-20 15:15] RandellDawson opened #41193 "Need to remove or update image in the Move a Relatively Positioned Element with CSS Offsets challenge to remove English text"
The image `https://cdn-media-1.freecodecamp.org/imgr/eWWi3gZ.gif` in the [Move a Relatively Positioned Element with CSS Offsets](https://www.freecodecamp.org/learn/responsive-web-design/applied-visual-design/move-a-relatively-positioned-element-with-css-offsets) challenge has English text and can not be translated to other languages.  We need to either remove the image or change the image and be a

[2021-02-20 15:27] RandellDawson commented on #41192
I have opened this issue up for first timers to contribute.

[2021-02-20 15:32] CreaTorAlexander commented on #41192
First timers contributing to this repository or first timers in general?

[2021-02-20 15:32] Sembauke commented on #41192
![Knipsel](https://user-images.githubusercontent.com/46919888/108600706-f5bd9e00-7398-11eb-99d3-6c46f70e5583.PNG)

This is weird the sample code does exist on my view. Which broswer are you using?

[2021-02-20 15:33] nhcarrigan commented on #41192
@CreaTorAlexander First timers to this repository.

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freec

[2021-02-20 15:33] RandellDawson commented on #41192
To this repo.

[2021-02-20 15:33] nhcarrigan commented on #41192
@Sembauke That is an example in the challenge description - but the `hint` refers to a non-existent sample in the *editor* and should thus be removed.

[2021-02-20 15:35] CreaTorAlexander commented on #41192
Well, then I would like to work on it 👍

[2021-02-20 16:00] RandellDawson opened #41194 "Need to modify repl.it and Glitch submitted project links to reflect the source code view instead of working project view"
In [this recently merged PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/40950), if a user has submitted a project link, it will display the project's working view instead of the source code.  I am not so sure adding the solution links as is currently functioning is helping much.  See [this forum post](https://forum.freecodecamp.org/t/start-a-working-express-server-is-not-working/447404).  I

[2021-02-20 16:12] ShaunSHamilton commented on #41194
I was recently thinking about this, and just wondered how stable it would be to transform the Camper's URL into the project code URL.

If you think this is a decent feature to have, and worth it, then I am willing to throw something together. I will put out a POC, now.

---

Side Note: I have been looking into the `dedent` fiasco, as some lessons still cause the dents.

[2021-02-20 16:41] ieahleen commented on #41192
@CreaTorAlexander
issues are not assigned, the first comprehensive PR is reviewed

[2021-02-21 06:16] #41173 closed

[2021-02-21 09:25] ShaunSHamilton opened #41211 "react-i18next old method warning"
When developing the client, this warning appears:

[code]

Seeing as this has been recently adopted, I would not expect to see warnings about old methods.

[2021-02-21 11:40] ShaunSHamilton opened #41213 "(i18n): Potential Site Performance Improvements"
As _your average dev_, I spend a lot of my time with my devtools open. As _your un-average dev_, I read way too much minified JS, which is why I stumbled upon the freeCodeCamp sourcemap.

I notice it ships with all languages included. Perhaps this does not create as large a performance impact as I think, but once we add more languages, surely it might?

I assume linking to the file like this does

[2021-02-21 20:36] #41192 closed

[2021-02-21 21:47] lasjorg commented on #41193
Other than the word "offset" the `top`, `right`, `bottom`, and `left` are property names. That is what they are called, that is how you set them, no matter what language you speak.

Personally, I don't really see much of an issue with the gif, although I'm not sure it's needed either.

[2021-02-21 21:54] RandellDawson commented on #41193
The issue is we can not translate the words of the gif unless we make a separate gif for each language that we plan on having a curriculum.

[2021-02-21 21:55] lasjorg commented on #41096
As this was fixed, I will close the issue.

[2021-02-21 21:55] #41096 closed

[2021-02-21 22:04] lasjorg commented on #41132
Just an FYI, I mentioned this long ago https://github.com/freeCodeCamp/freeCodeCamp/issues/35642

But at the time some people were against letting the test accept both protocols.

[2021-02-21 22:06] RandellDawson commented on #39537
@raisedadead I think we can close this issue now that all the translations are performed on Crowdin and we have the various QA checks in place to warn about code block differences and other changes that occur in the English source for these files.  The original intent of the issue was to have PRs created to fix any discrepancies.  Some were created before we started really using Crowdin, but none

[2021-02-21 22:07] RandellDawson commented on #40463
@raisedadead I think we can close this issue now that all the translations are performed on Crowdin and we have the various QA checks in place to warn about code block differences and other changes that occur in the English source for these files.  The original intent of the issue was to have PRs created to fix any discrepancies.  Some were created before we started really using Crowdin, but none

[2021-02-21 22:07] RandellDawson commented on #40480
@raisedadead I think we can close this issue now that all the translations are performed on Crowdin and we have the various QA checks in place to warn about code block differences and other changes that occur in the English source for these files.  The original intent of the issue was to have PRs created to fix any discrepancies.  Some were created before we started really using Crowdin, but none

[2021-02-21 22:07] RandellDawson commented on #40482
@raisedadead I think we can close this issue now that all the translations are performed on Crowdin and we have the various QA checks in place to warn about code block differences and other changes that occur in the English source for these files.  The original intent of the issue was to have PRs created to fix any discrepancies.  Some were created before we started really using Crowdin, but none

[2021-02-21 22:07] RandellDawson commented on #40486
@raisedadead I think we can close this issue now that all the translations are performed on Crowdin and we have the various QA checks in place to warn about code block differences and other changes that occur in the English source for these files.  The original intent of the issue was to have PRs created to fix any discrepancies.  Some were created before we started really using Crowdin, but none

[2021-02-21 22:07] RandellDawson commented on #40485
@raisedadead I think we can close this issue now that all the translations are performed on Crowdin and we have the various QA checks in place to warn about code block differences and other changes that occur in the English source for these files.  The original intent of the issue was to have PRs created to fix any discrepancies.  Some were created before we started really using Crowdin, but none

[2021-02-21 22:07] RandellDawson commented on #40484
@raisedadead I think we can close this issue now that all the translations are performed on Crowdin and we have the various QA checks in place to warn about code block differences and other changes that occur in the English source for these files.  The original intent of the issue was to have PRs created to fix any discrepancies.  Some were created before we started really using Crowdin, but none

[2021-02-21 22:08] RandellDawson commented on #40483
@raisedadead I think we can close this issue now that all the translations are performed on Crowdin and we have the various QA checks in place to warn about code block differences and other changes that occur in the English source for these files.  The original intent of the issue was to have PRs created to fix any discrepancies.  Some were created before we started really using Crowdin, but none

[2021-02-21 22:09] RandellDawson commented on #40372
@ahmadabdolsaheb @ojeytonwilliams Is this still an issue?

[2021-02-21 22:09] lasjorg commented on #41193
I understand that, I was just saying that the only word that would need translation is "offset", the other words are property names. Also, IMHO English is the "Latin" of web development, you can't avoid it altogether.

[2021-02-21 22:10] RandellDawson commented on #36829
@raisedadead I believe this can be close since @nhcarrigan created all of the documentation around translating and proofreading via Crowdin.

[2021-02-21 22:11] RandellDawson commented on #40600
@moT01 @nhcarrigan Is this still an issue?

[2021-02-21 22:13] RandellDawson commented on #41132
@lasjorg Good point.  My opinions since I wrote that comment have changed since working on the project-based curriculum.

[2021-02-21 22:59] nhcarrigan commented on #40600
Probably wouldn't hurt to run the script again and get a new list.

[2021-02-22 03:42] #40483 closed

[2021-02-22 03:42] #40484 closed

[2021-02-22 03:42] #40485 closed

[2021-02-22 03:42] #40486 closed

[2021-02-22 03:42] #40482 closed

[2021-02-22 03:42] #40480 closed

[2021-02-22 03:43] #40463 closed

[2021-02-22 03:43] #39537 closed

[2021-02-22 03:43] #36829 closed

[2021-02-22 07:00] bobbysingh2005 commented on #41211
i got same error

[2021-02-22 08:58] ojeytonwilliams commented on #40372
@RandellDawson it hasn't been addressed yet - both the Chinese and Spanish forums link back to freecodecamp.org/learn

[2021-02-22 10:08] ieahleen commented on #41125
there is also this, can be addressed here or better a new issue?
https://forum.freecodecamp.org/t/the-responsive-webdesign-certificate-is-not-responsive/447635

[2021-02-22 10:12] #41126 closed

[2021-02-22 11:29] #41125 closed

[2021-02-22 15:05] nhcarrigan commented on #40600
@RandellDawson I re-ran the validator and filtered out the false positives from the `intro` object (because some titles use dynamically generated keys).

Most of the flash messages I *think* are also dynamically generated keys, so currently the only real concern is the missing `social-description` key.

[2021-02-22 17:32] paulyoyo commented on #41211
I have the same

[2021-02-22 18:08] dsachin commented on #41171
I think removing the message should be opted, as we do have the option to make the certificate public/private

[2021-02-22 19:22] errmayank commented on #41155
@moT01 Do the translation first needs to be done on [Crowdin](https://freecodecamp.crowdin.com/learn-ui) and after that make necessary changes to `ShowProjectLinks`?

[2021-02-22 19:51] moT01 commented on #41171
I'm quite certain that anytime a certification is public, the projects submitted to complete it should be visible at the bottom.

I vote for `#1`, remove the message and make the projects persistent.

[2021-02-22 19:54] moT01 commented on #41155
I don't believe so - you can add the keys to the JSON files for all the languages and use English values for now. Then, changes the component so it uses those keys. After that, the next time the files are uploaded to crowdin, they will contain the new strings so they can be translated.

[2021-02-22 20:09] ShaunSHamilton commented on #41171
As an aside: Should it be possible to un-publicise certificates? That is, should it be possible to set profile/certifications private after claiming a cert?

[2021-02-22 20:25] RandellDawson commented on #41155
Yes.

[2021-02-22 21:06] moT01 commented on #41171
I think that's fine @ShaunSHamilton, but others can certainly weigh in. What would happen then if you set your whole profile to private - the certs stay public? I think it's nice for users to be able to make public or private what they choose to.

[2021-02-22 21:14] nhcarrigan opened #41228 "i18n docs do not render images"
![image](https://user-images.githubusercontent.com/63889819/108770834-abaaf880-750f-11eb-9e8c-0cf8cc1504a9.png)

Our local images currently do not render in the translated documentation views. This is due to the use of a relative link, which breaks with the new path generated for i18n pages.

A couple of potential fixes:
- Use an absolute link (https://contribute.freecodecamp.org/images/<filename>

[2021-02-22 21:17] ShaunSHamilton commented on #41171
![image](https://user-images.githubusercontent.com/51722130/108771184-35c88080-7553-11eb-8138-701a8ff071c1.png)

This is what happens, when I set Certifications to private, and try to view a cert.

[2021-02-22 21:59] RaulitoEC commented on #41211
I'm not associated with this project, but I stumbled upon this post while trying to fix this problem for myself. I was able to get rid of this warning by adding { useSuspense : true } to the react object in the i18n configuration. Here is the link to the docs for more info, I hope it helps. https://react.i18next.com/latest/i18next-instance

[2021-02-22 22:24] pap0135 opened #41229 "Continued from discussion on linked issue..."
Continued from discussion on linked issue...

I think we would be fine to just remove the message next to the setting.

_Originally posted by @moT01 in https://github.com/freeCodeCamp/freeCodeCamp/issues/41171#issuecomment-781425956_

[2021-02-22 22:50] nhcarrigan commented on #41229
Hey there,

We are going to close this issue in favour of the linked discussion. Please keep all discussion on the relevant issue for visibility and ease of communication.

If you feel there is a separate topic that needs to be discussed in this issue, feel free to provide the relevant information and request we reopen this issue.

[2021-02-22 22:50] #41229 closed

[2021-02-23 04:26] raisedadead commented on #41228
We should use the `https://contribute.freecodecamp.org/images` absolute path.

[2021-02-23 04:27] nhcarrigan commented on #41228
Sounds good. I'll get a PR up shortly.

[2021-02-23 05:17] #41228 closed

[2021-02-23 10:23] scissorsneedfoodtoo commented on #40718
Late update -- I wrote on the Ghost forums about our issue here: https://forum.ghost.org/t/scheduled-post-permission-error/19957

[2021-02-23 15:02] #41171 closed

[2021-02-23 15:05] moT01 commented on #41171
The merged PR to fix this issue hides the message. If I make my timeline private, either locally or on .dev, the projects are shown on the cert - so I'm not sure if that second part of @nhcarrigan's `#1` solution is still a problem. If it turns out to be, we should make another issue for it.

[2021-02-23 18:26] studio1202 opened #41236 "JavaScript QA projects cannot retrieve source files"
The [JavaScript QA projects ](https://www.freecodecamp.org/learn/quality-assurance/#quality-assurance-projects) contain some (apparently unused) routes to fetch source code files in file [fcctesting.js](https://github.com/freeCodeCamp/boilerplate-project-metricimpconverter/blob/gomix/routes/fcctesting.js) .

Those routes do not appear to work, because they search files as if the source file was lo

[2021-02-23 18:35] studio1202 opened #41237 "JavaScript QA projects do not print the listening port if it is not specified"
The [JavaScript QA projects ](https://www.freecodecamp.org/learn/quality-assurance/#quality-assurance-projects) print the server port number in file [server.js](https://github.com/freeCodeCamp/boilerplate-project-library/blob/gomix/server.js).

The port number is only printed when the user specifies it as environment variable. In the other cases the server prints `undefined`. As a consequence the

[2021-02-23 18:41] studio1202 opened #41238 "JavaScript QA projects print "undefined" when FCC test is run"
The [JavaScript QA projects ](https://www.freecodecamp.org/learn/quality-assurance/#quality-assurance-projects) print "undefined" to the console when FCC fetches the results of local tests from routes defined in file [fcctesting.js](https://github.com/freeCodeCamp/boilerplate-project-metricimpconverter/blob/gomix/routes/fcctesting.js)

There is no practical consequence, but it would be more approp

[2021-02-23 19:39] ojeytonwilliams commented on #41213
I could be wrong, but I don't believe sourcemaps get loaded until you open the console.  If someone could confirm that's the case, I think they're worth keeping.

[2021-02-23 21:06] emiquelito opened #41240 "An easy way for freeCodeCamp contributors to quickly deploy & preview backend+frontend changes for each PR"
**Is your feature request related to a problem? Please describe.**

freeCodeCamp contributors, students and developers are currently not able to quickly deploy & preview backend+frontend changes for each PR.

**Describe the solution you'd like**

Hello freeCodeCamp Community!

I'm with [Squash.io](https://www.squash.io/) and we wanted to support freeCodeCamp by providing on-demand test environment

[2021-02-23 21:16] ieahleen commented on #41240
we already have GitPod, what does your software has that GitPod doesn't?

[2021-02-23 22:20] RandellDawson commented on #41213
@ojeytonwilliams I believe you are correct.

[2021-02-23 22:25] ShaunSHamilton commented on #41213
Ah. Yes, I see... well, then ignore me 😄
Thank you, both, for pointing that out.

[2021-02-23 22:25] #41213 closed

[2021-02-24 16:27] gikf opened #41247 "Rosetta Code: Cut a Rectangle - svg image impacted by svg in navbar"
**Describe your problem and how to reproduce it:**
SVG image in the challenge description is affected by SVG logo in navbar. They share some element `id`s, what results in malformed image in description.

Changing `id`s to make them not overlap should deal with the issue. The simplest way seems to be, to change one of the images (probably one in the challenge), for example by adding unique prefix

[2021-02-24 18:12] raisedadead commented on #41240
Hi @emiquelito

Thanks for taking the time to open this PR. I went ahead and looked at bunch of other PRs on the other open-source repositories for this product.

Ref: https://github.com/joomla/joomla-cms/issues/32495, https://github.com/odoo/odoo/issues/66644, https://github.com/guardian/grid/issues/3181, https://github.com/gohugoio/hugo/issues/8275

We encourage meaningful contributions to our r

[2021-02-24 18:12] #41240 closed

[2021-02-24 19:54] emiquelito commented on #41240
@raisedadead and @ieahleen thanks for raising your concerns. Squash is different than "Development Environments" in the sense that we are not focused on the collaboration of the actual code per see, our focus is to allow users to test the end product from unique end points, including end points for microservices (seeding data into test environments, dependencies, etc). I could go in greater detail

[2021-02-24 20:40] raisedadead commented on #41240
Yup, we understand.

However, my research so far gives me the impression that these are templated threads (akin to cold emails), thereby lacking the efforts put in to what a project like ours needs.

That is the sole reason for closure of this issue. Some research about the pain-points of our contributors and maintainers would have helped us evaluate the product better.

And we have been able to p

[2021-02-25 04:23] fuzzyray commented on #39332
I hit this same error, but with a different version of matplotlib.

I cloned the boilerplate project from github to my local machine, ran `poetry install` and implemented the project.

Running the tests showed the exact same error. The version of matplotlib installed by poetry was 3.1.2 and the seaborn version was 0.9.0

I then created a different virtual environment using pipenv with `pipenv inst

[2021-02-25 07:05] ahmadabdolsaheb opened #41255 "Coderadio does not play on mobile chrome and mobile safari on IOS"
Some users are experiencing issues playing coderadio on mobile safari and mobile chrome on IOS.

This issue aims to document its reproducibility and provide a solution.

[2021-02-25 07:56] ahmadabdolsaheb commented on #41255
I have not been able to reproduce this on:
IOS: 14.4, chrome: 870.0.4280, firefox 31.0

[2021-02-25 08:27] ahmadabdolsaheb commented on #41081
We currently have a rocket chat server that we could integrate into our coderadio using an iframe. That way we could use user inputs from chat to alter the playlist if necessary.

[2021-02-25 09:12] miyaliu666 opened #41256 "Hint links in Chinese curriculum"
**Describe the bug**
The hint links jump to the Chinese forum and show nothing now.

**Expected behavior**
They should fall back to the English counterparts.

[2021-02-25 11:08] gikf commented on #39332
Hm, seems this was changed in the boilerplate to follow expected value from newer version https://github.com/freeCodeCamp/boilerplate-medical-data-visualizer/pull/5, hence the error appearing on older matplotlib.

No need to keep this open then.

[2021-02-25 11:08] #39332 closed

[2021-02-25 13:12] moT01 commented on #41083
Closed with the linked PR

[2021-02-25 13:12] #41083 closed

[2021-02-25 14:24] ojeytonwilliams opened #41261 "Move from lerna to npm 7 workspaces"
**Is your feature request related to a problem? Please describe.**
With npm 7 we can use [workspaces](https://docs.npmjs.com/cli/v7/using-npm/workspaces) to manage sub-packages.

**Describe the solution you'd like**
Since we have to use a package manager, but may not have to use lerna it would be nice to reduce the number of dependencies. Assuming that workspaces can meet our needs.

**Describe al

[2021-02-25 14:27] nhcarrigan commented on #41261
Linking #41210 - `lockfileversion 2` rolled out in `npm` v7.

[2021-02-25 19:04] raisedadead commented on #41261
I was wondering if its better we explored the workspaces instead of https://github.com/freeCodeCamp/freeCodeCamp/pull/41210? Would it make sense to wait and kill two birds at the same time if this pans out well?

[2021-02-25 19:19] ojeytonwilliams commented on #41261
Well, the justification for that PR is supporting npm 6. If we use workspaces, we can just make npm 7 a requirement. So, sure, I can look into workspaces.

[2021-02-25 19:25] raisedadead commented on #41261
Yeah, that would be ideal actually.

[2021-02-25 19:27] nhcarrigan commented on #41261
Has anyone tested `npm` 7 on `node` 12?

I've been using `node` 14, myself, to see if there are any conflicts with our codebase.

[2021-02-25 20:15] nhcarrigan opened #41264 "Crowdin Glossary Feature"
Crowdin offers a glossary feature for defining source-language (english) terms and mapping the desired translation for those terms. Our translation contributors have begun utilising this feature, but it seems that our translation mapping does not impact the suggested Machine Translations that Crowdin offers in the UI.

As such, a couple of things to consider:

- Can we implement a custom QA check

[2021-02-25 20:50] nhcarrigan opened #41265 "Project-Based Curriculum Prototypes"
As discussed in today's contributor meeting, we are looking to build prototype projects for our new curriculum. Each project will introduce a pre-defined list of concepts (i.e. CSS `text-align` or HTML `<div>`) and will be limited in scope to those concepts and any previously-covered concepts.

We are looking for contributors who would be willing to build a prototype - if you are interested in con

[2021-02-25 20:59] Sembauke commented on #41265
I woud like to help. But first I want to know what I am getting into.

[2021-02-26 00:03] kelvinsanchez15 opened #41266 "'help us translate' badge link is breaking the layout on mobile/smaller screens"
**Describe the bug**
The link to the i18n contribution docs is breaking the layout on mobile/smaller screens.

**To Reproduce**
Steps to reproduce the behavior (Try this on a mobile device or change your window viewport to a smaller one):
1. Go to https://www.freecodecamp.org/espanol/learn/javascript-algorithms-and-data-structures/
2. Scroll down to 'Cursos'
3. See how 'Ayúdanos a traducir' link i

[2021-02-26 03:58] RobertoCastaneda3500 opened #41267 "Applied Accessibility"
I have an issue with div tags. I am not able to fully complete the following challenges: Make Screen Reader Navigation Easier with the header Landmark and Camper Cat included navigation links at the top of his training page, but wrapped them in a div. Change the div to a nav tag to improve the accessibility on his page. I get that "Your code should not have any div tags" is still wrong when div ta

[2021-02-26 04:31] saugatdhimal opened #41268 "Links inside Stock Price Checker not opening"
Problem in Stock Price Checker Project.
These two sites are not opening =         https://stock-price-checker.freecodecamp.rocks/.      and       https://stock-price-checker-proxy.freecodecamp.rocks/.

[2021-02-26 05:47] #41211 closed

[2021-02-26 07:38] saugatdhimal commented on #41268
I think i found the  answer:  IT IS :-    https://stock-price-checker.freecodecamp.repl.co  and https://stock-price-checker-proxy.freecodecamp.repl.co    not the links mentioned above

[2021-02-26 07:48] ahmadabdolsaheb commented on #41266
Thanks for reporting this issue:

An easy way to tackle this would be to remove the `no-wrap` to add the followings:

[code]
[code]

[2021-02-26 08:01] boringow opened #41269 "Bug on Challenge: Create Visual Direction by Fading an Element from Left to Right. From the first module."
**Describe your problem and how to reproduce it:**
This problem is a small but specific problem on the challenge Create Visual Direction by Fading an Element from Left to Right.
Where the "left: 50%;" property of the @keyframes class has to be changed to 60%.

The solution is just to put 60%, but it should accept the default 50% as well, as you are only changing the opacity.

**Add a Link to the p

[2021-02-26 10:36] #41268 closed

[2021-02-26 11:06] ShaunSHamilton commented on #41269
Hello there,

Thank you, for taking the time to open this. For future reference, we recommend you open a topic on the forum first, and, once something is determined to be an issue there, then open the relevant issue here on the repo.

Reason being, there is no issue here. I suggest you reset your code, and see that the starter code is:
![image](https://user-images.githubusercontent.com/51722130/10

[2021-02-26 11:06] #41269 closed

[2021-02-26 11:10] ShaunSHamilton commented on #41267
Hello there,

In general, I recommend you open an issue like this on the [forum](https://forum.freecodecamp.org/), as this is not an issue with the code base.

The easiest way to open an issue on the forum is to use the _Ask for Help_ button located on the specific challenge you are struggling with. This will create a pre-populated post with your current code, and give you the opportunity to fill

[2021-02-26 11:10] #41267 closed

[2021-02-26 11:20] ojeytonwilliams commented on #41261
I've tested `npm 7` with `node 12` and it seems fine.

As for workspaces, I've spent an hour tinkering with them and I don't think they do what we want, yet.  Since the api is going to be deployed independently, it needs its own `package-lock.json` that's a) self-contained and b) what we use in dev, CI etc.

That doesn't seem possible with workspaces.  Instead of creating individual locks for each

[2021-02-26 12:30] gikf opened #41271 "Improper link text in the breadcrumb-right, on challenge/project pages not using editor"
**Describe your problem and how to reproduce it:**
In the challenges/projects that don't use editor, link text at the top in the `breadcrumb-right` contain some additional text, for example `responsive-web-design.blocks.Responsive Web Design Projects.title`

Challenges that have editor on page don't seem to have this problem.

**Add a Link to the page with the problem:**
https://www.freecodecamp.o

[2021-02-26 14:40] PatrickAlphaC opened #41272 "Solidity and Smart Contract curriculum"
**Is your feature request related to a problem? Please describe.**
As more and more engineers enter the solidity/smart contract/blockchain space, having a go-to place would be a welcome need for the community. I'd love to add a smart contract section to freecodecamp.

**Describe the solution you'd like**
A solidity curriculum which incorporates:

1. Introduction to blockchain
2. Solidity core conc

[2021-02-26 15:49] nhcarrigan opened #41273 "Forum Theme Changes"
Discourse rolled out an update which included a small breaking change for our forum theme. The "This topic will close in 6 months" message box is visible at the bottom of each topic again.

This was originally fixed in our theme here:

https://github.com/freeCodeCamp/forum-theme/blob/afa902f64dc79db95304b21beb8b9a92f5b5fcbb/common/common.scss#L727-L729

The CSS selector for this rule needs to be c

[2021-02-26 16:02] ieahleen commented on #41272
I don't know if it's something for the interactive curriculum, but it can be for the YouTube channel or news publication

The intended path for the curriculum is this one:
https://www.freecodecamp.org/news/building-a-data-science-curriculum-with-advanced-math-and-machine-learning/

for news publication you can read here:
https://www.freecodecamp.org/news/developer-news-style-guide/

for youtube re

[2021-02-26 16:12] PatrickAlphaC commented on #41272
Thanks for responding!

Why not the interactive curriculum? And how do we contribute to the publication? I don't see a way to contribute.

I'll reach out for youtube :D

[2021-02-26 16:19] ieahleen commented on #41272
at the time the plan is the one I linked above

the link is in the article, it also explain what is expected from an article to be accepted. Note you need three articles to show in your application.

[2021-02-26 16:42] PatrickAlphaC commented on #41272
Ah found it! Will close this.

Didn't realize that curriculum building was synchronous instead of async. Thank you!

[2021-02-26 16:42] #41272 closed

[2021-02-26 20:48] Ismailtlem commented on #41255
I also was not able to reproduce this bug on chrome v 88.0.4324.181 on an android device

[2021-02-26 21:08] #41271 closed

[2021-02-26 21:13] Ismailtlem commented on #41071
I am not sure that this issue is still present
![Screenshot (1232)](https://user-images.githubusercontent.com/34961373/109355700-e13d4200-787f-11eb-8a4b-5d13501a76ca.png)

[2021-02-26 21:16] nhcarrigan opened #41277 "Add tests for breadcrumbs"
Ref: https://github.com/freeCodeCamp/freeCodeCamp/pull/41276#pullrequestreview-599942709

We should build out some tests to assert that the breadcrumbs are rendering correctly and have the expected text content.

[2021-02-26 22:59] ShaunSHamilton commented on #39521
Well, it has happened: https://forum.freecodecamp.org/t/authentication-with-socket-io-connect-mongo/448306

Last versions which definitely work:
[code]

I have tested this. Now, discussion:
1) Just ask for `mongo-connect@3` to be installed
2) Also change the lesson/code to work with this latest version?

[2021-02-27 00:44] comradekingu commented on #40627
Aren't all Crowdin bugs beyond the limits of your control in that it doesn't offer up its source code? It seems rather a puzzling choice for a code camp, and helping people transition into tech. Non-free and tech-dependency?

[2021-02-27 02:19] JoshuaPelealu commented on #41265
I would be interested to help :)

[2021-02-27 10:54] huyenltnguyen commented on #41071
@Ismailtlem Could you help check with the player being played? That's when the image appears. I'm currently on a different machine with a different screen resolution, but can reproduce the issue with zoom level being 150%.

[2021-02-27 15:09] Ismailtlem commented on #41071
It's quite a strange bug. I succeeded to reproduce the issue on ubuntu on a zoom level 133%
![Uploading Screenshot (1233).png…]()

[2021-02-27 20:11] RandellDawson commented on #40627
@comradekingu This issue is a tracker being followed by Crowdin as they work to fix the bugs we have outlined here.  The fixes for these bugs will help their platform as well as us.

[2021-02-27 22:01] mgb2504 commented on #14784
How do you disable understyle extensions? Google just tells me how to disable plugins.

[2021-02-27 22:32] RandellDawson commented on #14784
Please use [our forum](https://www.freecodecamp.org/forum) for general coding questions. GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2021-02-28 01:34] Ne0nWinds commented on #41136
I can reproduce this error, as well.
So the [official solution](https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-create-a-hash-table/301627) works correctly. They use objects instead of an array of arrays like your code (This is probably why your solution fails).

Nonetheless, I copied the official solution and replaced the remove function with this one and the test still passes!
[cod

[2021-02-28 03:03] scissorsneedfoodtoo commented on #41142
Just deployed https://github.com/freeCodeCamp/news-theme/pull/50 to all News sites. Will mark this as closed.

[2021-02-28 03:03] #41142 closed

[2021-02-28 06:00] scissorsneedfoodtoo commented on #41127
Thanks again for your quick fix, @JoshuaPelealu, and for reporting this @trifonas-hash.

I talked this over with @beaucarnes and we decided that it's not necessary to replace the broken link. The current links should be enough for learners to get started with Colaboratory. Also, the broken link was probably a video walkthrough of the content in the second link in those challenges, [How to open Not

[2021-02-28 06:00] #41127 closed

[2021-03-01 08:00] ahmadabdolsaheb commented on #41071
Same here on macbook chrome 125%

[2021-03-01 11:00] saugatdhimal opened #41321 "Anonymous Message Board, This Test Passes without actually passing it. Passes even with #NODE_ENV=test."
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2021-03-01 11:16] ClockworkOrange605 commented on #41265
Want to participate.

And by the way, it feels strange that JavaScript path, and event part about Object Oriented Programming doesn't explain how to use `class` keyword. Maybe you need to cover this concept in your new curriculum.

[2021-03-01 11:44] tianheg opened #41322 "Chinese chat can't access to members-list"
**Describe the bug**
When access this [url](https://chat.freecodecamp.org/channel/zhongwen/members-list), it displays nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '`https://chat.freecodecamp.org/channel/zhongwen/`'
2. Click on 'members-list'
3. See error

**Expected behavior**
Just display the members-list

**Screenshots**
<img width="950" alt="fcc" src="https://user-images

[2021-03-01 12:22] JoshuaPelealu commented on #41273
I can do a longer term fix where the CSS will target an element that has text of `This topic will close 6 months after the last reply.`

[2021-03-01 13:34] ShaunSHamilton commented on #41321
Hello there,

Thank you, for taking the time to open this. However, this is expected behaviour: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/09-information-security/information-security-projects/anonymous-message-board.md

The tests have not all be written, yet. And are awaiting contribution to write them. I will point you to this thread, where this is discu

[2021-03-01 13:34] #41321 closed

[2021-03-01 13:40] ShaunSHamilton opened #41323 "Anonymous Message Board Project Tests"
Currently, the [AMB Project](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/09-information-security/information-security-projects/anonymous-message-board.md) has no tests for most of the user-stories.

Discussion can be had within this issue about adding/changing/removing current user-stories. A PR does not need to cover every user-story, but try not to open a

[2021-03-01 13:48] nhcarrigan commented on #41322
Hey @tianheg thank you for reporting this. I am unable to reproduce this on my end. Could you confirm a couple of things for me:

Are you using the browser to access chat? Or are you using the desktop app? Have you tried a hard-refresh?

[2021-03-01 14:39] Sembauke commented on #41323
How would I get started writing test for this project?

[2021-03-01 14:43] ojeytonwilliams opened #41324 "Translate contribute docs alerts"
`docsify-plugin-flexible-alerts` lets us customise the alert labels, depending on the path.  This allows us to display hints in the appropriate language.

To use this, we'd need translations for each note (note, tip, warning and attention) and then we can configure the plugin.  Since we're translating into many languages, it might be best to handle this translation through Crowdin, even though it'

[2021-03-01 14:47] nhcarrigan opened #41325 "SolutionForm Validation Error"
I discussed this with Shaun a bit, but creating an issue so it is not lost in the shuffle.

With the added validation for the backend project submission, if I try to submit the example project I get a notice that I should submit my own work:

![image](https://user-images.githubusercontent.com/63889819/109513221-b9093b00-7a59-11eb-88be-71ce7e2238b9.png)

If I submit this anyway, the tests will run

[2021-03-01 14:47] #41155 closed

[2021-03-01 14:49] nhcarrigan commented on #41324
So looking at the docs, if we add this we would need to upload the `index.html` file to Crowdin to be able to translate there.

Would it be better to use the "global" setting they offer:

[code]

[2021-03-01 14:55] nhcarrigan commented on #41324
I'll play with this today. Maybe I can create a JSON file and hot-load it in to the HTML so we don't have to mess with the HTML on Crowdin. 🤔

[2021-03-01 15:02] tianheg commented on #41322
I'm using the browser to access chat. I am unable to reproduce it, too @nhcarrigan 😂

[2021-03-01 15:10] ShaunSHamilton commented on #41323
@Sembauke , If you have not already, best to read the contributors docs linked above. in terms of writing the tests:
- Have a look at the tests written for other backend projects
- Run fCC locally, and play around with the tests
- Play around with your solution to the project

At the end of the day, some tests may need to be removed/changed, as we have tried to keep a near parity between the unit/

[2021-03-01 16:22] ojeytonwilliams commented on #41324
I was vaguely thinking we could have `/locales/en.json` etc and then use those to build the `index.html` from a template.  That way it's as static as possible.

[2021-03-01 17:38] ojeytonwilliams commented on #41324
For visibility: Nick and I talked about it a bit and he convinced me that Crowdin's probably overkill for this, even if there are many different languages.  The simplest approach is just to edit the config by hand.

[2021-03-01 18:05] karuppiah7890 opened #41328 "Suggestion for a project: Record and replay user typing text"
**Is your feature request related to a problem? Please describe.**
This is a suggestion for a front end project. The idea is to have a web app which has an input box / text editor where a user can type and the app records what the user types, similar to recording a video. The app then allows you to download the recording and then play it later and see the user typing text similar to playing a vide

[2021-03-01 22:39] tomjbradley opened #41330 "On the certifications pages change the text that says expand/collapse courses to expand/collapse lessons"
Currently when you go to a page for a certification such as [the responsive web design page.
](https://www.freecodecamp.org/learn/responsive-web-design/) for each course there is an accordion dropdown which says **"expand/collapse courses"**.

I'm suggesting that it should say expand/collapse lessons instead as I consider the content in the accordion to be more like lessons than courses.

It could

[2021-03-02 01:30] moT01 commented on #41159
This seems pretty related https://github.com/freeCodeCamp/freeCodeCamp/pull/41162#issuecomment-784330415. Want to add it to the list @ShaunSHamilton? Or let me know if it feels like a separate issue and I'll make another one.

I suppose the test would be to require `https` submissions.

[2021-03-02 02:25] HBDanks commented on #41330
This sounds like a great clarification. Would you mind if I worked on it?

[2021-03-02 02:50] RandellDawson commented on #41159
What if someone wants to use `http://localhost` to work through the challenges?

[2021-03-02 10:44] gikf commented on #41322
This seems to happen when somebody is not in that certain channel  - didn't press the `Join` button.

It applies to other channels too. After opening members list after few seconds chat for that channel ends up blank, and page needs to be reloaded to be able to see chat (other channels displays normally).

[2021-03-02 10:54] ShaunSHamilton commented on #41159
I have a PR open now, that touches this side of the client. So, I will dig into adding this, and see about what @RandellDawson has mentioned about going through the non-projects with `localhost` links.

I will probably make some logic to differentiate what happens to the submission validation, based on the challenge being project or not.

[2021-03-02 11:10] tianheg commented on #41322
@gikf Yes, what you said just same with my condition. I didn't click `Join`

[2021-03-02 11:49] Sembauke commented on #41323
Thank you.. but where would I find the current test for the backend project. Can't find them anywhere,

[2021-03-02 12:06] ShaunSHamilton commented on #41323
@Sembauke The tests are stored in the `--hints--` section of the Markdown (`.md`) files. The `.md` file for this project is linked in the original post.

[2021-03-02 13:21] tomjbradley commented on #41330
Hey @raisedadead I saw you closed this PR #41331 and said this issue might be closed too, could you explain why?

[2021-03-02 15:28] moT01 commented on #40896
Thanks for working on these @gikf & @Ne0nWinds. I had a thought as I was reviewing one of these - perhaps we should include one test on each challenge with a random input so users can't see all the values that are being tested. The text might be `function(n) should return the correct value` and the test would check a value different from the other tests. This would be to help deter the problem des

[2021-03-02 15:32] raisedadead commented on #41330
I have reached out to @QuincyLarson to get this clarified, thanks for your patience.

[2021-03-02 16:19] raisedadead commented on #41322
Not sure if we can do much about this until rocket chat adds a saner reload or something. I think we can close this for now?

[2021-03-02 16:25] nhcarrigan commented on #41322
Yep - I think this one is out of our hands.

[2021-03-02 16:25] #41322 closed

[2021-03-02 16:48] gideonjeffrey commented on #39243
I have an individual issue with one of the assertAlmostEquals calls, documented below.

One of the project requirements is to produce a Pandas series containing names of races in the dataset and a count of individuals in the dataset for each race. The prompt and my line of code are below:

[code]

The test module code creates a list from the resultant series and compares to a list of the expected

[2021-03-02 17:20] QuincyLarson commented on #41330
@tomjbradley @HBDanks This is a good observation. We changed the word from "lessons" to "courses" for 2 reasons:
1. Courses sounds more substantial
2. The word "courses" is much, much more frequently searched on Google than "lessons". And one of the reasons we updated the design of these pages was to make them more useful to people arriving from Google.

<img width="1629" alt="_programming_courses

[2021-03-02 18:05] gikf commented on #40896
I don't really know. As much as that would make a bit harder for somebody wanting just use results to fool tests, it won't stop from reading challenge code. Looking at the other side there's also possibility of somebody sincere being affected by it, if for some reason *hidden* test would hit some edge case. With solution that's matching *visible* tests that might be rare, but still possible.

[2021-03-02 18:50] Ne0nWinds commented on #40896
@moT01 I was actually thinking the same thing! I can add it to my PR when I get a chance

[2021-03-02 19:01] Ne0nWinds commented on #40896
@moT01 To add on to what @gikf said, for problem 461, I had a solution that was correct for low numbers, but got less accurate with high numbers. This would've been really confusing if the hidden test case was a higher number than the visible ones. I do like this idea, though. I think it would be better if one or two test cases were slightly randomized (but still visible). I'm not sure how we'd ac

[2021-03-02 20:17] tomjbradley commented on #41330
Though I'm not an expert I do understand the SEO concerns, but it still seems a tiny bit misleading, after all they're shorter form lessons so they're not that substantial and although it seems unlikely, I could see this confusing people.

Wouldn't it maybe be better to mention courses on [the curriculum page](https://www.freecodecamp.org/learn) like so:
![curriculum-page-with-changes](https://use

[2021-03-02 20:23] moT01 commented on #40896
Thanks for the input. I feel like we should come to a consensus on it so we can be consistent moving forward. I could go either way. The safe play is probably to just not include a test like this, but I do like the idea - so I'm torn.

As for actually randomizing the test - we could randomize the test, but the text can only be static. So there would be the same concern there.

[2021-03-02 20:31] nhcarrigan commented on #40896
I'm personally not a fan of "hiding" the test input/output, and here's why:

- First, it makes debugging more streamlined if a camper can see the input and expected result, vs having to jump through hoops to figure that out
- Second, it makes things smoother to catch if we have a bug in our test case - "Your test expects the value of 25, but really it should be 26".
- Third, it keeps in line with

[2021-03-02 20:36] moT01 commented on #40896
Alright, I think that settles it. Let's avoid those tests for now then @Ne0nWinds & @gikf.

[2021-03-02 21:11] Ismailtlem commented on #39738
How to reproduce this issue ?

[2021-03-02 21:16] Ismailtlem commented on #41265
Are the contributors the ones who will bring up the project ideas ? Or are there some project ideas and the contributors will be building prototypes of them ?

[2021-03-02 21:33] Ismailtlem commented on #40772
(I will investigate the backend part if that's still unresolved ..)

[2021-03-02 21:36] JoshuaPelealu commented on #41265
@Ismailtlem

I think the contributors are going to build prototypes of what has been decided.

[2021-03-02 23:08] Ne0nWinds commented on #41265
I'm willing to help, as well!

[2021-03-02 23:39] RandellDawson commented on #41265
Sorry for not replying sooner.  See the update I have made in the issue body.

[2021-03-03 13:10] tianheg opened #41341 "wrong h1 and url with a post"
**Describe your problem and how to reproduce it:**

1. `h1` tag must be title, but [here](https://www.freecodecamp.org/news/how-to-get-things-done-lessons-in-productivity/#part-ii-what-to-do-when-you-can-t-stop-procrastinating) is in post
2. 404 url at `Read more articles`: If you want more articles, `check out other posts on my blog`. [location](https://www.freecodecamp.org/news/how-to-get-things

[2021-03-03 13:44] moT01 opened #41342 "[show upcoming changes/new editor] Bottom of editor gets cut off"
When working on a challenge locally, pretty sure with the `SHOW_UPCOMING_CHANGES` set to true so it shows the "file tabs" at the top of the editor - it seems to be cutting off a few lines at the bottom of the editor...
![Screen Shot 2021-03-03 at 7 35 17 AM 1](https://user-images.githubusercontent.com/20648924/109813815-72e7df00-7bf3-11eb-89dc-8d129728c563.png)
 In the image, there's a console.log

[2021-03-03 14:08] RandellDawson commented on #41342
@moT01 We have an existing [issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/39348) where we have been tracking all the current new editor bugs.  This is a known bug, but it does not appear to be listed on the other issue.

[2021-03-03 14:12] moT01 commented on #41342
I will add this to the list.

[2021-03-03 14:12] #41342 closed

[2021-03-03 15:16] SethFalco opened #41343 "Issue Tracker Test #4 should allow HTTP Status 400 (Bad Request)"
**Describe your problem and how to reproduce it:**
I've noticed that the project enforces the use of a 200 (Ok) status code. However, in the case of client/user error, it makes more sense to return a 400 (Bad Request).

As HTTP statuses were not taught by the freeCodeCamp curriculum, I understand why 200 is an acceptable status as far as the tests are concerned, however I think the test should sti

[2021-03-03 15:22] SethFalco commented on #41343
Just to reiterate, when/if I get confirmation on if this contribution would be deemed of value to freeCodeCamp, I'll gladly contribute a change similar to above for all cases. (Or try ideally make a function as a variable in those cases to do the assertions like

[code]

(I commented this, as I didn't test it, but I assume it'd work.)

[2021-03-03 15:31] SethFalco commented on #41343
Closing this favoring #37966. (My bad, sorry for the noise!)

[2021-03-03 15:31] #41343 closed

[2021-03-03 15:42] nhcarrigan opened #41344 "i18n - Grammatical flow of code examples"
English uses a specific noun-verb order (subject-object order?) that differs in other languages. This results in some verbiage flows not making sense in the translation flow.

As an example, refer to [this original content](https://gist.github.com/RandellDawson/bed3e1686745ec8a2df18360feddd86e) and  [the matching translation](https://translate.freecodecamp.org/translate/690087755819f2f67b26dbee3be

[2021-03-03 16:45] nhcarrigan opened #41345 "i18n - Empty solution seeds"
An empty solution seed with the following format does not parse correctly in Crowdin:

![image](https://user-images.githubusercontent.com/63889819/109839401-eb529e00-7bfb-11eb-8916-a58f95eca3c2.png)

Adding an empty new-line between the backtick lines *will* parse correctly in Crowdin:

![image](https://user-images.githubusercontent.com/63889819/109839454-f9082380-7bfb-11eb-870c-c0f0bc4ea0b2.png)

[2021-03-03 17:10] werdna521 commented on #41345
Hi, I'll add those blank lines. It'll be my first time contributing to an open-source project, though.

[2021-03-03 17:32] #40359 closed

[2021-03-03 17:33] werdna521 commented on #41345
@RandellDawson Alright. I'll go through the documentation.

[2021-03-03 17:34] raisedadead commented on #41341
@scissorsneedfoodtoo please check.

[2021-03-03 17:57] CoolBlueDesigns commented on #41345
Hi. First time contributor here. I have forked the free code camp files to my github page. I have cloned them locally, opened the appropriate folders into my VSCode editor and made the changes (though I was not able to find a # --seed-- in Quality Assurance Projects: metric imperial conversion) but now I have no idea of how to get the code back here. Is there some documentation with instructions o

[2021-03-03 21:02] Ismailtlem commented on #40772
Hi,

Is it only about asking people who want to subscribe to the newsletter but are not signed in to sign in before ?

[2021-03-03 21:14] #41345 closed

[2021-03-03 21:23] tomjbradley opened #41353 "Code contribution page says curriculum instead of learning platform"
**Describe your problem and how to reproduce it:**
On the code contribution page it says 'If you want to productively contribute to the curriculum, we recommend some familiarity with these tools.' when I think it means 'If you want to productively contribute to the _learning platform_, we recommend some familiarity with these tools.'

**Add a Link to the page with the problem:**
[https://contribut

[2021-03-04 03:28] SethFalco opened #41354 "assert.throws Doesn't Count Towards Assertions"
**Describe your problem and how to reproduce it:**
I was working on the Sudoku Solver project and ran into an issue with my tests failing despite my unit tests passing locally.

Test case:
[code]
Unit tests:
![image](https://user-images.githubusercontent.com/22801583/109906373-ac2a5880-7ca0-11eb-97dd-f35fde0a3d06.png)

Network tab:
![image](https://user-images.githubusercontent.com/22801583/109906

[2021-03-04 03:48] fuzzyray opened #41355 "Stock Price Checker: Content Security Policy requirement breaks the front end of the application."
**Describe your problem and how to reproduce it:**
The requirement "You should set the content security policies to only allow loading of scripts and CSS from your server." breaks the front end index.html page, if it is implemented properly.

The helmet security middleware should be at the top of the `app.use()` chain in order to provide maximum benefit to the application. However, if you do this,

[2021-03-04 08:07] jdwilkin4 opened #41356 "Video in Use grid-column to Control Spacing does not work"
**Describe your problem and how to reproduce it:**
The video in the Use grid-column to Control Spacing challenge does not work and has an error message.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/css-grid/use-grid-column-to-control-spacing

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating

[2021-03-04 08:56] raisedadead commented on #41356
This is interesting because the [video link on the challenge source](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/css-grid/use-grid-row-to-control-spacing.md) seems to be fine.

Did we break something?

[2021-03-04 09:00] jdwilkin4 commented on #41356
I tested some of the other videos in that same section and they seem to be working fine.

So it looks like it is just this video.

[2021-03-04 09:26] ojeytonwilliams commented on #41356
@raisedadead that's the grid row challenge.  This is the [source file](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/css-grid/use-grid-column-to-control-spacing.md) and it's just that that video has somehow stopped working.

[2021-03-04 09:55] #41353 closed

[2021-03-04 12:20] ahmadabdolsaheb commented on #41273
@nhcarrigan, hide that element all together would also hide the related settings for the admins.
I was wondering if that is what we want. if so we could merge the pr and update themes accordingly.
<img width="793" alt="Screen Shot 2021-03-04 at 3 17 04 PM" src="https://user-images.githubusercontent.com/4591597/109963090-0e18ab80-7cfd-11eb-8d4b-b6df63163463.png">
<img width="471" alt="Screen Shot 2

[2021-03-04 12:43] ahmadabdolsaheb commented on #41071
Additionally, the image of he related album is not showing. Must be because of internet speed miscalculation, but I though I should mentioned here so we could address the ui and the functionality of that element at the same time.

[2021-03-04 12:47] ahmadabdolsaheb commented on #41071
I think we would need to restyle the footer using flexbox, so the elements are flexible and we could keep a certain order in the same row.

[2021-03-04 15:47] moT01 commented on #40896
There's been some discussion about how to display mathematical equations on a few of the open PR's. I think we should come to a consensus on that, as well. I looked around and most challenges don't use inline code around math - a few do. I think moving forward we should use mathJax around all math equations and variables etc - and reserve the backticks for computer code. It looks like there's [som

[2021-03-04 15:54] nhcarrigan commented on #41273
So the "global" setting is configured at the category level - those two buttons are for disabling the timer on a specific post. I, personally, can't think of a use-case where we would want to do this, so I'm fine with hiding those too. But I'll let others chime in if needed.

[2021-03-04 16:38] sachinh19 commented on #41354
Have you tried doing something like this?

`expect(() => solver.solve(puzzleString)).toThrow('Puzzle cannot be solved');`

[2021-03-04 16:41] robole commented on #39737
hi @ahmadabdolsaheb

It appears that someone fixed this issue.

I happened upon an article with a table and saw that the table did not have a wrapping problem. You can see in [this section of an article](https://www.freecodecamp.org/news/definitive-guide-to-snippets-visual-studio-code/#6transformations).

![screenshot](https://user-images.githubusercontent.com/3703647/109996512-4397b600-7d4a-11eb-

[2021-03-04 17:43] SethFalco commented on #41354
I've already passed the task so I don't need to work around it anymore.
However, I did try `expect(() => solver.solve(puzzleString)).throw('Puzzle cannot be solved');` anyway.

This did _not_ fix the issue. I'm betting it's probably something to do with the pattern not catching the `() =>` syntax as a valid assertion, but haven't looked into it much yet.

[2021-03-04 18:08] beaucarnes commented on #41356
I don't know how this could have happened. It seems that maybe the Scrimba video was deleted but I'm pretty sure nobody deleted it on our team. I'm really the only one that uses the freeCodeCamp Scrimba account and I haven't logged into that for a long time.

I'll reach out to the Scrimba team to see if they can help. For now, it's probably best to remove the video link from the curriculum.

[2021-03-04 18:08] sachinh19 commented on #41354
We could probably close this issue since you have already finished the task.

[2021-03-04 18:10] SethFalco commented on #41354
I think the problem lies with how the functions look post compilation.

[code]

The regex can be updated to:
[code]

This will allow it to also work with the `["property"]` syntax as well, for example:
![image](https://user-images.githubusercontent.com/22801583/110008932-9bb7c380-7d1c-11eb-978b-9eeb8ca4e0af.png)

Other parts will also still have to be updated, but unfortunately those methods are m

[2021-03-04 18:12] SethFalco commented on #41354
No, because this is still a valid issue. I could work around it for now, however others will still encounter it when they shouldn't, and it still needs to be fixed.

[2021-03-04 18:12] raisedadead commented on #41356
Thanks for the clarification Beau.

We should wait a few more days for the Scrimba team to get back to us. If the video is indeed lost, we can make a PR removing it.

[2021-03-04 21:01] #41325 closed

[2021-03-04 21:39] gikf commented on #40896
Keeping math to MathJax and code to backticks sounds sensible, What about a case with lone number, as a part of sequence, which refers to both code and math?

[2021-03-04 22:00] nhcarrigan commented on #40896
@moT01 do you know of any files that currently use the MathJax?

[2021-03-04 22:05] #41266 closed

[2021-03-05 00:06] moT01 commented on #40896
I found a few - 81 ([code](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-81-path-sum-two-ways.md) - [demo](https://www.freecodecamp.org/learn/coding-interview-prep/project-euler/problem-81-path-sum-two-ways)), 82 and 83 are similar. There are also some that have a comment, ``.

more: [368](https://www.freecodecam

[2021-03-05 00:09] nhcarrigan commented on #40896
So the downside with MathJax (vs code blocks) is that it doesn't register in Crowdin with anything we could use to hide the strings or detect translations.

@RandellDawson was poking at it, and it looks like sometimes we wrap the math in `<big>` tags which we *could* use, but that's not a consistent standard we follow.

[2021-03-05 00:29] moT01 commented on #40896
And the upside is that it looks right.

Do you think people will try and translate them if they aren't hidden? I see some numbers in the [Chinese file](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/chinese/01-responsive-web-design/css-grid/use-grid-area-without-creating-an-areas-template.md)s that just stayed as 1, 2, 3, ...

[2021-03-05 03:28] QuincyLarson commented on #40074
I have been thinking a lot about this, and I think I have now come to agree with @robole. For the forum, I think it's OK for the freeCodeCamp to lead to forum.freecodecamp.org since that's a different subdomain (and we have the "Visit the curriculum" link on the left hand side of the navigation.)

But /news is on the same www.freecodecamp.org subdomain, and in many cases people clicking that logo

[2021-03-05 03:29] scissorsneedfoodtoo commented on #41341
Hi @tianheg, thanks for catching all of these issues.

I just went through the article and fixed the headers. I notice that Ghost can get confused if authors paste stuff in from another rich text editor. That might be what happened with the headers here.

I also fixed the link to point to the author's page on News. We'll reach out to them in case they want to change the link to point to a personal

[2021-03-05 03:29] #41341 closed

[2021-03-05 04:36] nhcarrigan commented on #40896
I do think it's a possibility - we could rely on proofreaders to catch it, but it's nice to have extra validation in place.

[2021-03-05 06:45] RandellDawson commented on #40896
We have already seen some translations of `code` tag content where they did not make a different translation, but they spelled the name of the function with a different case.

[2021-03-05 06:49] Ne0nWinds commented on #40896
I do like the idea `math to MathJax and code to backticks` as a general rule of thumb, but I have a few thoughts:
1. The math symbols in mathjax and the ones in backticks are completely different, so try to stay consistent with whatever you introduced the symbol as (Look at the phi symbol in the equations vs the one in `gcd`)
![image](https://user-images.githubusercontent.com/36315399/110077281-b4

[2021-03-05 06:55] RandellDawson commented on #40896
For localization, we need a way to validate these equations don't get change or at least if they do, a QA message prompts the translator and proofreader when reviewed.  One easy way to do that currently, is to nest all of the matJax stuff in `big` elements.  It is best if they are in there own separate paragraph.  This creates a special `big` context we can use to make them untranslatable.

[2021-03-05 08:59] ahmaxed opened #41373 "Expose forum, news, and radio links on the navbar"
Currently the platform links such as forum, news, and coderadio are bundled under the menu button; however, they should be displayed along side the menu button when there is enough space on the screen.

related: #41032

[2021-03-05 12:11] raisedadead opened #41376 "Create PM2 ecosystem config for demo projects"
The [demo-projects](https://github.com/freeCodeCamp/demo-projects) currently does not have an [ecosystem config](https://pm2.keymetrics.io/docs/usage/application-declaration/#ecosystem-file) for PM2.

We would want to create one to help us do server maintenance.

Bonus points for:

1. Creating a GitHub actions to CI test that all the demo-projects are "deployable", i.e. when a PR is landed, we sho

[2021-03-05 12:15] raisedadead commented on #41373
_Issue comment https://github.com/freeCodeCamp/freeCodeCamp/issues/40074#issuecomment-791124765 from @QuincyLarson:_

[2021-03-05 12:15] #40074 closed

[2021-03-05 12:15] raisedadead commented on #40074
See related discussion here instead of this issue: https://github.com/freeCodeCamp/freeCodeCamp/issues/41373, I am moving your comment there instead for better visibility.

[2021-03-05 12:18] anshullaikar commented on #40089
Both of the solutions mentioned are not working. I am still getting the same error.

[2021-03-05 12:19] raisedadead commented on #41373
I tend to agree that the logo should take you to the subdomain you are on when clicked, and sub-paths should take you to the parent. That is in this case `/news` should take you to the landing page.

However, this gets very complicated with the languages we have for i18n. As long as we are fine by managing the complexity, we should be fine.

For me though the intuitive (standard) way on most sites

[2021-03-05 12:22] raisedadead commented on #41032
I remember Oliver working on something for displaying the shortcuts to power users?

[2021-03-05 14:23] RandellDawson commented on #41159
@ShaunSHamilton Can this be closed or are further PRs needed?

[2021-03-05 15:45] ShaunSHamilton commented on #41159
@RandellDawson It is still up for discussion whether or not we want to go the route of adding:

---

_Originally posted by Nicholas (above)_

[2021-03-05 15:49] RandellDawson commented on #41159
@ShaunSHamilton Maybe if a user submits an ip address, we give them a message to use `localhost` instead?  I am not sure this is the best way or if we want to get into messaging like this, but off the top of my head, that is the first thing I think.

[2021-03-05 16:24] comradekingu commented on #41264
Here is some _free code_ to do it:
https://docs.weblate.org/en/latest/user/glossary.html?highlight=glossary   https://docs.weblate.org/en/latest/user/translating.html#auto-translation

[2021-03-05 16:36] nhcarrigan commented on #41264
Thank you for sharing, but that appears to be documentation for a different translation service.

[2021-03-05 16:43] comradekingu commented on #40627
Undoubtedly it helps their platform. I don't think it serves your interest to volunteer your time with how it is _their_ platform.

What it certainly doesn't do is make for "a friendly community where you can learn to code for free" and it doesn't "to help millions of busy adults transition into tech".
It helps transition control over technology away from said individuals, in a way that is unfrien

[2021-03-05 17:07] comradekingu commented on #41264
Thought it would be interesting to point out in the interest of avoiding only-as-a-service products.

[2021-03-05 17:11] RandellDawson commented on #41264
We would prefer to stick with solutions that are related to Crowdin, since that is the service we are going to be using. Thank you.

[2021-03-05 19:24] robole commented on #41373
Hi,

While I understand that you are considering other changes, I would treat the change @QuincyLarson mentioned about the logo link as an independent change. Changing the href of a link will not impact anything else you are discussing. If you are using this issue for that change, then I suggest changing the title to reflect that.

If you feel you want to do things together. Then, it may be easier

[2021-03-06 08:39] smQaaa opened #41385 "gg"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2021-03-06 08:41] smQaaa opened #41386 "cff"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2021-03-06 08:41] smQaaa commented on #41386
vvv

[2021-03-06 08:41] #41386 closed

[2021-03-06 11:46] #41385 closed

[2021-03-06 15:00] naveen8801 commented on #40890
Hi @ahmadabdolsaheb , i wanna work on it , can you help me in getting started with this issue !

[2021-03-06 16:29] Ismailtlem commented on #41071
Hi @ahmadabdolsaheb

- Is the footer not already styled with flexbox ? https://github.com/freeCodeCamp/coderadio-client/blob/main/src/css/App.css#L29
- For the problem mentionned in this issue regarding the footer image that has a height that goes over the footer container, would a solution like this works ? (this solution is only about making the album image height equal to the footer height as I

[2021-03-06 22:19] tysonliddell opened #41388 "Word boundary and backspace confusion in JavaScript string escape sequences"
**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/escape-sequences-in-strings

**Describe your problem and how to reproduce it:**
Changes introduced by #35176 change the name of the `\b` escape character from "backspace" to "word boundary". As far as I can tell, this is incorrect in the context of JavaScript *

[2021-03-07 00:19] Moustafa-Ahmed-2020 commented on #40089
Still doesn't work

[2021-03-07 15:21] yassir206 commented on #41388
good

[2021-03-07 20:17] NinjaInShade commented on #38589
Hi! Looking to contribute. Can you explain/clarify what still needs to be done. Thanks. 😊

[2021-03-07 20:24] Renenelw23 commented on #38589
Why are you being a Pic help me pls is ll bout money i dinyhave work my
husband jobless ND I have 2 kids sure u saw my fb. God help me pla I was
playing round why who gives u the power to now u need to please se help me

Rene Nel
0739871719

On Sun, Mar 7, 2021, 10:20 PM Leon Michalak <notifications@github.com>
wrote:

[2021-03-08 03:45] eliasm307 opened #41403 "Show indication for completed courses on main courses page"
Currently, on the main page which shows the list of courses, there is no indication to show which courses have already been completed, you need to click each one individually to get that information.

It would be good if there was a tick, icon, or different colour etc to differentiate completed courses. It helps to see how much a user has achieved and what is left at a glance.

Here is an example

[2021-03-08 06:49] CreaTorAlexander commented on #41403
I would suggest to switch the color of the completed courses to a light green to signal that it is already finished.

[2021-03-08 09:26] ShaunSHamilton commented on #40915
I am going to close this, for now. The "_temporary_" solution appears to have worked well enough to prevent further issues.

[2021-03-08 09:26] #40915 closed

[2021-03-08 11:33] Narcos101 commented on #41403
Hello! Could you assign it to me and tell me how should i approach it?

[2021-03-08 11:40] ShaunSHamilton commented on #41403
@Narcos101 This is a feature request, and nothing has been decided about whether or not to implement it.

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contribu

[2021-03-08 13:43] ahmadabdolsaheb commented on #41071
- It is flex, but some of the inner elements are absolutely positioned.

- If I understand you correctly, we want to have the height of the album image be the same as footer for certain widths and have it larger and located above the div with #nowPlaying id. ideally it would be the same breakpoint that we change the background image.

- a pr would be appreciated for displaying the album image.

[2021-03-08 14:03] ahmadabdolsaheb commented on #40890
Sure, we would like to replace Amazon and Spotify logos with Alibaba and Tencent when the clientLocale === 'chinese'.
Here is where the logos are displayed. Please follow the path to see where they are located. We would like similar svg react components for Alibaba and Tencent.

Then we would pull clientLocale similar to the following and display the above mentioned logos when the client is chines

[2021-03-08 16:11] paulywill commented on #34933
@ProfessorSalty, is this opinion based or best practice (i.e. referenced somewhere that RESTful should not use verbs)?

@scissorsneedfoodtoo, I would be more than happy to assist you if moving forward.

[2021-03-08 16:33] naveen8801 commented on #40890
Thanks @ahmadabdolsaheb  :-)

[2021-03-08 16:35] lasjorg opened #41417 "Missing warning about extensions"
We used to have a warning about extensions at the start of the CSS challenges but with the new curriculum layout, there is no intro page which is where the warning was located.

Not sure if this is intentionally missing now or if the warning should be added back to the block description?

[2021-03-08 17:54] naveen8801 commented on #40890
Dear @ahmadabdolsaheb , i have followed all the steps for setting up locally but getting this error while running ' npm run develop ' .

Error in "F:\open source\freeCodeCamp\client\node_modules\gatsby-plugin-manifest\gatsby-node.js":
Something went wrong installing the "sharp" module

Cannot find module '../build/Release/sharp.node'
Require stack:
- F:\open source\freeCodeCamp\client\node_modules

[2021-03-08 18:11] ShaunSHamilton opened #41418 "Code Block Styling Escapes Parent"
Page with issue: https://www.freecodecamp.org/learn/data-visualization/data-visualization-projects/visualize-data-with-a-bar-chart

I think there were some recent CSS changes, and they might have caused this:
![image](https://user-images.githubusercontent.com/51722130/110362499-3ecc4e00-8039-11eb-9013-b17b36b472e0.png)

I am going to open this up to first timers, as it should be a small change to

[2021-03-08 19:51] DSok-DSok opened #41419 "Responsive Web Design Certification"
**Describe your problem and how to reproduce it:**
Hello,

When I click on the View Responsive Web Design Certification link, it redirects me to the home page of freecodcamp.
Tried looking for answers online with no result.

Please help me.

Thank you!

**Add a Link to the page with the problem:**

https://www.freecodecamp.org/fcc656f1642-26cf-4d80-819d-ac21d5d51963
**Recommended fix, suggestions

[2021-03-08 19:56] PatrickFranz commented on #41418
Just took a look at this issue and I'm not able to replicate the problem. The <code> element looks like it should on Chrome (88.0.4324.182 (Official Build) (64-bit)

[2021-03-08 20:07] Sembauke commented on #41418
That's weird It appeard on my screen the same way as Shaun on Chrome but now the problem has fixed it self somehow.

[2021-03-08 20:51] miku86 commented on #41419
Hey there,

when you opened the issue, there should have been a template to fill out some data.

Please add it, thanks.

[2021-03-08 21:02] ShaunSHamilton commented on #41419
Hello there,

It appears you have not completed the required steps to view your certificates:
![image](https://user-images.githubusercontent.com/51722130/110381576-91b1ff80-8051-11eb-89cb-ca0bbeb1ed06.png)

Please go to your settings page, and read the notices about the required settings to make use of the certificates. Thank you

[2021-03-09 05:09] CHAITANYASAI-del commented on #15771
same issue

[2021-03-09 05:50] #41419 closed

[2021-03-09 05:51] raisedadead commented on #41419
If you need further assistance, please reach out to our community forum: https://forum.freecodecamp.org

[2021-03-09 05:55] raisedadead commented on #41403
Check marks could be one way of adding a completion status, I will wait on @ahmadabdolsaheb's recommendation.

[2021-03-09 06:00] #41324 closed

[2021-03-09 06:37] ahmadabdolsaheb commented on #41373
I think the main issue is that there is no easy way for the users to know which platform they are.

There are links that take the users from one platform to the other; however, if each platform is easily identifiable, users would not have an issue with navigation.

Regardless of what we do, I think we should keep it consistent across platforms.

Here are the two solutions I see moving forward.
1)

[2021-03-09 06:51] raisedadead commented on #41373
I really like the former in the two approaches above. It gives out a clear indication of the identity of the application the user is on.

[2021-03-09 08:18] ahmadabdolsaheb commented on #41373
The changes might affect the SEO on news, but we can add back "news" nav item to resolve that. Additionally, we could highlight or underline the "news" nav to make the nav distinct.

The changes should be straight forward on news and learn, but the implementation and redesign on the forum might be more time consuming ..

[2021-03-09 09:18] ahmadabdolsaheb commented on #40890
Are you getting that before implementing the changes? I suggest following https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-locally carefully to get he repo running locally, and letting us know about related issues here: https://chat.freecodecamp.org/channel/contributors.

I suspect there is a mismatch your machine's and the required node/npm versions.

[2021-03-09 11:13] ahmadabdolsaheb opened #41423 "Should contextual navigation be removed?"
In the past we have added contextual navigation buttons in the UI to be able to reduce the nav items.

Since we have grouped all nav items in the menu button, I was wondering if having them in different pages is redundant.

Specially buttons that redirect to settings, portfolio, and sign out.

![image](https://user-images.githubusercontent.com/4591597/110450876-aaafc480-80d4-11eb-891e-437f1c421200

[2021-03-09 12:26] raisedadead commented on #41423
I think other than the go to my current challenge, everything else can go.

[2021-03-09 12:38] naveen8801 commented on #40890
@ahmadabdolsaheb  yaa  , i am running it for first time :-(

[2021-03-09 13:57] ShaunSHamilton commented on #15771
Please use the [forum](https://forum.freecodecamp.org/) to get assistance with a challenge. If it is determined to be a bug on the forum, **then** an issue may be opened here on the repo.

Thank you

[2021-03-09 16:24] RandellDawson commented on #40627
@RafaelDavisH @miyaliu666 We have notified Crowdin about Issue No. 6 above.  I went through entire curriculum and found all the strings containing inline code blocks that are breaking on Crowdin and added them to the [this Gist](https://gist.github.com/RandellDawson/37fe5cd3afe666e861ea708ea9120449) for your reference.  Just wanted you to be aware of the problem strings.

[2021-03-09 18:45] #41136 closed

[2021-03-09 18:52] robole commented on #41373
The question you need to answer is how many websites is freecodecamp?

At the moment, it looks like 1 or 2 websites (depending on the entry point). The nav links behave like its 3 websites.

Most websites have the same header and same set of navigation links on every page. It is the industry convention. It is the best scenario for the user if you follow this.

Separate websites look different. So,

[2021-03-09 18:55] Sembauke commented on #41277
Some Test cases that might be useful:

1.Ensure that clicking the links redirects the users to the corresponding page.
2.Ensure that tooltip/corresponding page URL is displayed on mouse hovering the links. (might be useful to add tooltips?)
3.Ensure that there is proper spacing in between the navigation links in breadcrumbs.
4.Ensure the browser compatibility of this feature (breadcrumbs).

[2021-03-09 21:58] tiagogomes772 commented on #41418
Hi @ShaunSHamilton I wanted to give this issue a try. I was able to fix it locally and create a branch. Could you redirect me to the documentation on how to create the PR and have access to push the changes?

[2021-03-09 23:47] jdwilkin4 opened #41429 "Instructions needed for how to fork codepen projects"
**Describe your problem and how to reproduce it:**
Hi there!

I think there needs to be instructions on how to properly fork a codepen pen.
Right now, it is just this line here
"You can build your project by forking this CodePen pen."

But that doesn't explain how to fork the project. So the user will just click the link and start coding. Then they try to submit the link but it is rejected because

[2021-03-10 00:05] PatrickFranz commented on #41418
Ok thanks! I'll take a look and add that. Do you have a URL for that page?

[2021-03-10 00:05] HBDanks commented on #41418
Should/could we create a new issue for the new occurrence, that @ShaunSHamilton has pointed out, so that another first time contributor could give it a go?

[2021-03-10 04:41] raisedadead commented on #41417
@freeCodeCamp/moderators what do you think about this? Should we display a one-liner warning on the first "block" card for the CSS Challenges?

[2021-03-10 04:44] raisedadead commented on #41429
@freeCodeCamp/moderators - I think we could add something succinct along the lines of what Jessica recommends above to each project description? Thoughts?

[2021-03-10 04:57] raisedadead commented on #38955
Hi,

We are closing old issues/pull-requests that we think are stale. If you need still need help with this or are fixing this, please open a fresh issue/pull-request.

Thanks for your understanding.

Happy contributing.

[2021-03-10 04:57] #38955 closed

[2021-03-10 05:02] raisedadead commented on #39124
Hi,

We are closing old issues/pull-requests that we think are stale. If you need still need help with this or are fixing this, please open a fresh issue/pull-request.

Thanks for your understanding.

Happy contributing.

[2021-03-10 05:02] #39124 closed

[2021-03-10 05:09] nhcarrigan commented on #41429
I agree - I think this would be helpful information.

[2021-03-10 05:11] nhcarrigan commented on #41417
I'm not sure the block card alone would be sufficient.

If I am a camper new to the curriculum, I start with the Basic HTML and HTML5 challenges. Upon completing the last challenge, I am immediately taken to the first challenge of the Basic CSS section.

I would suggest we add it to both the Basic CSS block, and a note on the "Change the Color of Text" challenge that says something like "Note that

[2021-03-10 09:04] supzi-del commented on #41429
Is this what you're looking for?

[2021-03-10 09:21] ShaunSHamilton commented on #41418
@HBDanks It is the same issue. Code block escaping parent. So, no, I would not make a new issue.

@PatrickFranz Here is the link to the example page: https://www.freecodecamp.org/learn/scientific-computing-with-python/python-for-everybody/make-a-relational-database

[2021-03-10 09:25] ShaunSHamilton commented on #41417
We have been dealing with this issue for so long. Is there not a way we can test for if a Camper has a browser extension with access to the webpage? Then, show them a warning.

[2021-03-10 09:38] ShaunSHamilton commented on #41429
We have used CodePen long enough, and I do not see it changing much. So, what if we included another news article going through _The ins-and-outs of CodePen_? The main topics I would expect:
- How to fork a boilerplate pen
- How to use the HTML/CSS/JS editors (what code goes where)
- How to analyse/format your code
- How to add React and other packages to your project
These are common pitfalls I h

[2021-03-10 09:50] ojeytonwilliams commented on #41417
In principle, I think so: http://blog.kotowicz.net/2012/02/intro-to-chrome-addons-hacking.html, but it's a bit unreliable.  If we did show a one-time warning, we might as well show everyone.  That said, I prefer localising warnings to the sections it matters, just to so there's a chance people remember when they run into the problem.

[2021-03-10 09:51] ahmadabdolsaheb commented on #41373
@robole, thanks for the feedback. I asked the question on [ux.stackexchange](https://ux.stackexchange.com/questions/137008/where-should-website-logo-link-to-in-an-organization-with-multiple-platforms). I am curious to see the community's response.

@raisedadead @QuincyLarson, if we end up changing the logo links to / across platforms, it seems the page should offer more customization for the signe

[2021-03-10 09:58] ShaunSHamilton commented on #41417
@ojeytonwilliams Right.

My thinking was, as it stands, this affects multiple lessons/sections, and with the new curriculum content, I can only imagine it must affect some of them. So, if we could have a reliable way of detecting extensions, then I would imagine it be beneficial for maintenance. Otherwise, I would agree, if it is unreliable.

What if the warning only came up, and offered a _"Never

[2021-03-10 10:43] jdwilkin4 commented on #41429
I didn't even think about an article. I found one article on FCC news from 2016 but a lot has changed since then. I found a few articles on google  but they don't really have many screenshots which would be really helpful. I would be interested in writing that. Unless, you wanted to @ShaunSHamilton since it was your idea.

I think whatever is decided for this issue, writing a FCC news article abou

[2021-03-10 10:48] NinjaInShade commented on #41418
The same thing happens on light mode. I've managed to fix it on there too, but requires another CSS file as prism.css doesn't overwrite pre/code styling. I've made a prism-light.css file with the fixed CSS for light mode. How should i proceed, does a new issue need to be opened?

[2021-03-10 14:51] ojeytonwilliams commented on #41417
I don't think it would be reliable enough, since that method checks from a list of known extensions. If it was any extension it might be worth it, but I don't believe that's possible.

Recreating the old warnings in new places seems fine, though.

[2021-03-10 15:03] raisedadead commented on #41417
Thanks for the feedback everyone, I think we should add the warning along the lines of https://github.com/freeCodeCamp/freeCodeCamp/issues/41417#issuecomment-794892623

[2021-03-10 15:26] miku86 commented on #41417
I think this is overengineering. Especially because we would have to build this for different browsers/browser engines.

Can we currently see if the tests fail to run?

Because if we just show a hint after n failed attempts to master the lesson, this could lead to false positives. (The user just has a wrong solution, but they think it's caused by an extension.)

[2021-03-10 15:49] NinjaInShade commented on #41418
Isn't the white-space: pre on the actual theme itself, which is imported externally, so it isn't editable directly?

[2021-03-10 16:08] lasjorg commented on #41417
@miku86 I assume it would be failing to pass the tests, not failing to run the tests. I'm personally not sure if that is such a good idea. Might just become a "red herring" for people making actual mistakes in the code.

Would adding the warning at the beginning of the responsive web design section not be an option?

https://www.freecodecamp.org/learn/responsive-web-design/

[2021-03-10 16:15] moT01 commented on #41417
I'm not opposed to it, but I really don't think it's important enough to add there.

What about a single news article or forum post that has answers to semi frequent problems like this. There must some others that are similar. I think there was one about browser zoom levels at one point. Then maybe link to it in the ask for help modal:
![Screen Shot 2021-03-10 at 10 09 43 AM](https://user-images.g

[2021-03-10 16:43] lasjorg commented on #41417
I think having an FAQ-style forum thread is a good idea. We just need to make sure people actually read it.

Technically, for the color-related challenges, I do believe we can fix them on our end. We are testing the styles applied to the DOM, not the code that was entered. We do this to avoid having to use regex checks for the actual code written. Which is most definitely preferable but does leave

[2021-03-10 18:06] RandellDawson commented on #41417
This entire issue will vanish once we can use the CSS helper function that will use a CSS parser.  I had started work on this a while back but got side-tracked on other curriculum and localization stuff.  If this is super important, then I think we could discuss this in the next Office Hours meeting and come up with a plan to get these created once and for all. It will benefit the project-based cu

[2021-03-10 18:40] PatrickFranz commented on #41418
@NinjaInShade Yes. There is a prism.css file already there that is getting imported so as long as I beat the specificity of the theme it seems to work perfectly.

[2021-03-10 20:00] ShaunSHamilton commented on #41429
@RandellDawson That does look simpler. What happens, when a user does not have a CodePen account, though?

[2021-03-10 20:09] RandellDawson commented on #41429
@ShaunSHamilton If not logged in or no account, then clicking `Save` prompts the user to login and/or create an account.  Similar as to what happens if someone clicks the `Fork` link.

[2021-03-10 20:21] Sembauke commented on #41423
Is it possible to test which widget is used more before deleting anything?  Personally, I would use the buttons that are directly displayed on the page.

[2021-03-10 20:36] NinjaInShade opened #41441 "@NinjaInShade Yes. There is a prism.css file already there that is getting imported so as long as I beat the specificity of the theme it seems to work perfectly."
@NinjaInShade Yes. There is a prism.css file already there that is getting imported so as long as I beat the specificity of the theme it seems to work perfectly.

_Originally posted by @PatrickFranz in https://github.com/freeCodeCamp/freeCodeCamp/issues/41418#issuecomment-795888598_

Can i ask what you have done to do that ?

[2021-03-10 21:00] PatrickFranz commented on #41441
@NinjaInShade Of course! I just added the parent to the selector.
So instead of using
[code]

[2021-03-10 21:05] RandellDawson commented on #41441
@NinjaInShade @PatrickFranz Please use the original issue for discussion.  Separate GitHub issues are not meant to be used for messaging.

[2021-03-10 21:06] ieahleen commented on #41429
there is still the chance that people may not save and submit the template link... not much as there is a Save button, but it could happen - just to be sure, make sure that template links cannot be submitted?

[2021-03-10 21:26] jdwilkin4 commented on #41429
I like this template idea.
And I agree with @ieahleen 's suggestion of making sure the template links cannot be submitted.

[2021-03-10 21:36] RandellDawson commented on #41429
@ieahleen  @jdwilkin4 That would be nice, but seems to be beyond the scope of the current issue needing to be addressed.  @ShaunSHamilton Not sure the best way to approach that feature, but there was talk at one point about once a project is submitted, then instead of it showing up as completed, the test runner would run behind-the-scenes using something like puppeteer and then depending if the te

[2021-03-10 21:57] jdwilkin4 commented on #41429
Ok no problem.

Just curious though,
Would it be difficult to replicate the same rejection process you are using now?

If a user tries to submit this link `https://codepen.io/freeCodeCamp/pen/MJjpwO` then they get this error message
<img width="973" alt="Screen Shot 2021-03-10 at 1 50 36 PM" src="https://user-images.githubusercontent.com/67210629/110702994-12830f80-81a8-11eb-8873-906ebbda6950.png"

[2021-03-10 22:17] RandellDawson commented on #41429
Not quite.  The current code uses the following regex to test for a freeCodeCamp Codepen without specifying the slug name (the `MJjpwO`).  That was done on purpose so we did not have to try and track the various slug names in our code base somewhere.  If we want to use this template feature I suggest and want to prevent users from submitting it, then we might not have a choice about tracking the s

[2021-03-10 22:34] ShaunSHamilton opened #41442 "Validating Frontend Project Submissions Through Testing"
Not sure the best way to approach that feature, but there was talk at one point about once a project is submitted, then instead of it showing up as completed, the test runner would run behind-the-scenes using something like puppeteer and then depending if the tests pass or not, would make it eligible to claim certification.

_Originally posted by @RandellDawson in https://github.com/freeCodeCamp/f

[2021-03-11 06:34] ahmadabdolsaheb commented on #41418
It should scroll vertically instead of wrapping similar to https://www.freecodecamp.org/learn/scientific-computing-with-python/python-for-everybody/dictionaries-common-applications.

[2021-03-11 09:36] NinjaInShade commented on #41418
Nothing scrolls vertically there? The code tags just wrap.

[2021-03-11 11:11] raisedadead commented on #41356
The video was inaccessible due to an accidental flagging as private. Scrimba has since restored it.

[2021-03-11 11:11] #41356 closed

[2021-03-11 11:31] NinjaInShade commented on #41418
And we aren't talking about that part of the UI, but the code/pre blocks.

[2021-03-11 12:43] ShaunSHamilton opened #41444 "Repl Migration"
Just putting this here to keep on radar:

Replit are moving from `repl.it` to `replit.com`.
- https://blog.repl.it/dotcom

They say:

---

The whole platform needs to be audited for the change from `repl.it` to `Replit`, as per:
- https://github.com/freeCodeCamp/freeCodeCamp/pull/41933/files#r621498674

[2021-03-11 14:29] nhcarrigan commented on #41429
I tested out the template feature in the draft PR (and commented there) - 100% support from me. It's a much more streamlined UX.

[2021-03-11 15:08] nhcarrigan commented on #41418
@ahmadabdolsaheb are we looking for something like this, then?

![image](https://user-images.githubusercontent.com/63889819/110808126-908ef700-8238-11eb-86c2-0b65fdbb8dbf.png)

[2021-03-11 15:16] ieahleen commented on #41444
I think maybe it is to keep in mind for solution link validations

[2021-03-11 15:30] nhcarrigan commented on #41444
Probably wouldn't hurt to update our URLs to avoid confusion, when the time comes.

[2021-03-11 16:49] gmfuster opened #41448 "Low priority: ignore comments when checking the code in the challenges"
This is low priority and I'm not sure if it has been brought up, sorry if I'm doing this wrong.  On one of the challenges I had commented out the splice call but I still got an error that I should not use it.  I assume when the checks are being performed they are not skipping commented out lines.

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/r

[2021-03-11 16:56] nhcarrigan opened #41449 "i18n - Fix challenge format for Crowdin"
Within the [Nest an Anchor Element challenge](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph.md) the text which reads:

is incorrectly formatted - "anchor text" is within backticks and is thus untranslatable on Crowdin.

The text in the English file should be updated to use

[2021-03-11 17:13] pandacoder7 commented on #41449
Hi @nhcarrigan . I would like to work on this.

[2021-03-11 17:14] nhcarrigan commented on #41449
Hey there @pandacoder7,

Thank you for your interest in contributing. Note that we do not typically assign issues except to long-term contributors. Instead, we generally review and merge the first pull request which comprehensively resolves the issue.

Feel free to let us know if you have any questions. 🙂

[2021-03-11 17:44] PatrickFranz commented on #41418
For comparison purposes on small screens (this is Chrome's version of the Galaxy S5).
I think this particular example looks better with the ```pre-wrap```. Perhaps more complex ```pre``` code may not.
Thoughts?

**Text Wrapping**
![Text Wrapping](https://user-images.githubusercontent.com/4193264/110829540-161ca200-824d-11eb-9a80-9ca4f04acae8.png)

**Text Scrolling**
![image](https://user-images.gi

[2021-03-11 18:35] RandellDawson commented on #41448
@gmfuster You are correct that we do not by default ignore comments in the code when performing most checks like the one you had trouble with on the challenge.  We do have a helper function that we can use to sanitize the code for a specific test, which is what is needed for this particular challenge.  I am going to compile a list of all the challenges that should be using this helper function and

[2021-03-11 20:19] RandellDawson commented on #41448
The following list contains only the `testStrings` contained in 86 challenges that would to be changed for the JavaScript Algorithms and Data Structures certification.  There are probably some I missed and there would be many more if we were to do the same for the other certifications.

@ojeytonwilliams We discussed a while back (like 5 months ago) the idea of applying the various comment remover

[2021-03-11 20:35] #41449 closed

[2021-03-11 21:50] Ismailtlem opened #41451 "Data Structure challenge (Everything but true) doesn't pass on a correct solution"
**Describe your problem and how to reproduce it:**
The challenge doesn't pass what appears to be a correct solution.
![image](https://user-images.githubusercontent.com/34961373/110859287-8104c200-82bb-11eb-9115-3651fe04345a.png)
3 tests fails with this solution :
![image](https://user-images.githubusercontent.com/34961373/110859591-ee185780-82bb-11eb-95da-7111e7a766cb.png)

**Add a Link to the pag

[2021-03-11 22:16] RandellDawson commented on #41451
Hi @Ismailtlem

Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2021-03-11 22:16] #41451 closed

[2021-03-11 23:26] gmfuster commented on #41448
@RandellDawson Thank you!

[2021-03-12 05:11] #41429 closed

[2021-03-12 06:46] scissorsneedfoodtoo commented on #34933
Hey @paulywill, thanks for the @ mention. Unfortunately I lost this issue in my notifications, so I appreciate you bringing it to my attention again.

Also, that you for your patience, @ProfessorSalty, and for all of your helpful suggestions.

As far as I can tell, everything mentioned in the original comment is best practices, especially the bit about removing `exercise` from the URL.

Currently

[2021-03-12 07:07] ahmadabdolsaheb commented on #41418
@ShaunSHamilton, @NinjaInShade  Thanks for the correction. I meant horizontally and updated the comment accordingly.

@PatrickFranz, that is a really good point and I see other tech-ed sites are doing it such as the following:
<img width="266" alt="Screen Shot 2021-03-12 at 9 52 06 AM" src="https://user-images.githubusercontent.com/4591597/110904116-842e9b00-8319-11eb-8f8e-d8531db86ff1.png">

The

[2021-03-12 07:32] gikf commented on #41355
If that's not a part of the task (I'm not sure if it is), then the most convenient might be changing it to not require jquery at all.

[2021-03-12 07:40] Ismailtlem commented on #41451
Sure (y)

[2021-03-12 14:22] RandellDawson commented on #34933
I like the idea of `/api/timestamp/[date]` because as was mentioned by @scissorsneedfoodtoo, a single domain could house multiple APIs.

[2021-03-12 15:03] fuzzyray commented on #41355
Now that I've completed the project and submitted it, I went and looked at the code in demo-projects. The example app, removed the dependency on jquery and hosted its own script.js file with the jquery functionality required rewritten in plain Javascript. Since the front end piece is not part of the project requirements, I would just update the boilerplate project to use `views/index.html` and `pu

[2021-03-12 18:51] PatrickFranz commented on #41418
@nhcarrigan Regarding the PR edit:
The overflow would go on the container that is overflowing, but just to clarify, are we looking to target ALL code containers or just the ones that use the ```client/src/templates/Challenges/video/Show.js``` component?

[2021-03-12 19:30] gikf commented on #40226
Closing issue as this appears to be fixed a while ago in https://github.com/freeCodeCamp/testable-projects-fcc/pull/1250 and pen with project was updated for this.

[2021-03-12 19:30] #40226 closed

[2021-03-13 03:46] ProfessorSalty commented on #34933
That's a point I hadn't considered. IMHO, it would make more sense to scope the `/api` endpoints to each project rather than the other way around, eg. `exercise/api/...`, `timestamp/api/...`. This would be clearer in intent and even allow students to serve clients in the base URL (`excerise/public`, for example) or pull the API code into a separate application easily.

I wish I had some text to po

[2021-03-13 13:06] rtpHarry opened #41463 "Bug - Certification Page Uses Night Theme When Set For Code Formatting"
**Describe the bug**
I'm back again, with another bug that I've observed in the certification page.

It uses the night theme setting when styling code in the solution modal, but the page doesn't use night theme elsewhere.

**To Reproduce**
1. Visit your settings and ensure that the Night Mode is set to `on` - https://www.freecodecamp.org/settings
1. Visit a certification with script in it eg - htt

[2021-03-13 14:54] ShaunSHamilton commented on #41463
Thank you, for taking the time to open this. It was briefly mentioned, but appears to have been lost in the bussle.

Something to keep track of with this: https://github.com/freeCodeCamp/freeCodeCamp/issues/37166

[2021-03-14 10:43] jdwilkin4 opened #41489 "Video missing for Replace Loops using Recursion Challenge"
**Describe your problem and how to reproduce it:**
A user on the forum pointed out that this challenge did not have a video with it.
The article that is there is titled How Recursion Works — Explained with Flowcharts and a Video.
There is also this sentence in the article You can also watch this 5-minute video I made about recursion.
But I could not find a video in the article.

I think it would b

[2021-03-15 05:32] scissorsneedfoodtoo commented on #34933
Thanks for your input @RandellDawson, and again for your explanations, @ProfessorSalty.

It seems that either `/api/[project]/...` or `/[project]/api/...` would work, though I do agree that the latter is cleaner, and would make it easier to serve different clients like you mentioned.

With the current `/api/[project]/...` structure, it seems like the easiest way to host all the projects on a singl

[2021-03-15 05:52] NA-E commented on #41489
Can someone point me towards the repository for the news platform?

[2021-03-15 08:26] ieahleen commented on #41489
@NA-E thank you for your desire to help, but the articles are on a private database, only the editorial team can deal with it

Please take a look at issues with the label "help wanted"

[2021-03-15 12:35] Sembauke commented on #41277
Doesn't the ChallengeTitle test already check if the bread crumbs get rendered correctly?

[code]

[2021-03-15 17:13] moT01 commented on #34933
Trying to give some thoughts here...

Would these projects ever be on a single domain again? They're all on `sub-domain.freecodecamp.rocks`. So there should never be a conflict - I would vote for the "more conventional REST API convention (`/api/[date]`)". I think you're saying though, is that a **user** could host it all at one domain. Then, I like the `timestamp/api/[date]` style. I would prefer

[2021-03-16 04:50] scissorsneedfoodtoo commented on #41489
Thanks for opening an issue for this @jdwilkin4. I just went into the article and added that video in. It must have gotten lost in the move off of Medium.

Now when someone clicks the "Watch a Video" button for that challenge, the article should include the video. But I had to do a hard refresh of the challenge page for the video to load properly, otherwise it showed the cached version of the News

[2021-03-16 04:50] #41489 closed

[2021-03-16 05:26] huyenltnguyen commented on #41074
I'm not sure if this piece of information is useful, but I was trying to compare the playing time between the Azuracast player and ours. My assumption was that there was an issue with WebSocket connection, and I expected the Azuracast player, which uses the [standard method](https://www.azuracast.com/developers/nowplaying.html#standard-now-playing-api), to last longer.

I opened them in two tabs,

[2021-03-16 05:26] nhcarrigan opened #41500 "curriculum: Bug in the Create a Variable for a Specific Area challenge"
**Describe your problem and how to reproduce it:**

The challenge expects the camper to add the following CSS property to the `.penguin` class:

[code]

However, the following code (which does not accomplish the challenge) passes due to a lack of specificity in the regex assertion:

[code]

Note that this code will not change the colour of the penguin's belly and should not pass.

This could poten

[2021-03-16 05:28] texas2010 commented on #41500
oh yeah. in that code line, suppose to not accept any code with it. and focus only that answer.

[2021-03-16 05:34] #39371 closed

[2021-03-16 05:34] raisedadead commented on #39371
Hi,

We are closing old issues/pull-requests that we think are stale. If you need still need help with this or are fixing this, please open a fresh issue/pull-request.

Thanks for your understanding.

Happy contributing.

[2021-03-16 05:48] raisedadead commented on #39313
Sorry for the delay in getting back. We seemed to have missed taking a look at this.

I took a quick cursory look and could not determine if this is an actual bug or something to do with the the shared notebooks in this thread.

Could you confirm the issue still persists on the challenge: https://www.freecodecamp.org/learn/machine-learning-with-python/machine-learning-with-python-projects/cat-and-

[2021-03-16 05:48] #39313 closed

[2021-03-16 05:49] raisedadead commented on #39352
Can we confirm the triage state on this or close if decayed?

[2021-03-16 05:52] raisedadead commented on #39306
Hi @donchanee

Unfortunately, YouTube has disabled/removed the ability to add publicly contributed closed captions (subtitles) for a while now. We would love to support this and are brainstorming on other ways.

I am going to have to close this due to the limitation. We will make an announcement if we figure out something.

[2021-03-16 05:52] #39306 closed

[2021-03-16 05:58] nhcarrigan commented on #39352
I can confirm that the code Oliver provided in the linked repl above still throws a conversion error.

[code]

However, I think this could potentially be closed as a sub-issue of #39647

[2021-03-16 06:02] #39352 closed

[2021-03-16 07:25] scissorsneedfoodtoo commented on #34933
Thanks @moT01, that's a good rundown of everything so far, and potential next steps.

I agree -- if we do decide to standardize the endpoints, `/api/...` is probably the best option. It's good to know that it's just those three projects that would need to be adjusted.

And while I don't think we'll move from sub domains to sub paths for these projects, learners could do that if they want to.

Like

[2021-03-16 07:52] ahmadabdolsaheb commented on #41074
Were both on the background? might be the browser deciding to close background tab tasks. We might want to look into background tab optimization if that is the case.

[2021-03-16 09:48] ahmadabdolsaheb commented on #41277
in addition to uni tests, it would be great to have some cypress tests to make sure it the component get rendered properly on the page.

[2021-03-16 09:57] Sembauke commented on #41500
**Note:** when adding an extra line at the beginning it will cause the RegEx not to pass.
[code]

[2021-03-16 10:20] ahmadabdolsaheb commented on #41418
I think all code containers should follow the same convention.

[2021-03-16 10:36] ahmadabdolsaheb commented on #41442
@raisedadead, what would be the ideal testing scenario for front end projects?

[2021-03-16 10:42] ahmadabdolsaheb commented on #41423
We could add analytics events and see which ones are getting the most usage; However, since we have moved all those buttons to the menu, and the user can have access to them at any point, it makes sense to remove the duplicates and save the users some scrolling.

[2021-03-16 10:48] ahmadabdolsaheb commented on #41373
Additionally, any link that redirects to another platform should open in a new tab.( e.g. clicking on items from the search bar on learn should open in a new tab)

[2021-03-16 10:54] ahmadabdolsaheb commented on #41273
@RandellDawson, if you also agree with @nhcarrigan, we could get the class name change in and completely hide that section?

[2021-03-16 11:16] huyenltnguyen commented on #41074
Yeah they were both running on the background.

But according to [MDN](https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API#policies_in_place_to_aid_background_page_performance) we shouldn't worry about how browsers treat them.

closing these connections timing out and getting unexpectedly closed.

I wonder if this is an AzuraCast issue, although I can't seem to find anything simil

[2021-03-16 11:22] gikf commented on #41277
@Sembauke It does, but in a limited scope. Using `baseProps` defined specifically for test, (which has correct-fake data), and checking against [snapshot](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/templates/Challenges/components/__snapshots__/ChallengeTitle.test.js.snap). That doesn't check if breadcrumb looks as it should when `ChallengeTitle` component receives props from

[2021-03-16 12:19] RandellDawson commented on #41273
Just to be clear, those buttons are for disabling the timer at the topic level and not the post level.  We might want to disable the timer for a topic that has information that is important to keep enabled but not quite important enough to be a "sticky" topic.  I think the main goal would be to just hide the message and leave the admin buttons in place (since they are not seen by the public).  Is

[2021-03-16 14:48] nhcarrigan commented on #41273
The actual text itself doesn't have a handy class to select but it would be possible, potentially with something like:

[code]

[2021-03-16 15:11] ProfessorSalty commented on #34933
I wouldn't claim that it's the highest priority issue facing freeCodeCamp, but when I write a test project as proof of concept or to learn something new, I use that as a reference for my final work. Relying on these projects in this way for RESTful design would be detrimental. These sorts of inaccuracies can also erode trust in the platform.

[2021-03-16 15:48] raisedadead commented on #41442
This is a broad topic, something that we would discuss on the office hours if it's all the same with you both?

[2021-03-16 20:28] moT01 opened #41510 "[i18n] Chinese motivational and congratulatory quotes are in English"
Congratulatory quote at the top of the image:
![Screen Shot 2021-03-16 at 1 25 53 PM](https://user-images.githubusercontent.com/20648924/111374768-79eb0480-866b-11eb-9fc3-706b6eced7dd.png)

Motivational quote when on Chinese `/learn`:
![Screen Shot 2021-03-16 at 3 21 24 PM](https://user-images.githubusercontent.com/20648924/111374774-7bb4c800-866b-11eb-9a37-e6618d51b0cb.png)

The [file that holds

[2021-03-16 20:32] RandellDawson commented on #41510
Yeah those were just placeholders.  The idea was to have some actual quotes from each language instead of translations of the quotes as they may be lost in translation.

[2021-03-16 20:35] moT01 opened #41511 "[i18n] Completion modal block names aren't being translated"
In the completion modal after passing a challenge, the block names are showing up in English:
![Screen Shot 2021-03-16 at 3 32 02 PM](https://user-images.githubusercontent.com/20648924/111376217-2bd70080-866d-11eb-86f0-fcc0b6a45ed9.png)

But the breadcrumbs:
![Screen Shot 2021-03-16 at 3 32 15 PM](https://user-images.githubusercontent.com/20648924/111376231-31344b00-866d-11eb-8688-1629ccf44eb1.png

[2021-03-17 20:52] Ismailtlem commented on #41071
Is it not better to keep the album image on the left when height is <  650 px ? I am not sure it is very nice from a web design perspective.
![image](https://user-images.githubusercontent.com/34961373/111536865-11834c80-876b-11eb-8025-99b8a5fab96d.png)

[2021-03-17 21:16] Ismailtlem commented on #41040
The objective here then is to show the username on the certification if the name is not set ?

Maybe some message then must warn the camper that his username will be shown on the certification instead of his real name (I am not sure though that a certification given to a weird username would be ok)

[2021-03-18 05:21] RandellDawson opened #41518 "chore: Replace single line inline code blocks with multi-line code blocks"
To make single line code code blocks stand out more, we want to replace all such inline code blocks with multi-line code blocks in the Description and Instructions sections of a challenge.  There were 4 files that also had extra characters at the end, that have already been fixed (see PR #41498), so If you search all the files located in `curriculum/challenges/english` with the following regex, yo

[2021-03-18 06:39] raisedadead commented on #40259
Hi,

We are closing old issues/pull-requests that we think are stale. If you need still need help with this or are fixing this, please open a fresh issue/pull-request.

Thanks for your understanding.

Happy contributing.

[2021-03-18 06:39] #40259 closed

[2021-03-18 07:32] dwarak-cmd commented on #17802
The question is to strike-through Google and not Alphabet, below is the write answer to it:
  <h4><s>Google</s>Alphabet</h4>

[2021-03-18 07:36] ahmadabdolsaheb commented on #41071
Yes, so we would have a break point between two layout (show below).
They layout should completely change around 750px, since the face of the character in the animation is the focal point of the page. Smaller screens would cover her face.

In the screenshot you shared above the corner is centered by mistake, it should be to the left if the animation is shown.

Please let me know if my explanation

[2021-03-18 08:07] ieahleen commented on #41518
I can help with this,, I can do JavaScript

[2021-03-18 08:08] ieahleen commented on #41040
@Ismailtlem already if the name is private the username is shown, this issue appears if the name is not set

[2021-03-18 09:04] Sembauke commented on #41518
I can help with the Responsive Web Design one

[2021-03-18 12:24] LaurentLabine commented on #41518
I'll go ahead and attack the Front End one!

[2021-03-18 12:34] ShaunSHamilton commented on #41040
@moT01 Apologies if this has nothing to do with you, but I vaguely remember you being involved in the discussion I cannot find:

Was there any conclusion as to disabling the certification until a Camper has set their name, and made it public?

[2021-03-18 14:24] jdwilkin4 opened #41522 "Error message is showing for FCC News homepage in certain situations(this issue is also for the author login)"
**Describe the bug**
When you try to access the FCC news author account or click on the logo at the top of the FCC news page you get this error message
We are upgrading this part of freeCodeCamp.org for the next few minutes.

I first noticed this issue when I tried to login into my author account.
And then a few people mentioned this issue on the twitter account under one of the recent posts.
http

[2021-03-18 14:56] raisedadead commented on #41522
Thanks for reporting. On it.

[2021-03-18 14:56] #41522 closed

[2021-03-18 17:20] raisedadead commented on #41522
Hi @jdwilkin4

We have fixed the issue with the news (Ghost) instance. Thanks for reporting.

[2021-03-18 17:27] ieahleen commented on #41518
if someone else wants to do the JS one, I have not been able to yet, my dev environment is not behaving nicely

[2021-03-18 17:36] Sembauke commented on #41518
Take your time @ieahleen :)

[2021-03-18 17:46] LaurentLabine commented on #41518
Maybe I can redeem myself for the few mistakes i've made...  Do you need help with setting up?  What is the issue you are having?  Maybe I can help?

[2021-03-18 17:55] ieahleen commented on #41518
@LaurentLabine GitPod is having issues, I will try again tomorrow, for today I'm stopping here

[2021-03-18 18:13] LaurentLabine commented on #41518
Ahh Alright I cannot assist you then I have set it up using VSCode and downloaded all the code locally ...  Tomorrow is another day! :)

[2021-03-18 23:43] LaurentLabine commented on #41518
I'll go ahead and take on Data Vis and Coding Interview Prep

[2021-03-19 04:13] Leeoku opened #41528 "Typo in challenge for ES6 JS, "Use * to Import Everything""
**Describe your problem and how to reproduce it:**
There is a typo in the sample text provided. The comment says "Only change code above this line" for line 1. It should be "Only change code below this line", or move line 1 to line 2

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/use--to-import-everything-from-a-file

[2021-03-19 05:44] scissorsneedfoodtoo opened #41529 "Possible changes to backend project endpoints"
As mentioned in last night's Office Hour meeting, here are the current endpoints for the backend challenges, and some possible changes.

Please feel free to make any corrections or suggestions below.

## Current Endpoints

### APIs and Microservices Projects

- Timestamp Microservice
  - `GET /api/timestamp/{utc_date}` - Returns a JSON object with `unix` and `utc` versions of the input date
  - `G

[2021-03-19 05:55] gikf commented on #39620
Hey @SaintPeter look like parts of this issue were incorporated in PRs related to other issues. Is there anything still needed to be done as a part of this issue or can it be safely closed?

[2021-03-19 06:22] y-arjun-y opened #41530 "Hard to read the instructions for "Golf Code" in the JavaScript course."
**Describe your problem and how to reproduce it:**
Commas are missing in the paragraph, making it hard to read and understand the meaning behind the problem.

It should be something like this:
"In the game of golf, each hole has a par, meaning, the average number of strokes a golfer is expected to make in order to sink the ball in the hole to complete the play. Depending on how far above or below

[2021-03-19 07:38] gikf commented on #41530
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Along improving that part of text, it also should be considered, per #40749, if external link to Wikipedia page about golf is necessary for completing challenge. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCod

[2021-03-19 08:22] ShaunSHamilton commented on #41528
Thank you, for taking the time to open this issue.

It appears our Prettier config has removed the blank space in: https://github.com/freeCodeCamp/freeCodeCamp/commit/0bd52f8bd1272ad7c7b8f8c8fc6bda4b8403bd06#diff-076eefafe36ab78a9962f4ab3b72053588bac6c4f947041bf28d396d4e4d153f

I am going to open this up to first timer only, as it should be a case of forcing the blank space to return.

---

An iss

[2021-03-19 08:34] ieahleen commented on #40861
There was an update from discourse, they are working on fixing the issue, so I'm closing this.

[2021-03-19 08:34] #40861 closed

[2021-03-19 12:46] Nirajn2311 opened #41533 "Intellisense suggestion box appears out of place"
**Describe the bug**
Intellisense usually shows a list and box to the side of the menu with details of the current function/object etc. Since Intellisense has been disabled, the suggestion box shouldnt be visible but that isn't so.

In the below picture, there are two boxes, the one on the right ie. detailed box is the one that appears which shouldn't happen.

![Screenshot_7](https://user-images.g

[2021-03-19 12:55] #41530 closed

[2021-03-19 12:58] RandellDawson commented on #41529
`conversion`?

`translation`?

[2021-03-19 14:55] jdwilkin4 opened #41535 "Redux: Register a Store Listener challenge passes with incorrect answer"
**Describe your problem and how to reproduce it:**
Hi there!

A forum user in this [discussion](https://forum.freecodecamp.org/t/got-a-build-error-but-it-pased-the-test-redux-register-a-store-listener/451922) wanted to know why they received an error message for their code when it passed the test.

Here are the FCC instructions:
Write a callback function that increments the global variable count e

[2021-03-19 23:07] EvanHarper opened #41540 "Obsolete / potentially offensive cultural reference"
JavaScript Algorithms and Data Structures > Functional Programming > Use the filter Method to Extract Data from an Array

The variable watchList[0]["Actors"] contains the name of a former actress who is now an actor, having transitioned gender and changed his name to _Elliot_ Page. Many people describe it as mortally offensive or even endangering to use the former names of trans people in this way

[2021-03-20 00:08] RandellDawson commented on #41540
The current imdb.com site has updated the actors' names section.  Since this is the source of the data for 3 challenges, I think it is reasonable to make the same change on our site.

The name appears twice in each of the following challenge files:
- `curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-the-filter-method-to-extract-data-from-an-arra

[2021-03-20 00:21] ShaunSHamilton commented on #41540
I know it is more work, but would we not be better off changing all names/(personal info) to random/unrelated names/words?

[2021-03-20 07:18] Nirajn2311 commented on #41540
Yes, I agree with this as then we wouldn't have to worry about backlash or criticism if a mistake/error is made.

[2021-03-20 07:38] Omolajacodec commented on #41528
I would like to work on this issue, I'm a first timer

[2021-03-20 09:24] ShaunSHamilton commented on #41528
@Omolajacodec Thanks, for your interest in contributing. A PR is already linked to likely close this issue. So, you are welcome to find other issues with either _first timers only_ or _help wanted_ labels. 👍

[2021-03-20 12:47] gracewest333 commented on #41540
Just changed the name where necessary. I wasn't too sure what you meant by changing all the names/(personal info) to random/unrelated names/words in the context of movie information. Hope I helped :)

[2021-03-20 15:38] RandellDawson commented on #41540
The list of real movies gives the 3 challenges a more "real-life" purpose.  Changing the actor names to be random names would make the data not as interesting, not to mention inaccurate.  My proposal for changing the name will not happen often, so I do not think it is going to become a high maintenance issue.  If it were to ever become a high maintenance issue, we could adjust the challenges accor

[2021-03-20 18:03] rohitbhat1603 opened #41545 "Alternative Methods"
In the past we have added contextual navigation buttons in the UI to be able to reduce the nav items.

Since we have grouped all nav items in the menu button, I was wondering if having them in different pages is redundant.

Specially buttons that redirect to settings, portfolio, and sign out.
![110450876-aaafc480-80d4-11eb-891e-437f1c421200](https://user-images.githubusercontent.com/80664968/11188

[2021-03-20 18:11] rohitbhat1603 commented on #41448
This is low priority and I'm not sure if it has been brought up, sorry if I'm doing this wrong. On one of the challenges I had commented out the splice call but I still got an error that I should not use it. I assume when the checks are being performed they are not skipping commented out lines.

[2021-03-20 18:36] gikf commented on #41533
If there isn't cleaner way, then `Ctrl + Space`, shortcut for suggestions, could be re-bind to something else or some dummy function.

[2021-03-20 18:41] Sembauke commented on #41545
We are discussing if contextual navigation should be removed in #41423

[2021-03-20 19:38] ShaunSHamilton commented on #41448
@rohitbhat1603 We do have specific functions to deal with these cases. So, could you open a new issue (unless it is the same challenge as mentioned in this), and be sure to include as much detail as possible. Thanks.

[2021-03-20 19:42] ShaunSHamilton commented on #41545
It appears this issue has been accidentally copied from the above mentioned link. As such, I am closing this as a duplicate.

Thank you

[2021-03-20 19:42] #41545 closed

[2021-03-20 19:59] Nirajn2311 commented on #41533
That can be done but currently CSS has been used to hide Intellisense so even without clicking `Ctrl + Space` Intellisense works and all user has to do is click `Enter` and it autocompletes. Or both options can be done together ie.  re-bind the button combination and hide using CSS.
Yea there isn't a cleaner way, Monaco Editor doesn't give an option of completely disabling it.

[2021-03-21 10:15] miku86 commented on #41540
But we would also remove the need to check if facts change (like in this issue) or some moral stuff like if these folks become criminals or do other shady stuff. (Weinstein, Polanksi, Depp etc.).

I thought about using just animated movies, e.g. Toy Story, Finding Nemo, but then the whole lesson would need some changes.

[2021-03-21 16:50] RandellDawson commented on #41540
What if the name of the voice actor changes?  It is the same situation.

[2021-03-21 19:23] ShaunSHamilton commented on #41540
I think @miku86 meant use the character names, instead.

[2021-03-22 02:21] RandellDawson commented on #41540
We can do whatever, I still think the easiest solution for now is to just change the name in the 3 challenges.

[2021-03-22 08:29] gurjeetsinghvirdee opened #41549 "Issue with Implement a Root-Level Request Logger Middleware challenge"
Not working correctly everytime it's a issue!

https://www.freecodecamp.org/learn/apis-and-microservices/basic-node-and-express/implement-a-root-level-request-logger-middleware

**Tell us about your browser and operating system:**
* Browser Name: Google Chrome
* Browser Version: 89.0.4389.90
* Operating System: Windows 10 64 bit

**If possible, add a screenshot here (you can drag and drop, png, jp

[2021-03-22 08:49] ojeytonwilliams commented on #41448
@RandellDawson sure, we could definitely default to removing comments.  I feel like this could be an interesting 'help wanted' issue, too, since there's no time pressure.

[2021-03-22 09:55] ShaunSHamilton commented on #41549
Hello there,

In general, we recommend you open a topic on the [forum](https://forum.freecodecamp.org/), before opening an issue here. Reason being, it is most likely not an issue with the code base, but with your code.

Specifically, look at the note at the bottom of the lesson:

As such I am closing this issue. If you have any more questions, please make use of the forum. Thank you

[2021-03-22 10:19] ShaunSHamilton opened #41550 "Video Challenge Console Errors"
Errors in the browser console, when viewing/loading a video challenge:
[code]
[code]

Example page: https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-course/introduction-to-data-analysis

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: Tested Chromium based browsers
 - Version: Latest

Appears on `.org` and `.dev`

[2021-03-22 11:49] Sembauke commented on #41550
To my understanding, this issue starts when the `iframe` has not completed loading when sending a `postMessage`

[2021-03-22 16:18] #41528 closed

[2021-03-23 04:53] #41418 closed

[2021-03-23 05:11] oreo-gif opened #41555 "numbering the lessons and not going back to the topic name after pressing 'back'"
**Problem**
I was reviewing my lessons from ES6 which I have already done, but its very annoying to find the particular lesson I was on. example:- We have multiple lessons on destructive assignment. I did some 2 days back and again wanted to go further today but now I have to find from 4-5 lessons to see on which I was on. Suppose I clicked one and saw that I already reviewed that. After I push th

[2021-03-23 07:10] #18275 closed

[2021-03-23 09:45] ojeytonwilliams commented on #37097
I'm closing this since, when a solution is missing, challenge n automatically uses challenge n + 1's seed as it's solution.

[2021-03-23 09:45] #37097 closed

[2021-03-23 10:04] Sembauke commented on #41550
So this is called cross-origin sharing and it is a warning in case a website does not permit you to display their content on a different website. Fortunately, Youtube does allow you to use their videos. The content should work just work.

I think the issue doesn't need to be solved because it's just a safety warning. There may be an option to disable the warning.

[2021-03-23 10:09] ShaunSHamilton commented on #41555
Hello there,

Thank you, for taking time to open this feature request. I think most of what you are wanting is being resolved in version 7 of the curriculum (the project-based curriculum):
![image](https://user-images.githubusercontent.com/51722130/112129813-b369c580-8bbf-11eb-9505-1ae9267db1d7.png)

You can search for "_v7 Project Curriculum_" on the [news](https://freecodecamp.org/news/) for mor

[2021-03-23 10:50] Christopher-Stevers opened #41558 "Learners being directed to create env variables in replit."
I was directed to create and use .env files when using replit.com(which was recommended by freeCodeCamp. Replit does not allow you to use env files. [https://replit.com/bugs/p/replrun-not-loading-environment-variables](url). I would suggest the user be notified about replit's policy.

[https://www.freecodecamp.org/learn/apis-and-microservices/basic-node-and-express/use-the--env-file](url).

**Tell

[2021-03-23 11:15] raisedadead opened #41559 "Inconsistent styling on forum buttons and dropdowns"
![image](https://user-images.githubusercontent.com/1884376/112137843-c77ce980-8bf6-11eb-82ae-212d7faf8e91.png)

And some of the dropdowns are not styled correctly:

![image](https://user-images.githubusercontent.com/1884376/112137992-fb580f00-8bf6-11eb-96f1-66946f8485d2.png)

Link to repository: https://github.com/freeCodeCamp/forum-theme

[2021-03-23 12:32] ShaunSHamilton commented on #41558
Hello there,

Thank you, for taking the time to open this issue. Please note: ReplRun is slightly different, and not used for any of the Nodejs projects on freeCodeCamp.

`.env` files work as expected on Replit:
![image](https://user-images.githubusercontent.com/51722130/112146667-bff81900-8bd3-11eb-81b9-dee649c865e4.png)

![image](https://user-images.githubusercontent.com/51722130/112146599-aeaf0

[2021-03-23 12:32] #41558 closed

[2021-03-23 14:45] lasjorg opened #41561 "Missing information about local development for RWD projects"
Just as with the now [missing warning](https://github.com/freeCodeCamp/freeCodeCamp/issues/41417) about extensions, we also used to have a note about local development on the intro page.

Some tests require you to serve the page and not just open it in the browser.

Original PR: https://github.com/freeCodeCamp/freeCodeCamp/pull/38670

Not sure how best to deal with this but as there was talk about

[2021-03-23 18:15] ahmadabdolsaheb commented on #41555
Could you more information? I am not sure I understood the issue.

[2021-03-23 19:02] H1rkul2 commented on #41559
which page  can you put more information regarding this issue?

[2021-03-23 19:26] ShaunSHamilton opened #41563 "DEV: Straightening Out Challenge Meta/Info"
**Background**
Working on features like #41147 and #39695 has pointed out an issue around the current meta related to _challenges_ and _certificates_.

**Meeting with Ahmad and Oliver**:
- [x] Look into renaming `superBlock` (with `-v7`) -> `certSlug` (resolved in #41738)
- [ ] Scrape off unused `.md` files; look into using `.json`
- [x] Refactor using type schema for working in the components (re

[2021-03-23 19:52] ShaunSHamilton opened #41564 "Viewing v7 Certs from SuperBlock Fails"
To reproduce:
1) Complete any v7 projects
2) Go to settings to claim certificate
3) Navigate to related SuperBlock
4) Click on widget to view
5) Experience error:
![image](https://user-images.githubusercontent.com/51722130/112209172-159ee680-8c11-11eb-8feb-3ae09e86ac28.png)

I am busy fixing this now, before #41147

[2021-03-23 19:52] ShaunSHamilton commented on #41563
To drive my point home, I have found a bug in `CertChallenge.js`: #41564

[2021-03-23 20:29] #41511 closed

[2021-03-24 04:26] scissorsneedfoodtoo commented on #41529
Awesome, thanks @RandellDawson. Those are both great alternatives :+1: :+1:

[2021-03-24 06:09] oreo-gif commented on #41555
hey @ShaunSHamilton ! I'm sorry I couldn't get what you have specified here. :(
I think I need to explain more about what the problem I'm facing

[2021-03-24 06:35] oreo-gif commented on #41555
Suppose I have to revise ES6 which I have already completed before
I'll go to this heading:
![Screenshot 2021-03-24 at 11 41 27 AM](https://user-images.githubusercontent.com/71915346/112263847-f6966800-8c95-11eb-8187-fa7d5a0e18e3.png)

Then I have to find a particular topic for revising eg something from destructive assignment. The destructive assignment topic is in multiple lessons and I have to

[2021-03-24 09:31] gikf commented on #41236
As that's not used for anything anyway it might be better to just remove it all together.

[2021-03-24 10:16] gikf commented on #40051
`Iterated digits squaring` challenge could be changed to reflect original challenge from Rosetta Code page - counting how many numbers below certain `n` end up with `89`. That however will make it more similar to [Project Euler Problem 92](https://www.freecodecamp.org/learn/coding-interview-prep/project-euler/problem-92-square-digit-chains). But maybe since those are in different sub-sections and

[2021-03-24 11:11] ojeytonwilliams commented on #41564
Just a quick note: the problem occurs when you try to follow the link to the certification.

[2021-03-24 11:39] gikf commented on #40715
There's one more issue with this challenge, this also passes:
[code]

[2021-03-24 13:01] rtpHarry opened #41569 "Typo - Extra paragraph on final React and Redux lesson"
**Describe your problem and how to reproduce it:**

There is a paragraph tag breaking up the sentence at the start of the create react app link.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/front-end-libraries/react-and-redux/moving-forward-from-here

**Tell us about your browser and operating system:**
* Browser Name: Chrome
* Browser Version:  Latest
* Operati

[2021-03-24 13:40] ShaunSHamilton commented on #41569
Thank you, for taking the time to open this issue.

It appears it was potentially introduced here: https://github.com/freeCodeCamp/freeCodeCamp/pull/39800/files#diff-5c92d03acb07d19db25f4377f4f9447173f1c4b3250af0bbed06dc568cadf494

@ojeytonwilliams Is there any reason the parser needs this formatting?

[2021-03-24 14:58] #41564 closed

[2021-03-24 17:00] RandellDawson commented on #41555
To quickly move back and forth between lessons in a section, you can click the `Esc` on your keyboard and click `n` for next lesson and `p` for previous lesson.  These are shortcut keys.

[2021-03-24 19:02] gikf commented on #40411
To summarize the issue:
* Test checks only if trying to remove non-existing element from empty tree will return null.
* It doesn't check if the same happens for removing non-existing element from non-empty tree.
* This can lead to implementation, which doesn't handle the second case at all (and even as in example above can end up with error), and still pass challenge.

[2021-03-25 12:24] risaddex commented on #40405
I would like to point on this, the user's stories say "similar with this" but in practice it actually needs to be DEEPLY equal (i needed to look into assertions from the project to check what I was missing - in this case, the date Format since my date constructor was getting my local date, which with the tests, makes the date 1990-01-01 become 1989-12-31 )

just specify that the date format is man

[2021-03-25 13:27] oreo-gif commented on #41555
Got it @RandellDawson . thank you for the help 💯

[2021-03-25 13:28] RandellDawson commented on #41518
@ieahleen In an effort to get this issue closed, I created PR (#41576).

[2021-03-25 14:28] ahmadabdolsaheb commented on #41555
Great, the shortcuts will be included in the editor in the upcoming iteration.
I am closing this issue as it seems Randel has provided the related information.
Please let us know if this issue has been closed by mistake. happy coding.

[2021-03-25 14:47] nhcarrigan commented on #41518
When that PR merges, we should be good to close this right?

[2021-03-25 14:48] RandellDawson commented on #41518
@nhcarrigan Once mine is merged, the issue can be closed.

[2021-03-25 15:04] ahmadabdolsaheb commented on #41559
@H1rkul2, https://freecodecamp.org/forum.

[2021-03-25 17:14] Gramazeka-Reachyourgoals opened #41578 "I can't delete symbols when editing code on a SMARTPHONE while solving a task"
**Describe the bug**
Smartphone bug only
Situation: I open some lesson, like(https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/regular-expressions/using-the-test-method), turn on tab 'Code' and try with smartphone keyboard to solve task. I can type smth, but when I delete it site don't show any changes. So I can't delete wrong code, if I need. Because of this, I cannot s

[2021-03-25 19:23] ahmadabdolsaheb opened #41580 "UI Components Library"
###  Problem:
Currently our HTML and CSS consist of the followings:
- A custom bootstrap 3 minified stylesheet injected in the head.
- React-boostrap component library.
- Custom styles to re-write the bootstrap styles due to changes in design style guide.

As a result, we would need to remove a lot of the unused styles, overwrites, and find a better way to manage our components.

### Solution:
We

[2021-03-25 19:53] nhcarrigan commented on #41578
Hey there,

This is a known issue with the way the default keyboard in phones interact with the editor (likely due to the text prediction and autocorrect). We have an article which will point you toward some alternative keyboards that mesh well with freeCodeCamp: https://www.freecodecamp.org/news/freecodecamp-mobile/

For now, we are going to close this issue. 🙂

[2021-03-25 20:06] Sembauke commented on #41580
TailwindCSS: https://tailwindcss.com/docs/guides/create-react-app
StoryBook: https://storybook.js.org/docs/react/get-started/introduction

[2021-03-25 20:06] Gramazeka-Reachyourgoals commented on #41578
I'll try this keyboard, and it's work. Thank you, for gives the solving.
Best wishes!)

On Thu, Mar 25, 2021, 21:53 nhcarrigan ***@***.***> wrote:

[2021-03-25 20:09] #41555 closed

[2021-03-25 20:10] nhcarrigan commented on #41578
Glad to help. Happy coding!

[2021-03-25 20:23] ShaunSHamilton opened #41581 "Shaun Develop Breaks on Browser Load"
Potentially, upgrading to MongoDB 4 has broken the GitPod Development.

I am looking into it, but here are the errors:

Shortened Error (me trying to restart Mongodb, after an initial crash):

[code]

<details>

  <summary>mongod --version</summary>

[code]
</details>

<details>

  <summary>Full Error</summary>

[code]
</details>

<details>

  <summary>Potentially relevant client error</summary>

[2021-03-25 20:36] Ismailtlem opened #41582 "CI pipeline for coderadio"
Since tests are being written for the coderadio repo, I think that some CI pipeline testing every new PR would be great for that to make sure that it doesn't break anything.

@ahmadabdolsaheb what do you think ?

[2021-03-25 20:41] Ismailtlem commented on #40050
Can you guys sign in locally ? After running the project locally, clicking on the sign in button directs to http://localhost:3000/signin which doesn't return anything

[2021-03-25 20:56] RandellDawson commented on #40050
@Ismailtlem Did you seed the database with authorized user?

You can try running the following per our documentation?
[code]
or
[code]

[2021-03-25 21:05] Ismailtlem commented on #40050
works thanks

[2021-03-25 21:09] RandellDawson commented on #41518
Closing this issue as all related PRs have been merged.

[2021-03-25 21:09] #41518 closed

[2021-03-25 21:21] raisedadead commented on #41582
Yes please.

[2021-03-25 21:31] Ismailtlem commented on #41582
yes

[2021-03-25 22:26] rtpHarry opened #41587 "Typo - All code on one line in D3 lesson"
**Describe your problem and how to reproduce it:**
All of the code is on one long line, rather than being formatted.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/data-visualization/data-visualization-with-d3/work-with-data-in-d3

**Tell us about your browser and operating system:**
* Browser Name: Chrome
* Browser Version: Latest
* Operating System:  MacOS

**If

[2021-03-25 22:34] ShaunSHamilton commented on #41587
Hello there,

Thank you, for taking the time to open this. I believe this was fixed with: https://github.com/freeCodeCamp/freeCodeCamp/pull/41572

As such, I am closing this as shipping.

[2021-03-25 22:34] #41587 closed

[2021-03-26 06:08] oreo-gif commented on #41555
thank you for the help @ahmadabdolsaheb  @RandellDawson @ShaunSHamilton @nhcarrigan

[2021-03-26 07:27] raisedadead commented on #41581
To the best of my knowledge no code changes were made to upgrade MongoDB on GitPod. The base image using MongoDB 4 needs to be looked at.

In other words, the move to MongoDB 4.0.x (not same as 4.x) breaking GitPod is coincidental?

[2021-03-26 07:31] raisedadead commented on #41580
Should this issue be consolidated back into https://github.com/freeCodeCamp/freeCodeCamp/issues/16445

[2021-03-26 09:15] ahmadabdolsaheb commented on #41580
For that we would use stylelint which would enforce a common css style. I would keep both issues separate, but link them since they are related.

[2021-03-26 09:46] LaurentLabine commented on #41559
if it needs to solved quickly I might not be the right person but otherwise, I can look into this.

[2021-03-26 09:54] raisedadead commented on #41559
@LaurentLabine there is no deadline on a fix for this, although we would want this to fixed soon. If you are interested you should probably start by visiting the linked repository in the first comment on this issue thread.

There are some pointers on working on discourse themes.

Once you make some progress, let us know here or in our [chat room](https://chat.freecodecamp.org/channel/contributors)

[2021-03-26 10:10] ShaunSHamilton commented on #41581
To be honest, I have no idea.
- The base image: https://hub.docker.com/r/gitpod/workspace-mongodb
- Source: https://github.com/gitpod-io/workspace-images/tree/master/mongodb
- Docs: https://www.gitpod.io/docs/config-docker/

From what I can see, the docker hub provides no information about the image, but the GitHub repo suggests the image has not been updated in 4 months.

To me, this suggests an

[2021-03-26 10:22] raisedadead commented on #41581
That is pretty easy to confirm. On GitPod you should be able to checkout a commit (any commit) that was **best known** to working from a few days ago.

A diff should bring you closer to the root cause, say for example a dependency update somewhere.

But to prevent beating around the bush, I think we instead provide our own base image with requirements set in the local setup file.

Let me know if y

[2021-03-26 10:24] prohackerzzz commented on #41580
Can you please share some screenshots and elaborate more on this issue .I'm a newbie trying to contribute for the first time. Can you please help me??

[2021-03-26 11:11] #41077 closed

[2021-03-26 11:13] ahmadabdolsaheb commented on #41073
This feature is not on the roadmap anymore. We could reopen this issue once sufficient demand for this feature arises.

[2021-03-26 11:13] #41073 closed

[2021-03-26 11:38] Nirajn2311 commented on #41423
Yup, I think its better to remove them as they(Sign out and update account settings) are in the Menu itself. They might also end up confusing the user.

[2021-03-26 12:36] LaurentLabine commented on #41559
Alright, Sounds good!

I managed to run a local version of the discourse forum on my laptop and apply it the Theme in order to reproduce the issue so I'd say so far so good and I'm getting into it now!

[2021-03-26 13:05] pkarczma opened #41598 "Redundant scrollbars in curriculum answers"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
Under many (or probably all) answers in courses questions there is a vertical scrollbar that does nothing - there is nothing to scroll through. It is not breaking anything but it is a little bit annoying and mi

[2021-03-26 15:11] raisedadead commented on #41598
We have a fix incoming with https://github.com/freeCodeCamp/freeCodeCamp/pull/41556, thanks for your patience while this gets deployed on the platform.

[2021-03-26 15:11] #41598 closed

[2021-03-26 18:25] lasjorg opened #41608 ""Reuse JavaScript Code Using import" challenge throws"
Challenge: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/reuse-javascript-code-using-import

Forum thread: https://forum.freecodecamp.org/t/reuse-javascript-code-using-import/453041

`TypeError: unknown: (0 , s.extname) is not a function`

Not sure what is going on. Maybe it's related to some dependencies updates? I didn't look into it at all.

[2021-03-26 19:08] ojeytonwilliams commented on #41608
That's my suspicion.  This should have been caught by the tests, though, so I'll look into how that happened.

[2021-03-26 21:46] Sembauke commented on #41580
Hey @prohackerzzz,
This isn't really an issue it's rather an improvement of the codebase. You can check out the links I posted to familiarize yourself with the documentation. You may be able to contribute to this later.

[2021-03-27 02:16] RandellDawson commented on #41608
OK, after a binary search approach of testing various commits, the commit where this challenge displays this error is https://github.com/freeCodeCamp/freeCodeCamp/commit/ad9b1f89d8ef21c8ecd81c95717ed7e5582ff380

[2021-03-27 04:16] austinthetaco opened #41613 "understanding initialized variables has wrong criteria"
**Describe your problem and how to reproduce it:**
The solution icons below say a value of `15` for letter `b` but only passes with a value of 10. it also expects `5` for `a` but says it wants `6`. etc.
**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/understanding-uninitialized-variables

**Tell us about you

[2021-03-27 04:33] raisedadead commented on #41608
I have reset the production branches at 92dfb3065cfc62febb49e5a269c01b8e961ae712 (one commit before the offending commit in discussion) and pushed out deployments which should be ready within the hour.

Nice work pin pointing the commit @RandellDawson

I had my concerns with client breaking somewhere despite our best efforts testing this, @ojeytonwilliams IMHO I think we should rollback parts of t

[2021-03-27 04:43] gikf commented on #41613
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions with

[2021-03-27 04:43] #41613 closed

[2021-03-27 06:11] RandellDawson commented on #41608
The most disturbing part is that our challenge tests did not break and warn us that something was wrong.

[2021-03-27 06:21] raisedadead commented on #41608
Right.

The challenge tests did not break because they are not run in a browser environment. #41602 aims to do something that is going to hopefully bring us closer to testing without missing things. I stress "hopefully" though.

It's not that we didn't do a thorough QA as well. Some of us tested quite a few things if you look at the original PR.

In any case, I have an early confirmation that goin

[2021-03-27 06:29] raisedadead commented on #41608
Hey @freeCodeCamp/dev-team, the staging deployment seems to have been fixed for both this issue and the client search. I am proceeding with a deployment further.

[2021-03-27 06:43] raisedadead commented on #41608
Production is fixed for the challenge in the OP. Please close this when you are happy with the rollback.

[2021-03-27 06:44] RandellDawson commented on #41608
Everything is working again on production.

[2021-03-27 06:44] #41608 closed

[2021-03-28 04:05] siddhant7781 opened #41634 "Free"

[2021-03-28 04:49] #41634 closed

[2021-03-28 09:50] huyenltnguyen commented on #41582
You have my vote too 😄 This is something I have in mind as well when working with code radio, but have not been able to look into it due to time limit.

[2021-03-28 10:00] acoder123 opened #41636 "Compiler does not change ".then" method color"
**Describe your problem and how to reproduce it:**
If you create a promise and use the method ".then" it does not highlight blue like most methods. This is a small issue however it makes it seem like your code is bugged. This can waste a lot of time for new users who do not like to test their code unless it looks correct.

**Add a Link to the page with the problem:**

**Tell us about your browser

[2021-03-28 10:36] ShaunSHamilton commented on #41636
Hello there,

Thank you, for taking the time to open this. This is not an issue, whatsoever. Different themes highlight syntax in different ways, and it is impossible to match what a Camper might have locally, because there are dozens of themes.

My local setup looks completely different to the freeCodeCamp editor.
![image](https://user-images.githubusercontent.com/51722130/112749333-9e26d980-8fb9

[2021-03-28 12:11] davidbailey00 opened #41637 "Unnecessary for/id attributes in Basic HTML and HTML5"
**Describe your problem and how to reproduce it:**

Form challenges in the Basic HTML and HTML5 course suggest using `for` attributes on form labels:

However, this is only true when inputs are not nested within labels. When using nesting, this relationship is created implicitly - see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label

Therefore, the following example in the link belo

[2021-03-28 17:19] ahmadabdolsaheb commented on #41582
Here is something to get the party started. https://github.com/freeCodeCamp/coderadio-client/pull/138

[2021-03-28 20:06] oussamanidhal opened #41642 "Profile Picture Upload"
**Describe the bug**
when i am using Freecodecamp platforms this days, my profil picture does not appear in the menu bar and in the profil setting page. Freecodecamp don't allow users to upload their profil picture to the website, instead of that, they ask for the link of the picture. and this can make a problem.

**Steps to reproduce the behavior:**
1. Go to 'freecodecamp.org'
2. Click on 'sign i

[2021-03-28 21:05] oussamanidhal opened #41643 "UX"
**Describe the bug**
**Consistency** is one of the UX Design principal that every website should take care of that.
Sign out button above the title of the page "Account Settings for User Name" is not a good choice. I think that we should Remove this button or change the position at the bottom of the page. Because we have this button in the Menu

**To Reproduce**
Steps to reproduce the behavior:
1.

[2021-03-28 21:11] oussamanidhal opened #41644 "UX Consistency"
**Describe the bug**
Consistency is one of the UX Design principal that every website should take care of that.
Sign out button above the title of the page "Account Settings for User Name" is not a good choice. I think that we should Remove this button or change the position at the bottom of the page. Because we have this button in the Menu

**Steps to reproduce the behavior:**
1.Go to 'Freecodeca

[2021-03-28 23:55] ShaunSHamilton commented on #41642
Hello there,

This is not a bug, but the expected behaviour. As such, I have turned this into a feature request to add upload functionality.

[2021-03-28 23:57] ShaunSHamilton commented on #41643
Hello there,

I am closing this as a duplicate of #41423

[2021-03-28 23:57] #41643 closed

[2021-03-28 23:58] ShaunSHamilton commented on #41644
Hello there,

I am closing this as a duplicate of your previous issue which is a duplicate of #41423

[2021-03-28 23:58] #41644 closed

[2021-03-29 00:11] qiqicodes opened #41646 "The datasets link leads to a 404 page"
**Describe your problem and how to reproduce it:**
I'm currently translating this article to Chinese, and the "several datasets" link under "A note on objectivity" leads to a 404 page.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/news/coding-bootcamp-handbook/

**Recommended fix, suggestions (how would you update it?):**
If there is an updated url, I would love to inc

[2021-03-29 03:44] #41082 closed

[2021-03-29 11:39] #41500 closed

[2021-03-29 11:52] raisedadead commented on #41637
Thanks for the excellent report @davidbailey00

[2021-03-29 11:52] raisedadead commented on #41637
Hey @freeCodeCamp/moderators what do you think?

[2021-03-29 12:01] raisedadead commented on #41642
Hello,

Thanks for reporting. We have intentionally not implemented the feature for various needs. Some of them being able store and process files and also implementing a whole backbone of making sure we avoid nefarious uploads.

Most users have a social profile. You can use some of these instead, for example if you have an account on freeCodeCamp forum or GitHub

At the same time explaining the a

[2021-03-29 12:01] #41642 closed

[2021-03-29 12:05] raisedadead commented on #41636
I agree with @ShaunSHamilton here. We have picked an out of the box syntax highlighter and it is what it is for the moment. If there is a genuine need that the syntax highlighting needs updating say for a11y reasons we can discuss further.

Thanks for taking the time to reach out and report your feedback to us.

[2021-03-29 12:05] #41636 closed

[2021-03-29 12:35] miku86 commented on #41637
I think it's a good issue to reduce complexity :+1:

[2021-03-29 12:56] hassaanp commented on #41637
Agreed with having a non-nested version.

[code]

[2021-03-29 13:01] ShaunSHamilton commented on #41637
I could go either way - leave as is, or change to what has been mentioned. 👍

I do want to point out: https://html.spec.whatwg.org/multipage/forms.html#the-label-element

I can imagine a case where there is more than one labelable element descendant within a `label` element (perhaps, not semantically correct), and the `for` attribute would be required, if the desired associative element is not fir

[2021-03-29 13:06] RandellDawson commented on #41637
I agree that the example shown above by @hassaanp should replace the existing example, but I also don't think it would hurt to put the existing example after it.  There is nothing that says you can not do what our example shows (that I am aware of).

[2021-03-29 15:49] oussamanidhal opened #41653 "UX Consistency"
**Is your feature request related to a problem? Please describe.**
Consistency is one of the UX Design principal that every website should take care of that.
Sign out button above the title of the page "Account Settings for User Name" is not a good choice.

Steps to reproduce the behavior:
1.Go to 'Freecodecamp.org'
2.Click on 'Menu'
3.Scroll down to 'Settings'
4.See an error.

Screenshots

![cont

[2021-03-29 16:00] #41569 closed

[2021-03-29 16:06] Sembauke commented on #41653
Hey @oussamanidhal ,

You have posted this 3 times already the reason why your post is getting closed is that it is a duplicate.
Please forward your suggestion to #41423

Hope to see you there :)

[2021-03-29 16:28] acoder123 commented on #41636
Ok sure, thank you for your attentiveness.

[2021-03-29 18:35] leonfeng opened #41654 "UX improvement to the forum’s Ask For Help template"
**Describe the bug**
Last week, I saw multiple posts where people asking for help didn’t write down what they needed help with.

I think the help post template may be confusing some folks.

**Screenshots**
![Screenshot 2021-03-29 082908](https://user-images.githubusercontent.com/53984269/112882923-a298e280-90de-11eb-89f2-2c18ea360cb6.png)

**Additional context**
“Tell us what’s happening” looks a

[2021-03-29 18:46] ShaunSHamilton commented on #41653
As mentioned above, it has been explained in the previous issues, this is a duplicate. Please read through issue #41423 .

[2021-03-29 18:46] #41653 closed

[2021-03-29 18:54] ojeytonwilliams commented on #41581
I can't reproduce this, sorry!  If I go to https://gitpod.io/#https://github.com/freeCodeCamp/freeCodeCamp it just works.  I know we've talked about this before, but do you have any special settings for GitPod besides Enable feature preview?

[2021-03-29 18:55] ShaunSHamilton commented on #41654
Hello there,

Thank you, for taking the time to open this. I believe it would help _some_ Campers understand the need to add more information.

However, I suspect the large majority just post without reading any further. The Discourse software does have a lot of cool features aiding the topic creating (e.g. Information about informative titles, showing similar topics).

---

If others are in agree

[2021-03-29 18:57] ShaunSHamilton commented on #41581
Other than the Feature Preview, everything is bog-standard. I will try to disable FP.

[2021-03-29 19:13] ShaunSHamilton commented on #41581
- Disabled Feature Preview
- Rebased fork against upstream

<details>
  <summary>New Client Error (similar, but different)</summary>

[code]

</details>

[2021-03-29 19:17] raisedadead commented on #41581
If you have a lot of work in progress branches, I would suggest pushing them up to your fork and starting with a clean workspace, then on you should delete everything that is old/stale.

As a best-practice I would start with a new workspace (provided the work is saved elsewhere like pushing up to th remote fork) and getting rid of older workspaces.

[2021-03-29 19:17] ojeytonwilliams commented on #41581
Fork? That could be relevant. Could you drop the Gitpod link that you're using here.

[2021-03-29 19:18] QuincyLarson commented on #41646
@qiqicodes Awesome. Thank you for catching this broken link. I've updated the link to point to the right place

[2021-03-29 19:18] #41646 closed

[2021-03-29 19:21] ShaunSHamilton commented on #41581
I might be using the wrong word... all I meant is:
[code]

Here is the link I sometimes use - depends on whether I am testing with changes or not:
- https://gitpod.io/#https://github.com/ShaunSHamilton/freeCodeCamp

[2021-03-29 19:26] ShaunSHamilton commented on #41581
All of my testing (outside of the open PR branch) has been with a new workspace. I regularly clean the workspaces. Positive this is not part of the issue on my end.

[2021-03-29 19:41] raisedadead commented on #41581
Quick question: Are you using the preview browser within the GitPod environment? What happens if you ignore the crash on the preview browser and just use the "open in a new tab" button:

![image](https://user-images.githubusercontent.com/1884376/112890720-d54dd580-90f4-11eb-868b-caf2c0427f13.png)

If you reload there, is it the same behavior?

[2021-03-29 19:45] ShaunSHamilton commented on #41581
I never use the preview browser - always the _new tab view_ (full). Had not thought to try it there, but, if I am relegated to using the preview, I still would not use it...

[2021-03-29 19:48] raisedadead commented on #41581
Hmm, I was able to reproduce with a link from your fork in your previous comment. But the link from this main repo works A-OK. Is it the same case for you? Or is it broken no matter what you do?

I know you rely on GitPod quite a bit, we are totally cool with you pushing branches directly up to the main repository as an exception considering the massive amounts of work you put into contributions.

[2021-03-29 19:53] ojeytonwilliams commented on #41581
I've one idea left to try, that's updating my own fork and seeing if I can repro.  I'll have a go tomorrow.

[2021-03-29 20:06] ShaunSHamilton commented on #41581
This is the same for me. A workspace from `freeCodeCamp/freeCodeCamp` appears to work as expected.

So, it is just my fork (unless proved otherwise by Oliver)... I will report this to the GitPod GitHub. Thank you, both, for your time in this.

If there is anything in particular I need to work on, then I will take you up on this. Thanks

[2021-03-29 21:23] ojeytonwilliams commented on #41581
Just to confirm: it seems like it's some weird problem with Shaun's fork.  @ShaunSHamilton It's worth trying my fork https://github.com/ojeytonwilliams/freeCodeCamp, but I suspect it'll just work when you use my link.

[2021-03-30 07:03] gikf commented on #40812
This can apply to more Regular Expressions challenges, not only one with Wildcard Period

Some other options:
- Use `Change code below this line` and `Change code above this line`. In challenges, where only single line is expected to change, it might make more explicit where changes should be made.
- Remove line with `result`, for challenges not needing change in it. Method call and assigning resu

[2021-03-30 08:11] raisedadead commented on #41581
Worst case you would need to delete and recreate your fork and PRs, which is going to be a pain.

[2021-03-30 08:58] Nirajn2311 commented on #41581
Strangely, his fork doesn't work locally also.

[2021-03-30 12:19] ShaunSHamilton commented on #41559
Just to repeat from chat:
From just poking in the devtools, this is what I would look into:
1) Give the `ol` a `margin: 0 0 var(--nav-space)`
2) Get rid of the `.category-breadcrumb.select-kit-header` `margin-bottom: var(--nav-space)`
3) Get rid of the `.list-controls .combo-box .combo-box-header` `height: 38px`
4) The font-size is up for discussion, but I would leave it as is.

[2021-03-30 12:21] ahmadabdolsaheb commented on #41580
@prohackerzzz, I think once we have replaced a couple of the components, it would be easer to contribute as a first timer then.

[2021-03-30 12:37] ahmadabdolsaheb commented on #41580
It seems like there is a catch with working on the components one by one.
If we replace only one component, we would need to keep the injected bootstrap to keep the other components styled.
That would result in writing additional bootstrap rewrites for the new component.

[2021-03-30 15:05] ShaunSHamilton opened #41672 "Spanish CSS Strong Tag Bug"
Challenge File: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/espanol/01-responsive-web-design/applied-visual-design/use-the-css-transform-scale-property-to-scale-an-element-on-hover.md

As reported by _raulsanctes_, this challenge has a malformed `strong` tag around the note: https://forum.freecodecamp.org/t/simple-css-error-in-task-pane-only-in-spanish-version/4536

[2021-03-30 16:12] ojeytonwilliams opened #41673 "Two Spanish challenges with the same title"
curriculum/challenges/espanol/01-responsive-web-design/css-flexbox/apply-the-flex-direction-property-to-create-a-column-in-the-tweet-embed.md

and

curriculum/challenges/espanol/01-responsive-web-design/css-flexbox/apply-the-flex-direction-property-to-create-rows-in-the-tweet-embed.md

Have the same title, "Aplica la propiedad flex-direction para crear filas en el tweet Insertado"

@RafaelDavisH c

[2021-03-30 17:02] cyneptic opened #41675 "Manipulating Complex Objects Javascript passes with trivial code"
**Describe your problem and how to reproduce it:**

<details>
<summary>Previous comments</summary>

I know going for something like this defeats the whole purpose of learning, I just couldn’t help but try this and it passed. since I had some hard challenges so far that really engaged me by putting so many limits on. I thought maybe I should report this so that a new limit to prevent such action ma

[2021-03-30 17:04] jeremylt commented on #41654
I'm not big on the idea of adding an extra heading. Perhaps just the extra describe prompt:

---

**Tell us what's happening:**
 Describe your issue in detail here

**Your code so far:**
[code]
**Your browser information:**
blah blah blah

---

Mildly related - I think we should add a colon after "**Your code so far**" to match the other headings.

[2021-03-30 18:37] raisedadead commented on #41675
Hi @cyneptic

Can you please report this on [our forum first](http://forum.freecodecamp.org/) and see if this is a bug with the challenge or your code so far, the awesome folk there will help you with the challenge.

If there is a reason to believe this is a bug, we can reopen this for investigation.

Thanks, and happy coding.

[2021-03-30 18:41] cyneptic commented on #41675
I had opened a ticket on the forum, they told me to report it here.

[2021-03-30 18:44] raisedadead commented on #41675
Thanks for getting back to us. Can you point me to the forum post (it's the URL of the post in your browser)?

[2021-03-30 18:49] cyneptic commented on #41675
https://forum.freecodecamp.org/t/found-a-solution-that-might-not-be-ideal-for-learning/453661

[2021-03-30 18:56] raisedadead commented on #41675
Thanks for sharing a link to the post, when we first read thru the issue report it did not make much sense and now that I have given the forum post a read it makes more sense now. I have edited your original report here for better readability.

Thanks for reporting this.

[2021-03-30 18:57] ShaunSHamilton commented on #41581
After all of that, @Nirajn2311 pointed out the issue - Gatsby had enrolled me into their _super secret testing club_, and the development server-side rendering broke the build.

@raisedadead  Is it worth it me opening a PR with the change to prevent this? Or, am I really just that lucky?

[2021-03-30 19:01] raisedadead commented on #41581
Well, congrats on being the secret list that you never subscribed to (I hope?)!!

Please make a PR to make sure no else gets on the exclusive club list and is surprised. We wasted so much time for no reason. Lolz.

[2021-03-30 19:54] raisedadead commented on #41581
Hey @KyleAMathews

Thanks for getting back to us.

You are correct we do have a non-common setup. We essentially use [npm-run-all](https://www.npmjs.com/package/npm-run-all) in parallel mode for spinning our API and the client (Gatsby) apps.

https://github.com/freeCodeCamp/freeCodeCamp/blob/1e992546ae37fc7e258151f70b9b50cf8de381c7/package.json#L47-L48

Even within the client, we need to do a pre-

[2021-03-30 20:12] #41581 closed

[2021-03-30 20:15] KyleAMathews commented on #41581
Thanks for confirming the issue! No need for you to do anymore work — I'll fix this upstream so once DEV_SSR is enabled for everyone, it won't cause you (and others with similar setups) to have any trouble.

[2021-03-30 20:31] RafaelDavisH commented on #41672
"Note" should be wrapped with `<strong x-id="1">Note:</strong>` not with a code tag. I'll make the PR to correct this in min.

![note](https://user-images.githubusercontent.com/6822714/113052459-031a3500-915c-11eb-880d-b4d5e6fcc62e.PNG)

[2021-03-30 20:38] RafaelDavisH commented on #41673
Thanks, @ojeytonwilliams for catching this. This falls on me, I approved the translation. It's now corrected on CrowdIn to 'columnas'.

[2021-03-30 21:08] RafaelDavisH commented on #41672
Corrected on CrowndIn 👍

[2021-03-31 07:34] ojeytonwilliams commented on #41673
No worries, that's exactly what the tests are designed to catch.  Thanks for the quick fix!

[2021-03-31 07:34] #41673 closed

[2021-03-31 09:36] LaurentLabine commented on #41559
Thanks for your input!

I managed to find the combination of overwriting the margin to 0 and setting height to 42px seems to work.  Submitted a pull request with the changes : https://github.com/freeCodeCamp/forum-theme/pull/45.

Thanks again!

[2021-03-31 09:39] LaurentLabine commented on #41675
Hey,

Send it my way i'll take a look!

[2021-03-31 09:43] Sembauke commented on #41675
Oh, @LaurentLabine  I am also taking a look already

[2021-03-31 09:45] LaurentLabine commented on #41675
No problem i'll find something else! Cheers!

[2021-03-31 09:48] LaurentLabine commented on #41654
If it's a first-timer I'll let somebody do it but if not I can take care of making the changes.  Your call!

[2021-03-31 09:53] LaurentLabine commented on #41535
Nobody looking into this yet?  I'll take it a shot!

[2021-03-31 11:29] huyenltnguyen commented on #41580
@ahmadabdolsaheb I guess we could just build a set of new components first, then we could do incremental migrations when we deem they are ready.

Do we plan to use the components on other platforms too (code radio, news,...) or they will be /learn components only?

[2021-03-31 21:24] #41675 closed

[2021-04-01 05:56] RafaelDavisH commented on #41265
@nhcarrigan I would love to work on the 'Learn Responsive Web Design by Building a Piano" prototype. Hopefully, it has not been assigned yet.

[2021-04-01 06:36] #41672 closed

[2021-04-01 17:02] lasjorg opened #41724 "Did we drop support for Safari?"
Looking at PR [41501](https://github.com/freeCodeCamp/freeCodeCamp/pull/41501), it seems so.

Just as a heads-up we are starting to see forum threads now from Safari users and that specific [challenge](https://www.freecodecamp.org/learn/responsive-web-design/basic-css/change-a-variable-for-a-specific-area).

Examples:

https://forum.freecodecamp.org/t/issue-with-detection-for-penguin-belly/453902

[2021-04-01 17:40] Sembauke commented on #41724
This might have been me:
https://github.com/freeCodeCamp/freeCodeCamp/commit/87c9c799c6f7a9743a74c602694a2d6dcbfb9a20

Added a regex lookbehind that is not supported by Safari
https://caniuse.com/?search=lookbehind

[2021-04-01 17:47] ojeytonwilliams commented on #41724
Not deliberately, no.  Part of the problem is that we test the challenges using `js-dom`, not a browser.  I'd like to switch to using headless browsers, but, even then, Puppeteer doesn't currently support Safari: https://github.com/puppeteer/puppeteer/issues/5984.

So, every time fix regex issues, chances are someone (me, in this case) will forget about Safari.

One possible solution that we've di

[2021-04-01 17:48] Sembauke commented on #41724
@ojeytonwilliams  I have another solution that is supported by Safari should we revert the commit and change it?

[2021-04-01 17:52] ojeytonwilliams commented on #41724
@Sembauke yes please.  We won't be switching to a css parser immediately, so a PR to fix this would be great.

[2021-04-01 20:31] Ismailtlem commented on #40050
Here is a first fix in the handleSubmit method in the About.js component. It is just about seing if the provided url for the profil image is valid. If the provided url is incorrect, the default image is set. Should we maybe show some message if the provided url is incorrect ?

`  handleSubmit = e => {
    e.preventDefault();
    var { formValues } = this.state;
    const { submitNewAbout } = this.

[2021-04-02 06:47] ahmadabdolsaheb commented on #38373
I am closing this in favor of lists in trello cards.

[2021-04-02 06:47] #38373 closed

[2021-04-02 10:43] #39672 closed

[2021-04-02 12:25] ahmadabdolsaheb commented on #41559
For the dropdown, it seems like the parent element is not respecting the size of the child element and causes the padding to overlap the child element.
element size:
<img width="264" alt="Screen Shot 2021-04-02 at 3 12 15 PM" src="https://user-images.githubusercontent.com/4591597/113414628-14ff1080-93c6-11eb-85be-ebf4945753e9.png">
containing element
<img width="274" alt="Screen Shot 2021-04-02 at

[2021-04-02 13:29] moT01 opened #41729 "Links to news from search open in same tab"
If you search news articles using the search bar on /learn and click one - it opens in the current tab. All the links to news in the footer open in a new tab. Seems like they should all open in a new tab.

[2021-04-02 16:44] a2937 opened #41730 "API and Microservices: Timestamp challenge"
**Describe your problem and how to reproduce it:**
I was wanting to know if my advanced solution
was something that FreeCodeCamp was interested in. I use a
function to determine whether or not the value is a Timestamp.
I based this on how the JavaScript date object
can't parse a string objects that only has numeric
characters in it.

**Add a Link to the page with the problem:**
https://www.freecod

[2021-04-03 08:30] michaelparkadze commented on #41729
I can modify it to open in a different tab but my question is, is it really a bug? I think maybe it was intentional but I could still make a pull request and maybe have it 'fixed'.

[2021-04-03 09:52] Nirajn2311 commented on #41729
Well it would be better if anything other than 'learn' stuff appeared in a new tab, that way the user knows its different.

[2021-04-03 10:40] michaelparkadze commented on #41729
Here you go, made the change for the results to open in a new tab :)

[2021-04-03 12:51] gracewest333 commented on #41580
Hi, I am also a newbie who would love to help on this issue.  @huyenltnguyen I think that's a good idea to do it incrementally.

[2021-04-03 21:04] akibmaredia commented on #41540
Is this still open? I am a newbie would like to start with something simple

[2021-04-03 21:31] ShaunSHamilton commented on #41540
@akibmaredia Yes, this is still open. Feel free to create a PR.

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://con

[2021-04-03 22:20] akibmaredia commented on #41540
Just to confirm, we are to replace all the instances of Ellen Page to Elliot Page?

[2021-04-04 06:41] gikf commented on #41730
Hey @a2937 I'm not sure I understand. If you just want feedback on your project, then ['Project Feedback' category on forum](https://forum.freecodecamp.org/c/project-feedback/) is a more appropriate place for that. Or do you have a problem with project?

[2021-04-04 07:03] RaviOnline opened #41741 "Typo/Bug in For Loop iteration example of Basic Javascript lesson"
**Describe your problem and how to reproduce it:**
When iterating any array normally (from the first to the last element), the loop counter equals the length of the array minus one during its last iteration. The lesson docs incorrectly say

**Add a Link to the page with the problem:**
[Iterate Through an Array with a For Loop](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-struc

[2021-04-04 07:39] raunak6662 commented on #41741
@RaviOnline , I am interested to work on this issue.

[2021-04-04 07:49] Nirajn2311 commented on #41741
Yes, you are correct Ravi. Could you add the "first timers" label also.

[2021-04-04 07:56] gikf commented on #41741
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/iterate-through-an-array-with-a-for-loop.

[2021-04-04 09:44] ahmadabdolsaheb commented on #40050
@Ismailtlem, yes, I think we should display a massage.

So there are two issues here:
1) the user is trying to submit a broken image.
    We can have client validations and check if the link is working, etc, and display an error accordingly.

2) the link image breaks after submission.
    For the second, there is an image onError event that we could utilize and display the default image.

[2021-04-04 09:53] gikf commented on #40886
Would you have suggestions how wording can be improved here to avoid such confusion?

[2021-04-04 12:28] Sembauke commented on #41730
Hey @a2937  If I understand correctly you are asking if freeCodeCamp is interested in improving their test to pass the challenges?

Here are the current test for the project:
https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/timestamp-microservice.md

[2021-04-04 13:00] uptonnm commented on #40886
Sure - how about:

[2021-04-04 13:10] AhmedIbrahim336 commented on #41559
But what about the Dropdown we can make it distinctive from the background for example give it a shadow or a border to support hierarchy

[2021-04-04 16:57] jdwilkin4 opened #41743 "Typo in Introduction for Quality Assurance certification"
**Describe your problem and how to reproduce it:**
In the introduction, there is a typo in the second paragraph.
"In the Quality Assurance Certification, you'll learn how to write to write tests with Chai to ensure your applications work the way you expect them to."

There is an extra "to write" in that sentence that needs to be removed.

**Add a Link to the page with the problem:**

https://www.f

[2021-04-04 17:01] ShaunSHamilton commented on #41743
Thank you, for reporting this. However, this has been recently fixed in https://github.com/freeCodeCamp/freeCodeCamp/pull/41733

As such, I am going to close this as resolved/shipping

[2021-04-04 17:01] #41743 closed

[2021-04-04 20:16] ahmadabdolsaheb commented on #41580
@huyenltnguyen, I think here is the plan moving forward if we are planning to do incremental migration.

- The base styles should not be set in tailwindCSS since they include normalizers that also exits in bootstrap. ( we could add _base_ after removing bootstrap completely)
- Inject tailwindCSS after other stylesheets in head it rewrites other styles.( We should check the performance implications

[2021-04-05 00:21] a2937 commented on #41730
On the [Get a hint](https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-timestamp-microservice/301508) page it asked to contribute them. I believe [my solution](https://github.com/a2937/boilerplate-project-timestamp) is more elegant.

[2021-04-05 06:41] #41637 closed

[2021-04-05 06:49] #41540 closed

[2021-04-05 07:06] gikf commented on #41730
There's actually discussion regarding removing solutions for projects from hints entirely - see #40472 - so it might not be desired to add more solutions at this time.

I'm marking this as needing hints update to at least remove mentioned note, which may be misleading right now.

[2021-04-05 08:39] ahmadabdolsaheb commented on #41729
In addition to the search suggestions, searching the news by clicking the magnifying glass or "See all results for" should also open in a new tab since these are external pages to the learn platform.

[2021-04-05 08:45] ahmadabdolsaheb commented on #41559
@AhmedIbrahim336, so our strategy with the forum theme is to stay as close to the defaults as possible. The dropdown has a carrot icon that makes its functionality obvious.

[2021-04-05 09:33] avery-windham commented on #17420
I'm running into an issue where the correct answer is not allowing me to complete the segment.

Code:

<style>
  :root {
    --penguin-skin: gray;
    --penguin-belly: pink;
    --penguin-beak: orange;
  }

  body {
    background: var(--penguin-belly, #c6faf1);
  }

  .penguin {
    /* Only change code below this line */
    --penguin-belly: white;
    /* Only change code above this line */
    p

[2021-04-05 10:36] miku86 commented on #17420
@avery-windham

If I do what the instructions say, I pass the tests.

Please go to the [FreeCodeCamp Forum](https://forum.freecodecamp.org/) and open a topic.

Github issues are only for technical issues, not for asking for lesson-specific help. :slightly_smiling_face:

[2021-04-05 18:05] lasjorg opened #41749 "Incorrect use of display property in article text"
The article text incorrectly uses the `display` property with `position` values.

Example:

Then for the child element, set the `display` property to `absolute` and `top` to `50%:`

The actual code example that follows is correctly using the `position` property.

News article: https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/

[2021-04-05 19:01] ShaunSHamilton opened #41750 ""Get JSON with the JavaScript fetch method" Test Too Specific"
Challenge Page: https://www.freecodecamp.org/learn/data-visualization/json-apis-and-ajax/get-json-with-the-javascript-fetch-method
File: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/04-data-visualization/json-apis-and-ajax/get-json-with-the-javascript-fetch-method.md

Code which passes:
[code]
Code which fails:
[code]

The test should not rely on the variabl

[2021-04-05 20:46] PeroHub commented on #41741
I will Really love to work on this!!

[2021-04-05 23:06] kitarp29 commented on #41750
I would love to work on this @ShaunSHamilton
Please assign this to me

[2021-04-06 05:55] PeroHub commented on #41749
Please, is there any fix that should be done to this issue @lasjorg ? as I can't seem to understand what is required to be done to the display and position properties

[2021-04-06 06:33] Nirajn2311 opened #41751 "`e` keymap not working in challenges with JS"
**Describe the bug**
In challenges which make use of JS in the editor, the `e` keymap doesn't work as in it doesn't focus on the editor.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any challenge with a JS editor like [Comment-your-javascript-code](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/comment-your-javascript-code) or [Add-comm

[2021-04-06 11:38] supzi-del commented on #41749
I want to work on this but I'm unable to find the file this article is located in.

[2021-04-06 12:17] ShaunSHamilton commented on #41749
@PeroHub and @supzi-del Thank you, for your interest in contributing.

Issues labelled with the _help wanted_ or _first timers only_ labels are open for contribution. This issue is with regards to the news platform, which is not publicly editable. As such, a member of staff with write access to the platform will make necessary changes.

[2021-04-06 20:07] ieahleen commented on #41741
@PeroHub thank you! this issue has already a linked PR. If you have not done so yet check the contributing guidelines at contribute.freecodecamp.org, and look at other issues tagged with "first timers only" or "help wanted" and note that issues generally are not assigned, but the first comprehensive PR is reviewed

[2021-04-06 22:44] PeroHub commented on #41749
Alright thank you @ShaunSHamilton for the prompt feedback.

I will definitely check out the first timers labels and contribute

[2021-04-06 22:48] PeroHub commented on #41741
Thank you @ieahleen for the prompt feedback.
I will definitely look out for other "first timers only" issues to fix

[2021-04-07 00:41] JoshuaPelealu commented on #41580
I have worked with Storybooks before. I have used tailwind with Storybooks and Svelte, but I'm sure it can be changed into tailwind and React easily.

[2021-04-07 01:01] JoshuaPelealu commented on #41750
Hey @kitarp29, Usually if there is a 'Help Wanted' label, anyone can start working on it. I think @ShaunSHamilton meant to do this, but You can definitely start working on this!

Thank you for helping us improve freeCodeCamp!

[2021-04-07 02:59] kitarp29 commented on #41750
No problem @JoshuaPelealu I will wait for some time for Shaun to do it.
ELse I will start working on it

[2021-04-07 05:09] hassaanp commented on #41751
I have pushed a fix for this.
The issue was due to the `editorRef` not being assigned to the appropriate child component.

I have verified the fix locally.

[2021-04-07 07:59] #41247 closed

[2021-04-07 08:26] ShaunSHamilton commented on #41750
@kitarp29 Hey there,

This is open for contribution. Please read the last paragraph of the original post.

[2021-04-07 09:07] ojeytonwilliams commented on #41750
Since there's a 'first timers only' label, you're very welcome to contribute @kitarp29.

[2021-04-07 19:01] stackzzCryp opened #41765 "Chroshhomebrew"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2021-04-07 19:41] #41765 closed

[2021-04-07 21:33] Nicke7117 commented on #40846
Could I work on this issue?

[2021-04-08 00:15] lasjorg opened #41767 "Image served using cdn.freecodecamp.org returns 403 Forbidden"
The background image on the Build a Survey Form example project on Codepen is returning a 403.

The same image served using `raw.githubusercontent.com` works. It also loads fine if you just open it in the browser. Tested on Codepen/Replit/jsfiddle all with the same result (403).

Example Codepen:
https://codepen.io/lasjorg/pen/vYgeVQw

Might just be a temporary hiccup, but I wanted to post an issu

[2021-04-08 07:20] #41750 closed

[2021-04-08 09:55] leonfeng commented on #41510
Translation of these quotes is currently underway and is being discussed here: https://github.com/freeCodeCamp/news-translation/issues/402

[2021-04-08 10:15] leonfeng opened #41769 "Misattributed motivational quotes"
**Describe your problem and how to reproduce it:**
While translating the motivational quotes into Chinese, I discovered that many of them are attributed to the wrong person, or are not actual quotes at all.

**Why I believe this is important enough to open an issue**
Although not bugs in the code, these misattributions are akin to typos. And since freeCodeCamp is an educational organization, the c

[2021-04-08 10:24] ojeytonwilliams commented on #41510
Awesome, thanks for the update @leonfeng

I can't see an obvious way to make use of Crowdin for this.  So, as a general approach, could we ask proofreaders to take a look and come up with some appropriate replacements?  i.e. what @leonfeng is doing, but for other languages. @miyaliu666  @RafaelDavisH what do you think?

[2021-04-08 12:19] ShalokShalom opened #41771 "let instead of var"
**Is your feature request related to a problem? Please describe.**

In all due respect, why do you think its a great idea to use var in the year 2021?

**Describe the solution you'd like**

Let and const

[2021-04-08 12:42] leonfeng commented on #41510
@ojeytonwilliams Sure thing :)

[2021-04-08 12:59] ShaunSHamilton commented on #41771
Hello there,

Would you mind expanding on what you are referring to?

If you are referring to the various sections of the curriculum in which `var` is used, then it is simple - many codebases still use/have `var` declarations. Therefore, teach a Camper that this is/was a method of variable declaration; it is taught, because it exists, and is used.

If that is not what you are referring to, then a

[2021-04-08 13:04] jdwilkin4 commented on #41771
Hi @ShalokShalom !

`let` and `const` are introduced in the curriculum starting with the [ES6 section](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/#es6)

It sounds like you are referring to the first JavaScript section that uses `var`.
But the course does use `let` and `const` throughout the course.
Hope that helps!

[2021-04-08 13:42] ShalokShalom commented on #41771
And what keeps var at that first section?

[2021-04-08 13:53] ShaunSHamilton commented on #41771
Probably the fact that that section was developed before `let` and `const` were made into the standard. But, also, because `var` is still in the standard.

Imagine being a new programmer to everything. You have solely been taught `let` and `const`. Then, you come across `var`. I would think I was looking at a different language, because it is so fundamental to languages.

It is also important to k

[2021-04-08 14:56] #41741 closed

[2021-04-08 15:17] Sembauke commented on #41724
I might have found what you are looking for using a CSS-parser instead of RegEx.
https://www.npmjs.com/package/cssparser

[2021-04-08 16:27] raisedadead commented on #41771
Closing this non-issue. Thanks for your feedback @ShalokShalom and your clarifications @jdwilkin4 and @ShaunSHamilton

[2021-04-08 16:27] #41771 closed

[2021-04-08 16:30] raisedadead commented on #41769
Hi @leonfeng yes, we haven't gotten around to a good set of motivational quotes for Chinese (I believe we have some for Spanish). If you are interested in curating some of these and making a PR while fixing the current ones, we would love to have them in the repository.

I am sure both @QuincyLarson and @Miya would appreciate this as well.

Let us know?

[2021-04-08 16:36] raisedadead commented on #41767
Thanks for reporting this to us @lasjorg, this should now be pointed at: https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg

Do you know all the places where this need updating? I am guessing the survey form project obviously but there could be more references.

Will you be interested helping us with a audit and PR? Let me know.

[2021-04-08 18:19] jeremylt commented on #41741
Deleting github issue or pr content is really disruptive

[2021-04-08 18:45] lasjorg commented on #41767
@raisedadead I'm not sure I understand?

The URL you posted is the one that _is_ used and does _not_ work (as an image element or CSS background-image with the live editor sites). It works just fine if you open the image itself in the browser.

So anything using the cloudflare CDN is returning 403 when used in the HTML/CSS.

## Rundown of the RWD projects

### Build a Tribute Page:

https://codepe

[2021-04-08 19:07] ojeytonwilliams commented on #41767
Interesting, thanks for the detailed breakdown.  Presumably something is wrong with the headers we're setting (cors, most likely).  I'll take a look into it.

By the way, how are you generating those logs?  They look really useful.

[2021-04-08 19:43] Nirajn2311 commented on #41767
In the Network Tab of DevTools you can right click and save as a HAR log. Here's a link for reference - https://kb.acronis.com/content/58514

[2021-04-08 21:17] ojeytonwilliams commented on #41767
Cheers @Nirajn2311 I feel a bit silly for not noticing that. Thanks for helping me out!

[2021-04-08 22:01] ShalokShalom commented on #41771
Writing var and using them are two different things.
Teaching them, especially as the first thing you do, is imho irresponsible.

"Then, you come across var."
He goes to a co-worker, who hopefully explains him, that this is legacy code, that is gonna get replace asap.

[2021-04-09 04:39] #41724 closed

[2021-04-09 08:39] ojeytonwilliams opened #41785 "Remove Intro Markdown"
As discussed here https://github.com/freeCodeCamp/freeCodeCamp/pull/41746#issuecomment-814856761 the .md files in `client/src/pages/learn` are in need of cleanup.  They're currently quite misleading, because all the intro text is now sourced from JSON files in `client/i18n/locales`, but we still source the .md files in `client/gatsby-node.js`.

Ideally the data they provide should be sourced from

[2021-04-09 11:03] ahmadabdolsaheb commented on #41767
I noticed that CDN images load on .org, but not on .dev, local, etc.

[2021-04-09 11:08] miku86 commented on #41771
I totally understand both sides.

As an educator, I use `var`: because a lot of legacy code is built with `var`.

In my workshops, when I used `const`/`let`, people always came up with questions like "I had a look at some code since our last session, what does that `var` mean, we never talked about that!?". Then I had to "overload" their brains with `var`, `const`, `let` and their differences. Thi

[2021-04-09 11:13] ojeytonwilliams commented on #41767
Which images?

[2021-04-09 12:34] #40715 closed

[2021-04-09 13:37] moT01 commented on #41463
What would be the desired experience?

I see two potential solutions
- Use the selected theme and make the background of the code viewer dark when night theme is set
- Force the code viewer to use the light theme when viewing one of the solutions on the certification

[2021-04-09 14:12] moT01 commented on #41444
Most of the backend challenges and projects show `repl.it`...
![Screen Shot 2021-04-09 at 8 45 49 AM](https://user-images.githubusercontent.com/20648924/114192909-a238ec80-9913-11eb-8799-271f4055ab1b.png)

And in the challenge files...
![Screen Shot 2021-04-09 at 8 47 01 AM](https://user-images.githubusercontent.com/20648924/114192905-a107bf80-9913-11eb-8932-b4b02b7e5448.png)

We could probably up

[2021-04-09 14:24] moT01 commented on #41403
I like the idea of being able to see the overall progress from somewhere. Perhaps the map on the homepage isn't the best place, but the map on /learn has some room. I can't think of a good way to convey this info. One idea might be to have two columns on the right of each cert - a `Challenge Progress` and `Project Progress` or something. The challenge progress might say 50/1000 for how many challe

[2021-04-09 20:52] LaurentLabine commented on #41785
I can look into this!

[2021-04-09 21:02] jovicon commented on #41785
Can I take this issue?

[2021-04-09 22:31] LaurentLabine commented on #41785
Yes go for it!

[2021-04-10 07:48] ShalokShalom commented on #41771
I think you can benefit a lot, by telling them that this is legacy code, that var is buggy and a mistake, and a more experienced developer will fix this immediately.

This helps to avoid cluttering the minds of young programmers with stuff, they have not produced and since freecode is one of the largest Github repos and largest coding tutorial provider, **and since there is no warning** that var i

[2021-04-10 08:22] ShaunSHamilton commented on #41785
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues with contribu

[2021-04-10 11:06] shmooth opened #41791 "Lesson: Write Reusable JavaScript with Functions // Typo either in lesson or evaluation function"
**Describe your problem and how to reproduce it:**
The lesson (on the left) says the string to be printed should be `"Hi World"` (_with_ the quotes), but the evaluation function/answer will flag this as wrong/incorrect.

Previous lessons seem to be clear/consistent about what the expected answer should be -- i.e. if quotes are to be included in an expected answer, they are highlighted with grey ba

[2021-04-10 11:41] ShaunSHamilton commented on #41791
Hello there,

Thank you, for taking the time to open this. This is one of those things we have been trying to figure out the best way to communicate intent across multiple languages. The idea is the quotes indicate what should be returned is a string, because, often, if the instruction reads:

Campers will write:
[code]

In general, save for one lesson, we do not ask Campers to print quotes, but I