[2017-03-15 17:09] ldwoolley opened #13938 "Suggest we remove the example in the test description"
#### Challenge Name
https://www.freecodecamp.com/challenges/use-rgb-values-to-color-elements

#### Issue Description
Before this point in the training, I believe we have consistently used the test descriptions in the bottom left to list the required test, only.  This time, we give an example that is not the test condition in the test description.  So the test says make it black, for example make i

[2017-03-15 17:53] mikah13 commented on #13933
I assume that it is because you didn't add this:
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
on the top of your work

[2017-03-15 18:04] ldwoolley opened #13939 "Test actually applies to check-boxes and radio buttons"
#### Challenge Name
https://www.freecodecamp.com/challenges/responsively-style-radio-buttons

#### Issue Description
The current test states:

When the actual items tests for:

I recommend we modify the text to match the test.  Maybe we should also change the directions to state:

That way following the directions passes the test.  I had to just guess that the system also meant the other buttons.

[2017-03-15 18:27] ooade commented on #13810
@systimotic Anything on the es6 challenges... I was thinking... Since the code gets transpiled to es5, we could also test the es5 syntax. For example (This present challenge solution) transpiles:
[code]
to
[code]
Tested it locally and on [babeljs.io](https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=es2015&targets=&browsers=&builtIns=false&code=const%20half%20%3D%20(%7B%2

[2017-03-15 18:28] erictleung commented on #13938
@ldwoolley yes, this has tripped up some people just copying the code they see in the challenge tests. The example code in the challenge test was a reminder, but I agree, it is in an odd position.

Let's move that example code

[code]

from the challenge test and into the challenge description with the text like, `"Here's an example of how you'd change the body background to orange using its RGB c

[2017-03-15 18:29] OFFLlNE commented on #13927
@SebastianPetak great!
Good luck ;)

[2017-03-15 18:36] bikkua commented on #13934
thanks..got it..typo error..will post in help chatroom next time

[2017-03-15 18:41] andrenevares opened #13940 "Not recognise } on tag style"
I have followed everything.  It is not recognizing the '}' on the tag style.

Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%0A%20%20h2%7B%0A%20%20%20%20color%3Ablue%3B%0A%20%20%20%20font-family%3A%20arial%3B%0A%20%20%20%20font-size%3A%2050px%3B%0A%20%20%7D%0A%20%20%0A%20%20%0A%3C%2Fstyle%3E%0A

[2017-03-15 18:49] erictleung commented on #13940
@andrenevares Thank you for reporting this issue. You've added too many stylings to the `h2` element. You just need to turn it blue. Reset your code and try again. If you have any questions, reach out to the Gitter chat rooms (link below).

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the

[2017-03-15 18:49] #13940 closed

[2017-03-15 19:05] andrenevares opened #13941 "the image has the ALT"
the tag `<IMG>` has alt... but with diferrent text...
please change the description so peolple not change the Alternative Text

Challenge [Add Images to your Website](https://www.freecodecamp.com/challenges/add-images-to-your-website#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A

[2017-03-15 19:21] ZZhaoTireless commented on #13936
Hi, I could try to take this issue.

[2017-03-15 19:46] tomitina opened #13942 "Challenge #21 error"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

I created a smaller-image class to adjust my image width

[2017-03-15 21:47] erictleung commented on #13942
@tomitina Thank you for reporting this issue. Your code is almost there. You haven't completed the challenge yet. Please reread the requirements again.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific c

[2017-03-15 21:47] #13942 closed

[2017-03-15 21:58] erictleung commented on #13941
@andrenevares thanks for the issue. Yes, it seems the tests cannot handle the tilde on the a. I'd have to dig into a bit but that is why the challenge test fails. This will probably be important when incorporating other languages.

[2017-03-15 22:21] HKuz commented on #13879
@Skarrix - thanks for raising this issue. Amazingly, that's how fast screen reader users set their devices to read and is what the sound clip is supposed to sound like. If you're interested, here's [a link to an article](https://medium.freecodecamp.com/looking-back-to-what-started-it-all-731ef5424aec#.ryenxo5fb) written by @zersiax with more info about how he codes 😄 and [a link to the original So

[2017-03-15 22:32] zersiax commented on #13879
This issue amuses me :) Basically what you are hearing is a screen reader reading out the first part of a prior version of the article you just received a link to, however, it is set to a rate of about 700 words per minute, which is hard to follow for the untrained ear :) It is in fact not garbled, I can write the transcription for you word for word if you like ;)

[2017-03-15 22:35] HKuz commented on #13861
@Atomk thanks for bringing this up - I agree that a number of challenges (especially the animation ones you mention) were rather hard to explain using text only. Generally, we tried to avoid using images in the new curriculum but there are a few places where they'd be helpful. The site you linked to shows the differences well, only thing to be aware of is that any image we link to/use is under a C

[2017-03-15 22:41] #13889 closed

[2017-03-15 22:41] #13886 closed

[2017-03-15 22:52] Skarrix commented on #13879
:o I had no idea! That is quite amazing and very interesting.

Thanks for the clarification and the info links @HKuz and @zersiax
I have no idea how you keep pace with that @zersiax, that's one hell of a skill!

[2017-03-15 22:58] HKuz commented on #13274
@cdrainxv - first off, apologies for the super-delayed response to your issue. Thanks for noting this, I think this is a great suggestion. Your changes really illustrate the concept, and has the added bonus of removing the part that isn't covered until the next challenge.

I say we make your change to this challenge (remove the `flex-basis` property rows completely from the CSS for both boxes). Al

[2017-03-15 23:11] HKuz commented on #13471
Thanks for flagging this for me @Greenheart. @Atomk - yes, there will be some overlap with the new curriculum and the original challenges, and we welcome folks pointing out where we can clean this up. I think your idea to blend the two Google Font ones so we only cover the concept once, in one challenge, is a good idea. We can combine the points from both so no info is lost. I can take a crack at

[2017-03-15 23:15] vongdarakia opened #13944 "ConfirmEnding code is wrong, yet it passes"
#### Basic Algorithm Scripting: Confirm the Ending
http://beta.freecodecamp.com/en/challenges/basic-algorithm-scripting/confirm-the-ending

#### Not enough effective test cases
There should be a test case for a target ending that appears anywhere else other than the end of the string.

The purpose of the function is to determine whether the 'target' string appears at the end of the given string (s

[2017-03-15 23:23] #13927 closed

[2017-03-15 23:59] HKuz commented on #13790
Agreed - this is a great idea! We could easily slot it into the "Coding Interview Algorithm Questions" section on Beta. Here's the [link to the new challenge style guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenge-style-guide.md), if there's a consensus, I think the next step is putting this into the seed files to test out, and opening a PR.

[2017-03-16 00:10] ldwoolley commented on #13938
I can take this one, as long as there is patience with the NOOB in freeCodeCamp.  I have helped several other projects, I think I can sort this out.

[2017-03-16 02:14] cdrainxv commented on #13274
@HKuz: Thanks for following up on this issue. I'll take this up.

[2017-03-16 02:50] Tu110i opened #13946 "Could someone please tell me why my code does not run? Thanks!"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2017-03-16 03:01] henry130621 commented on #10786
邮箱验证打开网页显示404

[2017-03-16 03:01] erictleung commented on #13946
@Tu110i Thank you for reporting this issue. You code is slightly wrong. Take a look at your tags very closely. Otherwise, please ask questions in the Gitter chat rooms linked below. GitHub issues are not for coding help.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeC

[2017-03-16 03:01] #13946 closed

[2017-03-16 04:04] Brekmister commented on #13926
@cdrainxv I completely agree with you on that. I would personally just change the text of the error output on possibilities on what the user possibly did wrong instead of giving the output it already is. Assuming we are saying that the tests return `true` for passing and `false` for failing.

If it is such the case of `true` and `false`, why are they telling the users what is wrong in the code whe

[2017-03-16 04:30] erictleung commented on #13931
@ChaosPredictor thanks for the issue. Which API was not working for you? They both work for me.

[2017-03-16 04:30] erictleung commented on #13930
@DamienChantelouve thanks for catching this. Luckily, it still redirects correctly. Nonetheless, we should update this link.

[2017-03-16 05:24] singleparin commented on #4411
how is it that changing nickName from camelCase to nickname satisfied the problem?

[2017-03-16 05:24] singleparin commented on #4411
i'm kinda confused?

[2017-03-16 07:24] nativedone opened #13949 "[Beta] fix/difference between section and article tags - Applied Accessibility"
Challenge [wrap-content-in-the-article-element](http://beta.freecodecamp.com/en/challenges/applied-accessibility/wrap-content-in-the-article-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

- **I

[2017-03-16 07:43] cdrainxv commented on #13933
@mikah13: The font-awesome library has already been included behind the scenes so there is no need to include it here. Thanks for helping!

@bja09: From your screenshot it looks like you haven't added the the icon elements at all, much less the font-awesome classes. You can readily receive help/guidance on these challenges in the [Help](https://gitter.im/FreeCodeCamp/Help) room. Happy coding!

[2017-03-16 08:24] cdrainxv commented on #13939
@ldwoolley: It appears you have nested your radio buttons **and** your checkbox buttons in the same row. The instructions only want your radio buttons (of which you have two) to be on the same line, each taking up half of the row, thus each individual radio button must be nested inside of a col-xs-6 div.

In a following challenge, `Bootstrap: Responsively Style Checkboxes
`, you will be asked to p

[2017-03-16 09:00] cdrainxv commented on #13869
Yes, good catch! I would also suggest these visual changes in addition to what you suggested above:

For the example:
[code]

For the challenge code:

[code]

And lastly:
[code]
as comparison ratios are easier to visual than an outright fraction.

[2017-03-16 09:41] Kestutis2017 commented on #13932
so im correct its a bug ? :D i'm kinda new here so sorry if i'm mistaken, don't really understand if i found something wrong or no

[2017-03-16 10:24] 1cm commented on #13727
try to post back, via server control, some html and JavaScript code to server and you will see the issue.

[2017-03-16 13:24] ChaosPredictor commented on #13931
It was a problem with:
https://fcctop100.herokuapp.com/api/fccusers/top/recent
&
https://fcctop100.herokuapp.com/api/fccusers/top/alltime
links.

[2017-03-16 13:56] MaestroRich commented on #9936
I am having the same problem..

[2017-03-16 14:31] Deryckaus commented on #11856
i get the the problem in both edge and chrome , so im not so sure its a browser issue?
my thumbnails appear with the correct image though???

[2017-03-16 14:56] #13442 closed

[2017-03-16 15:23] YoungLeo14 opened #13951 "Passing Values to Functions with Arguments?"
Challenge [Passing Values to Functions with Arguments](https://www.freecodecamp.com/challenges/passing-values-to-functions-with-arguments#?solution=%0A%2F%2F%20Example%0Afunction%20ourFunctionWithArgs(a%2C%20b)%20%7B%0A%20%20console.log(a%20-%20b)%3B%0A%7D%0AourFunctionWithArgs(10%2C%205)%3B%20%2F%2F%20Outputs%205%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0Afunction%20functionWi

[2017-03-16 15:38] codehakase commented on #13951
I don't see anything wrong with this code, @YoungLeo14

[2017-03-16 15:39] YoungLeo14 commented on #13951
The point is that its not the code thats the problem, rather the code "completes" outputting 3 AND 16 @codehakase

[2017-03-16 15:44] cdrainxv commented on #13930
I can take this up, unless @DamienChantelouve claimed it.

[2017-03-16 15:46] cdrainxv commented on #13879
I'll take this up.

[2017-03-16 15:47] codehakase commented on #13951
You mean it only returns `3` and `16` ?

[2017-03-16 15:48] codehakase commented on #13951
I just changed the arguments passed, and it logs the correct values

[2017-03-16 16:08] kedarguy opened #13952 "Challenge [specify-exact-number-of-matches] The last test is wrong"
Challenge [specify-exact-number-of-matches](http://beta.freecodecamp.com/en/challenges/regular-expressions/specify-exact-number-of-matches) has an issue.

The last test is: Your regex should match "Timber" with 30 m\'s in it.

It should be NOT match Timber with 30 m's in it because the assignment is:

Change the regex timRegex to match the word "Timber" only when it has four letter m's.

The last

[2017-03-16 16:15] fortMaximus commented on #13930
I will take this issue but I can't find the file that has the 10th point, which has this API link, in the checklist on the challenge page. I found [this](https://github.com/freeCodeCamp/freeCodeCamp/blob/d04a6d34845db7178394bafac568593d12c47b30/seed/challenges/08-coding-interview-questions-and-take-home-assignments/take-home-interview-projects.json) file but it doesn't have this point.

[2017-03-16 16:31] Marmiz commented on #13951
@YoungLeo14

If you mean that with the code you wrote you still complete the `functionWithArgs(7,9)`, well... that's normal.

Our test run some function with the code you wrote and look for the output.
That's the standard behavior.

In this case the page will run a function `functionWithArgs` and will assign two arguments: `7,9` when you click the `run` button without the need for you to specify t

[2017-03-16 17:09] overmelo opened #13953 ""Something went wrong error" primarily affecting campers around South Africa"
I am trying to log in to my account at beta.freecodecamp.com and start the HTML challenges, but while i am always receiving this message: **SOMETHING WENT WRONG, PLEASE TRY AGAIN LATER**
i have tried many times, but it has not changed.

on this page, while clicking to "Finish Challenge", i am still getting that same "SOMETHING WENT WRONG, PLEASE TRY AGAIN LATER"

how can i fix it?
![beta issue](ht

[2017-03-16 17:26] ldwoolley commented on #13939
@cdrainxv I like the proposed improvement.  I was actually trying to point out a problem with the test.  The first time I did just the radio button and it didn't pass. Then I added the check-boxes and it passed, so I thought there was a problem with the test.  I just went back and tried the activity again, and this time it only required the radio buttons.  I must have swapped a `<div>` and `</div>

[2017-03-16 17:28] DvirMarom opened #13954 "It shows "Your form should have a button inside it" and it already has a button inside it."
Challenge [Add a Submit Button to a Form](https://www.freecodecamp.com/challenges/add-a-submit-button-to-a-form#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobst

[2017-03-16 17:50] cru5ader commented on #13954
use <button> tag inside <form> tag

[2017-03-16 17:51] cru5ader commented on #13954
use button tag inside form tag

[2017-03-16 17:57] ldwoolley commented on #13938
This code has descriptions in English, German, Spanish, Portuguese, and Russian.  I can do the English, Spanish, and Portuguese, but with German, I don't know the language well enough, and I don't know where to begin with Russian.  Is anyone out there willing to do the German and Russian, or want to do the Spanish?

[2017-03-16 18:30] Aminhimat opened #13955 "challenges"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3Ared%3B%7D%0A.red-text%3Dcolor%3Ared%0A%3C%2Fstyle%3E%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20yo

[2017-03-16 18:52] lawgotcode commented on #9413
Hello guys, Anybody still post in here?

[2017-03-16 18:54] shahriar19921 opened #13956 "What else should be done to run this?"
Challenge [Import a Google Font](https://www.freecodecamp.com/challenges/import-a-google-font#?solution=%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%0A%20%20%0A%20%20p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%

[2017-03-16 19:00] ldwoolley commented on #13938
Here is the proposed English changes: https://github.com/freeCodeCamp/freeCodeCamp/compare/staging...ldwoolley:Move-example-out-of-test-2?diff=unified&name=Move-example-out-of-test-2

[2017-03-16 19:40] systimotic commented on #13861
@Atomk That site is really nice!

As Heather said, specific suggestions on how to improve these challenges are welcome! 👍

[2017-03-16 19:55] dhcodes commented on #13955
@Aminhimat you have an error in your code. Please consider asking for help in the [help chat room](https://gitter.im/FreeCodeCamp/Help) on Gitter

[2017-03-16 19:55] #13955 closed

[2017-03-16 19:58] cdrainxv commented on #13956
@shahriar19921: Please enquire in the [Help](https://gitter.im/FreeCodeCamp/Help) room for challenge related help and/or guidance, as this page is reserved for issues. Happy Coding!

[2017-03-16 20:04] cdrainxv commented on #13954
@DvirMarom: Currently you only have an `input` element inside of your `form` element. Your `button` element is not nested **inside** of the `form` element.

Note: For faster responses and help/guidance on HTML/CSS challenges please visit the [Help](https://gitter.im/FreeCodeCamp/Help) room. Happy coding!

[2017-03-16 20:22] systimotic commented on #13645
Thanks for reporting @Barterr, and for investigating @fonsecapontes!

This issue is a duplicate of #10749. I'm closing this in favour of that.

[2017-03-16 20:22] #13645 closed

[2017-03-16 20:27] systimotic commented on #12787
Hi everyone! Thank you all for reporting and investigating this issue.

The style test issues are indeed caused by #10749 (an issue so many people are having that I know that number by heart now, and won't forget it for the rest of my life 😅)

The issue @benschac is talking about is being tackled in #12762.

I'm closing this issue as a duplicate of those issues. Happy coding!

[2017-03-16 20:27] #12787 closed

[2017-03-16 20:30] systimotic commented on #13954
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free-code-camp-off

[2017-03-16 20:30] #13954 closed

[2017-03-16 20:34] kprenesti opened #13957 "Suggested Change: Change the word blocks to groups"
Challenge [wrap-content-in-the-article-element](http://beta.freecodecamp.com/en/challenges/applied-accessibility/wrap-content-in-the-article-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.98 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possi

[2017-03-16 20:40] systimotic commented on #13755
Hi @s989uk! Thank you for reporting this issue.

You are right, there are some inconsistencies here. We have noticed that it's difficult to keep these videos up to date. We have decided to get rid of them. The videos are not there anymore in the beta.

I'm closing this issue as it has been resolved in the beta. Happy coding!

[2017-03-16 20:40] #13755 closed

[2017-03-16 20:48] systimotic commented on #13787
Hi @Marmiz! As you can tell from the late response, I'm no stranger to busy weeks 😅

Opening a PR anyway was a good move, that way other people might pick this up as well 👍

I'm a bit worried about the quality of the new gif.
https://i.imgur.com/G9KFQDL.gif old
https://i.imgur.com/oLYs8EA.gif  new
I think the new gif could be sped up a bit as well. As an onlooker, looking at the typing is really s

[2017-03-16 20:56] systimotic commented on #13936
Hi everyone! Looks like this issue is a duplicate of #12762, so I'm closing this in favour of that. Happy coding!

[2017-03-16 20:56] #13936 closed

[2017-03-16 20:58] systimotic commented on #13810
@ooade Interesting approach!! That may work, though I think it could be more prone to breaking if the transpiler changes. The spec won't change, but the transpiler might. Preferably, we'd fix this at the root cause and get access to the actual written code in the tests.

[2017-03-16 21:03] systimotic commented on #13292
Hi everyone! Thanks for reporting and looking at this issue.

I'm closing this issue as a duplicate of #12762
Happy coding!

[2017-03-16 21:03] #13292 closed

[2017-03-16 21:04] systimotic commented on #13008
Thanks for reporting this @benschac! I'm closing this as a duplicate of #12762

[2017-03-16 21:04] #13008 closed

[2017-03-16 21:34] ooade commented on #13810
@systimotic Cool! I'll be happy to help anytime it's ready.

[2017-03-16 21:56] digilou opened #13959 "Night Mode Poor Contrast"
#### Issue Description

I love Night Mode when doing the challenges. However, I noticed that the contrast seemed a bit low. Running the WCAG Contrast Checker extension confirmed my belief. See screenshot below. Lightening up the foreground color would be beneficial to everyone. Thanks!

#### Browser Information

* Browser Name, Version: Mozilla 52.0
* Operating System: Windows 7
* Mobile, Desktop,

[2017-03-16 22:15] HKuz commented on #13879
@Skarrix , @zersiax - my untrained ear can't follow it either, that's like a super power to me 😄

Thanks for taking this up @cdrainxv 👍

[2017-03-16 23:05] erictleung commented on #13956
@shahriar19921 Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/fre

[2017-03-16 23:05] #13956 closed

[2017-03-16 23:09] erictleung commented on #13952
@kedarguy thanks for the issue. Yes, that needs to be changed. [This line of code](https://github.com/freeCodeCamp/freeCodeCamp/blob/c125c385467fcd7a911eab89806a176ced0c6b05/seed/challenges/02-javascript-algorithms-and-data-structures/regular-expressions.json#L828) needs to be changed.

The message should be changed to

[code]

[2017-03-16 23:18] HKuz commented on #13957
@kprenesti - this is a good suggestion, and I think it'll help avoid confusion, particularly with non-native English speakers.

For anyone that would like to make this change (the word "blocks" should be changed to "groups" in the blockquote), please refer to the [Contributor's Guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) and ask any questions in the [Contribut

[2017-03-16 23:24] GnarlyVandal commented on #8543
If anyone else has this problem, a previous poster was correct in stating the program was looking for the variable JSON. Easy fix. Just add:    var = JSON;      underneath the (document).ready(function (){

[2017-03-17 01:54] heenabegum167 opened #13961 "concatenating strings doesnot work"
Challenge [Concatenating Strings with Plus Operator](https://www.freecodecamp.com/challenges/concatenating-strings-with-plus-operator#?solution=%0A%2F%2F%20Example%0Avar%20ourStr%20%3D%20%22I%20come%20first.%20%22%20%2B%20%22I%20come%20second.%22%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0Avar%20myStr%20%3D%20%22This%20is%20the%20start.%22%20%2B%20%22This%20is%20the%20end.%22%

[2017-03-17 01:56] ZZhaoTireless commented on #13957
I will take this. Thanks.

[2017-03-17 01:57] ZZhaoTireless commented on #13957
I will take this. Thanks.

[2017-03-17 02:33] Marmiz commented on #13787
Hello @systimotic, unfortunately the poor quality is due to imgur compressing :(
I had recorded it in on a retina display in high res.

The I used the imgur built-in tool to create a gif out of the video; I believe that that's where the compressing came from.

Plus the general slowness is due to github/our website I believe, the gif is exactly 13 seconds long :)

Perhaps we should use another tool

[2017-03-17 02:57] lindakatcodes commented on #13726
I'm just getting started with the HTML challenges, but I've noticed this problem as well. Only a few of the challenges seem to be doing it for me, not all of them. I made a gif of my screen showing the scrollbar not resetting:

![2017-03-16_21-51-45](https://cloud.githubusercontent.com/assets/16214572/24027103/15da9b70-0a93-11e7-8a5f-51a6888bcba1.gif)

I'm using Chrome v. 56.0.2924.87 - Windows 10

[2017-03-17 03:10] adetime commented on #13726
Yeah @lindakatcodes! It's the exact behavior 👍

In my experience it always happens. Perhaps, I have a good result only when the content fits my screen's height 😢 .

[2017-03-17 04:19] Marmiz commented on #13726
Am I correct in assuming that we are using React Router on the beta version?

If so, that was an infamous behavior that was fix by doing:
[code]
Perhaps in our page layout the left sidebar is not seen by that function.
I suggest to start investigating the `submitChallenge` function and/or our React Router behavior.

I'll give it a show whenever I can, but I encourage others to do so as well :)

[2017-03-17 05:06] szazadikablak commented on #9196
I know the reports were sent months ago,but i am still unable to use Night Mode on Chrome. :/

[2017-03-17 05:14] erictleung commented on #13961
@heenabegum167 Thank you for reporting this issue. Take a look at the strings once more. You're almost there.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list

[2017-03-17 05:14] #13961 closed

[2017-03-17 05:27] CodeSpyce commented on #13918
<style>
h2 {color:blue;}
</style>
CatPhotoApp </h2>

What is wrong with my code, I can't pass this stage yet

[2017-03-17 05:28] #13696 closed

[2017-03-17 05:34] CodeSpyce opened #13963 "Can't go past this stage"
Hey All,

I can't see what is wrong with my code
![image](https://cloud.githubusercontent.com/assets/26460128/24030180/6c8df6ca-0aec-11e7-9626-7cd74325e37d.png)

[2017-03-17 05:35] erictleung commented on #13938
@ldwoolley thanks for working on this. No worries on having to cover all the languages. Also, I would make the extra code example a bit formatted so it'll look nicer. Now that we're moving the example code to the description, we can make it nicer. So you'll need to create a new line with this code,

[code]

so it'll look like this

[code]

Also, please follow the branch naming convention and name

[2017-03-17 05:40] swoods63 commented on #12967
I am have the same problem. Here is my code for that line.

<a href="http://freecatphotoapp.com">cat photo</a>

[2017-03-17 05:44] erictleung commented on #13963
@CodeSpyce Thank you for reporting this issue. You code is incorrect. Please use the Gitter chat rooms linked below for asking for help. GitHub issues are not for coding help.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chat

[2017-03-17 05:44] #13963 closed

[2017-03-17 05:44] swoods63 opened #13964 "Having problems with the anchor element. Not sure why it doesn't work?"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2017-03-17 05:45] erictleung commented on #13964
@swoods63 Thank you for reporting this issue. Please reread the instructions carefully and note what text you need in your new `a` element. You're missing one letter.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for

[2017-03-17 05:45] #13964 closed

[2017-03-17 06:16] erictleung commented on #11022
So I think we all agree on a ~2 week period after a multi-commit, we can go ahead and squash-merge it? Additionally, if a new contributor needs help fixing a commit, whoever comments first on the PR should try to make an effort in guiding the contributor to correct their commits? Shall one of us make this amendment to our [guidelines](https://forum.freecodecamp.com/t/freecodecamp-moderator-guideli

[2017-03-17 06:28] imshashwataggarwal commented on #13952
Hi! Can I contribute to this issue?

[2017-03-17 06:36] reyna510 opened #13965 "lesson 18 - "Your img element should have the class smaller-image"."
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2017-03-17 06:39] reyna510 commented on #13965
![lesson 18](https://cloud.githubusercontent.com/assets/19519798/24031777/b6e9505c-0aa1-11e7-8fdd-c7593534d64c.jpg)

[2017-03-17 06:51] reyna510 commented on #13965
![screen shot 2017-03-16 at 11 40 11 pm](https://cloud.githubusercontent.com/assets/19519798/24032080/6be3db02-0aa3-11e7-8190-d53712c4a2da.png)

[2017-03-17 06:52] reyna510 commented on #13965
i tried adding and removing <style></style> tags.  (pictured above with two sets of style tags).

[2017-03-17 06:58] #13965 closed

[2017-03-17 06:59] reyna510 commented on #13965
found the answer on treehousehttps://teamtreehouse.com/community/how-to-add-class-to-the-image

answer:
 <img src= "img/gratt.png" class="profile photo" alt="picture" class="profile-photo"/>

[2017-03-17 07:00] makkBit commented on #13941
Adding a special character like ` @ % $ in alt prevents the test to pass. I would like to work on this issue. Can any mod guide me to get started with this bug?

[2017-03-17 07:08] makkBit commented on #13952
I am already working on this as my first contribution to open source world.

[2017-03-17 07:08] erictleung commented on #13952
@imshashwataggarwal go for it! Please first read the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) before taking care of this issue. And feel free to visit the [Contributors Help](https://gitter.im/FreeCodeCamp/HelpContributors) chat room if you have any questions about helping. We're there to help.

[2017-03-17 07:19] Manish-Giri commented on #13932
I don't think the production branch has the code from `staging` which fixed the bug, because I don't see the test that I added to the challenge, in the current version. The test can be found on `staging` [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/179da995c50eb973e01b7f681ed40e5de2195216/seed/challenges/01-responsive-web-design/basic-css.json#L2868).

[2017-03-17 08:23] Apollovishwas commented on #6249
why should we use brackets
           return myObj[checkProp];

[2017-03-17 08:50] ssinghal1989 opened #13966 "Search And Replace (Issue with the expected result)"
Below is my Code for string search and replace.

function myReplace(str, before, after) {
  var strArr = str.split(' ');
  var index = strArr.indexOf(before);
  var arr1 = strArr.slice(0,index);
  arr1.push(after);
  var arr2 = strArr.slice(index + 1, strArr.length);
  return arr1.concat(arr2).join(' ');
}

myReplace("He is Sleeping on the couch", "Sleeping", "sitting");

Its working fine for some

[2017-03-17 09:22] ssinghal1989 opened #13968 "Pig Latin Challenge"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-03-17 09:23] makkBit commented on #13952
Submitted a pull request https://github.com/freeCodeCamp/freeCodeCamp/pull/13967 :)

[2017-03-17 09:24] #13968 closed

[2017-03-17 09:24] ssinghal1989 opened #13969 "Pig Latin Challenge (Issue with test case)"
Below is my Code

function translatePigLatin(str) {
  str = str.toLowerCase();
  var isVowel = false;

  if(str[0] == 'a' || str[0] == 'e' || str[0] == 'i' || str[0] == 'o' || str[0] == 'u')    {
    isVowel = true;
  }

  if(isVowel){
    str = str + "way";
  }else{
    var str1 = str[0];
    var str2 = str.substring(1);
    str = str2 + str1 + "ay";
  }
  return str;
}

translatePigLatin("conson

[2017-03-17 09:25] aysrl commented on #4997
I had the same issue a couple hours ago. If you want to do this out of the FCC editor, just download animate.css here https://daneden.github.io/animate.css/, then add the link element to your head just like this:
<head>
	<title>iring itom</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="animate.css"> <-- Here is the animate.css -->
	<li

[2017-03-17 09:44] raipriya opened #13970 "Fadeinup and down not working"
Hei All,

 Actually i'm doing the 1st challenge that is Tribute page but now i have problem as i wanted to have text on the background image to be animated and fadein up and down but its not working.Please give me your valuable advice. I'm greatful to you all.
![problem](https://cloud.githubusercontent.com/assets/26298161/24037451/853182d6-0b06-11e7-9925-8d1fb19ca1a0.PNG)

Thanks in Advance

[2017-03-17 09:51] Marmiz commented on #13970
@raipriya Github issue is a place for bug tracking only.

If you are in need of help or assistance please use one of the [official chat room](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390) or the [forum](https://forum.freecodecamp.com/) where you can have better assistance.

----
That said, have you imported `animate.css` into the page?
In the same section where you add

[2017-03-17 10:57] #13970 closed

[2017-03-17 11:48] johnrayworth opened #13971 "Pedagogical Point About Teacher Arrays"
Challenge [Modify Array Data With Indexes](https://www.freecodecamp.com/challenges/modify-array-data-with-indexes) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2017-03-17 12:03] OFFLlNE commented on #13971
I personally agree with @johnrayworth. Seems like a fairly simple thing to do and might cause less confusion for people

[2017-03-17 12:24] emanusobga opened #13972 "Everything seemingly perfect but I can't pass.I reviewed my steps again and again and I can't find nothing wrong."
Challenge [Give a Background Color to a Div Element](https://www.freecodecamp.com/challenges/give-a-background-color-to-a-div-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20

[2017-03-17 12:48] dhcodes commented on #13972
You have an error in your code @emanusobga. Please consider asking for help in the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) on Gitter.

[2017-03-17 12:48] #13972 closed

[2017-03-17 12:49] dhcodes commented on #13971
This makes sense. I'm in favor of making the change.

[2017-03-17 12:57] JoolsMcFly commented on #13969
Quoting rules found on Wikipedia:

So in the case of *gl*ove you have to move both `g` and `l` after `ove` and then add `ay` which does give `oveglay`

If you try with `thrust` you should get `ustthray`

Have fun!

[2017-03-17 13:12] dhcodes commented on #13966
@ssinghal1989 you have an error in your code. Please consider asking for help in the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help)

Be sure to read the instructions carefully too, ex.

[2017-03-17 13:12] #13966 closed

[2017-03-17 13:21] JoolsMcFly commented on #13969
And as a quick code review, you can simplify the first step like this:
[code]

[2017-03-17 14:23] Shubham355 opened #13974 "Error"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-03-17 15:05] j113203 opened #13975 "Target Even Numbered Elements Using jQuery"
should change to
`$(\".target:even\").hasClass(\"animated\") && $(\".target:even\").hasClass(\"shake\")`
![image](https://cloud.githubusercontent.com/assets/5006280/24049270/7965c970-0b66-11e7-8acd-a1565e60a428.png)

as json parser encode the quote

![image](https://cloud.githubusercontent.com/assets/5006280/24049193/40a24fbe-0b66-11e7-99e0-5e7621db4066.png)

[2017-03-17 15:23] bja09 commented on #13933
@cdrainxv  Yes, indeed, but look at the html and check if I have a Like, Info or Delete button as HTML tags  + text , if you see  in the right of the screenshot what is rendered is a different thing than what's in the HTML. I don't have a place where to add he i tag for the icon element.

[2017-03-17 16:22] erictleung commented on #13974
@Shubham355 Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free-c

[2017-03-17 16:22] #13974 closed

[2017-03-17 17:26] Devcnn5 commented on #2264
just find the page of the challenge and modify the address a bit.
Add "#?solution=%0A%0A" in front of the challenge address.This won't remove the progress you've made on other challenges.
![chunky-monkey](https://cloud.githubusercontent.com/assets/10836749/24055129/e8ba54aa-0b64-11e7-8c9d-3d60d7be20da.jpg)

[2017-03-17 17:41] Petrovik1 opened #13976 "Does not accept even though it's correct"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty

[2017-03-17 17:42] #13976 closed

[2017-03-17 18:33] swoods63 commented on #13964
@erictleung
Dang it I hate that when that happens. Thank you for your help.

[2017-03-17 19:14] HKuz commented on #13058
I think we've left this issue open long enough for other folks to weigh in. I'm going to close it, but if anyone wants to add to the discussion, feel free to re-open 👍

Thanks all 🎉 🍀

[2017-03-17 19:14] #13058 closed

[2017-03-17 19:16] digilou commented on #13959
I'm happy to tackle this, if it's open! I just need to finish setting up my dev environment according to the contribution guidelines.

[2017-03-17 19:31] andrenevares commented on #13941
I do not understand 'mod' expression.   If you need something that i can
do, please just let me know.  I can do anything to help.
best reguards

2017-03-17 4:02 GMT-03:00 Mahak Narayan <notifications@github.com>:

--
André Nevares

[2017-03-17 19:32] varunmistry opened #13977 "he problem is that the code that ive written to clone target5 clones it and copies it to the left-well but since i cloned target5 the name of the elements are same and that ends up transfering double target 5 boxes. and its like on and off in some moment it shows only 1 box and other it shows both target5 box'es"
Challenge [Use jQuery to Modify the Entire Page](https://www.freecodecamp.com/challenges/use-jquery-to-modify-the-entire-page) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2017-03-17 19:48] #13274 closed

[2017-03-17 20:12] BerkeleyTrue commented on #12762
Possible solution to this are:

Wrap user code in an anon function. `const` are block scoped so wrapping them a function prevents them from polluting the namespace of the iframe.

Pass the user code through babel so that the `const`'s are transpiled to `var`'s

[2017-03-17 20:26] HKuz commented on #9413
Hi @lawgotcode - anyone watching this repository will see your posts in here, even though it's a closed issue 😄 - let us know what you're looking to discuss. For this issue specifically, a lot of the challenges listed above were created in the curriculum expansion push and are running on beta.freecodecamp.com and getting QA'd by the community. If you want to propose a new challenge, I'd say to ope

[2017-03-17 20:58] Petrovik1 commented on #10135
Poorly written and as we can see the web application has bugs that need to be fixed :)

[2017-03-17 21:12] Greenheart commented on #13586
@hay-dee I'm so sorry for the delayed response, I've been pretty busy (starting a new job).

I like your suggestions, thanks for taking the time! Feel free to open a pull request, or talk to others about it in the chat rooms :blush:

[2017-03-17 21:23] #13952 closed

[2017-03-17 21:35] Greenheart commented on #10749
@systimotic Excellent work, thanks for telling us about the issue in more detail. It makes sense that Firefox doesn't execute code related to hidden/unused parts of webpages.

Using a visible iframe would be a workaround, as it clearly works on the main site - but we proably want a separate test environment to improve the test framework for the future.

The behavior of your example can be explaine

[2017-03-17 21:43] Manish-Giri commented on #13977
@varunmistry The title of the issue should ideally be succinct and only a few words long, to describe the issue briefly. You can use the body of the issue to fill in all the details.

[2017-03-17 21:44] BerkeleyTrue commented on #10749
We run tests in a separate hidden iframe is to get around a whole host of issues with running user code multiple times for tests. In the future I would like to run each tests in it's own environment, so this would not be a solution. Alternatively we could try hiding the iframe in another fashion, such as making it `position: absolute; top: -9999999999999, left: -999999999;` and putting it in zero

[2017-03-17 21:49] Greenheart commented on #13750
@hay-dee Yeah thanks for looking into this, we need more discussions like this to help move the curriculum forward :blush:

[2017-03-17 21:49] BerkeleyTrue commented on #13730
@QuincyLarson back end challenges should not have `challengeType` properties. These are legacy and should not be added to new challenges.

Also, most of those challenges do not have proper tests.

[2017-03-17 21:57] #11194 closed

[2017-03-17 22:00] Greenheart commented on #10749
@BerkeleyTrue Nice haxz! Since it still is off-screen, I don't think it would work - but feel free to test it! :smile:

[2017-03-17 22:04] BerkeleyTrue commented on #10749
@Greenheart What makes you say that? Seems like the issue is `display: none` not that it is off screen.

[2017-03-17 22:09] ZZhaoTireless commented on #12762
Those are two approaches, right? Witch one you would prefer to take?

[2017-03-17 22:33] BerkeleyTrue commented on #12762
@ZZhaoTireless The second one would be best of the two

[2017-03-17 22:45] Gardemarin commented on #13977
It's  not issue. It's normal .clone() behaviour.

[2017-03-17 23:21] ZZhaoTireless commented on #12762
@BerkeleyTrue So I guess I need to start from the file [transformers.js](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/client/rechallenge/transformers.js)right?

[2017-03-18 00:12] rocifier opened #13983 "Css background images not working"
#### Challenge Name

#### Issue Description

I've tried a number of external image providers such as postimage.org and cloudinary.com but when I use the following css code, there is no background property added to the html output, seen when I inspect the element in chrome.

Example Pen:
http://codepen.io/rocifier/pen/pepjaK

#### Browser Information

Chrome 56.0.2924.87 (64-bit)
Windows 10 and Win

[2017-03-18 00:36] cdrainxv commented on #13926
@Brekmister: There's no way to account for all the possibilities of wrong answers a user could have typed in. The current regex test works just fine because it is only testing for the presence of the left property with the  correct values according to the instructions provided. The browser doesn't need to know if your code is correct or not, it will either compile what is in the editor if the synt

[2017-03-18 00:42] OFFLlNE commented on #13983
Thank you for reporting the issue.

This is not a freeCodeCamp issue, so this is why I am closing this one.

Good luck and happy coding!

[2017-03-18 00:42] #13983 closed

[2017-03-18 01:15] alexlo0319 commented on #1738
Well this doesn't concord with everybody's answer, this is mine:

if (str === 'not a palindrome')
     return false;
  if (str === 'nope')
     return false;
  if (str === 'almostomla')
     return false;
  if (str === '1 eye for of 1 eye.')
     return false;
  if (str === 'five|\_/|four')
     return false;
  return true;
}
palindrome("eye");

[2017-03-18 02:40] Lao-an opened #13985 "Problem with challenge "Size your Images""
Hello, I think I've run into a bug or something. I'm pretty sure my code is correct but it keeps saying:
Your img element should have the class smaller-image.
Your image should be 100 pixels wide. Browser zoom should be at 100%.

How should one proceed?

Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.google

[2017-03-18 02:46] Manish-Giri commented on #13985
@Lao-an

It actually isn't. As the error message says -

Your `img` element doesn't have the `smaller-image` class -
`<img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back. ">`

Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) for help with challenges like these. Happy Coding!

[2017-03-18 02:48] Brekmister commented on #13926
@cdrainxv  That does clear things up. Since that is the case scenario then you have the best proposal

I hope you can agree with me that this is a very common mistake and perhaps people like me are going to get tired real quick of people making that mistake

[2017-03-18 03:07] #13471 closed

[2017-03-18 03:10] dhcodes commented on #13977
@varunmistry as @Gardemarin has said, `.clone()` will copy the target it's applied to. I think this is functioning as intended.

[2017-03-18 03:10] #13977 closed

[2017-03-18 04:32] vikramnr opened #13986 "Golf Code passing while hard coding the values"
Challenge [Golf Code](https://www.freecodecamp.com/challenges/golf-code#?solution=%0Afunction%20golfScore(par%2C%20strokes)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20if(strokes%20%3D%3D%201)%7B%0A%20%20%20%20return%20%22Hole-in-one%22%3B%0A%20%20%7D%0A%20%20else%20if%20(strokes%3C%3Dpar-2)%7B%0A%20%20%20%20return%20%22Eagle%22%3B%0A%20%20%7D%0A%20%20else%20if(stroke

[2017-03-18 04:32] vikramnr commented on #13986
Test case give right value

[2017-03-18 04:32] #13986 closed

[2017-03-18 06:01] vigilantewhisper commented on #13985
same is the issue with me dude!!

[2017-03-18 06:26] jbbpatel94 commented on #12021
var count = 0;

function cc(card) {
  // Only change code below this line
  if(card==2 || card==3 || card==4 || card==5 || card==6){
  count++;
  return count +" Bet";
  }
  if(card==10 || card=='J' || card=='Q' || card=='K' || card=='A'){
  count--;
  return count+" Hold";
  }
   if(card==7 || card==8 || card==9){

  return count+" Hold";
  }

  // Only change code above this line
}

// Add/remov

[2017-03-18 07:59] QuincyLarson commented on #13957
@kprenesti Excellent point.

@ZZhaoTireless thanks for the fast turnaround on this!

[2017-03-18 07:59] #13957 closed

[2017-03-18 08:35] karanjariwala opened #13987 "truncateString("Absolutely Longer", 2) should return "Ab...". //this test is failing"
Challenge [Truncate a string](https://www.freecodecamp.com/challenges/truncate-a-string#?solution=%0Afunction%20truncateString(str%2C%20num)%20%7B%0A%20%20%2F%2F%20Clear%20out%20that%20junk%20in%20your%20trunk%0A%20%20%20%20if(str.length%3Enum)%0A%20%20%20%20%7B%0A%20%20if(str.length%3E3)%0A%20%20%20%20%7B%0A%20%20%20%20%20%20return%20str.slice(0%2Cnum-3)%2B'...'%3B%0A%20%20%20%20%20%20%0A%20%20%2

[2017-03-18 08:43] karanjariwala commented on #13987
No I believe this is a bug!  :)
Correct me if I'm wrong.

[2017-03-18 08:46] QuincyLarson commented on #8418
@erictleung there's no way to rename a Gitter room. Otherwise we would indeed rename that chat room to "general" or "casual".

[2017-03-18 08:46] QuincyLarson commented on #8418
@evaristoc yes - that would be awesome. If you pull all of freecodecamp/freecodecamp be sure to add it to https://github.com/FreeCodeCamp/gitter-history

[2017-03-18 08:57] QuincyLarson commented on #8418
OK - all the rooms that were deprecated were backed up afterward. I haven't heard anything from @abhisekp recently so I've gone ahead and deleted the deprecated rooms. Thanks everyone!

[2017-03-18 08:57] #8418 closed

[2017-03-18 09:04] psingl commented on #13976
My code is also not being accepted can you help me out please.
![image](https://cloud.githubusercontent.com/assets/13885706/24070669/f168b37a-0be7-11e7-847d-e69b68da7a9e.png)
Error being
![image](https://cloud.githubusercontent.com/assets/13885706/24070671/078fef10-0be8-11e7-89b8-9e912291988e.png)

[2017-03-18 09:44] Greenheart commented on #10749
@BerkeleyTrue I am only guessing here, but as `display: none` makes the browser ignore an element, I'm afraid moving an element off screen could have a similar effect.

But we should definitely test your idea!

[2017-03-18 10:47] erfe1 commented on #13976
كس امك

بتاريخ ٢٠١٧/٠٣‏/١٨ ١٢:٠٥ م، كتب "Paras Singla" <notifications@github.com>:

[2017-03-18 10:58] OFFLlNE commented on #13987
Thank you for reporting your issue.

Your code is wrong. you are slicing (0,-1)
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://

[2017-03-18 10:58] #13987 closed

[2017-03-18 12:09] hay-dee commented on #13586
@Greenheart Wow congratulations on your new job! No problems with the delay, i have submitted a PR to address the issue raised. You can review the PR when you have the time 😄

[2017-03-18 16:42] #13933 closed

[2017-03-18 16:49] clarayuan opened #13989 "bootstrap btn-block is not recognized. blocking the progress."
Challenge [Create a Block Element Bootstrap Button](https://www.freecodecamp.com/challenges/create-a-block-element-bootstrap-button#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20fo

[2017-03-18 16:50] #13989 closed

[2017-03-18 16:50] clarayuan commented on #13989
not a bug anymore.

[2017-03-18 17:47] vineethkumark opened #13990 "Size your Image.."
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64; rv:52.0) Gecko/20100101 Firefox/52.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2017-03-18 17:50] OFFLlNE commented on #13990
@vineethkumark thank you for reporting the issue. The code seems to be correct
Here are a couple suggestions:
+ Reload the page and run the tests again. A script may have crashed, preventing the tests from running.
+ Try the challenge in incognito mode. A plugin might be interfering with the tests.
+ Try the challenge in a different browser. There may be an issue with your version of browser.

Ple

[2017-03-18 18:47] sbibayoff commented on #13941
Also characters (, ) & ? don't validate
![freecodecamp_22](https://cloud.githubusercontent.com/assets/2384557/24074993/8e7af582-0bd0-11e7-8f6e-1e5da5ed6bb9.png)
 as alt text

[2017-03-18 21:15] Marvive commented on #13688
I do believe this is a bug, I'm having the same issue. Everything seems correct in the code.

[2017-03-18 21:56] kingluddite commented on #10613
resetting and re-typing code worked for me as well.

[2017-03-18 22:05] LLOYDLWEENDO opened #13992 "SIMPLE CAT MOBILE APP"
Challenge [Add Images to your Website](https://www..com/challenges/add-images-to-your-website#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%

[2017-03-18 22:12] OFFLlNE commented on #13992
Thank you for reporting your issue. Your code seems to be correct.

Here are a couple suggestions:
+ Reload the page and run the tests again. A script may have crashed, preventing the tests from running.
+ Try the challenge in incognito mode. A plugin might be interfering with the tests.
+ Try the challenge in a different browser. There may be an issue with your version of browser.

Please try the

[2017-03-18 22:20] LLOYDLWEENDO commented on #13992
Its fine! It was just a break due to internet failure.

Thanks for the prompt response!

[2017-03-18 22:21] #13992 closed

[2017-03-18 22:21] OFFLlNE commented on #13985
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-03-18 22:21] #13985 closed

[2017-03-18 23:42] texas2010 commented on #13965
Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](http://forum.freeco

[2017-03-18 23:45] texas2010 commented on #12967
@swoods63
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-03-19 00:46] haydennorthcott opened #13993 "The instructions are not very clear for this challenge."
Challenge [Convert Celsius to Fahrenheit](https://www.freecodecamp.com/challenges/convert-celsius-to-fahrenheit#?solution=%0Afunction%20convertToF(celsius)%20%7B%0A%20%20var%20fahrenheit%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%0A%20%20fahrenheit%20%3D%20celsius%20*%20(9%2F5)%20%2B%2032%3B%0A%20%20%0A%20%20%0A%20%20%2F%2F%20Only%20change%20code%20above%20this%20line%

[2017-03-19 02:13] #13939 closed

[2017-03-19 02:18] beaucarnes opened #13994 "Directions should be clarified"
The directions on this challenge should be a little more clear. In the description there is the following example of enqueue:
`PriorityQueue.enqueue(['kitten', 1]);`

There should also be an example of what the result of dequeue should be. I assumed the result of dequeue should be an array since that is what is used for enqueue. After being unable to pass the challenge, I looked at the code that i

[2017-03-19 03:41] dcat6969 opened #13995 "free camp code"
Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-f

[2017-03-19 07:00] prateekgoel opened #13997 "Clockwise padding not provided, still passes all tests"
#### Challenge Name

https://www.freecodecamp.com/challenges/use-clockwise-notation-to-specify-the-padding-of-an-element

#### Issue Description

It has been asked to use clockwise notation to have padding on green-box class. However, even if I do not use clockwise notation, it passes all the tests correctly. Is there any way this could be corrected?

Same is the issue with Challenge 51 for margin

[2017-03-19 07:31] Manish-Giri commented on #13997
This should be straightforward. I'll give it a shot.

[2017-03-19 08:52] Manish-Giri commented on #13995
@dcat6969 Thank you for reporting this issue. Your code is incorrect. Please use the Gitter chat rooms linked below for asking for help. GitHub issues are not for coding help.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chat

[2017-03-19 10:07] #13995 closed

[2017-03-19 10:11] WwupengP opened #13998 "Local Scope and Functions has bug"
Challenge [Local Scope and Functions](https://www.freecodecamp.com/challenges/local-scope-and-functions#?solution=%0Afunction%20myLocalScope()%20%7B%0A%20%20'use%20strict'%3B%0A%20%20%0A%20%20var%20myVar%3B%0A%20%20%0A%20%20myVar%20%3D%20'hello'%3B%0A%20%20console.log(myVar)%3B%0A%7D%0AmyLocalScope()%3B%0A%0A%2F%2F%20Run%20and%20check%20the%20console%0A%2F%2F%20myVar%20is%20not%20defined%20outside

[2017-03-19 10:15] WwupengP commented on #13998
after I hard refresh my browser, the test past.

[2017-03-19 10:23] #13998 closed

[2017-03-19 12:29] JoolsMcFly commented on #13944
You're right, nice find!
I'll give it a go and make a PR.

[2017-03-19 13:22] stephanmax opened #13999 "Test 4 fails in "Get JSON with the JavaScript XMLHttpRequest Method""
Challenge [get-json-with-the-javascript-xmlhttprequest-method](https://beta.freecodecamp.com/en/challenges/json-apis-and-ajax/get-json-with-the-javascript-xmlhttprequest-method) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.

Solution below fails for same reason as reported in #1357

[2017-03-19 13:49] govindakrgupta opened #14001 "Make Images Mobile Responsive"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

![screenshot_1](https://cloud.githubusercontent.com/assets/25879813/24081393/d3d5aee8-0c6f-11e7-90fe-a8f66fa67bc3.jpg)
![screenshot_2](https://cloud.githubusercontent.com/assets/25879813/24081394/d3fb0666-0c6f-11e

[2017-03-19 14:09] ansenevans commented on #4561
function myFunction() {

  // Only change code below this line.
  return Math.random();

  // Only change code above this line.
}

[2017-03-19 14:41] mnedariya commented on #14001
@govindakrgupta u were putting wrong code for that try this :-
<a href="#"><img class="img-responsive"src="https://bit.ly/fcc-running-cats" alt="Running cats."></a>

[2017-03-19 15:35] almesh commented on #14001
تم الإرسال من جهاز Samsung

Hi @govindakrgupta
The issue tracker is for reporting bugs only. If this is a request for help with a challenge, please use the help chat room or try looking through the forum for help with a specific challenge.
If this is the case, please close this issue.
Happy Coding.
--

Automated response by Var.CI 🤖

—
You are receiving this because you are subscribed to this thre

[2017-03-19 15:43] stephanmax opened #14002 ""ReferenceError: url is not defined" in challenge "Post Data with the JavaScript XMLHttpRequest Method""
Challenge [post-data-with-the-javascript-xmlhttprequest-method](https://beta.freecodecamp.com/en/challenges/json-apis-and-ajax/post-data-with-the-javascript-xmlhttprequest-method) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.

The code below actually yields a `ReferenceError: url i

[2017-03-19 16:46] Ethan-Arrowood commented on #12757
@bonham000 you can go ahead and check off

My commit with these challenges was just merged 😄

[2017-03-19 17:13] bonham000 commented on #12757
Ok, awesome @Ethan-Arrowood! I'll check it off. I just looked at the PR, nice job!

[2017-03-19 17:22] Ethan-Arrowood commented on #12757
@bonham000 thank you 😄

[2017-03-19 17:43] TantienHime commented on #13623
I had the same issue, but the code will only work when you change that line. I've looked through the forum and this is the only solution that has allowed it to pass. The instructions given on the initial code should be changed as stipulated above.

[2017-03-19 17:52] stevenyeager opened #14003 "Unclear Explanation of Important Topic: <divs> in CSS"
#### Nest Many Elements Within a Single Div Element
https://www.freecodecamp.com/challenges/nest-many-elements-within-a-single-div-element

#### Issue Description
As a beginner, divs are something I'm still getting a handle on. I spent a few minutes trying to understand this explanation of divs but found it more confusing than helpful:

"The div element is probably the most commonly used HTML elem

[2017-03-19 17:54] #14003 closed

[2017-03-19 18:20] anilt104 opened #14004 "Add Borders Around your Elements"
code is almost correct but unable to run with code  only with pixcel and class
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
    .thick-green-border
 {
border-color:green;
border-width:10px;
border-style:solid;
}
.red-text {
color: red;
}

h2 {
font-family: Lobster, Monospace;
}

p {
font-size: 16px;
font-family: Monospace;
}

.smaller-image

[2017-03-19 18:35] ronapelbaum commented on #14004
@anilt104 you can use the tick` in order to style text to be like code in MD (markdown) `like this`

[2017-03-19 20:08] AbshirYusuf opened #14005 "I have tried different variations, i researched and seem to not get a clear answer. reply on gitter wasnt helpful"
Challenge [Target the same element with multiple jQuery Selectors](https://www.freecodecamp.com/challenges/target-the-same-element-with-multiple-jquery-selectors#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22button%22).addclass(%22animated%22)%3B%0A%20%20%20%20%24(%22.btn%22).addclass(%22shake%22)%3B%0A%20%20%20%20%24(%22%23target1%22).addclass(%22btn-primary

[2017-03-19 20:29] ZZhaoTireless commented on #13930
@erictleung Hi, I guess you haven't release all the challenges on github right? I cannot find the seed of this challenge.

[2017-03-19 20:38] JoolsMcFly commented on #14002
I believe the aim of this challenge is not to produce code that actually works but to verify you're calling the right methods.

If you had a server set up that could accept a `POST` request to, say, `/cat-lover`, then you would replace `url` with that URL and your code would be valid and working.

[2017-03-19 20:50] autopoieticworld commented on #13435
Hi, I lost the whole day with that bootstrap 4 bug.
I would kindly suggest that meanwhile the beta is not released, complete the solution, a hint, whatever, to make it go smooth for students.
Cheers,
Diego

[2017-03-19 20:51] OFFLlNE commented on #14005
Thank you for reporting your issue.

Your code is wrong. Small typo mistake
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://foru

[2017-03-19 20:51] #14005 closed

[2017-03-19 21:31] stephanmax commented on #14002
Sure, I do get that. I just don't think it suits FCC to let students get away with syntactically false code that wouldn't work unless inside a `try-catch` block. Okay, that sounds more serious than it is 😉 Imho, it would be better to put a note there explaining that `url` is not a real API endpoint for a `POST` or provide a real endpoint.

I mean… putting your name inside the input field and press

[2017-03-19 21:46] erictleung commented on #13930
@ZZhaoTireless this challenge has changed between the production and [beta version](http://beta.freecodecamp.com/en/challenges/coding-interview-take-home-projects/use-the-twitchtv-json-api).

cc/ @freeCodeCamp/moderators the production and beta sites are different, with the production adding an update on using a Twitch API. I'm not too familiar with this part so asking for guidance on whether we s

[2017-03-19 21:46] erictleung commented on #14004
@anilt104 Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free-cod

[2017-03-19 21:46] #14004 closed

[2017-03-19 23:36] Manish-Giri commented on #13993
@haydennorthcott I think this is quite specific -

What do you think could be improved?

[2017-03-19 23:49] #13990 closed

[2017-03-19 23:49] kishoreiyer1412 opened #14006 "Change Color of Text doesn't allow uppercase inline style"
Challenge [change-the-color-of-text](http://beta.freecodecamp.com/en/challenges/basic-css/change-the-color-of-text) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

[2017-03-20 01:39] Marmiz commented on #14006
@kishoreiyer1412 thanks for reporting the issue.

Despite writing the inline style declaration in capital is not an error per-se, it's however considered bad practice among programmer.

So I believe the challenge is correct in not letting the above code pass.

[2017-03-20 01:43] erictleung commented on #14006
@kishoreiyer1412 thanks for the issue. Your code is *correct*, but if you compare your code with the example, you can see that the style and CSS information is lowercase, rather than uppercase as in your code.

cc/ @freeCodeCamp/moderators I feel like this has come up before. Should we just mention somewhere that CSS is generally in lowercase? Or change the test to include uppercase? [Here's](http

[2017-03-20 02:01] honourzxc commented on #10135
non e of you answered the question, can someone do this for me, that would be awesome thank you

[2017-03-20 02:13] Marmiz commented on #14006
@erictleung

In my opinion, no.
As a learning platform we should teach campers also the best practice in coding, and writing CSS in capital is certainly not.

So I'm fine that the challenge fail to pass the given code.

What we can do, and I agree with you, is be explicit about it, maybe by adding a few line in the challenge where we inform the camper about capitalization.
Maybe something like thi

[2017-03-20 02:30] taosang1992 commented on #5623
I also have problem about this challenge.
Finally ,I found all words that need be returned is lowercase.
Samll——>small.
Tiny——>tiny.
……

[2017-03-20 03:04] iamsamcode opened #14007 "Issue with <h2 class="red-text"CatPhotoApp</h2>"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%0A%20%20.red-text%20%20%7Bcolor%3Ared%7D%0A%20%20%0A%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20

[2017-03-20 03:07] Marmiz commented on #14007
@iammangod96 thanks for reporting this issue.

In your code however you're forgetting about a tiny, yet crucial detail: the closing semicolon `;` at the end of the declaration.

If you need assistance with a challenge next time please consider asking for help in one of the [official chat rooms](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390) or into the [forum](https://f

[2017-03-20 04:06] JonnyC26 opened #14008 ".smaller-image { width: 100px; } They are telling me to resize my image so I do that and it still does not work"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.smaller-image%20%7B%0A%20%20%20%20width%3A%20100px%3B%0A%20%20%7D%0A%20%20%20%20%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%2

[2017-03-20 04:08] JonnyC26 commented on #14008
I literlly did what they told me, I do not see anything wrong with the code to make the image smaller

[2017-03-20 04:19] getpapa commented on #14008
You need to reference the class on the image line .

[2017-03-20 04:20] Manish-Giri commented on #14008
@JonnyC26 You've not added the class to the `img` in HTML -
`<img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back. ">`

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific cha

[2017-03-20 04:55] arsubbu opened #14009 "Test Cases appears to be wrong. Because the number of arguments for the function keeps varying"
Challenge [Seek and Destroy](https://www.freecodecamp.com/challenges/seek-and-destroy#?solution=function%20destroyer(arr%2C%20a%2C%20b)%20%7B%0A%20%20%2F%2F%20Remove%20all%20the%20values%0A%20%20%0A%20%20return%20arr%5B3%5D%3B%0A%20%20%0A%20%20%0A%20%20%0A%7D%0A%0Adestroyer(%5B1%2C%202%2C%203%2C%201%2C%202%2C%203%5D%2C%202%2C%203)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; I

[2017-03-20 05:07] driftshift commented on #13727
happened to me on Chrome Version 57.0.2987.110 (64-bit)    Win10 64bit

[2017-03-20 05:22] erictleung commented on #14009
@arsubbu Thank you for reporting this issue. The test cases are correct. Please take a look at the [objects](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/arguments) linked on the challenge description to learn how to deal with them.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click

[2017-03-20 05:22] #14009 closed

[2017-03-20 05:23] erictleung commented on #14007
@iamsamcode Thank you for reporting this issue. But as @Marmiz has mentioned, you're missing a semicolon.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of

[2017-03-20 05:23] #14007 closed

[2017-03-20 05:24] erictleung commented on #14008
@JonnyC26 thanks for the issue but as others have pointed out, your code is incomplete for finishing the challenge. If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2017-03-20 05:24] #14008 closed

[2017-03-20 06:13] govindakrgupta commented on #14001
thank you soo much it hepl me alot!!!

[2017-03-20 06:44] 467danny opened #14010 "Blue not recognized?"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3A%20blue%3B%7D%0A%20%20%0A%3Ch2%3E%20CatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20r

[2017-03-20 06:45] 467danny commented on #14010
Update

<style>
  h2 {color: blue;}

<h2> CatPhotoApp </h2>

</style>

<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

[2017-03-20 06:45] mnedariya commented on #14001
close this resipository if u got the mistake @govindakrgupta

[2017-03-20 06:51] mnedariya commented on #14010
<style>
.red-text{
color: red;
}
</style>
<h2 class="red-text">CatPhotoApp</h2>
<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

Your code is wrong it is mentioned to add red text and u inputing blue and not using CSS kindly if u dont understand code first go to help and then if u facing pr

[2017-03-20 07:11] erictleung commented on #14010
@467danny Thank you for reporting this issue. your code is incorrect. Only put CSS style within the `style` tags. Please ask questions in the Gitter chat rooms linked below for help.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the he

[2017-03-20 07:11] #14010 closed

[2017-03-20 08:27] haydennorthcott commented on #13993
It feels like this task is quite a step up from the previous tasks. Maybe
having some steps in between.
I've given this one a second go & still struggled with it.

Hayden

On 20 March 2017 at 12:38, Manish Giri <notifications@github.com> wrote:

[2017-03-20 08:36] systimotic commented on #14001
Hi all! I'm closing this as an issue in the solution, not a bug in freeCodeCamp. `http` was used instead of the requested `https`

If you're looking for coding help, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free-code-c

[2017-03-20 08:36] #14001 closed

[2017-03-20 08:44] reyna510 opened #14011 "Nest the existing img element within an a element."
Challenge [Turn an Image into a Link](https://www.freecodecamp.com/challenges/turn-an-image-into-a-link#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20

[2017-03-20 08:46] reyna510 commented on #14011
here's the code in question:

<p>Click here for cat photos<a href="#"><img src="https://bit.ly/fcc-running-cats" alt="Three kittens running towards the camera."></a></p>

[2017-03-20 08:52] reyna510 commented on #14011
also, my chat is not working for fcc, i've already sent an email about it but have not heard back. which is why I had to post here.

[2017-03-20 08:55] #14011 closed

[2017-03-20 08:55] reyna510 commented on #14011
figured out i needed to add a element to the other image as well.

[2017-03-20 11:29] muhammedIbrahim265857 commented on #13976
![capture11](https://cloud.githubusercontent.com/assets/26529798/24098001/158c575e-0d71-11e7-8207-892f87648e78.PNG)
any help please , I do not know what is wrong ?

[2017-03-20 11:49] ssajuraj commented on #13976
<h2> style="**color:red**">CatPhotoApp</h2>

[2017-03-20 11:51] ssajuraj commented on #13976
`<h2 style="color:red">CatPhotoApp</h2>`

[2017-03-20 11:57] muhammedIbrahim265857 commented on #13976
thank you , i missed it :)

[2017-03-20 11:59] raisedadead commented on #13827
Closing. We strongly believe this has to do with your network and not the code base. Please feel free to continue on the thread should you need any assistance.

[2017-03-20 11:59] #13827 closed

[2017-03-20 13:58] Atomk opened #14015 "[beta] Replace GoMix with Glitch"
Recently, GoMix was renamed to Glitch. The "old" URLs are not working anymore, and this breaks some challenges, like [this one](https://medium.com/glitch/welcome-to-glitch-fe161d0fc39b#.suxl68eol). We should change all the appearances of "Gomix" to "Glitch" and fix all the broken links. It looks like in most cases the users are redirected to the right URL (glitch.com), but not always (e.g. the fir

[2017-03-20 14:30] johnrayworth opened #14016 "Separating "Stand In Line" Into Separate Lessons"
Challenge [Stand in Line](https://www.freecodecamp.com/challenges/stand-in-line#?solution=%0Afunction%20nextInLine(arr%2C%20item)%20%7B%0A%20%20%2F%2F%20Your%20code%20here%0A%20%20%0A%20%20arr.push(item)%3B%0A%20%20var%20x%20%3D%20arr.shift()%3B%0A%20%20return%20x%3B%20%20%2F%2F%20Change%20this%20line%0A%7D%0A%0A%2F%2F%20Test%20Setup%0Avar%20testArr%20%3D%20%5B1%2C2%2C3%2C4%2C5%5D%3B%0A%0A%2F%2F%2

[2017-03-20 14:32] Atomk opened #14017 "[beta] NPM introduction page rendering"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/managing-packages-with-npm/introduction-to-the-managing-packages-with-npm-challenges

#### Issue Description

In the first "page" of the introduction for the NPM challenges (there's two pages) the list is rendered with a smaller font. Looking in the HTMl, everything below the `<ol>` opening tag is put outside the `<p>` the rest of the

[2017-03-20 14:42] johnrayworth commented on #14016
This lesson is wonderful, but even though it's a simple solution, in terms of understanding what's going on, it has waaay too much for one time, at this stage of the curriculum.

It could easily be split into
- parameter passing
- returning values
- writing to the console (and stringifying)
- push
- shift

And in general, the concept of functions, not just here, but a couple of times before is tos

[2017-03-20 14:42] #14016 closed

[2017-03-20 15:03] johnrayworth opened #14018 "Where to Find Pipe Symbol"
Challenge [Comparisons with the Logical Or Operator](https://www.freecodecamp.com/challenges/comparisons-with-the-logical-or-operator#?solution=%0Afunction%20testLogicalOr(val)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0A%20%20if%20(val%20%3C%2010%20%7C%7C%20val%20%3E%2020)%20%7B%0A%20%20%20%20return%20%22Outside%22%3B%0A%20%20%7D%0A%0A%20%20%0A%0A%20%20%2F%2F%20Only%20c

[2017-03-20 15:07] juansalvatore opened #14019 "*SPOILERS* challenge finished but don't understand something"
#### Challenge Name:

Caesaras Cipher

#### Issue Description:

I've finished this challenge, but I don't understand completely why the first for loop is ignoring the !?. and " ".  I know is ignoring it, because in the second loop the ascii number left for those characters is the original, it's not subtracting nor adding 13.

#### Your Code

[code]

[2017-03-20 15:46] sgaweda opened #14020 "Target Even Numbered Elements Using jQuery UX"
#### Challenge Name

<a href="https://www.freecodecamp.com/challenges/target-even-numbered-elements-using-jquery">Target Even Numbered Elements Using jQuery</a>

#### Issue Description

I've read some of the feedback with this problem and how it deals with the even/odd issue and while I was able to understand what the code does, visually it doesn't make much sense to me. We label these buttons wit

[2017-03-20 15:56] ogora commented on #10135
abc173 above answered the question about chnaging the href... unless you had another question. I did that and It worked for me.

[2017-03-20 16:24] ZZhaoTireless commented on #14015
I would like to take this. Could I know if the **beta** version has been in `staging` branch, or it in another `branch` or `repo`?

[2017-03-20 17:42] piyushkathayat commented on #7713
@cainesim I am also getting the same error. Can't see any issue.  Did you find any solution ?

[2017-03-20 18:22] somestuffhere opened #14021 "Bug possibly?!?"
Challenge [Target the Children of an Element Using jQuery](https://www.freecodecamp.com/challenges/target-the-children-of-an-element-using-jquery) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:

[2017-03-20 18:34] Axeex commented on #6541
Try this

var myStr = "I am a \"double quoted\" string inside \"double quotes\".";

[2017-03-20 18:44] ldwoolley commented on #13938
Agreed.  I will use the naming convention in the instructions.  The instructions also ask for a complete run on the code to test it out.  It will take me a couple of days to work through that setup.

[2017-03-20 19:06] mike1136 commented on #13941
`<img src="https://bit.ly/fcc-relaxing-cat" alt="A cat laying upside-down. "> `
Didn't  work either, the "-" on upside down was the issue, removing it fixed the problem, leaving this here for future references

[2017-03-20 19:15] rabitz21 opened #14023 "Correct answer, won't accept"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20.p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%7D%0A%20%20%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%20%3D%20%22red

[2017-03-20 19:21] #14023 closed

[2017-03-20 20:07] djdevanshijain opened #14024 "checking first radio button as default showing error;the same code is working for second radio button but not the first one"
Challenge [Check Radio Buttons and Checkboxes by Default](https://www.freecodecamp.com/challenges/check-radio-buttons-and-checkboxes-by-default#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%2

[2017-03-20 20:15] kev0587 opened #14025 ""The quotient variable should only be assigned once""
Challenge [divide-one-decimal-by-another-with-javascript](http://beta.freecodecamp.com/en/challenges/basic-javascript/divide-one-decimal-by-another-with-javascript) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.110 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshot

[2017-03-20 20:19] kev0587 commented on #14025
This seemed to only fail when going through the Map progression (running test and clicking "Submit and go to next challenge".  Out of curiously, I clicked on the auto-generated link to the challenge above when creating the bug and opened the test in a separate tab and it passed.  I navigated back to my original tab and it failed using the same code.

[2017-03-20 20:32] erictleung commented on #13938
@ldwoolley thanks again for your interest in working on this! :+1: Let us know in the contributors room if you run into any troubles. First time setting up the project can be intimidating.

[2017-03-20 20:47] erictleung commented on #14019
@juansalvatore Thank you for reporting this issue. Run through your second `for` loop closely and slowly to find your issue and actually understand what that `for` loop is doing. If you are still unable to find the answer, please ask your questions in the Gitter chat rooms linked below.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for

[2017-03-20 20:47] #14019 closed

[2017-03-20 20:52] erictleung commented on #14021
@somestuffhere thanks for the issue. Yes, this is a bug, but this has been fixed in the `staging` development branch of freeCodeCamp. You can check the fixed version [here](http://beta.freecodecamp.com/en/challenges/jquery/target-the-children-of-an-element-using-jquery). So closing as resolved in staging. Happy coding!

[2017-03-20 20:52] #14021 closed

[2017-03-20 20:53] ZZhaoTireless commented on #14018
I will take this.

[2017-03-20 21:20] dhcodes commented on #14015
Beta is on staging. Rebase with the latest updates and you should be good to go

[2017-03-20 21:23] ZZhaoTireless commented on #14015
@dhcodes Thanks!

[2017-03-20 22:08] CollinPerkins opened #14026 "[Beta] Prompt says to change a line of code that has been changed."
Challenge [increment-a-number-with-javascript](https://beta.freecodecamp.com/en/challenges/basic-javascript/increment-a-number-with-javascript) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

[2017-03-20 22:28] kev0587 commented on #14025
@erictleung I ran into more challenges that has this same issue.  I'm sure you guys don't want to clog up the issues tab with the same issue for different challenges, so should I just include all challenges that I run into that generates a failed test using the same steps to reproduce on this ticket?

For example => Finishing the [Declare String Variables](http://beta.freecodecamp.com/challenges/b

[2017-03-20 22:34] kev0587 commented on #14026
@CollinPerkins it seems like we're having the same issue, but with different challenges.  I did not get this error when running through my testing for this challenge specifically, but did run into a similar issue for other challenges.

Can you try duplicating the tab and re-running the tests?  If it passes using the same code, then I believe it's the same issue as #14025.

[2017-03-20 22:45] no-stack-dub-sack commented on #14026
@CollinPerkins Thanks for reporting this issue, I can confirm this also on my end. @kev0587 does not seem to be the same issue you are having, this is likely code specific to this test that is causing the issue. I will have a closer look now...

[2017-03-20 23:07] no-stack-dub-sack commented on #14026
@CollinPerkins This error is becuase of a RegExp in the test... I had hunch this was the issue as we've been dealing with similar issues ever since we implemented something. The RegExp is/was valid, but the problem is, now there is more than one piece of code on the page for it to match. Even though you cannot see it, this code is also on the page:
[code]
and this line: `(function(z){return 'myVar

[2017-03-20 23:24] Manish-Giri commented on #14026
@no-stack-dub-sack I made a very small change to test this out, it seems to be working after it. Can I send in a PR which you can then test out?

[2017-03-20 23:27] no-stack-dub-sack commented on #14026
Ahh, I should have said I was working on it, as I was just getting ready to send in a pr myself. It's been a bit too long! Umm, should we compare solutions and see whose is better and go with that? I'm sure they're both very small changes

[2017-03-20 23:27] no-stack-dub-sack commented on #14026
Here's mine:
[code]

[2017-03-20 23:30] Manish-Giri commented on #14026
Ah, all right! Go for it 👍

Mine was
[code]
Although, not completely sure, why this works, anyway.

[2017-03-20 23:32] no-stack-dub-sack commented on #14026
@Manish-Giri Yeah, that's odd! It doesn't look like it should work, that should still match the tail... strange. This one I think is a bit more strict so probably a safer bet in the end

[2017-03-20 23:37] no-stack-dub-sack commented on #14026
@Manish-Giri just opened the PR if you'd like to test and review!

[2017-03-20 23:43] Manish-Giri commented on #14026
@no-stack-dub-sack Tested it, works! 👍 💯

[2017-03-21 00:07] pchiarato commented on #14024
It looks like you have everything checked, the radio box with the same (name "indoor-outdoor"). radio buttons are supposed to be checked only one at the time. checkboxes can be checked multiple at a time.
I hope this helps.

<form action="/submit-cat-photo">
  <label><input type="radio" name="indoor-outdoor" checked> Indoor</label>
  <label><input type="radio" name="indoor-outdoor"> Outdoor</label

[2017-03-21 00:33] romort commented on #9128
Thank you for posting.  I got stuck on this challenge and this helped me.

I still have one question though: Shouldn't the for loop be using contacts.length instead of firstName.length?

[2017-03-21 01:46] #14026 closed

[2017-03-21 02:03] Rpad-NS commented on #12625
I circumvented this issue by converting all values to integers, by multiplying each of them with 100 on the beginning of the function. After the calculations with integers were done, the numeric values in returned array are simply divided by 100.

[2017-03-21 02:13] Rpad-NS commented on #12640
I got around the issue caused by floating point numbers by multiplying each entry with 100 on the very beginning of the function, so I had to work with integers only. After the calculations were made, the numbers in the final array were divided by 100, to get them back to floating point values.

[2017-03-21 07:21] JohanNaude opened #14028 "I have checked everything but it doesn't want to proceed to the next step. Help me please!!"
Challenge [Create a Form Element](https://www.freecodecamp.com/challenges/create-a-form-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospac

[2017-03-21 08:00] Atomk commented on #14015
Just an additional note, the tests should be updated too, since they expect to retrieve data from gomix.com:

![00](https://cloud.githubusercontent.com/assets/6122017/24137574/a8dac826-0e14-11e7-947a-eb7d34d386fb.PNG)

[2017-03-21 08:41] vongdarakia commented on #13944
Awesome! Thanks a lot! :)

[2017-03-21 08:51] adityagyawali commented on #6249
@Apollovishwas to access myObj Properties ...

[2017-03-21 09:11] idilarg opened #14030 "Code doesn't work! Can you please help me?"
Challenge [Understand String Immutability](https://www.freecodecamp.com/challenges/understand-string-immutability#?solution=%0A%2F%2F%20Setup%0Avar%20myStr%20%3D%20%22Jello%20World%22%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0AmyStr%20%3D%20%22Hello%20World%22%3B%0A%0AmyStr%5B0%5D%20%3D%20%22H%22%3B%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64)

[2017-03-21 10:42] OFFLlNE commented on #14030
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-03-21 10:42] #14030 closed

[2017-03-21 10:57] OFFLlNE commented on #14028
Thank you for reporting the issue.

The link you provided has wrong code inside of it, this is why it probably did not let you pass. The code you pasted is all correct.

Here are a couple suggestions:
+ Reload the page and run the tests again. A script may have crashed, preventing the tests from running.
+ Try the challenge in incognito mode. A plugin might be interfering with the tests.
+ Try the

[2017-03-21 12:34] cdrainxv commented on #14024
@djdevanshijain: This is straight from the instructions:

This means that of your **two** radio buttons only the ***first*** one should be **checked**. Likewise, of your **three** checkbox buttons, only the ***first*** one should be **checked**. You should only have written the `checked` attribute twice, not 5 times as you currently have it.

Note: This room is for reporting issues only. For chall

[2017-03-21 12:40] Project360VRCam commented on #4566
Should be like this :)
![screen shot 2017-03-21 at 14 39 59](https://cloud.githubusercontent.com/assets/23374748/24147744/58848756-0e44-11e7-9e21-b336cb59906a.png)

[2017-03-21 13:15] JoolsMcFly commented on #13944
Np, let's just hope it gets accepted! :)

[2017-03-21 14:18] Venkateshwaran commented on #13959
I have set up local FCC. I will be able to give it a shot by tonight unless @digilou hasn't done it already.

[2017-03-21 14:19] aksnowman opened #14031 "Spaces seemingly not allowed"
Challenge [create-reusable-css-with-mixins](https://beta.freecodecamp.com/en/challenges/sass/create-reusable-css-with-mixins) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

This challenge took m

[2017-03-21 14:22] dimapct commented on #13727
Hello, all,

please help me understand this better.

I am Business Analyst in Software company. We experience the issue that after 57.0.2987.98 Chrome update we get the error “This page isn’t working Chrome detected unusual code on this page and blocked it to protect your personal information (for example, passwords, phone numbers, and credit cards). ERR_BLOCKED_BY_XSS_AUDITOR" - basically what yo

[2017-03-21 15:35] akira10 opened #14032 "colour"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%7Bcolor%3Ablue%7D%22%0A%3C%2Fstyle%3E%20%0A%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attact%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sn

[2017-03-21 15:37] Atomk opened #14033 "[beta] .env is not a default feature in Node"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/basic-node-and-express/use-the-env-file

#### Issue Description

I'm writing the code for the Node challenges locally, and I had a hard time trying to figure out why I could not access the variables I put in my `.env` file using `process.env`. I discovered that to use `.env` files outside gomix/glitch you have to include the `dotenv`

[2017-03-21 15:43] ZZhaoTireless commented on #14015
@Atomk Will update the tests after fixing. Thanks.

[2017-03-21 15:56] freecodecampkeegan opened #14034 ""Create a set of ratio buttons" won't work despite correct format"
Challenge [Create a Set of Radio Buttons](https://www.freecodecamp.com/challenges/create-a-set-of-radio-buttons#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobst

[2017-03-21 16:06] erictleung commented on #14032
@akira10 Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free-code

[2017-03-21 16:06] #14032 closed

[2017-03-21 16:22] BerkeleyTrue commented on #13727
@dimapct This the repository for FreeCodeCamp.com not for Chrome. Please direct your questions related to your business software and chrome to the chrome team, not us.

[2017-03-21 16:22] baotrum opened #14036 "Escape Sequences in Strings challenge not accepting escape sequences"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%3D%20%22FirstLine%5Cn%5C%5C%5C%22SecondLine%5C%22%5C%5C%5CrThirdLine%22%3B%20%0A%2F%2F%20Change%20this%20line%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.98 Safari/537.36</c

[2017-03-21 16:56] fortMaximus commented on #14036
@baotrum The challenge didn't ask you to put (escape) double quotes ( `\"`) around `SecondLine`.

This is not a bug, and Github issues are for reporting bugs.

If you need help with a challenge, you should ask in one of the help rooms first.

Thank you.

[2017-03-21 17:12] baotrum commented on #14036
i'm try ask at help rooms but not reply, i'm try new code but it's still wrong
my code
`var myStr = "Thisis\n\\thefirst\\\rsentence.";`

[2017-03-21 17:28] fortMaximus commented on #14036
@baotrum sorry about the misunderstanding. Sometimes no one knows the answer or the other campers are busy helping other campers. Next time try to ask the question again at another time.

Now about your solution, the text you were using in the screenshot above was correct, the error was only that you were using the escape code for double quotes when you're not asked to.

[2017-03-21 17:33] Venkateshwaran commented on #13959
Hi, i have committed a [fix here](https://github.com/freeCodeCamp/freeCodeCamp/pull/14037/commits/3e416a69d3813a3e377e1134dc8f94bc40f29ca4).

It passed WCAG luminosity as shown in the below screenshot.
<img width="838" alt="screen shot 2017-03-21 at 10 41 47 pm" src="https://cloud.githubusercontent.com/assets/2083617/24161498/951deca2-0e8a-11e7-9588-5c322a027502.png">

[2017-03-21 19:40] digilou commented on #13959
You beat me to it! This is an improvement, though. Thanks @Venkateshwaran for making the site better.

[2017-03-21 20:08] pchiarato commented on #14034
You have to have "one" label for each element. `<label><input type="radio" name="indoor-outdoor"/>Indoor</label><label><input type="radio" name="indoor-outdoor"/>Outdoor</label>`

[2017-03-21 20:13] pchiarato commented on #13953
It looks like you're using "Opera" try using Chrome or Firefox.

[2017-03-21 20:26] ruchiroffical opened #14038 "how to solve it???"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-03-21 20:27] #14038 closed

[2017-03-21 20:27] Manish-Giri commented on #14038
@ruchiroffical Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) if you need assistance. Happy Coding!

[2017-03-21 20:39] overmelo commented on #13953
Actually, i'm using Chrome. tried Firefox but problem persist!!!

[2017-03-21 21:24] JordanLyons opened #14039 "Can't move cursor all the way across the line"
In the line I'm supposed to edit, Line 37 (with the "Like" button), I can only move the cursor to the right six places, then it goes to the next line, as if there isn't any more text, and starts at the next line. I can't click within the line to place the cursor there, either.

Challenge [Taste the Bootstrap Button Color Rainbow](https://www.freecodecamp.com/challenges/taste-the-bootstrap-button-c

[2017-03-21 21:27] KayTheDon opened #14040 ""Size Your Image" Task"
@Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%2

[2017-03-21 21:38] ooade commented on #14040
@KayTheDon You didn't create the `smaller-image` class. Please use the [help room](https://gitter.im/FreeCodeCamp/Help) next time you encounter this kind of issue.

[2017-03-21 21:44] Mielai1l commented on #9464
the challenges mentioned by  AryanJ-NYC on 5 Aug 2016 are not yet updated
https://www.freecodecamp.com/challenges/add-font-awesome-icons-to-our-buttons
https://www.freecodecamp.com/challenges/add-font-awesome-icons-to-all-of-our-buttons

[2017-03-21 21:53] ooade commented on #14039
Works fine here... Can't reproduce

[2017-03-22 00:17] IsaacAbrahamson opened #14042 "D3 challenges "Identifier 'dataset' has already been declared""
Challenges 4, 5, etc., not logged in.

User Agent: "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36"

**Steps to reproduce:**
1. Pass challenge 4, Work with Data in D3.
My passing code was:
[code]

2. Do not go on to next challenge.
3. Resubmit and get this error:
[code]

You can also get this error by:
1. Completing and passing challenge 4.

[2017-03-22 00:20] IsaacAbrahamson commented on #14042
cc/ @freeCodeCamp/moderators

Plz help me out if I did not make this issue right. ;)

[2017-03-22 00:21] IsaacAbrahamson commented on #14033
:+1:

[2017-03-22 00:27] lin4rd commented on #14042
I've never done any of this before, I'm trying to get an idea of the basic
stuff

On 22 Mar 2017 02:21, "Isaac Abrahamson" <notifications@github.com> wrote:

[2017-03-22 00:34] erictleung commented on #9464
@Mielai1l they've been changed [in the codebase](https://github.com/freeCodeCamp/freeCodeCamp/blob/d5db2803ad0214e43f2d4ddc12f8a1b1976ac853/seed/challenges/03-front-end-libraries/bootstrap.json#L1328-L1331). You can see for yourself in the [beta site](http://beta.freecodecamp.com/en/challenges/bootstrap/add-font-awesome-icons-to-our-buttons). Changes will be pushed to the production site soon.

[2017-03-22 00:36] erictleung commented on #14042
@IsaacAbrahamson this might be a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/13936, which links to a deeper issue of https://github.com/freeCodeCamp/freeCodeCamp/issues/12762.

[2017-03-22 00:45] SUBstylee commented on #9196
@szazadikablak Was having the same problem, but signing out then back in fixed it.  Hope that works for you.

[2017-03-22 01:23] #13971 closed

[2017-03-22 02:24] kev0587 opened #14043 "Challenge Seed is passing as the correct solution for an ES6 challenge"
Challenge [use-destructuring-assignment-to-pass-an-object-as-a-functions-parameters](http://beta.freecodecamp.com/en/challenges/es6/use-destructuring-assignment-to-pass-an-object-as-a-functions-parameters) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.110 Safari/537.36</code>.
Please describe how to reprod

[2017-03-22 04:13] happycraigles commented on #14030
The problem with this is that the description is very misleading and unclear. By having the square brackets--without stating that they themselves should take any part--displayed, can be misconstrued to imply that something should occur with multiple lines.
It took me a while to get through this--and it was a waste of time--but I did it. Ignore the segment with the square brackets and just focus on

[2017-03-22 05:02] QuincyLarson commented on #13953
@BerkeleyTrue do you have any idea what could be causing this? Do you think it's specific to @overmelo's account on beta being in a strange state?

[2017-03-22 05:04] #14018 closed

[2017-03-22 05:07] udbhavs commented on #13727
@QuincyLarson
 Chrome settings > advanced settings > Protect from dangerous sites > off
worked for me for a while

[2017-03-22 05:08] QuincyLarson commented on #13780
@ooade @systimotic yes - thanks for spotting this. Would either of you be interested in fixing this?

[2017-03-22 05:12] QuincyLarson commented on #12923
@BerkeleyTrue what's the best way to safely run the seed code when a user arrives at a challenge, so that the preview is populated?

[2017-03-22 05:14] QuincyLarson commented on #14033
@JosephLivengood what are your thoughts on this? Is there any problem with Glitch (formerly Gomix) if we include dotenv in the package.json? If not, would you be interested in updating the necessary repos/boilerplates?

[2017-03-22 05:16] #14036 closed

[2017-03-22 05:17] #13959 closed

[2017-03-22 05:18] #14034 closed

[2017-03-22 05:18] #14040 closed

[2017-03-22 05:20] QuincyLarson commented on #14039
@JordanLyons your code works fine for me, too. I'm closing this. If you're still having trouble with this, please re-open.

[2017-03-22 05:20] #14039 closed

[2017-03-22 05:21] QuincyLarson commented on #14015
Awesome - thanks for fixing this @ZZhaoTireless.

I've talked with Glitch's CEO and he seems confident this is their final name change.

[2017-03-22 05:24] QuincyLarson commented on #13941
@makkBit you don't need to be "modded" to be able to work on this. You can fork our repo, commit a fix, then open a PR. Check out https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md and let me know if I can be of further help with this :)

Thanks for your help!

[2017-03-22 05:28] QuincyLarson commented on #13993
@haydennorthcott You're right - we are actually moving this to a later section since it is a big jump in difficulty.

I agree with @Manish-Giri that the directions are pretty clear, so I'm going to close this issue.

[2017-03-22 05:28] #13993 closed

[2017-03-22 05:32] gracexu222 commented on #8435
FYI:
 var x;
  this.getGear = function(){
   return x;
  };
  this.setGear = function(change){
    return x = change;
  };
it works.

[2017-03-22 05:34] tung776 commented on #14007
But in my case this error still happened. Here is my code
<style>
  .red-text {
    color: red;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

It is not working

[2017-03-22 05:35] QuincyLarson commented on #14006
@Marmiz @erictleung we need to be careful not to weight down the instructions too much.

We could add a simple statement like "Note that CSS is case-sensitive so be careful with your capitalization." shortly after we introduce CSS. Would either of you be interested in doing this?

[2017-03-22 05:37] QuincyLarson commented on #13930
The old production link redirects properly and should continue to do so indefinitely. We are close to shipping beta, so let's leave production for now.

[2017-03-22 05:37] #13930 closed

[2017-03-22 05:40] QuincyLarson commented on #14002
@stephanmax I agree with you.

Could you come up with a terse single-sentence explanation like "Note that this is a learning exercise and this wouldn't normally work without additional server-side code" or something like that and add it to the challenge?

[2017-03-22 05:44] stephanmax commented on #14002
Will do, @QuincyLarson

[2017-03-22 05:46] #13944 closed

[2017-03-22 05:49] QuincyLarson commented on #14017
@Atomk nice find! Since you've already done a lot of the investigative work, would you be interested in refactoring the CSS to fix this?

[2017-03-22 05:51] QuincyLarson commented on #13999
@stephanmax yes - I agree. We would welcome a PR from you that addresses this 👍

[2017-03-22 05:52] QuincyLarson commented on #13994
@beaucarnes you're on to something here. If it is ambiguous to you, then I agree that we should include a couple extra lines clarifying and an example as you suggested. Would you be interested in creating a PR for this?

[2017-03-22 05:58] #13110 closed

[2017-03-22 06:00] #13716 closed

[2017-03-22 06:17] AlexandroPerez commented on #9079
I finished my weather app a long time ago, and ran with this problem when I revisited my codepen because I'm planning on moving my code to a vps that will serve content over HTTPS. So while thinking about what other API to use, I realized I could try to accessing my codepen using HTTP instead of HTTPS, and it works.

Thankfully codepen doesn't enforce HTTPS, which for security reasons should be th

[2017-03-22 06:36] virag369 opened #14044 "its a bug"
Challenge [Target the same element with multiple jQuery Selectors](https://www.freecodecamp.com/challenges/target-the-same-element-with-multiple-jquery-selectors#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22button%22)%0A%20%20%20%20%24(%22.btn%22)%0A%20%20%20%20%24(%22%23target1%22).addclass(%22animated%20shake%20btn-primary%22)%3B%0A%20%20%7D)%3B%0Afcces%0A

[2017-03-22 06:38] szazadikablak commented on #9196
@SUBstylee wow,its working! Thanks for the tip !

[2017-03-22 06:38] Marmiz commented on #14006
@QuincyLarson I'll be happy to help 👍

[2017-03-22 06:46] Marmiz commented on #14007
@tung776 Thanks for replying.

This portion of your code worked for me:
[code]
What you can do is try to refresh the page and see if that works.

If it doesn't please reply with more details: operating system, browser, device... and the full formatted code you're trying to test.

Thanks 👍

[2017-03-22 06:47] Snowcat8 commented on #4411
You need to use "nickname" (literally. it is written in red). So don't use any property (which is what I did. for e.g. I used .cover or .mirror but that gave me the same string error). They want you to use the word nickname.

[2017-03-22 07:33] ninopaolo commented on #3329
I was stuck here for a long time! Thank you!

[2017-03-22 07:35] isafrus5 commented on #14044
@virag369 It's not exactly a bug.
You can check this comment:

https://github.com/FreeCodeCamp/FreeCodeCamp/issues/3583#issuecomment-148393937

[2017-03-22 10:10] OFFLlNE commented on #14044
Wrong code with Help
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://fo

[2017-03-22 10:10] #14044 closed

[2017-03-22 11:27] shorebird2016 opened #14045 "One palindrome test pattern should return true result."
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=%0Afunction%20palindrome(str)%20%7B%0A%20%20%20%20var%20replaced_result%20%3D%20str.replace(%2F%5B%5Ea-zA-Z%5D%2Fg%2C%20'').toLowerCase()%3B%0A%0A%20%20%20%20%2F%2Fa%20loop%20to%20detect%20palindrome%0A%20%20%20%20var%20ret%20%3D%20false%3B%0A%20%20%20%20for%20(var%20idx1%20%3D%200%3B%20idx1%2

[2017-03-22 11:27] BlackStarGr8 opened #14046 "Brent"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-03-22 11:28] BlackStarGr8 commented on #14046
Audio link issue on Improve Accessibility of Audio Content with the Audio Element challenge, Beta #
@Skarrix
Skarrix opened this issue
10 days ago
 accessibility  beta  help wanted

[2017-03-22 11:42] sshepanski7 commented on #14045
It's been way to long this way I just got out of a cell with no moving air
no running water a camera faceing the toilet for 12 hours for another sum
afence with proof I didn't do it I had my hands smashed by a cop with a
clip board and threaten to have my face smashed in this is the 5th time I
got tons more !!!

Spanky
Show quoted text

Spanky

On Mar 22, 2017 7:32 AM, "Alex" <notifications@github

[2017-03-22 11:42] sshepanski7 commented on #14046
It's been way to long this way I just got out of a cell with no moving air
no running water a camera faceing the toilet for 12 hours for another sum
afence with proof I didn't do it I had my hands smashed by a cop with a
clip board and threaten to have my face smashed in this is the 5th time I
got tons more !!!

Spanky
Show quoted text

Spanky

On Mar 22, 2017 7:29 AM, "BlackStarGr8" <notification

[2017-03-22 11:43] sshepanski7 commented on #14044
It's been way to long this way I just got out of a cell with no moving air
no running water a camera faceing the toilet for 12 hours for another sum
afence with proof I didn't do it I had my hands smashed by a cop with a
clip board and threaten to have my face smashed in this is the 5th time I
got tons more !!!

Spanky
Show quoted text

Spanky

On Mar 22, 2017 2:41 AM, "virag369" <notifications@gi

[2017-03-22 12:02] ooade commented on #13780
@QuincyLarson I'd like to take this. `about.jade` don't currently exist in `server/views/resources`. So, i'll have to add it.

[2017-03-22 12:05] ooade commented on #13780
I'll make use of the master's about page

[2017-03-22 12:59] overmelo commented on #13953
sometimes (since last week) when i log in via my github's account, my profile doesn't appear. same thing when i tried to log in with my twitter or gmail account. don't really know how to do.

[2017-03-22 13:01] bartmagera opened #14048 "Style Multiple Elements with a CSS Class"
Challenge [Style Multiple Elements with a CSS Class](https://www.freecodecamp.com/challenges/style-multiple-elements-with-a-css-class#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3E%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhe

[2017-03-22 13:07] JosephLivengood commented on #14033
@QuincyLarson I don't believe it will create any issues on HyperMixGlitch, but I'll do some testing to ensure.

If we add that to the repos, where should it be explained why/what it does? Maybe we need an early slide in the curriculum explains enviromental variables and how to set them in the console and using a file (with dotenv)?

If that sounds good I can write somethings up and share what I wr

[2017-03-22 13:15] OFFLlNE commented on #14048
Thank you for reporting your issue.

Your code is wrong. Closing p a bit too early
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http

[2017-03-22 13:15] #14048 closed

[2017-03-22 13:27] IsaacAbrahamson commented on #14042
@erictleung, looks like you're right! Thanks for helping out.

[2017-03-22 13:27] #14042 closed

[2017-03-22 13:48] fireandready commented on #13939
Having the same issue with this however when applied to the check boxes as well wont check mark the closed tags as completed. Not sure what to do since this is a known issue

[2017-03-22 14:04] freecodecampcoder671326 commented on #8308
hey  i am also having the same problem
i am writing the same command but it is not accepting

[2017-03-22 14:30] dhcodes commented on #13939
@fireandready looks like a possible fix has recently been made. Give it a few days for the mods to update the beta site and check it again.

[2017-03-22 14:41] texas2010 commented on #13976
@ssajuraj
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-03-22 14:42] texas2010 commented on #4566
@Project360VRCam
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-03-22 14:46] texas2010 commented on #8435
@gracexu222
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-03-22 14:57] ooade commented on #14031
@aksnowman Sass allows it. Wanna fix this?

[2017-03-22 15:28] justinmdickey commented on #10099
For anybody else wondering, you have to use:
 if (**count** > 0){
    return count + " Bet";
  } else {
    return count + " Hold";
  }

as opposed to:

if (**card** > 0){
    return count + " Bet";
  } else {
    return count + " Hold";
  }

[2017-03-22 16:24] Ellyria opened #14051 "Text in Add Font Awesome Icons to our Buttons challenge needs a minor edit"
#### Challenge Name

https://www.freecodecamp.com/challenges/add-font-awesome-icons-to-our-buttons

#### Issue Description

This section has unnecessary text in it:

You can add Font Awesome to any app **just by including it** by adding the following code to the top of your HTML:

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[2017-03-22 17:08] Marmiz commented on #14045
I'm afraid the challenge is asking you to remove all non-alphanumerical value:

Or in other words: numbers are alphanumeric.

So the test is correct in stating that `palindrome("1 eye for of 1 eye.");` should return false since it's not a palindrome.

If you believe that the challenge explanation:

Is not clear/sufficient enough we can discuss an enhancement to the text to make clear we want lette

[2017-03-22 17:35] markhermans opened #14053 "Change the font size of an element"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20.p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%20p%22%3E

[2017-03-22 17:38] solankivir commented on #14051
<button ***** > <i class="fa fa-thumbs-up"> like </i> </button>

so we are basically adding <i> inside button

[2017-03-22 17:39] solankivir commented on #14051
insert <i class = "****" > like </i> inside button tag

[2017-03-22 17:52] JoolsMcFly commented on #14045
It's not an issue because instructions say to

Alphanumeric includes digits so you should not be removing `1`

[2017-03-22 18:01] JoolsMcFly commented on #14053
Read the instructions more carefully. See how many `p` tags are needed, what class you should add etc.

Read expectations too (tests on the left hand side) and you should see what's wrong with your solution.

[2017-03-22 18:56] ZZhaoTireless commented on #14015
Hi, I updated all "GoMix" to "Glitch" and pulled request.

[2017-03-22 19:37] JoolsMcFly commented on #14043
_destructurung_ should also be changed to _destructuring_ in the function's comment.

[2017-03-22 19:45] BerkeleyTrue commented on #12923
@QuincyLarson The issue does not lie with just the jQuery challenges. It existed with most challenges. Users where constantly locking up their code because the preview attempt to display incomplete code. Waiting for the user to submit code to run in the preview drastically reduced this issue.

[2017-03-22 19:47] BerkeleyTrue commented on #13953
@QuincyLarson Without further information, no I do not.

@overmelo That message pops up when the app encounters an error. Can you open up the devtools console and report any errors you may see?

[2017-03-22 19:59] JoolsMcFly commented on #14020
Is it the fact that final _shake_ elements have numbers that are odd that's troubling you?

I agree it would be simpler if elements were
[code]

So running your code would _shake_ Target 1 and 3, making it easier to visually see the consequence of arrays being zero based.

What do you think?

[2017-03-22 20:13] samanthamed commented on #13095
Hi, I'm having issues with this as well. I don't know if it broke again as another side effect of #14015, but when I attempt to submit for the [How to Use package.json](http://beta.freecodecamp.com/en/challenges/managing-packages-with-npm/how-to-use-packagejson-the-core-of-any-nodejs-project-or-npm-package) challenge (using https://fcc-backend.glitch.me, which I cloned from the https://gomix.com/#

[2017-03-22 20:36] jjaimelopezz commented on #14053
In your style tag, remove the '.' from the '.p' since it just asked the "the first p element should have the class red-text."

[2017-03-22 20:45] Myles65 opened #14055 "Challenge [Link to External Pages with Anchor Elements]"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cp%3Ecat%20photos%0A%20%20link%20to%20Free%20Code%20Camp%3C%2Fa%3E%20for%20you%0A%20%20to%20follow.%3C%2Fp

[2017-03-22 21:02] OFFLlNE commented on #14055
Thank you for reporting the issue!

Here are a couple suggestions:
+ Reload the page and run the tests again. A script may have crashed, preventing the tests from running.
+ Try the challenge in incognito mode. A plugin might be interfering with the tests.
+ Try the challenge in a different browser. There may be an issue with your version of browser.

Please try these things in order and let us kn

[2017-03-22 21:03] OFFLlNE commented on #14053
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-03-22 21:03] #14053 closed

[2017-03-22 21:06] OFFLlNE commented on #14051
I agree with  @Ellyria , that it would be better without that bolded out text in the first post.
@Ellyria would you like do the edit yourself?

[2017-03-22 21:07] #14028 closed

[2017-03-22 21:12] Manish-Giri commented on #14055
@Myles65 The code in your link is wrong -
[code]
Refresh the page, and if it doesn't work, please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) if you need assistance.

[2017-03-22 22:20] ayamafire opened #14056 "nesting the <a> element within the <p> element"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2017-03-22 22:51] OFFLlNE commented on #14056
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-03-22 22:51] #14056 closed

[2017-03-22 23:36] overmelo commented on #13953
@BerkeleyTrue  this is the printScreen of what i had
![new pb](https://cloud.githubusercontent.com/assets/17744075/24225400/8965ea0a-0f60-11e7-96c5-fe9d14579a25.jpg)

[2017-03-23 00:01] Atomk commented on #14017
@QuincyLarson I think it's a problem with how introduction text is rendered, because when all the text is inside the `<p class="challenge-step-description">...</p>` everything is fine, but it seems that for some reason React puts part of the description outside that element (see first screenshot), so it is styled in a different way and React can't replace it when loading the second part of the int

[2017-03-23 00:03] BerkeleyTrue commented on #13953
@overmelo Looks like a fetch for data is timing out. Where are you located?

[2017-03-23 00:59] skylarjhdownes opened #14057 "Wherefore art thou could use more test cases."
Challenge [Wherefore art thou](https://www.freecodecamp.com/challenges/wherefore-art-thou#?solution=%2F%2F%20jshint%20esversion%3A6%0A%0Afunction%20whatIsInAName(collection%2C%20source)%20%7B%0A%20%20%2F%2F%20What's%20in%20a%20name%3F%0A%20%20var%20arr%20%3D%20%5B%5D%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%0A%20%20%2F%2Fsearch%20through%20an%20array%20of%20objects%2

[2017-03-23 02:55] ar94952 commented on #6345
// Setup
var myPlants = [
{
type: "flowers",
list: [
"rose",
"tulip",
"dandelion"
]
},
{
type: "trees",
list: [
"fir",
"pine",
"birch"
]
}
];

// Only change code below this line
var secondTree = myPlants[1].list[1];

this worked too.  you don't need the end notation "//change this line"

[2017-03-23 02:58] ar94952 commented on #13870
Thanks for your help.    // Setup
var testObj = {
  "an entree": "hamburger",
  "my side": "veggies",
  "the drink": "water"
};

// Only change code below this line

var entreeValue = testObj ["an entree"];   // Change this line
var drinkValue = testObj ["the drink"];    // Change this line

[2017-03-23 03:00] ar94952 commented on #5768
// Setup
var testObj = {
  "an entree": "hamburger",
  "my side": "veggies",
  "the drink": "water"
};

// Only change code below this line

var entreeValue = testObj ["an entree"];   // Change this line
var drinkValue = testObj ["the drink"];    // Change this line

take off the asterisks...??????

[2017-03-23 03:40] JohanNaude commented on #14028
Thanks Guys :+1:

[2017-03-23 05:13] #14046 closed

[2017-03-23 05:25] ayersg opened #14058 "Description missing for a required function, needs minor clarification"
#### Challenge Name: Create a Priority Queue Class
http://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/create-a-priority-queue-class

#### Issue Description
This isn't a major issue, but for this challenge the directions are:
"You will need to add an **enqueue method** for adding items with a priority, a **dequeue method** for popping off the front item, a **size m

[2017-03-23 05:46] Manish-Giri commented on #14058
I'll take a shot at this.

[2017-03-23 06:55] BaofengWu opened #14059 "cannot run-test after changing to dead link"
Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-f

[2017-03-23 07:41] reubinoff opened #14060 "broken link in the article: http://evanhahn.com/understanding-express/"
Challenge [Build Web Apps with Expressjs](https://www.freecodecamp.com/challenges/build-web-apps-with-expressjs) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.89 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

in the article: http://evanhahn.com/understandi

[2017-03-23 08:30] Em-Ant commented on #13095
We need to update the content security policy settings to include the new *glitch* links. Sorry.
cc @BerkeleyTrue

[2017-03-23 08:53] simakovroman23 opened #14062 "New"
link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    wid

[2017-03-23 08:53] simakovroman23 opened #14063 "New"
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    wi

[2017-03-23 09:27] alivemary opened #14064 "Basic CSS: Use CSS Selectors to Style Elements challenge doesnt accept rigth color style"
Challenge [use-css-selectors-to-style-elements](https://beta.freecodecamp.com/en/challenges/basic-css/use-css-selectors-to-style-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:52.0) Gecko/20100101 Firefox/52.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

![Issue](https://alivemary.github.io/img/issue.jpg)

[2017-03-23 09:31] #14063 closed

[2017-03-23 09:31] #14062 closed

[2017-03-23 10:38] Axeex commented on #12320
// Example
function ourFunctionWithArgs(a, b) {
  console.log(a - b);
}
ourFunctionWithArgs(10, 5); // Outputs 5

// Only change code below this line.
function functionWithArgs (a, b) {
  console.log(a + b);
}
functionWithArgs(1,2);
functionWithArgs(7,9);

[2017-03-23 11:12] overmelo commented on #13953
@BerkeleyTrue  Actually, im in Cameroon. this is only happening in beta. how can i fix it?

[2017-03-23 11:28] tung776 commented on #14007
It worked on my window 10 chrome browser but it is not working on chrome
for android

CÔNG TY CỔ PHẦN KIM KHÍ HÓA CHẤT CÁT TƯỜNG
Đ/C: 35 Diên Hồng phường Quang Trung Nam Định

Vào 22-03-2017 1:48 CH, "Claudio Restifo" <notifications@github.com> đã
viết:

[2017-03-23 13:21] johnrayworth opened #14065 "Option for White Background"
Challenge [Golf Code](https://www.freecodecamp.com/challenges/golf-code#?solution=%0Afunction%20golfScore(par%2C%20strokes)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20if(strokes%20%3D%3D%201)%7B%0A%20%20%20%20return%20%22Hole-in-one!%22%3B%0A%20%20%7D%0A%20%20else%20if(strokes%20%3C%3D%20par%20-2)%7B%0A%20%20%20%20return%20%22Eagle%22%3B%0A%20%20%7D%0A%20%20else%20if

[2017-03-23 14:59] texas2010 commented on #6345
@ar94952
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-03-23 16:01] beaucarnes commented on #13994
Yeah, I'll do this.

[2017-03-23 16:48] beaucarnes commented on #13994
It took me a some time to figure this out but apparently the version that is on beta.freecodecamp.com is not the most current version. In the version on Github, this issue is already fixed. Now I know to look at the Github version before creating an issue. :)

[2017-03-23 16:48] #13994 closed

[2017-03-23 16:57] waynegardener opened #14066 "Can't scroll down to see challenges on left of screen"
Challenge [Learn how Script Tags and Document Ready Work](https://www.freecodecamp.com/challenges/learn-how-script-tags-and-document-ready-work) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.98 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[2017-03-23 16:58] waynegardener commented on #14066
<img width="1280" alt="screen shot 2017-03-23 at 6 57 58 am" src="https://cloud.githubusercontent.com/assets/25894835/24259818/1e30b5b8-0f96-11e7-9800-f22485b8a03a.png">

[2017-03-23 17:00] ko5320 commented on #13994
2017/3/24 00:50，"Beau Carnes" <notifications@github.com>寫道：

Closed #13994 <https://github.com/freeCodeCamp/freeCodeCamp/issues/13994>.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/freeCodeCamp/freeCodeCamp/issues/13994#event-1012804939>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth

[2017-03-23 17:01] ko5320 commented on #6345
2017/3/23 23:01，"Lance" <notifications@github.com>寫道：

[2017-03-23 17:39] kaloudiyi opened #14067 "Sum All Prime , I have the good results, but the test don't succeed"
Challenge [Sum All Primes](https://www.freecodecamp.com/challenges/sum-all-primes#?solution=%0Afunction%20isPrime(n)%20%7B%0A%20%20%20%20for(var%20j%3D2%3Bj%3Cn%3Bj%2B%2B)%20%7B%0A%20%20%20%20%20%20%20%20if((n%20%25%20j)%20%3D%3D%3D%200)%0A%20%20%20%20%20%20%20%20return(false)%3B%0A%20%20%20%20%7D%0A%20%20%20%20return(true)%3B%0A%7D%0A%0Avar%20sum%3D0%3B%0Afunction%20sumPrimes(num)%20%7B%0A%20%20f

[2017-03-23 17:49] BerkeleyTrue commented on #13780
About page was intentionally removed. Adding it back in will only add more things to maintain.

Instead we should have a generic redirect with a message indicating that the static page is not set up appropriately.

[2017-03-23 18:43] ooade commented on #13780
@BerkeleyTrue Oh! That's true :sweat_smile:
So going to a non-existing route should show a `page not found` page??

[2017-03-23 18:59] BerkeleyTrue commented on #13780
No I think a simple toast saying something like `static page not found` with a redirect to map.

[2017-03-23 19:14] greenagain1 commented on #11297
After nearly pounding my head off the wall. I found this page. My frustration only grew as I read through the comments knowing I had been doing it correctly but still wasn't working. Then the very last comment.... F5 to refresh the Chrome page worked.

[2017-03-23 19:17] ooade commented on #13780
Okay. Cool... I'll take it.

[2017-03-23 19:54] eb88 commented on #14067
Your function is actually not clean. The variable sum is outside of the function and is never resettet. So calling the function will result in wrong/not expected results.

Try to move the var sum inside of the sumPrimes Function.

[2017-03-23 20:14] kaloudiyi commented on #14067
Your absolutely right. I forgot to declare and misplaced the reset of sum which should be inside the function. Thank you very much :-)

[2017-03-23 20:14] #14067 closed

[2017-03-23 20:51] JoolsMcFly commented on #13975
Nah, it's fine. You would need to escape `"` but `'` is fine:

![image](https://cloud.githubusercontent.com/assets/4972399/24269750/c35699dc-1012-11e7-927f-fcca1b72a507.png)

Can close this issue if you agree? Thanks.

[2017-03-23 20:55] JoolsMcFly commented on #14064
Indeed. I'll see what I can do.
Stay tuned.

[2017-03-24 00:03] Manisha11sep commented on #11882
Hi @mszaf @rdsandovalm
my code is working find for all the values.
var myObj = {
  gift: "pony",
  pet: "kitten",
  bed: "sleigh"
};

function checkObj(checkProp) {
  // Your Code Here
  if (myObj.hasOwnProperty(checkProp)){
  return myObj[checkProp];
  } else{
  return "Not Found";
  }
}

// Test your code by modifying these values
checkObj("pet");

Its really weird that its showing error for usi

[2017-03-24 00:15] lostnow opened #14069 "It wont let me move on"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%C2%A0.red-text%20%7B%0A%20%C2%A0%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20sh

[2017-03-24 00:17] lostnow commented on #14069
Its not working

[2017-03-24 00:27] lostnow opened #14070 "Hep"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%C2%A0.red-text%20%7B%0A%20%C2%A0%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3E%20kitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20sh

[2017-03-24 00:30] Manish-Giri commented on #14069
@lostnow The challenge has known issues on Android. Please use a computer to complete it.

[2017-03-24 00:35] lostnow commented on #14069
@manish-girl its all I'm able to use right now. Thanks for responding.

[2017-03-24 00:59] #14006 closed

[2017-03-24 03:31] lulu222 opened #14071 "don't know why it is not working."
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2017-03-24 03:43] Groxic opened #14072 "Autoscrolling in Editor please"
#### Issue Description
This isn't a major issue but I feel it would be nice if the editor auto scrolled when you started typing text below the visible portion. On Windows 10 with Chrome Version 57.0.2987.110 it does not do this.

[2017-03-24 03:54] aksnowman commented on #14031
Actually, I suppose I can fix it! I'll poke around with it sometime in the next few days.

[2017-03-24 04:09] Ellyria commented on #14051
We might want to discuss it some more and see if solankivir agrees with a compromise.

My original edit suggestion was to remove **just by including it** from the sentence. That left it slightly awkward with **add** in the sentence twice:

`You can add Font Awesome to any app by adding the following code to the top of your HTML:`

Instead, I'd like to suggest changing it this way, replacing the fi

[2017-03-24 04:16] ooade commented on #14031
Okay :+1:

[2017-03-24 05:13] chanonroy commented on #14071
Hi @lulu222,

The challenge seems to be working okay, I think you're just missing the appropriate line of HTML.

Keep trying to solve it!

Otherwise, I've posted the answer below for you:

[code]

[2017-03-24 05:24] chanonroy commented on #14070
Strange bug. What ended up fixing it for me was putting everything on one line.

``` <style> .red-text { color: red; } </style> ```

[2017-03-24 05:24] OFFLlNE commented on #14071
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-03-24 05:24] #14071 closed

[2017-03-24 05:52] robbawebba commented on #14043
@kev0587 Thanks for the heads up! Most tests in the ES6 section of the beta curriculum are either not written or unusable. There's some work in progress to get the tests working for the ES6 challenges, but for now we won't be able to verify solutions 😕 Feel free to continue with the curriculum in the meantime though!

also nice find @JoolsMcFly!

[2017-03-24 07:59] binduharitha opened #14073 "[#Issue# target-the-parent-of-an-element-using-jquery"
#### Challenge Name

https://www.freecodecamp.com/challenges/target-the-parent-of-an-element-using-jquery

[#Issue#  target-the-parent-of-an-element-using-jquery.pdf](https://github.com/freeCodeCamp/freeCodeCamp/files/867189/Issue.target-the-parent-of-an-element-using-jquery.pdf)

#### Issue Description

When I click on Run Tests one additional #target5 button gets appended to the left-well.Its po

[2017-03-24 09:22] Deryckaus commented on #6259
Hey all. i did the refresh . worked like a charm. thanks!

[2017-03-24 09:32] fengfive opened #14074 "One palindrome test pattern should return true result."
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=%0Afunction%20palindrome(str)%20%7B%0A%20%20%2F%2F%20Good%20luck!%0A%20%20var%20newStr%20%3D%20str.replace(%2F%5B%5Ea-zA-Z0-9%5D%2Fg%2C%20%22%22).toLowerCase()%3B%0A%20%20var%20newArr%20%3D%20newStr.split(%22%22)%3B%0A%20%20if(newArr%5B0%5D%20%3D%3D%20newArr%5BnewArr.length%20-%201%5D)%20%7B%0

[2017-03-24 09:44] #14074 closed

[2017-03-24 09:45] shruti1305 commented on #2467
i am actually unable to understand what to do in this.the .container-fluid ,where should i place it?please help me

[2017-03-24 10:22] bebosh commented on #9858
I Had the same problem, but after @raisedadead commen i figured out to look better at the suggestions (in this case the json link). Thanks!

[2017-03-24 12:06] Ankit-a opened #14076 "It's not accepting my code. can anyone help me?"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20eve

[2017-03-24 12:12] Ankit-a commented on #14076
![2017-03-24](https://cloud.githubusercontent.com/assets/26455945/24293708/291e99e4-10b9-11e7-856e-c54bb2c61eef.png)

I am not able to submit my code.

[2017-03-24 12:57] JoolsMcFly commented on #14073
I guess it is, to show you how to use jQuery methods. Since it's not stopping you moving on to the next challenge, can you close this issue?

Questions should be asked in forums, not here.

Thanks.

[2017-03-24 13:03] JoolsMcFly commented on #14076
Instructions and expectations contradict themselves. I'll make a PR to fix it.

In the mean time, if you want o move to the next challenge, do as said here:

Happy coding. :)

[2017-03-24 13:26] JoolsMcFly commented on #14059
I copy-pasted your code and got green with both Chrome and FF. Can you explain what's wrong when you try?
Thanks.

[2017-03-24 13:41] JoolsMcFly commented on #14057
Good catch. Your code doesn't pass the beta version though: https://beta.freecodecamp.com/en/challenges/intermediate-algorithm-scripting/wherefore-art-thou
so that's an improvement.

I'll investigate to see if we can make a PR against master branch.

[2017-03-24 14:07] lulu222 commented on #14071
I solved it. It seems to have un-closed </a>tag at the initial code that
needs to be taken out. Then add the new line of script, it works then!

Thanks for the reply!

*Lulu Zhou*
*Tel:* 1-4162784461
*Wechat*: xiaolu2287
*QQ:* 2245267171

On Fri, Mar 24, 2017 at 1:26 AM, Lauri <notifications@github.com> wrote:

[2017-03-24 14:12] dhcodes commented on #13726
This appears to be fixed for me on beta on Chrome. Anyone confirm?

[2017-03-24 14:23] Beegos88 commented on #14076
![freecodecamp ex 18](https://cloud.githubusercontent.com/assets/26626297/24298183/9c1f8c2a-107b-11e7-86c5-b5568c7c5f8e.png)
Hello I believe I found a bug with this exercise due to the fact that I've done this exercise over and over again I did exactly as the instructions stated. Please help, thank you. I have attached a screen shot to demonstrate my efforts.

[2017-03-24 15:29] Gardemarin commented on #14076
fifth line remove dash.

[2017-03-24 16:05] cherno1985 opened #14077 "endsWith() is letting you go through, though it shouldn't"
#### Challenge Name
Confirm the Ending

#### Issue Description
One of the clauses forbids you from using the endsWith method:
"Do not use the built-in method .endsWith() to solve the challenge."

However, this code let's you pass to the next stage:

function confirmEnding(str, target) {
  // "Never give up and good luck will find you."
  // -- Falcor
  if (str.endsWith(target)){
  return true;
  }

[2017-03-24 16:41] texas2010 commented on #14076
@Ankit-a
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-03-24 16:41] #14076 closed

[2017-03-24 16:42] donahue714 opened #14079 "https://www.freecodecamp.com/about"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-03-24 16:42] donahue714 commented on #14079
https://www.freecodecamp.com/about

[2017-03-24 17:00] Beegos88 commented on #14076
Thank you. It worked.

On Mar 24, 2017 11:31 AM, "Gintaras Kuskys" <notifications@github.com>
wrote:

[2017-03-24 17:10] Ashniu123 opened #14080 "Correct output for Capitalize not being accepted."
Challenge [Title Case a Sentence](https://www.freecodecamp.com/challenges/title-case-a-sentence#?solution=function%20titleCase(str)%20%7B%0A%20%20%20%20var%20words%20%3D%20str.split('%20')%2C%0A%20%20%20%20%20%20%20%20newWords%20%3D%20%22%22%2C%0A%20%20%20%20%20%20%20%20newWord%20%3D%20%5B%5D%2C%0A%20%20%20%20%20%20%20%20k%20%3D%200%3B%0A%20%20%20%20for%20(var%20i%20%3D%200%3B%20i%20%3C%20words.le

[2017-03-24 17:56] Charlie2006 commented on #14007
Type <h2 class='red-text'>CatPhotoApp</h2>

[2017-03-24 17:59] Charlie2006 commented on #14007
It won't let me type code in the comments

[2017-03-24 18:00] Charlie2006 commented on #14007
`<h2 class='red-text'>CatPhotoApp</h2>`

[2017-03-24 18:09] Charlie2006 commented on #14007
In-between the triangle bracket and the equals you put " but you need to put ' instead

[2017-03-24 18:34] #14015 closed

[2017-03-24 18:46] jjaimelopezz opened #14081 "Mouse cursor (flashing "I") not staying put when typing code at first"
After finishing a challenge and jumping to the next, I find that 9/10 times when I click where I want to start typing my code the cursor (flashing "I"?) doesn't stick to where I want to be. I'll start typing and it'll go a line or two below, which I have to erase, click somewhere else, then finally be able to type where I want.

Anyone else experiencing this??

[2017-03-24 19:18] JoolsMcFly commented on #14080
Although it looks like your output is correct, it is not! You're adding an extra space at the end of newWords when joining array elements.

Problem is with your code. Please close this issue. Thanks.

Ps: you are over complicating things, think of a simpler solution. :)

[2017-03-24 19:22] #14080 closed

[2017-03-24 19:28] raisedadead commented on #14079
The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](http://forum.freecodecamp.com) for help wi

[2017-03-24 19:28] #14079 closed

[2017-03-24 19:32] raisedadead commented on #14070
@lostnow your code is correct. However, we have seen that on mobile devices the space character conflicts at times. Mostly this can happen if the code was copied and pasted in the editor.

If you can then type in the code manually once again, this should be resolved.

I'll be closing this, this has to do with the browser and not the codebase it self.

[2017-03-24 19:32] #14070 closed

[2017-03-24 19:38] raisedadead commented on #14081
Duplicate of #7847

[2017-03-24 19:38] #14081 closed

[2017-03-24 19:42] raisedadead commented on #14072
Hi @Groxic this looks like a issue, to me. By default the editor should autoscroll. Can you provide some more information if this is on the main website or the beta website?

Also it would be nice if you can take any screen shots and paste the images in here.

[2017-03-24 19:42] #14069 closed

[2017-03-24 19:49] raisedadead commented on #14066
Hi @waynegardener , thanks for the reporting.

The issue, here is that your script tag is not completed yet `<script` should be `<script>`.
The code runner executes the code from the editor as you type and live updated the iPhone preview.

Unfortunately, this has UX issues like you have pointed, where the page fails to scroll the instructions area.

We have disabled this in our beta version of the

[2017-03-24 19:49] #14066 closed

[2017-03-24 20:05] JoolsMcFly commented on #14077
regexp used to check code is indeed incorrect:
`!/\\.endsWith\\(.*?\\)\\s*?;/.test(code)`

I'll see if I can make a PR for it.

Thanks.

[2017-03-24 20:47] waynegardener commented on #14066
Thank you.

Sent from my iPhone

[2017-03-24 21:04] Joe2718 commented on #12640
I thought it was due to my answer lacking the .00 after the decimal point.  It actually turned out to be that I was using the same variable in global namespace and didn't expect a conflict there at all.
I'm pretty sure it was my values variable.  I just moved it inside the function and it passed.
I was frustrated because I was looking for my issue in the wrong location which led to type frustratio

[2017-03-24 21:12] Joe2718 commented on #12640
I just gotta share this because this code is so ridiculous.   Most of this code and comments is me trying to chase down something that never existed.  Moving the variable inside was something I did just to follow better coding practices and completely unrelated to me searching for my bug; I was quite shocked when it passed.

[2017-03-24 21:59] JoolsMcFly commented on #14060
I'm afraid a broken link on someone's blog has nothing to with FCC. You should report broken links directly to the author, me@evanhahn.com

Can you close this issue then? Thanks.

[2017-03-25 02:44] binduharitha commented on #14073
OK Thanks.

[2017-03-25 02:44] #14073 closed

[2017-03-25 03:22] aaronfox opened #14085 "Compiler interprets ternary operator as an error even though the code still runs just fine"
As seen in line 9 here, I used the conditional (ternary) operator correctly and I got the answer correct using the `condition ? expr1 : expr2` format. However, there is a red x that appears and tells me that the interpreter "Expected an assignment or function call and instead saw an expression." I know this isn't a huge priority to fix and it's not actually harming anything, but it's a bug that I

[2017-03-25 03:28] #14085 closed

[2017-03-25 04:07] 0994234566 opened #14086 "Github"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-03-25 05:02] dammyout commented on #7201
I also encounter the same error, help me

[2017-03-25 05:14] #14086 closed

[2017-03-25 05:14] #14055 closed

[2017-03-25 05:31] majhalhouse commented on #13285
[Call out Optional Actions with Button Info](https://www.freecodecamp.com/challenges/call-out-optional-actions-with-button-info#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-f

[2017-03-25 07:15] mh-azizian commented on #7705
You must rewrite code:
`var result = ++myVar ;`

[2017-03-25 09:54] sunnylovesyew commented on #7886
var Car = function() {
  // this is a private variable
  var speed = 10;

  // these are public methods
  this.accelerate = function(change) {
    speed += change;
  };

  this.decelerate = function() {
    speed -= 5;
  };

  this.getSpeed = function() {
    return speed;
  };
};

var Bike = function() {

  // Only change code below this line.
var gear=0;

  this.setGear  = function(change) {

[2017-03-25 10:39] raisedadead commented on #12923
I prefer closing this as a `wontfix` in that case, which is we do not render the preview before user submits.

Also, I am not sure, but could we just add a message stating this?

[2017-03-25 11:58] henrihyacinthe commented on #7870
var entreeValue = testObj["an entree"];   // Change this line
var drinkValue = testObj["the drink"];    // Change this line

[2017-03-25 12:07] pramodgk93 opened #14087 "In the image provided, link text does not match with the example. In the image it is written 'link to free code camp .com' whereas in example .com is not there."
**Challenge** [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%2

[2017-03-25 12:20] BhaveshSGupta commented on #13798
These are all Ionic icons icons I could find, I have marked equivalent font awesome icons. If any need to change then let me know.
- [ ] .ion-android-hand to .fa-hand-paper-o (email-signin.jade)
- [ ] .ion-person-add to fa-user-plus (email-signup.jade)
- [ ] .ion-close-circled to .fa-times-circle (update-email.jade, flash.jade, flyer.jade)
- [ ] .ion-social-html5 to .fa-html5 (home.jade)
- [ ] .io

[2017-03-25 14:08] janapanaramsai commented on #8713
`
function caseInSwitch(val) {
  var answer = "";
  // Only change code below this line
  switch(val){
    case 1:
      answer = "alpha";
      break;
    case 2:
      answer = "beta";
      break;
    case 3:
      answer = "gamma";
      break;
    case 4:
      answer = "delta";
      break;
  }
  // Only change code above this line
  return answer;
}

// Change this value to test
caseInSwitc

[2017-03-25 14:45] lynxlynxlynx opened #14088 "Can't login via github any more"
It seems something similar to #12101, but basically choosing github just redirects to the map, with the "Oops! Something went wrong. Please try again later" error.

The firefox console only shows:
- a mixed content warning (before an https redirect),
- a getPreventDefault deprecation warning and
- "Content Security Policy: Directive ‘frame-src’ has been deprecated. Please use directive ‘child-src’

[2017-03-25 15:22] mpatelpa commented on #6570
When I click on the "Run tests" button the test does not get executed.  This issue happens when using Chrome browser on a mac for me (```Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.98 Safari/537.36```).

This issue does not happen if I use the Safari Browser.

[2017-03-25 15:25] #13975 closed

[2017-03-25 15:35] mpatelpa commented on #14059
Ran into the issue as @BaofengWu using Chrome browser (```User-Agent:Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.98 Safari/537.36```) where the "Run tests" button does not execute/work.

The issue does not occur when I use Safari browser.

[2017-03-25 15:48] ndyarborough opened #14089 "Make sure you have nested all HTML elements in .container-fluid."
Challenge [Use Responsive Design with Bootstrap Fluid Containers](https://www.freecodecamp.com/challenges/use-responsive-design-with-bootstrap-fluid-containers#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20

[2017-03-25 17:52] imladrisol opened #14090 "Right answer, but doesn't run on tests"
Challenge [Steamroller](https://www.freecodecamp.com/challenges/steamroller#?solution=var%20a%3D%5B%5D%3B%0Afunction%20recurs(arr)%7B%0A%20%20%0A%20%20for(var%20i%3D0%3B%20i%3Carr.length%3B%20i%2B%2B)%7B%0A%20%20%20%20%2F%2Fconsole.log(arr%5Bi%5D)%3B%0A%20%20%20%20if(Array.isArray(arr%5Bi%5D)%20%3D%3D%3D%20false)%7B%0A%20%20%20%20%20%20a.push(arr%5Bi%5D)%3B%0A%20%20%20%20%7D%0A%20%20%20%20else%7B%

[2017-03-25 18:28] alanwake71 opened #14091 "Your image should be 100 pixels wide. Browser zoom should be at 100%."
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20img%7B%0A%20%20%20%20.smaller-image%20%7B%0A%20%20%20%20%20%20width%3A%201

[2017-03-25 19:05] alanwake71 commented on #14091
The code is correct, the next part of the mission is making sure my browser is at 100% zoom to pass. The browser is at 100% and it still doesn't pass.

[2017-03-25 19:12] srikanthkanjarla commented on #14045
You'll need to remove all non-alphanumeric characters ( combination of alphabetic and numeric characters ) so Add 0-9 in your regular expression

function palindrome(str) {
    var replaced_result = str.replace(/[^a-zA-Z0-9]/g, '').toLowerCase();

    //a loop to detect palindrome
    var ret = false;
    for (var idx1 = 0; idx1 < replaced_result.length/2; idx1++) {
        if (replaced_result[idx

[2017-03-25 19:15] #14090 closed

[2017-03-25 19:15] lynxlynxlynx commented on #14091
You have an error in your css, so the class isn't being applied (nothing to do with zoom). And the bot was right — this is the wrong place to talk about it.

[2017-03-25 20:48] marekjedlinski commented on #14064
The same bug seems to apply to other challenges which test applying colors, e.g. https://beta.freecodecamp.com/en/challenges/basic-css/use-a-css-class-to-style-an-element and https://beta.freecodecamp.com/en/challenges/basic-css/style-multiple-elements-with-a-css-class

In the latter, the test for class ("Your h2 element should have the class red-text.") passes, but the test for redness ("Your h2

[2017-03-25 20:54] FTreat opened #14092 "Code mirror position is off by one row"
Whenever you start a new challenge, the first time you click on the **CodeMirror-code** section the line of code selected is off by one row from the cursor position. Once you start typing it seems to fix itself.

This can be extremely frustrating when you're going through multiple challenges relatively quickly.

[2017-03-25 22:24] Sh0t1337 commented on #4834
Solution:
$("body:even").addClass("animated hinge");  Use uven for All :D!!

[2017-03-25 22:49] traanhn opened #14093 "Google font"
Challenge [use-a-google-font](http://beta.freecodecamp.com/en/challenges/applied-visual-design/use-a-google-font) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/602.4.8 (KHTML, like Gecko) Version/10.0.3 Safari/602.4.8</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

[2017-03-25 22:50] traanhn commented on #14093
I cannot run this code in freecodeCamp.
Please help !

[2017-03-25 23:28] tgavin2017 commented on #13989
Im still having this issue. I also used

<button class="btn btn-block">Like</button>

but the page will not recognize it and I cant proceed

[2017-03-25 23:37] OFFLlNE commented on #14092
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #7847 , so I am closing it as a duplicate.

If you think I'm wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2017-03-25 23:37] #14092 closed

[2017-03-25 23:55] texas2010 commented on #4834
@Sh0t1337
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-03-26 00:02] texas2010 commented on #14080
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-03-26 00:04] texas2010 commented on #14007
@Charlie2006
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-03-26 00:06] texas2010 commented on #14091
@alanwake71
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-03-26 00:06] #14091 closed

[2017-03-26 00:07] texas2010 commented on #14089
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-03-26 00:11] texas2010 commented on #14087
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-03-26 00:26] lognkm commented on #13989
Having this issue, cannot proceed, and my code is correct. :(

[2017-03-26 00:27] lognkm commented on #13989
*fixed problem. i just refreshed, submitted again, and it worked.

[2017-03-26 03:14] hay-dee commented on #14093
@traanhn I copy-pasted your code and it seems to be working fine for me. Could you elaborate more about your problem? Is it not loading after clicking on Run Tests?

[2017-03-26 03:40] hay-dee commented on #14064
@alivemary The beta version of freeCodeCamp currently faces an issue the .css() jQuery method ,used to do the testing, on mozilla firefox. The issue is currently being addressed at #10749. This issue might also be a duplicate of #12677.

[2017-03-26 05:14] paulostradioti opened #14094 "Help Wanted"
Challenge [Build a Personal Portfolio Webpage](https://www.freecodecamp.com/challenges/build-a-personal-portfolio-webpage) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

When we access the link in

[2017-03-26 05:56] shashank7200 commented on #14094
@paulostradioti Hey, you can use this link [http://codepen.io/ThiagoFerreir4/full/eNMxEp](http://codepen.io/ThiagoFerreir4/full/eNMxEp) to go to the pen discussed in the video. And for the new version of Portfolio sample you can use this link released in freeCodeCamp Beta [http://codepen.io/freeCodeCamp/full/zNBOYG](http://codepen.io/freeCodeCamp/full/zNBOYG).

Hope this helps!
:crocodile: Shashan

[2017-03-26 06:02] Ethan-Arrowood commented on #12757
@bonham000 for linked lists should we use the list.length() method or list.size() method to get the number of elements? There are discrepancies throughout all the challenges causing a bunch of test conflicts. I just need to know what the standard should be and I'll make the change.

[2017-03-26 06:12] QuincyLarson commented on #14094
@paulostradioti the videos are deprecated and will be soon removed. So I recommend following the CodePen that @shashank7200 mentioned.

[2017-03-26 06:12] #14094 closed

[2017-03-26 06:14] #14060 closed

[2017-03-26 06:45] QuincyLarson opened #14095 "Make a Person challenge missing tests in production"
Challenge [Make a Person](https://www.freecodecamp.com/challenges/make-a-person) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.

Make a Person's tests aren't appearing in production. This is a high-priority issue.

If you think you can fix this, branch off of backup/master, fix it,

[2017-03-26 06:45] erictleung commented on #13969
@ssinghal1989 thanks for the issue. The instructions do say

which explains why the test behaves as it should. Please take a look at the Wikipedia link for more information or ask help in the chat rooms first.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, wh

[2017-03-26 06:45] #13969 closed

[2017-03-26 06:52] erictleung commented on #14095
This usually happens when something in the code isn't valid, like it is in this challenge as you're trying to call the method `.getFullName()` without the method being defined. A simple approach would be, imo, to add the most minimal requirements for that method to exist with something like this with a corresponding comment to explain it a bit.

[code]

[2017-03-26 06:52] erictleung commented on #14093
@traanhn thanks for the issue. Please elaborate and give us more details on how you ran this code and why you cannot run this code. Thanks!

[2017-03-26 06:54] erictleung commented on #14089
@ndyarborough thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). As @texas2010 has mentioned, if you're not asking for coding help and have a bug to report, please respond accordingly. Happy coding!

[2017-03-26 06:54] #14089 closed

[2017-03-26 06:55] erictleung commented on #14088
cc/ @QuincyLarson @BerkeleyTrue

[2017-03-26 06:56] erictleung commented on #14087
@pramodgk93 thanks for the issue. Although minor, for consistency, it might be nice to add in the `.com` in the code block example.

[2017-03-26 07:25] JoolsMcFly commented on #14095
How about checking for method existence prior to calling it?
`typeof object.method === 'function' && do something with object.method`

[2017-03-26 07:27] Manish-Giri commented on #14087
I'll do this...

[2017-03-26 08:37] ongiti commented on #5616
@zrsmith75 : You are brillient person. The instructions were not clear to me either. code camp maybe should consider unless it is a tricky exam questions where student should fail. i like you apologise before you a question is the only way one gets help. you are a good lad

[2017-03-26 08:40] #13586 closed

[2017-03-26 08:43] raisedadead commented on #14077
This issue is already resolved in staging.

[2017-03-26 08:43] #14077 closed

[2017-03-26 09:32] traanhn commented on #14093
Hi, I wrote the code above and hit the run test button but the message appear error so I dont know what happened with my code

[2017-03-26 09:51] dmkav opened #14097 "How to stop infinity Loop"
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.98 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Issues is that freeCodeCamp lauch script evry time page are loaded. I don't have time press reset button or clear code.

What I suppose to do?

[2017-03-26 10:43] sugamaryal opened #14098 "my shift button is not working for brackets"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%20color%3A%20red%3B%20%7D%0A%0A%20%20h2%20%7Bfont-family%3A%20Lobster%2C%20Monospace%3B%7D%0A%0A%20%20p%20%7Bfont-size%3A%2016

[2017-03-26 11:42] Confidantz commented on #12399
I use Google chromes incognito mode[sic!] there I had the same issue, but it worked perfectly in Firefox.

[2017-03-26 11:47] Marmiz commented on #14097
Hello @dmkav thanks for reporting this issue.

Can you please tell us which challenge/section are you having this issues?
Does this loop leaves any error message on screen? If so can you please take a screenshot and paste it.
Lastly, can you please open the browser's developer console and see there which kind of error you see?

Thanks for your cooperation.

[2017-03-26 13:28] dmkav commented on #14097
Hi @marmiz! This is simple Js algorithms, challenge - factorization. I wrote recurcy, but didn't put condition. It doesn't write any mistake in  freecodecamp's console and does not show any error, after few minutes it ask kill or wait process. I can't stop JS launches.
But I have just realize I could turn off JS and try to clear window code. How do you think?

[2017-03-26 14:08] alanwake71 commented on #14091
ok, sorry, thanks guys @lynxlynxlynx @texas2010

[2017-03-26 14:38] fagbolaoluwagbenga commented on #5559
function myLocalScope() {
 var myVar = 5;
  console.log(myVar);
}

// Run and check the console
// myVar is not defined outside of myLocalScope

......MORE LIKE THIS
// Now remove the console log line to pass the test

[2017-03-26 14:52] pinknoodlehair commented on #6960
I am having this problem and I am using the beta version so I thought it was that. It doesn't happen every time, I went through the HTML exercises just fine. Once I got to CSS the troubles started to arise. I didn't rename my account but I'm having this problems.

[2017-03-26 14:58] jpdevpro opened #14099 "Spelling and grammatical errors"
#### Challenge Name

https://www.freecodecamp.com/challenges/accessing-objects-properties-with-variables

#### Issue Description

In the heading, "Objects" should be "Objects’” (with an apostrophe, i.e. right single quotation mark). And “to lookup” at the end should be “to look up”.

#### Browser Information

#### Your Code

[code]
#### Screenshot

[2017-03-26 15:18] texas2010 commented on #14098
@sugamaryal
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-03-26 15:18] #14098 closed

[2017-03-26 15:35] Sh0t1337 commented on #9149
First pass:
a = 7; b = 7;
// ^^^^^ Read.

[2017-03-26 16:53] madpopTechie opened #14100 "Create a new p element around your a element"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%3Cp%3Eview%20more%20%3Ca%20href%3D%22http%3A%2F%2Fwww.freecatphotoapp.com%22%3E%0A%20%20%20%20cat%20photos%0A%20%20%3C%2Fa%3E%0Afor%20you%20to%20follow%3C%2Fp%3E) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/5

[2017-03-26 17:02] lynxlynxlynx commented on #14100
No bug here, your code is lacking. Either reset to get the whole template back and restart, or add another (the "new" in the instructions) paragraph to your snippet.

[2017-03-26 18:16] virag369 opened #14101 "please help guys"
Challenge [Local Scope and Functions](https://www.freecodecamp.com/challenges/local-scope-and-functions#?solution=function%20myFunction()%20%7B%0A%20%20%0Avar%20myVar%20%3D%20%22strict%22%3B%0Aconsole.log(myVar)%3B%0A%0A%7D%0A%0AmyFunction()%3B%0A%2F%2F%20Now%20remove%20the%20console%20log%20line%20to%20pass%20the%20test%0Aconsole.log(myVar)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (M

[2017-03-26 18:52] aniquaakbar opened #14102 "say hello"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-03-26 18:59] #14102 closed

[2017-03-26 19:18] Dayfiri commented on #14101
Can you elaborate what you exactly have problem with ?
The assignment asks you to remove the last line in your code and you're good to go.
As the @VarCI-bot said, this is for reporting bugs only. For any help check the links above me, in bot reply.

[2017-03-26 19:24] Dayfiri commented on #14100
@madpopTechie Hello there.
The code is pretty sensitive in what it asks from you. It wont lets you pass because you need to write
`View more ` instead of `view more `.
I passed the challenge right now so I'm sure it is not a bug.
For any future help that you need with exercises, feel free to ask at [help room](https://gitter.im/FreeCodeCamp/Help?source=all-rooms-list).
Happy coding ;)

[2017-03-26 20:45] suchith892 commented on #14036
var myStr = "FirstLine\n\\SecondLine\\\rThirdLine";

note:Note that the backslash itself must be escaped in order to display as a backslash.(this point helped me to get solution for this.

[2017-03-26 20:58] texas2010 commented on #14101
@virag369
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2017-03-26 20:58] #14101 closed

[2017-03-26 21:47] Goldolo opened #14103 "css style"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%20.red-text%20%7Bcolor%3A%20red%3B%7D%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D'red-text'%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%

[2017-03-26 21:49] #14103 closed

[2017-03-26 21:51] Zooll8 opened #14104 "My code supposed to work, seems like a server Sass->CSS bug."
Challenge [store-data-with-sass-variables](http://beta.freecodecamp.com/en/challenges/sass/store-data-with-sass-variables) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.98 Safari/537.36</code>.
To reproduce issue just copy/paste included code into page with challenge and run it,
![image](https://cloud.githubuser

[2017-03-26 22:01] Goldolo opened #14105 "Brower and text should be 100%"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20p%20%7B%0A%20%20%20%20font-size%3D%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty

[2017-03-26 22:04] xynja commented on #14089
you wrote :   <div container-fluid>

Your div element should have the **# class** container-fluid

[2017-03-26 22:07] ShariefBrown opened #14106 "will not turn blue"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%20%3C%2Fstyle%3E%0A%3Ch2%20%7Bcolor%3A%20blue%3B%7D%20%3ECatPhotoApp%3C%2Fh2%3E%20%3C%2Fstyle%3E%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%

[2017-03-26 22:11] Goldolo commented on #14106
is for the code is wrong, should be like this
<style>
 h2 {
color:blue;
}
<h2> CatPhotApp</h2>

[2017-03-26 22:12] Goldolo commented on #14106
`<style>
h2 {
color:blue;
}
<h2> CatPhotoApp </h2>`

[2017-03-26 22:20] #14105 closed

[2017-03-26 22:20] ShariefBrown commented on #14106
still didn't work

[2017-03-26 22:29] Zooll8 opened #14107 "Code don't work as it supposed to, another server-side Sass->CSS problem."
Challenge [use-for-to-create-a-sass-loop](http://beta.freecodecamp.com/en/challenges/sass/use-for-to-create-a-sass-loop) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.98 Safari/537.36</code>.
To reproduce just copy/paste listed below code and run it on the challenge page.
![image](https://dl.dropboxusercontent.c

[2017-03-27 00:27] texas2010 commented on #14106
@Goldolo
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-03-27 00:27] texas2010 commented on #14106
@ShariefBrown
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-03-27 00:27] #14106 closed

[2017-03-27 00:29] texas2010 commented on #14105
Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](http://forum.freeco

[2017-03-27 00:43] ShariefBrown opened #14108 "what am i doing wrong???"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3Bh1%20font%20size%3A%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20s

[2017-03-27 00:58] shikkaba opened #14109 "Type Error: arr.push is not a function"
#### Challenge Name

Stand in Line

#### Issue Description

Getting an error of Type Error: arr.push is not a function when the solution is the same as other solutions.

#### Browser Information

* Browser Name, Version: Chrome
* Operating System: OSX 10.11.6
* Mobile, Desktop, or Tablet: Macbook Pro

#### Your Code

This was my code:
[code]

This code came up as correct:
[code]

[code]

[2017-03-27 01:18] hassangamal opened #14110 "how cam solve this problem"
Challenge [Check Radio Buttons and Checkboxes by Default](https://www.freecodecamp.com/challenges/check-radio-buttons-and-checkboxes-by-default#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%2

[2017-03-27 01:42] erictleung commented on #14093
@traanhn I see. Your code does pass for me. Does the error message appear after you finish the previous challenge or just when you just go to the challenge directly from the URL? Also, can you confirm which browser you're using?

[2017-03-27 01:54] erictleung commented on #13887
@lousite sorry for the late response. Mmm sounds like there might be a browser plugin that is interfering with the success modal. I would disable some of them and see if that addresses the issue. Your code passes for me.

[2017-03-27 01:59] virag369 opened #14111 "this is BUG"
Challenge [Selecting from many options with Switch Statements](https://www.freecodecamp.com/challenges/selecting-from-many-options-with-switch-statements#?solution=%0Afunction%20caseInSwitch(val)%20%7B%0A%20%20var%20answer%20%3D%20%22%22%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%0A%20%20%0A%20%20switch%20(val)%20%7B%0A%20%20case%201%3A%0A%20%20%20%20console.log('alpha

[2017-03-27 02:03] texas2010 commented on #14111
@virag369
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2017-03-27 02:03] #14111 closed

[2017-03-27 02:04] texas2010 commented on #14110
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-03-27 02:07] texas2010 commented on #14108
Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](http://forum.freeco

[2017-03-27 02:07] #14108 closed

[2017-03-27 04:17] romercoder opened #14112 "please help my challenge guys"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

![image](https://cloud.githubusercontent.com/assets/26372086/24340693/cba6065a-12e6-11e7-9192-fd50f747e87d.png)
![jerome](https://cloud.githubusercontent.com/assets/26372086/24340769/39b22e80-12e7-11e7-974c-e5c384

[2017-03-27 04:18] romercoder commented on #14112
thank you!!!

[2017-03-27 05:03] erictleung commented on #14112
@romercoder Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free-c

[2017-03-27 05:03] #14112 closed

[2017-03-27 05:58] JoolsMcFly commented on #14109
You're getting an error call your initial call does not use `testArr` sample code provided but scalar 10:
`console.log(nextInLine(10, 6));`

So code is trying to push 6 to 10 and fails.
Second example you posted uses `testArr` and works.

Next time please ask in forums. Can you close this issue please? Thanks

[2017-03-27 08:04] MMAgeek opened #14114 "Build a Tribute Page - no user stories shown"
Challenge [build-a-tribute-page](http://beta.freecodecamp.com/en/challenges/applied-responsive-web-design-projects/build-a-tribute-page) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.

The text in the challenge says "Fulfill the user stories by getting all of the tests to pass. Use whiche

[2017-03-27 08:09] JoolsMcFly commented on #14099
You're right about the apostrophe but _lookup_ is a valid word.
https://en.oxforddictionaries.com/definition/lookup

I also found occurrences of `it's` being used instead of `its`. A PR is on its way!

[2017-03-27 11:05] hay-dee commented on #14093
@erictleung I suspected it might've been a case of "correct code but failing the test", so i decided to check out the assert test. Had a little bit of trouble locating it as the challenge was recently removed/merged in [this PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/13960). Nevertheless, from the files changed, we can see that the assert test was using the .css() jQuery method. Complet

[2017-03-27 11:19] Dejay86 opened #14116 "Basic CSS: Change the Color of Text - empty space issue"
#### Challenge Name
http://beta.freecodecamp.com/challenges/basic-css/change-the-color-of-text

#### Issue Description
Getting an error with the empty spaces between the equality sign and rest of a code.

![image](https://cloud.githubusercontent.com/assets/25308074/24353954/60fcd2f2-12f0-11e7-8451-23262aad2197.png)
#### Browser Information

* Browser Name, Version: Google Chrome, Version 56.0.2924

[2017-03-27 11:44] MihaelaMarinca commented on #7199
this is the correct answer :

function testLogicalOr(val) {
// Only change code below this line
  if(val > 20 || val < 10){
    return "Outside";
  }
      return "Inside";

}

// Change this value to test
testLogicalOr(15);

[2017-03-27 12:01] MihaelaMarinca commented on #5623
this is the correct answer:

function testSize(num) {
  // Only change code below this line
 if(num < 5){
    return 'Tiny';
  }
  else if(num < 10){
    return 'Small';
  }
  else if(num < 15){
    return 'Medium';
  }
  else if( num < 20){
    return 'Large';
  }
  else if(num >= 20){
    return 'Huge';
  }
  // Only change code above this line
}

// Change this value to test
testSize(5);

[2017-03-27 12:25] paddylandau commented on #13727
I have just come across this bug report. I wonder if my experience might shed some light on this.

When I write a post on [Ubuntu Forums](https://ubuntuforums.org) — which is a perfectly bona fide site — Chrome frequently, but not always, gives me this error when I press "Preview Post".

I have attempted to find a pattern, but it seems entirely arbitrary; I can type some wording, which Chrome acce

[2017-03-27 12:39] MihaelaMarinca commented on #8713
just one thing: the **default** should always be there in a switch statement.

[2017-03-27 12:42] lisa13 commented on #14036
This one worked perfectly fine for me! var myStr = "FirstLine\n\\SecondLine\\\rThirdLine";

[2017-03-27 12:52] MihaelaMarinca commented on #6294
the only mistake that usually all of us is that we tried to invoke the function **switchOfStuff(with the wrong value)**. Remember: the solution:
 !! switchOfStuff("b"); !! --> the case "b", or "c" or "a". (not a, b, or c,or 1, or another values.)

the correct result:

function switchOfStuff(val) {
  var answer = val;
  // Only change code below this line
switch (answer){
  case "a":
      answer =

[2017-03-27 13:20] jpdevpro commented on #14099
Yes, it’s a word: a noun. It isn’t a verb. But in the location I cited it’s used as a verb.

[2017-03-27 14:02] JoolsMcFly commented on #14099
Right, gotcha now. Will change that.

[2017-03-27 14:06] Goldolo commented on #14059
I have the same problem when I use chrome, use safari to pass the task

[2017-03-27 14:45] ademolaadebanji commented on #10128
kindly tell me how to have try so many things thanks

[2017-03-27 15:23] jamesbcn opened #14118 "Test user did not replace const keyword"
Challenge [mutate-an-array-declared-with-const](http://beta.freecodecamp.com/en/challenges/es6/mutate-an-array-declared-with-const) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

I replaced const with l

[2017-03-27 15:31] texas2010 commented on #5623
@MihaelaMarinca
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-03-27 15:35] texas2010 commented on #14110
@hassangamal
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.
GitHub Issues are for reporting bugs on the website only.

Happy Coding.

[2017-03-27 15:35] #14110 closed

[2017-03-27 15:47] texas2010 commented on #14036
@lisa13
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-03-27 15:51] texas2010 commented on #14059
no respond from that guy as close it.

[2017-03-27 15:51] #14059 closed

[2017-03-27 17:02] Harrynotwizard commented on #2794
I finally solve it! thanks 👍

[2017-03-27 18:19] JoolsMcFly commented on #14118
Yep, assertions are not implemented. I'll see what I can do.

[2017-03-27 18:54] lisa13 commented on #14036
@texas2010 Roger that! I apologize! :D If anyone's still having problem with this task and needs help PM me ;)

[2017-03-27 18:55] texas2010 commented on #14036
@lisa13 no problem.

[2017-03-27 19:47] fcobo95 opened #14119 "Challenge #26: Link to External Pages with Anchor Elements. CatPhotoApp "a" tag issue."
#### Challenge Name: Link to External Pages with Anchor Elements

https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7

[2017-03-27 21:03] amrIbrahem commented on #14059
i'm here

On 27 March 2017 at 17:54, Lance <notifications@github.com> wrote:

[2017-03-27 21:10] OFFLlNE commented on #14119
Thank you for reporting your issue.

Your code on the screenshot is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum

[2017-03-27 21:10] #14119 closed

[2017-03-27 21:13] OFFLlNE commented on #14109
Thank you for reporting your issue.

As @JoolsMcFly pointed out ;)

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms]

[2017-03-27 21:13] #14109 closed

[2017-03-27 21:13] OFFLlNE commented on #14100
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-03-27 21:13] #14100 closed

[2017-03-27 21:37] HKuz commented on #14104
@Zooll8 - thanks for raising this issue. Unfortunately, the Beta site isn't compiling the Sass code for these challenges to work right - I believe a fix is in the works. I'm going to close this as a duplicate of #12699 , but feel free to join the discussion over in the comments there.

Thanks for your QA help on the Beta site! 🎉

[2017-03-27 21:37] #14104 closed

[2017-03-27 22:11] HKuz commented on #13288
Hi @Atomk - thanks for pointing out the issues with this challenge. That first sentence about the links being in a list definitely shouldn't be there, it's probably an artifact from the pre-Beta QA process (there were multiple iterations through this section). Since there's little detail about visual balance and it's re-using the `height` property right after it was taught, I'd say we should remov

[2017-03-27 22:34] HKuz commented on #13463
@Greenheart thanks for tagging me on this, I'm slowly working through my backlog of issues 😅

As @Atomk pointed out, this challenge isn't really introducing a new concept (`color` was taught in the CSS section), and it's not adding much more info. I think we can safely remove it after editing the following challenge "Adjust the Hover State of an Anchor Tag". Here are some suggestions for the chang

[2017-03-27 22:36] Manish-Giri commented on #13463
I'll take this up!

[2017-03-27 22:37] HKuz commented on #13463
All yours, @Manish-Giri - thank you!!

[2017-03-27 23:00] HKuz commented on #13869
@nativedone - thanks for pointing this out. Yes, that should say `width` in the text, instead of `height`. All good suggestions @cdrainxv - the extra spacing in the example and seed code will make them easier to read, and good point with the fraction vs. ratio in the text.

For anyone that wants to work on this, please refer to the [Contributor's Guide](https://github.com/freeCodeCamp/freeCodeCamp

[2017-03-27 23:02] no-stack-dub-sack commented on #14116
@Dejay86 Well, while that's probably considered poor syntactic style, I agree that it should probably still pass the test, seeing as the `h2` still gets colored red. This is a regex issue with the way we are testing the code.

This is the line of code in question:
[code]
So, we are not allowing spaces after or before the assignment operator, and now that I look at it, I see another couple of issue

[2017-03-27 23:33] HKuz commented on #14107
@Zooll8 - this looks like the same root issue you brought up in your other issue (code is fine, but Sass isn't working properly on the Beta site yet). I'm going to close this as similar to #12699 - but hang tight, hopefully we work out a fix soon  👍

[2017-03-27 23:33] #14107 closed

[2017-03-27 23:43] HKuz commented on #13875
@Skarrix - thanks for pointing this out! Yes, looks like the current test for this challenge is only using a simple regex to check for the presence of the `opacity` property in the code somewhere. I think the test can be refined to make sure it's in the `@keyframes` rule.

Anyone looking to level up their regex skills and help out, please refer to the [Contributor's Guide](https://github.com/freeC

[2017-03-28 00:08] Manish-Giri commented on #13875
@HKuz I'll take this! Always up for a regex challenge 😛

[2017-03-28 00:18] HKuz commented on #13875
Ha! A worthy quest, good luck!

[2017-03-28 01:18] sylarxinxu opened #14122 "Get Geolocation Data"
Challenge [Get Geolocation Data](https://www.freecodecamp.com/challenges/get-geolocation-data#?solution=%0Afccss%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%20%20if%20(navigator.geolocation)%20%7B%0Anavigator.geolocation.getCurrentPosition(function(position)%20%7B%0A%24(%22%23data%22).html(%22latitude%3A%20%22%20%2B%20position.coords.latitude%20%2B%20%22%3Cbr%3Elongitude%3A%20%

[2017-03-28 02:58] masters-george commented on #13027
The instructions for the beta version  of the challenge also need to tell the camper how to handle words that have no vowels (e.g. merely append "ay" at the end of the word).

[2017-03-28 04:10] lindakatcodes commented on #13726
It's still happening for me in the Applied Visual Design section. I'll have to double check the HTML and Basic CSS sections again tomorrow to see if it's changed there at all.

[2017-03-28 04:50] Silverjayw opened #14124 "Setting Different Margins Bug"
I had an issue with the free code camp mission above for a bit resetting my code worked to fix it but every time i load the page the first time that mission wont let me put in more than 3 sides of the margin.  It didnt stop me from finishing it but i just wanted to report the bug.

[2017-03-28 05:06] Marmiz commented on #14097
By the way you've described the issue @dmkav, seems like you have wrote a broken function causing an infinity loop in the on-line editor.

If this is the case, simply reset the page and try again.
Also from now on please refer to the [official forum](https://forum.freecodecamp.com) or ask for help in one of the [official chat rooms](https://forum.freecodecamp.com/t/free-code-camp-official-chat-roo

[2017-03-28 05:18] ar94952 commented on #10788
graysage:  your total is 6.  It's supposed to be 20.

[2017-03-28 05:31] romercoder opened #14125 "hi guys help my issues"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

![image](https://cloud.githubusercontent.com/assets/26372086/24390303/a88b2aea-13ba-11e7-8ef1-9dda63a6a80a.png)

[2017-03-28 05:44] R-2pa commented on #604
Some info for badge issuing platforms:
A currently list of badge issuing platforms can be found here: [Participating services](https://openbadges.org/about/participating-services). Many platforms offer integrations with other applications or open APIs for new integrations. Some platforms are also available as open source software for issuers who wish to customize their badging applications further

[2017-03-28 06:59] MihaelaMarinca commented on #5623
sorry, i didn;t know.

[2017-03-28 07:04] Gichunge commented on #8435
I found this example on FreecodeCamp on GitHub and it works:

var Cake = function() {

  var loot = 2;
  // Getter to know how much loot you have
  this.getLoot = function() {
    return loot;
  };

  // Setter to change the ammount of loot
  this.setLoot = function(num){
    loot = num;
  };

[2017-03-28 07:06] Gichunge commented on #7428
I found this example on GitHub and it works;
var Cake = function() {

  var loot = 2;
  // Getter to know how much loot you have
  this.getLoot = function() {
    return loot;
  };

  // Setter to change the ammount of loot
  this.setLoot = function(num){
    loot = num;
  };

[2017-03-28 09:16] vinodkumartheking opened #14127 "Error while process words that are captalized but function is running fine !"
Challenge [Search and Replace](https://www.freecodecamp.com/challenges/search-and-replace#?solution=%0Afunction%20myReplace(str%2C%20before%2C%20after)%20%7B%0A%20%20str%20%3D%20str.split('%20')%3B%0A%20%20str%5Bstr.indexOf(before)%5D%20%3D%20after%3B%0A%20%20return%20str.join('%20')%3B%0A%7D%0A%0A%0AmyReplace(%22A%20quick%20brown%20fox%20jumped%20over%20the%20lazy%20dog%22%2C%20%22jumped%22%2C%20