[2017-12-23 00:27] #16265 closed

[2017-12-23 00:31] ncaron opened #16269 "Stuck on profile page - Beta"
#### Issue Description

After going to the profile page, I can no longer navigate away from it. I do not see any errors in the console.

Steps to reproduce:
1. Go to https://beta.freecodecamp.org/
2. Click on "My Profile".
3. Click on "Map", "My Profile" or the freeCodeCamp logo. Nothing happens.

#### Browser Information

* Browser Name, Version:  Chrome 63
* Operating System: Windows 10
* Mobile

[2017-12-23 00:35] theoutlander commented on #15967
Looking into this item. Here's an efficient solution:

[code]

However, I can't seem to repro the problem?

[2017-12-23 00:40] theoutlander commented on #15729
Is this still available?

[2017-12-23 01:17] mstellaluna opened #16270 "MY PROFILE: Previously Completed Challenges showing as NA"
#### Challenge Name

My Profile -> Show me my public profile

#### Issue Description

Some previously completed challenged are not loading correctly.
They are listed in the profile as 'NA'
Screenshot is below.

#### Browser Information

* Browser Name, Version:
* Operating System: FireFox 57.0 (64-bit)  and Chrome Version 63.0.3239.84 (Official Build) (64-bit)
* Mobile, Desktop, or Tablet: Laptop

[2017-12-23 01:21] KhaledSamir commented on #16258
Hey @QuincyLarson, I'm done with the required changes and get the html exactly matches the production but I have a question. When we click on " Ask for help on the forum " , the modal that will pops-up is still different So, do you wanna fix this as part of this issue or open a new one specifically for the modal?

This is in Local ( Check the buttons also :) )

![screen shot 2017-12-22 at 7 16 38

[2017-12-23 01:44] mstellaluna opened #16271 "Social Media Buttons - Unable to remove account(s) - account not found"
#### Challenge Name

My Profile -> Update my Settings
Add my twitter account and add my linked in account

#### Issue Description

added my twitter account to my profile. when trying to remove the account, it gives an error saying no account found. I have not tried for linked in.

#### Browser Information

* Browser Name, Version:
* Operating System: FireFox 57.0 (64-bit)  and Chrome Version 63.0.

[2017-12-23 01:47] jjprevite opened #16272 ""What would you like to know?" Search Input Not Working"
#### freeCodeCamp beta website
[https://beta.freecodecamp.org/](https://beta.freecodecamp.org/)

#### Issue Description
The search box labeled "What would you like to know?" does not seem to be working. When I type something in and hit enter, nothing happens.

To recreate issue:

1. log in to [https://beta.freecodecamp.org/](https://beta.freecodecamp.org/)
2. click on any challenge on the from the

[2017-12-23 01:52] mstellaluna opened #16273 "Social Media: Adding Twitter or LinkedIn modifies the other mned"
#### Challenge Name

My Profile -> Update my Settings
Add my twitter account and add my linked in account

#### Issue Description

After adding only the twitter account, the linkedin account becomes active as if a linkedin account was added but was not.
cannot remove the falsely account. URI does not match.
but the twitter logo is available on public profile with privacy settings disabled.

#### B

[2017-12-23 01:57] mstellaluna commented on #16272
added Beta label.

[2017-12-23 02:00] jjprevite opened #16274 "[beta] Certificate Names Expand Beyond Boxes on Commit/Pledge Page"
#### Issue Description
Data Visualization and APIs and Microservices expand outside of their "boxes" in Step 1 on the [Commit page](https://beta.freecodecamp.org/en/commit)

1. log in to https://beta.freecodecamp.org/
2. click on My Profile
3. click "Edit my pledge"
4. scroll down until you see Step 1.

#### Browser Information

* Browser Name, Version: Chrome Version 63.0.3239.84 (Official Build)

[2017-12-23 02:02] mstellaluna commented on #16274
added beta label

[2017-12-23 02:03] theoutlander opened #16275 "Search results point to www.freecodecamp.org when running locally"
#### Issue Description
The search feature on the top bar loads results that go to the main site on www.freecodecamp.org. This is when I was using it locally from localhost:3000.

#### Browser Information
* Browser Name, Version 63.0.3239.108 (Official Build) (64-bit):
* Operating System: Mac OS
* Desktop

#### Screenshot
Notice the link on the status bar

<img width="1680" alt="screenshot 2017-12-

[2017-12-23 02:09] mstellaluna opened #16276 "Toggle Button in Dark Mode should read as Toggle Light Mode"
#### Challenge Name

My Profile -> Update My Settings -> Toggle Dark Mode

#### Issue Description

When in dark mode, the toggle button should say "Toggle Light Mode" instead of "Toggle Dark Mode"

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

![image](https://user-images.githubusercontent.com/22984739/

[2017-12-23 02:20] mstellaluna opened #16277 "Privacy Settings - Button stays green (active) when toggling from On to Off"
#### Challenge Name

My Profile - Update My Settings - Privacy Settings

#### Issue Description

The toggle button by default is White with the label Off.
When selecting On it goes to FCC Green so the selection is active.
When clicking on the button again, the label switches to Off but stays green until you click elsewhere on the page.
Can be confusing if the setting is enabled/disabled

#### Brow

[2017-12-23 02:34] mstellaluna opened #16278 "Available For Hire does not update the public profile if they are/not available"
#### Challenge Name

Profile - Update My Settings - Available for Hire

#### Issue Description

When enabling the 'Available for Hire' it does not appear in the public profile
that the camper is available for hire.
Maybe add a "Available For Hire: Yes" or "Available For Hire: Yes" depending on the camper's selection
Maybe just above the brownie/cookie points value

#### Browser Information

* Brow

[2017-12-23 02:42] theoutlander commented on #16235
I'm going through this, but not sure where to start in terms of the function that executes the challenge. It appears that the code is minified as well, so I can't catch it in the browser when an exception occurs. Any pointers @QuincyLarson ?

[2017-12-23 03:04] QuincyLarson commented on #16258
@Kalcode Yes - good catch! Can you also update that modal?

[2017-12-23 03:07] QuincyLarson commented on #15729
@theoutlander It's almost done - @jonathan-grah is finalizing it.

[2017-12-23 03:22] mstellaluna opened #16279 "Language Option menu does not close and turns green when mouse is moved away"
#### Challenge Name

My Profile - Update My Settings - Display Challenges in

#### Issue Description

When leaving the dropdown menu open and move the mouse away from the drop down
the menu does not close and it turns green

#### Browser Information

* Browser Name, Version:
* Operating System: FireFox 57.0 (64-bit)  and Chrome Version 63.0.3239.84 (Official Build) (64-bit)
* Mobile, Desktop, or T

[2017-12-23 03:24] KhaledSamir commented on #16258
@QuincyLarson sure, I'll give it a try tomorrow morning.

[2017-12-23 03:29] Kalcode commented on #16258
Wrong user mention :)

Thought you were randomly asking me to update something. I was like sure I'll look into it lol.

[2017-12-23 03:30] mstellaluna opened #16280 "Delete Progress/Brownie Points - Confirmation Popup - cannot read text in dark mode"
#### Challenge Name
My Profile -> Update My Settings -> Reset Progress/Brownie Points

#### Issue Description

The confirmation popup window, the text is not readable.
Either the background is too dark because its in dark mode
or the buttons should be filled in and the text be in white

#### Browser Information

* Browser Name, Version:
* Operating System: FireFox 57.0 (64-bit)  and Chrome Version

[2017-12-23 03:39] Ethan-Arrowood commented on #16235
@theoutlander I believe the precompiled code is available under the `getUserInput` variable. This is what I used for writing tests.

[2017-12-23 03:45] BerkeleyTrue commented on #16235
These challenges will need to be disabled as the framework has no way of resolving import/export statements.

[2017-12-23 03:53] mstellaluna opened #16281 "Beta.FreeCodeCamp.org is down - 502 Bad Gateway"
#### Challenge Name

beta.freecodecamp.org

#### Issue Description

Beta is down again for the second time this evening. Quincy corrected it the first time but now getting errors again 502 Bad Gateway

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

![image](https://user-images.githubusercontent.com/22984

[2017-12-23 03:53] mstellaluna commented on #16281
@QuincyLarson @BerkeleyTrue

[2017-12-23 04:00] mstellaluna opened #16282 "Delete FCC Account - Confirmation Text Popup - cannot read in Dark Mode"
#### Challenge Name

My Profile -> Update My Settings -> Reset Progress/Brownie Points

#### Issue Description

The confirmation popup window, the text is not readable.
Either the background is too dark because its in dark mode
or the buttons should be filled in and the text be in white

#### Browser Information

* Browser Name, Version:
* Operating System: FireFox 57.0 (64-bit)  and Chrome Versio

[2017-12-23 04:01] theoutlander commented on #16281
It appears that the site has been going down a few times. I think we should integrate with https://sentry.io so it helps us pinpoint these issues without much effort. I'm happy to take that task.

[2017-12-23 04:10] mstellaluna opened #16283 "Public Profile - Social Media Buttons look and behave differently"
#### Challenge Name
https://beta.freecodecamp.org/<username>
Privacy Settings must be turned off and a social media account linked to verify

GitHub Button: By Default is Green instead of white and turns a different shade of light grey on hover
Twitter Button: By Default is White and turns a different shade of dark green (not the FCC green) on hover
LinkedIn: unknown since there is an issue in an

[2017-12-23 04:12] BerkeleyTrue commented on #16281
Thanks for reporting @mstellaluna

It's back up now.

Happy Coding

[2017-12-23 04:15] #16083 closed

[2017-12-23 04:17] #16254 closed

[2017-12-23 04:19] mstellaluna commented on #16281
@BerkeleyTrue @QuincyLarson  re-opening its down again.. same error

[2017-12-23 04:19] QuincyLarson commented on #16235
@BerkeleyTrue Could there be a way we could fake this for the purpose of teaching it?

Are we planning to support import/export statements in the near future? Will campers be able to build projects codepen-style on freeCodeCamp without using these?

[2017-12-23 04:21] QuincyLarson commented on #16281
@mstellaluna Thanks for the heads-up. I just messaged @BerkeleyTrue and we're going to get it back up as quickly as possible.

[2017-12-23 04:24] QuincyLarson commented on #16258
@Kalcode Woops. You are super active on GitHub - I guess that's why it auto-completed to you. We'd welcome your help in general though :)

@KhaledSamir OK - thanks for your help with this!

[2017-12-23 04:42] QuincyLarson commented on #16272
@Bouncey We have the steps to reproduce this - could you take a look at it? I've assigned you.

[2017-12-23 04:44] QuincyLarson commented on #16283
@mstellaluna thanks for reporting this!

@jonathan-grah once you ship the updated profiles, can you confirm that these buttons behave consistently?

[2017-12-23 05:59] agitaev opened #16284 "cursor in the editor is not visible enough in dark mode"
#### Issue Description

When the dark mode is enabled, the cursor in the editor's field (coding area) is not visible enough without the higher brightness of the screen.

#### Browser Information

* Version 63.0.3239.84 (Official Build) (64-bit):
* macOS High Sierra v10.13.2:

#### Screenshot
[code]
P.S. In case you cannot find a cursor in the screenshot, it's in line 9 :)

[2017-12-23 05:59] mstellaluna opened #16285 "Changes to privacy setting does not show popup confirm changes"
#### Challenge Name

My Profile -> Update my Settings -> Privacy Settings

#### Issue Description

When toggling privacy settings between On or Off, there is no confirmation the changes were done. When you verify your public profile the changes do take effect.

Production FCC does alert when the changes are executed.
The screenshot below is from Production FCC.
#### Browser Information

Browser Na

[2017-12-23 06:03] mstellaluna commented on #16284
added beta label

[2017-12-23 06:19] RitikPatni opened #16286 "After completing the challenge it shows something is not right and map is not working while doing challenges"
#### Get Set for our Responsive Web Design Projects

https://beta.freecodecamp.org/en/challenges/applied-responsive-web-design-projects/get-set-for-our-responsive-web-design-projects

#### Issue Description
After completing this challenge it shows something went wrong and doesn't redirects to next page also the map won't work when you are on challenges in case you want to navigate through the map

[2017-12-23 06:39] theoutlander commented on #16235
If we break the normal event flow and introduce a special case, it should be easy to fake it. The validator passes. I’m not sure what tries to do the actual require. Another option is to add a faked window.require which can respond with mock data. I can try that as an option.

Sent from my iPhone

On Dec 22, 2017, at 8:22 PM, Quincy Larson <notifications@github.com<mailto:notifications@github.com>

[2017-12-23 06:40] theoutlander commented on #15729
Thanks. I think I’m missing something. Shouldn’t these issues be assigned? I’ve had a problem picking an issue on and off for the past week as everything I tried to claim was being worked on.

Sent from my iPhone

On Dec 22, 2017, at 7:10 PM, Quincy Larson <notifications@github.com<mailto:notifications@github.com>> wrote:

@theoutlander<https://nam01.safelinks.protection.outlook.com/?url=https%3A%

[2017-12-23 08:00] urbanware opened #16288 "Can't login from email link on second reset "Oops, something is not right, please request a fresh link to sign in / sign up.""
#### Challenge Name

https://beta.freecodecamp.org/en/email-signin

#### Issue Description

Site no longer responds after second deletion of account.

I received initial email link and opened account (email 1) (test account beta@urbanware.com)
I tried browsing (screenshots below)
Only My Profile working, couldn't access challenges
Logout/Login worked, challenges accessible
I reset challenge progre

[2017-12-23 08:01] raisedadead commented on #16266
This is inherent from the infrastructure challenges.

Currently, whenever a login request is made:

1. An AJAX request is made to the auth api.
2. It looks up through the accounts, and creates a token.
3. Then a request is made to AWS api for sending out the email.
4. As the requests cascade and resolve, the AJAX completes.

The button in the UI is in a disabled state, while the above 4 steps happ

[2017-12-23 08:16] mtrivera opened #16289 "Improve instructions: Link to External Pages with Anchor Elements"
#### Challenge Name
Basic HTML and HTML5: Link to External Pages with Anchor Elements
https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/link-to-external-pages-with-anchor-elements

#### Issue Description
The image displaying the anchor elements is smashed together. I think it should be broken into smaller parts and displayed with regular text like below:

Let's break down the exampl

[2017-12-23 08:28] raisedadead commented on #16266
A delayed method can be added in between the below lines, which will set a notification

https://github.com/freeCodeCamp/freeCodeCamp/blob/1dae80ad1b885ad1a23e3d315f3de546d8305d76/server/views/account/email-signin.jade#L54-L55

that reads,

And such a notification should be triggered only after 3-4 seconds since the button was clicked.

[2017-12-23 08:36] jarrodyellets opened #16290 "Unable to sign in"
#### Issue Description

When you click on the magic link after you entered your email, it states "Oops, something is not right, please request a fresh link to sign in / sign up".  I waited to request a new link, but same issue.

#### Browser Information

* Browser Name, Version: Chrome version 63, Safari on iOS 11.2.1
* Operating System: Mac OSX 10.13.1, iOS 11.2.1
* Mobile, Desktop, or Tablet: La

[2017-12-23 08:47] DarrenfJ commented on #16284
I can concur on this one. it's the first thing I noticed.. it's a black cursor on a black background.. very hard to notice and somewhat disconcerting ( from a UI perspective, causes you to pause as it feels like it hasn't 'accepted' the click to activate the window )

[2017-12-23 09:03] Bouncey commented on #16272
I have (patched the search server)[https://github.com/freeCodeCamp/search/pull/64] to be more flexible with our sub-domains.

This is working on `staging`. I suspect the beta server needs a refresh to have the changes required in `/server/middlewares/csp.js`

@BerkeleyTrue

[2017-12-23 09:03] DarrenfJ opened #16291 "Code Locked. Unlock? Button does not 'lock' code"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/json-apis-and-ajax/handle-click-events-with-javascript-using-the-onclick-property

#### Issue Description

left the page, came back. saw the "I found some saved work, loading now" dialogue box bottom right, Noticed the 'Run tests (ctrl + enter)' button changed to 'Code Locked. Unlock?'

Was still allowed me to remove my code before c

[2017-12-23 09:25] Bouncey commented on #16276
I would say that button is still correct. The button toggles night mode on and off.

Maybe it would be better as a toggle switch?

[2017-12-23 09:32] Bouncey commented on #16275
@theoutlander Thanks for the the issue. The absolute links as known about and under discussion [here](https://github.com/freeCodeCamp/freeCodeCamp/issues/16219#issuecomment-352858887)

[2017-12-23 09:32] #16275 closed

[2017-12-23 09:33] Bouncey commented on #16277
Is it a focus issue? Did you click away from the button?

[2017-12-23 09:51] vladiiancu commented on #16267
It's been years since I've done a PR :)
I managed to have the website downloaded locally and all that. It seemed that the overlapping was caused by a class negative-30 that gave a margin-top: -30px. Removed it for flash partial view. It is also used in 2 other places but not sure right now if needed or not.

[2017-12-23 09:57] vkWeb opened #16293 "[Beta] UI Polishing tasks which need to be done before shipping."
### [Beta] UI Polishing tasks

- [ ] Navigation bar should look exactly similar to the master FCC.
- [ ] The map section should be implemented like the master FCC one.
- [ ] There should be proper margins in the lesson section for better readability.
- [ ] On closing the map section, the lesson section isn't  resizable.
- [ ] The map button's hover animation overlaps the search bar.

### Issue Des

[2017-12-23 10:05] Bouncey commented on #16291
Code lock stops any code running in your browser. If the code looks 'funky', please ask in gitter chat to make sure it is doing what is it supposed to be doing :+1:

[2017-12-23 10:28] Bouncey commented on #16293
I agree that 3, 4 and 5 should be addressed.

[2017-12-23 10:32] Bouncey commented on #16290
@jarrodyellets Did you sign up for the beta test?

[2017-12-23 10:39] Bouncey commented on #16286
@RitikPatni Are there any messages in the developer tools console?

[2017-12-23 11:34] Bouncey commented on #13806
Closing as resolved in staging. If this is still an issue, please reopen and provide more information

Happy Coding!

[2017-12-23 11:34] #13806 closed

[2017-12-23 12:05] Asjas commented on #16290
@bouncy I can confirm that I'm receiving a similar problem when I receive my magic sign-in link. It get that same error.

I received the email from Quincy stating that I am a part of the beta test QA a few hours before trying to sign in.

[2017-12-23 12:36] jarrodyellets commented on #16290
I have signed up.  I got the confirmation email from Quincy.

[2017-12-23 13:46] vkWeb commented on #16293
@Bouncey I think we should put this issue in the beta-release project. What do you think?

@QuincyLarson , @systimotic , @no-stack-dub-sack . Your opinions on this, please?

[2017-12-23 14:19] raisedadead commented on #16290
Need to investigate this on the production, its not reproducible locally.

[2017-12-23 14:22] jonathan-grah commented on #16283
@QuincyLarson; I don't believe we have these buttons formatted like this, as it wasn't in the mockup. Should they be changed to use this styling?

[2017-12-23 14:23] raisedadead commented on #16290
Duplicate of #16288

[2017-12-23 14:23] #16290 closed

[2017-12-23 14:23] RitikPatni commented on #16286
@Bouncey nothing is working now not even the search box or the map so I can't navigate to the error I'm attaching the console screenshots so that you can look into the issue
![screenshot from 2017-12-23 19-51-29](https://user-images.githubusercontent.com/16117262/34320233-f1173cce-e81a-11e7-8517-6fb4ff2177d8.png)

[2017-12-23 14:23] raisedadead commented on #16288
Need to investigate this on the production, its not reproducible locally.

[2017-12-23 14:24] jonathan-grah commented on #16276
We now have this as an "on-off" switch. This can be closed.

[2017-12-23 14:24] #16276 closed

[2017-12-23 14:25] jonathan-grah commented on #16277
This has been fixed in the upcoming release as we now have an "on-off" switch.

[2017-12-23 14:25] #16277 closed

[2017-12-23 14:43] RitikPatni opened #16296 "Can't login with passwordless authentication"
#### Challenge Name

#### Issue Description

When I try to log in with my existing freeCodeCamp account I just get a message like this "Please wait 4 minutes to resend an authentication link." with any number of minutes and when I try it with a new unregistered email id it sends the email but again when I try to log in it says the same again.

#### Browser Information

* Browser Name, Version: Ver

[2017-12-23 14:44] Asjas commented on #16296
Hi @RitikPatni

This is a duplicate of #16288 which is already addressing the problem.

[2017-12-23 14:44] jonathan-grah opened #16297 "UI changes for User Profiles/Settings"
- [ ] put everything in a more narrow container
- [ ] centre buttons vertically with their text description to the left
- [ ] enlarge text size for settings page
- [ ] add vertical space between settings rows for claiming certificates
- [ ] when claiming certificates, the text description to the left should link to the appropriate challenge
- [ ] add danger buttons on bottom of settings page like

[2017-12-23 14:47] KhaledSamir commented on #16258
@QuincyLarson GM! , I checked the changes that should be done and I'd say it's better to have separate issue for changing the modal and here's why.

There is a file called " ns.json " in this path " Common/app/routes/Challenges " and we load the name of the classes "css classes I mean " with the value of this file which is currently " Challenges "
and if we just change it to " Challenge " the head

[2017-12-23 14:51] RitikPatni commented on #16296
@Asjas Got it closing it now

[2017-12-23 14:51] #16296 closed

[2017-12-23 15:31] QuincyLarson commented on #16258
@KhaledSamir Awesome! I agree with your reasoning here. Would you be interested in opening that second issue, and then opening a second pull request as well?

[2017-12-23 16:02] vkWeb commented on #16289
I think there's no problem with the image displayed on the challenge. The only change which should be done to the image is that there must be double quotes instead of single quotes on the href attribute. Though, single quotes work but using double quotes is a good practice.

@Bouncey I would like to implement this change if required :)

[2017-12-23 16:09] QuincyLarson commented on #16283
@jonathan-grah Let's focus on getting your current profile merged. Then we can go back and make cosmetic changes like this as necessary.

[2017-12-23 16:14] QuincyLarson commented on #16293
@vkWeb Thanks for your detailed feedback. I agree with @Bouncey that issues 3, 4, and 5 should be addressed. We made conscious decisions to overhaul the navbar and map functionality, so those will be different from how they are on production.

Could you open separate issues for your points 3, 4, and 5? That will make it easier for us to track progress on them.

[2017-12-23 16:14] #16293 closed

[2017-12-23 16:15] QuincyLarson commented on #16267
@vladiiancu Thanks for your PR. CamperBot automatically closed it. Could you follow its instructions and try again? We'd value your help with this.

[2017-12-23 16:39] vladiiancu commented on #16267
Sure thing. I actually made a separate branch (as in the instructions) but what I did was merge that branch into main one and did the PR from the main one. Now, I realise that I should have made the PR from that branch so that CamperBot will work.

[2017-12-23 16:40] vkWeb commented on #16293
Sure.

[2017-12-23 16:44] vkWeb opened #16299 "[Beta]There should be proper margins on the lesson section for better readability"
#### Issue Description
There is almost no left margin in the lesson section which affects the readability on the large screens. Though, It's not properly visible in the GIF below. You can experience it much better on your machine.
![](https://i.imgur.com/UbP0ikc.gif)

#### Browser Information

* Browser Name, Version:  Chrome (latest release) & Firefox (57.0.2).
* Operating System: Windows 10 Pro

[2017-12-23 16:45] vkWeb opened #16300 "On closing the map section, the lesson section isn't resizable"
#### Issue Description
As you can see in the GIF below when the map section is not closed the lesson section gets resized easily. But when it is toggled-off the lesson section is not resizing to the left.
![](https://i.imgur.com/TX1m7AF.gif)

#### Browser Information

* Browser Name, Version:  Chrome (latest release) & Firefox (57.0.2).
* Operating System: Windows 10 Pro 32 bit.
* Mobile, Desktop,

[2017-12-23 16:46] vkWeb opened #16301 "[Beta]The map button's hover animation overlaps the search bar"
#### Issue Description
The hover animation of map button overlaps the ending of the search bar.
![](https://i.imgur.com/h0389g6.jpg)

#### Browser Information

* Browser Name, Version:  Chrome (latest release) & Firefox (57.0.2).
* Operating System: Windows 10 Pro 32 bit.
* Mobile, Desktop, or Tablet: Desktop.

[2017-12-23 17:19] QuincyLarson commented on #16266
@raisedadead Couldn't we just say "OK - we're sending a magic link to [email address]" in the UI and remove the button? Then by the time they get into their email, it will probably already be there.

[2017-12-23 17:21] QuincyLarson commented on #15729
@theoutlander Yes - it should have been assigned. We've assigned this one to @jonathan-grah.

[2017-12-23 17:23] QuincyLarson commented on #16235
@theoutlander That would be great! If you can develop a reliable technique for doing this, we may be able to use this when we teach other tools client-side, such as Git and Bash.

[2017-12-23 18:05] jasonbunnell commented on #16290
I wanted to mention I received the same issue and add that last night I was able to log in successfully using magic link.  Completed several problems last night.  Today the tab was still open but looked like I had been logged out.  Tried to log in and the magic link was the only option I saw and tried it twice and neither time worked.

[2017-12-23 18:52] #16267 closed

[2017-12-23 19:03] mstellaluna opened #16303 "Passwordless Authentication not working - cannot login"
#### Challenge Name

https://beta.freecodecamp.org/en/signin

#### Issue Description

After last night's beta website crash, I am not longer able to login to QA Beta.
METHOD 1:
If I try the following:
1) https://beta.freecodecamp.org/en/signin
2) email my email address associated to my production FCC
3) select 'Or click here if you want to sign in with other options'
4) select 'Signin With Github'

[2017-12-23 19:04] mstellaluna commented on #16303
@QuincyLarson  @raisedadead

[2017-12-23 19:25] QuincyLarson commented on #16303
Hey @raisedadead Can you see whether you can reproduce this on your end?

[2017-12-23 19:49] nikkilr88 opened #16304 "Functional Programming: Pass Arguments to Avoid... - Correct answer not accepted"
#### Challenge Name

Functional Programming: Pass Arguments to Avoid External Dependence in a Function

#### Issue Description

Correct answer is not accepted when space between function name and params is not removed.

#### Browser Information

* Browser Name, Version: Chrome  63.0.3239.84 (Build oficial) (64 bits)
* Operating System: Win10
* Mobile, Desktop, or Tablet:  Desktop

#### Your Code

[2017-12-23 20:07] DarrenfJ commented on #16291
Gotcha. thanks for the heads up.

[2017-12-23 20:33] darrell24015 commented on #16303
FWIW: same issue here.
OS: Ubuntu 16.04
Browser: Google Chrome Version 62.0.3202.94 (Official Build) (64-bit)

[2017-12-23 20:50] trothaar opened #16305 "React Challenges: "Something went wrong, please try again later" incessant flash messages"
![screenshot 5](https://user-images.githubusercontent.com/8755099/34322572-8864a080-e7f8-11e7-90ca-03f4ee5e45d5.png)
#### Challenge Name

It appears to be a problem with all of the React Challenges, but I screenshot the first one:
https://beta.freecodecamp.org/en/challenges/react/create-a-simple-jsx-element

#### Issue Description

When I attempt to do a challenge, I get an error message on the fa

[2017-12-23 21:01] #16291 closed

[2017-12-23 21:04] KhaledSamir commented on #16258
@QuincyLarson Yup, I'll open another issue and put my findings there. I'll work on the other issue tomorrow.

[2017-12-23 21:23] KhaledSamir opened #16308 "[Beta] Update Pop-up Modal for lessons to match production"
Pop-Up Modal that appears when a user clicks on " Ask for help on the forum " button in any lesson doesn't match how it looks in production.

#### Screenshot

**Now in Beta version**

![screen shot 2017-12-23 at 3 15 01 pm](https://user-images.githubusercontent.com/4302544/34322711-df208f0a-e7f4-11e7-82ad-8a6c937e346c.png)

**Currently in Production**
![screen shot 2017-12-23 at 3 15 19 pm](https:

[2017-12-23 21:40] #16308 closed

[2017-12-23 21:41] KhaledSamir commented on #16308
Duplicate issue of " https://github.com/freeCodeCamp/freeCodeCamp/pull/16205 "

@QuincyLarson Please verify that we don't need to open an issue for the Modal.

[2017-12-23 21:56] SanD94 commented on #16303
I have the same issue.
OS: Ubuntu 16.04
Browser: Opera 49.0.2725.64

[2017-12-23 22:07] MP7373 commented on #16268
I tried to make a pull request that added a hint to use the .text() function why was it rejected?

[2017-12-23 22:13] PedroFlaxh commented on #16304
Must be an issue with the regex. I'll try to fix it.

[2017-12-23 22:23] SanD94 opened #16309 "[beta] Map reopens after completing a challenge"
#### Issue Description
Before each challenge I close the map part and solve the challenge. After completing it, in the new challenge, map is opened unexpectedly. I think it should be opened by the user not automatically.

#### Browser Information

* Browser Name, Version:
* Operating System: Ubuntu 16.04
* Mobile, Desktop, or Tablet: Desktop

[2017-12-23 22:48] andres-uris commented on #16303
@QuincyLarson @raisedadead I deleted my account and try to sign up/ in and then this happen. I think is a data base issue or a inconsistency in the link validation time.

This is the output on firefox console

![image](https://user-images.githubusercontent.com/12199455/34323131-b8041410-e811-11e7-8c50-4eb665236721.png)

[2017-12-23 23:00] no-stack-dub-sack commented on #16309
@SanD94 this is a duplicate of #16249. I went to go open the same issue and discovered both issues. Closing this in favor of the original issue.

[2017-12-23 23:00] #16309 closed

[2017-12-23 23:02] no-stack-dub-sack commented on #16249
@QuincyLarson the same is also true for the preview pane. I tried taking a look at where this originates, but couldn't quite follow it back.

[2017-12-23 23:45] BerkeleyTrue commented on #16288
Yeah there seems to be some something funky going on in the passwordless auth.

From opbeat I'm seeing errors that might be related. I'm gonna do a quick refactor to see if this will help. Keep an eye out for the PR.

[2017-12-23 23:52] QuincyLarson commented on #16268
@MP7373 Can you link to that pull request here?

[2017-12-23 23:57] QuincyLarson commented on #16300
@vkWeb Nice find! Yes - we definitely need to fix this.

[2017-12-23 23:58] QuincyLarson commented on #16299
@vkWeb I think we recently added 4px of margin on both sides. How many pixels do you think would look good. Keep in mind that horizontal real estate is at a premium with 4 to 6 vertical panes (we'll soon add additional panels for HTML, CSS, JavaScript)

[2017-12-24 03:35] raisedadead commented on #16303
Please check for open issues https://github.com/freeCodeCamp/freeCodeCamp/issues/16288

[2017-12-24 03:35] #16303 closed

[2017-12-24 03:36] raisedadead commented on #16288
Thanks @BerkeleyTrue

[2017-12-24 03:38] raisedadead commented on #16266
@QuincyLarson yes, that can be done.

[2017-12-24 04:01] davinderpalrehal commented on #16301
@ncaron I would like to take on this issue if it still exists

[2017-12-24 04:22] ncaron commented on #16301
@davinderpalrehal I've already submitted a PR for it.

[2017-12-24 05:43] #16301 closed

[2017-12-24 05:50] QuincyLarson commented on #16266
@raisedadead Awesome! Thanks for doing this. This is such a critical part of the onboarding, so we want to get it just right. Once this is ready, I will go through and fine-tune the copy throughout the signing in process. Thanks for keeping me posted on this :)

[2017-12-24 05:52] QuincyLarson commented on #16288
@BerkeleyTrue OK - good luck with the refactor. In the meantime I'm recommending campers who get locked out to focus on QA'ing individual challenges.

[2017-12-24 06:09] lalov1 opened #16311 "ES6: Explore Problems with the var Keyword"
For some reason it won't go through, but I'm not sure if it is something I'm doing.

ES6: Explore Problems with the var Keyword
https://beta.freecodecamp.org/en/challenges/es6/explore-problems-with-the-var-keyword

#### Issue Description
I think I'm putting in the correct code, but it isn't going through.

#### Browser Information
I'm using Chrome 63
Windows 10
Desktop

#### Your Code
[code]
####

[2017-12-24 07:46] vkWeb commented on #16299
@QuincyLarson I think adding 14px of left padding and 12px of right padding will make it more readable. Here's a screenshot comparison to make things more clear:

_Before: 4px padding_
![](https://i.imgur.com/vttlE6k.png)

_After: 12px and 10px padding_
![](https://i.imgur.com/fmYjFLb.png)

What do you think?

[2017-12-24 08:23] Bouncey commented on #16311
@lalov1 thanks for the issue. Could you please show me the console output? It looks like something errored.

Did you know: You can drop images straight into the comment box on github and everything is taken care of. No need for dropbox

[2017-12-24 09:11] harsha602 commented on #16289
when I tried to run npm start I got Error: Connection strategy not found

[2017-12-24 09:24] SanD94 opened #16312 "React Challenge shouldComponentUpdate"
#### Challenge Name
React Optimize Re-Renders with shouldComponentUpdate

#### Issue Description
It seems submitted code true but there is a problem in last two tests resulting regular expression errors.
[Problem 1 async last part, assert](https://github.com/freeCodeCamp/freeCodeCamp/blob/16dcfb41833498e0a6efd788735b413900970817/seed/challenges/03-front-end-libraries/react.json#L2132)
[Problem 2 a

[2017-12-24 09:59] Bouncey commented on #16289
`npm run develop` is your friend

On Sun, 24 Dec 2017 at 09:14, harsha <notifications@github.com> wrote:

[2017-12-24 10:13] Bouncey commented on #16312
Thanks @SanD94 for raising this issue.

We need the two tests pointed out by @SanD94 fixed. They are currently malformed. This is just a syntax issue.

[2017-12-24 10:54] Bouncey commented on #16304
Please @PedroFlaxh

The RegEx shouldn't be so ridgid

[2017-12-24 11:19] SanD94 opened #16314 "React Conditional Rendering from Props"
#### Challenge Name
React: Render Conditionally from Props

#### Issue Description

It seems code working but there is a problem in the [6th test, assert part](https://github.com/freeCodeCamp/freeCodeCamp/blob/16dcfb41833498e0a6efd788735b413900970817/seed/challenges/03-front-end-libraries/react.json#L2618)
` 'Turn: N' ` should be ` \'Turn: N\'`

#### Browser Information

* Browser Name, Version: O

[2017-12-24 11:56] PedroFlaxh commented on #16304
Alright @Bouncey !

[2017-12-24 13:37] mstellaluna opened #16315 "Reset button is not resetting to default code in editor"
#### Challenge Name
Basic HTML and HTML5: Uncomment HTML

#### Issue Description
After making an error on my code, I am trying to reset the code to the default, it is not defaulting the original lesson code. No error appears on screen.

#### Browser Information

Browser Name, Version:
Operating System: FireFox 57.0 (64-bit) and Chrome Version 63.0.3239.84 (Official Build) (64-bit)
Mobile, Desktop,

[2017-12-24 13:39] #16315 closed

[2017-12-24 13:39] mstellaluna commented on #16315
nevermind !!

[2017-12-24 13:43] vkWeb commented on #16299
@QuincyLarson I would like to implement this change if you agree with the 12px and 14px padding.

[2017-12-24 13:52] vkWeb commented on #16284
By Just changing the cursor color to grey we'll be able to resolve this.

[2017-12-24 15:41] lalov1 commented on #16311
Here is what is in the console:
[code]

Thanks for letting me know about the images.

[2017-12-24 15:41] SanD94 opened #16316 "React Filter an Array"
#### Challenge Name

[React: Use Array.filter() to Dynamically Filter an Array](https://beta.freecodecamp.org/en/challenges/react/use-arrayfilter-to-dynamically-filter-an-array)

#### Issue Description
Similar syntax error with #16314 and #16312 in [testing](https://github.com/freeCodeCamp/freeCodeCamp/blob/16dcfb41833498e0a6efd788735b413900970817/seed/challenges/03-front-end-libraries/react.json#

[2017-12-24 16:07] MP7373 commented on #16268
https://github.com/freeCodeCamp/freeCodeCamp/pull/16302
It says I need to be in another branch to make the pull request. The problem is in my local repo I made a branch correctly named fix/#16268 but I still have the changes on the staging branch (so my there are no changes to be added to the new branch). I also don't know if the text I added is satisfactory or if it gives away too much.

[2017-12-24 16:35] QuincyLarson commented on #16299
@vkWeb Shouldn't we use the same amount of padding on each side? Otherwise it will be asymmetrical.

[2017-12-24 16:42] QuincyLarson commented on #15972
@raisedadead Were you able to look into this? I was QA'ing beta yesterday on a slow connection and I attempted to click a superblock before it loaded, and it crashed the app ("oops" toasts everywhere).

We need to speed up the load of the map, but in the meantime, we should put a spinner there until it finishes loading.

[2017-12-24 16:47] QuincyLarson commented on #15908
To clarify, I should be able to navigate to: https://beta.freecodecamp.org/en/challenges/basic-css

When I do, it should:
1. automatically send me to the first challenge in that block (which is almost always an introduction step challenge)
2. show the map expanded to that section.

So going to https://beta.freecodecamp.org/en/challenges/basic-css should show me this:

![learn_to_code___freecodecam

[2017-12-24 16:54] theoutlander commented on #16235
I can take this item ... @BerkeleyTrue are you working on it too?

I need to understand how the code execution engine works. Does anyone know that enough to walk me through it quickly? Or, I can dabble in it.

[2017-12-24 16:56] QuincyLarson commented on #16249
@no-stack-dub-sack Agreed.

@BerkeleyTrue do you know how to update the panes so they stay open/shut between challenges and sessions? Perhaps we could put a flag in local storage?

[2017-12-24 16:59] mstellaluna commented on #16249
the same happens on mobile .. I am on Samsung S7 Edge using chrome browser.. map keeps re-appearing at each challenge even if I toggle it off.

[2017-12-24 17:02] QuincyLarson opened #16317 "Fix map loading UI"
Currently while the map loads it looks like this:

![learn_to_code___freecodecamp](https://user-images.githubusercontent.com/985197/34328036-a22d03b2-e899-11e7-83f4-a0900e569603.png)

Instead, we should show the spinner in the upper middle of that pane until it's fully loaded. This will communicate that the map is still loading, and will prevent people from clicking anything (which can potentially

[2017-12-24 17:27] BerkeleyTrue commented on #16317
@QuincyLarson We should find the underlying issue instead of bandaiding it with a loader. I've commented on the issue this originates with. I prefer we actually investigate the get ride of something.

[2017-12-24 17:28] BerkeleyTrue commented on #16249
The pane logic is in the reducer for panes. These would require changing the logic so panes that existed in the previous state during challenge transition should keep their previous state.

[2017-12-24 17:30] BerkeleyTrue commented on #15972
This is unnecessary and a regression. We just need to find what action is crashing due to unexpected state.

[2017-12-24 18:47] mstellaluna opened #16318 "Dark Mode - Preview Text is too dark"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/say-hello-to-html-elements and onward

#### Issue Description

The text in the preview pane is black on dark grey.
Makes it hard to view

#### Browser Information

Browser Name, Version:
Operating System: FireFox 57.0 (64-bit) and Chrome Version 63.0.3239.84 (Official Build) (64-bit)
Mobile, Desktop, or Tablet: La

[2017-12-24 18:58] mstellaluna opened #16319 "Dark Mode: CSS Declarations hard to read in Editor"
#### Challenge Name
Basic CSS: Style Multiple Elements with a CSS Class and beyoned

#### Issue Description

The CSS declarations in dark mode are hard to read. They are somethings navy blue on black.
This also happens for anchor tags in the HTML section.

#### Browser Information

Browser Name, Version:
Operating System: FireFox 57.0 (64-bit) and Chrome Version 63.0.3239.84 (Official Build) (64-b

[2017-12-24 19:03] vkWeb commented on #16299
@QuincyLarson Yes, you're right. I think 14px on both the sides will look good.
What do you say, should I Implement it?

[2017-12-24 19:10] wildlifehexagon commented on #16281
Looks like it's back up?

[2017-12-25 00:52] virtual opened #16321 "Update Map's Estimated Time Style"
#### Challenge Name
Any challenge showing the [map](https://beta.freecodecamp.org/en/challenges/applied-accessibility/use-headings-to-show-hierarchical-relationships-of-content)

#### Issue Description
The estimated time is not accessible with the current color `#bbbbbb`; since it is also rather large and taking up some real estate, I'd propose making it darker `#555555` to pass WCAG 2.0 AA. This

[2017-12-25 06:04] vkWeb commented on #16321
@virtual I think the font-size is okay and the color thing should be implemented according to WCAG 2.0 AA principles. `#555555` looks good 😄.
If @QuincyLarson, @Bouncey, @BerkeleyTrue  agrees with the change. I'll raise a PR for this.

[2017-12-25 16:05] sagarjhaa commented on #16304
Hi All,
I am a first timer and knows how to code ,would really like to work on this error.

[2017-12-25 18:19] mstellaluna opened #16323 "Main Page - Responsiveness Broken - Skill Section"
#### Challenge Name

https://beta.freecodecamp.org

#### Issue Description

At screen size as of 1025 x 702 the skill section icons lose their table format

#### Browser Information

Browser Name, Version:
Operating System: FireFox 57.0 (64-bit) and Chrome Version 63.0.3239.84 (Official Build) (64-bit)
Mobile, Desktop, or Tablet: Laptop Windows 10 Professional 64-bit

#### Your Code

[code]
#### S

[2017-12-25 18:42] texas2010 commented on #16118
@billionairekid89
looks like you may have accidentally subscribed to all notifications for the [FreeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp) repository. To stop receiving notifications please visit the [subscriptions page](https://github.com/FreeCodeCamp/FreeCodeCamp/subscription) and select "Not watching". Additionally, you can visit the [GitHub Help page on managing notification d

[2017-12-25 19:08] texas2010 commented on #7213
@DevGrrrl you could reapply link in that challenge again.  try that.

[2017-12-25 20:59] ncaron opened #16325 "ES5 & ES6 not consistent [beta]"
#### Challenge Name

Multiple challenges
Example: https://beta.freecodecamp.org/en/challenges/basic-algorithm-scripting/convert-celsius-to-fahrenheit

#### Issue Description

After the ES6 challenges, a lot of future challenges seem to use ES6 but there's still quite a few not using it and it's not consistent.

#### Screenshot

![es5](https://user-images.githubusercontent.com/13804601/34342863-472

[2017-12-25 22:35] no-stack-dub-sack commented on #16325
@ncaron I agree in some cases, but in this case, usage of `var` I don't think should be viewed as non-ES6. While both `let` and `const` are available to us in ES6, I don't think they should be outright replacements for `var`. While they _can_ be used interchangeably in many cases, both have specific use-cases, and INMHO, should be used for those use-cases (especially in an education setting, since

[2017-12-25 22:42] no-stack-dub-sack commented on #16305
@trothaar @Bouncey @QuincyLarson If I'm not mistaken, the "JavaScript is Disabled" message is intentional, which appears until you unlock and run the code, to prevent malicious code from being run until the camper is sure they want to run their code. @BerkeleyTrue can confirm this.

The "Something Went Wrong" banner has been present consistently throughout the development of these challenges, and

[2017-12-25 22:45] no-stack-dub-sack commented on #16312
@Bouncey I think this and the other issues, like you said, should be simple syntax fixes. These were working when we first ported them over, but I think some of Berkeley's syntax changes (or my attempts to fix some of the formatting issues as a result of these changes), are responsible.

This may be the base with any `async` test that has regexp, so maybe whoever takes on this issue can also run a

[2017-12-25 22:52] BerkeleyTrue commented on #16305
@no-stack-dub-sack yes that is intentional. The errors are also due to babel attempting to transpile on each edit. This requires some addition to the preview logic to disable this pipeline

[2017-12-25 23:17] ncaron commented on #16325
@no-stack-dub-sack
`But my point is, there's nothing wrong with using var in ES6 code - use const when you have a true constant that you never want to reassign, let for block scoped variables, and var everywhere else.`

I completely agree with that. That particular example I gave was just one of many. I know `var` was acceptable there but some similar code in other challenges use `let` and I just

[2017-12-26 00:24] QuincyLarson commented on #16325
@ncaron Thanks for submitting this issue. To add to @no-stack-dub-sack's reasoning on this - which I agree with - it's also possible that some campers will skip over the ES6 section.

I think it's good for us to stick with ES5 in the other challenges, and campers can opt to use ES6 for the projects and algorithm challenges if they want.

[2017-12-26 00:28] QuincyLarson commented on #16321
@vkWeb Yes - I think that color works. Do you know much about color theory? We have different recommended shades on https://design-style-guide.freecodecamp.org/ but it looks like we may need to add a new shade of darker gray. Do you know which shade would be dark enough and would also jive with our other colors and shades there?

[2017-12-26 00:28] #16281 closed

[2017-12-26 00:29] QuincyLarson commented on #16299
@vkWeb My concern is that's a lot of horizontal space on every page. Could we get away with say 10px on each side?

[2017-12-26 00:30] QuincyLarson commented on #16249
@BerkeleyTrue How much time would it take to make this refactor? Because I am confident people will immediately start complaining about this.

[2017-12-26 00:31] QuincyLarson commented on #16235
@theoutlander Yes - if you want to take a crack at it. @BerkeleyTrue will eventually get to it if you don't figure it out first. He's juggling a lot of other issues at the moment.

[2017-12-26 00:38] QuincyLarson commented on #15972
@BerkeleyTrue I agree we need to find what action is crashing due to unexpected state. I suggested the spinner because we have a lot of competing priorities, and may be able to paper over the issue in the meantime. If you can fix the underlying problem in time for launch, by all means.

[2017-12-26 01:23] ncaron commented on #16325
@QuincyLarson The issue only occurs after the ES6 section. If students don't skip the ES6 section they might only think that it's not consistent with what they have been taught but it's also not a big deal so for that reason I would agree that it should stay the same.

However, most of the challenges after the ES6 section have ES6 syntax. For example all of the challenges in `Regular Expressions`,

[2017-12-26 02:20] virtual commented on #16321
@QuincyLarson Thanks for the reference to your guide! It is a bit ironic but `#555555` is actually also the color of the left-side navigation used in your style guide. :)

[2017-12-26 03:05] ncaron commented on #16319
@mstellaluna Is it possible that changes in a different PR may have affected this? I do see exactly that on the live beta site but not on my up-to-date staging branch. I don't see any code highlighting at all actually, which is a bigger issue in my opinion.

![no-highlight](https://user-images.githubusercontent.com/13804601/34345766-d78d8d40-e9c7-11e7-82e7-ea759b35265c.png)

[2017-12-26 04:08] mstellaluna commented on #16319
@ncaron not sure, I am noticing a large amount of issues with dark mode. I haven't opened new issues for them yet ..

[2017-12-26 05:26] vkWeb commented on #16321
@QuincyLarson I don't have that much knowledge about color theory. But as far as accessibility concern I think `#555555` will look better. We should add `#555555` in the secondary color list of our design style guide.

@virtual Yes. That's true.

[2017-12-26 05:33] vkWeb commented on #16299
@QuincyLarson According to me 10px would be too low.
I think most of the campers will toggle-off their map while playing through the challenges, so it's important for us to give appropriate padding on the lesson section for better readability because that's the place where they'll be reading all the stuff. Also, In the production, we have perfect padding on the sides.

[2017-12-26 05:46] SanD94 commented on #16312
@no-stack-dub-sack Searching may not be needed because I solved all the challenges for React and found all issues related to `async` tests.

[2017-12-26 15:41] mstellaluna opened #16327 "Vertical ScrollBar is not Showing Up in editor with code"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-visual-design/animate-multiple-elements-at-variable-rates

#### Issue Description
-- Affects Challenges that have code longer than 42 lines

The vertical scrollbar is not available on code that is longer than 42 lines. I have to use the cursor to navigate to the code lines below that.

The horizontal scrollbar is viewable but

[2017-12-26 15:41] mstellaluna commented on #16327
may be related to :: https://github.com/freeCodeCamp/freeCodeCamp/pull/13981

[2017-12-26 15:54] QuincyLarson commented on #16321
@vkWeb OK - great. Sounds like a plan. Can you make a pull request to update the style guide as well? https://github.com/freecodecamp/design-style-guide

[2017-12-26 15:59] QuincyLarson commented on #16299
@vkWeb Yes - but soon we're going to have up to 6 panes on screen. (Map, Lesson, HTML, CSS, JavaScript, Preview).

For perspective, here's what JSBin looks like on my 13" laptop's display:

![js_bin_-_js_bin_and_re__freecodecamp_-_authentication_request__-_team_freecodecamp_org_-_free_code_camp_mail](https://user-images.githubusercontent.com/985197/34360135-6fc2ae5a-ea23-11e7-805d-284eb4b4c66d.png

[2017-12-26 16:15] PedroFlaxh commented on #16304
@sagarjhaa don't get me wrong but I think that since the issue was already assigned to me I should have been the one fixing it.

I was away for Christmas and didn't have the chance of looking at the code.

[2017-12-26 16:19] QuincyLarson commented on #16325
@ncaron Thanks for pointing this out. I'd forgotten that so many of our new challenges used ES6 syntax.

On further reflection, it's clear to me that we should indeed gradually convert all JavaScript challenges after the ES6 section to use ES6 syntax.

@ncaron Would you be interested in leading this process? As @no-stack-dub-sack said, we have a few higher-priority issues at the moment, but you co

[2017-12-26 16:30] PedroFlaxh commented on #15933
What's the status of this issue?

[2017-12-26 17:01] sagarjhaa commented on #16304
@PedroFlaxh I am really new to this and didn't see anybody under Assignee so worked on it. So sorry.

[2017-12-26 17:05] vkWeb commented on #16321
@QuincyLarson I'm very excited. It'll be my first contribution to open source code base.  I'll raise a PR within 2 days. 😃

[2017-12-26 17:25] PedroFlaxh commented on #16304
That's ok! The issue seems fixed and that was the main goal.

Have a nice 2018.

[2017-12-26 17:31] vkWeb commented on #16327
@mstellaluna Actually, I also noticed this. But having too many scroll bars will result in less room for the main content.
If you focus your cursor on the code editor you'll able to scroll through the code by using your scroll wheel on the mouse. Here's a GIF below to illustrate:
![](https://i.imgur.com/r1z7VFL.gif)

[2017-12-26 18:09] prinzpiuz commented on #16289
i am newbie here please help me what to do....please mentor me..

[2017-12-26 19:10] mstellaluna opened #16328 "Audio Controls cursor should be pointer on hover"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/applied-accessibility/improve-accessibility-of-audio-content-with-the-audio-element

#### Issue Description
when hovering over the controls of the audio element added in the challenge, they aren't changing to a pointer cursor

#### Browser Information

Browser Name, Version:
Operating System: FireFox 57.0 (64-bit) and Chrome Version 6

[2017-12-26 19:33] vkWeb commented on #16289
@prinzpiuz You should go through the [freeCodeCamp](https://freecodecamp.org) curriculum. Good luck.

[2017-12-26 19:37] codingjunkie commented on #16328
did you add the closing tag "<audio/>"

On Tue, Dec 26, 2017 at 1:11 PM, mstellaluna <notifications@github.com>
wrote:

[2017-12-26 19:46] mstellaluna commented on #16328
@codingjunkie the issue isn't the </audio> tag. the issue is since they are controls, the pointer should change accordingly to a pointer cursor.

[2017-12-26 19:51] Bouncey commented on #16249
@QuincyLarson does this need to persist across sessions, or do we default it open for each new session?

[2017-12-26 19:54] mstellaluna commented on #16327
@vkWeb yea that's what I been doing..

[2017-12-26 19:59] vkWeb commented on #16328
@mstellaluna On hovering they're not supposed to change to a pointer cursor on chrome and firefox. Also, the media player is browser specific.

@QuincyLarson, @systimotic  Close this issue.

[2017-12-26 20:26] vkWeb commented on #16299
@QuincyLarson I think most of the campers will toggle their map off while playing through the challenges. So, there's a very high probability of lesson section sticking to the leftmost and code editors going right of it. So, we'll give particularly the lesson div a 14px padding.

Also, shouldn't we create a single section with multiple tabs on it for HTML, CSS, and JS? I really like the way Codeca

[2017-12-26 20:36] vkWeb commented on #16327
@QuincyLarson We'll need to dig into this.

[2017-12-26 21:39] theoutlander commented on #16235
I spent a lot of time on this and need some direction from @BerkeleyTrue.

There's this error that I can't track down:

assert(code.match(/import\s+\{\s?capitalizeString\s?\}\s+from\s+"string_functions"/ig)

resulting in

assert(code.match(/import\s+\{\s?capitalizeString\s?\}\s+from\s+"string_functions"/ig)

Notice the missing ')' at the end. I might need to setup REDUX_DEV_TOOLS to trace where th

[2017-12-26 21:52] Ethan-Arrowood commented on #16235
That looks like a regex pattern from the `ES6` tests.
https://github.com/freeCodeCamp/freeCodeCamp/blob/f792a4380a894ba294873b69d4eca747b8564fef/seed/challenges/02-javascript-algorithms-and-data-structures/es6.json#L835

So few things:
1. Looks like your branch isn't up to date as that was the old ES6 test. New one is linked above.
2. That method is not missing a `)` because the assert method has

[2017-12-26 23:24] mstellaluna opened #16329 "Basic JavaScript: Divide one Decimal by Another with JavaScript - Still Failing"
#### Challenge Name
Basic JavaScript: Divide one Decimal by Another with JavaScript
https://beta.freecodecamp.org/en/challenges/basic-javascript/divide-one-decimal-by-another-with-javascript

#### Issue Description
Previous Issues:
https://github.com/freeCodeCamp/freeCodeCamp/issues/13400
https://github.com/freeCodeCamp/freeCodeCamp/issues/14635

The issue is still happening even with suggested re

[2017-12-26 23:50] ncaron commented on #16325
@QuincyLarson I'd be happy to! As you mentioned, some campers might skip the ES6 section. Should a little note be added to the introduction pages to mention the following challenges use ES6 syntax? For example, at the bottom of this page: https://beta.freecodecamp.org/en/challenges/basic-data-structures/introduction-to-arrays

[2017-12-27 00:17] mstellaluna opened #16331 "Basic JavaScript: Escaping Literal Quotes in Strings - 1st test failing"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/basic-javascript/escaping-literal-quotes-in-strings

#### Issue Description

the challenge code does not pass.
Fails the first of the two tests.
Keeps stating "You should use two double quotes and found escaped double quotes.
I tried  browser refresh and tried challenge reset. Still same issue.

As per @ncaron it also fails on the st

[2017-12-27 00:49] mstellaluna opened #16332 "Basic JavaScript: Quoting Strings with Single Quotes - 2nd test failing"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/basic-javascript/quoting-strings-with-single-quotes

#### Issue Description

The code is failing to pass the challenge.
I have tried reset and a browser refresh, still fails.
the code passes FCC production equivalent of the challenge.

#### Browser Information

Browser Name, Version:
Operating System: FireFox 57.0 (64-bit) and Chrome

[2017-12-27 02:06] huyenltnguyen commented on #16289
This is an accessibility issue as well. I'm using [tota11y](https://khan.github.io/tota11y/) for accessibility visualization and this is how screen readers would see.

![untitled](https://user-images.githubusercontent.com/25715018/34368208-b4b6fb62-eae4-11e7-880c-20449a23b9fc.png)

[2017-12-27 02:13] theoutlander commented on #16235
Thanks @Ethan-Arrowood. I realized I pasted the same line twice above, instead of the error code.

Anyway, I re-synced, dropped db and started over and it seems like that issue has gone!

My fix is passing this test. I need to try the other tests.

Finally, I need to think about a good design for mocking and where these things should go. I suppose, for now, I could check in my changes and then wor

[2017-12-27 02:26] trothaar opened #16333 "How to use package.json challenge not accepting correct answer"
![screenshot 6](https://user-images.githubusercontent.com/8755099/34368655-7b6fa8f6-ea83-11e7-8fd2-c262fc3730e6.png)
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/managing-packages-with-npm/how-to-use-packagejson-the-core-of-any-nodejs-project-or-npm-package

#### Issue Description

My answer is correct, but FCC won't accept it; the console says that it isn't communicating with

[2017-12-27 02:34] theoutlander commented on #16281
I had mentioned above that we should integrate with sentry. Any thoughts on that?

[2017-12-27 02:35] huyenltnguyen commented on #16333
You forgot to add a closing quotation mark `"` in `"author": "Teresa Rothaar`.

[2017-12-27 03:34] profoundhub commented on #12818
Getting error:
`// running test`
`"missing ) after argument list"`
`// tests completed`

[2017-12-27 03:43] ncaron commented on #16333
Your answer is not correct. You should use the live link of your project, not link to edit the project. Click there and use the new link.

![glitch](https://user-images.githubusercontent.com/13804601/34369926-74e12b82-ea96-11e7-890c-e89ee81ed8d2.png)

[2017-12-27 04:21] ncaron opened #16334 "API challenges won't submit [beta]"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/managing-packages-with-npm/how-to-use-packagejson-the-core-of-any-nodejs-project-or-npm-package

#### Issue Description

When the answer to the above link is correct, the popup lasts for half a second only then automatically sent to the next challenge, no time to read popup. This also happens with the next challenge. However, the big

[2017-12-27 05:06] QuincyLarson commented on #16281
Thanks for the suggestion, @theoutlander. We have an open source tool that watches for outages and calls us. We just haven't configured it to run on beta.freecodecamp.org

[2017-12-27 05:15] QuincyLarson commented on #16249
@Bouncey I think we should just store this in the browser rather than in the database. We don't want to have to write to the database every time someone toggles a pane open or closed. If someone switches devices or logs out, I think we should default to showing all the panes for that challenge (including the map pane).

[2017-12-27 05:17] QuincyLarson commented on #16325
@ncaron Awesome! That would be amazing!

And yes, I think you could add a note that "most freeCodeCamp coding challenges will use newer ES6 features and syntax, and it is important to learn it." or something along those lines.

I think the most logical way to proceed would be for you to work section-by-section and open a pull request against each section individually. Then we can QA and merge it.

[2017-12-27 05:19] QuincyLarson commented on #16327
@mstellaluna Thanks for discovering this strange corner case. It's possible that our solution to #13981 was incomplete.

@vkWeb would you be interested in looking into this as well?

[2017-12-27 05:22] QuincyLarson commented on #16299
@vkWeb Yes - that's a nice way of grouping it as well. This said, CodePen, JSbin, JSFiddle, and countless other websites choose to show all the files expanded by default for easy access. I think that is the simplest way, and in keeping with our general UX approaches of making things transparent and accessible.

Go ahead and try the 14px and we can see how it looks.

[2017-12-27 05:27] QuincyLarson commented on #16328
@mstellaluna yes - @vkWeb is right. This is controlled by the browser and out of our control. There's a frustrating design trend in where hovering over something clickable doesn't result in a "pointer" cursor, and it looks like this may have fell victim to that. Thanks for pointing this out!

[2017-12-27 05:27] #16328 closed

[2017-12-27 05:42] mtrivera opened #16335 "Improve instructions: Nest an Anchor Element within a Paragraph"
#### Challenge Name
Basic HTML and HTML5: Nest an Anchor Element within a Paragraph
https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph

#### Issue Description
See #16289

[2017-12-27 05:57] Ethan-Arrowood commented on #16235
You're welcome! Sounds like you are doing incredible work, keep it up and make sure to tag me on your PR when its time I'd love to review what you do 😄

[2017-12-27 06:33] vkWeb commented on #16299
@QuincyLarson If in case we make up our mind to group them in tabs. We'll set a shortcut like `ctrl + arrow keys` to cycle focus between different tabs for improved accessibility.
Sure. I'll raise a PR for this as well.

[2017-12-27 06:36] vkWeb commented on #16327
@QuincyLarson I'll surely look into this and I'll inform you what can be done.

[2017-12-27 08:16] abohannon commented on #16300
I can take a crack at fixing this if nobody minds.

[2017-12-27 09:53] JacksonBates opened #16336 "Image Search Abstraction API listed as Exercise Tracker on profile page"
#### Issue Description

The 'Exercise Tracker' shows up as completed on 7th July 2016 on my profile. The actual project it is referring to is the Image Search Abstraction Layer project.

The 'view solution' link links to: `https://beta.freecodecamp.org/challenges/api-and-microservice-projects/exercise-tracker?solution=http%3A%2F%2Fpowerful-lowlands-49298.herokuapp.com%2F`

As you can see, the url

[2017-12-27 10:09] JacksonBates opened #16337 "Profile page - some project links are broken"
#### Issue Description

On the profile page, the links to some of the old project information pages are broken - they simply link to https://beta.freecodecamp.org/challenges/undefined/undefined.

The affected projects on my profile are:
* Build a Nightlife Coordination App
* Build a Voting App
* Build a Personal Portfolio Webpage

My profile: https://beta.freecodecamp.org/en/jacksonbates

#### Bro

[2017-12-27 14:24] ncaron commented on #16325
@QuincyLarson Where do you think would be the best place for that note?

I don't think I'll have to update the tests very much or at all because they already mark both ES5 & ES6 as correct. I've been using ES6 on production site for quite while with no issues other than warnings but so far those warnings are not showing up on beta. It's still something I'll watch out for before submitting a PR.

I

[2017-12-27 15:16] raisedadead commented on #16325
Re-opened to track progress.

[2017-12-27 15:39] StephenMayeux commented on #16312
I'll take a stab at this bug and then will create another issue addressing the tests with async.

[2017-12-27 15:44] sagarjhaa commented on #16268
Hi @QuincyLarson , @MP7373
I would like to help with the bug. Can I work on it?

[2017-12-27 15:52] theoutlander commented on #16235
So, this stuff is a bit flaky. For http://localhost:3000/en/challenges/es6/use-export-to-reuse-a-code-block, it mentions that export {foo, bar} is acceptable, but the regex is set up to only validate:

export const foo = "bar"

Anyway, we can tighten up the regex later.

[2017-12-27 16:39] meda123 commented on #16300
This would be a first-time contribution, so I'll take a look as well!

[2017-12-27 16:55] theoutlander commented on #16235
Another flaky part of the regex is that it looks for double quotes only.

[2017-12-27 17:07] StephenMayeux commented on #16312
It was a very simple bug to fix. Please see my PR above. @SanD94 do the regex errors still persist for `async` tests in React challenges?

[2017-12-27 18:00] vkWeb commented on #16300
@abohannon You can start working on this issue. Please, go through our [Contributing guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md).

@meda123 I'm extremely sorry but there are a lot of [outstanding issues](https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted) which needs attention. We'll be looking forward to your PR.

[2017-12-27 19:13] StephenMayeux commented on #16266
Chatted with @raisedadead and I'm gonna take this one.

[2017-12-27 19:15] theoutlander commented on #16281
Nice. I didn't know that. People testing it were not sure what was going on, so I figured access to a dashboard might be nice.

[2017-12-27 19:37] systimotic commented on #16281
Looks like it's up again 🙌  Can this be closed?

[2017-12-27 20:11] trothaar commented on #16333
Well, I feel silly now. Sorry about that, but thanks for pointing out my error!

[2017-12-27 20:19] raisedadead commented on #16266
@StephenMayeux thanks a lot for your interest in this issue, but I happened to figure out that we are having a refactor of some of the backend in progress.

This will affect the work on this issue.

I am adding a blocked tag until then. Please feel free to take a look at other open issues.

[2017-12-27 20:34] systimotic commented on #16329
Thanks for reporting this @mstellaluna!

Previously, the `tail` code from the seed was included in the `code` variable used in the tests. This was a new change in the beta that previously broke this test. This has been reverted, the `tail` is no longer included in the `code`. Because of that, the test can also be reverted to what it was before.

I opened a PR to fix this (#16343) and I'm opening a

[2017-12-27 20:47] systimotic opened #16344 ""Escaping quotes in literal strings" test needs to be updated"
#### Challenge Name
[Beta: Escaping quotes in literal strings](https://beta.freecodecamp.org/en/challenges/basic-javascript/escaping-literal-quotes-in-strings)

#### Issue Description
Currently, the first test expects 6 escaped quotes and 10 normal quotes. The easiest way to pass it right now would be this:
[code]
😂
This test was made to expect this many quotes as a workaround for an issue that no

[2017-12-27 20:54] systimotic commented on #12755
Thanks a lot for picking up my slack @mpontus! ❤️

[2017-12-27 20:58] raisedadead commented on #15946
@camper-fcc thanks for the report.

@QuincyLarson
IMHO, I think we do not need to modify the tests to check for this attribute. Because we are not enforcing best practices but recommending them where we can.

So, any best practice updates to any challenges can be done async.

**To contributors:**

This line needs to be updated

https://github.com/freeCodeCamp/freeCodeCamp/blob/f792a4380a894ba29487

[2017-12-27 21:02] raisedadead commented on #16344
@systimotic this is an excellent example of how we should write up issues for first timers. Thanks.

/cc @freeCodeCamp/moderators IMHO, we should follow this practise when we can and enable more contributions.

[2017-12-27 21:22] meda123 commented on #16344
Hi! Could I give this a stab? I have been looking for a first-timer friendly issue. I have my local project set up and ready to go.

[2017-12-27 21:39] systimotic commented on #16344
@raisedadead Thanks! ❤️

@meda123 For sure!

[2017-12-27 21:40] SanD94 commented on #16312
@StephenMayeux I don't know how to test your code unless it is merged with staging branch but it seems to solve this issue. You had better check other similar issues regarding react.js tests ( #16314, #16316) so that all of the problems with tests are solved.

[2017-12-27 22:03] StephenMayeux commented on #16312
Shall I create different PRs for those other issues, or just wrap them up
into this PR?

sm

On Wed, Dec 27, 2017 at 3:43 PM, Safa Andaç <notifications@github.com>
wrote:

[2017-12-27 22:07] profoundhub commented on #16325
How about changing the functions to arrow functions too?

    const findElement = (arr, func) => {
      let num = 0;
      return num;
    }

    findElement([1, 2, 3, 4], num => num % 2 === 0);

[2017-12-27 22:11] profoundhub commented on #16319
It would be nice to have a switch so that anyone can activate `dark mode`, even when not logged in.

[2017-12-27 22:14] inscriptioelectronicaaustralia commented on #12431
I have just found an open-source HTML code editor that is fully accessible. Could the current one be replaced with this? https://pode.herokuapp.com/ For the CodePen challenges, as CodePen is not accessible, could there be alternate instructions for users of assistive technology to use this website instead?

[2017-12-27 22:20] ncaron commented on #16344
@systimotic @meda123
Changing the first part of the test to this:
` "assert(code.match(/\\\\\"/g).length === 4 && code.match(/[^\\\\]\"/g).length === 2`
seems to work but I think it's pretty weird because if you look at the master branch the test is the same as the staging branch with the difference that it passes.

[2017-12-27 22:24] ncaron commented on #16325
@profoundhub Thanks, totally forgot about that one! I can confirm that it passes the tests as well.

[2017-12-27 22:27] ncaron commented on #16319
Perhaps having a switch in the header near the search bar might be good. We would be able to switch when not logged in but also switch anytime without having to leave our challenge to do so.

[2017-12-27 22:36] systimotic commented on #16344
@ncaron A lot of changes have been made since then, so it's difficult to compare the two 🙂 `freecodecamp.org` runs on `backup/master`, which also has `4` and `2` instead of `6` and `10`

At one point, `10` and `6` were the numbers we had to use to make this run correctly:

The extra quotes it's looking for are the quotes in the `tail`. When the `tail` was included in the `code`, the test needed to

[2017-12-27 23:28] mstellaluna opened #16348 "ES6 - Compare Scopes of the var and let keywords - console not defined error"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/es6/compare-scopes-of-the-var-and-let-keywords

#### Issue Description
There are two errors that appear in the challenge on the editor.
First is for the "use strict", the warning states "use the function form of use strict"
Second error is console.log having a red X stating console is not defined.
The challenge still passes.

if I put

[2017-12-28 00:04] systimotic commented on #16332
Good catch @mstellaluna!

Related: #16344

[2017-12-28 00:08] systimotic commented on #16344
@meda123 I was just made aware of #16332 by @mstellaluna which notes that the next challenge has the same issue. Can you tackle both in a single PR? If not, that's cool too, let me know and I'll add more information to the other issue so somebody else can pick it up.
https://github.com/freeCodeCamp/freeCodeCamp/blob/5ee49d6f88217abcc0403a4d87b617d3b39375aa/seed/challenges/02-javascript-algorithms-

[2017-12-28 00:15] bteng22 commented on #16348
It looks like this is occurring in all the exercises on the beta environment—I could take a look at this. This would be my first issue, but I'm assuming the expected behavior should be not having to execute `use strict` and not having errors on globally defined functions like `console.log`?

[2017-12-28 00:21] KoniKodes commented on #14107
In CodePen it works with SCSS but not with SASS.

[2017-12-28 01:12] theoutlander commented on #16250
Is the work here to simply trigger a mouse click on the unlock button when the user presses Control + Enter??

[2017-12-28 01:23] theoutlander opened #16350 "Contribution guidelines and workflows need clarifications."
#### Issue Description
I have noticed over the past week and a half that it is difficult to find issues to work on without stepping on toes or waiting to hear from someone several hours later if it's okay to work on it. In many instances, I've ended up playing with something that was marked as Help Wanted and unassigned and in the Todo bucket, only to realize that someone else was working on it!

[2017-12-28 01:25] theoutlander commented on #16350
For example, #16235 states "Help Wanted" and is in the "To do" bucket. However, I've been working on it for a few days now and have also submitted a PR earlier today.

<img width="1009" alt="screenshot 2017-12-27 17 24 25" src="https://user-images.githubusercontent.com/749084/34397421-ce8c532a-eb2a-11e7-8577-cebff9dafacc.png">

[2017-12-28 01:27] theoutlander commented on #16350
In addition, it would also be nice if issues were tagged with complexity. For instance, I want to tackle the most difficult problems that nobody else wants to take. ;)

[2017-12-28 01:53] ChrisBrownie55 commented on #16333
@QuincyLarson Looks like a closed issue

[2017-12-28 02:04] jhomme commented on #12431
Hi,
Please see the below post and the one it leads to. CodePen is doable, and improving. With constructive feedback, they will be better.

https://blog.codepen.io/2016/07/14/blind-accessibility-testers-society-guide-codepen/

On Dec 27, 2017, at 5:17 PM, inscriptioelectronicaaustralia <notifications@github.com> wrote:

I have just found an open-source HTML code editor that is fully accessible. Cou

[2017-12-28 05:14] mstellaluna opened #16351 "ES6: Use the Rest Operator with Function Parameters - spread operator test fails"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/es6/use-the-rest-operator-with-function-parameters

#### Issue Description

The challenge fails on the last test "The sum function uses the ... spread operator on the args parameter.
I have tripled checked my code, reset it and refreshed but it doesn't seem to recognize the spread operator is being used.

I found this but not sure if

[2017-12-28 05:39] mstellaluna commented on #16351
Nevermind its my fault :)

[2017-12-28 06:11] QuincyLarson commented on #16325
@ncaron

We should put it in the introduction to the ES6 challenges: https://beta.freecodecamp.org/en/challenges/es6/introduction-to-the-es6-challenges

That's what I was thinking. This is a subtle way of steering them toward using these features as well, without overtly pestering them to start using ES6.

[2017-12-28 06:14] QuincyLarson commented on #12431
@zersiax Thanks for chiming in. I'm relived to hear this is just an issue with CodeMirror's accessibility, but that means we'll need to figure out a way to patch that.

@inscriptioelectronicaaustralia We will soon support building the projects right on freeCodeCamp, so CodePen's relatively inaccessible interface won't be so much of a problem. We just need to fix the issues with CodeMirror, which i

[2017-12-28 06:17] QuincyLarson commented on #15946
@raisedadead I agree that we shouldn't be enforcing the more fashionable best practices, but if it's a long-held and wide spread norm, I think it's OK to mention it in the lesson text and have a test for it.

[2017-12-28 06:17] SanD94 commented on #16312
You can wrap them up because of their simplicity.

[2017-12-28 06:19] QuincyLarson commented on #16266
@StephenMayeux It's great to have you here! Since @raisedadead wrote the original logic and has already made good progress on it, I recommend jumping on another one of the [help wanted issues](https://github.com/freeCodeCamp/freeCodeCamp/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22).

[2017-12-28 06:20] QuincyLarson commented on #16281
@theoutlander Thanks for the feedback. We may be able to build some sort of status page in the future.

[2017-12-28 06:21] agitaev opened #16352 ""submit and go to next challenge" is not responding to a keyboard shortcut"
##### Challenge link https://beta.freecodecamp.org/en/challenges/applied-visual-design/use-the-strong-tag-to-make-text-bold

#### Issue Description

Keyboard shortcut (**_Command + Enter_**) for 'Submit And Go To Next Challenge', which pops up in a modal window after challenge completion is not working.

#### Browser Information

* Browser Name, Version: Google Chrome
Version 63.0.3239.108 (Offici

[2017-12-28 06:26] QuincyLarson commented on #16268
@MP7373 Your issue was auto-closed by CamperBot. Read [its message](https://github.com/freeCodeCamp/freeCodeCamp/pull/16302#issuecomment-353740924) and it explains the reasoning behind this, which I agree with.

I think that would work. A couple notes:
1. Your commit message should be descriptive. The issue it's fixing should be in the PR's description, not the commit message.
2. be sure to pull d

[2017-12-28 06:27] QuincyLarson commented on #16268
@sagarjhaa Please take a look at some of the other [help wanted issues](https://github.com/freeCodeCamp/freeCodeCamp/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22) - there are a ton of them we could use your help with :)

[2017-12-28 06:27] QuincyLarson commented on #16327
@vkWeb Awesome! Thank you for looking into this. Please keep us posted :)

[2017-12-28 06:29] QuincyLarson commented on #16299
@vkWeb OK - we can add more hotkeys later. For now we'll stick with the simpler hierarchy that most websites are using. We may consider a more complicated nested hierarchy like CodeCademy's in the future though.

Thanks for raising the PR. I'm looking forward to QA'ing it :)

[2017-12-28 06:47] #16323 closed

[2017-12-28 06:54] QuincyLarson commented on #16250
@theoutlander I suspect there would be a more elegant way than simulating a mouse click on a button. I think you'd want to find how the control+enter logic currently works and make that trigger the unlocking of the code in the same way.

[2017-12-28 06:54] #16333 closed

[2017-12-28 07:03] mstellaluna commented on #16352
added beta label

[2017-12-28 07:05] inscriptioelectronicaaustralia commented on #12431
Quincy, it's good that the projects will soon be able to be built on Free Code Camp.

I have just looked at the Code Mirror GitHub threads pertaining to this, and they think that it is a lot of work to make this work with screen readers, so whether people contributing to this thread or them can sort out the problem will lead to a win-win situation for not only us, but also the other websites that

[2017-12-28 07:43] lijin3096 commented on #16250
密码密密麻麻

[2017-12-28 08:48] vkWeb commented on #16300
@QuincyLarson This issue is being addressed by @abohannon.

[2017-12-28 08:50] vkWeb commented on #16299
@QuincyLarson Yes. I'm on my way.

[2017-12-28 08:58] vkWeb commented on #16350
@QuincyLarson Please tackle this :).

[2017-12-28 09:05] vkWeb commented on #16352
@agitaev It is working fine for me. Please make sure that the code isn't locked.
![](https://i.imgur.com/9D4DGsp.png)

@QuincyLarson This can be closed.

[2017-12-28 11:19] fhavrlent commented on #16352
Ctrl+Enter works, I think @agitaev is reffering to the fact that Mac uses Command instead of Ctrl.

[2017-12-28 12:47] systimotic commented on #16351
@mstellaluna I don't think this is your fault. The challenge expects the argument to be named `args`, but it doesn't mention that in the instruction. The instruction should be updated to say that you need to name the parameter `args`

[2017-12-28 12:55] systimotic commented on #16352
@agitaev Thanks for reporting this bug! Can you check the console to see if there are any errors when you press `Cmd + Enter`?

Can somebody else on macOS confirm that `Cmd + Enter` doesn't work?

[2017-12-28 13:43] JimHomme commented on #12431
Hi,
Expressing my sinsere appreciation for folks looking into this. I am moving toward actually finishing JavaScript right now, and can’t wait to be able to write real code that helps people, especially FreeCodeCamp.

Jim

From: inscriptioelectronicaaustralia [mailto:notifications@github.com]
Sent: Thursday, December 28, 2017 2:08 AM
To: freeCodeCamp/freeCodeCamp <freeCodeCamp@noreply.github.com>

[2017-12-28 14:20] t3h2mas commented on #15946
Is the point discussion about the nesting or the `for` attribute, and how it improves [screen reader](https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/How_to_structure_an_HTML_form#The_%3Clabel%3E_element) experience?

[2017-12-28 14:51] vkWeb commented on #16352
@systimotic  Oh. Actually, It's working fine on Windows.

[2017-12-28 15:08] sagarjhaa commented on #16351
Can I work on it ?

[2017-12-28 15:47] theoutlander commented on #16351
@sagarjhaa Put a note here and go for it

[2017-12-28 15:59] sagarjhaa commented on #16351
Working on this bug. Thanks @theoutlander

[2017-12-28 16:19] no-stack-dub-sack commented on #16325
@QuincyLarson @ncaron Perhaps the note should go in the first section after the ES6 section (or in both places), as the concern is, what if campers skip the ES6 section? We want to let them know at that point, that challenges from here on out will use ES6 syntax.

Maybe something like:

__In ES6 Intro: __

__First intro after ES6 section:__

[2017-12-28 16:26] mstellaluna opened #16353 "ES6: Understand the Differences Between import and require - failing test - require not defined"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/es6/understand-the-differences-between-import-and-require

#### Issue Description
The challenge is failing the test after entering the import statement.
It states 'require is not defined'
But there are no instructions/requirements to use require.

#### Browser Information

Browser Name, Version:
Operating System: FireFox 57.0 (64-bit)

[2017-12-28 16:33] no-stack-dub-sack commented on #16312
@StephenMayeux I see what you did now, and I have no idea how this even happened, clearly we didn't write the tests that way, was probably a result of a regex find and replace when the async assertion syntax was updated. But I agree with @SanD94, feel free to wrap these up in one PR.

@SanD94 you can always pull down someone else's branch to test their changes using these instructions found on the

[2017-12-28 17:08] mstellaluna opened #16354 "ES6: Use export to Reuse a Code Block - fails looking for exports keyword instead of export"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/es6/use-export-to-reuse-a-code-block

#### Issue Description

When attempting to export the variable in two different methods, the challenge fails with "exports is not defined"

#### Browser Information

Browser Name, Version:
Operating System: FireFox 57.0 (64-bit) and Chrome Version 63.0.3239.84 (Official Build) (64-bit)
Mobile, Des

[2017-12-28 17:13] WaysToGo opened #16355 "Oops, something is not right, please request a fresh link to sign in / sign up."
#### Challenge Name
https://beta.freecodecamp.org/en/email-signin

#### Issue Description
 issue in authentication

#### Browser Information
 Google chrome Version 63.0.3239.108 (Official Build) (64-bit)->

* Browser Name, Version: Google Chrome Version 63.0.3239.108 (Official Build) (64-bit)-
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

#### Screenshot

![image](https://u

[2017-12-28 17:37] mstellaluna commented on #16355
Hello @WaysToGo this issue has already been reported and is currently being investigated. Please see https://github.com/freeCodeCamp/freeCodeCamp/issues/16288 for additional information. Thank you for reporting this issue. Happy Coding !

[2017-12-28 17:49] mstellaluna opened #16356 "ES6: Use * to Import Everything from a File - import name ambiguity"
#### Challenge Name
[ES6: Use * to Import Everything from a File](https://beta.freecodecamp.org/en/challenges/es6/use--to-import-everything-from-a-file)

#### Issue Description

~The challenge fails with 'require not defined' when importing from capitalize_string using the * wildcard.~ (edited by @systimotic: this part has been resolved)

Also the instructions is missing the object name to use myS

[2017-12-28 17:58] mstellaluna opened #16357 "ES6: Create an Export Fallback with export default - test failing - exports not defined"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/es6/create-an-export-fallback-with-export-default

#### Issue Description

The challenge is failing tests as it is looking for keyword 'exports' instead of 'export'.
Error: "exports is not defined"

#### Browser Information

Browser Name, Version:
Operating System: FireFox 57.0 (64-bit) and Chrome Version 63.0.3239.84 (Official Build

[2017-12-28 18:09] mstellaluna opened #16358 "ES6: Create Strings using Template Literals - Test Fails - Doesn't detect template strings"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/es6/create-strings-using-template-literals

#### Issue Description

The challenge is failing the last test, 'Template strings were used'.

#### Browser Information

Browser Name, Version:
Operating System: FireFox 57.0 (64-bit) and Chrome Version 63.0.3239.84 (Official Build) (64-bit)
Mobile, Desktop, or Tablet: Laptop Windows 10 Prof

[2017-12-28 18:26] raisedadead commented on #15946
The OP's intention is discussion about the `for` attribute and how it improves screen reader experience.

[2017-12-28 18:27] #16355 closed

[2017-12-28 18:35] #16317 closed

[2017-12-28 18:44] meda123 commented on #16344
@systimotic sure thing! I can tackle both issues in a single PR!

[2017-12-28 18:52] ChrisBrownie55 opened #16359 "Using typeof challenge requires semicolons to be correct"
#### Challenge Name

[Using typeof](https://www.freecodecamp.org/challenges/using-typeof)

#### Issue Description

In the Using typeof challenge, if one were to submit:
[code]
However, if semicolons were added:
[code]
Then all the tests are passed. Javascript does not require semicolons therefore this is simply complicating the challenge for users who do not use semicolons.

#### Screenshot

![scr

[2017-12-28 18:58] fhavrlent commented on #16352
@systimotic I tried it and it was not working, there was just `meta` instead of `metaKey` in the code.

[2017-12-28 19:35] mstellaluna commented on #16358
Update: after some investigation by one of our campers, it seems the staging branch fixes the issue but has not been ported over to beta.

[2017-12-28 19:36] no-stack-dub-sack commented on #16305
@BerkeleyTrue Ok, so renaming the issue, since we've established that's intentional. How about these stackable flash messages? I was thinking that this was also due to babel trying to retranspile on each edit, and complaining because until the edit is complete, there's syntax errors (e.g. unclosed tags). If you watch the whole gif, you can see that we end up with a whole stack by the end:

![image

[2017-12-28 19:41] no-stack-dub-sack commented on #16305
@trothaar @Bouncey Ok, so JavaScript is Disabled is intentional, but the "Something went wrong" flash messages are still a problem. Opening an issue specific to this and closing this one.

[2017-12-28 19:41] #16305 closed

[2017-12-28 19:41] BerkeleyTrue commented on #16305
The renaming makes it seem like the flash messages are the issue. The stacking of flash message is a feature, the bug is that we still try to transpile code when js is disabled.

I suggest we focus our efforts in disabling the transpile pipeline when js is disabled and to provide a better error message when babel fails to transpile.

[2017-12-28 19:46] no-stack-dub-sack opened #16361 "react challenges: retranspiling causes constant "Something went wrong" flash messages"
@BerkeleyTrue related to #16305. This is due to babel trying to retranspile on each edit, even when JS is disabled, creating syntax errors as the camper types (e.g. unclosed tags). The stacking messages are intentional, but they should not be occurring during editing.

[Per Berkeley](https://github.com/freeCodeCamp/freeCodeCamp/issues/16305#issuecomment-354346061):

<br>

![image](http://recordit.

[2017-12-28 19:52] BerkeleyTrue opened #16362 "style `js is disabled` message in preview plane"
As seen in #16361

At the moment it is a message in a span. This span should be classed to take advantage of bootstraps info styling.

The component responsible for rendering can be found here: https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/app/routes/Challenges/Preview.jsx#L26

[2017-12-28 20:02] vkWeb opened #16363 "[Beta] Matching Braces color in the editor needs to be changed"
#### Issue Description
The matching braces color `#00ff00` in the beta looks weird and after some time it becomes difficult to trace the matching pair. So, with my idea of adding a border around the matching braces like in VSCode, will resolve this issue.
Please, have a look at the below GIF's in fullscreen by clicking on them to notice the difference effectively. **This issue will be addressed in

[2017-12-28 20:10] vkWeb commented on #16321
@QuincyLarson  I have raised a [Pull Request](https://github.com/freeCodeCamp/design-style-guide/pull/17) in the [design-style-guide](https://github.com/freeCodeCamp/design-style-guide) repository. I'll appreciate your feedback.

[2017-12-28 21:31] Joshuaswift commented on #16362
I'm working on this 👍

[2017-12-28 21:37] systimotic commented on #16353
Thanks for all of the QA work @mstellaluna! I'm closing this as a duplicate of #16235

[2017-12-28 21:37] #16353 closed

[2017-12-28 21:37] systimotic commented on #16354
Thanks for all of the QA work @mstellaluna! I'm closing this as a duplicate of #16235

[2017-12-28 21:37] #16354 closed

[2017-12-28 21:43] systimotic commented on #16357
Thanks for all of the QA work @mstellaluna! I'm closing this as a duplicate of #16235

[2017-12-28 21:43] #16357 closed

[2017-12-28 22:09] SanD94 commented on #16312
@no-stack-dub-sack  I did complete what you all mentioned. However, I didn't check the tests when sending wrong code which would give the expected error. I just know that when sending correct answers, tests accept them. Do we need something for each test to raise error?

By the way, thanks for the information, I'll do it when I have time :)

[2017-12-28 22:34] systimotic commented on #16358
I can confirm that it does work on staging, but I think the description could use a bit of clarification.

[2017-12-28 22:46] systimotic commented on #16208
Related: #16319 #16243

[2017-12-28 22:49] systimotic commented on #16319
@ncaron I've also had issues with the syntax highlighting for months locally, but it has always worked fine on the beta (on Windows, both in Chrome and Firefox). I've seen various reports of it working/not working for others. I looked into it a little bit today, and saw a report that it has something to do with webpack (https://github.com/JedWatson/react-codemirror/issues/34). This would explain w

[2017-12-28 22:56] systimotic commented on #16359
Thanks for reporting this bug @ChrisBrownie55!

The challenge has been removed in the beta, but there is still a challenge about typeof. It also requires a semicolon. We don't need to enforce that here.

---

### What needs to be changed

You can find the code here:
https://github.com/freeCodeCamp/freeCodeCamp/blob/5214371ef124f24f242cd8a619ba8a8f1992cbe6/seed/challenges/02-javascript-algorithms-a

[2017-12-28 23:02] systimotic commented on #16356
Thanks for all of the QA work @mstellaluna!

The `require not defined` part is a duplicate of #16235

I think the "you may use any name" portion is technically correct. You could change `myStringModule` to `potato` only in this file and everything would still work fine, regardless of names in the imported file.
The instructions below the horizontal line should clarify that it's expecting it to be

[2017-12-28 23:05] systimotic commented on #16331
Thanks for reporting this @mstellaluna!

I accidentally opened a duplicate of this 😅 I'm closing this in favor of my duplicate #16344 because my duplicate has more background info and progress towards a fix.

Happy coding!

[2017-12-28 23:05] #16331 closed

[2017-12-29 00:28] ncaron commented on #16350
It would be nice if users are able to assign themselves to issues so others know it's being worked on. There could be a rule like you can't assign yourself to more than 2 issues at once to give the chance to everyone to work on something.

[2017-12-29 01:38] ncaron commented on #16359
I submitted a PR for this. It should now work as intended.

[2017-12-29 04:44] #16352 closed

[2017-12-29 05:04] #16359 closed

[2017-12-29 06:42] raisedadead commented on #16350
We have had considered this assignments in past. Unfortunately that has certain limitations:

- GitHub's search (within the assign to box) is heavily limited. It most often than usual doesn't show up the username (unless they are member/collaborator).
- It doesn't guarantee that an assigned user will submit a PR (due to so many reasons).
- This is a hard enforcement on both maintainers too, to kee

[2017-12-29 06:46] raisedadead commented on #16350
This is a hard enforcement. And will draw a lot of conflicts, diverting the focus from actual contributions.

We agree, that we can simply have guidelines to do so and mitigate things.

We are listening to the feedback, but please bear with us, while we are able to draw some policies for the community.
We of course want to be welcoming to everyone. I Personally feel this is very critical.

Thanks

[2017-12-29 06:57] theoutlander commented on #16350
If contributors get the run-around to identify which issues they can work on, it is going to be detrimental to the long-term success of the project. I certainly can't waste my time trying to identify what to work on next.

Also, I don't understand your statement about git hub search related to assigned users. Maybe we should consider using Zenhub instead.

[2017-12-29 07:49] raisedadead commented on #16350
Yes, that's well established and is the point of this threads discussion, and we certainly aim to address this by improving the clarity around it.

That's the real solution here, without the added burden on anyone.

Search is always your friend. Its a feature.
https://help.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/

Some of us use it (including yours truly, for o

[2017-12-29 13:44] thomlom opened #16368 "[beta] CSS Grid challenges should be added"
Hello everyone,

Right now, the most advanced CSS skill we learn on the beta is the flexbox module.

CSS Grid is a great layout system and I think it will be an important skill for every front end developer in the future.

It would be good for new campers to learn about that.

[2017-12-29 15:31] StephenMayeux commented on #16312
@SanD94 Sounds good. I'll wrap this one up today. Thank you!

[2017-12-29 18:45] AlyChloe commented on #16243
@QuincyLarson I'm about done with this issue but I can't seem to figure out why my changes for [`.@{ns}-editor .CodeMirror`](https://github.com/AlyChloe/freeCodeCamp/commit/5f57923d821a0b83b3d7100ac8c30c14d546e682#diff-980f586a94989488bd5bd7c9a416b66cR96) will not compile?

My changes elsewhere compile just fine. Seems to not work for that section of text?

[2017-12-29 18:57] #15946 closed

[2017-12-29 19:19] satyaim commented on #16327
@QuincyLarson  I was just going through code difference in the two above mentioned problems, and it seems as if I found out the bug. I'll be more than happy to contribute :)

[2017-12-29 20:27] kpranke commented on #16245
Do you still need help with this one?

[2017-12-29 20:36] joshuaswift commented on #16362
This should now be styled as requested, please see PR above.

[2017-12-29 21:17] raisedadead commented on #16245
Yes, we do.

[2017-12-29 22:00] QuincyLarson commented on #16327
@satyaim Awesome - if you think you've found the bug, go ahead and see if you can fix it. We would welcome your help with this! Please keep us posted on your progress.

[2017-12-29 22:03] QuincyLarson commented on #16243
@AlyChloe Could you open a pull request with your current changes (you can add the label "work in progress" - that way we can see your code and help you figure out how to fix this :)

[2017-12-29 22:16] QuincyLarson commented on #16350
@theoutlander Thanks for your feedback. I'll add to what @raisedadead a couple quick points.

Assigning issues doesn't really work, because we can only "assign" in GitHub an issue to someone who has previously contributed. For example, if I try to assign tenderlove - a prolific contributor to open source - to this issue, GitHub won't let me. Rather than assigning, our system is this:

1. Someone w

[2017-12-29 22:17] QuincyLarson commented on #16363
@vkWeb I agree this seems friendlier than the color change, and will look uniform on night mode as well :)

[2017-12-29 22:20] QuincyLarson commented on #16325
@no-stack-dub-sack Agreed! It's best to have notes both places, and I love your suggested copy here.

[2017-12-29 22:23] QuincyLarson commented on #12431
@inscriptioelectronicaaustralia CodeMirror is a widely-used project with tons of features that we use. I'm skeptical that Pode could do everything CodeMirror does. I think the best option is for us to patch CodeMirror.

[2017-12-29 22:29] QuincyLarson commented on #16300
Hi @abohannon Have you had time to make any progress on this?

[2017-12-29 22:32] raisedadead commented on #16350
Yes, that definitely makes sense and we should update the contribution guide to reflect this and maybe adding a couple difficulty level labels as requested in this thread by @theoutlander earlier should be good.

[2017-12-29 23:36] #16249 closed

[2017-12-29 23:38] abohannon commented on #16300
Hey @QuincyLarson, took a look yesterday and plan to get back to it tomorrow (possibly tonight). Certainly a learning curve digesting the codebase for the first time. Is there anything I should know about how the panes and dividers are structured/work together? I think I've found the redux action that might be responsible, but will need to debug further. Thanks for the opportunity to troubleshoot

[2017-12-30 00:00] camper-fcc commented on #15946
@darthm3gatron and others. Thanks for fixing this and taking it seriously! :1st_place_medal:

[2017-12-30 00:09] #16258 closed

[2017-12-30 00:46] zersiax commented on #12431
Although I do agree that patching  CodeMirror is the most , let's call it effective, way of solving the problem,  we do have to stay somewhat realistic.
This issue has existed for the entirety of this year, it's a year old bar a few weeks, and I've been whining and growling about this problem for at least two, maybe even three years now. And it is a problem indeed; every single time I decide to gi

[2017-12-30 01:46] raisedadead commented on #16319
We should just use the `default` code mirror theme for day mode and `dracula theme` for for night mode in code mirror config.

Its well maintained for very many coding languages.

[2017-12-30 01:47] raisedadead commented on #16243
We should just use the default code mirror theme for day mode and dracula theme for for night mode in code mirror config.

Its well maintained for very many coding languages.

[2017-12-30 06:17] vkWeb commented on #16363
@QuincyLarson Thank you so much :). I'll raise a PR for this as well.

[2017-12-30 06:30] vkWeb commented on #16327
@satyaim Great - Go ahead. Good luck 😃.
Before raising a PR please read our [Guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md).

[2017-12-30 08:52] raisedadead opened #16373 "Update docs about generating ID for New Challenges"
We need to update the [Challenge Style Guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenge-style-guide.md) and refer to it prominently from the [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors).

The update should be along the lines of:

----
To generate a new one in a shell (assuming MongoDB is running separately):

1. Run `mongo` command
2. Run `Ob

[2017-12-30 11:15] saurishkar commented on #16245
@raisedadead : If this issue is still open, may i take this up on priority. I have just setup my forked repo for contributing.

[2017-12-30 11:21] huyenltnguyen commented on #16319
@systimotic Thanks for all the info, it helps a lot.
I've made some progress on this issue and I'm quite positive that #16284 is related to this one (see the screenshot below). I've found that the problem is actually in some of the React components (`Editor.jsx` and `Code-Mirror-Skeleton.jsx`), in which we didn't add the theme correctly. And even if we did, the theme wouldn't display because we di

[2017-12-30 15:06] saurishkar commented on #16337
@JacksonBates I thought beta.freecodecamp.org does not save user progress. How is that happening here ?

[2017-12-30 16:04] mstellaluna commented on #16337
@JacksonBates Some campers (such as myself) had logged into and started working on Beta before the logins were disabled. So we have a some challenges already completed.

[2017-12-30 19:12] mstellaluna opened #16377 "Basic Algorithm Scripting: Truncate a String - Not Accepting Wiki/Production Hint Code"
#### Challenge Name
Challenge Link:
https://beta.freecodecamp.org/en/challenges/basic-algorithm-scripting/truncate-a-string

Wiki Link:
https://forum.freecodecamp.org/t/freecodecamp-algorithm-challenge-guide-truncate-a-string/16089

#### Issue Description

The truncate a string challenge is not accepting the Wiki resource code for the challenge if a camper
uses the Wiki for help in solving the cha

[2017-12-30 19:16] mstellaluna opened #16378 "Intermediate Algorithm Scripting: Pig Latin - Not Accepting Wiki/Production Hint Code"
#### Challenge Name
Challenge Link:
https://beta.freecodecamp.org/en/challenges/intermediate-algorithm-scripting/pig-latin

Wiki Link:
https://forum.freecodecamp.org/t/freecodecamp-algorithm-challenge-guide-pig-latin/16039

#### Issue Description
The pig latin challenge is not accepting the Wiki resource code for the challenge if a camper
uses the Wiki for help in solving the challenge.
Unsure if

[2017-12-30 19:22] mstellaluna opened #16379 "JavaScript Algorithms and Data Structures Projects: Cash Register - Not Accepting Wiki/Production Hint Code"
#### Challenge Name

Beta Challenge Link:
https://beta.freecodecamp.org/en/challenges/javascript-algorithms-and-data-structures-projects/cash-register

Wiki Link:
https://forum.freecodecamp.org/t/freecodecamp-algorithm-challenge-guide-exact-change/16012

#### Issue Description
The Cash Register (Exact Change in Production) challenge is not accepting the Wiki resource code for the challenge if a ca

[2017-12-30 19:24] saurishkar commented on #16373
May i take this one and raise a PR with proper updates ?

[2017-12-30 19:52] JacksonBates commented on #16337
@saurishkar Logins were enabled for a test group for further QAing about a week ago.

[2017-12-30 20:09] theoutlander commented on #16350
Thanks. That sounds reasonable. We can close this issue unless there's more to discuss.

[2017-12-30 22:09] mstellaluna opened #16380 "SASS Challenges not working at all"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/sass/store-data-with-sass-variables

#### Issue Description

None of the SASS challenges are passing tests.
It seems it can't detect the syntax.
On the first challenge it picks up the variable declaration but doesn't pickup the variable when assigned in an element.
Checking the dev console 42 errors are reported for document's frame i

[2017-12-30 22:15] joker314 commented on #16380
Your code shouldn't work because (reading from your fail message)

You have only styled elements with the selector of `.blog-post h2`. This is only `h2` elements contained within `.blog-post` elements; leaving out, for example, the paragraphs within the `.blog-post` element, as well as any `h2` elements outside of the `.blog-post` element.

To fix, you should at least try to place a comma in the s

[2017-12-30 22:39] inscriptioelectronicaaustralia commented on #12431
Quincy, I understand that CodeMirror is clearly the superior solution (I think Pode was made to be extremely simple as it was intended just for beginners), and it would be ideal to make it accessible if that is possible. The reason I asked what features Pode is lacking is that, once the text in CodeMirror edit fields can be read by screen readers, if CodeMirror uses any other visual features to as

[2017-12-31 00:35] ozzymuppet opened #16381 "Gracefully handle missing hints"
#### Challenge Name
https://www.freecodecamp.org/challenges/manipulating-complex-objects

#### Issue Description
When clicking on 'Get a Hint' it leads to a "Oops! That page doesn’t exist or is private." page.

#### Browser Information
* Browser Name, Version: Firefox 57.0.3
* Operating System: Windows 10
* Mobile, Desktop, or Tablet:  Desktop

#### Your Code

[code]
#### Screenshot

![image](http

[2017-12-31 07:05] sachinlamba commented on #16300
I tried to check on this. Actually, 2 files we need to udpate, I think. 1. \freeCodeCamp\common\app\Panes\Panes.jsx  &   2. \freeCodeCamp\common\app\Panes\redux\index.jsx . Code is working like whole 100% browser width is divided into totalNoOfPanels. bcz of that, Side-panel(Ques description part panel) getting its min & max width(or left-right values) which is increased to approx 33% after Map-Pa

[2017-12-31 08:58] sachinlamba opened #16382 "Decide behavior for when all panels are closed"
![fcc](https://user-images.githubusercontent.com/19946593/34460499-453b7a56-ee36-11e7-81a9-bde94f9f7e43.gif)
We should have atleast one panel in window to look at. User should not be able to hide all panels.
and one more thing, should we change css for hidden panels?
Plz check and tell if I can work on these?

[2017-12-31 09:40] vkWeb commented on #16382
@sachinlamba There's no problem in hiding all the panels. Users can always toggle them back on :). So, according to me working on this will just increase some conditional statements. I don't think it's worth the time you gonna spend on it.
If you're willing to contribute. We have a lot of [outstanding issues](https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted) you can look at.

@Qui

[2017-12-31 10:24] zelite commented on #16382
I think this should be further discussed instead of dismissed beacause of "too much work" or "it's good enough". The current interface with navigation links in the top bar having the function to show/hide panes is not intuitive. Some extra visual cue should better indicate their function.

Additionally the name of the panes on the react challenges (as seen in the OP post) is not clear. One of the

[2017-12-31 10:45] vkWeb commented on #16380
Confirmed.

[2017-12-31 10:54] vkWeb commented on #16382
@zelite This issue is about allowing users **not** to hide all the panes.

The issue you're referring to is totally different. It's about the intuitiveness of the workspace. I request you to please open another issue where this discussion will be directed and please mention the changes you would like to see in the workspace. Screenshots will be helpful. Thanks ;).

[2017-12-31 11:02] vkWeb opened #16383 "[Beta] [Important] Git Challenges are Missing"
#### Issue Description

In the beta version, Git challenges are missing. I think Git is a very important tool for our campers and it's the same tool powering freeCodeCamp codebase.

@QuincyLarson, @Bouncey, @BerkeleyTrue. This is important.

[2017-12-31 11:10] zelite commented on #16382
I think it's all part of the same issue that the panes hiding behaviour is not intuitive. Hiding all panes without an intuitive way to make them reappear seems confusing. That's why I said it should be discussed. I don't know what the ideal solution is. I am by no means a UX expert (or even UX amateur), but I feel there should be made an effort to find a better solution.

[2017-12-31 11:12] vkWeb commented on #16382
@zelite Okay - If you want to discuss it here. We'll do. What kind of behavior would you like to see?

[2017-12-31 13:36] Bouncey commented on #16350
Is ignoring possible for camperbot to issue in progress labels and help wanted logos.

Maybe using a magic phrase like `"I will work on this"`, camperbot will apply an `in progress` label and perhaps comment that if a PR has not been opened after a set amount of time, the issue will be opened up again with a `help wanted` label?

[2017-12-31 14:08] RitikPatni opened #16384 "Search is not working on beta"
#### Challenge Name

#### Issue Description

Nothing works for me I tried the map or search box and everything else nothing seems to be working for me. I've attached a gif to help with the issue and a console screenshot so that you can easily spot the problem

#### Browser Information

* Browser Name, Version: Google Chrome Version 62.0.3202.94 (Official Build) (64-bit)

* Operating System: Linux

[2017-12-31 14:11] rahsheen commented on #16379
I can work on this if that's ok.

[2017-12-31 14:44] mstellaluna commented on #16379
@rahsheen If you want to work on it go for it :) There doesn't appear to be anyone working on it. Happy Coding!

[2017-12-31 17:30] QuincyLarson commented on #16350
@Bouncey Yes - I like that idea. We should do that. Camperbot can automatically add labels based on perceived intent and look for a few key words.

@raisedadead We should only have two difficulty levels: beginner (first timer only) and normal help wanted. I say this because it removes the need for both the person creating the issue to understand difficulty, and it removes the need from contributor

[2017-12-31 17:32] QuincyLarson commented on #16382
Instead of forcing one panel to be visible, we should just have a "no panels are visible" graphic. Kind of like how you look at a document and it says "this page is intentionally blank."

Here's what JSBin looks like if you close all its panels:

![js_bin_-_collaborative_javascript_debugging](https://user-images.githubusercontent.com/985197/34463338-4a5347ca-ee1e-11e7-864a-f04f8901c2ff.png)

I've

[2017-12-31 17:35] QuincyLarson commented on #16382
One thing I've thought about adding is some sort of motivational quote that changes on every challenge. That way if campers get stuck, they can close the tabs, see it, and get a boost of motivation :)

We could load this the same way we load "challenge completed" quotes: https://github.com/freeCodeCamp/freeCodeCamp/blob/c6487c6dabd4a678ce8256444a913ab228949a37/server/utils/resources.json

[2017-12-31 20:24] maecapozzi commented on #16239
It looks like this issue was fixed in #16255 . Should it be closed?

[2017-12-31 21:03] abohannon commented on #16300
@sachinlamba thanks for the feedback. Your input and Redux dev tools helped me pinpoint what seems to be the problematic action, `dividerClicked`. Removing `dividerBuffer` from `leftBound` gets rid of the weird auto-resizing behavior and results in a semi-normal resizing effect, however the user still isn't able to collapse the `leftPane` all the way when the map pane is gone. If I get rid of both

[2017-12-31 21:55] mathagician commented on #16373
@raisedadead Please help me in understanding the issue. So far, I understand that the above code should be added to [Challenge Guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenge-style-guide.md). Please give clarity.

[2017-12-31 22:37] abohannon commented on #16300
@vkWeb I think I'm ready to submit a PR for this. Having an issue with the tests, though. Getting a ton of what appear to be linting errors in files I didn't edit. There don't appear to be any errors in my files. Should I submit the PR regardless?

[2018-01-01 00:09] #16362 closed

[2018-01-01 03:45] QuincyLarson commented on #16383
@vkWeb We plan to add these in the near future. We will need to "fake" these, since we will want to be able to teach these completely client-side, and as far as I know there's now way to emulate Git in the browser.

[2018-01-01 03:45] #16383 closed

[2018-01-01 04:19] QuincyLarson commented on #12431
@inscriptioelectronicaaustralia @zersiax @jhomme It sounds like from reading https://github.com/codemirror/CodeMirror/issues/4604#issuecomment-349920743 that @marijnh is planning to move to content editable, which should make CodeMirror significantly more usable. I commented on the issue asking whether there's anything we could do to help.

Worst case scenario, we might be able to build an "access

[2018-01-01 06:19] QuincyLarson commented on #16239
@maecapozzi We didn't merge #16255 - it was automatically closed by @camperbot because it wasn't aimed at the correct branch. I'll comment and see if the contributor can retry.

[2018-01-01 06:21] QuincyLarson commented on #16300
@abohannon can you pull the latest version of staging and merge it into your branch, then try running the `npm run lint` command?

[2018-01-01 07:06] vkWeb commented on #16383
@QuincyLarson Okay. We should have included Git-it for the time. But No problem 👍

[2018-01-01 07:11] vkWeb commented on #16382
@QuincyLarson Amazing Idea - We should do that quote thing. It'll be kind of an easter egg for our campers. ;)

[2018-01-01 08:57] scissorsneedfoodtoo commented on #16379
Hi @mstellaluna, thank you for raising this issue. I recently changed the challenge seed to address issue #16083. However, I only updated the solution in the seed file itself, not the solution on the Wiki.

@rahsheen, if you could make a new entry on the Wiki to reflect the updated challenge name, that would be great! Feel free to use the solution from the seed file listed below:

`var denom = [

[2018-01-01 13:28] saurishkar commented on #16373
@mathagician If you check out the reference Issue given at the bottom of the comment, it will give more clarity to the task at hand.
It relates to the situation when you have to add new challenges to the open source, a primary guideline should be followed in generating a unique id for this record (since the challenge data will be stored as seed json data).
So, in order to do that the commands ment

[2018-01-01 16:22] mstellaluna opened #16387 "React Challenges - Constant "Something Went Wrong" errors while your typing"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/react/create-a-complex-jsx-element

#### Issue Description

While attempting to do the React challenges, as your typing, the pop up "Something Went Wrong" consistently shows up on the screen and can take up the whole editor space.

This affects all the React challenges ......

Is there a way to suppress these until the actual 'Run Tes

[2018-01-01 16:29] mstellaluna commented on #16387
It seems refreshing the page corrects the issue .....

[2018-01-01 16:52] QuincyLarson commented on #16382
@vkWeb Agreed! A motivational easter egg! Would you be interested in helping with this? We need to build a list of good motivational quotes, and then write the logic to display them in a large font in the background when all panels are closed.

[2018-01-01 16:55] #16381 closed

[2018-01-01 17:14] QuincyLarson opened #16388 "Audit challenges and make sure each challenge has a hint article"
Currently when you click the "get a hint" button, it opens a corresponding "hint article" on the forum with hints. We instead want to open a corresponding article on the Guide, since the Guide is much better suited toward presenting this type of information.

Currently, most of the hint articles lead to forum posts like this one: https://forum.freecodecamp.org/t/freecodecamp-algorithm-challenge-gu

[2018-01-01 17:15] QuincyLarson commented on #16381
Closing in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/16388

[2018-01-01 17:18] QuincyLarson commented on #16379
@mstellaluna @scissorsneedfoodtoo @rahsheen Note that we are moving from using the forum Wiki to using the guide for this: https://github.com/freeCodeCamp/freeCodeCamp/issues/16388

[2018-01-01 17:59] iabrenne commented on #16388
I would like to give this one a stab, if that's OK.

[2018-01-01 18:46] QuincyLarson commented on #16388
@iabrenne OK - awesome! Which part of this do you want to tackle first?

[2018-01-01 18:57] agitaev opened #16389 "Beta: Typo in Basic JavaScript: Iterate with JavaScript Do...While Loops"
#### Challenge Name

Basic JavaScript: Iterate with JavaScript Do...While Loops
https://beta.freecodecamp.org/en/challenges/basic-javascript/iterate-with-javascript-dowhile-loops

#### Issue Description

Typo in the pre-last paragraph of the description of the challenge - 'Essenially' written instead of 'Essential'.

[2018-01-01 19:03] iabrenne commented on #16388
@QuincyLarson - I can start with with updating the links - the last item on the list:

 - [ ] Update the hint button on staging to point to the Guide rather than the forum

[2018-01-01 19:10] QuincyLarson opened #16390 "Teaching Git interactively in the browser"
We want to eventually teach Git interactively in the browser. The best example I've found of doing this is this: https://github.com/pcottle/learnGitBranching

It's open source and runs completely client-side.

![learn_git_branching](https://user-images.githubusercontent.com/985197/34470328-ae01c054-eef4-11e7-8e68-52af45391530.png)

This something we could potentially fork and get working within th

[2018-01-01 19:59] QuincyLarson commented on #16383
@vkWeb I've opened an issue here. Is this something you might be interested in tackling? https://github.com/freeCodeCamp/freeCodeCamp/issues/16390

[2018-01-01 20:45] #16235 closed

[2018-01-01 20:55] #16245 closed

[2018-01-01 23:13] abohannon commented on #16300
@QuincyLarson turns out I had a rogue eslint file conflicting. Deleted it and all tests passed. PR request submitted.

[2018-01-01 23:27] QuincyLarson commented on #16243
@raisedadead Is there a way to tie these codemirror theme changes to switching between light and dark mode? I like the way @AlyChloe's changes look, but I agree that we should ideally use a Codemirror theme instead of trying to change this with CSS.

[2018-01-01 23:29] #16321 closed

[2018-01-01 23:51] BerkeleyTrue commented on #16387
closing as duplicate of #16361

[2018-01-01 23:51] #16387 closed

[2018-01-01 23:59] BerkeleyTrue opened #16395 "Normalize flash type"
Normalize flash type.
The different level of message types provided by bootstrap are 'info', 'warning', 'danger', 'success'. The express flash system is currently using 'info', 'success', 'errors' (inconsistent with BS style and inconsistent pluralization)

 These should all be normalized to the BS style from front to back.

Relavent code:

https://github.com/freecodecamp/freecodecamp/blob/staging

[2018-01-01 23:59] theoutlander commented on #16356
This issue is fixed with https://github.com/freeCodeCamp/freeCodeCamp/pull/16340#event-1405641303

[2018-01-02 05:07] bteng22 commented on #16348
Looks like @Ethan-Arrowood covered most of these in #16262 which addressed the related issue #16254. Appears we just need to fix the last 5 on the ES6 challenges from `Understand the Differences Between import and require` to `Import a Default Export` which are complaining about not using the function form of `use strict`

[2018-01-02 05:26] iabrenne commented on #16388
@QuincyLarson  I do not see "Get a Hint" button on the beta side, only on the production site.

![image](https://user-images.githubusercontent.com/24214306/34474805-d64fef18-ef49-11e7-89ce-068d872beb1b.png)

![image](https://user-images.githubusercontent.com/24214306/34474835-714f169c-ef4a-11e7-975c-c0e2d08c6ee8.png)

Beta site has the "Get Help" button, which opens up this modal :

![image](https

[2018-01-02 05:31] scissorsneedfoodtoo opened #16396 "Octal Escape Sequence Error with Travis CI Build"
#### Challenge Name

#### Issue Description

User @AungMyoKyaw issued a pull request (#15856) to update Euler Project problem 4 in the interview prep section. Though the updated code in the pull request is correct and passes `npm test`, Travis CI throws the error `Octal escape sequences are not allowed in strict mode.` However, the error occurs due to a leading zero in the solution of the Create a

[2018-01-02 05:31] saurishkar commented on #16337
@JacksonBates  Ohh ok, thanks for the heads up.
@mstellaluna Even if they were disabled, the links should not go undefined because they point to general challenges not to the user's code to that particular challenge as i checked (or maybe i checked after they were disabled so that's what i am getting). Also, only a couple of links are receiving undefined data so it's worthwhile to have a look i gu

[2018-01-02 05:57] bteng22 commented on #16332
This one seems like a quick fix—I can pick it up if no one's assigned!

[2018-01-02 06:16] warborn commented on #16389
I'd like to take this if it's possible, i found the typo and it seems that only a change in the seed file is required

[2018-01-02 06:35] vkWeb commented on #16382
@QuincyLarson I'm willing to help but as you know I'm not at all experienced with JS, I'll start learning it next year after my high school exams and then I'll never stop contributing to freeCodeCamp codebase :).

[2018-01-02 06:36] vkWeb commented on #16390
@QuincyLarson It's great! But we'll need to do a lot of modifications because we'll need to teach our campers from scratch. Like creating a repo, pushing, pulling & committing, etc.

[2018-01-02 07:32] inscriptioelectronicaaustralia commented on #12431
I read marijnh's response, and it seems like it might be a while until we get accessibility. One thing to also take into consideration is that unfortunately, even when people say "a few months", that is rarely the case for accessibility as it too often gets very low priority. I'm not saying that this is what the developers of CodeMirror think, but it is a very disturbing worldwide trend. I have se

[2018-01-02 07:56] raisedadead opened #16397 "Upgrade to react-codemirror2"
We should consider moving to https://github.com/scniro/react-codemirror2 which promises an actively maintained replacement of our current component.

- The current component maintainers are non-responsive about all activities on their tracker and there is a discussion https://github.com/JedWatson/react-codemirror/issues/126 by the community of a more maintained version.
- The replacement (react-co

[2018-01-02 08:04] saurishkar commented on #16390
@QuincyLarson I want to take this up, seems a little challenging to me. Let us also discuss what are the requirements and i believe we need to modify it as per the current format of the challenges on FCC ?
Meanwhile, i will first go through it myself to make myself aware of how to modify it into our own challenges.

[2018-01-02 08:06] raisedadead commented on #16373
Hi @saurishkar @mathagician sincerest thanks for the interest in working on this.

We are in middle of consolidating and enhancing all the documentation around freeCodeCamp's code base. We want to get this done with some restructuring and simplification to the guide.

Also, it would have to be opinionated from what or plans and need are. Since this is of critical importance to all, I plan to do th

[2018-01-02 08:08] raisedadead commented on #16397
@BerkeleyTrue @QuincyLarson do you think this is okay for the road map?

[2018-01-02 08:13] raisedadead commented on #16243
@QuincyLarson

Yes, it will be an additional code fix. When a user toggles night mode in settings, currently we are changing the CSS classes for our UI elements (background, buttons, etc.)

But it should be simple enough to improve that logic to toggle the theme of the CodeMirror component to corresponding light / dark i.e (default / dracula) themes.

[2018-01-02 08:54] marijnh commented on #12431
No one promised anything in a few months, except that work would _start_ on a new approach, which will definitely take a while to build.

[2018-01-02 09:24] vkWeb commented on #16300
@abohannon Great job. 🤗

[2018-01-02 10:59] raisedadead commented on #12431
Hi @marijnh

Thanks for considering the re-archi of CodeMirror and we sincerely understand the efforts with everything being an open source effort.

Being a non-profit ourselves, please let us know, if you would need any coding assistance (pro-bono) from our community devs in this effort, we are around to help you in this effort, in any way we are able.

The battle tested knowledge of the project

[2018-01-02 11:46] marijnh commented on #12431
The most useful type of contribution would be for screen-reader users and/or accessibility experts from your community to help test our new prototype, once we have it, so that issues can be spotted and addressed early on. We'll do an announcement when we have something to show—if you want to make sure you're notified, you can send me an email with contact data.

[2018-01-02 13:06] Bouncey commented on #12431
@svinkle I would appreciated your input on this a11y issue.

Is the stop-gap suggested something that could work until the `content-editable` issue is resolved upstream?

[2018-01-02 13:44] saurishkar commented on #16384
@RitikPatni Hi , Are you still receiving this error ?

[2018-01-02 14:02] RitikPatni commented on #16384
Here's the screenshot
![screenshot from 2018-01-02 19-31-45](https://user-images.githubusercontent.com/16117262/34486015-a5412090-eff3-11e7-93b3-dd3905ce7819.png)

[2018-01-02 16:51] BerkeleyTrue commented on #16397
@

[2018-01-02 16:54] BerkeleyTrue commented on #16397
@raisedadead I haven't noticed any issues with react-codemirror. After all it is a thin wrapper around codemirror. That being said it looks like it might be worth the upgrade. I don't think this has anything to do with accessibility, though.

[2018-01-02 18:08] #16288 closed

[2018-01-02 18:19] AustinTice commented on #16382
@QuincyLarson I can pick this issue up if need be. Any particular quotes you're looking for? Like an API of some sorts, or would you prefer we just make an array of quotes and display a random one whenever no tabs are open?

[2018-01-02 18:26] #16329 closed

[2018-01-02 18:31] raisedadead commented on #16397
Oh yes, it has nothing to with a11y, I just happened to link to the issue, incase we are patching CM as per discussions in the thread, this might be affected.

Adding this to roadmap.

[2018-01-02 19:29] hadiswais commented on #16384
Same problem here

[2018-01-02 19:49] a7mam7ma commented on #16380
i think it is related to issue #16305

[2018-01-02 20:47] systimotic commented on #16359
Thanks @ncaron!

[2018-01-02 22:30] #16299 closed

[2018-01-02 23:57] systimotic commented on #16356
Thanks for that fixing that @theoutlander, nice work! I'm leaving this issue open because the other part ("you may use any name") is still the same.

[2018-01-03 00:35] LiVinson opened #16402 "Laptop webpage loads to fill width of entire screen instead of in sections"
#### Issue Description

I was in the middle of doing the “Line up Form Elements Responsively with Bootstrap” lesson when I began having issues with the page and the code editor was not responding so I refreshed the page.

What loads now stretches to fill the entire width of the window: the instructions were stretched the full width of the screen instead of being the left column, the text editor is

[2018-01-03 01:26] theoutlander commented on #16351
I feel like this shouldn't be a bug because it forces the user to think a bit more about the question. It appears pretty clear from the question when it says **spread operator on the args** parameter.

[2018-01-03 04:52] svinkle commented on #12431
If I understand the approach correctly, the CM editor content would load in a `textarea` and the `textarea` would be used to edit content. Then on update/save the `textarea` content would be reflected in the CM editor.

Would the CM editor be hidden from view? I assume there would only be the `textarea` viewable, otherwise having two editing areas would be confusing.

[2018-01-03 05:36] Scorialimit commented on #12350
Hello, I've been encountering the same problem on firefox and decided to switch to Chrome, and it worked like a charm. I think attempted it on Internet Explorer and did the same test to success there as well.

[On Firefox (unsuccessful)](https://puu.sh/yTanM/76ad39526c.png)
[On Chrome (successful)](https://puu.sh/yTanf/8092bf38be.png)
[On IE (successful)](https://puu.sh/yTamP/ffa22a1b34.png)

I st

[2018-01-03 05:58] raisedadead commented on #12431
Hi @QuincyLarson and everyone involved,

Thanks a lot for the feedbacks and considerations, in finding a solution.

There is one more consideration that we have hit which I just happened to realise with some discussions with @BerkeleyTrue about [a separate topic on CM](#16397), before we go ahead with any of the monkey-patching with another textarea. 😓

On beta (our new react front-end) we are not

[2018-01-03 06:06] raisedadead commented on #16208
This should rather be fixed using this approach https://github.com/freeCodeCamp/freeCodeCamp/issues/16243#issuecomment-354718194

Yes, it will be an additional code fix. When a user toggles night mode in settings, currently we are changing the CSS classes for our UI elements (background, buttons, etc.)

But it should be simple enough to improve that logic to toggle the theme of the CodeMirror comp

[2018-01-03 07:24] vkWeb commented on #16380
@QuincyLarson, @BerkeleyTrue This is Important. This needs to be addressed before shipping.

[2018-01-03 07:40] theoutlander commented on #16248
@vbelolapotkov it appears that nobody has claimed this issue yet, so please go ahead and put a note here if you're planning on fixing this issue.

[2018-01-03 07:58] theoutlander commented on #16250
I'm working on this one

[2018-01-03 08:27] vbelolapotkov commented on #16248
@theoutlander great, will work on it

[2018-01-03 11:28] Bouncey commented on #16402
Is this using the same device? What is your screen width?

[2018-01-03 14:10] raisedadead opened #16406 "RFC: Improved local and CI testing"
As we have gone ahead and added more challenges, the testing is gone a little cumbersome to handle.

1. local `npm run test` or `npm run test-challenges` generate too huge of a log, which is difficult to read on the console. An undocumented work around is to pipe it to a log file `npm run test 2>&1 | tee results.log`

2. CI logs [on Travis](https://travis-ci.org/freeCodeCamp/freeCodeCamp/builds/32

[2018-01-03 14:58] Powell-v2 commented on #16395
Heyyo, I think I can help with this one. It will be my first contribution to this project, so could you please elaborate a bit more on the objective? Namely, terms **flash type** and **express flash system** confuse me :D

[2018-01-03 15:46] raisedadead commented on #16396
Closing as its to be solved on the original PR.

[2018-01-03 15:46] #16396 closed

[2018-01-03 16:52] Ryan-ED commented on #16289
Is anybody working on this? I would love to give it a shot. I've never contributed to open source before

[2018-01-03 17:14] LiVinson commented on #16402
Yes, it's the same 13.3 " laptop.

[2018-01-03 17:23] LiVinson commented on #16402
When I booted up today, it worked fine. Not sure of the original cause.

[2018-01-03 17:23] #16402 closed

[2018-01-03 17:49] vkWeb commented on #16289
@Ryan-ED Great - Please go through our [contributing guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md). Good luck. 😃

[2018-01-03 18:15] sachinlamba commented on #16382
@AustinTice I think that static list will not look good. If u r familiar with the code, u can try to implement dynamic list (if possible, with localisation dependent language).

[2018-01-03 18:46] sagarjhaa commented on #16351
@theoutlander this has happened to me before, that using any other variable to solve the problem will not complete the challenge even when the logic is right. Should we let user use any variable name or hint them to use only **args**

[2018-01-03 20:23] theoutlander commented on #16351
I feel that users should be reading the question. However, if you wrote code that compiles, it should pass. So, I think this needs to be fixed.... but, my thought was that people are making a mistake because they're not reading the question (perhaps, the question needs improvement). IMO, it's one of those lessons about reading the requirements.

[2018-01-03 21:10] sagarjhaa commented on #16351
I agree to your question reading point @theoutlander. The last validation also indicates that we are expecting **args** variable in the solution. **The sum function uses the ... spread operator on the args parameter.**

Let me know if we need to fix it.

[2018-01-03 23:04] QuincyLarson commented on #16382
@vkWeb OK - sounds good. We will find someone else to tackle this then. Thanks for all your contributions so far!

@AustinTice Yes - we'd welcome your help. I can come up with the list of quotes. For now, please use a placeholder array of quotes. Here's one you can use first for the purpose of getting the styling right:

"Never, never, never, never, never, never give up." - Winston Churchill

@sac

[2018-01-03 23:08] QuincyLarson commented on #16248
@vbelolapotkov Awesome! Thanks for jumping on this. Please keep us posted on your progress, and let us know if we can do anything to help :)

[2018-01-03 23:13] QuincyLarson commented on #16390
@saurishkar Yes - this will indeed be challenging. I have no idea how we'll implement this, but where there's a will, there's a way. We will need to create a "command line" style challenge (right now all our coding challenges use a code editor interface). Then we'll need to get the camper to input the correct command, which will allow them to advance to the next challenge. If you're up for this ch

[2018-01-03 23:14] QuincyLarson commented on #16390
@bugwheels94 Awesome! Yes - we would welcome your help on this, too! As I told @saurishkar, this will be a big undertaking. But we'll be able to use a command-line interface type challenge for our SQL and Bash challenges, as well. So we'll get a lot of mileage out of your contributions, if this is something you're interested in going forward with.

[2018-01-03 23:20] QuincyLarson commented on #16250
@theoutlander Awesome! Thanks for keeping us posted on your progress :)

[2018-01-03 23:22] QuincyLarson commented on #16380
@BerkeleyTrue do you know what might be causing these Sass challenges to not work at all? We won't be able to QA the challenges until we get these working. Adding this to our critical path in the project.

[2018-01-04 03:07] bugwheels94 commented on #16390
@QuincyLarson Let's begin :)

[2018-01-04 03:35] theoutlander commented on #16351
I think the fix is easy, so let's do it. @QuincyLarson do you have a preference? We could go either way on this one.

[2018-01-04 04:17] no-stack-dub-sack opened #16407 "Panes do not maintain state when clicking on challenges in map"
Related to #16367 & #16249

@Bouncey fixed the issue with the map as described in #16249, however, for other panes, state is not maintained when a user clicks on a challenge via the map, or when moving to the next challenge:

- **When moving to the next challenge** (`challenges.submitChallenge`): "Index" and "Side Panel" should be open by default, but if the user closes the "Preview" pane, perhaps

[2018-01-04 04:21] no-stack-dub-sack commented on #16407
[Here's a gist](https://gist.github.com/no-stack-dub-sack/527a37ab2d4cc9a805fe8877a59d1607) showing what I tried.

Where there are multi-line comments, I changed no code. I've just deleted other lines in the gist to make it easier to digest since this is quite a large file. [Here's the current file](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/app/Panes/redux/index.js) as it is

[2018-01-04 06:05] Ryan-ED commented on #16289
Just to be clear @mtrivera , are you saying you want the image removed and replaced with text instead?

[2018-01-04 06:17] mtrivera commented on #16289
Yes, but it can be a reference for writing the text. Also, as @huyenltnguyen mentioned its an accessibility issue (see his post in this thread).

[2018-01-04 06:39] #16243 closed

[2018-01-04 06:40] raisedadead commented on #16243
The only thing that remained is the code editor, for which we already have a related issue.

[2018-01-04 06:45] raisedadead commented on #16390
@QuincyLarson
We have had discussed this before, but the one of the best browser tutorials out there is the official

https://try.github.io

[2018-01-04 06:47] raisedadead commented on #16384
/cc @Bouncey

[2018-01-04 07:14] raisedadead commented on #16266
@QuincyLarson quick updates,

With some wizardry from @BerkeleyTrue as usual (which was a huge overhaul actually!!).

![image](https://user-images.githubusercontent.com/1884376/34553172-0a9143a4-f14c-11e7-9fb1-e3d77c258224.png)

We are seeing a slight drop in the time it takes the request to complete the flight!

And currently, the external email request to AWS is taking by far the longest to pass

[2018-01-04 07:22] BerkeleyTrue commented on #16266
To add some information, this is not unique to beta and is a general issue with sending information through aws. It's just slow. Client side feedback would be the quickest fix. I don't think we can do anything serverside to make it quicker without sacrificing something else. The long run a separate email service to run in production (rabbitmq and a separate node server?) would be the solution.

[2018-01-04 09:45] Bouncey commented on #16406
Adding any [outstanding tests](https://gist.github.com/Bouncey/271d7fbf13188fbbafa54efede38f086) should reduce the log file by ~1500 lines. But that would only be a band-aid.

Is there an arg for the test runner to (be silent | provide minimal feedback) until an exception is thrown?

[2018-01-04 10:58] #12818 closed

[2018-01-04 11:40] raisedadead commented on #16406
I think a switch to ava would enable us to do that, effectively its really really fast and has tons of customizations available.

And as discussed in #4201 having a secondary implement for browser testing will be more elegant.

[2018-01-04 14:33] vbelolapotkov commented on #16248
@QuincyLarson I guess I need an advice from someone who is familiar with a project.

Here is what I have at the current moment.
The problem is in Map state after app.fetchChallenges.complete. Map is filled in with default list of blocks/projects, but their state is not applied based on url params.

I see two options here:
1) Add extra parameter to fetcheChallenges.complete action, to create map wi

[2018-01-04 14:53] raisedadead commented on #16248
@vbelolapotkov thanks for your analysis, looping in @BerkeleyTrue for the clarifications.

[2018-01-04 16:13] BerkeleyTrue commented on #16248
I'd suggest using the challengeUpdated action to trigger state changes in the map. This will contain the information necessary to drill down the map.

[2018-01-04 18:01] raisedadead commented on #16266
Yes, I am exploring [Kue](https://github.com/Automattic/kue) by the Automattic team which uses redis as its DB. It seems to be really light.

We can have a dedicated nodemailer (node server) hooked to it or use it as it is with our AWS setup.

[2018-01-04 20:47] AustinTice commented on #16382
@QuincyLarson I can absolutely get this done tonight or the following day; however, I'm quite new to this repo, where exactly is the html and js files that need to be edited for this particular project? Thanks in advance!

[2018-01-05 01:06] no-stack-dub-sack commented on #16397
@raisedadead @BerkeleyTrue One of the current problems with react-codemirror, is that if we ever want to upgrade to newer versions of React, react-codemirror will pretty much completely cease to work, as it has not been updated at all since the early days of React. I tried to use react-codemirror for a project using React 16 and had considerable difficulty, and switching to react-codemirror2 insta

[2018-01-05 03:22] BerkeleyTrue commented on #16397
@no-stack-dub-sack thanks for the info. Sounds like a solid reason to upgrade.

[2018-01-05 04:44] priyaoj commented on #3078
does it work

[2018-01-05 07:36] AustinTice commented on #16382
I made this locally and would be quite simple. I just need a hint of instruction on where the folder is to get the panes. I see the panes.jsx & pane.jsx, but do not fully understand where to begin in the file. I am hoping to just write a function that grabs some random index of a given"motivationalQuote"
array and then spits it into a given html tag whenever all the panes are closed.
![fcc vid](ht

[2018-01-05 09:47] vbelolapotkov commented on #16248
@BerkeleyTrue challenge is passed as a payload to challengeUpdated and it contains all required info to updated map (superBlock, block, dashedName). Why would you pass the same info as additional meta?

[2018-01-05 10:34] Bouncey opened #16410 "[beta] Project submission challenges - Images are undefined"
Most images on the submission pages are broken due to an incorrect link, the majority are `http://i.imgur.com/undefined.png`

If `image` is falsey [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/a7a436651d338059a0f7506cfd9b9495eb737f6e/common/app/routes/Challenges/views/project/Project.jsx#L44) then we shouldn't try to render an image.

[2018-01-05 13:31] Asjas opened #16411 "[Beta] Applied Visual Design challenge passes test when incomplete"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/applied-visual-design/lock-an-element-to-its-parent-with-absolute-positioning

#### Issue Description
The test is asking to set the `#searchbar` element to `position: absolute;` and to give it an offset of `top` and `right` of `0px`. The issue is that the test passes if you leave out the `top offset` and `right offset`.

I know leavin

[2018-01-05 17:19] raisedadead commented on #16411
Hey, can you share your full code as well? Thanks.

[2018-01-05 17:43] Asjas commented on #16411
Hi.
This is the full code I ran.

[code]

[2018-01-05 17:59] raisedadead commented on #16411
Hmm interesting.. I cant seem to reproduce.

[2018-01-05 18:16] Asjas commented on #16411
I tested this on a Windows 10 machine right now as well. Tested using Chrome 63 and FF 57.

The code passes on my machine. But according to what it seems to be testing for it should only pass if I set `top: 0px;` and `right: 0px;`. I don't think it should pass if I leave those two settings out.

I just tested by running this code and this code also passed on my side.

[code]
If I set the left offs

[2018-01-05 18:30] raisedadead commented on #16411
Yes, I can reproduce with your above code. Thanks for reporting.

[2018-01-05 20:06] BerkeleyTrue commented on #16248
The meta data strategy is to keep the Map feature decoupled from the rest of the app. This is in opposition to directly triggering a state change in Map with a type imported from another place in the app or by creating an additional action in Map and then dispatching it in addition to the challengeUpdated action. The meta data does not need to be a duplicate of the date in the payload but should b

[2018-01-05 20:13] BerkeleyTrue commented on #16380
@QuincyLarson no I've had very little time to dedicate to SASS in the past. I'll also note that the errors/warnings in the console are unrelated.

[2018-01-05 20:14] BerkeleyTrue commented on #16395
The objective is to normalize the flash naming convention across the front and backend. flash type dictates the style of message to display. express flash is a library

[2018-01-05 21:27] sagarjhaa commented on #16411
@raisedadead are you working on it? I would like to help in fixing the bug.

[2018-01-05 22:07] Asjas opened #16414 "[Beta] Applied Accessibility - Test fails to check for closing </header> tag"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/applied-accessibility/make-screen-reader-navigation-easier-with-the-header-landmark

#### Issue Description

Test passes if you use an opening `<header>` tag and leave out an closing `</header>` tag. The test should check if the `<header>` tag is being closed.

#### Browser Information

* Browser Name, Version: Crhome, Version 63.0.32

[2018-01-05 22:21] Asjas opened #16415 "[Beta] Applied Accessibility - Tests fail to check for closing </nav> tag"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-accessibility/make-screen-reader-navigation-easier-with-the-nav-landmark

#### Issue Description

There are two issues I've found here.

Firstly, One of the tests says there shouldn't be any `<div>` tags used in this code. If a closing `</div>` tag is left in the code the test passes.

Secondly, If you use a opening `<nav>` t

[2018-01-05 22:29] Asjas opened #16416 "[Beta] Applied Accessibility - Test fails to check for closing </footer> tag"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-accessibility/make-screen-reader-navigation-easier-with-the-footer-landmark

#### Issue Description

The test passes if the opening `<footer>` tag is used and the closing `</footer>` is missing.

Also, the test states the no `<div>` tag may be used in the code but it doesn't check if the closing `</div>` tag is still left in.

[2018-01-05 22:40] Asjas opened #16417 "[Beta] Applied Accessibility - Test fails to check for closing </figure> tag"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-accessibility/improve-chart-accessibility-with-the-figure-element

#### Issue Description

One of the tests says there shouldn't be any `<div>` tags used in this code. If a closing `</div>` tag is left in the code the test still passes.

Secondly, If you use a opening `<figure>` tag and leave out the closing `</figure>` tag t

[2018-01-05 23:30] systimotic commented on #16344
Hi @meda123! How's your progress on this?

[2018-01-05 23:58] systimotic commented on #16351
@theoutlander I do agree that reading the question is important, but I think the issue here is that it's not mentioned at all in the initial instructions. It does show in the tests, but the test states it as if it should already have been obvious.

I think the best fix for this is renaming `array` in the seed code (the code that is in the editor when you open the page) to `args`. @sagarjhaa Do you

[2018-01-06 00:04] systimotic commented on #15730
This has been fixed through https://github.com/freeCodeCamp/freeCodeCamp/pull/16338 🎉

[2018-01-06 00:04] #15730 closed

[2018-01-06 00:48] jameskaupert commented on #16410
Believe I have a fix for this.  Changed line 62 to `src={ image ? imageURL : false }`

[2018-01-06 02:56] iabrenne commented on #16388
@QuincyLarson  Just wanted to provide a quick update. I am familiarizing myself with the codebase. It's quite a lot to digest.

My plan so far is to leave the Tool Panel on the beta site with all current buttons intact, and add another button with "See Guide" or something to that effect. Once user clicks on the "See Guide" button, it'll take them to the corresponding challenge article in the guide

[2018-01-06 05:39] #16266 closed

[2018-01-06 05:48] #16410 closed

[2018-01-06 09:39] Asjas opened #16419 "[Beta] Applied Accessibility - Tests fails to check for closing </audio> tag"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-accessibility/improve-accessibility-of-audio-content-with-the-audio-element

#### Issue Description

The issue with this challenge is that you can use the opening `<audio>` tag and leave out the closing `</audio>` tag and the test passes. The test should be checking if the closing tag is also used.

#### Browser Information

[2018-01-06 10:34] Asjas opened #16420 "[Beta] Applied Accessibility - Tests fails to check for closing </figure> tag"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-accessibility/improve-chart-accessibility-with-the-figure-element

#### Issue Description

I've found two problems in this challenge.

Firstly, it states no `div` tags may be used in the code. But if I leave in a closing `</div>` tag the test still passes. It's not checking for closing `div` tags.

Second, the test isn't chec

[2018-01-06 12:07] Asjas opened #16422 "[Beta] Applied Accessibility - Tests fails to check for the closing </fieldset> tag"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility

#### Issue Description

The issue with this challenge is that the test isn't checking for the corresponding closing tag for the `<fieldset>` tag. You can use a `</div>` tag as a closing tag and the test still passes.

It should check for the `</f

[2018-01-06 12:40] Asjas opened #16423 "[Beta] Applied Accessibility - Tests fails to check for the closing </time> tag"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-accessibility/standardize-times-with-the-html5-datetime-attribute

#### Issue Description

The test is failing to check for the closing `</time>` tag. You can reproduce this issue by using the opening `<time>` tag and leaving out the closing tag.

#### Browser Information

* Browser Name, Version: Chrome, Version 63.0.3239.10

[2018-01-06 12:52] saurishkar commented on #16390
@QuincyLarson As challenging as it seems, it is also interesting how we will get a command line working inside. I thought of mimicking command line using Javascript code, but if i consider the scenario of using it for SQL and Bash challenges in the future, it might be not a good idea.

[2018-01-06 12:52] Asjas opened #16424 "[Beta] Applied Accessibility - Tests fails to check for the closing </a> tag"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-accessibility/give-links-meaning-by-using-descriptive-link-text

#### Issue Description

This challenge has a issue where it isn't checking if the closing `</a>` is being used. You can replicate this by moving the opening `<a>` tag and deleting the closing `</a>` tag. The test will pass but it shouldn't do so.

The test needs

[2018-01-06 13:29] raisedadead commented on #16411
Hey @sagarjhaa, nope I am not working on this, just labeled it like so for anyone to take it up. Please feel free to take a look and  fix the test.

Should you need any assistance we hang out in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors)!

Happy contributing.

[2018-01-06 14:07] pekac45 opened #16425 "Escape Sequences in Strings coming up with bad solution even when solution is correct"
#### Challenge Name

Escape Sequences in Strings
https://www.freecodecamp.org/challenges/escape-sequences-in-strings

#### Issue Description

I come up with correct solution which works in brackets or any other text editor but freeCodeCamp editor comes up saying it's wrong. Tried multiple different solutions from "get a hint" but none of them are working.

#### Browser Information

* Browser Name,

[2018-01-06 14:10] Asjas commented on #16425
@pekac45 Your code will fail. The reason being your code fails two of the tests.

The first is your variable `myStr` should have **only** one newline character `\n`
The second is your variable `myStr` should have one carriage return character `\r`

You have two newline `\n` characters. That will cause the tests to fail

[2018-01-06 14:20] Asjas commented on #16425
@pekac45

Github issues are reserved for reporting bugs or broken tests.

If you need assistance with understanding how to solve a particular challenge the [Freecodecamp gitter](https://gitter.im/FreeCodeCamp/HelpFrontEnd) chatroom is where you can ask for help.

[2018-01-06 15:31] sagarjhaa commented on #16411
Working on it. Thanks @raisedadead

[2018-01-06 15:33] sagarjhaa commented on #16351
On it. Thanks @systimotic

[2018-01-06 16:01] #16425 closed

[2018-01-06 16:01] pekac45 commented on #16425
Thanks, that was my bad.

[2018-01-06 16:21] jameskaupert commented on #16410
I posted in the PR but it looks like this is still an issue.  I have two options for fixing this.  Waiting for an understanding in the Gitter channel or here for what our process is to reopen / resubmit.

[2018-01-06 16:51] BerkeleyTrue opened #16426 "Add default image to Projects"
Same project challenges do not provide an image. We will need a default image to render here instead of nothing.

see: #16410

[2018-01-06 17:37] jameskaupert commented on #16426
I'll take a look at this since I had worked #16410.  Any preference on what the default image should display?  Some ideas:

- FCC logo or a variant on it
- Some sort of generic "Placeholder Image" text on a colored background (don't think we'd want this)
- "Good Luck!" text on a colored background

[2018-01-06 17:42] vkWeb commented on #16424
Confirmed!

[2018-01-06 18:04] huyenltnguyen commented on #16319
Hi @raisedadead, sorry for bothering you, but since you're more familiar with codemirror, I think you're the right person to ask.
I think I was on the wrong branch when I commented, in the comment above, that I didn't see some React components in the codebase (not sure where my head was at at the time).
Anyway, I see the class `cm-s-monokai` in `Code-Mirror-Skeleton.jsx`, from which I assume we or

[2018-01-06 18:23] raisedadead commented on #16426
We could use some of the motivational quotes? These could be added to the words.json in common / utils.

[2018-01-06 18:54] raisedadead commented on #16319
Hey there! @huyenltnguyen , how is going?

Hit me up any time, I may not be an expert though. And thanks a lot for taking the time and efforts in investigating and helping.

Okay now coming back to the queries:

Yes, you are correct. The styles which are imported in `main.less` (entry point for all things css usually) may not be consumed by the new react components at all places.

1. There are fou

[2018-01-06 18:58] raisedadead commented on #16319
FYI we also want to upgrade to react-codemirror2 as being discussed in the #16397 and avoid the webpack issue that @systimotic is refering to which I am unaware of.

/cc @BerkeleyTrue even more reason..! lol.

[2018-01-06 19:19] raisedadead commented on #16406
Okay, here is how we can split our tests with different categories
https://docs.travis-ci.com/user/build-stages/define-steps/

[2018-01-06 19:27] BerkeleyTrue commented on #16426
@raisedadead that might add a lot of complications. We should just add a default image (fcc logo) to get this solved.

[2018-01-06 19:44] IsaacAbrahamson commented on #16235
@QuincyLarson, Since this is closed and merged, should it be removed from the TODO list?

[2018-01-06 19:44] IsaacAbrahamson commented on #16288
@QuincyLarson, Since this is closed and merged, should it be removed from the TODO list?

[2018-01-06 19:44] saurishkar commented on #16390
@QuincyLarson @raisedadead What I understand is whenever there is a `challengeSeed` key in the seed  .json file, it translates into code for the editor ( i guess `challengeType` has a role to play here ).
So, if i needed to show a terminal instead of an editor, what will i be specifically targeting ?
I researched a little bit and found that we use Code Mirror to hook an editor inside an app.
I fou

[2018-01-06 19:47] raisedadead commented on #16426
@jameskaupert so, lets add the freeCodeCamp logo with a `@darkgreen` (`#006400`) background. You can grab the asset for logo at https://github.com/freeCodeCamp/assets/tree/master/assets/logos

You will have to upload them to imgur for now. And create a PR. We will later check with Quincy to move it to S3 bucket, as a part of our ongoing chore.

[2018-01-06 19:48] raisedadead commented on #16426
/cc @QuincyLarson about the S3 bucket for all images. Not sure who is working on that #15941

[2018-01-06 19:50] raisedadead commented on #15941
This is still open @tchaffee @mariobro if you guys are interested.

[2018-01-06 19:50] raisedadead commented on #16288
@IsaacAbrahamson yup on it. thanks.

[2018-01-06 19:55] raisedadead commented on #16390
@saurishkar yup, but preferably a react component console "emulator" is a better choice, like for example which is made on top of the library you have chosen.

[2018-01-06 19:59] saurishkar commented on #16390
@raisedadead ok , but how will i include it as a seed challenge is what that keeps bugging me?
Any suggestions ?

[2018-01-06 20:00] raisedadead commented on #16337
Login is now enabled for all. But the progress maybe purged as we are re-deploying every now and then.

[2018-01-06 20:09] jameskaupert commented on #16426
Awesome, will do.  Thanks!

[2018-01-06 20:11] raisedadead commented on #16390
Yup. This whole interactive feature will not be trivial to implement without adding supporting infrastructure for the emulator (if we are convinced on one).

We would need a whole stack of client side integration of interactively presenting the code. I'll let Quincy guide more on that though.

[2018-01-06 20:14] raisedadead commented on #16390
If it were me I would have gone with like we have done for our search a completely separate component that is just dropped in the Nav.

Similarly a completely independent emulator component that can be dropped in replacing the editor would be a way to go.

But that said it would not be trivial IMHO, nonetheless something that is very much possible.
/cc @QuincyLarson maybe we can put this on roadma

[2018-01-06 20:20] saurishkar commented on #16390
@raisedadead ok thanks for the heads-up, i will keep researching and keep you guys posted.

[2018-01-06 23:18] travelkris commented on #16107
Thank you for opening this issue. Recursion was used as the best solution at least as far back as [https://www.freecodecamp.org/challenges/factorialize-a-number](https://www.freecodecamp.org/challenges/factorialize-a-number), but has not been mentioned in the lessons up to that point (at least as far as I can find).

[2018-01-07 05:48] #15733 closed

[2018-01-07 07:47] Asjas opened #16433 "[Beta] Freecodecamp progress stuck after submitting a project"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-responsive-web-design-projects/build-a-survey-form

#### Issue Description

This issue appeared right after I submitted a codepen link to a project. After I pasted the link and pressed the `I completed this challenge` button it froze.

The project I submitted was the `Build a tribute page` but I submitted it on the `Build a s

[2018-01-07 07:50] vkWeb opened #16434 "[Beta] [React & Redux Challenges] Code Mirror has White Background in Night Mode"
#### Challenge Name
All React, Redux, and React & Redux Challenges.

#### Issue Description
The code editor on all of the React, Redux, and React & Redux Challenges has a white background in night mode. It should be same as that of other challenges.
![2018-01-07](https://user-images.githubusercontent.com/26724128/34647630-0fa5177c-f3ad-11e7-8b70-412d136b3439.png)

#### Browser Information
* Browse

[2018-01-07 08:10] vkWeb opened #16435 "[Beta] Preview Pane has a different background color"
#### Issue Description
Preview pane has a `#737373` background-color. It should be white.

#### Browser Information
* Browser Name, Version: Chrome & firefox (latest).
* Operating System: Windows 10 Pro 32 Bit.
* Mobile, Desktop, or Tablet: Desktop

[2018-01-07 08:34] tbushman opened #16436 "[beta] Bar Chart Codepen has misalignment"
#### Challenge Name

#### Issue Description

The Bar Chart Codepen has a few `<rect>` elements that do not align with relative axis ticks. In order to accommodate the misalignment, we have added 5.5px to the alignment tests at https://github.com/freeCodeCamp/testable-projects-fcc. This may cause aligned student projects to fail the y-axis alignment test.

#### Browser Information

* Browser Name,

[2018-01-07 10:52] scissorsneedfoodtoo commented on #16379
@rahsheen, just wanted to check in. Have you started working on the guide for this challenge? If not, I could give it a go.

[2018-01-07 10:54] prakhar897 opened #16438 "Can't login using github account"
#### Challenge Name

#### Issue Description

I tried to login using github but it displays an alert box opens instead.

#### Browser Information

* Browser Name, Version:  Google Chrome
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]
#### Screenshot

![untitled](https://user-images.githubusercontent.com/25222802/34648798-35ccb756-f3c7-11e7-9dde-e5394db3

[2018-01-07 12:04] Pavel198007 commented on #16422
а от меня что нужно?15:14, 6 января 2018 г., "A-J Roos" <notifications@github.com>:

Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility
Issue Description

The issue with this challenge is that the test isn't checking for the corresponding closing tag for the <fieldset> tag. You can use a </div> tag as

[2018-01-07 13:10] Asjas commented on #16422
@Pavel198007

I do not know what you mean by asking what I want from you. Can you explain?

Also you need to type in English and not Russian. So that everyone understands.

[2018-01-07 16:27] #15696 closed

[2018-01-07 16:36] raisedadead commented on #16438
Yes, we have disabled GitHub for new accounts, only old accounts are allowed sign in via this.

Are you a returning user? And still seeing this?

[2018-01-07 16:38] raisedadead commented on #16435
Fixed in #14507

[2018-01-07 16:38] #16435 closed

[2018-01-07 16:40] raisedadead commented on #16434
See discussion in https://github.com/freeCodeCamp/freeCodeCamp/issues/16319

[2018-01-07 16:40] #16434 closed

[2018-01-07 16:43] raisedadead commented on #16436
Hi @tbushman thanks a lot for improving on the tests there, could you list out which are the affected projects, and what needed to be done in terms of contributions in this repo?

We should be able to tag the same accordingly for contributors to help fix them

Happy contributing.

[2018-01-07 16:47] raisedadead commented on #16433
Thanks @Asjas
For anyone looking to contribute. We need assistance in analysis of this issue.

[2018-01-07 16:51] raisedadead commented on #16389
@warborn sure please go ahead. if you need assistance then hit us in the [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors), and follow our [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) for setup.

[2018-01-07 17:17] #16438 closed

[2018-01-07 19:34] onomesotu opened #16439 "Twitch TV API v5 will be out of use by the end of 2018"
#### Use the Twitch.tv JSON API 

#### Issue Description
The current Twitch Tv API v5 is deprecated and will be completely replaced by the end of 2018.
Just an FYI so the challenge may be updated to the new API or new challenge proposed.

[2018-01-07 19:54] antofon opened #16440 "Progress of freeCodeCamp challenges not matching/updating"
#### Issue Description

The number of challenges completed do not match (see screenshots, center and top right of screen). The "98" completed and its corresponding info (i.e. streak, history of completed challenges) refers to an older account linked to my GitHub. However, the "258" completed in the top right refers to a separate, more actively used account.

I tested whether the "258" number chang

[2018-01-08 01:16] erictleung commented on #16439
@onomesotu thanks for bringing to this our attention! The [challenge itself](https://www.freecodecamp.org/challenges/use-the-twitchtv-json-api) doesn't suggest using the API directly, but instead to use a workaround we've implemented so you don't need an API key. However, this workaround may and probably does use the API V5 (someone would need to verify this).

Sidenote: just [a reference](https:/

[2018-01-08 01:22] mstellaluna commented on #16439
@erictleung  maybe a contact us page that integrates the google map API ? https://developers.google.com/maps/documentation/api-picker

[2018-01-08 01:25] Ryan-ED commented on #16289
I am still slightly unclear on what exactly needs to be changed. Could you please clarify this for me, @Bouncey

As far as I know, @mtrivera wants me to remove the image and replace it with the text that he mentions  in the description.

[2018-01-08 01:42] RaphaelAddile commented on #16439
@erictleung Just started working on the Twitch API challenge and it uses the V5 API.

Also the fcc wrapper documentation says:

`https://api.twitch.tv/kraken` is for V5, the new one uses `https://api.twitch.tv/helix`.

Also while at it, the wrapper should probably update the link to the documentation. It still links to https://github.com/justintv/Twitch-API, the current documentation for the V5 AP

[2018-01-08 02:42] cassidypignatello commented on #16395
I'm happy to take this one if it's not being worked on!

[2018-01-08 05:23] #16389 closed

[2018-01-08 06:10] raisedadead commented on #16289
Hey there, @Ryan-ED !

Apologies, we should have been very clear on what is the need here. Thanks for taking the time to contribute.

Here is general direction of what's needed:

- Let's not remove the image, it is sometimes useful to see an example annotated as in the image.

- Let's update this line to have an additional text "**Click to enlarge**"  like so, for clarity to open it.
 https://gith

[2018-01-08 06:11] raisedadead commented on #16289
Bonus, if you or anyone else is looking for a contribution do the similar changes for another challenge reported in #16335

[2018-01-08 08:07] Ryan-ED commented on #16289
Thanks @raisedadead !

[2018-01-08 08:50] erictleung commented on #16439
@mstellaluna just to clarify, you are suggesting a new API challenge with the Google Map API? If so, that could be an interesting challenge, as it is something that many developers might want to make for themself on their own personal page. I like the idea. However, we might be able to just update the Gomix instance with the new Twitch API (I'm not sure how much effort this would take).

@RaphaelA

[2018-01-08 13:02] MahasinAlHayek commented on #14715
هلا وين الحل بالزبط؟؟

[2018-01-08 13:07] Asjas commented on #14715
@MahasinAlHayek You need to type in English please.

[2018-01-08 14:24] Powell-v2 commented on #16395
Go ahead, Cassidy : )

[2018-01-08 15:19] rahsheen commented on #16379
By all means, feel free @scissorsneedfoodtoo. :+1:

[2018-01-08 16:18] Ethan-Arrowood commented on #16439
@RaphaelAddile can you open a PR with these changes?

[2018-01-08 16:28] meda123 commented on #16344
@systimotic So sorry for the delay! was bogged down at work. I can tackle this in the coming week, but if there is someone else who can do it faster I don't want to slow the team down.

[2018-01-08 18:02] tomasvn opened #16445 "Creating freeCodeCamp's CSS Style guide"
I would like to propose freeCodeCamp's CSS Style guide to improve overall maintainability of the codebase. As the FreeCodeCamp has a lot of contributors, and everyone writes the CSS in a different way. And it is hard to keep of track of different ways of writing CSS.

### Initial Recommendations:

## Comments

- Add comments, when you are starting a new LESS file, so the developers know what are t

[2018-01-08 18:04] tomasvn commented on #16445
@raisedadead

[2018-01-08 18:38] raisedadead commented on #16445
Thanks, are you aware of any way can lint these? Using any linters?

[2018-01-08 18:39] vkWeb commented on #16445
@raisedadead @tomasvn According to me the process of creating a CSS style guide and sticking to it will in long-term not yield useful results. React, Yarn, Babel and lots of other open source projects use `Prettier` and other similar extensions for their CSS Style formatting.

Instead of creating a style guide. We should tell our contributors to Install `Prettier` In their IDE/Code editor and we'l

[2018-01-08 18:41] vkWeb commented on #16445
Prettier works well ;). It warns you when you violate any CSS style rule.

[2018-01-08 18:48] raisedadead commented on #16445
Hiding from problems never helped anyone... 😅 !

I am strongly in favor of avoiding formatters and using linters instead. Automating things sound cool and easy, but they take away the key point of writing standard code.

IMHO, we being the community around learning should not shy away with fixing issues in code style pointed by linters, rather.

Also please note **Prettier is an _Opinionated_ Code

[2018-01-08 18:59] raisedadead commented on #16445
I think, this is is an incorrect argument (feel free to prove me wrong if you have stats).

If you check the Airbnb JS style guide, JS Standard etc. they, have helper write standard code and are being used by thousands of companies, and devs everyday.

[2018-01-08 19:00] vkWeb commented on #16445
@raisedadead We're not hiding away from problems...! We can use linters but the same task can be done with a single key binding with Prettier so why we're trying to take a long run on it?

[2018-01-08 19:02] vkWeb commented on #16445
I strongly agree with you on this! Their JS style guides are really very helpful.

[2018-01-08 19:08] raisedadead commented on #16445
Because, we want to write standard code? Contributors are free to use any tools they like, but that does not dictate we do not need of a guide.

[2018-01-08 19:12] raisedadead commented on #16445
Anyways, lets keep this thread for constructive feedback on the guide, we can always have discussions in the chat instead.

@tomasvn RFC looks interesting, and since you are interested in the feedback, do you think it will be possible for you to look up some, established style guides and tooling that we can take inspiration from.

[2018-01-08 19:12] vkWeb commented on #16445
I'm with you on this too.  Okay, let's go with a style guide and we can use [stylelint](https://stylelint.io) as our linter.

[2018-01-08 19:21] tomasvn commented on #16445
@raisedadead stylelint seems fine 👍

[2018-01-08 20:20] Em-Ant commented on #16439
The wrapper project is on my glitch account, and at the moment it is using my api key. I'll make camperbot's account a collaborator of the project in glitch, so freecodecamp will own the project.

Is changing `/kraken` to `/helix` the only change required ? If so I will edit my project in the next days.

[2018-01-08 21:10] ooade commented on #16424
That's an issue on [this line](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/01-responsive-web-design/applied-accessibility.json#L972). A direct comparison should fix that... Probably
[code]

[2018-01-08 21:26] ooade commented on #16423
Possible fix for this too
[code]

[2018-01-08 21:47] DGC75 opened #16446 "Applied Visual Design: Create Visual Balance Using the text-align Property. Missing crucial infos"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-visual-design/create-visual-balance-using-the-textalign-property

#### Issue Description

On the challenge linked above you have to center the h4 tag with the text-align property set to “center”, but the FCC doesn’t explicitly say what are the possible values.
#### Browser Information

* Browser Name, Version:
Firefox Develop

[2018-01-08 21:51] ooade commented on #16422
An added issue. Still passes even when the fieldset is not wrapped around the radio buttons

[2018-01-08 22:48] huyenltnguyen commented on #16319
Hi @raisedadead, thanks so much for the reply, it does help me in debugging and understanding the codebase a bit more.
I have some updates and would really appreciate your input and your help.

So this is my to-do list:
- [x] Import the `dracula` style into [challenges.less](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/app/routes/Challenges/challenges.less).
- [ ] Add logic to

[2018-01-09 02:30] adityajoshi commented on #16344
Hello @systimotic ! I would like to take this if it's ok.

[2018-01-09 03:11] tbushman commented on #16436
@raisedadead thanks. It's only the Bar Chart Codepen project, so it won't affect this repo ... sorry to bother. It looks like a problem with the chart margins.

[2018-01-09 03:23] yoizfefisch commented on #15946
@raisedadead @darthgera123 If the goal is teaching best practice, then you need to explain that the `label` element's `for` value has to match the `input` element's `id` value as explained in [the linked Mozilla documentation page](https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/How_to_structure_an_HTML_form#The_%3Clabel%3E_element).

In addition:
1. This advice applies not only to click

[2018-01-09 04:02] raisedadead commented on #15946
Hi @yoizfefisch thanks for the feedback, please feel free to make a PR if you would be interested or create a separate issue for us to add these recomendations.

[2018-01-09 04:11] raisedadead commented on #16344
Hi @adityajoshi sure thing, happy contributing!

[2018-01-09 04:12] raisedadead commented on #16436
Awesome... thanks for the update. So we can close this then?

[2018-01-09 06:09] scissorsneedfoodtoo commented on #16379
@rahsheen, thank you! I'll get started on it soon.

[2018-01-09 06:42] RaphaelAddile commented on #16439
@Em-Ant The root URL of the API changing isn't the only difference. I'm still new, so someone more experienced should probably have a look at the [new API](https://dev.twitch.tv/docs/api/reference). But I think for the `/users/` and `/streams/` routes there should be nearly no changes necessary. The `/channels/` route on the other hand is completely gone in the new API. But you can get the interes

[2018-01-09 08:02] vbelolapotkov commented on #16248
@BerkeleyTrue I've made some changes [here](https://github.com/vbelolapotkov/freeCodeCamp/commit/e21ee6ced2657d30ce433304d57321d80c13e307) but I'm not very happy with them so not creating a PR.

Here is a list of concerns:
1. Only order numbers from challenge (superOrder, order) can be used for expanding map, as challenge keeps superBlock title and not a dashed name. Possible fix here is to add su

[2018-01-09 08:09] Facundo-Corradini opened #16448 "[BETA] Applied Visual Design gives a bad idea of semantics"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/applied-visual-design/use-the-em-tag-to-italicize-text

#### Issue Description
It seems the sections about "text styling" are giving a totally wrong idea of semantics. Titles like "Use the em Tag to Italicize Text"  really gives a really bad idea of using semantic tags for presentation purposes.

\<em> tag is for emphasis, the fact th

[2018-01-09 08:52] vkWeb commented on #16448
@Facundo-Corradini You're right - thanks for reporting this. Will you be comfortable fixing this? If yes then please head over to our [Contributing guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md). You can rename the title to `Applied Visual Design: Use the em Tag to Emphasize Text`.

[2018-01-09 08:55] systimotic commented on #16406
These test use `tape`, which has a lot of options for formatters: https://www.npmjs.com/package/tape#pretty-reporters

We're currently using `tap-spec`, but I agree that it is too verbose for the amount of tests we have. `tap-dot` from the same author seems like a better fit:

With a failing test:
![tap-dot with failing test](https://user-images.githubusercontent.com/7262039/34711427-aa0e91b2-f51f

[2018-01-09 08:56] Facundo-Corradini commented on #16448
I will.

[2018-01-09 08:56] vkWeb commented on #16446
@DGC75 Yes - Should we explain all the basic values i.e left, right, center & justify? What changes would you like to see?

[2018-01-09 09:26] systimotic commented on #16440
That's really weird, I've never seen this before. @QuincyLarson Any ideas?

[2018-01-09 11:21] raisedadead commented on #16406
Hi @systimotic thanks for the investigation and the PR.

Also, thanks to your link I did some investigation.

IMHO, since your PR is aiming at a quick patch to resolve the issue, before we are able to switch to a more customization compatible library.

I think we could:

- Use https://github.com/namuol/tap-difflet as a reporter in pessimistic mode
[code]
  Which gave me a very friendly output of w

[2018-01-09 13:31] DGC75 commented on #16446
I think it would be beneficial for everyone to know what are the possible values (you've mentioned them) and what they do to the text. (Actually FCC explains only the justify value)
Thanks for the response!

[2018-01-09 14:18] BerkeleyTrue commented on #16248
Thanks for the attempt.

1. You could instead use the challenge name itself to find the panel to open and then recur open. This is how the map was designed. No need for additional information.
2. Solution here is to expand when the map is fetched. No need to change how SSR works. That's the beauty of redux, timing is everything and nothing.
3. That should be handled using name/id/hash browser scro

[2018-01-09 14:18] vkWeb commented on #16446
@raisedadead, @systimotic, Your suggestion on this?

[2018-01-09 14:53] kgalang opened #16450 "[Beta] Possibly unfit test case in regular expression challenge"
#### Challenge Name
Regular Expressions: Specify Upper and Lower Number of Matches

https://beta.freecodecamp.org/en/challenges/regular-expressions/specify-upper-and-lower-number-of-matches

#### Issue Description

From the instructions and previous lessons, the challenge is asking us to create the regex, "/oh{3,6}/i". This matches all tests except for the final one. The final test of this challen

[2018-01-09 15:01] raisedadead commented on #16319
I'll have to get back to you on this after taking a deeper look at the implementation, @BerkeleyTrue or @Bouncey are the best persons to seek guidance though.

The need for storing the theme on UserObject was to be able to sync it as a preference across  sessions.

That said, it should not have to be too complicated. Bear with us while we get back to you.

Agreed with your suggestion, but its wort

[2018-01-09 15:10] kgalang commented on #16344
Hi @adityajoshi! Do you still plan on working on this issue? If not, I'd love to work on it!
@systimotic @raisedadead Do we need to be assigned the issue before we begin working on it?

Thanks!

[2018-01-09 15:59] manuhdez commented on #16448
I would love to help with this issue if needed

[2018-01-09 16:25] vkWeb commented on #16448
@manuhdez That's great. Please head over to our [Contributing guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md).
@raisedadead, @systimotic Should we implement this?

[2018-01-09 17:28] accimeesterlin commented on #16384
It works for me. Consider doing ```git pull --rebase upstream staging``` to get the most recent changes.

[2018-01-09 17:35] Em-Ant commented on #16439
At the moment my proxy passes everything that in the url  comes after `[project-url]/twitch-api` to `https://api.twitch.tv/kraken`. It will not work as is with the new api.

I'll update it so that if you hit the url `[glitch-url]/twitch-api` or `[project-url]/kraken` it use the old api, if we hit `[project-url]/helix` it uses the new api. What do you think ?

[2018-01-09 17:54] mstellaluna commented on #16439
@erictleung Sorry for the delayed answer. Yes, I'm suggesting something new :)

[2018-01-09 19:14] raisedadead commented on #16344
Unless there is an open PR, any issue tagged as such is open for contributions.

[2018-01-09 19:31] erictleung commented on #16439
@Em-Ant

That appears to be a reasonable update. I haven't really looked into the new API much so we'd have to test it out. But for now, that seems like a sensible update.

@mstellaluna awesome, just checking :) If we end up not replacing it with your Google Maps API contact page, that might be a nice addition to the projects to work on.

[2018-01-09 19:33] erictleung commented on #16450
@kgalang I believe I designed these challenge and I think I intended for the regex to be written with the addition of "no" in it so if you add that in, then it should work. Thus, the challenge should be sufficient as is. Let me know if that makes sense.

[2018-01-09 19:37] QuincyLarson commented on #12431
@raisedadead Thanks for pointing this out. We will wait for CodeMirror to do their accessibility update, then evaluate the process of monkey patching from there.

[2018-01-09 19:40] QuincyLarson commented on #16439
@Em-Ant That sounds good to me. Please let us know once you've made the change and verified that it still works!

[2018-01-09 20:24] QuincyLarson commented on #16440
@systimotic This is the first time I've ever seen this.

@antofon I was able to fix it by deleting a duplicate record in the database.

[2018-01-09 20:24] #16440 closed

[2018-01-09 20:28] QuincyLarson commented on #16390
@saurishkar Awesome - thanks for keeping us posted. Adding to our roadmap! We will roll this out once it's ready, but we won't plan for it to be a part of the beta release (we've essentially done a feature freeze until we've shipped beta).

[2018-01-09 20:36] QuincyLarson commented on #16388
@iabrenne Thanks for your extreme patience. I forgot to respond to you here. It looks like you're making steady progress on this, and that Berkeley is helping you QA your pull request. Please let me know if I can still be of any help :)

[2018-01-09 20:43] QuincyLarson commented on #16382
@AustinTice That looks solid!

@BerkeleyTrue Do you know how we could show this quote component when all panes are closed? Where would we put such a component?

[2018-01-09 21:11] christianbender commented on #16446
@vkWeb @all
I want like fix this problem. Where can I found the text of the section called "Applied Visual Design: Create Visual Balance Using the text-align Property" ?
I wanted add a detailed describition of the text-align property.

[2018-01-09 21:16] BerkeleyTrue commented on #16382
The logic would go in panes.jsx. This is where panes are rendered.

[2018-01-09 21:19] BerkeleyTrue commented on #16319
@huyenltnguyen You'll need to grab the themeSelector in app/redux and add it to mapStateToProps. Then pass this through to the editors.

[2018-01-09 21:23] QuincyLarson opened #16452 "Make freeCodeCamp Logo look better on small viewport"
Currently when the viewport is narrow on beta.freecodecamp.org, the freeCodeCamp logo will be replaced with just our "bonfire function call" symbol. This symbol looks larger than it should be, and it needs to be vertically centered.

![applied_accessibility__improve_chart_accessibility_with_the_figure_element___freecodecamp](https://user-images.githubusercontent.com/985197/34743826-c8913136-f550-1

[2018-01-09 21:37] BerkeleyTrue commented on #16407
@no-stack-dub-sack it seems like the prevailing winds are towards keeping the state of the panes between challenges.

@Bouncey 's initial change was a compromise as it tightly couples state of panes to the content of those panes.

I propose we remove the logic added to keep the map pane open and instead add logic to keep the panes open state between paneMap transitions.

This logic can be added wh

[2018-01-09 21:43] QuincyLarson opened #16453 "Lesson pane should always be called "Lesson" in navigation"
On Step challenges, it should be changed from "Step" to "Lesson":

![basic_html_and_html5__learn_how_freecodecamp_works___freecodecamp](https://user-images.githubusercontent.com/985197/34743964-3f713f08-f551-11e7-9d48-b232a570de4b.png)

On System Design Question challenges, it should be changed from "Main" to "Lesson":

![system_design_and_concept_questions__array_prototype_map___freecodecamp](htt

[2018-01-09 21:47] QuincyLarson opened #16454 "Change "N/A" to blank in map time estimates"
Instead of showing "N/A" in the map for the interview prep and open source for good sections, we just shouldn't show a time estimate - it should be blank.

![project_euler_problems__problem_7__10001st_prime___freecodecamp](https://user-images.githubusercontent.com/985197/34744886-4fa2b28c-f554-11e7-974b-02d3d5312db5.png)

[2018-01-09 21:48] mpiereder opened #16455 "Closing semi-colon in "do...while" loops"
#### Challenge Name
Smallest Common Multiple
https://www.freecodecamp.org/challenges/smallest-common-multiple

#### Issue Description
Placing a closing semi-colon on a `do...while` loop returns a syntax error.

#### Browser Information
* Browser Name, Version: Chrome 63
* Operating System: Windows 10
* Mobile, Desktop, or Tablet:  Desktop

#### Your Code
[code]
#### Screenshot

![syntax_error](htt

[2018-01-09 21:51] QuincyLarson opened #16456 "Fix typo in name of project section"
![project_euler_problems__problem_7__10001st_prime___freecodecamp](https://user-images.githubusercontent.com/985197/34744938-8c2b5b82-f554-11e7-8e78-08759b300f7c.png)

[2018-01-09 22:17] #16455 closed

[2018-01-09 22:25] kgalang commented on #16450
@erictleung that makes sense. Thanks for the quick follow up!

[2018-01-09 22:25] #16450 closed

[2018-01-09 22:32] #16456 closed

[2018-01-10 00:53] antofon commented on #16440
Great, thank you @QuincyLarson. This screenshot confirms the fix:

![freecodecamp_fixed_profile](https://user-images.githubusercontent.com/10703498/34750703-692e6bf2-f55d-11e7-8b12-6a03130c74c3.PNG)

[2018-01-10 01:59] yoizfefisch opened #16458 "Basic HTML and HTML5, input elements - incomplete description of the "for" attribute"
#### Challenge Name

[Basic HTML and HTML5: Create a Text Field](https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/create-a-text-field)
[Basic HTML and HTML5: Create a Set of Radio Buttons](https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/create-a-set-of-radio-buttons)
[Basic HTML and HTML5: Create a Set of Checkboxes](https://beta.freecodecamp.org/en/challenges/basi

[2018-01-10 03:18] no-stack-dub-sack commented on #16407
@BerkeleyTrue Ok, that makes sense. Thanks for pointing me in the right direction. I'm on it.

[2018-01-10 03:54] iabrenne commented on #16388
Thank you, @QuincyLarson - I will definitely let you know if I have questions or need help  :)

[2018-01-10 03:59] adityajoshi commented on #16344
Hello @systimotic , @raisedadead
I did change for the first issue as mentioned above.
Need guidance for the second issue. Test fails for it.

[2018-01-10 05:12] saurishkar commented on #16344
@adityajoshi The PR merged is not on the parent FCC staging but on your local forked copy, or else merging would have changed the code in the FCC staging (I cross-checked it and it's not).

@raisedadead  We might need to add one more instruction to **Contributing.md** to **NOT** change the head repo to local forked copy instead of the parent FCC repo, as this might confuse first timers that they m

[2018-01-10 07:06] vbelolapotkov commented on #16248
@BerkeleyTrue thanks for the feedback.

1. Great idea, thanks. Will try it.
2. Ok.
3. Ok.

Sorry, but I pretty sure I don't completely understand the concept of meta and how to use it properly. Is there any article/doc about it or could you get some directions (FYI, I've already tried to check berkeley-redux-utils docs on that topic)?

[2018-01-10 07:10] warborn commented on #16453
I can work on this issue :)

[2018-01-10 08:27] #16426 closed

[2018-01-10 08:34] AustinTice commented on #16452
Quincy, I have this code ready. Will be opening a PR soon!

[2018-01-10 09:05] vkWeb commented on #16453
@QuincyLarson Shouldn't we do same with React & Redux challenges. "Side Panel" & "index" should be renamed to "Lesson" & "Editor" respectively.
![2018-01-10](https://user-images.githubusercontent.com/26724128/34763562-a7d21d90-f611-11e7-8ae4-052f24cb76f8.png)

### Also, I've few issues in my mind:
- The recent PR by @BerkeleyTrue made the map blazingly fast! but it takes few seconds in the initial

[2018-01-10 09:10] vkWeb commented on #16454
@QuincyLarson I'll like to implement this change. My local development is down right now 😞.
It's showing that some node modules are missing, I've already reinstalled it several times. I'll do recloning of my fork and will fix it soon. So, I'll submit a PR within few days. (If it's urgent then someone else should take this.)

[2018-01-10 15:38] Bahodir94 opened #16461 "How to Install???"
Hello, I want to install FreeCodeCamp. But I don't know How to install.
Please help me to install FreeCodeCamp to my Server.
My server is Ubuntu 16,04

[2018-01-10 15:43] christianbender opened #16462 "I search the content for #16446"
I want fix the issue #16446 . But where can I found the content in this repo?
It is for [this site](https://beta.freecodecamp.org/en/challenges/applied-visual-design/create-visual-balance-using-the-textalign-property)

Where can I found the following content?

[2018-01-10 16:43] DGC75 commented on #16446
freeCodeCamp/seed/challenges/01-responsive-web-design/applied-visual-design.json

[2018-01-10 17:02] raisedadead commented on #16462
Hi please continue on the issue thread instead of creating a fresh issue. We are in process of updating or docs, but most of the guidelines are already outlined in [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md)

[2018-01-10 17:02] #16462 closed

[2018-01-10 17:05] raisedadead commented on #16461
Thanks for reporting this issue.

Here are some next steps that you should follow before we can help you with your query:
- Check [these troubleshooting steps](https://forum.freecodecamp.com/t/how-to-report-a-bug/19543) first.
- Please use the [Chat Rooms](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390) or try looking through our [forum](http://forum.freecodecamp.com) fo

[2018-01-10 17:05] #16461 closed

[2018-01-10 17:14] raisedadead commented on #16458
@yoizfefisch

Thanks for taking the time to look into this and identifying the challenges, do you have some opinion on what should be a good fix/update?

IMHO, the goal is teaching the concepts first, and recommending best practices, where possible.
Basically the idea is to be succinct and not overwhelming the users, with a overload of information.

We can always, refer to more informative and acc

[2018-01-10 17:26] raisedadead commented on #16448
Hi @Facundo-Corradini thanks for raising the concern and taking the time to review the challenge.

Can you please help us with some suggested changes that should be done to the verbiage that helps clarify the importance of this difference?

I agree, the current verbiage may put up incorrect concept into learning.

[2018-01-10 17:33] davinderpalrehal commented on #16458
Just a thought... What if you added extra points following best practices? something like adding optional test cases or something. Just thinking out loud here

[2018-01-10 17:39] raisedadead commented on #16458
Hi @davinderpalrehal

That is super brilliant thought, kudos for thinking out loud! 🎉 👏

Do you mind creating a fresh issue for this, this is simple to implement, I think. But, will have to be deferred until after beta goes out.

Thanks again for the suggestion.

/cc @QuincyLarson

[2018-01-10 17:42] davinderpalrehal commented on #16458
@raisedadead this is gonna be my first time contributing 😃 . Any suggestions for the name of the issue?

[2018-01-10 17:54] raisedadead commented on #16458
How about something on the lines of :

Do, remember to add the details, and maybe a link to this issue should be helpful.

[2018-01-10 18:16] davinderpalrehal opened #16463 "Teaching best-practices by awarding bonus brownie points for optional tests."
#16458
Followup on the issue.

Campers will be encouraged to research on best practices that pertain to certain tags in HTML and other languages. For example adding the "for" attribute to labels, checkboxes and other elements. Following best practices would award the campers brownie points which could be added to their public profile.

[2018-01-10 18:18] Facundo-Corradini commented on #16448
Sure thing. Let me work on a proposal, then I'll upload it and if you agree I can work in the changes.

It's not so simple, as the section is actually dealing with Visual Design, not semantics. So maybe we should just call the section "italicize text" and explain the use case for each tag

[2018-01-10 18:38] raisedadead commented on #16463
/cc @freeCodeCamp/moderators

I think this is a cool idea, this way we can recommend best-practices and at the same time, keep some optional tests which may be done for the incentive of more points.

Thoughts?

[2018-01-10 18:44] krisb1220 commented on #16463
I like this!!! Seems a bit heavy though :P Contributors?  :P

[2018-01-10 18:52] #16452 closed

[2018-01-10 18:54] raisedadead commented on #16463
Yes, even if this approved, we can take this only after beta is shipped.

[2018-01-10 18:55] LukeB2016 commented on #16438
how do we get our progress back i also had signed up using github but can't log back into my profile using github now this is stressful i was on the javascript track how can we fix this ??!?!

[2018-01-10 19:00] christianbender commented on #16446
@DGC75  thanks for response

[2018-01-10 19:11] christianbender commented on #16446
@DGC75  @all
How can I test my changes? I cloned the repository and download it on my own machine.

[2018-01-10 19:20] raisedadead commented on #16446
@christianbender

You should follow the instructions in [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md)

If you face issues, is setup we are happy to help in our [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors)

Happy contributing!

[2018-01-10 19:37] raisedadead commented on #16438
Hi @LukeB2016

Please do not panic. I can see your profile is safe, https://www.freecodecamp.org/LukeB2016
Since you joined Dec 30' 2017. You should have signed up using an email, and then linked your profile to GitHub.

You should use the same email on the sign in page, and the password which you created.

In case you have forgotten the password, please use the forget password option on the email

[2018-01-10 23:15] #16395 closed

[2018-01-11 00:36] erictleung commented on #16463
I second this feature if it could be implemented! This should address any opinionated styling and best practices discussions that our curriculum may have :+1: But I also really like this feature conceptually to reward those to do more, especially when they are best practices :smile:

This feature will likely be on the back burner for a while as @raisedadead mentioned because of beta. For long-term

[2018-01-11 02:46] TheBGar commented on #16335
Is this issue for the beta version still needing a fix?

[2018-01-11 02:47] adityajoshi commented on #16344
@saurishkar understood.
Still I am facing difficulty for the second change. Did change as per suggested above. ( ie. made 4 and 2 from 6 and 4 )
I am guessing I have to make "solutions" tag empty as per prior code.
Please correct me if I am wrong.

[2018-01-11 04:31] davinderpalrehal commented on #16463
I would like to work on this whenever it is taken off the backburner. I will need help with determining the best practices just like @erictleung mentioned.

[2018-01-11 06:12] raisedadead commented on #16344
@saurishkar yes, please.

@adityajoshi if you are adding updating tests that break the currently provided solution in challenge, you should also change the solution to pass the tests.

[2018-01-11 06:15] raisedadead commented on #16344
For fixing the head if accidental commits are made to the `staging` branch of ones own fork via pull-request, etc.:

On your local machine
[code]

[2018-01-11 06:35] d-hamon commented on #16304
Sorry but the issue is still no fixed

Not accepted :

`// Add your code below this line
function incrementer (val) {
  return val+1;
  // Add your code above this line
}`

[2018-01-11 07:01] chethanbhat opened #16468 "Facing Issue related to completing challenges. Getting something went wrong error."
#### Issue Description

Not able to go to next challenge or visit challenges in map.

Map is totally unresponsive. Cannot visit any links.   Cannot complete and go to next challengesas well by pressing Ctrl-Enter or Clicking Modal.

I get **Something went wrong** error everytime. Attached screenshots for better understanding.

#### Browser Information

* Browser Name, Version: Firefox - 58.0b7 (64

[2018-01-11 10:35] capozzic1 opened #16469 "High latency when accessing beta.freecodecamp.org"
#### Challenge Name

#### Issue Description

I am located in Daegu, South Korea, and have been trying to attempt the interview data structure questions, but I have high latency on a 50mbps download connection. When I use a VPN, I still have high latency. Sometimes the page just times out. I'm not sure how I could show this to you guys. Is there a way you could check your hosting to see if non-US c

[2018-01-11 10:38] huyenltnguyen commented on #16319
@raisedadead & @BerkeleyTrue Thanks for the direction. I'll take a look at them.

[2018-01-11 11:07] Asjas commented on #16468
Hi @chethanbhat

I reported the same problem in Issue #16433. I am also "stuck" and cannot move through the map. I also tried to clear my Freecodecamp progress but it seems even that fails with a `Something went wrong, please try again later`.

[2018-01-11 11:14] blaisck opened #16470 "Passing to next step without error"
#### Challenge Name

https://www.freecodecamp.org/challenges/target-html-elements-with-selectors-using-jquery

#### Issue Description

I placed the `$("button").addClass("animated bounce");` outside `$(document).ready(function() {});` and then I __Ctrl+Enter__ it, and its not considered wrong.

#### Browser Information

* Browser Name, Version:  Google Chrome, 63.0.3239.132 (Official Build) (64-bi