[2018-07-29 16:53] mohandast52 commented on #14500
[code]

[2018-07-29 19:10] dhanush13-c commented on #17944
i am also having same issue

[2018-07-29 19:55] Hzuni commented on #17946
I'd be up for tackling this if no one else is?

[2018-07-29 19:58] Nirajn2311 commented on #17946
@Hzuni I am already working on it.

[2018-07-29 20:22] tj3407 commented on #15662
white space around '$j' in '.text-#{ $j }' worked for me .. wouldn't pass it otherwise

[2018-07-29 21:03] revisualize opened #17950 "Error on Basic CSS: Override Class Declarations with Inline Styles"
#### Describe your problem and - if possible - how to reproduce it
When working on Basic CSS: Override Class Declarations with Inline Styles if you use the following code the app window displays a bunch of random code.

Code to reproduce error:

<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  #orange-text {
    color: orange;
  }
  .pink-text {

[2018-07-29 21:06] revisualize commented on #17950
It's also doing the same thing on:

Basic CSS: Override All Other Styles by using Important
https://learn.freecodecamp.org/responsive-web-design/basic-css/override-all-other-styles-by-using-important

I changed this line:
<h1 id="orange-text" class="pink-text blue-text" style="color: white">Hello World!</h1>

To:
<h1 id="orange-text" class="pink-text blue-text" style=">Hello World!</h1>

And it di

[2018-07-29 21:20] Marzdor commented on #17947
Ya go for it. I was going to do it but, i couldn't find them.

[2018-07-29 21:31] Doministic commented on #17944
I am also having the same issue. It made me feel better to see I wasn't going crazy with this simple task.

[2018-07-29 21:48] philheb commented on #17944
Same issue in Chrome

[2018-07-29 21:54] revisualize opened #17951 "Error on: Applied Visual Design: Create a Horizontal Line Using the hr Element"
#### Describe your problem and - if possible - how to reproduce it
When working on Applied Visual Design: Create a Horizontal Line Using the hr Element
I reset the lesson and added an `<hr>` tag to line 31 and tried to complete the lesson and it doesn't complete.

Example code:
[code]

Also changing the text to:
[code]

Doesn't complete either.

#### Add a Link to the page with the problem
https:/

[2018-07-29 22:32] avidDIY commented on #17944
Same here, tried it a bizillion times, good to see I'm not the only one.

[2018-07-29 23:09] migben commented on #17915
Given the style of our website and story, we should place 'About' back in the nav bar. @ojongerius + @QuincyLarson ?

[2018-07-29 23:30] Maram-RBK commented on #14500
Delete the type of style; I try it and it works!

[2018-07-29 23:34] ojongerius commented on #17915
I think in the long term a footer would be beneficial. For now adding an `about` link to the nav bar sounds like a pragmatic solution to me 👍

[2018-07-30 00:18] lacivert opened #17952 "Seed Readme file links do not work"
#### Describe your problem and - if possible - how to reproduce it
I see this text on Contributing page:

But the links do not work (and I don't know where they are)

#### Add a Link to the page with the problem
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version:  67
* Operating S

[2018-07-30 01:16] asheavenist commented on #17944
Try to switch you <p><em> tag like this.. This work for me..

![fix solution](https://user-images.githubusercontent.com/36536058/43372953-878b6872-93d0-11e8-9b42-246145e359b3.JPG)

Hope it helps, for someone who want to pass this test..

[2018-07-30 01:55] kc-taylor commented on #17944
@asheavenist That solution worked for me! Thanks!

[2018-07-30 02:48] joncartee commented on #17944
@asheavenist That solution worked for me as well, which is funny since I threw the emphasis tag around the paragraph in Use the em Tag to Italicize Text and it made me move them inside <p>. Thanks

[2018-07-30 04:36] nhankiat commented on #17944
@asheavenist  thanks its work for me :+1:

[2018-07-30 04:45] #17934 closed

[2018-07-30 07:02] jocharles57 commented on #17950
It shows the code if you leave off the last quote mark in the h1 class attribute, too. Like so:

`<h1 id="orange-text" class="pink-text blue-text>Hello World!</h1>`

Note that I've not closed the `class="pink-text blue-text` string.

[2018-07-30 07:31] johnkennedy9147 commented on #17951
this is fixed in https://github.com/freeCodeCamp/curriculum/pull/189
the fix wont go live till the next release

[2018-07-30 07:31] #17951 closed

[2018-07-30 09:34] Nirajn2311 commented on #17946
@renojvarghese you didn’t have to close your PR, it’s perfect and anyway I am busy the next two weeks.

[2018-07-30 12:11] linkinmedo commented on #17915
I would be happy to add about to the nav bar, let me know if you want me to do it.

[2018-07-30 13:11] ravikishorethella commented on #17753
https://github.com/freeCodeCamp/curriculum/pull/200

[2018-07-30 13:20] alex-mos commented on #16358
It works! I try the same solution with map every week and now it has passed! Hooray!

[2018-07-30 13:45] adarshnanwani commented on #17944
@asheavenist Awesome. It works.

[2018-07-30 13:47] Theloudneon commented on #17944
<em> and <p> switch worked!

[2018-07-30 14:10] #17867 closed

[2018-07-30 14:14] Myrmidonut commented on #17946
Good work guys! :-D

[2018-07-30 15:19] yohanisgobai commented on #17944
@asheavenist thanks for bringing the solution, while i still have motivation to learn fcc

[2018-07-30 15:31] Deepak8717 opened #17953 "Internal link redirect to external link"
Hi

Basic HTML and HTML5: Link to Internal Sections of a Page with Anchor Elements.

Everything looks fine and test is successfully passed with following code but when i click the internal link it redirects me to external link. I did a little research and someone else has discussed the same issue.
here is the link [https://forum.freecodecamp.org/t/link-to-internal-sections-of-a-page-with-anchor-el

[2018-07-30 15:38] Deepak8717 commented on #17953
Links on this page are not working, kindly copy the above link and paste it in the browsers.

[2018-07-30 15:59] moT01 commented on #17424
@michaelbecker nice digging - I wonder if it's a naming conflict, it's the only legacy cert with the same name as a new one

[2018-07-30 16:19] jasjitsm commented on #16358
Worked for me too! :) Wasn't working yesterday.

[2018-07-30 16:20] xnt commented on #15739
@OMahonyD I wanna look into this when I have a chance, but if you feel compelled to it, feel free to merge the branch mentioned above. Should at the very least be a good starting point.

[2018-07-30 16:47] alexanderc12 commented on #16358
Confirmed now works with

[code]

Thanks for the fix.

[2018-07-30 18:03] chaitanyaashtekar commented on #17382
@nathanhannig  @ktajpuri  I did the steps as you asked.the server crashes.think you could help me ?
server crashes after I put in my usrname and password in the auth0 window
![err](https://user-images.githubusercontent.com/3967029/43413866-d4fa2b74-944e-11e8-81b4-78e8f13de224.png)

[2018-07-30 18:25] emmanuel180 commented on #4956
i have similar issues ...... degrading to monospace from lobster

[2018-07-30 18:26] Nirajn2311 commented on #17382
@chaitanyaashtekar try restarting it by typing ‘rs’ when nodemon app crashes error comes

[2018-07-30 20:56] QuincyLarson commented on #7122
@zeac084 If you're having issues signing in please contact mrugesh@freecodecamp.org and tell him what's going on - preferably with a screenshot. He should be able to help :)

[2018-07-30 21:04] YetiJr commented on #17338
<img width="1440" alt="screen shot 2018-07-30 at 4 53 56 pm" src="https://user-images.githubusercontent.com/25313240/43423451-78dbb9c2-941a-11e8-9017-9390e199d00a.png">
<img width="1440" alt="screen shot 2018-07-30 at 4 59 16 pm" src="https://user-images.githubusercontent.com/25313240/43423452-78f4c2a0-941a-11e8-8a52-fd05d2a51b87.png">

Also having the same issue. I read not to use Safari, but I'v

[2018-07-30 21:21] m-henderson opened #17954 "Readme link redirects to 404"
#### Describe your problem and - if possible - how to reproduce it

Link in the readme does not link to a valid url.
![image](https://user-images.githubusercontent.com/16070192/43424289-8833b2e0-9414-11e8-836d-01abc8fb27ab.png)

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If possibl

[2018-07-30 21:42] QuincyLarson commented on #15739
@OMahonyD Thanks for your kind offer. Yes - we would welcome your help with this! Would you be interested in tackling this issue? If so, we can assign it to you.

[2018-07-30 21:43] ojongerius commented on #17915
Would someone be willing to create a small PR with the about link in the nav bar?

@QuincyLarson would you be happy with that? In the meanwhile a footer could be discussed in a separate issue.

[2018-07-30 21:50] QuincyLarson commented on #17915
We don't want a footer or any nav links that distract from the core functionality (the curriculum and the forum).

Instead we want to integrate things into both the Settings page and the Welcome page.

Soon we will have important stories / videos / podcast episodes from the community on the welcome page, as well as upcoming events based (based on the user's geolocation).

As for the other pages (a

[2018-07-30 21:50] #17915 closed

[2018-07-30 21:52] QuincyLarson commented on #17258
These user stories all look good. Thanks for doing this!

Note that these are certifications - not certificates. The distinction is that certifications have an evaluation criteria (in freeCodeCamp's case, required projects.)

[2018-07-30 22:05] bladecla commented on #13530
Been banging my head on this one for about an hour now. Seemingly solved, but my understanding of the .test method is that "42 42 42 42" contains "42 42 42" and will always return true without further specification. I think I can only test for _at least_ three repetitions in the context of the challenge. All of my attempts to restrict to only three numbers or only two whitespaces causes other test

[2018-07-30 22:09] ojongerius commented on #17915
I disagree.

I understand linking in the top is a little distracting. However, I think from a user experience perspective, having a small footer all the way down, which allows users to find things like "about" and "contact" in the page without distracting from the contents is better. It is *way* below the fold.

[2018-07-30 22:38] QuincyLarson commented on #17915
@ojongerius Thanks for your feedback. My experience has been that footers are ugly and don't get used that much.

Also the SEO value of footers [now seems to be negligible](https://moz.com/blog/links-headers-footers-navigation-impact-seo).

When you have a 3-column layout like we do with independently scrolling columns, where would we put a footer, and in what situations would it be visible?

Rath

[2018-07-30 22:46] QuincyLarson commented on #17869
@utsab Yes - I think this would make the progress easier to understand, and being able to collapse it like we can with the curriculum would be great!

The main pitfall to this approach is early on a lot of people misunderstand that the majority of the time will be spent on building projects.

I often hear people say something like "I just finished 200 challenges on freeCodeCamp. At this rate I'm g

[2018-07-30 23:51] QuincyLarson opened #17955 "Improve the "ask for help" forum post autopopulation functionality"
Currently when clicking the "ask for help" button on certain challenges, it doesn't always autopopulate the best category.

- [ ] For the React, Redux, and React & Redux challenges, posts gets marked as “Help” instead of “JavaScript”.
- [ ] The jQuery section challenges get marked as “HTML/CSS” but should be "JavaScript"
- [ ] JSON and Ajax challenges should be “JavaScript” instead of "HTML/CSS"
-

[2018-07-30 23:54] QuincyLarson commented on #17131
@Em-Ant Thanks for fixing the timestamp microservice challenge. Have you had a chance to look at the other ones?

[2018-07-30 23:56] QuincyLarson commented on #16390
@saurishkar Thanks for your kind words. Yes - we're just getting started. We want to cover a ton of other web development fundamentals like SQL and Bash as well. But this Git curriculum is a logical place to start. We would welcome your help with it.

[2018-07-31 00:01] QuincyLarson commented on #14234
@Flarp Thanks for your extreme patience with my slow response. I'm glad we've managed to fix some of the issues that were impeding your progress. Looking at your latest commit it's hard for me to untangle exactly which challenges you've created. When we deploy and QA these we may want to just create a single PR that adds the new challenges to their corresponding JSON files.

How many new challenge

[2018-07-31 00:03] QuincyLarson commented on #17307
@johnkennedy9147 Are you still interested in helping tackle this issue? I think we could add both a "home" button (which would take them to the "welcome page" to the navigation, and a "settings" link to the left of their photo (both the photo and the "settings" link would redirect them to /settings).

[2018-07-31 01:18] avidDIY commented on #17944
Thank you very much!  It worked, and now I can sleep.

On Sun, Jul 29, 2018 at 9:19 PM, asheavenist <notifications@github.com>
wrote:

[2018-07-31 02:06] adonis8441 commented on #17944
Did not work for me. My em and p were in the correct order, to begin with.

[2018-07-31 03:56] chaitanyaashtekar commented on #17382
@Nirajn2311  tried it as many times as read in other pages 'rs', the server still crashes

[2018-07-31 04:30] QuincyLarson commented on #17284
Note that as @nathanhannig pointed out, these are not hard-coded (they should be). We're going to have to tackle this once we update the way /settings is built.

[2018-07-31 04:37] QuincyLarson commented on #17750
@PhoeniXAbhisheK Thanks for your patience! I just saw these. Wow - thank you for creating such a wide range of designs!

@haydmills what do you think of these designs?

Legibility is a high priority since people need to be able to glance at these and reliably read the name. 4, 5, 9, and 11 have pretty good contrast.

I'm partial to 11 myself, since it is colorful and festive, and has good contrast

[2018-07-31 04:42] Nirajn2311 commented on #17915
@QuincyLarson I agree for not including the footer as from the reviews of my own site, many of them didn’t like a footer. Also I had read in a article somewhere that the amount of users who actually scroll down a long website decreases with increase in length.
But I think there should be an About page as it provide an insight as to who the main people are behind this project.

[2018-07-31 04:59] ojongerius commented on #17915
Personally I'm only interested in a footer. That way I can find "contact" or "about" by using my browsers find function. If it would be hidden in a menu, I'd probably revert to using Google instead.

Different strokes for different folks, I guess I'm not a visual person 😺 And certainly not the average visitor.

[2018-07-31 05:06] PhoeniXAbhisheK commented on #17750
Something like this..???
![4](https://user-images.githubusercontent.com/16290904/43438755-74425284-94ad-11e8-82f4-68cd7255a3cd.png)

[2018-07-31 05:15] sdabhi23 commented on #17750
![sample](https://user-images.githubusercontent.com/25759344/43439039-be5755ee-94ae-11e8-9093-4767a8b08e8d.png)

[2018-07-31 05:36] QuincyLarson commented on #17915
@ojongerius Yes - it would be cool if we had a way to surface those links for control+f without cluttering the UI. We've tried a lot of approaches in the past to address this but just haven't been able to find something that both worked and didn't over-complicate the UI. My hope is people will use our built in search bar that now takes up a good chunk of the navbar, but time will tell :)

[2018-07-31 05:38] QuincyLarson commented on #17750
@PhoeniXAbhisheK Wow - that was fast. Yes - something like that.

@sdabhi23 Thanks for creating that. I think the monospace font is cool looking and thematically appropriate, but there's no denying that @PhoeniXAbhisheK's typography looks more aesthetically pleasing.

[2018-07-31 05:41] QuincyLarson commented on #17450
@Bouncey @raisedadead what would be the security considerations for enabling CORS on our forum's API?

It looks like this is a relatively simple fix on Discourse if we decide we want to go forward with it: https://meta.discourse.org/t/correct-cors-enabling-steps/55697

[2018-07-31 05:43] PhoeniXAbhisheK commented on #17750
@QuincyLarson Thanks...
Actually, I was waiting for your comments. So as soon as I got them, I made sure you don't have to wait for the changes and got to work. 😄
Glad you liked it 🙇

[2018-07-31 10:00] Bouncey commented on #17750
I like 9 and 11 looks pretty awesome. I would love to have 8's layout but without the yellow.

I think the function call logo is important.

Thanks @PhoeniXAbhisheK for mocking these up.

@QuincyLarson Could we have different designs for each event? I would love to collect them :laughing:

[2018-07-31 12:38] moT01 commented on #17869
Something to consider adding would be the overall totals as well, like on the main page it says...
[code]
possibly in the area under the profile picture - or maybe at the beginning of the progress area

[2018-07-31 12:40] Flarp commented on #14234
I have been creating challenges locally, just not pushing them. I have three out of the seven challenges complete, there was a lot of setbacks in my real-life, but I think I can get almost everything done this week.

[2018-07-31 13:01] NitronR commented on #17258
OK, I understand.

[2018-07-31 13:08] valvevan commented on #17693
I'm still having problems with this，copy paste the code can not solve my issue.

[2018-07-31 13:10] Lluran commented on #17944
Switching the <em></em> tags to being outside of the <p></p> worked for me too!

[2018-07-31 13:11] Lluran commented on #17944
Switching the 'em' tag to enclose the 'p' tag worked for me too

[2018-07-31 13:46] Freshi commented on #17403
The issue still persists.

[2018-07-31 14:25] zrfrank opened #17956 "D3 Bar Chart Certificate Project User Story 11 TypeError: Cannot read property ‘length’ of null"
The test reports,

[code]

With the pen at, https://codepen.io/frankrui/pen/pZpmGP,

To test it, I’ve offset the y-axis. i.e. 900 in x direction, as shown in screenshoot below, that the tick align perfectly with the bar.

![image](https://user-images.githubusercontent.com/27864196/43465582-3a702f8c-9510-11e8-8b6e-ea6f07f5e87c.png)

[2018-07-31 14:40] Freshi commented on #17665
The code below requires the contents of a file, "capitalize_strings", found in the same directory as it, imported. Add the appropriate` import * `statement to the top of the file, _using the _object provided__.

The last statement saying _using the object provided_ is a bit confusing as none is.

[2018-07-31 16:19] frank-rui commented on #17956
This pen avoided the flip method and used same method as in the tutorials, and failed the test with same error message,

https://codepen.io/frankrui/pen/bjLWxd

[2018-07-31 17:08] alouisa opened #17957 ""Run the test" button not working."
#### Describe your problem and - if possible - how to reproduce it

"Run the test" button not working. The "Reset Code" button does work as well as "Get a hint" and "Ask for help." When I hit "Run the test" nothing happens and I am left with
"/*** Your test output will go here.*/" which never changes. This has happened already on a few of the lesson. I've skipped others in the past for this reason

[2018-07-31 17:09] saneki26 commented on #17944
@asheavenist thanks bro! U r a genious 💃

[2018-07-31 17:12] RandellDawson opened #17958 "Projects with an element having an id="global" causes failure in testing script"
#### Describe your problem and - if possible - how to reproduce it
I discovered this problem when a camper noticed the test menu was not appearing in the camper's Technical Documentation project even though it was properly added. After dissecting the camper's HTML code, I discovered the camper had used an id="global" on one of their div, which seems to be the only thing causing the test script to

[2018-07-31 18:28] frank-rui commented on #17956
Strangely, after rewrite the code by removing all manual paddings, fixed the No.11 error message

Then,  if the yaxis d3.linearScale reverse the range instead of domain, the test passed, i.e.

[code]

But reverse domain will cause No.11 fail with message:

[code]

[2018-07-31 18:52] Nirajn2311 commented on #17952
@lacivert the seed readme has been moved to curriculum repo, which is where all the freeCodeCamp’s challenges will be.

[2018-07-31 19:45] moT01 commented on #17424
I cannot reproduce this on my local version - leads me to think that anyone who would claim the `legacy data vis` certification since the new site went live would not have this problem...
I downloaded all my data from the settings page of the live site - I cannot find the string of the "legacyDataVisId" anywhere in my downloaded data (the string is from https://github.com/freeCodeCamp/freeCodeCamp

[2018-07-31 22:44] mihir-mahakalkar commented on #17584
Hi @P1xt , @anku255
I found a work around for the GitHub instructions.
One can first create a feature branch named **_api**, make the required changes in package.json.
Then navigate to the modified package.json and click on raw format. Copy the url for the raw format.
In my case, it is _https://raw.githubusercontent.com/mihir-mahakalkar/boilerplate-npm/_api/package.json_.
The last step is to delet

[2018-07-31 23:19] #17923 closed

[2018-08-01 00:07] Pastshelfdate opened #17962 "Curriculum: looping back to "Hello Camper ... Go to Curiculum.""
#### Describe your problem and - if possible - how to reproduce it
From this page, "https://www.freecodecamp.org/" I click either "Curriculum" at top near right, or the "Go to the Coding Curriculum" button, and all that happens is I get looped back to the same page,
https://www.freecodecamp.org/
Sometimes, for a matter of seconds, I see what looks like it might be a list of curriculum topics, or a

[2018-08-01 00:57] adonis8441 commented on #17944
I moved the em to before the p tag and all is working now thank you

[2018-08-01 02:40] jgibson02 commented on #17450
[Here's](https://codepen.io/jgibson02/full/BVvbRX/) a demo that I made up using an offline downloaded copy of the JSON. Do you think that fits the bill as far as what you'd like to see for an overall user story?
If so, I can begin writing up some broken down user stories and instructions.

[2018-08-01 02:54] PhoeniXAbhisheK commented on #17750
Hey @Bouncey thanks for the comments...
Here you go... 😸 8's layout without the yellow

![5](https://user-images.githubusercontent.com/16290904/43498370-41767792-9564-11e8-996e-46f403317606.png)

[2018-08-01 04:36] Juneezee commented on #17962
@Pastshelfdate Have you tried going to [`](https://learn.freecodecamp.org/)

[2018-08-01 07:10] baluR220 commented on #17829
It works this way.
`const LOCAL_FORECAST = {
  today: { min: 72, max: 83 },
  tomorrow: { min: 73.3, max: 84.6 }
};

function getMaxOfTmrw(forecast) {
  "use strict";
  // change code below this line
  const { tomorrow : {max : maxOfTomorrow}} = forecast; // change this line
  // change code above this line
  return maxOfTomorrow;
}

console.log(getMaxOfTmrw(LOCAL_FORECAST)); // should be 84.6`

[2018-08-01 08:01] yeugen1 opened #17964 "Display your learning progress in numbers"
#### Describe your problem and - if possible - how to reproduce it
Hello team,

On the main page: https://learn.freecodecamp.org/ we have a topic list with done lessons, but unfortunately we can see a progress in numbers.
I decided to implement a user script (tampermonkey/greasemonkey).

The main behavior of the script is:
1) Minimize all opened lists.
2) Expand all closed lists.
3) Gather data of

[2018-08-01 09:59] puyanwei commented on #17944
Getting it to pass is one thing, but is that really the intention?

Users are going to get stuck here, and it can be very demotivating when it will say it is wrong when it is correct. Maybe can you swap the tags for the default script when starting this challenge?

[2018-08-01 10:03] ValeraS commented on #17957
@alouisa Your code has an error on line 15. 'if' statement is missing.

[2018-08-01 10:58] joeslost commented on #17944
@povilasraciunas I am attempting to solve this issue. I anticipate finding a solution tonight. Atm, I am stumped as to how swapping the em and p tags could pass the test as that does not fit the regex at all. This would be my first pull request and with the changes made recently to the structure of the repos ( moving challenges from /seed to the curriculum repo) without updating the contributing i

[2018-08-01 11:35] Nirajn2311 commented on #17957
@alouisa you can do what @ValeraS posted above or you can remove the condition for the last else as the number will have to be greater than or equal to 20 to run the last else statement or else it won’t run.

[2018-08-01 11:47] haydmills commented on #17750
@QuincyLarson I think all these designs are great explorations! Nice work everyone.

I would say the simple black and white design that @PhoeniXAbhisheK just posted would be my vote. The typography used creates a nice visual hierarchy that should make the badge readable when hanging around someones neck.

As mentioned, you could do the same design on the fCC green or one of the [other primary colo

[2018-08-01 11:55] Nirajn2311 commented on #17944
The contributing of curriculum can be found in docs of curriculum repo. Here’s the link

[2018-08-01 12:12] nirmalathapa opened #17965 "Compose React Components Challenge freezes while trying to code"
#### Describe your problem and - if possible - how to reproduce it
Under the frontend libraries certification React challenge where we have to compose React components freezes page. I am unable to click or write any code in the editor.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/front-end-libraries/react/compose-react-components

#### Tell us about your browser and

[2018-08-01 13:42] QuincyLarson commented on #17750
@haydmills Thanks for sharing your opinion on this.

@PhoeniXAbhisheK I agree - this looks solid!

[2018-08-01 14:00] AbbeyRenn commented on #17750
@QuincyLarson these are all so great! I love number 11, too. I do like the plain black one @PhoeniXAbhisheK posted most recently as well if we want something simpler/less colorful. I agree with @Bouncey that the function call logo is important.

[2018-08-01 14:29] nirmalathapa commented on #17965
Yes I understand there is a mistake in my code. However, I try to close the browser and restart the chrome the problem is still there and I cannot reset the code.

[2018-08-01 15:26] Nirajn2311 commented on #17965
Try clea I get all browser cache and cookies.

[2018-08-01 17:28] povilasraciunas commented on #17944
Hi Joe, thank you! Yeah, that "trick" of putting em tags outside to make
the test pass was interesting :)
Of course, it is not a big deal for me as I move on with other challenges,
but still wanted to report it as fcc is really great place for such
beginners like myself and I want to contribute at least by reporting bugs :)

On Wed, Aug 1, 2018 at 2:06 PM Joe Andersen <notifications@github.com>
wr

[2018-08-01 18:44] nirmalathapa commented on #17965
Clearing all the browser cache and cookies works. But this solution is only temporary. Isn't there other way to show error in code instead of freezing the browser?

[2018-08-01 22:10] HaleyJ1387 commented on #17894
Yeah that's what i ended up doing and its working now

On Wed, Aug 1, 2018, 2:28 PM Nathan Hannig <notifications@github.com> wrote:

[2018-08-01 22:37] Merinac opened #17966 "Microsoft Edge does not support current platform"
I currently use Microsoft edge as my primary web browser which, surprisingly, doesn't support the freecodecamp testing module. Once "Run the tests" has been clicked, the button darkens, "// running test" appears in the lower console, and it stops there. This applies to every lesson available. However, if I attempt the same lesson on chrome, it works just fine.

[2018-08-01 23:04] gxcad commented on #17944
Awesome! For those completists that don't want a skipped lesson on their conscience! Me...

[2018-08-02 01:59] nathanhannig commented on #17942
I will claim this issue.

Thank you for reporting it.

I also noticed there is a test `User did replace var keyword.` which should be removed as well.

[2018-08-02 02:29] #17871 closed

[2018-08-02 05:32] Crazypari commented on #17944
thanks to you, it works....

[2018-08-02 05:36] nathanhannig commented on #17379
Maybe map, filter, reduce need to be explained beforehand. But chaining is not required and there are multiple solutions.

[code]

[2018-08-02 05:41] chenjacky131 commented on #16358
alleluia.finally works

[2018-08-02 05:53] nathanhannig commented on #17942
I also want to replace the word fraction with decimal number.
`Use arrow function syntax to compute the square of only the positive integers (fractions are not integers) in the array realNumberArray and store the new array in the variable squaredIntegers.`

fractions look like 1/4
decimal numbers look like 0.25

[2018-08-02 11:38] Nirajn2311 commented on #17966
I checked it and only “Run the tests” button is not working.

[2018-08-02 12:42] rohitjain00 commented on #17957
I think this could be closed now.

[2018-08-02 13:04] alouisa commented on #17957
Thank you everyone!

[2018-08-02 13:04] #17957 closed

[2018-08-02 14:59] huyenltnguyen commented on #17873
It looks like OP deleted their account. So... I think this issue can be closed then?

[2018-08-02 15:39] QuincyLarson commented on #17750
@PhoeniXAbhisheK these look amazing. I think we have a winner! Could you open a pull request to add the files necessary for us to go to a print shop and print these out to https://github.com/freecodecamp/assets?

The dimensions of our lanyard's card holders are 3.65"(Height) x 2.6"(Length) - could you make sure these match those dimensions and are as high resolution as possible for sharp printing?

[2018-08-02 15:39] #17749 closed

[2018-08-02 15:43] QuincyLarson commented on #17869
@moT01 I agree - those would be valuable high level stats to have above their "map" of completed challenges.

[2018-08-02 15:47] QuincyLarson commented on #14234
@Flarp Awesome! As soon as you're ready for us to give feedback and QA, let us know. Eager to get these new challenges live :)

[2018-08-02 15:52] PhoeniXAbhisheK commented on #17750
@QuincyLarson Sure thing... 😄
But just to confirm, which design/color exactly..???
These latest one I posted with 4 colors, or the original black one..???

[2018-08-02 15:54] #17954 closed

[2018-08-02 15:56] AbbeyRenn commented on #17750
@PhoeniXAbhisheK these do look amazing! I'm partial to the freeCodeCamp green, myself, but I'll let @QuincyLarson weigh in :) Thanks so much for designing these!

[2018-08-02 16:25] joker314 commented on #17873
If they can't provide us with any additional information because their account is deleted, I suppose so. Let's wait a bit to confirm OP is no longer suffering from the issue.

[2018-08-02 18:02] Flarp commented on #14234
I believe it should be ready for peer reviewing, the commits are not properly squashed but I can do that.

The indentation is strange due to some strange modifications in packing that I didn't make, but I hope it's satisfactory. I believe everything works, but this is a draft, not a final proposal.

[Here you go](https://github.com/Flarp/curriculum)

[2018-08-02 18:53] nathanhannig commented on #17942
I have created a issue in the curriculum repo that references this issue. This issue can be closed and the referenced issue can instead be followed.

[2018-08-02 19:07] #17942 closed

[2018-08-02 19:55] VictoryShoe commented on #17862
Well the tests are:
[code]
So the results are correct but the wording is confusing.
I could change it to something like:
"`a` should be defined and `a + 1` should evaluate to `6`"

[2018-08-02 20:27] raisedadead commented on #17167
We have removed linking of account and GitHub. You can still use sign in with GitHub. But This is tied to the email on records with GitHub.

[2018-08-02 20:27] #17167 closed

[2018-08-02 20:28] #17256 closed

[2018-08-02 20:29] #17281 closed

[2018-08-02 20:36] raisedadead commented on #17964
Hi this looks similar to what we have in discussion at the minute, feedback and pull requests are welcome.

See https://github.com/freeCodeCamp/freeCodeCamp/issues/17869 for the related issue.

[2018-08-02 20:36] #17964 closed

[2018-08-02 21:57] ojongerius commented on #17256
`other:decayed`, great label 🤪

[2018-08-02 22:31] nathanhannig commented on #17855
You are correct @jooji-san

start is never defined and this is a huge typo

startX and startY are defined

[2018-08-02 22:32] nathanhannig commented on #17764
related issue
https://github.com/freeCodeCamp/freeCodeCamp/issues/17855

[2018-08-02 22:34] nathanhannig commented on #17764
the typo is actually
`In the example above, the variable start is assigned the value of a.start, which is also an object.`

should become
`In the example above, the variable startX is assigned the value of a.start.x.`

`start `is never defined as a variable in the example. Only `startX `and `startY `are.

[2018-08-03 00:14] GadhiMohamed commented on #17408
I have the same issue with chrome and firefox ( latest versions )

[2018-08-03 00:48] mav1283 commented on #17408
@GadhiMohamed try the brave browser, if it doesn't work it's ok cause you can go on finish the rest of the projects.

[2018-08-03 06:34] nathanhannig commented on #17403
I have no clue what this challenge description is even trying to have the user complete.

Why is there even code being used to set the temperature property when getter and setter are supposed to be used to avoid doing such things?
[code]

The description seems to want the user to convert between C and F, but fails to provide any implementation details about method names

[2018-08-03 06:55] cj-sv opened #17970 "Minor typo in Introduction to Basic Algorithm Scripting"
#### Describe your problem and - if possible - how to reproduce it

Typo in first sentence in paragraph 2, 'easier' was misspelled as 'eaiser'.

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-algorithm-scripting

#### If possible, add a screenshot here

![screenshot_2018-08-03 basic algorithm scripting freecodecamp](http

[2018-08-03 09:04] jooji-san commented on #17966
It's only works in chrome and they are aware of that

[2018-08-03 09:39] tchan opened #17971 "Broken glitch link in first NPM challenge"
#### Describe your problem and - if possible - how to reproduce it
Per title, link is broken

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/apis-and-microservices/managing-packages-with-npm/
https://glitch.com/#!/import/github/freeCodeCamp/boilerplate-npm
[code]

[2018-08-03 11:58] ezioda004 opened #17972 "Introduction to the MongoDB and Mongoose Challenges: Glitch link to boilerplate broken"
#### Describe your problem and - if possible - how to reproduce it
The Glitch link to the boilerplate in the challenge gives error sometimes
[code]
Issue seems similar to #17971

#### Add a Link to the page with the problem
Challenge link: https://learn.freecodecamp.org/apis-and-microservices/mongodb-and-mongoose/
Glitch link: https://glitch.com/#!/import/github/freeCodeCamp/boilerplate-mongomongo

[2018-08-03 13:38] moT01 commented on #17767
I just did this challenge - the code that's shown in the picture is the default code and the tests pass without the user adding any additional code, I think the default code should have the three methods (.data, .enter, .append) removed - and have a note added at the bottom of the description saying something like...
"The circles wont be visible yet, because we haven't applied any style. We will d

[2018-08-03 13:43] moT01 commented on #17767
this is the file https://github.com/freecodecamp/curriculum/blob/dev/challenges/04-data-visualization/data-visualization-with-d3.json#L1866 - it looks like the methods have already been removed from the setup code and just not on the live site yet - So we just need to add that message

[2018-08-03 14:30] Haritsinh commented on #17706
hey @lionel-rowe i also had wanted to solve this challenge, after 2 days i have found the answer but it was too simple so we have messed up, i have confused because of this line in explanation

you wont believe what the solution is, it is so simple here it is: **/Aa*/**

in life also sometimes we think challenges are so harder to solve but it is not, answer is so simple like here.

[2018-08-03 16:07] #17970 closed

[2018-08-03 16:31] andreb17 commented on #11742
<h2>CatPhotoApp</h2>
<main>

  <img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back.">

  <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
  <p>Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip the couch sleep in the sink fluffy fur

[2018-08-03 16:31] andreb17 commented on #11742
i need some help

[2018-08-03 16:53] moT01 commented on #17869
How about linking the project to the users completed project - right now it takes you to the challenge page - so if I send someone to my profile and they want to see my projects there's no way to see them, I think the old site said something like "view solution" that linked to the completed project

[2018-08-03 18:13] malachimc commented on #16354
The answer is:

"use strict";
export const foo = "bar";
export const bar = "foo";

[2018-08-04 01:29] ArielLeslie commented on #17966
Free Code Camp has bee updated to use newer technologies. It makes the application much faster and it means that we can go much longer without having to do a huge migration like the recent one. However, Edge and Safari are very bad about choosing not to adhere to standards and support new functionality in JS and CSS. Right now, that means that both Edge and Safari exhibit lots of unexpected behavi

[2018-08-04 07:06] sanchitbansal10 commented on #17300
Working on it...

[2018-08-04 10:18] raditotev commented on #16967
This is still failing if there is no "Home page" content on the index page.

[2018-08-04 11:20] todorare opened #17975 "Spelling Mistake - Mutatable instead of mutable"
#### Describe your problem and - if possible - how to reproduce it

In the challenge [React: Create a Controlled Input](https://learn.freecodecamp.org/front-end-libraries/react/create-a-controlled-input) mutatable should be mutable.

#### Add a Link to the page with the problem

[React: Create a Controlled Input challenge](https://learn.freecodecamp.org/front-end-libraries/react/create-a-controlle

[2018-08-04 12:13] borisyordanov commented on #16445
@tomasvn Need help with this? I'll be happy to contribute

[2018-08-04 12:55] borisyordanov commented on #17347
@beaucarnes i can give this a go but there's not a lot of documentation. How do you even run the app?

[2018-08-04 14:27] raditotev commented on #17618
My problem with this challange was the url. I had `res.render('pug/profile', {username: req.user.username});` and it was failing. After checking the tests source code @SoulShaker provided, it turned out it's expecting `'views/pug/profile'`. It passed once I changed the url in the render function to:
`res.render(process.cwd() + '/views/pug/profile', {username: req.user.username});`

Update: This te

[2018-08-04 16:18] KoniKodes commented on #17750
I like the freeCodeCamp green as well.

[2018-08-04 17:10] edkahara commented on #17975
I opened a pull request that addresses this issue [here](https://github.com/freeCodeCamp/curriculum/pull/219)

[2018-08-04 17:35] edkahara commented on #17347
I opened a pull request that addresses this issue [here](https://github.com/freeCodeCamp/search-assets/pull/9).

[2018-08-04 17:44] Ozymandias9000 opened #17976 "D3: Updating Height Dynamically - Tests Not Passing"
#### Describe your problem and - if possible - how to reproduce it
Tests are not passing with correct code. Curiously, the "The fifth div should have a height of 25 pixels" test is passing, but none of the others. DOM elements are rendering correctly with appropriate inline style.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/data-visualization/data-visualization-wit

[2018-08-04 17:47] sanchitbansal10 commented on #17382
@chaitanyaashtekar did the steps mentioned by nathanhannig and its working fine...

[2018-08-05 03:41] RyanPisuena opened #17981 "Using Objects for Lookups - code does not work if switch statement is commented out"
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/using-objects-for-lookups

* Browser Name: Google Chrome
* Browser Version:  Version 68.0.3440.84 (Official Build) (64-bit)
* Operating System: Windows 7

Have a JS object below a commented out switch statement, but the compiler will not accept code if switch statement is commented out, instead of deletion.

[2018-08-05 05:30] sidinsomniac opened #17984 "freecodecamp.org not opening for me and a lot of friends"
### From India here
I am trying to open my curriculum and my learning path in freecodecamp.org, but when I click the **go to coding curriculum** button, it does not open. I have been trying to open freecodcamp since last few days. It opens when I use a VPN, so I believe it might be a problem with the subdomain. Please do look into the matter.

![image](https://user-images.githubusercontent.com/351

[2018-08-05 10:25] Em-Ant commented on #17131
@QuincyLarson sorry for the late response. No I didn't, I was waiting for @jonathan-grah to have a look.
I could add a couple of other tests, but I have some technical questions about how the testing works in the source code. Who can I ask ?

[2018-08-05 11:05] huyenltnguyen commented on #17962
@bharatgupta99 Could you try going to the curriculum page (https://learn.freecodecamp.org) directly, see if it would redirect you somewhere?

[2018-08-05 17:45] achiv opened #17985 "How to view solutions"
#### Describe your problem and - if possible - how to reproduce it
I have completed some challenges on freecodecamp.org long back. Now, I want to view my solutions to those problems. Is there any way that I can view my submitted solutions?
In the screenshot I provided, when I click on the completed challenge, I am directed to the question and not my answer/solution.

#### Add a Link to the page wi

[2018-08-05 19:08] DanCouper commented on #17804
@chrisbobek Yes, it is a form of inheritence. But CSS is called CSS, not ISS, the terminology is fine.

[2018-08-05 19:10] achiv commented on #17985
Got to know that fcc does not store solutions. Here - https://forum.freecodecamp.org/t/how-do-i-see-my-old-solutions/214814

[2018-08-05 19:12] #17985 closed

[2018-08-06 07:11] PhoeniXAbhisheK commented on #17750
@QuincyLarson I've made a pull request with the necessary files, I added the files with all 5 colors, and in both designs(normal and bold fonts for last name).

[2018-08-06 08:11] lionel-rowe commented on #17706
Here's why I think it's confusing:
* The instruction says "match all the upper and lower `"a"` characters in `chewieQuote`. Your regex does not need flags, and it should not match any of the other quotes."
* Really, the requirements are "match 2 or more consecutive `"a"` characters (case insensitive). It should not match when there is only 1 consecutive `"a"`."
* The obvious solution for this woul

[2018-08-06 08:11] #17706 closed

[2018-08-06 11:09] dariatkachuk commented on #17479
I have the same issue in Chrome and Opera.

[2018-08-06 14:07] PolarisTLX commented on #17485
Same issue. Also with recently completed react/redux challenges. Frustrating as it would be much more useful to be able to go back and see what my solutions were as a reference.

[2018-08-06 15:31] imtan007 commented on #17984
Same problem which vpn did you use?

[2018-08-06 15:48] jonathan-grah commented on #17131
@Em-Ant, I can confirm the file metadata tests work on Internet Explorer 6 on Windows XP, so these tests should be good to go! I'm not sure what you mean by the tests not being accurate enough on the tests glitch, I'm unable to see a better way of testing this behaviour.

[2018-08-06 17:46] sidinsomniac commented on #17984
I use hide.me

[2018-08-06 18:25] ankur1163 commented on #17984
I used purevpn and changed to usa ip (i am from india). Now, it opened perfectly.This is strange

[2018-08-06 18:49] QuincyLarson commented on #17984
Thanks for your patience everyone. We are pretty sure this is an issue with our CDN and the JIO ISP. Our friends at Netlify are working on a fix for this, and we have notified JIO as well about the outage.

If anyone experiences an outage and they're not using JIO as their ISP, please leave a comment here and we'll look into that, too.

[2018-08-06 21:15] HansFernandez commented on #17944
Still an issue on 08/06/2018; asheavenist fix helped move one. Thanks!

[2018-08-06 21:17] cacho commented on #17824
** MORE INFO NEEDED **
Testing with username "5inco" :
- i couldn't repeat this bug
- the user name  "5inco" worked, i can access to the public profile properly
  - review if this only related to user names that start with a 0

[2018-08-06 21:55] shimaanamara commented on #6253
Use the var keyword to create a variable called myName.

[2018-08-07 01:11] naveencoder13 commented on #17984
Still, this problem is happening even i am too not able to open my curriculum page

[2018-08-07 06:08] 3MCM opened #17986 "Question for "Basic CSS: Size Your Images" challenge."
I created a "smaller-image" class and added the class attribute to the "img" element.

It's assumed the "smaller-image" class would connect to the "img" element since I added that class to "img" right?

Well, I tried it and I would get an "Your image should be 100 pixels wide. Browser zoom should be at 100%."

I then renamed the "smaller-image" class to "img" so all elements called "img" would get

[2018-08-07 06:14] 3MCM commented on #17986
It's also occurring with the "Basic CSS: Add Borders Around Your Elements" challenge...

[2018-08-07 06:27] #17986 closed

[2018-08-07 06:58] AngieJudilla commented on #16304
function incrementer(val) {
  return fixedValue+1;
  // Add your code above this line
}

[2018-08-07 08:29] #17975 closed

[2018-08-07 08:37] #17753 closed

[2018-08-07 08:44] greekmido commented on #17320
i have the same problem on my portfolio page
https://www.freecodecamp.org/greekmido
it only shows jan 2018 as the last month
im on win10 pro 64X
crhome Version 68.0.3440.84 (Official Build) (64-bit)
![issue](https://user-images.githubusercontent.com/29352863/43764746-f8ba122a-9a36-11e8-91d3-c5db9b5b4ff8.jpg)

[2018-08-07 18:10] kathleeng77 commented on #17944
Thank you @asheavenist!

[2018-08-07 21:37] QuincyLarson commented on #17750
@PhoeniXAbhisheK Thank you for all your help! I've merged your pull request!

[2018-08-07 21:37] #17750 closed

[2018-08-08 01:55] drecali opened #17988 "Changing timeout fails tests in React: Use the Lifecycle Method componentDidMount"
#### Describe your problem and - if possible - how to reproduce it
In the "React: Use the Lifecycle Method componentDidMount" challenge, the last line of the instruction says:

When the timeout is 503 and above, all tests pass.
When the timeout is under 503, the final test fails, even though the preview is identical to the pass conditions.

It seems like this may be a bug and could be confusing fo

[2018-08-08 02:05] valvevan opened #17989 "Seeding database fails--utils.js:132"
freecodecamp$ sudo docker-compose run --rm freecodecamp npm run only-once
[sudo] password for leon:
Starting freecodecamp_mailhog_1 ... done
Starting freecodecamp_db_1 ... done

rev-manifest present
pathMigration present
/****/
Seeding Database
/****/
Warning: Accessing createClass via the main React package is deprecated, and will be removed in React v16.0. Use a plain JavaScript class instead. I

[2018-08-08 03:35] Nirajn2311 commented on #17989
Is mongod running in another terminal and try executing the following code separately

``npm run prelint-js && echo '/****/' && echo 'Seeding Database' && echo '/****/' && node seed/index.js && echo '/****/' && echo 'Seeding Completed' && echo '/****/' ``

[2018-08-08 05:03] sidinsomniac commented on #17984
Thanks a lot @QuincyLarson . That explains it. Appreciate you helping out!

[2018-08-08 05:24] lasred commented on #5576
What exactly was the issue here?

[2018-08-08 06:26] SaintPeter commented on #5576
This issue should have been resolved with my pull request.  I added a "\s*" between the variable and the ++ and -- checks, to allow whitespace.  This issue can been closed for a long time.

[2018-08-08 09:14] dicoderr opened #17990 "Minor grammar mistake in CSS Grid: Create Flexible Layouts Using auto-fill"
#### Describe your problem and - if possible - how to reproduce it
The first sentence says: "The repeat function comes with a option called auto-fill." The article "a" is incorrect. Should be "an option".

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/css-grid/create-flexible-layouts-using-auto-fill

#### Tell us about your browser and operating

[2018-08-08 11:46] nikrb opened #40175 "package.json node engine needs updating"
raised an issue in [curriculum](https://github.com/freeCodeCamp/curriculum/issues/223), though I suspect it belongs here.
With regard to a pr: glitch imports from master I believe, so base pr branch on `gomix` and merge to master?

#### Describe the bug
Working through the challenge [Information Security with HelmetJS - Hash and Compare Passwords Asynchronously](http://localhost:8000/information-s

[2018-08-08 12:38] sheikheddy opened #17991 "Spelling error in Basic Node and Express - Get Route Parameter Input from the Client"
#### Describe your problem and - if possible - how to reproduce it
it says 'communicate us' instead of 'communicate to us'
How to reproduce it? Just go to the page :P

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/apis-and-microservices/basic-node-and-express/get-route-parameter-input-from-the-client

#### Tell us about your browser and operating system

* Browser Nam

[2018-08-08 13:17] moT01 commented on #17991
its missing an `m` in communicate as well, - this is where the problem is => https://github.com/freeCodeCamp/curriculum/blob/dev/challenges/05-apis-and-microservices/basic-node-and-express.json#L190

[2018-08-08 13:29] moT01 commented on #17972
@ezioda004 The link worked for me, perhaps it has been fixed - are you still having problems?

[2018-08-08 13:31] moT01 commented on #17971
Seems to be working for me, perhaps it has been fixed - are you still having problems @tchan ?

[2018-08-08 14:02] tchan commented on #17971
Looks like it's temperamental. Works for me now.

[2018-08-08 16:37] gothgirlcode opened #17992 ""Run the Tests" Button not working"

[2018-08-08 17:18] RyanPisuena commented on #17991
Hello all parties involved,

Below is a pull request for the grammar edit for you two.

[2018-08-08 17:41] ezioda004 commented on #17972
@moT01 No, but it happens sometimes I suspect its because as mentioned in this thread https://github.com/freeCodeCamp/freeCodeCamp/issues/17586 all the boilerplates have node engine explicitly set at 4.4.5 which is no longer supported by glitch.
![screenshot 130](https://user-images.githubusercontent.com/20020273/43854321-32cbe1c6-9b60-11e8-97b3-013a5df65f42.png)

There's also bunch of errors in t

[2018-08-08 18:57] avjgit commented on #17743
Same here: https://www.freecodecamp.org/avjgit
Shows 7 days streak from 2016, and now in 2018 it is 10 day streak.
Any chances for this to be fixed?

[2018-08-08 19:34] dicoderr commented on #17990
Thank you! The contributor's guide is quite long. Also, I guess Egghead's course about contributing to an open source project is worth watching. Hope it won't take much time :-)

[2018-08-08 19:36] FoxNeo commented on #17944
Thank you @asheavenist it works!

[2018-08-08 19:39] TheNewStyles commented on #17584
@mihir-mahakalkar this solution worked for me. Well done. Thanks!

[2018-08-08 22:27] dicoderr commented on #17990
@Ashera138 "up for grabs".

[2018-08-08 23:43] valvevan commented on #17989
no ,when i use mongo client to connect db.It can connect db in the same terminal. @Nirajn2311 .thanks for the reply.
"npm run develop"  same problem.
/app/node_modules/mongodb/lib/utils.js:132
throw err;
^
Error: Error: entities not found, db may not be properly seeded

[2018-08-09 00:08] voidbringer01 commented on #13530
@bladecla
Your reRegex test only if it finds 3 numbers in a row. It needs to check whether a string starts with a number and ends with one, while containing 3 numbers. So in 42 42 42 42, it finds a pattern in it even thought its just an substring of it. To fix that instead of let reRegex= /(\d+)\s\1\s\1; use let reRegex=/^(\d+)\s\1\s\1$/;  . ^- so that it starts with a number and $ so that it ends

[2018-08-09 01:47] Ozymandias9000 commented on #17976
Oddly enough, no. I find it very strange that I can get the fifth test to pass, but none of the others, no matter what I do.

[2018-08-09 02:14] moT01 commented on #17976
yea, im not sure - did you try resetting the code and doing it again? is there any errors in the console?

[2018-08-09 02:40] nurulilmaan commented on #15662
<style type='text/sass'>
  @for $j from 1 to 6 {
    .text-#{ $j } { font-size: 10px * $j ; }
  }
</style>

<p class="text-1" style="font-size: 10px">Hello</p>
<p class="text-2" style="font-size: 20px">Hello</p>
<p class="text-3" style="font-size: 30px">Hello</p>
<p class="text-4" style="font-size: 40px">Hello</p>
<p class="text-5" style="font-size: 50px">Hello</p>

[2018-08-09 02:42] nurulilmaan commented on #15662
![image](https://user-images.githubusercontent.com/28183605/43874907-8551040a-9bb8-11e8-8ce1-28a53dc514b9.png)

[2018-08-09 06:16] #17992 closed

[2018-08-09 08:44] alpkoseoglu commented on #17990
I am fixing the typo right now, is that ok?

[2018-08-09 09:26] AndrewFan0408 opened #17996 "Data Visualization with D3: Use the d3.max and d3.min Functions to Find Minimum and Maximum Values in a Dataset"
#### Describe your problem and - if possible - how to reproduce it
The code ask to search for the maximum in the third value from the 3d array, but the second value also works to pass the test

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/data-visualization/data-visualization-with-d3/use-the-d3-max-and-d3-min-functions-to-find-minimum-and-maximum-values-in-a-dataset

[2018-08-09 09:50] hiimnew opened #17997 ""Add hr tag" challenge doesn't let me pass"
The lesson won't let me pass even after I do it 100% right. I tried many ways to make it work also just tried on firefox it's also buggy there.

https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-a-horizontal-line-using-the-hr-element/

* Browser Name: Chrome
* Browser Version: Version 68.0.3440.84 (Official Build) (64-bit)
* Operating System: Ubuntu 16.04

As @huyen

[2018-08-09 09:52] ezioda004 opened #17998 "Apis and Microservices Projects - Exercise Tracker: User Stories missing"
#### Describe your problem and - if possible - how to reproduce it
There are no User Stories provided for this project neither in the [glitch example](https://fuschia-custard.glitch.me/) nor in the [github repo](https://github.com/freeCodeCamp/boilerplate-project-exercisetracker/).

However, I found the User Stories in one of the [forum posts](https://forum.freecodecamp.org/t/exercise-tracker-proj

[2018-08-09 11:40] huyenltnguyen commented on #17997
Hi @hiimnew, could you paste your code here? It would help the debugging process.

[2018-08-09 15:07] dicoderr commented on #17990
@alpkoseoglu OK.

[2018-08-09 16:18] Ashera138 commented on #17990
I'm struggling with git, so don't feel like you have to wait on me haha. @alpkoseoglu

[2018-08-09 17:10] Ozymandias9000 commented on #17976
Yes to reset, no to errors. If it's a browser problem, that's an issue for people using Chromebooks like myself.

[2018-08-09 17:56] #17862 closed

[2018-08-09 18:25] raditotev commented on #17757
Just to make it clear for everyone else who might come accross this problem. Add https://learn.freecodecamp.org in the allowedOrigins array in `freeCodeCamp/fcctesting.js` file.

[2018-08-09 18:48] avjgit commented on #17743
Looks like this is the code:
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/server/views/account/show.jade

And calendar start is set to today - 150 days:
`                        start: new Date().setDate(new Date().getDate() - 150),`

[2018-08-09 19:16] huyenltnguyen commented on #17997
@hiimnew Thanks for adding the code.

So I did a quick search and found that the issue has already been addressed (https://github.com/freeCodeCamp/freeCodeCamp/issues/17944). There is a bug in the second test case that needs to be fixed, but for now, you can pass the test if you wrap the `<em>` around the `<p>`, like this:
[code]

[2018-08-09 20:27] alpkoseoglu commented on #17990
I failed so bad and stop trying, I think you can do it ! @Ashera138

[2018-08-09 20:49] willgorham opened #18000 "Accept Privacy Terms page styling issues"
#### Describe your problem and - if possible - how to reproduce it

On https://www.freecodecamp.org/accept-privacy-terms, the checkboxes and submit button styling are broken.

In the JS console, it looks like a jQuery dependency is missing: `Uncaught ReferenceError: $ is not defined at accept-privacy-terms:11`

#### Add a Link to the page with the problem
https://www.freecodecamp.org/accept-privac

[2018-08-09 21:00] Ashera138 commented on #17990
So from what I can tell (bear with me - I'm very new to this), is that the file that this grammar mistake is in (freeCodeCamp/node_modules/@freecodecamp/curriculum/dist/challenges/01-responsive-web-design/css-grid.json) is generated or added after running `npm install` in git. I can obviously just go in this file, edit the change, and save it, but here's the problem I'm seeing:

That css-grid.json

[2018-08-09 21:11] epatr commented on #18000
To add to this, when I clicked the button it sent me to a page that just said:

[2018-08-09 21:18] moT01 commented on #17990
when you run `npm install` it will install all the things in the `package.json` file - included in this repos `package.json` file is this line - https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/package.json#L49 - this (`@freecodecamp/curriculum`) is the freecodecamp package that holds all the information for the challenges and it gets created from this repo - https://github.com/freeCodeCa

[2018-08-09 21:35] hiimnew commented on #17997
Thanks for the info, and also thanks for your time.

[2018-08-09 21:45] energydev commented on #17693
I am experiencing this exact same issue.

[2018-08-09 21:52] Ashera138 commented on #17990
Alright, pull request submitted. Let's see how I did. 👍 https://github.com/freeCodeCamp/curriculum/pull/233

[2018-08-09 21:54] energydev commented on #17693
I ran npm run prelint-js && echo '/****/' && echo 'Seeding Database' && echo '/****/' && SEEDING=true node seed/index.js && echo '/****/' && echo 'Seeding Completed' && echo '/****/'

which allowed npm run develop to be run, but I get sent to the below link when clicking "Start coding (it's free)"

https://stuff/authorize?response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fauth0

[2018-08-09 21:58] energydev commented on #17693
I also tried running "node seed". It didn't come back with errors, but after I run "npm run develop" the code runs, and I run into that authorize URL issue again.

[2018-08-09 22:10] energydev commented on #17693
I ran the steps at https://github.com/freeCodeCamp/freeCodeCamp/issues/17382#issuecomment-406735385 to get past this issue.

[2018-08-09 22:49] energydev commented on #17998
I can look into doing a pull request at https://github.com/freeCodeCamp/boilerplate-project-urlshortener/ to add the User Stories to the ReadMe

[2018-08-09 23:06] energydev commented on #17998
I submitted the below PR to add the user stories to the readme file in the github repo https://github.com/freeCodeCamp/boilerplate-project-exercisetracker/pull/6

[2018-08-09 23:19] mmatthews1981 commented on #14821
I'm not sure where to complain about this, so I'll start here. The solution is fairly straightforward, but I don't think it's a good example. If one of my junior devs wrote this line I'd flag it as an anti-pattern for returning raw boolean values instead of returning a boolean expression. I think the question should be changed to something more like "use a ternary operator to return the higher arg

[2018-08-09 23:31] #17990 closed

[2018-08-10 01:08] jgibson02 commented on #17450
Here are some possible instructions and user stories:

# Take Home Projects - Build a FreeCodeCamp Forum Homepage

* **Objective:** Build a CodePen.io app that is functionally similar to this: https://codepen.io/jgibson02/full/BVvbRX/.
* Fulfill the below user stories. Use whichever libraries or APIs you need. Give it your own personal style.
* **User Story:** I can see a list of the most recent p

[2018-08-10 01:34] huyenltnguyen commented on #17997
You're welcome! Glad I can help.
Would you mind closing the issue, since it's a duplicate of #17944?

[2018-08-10 03:56] dipsikharay commented on #10212
<style>

.red-text { color: red ;}

</style>

<h2 class="red-text">CatPhotoApp</h2>
<main>
  <p>Click here to view more <a href="#">cat photos</a>.</p>

  <a href="#"><img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back."></a>

  <div>
    <p>Things cats love:</p>
    <ul>
      <li>cat nip</li>
      <li>laser pointers</li>
      <li>lasagna</li>
    </ul>
    <p>To

[2018-08-10 05:12] diazabdulm commented on #17585
I'd have to admit, @anku255 , calling it `middlewareFunction` somehow made me think of `function(){}`. If they would have called the thing inside `app.use` a parameter it would have made more sense (and caused less headaches).

[2018-08-10 07:35] varshap22 commented on #14500
I am getting the error:
Your .blog-post element should have a color of red.) and (Your h2 elements should have a color of red

[2018-08-10 07:44] diazabdulm opened #40176 "Mention to the user that they have to start a new glitch"
I got stuck because I kept using the HelmetJS glitch and didn't realize I had to create a new glitch (it was not in the instructions).
Other users seem to have faced this as well: https://forum.freecodecamp.org/t/help-understand-bcrypt-hashes-beta/184412

[2018-08-10 07:55] veryfunkymunky commented on #17944
FINALLY! Thank you 👍 @asheavenist

[2018-08-10 12:03] kuklinistvan commented on #13282
![kepernyokep_2018-08-10_14-01-03](https://user-images.githubusercontent.com/19473224/43956830-e6bc1188-9ca5-11e8-8c2b-a724326a9f57.png)
Maybe I'm simply wrong but I'm experiencing something similar with the deployed version.

[2018-08-10 13:08] linkbub opened #18002 "Can't edit code on Google Pixel, code box doesn't respond to keyboard. Haven't been able to test the run test button yet."
The section we're you edit the code will call up the keyboard the first time you click it, but I am unable to edit anything. If I remove the keyboard from the screen, I am unable to call it back again. Using an original Google Pixel with up to date Android system. I'm using Brave browser and if I request a desktop site it appears to let me edit.

#### Describe your problem and - if possible - how

[2018-08-10 14:05] rishabjn commented on #12205
I also can't complete this challenge. I am using chrome browser.

[2018-08-10 19:11] #17997 closed

[2018-08-10 19:12] hiimnew commented on #17997
This was my very first issue, I thought someone else needs to close it :D

[2018-08-11 03:02] halcyondays22 opened #18003 "Typo in Basic Data Structures: Combine Arrays with the Spread Operator"
#### Describe your problem and - if possible - how to reproduce it
In second paragraph, there are two "more"s before the word complex.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/combine-arrays-with-the-spread-operator

#### Tell us about your browser and operating system

* Browser Name: Google Chrome

[2018-08-11 03:14] halcyondays22 commented on #17991
Is this issue still needing to be solved?  I'd like to work on it if so!

[2018-08-11 10:40] TomerPacific commented on #18003
I'd like to be able to fix this issue as a first time contributor to this repository, if no one has any reservations.

[2018-08-11 11:58] Nirajn2311 commented on #18003
@TomerPacific You may start working on the fix. The challenges files can be found in the curriculum repo.

[2018-08-11 12:56] nischaldutt opened #18005 "Ask for Help - Learn app to Forum Post URI length exceeds limit"
#### Describe your problem and - if possible - how to reproduce it
Hi
I’ve found a bug in the given page. When I click on the “Ask for Help” Button and try to create help post in the forum, it gives a data transmission error as follows:

![3c51d48a0b8cdd296aee2f1dd16ca3cd0ae27c6a png](https://user-images.githubusercontent.com/25385285/43991822-20b53a76-9d92-11e8-836b-3eeaf6d0d82f.png)

I’ve tested

[2018-08-11 14:24] 4rturKania commented on #17808
It works for me.

`const ChildComponent = () => {
  return (
    <div>
      <p>I am the child</p>
    </div>
  );
};

class ParentComponent extends React.Component {
  constructor(props) {
    super(props);
  }
  render() {
    return (
      <div>
        <h1>I am the parent</h1>
        { /* change code below this line */ }
        <ChildComponent />
        { /* change code above this line */

[2018-08-11 14:26] 4rturKania commented on #17808
It works for me

[code]

[2018-08-11 15:41] TomerPacific commented on #18003
@Nirajn2311 ,
I have found where to fix the mistake and have made the correct fix, but when I check the status of my branch, there are no differences. Meaning, nothing has been changed.

I have gone to
`freeCodeCamp\node_modules\@freecodecamp\curriculum\dist\challenges\02-javascript-algorithms-and-data-structures`

and made the fix there. Is that the right place?

Can you help me out in figuring o

[2018-08-11 16:02] Nirajn2311 commented on #18003
@TomerPacific the challenges files are stored at
https://github.com/freeCodeCamp/curriculum.
The file you are looking for to edit is
https://github.com/freeCodeCamp/curriculum/blob/dev/challenges/02-javascript-algorithms-and-data-structures/basic-data-structures.json#L396

[2018-08-11 17:28] TomerPacific commented on #18003
Hey @Nirajn2311 ,

thanks for the quick reply.

I just want to make sure that what I am about to do is correct.

Since I only forked the freeCodeCamp/freeCodeCamp repository, I need to fork the freeCodeCamp/curriculum repository, create a new branch there, fix the typo and open a pull request in that repository?

[2018-08-11 18:25] halcyondays22 commented on #17947
Is this still open?  Would be happy to try and help.

[2018-08-11 18:47] Nirajn2311 commented on #18003
@TomerPacific Bullseye my friend.

[2018-08-11 20:13] clrobards commented on #17861
![strongtag](https://user-images.githubusercontent.com/35350251/43995704-0c4bcc28-9d81-11e8-8174-889f2b1118ca.PNG)
I can not get this to pass. I even looked up a youtube video that had the same code and it passed. The last check mark stays unchecked. But clearly, the tags are wrapped around the right word.

[2018-08-11 23:05] amar633 commented on #18003
how to get rid of these unnecessary emails? mute not working. thanks

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Niraj Nandish <notifications@github.com>
Sent: Saturday, August 11, 2018 2:50 PM
To: freeCodeCamp/freeCodeCamp
Cc: Subscribed
Subject: Re: [freeCodeCamp/freeCodeCamp] Typo in Basic Data Structures: Combine Arrays with the Spread Operator (#18003)

[2018-08-11 23:06] amar633 commented on #18003
I Want to unduscriiiiiiiiibbbbbbeee!!!!

[2018-08-12 01:59] LeiCorre opened #18006 "Run the tests button"
Describe your problem and - if possible - how to reproduce it

I have found at least one JavaScript challenge where the "Run the Tests" button is not working/active.  It is the challenge titled **"Basic JavaScript: Escape Sequences in Strings"**.  I have tried the page in both the latest version of Chrome and Firefox with the same results.  When I click the button it simply triggers no response, t

[2018-08-12 06:27] TomerPacific commented on #18003
Hi @Nirajn2311 ,
I have created a pull request.
[PR](https://github.com/freeCodeCamp/curriculum/pull/239)

Thank you for all your help.

[2018-08-12 08:30] davinderpalrehal opened #18007 "Ordered and Unordered list can be empty"
Probably not a big deal, but in the ordered and unordered list session the tests pass even if the list items are empty

https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/create-a-bulleted-unordered-list

* Browser Name: Chrome
* Browser Version: 69.0.3497.32 (Official Build) beta (64-bit)
* Operating System: Mac OS High Seirra

![screen shot 2018-08-12 at 11 25 26](https://

[2018-08-12 10:48] eald51893 opened #18008 ""Intermediate Algorithm Scripting: Sum All Primes" contradictory text"
In the FCC assignment "Intermediate Algorithm Scripting: Sum All Primes" the following lines of text are included (but in a different order).

_The provided number may **not** be a prime._

_Sum all the prime numbers up to and including the provided number._
(how can you can sum all the prime numbers up to and **including** the provided number if the provided number may not be a prime number?)

_s

[2018-08-12 11:40] emmanuel19264 commented on #17788
Yah, I hope so too.

On Jul 28, 2018 12:27 AM, "walmello24" <notifications@github.com> wrote:

[2018-08-12 12:25] Fanon316 commented on #14500
<p> I used the work-arounds described above, and was able to complete the challenge.</p>

[2018-08-12 15:43] varshap22 commented on #14500
But I can't complete the problem. Can you help me

On Sun, 12 Aug 2018, 17:58 Fanon316, <notifications@github.com> wrote:

[2018-08-12 16:00] Fanon316 commented on #14500
<p>I will be glad to assist. What code have you written for the challenge?</p>

[2018-08-12 16:05] varshap22 commented on #14500
Actually which questions is asked I completely according that I code. But
after run test it's shows 2 things which is not completed.

On Sun, 12 Aug 2018, 21:32 Fanon316, <notifications@github.com> wrote:

[2018-08-12 16:06] varshap22 commented on #14500
Can I send u code tommorow. Is it OK to help me? Because now its not
possible to send because I'm in outside.

On Sun, 12 Aug 2018, 21:32 Fanon316, <notifications@github.com> wrote:

[2018-08-12 16:09] Asjas commented on #14500
@varshap22 Github Issues aren't used for support queries. It's used to report issues with the codebase.

Please use the [freeCodeCamp Forum](https://forum.freecodecamp.org/) or the [freeCodeCamp Gitter](https://gitter.im/FreeCodeCamp/HelpFrontEnd) for support questions.

Please stop posting on old issues.

[2018-08-12 16:13] LuckyStephy13 commented on #17944
https://forum.freecodecamp.org/t/bug-in-applied-visual-design-create-a-horizontal-line-using-the-hr-element/212910/4

The above post brought me here. Definitely frustrating and hope it gets fixed soon! FCC is so beginner friendly that this contradicting bug makes it difficult to trust the course content. With that said, this has been such a great resource that I'm merely commenting here to report

[2018-08-12 16:54] huyenltnguyen commented on #17861
@clrobards It will pass if you move the `<strong>` one character to the right. In other words, you will need to add a space between the word `at` and the `<strong>`, and delete the space between `<strong>` and `Stanford University`.

[code]

Instead of:
[code]

[2018-08-12 17:34] 1337M0nst3r commented on #18002
this is strange, does it do the same on other browsers?

[2018-08-12 17:46] 1337M0nst3r commented on #17924
I would like to help but unfortunately I can't reproduce it. After all the prompt is coded to move with the caret, try to make the editor bigger.
BTW, it's 18 days since you opened this issue
do you still have this problem? if not could you close it so that this issue doesn't confuse people?

[2018-08-12 18:01] devocija-it commented on #17155
I would like to work (fix) on this issue if nobody is working on it currently.

[2018-08-12 19:15] luxaeterne opened #18009 "Search text box covers first line of code."
#### Describe your problem and - if possible - how to reproduce it
Search textbox in lessons covers first line of code.

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version: 68.0.3440.106 (Official Build) (64-bit)
* Operating System: Windows 10

![capture](https://user-images.githubusercontent.com/36870093/440

[2018-08-12 20:16] nischaldutt commented on #17767
I would like to work on this, if someone else has not picked it up yet.

[2018-08-12 20:16] luxaeterne commented on #18009
@Nirajn2311 You can fix this? I messed around with the dev tools and it appears it to be css related to html. font: 112.5%/1.45em? When I change it to 100% the search text box shrinks to a more proper size.

[2018-08-12 20:43] linkbub commented on #18002
Chrome seemed more promising but when I tried to go back and edit the code
I had just wrote, it wouldn't let me. Firefox let me write a little then
started duplicating words multiple times and wouldn't let me delete
characters. When I tried to delete the duplicate characters, once the word
was gone it would reappear.

On Sun, Aug 12, 2018, 10:37 1337M0nst3r <notifications@github.com> wrote:

[2018-08-13 03:17] jodylecompte opened #18010 "Managing Packages with Npm Lesson 1 - Bad link for "Get a Hint""
#### Describe your problem and - if possible - how to reproduce it
The "Get a Hint" button for the challenge Managing Packages with Npm - How to Use package.json, the Core of Any Node.js Project or npm Package leads to a 404 page.

#### Add a Link to the page with the problem
Challenge URL: https://learn.freecodecamp.org/apis-and-microservices/managing-packages-with-npm/how-to-use-package-json-the

[2018-08-13 04:59] linkbub commented on #18002
I think a warning or something could be helpful. I had noticed right away
that there wasn't much space to work with on my phone. I agree that
learning to code should be done from laptops and desktops. That's a rather
good reference about the Indy 500, maybe use that on the warning. Thanks
for getting back to me so quickly. I'll be working on the curriculum from
my laptop from now on.

On Sun, Aug

[2018-08-13 13:06] ValeraS commented on #18006
"Run The Tests" button does not work if you have syntax errors in your code.

[2018-08-13 13:49] HadrienAllemon commented on #18008
I don't think removing the line "The provided number may not be a prime." is the right solution. The line states that the provided number **may** be a prime, it does not say that it _won't_ be a prime, aka the provided number may or may not be a prime. However, including a bit of text that precise the line "sum all the primes numbers up to and including the provided number" might be usefull, for e

[2018-08-13 14:49] fendermaniac commented on #17338
I was able to get it to work.  Can't seem to recreate the issue.

[2018-08-13 14:49] #17338 closed

[2018-08-13 17:52] rmfranciacastillo commented on #18006
Running on:  Chrome 68 on Ubuntu 17.10

"Run The Tests" button returned feedback without any errors on the console.

[2018-08-13 18:10] sdabhi23 commented on #17767
![image](https://user-images.githubusercontent.com/25759344/44049530-042a998e-9f52-11e8-983f-9935b1d06f14.png)

@moT01 @nischaldutt @mtrivera looks like the issue has already been resolved!

[2018-08-13 18:31] nischaldutt commented on #17767
@sdabhi23  methods issue has been resolved but the Note below the description has not been added, as suggested by @moT01

[2018-08-13 18:52] Flarp commented on #14234
Any updates?

[2018-08-13 18:55] sdabhi23 commented on #17493
@raisedadead it looks like this issue has already been resolved, can you please confirm it?

Reference: www.freecodecamp.org/certification/sdabhi23/data-visualization

[2018-08-13 19:37] eald51893 commented on #18008
Thanks for your feedback. What do you think about my new proposed solution to improve the text?

[2018-08-14 02:49] mcelis13 commented on #17344
I would love to contribute to this issue if it is still unresolved.

[2018-08-14 03:48] sdabhi23 commented on #17767
@nischaldutt looks like no one has taken it up, so go right ahead!

[2018-08-14 04:09] sdabhi23 commented on #17559
@raisedadead @Manish-Giri has this issue been resolved? If not, I am interested in taking it up.

[2018-08-14 11:49] Felixr91 commented on #16304
Can anyone explain why the code doesn't work with "num++"?

`// the global variable
var fixedValue = 4;

// Add your code below this line
function incrementer (num) {
  return num+1;

  // Add your code above this line
}

var newValue = incrementer(fixedValue); // Should equal 5
console.log(fixedValue); // Should print 4`

[2018-08-14 11:51] Felixr91 commented on #16304
Can anyone explain why this code doesn't work with "num++"?

Thanks!

    // Add your code below this line
    function incrementer (num) {
    return num++;

    // Add your code above this line

[2018-08-14 14:27] DCapella commented on #17024
@Sneha0104 You have to change both of your `ReactDOM.render(, TypesOfFood);` to `<Fruits />` and `<Vegetables />`.

[2018-08-14 14:46] smartdev007 opened #18012 "Can't access the curriculum page on Firefox"
#### Describe your problem

Whenever I try to access the curriculum page on Firefox I get “Corrupted Content Error”. I can access it on chrome but can't access it on Firefox.

#### Tell us about your browser and operating system

* Browser Name: Firefox
* Browser Version: 61.0.2 (64-bit)
* Operating System: Windows 10

#### Screenshot

![screenshot 284](https://user-images.githubusercontent.com/16

[2018-08-14 16:28] Nirajn2311 commented on #18003
Issue moved to [freeCodeCamp/curriculum #248](https://github.com/freeCodeCamp/curriculum/issues/248) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-14 18:47] huyenltnguyen commented on #16304
@Felixr91 There are two ways to use the increment operator: `num++` and `++num`. The difference between them is when the value is returned. You can read about them here: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Arithmetic_Operators#Increment_()

To fix your code, you can either do
[code]
or
[code]

[2018-08-14 19:00] Nirajn2311 commented on #18012
Could a post a screenshot of your web console. The web console can be found at `Web Developer` in the menu or by clicking `Ctrl+Shift+K` .

[2018-08-14 20:02] evedes commented on #17976
try to employ .attr() instead of style()

[2018-08-15 00:13] fatimah5 commented on #17991
This is my first contribution, I would like to try to fix this problem by replacing the word
"comunicte us" to "communicate us".

Thank you.

[2018-08-15 01:51] #18003 closed

[2018-08-15 03:35] AngieJudilla commented on #16304
:)

On Wed, Aug 15, 2018 at 2:51 AM, Huyen Nguyen <notifications@github.com>
wrote:

[2018-08-15 04:00] Alvin-Voo opened #18013 "running `npm run only-once` throws error"
#### Describe your problem and - if possible - how to reproduce it
I'm installing FCC for the first time, I encountered the issue when running
[code]
error:

[code]
#### Add a Link to the page with the problem
There's no a page issue.

#### Tell us about your browser and operating system
This is not a browser issue.

* Browser Name: Chromium
* Browser Version: Version 68.0.3440.75 (Official Build)

[2018-08-15 05:08] Felixr91 commented on #16304
huyenltnguyen Thanks for sharing the increment page of MDN. I haven't reviewed this section in some time.

[2018-08-15 05:36] Nirajn2311 commented on #18012
Even after you refresh(keep it open).

[2018-08-15 05:43] smartdev007 commented on #18012
Yup...still nothing.

[2018-08-15 06:12] huyenltnguyen commented on #16304
@Felixr91 Glad I can help! To be honest, I had to revisit the page, too, after I saw your comment 😄

[2018-08-15 06:52] sanchitbansal10 commented on #18012
Working perfectly on mine...

    Browser Name: Firefox
    Browser Version: 61.0.2 (64-bit)
    Operating System: Ubuntu 18.0.4

[2018-08-15 07:26] huyenltnguyen commented on #18012
@smartdev007 How about doing a hard reload (Ctrl + F5)?

[2018-08-15 07:58] sanchitbansal10 opened #18014 "Academy Honesty Policy column should be removed from settings once accepted"
#### Describe your problem and - if possible - how to reproduce it
On the settings page, once Academy Honesty Policy is accepted should not the column be removed as the setting page is already very long..

#### Add a Link to the page with the problem
https://www.freecodecamp.org/settings

#### If possible, add a screenshot here

![image](https://user-images.githubusercontent.com/16536741/44137717-

[2018-08-15 08:07] smartdev007 commented on #18012
@huyenltnguyen Didn't work

[2018-08-15 08:13] Nirajn2311 commented on #18012
What type of connection are you getting? Is it https or http

[2018-08-15 08:17] smartdev007 commented on #18012
It's https

[2018-08-15 12:15] carlosvigil commented on #17481
_Applied Visual Design: Learn about Complementary Colors_
This challenge also uses outdated models of color theory.
Reference this site and various others that can be found with a search.
**http://www.huevaluechroma.com**

[2018-08-15 13:04] estebanborai commented on #17467
For me the solution here is to be able to hide the panels. Let the user choose the panel they want to see just like JSBin. This way we can reuse the current layout and be able to use it with the phone using the whole screen the way the user spects to use it. Letting you "turn off" the panels you dont want to use.

[2018-08-15 15:48] goncy commented on #17944
I wanted to create a PR for this but it looks like is already fixed on staging, can someone confirm?

[2018-08-15 17:43] kevinprakasa opened #18017 "Bad looks in accept privacy terms page"
I think this page looks pretty untidy. Gonna work on this PR to fix this little issue.

Here it is the screenshot:
![screenshot from 2018-08-16 00-32-47](https://user-images.githubusercontent.com/23476276/44163354-5c3d1380-a0ed-11e8-940a-535b2323ffd4.png)

[2018-08-15 17:53] randelldawson commented on #17941
I am closing this issue and moving it to the Curriculum issue list.

[2018-08-15 17:53] #17941 closed

[2018-08-15 21:46] johnkennedy9147 commented on #17546
In my opinion:
1. Lesson [attach-a-fallback-value-to-a-css-variable](https://learn.freecodecamp.org/responsive-web-design/basic-css/attach-a-fallback-value-to-a-css-variable) needs corrected
2. An additional lesson should be added after the lessons in screenshot below, lesson to show how to use this principle to form resilient css - ie fallback behaviour for css rules not understood by browser

![

[2018-08-15 21:49] johnkennedy9147 commented on #17307
@QuincyLarson see my email - however for this issue I think I saw something being done in another PR which has changed the navs - www, learn and settings are all now different

[2018-08-16 00:12] pdavidp opened #18018 "main not closed in Create a Form Element"
#### Describe your problem and - if possible - how to reproduce it
In [Basic HTML and HTML5: Create a Form Element](https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/create-a-form-element),  the last element is `<main>` but should be `</main>`

#### Add a Link to the page with the problem
[Basic HTML and HTML5: Create a Form Element](https://learn.freecodecamp.org/responsiv

[2018-08-16 04:03] extreme-developer commented on #17485
This is quite a critical bug I think. Anyone can fix this and make a pull requesst?

[2018-08-16 06:52] ooade opened #18019 "Discussion on Remove an Item from an Array Challenge"
#### The Problem
It's not much of a problem, rather than a feature request. The "Remove an Item from an Array" challenge IMO should allow users to use `.filter` method too, not only `.slice` and `.concat`. Although I haven't ran a benchmark on the two methods to see which one is well performant for that kind of problem.

#### https://learn.freecodecamp.org/front-end-libraries/redux/remove-an-item-

[2018-08-16 07:14] ooade commented on #18019
Ran the [benchmark](https://jsperf.com/filter-vs-slice-n-concat/1). Filter is faster!

[2018-08-16 07:55] cj-sv commented on #18012
I'm getting the same error when accessing any lesson from inside the curriculum page. Tested in safe mode as well.

- Browser Name: Firefox and Firefox Nightly
- Browser Version: 61.0.1 (64-bit), 63.0a1 (64-bit)
- Operating System: Ubuntu 18.04.1

[2018-08-16 08:10] huyenltnguyen commented on #18012
I was analyzing it and found that I will get the error if:
- I'm on a lesson page and hit refresh
- I visit a lesson page via a link, for example: https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements

I'm on Firefox 61.0.2, running on Windows 10.

@smartdev007 @cj-sv On what page did you get the error? If you go to http://learn.freecodecamp.org/ and

[2018-08-16 08:32] smartdev007 commented on #18012
@huyenltnguyen I get the error when I click on "Go to the coding curriculum". If I navigate to the curriculum tab on the top right corner, then I am signed out but can successfully access the page. If I try to sign in, then again I am back to where I was.

![screenshot 288](https://user-images.githubusercontent.com/16380239/44197433-300cab80-a15c-11e8-952d-574e9a77d95f.png)

[2018-08-16 08:40] cj-sv commented on #18012
@huyenltnguyen Yes, the error occurs when navigation to a lesson page.

[2018-08-16 09:02] huyenltnguyen commented on #18012
@smartdev007 Seems like you're having two issues at once here. One is the sign in issue and the other is the content not loading issue. Stupid question, but how did you know you were signed out? Because there is a 'Sign in' button at the top-right corner? There is a fix for it in the forum from awhile ago, I could do a quick search to get the link, if you need it.

The 'Go to the coding curriculum

[2018-08-16 09:28] smartdev007 commented on #18012
This and because none of my progress is saved.

Yes, I can access it from there but as I said, site logs me out if I try to access the curriculum page via that link.

[2018-08-16 09:35] VukMNE commented on #17882
I had a similar situation.
My solution was /[A-Za-z]{2,}/; And if the tests were more accurate, I wouldn't be able to pass the challenge.
There needs to be at least one test where the numbers are at the begining of the username, or in the middle of it.
I think that the challenge is good, and we shouldn't get an easy pass.

[2018-08-16 09:49] huyenltnguyen commented on #18012
@smartdev007 Here is the solution I mentioned earlier: https://forum.freecodecamp.org/t/i-can-log-into-freecodecamp-org-but-it-logs-me-out-at-learn-freecodecamp-org/194036/47. I know the poster said the issue has been fixed, but what you're experiencing looks the same, so it's worth a try. Hope it works for you.

---
@cj-sv Any error in the browser console? Sometimes addons can cause unexpected be

[2018-08-16 10:14] cj-sv commented on #18012
@huyenltnguyen Woops, forgot to comment on this. Nope, there aren't any outputs in the console. I've been testing on both add-ons enabled and safe mode with all add-ons disabled.

[2018-08-16 10:39] huyenltnguyen commented on #18012
@cj-sv I'm wondering if clearing cookies works, but you will be signed out and need to re-login, though. I can't think of any way else to fix the issue, so if you still don't get any luck, my last resort would be switching to Chrome :(

[2018-08-16 11:37] cj-sv commented on #18012
@huyenltnguyen Oh hey, this may be noteworthy. I noticed I've always been accessing each challenge by opening it in a new tab (via middle click and/or right click). Turns out opening a challenge on a new tab causes the error for me.

Everything seems to work when I access a challenge on the same tab (via left click).

But the "go to coding curriculum" button on the welcome page still gets the erro

[2018-08-16 11:50] huyenltnguyen commented on #18012
@cj-sv Oh great! So glad it (sort of) works out for you eventually 😄
I think it's a Firefox issue, since Chrome and even Edge have no problem with FCC.

[2018-08-16 12:16] smartdev007 commented on #18012
@huyenltnguyen Thanks for the link, but didn't work for me. And...that corrupted content error is back again :(

[2018-08-16 12:50] huyenltnguyen commented on #18012
@smartdev007 So @cj-sv confirmed earlier that accessing the curriculum page via the 'Go to the curriculum' button gives us the error. I don't know if you used that button, but if you did, try visiting the curriculum directly using the link https://learn.freecodecamp.org,

If you still get logged out when visiting the curriculum, let's try log out and re-login to https://www.freecodecamp.org, then

[2018-08-16 12:58] huyenltnguyen commented on #17944
@goncy Yep, the issue was fixed here: https://github.com/freeCodeCamp/curriculum/pull/189.

The reason the issue still occurs is because the UI has not been updated to use the latest curriculum version. They were broken up into separate components and the UI needs to import the curriculum in order to use it. The fix for this issue is in the curriculum version 3.1.2, while the UI is still using ver

[2018-08-16 13:03] smartdev007 commented on #18012
It's also worth trying to clear cache and cookies and re-try the logging in steps.

@huyenltnguyen It worked, thanks! :D

Though 'Go to the curriculum' button is still broken and needs to be fixed.

[2018-08-16 13:36] huyenltnguyen commented on #18012
@smartdev007 Phew so glad you're in now! Just curious, how did you do it? Just logged out and logged in again or did you have to clear cache and cookies too?

While you're here, could you give some confirmation on these cases when the error occurs:
- If you're on the challenge page and hit refresh
- If you're on the https://learn.freecodecamp.org/ and open a challenge in a new tab (credit to @cj-s

[2018-08-16 14:18] smartdev007 commented on #18012
@huyenltnguyen I did both the steps. First I logged out of the FCC and then cleared the cache and cookies. Then I went to https://www.freecodecamp.org/ and logged in. After that, I accessed the challenges using this link: https://learn.freecodecamp.org/ and it worked.

I had already tried clearing cookies and cache before creating this issue but didn't follow the steps that you mentioned here.

An

[2018-08-16 15:39] huyenltnguyen commented on #18012
@smartdev007 Thanks a lot for the info on the steps to login and for updating the original post. It looks good to me. I'll try looking into the issue over the weekend, see if I could find the cause.

Anyway, happy coding!

[2018-08-16 15:42] Nirajn2311 commented on #18014
@sanchitbansal10 I don’t think it is better to remove it once it is accepted but we can change it to drop down so that if anyone wants to read it they can do so without any trouble.

[2018-08-16 16:51] sidemt commented on #17660
Thank you @moT01 I can change my email now. Closing the issue.

[2018-08-16 16:51] #17660 closed

[2018-08-16 18:59] thecalicoder opened #18020 "Challenge giving error for right answer."
For the challenge in applied visual design where I insert an `hr` tag between the title and paragraph, I did exactly that and I'm getting the error, "The hr tag should come between the title and the paragraph."

[Link to challenge](https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-a-horizontal-line-using-the-hr-element)

* Browser Name: Chrome
* Browser Version: Ver

[2018-08-16 19:00] huyenltnguyen commented on #18012
Okay, I think I know why we got the 'Corrupted Content Error' here. It doesn't matter how we access a challenge page. The thing that matters is the challenge page url.

If you go to https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements, you will get the error. But if you add a trailing slash `/` to the url, it works. Chrome and Edge automatically add

[2018-08-16 21:48] Berkeley19 commented on #18000
I'll try and send a pr soon for this

[2018-08-17 01:59] abhi0111 commented on #2834
Use this
h2 {
    font-family: Lobster;
  }

[2018-08-17 03:09] cj-sv commented on #18012
@huyenltnguyen Firefox 61.0.1 and Firefox Nightly 63.0a1 adds the trailing slash for me automatically. Though, all the previous test cases seems to be working now. We'll need @smartdev007 to confirm.

[2018-08-17 06:05] #18019 closed

[2018-08-17 06:26] #18020 closed

[2018-08-17 06:27] thecalicoder commented on #18020
Found a suggestion when I clicked use a hint. :P

[2018-08-17 06:35] #18012 closed

[2018-08-17 10:15] huyenltnguyen commented on #18012
@smartdev007 @cj-sv It's working for me, too. I guess it's a temporary issue of Firefox then.

Thanks for being through all the hassle with me. Have a nice weekend and happy coding!

[2018-08-17 12:12] Abhay1090 opened #18021 ""Go to Coding Curriculum" is down"
Website is down after clicking on "Go to Coding Curriculum" from Landing page.

[2018-08-17 16:40] krbrennan commented on #17991
This is a duplicate of issue #244. I submitted changes to this one but some other zealot fixed 50 typos so this current issue is either fixed or will be fixed very shortly.

[2018-08-17 16:55] ScGPS commented on #14618
Modify
[code]
to
[code]
It will run test successfully.

[2018-08-17 20:00] JohnTendik commented on #18017
Related:
https://github.com/freeCodeCamp/freeCodeCamp/issues/18000

Someone is working on a PR I think.

[2018-08-18 00:36] arblalock opened #18023 "Nasdaq Stock Price Checker Glitch Example not working"
The current glitch example  (https://giant-chronometer.glitch.me/) for the [Information Security and Quality Assurance  - Stock Price Checker](https://learn.freecodecamp.org/information-security-and-quality-assurance/information-security-and-quality-assurance-projects/stock-price-checker) project is not currently working.

I have not looked too deeply into the project yet, but this [FCC forum thre

[2018-08-18 14:28] Em-Ant commented on #17131
@jonathan-grah sorry I'm quite busy this month, please open a PR. My main concern was not about file metadata (even if it uses the new fetch api to simulate a file uplad). The url redirect needs other glitch projects running to check if the redirect works, and both that one and the exercise tracker would need to store something in a global object to pass the data across tests. I don't know if it's

[2018-08-18 15:13] HadrienAllemon commented on #17868
It's working on my end with windows 10 and chrome. Could you try again and paste the whole code ?

[2018-08-18 17:45] fcoteur commented on #17744
Still having the issue, even after changing the dependency to 4.3.0

[2018-08-18 20:35] QuincyLarson commented on #17131
@jonathan-grah Sounds good. Thanks for looking into this and looking forward to your PR :)

[2018-08-18 20:36] QuincyLarson commented on #17307
@johnkennedy9147 Yes - we're trying to make the navigation universal across different services. We will add the settings button to the nav when we do so.

[2018-08-18 20:39] QuincyLarson commented on #14234
@Flarp Thanks for your patience.

@beaucarnes could you get this running locally and take a look at the new ES6-related challenges and make sure you can get follow the directions and get them to pass? Also please see if you can make the instructions and test descriptions as clear and concise as possible.

[2018-08-18 20:41] QuincyLarson commented on #17155
@devocija-it OK - sounds great! I've added the in-progress label and am looking forward to seeing your fix for this!

[2018-08-18 20:42] QuincyLarson commented on #17450
@jgibson02 Awesome! Thanks for helping create these excellent user stories. I will work with @Bouncey on the CORS issue.

[2018-08-18 20:45] QuincyLarson commented on #17869
@utsab Yes - I've assigned this issue to you. Good luck, and thank you for keeping us posted on your progress :)

[2018-08-18 20:46] #16649 closed

[2018-08-18 20:48] QuincyLarson commented on #16445
@tomasvn have you had a chance to start working on this yet? If not, @borisyordanov Yes - we would welcome your contributions with this.

[2018-08-19 00:33] boudlal opened #18024 "an object after sign in"
after i signed in and i accept the new privacy terms ..  the website return an object like that :

![sans titre](https://user-images.githubusercontent.com/13233658/44304286-d2d94b80-a34f-11e8-8636-598354ab476b.png)

[2018-08-19 00:46] thecalicoder opened #18025 "Typo: Children don't inherit backgrounds"
#### Describe your problem and - if possible - how to reproduce it
Not really an issue but it threw me off. In the visual design challenge linked below, the second paragraph states that the navigation bar inherits its background from the header. Well I wondered so I set the position of the navigation to relative and the top to 20px (and the header text color black so you can see the white text aga

[2018-08-19 04:33] LovelyEmma commented on #17965
class TypesOfFood extends React.Component {
constructor(props) {
super(props);
}
render() {
return (
<div>
<h1>Types of Food:</h1>
{ /* change code below this line */ }
<Fruits />
{ /* change code above this line */ }
<Vegetables />
</div>
);
}
};

[2018-08-19 09:37] tomasvn commented on #16445
@borisyordanov sorry for delay, sure go ahead I have some problems running dev env on windows, so you can start, when I fix my stuff I can help you refactor it

[2018-08-19 15:48] #17931 closed

[2018-08-19 16:39] IvandCodes commented on #17741
I experience the same issue.
Currently I am working through the "Javascript Algorithms And Data Structures Certification (300 hours)"

However, whenever I open the Curriculum page, I am always showed the "HTML and HTML5" section (expected to show the Javascript section).

Cleaning cookies, logging out and in, "Empty Cache and Hard Reload" do not work.

[2018-08-19 17:41] fcoteur commented on #17744
Hey @raditotev, Thanks for pointing me to the error log: I have found my mistake and it is not working as expected.

I made a copy-paste mistake from previous test and actually told Zombie to test with .fill('surname', 'Colombo') in stead of .fill('surname', 'Vespucci'). The result of the test (all green but one) lead me to think that the .fill was actually not the problem, as the output was corre

[2018-08-19 21:10] vallode commented on #18025
Interesting wording. It wouldn't be right to say the children of an element inherit its background color.
The initial value of `background-color` is `transparent`  [MDN docs](https://developer.mozilla.org/en-US/docs/Web/CSS/background-color)

The simplest solution to this would just be a change of wording

[2018-08-19 22:22] KemPavel opened #18028 "impossible to pass the test 'The anchor tag color should remain black' even though I didn't change it"
Hello,
It seems impossible to pass a test "The anchor tag color should remain black, only add CSS rules for the :hover state." I just added a following strings below the existed link styling:
`  a:hover {
    color: blue;
  }`
I didn't change anything existed.

Challenge - https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/adjust-the-hover-state-of-an-anchor-tag

Here is a

[2018-08-19 23:51] BryantCabrera commented on #17944
exact same thing still happening to me.
<img width="1074" alt="screen shot 2018-08-19 at 4 43 03 pm" src="https://user-images.githubusercontent.com/42524809/44314630-0eb3f580-a3d0-11e8-8d54-557b12016645.png">

Tried the solution from a comment above saying to put the <em> tags outside of the <p> tags, and it worked.  Thank you! :]

[2018-08-20 01:32] ntrupin commented on #18028
Maybe change the hexidecimal #000 to “Black”?

[2018-08-20 03:51] RyanHaire commented on #17648
Same problem.
Chrome Version 68.0.3440.106 (Official Build) (64-bit)
macOS Sierra 10.12.6

[2018-08-20 05:05] dudebrohellasick commented on #11346
Ya i just got done reading another github convo about this and i just passed it with your help @jorgemonte
I saw that period " . " and i slipped that into my code, it worked perfectly and now i can move on with my learning thanks aton bro

[2018-08-20 05:06] huyenltnguyen commented on #17648
@RyanHaire Could you check if there is any error in the browser console?

[2018-08-20 05:59] #18028 closed

[2018-08-20 07:28] Stef733 commented on #18017
PR submitted

[2018-08-20 08:47] rolandjo commented on #17944
I can confirm also that the workaround is to switch the tags 'p' and 'em' like below:
` <h4>Alphabet</h4>
<hr>
      <em><p>Google was founded by Larry Page and Sergey Brin while they were <u>Ph.D. students</u> at <strong>Stanford University</strong>.</p></em>`

despite the fact that the right solution should be as follow:
`<h4>Alphabet</h4>
<hr>
      <p><em>Google was founded by Larry Page and S

[2018-08-20 11:33] box3x4 commented on #18024
same happened with me

[2018-08-20 15:13] moT01 commented on #17869
<img width="968" alt="screen shot 2018-08-20 at 10 08 04 am" src="https://user-images.githubusercontent.com/20648924/44348816-25565d00-a461-11e8-8725-1adeaf6f569f.png">

@utsab `september 30, 2016` is long enough that it wraps to a second line, not a big deal but you could consider giving that a little more space so it doesn't wrap like that

[2018-08-20 16:53] Tunde-James opened #18030 "hr element bug"
#### Describe your problem and - if possible - how to reproduce it

Hello, I’m having some trouble with the code editor not accepting my answer though I am almost certain it’s correct. The instructions are to add a horizontal rule between the h4 and p elements, but an error appears each time reading “the hr tag should appear between the title and the paragraph”. Am I doing something wrong?

The co

[2018-08-20 19:48] ayerik commented on #18030
A screenshot showing your code would help people spot the error.
________________________________
From: Tunde-James <notifications@github.com>
Sent: Monday, August 20, 2018 1:54:40 PM
To: freeCodeCamp/freeCodeCamp
Cc: Subscribed
Subject: [freeCodeCamp/freeCodeCamp] hr element bug (#18030)

Describe your problem and - if possible - how to reproduce it

Hello, I’m having some trouble with the code e

[2018-08-20 21:43] WayneRyan commented on #16091
I am having the same problem. I have completed all tasks and projects and the "Responsive Web Design Certification" but did not get a certificate. My projects are at wayneryan.net
I'd like to advertise my cert on Facebook and LinkedIn. Can someone get this fixed for me?

[2018-08-20 21:54] eklavyus commented on #17788
This works for me for today: 21-08-2018
No Bugs for: template strings were used
const resultDisplayArray = arr.map(err => `<li class="text-warning">${err}</li>`);

[2018-08-20 23:53] Johnny2136 commented on #17788
Worked for me as well! Way to go FCC! ✨

[2018-08-21 02:43] snehansh opened #18031 "Code vulnerabilities"
#### Describe your problem and - if possible - how to reproduce it
There are 237 vulnerabilities (97 low, 99 moderate, 39 high, 2 critical).
I want to try to fix a few.

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If possible, add a screenshot here

![image](https://user-images.gith

[2018-08-21 06:11] mrvkv commented on #17788
passed the test case. Now I think issue is solved. Thanks

[2018-08-21 06:50] tyler-otj commented on #17761
Your "cheat" is the most similar cheat solution to mine, so I figured I'd post here..
You can omit the \w and it will still work. I passed all tests with:
``let userCheck = /[a-zA-Z]/ig; // Change this line``

[2018-08-21 07:40] Asjas commented on #18030
@Tunde-James This is a duplicate issue. There is already a issue opened a week ago in the [Curriculum Repo](https://github.com/freeCodeCamp/curriculum/issues/247). https://github.com/freeCodeCamp/curriculum/issues/247

The issue has been fixed but it needs to be pushed to production for the fix to be applied.

[2018-08-21 10:11] #17991 closed

[2018-08-21 13:12] danielrlc opened #18034 "Small syntax error in CSS grid section: repeat(3, minmax(60px, 1fr));"
#### Describe your problem and - if possible - how to reproduce it
The instructions on this page say this:

In the preview, grid-template-columns is set to
repeat(auto-fill, minmax(60px, 1fr));

But the code window has this:
`/* change the code below this line */
grid-template-columns: repeat(3, minmax(60px, 1fr));
/* change the code above this line */`

Can someone confirm if this is just an erro

[2018-08-21 14:17] gvsrusa opened #18035 "It's also better to check the output as well"
#### Describe your problem and - if possible - how to reproduce it

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If possible, add a screenshot here

[code]

[2018-08-21 14:50] gvsrusa commented on #17436
Yeah. The test should pass even if the solution is one of the following.
[code]
--------------------------------------------------------
[code]
import { capitalizeString } from './string_functions';

"use strict";
capitalizeString("hello!");
[code]

[2018-08-21 16:44] hbar1st opened #18036 "pomodoro test suite is too strict when checking for break-length, session-length and reset content"
#### Describe your problem and - if possible - how to reproduce it
in this sample codepen created for the pomodoro clock challenge, the test suite fails to identify input fields that are being used to hold the break-length, session-length and to house the reset button.
https://codepen.io/hbar1st/pen/XPJKKo?editors=1100

This tells me the suite checks are too narrow in scope as they do not allow th

[2018-08-21 17:46] km-py opened #18037 "Build a Personal Portfolio Webpage user story 11 problem"
This is the error am getting.
Everything is working fine on my page.

Error:
3.The navbar should always be at the top of the viewport.
Script error. (:0)
Error: Script error. (:0)
at uncaughtException.i.onerror (https://cdnjs.cloudflare.com/ajax/libs/mocha/5.2.0/mocha.min.js:1:865 1)

 code so far
https://codepen.io/km-py/pen/wxVpLz?editors=0100 1

browser information:

User Agent is: Mozilla/5.0

[2018-08-21 20:27] ArielLeslie commented on #18002
As per the [manaco editor FAQ](https://github.com/Microsoft/monaco-editor/blob/master/README.md#faq)

the only way to interpret the grammars and get anywhere near original fidelity is to use the exact same regular expression library (with its custom syntax constructs)
in VSCode, our runtime is node.js and we can use a node native module that exposes the library to JavaScript
in Monaco, we are cons

[2018-08-21 20:37] Nirajn2311 commented on #18034
@danielrlc yeah, it is a typo error.

[2018-08-21 20:38] Nirajn2311 commented on #18035
@gvsrusa what exactly is your problem, also could you post more details?

[2018-08-21 20:48] gvsrusa commented on #18035
[code]
It passes the test with the above code. i.e without even having the constructor.
It will be great to have a test case for checking the output as well rather than only the syntax.

[2018-08-21 21:06] Nirajn2311 commented on #18037
@km-py you have made two `nav ul` properties. The first one should use your navbar which is an id in your html.

[2018-08-22 01:01] msforbes09 opened #18038 ""Run the tests" button doesn't work"
#### Describe your problem and - if possible - how to reproduce it

"Run the tests" button doesn't work properly
#### Add a Link to the page with the problem

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/accessing-nested-objects
#### Tell us about your browser and operating system

* Browser Name: Google Chrome
* Browser Version: Version 68.0.3440.106 (

[2018-08-22 01:05] ayerik commented on #18038
This "bug" is usually caused by your code being invalid.  In your case, try removing the , or . that's after the = in the line that starts with var gloveBoxContents =.  Stray characters are one of the most common bugs in code and can break everything.
________________________________
From: Arnel Forbes <notifications@github.com>
Sent: August 21, 2018 10:02 PM
To: freeCodeCamp/freeCodeCamp
Cc: Subs

[2018-08-22 01:17] msforbes09 commented on #18038
im sorry for the "dot" after equals during screenshot but its still dont work even dot is ommited.

[2018-08-22 03:13] joshalling commented on #17546
I'd like to work on this.

[2018-08-22 03:59] danielrlc commented on #18034
@Nirajn2311 Thanks for confirming. I'll get this corrected.

[2018-08-22 06:46] KaaviyaB commented on #15402
still the same error is persisting...It is showing that
The div element should have a linear-gradient background with the specified direction and colors.

[2018-08-22 06:47] KaaviyaB commented on #15402
Thanks. Now the error did not appear after changing the casing of the background colors.

[2018-08-22 08:31] ValeraS commented on #18036
Issue moved to [freeCodeCamp/testable-projects-fcc #548](https://github.com/freeCodeCamp/testable-projects-fcc/issues/548) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-22 11:34] Aks1610 opened #18039 "Error: Cannot find module 'babel-register' while seeding database"
Getting below error while executing
"npm run prelint-js && echo '/****/' && echo 'Seeding Database' && echo '/****/' && SEEDING=true node seed/index.js && echo '/****/' && echo 'Seeding Completed' && echo '/****/'"
in git BASH

![image](https://user-images.githubusercontent.com/13673447/44460861-559e2700-a62c-11e8-9ccf-e8d3248b0957.png)

[2018-08-22 12:27] jdahdah opened #18040 ""Resume curriculum" link on homepage results in 404 error"
#### Describe your problem and - if possible - how to reproduce it

The "Go to the coding curriculum" button on the homepage currently points to this non-existant page:

https://learn.freecodecamp.org/front-end-libraries/react/set-state-with-this.setstate

when it should be pointing here:

https://learn.freecodecamp.org/front-end-libraries/react/set-state-with-this-setstate/

Looks like the `.` in

[2018-08-22 13:49] vuongggggg commented on #17291
Crash on Chrome 68.x when typing.
But if I copying the code from example to the practice editor and edit, it will not be crashed.

[2018-08-22 17:01] #18017 closed

[2018-08-22 20:03] nathanhannig commented on #18040
Nice find, this also impacts
https://learn.freecodecamp.org/front-end-libraries/react/access-props-using-this-props

[2018-08-22 21:26] nathanhannig commented on #18040
Found the issue

freeCodeCamp and learn repos have dasherize functions that do not match.
**_\freeCodeCamp\server\utils\index.js_**
[code]
**_\learn\utils\index.js_**
[code]
There also appear to be a **dashify** function in \freeCodeCamp\common\utils\index.js that appears like it needs to also be updated.

My concern is the periods are being turned to dashes, but they both repo's also have **unDas

[2018-08-22 21:26] marthehe commented on #17944
Yep! Switching tags 'p' and 'em' is working :)  Thanks guys!

[2018-08-22 21:29] nathanhannig commented on #18024
can you tell us the url address

[2018-08-22 22:17] nathanhannig commented on #17962
might be an odd issue with the ocde not taking you to the first cirriculium
try this link
https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements

[2018-08-22 22:19] boudlal commented on #18024
i don't remember the url address.
but after i accepted the new privacy terms  the website return the object above instead of redirect me to the home page,

[2018-08-22 23:17] pdavidp opened #18041 "Test not working in "Create a Horizontal Line Using the hr Element""
#### Describe your problem and - if possible - how to reproduce it
The test "The hr tag should come between the title and the paragraph." is always failing in Applied Visual Design: Create a Horizontal Line Using the hr Element. I tried adding \<hr>, \<hr/> and \<hr /> in line 31 but that doesn't work.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-desi

[2018-08-22 23:34] JohnnyBizzel commented on #17570
I just tried the 1st challenge and got stuck
[code]
However, I notice the issue is solved by removing extra space like so in the last style declaration:
[code]

[2018-08-23 01:10] mustafa-mustafa commented on #18041
تئكد من وجود الفوارز والنقط غير مرغوب بها

[2018-08-23 01:25] box3x4 commented on #18024
![screenshot from 2018-08-20 08-28-31](https://user-images.githubusercontent.com/11823051/44499462-5057d100-a65a-11e8-9585-44822f3d1684.png)

[2018-08-23 04:29] Nirajn2311 commented on #18041
<hr /> is for xhtml but over here we are using html.

Duplicate of #17944 , so could you please close this issue?

[2018-08-23 05:06] scissorsneedfoodtoo commented on #18041
@pdavidp, thank you for reporting this. Will close this since it's a duplicate of #17944 where a workaround is also posted.

[2018-08-23 05:06] #18041 closed

[2018-08-23 06:59] #18018 closed

[2018-08-23 07:26] #17952 closed

[2018-08-23 07:32] raisedadead commented on #18000
Fixed in #18027

[2018-08-23 07:32] #18000 closed

[2018-08-23 13:03] zberwaldt commented on #13157
@QuincyLarson can I take a crack at it?

[2018-08-23 15:09] stephshea commented on #17984
I am in RI in the US. The curriculum works at home but not at some other locations
![image](https://user-images.githubusercontent.com/32396414/44534032-dad51a80-a6c4-11e8-92a6-f83a4feb8121.png)

[2018-08-23 15:49] rmfranciacastillo opened #18042 "ES6: Use Destructuring Assignment (Test does not recognize solution)"
#### Describe your problem and - if possible - how to reproduce it
On Problem: ES6: Use Destructuring Assignment to Assign Variables from Nested Objects

I've added the solution` const { tomorrow: { max: maxOfTomorrow } } = LOCAL_FORECAST;`

as explained in the hints but the second test: `nested destructuring was used` does not recognize the nested destructuring

#### Add a Link to the page with t

[2018-08-23 17:31] joshalling commented on #18042
@rmfranciacastillo It looks like you are destructing the constant rather than using the passed parameter in your function. Change `LOCAL_FORECAST` to `forecast` and you should be good.

[2018-08-23 17:34] dsandeepchary opened #18043 "Text conveying wrong information.Lock an Element to the Browser Window with Fixed Positioning"
[Lesson](https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/lock-an-element-to-the-browser-window-with-fixed-positioning) in the curriculum has a wrong typo which conveys wrong information, i.e, Written 'absolute' where it should be 'fixed' in the second paragraph.

[2018-08-23 19:06] TomerPacific commented on #18043
@dsandeepchary ,
I actually don't think this is a typo.
The first paragraph explains the use and meaning of the position attribute of fixed,
The second paragraph elaborates more on this issue by stating that as opposed to absolute positioning, the fixed positioning locks the element in it's place.

[2018-08-23 19:39] rmfranciacastillo commented on #18042
That makes sense.

I was testing it following the hints in here: https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-variables-from-nested-objects.

It was a little misleading though.

[2018-08-23 19:39] joshalling commented on #18043
@TomerPacific I think you are correct, however the wording is a little bit ambiguous. It might be good to clarify it like this:

[2018-08-23 20:49] TomerPacific commented on #18043
@joshalling,
you mind if I go ahead and fix this issue?

[2018-08-23 20:55] joshalling commented on #18042
You're right. The solution given in the hint is incorrect. I just created an issue in the guide repo to get that fixed (freeCodeCamp/guide#8416). Also, if anyone wants to add another test that passes a different object as the `forecast` that would be a welcome change.

[2018-08-23 21:03] joshalling commented on #18043
@TomerPacific Go right ahead! :+1: :+1:

I'll keep an eye out for your pull request.

[2018-08-24 02:08] nathanhannig opened #18045 "Applied Visual Design: Adjust the Height of an Element Using the height Property - correct solution does not pass"
#### Describe your problem and - if possible - how to reproduce it
When you provide the correct code the test still fails, this is do to the tests passing the true height of the element and not what the CSS is set to. This issue occurs mainly on smaller resolutions because the height of the element is smaller and converted by the browser.

In my Dev Tools it was saying the true height of the eleme

[2018-08-24 03:26] lalov1 opened #18046 "Debugging: Use typeof to Check the Type of a Variable"
There is a spelling error on the following page:
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/debugging/use-typeof-to-check-the-type-of-a-variable

The following sentence:
Especially take care when you're accessing and working with external data in the form of a JavaScript object (JSON).

Should read:
Especially ~~take care~~ when you're accessing and working with exter

[2018-08-24 03:51] joshalling commented on #18046
@lalov1 I think it is a little bit more clear if you say:

The challenge seed code lives in the **freeCodeCamp/curriculum** repo. If you would like to make this change, then follow the steps in the [CONTRIBUTING.md](https://github.com/freeCodeCamp/curriculum/blob/dev/docs/CONTRIBUTING.md) guide to get yourself set up. If you have any questions, feel free to reach out to me on [gitter](https://gitt

[2018-08-24 04:02] omurbekjk opened #18047 "Proposal: Add NoSql schema design tutorial?"
#### Describe your problem and - if possible - how to reproduce it
I learned a lot from freecodecamp, but now in my opinion freecodecamp is good for beginners.
It will be very good to add advanced tutorials:

1. `NoSql` schema design tutorial from simple to scalable
2. CI/CD and deploy nodejs app
3. Software Architecture design from scratch with real world examples

[2018-08-24 05:16] lightcowboy commented on #18046
Is this available to fix. I wouldn't mind starting with something like this just to start looking into the code.

[2018-08-24 05:58] TomerPacific commented on #18043
@joshalling ,
I have created a [PR](https://github.com/freeCodeCamp/curriculum/pull/268)

[2018-08-24 07:33] Nirajn2311 commented on #18046
@joshalling I think it should be
**Be careful especially**

[2018-08-24 09:04] medhatrinky commented on #12091
They are saying to use newline character, why are you using carriage character? Everything is correct except the case sensitivity part. "FirstLine\n\t\\SecondLine\nThirdLine". For this, I got accepted.

[2018-08-24 10:52] Hacky09 commented on #3357
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text{
    font-size: 16px;
    font-family: monospace;
  }
   h2{
    color: red;
    font-family: Lobster;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>
<main>
  <p class="red-text">Click here to view more <a href="#">cat photos</a>.</p>

  <a href="#"><img src="https://bit.ly/fcc-r

[2018-08-24 12:25] #18043 closed

[2018-08-24 12:48] spieg commented on #12091
Hi medhatrinky,

Since the start of this discussion, the lesson has changed. The Original lesson is included in the first post. The carriage return character has been removed from the newest version of the lesson.

What does surprise me is that you goy away with a single backslash in fromt of SecondLine, as the testcases show:
SecondLine should be preceded by the backslash character \\

[2018-08-24 13:54] lalov1 opened #18048 "Regular Expressions: Find One or More Criminals in a Hunt"
In the freeCodeCamp console there are `<em>` tags for the test check. Should they be there?

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions/find-one-or-more-criminals-in-a-hunt

* Browser Name: Firefox
* Browser Version: 61.0.2
* Operating System: Windows 10

![screenshot_2018-08-14 regular expressions find one or more criminals in a hunt learn freecod

[2018-08-24 14:01] ojeytonwilliams commented on #17988
Yep, the issue is that the third test sets some state, then waits 250ms before resolving and then repeats itself, waiting for a total of at least 500ms. If the user defined timeout is around that mark it can overwrite the state causing the test to fail.

I think I can fix this, but the changes will need to go into the curriculum repository.

[2018-08-24 15:39] psyperl opened #18049 ""Responsive Web Design Principles: Create a Media Query" test is not forgiving."
#### Describe your problem and - if possible - how to reproduce it
"Responsive Web Design Principles: Create a Media Query" test is not forgiving.

the test wouldn't pass
[code]

it would only pass
[code]

difference is an extra spaces inside the parenthesis.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-principles/create-a

[2018-08-24 15:48] Horcrux-Saniya opened #18050 "Won't run tests"
I am trying to use freeCodecamp but the tests won't run. It happens on any and every challenge

Browser Name: UC Browser
Browser Version: 7.0.185.1002
Operating System: Windows 7 Ultimate

If I press ctrl+shift+J
The following window appears

![ghprob](https://user-images.githubusercontent.com/27635126/44594217-2382f580-a7e3-11e8-82ea-d738f57f799b.png)

[2018-08-24 16:01] #18037 closed

[2018-08-24 16:19] psyperl commented on #18049
I just realized that the learn repo is separated from main repo now..
So i created the corresponding issue in the learn repo.

[2018-08-24 16:19] #18049 closed

[2018-08-25 03:01] huyenltnguyen commented on #18048
@lalov1 Go for it! You will need to head over to the [curriculum repo](https://github.com/freeCodeCamp/curriculum), follow its [Contributor's Guide](https://github.com/freeCodeCamp/curriculum/blob/dev/docs/CONTRIBUTING.md) and submit a PR there.

It's gonna be a bit tricky to review your changes on your local machine, so feel free to ask for help in the [Contributors Gitter room](https://gitter.im

[2018-08-25 05:10] TomerPacific commented on #18045
I would like to take this issue, if anyone doesn't have any objections.

[2018-08-25 06:03] Horcrux-Saniya commented on #18050
@randelldawson Chrome, Chromium these browsers are not working on my system.
I have tried to use internet explorer too but in vain

[2018-08-25 07:01] huyenltnguyen commented on #18050
@Horcrux-Saniya I'm not sure about UC Browser, but I have seen a number of reports of FCC behaving unexpectedly or not working at all on IE / Edge and Safari.

FCC works best on latest versions of Chrome and Firefox. So if Chrome doesn't work for you, give Firefox a try maybe?

[2018-08-25 07:41] #17155 closed

[2018-08-25 12:11] kuhlekt1v commented on #17868
Thanks for looking into it for me. I actually got it to run as well  simply by closing the browser and reopening it.

[2018-08-25 12:11] #17868 closed

[2018-08-25 14:42] kundankumar26 commented on #18050
is your pc/laptop old?

[2018-08-25 14:46] kundankumar26 commented on #18030
there is a bug in that code. you just put "p" tag after the "em" tag and it will pass the run test.

[2018-08-25 15:04] Horcrux-Saniya commented on #18050
@huyenltnguyen Thanks for the help but even firefox is not working on my system.

[2018-08-25 15:18] kundankumar26 commented on #18050
then use windows in a virtual box  and then install chrome in it. That will work for you.

[2018-08-25 19:48] Ali1968 commented on #16377
Hi my solution
function  truncateString(str, num){
//clear out that junk in your trunk
var truncat = "";
if (str.length>num){
truncat = str.slice(0,num) + "...";
return truncat;
}
return str;
}

[2018-08-25 23:29] Glogang9 opened #18051 "6"
#### Describe your problem and - if possible - how to reproduce it

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If possible, add a screenshot here

[2018-08-26 04:33] Nirajn2311 commented on #18051
@Glogang9 could you provide more details of your issue?

[2018-08-26 05:45] #17546 closed

[2018-08-26 09:32] devocija-it commented on #17803
@Bouncey i would like to work on this issue if nobody is working on it currently.

[2018-08-26 13:28] huyenltnguyen commented on #18050
@Horcrux-Saniya Sorry it's still not working for you, but by 'not working', do you mean it showed an error during the installation? It would be great if you could provide some screenshots.

[2018-08-26 14:09] Horcrux-Saniya commented on #18050
@huyenltnguyen No there isn't any problem during installation, It gets installed successfully. But after that even the google.com page doesn't open in that browser.
Browsers not working are: Firefox, Chrome, Chromium, Opera.

[2018-08-26 16:00] huyenltnguyen commented on #18050
@Horcrux-Saniya Could you upload a screenshot of Firefox or Chrome user interface when accessing google? A screenshot of the browser console would also be helpful.

It's also worth a try to check if your firewall is blocking the browsers from accessing the internet.

[2018-08-27 05:05] drex44 commented on #12699
the issue is back with `@for` and `@each`.
![screenshot_2018-08-27 sass use for to create a sass loop learn freecodecamp](https://user-images.githubusercontent.com/5825883/44641510-da9a8f00-a9e4-11e8-85cc-3fa7b51b9492.png)

![screenshot_2018-08-27 sass use each to map over items in a list learn freecodecamp](https://user-images.githubusercontent.com/5825883/44641479-ba6ad000-a9e4-11e8-9655-33014b2

[2018-08-27 06:58] Brown1ee commented on #17387
This code help me to pass the lesson
![capture-20180827-095639](https://user-images.githubusercontent.com/42550136/44645239-a4a6dc00-a9df-11e8-9c40-aadc52373ff6.jpg)

[2018-08-27 10:44] #18051 closed

[2018-08-27 10:58] ksaimohan2k commented on #18051
Sir I'm interested in c language proficiency
I'm interested if u can  provide questions
On the above subject

[2018-08-27 12:18] ojeytonwilliams commented on #18040
I can take a look at this, if no one else is on the case.  Presumably the freeCodeCamp dasherize just needs to match learn, but I'll take a look at how unDasherize is used and see if there any side effects.

[2018-08-27 12:41] Asjas commented on #18051
@ksaimohan2k The freeCodeCamp Github issues are used to report problems with the codebase and it is not used for questions on programming languages. Please use the [freeCodeCamp Gitter](https://gitter.im/FreeCodeCamp/HelpFrontEnd) for questions on programming languages.

[2018-08-27 12:47] scissorsneedfoodtoo commented on #17387
@Brown1ee, your code looks correct. Can I confirm that you were able to pass the lesson?

This was fixed way back in PR [#56](https://github.com/freeCodeCamp/curriculum/pull/56) over in the Curriculum repo. I'll close this issue, but please feel free to comment if anyone is still having problems with this challenge.

[2018-08-27 12:47] #17387 closed

[2018-08-27 17:34] practicaltexan commented on #16438
@QuincyLarson I also sent my email address and username to you as I have been unable to login for a while.

[2018-08-27 18:52] raisedadead commented on #18050
Hi @Horcrux-Saniya

Thanks a lot for reaching out. We are really sorry about the issues that you have been facing in getting the platform to work on your system.

From the screenshot, something is blocking some of the scripts that are needed to make the site work. This could be due to some extension, or simply the browser that you are using.

Unfortunately, we can't help much with regards to your

[2018-08-27 18:52] #18050 closed

[2018-08-27 19:02] #17258 closed

[2018-08-27 19:06] raisedadead opened #18052 "Add full stack certification to the profiles view."
We have added the ability to claim full stack certifications in #17968, this certification should also show up on the users profile page.

The changes need to be done in https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/app/routes/Profile/components/Certificates.jsx

[2018-08-27 19:32] raisedadead commented on #18002
Hi everyone,

Thanks for your comments. I totally agree that development on mobile devices is really tough challenge for us. We have have put some thoughts on this. There is a new layout in works that will help in this regard, that said the editor itself will not be compatible for the foreseeable future.

I am closing this issue for now. Will create fresh issues when the development picks up.

Tha

[2018-08-27 19:32] #18002 closed

[2018-08-27 19:35] raisedadead commented on #17859
Hi @RenaudGagne can you please send me an email: `mrugesh at freecodecamp dot org`

[2018-08-27 19:35] #17859 closed

[2018-08-27 19:40] raisedadead commented on #17344
This is now stale and parts of this have been fixed.

[2018-08-27 19:41] #17344 closed

[2018-08-27 19:48] ZokiMar commented on #17871
following solution works to passs the test:

function makeClass() {
  "use strict";
  /* Alter code below this line */
class Vegetable {
  constructor(Vegetable) {
    this. Vegetable = Vegetable;
  }
}
  /* Alter code above this line */
  return Vegetable;
}
const Vegetable = makeClass();
const carrot = new Vegetable('carrot');
console.log(carrot.name); // => should be 'carrot'

[2018-08-27 19:53] sidshrivastav opened #18053 "Fix heatmap on profile page."
Heatmap on profile page showing nothing.

* Browser Name: Chrome
* Browser Version: 68.0.3440.106
* Operating System: Ubuntu 18.04

Right now it look like this..

![screenshot from 2018-08-28 01-20-21](https://user-images.githubusercontent.com/28773690/44682362-c85e3680-aa60-11e8-9c50-eeae638ccdac.png)

Is there any setting to enable this or just a bug?

[2018-08-27 19:58] Asjas commented on #18053
Hi @sidshrivastav.

There is already a issue open for this https://github.com/freeCodeCamp/freeCodeCamp/issues/17320. Can you please close this duplicate issue?

[2018-08-27 20:06] #18053 closed

[2018-08-27 20:54] ZokiMar commented on #17665
any idea why the following code below is not accepted?

task;
The code below requires the contents of a file, "capitalize_strings", found in the same directory as it, imported. Add the appropriate import * statement to the top of the file, using the object provided.

my solution; (not accepted)

import { capitalizeString } from "capitalize_strings";
capitalizeString("hello!");

suggestions and hel

[2018-08-27 21:58] nathanhannig commented on #17665
@ZokiMar
The file where this function lives is called "string_functions" not "capitalize_strings"

[2018-08-28 00:25] randelldawson commented on #14002
Can this be reopened, because it was never changed?  The instructions need to be updated, because currently, the instructions state:

On the forum we are getting people wondering why when they type in their name (i.e. "John") and click the Send Message button, that the "Reply from Server will be here." message is not replaced with "John loves cats."

[2018-08-28 00:46] sanchitbansal10 commented on #18052
Working on it..

[2018-08-28 01:50] nathanhannig opened #18054 "Wrap Radio Buttons in a fieldset Element for Better Accessibility - Description need more code tags"
#### Describe your problem and - if possible - how to reproduce it
The last description does not have code tags surrounding html elements like is done in most other challenges.

`"Camper Cat wants information about the ninja level of his users when they sign up for his email list. He's added a set of radio buttons, and learned from our last lesson to use label tags with <code>for</code> attributes

[2018-08-28 05:39] Designird commented on #14814
I think I got my code right but im still not getting a pass.
here's my code...
<style>
  div {
    height: 40px;
    width: 70%;
    background: black;
    margin: 50px auto;
    border-radius: 5px;
    position: relative;
  }

#rect {
  animation-name: rainbow;
  animation-duration: 4s;
}

@keyframes rainbow {
  0% {
    background-color: blue;
    top: 0px;
    left: 0px;

  }
  50% {
    backgr

[2018-08-28 06:55] MelinaRentzi commented on #17479
Hello, I had the same problem today and ended up here. What worked for me is I tried submitting the code with a space between some of the variables with the "$" symbol like so:
`$ x = $x + 1;`
which of course didn't submit, then removed all spaces and success! Might have been an one-time event though. Before the success, I had the same issues as the previous people.
Thank you.

[2018-08-28 11:31] numoonchld commented on #17837
Anytime now is a great time.

[2018-08-28 14:09] ojeytonwilliams opened #18055 "Common repository"
I looked into #18040 and (as discussed in that issue) it stems from the fact that the dasherize function differs between the main freeCodeCamp and learn repositories.

Would it make sense to create a separate, common, repository to hold these kinds of functions?

[2018-08-28 14:29] daniel-vera-g opened #18056 "Test suite errors in Advanced Node and Express - Registration of New Users"
The `Advanced Node and Express` course is a little bit confusing since it has a lot of backdoors that enable errors and don't let pass the tests.
Currently, I am stuck at https://learn.freecodecamp.org/information-security-and-quality-assurance/advanced-node-and-express/registration-of-new-users/

This is my code:

[code]

My Index page has the title `Home Page` and my profile page `Profile Page`.

[2018-08-28 15:00] JohnnyBizzel commented on #17291
This will always crash as the code is automatically evaluated. The instructions should be changed to be more specific. Maybe the challenge should be simpler so the while loop is already part written.

[2018-08-28 15:13] JohnnyBizzel commented on #17756
I have done the challenges you describe, and the only one I cannot complete is the @while loop which I don't have a clue how to do yet.

[2018-08-28 15:32] Mehedi61 commented on #5828
"FirstLine\n\tSecondLine\nThirdLine";

This works fine.

[2018-08-28 16:39] birdwell opened #18058 "Glitch New Project Error - Mongodb not starting"
#### Describe your problem and - if possible - how to reproduce it
Go to the Exercise-Tracker
Open in Glitch
Mongodb doesn't start

I tried opening the console in their website and running the mongod command.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/exercise-tracker

#### Tell us about your browser and opera

[2018-08-28 18:29] borisyordanov commented on #17693
How did you even run this?
[code]

It still has `SEEDING = true` in it, so your OS will try to run that as a command, which it obviously isnt't. Am i missing something here?

[2018-08-28 18:34] birdwell commented on #18058
Have to use a Mlab Url

[2018-08-28 18:34] #18058 closed

[2018-08-28 18:35] nathanhannig commented on #18045
Go fo it.

I also noticed the same when zoomed in very far on your screen resolution for
https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-principles/use-a-retina-image-for-higher-resolution-displays

[2018-08-29 01:34] Murrium123 opened #18060 "Applied Visual Design: Learn How the CSS @keyframes and animation Properties Work"
#### Describe your problem and - if possible - how to reproduce it
I have written the right answer to the problem but when I submit it, the engine keeps running the test but it doesnt end. It doesnt tell me whether I did it right or wrong, it just says running tests. I tried redoing it and resetting it but it wont let me pass it.

#rect {
  animation-name: rainbow;
  animation-duration: 4s;
}
@key

[2018-08-29 02:06] huyenltnguyen commented on #18060
@Murrium123 I think you would need to switch to Chrome or Firefox in order to use FCC. There have been a number or reports of FCC not working correctly on Edge / IE and Safari.

[2018-08-29 10:44] tejaspatel0905 commented on #16379
u can teach me how it works with explanation

[2018-08-29 14:38] zolbayars commented on #18039
Did you run all of the previous steps? (Such as `npm install`)

[2018-08-29 14:57] zolbayars commented on #17693
Despite having a fix in #17472, this error still persists. I bypassed it by dividing the long `npm run prelist-js &&...` command into separate steps. Like this:

1. Run just the `npm run prelint-js`
2. Add `SEEDING=true` into your `.env` (Don't forget to remove it before running `npm run develop`)
3. Run `node seed/index.js`

[2018-08-29 15:38] Aks1610 commented on #18039
Yes I did.

On Wed 29 Aug, 2018, 8:18 PM Zolbayar Bayarsaikhan, <
notifications@github.com> wrote:

[2018-08-29 16:33] #17320 closed

[2018-08-29 19:38] Marijunjnja commented on #18054
PR #289 fixes this

[2018-08-29 20:01] SofianeDjellouli opened #18061 "The menu is opened when loading the Curriculum"
Hi,

The menu is always opened when loading [the Curriculum](https://learn.freecodecamp.org/) on the first title and the first subtitle. I think it's the first interaction I had with it. It happens even if I sign out and on mobile (Iphone).

* Browser Name:  Chrome
* Browser Version: Latest
* Operating System: Windows

![image](https://user-images.githubusercontent.com/38258952/44812243-ffeeef00-a

[2018-08-29 20:46] nathanhannig commented on #18054
https://github.com/freeCodeCamp/curriculum/pull/289

[2018-08-29 22:58] nathanhannig commented on #17665
@ZokiMar I think you are confusing two different challenges.

for https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use--to-import-everything-from-a-file
[code]
and for https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/understand-the-differences-between-import-and-require
[code]

[2018-08-29 23:14] nathanhannig commented on #18054
great job

[2018-08-30 01:50] markodelgadillo commented on #17881
It seems that freeCodeCamp has a couple of guides for each of the CSS properties that weren't previously covered in the curriculum. I'm thinking of adding links to those guides and mentioning a note like "If you want more information about these CSS properties, you can find them here <link>."

[2018-08-30 08:52] robinmetral opened #18062 "Feature request: show certification progress from within each challenge"
This feature request is similar to #17869 but applies to the individual coding challenges (instead of the portfolio page).

As a learner, I often find myself going back to the Curriculum page to see whether I'm far or not from finishing my current certification section (for example "Basic Javascript" in "Javascript Algorithms And Data Structures ").

It would be very useful (and motivating) to kno

[2018-08-30 09:06] #17981 closed

[2018-08-30 09:36] #17988 closed

[2018-08-30 11:02] misacorn opened #18063 "Run test is not working"
#### Describe your problem and - if possible - how to reproduce it
I put the code into the page and click "Run the tests", but nothing moves. I tried to erase the cache and reload the page but none of it works.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/object-oriented-programming/change-the-prototype-to-a-new-object/

###

[2018-08-30 11:33] Nirajn2311 commented on #18063
@misacorn could you post a screenshot of your browser console and the details of the browser you are using

[2018-08-30 11:43] misacorn commented on #18063
I attached the screenshot and I'm using Chrome 68 whatsmybrowser.org/b/PXWK8YL
![image](https://user-images.githubusercontent.com/35432501/44849402-a6cc9d00-ac62-11e8-863d-50557cf90763.png)

[2018-08-30 12:56] Nirajn2311 commented on #18063
@misacorn Your numLegs property is not properly declared.
It should be

[2018-08-30 13:27] carl-parrish commented on #17195
Was not able to get it to pass until I tried the CTRL+Enter as suggested above. Since I haven't had to do that for any other test it was extremely frustrating.

[2018-08-30 14:46] zolbayars commented on #17382
So, there's no need to run the MailHog?

[2018-08-30 15:18] Mortiferr opened #18064 "Broken icons (minor)"
#### Describe your problem and - if possible - how to reproduce it
Missing breadcrumb icons.

#### Add a Link to the page with the problem
[https://guide.freecodecamp.org/certifications/front-end-libraries/react/manage-updates-with-lifecycle-methods](https://guide.freecodecamp.org/certifications/front-end-libraries/react/manage-updates-with-lifecycle-methods
)

#### Tell us about your browser and

[2018-08-30 16:16] jonathan-grah commented on #17131
I have just started back to school, with a new curriculum etc., and @Em-Ant seems quite busy, so maybe a more active and available contributor would be able to chime in and help?

[2018-08-30 16:39] Nirajn2311 commented on #18064
@jude-lawson You may start working on this but you only have to remove the line `content: '\f105';`

[2018-08-30 17:00] nathanhannig commented on #17382
@zolbayars
not required, only if you need to send and receive emails

[2018-08-30 19:01] jude-lawson commented on #18064
Hello 👋

I've gone ahead and made the PR to freeCodeCamp's guide repo: https://github.com/freeCodeCamp/guide/pull/8451

Please let me know if there are any changes that I can make or additional steps I should take.

Thank you!

[2018-08-30 20:51] #18064 closed

[2018-08-30 21:14] jbrandes commented on #6541
Was this solved? I'm running into the same problem

[2018-08-31 03:22] dkreidler opened #18067 "Trouble with "Create a horizontal Line using HR element" lesson"
In the [Create a Horizontal Line using HR Element](https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-a-horizontal-line-using-the-hr-element) lesson, the check fails when the code is correctly formatted following the instructions.

Campers are presented with the following code:
[code]

The instructions are just to add a horizontal rule tag beneath the `<h4>` line. Si

[2018-08-31 03:25] dkreidler commented on #18067
Seems like it should be an easy enough fix... superficially. I'd like to tackle it, if so... if someone could point me to the right directory(s). Thanks!

[2018-08-31 03:33] maxdevjs commented on #17569
I had the same issue. This should be, hopefully, made explicit in some place:

- searched in the forum and did not find references to this issue

- searched in Github and did find this issue after a while

Also, I use the `night mode`, so was not really straightforward to think about an extension :)

[2018-08-31 05:40] iambk commented on #18067
@dkreidler Sorry, but this issue already exists in both freeCodeCamp (#18030 ) and the curriculum repos. Its actually fixed and merged in the curriculum. But just not live yet. For a workaround with this issue, interchange the <p> and <em> tags.

Next time, feel free to drop in a message in the [Contributers chat room](https://gitter.im/FreeCodeCamp/Contributors) to confirm about an issue.

[2018-08-31 06:04] marciorblanco opened #18068 "Basic JavaScript: Introducing Else If Statements"
#### Describe your problem and - if possible - how to reproduce it

I know that this is not a big deal, but I was following the example and getting errors all the time. There is an extra bracket after the "else" statement in the example provided by FCC.

**ORIGINAL**
if (num > 15) {
  return "Bigger than 15";
} else if (num < 5) {
  return "Smaller than 5";
} else **{  // this extra bracket causes

[2018-08-31 07:36] Nirajn2311 commented on #18068
@marciorblanco Your function code is missing a closing bracket, so the else opening bracket will cause an error. Also the example is working fine, maybe you might have missed a bracket somewhere.

[2018-08-31 07:37] Nirajn2311 commented on #18067
@dkreidler Could you close this issue as it is a duplicate of #18030

[2018-08-31 07:51] marciorblanco commented on #18068
@Nirajn2311 Thanks. I forgot that bracket. Even I tested many times I couldn't see the problem. Thanks again.

[2018-08-31 07:51] #18068 closed

[2018-08-31 13:32] ojeytonwilliams commented on #18063
@misacorn It's not exactly a feature, no.  What's going on is the user submitted code in the editor first gets evaluated.  This sets up the environment that the tests can be run in.  However, if there's a syntax error (as in this case) the evaluation throws an error and stops the test process before it really starts.

[2018-08-31 16:32] TomerPacific opened #18069 "Use Destructuring Assignment with the Rest Operator to Reassign Array Elements Run Error"
#### Describe your problem and - if possible - how to reproduce it
In the lesson Use Destructuring Assignment with the Rest Operator to Reassign Array Elements, once the page loads, if you inspect the page itself, you can see there is an error.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-wit

[2018-08-31 17:04] Ashera138 commented on #18030
Should this and #247 be closed? I understand the change isn't live yet, but it has been fixed.

[2018-08-31 18:47] ZokiMar commented on #11989
code to pass the test:

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>

  h2 {
    font-family: Lobster, Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

</style>

<div class="container-fluid">
  <h2 class="text-primary text-center">CatPhotoApp</h2>

[2018-08-31 18:48] ZokiMar commented on #11989
`<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>

  h2 {
    font-family: Lobster, Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

</style>

<div class="container-fluid">
  <h2 class="text-primary text-center">CatPhotoApp</h2>

  <a href="#"><img cla

[2018-08-31 21:10] rachelnicole opened #18070 "Technical Documentation Project - Test Error"
I've been streaming going through the freeCodeCamp curriculum, and came across a bug today.

https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page

During this project, the user story for `User Story #4: Each section element with the class of main-section should also have an id that corresponds with the text of each header containe

[2018-09-01 07:52] jarikmarwede opened #18072 "News page link not in navigation bar on learn.freecodecamp.org"
#### Describe your problem and - if possible - how to reproduce it
The link to the news page that has been added to the navigation bar on www.freecodecamp.org is not added to the navigation bar on [learn.freecodecamp.org](https://learn.freecodecamp.org).

#### Tell us about your browser and operating system

* Browser Name: Firefox
* Browser Version: 61.0.2
* Operating System: Windows 10

![screen

[2018-09-01 11:26] zolbayars commented on #18072
I think you should open this issue in the **learn**'s repo: https://github.com/freeCodeCamp/learn

[2018-09-01 16:34] jarikmarwede commented on #18072
Oh, right. I didn't know there were multiple repositories.

[2018-09-01 16:34] #18072 closed

[2018-09-01 20:33] kartikpandey2 opened #18074 "npm run only-once not working"
I forked freecodeCamp and cloned to my pc.
I followed steps in the section "Set Up freeCodeCamp"
but on running npm run only-once it throws error

**"SEEDING' is not recognized as an internal or external command"**,
operable program or batch file.

then I googled and found a similar issue and found running "npm run prelint-js && echo '/****/' && echo 'Seeding Database' && echo '/****/' && SEEDING=

[2018-09-02 02:43] zolbayars commented on #18074
As I've mentioned [here](https://github.com/freeCodeCamp/freeCodeCamp/issues/17693#issuecomment-416985050), you should try to run the command separately:

Add `SEEDING=true` into your `.env` (Don't forget to remove it before running npm run develop)
Run `node seed/index.js`

[2018-09-02 02:47] zolbayars commented on #18062
Great feature. I'm working on it.

[2018-09-02 03:16] robinmetral commented on #18062
Great @zolbayars, let me know if there's anything I can help with!

[2018-09-02 03:44] kartikpandey2 commented on #18074
Thanks@zolbayars

[2018-09-02 03:44] #18074 closed

[2018-09-02 09:41] #18054 closed

[2018-09-02 21:06] aheggie commented on #17195
To synthesise a few responses for people who are still feeling stuck (based on my experience):

In Chrome it did not work, even if I pressed Ctrl-Enter
In Firefox it did not work with the button, but pressing Ctrl-Enter did work

Chrome: Version 68.0.3440.106 (Official Build) (64-bit)
Firefox: 61.0.2 (64-bit)

[2018-09-02 21:59] frank-rui opened #18076 "Fullstack certificate shows wrong link"
The fullstack certificate contain wrong link at the bottom.

<img width="1499" alt="screen shot 2018-09-03 at 05 56 19" src="https://user-images.githubusercontent.com/27864196/44961146-6e68df80-af3e-11e8-9fb7-24452eb5c324.png">

[2018-09-03 05:51] quinetime opened #18079 "Restrict Possible Usernames: problem description is incorrect"
[The Restrict Possible Usernames assignment](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions/restrict-possible-usernames) asks you to write a regexp for a username that meets the following criteria:

1. The only numbers in the username have to be at the end. There can be zero or more of them at the end.
2. Username letters can be lowercase and uppercase

[2018-09-03 10:51] Bouncey opened #18081 "Investigate loopback-connector-mongodb upgrade to latest version"
This issue should be investigated on the `next` branch

[2018-09-03 13:46] slavo7 commented on #17944
Switching tags word for me too <em><p>..... </p><em>

[2018-09-03 15:35] snehansh commented on #18081
I want to take this issue.

[2018-09-03 21:27] QuincyLarson opened #18082 "Fix stale data in freeCodeCamp search"
freeCodeCamp's search has stale data. Currently it links to "applied" responsive web design projects, which results in a 404. If you remove the "applied-" from the URL it works fine. So we should update the index.

![page_not_found___freecodecamp_and_responsive_web_design_projects_-_build_a_tribute_page___learn_freecodecamp _](https://user-images.githubusercontent.com/985197/45001811-24134d00-af96

[2018-09-03 23:15] Marzdor commented on #17947
Added a pull request for this. Not 100% sure I did everything correctly.
[Pull Request](https://github.com/freeCodeCamp/curriculum/pull/301)

[2018-09-04 05:51] #17767 closed

[2018-09-04 11:27] Rock-son commented on #12699
It wouldn't work on Chrome 68.0.3440.106 and not on Opera 55.0 but it worked flawlessly on Firefox 59.0.2 (all 64-bit). Last three exercises did need a bit of "Run the Test" button spaming though

[2018-09-04 14:06] lsumner commented on #526
I keep getting this message and don't understand why:
Your first radio button on your form should be checked by default.
Passed
Your first checkbox on your form should be checked by default.

this is my code:
 <form action="/submit-cat-photo">
    <label><input type="radio" name="indoor-outdoor"checked> Indoor</label>
    <label><input type="radio" name="indoor-outdoor"checked> Outdoor</label><br>

[2018-09-04 14:11] #18076 closed

[2018-09-04 16:07] Carine07 commented on #18009
Just to let you know that I had the same problem: impossible to read the first line of code of the program. Since I have authorized the algolia.net script (as I am using noscript firefox add-one), I do not have any problem. Maybe, one of your chrome extensions is faulty.

[2018-09-04 16:37] Carine07 commented on #18009
Just to let you know that I have sometimes the same problem (cannot read the first line of the program) on firefox quantum. If I reload/refresh the page, I can see the first line

![freecodecamp](https://user-images.githubusercontent.com/35906185/45044866-97d65800-b071-11e8-846f-a581405aaa97.GIF)

[2018-09-04 22:46] frank-rui commented on #18076
On my certificate, its still shows responsive-web-design link.

[2018-09-04 22:59] JulienDemarque opened #18084 "Wrong use of this.setState in "React: Use State to Toggle an Element""
#### Describe your problem and - if possible - how to reproduce it
The test suite accepts the following when it shouldn't (because setState is asynchronous) and the instruction gives no hint of the correct way:
toggleVisibility(){
    this.setState({visibility: !this.state.visibility});
  }
whenever the state is used to calculate the new state, the following syntax should apply:
toggleVisibility()

[2018-09-05 01:53] dkreidler commented on #18067
Closed as duplicate of #18030

[2018-09-05 01:53] #18067 closed

[2018-09-05 09:37] normurod72 commented on #17397
me as well, ```No certifications have been earned under the current curriculum```

[2018-09-05 13:12] zberwaldt opened #18087 "Links on lesson pages appear as regular text. No visual cues that they are links"
#### Describe your problem and - if possible - how to reproduce it

Links on lesson pages are the same as regular text and there is no visual indication that they are links.
So if you don't use a mouse to track your place while reading, or you just never wonder "I wonder if any of these words are links" and stumble across the link, you never know they are there.

#### Add a Link to the page with t

[2018-09-05 14:21] ArielLeslie opened #18088 "Enhancement request: remove title from Ask for Help forum template"
#### Describe your problem and - if possible - how to reproduce it
As a forum moderator, I would like to request that the forum template that users get when they click the Ask for Help button be modified. Currently, it puts the name of the challenge as the title. This is problematic for two reason. Firstly, we are trying to encourage users to create descriptive titles for their posts. Secondly, si

[2018-09-05 14:36] Nirajn2311 commented on #18087
The links are in green color.

[2018-09-05 16:09] GiaFil7 commented on #18084
My solution, which passed all challenges, was this:
`toggleVisibility(){
    this.state.visibility = !this.state.visibility;
  }`
However, the button didn't work. When I used the solution suggested by @JulienDemarque , the button worked.

[2018-09-05 16:26] JulienDemarque commented on #18084
`toggleVisibility(){ this.state.visibility = !this.state.visibility; }` is definetly wrong. You should always use setState to change the state. Otherwise React won't know it should render.
but
`this.setState({visibility: !this.state.visibility});` would in most case work but is wrong.
Here is the explanation from the official documentation:

"State Updates May Be Asynchronous
React may batch multi

[2018-09-05 16:54] Nirajn2311 commented on #18087
There is a [PR(learn/#255)](https://github.com/freeCodeCamp/learn/pull/255) to fix this issue.

[2018-09-05 17:49] #18087 closed

[2018-09-05 18:14] andresmonc opened #18089 "Settings Item in Navbar"
#### Describe your problem and - if possible - how to reproduce it
On certain pages on screens with a smaller view width (between 957-1099) the settings item in the navbar will appear below the Navbar itself in a new row.

#### Add a Link to the page with the problem
https://www.freecodecamp.org/settings
https://www.freecodecamp.org/quincylarson

#### Tell us about your browser and operating syste

[2018-09-05 20:30] pepperH commented on #17944
Thank you! Switching the tags 'p' and 'em' worked for me too!

Glad I follow the direction: "When you get stuck, remember: Read-Search-Ask"
read the documentation or error
Search Google
Ask for help

search google is definitely the way to go!!! yeah

[2018-09-05 21:29] jetstreet commented on #16377
Hi !
function truncateString(str, num) {
return str.length > num ? str.slice(0, num) + '...' : str;
}

[2018-09-05 21:39] QuincyLarson opened #18090 "Show public open source contributions on freeCodeCamp profile"
GitHub's API makes it possible for us to see campers' recent GitHub activity. This means we can pull it in and give campers credit and points for their open source contributions. This would open up a lot of possibilities and help the freeCodeCamp profile pages become a bit more of a LinkedIn replacement for campers. (We have a lot of other expansions to the freeCodeCamp profiles planned as well, i

[2018-09-05 21:56] JohnnyBizzel opened #18091 "Typo in OOP challenge"
**Challenge**: Remember to Set the Constructor Property when Changing the Prototype

**Problem**
For the Dog constructor is says
`numLegs: 2,`
Can we change it to say `numLegs: 4` ?
**Link**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/object-oriented-programming/remember-to-set-the-constructor-property-when-changing-the-prototype/

[2018-09-06 02:31] rassamshareef commented on #13282
It's an issue with the non-existent semi colon at the end of it. Just add it and you'll get through. :)

[2018-09-06 03:07] ilhamjulianto opened #18092 "Sass: Store Data with Sass Variables"
#### Describe your problem and - if possible - how to reproduce it
[code]

False or True? that's True but the system say that's "blablabla...."
Please fix that's, if I false, I apologize about my Report
And Thank You so Much

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/front-end-libraries/sass/store-data-with-sass-variables/

#### Tell us about your browser and oper

[2018-09-06 05:57] babyccino commented on #18081
Hi I'm interested in helping out. Would I be able to take this issue?

[2018-09-06 08:33] SpiritusSancti5 commented on #18092
**Tell us what's happening:**
This doesn't make one tiny bit of sense.

**Your code so far**
Code that works:
[code]

Code that doesn't work:

[code]

I think the script should check for the colour value and not the regex.

I had a guess there's a check only for the regex so i looked at the layout of the code. For some unknown reason there's a bias to have a space between the style tag and the css

[2018-09-06 08:52] #18046 closed

[2018-09-06 10:41] Bouncey opened #18093 "[NEXT] Gatsby unable to serve static page with pretty url"
This is an issue against the `next` branch.

We may have uncovered a bug in gatsby v2 where we cannot serve a static page on a pretty url, meaning give a directory in that shape of
[code]

The URL for page one would be `/page-one.html`, and the URL for page two would be `/page-two/index.html`.

There is a previous issue in the gatsby repository referencing this issue and proposing a fix, but it ha

[2018-09-06 11:39] Bouncey opened #18094 "[NEXT]Convert bootcamp cost calculator to react"
[The coding bootcamp cost calculator](https://www.freecodecamp.org/coding-bootcamp-cost-calculator) needs to be converted to a react component.

A PR addressing this should be opened against the `next` branch

[2018-09-06 12:52] raisedadead commented on #18076
Hi @frank-rui it sometimes takes us a couple days to deploy the fixes on the server. Thanks for your patience.

[2018-09-06 22:03] devocija-it commented on #17803
Hi @Bouncey. I need some help with the fifth requirement regarding this issue. I am having a problem with figuring out how to force loopback to reload the collections. I've read the loopback documentation but unfortunately i couldn't find anything helpful.
Thanks in advance

[2018-09-07 06:54] Yurickh commented on #18093
I've submitted a PR there, but I am not sure if it solves your troubles. What exactly are you calling a pretty url?

With my fix, for the directory shape you described, the available routes would be:
- /page-one.html
- /page-two
- /page-two/
- /page-two/index.html

It doesn't create `/page-one`, tho.

I don't know if the gatsby team would want this behaviour, but it is actually just a one line cha

[2018-09-07 08:28] Bouncey commented on #18093
@Yurickh what you have would be great and makes sense. Thanks 👍

[2018-09-07 09:28] jperbark opened #18097 "Cash Register Challenge - Weak Test Cases"
#### Describe your problem and - if possible - how to reproduce it

The purpose for this thread is to notify that test cases for the Cash Register challenge might be considered weak, as the problem can be solved with a simple greedy algorithm (that would be taking the biggest currency available possible in every step until reaching the amount asked).

It would be a proper way to answer if each big

[2018-09-07 11:29] Corneliaclassic commented on #17944
@asheavenist Thanks!! it worked for me

[2018-09-07 16:57] JohnnyBizzel commented on #18097
I always thought one of the problems with this challenge is that there are 4 possible statuses instead of 3.
The 3 being "OPEN", "CLOSED", "INSUFFICIENT_FUNDS".
The 4th status I have is "Correct change not available" in the case where we have enough money in the till but don't have the correct denominations to give exact change.

[2018-09-07 17:35] theMillerCode opened #18099 "CSS Grid: Create Grids within Grids"
#### Describe your problem and - if possible - how to reproduce it
Challenge: CSS Grid: Create Grids within Grids - Passes the test script without any code or any code  being entered.  To recreate, just reset the code and then run the test.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/css-grid/create-grids-within-grids

#### Tell us about your

[2018-09-07 18:11] paulywill commented on #17962
@Pastshelfdate I was also experiencing the same issue in Chrome, just cleared my cache and decided to log in with Email option and my progress appears to be back to normal and I'm no longer looping.

[2018-09-07 19:57] brewbart commented on #17944
How did someone figure out that switching other tags would fix this? Glad it's a workaround and I found it.  There is nothing more annoying to me than having that one incomplete problem in the lists of problems

[2018-09-07 22:15] MilanAjtic commented on #13157
@QuincyLarson Please, someone fix this, it's been like that for sooooo long...

[2018-09-07 22:25] PreetSangha opened #18101 "localhost://3000 returns: "Cannot GET /""
1. am trying to install freedcodecamp for standalone operation on windows 10 64bit following the instructions https://forum.freecodecamp.org/t/how-to-clone-and-setup-the-free-code-camp-website-on-a-windows-pc/19366

2.  Have installed and am running
 - **Node v10.8.0**
 - **Npm 6.4.1**
 - **mongodb  v4.0.2**
 - also have git running from the command line with no issues, so cloned the repo and star

[2018-09-07 23:56] TheMarco77 opened #18102 "Issue with CDN file."
![cdn_2018_september](https://user-images.githubusercontent.com/29189997/45259862-236b2400-b3a5-11e8-9456-5f22de56b397.png)
![cdn_2018_september](https://user-images.githubusercontent.com/29189997/45259869-367df400-b3a5-11e8-8194-ebb6058f351b.png)

#### Describe your problem and - if possible - how to reproduce it

(After discussing this issue with an experienced Dev the answer why I am having iss

[2018-09-08 00:46] artoodeeto commented on #18094
@huyenltnguyen hello. anyway i could help? its my first time to make contributions though.

[2018-09-08 01:16] erictleung commented on #18091
@JohnnyBizzel sounds like a reasonable change to me! :+1:

The curriculum part of the site is in another repo, https://github.com/freeCodeCamp/learn, so changes/fixes for this will need to be made over there. I'd recommend closing this issue and opening this same issue over there.

[2018-09-08 02:52] mattszcz commented on #16967
This is still an issue. Needs to be re-opened.

Currently, the only way to pass this challenge is to search the FCC forum or issue tracker for this hidden solution.

[2018-09-08 02:56] mattszcz opened #18103 "Create New Middleware challenge still broken"
#16967

This issue should not be Closed as the issue still exists. The only way to pass the challenge is to find the secret solution on the forum or issue tracker.

[2018-09-08 04:02] mattszcz commented on #17820
I put `ENABLE_DELAYS=true` in my .env

Tried a bunch of different delays. still not passing the Login test. Manual login of the "freeCodeCampTester" user works fine. Manual everything works. :(

[2018-09-08 06:41] princeabhishek commented on #17861
When you try to Wrap a strong tag around "Stanford University" inside the p tag
you not able to pass the challenge.

this is because of a little mistake that is (.).

so the correct solution is

[https://myprogmaster.blogspot.com/2018/09/wrap-strong-tag.html](url)

![applied visual design_ use the strong _ - https___learn freecodecamp org_resp-myprogmaster](https://user-images.githubusercontent.co

[2018-09-08 21:26] PizzaPokerGuy commented on #17665
Wanted to elaborate that the challenge does not pass when single quotes are used around the file name.

[2018-09-08 21:28] PizzaPokerGuy commented on #17816
I just came across this issue so I don't think it has been fixed yet.

[2018-09-09 00:26] TheMarco77 commented on #18102
Here is a screenshot. Hope it helps.
Thanks in advance

![cdn_2018_september](https://user-images.githubusercontent.com/29189997/45259854-ea32b400-b3a4-11e8-84e5-656900e490c4.png)

[2018-09-09 02:10] KravMaguy opened #18104 "Bug in freecodecamp functional programming section"
#### Describe your problem and - if possible - how to reproduce it

 I sat over this for a bit trying to figure out why the average wasn’t coming out to what the exercise required. So i messed around a bit. Only after the code passed realized it wanted the average of all the movies by a certain director, and I fixed it. however
this monstrosity did pass. even though it shouldn’t, because it doesnt

[2018-09-09 04:09] huyenltnguyen commented on #18094
Hi @bouncey, I just took a look at the code and I would really appreciate some pointers from you.
- Is it just me or the app is not functioning right now? And if so, I suppose the task here is to convert only the UI to React, without implementing the logic? I would love to help fix/complete the app, btw, if I could get some user stories.
- Where is the best place to save the newly created JS file?

[2018-09-09 05:40] maxdevjs opened #18105 "[ES6: Create Strings using Template Literals] passes even if template literal is used in only one li"
#### Describe your problem and - if possible - how to reproduce it

Challenge passes even if template literal is used in only one `li` (does not matter which one, important is that refers the right entry of the result object's failure array):

[code]

this will pass (and I suppose all three `li` should use template literal, instead)

#### Add a Link to the page with the problem

[ES6: Create Strin

[2018-09-09 08:58] AbdelAziz-hassan opened #18106 "Make sure your time element has a closing tag."
closing tags doesn't be verified correctly

[2018-09-09 09:04] #18106 closed

[2018-09-09 09:49] Bouncey commented on #18094
@huyenltnguyen @artoodeeto Sorry, I should have been more descriptive as we are converting the client app to `gatsby`

You should be able to get the development environment working by running `npm run develop` from the project root, ensuring that you have mongo running locally

This issue requires:
1. A new file created at `/client/src/pages/coding-bootcamp-cost-calculator.js`
1. `coding-bootcamp-

[2018-09-09 09:52] Bouncey commented on #18093
Congrats @Yurickh, go grab that gatsby swag!

[2018-09-09 09:52] #18093 closed

[2018-09-09 16:04] adrianwix opened #18109 "Managing NPM"
#### Describe your problem and - if possible - how to reproduce it
Unexpected token < in JSON at position 0. Change the author nothing happens.
package.json should have a valid "author" key.
Also "Ask for help" button doesn't work and have no reference.

#### Add a Link to the page with the problem
https://glitch.com/edit/#!/highfalutin-stomach?path=package.json:19:0

#### Tell us about your brows

[2018-09-09 16:06] #18109 closed

[2018-09-10 05:06] deadndark commented on #18099
Hey, if it still needs work I will be happy to do it.

[2018-09-10 06:13] huyenltnguyen commented on #18094
@Bouncey Awesome! Things are much clearer now. Thanks a lot!

---
@artoodeeto

Totally yes! The reason I offered it to you is because I was afraid I would slow you down. Now that is going to be a sure thing since we are going to collaborate. I will do my best though 😄

No need to adjust your schedule to fit mine. I would say let's break this up into small pieces. Each of us works on half of them a

[2018-09-10 08:00] quinn-codes-synthesis commented on #17379
Hi! I'm a new coder who just got to this point in the challenges. It definitely took some serious google searching to figure out a solution, since .map(), .filter(), and .reduce() had not been previously mentioned. I also only really grasped that I could chain and nest functions like:

`const squaredIntegers = arr.filter((num) => num > 0 && num == Math.floor(num)).map((num) => num * num);`

due to

[2018-09-10 09:06] Lninn commented on #17944
@asheavenist Thank you

[2018-09-10 11:40] LudwigJedde commented on #17195
write :
$x:1;
  @while $x<11{
  .text-#{$x} {font-size:5px*$x;}
  $x:$x+1;
  }

and... it's good !

[2018-09-10 12:10] #17713 closed

[2018-09-10 12:46] RaspberryLime commented on #18030
Any idea when the fix will be released? The workaround encourages people to use invalid HTML, and most posts sharing the workaround don’t make that clear.

[2018-09-10 16:14] HassanAli321 commented on #12320
this is not work please help i am new student in java script help me

[2018-09-10 16:14] HassanAli321 commented on #12320
erroe is again and again

[2018-09-10 16:27] dylantyates opened #18110 "Curriculum List Items Are Invisible in Chrome & Safari (iOS)"
#### Curriculum List Item Anchors Are Not Visible

There is styling on the index that has set `.map-challenge-title a` to `color: #f8f8f8` rendering them basically invisible. If you open Chrome > DevTools you can see the bootstrap styling to make the anchors green but it is being overridden by the index styling.

#### Relevant Link

https://learn.freecodecamp.org/

#### Tell us about your browser

[2018-09-10 16:31] dylantyates commented on #18110
I applied temporary fix by converting my theme to Night Mode

[2018-09-10 17:49] Nirajn2311 commented on #18110
@dylantyates Looks like someone must have messed it up in one of the recent PRs. We have to make this a top priority.

[2018-09-10 19:16] wbsupreme opened #18111 "Using challenges that rely on console.log wont work"
#### Describe your problem and - if possible - how to reproduce it

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If possible, add a screenshot here

[2018-09-10 19:18] wbsupreme commented on #18111
For this challenge: Basic JavaScript: Passing Values to Functions with Arguments, my code is correct but it won't acknowledge being correct.  This happened earlier on another challenge when using console.log in the code

[2018-09-10 19:18] #18111 closed

[2018-09-10 19:18] RaspberryLime commented on #18110
It’s not just Chrome, it affects Safari in iOS too. Can the title be altered?

[2018-09-10 19:33] Nirajn2311 commented on #18110
I have opened a PR to fix this issue.

[2018-09-10 19:39] ArielLeslie commented on #10611
@devcshort The problem that you are running into is a new one, unrelated to this Issue. As of 09/10/18 there appears to be an issue with all challenges which require a `console.log()` statement.

[2018-09-10 19:46] hrokr commented on #8551
I know; I went there to tell you in person.

On Mon, Sep 10, 2018 at 12:27 PM Hassan Ali <notifications@github.com>
wrote:

[2018-09-10 19:53] devcshort commented on #10611
@ArielLeslie Sorry about that!  I'll take a look at the new issue. Thank you

[2018-09-10 20:10] chris0715 commented on #18110
Yes, this is affecting the visual side of the web site..

[2018-09-10 22:01] Stephanevg opened #18113 "font almost invisible"
#### Describe your problem and - if possible - how to reproduce its

simply go on the curiculm page

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name: Internet explorer AND Chrome
* Browser Version:
* Operating System: Windows 10

#### If possible, add a screenshot here

![image](https://user-images.githubusercontent.com/6302961/453

[2018-09-10 22:30] chiliphrosting opened #18114 ".map-challenge-title a /*<style> on the website; text color changed to #f8f8f8*/"
#### Describe your problem and - if possible - how to reproduce it

I just came across this situation where the text on the website has switched from "#006400" to "#f8f8f8". I'm not sure exactly when this happened but defaults when loading the website. I'm not sure if other people have encountered the same thing. I was able to change it back by disabling (in the chrome dev console) the
... .map-ch

[2018-09-10 23:48] randelldawson opened #18115 "All challenges which test if something is console.logged are broke as of the past 24 hours"
#### Describe your problem and - if possible - how to reproduce it
I assume a release which happened in the past 24 hours is responsible for the problem described below, because the challenge tests used to work fine.

On challenges requiring the user to console.log something specific to the console such as in the case of **Basic JavaScript: Write Reusable JavaScript with Functions**, the test rela

[2018-09-11 01:22] tesla809 opened #18116 "Typo in lesson: Basic CSS: Cascading CSS variables. Should refer to :root being in CSS not HTML document"
#### Describe your problem and - if possible - how to reproduce it
The lesson states:
"You can think of the :root element as a container for your entire **HTML** document, in the same way that an html element is a container for the body element."

This should be CSS instead of HTML. It should read:
"You can think of the :root element as a container for your entire **CSS** document, in the same way

[2018-09-11 02:43] tesla809 opened #18117 "Fix Testing on Challenge: "Applied Visual Design: Create a Horizontal Line Using the hr Element""
#### Describe your problem and - if possible - how to reproduce it
The default code that is not supposed to be manipulated is causing the tests to fail. When one is asked to "Add an hr tag underneath the h4 which contains the card title." and one does (simple enough) the tests fails.

`
<style>
 ...
</style>
<div class="fullCard">
  <div class="cardContent">
    <div class="cardText">
      <h4><s

[2018-09-11 03:53] stanleyyylau opened #18118 "../rev-manifest missing"
#### Describe your problem and - if possible - how to reproduce it

Trying to contributing but get this error while running FCC locally

Error: Cannot find module '../rev-manifest'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/modules/cjs/loader.js:507:25)
    at Module.require (internal/modules/cjs/loader.js:637:17)
    at r

[2018-09-11 04:31] victorhazbun commented on #18115
Confirmed.

![screen shot 2018-09-11 at 2 30 03 pm](https://user-images.githubusercontent.com/1174604/45338243-66104480-b5cf-11e8-9525-77ac7e8943c1.png)

[2018-09-11 05:14] bestpain opened #18119 "diplay issue in curriculum"
#### Describe your problem and - if possible - how to reproduce it
i am not able to view the whole webpage...if i press select the screen(ctrl+a) then i can view it,looks like font color problem.

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name: firefox Quantum
* Browser Version: 62.0 (64-bit)
* Operating System: windows 7 64 bit

[2018-09-11 06:00] randelldawson commented on #18117
@tesla809 Could you close this issue as it is a duplicate of [#18030](https://github.com/freeCodeCamp/freeCodeCamp/issues/18030)?

In the future, please perform a search for open issues related to what you are reporting before opening a new issue.

Thank you.

[2018-09-11 06:07] randelldawson commented on #18110
With a problem of this magnitude, why can't everything be rolled back to the most current working version and release again after it is resolved?  Other stuff was also broken during this latest release in the past 24 hours.

[2018-09-11 07:02] DougLefelhocz commented on #13636
I wrote a similar sort of solution in that it two elements come from the same array, neither would appear in the return value:

`function countNum(arr, elem) /* Counts the number of times an element appears in an array */ {
  var counter = 0;
  for (var i = 0; i < arr.length; i++) {
       if (arr[i] === elem) {
    counter += 1;
  }
       }
  return counter
}
/*

*/
function diffArray(arr1, arr2

[2018-09-11 08:08] frank-rui commented on #18076
@raisedadead Thank you. I can confirm that It's now been displayed correctly.

[2018-09-11 08:39] #18110 closed

[2018-09-11 08:50] div3125 commented on #18119
Duplicate of #18110 which has been resolved. You can recheck and close this issue.

[2018-09-11 10:33] CodingSolo commented on #18118
hi @stanleyyylau
check if .env file exist . if this is not the case:
`copy sample.env .env`

the command `npm run only-once` create rev-manifest file. If you have already run it, you can create the rev-manifest file with `npm run ensure-env`.

Hope that will be useful !

[2018-09-11 11:01] #18119 closed

[2018-09-11 11:25] GiaFil7 opened #18120 "React and Redux: Manage State Locally First - Tests wrongfully pass"
#### Describe your problem and - if possible - how to reproduce it
So, this code passes all tests:
[code]
While I haven't added anything regarding the rendering of the ```<li>``` elements, it still passes the 4th test: "The DisplayMessages component should render a div containing an h2 element, a button element, a ul element, **and li elements as children**."

#### Add a Link to the page with the

[2018-09-11 12:12] MattCrl opened #18121 ""ES6 : Set Default Parameters" issue"
#### Describe your problem and - if possible - how to reproduce it
There's a little mistake on that page, its says that "console.log(increment(5)); // returns NaN" , but it's actually false, it returns 6.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/set-default-parameters-for-your-functions

#### Tell us about your brows

[2018-09-11 12:29] ojeytonwilliams commented on #18115
@Bouncey I'm pretty sure my PR, freeCodeCamp/learn/pull/232, is the culprit - at least for the failing tests.  Sorry about that!

I'll try to see what I changed to break things.

[2018-09-11 12:51] Nirajn2311 commented on #18113
The font colour has been fixed. Your certificates can be found in settings page.

[2018-09-11 12:51] Nirajn2311 commented on #18114
@chiliphrosting could you close the issue as it has been fixed.

[2018-09-11 13:28] Nirajn2311 commented on #18121
@MattCrl You're right, I'll do a fix right now.

[2018-09-11 13:30] randelldawson commented on #18110
This has been marked closed. How do I find out the fix that was put into place to resolve this issue?  Also, how long are we going to have to wait until this is pushed to production?

Thank you.

[2018-09-11 13:34] JESii commented on #17436
I disagree with allowing "string_functions" to pass -- that syntax says that it's a 'standard' library file that exists in node_modules. If you do this in your code, it just won't work. IMO, "./string_functions" should be required across all the import challenges.

[2018-09-11 13:39] Bouncey commented on #18110
@randelldawson The fix contained in freeCodeCamp/Learn#289 has already been rolled out to production. I didn't see this issue when creating the PR so I closed it manually after the fact.

Here is a current screenshot of the production site
![image](https://user-images.githubusercontent.com/18572518/45363826-6d841d80-b5d0-11e8-9601-c2bd7c46803f.png)

I hope this answers your questions

Happy coding

[2018-09-11 13:46] Bouncey commented on #18115
@ojeytonwilliams It may be we need to remove your `proxyLogger` until this issue is addessed.

@randelldawson we operate a CI/CD pipeline with TravisCI and Netlify. Currently we do not have any end-to-end tests that could have picked this up. I will create a project at the organisation level to see how we can address this. In the meantime, I will remove the breaking change personally until @ojeyto

[2018-09-11 13:50] #18115 closed

[2018-09-11 13:50] Bouncey commented on #18115
Issue moved to [freeCodeCamp/learn #291](https://github.com/freeCodeCamp/learn/issues/291) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-11 13:53] gvsrusa commented on #17436
Bro, it worked for me and that's the way node works i guess. You just give a try. Yeah, syntax says it's a standard library but if node couldn't find it in node_modules, then it will look for the file in local directory. And if the file even doesn't exist in the local directory it gives error.

[2018-09-11 14:10] alwayzup commented on #17944
@asheavenist - would you mind explaining how you figured out this solution?

[2018-09-11 14:34] paulbyars commented on #17822
Same issue.  Streak count is accurate, but not showing in the heat map.

[2018-09-11 14:35] chiliphrosting commented on #17379
Hi All,
This one was a little fun to figure it out... Here are the steps I took to get the answer. I know it's a slower approach but I had to make sure that I could isolate each step before getting to the next one. I hope this helps!
`<ol>
<li>Bring all the code into a dev console. I use chrome (I always do this first).</li>
<li>Change all the 'const' into 'var'. The reason for this is to keep cop

[2018-09-11 16:47] miksh7 commented on #17966
"Run the test" fails on Edge with
SCRIPT5007: Unable to get property 'next' of undefined or null reference

[2018-09-11 19:29] RonWalker22 opened #18122 "Add _underscore explanation to lesson"
#### Describe your problem and - if possible - how to reproduce it
In the code snippet below, I was unaware of the purpose of the underscores. On stackoverflow, I learned that they are naming conventions used to signify private/protected variables and that they don't actually make the variable private. I think an explanation of this convention should be included inside of this lesson.

[code]

###

[2018-09-12 02:46] stanleyyylau commented on #18118
I'm getting some other error when running ``copy sample.env .env && npm run only-once``

/****/
Seeding Database
/****/
Failed loading boot script: /Users/stanley/Documents/git-repos/freeCodeCamp/server/boot/z-a-react.js
TypeError: Cannot read property 'string' of undefined
    at Object.<anonymous> (/Users/stanley/Documents/git-repos/freeCodeCamp/node_modules/react-d3/barchart/Bar.js:8:27)
    at

[2018-09-12 02:59] stanleyyylau commented on #18118
I deleted all node_modules and reinstal, seem to get FCC seeded, but still get this

[code]

[2018-09-12 05:16] CodingSolo commented on #18118
Hi @stanleyyylau
it's a issue with node 10 and gulp. you will find a solution to this problem in [Native crash in Node 10](https://github.com/gulpjs/gulp/issues/2162#issuecomment-384485683)

[2018-09-12 05:57] andyhorn opened #18123 "JSON APIs and Ajax: Post Data with the JavaScript XMLHttpRequest Method - URL Missing"
#### Describe your problem and - if possible - how to reproduce it
In this challenge, we are tasked with creating a POST request to a server but are not given the URL to do so. No information about this challenge or URL can be found, and one post has already been made to the forums asking for the URL.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/data-visualization/j

[2018-09-12 11:39] huyenltnguyen commented on #18094
Hi @Bouncey, I have a quick question. So we need to create a `coding-bootcamp-cost-calculator.js` file in `/client/src/pages/`, but I'm not sure how to review the component. Do we need to create a route for it?

[2018-09-12 12:01] Bouncey commented on #18094
By adding the `coding-bootcamp-cost-calculator` file in `src/pages` and exporting a component from it, Gatsby will create a route at `http://localhost:8000/coding-bootcamp-cost-calculator`

Hope this helps

[2018-09-12 12:37] dougouverson opened #18124 "The hr tag should come between the title and the paragraph."
#### Describe your problem and - if possible - how to reproduce it

Getting a message, "The hr tag should come between the title and the paragraph." - even though I got the challenge correct.

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-a-horizontal-line-using-the-hr-element

#### Tell us about your browser and ope

[2018-09-12 13:30] theonlyjoeyouneedtoknow opened #18125 "have name and value attributes and still cannot pass Survey Form"
#### Describe your problem and - if possible - how to reproduce
I'm working in the Responsive Web Design Examples Section
And I'm working on the Survey form.

In my code I have a "name" attribute as well as a "value" attribute. I also have a "unique ID" for each radio button. Please refer to my screenshot below.

Yet I still cannot pass this Survey Form as per the forked copy with the JavaScript c

[2018-09-12 14:19] Nirajn2311 commented on #18125
@theonlyjoeyouneedtoknow According to the challenge an instruction says

In your code you are missing radio buttons.

[2018-09-12 14:50] theonlyjoeyouneedtoknow commented on #18125
Thank you so much. I'm sorry. I feel silly. Maybe, I'm taking Free Code Camp too seriously? Still, no excuses. My apologies. I passed! I'm so happy, thank you for pointing out my error. Because of you, I passed!

[2018-09-12 15:14] parramorej commented on #18123
See the last comment on ["ReferenceError: url is not defined" in challenge "Post Data with the JavaScript XMLHttpRequest Method"](https://github.com/freeCodeCamp/freeCodeCamp/issues/14002).

[2018-09-12 18:08] dtvn opened #18126 "Request upgrade prj Tribute page"
#### Describe your problem and - if possible - how to reproduce it
I'm working on [a tribute page](https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-projects/build-a-tribute-page). Personally, I would like to change some request for the project.

1. Replacing `id="main"` with `<main>` will be much awesome.
2. Replacing `id="img-div"` with `<figure>` is should be. (Learner

[2018-09-12 18:48] huyenltnguyen commented on #18094
@Bouncey It does help, but now I'm annoyed that I have no clue how it works. I already put Gatsby-the-black-magic-thing on my to-learn list. I will definitely have to find time to learn it 😄

Many thanks.

[2018-09-12 20:36] JohnnyBizzel opened #18127 "Give Sibling Elements a Unique Key Attribute"
#### Describe your problem and - if possible - how to reproduce it
This challenge is passed by providing a key attribute. However, if the user does not supply the data, it still passes.
[Further details on the forum](https://forum.freecodecamp.org/t/give-sibling-elements-a-unique-key-attribute-is-this-a-bug/226182)

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/front-

[2018-09-12 20:52] nazarja opened #18128 "Full Stack Cert - Shows current date(not claimed date) - Shows as legacy cert on profile page"
#### Describe your problem and - if possible - how to reproduce it
1) The Full Stack Cert claimed date will only show as the current date and not the date it was claimed on. I claimed mine on the 7th of September and checking back regularly I noticed the claimed on date was always the current date.

2) The Full Stack Cert appears as the  Legacy Full Stack Cert on a users profile page, clicking thi

[2018-09-12 22:00] tspeed90 opened #18129 "Use a Retina Image for Higher Resolution Displays"
#### Describe your problem and - if possible - how to reproduce it
The 'Use a Retina Image for Higher Resolution Displays' challenge gives no context whatsoever about what a retina image is, what a retina display is, or what this challenge is really teaching you to do. I completed the challenge, but really had no idea what I'd just done or how that would effect a webpage I built and what benefits

[2018-09-12 23:29] randelldawson commented on #18126
The tests use ids because they are unique and get be targeted via JavaScript.  Using your replacements for img-div to figure and img-caption to figcaption would be problematic if a user decided to use multiple figure or figcaption elements in a project.  How would the user story be validated if more than one appeared of those elements appeared?

[2018-09-12 23:58] scissorsneedfoodtoo commented on #18113
Closing this as it was solved with https://github.com/freeCodeCamp/learn/pull/289. Please feel free to post another comment if you're still having trouble with your certificates!

[2018-09-12 23:58] #18113 closed

[2018-09-13 00:12] felivalencia3 commented on #18081
Hey. Its my first time working open source but I have worked a few times on loopback with a mongoDB so direct me to the issue and ill try my best

[2018-09-13 00:15] felivalencia3 commented on #18081
So from what I see a large part of the freeCodeCamp Structure is built off loopback models so I am guessing that it was built either in Version 3 or an early Version 4 of loopback

[2018-09-13 01:41] Nirajn2311 commented on #18125
@theonlyjoeyouneedtoknow could you close this issue as it has been solved?

[2018-09-13 03:56] lsumner commented on #17944
Hey guys wanted to let everyone know you are doing it right, but you have to switch the em element with the p element. I put ** buy the corrections so you guys can see. Scroll down just past your <hr>

.cardText {
    margin-bottom: 30px;
  }
</style>
<div class="fullCard">
  <div class="cardContent">
    <div class="cardText">
      <h4>Alphabet</h4>
      <hr>
      **<p><em>**Google was founded

[2018-09-13 06:08] CodingSolo commented on #18124
@dougouverson could you close this issue as it is a duplicate [#18030](https://github.com/freeCodeCamp/freeCodeCamp/issues/18030#issue-352216340)

Thank you

[2018-09-13 06:46] CodingSolo commented on #18099
@theMillerCode , @pradhyumn94

There is already a issue  in the Curriculum Repo.  [freeCodeCamp/curriculum#198](https://github.com/freeCodeCamp/curriculum/issues/198#issue-345617901)
The issue has been fixed but it needs to be pushed to production for the fix to be applied.

@theMillerCode could you close this issue.

Thank you.

[2018-09-13 07:19] Bouncey commented on #18081
@felivalencia this issue is on our `next` branch.

A brief overview of what we are doing is removing all rendering from loopback and is in it purely as an API server (gatsby/netlify will handle our client app). While sorting out our dependencies early on in the project I found that an upgraded version of the connector wasn't playing nice. Though I can't remember the error, sorry.

A while ago we m

[2018-09-13 07:45] RaspberryLime commented on #17944
Why is no-one pointing out that the “workaround” is invalid HTML? How many new coders will now think that it’s perfectly OK to nest p tags within em tags because it was suggested here _and_ passed the “test” on here?

[2018-09-13 09:53] quantuumsnot opened #18131 "Clicking on 'Curriculum' doesn't focus/collapses the current projects tree"
#### Describe your problem and - if possible - how to reproduce it
For example if I'm working on 'Use tabindex to Add Keyboard Focus to an Element' and complete it and move to the next one, then clicking on 'Curriculum' collapses only 'Introduction to Basic HTML and HTML5' instead of collapsing only 'Applied Accessibility >  Introduction to the Applied Accessibility Challenges'

#### Add a Link to

[2018-09-13 10:12] dangtu-work commented on #18126
That's not true at all.
1. `<main>` is special tag, it's unique. So in css `main` is equal with
`#special-id`
2. `<figure>` and `<figcaption>` doesn't a problem even if learners decide
to use it multiple time. You can use loop to limit the number of elements
in projects.

On Thu, Sep 13, 2018 at 6:36 AM Randell Dawson <notifications@github.com>
wrote:

--

Nguyễn Đăng Tú

[2018-09-13 12:42] dougouverson commented on #18124
Was the issue fixed?

[2018-09-13 13:16] moT01 commented on #18128
Similar to https://github.com/freeCodeCamp/freeCodeCamp/issues/17424

[2018-09-13 13:20] #18099 closed

[2018-09-13 13:34] moT01 opened #18132 "Extend Inifinite loop protection timeout"
I've come across several people on the forum who have not been able to get their correct code to pass tests due to the infinite loop protection in the testing process - After console logging some dates, this seems to be set at 100ms, which seems awfully short for a challenge like the one where you need to find the `smallest common multiple` - even for the most efficient code. I'm not sure where th

[2018-09-13 13:52] moT01 commented on #18117
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to the issue mentioned above, so I am closing it as a duplicate.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-09-13 13:52] #18117 closed

[2018-09-13 14:07] parramorej commented on #18102
If you do a Google search using
[code]
you'll see a number of FCC forum posting on this warning as well.

[2018-09-13 15:12] ElGreetly commented on #18124
<img width="217" alt="screenshot 2018-09-13 18 10 47" src="https://user-images.githubusercontent.com/38695215/45497404-60a62c00-b780-11e8-89dc-c110e64c4278.png">
The problem the check function checks for <hr> between h4 and em instead of h4 and p

[2018-09-13 15:12] chiliphrosting commented on #18114
Thanks @Nirajn2311

[2018-09-13 15:12] #18114 closed

[2018-09-13 21:31] TurtleWolf commented on #18070
Similar, I had to rename my sections.. I had a `&` tag in one of my titles.

[2018-09-13 21:36] TurtleWolf opened #18133 "Visually appears to pass layout specs, but failing automation"
#### Visually appears to pass layout specs, but failing automation

#### https://forum.freecodecamp.org/t/navbar-appears-to-pass-specs-but-not-automation/226396

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version: latest
* Operating System: Windows 10

#### https://codepen.io/TurtleWolf/pen/QVrPvo

[2018-09-14 01:36] nsuchy opened #18134 "Investigate large page sizes"
A full page load of a freeCodeCamp Challenge is a compressed 16.15MB blob transfering around 4MB of data across the networking split across several requests. This is harmful to users on mobile networks with limited data plans as well as users in third world countries where data plans are often lower than 100MB per month. Lets investigate the root cause of large page sizes and see what can be done

[2018-09-14 02:31] nathanhannig commented on #18134
my browser was showing 1.8mb uncached load and 88kb cached. I think this is how React websites behave?

[2018-09-14 06:26] murtaza63 commented on #17618
what is the problem with my code why my test not passin
![fc1](https://user-images.githubusercontent.com/33822046/45533405-fee1d280-b810-11e8-959a-8904873267ed.png)
![fc2](https://user-images.githubusercontent.com/33822046/45533408-ff7a6900-b810-11e8-93ac-59b60226a93a.png)

[2018-09-14 06:33] CodingSolo commented on #18124
The issue has been fixed but it needs to be pushed to production for the [fix](https://github.com/freeCodeCamp/curriculum/pull/189#issue-204599027) to be applied.
**nathanhannig** create a [issue]( https://github.com/freeCodeCamp/learn/issues/297#issue-359732604) in learn repo to get it in production

[2018-09-14 14:32] mul53 commented on #18116
Hi, i have written a fix for the code and i have a question. The issue is raised in the freeCodeCamp/freeCodeCamp repo but the fix occurs in the freeCodeCamp/curriculum repo. How should i handle this? This is my first time would love some help.

[2018-09-14 14:43] moT01 commented on #18116
@mul53 make the PR over on the curriculum repo, which is where it needs to be fixed - put a link to this issue in the PR so whoever merges it knows to come close this issue

[2018-09-14 21:12] nohatnanoes opened #18137 "Profile heatmap and timeline not showing progress etc"
The heatmap and timeline aren't showing progress on my profile

https://www.freecodecamp.org/nohatnanoes

* Browser Name: Google Chrome
* Browser Version: 68.0.3440.106
* Operating System: Windows 8

[2018-09-15 01:13] mdwattendorf commented on #16967
Still broken for me.  I just put "Home Page" in the index.pug description.  Either add that to the challenge or just fix the glitch/github clone?

<img width="842" alt="screen shot 2018-09-14 at 7 09 43 pm" src="https://user-images.githubusercontent.com/27507807/45580758-1e4d1f80-b852-11e8-9aee-9b20c592915b.png">

[2018-09-15 09:28] Em-Ant commented on #16967
@mdwattendorf @mattszcz you are right. The test works checking that 'Home page' is in the pug template. I think we should update the challenge description specifying this requirement.

[2018-09-15 09:36] Em-Ant commented on #18103
The tests for this challenge expect that the text  `Home page` is in the `index.pug` template. We should update the challenge description specifying this requirement.

@mattszcz do you want to open a PR for this ? It should be only  text changes so not so hard, and if you need help I can guide you. If you cannot do it, please let me know, and I will try to open the PR myself.

[2018-09-15 13:35] JESii commented on #17872
@scissorsneedfoodtoo This bug has nothing to do with the asterisk being tricky. It has to do with the fact that **_the instructions are just plain wrong._**

The instructions say:

This means a RegEx like `/[Aa]*/g`

What the instructions should say is:

Now we get to the desired RegEx of `/A[Aa]*/g`

[2018-09-15 15:03] JESii opened #18138 "Reuse Patterns Using Capture Groups"
#### Describe your problem and - if possible - how to reproduce it
This challenge requests that we:

However, the tests require that the numbers have **_two_** spaces (see screenshot below) and don't allow an actual space character.

Thus, valid RegEx's such as /`^(\d+) \1 \1$/ `or `/^(\d+ )\1\1$/` fail.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algori

[2018-09-15 20:43] tchaffee commented on #17755
@raisedadead This should be simple to set up on your side, no? We have an issue that's been open for about three months that is just waiting on this to be closed. If there is anything I can do to help, please let me know.

[2018-09-15 23:55] mattszcz opened #18139 "Linkedin profile link is broken"
#### Describe your problem and - if possible - how to reproduce it
1. Add a linkedin url to your profile.
2. View your public profile
3. Inspect the linkedin icon. Notice the href attribute is missing on the anchor tag. Clicking it does nothing.

#### Add a Link to the page with the problem
https://www.freecodecamp.org/mattszcz

#### Tell us about your browser and operating system

* Browser Name: