[2018-06-13 20:34] codewatzen commented on #17569
Updated my post.

[2018-06-13 21:06] newnewb commented on #17426
@johnkennedy9147 Thanks for the update, most issues listed specific sections not working. I wanted to make it clear that not a single button was responsive or had any effect on top of the fact that the page had missing sections

[2018-06-13 21:06] #17426 closed

[2018-06-13 21:12] mohagas opened #17573 "Can't login using github account - account progress"
I am unable to login to FCC using my github username. I was prompted to input an email and I used the email associated with my github account. But somehow it showed me a blank account and it looks like I lost all of my progress that I worked on for almost 1 year!!!! Please assist with them ASAP

Thank you

* Browser Name: Chrome
* Browser Version: Chrome 67
* Operating System: Mac/Windows

[2018-06-13 21:28] P1xt opened #17574 "React: Use the Lifecycle Method componentWillMount - method is deprecated in modern React"
#### Describe your problem and - if possible - how to reproduce it
This React lesson is out of date. The React Lifecycle Method `componentWillMount` has been deprecated and use of it is actively discouraged in the official docs.

https://reactjs.org/docs/react-component.html#legacy-lifecycle-methods

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/front-end-libraries/re

[2018-06-13 21:34] #17397 closed

[2018-06-13 21:35] raisedadead commented on #17573
Hi @mohagas can you please reach out to me over an email `mrugesh at freecodecamp dot org`

[2018-06-13 21:42] raisedadead commented on #17573
Okay.. you created an duplicate account accidentally. I have removed the duplicate. Please visit https://www.freecodecamp.org/deprecated-signin and try again after 5 minutes.

You should be able to add the email that you would want and sign in.

[2018-06-13 21:42] #17573 closed

[2018-06-13 21:45] raisedadead opened #17575 "fix the complete project button on the settings"
The complete project button in the settings page is broken for the Algorithm projects.

[2018-06-13 22:46] johnkennedy9147 commented on #17546
@adsingh14 Thanks for raising this.

Fallbacks as described in this lesson are not for older browsers that lack CSS variable support, they are for when the variable has not been defined yet, or otherwise not able to be resolved.

The technique you mention of using a preceding more broadly supported CSS rule is also referred to as a fallback.

Ideally, I think there should be two lessons, one descr

[2018-06-13 22:55] luandy64 commented on #17572
I also have the same problem.
<img width="862" alt="screen shot 2018-06-13 at 5 50 59 pm" src="https://user-images.githubusercontent.com/19473996/41382688-ec1213e4-6f32-11e8-910d-87ade1d93116.png">
<img width="573" alt="screen shot 2018-06-13 at 5 51 06 pm" src="https://user-images.githubusercontent.com/19473996/41382689-ec308a4a-6f32-11e8-927d-0f9aa6513fcf.png">
<img width="757" alt="screen shot

[2018-06-13 23:19] tchaffee commented on #17511
Can I assume the editor will be used only locally and does not need to be available via a public URL? I'm assuming that because so far we have talked about editing challenges that are already on your box in a folder somewhere. Probably from forking the fcc curriculum repo?

If that's the case, would it make sense to be able to start the editor using a simple command? Something like:

[code]

At wh

[2018-06-13 23:49] julianorafael commented on #17511
Yes. It makes total sense since it's a tool for contributors. Making it a electron app might make it even better because that way we can directly manipulate the json files.

[2018-06-13 23:50] coymeetsworld commented on #17510
@Flarp I used my own Stripe API keys and I was able to get past this issue. Try generating your own and see if that works. I also agree that the Stripe API shouldn't be referenced on starting up.

[2018-06-13 23:56] lngchn commented on #17522
I have the same problem. Even after resubmitting all the solutions, it still doesn't work.

[2018-06-14 00:12] micqey commented on #17551
I think I'm good to go. I just need to re-do the javascript projects because it didn't save my solutions.  I was also able to update my profile to public and switch from night mode to regular.
Thanks for all the help!

[2018-06-14 00:12] #17551 closed

[2018-06-14 01:06] aschalau commented on #17563
@Manish-Giri and @Nirajn2311  :disappointed:

Thank you for pointing me in that direction.  I think I read that as don't change the line.  I need to slow down and comprehend what is put on the screen.

Sorry to waste your time with this.

[2018-06-14 01:06] #17563 closed

[2018-06-14 01:10] Manish-Giri commented on #17563
@aschalau It's all good, that's what we are here for! Happy Coding!

[2018-06-14 02:00] camachado opened #17577 "Audio element closing tag not accepted"
#### Describe your problem and - if possible - how to reproduce it
Audio element closing tag not being accepted. The error message below is produced:

"Make sure your audio element has a closing tag."

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/improve-accessibility-of-audio-content-with-the-audio-element/

#### Tell us a

[2018-06-14 02:51] mpmaan commented on #17577
Your code has a ```/``` before the closing bracket ```>``` of ```source``` tag. Also you should not give ```id``` attribute to ```audio``` tag. Run tests after fixing these.

[2018-06-14 03:32] QuincyLarson commented on #15662
@P1xt Thanks for confirming this is still an issue. It sounds like

[2018-06-14 03:43] QuincyLarson commented on #15012
@ahmadabdolsaheb could you link me to the page where you're seeing this?

![](https://user-images.githubusercontent.com/4591597/40922527-176eadaa-681b-11e8-940b-76154e42843d.png)

Then I can update it.

[2018-06-14 03:48] scissorsneedfoodtoo commented on #17561
@raisedadead, no change is required for this challenge. Here's a working solution:

[code]

With that the original test, 8.675, passes.

[2018-06-14 03:48] #17561 closed

[2018-06-14 04:07] BrittanyAN commented on #17387
Same problem. Windows 10 Home 1803 / 17134.112 and Firefox 60.0.2

[2018-06-14 04:10] rhuss623 opened #17579 "Person first language - Accessibility"
#### Describe your problem and - if possible - how to reproduce it
This isn't really a coding issue.  This has to do with using "person-first language" for the Applied Accessibility modules.  First, I want to say that I LOVELOVELOVE that you are teaching Applied Accessibility!  Thank you so much! I thought I was going to need to scour the web for good resources on building accessible sites.  Again

[2018-06-14 04:53] raisedadead commented on #17551
Awesome.. thanks for letting us know. and apologies about the issues.

[2018-06-14 05:02] camachado commented on #17577
Thanks. Yes the `/` before the closing bracket of the source tag was a typo. I removed the `id` attribute from the `audio` tag and the test passed.

The example used in the lesson needs to be updated as it has the `id `attribute in the `audio `tag.

![image](https://user-images.githubusercontent.com/2438129/41392455-8e297aba-6f6e-11e8-9649-ce3c75d40275.png)

[2018-06-14 05:46] P1xt commented on #15662
@QuincyLarson Actually, there's a chance that this (along with a ton of other closed Sass issues) are related to
https://github.com/freeCodeCamp/freeCodeCamp/issues/17570

It might be a platform issue, not a test case issue.

[2018-06-14 06:34] Gulshanrajput commented on #16419
Still facing the issue, tried everything in this thread.

[2018-06-14 06:45] alanmathew6711251 commented on #16619
j

[2018-06-14 07:02] JMVL64 commented on #17551
One question on the night theme. Is it correct that the night theme has not been implemented yet in the curriculum?

[2018-06-14 07:33] micqey commented on #17551
I don’t know about the implementation of night theme, my issue was simply
that I couldn’t move the switch to change it on the profile. That issue is
fixed for me, but my guess is that the night theme implementation has its
own thread with more relevant information.

On Thu, Jun 14, 2018 at 1:05 AM JMVL64 <notifications@github.com> wrote:

[2018-06-14 08:10] johnkennedy9147 commented on #17551
@JMVL64 Night mode is not presently available on the Learn platform (curriculum).
Quincy mentioned it in his announcement - "Night Mode doesn’t work on the learning platform yet. We’re working on fixing this."
https://forum.freecodecamp.org/t/10-major-freecodecamp-improvements-that-are-live-now/192130

[2018-06-14 08:16] johnkennedy9147 commented on #17289
@JustFly12 Thanks for raising this, it is planned to have night mode available in the editor.
But rather than a default it will track the users choice in settings.
I'm closing this issue in favour of #17412 which better describes the issue.

[2018-06-14 08:16] #17289 closed

[2018-06-14 08:56] thatnini commented on #17569
Can you try disabling the addon you are using in Firefox to make it dark? I'm wondering if that is interfering with the tests somehow?

[2018-06-14 09:17] raisedadead commented on #17551
Yes, that is correct. Since the launch some of the UI features were lost. We are working toward making this available soon.

[2018-06-14 09:29] #17410 closed

[2018-06-14 10:16] Nirajn2311 commented on #17533
Can someone please check my PR on this issue?

[2018-06-14 12:56] Nirajn2311 opened #17580 "Example missing in basic js - word blanks"
#### Describe your problem and - if possible - how to reproduce it
In the description of the exercise at the end of the first paragraph, I think there should be an example according to the last sentence.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/word-blanks

#### Tell us about your browser and operating s

[2018-06-14 14:03] codewatzen commented on #17569
Ah yep that fixed it. Should have checked that before posting.

[2018-06-14 14:52] techneplus commented on #17408
I am getting the same error too. https://learn.freecodecamp.org/front-end-libraries/sass/store-data-with-sass-variables

[2018-06-14 14:59] MarioLema opened #17581 "Visualize data with a heat map"
I've created a Heat map but It does not pass the test objective number 10:

My heat map should have cells that align with the corresponding year on the x-axis.

I've tried many many things but I don't seem to make it pass. The cells do visibly align with the ticks for the years but the tester seems to fail at some point inspecting the scale.

Both the ticks and the cells are written with date obje

[2018-06-14 15:30] AdventureBear opened #17582 "Navigation Improvements - individual challenges should link to curriculum map in context"
#### Describe your problem and - if possible - how to reproduce it
I was helping a user on the forum with a challenge in functional programming. I clicked on the link and was able to solve the challenge and wanted to provide in context help to the poster...meaning I wanted to see what was taught prior to that challenge about functional programming, so that I could help the poster work through topi

[2018-06-14 15:38] AdventureBear opened #17583 "The Functional Programming Curriculum should start with #4: Avoid Mutations and Side Effects Using Functional Programming"
#### Describe your problem and - if possible - how to reproduce it
The first 3 challenges in functional program are clever and require thought, but are daunting as an introduction to functional programming.  See this posters first try as an example:
https://forum.freecodecamp.org/t/how-to-get-tea4teamfcc/200015

Teaching a new concept should start with elemental ideas and operations, which doesn't

[2018-06-14 16:56] ipa-1 commented on #17570
Browser Name: Chrome
Browser Version: Version 67.0.3396.87 (Official Build) (64-bit)
Operating System: Windows 10 Home

https://learn.freecodecamp.org/front-end-libraries/sass/use-each-to-map-over-items-in-a-list

![image](https://user-images.githubusercontent.com/28264369/41422123-44432f9c-6fc6-11e8-9f5b-fb0877a63201.png)

https://learn.freecodecamp.org/front-end-libraries/sass/use-for-to-create-

[2018-06-14 17:12] StewartBenGardner commented on #17408
I got this error too, in the tests box it has </code>color</code>. Should it be like <code>color</code>? Maybe there's just a stray "/".

[2018-06-14 17:15] raisedadead commented on #17575
Ah right. That is because the react routing catches these before the server takes over it. I am guessing we would have to look into the boot scripts (`/server/boot/`) for react and work from there.

[2018-06-14 17:23] raisedadead commented on #17511
Yeah.. it will be local.

But instead of a full blown electron app, will it make sense to then make it a plugin for say atom or vs code? I know this leaves out other editors. But it would be light weight?

Or if you think an electron app is better, then I would go ahead an incline on making it a separate repo like @tchaffee originally intended.

[2018-06-14 17:27] QuincyLarson commented on #16649
@Manish-Giri Thanks for your feedback. I agree that teaching reciprocal actions (positive VS negative margin) consecutively is fine. I don't think these need to be reordered either, so I'm going to close this issue. @ReveurGAM @raisedadead Thanks for chiming in with your opinions on this.

[2018-06-14 17:36] P1xt opened #17584 "Managing Packages with Npm - How to Use package.json, the Core of Any Node.js Project or npm Package"
#### Describe your problem and - if possible - how to reproduce it
In Introduction to the Managing Packages with npm Challenges it says to click the following link to create a glitch project for the following lessons:

https://glitch.com/#!/import/github/freeCodeCamp/boilerplate-npm

or to clone the following repository:

https://github.com/freeCodeCamp/boilerplate-npm/

I did both and tried both

[2018-06-14 17:41] tchaffee commented on #17511
I'm not stuck on any one implementation yet. I just wanted to use that as an example to better illustrate what I meant by running locally. I really don't know what the best choice is until I (or someone else) looks a bit closer at pros and cons. Starting with a simple local browser based solution might be the easiest since we are all familiar with that.

[2018-06-14 17:53] QuincyLarson commented on #17570
@P1xt Thanks for the detailed instructions. I was unable to reproduce this in Chrome, but I did reproduce it in FireFox.

@Bouncey Any idea what could be causing this?

[2018-06-14 17:57] QuincyLarson commented on #17068
@clandau Thanks for opening this pull request!

@Em-Ant What are your thoughts on the use of the boilerplate at this point?

[2018-06-14 18:01] QuincyLarson commented on #13254
@SnowdenWintermute It sounds like making that part of the text bold could make it a bit clearer and harder to miss. Would you be interested in opening a pull request that achieves this? (You would be modifying the github.com/freecodecamp/curriculum repository.)

[2018-06-14 18:05] QuincyLarson commented on #14987
@Jeffreyoboe1 Yes, this is related to https://github.com/freeCodeCamp/freeCodeCamp/issues/17356

Please take a look at that issue. It has a temporary workaround while we fix it.

[2018-06-14 18:05] #14987 closed

[2018-06-14 18:06] QuincyLarson commented on #16732
@Vimal-Raghubir yes - we'd welcome your help with it. Please keep us posted on how you progress with it, and let us know if we can be of any help.

[2018-06-14 18:08] QuincyLarson commented on #16190
I'm closing this issue since we haven't heard back from @alaminos yet.

[2018-06-14 18:08] #16190 closed

[2018-06-14 18:12] QuincyLarson commented on #17450
@raisedadead The leaderboard project is no longer a required project - we've moved it to the Interview Prep. Still, it would be nice if someone could figure out how to fix this. I don't think the strain from the leaderboard apps would be that great - we had thousands of these leaderboards in the past and they didn't seem to have too big of an impact.

We should wait until our new open API is live

[2018-06-14 18:13] anku255 commented on #17395
@raisedadead I have created a PR [#176](https://github.com/freeCodeCamp/learn/pull/176) to address this issue. Please take a look.

[2018-06-14 18:14] P1xt opened #17585 "Basic Node and Express - Serve Static Assets"
#### Describe your problem and - if possible - how to reproduce it
The instructions are incorrect.

The correct way to serve static assets with express is:
[code]
The instructions say to use:
[code]
#### Add a Link to the page with the problem
https://learn.freecodecamp.org/apis-and-microservices/basic-node-and-express/serve-static-assets/

#### Tell us about your browser and operating system

* B

[2018-06-14 18:19] P1xt opened #17586 "Starter project for Node and Express lessons uses Node.js 4"
#### Describe your problem and - if possible - how to reproduce it
https://glitch.com/#!/import/github/freeCodeCamp/boilerplate-express/

The boilerplate for these lessons has node engine explicitly set at 4.4.5 which reached eol in April and thus is no longer available within glitch.

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/apis-and-microservices/basic-node-an

[2018-06-14 18:35] Em-Ant commented on #17450
I had a look at the code and I know how it works. It used to scrape a gitter room to get the camper's usernames, and then it got the information about each camper accessing his/her freecodecamp profile page. At the moment it doesn't work because that gitter room closed, and the author's gitter api key (hardcoded in the source...) is expired/blocked.

If there was a way to periodically (once per da

[2018-06-14 18:37] ahmadabdolsaheb commented on #15012
@QuincyLarson, https://github.com/freeCodeCamp/freeCodeCamp/issues
It is on the issues page when I sign in with my moderator account.

[2018-06-14 18:51] prateek3255 commented on #15012
@ahmadabdolsaheb please review my PR #17571 regarding this issue.

[2018-06-14 19:33] ryanmdoyle commented on #17403
I think is not very clear what the expectations are either.  I have been trying to actually do it with declaring getters and setters, but I'm not really sure if I am not able to pass the test because my declarations are wrong, or this bug that's discussed.

I believe the description could be modified as in reading it, the understanding is to make an object that takes the temp in F and then you are

[2018-06-14 19:52] inquiloper commented on #16358
@P1xt  Having the same problem. Thankfully is not only me.

[2018-06-14 20:11] jcharnley commented on #17403
I found this one really easy.

function makeClass() {
  "use strict";
  /* Alter code below this line */
 class Thermostat {
   constructor(Fahrenheit) {
     this.Fahrenheit = Fahrenheit;
   }
   get temperature (){
     return this.temp;
   }

   set temperature (thermos) {
    this.temp = 5/9 * (thermos - 32);
   }
 }
  /* Alter code above this line */
  return Thermostat;
}
const Thermostat =

[2018-06-14 20:39] #17533 closed

[2018-06-14 21:12] cmccormack opened #17587 "Email submit test for Build a Product Landing Page doesn't work"
#### Describe your problem and - if possible - how to reproduce it
When submitting a form with an `email` query to the following endpoint:

using GET or POST I receive the following message:

The URL will look something like the following when the request is sent:
https://www.freecodecamp.org/email-submit?email=me%40email.com

#### Add a Link to the page with the problem
https://www.freecodecamp.o

[2018-06-14 22:27] P1xt opened #17589 "Apis and Microservices Projects - Timestamp Microservice - requires both glitch and github url"
#### Describe your problem and - if possible - how to reproduce it
This issue exists for all the Apis and Microservices Projects

The instructions state to use glitch OR github. But, both glitch AND github fields are required.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/timestamp-microservice
https://learn.free

[2018-06-14 22:50] P1xt commented on #17587
@cmccormack I'm just wrapping up that project myself. The endpoint isn't what will make the submit test case fail, in fact you can set your action on the form to "#". What will cause that test to fail is if you don't give your email element an id, a type and a name (it's the name part that's the gotcha)

[2018-06-15 00:46] sourabh1031 commented on #17408
I am also facing the same situation .

[2018-06-15 01:41] Flarp commented on #14234
As stated above, I will be gone for a week, but more than willing to get started once I return.

[2018-06-15 02:34] camachado commented on #17495
I am also using Chrome and came across the issue with the `tabindex` attribute in the [Applied Accessibility: Use tabindex to Specify the Order of Keyboard Focus for Several Elements](https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/use-tabindex-to-specify-the-order-of-keyboard-focus-for-several-elements) exercise. Setting the value of `tabindex` attribute to '1' and '2'

[2018-06-15 03:15] prakhargvp opened #17591 "cat JSON API Not working"
Previously the website is in https://www.freecodecamp.org so json api working fine.
Now its shifted to https://learn.freecodecamp.org so its unable to load json/api.

https://learn.freecodecamp.org/data-visualization/json-apis-and-ajax/access-the-json-data-from-an-api

![screenshot from 2018-06-15 08-47-32](https://user-images.githubusercontent.com/7056772/41448549-c6c028fa-7078-11e8-85e7-4510002b

[2018-06-15 05:12] raisedadead commented on #17511
Yes I agree that would be totally ideal.

The only thing is we would need access to the File System. While this should be possible using Gatsby with plugins. But would be easiest with a local editor?

Yes, that is what we would need for easier QA/review.

[2018-06-15 05:14] raisedadead commented on #17510
@QuincyLarson it would be simpler to not have calls to API when in development. These can be mocked and there is already a PR that is addressing this. Some final details are being sorted and this will be resolved soon.

[2018-06-15 05:15] raisedadead commented on #16732
Hi @Vimal-Raghubir @QuincyLarson we are planning to move away to https://probot.github.io instead of the current outdated bot. This is best to fix up with the re-write I am planning.

[2018-06-15 05:16] cmccormack commented on #17587
I do understand the tests will still pass if you configured them correctly, but if FCC is going to provide a URL to which we can test the email submission against I believe it should give some kind of positive confirmation instead of an error that may force the submitter to think they made a mistake.

[2018-06-15 05:29] raisedadead commented on #17450
Hi @QuincyLarson I think its still on the legacy cert list:

![image](https://user-images.githubusercontent.com/1884376/41451569-25fece72-708b-11e8-950d-3a3773074030.png)

[2018-06-15 05:41] #17415 closed

[2018-06-15 06:10] raisedadead commented on #17591
Hi @prakhargvp thanks for the issue report.

Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/17395
We request you to check for existing open issues while reporting.

Thanks and happy coding.

[2018-06-15 06:10] #17591 closed

[2018-06-15 06:18] SaintPeter commented on #17511
What we did with `COM1000` was make a local node server which hosted the client.  Node has access to the local file system.

Honestly, we could probably just tune up `COM1000` to accept the new structure and it would work just fine.  Check out the repo.  It's reasonably well written React stuff.

[2018-06-15 06:32] raisedadead commented on #17544
Thanks for the issue report @johnkennedy9147

To be very honest I have had known of this use case from the initial implementation. This is a surprisingly complex problem.

1. The Sign in page is being served directly off the auth0 servers as a simple HTML page, to avoid CORS and CSP issues.
2. This just so happens to be the best way to avoid getting false negatives from pop up blocking, add blocki

[2018-06-15 06:53] scissorsneedfoodtoo commented on #17387
@matthew-t-smith, I think you're right. I put the regex from the text string into regexer to test and got a warning that the negative look behind isn't supported in all browsers. It's not the most refined thing, but maybe the test could something like:

`/^(\\s*console.clear\\(\\)\\s*)$/gm`

That should pick up just the console.clear() from the code the user enters, rather than the one that's comm

[2018-06-15 06:59] raisedadead commented on #17511
Yeah, sure that would be a great place to start and seek inspiration.

Our curriculum has grown (exploded).

Not that I am biased with Gatsby (which is also a Node app), its just optimised to work with large no files.  So, we would have a lot of the system internals available to us? That is we would not have to work on problems that an abstraction can handle for us.

Please note we are already bre

[2018-06-15 07:45] #17520 closed

[2018-06-15 07:49] ztickm commented on #17586
Can confirm I noticed that while going through the project.
Glitch automatically uses 8.11.2 though (see screenshot), so nothing breaking on Glitch. Yet it can be potentially a bit risky if someone uses the boilerplate on their local machine, as the version is un-maintained.
**But** I think that this isn't the correct repo for this issue.
I have opened an [issue](https://github.com/freeCodeCamp/bo

[2018-06-15 08:18] JKorhonen commented on #17589
I think this isn't bug but misunderstanding. You need give link for solution (that can be outside of Glitch) and link for GitHub repository that have your solutions source code.

[2018-06-15 10:08] johnkennedy9147 commented on #17544
@raisedadead
"I think you were intending to state that users can forget what emails they have on records and in turn end up creating new accounts?" Yes, exactly.

If I follow your explanation correctly:

User enters email on sign up/in page.
Auth0 checks DB:
- if email exits sends login code
- if not exists creates but only in Auth0 db and sends login code.

When login code entered on next user sc

[2018-06-15 10:36] anku255 commented on #17395
@raisedadead @Bouncey Thanks for merging my PR. This issue can be closed now.

[2018-06-15 10:52] Bouncey commented on #17395
Closed via #179.

Thanks for the heads up @anku255

[2018-06-15 10:52] #17395 closed

[2018-06-15 11:06] anku255 commented on #17589
@P1xt I agree with @JKorhonen. It asks for a link of solution (where you project is hosted) and Github link (for the source code). It encourages campers to put their project on Github which is nice in my opinion.

[2018-06-15 11:37] anku255 commented on #17585
@P1xt Reading the [docs](https://expressjs.com/en/starter/static-files.html), It seems like `app.use(path, middlewareFunction)` is correct and more generalized.

In the instructions, it is mentioned that the first argument `path` is optional and when not provided the middleware fn will be executed for all the requests.

The instructions clearly ask to mount the middleware function *for all the req

[2018-06-15 12:07] anku255 commented on #17584
@P1xt I looked at the source code of this challenge [here](https://github.com/freeCodeCamp/curriculum/blob/6cb3732bd0bddf5177e121785c3b1a22ca2432ae/challenges/05-apis-and-microservices/managing-packages-with-npm.json#L25).

The tests will pass only when `provided_url + '/_api/package.json'` returns a `package.json` file.

Thus, a github url will **never** pass the test.

Also, if you use any glitc

[2018-06-15 12:16] LeviT23 commented on #15403
@kanascyc could you please explain why it passes only after you add the quotation mark ?

[2018-06-15 12:25] raditotev opened #17593 "Glitch starter project with wrong value for Strict-Transport-Security: max-age"
#### Describe your problem and - if possible - how to reproduce it
In [Information Security with HelmetJS - Ask Browsers to Access Your Site via HTTPS Only with helmet.hsts()](https://learn.freecodecamp.org/information-security-and-quality-assurance/information-security-with-helmetjs/ask-browsers-to-access-your-site-via-https-only-with-helmet-hsts) challange we have to add middleware forcing brows

[2018-06-15 12:47] anku255 commented on #17558
@pradeshkumarg Hi! Did you clone the `FCC starter project` using this [link](https://glitch.com/#!/import/github/freeCodeCamp/boilerplate-npm)?

I tried it just now and the tests pass. If you are still facing this issue then please post your glitch project link so that we can inspect the issue.

[2018-06-15 13:07] raditotev opened #17594 "Typo in "Set a Content Security Policy with helmet.contentSecurityPolicy()""
#### Describe your problem and - if possible - how to reproduce it
Typo in the description.

#### Add a Link to the page with the problem
[Set a Content Security Policy with helmet.contentSecurityPolicy()](https://learn.freecodecamp.org/information-security-and-quality-assurance/information-security-with-helmetjs/set-a-content-security-policy-with-helmet-contentsecuritypolicy)

#### If possible, a

[2018-06-15 13:11] #17463 closed

[2018-06-15 13:18] anku255 commented on #17550
@Bouncey @raisedadead This seems like a very easy thing to fix. Who is the owner of the glitch projects?

[2018-06-15 13:19] Nirajn2311 commented on #17580
Yeah, it will work. If you’re free you may work on it.

[2018-06-15 13:37] moT01 commented on #17589
Glitch is not required, just a link to a working solution of your project - github, however, is required i think - so perhaps a little bit of rewording could make it more clear - I think its fine - @P1xt any suggestions?

[2018-06-15 13:37] raditotev commented on #17589
Last time I checked it was fixed. There is only one field now - Solution.

[2018-06-15 13:48] moT01 commented on #17589
still shows two fields for me when I click any of the links above

[2018-06-15 13:53] moT01 commented on #17579
Thanks for pointing this out @rhuss623, let us know if you find anything else - the issue can be fixed here - https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/01-responsive-web-design/applied-accessibility.json#L476

[2018-06-15 13:54] anku255 commented on #17580
@Nirajn2311 I was free so, I have created a PR [#19](https://github.com/freeCodeCamp/curriculum/pull/19). Let's see what maintainers think about this issue.

[2018-06-15 14:00] Vimal-Raghubir commented on #16732
So this is something that you will be adressing in the new robot's setup @raisedadead? Therefore it will be redundant if I start digging into this issue for now. If my understanding is correct.

[2018-06-15 14:03] SnowdenWintermute commented on #13254
@QuincyLarson I have never done that before but I will give it my best shot. Thank you for the learning opportunity!

[2018-06-15 14:05] raditotev commented on #17589
You're right @moT01. Still two input fields for the final projects. It was fixed for the challenges in the module though.

[2018-06-15 14:06] moT01 commented on #17412
I think it would be best if we could have the dark mode follow you around to all the FCC pages - when you open the forum you have to set the dark mode on there separately - it would be better if it was already set to dark since you changed it on your settings page

[2018-06-15 14:06] anku255 commented on #17589
@moT01 The challenge text does say that

I think it's already clear that Glitch is not required as long as you host it on a platform which is publicly visible for the testing.

[2018-06-15 14:13] moT01 commented on #17589
@anku255 - yes, I saw that - it's clear to me glitch is not required - what I was getting at is that it's not necessarily clear that github is required, as it says you can use glitch or github

[2018-06-15 14:13] anku255 commented on #17594
@raditotev Just to make it clear, you are suggesting to change `in` to `is`. Is there any other typos that you found in this challenge?

[2018-06-15 14:23] raditotev commented on #17594
Correct. That's the only typo I have found. I know it's minor issue but it will be a good opportunity to fix for beginners.

[2018-06-15 14:32] anku255 commented on #17589
@moT01 Ah, I see. I am not sure why Github is required though. It doesn't even save the Github link in the settings page.

[2018-06-15 15:03] AndrewJBateman opened #17595 "Unable to Claim Certification of APIs and Microservices Projects"
I completed all projects and subjects for APIs and Microservices Cert, but when I claim the cert the message "it looks like you have not completed the necessary steps. Please complete the required challenges to claim the APIs and Microservices. I have accepted our Academic Honesty Policy. I redid the projects to the new beta requirements.

Please let me know what i have to do to get the certificat

[2018-06-15 15:38] DivineInfinity commented on #17572
I have the same problem except it's only the last one that's showing up as incomplete
![screenshot 3](https://user-images.githubusercontent.com/19728508/41476736-09d7393c-70e0-11e8-8851-fd1d26d1d5c0.png)

[2018-06-15 15:51] SaintPeter commented on #17511
I'm not sure that I understand the obsession with Gatsby.  There is almost nothing about it that it helpful to a challenge editor.  We're not going to be serving all bazillion challenge files.  We're just going to be editing one challenge at a time.  Not everything is a nail for this hammer.

We can enumerate the JSON files with a root path and recursive `fs.readdir()` calls.  We present those fil

[2018-06-15 15:58] raditotev commented on #17595
This issue has been raised already #17522

[2018-06-15 17:28] tchaffee commented on #17511
Doesn't make sense to me either, but hard to tell what the ideal stack is until we've agreed on all the initial requirements, both functional and non-functional. The reason I asked about only using the app locally is because that's an important non-functional requirement around performance. Pretty clear now that we don't have to optimize the app for thousands of online users. Really only one perso

[2018-06-15 17:35] tchaffee commented on #17511
Oh, now I see the repo now for COM1000. I didn't realize the source was still available. It makes a whole lot of sense to me to just get that working again with the new schema with no new features and then decide if a rewrite is even worth it.

[2018-06-15 18:08] luandy64 commented on #17572
Hey @JamesStaffordCoyte and @DivineInfinity,

I know this may only be a temporary fix, but if you go and complete the challenges again, it corrects itself on the Settings page. I happened to have my Cash Register code and pasted it in again and hit Run Tests; now I just need to rewrite the Telephone Number Validator and I'll report back with my findings.

[2018-06-15 18:09] luandy64 commented on #17572
On a different note, clicking on "Complete Project" on the Settings Page leads to a page that says
"Sorry, we couldn't find a page for that address.". I don't know if anyone else sees it.

[2018-06-15 18:45] iarobinson opened #17596 "Broken Link in Introducing Inline Styles of the React Front End Library curriculum"
The link in this paragraph needs to be like this:

"There are other complex concepts that add powerful capabilities to your React code. But you may be wondering about the more simple problem of how to style those JSX elements you create in React. You likely know that it won't be exactly the same as working with HTML because of <a target=\"_blank\" **href=\"front-end-libraries/react/define-an-html-

[2018-06-15 18:53] luandy64 commented on #17572
Resubmitting the challenges does work, I have my certificate now.

[2018-06-15 18:54] SaintPeter commented on #17511
I'd like to better understand the "Human Readable" requirement.

My instinct is that a JSON format - a format specifically designed to be machine/code readable - is always going to be the best way to store this data.  There is a hard line as to if a file is properly encoded as JSON or not, there is no ambiguity.  It can also constantly be used to generate output which, in turn, is going to be used

[2018-06-15 18:59] SaintPeter commented on #17511
For everyone on the thread, here is the old `COM1000` Repo:
https://github.com/freeCodeCamp/COM1000

It has been archived, but can still be downloaded. The name, BTW, is a bit of a joke.  It stands for "Challenge-o-Matic 1000".

[2018-06-15 19:15] Vimal-Raghubir commented on #17596
Hi @iarobinson. Follow the steps below to submit a successful PR to this repo:
1. What you need to do is create a new branch from the staging branch. NOTE: This does not mean make your commit on the staging branch. Name the branch Fix/*shortdescription* such as Fix/Inline-Styles-Broken-Link.
2. add the commit to this branch. Prefrably make your commit message titled "Fix: broken link......"
3. Cre

[2018-06-15 19:33] tchaffee commented on #17511
Since someone still has to review the PR in whatever form the raw input is in, it makes sense to consider something more readable than noisy JSON with all the quotes and properties. Don't you think we can do much better than one gigantic JSON file? I don't know if I'm keen on putting each challenge in its own dir... but if we did that we could have description.md (along with description-es.md for

[2018-06-15 20:21] SaintPeter commented on #17511
That actually sounds pretty reasonable.  I don't know if it'd be too messy to have a different folder for each challenge, but it becomes really self organized.  You could have `description-en.md` and `description-XX.md` the different languages.

Order would be an issue, though.  Right now they're in the order that they occur in the array in the JSON file.  What happens if you want to "insert" a ch

[2018-06-15 20:23] QuincyLarson commented on #13254
@SnowdenWintermute OK - I've assigned this issue to you. Be sure to join gitter.im/freecodecamp/contributors and ask any questions you may have in there :)

[2018-06-15 21:19] diskandarnerd commented on #17325
then this issue should be closed since already solved?

[2018-06-15 21:52] codecycling opened #17599 "Output Not Showing Up"
#### Describe your problem and - if possible - how to reproduce it
Every time I write the correct code and test it, I get the banner that I completed it correctly so that I can move on to the next exercise BUT my code output never displays in the following location:
/**
* Your test output will go here.
*/
It only ever says the following so I can run all of the tests that are included in each exerc

[2018-06-15 22:18] tchaffee commented on #17511
Unless someone objects, let's try that out and see how it goes. I have other commitments for the next week, but after that I can give it a go unless someone else wants to take it on.

[2018-06-15 22:31] SoyDiego commented on #17403
The same here, I have passed the challenge only writing:
[code]
I think you should repair it, because the challenge is about Getters and Setters.

Thanks!

[2018-06-16 00:00] P1xt commented on #17589
The way I read the challenge, you can either use glitch via the provided link, OR you can use the github link, clone the repo, and host the project wherever you want. It says nothing about "if you do this on glitch you need to download your project from glitch, create a github repo, push your glitch code into that repo, then submit both the glitch and github links.

I'm perfectly fine with "clone

[2018-06-16 02:03] eolculnamo2 commented on #17522
Any errors in the console?

[2018-06-16 02:51] fasatrix commented on #5889
nice and clean ;-)
function cc(card) {
  // Only change code below this line
  switch(card){
    case 2:
    case 3:
    case 4:
    case 5:
    case 6:
      count++;
    break;
    case 7:
    case 8:
    case 9:
      count+=0;
    break;
    case 10:
    case 'J':
    case 'Q':
    case 'K':
    case 'A':
      count-=1;
    break;
  }
    return count <= 0 ? `${count} Hold` : `${count} Bet`;

[2018-06-16 03:52] lngchn commented on #17522
No errors in the console on my side. I'm using Chrome.

[2018-06-16 04:15] #17452 closed

[2018-06-16 04:16] QuincyLarson commented on #15012
@ahmadabdolsaheb OK - thanks for letting me know - I still can't see it for some reason so you would be a better person to QA this.

[2018-06-16 04:17] QuincyLarson commented on #14234
@Flarp OK - have a nice week off. Hopefully we'll have you un-blocked by the time you get back :)

[2018-06-16 04:18] QuincyLarson commented on #17510
@raisedadead OK - that sounds like an even better approach - less that we have to communicate to contributors.

Thanks for tackling this.

[2018-06-16 04:19] QuincyLarson commented on #17450
@raisedadead Good point - I forgot this was on that list. We definitely need to get this project working again.

@Em-Ant Thanks for describing the issue. Here's what I propose we do - we switch this project to focus instead on the forum.

Without an API key, one think people could do is show recently active threads using our forum's API:

https://forum.freecodecamp.org/latest.json

We would need t

[2018-06-16 05:37] anku255 commented on #17599
Hi! @codecycling This is not an issue. It says "Your **test output** will go here". It will not show the output of your javascript code.

Try running the test without writing any code and it will give you feedback saying
[code]

This is exactly how its designed to work.

If you put any `console.log` in your code then you can see its output in the browser's console.

[2018-06-16 06:27] shenkin opened #17601 "Test that a page renders properly after an exercise is completed"
This is an enhancement request.

#### Describe your problem and - if possible - how to reproduce it

I have encountered several situations in which freeCodeCamp tells me that the code test passes, but nevertheless the page fails to render. I first encountered this in an [example](https://forum.freecodecamp.org/t/broken-applied-visual-design-create-visual-balance-using-the-text-align-property/19663

[2018-06-16 07:03] anku255 commented on #17594
@moT01 I am a little confused about challenge files. What about this file in `curriculum` repo?

https://github.com/freeCodeCamp/curriculum/blob/6cb3732bd0bddf5177e121785c3b1a22ca2432ae/challenges/06-information-security-and-quality-assurance/helmetjs.json#L196

Where should one correct the mistakes?

[2018-06-16 07:11] anku255 commented on #17325
@Bouncey @raisedadead @ahmadabdolsaheb Please close this issue. It has been fixed for a long time.

[2018-06-16 07:16] Bouncey commented on #17325
Thanks @anku255

[2018-06-16 07:16] #17325 closed

[2018-06-16 07:57] anku255 commented on #12699
@ahmadabdolsaheb

How should I go about testing it? If I make changes in the seed files that reside in `freecodecamp` repo then it won't reflect in the `learn` repo because it uses `@freecodecamp/curriculum` node module to get the challenges.

Even if I make the changes in `curriculum` repo locally, it won't reflect in the `learn` repo.

[2018-06-16 09:07] StubRavi commented on #17599
![capture](https://user-images.githubusercontent.com/34769076/41497409-665c23c4-7172-11e8-97d0-762195c10f08.JPG)

console shows that the script is sandboxed but 'allow script' is not set.

[2018-06-16 11:15] florisvaneck commented on #17356
Same problem here on latest MacOS release running Safari. Start state of console:

/**
* Your test output will go here.
*/

End state:

// running test
// tests completed

No in between messages.

If I use console.log, it would be very helpful to actually see that output so I can actually debug (like similar to running JavaScript in Chrome Developer tools).

[2018-06-16 11:30] richa031 commented on #16358
const result = {
  success: ["max-length", "no-amd", "prefer-arrow-functions"],
  failure: ["no-var", "var-on-top", "linebreak"],
  skipped: ["id-blacklist", "no-dup-keys"]
};
function makeList(arr) {
  "use strict";

  // change code below this line
  const resultDisplayArray =
 [`<li class="text-warning">${arr[0]}</li>`,
  `<li class="text-warning">${arr[1]}</li>`,
  `<li class="text-warning">${

[2018-06-16 11:32] richa031 commented on #16358
i'm having the same problem

[2018-06-16 11:36] inquiloper commented on #16358
@richa031  As pointed out above, you need to use Array.map, with your approach does not work.

[2018-06-16 11:37] richa031 commented on #16358
is there anything i wrote wrong? and why are we using map function here?

[2018-06-16 12:31] pradeshkumarg commented on #17558
Hi @anku255 ,

It worked wen I cloned the project but not when I created a new Project. Thanks.

[2018-06-16 12:41] Nirajn2311 commented on #17356
It is a feature that will be coming soon.

[2018-06-16 13:07] anku255 commented on #17558
@pradeshkumarg If you are no longer facing the problem then can you please close this issue?

[2018-06-16 13:29] npellow commented on #17408
Also having the same issue. I tried doing it as below as well, but it didn't pass either, even though it worked:

`.blog-post {
color: $text-color;
}
h2 {
color: $text-color;
}`

![sassproblem](https://user-images.githubusercontent.com/21061478/41499007-884f51f2-7147-11e8-89f0-c7b5eb5011d3.JPG)

[2018-06-16 14:00] QuincyLarson commented on #16390
@saurishkar Did you get a chance to look at this? Are you still interested in helping design these in-browser Git coding challenges?

[2018-06-16 14:00] QuincyLarson commented on #17189
@MitsyAahar Thanks for your patience. This hasn't been resolved yet. Are you still interested in working on it?

[2018-06-16 14:00] #17298 closed

[2018-06-16 14:15] jooji-san opened #17602 "Homepage requires scrolling"
Reaching 'Go to the coding curriculum' button requires scrolling. this should be the case imo

[2018-06-16 14:39] codecycling commented on #17599
How do I enable ‘allow script’?

Best,

Rick

[2018-06-16 15:08] texas2010 commented on #17599
Duplicate of [#17356](https://github.com/freeCodeCamp/freeCodeCamp/issues/17356).

[2018-06-16 15:08] #17599 closed

[2018-06-16 15:34] QuincyLarson commented on #17095
@julianorafael Have you had a chance to design any explore this further? I am eager to hear your thoughts on this and see any designs you come up with. If we can converge on a process that works, we can use this same approach with translation into other world languages :)

[2018-06-16 15:35] QuincyLarson commented on #16445
@tomasvn Thanks for your patience - I just saw this. Yes - client/less/main.less should be the right file.

[2018-06-16 15:38] QuincyLarson commented on #17155
@rsangdoung Thanks for your patience. Have you had time to work on this? Once you have successfully forked freeCodeCamp, created a branch, and fixed the issue, you can open a pull request. We have additional details on how to do this in https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md

[2018-06-16 15:45] npellow commented on #15662
I've tried it with the normal whitespace; tried it without the added white space; tried clearing cache, resetting the code. The code works, just doesn't want to pass the tests. The first screenshot is in Chrome. I tried it on IE (second screenshot), and it wouldn't work either; it seemed to get stuck when I clicked Run the Tests.

![sassproblem2](https://user-images.githubusercontent.com/21061478/

[2018-06-16 15:52] MitsyAahar commented on #17189
Yes, I am!

[2018-06-16 15:58] eolculnamo2 commented on #17602
We could adjust the make a BEM modification to the  big breaks class making the margin top 40px and margin bottom 35px. I think it would look better this way.

[2018-06-16 16:28] moT01 commented on #17602
@supuun can you specify what the problem is and what you want to see happen?

[2018-06-16 16:51] rsangdoung commented on #17155
@QuincyLarson I haven't had much success in resolving the seeding issue and my http://localhost:3000 is not functioning properly.  I think you should give it to someone else because I'm not much help at this point.  It's okay.  Thank you.

[2018-06-16 16:52] RenaudGagne opened #17603 "UX - Top toggle open by default..."
#### Describe your problem and - if possible - how to reproduce it

Hi, I finished every single exercise in the "Responsive Web Design Certification" module yet when I visit the curriculum page, that toggle is by default open and I have to close the toggle to go to where I'm at (which is the Javascript module).

It's not a big thing but every time it bugs me that I have to close the tab to get to

[2018-06-16 17:01] FrancoB411 opened #17604 "Bug in intermediate solution on the forum"
[Missing letter algo challenge, intermediate solution](https://forum.freecodecamp.org/t/freecodecamp-algorithm-challenge-guide-missing-letters/16023) in the forums and the new guides has a bug.

It cannot handle sequential missing letters, so if you had an input of 'abcf', it would only return 'd' instead of 'de'.

I tried to add a comment in the forum but it was locked, so I posted an issue, and

[2018-06-16 17:10] supuun commented on #17602
This is what I'm talking about:
![sss](https://user-images.githubusercontent.com/11631221/41500800-6c87f854-71a9-11e8-9a2e-f47a95b39610.PNG)
![ss](https://user-images.githubusercontent.com/11631221/41500799-6c5f72c6-71a9-11e8-863b-988a12495032.png)
the whole page doesn't fit on my laptop's screen

[2018-06-16 18:24] RenaudGagne opened #17605 "404 Not Found - Javascript Record Collection"
#### Describe your problem and - if possible - how to reproduce it

In https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/record-collection

1.

The link https://learn.freecodecamp.org/accessing-objects-properties-with-variables is a 404 Not Found.

2.

The link to https://learn.freecodecamp.org/manipulating-complex-objects is a 404 Not Found.

#### If possib

[2018-06-16 18:47] Nirajn2311 commented on #17605
This issue should be moved to curriculum module and I will work on the fix in the meantime.

[2018-06-16 19:29] Nirajn2311 commented on #17602
I think that the text size should be decreased or whitespace between the lines should be removed.
Open for beginners.

[2018-06-16 20:47] haydaralrikabi commented on #17605
You can access the missing links here:
[https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/accessing-object-properties-with-variables/](Accessing Object Properties with Variables)
[https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/manipulating-complex-objects/](Manipulating Complex Objects)

[2018-06-16 22:33] haydaralrikabi commented on #17604
map is returning no more the number of the letters that come after the missing letters. For example, if the string is "abe", then there is only one letter "e" that comes after the missing letters "cd". So, map returns only one missing letter "c".
If the original string was "abef", then "cd" would be returned as missing letters.
To remedy this issue, we need to get the number of missing letters fir

[2018-06-16 23:19] haydaralrikabi commented on #17604
Correct me if I am wrong, but I think that the forum posts on https://forum.freecodecamp.org are not part of the freeCodeCamp repo on Github!

[2018-06-16 23:48] dbstocker opened #17606 "Import a Google Font Challenge"
#### Describe your problem and - if possible - how to reproduce it
Test on "Import a Google Font" Challenge (CSS) fails when declaring a fallback font.

This code fails the test with the output "Use an h2 CSS selector to change the font.":
[code]
This code passes all tests:
[code]
#### Add a Link to the page with the problem

https://bit.ly/2leZLlU

#### Tell us about your browser and operating sy

[2018-06-16 23:58] FrancoB411 commented on #17604
That is correct, but since I could not find how to unlock and leave a
comment, I figured I would post on Github and see if someone could point me
in the right direction.

What would be great is to update the forum example so it does not have the
bug.
Though I prefer self commenting variable names, whichever working code
works, works for me.

Do you know how to change that post linked to in the ori

[2018-06-17 00:15] FrancoB411 commented on #17604
That is correct, the sites are different, but since I could not find how to unlock and leave a
comment on the forum, I figured I would post on Github and see if someone could point me
in the right direction.

What would be great is to update the forum example so it does not have the bug.

Though `reduce` feels semantically more appropriate, and I prefer self commenting variable names, and fewer mo

[2018-06-17 02:45] ericbakuladavis opened #17607 "Typo in Responsive Web Design > Applied Visual Design > Use a Bezier Curve to Move a Graphic"
#### Describe your problem and - if possible - how to reproduce it
In this sentence, the emphasized "then" should be "than".

#### Add a Link to the page with the problem
Link to file: https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/01-responsive-web-design/applied-visual-design.json
Link to page: https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/

[2018-06-17 02:58] Nirajn2311 commented on #17607
Yes, it is a grammatical error. Thx for pointing it out.
If any newbie is free, they can take this up. If not I’ll do it.

[2018-06-17 03:10] #17515 closed

[2018-06-17 03:59] kanascyc commented on #15403
@LeviT23 the code should be
body { background: url("");}
I searched it in this below website.
https://www.w3schools.com/cssref/css3_pr_background.asp

[2018-06-17 08:52] thatnini commented on #17604
The guides are locked on the forum for a reason.

Have you seen the pinned post in the guide category? [https://forum.freecodecamp.org/t/about-the-guide-category/26397](https://forum.freecodecamp.org/t/about-the-guide-category/26397)

[2018-06-17 08:58] Nirajn2311 commented on #17332
It doesn't work in the preview but when you make your own webpage it works perfectly.

[2018-06-17 09:15] haydaralrikabi commented on #17604
If you notice there is a padlock icon on the left of the forum's title which indicates that the topic is closed and does not accept new replies.
You can contact the support team through this email address: team@freecodecamp.org or through this page: https://forum.freecodecamp.org/latest
Most probably you will receive the same reply as @thatnini 's.

[2018-06-17 10:10] twhite96 commented on #17579
Got it. Will fix tonight.

[2018-06-17 10:13] SoyDiego commented on #17387
Same problem here. Firefox Quantum 60.0.2 (64-bits)

[2018-06-17 10:16] raisedadead commented on #17544
I would incline on sending a separate welcome email to new users apart from the verification, with a little on boarding related details. This email will be triggered from the freeCodeCamp API Server. And hence, we control when its sent out.

This is actually something we would have to implement separate of the Auth Flow and would ideally be CRON of some form that checks across all freeCodeCamp ser

[2018-06-17 11:12] supuun commented on #17602
as far as I'm concerned, the font isn't responsive.

[2018-06-17 11:34] informmehemant commented on #10132
if(!collection.hasOwnProperty(“tracks”))  { // this line has error
   collection[id][prop]=[];
}
instead of this you can write
if(!collection[id].hasOwnProperty(“tracks”))  { // we missed on which particular id's " tracks" we are updating
   collection[id][prop]=[];
}

this works for me :)

[2018-06-17 12:41] ajain17102056 commented on #17436
+1 Please fix these

[2018-06-17 13:08] Nirajn2311 commented on #17436
So what changes should be done specifically?

[2018-06-17 14:33] supuun opened #17610 "Button on Homepage returns Error"
after clicking 'Go to the coding curriculum' button on the homepage
![screenshot_2018-06-17 learn to code with free online courses programming projects and interview preparation for developer](https://user-images.githubusercontent.com/11631221/41508907-c2cc1354-725c-11e8-98de-d03e8070cf04.png)
I get this message
![screenshot_2018-06-17 https learn freecodecamp org](https://user-images.githubuserco

[2018-06-17 14:34] supuun commented on #17610
I'm using Firefox Nightly, but I tried this in chrome, too

[2018-06-17 15:08] FrancoB411 commented on #17604
Ok, thanks. Since it seems this issue would be more appropriate for the guides repo, I created a [new  issue](https://github.com/freeCodeCamp/guide/issues/8205) over there.

[2018-06-17 15:08] #17604 closed

[2018-06-17 15:43] Thebigbignooby commented on #17436
and tests should allow for import paths begining with `./` if they are suppose to be from the same working directory

[2018-06-17 16:44] thatnini commented on #17604
I've only just read the challenge in question as it wasn't linked here.

This may just be me, but as [https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/missing-letters/](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/missing-letters/) is asking you to

implies that there will only eve

[2018-06-17 16:50] thatnini commented on #17610
Clicking on the button takes you to [https://www.freecodecamp.org/challenges/current-challenge](https://www.freecodecamp.org/challenges/current-challenge) which then redirects you to your current challenge. This will be different for every person.

What is the link in your address bar as its not in your screenshot?

[2018-06-17 17:04] P1xt commented on #17584
@anku255 Yes, that is my point. The instructions specifically state that you can clone and use the github repo instead of Glitch - but

Also, using Glitch to do the project was (for me) impossible on Chrome.

[2018-06-17 17:07] FrancoB411 commented on #17604
The original issue linked to the forum page that has a description of the
problem.

From the description:
"There is currently no test case for the string missing more than one
letter, but if there was one, recursion would be used. "

In other words, the tests will pass with one missing letter, but there is a
possibility that there will be more.

On Sun, Jun 17, 2018 at 12:49 PM thatnini <notificat

[2018-06-17 18:35] moT01 commented on #17610
Thank you for reporting this issue.

This is a standard message notifying you that this issue is present in production, but it has been fixed in staging. Because of that, I’m closing this issue. When staging will be pushed to production again, your issue will be resolved.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

ht

[2018-06-17 18:35] #17610 closed

[2018-06-17 18:48] julianorafael commented on #17095
@QuincyLarson I've been discussing this topic with @tchaffee, @raisedadead and others on #17511 and #17504. It seems that we agree that there is a need for a more general purposed tool for challenge creation and editing, as well as the translation tool. While we've been brainstorming it, we have not reached into a solid goal yet.

[2018-06-17 19:18] Nirajn2311 commented on #17569
Could you close this issue if your problem has been solve.

[2018-06-17 19:28] Nirajn2311 commented on #17532
Will solve this issue once the problem of local sign is solved.

[2018-06-17 20:11] moT01 commented on #17603
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue https://github.com/freeCodeCamp/learn/issues/171, so I am closing it as a duplicate.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-06-17 20:11] #17603 closed

[2018-06-17 21:17] MrcRjs commented on #17522
I have the same problem, I see 2 errors in the console but they seem to be unrelated.
![captura de pantalla 2018-06-17 a la s 16 13 37](https://user-images.githubusercontent.com/10587527/41512137-d9dfed9e-7249-11e8-934a-54fa1d45e5db.png)

[2018-06-17 21:53] wesgray76 opened #17611 "Login issues"
#### Describe your problem and - if possible - how to reproduce it
could not login to free code camp.
!

#### Add a Link to the page with the problem

www.freecodecamp.org
#### Tell us about your browser and operating system

* Browser Name: google
* Browser Version:
* Operating System: windows 10

#### If possible, add a screenshot here
[image](https://user-images.githubusercontent.com/28853982/4

[2018-06-17 22:39] #17611 closed

[2018-06-17 22:39] wesgray76 commented on #17611
I have other learning sources available. Thank you.

[2018-06-17 23:13] aydinulusoy opened #17612 "Set the font-size for multiple heading elements"
#### Describe your problem and - if possible - how to reproduce it

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If possible, add a screenshot here

[2018-06-17 23:13] aydinulusoy opened #17613 "Set the font-size for multiple heading elements"
What's wrong with this lesson ,I added the font-sizes for all the elements but it keeps telling me that my h5 and h6 font-sizes are wrong

https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/set-the-font-size-for-multiple-heading-elements

#### Describe your problem and - if possible - how to reproduce it

#### Add a Link to the page with the problem

#### Tell us about your

[2018-06-17 23:15] brimarq commented on #17570
I had similar issues using Firefox 60.0.2 (64-bit) on macOS 10.12.6. Initial partial failures of correct solutions on some exercises. The results pane behaved appropriately, and I even opened dev tools to check and see that my results were correct. I just waited a few seconds and re-ran the tests on some, or went back to re-run tests after having moved on to others. There doesn't seem to be any pa

[2018-06-17 23:57] emdashv commented on #17317
@huyenltnguyen Thanks for your help on all of this. I sent the team an email.

[2018-06-18 00:33] #17569 closed

[2018-06-18 00:46] phrazzld commented on #17612
This looks to be a duplicate of the more fleshed-out issue below:
https://github.com/freeCodeCamp/freeCodeCamp/issues/17613

@aydinulusoy Mind closing this one?

[2018-06-18 02:26] wesgray76 opened #17614 "login issues"
#### Describe your problem and - if possible - how to reproduce it
every time that I try to login, I get a message that says "oops. Something has gone wrong"

#### Add a Link to the page with the problem
www.freecodecamp.org

#### Tell us about your browser and operating system

* Browser Name: Google chrome
* Browser Version:
* Operating System: Windows 10

#### If possible, add a screenshot here

[2018-06-18 02:29] Darkir opened #17615 "Your style declaration should end with a ;"
#### Describe your problem and - if possible - how to reproduce it
I already put the ;  ... And  yet it doesn't let me go to the next challenge.

#### Add a Link to the page with the problem
freecodecamp.org

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version: 67.0.3396.87
* Operating System: 64

#### If possible, add a screenshot here
![image](https://u

[2018-06-18 04:32] mpmaan commented on #17615
@Darkir You have modified text contained in the ```h2``` element. Originally it was ```CatPhotoApp```. The test checks the text contained in the ```h2``` element along with its color.

[2018-06-18 04:35] mpmaan commented on #17614
@wesgray76 It will be helpful if you attach a screenshot or provide some more details about how this issue can be reproduced otherwise it will be difficult to solve this issue.

[2018-06-18 04:42] mpmaan commented on #17613
@aydinulusoy I am able to pass this test. I will be helpful if you can attach a screenshot containing your code and the test result.

[2018-06-18 04:47] wesgray76 commented on #17614
![image](https://user-images.githubusercontent.com/28853982/41518530-9785ff76-7288-11e8-87ed-268378612555.png)
![image](https://user-images.githubusercontent.com/28853982/41518548-b03e1774-7288-11e8-88ed-53589b3ad5f5.png)
![image](https://user-images.githubusercontent.com/28853982/41518556-bae1b190-7288-11e8-9fe2-5d606d829d54.png)

[2018-06-18 04:50] wesgray76 commented on #17614
I have been fighting this all day

[2018-06-18 04:55] mpmaan commented on #17614
Did you try the other option : "If you previously signed in ....twitter or linkedin....add email address" ?

[2018-06-18 05:01] wesgray76 commented on #17614
keeps kicking me back saying something went wrong

[2018-06-18 05:04] wesgray76 commented on #17614
![image](https://user-images.githubusercontent.com/28853982/41519017-19893da6-728b-11e8-8401-188b5bac1dc8.png)
this is what happened when I tried to login via twitter

[2018-06-18 05:07] wesgray76 commented on #17614
![image](https://user-images.githubusercontent.com/28853982/41519060-70cd2988-728b-11e8-93e7-f3c215a4499a.png)
![image](https://user-images.githubusercontent.com/28853982/41519075-8869ad6e-728b-11e8-9480-85cd68b5f826.png)
![image](https://user-images.githubusercontent.com/28853982/41519088-99fd9658-728b-11e8-9e79-e3b2e78c76d9.png)

[2018-06-18 05:10] mpmaan commented on #17614
I really don't know what's wrong. I am able to sign in and sign out. Hopefully someone else will look into it soon.

[2018-06-18 05:12] mpmaan commented on #17614
Why did you enter another email-id ?

[2018-06-18 05:14] wesgray76 commented on #17614
to double check to see if it was an email issue.

[2018-06-18 05:15] wesgray76 commented on #17614
the weird thing is, I can access it on my Android phone. However, it is difficult to complete the exercises.

[2018-06-18 05:18] mpmaan commented on #17614
So that should mean that you can't create a new account or can't login to any account if you have multiple accounts.

[2018-06-18 05:32] mpmaan commented on #17614
Look into issue #17475 . Hopefully @raisedadead can fix your account.

[2018-06-18 05:35] wesgray76 commented on #17614
cleared the cookies. Did not work.

[2018-06-18 05:41] wesgray76 commented on #17614
is there anyway I can bring this issue to his attention without creating a new issue?

[2018-06-18 07:07] wahaj-47 commented on #17360
Yep,  issue resolved :)

[2018-06-18 07:42] mpmaan commented on #17614
He will get a notification whenever he will open github. You can also mail him regarding your problem at mrugesh@freecodecamp.org . I thought you could find his email-id in his comment on the issue #17475 .

[2018-06-18 08:15] AndrewJBateman commented on #17522
I have the same errors, using Chrome too.
![image](https://user-images.githubusercontent.com/27190679/41525159-57751c98-72e0-11e8-8a6b-6150a29a36ec.png)

[2018-06-18 08:50] kevintd commented on #17522
This is my error message:
"Refused to load the font '<URL>' because it violates the following Content Security Policy directive: "font-src *.cloudflare.com <URL> *.bootstrapcdn.com *.googleapis.com *.gstatic.com <URL> <URL> 'self' <URL> <URL>".

settings:1 Refused to load the font 'data:font/woff;base64,d09GRgABAAAAAGVUABEAAAAAxuQAAQABAAAAAAAAAAAAAAAAAAAAAAAAAABHREVGAAABgAAAAC4AAAA0ArgC7UdQT1MAAAG

[2018-06-18 09:23] Daniel-Michael opened #17617 "Unclear communication in challenge: Make Typography Responsive"
#### Describe your problem and - if possible - how to reproduce it
This is a communications issue, not a code issue. It is regarding the "Responsive Web Design Principles: Make Typography Responsive" challenge, located in the new curriculum 'Responsive Web Design Challenges'.

The problem as I see it is to do with an explanation of how to apply the viewport dimensions using CSS.

The description i

[2018-06-18 09:39] wesgray76 commented on #17614
I did email him. Thank you for your help.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: mpmaan <notifications@github.com>
Sent: Monday, June 18, 2018 2:46:30 AM
To: freeCodeCamp/freeCodeCamp
Cc: Wes Gray; Mention
Subject: Re: [freeCodeCamp/freeCodeCamp] login issues (#17614)

He will get a notification whenever he will open g

[2018-06-18 10:52] lieberscott opened #17618 "Advanced Node and Express Challenges failing tests"
#### Describe your problem and - if possible - how to reproduce it
The advanced Node and Express challenges are failing even with correct code. (Pug is a dependency as well in my project.)

[code]

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/information-security-and-quality-assurance/advanced-node-and-express/set-up-a-template-engine

#### Tell us about your browser

[2018-06-18 10:56] mstellaluna commented on #17614
@freeCodeCamp/moderators Can someone please assist ?

[2018-06-18 11:06] Ethan-Arrowood commented on #17614
@wesgray76 are you using an VPN? Can you try logging in from another device on the same network and see if the problem persists? When it comes to network issues it can be extremely hard to debug exactly what’s going wrong, but there are a few things you can try.
- shut down machine and restart it
- if you’re using WiFi try using Ethernet instead (and vice versa if you’re already using Ethernet)
-

[2018-06-18 11:35] brainExplorer commented on #9128
solution:
function lookUpProfile(name, prop)
{
// Only change code below this line
for (var p in contacts)
 {
    if (contacts[p].firstName === name)
    {
        if (!contacts[p].hasOwnProperty(prop))
        {
          return 'No such property';
        }
      return contacts[p][prop];
    }
  }
  return "No such contact";
// Only change code above this line
}

[2018-06-18 11:47] #17360 closed

[2018-06-18 12:34] wesgray76 commented on #17614
I don't know what a VPN is. I am able to access FCC from my Android phone. However, the text is so small that I have a hard time doing the challenges.

[2018-06-18 12:36] wesgray76 commented on #17614
I did run a trouble shoot on my network. A problem was found and fixed. However, I still wasn't able to login.

[2018-06-18 12:38] ferchuqui commented on #15402
; is missing

[2018-06-18 12:53] raisedadead commented on #17614
Hi @wesgray76 thanks for the issue report. Sorry about the delay, I just returned from a long weekend. Looking into this. I'll revert on your email.

[2018-06-18 12:53] #17614 closed

[2018-06-18 12:54] raisedadead commented on #17614
@Ethan-Arrowood @mstellaluna @mpmaan Thanks a lot for pitching in.

[2018-06-18 12:54] Asjas commented on #17613
Hi @aydinulusoy

There is nothing wrong with this challenge. I was able to pass this challenge.

Please either attach a screenshot of your code here or post your code here.

[2018-06-18 12:59] mpmaan opened #17619 "Wrong test for JavaScript comments challenge"
#### Describe your problem and - if possible - how to reproduce it

The test requires a multi-line comment of the form `/*   */`. However, the test fails if additional `*` characters are present at the beginning or the end of the text contained within the comment.
Some examples :
[code]
The regular expression for the corresponding test needs to be updated.
#### Add a Link to the page with the prob

[2018-06-18 13:51] Bouncey commented on #17605
Hi @RenaudGagne, thanks for the issue. The reason they are 404 is because the route does not exist. We changed the challenge routes to help with SEO and there was no easy way of mapping them on learn as learn is a static site hosted on netlify.

If you had gone to `https://www.freecodecamp.org/accessing-objects-properties-with-variables`, you would have been redirected to the corresponding page on

[2018-06-18 13:51] #17605 closed

[2018-06-18 14:04] mattipr89 commented on #17332
on own webpage or w3 simulator works perfect but for achieving this task it is impossible

[2018-06-18 14:36] kamphare opened #17620 "Code example incorrectly displaying wrong text in RegEx challenge: Use Capture Groups to Search and Replace"
#### Describe your problem and - if possible - how to reproduce it
Heya! Sorry, I'm very new to this so I'm not sure how it works. There seems to be a bug with the example text for using $ to access capture groups.

Here's what appears for me:
![image](https://user-images.githubusercontent.com/177903/41541971-142f0fc8-7314-11e8-8a9b-8dc5c3d79b75.png)
Though it's supposed to say: "Code Camp".replac

[2018-06-18 14:47] #17510 closed

[2018-06-18 15:04] starmarineplay opened #17621 "I am having trouble accessing code study groups in my area."
Hi I sent you an email already however i am not receiving a response i would highly appreciate it if you responded and potentialy provide a phone number that i can contact someone with, thank you. And i also tried the link in google chrome on windows and logged in.

[2018-06-18 15:05] starmarineplay commented on #17621
//and the link failed sorry for misconception.

// lol i am commenting in code.

[2018-06-18 15:13] Wojonatior commented on #17320
What would be the preferred behavior here? The last 8 months of activity?

I should be able to handle this. I just may need some help with how to generate some user test data so I can actually verify the behavior.

[2018-06-18 15:17] #17621 closed

[2018-06-18 15:50] utarit commented on #17522
I have the same error

[2018-06-18 16:52] nynsrkr opened #17622 "Heat Maps Not getting updated on new-passwordless accounts."
Progress on challenges not being reflected on heat maps. However accounts opened prior the to the curriculum update linked with github accounts have no issues with updates to the heat map. That too there is no provision to link github accounts with password-less accounts other than mentioning github url on bio page. { Not quite sure if github account has anything to do with  heat maps on the fcc p

[2018-06-18 17:21] theacid commented on #17606
Your error is not an error (in my opinion). The only thing you have to do is:

So code should look like this (without style):

[code]

[2018-06-18 18:19] MrcRjs commented on #17522
@Bouncey do you know if this bug is related to the [verifyCert()](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/server/boot/certificate.js#L255) function?
f916204b

[2018-06-18 18:34] Myst opened #17623 "Improve Accessibility of Audio Content with the audio Element"
#### Describe your problem and - if possible - how to reproduce it
It asks you to close audio element, even though if you closed it. This only happens if you add an "id" to the audio tag. If you dont add the "id" tag it runs without any problem.

Not Running code:
[code]
Running Code:
[code]
#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/applied-a

[2018-06-18 19:03] Nirajn2311 commented on #17623
Duplicate of #17577

[2018-06-18 19:16] #17474 closed

[2018-06-18 19:19] Dhrumil1808 commented on #16636
@Randore  it won't work for values lesser than 18 as it this is an invalid expression (buttonThree  && buttonOne)

Instead, try the below solution :
 { (this.state.userAge == '' ? buttonOne: (this.state.input < 18 ? buttonThree : buttonTwo)  }

[2018-06-18 20:14] supuun opened #17624 "Clarify user story in 'Build a Survey Form'"
#### Describe your problem and - if possible - how to reproduce it
this story actually requires you to use both attributes: min and max. Which isn't clear from instructions.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-projects/build-a-survey-form

[2018-06-18 22:38] samdoj commented on #10977
I completely agree, though I think console.log(), console.warn(), and console.err() should be added.  It would be as easy as making wrappers for each to change the innerHTML of whatever id displays output.

[2018-06-19 00:05] axZerk commented on #17436
This is an issue, I was stuck on it for good couple of minutes, because test cases need to be updated.

"Correct" answer is obviously a node_modules import, and those double quotes, rly? :)

[2018-06-19 00:37] dbstocker commented on #17606
There is some discussion in the challenge about setting a GENERIC_NAME font as a fallback, so it seems inappropriate for the test to return a fail if one declares a generic fallback font in the editor. It's probably fine either way. But it could confuse newcomers to demonstrate using a fallback font, and then failing them for doing so. Users may wrongly assume there is a problem with their syntax.

[2018-06-19 01:16] kevcomedia opened #17626 "Sass: Create Reusable CSS with Mixins - Won't pass if there's a space after the mixin name"
#### Describe your problem and - if possible - how to reproduce it
If the mixin is declared with a space between the mixin name and the parameter list, it won't pass, like so:

[code]

This is a passing declaration:
[code]

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/front-end-libraries/sass/create-reusable-css-with-mixins/

#### Tell us about your browser and opera

[2018-06-19 01:45] #17579 closed

[2018-06-19 01:54] igorasilveira opened #17627 "Cannot claim certificate with all projects complete"
#### Challenge Name

Claim APIs and Microservices Projects Certificate

#### Issue Description

I've completed all projects of the certification but I've been unable to claim the certificate. When I try to claim it a message says Looks like you have not completed the neccessary steps. Please return to the challenge map.
However, there is no indication on which challenge is missing.
Also, on this c

[2018-06-19 01:58] terryjreynolds opened #17628 "Testing too Narrow?-- Applied Visual Design: Adjust the Height of an Element"
Applied Visual Design: Adjust the Height of an Element Using the height Property

Problem: It is possible to pass this challenge by including a CSS height specification without a semi-colon. A missing semi-colon in a CSS class would impair any program. This sends a wrong message to the learner that it's okay to exclude the semi-colon.
e.g.
h4 {
    text-align: center;
    height: 25

[2018-06-19 02:48] Maarondesigns commented on #17379
Thanks for this post!
I was super confused trying to solve this as well and I've even been exposed to .map() and higher order functions previously. I thought for sure there would be a way to solve it with only .filter() because they haven't even said what the other functions do when you get to this exercise, or that it's possible to chain them together. I managed to solve it with a really ugly wor

[2018-06-19 02:48] Maarondesigns commented on #17379
Thanks for this post!
I was super confused trying to solve this as well and I've even been exposed to .map() and higher order functions previously. I thought for sure there would be a way to solve it with only .filter() because they haven't even said what the other functions do when you get to this exercise, or that it's possible to chain them together. I managed to solve it with a really ugly wor

[2018-06-19 02:50] VAggrippino commented on #17552
You seem to be asking me to make a judgement and a decision. I don't think it would be appropriate for me to take an active role in decision-making  about documentation or course materials on freeCodeCamp.

I just wanted to point out an error so that if there is an interested party actively working on the project they could correct it.

I already shared my opinion and linked to a reference post by

[2018-06-19 02:58] mpmaan commented on #17628
@terryjreynolds Generally , the `;`is necessary after every css property except for the last one. This should not cause any problem unless the RegExp test specifically asks for it.
For example
[code]
Though it would be helpful to include additional details or clarification about this in the challenge.

[2018-06-19 03:04] moT01 commented on #17594
@anku255 im confused at the moment as well - there's some changes in progress regarding where the challenges are so I'm not sure if we should be making PR's involving seed files to the main repo or the curriculum repo - I would guess it will be over there in future but at the moment I'm not sure what's best

[2018-06-19 04:12] tntC4stl3 opened #17629 "Challenge to set font-size to 10px will fail the test case under Chrome Chinese edition"
#### Describe your problem and - if possible - how to reproduce it
Chrome Chinese edition will adjust the text font size less than 12px to 12px, so the challenge to set font-size of p tag to 10px will always fail.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-principles/create-a-media-query/

#### Tell us about your browser

[2018-06-19 06:53] #17594 closed

[2018-06-19 06:55] raisedadead commented on #17596
Hi @Vimal-Raghubir thanks a lot for chiming in, nice work.

[2018-06-19 06:58] Asjas commented on #17627
Hi @igorasilveira

This issue is a duplicate of #17522. I would suggest closing this and typing a comment in issue #17522 so that the problem is contained in one issue and not spread out across multiple issues.

[2018-06-19 06:58] Asjas commented on #17595
Hi @AndrewJBateman

This issue is a duplicate of #17522. I would suggest closing this and typing a comment in issue #17522 so that the problem is contained in one issue and not spread out across multiple issues.

[2018-06-19 07:19] anku255 commented on #17618
I can **confirm** that the tests are failing even after completing the challenge successfully.

I tried to find out why is it failing by running it locally and putting some `console.log` in the file `frame-runner.js` but nothing showed up on the terminal. I tried it both on `freecodecamp` and `learn` repo but I got the same result.

[2018-06-19 07:36] anku255 commented on #17629
This is a very browser specific issue. I can think of two ways to tackle this  -
- Update the challenge to use a font size >= 12px.
- Add a warning to the challenge text saying 'tests will not pass on Chrome Chinese Edition'.

[2018-06-19 07:46] anku255 commented on #17620
By looking at the [challenge file](https://github.com/freeCodeCamp/freeCodeCamp/blob/ec63a2fff09cf1e45c2a6f9ae31af1b352039ead/seed/challenges/02-javascript-algorithms-and-data-structures/regular-expressions.json#L1636) I can that the challenge text does indeed say `"Code Camp".replace(/(\w+)\s(\w+)/, '$2 $1');`

The reason it doesn't show up like that is because `MathJax` interferes with it becaus

[2018-06-19 09:27] Yonatanos commented on #17506
Hi!
You should add value attribute where id="totally"

[2018-06-19 09:35] lynxlynxlynx opened #17632 "regex challenge regression from #16119"
#### Describe your problem and - if possible - how to reproduce it
The fix for #16119 obfuscated the success conditions:
https://github.com/freeCodeCamp/freeCodeCamp/commit/72fe47c609eb61da17e0af80f3b6a09c87e7861d#diff-9c53bb0f0b326a3ab63a565f77ff30e9

Since the challenge now asks to find a single character (upper or lower "a"), using the * for the most obvious solution ([aA]*) fails the tests, si

[2018-06-19 10:43] gforce2k5 commented on #17619
Hi, I would like to have a go to fix this problem

[2018-06-19 10:43] kanexte commented on #16358
It's a silly issue but but double quotes are also required between the string literal when single quotes should be an acceptable solution as well.

[2018-06-19 10:57] #17627 closed

[2018-06-19 10:58] igorasilveira commented on #17522
On the same issue here...

[2018-06-19 11:13] AndrewJBateman commented on #17595
This issue is a duplicate of #17522 so I have closed it.

[2018-06-19 11:13] #17595 closed

[2018-06-19 11:42] mpmaan opened #17633 "Incomplete details about how to complete challenge : Create String using Template literal"
#### Describe your problem and - if possible - how to reproduce it
It is not mentioned that we should use `map()` function to solve it. The test **Template strings were used** fails if we use a for-loop to solve this challenge. I could pass it by using only `map()` function.

This code works
[code]
This doesn't work
[code]
Most probably the regex test fails because of the `[` and `]` characters wh

[2018-06-19 11:48] mpmaan commented on #17619
@gforce2k5 That's good, please read [Contributing Guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md).

[2018-06-19 12:30] Nirajn2311 commented on #17633
Hmmm, the code appears to be correct in seed, but is not formatted correctly in the webpage.

[2018-06-19 12:33] gburu98 opened #17634 "(JS) For loop, not recognized in the tests"
Hello freeCodeCamp team,

I am stuck in a problem in "basic Javascript", it seems that the tests expect a for loop, but do not accept the one I propose. I tried to delete the cache but it still does not work. In localhost the loop works without problems

**Link**: https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/iterate-with-javascript-for-loops/

* Browser

[2018-06-19 12:36] tntC4stl3 commented on #17629
Yes, I think the first solution is much better.

[2018-06-19 12:37] mpmaan commented on #17632
@lynxlynxlynx  It is unclear what the solution should do. Don't these lines contradict each other?

If we have to write regex to specifically match `a` characters in `Aaaaaaaaaaaaaaaargh` then `/Aa*/` will work.

[2018-06-19 12:45] mpmaan commented on #17634
@gburu98 Most probably it's failing because you deleted the example of the pre-written code. Reset the code and try again. I don't know why that pre-written code is required to pass this test.

[2018-06-19 12:46] mpmaan commented on #17633
@Nirajn2311 Also check this challenge , it has kind of simlar problem.
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions/use-capture-groups-to-search-and-replace/

[2018-06-19 12:51] lynxlynxlynx commented on #17632
Yes, but that's just a regression. Previously the base string was longer (Star Wars) and didn't require checking for a specific char, so the solution was of the form /fixed string.*/.

[2018-06-19 12:53] Nirajn2311 commented on #17594
For now I am solving all typos in curriculum, so if anyone finds any typo in the challenges please refer me.

[2018-06-19 12:55] gburu98 commented on #17634
@mpmaan Thank you very much. You were very helpful!!!

[2018-06-19 12:57] Darkir commented on #17615
thanks @mpmaan

[2018-06-19 12:59] tchaffee commented on #17095
@QuincyLarson Could you explain (over on issue #17511) what you are looking for in non-technical terms? What are you envisioning the workflow would be for translators as well as deploying? If we can understand the vision then we can decide the best way to implement, which might be separate npm modules or something entirely different.

[2018-06-19 13:05] Nirajn2311 commented on #17633
I’ll see what I can do about the typos.
For everyone, I would appreciate if you told me all typos anyone finds as I am fixing it at curriculum repo(https://github.com/freeCodeCamp/curriculum/pull/23).

[2018-06-19 13:10] mpmaan commented on #17615
Close this issue if you have no further doubt.

[2018-06-19 13:11] mpmaan commented on #17634
@gburu98 Please close this issue is you have no further doubt.

[2018-06-19 13:17] wesgray76 opened #17636 "continued login issues"
#### Describe your problem and - if possible - how to reproduce it
I try to login and get this:

![image](https://user-images.githubusercontent.com/28853982/41599218-2465ceca-7398-11e8-88d5-b5e52236c4a2.png)

I try to login through twitter and get this:

![image](https://user-images.githubusercontent.com/28853982/41599283-507dcc88-7398-11e8-9834-c51116d1cbb4.png)

I am able to login through my and

[2018-06-19 13:56] raisedadead commented on #17636
Hi @wesgray76

The twitter error that you get is valid. This is expected, because we do not have a twitter account associated on records with your profile https://www.freecodecamp.org/wesgray13

I have already sent you an email, and lets discuss there. Unfortunately, opening fresh GitHub issues is not going to expedite this any further.

This looks like an isolated case with your user account, whi

[2018-06-19 13:56] #17636 closed

[2018-06-19 13:57] #17634 closed

[2018-06-19 14:06] wesgray76 commented on #17636
Looks like this is on my end. I was able to login on my wife’s computer just fine and I am able to login from my Android phone. However, I cannot login onto my own PC. Thanks for your help, but it looks like if I want to get on FCC, I can’t do it on my machine. Thanks for your help.

Wes Gray

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

__________________________

[2018-06-19 14:06] terryjreynolds commented on #17628
@mpmaan you are right about the semi-colon. I put the h4 class selector through W3C validation without the semi-colon and it passed. However, I think the more important issue that I don't think I really made clear in my original post was that I can pass the test without including a semicolon or a unit (px).

The code below will pass the FCC challenge, and shouldn't as it lacks the pixel (px) unit

[2018-06-19 15:16] zoaby opened #17638 "the test does not work in this challenge"
the test have a bug and doesn’t pass

<style>
  img { height: 100px;  width: 100px; }
</style>

<img src="https://s3.amazonaws.com/freecodecamp/FCCStickers-CamperBot200x200.jpg" alt="freeCodeCamp sticker that says 'Because CamperBot Cares'">
Your browser information:

User Agent is: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.87 Safari/537.36.

[2018-06-19 15:42] mpmaan commented on #17638
@zoaby I just copied your code and it passed in Google Chrome 67+ on Ubuntu. Can you provide some more detail or a screenshot (will be better).

[2018-06-19 16:32] Myst commented on #17623
@Nirajn2311 I know, but you should see I found the error, is not wrong to add an id, so that's a bug and should be fixed

[2018-06-19 16:36] Nirajn2311 commented on #17623
Yeah I get it, but it is more organised and easier to solve issues if there was only one of each type and duplicates confuse people.
I think someone is already working on it.

[2018-06-19 17:23] jooji-san opened #17640 "make clear that plain css includes flexbox and css grid"
#### Describe your problem and - if possible - how to reproduce it
'Plain CSS is recommended because that is what the lessons have covered so far and you should get some practice with plain CSS.'
Some people don't know that flexbox and css grid are included in the plain css.

#### Add a Link to the page with the problem
e.g. https://learn.freecodecamp.org/responsive-web-design/responsive-web-desig

[2018-06-19 17:59] udidol opened #17641 "Error in "Create Strings using Template Literals" challenge example"
#### Describe your problem and - if possible - how to reproduce it
In the ES6 lesson/challenge: Create Strings using Template Literals
It looks like the variable representation in the template literals example is not right.
See attached screenshot.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/create-strings-using-templat

[2018-06-19 18:13] luandy64 opened #17642 "Confusing Test Assertion in ES6 Challenges"
#### Describe your problem and - if possible - how to reproduce it
Problem 1: In "ES6: Declare a Read-Only Variable with the const Keyword", the first test checks for `var` in the code. If it finds it, it outputs `var does not exist in code`.

I believe this is confusing and it should be changed to match the second test and say ` var should not exist in code`.

Note: The challenge prior to this do

[2018-06-19 18:17] anku255 commented on #17641
Same MathJax problem as [#17620](https://github.com/freeCodeCamp/freeCodeCamp/issues/17620#issuecomment-398306890) .

I can try to fix these issues once I get a confirmation on which files to change.

[2018-06-19 18:21] anku255 commented on #17638
@zoaby @mpmaan  Can confirm that the tests are passing in my Google Chrome v67 on Windows.

[2018-06-19 19:29] lynxlynxlynx commented on #17446
Yes, otherwise it just looks for 3 to 6 consecutive h characters in a string with 7 — so of course it finds it, there are actually two. Please close this report.

[2018-06-19 19:41] #17580 closed

[2018-06-19 19:42] RenaudGagne commented on #17379
Glad that I'm not alone. Please add more steps leading to that exercise. In the meanwhile, I'm going to leave ES6 module, move ahead and come back to it when I'll be able to understand. It's the very first time since I got started that I genuinely can say something negative about the curriculum...all the previous exercises made sense in the linear progression...not this one.

[2018-06-19 20:02] lynxlynxlynx opened #17645 "regex search and replace challenge is trivial"
#### Describe your problem and - if possible - how to reproduce it
Instead of testing anything useful that is mentioned in the description, it requires a plaintext replacement, not even needing a capture group.

I suggest it is changed to a reordering exercise, since it is already mentioned in the example.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algo

[2018-06-19 20:14] lynxlynxlynx opened #17646 "regex: grouping missing from the curriculum"
We teach something obscure as lookahead, but not the more often used grouping for the sake of subexpression choice, eg. `a(bc|def)g`.

Grouping is indirectly taught for capture groups and lookahead, but plays the same general role in both, capturing or not. So this lesson would fit nicely before that, after character groups.

[2018-06-19 20:21] #17607 closed

[2018-06-19 20:38] AymenAlSalem commented on #17387
``// running test
invalid regexp group
// tests completed``
FireFox Quantum Developer Edition 62.0b1 (64-bit) win10.

[2018-06-19 21:10] llamafluida commented on #17506
That was me recreating the present problem, the thing here is that isn't stated that one must use value in the group or radios, just name, but it requires value. One can pass the test using value and name, the thing is, isn't stated in the point.

What I wanted with this request was to show that thats happens, and if is intended that it doesn't show that one must use value too in point 13, or was

[2018-06-19 22:04] zoaby commented on #17638
the problem was in the code because the test doesn't accept spaces

[2018-06-19 22:04] #17638 closed

[2018-06-19 22:05] GiaFil7 opened #17647 "Confusing example code in Sass challenges"
- In the Sass challenges, when the $variable syntax is present the "$" is missing and the text changes font family. This can potentially be confusing for learners, since it may not be clear enough to them when they have to use the above syntax. (e.g in [Sass: Store Data with Sass Variables](https://learn.freecodecamp.org/front-end-libraries/sass/store-data-with-sass-variables) ,[Sass: Use @if and

[2018-06-19 22:11] AliAdil commented on #17360
Yup, it works fine now.

[2018-06-20 00:14] urbanware opened #17648 "React to render nested components page crashes after 35 seconds"
#### Describe your problem and - if possible - how to reproduce it

In the Chrome browser the challenge was complete and I had gone back to review.
The page is continuously loading, and after about 35 seconds I receive a popup that the page is not responding to exit or wait.  Clicking Exit crashes the page immediately.  Clicking Wait crashes the page in a few more seconds.

Challenge shows the cod

[2018-06-20 02:36] Nirajn2311 commented on #17647
Will be working on all typos over the weekend.

[2018-06-20 02:41] wesgray76 commented on #17338
Same here. I used developer tools and discovered that I had a type error.

[2018-06-20 03:11] RenaudGagne opened #17650 "Streak calendar not working"
#### Describe your problem and - if possible - how to reproduce it

I've been dedicating about 2h a day to FCC and I've been surprised that the calendar that shows how active I've been is plain white...even though the alt tag says that

- less than 1 item = white
- more than 3 items = green

That feature seems to be broken. I've tested to see if it was because of dark mode, but it's not working ei

[2018-06-20 03:47] moT01 commented on #17650
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #17622, so I am closing it as a duplicate.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-06-20 03:47] #17650 closed

[2018-06-20 06:28] cafeTechne opened #17652 "Dead link to reference problem (Basic JavaScript: Record Collection --> manipulating-complex-objects )"
#### Describe your problem and - if possible - how to reproduce it
Dead link on this page ( https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/record-collection ) when trying to

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/manipulating-complex-objects

#### Tell us about your browser and operating system

* Browser Name: Chrome

[2018-06-20 06:37] vuongggggg commented on #17552
Sorry, I just ask you to make me understand more than the description of the issue.

[2018-06-20 07:04] #17331 closed

[2018-06-20 07:52] aps120797 commented on #16358
In continuation to https://github.com/freeCodeCamp/freeCodeCamp/issues/16358#issuecomment-396369730,
I would like to add that this neither works:
[code]

[2018-06-20 08:08] guryanov-a commented on #17320
@Wojonatior I think that showing the last 8 months would be great. Sorry, but I don't know anything about how to generate the test data.

[2018-06-20 08:12] pahosler commented on #16356
there is still a problem with this exercise.
the challenge states:

which is fine, but it doesn't give complete information to complete the challenge, I had to look in this issue to see what is ACTUALLY expected.

the code section has one line only:
`"use strict";`

there is absolutely nothing in the body of the explanation or the challenge description telling us what is actually required in the c

[2018-06-20 09:31] anku255 commented on #17648
The challenge is working fine in Chrome Version  67.0.3396.87, Windows 10.

![image](https://user-images.githubusercontent.com/22813027/41649962-833b6d94-749a-11e8-9ea2-4ca0c7460c40.png)

And FreeCodeCamp doesn't save your code for challenges. It only saves the code for projects.

Can you please check again and tell us if you are still facing this issue?

[2018-06-20 09:31] ayerik commented on #17479
I've noticed a lot of the SASS curriculum is bugged.  The explanation code in many lessons has typos with the variable names where the $ is being interpreted for something font related, and many of the tests are not passing even when the code is correct, like this one.

I'm willing to try to take on fixing this, but I'm a new contributor and new to SASS.  I've already tried looking online for othe

[2018-06-20 09:37] anku255 commented on #17642
I agree with @luandy64.

`var should not exist in code` gives a better understanding of the test. Also, it falls in line with the rest of two test statements.

[2018-06-20 09:48] FinnPegler opened #17654 "Typo in Basic JavaScript: Practice comparing different values"
Apologies if this is not the correct way to report this.

The word equality is spelt as equalty in the problem page for **Basic JavaScript: Practice comparing different values**.

![image](https://user-images.githubusercontent.com/22868206/41651034-67960bda-7477-11e8-8ffd-83fb411fa1f3.png)

[2018-06-20 09:48] #17620 closed

[2018-06-20 09:48] #17633 closed

[2018-06-20 09:48] #17641 closed

[2018-06-20 09:48] #17647 closed

[2018-06-20 09:55] anku255 commented on #13254
Hi! @QuincyLarson. @SnowdenWintermute created a [PR] for this issue (https://github.com/freeCodeCamp/curriculum/pull/20) and it got merged as well. Can you close this issue now?

Also, if you have time can you tell me where should I correct the mistakes in challenges? In the `freecodecamp` repo or in the `curriculum` repo?

[2018-06-20 10:00] DanCouper opened #17655 "Stand in Line challenge - code tags in problem description are confusing"
#### Describe your problem and - if possible - how to reproduce it

This is a response to a user of the forum having issues with the _Stand in Line_ challenge. To quote:

This is dead simple, there here are code tags around the word `queue` in the description, and we've taught users that code tags, naturally refer to code.

#### Add a Link to the page with the problem

https://learn.freecodecamp.o

[2018-06-20 10:11] MoatazAbdAlmageed opened #17657 "Missing Letter 's' !!"
Hello Thanks for the awesome website FREECODECAMP
I noticed that there are missing 's' letter in this lesson
https://learn.freecodecamp.org/front-end-libraries/react/pass-props-to-a-stateless-functional-component
 in the challenge description
"There is a Calendar and CurrentDate component(s) in the code editor."

I'm not native speaker but I think it is missing.
Thanks from EGYPT !

[2018-06-20 11:04] glushkov89 commented on #17387
FireFox Quantum 60.0.2 64bit win10

[2018-06-20 11:14] richa031 commented on #16358
@kanexte thank u

[2018-06-20 12:40] wesgray76 commented on #17338
I think there might be a broken link or something.
![image](https://user-images.githubusercontent.com/28853982/41658811-333773e8-745d-11e8-9b36-d01f3d903aa9.png)

[2018-06-20 12:49] wesgray76 opened #17658 "Can someone explain this to me or walk me through how to fix this?"
#### Describe your problem and - if possible - how to reproduce it
trying to clear data in Free Code Camp in an attempt to fix a login issue.
selected F12 to pull up developer mode, selected console and discovered several type errors.

#### Add a Link to the page with the problem
https://www.freecodecamp.org/

#### Tell us about your browser and operating system

* Browser Name: Google Chrome
* Br

[2018-06-20 12:50] Nirajn2311 commented on #17654
On it.

[2018-06-20 12:56] Nirajn2311 commented on #17652
@anku255 which version of @freecodecamp/curriculum module is your local using?

[2018-06-20 12:59] wesgray76 commented on #17658
entered email and got this in the console:
![image](https://user-images.githubusercontent.com/28853982/41659748-c93adf22-745f-11e8-9a73-922e75581a40.png)

[2018-06-20 13:01] wesgray76 commented on #17658
this is what happens after I enter email and code that is provided to me:.
![image](https://user-images.githubusercontent.com/28853982/41659914-2816c7c2-7460-11e8-9a21-d6265eb8329b.png)

[2018-06-20 13:16] MarthaC444 commented on #17320
Googled "how to generate test data".

Perhaps a good result:
[]( https://www.rankred.com/test-data-generation-tools/)

The first listed:
[](http://generatedata.com/)

Anything there help?

[2018-06-20 13:18] RenaudGagne opened #17659 "Optional Advanced Data Structures lessons?"
#### Describe your problem and - if possible - how to reproduce it

In "[Basic Data Structures: Modify an Array Stored in an Object](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/modify-an-array-stored-in-an-object)" it mentions:

I do not see those lessons anywhere. Is there an hidden module somewhere I don't know of?

Or is that text that is a leg

[2018-06-20 13:31] t3h2mas commented on #17659
Check under **Coding Interview Prep (Thousands of hours of challenges)**

[2018-06-20 13:43] anku255 commented on #17652
@Nirajn2311 I am using `"@freecodecamp/curriculum": "^1.0.4"`.

[2018-06-20 13:49] sidemt opened #17660 "There is no settings to change login email address"
#### Describe your problem and - if possible - how to reproduce it
I created my account using GitHub, but the social authentication is deprecated now. When I sign in, it says "Next time we recommend using your email address: ********** to sign in instead." but the email address FCC has imported from my GitHub account is the old one. I want to change it to my current email.

#### Add a Link to the

[2018-06-20 13:58] Nirajn2311 commented on #17652
I want to know which one is installed. Check it in the node_modules folder.

[2018-06-20 14:06] johnkennedy9147 commented on #17619
Test fails if multiline style comment includes either `*` or `/`

File: `curriculum/challenges/02-javascript-algorithms-and-data-structures/basic-javascript.json`
Line: 33
this regex is the problem `"assert(code.match(/(\\/\\*)([^\\*\\/]{5,})(?=\\*\\/)/gm),`

[2018-06-20 14:08] anku255 commented on #17652
@Nirajn2311 Ah, sorry! I forgot that the version listed in package.json can be different from the installed one.

I checked the node_modules folder and it is `1.2.0` which is the latest one. I tested it again, the **links are perfectly fine**.

[2018-06-20 14:22] Nirajn2311 commented on #17652
So if there is a problem in the version of node_module then it is being fixed in my PR [learn/#188](https://github.com/freeCodeCamp/learn/pull/188).

[2018-06-20 14:43] Roninii opened #17662 "Minor spelling error on personal portfolio example"
Just a minor spelling error on the example for the personal portfolio example.
the "about" section says, "Hey i'am mimic"
Unless I'm just being silly and this was intentional, I believe it should say "I'm" (capital "i", remove the "a")

https://codepen.io/freeCodeCamp/full/zNBOYG

[2018-06-20 16:12] moT01 commented on #17613
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **“Help”** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2018-06-20 16:12] #17613 closed

[2018-06-20 16:33] raisedadead commented on #16356
@pahosler please report a fresh issue.

[2018-06-20 16:35] raisedadead commented on #16732
That is correct @Vimal-Raghubir You are more than welcome to take a look at https://github.com/freeCodeCamp/camper-gh-bot and wait for my progress there, and then on I would love your help on some of the user stories if you would be interested.

[2018-06-20 16:36] auntieBee commented on #17660
Thanks for this, sidemt. I have to use an old email address that I want to delete permanently, so it would be great if I could switch to my github login email.

[2018-06-20 17:49] petercr commented on #17408
Yes I'm having the same error. It seems either there's an error with the unit testing, or maybe the SASS compiler? Not sure but I checked the console and there **were not** any errors.
I guess everyone should just move on for now

[2018-06-20 18:01] lynxlynxlynx commented on #17387
This got added to the standard only this year and yes, firefox hasn't implemented it yet:
https://bugzilla.mozilla.org/show_bug.cgi?id=1225665

[2018-06-20 18:32] muedie commented on #17512
I don't know how to fix this problem, but for some reason chrome computed style width is little less than specified and firefox computes to exact 100px. And the test case checks for exactly 100px, which is probably why it fails on chrome and passes in firefox, did that for me.

Code for both results:
`img {
     width: 100px;
     height: 100px;
}`

Chrome:
<img width="238" alt="chrome" src="https

[2018-06-20 18:57] Vimal-Raghubir commented on #16732
I would definitely be interested in helping out with the user stories. @raisedadead

[2018-06-20 20:24] pahosler opened #17665 "ES6: Use * to import Everything from a File"
#### Describe your problem and - if possible - how to reproduce it
there is still a problem with this exercise.
the challenge states:

which is fine, but it doesn't give complete information to complete the challenge, I had to look in

to see what is ACTUALLY expected.

the code section has one line only:
`"use strict";`

there is absolutely nothing in the body of the explanation or the challenge

[2018-06-20 21:28] matthew-t-smith commented on #17387
Well, I've got a PR that will achieve the same effect for the test that fails without the look behind. As soon as it gets approved and merged into production, we can all pass this challenge. Unfortunately, there isn't a workaround solution because it's the test that fails, not the solutions.

[2018-06-20 22:02] TazzyG commented on #16354
It looks like this issue is still not fixed..   export {foo, boo}; shows in results // running test
foo is exported.
bar is exported.
// tests completed
but fails

[2018-06-20 22:03] mattszcz commented on #12699
I'm going through the Sass lessons now.
I'll post any additional lessons that are broken.

Additional Sass lessons with broken tests:
https://learn.freecodecamp.org/front-end-libraries/sass/use-for-to-create-a-sass-loop

[2018-06-20 22:05] yoscheherazade opened #17666 "ES6: Use export to Reuse a Code Block - Naming Issue"
#### Describe your problem and - if possible - how to reproduce it
In the ES6: Use export to Reuse A Code Block challenge, the variables that should be exported are named foo and boo. The test suite shows that it is checking that "foo is exported" and "bar is exported". The test still passes if you add export in front of both variable declarations but I thought I'd mention it.

#### Add a Link to

[2018-06-20 22:12] wesgray76 commented on #17658
issue has been resolved

[2018-06-20 22:12] #17658 closed

[2018-06-20 22:24] QuincyLarson opened #17667 "Certification views have an unnecessary "projects" word in them"
Please see image below. This seems to affect all six of the new certifications.

![dgkd_vfvaaassmd](https://user-images.githubusercontent.com/985197/41687749-a7c755ce-74ae-11e8-9bfa-15d8cdb2f9c1.jpg)

[2018-06-20 22:43] samdoj opened #17668 "Run Tests doesn't work"
#### Describe your problem and - if possible - how to reproduce it
I get the error message : TypeError: unknown: Cannot read property '0' of undefined
    at Function.e.get (babel.js:3632)
    at e.h [as unshiftContainer] (babel.js:42437)
    at t.<anonymous> (index.js:45)
    at r (babel.js:43256)
    at e.o [as _call] (babel.js:39993)
    at e.i [as call] (babel.js:39965)
    at e.a [as visit] (

[2018-06-20 23:08] Xelepam commented on #10132
Can someone explain the "!" before collection and its function, ty

[2018-06-20 23:59] raisedadead commented on #17511
As I already said:

1. Gatsby's in memory building is incredibly fast. Its near instant, auto reloads and...
2. ...has ***MarkDown to HTML*** rendering from its basic starter template, **out of the box**.

Anyways I understand the friction. And I'll let you move ahead with `COM1000`. Todd please proceed with the prototyping, as you seem fit and comfortable.

My only concern is we might be getting

[2018-06-21 00:03] #17356 closed

[2018-06-21 00:03] raisedadead commented on #17356
Issue moved to [freeCodeCamp/learn #189](https://github.com/freeCodeCamp/learn/issues/189) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-21 00:20] pahosler commented on #17665
This may have been just a glitch. I followed along as someone else did this challenge today and the issue was not reproducible.

[2018-06-21 04:54] digilou commented on #17412
I was just about to report this, too, but glad to see a ticket is open for it. Night mode is critical for me.

[2018-06-21 05:05] digilou opened #17673 "Curriculum layout not responsive, like before"
#### Describe your problem and - if possible - how to reproduce it
The previous release of freecodecamp had a responsive layout for the text, code editor, and view. In other words, they'd stack on top of each other if I increase the browser zoom or worked on a tablet. This new release doesn't do that. It all squishes together in one row.

#### Add a Link to the page with the problem
learn.freecode

[2018-06-21 05:08] mouri11 commented on #17522
I am having the same issue here. Posted about it on freecodecamp forum [here](https://forum.freecodecamp.org/t/cannot-claim-certificate/199354/8?u=mouri11).
Errors on opening the settings page are as follows:
[code]
[code]
Using Chrome 67.0.3396.87 (Official Build) (64-bit)
@QuincyLarson It has been quite long since this problem has arisen. Please look into it.

[2018-06-21 05:52] booleanhunter opened #17674 "An interactive playground for running data science / machine learning?"
I've been checking out few resources and good learning materials for data science, machine learning and deep learning for beginners.

One such resource that I found on the internet is this one -  [A visual introduction to machine learning](http://www.r2d3.us/visual-intro-to-machine-learning-part-1/).

They have used some really hardcore D3 stuff for the animations. Something like this could provid

[2018-06-21 07:12] sdabhi23 commented on #17522
Facing the same problem. Please have a look @QuincyLarson @raisedadead

[2018-06-21 09:29] Nirajn2311 commented on #17667
You may go ahead with the editing.

[2018-06-21 12:14] #17575 closed

[2018-06-21 12:58] moT01 opened #17675 "challenge-setup-code: missing this. in create a stack class challenge"
#### Describe your problem and - if possible - how to reproduce it
https://learn.freecodecamp.org/coding-interview-prep/data-structures/create-a-stack-class
the first line in the `stack()` function says `collection = [];` - it wont pass testing unless you change it to `this.collection = [];`

* Browser Name: Firefox
* Browser Version: 60.0.1
* Operating System: High Sierra

#### If possible, add a

[2018-06-21 13:43] janosimas commented on #17522
@raisedadead I see you closed the issue. is it online already?
It didn't work for me, I tried claiming and completing the projects again and claiming.

[2018-06-21 14:17] QuincyLarson commented on #17522
@Bouncey Can you confirm whether this has been deployed yet? It sounds like people are still having trouble claiming this certification.

[2018-06-21 14:18] QuincyLarson commented on #17667
@Dar0n Sure - please dig in and see if you can fix this :) Please keep us posted.

[2018-06-21 14:30] ArielLeslie commented on #17675
You don't have to `this` it, but because of strict mode it does need to be declared with `var`, `let`, or `const`.

[2018-06-21 14:36] raisedadead commented on #17522
@janosimas thanks for reaching out. The build is in progress. It typically can take a few ours for us to deploy things as we QA and merge

[2018-06-21 14:37] Bouncey commented on #17522
This process can be tracked on freecodecamp/learn#190. It takes around ~25 minutes from the PR being merged in learn until it is live.

[2018-06-21 14:40] moT01 commented on #17675
so its missing the `let` then

[2018-06-21 15:05] ArielLeslie commented on #17675
That's how I would update it.

[2018-06-21 16:52] Nirajn2311 commented on #17617
@moba2k sorry to inform you, but @Vimal-Raghubir has already made a PR for this.

[2018-06-21 17:00] bapinney commented on #16358
Just wanted to chime in and mention I am having this same problem, too.  Glad to hear it's not me.  Hope it gets fixed soon.

[2018-06-21 17:02] vignesh-manel opened #17676 "ES6 'import' challenge"
Not able to solve challenges related to import statement on Windows 8 Chrome 67.
Even though I provide a valid import statement it says invalid.
Example: import {
capitalizeString
} from "string_functions"

Link: https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/understand-the-differences-between-import-and-require

[2018-06-21 17:46] sagarjaspal commented on #17522
Still having the same problem!!

[2018-06-21 18:13] QuincyLarson commented on #17155
@rsangdoung OK - no worries. I've added the help wanted label. Anyone who's looking for a curriculum-focused issue to tackle, this is a good one :)

[2018-06-21 18:15] BenEar50 opened #17677 "Stuck in basic js finding a remainder"
#### Describe your problem and - if possible - how to reproduce it
I'm going through basic js and when trying to run the tests in the finding a remainder section nothing happens. I have cleared my cookies, logged off, and various other things. The only thing I have not done is restart my progress but will that even solve the issue at this point?

#### Add a Link to the page with the problem
https:

[2018-06-21 20:42] Dar0n commented on #17667
I've made the pull request. Please let me know if it worked or not - could not test the result locally.

[2018-06-21 21:53] #17446 closed

[2018-06-21 22:00] youngtechlove commented on #17446
Thanks for sending!

On 21 Jun 2018 at 23:59, <Michael Caveney <notifications@github.com>>
wrote:

Closed #17446 <https://github.com/freeCodeCamp/freeCodeCamp/issues/17446>.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/freeCodeCamp/freeCodeCamp/issues/17446#event-1694748009>,
or mute the thread
<https://git

[2018-06-21 22:05] Ems2theLee opened #17679 "Error in ES6: Declare a Read-Only Variable with the const Keyword"
#### Describe your problem and - if possible - how to reproduce it
I'm getting an error with the final test, despite having made the simple changes called for on the page:
console.log should be changed to print the SENTENCE variable.

Additionally I get a note of "invalid regular expression flag s" in the test box when run.

My code:
function printManyTimes(str) {
  "use strict";

  // change code

[2018-06-21 22:58] huyenltnguyen commented on #17677
@BenEar50 Could you try it again and check if there is any error in the browser console? Screenshot of the error would be helpful.

[2018-06-21 23:31] igorasilveira commented on #17522
Same here also still..

[2018-06-21 23:36] tinydynamite00 opened #17680 "Login page loops with upgrade email message"
#### Describe your problem and - if possible - how to reproduce it

Logging into FCC using my GitHub credentials works. However, once in the FCC portal, I'm presented with an [Update your email](https://www.freecodecamp.org/update-email) page that I cannot circumvent to reach the curriculum. Also, I have tried logging in directly to FCC with an emailed code, but this presents another problem: The

[2018-06-22 00:05] megantaylor commented on #17248
@raisedadead i can haz?

[2018-06-22 00:48] xboudsady commented on #17680
Yep, I'm running to the same problem...

[2018-06-22 03:56] QuincyLarson commented on #17189
@MitsyAahar OK - great. I've set the issue to "in progress". Please keep us posted and if you have any questions for how to fix it, let us know!

[2018-06-22 03:58] QuincyLarson commented on #17307
@johnkennedy9147 I agree. We should have both: a user photo and settings link - both of which will point to the settings. Is this something you'd be interested in helping us implement?

[2018-06-22 03:58] #17315 closed

[2018-06-22 04:07] #17349 closed

[2018-06-22 04:08] QuincyLarson commented on #15739
Hi @sblasa did you get a chance to make any progress on this? Let us know if you have any questions or get stuck on anything :)

[2018-06-22 04:09] QuincyLarson commented on #17128
Hi @Em-Ant can you confirm you were able to update this? If so, could you close this issue?

[2018-06-22 05:00] mpmaan commented on #17633
@Bouncey The issue with `$` sign may have been fixed but what about the `map()` function ?

[2018-06-22 05:27] scissorsneedfoodtoo commented on #17633
@mpmaan, thank you for pointing out the issue with the formatting caused by MathJax. That was my fault for not checking how it affected all the challenge descriptions outside of the Interview Prep sections.

You're right that there is still an issue with this challenge due to the regex in the test being to specific. You can follow the discussion here: https://github.com/freeCodeCamp/freeCodeCamp/i

[2018-06-22 05:32] aps120797 commented on #17665
Okay, for those facing problems with https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use--to-import-everything-from-a-file/
Remember two important things:
The syntax is:
[code]
In the above, the Double Quotes (`" "`) and the Line ending semi-colon (`;`) is *very important*.

[2018-06-22 05:52] aps120797 commented on #17665
Oh, and I feel there's another bug. 🐛
And this bug is not only with this problem, but with a few other previous problems.

To access file from the same location, we can use `"file_path_goes_here"` or `"./file_path_goes_here"`. The second case doesn't work in the problem and some previous problems. I personally prefer the second while actually producing an app.

Please let me know where can I make

[2018-06-22 05:59] udidol commented on #17666
That's how it is supposed to pass. I don't see a problem.
Consider closing this issue

[2018-06-22 06:06] thomlom commented on #17679
It seems that the regex used to verify the `console.log` statement is incorrect. I got the fix 🙂

[2018-06-22 06:08] udidol opened #17683 "Use export to Reuse a Code Block - spaces issue"
In the ES6 challenge "Use export to Reuse a Code Block" the test doesn't pass if there is a space missing between the variable name and variable value. Since spaces do not matter in Javascript when it comes to variable assignment (and many other things), I believe this is an issue that could be corrected.

**Page link:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/

[2018-06-22 06:32] vignesh-manel commented on #17676
Apologies! I was using multiple lines for import statement. Once I used the import statement in single line and added semicolon at the end it started working.

[2018-06-22 07:08] scissorsneedfoodtoo commented on #17683
@udidol, thank you for pointing this out. You're right, spaces for variable assignment don't matter. Would you be interested in submitting a PR to fix this? If so, please do it in the new [curriculum](https://github.com/freeCodeCamp/curriculum) repo.

[2018-06-22 07:30] scissorsneedfoodtoo commented on #17666
@yoscheherazade, thank you very much for reporting this.

This challenge was recently updated and changed the variable names a bit. Did you happen to finish this challenge in the past? If so, you might be seeing your previous working solution there. Could you try pressing the "Reset All Code" button? You might see the updated variable names, then.

[2018-06-22 07:36] mpmaan commented on #17633
@scissorsneedfoodtoo thanks, i am sorry for creating duplicate issue.

[2018-06-22 07:45] AndrewJBateman commented on #17522
Still having the same problem.

[2018-06-22 07:49] scissorsneedfoodtoo commented on #17633
@mpmaan, no worries! Better a duplicate issue than one going completely unreported. Good looking out!

[2018-06-22 08:21] youngtechlove commented on #17633
Hi im looking for anyone willing to help me out with some training tips and how i can improve myself at code entry's

[2018-06-22 09:21] Bouncey commented on #17522
Hi @AndrewJBateman, I have just checked your account and I can't see why you wouldn't be able to claim the certification.

If you are still unsuccessful, please let me know.

[2018-06-22 09:37] CharmedSatyr opened #17685 "Spelling error in Basic JavaScript: Practice comparing different values"
#### Describe your problem and - if possible - how to reproduce it
In "Basic JavaScript: Practice comparing different values", an example reads:

`3 == '3' // returns true because JavaScript performs type converstion from string to number`

`converstion` should be `conversion`

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/bas

[2018-06-22 09:51] PABlond commented on #17522
I am facing the same problem.

[2018-06-22 10:50] sdabhi23 commented on #17522
Still having the same problem!

[2018-06-22 10:54] Bouncey commented on #17522
Reopening

[2018-06-22 11:33] kevcomedia opened #17686 "Applied Visual Design: Adjust the Hue of a Color - Won't pass in Firefox ESR 52"
#### Describe your problem and - if possible - how to reproduce it
The exercise won't pass in Firefox ESR (52.8.1), because of how it computes the cyan color in hsl. Using the hsl value in the instructions for cyan, the color is computed as `rgb(0, 255, 254)`, while the exercise is checking for `rgb(0, 255, 255)`.

Related forum thread: https://forum.freecodecamp.org/t/problem-with-adjust-the-hue-

[2018-06-22 11:54] Bouncey commented on #17522
@igorasilveria @AndrewJBateman @PABlond @sdabhi23, we have pushed some fixes in to production. Can you please confirm if your issue is fixed or not?

Many thanks

[2018-06-22 11:58] PABlond commented on #17522
Well done! This issue is resolved for me !

[2018-06-22 12:09] w96k opened #17688 "[Suggestion] Autofocus on text editor after completing the task"
#### Describe your problem and - if possible - how to reproduce it
I use mostly keyboard and its quite annoying to focus on text area after completing each task. After each task, I need to grab a mouse :(

#### Add a Link to the page with the problem
Any task

#### Tell us about your browser and operating system
Firefox 52
Debian 9

[2018-06-22 12:10] janosimas commented on #17522
works for me too

[2018-06-22 12:17] Bouncey commented on #17522
Woo Hoo!! :tada: :tada:

Great work everyone!

:sparkles: :sparkles: :sparkles: :sparkles:

[2018-06-22 12:17] #17522 closed

[2018-06-22 12:18] mouri11 commented on #17522
Successfully claimed certificate. Thanks.

[2018-06-22 12:19] #17688 closed

[2018-06-22 12:19] Bouncey commented on #17688
Issue moved to [freeCodeCamp/learn #192](https://github.com/freeCodeCamp/learn/issues/192) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-22 12:37] psitronic commented on #17522
@Bouncey I have just successfully claimed it. However, this morning (four hours ago) I could not do it ...

[2018-06-22 12:53] Bouncey commented on #17522
@psitronic sorry about that.

This re-opening of this issue was caused by our production code being out of sync with the repositories. All is well now though :+1:

[2018-06-22 13:42] sdabhi23 commented on #17522
Resolved for me too!

[2018-06-22 13:54] supuun opened #17690 "Can't use <i> instead of <img> in 'Responsive Web Design Project'"
#### Describe your problem and - if possible - how to reproduce it
I want to use font awesome icon for my header logo and it requires i tag, but it doesn't pass, because  img tag is required. please, remove that requirement or add i tag as a possible choice.

#### Add a Link to the page with the problem
User Story #2:
https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-proje

[2018-06-22 14:28] Nirajn2311 commented on #17652
@cafeTechne this issue has been fixed.

[2018-06-22 14:39] anku255 commented on #17677
Hi @BenEar50! The challenge is working well on my Chrome Version  67.0.3396.87 on Windows 10.

Can you please check again if you are still facing the issue? If you are, then take a look at the browser's console and see if there are any error messages.

[2018-06-22 14:39] yoscheherazade commented on #17666
@scissorsneedfoodtoo I hadn't completed this problem yet, I just saw it this time and thought to mention it but I will go back now and use the "Reset All Code" button and see if the variable names are updated.

@udidol the problem is that the variable name in the exercise and the variable name in the testing suite are inconsistent, as the screenshot points out. There is no variable named bar. I'll

[2018-06-22 14:42] #17666 closed

[2018-06-22 14:42] CharmedSatyr opened #17691 "Minor grammar mistake in CSS Grid auto-fit challenge"
#### Describe your problem and - if possible - how to reproduce it
The opening sentence of the challenge description says: "`auto-fit` works almost identical to `auto-fill`."
Here, "identical" should be an adverb with an -ly suffix because it indicates how `auto-fit` *works*. Similar usage found in "X *behaves* identically to Y" and "X *acts* identically to Y."

#### Add a Link to the page with th

[2018-06-22 14:53] anku255 commented on #17690
Hi @supuun! Changing the test suit for a specific case might not be as simple. We will have to wait for the project maintainers to discuss this and it may take some time.

In the meantime, I have a quick solution for you. You can use a [fontawesome-to-png](http://fatopng.com/fontawesome-to-png) converter to convert your icon to a png and then you can put it in the `img` tag. In fact, I have create

[2018-06-22 15:17] johnkennedy9147 commented on #17307
@QuincyLarson I'd be happy to but I've got a bunch on at the moment so might be a few weeks before I get a chance to look at it. I've added it to my to-do list but in the meantime anyone else can pick it up.  I'll add a comment if I start working on it.

[2018-06-22 15:18] supuun commented on #17690
Thank you so much, light

[2018-06-22 15:29] Brainy0003 commented on #15662
click the submit button repeatedly if you are having this issue of submitting, it is a break in the progrm and not your fault if you have the following code you are definitely right:

  @for $j from 1 to 6 {
    .text-#{$j} { font-size: 10px * $j; }
  }
I hope this helps...

[2018-06-22 15:31] supuun commented on #17690
Love it. I should say my second fav anime. It was my first one.

[2018-06-22 15:31] #17690 closed

[2018-06-22 15:47] udidol opened #17693 "After cloning freecodecamp repo, npm run only-once didn’t work"
I wanted to clone the FCC repo in order to fix an issue and create a PR.
I followed the installation steps specified here: https://forum.freecodecamp.org/t/how-to-clone-and-setup-the-free-code-camp-website-on-a-windows-pc/19366

### The problem
When I ran `npm run only-once` in git bash, I got the following response:
[code]

How do I go from here?
Is there any way to fix this easily?
If not, how d

[2018-06-22 15:53] ktajpuri commented on #17344
Can I take this up if anyone else has not picked it up yet?

[2018-06-22 15:53] udidol commented on #17683
I cloned the repo and found the problem.
Thing is, I tried to setup a local version of FCC according to the instructions provided here: https://forum.freecodecamp.org/t/how-to-clone-and-setup-the-free-code-camp-website-on-a-windows-pc/19366

And encountered problems. I opened an issue ([here](https://github.com/freeCodeCamp/freeCodeCamp/issues/17693)) in case other people encountered this and woul

[2018-06-22 16:05] scissorsneedfoodtoo commented on #17666
@yoscheherazade, I'm not seeing the problem on my end, but please feel free to reopen the issue if it persists! We definitely don't want the challenge to be showing the wrong variable names.

[2018-06-22 16:09] scissorsneedfoodtoo commented on #17683
@udidol, yes the regex for that challenge will need to be updated.

Sorry you're having problems with the `npm run only-once` command. A lot of users seem to be having problems with that recently. Thank you for opening an issue and describing the problem in such detail.

I saw that some users were able to work around the problem over on the [Gitter Contributor's chatroom](https://gitter.im/FreeCod

[2018-06-22 16:10] anku255 commented on #17690
@supuun I probably shouldn't be asking here but you have made me very curious. Which is your favourite anime? 😝

[2018-06-22 16:47] supuun commented on #17690
Steins;gate 😄

[2018-06-22 16:53] RobAnthony01 opened #17694 "ES6 Declare a Read-Only Variable does not pass tests due to error in test"
Edit the code to sole the problem and run the tests.
You will get an error as the Regex expression is incorrect

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/declare-a-read-only-variable-with-the-const-keyword

#### Tell us about your browser and operating system

* Browser Name: Firefox
* Browser Version: 60.0.2
* Operat

[2018-06-22 16:55] ktajpuri opened #17695 "npm run develop fails"
#### Describe your problem and - if possible - how to reproduce it

Follow the guide from scratch at [this link](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md)

reach till the below command
npm run develop

this command fails with below error
![image](https://user-images.githubusercontent.com/10725893/41788920-063428cc-766b-11e8-8992-6aea86e1cae8.png)

#### Add a Link t

[2018-06-22 17:36] syne612 opened #17696 "Need certification help (wont give certification bug)"
its saying that i have not done the roman numeral converter but i have, and not only that it shows it as completed in my free code camp logs… i was wondering how to get this fixed so i could have that beautiful beautiful certification i have been working at. also let me just say… this is hands down the most amazing site ive ever used. Im actually mad there are not more places like this around (not

[2018-06-22 17:49] ktajpuri commented on #17382
Is there a workaround for this? I am facing this issue too.

[2018-06-22 18:50] #17558 closed

[2018-06-22 19:19] numoonchld commented on #16358
Facing the same issue. I guess I'll have to keep this challenge officially unfinished and move on. IM(H)O - for the scope of this challenge, referencing the array elements by their indices is the most elegant solution and using map/loops clutters up the code.

[2018-06-22 20:42] austinphotog opened #17697 "Mispelling in CSS coding section"
#### Describe your problem and - if possible - how to reproduce it
I noticed this as I was going back to complete the new sections of after the latest curriculum change, the but under the links "Run The Tests", "Reset All Code", and "Ask For Help" where it says the required changes to pass the test has a misspelling, it says "penguin class should declar the --penguin-skin variable and assign it to

[2018-06-22 22:59] golden-frog opened #17698 "Responsive Web Design Claim Certification Issue"
#### Describe your problem and - if possible - how to reproduce it
Cannot claim the Responsive Web Design Certification. All users stories are passed. Message: it looks like you have not completed the necessary steps. Please complete the required challenges to claim the Responsive Web Design

#### Add a Link to the page with the problem
https://www.freecodecamp.org/settings

#### Tell us about you

[2018-06-23 01:33] huyenltnguyen commented on #17696
@syne612 If you go to the Settings page, scroll down to the `JavaScript Algorithms and Data Structures Projects` section, and click `Claim Certification`, is there any error message pops up on the screen? Please also check the browser console for error messages, if any.

[2018-06-23 01:50] huyenltnguyen commented on #17693
@udidol My wild guess is this has to do with the removal of the curriculum from the repo. This repo now only holds the code for the welcome page and the settings page, I believe. If you would like to work on the curriculum UI, the [learn repo](https://github.com/freeCodeCamp/learn) is for that. Or if you would like to work on the curriculum content, you should go over the [curriculum repo](https:/

[2018-06-23 01:57] golden-frog commented on #17698
Yes, there are. Don't see anything relevant, but I'm no expert. Here are the errors:

settings:1 Refused to load the stylesheet 'https://use.fontawesome.com/releases/v5.0.13/js/all.css' because it violates the following Content Security Policy directive: "style-src 'unsafe-inline' *.gstatic.com *.googleapis.com *.bootstrapcdn.com https://*.bootstrapcdn.com *.cloudflare.com https://*.cloudflare.com

[2018-06-23 02:20] bayronguti22hope commented on #17508
I have the same problem, my code:

<a href="">Click here for information about batteries</a></p>

doesn't work? help pls?

[2018-06-23 02:40] huyenltnguyen commented on #17698
@golden-frog No I don't think those are relevant either. I have to pass this one to someone else then, since I'm not able to offer any further help :( Sorry about the inconvenience.

[2018-06-23 02:49] huyenltnguyen commented on #17698
Hi @Bouncey, could you take a look at this issue?
The same issue was reported in https://github.com/freeCodeCamp/freeCodeCamp/issues/17363 and was fixed via https://github.com/freeCodeCamp/freeCodeCamp/pull/17389, but looks like it still persists.
Could this somehow be related to https://github.com/freeCodeCamp/freeCodeCamp/issues/17522?

[2018-06-23 02:53] golden-frog commented on #17698
No worries. Thank you for your time.

[2018-06-23 03:10] scissorsneedfoodtoo commented on #17508
@bayronguti22hope, sorry that you're having a problem.

The description says to move the `<a>` tags form around "Click here" to "information about batteries." So here's the passing code:

`Click here for <a href=''">information about batteries</a></p>`

[2018-06-23 05:44] Stesic commented on #17387
_**Solution**_
// Open your browser console
let outputTwo = "This will print to the browser console 2 times";
// Use console.log() to print the outputTwo variable
console.log(outputTwo);

let outputOne = "Try to get this to log only once to the browser console";
// Use console.clear() in the next line to print the outputOne only once
console.clear();

// Use console.log() to print the outputOne va

[2018-06-23 06:03] alamathe1 commented on #17697
can i take it up pls?

[2018-06-23 06:47] udidol commented on #17693
@huyenltnguyen I did that. I performed my fix to the lesson in a clone I made of the curriculum repo, but without running FCC locally I can't test my fix... I won't commit a PR without testing it first

[2018-06-23 06:52] udidol commented on #17693
I joined the Gitters contributors chatroom and found a solution.
It's not ideal since the `npm run only-once` command still doesn't work, but it seemed to have done the job.

The solution was to run the command that is first displayed after running `npm run only-once`:
`npm run prelint-js && echo '/****/' && echo 'Seeding Database' && echo '/****/' && SEEDING=true node seed/index.js && echo '/****

[2018-06-23 07:00] Nirajn2311 commented on #17693
For now that's the only way to pass this issue.
If this issue is solved, could you close it?

[2018-06-23 07:30] udidol commented on #17693
Well I'm not sure it worked correctly because now I have a different issue, which seems to be a known bug... After seeding the database, I ran `npm run develop`. It loaded the FCC welcome screen to `localhost:3000`, but when I click the "start coding" button or the "sign in" button, it takes me to a weird URL: https://stuff/authorize?response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2F

[2018-06-23 07:44] ilhamije opened #17699 "Accepted answer is typo."
### Problem
Answer code is not matched (typo) with instruction on _Basic CSS: Attach a Fallback value to a CSS Variable_

#### How to reproduce
Try to answer with `background: var(--penguin-skin, black);` on both penguin-top and penguin-bottom. It will tell you that the answers are wrong. But, when you change the answer line to `background: var(--pengiun-skin, black);` The answers would be right.

[2018-06-23 08:14] Paddy3118 opened #17700 "Rosetta code tasks."
Full text here: https://forum.freecodecamp.org/t/use-of-rosetta-code-sites-examples/202558?u=paddy3118

I was then told that this is the place to submit...

[2018-06-23 08:32] huyenltnguyen commented on #17693
@udidol @Nirajn2311 I'm not able to test it at the moment, and I also haven't kept myself up-to-date with this repo's changes, so I apologize if what I'm going to say is obvious or just nonsense.

Here are my questions:
- What command line did you run after running `npm run only-once` that fixed the issue?
- What is your workflow from editing a seed file to submitting a PR?

I'm genuinely curious

[2018-06-23 09:15] Nirajn2311 commented on #17693
@huyenltnguyen The answers for your questions:
A1) copy paste the below code to bypass SEEDING is not recognised as a command error(for now until someone solves the issue)
`
npm run prelint-js && echo '/****/' && echo 'Seeding Database' && echo '/****/' && SEEDING=true node seed/index.js && echo '/****/' && echo 'Seeding Completed' && echo '/****/'
`

A2) At the moment I haven't thought much of se

[2018-06-23 09:32] Nirajn2311 commented on #17479
@Bouncey Tested it in Chrome(67.0.3396.87) and firefox(60.0.1) and it didn't work in both places. Both are 64-bit.

[2018-06-23 10:35] Nirajn2311 commented on #17577
So if we remove the id tag in the example, it's okay.

[2018-06-23 12:14] reggieds commented on #17698
Same with me, still can not claim Responsive Web Design certificate.

[2018-06-23 13:30] nathanielgecse commented on #17698
Same issue here too, also completed and unable to claim Responsive Web Design certificate

[2018-06-23 14:34] profoundhub commented on #16958
BTW, this challenge will throw an _error_ when using **Firefox** but not when you are using **Chrome**. If you get an _error_ about _regex_, try again in **Chrome**.

[2018-06-23 15:13] thomlom commented on #17694
Hey @RobAnthony01 , your issue is a duplicate of #17679. I've submitted a PR to correct that problem 🙂
By the way, the file containing this test is in the [curriculum repo](https://github.com/freeCodeCamp/curriculum), in `challenges/02-javascript-algorithms-and-data-structures/es6.json`

[2018-06-23 15:51] Flarp commented on #14234
Generators and iterators are similar enough to be grouped into the same project. Map and Set are also important, and use these tactics to be formulated. My game plan for this is to re-introduce the concept of iteration, and then introduce for..of, Maps, Sets, and how to make an iterator yourself. The second part should be generators, going over the concept of scopes and closures again, and then go

[2018-06-23 15:52] heidi37 commented on #17698
Yes,

Same issue for me. All my challenges are uploaded and they all pass the tests.

![image](https://user-images.githubusercontent.com/28228859/41811338-aee80888-76c2-11e8-8faa-13af3ec55d2c.png)

[2018-06-23 15:58] VM-Deus commented on #17698
Same here. All my projects pass the test. Super frustrating.
![screen shot 2018-06-23 at 11 49 32 am](https://user-images.githubusercontent.com/34935667/41811391-a4c06372-76dc-11e8-864c-a45031e6a3df.png)

[2018-06-23 16:00] RobAnthony01 commented on #17694
Thanks. I did a search but couldn't find it in the open issues.Glad it's getting fixed.On 23 Jun 2018 16:18, Thomas Lombart <notifications@github.com> wrote:Hey @RobAnthony01 , your issue is a duplicate of #17679. I've submitted a PR to correct that problem 🙂
By the way, the file containing this test is in the curriculum repo, in challenges/02-javascript-algorithms-and-data-structures/es6.json

—Y

[2018-06-23 16:01] #17694 closed

[2018-06-23 16:14] moT01 commented on #17699
I helped create these challenges - this was actually a deliberate typo to show how the fallback properties works

[2018-06-23 17:52] aleksmn commented on #17698
Same problem... Here is Google Chrome console:
![image](https://user-images.githubusercontent.com/18387112/41812188-30d475ca-7727-11e8-9c04-9f5429e33e43.png)

[2018-06-23 19:13] mattszcz commented on #17696
I had the same issue with the Palindrome Checker. I assume it's a bug from when they made the beta live. **I solved it by redoing the project.** You'll notice that FCC saves your code from your projects. If it doesn't have your code saved then it doesn't know you completed the project.

[2018-06-23 19:31] ArtemSer opened #17701 "Alt Attribute Issue"
In the task "Applied Accessibility: Add a Text Alternative to Images for Visually Impaired Accessibility".

When a person opens`alt` attribute, he can see a lot of code that he doesn't need for this task.

![deepinscreenshot_20180623222101](https://user-images.githubusercontent.com/22551739/41812881-1a90f6dc-7734-11e8-9ca9-a6601f3f1ccd.png)

[2018-06-23 23:06] Gogmazios commented on #17698
I'm having the same issue.

[2018-06-23 23:07] syne612 commented on #17696
Yea but id rather not redo that thing it was a pain.

Sent from my iPhone

[2018-06-23 23:12] syne612 commented on #17696
Did you get the most Recent email I sent you with the pictures?

[2018-06-23 23:21] syne612 commented on #17696
Jk web surfed and grabbed online answer nbd

Sent from my iPhone

[2018-06-24 00:12] jr-55 opened #17702 "Curriculum lessons will not display"
#### Describe your problem and - if possible - how to reproduce it

When I click on new or old lessons I get a blank white screen. I have refreshed, signed in/out and yet a white screen.

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name: safari
* Browser Version: 9.3.5
* Operating System: IOS—IPad 2

#### If possible, add a screensh

[2018-06-24 00:34] thehiddencheese commented on #17698
Also having the same issue, hope you guys figure it out!

[2018-06-24 01:31] thekholm80 commented on #17679
Hi, using the code below I get the following test result, with the last test failing to pass:

[code]
code:
[code]

[2018-06-24 02:05] huyenltnguyen commented on #17702
Hi @jr-55, could you try accessing the page using Firefox or Chrome? As far as I know, FCC page doesn't work well in Safari, Edge, or IE.

[2018-06-24 02:56] xnt commented on #15739
I'm working on this after chatting with @QuincyLarson . I think I'm pretty much there.

However, I'm blocked from actually testing most changes because of #17382 - workaround suggestions are appreciated!

[2018-06-24 03:04] abenjamin765 commented on #17698
Same

[2018-06-24 03:04] sblasa commented on #15739
@QuincyLarson , @xnt Okay, thanks for letting me know. Let me know if you need assistance with anything else. :thumbsup:

[2018-06-24 03:15] conradkay opened #17703 "Unnecessary text ES6 getters and setters lesson"
#### Describe your problem and - if possible - how to reproduce it
There is some unnecessary text on the ES6: Use getters and setters to Control Access to an Object lesson, "Remember that C = 5/9 * (F - 32) and F = C * 9.0 / 5 + 32, where F is the value of temperature in Fahrenheit scale, and C is the value of the same temperature in Celsius scale" This may just confuse readers as

#### Add a Link

[2018-06-24 05:40] IbrahimTarabay commented on #17031
Unable to claim Responsive web design certificate

[2018-06-24 05:45] IbrahimTarabay commented on #17698
Same Unable to claim Responsive web design certificate

[2018-06-24 07:44] PrvnToddy commented on #17698
I'm having the same issue.

[2018-06-24 08:59] amlagoda commented on #17699
https://learn.freecodecamp.org/responsive-web-design/basic-css/use-css-variables-to-change-several-elements-at-once/

Error in current description:

![joxi_screenshot_1529830020780](https://user-images.githubusercontent.com/13574012/41817526-172bb656-77e0-11e8-810e-5fd729db1a8b.png)

Must be:
penguin class should declar the `--penguin-skin` variable and assign it to `gray`.
penguin class should de

[2018-06-24 09:10] johnkennedy9147 commented on #17698
@QuincyLarson @raisedadead @Bouncey
I was able to recreate this on a fresh test id:

- created new id
- accepted TOC and privacy policy
- added urls to responsive design projects
- saved progress
- claimed certificate
- got error message
- accepted academic honesty policy
- claimed certificate
- got error message

Further investigation:
- Tried clearing and resubmitting urls - same issue
- added n

[2018-06-24 09:12] lieberscott opened #17704 "Code has been deprecated in "Implement the Serialization of a Passport User""
#### Describe your problem and - if possible - how to reproduce it
Code in the instructions for "Implement the Serialization of a Passport User" has been deprecated in MongoDB versions 3.0.0+

Current instructions tell the student to use this code:

[code]
This code "works" for this challenge, but only because the `db` object is not yet used. In subsequent challenges -- for example, the "Authentic

[2018-06-24 09:13] huyenltnguyen commented on #17698
@johnkennedy9147 I just submitted a PR over the curriculum repo to fix this. It would be great if you give it a review.

[2018-06-24 09:13] dnafication opened #17705 "CSS Flexbox challenge related to tweet embed doesn't function properly in Google Chrome"
#### Describe your problem and - if possible - how to reproduce it
In the CSS Flexbox challenge, Follow and share buttons are not getting displayed in the Google chrome browser, whereas it is visible in Microsoft Edge browser. I have attached the link of the page and their screenshots.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/css-flexbox/ap

[2018-06-24 09:17] huyenltnguyen commented on #17698
Oh the `files` array is new, btw, that's the new change in the challenge schema. I read somewhere that we will implement multiple files (html, css, js) within a challenge in the future.

[2018-06-24 10:53] #17698 closed

[2018-06-24 12:39] lionel-rowe opened #17706 "Confusion in challenge "Regular Expressions: Match Characters that Occur Zero or More Times""
#### Describe your problem and - if possible - how to reproduce it

Confusing requirements to pass challenge [_Regular Expressions: Match Characters that Occur Zero or More Times_](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions/match-characters-that-occur-zero-or-more-times/) (originally reported in [this forum thread](https://forum.freecodecamp.org/t/

[2018-06-24 16:46] IbrahimTarabay opened #17708 "unable to claim responsive certification"
it looks like you have not completed the necessary steps. Please complete the required challenges to claim the Responsive Web Design

[2018-06-24 17:52] DavidJamesAustin opened #17709 "“Run the Tests” brings me two steps forward"
#### Describe your problem and - if possible - how to reproduce it
I double clicked on the “run the tests” button and it brought me forward 2 steps when I clicked the button instead of just 1. It didn’t mark that skipped challenge as completed, just brought me to number 2.

#### Add a Link to the page with the problem
Happened on two pages so far. Doesn't seem to be a page specific issue.

#### Te

[2018-06-24 18:13] DavidJamesAustin commented on #17708
Duplicate of #17698 - It was marked as closed when a PR was submitted & merged http://[here](https://github.com/freeCodeCamp/curriculum/pull/43). You'll just have to wait for it to be deployed which is explained in the last post there.

[2018-06-24 18:50] NadeemGorsi opened #17710 "FCC Certificate being in HTML is editable and can be manipulated from inspect element."
Just got my first FCC certification and and I found that the certificate page is an HTML page and can be edited for example I can edit my name into Some One.
Its not a technical issue but still feels little awkward. I think the certificate should be in image format so it won't be so easy to fool about FCC Certificate.
Happy Coding,

https://www.freecodecamp.org/certification/nadeemgorsi/legacy-fro

[2018-06-24 19:40] DavidJamesAustin commented on #17710
I see this as something that would be hard to provide a good solution to. At the bottom of the certificate, you can see a link to your own user certification link to verify it. That link is the best way to prove authenticity of the certificate. Anyone can easily re-produce the certificate in a design program if they want to work around that.

[2018-06-24 20:28] zsoltime commented on #17709
Do you click twice on the "Run the Tests" button or the "Submit and go ..." button? I could not reproduce it. Neither in Chrome, nor in Safari.

[2018-06-24 20:33] DavidJamesAustin commented on #17709
Honestly, I forget.

[2018-06-24 21:35] Flarp commented on #14234
I've started my work [here](https://github.com/Flarp/curriculum), feedback is appreciated.

[2018-06-24 22:15] jargonfilter commented on #17679
Getting the exact same problem as @thekholm80 is getting.

[2018-06-24 22:29] ivan3123708 commented on #17570
Browser Name: Google Chrome
Browser Version: (64-bit) 67.0.3396.87 (Official Build) (64-bit)
Operating System: Ubuntu 18.04 LTS

I'm having same 3 issues as @ipa-1, tests never pass.

[2018-06-24 22:43] DavidJamesAustin opened #17711 "Typo | CSS Grid: Divide the Grid Into an Area Template"
#### Describe your problem and - if possible - how to reproduce it
The user story has a typo. "propertiy" instead of "property"

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/css-grid/divide-the-grid-into-an-area-template

#### Tell us about your browser and operating system

* Browser Name: Safari
* Browser Version: 11.0.3
* Operating System: Ma

[2018-06-24 23:25] AxiomInfinite opened #17712 "Error In This Lesson Basic JavaScript: Escape Sequences in Strings"
#### Describe your problem and - if possible - how to reproduce it

Lesson Completes with this code
Error Code thats being accepted:

var myStr = 'FirstLine\n\tSecondLine\nThirdLine';

Correct Code:

var myStr = 'FirstLine\n\t\\SecondLine\nThirdLine';

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/escape-sequ

[2018-06-24 23:42] DivyanshBatham opened #17713 "Internal Link not working in CatPhotoApp (Basic HTML and HTML5 Tutorial)"
#### Describe your problem and - if possible - how to reproduce it
The task requires you to link the anchor text "Jump to Bottom" to the footer having id="footer". After coding is done, if the student tries to click the anchor tag in the display at the right (to visually experience the internal links). Then, instead of redirecting to the bottom to Cat Photo App, it redirects to the footer of the f

[2018-06-25 01:36] heidi37 commented on #17698
This ticket says it is closed but I still can't claim the certificate. I have completed all the challenges and they pass all the tests. Is there something special I need to do to get it to go through?

[2018-06-25 01:42] Crounty commented on #16354
Exactly.

If you export bar only it won't even show up as exported.

[2018-06-25 03:50] scissorsneedfoodtoo commented on #17712
@rbonner19, thank you for submitting this issue! Great catch.

You're right, the test for this challenge is wrong, so incorrect code still passes. The correct code should be:

`var myStr = 'FirstLine\n\t\\SecondLine\nThirdLine';`

Would you be interested in fixing this? You could do so over in the new Curriculum repo the challenge seed files were recently moved to. Here's the line that needs to be

[2018-06-25 06:09] Asjas commented on #17698
I'm suspecting the latest version might not be deployed yet. I'm having the same issue.

[2018-06-25 08:50] johnkennedy9147 commented on #17708
closed as duplicate of #17698

[2018-06-25 08:50] #17708 closed

[2018-06-25 09:12] #17705 closed

[2018-06-25 09:12] dnafication commented on #17705
My bad. It was due adblock extension on my browser.

[2018-06-25 09:50] Bouncey commented on #17698
Hi @Asjas @heidi37 @PrvnToddy @IbrahimTarabay @abenjamin765 @thehiddencheese @Gogmazios @aleksmn @VM-Deus @nathanhannig @reggieds @golden-frog

The fix has now been pushed to production, please try and claim the certification again :+1:

[2018-06-25 10:07] VM-Deus commented on #17698
It still won't work for me, projects all pass the test. Same error as above.

[2018-06-25 10:11] nathanielgecse commented on #17698
^same as VM-Deus, still not working for me

[2018-06-25 10:11] karan171996 commented on #17679
Geeting the same error
`// running test
Unexpected token ?
// tests completed`

code:
`function printManyTimes(str) {
  "use strict";

  // change code below this line

  const SENTENCE = str + " is cool!";
  for(let i = 0; i < str.length; i+=2) {
    console.log(SENTENCE);
  }

  // change code above this line

}
printManyTimes("freeCodeCamp");`

[2018-06-25 10:12] karan171996 commented on #17679
Getting the same error
`
// running test
Unexpected token ?
// tests completed
`

[2018-06-25 10:14] craigandrewblair commented on #17698
Hi, same as VM-Deus, attempted yesterday and today. Thanks

[2018-06-25 10:14] Bouncey commented on #17698
@VM-Deus @nathanielgecse Thank you for the quick response. I have reset the cache on the server, could you try again for me please?

[2018-06-25 10:20] johnkennedy9147 commented on #17698
Working on my test id.

Initially saw same error. But might have been timing if deploy hadn't completed / was before cache reset.
I then resubmitted 1 of the projects and tried again and it worked.
So either:
I tried before deploy / cache reset finished then second time was after.
Or:
You need to resubmit project.

@VM-Deus @nathanielgecse @craigandrewblair
Can you try again and if it still doesnt

[2018-06-25 10:27] VM-Deus commented on #17698
@johnkennedy9147 it worked after I resubmitted one of my projects!

Thanks!

[2018-06-25 10:31] nathanielgecse commented on #17698
@Bouncey working now!. I should also note that it worked for me before I resorted to trying to resubmit a project like @johnkennedy9147 recommended.

Thanks, appreciate the help immensely!

[2018-06-25 10:48] Kornelijus opened #17715 "Project Euler: Problem 7 tests won't pass, solution cuts off at 100ms"
#### Describe your problem and - if possible - how to reproduce it

A reasonable solution to the problem (finding the 10001st prime) takes 2.5s to run, but freeCodeCamp cuts it off at 100ms.
The solution works fine on Node.js and in the Console.

To reproduce the issue, paste this code into the editor and run the tests.
[code]

#### Add a Link to the page with the problem

[Project Euler: Problem

[2018-06-25 11:03] craigandrewblair commented on #17698
Thanks for quick response! Working now after resubmitting one of my projects and then reclaiming.

[2018-06-25 11:53] chinnghiemtuc commented on #17679
Me too...when i check in esconsole.com it's okay.

[2018-06-25 11:55] golden-frog commented on #17698
Thanks a lot @huyenltnguyen @Bouncey @johnkennedy9147 and others!

[2018-06-25 13:05] zsoltime commented on #17712
If @rbonner19 not interested in submitting a PR, I'm happy to fix this. 😉

[2018-06-25 13:13] rbonner19 commented on #17712
Yes I'd love to submit the fix, should be able to do that tonight!

On Mon, Jun 25, 2018, 8:11 AM Zsolt Meszaros <notifications@github.com>
wrote:

[2018-06-25 13:36] emmanuelkant opened #17716 "This task does not be send. Maybe a bug."
#### Describe your problem and - if possible - how to reproduce it

I can't send my exercice. I guess that I reach on the end of task, but when I click at "Run the Tests", it's not pass. Your console show that "Unexpected token ?". But I sure that this correct. Somebody can help me? Thank you for your work, it's amazing.

**Link to the challenge:**
https://learn.freecodecamp.org/javascript-algorit

[2018-06-25 13:39] emmanuelkant commented on #17702
@jr-55, For me works in Mozilla, but not in Chrome. Try another browser.

[2018-06-25 13:55] FinQode commented on #17698
It's working for me as well at the moment. Great job to all who fixed this! Thanks :-D

[2018-06-25 14:01] Gogmazios commented on #17698
Yes! This makes me so happy. Thank you for all the hard work. FCC is amazing.

[2018-06-25 15:27] prateek18597 opened #17717 "Same Variable Names in instructions for "Basic CSS: Use CSS Variables to change several elements at once""
#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/basic-css/use-css-variables-to-change-several-elements-at-once
#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version:
* Operating System: Ubuntu 16.04

#### If possible, add a screenshot here

![freecodecamp](https://user-images.githubusercontent.com/24530309/4

[2018-06-25 15:43] scraggo commented on #17706
I can see what you mean. I do feel that after careful reading the problem statement isn't *too* confusing.

Someone could miss the fact that they're asking for both "upper and lower "a" characters in chewieQuote." If not, they might be tempted to use a bracket operator `[aA]`.

Reading over the examples, this one `let goRegex = /go*/;` is very close to the actual solution.

Maybe a simple addition

[2018-06-25 15:47] huyenltnguyen commented on #17680
@tinydynamite00 @xboudsady You'll need to email team@freecodecamp.org with your account details (email address and github usernam) to get this fixed.

[2018-06-25 17:05] mattszcz commented on #15662
#12699 root issue

[2018-06-25 17:15] mattszcz commented on #17291
Confirmed infinite loop on ChromeOS.
Makes tab unresponsive. Have to refresh page.

[2018-06-25 17:16] mattszcz commented on #17408
#12699 root issue

[2018-06-25 17:20] #16358 closed

[2018-06-25 17:21] mattszcz commented on #17479
#12699 root issue

[2018-06-25 17:35] #17711 closed

[2018-06-25 17:40] mattszcz commented on #17570
#12699 root issue

I also have confirmed intermittent test passing (by spamming "Run the tests") on:
https://learn.freecodecamp.org/front-end-libraries/sass/store-data-with-sass-variables
https://learn.freecodecamp.org/front-end-libraries/sass/use-each-to-map-over-items-in-a-list

but not on the other 2 broken Sass lessons

[2018-06-25 17:41] mattszcz commented on #12699
I also have confirmed intermittent test passing (by spamming "Run the tests") on:
https://learn.freecodecamp.org/front-end-libraries/sass/store-data-with-sass-variables
https://learn.freecodecamp.org/front-end-libraries/sass/use-each-to-map-over-items-in-a-list

but not on the other 2 broken Sass lessons (these always fail to pass):
https://learn.freecodecamp.org/front-end-libraries/sass/use-for-t

[2018-06-25 17:53] mattszcz commented on #17626
Confirmed. Silly bug. Easy fix.

[2018-06-25 18:05] thehiddencheese commented on #17698
Awesome job guys, got my cert now :)

[2018-06-25 18:10] perezvon opened #17718 "Build a Product Landing Page project should allow SVG on test #2"
#### Describe your problem and - if possible - how to reproduce it
Test #2 on the Product Landing Page fails if I use raw SVG as the src. Looks like it's expecting the src string to begin with `http`, but the svg source begins with `data:image/svg+xml`. It's valid to use SVG in an image tag, right? So it should be valid to pass the test?

#### Add a Link to the page with the problem
https://learn.

[2018-06-25 18:39] gezzalou88 opened #17719 "Basic HTML and HTML5: Add Images to Your Website - Allows to proceed without closing bracket"
On the first page of the Basic HTML and HTML5: Add Images to Your Website it allows you to proceed when you have incorrectly missed of the closing bracket from the text as below

<img src="https://bit.ly/fcc-relaxing-cat" alt="a cat"

https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/add-images-to-your-website

#### Tell us about your browser and operating system

* Browser

[2018-06-25 19:18] tchaffee commented on #17511
I'm back from travelling and will start this in the next couple of days.

My idea is that we should spend minimal effort on COM1000 and the new format. If it goes quickly then it's a good stop gap everyone can start using right away. At which point we can decide on how best to move forward, and take as much time as needed to discuss it properly since the pressure will be off. If there are loads of

[2018-06-25 19:45] scwong93 commented on #17717
I would like to attempt this issue please.

[2018-06-25 20:15] Wojonatior commented on #17320
@raisedadead Can you provide me some guidance as to defining this issue and how to generate some of this data for testing?

[2018-06-25 20:18] raisedadead commented on #17344
@ktajpuri yes please.

[2018-06-25 20:19] raisedadead commented on #17344
Please note that some of this like the profile pic indicator is already implemented, but feel free to improvise it, if need be.

[2018-06-25 21:00] julianorafael commented on #17511
Agreed. I'm gonna give COM1000 a shot too, but I'm biased towards starting over clean using it as a reference check.

[2018-06-25 22:02] scwong93 commented on #17717
The curriculum content was not in this repo. I made the necessary changes and created the PR here: https://github.com/freeCodeCamp/curriculum/pull/54

[2018-06-25 22:40] SoulShaker commented on #17618
Same here. Can't pass the " redirect to the home page /". I have `res.redirect('/');` in my middlewares and redirect actually happens.

[2018-06-25 23:29] jr-55 commented on #17702
I appreciate your help huyenltnguyen, thanks!     Chrome—same results, the latest version of Firefox I was unable to download because my IPad2 is unable to support It. I’m able to see most of the latest FCC updates but strangely my lessons will not display.

[2018-06-25 23:38] congociti commented on #17713
Having the same issue.

[2018-06-25 23:49] scissorsneedfoodtoo commented on #17712
Okay @rbonner19, that's great! Looking forward to your PR later.

[2018-06-25 23:49] EdwardHanlon30 commented on #17679
Unexpected token ?

Please fix this error

[2018-06-26 00:06] terryjreynolds opened #17721 "Two comma splices in instructions-- React: Render with an if/else condition"
Two comma splices in the instructions that could be cleaned up.

[https://learn.freecodecamp.org/front-end-libraries/react/render-with-an-ifelse-condition](url)

Comma Splice #1
Paragraph one (second sentence) reads: " When the condition is true, one view renders, when it's false, it's a different view."

The comma after 'renders' should be a period or semi-colon.

It should read:  " When the cond

[2018-06-26 00:57] hangngopham commented on #17679
I also got the exact same problem:Unexpected token ?

[2018-06-26 01:43] scissorsneedfoodtoo commented on #17713
@DivyanshBatham, thank you for reporting this. @congociti, thanks for confirming this. We'll definitely have to look into the issue.

[2018-06-26 02:12] aaldea commented on #17679
I know someone said they have the fix, but I am also getting the same error.

[2018-06-26 07:00] #17717 closed

[2018-06-26 07:05] Flemo7 commented on #17719
Hello,

You don't have to close it, its whats called a void element.

You can if you want to, but it makes no difference if you do or not.

Please see: http://dev.w3.org/html5/markup/syntax.html

Thank you!

[2018-06-26 08:00] huyenltnguyen commented on #17702
@jr-55 Sorry to hear that it still doesn't work for you. There are a number of reported issues regarding the page display on mobile devices. As far as I know, FCC doesn't support mobile devices yet and using a desk device is recommended.

[2018-06-26 09:32] roshad commented on #17629
I switched to Eng.

[2018-06-26 11:34] GMradu opened #17722 "Gateway 502 Error - Responsive Web Design Certificate"
Hi Guys,

There was this issue last days when none of us could claim the certificate for Responsive Web Design.
It was fixed and now you can claim it.
But after this, the button that was used to claim the certificate has a new role, to see the certificate. When you press the button to see your certificate, it opens a new tab and displays a Gateway 502 error.

#### Add a Link to the page with the p

[2018-06-26 12:07] Asjas commented on #17722
It might be a connection issue. I just tested mine and it now opens the certificate.

[2018-06-26 13:43] GMradu commented on #17722
I just tested from my phone which is using another provider and I got the same gateway 502 error.

[2018-06-26 13:59] johnkennedy9147 commented on #17722
@Asjas can you confirm if you opened @GMradu certificate using above link, or you viewed your own?

My certs are working on real and test ids.
The link @GMradu provided above gives bad gateway.
However, I cannot open his profile either.
Eventually the request to get public profile will timeout.

![image](https://user-images.githubusercontent.com/26827682/41916942-229ff4bc-7951-11e8-8439-7294546237

[2018-06-26 15:10] GMradu commented on #17722
@johnkennedy9147  thank you for the advice.
I had figured out what was the issue. So I discovered a new bug.
While my profile settings were in night mode it seems that has it's own profile privacy. I don't think this is how it supposed to work but when I changed my profile to day mode I was able to get my certificate and I was able to change the privacy from public mode to private and vice-versa.

[2018-06-26 15:25] xnt commented on #15739
Please note that testing this is blocked by #17382 , and I don't want to create a PR without testing. I'm not versed enough on FCC as to come up with a workaround by my own, either. So right now I've pushed stuff to https://github.com/xnt/freeCodeCamp/tree/fontawesome-a11y waiting to be able to test.

[2018-06-26 15:38] Romicodes opened #17723 "Applied Accessibility: Improve Accessibility of Audio Content with the audio Element Bug"
#### Describe your problem and - if possible - how to reproduce it
Repeatedly shows make sure your audio element has  a closing tag, won't progress

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/improve-accessibility-of-audio-content-with-the-audio-element/

#### Tell us about your browser and operating system

* Browser Na

[2018-06-26 17:44] virgilt opened #17724 "CSS Flexbox: Use the align-items Property in the Tweet Embed"
#### Describe your problem and - if possible - how to reproduce it

The challenge (Use the align-items Property in the Tweet Embed) is using the property incorrectly.

h3 and h4 should be using “align-self” instead of “align-items”

If I use use “align-items” on h3 and h4 is does nothing because “align-items” is meant for the flex container (the parent of the flex items)

“align-items” should be u

[2018-06-26 18:02] valdinei11 commented on #17679
I tested right now this challenge. My message error is different:
[code]

[2018-06-26 18:13] asherdf opened #17725 "Typo in Basic HTML and HTML5: Create a Set of Radio Buttons"
There is a typo in the **3rd paragraph**, in the **2nd sentence**. The word "automatically" is missing the "m" to spell "autoatically".

https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/create-a-set-of-radio-buttons/

* Browser Name: Firefox
* Browser Version: 52.8.1
* Operating System: Windows 10

[2018-06-26 18:19] petervann commented on #17679
I just tested this:
[code]
And still get this response:
[code]

[2018-06-26 18:22] harrisalisha commented on #17679
same.. me too..

[2018-06-26 18:28] NiteshTyagi opened #17726 "Intermediate Algorithm Scripting: Sum All Primes"
#### Describe your problem and - if possible - how to reproduce it
Not pass the test case sumPrimes(977) even the logic is correct
#### Add a Link to the page with the problem

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sum-all-primes
#### Tell us about your browser and operating system

* Browser Name: Google Chrome
* Browser Version:

[2018-06-26 18:29] NiteshTyagi commented on #17726
` function sumPrimes(num) {
  var arr=[];
  var d=0;
  //noprotect
  for(var i=1;i<=num;i++)
  {  //noprotect
    var c=0;
     //noprotect
    for(var j=1;j<=i;j++)
    {
       //noprotect
      if(i%j===0)
      c++;
    }
    if(c==2)
    {
       //noprotect
      arr[d]=i;
      d++;
    }
  }
    var num=arr.reduce(function(total,curr){
        return total+curr;
    });
           //docume

[2018-06-26 18:36] thomlom commented on #17679
The problem is known and it is being fixed.

[2018-06-26 18:40] BenjaminJenney opened #17727 "I’m Being bounced around the curriculum! is that normal?"
#### Describe your problem and - if possible - how to reproduce it
I started from the top, the HTML section, and have been going from one challenge to the next. After putting many hours in I decided to look at the curriculum and noticed that I’ve only finished a portion of the CSS section, before ending up in the front end libraries section! Is it supposed to bounce me around like this! or did i s

[2018-06-26 19:22] AaronWands commented on #16419
Facing the same problem. It says that there needs to be a closing audio tag but I have one already. Not sure what to do.

[2018-06-26 19:29] AaronWands opened #17729 "Applied Accessibility: Improve Accessibility of Audio Content with the audio Element - says there should be closing tag even though there already is one"
https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/improve-accessibility-of-audio-content-with-the-audio-element
#### Describe your problem and - if possible - how to reproduce it
It says there should be a closing tag even though a closing tag is already there

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/applied-accessib

[2018-06-26 20:51] Tirjasdyn commented on #16358
I am also having this problem. I tried using map and I now get an error that says:

React is not defined

I thought I was getting this too but throwing map in here just makes it unnecessarily difficult.

[2018-06-26 20:53] zersiax opened #17730 "Accept privacy terms: checkboxes unusable for screen reader users"
#### Describe your problem and - if possible - how to reproduce it
Currently, the checkboxes to accept the privacy terms, the newsletter opt-in etc. are completely inaccessible to screen reader users. They do not convey a role of checkbox, are not keyboard-focusable and do not respond to regular keypresses (e.g. space, enter) to check them.  This effectively halts any screen reader user at the doo

[2018-06-26 21:00] zersiax commented on #17730
For now, if anyone else runs into this, maximize the browser window and use NVDA's OCR addon to snap a clear picture of the page, use NVDA's review cursor to find the start of the lines containing the checkboxes than simulate a left mouse click, that seems the only way to get past it until a fix has been implemented.  Haven't tested with JAWS and I'm pretty sure this trick won't work with Narrator

[2018-06-26 21:07] zersiax opened #17731 "Accessibility: No longer possible to get completion state for challenges"
#### Describe your problem and - if possible - how to reproduce it
On the old website, a span of sr-only text would indicate if a challenge was 'completed' or 'not completed'. This information is no longer available to screen readers.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/

#### Tell us about your browser and operating system

* Browser Name:Chrome
* Browser

[2018-06-26 21:14] QuincyLarson commented on #17730
Thanks for letting us know, @zersiax. I hadn't realized that checkboxes were an accessibility anti-pattern.

We're working on a solution that won't involve checkboxes.

I've renamed this issue to focus on the checkbox-related HTML challenges in our curriculum. We should definitely update that so that it's in line with accessibility best practices.

[2018-06-26 21:21] sbunny8 commented on #17725
Yes and the same typo appears on the next page about checkboxes; "automatically" is misspelled "autoatically".
https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/create-a-set-of-checkboxes

[2018-06-26 21:21] zersiax commented on #17730
Honestly, if you are referring to challenge https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/create-a-set-of-checkboxes , that is the exact way checkboxes should be used. That, however, is not the approach that was taken on the accept privacy terms page above.

[2018-06-26 21:30] zersiax commented on #17730
The checkboxes on said page are more along the lines of this:
[code]
etc.
I'd need to do testing why that isn't working though, there is a checkbox element in there but something is muddying up the waters.

[2018-06-26 21:43] zersiax commented on #17730
After some limited testing, I can say with reasonable certain that the HTML markup is not the culprit here. I tried this exact code in an otherwise empty file, without adding the required CSS and JS files. This makes the checkbox work just fine, so it's likely one of these that's causing problems.

[2018-06-26 23:08] DivyanshBatham commented on #17713
@scissorsneedfoodtoo Can you tell me how can I contribute to the lecture notes, I have found a typo on this page(https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/create-a-set-of-radio-buttons/). Is the data being pulled from the database?

[2018-06-26 23:51] scissorsneedfoodtoo commented on #17713
@DivyanshBatham, great catch! Didn't notice that typo earlier.

To contribute, please submit a PR to the new [Curriculum repo](https://github.com/freeCodeCamp/curriculum) the challenges were recently moved to. You can find the seed file for all the basic HTML challenges at `curriculum/challenges/01-responsive-web-design/basic-html-and-html5.json`.

There's not contributing guide in that repo yet,

[2018-06-27 02:06] Nirajn2311 commented on #17721
On it

[2018-06-27 02:38] a-nuen commented on #17618
Having the same problem as SoulShaker. The redirect happens but still failing the test.

[2018-06-27 04:12] hermanomark commented on #17679
ow! I'm not the only one :)

[2018-06-27 06:00] raftar2097 commented on #16358
how did u solve the issue @richa031

[2018-06-27 06:29] anku255 commented on #17724
@virgilt I agree with you that `align-items` is a property of a `flex` container and setting it on `h3` and `h4` element doesn't make any sense.

However, I am not sure if we want to set `align-items: center` to the `header .profile-name` because it's already vertically centered by

[code]

Setting `align-items: center` would center things horizontally which is probably not what we want.

I think

[2018-06-27 07:29] alynch01 opened #17732 "Regular Expressions: Match Characters that Occur One or More Times"
I can't complete this challenge due to testing issues. The challenge is:
You want to find matches when the letter s occurs one or more times in "Mississippi". Write a regex that uses the + sign.

CODE
let difficultSpelling = "Mississippi";
let myRegex = /s+/g; // Change this line
let result = difficultSpelling.match(myRegex);

OUTPUT
["s", "s", "s", "s"]

SHOULD BE
["ss", "ss"]

https://learn.free

[2018-06-27 07:40] anku255 commented on #17704
@lieberscott Freecodecamp's boilerplate uses mongodb [version ^2.2.22](https://github.com/freeCodeCamp/boilerplate-advancednode/blob/944fa6616529ef25e8ffa70125847e2225d96389/package.json#L17)

If I am not wrong then the code written for mongodb version 3.x won't be compatible with verison 2.x. So, we will have to make a decision whether to use the latest version or stick with the older one. In cas

[2018-06-27 07:59] #17732 closed

[2018-06-27 09:09] farhankarim commented on #17725
Its my first contribution.
I am working on it.

[2018-06-27 10:22] abnogueira opened #17733 "Wrong Accepted Answer in Regular Expressions: Restrict Possible Usernames"
#### Problem:
The following code was accepted as a resolution of Regular Expressions: Restrict Possible Usernames
`let userCheck = /[a-zA-Z][a-zA-Z][a-zA-Z]+[0-9]*$/; // Change this line`
Obs.: no modifications were applied to the other lines.

This code works for the test cases but it's not the correct answer to the challenge of Restrict Possible Usernames, due to the fact that usernames have to

[2018-06-27 11:04] #15012 closed

[2018-06-27 11:08] #17691 closed

[2018-06-27 11:46] ktajpuri commented on #17344
I am currently unable to signin to FCC local because of the oauth issue. Any idea when that will be fixed or we get a workaround?

[2018-06-27 11:55] SoulShaker commented on #17618
@a-nuen I've solved this issue. You should put somewhere on the page string 'Home page', for example on the h1, also for profile page you should add the string 'Profile'. You can check tests source code on the link https://github.com/freeCodeCamp/curriculum/blob/dev/challenges/06-information-security-and-quality-assurance/advanced-express-tools.json

[2018-06-27 12:05] a-nuen commented on #17618
@SoulShaker I got it to pass. Thank you.

[2018-06-27 12:10] raisedadead commented on #17344
No Idea. Unless the core team is free from other pressing tasks, I am unfortunately unable to state an ETA. A PR is welcome though.

[2018-06-27 12:57] IAmRC1 opened #17734 "Test passing though the code doesn't check all test cases."
#### Describe your problem and - if possible - how to reproduce it
I am using this code and it is passing though I am not checking it for all users.
while(users.hasOwnProperty("Alan")){
    return true;
  }
  return false;

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/check-if-an-object-has-a-property

#

[2018-06-27 13:28] #17619 closed

[2018-06-27 13:44] lynxlynxlynx opened #17735 "Remember to Set the Constructor Property when Changing the Prototype: clarification needed"
#### Describe your problem and - if possible - how to reproduce it
The challenge says re-setting the constructor is crucial, but not why. There's no motivation provided to do it, especially if you heed the earlier advice of prefering the use of instanceof.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/object-oriented-programm

[2018-06-27 14:18] Nirajn2311 commented on #17712
@AxiomInfinite are you working on the fix?

[2018-06-27 14:19] virgilt commented on #17724
@anku255 I agree about not setting align-items: center, if anything it should be align-items: flex-start, which is also unnecessary since it will only replicate what is already happening.

I was only trying to explain that align-items: center will not work for the h3 and h4 but would work for header. Whether it's visually better or not is up to the individual, although like I said I agree with you

[2018-06-27 15:29] antalmega opened #17736 "wrap-reverse: wrong definition in CSS flexbox"
#### Describe your problem and - if possible - how to reproduce it
In the challenge **CSS Flexbox: Use the flex-wrap Property to Wrap a Row or Column**, the value *wrap-reverse* is defined:

**wrap-reverse**: "wraps items from right-to-left if they are in a row, or bottom-to-top if they are in a column."

This definition is not correct. Actually *wrap-reverse* wrap content changing de cross-axis d

[2018-06-27 15:51] anku255 commented on #17724
@virgilt I have created a PR. Let's see what happens :)

[2018-06-27 15:57] TheSoulOfaLion commented on #17723
Hi! The test doesn't pass validation because your tag <audio> have an id. After removing the id, the validation will be passed. Be careful you can skip extra space and the test will get stuck again.

[2018-06-27 16:05] Flarp commented on #17382
I was able to temp fix this issue by creating an auth0 account, and putting all the related content in the `AUTH0` fields.

[2018-06-27 18:22] Tirjasdyn commented on #16354
Neither option works. Nothing happens if you use the first option. The console can't even print the error, it's too long. The second option passes the test in the log window but both options are still gray X.

[2018-06-27 18:54] kamatheuska commented on #17195
The issue is still ongoing:
![fccsasswhile](https://user-images.githubusercontent.com/26850124/41993566-34cbc552-7a4c-11e8-9372-f75205499aa7.png)

[2018-06-27 19:00] scwong93 commented on #17736
I'd like to take on this issue please

[2018-06-27 19:07] scwong93 commented on #17736
Since the curriculum content is in the `curriculum` repo, I submitted the PR there. https://github.com/freeCodeCamp/curriculum/pull/70

[2018-06-27 20:09] tchaffee commented on #17382
@Flarp Can you give more details on exactly what you had to put where? Did you have to change URLs anywhere? Or just put some info in a config file? As many details as possible will help others try this too. Thanks!

[2018-06-27 23:41] JamesStaffordCoyte opened #17738 "Cloned repo but can't run 'npm run unpack'"
#### Describe your problem and - if possible - how to reproduce it
I am running a local repo of freeCodecamp and am on a new branch but when I run 'npm run unpack' I am getting error messages.

The Error says that it can't find /Desktop/FreeCodeCamp/freeCodeCamp/seed/unpack.js'

I am trying to fix the html on one of the challenges but can't seem to access the challenges this way.

Any reason this

[2018-06-27 23:44] zohaib9613 commented on #16351
It still has the same problem.

[2018-06-28 00:45] TheChristianFjord opened #17739 ""Run The Test"
#### Describe your problem and - if possible - how to reproduce it

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If possible, add a screenshot here

[2018-06-28 00:48] Christian-Fjord opened #17740 ""Run The Test" button not working"
#### Describe your problem and - if possible - how to reproduce it
Throughout some of the JavaScript tutorials, It won't bring up that it is running the test. It doesn't matter
if I click the button or use CTRL + Enter. Neither one seems to work on some of the lessons.

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-java

[2018-06-28 01:42] jdmagic21 commented on #17679
I was really looking forward to getting another green check circle. :)

[2018-06-28 02:03] QuincyLarson commented on #17730
OK - so I talked with @zersiax and it is indeed this page and the way the checkboxes have been implemented that cause accessibility issues. Here's the code we're currently using, which is suboptimal:

[code]

[2018-06-28 02:35] Arronk opened #17741 "Design the curriculum page view to be more dynamic"
#### Describe your problem and - if possible - how to reproduce it

I would like the curriculum page, which shows all of your completed exercises, to save the state from when you last visited the page. I find myself referring to the page quite often and if the section I have expanded is: Javascript Algorithms And Data Structures Certification (300 hours) > ES6, I would want that to be what is expa

[2018-06-28 03:17] AlanMamphs commented on #17397
I still cannot view any certificates.

[2018-06-28 04:14] nyel-dev commented on #17679
Just stumbled upon this problem. Weird.

[2018-06-28 07:05] azurvii opened #17742 "FCC accepts "{a: 'b'}" but not "{a: 'b',}" (with an extra comma)"
#### Describe your problem and - if possible - how to reproduce it
In challenge "React: Review Using Props with Stateless Functional Components", my initial solution was:

[code]
And it told me:
[code]
After a few dozens of minutes, I figured out that my extra commas made it unhappy, so instead of
[code]
I should write
[code]
to make it allow me to pass.

It's probably how the judger is implemente

[2018-06-28 07:05] badarshahzad commented on #17679
Wow! a number of comments already here. Count me in as I am also facing the same problem. :smile:

[2018-06-28 07:11] thearunster commented on #17740
Hi @TheChristianFjord , do you see any errors in the console?

[2018-06-28 07:11] d4mer opened #17743 "Profile shows longest streak from 2017 and not from current year."
#### Describe your problem and - if possible - how to reproduce it
On my public profile, the longest streak calendar is from 2017 and not the current month/year.

#### Add a Link to the page with the problem
https://www.freecodecamp.org/d4mer

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version:
* Operating System: Windows 10

#### If possible, add a scre

[2018-06-28 08:33] Arronk commented on #17741
When using Freecodecamp this evening my issue seems to be resolved and when i go back to the curriculum page it was where I left it.

[2018-06-28 09:29] #17667 closed

[2018-06-28 10:17] StubRavi commented on #17740
I am also facing similar problem in another challenge.

**Add a Link to the page with the problem**

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-arrow-functions-to-write-concise-anonymous-functions/

**Tell us about your browser and operating system**

- Browser Name: Google Chrome
- Browser Version: Google Chrome Version 67.0.3396.99 (Official Build) (32-bit)

[2018-06-28 11:15] raditotev opened #17744 "[Quality Assurance and Testing with Chai] Example functional test failing"
#### Describe your problem and - if possible - how to reproduce it
When submitting my solution for **Run Functional Tests using a Headless Browser** all tests are passing except the first one - **All tests should pass**
After inspecting the glitch logs I found out that the example test is also failing:
[code]
This is the test function from the example:
[code]
And this is my solution:
[code]

####

[2018-06-28 12:28] Romicodes commented on #17723
Thanks @TheSoulOfaLion . I removed the tag and it worked perfectly !

[2018-06-28 13:15] moT01 commented on #17742
I don't think you can use commas there

[2018-06-28 13:44] zsoltime commented on #17742
@moT01 You can use commas there and it usually is a good practice to do so. Trailing commas are great to avoid noisy `git` diffs when you add or remove a line.

[2018-06-28 13:46] Nirajn2311 opened #17745 "Incomplete Instructions for Basic JavaScript: Return a Value from a Function with Return"
#### Describe your problem and - if possible - how to reproduce it
The instructions instruct us to create a function timesFive but it doesn't tell us to call the function after creating it. So when anyone does the challenge they will get an error.
I think that the instructions should be modified to include all steps.
@Bouncey @raisedadead  can I make a PR on this in the curriculum repo?

#### Add

[2018-06-28 13:59] mav1283 commented on #17408
Same here, what happens if you finished everything and can't get your certificate because of this?

[2018-06-28 14:04] #17745 closed

[2018-06-28 14:04] Bouncey commented on #17745
Issue moved to [freeCodeCamp/curriculum #73](https://github.com/freeCodeCamp/curriculum/issues/73) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-28 14:07] YUANLIN327 opened #17746 "Cannot submit API Projects (Basic Node and Express Course)"
#### Describe your problem and - if possible - how to reproduce it
When I tried to provide my solution by submitting url from glitch, it no longer worked anymore.
Check the link and it returns 404. I don't know why FCC uses _api/package.json, but it just doesn't work.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/apis-and-microservices/managing-packages-with-npm/how-

[2018-06-28 14:58] antalmega commented on #17736
Ok, thanks Simon.

[2018-06-28 16:28] raisedadead commented on #17251
Hi @AlanMamphs apologies for the delays,  this should be resolved now.

[2018-06-28 16:28] #17251 closed

[2018-06-28 17:23] petercr commented on #17408
@mav1283 You **don't need** to finish all of the challenges in order to get the certificate. You only need to  complete the _**final projects**_ at the end of any given section to receive the certificate of completion.
I just wanted to make sure you knew this 👍 😃

[2018-06-28 17:23] cballin513 commented on #17721
On Tue, Jun 26, 2018 at 10:09 PM a/:./4./.,( ]_<{ / Nandish <
notifications@github.com> wrote:

--
null

[2018-06-28 19:43] Nirajn2311 commented on #17382
@tchaffee I also was able to temp fix it. You have to copy paste (from your application in auth 0) the auth0 domain, client Id and secret key to your .env file. Also you have to add http://localhost:3000/auth/auth0/callback to your apps allowed callback url.

[2018-06-28 19:50] QuincyLarson commented on #17195
@dCremins @kamatheuska Thanks for reporting that this is still a problem. I've reopened the issue and given it the "help wanted" label.

[2018-06-28 19:51] QuincyLarson commented on #15739
@sblasa Once we've fixed  #17382  we would welcome your help with this!

[2018-06-28 19:53] raisedadead commented on #17382
The ideal fix for this is:

1. Add a local auth route handler in the `authentication.js`
2. Update the `component-passport.js` to have a environment specific bypass (`NODE_ENV=development`) for letting in a user in. That is `login` cookies are to be set.
    1. Setting a login cookie needs you to set the `access_token`
    2. Setting access from `learn` needs you to have a jwt token in the cookie.

[2018-06-28 19:54] QuincyLarson commented on #17128
@Em-Ant Awesome! Thank you for confirming you were able to update this!

[2018-06-28 20:23] iarobinson commented on #17596
I plan to submit a properly formatted PR today to fix this broken link. Thanks for the calm and patient support.

[2018-06-28 20:56] raisedadead opened #17748 "Remove the acceptedPrivacyTerms key from the User Object and the DB"
- [ ] Migration script for unsetting all the `acceptPrivacyTerms`
- [ ] Make a PR to remove the middleware and the key from model
- [ ] Remove the view for the middleware https://github.com/freeCodeCamp/freeCodeCamp/issues/17730

[2018-06-28 21:33] fotisoikonomou commented on #15654
const increment = (function() {
  "use strict";
  return function increment(number,value=1) {
   switch(value) {
   case isNaN(value) :
     return number +value;
     break;
   case value  :
   return number+value;
   break;
   default : return NaN;}
  };
})();
console.log(increment(5, 2)); // returns 7
console.log(increment(5)); // returns NaN

[2018-06-28 22:01] QuincyLarson opened #17749 "Create Top Contributor Badge"
We recently announced our [2018 Top Contributors](https://medium.freecodecamp.org/announcing-our-freecodecamp-2018-top-contributor-award-winners-861da08a77e1).

This award is based loosely off of Quora's Top Writers award. And we want to similarly recognize freeCodeCamp's Top Contributors with a badge on their profile:

![_684_1__quincy_larson_-_quora](https://user-images.githubusercontent.com/985

[2018-06-28 22:05] QuincyLarson opened #17750 "Design Top Contributor 2018 Name Badges for parties"
We recently announced [freeCodeCamp's 2018 Top Contributors](https://medium.freecodecamp.org/announcing-our-freecodecamp-2018-top-contributor-award-winners-861da08a77e1).

We are hoping to design a nice lanyard that Top Contributors can pick up when they arrive at the party with their names on them.

We welcome your design ideas for these lanyards. You can base them off of the [freeCodeCamp Design

[2018-06-28 22:14] bloo0178 commented on #16419
I also had the same problem. I removed the id entirely and the test passed.
`<audio controls> </audio>`

[2018-06-29 01:29] #17702 closed

[2018-06-29 01:30] zeuslawyer opened #17753 "Typo in first lesson of Managing Packages with NPM"
#### Describe your problem and - if possible - how to reproduce it
Minor typo  in para 1 of the first npm exercise.   it says:
'It stores information about your project just like the -section in a HTML document describes the content of a webpage. '

the '-section' should presumably should refer to something else?

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/apis-and

[2018-06-29 02:22] zeuslawyer opened #17754 "Basic Node and Express hard to follow"
#### Describe your problem and - if possible - how to reproduce it
As has been noted by a few users, FCC's remarkably clear and systematic approach breaks a bit jarringly when we start the Express Section.  NPM / Package management was fantastic. But the simple express server stuff presumes a lot of knowledge/experience that is not beginner friendly.

see similar comments: https://forum.freecodeca

[2018-06-29 04:17] Cyniikal commented on #17679
Also having the exact same problem "Unexpected token ?"

[2018-06-29 04:47] raisedadead commented on #17730
We are removing the need for explicit acceptance of these privacy terms. Please see linked issue for details. This view can be removed.

[2018-06-29 04:47] #17730 closed

[2018-06-29 04:49] raisedadead commented on #17749
We already have the FA library available to us. No changes are necessary to the packaging.

[2018-06-29 05:20] tbushman opened #17755 "Use CDN for Data Visualization projects user stories urls"
#### Describe your problem and - if possible - how to reproduce it

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If possible, add a screenshot here
## Choropleth Map
https://learn.freecodecamp.org/data-visualization/data-visualization-projects/visualize-data-with-a-choropleth-map/
<i

[2018-06-29 05:21] mav1283 opened #17756 "Introduction to Sass Challenges is full of bugs?"
#### Describe your problem and - if possible - how to reproduce it
There seems to be a lot of bugs in the Sass Challenges, i only manage to pass problems 2 to 4 even if correct answers were submitted,
#### Add a Link to the page with the problem
**Lesson 1:**  https://learn.freecodecamp.org/front-end-libraries/sass/store-data-with-sass-variables/
**Lesson 5:**  https://learn.freecodecamp.org/front

[2018-06-29 06:44] Ems2theLee commented on #17679
@dilipsingh94 Go to the curriculum link on the top right and then click the lesson after this one in the ES6 unit to keep going. I don't think the certification can be completed till it's fixed, but you can keep working towards it while you wait.

[2018-06-29 11:53] Beaglefoot opened #17757 "No CORS in socket.io glitch boilerplate"
#### Describe your problem and - if possible - how to reproduce it
Currently you have to edit fcctesting.js to pass tests, which explicitly tells you not to do so...

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/information-security-and-quality-assurance/advanced-node-and-express/set-up-the-environment

#### Tell us about your browser and operating system
Irrelevant

[2018-06-29 13:44] vytautas-pilk commented on #17387
Same here Linux SolusOS, Firefox 60.0.1

[2018-06-29 14:01] ranavc32 opened #17758 "React exercise pass-an-array-as-props test case not passing"
Hi,

I was facing one problem while solving the exercise ( pass-an-array-as-props ) of React here is the link, [https://learn.freecodecamp.org/front-end-libraries/react/pass-an-array-as-props](url)

I followed every steps and able to render as per requirement of test case but test case ( The List component should render the value from the tasks prop in the p tag. ) failed, Please let me know if it

[2018-06-29 14:57] frank-rui commented on #17412
The dark theme has been pushed to the client, Amazing!! Although, the code snippet area and promotes CSS doesn't match well with the background.  I am on MacOs and tested using Safari.

<img width="831" alt="image" src="https://user-images.githubusercontent.com/27864196/42099261-8ef80e88-7bef-11e8-86a6-da25ca608f2d.png">

<img width="840" alt="image" src="https://user-images.githubusercontent.com/

[2018-06-29 15:05] rob84044 commented on #17512
I am using the browser Google Chrome, Version 67.0.3396.99 (Official Build) (64-bit).

I can not pass the check. Here is my code
<style>
  img {
width: 100px;
height: 100px;
}
</style>

<img src="https://s3.amazonaws.com/freecodecamp/FCCStickers-CamperBot200x200.jpg" alt="freeCodeCamp sticker that says 'Because CamperBot Cares'">

[2018-06-29 15:11] rob84044 commented on #17512
I just used the browser Firefox Version 61.0 (64-bit). I was able to submit the same code and pass the check, there is definitely a bug for the chrome browser

[2018-06-29 15:34] bgrgndzz commented on #17749
I'd like to give this a try!
@raisedadead I couldn't find the pull request icon in font awesome so I will just download the icon in the link that Quincy provided and use it in the user profile.

[2018-06-29 16:13] raisedadead commented on #17749
I think we could use https://fontawesome.com/icons/trophy-alt?style=solid (we have a pro licensing for font awesome)

[2018-06-29 16:38] Nirajn2311 commented on #17758
@ranavc32 You forgot to put a space after the comma on line 3, it should be:
`
return <p>{props.tasks.join(', ')}</p>
`

[2018-06-29 16:50] #17697 closed

[2018-06-29 17:21] petervann commented on #17679
I was able to complete everything except this challenge and was able to claim the certification.

I keep checking back because I'd still like to pass this challenge, though.

[2018-06-29 18:04] hollloh opened #17760 "overflow hidden in firefox"
#### Describe your problem and - if possible - how to reproduce it

overflow is hidden in firefox (it's fine in chrome).
no scrollbar visible and i can't scroll down with a touchpad.
only occurs with the left column (instructions panel).
the right column scroll works (editor panel).

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/javascript-algorithms-and-data-structu