[2018-09-16 03:33] JWillZ94 commented on #18139
I'll look into this issue.

[2018-09-16 11:27] adrianwix opened #18141 "Socket.io project throw errors"
#### Describe your problem and - if possible - how to reproduce it
I have just copy and follow the steps in this [tutorial](https://learn.freecodecamp.org/information-security-and-quality-assurance/advanced-node-and-express/set-up-the-environment) plus things you did not mention as

1.  The boilerplate is different from the previous one (Github). If you add this at the beginning as in all the othe

[2018-09-16 16:11] JESii commented on #18138
Thanks @randelldawson for catching that error on my second expression and for fixing the text expression (all those backslashes make my eyes water :=) Are you merging this change?

[2018-09-16 17:08] akmalist commented on #18070
Same thing here. Had to remove ** ? ** on my titles.

https://codepen.io/akmalist/full/vzzdxp/

[2018-09-16 22:17] jdimetric12 commented on #11346
The simplest err will cause our code not to run........

[2018-09-17 02:48] cstst opened #18142 "Information Security and Quality Assurance Projects - Metric-Imperial Converter: False Positive When Testing User Stories"
I submitted an incomplete version of the Metric-Imperal Converter project, and all of the user stories tests passed.

[Information Security and Quality Assurance Projects - Metric-Imperial Converter](https://learn.freecodecamp.org/information-security-and-quality-assurance/information-security-and-quality-assurance-projects/metric-imperial-converter/)

* Browser Name: Google Chrome
* Browser Versi

[2018-09-17 02:54] super032208 commented on #4956
comment the google links like this  and then in the CSS Style delete and rewritten like this h2{font-family: Lobster,monospace; } and Ready for the next challenge

[2018-09-17 12:40] prj1999 commented on #18060
@Murrium123  It is working on Chrome and Firefox. May be it is not compatible on edge.So switch on to Chrome or Firefox.

[2018-09-17 12:53] Se7enSquared opened #18144 "Feature Req: Projects: Allow User Stories to be checked off by student"
In the project pages, I would like to be able to check off what I've completed. It would save me time to not have to re-read to find out where I am.

Link to a project page: https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-projects/build-a-survey-form

* Browser Name: Chrome
* Browser Version: Latest
* Operating System: Windows 10

[2018-09-17 13:02] prj1999 commented on #18045
@nathanhannig I have used height:25px and text-size-adjust:auto in h4 tag. text-size-adjust basically control text inflation or deflation for smaller resolutions.It worked for all resolutions.Hope it will resolve your issue.
![screenshot 42](https://user-images.githubusercontent.com/38538265/45624411-e7704700-baa7-11e8-825a-8a3b05cfdcd4.png)

[2018-09-17 15:49] JuanjoA commented on #17665
+1 @nathanhannig : Allow single quotes around filename

[2018-09-17 17:14] CodingSolo commented on #18134
I use Lighthouse under Chrome for a test :
Runtime settings
URL: https://learn.freecodecamp.org/
Fetch time: Sep 17, 2018, 6:26 PM GMT+4
Device: Emulated Nexus 5X
Network throttling: 150 ms TCP RTT, 1 638,4 Kbps throughput (Simulated)
CPU throttling: 4x slowdown (Simulated)
User agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/69.0.3497.81 Chrome/69.0.3

[2018-09-17 17:31] CodingSolo commented on #18134
and now the bad news.The performance is very bad (1/100 and 4/100)
![opportunities](https://user-images.githubusercontent.com/38612134/45639170-522d7c80-bac0-11e8-9706-d654f1467e80.png)

[2018-09-17 17:56] anubhavsinha98 commented on #17222
Hey can I work upon this issue?

[2018-09-17 18:17] joshalling commented on #18084
It looks like we are using timeouts in the test suite, and it is giving enough time for the state to update before the next toggle happens. I'll look into this and see if I can get it fixed.

[2018-09-17 22:32] wadeLove commented on #18144
It's not optimal I agree, but you use the Test Suite as a way to know where you're at. Simply press the "Run Tests" button and it should tell you what you've passes successfully and what you haven't yet.

[2018-09-18 02:13] stanleyyylau opened #18145 "Having issue running FCC in production"
#### Describe your problem and - if possible - how to reproduce it

I have to run FCC in production because I’m one of the maintainers of FCC china website, we launch the new site on 15th, and through some offline activity, users are increasing, but they also report some bugs and performance issue.  I check the code and notice on production server ``npm run start-production`` don’t actually pass t

[2018-09-18 02:15] stanleyyylau commented on #18145
Passing environment variable like this works but it causes the route not working issue

![image](https://user-images.githubusercontent.com/16324279/45660495-9f930380-bb2b-11e8-8648-9f74fb47fb98.png)

[2018-09-18 06:42] bentom03 commented on #17291
Try writing the code in notepad and copy paste it in the editor. It worked for me that way.

[2018-09-18 07:00] bentom03 opened #18146 "React: Create a Component with Composition hangs"
#### Describe your problem and - if possible - how to reproduce it
React: Create a Component with Composition hangs as soon as I click on the editor.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/front-end-libraries/react/create-a-component-with-composition/

#### Tell us about your browser and operating system

* Browser Name: Firefox
* Browser Version: Quantum
* Op

[2018-09-18 07:13] scissorsneedfoodtoo commented on #17872
@JESii, that description seems really close to solving a lot of the problems that many people have with it. Although character classes were introduced in an earlier lesson, it's not necessary here, so we could include that in the description, too. This lesson is really about the `*` character matching one thing zero or more times, so the description could definitely be more clear about that. Maybe

[2018-09-18 07:48] randelldawson commented on #18146
@bentom03 So you never entered any new code for the challenge previously before?  Have you tried on a different browser like Chrome?  If still having trouble on Chrome, then go to the forum and create a post and make sure to copy/paste your actual code and provide a link to the challenge.

[2018-09-18 08:56] bentom03 commented on #18146
Thanks randelldawson! Worked well on Chrome.

[2018-09-18 08:56] bentom03 commented on #18146
Tried again on Firefox. Now it works.

[2018-09-18 15:03] Hassanraja447 commented on #18116
I have fixed this typo in curriculum repo and made PR.

[2018-09-18 15:21] tesla809 commented on #18116
Thanks, @Hassanraja447!

[2018-09-18 15:21] #18116 closed

[2018-09-18 15:57] randelldawson commented on #18146
@bentom03 Can you close this issue then?

[2018-09-18 16:02] randelldawson commented on #18132
Since all the current FCC challenges can be solved with a more efficient algorithm, I think adding more time just promotes campers to only create brute force solutions instead of having to do some research on their own regarding what is a more a efficient algorithm to use.

[2018-09-18 16:27] Sigurd-W23 commented on #15662
The following code works on **Firefox** only

[code]

[2018-09-18 17:48] Simon2828 commented on #18052
Hi @sanchitbansal10 could I help with this?

[2018-09-18 18:34] nsuchy commented on #18134
When running tests please make sure that browser caches and cookies are completely cleared. Chrome's "guest sessions" and "incognito mode" are good at this :) or be like me and use Tor Browser if you prefer that level of privacy and anonymity.

[2018-09-18 22:45] lasjorg opened #18148 "ES6: Use the Rest Operator with Function Parameters"
#### Describe your problem and - if possible - how to reproduce it

Confusing use of spread operator in last assertion test.

Assignment instruction:

Last test assertion:

1. The last test of the assignment says use spread on the sum function. To me, that implies when the function is called, spreading arguments into it. As opposed to, using rest on the parameter of the function definition.

2. Sp

[2018-09-19 01:50] bpkaur commented on #17944
They are addressing it, see here:
https://github.com/freeCodeCamp/curriculum/pull/189

[2018-09-19 02:26] Phil12sk commented on #17420
In this lesson, I don't know if I don't understand or there is an error. I just can't pass through!!
![image](https://user-images.githubusercontent.com/29265307/45727457-34344a80-bb9a-11e8-825c-7ed809781a64.png)

[2018-09-19 06:30] #18133 closed

[2018-09-19 06:31] TurtleWolf commented on #18133
passing now

[2018-09-19 09:49] RaspberryLime commented on #18129
Agreed. There needs to be a brief description of what a “retina” display is, as not everyone pays attention to Apple’s marketing. (Do other manufacturers have similar terms for their high-density displays?)

[2018-09-19 11:50] moT01 commented on #18132
I'm not convinced - What about the project euler challenges? A number of those look like they could need significantly more time to run - I'm not saying to promote the brute force method - but like I said before, 100ms (which is how long I think they get according to my quick test) seems short even for a good algorithm on some of the challenges.

[2018-09-19 11:59] #18146 closed

[2018-09-19 12:21] moT01 commented on #18132
closing this in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/15819

[2018-09-19 12:21] #18132 closed

[2018-09-19 12:27] stevenkuipers commented on #18144
I wrote a small chrome extension that will make user stories clickable so you can check them off. You can find it here: https://github.com/stevenkuipers/checkboxFCC.

[2018-09-19 13:38] Nirajn2311 opened #18150 "Search bar is not filling the entire navbar"
#### Describe your problem and - if possible - how to reproduce it
In the learn page and in any of the challenge page the search bar is moved to the left and its size has been decreased. Also when you search something you can't see any results as they have been moved to the left.

I can work on the fix for this issue.

#### Add a Link to the page with the problem
Learn home page and any challenges

[2018-09-19 13:49] nsuchy commented on #18134
@CodingSolo can you try Chrome's guest mode instead of incognito mode? Incognito mode handles a few things differently which might cause problems. Guest mode seems like a better use case here :)

<img width="354" alt="screen shot 2018-09-19 at 9 48 45 am" src="https://user-images.githubusercontent.com/8227641/45757387-38d81d80-bbf1-11e8-98fd-5dc30fbc3536.png">

[2018-09-19 14:39] jonathan-grah opened #18151 ""Preview Bio" button doesn't work after adding logic for the "top contributor" badge"

[2018-09-19 16:32] mieraja opened #18153 "Slove"
#### Describe your problem and - if possible - how to reproduce it

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If possible, add a screenshot here

[2018-09-19 16:45] mieraja commented on #18153
How to slove

[2018-09-19 17:11] Phil12sk commented on #17420
The error continues when I add the "background"
![image](https://user-images.githubusercontent.com/29265307/45769404-e2310a80-bc15-11e8-86c3-3dfe8cf15c9d.png)

[2018-09-19 18:31] jfitzsimmons opened #18154 "CSS issue - Settings in Nav Links wraps under when window width is below 1100px"
#### Describe your problem and - if possible - how to reproduce it
On a public profile page, when the window width is below 1100px, the settings link wraps under the rest of the links in the top right corner of the page.

`<li class="nav-avatar"><a href="/settings">Settings</a></li>`

wraps under the rest of the list items in nav-links

`<ul id="nav-links" class="nav navbar-nav navbar-right" data-

[2018-09-19 19:10] KoniKodes commented on #17420
This seems to be a problem both in Chrome and Firefox. Now on my page, the background stays the original pink color and does not change to #c6faf1 - and the message says to do what we are supposed to do.
![error](https://user-images.githubusercontent.com/18405001/45775566-f91b3100-bc04-11e8-968c-abb28fb92d07.png)

[2018-09-19 19:15] Nirajn2311 commented on #18134
I checked in guest mode(cleared cookies and cache) and it is still the same.

![screenshot 67](https://user-images.githubusercontent.com/36357875/45775751-cc493700-bc61-11e8-8f76-2de1d603e036.png)

![screenshot 66](https://user-images.githubusercontent.com/36357875/45775754-cd7a6400-bc61-11e8-9603-4b80157a3625.png)

[2018-09-19 19:16] Nirajn2311 commented on #18089
Duplicate of #18154

[2018-09-19 19:31] andresmonc commented on #18089
I think #18154 is a duplicate of #18089

[2018-09-19 19:41] #18148 closed

[2018-09-19 19:42] lasjorg commented on #18148
Sorry wrong repo

[2018-09-19 20:58] jfitzsimmons commented on #18154
This is my first PR to this project so if I'm way off base let me know. Just wanted to get my feet wet and help out.

[2018-09-19 21:05] RaspberryLime commented on #17944
Thank you for the link, I'd missed that one. It's nice to see the updates.

[2018-09-19 23:14] mieraja commented on #18153
Try again

[2018-09-20 03:13] CodingSolo commented on #18134
yes, the same 1932 KB and 2830KB

[2018-09-20 06:57] ezioda004 commented on #18142
I don't think the tests are enabled for "Information Security and Quality Assurance Projects" and "APIs and Microservices Projects".

[2018-09-20 09:12] adeelibr opened #18156 "[Test Failing] Applied Visual Design - Applied Visual Design: Create a Horizontal Line Using the hr Element"
Test Failing when you hit run on adding the `<hr>` || `<hr />` tag in.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-a-horizontal-line-using-the-hr-element/

#### Tell us about your browser and operating system

* Google Chrome Version 69
* Operating System: Windows

####
![capture](https://user-images.githubusercont

[2018-09-20 10:11] RaspberryLime commented on #18156
There are multiple issues open for this already -- the title here doesn't match with the bug you're repoorting though?

[2018-09-20 11:27] adeelibr commented on #18156
Sorry, I didn't realize. The issue was open.

[2018-09-20 11:27] #18156 closed

[2018-09-20 11:33] pandaa880 opened #18158 "Feature Req. - Convert the Portfolio page in a resume.pdf"
I was going through my freecodecamp profile page & I have an idea. In the profile, it shows your certifications and your outside projects as well, if you have added them. So, it will be really helpful if we can convert that information into a job ready resume.
I think we have enough information available and it will be also helpful for beginners who are struggling with making a good resume.
So, wh

[2018-09-20 15:05] jacobvarner opened #18159 "HelmetJS challenge helmet.hidePoweredBy() test failing always"
In the second module of the HelmetJS section, the application will not pass the test despite having code fully correct. I even went to copy the code directly from the HelmetJS docs and it still will not pass. I have installed and required HelmetJS correctly in order to pass the test from the previous challenge and now the test for the second challenge fails and just says "expected 'Express' to not

[2018-09-21 07:39] paolaguarasci commented on #17695
Same problem. [Here](https://github.com/nodejs/node/issues/20325) they say is a node v10 problem (my version is v10.10.0). I solved as write them with ``` npm i natives ```

[2018-09-21 14:40] resaba-kaypee commented on #6541
the answer is:
"I am a (backlash)"double qouted(backlash)" string inside (backlash)"double qoutes(backlash)".";

[2018-09-21 15:31] huyenltnguyen commented on #18094
Hi @junaidmanzur, thanks for offering the help.

@artoodeeto  and I are slowly making progress on this. We are almost done with the UI and will soon try implementing the logic for the app. I was planning to post an update here when we complete the UI. I'm sorry for not actively reporting on our progress.

[2018-09-21 15:33] JWillZ94 commented on #18150
I'll look into this issue.

[2018-09-21 16:36] amar9 opened #18162 "Latest Airline Jobs In Airbus Salary: 32777 to 36832. per annum"
<b>Latest Airline Jobs In Airbus Salary: &pound;32,777 to &pound;36,832. per annum</b><br>
apply now : http://zinjobs.blogspot.com/2018/09/latest-airline-jobs-in-airbus-salary.html<br>
cabin crew, cabin crew salary, cabin crew makeup, cabin crew interview, cabin crew job, cabin crew airport, cabin crew career, cabin crew english, cabin crew experience, cabin crew emirates airlines, cabin crew flig

[2018-09-21 16:47] Nirajn2311 commented on #18162
@amar9 **ADVERTISING IS NOT ALLOWED HERE, PLEASE CLOSE THIS AT ONCE.**

[2018-09-21 16:54] Nirajn2311 commented on #18150
@JWillZ94 Have a go at it. If you need any help, ask here.

[2018-09-21 18:11] randelldawson commented on #18162
@Nirajn2311 Is there no way to flag a post like on the forum?

[2018-09-21 18:16] #18162 closed

[2018-09-22 04:14] JWillZ94 commented on #18150
Cool, by the way I can't seem to find a way to work on the learn.freecodecamp.org site locally. In localhost, the link to the curriculum part of the site sends me to the live learn.freecodecamp.org. It seems that the curriculum section and the main site have different navbars as well. Also, I can't find the code that belongs to it within this repo. Where can I find the code for the curriculum sect

[2018-09-22 04:35] Nirajn2311 commented on #18162
@randelldawson there is no way to flag or remove a issue here as far as I know.

[2018-09-22 10:11] scissorsneedfoodtoo commented on #18150
@Nirajn2311, thank you for creating an issue about this. Unfortunately my recently accepted PR adjusting the Learn navbar lead to this bug.

@JWillZ94, thanks for offering to fix this, but I've already submitted a fix here: https://github.com/freeCodeCamp/learn/pull/290

That said, please feel free to take a look at the code and improve on it if you can! The files that need to be edited can be fou

[2018-09-22 16:13] amar9 opened #18163 "Latest Airline Jobs In Thomson Airways 40000 to 48000 per annum"
<b>Latest Airline Jobs In Thomson Airways &pound;40000 to &pound;48000 per annum</b><br>
apply now : https://ift.tt/2DoAOQK<br>
cabin crew, cabin crew salary, cabin crew makeup, cabin crew interview, cabin crew job, cabin crew airport, cabin crew career, cabin crew english, cabin crew experience, cabin crew emirates airlines, cabin crew flight, cabin crew interview question and answer, cabin crew

[2018-09-22 17:58] RaspberryLime commented on #17944
Looks like this just got fixed. It passes for me now with the correct code. :)

[2018-09-22 18:01] RaspberryLime commented on #18030
Looks like this just got fixed. :)

[2018-09-22 18:30] nischaldutt commented on #18154
I would like to work on it if anyone else has not picked it up yet.

[2018-09-22 20:15] #18153 closed

[2018-09-22 23:28] randelldawson commented on #18158
So, what do you think ?

Can you elaborate more how you think **the information** currently available would be able to create a good resume?  Can you make a rough sketch of what information would go where on the resume?  Maybe use your own profile information as an example?

[2018-09-23 05:56] southpawg17 commented on #10128
It worked for me when I just added the comment tags without changing the original code. Hope it works!

[2018-09-23 09:09] adachenski opened #18165 "Applied Visual Design: Adjust the Tone of a Color"
#### Preconditions
1. Login to "https://learn.freecodecamp.org" with valid credentials
2. Navigate to "https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/adjust-the-tone-of-a-color/"

#### Steps To Reproduce
1.  See the HTML section on the right
2. From the Navigation Menu, click on the any of the links: "Home", "Classes", "Contact"

#### Expected Result
On step 2 Nothing s

[2018-09-23 09:54] RaspberryLime opened #18166 "Basic CSS challenge “Improve Compatibility with Browser Fallbacks“ not showing on timeline when completed"
#### Describe your problem and - if possible - how to reproduce it

I completed the new CSS basic challenge “Basic CSS: Improve Compatibility with Browser Fallbacks“ yesterday (September 22) but it doesn’t show up in my timeline on my profile. It does show as complete in the curriculum though.

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/responsive-web-design/basic

[2018-09-23 13:55] #18163 closed

[2018-09-23 16:31] amar9 opened #18169 "Latest Airline Jobs In Virgin Atlantic 40000 to 48000 per annum"
<b>Latest Airline Jobs In Virgin Atlantic &pound;40000 to &pound;48000 per annum</b><br>
apply now : https://ift.tt/2PWoOY0<br>
cabin crew, cabin crew salary, cabin crew makeup, cabin crew interview, cabin crew job, cabin crew airport, cabin crew career, cabin crew english, cabin crew experience, cabin crew emirates airlines, cabin crew flight, cabin crew interview question and answer, cabin crew

[2018-09-23 19:30] #18169 closed

[2018-09-24 03:32] siddharth1198 commented on #18165
put # in href of links : "home" , "classess" , "contact"

[2018-09-24 07:55] thecodingaviator opened #18170 "Custom CSS Variable-Test"
#### Issue

Can the tests be made in some way that even the following way as given in the screenshot also works in addition to the way it is already working, i.e. defined separately for each class? Maybe just check if it has the property rather than checking for the code?

#### Link

https://learn.freecodecamp.org/responsive-web-design/basic-css/use-a-custom-css-variable

#### Browser and OS

* Br

[2018-09-24 14:38] baiqpratiwi commented on #14144
solution:

// Declarations
var studlyCapVar;
var properCamelCase;
var titleCaseOver;

// Assignments
studlyCapVar = 10;
properCamelCase = "A String";
titleCaseOver = 9000;

[2018-09-24 14:55] noonuch opened #18172 "@"
#### Describe your problem and - if possible - how to reproduce it

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If possible, add a screenshot here

[2018-09-24 14:57] #18172 closed

[2018-09-24 14:58] noonuch opened #18173 "1"
#### Describe your problem and - if possible - how to reproduce it

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If possible, add a screenshot here

[2018-09-24 15:02] noonuch opened #18174 "ความรู้"
#### Describe your problem and - if possible - how to reproduce it

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If possible, add a screenshot here

[2018-09-24 18:09] rifkegribenes commented on #18159
I'm having issues with passing these tests too, same browser and OS combo.

it took many tries spaced over several hours to get the first and second tests to pass (code was not changed between attempts, it just didn't pass the first 3 or 4 times i tried to submit). the third challenge i've tried to submit multiple times over two days, and have also tried in firefox and safari.the one line of code

[2018-09-25 04:00] Reekaser commented on #17606
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<style>
  .red-text {
    color: red;
  }
h2 {
    font-family: 'Lobster';}
  p {
    font-size: 16px;
    font-family: 'Lobster', monospace;
  }
</style>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

<h2 class="red-text">CatPhotoApp</h2>
<main>
  <p class="red-text">Click here to view

[2018-09-25 04:18] pandaa880 commented on #18158
We have freecodecamp projects which i think one can fetch it's data, then for the education section may be we need to take input from user. There are some other details which user need to give but can be done or may be i can build something like that in future.

I have these sections in my resume for now.

**Basic Details (with codepen & github links)**, **Education**, **Work Experience**, **Perso

[2018-09-25 04:18] #18158 closed

[2018-09-25 05:05] kunzler commented on #17379
I had to just skip it for now.

[2018-09-25 07:10] randelldawson commented on #18158
@pandaa880 It would seem in addition to Education, the feature would need to take user input for Work Experience, Open Source Contribution,  Skills, Certifications & Interests.  Plus, depending on what country you are from, you may or may not want to include Interests.  That would be a negative feature in the USA.  I personally would not list someones skills as a separate section.  The skills some

[2018-09-25 10:24] MattCrl opened #18177 "Array destructuring "easy" solution to the challenge"
#### Describe your problem and - if possible - how to reproduce it
I don't know if it's a "fixable" problem but i was surprised my solution without using array destructuring worked. Just had to write :
"a = 6
b = 8"
Then submit and my solution was accepted !
So i don't know if it's a real issue but i wanted to share it, because in the challenge it's specified that you need to "Use array destructur

[2018-09-25 12:28] prj1999 commented on #18165
@adachenski If u dont have any problem can I  solve this issue?

[2018-09-25 12:37] LOWKEYBANKS commented on #10299
Your a element should be nested within your new p element.
Your p element should have the text "View more " (with a space after it).
MY CODE IS:
<h2>CatPhotoApp</h2>
<main>

  <a href="http://freecatphotoapp.com" target="_blank">cat photos</a>
  <p>
Here's a <a target="_blank" href="http://Viewmorecatphotos"> link to cat photos.org</a> "View more".
</p>
  <img src="https://bit.ly/fcc-relaxing-cat"

[2018-09-25 12:38] LOWKEYBANKS commented on #10299
<h2>CatPhotoApp</h2>
<main>

  <a href="http://freecatphotoapp.com" target="_blank">cat photos</a>
  <p>
Here's a <a target="_blank" href="http://Viewmorecatphotos"> link to cat photos.org</a> "View more".
</p>
  <img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back.">

  <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chas

[2018-09-25 12:39] LOWKEYBANKS commented on #10299
[CODE.docx](https://github.com/freeCodeCamp/freeCodeCamp/files/2415207/CODE.docx)

[2018-09-25 16:54] #18052 closed

[2018-09-25 16:55] #18089 closed

[2018-09-25 17:00] #18154 closed

[2018-09-25 17:31] raisedadead commented on #18145
Hi @stanleyyylau sorry about the delay in getting back to you. You should set the NODE_ENV in the `.env` file along with anything else that you would like to tweak in the pm2Start config.

That's how we have done it for freeCodeCamp.org

I am not sure, what routes issues you are facing. But feel free to drop me a query with the details if you would like additional help `mrugesh at freecodecamp dot

[2018-09-25 17:31] #18145 closed

[2018-09-25 17:32] raisedadead commented on #18145
I'll add further comments on the linked PR to better guide the workflow.

[2018-09-25 18:29] #18174 closed

[2018-09-25 18:30] #18173 closed

[2018-09-25 18:31] raisedadead commented on #18118
Please use the latest LTS version of node and npm. Thanks

[2018-09-25 18:31] #18118 closed

[2018-09-25 21:09] chrisdetron commented on #13530
@voidbringer01
"Your reRegex tests only if it finds 3 numbers in a row. It needs to check whether a string starts with a number and ends with one, while containing 3 numbers. So in 42 42 42 42, it finds a pattern in it even thought its just an substring of it. To fix that instead of let reRegex= /(\d+)\s\1\s\1; use let reRegex=/^(\d+)\s\1\s\1$/; . ^- so that it starts with a number and $ so that i

[2018-09-25 22:21] shaminzn opened #18179 "Applied Visual Design: Learn about Tertiary Colors"
#### Describe your problem and - if possible - how to reproduce it

Hello, I was just doing the Applied Visual Design- Learn about Tertiary Colors and the example seems a little off to me. Maybe it was a typo but it says, _"For example, red (primary) and yellow (secondary) make orange"_. **Yellow is a primary color and red and yellow make a secondary color orange but the example doesn't reflect th

[2018-09-26 03:54] Nunuvin opened #18180 "% do not add up to a 100 in the live results of the survey"
#### Describe your problem and - if possible - how to reproduce it
Which of these careers are you interested in? has others tab adding up to 132%. The major options are also adding up to 100+ %

#### Add a Link to the page with the problem
https://freecodecamp.typeform.com/report/S3UeD9/fGdr8J7eJUPyxwFB

#### Tell us about your browser and operating system

* Browser Name:  mozilla firefox
* Brows

[2018-09-26 04:43] robinmetral commented on #18062
Any news @zolbayars ?

[2018-09-26 05:45] #18165 closed

[2018-09-26 13:35] #18151 closed

[2018-09-26 16:48] jfitzsimmons commented on #17479
I had the same issue about a month ago, went back to the challenge today, and it passed without issue.  Has someone fixed this?  I also recently updated chrome to:

Version 69.0.3497.100 (Official Build) (64-bit)

[2018-09-26 17:53] jfitzsimmons commented on #18104
I'm going to take stab at this as long as there aren't any objections.

[2018-09-26 18:45] nathanhannig opened #18183 "Test Suite for projects being blocked (Failed to load resource: net::ERR_BLOCKED_BY_CLIENT)"
#### Describe your problem and - if possible - how to reproduce it
I am in progress of completing the Responsive Web Design projects which require the use of the Test Suite on CodePen.

[code]

However, the Test Suite is failing to load on CodePen, the Chrome browser console returns the following error.

[code]

After searching for a solution, I determined the error is being caused by a very popul

[2018-09-26 19:55] jonathan-grah commented on #18183
@raisedadead, @Bouncey: I'm not sure where we would add this, but maybe we could add like some sort of warning stating "Note: browser extensions may block our testing suite". But then again, some extensions could end up blocking all sorts of things, so maybe it's not worth it?

[2018-09-26 20:45] alexpedroza commented on #17479
Thanks for the update, it looks like it might have been fixed, it passed for me!

[2018-09-26 22:46] tchaffee commented on #18183
We should be able to find a place to add this warning. I opened https://github.com/freeCodeCamp/testable-projects-fcc/issues/618, which is the right place to track and fix this issue and am closing this one.

[2018-09-26 22:46] #18183 closed

[2018-09-27 09:58] Bouncey opened #18184 "Port over Mission statement and google analytics to `next`"

[2018-09-27 10:09] raisedadead opened #18185 "[next] add a profile view for a user"

[2018-09-27 10:35] Bouncey opened #18186 "[next] Update CONTRIBUTING.md with new gettings started process"

[2018-09-27 11:35] raisedadead commented on #18040
Hi @ojeytonwilliams

We are looking forward to this with https://github.com/sindresorhus/slugify

What we would want, is to wait for us bring in the learn code over here as being done on `next` branch and then tackle this one go. You can update your PR #18059 once we are ready for you.

I am going to close the other PRs and Issues.

[2018-09-27 11:35] #18040 closed

[2018-09-27 13:14] Lebura opened #18187 "Contibutor Access"
Add me as a contributor

[2018-09-27 17:53] erictleung commented on #18187
@Lebura welcome! And thanks for your interest in being a contributor. You can be a contributor in various ways listed here https://contribute.freecodecamp.org/. Otherwise, feel free to join the conversation on ongoing developments in our Gitter chat room https://gitter.im/FreeCodeCamp/Contributors. Happy coding!

[2018-09-27 17:53] #18187 closed

[2018-09-28 02:33] alhazen1 opened #18190 "Wrong answer passes: Use Destructuring Assignment with the Rest Operator to Reassign Array Elements"
#### Challenge can be passed using global variable instead of array passed as parameter
There is no test to dissuade using the global variable `source` instead of the argument `list`.

[code]

I think that a test confirming `removeFirstTwo([10,20,30])` returned `[30]` would be enough to prevent that.

####
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-destructuri

[2018-09-28 06:05] adachenski opened #18191 "Applied Accessibility: Make Screen Reader Navigation Easier with the header Landmark"
#### Preconditions
1. Login to "https://learn.freecodecamp.org" with valid credentials
2. Navigate to https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-the-header-landmark/

#### Steps To Reproduce
1.  From the "tool-panel-group" on the left click on the "Watch a video" tab
2. Verify that the video is about the "header" element

##

[2018-09-28 06:15] amar633 commented on #18191
raz ivu zuzu

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: ATANAS DACHENSKI <notifications@github.com>
Sent: Thursday, September 27, 2018 11:13 PM
To: freeCodeCamp/freeCodeCamp
Cc: Subscribed
Subject: [freeCodeCamp/freeCodeCamp] Applied Accessibility: Make Screen Reader Navigation Easier with the header Landmark (#18191)

Preconditions

  1.  Login to "https:/

[2018-09-28 07:13] adachenski opened #18192 "Improper behavior when we click on the "Submit" tab from the HTML section"
#### Preconditions
1. Navigate to "https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/improve-form-field-accessibility-with-the-label-element/"
2. Or Navigate to: https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility/
3. Or Navigate to: https://learn.freecodecamp.org/responsive-web-design

[2018-09-28 12:42] Nirajn2311 commented on #17944
Can someone close this issue as it has been fixed?

[2018-09-28 13:32] #17944 closed

[2018-09-28 20:36] bridgetsarah commented on #12320
Hello, I urge @raisedadead to double check this as there's a clear issue. Check my attached screenshots, I tested the code on another website, and sure enough, it worked... I changed the calculations exactly, even tried copying and pasting back into Freecodecamp and nill. Can you please look into this ASAP and don't dismiss it as not a bug,`

`
// Example
// Example
function ourFunctionWithArgs(on

[2018-09-29 01:19] TutuPug commented on #18166
Have you tried posting on freecodecamp forum? they are very helpful, i hope you can figure it out.

[2018-09-29 03:31] JESii opened #18193 "Understand the Immediately Invoked Function Expression (IIFE)"
#### Describe your problem and - if possible - how to reproduce it
Submitted this code:
[code]
This is valid use of the new ES6 arrow syntax, but the problem says: "The function should be anonymous." and requires that we say something like:
[code]

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/object-oriented-programming/under

[2018-09-29 06:52] RaspberryLime commented on #18166
Yes, I tried posting there first, with no response from anyone. Then I went into Gitter chat where another user verified it’s not a cache issue on my device.

[2018-09-29 07:34] katotoy commented on #13466
Hi, can't seem to find what's wrong with my solution after carefully checking the example given in the lesson [(https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-variables-from-objects/)].

`const AVG_TEMPERATURES = {
  today: 77.5,
  tomorrow: 79
};

function getTempOfTmrw(avgTemperatures) {
  "use strict";
  // change code below t

[2018-09-29 09:23] kskotenko opened #18194 "the task doesn't go through"
[Applied Visual Design: Adjust the Height of an Element Using the height Property](https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/adjust-the-height-of-an-element-using-the-height-property)

This task is super easy, but when done correctly - it does not allow to submit it.

[2018-09-29 09:27] kskotenko commented on #18194
![height_freecc](https://user-images.githubusercontent.com/14098621/46244115-fc6fa300-c3e2-11e8-91e0-01f198b6c73a.png)

[2018-09-29 10:08] Nirajn2311 commented on #18194
@kskotenko could you post a screenshot of the browser console, you can find it in developer tools of your browser. Also could you give the details of which browser you are using?

[2018-09-29 13:19] JESii opened #18195 "Use Inheritance So You Don't Repeat Yourself"
#### Describe your problem and - if possible - how to reproduce it
The challenge description and code make reference to Dog & Bird (Bear and Cat) being sub-types of Animal, but there's no description or code to actually do that so one can be left wondering "How did that happen?" Furthermore, the code example won't actually run if done stand-alone since there Bear & Cat aren't actually sub-typed fr

[2018-09-29 15:47] RobCM commented on #17387
This worked for me:
// Open your browser console
let outputTwo = "This will print to the browser console 2 times";
console.log(outputTwo); //to print the outputTwo variable
let outputOne = "Try to get this to log only once to the browser console";
console.clear(); //in the next line to print the outputOne only once
console.clear();
console.log(outputOne) //to print the outputOne variable

[2018-09-29 18:53] #17177 closed

[2018-09-29 19:01] amar633 commented on #17177
yet another overwhelming message from mrugesh....yaom!

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: mrugesh mohapatra <notifications@github.com>
Sent: Saturday, September 29, 2018 11:59 AM
To: freeCodeCamp/freeCodeCamp
Cc: Subscribed
Subject: Re: [freeCodeCamp/freeCodeCamp] Investigate Chrome caching browser request (#17177)

Closed #17177<https://nam01.safel

[2018-09-29 19:02] matthew-t-smith commented on #17387
Glad to hear it worked. We got a fix implemented, so it should be all good now 👍

[2018-09-30 11:40] sirpepo commented on #17387
Mac OS with google chrome!!! Not working. Any of suggested code works for me.
I will try it on my linux mint pc
<img width="1280" alt="screen shot 2018-09-30 at 13 39 57" src="https://user-images.githubusercontent.com/9752135/46257213-5beab300-c4b6-11e8-8380-c09c37b90ca1.png">

[2018-09-30 11:51] Bouncey opened #18198 "[NEXT] Learna should build the curriculum on bootstrap"
This issue is for the `next` branch

The curriculum needs to be built tin order for it to be available in the client app (package linking).

[2018-09-30 11:51] sirpepo commented on #17387
OK, I fixed my own code to work, but I think you may review the tests.
I always add space between parenthesis and the content on the parenthesis for best reading, and while the code works, the tests not pass with this spaces. I'll be aware with this in next lessons.

Thanks,

[2018-09-30 20:55] alexswiontek opened #18201 "(Failing Tests) Advanced Node and Express - Registration of New Users"
#### Describe your problem and - if possible - how to reproduce it
My glitch app is failing for this section and is inconsistent. I even tried copying and pasting the code from [the GitHub Gist hint](https://gist.github.com/JosephLivengood/6c47bee7df34df9f11820803608071ed) and it fails differently each time. To replicate, I am clearing my db so that it is fresh for each time, however it fails for

[2018-09-30 21:30] alexswiontek commented on #18201
Additionally, [The Final Project](https://delicious-herring.glitch.me/) doesn't work either. After refactoring on the last step, the app no longer works 😕

[2018-09-30 21:45] JacksonBates commented on #17300
Hey folks, if this is still up for grabs, I'll take a crack at it this week.

[2018-09-30 22:46] VulcanDev commented on #18201
+1 I have this issue as well and 'Create New Middleware' also fails to see the redirect that I even confirmed does happen by logging each visit in the console.

[2018-10-01 02:46] alexswiontek commented on #18201
I think there are additional issues besides this tests, as have been addressed in #17068 and #17763.

For a clickable example you can see that in the challenge [Advanced Node and Express - Implementation of Social Authentication](https://learn.freecodecamp.org/information-security-and-quality-assurance/advanced-node-and-express/implementation-of-social-authentication) it provides starter code [on

[2018-10-01 06:25] Bouncey opened #18203 "[NEXT}: Curriculum - convert test suite to jest"
This issue is for the `next` branch

We need to unify the test suites. We have a preference for `jest`, but an old test suit for the curriculum was written in `tape`.

Convert tests in `curriculum` from `tape` to `jest`

[2018-10-01 07:04] honsq90 commented on #18203
hello @Bouncey, anyone working on this yet? Where should I start?

[2018-10-01 10:11] Billmike commented on #18203
@Bouncey I would love to take this up. Can't seem to find `curriculum` though.

[2018-10-01 11:02] ziaongit commented on #14814
<style>
  div {
    height: 40px;
    width: 70%;
    background: black;
    margin: 50px auto;
    border-radius: 5px;
    position: relative;
  }

#rect {
  animation-name: rainbow;
  animation-duration: 4s;
}

@keyframes rainbow {
  0% {
    background-color: blue;
    top: 0px;
    left:0px;

  }
  50% {
    background-color: green;
    top: 50px;
    left:25px;

  }
  100% {
    background-co

[2018-10-01 11:33] ZackWard commented on #18193
I would be happy to work on this.

[2018-10-01 11:49] esotheriax commented on #17506
I think that user story #13 should be changed to:
"User Story #13: Inside the form element, I can select a field from one or more groups of radio buttons. Each group should be grouped using the name attribute and each radio button should must have a value attribute."

The reason I think this is because my attempt at the project passed test #13 when I included a value for each of the radio buttons

[2018-10-01 12:16] fraindz commented on #18190
I would like to work on this issue.

[2018-10-01 13:11] snakecase opened #18209 "Tests don't check tags' case sensitivity in "Basic HTML and HTML5: Inform with the Paragraph Element""
#### Describe your problem and - if possible - how to reproduce it
If you use uppercase `P` tags in this challenge, tests will output:

That took me a good few minutes of tinkering with the code here and there, refreshing the page and trying different placeholder texts to realize that I accidentally typed an uppercase `<P>` in the opening tag and autocompleted that with `TAB` to `</P>`.

Solution:

[2018-10-01 13:35] snakecase opened #18210 "Checkboxes can be put outside designated form in "Basic HTML and HTML5: Create a Set of Checkboxes""
#### Describe your problem and - if possible - how to reproduce it
If you put a group of checkboxes outside `<form>` tests will pass though the assignment says

Plus the previous challenge [Basic HTML and HTML5: Create a Set of Radio Buttons](https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/create-a-set-of-radio-buttons/) actually has this check.

Solution: add check for t

[2018-10-01 13:42] snakecase opened #18211 "Character code instead of < symbol in tests' output in "Basic CSS: Specify How Fonts Should Degrade""
#### Describe your problem and - if possible - how to reproduce it
Running tests without commenting the call to Google for the Lobster font outputs a character code in instead of `<` symbol.

#### Add a Link to the page with the problem
[Basic CSS: Specify How Fonts Should Degrade](https://learn.freecodecamp.org/responsive-web-design/basic-css/specify-how-fonts-should-degrade/)

#### If possible,

[2018-10-01 14:22] shimphillip opened #18213 "Forum is very unstable and returning lots "Error code: 500 error""
#### Describe your problem and - if possible - how to reproduce it

#### Add a Link to the page with the problem
https://www.freecodecamp.org/forum/

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version: Latest
* Operating System: Windows

#### If possible, add a screenshot here
![image](https://user-images.githubusercontent.com/36323994/46294446-6ad77100-

[2018-10-01 15:13] vipatron commented on #18213
It's not just the forum. The settings page was getting 500 errors, but is now failing to load and showing this loading symbol in an endless loop:
![image](https://user-images.githubusercontent.com/36994955/46297489-d07f2980-c56a-11e8-9111-6a7baad9e62d.png)

The curriculum was 500'ing as well previously, but is currently not loading my settings (I think the session was wiped, because it slowly load

[2018-10-01 18:31] ArielLeslie commented on #16348
This issue can be closed.

[2018-10-01 18:39] ArielLeslie commented on #18213
FCC has communicated that their experiencing latency issues that are causing 500 errors. They also have had a banner up on the forum warning that it would be moving and going down for maintenance.

[2018-10-01 19:02] vipatron commented on #18213
Okay. I didn't know how to communicate to whomever should know that there was a problem, which is why I hopped on GitHub. As a baby webdev with a tiny speck of knowledge about how to set up a web server, I didn't know if downtime alerts were sent to the appropriate person's cell phone, or whether that was even a thing for FCC.

[2018-10-01 19:05] nathanhannig opened #18214 "Remove Option Bonus User Story from Build a Markdown Previewer project"
https://learn.freecodecamp.org/front-end-libraries/front-end-libraries-projects/build-a-markdown-previewer

The Optional bonus User Story was removed from the testable suite because it is no longer relevant.
https://github.com/freeCodeCamp/testable-projects-fcc/pull/527

The User Story should also be removed from the web page.

[2018-10-01 19:16] ArielLeslie commented on #18213
The FCC Twitter is usually the best way to be updated when there is a known or planned outage.

[2018-10-01 19:44] jgibson02 commented on #17450
@QuincyLarson has there been any development on the CORS issue?

[2018-10-01 20:39] Ovio224 commented on #18214
I'll fix that

[2018-10-01 20:51] ZebulanStanphill opened #18222 ""Basic JavaScript: Use Multiple Conditional (Ternary) Operators": Indentation after return keyword fails parser even though it is valid JS"
#### Describe your problem and - if possible - how to reproduce it
In the "Basic JavaScript: Use Multiple Conditional (Ternary) Operators" challenge, the JS parser does not seem to consider the following valid:
[code]

If you change it to this, however, it passes:
[code]

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-jav

[2018-10-01 20:58] federicosan commented on #16358
this should work without the map function, just using normal template literals, ass this would teach how  space is preserved without adding <br> tags or &nbsp;

[2018-10-01 22:54] randelldawson commented on #18222
It is not valid.  When you put a return on single line by itself, the function will return undefined.  Please close this, because it is not a bug. but instead a JavaScript feature.  The following would be valid (wrapping with parentheses).

[code]

[2018-10-02 00:38] 75cent commented on #17379
Agreed, I was chugging along fine and then hit this one which felt like a massive leap in difficulty from any of the previous.  Mostly due that a lot of the concepts required to complete it were completely foreign as they had not been explained in prior lessons.

Skipping for now also.

[2018-10-02 01:35] ZebulanStanphill commented on #18222
Ah, you're right. Thanks. :smile: Closing this issue.

[2018-10-02 01:35] #18222 closed

[2018-10-02 02:36] surajsharma commented on #17031
Where can i claim my responsive web design certificate?

[2018-10-02 04:08] u1001932 commented on #18084
Would like to take this on. I'm having trouble finding the test suite though (this is my first time contributing to FCC).

[2018-10-02 11:42] phavor opened #18230 "Cannot pass <hr /> test in Applied Visual Design test"
#### Describe your problem and - if possible - how to reproduce it
I have written the code to add the `<hr />` tag in the Visual Design exercise. But I won't pass the test.

#### Add a Link to the page with the problem
This is the link https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-a-horizontal-line-using-the-hr-element

#### Tell us about your browser and operat

[2018-10-02 12:00] andrew2033 commented on #15224
const AVG_TEMPERATURES = {
  today: 77.5,
  tomorrow: 79
};

function getTempOfTmrw(avgTemperatures) {
  "use strict";
  // change code below this line
  const {tomorrow:tempOfTomorrow} = avgTemperatures; // change this line
  // change code above this line
  return tempOfTomorrow;
}

console.log(getTempOfTmrw(AVG_TEMPERATURES)); // should be 79

[2018-10-02 12:01] andrew2033 commented on #15224
`const AVG_TEMPERATURES = {
today: 77.5,
tomorrow: 79
};

function getTempOfTmrw(avgTemperatures) {
"use strict";
// change code below this line
const {tomorrow:tempOfTomorrow} = avgTemperatures; // change this line
// change code above this line
return tempOfTomorrow;
}

console.log(getTempOfTmrw(AVG_TEMPERATURES)); // should be 79`

[2018-10-02 12:01] andrew2033 commented on #15224
today: 77.5,
tomorrow: 79
};

function getTempOfTmrw(avgTemperatures) {
"use strict";
// change code below this line
const {tomorrow:tempOfTomorrow} = avgTemperatures; // change this line
// change code above this line
return tempOfTomorrow;
}

console.log(getTempOfTmrw(AVG_TEMPERATURES)); // should be 79

[2018-10-02 12:01] andrew2033 commented on #15224
Hi=)
`const AVG_TEMPERATURES = {
today: 77.5,
tomorrow: 79
};

function getTempOfTmrw(avgTemperatures) {
"use strict";
// change code below this line
const {tomorrow:tempOfTomorrow} = avgTemperatures; // change this line
// change code above this line
return tempOfTomorrow;
}

console.log(getTempOfTmrw(AVG_TEMPERATURES)); // should be 79`

[2018-10-02 12:04] andrew2033 commented on #15224
Hi=)
[code]

[2018-10-02 12:08] dakebl commented on #18198
I have completed and raised a pull request: https://github.com/freeCodeCamp/freeCodeCamp/pull/18216

[2018-10-02 13:16] Atulsinghm opened #18231 "Your .red-box rule should include a fallback with the background set to red immediately before the existing background declaration."
#### Describe your problem and - if possible - how to reproduce it
please help me regarding this issue

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/responsive-web-design/basic-css/improve-compatibility-with-browser-fallbacks

#### Tell us about your browser and operating system

* Browser Name: chrome
* Browser Version: Version 69.0.3497.100 (Official Build) (64-bi

[2018-10-02 13:49] Dayfiri commented on #18230
Remove  `div class = "cardTitle" ></div>` and it will work.
I know this is not place for helping but just pointing out it is not a bug.

![aasdas](https://user-images.githubusercontent.com/16082563/46352681-a9078a00-c65a-11e8-85b0-8dc1e01834d0.png)

[2018-10-02 14:09] RaspberryLime commented on #18231
This is not a bug with the site. You should ask for help on the forum or on chat at
https://gitter.im/FreeCodeCamp/Help instead.

[2018-10-02 16:27] gatehrdy commented on #15224
Ah, I see. Thank you.

[2018-10-02 16:38] siddhantvirus commented on #18192
The issue exists and is reproducible every time.
There seems to be an issue with the HTML compiler.

[2018-10-02 16:55] phavor commented on #18230
Thanks @Dayfiri . It's pretty easy to look over, I couldn't see any specific instruction on getting rid of that div.

[2018-10-02 17:31] andrew2033 commented on #17403
Hello)
[code]

[2018-10-02 17:37] Nirajn2311 commented on #18230
@phavor could you close this issue if it solved?

[2018-10-02 18:55] ZebulanStanphill opened #18235 ""Debugging: Use the JavaScript Console to Check the Value of a Variable": "Firefox" misspelled as "FireFox""
#### Describe your problem and - if possible - how to reproduce it
The "Debugging: Use the JavaScript Console to Check the Value of a Variable" challenge contains a capitalization error:

This should be <i>Firefox</i>, not <i>FireFox</li>.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/debugging/use-the-javascript-console-to-c

[2018-10-02 19:48] TasGuerciMaia commented on #17869
@utsab How is going this feature? Do you need any help with UX and UI? I can help you.

[2018-10-02 19:50] ZebulanStanphill opened #18236 ""Basic Data Structures: Combine Arrays with the Spread Operator": sentence structure mistake in challenge description"
#### Describe your problem and - if possible - how to reproduce it
The "Basic Data Structures: Combine Arrays with the Spread Operator" challenge contains a sentence that seems to be grammatically incorrect, and should be two separate sentences:

I think this should be:

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data

[2018-10-02 20:10] ArielLeslie commented on #18231
The forum is currently down for maintenance. You can get help from the community in the Gitter chat, our r/FreeCodeCamp subreddit, or your local FCC group.

[2018-10-02 20:17] DarthOstrich commented on #18211
I can try and sort this out.

[2018-10-02 20:40] ZebulanStanphill opened #18237 ""Basic Data Structures: Iterate Through the Keys of an Object with a for...in Statement": unnecessary semicolon in example code"
#### Describe your problem and - if possible - how to reproduce it
The "Basic Data Structures: Iterate Through the Keys of an Object with a for...in Statement" challenge contains the following code example:

[code]

Notice the semicolon after the `for` loop block. This semicolon is unnecessary and should probably be removed to avoid confusion.

#### Add a Link to the page with the problem
https://

[2018-10-02 20:46] ArielLeslie commented on #18192
What it's doing appears super weird because of how submit buttons work. Since this is just a lesson in creating HTML, there is no actual form handler defined. We *could* add a note in the instructions telling users not to worry about what happens when someone clicks "submit" yet.

[2018-10-02 20:51] ArielLeslie commented on #18180
I believe that people were allowed to select more than one option for some questions, since many people may be interested in more than one career or have more than one major. The different responses should be viewed independently.

[2018-10-02 21:01] rosty11 commented on #17340
Free code camp wont let me log in at all using any browser, but I can log in on my phone without any problems.

[2018-10-02 21:04] DarthOstrich commented on #18211
Created a PR:
https://github.com/freeCodeCamp/freeCodeCamp/pull/18238

[2018-10-02 21:14] scrabill commented on #18179
Yeah, that does seem like a typo. I'd like to give this update a try.

I have come color theory books laying around. I may be able to add some additional clarification.

[2018-10-02 21:49] raisedadead commented on #17340
Please connect with me via an email `mrugesh at freecodecamp dot org` for login issues. Be sure to include screenshots of your browser console:

On Windows:

Press <kbd>F12</kbd> and then switch to the Console Tab

On macOS:

Press <kbd>⌘</kbd>+<kbd>⌥</kbd>+<kbd>i</kbd> and then switch to the Console Tab

Other Systems:
Please lookup on google on how to open Browser Dev tools

[2018-10-02 21:51] raisedadead commented on #17031
Please connect with me via an email `mrugesh at freecodecamp dot org` for login issues. Be sure to include screenshots of your browser console:

On Windows:

Press <kbd>F12</kbd> and then switch to the Console Tab

On macOS:

Press <kbd>⌘</kbd>+<kbd>⌥</kbd>+<kbd>i</kbd> and then switch to the Console Tab

Other Systems:
Please lookup on google on how to open Browser Dev tools

[2018-10-02 23:07] keremgocen commented on #18203
Also happy to jump on this if you haven't started @Billmike

[2018-10-02 23:30] DarthOstrich commented on #18209
I'd like to tackle this!

[2018-10-03 03:05] siddhantvirus commented on #18192
@ArielLeslie I understand the same .But if we could modify the form action attribute to not echo the and perhaps show the submitted date,it'll make it easier and not lead to recursions which might eventually crash if someone pulls in too many requests.

[2018-10-03 03:48] ZebulanStanphill opened #18243 ""Object Oriented Programming: Iterate Over All Properties": description formatting typo"
#### Describe your problem and - if possible - how to reproduce it
In the "Object Oriented Programming: Iterate Over All Properties" challenge, there is the following text in the description:

"<code>duck’s</code>" should probably be "<code>duck</code>’s".

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/object-oriented-programm

[2018-10-03 04:08] RyanWillDev commented on #16107
@QuincyLarson If this is something you'd still like to add to the curriculum. I'd be interested in picking it up.

How many challenges were you thinking would need to be added? As far as where in the curriculum the new challenges should go, I would suggest adding them after iteration is introduced since the concepts are similar.

[2018-10-03 08:52] RaspberryLime commented on #18230
The instructions never asked for it to be added to start with. If you reset the code on the challenge you’ll see it’s not there by default.

[2018-10-03 08:53] RaspberryLime commented on #18213
The forum is up and running again now.

[2018-10-03 09:16] #18230 closed

[2018-10-03 11:42] ravikishorethella commented on #18235
@ZebulanStanphill Hey, I would like to fix this. Shall I proceed?

[2018-10-03 12:32] shaminzn commented on #17822
Same issue for me too with my heat map...

[2018-10-03 14:46] Ashera138 commented on #18243
I would like to submit a pr for this, but I'm not sure how to do that now that [curriculum](https://github.com/freeCodeCamp/curriculum) is read-only. How should I make this change now?

[2018-10-03 14:55] Nirajn2311 commented on #18243
In this repo there is another branch called `next`, it contains the curriculum. So you have to do the chnages in that branch and create a PR for that branch.

[2018-10-03 15:04] Ashera138 commented on #18243
Thank you @Nirajn2311. I missed that. :) I'll go ahead and get the PR ready

[2018-10-03 15:57] jfitzsimmons commented on #18120
Just +1ing this issue.  I experienced the same thing.  I passed with an empty <ul> tag.  I added a comment so if I free up some time I might be able to fix it.

[2018-10-03 16:16] #17266 closed

[2018-10-03 16:49] fornsss commented on #18120
this reposidory is go or onot good

[2018-10-03 16:50] fornsss commented on #18120
my comends is isfory way from polands

[2018-10-03 16:59] pixiewoman commented on #17506
Had the same problem (for days ). Couldn't figure out what I was doing wrong and then I adedd "value" for each radio button and finally passed user story 13.
So I agree with all of you that this user story should be changed in a way to require a "value attribute".

[2018-10-03 17:06] keerthigaragu commented on #17493
@raisedadead Is this about the favicon image on titlebar or the title bar's metadata description?

[2018-10-03 17:15] benreckas opened #18248 "Docs incorrectly refer to non-existent 'staging' branch, should instead refer to 'next' branch"
CONTRIBUTING.md docs refer to `staging` branch which seems to have been replaced with the `next` branch.

https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md#forking-the-project

* Browser Name: Firefox Dev Edition
* Browser Version: 61.0b8
* Operating System: MacOS Mojave 10.14

[2018-10-03 17:35] arshadkazmi42 commented on #18248
Created PR.

[2018-10-03 20:34] raisedadead commented on #18248
Hi thanks for raising this issue. We are currently working on the contributing docs and will update the same to reflect the work flow.

Thanks for you patience. This repository should be ready for contributions within this week

[2018-10-03 20:34] #18248 closed

[2018-10-03 20:37] raisedadead commented on #17493
@sdabhi23 Yes this has been resolved. Thanks for letting us know.

[2018-10-03 20:37] #17493 closed

[2018-10-03 20:39] Darshan197 commented on #18231
You just need to add one line at the top on your  .red-box that is "background: red".
Try It

[2018-10-03 21:56] ZebulanStanphill commented on #18235
@ravikishorethella It looks like someone else already jumped on it: #18241.

[2018-10-03 23:53] DarthOstrich commented on #18209
I am having difficulty getting the dev environment going, so I'm gonna wait until you guys push the next env, which according to the forum is next week? If someone else wants to tackle it before that, im cool with it.

[2018-10-04 03:05] ravikishorethella commented on #18235
No problem @ZebulanStanphill

[2018-10-04 09:09] Darrenliiu commented on #17379
here's my answer, i modified @Maarondesigns answer by chaining the functions but had to add the Math.sign(num) !== -1 to get rid of the -2

const realNumberArray = [4, 5.6, -9.8, 3.14, 42, 6, 8.34, -2];
const squareList = (arr) => {
  "use strict";
  // change code below this line
  const squaredIntegers = arr.filter((num) => num > 0 && num%2 === 1 || num%2 === 0 && Math.sign(num) !== -1 ).map( (n

[2018-10-04 12:47] Darshan197 commented on #18231
Did You Write Like This If NO Then Try This
If YES Then I Don't Know Because It's Working For Me.....

<style>
  :root {
    --red-color: red;
  }
  .red-box {
    background:red;
    background: var(--red-color);
    height: 200px;
    width:200px;
  }
</style>
<div class="red-box"></div>

[2018-10-04 12:57] moT01 opened #18253 "Issue after claiming full stack certificate - legacy full stack shows error"
I recently claimed my full stack certificate after having all the other certificates (including the 3 non full stack legacy ones) - When I claimed the cert, it showed up on my profile in two spots, the legacy area and the new area - so my profile looks like this...

<img width="406" alt="screen shot 2018-10-04 at 7 46 09 am" src="https://user-images.githubusercontent.com/20648924/46475040-06f6b780

[2018-10-04 13:01] Atulsinghm commented on #18231
This is the right way to get it done .

<style>
  :root {
    --red-color: red;
  }
  .red-box {
    background: red;
    background: var(--red-color);
    height: 200px;
    width:200px;
  }
</style>
<div class="red-box"></div>

![image](https://user-images.githubusercontent.com/27268962/46475633-ab591800-c803-11e8-9d07-fdb474a49c65.png)

thanks a lot to all of you .

[2018-10-04 20:31] dakebl commented on #18198
@raisedadead This is issue should be closed now.

[2018-10-05 01:33] carbonkitten commented on #17648
Similar if not the same problem, input the correct code and click run tests, and the page just breaks. It is crashing because Chrome pauses execution of the main thread to stop itself from running out of memory.
![screenshot from 2018-10-04 21-06-41](https://user-images.githubusercontent.com/19364048/46511361-43fb9200-c81c-11e8-94e3-b8967d7edc37.png)

[2018-10-05 09:00] esotheriax commented on #17249
Hi, I think that this issue deals with your problem:
https://github.com/freeCodeCamp/freeCodeCamp/issues/17506

[2018-10-05 13:31] joboyx commented on #17872
I agree with @scissorsneedfoodtoo, please update the question as stated from his comment.

[2018-10-05 14:10] peterjgrainger opened #18256 "React: Pass an Array as Props challenge clarify wording on test"
#### Describe your problem and - if possible - how to reproduce it
The last test in this challenge doesn't explain what is expected in enough detail.  I came across the same issue as in #17758

I suggest fixing this by changing the text of the last test from:
The List component should render the value from the tasks prop in the p tag.
to
The List component should render the value from the tasks pr

[2018-10-05 17:25] Pheonix73 opened #18260 "React: Render HTML Elements to the DOM Not Responding"
#### I Have Been trying to Complete the Lesson on React: Render HTML Elements to the DOM and i am Correct but it is not Just Accepting it. what should i do

#### https://learn.freecodecamp.org/front-end-libraries/react/render-html-elements-to-the-dom/

![screenshot 644](https://user-images.githubusercontent.com/36895007/46550037-c2633d00-c8cb-11e8-98f5-281792014aa5.png)

[2018-10-05 18:09] sesn commented on #18260
@Pheonix73 , You can see the error in ur screenshot. It is *ReactDOM* not *ReactDom*

[2018-10-05 18:09] Nirajn2311 commented on #18260
@Pheonix73 it should be `ReactDOM.render(component, target)` with **DOM in capitals**.
Tip - Ask these questions in the forum and if it is an issue, then post it here.

[2018-10-05 18:28] peterjgrainger commented on #18256
@nirajn2311 you are absolutely right the instructions are very concise.  I am probably not clear enough in my communication.  I was referring to the tests for that challenge.  All of the other react challenges have tests that are very specific about what text is expected in the p tag, this seems the odd one out.  If `join(',')` is used instead of `join(', ')` then it's hard to figure out what is w

[2018-10-05 18:30] Nirajn2311 commented on #18256
@peterjgrainger if you want to do the changes, you’ll have to do it in the “next” branch as that is where the curriculum contents is currently.

[2018-10-05 19:36] svmarinez commented on #10132
@Xelepam
! is the logical NOT operator.
In this context, it would be the same as saying _if the ID of the collection does **not** have the property "tracks"_ in human speak.

[2018-10-05 19:56] huyenltnguyen commented on #18094
Hi @Bouncey, it has been awhile and I sincerely apologize for not actively keeping you posted on the progress.

@artoodeeto and I have completed the UI of the app. Both of us have been on a very tight schedule, so this is a great milestone for us.

We have started reading the `/api-server/public/js/calculator.js` file and trying to figure out what does what. However, the code is quite complicated

[2018-10-06 00:05] Bouncey opened #18262 "[NEXT]: Adjust seed script to account for new curriculum package api"
This is more of a note for myself as there is no documentation of this new API just yet.

[2018-10-06 02:26] alhazen1 opened #18265 "Intermediate Algorithm Scripting: Sorted Union: Does not adequately test nested arrays"
#### Challenge does not adequately test for cases with duplicate nested arrays.
Using arr.includes or arr.indexOf appears to work as an adequate test for duplicates but really only pass all current tests on luck.

For instance
`uniteUnique([1, 3, 2], [1, [5]], [2, [4]])` passes as expected with `[1, 3, 2, [5], [4]]`

but
`uniteUnique([1, 2, 3, [5]], [5, 2, 2, 2,[5]])`
would result in `[ 1, 2, 3, [

[2018-10-06 05:07] Pheonix73 commented on #18260
@sesn  and @Nirajn2311 thanks a lot, for your feedback it really helped and  noted.

[2018-10-06 05:07] #18260 closed

[2018-10-06 06:00] Bouncey commented on #18198
Thanks @dakebl 👍

[2018-10-06 06:00] #18198 closed

[2018-10-06 15:04] kskotenko commented on #18194
Here are the details about my browser:

Vivaldi | 2.0.1309.29 (Stable channel) (32-bit)
-- | --
Revision | 9aa7f74440fd133ef536d2ca3eaeabb09e0685e2-refs/heads/master@{#588962}
OS | Windows
JavaScript | V8 6.9.427.23
Flash | (Disabled)
User Agent | Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.102 Safari/537.36 Vivaldi/2.0.1309.29

[2018-10-06 15:05] kskotenko commented on #18194
![with the console output](https://user-images.githubusercontent.com/14098621/46572653-6adbd480-c992-11e8-971f-c52fe3aa822a.png)

[2018-10-06 15:06] kskotenko commented on #18194
![with the console output](https://user-images.githubusercontent.com/14098621/46572663-8cd55700-c992-11e8-962d-ee87db7188c8.png)

[2018-10-06 15:09] kskotenko commented on #18194
I tested it in Chrome, the same (Vivaldi has the same engine, as far as I know, so it doesn't matter actually).

[2018-10-06 18:02] qualitymanifest commented on #18253
This issue is a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/18128

[2018-10-06 19:56] dlaub3 commented on #17499
I'll investigate this issue. If it still exists I'll submit a PR.

[2018-10-06 20:50] dlaub3 commented on #17499
I'm not sure if this issue is worth fixing.

I made it as far as identifying line 378 of ReflexContainer.js uses Array.includes which is not supported in IE11
https://caniuse.com/#search=includes

`return !_this4.isSplitterElement(child) && resizedRefs.includes(child.ref);`

If anyone else wants to look into this further it's worth noting that running IE11 as an administrator can help with permiss

[2018-10-07 16:43] Bouncey commented on #18262
Closed via #18264

[2018-10-07 16:43] #18262 closed

[2018-10-07 17:31] raisedadead opened #18275 "Move to MongoDB 4.0"
https://docs.mongodb.com/manual/release-notes/

[2018-10-07 19:07] TomerPacific commented on #18069
@alhazen1 ,
you are correct in your statement, but it is still an error, nevertheless. **If it is such a simple fix, why not do it?**

[2018-10-07 23:11] Bouncey commented on #18275
Would love to, but v4 is not currently supported by mlab.

[2018-10-08 01:38] RandellDawson opened #18278 "Basic Data Structures: Modify an Array Stored in an Object does not allow a new array to be returned"
#### Describe your problem and - if possible - how to reproduce it
In the challenge [Basic Data Structures: Modify an Array Stored in an Object](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/modify-an-array-stored-in-an-object), the following function passes the challenge.
[code]
The instructions state the following:

Notice I emphasized the word th

[2018-10-08 06:39] artoodeeto commented on #18094
@Bouncey @huyenltnguyen i would like to apologies for being MIA. I was so busy with school. i apologies. hope youll understand. i hope i can and will still be allowed in the future. thank you and my bad if this got delayed.

[2018-10-08 07:56] peterjgrainger commented on #18256
Added PR, let me know if I've done everything right!

[2018-10-08 11:43] ertankara commented on #18094
if this task is available I would like to take this one.

[2018-10-08 18:03] Chiouonthis commented on #18105
I have been able to replicate this on

- Browser Name: Chrome
- Browser Version: Version 69.0.3497.100 (Official Build) (64-bit)
- Operating System: macOs 10.13.16 (High Sierra)

It seems as if the assertion is based completely on the contents of resultDisplayArray matching the desired output, as submitting the below without using any template literals will also pass:

[code]

[2018-10-08 18:09] KoniKodes commented on #17450
Hi,
I have already created a LeaderBoard which is now broken due to the api issue.
I liked the original User Stories:
User Story: I can see a table of the freeCodeCamp campers who've earned the most brownie points in the past 30 days.
User Story: I can see how many brownie points they've earned in the past 30 days, and how many they've earned total.
User Story: I can toggle between sorting the lis

[2018-10-08 18:47] bgq007 opened #18284 "Cash Register Result Final Test"
#### Describe your problem and - if possible - how to reproduce it

Cases when register status is closed (giving all money in drawer to customer) and specifically the final test case:

It is illogical to return the entire cid array. 1 - If we are returning the entire array, why are we not returning the entire array when the register remains open? We still looped through and identified that we can'

[2018-10-08 21:46] randelldawson commented on #18284
What you may not understand, is the test suite needs to know what the cash-in-drawer looks like, in order to validate your solution in various ways.  This challenge is not intended to be a "real-life" solution you would create for a real transaction.  I understand why you would like to be the way you want, but the tests have been designed to check the entire cash-in-drawer object,, so you have no

[2018-10-08 22:00] bgq007 commented on #18284
I really don't know why anyone attempts to address issues.... Why are we returning only denominations we are giving back if the register is open but returning everything if the register is closed regardless of whether or not the amount is 0?

But forget it. Im tired of trying to address stuff. You guys never want to listen to what people are saying.

[2018-10-08 22:00] #18284 closed

[2018-10-08 22:01] DarthOstrich commented on #18211
As per instructions [here](https://github.com/freeCodeCamp/freeCodeCamp/pull/18238#issuecomment-427980929), opened a new PR. #18289

[2018-10-09 00:53] randelldawson commented on #18284
I was listening and trying to explain why it is the way it is currently.  That does not mean it can not be changed.  When you post something as an issue, you create a conversation where everyone gets to put their two cents in.  I have no preference which way the challenge is presented and have not claimed your idea was bad at all.  You have made your suggestion, so just wait and see what others ma

[2018-10-09 01:17] bgq007 commented on #18284
Well, when you guys respond, you always sound like you are taking the position that you have to defend FCC from comments. I laid out the difference in how we are returning the change.

You claimed:

but if you really read and took what I wrote seriously, you would see that is not true. If we were testing the entire drawer, we would always return all of the denominations with 0 for values if they a

[2018-10-09 06:41] waylent commented on #17629
put "chrome://settings/fonts" in address box, and change settings item of "最小字号"(Minimum Font Size) to 10.

[2018-10-09 07:42] TomLandis commented on #18278
But the name of the challenge is : Modify an Array Stored in an Object.

So if you didn't modify the original Array, it seems like it should fail the test.

[2018-10-09 15:19] huyenltnguyen commented on #18094
Hi @ertankara, I'm still working on this task, but the progress is super slow due to my busy schedule :disappointed: I still want to continue the task, but I need some help if we want to speed it up. I'm happy to pass it to more available contributors though. Are you on [Gitter](https://gitter.im) by any chance? If so, please send me a direct message at gitter.im/huyenltnguyen so we can discuss fu

[2018-10-09 21:11] randelldawson commented on #18284
You seem very defensive here.  You are the only one making generalizations about others.  I never said you were wrong.

I am not a MOD on github.  I am just a volunteer giving feedback which is part of the collaborative process in open source or real life project is all about.

Below was my comment to you in my previous, so I do not understand why you think I have stated your wrong or that I am no

[2018-10-09 22:01] rabindranathfv commented on #16659
is this fixed? i trying but i can not access to array friends nested in object

[2018-10-10 00:29] artoodeeto commented on #18094
@huyenltnguyen I am back 100%. can you run me through the project again? I can learn D3. I was planning to learn it before now is the right time.

[2018-10-10 00:59] dlaub3 commented on #18184
I can work on this. A little confused though, since it appears to be there already. https://github.com/freeCodeCamp/freeCodeCamp/blob/next/client/src/analytics/index.js

Does the mission statement go here? https://github.com/freeCodeCamp/freeCodeCamp/tree/next/client/src/resources

Please provide instructions, thanks.

[2018-10-10 08:09] Bouncey commented on #18203
Closing this as I have found out the jest does not work in the browser, I will open another issue shortly.

[2018-10-10 08:09] #18203 closed

[2018-10-10 09:29] dogomeodenzoy commented on #10485
Try this one: works for me,

![image](https://user-images.githubusercontent.com/42873851/46726915-02eafe00-ccb2-11e8-9687-b31403cd779a.png)

[2018-10-10 16:43] millerxcrunning commented on #17872
I agree. This is an ambiguous challenge.

[2018-10-10 17:33] joker314 commented on #17872
I'll file a PR soon<sup>1</sup> to resolve the issue of wording.

<sup>1</sup> - 0 to 2 days

[2018-10-11 00:57] erictleung commented on #18236
Fixed by https://github.com/freeCodeCamp/freeCodeCamp/pull/18296

[2018-10-11 00:57] #18236 closed

[2018-10-11 00:58] erictleung commented on #18237
Fixed by https://github.com/freeCodeCamp/freeCodeCamp/pull/18296

[2018-10-11 00:58] #18237 closed

[2018-10-11 08:16] EleLilli commented on #17703
Hi Conrad,
how do you convert Fahrenheit scale in Celsius scale and vice versa without that formula?
It must be used in setter and getter method.

[2018-10-11 09:26] raisedadead opened #18307 "[translation]: Update Spanish translations for contributing documentations"
#### Update the following in Spanish from their English version available in [`/docs`](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/docs) directory:

- [ ] [`/docs/spanish/CONTRIBUTING.md`](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/docs/spanish/CONTRIBUTING.md) from its english version at [`/CONTRIBUTING.md`](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/CONTR

[2018-10-11 09:26] raisedadead opened #18308 "[translation]: Update Russian translations for contributing documentations"
#### Update the following in Russian from their English version available in [`/docs`](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/docs) directory:

- [x] [`/docs/russian/CONTRIBUTING.md`](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/docs/russian/CONTRIBUTING.md) from its english version at [`/CONTRIBUTING.md`](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/CONTR

[2018-10-11 09:26] raisedadead opened #18309 "[translation]: Update Portuguese translations for contributing documentations"
#### Update the following in Portuguese from their English version available in [`/docs`](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/docs) directory:

- [ ] [`/docs/portuguese/CONTRIBUTING.md`](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/docs/portuguese/CONTRIBUTING.md) from its english version at [`/CONTRIBUTING.md`](https://github.com/freeCodeCamp/freeCodeCamp/tree/mas

[2018-10-11 09:26] raisedadead opened #18310 "[translation]: Update Chinese translations for contributing documentations"
#### Update the following in Chinese from their English version available in [`/docs`](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/docs) directory:

- [ ] [`/docs/chinese/CONTRIBUTING.md`](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/docs/chinese/CONTRIBUTING.md) from its english version at [`/CONTRIBUTING.md`](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/CONTR

[2018-10-11 09:26] raisedadead opened #18311 "[translation]: Update Arabic translations for contributing documentations"
#### Update the following in Arabic from their English version:

- [ ] [`/docs/arabic/CONTRIBUTING.md`](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/docs/arabic/CONTRIBUTING.md) from its english version at [`/CONTRIBUTING.md`](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/CONTRIBUTING.md)

- [ ] [`/docs/arabic/README.md`](https://github.com/freeCodeCamp/freeCodeCamp/tree/mas

[2018-10-11 09:28] raisedadead opened #18312 "[translation]: Update translations for contributing documentations"
We need your help in translating the contributing documentations for Arabic, Chinese, Portuguese, Russian and Spanish.

There are the individual issues that you can help on, if you speak any of these:

- [x] Arabic: #18311
- [ ] Chinese: #18310
- [ ] Portuguese: #18309
- [ ] Russian: #18308
- [ ] Spanish: #18307

Please reach out to us in [Forum](https://forum.freecodecamp.com) or [Contributors Ch

[2018-10-11 09:34] raisedadead opened #18313 "[docs] Create translation guidelines for guide articles and coding challenges"
@beaucarnes @QuincyLarson

Can you please create a simple guideline for contributors explaining the workflow and maybe a couple tools in translating guide articles and coding challenges.

These should include instructions like the seed code should be left untouched, etc.

Thanks.

[2018-10-11 09:54] Ventals commented on #18311
Hi @raisedadead I can do this today)

[2018-10-11 10:04] raisedadead commented on #18311
Awesome, thanks for your help. Looking forward for a pull request.

[2018-10-11 10:54] luisbd commented on #18307
How could I claim `/docs/README.md` so we don't double work? Thanks

[2018-10-11 11:15] raisedadead commented on #18307
Hi @luisbd 👋!

Actually we just merge in the first PR for open issues. And your comment on this thread is enough. So, its yours.

Happy translating.

[2018-10-11 11:41] luisbd commented on #18307
I just open a PR for `/docs/README.md` 👉  https://github.com/freeCodeCamp/freeCodeCamp/pull/18314

[2018-10-11 12:12] raisedadead commented on #18307
@luisbd thanks a lot that was fast! Would you be interested in translating these in future as well? If yes, please keep a watch on this thread. We will be updating on the progress often

Happy contributing.

[2018-10-11 12:14] raisedadead commented on #18309
Awesome! All yours.

[2018-10-11 12:48] raisedadead commented on #18309
@JorgeAndd I would recommend starting one by one and making a separate PR for each. Also, please note that we rapidly iterating over the english versions at the moment.

So, take your time and revisit this issue thread for changes.

[2018-10-11 12:59] JorgeAndd commented on #18309
I will start working on **CONTRIBUTING.md**. If anyone else wants to help, feel free to.

[2018-10-11 13:01] geeseyj commented on #18265
I'll take a stab at it.

[2018-10-11 13:28] developing-coder commented on #18159
Same exact situation here.

- Google Chrome Version 69.0.3497.100 (Official Build) (64-bit)
- Windows 10

[2018-10-11 14:16] PronSiman commented on #7122
Hello, made log out, so now i cant find button 'log in'. what i have to do?

[2018-10-11 14:30] atlc commented on #18307
I'm working on /docs/spanish/CONTRIBUTING.md, I'll have a PR up later this morning.

[2018-10-11 14:42] fernandoamz commented on #18312
i want to help you to translate in spanish, but i cannot see the issue

[2018-10-11 16:08] atlc commented on #18307
I think that reference links my PR for `/docs/spanish/CONTRIBUTING.md`, but if not, I've got it at #18317 😎 👍

[2018-10-11 16:21] atlc commented on #18307
I think the above reference should link to my PR, but if not, it's available at #18317!

Thanks for all you do, freeCodeCamp 😎 👍

[2018-10-11 18:36] chaomt commented on #18312
Chinese: #18310
I want to help you translate the contributing documentations for Chinese.

[2018-10-11 19:24] MarkMcDaniels opened #18321 "Sass @while challenge"
**Describe your problem and how to reproduce it:**
When you type in @while, and begin to create the conditions, it starts an infinite loop.
I was able to pass it by creating the code in an html comment, and then deleting the comment.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/front-end-libraries/sass/apply-a-style-until-a-condition-is-met-with-while

**Tell us abo

[2018-10-11 19:32] MuhammadZubairMoosani commented on #11076
google chrome
linux OS
laptop

[2018-10-11 20:54] lynxlynxlynx commented on #17374
//noprotect as line 1 worked for me when helping a forum user.

[2018-10-11 20:55] lynxlynxlynx commented on #17726
duplicate of 17374, can be closed.

[2018-10-11 22:14] raisedadead opened #18325 "Add a build test to check all file names maintain case."
Unix does not differentiate between different file names, bases on lowercase/capitalcase

https://twitter.com/raisedadead/status/1050495401252581376

This is a cause of frustration, we need a CI test to handle this, and let it be known on the PR builds

[2018-10-12 00:19] anacoimbrag commented on #18309
Hey! I can translate the next file **how-to-catch-outgoing-emails-locally.md**

[2018-10-12 00:52] scissorsneedfoodtoo commented on #18312
@Alhern, you did a great job translating the Guide README to French [here](https://github.com/freeCodeCamp/guide/pull/9004). Maybe you could help us translate the Contributing Doc to French if you have some time?

[2018-10-12 02:33] thepurpleana commented on #18309
Hey guys! I can translate the **how-to-work-on-coding-challenges.md** one :)

[2018-10-12 02:36] byronluk commented on #18094
Hi I'd like to help out if its needed. Lmk @huyenltnguyen @artoodeeto , thanks!

[2018-10-12 03:55] normalguy00 commented on #6126
thank for help anyone :D

[2018-10-12 07:20] lauraalpinto commented on #18309
And I can finish up with **how-to-work-on-guide-articles.md**!  😊

[2018-10-12 08:35] TomerPacific opened #18400 "ES6: Use getters and setters to Control Access to an Object Passing Test Without Implementation"
*Describe your problem and how to reproduce it:**
On the challenge ES6: Use getters and setters to Control Access to an Object, the challenge passes without creating a getter and a setter.

**Add a Link to the page with the problem:**
[Challenge](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-getters-and-setters-to-control-access-to-an-object)

**Tell us about you

[2018-10-12 09:44] AdrianSkar opened #18410 "[Guides] Permanent "expand it" link on existing guide pages"
So, now that the Guide repo has been archived I'll bring [this issue](https://github.com/freeCodeCamp/guide/issues/8649) here as I think it might be helpful if solved:

Edit: I know we could all add the link when editing those guide pages but the idea would be to implement a "footer" on all of them to provide easy access (right know you have to search for the file in the Github repo and then edit

[2018-10-12 09:56] Ajer1989 commented on #18307
I have sent a translation proposal for /docs/how-to-work-on-guide-articles.md. PR #18411

Hope it will help!

[2018-10-12 11:00] nischaldutt commented on #18253
I would like to take a shot at this if anyone else has not taken it up yet?

[2018-10-12 12:09] moT01 commented on #17726
Thank you for reporting this issue.

Closing this as a duplicate, if you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-10-12 12:09] #17726 closed

[2018-10-12 12:16] moT01 commented on #18253
@nischaldutt give it a shot - @qualitymanifest that other issue seems to be two different issues in one, so I will leave this open for now, and if it gets fixed we can close this and post over there that the second problem is fixed - thanks for posting where the problem is

[2018-10-12 12:27] moT01 commented on #17703
Thank you for reporting this issue.

I do not think there is an issue here so I am closing this.  If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-10-12 12:28] raisedadead commented on #18309
There is still work pending on this. When you make a PR for this particular issue, do not tag it with `Closes #XXXXX` instead just reference it with `#XXXXX`

[2018-10-12 12:28] raisedadead commented on #18307
There is still work pending on this. When you make a PR for this particular issue, do not tag it with `Closes #XXXXX` instead just reference it with `#XXXXX`

[2018-10-12 12:29] moT01 commented on #17842
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #17403, so I am closing it as a duplicate.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-10-12 12:29] #17842 closed

[2018-10-12 12:32] moT01 commented on #17898
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #17403, so I am closing it as a duplicate.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-10-12 12:32] #17898 closed

[2018-10-12 12:33] moT01 commented on #18400
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #17403, so I am closing it as a duplicate.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-10-12 12:33] #18400 closed

[2018-10-12 12:54] eBernalZ opened #18441 "Typo on Spanish version of ReadMe.md"
**Describe your problem and how to reproduce it:**
There's a spelling mistake on the Spanish documentation's ReadMe

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/tree/master/docs/spanish

**Tell us about your browser and operating system:**
* Browser Name: Chrome
* Browser Version: 69.0.3497.100
* Operating System: MacOS

**If possible, add a screenshot

[2018-10-12 13:14] shamamaz opened #18450 "PHP syntax overview is outside of the PHP heading"
**Describe your problem and how to reproduce it:**
A PHP syntax overview article is outside of the PHP heading.

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/php-syntax-overview/

**Tell us about your browser and operating system:**
* Browser Name: Google Chrome
* Browser Version: 69.0.3497.100
* Operating System: Mac OS High Sierra 10.13.6

**If possible, add a scre

[2018-10-12 13:50] Nirajn2311 opened #18459 "npm run seed error - Cannot find module './build/curriculum-english.json'"
When I execute the command `npm run seed` I get the following error:

[code]

OS Version - WIndows 10 1809
Node version - v8.12.0
NPM version - 6.4.1
MongoDB version - v4.0.2

[2018-10-12 13:54] Alhern commented on #18312
Hey @scissorsneedfoodtoo ! I'd love to help with translating the Contributing Doc to French, I'm going to start working on it.

[2018-10-12 14:11] ricardokojo commented on #18309
I can work on **how-to-setup-freecodecamp-locally.md**.
Also, there is a substantial difference between PT-PT and PT-BR (Portuguese from Portugal and Portuguese from Brazil). Maybe there should be different translations for each one?

[2018-10-12 14:32] geeseyj commented on #18177
I've got this one 🙂

[2018-10-12 14:36] RaspberryLime commented on #18166
Someone has fixed this.

[2018-10-12 14:36] #18166 closed

[2018-10-12 14:43] geeseyj commented on #18091
I can tackle this one. 🙂

[2018-10-12 14:56] ArielLeslie commented on #18170
It's not really a good pattern.

[2018-10-12 15:17] Nirajn2311 opened #18474 "npm run bootstrap error - Failed at the @freecodecamp/curriculum@0.0.0-next.4 build script."
When I execute the command `npm run bootstrap` the following error occurs:
OS Version - WIndows 10 1809
Node version - v8.12.0
NPM version - 6.4.1
MongoDB version - v4.0.2

[code]

<details>
<summary>error details</summary>

[code]
</details>

[2018-10-12 15:42] abavish commented on #18094
Hello, I'd love to help too! Please let me know if I could assist in any way.

[2018-10-12 15:47] v1ktoryy commented on #18308
Please, review https://github.com/freeCodeCamp/freeCodeCamp/pull/18482

[2018-10-12 15:48] Deborah-Digges commented on #17222
Hello @raisedadead. If nobody is working on this, I'd like to help out :)

[2018-10-12 16:13] devinprater opened #18487 "editor accessibility must be reenabled at the start of each lesson"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a Github issue.

**Describe the bug**
A clear and concise description of what the bug is.
The Monaco editor contains features for accessibility, specifically a mode for screen reader users which helps in navigating and using the editor effectively.

[2018-10-12 16:16] Beth106 commented on #18450
Can I take this one? This would be my first ever pull request to a real issue.

To fix it I would drag the "PHP Syntax Overview" folder into the "PHP" folder here:
https://github.com/freeCodeCamp/freeCodeCamp/tree/master/client/src/pages/guide/english

[2018-10-12 16:16] raisedadead commented on #17222
Hi, apologies. This was incorrectly flagged. This more of a DevOps issue.

[2018-10-12 16:20] raisedadead commented on #17559
Hi yes this has been resolved. Sorry, we forgot to close this. Thanks.

[2018-10-12 16:20] #17559 closed

[2018-10-12 17:22] nischaldutt commented on #18253
I'm on it

[2018-10-12 17:32] arbolitoloco commented on #18309
I just noticed there are versions of things in both Portuguese and Brazilian Portuguese. Hope that's OK.

[2018-10-12 17:39] myakiju commented on #18309
I agree with @ricardokojo. PT-PT and PT-BR have many differences and it would be nice to have both made separately

[2018-10-12 18:03] erictleung commented on #18091
@geeseyj now that the curriculum is within this main repository, the file you'll need to fix is here

https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/object-oriented-programming/remember-to-set-the-constructor-property-when-changing-the-prototype.english.md

[2018-10-12 18:41] qualitymanifest commented on #18253
@moT01 You're right, I should have said they are related, rather than calling it a duplicate. Better to address this issue individually.

Thank you @nischaldutt for taking this

[2018-10-12 18:46] nischaldutt commented on #18253
I cannot find the specified file path `common/app/routes/Profile/components/Certificates.jsx`.
Can you help me figure out where is it located?

[2018-10-12 19:03] qualitymanifest commented on #18253
Ah. That was from the `next` branch, but it looks like that branch got removed during the major repo overhaul that happened a few days ago described here https://www.freecodecamp.org/forum/t/hacktoberfest-2018-update/231160

I'll see if I can find where that code lives now

[2018-10-12 19:38] nischaldutt commented on #18253
Thanks for responding! I got it :+1:
How much longer will it take to be live any idea?

[2018-10-12 20:20] qualitymanifest commented on #18253
Okay, I think I finally get it now. It's pretty confusing with all these changes. After the repo overhaul, the `production` branch is the live site (this is pretty obvious, I just didn't think to look for it). FWIW, here is the problem file in the `production` branch
https://github.com/freeCodeCamp/freeCodeCamp/blob/production/common/app/routes/Profile/components/Certificates.jsx

I am not sure ho

[2018-10-12 20:30] lauraalpinto commented on #18309
There are some differences but it is very easy to understand for both PT-BR and PT-PT speakers, in my opinion. I don't mind reading in PT-BR and I would guess the opposite also happens?

[2018-10-12 21:20] DavSanchez opened #18606 "[Guides] Is (electronic) digital design an adequate topic to add?"
Hello there!

Repeating my recent issue from the old guide repo that got archived. Is digital design an interesting topic to add to these guides? With digital design I mean the one related to electronics, like programming RTL designs with HDL languages (Verilog, VHDL), verification and its different methodologies (OVM, UVM), etc

I was thinking about opening a specific directory for it.

[2018-10-12 21:22] raisedadead commented on #18309
Hi All,

Thanks a lot for taking the time to contribute to freeCodeCamp.org

At the minute we are making the translations available in the PT-BR. We consider PT-PT in future, but I am afraid we don.t have an ETA on that.

Thanks.

[2018-10-12 22:02] lindakovacs commented on #18312
I'd love to help with translating the FreeCodeCamp Curriculum in Italian and Romanian, Do you know when we can start working on it and when it will be open to work on?

[2018-10-12 22:22] raisedadead commented on #18312
Hi,

@Alhern and @lindakovacs thanks a lot for taking the time to contribute to freeCodeCamp.org

At the minute we are focused to have translations only in the 5 additional languages as you see on the contributing doc. This is primarily because of the operational logistics involved in maintaining the separate platforms. We want these languages to be ready and stable before going firth with other l

[2018-10-13 01:01] artoodeeto commented on #18094
yes!! @byronluk @abavish im gonna add you on gitter. we created a group. yey we can finish it now. @huyenltnguyen

i added you on gitter guys. :)

[2018-10-13 01:29] clanmaster commented on #17512
Yuppers, zooming @ 100%  rectify the issue.
Using Chrome stable ver. 69.0.xxxx

[2018-10-13 02:34] deathbystone commented on #18307
Hello, I'm starting to help on the translation of the document /how-to-set-up-freecodecamp-locally.md

[2018-10-13 02:40] annapinedo commented on #18307
Working on >/docs/spanish/how-to-work-on-guide-articles.md

[2018-10-13 03:30] lindakovacs commented on #18312
Hi Mrugesh,Thank you for getting back to me.I didn't know all of this and I just sent 2 pull requests for Creating the Romanian and Italian translation for the Contribution Guidelines.Mostly I did it after I read Quincy's article "I just got my free Hacktoberfest shirt. Here’s a quick way you can get yours.".At this point, I don't know if I should continue up to 5 pull requests as it says in the a

[2018-10-13 03:53] hananezlitni commented on #18311
Can I also work on this? I can help.

[2018-10-13 04:43] MicroDroid commented on #18311
I'm working on this.

[2018-10-13 04:48] mrcaste commented on #18307
Hello, I've improved the CONTRIBUTING.md file #18684

[2018-10-13 06:28] cazyw commented on #17819
Pull Request added.

[2018-10-13 06:48] abavish commented on #18094
Thank you @artoodeeto! :)

[2018-10-13 06:49] #18450 closed

[2018-10-13 06:52] cazyw commented on #17815
Pull request made

[2018-10-13 09:03] Manish-Giri opened #18722 "Project Euler challenges breaks Windows filename length restrictions"
**Describe the bug**
The Project Euler challenge filenames are larger than the limits specified by Windows 10 on filename lengths. I came across this while trying to get my local repo up to date with `master`, and it threw an error -

![err](https://user-images.githubusercontent.com/11348778/46903511-12ca3400-cea4-11e8-83a7-bae6e2600917.png)

**To Reproduce**
Steps to reproduce the behavior:
1. `g

[2018-10-13 10:31] violetasdev commented on #18307
Hello,

Working on _**docs/spanish/how-to-setup-freecodecamp-locally.md**_

And improving **/docs/spanish/how-to-catch-outgoing-emails-locally.md**

[2018-10-13 10:41] violetasdev commented on #18307
Improving docs/spanish/how-to-catch-outgoing-emails-locally.md

[2018-10-13 13:15] mrcaste commented on #18307
Hi, I'm improving docs/spanish/how-to-work-on-coding-challenges.md

[2018-10-13 15:38] cazyw commented on #18474
I'm getting this error too on Windows 10 and Node 8.9.4 and NPM 6.1.0

[2018-10-13 15:54] raisedadead commented on #18722
Hey @NitronR can you help us with this?

@Bouncey Can you confirm that we can name the files whatever we want because the titles are picked from the front matter?

If that is true, we can rename all the project euler files which are absurdly lengthy.

[2018-10-13 15:56] raisedadead commented on #18606
Hi you can add any technical topics that are worth reading.

[2018-10-13 15:56] #18606 closed

[2018-10-13 16:07] raisedadead commented on #18474
In your case you are missing a few new keys in the `.env` which we do not track in version control. This should default to english.

https://github.com/freeCodeCamp/freeCodeCamp/blob/16d643ecba232b9ae2d4a9639bc316b95c763369/curriculum/gulpfile.js#L4-L6

[2018-10-13 16:52] #18213 closed

[2018-10-13 17:24] no-stack-dub-sack opened #18856 "dead links returned by search bar: Coding Interview Prep"
**Describe the bug**
When searching for Coding Interview Prep challenges in the search bar, it returns results linked to URLs that 404. From what I can tell so far, the issue is mainly for interview practice challenges.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'learn.freecodecamp.org'
2. Type 'min heap' in the search bar
3. Click on the first link in the results list
![image](ht

[2018-10-13 17:28] no-stack-dub-sack commented on #18856
@QuincyLarson  @Bouncey related to #18082

[2018-10-13 17:43] no-stack-dub-sack opened #18861 "search bar funkiness on learn and search platforms"
**Describe the bug**
I've noticed several oddities with the search feature:
- First, there is no typeahead on the main site: learn.freecodecamp.org
- then, when you type in a search query, you are redirected to a new page with results (many of them are dead links, but that's another issue (#18856). Here, you get your search query in the bar, with an odd trailing quotation mark.
- Now, when you per

[2018-10-13 18:53] annezhou920 commented on #18091
i'll take this on!

[2018-10-13 19:16] alhazen1 commented on #18079
I've been looking at this one too and have run into a similar issue to @quinetime.

Based on where this challenge lies in the curriculum  **I think that the password requirements need to be simplified so a solution can be found that only uses material already covered.**  A solution that handles all cases that meet the current requirements is probably beyond the scope of the lesson.

As the require

[2018-10-13 19:16] AdrianSkar opened #18879 "Basic JS: Iterate with do...while. Link to guide leads to 404"
**Describe your problem and how to reproduce it:**

The [link](https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-javascript/iterate-with-javascript-do---while-loops) to the guide page leads to a 404 page.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/iterate-with-ja

[2018-10-13 19:52] Asjas commented on #18091
There is a PR #18616 that is fixing it. @ezioda004 just needs to review and merge it. It's currently assigned to him.

[2018-10-13 20:02] arnas opened #18883 "Going to the next unsolved challenge"
Hello,

I am not sure if this is a bug, but i can't find way to go the next unsolved challenge. It only gives me option to go to the next challenge.

http://prntscr.com/l5qoyp

I think it references this issue https://github.com/freeCodeCamp/freeCodeCamp/issues/5612

[2018-10-13 20:12] annezhou920 commented on #18091
Thanks for letting me know. @ezioda004 should assign himself to this issue then and claim it, otherwise, I wouldn't have known.

[2018-10-13 20:19] arnas opened #18885 "Passing Values to Functions with Arguments doesn't pass without semi column"
**Describe your problem and how to reproduce it:**
The test "Call functionWithArgs with two numbers after you define it." doesn't passes if the function call doesn't end with semi column.
As in js semi columns are not required it should pass even if user doesn't add semi column

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/ba

[2018-10-13 20:44] arnas opened #18893 "Comparison with the Inequality Operator and Comparison with the Strict Inequality Operator inconsistent formatting"
**Describe your problem and how to reproduce it:**
These task has inconsistent code where task is pretty much the same. I would believe that freecode camp should use same code style everywhere. If one task has comments, second should have them too.
Basic JavaScript: Comparison with the Inequality Operator
Basic JavaScript: Comparison with the Strict Inequality Operator

**Add a Link to the page wi

[2018-10-13 20:47] Asjas commented on #18091
Hey @annezhou920. No problem at all.

Just for future reference. To see if a PR has been opened for an issue you'd usually see a reference to it in an issue thread.

Above in this issue thread, for instance, you'll see a message with the text `jefferson2z referenced a pull request that will close this issue`. That is how you can tell if there has already been a PR opened for an issue.

@ezioda004

[2018-10-13 20:57] arnas opened #18896 "Basic JavaScript: Introducing Else If Statements redundant else statement"
**Describe your problem and how to reproduce it:**
Basic JavaScript: Introducing Else If Statements tests requires to write redundant else statement, where you could just return value.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/introducing-else-if-statements

**If possible, add a screenshot here (you can d

[2018-10-13 21:40] s-Hale commented on #18896
You could, but at the end of the day it's for beginners to get comfortable with the concepts. You learn the shorthands later.

[2018-10-13 21:44] arnas commented on #18896
I agree, but nonetheless it shouldn't force to write else. It could be simply optional.

[2018-10-13 22:28] arnas opened #18925 "Basic JavaScript: Use the Conditional (Ternary) Operator teaches questionable practices?"
**Describe your problem and how to reproduce it:**
The exercise is teaches questionable practices!?
There were a discussion previously https://github.com/freeCodeCamp/freeCodeCamp/issues/14821 .
But i think it should be reviewed again as change could be fairly simple.
Instead of asking if numbers are equal, ask to return "Bigger" or "Smaller" or something.
As currently the better solution would be

[2018-10-13 22:39] ordazgustavo commented on #18307
Hi, can I help with /docs/spanish/how-to-setup-freecodecamp-locally.md?

[2018-10-13 22:48] petern-sc commented on #18925
👍I agree with this, it definitely is not good practice.

As mentioned in that other issue, I think having it return the bigger number would be a good example.

[2018-10-13 23:04] #18091 closed

[2018-10-13 23:15] ezioda004 commented on #18925
I somewhat agree but then again it's introduction to ternary operator which can be a bit tricky to understand at first.
If it needs to be updated then I think returning "Equal" or "Not equal" seems like a good alternative.

[2018-10-14 02:47] RandellDawson commented on #18896
There are 2 ways to deal with this.

1) Leave the solution  to require the else, but change the instructions to reflect an else statement is expected.

2) Modify the tests to make the else { return...} optional.

@arnas Would you like to attempt to work on one of these solutions by creating a fix with a commit and requesting a PR?  Let me know and I can assign it to you.  If you would like to work

[2018-10-14 05:24] thecodingaviator opened #18966 "Translation to any language"
I was thinking of how could we get a language introduced for FCC being translated to that?
I think there would be a big Hindi-speaking audience from India and I would love to work with that.

@QuincyLarson @raisedadead

[2018-10-14 06:54] NitronR commented on #18722
@raisedadead Yeah I can help. If it turns out that files the file name and the titles are independent then I can rename the files using this pattern: problem-{number}{other stuff}. I think the initial part is sufficient and the other stuff can be removed. What do you think?

[2018-10-14 07:58] #18129 closed

[2018-10-14 08:02] arnas commented on #18893
Sorry If I wan't clear. But yes I am referring to the comments

[2018-10-14 08:04] arnas commented on #18896
Okay, I will look into it

[2018-10-14 08:09] RandellDawson commented on #18896
@arnas Is it ok if I assign this to you, so someone else does not work on the same solution?

[2018-10-14 08:12] arnas commented on #18896
Yes

[2018-10-14 10:33] arnas opened #19019 "npm run bootstrap fails because of the path issues."
**Describe your problem and how to reproduce it:**
superBlockInfoFromPath and getBlockNameFromPath functions in the getChallenges file cannot resolve correct path in windows. As windows uses \ instead of /.

Changing split to filePath.split('\\') fixes problem, but the solution should have correcet split function depending on the running environment

[2018-10-14 11:29] arnas commented on #18896
@RandellDawson it seems can't get freecodecamp solution to work localy. It currently just throws an error if try to build client side project as there is too many files.
error Plugin @freecodecamp/gatsby-source-filesystem returned an error
"

  Error: EMFILE: too many open files, open 'C:\Users\Arnas\Documents\freeCodeCamp\client\src\pages\guide\spanish\certifications\coding-interview-prep\project

[2018-10-14 11:53] arnas opened #19037 "ES6: Declare a Read-Only Variable with the const Keyword uppercase constant"
**Describe your problem and how to reproduce it:**
I find strange that tutorial suggest to name use upper case for const.  I agree that const should be uppercase if it's in application scope. In block or function scope camelCase makes more sense in my opinion.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/declare-a-read-o

[2018-10-14 12:36] arnas opened #19044 "ES6: Use Destructuring Assignment with the Rest Operator to Reassign Array Elements suggest to use questionable practices"
**Describe your problem and how to reproduce it:**
The correct answer  `const [a,b, ...arr] = list;` creates additional two variables (a, b) that are not used. Which usually is not good practice. I think it would be better to change task so all variables would be used.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-des

[2018-10-14 12:53] Nirajn2311 commented on #18896
@arnas there have been some problems in setting up FCC locally. @raisedadead has mentioned in the Contributors Gitter that local setup will be fixed in a weeks time.

[2018-10-14 12:55] Nirajn2311 commented on #18893
@arnas I’ll work on this. Also I think that the first one is better.

[2018-10-14 13:15] arnas opened #19057 "ES6: Use getters and setters to Control Access to an Object private variable"
**Describe your problem and how to reproduce it:**
In this task description about getters and setters that they are used to avoid direct private variable manipulation. "Getter functions are meant to simply return (get) the value of an object's private variable to the user without the user directly accessing the private variable."
But in fact defining variable like this doesn't make it private. You

[2018-10-14 13:15] raisedadead commented on #19019
Hi, @eragon512 I higly recommend working on approved issues such "Help Wanted", others issues may not be ready for fix, or could be duplicates.

Thanks a lot for taking the time to prepare the PR. We appreciate the effort

[2018-10-14 13:28] raisedadead commented on #18722
@NitronR I ll get back to you with the exact action to be taken, but can you give me more context about why we have a string like "Problem No" at all in the first place?

Was this meant for ordering or this is something to do with the actual content requirement itself?

I really find these aesthetically un-appealing. :)

[2018-10-14 13:29] raisedadead commented on #18896
Hopefully, you should know that I can't work under stress. 😛

[2018-10-14 14:02] eragon512 commented on #19019
okay, thanks!

[2018-10-14 14:10] eragon512 commented on #18325
hi, is this issue available? I'd like to take it up, if so

[2018-10-14 15:56] moinshaikh commented on #18410
+1, Adrian.

@QuincyLarson I got your notification via one of my past PR - regarding archiving the /guides repo and moving over to freeCodeCamp/freeCodeCamp repo.

However, I was wondering where can we look for the stub articles now? I tried to locate them under new repo but couldn't find any. Am I missing out on something?

[2018-10-14 16:08] #18441 closed

[2018-10-14 16:15] nischaldutt commented on #18253
I have a problem. When I forked the repository, every file and folder is copied except for the `common` folder, where I have to commit the changes.
<img src="https://user-images.githubusercontent.com/25385285/46919229-01933b80-cffa-11e8-909c-b2b360ecb21f.png" />

Am I missing something?

[2018-10-14 16:44] Sathish-kumar-Subramani commented on #18325
Hi eragon512,
Argh! I should have mentioned here before taking up the issue.
I've created a pull request for the same.

[2018-10-14 17:41] Bob-Thomas commented on #19057
This is because javascript doesn't support real private variables yet.
There are some proposals for defining private variables inside classes https://www.sitepoint.com/javascript-private-class-fields/.

But for now there no standard ways of creating private variables so most choose to use the underscore syntax as other languages that don't support private variables like python do.

[2018-10-14 17:49] eragon512 commented on #18325
hey @Sathish-kumar-Subramani , chill, no worries!

[2018-10-14 18:12] naviscript commented on #17299
It is still not solved after such a long time?

[2018-10-14 18:52] arnas commented on #19057
Yes, and because of that there shouldn't be the mention about private variable.

[2018-10-14 19:47] LucianaMarques commented on #18474
Any news on this? Was there any pull requests made? I would love to help with this!

[2018-10-14 19:52] ezioda004 commented on #19044
You do not need to add `[a, b]` to destructure.
`const [, , ...arr] = list; ` works.
This was mentioned in the [previous challenge](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-variables-from-arrays/) that you can omit indices with commas.

[2018-10-14 19:54] arnas commented on #19044
Ah, it's my mistake then.

Closing

[2018-10-14 19:54] #19044 closed

[2018-10-14 19:55] ezioda004 commented on #19037
Using uppercase is the convention and best practice when declaring `const`. [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/const#Examples) also uses this convention.

[2018-10-14 20:05] StraubJones opened #19142 "Proposing an NVD3 article in the D3 section"
**Describe your problem and how to reproduce it:**
This is a proposal to build consensus about whether to and where to add a short article about NVD3, a library that builds on top of D3.js, which I have often found useful for beginners not sure where to jump in with D3. As they find edge cases they don't like or can't use in NVD3, they fiddle and dig under the hood, and thus slowly learn the D3 un

[2018-10-14 20:06] arnas commented on #19037
In most cases yes, but in reality I would argue that this https://www.reddit.com/r/learnjavascript/comments/5ns7hq/constants_can_be_declared_with_uppercase_or/dce1s76 is more realistic.

[2018-10-14 20:10] vipatron opened #19144 "[CURRICULUM] OOP: Use an IIFE to create a Module"
**Describe your problem and how to reproduce it:**
The issue is pedagogical. In the challenge prior to the one linked below, IIFEs are defined. In this one, the student is told to use an IIFE that returns an object containing member functions and assign it to `funModule`, which is equivalent to just assigning the object to `funModule`. This example doesn't show what the benefits of an IIFE are (ev

[2018-10-14 20:45] ezioda004 commented on #19037
Speaking from experience, const primitives are used with uppercase and objects are used with camel cases and I think that reddit thread also follows the same logic:
[code]
The challenges also use the same convention and therefore the challenge's text is completely fine.
The Redux makes use of this convention and I think it's best to keep this way so for beginner programmer ergonomics.

[2018-10-14 22:52] lindakovacs commented on #18312
@raisedadead I just closed my PR #18661 and #18632.
Thank you for your help.

[2018-10-15 02:11] Manish-Giri commented on #19057
People coming from other languages like Java & C++ might wonder about private variables in JavaScript, so, IMO, rather than not mentioning about private variables at all, it might be better to add that JS doesn't support the notation of private variables yet, which is why one should make use of getters and setters.

[2018-10-15 07:20] kvmsc opened #19207 "Creating guide for STL-Algorithms under C++"

[2018-10-15 08:27] AdrianSkar commented on #18879
@lalov1 That's odd. on my end that link leads to
https://learn.freecodecamp.org/storing-values-with-the-assignment-operator
not
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/storing-values-with-the-assignment-operator/
resulting in:
![image](https://user-images.githubusercontent.com/12052430/46938783-e1e52d00-d064-11e8-8ad4-d12df35f547b.png)

[2018-10-15 10:31] #18265 closed

[2018-10-15 12:13] #19207 closed

[2018-10-15 12:40] marceloFA commented on #18309
Is there still missing translations for this issue?

[2018-10-15 12:49] AdrianSkar opened #19277 "[Guides] Duplicate pages/files in the repo?"
**Describe your problem and how to reproduce it:**
I wanted to improve [this guide page](https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-javascript/generate-random-whole-numbers-within-a-range/) and searched for it within the repo when I found two identical files corresponding to the currently published one ([one inside the client/src/pages/guide/ dir]

[2018-10-15 13:05] cazyw commented on #18474
Worked out what the problem was. The locale part was fine (I did have this value already set it the `.env` file).

The problem was with **'/'**.

In the file **\freeCodeCamp\curriculum\getChallenges.js**, the two functions `superBlockInfoFromPath` and `getBlockNameFromPath` both split the filepath with `filePath.split('/');`. This is fine in linux but causes issues in Windows.

Changing the code t

[2018-10-15 15:38] ezioda004 commented on #19277
Hi @AdrianSkar,
I believe this issue is known and will be worked on by @QuincyLarson and @raisedadead.

[2018-10-15 16:37] jonathan-grah commented on #17300
@JacksonBates, any update on this? If not, I can take a go at it

[2018-10-15 16:37] danilogila commented on #18309
Is there any missing translation? I would like to help

[2018-10-15 16:51] shamamaz opened #19324 "[Guides] PHP duplicate variable pages"
There are multiple pages that detail php variables. These need to be consolidated.

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/php/php-variables/
https://guide.freecodecamp.org/php/variable-basics/
https://guide.freecodecamp.org/php/#variables-panel

**Tell us about your browser and operating system:**
* Browser Name: Chrome
* Browser Version: Version 69.0.3497.100

[2018-10-15 17:04] S-M-Jawwad-Raza opened #19326 "Rewording info in Computer-hardware/cooling to be more concise and removing grammatical mistakes"
**Add a Link to the page with the problem:**

https://github.com/freeCodeCamp/freeCodeCamp/tree/master/client/src/guide/english/computer-hardware/cooling

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**
![screen shot 2018-10-15 at 12 57 06](https://user-images.githubusercontent.com/32301895/46966111-c127d200-d07a-11e8-8f45-59167d429fb3.png)

[2018-10-15 17:06] S-M-Jawwad-Raza commented on #19326
I'm taking this

[2018-10-15 17:52] #19326 closed

[2018-10-15 17:57] lalov1 commented on #18879
@AdrianSkar Try doing a hard refresh (Ctrl+F5)

[2018-10-15 18:35] AdrianSkar commented on #18879
@lalov1 I tried with no luck (even from my phone on a different browser), I think it's the link itself, which URL shows up on your status bar when you hover that link?

[2018-10-15 18:46] RandellDawson commented on #18885
There has been an on and off discussion for a while about whether to enforce the use of end-of-line statement semi-colons.   W

FYI - This debate about semi-colons is not new to FCC.  This is a debate that has been going on for a long time.  See the following link how not using semi-colons could cause unexpected errors.

https://eslint.org/docs/rules/semi

This debate is similar to whether or not

[2018-10-15 19:07] arnas commented on #18885
Well this form is more for user to type the code. So it would make sense to treat the code same as regular javascripts treats it's. If the function returns correct result the code should pass the test.

[2018-10-15 19:09] arnas opened #19344 "Regular Expressions: Find Characters with Lazy Matching html example"
**Describe your problem and how to reproduce it:**
Why the given example uses html snippet? Like it gives idea that regex is good for html parsing. Where is this  https://stackoverflow.com/a/1732454

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions/find-characters-with-lazy-matching

[2018-10-15 19:11] moT01 opened #19346 "User profile URL is case sensitive"
When trying to view a users profile, the URL is case sensitive.

https://www.freecodecamp.org/mot01 - works
https://www.freecodecamp.org/moT01 - doesn't work

It would be nice if it could ignore the case sensitivity somehow, if possible.

[2018-10-15 19:49] ckorobov commented on #18308
- [x] /docs/russian/README.md
- [x] /docs/russian/how-to-work-on-coding-challenges.md
[19345] (https://github.com/freeCodeCamp/freeCodeCamp/pull/19345)

[2018-10-15 19:51] RandellDawson commented on #18885
Are you referring to semi-colons or the curly brackets now?

[2018-10-15 20:11] arnas commented on #18885
I have eleborate my answer. And I am taking about semicolons.

[2018-10-15 20:58] afefdrissi commented on #17379
**This is my solution:**
// change code below this line
 const squaredIntegers = arr.filter((int) => Number.isInteger(int) && int >=0).map(x => x*x);
// change code above this line
**And this can work as well:**
// change code below this line
const squaredIntegers = arr.filter((int) => int >=0 && int == parseInt(int)).map(x => x*x);
// change code above this line

[2018-10-15 22:12] ezioda004 opened #19382 "[Bug] Basic Data Structures: Check if an Object has a Property"
**Describe your problem and how to reproduce it:**
Found from this PR https://github.com/freeCodeCamp/freeCodeCamp/pull/19367
The tests are only checking if all the properties exists and another check is done after deleting all the properties so code like:
[code]
and
[code]
Passes the challenge whereas they shouldn't.

This can be resolved by adding checks after deleting each property or randomly

[2018-10-15 22:30] howestorm opened #19385 "I cannot submit to complete any of the coding challenges"
I researched online and it seems like the solution is just to refresh a bunch of times, but that isn't working for me. I may just be the victim of severe user error, but if I'm not, I'm not entirely sure how I submit after I complete each challenge. I select run all tests and it does nothing. Do I have to wait ten minutes or something? I suppose I could just continue on without the website acknowl

[2018-10-15 22:37] ezioda004 commented on #19385
Hi @howestorm,
Edge is not supported by our platform, sorry for the inconvenience caused.

[2018-10-15 23:52] RandellDawson commented on #19385
I am closing this PR, because the challenge can be completed successfully with Chrome or Firefox.

[2018-10-15 23:52] #19385 closed

[2018-10-16 03:47] iAziz786 commented on #18487
Hey, @devinprater @Bouncey. As a part of hacktoberfest, I would like to work on this issue.

Can I expect mentorship on this?

[2018-10-16 05:42] cmccrea23 commented on #18321
I am also experiencing this issue. I bypassed it by typing my code into my editor and then copy/pasting to the browser.

Tell us about your browser and operating system:

Browser Name:
Chrome

Browser Version:
69.0.3497.100 (Official Build) (64-bit)

Operating System:
macOS High Sierra, version 10.13.6

[2018-10-16 08:13] RandellDawson commented on #18885
I have asked those in charge to make a final decision about this issue.  Once I get some feedback, I will let you know the verdict.  This decision will affect many challenges.

[2018-10-16 08:33] ozgunbal commented on #18925
I came here to suggest what @ezioda004 already suggested. In my opinion, better use case of ternary would be more informative.

[2018-10-16 08:51] thecodingaviator commented on #19346
In my opinion, that's a bad idea. would allow for less usernames that are not complex

[2018-10-16 08:57] RandellDawson commented on #18879
The Guide repo will be moved to a final location in the next day or two.  Once it is moved, we can make sure the Get a Hint button links to the actual Guide article.

[2018-10-16 09:06] #18278 closed

[2018-10-16 09:10] mwaz commented on #19346
Best practices call for usernames to be unique, however, given that people already have duplicate usernames, it would be quite a task to migrate to a new system altogether

[2018-10-16 09:32] ezioda004 commented on #19346
Not sure how usernames are stored, but seems like they are all stored in lowercase.
If possible, perhaps we can lowercase the letters before querying the database?

[2018-10-16 11:00] Flarp commented on #17878
@thornjad I've grown up now and realized that ES6 Proxies were probably a mistake, having an identical object property notation but possibly not being O(1) is dangerous

[2018-10-16 11:29] thornjad commented on #17826
@rperry99 are you still experiencing this issue?

[2018-10-16 13:32] ezioda004 commented on #19057
Well, yes and no. You can certainly create "private" variables via closures in function constructors.
I agree that adding a note on the `_` notation would be a good idea.

[2018-10-16 13:41] mihaisavezi opened #19511 "npm run develop - dependencies were not found"
**Describe the bug**
Some dependencies not found, after repeat installs of project and following the guide [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md).

[code]

I did install them and I get the same error. Anyone have any clue?

node version: 8.12.0

**To Reproduce**
Steps to reproduce the behavior:
1. Clone project locally
2.  Follow

[2018-10-16 13:44] thecodingaviator commented on #18025
Fixed in #19512

[2018-10-16 13:47] ezioda004 commented on #19382
Hey @QuincyLarson @raisedadead, is it fine to accept PR to update the tests to fix this bug?

[2018-10-16 14:26] bauripalash opened #19520 "[ Curious ] Where the guide folder on this repo readable on freecodecamp website?"
I'm curious where the `guide` on this repo exactly readable on the FreeCodeCamp site

[2018-10-16 14:31] jonathan-grah commented on #19520
@bauripalash, currently at https://guide.freecodecamp.org. Please use the [forum](https://forum.freecodecamp.org) or [gitter](https://gitter.im/FreeCodeCamp/home) for asking questions like these. This is for code-base related bugs and issues only.

[2018-10-16 14:31] #19520 closed

[2018-10-16 14:41] mihaisavezi commented on #19511
Starting again from scratch and I get the following error:

[code]

Again the relevant node packages are in the node_modules folder, so I'm blocked right now

deleting the files in ```client/src/pages/guide/translate-guide.js and translate-guide-old.js```, solves that.

[2018-10-16 17:29] arnas commented on #19344
Well it doesn't suggest explicitly. But it can give an idea that regex is good for searching in patterns in html. Well maybe it's just me,  if that the case I can close the issue.

[2018-10-16 18:52] Nirajn2311 commented on #19344
@arnas we could put that in the introduction page of regex
[
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions](url)

[2018-10-16 18:57] Nirajn2311 commented on #19346
@ezioda004 but that could be a problem for some people who have same usernames but the letters cases are different
For example

But

[2018-10-16 18:59] Nirajn2311 commented on #19277
@AdrianSkar could you close this as it has been solved. All guide files are now found in ‘/guide’

[2018-10-16 19:07] AdrianSkar commented on #19277
Sure @Nirajn2311. Thank you all!

[2018-10-16 19:07] #19277 closed

[2018-10-16 19:11] ezioda004 commented on #19346
@Nirajn2311 That shouldnt be a problem, fcc doesnt allow 2 same usernames with different case sensitivity.
If `NirajN` exists then one cannot take `Nirajn` or `nirajn`, you can test this out in the settings menu (change username validator).
So, it does look like the names are indeed stored as lowercases, so querying the DB with lowercase shouldn't be a problem.

[2018-10-16 19:17] ezioda004 commented on #19344
@arnas Except it's indeed fine to search for patterns in HTML strings. See [this thread](https://stackoverflow.com/questions/7167279/regex-select-all-text-between-tags).
- Parsing regex in HTML 👎
- Matching patterns in HTML strings 👍

I hope this clears it up.

[2018-10-16 20:16] arnas commented on #19344
@ezioda004 Well in that thread most of the people just provided the answer how to do it. But there is not one and not two who recommended against the idea to do it with regex.
Ofc in freecodecamp task regex is not used to get content between html tags. But like I said there should be at least a note that would say that regex is only valid in rare cases where you need to match pattern  in html stri

[2018-10-16 20:37] ezioda004 commented on #19344
@arnas As long as we're clear that pattern matching != parsing.

A cautionary note about parsing is fine by me. Something along the lines of:

[2018-10-16 20:47] ezioda004 commented on #18243
Closing this issue as it got resolved in https://github.com/freeCodeCamp/freeCodeCamp/pull/18287

[2018-10-16 20:47] #18243 closed

[2018-10-16 20:49] ezioda004 commented on #18256
Closing, as the issue got resolved in https://github.com/freeCodeCamp/freeCodeCamp/pull/18279

[2018-10-16 20:49] #18256 closed

[2018-10-16 20:58] arnas commented on #19344
@ezioda004 Yeah I agree with that. This note would suffice, but then maybe explanation is needed matching vs parsing? 😄

[2018-10-16 22:01] johnkennedy9147 commented on #18105
@maxdevjs @Chiouonthis Hi, you are both confusing template literals and placeholders.
You can have a valid template literal without using a placeholder.

There is a problem with this lesson as it does too much and there are many ways to produce the correct output and we need tests that pass for all valid.

Consider this solution for example
[code]
This would fail if we tested for the presence of 3

[2018-10-16 22:01] #18105 closed

[2018-10-16 22:43] kvmsc opened #19545 "Creating STL:Sort guide under stl-algorithms of cplusplus guide"

[2018-10-17 02:33] RandellDawson commented on #17712
@GT1man - Your code is incorrect.  These types of issues you are having are better discussed on the forum.  You have a typo.  JavaScript is case-sensitive.  If you are still having problems with this hint, click the Ask for Help button on the challenge.

[2018-10-17 05:54] jamesgeorge007 opened #19579 "Broken link within the game-dev section"
**The Docs link within arcade (game-development) section is broken.**

**[arcade](https://guide.freecodecamp.org/game-development/arcade)**

[2018-10-17 06:15] #19579 closed

[2018-10-17 06:52] davidk350 commented on #9765
Thanks for sharing this nice information.

[2018-10-17 06:52] davidk350 commented on #9765
The exercises are almost all copy-pasta. I like the projects and the challenges, but the learning exercises are almost a waste of time in my opinion. They tell you how to do something and then make you do it yourself, but the answer is almost always basically given. This makes it easy to breeze through exercises without learning anything.  [Asus live chat](https://www.asussupportnumber.com/asus-cu

[2018-10-17 07:29] thecodingaviator commented on #17922
@NiteshTyagi , I have just checked, this solution works-

![image](https://user-images.githubusercontent.com/34807532/47069331-4098db00-d20c-11e8-9231-4737a1eb671c.png)

@NiteshTyagi / @QuincyLarson / @raisedadead / @Bouncey this can be closed now

[2018-10-17 07:32] thecodingaviator commented on #17919
That @shvmsaini that selector does not matter afaik. Right now CodePen is offline, maybe someone will check when it goes online. I think this can be closed for now.

@raisedadead / @Bouncey

[2018-10-17 07:33] thecodingaviator commented on #17894
@HaleyJ1387 in that case please close this issue.

@QuincyLarson / @raisedadead

[2018-10-17 07:35] thecodingaviator commented on #18079
@QuincyLarson what do you suggest, either we can work on writing advanced RegEx tests for the repo or we can remove the rules from the challenge for now.

[2018-10-17 07:37] thecodingaviator commented on #17874
@QuincyLarson / @Bouncey , I think we should add this feature but I'm not really sure why someone would want to hack into my FCC account

[2018-10-17 08:41] shabab477 commented on #18104
Hi it has been 21 days since then so I decided to fix the issue because I was having a slow work day. :smiley:. Hope you didn't mind.

[2018-10-17 09:07] #17919 closed

[2018-10-17 10:41] thecodingaviator opened #19608 "Challenge does not show correct problem"
**Describe your problem and how to reproduce it:**
Type the code which I have(can be found in the picture)into the challenge and you will get an error that a normal learner cannot understand. I think it's with the internal checking system.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/data-visualization/data-visualization-with-d3/create-a-scatterplot-with-svg-circles

[2018-10-17 13:11] rajurajvijay619 commented on #19608
The actual solution should be something like this :
svg.selectAll("circle")
       .data(dataset)
       .enter()
       .append("circle")
       .attr("cx", (d) => d[0])
       .attr("cy", (d) => d[1])
       .attr("r", 10)

Kindly refer to this article : [https://www.dashingd3js.com/adding-an-svg-element](adding-an-svg-element)

[2018-10-17 13:16] thecodingaviator commented on #18966
Wkipedia demographics suggest that around 422,000,000 people speak Hindi as a first language, even if we can improve for 0.001% of those, we would have 4220 new people learning through FCC

[2018-10-17 13:18] thecodingaviator commented on #19608
@rajurajvijay619 that's not my point, my point is if I write wrong code that is not the solution, I should be told which part of the challenge do I not comply to not -
` Failed to execute 'insertBefore' on 'Node' : parameter 1 is not of type 'Node' `

What the hell does it even mean for a beginner?

[2018-10-17 18:33] chiffonsigh commented on #19324
I will do this

[2018-10-17 18:50] sksaju commented on #13466
const AVG_TEMPERATURES = {
  today: 77.5,
  tomorrow: 79
};

function getTempOfTmrw(avgTemperatures) {
  "use strict";
  // change code below this line
  const {tomorrow: tempOfTomorrow } = avgTemperatures;
  // change code above this line
  return tempOfTomorrow;
}

console.log(getTempOfTmrw(AVG_TEMPERATURES)); // should be 79

[2018-10-17 20:19] naviscript commented on #17299
@lalov1 Hey, this is my profile link: https://www.freecodecamp.org/naviscript - I would really appreciate, if you could help me. I just don´t get, how to fix it. It does not even show my progress in the form of a list.
<img width="715" alt="screenshot 2018-10-17 at 21 19 06" src="https://user-images.githubusercontent.com/24709369/47113953-4f09e580-d252-11e8-8252-491e8c3596d7.png">

[2018-10-17 21:14] rabindranathfv commented on #13157
any advance with this i try 2 solutions using local variables inside off function and does't work, and when i try to use slice or indexOf method for arrays the console told me "this xxxx is not a function"

[2018-10-17 21:21] chaomt opened #19671 "Add FAQ page to the homepage"
**Describe the bug**
It’s a little difficult to find FAQ page which is very useful and includes many helpful links.

**To Reproduce**
Basically, we need to click “forum” and then click the menu image. Then from the drop-down list, we can see FAQ.
<img width="1439" alt="screen shot 2018-10-17 at 17 24 42" src="https://user-images.githubusercontent.com/42958064/47117167-a2b80700-d231-11e8-9a0d-0b534

[2018-10-17 21:40] lalov1 commented on #17299
@naviscript It looks like it's only showing the last month. When did you create your account?

[2018-10-17 23:08] RandellDawson opened #19678 "Need to correct a typo in a Guide path"
**Describe your problem and how to reproduce it:**
While another PR, I noticed the path to the index.md file is for a guide article was:

when it really should be:

It is basically a typo in the path (**Dinamic** instead of **Dynamic**). Do we care about fixing these kinds of things or ignore them?

**Add a Link to the page with the problem:**

guide/english/c/Dinamic Memory Management/index.md

*

[2018-10-17 23:39] naviscript commented on #17299
@lalov1 Sine 1 year, but this should be fine. I did reset it 2 days ago. Do you see the green dots when you look at my profile? I did today 8 tasks. Can you see this or does it also not show up?

[2018-10-18 02:39] lalov1 commented on #17299
@naviscript I don't see any tasks completed. Are you sharing that information in your settings?

[2018-10-18 02:58] alhazen1 commented on #18265
@geeseyj Thank you.

[2018-10-18 03:20] alhazen1 opened #19693 "Rosetta Code: Equilibrium index assertion tests not working"
**The assertion tests on this challenge don't appear to be working correctly.**
 I peeked into console on dev tools and it looks to me that the tests are not passing test arrays to the solution. When I log out the value of parameter a this is what is displayed

`{text: "<code>equilibrium([-7, 1, 5, 2, -4, 3, 0])</code> should return <code>[3,6]</code>.", testString: "assert.deepEqual(equilibrium(t

[2018-10-18 03:40] MP7373 opened #19695 "Cursor moves out of find and replace box after typing the character 'e'"
I tried using the find and replace in the editor with Command + Option + F while doing a challenge and noticed that after typing the 'e' or 'E' character in the find or replace box my cursor would automatically move to the selected word on the page (out of the find or replace box and onto challenge editor section
![cursor moving out of find and replace](https://user-images.githubusercontent.com/11

[2018-10-18 06:13] albanmahmut commented on #19671
Do you mean somewhere close to the 'sign in'?

![freecodecamp](https://user-images.githubusercontent.com/31076993/47134613-9090a400-d2d7-11e8-81a9-14025ee5d6f1.png)

Something like that? @chaomt

[2018-10-18 06:51] saiyerniakhil opened #19699 "Add "Books on Java" feature in "Books to Read for Programmers""

[2018-10-18 06:52] #19699 closed

[2018-10-18 07:04] #19678 closed

[2018-10-18 07:31] thecodingaviator commented on #17495
@juandesouza as far as for the challenge switching problem after making typography responsive, I've tested it right now and it works. :)

[2018-10-18 07:38] thecodingaviator commented on #17487
The simple reason I think is that almost none of the articles is focused on one specific challenge and there is no point in putting links to the medium blog just for one or two challenges. Besides, the matter covered in the blog is mostly different from the FCC syllabus.

[2018-10-18 07:56] thecodingaviator commented on #17615
@Darkir Please close this issue

[2018-10-18 07:57] thecodingaviator commented on #17727
@BenjaminJenney if it is fine now, please close this issue

[2018-10-18 07:58] thecodingaviator commented on #17657
@MoatazAbdAlmageed since this has been fixed, please close the issue

[2018-10-18 08:06] JamyangLotus commented on #18883
Go to curriculum and go to the next unsolved challenge.

[2018-10-18 08:13] thecodingaviator commented on #17965
@nirmalathapa Going to https://learn.freecodecamp.org/front-end-libraries/react/compose-react-components?run=disabled should fix it. I think this can be closed now.

[2018-10-18 08:13] MoatazAbdAlmageed commented on #17657
Fixed #17657

[2018-10-18 08:15] MoatazAbdAlmageed commented on #17657
Fixed #17657

[2018-10-18 08:15] #17657 closed

[2018-10-18 09:00] nirmalathapa commented on #17965
I have checked it with all the possible wrong answer and it works :)

[2018-10-18 09:00] #17965 closed

[2018-10-18 09:14] mail-liam commented on #16983
Hi, I have opened a pull request that updates the tests to fix this issue.

[2018-10-18 09:35] ziaongit commented on #17379
`const squaredIntegers = arr.filter((arr) => Number.isInteger(arr) && arr > 0).map((arr) => arr = arr * arr);`

[2018-10-18 09:35] ziaongit commented on #17942
`const squaredIntegers = arr.filter((arr) => Number.isInteger(arr) && arr > 0).map((arr) => arr = arr * arr);`

[2018-10-18 09:40] thecodingaviator commented on #17899
Guys I think that since this issue is more related to our Classroom project, it should be opened there and this one closed for now?

[2018-10-18 09:41] thecodingaviator commented on #17962
Guys, is this fixed now? For me it's working fine. If so, please close it @Pastshelfdate

[2018-10-18 09:44] thecodingaviator commented on #17953
That is because the FreeCodeCamp rendering approach works on ` iframe ` and if you click on an internal link in a ` iframe ` afaik, it does not behave as expected.

[2018-10-18 09:49] thecodingaviator commented on #17886
@raisedadead / @Bouncey can you have a look? I tried this and without a `./` it's fine but with `./` I get `Cannot read property 'capitalizeString' of undefined` . I think the problem is that our code is testing for it in the same directory, but it's in node_modules so it does not work

[2018-10-18 09:50] thecodingaviator commented on #17886
See this for more info https://github.com/freeCodeCamp/curriculum/issues/95

[2018-10-18 09:51] thecodingaviator commented on #18030
@Tunde-James Its been fixed. Please close this issue

[2018-10-18 09:55] thecodingaviator commented on #18055
@ojeytonwilliams All repos have been merged as of now, please close this issue

[2018-10-18 09:57] thecodingaviator commented on #18170
@raisedadead / @Bouncey can you have a look?

[2018-10-18 10:36] RaspberryLime commented on #17299
Not sure if my issue belongs here or in a separate one, but it seems related. Streak is correct, tasks show up when completed fine, but the calendar at the top shows the wrong months.

I'm on an iPad if that's relevant, latest iOS, using Safari.

![acbe1216-22dc-4959-b885-3c357097f97d](https://user-images.githubusercontent.com/25120737/47148907-ef4f2100-d2c9-11e8-8fbc-af6f2a4857e0.png)

[2018-10-18 10:49] #18030 closed

[2018-10-18 10:49] Asjas commented on #18030
I'll close this. Re-open if it isn't fixed but it appears to be :+1:

[2018-10-18 11:39] cccntu commented on #18310
working on /docs/chinese/README.md

[2018-10-18 11:52] Nirajn2311 commented on #19671
@chaomt I can take this up if no one has started working on it.

[2018-10-18 12:14] thecodingaviator commented on #18209
@DarthOstrich seeing you're not up to this yet afaics I'm gonna give it a try

[2018-10-18 12:28] thecodingaviator commented on #18025
This was fixed in #19512 . @Bouncey / @Asjas  / @thecalicoder please close it

[2018-10-18 12:29] thecodingaviator commented on #18031
@snehansh Can you please either elaborate on this issue or close it if fixed?

[2018-10-18 12:30] thecodingaviator commented on #17863
@LBWright any progress?

[2018-10-18 12:35] thecodingaviator commented on #17814
@memilanuk since this has already been fixed:
![image](https://user-images.githubusercontent.com/34807532/47154628-73bc9680-d300-11e8-923a-4e58e63378ce.png)
please close this issue

[2018-10-18 12:38] thecodingaviator commented on #17756
@JohnnyBizzel add ?run=disabled in the end of the url you are referring about, that will fix it from auto running and creating an infinite loop

[2018-10-18 12:40] thecodingaviator commented on #17696
@syne612 / @Asjas please close this issue, seems fixed

[2018-10-18 12:40] thecodingaviator commented on #17677
@BenEar50 please follow up or close this issue

[2018-10-18 12:42] thecodingaviator commented on #17574
@ezioda004 / @P1xt this has been fixed by #19715 , please close

[2018-10-18 12:43] thecodingaviator commented on #17572
@JamesStaffordCoyte does this work for you too now, if so, please close this issue.

[2018-10-18 12:43] thecodingaviator commented on #17486
@QuincyLarson what about this? Seems interesting!

[2018-10-18 12:45] thecodingaviator commented on #17479
@C0nst4nt1ne85 please check if its fixed for you too, if not try add ?run=disabled at the end of the link and then trying, if that works, please close this issue

[2018-10-18 13:14] LBWright commented on #17863
@thecodingaviator I think I made the PR months ago.

[2018-10-18 13:38] csnoke23 opened #19760 "Can't complete Responsive Web Design Certification: CSS Flexbox - Create Grids within Grids"
![20181018 fcc](https://user-images.githubusercontent.com/17164144/47158356-b81c4800-d2a8-11e8-9513-8d355dbd026d.PNG)

**Describe your problem and how to reproduce it:**
The Responsive Web Design Certification: CSS Flexbox - Create Grids within Grids exercise will not complete and offers the message "item3 class should have a grid-template-columns property with auto and 1fr as values," on clicking

[2018-10-18 13:55] #18025 closed

[2018-10-18 13:56] #17696 closed

[2018-10-18 14:13] Nirajn2311 commented on #19760
@csnoke23 There is a spelling mistake in the css property. It should be **grid-template-columns** and not **grid-template-colums**.

Could you ask these kind of questions in the forum and cross check it first if it is a bug and then open an issue here.

[2018-10-18 14:16] memilanuk commented on #17814
Doesn't look fixed to me as of:

Google Chrome Version 69.0.3497.100 (Official Build) (64-bit)

[2018-10-18 14:27] C0nst4nt1ne85 commented on #17479
@thecodingaviator yes it is fixed.

[2018-10-18 14:27] #17479 closed

[2018-10-18 14:46] #19760 closed

[2018-10-18 14:47] Asjas commented on #19760
Hi @csnoke23

As @Nirajn2311 noted, please use the [freeCodeCamp forum](http://forum.freecodecamp.org/) or [gitter helproom](https://gitter.im/FreeCodeCamp/HelpFrontEnd) to ask for help with the challenges.

[2018-10-18 14:55] rajurajvijay619 commented on #19608
Yes. Agreed it doesn't tell you on which line the error is occurring and it's not informative enough.
But one simple google search about the "append()" function could lead you to the documentation and tell you what it expects :)
https://devdocs.io/d3~4/d3-selection#selection_append

[2018-10-18 14:58] ezioda004 commented on #17574
@thecodingaviator You've added in the guide not in the curriculum section.

[2018-10-18 15:24] ArielLeslie commented on #19693
I'll take this.

[2018-10-18 15:40] ArielLeslie commented on #19693
I'll own this.

[2018-10-18 15:52] #17962 closed

[2018-10-18 15:53] ArielLeslie commented on #19693
I would like to work this Issue.

[2018-10-18 16:31] mels065 commented on #19671
@Nirajn2311 I'm working on it

[2018-10-18 16:58] StubRavi opened #19794 "Auto scroll issue on FreeCodeCamp forum post"
**Describe the bug**
When trying to read this forum post,
 https://www.freecodecamp.org/forum/t/freecodecamp-algorithm-challenge-guide-sum-all-primes/16085
, it gets auto scrolled to
https://www.freecodecamp.org/forum/t/freecodecamp-algorithm-challenge-guide-sum-all-primes/16085/3 . I am unable to read that forum post because because web page auto scrolled upto a fixed position.

**To Reproduce**

[2018-10-18 17:55] thecodingaviator commented on #17814
@memilanuk in that case I’m not able to replicate your problem, can you please elaborate once again?

[2018-10-18 18:05] VioletLain opened #19901 "Adding An Applied Inclusiveness Section"
Note: This is a continuation of a previous discussion I had on the freeCodeCamp forums [1].

My suggestion is either to expand the scope of the Responsive Web Design Certification by adding section like the Applied Accessibility challenges, or to create a new section in the guide that focuses on this subject, similar to this link [2].

The goal of the section would be for teaching ways to make the

[2018-10-18 18:06] kontramot commented on #18966
I can translate to Russian.

[2018-10-18 18:16] thecodingaviator commented on #19608
@rajurajvijay619 Seems fine, but I think I'll leave this open for some more time and see if someone can respond as to why I'm getting that message

[2018-10-18 18:31] thecodingaviator commented on #17640
This is in my opinion a confusion with the user and not with our content.

[2018-10-18 18:34] thecodingaviator commented on #17195
Guys I'm not sure what the problem is since I'm not able to replicate it, can someone elaborate ?

[2018-10-18 18:48] RandellDawson commented on #19901
I am leaning toward most if not all of your ideas would be best placed into the Guide, but if you have an idea of how you would create a challenge for some of them, I would be interested to see how you envision it working.  The challenges tend to focus on syntax vs. concepts, so you can test it in some way.  Looking forward to what your ideas are on the subject matter presented here.

[2018-10-18 19:04] DarthOstrich commented on #18209
@thecodingaviator thanks! Yeah, I was having issues. Good work.

[2018-10-18 19:39] VioletLain commented on #19901
https://guide.freecodecamp.org/working-in-tech/unconscious-bias
I also found this in the guide already which may be well suited for the start of this section since many of the specific issues I mentioned all to some degree stem from this larger issue.

[2018-10-18 20:00] lynxlynxlynx commented on #17195
Read the linked bug if you are interested in the details.

[2018-10-18 20:03] jonathan-grah commented on #19671
@QuincyLarson, is this a change we want to make?

[2018-10-18 20:35] ezioda004 opened #20384 "[Bug] Data Visualization with D3: Learn About SVG in D3"
**Describe your problem and how to reproduce it:**
The following code doesn't pass the test.
[code]
but the following does:
[code]
### Why should the first snippet pass the test?

Because `style()` and `attr()` method works the same way in case of `height` and `width`. The `style()` method has been taught in previous lesson and we shouldn't restrict the solution to just 1 way.

Although in the des

[2018-10-18 23:12] aaronsum1102 commented on #18310
working on /docs/chinese/CONTRIBUTING.md

[2018-10-18 23:49] QuincyLarson commented on #18966
@thecodingaviator If we were to create a Hindi-language version, would you be interested in helping maintain it?

[2018-10-18 23:52] QuincyLarson commented on #18966
@kontramot Awesome - please open some pull requests helping us improve our existing Russian translations here: https://github.com/freeCodeCamp/freeCodeCamp/tree/master/curriculum/challenges/russian

[2018-10-19 00:08] ezioda004 commented on #18966
@QuincyLarson I'd be happy to help out as well. 😃

[2018-10-19 01:02] FranceJ commented on #19794
It looks like this an issue with the repl.it iframe added in oshliaer's comment.
The search field is getting focus on page load which is causing the page to scroll it into view. The behaviour can be replicated in this toy model: https://jsfiddle.net/up240m93/

Removing that comment or at least the iFrame should fix this if it is something that needs to be fixed.

[2018-10-19 01:27] tjsullivan1 opened #21176 "Misspelled directory name."
**Describe your problem and how to reproduce it:**
The directory below is meant to say 'create-file-with-specific-size'. Specific is misspelled as 'sepcific'.

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/tree/master/guide/english/linux/create-file-with-sepcific-size

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version

[2018-10-19 01:39] prosdkr opened #21200 ""Data Structures: Perform a Subset Check on Two Sets of Data" passes with no coding whatsoever."
**Describe your problem and how to reproduce it:**
Load up the "Data Structures: Perform a Subset Check on Two Sets of Data" challenge. Write NO code whatsoever. Reset the challenge if necessary to return to normal state.
The challenge will pass and be complete incorrectly.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/coding-interview-prep/data-structures/create-and

[2018-10-19 01:51] ezioda004 commented on #21200
Ah, seems like it's already reported https://github.com/freeCodeCamp/freeCodeCamp/issues/17856
Thanks for opening the issue. I'll close this since we're already tracking it.

[2018-10-19 01:51] #21200 closed

[2018-10-19 02:56] thecodingaviator commented on #18966
I would be!

[2018-10-19 02:58] thecodingaviator commented on #17814
They aren't working for me probably because I have a lesser resolution. Will leave this for someone else

[2018-10-19 02:58] thecodingaviator commented on #17574
Or, for now we can get rid of the challenge itself?

[2018-10-19 03:14] ezioda004 commented on #17574
Getting rid of challenge isn't that easy.
Besides, if we do get rid then lifecycle methods would be incomplete.

Regardless, this need to discussed with the core team.

[2018-10-19 04:10] thecodingaviator commented on #17574
We could also change it to ` UNSAFE_componentWillMount() ` i.e. how it is used now

[2018-10-19 04:13] thecodingaviator commented on #20384
` attr ` will make it ` <svg height="100px" width="100px"> ` while ` style() ` will make it ` <svg style="height: 100px; width: 100px;"> ` . See the difference?

[2018-10-19 04:46] b-man157 opened #21566 "Two article versions on same topic"
@raisedadead

**Describe your problem and how to reproduce it:**
 I noticed that the /guide/english/cplusplus has 2 seperate sections on 'inline functions' with much in common inbetween them.

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/tree/master/guide/english/cplusplus

**Tell us about your browser and operating system:**
* Browser Name: Google Chro

[2018-10-19 05:01] theogoulart commented on #18309
I'll be helping on this one.

Just one question, should we translate PT-PT to PT-BR? For example, in PT-PT "corre" means _execute_, but it has totally different meaning in PT-BR (_sprint_). In this case, I would substitute it by "executa", the correct translation.

[2018-10-19 05:31] leoking-crey commented on #21176
i am taking this issue

[2018-10-19 06:12] abutbul opened #21782 "non-realistic examples in bash-cd article + new usage clause"
**Describe your problem and how to reproduce it:**
Not a bug, but just not the best folder names to give as an example when demonstrating *nix based tools such as bash. (albeit the recent rise in windows running subsystems- you would still find an underlying linux virtualization which will most likely have these folder names)

Also adding additional usage for cd command - very useful.

**Add a Lin

[2018-10-19 06:30] abutbul opened #21829 "ssh documentation lacks some information"
**Describe your problem and how to reproduce it:**
this needs more work, but to begin a process - adding the proper acronym explanation (which is almost 50% of understanding the topic) and reducing misinformation about identifiers. also some explanation on the benefit of using this tool compared to its predecessor

also adding basic usage and giving some more basic understanding of this tool

**Ad

[2018-10-19 06:42] TotallyNotChase commented on #21829
I created a pull request for adding some basic information. Still need to correct the misinformation about identifiers.

[2018-10-19 06:45] theogoulart commented on #18307
Sorry, I opened a bad PR regarding README.md but already closed it. I found there was still an English part to be translated #21848

[2018-10-19 07:41] eliandoran opened #22031 "`Cannot read property ‘getTime’ of undefined` in profile heat map"
**Describe the bug**
After resetting the progress on my profile, my heat map section would no longer work. More specifically, the squares will not become colored, even if the tool tip for individual squares works correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to my public profile (https://www.freecodecamp.org/eliandoran/).
2. Notice the heat map does not contain any colored bo

[2018-10-19 07:43] eliandoran commented on #22031
Please note that the "My time line" section is also missing, probably as a direct consequence to the script error described above.

[2018-10-19 07:44] pr0PM opened #22040 "the guide is showing false code"
**Describe your problem and how to reproduce it:**
the code in guide uses ambiguous colors for UPPERCASE.

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name: Mozilla
* Browser Version:
* Operating System: Ubuntu

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2018-10-19 07:54] Nirajn2311 commented on #22040
@pr0PM could you post a screenshot and the link to the guide artcile.

[2018-10-19 10:08] dogomeodenzoy commented on #10558
var result = myNoun +", " + myAdjective +", " + myVerb + ", " + myAdverb + ", " ;

[2018-10-19 11:02] snehansh commented on #18031
closed

[2018-10-19 11:02] #18031 closed

[2018-10-19 13:18] ArielLeslie commented on #19608
That's not a message generated by Free Code Camp. That's a true blue syntax error.

[2018-10-19 15:39] esnufkin commented on #18966
I'll do Chinese!

[2018-10-19 15:43] elturky opened #23042 "let's do it"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2018-10-19 15:44] elturky commented on #23042
training

[2018-10-19 15:55] ezioda004 commented on #23042
Hi @elturky,
This section is for issues regarding the fcc codebase.
If you have any questions please go to our forums or our contributors chatroom.

[2018-10-19 15:55] #23042 closed

[2018-10-19 16:48] thecodingaviator commented on #19608
@ArielLeslie so from what I understand, it’s not correctable on our part. Right?

[2018-10-19 17:23] ArielLeslie commented on #19608
It doesn't really need correction. If you attempt to run that code in a real environment, you'll get that exact error. If we attempted to intercept error messages and print something else, not only are we setting ourselves up for a lot of work for little gain, but students wouldn't see standard error messages that they could google.

[2018-10-19 17:53] johnkennedy9147 commented on #22040
I can see this when viewing the source in Github https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/python/for-loop-statements/index.md, but it is not present in the guide as published. So this appears to be an issue with githubs displaying of markdown and not the guides therefore closing this issue.

[2018-10-19 17:53] #22040 closed

[2018-10-19 18:13] thecodingaviator commented on #19608
@ArielLeslie Ahh I see. Clears up my doubt

[2018-10-19 18:13] #19608 closed

[2018-10-19 18:42] lalov1 commented on #17299
@RaspberryLime That seems like a break point issue. Have you checked it with other devices and is it portrait or landscape mode?

[2018-10-19 18:48] RandellDawson opened #23349 "Guide article mistakenly added to a new freeCodeCamp root directory"
**Describe your problem and how to reproduce it:**
A directory was added with a new root folder named **freeCodeCamp** instead of being in the **guide** folder. via PR #19011.

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/tree/master/freeCodeCamp/guide/english/book-recommendations/javascript

**Tell us about your browser and operating system:**
* Browse

[2018-10-19 19:44] RaspberryLime commented on #17299
It was in landscape mode. I don’t have a computer right now to check there. On my iPhone the page doesn’t adjust correctly in either landscape or portrait but I can get the graph to show. Would this be better as a separate issue?
![0f0ce626-0243-4dd4-b57e-82bbd7deb5a6](https://user-images.githubusercontent.com/25120737/47240214-97a2d980-d3df-11e8-8c45-6936137f8f4b.png)

[2018-10-19 20:14] doeppler opened #23480 "Push Request To Add Articles"
Hello,
I just wrote an article for freecodecamp and I don't want it to go to waste. It is about WordPress and how to get started with it.

[2018-10-19 20:17] stearruda commented on #18309
Is the issue completed? I can also help with any Portuguese translations.

[2018-10-19 20:32] ezioda004 commented on #23480
Hi @doeppler,

Dont worry we'll look at your PR and if it follows our guideline, rest assured it'll be merged.
Please be patient as we have a lot of PR's as you can see (3300 and counting) it might take a while to get to yours.

I'm closing this issue as it's not regarding any issue or bug.

Thank you for your patience and happy coding.

[2018-10-19 20:32] #23480 closed

[2018-10-19 20:57] chaomt commented on #19671
Yes!

[2018-10-19 21:01] RandellDawson commented on #23349
Was fixed by PR #23458

[2018-10-19 21:01] #23349 closed

[2018-10-19 21:24] Danyl007 opened #23559 "Curriculum Kicks me out"
When logging in i’m taken to a welcome page with my name, asking me to take part in a survey. When I click the ‘Go to the coding curriculum’ it take me to freecodecamp as if i’ve never logged in , no progress , no name, and the sign in button appears again. I hit sign in and it takes me to the start again. I’ve tried clearing cache, restarting computer, I’ve verified this is the correct email acco

[2018-10-19 21:31] Danyl007 commented on #23559
Troubleshooting:
Chrome: sign out, clear cache, flush dns, fresh re-install of chrome, all with restarts.
Firefox: 'as above'
Create new FCC test account + all previous steps.
New Computer: All previous steps.
Same issue every time.

[2018-10-19 21:40] sofiabsilva commented on #18309
I can help as well, if it's still needed.

[2018-10-19 22:07] bubblebenj commented on #17373
You are precisely asked to create the property if it doesn't exist:

So `updateRecord(5439, "artist", "ABBA")` should add `"artiste": "ABBA"` to the JSON.

[2018-10-19 23:09] dave-todd commented on #23559
I also have the same issue.
I also have tried all steps mentioned above.
I have tried multiple browsers and devices with consistent results, so I believe it isn't device dependant.
There seems to have been approximately 10 people all with this issue all posting on forums on the same day.
I would assume there are many more that didn't take the time to post.
The severity of the bug is such that it d

[2018-10-19 23:20] zainafzal88 commented on #23559
Please solve this bug as soon as possible.
It is slowing me down from my targets each day since yesterday.

[2018-10-20 00:09] kelvinromero commented on #18487
@iAziz786 I'm new on this too. But if you need help, I would like to work on this issue too.

[2018-10-20 00:15] ezioda004 commented on #17574
@thecodingaviator And introduce new challenge while changing this to `UNSAFE_componentWillMount()`?
There are 2 issue with that:
1. That'd require adding new challenge, which we're hoping to avoid.
2. Teaching deprecated methods should be avoided as much as possible. We'd like to keep the information in the challenges relevant.

[2018-10-20 00:36] jellyskin commented on #23559
Am also experiencing the same issue - I have also tested all the above solutions and troubleshooting steps.  Not sure if this is just limited to a small number of users.

[2018-10-20 02:07] chestnuto commented on #23559
I started using FCC a couple days ago and am now experiencing this problem.

Performed the same troubleshooting steps as everyone else which lead me to trying a brand new account where I hit the same issue immediately.

[2018-10-20 02:15] ezioda004 commented on #23559
Hi everyone,

Thank you all for reporting this issue.

I'm not sure whats causing this login issue, but I'll tag the members who handles this.
We'll try to fix this ASAP.

Meanwhile, please be patient.

Thank you.

Tagging @QuincyLarson @raisedadead @Bouncey for visibility.

[2018-10-20 03:56] Chibi1 commented on #23559
Me too :(

[2018-10-20 04:16] clickr commented on #23559
Me too. Problem occurs across multiple browsers and devices (OSX - safari, chrome, firefox; iOS - safari).
1. Login successful
2. After navigating to the curriculum page, progress indicator on top RHS changes to a yellow button `<li class="sign-in-btn"><a href="https://www.freecodecamp.org/signin" target="_blank" class="btn-cta btn btn-default">Sign In</a></li>` with no history

[2018-10-20 04:17] MattB1 commented on #23559
I'm also experiencing this issue!
I've tried all the steps from above as well.

[2018-10-20 04:31] RandellDawson commented on #23559
@Danyl007 You did not specify what operating system, browser, or browser version you are using when experiencing this.  When reporting an issue, those are sections which are very helpful to those investigating such issues.  Also, anyone else with the same issue should also reply with what their operating system, browser, and browser version is.

Thank you.

[2018-10-20 04:48] KeiVanIndo commented on #18966
@QuincyLarson  Is it possible to have an Indonesian language version also?
I'd like to help with the translation...

[2018-10-20 05:13] rmklaus12 commented on #23559
I am experiencing it as well. I have tried on Chrome, Firefox, and Opera on a MacBook Pro as well as Firefox on a MacBook Air. I have cleared history/cache, rebooted, signed out and back in using email (not via GitHub).
MBP: Mohave 10.14
Chrome: Version 69.0.3497.100 (Official Build) (64-bit)
Firefox: 62.0 (64-bit)
Opera: 56.0.3051.52

[2018-10-20 06:45] ronalddtang commented on #23559
@RandellDawson Sure no problem
Windows Version 10.0.16299 Build 16299
Chrome Version 70.0.3538.67 (Official Build) beta (64-bit)
firefox: 62.0.3 (64-bit)

Like @Rajucec75 has quoted in his images, I also get the yellow sign-in button even though when I click on the homepage / sign in, I get taken to the landing page quoting my name.

Tried both github and email login methods.

![image](https://use

[2018-10-20 06:52] ezioda004 commented on #17574
@thecodingaviator It's not same. Every challenge has an associated unique ID with it - so even if the update may seem like a new challenge, it's simply replacing the old one.

[2018-10-20 07:06] thecodingaviator commented on #17574
Oh okay

[2018-10-20 07:25] mail-liam opened #24026 "Object Oriented Programming: Understand the Constructor Property returns boolean values in example"
**Describe your problem and how to reproduce it:**
Following the discussion in [#18925](https://github.com/freeCodeCamp/freeCodeCamp/issues/18925), here is another instance of an example (`joinBirdFraternity`) returning boolean values instead of using a boolean expression. Do we want this to be brought in line similar to the changes being made there?

**Add a Link to the page with the problem:**
h

[2018-10-20 08:28] Liight commented on #23559
I have the same issue.
When accessing the curriculum, at first it appears I am signed out.
However I am not signed out, rather I am not signed into the curriculum.
I cannot successfully sign into the curriculum.
Other signed in areas operate as normal.
I have deleted browser cookies and cache, this has no effect.
The issue is common across Chrome, Firefox and Internet Explorer browsers.
This issue

[2018-10-20 09:43] shahzaib919 opened #24137 "Not Plagiarized from https://www.cs.rit.edu/~vcss242/Lectures/04/dijkstra-stu.pdf"
_Originally posted by @Manish-Giri in https://github.com/freeCodeCamp/freeCodeCamp/pull/23383#issuecomment-431540703_

[2018-10-20 09:45] shahzaib919 commented on #24137
It isn't at all plagiarised from the mentioned website none of the words matched with mine.

[2018-10-20 09:45] #24137 closed

[2018-10-20 09:45] clickr commented on #23559
If this is not universal could there be a geographic component to this? At a meetup here in Perth Western Australia multiple people had this same problem.

[2018-10-20 10:31] vbergaaa commented on #23559
Coming here to report I have the same issue. I am also an Australian in Mascot, Sydney.

The sign out was more noticeable for me as the first page (saying I was logged in) was in night mode and the curriculum was showing a bright white background. As I completed challenges I was able to progress through the curriculum, however, when I re-logged in, I had to re-complete those challenges. (previous

[2018-10-20 10:58] rmklaus12 commented on #23559
I am also in Australia, Melbourne. I reported the issue earlier, but seen
these posts from fellow Australians and wanted to chime in.

On Sat, Oct 20, 2018 at 9:39 PM vbergaaa <notifications@github.com> wrote:

[2018-10-20 11:33] #18186 closed

[2018-10-20 12:01] tfantina commented on #24026
Based on what I've read from  [#18925](
https://github.com/freeCodeCamp/freeCodeCamp/issues/18925), @mail-liam are you thinking of something like: `return "Can Join"
} else {
return "Can not join?"}
`
Do you want to use the ternary operator?
If that's what your thinking and there is a consensus I'd be happy to make this little change.

[2018-10-20 12:04] clickr commented on #23559
OK. It's a geographic issue. Problem solved if I use a VPN to the US. Reoccurs if I revert back to Australia.

[2018-10-20 12:11] clickr commented on #23559
Works with Singapore and Indonesia VPNs. Fails with Australia and New Zealand.

[2018-10-20 12:15] ronalddtang commented on #23559
that might be the case, as I am also from Brisbane, Australia

[2018-10-20 12:28] #17542 closed

[2018-10-20 12:38] raisedadead commented on #23559
Hi All.

Thanks a lot for the issue report.

We are working with https://netlify.com (our CDN partner) to understand this better. Meanwhile I recommend keeping this thread **for potential solutions only**.

[2018-10-20 12:41] raisedadead commented on #23559
The current workaround stands at using a VPN.

[2018-10-20 13:02] zainafzal88 commented on #23559
Thanks for the update and this workaround. Hope admins for FCC, will soon find a proper fix for it.

On 20 Oct 2018, at 11:46 pm, mrugesh mohapatra <notifications@github.com<mailto:notifications@github.com>> wrote:

The current workaround stands at using a VPN.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/freeCodeCamp/freeCodeC

[2018-10-20 13:04] Kyle-S-Thompson commented on #23559
I wanted to provide a link to this post from Quincy through FCC, detailing how to set up a VPN in just a few minutes (as well as some privacy info.)

**For those that are not sure where to start with a VPN**: https://medium.freecodecamp.org/how-to-set-up-a-vpn-in-5-minutes-for-free-and-why-you-urgently-need-one-d5cdba361907

_(delete if not allowed)_

[2018-10-20 13:12] charubansal12 commented on #21176
I can take this up

[2018-10-20 13:15] raisedadead commented on #18966
Hi Everyone,

Thanks for the issue. Right now we are planning for the 5 languages that we have mentioned in the README.

You are more than welcome to contribute to more languages, however please note that we do not have an ETA on when those will go live into production.

The best way would be to generate user feedback on the community forum and other social channels.

We are closing this thread, b

[2018-10-20 13:15] #18966 closed

[2018-10-20 14:03] #18325 closed

[2018-10-20 14:03] raisedadead commented on #18325
This is resolved.

[2018-10-20 14:04] raisedadead commented on #11812
Please send an email to `team@freecodecamp.org`. Thanks.

[2018-10-20 15:39] alanpaulprice commented on #19057
I've made a PR to add an explanation of the _ notation [here](https://github.com/freeCodeCamp/freeCodeCamp/pull/24362):

[2018-10-20 16:14] rperry99 commented on #17826
Sorry I didn't reply to this sooner. For some reason, it was telling me I couldn't. Anyway, No, I am not experiencing this anymore. I was able to get my certificates. I completely forgot I posted here or I would have updated it.

I am not sure what I did to fix it. I think it was an issue with the way I connected the website to github or something.

[2018-10-20 16:43] iAziz786 commented on #18487
@kelvinromero Can you reproduce this issue?

[2018-10-20 16:52] TomerPacific opened #24455 "Rephrasing ES6: Use * to Import Everything from a File"
**Describe your problem and how to reproduce it:**
The last 2 paragraphs of the exercise could use a rewording and some adjustments as they do not get the point across.

I.E.

The above line could use a refactoring of the statement for better readability.

Maybe consider saying, **In order to utilize this method, an object is required**

**Add a Link to the page with the problem:**
[Challenge](htt

[2018-10-20 17:42] ggurbet opened #24526 "Moving all external images into the repository"
Some challenges use links to external images. These images are subject to change and can be unreachable at some point. Also some of the websites are blocked for some people (I am from Turkey and imgur is blocked here for example). Can we create an images folder and instead of linking to these external sources, link them from inside the repository?

An example challenge is: [Applied Visual Design:

[2018-10-20 18:08] ezioda004 commented on #24455
Hi @TomerPacific,

Thank you for opening this issue.
I agree the verbiage can be improved in this challenge.

Can you explain this sentence?

Which method are you referring to? If you meant `import * as` then it's a statement.
I think something like:

Its not perfect but certainly more clear as to what needs to be done relative to the current challenge's text.

[2018-10-20 18:10] dkcr7 commented on #19346
There's no point doing so. As if you wanted to use the username in capital letters, then lowercase won't be supported and vice-versa.

[2018-10-20 18:37] alanpaulprice opened #24573 "Guide: Let and Const - Unwanted underscores in search result and incorrect URL"
**Describe your problem and how to reproduce it:**
* Visit [https://search.freecodecamp.org](https://search.freecodecamp.org)
* Search "let const"
* Note how there is a result named "Guide: Let_and_const", instead of "Guide: Let and const"
* Click on the "Guide: Let_and_const" search result
* The resulting page displays a "404 - Page not found"

If you edit the URL, replacing the `_` with `-`, it

[2018-10-20 18:38] TomerPacific commented on #24455
@ezioda004 ,
The following sentence:

Was an example of a sentence that in my mind, could use some rephrasing.

**I think you are reading my comment the wrong way. The quoted text is copied directly from the challenge's description. I gave excerpts to emphasize where the description could use some polish.**

You can see the entire paragraph in the screenshot I took.

What I suggested was referring

[2018-10-20 18:54] ezioda004 commented on #24455
Right, what I suggested was to replace the whole instruction text because:

Doesnt make a whole lot of sense. There is no "code below" and there is no "object provided". The namespace object used is arbitrary (as long as its a valid identifier and is not a reserved keyword).

[2018-10-20 19:39] QuincyLarson opened #24632 "The APIs and Microservices Certification is now missing from curriculum and translations"
The APIs and Microservices Certification is now missing from curriculum and translations:

![freecodecamp_curriculum_challenges_english_at_master_ _freecodecamp_freecodecamp](https://user-images.githubusercontent.com/985197/47259846-bb186380-d475-11e8-9fc1-7a6a6cbf74d9.png)

We need to add this certification and its translations back in.

[2018-10-20 20:41] RandellDawson opened #24688 "Restart CI for failed jobs"
I am helping out with the QA process and applied a filter using status:failure and see over 1500 open PRs with red Xs indicating something failed.  The following types of errors are showing up in this list.

**Unable to find './azure-pipelines.yml'**
![image](https://user-images.githubusercontent.com/5313213/47260262-c3b86c00-d46c-11e8-991d-012c713523aa.png)

Travis CI errors involving folder name

[2018-10-20 21:01] dingjy94 commented on #18310
Hi @raisedadead ,
I plan to work on  /docs/chinese/how-to-work-on-coding-challenges.md.

However, some of these contributing documentations are a mix of Traditional and Simplified Chinese. I can only do it in Simplified Chinese so I want to make sure which version of Chinese you actually prefer?

[2018-10-20 22:30] rmklaus12 commented on #23559
Yes! It works to use the free Opera VPN. Thank you for this!

On Sun, Oct 21, 2018 at 12:10 AM Zain Afzal <notifications@github.com>
wrote:

[2018-10-20 22:47] Ahmed-Elbessfy commented on #18312
I can help with Arabic #18311 translation but I have a problem with Document Direction as Arabic is RTL Language. Is there a solution for this issue ?

[2018-10-20 23:04] enmcewan commented on #17479
Did not work on Win 10 Chrome Version 70.0.3538.67 (Official Build) (64-bit)
Worked on Firefox Quantum 62.0.3 (64-bit)

[2018-10-20 23:05] zainafzal88 commented on #23559
For users who prefer to use Chrome:

  1.  Install SetupVPN extension from Chrome web store
  2.  Create an account
  3.  Choose your country(I used UK)
  4.  Access FCC

Should work (mine does)
If it doesn’t let me know, I’ll do what I can to help

From: Kyle <notifications@github.com>
Sent: Sunday, October 21, 2018 12:10 AM
To: freeCodeCamp/freeCodeCamp <freeCodeCamp@noreply.github.com>
Cc: Zain

[2018-10-20 23:40] RandellDawson commented on #24688
Here is another error I am seeing:
![image](https://user-images.githubusercontent.com/5313213/47261579-d5a70880-d486-11e8-906b-0cf5d13eef15.png)

[2018-10-21 00:47] tom-raley commented on #24573
I'd like to work on this if no one has been assigned yet!

[2018-10-21 01:33] moT01 commented on #19346
@dkcr7 I don't understand what you are getting at, no point in doing what?

[2018-10-21 01:43] QuincyLarson commented on #24688
@Bouncey @raisedadead Do you have any ideas for how we could do an automatic rebuild of these failing PRs? I think it would be worth the time to figure out such a way since this has come up a lot in the past and manually triggering these builds isn't a great use of our contributors' scarce time.

[2018-10-21 01:46] RandellDawson commented on #24688
@Bouncey , @raisedadead I found travis-ci/travis.rb#344 on how to restart the build process for PRs which failed. This would make it so that no one has to manually restart the 1500+ PRs which have failed in the last 2 days due to the uppercase folder issues @Bouncey fixed earlier today. Not sure if this particular solution will work, but it gives me hope there is a way to automate these. Another o

[2018-10-21 01:47] RandellDawson commented on #24688
I manually restarted about 50 a few hours ago and about 20-30 this morning.  I finally decided to give up in hopes of an automated solution.

[2018-10-21 04:39] freginold commented on #19695
Happens to me too (Windows 7), runs the query when you type the `e`/`E` then moves out of the box on the next keypress.

[2018-10-21 05:28] hathway01 commented on #17304
can is work on this ?

[2018-10-21 05:32] prateekgoel commented on #24573
@alanpaulprice Go ahead with the fix.
@tom-raley In case @alanpaulprice is not working on it, you can proceed. Meanwhile, you can contribute to other issues. Your contributions are much appreciated. :)

[2018-10-21 06:34] #21176 closed

[2018-10-21 07:07] parthparth commented on #24526
We can host them on GitHub for one solution

[2018-10-21 08:00] leebut commented on #24688
Sorry, I contributed to one of them by not having the file named index.md, which I think I understood after reading the log a second time. I was responding to the Hactoberfest mailing. I was perhaps being to hasty.

[2018-10-21 08:12] elcodex opened #25035 "Variable is not declared in the challenge code"
Tests run with the error: "assignment to undeclared variable currentNode".
It happens because a variable "currentNode" is not declared in the method this.add in the challenge code (not in the student code).

Link: https://learn.freecodecamp.org/coding-interview-prep/data-structures/remove-elements-from-a-linked-list

Steps to reproduce:
1. Open the challenge.
2. Click the button "Run the Tests".

[2018-10-21 08:54] adamdune commented on #18128
I am having the same issue with my Full Stack Certificate

[2018-10-21 10:30] diewo77 commented on #17397
I have the same problem even if my name is there,

Username in freecodecamp is: diewo77

[2018-10-21 12:47] raisedadead commented on #24688
I have left a cron job running on a VM. The output from the machine is available over stream here: <https://seashells.io/v/xQUVgC5E> This might take a long long time.

[2018-10-21 12:50] raisedadead commented on #24688
The output may not make much sense, but I did use the Python script. It should be able to restart the builds. Let's see how it goes.

[2018-10-21 12:52] raisedadead commented on #24688
That said, I am afraid of hitting some limit or the other over 2000+ restarts.

[2018-10-21 12:52] mail-liam commented on #24026
Sounds good to me! "Birds are welcome!" and "Sorry, only birds may join." are what I was thinking of, but shorter is probably better as far as the examples are concerned.

[2018-10-21 13:28] alanpaulprice commented on #24573
@tom-raley I'm going to try fixing it, but if I can't figure it out, I'll pass it on to you!

[2018-10-21 13:55] raisedadead commented on #24688
The jobs are restarting. I hope in a few hours everything will be queued.

[2018-10-21 14:32] raisedadead commented on #24688
The restart of most buils is complete. 575 of them did not go thru.

[2018-10-21 14:58] MatheusRV opened #25335 "All Contributors"
I believe that a good way to value project developers is to use https://github.com/kentcdodds/all-contributors that allows all employees to be rewarded for any task they may perform. What do you think? Can we implement this here?

[2018-10-21 15:11] #12350 closed

[2018-10-21 15:13] #18081 closed

[2018-10-21 17:34] Adityaaimethicalhacker opened #25448 "> * [x] vihgdd I have read [free Code Camp's contribution guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md)."
I love to code

_Originally posted by @Adityaaimethicalhacker in https://github.com/freeCodeCamp/freeCodeCamp/pull/25436/comment#issuecomment-431687938_

[2018-10-21 17:43] #25448 closed

[2018-10-21 19:42] suhailsinghbains commented on #17347
Hi, I'll send a PR, I think I have the skills to close this issue.
Thanks

[2018-10-21 20:10] SaurishS commented on #25335
I believe that this could work.

[2018-10-21 22:34] svitlana-galianova commented on #18308
Hi, is anyone working on README translation? I'd like to help out here 😄

[2018-10-21 22:34] empty-god opened #25676 "Regex Specify matches is used before it is taught"
**Describe your problem and how to reproduce it:**
The Regex Challenge Restrict Possible Usernames uses the knowledge gained from Specify Upper and Lower Number of Matches and its following challenge. They should probably placed before or the Restrict Usernames challenge be placed after.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/

**Tell us about your browser and

[2018-10-22 04:33] charlottetan commented on #15819
I'm not able to reproduce the issue with the code snippets in this thread, this issue can probably be closed.

[2018-10-22 04:44] charlottetan commented on #13999
Challenge url seems to have moved to
https://learn.freecodecamp.org/data-visualization/json-apis-and-ajax/get-json-with-the-javascript-xmlhttprequest-method/

Additionally, I'm no longer able to repro this. The code snippet posted above completes the challenge successfully.

[2018-10-22 07:20] dingjy94 commented on #18310
working on /docs/chinese/how-to-catch-outgoing-emails-locally.md

[2018-10-22 09:26] ezioda004 opened #25829 "Update text in Sort an Array Alphabetically using the sort Method Challenge"
**Describe your problem and how to reproduce it:**
This challenge has an example of sorting like this:
[code]
This example uses a bad compare function. In recent changes to Chrome the following example no longer properly sorts the array:
[code]
The compare function needs to return a number `1, 0 or -1` to be able to sort an array properly.

#### Note: The previous example worked properly in Chrome

[2018-10-22 09:50] RaspberryLime commented on #17299
What is your new account? If they can't see the problem then it'll be much harder for it to be fixed.

[2018-10-22 10:14] RaspberryLime opened #25835 "iOS asks if I want to log in even though I already am logged in"
![543f99a2-a859-4e13-971f-44649bbe74a2](https://user-images.githubusercontent.com/25120737/47287178-5120cb00-d5e9-11e8-986b-3d1b23dcfa65.png)

I'm using an iPad, with iOS 12.0.1, and Safari. Landscape mode, though it happens in portrait mode too.

Steps to reproduce.

1. Log in to freeCodeCamp.org (I use GitHub).
2. Click on the Settings link at the top.

I can't view the source code to check what

[2018-10-22 10:29] RaspberryLime opened #25838 "iOS - visual glitch - Save button truncated on Settings page"
**Describe the bug**
The "Save" button is truncated next to  the "Username" input field.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to freeCodeCamp.
2. Go to the "Settings" page.
3. See the "Save" button is truncated next to the "Username" field.

**Expected behavior**
Button should be fully readable.

**Screenshots**
If applicable, add screenshots to help explain your problem.
!

[2018-10-22 11:48] RandellDawson commented on #25829
[code]
The above return statement only returns 1 or -1.  To preserve the original order for elements which have the same value, you need to test for the condition where they are equal.  For example, to preserve an elements original order when equal, you would write:
[code]
While in this particular example, you may not be able to see the difference, I will show a different example below, where the

[2018-10-22 11:52] johnkmzhou opened #25863 "Stock Price Checker REST Best Practice and Unclear Instructions"
For the [Information Security and Quality Assurance - Stock Price Checker](https://learn.freecodecamp.org/information-security-and-quality-assurance/information-security-and-quality-assurance-projects/stock-price-checker/) project, sending back the like in a GET is a bad practice. GET should be idempotent. It would probably be a better idea to do it in a PATCH.

Also if you actually restrict your

[2018-10-22 12:10] rpjayasekara commented on #25829
I am interested working on this issue

[2018-10-22 13:07] b3u opened #25907 "New Language for the Guides?"
Hey all,
I would love to contribute to freeCodeCamp and give back from the knowledge I've learned. I'm most comfortable in html and css, not so much javascript, so I can't fix the bugs. I know a foreign language, Hebrew, and although it's not listed in the languages freeCodeCamp is working on, I figured, why not? @QuincyLarson How should I go about introducing this language to the guides/curriculu

[2018-10-22 13:16] ezioda004 commented on #25829
@RandellDawson Although the example used in the original text doesn't require ordering I agree adding `0` would be fine.
As much as I like ternaries, I'm not in favor of nested ternaries. As a general rule they [shouldnt be nested](https://github.com/airbnb/javascript#comparison--nested-ternaries). If possible I'd keep the text challenge clean and readable. Maybe the good ol' if statements are fin

[2018-10-22 13:32] RandellDawson commented on #25829
Let's see what @ezioda004 says after my last reply, before we assign it to you.

[2018-10-22 14:00] Nirajn2311 commented on #25829
Yeah, even I think it is better to make it in the form of `if else statements` as many people still get confused with nested ternaries.

[2018-10-22 14:58] ArielLeslie commented on #25335
https://www.freecodecamp.org/forum/t/announcing-our-freecodecamp-2018-top-contributor-award-winners/201353

FCC has literally thousands of people who contribute to our community by leading discussions, helping each other, sharing resources, reporting bugs, and so on. A running list of them would be totally unmanageable. However, FCC has begun naming "Top Contributors" annually and they do not cons

[2018-10-22 15:29] utkarsh-raj commented on #25829
I would take a different perspective here. For the purposes of the tutorial, I suggest that nested ternaries are the way to go. If people do get confused, this will encourage them to look up their doubt and they will be better versed with ternaries for later.
I have opened a PR with the edit implementing nested ternaries.

[2018-10-22 16:10] RaspberryLime commented on #19346
I'm sure I signed up as RaspberryLime, but fCC displays it in lowercase instead. I think that when checking to see if a username is available when signing up or changing a username that it should be a case insensitive search (so there isn't RaspberryLime and raspberrylime), but otherwise the user should be able to choose the capitalisation they want.

[2018-10-22 17:26] pork-steak opened #26126 "** closed temporarily for concerns [Important]"
closed temporarily for concerns

[2018-10-22 17:31] ezioda004 commented on #25829
@RandellDawson On second thought, and the fact we already have a nested ternary lesson in basic JS section. I think it's fine to use a nested ternary.

@utkarsh-raj Good point as well.

[2018-10-22 17:32] #26126 closed

[2018-10-22 17:43] RandellDawson commented on #25829
Make sure to reference that it closes this issue # if you have not already done so.

[2018-10-22 17:54] TomerPacific commented on #24455
@ezioda004 ,
I agree with you.
Too bad someone snatched this fix from me...

[2018-10-22 18:05] ezioda004 commented on #25907
Hi @b3u,

Thank you for opening this issue.
Please refer to this thread https://github.com/freeCodeCamp/freeCodeCamp/issues/18966 for further discussion.

Thank you.

[2018-10-22 18:05] #25907 closed

[2018-10-22 18:35] zersiax opened #26243 "Using conditional logic with if statements challenge doesn't remain passed"
**Describe your problem and how to reproduce it:**
Try to complete the challenge. Submit the correct solution and click the button to take you to the next challenge.
Then, go back to the curriculum. Issue is still set to "Not passed".

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/use-conditional-logic-with-if

[2018-10-22 18:42] pulamusic opened #26252 "screen freezes with sass @while loop"
**Describe your problem and how to reproduce it:**
Screen continually freezes when I try to do the @while challenge for sass. No matter how many times I close the page and then re-open, it freezes.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/front-end-libraries/sass/apply-a-style-until-a-condition-is-met-with-while

**Tell us about your browser and operating system

[2018-10-22 18:50] pulamusic commented on #26252
I was finally able to do the challenge using Firefox. I am surprised Chrome let me down.

[2018-10-22 18:51] iamlatin commented on #15615
im watching

[2018-10-22 18:53] Nirajn2311 commented on #26252
@pulamusic according to the screenshot, you haven’t incremented the variable x so it ends up in an infinite loop. I’m not sure how you passed in Firefox, so could you post a screenshot or copy of your code here?

[2018-10-22 18:53] iamlatin commented on #15615
i cant do any code

[2018-10-22 19:04] Nirajn2311 commented on #25829
@utkarsh-raj just remember to ask first before you create a PR as there might be other people waiting to do one, like @rpjayasekara had asked here before if he could work on it?

@rpjayasekara sorry about not getting to do a PR for this issue, there are other issues you might take a look at.

[2018-10-22 19:08] utkarsh-raj commented on #25829
@Nirajn2311 I will take care of this in future PRs. Apologies for my mistake @rpjayasekara .

[2018-10-22 19:47] hijacker5 commented on #26243
![ccs1](https://user-images.githubusercontent.com/35338247/47314880-8fa59c80-d660-11e8-8be1-08e857cc7423.PNG)

Browser:Chrome
Browser Version: 69
Operating System:Windows 10 Pro

[2018-10-22 19:49] RandellDawson commented on #24688
@raisedadead What criteria was used to chose which of the 1500+ to rebuild?  I ask, because I am still seeing serveral which original failed for having uppercase names (i.e. the 3D and Tableau folders) which was fixed by @Bouncey.  It does not appear the builds for these PRs were restarted.

Here are two such examples:

https://github.com/freeCodeCamp/freeCodeCamp/pull/23772

https://github.com/fr

[2018-10-22 20:04] hijacker5 commented on #26243
I didn't encountered any such issue. It shows passed.

[2018-10-22 20:22] zersiax commented on #26243
I'm not sure what to tell you ... I just did it three times in a row and it still says not passed here.

[2018-10-22 20:48] b3u commented on #18966
Can i do hebrew?

[2018-10-22 21:03] terumiisobe commented on #18309
Hey! I'm gonna start working on **how-to-work-on-guide-articles.md** !

[2018-10-22 21:33] revolter commented on #25838
It looks like this is already fixed in `master`.

[2018-10-22 21:46] bannon-tanner commented on #17406
@kevcomedia The challenge did not want you to write your own `a` element.
Instead it wanted you to just add the `p` tags with "View more " before it, like so...

[code]

Regardless, I have submitted PR #26441 that changes the wording to hopefully make this more clear to any other campers running in to the same issue

[2018-10-22 22:31] #25829 closed

[2018-10-23 00:01] bannon-tanner commented on #17812
This issue was fixed before the move and shows up correct in the new curriculum
[https://github.com/freeCodeCamp/learn/commit/5faf8f2f4bd66507ee791767bce983d3af2e3633](url)

[2018-10-23 00:02] Amjadamjad commented on #25829
#25978

[2018-10-23 00:07] Amjadamjad commented on #25829
#25829

[2018-10-23 00:08] Amjadamjad commented on #25829
#25829
#25978

[2018-10-23 00:12] ashwoodall opened #26529 "Add language support for French"
There are many campers whose native language is French, and it would be great to see this enhancement on the product roadmap. Additionally, as a developer who is learning French, it would be immensely helpful to see how common web development topics are described and discussed in French.

[2018-10-23 00:32] RandellDawson commented on #25829
@Amjadamjad What are these PRs you have referenced?

[2018-10-23 00:47] #19324 closed

[2018-10-23 00:47] procode200 commented on #26252
I tried this in chrome and it works fine for me.

Issue should be closed.

[2018-10-23 02:02] Nirajn2311 commented on #25829
@RandellDawson could be spam.

[2018-10-23 02:05] #17812 closed

[2018-10-23 03:17] konpyuta commented on #26529
Is there currently a process for translation? J'ai étudié un peu, so I'd love to help contribute, however I'm not fluent enough to translate whole pages.

[2018-10-23 04:53] RandellDawson commented on #17812
Close via PR https://github.com/freeCodeCamp/learn/pull/228

[2018-10-23 08:01] ezioda004 commented on #26529
Hi @ashwoodall and @konpyuta,

Thank you both for showing interest in translation.
Please continue further discussion in this thread https://github.com/freeCodeCamp/freeCodeCamp/issues/18966

Thank you.

[2018-10-23 08:01] #26529 closed

[2018-10-23 08:03] RandellDawson commented on #24455
@TomerPacific , @ezioda004 Are you satisfied with the PR's verbiage?

[2018-10-23 08:09] raisedadead commented on #24688
Hi @RandellDawson

**Firstly thanks a ton for spending so much time and efforts on the manual audit. 👏!**

I'll try to clarify as much as I can for the benefit of all the @freeCodeCamp/moderators

These indeed need restarts or fixes as you already figured out. We have a test now, that will fail these for lack of correct naming of the files. This is a VALID failure. Lets discuss on the automation i

[2018-10-23 08:35] raisedadead commented on #25335
Hi @MatheusRV

Thanks for the feedback.

@ArielLeslie is right. There are tens of thousands of contributors, who help us with our publications, forum, youtube channels, study groups and chat rooms.

As much as we would love to reward every contribution, the scale of the contribution has lead us to take certain rationale.

We have already broken the pull request tab of this repository that simply s

[2018-10-23 08:35] #25335 closed

[2018-10-23 08:35] thecodingaviator commented on #18966
@b3u , @ezioda004 I had a talk with @QuincyLarson and the decision was that for now we will only focus on the 5 languages we have and only after they are completed will we start any other language.

[2018-10-23 08:53] GursimarSinghChopra commented on #18459
First wholly remove nodejs and npm from your system.
Then install latest Node version 10.12.0 and npm 6.4.1
Then try if it doesn't work then delete nodesource.list file in your system

[2018-10-23 08:55] GursimarSinghChopra commented on #18039
First wholly remove NodeJS and npm from your system.
Then install latest Node version 10.12.0 and npm 6.4.1
Then try if it doesn't work then delete nodesource.list file in your system and try again above steps

[2018-10-23 08:56] GursimarSinghChopra commented on #17989
First wholly remove nodejs and npm from your system.
Then install latest Node version 10.12.0 and npm 6.4.1
Then try if it doesn't work then delete nodesource.list file in your system and try again above steps

[2018-10-23 10:42] thumpshere opened #26859 "Need to add implementation for counting sort in Swift"
**Describe your problem and how to reproduce it:**
demonstration of counting sort is available but the implementation in specific languages is missing.

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/algorithms/sorting-algorithms/counting-sort/index.md

**Tell us about your browser and operating system:**
* Browser Name:
* Browse

[2018-10-23 10:46] thefrontendwizard opened #26862 "Translations of Brazilian Portuguese vs Portuguese"
So, there is a confusion about wether the Portuguese should be the Brazilian Portuguese or the actual Portuguese spoken on Portugal. Both of them overlap a lot, but they still have a lot of differences. Currently some people are translating to Portuguese (#24311) and other are translating to Brazilian Portuguese (#26113). I believe there's a need for a separate translation for both of them. What d

[2018-10-23 11:51] BhaveshSGupta commented on #18722
Hello,

[2018-10-23 11:53] BhaveshSGupta commented on #18722
Hello,
I think there is way to bypass the path length, I was trying to install python today on my windows today and I got this. I need to dig more.
![image](https://user-images.githubusercontent.com/4209637/47358735-89e0a300-d6c2-11e8-9117-068852a5fcbf.png)

So I think there is way to do that.

[2018-10-23 12:04] MatheusRV commented on #25335
@raisedadead there is a CLI for that (https://github.com/jfmengels/all-contributors-cli)

[2018-10-23 13:01] RaspberryLime commented on #25838
It's displaying properly for me now. 🙂

[2018-10-23 13:04] RaspberryLime commented on #25838
Thank you, I'll close this as soon as the fix is released on the live site.

[2018-10-23 13:16] raisedadead commented on #25335
Any tooling will not serve the purpose of adding all the contributors across all our communities, a large no of whom are not even working on GitHub in any way. Offline Study groups, Youtube, Reddit etc.

Again, the spec will just add them on GitHub, which is just one small part of the entire community.

[2018-10-23 13:41] ezioda004 commented on #17864
We have a note on [function constructor lesson](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/object-oriented-programming/define-a-constructor-function/).
I think it's fine to add a note since we do have it in the above challenge (and this challenge comes before above mentioned one)
@RandellDawson thoughts?