[2019-07-05 13:25] #36382 closed

[2019-07-05 14:19] RandellDawson commented on #36384
My first thought is something like this would be best placed in the Guide instead of the current curriculum on master.  @scissorsneedfoodtoo Would this be something that would fit in the new project-based curriculum?

[2019-07-05 15:47] oyekanmiayo opened #36386 "Guide article stubs don't link to right repo"
Guide article stubs on freeCodeCamp link to an archived repository which makes it hard to create PRs for them.

See here: https://guide.freecodecamp.org/certifications/responsive-web-design/applied-visual-design/create-texture-by-adding-a-subtle-pattern-as-a-background-image

Added images below:
<img width="1412" alt="Screen Shot 2019-07-04 at 2 28 18 PM" src="https://user-images.githubusercontent

[2019-07-05 16:25] RandellDawson commented on #36386
@oyekanmiayo The current production uses the now archived guide repo.  All changes to the guide should be done on the [mono repo](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/guide/english/certifications) which will be deployed to production (for the first time since October) in the coming weeks.  I am going to close this issue as this is the current workflow.

[2019-07-05 16:25] #36386 closed

[2019-07-05 19:20] #35670 closed

[2019-07-06 06:55] oyekanmiayo commented on #36386
Thank you

[2019-07-06 07:05] #36377 closed

[2019-07-06 10:59] thecodingaviator commented on #36381
My opinion is that we should remove the corresponding challenges from the curriculum

[2019-07-06 16:05] mtpiercey commented on #36378
Okay. Yeah, I figured someone would've already caught this. Next time if I run into something like this I'll take a look at the other issues/commits (and I may clone the repo locally to test it as well).

Thanks!

[2019-07-07 12:19] fletcher-greg commented on #36375
Check the bottom of your package.json again.  You may have duplicated the task.

[2019-07-07 16:57] mtpiercey commented on #36375
Ah, yes. Once again, the solution boils down to simple literacy. Thanks for pointing that out...

[2019-07-07 16:57] #36375 closed

[2019-07-08 13:24] eyeMNaughtReal commented on #17403
After a year, this issue still exists?  I was able to pass this test with the following code, knowing it was not following the instructions:
[code]

[2019-07-08 18:34] moT01 opened #36399 "Add guide stub articles for newly created lessons"
Many new lessons have been created recently - they should probably have an associated guide article for each of them - even if it's only a stub. Also, some lessons have been renamed - so maybe rename those associated articles, as well.

Here's a few recent PR's that added new lessons...
~~https://github.com/freeCodeCamp/freeCodeCamp/pull/36201~~
~~https://github.com/freeCodeCamp/freeCodeCamp/pull/

[2019-07-09 00:49] Arezohayeman commented on #36316
07/10/2019 :
[PKCS_12_-_Wikipedia.pdf](https://github.com/freeCodeCamp/freeCodeCamp/files/3370704/PKCS_12_-_Wikipedia.pdf)
05:17:20

[2019-07-09 01:19] RandellDawson opened #36400 "Remove unnecessary assert messages from testString in curriculum challenges"
This issue will serve as a way to track all the work needed to remove the unnecessary assert messages from the yaml testString.  For all challenges which only have a `text` for each `testString` assert (most of the front-end challenges), we can simply remove the message argument, because the `text` is used for displaying both in the tests frame and in the fake console.

Any PRs created for this is

[2019-07-09 03:09] miyaliu666 opened #36851 "profile font may need to be adjusted"
I feel the screenshot shows the English and Chinese words not so harmonious, English words looking bold.
![News profile](https://user-images.githubusercontent.com/19358186/60856402-a36a5080-a239-11e9-891d-ff8b2a50d9a5.jpg)
@ahmadabdolsaheb @raisedadead

[2019-07-09 04:05] kanuos opened #36411 "entire progress lost"
**Describe the bug**
I had completed responsive web design certification, 50% of front end certifications, more than 80% of javascript certifications. Ever since the upgrade i have lost all my progress. As far as i can remember i had 1 certification and 3 projects completed. now all my progress is gone.

**Expected behavior**
When i log in FCC i am seeing a brand new unsolved curriculum.

**Deskto

[2019-07-09 04:53] ming-yong opened #36414 "Passed "React: Pass Props to a Stateless Functional Component" challenge with wrong solution"
**Describe your problem and how to reproduce it:**
I passed the "React: Pass Props to a Stateless Functional Component" challenge with wrong solution as below, correct answer is commented beside:
[code]

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/front-end-libraries/react/pass-props-to-a-stateless-functional-component

**Tell us about your browser and operating sys

[2019-07-09 05:53] JonDevOps opened #36422 "error (node:9549) DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead"
I am receiving this error after when i run `npm run develop` to run freeCodeCamp locally.

[2019-07-09 05:58] JonDevOps commented on #36422
As long as everything is updated (my linux env and the freecodecamp fork) everything does compile successfully and i am still able to view freecodecamp challenges in the browser without anything breaking.

[2019-07-09 11:50] moT01 commented on #17665
fixed via https://github.com/freeCodeCamp/freeCodeCamp/pull/36144

[2019-07-09 11:50] #17665 closed

[2019-07-09 11:53] moT01 commented on #35611
This should be sort of fixed via https://github.com/freeCodeCamp/freeCodeCamp/pull/36144 - It does not allow any name when importing, but forces users to use the name `subtract`

Here's the instructions...
[code]

[2019-07-09 12:09] moT01 commented on #17700
Maybe something like one of these.... ?

[code]

<img width="601" alt="Screen Shot 2019-07-09 at 7 08 39 AM" src="https://user-images.githubusercontent.com/20648924/60886766-680b5a00-a218-11e9-8280-cc12a3b9dee1.png">

[code]

<img width="604" alt="Screen Shot 2019-07-09 at 7 05 14 AM" src="https://user-images.githubusercontent.com/20648924/60886569-f6cba700-a217-11e9-8595-442213c0ca1b.png">

[2019-07-09 12:31] moT01 commented on #17587
There isn't exactly a good response, but it looks like something changed to where you don't get the error message anymore.

[2019-07-09 12:43] moT01 commented on #17866
fixed via https://github.com/freeCodeCamp/freeCodeCamp/pull/36144

[2019-07-09 12:43] #17866 closed

[2019-07-09 13:01] moT01 commented on #35324
This issue is not needed. You are free to update your PR to add the desired translation and it will get reviewed when possible.

[2019-07-09 13:01] #35324 closed

[2019-07-09 15:09] RandellDawson commented on #35611
This is the same point I brought up [here](https://github.com/freeCodeCamp/freeCodeCamp/pull/36144#issuecomment-505653075).

[2019-07-09 15:15] RandellDawson commented on #17700
We typically try to avoid linking to external sites which we do not control in the curriculum.

[2019-07-09 15:16] RandellDawson commented on #36422
It is not an error.  It is a warning.

[2019-07-09 15:17] #36422 closed

[2019-07-09 15:45] thecodingaviator commented on #36384
@raisedadead Should this issue be moved over to the newCurriculum repo?

[2019-07-09 15:46] Paddy3118 commented on #17700
Hi @RandellDawson, this is more like being a good netizen and both acknowledging sources and allowing your students wider access..

[2019-07-09 15:47] thecodingaviator commented on #36411
Hi,

Could you provide us more info? Your username or login method should be useful, besides, did you click the reset button?

[2019-07-09 15:49] moT01 commented on #35611
We added a line that says it can be named anything. But force them to use the `subract` name in the challenge. The old(current production) challenge didn't really clarify that any name can be used. So I was thinking that would be good enough. Do we really need to allow any string there if we tell campers to explicitly use `subract`?

[2019-07-09 15:50] thecodingaviator commented on #36414
Hi, could you provide exactly what code is failing? I'm not sure I'm able to bifurcate the incorrect code from the correct one

[2019-07-09 15:52] RandellDawson commented on #35611
I approved that PR, so I was ok with it.  @cmccormack What are your thoughts based on the verbiage in the [now merged challenge on default export](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/create-an-export-fallback-with-export-default.english.md)?  Are the changes good enough to close this issue?

[2019-07-09 15:54] moT01 commented on #17700
We are using their content, so it might be a good place to make an exception. Although, we do have "Rosetta Code" in the title of every challenge and there is a link in the introduction.

[2019-07-09 15:56] RandellDawson commented on #17700
@Paddy3118 You can always create a guide article for each challenge which could have a link to other information for the challenge (in a More Information) section of each article.  However, you would also need to add an actual solution and/or hints and not just a link as we don't approve PRs which only add links to other sites in the guide.

[2019-07-09 16:22] thecodingaviator commented on #35479
All PRs pertaining to this issue have been merged we now need to decide whether to discuss removal of all such links on this issue or another one. My opinion is that we should remove all `repl.it`,`codepen.io`, etc. links from the guide

[2019-07-09 16:24] thecodingaviator commented on #36411
cc: @raisedadead

[2019-07-09 16:27] RandellDawson commented on #35479
@thecodingaviator Can you create a new issue and reference this one for your idea and close this issue?

Thanks.

[2019-07-09 17:25] Paddy3118 commented on #17700
@RandellDawson, you misunderstand, its more about asking those who copy such tasks to, as a matter of course, also link to that source. References are a standard in academia and Wikipedia for example, an aids readers and authors alike.

[2019-07-09 17:45] RandellDawson commented on #17700
@Paddy3118 Like @moT01 already mentioned, the credit to the site is in the introduction to these challenges.  Other than that, you are free to create a PR which adds a relevant link in the corresponding guide articles for each Rosetta Code challenge as I have already mentioned in a previous reply.  You can reference this issue when creating the PR.

[2019-07-09 17:53] RandellDawson commented on #17304
@raisedadead Any status on when this will be implemented?

[2019-07-09 18:59] moT01 commented on #17700
Yea, I think we are all for giving credit where it is due - but do we really need a link on every challenge? Seems like overkill - especially when we are trying to avoid using external links in the descriptions.

I'll ping @QuincyLarson - he's the one who will have the best input on this - maybe he can weigh in if he gets a chance.

[2019-07-09 19:37] raisedadead commented on #36384
Discussing here is fine I guess. I would personally love a project based curriculum for Image Processing and 3D Rendering (WebGL) based certifications, but IMHO if we do take that path it would have to be separate certification or something, and an optional course instead.

[2019-07-09 19:58] dkurt commented on #36384
@raisedadead, What about just challenges? There are 1000+ hours of challenges which have no certification at https://learn.freecodecamp.org/. Curriculum based project might be in that block.

[2019-07-09 20:21] raisedadead commented on #17304
When master is shipped.

[2019-07-09 20:29] QuincyLarson commented on #36226
@moT01 Thanks for your feedback. Since we are going to replace the existing JavaScript curriculum with the updated project-orient curriculum - basically, a series of practice projects: https://www.freecodecamp.org/forum/t/help-us-build-version-7-0-of-the-freecodecamp-curriculum/263546

So there is no need for us to go back through and make significant changes to the existing curriculum.

In case y

[2019-07-09 20:30] #36226 closed

[2019-07-09 20:57] birdysexy commented on #36226
Well am learning

[2019-07-09 21:21] jonathan-grah commented on #36414
@ming-yong, this code does not appear to pass the following test for me:
"The CurrentDate component should render the value from the date prop in the p tag.".

Therefore, this must be an issue on your end. Try pressing the "Reset All Code" button and see if the tests still pass with the incorrect code.

[2019-07-09 21:36] jonathan-grah commented on #36320
Tagging @QuincyLarson for the updated way of describing our news platform.

[2019-07-09 21:44] jonathan-grah commented on #36343
@raisedadead, Is there an advantage to choosing to adopt one over the other across all mentions or does it really matter?

[2019-07-09 22:06] RomeoRaven commented on #36365
Just want to add that I was not finding a way to submit my project for checking correctly via Codepen and found this github issue. Tested on my own project and the 'Solution' field even accepts non-URL input. Example...

![FCC-tribute-page-issue](https://user-images.githubusercontent.com/13630119/60926285-0ed11400-a274-11e9-98cf-22d0268edb6f.PNG)

[2019-07-09 22:37] ming-yong commented on #36414
![screenshot](https://user-images.githubusercontent.com/43736500/60927301-fb599380-a2db-11e9-9b65-6399fbf808cf.png)

Hi @thecodingaviator, above is a screenshot of my issue. No code is failing but I think the challenge accept the wrong solution.

Hi @jonathan-grah. Unfortunately, after pressing "Reset All Code", I am still able to passed the challenge.

[2019-07-09 23:22] jonathan-grah commented on #36414
@freeCodeCamp/moderators can anyone reproduce?

[2019-07-09 23:30] jonathan-grah commented on #36399
Hi @moT01, we are currently refactoring the curriculum (you can find out more about that here: https://www.freecodecamp.org/forum/t/help-us-build-version-7-0-of-the-freecodecamp-curriculum/263546) - basically to a more project-based approach to learning.

We are [quite far on in this process](https://github.com/orgs/freeCodeCamp/projects/10) so we would prefer contributors would spend time on that

[2019-07-09 23:31] jonathan-grah commented on #36381
Hi @ojeytonwilliams, we are currently refactoring the curriculum (you can find out more about that here: https://www.freecodecamp.org/forum/t/help-us-build-version-7-0-of-the-freecodecamp-curriculum/263546) - basically to a more project-based approach to learning.

We are [quite far on in this process](https://github.com/orgs/freeCodeCamp/projects/10) so we would prefer contributors would spend ti

[2019-07-09 23:31] jonathan-grah commented on #36376
Hi @mtpiercey, we are currently refactoring the curriculum (you can find out more about that here: https://www.freecodecamp.org/forum/t/help-us-build-version-7-0-of-the-freecodecamp-curriculum/263546) - basically to a more project-based approach to learning.

We are [quite far on in this process](https://github.com/orgs/freeCodeCamp/projects/10) so we would prefer contributors would spend time on

[2019-07-09 23:31] #36376 closed

[2019-07-09 23:36] RandellDawson commented on #36381
@jonathan-grah @ojeytonwilliams, @thecodingaviator and I have been working quite extensively only fixing the existing curriculum.  It will still be quite a while before the new curriculum replaces this one, so even though we probably won't be creating much new content, I see no harm in making the existing content better.  This is a discussion thread.  If we all agree to close it, then that is fine

[2019-07-09 23:45] RandellDawson commented on #36399
This is still a valid issue.  Before closing issues in the future, make sure there is a consensus to do so.

[2019-07-09 23:51] jonathan-grah commented on #36381
@RandellDawson, it would be very easy if we do as @thecodingaviator says and delete said challenges. If someone wants to spend time on this, no problem 👍

[2019-07-09 23:54] jonathan-grah commented on #36399
@RandellDawson, sorry. As far as I was aware after talking to Quincy, it was best for us to clean up any issues around improving the current curriculum, due to the nearing release of version 7.0.

[2019-07-10 00:00] RandellDawson commented on #36399
It is not that close to be releases.  The deployment of the current master branch is very close to being deployed to production though.

[2019-07-10 00:11] jonathan-grah commented on #36399
Okay @RandellDawson.
I just think it's better if we try and focus community contributions towards the new project-based challenges, instead of driving attention away towards minor improvements - it will slow us down otherwise.

This is fine, I completely understand, I was definitely too quick to close this. However, I don't think we should be adding any additional challenges etc. from this point o

[2019-07-10 00:20] RandellDawson commented on #36399
The existing curriculum which was launched in June 2018 had many bugs which many contributors have fixed since October, so we are very eager to have the current master deployed to production as fixed (many of which are major) were needed.  Any contributions here are appreciated whether existing current bugs are fixed or if it is work on the new curriculum.  If you are on the forum at all, you quic

[2019-07-10 00:39] jonathan-grah commented on #36399
@RandellDawson I was talking about preferring contributions to new curriculum over adding new challenges to the current one. Bugs are a different ball game.

[2019-07-10 00:59] RandellDawson commented on #36399
@jonathan-grah Got it.  There are only a few outstanding PRs with new challenges still open that we are actively trying to get merged.  Once those are in (many are quite old), then I agree we probably should only add new challenges to the current curriculum if it is really warranted or just refer users to the curriculum expansion.  Alot of the newer challenges that have been created for the existi

[2019-07-10 01:00] mtpiercey commented on #36376
Awesome!

[2019-07-10 01:25] jonathan-grah commented on #36399
@RandellDawson Great! Thanks for the clarification and sorry for the confusion

[2019-07-10 03:25] vishwasnavadak commented on #36365
The issue @RomeoRaven is because of the type="url" being set on the input. That is the reason it treats the file path as the URL.
![image](https://user-images.githubusercontent.com/13111030/60938141-690fba80-a2f0-11e9-9631-b43e6a99b472.png)

Even though type="url" does validate most of the cases, we might need to have a regex pattern validation for validating this type of edge cases.

[2019-07-10 08:07] ojeytonwilliams commented on #36381
@jonathan-grah As I understand it, there's no point making significant changes since those changes will only be temporary.  However, these changes would be pretty trivial.

@thecodingaviator isn't it worth keeping "Optimize Re-Renders with shouldComponentUpdate"? The fix is pretty simple.  We delete

[code]
from the seed and solution and change "the other lifecycle hooks are triggered" to "the lif

[2019-07-10 08:31] #36325 closed

[2019-07-10 09:24] ojeytonwilliams commented on #36414
@ming-yong Thanks for the report!  I've been able to reproduce it, both in production and locally using the latest build, so it needs addressing.

To reproduce:

- Go to https://learn.freecodecamp.org/front-end-libraries/react/pass-props-to-a-stateless-functional-component/
- Replace the code in the editor with
[code]
- Click 'Run the Tests'
- See that it passes

This should fail for the following

[2019-07-10 14:12] ojeytonwilliams commented on #36400
Hey @RandellDawson I was just thinking about how best to review these.  The problem being that, with so many, human error is likely to creep in.

As such, would it be possible to group them so that all the challenges with solutions are in one lot of PRs and all those without are in another?  My thinking was just that we could focus our attention on the ones that're not being tested and the ones th

[2019-07-10 14:53] saliha-naico opened #36431 "Adding new challenges"
Currently, the challenges are inserted to DB from 'md' files by running seed command. So if a new challenge is added in the master branch would that be an' md' file too? Or do we have to manually create one? Correct me if I am wrong. My understanding is that new courses are added to the branch and we can just pull the latest, run the seed command and get those in our local env.

[2019-07-10 15:44] thecodingaviator opened #36432 "Removal of all external code links from the Guide"
Since people can delete their pens/sessions etc. from `codepen.io`, `jsbin` and `repl.it`, rendering links unusable for any user to the guide.

I believe all such links should be removed and a note added in the guide for guide articles that users are requested to not use such links anymore

Refer: #35479

[2019-07-10 15:44] #35479 closed

[2019-07-10 15:45] thecodingaviator commented on #36381
@ojeytonwilliams I'm onboard with that, I think you should go ahead and make the PR

[2019-07-10 16:00] RandellDawson commented on #36400
Let me see how many challenges which are in these PR does actually do not have solutions (probably a lot of them in the Coding Interview Prep section).  If I update each PR body with a list of PRs without solutions, would that be enough?

[2019-07-10 16:20] BTDyeah opened #36433 "Can't progress in "basic css" course"
**Desktop (please complete the following information):**
 - OS: Windows
 - Browser Chrome
 - Version Version 75.0.3770.100

In the "Basic CSS" course under "Responsive Web Design", lections can't be passed although i did what i was asked for. I checked most of the lections and none of them work. For example, i had to dye header in red, and i did so but i got error message "Your h2 element should b

[2019-07-10 16:30] fcrezza commented on #36433
Hi @BTDyeah, have you tried to refresh the page?

[2019-07-10 16:40] raisedadead commented on #36320
[code]

[2019-07-10 16:53] raisedadead commented on #36343
All these will have to be updated in the next release of curriculum. In general, you can use any platform of your choice.

[2019-07-10 17:28] ming-yong commented on #36414
@ojeytonwilliams Thanks for the fix! Should I close this issue? Is that how it works?

[2019-07-10 17:52] RandellDawson commented on #36414
@ming-yong The issue will be closed once the PR has been reviewed by others and merged into the master branch.  You do not need to do anything else.

Thanks for catching the bug.

[2019-07-10 18:00] ming-yong commented on #36414
@RandellDawson Got it, thank you.

[2019-07-10 18:16] godcrampy commented on #36335
Can you specify the versions of the web browsers. I tried the following setup but could not reproduce this behavior:

OS:
* Fedora 30

Browsers:
* Mozilla Firefox 67.0.4
* Google Chrome 75.0.3770.100

[2019-07-10 18:24] huyenltnguyen commented on #36320
Thanks @raisedadead!

I've created a PR for the English version of the README.md, but we still need some help with the translation in other languages.

[2019-07-10 20:13] #36356 closed

[2019-07-10 22:26] RandellDawson commented on #36400
@thecodingaviator I went back through and either made a new commit on an existing PR or created a new PR to remove the assert message arguments from the `testString` which either were surrounded by double quotes or two single quotes.  I think this should take care of 99.99% of the arguments in the curriculum sections which this issue aimed to deal with.

[2019-07-10 22:29] dependabot-preview[bot] opened #36442 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-11 11:21] ojeytonwilliams commented on #36431
Hey @saliha-naico.  If you're just wondering how to get the most up-to-date versions of all the challenges that're currently on master, then yes, just pull them down.  You can use `npm run seed:challenges` to populate the database, though that may not be necessary depending on what you're doing.

[2019-07-11 11:22] raisedadead commented on #36320
You can just use the Google translate version of the english sentence, someone will eventually make it more accurate.

[2019-07-11 15:34] Deadmano opened #36445 "Broken Test For "Basic Node and Express - Use the .env File""
The test fails with the following bit of code:

[code]

But if you add the return statement inside of the if statement, then the challenge passes... I've double-checked the value I am expecting to return, and it is indeed the expected `message: "HELLO JSON"`.

[2019-07-11 16:19] Deadmano opened #36446 "Broken Test "Basic Node and Express - Chain Middleware to Create a Time Server""
I'm trying to pass the test with the following solution:

[code]

However neither of the tests are passing. What I find strange is that, in the console, it appears the test is trying to access `/now/_api/chain-middleware-time` and when I use that as the path, instead of simply `/now` as the requirement dictates, I actually end up passing the `The /now endpoint should return a time that is +/- 20 s

[2019-07-11 16:21] Deadmano commented on #36446
I'm closing this issue as the reason the test was failing was due to the fact that I had appended `/now` to my project's live page. Technically that should still work, but I see the reasoning behind that.

[2019-07-11 16:21] #36446 closed

[2019-07-11 20:46] jonathan-grah commented on #36343
I'm going to close this due to the above reasons @kiwisquash. It doesn't really matter if we encourage different services at different points, it's not a rule; just a suggestion.

We will be changing this soon with our refactored curriculum, you can learn more about that here:
https://www.freecodecamp.org/forum/t/help-us-build-version-7-0-of-the-freecodecamp-curriculum/263546

[2019-07-11 20:46] #36343 closed

[2019-07-12 06:08] scissorsneedfoodtoo commented on #36384
@ilbalance, @SimpleVlad, and @dkurt, it would be really great if we could include this into the curriculum somehow. As mentioned, we're currently in the process of moving to a project based curriculum outlined here: https://www.freecodecamp.org/forum/t/help-us-build-version-7-0-of-the-freecodecamp-curriculum/263546

These projects will replace the current challenges leading up to required projects

[2019-07-12 06:10] gauravkukade commented on #36333
:smile: , I was here to report the same, searched the issues if it is already reported and found it here.

I will find another one for my first post. @vownfinel :slightly_smiling_face: :+1:

[2019-07-12 06:28] dkurt commented on #36384
@scissorsneedfoodtoo, Maybe the only disadvantage of Guides comparing to challenges for now is that they aren't interactive. With challenge you are able to write some code and have a test for it. You can immediately see the results there.

What do you think if we'll create the track following current Curriculum structure and then move it to the project based Curriculum? So for now we just prepare

[2019-07-12 11:40] #16107 closed

[2019-07-12 11:43] Deadmano opened #36447 "Broken Test For "MongoDB and Mongoose - Create Many Records with model.create()""
The following code produces a `Timeout has occurred` message in the freeCodeCamp console, yet no errors are shown on the Glitch console, and the data does get saved to the MongoDB Atlas.

[code]

Furthermore, the Glitch console reports the following when I have the console log logging `done` enabled and the freeCodeCamp `I've completed this challenge` button is pressed:

[code]

[2019-07-12 11:58] Deadmano commented on #36447
So it turns out that there was confusion between the previous lesson, and the current one. In the previous one we had to specifically create a person and pass in the values as an object, but in this lesson we had to utilise the `arrayOfPeople` argument.

Updating my function to the following solved the issue and passed the test:
[code]

Leaving this open so that a decision can be made on if there

[2019-07-12 13:42] scissorsneedfoodtoo commented on #36384
@dkurt, that's a good point. It would be best to have this be interactive if possible, even if there isn't a great spot for it in the project based curriculum now.

I asked @QuincyLarson what he thinks, and here are his suggestions:

1. Create an in-depth text-based tutorial
2. Turn that tutorial into a video
3. Turn that into an interactive curriculum

He says that an OpenCV course would be a wel

[2019-07-12 13:44] #36035 closed

[2019-07-12 14:04] dkurt commented on #36384
@scissorsneedfoodtoo, Thanks! We also share the point that OpenCV should be an optional course for developers who can find it useful.

For now we're trying to launch freeCodeCamp locally for experimenting. There are some issues with proxies but I think we can fix it on our side. @ilbalance and @SimpleVlad are talented students and I believe we could provide you initial version of tasks in next mon

[2019-07-12 15:59] ojeytonwilliams commented on #36445
Hey @Deadmano.

This one took me while to puzzle out.  Your code works perfectly, but only the first time it's executed! To be precise, if you submit a project with this code to freeCodeCamp, it will work the first time you run the tests and fail the second time.

This happens because `jsonObject` is global and so when `process.env.MESSAGE_STYLE === 'uppercase'` the message property becomes `HELLO

[2019-07-12 15:59] #36445 closed

[2019-07-12 16:18] thecodingaviator commented on #36400
@RandellDawson I think we merge all the PRs in that case because looking for 0.01% of the errors would be like finding a needle in a haystack.

cc: @moT01 @ojeytonwilliams @Manish-Giri

[2019-07-12 16:24] ojeytonwilliams commented on #36400
I think the only ones worth looking at all are the ones without solutions.  If they have solutions `npm run test` will complain if the syntax is wrong or they suddenly start giving the wrong answers.

[2019-07-12 17:16] RandellDawson commented on #36400
It is not that they are errors.  It is just that they would not be removed (which does not hurt anything).

[2019-07-13 02:02] jonathan-grah commented on #36383
@freeCodeCamp/moderators, there are two ways to approach this:
1) We setup a few different media queries for different printing sizes e.g. A4, A5, letter etc.
2) We only support (and force browser) to A4 landscape - this is much easier / less hacky

Which way would you prefer?

[2019-07-13 02:09] jonathan-grah commented on #36447
Hi @Deadmano, could you provide a glitch link? Thanks 😄

[2019-07-13 07:00] thecodingaviator commented on #36383
I think we should explicitly set the browser viewport's height and width to A4 landscape.

cc: @QuincyLarson

[2019-07-13 07:44] ojeytonwilliams commented on #36383
We could add a toggle (invisible to printers) that switches between letter and A4, and maybe use something like [paper css](https://github.com/cognitom/paper-css) to switch between them.  I think that's probably necessary in the long run, because so many users are in the Americas.

However, getting A4 landscape right would be a good start.

[2019-07-13 14:38] BTDyeah commented on #36433
Hi @fcrezza, yes i did try to and it doesn't work. The only thing i ddi not try is opening the website in other browser, hope that solves the problem.

[2019-07-13 14:43] jonathan-grah commented on #36383
@ojeytonwilliams, I have already fixed the weird image resizing etc., so it works perfectly on A4 landscape. It's probably best if we don't have entire different sections of HTML for different paper sizes - there are so many (A2, A3, A4, A5, letter) etc., imo it's very hacky. I'd prefer to just set a media query for maybe 1 or 2 specific sizes if we're going round that route.

[2019-07-13 14:50] RandellDawson commented on #36383
This seems like a lot of trouble when most people are not even going to be printing these.  It is a linkable certification.  Most would have a link from their portfolio or LinkedIn profile to it.  The employer would click and view the certification.  In my opinion, If a user wants to print it out, then they can figure out how best to print it on the paper and adjust their print settings to achieve

[2019-07-13 15:00] jonathan-grah commented on #36383
@RandellDawson, yeah I'm sort of in agreement. It work fine with my PR on A4 landscape without any adjustments. If a user wants to print for a different paper size, they can manually adjust the scale in the printing options? Does this sound on the same page?

[2019-07-13 15:13] BTDyeah commented on #36433
Solved, all i did was changed browsers and now it finally works, back to the work. Thanks!

[2019-07-13 15:13] #36433 closed

[2019-07-13 15:32] ojeytonwilliams commented on #36383
Well, we wouldn't need to worry about the different An's, since they all have the same aspect ratio.  As long as A4 is fine, the others should be too.  It's just letter (maybe legal, I'm not sure) that's both common and not the same aspect ratio as A4.

Having said all that, as long as the A4 landscape looks okay when resized to fit in letter, that's probably good enough.  So, assuming that's true

[2019-07-13 16:12] jonathan-grah commented on #36383
@ojeytonwilliams, great I'll double check the letter looks fine, then I'll undraft the PR.

[2019-07-14 19:13] Deadmano commented on #36447
Hey @jonathan-grah! While I'm not sure if the link will still be useful, as I had to use another method to pass the test, [here it is](https://glitch.com/edit/#!/remix/alike-snap) in any event.

[2019-07-15 03:16] scissorsneedfoodtoo commented on #36384
@dkurt, awesome, that sounds great! Looking forward to seeing the tasks and tutorial.

Please let us know if there's anything we can do to help get fCC running locally. I'm sure you've already seen the [guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md), but if you're still having problems, feel free to ask here or over in the (https://gitter

[2019-07-15 17:46] 0tho commented on #17479
Just had this issue on Chrome

[2019-07-16 19:20] raisedadead commented on #36383
The certificates were intentionally not designed to be printed initially. These are meant to be digitally verified. I am in strong favor of keeping it as such.

Anyway, I understand that some users want the printed version. In this I think we would take this as a feature request and overhaul during our re-styling run.

@ahmadabdolsaheb is going to be taking point on these.

[2019-07-16 22:38] webdevdaemon commented on #36335
I can fix this with a 2 line edit to the stylesheet, I found the problem in DevTools:

[code]
Should Be:
[code]

I'm gonna go ahead and submit a PR with this fix, I see that this has already been assigned to a dev, but it isn't fixed yet, and I know how busy everyone is around here with the doing God's work, saving lives, and transforming careers.

Let me know if there is a problem with me working

[2019-07-17 03:02] jbcousins92 commented on #7697
<p>you guys are killin' me<p>

[2019-07-17 08:02] ojeytonwilliams opened #36460 "(development) Certificates not available while logged out"
**Describe the bug**
In development certificates are unavailable unless you are logged in.

**To Reproduce**
Steps to reproduce the behavior:
1. `git checkout 9cc82ae521c027eedaf3a224bedb0c4223496984`
2. `npm run develop`
3. Log out of your local freeCodeCamp (either via settings or just go incognito)
3. Go to http://localhost:8000/certification/developmentuser/responsive-web-design
4. See that yo

[2019-07-17 08:03] ojeytonwilliams commented on #36460
If this is definitely a problem, I'd be happy to take a look at it.

[2019-07-17 15:07] raisedadead commented on #36431
The instructions for these are available for the most part in our [Guidelines for Contributing](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md), you can specifically [follow this guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-work-on-coding-challenges.md) and related resources on the same.

[2019-07-17 15:07] #36431 closed

[2019-07-17 15:11] #36442 closed

[2019-07-17 15:14] raisedadead commented on #36372
Closing this for lack of sufficient information, can you please elaborate in comments below detailed steps with how you see the error. Please make sure you fill up the information template presented to you while opening the issue:
[code]

[2019-07-17 15:14] #36372 closed

[2019-07-17 15:21] raisedadead commented on #36312
The authentication on the local setup is different than what is and will be deployed in production. The implementation based on a conditional in code.

Can you elaborate on what you are trying to do with the authentication?

I am closing this, for now for lack of information, will re-open if this is found to be a legitimate bug.

We can continue to discuss in the thread or over our [Contributors C

[2019-07-17 15:21] #36312 closed

[2019-07-17 15:21] raisedadead commented on #36362
I am closing this, for now for lack of information about the issue in the OP, will re-open if this is found to be a legitimate bug.

We can continue to discuss in the thread or over our [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) and [Contributors category on the Forum](https://www.freecodecamp.org/forum/c/contributors) if this is just some general query about freeCodeCam

[2019-07-17 15:21] #36362 closed

[2019-07-17 15:24] raisedadead commented on #36369
You will have to delete the user object from the db first I think. The script will not overwrite on a existing user I think.

I am closing this, for now for lack of information, will re-open if this is found to be a legitimate bug.

We can continue to discuss in the thread or over our [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) and [Contributors category on the Forum](htt

[2019-07-17 15:24] #36369 closed

[2019-07-17 15:31] raisedadead commented on #36365
Thanks for reporting the issue, I am closing this in favor of #35054.

Thanks for all your suggestions, but programmatic evaluation while being flexible about any platform / language stack of your choice is a very difficult problem. We rely on honor and reporting instead.

That said, we are also moving to a project-based evaluation in our next iteration of the curriculum. You can read about it on

[2019-07-17 15:45] #36365 closed

[2019-07-17 16:15] QuincyLarson opened #36462 "Update forum label to "Leaderboard""
This is specifically for @raisedadead's reference. Please see screenshot below.

<img width="1177" alt="The_freeCodeCamp_Forum" src="https://user-images.githubusercontent.com/985197/61392300-1bf98e80-a884-11e9-97e4-4fa64f23cff7.png">

[2019-07-17 23:16] talleman21 opened #36463 "Basic Javascript: Assignment with a Returned Value"
**Describe your problem and how to reproduce it:**
Solution of
 ``` processed = processArg(7)```
fails the second test, while
```processed = processArg(7);```
passes.

The semicolon at the end should be optional.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/assignment-with-a-returned-value/

**Tell us about

[2019-07-18 03:32] huyenltnguyen commented on #36320
Closing the issue as all the PRs have been merged.

[2019-07-18 03:32] #36320 closed

[2019-07-18 03:44] huyenltnguyen commented on #36335
@webdevdaemon I assigned myself but never found time to work on this issue. I figured that it should be a small fix, too, and I think your solutions look good either way.

Just raise a PR then, and we will take a look. Thanks for giving us a hand!

[2019-07-18 04:52] RandellDawson commented on #36335
@cryptographicfool @huyenltnguyen @webdevdaemon I just tested night mode on the current version of master and do not see the issue you are mentioning here.  I tested on latest Chrome and latest Firefox and see the following.  Please setup the repo locally and test for yourself.  If you are still seeing it locally, then let us know.

Thank you.

![image](https://user-images.githubusercontent.com/53

[2019-07-18 06:11] saliha-naico opened #36464 "missing token error when we try to call login api"
When we try to do passport js authentication to login to freecodecamp , we are not able to do any api calls because of error: accesstoken is required, how can we set token without login . Is this something related to the loopback or passport js. Can you help?

[2019-07-18 07:49] raisedadead commented on #36464
What are you trying to achieve? Explain detailed steps on how and where are you getting this? The more context you give us the better.

If this is just an general query about freeCodeCamp's codebase and the stack then, [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) or the [Forum](https://www.freecodecamp.org/forum) is a better place to ask question than this issue tracker.

[2019-07-18 07:49] #36464 closed

[2019-07-18 08:53] ojeytonwilliams commented on #36335
I was curious and checked it out, too.  Looks to have been fixed on master for a while now.

[2019-07-18 09:46] #17509 closed

[2019-07-18 09:48] ojeytonwilliams commented on #36463
Thanks for the report!  I've verified this is still the case on master.

We don't need to be that restrictive, both solutions are valid JavaScript.

[2019-07-18 11:11] ashr81 commented on #36463
@ojeytonwilliams  can I pick this issue and fix?

[2019-07-18 12:02] ojeytonwilliams commented on #36463
@ashr81 sure, this was a good issue to get started with.

[2019-07-18 13:31] Ronkiro commented on #35054
This could lead to some projects never being (really) approved. Maybe with a max-time restriction?

[2019-07-18 15:07] #36463 closed

[2019-07-18 21:24] sashko02309178409 opened #36467 "Microservices Projects tests don't work"
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/timestamp-microservice.english.md

The tests for projects are not working anymore.
Campers can submit any random URL to pass their challenges.
This bug turns off people from Freecodecamp, cause you never know if you accomplished a challenge or not.

Here

[2019-07-19 05:20] huyenltnguyen commented on #36335
Yup. I can confirm that this issue has been fixed on my local up-to-date-master. I guess my master was way oudated forgot to update it then.

I'm going to close the issue since it will resolved once the master branch has been deployed to production.

[2019-07-19 05:20] #36335 closed

[2019-07-19 08:09] raisedadead commented on #36414
Hi @thecodingaviator we are reserving the release labels for crit action items.

[2019-07-19 09:08] gguptaabhishek commented on #36467
kkkk

[2019-07-19 09:19] ahmadabdolsaheb commented on #35249
The direction for the guide has been changed. therefore, this fix is not longer needed.

[2019-07-19 09:19] #35249 closed

[2019-07-19 10:26] #34970 closed

[2019-07-19 10:30] raisedadead commented on #24526
Guide has taken a different directions and we will not be needing storage solutions anymore.

[2019-07-19 10:30] #24526 closed

[2019-07-19 10:30] #26243 closed

[2019-07-19 10:31] #29311 closed

[2019-07-19 10:32] raisedadead commented on #34476
We are not going to be implementing any solution storage related features any time soon. A PR is welcome however, thanks for reporting and discussion.

[2019-07-19 10:32] #34476 closed

[2019-07-19 10:33] #34412 closed

[2019-07-19 10:35] #35729 closed

[2019-07-19 10:45] #36018 closed

[2019-07-19 10:45] #35820 closed

[2019-07-19 10:47] raisedadead commented on #35566
Is this still an issue?

[2019-07-19 10:48] #35431 closed

[2019-07-19 10:50] raisedadead commented on #34898
Some fixes are underway in our next release. We can revisit if this exists post that. I am closing this for now

[2019-07-19 10:50] #34898 closed

[2019-07-19 10:51] #22031 closed

[2019-07-19 10:52] raisedadead commented on #22031
We are waiting for the fix to be deployed to confirm this is fixed.

[2019-07-19 12:45] vkWeb commented on #35475
@raisedadead Do you need any help QA'ing the platform? `.rocks` is down, I'll run it locally and QA if you say.

[2019-07-19 14:43] ojeytonwilliams commented on #35566
I've not been working on the challenges much recently, but it seems much better now chokidar's using polling.

One problem remains: it doesn't update the challenge's tests until you hit reload.  So, yeah, it's minor, but there is still an issue.

[2019-07-19 15:17] rockstarcreativestudio commented on #17744
I found the solution online was to not chain browser.fill and .pressButton

`browser.fill('surname', 'Colombo')
 browser.pressButton('submit', function(){`
passes the tests in the Log and on FCC.

[2019-07-19 15:22] Hiyorimi opened #36470 "Missing guide articles on site, while they exist in the repo."
[Combine Multiple Reducers](https://guide.freecodecamp.org/certifications/front-end-libraries/redux/combine-multiple-reducers) or [Use Middleware to Handle Asynchronous Actions](https://guide.freecodecamp.org/certifications/front-end-libraries/redux/use-middleware-to-handle-asynchronous-actions/) have stub articles online, but the [proper](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/g

[2019-07-20 03:43] maxiqboy commented on #17659
I had the same question, so I came here,

So the answer is Advanced Data Structures located in  Coding Interview Prep (Thousands of hours of challenges) > Data Structures , am I right ?

Why doesn't any admin/mod rewrite as RandellDawson said so no one has this question and come here again ?

Thanks

[2019-07-20 04:27] RandellDawson commented on #17659
What exactly are you trying to do?

[2019-07-20 06:26] maxiqboy commented on #17659
Same as OP, I cannot see the Advanced Data Structures lesson on FCC

[2019-07-20 07:24] cjfh opened #36472 "Local installation fails to download the required dependencies"
My ISP is CANTV Venezuela, which blocks Google and many other websites (government censorship). The "[Set up freeCodeCamp locally](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md)" guide fails on the `npm run docker:install` and `npm ci` commands when I don't use a VPN. I don't know if fixing this is possible, but you could add something in the tr

[2019-07-20 09:15] raisedadead commented on #36470
They will be available in our next release. We are in the process of making them as a editable wiki. We will update as we progress is made. Thanks for your patience.

[2019-07-20 09:15] #36470 closed

[2019-07-20 09:18] raisedadead commented on #36472
That's unfortunate, and we hope we could make the codebase and resources more accessible. A PR is welcome to add a "neutral" one liner about using a VPN for network restrictions.

[2019-07-20 14:23] RandellDawson commented on #17659
They are not called Advanced Data Structures lessons.  They are just called Data Structures and they are in the Coding Interview Prep section of the curriculum

![image](https://user-images.githubusercontent.com/5313213/61579834-3d928a00-aabf-11e9-9993-552078d7bc73.png)

[2019-07-21 14:05] gartha1 opened #36475 "issue with Ditch custom CSS for bootstrap exercise"
I ran into this issue a long while back but it is described here

https://www.freecodecamp.org/forum/t/what-am-i-meant-to-have-learn-from-completing-the-ditch-custom-css-for-bootstrap-exercise/162063

I could do the exercise seemed/seems a bit pointless to me , and I quit doing the exercises after running into that. 'cos they take time to do and I like to at least learn something.

[2019-07-21 16:30] bmandl commented on #17573
I have a similar problem, that I described in freecodecamp forum: [https://www.freecodecamp.org/forum/t/all-progress-lost-after-logging-in-with-github-instead-of-facebook/296963/8](url).
So, I had a account, connected to Facebook, but oneday I logged in with GitHub (added account). From then on, whether I log in with Facebook or with GitHub or email, I don't see my progress and certifications. Can

[2019-07-21 18:20] bmandl opened #36476 "Entire progress lost after logging in with GitHub account"
Hello guys,
I described my issue on freecodeCamp forum: [https://www.freecodecamp.org/forum/t/all-progress-lost-after-logging-in-with-github-instead-of-facebook/296963/8](url)
So, I had a account, connected to Facebook, but oneday I logged in with GitHub (added account). From then on, whether I log in with Facebook or with GitHub or email, I don't see my progress and certifications. Can someone fi

[2019-07-21 20:49] jonathan-grah commented on #36476
Thanks for reaching out. Please email `team@freecodecamp.org` for account support related issues, we only use GitHub for bugs in this case. If this ends up being an issue with the codebase, we can reopen the issue. Thanks 😃

[2019-07-21 20:49] #36476 closed

[2019-07-21 20:49] jonathan-grah commented on #36411
Thanks for reaching out. Please email `team@freecodecamp.org` for account support related issues, we only use GitHub for bugs in this case. If this ends up being an issue with the codebase, we can reopen the issue. Thanks 😃

[2019-07-21 20:49] #36411 closed

[2019-07-22 09:33] raisedadead opened #36477 "Update the color scheme to freeCodeCamp chic"
This is a master issue to track all the color scheme changes to various parts of the platform main.

[2019-07-22 09:49] raisedadead opened #36478 "Add search to navigation"
Depends on the news indexing.

Update the search:

- [ ] Learn
- [ ] User Profiles
- [ ] Coderadio

[2019-07-22 09:49] raisedadead opened #36479 "New welcome page"
Mockup and proposal:

- [ ] Create and share the copy of the new proposed welcome page. ~ @QuincyLarson

Implementation:

- [ ] Todo: Add stories and implement... @ahmadabdolsaheb

[2019-07-22 09:49] raisedadead opened #36480 "New landing page"
Mockup and proposal:

- [ ] Create and share the copy of the new proposed landing page. ~ @QuincyLarson

Implementation:

- [ ] Todo: Add stories and implement... @ahmadabdolsaheb

[2019-07-22 09:51] raisedadead opened #36481 "Port Solutions over to forum"

[2019-07-22 12:57] Jo-IE commented on #36472
I'm on it!

[2019-07-22 13:00] Aviral2143 commented on #17446
The best solution to above problem:

**Regular Expressions: Specify Upper and Lower Number of Matches**

Recall that you use the plus sign + to look for one or more characters and the asterisk * to look for zero or more characters. These are convenient but sometimes you want to match a certain range of patterns.

You can specify the lower and upper number of patterns with quantity specifiers. Quan

[2019-07-22 13:04] vorgano opened #36482 "[Portuguese] CONTRIBUTING.md: Link to "Guide website" is different from English version"
**Describe your problem and how to reproduce it:**
Link to "Guide website" is different from English version.
Portuguese version is redirecting to "https://www.freecodecamp.org/guide".
English version is redirecting to "https://guide.freecodecamp.org".

**Add a Link to the page with the problem:**
English version
https://github.com/freeCodeCamp/freeCodeCamp/blame/61071b8afc39f5128c29c76cf15757f4b0

[2019-07-22 13:16] vorgano opened #36483 "[Portuguese] CONTRIBUTING.md: Broken link "artigo de exemplo sobre elementos HTML aqui""
**Describe your problem and how to reproduce it:**
Link is broken on "artigo de exemplo sobre elementos HTML aqui".

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/blame/61071b8afc39f5128c29c76cf15757f4b099dbee/docs/portuguese/CONTRIBUTING.md#L60

**Tell us about your browser and operating system:**
* Browser Name: FireFox
* Browser Version: 68.0
* Operat

[2019-07-22 14:15] raisedadead opened #36484 "Close outstanding guide PR"

[2019-07-22 16:15] jonathan-grah commented on #36447
@Deadmano, I agree the wording could be better on this challenge, as it may not be obvious due to the previous challenge asking you to create an object by yourself.

[2019-07-23 10:24] ailyntang opened #36488 "Broken hint link in MongoDB exercise (create many records)"
**Describe your problem and how to reproduce it:**
In the exercise ["Create Many Records with model.create()"](https://learn.freecodecamp.org/apis-and-microservices/mongodb-and-mongoose/create-many-records-with-model-create), the "get a hint" button takes you to a page with a [404 error](https://guide.freecodecamp.org/certifications/apis-and-microservices/mongodb-and-mongoose/create-many-records-w

[2019-07-23 11:34] ailyntang opened #36489 "Broken hint link in MongoDB lesson (Use model.find)"
**Describe your problem and how to reproduce it:**
In the exercise "Use model.find() to search your database", the "get a hint" button takes you to a page with a 404 error.

**Add a Link to the page with the problem:**
* [Lesson link](https://learn.freecodecamp.org/apis-and-microservices/mongodb-and-mongoose/use-model-find-to-search-your-database)
* [Get a hint 404 page](https://guide.freecodecamp

[2019-07-23 11:40] ailyntang opened #36490 "Broken hint link in MongoDB lesson (Use model.findOne)"
**Describe your problem and how to reproduce it:**
In the exercise "Use model.findOne() to search your database", the "get a hint" button takes you to a page with a 404 error.

**Add a Link to the page with the problem:**
* [Lesson link](https://learn.freecodecamp.org/apis-and-microservices/mongodb-and-mongoose/use-model-findone-to-return-a-single-matching-document-from-your-database)

* [Hint pag

[2019-07-23 12:06] ailyntang opened #36495 "Broken hint link in MongoDB lesson (use model.findById)"
**Describe your problem and how to reproduce it:**
In the exercise "Use model.findById() to search your database", the "get a hint" button takes you to a page with a 404 error.

**Add a Link to the page with the problem:**
*[Lesson link](https://learn.freecodecamp.org/apis-and-microservices/mongodb-and-mongoose/use-model-findbyid-to-search-your-database-by-id)
* [Hint page with 404 error](https://

[2019-07-23 16:07] RandellDawson commented on #36495
This issue has already been resolved on the master branch, but has not been deployed to production, so I am closing this issue.

Thank you.

[2019-07-23 16:07] #36495 closed

[2019-07-23 16:08] RandellDawson commented on #36490
This issue has already been resolved on the master branch, but has not been deployed to production, so I am closing this issue.

Thank you.

[2019-07-23 16:08] #36490 closed

[2019-07-23 16:08] RandellDawson commented on #36489
This issue has already been resolved on the master branch, but has not been deployed to production, so I am closing this issue.

Thank you.

[2019-07-23 16:08] #36489 closed

[2019-07-23 19:58] raisedadead opened #36497 "Style Guide and Contributing Guidelines for Certification Solutions"
The challenge solution guides will be wiki-like, but here are some things that we need to address while do the move:

Main Actions:
- [x] Copy over the updated guide solution articles.
   - [x] List of all Certification Guide Articles with information regarding stubs
<https://gist.github.com/RandellDawson/ec7fe71f2760e8ef92422cb776c20706>
   - [x] Consolidated Information regarding matching forum

[2019-07-24 04:30] QuincyLarson opened #36500 "Developer News profiles doesn't show image in Twitter cards"
When authors link to their Developer News profile, their profile image should be the image that appears in the tweet - or at least some sort of freeCodeCamp logo. Currently it just shows the broken image-style card instead of the full size Twitter card that our articles show.

<img width="1407" alt="David_Clinton_-_Developer_News_and_Card_Validator___Twitter_Developers" src="https://user-images.gi

[2019-07-24 07:42] RandellDawson commented on #36497
@raisedadead I created PR #36501 which takes care of the reformatting of all the English certification folder guide articles.

I have also created the following gists which contain data we can use during the porting over articles to the forum.

[List of all Certification Guide Articles with information regarding stubs](https://gist.github.com/RandellDawson/ec7fe71f2760e8ef92422cb776c20706)

[Conso

[2019-07-24 22:50] moT01 opened #36506 "Add link to coderadio in footer or somewhere?"
Looks like there been some work to get code radio up and running on our own server, should we put a link to it somewhere on the main page? Probably the footer?

[2019-07-24 23:26] raisedadead commented on #36506
It's going to be in the nav actually. We are going to be doing that once we figure out some of the scaling and stability related stuff with coderadio. There is tons of work pending. Also we will have it as a page in the main Gatsby app.

Stay tuned!

[2019-07-24 23:26] #36506 closed

[2019-07-25 01:38] jonathan-grah commented on #36488
This issue has already been resolved on the master branch, we just haven't pushed to production yet :smile:
I'm going to close this but thank you for reporting 👍

[2019-07-25 01:38] #36488 closed

[2019-07-25 03:32] QuincyLarson opened #36508 "Remove old project manager page"
This page is no longer updated, and we should just forward it to freecodecamp.org's landing page: https://www.freecodecamp.org/pmi-acp-agile-project-managers

[2019-07-25 04:47] maxiqboy commented on #17659
oh man, You didn't get me,

I said above :

Why doesn't any admin/mod rewrite as RandellDawson said so no one has this question and come here again ?
Thanks

I read completely this issues and got the answer, just ask why admin/mod doesn't change as you said, so no one will get confused like me or OP again,

[2019-07-25 04:57] RandellDawson commented on #17659
@maxiqboy We decided to just modify the text of the `Basic Data Structures: Modify an Array Stored in an Object` challenge to the following:

This was done to minimize the need to update several other sections.  We feel it does not make any difference if it is renamed `Advanced Data Structures` or just remain `Data Structures under the Coding Interview Prep` section.  We hope to have the changes m

[2019-07-25 07:11] raisedadead opened #41082 "Song history and playlist"
From @Greenheart with feedback as https://github.com/freeCodeCamp/coderadio-client/pull/8

Awesome work with the new radio! It's got much better performance than YouTube.

Thought this feature was missing so I added a simple version :)

One known issue is that the song history won't update immediately after a song completes, but regularly every 20 seconds. This cause a slight delay when songs are

[2019-07-25 09:25] raisedadead commented on #36500
Duplicate of https://github.com/freeCodeCamp/news-theme/issues/18

[2019-07-25 09:25] #36500 closed

[2019-07-25 11:14] #36472 closed

[2019-07-25 12:26] gugacavalieri commented on #36483
The same issue is happening for spanish translation:

https://github.com/freeCodeCamp/freeCodeCamp/blame/61071b8afc39f5128c29c76cf15757f4b099dbee/docs/spanish/CONTRIBUTING.md#L60

[2019-07-25 13:16] AskMP opened #41081 "feature: FCC Credentials for added functionality"
Similar to how nightbot was able to be used for public curation and song preference of the audience (VERY interesting to see how impact full that actually was) it would be good to add this. The issue comes in with how we implement it for non-spamming. I think an "if you're logged into fCC, you have additional functionality" would likely be the best case.

Previously, nightbot sent me the UID of th

[2019-07-25 13:17] AskMP opened #41080 "Localstorage for personal preferences"
Adding the page configuration and removal of the CTA after first viewing would be good to have. If you've selected the lower (or higher) bitrates manually or when we add localization, it should keep those preferences upon revisiting the page.

[2019-07-25 13:20] AskMP opened #41079 "Better accessibility"
While yes, the site is "technically" keyboard controllable, it would be a good idea to implement proper accessibility for users when the hit the page. I'm not an expert at this but I may know some people who can assist in making recommendations as it's a fairly unique use case.

[2019-07-25 13:21] AskMP opened #41078 "feat(coderadio): Add Additional visualizers"
This one is a little more long term however I would like to open up the option that I originally had where people could submit their own visualizer code and it could be added. We could have them credited and available by a dropdown list.

[2019-07-25 15:10] ojeytonwilliams commented on #35688
Since #36326 has been merged I think this can be closed.

[2019-07-25 15:10] #35688 closed

[2019-07-25 15:16] ojeytonwilliams opened #36513 "Markdownlint integration with VS Code"
As we've got some custom Markdownlint rules, it would be nice to be able to see those rules applied to challenge markdown as we work on it.  Do we want to provide support for this (create a VS Code workspace, basically)?

[2019-07-25 15:21] QuincyLarson opened #36515 "Developer News 404 page search box is unstyled"
<img width="1418" alt="Developer_News___404_-_Page_not_found" src="https://user-images.githubusercontent.com/985197/61886794-fa248b00-aec5-11e9-8506-3291597b4c02.png">

[2019-07-25 16:26] jonathan-grah commented on #36508
Love the design on this!

[2019-07-26 12:39] xolowapx commented on #34236
@raisedadead Has anyone fixed it yet?

[2019-07-26 14:08] raisedadead commented on #34236
Nope this is available for and open for implementation, if you are interested.

[2019-07-26 14:26] ojeytonwilliams commented on #34236
I made some progress in https://github.com/freeCodeCamp/freeCodeCamp/pull/35421, but it's been a while since I looked at it.  I'll take another look and see if that PR is any use.

[2019-07-26 17:21] Jryke opened #36520 "Challenge "Search and Replace"- Changes to Instructions and Tests"
Challenge **Search and Replace**

I recently submitted a PR to update the solution to this challenge which brought up a lot of questions in the thread about how this challenge should be set up.  The challenge is based on finding a word `before` in the sentence `str` and replacing it with word `after`.  The real challenge here is not just using the `.replace()` method, but also to match the upper/l

[2019-07-26 18:55] Jay-snow opened #36521 "Typo on Specify Upper and Lower Number of Matches page"
**Describe your problem and how to reproduce it:**
The word spoiler is misspelled on the guide page linked below. I could not find on github how to fix/pull this page to fix the typo, but I'd be happy to if someone pointed me in the right direction.

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/regular-expressi

[2019-07-26 19:03] RandellDawson commented on #36521
This is a non-issue as the current version on the master branch no longer looks like this (see below).  We will be porting these articles to the forum soon, so you will see the changes there in the near future.  I am closing this, because we are just waiting for the guide to be ported.

![image](https://user-images.githubusercontent.com/5313213/61975223-67efb600-af9d-11e9-80eb-eb66ee99a6cb.png)

[2019-07-26 19:03] #36521 closed

[2019-07-28 01:42] #36482 closed

[2019-07-28 04:18] thecodingaviator commented on #36400
All PRs related to this issue have been merged now. It's up to us to decide whether to close the issue and keep removing message as we keep coming across them or let it be open.

[2019-07-28 04:21] RandellDawson commented on #36400
In one of the PRs in this series, @ojeytonwilliams noticed that during one of my manual removals (not script based) of an assert message argument, I accidentally deleted the 2nd argument of the assert.equals statement.  It was caught by Travis and fixed.  This got us thinking about the fact that not all challenges have solutions and this series of PRs contained affected 181 challenges which do not

[2019-07-28 04:29] RandellDawson commented on #36400
@thecodingaviator I am not making any further mass update PRs which remove any more of the assert message arguments.  At this point, I think we will remove them if we come across any while making changes to challenges on future PRs.  The main mission (reducing the amount of code in the repo) has been accomplished.

This issue can be closed now.

[2019-07-28 14:50] emanusobga commented on #13915
Hey,

I just signed the petition "Justice pour #Naomi" and wanted to see if you
could help by adding your name.

Our goal is to reach 500,000 signatures and we need more support. You can
read more and sign the petition here:

http://chng.it/H6gGhNGd6M

Thanks!
EMMANUEL

[2019-07-29 13:03] ojeytonwilliams commented on #36400
I had a look at the gist and only found one thing: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/08-coding-interview-prep/rosetta-code/gamma-function.english.md still has assert messages.  Everything else looked fine, though I can't be 100% sure I haven't missed something.

[2019-07-29 13:10] ahmadabdolsaheb opened #41077 "Duration metadata are missing for some songs."
some songs does not have proper duration causing the status bar to display time incorrectly

![image](https://user-images.githubusercontent.com/4591597/62051046-33892d80-b21b-11e9-8fe4-1efc9c5d960b.png)

[2019-07-29 14:11] QuincyLarson commented on #35716
As always, thanks for reporting this, @thecodingaviator. We don't need this search page any more, so I'm closing this.

[2019-07-29 14:11] RandellDawson commented on #36400
@ojeytonwilliams Feel free to create a PR to remove the assert messages from that one challenge.

[2019-07-29 14:19] raisedadead commented on #35716
Hi @QuincyLarson we would still be using this search page (the index will be different). This is the react version of the page. The one that you have in mind (the new one on news) is going away.

[2019-07-29 21:21] brianRey2017 commented on #34614
Can i still help you @kartikeytripathi ?.
I work as Web UI Developer and i would like to contribute :smile_cat: .

[2019-07-29 21:23] brianRey2017 commented on #34614
@QuincyLarson Still this issue active :thinking: ?

[2019-07-29 21:26] brianRey2017 commented on #34236
I would like to help if you need it @ojeytonwilliams @raisedadead

[2019-07-30 03:49] scissorsneedfoodtoo commented on #35716
@raisedadead, I believe this was solved by an earlier PR. This is how it looks running fCC locally:

![image](https://user-images.githubusercontent.com/2051070/62099217-4dcd1500-b2c8-11e9-8b30-4c161cc8806b.png)

[2019-07-30 04:09] #36221 closed

[2019-07-30 04:13] scissorsneedfoodtoo commented on #18861
Closed by https://github.com/freeCodeCamp/freeCodeCamp/pull/36524.

[2019-07-30 04:13] #18861 closed

[2019-07-30 07:23] raisedadead commented on #35716
Great, thanks for confirming.

[2019-07-30 07:23] #35716 closed

[2019-07-30 12:09] ojeytonwilliams opened #36535 "Audit before master goes live"
Following on from the discussion in https://github.com/freeCodeCamp/freeCodeCamp/pull/36522 this is just a reminder that `npm audit` needs running on all the packages (api-server, client etc.) before master goes live.

[2019-07-30 15:53] louisprogramming commented on #10293
<style>

  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  .blue-text {
color: blue;
  }
  .pink-text {
    color: pink;
  }

</style>

<h1 class="blue-text">Hello World!</h1>

<h1 class="pink-text">Hello World!</h1>

<h1 class="blue-text pink-text">Hello World!</h1>

[2019-07-30 15:54] louisprogramming commented on #10293
This needs to go within the body

""<h1 class="blue-text">Hello World!</h1>""

""<h1 class="pink-text">Hello World!</h1>""

""<h1 class="blue-text pink-text">Hello World!</h1>""

[2019-07-30 18:29] moT01 opened #36538 "remove last test from smallest common multiple challenge?"
I have seen a significant number of [posts on the forum](https://www.freecodecamp.org/forum/search?q=smallest%20common%20multiple) about [this challenge](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/smallest-common-multiple/) - and peoples code not passing because it is not efficient enough. It's seems like it's always that they pass all

[2019-07-30 19:45] ojeytonwilliams commented on #34236
Hey @brianRey2017, thanks for the offer!  I think the PR is basically okay, but there's one change I'm looking to make (handling the completion of an entire section of the curriculum).  I'll have a go at that this week and let you know if I run into difficulties.

[2019-07-31 02:31] RandellDawson commented on #36538
I could be wrong, but do these same inefficient solutions fail on the current curriculum on master?  I was thinking there was a change which increased the amount of time allowed for the tests to execute.

[2019-07-31 03:22] GreatestDane commented on #13373
There was definitely something wrong with this challenge, I am just breezing through these lessons as a quick refresher and I submitted the same answer several times before it was finally accepted. Very frustrating.

[2019-07-31 08:10] ojeytonwilliams commented on #36538
It's an inherently difficult thing to reproduce, since it depends on how fast your machine is.  Also, I'm not sure what's in production right now - if it's the `production-current` branch then the timeout is 100ms which hasn't changed since April 2018 if not earlier than that.

Anyway, I agree with @moT01 that we should take the last test out - I don't think people should be punished for  having a

[2019-07-31 11:49] brianRey2017 commented on #34236
Ok. I'll be waiting here :smile:

[2019-07-31 13:08] ojeytonwilliams commented on #35952
Fixed in https://github.com/freeCodeCamp/freeCodeCamp/pull/35943

[2019-07-31 13:08] #35952 closed

[2019-07-31 13:10] ojeytonwilliams commented on #35960
Fixed by #36318

[2019-07-31 13:10] #35960 closed

[2019-07-31 13:24] RandellDawson commented on #36538
Why not increase the timeout to say 200ms or 300ms?

[2019-07-31 13:38] moT01 commented on #36538
I don't mind increasing the timeout - but even at 200-300ms, I'm thinking a number peoples algorithms still wouldn't pass the last test. And if we want people to make more efficient code then that should be part of the focus of the challenge. It is not really taught anywhere how to make the most efficient code or test performance. And the wording of the challenge doesn't say anything about there b

[2019-07-31 14:16] ojeytonwilliams commented on #36538
I'm actually a bit opposed to increasing the timeout, because I don't think there's a solid reason to have tests that run for more than 100ms, let alone loops that run that long.  I'd prefer it if we focused on writing tests that can be expected to pass or fail quickly.

One thing we could do is just copy this entire challenge into the projects section with maybe some even harder tests, with the i

[2019-07-31 15:00] RandellDawson commented on #36538
I vote for this.  @scissorsneedfoodtoo What do you think about moving this challenge into the projects sections?  I think the main issue is this makes it a required challenge to get the certification.  Currently, there are only 5 challenges required to get the certification.

[2019-07-31 20:24] owen-duncan-snobel commented on #36520
# Search And Replace Updated Tests:

I went through and created updated tests for the Search And Replace problem. I provided one solution as an example of a way to solve it. I'll address your points below as listed.

- There is no test case for before starting with a lower case letter and after starting with an upper case letter. The tests include the opposite (before starting with an upper case l

[2019-08-01 02:21] victoriahchang commented on #35716
@raisedadead If this search page is being used, this issue still persists.

The bug is due to the previously mentioned line in `layout.css` for `margin-bottom`: https://github.com/freeCodeCamp/freeCodeCamp/blob/af1071c5185d15b178b31dbec6f9b219d7bf6c85/client/src/components/layouts/layout.css#L212

In console, `margin-bottom: -6px` vertically aligns the logo but using negative pixels isn't a clean

[2019-08-01 09:15] scissorsneedfoodtoo commented on #35716
Hi @victoriahchang thanks for reporting this. Yes, this is still a problem on the live site as shown by your screenshot. However, this should be fixed when running fCC locally, and won't be a problem once master is pushed to production. Could you try running fCC locally and see if this is still an issue on your machine?

[2019-08-01 15:23] sunnyssr commented on #36515
@QuincyLarson
Can I work on this?

[2019-08-01 17:12] sauravbhagat026 commented on #36520
![Screenshot from 2019-07-24 22-55-02](https://user-images.githubusercontent.com/53368998/62313138-a01b5b00-b4ad-11e9-93d7-47b1894e2a7e.png)

[2019-08-01 19:08] #35999 closed

[2019-08-01 20:27] adrozemog commented on #17403
Hello all. How could one test the output for various temperature values using console.log? Thank you!

[2019-08-01 20:36] adrozemog commented on #17403
How would you test this using console.log? Thanks

[2019-08-01 23:38] jonathan-grah commented on #36513
@ojeytonwilliams, do you mean a plugin for vs code?

[2019-08-02 06:18] teenjuna opened #36556 "Code examples are one-line"
**My problem:**
My problem is that the code examples on some pages are one-line.

**Link to the page with the problem:**
[For example](https://www.freecodecamp.org/news/a-new-approach-to-react-component-design-2bf76a87add1/)

I encountered the issue on different pages in the past but didn't save the links.

**Browsers:**
* Browser Name: Chromium, Firefox (Linux), Google Chrome (Android)
* Browser

[2019-08-02 09:27] ojeytonwilliams commented on #36513
@jonathan-grah well, Markdownlint has a VSCode extension which highlights parts of your markdown break linting rules.

What I'm proposing is we configure VSCode workspace settings (and add that to the repo), so that anyone who uses that extension will have the custom linting rules applied correctly.

[2019-08-02 13:08] IgorSushko1 commented on #17584
I cant unterstand what need to do.. I did everything suggested here, but it's not work

[2019-08-02 13:52] RandellDawson commented on #36556
Do you how the directory structure should look?

[2019-08-02 14:08] ojeytonwilliams commented on #36556
This looks like a problem with specific news article.  Maybe contact the author or discuss it [here](https://www.freecodecamp.org/forum/t/a-new-approach-to-react-component-design/286419).

[2019-08-02 14:19] RandellDawson commented on #36556
I have corrected that specific article to match the original post on Med.  This is a known issue.  Multi-line code sections were not properly ported over to Ghost.  I have been working on a way to fix them with a script.  The one thing which we can not fix is the missing embedded GitHub gists.  None of those were ported over, so we are depending on the original authors to add those gists as embede

[2019-08-02 19:27] QuincyLarson commented on #36479
We may be able to make the landing page and the welcome page the same and just react differently depending on whether people are auth'ed in.

[2019-08-03 12:19] Amirhamza894 commented on #34154
hello,
i am facing same issue when i click on show certificate i got error like make sure your profile marked public. what should i do now ?

[2019-08-04 20:03] bhavesh2699 opened #36561 "unable to load profile picture?"
Recently i enter into code camp with my account  and i successfully logged in but it was not displaying my profile picture. When i tried t find issue in console i was getting error regarding
GET https://media.licdn.com/dms/image/C5103AQGN6p8Ku2EH2Q/profile-displayphoto-shrink_200_200/0?e=1557964800&v=beta&t=dZ0d3m_M40lmSd2iWOT1IBm3RoGdLOvAv_K-7Wau8ac 403 (Forbidden)

![Screenshot (75)](https://use

[2019-08-05 17:05] #36481 closed

[2019-08-05 17:05] raisedadead commented on #36481
Resolved!

[2019-08-05 17:07] raisedadead commented on #35453
Lets use this thread to discuss the direction for the template on the forum.

[2019-08-05 17:15] Lornz- commented on #34154
Hi @Amirhamza894,

As @raisedadead said, it seems to happen when you have more than one user record for the same email or the username, accidentally. That was my case.

You can email him at mrugesh@freecodecamp.org or directly at the FreeCodeCamp support team team@freecodecamp.org.

[2019-08-05 17:30] letmelearncode commented on #34617
Hi All, first timer here. trying to understand what needs to be done. Request someone to let me know how to proceed further on this issue. Thanks in advance.

[2019-08-05 20:24] enrider opened #36564 "Spread operator only accepts array literal"
**Describe your problem and how to reproduce it:**
In [this lesson on the spread operator](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-the-spread-operator-to-evaluate-arrays-in-place/), I ran into the following issue.

This particular lesson has three tests:
1. arr2 is correct copy of arr1.
2. ... spread operator was used to duplicate arr1.
3. arr2 remains unch

[2019-08-05 20:31] enrider commented on #36564
PR submitted for review: https://github.com/freeCodeCamp/freeCodeCamp/pull/36565

[2019-08-05 20:33] RandellDawson commented on #36564
What solution do you think should not pass and does with the current tests and/or what solution do you think passes when it should not?

[2019-08-06 05:10] raisedadead commented on #34154
Hi @Amirhamza894

Thanks for reaching out. Please drop an email to team@freecodecamp.org from your registered email address.

Thanks.

[2019-08-06 05:16] raisedadead commented on #36561
Thanks for reaching out, unfortunately it's the website (LinkedIn's CDN) you have the profile pic being linked from is not allowing you to hotlink the image with us.

I recommend visiting your profile settings and update the image link to something that is more lenient like GitHub or Gravatar.

<https://avatars3.githubusercontent.com/u/41828589?s=400&v=4>

[2019-08-06 05:16] #36561 closed

[2019-08-06 16:23] jaybaldha opened #36567 "Missing hints in basic Javascript."
**Describe your problem and how to reproduce it:**
Missing hint in Basic javascript(Use Multiple Conditional (Ternary) Operators) problem.

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-javascript/use-multiple-conditional-ternary-operators/

**Tell us about your browser and operating system:**
* Browser Na

[2019-08-06 17:23] RandellDawson commented on #36567
Closing as non-issue, since the current Guide on the master branch (not yet deployed to production) has a solution.  The hints and solutions will be available on the forum soon.

![image](https://user-images.githubusercontent.com/5313213/62561466-229c7580-b834-11e9-99e4-277796c1112a.png)

[2019-08-06 17:23] #36567 closed

[2019-08-06 18:58] #36307 closed

[2019-08-06 21:56] #36564 closed

[2019-08-06 23:08] ColinAmos opened #36568 "Search results are misaligned"
**Describe the bug**
When trying to search using the search bar on a lesson page, the search result preview list is misaligned to the point where the results cannot be read because they are so far outside the window space.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any lesson page (ex: https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/say-hello-to-html-elem

[2019-08-06 23:27] ColinAmos opened #36569 "Pressing "e" transfers focus to code editor, even when typing into the search bar"
**Describe the bug**
When typing into the search bar on any lesson page, typing "e" triggers a focus hotkey that transfers focus to the code editor, such that what the user then types will go to the code editor instead of the search bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any lesson page (ex: https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/say-hel

[2019-08-07 05:24] RandellDawson commented on #36568
This issue has already been fixed on the master branch.  We are just waiting for the master branch to be deployed to production.  I am closing this as fixed but waiting to be shipped.

[2019-08-07 05:24] #36568 closed

[2019-08-07 09:23] ahmadabdolsaheb commented on #36477
I will refactor #35508 and shave off the unnecessary changes to accomplish the following goals.

- [ ] introduce global color palette variables
- [ ] switch color palette variables based on redux's user>theme state
- [ ] replace current colors and backgrounds colors with variables
- [ ] remove .night classes
- [ ] add post css gatsby plugin for vendor prefixes
- [ ] remove excess css  such as layo

[2019-08-07 10:54] ColinAmos commented on #36568
This issue seems deserving of a hotfix to me. Regardless, what's causing the delay? It looks like this new master branch has been "waiting to be deployed" for 6+ months.

[2019-08-07 14:24] RandellDawson commented on #36568
@ColinAmos There are many new changes coming which required a complete re-engineering of the repo.  There are only 3 core developers currently and the rest of us are volunteers.  The entire search feature has been redesigned along with a lot of other functionality and look of the site.  Once launched, you will see most bugs fixed which are currently present in production.

[2019-08-07 16:30] ColinAmos commented on #36568
@RandellDawson Thanks for the response.

[2019-08-07 19:37] raisedadead opened #36572 "Add gitpod documentation and update config for remote"
We need the ability to be able to launch the GitPod workspaces with the origin remote NOT pointing to the main repository, but the fork of the user instead.

If the later is not possible, then at least removing the remote, so that the user notices the remote missing while pushing.

Additional guidelines around this are also required to be documented for setting remotes in the terminal within GitPo

[2019-08-07 19:38] raisedadead commented on #36572
/cc @cmccormack for oversight.

[2019-08-07 20:52] ahmadabdolsaheb opened #41076 "Add Unit tests"

[2019-08-08 00:40] RandellDawson commented on #16958
@raisedadead Is this still an issue which needs to be resolved?

[2019-08-08 00:52] RandellDawson commented on #17304
@raisedadead Since the search feature is changing, won't this be a won't fix or obsolete issue?

[2019-08-08 07:08] wuxmedia commented on #13264
only because this is the first result for googling this error - check the forum post - basically you need to make sure Chrome's font sizes are 10px minimum (otherwise this just doesn't pass ever)

[2019-08-08 08:46] ahmadabdolsaheb commented on #35648
Sound like it has a really good potential.
@raisedadead should we move it to deferred and work on shipping it with the upcoming design overhaul on the next iteration?

[2019-08-08 10:18] javascriptWriter commented on #17195
still not fixed

[2019-08-08 16:15] QuincyLarson commented on #36478
@ahmadabdolsaheb I am satisfied with @scissorsneedfoodtoo's current search implementation, and I think it's ready to roll out site-wide. Have we added the search bar to universal navigation? If so, we can roll this out along with universal navigation.

[2019-08-08 16:18] QuincyLarson commented on #35475
Note: @bouncey took a job at a local Irish tech company, and probably won't be contributing for a while. But his notes here are still helpful. We should build a comprehensive test plan that several of us can go through before we ship Next to production.

[2019-08-08 23:04] ammrat13 commented on #36569
Pull request #31591 and [its corresponding fix](github.com/freeCodeCamp/freeCodeCamp/commit/457bd4de171e8e47e0f344cd7e8722b1c433758b) may be related to this.

[2019-08-08 23:44] RandellDawson commented on #36569
@ColinAmos I believe this has been fixed on the master branch.  However, I can not replicate the same problem on production which you are experiencing.  In the next couple of days, there will be a beta site up an running with the current master.  Once it is up and running, I will send you a link to it and have you see if the problem still exists on it.  Keep in mind the new search feature is much

[2019-08-08 23:48] ammrat13 commented on #36569
Can confirm. I just tried running `master` locally and was unable to reproduce.

[2019-08-09 13:41] moT01 commented on #36569
I can reproduce this on production - but it looks like it has been fixed on master.

[2019-08-09 14:05] moT01 commented on #36467
This does not happen on master for the timestamp project...
<img width="702" alt="Screen Shot 2019-08-09 at 8 57 42 AM" src="https://user-images.githubusercontent.com/20648924/62784562-62599c00-ba84-11e9-9412-24681d1a0097.png">

It does happen for the rest of the projects because they don't have any tests. If you go [here](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/curriculum/challen

[2019-08-09 15:05] siddtheone opened #36574 "Negative margins isn't defined properly"
On the negative margin tutorial its written that "If you set an element's margin to a negative value, the element will grow larger." However this isn't completely correct and it depends on various factors as explained on "https://www.smashingmagazine.com/2009/07/the-definitive-guide-to-using-negative-margins/"

[Negative Margin](https://learn.freecodecamp.org/responsive-web-design/basic-css/add-a-

[2019-08-09 16:38] RandellDawson commented on #36400
@ojeytonwilliams Are you ok with me closing this issue now?

[2019-08-09 16:42] ojeytonwilliams commented on #36400
@RandellDawson Sure, I think we're in a good enough state now.

[2019-08-09 16:42] #36400 closed

[2019-08-10 03:43] leodaher commented on #36572
If the user launches GitPod from their fork, the origin remote points to the fork, doesn't it?

[2019-08-11 08:25] scissorsneedfoodtoo commented on #36538
Sorry for the delay everyone.

I believe the timeout was increased earlier this year like @RandellDawson mentioned, though I can't find the PR at the moment. It's my understanding that we won't be adding more projects to any sections of the curriculum, and that all of the current required projects will remain the same once the new curriculum rolls out.

I'm thinking the best thing to do now is to

[2019-08-11 10:25] jatin33 commented on #34614
Is this issue still open?
I would like to help out.

[2019-08-11 14:40] raisedadead commented on #36572
It does. We are looking to solve the edge case where maintainers on this repository have write access to the upstream (this repo), and the forget about the push rights when working on a instance that the launched from the main repo.

[2019-08-11 14:46] #36569 closed

[2019-08-11 15:33] moT01 commented on #36538
My vote is still to just remove the last test.

[2019-08-11 16:16] RandellDawson commented on #36538
You would have to also remove the 2nd to last test, because people also end up with inefficient solutions which do not pass it either.  That being said, instead of watering down the challenge, I say move it to the Algorithms sub section of the Coding Interview Prep section.

[2019-08-11 16:29] moT01 commented on #36538
The second to last test failing is much more rare - but yes, it does happen. Removing the last test would probably work for 90+% of cases.

It is one of the more difficult algorithms - moving it to coding interview prep might not be a bad idea.

[2019-08-11 16:39] gpedro34 commented on #17972
The link is not broken anymore but I would suggest changing the link color previous to being clicked or to put some text decoration like underline or so, in order to jump to eyesight easily.

I lost so much time in this challenge due to not using the correct boilerplate as the tests did not pass even if my code was correct for the exercise. I'm sure I'm not the first one with this issue.

Also, th

[2019-08-11 19:05] leodaher commented on #36572
Oh, I get it now! Can I work on a PR for this issue?

I'm guessing we could assume the user has a fork, and try to set the remote origin to it (git does not return an error if the url does not exist).

[2019-08-11 19:58] shreyas1599 opened #36581 "Redundant cplusplus guide articles"
I was looking at the C++ guide articles and noticed some kind of redundancy. For instance, there are 4 articles that talk about loops. One about for-loops, one about while-loops, one about range-based-for-loops and another one about loops in general. I think it's best all of them be merged into one single article titled 'Loops'. If this was deliberately done, can someone explain why? If this was a

[2019-08-11 22:36] RandellDawson commented on #36538
I could be wrong, my guess is that most of the Project Euler tests are going to fail, because those challenges require extremely efficient algorithms.  If we start taking tests out because people don't have efficient algorithms, we may have to remove many of the Project Euler tests too.  Where does it end.

I think if you move it to the Algorithms section of the Coding Interview Prep, then there i

[2019-08-12 09:19] raisedadead commented on #36572
Yup. Thanks for working on this.

[2019-08-12 09:31] ojeytonwilliams commented on #36538
@RandellDawson that's definitely true about the Project Euler questions. Many of them are explicitly designed so that you need to solve them efficiently.  I don't think it makes sense to relax that requirement.

As for this challenge, I think

1. Remove the last two tests
2. Move it and warn people they need to use a fast algorithm

are the best two options.  If it stays it needs to be solvable in

[2019-08-12 10:34] krishnakakade1999 commented on #34617
function htmlColorNames(arr) {
  // change code below this line
  arr.splice(0, 2, "DarkSalmon", "BlanchedAlmond");
  // change code above this line
  return arr;
}

// do not change code below this line
console.log(htmlColorNames(['DarkGoldenRod', 'WhiteSmoke', 'LavenderBlush', 'PaleTurqoise', 'FireBrick']));
**use this code this going to help you ok**
**if code runs then thumbs up follow to**

[2019-08-12 10:37] krishnakakade1999 commented on #34617
**<b>I hope by using above code issue is solved </b>
                <center>thank you then close this issue</center>**

[2019-08-12 11:49] lasjorg commented on #34617
@krishnakakade1999 Did you actually read the issue and what it pertains to?

@RandellDawson Do we have any final verdict on this? I like what @d-evans came up with, do you have any objections?

[2019-08-12 12:40] Hardik500 commented on #35985
Hi @moT01
I think it would be best that the search result from search page (https://search.freecodecamp.org/?q=html) should be used to display queries or any page.
Since when user searches anywhere first he is redirected to the search page with the same query and then is redirected to the the article or docs.
It would save up a lot of time if one could search up the same results from anywhere.

[2019-08-12 13:53] krishnakakade1999 commented on #34617
**first two parameter in the function is for start and end i hope this  is last for this issue we have to close this** @lasjorg he is solution is correct one

[2019-08-12 13:58] krishnakakade1999 commented on #34617
@RandellDawson yes i readed but arr.splice() function can take more than two values if still this issue is not solved then ask @beaucarnes @QuincyLarson

[2019-08-12 14:05] RandellDawson commented on #36538
If two mods can agree on either of @ojeytonwilliams's option 1 or 2 above, I will be ok approving that same decision and merging the PR.

[2019-08-12 14:32] ValeraS commented on #36538
In master, JS challenges do not use a 100 ms limit per cycle. Only a 5-second limit per test is used for them.

[2019-08-12 14:50] RandellDawson commented on #35985
@moT01 I think we can close this now, as it has been decided by the core team that the search feature will only be searching the news articles.

[2019-08-12 14:55] RandellDawson commented on #36538
So maybe this is a non-issue and we do not need to change anything.  @moT01 Have you tested some of the solutions which users say do not pass on production using the master branch locally?

[2019-08-12 14:57] moT01 commented on #36538
I was just doing this... I tested about a dozen algorithms from forums posts on master and two of them didn't pass the last test.

I didn't test them all on production, but the two I tested on production didn't pass the last two tests but passed them all on master.

[2019-08-12 14:59] RandellDawson commented on #36538
Would you mind sharing the two solutions which do not pass on master?

[2019-08-12 15:01] moT01 commented on #35985
Sounds good - the issue might still exist, I'm not sure how it will display things when it's running. But for now, yes, we can close this and test it when it's up and running.

[2019-08-12 15:01] #35985 closed

[2019-08-12 15:02] RandellDawson commented on #35985
There were a ton of PRs related to the search functionality which were merged in the last two weeks.  Once freecodecamp.rocks is up and running again, we can validate everything is as it should be.

[2019-08-12 15:05] moT01 commented on #36538
I'll have to go find them again - I had these two tabs still open that fail production and pass master...
https://www.freecodecamp.org/forum/t/smallest-common-multiple-final-test-not-passing/281567
https://www.freecodecamp.org/forum/t/smallest-common-multiple-last-test-not-passing/281726

[2019-08-12 15:16] RandellDawson commented on #36538
@moT01 I just tested both posts listed on the topic you mention in your EDIT.  The function returns 2018940 for the last test which is incorrect.  It has nothing to do with triggering the infinite loop protection.

[2019-08-12 15:30] ojeytonwilliams commented on #36538
I tried
[code]

and that ran into the 5 s cutoff, but didn't trigger `loop-protect`, so it seems `loop-protect` isn't being used any more.  I think that's why everything is passing.

[2019-08-12 16:23] moT01 commented on #36538
Here's what you get with an infinite loop on master...
<img width="498" alt="Screen Shot 2019-08-12 at 11 19 23 AM" src="https://user-images.githubusercontent.com/20648924/62880488-195b4f00-bcf3-11e9-984e-f2a681ffff4b.png">
And you do get the 5 seconds on each test before it times out.
So yea, if everyone's fine with how it is - we can probably just leave this alone.

[2019-08-12 16:25] RandellDawson commented on #36538
I believe we are ok with closing this.

[2019-08-12 18:02] ojeytonwilliams commented on #34617
I also really like what @d-evans came up with.  It's clear, concise and focused on what you can do with `splice`.

[2019-08-12 18:52] #36538 closed

[2019-08-13 07:02] yasarshaikh opened #36583 "Unable to pass the skewX challenge, where as completed whatever required in the module"
**Describe your problem and how to reproduce it:**
I have a code, which looks fine as per the instructions, however challenge testing is getting me same error each time.
Expected:
Skew the element with the id of bottom by 24 degrees along the X-axis by using the transform property.

Applied style:
 #bottom {
    background-color: blue;
    transform : skewX(24deg); //even tried with -ve value and

[2019-08-13 07:03] cherry-geqi commented on #17195
still not fixed

[2019-08-13 11:58] Hardik500 commented on #36583
The problem is in your transform code
It is `transform: skewX(24deg);`
not `transform : skewX(24deg);`
There is no space after transform.

[2019-08-13 12:52] sid995 commented on #36583
There should be **NO** space between the css property and semicolon.

here it should be `transform: skewY(24deg)`
not `transform : skewY(24deg)`

[2019-08-13 13:01] yasarshaikh commented on #36583
Thanks @Hardik500 and @sid995 ! I resolved it by removing that space!

[2019-08-13 13:01] #36583 closed

[2019-08-13 15:22] RandellDawson commented on #34617
@d-evans or anybody else want to create a PR implementing what @d-evans has proposed?  We welcome such a PR.

[2019-08-14 10:28] mehmetseckin opened #36588 "Can't sign in using GitHub after changing GitHub username"
**Describe the bug**
Cannot access my existing account after changing my GitHub username. The platform automatically registers me as a new user.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an account using a github account.
2. Change your username on github.
3. Try to sign in to the platform.
4. See you're being registered as a new user.

**Expected behavior**
Expected to be signe

[2019-08-14 11:54] godcrampy commented on #34617
Hi, beginner here. I am willing to make the changes proposed by @d-evans .

[2019-08-14 13:23] RandellDawson commented on #34617
@godcrampy Go for it!

[2019-08-14 16:05] Milan-Varghese commented on #11837
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>

  h2{}

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  }
  .img-responsive{
    width:100 px;
  }
</style>

<div class="container-fluid">
  <h2 class="text-primary Boothstrap">CatPhotoApp</h2>
  <a href="#"><img cl

[2019-08-14 16:06] Milan-Varghese commented on #11837
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>

  h2{}

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  }
  .img-responsive{
    width:100 px;
  }
</style>

<div class="container-fluid">
  <h2 class="text-primary Boothstrap">CatPhotoApp</h2>
  <a href="#"><img cl

[2019-08-14 16:07] lasjorg opened #36590 "Typo in "create grids within grids" challenge video"
Challenge: https://learn.freecodecamp.org/responsive-web-design/css-grid/create-grids-within-grids/
Video: https://scrimba.com/c/c6N78Ap

The code is supposed to create a two-column layout but there is a typo.

Video has:
`grid-template-colums`

Should be:
`grid-template-columns`

@beaucarnes It would be nice to have the video fixed if possible.

[2019-08-14 16:08] RandellDawson commented on #11837
@Milan-Varghese GitHub is only for reporting bugs with the tests or creating PRs to fix bugs.  If you are having problems with passing a challenge, please click the "Ask for Help" button located on the challenge.  This will allow you to create a forum post where you will get the best help.

Thank you.

[2019-08-14 16:16] Milan-Varghese commented on #7797
just a matter of a closing tag </div>

[2019-08-14 17:13] Milan-Varghese commented on #3357
<link
      href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
      <style>
  .red-text {
    color: red;
  }

p {
    font-size: 16px;
    font-family: Monospace;
  }

 h2 {
  font-family: "Lobster", cursive;
}

</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack y

[2019-08-14 17:18] RandellDawson commented on #3357
@katieroo Please stop posting code with no context to closed issues.  If you have questions, please use [our forum](https://www.freecodecamp.org/forum).

[2019-08-14 17:36] Milan-Varghese commented on #3672
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    wid

[2019-08-14 17:41] Milan-Varghese commented on #8300
Simple
They've asked an a element that links to http://freecatphotoapp.com
but your element links to http://freecodecamp.com
So just correct the link

[2019-08-14 23:47] H1D1 commented on #17606
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster;
  }

  p {
    font-size: 16px;
    font-family: monospace;
  }
</style>

this code solve my problem

[2019-08-14 23:54] RandellDawson commented on #17606
@H1D1 If you are having trouble with a challenge, please use the forums.  The issues are for reporting bugs in the repo and not for just posting code you need help with.

Thank you.

[2019-08-15 00:22] #36381 closed

[2019-08-15 03:28] Milan-Varghese commented on #3357
@RandellDawson very sorry about that.I'm new to github.By the way thanks for your concern

[2019-08-15 11:27] raisedadead commented on #35475
**Note:**
This is a document only issue. Please open fresh issues for discussions and reporting bugs. You can label them as **[`release: next/beta`](https://github.com/freeCodeCamp/freeCodeCamp/labels/release%3A%20next%2Fbeta)** for triage.

[2019-08-15 13:31] moT01 opened #36594 "[.dev] settings page button text gets cut off on small window"
Text in the buttons on the settings page gets cut off on a small window...
<img width="352" alt="Screen Shot 2019-08-15 at 8 11 15 AM" src="https://user-images.githubusercontent.com/20648924/63097800-ed301000-bf36-11e9-9442-f912597a72ec.png">
<img width="349" alt="Screen Shot 2019-08-15 at 8 10 47 AM" src="https://user-images.githubusercontent.com/20648924/63097803-edc8a680-bf36-11e9-8d89-ddfe40e0

[2019-08-15 13:36] moT01 opened #36595 "[.dev] Watch a video not working on firefox"
Go to any challenge
Click "watch a video"
It doesn't work on firefox (68.0.2)
It works on chrome and safari

[2019-08-15 13:53] moT01 opened #36596 "[.dev] Get a hint links not working"
Go to any [backend challenge](https://www.freecodecamp.dev/learn/information-security-and-quality-assurance/information-security-with-helmetjs/hide-potentially-dangerous-information-using-helmet.hidepoweredby)
Click the "get a hint" button

It redirects to https://www.freecodecamp.org/forum/search?q=/learn/information-security-and-quality-assurance/information-security-with-helmetjs/hide-potential

[2019-08-15 14:03] moT01 opened #36597 "[.dev] There's a little space below the hover effect in the nav"
This might be intentional, but it feels like the hover effect on the buttons should go all the way to the bottom...

![Screen Shot 2019-08-15 at 9 00 38 AM](https://user-images.githubusercontent.com/20648924/63099732-469a3e00-bf3b-11e9-9fbb-b3e38c658d3c.png)

[2019-08-15 14:07] moT01 opened #36598 "[.dev] Nav buttons stay highlighted"
Go to https://www.freecodecamp.dev/
Click "learn"
The button stays highlighted until you click elsewhere

Not sure if this is a problem, but it feels a little weird to me.

[2019-08-15 14:29] moT01 opened #36599 "Keep code after submit?"
When you go work on a challenge, your code will stay there if you navigate around and come back to it. But after you submit the challenge, the code gets reset. Wondering if we can or should keep that code there after the challenge gets submitted.

[2019-08-15 14:30] RandellDawson commented on #36597
I could be wrong, but it is not that it is highlighted, but instead just shows you that you are on the learn part of the site.

[2019-08-15 14:45] RandellDawson commented on #36599
I tried to recreate this problem, but can not.  When I click `Submit and got to next challenge`, I can still go back and see the code I entered.  I only tested a few challenges and I was using Chrome.

[2019-08-15 14:55] moT01 commented on #36599
I must be the only person that uses firefox - yea, it doesn't happen on chrome.

[2019-08-15 15:04] RandellDawson commented on #36599
@moT01 I just tried the same thing on Firefox and can see my submitted code when going back to the challenge after clicking the `Submit and got to next challenge`.  Maybe you have a different cache setting than I do.

[2019-08-15 15:35] ValeraS commented on #36599
Code is erased after submitting if you logged in.

[2019-08-15 15:37] RandellDawson commented on #36596
@raisedadead I will work on this one.

[2019-08-15 15:45] ValeraS commented on #36598
It's highlighted an active element on the page. If you press tab key focus will change and will be highlighted next element.

[2019-08-15 15:51] RandellDawson commented on #36599
@ValeraS But only if logged in?  Is this by design?

[2019-08-15 15:54] ValeraS commented on #36599
By design. But not sure it is right.

[2019-08-15 16:13] Ieahleen opened #36602 "found all "Pro Bono" page still active"
**Describe the bug**
it is still possible to reach the page title "We will build software for your nonprofit. Pro Bono."

**To Reproduce**
Steps to reproduce the behavior:
Go to https://www.freecodecamp.org/Nonprofits

**Expected behavior**
seeing the page for "Open Source for Goods" projects - which i can see at this link: https://www.freecodecamp.org/nonprofits/

(sorry for the title, that was t

[2019-08-15 17:37] moT01 commented on #36598
Is this for accessibility? It definitely feels weird to me, but tolerable. Either way, I don't think it's working quite right because the nav area is omitted from the tabs. Pressing tab when `learn` is highlighted takes me to the content area. And if I continue pressing tab to cycle through the whole page I never get taken to the nav area - it just gets skipped.

[2019-08-15 17:42] ojeytonwilliams opened #36603 "[.dev] Formatting on mobile"
**Describe the bug**
Some pages overflow horizontally on mobile browsers.

**To Reproduce**
Steps to reproduce the behavior:
1. Use a mobile with a small enough screen (i.e. iPhone 6/7/8 in the chrome dev console)
2. Go to https://www.freecodecamp.dev/donate/
3. Try to scroll horizontally (it should not work)
4. Click on 'Show other ways to donate'
5. Try to scroll

**Expected behavior**
The brows

[2019-08-15 19:13] moT01 opened #36604 "[.dev] Unable to change email address on settings page"
I can't change my email address on the settings page. Anyone one else want to confirm this?

[2019-08-15 19:16] moT01 opened #36605 "[.dev] typo on sign in page"
go to https://www.freecodecamp.dev/
click the `sign in` button
minor typo here:

![Screen Shot 2019-08-15 at 2 14 29 PM](https://user-images.githubusercontent.com/20648924/63120121-444dd900-bf67-11e9-8bfd-7893dcd1d013.png)

[2019-08-15 19:21] moT01 opened #36606 "[.dev] search links to old guide article urls"
<img width="850" alt="Screen Shot 2019-08-15 at 2 19 51 PM" src="https://user-images.githubusercontent.com/20648924/63120394-d81fa500-bf67-11e9-8ba5-e57706be47d6.png">

Since all the guide articles have been moved to the forum - all the search results for guide articles are linking to 404 pages.

[2019-08-15 19:40] moT01 commented on #36588
Sorry to hear about your problem @mehmetseckin - you could try changing your github name back to what it was as a temporary fix. I bet that would let you back on your original account.

[2019-08-15 19:53] RandellDawson commented on #36606
@raisedadead I assume all this will clear up once the search only indexes news articles?

[2019-08-16 02:36] PhilipGreene08 opened #36607 "Boo Hoo get a hint link broken"
**Describe your problem and how to reproduce it:**
Link to "using typeof" at bottom of page does not take me anywhere

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-algorithm-scripting/boo-who/

**Tell us about your browser and operating system:**
* Browser Name: Chrome
* Browser Version:
* Operating Syste

[2019-08-16 03:06] RandellDawson commented on #36607
Thank you for reporting this issue, but it actually has been resolved.  The hints/solutions will soon be on the forum and the "using typeof" link has been removed from it.

I am closing this issue as resolved but awaiting shipping to production.

[2019-08-16 03:06] #36607 closed

[2019-08-16 08:00] ValeraS commented on #36598
It's strange, for me Firefox works the same way as Chrome.

[2019-08-16 08:05] ahmadabdolsaheb commented on #36478
@QuincyLarson, yes the search that we have on news needs to be rectified. And then it would be ready to go.

[2019-08-16 08:07] ahmadabdolsaheb commented on #36594
we are hopefully rolling out command-line chic on Monday. those issues should mostly be resolved since we are going smaller for toggle buttons.

[2019-08-16 08:10] ahmadabdolsaheb commented on #36597
That navigation will be replaced with the one we have on news. and we will be taking care of vendor prefixing using postcss and autoprefixer.

[2019-08-16 08:13] ahmadabdolsaheb commented on #36598
we will be porting the news navigation and adding another button for settings/sign up for command-line chic.
we will take care of vendor prefixes using gatsby's postcss plugin with autoprefixer

[2019-08-16 08:14] mehmetseckin commented on #36588
@moT01 	Thanks for your response. I thought of that, however I'm not quite fond of the idea of changing my username to back to what it was, as that'll break a lot of links everywhere, and I'm not sure if I can keep renaming my account.

I might be able to create a new one with the old username and try to get in my old freeCodeCamp account, but if that is possible, then I think it poses a security

[2019-08-16 10:04] huyenltnguyen commented on #36588
@mehmetseckin With issues related to accounts and data, I'd suggest sending an email to `team@freecodecamp.org` and let the team know about the issue you're experiencing. I have seen many users done that and got their accounts merged with the progress restored.

[2019-08-16 18:57] mikeboutros opened #36610 "The npm section is hard to follow"
**Describe your problem and how to reproduce it:**
The entire curriculum has issues with grammar and the landing page where it explains how to set up the environment is confusing.

**Add a Link to the page with the problem:**
The entire curriculum: https://learn.freecodecamp.org/apis-and-microservices/managing-packages-with-npm

**Tell us about your browser and operating system:**
* Browser Name:

[2019-08-16 19:09] RandellDawson commented on #36610
@mikeboutros Can you be a bit more specific as to what needs to be changed in your opinion.  Make sure to review the current version of the challenges on the master branch, as some of the verbiage could have changed since the production site was last updated.

Please make your recommended changes here and we can discuss.  If a consensus is reached about what should be changed, we can request other

[2019-08-16 19:43] QuincyLarson opened #36611 "Comment email notifications for Developer News authors"
Currently authors are unaware of comment threads about their article unless they actively check.

The best way for notify authors of comments is by sending them an email whenever they get a new comment.

User Story: As an author, whenever someone comments on my article, I get an email with a body of that comment, and a link to the thread so I can reply to it.

[2019-08-16 19:51] RandellDawson commented on #36611
@raisedadead Would you want to implement this via the Discourse API using a webhook?  If a forum user is "watching a thread" (based on their forum settings for the topic), then they would automatically get an email anyway.  However, the author may not even have a forum account that we could set the "watching" status for the comments.

I have not studied how you have linked the comments back to the

[2019-08-16 19:57] mikeboutros commented on #36610
[Introduction to the Managing Packages with npm Challenges](https://learn.freecodecamp.org/apis-and-microservices/managing-packages-with-npm)

On this page, we need to explain that if you log into Github on Glitch, you have to do certain steps. Something similar to what this person [said](https://www.freecodecamp.org/forum/t/managing-packages-with-npm-how-to-use-package-json-the-core-of-any-node-j

[2019-08-16 20:02] colbyfayock commented on #36611
I can attest that I wasn't automatically set as a watcher for comments on one of my posts until I updated that manually. I _thought_ that we were supposed to create an author username that was the same as the forum account but maybe I'm making that up.

At any rate, I think if there isn't a known association, maybe a minimum solution is to query the author's email against the forum users and if yo

[2019-08-16 20:09] colbyfayock commented on #36611
@RandellDawson if Ghost supports it, you may be able to have a user-defined field within Ghost that links their forum author username. I guess the difference is opt-in to comment notifications or providing something that will work right away (for most). An argument to the latter is people may not know to look for it in Ghost settings unless some sort of notification is made that let's people know

[2019-08-16 20:21] RandellDawson commented on #36611
@colbyfayock Yeah, we'll have to make it clear where a user must go to stop the notifications.  That is the issue with having Ghost for the main part and using the forum for the comments.  Each system has to be connected for features like "opt-out" to work smoothly.  If we add the "opt-out" to Ghost, ultimately has to communicate to Discourse to turn off the Watching status for the thread and mayb

[2019-08-16 22:52] kamilwyremski commented on #17195
Today still not fixed in Chrome.
In Firefox is working.

[2019-08-16 23:20] colbyfayock opened #36612 "News Post Comments Visibility"
I think it's great that the comments are hidden on load, as it avoids contributing to the initial page load. I do however think it's good to have them visible, as doing so I believe would help to encourage others to participate.

One idea for doing so would be to lazy load it in, triggered by the scroll position. Once a visitor gets, say, 75% through the article, the comments section could be load

[2019-08-17 10:05] raisedadead commented on #36611
@QuincyLarson

Here are two options:

**Option A:**

- This involves developing an independent API of its own.
- Discourse API should be delivering a webhook for all comments (not limited to news), depending on the config this can be filtered (either in discourse or the api), to react to the webhook.
- The API would then query the author from the Ghost instance using the Ghost admin API.
- API wou

[2019-08-17 10:18] raisedadead commented on #35475
I am going to close this. This biases the QA to certain elements and defeats the purpose of going thru all things

[2019-08-17 10:18] #35475 closed

[2019-08-17 10:31] raisedadead commented on #36612
This is something we will have once we have had figured out the infrastructural needs for our current news platform.

At the minute, any automated solution is going to put extreme loads on the platform for not much gain. I am making a guess that not much of the users are actually interested in commenting on the articles anyways (I know that's the point of this thread), the passive browse only traf

[2019-08-17 11:08] raisedadead opened #36616 "replace identicon.org generator with native logic in client"
Helpful lib: https://github.com/stewartlord/identicon.js

[2019-08-17 11:10] raisedadead commented on #36599
This has come up several times before, and has been clarified in the closed issues. In short yes, this is by design.

[2019-08-17 11:10] #36599 closed

[2019-08-17 11:11] raisedadead commented on #36605
Resolved. Thanks for reporting.

[2019-08-17 11:11] #36605 closed

[2019-08-17 11:17] raisedadead commented on #36602
We have deprecated this pages and in our upcoming version of freeCodeCamp we would redirect these to our main landing page.

Thanks for letting us know.

[2019-08-17 11:19] raisedadead commented on #36606
Yes, I am triaging this a bug, but this is essentially going to resolve by not showing up the guide results anymore.

[2019-08-17 12:05] colbyfayock commented on #36611
@raisedadead i think the hope is to be able to automate something like Option B

what is the process between when a post gets published on Ghost and subsequently posted in the forum? At that time, could you query for the author based on their Ghost account email and once posted, mark the account found via email as watching the thread? This solves all concerns if possible, the only issue is whether

[2019-08-17 12:15] colbyfayock commented on #36612
i think the fact that the comments are kind of buried behind the link helps that traffic trend, though there would still always be a much higher percentage of passive browse. it almost appears as if there are no comments given it's just a button or not a comment section if you breeze right through it and not realize it's there.

to be clear, what infrastructure are you concerned about? The reason

[2019-08-17 12:29] raisedadead commented on #36612
That is correct and by design (for now). We would rather not have the engagement than the sites fall over.

We currently are limited by our stack. For various vendor support / costing and partnership reasons we do not have parts of platform hosting under our control. Unfortunately I am unable to share more details about the infra here on this thread.

As of now the fact remains, this is a feature

[2019-08-17 12:33] raisedadead commented on #36611
This has to be opt-in. Else it becomes a privacy concern. Meaning we need to build the logic/views where authors opt-in.

The current Ghost and the Discourse instances are being used out of the box. This means we do not control the source code (server side). Nor do we control the admin views.

We could fork and do our thing, but again that's more devops overhead that I would avoid for the availabi

[2019-08-17 12:50] RandellDawson commented on #36611
B sounds like it could work and would be a simpler solution.  The author just needs to remember to go to the forum to opt out of the receiving the notifications.

[2019-08-17 12:53] moT01 opened #36619 "[.dev] donate/support modal shows up a lot"
I believe you need to be signed in
Go to a challenge
Complete and submit challenges until the donate/support our non profit prompt shows up
Close it
Then use the back and fourth buttons in the challenge description area
The prompt will pop up on every move to another challenge

It's a little annoying.

Additionally, the donate prompt doesn't show up at all if you aren't signed in.

[2019-08-17 12:57] colbyfayock commented on #36611
B is available today

[2019-08-17 13:45] ahmadabdolsaheb opened #36621 "Remove footer views that have been ported to ghost"
the following views have been ported to news and need to be removed if they exist.

- [x] About
- [x] Support
- [x] Sponsors
- [x] Academic Honesty
- [x] Code of Conduct
- [x] Privacy Policy
- [x] Terms of Service
- [x] Audit all page views other than the above.

[2019-08-17 13:46] moT01 commented on #36595
I tested this on windows 10 + firefox and it was working as expected. So it might not be much of a problem, maybe it's something with my firefox or my OSX (High Sierra 10.13.6) or the combination - not sure.

[2019-08-17 13:48] moT01 commented on #36597
I tested this on windows 10 + firefox and the space wasn't there. So it might not be much of a problem, maybe it's something with my firefox or my OSX (High Sierra 10.13.6) or the combination - not sure.

[2019-08-17 13:54] moT01 commented on #36598
I tested this on windows 10 + firefox and the tabs were working as expected. So it might not be much of a problem, maybe it's something with my firefox or my OSX (High Sierra 10.13.6) or the combination - not sure.

[2019-08-17 14:00] ahmadabdolsaheb opened #36622 "Devops: redirect footer views that have been ported to news"
https://www.freecodecamp.dev/about/
https://www.freecodecamp.org/news/about/
About

https://www.freecodecamp.dev/support/
https://www.freecodecamp.org/news/support/
Support

https://www.freecodecamp.dev/sponsors/
https://www.freecodecamp.org/news/sponsors/
Sponsors

https://www.freecodecamp.dev/academic-honesty/
https://www.freecodecamp.org/news/academic-honesty-policy/
Academic Honesty

https://w

[2019-08-17 20:12] lancerutkin commented on #36619
I see someone's been assigned recently, but the help wanted label was still attached. I think I've found the source causing this behavior. Ultimately though, it's a business decision as to how frequently freeCodeCamp wants that modal popping.

Happy to take this on or lend a hand to @ahmadabdolsaheb if he'd like.

[2019-08-17 21:43] SkipHendriks commented on #16967
I thought I'd go ahead and create a pull request for the clone. No clue if that would automatically propagate to the glitch version, but I do sure hope so. I changed the description to `meta(name='description', content='Home page')` Changing the test to check for an URL might be more future proof, but I highly doubt we will break the test in the future.

[2019-08-18 05:04] #36483 closed

[2019-08-18 10:26] raisedadead commented on #36619
Hi @lancerutkin thanks for lending a hand, this being a critical bug, was assigned to staff. But we would love the help since you already have done the investigation.

Please open a PR if you have something ready.

Thanks.

[2019-08-18 10:29] raisedadead commented on #36619
Here is the logic:

1. Do not show the modal to a user who is NOT signed in. We are not saving their streak or giving them certificates. So we do not need to show them the modal and annoy them.

2. Do not show the modal to a user who signed up and has <= 10 challenge completions.

3. Show the modal a total of 1 time per session (each browser tab is a separate session).

[2019-08-18 10:30] raisedadead commented on #36619
Eventually we would move to a different approach and may get rid of the modal completely. But for now the above comment is what we have on production and should be continued.

[2019-08-18 11:16] vkWeb commented on #36619
@raisedadead I think we should NOT at all display the donate modal. It feels as if we need to donate $5/month to continue working on challenges. We are still fixing a lot of bugs for the next release. So, I think we should take a different approach and fix this right now. We should not defer this.

We can use the modal of the settings page to ask campers to donate to the community:

![Screenshot (

[2019-08-18 12:47] mbrannon opened #36626 "Previous code not saved if submitted and move on to next challenge"
**Describe the bug**
When submitting code to move on to the next challenge, previous code is wiped from local storage/cache making it impossible to check previous work without downloading json in a roundabout terrible user experience.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Submit and move on to next challenge."
2. Click back.
3. All code reset

**Expected behavior**
Previousl

[2019-08-18 12:50] raisedadead commented on #36619
Thanks for your feedback.

However, as of now our stand on the modal is same as current production. Please feel free to share further feedback on our forum.

@lancerutkin if you are still interested in the issue, we need to fix the parity between our production and master. This https://github.com/freeCodeCamp/freeCodeCamp/issues/36619#issuecomment-522309624 has the logic.

[2019-08-18 12:53] mbrannon commented on #36626
I didn't think it was a feature request because it worked this way previously and STILL works this way if you are logged out of your account? So I think it's a bug. Is this suppose to only work this way and working as intended when logged in for some reason? That seems counter-intuitive since the logged out experience in this regards is better than registering.

[2019-08-18 12:57] raisedadead commented on #36626
Thanks for reporting. We know this has come up several times before. We would not be able to store any solutions on the User object in DB.

The logged out experience seems a bug an not a feature. The solutions are meant to be wiped out.

If you are interested, a PR is welcome to make use of local-storage.

Some thoughts went in here:
https://github.com/freeCodeCamp/freeCodeCamp/issues/34476

[2019-08-18 13:09] mbrannon commented on #36626
Thanks for pointing out that conversation. I missed it when I submitted this. I assumed the solution would be stored locally through the browser local storage and wasn't suggesting doing so on the User in the db. The logged out solutions seem to just stay in local storage even after submitting and moving on to the next one. Clearing your browser cache removes it and confirms this. When I saw it wa

[2019-08-18 13:31] colbyfayock opened #36627 "News: Post Category Link 404"
I can't reproduce this on a any other tags that I've found yet, but the CSS in JS tag produces a 404 on the post page category link. https://www.freecodecamp.org/news/you-dont-need-css-in-js-why-i-use-stylesheets/

![image](https://user-images.githubusercontent.com/1045274/63225101-df7ac480-c19a-11e9-831a-a013e4e2284b.png)

[2019-08-18 14:19] vasuki18 commented on #11280
<a2 href="#"><img class="second-image thick-green-border img-responsiver" src

on image responsive there is a typo. remove 'r' from image-responsive class. it should work

[2019-08-18 14:56] raisedadead commented on #36626
Unfortunately this is the other way around. 😅 !

We would love to be able to address this, and help cut the frustration. Unfortunately as you probably know the dev team has limited bandwidth, and we would need the community to come up with a solution for this feature request.

Thanks for your feedback.

[2019-08-18 15:06] ojeytonwilliams commented on #36626
By the looks of things, https://github.com/freeCodeCamp/freeCodeCamp/issues/34476#issuecomment-444850143, making it happen wouldn't be hard.  However, any PR would need to (at least) think about what happens if the storage gets full.

Is that why you wanted it to reset on submit in the first place?

[2019-08-18 15:09] RandellDawson commented on #36626
@raisedadead What do you think should happen when the storage gets full?  Some kind of warning message?  Or maybe such a message should be display right before the local storage gets full.

[2019-08-18 15:41] mbrannon commented on #36626
@RandellDawson If the storage is full, give a warning that the solution will not be saved when moving forward with a confirmation? I mean how is it handled now? Currently it still saves progress locally until you submit it to move on.

[2019-08-18 16:09] ojeytonwilliams commented on #36626
I could be wrong, but I don't think it's handled at the moment, simply because it's highly unlikely anyone will hit the limit (I assume most people want to submit their challenges and get credit).  Honestly, even if this feature was implemented, it's still unlikely there will be a problem.  Probably best to plan for the worst, though.

If we *are* planning for the worst, I'd suggest creating a cac

[2019-08-18 17:10] raisedadead commented on #36626
This repo has got plenty conversations around the issues with local storage and reasons that we are not using it without a reliable solution. I would recommend taking a look.

[2019-08-18 17:39] sashko02309178409 commented on #36467
You are right.

It is very sad that projects are without tests.
At the moment FCC is kinda trashing its certification.

[2019-08-18 18:46] lancerutkin commented on #36619
@raisedadead, yes, I’ll get working on this and submit a PR when I’m done.
I’ll let you know if I have any questions.

On Sun, Aug 18, 2019 at 8:57 AM mrugesh <notifications@github.com> wrote:

[2019-08-19 08:02] Paddy3118 commented on #17700
A link to just rosettacode.org is as bad as a link to the main page of Wikipedia when there is a lot of content then you link to the page of interest.

[2019-08-19 08:21] javascriptWriter commented on #17195
Actually, if you are looking for certificates no need to complete this..but
its completely based on project

*Thanks & Regards*
*Abidh K Muhammed*

On Sat, 17 Aug 2019 at 02:59, Kamil Wyremski <notifications@github.com>
wrote:

[2019-08-19 13:47] #36616 closed

[2019-08-19 16:42] mbrannon commented on #36626
Short of sounding ignorant, as I've only read what was in #34476, what is wrong with the solution presented there in that discussion where we simply stop clearing it on submission and let it stay in localstorage indefinitely until the user clears the browser. This would clear a lot of the confusion because right now it's simply not behaving the way the users expect it should. It behaves that way u

[2019-08-19 16:57] ojeytonwilliams commented on #36626
I don't know enough to comment on other issues, but to clarify: the storage limit isn't hard drive capacity. It's the browser's self-imposed limitation and is browser dependent.

Hard drive space obviously not a problem (we're talking megabytes here), but `localStorage` might be.

[2019-08-19 17:12] raisedadead commented on #36626
We should ensure that **there is NO solution stored in either signed out or signed states**. This way there is NO confusion about storing anything at all.

Thanks for your detailed feedback.

[2019-08-19 17:14] raisedadead commented on #36626
Here is what is needed with anyone looking into this:

- Audit the master branch behaviour in both signed in and signed out state.
- Compare if solution is stored or not in the localStorage.
- Report back if further fix is needed.

Thanks.

[2019-08-19 17:21] mbrannon commented on #36626
Wait, how did you come to that solution? It should be the opposite. The confusion isn't happening because of it happening in the logged out state. It's happening because it doesn't make sense to clear your solution you just worked hard to complete when there is no reason to. It's not being stored in the db. That's why I asked if there was an issue with it just continuing to work the way it works b

[2019-08-19 17:38] raisedadead commented on #36626
As I said a previously, a PR is welcome either to make the localStorage work covering all edge cases that we have not been able to solve in a really long while. Or removing it completely removing all confusion about storage.

In practice, notifications and any sort of communication does not work.

The dev team does not have the bandwidth to work on this at the minute, the code is open source and w

[2019-08-20 03:09] lancerutkin commented on #36604
@raisedadead Happy to help on this - I poked around a bit and believe I've found the source of the bug. Also glad to point you in that direction if you prefer to handle this since you've already assigned it to yourself.

[2019-08-20 07:11] raisedadead commented on #36604
Sure, thing go for a PR if you have something ready.

[2019-08-20 08:07] #36477 closed

[2019-08-20 08:29] danyalasif commented on #17267
@jragard Tested it on gitpod local environment, works as intended. Still does not work on live site.

The search width is too wide too, so it's not working responsively either.

![image](https://user-images.githubusercontent.com/7072946/63331144-7cca2a00-c34e-11e9-8414-26fc0c9ffe45.png)

[2019-08-20 09:13] ahmadabdolsaheb commented on #17267
this issue has been resolved in the new site. thank you all for reporting and contributing to resolve this issue.

[2019-08-20 09:13] #17267 closed

[2019-08-20 10:31] ojeytonwilliams opened #36641 "Slight tweak to settings style"
With the new command line chic changes, the text in the toggle buttons is aligned a bit strangely. For example, for Quincy's email:

![QuincysEmail](https://user-images.githubusercontent.com/15801806/63339057-5606f600-c344-11e9-89c0-9d10cee7a0e4.png)

might look nicer as follows:

![QuincysEmailUpdated](https://user-images.githubusercontent.com/15801806/63339111-7d5dc300-c344-11e9-848b-9c6f080932e

[2019-08-20 14:02] moT01 commented on #36641
I noticed this as well - I do like your suggestions better I think.

I guess the downside would be that - when you toggle a setting, the text has to move around to make room for the check mark

[2019-08-20 14:03] ahmadabdolsaheb commented on #36479
@QuincyLarson, That sounds like a plan. I can get started on that as soon as I have the final mockup.

[2019-08-20 14:31] ahmadabdolsaheb commented on #36641
@ojeytonwilliams I agree with your proposal. the challenge is that as @moT01 mentioned, the text will be moving around.

we could make the button bigger so it has enough space on the sides of the word that accommodates centering the text; however, we need to account for small screens and customize our css accordingly.

That being said. if you have a solution that accounts for the above challenges,

[2019-08-20 14:51] ojeytonwilliams commented on #36641
@moT01 good point about the text moving!

@ahmadabdolsaheb just to go through the possibilities we can:

1. Centre the text including the tick, resulting in the text moving when the button is toggled.
2. Centre the text only, requiring larger buttons.
3. Leave it as it currently is (smaller buttons, stationary text)

Am I right in thinking that we don't want the text moving, so 1. is no good?  If

[2019-08-20 14:55] RandellDawson commented on #36641
If you go with a stack look on mobile, I think the checkmark should be on the same side of the text.

[2019-08-20 15:16] ahmadabdolsaheb opened #36644 "buttons with text-decoration set to none get underline for text decoration."
On the profile page, displayed button with text-decoration set to none gets an underline most likely due to the styles of its parent (a tag)

![image](https://user-images.githubusercontent.com/4591597/63359455-7307ed00-c375-11e9-8803-e4b03cca3ff6.png)

same issue also present in the current welcome page.

![image](https://user-images.githubusercontent.com/4591597/63360072-7354b800-c376-11e9-9751-f

[2019-08-20 15:37] moT01 commented on #36641
Couple more options...

A:
![Screen Shot 2019-08-20 at 10 24 42 AM](https://user-images.githubusercontent.com/20648924/63361432-bcd0e300-c335-11e9-9b9f-89ec76bf8679.png)
B:
![Screen Shot 2019-08-20 at 10 24 42 AM 2](https://user-images.githubusercontent.com/20648924/63361772-5ef0cb00-c336-11e9-8103-d1332ba25812.png)

[2019-08-20 15:39] ahmadabdolsaheb commented on #36641
thanks for listing our options. we could have moving text. I personally preferred having still text when implementing the button. we can definitely change that.

we could always move the toggles under each option's title and descriptions for instance:

Title
description on mobile
[ toggle | button ]

[2019-08-20 15:52] moT01 opened #36645 "[.dev] front end project pages have no margin"
Front end project pages have no margin and hug the window:
<img width="370" alt="Screen Shot 2019-08-20 at 9 12 57 AM" src="https://user-images.githubusercontent.com/20648924/63362980-5e593400-c338-11e9-9188-b4eecdc6a5aa.png">

All other pages have a margin I believe:
<img width="373" alt="Screen Shot 2019-08-20 at 9 12 48 AM" src="https://user-images.githubusercontent.com/20648924/63362969-586353

[2019-08-20 16:11] ahmadabdolsaheb opened #36647 "404 page has double footer."
![image](https://user-images.githubusercontent.com/4591597/63364399-25dc4900-c37e-11e9-97f6-c1134291a145.png)

[2019-08-20 16:14] moT01 opened #36648 "[.dev] new prev/next buttons look goofy and need some margin"
The new buttons hug the top of the panel.

<img width="347" alt="Screen Shot 2019-08-20 at 10 54 27 AM" src="https://user-images.githubusercontent.com/20648924/63364495-5222a600-c33b-11e9-8cf5-ae82e7d84f5c.png">

I can fix this one.

[2019-08-20 16:56] moT01 commented on #36647
I'm not seeing it on the 404 I'm looking at - what URL gives you that problem?

[2019-08-20 16:59] ojeytonwilliams commented on #36641
Okay, then. I'll put something together and then we can see what we like most in practice.

[2019-08-20 17:37] sunnyssr opened #36850 "Image being strechted in mobile view"
Hey there,
Please check the screenshot. Here is the link to article:
https://www.freecodecamp.org/news/object-oriented-concepts/
![Screenshot_2019-08-20-20-20-59-692_com android chrome](https://user-images.githubusercontent.com/41870839/63370069-01dd2f80-c39f-11e9-8d37-a57cf83027e3.png)

[2019-08-20 17:38] moT01 opened #36650 "[.dev] heatmap probably needs a color update"
<img width="515" alt="Screen Shot 2019-08-20 at 12 37 39 PM" src="https://user-images.githubusercontent.com/20648924/63370230-5eacfb80-c347-11e9-9d5c-0c3b7d376fe2.png">

[2019-08-20 17:39] RandellDawson commented on #36647
I see it when running it locally but not on the freecodecamp.dev site.

[2019-08-20 19:21] moT01 commented on #36647
Yea, I'm pretty sure this has come up before and determined that it only happens locally and wasn't a problem. But if it's on the .dev site somewhere, then it probably is.

[2019-08-20 19:50] ahmadabdolsaheb commented on #36647
Thanks for referencing that issue @moT01. it does not show up on dev so it should be alright.

[2019-08-20 19:50] #36647 closed

[2019-08-20 20:02] moT01 commented on #36650
I can take a look at this.

[2019-08-20 21:15] moT01 opened #36652 "[localhost] Can't read buttons on dev 404 page + nightmode"
with an instance running locally
go to any user profile url (localhost:8000/anyuser)
it will bring up this page...

![Screen Shot 2019-08-20 at 4 12 47 PM](https://user-images.githubusercontent.com/20648924/63384907-7abf9580-c365-11e9-9f73-905f508c9386.png)

can't read the buttons/search

[2019-08-20 21:27] 99init commented on #17589
It's not clear that both fields are required!
Also, following the other challenges, it is easily assumed that the same thing about (glitch **or** github) will apply.
imo, glitch or github should only be required since the code in glitch can be viewed using the `/edit/!#` route.

[2019-08-20 21:43] P1xt commented on #17589
I am closing this issue.

Why? Because it is an issue, the instructions are wrong - and, yet, no one has any intention of ever fixing it. Any contributor who's posted in this thread just says 'well if you do it this way, it works' when the entire point of the issue is that 'this way' is not what the instructions say to do.

And, since it's never going to get fixed - I'm sick of getting notificatio

[2019-08-20 21:43] #17589 closed

[2019-08-20 22:25] #36648 closed

[2019-08-21 02:55] huyenltnguyen commented on #36644
@ahmadabdolsaheb So we are just going to set `text-decoration: none` to the `a` tag then? Or is there another approach you prefer?

Btw, I noticed that the word `Challenges` in `Take me to the Challenges` is capitalized, is this a typo or it's on purpose?

[2019-08-21 07:08] huyenltnguyen opened #36654 "Update Auth0 template to match styles"
Action items:

- [x] Remove all meta information from the html, other than critical meta.
- [x] Replace jQuery with cash.
- [x] Update the color scheme to latest on master (single color scheme, light mode).
- [ ] Implement `webAuth.checkSession` for generating the token.
- [x] Remove all navigation links from the navbar.

<details>
<summary>
Original Report
</summary>

**Describe the bug**
The Sig

[2019-08-21 14:20] moT01 opened #36657 "[.dev] progress bar is still green"
When you sign in, you get sent to the "welcome" page where it shows the number of donators.
The progress bar there is still green. I'm assuming we want to make it some shade of blue or something.
<img width="652" alt="Screen Shot 2019-08-21 at 9 17 21 AM" src="https://user-images.githubusercontent.com/20648924/63439988-afc6f900-c3f4-11e9-994e-799cf1daa3f1.png">

[2019-08-21 14:45] ojeytonwilliams commented on #36641
I've added a PR, reviews welcome!

[2019-08-21 16:00] moT01 opened #36659 "[.dev] Clicking 'sign-in' displays two loading elements"
When I click the `sign-in` button, it displays two loading elements. Not sure if this is really much of a problem, but it feels a little weird.
![Screen Shot 2019-08-21 at 10 55 11 AM](https://user-images.githubusercontent.com/20648924/63448026-b2c8e600-c402-11e9-9ed3-0febadcf1c2b.png)

[2019-08-21 18:22] anubhavm55 commented on #36590
I would like to help but I need some more information like the download link for the video to edit it and overwrite columns on colums.

[2019-08-21 21:02] ahmadabdolsaheb commented on #36644
@huyenltnguyen the a tags are to underlined all across. the only exceptions are navigation, footer, buttons, and a couple of more places.

@moT01, thank you for tackling this. is there are a way we could resolve this globally rather than adding classes to a tags one by one?

[2019-08-21 21:11] moT01 commented on #36644
I found that [an underline is applied globally](https://github.com/freeCodeCamp/freeCodeCamp/blob/1348a5a037f0eb3cece2c3445c157706a6b20e09/client/src/components/layouts/global.css#L75) - We could just change that, but it would remove the underlines in places where we probably want them. There's one in the bottom paragraph of the homepage, for instance. A few more on the learn page.

[2019-08-21 21:16] ahmadabdolsaheb opened #36663 "Monaco editor is not styled according to theme for unauthenticated users."
to replicate.
go to incognito
do not sign in
go to learn
choose a challenge

![image](https://user-images.githubusercontent.com/4591597/63469071-01619900-c472-11e9-9894-63ad6ffa522c.png)

[2019-08-21 21:26] ahmadabdolsaheb commented on #36644
interesting, wouldn't class styles override global styles? it does for everything else.

[2019-08-22 05:36] huyenltnguyen commented on #36663
I can take a look at this

[2019-08-22 05:46] huyenltnguyen opened #36664 "[.dev] Make all the section progresses align to the right"
I personally think that it would be easy on the eye if the progresses are all aligned to the right, since with the current design, I have to scan through each line to fine where the progress is.

<img width="527" alt="Screen Shot 2019-08-22 at 12 37 52 PM" src="https://user-images.githubusercontent.com/25715018/63488783-681a9d00-c4da-11e9-93de-ebace46f9412.png">

[2019-08-22 06:44] ahmadabdolsaheb commented on #36644
@moT01
if a global solution is not possible we can perhaps define a class globally for removing the underline and give it to every a tag that we want to remove the underline from.

[2019-08-22 06:46] ahmadabdolsaheb commented on #36664
@huyenltnguyen that is a good idea.
please go ahead if you are interested in implementing this modification

[2019-08-22 06:50] ahmadabdolsaheb commented on #36663
@huyenltnguyen, thank you.
There might to be other inconsistencies with the theme.
If you try different scenarios like switching the theme, logging in logging out, and visiting the challenge page.
That should expose any related issues that needs fixing.
let me know if I could be of any help.

[2019-08-22 07:29] #36619 closed

[2019-08-22 08:04] ojeytonwilliams commented on #36644
@ahmadabdolsaheb @moT01 it's all a bit weird.  The underlined links are the ones which have a `button` inside an `a`.  In this case the `text-decoration` is being inherited from the `a` and so defaults to `underline` completely ignoring the `button` style.  It's a quirk of css that I don't fully understand, but it is what it is.

I think the right approach is just to remove the `buttons`, since th

[2019-08-22 08:14] ahmadabdolsaheb commented on #36644
@ojeytonwilliams not sure why we do it this way.
Any thoughts @ValeraS?

[2019-08-22 08:18] ahmadabdolsaheb commented on #36644
We might have buttons around for a11y resons.
should we give the link to the formaction property of the button so it acts like a a tag?

[2019-08-22 08:38] ojeytonwilliams commented on #36644
As far as accessibility goes, I think the main thing is that links are obviously links and vice versa.  If a link looks like a button, that could potentially cause confusion, but I think it's clear what's going on in this case.

[2019-08-22 13:48] ahmadabdolsaheb commented on #36663
in builders.js displaytheme is in charge of the code editor's theme. and in components/layout/default.js the theme colors get injected.  we need night mode by default.

[2019-08-22 14:00] lancerutkin commented on #36604
I have a WIP PR ready - cool if I open that?

[2019-08-22 14:09] moT01 commented on #36604
Do it @lancerutkin, you can use draft mode if it's not ready.

[2019-08-22 14:40] moT01 commented on #36663
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/templates/Challenges/classic/Editor.js#L23

[2019-08-22 14:54] moT01 opened #36666 "[.dev] checkmarks on learn+night mode are hard to see"
<img width="208" alt="Screen Shot 2019-08-22 at 9 52 02 AM" src="https://user-images.githubusercontent.com/20648924/63525034-a015e600-c4c2-11e9-98d1-cd0db18261b6.png">

It's worse than it looks in the picture, it's like an optical illusion or something.

[2019-08-22 15:07] huyenltnguyen commented on #36663
@moT01 I haven't tested, but it does look like the cause. Hope you don't mind raising a PR, since I don't want to take your credit 😄

[2019-08-22 15:08] huyenltnguyen commented on #36664
@ahmadabdolsaheb Thanks! I'll give this a stab.

[2019-08-22 15:13] ahmadabdolsaheb commented on #36666
you could switch the white and gray and see how it looks.
Also it should look good on modal when users finish a challenge.

[2019-08-22 15:18] moT01 commented on #36663
I pointed it out for you. But yea, I have it ready.

[2019-08-22 18:18] RandellDawson opened #36670 "Learn Preview background should be white"
I did not see anyone raising this issue, but I don't think the background of the preview in default or night mode should be anything other than white unless the coding exercise specifically changes the background to something else.  The preview should be exactly what you would see in a browser.  In almost all the challenges, the background would be white.

![image](https://user-images.githubuserco

[2019-08-22 21:16] JonKaric commented on #17606
This issue is still ongoing, see: https://www.freecodecamp.org/forum/t/problem-with-basic-css-import-a-google-font-lesson/308221

[2019-08-22 23:37] wale-bant opened #36672 "Broken link on Basic Data Structures: Iterate Through the Keys of an Object with a for...in Statement"
**Describe your problem and how to reproduce it:**
There is a typo linked to the “Get a hint” button on the above lesson. It sends you to:
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-data-structures/-iterate-through-the-keys-of-an-object-with-a-for---in-statement

when it should send you to:

https://guide.freecodecamp.org/certifications/javascript

[2019-08-22 23:53] RandellDawson commented on #36672
This has already been fixed.  See the most recent version of the master branch.

https://www.freecodecamp.dev/learn/javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for...in-statement

I am closing this PR because we are just waiting for master to be deployed to production.

[2019-08-22 23:53] #36672 closed

[2019-08-23 06:41] thecodingaviator commented on #17606
@JonKaric please check if you can replicate that over [here](freecodecamp.dev)

[2019-08-23 08:06] ahmadabdolsaheb commented on #36670
I share your concerns @RandellDawson.

The reason we changed the color of the display is that a white display is discomforting to the eye  on night mode when everything else is dark. so we injected some styles to harmonize the view in general.

That convention was carried over to light mode.

[2019-08-23 09:16] SkipHendriks commented on #18103
Used @brimarq's `meta(name='description', content='Home page')` suggestion to update the boilerplate repo. Didn't feel the `id` route would be better (or worse) so just made a fix. I'd be happy to make a different pull request though if people want to see the `id` targeted instead.

[2019-08-23 10:32] JonKaric commented on #17606
@thecodingaviator Can't replicate it over there.

[2019-08-23 10:44] ojeytonwilliams commented on #36670
It might be better to default to white in light mode, same as the editor.

As for night mode, some of the css challenges might need some changes to look reasonable in both modes.  For instance, in night mode, https://www.freecodecamp.dev/learn/responsive-web-design/basic-css/use-an-id-attribute-to-style-an-element looks like this:

![UseAnIdNightMode](https://user-images.githubusercontent.com/1580

[2019-08-23 11:02] thecodingaviator commented on #17606
@JonKaric then it has been fixed. Will be pushed over to the main website soon

[2019-08-23 11:53] ahmadabdolsaheb commented on #36670
That is a very good point.
I will defer this to @QuincyLarson.

[2019-08-23 11:55] ahmadabdolsaheb commented on #36645
@mot01 from the screenshots. does adding  a padding that way causes a horizontal scroll?

[2019-08-23 12:39] #36663 closed

[2019-08-23 12:46] moT01 commented on #36645
No, I'm pretty sure that's just my firefox being goofy again - that screenshot is from .dev and it shows this at the bottom on my firefox...
<img width="319" alt="Screen Shot 2019-08-23 at 7 40 55 AM" src="https://user-images.githubusercontent.com/20648924/63593360-6fdd4e80-c579-11e9-9dce-8b1c385aca0d.png">
causing the horizontal scroll bar to appear, but it's fine on chrome.

[2019-08-23 12:46] aniltudu opened #36674 "Advance code solution is not able to pass first two test cases."
![error](https://user-images.githubusercontent.com/42162543/63593425-9d55e680-c5d1-11e9-82ee-3349afae27e2.png)
**Describe your problem and how to reproduce it:**
The advance code solution provided in Truncate a String is not able to pass first two test-cases. If you find anything wrong please forgive me.

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/certifications/ja

[2019-08-23 12:46] #36657 closed

[2019-08-23 12:53] ojeytonwilliams commented on #36645
That should get fixed by https://github.com/freeCodeCamp/freeCodeCamp/pull/36658, unless there's some other stuff overflowing.

It just needs
[code]

[2019-08-23 12:53] aniltudu commented on #36674
If you think the problem mentioned above is valid and you want a solution to replace. Here is my code which passed all the test cases.

**Code:**
function truncateString(str, num) {
  // Clear out that junk in your trunk
  if(str.length <= num){
    return str
  }
  return str.slice(0, num) + "...";
}

truncateString("A-tisket a-tasket A green and yellow basket", 8);

**Proof:**
![correct](https:/

[2019-08-23 13:18] ojeytonwilliams commented on #36645
Thinking about it: do you want to make that change in your PR as well, @moT01?  That way you can see if there are any other problems.

[2019-08-23 13:18] moT01 commented on #36645
Looks like it might not be my firefox - I found that when signed in, it displays the button in the picture above - but when not signed in, the button says "I've completed this challenge"

So it's not the margin causing the scrollbar.

[2019-08-23 13:25] moT01 commented on #36645
looks like that property does fix the scrollbar issue @ojeytonwilliams -
<img width="292" alt="Screen Shot 2019-08-23 at 8 23 25 AM" src="https://user-images.githubusercontent.com/20648924/63595777-5e974080-c57f-11e9-841f-7720855f2240.png">

but it's strange that the button displays different text based on authentication

[2019-08-23 13:34] moT01 commented on #36670
Logically, I have to agree with @RandellDawson - displaying anything other than what the code in the editor would produce might confuse campers.

But it is a little rough on the eyes to have the white background on night mode. And the current theme looks a lot better - so it's a tough call.

I scrolled through a number of challenges, and there's quite a few that don't look right with the blue back

[2019-08-23 13:51] moT01 commented on #36674
The guide is being moved over to the forum. [Here is the post for that challenge](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-truncate-a-string/16089). Both of those solutions work, so when the current guide is removed - this shouldn't be an issue.

[2019-08-23 14:01] huyenltnguyen opened #36676 "[.dev] Some challenge titles on the map wrap to a new line unexpectedly"
**Describe the bug**
Some challenge titles on the map wrap to a new line while the parent width is big enough for them to display on a single line.

<img width="818" alt="Screen Shot 2019-08-23 at 8 42 26 PM" src="https://user-images.githubusercontent.com/25715018/63597971-d0f03b00-c5e8-11e9-805e-1e6fb128c8fe.png">

I think it's due to the `max-width: 28rem` rule applied to the `li` tags.

[2019-08-23 15:25] RandellDawson commented on #36670
I really like the new theme, but a preview should be a true preview.  We want to make this like the real world.  Developers working in some kind of night mode on their favorite local editors, still expect  to check the "real" result of the code they have written on a browser or in a preview mode in their local editors.  The night mode should only apply to the editor or the non-preview part of the

[2019-08-23 15:27] RandellDawson commented on #36674
This can be closed as we are just waiting for master to be shipped to production.

[2019-08-23 15:27] #36674 closed

[2019-08-23 17:07] JonKaric commented on #35648
I'd argue strongly for tabbed categories, like in the wireframe. Although on the surface it may seem you are 'burying' things under tabs, you are instead _helping_ the user find they need faster. You don't put everything in one huge clothes drawer at home, because it's going to be harder finding that pair of socks you want.

[2019-08-23 18:19] ritute commented on #35648
Hi @QuincyLarson and team, I just want to throw in a few thoughts & suggestions before I remove myself from this thread as I won't be working on this further, in hopes that it’ll help going forward and reconsidering some decisions made.

I think it would be beneficial for your team to reconsider the design constraints that were decided on:

1. On deciding to not have drop-downs in the navigation,

[2019-08-23 22:18] QuincyLarson commented on #17700
Hi @Paddy3118 First of all, thank you for your patience.

I apologize for the long lead time it took for your issue to come to my attention.

We love Rosetta Code and are excited to hear from you all.

I reached out Mike Mol back in 2017 (the official contact from Rosetta Code's about page) through several different means, but never heard back from him. So we went forward crediting the Rosetta Cod

[2019-08-23 22:18] #17700 closed

[2019-08-24 06:38] xyozio commented on #36676
The reason for this is because the `li` element has a `map-challenge-title` class which has `max-width: 28rem;`

![Screenshot from 2019-08-24 09-36-26](https://user-images.githubusercontent.com/53935166/63633550-e0a46980-c652-11e9-9d5d-740e726e1a21.png)

[2019-08-24 17:49] ArcticPirate opened #36681 "Lesson Redesign"
I've not been happy with the current state of the lesson UI for a while now, and although it works, I feel there's a lot of room for improvement. I have seen the new redesign and I feel it doesn't address most of the issues here. The choice of typography in the redesign is worrying, but I don't think this is the place to discuss that issue.

**Please note:** These designs aren't a final product. S

[2019-08-24 17:59] RandellDawson commented on #36681
@ahmadabdolsaheb Thoughts?

[2019-08-25 13:50] viveksharmaui opened #36683 "Git clone of freecodecamp automatically delete file's because of big path for windows ."
Hi ! when i clone this repo it's automatically delete file with big path in windows .
So i wrote this command in git :  `git config --system core.longpaths true`
I will try to solve this issue as soon as possible and create pull request for this .

[2019-08-25 13:55] RandellDawson commented on #36683
I use Windows and do not experience this issue.  What version of Git and Windows are you using?

[2019-08-25 13:58] viveksharmaui commented on #36683
I'm using windows 7 and git version : git version 2.8.1 :)

[2019-08-25 14:05] RandellDawson commented on #36683
Must be a Windows 7 issue.  @raisedadead What is the minimum version of Git a user should have and what do you think about adding a note regarding the special config setting for Windows 7 users?

[2019-08-25 14:17] viveksharmaui commented on #36683
I have create pull request for this issue and updated contributer.md file #36684

[2019-08-25 17:30] xyozio commented on #36676
@huyenltnguyen I think that `max-width: 28rem` can be removed. I don't see any reason to keep it.

[2019-08-25 18:41] raisedadead commented on #36683
Technically, we do not support OS / Browsers or software which are not currently in stable release / support mode. Windows 7 EOL is January, 2020.

I am fine with adding the note, but its strongly discouraged to continue supporting legacy software / OS.

[2019-08-26 03:09] huyenltnguyen commented on #36676
@xyozio Yeah we can remove the rule as long as we make sure that the removal doesn't affect anything else.

Feel free to make a PR for this 😄

[2019-08-26 07:56] ahmadabdolsaheb commented on #36681
@ArcticPirate, thank you for submitting the mocks. they look very good.

We are aiming to replicate the feel of a code editor in an accessible way in next couple of UI sprints and that is the reason we are using monospace, large font, high contrast, large icons.

Our current UI can benefit from the improvements you mentioned such as spacing. We will make sure to review the lesson UI before deploym

[2019-08-26 08:57] ahmadabdolsaheb commented on #36664
@huyenltnguyen, apologies. I think I misunderstood your point.

the reason they were brought to the left is that it would be obvious which progress belongs to which block. Since we are minimizing the UI and we do not alternate background color for each row, it would save eye ball travel by having them in the same side.

I will close this issue for now. however, if you think my response is not sati

[2019-08-26 08:57] #36664 closed

[2019-08-26 10:06] raisedadead commented on #36670
The preview should be white.

[2019-08-26 10:10] raisedadead commented on #36666
I think the spacing between the check marks and the bounding circle needs to be increased.

Also another nicer way would be replace this with a GitHub like check box, a square will have more whitespace than a circle.

- [ ] Challenge name
- [x] Challenge name

[2019-08-26 10:12] raisedadead commented on #36659
That is intended by design. The navbar is indeed a separate component. I would swap the button loader with a skeleton animation to make it nicer.

[2019-08-26 10:16] raisedadead commented on #36654
The page theme (css styling) needs to be updated. However the content on the page will be different on the production and the development versions.

[2019-08-26 10:20] raisedadead commented on #36652
This is a low priority issue to resolve development experience

[2019-08-26 10:52] Paddy3118 commented on #17700
Hi Tom, unfortunately I can't work out where the green text links to, but
if it goes to the specific tasks page rather than the RC sites home page,
then that would be ace.

- Paddy.

On Tue, 9 Jul 2019 at 13:16, Tom <notifications@github.com> wrote:

[2019-08-26 12:51] #36645 closed

[2019-08-26 13:21] #36641 closed

[2019-08-26 13:22] #36650 closed

[2019-08-26 15:01] ojeytonwilliams commented on #36676
I think it might be nice if the effective left and right margins of the titles were the same.  Currently, because they're (roughly) `<ul><li><ul><li>Title</ul></li></ul></li>` what happens is the left margin is larger, because each `ul` has its elements indented slightly by `padding-inline-start`.

Try `max-width: calc(100% - 80px);` and see what you think.  Obviously it's a bit of a compromise (a

[2019-08-26 16:21] ojeytonwilliams commented on #36666
Tangentially related to this, the circles are almost invisible in default mode:
![CheckCircles](https://user-images.githubusercontent.com/15801806/63705580-c83c7680-c82d-11e9-9cc9-1ff8a96f9e45.png)

For the top one, I've applied `stroke-width: 10` as quick fix.

While this'll probably be solved if we shift to checkboxes, I think we should make sure that that does actually happen.

[2019-08-26 17:07] ojeytonwilliams commented on #36666
It's possibly my eyes/monitor settings, but they're so hard for me to see that they almost disappear.

[2019-08-26 17:37] ojeytonwilliams commented on #36603
Still there, I'm afraid.  The coins are too long and cause overflow.

I'll have a fix in a sec.

[2019-08-26 18:13] ArcticPirate commented on #36681
@ahmadabdolsaheb

#### Monospace font

Although monospace fonts can help certain groups of people, for you majority of people it will [decrease legibility](https://ux.stackexchange.com/questions/48753/does-the-use-of-monospaced-fonts-negatively-affect-legibility-of-article-text). This isn't what monospace fonts were designed for. There are sans-serif fonts that have been specially designed for use

[2019-08-26 18:42] #36603 closed

[2019-08-27 10:17] jimmychu0807 commented on #35559
@ahmadabdolsaheb Hi, I have the same issue as well.

My freeCodeCamp user handle is: `@jimmychu0807` , or the link here: https://www.freecodecamp.org/jimmychu0807

I think the possible reason of duplicate account is because I use gmail feature of `username+suffix@gmail.com` to register. Let me know if this is the case, or any further info you need to debug this issue.

Thanks!

[2019-08-27 10:23] raisedadead opened #36691 "Make modals and elements high contrast"
![image](https://user-images.githubusercontent.com/1884376/63763613-b2d55400-c8e2-11e9-8aa1-7dc8f81be390.png)

There is no distinction between elements like the modal and the background. The effect is best reproduced on a non-retina screen.

[2019-08-27 10:30] #34872 closed

[2019-08-27 11:03] ctfrancia commented on #35529
any updates?

[2019-08-27 12:06] RandellDawson opened #36692 "Delay in navigation to articles when clicking on search bar results"
When I click on a search result sometimes, there can be a 2-4 second delay before the page even starts to navigate to the news article. It seems there should be a loading icon to let the user know that something is working. A few times I thought the page froze.

[2019-08-27 12:07] RandellDawson opened #36693 "Make new search bar more accessible"
If I type in something and results appear, it would be nice to be able to use the up and down arrow keys to navigate through the results and then press Enter to make a selection.

[2019-08-27 13:03] moT01 opened #36694 "[.dev] private profile + night mode = can't read text"
<img width="738" alt="Screen Shot 2019-08-27 at 7 59 45 AM" src="https://user-images.githubusercontent.com/20648924/63773563-09ba3980-c8a1-11e9-852e-3c5ad25a3f7d.png">

[2019-08-27 13:24] ahmadabdolsaheb commented on #36644
@moT01 yes, we should remove the ```<Button>``` when linking to other pages.

[2019-08-27 13:46] mehmetseckin commented on #36588
Thanks a lot @huyenltnguyen - the team helped me regain access to my account through e-mail, and updated my GitHub profile link etc., however I still can't sign-in using GitHub, it's registering as a new user...

This is not required at this point so I'm happy to close this issue. Hope this helps someone.

[2019-08-27 13:46] #36588 closed

[2019-08-27 13:48] ahmadabdolsaheb commented on #36670
Definitely.

[2019-08-27 16:05] shreyas1599 opened #36698 "Two articles on same topic in freeCodeCamp/guide/english/sql"
There are two articles which talk about the SQL ```UPDATE``` statement.
Here are the links to the two articles:
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/sql/sql-update-query/index.md
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/sql/sql-update-statement/index.md

These are redundant. Can I merge these two articles into a single one and create

[2019-08-27 17:23] raisedadead commented on #36694
QA label is usually to be used for pull-requests.

[2019-08-27 17:30] #36644 closed

[2019-08-27 17:37] #35916 closed

[2019-08-27 17:37] #17822 closed

[2019-08-27 17:40] raisedadead commented on #36698
Hi, thanks for the report. The guide is moving away from this repo. We have a few outstanding pull-requests that we need to close and then we would completely remove the guide in favor of an equivalent on the forum.

You should probably wait until then, since the guide on this repo in its current state is not live anywhere, and we would not want to you work on it without reason.

Thanks a lot for

[2019-08-27 17:40] #36698 closed

[2019-08-27 17:40] raisedadead commented on #36698
/cc @RandellDawson

[2019-08-27 17:42] raisedadead commented on #36683
I am going to close this because this is a rare case, and we cant provide support for `Git` a standard tool. Such support maybe found elsewhere on Stackoverflow.

[2019-08-27 17:42] #36683 closed

[2019-08-27 18:25] shreyas1599 commented on #36698
@raisedadead It'd be helpful if this is updated in the readme of contributing so that others would not do the same.

[2019-08-27 18:30] #36694 closed

[2019-08-27 18:40] raisedadead commented on #36698
That's fine. In a couple days, we are removing the guide completely.

[2019-08-27 19:54] Ieahleen commented on #36681
I find monospace completely unreadable in large block of texts, I am totally unable to read posts on the forum if people put everything in backticks, I don't think I am the only one

please don't use monospace for challenge instructions @ahmadabdolsaheb

[2019-08-27 20:32] Em-Ant commented on #18023
@QuincyLarson it's not one of the project that I built, but I had a quick look and it really seems that the problem is google blocking the api. We need a new api. If the project is under camperbot glitch account I can try to quickly fix it with the suggested new api. But the project seems to be owned by @JosephLivengood

[2019-08-28 00:52] #18885 closed

[2019-08-28 02:00] scissorsneedfoodtoo commented on #18023
@Em-Ant, yes, it seems that the Google Finance API is no longer supported. Someone suggested using the [IEX Cloud API](https://iexcloud.io/) as an alternative in another thread. I'll see if I can get a copy of the original project over into the cpamberbot glitch account now.

[2019-08-28 06:23] raisedadead commented on #16958
@ojeytonwilliams did some fixes o this recently, which are live on staging. Can you check and confirm?

[2019-08-28 06:52] #17304 closed

[2019-08-28 06:52] #34730 closed

[2019-08-28 06:52] #36606 closed

[2019-08-28 08:48] #35368 closed

[2019-08-28 08:53] #34344 closed

[2019-08-28 13:50] jmmarsan commented on #17744
https://glitch.com/edit/#!/freecodecampqualiassurancetesting

[2019-08-28 15:25] moT01 opened #36708 "Restrict usernames"
I was able to change my username to `learn` - and when I try to view my profile, I get the learn page. We should probably not allow that, or usernames of any other pages.

<img width="624" alt="Screen Shot 2019-08-28 at 10 21 18 AM" src="https://user-images.githubusercontent.com/20648924/63869622-0ba5fa80-c97e-11e9-9f7d-a572780a3da3.png">

[2019-08-28 16:25] #18005 closed

[2019-08-28 16:30] raisedadead commented on #16958
My bad, I mistook this for a client implementation of the same. Ignore my last.

[2019-08-28 18:28] cs5055 opened #36710 "Ambiguity in the guide webpage and github repo"
**Describe your problem and how to reproduce it:**
The webpage guide.freecodecamp.com is not updated with the current github guide repo. It seems like there is misspelling in "C" section of the guide with topic "Dinamic Memory Managment" which should have being "Dynamic Memory Management". However in https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/c/dynamic-memory-management

[2019-08-28 18:40] lizzardarcher commented on #36652
Hello, I want to help you with this problem

[2019-08-28 18:45] ahmadabdolsaheb opened #36711 "Replace a tags and buttons that work as links with Link from helpers/Link"
To reduce making api calls we should use Link from client/src/components/helpers/Link that utilizes Gatsby Link.

[2019-08-28 18:51] ahmadabdolsaheb commented on #36691
set
[code]
in the end of client/src/components/layouts/global.css

[2019-08-28 18:52] raisedadead commented on #36710
We are sunsetting the guide in the upcoming version of freeCodeCamp. Thanks for your report.

[2019-08-28 18:52] #36710 closed

[2019-08-28 20:44] ahmadabdolsaheb commented on #36652
thank you @lizzardarcher. please go ahead with proposing a solution or submitting pull request.

[2019-08-28 21:57] moT01 commented on #36711
I can take a look at this one

[2019-08-28 22:24] Erik-D-Mueller commented on #36581
The link does not work for me

[2019-08-28 22:40] RandellDawson commented on #36581
I am closing this issue as we are migrating the Guide over to [our forum](https://www.freecodecamp.org/forum/c/guide) where you will be able to create/edit guide articles.  As of today, the guide no longer is apart of the repo.

[2019-08-28 22:42] RandellDawson commented on #36596
@moT01 This issue should not be resolved.  Close if you think so.

[2019-08-28 22:44] RandellDawson commented on #36484
@raisedadead This can be closed now.

[2019-08-28 22:46] RandellDawson commented on #36432
I think this can be closed, since the guide is no longer in the repo.

@raisedadead Should we attempt to remove guide links on Discourse like @thecodingaviator suggests?

[2019-08-28 22:49] RandellDawson commented on #36399
@moT01 Can this be closed or are we still waiting for something?

[2019-08-28 22:54] RandellDawson commented on #36148
As we have removed the guide from the repo, you will now need to add new Guide articles to [our forum](https://www.freecodecamp.org/forum).  Since we are no longer accepting PRs for the guide, I am closing this issue.

[2019-08-28 22:54] #36148 closed

[2019-08-28 22:55] RandellDawson commented on #36102
@thecodingaviator I think it is fine to close this issue now as 99% of the Arabic guide code sections were fixed in the above PRs which were merged before the guide was removed from the repo.

[2019-08-28 22:55] #36102 closed

[2019-08-28 22:56] RandellDawson commented on #36020
@thecodingaviator @moT01 I believe we can close this issue now that the guide is no longer apart of the repo.

[2019-08-28 22:57] RandellDawson commented on #35931
@moT01 Is this still an issue on freecodecamp.dev?

[2019-08-28 22:59] RandellDawson commented on #35890
I am closing this issue as the guide has been removed from the repo.  The hints/solutions for the challenges will now reside on the forum as wikis.  Until a formal process is communicated, we will be taking suggestions for changes via the comments for each challenge topic.

[2019-08-28 22:59] #35890 closed

[2019-08-28 23:02] RandellDawson commented on #35490
@raisedadead What should we do about this issue now that the guide is no longer in the repo?

[2019-08-28 23:02] RandellDawson commented on #35185
@raisedadead Should we close this issue now?

[2019-08-28 23:48] moT01 commented on #35931
I wasn't having any issues. I think we're safe to close it.

[2019-08-28 23:48] #35931 closed

[2019-08-28 23:51] moT01 commented on #36020
Sounds good to me.

[2019-08-28 23:51] #36020 closed

[2019-08-28 23:56] moT01 commented on #36596
Looks like it's fixed on master.

[2019-08-28 23:56] #36596 closed

[2019-08-28 23:56] moT01 commented on #36399
There's one PR still there which adds four new challenges. If it gets merged - we maybe want to create guides for them. I was thinking we should have an issue here or something somewhere to keep track of challenges that get added or modified so we can update the guide.

[2019-08-29 01:38] RandellDawson commented on #36399
@moT01 I think that would be a good idea.  Those 4 challenges should be the last ones added to the current curriculum if I am not mistaken.

We should probably adjust the challenge documentation to reflect that a PR for a challenge can not be merged without the corresponding hints/solutions topic on the forum is updated with any relevant changes.

[2019-08-29 01:48] moT01 commented on #36399
I have [this PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/36703) which changes one of the challenges and there's a few sitting in the chat room as well. I can create a new issue for tracking the PR's.

[2019-08-29 01:48] #36399 closed

[2019-08-29 02:01] moT01 opened #36715 "Curriculum hint articles which need updating"
When changes are made to a challenge, we should check that the hint article on the forum still aligns with those changes.

This issue is for tracking those curriculum PR's.

Keep in mind that the article doesn't need to be updated until those changes are pushed to production.

### PR's that have not been merged yet:

-

### PR's that have been merged and the guide needs updating:

- ~~https://gith

[2019-08-29 05:59] raisedadead commented on #36432
Yes, the should be removed.

[2019-08-29 06:00] raisedadead commented on #36432
Guide is still relevant and will be available on the forum. All issues related to guide maybe logged on this repo on a case to case basis.

[2019-08-29 06:01] #35185 closed

[2019-08-29 06:12] raisedadead commented on #35490
We should revalute all issues on their merit. The guide will be available on the forum as a wiki. All issues still apply if relevant.

[2019-08-29 06:12] #36484 closed

[2019-08-29 08:39] raisedadead commented on #36478
I am going to close this in favor of the universal navbar issue.

[2019-08-29 08:39] #36478 closed

[2019-08-29 08:52] raisedadead commented on #36708
This file should be updates will all such keywords [`api-server/server/utils/constants.js`](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/api-server/server/utils/constants.js)

[2019-08-29 08:58] raisedadead commented on #17645
Curriculum issues are independent of releases.

[2019-08-29 09:05] ojeytonwilliams commented on #36692
Given that the results are just links, won't this go away if we start using Gatsby for news?

[2019-08-29 09:16] ahmadabdolsaheb commented on #17797
Avatars has been removed from the navbar and the updated version will be shipped soon.
Therefore, I am closing this issue.

[2019-08-29 09:16] #17797 closed

[2019-08-29 09:44] vkWeb commented on #36681
@ahmadabdolsaheb I have been closely observing the UI changes on the platform and I really appreciate your work on the chic man, just amazing! :)

I do feel we need to address some UX issues @ArcticPirate has pointed to. Btw @ArcticPirate those designs are bang-on <3. But we don't need to give a full UI refresh at this point.

Addressing the below two issues will make a very big impact in terms of

[2019-08-29 09:48] ahmadabdolsaheb commented on #16448
Thank you everyone for your feedback. We will be moving away from subject based curriculum, and we look forward to have a better description of semantics in the upcoming project based curriculum.

@scissorsneedfoodtoo, thoughts?

[2019-08-29 10:05] #36316 closed

[2019-08-29 10:18] raisedadead commented on #36626
Hi @mbrannon There is an old PR that I found: https://github.com/freeCodeCamp/freeCodeCamp/pull/35583

Would you be interested in driving the progress further on it?

[2019-08-29 10:46] scissorsneedfoodtoo commented on #16448
Thank you @Facundo-Corradini for your detailed explanations and others for weighing in. Many of the projects are still being developed, and will be released on a rolling basis once they've been tested. It might be worth keeping this issue open for now, in case someone can update the descriptions in the current visual design challenges.

[2019-08-29 12:05] ArcticPirate commented on #36681
@vkWeb If there was a time to do a UI refresh, it's now. Unfortunately, the current site design really doesn't reflect the quality content on the site.

Why do you feel the other buttons should be below the `run tests` button? Or in other words, why do you feel they are *more important* than the lesson checklist?

[2019-08-29 12:27] #36581 closed

[2019-08-29 12:39] moT01 commented on #35490
Will the entire guide be moved over to the forum? As of right now it looks like just the guides for the curriculum were moved over, any [ones with stubs](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-problem-237-tours-on-a-4-x-n-playing-board/301882) look like this: `This is a stub. Help the community by replying below with your hints and solutions. We can use those to create a

[2019-08-29 12:51] raisedadead commented on #35490
Yes, the guide articles now backed up here: https://github.com/freeCodeCamp/guide/tree/archive-articles-2019, will be made available in the forum.

[2019-08-29 12:52] moT01 commented on #35490
Do you know if the stubs will be changed to look like the one I linked above? I assume they will be.

[2019-08-29 13:07] raisedadead commented on #35490
@RandellDawson is the best person to confirm the format. But I am guessing we would not add articles which are stubs. We want to limit the clutter in there.

[2019-08-29 13:47] vkWeb commented on #36681
@ArcticPirate The current theme and feel of a dark code editor is what we need for the upcoming project-based curriculum. Also, the current UI looks nice. We should improve upon that. Once we get confirmation from a senior team member, we will start working on improving the current UI design.

When campers reach the algorithm section they use `Get a hint button` a lot to check if there can be a be

[2019-08-29 14:07] raisedadead opened #36718 "Reduce Git Object Count and Repo size"
I am not sure, if writing the entire repo history is a very good idea. But here is what I am doing now that the Guide has been yanked.

[code]

I will next verify if the size-pack has indeed reduced. If yes, then it means a force push on all the branches.

_Originally posted by @raisedadead in https://github.com/freeCodeCamp/freeCodeCamp/pull/36709#issuecomment-526130996_

[2019-08-29 14:10] raisedadead commented on #36718
[code]

Okay, this is interesting.

[2019-08-29 14:35] raisedadead commented on #36718
Here is what this means, for existing forks. You would probably need to:

[code]

[2019-08-29 14:55] RandellDawson commented on #35490
I can skip the stubs during the porting process if that is fine with everyone.  Then there would not be any stub topics (with the exception of the challenge hints/solutions topics).

[2019-08-29 15:03] raisedadead commented on #36718
Will revisit this at later point.

[2019-08-29 15:06] moT01 commented on #35490
This can probably be closed then since the stubs won't contain any links.

[2019-08-29 15:08] RandellDawson commented on #35490
I think we should keep it open, until I have successfully ported the other guide articles everything over to the forum.  Once it is complete, then I will close it.

[2019-08-29 15:45] #36670 closed

[2019-08-29 16:57] RandellDawson commented on #36574
@raisedadead Since this is a curriculum issue, does this need the `status: needs triage` label?

[2019-08-29 16:59] RandellDawson commented on #36556
I have started working on something that will at least fix the JavaScript/JSX/HTML/CSS/ code sections, but for others, it might have to be manual changes.

[2019-08-29 17:32] raisedadead commented on #36574
Well, I was not sure what is to be done with the issue when I was going thru the same. The OP has not suggested the changes like @ArielLeslie pointed them to on the forum thread.

I believe we can close this and await response from the OP. We could reopen if needed.

[2019-08-29 17:32] #36574 closed

[2019-08-29 17:55] #36085 closed

[2019-08-29 18:03] #36708 closed

[2019-08-29 20:32] ArcticPirate commented on #36681
@vkWeb Without statistics, I wouldn't like to say anything about how useful the 'Get a hint' button would be in practice. I do know that it would be around 500 pixels down on the screen. Not a far way to go. Do you think the majority of campers use the `get hint` button, more than the lesson checklist?

[2019-08-29 20:55] vkWeb commented on #36681
@ArcticPirate No, you misunderstood my point friend 😅.

I was trying to say that the majority of clicking happens in the `run test` and `get hint` buttons so they should be placed in front of camper's eyes. Most of the challenges have more than 3 test cases so the description area overflows vertically. Now imagine, scrolling down again and again and then clicking buttons. Will it be a good user ex

[2019-08-29 21:26] ArcticPirate commented on #36681
@vkWeb I'm confused, do you have stats for the point you made? If so that simplifies things

[2019-08-29 22:57] ValeraS commented on #17778
Fixed #35522 https://github.com/freeCodeCamp/freeCodeCamp/pull/35522/commits/47686feadaf4de619393c8c8b7f1209e595639ee

[2019-08-29 22:57] #17778 closed

[2019-08-30 09:54] #36621 closed

[2019-08-30 10:48] #36460 closed

[2019-08-30 11:59] #34617 closed

[2019-08-30 13:32] ahmadabdolsaheb opened #36724 "Universal navigation needs to be added to learn"
User stories:
- [x] users should see projects (/learn), forum, radio, news, portfolio (/settings), donate in the nav bar
- [x] users should land on settings page after clicking the portfolio button
- [x] unauth users should be prompted to sign in when clicking on portfolio or donate buttons
- [x] unauth users should see a button "sign in to save your progress" when visiting projects (/learn)

[2019-08-30 17:15] #34236 closed

[2019-08-30 18:26] vkWeb commented on #36681
@ArcticPirate Some design decisions are made without stats. I am assuming average user behavior (90% users) and design according to that. We can improve for the rest of 10% in future iterations.

This is what my point is:

[2019-08-30 18:35] #36676 closed

[2019-08-30 18:57] willydavidjr opened #36729 "Where is the Guide folder?"
**Describe your problem and how to reproduce it:**

I am trying to find the guide folder, but it that I cannot locate it. Was it remove temporarily or relocated to a different section?

**Add a Link to the page with the problem:**

Just take a look on the freeCodeCamp repository main section and and the guide folder is missing.

**Tell us about your browser and operating system:**
* Browser Name:

[2019-08-30 18:59] beaucarnes opened #36730 "Challenge page should indicate if they have already been completed"
In the new beta (currently at https://www.freecodecamp.dev), it would be great if a challenge page indicated somehow when the challenge has already been completed. Currently, since user inputed code is not saved, there is no indication on a challenge page that it has already been completed.

[2019-08-30 19:06] raisedadead commented on #36729
Yes, the guide has been removed from this repo completely. See: https://github.com/freeCodeCamp/freeCodeCamp/pull/36709

The current production guide at [guide.freecodecamp.org](https://guide.freecodecamp.org), will soon be moved over to our forum as a wiki.

The changes that were made over the past months will also be added to the forum wiki post migration.

**We are no longer accepting any pull-

[2019-08-30 19:06] beaucarnes opened #36731 "Idea: In beta, forward arrow on top of challenge page should only be available if next challenge has already been completed."
In the new beta, I believe that the forward arrow on top of a challenge page should only be available if next challenge has already been completed. This will make it more difficult for users to get the answer to a challenge without thinking about it first.

The next challenge often contains the answer to the previous challenge. This will be _especially_ true once we make live the updated curriculu

[2019-08-30 19:06] #36729 closed

[2019-08-30 19:15] raisedadead opened #36732 "Splash effect with theme"
I have been seeing an annoying splash effect when the default mode (currently night) does not match the user setting mode (most users have set this to light (as part of sign up defaults))

This is going to be the same if we defaulted to light theme and user had night theme.

[2019-08-30 19:23] raisedadead commented on #36731
I think this is a nice idea, the navigation arrows are a feature that we added recently, and have not been released. I am quite inclined to not make it seemingly intuitive.

That said, IMHO, we base our certification on the Academic Honesty Policy. So, if people game the system, we believe that it is a loss in learning on their part.

I let others chime in though.

[2019-08-30 19:27] raisedadead commented on #36730
We need a check mark in the title or a badge `completed` or `solved` to indicate the same?

[2019-08-30 19:29] RandellDawson commented on #36731
In the current curriculum, I think only a few sections actually have this kind of progression.  Some of the HTML sections and the Bootstrap and jQuery sections.  Almost all of the JavaScript challenges do not need such a feature and in fact would not allow a user to easily move around to a challenge they would like to learn more about.

I kind of agree with @raisedadead here in that since only the

[2019-08-30 19:37] RandellDawson commented on #36681
@vkWeb But what makes you think 90% of users expect this?  If you have some data to support your theory, you can throw out numbers.  Otherwise, it is just an opinion or personal preference.

[2019-08-30 20:03] Ieahleen commented on #36681
as an user I think I would prefer to see the checklist

the buttons Get a Hint, Ask for Help and such are buttons I would press at
most once or twice, instead the checklist items I would need to have always
under eyes, I need to consult those often while writing the code. the most
I struggle with the challenge the most useful is to have the whole
checklist under eyes I would say

[2019-08-30 21:46] Zannisdf commented on #36693
Can I take a look at this one?

[2019-08-30 22:06] RandellDawson commented on #36693
I believe @scissorsneedfoodtoo may be already working on a fix for this?

[2019-08-30 22:12] ojeytonwilliams commented on #36732
Just a quick explanation: Gatsby builds a static (html) site and then 'hydrates' it with JavaScript.  The problem here is that the static site doesn't know what the user's settings are and one of them is dark/light mode.  What's happening on .dev is the default theme appears initially and then is almost immediately replaced.  If the user's settings aren't the default, they see a flash of the other

[2019-08-30 22:20] ojeytonwilliams opened #36734 "Night mode localStorage is not used"
In the theme is stored using `fcc-theme` in https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/redux/night-mode-saga.js, but I can't find anywhere the stored theme is used.

Presumably it should be checked here: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/components/layouts/Default.js

Sorry to drop this vague hint of an issue, but thought it was worth ment

[2019-08-30 22:21] ojeytonwilliams commented on #36734
cc: @ahmadabdolsaheb

[2019-08-30 22:26] chezzwizz commented on #36652
Since the production site seems to issue an error page that resembles the attached image:

![issue_36652_0](https://user-images.githubusercontent.com/1437965/64054089-553b4480-cb3a-11e9-924f-6351f4321044.png)

this issue may be related to a local setup issue. Check to make sure that your server and client are accessing the proper libraries and extensions. If you are able to do a thorough audit of

[2019-08-30 22:31] #16958 closed

[2019-08-30 23:53] moT01 commented on #36730
The most elegant thing I can think of to have something like the little circular check mark next to the title like how it is on the learn homepage - only if it's been solved, and don't show anything if it hasn't.

[2019-08-31 01:41] scissorsneedfoodtoo commented on #36693
No, I haven't started on this yet. Please go ahead, @Zannisdf.

[2019-08-31 05:45] ahmadabdolsaheb commented on #36691
@raisedadead, would darkening the backdrop suffice?
or would you like to have a clear distinction like a border?

![image](https://user-images.githubusercontent.com/4591597/64059779-a47d8580-cbcb-11e9-8f14-810668dcf31c.png)

![image](https://user-images.githubusercontent.com/4591597/64059777-99c2f080-cbcb-11e9-8d4e-6fe4956d0d6a.png)

[2019-08-31 05:48] ahmadabdolsaheb commented on #36681
Thank you everyone for your feedback.
I would also like to hear from @QuincyLarson about the modifications he would rather have for this iteration.

[2019-08-31 06:47] raisedadead commented on #36691
IMHO, Shades of similar color are bad for a11y. We need high contrast elements that visually differentiate between elements.

A 1px border of a contrast color should be better.

[2019-08-31 06:48] raisedadead commented on #36691
Note that you have to check this on a non-retina like screen to understand the side-effect on low quality screens. :(

[2019-08-31 06:52] raisedadead commented on #36652
Hi @chezzwizz check this: https://www.gatsbyjs.org/docs/add-404-page/

[2019-08-31 06:54] raisedadead commented on #36652
Gatsby has a middleware that renders a "pre" 404 page. We need to handle the default styles on this middleware page.

[2019-08-31 06:55] raisedadead commented on #36730
That would be a nice way to handle it. Please go forth if you are interested in this?

[2019-08-31 10:15] RogiNicba opened #36737 "Challenge "ES6: Use getters and setters to Control Access to an Object" has faulty test conditions"
**Describe your problem and how to reproduce it:**
Despite the instructions requiring one to create a class AND a getter&setter, you can pass the test by just creating the class.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-getters-and-setters-to-control-access-to-an-object

**Tell us about your browser and operating

[2019-08-31 10:38] RogiNicba opened #36738 "Broken test: ES6: Use export to Reuse a Code Block"
**Describe your problem and how to reproduce it:**
There should be two possible ways to pass the test. The instructions point both of them out and say "Either approach is perfectly acceptable.". But the second approach doesn't pass the test.

1.
export const foo = "bar";
export const bar = "foo";
2.
const foo = "bar";
const bar = "foo";
export { foo, bar }

**Add a Link to the page with the proble

[2019-08-31 10:50] sid995 commented on #36738
It is clearly written that the code has to be solved by the first option i.e

export const foo = "bar";
export const bar = "foo";

For this specific problem, only the above-stated solution would be correct.

[2019-08-31 12:59] RogiNicba commented on #36738
Fair enough, it does say to utilize the first way. I still think it would be better if the challenge would allow for both solutions, but due to the current instructions this does not qualify as a broken test. **Please ignore/delete post.**

[2019-08-31 13:25] RandellDawson commented on #36738
@RogiNicba This challenge has been rewritten but has not yet been released to production.  You can take a look at it [here](https://www.freecodecamp.dev/learn/javascript-algorithms-and-data-structures/es6/use-export-to-share-a-code-block).  If you feel there is still an issue with this challenge, please reply back.  If there are no further issues, please close it.

Thank you.

[2019-08-31 13:27] RandellDawson commented on #36737
@RogiNicba This challenge has been rewritten to remove the bug you describe. but has not yet been released to production. You can take a look at it [here](https://www.freecodecamp.dev/learn/javascript-algorithms-and-data-structures/es6/use-getters-and-setters-to-control-access-to-an-object).

I am closing this issue as just waiting to be shipped to production.  If you feel the issue has not been s

[2019-08-31 13:27] #36737 closed

[2019-08-31 17:04] KravMaguy commented on #36281
regarding the same challenge, if you write ` {username:req.user.username}` it will pass the test. I originally had it as ` {username : req.user.username}`  and this did not pass the test.  Its a problem with the regex testing the challenge? Is it necessary that there be no spaces between the key:value pair?

[2019-08-31 20:41] RandellDawson opened #36739 "bug(curriculum): Advanced Node Challenges fail when using localhost for url"
Not sure if this will actually be a bug once we go to production, but I noticed if I use `http://localhost:3001` (my local running version of the first challenge in the `Advanced Node Challenges`, none of the tests pass and there are several errors in the console.  This also happens when I run everything locally.

Using the same url on the current production site for the same challenge does not fa

[2019-08-31 21:14] RandellDawson commented on #36739
**Update:** I used a working Glitch project url for both the beta site and locally and get the same results.

[2019-08-31 22:15] vkWeb opened #36740 "[curriculum] Commented code is getting accepted in a challenge"
**Describe your problem and how to reproduce it:**
After commenting the code in a [challenge](https://www.freecodecamp.dev/learn/responsive-web-design/responsive-web-design-principles/make-typography-responsive), the tests are passing. I think the issue is with this particular challenge only as I have solved many challenges and I haven't observed this bug in any of them.

![bug](https://user-image

[2019-08-31 22:47] RandellDawson commented on #36740
This is not unique to the beta site.  Many of the challenges don't ignore comments.  We have a helper function which can be applied to the tests which removes comments.  We can not use it across all challenges, because there are challenges which involve validating the comments.

Since there are only a few challenge tests where we need to be able to check the actual HTML, CSS, or JavaScript comment

[2019-09-01 03:51] smoralesjr commented on #36155
Why not make this very easy fix? People are still using the curriculum and will see an incorrect hint if they check the guide for this section.

[2019-09-01 06:01] ayush-shah commented on #17822
what do i do to solve the heatmap with no progress(past and current)?

[2019-09-01 08:33] RogiNicba opened #36741 "Unclear instructions: Regular Expressions: Restrict Possible Usernames"
**Describe your problem and how to reproduce it:**
Getting past the challenge one is required to specify the upper number of matches, something that you learn for the first time three challenges later in the lesson "Regular Expressions: Specify Upper and Lower Number of Matches". "Get a hint" section also references the solution that hasn't been introduced yet.

**Add a Link to the page with the p

[2019-09-01 09:01] #36738 closed

[2019-09-01 22:59] conradkay opened #36743 "Night Life Coordination Example App broken"
**Describe your problem and how to reproduce it:**
The recipe box demo website does not work because it is using a deprecated yelp api.
**Add a Link to the page with the problem:**
http://whatsgoinontonight.herokuapp.com/
(view network log when searching)

**Tell us about your browser and operating system:**
* Browser Name: Chrome
* Browser Version: N/A, server side issue
* Operating System: Ubunt

[2019-09-02 09:38] maxiqboy commented on #36731
Just some of HTML sections have an answer for the previous , so no need to force the user like that.
If some one wanna cheat, they have many ways to cheat, and it's bad for them.

[2019-09-03 01:33] colbyfayock opened #36748 "[News] Reducing GA Undetermined source/medium"
In GA there's a good amount of traffic thats showing as direct / none for the Source / Medium.

![image](https://user-images.githubusercontent.com/1045274/64137882-95175b80-cdc8-11e9-9569-e63fb820b222.png)

Quick tl;dr: In GA, when something shows as direct / none, it's basically saying it can't determine where the person came from. Here's a good article: https://moz.com/blog/guide-to-direct-traff

[2019-09-03 01:55] colbyfayock commented on #36748
While here, can we get GTM `<noscript` added? i dont think this will have any impact here, but noticed it while trying to debug the above:
[code]
This snippet can be found in GTM > Admin > Install Google Tag Manager. Should go right after the opening `<body>` tag.

[2019-09-03 07:38] #36730 closed

[2019-09-03 12:32] ahmadabdolsaheb opened #36749 "learn tabs on mobile need touch up"
<img width="617" alt="Screen Shot 2019-09-03 at 3 14 45 PM" src="https://user-images.githubusercontent.com/4591597/64173419-e7f02200-ce5f-11e9-9fcf-fe27f6518ad6.png">

[2019-09-03 12:48] ahmadabdolsaheb commented on #36622
/welcome should probably redirect to / as well since welcome has been removed.

[2019-09-03 12:52] moT01 commented on #36731
I may be a little biased, but I would prefer it always stay displayed - it makes navigating around a lot easier. Like mentioned, it won't be much of an issue with the current curriculum - it might actually be helpful... there are some areas where the lessons area little out of order and it might be nice to jump ahead to find something out. It makes more sense with the projects - but I think I woul

[2019-09-03 12:58] ahmadabdolsaheb commented on #36691
I know this is radical. but how about a light backdrop for dark mode.?
![image](https://user-images.githubusercontent.com/4591597/64175287-a9f4fd00-ce63-11e9-86a9-ae57e2797660.png)

[2019-09-03 13:03] ahmadabdolsaheb commented on #36691
clearly no a good idea. a pr with border is coming up :)

[2019-09-03 13:13] raisedadead commented on #36622
Thanks @ahmadabdolsaheb can you add this to your PR in that case?

[2019-09-03 13:14] #36622 closed

[2019-09-03 13:16] #36508 closed

[2019-09-03 13:17] #36602 closed

[2019-09-03 14:40] moT01 opened #36751 "[.dev] Certifications don't hug top of window"
Is there a reason the certifications have an apparent margin above them?
![Screen Shot 2019-09-03 at 9 37 21 AM](https://user-images.githubusercontent.com/20648924/64182970-b4e16a80-ce2e-11e9-87a1-3cb7de438745.png)

It's bigger with a taller viewport. Seems like there should be no margin there.

[2019-09-03 17:49] sfialok98 commented on #36652
I don't understand the issue completely..
The submit button seems to work fine.
Can someone explain the issue.. And is this the expected page ?

![fcc](https://user-images.githubusercontent.com/21196697/64195928-52c14d80-cea0-11e9-8908-b1998cd6c439.png)

[2019-09-03 19:26] hasaral commented on #6258
// Setup
var a;
var b = 2;

// Only change code below this line
a = 7;
b = a;

[2019-09-04 01:37] bogscode commented on #36681
I just joined and I'm new to coding etc, but since this topic is about buttons etc. Can we can we make the Run the Tests button fast key configurations customizable ? I hate having to hit Ctrl + Enter. Maybe it's just me but hitting control (ctrl) stretches out my pinky uncomfortably and since we will be doing this all the time during a lesson can we try to make it a little user friendly for our f

[2019-09-04 07:52] vkWeb commented on #36681
@RandellDawson Yes, it's my personal opinion or thought you can say. But I firmly believe in that UI approach :)

[2019-09-04 11:12] maxiqboy opened #36753 "Need add new challengers about important array method ( map filter reduce) and callback Function, recursive also"
**Describe your problem and how to reproduce it:**

Map() Filter() and Reduce() are quite advanced but FreeCodeCamp doesnt have any lesson about it, but it appeared a lot on the challenges.

Also is callback function, and recursive - as far as I remember - there is no specific challenge for them,

[2019-09-04 12:28] Ieahleen commented on #36753
`map()`
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/functional-programming/use-the-map-method-to-extract-data-from-an-array
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/functional-programming/implement-map-on-a-prototype

`filter()`
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/functional-programming/use-the-filter

[2019-09-04 12:50] #36691 closed

[2019-09-04 12:50] #36749 closed

[2019-09-04 12:54] #36479 closed

[2019-09-04 12:54] #36480 closed

[2019-09-04 14:04] albert-codestein opened #36754 "Issue in JS Challenge Description of: Use Prototype Properties to Reduce Duplicate Code..."
**Describe your problem and how to reproduce it:**
On the 3rd paragraph in the challenge description frame on the left a **prototype** is defined as an object. While this may be true for true object oriented languages like C#.net it may not be true in this context and confuse the reader.

The paragraph in question is given below and I added the necessary addition in bold:
"A better way is to use B