[2019-02-24 07:58] #16044 closed

[2019-02-24 08:11] erwncmps opened #35386 "Error in solution for "Basic JavaScript: Use the Conditional (Ternary) Operator""
The solution for "Basic Javascript: Use the Conditional (Ternary) Operator", linked below, contains a an error:

Challenge: https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/use-the-conditional-ternary-operator

Solution: https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-javascript/use-the-conditional-ternary-opera

[2019-02-24 08:26] RandellDawson commented on #35386
@erwncmps Thank you for reporting this issue found on production.  The challenge has been recently rewritten, but the changes have not been pushed to production.  You can view the new version of the challenge on our [beta testing site](https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/basic-javascript/use-the-conditional-ternary-operator).

That being said, I noticed t

[2019-02-24 08:31] RandellDawson commented on #35386
For anyone who wants to correct the guide article, the [Guide article file is located here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/certifications/javascript-algorithms-and-data-structures/basic-javascript/use-the-conditional-ternary-operator/index.md).

If you have questions about how to contribute, please see [How to work on Guide articles](https://github.com/freeC

[2019-02-24 08:37] erwncmps commented on #35386
Thanks, Randell. Looks good to me!

[2019-02-24 09:10] raisedadead commented on #35347
Let me confirm that for you.

Hey @Bouncey, just checking the user's signed in state from the actions and navigating them to `/welcome` on click should be the way to go here? Correct?

[2019-02-24 09:19] scissorsneedfoodtoo opened #35387 "Problems with layout and tests for various Rosetta Code challenges"
This issue is just to track the changes we're making to the layout of the descriptions and how the tests are rendered. Many of these are minor changes like moving the challenge instructions to the instructions section, or removing `<p>` tags and/or the space between the function name and the first parenthesis in the seed. I'll submit a PR over the next few days.

More substantial changes are liste

[2019-02-24 10:20] Bouncey commented on #35377
We spun up a test instance of news for `.rocks` to point at. More so for us to test infrastructure and to ensure we could proxy it correctly.

I wouldn't worry too much about this.

[2019-02-24 12:05] raisedadead commented on #34872
**Update:**

Broken image(s) on news is a work in progress and will be (self)resolved on production. This is because the testing version of `/news` is a temporary for now.

**You can safely ignore this for now**

![image](https://user-images.githubusercontent.com/1884376/53298929-4fe30180-385a-11e9-8e92-8c01d9b3fc20.png)

Ref: https://github.com/freeCodeCamp/freeCodeCamp/issues/35377

[2019-02-24 12:06] raisedadead commented on #35377
Thanks for reporting. I have update this in the overview PR linked above.

[2019-02-24 12:06] #35377 closed

[2019-02-24 12:13] raisedadead commented on #17803
Bump. Still a critpath right?

[2019-02-24 12:35] #35356 closed

[2019-02-24 12:41] Bouncey commented on #17803
Yes-ish.

I think we do not need challenges/blocks in the db any longer. There is no part of the application life cycle that updates the blocks or challenges. We can create any data structures we need at build time.

I would like to remove curriculum data from the db.

[2019-02-24 13:04] raisedadead commented on #17803
We need them to lookup the challenge paths for a user if I am not mistaken in the UI? Is that being resolved in  different way?

[2019-02-24 14:42] thecodingaviator commented on #35387
Okay, I definitely misunderstood something there, I've made one PR, sorry for that @scissorsneedfoodtoo , didn't realize that you were doing these until I read it again for like the 5th time 🤦

[2019-02-24 14:54] #35095 closed

[2019-02-24 16:17] Bouncey commented on #17803
`redirectToLearn` uses the `pathMigrationMap` which is created at build time.

The `challengeUrlResolver` takes a challenge id (`user.currentChallengeId`), does a findById look up then builds the url from the document returned. This could be a build-time thing.

`getFirstChallenge` does a where query to find the first challenge. This could be a build-time thing.

`boot/certificate` uses a `Challen

[2019-02-24 18:00] cmccormack opened #35391 "Looking for reviewers for C/C++ implementations of selection-sort algorithm"
Looking for anyone proficient with C/C++ to review the imperative and declarative implementations of the `selection-sort` algorithm in [`/guide/english/algorithms/sorting-algorithms/selection-sort/index.md`](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/algorithms/sorting-algorithms/selection-sort/index.md).

Ideally, any person reading the guide should be able to copy thi

[2019-02-24 19:21] raisedadead commented on #35265
Hey @ahmadabdolsaheb or @chaomt Can you take this up? @Nirajn2311 just updated us that he will be a bit busy with other things.

[2019-02-24 19:52] ahmadabdolsaheb commented on #35265
I'm on it @raisedadead

[2019-02-24 20:00] Ensive commented on #35219
On the latest master favicons look good to me locally.

[2019-02-24 21:40] Bouncey commented on #35347
This is the intended design and flow for the landing page. You would notice that if you are authenticated, clicking sign in navigates you directly to /welcome instead of taking you to Auth0.

cc/ @QuincyLarson for some clarification.

[2019-02-24 22:13] RandellDawson commented on #35347
@Bouncey That is fine if that is intended.  I just noticed it because it seemed strange to me in my opinion.  On the production site it shows "Settings" if already authenticated and viewing the landing page.  I was just reporting that production and beta are behaving differently.

[2019-02-24 22:30] #35361 closed

[2019-02-24 22:54] moT01 commented on #17304
Hey @Bouncey, this issue and a few others can be fixed, I believe, by updating the search data in the `search-assets` repo - Since your the main contributor over there, you may need to do it, or point some of us in the right direction. It looks like there's some scripts over in that repo for updating data - perhaps they can just be ran, I'm not sure - I may be wrong, but after a little digging, it

[2019-02-24 23:17] ritute commented on #18061
I think a good experience here would be to expand the section where you completed your most recent challenge, and in the case where you haven't completed any, none would open.

[2019-02-24 23:25] moT01 commented on #17408
This appears to be fixed in [beta](https://www.freecodecamp.rocks/learn/front-end-libraries/sass/store-data-with-sass-variables), so I will close this. If you think it's still a problem feel free to reopen the issue.

[2019-02-24 23:25] #17408 closed

[2019-02-24 23:33] moT01 commented on #17374
The code in your forum post passes all tests on the [beta site](https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sum-all-primes) - So, I believe, this is no longer an issue. If you are still having problems, you can reopen it.

[2019-02-24 23:33] #17374 closed

[2019-02-24 23:34] moT01 commented on #17330
Closing this for lack of activity, and it is believed to be fixed. If it turns out otherwise, feel free to reopen it.

[2019-02-24 23:34] #17330 closed

[2019-02-24 23:50] moT01 commented on #16869
I did some quick tests, I believe this is fixed. If anyone is still having problems, feel free to reopen this issue.

[2019-02-25 01:02] scissorsneedfoodtoo commented on #35387
@thecodingaviator, sorry about that! I see how what I wrote can be confusing. I'll go back and make things more clear.

The changes in your PR look great, so I'll revert the changes I made to the 24 Game challenge.

Would you like to help me go over the other challenges? If so, you could start from the end of the list at Z and I'll keep working from the top. There are a few challenges that need to

[2019-02-25 01:02] RandellDawson commented on #16869
@moT01 What kind of tests did you do?  The issue is that there is a rate limit per the free FCC account used to make calls to the OpenWeather API.  Once those rate limits are reached the Glitch proxy returns the Japan coordinates.  The only reason it is not seen as an issue right now, is that this project is now optional in the curriculum, so there are not as many hits to it as there used to be.

[2019-02-25 01:10] moT01 commented on #16869
Ahh, yea - I just made a couple quick calls to the api and was able to get correct weather. I suppose I should probably inquire a little more before closing issues.

[2019-02-25 01:13] RandellDawson commented on #16869
I started working on a fix right at the start of Hacktoberfest and then got involved heavily with the QA process.  The rest is history.  I need to revisit this again, because now I have a much better understanding of Node and Express to be able to get a working solution going.

[2019-02-25 03:47] RandellDawson commented on #17659
The "advanced" section would be those challenge located in the Data Structure Questions in the Coding Interview Prep section.  @raisedadead I am thinking the easiest solution this is to rewrite the following sentence from:

to something like:

[2019-02-25 04:07] RandellDawson commented on #17648
@urbanware, @baliomega, @RyanHaire, @carbonkitten  Can we get you to test [this challenge on our beta site](https://www.freecodecamp.rocks/learn/front-end-libraries/react/use-react-to-render-nested-components) which incorporates many fixes to the React challenges?

Thank you.

[2019-02-25 04:10] RandellDawson commented on #17629
@raisedadead Any thoughts?

[2019-02-25 06:48] RandellDawson commented on #17615
My first thought was to just close this issue.  However, since the main purpose of the challenge is to teach the camper to change the `h2` element's text color to red and force the camper to use `;` at the end of the property/value key, then one easy solution is just ignore the text of the `h2` element by changing the last part of the regex from:
[code]
to:
[code]
However, since the first test alr

[2019-02-25 07:01] #35213 closed

[2019-02-25 07:54] thecodingaviator commented on #35387
@scissorsneedfoodtoo I'd be glad to. Will stop working up the list!

[2019-02-25 07:57] Em-Ant commented on #16869
I'll have a look tonight.

Il dom 3 giu 2018, 18:52 Quincy Larson <notifications@github.com> ha
scritto:

[2019-02-25 08:17] lxdnz254 commented on #17820
@lucasMontenegro Thank you very much for the tip.. The last couple of test cases have been very poor from freeCodeCamp :disappointed:

[2019-02-25 09:15] theshivanjali commented on #13103
![image](https://user-images.githubusercontent.com/24565124/53326533-d86daa80-390b-11e9-80c2-b55fa1868e76.png)
i am still getting an issue. what's the solution for this problem?

[2019-02-25 09:30] jianga opened #35396 "Hint link on "Basic Node and Express - Use the .env File" is incorrect"
**Describe your problem and how to reproduce it:**
Clicking "Get a hint" at https://learn.freecodecamp.org/apis-and-microservices/basic-node-and-express/use-the--env-file gives a 404. The link is incorrect and should be /use-the-.env-file instead of /use-the--env-file.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/apis-and-microservices/basic-node-and-express/use-the

[2019-02-25 09:36] ahmadabdolsaheb opened #35397 "Remove helpful links from about page"
since the helpful links are included in the footer, the helpful links section in the about page should be removed.

<img width="1438" alt="screen shot 2019-02-22 at 5 29 24 pm" src="https://user-images.githubusercontent.com/4591597/53327909-e61a3480-38f9-11e9-81ca-6d52f35154df.png">

[2019-02-25 09:36] RandellDawson commented on #35396
Hi @jianga Thank you for reporting this issue.

I can also confirm this is also an issue on the beta site (https://freecodecamp.rocks).

[2019-02-25 09:46] scissorsneedfoodtoo commented on #35387
@raisedadead, @Bouncey, some of the challenges like "Cut a rectangle" use pictures. Is there a place we can host the pictures ourselves?

[2019-02-25 12:01] yehia67 commented on #35397
Could I help?

[2019-02-25 12:15] ahmadabdolsaheb commented on #35397
yes, please. Could you please delete the row that has the column with the following class `helpful-links col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12` while at it could you please also change the class to for the about page to `questions col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12` so the about page would look wider on larger screens. 🙏

[2019-02-25 12:23] yehia67 commented on #35397
Yeah sure :dancer:

[2019-02-25 12:36] yehia67 commented on #35397
okay done I will make the PR

[2019-02-25 12:53] yehia67 commented on #35397
![image](https://user-images.githubusercontent.com/21314724/53338727-13bca900-390d-11e9-91c5-b6aa04b52a02.png)
Could you please tell me why checks failed? I am new just don't understand why?

[2019-02-25 13:37] #35343 closed

[2019-02-25 14:27] moT01 opened #35401 "[Challenge descriptions] - Move punctuation inside code blocks/tags?"
#### At certain widths, punctuation next to a code block gets pushed to its own line because it treats it like there's a space there, or like it's it's own element or something....

![screen shot 2019-02-25 at 8 24 57 am](https://user-images.githubusercontent.com/20648924/53343862-f40a8e00-38d6-11e9-8d5a-313409b2b542.png)

### A few more examples...
![screen shot 2019-02-25 at 8 16 52 am](https://

[2019-02-25 14:37] thecodingaviator commented on #35401
I'd say that's because to HTML, those two are different things. I don't really think that there's a workaround other than wrapping them up in a wrapper and making its width `fit-content`.

[2019-02-25 14:47] moT01 commented on #35401
I was thinking to change it to something like `<code>1fr.</code>` instead of `<code>1fr</code>.` in the descriptions.

[2019-02-25 14:53] Nitin96Bisht commented on #35401
Hi @moT01, Let me know whether It needs to be changed or not. I would like to work on this.

[2019-02-25 14:57] moT01 commented on #35401
Keep your eye on the conversation here. This would pretty much touch every challenge file across all languages, and might be more of a hassle than it's worth.

[2019-02-25 14:59] hughforsyth commented on #34236
@coder077 I would add that in 2015 when I last used FreeCodeCamp it did work how @DoviMaj is requesting, i.e., when you went to the curriculum page (or "Map" as it was then) it would expand the tree at the first incomplete lesson, so this is something that has broken/changed in the last few years.

I personally would like to see it working how it did in 2015 as I'm currently re-doing the certifica

[2019-02-25 15:00] thecodingaviator commented on #35401
That would make it look like `1fr.` and cause widespread confusion, not really a good idea IMO

[2019-02-25 15:31] moT01 commented on #35401
Good point @thecodingaviator, that's probably not the way to go - something like you suggested then is probably best. Maybe just wrapping them in a span tag - `<span><code>1fr</code>.</span>`

[2019-02-25 15:32] thecodingaviator commented on #35401
We'll also need to make the `span` have `width: fit-content` so it does not snap to the next line

[2019-02-25 16:03] rcohane commented on #13103
@theshivanjali please try removing the space between the 33 and semicolon

[2019-02-25 16:36] raisedadead commented on #13103
Hi @theshivanjali

Thanks for reporting this issue.

Please use the [Chat Rooms](https://www.freecodecamp.org/forum/t/free-code-camp-official-chat-rooms/19390) or try looking through our [forum](https://www.freecodecamp.org/forum) for help with a specific challenge and any coding assistance.

**IMPORTANT:**
Please NOTE that this tracker is for reporting bugs and enhancements to freeCodeCamp's code

[2019-02-25 17:37] iasjem commented on #16967
I also experience the same issue for that part of Create New Middleware. This solution worked for me very well though. Code to add for `views/pug/index.pug`:

`meta(name='description', content='A cool thing made with HyperDev. This is also the Home page')`

[2019-02-25 17:57] #18177 closed

[2019-02-25 18:10] vkWeb opened #35405 "[Beta] Setting page update modal should be removed"
## Describe the bug
On updating preferences on the settings page. There's a modal which shows up on the top of the page which I think is of no use as they are not visible until we scroll to the top. If we change multiple preferences then the modals stack up.

## Screenshots
![screenshot 23](https://user-images.githubusercontent.com/26724128/53358259-d2042080-3955-11e9-951e-08bd71c9eb7a.png)

## So

[2019-02-25 18:18] Bouncey commented on #35405
I'm open to toast messages for this type of notification.

cc/ @QuincyLarson

[2019-02-25 19:06] Ensive commented on #35405
@Bouncey
@raisedadead
Is it under discussion?

[2019-02-25 19:07] Ensive commented on #35368
@ValeraS
Any updates on this or shall we use approach described above?

[2019-02-25 19:17] #35351 closed

[2019-02-25 19:27] RandellDawson commented on #35368
@Ensive We have concluded for now, we will  have to write our own as they do not want to add another package to the library.

[2019-02-25 19:27] tnharvey opened #35407 "ES6: Use Destructuring Assignment to Assign Variables from Arrays - Testing Incorrect Concept"
**Describe your problem and how to reproduce it:**
While I was able to get this working eventually, I was disappointed to discover that, rather than testing my understanding of how destructuring can be used to assign variables from arrays, it appears to actually be testing my understanding of variable scope. I correctly understood that assignment could be switched using `[a,b]=[b,a]`, however, it

[2019-02-25 19:32] raisedadead commented on #35397
@yehia67

![image](https://user-images.githubusercontent.com/1884376/53363259-067dd980-3962-11e9-9583-43d434c8b86b.png)

If you click the details, you will get to the CI build logs.

[2019-02-25 19:36] tnharvey opened #35408 "Sass: Apply a Style Until a Condition is Met with @while - Page hangs"
**Describe your problem and how to reproduce it:**
As I began typing out my solution, the page kept hanging, and I figured it had to do with an infinite loop that would occur as I typed my solution, since the page is auto-rendering my code as I type it. Each time, I would have to reopen the page in a new tab to type the code, as it would hang. I even tried creating the incrementation line first, s

[2019-02-25 19:39] #35265 closed

[2019-02-25 19:53] Em-Ant commented on #16869
There is a static cache that has only one entry (the location in Japan).

We could fix it removing the rate limiter (I don't know if it's a good idea, since we have only one api key there), or return a rate limit error in case we exceed the requests quota.

Anyway this api project on glitch is owned by @MiloATH , and we cannot edit it without 'forking' it, i.e. creating a new app with a new url.

[2019-02-25 19:59] chuckadams opened #35409 "generators don't work: regeneratorRuntime is not defined"
I used to be able to use generator functions to solve ES6 challenges, but a recent change has rendered this impossible.  The following code does work in jsfiddle, but not in the FCC challenge.  Googling around suggests that there's a babel plugin missing, specifically `@babel/plugin-transform-runtime`

[code]

What I get in the output window:
[code]

[2019-02-25 20:02] chuckadams commented on #35409
Oops, by "not in the browser", I meant not in the code challenge editor.  I've attempted this on the latest versions of both Firefox and Chrome and get the same error in each.

[2019-02-25 20:06] yehia67 commented on #35397
@raisedadead   Thank you

[2019-02-25 20:37] raisedadead opened #35410 "Legacy Certification Settings Section to be implemented"
Need to port over the legacy certificate section on Settings page from the production

[2019-02-25 21:33] vkWeb opened #35411 "[Beta Guide] Side menu should be revamped"
### Describe your problem and how to reproduce it:
I think the side menu of guide should be revamped. Here are my suggestions:

- [ ] There should be a scroll bar on the side menu
- [ ] Selecting an article should **not** take me back to the top of the menu

I think solving the first issue will automatically solve the second one. I am open for discussion on possible ways of improving Guide's side

[2019-02-25 21:45] vkWeb opened #35412 "[Beta] freeCodeCamp logo directs to homepage"
### Describe the bug
Clicking on freeCodeCamp logo directs to the homepage.

### To Reproduce
1. Go to any challenge
2. Click on freeCodeCamp logo

### Expected behavior
It should direct me to welcome page.

**Desktop (please complete the following information):**
 - OS: Windows 10 Pro 32 bit
 - Browser: Chrome
 - Version: Latest stable

[2019-02-25 22:03] RandellDawson commented on #35412
Are you on production site or beta?

[2019-02-25 22:14] RandellDawson commented on #35409
Do you have a link to the specific challenge?

[2019-02-25 22:22] RandellDawson commented on #17550
This appears to already be resolved on the beta site (https://www.freecodecamp.rocks/learn/apis-and-microservices/apis-and-microservices-projects/url-shortener-microservice).  I am closing this issue.  Please feel free to ask for it to be reopened, if you find this still to be a problem on the beta site.  The beta site will soon be moved to production.

[2019-02-25 23:10] RandellDawson commented on #17506
@tbushman Was this ever fixed?

[2019-02-25 23:27] joker314 commented on #16869
You missed the third option; to fix the cache so that data is actually stored there - or to send random data if the rate limiter is hit.

I fear exceeding the rate limit is not a good idea as the API key could be revoked in such a circumstance, and we might not get results from the API in any case.

[2019-02-25 23:50] #18034 closed

[2019-02-25 23:51] RandellDawson commented on #16869
@joker314 I was moving in the direction of your third option already.

[2019-02-26 00:00] lasjorg commented on #35407
I might be wrong but I think, at least the scope part, won't be a problem after https://github.com/freeCodeCamp/freeCodeCamp/pull/34538 that removes the unnecessary IIFEs is ready.

But just to be clear, and if I understood you correctly, you can't use const like this.

[code]

[2019-02-26 00:10] tnharvey commented on #35407
Correct, I was not able to use it as you described, with const.
If #34538 resolves it, then no worries, thanks!

On Mon, Feb 25, 2019 at 4:04 PM lasjorg <notifications@github.com> wrote:

[2019-02-26 00:12] RandellDawson commented on #35407
@tnharvey #34538 will still not allow you to write `const [a, b] = [b, a];`

[2019-02-26 00:19] chuckadams commented on #35409
It happens on any challenge at all, but the specific one I was applying it to was this one: https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sum-all-odd-fibonacci-numbers/

[2019-02-26 00:44] Em-Ant commented on #17450
api endpoint: https://buttercup-island.glitch.me/latest
test project (forked from @jgibson02 ): https://codepen.io/Em-Ant/pen/modqWP

If you want we can expose it on a custom domain that you own (e.g. a freecodecamp subdomain).

Let me know if it is ok, and if you need anything else. If that's a good solution I'll give edit permission to camperbot, to transfer ownership to freecodecamp.

[2019-02-26 01:28] moT01 opened #35413 "Change code tags to blockquote tags for backend challenges"
The `code` tags on the backend style challenges should be changed to `blockquote` tags with `<br>`'s for line breaks.
#### code tag example:
<img width="808" alt="screen shot 2019-02-25 at 7 18 42 pm" src="https://user-images.githubusercontent.com/20648924/53380207-2eeddf80-3932-11e9-8ba9-edf85e211f9e.png">

#### blockquote tag example:
<img width="662" alt="screen shot 2019-02-25 at 7 19 25 pm" s

[2019-02-26 01:35] RandellDawson commented on #35413
@moT01 Use the Moderator Tools app and search for any existing PRs on each challenge file by using the `Filename` `Search` feature.  You may find PRs already exist for a file making similar changes.

[2019-02-26 01:36] RandellDawson commented on #35413
I will start with making a PR for the `MongoDB and Mongoose` section challenges.

[2019-02-26 02:22] lasjorg commented on #35407
@tnharvey I might not have been very clear about it now that I re-read my post. What I meant is.

1. When the IIFE is removed there is no longer scope consideration as everything will be top-level.

2. As pointed out, the reason why you can't use `const` is not because of scope, but because you can't re-declare a variable declared with let. I thought posting the console error made that clear.

Sim

[2019-02-26 02:40] Manish-Giri commented on #35391
I already have a repl.it link that I made to test the recursive selection sort implementation snippet added in that file by a PR. This link has the working code with a test array and output logs.

I'll make a PR with the code I have. Since the iterative implementation just provides the body of the `for` loop, I think I can create a function for the iterative version, and make my "main" call this t

[2019-02-26 03:57] RandellDawson commented on #17488
We are closing this issue as it has already been fixed ([view on our beta](https://www.freecodecamp.rocks/learn)).  This change will be shipping to production soon.

[2019-02-26 03:57] #17488 closed

[2019-02-26 04:02] tnharvey commented on #35407
Sorry, yes, I thought the example you gave was a copy of what was there,
but reading it I see the two declarations, and understand what you mean.
Thanks!

On Mon, Feb 25, 2019, 6:25 PM lasjorg <notifications@github.com> wrote:

[2019-02-26 04:04] RandellDawson commented on #17440
@GlynL Without seeing the code you have tried, it is very difficult to answer your question.  Please take @Fordco's advice and post your question and a link to your code on the forum.  If you still think there is an issue with the challenge instructions or description, you can request this issue to be reopend, but please be prepared to tell us how best to present it.

Thank you.

[2019-02-26 04:04] #17440 closed

[2019-02-26 04:05] RandellDawson commented on #35407
@tnharvey Are you ok with us closing this issue?

[2019-02-26 04:08] RandellDawson commented on #17411
@cj-sv Can you checkout our [beta site](https://freecodecamp.rocks) which has many changes which may have resolved this issue.  If it is still present, then we can label it as such.  Thank you.

[2019-02-26 04:08] tnharvey commented on #35407
Yes, thank you.

On Mon, Feb 25, 2019, 8:08 PM Randell Dawson <notifications@github.com>
wrote:

[2019-02-26 05:16] jacknehme commented on #35004
I've been getting `<wbr>` in the  - Intermediate Algorithm Scripting: Spinal Tap Case

[2019-02-26 05:46] yoelvisj commented on #14002
I felt free to fix this issue (tagged as _help wanted_). I follow the recommendations of @HarplingeTom . The PR is #35415

[2019-02-26 06:16] RandellDawson commented on #35004
@jacknehme Did you post your code on the forum for someone to review?  The `<wbr>` has nothing to do with the reason your code is failing.  That was just a bug in how the message displayed.

[2019-02-26 06:20] #35407 closed

[2019-02-26 08:29] vkWeb commented on #35412
@RandellDawson Beta: https://www.freecodecamp.rocks/

[2019-02-26 08:33] danielrlc commented on #18034
Thanks for fixing this @RandellDawson

[2019-02-26 08:41] vkWeb opened #35417 "[Beta] Reset progress and delete account needs to be implemented"
### Describe the bug
@Bouncey, @raisedadead There's no option to reset progress and delete an account on the beta version of freeCodeCamp.

### Desktop (please complete the following information):**
 - OS: Windows 10 Pro 32 bit
 - Browser: Chrome
 - Version: Latest stable

[2019-02-26 08:46] ValeraS commented on #35417
duplicate #35242

[2019-02-26 08:46] #35417 closed

[2019-02-26 08:49] raisedadead commented on #35412
Duplicate of #35347.  Please search through open issues before reporting.

[2019-02-26 08:49] #35412 closed

[2019-02-26 08:51] raisedadead commented on #35411
Duplicate of #35411 and #35249

Please look through open issues before reporting. Also, if your issue does not cover something, it should be discussed in the original threads.

Thanks.

[2019-02-26 08:51] #35411 closed

[2019-02-26 08:55] vkWeb opened #35418 "[Beta] Curriculum map performance is not smooth"
### Describe the bug
The performance of the curriculum map is not smooth on beta.

To experience this, go to freeCodeCamp's production version curriculum, expand the project Euler section and keep on scrolling. Repeat the same with the beta version. You will notice that the beta version is a bit laggy.
### Desktop (please complete the following information):
 - OS: Windows 10 Pro 32 bit
 - Browser

[2019-02-26 09:04] raisedadead commented on #17659
Yes. That should be fine.

[2019-02-26 09:05] raisedadead commented on #17629
Yep, we could go as higher as 18px on this one. Thanks for reporting.

[2019-02-26 09:08] raisedadead commented on #35387
We frown upon pictures. But unless they are an absolute necessity, you can add them to our CDN repo https://github.com/freecodecamp/cdn

These are served from https://cdn.freecodecamp.org

[2019-02-26 09:16] ValeraS commented on #35408
Resolved. You can check it on beta site https://www.freecodecamp.rocks/

[2019-02-26 09:16] #35408 closed

[2019-02-26 10:23] thecodingaviator commented on #35413
I don't think there are any challenges in `Basic Node and Express` which requires this

[2019-02-26 10:25] thecodingaviator commented on #35413
I'm making a Pr for the `Information Security with HelmetJS` challenges

[2019-02-26 11:02] Bouncey commented on #35387
To add further to this. If a picture is the only way to go, please use a REALLY good `alt` description.

[2019-02-26 13:36] scissorsneedfoodtoo commented on #35387
I can see why pictures would be frowned upon. Here's the picture in question:

![](https://rosettacode.org/mw/images/5/55/Rect-cut.svg)

So not strictly necessary, but definitely a useful visualization for this challenge. Right now on freecodecamp.rocks we just have a link to the image on Rosetta Code. I was thinking, since it's an svg we could just have the code in the description rather than lin

[2019-02-26 14:37] RandellDawson commented on #35413
@thecodingaviator Just don't forget to look up each file using the Moderator's tools to validate similar changes do not already exist in an earlier PR.

[2019-02-26 14:44] RandellDawson commented on #17629
@raisedadead Could this be related to issue #34775?

[2019-02-26 14:50] RandellDawson commented on #35412
@vkWeb Do you have an animated gif video showing clicking on the freeCodeCamp logo located in the upper left-hand corner which takes you somewhere other than the main welcome page?  You did not mention which page it took you to instead.

[2019-02-26 15:33] Nitin96Bisht commented on #35413
I will start by making a PR for the `Quality Assurance and Testing with Chai` section challenges.

[2019-02-26 16:57] jacknehme commented on #35004
@RandellDawson Thanks for replying. No, I didn't post to the forum.
I see that this issue is closed yet I was getting `<wbr>` inserted in the string log box.

I just thought I could bring it to someone's attention.
I did eventually get my code to work.

[2019-02-26 17:27] #35242 closed

[2019-02-26 17:30] mohanrajoria commented on #34417
@thecodingaviator Right, its not an issue with FCC, instead it should be fixed in MonacoEditor.

[2019-02-26 17:44] thecodingaviator commented on #35387
@scissorsneedfoodtoo Are we also moving the challenge instruction to the instructions div or we're leaving it in the description only?

[2019-02-26 19:21] #34208 closed

[2019-02-26 20:38] moT01 commented on #35413
@RandellDawson, this PR https://github.com/freeCodeCamp/freeCodeCamp/pull/35020 touches 3 of the mongod files - just a heads up if you didn't already check

[2019-02-26 20:42] moT01 commented on #35413
@Nitin96Bisht, this PR https://github.com/freeCodeCamp/freeCodeCamp/pull/31874 touches one of the chai files - if you haven't already started we can maybe review that quick and you can pull in changes so it doesn't create conflicts later - if you have started, not a big deal.

[2019-02-26 21:38] #18893 closed

[2019-02-26 22:51] ruchika90 commented on #17659
I'll take this up.

[2019-02-26 22:56] RandellDawson commented on #17659
@ruchika90 Go for it.  No one else has asked for it.

[2019-02-27 00:24] coder077 opened #35431 "Search bar has trailing quotation marks"
**Describe the bug**
When you go to the main site: learn.freecodecamp.org and type a query on the search bar, there is an odd trailing quotation mark after you hit enter.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to learn.freecodecamp.org
2. Type in a search query on learn platform and press enter
3. A new tab opens with a trailing quotation in the query

**Expected behavior**
The q

[2019-02-27 00:43] lasjorg commented on #35431
I can't reproduce it (Chrome and Firefox), what browser is this in?

[2019-02-27 00:47] coder077 opened #35432 "No typehead on the learn search bar"
**Describe the bug**
There is no typehead on the search bar on the site: learn.freecodecamp.org

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the main site learn.freecodecamp.org
2. Click on the search bar and type a query
3. There is no typehead

**Expected behavior**
A typehead is expected.

**Screenshots**
<img width="944" alt="screen shot 2019-02-26 at 7 45 51 pm" src="https://us

[2019-02-27 00:52] coder077 commented on #35431
@lasjorg Sorry Probably should have mentioned it. It appears in both Chrome and Safari but not in Firefox.

[2019-02-27 00:54] RandellDawson commented on #35431
@coder077 There have been many changes to the `master` branch which have not yet made it to production.  You can see these changes at https://freecodecamp.rocks.  If you still see these problems on the beta site, then please let us know.  If not, can you please close this issue?

Thank you.

[2019-02-27 00:54] RandellDawson commented on #35432
@coder077 There have been many changes to the `master` branch which have not yet made it to production.  You can see these changes at https://freecodecamp.rocks.  If you still see these problems on the beta site, then please let us know.  If not, can you please close this issue?

Thank you.

[2019-02-27 01:00] coder077 commented on #35431
@RandellDawson Yes, I checked the master branch and the error is still there. I could probably take a look at this if it's possible!

[2019-02-27 01:02] RandellDawson commented on #35431
Which error specifically?

[2019-02-27 01:02] lasjorg commented on #35431
It just redirects to https://search.freecodecamp.org when you do the search on freecodecamp.rocks

BTW. Is the search still in this archived repo?
https://github.com/freeCodeCamp/search-assets

[2019-02-27 01:04] lasjorg commented on #35431
@coder077 Can you try copy pasting something and see if you still get the trailing quotation mark.

[2019-02-27 01:05] RandellDawson commented on #35431
@lasjorg It is at the moment.  I believe there an issue which involves bringing the search functionality into the mono repo.

[2019-02-27 01:09] lasjorg commented on #35431
@RandellDawson I ask because the logo alignment is messed up on that page. Where should I post this issue? Also, would making a PR to the archived repo make any sense, I'm not sure how archived repo's work.

[2019-02-27 01:47] coder077 commented on #35431
@RandellDawson When I go to learn site https://www.freecodecamp.rocks/learn and say type any query and press enter, the new tab that opens always has a trailing quotation after the search query.
@lasjorg Yes, I tried it but it is the quotation is still there.

[2019-02-27 02:02] RandellDawson commented on #35431
@coder077 This could be a Safari issue, when using Chrome with the beta site, I do not see this issue.

[2019-02-27 02:02] coder077 opened #35434 "Pressing enter on search bar deletes query"
**Describe the bug**
When typing a search for a new query in the main learn site  learn.freecodecamp.org, it redirects to a new tab. This new tab https://search.freecodecamp.org/ has the same query but if you type any query on it and press enter, it completely deletes the query and returns a blank result.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to learn.freecodecamp.org and type i

[2019-02-27 02:07] RandellDawson commented on #35434
Closing this issue, because it is a duplicate of #29311

[2019-02-27 02:07] #35434 closed

[2019-02-27 02:32] RandellDawson commented on #35432
I think you might mean `type-ahead` instead of `typehead`.  Another word for this `autocomplete`.

[2019-02-27 02:40] scissorsneedfoodtoo commented on #35387
@thecodingaviator, I would probably say it's fine just to leave the challenge instructions where they are. Which challenge are you working on?

[2019-02-27 02:42] RandellDawson commented on #35432
@coder077 The search bar does have this feature in a way.  As you type, a dropdown appears below with relevant keywords.  This can be seen on the beta site (freecodecamp.rocks) as the current production site has a bug causing these results to be hidden.  This has been fixed and will eventually be rolled out to the production site.

[2019-02-27 02:46] RandellDawson commented on #35387
@scissorsneedfoodtoo , @thecodingaviator We have a PR for the APIs and Microservices challenges where we are moving instructions to the Instructions sections (where applicable).  Some of the challenges in those sections only have instructions.  In those cases, we have been leaving everything in the Description section.

I think it makes the challenge clear about what is info vs. instructions.

[2019-02-27 02:48] scissorsneedfoodtoo commented on #35387
@RandellDawson, thanks for the info! I'll take a look at that PR and see if we can do the same thing here. There's usually a last sentence or two in the description that could be moved to the instructions section.

[2019-02-27 03:26] lasjorg commented on #35431
@coder077 So is it Chrome and Safari on iOS where it happens, but not on Ubuntu with Firefox?

Also, we are talking iOS as in the tablet/phone right, not macOS?

[2019-02-27 03:37] coder077 commented on #35432
@RandellDawson  Yeah sorry, typeahead was what I meant and thank you for the clarification. Ok, I was unsure if it was an issue because, on the search site, the autocomplete was more "better". But otherwise, this could be closed.

[2019-02-27 03:37] #35432 closed

[2019-02-27 03:52] Nitin96Bisht commented on #35413
@moT01 Please review this PR #31874 and let me know so that I can start. I have not started yet.

[2019-02-27 04:54] lasjorg opened #35437 "Update video for challenge: introduction to html5 elements"
I think the video for this challenge should be updated.
https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/introduction-to-html5-elements/

It does not show the proper nesting of both the p elements inside the main element. It also has one error as one of the p elements are not closed properly.
https://scrimba.com/c/c4Ep9Am

[2019-02-27 05:44] tbushman commented on #17506
@RandellDawson not yet.

[2019-02-27 06:46] Ensive commented on #35405
I am thinking about taking this, but this needs to wait until the weekend

[2019-02-27 07:11] RandellDawson commented on #35437
@beaucarnes Any comments?

[2019-02-27 07:21] RandellDawson commented on #35387
@scissorsneedfoodtoo I was still working on my PR (#35442) a the time I responded earlier.  It is one of 6 PR which will address issue #35413 that was created to track similar changes to all the challenges in in the `APIs and Microservices` section.

[2019-02-27 09:49] Bouncey commented on #35405
@Ensive we used to use `react-notification`, but that hasn't had an update in 2 years, so I am against using it again.

A quick search finds [`react-toastify`](https://github.com/fkhadra/react-toastify) and despite the colourful language in the README, it looks well documented and recently maintained.

[2019-02-27 10:32] ojeytonwilliams commented on #35401
I think this is primarily a css issue.  The code elements are styled with
[code]
This puts a breaking space after the code block allowing punctuation to dangle.  Replacing the content with a non-breaking space stops that.  The following should solve the problem:

[code]

[2019-02-27 12:01] ojeytonwilliams commented on #35418
This is a bit of a weird one.  Chrome lags when you drag the scrollbar or click to scroll.  Firefox lets you drag smoothly, but delays rendering the links.  It also lags if you click on the scrollbar.  Edge is as smooth as butter when scrolling but takes a rather long time to open the links when you click on them.

It feels like a problem with Gatsby Link, but for the fact that the problem only se

[2019-02-27 14:57] raisedadead commented on #35418
We have deployed a few updates to the version of Gatsby that we use. I could not reproduce. A recorded version if this is still reproducible is welcome.

[2019-02-27 15:16] raisedadead commented on #35409
We do not have these on https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sum-all-odd-fibonacci-numbers

So the runtime issue is probably fixed??

[2019-02-27 15:32] moT01 commented on #35413
@Nitin96Bisht, you can just get started if you want - It might only create a conflict with one file, so it wouldn't be too bad. I looked through those lessons, and the descriptions aren't very good - so I'm thinking that someone needs to go through that sections and give it a makeover.

[2019-02-27 15:44] ojeytonwilliams commented on #35418
@raisedadead I managed to reproduce it locally with today's commit, but the problem only appears in production - the dev server seems fine.

I'll make some videos in a sec and edit them in here.

[2019-02-27 16:27] QuincyLarson opened #35450 "Sponsor page logo images don't load with ad blocker active"
For some reason my ad blocker is blocking our S3 images of these sponsor's from loading.

<img width="1207" alt="sponsors_who_help_freecodecamp_through_financial_and_in-kind_sponsorship___freecodecamp_org" src="https://user-images.githubusercontent.com/985197/53505776-884f3d80-3aef-11e9-943f-9725c219987c.png">

Also note that some of the images are not transparent but rather have white backgrounds

[2019-02-27 16:37] raisedadead commented on #35418
Do you mean `gatsby build dev` and then `gatsby serve` ?

[2019-02-27 16:42] raisedadead commented on #35450
We could make an exception and make this page to be served from our cdn instead. Also it maybe worth updating the url `/sponsors` to something else.

Of course we would 301 our sponsors page to the new page.

BTW. Does your ad blocker pick up on the original version of the page? `https://sponsors.freecodecamp.org`

[2019-02-27 16:43] raisedadead commented on #35450
As for the night mode, I think we would have look into their brand guidelines and use the alternative logo the recommend on dark pages.

[2019-02-27 17:41] lasjorg commented on #35450
It blocks them for me on the main site as well.

As far as I can tell (at least for me) it is caused by the easylist filter, specifically, it looks like the class `.sponsor-logos` is being targeted.

I'm not really that familiar with the filter rules, but this line looks like the potential offender.

`f1today.net,newsroom.co.nz,techwire.net##.sponsor-logos`

Info on filters:
https://adblockplus.or

[2019-02-27 18:34] Ensive commented on #35347
Okay. I will see what I can do with this one here.

[2019-02-27 18:49] ritute commented on #35405
Is this the only location where such notifications are used?

[2019-02-27 19:53] Grantlyk commented on #35397
Hey, has this been resolved? if not I can take over

[2019-02-27 19:57] LeMarck commented on #18308
Hi, guys! Please review my PR #35140

[2019-02-27 20:07] raisedadead commented on #35347
I am going to close this. @QuincyLarson please re-open if this is not intended behaviour.

[2019-02-27 20:07] #35347 closed

[2019-02-27 20:26] ojeytonwilliams commented on #35418
Exactly that, yeah.  I also ran the development api server in the background, for what it's worth.  Doing it that way results in very jerky scrolling.
![prod](https://user-images.githubusercontent.com/15801806/53520223-6e086600-3ad5-11e9-8c40-1c10d857e2e3.gif)

In contrast `npm run develop` produces the following:
![dev](https://user-images.githubusercontent.com/15801806/53520309-a314b880-3ad5-11e

[2019-02-27 21:02] barrykeegan commented on #17798
I'm trying to understand this problem, but it's a bit hard because there appears to be two sets of tests related to this problem (maybe that's the case for all problems) but I can only see one set. It's the set that isn't obviously apparent that are causing an off-by-one submission failure.

The tests displayed on this page:
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/chall

[2019-02-27 21:43] barrykeegan commented on #35437
Agreed with lasjorg,

In this exercise a new paragraph should be added below the first, with a main tag then added to wrap around both paragraphs.

In the video, the main tag is added around the newly added second paragraph only, plus the newly added paragraph has an opening p tag at the end instead of a closing p tag.

For contrast, the very next video has the main and paragraph tags the way they

[2019-02-27 21:55] RandellDawson commented on #35437
@beaucarnes Any thoughts?

[2019-02-28 00:04] #17659 closed

[2019-02-28 00:10] RandellDawson opened #35453 "The hint and solution articles for curriculum challenges need some guidelines"
The purpose of this issue is to brainstorm some ways we could simplify the structure of the Guide articles in the `certifications` folder and recommend some basic guidelines which should be followed, so contributors understand what qualifies as an "acceptable" change/addition to these specific articles.  These articles are what a camper sees when clicking on the `Get a Hint` button on each challen

[2019-02-28 01:32] ritute commented on #18061
This PR might fix this issue: #35421

[2019-02-28 01:40] MiloATH commented on #16869
I've passed on an invite to the glitch project.

[2019-02-28 01:41] MiloATH commented on #16869
The endpoint could be significantly better. I think we should build a separate repo with CI and deploy to something more mature like Heroku (free version). This would allow us to more easily work on the project.

[2019-02-28 02:12] chaomt commented on #19344
@RandellDawson
@hilliarj, @Fordco and I worked on this together. The pull request is above.

[2019-02-28 02:27] hilliarj commented on #17865
@RandellDawson I want to work on this

[2019-02-28 03:34] mstachalski commented on #34775
Hey, sorry for my late reply.

I don't remember anymore since it was quite some time ago. I'm pretty sure it was on 100%. However I was programming on a convertible laptop , alike Microsoft surface. Maybe the screen size / resolution / ratio of that might be the issue?

[2019-02-28 06:35] thecodingaviator commented on #35387
@scissorsneedfoodtoo I was waiting for your input on whether we are moving instructions to the instructions section. I currently haven't moved ahead the Zig Zag challenge

[2019-02-28 07:27] marshallike commented on #17802
ANSWER !!!

<style>
  h4 {
    text-align: center;
    height: 25px;
  }
  p {
    text-align: justify;
  }
  .links {
    text-align: left;
    color: black;
  }
  .fullCard {
    width: 245px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
  }
  .cardContent {
    padding: 10px;
  }
  .cardText {
    margin-bottom: 30px;
  }
</style>
<div class="fullC

[2019-02-28 07:58] raisedadead commented on #35418
Thanks for these screen caps.

The second and the fourth messages can be ignored in development. They are calls to Stripe and Rollbar services.

The third one about `get-session-user` is sort of expected because the gatsby is serving the app from port `9000` and also, it does not have the proxying abilities like in dev mode to hit the backend api.

The first one is a bit cryptic for me. Can you ex

[2019-02-28 08:33] ojeytonwilliams commented on #35418
It is a bit cryptic since that's all it says - there's nothing to expand.  However, I don't think it's relevant to this problem since it doesn't appear when I run chrome in incognito mode i.e. when I'm not signed in to fcc.  The jerky scrolling does still appear, though.

[2019-02-28 08:33] tplive opened #35456 "Nested scroll bar on the right; is scrolled down on page load"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
Whenever I progress to a new challenge, the page loads scrolled down about two lines. It's annoying, as the first line or two of the task is hidden, and so I have to scroll up to see it. Even if I maximize the

[2019-02-28 08:48] thecodingaviator commented on #35456
Check freecodecamp.rocks , I'm having trouble replicating this on that. It might have been fixed

[2019-02-28 10:22] Bouncey commented on #35405
@ritute The notifications are controller by the `Flash` component (`client/src/components/Flash/index.js`)

[2019-02-28 10:47] thecodingaviator commented on #35453
All the points seem fine, except I think it wouldn't be very wise to put a heading for Hints if we're going to have zero

[2019-02-28 10:57] thecodingaviator commented on #34288
The issue seems to be fixed now. As I can see on freecodecamp.rocks today (28/02/2019), I'm not able to replicate the issue any longer, so am closing it

[2019-02-28 10:57] #34288 closed

[2019-02-28 11:36] thecodingaviator commented on #35219
@Bouncey Which pages are you getting that on? I cannot find it on rocks a.t.m. maybe I'm looking at the wrong places

[2019-02-28 11:44] Bouncey commented on #35219
I cannot see them locally or on .rocks?

[2019-02-28 11:52] raisedadead commented on #35219
Chrome will cache it. Or make an icon available from other  equivalent resources defined in the manifest.

![image](https://user-images.githubusercontent.com/1884376/53564561-3e149d80-3b7d-11e9-9044-82b94699f1e3.png)

The actual icon is a 404.

[2019-02-28 12:08] Ensive commented on #35405
@Bouncey
I will take a look this Saturday morning. Feel free to assign and keep it on me through the weekend.
I will keep you posted.

[2019-02-28 15:21] thecodingaviator commented on #35219
We were porting over our assets to the fCC CDN. Could this be related to that?

[2019-02-28 16:31] RandellDawson commented on #35453
@thecodingaviator What I am wondering is if we can leverage some of the logic which is currently used in the curriculum challenges.  The main header sections would only render if there was a `section` with `id='hints'` or `id='solutions``.  Otherwise, they would not render at all. That way if one or both of the sections did not have hints or solutions, those sections would not render at all.  If n

[2019-02-28 16:58] Bouncey commented on #35453
This sounds like a solid strategy with regards to curriculum articles.

The way the challenge markdown files are consumed by `gatsby` is completely different to guide markdown files and would require a lot of work to implement. For challenges, we have the `challenge-md-parser` which converts the markdown to a challenge object, it was necessary to 'roll our own'.

The way to not render a Hints head

[2019-02-28 17:07] moT01 opened #35459 "No line breaks in quote machine description"
I'm not sure what happened to the instructions of [this project](https://www.freecodecamp.rocks/learn/front-end-libraries/front-end-libraries-projects/build-a-random-quote-machine), but there aren't any line breaks between the user stories. None of the other front end projects have this problem, but I didn't check any of the other areas.

<img width="1133" alt="screen shot 2019-02-25 at 8 03 27 pm

[2019-02-28 17:34] BA1RY commented on #35459
I would like to work on this issue.

[2019-02-28 17:59] RandellDawson commented on #35459
@BA1RY Before starting to work, let's determine what is causing it and then you can create a PR to fix it.

[2019-02-28 18:04] BA1RY commented on #35459
Sure @RandellDawson

[2019-02-28 18:07] RandellDawson commented on #35459
I figured it out.  The problem is in line 17. The invalid `<code>` tag (seen below) was the culprit.
[code]
Just need to change it to:
[code]

[2019-02-28 18:09] BA1RY commented on #35459
Got it... Will do @RandellDawson

[2019-02-28 19:01] coder077 commented on #35431
@RandellDawson Yes, turns out it is a Safari-only issue.

[2019-02-28 19:13] chaomt commented on #34727
We would like to work on it!

[2019-02-28 19:18] coder077 commented on #29311
I can take a look at this.

[2019-02-28 19:36] juniorbuba opened #35461 "Link in /parallel-computing leads to wrong destination"
**Describe your problem and how to reproduce it:**
Link referenced by "Help our community expand it" in /computer-science/parallel-computing leads to /computer-science/databases/index.md instead of /computer-science/parallel-computing/index.md

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/computer-science/parallel-computing

**Tell us about your browser and operating

[2019-02-28 19:37] icatat commented on #19346
@raisedadead I tried to run some commands on mongodb locally, and I actually noticed that the username is stored in the original format. Am I looking in the right place?
![image](https://user-images.githubusercontent.com/16485007/53593322-66dd6880-3b66-11e9-8905-3c016cbb77a5.png)

[2019-02-28 19:42] zellesephir commented on #17861
Actually I was able to pass by removing the . and putting a space between the word "at" so that the coding line looked like this.
 at <strong>Stanford University</strong>

[2019-02-28 20:11] RandellDawson commented on #19346
@icatat It is stored that way in the db, so that it displays as the user originally entered it.

[2019-02-28 20:16] RandellDawson commented on #35461
Hi @juniorbuba Thanks for reporting this.  This issue has already been resolved but not moved to production.  You can visit are [beta site](https://www.freecodecamp.rocks/guide/computer-science/parallel-computing) which shows this guide article is no longer a stub, so the link no longer appears anyway.  The beta site shows all the current changes available on the master branch, but may not have be

[2019-02-28 20:16] #35461 closed

[2019-02-28 20:49] #17506 closed

[2019-02-28 20:54] BA1RY commented on #35459
@RandellDawson Please have a look at it now. Thanks

[2019-02-28 21:23] RandellDawson commented on #35459
@moT01 Let me know what you think about the PR created.  I added a small tweak also, which you should check locally to see what I am talking about.  If you are ok with the changes, then merge it.

[2019-02-28 21:24] Snowcat8 commented on #35386
I can contribute to this

[2019-02-28 21:32] RandellDawson commented on #35386
@Snowcat8 Looks like @rupali317 created a PR (#35388) to solve the issue.  Feel free to look at the changes @rupali317 made and comment on that PR if you find it does not work.

[2019-02-28 21:33] #19344 closed

[2019-02-28 21:50] RandellDawson opened #35464 "Need to decide on a consistent use of Notes in the curriculum challenges' Description and Instructions sections"
I have created this issue so we can come to a final conclusion about the best format of notes when they are added to the `Description` or `Instructions` sections of a challenge file.

Below are all the combinations I have seen scattered throughout the curriculum.  There may be others, so please let me know and I will update the list.  This only applies if there is a single note.  For multiple note

[2019-02-28 21:51] RandellDawson commented on #35464
I will cast my vote as I prefer Example 7 for single notes, because it takes up less space and Example 3 because I like the `Notes` to be bold.

[2019-02-28 22:01] ahmadabdolsaheb commented on #35450
Thanks for the valuable information @lasjorg, I removed .sponsor-logo and .sponsor-logos and I got it to work. I will prepare a PR accordingly.

[2019-02-28 22:30] Fordco commented on #34727
I was also able to reproduce this bug on Chrome Version 72.0.3626.119 (Official Build) (64-bit).
Also I agree to the color comment @reolander. I'm not sure if that should be filed as a separate issue from the Night mode button though.

[2019-02-28 23:17] cstpk opened #35465 "Basic JavaScript: Understanding Uninitialized Variables - Wrong error message"
*misinterpretation/ solved

[2019-03-01 00:29] RandellDawson commented on #35465
The error message is not wrong.  It is just telling you two conditions which must be met for the variable `c`.  In your case, you are not fulfilling the latter.

The key word is `and`.  If I said your named can not be 'Randell' and must start with the letter `N` and your name is `Nataly`, does that mean I said your name is `Randell`?

[2019-03-01 00:53] #35465 closed

[2019-03-01 04:34] ahmadabdolsaheb commented on #35450
yes @raisedadead this is how it looks like on
https://sponsors.freecodecamp.org, the above PR should fix it.
<img width="1437" alt="screen shot 2019-03-01 at 7 31 48 am" src="https://user-images.githubusercontent.com/4591597/53616576-5378de80-3bf4-11e9-8392-36ba2deb5d38.png">

[2019-03-01 05:13] ahmadabdolsaheb commented on #35450
@QuincyLarson, I completely agree with @raisedadead regarding the brand guidelines. However to save time, how about the following?
<img width="1423" alt="screen shot 2019-03-01 at 8 07 20 am" src="https://user-images.githubusercontent.com/4591597/53617765-b0c35e80-3bf9-11e9-8446-a6f0b94d5505.png">

[2019-03-01 06:53] scissorsneedfoodtoo commented on #35387
@RandellDawson, thank you for the links! Those examples will be really helpful here.

@thecodingaviator, sorry for the late response. I take back what I said earlier about leaving the instructions in the description. It would be better to move them to the instruction section. Usually it's the last couple of sentences in the description, or anything after "Task".

[2019-03-01 07:45] ahmadabdolsaheb commented on #35450
We could crop the photos if needed so they all have similar padding.

[2019-03-01 08:02] thecodingaviator commented on #35464
I'll vote for number 6 for the single notes and number 3 for multiple notes. I don't really see the need for extra space between `Notes:` and whatever comes after it, a simple space is fine

[2019-03-01 08:26] thecodingaviator commented on #35450
@ahmadabdolsaheb That looks better than what we have but If we can have everything centered, it'd be a lot better

[2019-03-01 08:29] thecodingaviator commented on #35387
@scissorsneedfoodtoo Alright! That's how I'll proceed with it now 👍

[2019-03-01 10:15] TimAndreJacobsen opened #35473 "Basic Algorithm Scripting: Slice and Splice - valid solution does not pass tests"
### Can't pass Basic Algorithm Scripting: Slice and Splice with valid solution.
Tests do not pass. Console logging and typeof() shows both answers to produce the same result, but only the hinted solution will work.

[code]

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-algorithm-scripting/slice-and-splice

**Tell us abou

[2019-03-01 10:44] ValeraS commented on #35473
Hi @TimAndreJacobsen

Thanks for reporting this issue.

Please use the [Chat Rooms](https://www.freecodecamp.org/forum/t/free-code-camp-official-chat-rooms/19390) or try looking through our [forum](https://www.freecodecamp.org/forum) for help with a specific challenge and any coding assistance.

**IMPORTANT:**
Please NOTE that this tracker is for reporting bugs and enhancements to freeCodeCamp's c

[2019-03-01 10:44] #35473 closed

[2019-03-01 10:45] Bouncey opened #35475 "Next Release QA Checklist"
The time is approaching for a final QA. Below is a list of things that need to be checked for both new and existing users. To test as an existing user, we would require the permission of a user to essentially copy/paste their production account in to the `.rocks` database. It should remain that only that user will have access to the clone of their account on `.rocks`

#### Scenarios ready for test

[2019-03-01 12:13] Bouncey commented on #19346
@icatat That is more an implementation of the `Development User`. this record should insert the user with the correct casing of the username also.

[2019-03-01 12:45] ahmadabdolsaheb commented on #35450
@thecodingaviator, you mean centered in the white box? yes, some of the logos come with white space around them. we could crop them and add padding evenly to center them.

@QuincyLarson any thoughts?

[2019-03-01 12:59] rupali317 commented on #35464
Also to add on, perhaps we can have a background-color for all Note sections as we want users to pay  attention to those sections particularly. Something like this:

![image](https://user-images.githubusercontent.com/5875663/53639479-53182c00-3c64-11e9-8c8a-0b1f869fe121.png)

[2019-03-01 13:02] #35287 closed

[2019-03-01 13:11] alphaAashish commented on #10485
"\nFirstLine\n\t\SecondLine\nThirdLine";
not working

[2019-03-01 13:56] thecodingaviator commented on #35464
@rupali317 This is the style guide contain freeCodeCamp's Brand colors: https://design-style-guide.freecodecamp.org/ . We try to deviate as least as possible from this and I'm yet to see a major deviation

[2019-03-01 14:07] thecodingaviator commented on #35450
No, I was meaing something like this:
![image](https://user-images.githubusercontent.com/34807532/53643179-6d004180-3c59-11e9-9cc3-6efce7b9cb25.png)

All of them arranges in the center in the red boxes. This can easily be done using grid

[2019-03-01 14:13] thecodingaviator commented on #35453
I agree with what Stuart says above, it does definitely seem like a great strategy to go ahead with this, if we can pull it off, that is, we'd probably also need to go through 90% if not all files and make required changes

[2019-03-01 14:21] thecodingaviator commented on #17413
Yes, I'd pick that up, I'm gonna go through the codebase today and search for all instances of Oops I can find

[2019-03-01 14:43] #34417 closed

[2019-03-01 14:47] BA1RY commented on #35459
@moT01 Please have a look at it now. Thank you.

[2019-03-01 14:50] #35106 closed

[2019-03-01 15:29] thecodingaviator commented on #17863
@RandellDawson I see only one PR #17100 made by @LBWright over on this repo

[2019-03-01 16:27] icatat commented on #34760
@ugitch  If my understanding is correct, from this description: "1) The only numbers in the username have to be at the end. There can be zero or more of them at the end." it sounds like you cannot mix letters and digits together. So if you have 3 or more letters, but only 1 at the beginning, that means that the rest have to be mixed with other numbers, and this is the reason is not covered in the

[2019-03-01 16:38] icatat commented on #17863
I am able to change my e-mail from my Settings page. How do you get to that settings/update-email page?

[2019-03-01 17:06] RandellDawson commented on #35464
@rupali317 Also, the note is not the most important thing in the challenge.  The actual instruction is.  We don't want to highlight anything that is not relative to the instruction.  Most of the time, these notes are FYIs.

[2019-03-01 17:09] #35459 closed

[2019-03-01 17:31] RandellDawson commented on #10485
I am locking this because this issue has been closed and the other comments I am seeing should be addressed on the forum.

[2019-03-01 17:48] RandellDawson opened #35479 "We should remove remove repl.it, codepen.io, and other external online code testers from the Guide's certifications folder"
This was discussed recently in the Gitter chat, but I could not find an issue created for it.

I did a search in the `guide/english/certifications` folder and found 79 files which have links to replt and 7 files which have links to codepen.io.  I did a search for jsfiddle.net, but did not find any files.

Since people can delete the sessions and pens anytime, the links can break easily.  Also, as

[2019-03-01 18:05] Zakaria1986 commented on #16377
this works for me:

function truncateString(str, num) {
  // Clear out that junk in your trunk
  if( str.length >num && num > 3){
    return str.slice(0, num) + '...';
  }else if(num <= 3){
    return str.slice(0, num) + "...";
  }
  return str;
}

[2019-03-01 18:12] RandellDawson commented on #16377
@ZacharyKearns Please do not add comments to closed issues unless you are reporting a bug.  This is not the place to just post a code solution for a challenge for the sake of posting it.

Thank you.

[2019-03-01 18:20] #18007 closed

[2019-03-01 19:01] chuckadams commented on #35409
I can verify that this issue doesn't occur on the beta site, so I'll go ahead and close this.

[2019-03-01 19:01] #35409 closed

[2019-03-01 19:29] thecodingaviator opened #35481 "Remove quotes from challenges where not needed"
In some curriculum articles, some of the code-bits highlighted by the `<code></code>` are enclosed by a pair of quotes which are not necessary.

Since the `<code>` tags already highlight code, there is no need for the quotes to be there.

That is, instead of:
[code]
It should be:
[code]

One example can be found in [this file](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/cha

[2019-03-01 20:29] RandellDawson commented on #35481
Do we have a list of such challenges?

[2019-03-01 20:35] thecodingaviator commented on #35481
I do not have a list of these challenges a.t.m.

In the P.R. from where this originated, @cmccormack has said something about there being other files where we had this, he might have a lead on it, otherwise a repo wide search for `"<code>` can be run

[2019-03-01 20:36] RandellDawson commented on #35481
OK.

[2019-03-01 20:39] RandellDawson commented on #35481
@thecodingaviator If you do a quick search of the repo to see how many files might be affected by this, then I will query the open PRs to check all existing open PRs which might have such changes.

[2019-03-01 20:50] joshiad commented on #35432
@RandellDawson @coder077 We still have this issue in Safari.
<img width="1060" alt="screen shot 2019-03-01 at 3 49 40 pm" src="https://user-images.githubusercontent.com/25302817/53665549-bc367a00-3c39-11e9-9ff7-4cd0a08d41e8.png">

[2019-03-01 21:57] ugitch commented on #34760
@icatat I mistakenly wrote letter instead of character in _three-or-more-character_. I corrected it. You can check my solution in a website like regexr with the examples of usernames. Thanks for showing interest!

[2019-03-02 00:13] RandellDawson commented on #17509
@moT01 I pulled it down and tested it.  The `next` button works fine, but the `prev` goes to `http://localhost:8000/undefined`.

[2019-03-02 00:19] moT01 commented on #17509
Do you know what lesson were you on when the back button didn't work? I had that happen, and thought I fixed it up. Yea, all the buttons jump around, but that could be a possibility. Thanks for taking a look.

[2019-03-02 00:25] RandellDawson commented on #17509
It does not matter which section or lesson I start on, it will not go to the previous challenge.

[2019-03-02 00:27] moT01 commented on #17509
hmm, I'm not having that problem

[2019-03-02 04:39] scissorsneedfoodtoo commented on #35387
@thecodingaviator, alright, sounds great! Thanks again for all your help here. I'll review your PRs as they come in.

[2019-03-02 05:39] #35386 closed

[2019-03-02 05:55] Nitin96Bisht commented on #35479
@RandellDawson You are right, we should remove all external links since It may lead to 404 error in the future for many reasons. However, there might be a situation where one would like to take the reference just for understanding the concept. If we remove all references then It may be difficult for one to understand the concept clearly. Possibilities are:

- We can provide a shared link which doe

[2019-03-02 06:00] Nitin96Bisht commented on #35481
@thecodingaviator @RandellDawson I would like to start from `/curriculum/challenges/english`. Kindly let me know May I start now to avoid file merge conflict.

[2019-03-02 07:06] RandellDawson commented on #35479
@Nitin96Bisht I was not proposing to remove all external links, but instead remove links to the code testing sites such as repl.it and codepen.io.  I personally do not think we should make it any easier for someone to copy and paste a solution.  The solution will be there and if they want type it out or copy/paste, that will be up to the user.

I am not understanding what you mean by the following

[2019-03-02 07:28] Nitin96Bisht commented on #35479
@RandellDawson I meant to say that We can provide shared link of codepen.io or repl.it that are not associated with any account. However I think you are right, Yes we should remove all codepen.io or repl.it links .

Anyways Let me know, I can start working on one of the language guide to remove all such links and their associated text.

[2019-03-02 07:39] Manish-Giri commented on #35479
@Nitin96Bisht I believe Randell already has a regex (for certification guides) in place, that he can customize to target these links in all guide articles.

[2019-03-02 11:04] thecodingaviator commented on #17413
There are four files which come up on a repo wide search of 'Oops', the list below excludes curriculum or guide files, since the usage of oops there is for coding purposes and not an error message:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/master/api-server/common/models/User-Identity.js
2. https://github.com/freeCodeCamp/freeCodeCamp/blob/master/api-server/server/middlewares/error-han

[2019-03-02 11:42] WofWca opened #35489 "Navigation tree items disappear"
**Describe your problem and how to reproduce it:**
1. In the main tree list, open an item containing other trees (nested) (e.g. "Certifications").
2. Open a level 2 item (e.g. "Certifications"->"APIs and Microservices")
3. Open a level 2 item going after the item that you unfolded in the second step. It will disappear.

**Add a Link to the page with the problem:**

https://guide.freecodecamp.org

[2019-03-02 11:42] WofWca commented on #35489
Related: #34962

[2019-03-02 11:52] WofWca opened #35490 "Stub links point to the freeCodeCamp/guide repo"
**Describe your problem and how to reproduce it:**

Go to a stub page e.g. [this](https://guide.freecodecamp.org/certifications/information-security-and-quality-assurance). The "Help our community expand it." link points to a currently archived repo whereas it should be pointing to `freeCodeCamp/freeCodeCamp/guide`. Same with the "This quick style guide will help ensure your pull request gets acce

[2019-03-02 13:07] thecodingaviator commented on #35489
This has been fixed in the repo and is awaiting shipment to production along with the next release. You can find the fixed version at [freecodecamp.rocks](https://freecodecamp.rocks/learn).

I'm closing this issue, if you think that this has not been fixed, add further clarification and reopen the issue.

[2019-03-02 13:07] #35489 closed

[2019-03-02 13:21] raisedadead commented on #35418
Looks like we will have to dig in existing gatsby issues. /cc @freeCodeCamp/dev-team

[2019-03-02 13:30] thecodingaviator commented on #35324
@panhabot has made a PR at #35416

[2019-03-02 13:37] Bouncey commented on #35418
This could be due to some lazy-loading. To keep bundle sizes down, not everything is loaded what you visit a page, as you scroll past a certain point, things that were not 'above the fold' are loaded in. This can be seen by having your network tab open whilst scrolling. The same thing happens when you start to hover over links, the 'abaove-the-fold' js required for that link is lazy-loaded in anti

[2019-03-02 13:46] ValeraS commented on #35418
It's caused by Gatsby prefetching behavior when links become visible. We can disable core prefetching.

[2019-03-02 13:54] thecodingaviator commented on #16112
@addv12345 That is the only challenge where we are having this problem. Right?

[2019-03-02 14:01] thecodingaviator commented on #16112
The latest version of the repository available at [freecodecamp.rocks](https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/object-oriented-programming/extend-constructors-to-receive-arguments) has this problem fixed with an additional test.

I'm closing this issue, if you feel like it has not been fixed, add further clarification and reopen the issue

[2019-03-02 14:01] #16112 closed

[2019-03-02 14:04] moT01 commented on #35490
I think the "Help our community expand it." links should take you to https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-work-on-guide-articles.md - and the second link should take you to https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/style-guide-for-guide-articles.md. For some reason the "help our community expand it" link in the article posted takes you to the "ma

[2019-03-02 14:17] moT01 commented on #35490
So I will replace all the stubs to look like this...?
[code]
Do we want to keep the more information heading in the stubs? Is there anything else we want to add to the stubs if I am going through them? I could make the first line look like this instead...
[code]

[2019-03-02 14:28] WofWca commented on #35489
Sorry about that.

[2019-03-02 14:35] WofWca commented on #35490
I think a link to the actual file here should be available on the page.

[2019-03-02 14:49] WofWca commented on #35490
I think including a link to the actual file is a matter of a different issue.

[2019-03-02 15:38] raisedadead commented on #16112
Just to note on @thecodingaviator 's comment.

This issue is fixed on our upcoming version, which you can test on the beta website we will push these fixes to the main production version in the upcoming weeks..

[2019-03-02 15:41] raisedadead commented on #35418
Yeah, I would be happy if we showed:

- List item number on on the list of items for list.
- List item number on on the list of items for list.
- List item number on on the list of items for list.
- List item number on on the list of items for list.
- List item number on on the list of items for list.
- List item number on on the list of items for list.

`... loading more lessons ....`

Or somethi

[2019-03-02 16:00] thecodingaviator commented on #35490
@moT01 The second version looks better. I don't personally think there is any need for the More Information section

[2019-03-02 17:05] cmccormack commented on #35481
@Nitin96Bisht we can take care of the merge conflicts if you want to submit the PR.  Make sure you're working from the latest commit of the freecodecamp master branch.

Please try to limit the changes in this PR to only removing the quotes so it doesn't make conflict resolution more difficult.

Thanks!

[2019-03-02 17:52] ojeytonwilliams commented on #35418
Am I right in thinking production uses the old learn repo?   If it's using this version of Block https://github.com/freeCodeCamp/learn/blob/cea075362e7deb7eafe2d339b2f578adedb77e84/src/components/Map/components/Block.js
then it still uses Gatsby's Link component, albeit an older version.  Perhaps the newer versions of Link have acquired a bug.

When I get the chance, I'll see if I can reproduce th

[2019-03-02 18:00] #34960 closed

[2019-03-02 18:03] Manish-Giri commented on #35481
I think it's better to allow a first-time contributor to work on the issue.

@Nitin96Bisht Please feel free to look through the other `help wanted` issues. There are many of them we could use your help on!
In case this one is still not picked up in a few days, you can then work on this.

[2019-03-02 18:04] RandellDawson commented on #35479
@Nitin96Bisht Like @Manish-Giri mentioned, I have a way of targeting and replacing these already.  I created the issue to get feedback.  I want to wait until a core-team member gives the official OK on this issue, before moving forward.   The core team members are very busy right now, so it may be a few days before we get a response.  I will take care of creating the PR if that is OK with you.

[2019-03-02 18:23] RandellDawson commented on #35490
@moT01 Be careful changing the stub content.  @raisedadead I was thinking there was something in the Guide logic which does something special when it encounters stub content in an article.  Is it ok to just change the stubs to whatever we think is best?

Also, it would be nice if the system would just automatically post something in a Guide article which does not have any content.  Also, I believe

[2019-03-02 18:30] Nitin96Bisht commented on #35479
@RandellDawson It is fine. 👍

[2019-03-02 18:38] Nitin96Bisht commented on #35481
@Manish-Giri I was already working on this. I will look for `help wanted` issues also. 👍

[2019-03-02 18:45] moT01 commented on #35490
Be careful for what? I would just be changing the stubs to something almost identical to what is already there - just with proper links and maybe a few more words.

Perhaps there is a way for the guide to automatically fill in something when it finds a stub or no content or whatever... I would bet that there is a way, in fact - maybe that's the way to go.

The beta guide already has the new footer

[2019-03-02 18:51] RandellDawson commented on #35490
@moT01 I could be wrong, but I believe the way the Guide logic works (or used to) was if it found specific stub text, then it would not render the content of the article as a precaution.  Again, I will let @raisedadead correct me on my assumption.  If it is looking for specific stub text and we change it, then something may not work as intended.

[2019-03-02 19:02] raisedadead commented on #35490
We just need a simple stub component, which can be rendered on stub articles, that will lead to the corresponding guide article on GitHub.

Here is an example:

https://www.gatsbyjs.org/docs/preparing-your-environment/

![image](https://user-images.githubusercontent.com/1884376/53686345-b5982780-3d4b-11e9-80f0-d0aaf8d6f555.png)

[2019-03-02 19:05] raisedadead commented on #35418
You are right the 'production' at `learn.freecodecamp.org` uses the archived learn repo.

The upcoming version which will replace it available for now at `www.freecodecamp.rocks/learn` and is the current `master` branch of this repo. We have already moved to Gatsby V2 here.

This is under a beta testing phase and will be rolled out to the main `.org` site soon.

Effectively `learn.freecodecamp.org

[2019-03-02 19:07] raisedadead commented on #16869
We are not deploying to heroku any more. We will be using Glitch for now. Meaning if there is alternative project we are happy to deploy it under freeCodeCamp's account on Glitch and replace the existing challenge in the Curriculum

[2019-03-02 19:10] raisedadead commented on #35490
Hi @moT01 if you are interested in working on the stub component, please leave your assignment as it is, else I recommend you revert the assignment and help wanted labels.

[2019-03-02 19:12] Nitin96Bisht commented on #34970
Hi @Wishnia, Are you still working on this issue?

[2019-03-02 19:12] ojeytonwilliams commented on #35418
Ah, thanks, I'd missed that one.

On Sat, 2 Mar 2019, 20:08 mrugesh mohapatra, <notifications@github.com>
wrote:

[2019-03-03 06:47] dnntrn commented on #34240
Hi! If someone isn't already working on this, I would like to take it.

[2019-03-03 06:55] alialooooosh055455 commented on #34240
1.577287066246057

[2019-03-03 06:56] alialooooosh055455 commented on #34240
@alialooooosh055455

[2019-03-03 07:01] ezioda004 commented on #34240
@dnntrn Doesnt seem like, you're good to go!
If you need help, feel free to ask here or visit our [contributors room](https://gitter.im/FreeCodeCamp/Contributors).

[2019-03-03 09:34] alialooooosh055455 commented on #34240
IMEI: 354737082070508
SV: 01
Phone Number:
ICCID: 89962011000185464544
IMSI: 416011018546454
Mac Address: 8C:F5:A3:2F:0F:6C

[2019-03-03 11:13] genevieveloreal commented on #35490
It would be great to resolve this issue. Currently it is very confusing trying to work out how to contribute to the help/hint sections of challenges.

[2019-03-03 11:51] raisedadead opened #35495 "Clearing cookies or application data for domain does not let me sign in"
1. Sign in on the beta site.
2. Go to Browser DevTools (Chrome) --> Application Tab --> Clear Storage --> Clear Site Data
3. Try Sign in again.

Looks like our code is setting/checking some cookie set to some other domain/subdomain.

[2019-03-03 12:23] dnntrn commented on #34240
@ezioda004 Hey! I think I got them all. Not sure if I missed some, but I checked the guides and challenges under ES6, projects, and certifications. Pull Request submitted.

[2019-03-03 12:40] thecodingaviator commented on #34240
@dnntrn Check [this link](https://github.com/freeCodeCamp/freeCodeCamp/search?q=%22rest+operator%22&unscoped_q=%22rest+operator%22) . There are 28 files in this repo where `rest operator` comes up

[2019-03-03 18:14] nicholastka commented on #34240
@dnntrn Nicely done. I have no idea what you guys are talking about.

[2019-03-03 18:16] moT01 commented on #35490
I'm confused as to what we actually want here. Is this component going to replace the current stubs? If not, then it doesn't really fix the issue of the bad links. And do we only want the component on stub articles, or do we want it on all the articles. I personally, like the idea of having something at the bottom of all the articles with the links on how to change the article.

I think you are ri

[2019-03-03 18:29] RandellDawson commented on #35490
I am hoping it is on all articles.  However, for articles which have no info yet, then there probably needs to be an automatically place message, so we are not trying to maintain those links ourselves.

[2019-03-03 19:09] moT01 commented on #35464
I vote for example 6 and example 3, The [style guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/style-guide-for-curriculum-challenges.md#formatting-challenge-text) says to use something in none of the examples for single notes, the output would be the same as example 2, I think - Also, the guide doesn't say anything about multi-notes

[2019-03-03 21:25] RandellDawson commented on #35464
@moT01 , @thecodingaviator I am willing to settle for #6, but technically colons (in English language) should have two spaces afterwards.

[2019-03-03 21:45] moT01 commented on #35490
Well, this is what I have so far...
<img width="1271" alt="screen shot 2019-03-03 at 3 24 35 pm" src="https://user-images.githubusercontent.com/20648924/53702179-a8218280-3dc9-11e9-83d1-9a161136b692.png">
Everything below the `<hr>` is part of the component. It is rendered on **every** article. Not sure if this is what we want but it maybe gives us something to start with. It still doesn't address

[2019-03-03 22:11] RandellDawson commented on #35490
Good start!  Maybe `Edit this file on GitHub` should be the first bullet.

[2019-03-03 22:47] Manish-Giri commented on #35464
6 and 3.

[2019-03-04 02:18] benschac commented on #35410
I was poking around this issue a bit @raisedadead.  Curious, you know if there API / reducers still work from what's in production or how I'd mock the legacy data?

[2019-03-04 02:21] Manish-Giri opened #35503 "Pig Latin: Intermediate solution #2 is incorrect"
**Describe your problem and how to reproduce it:**

For the **Pig Latin** challenge, Intermediate Code Solution #2 does not handle cases where the word does not contain a vowel.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/pig-latin/

This is the code in question -
[code]
The problem is that

[2019-03-04 02:29] lmichaele commented on #17820
This worked, thank you!

[2019-03-04 02:33] RandellDawson commented on #35503
I just looked at the history of the file and this has been a solution for a long while.  Surprised no one found this before.  I say remove it totally.

[2019-03-04 02:52] RandellDawson commented on #35503
Can we use another PR's solution for intermediate?  Did we close one recently that could be used?

[2019-03-04 02:59] Manish-Giri commented on #35503
There is already another intermediate solution (intermediate code solution #1) that was recently added to the guide. The one that was recently closed has similar logic to both the first intermediate solution and the advanced solution.

[2019-03-04 03:14] RandellDawson commented on #35503
OK.

[2019-03-04 03:15] #34358 closed

[2019-03-04 03:49] Nirajn2311 commented on #35464
I vote for example 6 in single notes and example 3 in multiple notes.

[2019-03-04 03:55] RandellDawson commented on #35464
I think it is settled then.  6 and 3.  @raisedadead What do you think?

[2019-03-04 05:33] moT01 opened #35505 "Remove stub text from filled guide articles"
Some of the guide articles were filled in, but the user forgot to remove the stub text. Resulting in stubs that don't need to be there. And incorrect style in the navigation links. In the photo, the link on the left to the article shown is gray and says 'stub' - because the stub text is still at the bottom of the article.
<img width="1212" alt="screen shot 2019-03-03 at 11 29 10 pm" src="https://u

[2019-03-04 11:39] Bouncey commented on #35495
Can be reproduced locally by deleting the `jwt_access_token` from cookies

[2019-03-04 14:00] moT01 commented on #35453
This sounds like a good idea, since the current hints have very little consistency across the guide. I pretty much like all these suggestions.

If we go with the collapsible sections, I would have the hints always displayed and not collapsible, and keep the solutions collapsed on load.

Also, maybe take into account that there is different types of challenges... classic, backend, and projects - so

[2019-03-04 15:12] #17655 closed

[2019-03-04 15:50] w-ak9 commented on #3329
<label>
    <label>
    <input type="radio" name="indoor-outdoor">indoor
    </label><br>
    <label>
      <input type="radio" name="indoor-outdoor">outdoor
    </label><br>

[2019-03-04 15:58] w-ak9 commented on #3329
Put both the inputs in separate <label> tag!
 `<label>
 <input type="radio" name="indoor-outdoor">indoor </label><br>
</label>`
`<label>
<input type="radio" name="indoor-outdoor">outdoor </label><br>
</label>`

[2019-03-04 18:33] #17628 closed

[2019-03-04 19:43] MoonCWang commented on #35453
Agree with all points especially doing away icons.  Some thoughts.

- Should current guide contributors wait for standardization before modifying their contributions?
- I feel hints and complex time order solutions don't have to be hidden.  Constant and linear time order should be.

[2019-03-04 19:53] beaucarnes commented on #35437
I will redo that video.

[2019-03-05 00:03] lasjorg opened #35514 "Is a change to "write higher order arrow functions" guide needed?"
Issue is regarding this guide: [write higher order arrow functions](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/certifications/javascript-algorithms-and-data-structures/es6/write-higher-order-arrow-functions/index.md)

I know an alternative code solution using isInteger was added to this guide (site not updated yet). However, I feel like we should update the old code sol

[2019-03-05 00:50] Manish-Giri commented on #17712
I tested this locally, and the last test pretty much ensures there's only one (correct) way to pass the challenge.

I did notice that with this string - `'FirstLine\n\t\\SecondLine\n\n\ThirdLine';`, this test doesn't pass -

Based on the test requirement, there _is_, technically, a newline between `SecondLine` and `ThirdLine`. So, one could ask why the test won't pass. Maybe the text assert could

[2019-03-05 01:08] RandellDawson commented on #17712
@Manish-Giri That is a valid point.  I don't mind adding that to this PR.

[2019-03-05 02:59] JamieVaughn commented on #35397
It looks like the footer with the links has been removed so perhaps the list of helpful links should not be removed at this point.

[2019-03-05 03:15] JamieVaughn opened #35515 "Footer on /news page is difficult to navigate to due to semi-infinite scrolling"
When on www.freecodecamp.org/news and trying to scroll to the footer, the document height repeatedly increases due to an infinite scroll effect causing new content to load which pushes the footer out of the viewport. This makes navigating to the footer very difficult and constitutes a UX bug, IMO. A narrow, fixed footer or moving the footer content to a fixed side-panel are possible solutions.

To

[2019-03-05 03:48] JamieVaughn commented on #35515
I'd be interested in submitting the PR for this if it is deemed an issue in need of changing.

[2019-03-05 10:25] raisedadead commented on #35515
We are currently, in the middle of shipping the learn platform. The news app is a dedicated Ghost instance currently using one of their default themes. We do plan to overhaul this in future.

So, the theme may be changed to something that we choose to vote internally.

Thanks a lot for your interest, and reporting this.

As of now, this is an intended behaviour, and may change in future.

[2019-03-05 10:25] #35515 closed

[2019-03-05 10:27] #35495 closed

[2019-03-05 10:33] #35450 closed

[2019-03-05 10:43] raisedadead commented on #35464
Agreed, with you all. Thanks. Please proceed with pull requests.

[2019-03-05 13:02] rupali317 commented on #35464
I would like to work on this. Is there a way to assign my name under the assignee? I am not able to do so

[2019-03-05 13:46] raisedadead commented on #35464
Hi @rupali317 Go ahead with PR.

We cannot assign you the issue. It's unfortunately a limitation from GitHub. Feel free to make a PR. We usually allow the first open and valid PR to go in as a fix.

Thanks.

[2019-03-05 13:57] #17712 closed

[2019-03-05 15:37] #35503 closed

[2019-03-05 15:51] uncblythe1 commented on #35397
The helpful links are now at the bottom of the FAQ page.  Is this where they should be?  It looks like they would be more useful at the About page or as a footer for the home page?

[2019-03-05 16:32] moT01 commented on #35464
The suggestion in the PR above says to make a multi-note different from the example - so I did some testing to see the outputs and thought I should share.<br>
**these codes....**
<img width="570" alt="screen shot 2019-03-05 at 10 26 56 am" src="https://user-images.githubusercontent.com/20648924/53820447-6a3f6e00-3f31-11e9-9541-640132b5c67d.png">

**produce the following...**<br>
<img width="415" a

[2019-03-05 16:34] rupali317 commented on #35464
@RandellDawson  I found more cases  for single note. Perhaps you can update the list

Case 1:

[code]

Case 2:

[code]

Case 3:

[code]

Case 4:

[code]

[2019-03-05 16:38] thecodingaviator commented on #35464
@RandellDawson Are you going ahead with a PR to put it somewhere into the docs?

[2019-03-05 16:39] moT01 commented on #35464
Are you converting them to the suggested style @rupali317? And have you come across many multi-notes?

[2019-03-05 16:43] rupali317 commented on #35464
In challenges like https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/accessing-object-properties-with-bracket-notation,

we have this sentence: Note that property names with spaces in them must be in quotes (single or double).

So, should that sentence also be converted to:
[code]
or can we ignore such cases?

[2019-03-05 16:45] rupali317 commented on #35464
@moT01  yes i am following the example 6 for single note (as voted)
Have not come across multiple notes yet. Will re-check.

[2019-03-05 16:46] RandellDawson commented on #35464
@moT01 Good points.  Maybe multiple notes should just be different sentences in the same style as for a single note.

[code]

Which ends up looking like:

<strong>Note(s):</strong> First note goes here. Second note which is a bit longer goes here. Third note which is the longest note of all goes here.

[2019-03-05 16:50] moT01 commented on #35464
That's a judgement call @rupali317, I think it could be converted. I would hold off on the mult-notes for a little bit, and if you're going to make a PR try and keep them to maybe one section or so at a time if you could.

[2019-03-05 17:29] #35396 closed

[2019-03-05 18:49] thecodingaviator opened #35518 "SQL Guide files invalid"
The file [SQL Guide - ALTER TABLE](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/sql/sql-alter-table-statement/index.md) is totally messed up since the user removed the images, a PR #30349 made changes to it which makes it better, but not fixes it.

We want the whole file to have statements like that we have now for `Remove a column:`

Additionally, we want the PR to be fo

[2019-03-05 20:26] mscanza commented on #17971
Same, doesn't work.  I'm really disappointed with FCC on this section.

[2019-03-05 20:31] rmfranciacastillo commented on #35505
I'll be working on removing the stub tag from MongoDB and Mongoose.

[2019-03-05 20:39] moT01 commented on #35505
Thanks @rmfranciacastillo, but this issue has been fixed and there should be no more articles where the stub text needs to be removed.

[2019-03-05 20:39] #35505 closed

[2019-03-05 20:40] rmfranciacastillo commented on #35505
@moT01 No worries. :)

[2019-03-05 20:59] akramSahbi opened #35520 "ES6: destructuring with reassignment was used (Use Destructuring Assignment to Assign Variables from Objects )"
**Describe your problem and how to reproduce it:**
In the ES6: destructing assignment to assign variables from object lesson, i make the correct answer but it is not recognized, it shows the test message warning 'destructing with reassignment was used.
here is the code snippet:
`const AVG_TEMPERATURES = {
  today: 77.5,
  tomorrow: 79
};

function getTempOfTmrw(avgTemperatures) {
  "use strict";

[2019-03-05 21:49] RandellDawson commented on #35520
You should use the forum first to post your code and ask questions first.  The challenge expects you not to use the global variable, but instead use the value passed by the call to the function.

[2019-03-05 22:31] RandellDawson commented on #17971
@sporifolous When you say you can not clone the repo directly, how are you trying to do it?

@mscanza Which link are you trying?  What error message do you see when you click on the link?

[2019-03-05 22:58] Wishnia commented on #34970
@Nitin96Bisht No, I was trying, but at this moment I can't solve that issue.

[2019-03-06 00:23] RandellDawson commented on #35155
All PRs involving the fixes to this issue have now been merged, so closing this PR.

[2019-03-06 00:23] #35155 closed

[2019-03-06 02:37] mscanza commented on #17971
There is an important point FCC needs to make in the instructions.  They need to clarify that you must log into Glitch from your Github account. Otherwise it will not correctly import the files.  Works great now.

[2019-03-06 03:01] RandellDawson commented on #17971
Would you like to help us update the instructions for that challenge?

[2019-03-06 03:03] mscanza commented on #17971
Sure!

[2019-03-06 03:19] RandellDawson commented on #17971
I have reopened this issue, so we can discuss and finalize what the instructions should say.  Also, is this particular challenge the only challenge where this kind of thing would be an issue?  If not, where is the first such challenge, because that might be the better place to put it.  We could make a note, that starting with that challenge, all proceeding challenges would require the user to be l

[2019-03-06 03:29] mscanza commented on #17971
No, this is an issue with all challenges in the first couple sections.  Therefore I think the best place to be would be in the introductions of both.

Introduction to the Managing Packages with npm Challenges.  In the paragraph that talks about Glitch.
Introduction to the Basic Node and Express Challenges

[2019-03-06 03:35] RandellDawson commented on #17971
Here is the current verbiage I see:

Start this project on Glitch using this link or clone this repository on GitHub! If you use Glitch, remember to save the link to your project somewhere safe!

I agree it is a bit confusing, because it seems like you do not have to use Glitch, but then it gives you Glitch links.  I need to check with some other collaborators to see if anyone else is already work

[2019-03-06 03:37] moT01 commented on #17971
I moved away from specifying glitch in the descriptions/instructions when I worked on this PR https://github.com/freeCodeCamp/freeCodeCamp/pull/35422/files - So often it said something like... "do this in your glitch project", which I would change to just "do this in your project"

[2019-03-06 03:41] RandellDawson commented on #17971
@moT01 Well, we need to take a hard look at this intro section to make it less confusing for users and also make sure we let users know they must log into Glitch via GitHub, so the project template will work properly.

[2019-03-06 03:48] moT01 commented on #17971
I think most of the backend has an introduction page that says campers can use "this glitch link" or whatever - perhaps just adding another sentence there that says "You must sign in to glitch with github for this to work." or something like that.

[2019-03-06 04:46] Nitin96Bisht commented on #34970
@ahmadabdolsaheb If you want then you can work on this.

[2019-03-06 07:00] #35418 closed

[2019-03-06 10:08] #19346 closed

[2019-03-06 11:55] raisedadead opened #35525 "Allow username display to be case-insensitive"
- We want to store a case-sensitive version of usernames for display both in the URL and on the profile itself.
   This is how GitHub, Twitter, and many other services operate.

Twitter example:

<img width="461" alt="bri_bri_ _on_twitter___someone_sent_me_a_thank_you_note_for_helping_to_inspire_them__she_comes_to_the_javascript_study_group_every_thursday__this_just_made_my_day_ _https___t_co_aiua

[2019-03-06 12:13] raisedadead commented on #19346
@icatat @addv12345 I have created a fresh request for the requirement, since it differs from the original issue.

[2019-03-06 13:41] icatat commented on #19346
@raisedadead  Thank you very much! We will look into the new issue then!

[2019-03-06 13:42] rupali317 commented on #35464
I have a doubt:
in https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/avoid-colorblindness-issues-by-carefully-choosing-colors-that-convey-information,
Is the note section considered multi-note or single note? The note section has more than one sentence. Does it qualify as multi-note then?

[2019-03-06 13:43] icatat commented on #35525
Hi! I am interested in working on this issue!

[2019-03-06 14:04] moT01 commented on #35464
That one looks like you could probably just put the two sentences together in a single note. Since they are so related. And we aren't sure yet what we want a multi-note to look like.

[2019-03-06 15:34] salma71 commented on #35525
I'm interested too. If you like we can work together

[2019-03-06 15:52] tvibhu12 opened #35527 "single quote symbol is worng in "Debugging: Catch Mixed Usage of Single and Double Quotes" cahllenge"
**Describe your problem and how to reproduce it:**
in `Debugging: Catch Mixed Usage of Single and Double Quotes` challenge i found an error. single qoute symbol is wrong in guide section. symbol of single qoute should be this (') but it is showing this (").
**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/debugging/catch-mixed-us

[2019-03-06 16:06] RandellDawson commented on #35527
Good catch!

I recommend changing the current line 9 in the challenge file to the following:
[code]

which will then display as the following:

JavaScript allows the use of both single (<code>'</code>) and double (<code>"</code>) quotes to declare a string. Deciding which one to use generally comes down to personal preference, with some exceptions.

[2019-03-06 16:39] ojeytonwilliams opened #35529 "The advice in 'How to work on coding challenges' could use fleshing out"
This is a followup to a discussion I had with @RandellDawson in #35526

As it stands, the guides for contributing to the coding challenges, their solution section in particular, are a little sparse.  For example, [How to work on coding challenges](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-work-on-coding-challenges.md) only shows a template with no solution.  [The Style g

[2019-03-06 19:18] ritute commented on #35518
Sent an email to the author to see if we can have the images recovered and then we can create text-based tables off of them (so that we don't have to start from scratch).

[2019-03-06 19:27] erictleung opened #35533 "Make it clear to edit code between style tags"
**Describe your problem and how to reproduce it:**
In the Applied Visual Design challenges, the [Create Visual Balance Using the text-align Property](https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-visual-balance-using-the-text-align-property) challenge (the first challenge of the series), it doesn't make it immediately clear you need to edit the code between the

[2019-03-06 19:34] #35527 closed

[2019-03-06 19:35] erictleung opened #35534 "Clarify how to create multiple box shadows"
**Describe your problem and how to reproduce it:**
Two things:
- Make it easier to read the property values `box-shadow` can take
- Mention that multiple shadows are applied using commas

Currently, the list of possible values for `box-shadow` is messy, because it is within a paragraph and may be difficult to parse how many values a single shadow takes. Secondly, the example doesn't explain how th

[2019-03-06 20:01] rmfranciacastillo commented on #35533
Sounds interesting.

Would it be clearer to add something like "Modify the CSS in <style> to align the  h4 tag's text .."

instead of

"Align the h4 tag's text, which says "Google", to the center. "

[2019-03-06 20:08] RandellDawson commented on #35533
Another option is to modify the tests to using whatever styling (inline vs. CSS selector within the `style` element).  Otherwise, like you said, it should be clearer to modify the CSS in the `style` element.

[2019-03-06 20:10] RandellDawson commented on #35533
@erictleung They are currently deploying `master` to the beta site each day, so it is possible any changes made before the production launch will go into production.

[2019-03-06 20:15] RandellDawson commented on #35533
Actually, this is a non-issue, because the challenge already lets you use inline styling on both the `h4` and `p` elements.

[2019-03-06 20:30] erictleung commented on #35533
@RandellDawson thanks for double checking. I went through this challenge a couple days ago, and just now thought of it. I guess I wrote the CSS wrong the first time :laughing: But I verified it does work both ways.

@RandellDawson @rmfranciacastillo if both inline and CSS selectors pass the challenge, does it matter to change the directions then?

[2019-03-06 20:41] #35533 closed

[2019-03-06 20:41] RandellDawson commented on #35533
I don't think we need to modify the instructions at all, since both ways work.

[2019-03-06 21:42] doubleUTF commented on #34504
I submitted a PR last October [#23953](https://github.com/freeCodeCamp/freeCodeCamp/pull/23953) which basically replaces the broken URL with a working one implemented by myself. FCC refused to merge it since its not under their direct control and they haven't offered any suggestions on how to properly address this. If submitting another URL is off the table, then contributors would need access to

[2019-03-06 22:00] rmfranciacastillo commented on #35533
@RandellDawson Agreed.

[2019-03-06 23:03] ritute commented on #35518
Received the images. Updating these guides.

[2019-03-06 23:57] #24455 closed

[2019-03-07 06:52] thecodingaviator commented on #35518
@raisedadead I’d like some input from you on if we should go ahead with this using images or text tables. Text tables should be fine. Right?

[2019-03-07 07:33] raisedadead commented on #35518
We should never use images unless there is no other way out. So its always text.

[2019-03-07 07:36] raisedadead commented on #35529
I think the best approach is to consolidate the 'how to work on coding challenges' and 'style guide' into one, merging the later into the former.

We could do the same with the guide's 'how to work on guide articles' and 'style guide'

[2019-03-07 07:41] seki2020 commented on #35525
Do I still have opportunity to join this issue?

[2019-03-07 08:32] aligaber commented on #17772
this answer works well:
let userCheck = /^[^0-9][^0-9]\w./; // Change this line

[2019-03-07 16:10] RandellDawson commented on #17772
@aligaber Please do not post comments which are not related to the issue.

[2019-03-07 16:55] cmccormack commented on #35464
@moT01 I agree if they are related a single paragraph note will be fine.  However, if it gets to long it may be more difficult for the user to parse the information, and should then be broken up into individual lines.  Any Notes section with more than one sentence should still be described as Notes

My opinion on the multi-line notes - we should use markdown bullets.  It may put a bit of space bet

[2019-03-07 16:57] RandellDawson commented on #35464
@cmccormack I believe the Guide is the place where extra information is supposed to go, to avoid cluttering up the challenge itself.

[2019-03-07 17:07] moT01 opened #35541 "Remove instructions from glitch/github boilerplates?"
On a number of the backend style sections - the instructions are written on the challenges themselves, and in the glitch/github boilerplate. As modifications get made to the descriptions in the challenges, they slowly diverge from the instructions in the boilerplate. I propose removing the instructions from the boilerplate so the only place instructions exist are on the website. And what should re

[2019-03-07 17:11] cmccormack commented on #35464
@RandellDawson that may be the case but the way it's conveyed is not great IMO.  The only link to the guide article is Get a Hint, something many won't click, especially if it's a fairly simple exercise.  I also don't see the guide article at all when I search for the exercise title, something we should look into, unless that is by design.

[2019-03-07 17:17] moT01 commented on #35464
I see guide links when searching for a lesson title (none of the links work right now) - perhaps you searched for a lesson where the guide article is still a stub, and they don't show up or something.

[2019-03-07 17:18] RandellDawson commented on #35464
The search indexes have not been updated in over 18 months, so that could be part of this problem.

[2019-03-07 17:20] BA1RY commented on #35534
Hi, I would like to work on this issue.

[2019-03-07 17:20] RandellDawson commented on #35464
I just remember that Quincy prefers not to have links going to other places when a user is on the challenge.  He believes the challenge should stand on its own or rely on previously introduced material as much as possible.

[2019-03-07 17:21] RandellDawson commented on #35464
We want people to stay on the challenge until they just can not, which is where the Get a Hint or Ask for Help buttons come into play.

[2019-03-07 23:42] ritute commented on #35518
@raisedadead What's the reason for not using images? This feels pretty limiting for producing good content on such guides.

The set of images I got don't include everything, unfortunately, and some of them are not just tables (e.g. there's one showing the sql browser).

[2019-03-07 23:57] mscanza commented on #29831
Still doesn't work...

[2019-03-08 02:04] RandellDawson commented on #29831
@mscanza It has been fixed, but it has not been pushed to production yet.  You can see the fix on the beta site (https://www.freecodecamp.rocks/learn/apis-and-microservices/basic-node-and-express/use-the-.env-file).

[2019-03-08 02:36] RandellDawson opened #35543 "Need a stricter test for the Add Placeholder Text to a Text Field challenge"
This is an issue raised by @huyenltnguyen on PR #26458.

The tests pass even for invalid code (adding the closing </input> tag).  We need to discuss here what the best "fix" is for this issue.  It could be a modification an existing test or adding a new test which checks to make sure the user's code does not have a `</input>` tag after the `<input>` tag.

Once we finalize what the fix should do, w

[2019-03-08 07:54] raisedadead commented on #35518
There are so many compelling reasons to avoid images when you can:

1. [Images hurt a11y](https://www.w3.org/WAI/tutorials/images/textual/). You can add alt text 'Image explaining ... your reason here', but that's about it.
2. They are difficult to maintain and easily get outdated. Imagine updating text regularly.
3. They hurt performance. Text is fast to deliver over network vs images.

There are

[2019-03-08 08:00] raisedadead commented on #35518
I understand in the current state of guide, as a contributor you have some limited controls on how you can style the content.

That said, there is some feature dev happening https://github.com/freeCodeCamp/freeCodeCamp/pull/35278 which should allow more interactive content in the guide soon.

[2019-03-08 08:31] #17490 closed

[2019-03-08 08:35] thecodingaviator commented on #35518
@ritute Could you please also go through all other SQL guide files to check if any other files have missing content?

[2019-03-08 10:18] ojeytonwilliams commented on #35543
I'm in favour of adding an extra test, since the instructions specifically reference this detail:

Also, the final test

could cover this, but if their mistake is putting a closing tag after a syntactically valid input element, it could be confusing.  Adding another, specific test avoids this kind of frustration.

[2019-03-08 10:32] BA1RY commented on #35534
![image](https://user-images.githubusercontent.com/10570968/54023663-86eed680-41bb-11e9-84aa-9526badb04d7.png)
Is this list style fine? @erictleung

[2019-03-08 14:47] ojeytonwilliams commented on #34841
@nikrb I just checked this out on rocks and my local machine and I can't reproduce it.  Are you still seeing the problem?

[2019-03-08 14:59] RandellDawson commented on #34841
@nikrb I can confirm this is no longer an issue when testing locally and on freecodecamp.rocks, so I am closing this issue.

[2019-03-08 14:59] #34841 closed

[2019-03-08 16:35] carlotapia commented on #10118
Can anyone explain why this code doesn't work?

It fails on `smallestCommons([23, 18])` despite correctly returning 6056820

`function range(arr) {
  let rangeArr = [];
  arr.sort( (a, b) => a - b );
  let first = arr[0];
  let last = arr[1];
  for (let i = first; i <= last; i++) {
    rangeArr.push(i);
  }
  return rangeArr;
}

function checkDivisible(arr) {
  let largest = arr[arr.length-1];
  l

[2019-03-08 16:55] RandellDawson commented on #10118
@carlotapia This is not the place to ask coding questions related to challenges.  Please use [our forum](https://freecodecamp.org/forum/) for such questions.  Thank you.

[2019-03-08 17:07] #18138 closed

[2019-03-08 17:29] QuincyLarson opened #35549 "Landing page images are left-adjusted instead of centered"
Here's a screenshot:

<img width="898" alt="learn_to_code___freecodecamp_org" src="https://user-images.githubusercontent.com/985197/54044760-5f851300-4195-11e9-88c0-570830135cf5.png">

A CSS change elsewhere must have resulted in this outcome on the landing page.

[2019-03-08 18:21] erictleung commented on #35534
@BA1RY looks good to me :+1:

[2019-03-09 02:06] moT01 commented on #35549
This doesn't seem to be an issue for me on the current live site - only on beta/rocks, so something must have broken it

[2019-03-09 02:26] moT01 opened #35550 "Fill in introduction sections"
Some introduction sections still haven't been created.

**PR Created**
- [x] [Intermediate Algorithm Scripting](https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/) - @thecodingaviator #34405
- [x] [Information Security and Quality Assurance Projects](https://www.freecodecamp.rocks/learn/information-security-and-quality-assurance/informa

[2019-03-09 14:20] lynxumba commented on #11782
Hello World-->

[2019-03-09 14:22] RandellDawson commented on #11782
@lynxumba Please only make comments relevant to the discussion of this issue.

[2019-03-09 15:40] icatat commented on #35525
@salma71 working together sounds good, let me know if there is anyway I could contact you

[2019-03-09 18:37] #34244 closed

[2019-03-09 18:40] thecodingaviator opened #35554 "Broken Tests in Add Axes to a Visualization challenge in D3"
**Describe your problem and how to reproduce it:**
Even though the following code:

[code]
places the Y-Axis at the right place, it doesn't pass the challenge:

![image](https://user-images.githubusercontent.com/34807532/54075797-644ae380-42c9-11e9-8f3a-f7eec8892f4c.png)

**Add a Link to the page with the problem:**

https://www.freecodecamp.rocks/learn/data-visualization/data-visualization-with-d

[2019-03-09 19:53] lynxumba commented on #11782
ok

On Sat, Mar 9, 2019 at 5:24 PM Randell Dawson <notifications@github.com>
wrote:

[2019-03-10 07:44] BA1RY commented on #35534
@erictleung I have made a PR. Please have a look at it.

[2019-03-10 09:04] Sumer16 commented on #35554
Even I faced the same problem. How can I help you to fix it?

[2019-03-10 09:11] Sumer16 commented on #35475
Can I help you in completing all the QA Testing?

[2019-03-10 09:20] Sumer16 commented on #35550
How can I help You?

[2019-03-10 10:50] thecodingaviator commented on #35554
@Sumer16 A good place to start would be the `/curriculum` folder, navigate to the challenge file ans see what you can fix :) . Be sure to read the contributing documents in the `/docs` directory first though!

[2019-03-10 11:05] Sumer16 commented on #35413
Can I help with the Advanced Node and Express section?

[2019-03-10 11:18] thecodingaviator commented on #35413
@Sumer16 Since no has asked for it yet, go ahead and make a PR

[2019-03-10 14:52] RandellDawson commented on #35550
@Sumer16 The idea here is to discuss possible intros for the sections mentioned above.  Onece we agree on the verbiage, then someone can create a PR with the decided verbiage.

[2019-03-10 15:08] Sumer16 commented on #35550
Can I paste in the Intros here directly?

[2019-03-10 15:15] RandellDawson commented on #35550
Sure, let's see what you think would be appropriate.  Then, we can tweak before a PR is created.

[2019-03-10 15:36] thecodingaviator opened #35557 "Add test to disallow extra characters in Applied Accessibility: Standardize Times with the HTML5 datetime Attribute"
In the challenge [Applied Accessibility: Standardize Times with the HTML5 datetime Attribute](https://www.freecodecamp.rocks/learn/responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute), if an extra character/characters is/are added in the code between the `</sup>` and `</time>` tags, the challenge still passes. The buggy code looks like this:
[code]
Note

[2019-03-10 16:04] cmccormack commented on #35554
`padding` is a variable already provided in the code, you should be using that variable as your first argument, not an integer literal. See the `xAxis` code provided for an example.

[2019-03-10 16:07] thecodingaviator commented on #35554
@cmccormack I thought that it might be the problem, so I hard coded it, even padding does not work:
![image](https://user-images.githubusercontent.com/34807532/54087787-bf89de00-437c-11e9-847a-3cc8d369206b.png)

[2019-03-10 16:09] cmccormack commented on #35554
@thecodingaviator I've tried several variations of your issue and my tests always pass - what browser and version are you using?  Can you inspect the output element and provide a screenshot of the axis as rendered?

[2019-03-10 16:12] cmccormack commented on #35554
For reference, here is a screenshot of the rendered axis parent `g` from my passing tests using Chrome 72
![image](https://user-images.githubusercontent.com/3016919/54087843-a3eaed00-4314-11e9-8674-4acd9076e716.png)

[2019-03-10 16:15] thecodingaviator commented on #35554
Here @cmccormack :
![image](https://user-images.githubusercontent.com/34807532/54087875-afbec980-437d-11e9-885e-15148d161ccf.png)

I'm on `Version 72.0.3626.121 (Official Build) (64-bit)`

[2019-03-10 16:23] Sumer16 commented on #35554
I used padding too but was stuck with the same issue. @cmccormack
![as](https://user-images.githubusercontent.com/31842450/54087992-f9f47a80-437e-11e9-972e-4f115ff43f31.PNG)

[2019-03-10 16:36] cmccormack commented on #35554
Hmm what's odd is if I reset the code completely and run it that particular test still passes.
Are you getting any errors in the dev console?

[2019-03-10 16:43] thecodingaviator commented on #35554
Just this:
![image](https://user-images.githubusercontent.com/34807532/54088221-b3544f80-4381-11e9-9758-d7fa0e0e45ce.png)

[2019-03-10 16:46] Sumer16 commented on #35554
Same Console log error without any difference.

[2019-03-10 16:46] Sumer16 commented on #35554
Can you send a screenshot of your passed test? @cmccormack

[2019-03-10 16:50] seki2020 commented on #35557
It seems a good idea. Can I have the chance to deal with it ?

[2019-03-10 16:57] RandellDawson commented on #35557
@seki2020 The help wanted label was put on a bit prematurely.  We are awaiting a few more collaborators/mods to respond with there feedback to make sure it is an issue worth "fixing".  Once we add the help wanted label back, you are free to create a PR for this.

[2019-03-11 02:12] Javiercerna opened #35558 "Missing dependency to run freecodecamp on Windows 10: babel-node"
**Describe the bug**
When I run freecodecamp on Windows 10 after following the [Set up freeCodeCamp locally](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md) guide, only the frontend shows (localhost:8000), while the backend never loads (localhost:3000). This only solves after installing babel-node:

`npm install --save-dev @babel/core @babel/node

[2019-03-11 02:46] cmccormack commented on #35554
My apologies, for some reason I didn't see this was in `.rocks`.
I took a look at the output and it appears that jQuery is showing the transform different than the element attribute:
![image](https://user-images.githubusercontent.com/3016919/54097379-1daec500-436d-11e9-8ca4-f5a1a314e8fe.png)

[2019-03-11 03:21] RandellDawson commented on #35558
Did you copy sample.env to .env in the root directory?

[2019-03-11 03:33] Javiercerna commented on #35558
Yes, I did. I just mentioned the four commands to be concise, but I followed every step in the guide.

[2019-03-11 03:53] RandellDawson commented on #35558
You only need to run `npm run develop` and it will launch both the backend server and the client.

[2019-03-11 07:09] maheshwarLigade commented on #17393
Give your checkboxes the name attribute of personality
https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/create-a-set-of-checkboxes

[2019-03-11 07:33] devparth opened #35559 "Can't View Certificates even though I accepted Academic Privacy Policy"
**Describe your problem and how to reproduce it:**
I am trying to claim my certificate, but the certificate is not showing instead the one message shows like
"parthchaudhary has not yet agreed to our Academic Honesty Pledge."

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/parthchaudhary

**Tell us about your browser and operating system:**
* Browser Name: Google Chrome

[2019-03-11 07:38] ValeraS commented on #35554
jQuery shows a correct value but this expression checks a wrong element

[2019-03-11 09:08] ahmadabdolsaheb commented on #35559
@devparth Thank you for reporting this issue. While we are working resolve the issue, you can view your certificate by signing out and visiting your portfolio's link or visiting the following link.
https://www.freecodecamp.org/certification/parthchaudhary/responsive-web-design

[2019-03-11 11:28] Javiercerna commented on #35558
I did,and yes,it indeed launched in theory both the client and backend server. However,the backend was not working and it was difficult to see the error there, because of the client log messages and because internally the backend runs the command

npm run --silent babel-dev-server

I had to remove the --silent flag and run manually the backend to be able to spot what the problem was.

[2019-03-11 13:14] ojeytonwilliams opened #35566 "Challenges are not always reloaded automatically"
**Describe the bug**
In development the curriculum files are watched.  Any changes to them should should cause the browser to reload with those changes.  The problem is that this does not always happen, only sometimes.

**To Reproduce**

1. Open a challenge page on a local site.  E.g. http://localhost:8000/learn/responsive-web-design/basic-css/use-a-css-class-to-style-an-element/
2. Edit and save

[2019-03-11 16:37] raisedadead commented on #35558
You do not need to install `babel-node` or any tools globally to have freeCodeCamp running locally. Usually this could be due to:

- `babel-node` not getting compiled during install on your machine.
- a permissions issue (did you launch your terminal/cmd as administrator?)

Or both of the above.

[2019-03-11 17:57] Sumer16 commented on #35550
**Introduction to the Information Security and Quality Assurance Projects**

So, now it’s time to put your newly learnt skills to work! By working on these projects, you would have the opportunity of applying all the skills, principles and concepts you have learnt in Information Security using HelmetJS and Quality Assurance with Chai.

In this section you get the chance to:
•	Build a Metric-Imperi

[2019-03-11 18:35] moT01 commented on #35550
Since what is currently there is nothing - I think this is a huge improvement.. This looks great, but a few of my suggestions...
<hr>

**Introduction to the Information Security and Quality Assurance Projects**

So, now it’s time to put your newly learnt skills to work! By working on these projects, you will have the opportunity of applying all the skills, principles, and concepts from the Informa

[2019-03-11 18:36] thecodingaviator commented on #34401
Let this issue remain open till the PR fixing it is merged

[2019-03-11 19:27] RandellDawson commented on #35550
Going a little further, I like the idea of putting the read-search-ask link on the intro pages (as @moT01 suggests) and removing them from the individual challenges (which many have currently).

[2019-03-11 22:16] anarkafkas commented on #19382
This issue still persists. hasOwnProperty method doesn't accept multiple parameters, contrary to what has been shown in the lesson. The [solution](https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-data-structures/check-if-an-object-has-a-property/) also seems to be incorrect.

[2019-03-11 23:52] QuincyLarson commented on #24526
A quick update everyone - I just spoke with the founders of Netlify and they pointed out that they now have a service specifically for this called Netlify Large Media https://www.netlify.com/blog/2019/02/26/manage-your-code-and-assets-together-with-netlify-large-media/

This may be a better solution than trying to put everything in S3 since we're already using Netlify for a lot of things.

[2019-03-12 00:24] #34401 closed

[2019-03-12 00:30] moT01 commented on #35550
Feel free to make a PR @Sumer16 🍎

[2019-03-12 03:16] lasjorg opened #35571 "Do CSS semicolon rules need clarification?"
This issue is to discuss any possible clarification of the CSS semicolon rules. This is in relation to the [first](https://learn.freecodecamp.org/responsive-web-design/basic-css/change-the-color-of-text) and the [second](https://learn.freecodecamp.org/responsive-web-design/basic-css/use-css-selectors-to-style-elements) challenges in the Basic CSS curriculum. See https://github.com/freeCodeCamp/fre

[2019-03-12 04:22] Sumer16 commented on #35550
Okay I will make the PR for the Intros . Thanks @moT01 for the suggestions.

[2019-03-12 06:24] Sumer16 commented on #35550
**Introduction to the Coding Interview Take Home Projects**

Programming interviews have always been stressful. One of the solutions is giving the applicant a take home project which they can complete on their own time. This type of interviews usually requires a lot of work but it is considered to be the most preferred interviewing process.

The interview after project submission could be a discus

[2019-03-12 06:59] lasjorg opened #35574 "Improvements to the challenge ES6 Use Destructuring Assignment to Assign Variables from Objects"
Improvements to this challenge: https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-variables-from-objects/

1. I suggest we remove the function from the challenge code. It just adds an extra layer of complexity with no added benefit. I suggest we just have an object and the destructuring.

[code]

2. Instead of voxel and some random

[2019-03-12 07:14] Sumer16 commented on #35550
## Introduction to the Intermediate Algorithm Scripting Challenges

This section contains intermediate level coding problems that will test your ability to solve complex problems similar to those that you may see in real situations using Javascript. All the best!

#### Hint
If you get stuck, try using `console.log()` to log variable values to the console. This will help to debug problems.

Is this

[2019-03-12 10:01] thecodingaviator commented on #24526
As far as I understand, this requires our site being hosted via Netlify. I'm not sure we host through Netlify, do we @QuincyLarson ?

[2019-03-12 10:07] thecodingaviator commented on #35550
@Sumer16 That is no longer needed, we already have a fix in #34405

[2019-03-12 10:39] Sumer16 commented on #35550
You have done only for Intermediate Algorithm Scripting right?

[2019-03-12 10:48] thecodingaviator commented on #35550
Affirmative

[2019-03-12 11:27] Sumer16 commented on #35550
Can you please check is this one correct? Also should I PR for Take Home Projects?

[2019-03-12 11:43] Sumer16 commented on #35481
Is this issue still on? If yes, can I help you?

[2019-03-12 12:56] RandellDawson commented on #35481
@Sumer16 This one already has an open PR (see above #35493).

[2019-03-12 14:28] Sumer16 commented on #35554
Is this one right? @thecodingaviator

[2019-03-12 15:23] cmccormack commented on #35554
Would it be a better solution to add `id` attributes to the elements and add that to the exercise criteria?  It's a requirement in the testing suite for the D3 projects, would it hurt to have it in the challenges as well @ValeraS ?

[2019-03-12 15:46] ojeytonwilliams commented on #18159
The issue stems from the boilerplate - the api always returns 'Express' the first time it's called.  The work around is to submit your challenge twice as discussed above.  Waiting _should_ not be necessary. Not beyond waiting for the first submission to fail.

As for a solution - it's necessary to change server.js to use express.Router().  I have a PR ready to go, but first I need to check this do

[2019-03-12 17:02] thecodingaviator commented on #35554
@cmccormack What I suggest is that we go ahead with this issue right now since that discussion and the corresponding changes would take a long time, we want this to get in before we release so that users do not fail the test. Maybe create a new issue for that discussion

[2019-03-12 17:20] mscanza commented on #17971
Have you guys taken a look at the MongoDB challenges.  I have spent the last few days attempting and cannot even connect to Mongoose.  The uri looks different now as you can no longer get the mlab URI.  The current URI is:
mongodb+srv://mscanza:password@fcc-vcnna.mongodb.net/test?retryWrites=true

I keep getting the following message:
(node:6705) UnhandledPromiseRejectionWarning: MongoNetworkError

[2019-03-12 18:46] cmccormack commented on #35554
As long as this doesn't affect the production challenge, that's fine with me, but IMO we should try to be more precise in the tests so something like a version upgrade to library doesn't break the tests.

[2019-03-12 19:01] ValeraS commented on #35554
We can select only 2 `g` for axes and check both.

[2019-03-12 22:25] MahmoudAFawzy commented on #35559
@ahmadabdolsaheb I have the same issue what should I do?

[2019-03-13 04:38] controlms opened #35580 "a problem about "pig Latin"challenge"
there is a problem about "while" in the "Advanced Code Solution"

the loop can't stop when parameter is a word without vowels,such as
translatePigLatin("glvvv")

the loop (while) cant' stop,i think we should add a restricted condition .

[2019-03-13 05:16] Sumer16 commented on #35550
I have made the PRs for Information Security and Quality Assurance Projects & Take Home Projects.

[2019-03-13 06:02] StefanYYC opened #35582 "Solution not working - "Truncate A String""
**Describe your problem and how to reproduce it:**
Hi there, I was trying to find a solution to make this challenges work [https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-algorithm-scripting/truncate-a-string](url)
And I went into the solution that wasn't working:
function truncateString(str, num) {
  // Clear out that junk in your trunk
  if (str.length > num && num

[2019-03-13 08:23] #35554 closed

[2019-03-13 08:24] thecodingaviator commented on #35554
@ValeraS I'm not sure what you mean by that. Also, I think we should open a new issue to fix that

[2019-03-13 08:27] thecodingaviator commented on #35582
Your solution is returning:
![image](https://user-images.githubusercontent.com/34807532/54263874-d8221000-4597-11e9-8178-0857e28195e5.png)
Whereas it should return `A-tisket...`

You're getting confused somewhere, the `...` must not be included in the integer literal count

[2019-03-13 08:27] #35582 closed

[2019-03-13 08:48] Sumer16 commented on #35481
Okay No problem!! @RandellDawson

[2019-03-13 12:23] AdrianSkar commented on #35479
Hi all! Newb's 2 cents if it may help.
I come from this [PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/28510) because I included a link without knowing it was going to stop being allowed. Maybe we should remove references to it on the [style guide for creating and editing guide articles](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/style-guide-for-guide-articles.md#images)

[2019-03-13 14:25] RandellDawson commented on #35479
@AdrianSkar Based on the new direction as it pertains to the curriculum in general, I doubt your idea of a console playground will be made.  It is an interesting idea, but since the current editor already is designed and a simple copy/paste accomplishes the same thing, it would be a whole lot of extra work to build out such a feature with very little gain.

[2019-03-13 14:38] RandellDawson commented on #35580
Thank you for pointing this out.  This has already been fixed on our `master` branch with a new correct solution for the advanced solution.  It will be moved to production in the near future.  You can see it for yourself on the beta site at:

https://www.freecodecamp.rocks/guide/certifications/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/pig-latin

[2019-03-13 14:39] #35580 closed

[2019-03-13 15:54] IshaTr commented on #35574
@lasjorg do you mind if I make the destructuring modifications?

[2019-03-13 17:55] #34861 closed

[2019-03-13 18:10] #34336 closed

[2019-03-13 18:33] thecodingaviator commented on #14234
@Flarp We'd be glad to test if you could go ahead and make PRs. Add a `Refer to #14234` in every PRs description please

[2019-03-13 18:35] thecodingaviator commented on #16107
@RyanWillDev Are you still interested in doing it?

[2019-03-13 18:36] thecodingaviator commented on #15739
@xnt Are you interested in going ahead right now?

[2019-03-13 18:40] thecodingaviator commented on #17347
Since the search now has a favicon, I'm closing the issue

[2019-03-13 18:40] #17347 closed

[2019-03-13 19:09] xnt commented on #15739
@thecodingaviator W00t!! The blocking issue is fixed now!

I'll check if my branch still merges smoothly, probably tomorrow.

Thanks for the heads up.

[2019-03-13 19:18] RandellDawson commented on #25676
Hi @empty-god

As there has been no response from your end for a while, we are closing this ixxud.

Feel free to request this issue to be reopened, if you can answer the question I last posed.

Thank you.

[2019-03-13 19:18] #25676 closed

[2019-03-13 19:22] mscanza opened #35587 "MongoDB and Mongoose - Install and Set Up Mongoose"
**Describe your problem and how to reproduce it:**
mLab is no longer accepting new users, cannot get mongoose to connect in order to complete challenges.  Directions are now obsolete - need update.

**Add a Link to the page with the problem:**
https://i.imgur.com/JPAgbHj.png

**Tell us about your browser and operating system:**
* Browser Name: chrome
* Browser Version: 72.0.3626.121
* Operating Sy

[2019-03-14 02:20] Dereje1 commented on #35587
Instructions do need changing, however challenges still work even with the new MongoDB Atlas connection setup.
https://www.freecodecamp.org/forum/t/mongodb-and-mongoose-install-and-set-up-mongoose/203270/28

[2019-03-14 03:52] hardwo commented on #35102
I always have this message always poping up when i run my code "Your Footer do not all have a white color" i have done all i could but cannot detect any fault in my code. this stopped my html from running further. I gave an inline style with white as color yet the problem continued. I just don't know what to do again

[2019-03-14 04:25] scissorsneedfoodtoo opened #35594 "Missing Project Euler Challenges"
**Describe the bug**
There are 30 missing challenges in the Project Euler section both locally and on freecodecamp.rocks:

`[8, 9, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]`

I've tried running `npm run clean`, `npm install`, and reseeding the database, but the pages for the above challenges aren't built during `npm run develop`

[2019-03-14 07:36] filipkappa opened #35595 "Please add Angular-Bootstrap-Boilerplate"
Please consider adding the [Angular Bootstrap Boilerplate](https://github.com/mdbootstrap/Angular-Bootstrap-Boilerplate) to https://guide.freecodecamp.org/angular/angular-resources/

It's a useful, open-sourced Angular CRUD application starter with NgRx state management and Firebase backend.

[2019-03-14 10:22] Flarp commented on #14234
@thecodingaviator I've been really busy with AP classes, but I'll try to have something out ASAP

[2019-03-14 11:09] ojeytonwilliams commented on #35594
It seems to be happening because the curriculum stops being built once the last file has been read, rather than the last challenge inserted into the curriculum.

I'll dig a little deep and see if I can fix it.

[2019-03-14 12:09] scissorsneedfoodtoo commented on #35594
@ojeytonwilliams, awesome! Thank you for looking into this.

[2019-03-14 12:25] raisedadead commented on #35558
Please re-open as a topic on the forum. https://www.freecodecamp.org/forum/c/contributors
The awesome folks there will help you through this.

Also we have a [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) where you should seek assistance.

[2019-03-14 12:25] #35558 closed

[2019-03-14 12:29] raisedadead commented on #35559
@devparth @MahmoudAFawzy please drop me an email: <code>mrugesh  at  freecodecamp  dot  org</code> from your registered email id with the username

[2019-03-14 12:57] #18307 closed

[2019-03-14 12:57] #18308 closed

[2019-03-14 12:57] #18309 closed

[2019-03-14 12:57] #18310 closed

[2019-03-14 12:57] #18311 closed

[2019-03-14 12:57] #18312 closed

[2019-03-14 12:58] raisedadead commented on #18312
Thanks for working on the translations for the "Contributing to freeCodeCamp". Here on we are making contributing to translations for contribution docs *ad hoc*.

You are free to make pull-requests for improving these translations. We are closing the issue as these do not need tracking per se.

You can raise a fresh issue if you find something incorrect in the existing docs.

[2019-03-14 12:58] raisedadead commented on #18311
Thanks for working on the translations for the "Contributing to freeCodeCamp". Here on we are making contributing to translations for contribution docs *ad hoc*.

You are free to make pull-requests for improving these translations. We are closing the issue as these do not need tracking per se.

You can raise a fresh issue if you find something incorrect in the existing docs.

[2019-03-14 12:58] raisedadead commented on #18310
Thanks for working on the translations for the "Contributing to freeCodeCamp". Here on we are making contributing to translations for contribution docs *ad hoc*.

You are free to make pull-requests for improving these translations. We are closing the issue as these do not need tracking per se.

You can raise a fresh issue if you find something incorrect in the existing docs.

[2019-03-14 12:58] raisedadead commented on #18309
Thanks for working on the translations for the "Contributing to freeCodeCamp". Here on we are making contributing to translations for contribution docs *ad hoc*.

You are free to make pull-requests for improving these translations. We are closing the issue as these do not need tracking per se.

You can raise a fresh issue if you find something incorrect in the existing docs.

[2019-03-14 12:58] raisedadead commented on #18308
Thanks for working on the translations for the "Contributing to freeCodeCamp". Here on we are making contributing to translations for contribution docs *ad hoc*.

You are free to make pull-requests for improving these translations. We are closing the issue as these do not need tracking per se.

You can raise a fresh issue if you find something incorrect in the existing docs.

[2019-03-14 12:58] raisedadead commented on #18307
Thanks for working on the translations for the "Contributing to freeCodeCamp". Here on we are making contributing to translations for contribution docs *ad hoc*.

You are free to make pull-requests for improving these translations. We are closing the issue as these do not need tracking per se.

You can raise a fresh issue if you find something incorrect in the existing docs.

[2019-03-14 13:36] #35549 closed

[2019-03-14 14:14] imburtonh commented on #17379
I had lots of trouble with this too, until finding this post.  I even tried to copy and paste the solution under "get a hint" so that I could work backwards and the hint doesn't pass the test.

[2019-03-14 20:05] LaurelineP commented on #17665
Hi there, I've been currently doing this exercise but I did encounter the single; double quotes issues which looks to be mentioned here and I don't know if it should still supposed to be the case today ?

[2019-03-14 20:06] ryantimjohn commented on #35490
I updated all the links to the old version of the guide here:
https://github.com/freeCodeCamp/freeCodeCamp/pull/35600/

[2019-03-14 21:52] DMZ011 commented on #35595
Assigned to Brad plz. @cmccormack

[2019-03-14 22:13] DMZ011 commented on #26859
@RandellDawson @cmccormack I'll take this one

[2019-03-14 22:37] cmccormack commented on #35595
@filipkappa - please feel free to submit a Pull Request with the content you would like to have added.

[How to work on Guide articles](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-work-on-guide-articles.md)

If you have questions or concerns regarding a Pull Request, please feel free to drop by the [Gitter Contributors channel](https://gitter.im/FreeCodeCamp/Contributors)

[2019-03-15 01:11] Hazelpepper opened #35602 "Convert Celsius to Fahrenheit"
**Describe your problem and how to reproduce it:**
Code for convertion Celsius to Fahrenheit.

When inputting my code, I kept getting the exclamation in a yellow triangle next to the code. I wrote: var fahrenheit = celsius * 9/5+32;
The triangle would pop up and when I hover over it, it kept saying
 "fahrenheit" is already defined. I

I finally rewrote the same code again and hit submit, despite t

[2019-03-15 01:11] Hazelpepper commented on #35602
sorry, I didn't mean to add the screenshot twice.

[2019-03-15 01:41] RandellDawson commented on #35602
These kinds of questions are better for the forum.  You `var fahrenheight` twice.  It was already declared above the line:
[code]
Try removing the `var` from line 6.

I am closing this issue, as it is not a bug, but a user code issue.

[2019-03-15 01:41] #35602 closed

[2019-03-15 07:36] Manish-Giri commented on #35595
Adding the `first-timers-welcome` label. This looks like a good first PR for a new contributor.

[2019-03-15 09:50] guttume commented on #35595
Hi. I am new to this. Can I take this on?

[2019-03-15 14:51] filipkappa commented on #35595
Thanks, @guttume  ;) of course, you can take this on

[2019-03-15 15:01] ahmadabdolsaheb commented on #35410
@benschac, the legacy cert's data is available now. We just need to check if the user has completed the challenges and conditionally render the cert button.

let me know if you are interested in pairing for this.

[2019-03-15 15:46] hemakshis commented on #35405
Hi!
If @Ensive is not working on this issue anymore I'd like to take it up :)

[2019-03-15 16:47] Lehmax commented on #35456
Does anyone know a temporary fix I could use until freecodecamp.rocks moves to stable? This issue is annoying me more than it should, but I don't know what's causing it.

[2019-03-15 16:57] tchaffee commented on #16390
I don't have time to read this entire thread, but it came up in our call yesterday so I'm dropping this here. This looks very promising. Full git implementation in the browser that works on real git repos. Last commit 24 days ago, 58 issues, 18 PRs. So it's active and supported.

https://isomorphic-git.org/

https://github.com/isomorphic-git/isomorphic-git

[2019-03-15 17:03] raisedadead commented on #16390
Interesting. They have support for BrowserFS which looks promising. https://isomorphic-git.org/docs/en/fs

[2019-03-15 17:05] RandellDawson commented on #35456
@Lehmax You can use freecodecamp.rocks, but nothing you do on it will be saved when it moves to production.  It has a completely separate database and it strictly for testing.

[2019-03-15 18:13] #35595 closed

[2019-03-15 19:29] thecodingaviator commented on #35413
@Sumer16 We are waiting for you PR, any progress?

[2019-03-15 19:33] thecodingaviator commented on #17797
@abenjamin765 Please provide a bigger screenshot

[2019-03-15 20:17] cmccormack opened #35611 "ES6 Import Default Export should allow any valid string as import name"
**Describe your problem and how to reproduce it:**
The exercise **ES6: Import a Default Export** specifies the user should use `subtract` as the method name, but any valid string should work and should not be rejected.  We should modify the challenge to *suggest* using subtract but allow any string to be used as long as it's in the import and then invoked with the same name.

**Add a Link to the p

[2019-03-15 20:38] tplive commented on #35456
I think you're right!

[2019-03-15 21:12] #35594 closed

[2019-03-15 21:24] RandellDawson commented on #35611
@cmccormack The following issues are kind of related.  The ones below have open PRs.

https://github.com/freeCodeCamp/freeCodeCamp/issues/30498

https://github.com/freeCodeCamp/freeCodeCamp/issues/17665

[2019-03-16 02:55] WofWca opened #35614 "Login issue: changing the email is not case-sensitive and leads to duplicate accounts"
**Describe the bug**
__TL;DR__ – first signed up with GitHub (which has _email # 1_ set as primary). Lately changed the email on FCC to _email # 2_ and since then unable to log in using any of the available methods.

I have two emails:
1. @gmail.com
2. other.domain

On GitHub, I have the first one as a primary email and the second one as a secondary.
IIRC, I first signed up to FCC with GitHub, so

[2019-03-16 08:04] WofWca opened #35615 "Markdown Previewer outdated placeholder text"
**Describe your problem and how to reproduce it:**
GitHub no more continues a numbered list if it's items are preceded by `-` or `*`, but placeholder text in the [code pen](https://codepen.io/freeCodeCamp/pen/GrZVVO) assumes it is true:

**Add a Link to the page with the problem:**
[CodePen](https://codepen.io/freeCodeCamp/pen/GrZVVO)
[FCC](https://learn.freecodecamp.org/front-end-libraries/front-

[2019-03-16 10:32] nikrb opened #35617 "[rocks] inadequate test for declare javascript variables challenge"
**Describe your problem and how to reproduce it:**
The challenge requires declaration of a variable. There is a comment `Declare myName below this line` but the var can be declared anywhere

**Add a Link to the page with the problem:**
https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/basic-javascript/declare-javascript-variables

**Tell us about your browser and opera

[2019-03-16 10:59] nikrb commented on #35559
unable to reproduce, linux/chromium

[2019-03-16 14:04] RandellDawson commented on #35617
Since the intent of this challenge is to get the user to declare a variable named `myName` and since it really does not matter where (in the global scope) a variable is declared with `var`, I don't see any problem with the current tests or that anything really needs to be changed.  If anything needs to be changed, I would say remove the comment.

[2019-03-16 16:41] nikrb commented on #35617
yep remove the comment was my thought aswell,

[2019-03-16 16:41] #35617 closed

[2019-03-17 04:25] Kose-Uk45 commented on #16333
Hi! The Glitch links doesn't not properly import the github repo and as so the server.js and other files does not get the required validation scripts.
I tried many times for long until lately.
The best solution to this problem is;
Create a new Glitch project,
Clone the github repository to your system and then upload the files manually to your glitch project.
Hope this one works out for someone ou

[2019-03-17 08:02] vkWeb opened #35621 "[Beta] Suggested Improvements for Learn Platform"
## Suggestions for the next release of Learn Platform
I would like to give my suggestions for improving the learn platform. This issue should be treated more like an open discussion forum :)

### Functionality improvements
- [ ] **Ctrl + enter** is not working on any of the project challenges <details><summary>Details</summary>Go to any challenge where URL has to be entered and press **Ctrl + ente

[2019-03-17 13:41] momozor commented on #17550
@RandellDawson I think the wrong links only causing issues in https://thread-paper.glitch.me. It is still not fixed yet, unfortunately. So, I think this issue should be reopened.

[2019-03-17 14:48] moT01 commented on #35518
The [style guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/style-guide-for-guide-articles.md#images) should probably be updated to say not use images whenever possible. It mentions users can add videos and other things, as well - so people aren't on the same page about what can be added for these types of things.

[2019-03-17 15:38] ritute commented on #35518
This is what I received in case anyone else wants to pick this up (I won't be able to get to this in the next week or two; that might be okay though depending on priority?):
[freeCC-SQL images.zip](https://github.com/freeCodeCamp/freeCodeCamp/files/2975332/freeCC-SQL.images.zip)

Regarding use of images - I agree that in the case of tables such as in these SQL guides, where it's comprised of just

[2019-03-17 15:41] RandellDawson commented on #17550
@momozor Which link is a problem and what is the problem you are experiencing when you click on the link?

[2019-03-17 15:49] RandellDawson commented on #17550
OK.  This is still a problem.  @raisedadead It appears there is a camperbot username which has access to make changes to this Glitch project.

Line 33 needs to be changed from:
[code]
to:
[code]

Who has access to the `camperbot` credentials to make this change?

[2019-03-17 16:23] Alex-Cannon commented on #16390
Sorry I have not been active the last month! Moving, looking for a job, etc. I will focus on writing the challenges, and regex tests as @QuincyLarson suggested. Then, we can move on to the visualization.

[2019-03-17 16:46] Sumer16 commented on #35413
Yes, I'll make the PR. Just need to take a look at the final changes.

[2019-03-17 19:30] sjroma opened #35624 "Sample Tech Doc page has incorrect element nesting"
The Responsive Web Design Projects [Build a Technical Documentation Page](https://codepen.io/freeCodeCamp/full/NdrKKL) sample codepen has
[code]
 which throws an error when run through a validator, *The &lt;a&gt; element cannot be a child of the &lt;ul&gt; element*

Browsers do support it but it's still incorrect coding. It would be better to refactor the code to something like;
[code]
so it follo

[2019-03-17 20:16] hungdzai commented on #34574
Though I was able to complete the challenge, I ran into this same issue today.

[2019-03-17 20:37] lms15 commented on #19382
Hello, thanks for your help
Mamie

[2019-03-17 22:47] #17427 closed

[2019-03-18 05:58] #15739 closed

[2019-03-18 09:51] ahmadabdolsaheb commented on #35559
@devparth, this is caused by having duplicate accounts and we are working to merge your accounts ASAP. In the meantime, to help us resolve this issue completely I was wondering if you could knidly tell us the actions you took that you suspect resulted in having duplicate accounts. Your input is very valuable as it allows us to reproduce this issue, fix it, and prevent other campers from facing the

[2019-03-18 11:13] devparth commented on #35559
Hi,
Yes I am also confused about it, but maybe I forgot my password or
something, so i try to login but maybe when i created the account i used my
GIT to login and when this problem happen, so i singed out and try to login
again but i forgot to use my GIT account and instead of GIT account i
selected the "CONTINUE WITH GOOGLE" and when i logged in everything was
reset.

On Mon, Mar 18, 2019 at 3:2

[2019-03-18 13:00] ahmadabdolsaheb commented on #35559
Thank you @devparth.

[2019-03-18 14:24] #17550 closed

[2019-03-18 15:49] Ensive commented on #35405
@hemakshis I do not mind
I have something stashed. But if you deliver it quick, would be nice!

[2019-03-18 16:56] #17742 closed

[2019-03-19 00:30] MahmoudAFawzy commented on #35559
I used my github mail in both of my accounts so they got connected some how but I tried deleting one of my accounts and everything went perfect and I got my certificate

[2019-03-19 05:00] #34697 closed

[2019-03-19 07:30] #34795 closed

[2019-03-19 08:59] thecodingaviator commented on #34795
@MahmoudAFawzy Has the issue been fixed on your side?

[2019-03-19 09:28] MahmoudAFawzy commented on #34795
@thecodingaviator yes it has

[2019-03-19 10:16] koop4 commented on #35624
I can take this one.

[2019-03-19 11:19] lasjorg commented on #35624
It has been fixed some time ago https://github.com/freeCodeCamp/testable-projects-fcc/pull/750 the Codepen is just not being updated for some reason. I can open an issue and ask if someone can update the Codepen.

[2019-03-19 11:25] mrmorais commented on #17762
Reporting same issue after closed! It's passing on Firefox but not in Chrome

[2019-03-19 14:12] RandellDawson commented on #17762
@mrmorais Which tests are you failing?  Can you show a screenshot of the tests section?  Also, can you copy/paste (not a screen shot) your exact code and post it in the same reply?  To post code make sure there is a separate line of 3 backticks before and after the code (see below for an example).

[code]

[2019-03-19 15:39] #18193 closed

[2019-03-19 15:48] mrmorais commented on #17762
Here goes the print screen on Google Chrome

![image](https://user-images.githubusercontent.com/8071409/54620628-39892980-4a45-11e9-8c05-934ad5c5cb88.png)

[2019-03-19 16:03] thecodingaviator commented on #17762
@mrmorais Please copy/paste the *exact* code as @RandellDawson has requested above!

[2019-03-19 16:13] RandellDawson commented on #17762
@mrmorais Can you share a screenshot of what it shows when you go to chrome://settings/help ?

Also, what version of operating system are you using?

[2019-03-19 16:16] mrmorais commented on #17762
![image](https://user-images.githubusercontent.com/8071409/54622840-18c2d300-4a49-11e9-8878-08a81e74ee24.png)

My exact code:

[code]

[2019-03-19 16:19] thecodingaviator commented on #17762
It passes for me:
![image](https://user-images.githubusercontent.com/34807532/54623077-d58c5280-4a90-11e9-8b1f-6c9855465cea.png)

Are you seeing anything in the console. Press `F12` to open it

[2019-03-19 16:21] RandellDawson commented on #17762
What zoom setting are you currently using?  100% should be used in case you are using something different.

[2019-03-19 16:27] thecodingaviator commented on #34795
@RandellDawson How is that possible? Have we pushed master to production?

[2019-03-19 16:36] RandellDawson commented on #17762
One last question.  If you open up your console the Chrome Developer Tools (Ctrl+Shift+I in Windows), then click the circled button below:
![image](https://user-images.githubusercontent.com/5313213/54624225-33398400-4a2a-11e9-8d5a-60fb4435c04f.png)
and then mouseover the first `Hello` text, what do you see?  I see the following:

![image](https://user-images.githubusercontent.com/5313213/54624393-

[2019-03-19 16:38] RandellDawson commented on #34795
@thecodingaviator The core team can selectively push emergency fixes to production and not the entire master branch.  It is possible this was done.  @raisedadead or @Bouncey would probably know.

[2019-03-19 19:58] hemakshis commented on #35405
@Ensive thanks!
@Bouncey, I have a few questions:-
1. Which position seems the best of all the available 6 options?
2. After how many seconds of delay the notification should close?

[2019-03-19 20:05] sfisowelcome commented on #7087
mine does not work.
a = 6;
b = 15;
c = "I am a String!"

[2019-03-19 20:06] Suyash2810 commented on #34970
Is anyone working on this? It still shows the same message as @Nitin96Bisht has shown.
![Screenshot (250)](https://user-images.githubusercontent.com/42000949/54638097-38411680-4ab0-11e9-9086-2bf6310547b5.png)

[2019-03-19 20:29] RandellDawson commented on #34970
Actually this seems to be a non-issue on the beta site which will soon be moved to production.

https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sorted-union

When I click on the `Get a Hint` button, I am taken to the applicable guide article.

I am closing this for now, since it has been fixed but just not moved to production.

[2019-03-19 20:32] RandellDawson commented on #34970
This issue will be resolved once https://github.com/freeCodeCamp/freeCodeCamp/pull/35540 has been merged and the search index has been updated.

[2019-03-19 22:14] newyork-anthonyng commented on #7087
@sfisowelcome The [Help Chat](https://gitter.im/FreeCodeCamp/Help) is a better place for this question.

[2019-03-20 06:27] Nirajn2311 commented on #35387
@scissorsneedfoodtoo Hey, I'm interested in working on this. I was busy recently so I was not able to ask before.

[2019-03-20 07:33] scissorsneedfoodtoo commented on #35387
Hey @Nirajn2311! The actual formatting and fixes for most of these problems are done, but it would be great if you could help review a couple of PRs.
* @NitronR's PR adding more Rosetta Code challenges: https://github.com/freeCodeCamp/freeCodeCamp/pull/35487
* My PR with addressing all of the fixes above: https://github.com/freeCodeCamp/freeCodeCamp/pull/35560

If you would rather work on one of t

[2019-03-20 08:32] thecodingaviator commented on #35185
@raisedadead @RandellDawson Should we block this issue further till we have less PRs?

[2019-03-20 10:02] raisedadead commented on #34795
We did not push any fixes. The underlying problem was, the OP had accidentally created two different accounts. They deleted one of them and that has resolved their issue. More often than not that is the case for these issues, where the users accidentally create secondary accounts, and end up with this issue.

[2019-03-20 12:47] mrmorais commented on #17762
Well, on Element Inspector appears 14px instead 10px (the CSS inspector says 10px). The zoom is 100%.

[2019-03-20 13:22] #35401 closed

[2019-03-20 13:46] RandellDawson commented on #17762
@mrmorais If you click `Alt` + `F`, then select 'Settings` and scroll down to `Appearance`, make sure you have `Medium (Recommended)` for `Font size`.

Also, can you following the instructions for [To further customize the font size](https://mcmw.abilitynet.org.uk/google-chrome-for-windows-making-text-larger) and take a screenshot of what your settings look like?  Mine look like below:
![image](ht

[2019-03-20 14:32] #35534 closed

[2019-03-20 16:20] lasjorg opened #35642 "Challenge is mixing protocols in a possibly confusing way"
Challenge: https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/link-to-external-pages-with-anchor-elements/

This challenge is mixing the http and https protocols in a possibly confusing way.

All the example links shown in the challenge text is using https, but the challenge test requires the use of http. The challenge text should show the same protocol as the test. The chal

[2019-03-20 18:14] ArielLeslie commented on #35642
The example `href` is a different reference than the one required by the challenge. It's a different protocol, domain, and top-level name. Looking at the actual required string from the instructions, as opposed to the example, is something that campers have to do frequently.

[2019-03-20 18:46] lasjorg commented on #35642
@ArielLeslie You're not wrong of course.

However, I have seen people make this mistake enough times to believe the protocol is causing issues. I think it's a subtle thing that happens quite subconsciously from looking at the challenge links. The domain and top-level name are different enough that people do not seem to mistake them the same way.

In any case, I don't really see the harm in making

[2019-03-20 19:16] RandellDawson commented on #35642
@lasjorg I am leaning towards not watering down the possible solutions here.  At some point the campers have to learn how to follow instructions.  Attention to the details is important in software development.  Changing the tests to allow more flexibility for valid syntax is one thing, but changing the tests to account for people not following the instructions is a whole different matter.

[2019-03-20 19:27] ArielLeslie commented on #35642
About as often as people fail this test because they use the wrong `href`, I see people fail tests because they return "Go home!" instead of "Go Home!" in the golf code exercise or set a color to "grey" instead of "gray" or have spaces at the beginning or end of a string. I'd argue that it's important to learn to look for these errors early, because typos will haunt them throughout their lives as

[2019-03-20 20:56] lynxlynxlynx commented on #35571
When in doubt, KISS. I second the first motion, while I would just remove the note in the second. It's already shown by the example.

[2019-03-20 21:02] #35246 closed

[2019-03-21 07:35] #34776 closed

[2019-03-21 09:02] TimAndreJacobsen opened #35645 "Make Coding Challenge: "Return a Sorted Array Without Changing the Original Array" accept .slice() to pass tests."
Feature Request: Add ``` array.slice() ``` as valid method to clone/copy array and as an alternative to ``` [].concat(array) ```

Link to challenge:
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/functional-programming/return-a-sorted-array-without-changing-the-original-array/

I often use array.slice() to return an array copy, as this is what MDN recommends. When I was w

[2019-03-21 09:50] #34009 closed

[2019-03-21 11:01] mrmorais commented on #17762
It worked (:tada:) using minimum font size on "Tiny". Maybe the 10px element was smaller than the minimum accepted

[2019-03-21 13:54] RandellDawson commented on #35645
You have to also view the test text as part of the instructions for the challenges.  In this case, one of the the challenge test expects you to use the `concat` method.  It even mentions the `concat` method in the Description section of the challenge.  Always read the test text to make sure you understand what is being asked of you.

[2019-03-21 17:16] Nirajn2311 commented on #35387
@scissorsneedfoodtoo PR #35487 is already merged, and I'll go through the other PR this weekend.

[2019-03-21 17:25] Nirajn2311 commented on #35410
@ahmadabdolsaheb I can pair up for this.

[2019-03-21 17:36] benschac commented on #35410
I’m around

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Niraj Nandish <notifications@github.com>
Sent: Thursday, March 21, 2019 1:30:03 PM
To: freeCodeCamp/freeCodeCamp
Cc: Benjamin Schachter; Mention
Subject: Re: [freeCodeCamp/freeCodeCamp] Legacy Certification Settings Section to be implemented (#35410)

@ahmadabdolsaheb<https://github.com/ahmadabdolsaheb> I

[2019-03-21 17:55] lasjorg commented on #35642
I do agree that paying attention to details is an important skill to learn early on. I just can't help but think that the difference in the protocol here is unintentional. It just feels like an oversight. Anyway, it's not that important I was just thinking it would spare us a few forum posts if we made all the links use the same protocol.

@ArielLeslie Learning to follow requirements is vital but

[2019-03-21 19:00] ritute opened #35648 "Redesign proposal for settings page"
The current settings page is not easily understandable - settings are all over the place, it's not very clear what pertains to a user's profile vs other things (such as account), and is quite overwhelming.

I have attached wireframes of a new design proposal that I'd be happy to implement. I tried to minimize changes in function - the focus is on organizing the existing content with clearer catego

[2019-03-21 21:51] RandellDawson commented on #35648
@raisedadead, @Bouncey This looking interesting.

[2019-03-21 21:59] raisedadead commented on #35648
Deferring to @QuincyLarson

[2019-03-21 23:10] Beachhermit opened #35651 "Test for Calculator in Front-End Libraries projects is broken"
**Describe your problem and how to reproduce it:**
The tests from the script that is pre-loaded in the Codepen template are wrong for the Front-End Libraries calculator project. The first few are fine, but from the middle of the list, several are repeats of each other and several from the project page are missing.
I’ve attached a screenshot so you can see that tests 7 and 8 describe exactly the sa

[2019-03-21 23:27] Beachhermit commented on #35651
I've just gone and done some more digging. I ran the tests on a blank page and they look right. So, perhaps there's something in the code that I've written so far that is running interference.
So I checked my code again - thinking I could copy that here so you could see where the interference was BUT the tests look like they're working properly again.
The last thing I was fiddling with before I we

[2019-03-21 23:32] RandellDawson commented on #35651
@tbushman Is this an issue with the tests or the camper's code?

[2019-03-21 23:51] RandellDawson opened #35652 "Need to remove Guide articles for two set Challenges which no longer exist"
A while back, PR freeCodeCamp/freeCodeCamp#34717 was merged which combined 3 challenges into a single challenge, but the corresponding Guide articles were never removed.

I am only talking about the English versions, because at this point, the other languages for the 2 challenges are still present in the repo.

@raisedadead I can easily remove the English Guide articles for the two challenges whic

[2019-03-22 03:01] KarteekM opened #35653 "Guide for web-applications link is broken"
The link :
https://learn.freecodecamp.org/challenges/get-set-for-our-dynamic-web-application-projects
is broken. It gives a 404 Page not found.
This link is mentioned as a reference for creating a new Github Repository and a new Heroku Project.

You can find the link as a reference in this page:
https://learn.freecodecamp.org/coding-interview-prep/take-home-projects/build-a-voting-app

Kindly prov

[2019-03-22 16:50] thecodingaviator commented on #35453
**Point for discussion 1** : Should we add solutions to guide articles including methods that have *not been taught* in the curriculum yet?

**Point for discussion 2** : Should the guide articles be kept simplified? An example of what I mean is given in #35592 . Two methods which were written differently have been put in one, this might cause confusion to someone not familiar with with how the syn

[2019-03-22 19:00] SuryaDilip opened #35657 "'Run the Tests button' is not working & result pane is showing 'Error: Request errror: 0'"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-03-22 19:10] thecodingaviator commented on #35657
Please add more details about which link is this problem on and screenshots if possible

[2019-03-22 19:11] thecodingaviator commented on #35653
Check the latest build over [here](https://freecodecamp.rocks/learn) and report if the problem is still there

[2019-03-22 21:44] codexetreme commented on #17222
can I work on this?

[2019-03-22 22:20] raisedadead commented on #17222
Locking this thread, this is a internal DevOps task for dev team.

[2019-03-23 07:08] udidkl commented on #18231
I was stuck too

[2019-03-23 10:04] Donearm opened #35660 "Freecodecamp becomes unresponsive and freezes the browser"
**Describe the bug**
This happened here and there during the curriculum but last occurrence that I cannot fix it myself is at the React portion of it. Just adding a new component, empty at the moment, freezes the whole browser. Restarting it lose any code added and then it is impossible to proceed with the challenge

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://learn.freecode

[2019-03-23 11:40] Nirajn2311 commented on #35660
@Donearm could you check if this issue is present for you in the beta site - www.freecodecamp.rocks

[2019-03-23 12:29] christophrus opened #35661 "Apis and Microservices Projects - No tests applied after submitting solution"
**Describe your problem and how to reproduce it:**
Im currently working on the Apis and Microservices Projects and wondering why there arent any test applied once I submit the solution. I can literally submit any valid URL (i.e. https://google.de) and it will be accepted.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-proj

[2019-03-23 19:27] #34809 closed

[2019-03-24 02:11] ZTYZZ commented on #12699
lol,  I met the same problem...

[2019-03-24 02:43] RandellDawson commented on #12699
@ZTYZZ Do you experience the same problem on the [beta site](https://www.freecodecamp.rocks/learn/front-end-libraries/sass/)?

[2019-03-24 03:19] RandellDawson opened #35665 "Bug in 2nd test for Access Multi-Dimensional Arrays With Indexes challenge"
I see an issue related to the mal-formed 2nd test of this challenge at least once a day on the forum.  An example is [this thread](https://www.freecodecamp.org/forum/t/bracket-notation-in-accessing-multi-dimensional-arrays-with-indexes/266940).

At some point, someone thought and second condition was needed in the assert statement to catch someone trying to solve the challenge by hard-coding the a

[2019-03-24 03:56] Nirajn2311 commented on #35665
@RandellDawson you're right that's the only way to answer that question with some exceptions in semicolon.
Your regex for the second test will work without any problems so I think we can put the `first timers welcome` badge.
Also I don't think it will make much of a difference in changing the text of the test as the challenge teaches how to use bracket notation and the user has to practice it. But

[2019-03-24 04:28] RandellDawson commented on #35665
@Nirajn2311 Yes, I think you are right about just leaving the `text` the same.

[2019-03-24 04:30] RandellDawson commented on #35665
OK, it seems like we have agreement on the assert to use.  Who wants to work on this?  We would prefer first timers, but if no one volunteers in the next couple of days, then anyone can work on it.

[2019-03-24 09:28] Artistic18 commented on #35665
Hello! This is my first time with Open Source. So, if possible can you please elaborate the issue in simpler words.

[2019-03-24 09:52] Artistic18 commented on #35665
Do you mean I should change the **testcase** from

to

[2019-03-24 10:04] Donearm commented on #35660
Can't even log in, error 400: redirect_uri_mismatch (I'm logging in through Google)

[2019-03-24 11:45] Nirajn2311 commented on #35660
@Donearm the beta site doesn't support login and also the progress of your challenges done in beta site won't be added to the main site. Check #34872 for more details of the beta site.

[2019-03-24 12:14] christophrus commented on #35661
I can see [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/timestamp-microservice.english.md) that there are tests set up at least for the first project. But why dont these tests run? Are they deactivated manually somewhere else?

[2019-03-24 12:21] RandellDawson commented on #35665
@Artistic18 Yes, that is all that needs to be done at this time.

[2019-03-24 12:49] RandellDawson commented on #17548
@ValeraS I see tests written for these challenges.  Why do they not seem to work?

[2019-03-24 12:50] RandellDawson commented on #35661
Closing this issue as it has already been reported on issue https://github.com/freeCodeCamp/freeCodeCamp/issues/17548

[2019-03-24 12:50] #35661 closed

[2019-03-24 13:17] RandellDawson commented on #35543
@ojeytonwilliams What do you think a new test's `text` should be and generally what should the test do? We need to define what we mean by a "good" test here, so a user can attempt to create a solution.  Once we have the general approach, we can add a 'help wanted' label.  If it seems easy to fix, then we can add a 'first timers welcome` label too.

[2019-03-24 13:53] ValeraS commented on #17548
@RandellDawson for now, we do not run tests for projects. It's not so difficult to change. But I see tests written only for one project ([Timestamp Microservice](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/timestamp-microservice.english.md)). All other backend projects contain tests with empty `tes

[2019-03-24 14:08] RandellDawson commented on #17548
@ValeraS Yeah after my last reply, I realized the only one which had tests was the Timestamp Microservices.     Shouldn't we implement the test functionality and then start writing applicable tests for these projects?

[2019-03-24 14:28] christophrus commented on #17548
@RandellDawson @ValeraS The tests are already written on [this glitch](https://narrow-plane.glitch.me). I guess they just need to be transitioned into the .md files?

[2019-03-24 21:09] iamrajiv opened #35670 "Addition of Guides on Static Site Generator"
**Describe your problem and how to reproduce it:**

I have gone through the Guides of freeCodeCamp and I think there should be Guides on Some Static Site Generator like Hugo, Jekyll, Next, Hexo etc

The Guides have already Gatsby.js which is also used to generate static site

[2019-03-24 21:11] iamrajiv commented on #35670
If this issue is Valid and Valuable, I want to take this issue and Work on this

[2019-03-24 23:37] RandellDawson commented on #35670
Hi @iamrajiv

I think it is fine to do that.  If you really want to do it write, I would suggest first creating a new article on Static Site Generators that would be located at `guide/english/static-site-generators/index.md`.  Then, in the same PR, I would suggest moving the existing `guide/english/gatsbyjs/index.md` to be a sub folder of the `static-site-generators/` folder you create like `guide

[2019-03-24 23:43] #34901 closed

[2019-03-25 00:17] iamrajiv commented on #35670
thanks, @RandellDawson for the suggestion, Yup making a separate folder for the static site generators is a good idea. I am going through the Guides and will be documenting these very soon

[2019-03-25 00:41] Fordco commented on #34727
I was not able to reproduce this issue on https://www.freecodecamp.rocks/ on the same version of Chrome as above. I can still produce it on the live site though.

[2019-03-25 05:11] coinfreakgr opened #35672 "Link in "Generate Random Fractions with JavaScript" challenge leads to 404"
**Describe your problem and how to reproduce it:**

Just visit this page here:

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/generate-random-fractions-with-javascript

 and click the "Storing Values with the Equal Operator" link. It leads to a 404 page.

The correct link should be this one:

https://learn.freecodecamp.org/javascript-algorithms-and-data-

[2019-03-25 07:42] Nirajn2311 commented on #35672
@coinfreakgr can you check if this issue is there in our beta site - www.freecodecamp.rocks

[2019-03-25 08:45] thecodingaviator commented on #35672
Problem not replicable in the latest build of rocks. I'm closing this issue. @coinfreakgr the fix would soon be shipped to production. Thanks for opening the issue

[2019-03-25 08:45] #35672 closed

[2019-03-25 10:14] Suyash2810 commented on #34970
Okay.

[2019-03-25 11:08] Donearm commented on #35660
Ok, wasn't aware there was a beta site. Anyhow, same freezing of the browser with the beta one too, at the same challenge and typing the same code (or trying to actually).

[2019-03-25 13:08] kyriediculous opened #35674 "Interview Prep > Linked lists"
Hi ,

In Interview Prep>Linked Lists lessons there is a major bug due to uninitiated variables.

The problem lies in LinkedList.add() where currentNode is not declared properly.
[code]

[2019-03-25 13:19] ojeytonwilliams commented on #35543
@RandellDawson Something like

would be fine for the text.  That test should appear before the final catchall

and it should just fail if it sees an `</input>` tag anywhere.

Ideally, the final test would be a catch-all, so we are not giving conflicting messages like "the syntax is fine, but please fix this specific part of it".  However, the main thing is to catch the bad syntax. I don't think th

[2019-03-25 15:08] RandellDawson commented on #35674
Which specific challenge is this for?

[2019-03-25 15:10] ojeytonwilliams commented on #35660
@Donearm I'm having trouble reproducing this.  Could you tell me which edits you made to trigger the freeze?

[2019-03-25 15:14] #35674 closed

[2019-03-25 15:18] ojeytonwilliams commented on #35653
@KarteekM Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #35039, so I am closing it as a duplicate.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you and happy coding.

[2019-03-25 15:18] #35653 closed

[2019-03-25 15:54] kyriediculous commented on #35674
I see , thanks !

[2019-03-25 16:34] moT01 opened #35676 "Add guide article for new challenge"
This PR (https://github.com/freeCodeCamp/freeCodeCamp/pull/35301) added a new challenge so we need to create the associated guide article in this area of the code: https://github.com/freeCodeCamp/freeCodeCamp/tree/master/guide/english/certifications/responsive-web-design/basic-html-and-html5

@lasjorg, you expressed interest in this - not sure if you started working on it yet. Let us know if you w

[2019-03-25 16:42] wang1998tina opened #35678 "Developer ethics/case studies links are broken"
**Describe your problem and how to reproduce it:**
Clicking on any of the case study links under the developer ethics guide in ~any language~ will all lead to the Software Engineering Ethics Research Institute (SEERI) homepage.

**Add a Link to the page with the problem:**
[For example, in Arabic:](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/arabic/developer-ethics/case-studies/

[2019-03-25 18:01] thecodingaviator commented on #35678
@wang1998tina I'd say google the links, maybe they've moved to a new place. If you cannot find anything, I think we would need new links but also some discussion on the issue before we change links to new studies. Go ahead and take this up if you want

[2019-03-25 18:03] sil3nthill commented on #35678
i am a first timer contributor i would like to fix this if you can just show where to begin

[2019-03-25 18:27] thecodingaviator commented on #35678
@sil3nthill We'd absolutely welcome you help on this issue but we're waiting for a reply from @wang1998tina . In the meantime, have a look [here](https://github.com/freeCodeCamp/freeCodeCamp/issues?q=is%3Aopen+is%3Aissue+label%3A%22first+timers+welcome%22) and check for issues which do not already have a PR made. Also make sure you read out contributor's documents properly in the /docs directory.

[2019-03-25 19:22] wang1998tina commented on #35678
Okay, I will look into this!

[2019-03-25 19:48] madmedmod commented on #17822
is this case is still on going? It happened to me as well but might be with different cause.

I reset my account progress then when restarting there's no heat map progress, though just like others the strike count is working normally.

thank you guys who's working on this, appreciate it very much!

[2019-03-25 19:56] thecodingaviator commented on #35413
@Sumer16 Are you still on it or should it be put out there for someone else to pick?

[2019-03-25 20:42] #35665 closed

[2019-03-25 20:49] #17829 closed

[2019-03-25 20:49] #35520 closed

[2019-03-26 00:25] RandellDawson commented on #35479
@Bouncey , @raisedadead I have created a branch in my fork which I believe removes all repl.it and codepen.io links from curriculum-related Guide articles.  Just awaiting confirmation this is still OK, before creating the PR related to these changes

[2019-03-26 04:55] DanieSegarra36 commented on #35525
Has someone started working on this issue?

[2019-03-26 05:14] icatat commented on #35525
@DanieSegarra36  @addv12345 and I are currently working on it

[2019-03-26 08:56] Donearm commented on #35660
@ojeytonwilliams simply extending the CampSite component thus

[code]

That's the bare minimum that cause the freeze (after the curly brackets of render). Alternatively I tried with the constructor but it also freezes after the curly braces.

[2019-03-26 09:16] ValeraS commented on #35660
@Donearm Why do you extend CampSite? You should extend React.Component.

[2019-03-26 11:36] ojeytonwilliams commented on #35660
@Donearm Sorry, I can't seem to replicate it.  I'm using Ubuntu 18.10 (Cosmic Cuttlefish) with Chrome 73.0.3683.86 and Mozilla Firefox 66.0.1 and neither freezes when that code is entered.

[2019-03-26 12:01] SuryaDilip commented on #35657
I'm pursuing 'Responsive Web Design Certification (300 hours)' course.

When i click on an exercise, say 'https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements' then i find this button not working.

![Run the Tests](https://user-images.githubusercontent.com/28861793/54995243-4c26d400-4fec-11e9-938a-2629122a47c8.JPG)

When the page is loaded i can find

[2019-03-26 13:44] wang1998tina commented on #35678
@thecodingaviator It seems that the case studies are no longer on the site, but I've found a list of similar case studies at another [research institute](https://www.scu.edu/ethics/focus-areas/more/engineering-ethics/engineering-ethics-cases/computer-engineering-cases/). Also, the first link on the page also seems as if it's supposed to lead to an ethics code, but that has [moved to this page](htt

[2019-03-26 14:02] thecodingaviator commented on #35678
@wang1998tina If the new links look fine to you, go ahead and make **different PRs for each language** and replace the links

[2019-03-26 14:04] thecodingaviator commented on #35657
@SuryaDilip Can you please provide a screenshot of your developer console? Press `F12` if you're in Chrome to open it

[2019-03-26 15:44] SuryaDilip commented on #35657
Is this the right screenshot?
![Developer Tools](https://user-images.githubusercontent.com/28861793/55011508-fa8e4180-500b-11e9-91b5-08d8126ebdd8.jpg)

[2019-03-26 15:50] thecodingaviator commented on #35657
Nope @SuryaDilip click on console next to elements and paste the screenshot
![image](https://user-images.githubusercontent.com/34807532/55012106-e9920000-500c-11e9-9d48-f802b979ecc3.png)

[2019-03-26 16:15] SuperSafie opened #35686 "Basic Javascript: Use the parseInt Function link broken"
When clicking on the "Get a hint" button it takes you to a stub that has been archived by the owner. I would like to create a guide for this problem if possible, but am a beginner and don't know how to create a new stub.

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/use-the-parseint-function

* Browser Name: Google Chrome
* Browser Version: Version 72.0

[2019-03-26 16:16] lasjorg commented on #35676
@moT01 I will give it a go.

[2019-03-26 16:34] RandellDawson commented on #35686
Hi @SuperSafie

Thanks for noticing this.  However, it has already been fixed on our `master` branch, but has not been moved to production.

You can check the beta site which is a mirror of the current `master` branch, to see that the link works.

We are in the process of moving many fixes to production in the near future.

I am closing this issue for now.

Thank you.

[2019-03-26 16:34] #35686 closed

[2019-03-26 16:53] #17865 closed

[2019-03-26 17:33] ojeytonwilliams opened #35688 "Linting of challenge markdown files"
Currently we don't lint the challenges themselves.  Since the seed code is shown to campers, it would help them if the code they're modifying is as clean as possible.

The main problem I can see is that it would add a fair bit of time to the linting process, given how many challenge files there are.

Is this something we might want?

[2019-03-27 05:10] JoKurio commented on #35550
@Sumer16 great job on this. I have some observations though. In the first paragraph, the second sentence seems to imply that take home projects are a "solution" to the stress that comes from programming interviews, but the context of the article rightly shows that they are a major part of the interview process that can be stressful and taking this course helps prepare the students for them.
Also,

[2019-03-27 09:35] SuryaDilip commented on #35657
PFA

![Untitled](https://user-images.githubusercontent.com/28861793/55065279-89996900-50a1-11e9-9019-82acbc101ca0.jpg)

[2019-03-27 10:42] thecodingaviator commented on #35657
Your browser is blocking jQuery. If you type:
`$('.btn')`
as is into the console and press enter, do you see:
`<button type="button" class="btn btn-primary btn-block">Run the Tests</button>`
?

[2019-03-27 10:48] ojeytonwilliams commented on #35557
Looks like a reasonable requirement to me.  I don't think there's any need for a new test, though.  The first test

should just be modified to catch the extra characters.

[2019-03-27 11:10] ojeytonwilliams commented on #35456
@tplive I've confirmed that this issue is fixed on rocks, so I'm closing this issue.  Thanks for the report!

[2019-03-27 11:30] thecodingaviator commented on #15615
@Manish-Giri Anything yet?

[2019-03-27 11:34] JESii commented on #18097
It may be an "edge case" in real life (I ran a cash register at Walgreens when I was out of high school and we always had rolls of coins to deal with a situation like this). However, edge cases in software testing are what make for robust testing and -- eventually -- robust software. What @jperbark prop0sed is exactly what's needed.

[2019-03-27 11:34] thecodingaviator opened #35694 "Fixing test descriptions in Quality Assurance and Testing with Chai"
The test descriptions in the `Quality Assurance and Testing with Chai` section are unclear, vague and grammatically incorrect. One example can been seen [here](https://github.com/freeCodeCamp/freeCodeCamp/pull/35471#discussion_r268825980).

These test descriptions need to be fixed to make more sense

[2019-03-27 12:19] ojeytonwilliams commented on #35453
Point 1: I think it's fine to include a solution using methods that have not been taught at that point.  However, they should only be added if there is already is a solution using methods they have been exposed to. Also, there needs to be a link introducing the concept.  This also serves as a cue to the reader that they are not expected to already understand what's being linked to.

It's important

[2019-03-27 12:23] SuryaDilip commented on #35657
![Capture](https://user-images.githubusercontent.com/28861793/55075541-3a5f3280-50b9-11e9-97c5-be1ec1868fbc.JPG)

[2019-03-27 13:09] thecodingaviator commented on #35657
@ValeraS I was thinking this might be due to jQuery being blocked by the browser, but that, clearly, is not the case, any idea what might be up?

[2019-03-27 13:15] JESii opened #35695 "Certificate not printable on a single page"
I just finished the JavaScript Algorithms and Data Structures program, received my certificate and tried to print it. It doesn't fit on a single page in either landscape or portrait mode.
I'm on MacOS, 10.14.3, using Chrome browser.
![image](https://user-images.githubusercontent.com/486/55078572-b2950c00-5057-11e9-96d5-7bef2afddb25.png)

Notice also that my name overlaps the certificate date:
![im

[2019-03-27 13:47] ValeraS commented on #35657
1. `$`is not always equal to jQuery. What you see is Chrome dev-tools [Console Utilities API](https://developers.google.com/web/tools/chrome-devtools/console/utilities)

2. To check jQuery you need to select JavaScript context:
![image](https://user-images.githubusercontent.com/10867286/55078977-54dedf00-50ac-11e9-9b93-ec9f34103f85.png)
![image](https://user-images.githubusercontent.com/10867286/5

[2019-03-27 13:59] nuhman commented on #17450
Since @Em-Ant have made this new api for the `forum` data, I guess it's time to change the user stories as suggested [here](https://github.com/freeCodeCamp/freeCodeCamp/issues/17450#issuecomment-411944517) by @jgibson02 ?

[2019-03-27 14:21] KoniKodes commented on #17450
There is an error on the test project at line 67: Uncaught ReferenceError: styled is not defined
    at /Em-Ant/pen/pen.js:67

I do agree with @nuhman about using the suggested user stories.

[2019-03-27 14:28] jgibson02 commented on #17450
Fixed the ReferenceError, although what do you think we should change in the user stories?

[2019-03-27 14:48] ojeytonwilliams commented on #35456
I closed this in error - I should have just applied the label.  Thanks @thecodingaviator!

[2019-03-27 14:58] RandellDawson commented on #35456
@ojeytonwilliams It is fine to close it and add the `status: resolved/shipping` label.  Either way works.

[2019-03-27 15:45] KoniKodes commented on #17450
Hi, thank you.
It looks like we are not sorting, it comes up by most recent topic....
It works very well for the Forum Page.

I just worked so hard on the Leader Board and it's a shame not to be able to show it off. Even without the Brownies, I would love to see who posted most recently - and who has posted the most times - with links to those posts - and perhaps the user profile..

I like seeing

[2019-03-27 16:27] ojeytonwilliams commented on #35089
The first challenge in the Regular Expressions section introduces the `test` method, so they've definitely had a chance to learn about it.  That said, the instructions do talk about `match` while the tests require you to use `test`, so it is a little muddled.

It wouldn't hurt to remind someone that `test` exists, so I think using it as part of the challenge is perfectly fine.  In light of that, a

[2019-03-27 16:54] thecodingaviator commented on #35695
Scale it using the scale option in Chrome

[2019-03-27 16:56] lucassorenson commented on #35089
I have never modified a challenge before, but I have been looking into it and would love to try to help out. I am working on it right now, if that's alright.

[2019-03-27 17:04] thecodingaviator commented on #35413
@Sumer16 Since, we've not heard from you in some time now, I'm un-assigning you and making the PR myself

[2019-03-27 17:45] QuincyLarson commented on #15615
@thecodingaviator @Manish-Giri Since we're replacing the JavaScript curriculum soon, I'm going to go ahead and close this issue so.

@Manish-Giri We would welcome your experienced hands with our new project-oriented curriculum: https://www.freecodecamp.org/forum/t/help-us-build-version-7-0-of-the-freecodecamp-curriculum/263546

[2019-03-27 18:58] randjanas commented on #35481
Is this issue closed ? I am a first time contributor and would like to work on it.

[2019-03-27 19:38] candacej97 commented on #35529
Hi @raisedadead @ojeytonwilliams I'd like to work on this issue. However, I'd like more clarity on if you'd want to get rid of the Style Guide altogether or just use the style guide to make the 'how to work on coding challenges' and 'how to work on guide articles' files better and more specific?

[2019-03-27 19:51] thecodingaviator commented on #35481
@randjanas Not yet, only the PR for English language has been merged. Check with @Nitin96Bisht for what languages he is making a PR for

[2019-03-27 20:19] RandellDawson commented on #35529
@candacej97 We are still discussing this issue.  We will reach out to you once we get a few things ironed out.  Then it will be fairly easy for you to create the PR if you still want to.

[2019-03-28 01:01] Manish-Giri commented on #15615
@QuincyLarson Thanks for the update! I'll be happy to help out with the new curriculum. I'm closing this issue for now.

[2019-03-28 01:01] #15615 closed

[2019-03-28 01:33] thesidbatra commented on #34730
I can work on this!

[2019-03-28 03:33] Nitin96Bisht commented on #35481
@randjanas You can start with any of the language except English language. @thecodingaviator I am not working as of now for any other language. It would be great if we allow first timer to work on this.

[2019-03-28 03:36] Nitin96Bisht commented on #34730
@thesidbatra Please go ahead. Kindly do not forget to read [contribution guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md).

[2019-03-28 13:43] ahmadabdolsaheb commented on #35410
@benschac, @Nirajn2311 I somehow missed your messages, sorry about that. However, I would really appreciate it if you could check out the functionality and see if it works as intended.

[2019-03-28 14:52] kartikeytripathi commented on #34614
@QuincyLarson the link https://www.freecodecamp.org/promos/grasshopper shows 404 and link https://www.freecodecamp.org/grasshopper redirects to a profile. This means that the issue is not resolved yet. Will I make a PR for the same.

[2019-03-28 16:58] thecodingaviator opened #35700 "Fix tests in Positive and Negative Lookahead challenge"
In the challenge [Positive and Negative Lookahead](https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/regular-expressions/positive-and-negative-lookahead), the tests are broken and so is the solution:

The challenge requires for the first character to **not** be a number, at the moment,

1. there are no tests which check for this, as well as,
2.  the solution in the fil

[2019-03-28 16:59] thecodingaviator commented on #35700
My best suggestion is to remove the requirement for the first character to not be a number

[2019-03-28 17:06] RandellDawson commented on #35700
To add some context to @thecodingaviator's issue.  None of the following should match with a valid solution, so we should definitely have some tests look for a few of these.  The current tests and solution added to challenge file match all of these incorrectly according to the instructions.
[code]

[2019-03-28 18:46] #35089 closed

[2019-03-28 19:28] nellybaz commented on #35481
hello, I would like to do this as a first timer.
Where should I start?

[2019-03-28 19:31] nellybaz commented on #26859
yes, I am interested

[2019-03-28 19:58] thecodingaviator commented on #35481
@nellybaz check with @randjanas for what languages they are working on, you can pick up the other languages and use the search and replace functionality of your code editor to make changes as discussed above

[2019-03-28 20:32] RandellDawson commented on #26859
@nellybaz Go for it.  It is all yours.

[2019-03-29 01:18] RandellDawson commented on #35700
@thecodingaviator I came up with the following for the solution, which seems to correctly pass the existing tests and would correctly not match any of the above 6 examples.

I think as far as extra tests go, we could either pick 2-3 of the ones above ones which should not match and be good enough.

[code]

I have made changes locally and tested them and everything seems to work fine.

[2019-03-29 09:15] #35397 closed

[2019-03-29 09:30] JulianNF opened #35705 "Timestamp Microservice - conflicting user story #5 for invalid date queries/strings"
Reposted here as per recommendation from @Dereje1

Hey,

I did a search through the forums and saw no mention of this, so I’m reporting it in case it hasn’t been caught yet. (Also, first post on the forums; hi!)

It looks like the sample Glitch app for the Timestamp Microservice project page has different user stories than those outlined within the readme in the GitHub repo/boilerplate for the sam

[2019-03-29 13:03] SuryaDilip commented on #35657
@ValeraS I'm using the website on my office laptop. I tried the website on other PC which is on different N/W. There it is working as expected. Is this some kind of block on the website in my office N/W.

[2019-03-29 13:06] SuryaDilip commented on #35657
@ValeraS https://www.freecodecamp.rocks/ is blocked on my office N/W

[2019-03-29 14:04] ahmadabdolsaheb commented on #17284
This feature has been implemented.

![Screen Shot 2019-03-29 at 5 03 06 PM](https://user-images.githubusercontent.com/4591597/55238080-ac17b780-5244-11e9-8f27-2cb28230c381.png)

[2019-03-29 14:04] #17284 closed

[2019-03-29 16:01] Pogayo opened #35707 "Adding Huffman Coding to Data Structures and Algorithms"
Hello,

I was looking through the data structures projects and I think it would be a good addition to learners to have Huffman coding. Please let me know if this is possible so that I can start working on it.

[2019-03-29 16:06] RandellDawson commented on #35707
Can you provide more details about what the challenge Description and Instructions sections would entail?.  Once you figure out what the scope of the challenge is, then we can figure out how to best test the user's code.

[2019-03-29 16:22] thecodingaviator commented on #35700
The suggestion you've given for the regex would fail `a2si34` which should pass, it is 6 characters, doesn't start with a digit, is more than 5 characters and has 2 consecutive digits

[2019-03-29 16:35] RandellDawson commented on #35700
@thecodingaviator Good catch.  What about the following?
[code]

[2019-03-29 17:11] thecodingaviator commented on #35700
@RandellDawson That one looks good. About reworking the instructions, I have a small suggestion:

This way we don't have to go over changing the solution you posted above to make it not fail if a password starts with an `_` character

[2019-03-29 17:24] RandellDawson commented on #35700
@thecodingaviator That sounds good.  Let's wait until we get some other mods and other users to respond before we create a PR.  I have asked a couple of people on the forum to review this issue.

[2019-03-29 18:00] kirubiel opened #35708 "Reducing duplicate forum posts"
When users click the "Ask for Help" button on any challenge, it should take them to a related questions page first so that they can scroll through questions asked before them. After that they can decide whether to ask a question or not. I think it would reduce the number of similar posts on the forum instead of expecting them to "Read-Search-Ask" which most new campers don't do.

[2019-03-29 18:19] Pogayo commented on #35707
Data Structures and Algorithms Programming
 Huffman Coding
Binary Trees are not always used for searching. It can also be used to compress data. Using binary trees to compress data is called the Huffman code. Data compression is important in many situations. An example is sending data over the Internet, where, especially over a dial-up connection, transmission can take a long time.
In this exercis

[2019-03-29 18:21] Pogayo commented on #35707
@RandellDawson that is a rough sketch of the instruction

For testing, I am thinking we will provide an encoded message and expect them to decode it. If they built their trees well and followed all the instructions, they should be able to decode the original message exactly as it was.

I also didn't see a lot on trees and probably this challenge might require a discussion about trees.
Let me know

[2019-03-29 20:10] #35413 closed

[2019-03-29 21:34] gebulmer commented on #35700
I agree that the fixes above are 'correct', however I would like to caution against making the solution's regular expression more complicated.

Instead I think the right thing to do is remove the text in the question regarding the first character. Are we validating javascript variable names, or are we validating passwords?

At this point the challenge is very confusing. for a beginner, especially

[2019-03-29 22:40] hilliarj commented on #35070
I think this issue could be closed, I produced a solution to this and the original test case was correct in the fact that `specialPythagoreanTriplet(120);` should return 49920. `a*b*c = 120` when `a=20, b=48, c=52`.

[2019-03-29 23:22] hilliarj commented on #35707
@Pogayo Are you going to work on this? Or would we be able to help you with this issue in any way?

[2019-03-29 23:28] chaomt commented on #17795
I could work on it.

[2019-03-30 00:06] RandellDawson commented on #35707
After looking at what you are wanting to accomplish here, there may need to be some other challenges before it.  The general rule of thumb for any challenge is that it should not take more than 2 minutes to read through and understand what is required of the user.  You have laid out many requirements, so you will have to figure out a way to "waterdown" the existing requirements or break this chall

[2019-03-30 01:50] QuincyLarson commented on #35648
@ritute Thanks for creating these mock-ups. We can definitely improve the settings page. A couple design decisions we've made that you should be aware of as you redesign this:
1. We don't want drop downs in the navigation. That's why we have a single "settings" button in the mock-ups:

<img width="1440" alt="screen-shot-2" src="https://user-images.githubusercontent.com/985197/55269628-936aca00-526