[2016-10-04 10:28] Bouncey commented on #11007
@BerkeleyTrue

`webpack-dev-middleware @ 1.8.3`
`browser-sync @ 2.9.12`

I noticed during the gulp build:
[code]

Could the proxy be throwing everything out?

Would it be worth removing `3001` and updating `CONTRIBUTING.md` to point people to `3000`, which seems to be working?

[2016-10-04 11:20] Bouncey commented on #10966
This is also a blocking item for QA'ing PR's relating to challenge tests in general

[2016-10-04 11:23] Bouncey commented on #10966
@BerkeleyTrue @QuincyLarson  would reverting #10886 help @HKuz in the mean-time whilst trying to resolve this?

[2016-10-04 11:37] marhyorh commented on #11007
Webpack dev middleware is served through http://localhost:3001. The docs should be updated to use http://localhost:3000 instead of the proxy :+1:

[2016-10-04 11:49] systimotic commented on #10522
Am I looking at the wrong page, or has this been fixed? https://www.freecodecamp.com/about seems to work just fine.

[2016-10-04 11:57] ivantedja commented on #10522
@systimotic it is in beta: https://beta.freecodecamp.com/about

[2016-10-04 11:59] Bouncey commented on #11048
Closing as it is for code help.

As directed by @Deadpool37 please use the `Help` button in the challenge you have an issue with, this will take you to a dedicated chat room for help with your code.

Happy coding :+1:

[2016-10-04 11:59] #11048 closed

[2016-10-04 12:23] systimotic commented on #10522
Oops, sorry about that! I got confused because the title says production. I'm having a go at fixing it right now.

[2016-10-04 12:26] Bouncey commented on #11039
We could possibly add some sort of check in the tail for long running code. Or some comment around `smallestCommons([1, 5]);` in the seed code to advise the camper to keep the numbers reasonable, or to stick to the test cases.

--------------------------------------------------------------------------
On a side note, there is an api available to log times. If you do `console.time('nameOfTheTimer')

[2016-10-04 12:45] nhquiroz opened #11050 "No mention about document type, html, body and head tags in the"
#### Challenge Name
[HTML5 and CSS track](https://www.freecodecamp.com/map-aside#nested-collapseHTML5andCSS)

#### Issue Description
Every HTML tutorial I read started with the `!DOCUMENT`, `html`, `body` and `head` tags. There's no mention about them in the current HTML track (and I don't see any changes in that direction in the Expansion).

Why is that? Anything related to the tests engine?

Tha

[2016-10-04 13:48] #11007 closed

[2016-10-04 13:59] karuppiah7890 commented on #11007
@Bouncey  @ltegman @dhcodes So, we just create PRs if the code works fine in `localhost:3000` ? And by the way, a lot of stuff don't work in `localhost:3001`, like the map page - `localhost:3001/en/map`, the search didn't work properly in it. Some react problems I guess, I don't know. And even clicking on the Map link while solving challenges, lead me to a new page instead of showing a sidebar on

[2016-10-04 14:09] mooseworx commented on #11050
One of these things is not like the other

[2016-10-04 14:09] karuppiah7890 commented on #11050
@nhquiroz I think it's all included behind the scenes, since the tags `!DOCUMENT` , `html` , `body`, `head` are all just a repetition in all the html code challenges.

And some more stuff are included behind the scenes, like the link tag to add Bootstrap CSS, and then the link tag to add FontAwesome CSS (see image).

So, this is no bug.

![eg](https://cloud.githubusercontent.com/assets/12808424/19

[2016-10-04 14:17] nhquiroz commented on #11050
I know this is not a technical bug and the tags are implicit, but it's a teaching bug.

You can't teach HTML to someone and ignore that.

[2016-10-04 14:22] karuppiah7890 commented on #11009
@Bouncey Shall I make a PR after testing this at `localhost:3000` as discussed in #11007 . Or is #11007 gonna be reopened ?

[2016-10-04 14:30] karuppiah7890 commented on #11050
Well, I should agree. But for a newbie, if you stress too much on these tags, they will lose patience and leave before you teach them the actual cool stuff. So, I think, they can wait and be taught later.

And yeah, I see that it's not mentioned anywhere(not even at a later part), like you said, so, may be you could chat with the moderators in the Gitter FreeCodeCamp chatroom and discuss about thi

[2016-10-04 14:34] dhcodes commented on #11050
@nhquiroz open a new issue over in https://github.com/FreeCodeCamp/CurriculumExpansion because it's worth a conversation.

[2016-10-04 14:36] nhquiroz commented on #11050
Thanks, I'll open a new issue in the correct place then!

[2016-10-04 14:36] #11050 closed

[2016-10-04 15:09] Web-Dev-Rich commented on #11006
@adamisntdead is this still in progress because I would _love_ to do it?

[2016-10-04 15:16] systimotic commented on #10403
It seems like the example technically isn't wrong. I would vouch to update it and add a semicolon. It could help prevent confusion and mistakes. It adds value, and doesn't take any away. Seems like a good idea to me!

[2016-10-04 15:16] adamisntdead commented on #11006
I am actually still working on this, done about half way

Sent from my iPhone

[2016-10-04 15:39] sultanmirza95 opened #11052 "Make all of your p elements use the Monospace font how to solve this"
Challenge [Set the Font Family of an Element](https://www.freecodecamp.com/challenges/set-the-font-family-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0Afont%20family%3A%20%22Monospace%22%3B%0A%20%20%7D%0A%20%20h2%20%7B%0Afont%20family%3A%20Sans-seif%3B%0A%7D%0A%3C%2Fstyle%3E%0A%0A

[2016-10-04 15:46] calvinseechuanli commented on #10951
mind to share your final code? i am stuck in this session as well! thanks man!

[2016-10-04 15:59] LissaNgSang commented on #10708
Hi,

Im having same issue here, tried both #2998E4 and  #1E90FF . Can you please fix this? Thanks!

[2016-10-04 16:30] Deadpool37 commented on #11052
@sultanmirza95 you have a small error in your code. In the future, please post in the [HelpJavascript](https://gitter.im/FreeCodeCamp/HelpJavaScript) Gitter channel first. If the consensus there is that it is a bug, then you should post here.

[2016-10-04 16:30] texas2010 commented on #11052
@sultanmirza95
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding..

[2016-10-04 16:30] #11052 closed

[2016-10-04 16:32] texas2010 commented on #10951
@calvinseechuanli
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-10-04 16:58] graysage commented on #10548
hasn't been fixed, still does not pass. oct 4 2016.

[2016-10-04 18:41] ledreamer opened #11055 "Bug <em>target4</em> isn't working - Change text inside an element using jQuery"
Challenge [Change Text Inside an Element Using jQuery](https://www.freecodecamp.com/challenges/change-text-inside-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target4%22).html(%22%3Cem%3Etarget4%3C%2Fem%3E%22)%3B%0A%20%20%20%20%0A%20%20%7D)%3B%0Afcces%0A%0A%3C!-

[2016-10-04 18:44] Deadpool37 commented on #11055
@ledreamer you have a small error in your code. In the future, please post in the [HelpJavascript](https://gitter.im/FreeCodeCamp/HelpJavaScript) Gitter channel first. If the consensus there is that it is a bug, then you should post here.

[2016-10-04 19:01] hallaathrad commented on #11022
Cool! so, does any other involved party want to chip in?

[2016-10-04 19:08] Bouncey commented on #11022
I happy with what is being proposed. We should be able to clear more PR's and issues with this

[2016-10-04 20:01] andmckvr13 commented on #10998
if @Manish-Giri is no longer interested in the fix I would be

[2016-10-04 20:03] atjonathan opened #11056 "Travis not recognizing eslint command"
As seen on [this line](https://travis-ci.org/FreeCodeCamp/FreeCodeCamp/jobs/165018923#L1271), the eslint command isn't being picked up by Travis CI.

[2016-10-04 20:45] atjonathan commented on #8839
I will take this on 👍

[2016-10-04 21:05] dhcodes commented on #10968
I had the same though. Link it to the docs.

[2016-10-04 21:44] erictleung commented on #11055
@ledreamer as @Deadpool37 has pointed out, there is a small (very small!) error. You're missing one character somewhere. If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-10-04 21:44] #11055 closed

[2016-10-04 22:31] BerkeleyTrue commented on #11056
This looks like it must be a bug in travis.

[2016-10-04 22:35] BerkeleyTrue commented on #11056
I've just restarted the travis job and got a different issue

[2016-10-04 22:53] BerkeleyTrue commented on #11056
Yup, looks like this was a temporary glitch https://travis-ci.org/FreeCodeCamp/FreeCodeCamp/builds/165026793#L335

[2016-10-04 22:53] #11056 closed

[2016-10-04 22:54] QuincyLarson commented on #8418
@ladybugtju Even though these rooms are somewhat active (a few messages a week) we've decided to close them. It's helpful to download rooms that we're keeping, but our goal is to make sure we've backed up all the rooms we're going to delete for archival purposes.

[2016-10-04 23:04] BerkeleyTrue commented on #11007
Wow, didn't realize 3001 was used in the docs. Yes 3000 should always be the default now.

[2016-10-04 23:17] QuincyLarson opened #11057 "Internationalized tests in coding challenges"
#### Issue Description

As a user, if I select a non-English language, the tests should also appear in that language.
#### Your Code

Here's an example implementation:

[code]

[2016-10-04 23:30] dianedangelo commented on #5702
I've been reading all the fixes for this. None of them are working for me! No matter what I can't pass this one!!

[2016-10-04 23:54] SherylHohman opened #11059 "Suggestion: Reorder the instructions to follow: top, right, bottom, left"
This Is Technically correct.

However, in the instructions, and in the code, I recommend that you instruct the student to set the borders in the following order: top, right, bottom, left.

currently you instruct and list tests in the order top, left, ..

Reason for suggestion is that the shortcut method runs top, right, bottom, left.
Clockwise starting at the top.

If the material is always presen

[2016-10-05 01:03] ladybugtju commented on #8418
@QuincyLarson: Thanks for the prompt response. I could help with that as well but since abhisekp has already joined all the room (He should have all the ids), I m thinking about downloading the core rooms plus maybe a few other rooms this weekend. It might take around 5H. The point is to open source the data and let people analyze it as well, right? I ll be able to provide the JSON format for some

[2016-10-05 01:24] QuincyLarson commented on #8418
@ladybugtju Yes - that would be really helpful. We can include the data from those rooms in the open dataset, too.

Regarding those other rooms you mentioned:
- FreeCodeCamp/HelpBonfires and FreeCodeCamp/HelpZiplines have been replaced by helpJavaScript and helpFrontEnd
- FreeCodeCamp/CamperPracticeProjects has been replaced by codereview
- FreeCodeCamp/CurriculumDevelopment has been replaced by C

[2016-10-05 01:40] QuincyLarson opened #11060 "Create individual landing pages for each section"
Certificates:
- [ ] Responsive Web Design
- [ ] JavaScript Algorithms and Data Structures
- [ ] Front End Libraries
- [ ] Data Visualization
- [ ] APIs and Microservices
- [ ] Information Security and Quality Assurance

Topics:
- [ ] [Basic HTML5 and CSS3](https://github.com/FreeCodeCamp/CurriculumExpansion/issues/6)
- [ ] [Applied Visual Design](https://github.com/FreeCodeCamp/CurriculumExpansion

[2016-10-05 02:10] Manish-Giri commented on #10998
@andmckvr13 it's in progress

[2016-10-05 02:39] QuincyLarson opened #11061 "Add challenge names and potentially breadcrumbs"
We can improve the searchability of our challenges by including additional text and links in the descriptions of these challenges.

We could add the following to the top of a challenge lesson description.

(these breadcrumbs would be clickable and lead to cert/topic landing pages)
Responsive Web Design > HTML5 and CSS > Say Hello to HTML Elements

Then: "Learn to Code with HTML and Say Hello to HT

[2016-10-05 02:40] QuincyLarson opened #11062 "Update machine-readable sitemap"
Our sitemap is out of date: https://www.freecodecamp.com/sitemap.xml

[2016-10-05 05:07] karuppiah7890 commented on #11007
@BerkeleyTrue Thanks for confirming!

[2016-10-05 05:08] sultanmirza95 opened #11063 "help"
Challenge [Add Rounded Corners with a Border Radius](https://www.freecodecamp.com/challenges/add-rounded-corners-with-a-border-radius#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20

[2016-10-05 05:09] sultanmirza95 commented on #11063
Your image element should have the class "thick-green-border". this is the error I'm getting

[2016-10-05 05:52] Deadpool37 commented on #11063
@sultanmirza95 as @VarCI-bot said there is a small error in your code. In the future, please post in the [HelpJavascript](https://gitter.im/FreeCodeCamp/HelpJavaScript) Gitter channel first. If the consensus there is that it is a bug, then you should post here.

[2016-10-05 06:10] erictleung commented on #11063
@sultanmirza95 thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: read the test your code is failing carefully. The answer why your code is not passing is in there. Double check your class names. Happy coding!

[2016-10-05 06:10] #11063 closed

[2016-10-05 08:22] karuppiah7890 commented on #11059
@SherylHohman The instructions like that just to reduce the redundancy in the sentence. It's easier to say

instead of

However, these challenges : [Use Clockwise Notation to Specify the Padding of an Element](https://www.freecodecamp.com/challenges/use-clockwise-notation-to-specify-the-padding-of-an-element) and [Use Clockwise Notation to Specify the Margin of an Element](https://www.freecodecamp

[2016-10-05 08:26] systimotic commented on #10557
These seem to work for me on Firefox 49.0.1, Windows 10. I'm guessing this may have been resolved? Could you check @dhcodes?

[2016-10-05 08:34] systimotic commented on #806
This bug doesn't seem to be happening in beta. Does that mean we can close this issue?

[2016-10-05 08:45] ivantedja commented on #806
the behaviour in beta is in here #10972

[2016-10-05 11:01] AntoineDS commented on #5623
@MK-Emon The S in Small should be Uppercase

[2016-10-05 12:20] Bouncey commented on #11059
@karuppiah7890 This issue is perfectly valid in this repo.

@SherylHohman personally I think the challenge instructions are clear enough, and the sentence structure is purely for brevity, as noted by @karuppiah7890 .

I am open to suggestions on how we can improve the instructions, so that they are presented in a clear and concise manner.

Happy Coding :tada:

[2016-10-05 12:22] Bouncey commented on #11033
@QuincyLarson @raisedadead Is this intended behaviour?

[2016-10-05 12:33] systimotic commented on #806
Ah, I see. Seems like the behaviour in this issue is no longer around, but what's happening in the other issue is definitely related. I'm working on a fix based on what you found.

[2016-10-05 12:37] karuppiah7890 commented on #11059
@Bouncey Oh, sorry. I mistook it. And yes, even I think the instructions are clear enough.

[2016-10-05 14:19] msanecki commented on #10953
@ThatToti - I thought same as you and then I read the tests once again:
All children of #right-well should have **orange text**....
and then all was clear :)
Take care
Marcin

[2016-10-05 14:45] msanecki commented on #10465
I would extend the instruction/explanation by this one sentence:
"The :nth-child(n) selector selects all elements that are the nth child, **regardless of type, of their parent**"

[2016-10-05 15:24] dhcodes commented on #10557
Not working here @systimotic

[2016-10-05 15:54] dhcodes commented on #7270
I'm trying to clear our some old issues. Shall we change:
`A lookUpProfile function that takes firstName and a property (prop) as arguments has been pre-written for you.`

to

`Using what you've learned about loops and lookups, complete the lookUpProfile function that takes firstName and a property (prop) as arguments.`

[2016-10-05 16:04] dhcodes commented on #8653
Closing this as it appears to be fixed in beta and locally.

[2016-10-05 16:04] #8653 closed

[2016-10-05 16:05] dhcodes commented on #8770
Closing as stale.

[2016-10-05 16:05] #8770 closed

[2016-10-05 16:07] dhcodes commented on #8839
@atjonathan lol, I just thought to myself, 'I could do this', and then I scroll down and see your comment.

[2016-10-05 16:09] dhcodes commented on #8867
Looks like this has been fixed. Reopen if I'm mistaken.

[2016-10-05 16:09] #8867 closed

[2016-10-05 17:11] Drizzt91AJ commented on #10944
Right but on the first example you used at the top of the page it says undefined, but if you take the first + sign out it comes back as correct. as such:

var myStr;
myStr = "This is the first sentence. ";
myStr += "This is the second sentence.";

When i run it like this, it green lights it and doesnt spit back the "undefined" part.
Thanks

[2016-10-05 17:22] dhcodes commented on #10945
Perhaps we should remove the MadLibs reference and use the Wikipedia entry for Phrasal Template? https://en.wikipedia.org/wiki/Phrasal_template

[2016-10-05 18:27] nsgonultas commented on #9851
I read CONTRIBUTING.md, cloned and ran freeCodeCamp on my computer but I need some help. Where should I start? Which files or directories are the potential sources of this issue?

[2016-10-05 18:46] Fernando-Marquardt commented on #10944
But if you did:

var myStr = "";
myStr += "This is the first sentence. ";
myStr += "This is the second sentence.";

It would also work.

[2016-10-05 18:52] erictleung commented on #9851
@nsgonultas thanks for your interest in contributing! The best place to get contributing help is to visit the [Contributors](https://gitter.im/FreeCodeCamp/Contributors) chat room.

[2016-10-05 19:05] Dayfiri opened #11068 "SyntaxError: Missing while after do-loop body"
#### Challenge Name

https://www.freecodecamp.com/challenges/roman-numeral-converter
#### Issue Description

SyntaxError: Missing while after do-loop body
![screenshot at 2016-10-05 20 55 03](https://cloud.githubusercontent.com/assets/16082563/19127160/2996f534-8b3e-11e6-8196-96780df9c4ef.png)
- Browser Name, Version: Firefox Dev edition,  version 51
- Operating System: Ubuntu Mate 16.04
- Mobile,

[2016-10-05 20:27] Bouncey commented on #11068
It is strange. With the `;` there, the code will not run and the output shows there is a syntax error.

Without the `;`, the editor highlights a syntax error, but the code runs and the challenge is passed.

There is no head or tail code in this challenge I think this might be an issue with codemirror linting.

[2016-10-05 20:31] #11009 closed

[2016-10-05 20:33] milesaylward opened #11070 "Counting cards"
Not so much an issue just noticed that on your Counting Card challenge the instructions tell you that if the count is greater than or equal to 0 you should bet but the code allows you to pass the challenge even if you don't set the greater than or equal to operator. The preview screen showed me 0 Hold, when it should have said 0 Bet. And I still passed the challenge.

#### Challenge Name
https://w

[2016-10-05 20:54] hristijankiko commented on #11070
I don't think you should Bet when the count is 0 based on these sentences, or i missed something?
http://image.prntscr.com/image/5b5ec74b2db74e98836df0e7a3b69ab5.png

[2016-10-05 21:46] Deadpool37 commented on #11070
@milesaylward as @hristijankiko said the instructions and the second test-case tell you that if the count is `0`, then the output should be `0 Hold`. So your code passed because it was correct.
In the future, please post in the [HelpJavascript](https://gitter.im/FreeCodeCamp/HelpJavaScript) Gitter channel first. If the consensus there is that it is a bug, then you should post here.

[2016-10-05 22:04] jfc246 opened #11071 "stuck on Style text inputs as form controls"
i'n stuck on Style text inputs as form controls
i have ask chat lots of times and none has had a answer so i'm not sure if it is a bug or not

#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-05 22:04] milesaylward commented on #11070
I apologize I misread the instructions, I will refer to the help JavaScript
in the future.

On Wed, Oct 5, 2016 at 5:49 PM, Ananay <notifications@github.com> wrote:

[2016-10-05 22:39] Deadpool37 commented on #11070
Cool :)

[2016-10-05 22:42] Bouncey commented on #11071
@jfc246 there are some errors in your code.

Please read the instructions again and review these lines:

[code]

If you are still stuck, please try the `help` button again

Happy Coding :tada:

I am closing this issue because it is for code help.

[2016-10-05 22:42] #11071 closed

[2016-10-05 23:07] dharmatara commented on #5461
Also, must make sure there are no spaces in ("<em>#target4</em>");

[2016-10-05 23:11] Dayfiri commented on #11068
Ok, thanks for fast reply :)

[2016-10-06 01:24] benschac commented on #11060
Can I help?!  Is there any design for this stuff?

[2016-10-06 01:56] erictleung commented on #11070
Closing as it seems the issue has resolved itself. Happy coding!

[2016-10-06 01:56] #11070 closed

[2016-10-06 07:42] themaxsandelin commented on #9886
Hi there, is this issues still in progress?

[2016-10-06 07:43] themaxsandelin commented on #10809
Is this issues still up for grabs? I would love to take it on :)

[2016-10-06 08:03] edsonmendieta opened #11072 "Sorted Union not accepting correct function returns?"
Challenge [Sorted Union](https://www.freecodecamp.com/challenges/sorted-union#?solution=%0Afunction%20uniteUnique(arr)%20%7B%0A%20%20%0A%20%20%0A%20%20var%20joinedArray%20%3D%20%5B%5D%3B%0A%20%20%0A%20%20var%20newArray%20%3D%20%5B%5D%3B%0A%20%20%0A%20%20var%20finalArray%20%3D%20%5B%5D%3B%0A%20%20%0A%20%20%0A%20%20for%20(i%20%3D%200%3B%20i%20%3C%20arguments.length%3B%20i%2B%2B)%20%7B%0A%20%20%20%20

[2016-10-06 08:52] ahmedghandour opened #11073 "Stand In Line challenge: Here's my code: But system won't allow me to proceed I don't know why?"
Challenge [Stand in Line](https://www.freecodecamp.com/challenges/stand-in-line#?solution=%0Afunction%20nextInLine(arr%2C%20item)%20%7B%0A%20%20%2F%2F%20Your%20code%20here%0A%20%20%0A%20%20testArr.push(item)%3B%0A%20%20return%20testArr.shift()%3B%20%20%2F%2F%20Change%20this%20line%0A%7D%0A%0A%2F%2F%20Test%20Setup%0Avar%20testArr%20%3D%20%5B1%2C2%2C3%2C4%2C5%5D%3B%0A%0A%2F%2F%20Display%20Code%0Acon

[2016-10-06 08:56] cynicaldevil commented on #9886
Ah, I think I will be unable to tackle this issue, I have some work to attend to. Maybe someone else can take it.

[2016-10-06 08:58] QuincyLarson commented on #10809
@themaxsandelin I think it's pretty far along already: https://github.com/FreeCodeCamp/FreeCodeCamp/pull/10957

There are plenty of other issues in the meantime, though :) Thanks for your help.

[2016-10-06 09:02] QuincyLarson commented on #11060
@bencassidy we are still trying to work out what a design would look like. These would be built in React, and display an image plus text and a table of the challenges. As long as those elements are there, we could then re-style it. We'd want a single view that we dynamically populate with data depending on the route.

Would you be interested in taking a crack at it?

[2016-10-06 09:23] Bouncey commented on #11072
The array value of [5] would be different to the array value of 5.

For instance if myArray = [1, [5]];
And yourArray = [1, 5];

To access the integer of 5 in both arrays would require two approaches.

Mine would be myArray[1][0];
And yours would be yourArray[1];

So in fact, the arrays do not have the same value in the index of one.

I hope this clears up your issue.

Happy coding

[2016-10-06 09:43] Dayfiri commented on #11073
Challenge works fine and here is an example of that. Problem is in your code, so check it again and tell me how it goes ;)

![screenshot at 2016-10-06 11 41 02](https://cloud.githubusercontent.com/assets/16082563/19147749/dc2435ce-8bb9-11e6-8569-b30390635197.png)

[2016-10-06 10:04] Charnarongthumwan commented on #8026
Thank you.

[2016-10-06 10:38] Dayfiri commented on #9878
Code works fine. Listen what @dhcodes said above me.

![screenshot at 2016-10-06 11 41 02](https://cloud.githubusercontent.com/assets/16082563/19149358/c0497aa0-8bc1-11e6-9c37-a6b41e72e3a4.png)

[2016-10-06 10:53] mogwop commented on #10719
<style>.red-text {color: red;}</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
<style>p{font-size: 16px;}</style>
<p>Kitty ipsum dolor</p>

[2016-10-06 10:54] mogwop commented on #10719
<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
<style>p{font-size: 16px;}</style>
<p>Kitty ipsum dolor</p>

[2016-10-06 12:51] Deadpool37 commented on #11073
@ahmedghandour you have a small error in your code. In the future, please post in the [HelpJavascript](https://gitter.im/FreeCodeCamp/HelpJavaScript) Gitter channel first. If the consensus there is that it is a bug, then you should post here.

[2016-10-06 13:03] jonataswalker commented on #10740
It's being a hard time to finish "Twitchtv JSON API" challenge.

@QuincyLarson  said:

But [Twitch-API docs](https://github.com/justintv/Twitch-API/blob/master/v3_resources/streams.md#example-response) says, if offline:

[code]
And in @QuincyLarson's gist there's no `stream` property. Maybe in the meantime they've changed their API?

If I understood, to complete this challenge we won't use Twitcht

[2016-10-06 14:17] burpi opened #11074 "Understanding Uninitialized Variables bug?"
Challenge [Understanding Uninitialized Variables](https://www.freecodecamp.com/challenges/understanding-uninitialized-variables#?solution=%0A%2F%2F%20Initialize%20these%20three%20variables%0Avar%20a%20%3D%205%3B%0Avar%20b%20%3D%2010%3B%0Avar%20c%20%3D%20%22i%20am%20a%22%3B%0A%0A%2F%2F%20Do%20not%20change%20code%20below%20this%20line%0A%0Aa%20%3D%20a%20%2B%201%3B%0Ab%20%3D%20b%20%2B%205%3B%0Ac%20%3

[2016-10-06 14:22] hristijankiko commented on #11074
The problem is that the first " i " should be upper case so "i am a" => "I am a" it looks like the string is case sensitive I'm not sure if it is a bug or it should be like that tho.

[2016-10-06 14:25] burpi commented on #11074
ooh offcourse sorry :) now i feel stupid

[2016-10-06 14:25] texas2010 commented on #11074
@burpi, you almost got it right. but you wrote `var c = "i am a";`.
It suppose to be `var c = "I am a";`

this issue dont have a bug.
Next time, please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.
GitHub Issues are for reporting bugs on the website only.

Happy Coding.

[2016-10-06 14:25] #11074 closed

[2016-10-06 14:32] MeHigh777 opened #11075 "Code is correct but won't pass"
I've completed the first 2 stepts but i can't get pass the third one...if i change wordBlanks acordingly to the 3rd step it says that the 2nd one is not completed.

Challenge [Word Blanks](https://www.freecodecamp.com/challenges/word-blanks#?solution=%0Afunction%20wordBlanks(myNoun%2C%20myAdjective%2C%20myVerb%2C%20myAdverb)%20%7B%0A%20%20var%20result%20%3D%20%22%22%3B%0A%20%20%2F%2F%20Your%20code

[2016-10-06 14:38] edsonmendieta commented on #11072
Ah, that makes sense. Thank for clearing that up!

[2016-10-06 14:38] #11072 closed

[2016-10-06 14:39] erictleung commented on #11073
@ahmedghandour thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: please review your knowledge of function scope. You can only use variables that are scoped by your function. Happy coding!

[2016-10-06 14:39] #11073 closed

[2016-10-06 14:42] erictleung commented on #11075
@MeHigh777 thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: do not reassign your variables within the function. Make use of the function parameters being passed in. Happy coding!

[2016-10-06 14:42] #11075 closed

[2016-10-06 14:47] erictleung commented on #10945
There has been discussion about this earlier https://github.com/FreeCodeCamp/FreeCodeCamp/issues/10100 and changes being merged https://github.com/FreeCodeCamp/FreeCodeCamp/pull/10172. I guess they just haven't been pushed up to production yet.

The changes made are something like this.

Any changes to be made to this?

[2016-10-06 15:14] benschac commented on #11060
I know nothing about react, but this seems like a good opportunity to learn!

On Thu, Oct 6, 2016 at 5:05 AM, Quincy Larson <notifications@github.com>
wrote:

--
*Benjamin Schachter*
Project Manager
bschachter@dramafever.com
<https://www.dramafever.com/>

[2016-10-06 15:17] MeHigh777 commented on #11075
Ooohhhh...haha...i get it now.
Thanks!
Much apreciated

[2016-10-06 15:31] bencassidy commented on #11060
I think I was tagged incidentally. Seems like interesting work but I'll have to pass for now.

[2016-10-06 15:41] #7268 closed

[2016-10-06 15:44] fadrom opened #11076 "<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-06 15:45] #11076 closed

[2016-10-06 15:52] fadrom opened #11077 "Error with task - capital letter"
Do you have the same problem or I am doing something wrong?
Your form should have a button inside it.  - ok
Your submit button should have the attribute type set to submit.
Your submit button should only have the text  "_Submit_".
Make sure your button element has a closing tag.
Bellow link to task.
https://www.freecodecamp.com/challenges/add-a-submit-button-to-a-form#?solution=%0A%3Clink%20href%3

[2016-10-06 15:57] fadrom commented on #11077
Ok, my fault, sorry I did a mistake.

[2016-10-06 15:57] #11077 closed

[2016-10-06 16:26] Tattomoosa opened #11078 "Completely frozen, cannot reset Steamroller Challenge, even on reload"
#### Challenge Name

https://www.freecodecamp.com/challenges/steamroller

#### Issue Description

Not sure why this is happening - the page freezes before even running my code on refresh. I cannot reset the challenge because none of the buttons on the page work. I am assuming some infinite loop issue in my code but I can't understand why it would freeze before running.

I want to reset the challen

[2016-10-06 17:01] dhcodes commented on #11078
@Tattomoosa you likely wrote an infinite loop that wasn't caught by loop-protect. Try this: http://forum.freecodecamp.com/t/disable-code-auto-run-on-free-code-camp/19511

[2016-10-06 17:23] Tattomoosa commented on #11078
Ah! Thank you, that worked!

[2016-10-06 17:26] Tattomoosa commented on #11078
Well, it looked like it worked -- I can press reset and it clears. But if I reload the page with code running enabled it loads the old code and locks up again.

[2016-10-06 17:26] Ankur-Jat opened #11079 "Solution is not accepted by editor."
Challenge [Nest Many Elements within a Single Div Element](https://www.freecodecamp.com/challenges/nest-many-elements-within-a-single-div-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possibl

[2016-10-06 17:27] Ankur-Jat commented on #11079
Its keep saying that "Nest your ul element inside your div element." this case is not passed.

[2016-10-06 17:29] ahmedghandour commented on #11073
Thanks guys, I'll try again and again until it is Ok, and I'll post in the help it was my mistake

[2016-10-06 17:31] dhcodes commented on #11078
Well the most recent submission is what is stored in the cache. So if you copy your code, reset the code and then push sumbit, and then paste it back in, it should work.

Alternatively, you could copy your code, clear your history, and then re-log in, etc.

[2016-10-06 17:33] Ankur-Jat commented on #11079
there was an issue in "<p>Things cats love:</p" line. It should be "<p>Things cats love:</p>". Thanks to @Hannahgram figuring out in "help" chat room.

[2016-10-06 17:33] #11079 closed

[2016-10-06 17:34] Deadpool37 commented on #11078
@Tattomoosa I changed your code that made it work for me. The changes I made have been written in bold
function steamrollArray(arr) {
  var flatArr=[];
  for (**var** i=0;i<arr.length;i++) {
    if (Array.isArray(arr[i])) {
      flatArr = flatArr.concat(steamrollArray(arr[i]));
    } else {
      flatArr.push(arr[i]);
    }
  }
  return **str**;
}

[2016-10-06 17:37] Deadpool37 commented on #11078
@Tattomoosa also incase of an infinte loop I prefer using `auto-run` insted of `run`

[2016-10-06 17:49] Tattomoosa commented on #11078
Thanks Deadpool37!!

Returning 'arr' instead of 'flatArr' was by mistake, and I thought that was the root of the problem, but I'm so glad you pointed out the issue with the scope of 'i' -- that would have really messed me up!

[2016-10-06 17:53] Deadpool37 commented on #11078
👍

[2016-10-06 17:55] #11078 closed

[2016-10-06 18:31] Dayfiri commented on #11060
*Closed*
[code]
Can someone update this ?

[2016-10-06 19:22] egossick commented on #10996
lumenotti thanks for the post.  I would not figured it out....I kept changing the background color with no luck.

[2016-10-06 19:40] QuincyLarson commented on #10740
@jonataswalker Yes - you should use my gist instead of using the API. We plan to retire this challenge as soon as we can launch our expanded curriculum.

[2016-10-06 20:06] #10621 closed

[2016-10-06 20:29] systimotic commented on #10557
That's really weird. It works perfectly in both the beta and the live version for me. 😕

[2016-10-06 20:43] jonataswalker commented on #10740
Right @QuincyLarson but what is **_online/offline/invalid_** in your (kinda) json?

[2016-10-06 21:09] ssathya opened #11081 "would not pass the test if there is a spce between reusableFunction & ("
Challenge [Write Reusable JavaScript with Functions](https://www.freecodecamp.com/challenges/write-reusable-javascript-with-functions#?solution=%0A%2F%2F%20Example%0Afunction%20ourReusableFunction()%20%7B%0A%20%20console.log(%22Heyya%2C%20World%22)%3B%0A%7D%0A%0AourReusableFunction()%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0Afunction%20reusableFunction%20()%20%7B%0A%20%20consol

[2016-10-06 21:52] Deadpool37 commented on #11081
@ssathya Your code passes all tests irrespective of the whitespaces between the function and its parentheses. I would suggest you to try again and if you get stuck, then also provide screenshots.
In the future, please post in the [HelpJavascript](https://gitter.im/FreeCodeCamp/HelpJavaScript) Gitter channel first. If the consensus there is that it is a bug, only then you should post here.

[2016-10-06 22:39] erictleung commented on #11081
@ssathya thanks for the issue. Your code passes the challenges so I'm assuming the issue you've faced was in the calling of the function after you defined it, not in the definition of the function. In other words, calling `reusableFunction ();` failed the tests.

And yes, this is on purpose because having a space between the function call and the parentheses is highly unusual, even taking differen

[2016-10-06 23:28] ahmedghandour commented on #11073
Thanks a lot erictleung, you've been of great help. Thanks again.
I passed the challenge.

[2016-10-06 23:58] menachemgold commented on #4150
hi I created a class <img class="smaller-image">https://bit.ly/fcc-relaxing-cat</img> it didn't work when I typed smaller image in style section

[2016-10-07 00:02] texas2010 commented on #4150
@menachemgold, Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-10-07 00:20] ZaneCane opened #11084 "Largest & Smallest Number finder problem"
Need help with school project.(JGrasp)

Program supposed to find the largest and smallest Numbers in a file and display them.
It is also supposed to stop reading a file if it comes accross the number -99.

The program I made complies and runs without any issues but it will not display the desired values.

import java.util.Scanner;
import java.io.*;

public class LargestSmallest
{
   public static

[2016-10-07 00:24] #11084 closed

[2016-10-07 00:25] arias93jordy commented on #7847
Hi, I'm new to this program and I have been experiencing the same issue from the first challenge. It is really annoying, specially when I feel like I'm on a roll and feel like I know what I'm about to do , but can't do anything right away because the cursor doesn't wanna go where I need it to .

if anyone has a solution, please tell me about it, I would greatly appreciate it.

thank you in advance

[2016-10-07 01:21] QuincyLarson commented on #10740
@jonataswalker I'm not sure I understand you. I retrieved these directly from queries to Twitch using an API key. These are the raw responses, concatenated into a single JSON document.

[2016-10-07 01:56] joshuaboulton commented on #10838
I had the same problem. Kbeni's answer did fix the problem, but I have no idea where you got this text from. Is there meant to be some link here to some additional Kitty Ipsum text? That text is nowhere to be found on my screen.

[2016-10-07 02:16] marienhof opened #11085 "Why is there "var result = "";" before user's code?"
Challenge [Word Blanks](https://www.freecodecamp.com/challenges/word-blanks#?solution=%0Afunction%20wordBlanks(myNoun%2C%20myAdjective%2C%20myVerb%2C%20myAdverb)%20%7B%0A%20%20var%20result%20%3D%20%22%22%3B%0A%20%20%2F%2F%20Your%20code%20below%20this%20line%0A%20%20var%20result%20%3D%20myNoun%20%2B%20%22%20%22%20%2B%20%22%20lover%20%22%20%2B%20myAdjective%20%2B%20%22%20%22%20%2B%20myVerb%20%2B%20%

[2016-10-07 02:56] scoobydoobop opened #11086 "Give background color of silver to div element.. Code appears to pass, however results not displaying."
Challenge [Give a Background Color to a Div Element](https://www.freecodecamp.com/challenges/give-a-background-color-to-a-div-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20

[2016-10-07 03:55] erictleung commented on #11085
@marienhof that piece of code is there in order to initialize the variable `result` so that the default seed code works. Otherwise, without the `var result = "";` at the beginning of the function, the function would return `result` and throw an error. Hope that helps. This isn't really an issue with the code so I'll be closing the issue. Happy coding!

[2016-10-07 03:55] #11085 closed

[2016-10-07 04:37] erictleung commented on #11086
@scoobydoobop mmm this is odd. I think your browser is injecting code that fails the regex in the challenge test. This "bug" reminds me of another issue we have on Android devices https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7753. Deleting the first two spaces in front of `background-color` made the silver background show up for me.

[2016-10-07 04:59] ltegman commented on #11062
About to put up a PR for this. Should it include subdomain pages like Medium and the Forum?

[2016-10-07 05:47] myCODERjourney commented on #10123
I have the same issue, and it is driving me nuts!

[2016-10-07 06:09] QuincyLarson commented on #11062
@ltegman Awesome! This should only include www.freecodecamp.com paths. One thing the old sitemap did, which may have hurt us, was index all of the user profiles - and there are literally 500k of those, most of which have nothing more than a username. We might not want to index all of these on our sitemap, and rather let Google crawl these on its own.

[2016-10-07 07:17] anarchyrucks commented on #10740
@QuincyLarson your gist doesn't have a stream property anywhere which is used to know if someone is online/offline

[2016-10-07 07:41] thanhjack9x opened #11088 "Gh"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-07 09:48] Bouncey commented on #11086
@erictleung is correct, there are two `&nbsp;`'s before `background-color: silver;` which throw off the regex.

Is there a chance we can change the assert test to not use a regex?

[2016-10-07 09:52] jonataswalker commented on #10740
That's what I meant in my first comment. The gist (guessing here) must be out-of-date.

[2016-10-07 09:57] williamlionel commented on #5890
<script>
  $(document).ready(function() {
    $("button").addClass("animated");
    $(".btn").addClass("shake");
    $("#target1").addClass("btn-primary");
    $("#target1").addClass("animated shake btn-primary");
  });
</script>

Just that. Good Luck

[2016-10-07 11:32] ktajpuri commented on #10056
This doesn't work yet?? Does it require some help?

[2016-10-07 12:09] Jaimiec420 opened #11089 "Think i have found a bug on this one the imput and placeholder seem to be correct but the third question does make me pass"
Challenge [Add Placeholder Text to a Text Field](https://www.freecodecamp.com/challenges/add-placeholder-text-to-a-text-field#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-fam

[2016-10-07 12:37] v0109 opened #11090 "Mymy"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-07 12:38] v0109 commented on #11090
001-302-255-8888

[2016-10-07 12:47] Dayfiri commented on #11089
The 3. one tells you: `The finished input element should have valid syntax. ` That rule has not been met so the assignment won't let you pass. For that info, here you can see that assignment works fine...
![screenshot at 2016-10-07 14 47 02](https://cloud.githubusercontent.com/assets/16082563/19190295/fea5f900-8c9c-11e6-9019-37024e80d9f3.png)

[2016-10-07 12:58] #11090 closed

[2016-10-07 13:04] #11088 closed

[2016-10-07 13:14] texas2010 commented on #11089
@Jaimiec420 Thanks for reporting this. But your code is incorrect. This challenge dont have a bug.
GitHub Issues are for reporting bugs on the website only
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding..

[2016-10-07 13:14] #11089 closed

[2016-10-07 13:22] ssathya commented on #11081
okay

[2016-10-07 13:22] #11081 closed

[2016-10-07 13:29] dhcodes commented on #11086
Or would allowing optional spaces in the Regex as we have with other tests correct this?

[2016-10-07 14:28] Bouncey commented on #11086
IIRC \s does not match a nbsp

We could possibly do

assert(code.replace([the-escape-for-nbsp], '').match([regex]))....

But would have to test it to be sure. Is there even an escape for nbsp, or
is it a purely HTML thing?

On Friday, 7 October 2016, Dylan <notifications@github.com> wrote:

[2016-10-07 14:28] Myst commented on #10158
I think the calculator is working Ok. You have to notice that there 2 kinds of calculators.
The first one is a simple calculator wich operates in the order that inputs are inserted.
The second one is a calculator wich operates the whole expresion having in consideration the priority of the operations you have done.
I think the calculator is ok and don't need to be changed, just in case you want to

[2016-10-07 15:18] JHFDowning commented on #7847
@arias93jordy a few posts up @sethmchris posted a workaround. I've tested it and it works for me- give it a shot.

[2016-10-07 15:47] marienhof opened #11092 "Clarify what the `.pop()` method does"
Maybe you should add "The pop() method removes the last element from an array and returns that element".

Challenge [Manipulate Arrays With pop](https://www.freecodecamp.com/challenges/manipulate-arrays-with-pop) has an issue.
User Agent is: <code>Mozilla/5.0 (iPad; CPU OS 10_0_2 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) Version/10.0 Mobile/14A456 Safari/602.1</code>.
Please describe

[2016-10-07 15:58] rolljee opened #11094 "Basic Algorithm Scripting - Check for Palindromes Incomplete   *"
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=%0Afunction%20palindrome(str)%20%7B%0A%20%20var%20e1%20%3D%20%2F%5CS%2Fg%3B%0A%20%20var%20e2%20%3D%20%2F%5CD%2Fg%3B%0A%20%20var%20e3%20%3D%20%2F%5Cw%2Fg%3B%0A%20%20var%20e4%20%3D%20%2F%5E_%2Fg%3B%0A%20%20console.log(str.match(e1).join(%22%22).match(e2).join('').match(e3).join('').toLowerCase()

[2016-10-07 16:02] Deadpool37 commented on #11092
@marienhof thanks for the sugestions. What you have suggested here is already there in the challenge description, it's example, the instruction and the code setup. So, I don't think it is required.

Happy Coding

[2016-10-07 16:10] erictleung commented on #11092
@marienhof are you suggesting this addition because this statement may be as clear to some people? The text later on in the text explains what `.pop()` does with a mini-code example.

[2016-10-07 16:12] Deadpool37 commented on #11094
@rolljee thanks for the issue. Read the challenge again it says you need to remove all the **non-alphanumeric characters**. That means `"1 eye for of 1 eye."` should be read as `"1eyeforof1eye"`

[2016-10-07 16:12] erictleung commented on #11094
@rolljee thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Please reread the instructions and look up the definition of "non-alphanumeric characters."

Happy coding!

[2016-10-07 16:12] #11094 closed

[2016-10-07 16:19] marienhof opened #11095 "Suggestion"
I'd add "It's important that you push an item, and not an array that contains only that item, because those are two different things".

Challenge [Stand in Line](https://www.freecodecamp.com/challenges/stand-in-line#?solution=%0Afunction%20nextInLine(arr%2C%20item)%20%7B%0A%20%20%2F%2F%20Your%20code%20here%0Aarr.push(item)%3B%0A%20%20var%20miss%20%3D%20arr.shift()%3B%0A%0A%20%20return%20miss%3B%20

[2016-10-07 16:31] Talib12345 opened #11096 "its not giving output properly"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2016-10-07 16:54] dhcodes commented on #11096
@Talib12345 thanks for your issue. In this case, there's an error in your code. Please push the help button on the challenge and ask for help from a fellow camper in the chat room.

[2016-10-07 16:54] #11096 closed

[2016-10-07 17:28] Dayfiri commented on #11095
This assignment is under "Basic Javascript" and I think that assignments should be the same way "basic" like they actually are. It is true that that item !== array_item but that's not the point here. The point here is to teach people a new method from JS and how to implement it. Everything in depth would probably confuse people even more than it would actually teach them.

[2016-10-07 18:02] dhcodes commented on #11095
I think this adds a jump in thought not necessarily experienced by all campers.

[2016-10-07 18:03] gsr3568 opened #11098 "how to add dist-tag"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-07 18:17] erictleung commented on #11098
@gsr3568 if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Closing as a non-issue. Please comment back or make a new issue if you have an issue with the site itself. Happy coding!

[2016-10-07 18:17] #11098 closed

[2016-10-07 18:18] systimotic commented on #11068
I've spent some time investigating this issue, messing with the provided code sample. I found that this issue didn't only disappear when removing the semi-colon, but also by removing the newlines inside of the `do` body. Adding any content to those lines also seems to fix the issue (at first I though indenting the line fixed it, but I guess that's just because I'm adding spaces to the line). There

[2016-10-07 18:28] edsonmendieta opened #11099 "Tab crashing, no infinite loop warning, code runs fine elsewhere."
Challenge [Sum All Odd Fibonacci Numbers](https://www.freecodecamp.com/challenges/sum-all-odd-fibonacci-numbers#?solution=%2F%2F%20returning%20%22arr%22%20crashes%20tab%20every%20time.%20returning%20anything%20else%20does%20not.%20%0A%2F%2F%20when%20I%20run%20this%20code%20here%2C%20https%3A%2F%2Frepl.it%2FDrCu%2F1%2C%20with%20%22return%20arr%22%2C%20it%20returns%20%22arr%22%20without%20any%20prob

[2016-10-07 18:41] #11099 closed

[2016-10-07 20:49] SherylHohman commented on #11059
Perhaps I mis-named the section I was intending to refer to.
My apologies for incorrect terminology:  I'm not familiar with FreeCodeCamp setup.

Now that I think about it, it's probably the order the Tests are run in the Test Runner (?).
(Perhaps still wrong terminology, maybe closer though..?)
I agree, the "instructions" are fine..
But the section down below, where each of the (challenges, points

[2016-10-07 21:26] QuincyLarson commented on #10740
@anarchyrucks @jonataswalker I just made this gist a few days ago, but if it's out of date for some reason (maybe I used an older version of the API?) then could one of you create a version that's up to date? I can then update my gist based on it.

[2016-10-07 23:40] marienhof opened #11101 "Mistake"
It should be <10 and >5.

Challenge [Comparisons with the Logical Or Operator](https://www.freecodecamp.com/challenges/comparisons-with-the-logical-or-operator) has an issue.
User Agent is: <code>Mozilla/5.0 (iPad; CPU OS 10_0_2 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) Version/10.0 Mobile/14A456 Safari/602.1</code>.
Please describe how to reproduce this issue, and include links to s

[2016-10-07 23:42] marienhof commented on #11092
Yep, it'll be clearer

[2016-10-08 00:14] energizerpiggy commented on #11092
Can you please just get someone to me and help me

On 8 Oct 2016 00:44, "Sergie Marienhof" <notifications@github.com> wrote:

[2016-10-08 00:37] dna113p commented on #11101
I am not sure if this is talking about the problem itself or the example text. The example text is:

```will return "Yes" only if num is between 5 and 10 (5 and 10 included). The same logic can be written as:```
[code]
Which is certainly correct.

The problem Instructions don't even deal with 5 and 10 but rather 10 and 20 so maybe there is a confusion between the example and the instructions for t

[2016-10-08 01:19] energizerpiggy commented on #11092
I am a dirty gay sub sleazy open minded fist/piss pig that likes being used
by guys 18-30 .  Do you think I have a career of secret personal shows? Lol

On 8 Oct 2016 01:14, "Alan Cole" <colealan99@gmail.com> wrote:

[2016-10-08 02:56] dhcodes commented on #11101
The instructions read correctly to me as well as the statement returns "No" if < 5 or > 10.

[2016-10-08 03:02] erictleung commented on #11101
@marienhof can you elaborate on what the issue is?

[2016-10-08 03:23] marienhof opened #11102 "Maybe a mistake"
If you have many options to choose from, use a switch statement. A switch statement tests a value and can have many case statements **which defines** various possible values. Statements are executed from the first matched case value until a break is encountered.

Isn't it "which define"?

Challenge [Selecting from many options with Switch Statements](https://www.freecodecamp.com/challenges/selecti

[2016-10-08 03:41] erictleung commented on #11102
@marienhof nice catch! Yes, it should be "...which define..." instead of "...which defines..."

[code]

[2016-10-08 03:45] chakrihacker commented on #11102
I will take this

[2016-10-08 04:15] prathameshawale opened #11103 "cant run"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3Ablue%3B%7D%0A%3C%2Fstyle%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass

[2016-10-08 04:39] marienhof opened #11104 "No explanation what anti-pattern is"
Challenge [Returning Boolean Values from Functions](https://www.freecodecamp.com/challenges/returning-boolean-values-from-functions) has an issue.
User Agent is: <code>Mozilla/5.0 (iPad; CPU OS 10_0_2 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) Version/10.0 Mobile/14A456 Safari/602.1</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My

[2016-10-08 05:44] erictleung commented on #11103
@prathameshawale thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). I would reset your code and reread the instructions again. You still need your `<h2>` element. You're just deleting the `style` attribute.

Happy coding!

[2016-10-08 05:44] #11103 closed

[2016-10-08 06:14] karuppiah7890 commented on #11059
@SherylHohman Oh, okay, so you meant the order of the Test cases. And you are right about the terminology this time, and it's fine if you didn't know the terminology, now you do. :smile:

Yes, this is the right place to keep the issue open. I m sorry that I mistook it earlier. I just thought changing the instructions in the code would first require some discussion which can be done in the Curricul

[2016-10-08 06:58] chammock opened #11105 "Use the abbreviated hex code for the color green Issue"
Challenge [Use Abbreviated Hex Code](https://www.freecodecamp.com/challenges/use-abbreviated-hex-code#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20%23F00%3B%0A%20%20%7D%0A%20%20.fuchsia-text%20%7B%0A%20%20%20%20color%3A%20%23F0F%3B%0A%20%20%7D%0A%20%20.cyan-text%20%7B%0A%20%20%20%20color%3A%20%230FF%3B%0A%20%20%7D%0A%20%20.green-text%20%7B%0A%20%20%20%20color%3A%20%230

[2016-10-08 06:59] #11105 closed

[2016-10-08 07:19] Bouncey commented on #11059
Ok, the tests for the challenge are held in an array [here](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/a8cdb4eb6f74b741b1dc9f141bead3c625b37888/seed/challenges/01-front-end-development-certification/html5-and-css.json#L3846).

They need to re-ordered so they follow the top-right-bottom-left notation of the padding shortcut syntax.

This is for first-timers only, be sure to read and follow C

[2016-10-08 08:04] tourn171 commented on #11104
It explains everything that it needs to. Anti-pattern is a literary device used to describe a pattern of doing something that is not efficient or ineffectual. The point in the lesson is that there is no need to add the entire if else statement because comparison operators return true false in the first place. It's why things like

`var a = true;
if(a){ return b;}`

work. So instead of using the wh

[2016-10-08 08:19] vgvenkat commented on #11059
Hey guys, I would like to take this one.

[2016-10-08 08:25] karuppiah7890 commented on #11059
@vgvenkat Sure! Go ahead!

[2016-10-08 08:55] Dayfiri commented on #11101
![screenshot at 2016-10-08 10 29 42](https://cloud.githubusercontent.com/assets/16082563/19211672/391f5a0e-8d42-11e6-8d5e-20da3914b7bf.png)

I think here comes confusion on the first sight.
[code]
Example says only numbers that are between 2 if's will return "Yes" string.
Numbers [6,7,8,9] will return yes because (>, <) operators do not include numbers 5 and 10.

@marienhof I think you mean that i

[2016-10-08 12:17] #9781 closed

[2016-10-08 12:17] #11040 closed

[2016-10-08 12:19] atjonathan commented on #11060
@Dayfiri, what do you mean by closed?

[2016-10-08 13:26] Dayfiri commented on #11060
I mean by the text "Closed" with color background: red, under name of the Topic when you open it in a browser window.

[2016-10-08 14:23] texas2010 commented on #11092
@energizerpiggy Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-10-08 14:44] Em-Ant commented on #10740
@QuincyLarson if someone has some good data we can make a fake API on Hyperdev or Heroku that works only for the 7-8 accounts that we use in the project. I don't know if it's worth it since we are retiring the project.

[2016-10-08 16:24] atjonathan commented on #11060
@Dayfiri, I see. Those are closed because the challenges are being QA-ed!

[2016-10-08 16:41] Dayfiri commented on #11060
Aha, ok thanks for the info

[2016-10-08 16:57] jack1435 opened #11107 "Appening string with += does not work"
Challenge [Appending Variables to Strings](https://www.freecodecamp.com/challenges/appending-variables-to-strings#?solution=%0A%2F%2F%20Example%0Avar%20anAdjective%20%3D%20%22awesome!%22%3B%0Avar%20ourStr%20%3D%20%22Free%20Code%20Camp%20is%20%22%3B%0AourStr%20%2B%3D%20anAdjective%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0Avar%20someAdjective%20%3D%20%22Fun!%22%3B%0Avar%20mySt

[2016-10-08 17:18] #11107 closed

[2016-10-08 18:38] MndArieska opened #11108 "finally"
Challenge [Convert Celsius to Fahrenheit](https://www.freecodecamp.com/challenges/convert-celsius-to-fahrenheit#?solution=%0Afunction%20convertToF(celsius)%20%7B%0A%20%20var%20fahrenheit%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%20fahrenheit%20%3D%20celsius%20*%209%2F5%20%2B%2032%3B%0A%20%20%0A%20%20%2F%2F%20Only%20change%20code%20above%20this%20line%0A%20%20return%20

[2016-10-08 18:44] #11108 closed

[2016-10-08 18:44] jonathan-kagi commented on #9314
if better instructions existed folks would not be posting here with questions. please improve

[2016-10-08 19:21] hristijankiko opened #11109 "Babel dependency"
We currently have the babel dependencies listed in the production dependencies, but based on this article: https://www.codecademy.com/articles/react-setup-ii  they are not needed for the production app. I think we should move them to dev-dependencies.

![](http://image.prntscr.com/image/c1acd903d2c646de9e0ed75e08c44580.png)

[2016-10-08 19:40] petrgazarov commented on #10564
Hi the link in the PR description throws a 404 error. Is this issue still relevant?

[2016-10-08 19:59] zaidfaridi opened #11110 "Passed the challenge by multiplying by 100"
Challenge [Generate Random Whole Numbers with JavaScript](https://www.freecodecamp.com/challenges/generate-random-whole-numbers-with-javascript#?solution=%0Avar%20randomNumberBetween0and19%20%3D%20Math.floor(Math.random()%20*%2020)%3B%0A%0Afunction%20randomWholeNum()%20%7B%0A%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%20var%20math%20%3D%20%20Math.floor(Math.random()%20*%20100)

[2016-10-08 20:26] petrgazarov commented on #11110
I'm able to reproduce this and I would like to work on it.

[2016-10-08 20:56] SherylHohman commented on #11059
Thanks!

The same issue less in the next two challenges (correct term?).

If no-one minds, I'd like to do the contribution for the other two instances..

:-)

[2016-10-08 21:15] SherylHohman opened #11111 "Margins: Re-Order Tests to run in Top-Right-Bottom-Left order"
Challenge [Add Different Margins to Each Side of an Element](https://www.freecodecamp.com/challenges/add-different-margins-to-each-side-of-an-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:47.0) Gecko/20100101 Firefox/47.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Currently tests are run in Top, Left, Rig

[2016-10-08 21:33] jenny0325 commented on #7201
the solution is
 <div class="container-fluid">
  <h3 class="text-primary text-center">jQuery Playground</h3>
<div class="row">    <---it works because it is under the h3 element.
  </div>
  </div>

[2016-10-08 22:05] QuincyLarson opened #11112 "Minimalist example projects with tests: Random Quote Machine"
Soon, campers will be able to build all front end projects right on FreeCodeCamp.com (no need for CodePen). We will also use automated tests to check whether campers have completed all of the agile user stories (and code review will become optional).

This means we need to redesign these projects to have user stories that can be tested. And we should err on the side of having lots of tests (I'm th

[2016-10-08 22:08] QuincyLarson opened #11113 "Minimalist example projects with tests: JavaScript Calculator"
Soon, campers will be able to build all front end projects right on FreeCodeCamp.com (no need for CodePen). We will also use automated tests to check whether campers have completed all of the agile user stories (and code review will become optional).

This means we need to redesign these projects to have user stories that can be tested. And we should err on the side of having lots of tests (I'm th

[2016-10-08 22:15] taigar4 commented on #11110
pleasse i need smtp login and username for send test for my site plezz hellp

[2016-10-08 22:18] QuincyLarson opened #11114 "Minimalist example projects with tests: Pomodoro Clock"
Soon, campers will be able to build all front end projects right on FreeCodeCamp.com (no need for CodePen). We will also use automated tests to check whether campers have completed all of the agile user stories (and code review will become optional).

This means we need to redesign these projects to have user stories that can be tested. And we should err on the side of having lots of tests (I'm th

[2016-10-08 22:19] QuincyLarson commented on #11114
I'm moving this to the Curriculum Development repo.

[2016-10-08 22:19] #11114 closed

[2016-10-08 22:19] QuincyLarson commented on #11112
I'm moving this to the curriculum development repo.

[2016-10-08 22:19] #11112 closed

[2016-10-08 22:20] QuincyLarson commented on #11113
I'm moving this to the curriculum development repo.

[2016-10-08 22:20] #11113 closed

[2016-10-08 23:30] QuincyLarson commented on #10158
@no-stack-dub-sack Thanks for your patience with the long process here. @SamAI-Software brought this issue to my attention last week, and I have been actively thinking about it.

We have been planning to completely revamp all of our projects.

Soon, campers will be able to build all front end projects right on FreeCodeCamp.com (no need for CodePen). We will also use automated tests to check whethe

[2016-10-08 23:30] #10158 closed

[2016-10-08 23:39] QuincyLarson commented on #10740
@Em-Ant Yes - let's do that. Let's create a pass-through API on HyperDev with an API key in its .env file. Would you be interested in building this? I know you are quite busy writing tests for the back end challenges still though.

[2016-10-09 01:16] dlbonilla02 opened #11116 "You should have a total of two images appears as a problems because whenever I put two images, other areas are marked wrong"

[2016-10-09 01:38] erictleung commented on #11116
@dlbonilla02 thanks for the issue but please use the issue template when making issues. Can you give us information about the code challenge and your code? This sounds more of a coding question rather than an issue on the site. If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help).

[2016-10-09 01:44] dlbonilla02 commented on #11116
<a href="#"><<img class="smaller-image thick-green-border" src="https://bit.ly/fcc-relaxing-cat"></a>
<image class = "img-responsive" src = "https://bit.ly/fcc-running-cats"></a>

According to these lines of code I do NOT have a total of two images, and Yes I will use the issue template when making issues in the near future If you can Please direct me to the ISSUE TEMPLATE

[2016-10-09 01:50] dlbonilla02 commented on #11116
<a href="#"><img class="smaller-image thick-green-border" src="https://bit.ly/fcc-relaxing-cat"></a>
  <image class = "img-responsive" src = "https://bit.ly/fcc-running-cats"></a>

According to this, I do NOT have a total of two images and I'm doing my best to resolve the problem but I need extra assistance

[2016-10-09 03:29] talluri-crm opened #11117 "Bug under Understanding Case Sensitivity in Variables"
![bug](https://cloud.githubusercontent.com/assets/22477309/19217674/89b4b860-8da6-11e6-8fa7-eb544769f0cf.jpg)
Challenge [Understanding Case Sensitivity in Variables](https://www.freecodecamp.com/challenges/understanding-case-sensitivity-in-variables#?solution=%0A%2F%2F%20Declarations%0Avar%20StudlyCapVar%3B%0Avar%20properCamelCase%3B%0Avar%20TitleCaseOver%3B%0A%0A%2F%2F%20Assignments%0AStudlyCapVa

[2016-10-09 03:32] mfzz commented on #11117
This is not a bug. Check your first character of assignments variables and compare it with the instructions.

[2016-10-09 03:37] dhcodes commented on #11117
Case matters as @mfzz has pointed out. Happy coding.

[2016-10-09 03:37] #11117 closed

[2016-10-09 03:42] talluri-crm commented on #11117
Yeah my bad. Thank you though.
Varun

Sent from Yahoo Mail on Android

  On Sat, Oct 8, 2016 at 10:35 PM, mfzz<notifications@github.com> wrote:
This is not a bug. Check your first character of assignments variables and compare it with the instructions.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-10-09 03:57] IEPTECH commented on #11117
Porque am I in this email group? Porque why?

Pablo Rodriguez

On Oct 8, 2016 8:45 PM, "Varun Talluri" <notifications@github.com> wrote:

[2016-10-09 05:17] capuche777 commented on #6255
This was my code lines and I could go to the next

`// Setup
function abTest(a, b) {
  // Only change code below this line

  if (a < 0 || b < 0) {
    return undefined;
  }

  // Only change code above this line

  return Math.round(Math.pow(Math.sqrt(a) + Math.sqrt(b), 2));
}

// Change values below to test your code
abTest(2,2);`

[2016-10-09 05:17] Bouncey commented on #11111
In your own time @ :+1:

[2016-10-09 06:36] erictleung commented on #11116
@dlbonilla02 the issue template should have autopopulated as you were opening the issue. In terms of your issue, you're using the wrong image tag. Use `<img>` instead. If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-10-09 06:36] #11116 closed

[2016-10-09 07:11] Em-Ant commented on #10740
@QuincyLarson  I don't know if the **pass-through** is a good idea. We had the same discussion about the Open Wheater Map service some times ago. See [this comment](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/3714#issuecomment-148113892) and Berkeley's answer below...

[2016-10-09 07:27] erictleung commented on #11092
@marienhof thanks for the suggestion. We can change the instructions to the following.

[2016-10-09 07:50] erictleung commented on #11095
The instructions say

where it says you've given a number, not an array. The challenge tests also indicate this as well. Campers can take a look at the MDN or `.push()` reference to find more. As others have pointed out, this may give campers unnecessary information at this point. Closing as the challenge instructions as sufficient. Happy coding!

[2016-10-09 07:50] #11095 closed

[2016-10-09 08:17] erictleung commented on #11109
cc/ @BerkeleyTrue

[2016-10-09 08:33] QuincyLarson commented on #11104
@marienhof I agree, there is no reason to use anti-pattern, which is jargon. A simpler way to say this would be to say "Sometimes people use an if/else statement to do a comparison, like this:"

"But there's a better way to do this. Since === returns true or false, we can return the result of the comparison:"

[2016-10-09 08:50] zelite commented on #10740
My opinion is that there should be one static JSON version for those who do not want to create a twitch account and leave instructions about the requirement for a Client ID, for those who don't mind creating a twitch account.

The privacy of the Client ID is a non-issue, as I wrote here ( https://github.com/FreeCodeCamp/FreeCodeCamp/issues/11015#issuecomment-250957089 )

I think everyone is making

[2016-10-09 09:11] anu0012 commented on #11104
@QuincyLarson I would like to take this.

[2016-10-09 09:49] AndrewHani opened #11122 "Bug"
It's not a problem with my coding, it's just with each new challenge I try to write a code, the cursor jumps into another line, and often refuses to write unless I write and delete somewhere else!

Challenge [Warn your Users of a Dangerous Action](https://www.freecodecamp.com/challenges/warn-your-users-of-a-dangerous-action#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%

[2016-10-09 10:33] hristijankiko commented on #11092
I will work on this.

[2016-10-09 10:40] QuincyLarson commented on #11104
@anu0012 Great! It's yours. Please keep us posted on your progress :)

[2016-10-09 10:46] Newpostlogger opened #11123 "montenegro"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-09 10:47] Newpostlogger opened #11124 "develepo"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-09 10:47] Newpostlogger commented on #11124
da vse kryto poka

[2016-10-09 10:47] Newpostlogger commented on #11124
e

[2016-10-09 10:52] anu0012 commented on #11104
@QuincyLarson I have already made a PR. See if it is appropriate.

[2016-10-09 11:12] pbferrigan commented on #7847
Thank you @sethmchris! This solution worked for me.

[2016-10-09 11:23] #11124 closed

[2016-10-09 11:23] atjonathan commented on #11123
@newpostlogger, if this issue is valid, please reopen and correctly fill in the issue description.

[2016-10-09 11:23] #11123 closed

[2016-10-09 11:27] Newpostlogger commented on #11123
@whije a

[2016-10-09 11:29] #11104 closed

[2016-10-09 11:29] Newpostlogger opened #11125 "mycodervariant"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-09 11:34] #7288 closed

[2016-10-09 11:37] atjonathan commented on #11122
Duplicate of #7847

[2016-10-09 11:37] #11122 closed

[2016-10-09 12:13] blarcmann opened #11127 "Jquery mobile"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-09 12:13] blarcmann opened #11128 "Jquery mobile"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-09 12:13] blarcmann opened #11129 "Jquery mobile"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-09 12:13] blarcmann opened #11130 "Jquery mobile"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-09 12:18] #11130 closed

[2016-10-09 12:19] #11129 closed

[2016-10-09 12:19] #11127 closed

[2016-10-09 12:19] #11128 closed

[2016-10-09 12:25] #11125 closed

[2016-10-09 12:28] Newpostlogger opened #11131 "contributing"
Challenge [Returning Boolean Values from Functions](https://www.freecodecamp.com/challenges/returning-boolean-values-from-functions) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:49.0) Gecko/20100101 Firefox/49.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-10-09 13:00] #11131 closed

[2016-10-09 13:03] texas2010 commented on #11117
@IEPTECH, looks like you may have accidentally subscribed to all notifications for the [FreeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp) repository. To stop receiving notifications please visit the [subscriptions page](https://github.com/FreeCodeCamp/FreeCodeCamp/subscription) and select "Not watching". Additionally, you can visit the [GitHub Help page on managing notification delivery

[2016-10-09 13:15] callumrichards1886 opened #11132 "Code not working"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%3Cstyle%3E%0A%C2%A0.red-text%20%7Bcolor%3Ared%3B%7D%0A%3C%2Fstyle%3E%0A%0A%20%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20ch

[2016-10-09 13:32] ananaymital commented on #11132
@callumrichards1886 you code works fine according to me. Please try again or explain error the error you face.
In the future, please post in the [HelpJavascript](https://gitter.im/FreeCodeCamp/HelpJavaScript) Gitter channel first. If the consensus there is that it is a bug, then you should post here.

[2016-10-09 14:11] ivantedja commented on #11132
@callumrichards1886  There is a weird character before your ` .red-text {color:red;}`. Try to remove that

[2016-10-09 14:39] aakashali444 opened #11133 "aa"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%20%20font-size%3A16px%3B%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20sh

[2016-10-09 14:51] ananaymital commented on #11133
@aakashali444 you have a small error in your code. In the future, please post in the [HelpJavascript](https://gitter.im/FreeCodeCamp/HelpJavaScript) Gitter channel first. If the consensus there is that it is a bug, then you should post here.
Hint: `p` tags should have font-size 16px

[2016-10-09 15:02] #11133 closed

[2016-10-09 15:03] #11092 closed

[2016-10-09 15:07] #11062 closed

[2016-10-09 15:14] atjonathan commented on #11061
@QuincyLarson, is something like the below what you are looking for?
[![https://gyazo.com/c539757d2ffc5ddb644bc132fddf4945](https://i.gyazo.com/c539757d2ffc5ddb644bc132fddf4945.png)](https://gyazo.com/c539757d2ffc5ddb644bc132fddf4945)

[2016-10-09 16:05] BerkeleyTrue commented on #11109
We use babel-register throughout the app which depends on babel. That is why they are in dependents. Although this is not ideal I have not found a solution that I am willing to invest in yet.

Happy Coding

[2016-10-09 16:05] #11109 closed

[2016-10-09 16:16] texas2010 commented on #11132
@callumrichards1886, were you working on this challenge on your phone or tablet?  let me know about that.  there have issue with android would cause challenge wont pass.

[2016-10-09 16:19] texas2010 commented on #11133
sorry about @ananaymital give you wrong link. this correct link is [Help chat room](https://gitter.im/FreeCodeCamp/Help) for html and css.

Happy Coding.

[2016-10-09 16:26] ananaymital commented on #11133
Sorry didn't realize that

[2016-10-09 16:35] no-stack-dub-sack commented on #10158
Hey Quincy,Thanks for your email, and sorry for the delay, I was away for a few days with little access to email. But I'd be happy to check out the issue if someone has not already taken it up. I've been meaning to become more active in the FCC community in terms of contributions, but I've been mostly caught up in pursuing the certifications (just finished the front end one last week!). Thanks for

[2016-10-09 17:00] atjonathan commented on #11133
@ananaymital, no problem! Thanks for helping out!

[2016-10-09 18:40] rx290 commented on #8739
well things are worst here can't skip the challenge ._.

[2016-10-09 19:26] systimotic commented on #10972
I tried solving this issue, but I came to the conclusion I don't yet have the skill to do this. 😞 I'm new to the FreeCodeCamp project and React. This went above my head. In order to hopefully save the next person some time, here are my findings. 👇
- Going from @ivantedja's findings in #806, I managed to create some code that cleared the undo history. This works by setting a `ref` on the component,

[2016-10-09 19:29] systimotic commented on #806
Seeing as though this issue is fixed in the beta, should we close this issue, or try to get a fix for the "old" version past staging into production?

[2016-10-09 19:54] jonataswalker commented on #10740
@QuincyLarson

Here's your gist forked and modified to reflect the actual response from Twitch API.
[code]
So, **offline** is `stream == null` and **online** is a valid stream object.

`display_name` is present when channel is offline just for the sake of simplicity, it's not part of original response.

[2016-10-09 20:32] QuincyLarson commented on #10740
@zelite Yes, it's easy enough to create the API key, but it is a bad practice to expose private API keys in a public space, so we should discourage this.

@jonataswalker OK - great! I've updated my original gist with the text of your gist. Thank you for doing this. So to be 100% clear, the gist you created will mimic the actual API responses? Could you incorporate it into your own twitch.tv viewer

[2016-10-09 20:33] QuincyLarson commented on #806
@systimotic if it's working on beta, it will work as soon as we push beta. So yes, we can close this issue. Thanks for confirming this.

[2016-10-09 20:33] #806 closed

[2016-10-09 20:50] mattlindsey commented on #10564
Appears the link in the description is just missing the 's' in 'https':
https://www.freecodecamp.com/challenges/quoting-strings-with-single-quotes

The challenge works for me, so I believe this issue can be closed.

[2016-10-09 21:39] jonataswalker commented on #10740
That's it, @QuincyLarson!

http://codepen.io/jonataswalker/pen/EgEbEo

Cheers.

[2016-10-09 22:50] damienmlugert opened #11135 "idk where im messing up i thin k im putting it in wron place anything helps thanks !"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0Ah2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%7D%0Ap%2

[2016-10-09 22:56] erictleung commented on #11135
@damienmlugert thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint please read the directions again.

Happy coding!

[2016-10-09 22:56] #11135 closed

[2016-10-10 00:04] RobAK84 commented on #7890
your should put b = 7; after a = 7;

a = 7; b = 7;
// b = a;                   there u go

[2016-10-10 00:50] mohcinbahaddou1 opened #11136 "p element should contain the first few words of the provided additional"
i'm wanna add p element contain the first few words of the provided additional kitty ipsum text
My code:
[code]

[2016-10-10 02:36] loccyone commented on #10493
So, instead of an array returned from the function **.shift()**, nextInLine should return a number element.

[2016-10-10 03:12] dhcodes commented on #11136
@mohcinbahaddou1 it looks like you have an error in your code. Consider asking for help in the chat room by clicking the Help button on the challenge.

[2016-10-10 04:44] #10817 closed

[2016-10-10 05:05] ryzokuken commented on #11102
@chakrihacker are you working on this?

[2016-10-10 05:09] ryzokuken commented on #11102
@erictleung looks like @rheupler already fixed this in the seeds https://github.com/FreeCodeCamp/FreeCodeCamp/commit/8fb284d5d1fa01a7a647eed046c8245f38e2d9e5

[2016-10-10 05:34] Mrhjx2 opened #11139 "there is no spoon"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-10 06:57] #11136 closed

[2016-10-10 06:57] #11132 closed

[2016-10-10 06:58] #11139 closed

[2016-10-10 06:59] NeilGa opened #11140 "Help"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3A%20blue%3B%7D%0A%20%20%3C%2Fstyle%3E%0A%3Ch2CatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hair

[2016-10-10 07:00] atjonathan commented on #11139
@Mrhjx2, if this is a legitimate issue, please reopen with the issue description filled in.

[2016-10-10 07:01] #11140 closed

[2016-10-10 07:45] QuincyLarson opened #11141 "Remove challenges from URL slug"
We can shorten the URL slug by removing the word "challenges." This will make URLs easier to read and will improve our SEO
![](https://www.evernote.com/l/Ar_n4_pesR1GRpJ4LU_lzAdijYUCbNMehyoB/image.png)

[2016-10-10 07:49] QuincyLarson opened #11142 "Add category to challenge view title element and h1 element"
For SEO purposes, we should include the challenge category (JavaScript, HTML, Node.js, etc.) both in the `<title>` element and in the `<h1>` element before the challenge's name.

For example:

![](http://i.imgur.com/WhegItY.png)

[2016-10-10 08:08] karuppiah7890 commented on #11059
@atjonathan The change has to be made even in this challenge https://www.freecodecamp.com/challenges/add-different-margins-to-each-side-of-an-element . @SherylHohman wants to take it up.

[2016-10-10 08:55] TinaLittlemoon commented on #8721
I think that sometimes it really helps to see the correct code. Of course some explanations and the way how to get there would be useful too. If everyone would post their code snippets here with asking for help, this forum would be probably a mess.
I prefer asking for further explanations if there should be some remaining, however often after seeing the code, everything becomes clearer :) usually

[2016-10-10 08:57] kkn1234 opened #11143 "Issue in javascript challenge"
Challenge is not completed but i can see the output is getting update in console properly as per the challenge.

#### Challenge Name

https://www.freecodecamp.com/challenges/record-collection#?solution=%0A%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%20%222548%22%3A%20%7B%0A%20%20%20%20%20%20%22album%22%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20%22artist%22%3A%20%22Bon%20

[2016-10-10 09:05] nellee24 commented on #8721
@texas2010
Im trying help and simplified the code of @ArmantHitchcock. :)

[2016-10-10 09:06] nellee24 commented on #8721
@texas2010
Im trying to help and simplified the code of @ArmantHitchcock. :)

[2016-10-10 09:51] Bouncey commented on #11141
Favouring the second instance of this issue for detail

[2016-10-10 10:05] Bouncey commented on #11143
@kkn1234 There multiple issues with your code, including syntax errors.

GitHub issues are not for code help, please read the instructions again and try and see where you are going wrong. Also, read your code again, there are `{`&`}` missing in a few places. If you are still stuck, click the `Help` button and you will be taken to a dedicated chat room where there are plenty of people willing to he

[2016-10-10 10:44] andmckvr13 commented on #11142
I would like to try and solve this issue

[2016-10-10 10:58] akuntal opened #11145 "Getting Error while running npm install"
Snyk couldn't patch the specified vulnerabilities because GNU's patch is not available. Please install 'patch' and try again.

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "D:\\Users\\kumaral\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js" "run" "snyk-protect"
npm ERR! node v4.6.0
npm ERR! npm  v3.10.8
npm ERR! code ELIFECYCLE
npm ERR! freecodecamp@0

[2016-10-10 11:26] zelite commented on #10740
@QuincyLarson

But the client ID is **not** a private API key. It is part of the OAuth2 authentication protocol  ( https://www.digitalocean.com/community/tutorials/an-introduction-to-oauth-2 )

That's why I don't understand all the fuss. You don't need the Client Secret for the kinds of queries that are necessary for this project.

[2016-10-10 12:07] carlitos23 commented on #8529
I was stuck on this problem for 20mins until I found out that the code was bugged for some reason and the way it fixed was refreshing my browser. I'm using google chrome btw.

[2016-10-10 13:23] MuhammadHanzala opened #11146 "not running chalenge"
Challenge [Declare String Variables](https://www.freecodecamp.com/challenges/declare-string-variables#?solution=%0A%2F%2F%20Example%0Avar%20firstName%20%3D%20%22Alan%22%3B%0Avar%20lastName%20%3D%20%22Turing%22%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0A%0Avar%20firstName%20%3D%20%22Al%22%3B%0Avar%20lastName%20%3D%20%22Tur%22%3B) has an issue.
User Agent is: <code>Mozilla/5.0

[2016-10-10 14:45] ananaymital commented on #11146
@MuhammadHanzala you have a small (very small) error in your code. In the future, please post in the [HelpJavascript](https://gitter.im/FreeCodeCamp/HelpJavaScript) Gitter channel first. If the consensus there is that it is a bug, then you should post here. Hint: Look at the required variable names.

[2016-10-10 14:47] ananaymital commented on #11145
@akuntal You should install node.js 6+ (preferably 6.7). Refer to https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md

[2016-10-10 15:22] atjonathan commented on #11059
@karuppiah7890, cool!

[2016-10-10 15:23] #11111 closed

[2016-10-10 15:25] atjonathan commented on #11142
@QuincyLarson, @andmckvr13: This doesn't need changed before the challenges name. I will be doing this in https://github.com/FreeCodeCamp/FreeCodeCamp/issues/11061 😉

[2016-10-10 15:26] #11143 closed

[2016-10-10 15:26] #11145 closed

[2016-10-10 15:31] FavianIoel commented on #5125
Tthis is my clean code , hope you like it 😄
[code]

[2016-10-10 15:52] andmckvr13 commented on #11142
@atjonathan bummer, next time then. okay thanks anyways

[2016-10-10 16:05] atjonathan commented on #11142
@andmckvr13, np! You can still work on the title tag tho!

[2016-10-10 16:18] voirs commented on #5828
This is what worked for me
var myStr = "FirstLine\n\\SecondLine\\\rThirdLine";

[2016-10-10 16:37] andmckvr13 commented on #11142
@atjonathan great!! On it :)

[2016-10-10 16:45] karuppiah7890 commented on #11059
@atjonathan Uh, you closed it again. Is it gonna be a new issue ?

[2016-10-10 16:47] erictleung commented on #11102
@ryzokuken thanks for checking that out. I neglected to check the code base. Thanks! This issue appears to be resolved so I'll be closing this issue. Happy coding!

[2016-10-10 16:47] #11102 closed

[2016-10-10 16:49] erictleung commented on #11146
@MuhammadHanzala please check out the instructions once more. You need to properly name your variables asked for in the challenge.

Please check out the Gitter chat rooms as well. Happy coding!

[2016-10-10 16:49] #11146 closed

[2016-10-10 17:28] andmckvr13 commented on #11142
@QuincyLarson @atjonathan should the "get set for our basic algorithm challenges" be labeled with the JavaScript tag? I figured that it should be, but don't want to make assumptions

[2016-10-10 17:31] andmckvr13 commented on #11142
@QuincyLarson @atjonathan shall I also update the Spanish titles too?

[2016-10-10 17:37] nsgonultas commented on #9851
I think this issue is too hard for me. It's okay if anyone wants to take it, I'm not working on this anymore.

[2016-10-10 18:10] debrenamcewen opened #11147 "Solution not accepted"
Challenge [Size your Images]
link: https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B

[2016-10-10 18:10] atjonathan commented on #11059
@karuppiah7890. was this not already solved in https://github.com/FreeCodeCamp/FreeCodeCamp/pull/11144 ?

[2016-10-10 18:11] atjonathan commented on #11142
@andmckvr13, yes please for other languages! Tagging @QuincyLarson for the other question

[2016-10-10 18:55] Mongues commented on #6249
On Sep 21, 2016 09:14, "Stacey" <notifications@github.com> wrote:

https://github.com/FreeCodeCamp/FreeCodeCamp/issues/6249#issuecomment-248468373

https://github.com/notifications/unsubscribe-auth/ATkzePV1ad0QKBc6Pt51viJUCPz4HIn_ks5qsG89gaJpZM4HGbPL

[2016-10-10 19:22] ananaymital commented on #11147
@debrenamcewen The brackets in stylesheet are not properly paired up.
In the future, please post in the [Help](https://gitter.im/FreeCodeCamp/FreeCodeCamp) Gitter channel first. If the consensus there is that it is a bug, then you should post here.

[2016-10-10 19:47] CodeNonprofit commented on #9886
@themaxsandelin We'd love the help if you want to take it on.

[2016-10-10 20:03] QuincyLarson commented on #11141
@Bouncey that is a different issue. This involves removing the word "challenges" from our path.

[2016-10-10 20:29] dhcodes commented on #10933
@nileshbj I have a similar setup and cannot replicate. Could this be a setting on your browser? Are you sure the browser is focused when you click the button?

[2016-10-10 20:31] dhcodes commented on #11147
@debrenamcewen as @ananaymital has said, there's a small error in your code. Fellow campers in the chat room should be able to help.

[2016-10-10 20:31] #11147 closed

[2016-10-10 20:46] josh2123 opened #11150 "Lesson Find the Length of a String"
Challenge [Find the Length of a String](https://www.freecodecamp.com/challenges/find-the-length-of-a-string#?solution=%0A%2F%2F%20Example%0Avar%20firstNameLength%20%3D%200%3B%0Avar%20firstName%20%3D%20%22Ada%22%3B%0A%0AfirstNameLength%20%3D%20firstName.length%3B%0A%0A%2F%2F%20Setup%0Avar%20lastNameLength%20%3D%200%3B%0Avar%20lastName%20%3D%20%22Lovelace%22%3B%0A%0A%2F%2F%20Only%20change%20code%20b

[2016-10-10 20:48] gitDevPrj commented on #8548
I just ran into this as well.  After removing all non-alpha characters you get

eyeforofeye

Why would this NOT be a palindrome?

[2016-10-10 21:01] gitDevPrj commented on #8548
Misread instructions..  AlphaNumeric is left.. I filtered out numbers also..  fixed my algorithm and it passed the challenge.

[2016-10-10 21:24] ananaymital commented on #11150
@josh2123 you have a small error in your code. Please re-read the instruction and the tests to be passed. In the future, please post in the [HelpJavascript](https://gitter.im/FreeCodeCamp/HelpJavaScript) Gitter channel first. If the consensus there is that it is a bug, then you should post here.

[2016-10-10 21:36] josh2123 commented on #11150
the error that you saw was required in order to pass the test, so i posted it.

[2016-10-10 21:41] ananaymital commented on #11150
@josh2123 You should've posted on the channel first. This platform is for bugs. I am online may be I can help

[2016-10-10 21:59] ladybugtju commented on #8418
@QuincyLarson @evaristoc: Hi! Hope you had a nice weekend. I ran the script this morning and discovered that there is a memory allocation issue with node when data exceeds 1G. I need to dig this a bit more but here are latest updates:

Code crashed after 4H30mn - Data in memory: 1.4G (It might be the room data value but I suspect it is the crash level since I found similar scripts crashing at the

[2016-10-10 22:00] ladybugtju commented on #8418
I m busy this week but will have more time to work on this next one.
@evaristoc I wonder if you didn t face the same problem or if you have suggestions
@QuincyLarson: There is no problem downloading smaller rooms but the main room is heavy. It would be good to check with gitter folks and ask how much data there is in there. I dropped them an email and still pending

[2016-10-10 22:00] #11150 closed

[2016-10-10 22:00] ladybugtju commented on #8418
I m busy this week but will have more time to work on this next one.
@evaristoc I wonder if you didn t face the same problem or if you have suggestions
@QuincyLarson: There is no problem downloading smaller rooms but the main room is heavy. It would be good to check with gitter folks and ask how much data there is in there. I dropped them an email and still pending

[2016-10-10 22:22] Muhammadwahab opened #11151 "Basic Algoritham Scipting Issue"
**Hello I write code and test each output work correcty and give corresponding result but the problem is still some challenges mark wrong here is my code**

[code]

[2016-10-10 22:30] braxtonfair opened #11152 "Using Objects for Lookups - Dot notation does not work"
#### Challenge Name
Using Objects for Lookups
[https://www.freecodecamp.com/challenges/using-objects-for-lookups](https://www.freecodecamp.com/challenges/using-objects-for-lookups)

#### Issue Description
Dot notation would not work on line 16. Since .val is a reserved keyword by Javascript/jQuery, and the argument name is **val**, only bracket notation would satisfy the tests.
[code]
Since we are

[2016-10-10 22:43] erictleung commented on #11152
@braxtonfair thanks for the issue. However, this is more of a coding error than a bug. Please review the [dot notation](https://www.freecodecamp.com/challenges/accessing-objects-properties-with-the-dot-operator) challenge on how to use correctly use dot notation. Here's an example that might help.

[code]

If you get stuck or have questions with a challenge in the future, please first ask question

[2016-10-10 22:43] #11152 closed

[2016-10-10 22:46] erictleung commented on #11151
@Muhammadwahab our tests are run one after another. You have global variables in your code, which will change with every call of the function. That is one reason your code will not work. Thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-10-10 22:46] #11151 closed

[2016-10-10 22:49] lydatech opened #11153 "Note Due to browser implementation differences, you may need to be at 100% zoom to pass the tests on this challenge."
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty

[2016-10-10 23:00] jmona789 commented on #10809
I'll take a look at this and see if I can get it working

[2016-10-10 23:06] texas2010 commented on #5125
@FavianIoel, Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-10-10 23:26] AurusEmir commented on #10809
Julio ik o 79 pm pompom

On Oct 6, 2016 4:01 AM, "Quincy Larson" <notifications@github.com> wrote:

[2016-10-10 23:34] Muhammadwahab commented on #11151
thanks For the Feed Back

[2016-10-11 04:58] vagnercazarotto opened #11154 "Test Automation"
Challenge [Confirm the Ending](https://www.freecodecamp.com/challenges/confirm-the-ending#?solution=%0Afunction%20confirmEnding(str%2C%20target)%20%7B%0A%20%20%2F%2F%20%22Never%20give%20up%20and%20good%20luck%20will%20find%20you.%22%0A%20%20str%20%3D%20str.split('%20')%3B%0A%20%20if(str%5Bstr.length%20-1%5D%20%3D%3D%3D%20target)%7B%0A%20%20%20%20return%20true%3B%0A%20%20%7D%20else%20%7B%0A%20%20%2

[2016-10-11 05:21] vagnercazarotto commented on #11154
Sorry guys, now I realized what I did wrong and complete the code with one line hehe
"return (str.substring(str.length - target.length) == target);"

[2016-10-11 05:21] #11154 closed

[2016-10-11 05:40] #11110 closed

[2016-10-11 06:18] Shivank98 opened #11155 "Profie Lookup Issuue"
//Setup
var contacts = [
    {
        "firstName": "Akira",
        "lastName": "Laine",
        "number": "0543236543",
        "likes": ["Pizza", "Coding", "Brownie Points"]
    },
    {
        "firstName": "Harry",
        "lastName": "Potter",
        "number": "0994372684",
        "likes": ["Hogwarts", "Magic", "Hagrid"]
    },
    {
        "firstName": "Sherlock",
        "lastName": "Ho

[2016-10-11 06:41] karuppiah7890 commented on #11059
@atjonathan  I am sorry. Didn't know a new issue #11111 had been created for it and was solved and closed.

[2016-10-11 07:07] QuincyLarson commented on #8418
@ladybugtju OK - sounds good. Thanks for your help. Go ahead and download the small rooms then. A majority of the rooms we want to delete are relatively small.

@ladybugtju @abhisekp @evaristoc Do you have a list of all the rooms under the Free Code Camp organization? If so, could you create a gist of all the rooms that have been backed up as we back them up? That way we can see how much progress

[2016-10-11 07:25] knoahg opened #11156 "Code not running and I don't see any errors"
Challenge [Understanding Case Sensitivity in Variables](https://www.freecodecamp.com/challenges/understanding-case-sensitivity-in-variables#?solution=%2F%2F%20Declarations%0Avar%20studlyCapVaR%3B%0Avar%20properCamelCase%3B%0Avar%20titleCaseOver%3B%0A%0A%2F%2F%20Assignments%0AstudlyCapVar%20%3D%2010%3B%0AproperCamelCase%20%3D%20%22A%20String%22%3B%0AtitleCaseOver%20%3D%209000%3B%0A%0A%0A%0A%0A) has

[2016-10-11 07:51] Bouncey commented on #11059
This issue relates to the *padding* challenge, which still requires a PR

[2016-10-11 07:54] Bouncey commented on #11059
Sorry, #11138 fixed this, This
PR relates to the padding

[2016-10-11 07:54] #11059 closed

[2016-10-11 08:38] ananaymital commented on #11156
@knoahg you have a small error in the declaration of `studlycapVar`.
In the future, please post in the [HelpJavascript](https://gitter.im/FreeCodeCamp/HelpJavaScript) Gitter channel first. If the consensus there is that it is a bug, then you should post here.

[2016-10-11 09:33] abhisekp commented on #8418
### List of FreeCodeCamp Public Gitter Rooms

#### :point_right: https://git.io/vPESQ

[2016-10-11 09:52] marhyorh commented on #11061
@atjonathan Since we're on "Say Hello to HTML Elements", i suggest we make only that highlighted in the breadcrumb, the rest should be a grayish color or sort of. But there's some other issue here, we have "Say Hello to HTML Elements" repeated, don't know if it's nice that way.

[2016-10-11 10:30] atjonathan commented on #11061
@marhyorh, thanks yeah I agree!

[2016-10-11 13:28] Shivank98 opened #11158 "What Is Happening.....?"
Challenge [Factorialize a Number](https://www.freecodecamp.com/challenges/factorialize-a-number#?solution=var%20result%3D1%3B%0Afunction%20factorialize(num)%20%0A%0A%7B%0A%20%20for(num%3B%20num%3E0%3B%20num--)%7B%0A%20%20result%3Dresult*num%3B%0A%20%20%20%20%0A%7D%0Areturn%20result%3B%0A%7D%0A%0Afactorialize(10)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537

[2016-10-11 13:30] #8839 closed

[2016-10-11 13:32] dhcodes commented on #11153
I tend to agree. I would hazard a guess that most users don't mess with their zoom settings for it to be an issue.

[2016-10-11 13:36] dhcodes commented on #11155
@Shivank98 This is an issue with the name of the function. I believe it may have simply been `lookUp` in the past and was updated at some point to `lookUpProfile`. You would only see this if you reset your code or opened the challenge in incognito.

Change the function name and call to `lookUpProfile` and it should pass.

[2016-10-11 13:36] #11155 closed

[2016-10-11 13:38] dhcodes commented on #11158
@Shivank98 Please consider using the chat room for help or to confirm an issue before posting it here. In this case, the issue is that some challenges have issues with global vars. Move `var result=1;` into the function and it should pass.

[2016-10-11 13:38] #11158 closed

[2016-10-11 13:38] #11156 closed

[2016-10-11 14:20] Roachk commented on #10713
This challenge can be pretty confusing with out being able to see the output. Try running this code in a interpreter online like www.codecademy.com or codepen.io. Using the interpreters you can see your output and how it looks.

![image](https://cloud.githubusercontent.com/assets/20018670/19273940/618999b2-8f9c-11e6-8267-0b9420d3b763.png)

[2016-10-11 14:57] chikafaith opened #11159 "Check for Palindrome"
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=%0Afunction%20palindrome(str)%20%7B%0A%20%20%2F%2F%20Good%20luck!%0A%20%20return%20true%3B%0A%7D%0A%0A%0A%0Apalindrome(%22eye%22)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2490.86 Safari/537.36</code>.
Please descr

[2016-10-11 15:15] Roachk commented on #9314
This challenge can be pretty confusing with out being able to see the output. Try running this code in a interpreter online like www.codecademy.com or codepen.io. Using the interpreters you can see your output and how it looks.

![image](https://cloud.githubusercontent.com/assets/20018670/19276339/136d1224-8fa4-11e6-8e84-637e03be0b01.png)

[2016-10-11 15:41] atjonathan commented on #11159
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-10-11 15:41] #11159 closed

[2016-10-11 17:17] tmpvnunes commented on #11142
What about Portuguese? I can contribute :)

[2016-10-11 17:34] tmpvnunes commented on #11141
Can I solve this issue?

[2016-10-11 17:38] tadake commented on #11153
Do you guys need someone to remove the text in the instructions? if so I'd love to help.

[2016-10-11 18:21] bilgiprog opened #11160 "Incorrect answer passes Challenge Record Collection"
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection) has an issue.
My code below passes this challenge, but it's not actually right since it directly assigns to artist property.
` collection[id].artist = value;`
should be
` collection[id][prop] = value;`

My code:
[code]

[2016-10-11 18:36] dhcodes commented on #11160
@bilgiprog Good catch; we should probably add a tests that ensures this code won't pass. It could be something like:
`updateRecords(1245, "album", "Riptide")`

What do others think? I can do the PR to add the test.

[2016-10-11 18:37] dhcodes commented on #11153
@tadake We'll let a few more people weigh in, but if so, it's yours.

[2016-10-11 18:38] dhcodes commented on #11153
cc @FreeCodeCamp/issue-moderators

[2016-10-11 18:42] Bouncey commented on #11153
:+1:

[2016-10-11 19:01] atjonathan commented on #11153
:+1:
@tadake, you have the go ahead!

[2016-10-11 19:03] atjonathan commented on #9145
@raisedadead, update on this in regards to updating codepen?
I have merged in #10341 😃

[2016-10-11 19:12] QuincyLarson commented on #11141
@tmpvnunes yes. You're welcome to take a crack at it. Do you have Free Code Camp running locally?

[2016-10-11 19:14] QuincyLarson commented on #11142
@tmpvnunes yes - we would welcome your contributions! Many of our challenges have already been translated into Portuguese. Join gitter.im/freecodecamp/contributors and ask @vtamara to help you get started :)

[2016-10-11 19:15] dennisthadathil opened #11161 "Check for Palindromes Issue"
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=%0Afunction%20palindrome(str)%20%7B%0A%20%20%2F%2F%20Good%20luck!%0A%20%20var%20string%20%3D%20str.toLowerCase()%3B%0A%20%20string%20%3D%20string.replace(%2F%5B%5Ea-z%5D%2Fg%2C%22%22)%3B%0A%0Avar%20array%20%3D%20string.split(%22%22)%3B%0Aarray.reverse()%3B%0Avar%20pstring%20%3D%20array.join(%2

[2016-10-11 19:19] erictleung commented on #11161
@dennisthadathil thanks for the issue but the challenge is correct as specified in the instructions.

In other words, keep all alpha**numeric** characters. If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-10-11 19:19] #11161 closed

[2016-10-11 19:30] diomed commented on #11153
this needs to be removed ASAP

[2016-10-11 19:35] #9145 closed

[2016-10-11 19:52] bilgiprog opened #11162 "Alleged syntax error in correct Js code"
Challenge [Profile Lookup](https://www.freecodecamp.com/challenges/profile-lookup) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; Win64; x64; rv:49.0) Gecko/20100101 Firefox/49.0</code>.

The code below displays "Syntax Error: expected expression..." and does not run the tests. However it is correct Javascript code, and it executes and displays result in Firefox Scratchpad and Nod

[2016-10-11 19:59] tadake commented on #11153
woo hoo!

[2016-10-11 20:12] QuincyLarson commented on #11142
I'm closing this in favor of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/11061 which is very similar.

[2016-10-11 20:12] #11142 closed

[2016-10-11 20:13] QuincyLarson commented on #11061
@atjonathan Actually, I forgot I'd opened this issue and opened a duplicate one (which I've closed: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/11142).

Here's what I think we should do (we don't need breadcrumbs):

For SEO purposes, we should include the challenge category (JavaScript, HTML, Node.js, etc.) both in the `<title>` element and in the `<h1>` element before the challenge's name

[2016-10-11 20:16] QuincyLarson commented on #8418
@abhisekp perfect. Thank you!

[2016-10-11 20:20] dhcodes commented on #11162
@bilgiprog your code has a syntax error. While it may pass in other editors and environments, the editor used by fcc has strict syntactic requirements regarding curly braces. Please consider asking for help in the Gitter chat room for JavascriptHelp by clicking the Help button on the challenge.

[2016-10-11 20:20] #11162 closed

[2016-10-11 20:29] QuincyLarson commented on #8418
@abhisekp I updated your list so that all the rooms we don't intend to delete are at the bottom.

[2016-10-11 20:30] lynnbennett opened #11163 "CSP issues with Gitter sidecar"
Challenge [Change Text Inside an Element Using jQuery](https://www.freecodecamp.com/challenges/change-text-inside-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24%28document%29.ready%28function%28%29%20%7B%0A%20%20%20%20%24%28%22%23target1%22%29.css%28%22color%22%2C%20%22red%22%29%3B%0A%20%20%20%20%24%28%22target4%22%29.html%28%22%3Cem%3E%20jQuery%20Playground%3C%2Fem%3E%22%29%20%0A%20%20%7D

[2016-10-11 20:31] lynnbennett commented on #11163
i am unable to join chat and having problem solution

[2016-10-11 20:39] erictleung commented on #11163
@lynnbennett you need to look at the current text within the `target4` element and change it so it is emphasized. Right now, you're adding `<em> jQuery Playground</em>` instead of what is preexisting.

Can you explain on what you are experiencing when trying to join the chat?

[2016-10-11 20:43] lynnbennett commented on #11163
@erictleung Why did you add the blocked label?

[2016-10-11 20:46] BhaveshSGupta opened #11164 "Need to Update Contributing.md"
#### Issue Description
Hey,
Contributing.md needs to be updated, I think we should add tips for each step or something like If your struck at this step u can do following things this could be helpful for newbies. I was recently trying to setup it locally, it took me a lot of time to setup locally and lot of help from fellow campers

[2016-10-11 21:00] erictleung commented on #11163
@lynnbennett we put that label there whenever we're waiting for a response from either the original poster or someone on our team. Sorry if it alarmed you in any way.

[2016-10-11 21:01] erictleung commented on #11164
@BhaveshSGupta thanks for the feedback. We're already working on updating the CONTRIBUTING.md document here https://github.com/FreeCodeCamp/FreeCodeCamp/issues/11006. Please add your feedback to the conversation over there. Happy coding!

[2016-10-11 21:01] #11164 closed

[2016-10-11 21:37] KyeBuff opened #11165 "Test function call passes but challenge remains incomplete - RESOLVED"
Challenge [Multiple Identical Options in Switch Statements](https://www.freecodecamp.com/challenges/multiple-identical-options-in-switch-statements#?solution=%0Afunction%20sequentialSizes(val)%20%7B%0A%20%20var%20answer%20%3D%20%22%22%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%0A%20%20switch(val)%20%7B%0A%20%20%20%20%20%20%0A%20%20%20%20case%201%3A%0A%20%20%20%20case%2

[2016-10-11 21:48] Myst commented on #9088
Sorry, but I think you should edit your code, since you are giving the answer to this test and the idea is that campers found a way to the answer.

[2016-10-11 22:01] BhaveshSGupta commented on #11165
You need to make the first letter capital for each answer, i.e. Low, Mid and High

[2016-10-11 22:04] KyeBuff commented on #11165
Thanks, that was silly of me!

[2016-10-11 22:04] #11165 closed

[2016-10-12 00:25] Dhouglas opened #11167 "The code only runs the last line, not allowing me to finish the exercise. Help?"
Challenge [Convert Celsius to Fahrenheit](https://www.freecodecamp.com/challenges/convert-celsius-to-fahrenheit#?solution=%0Afunction%20convertToF(celsius)%20%7B%0A%20%20var%20fahrenheit%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%0A%20%20fahrenheit%20%3D%20-10*9%2F5%20%2B%2032%3B%0A%20%0A%20%20%2F%2F%20Only%20change%20code%20above%20this%20line%0A%20%20return%20fahrenh

[2016-10-12 00:52] LoganS1 commented on #11167
I am not to good with Java, but is it because you never use the celcius variable in you equation for finding fahrenheit? I believe the code is running completely, but if simply returns the result of -10*9/5 + 32 everytime. Since this equation does not use the celcius variable. No matter what you put the celcius variable as, it well never be put into the equation. Try replacing the -10 with celcius

[2016-10-12 01:49] texas2010 commented on #11167
@Dhouglas
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding..

[2016-10-12 01:49] #11167 closed

[2016-10-12 02:01] conoh commented on #11153
i've inputed the correct code for this challenge and still can't get past it.

[2016-10-12 03:19] jonesyb28 commented on #7697
I am a complete beginner. I worked it out with the exception  of putting the division in brackets. I had to search for a solution.

[2016-10-12 06:34] ShahPriyankah opened #11168 "Typeof of array is object - how to pass this test"
Challenge [Using typeof](https://www.freecodecamp.com/challenges/using-typeof#?solution=%0Aconsole.log(typeof%20%22string%22)%3B%0A%0Aconsole.log(typeof%2010)%3B%0A%0Aconsole.log(typeof%20%5B%22Saab%22%2C%20%22Volvo%22%2C%20%22BMW%22%5D)%3B%0A%0Aconsole.log(typeof%20%7B%221%22%3A%222%22%2C%223%22%3A%224%22%7D)%3B) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) A

[2016-10-12 06:49] patrickk93 commented on #11168
The instructions state that you should

It gives you examples of a string, number, array, and object.

You could just type in the examples given on the side.

[2016-10-12 07:07] bilgiprog commented on #11162
My code does not have a syntax error. It is your own non-standard way of processing Javascript.

[2016-10-12 07:48] ShahPriyankah commented on #11168
How silly!! :):) Thanks!

[2016-10-12 08:29] Dayfiri commented on #11163
I have the same problem with chat if I try to sign in with github for discussion. But this only happens when I'm on FreeCodeCamp page, but when I open chat in a new window, it works alright.

[2016-10-12 10:44] systimotic commented on #11086
From my limited testing, `\s` does seem to catch non-breaking spaces. More importantly, it seems like I can no longer reproduce this on beta, so this has probably already been fixed somewhere.

[2016-10-12 14:40] lucasoliv commented on #11132
I am having problems as well with this challenge, maybe it's because I am doing it through my android smartphone :/

[2016-10-12 14:44] dhcodes commented on #11168
Closing as resolved.

[2016-10-12 14:44] #11168 closed

[2016-10-12 14:48] dhcodes commented on #11162
Your for loop doesn't have opening and closing brackets, nor do your if/else statements. I'm not sure what you mean by non-standard.

[2016-10-12 14:53] Pratikshagit opened #11173 "Google font text 'Lobster' doesn't turn blue like other CSS elements, in editor."
#### Challenge Name

#### Issue Description

#### Browser Information

* Google Chrome, Version : 53
* OS X Yosemite 10.10.5
* Laptop

#### Your Code

[code]
#### Screenshot

![screen shot 2016-10-12 at 10 50 58 am](https://cloud.githubusercontent.com/assets/22732698/19314909/d2ffe010-9069-11e6-9476-9f6367bdeb8c.png)

[2016-10-12 14:54] goyalritesh21 opened #11174 "Not showing next challenge even if i did as i were told to do(Topic: using .addclass to target id selector using #)."
![2016-10-12 2](https://cloud.githubusercontent.com/assets/22390990/19314942/84cc8240-90b9-11e6-88ac-c3e164c7a502.png)

#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-12 14:54] Pratikshagit commented on #11173
Though, it doesn't affect the output. :)

[2016-10-12 15:03] ananaymital commented on #11174
@goyalritesh21 you have a small error in your code. In the future, please post in the [HelpJavascript](https://gitter.im/FreeCodeCamp/HelpJavaScript) Gitter channel first. If the consensus there is that it is a bug, then you should post here. Hint: use `fadeOut` instead of `animated fadeOut`

[2016-10-12 16:09] RodrigoCastroS opened #11175 "Problems when running test and resetting"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2016-10-12 17:44] erictleung commented on #11174
@goyalritesh21 thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: please check your method names. Capitalization is important e.g. `addClass()` vs `addclass()`. Happy coding!

[2016-10-12 17:44] #11174 closed

[2016-10-12 17:49] #11006 closed

[2016-10-12 18:17] GianmarcoSalerno opened #11176 "Not accepting Math.floor(Math.random(0.0,1) * 10)."
Challenge [Generate Random Whole Numbers with JavaScript](https://www.freecodecamp.com/challenges/generate-random-whole-numbers-with-javascript#?solution=%0Avar%20randomNumberBetween0and19%20%3D%20Math.floor(Math.random()%20*%2020)%3B%0A%0Afunction%20randomWholeNum()%20%7B%0A%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%20%20%0A%20%20return%20Math.floor(Math.random(0.0%2C1)%20*%

[2016-10-12 18:27] jinz2014 opened #11177 "Add an example"
Challenge [Pairwise](https://www.freecodecamp.com/challenges/pairwise) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]
As an improvement, can you add an example to clarify the follow

[2016-10-12 18:28] juancbaires commented on #4178
i did this and it works
 var gear = 0;
  this.setGear = function(shift) {
    gear = shift;
};
  this.getGear = function() {
    return gear;
};

};

[2016-10-12 18:59] ananaymital commented on #11176
@GianmarcoSalerno you have a small error in your code. `Math.random()` returns a number between 0 and 1. It does not have take any arguments. [This documentation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/random) might help.
In the future, please post in the [HelpJavascript](https://gitter.im/FreeCodeCamp/HelpJavaScript) Gitter channel first. If the cons

[2016-10-12 19:02] GianmarcoSalerno commented on #11176
Ty

On Oct 12, 2016 2:02 PM, "Ananay" <notifications@github.com> wrote:

[2016-10-12 19:34] erictleung commented on #11177
@jinz2014 thanks for the feedback. There's another issue suggesting a similar addition to the Pairwise challenge https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9037. Please take any additional comments over there. Happy coding!

[2016-10-12 19:34] #11177 closed

[2016-10-12 19:35] tmpvnunes commented on #11141
Yes, I have a copy on my desktop. I am a newbie on Github at the moment I really want to understand free code camp project and a bit more of GitHub.

[2016-10-12 19:59] systimotic commented on #11164
Hey @erictleung and @BhaveshSGupta! That issue you were referencing was just solved and closed. It seemed like that was just on the topic of merging a forum page into the CONTRIBUTING.md. I talked to Bhasvesh on Gitter for a bit. To add to his original description, the idea is to add a section with some troubleshooting steps. I've been in the Gitter room for about a week, and I've seen many people

[2016-10-12 20:14] erictleung commented on #9037
Thanks all for the feedback. The example `pairwise([0, 0, 0, 0, 1, 1], 1)` demonstrates the confusing text. It is not well written to reflect what the test asks for. We can change the confusing text to:

[2016-10-12 20:16] erictleung commented on #11176
Sounds like the issue has been resolved. Closing as resolved. Happy coding!

[2016-10-12 20:16] #11176 closed

[2016-10-12 20:18] erictleung commented on #11175
@RodrigoCastroS thanks for the issue. Can you elaborate on what "problems" you are experiencing when you submit the challenge? You code is correct and passes for me, albeit I'm using Chrome rather than Firefox. Screenshots of your issue can also help us diagnose the issue.  Thanks!

[2016-10-12 20:26] erictleung commented on #11163
@Dayfiri ah so you're having issues while you're using the Gitter side chat within the FreeCodeCamp website? I haven't had any issues with it. Can you share screenshots of what kind of error or issue you come across when you open the chat within the FreeCodeCamp page? Thanks!

@lynnbennett are you experiencing a similar issue with the FreeCodeCamp page or are having issues on the www.gitter.com we

[2016-10-12 20:32] dhcodes commented on #10163
I'll take a stab at this assuming we still plan to have MDN links on the site.

[2016-10-12 20:34] lynnbennett opened #11179 "problem signing on chat and running code"
Challenge [Use appendTo to Move Elements with jQuery](https://www.freecodecamp.com/challenges/use-appendto-to-move-elements-with-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target1%22).prop(%22disabled%22%2C%20true)%3B%0A%20%20%20%20%24(%22%23target4%22).remove()%3B%0A%20%20%20

[2016-10-12 20:48] ananaymital commented on #11179
@lynnbennett you have a small errors in your code. `Id`s are identified using `#` and also there is a typo in `appendTo` and again just before ending the `script` tag.
In the future, please post in the [HelpJavascript](https://gitter.im/FreeCodeCamp/HelpJavaScript) Gitter channel first. If the consensus there is that it is a bug, then you should post here.

[2016-10-12 20:59] Dayfiri commented on #11163
This is the *first* image where chat is open and going. **Note** I'm signed on FCC page but not in gitter chat.
![first-image](https://cloud.githubusercontent.com/assets/16082563/19327385/0a8a61c6-90cf-11e6-8744-387a6180cf27.png)

This is *second* image where I'm trying to "start chatting" with my github account
![second-image](https://cloud.githubusercontent.com/assets/16082563/19327410/2ed083f8-

[2016-10-12 21:09] jinz2014 commented on #11177
A few suggestions:

1 Is there a next/previous button to go to the next/previous question ?
2 Are the solutions to questions stored somewhere when you sign in again ?

Thanks

From: Eric Leung [mailto:notifications@github.com]
Sent: Wednesday, October 12, 2016 2:38 PM
To: FreeCodeCamp/FreeCodeCamp
Cc: JIN, ZHEMING; Mention
Subject: Re: [FreeCodeCamp/FreeCodeCamp] Add an example (#11177)

Closed #1

[2016-10-12 21:45] voirs commented on #6568
correct code is:

processed = process(7);

(WITHOUT the space between process and (7)

[2016-10-12 21:48] erictleung commented on #11177
@jinz2014

1. There is no previous or next button. There is a discussion on improving challenge navigation here https://github.com/FreeCodeCamp/FreeCodeCamp/issues/10423.
2. If you visit your FreeCodeCamp profile page, you can see your coding solutions for each challenge https://www.freecodecamp.com/jinz2014

[2016-10-12 21:53] erictleung commented on #11179
@lynnbennett this seems to be the same issue as the one you've opened earlier. We try to keep discussions on pre-existing issues if they pertain to the same thing. So please continue the discussion over in your previously open issue here https://github.com/FreeCodeCamp/FreeCodeCamp/issues/11163. Again, I've added the `blocked` label to your first issue because we were waiting on more information a

[2016-10-12 21:53] #11179 closed

[2016-10-12 22:28] erictleung commented on #11163
@Dayfiri thanks so much for those very informative screenshots. That is very odd. I signed out of Gitter while being signed into FreeCodeCamp to reproduce your first image. I got to where you sign in with GitHub. I successfully signed in with GitHub and was able to get to chat again. I'm assuming that @lynnbennett is going through the same issue of unable to sign into the side bar chat.

tl;dr I w

[2016-10-12 22:36] jinz2014 commented on #11177
Thank you for your email!

________________________________
From: Eric Leung <notifications@github.com>
Sent: Wednesday, October 12, 2016 5:51:37 PM
To: FreeCodeCamp/FreeCodeCamp
Cc: JIN, ZHEMING; Mention
Subject: Re: [FreeCodeCamp/FreeCodeCamp] Add an example (#11177)

@jinz2014<https://github.com/jinz2014>

  1.  There is no previous or next button. There is a discussion on improving challenge n

[2016-10-12 23:03] helloitsian opened #11180 "HTTPS for Geo Location and Open Weather API Conflicts"
Challenge [Show the Local Weather](https://www.freecodecamp.com/challenges/show-the-local-weather) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Chrome has deprecated Geolocation in JavaScr

[2016-10-13 00:30] erictleung commented on #11180
@helloitsian thanks for the issue. This is a known issue in #8988 and #9079. I think https://github.com/FreeCodeCamp/FreeCodeCamp/pull/10341 fixes both issues. Take a look at the changes and discussion on those pages for some possible solutions. Happy coding!

[2016-10-13 00:30] #11180 closed

[2016-10-13 00:52] Dayfiri commented on #11163
@erictleung After login in on gitter page in a new window, I went back to Free Code Camp page. I signed out and signed in. Chat still ain't working, but this time I logged in with twitter account and same problem occurs.

[2016-10-13 01:07] Pratikshagit commented on #11175
@RodrigoCastroS.. Turn-off your ad-blocker, It should work..!!

[2016-10-13 01:36] Dayfiri commented on #11175
I have Ad blocker installed and I'm on mozzilaDev version 51. It works all good for me. Running and resetting the assignment.

[2016-10-13 07:17] nwolisa opened #11184 "Test should not pass because solution has more than one input element"
Challenge [Create a Set of Radio Buttons](https://www.freecodecamp.com/challenges/create-a-set-of-radio-buttons#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobst

[2016-10-13 07:46] marhyorh commented on #11184
It doesn't matter. The main point of the challenge is to have a set of radio button.

[2016-10-13 07:49] majiang666 commented on #6112
学习。

[2016-10-13 07:52] marhyorh commented on #11173
It shouldn't be logged as an issue since you're just curious to know why the imported font don't change color in the editor. You should've just google that :smile:

[2016-10-13 09:16] thanhacun commented on #9886
Can I take on that if there is no active one currenly?

[2016-10-13 11:20] TsenorKapee opened #11185 "not working!!"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-13 11:47] Shooshte commented on #10491
Same issue here,

I get:
`checkCashRegister(19.50, 20.00, [["PENNY", 1.01], ["NICKEL", 2.05], ["DIME", 3.10], ["QUARTER", 4.25], ["ONE", 90.00], ["FIVE", 55.00], ["TEN", 20.00], ["TWENTY", 60.00], ["ONE HUNDRED", 100.00]]) should return [["QUARTER", 0.50]].`

But I am returning:
`[["QUARTER", 0.5]]`

My solution in case you want to run it:
[code]

[2016-10-13 12:14] systimotic commented on #11185
Hey @TsenorKapee! Can you please fill out the issue template with the challenge name, your code, and what isn't working? I'm afraid we can't help you if we don't know what isn't working. If you're looking for coding help, try the 'Help' button in the challenge.

[2016-10-13 12:39] interglobalmedia commented on #3714
Well, I was using something called the Simple Weather plugin based on Yahoo Weather Api Geo-Location that worked beautifully until recently. Now my Weather App is broken too. In order to fulfill this user story, I would have to get a key to access geolocation in the way I need it again. I learned about Yahoo YQL yesterday. You don't need a key for that, but I have to look into whether or not I can

[2016-10-13 12:57] systimotic commented on #11173
As far as I know, the color only changes for known values. Because you could give a font any name you want, there's no way to check whether the value is right or wrong. The highlighting will only work for the default values. This is common behavior across every editor I know about. I understand your confusion though, I hope you understand the reason behind it now.

[2016-10-13 12:59] systimotic commented on #11175
Also works fine here, on Firefox 49.0.1 / Windows 10. Maybe it's a Safari issue?

[2016-10-13 13:04] dhcodes commented on #11173
I'm not able to replicate this. If I use your code @Pratikshagit, and change the color attribute in `.red-text` to blue instead of red, the text turns blue in the editor.

[2016-10-13 13:05] dhcodes commented on #11185
@TsenorKapee as @systimotic has said, please provide some more information about the issue you are experiencing.

[2016-10-13 13:07] RodrigoCastroS commented on #11175
Hi guys!
thank you for the answers! I'll try with the ad blocker, because in some other exercises still happens, even when I refresh the page. I have to reset the assignment, go to the previous exercise and go forward... It's a bit annoying but I didn't find any other way. I'm using Chrome. I'll try to download mozDev version to give it a try.

[2016-10-13 13:09] dhcodes commented on #11184
@nwolisa I have to agree with @marhyorh. The code meets the tests because the tests are looking for radio buttons.

[2016-10-13 13:30] dhcodes opened #11186 "Dev Request: Test User"
I think it would be helpful for testing if there were a way to either:

a) load in a complete/mostly complete test user

OR

 b) load my own user data

into the local instance. I know that I could build such a user from scratch and inject it into the database, but I think it might be worth considering a shared test user that comes with the fork install.

[2016-10-13 13:40] Bouncey commented on #11186
Can you not sign in with github? You would have to register an [OAuth application](https://github.com/settings/developers) for it.

[2016-10-13 13:46] Dayfiri commented on #11173
@dhcodes He is probably setting color to `h2` element but it can't be outputted because `h2` has a class `red-text` that overrides any color value set in `h2` css element. By the way, code works fine.
![screenshot from 2016-10-13 15-42-23](https://cloud.githubusercontent.com/assets/16082563/19351468/3d572f5c-915c-11e6-84df-9c39bae4b19b.png)

[2016-10-13 13:48] Bouncey opened #11187 "Local instance db seeding"
What changed so that we now have to seed the database when a change is made to a challenge json?

Is there a way we can automate it or remove the need for it?

[2016-10-13 13:54] Bouncey opened #11188 "Deprecated middleware warning when running gulp"
Is there a replacement package for this?

[code]

[2016-10-13 14:04] #11160 closed

[2016-10-13 14:24] dhcodes commented on #11186
@Bouncey I've done that but it doesn't pull in my timestamps and completed challenges. This is mostly to test for user-specific errors like the cal-heatmap, certificate completions, language settings, etc.

[2016-10-13 14:27] systimotic commented on #11173
@Dayfiri @dhcodes I think Pratiksha is talking about the syntax highlighting of the font-family. `Lobster` stays white where `Monospace` turns blue/purple.

[2016-10-13 14:33] dhcodes commented on #11173
Oh, then yes, @systimotic's earlier statement is true. Also, non-standard fonts are typically written in quotes like `font-family: 'Lobster', serif;` where serif is standard, serves as a fallback font for Lobster, and doesn't need quotes.

[2016-10-13 14:34] dhcodes commented on #11173
Closing as resolved.

[2016-10-13 14:34] #11173 closed

[2016-10-13 14:34] systimotic commented on #10485
@ktajpuri Are you still working on this?

[2016-10-13 14:42] dhcodes commented on #11187
Duplicate of #10022

[2016-10-13 15:29] #10968 closed

[2016-10-13 15:52] sahilkhurana19 commented on #10998
It has been six days since the PR and the issue has not been resolved. Can i take it up and make a PR?

[2016-10-13 16:08] Manish-Giri commented on #10998
@sahilkhurana19 I've been a bit busy over the last week, but I'm still doing it.

[2016-10-13 16:17] sahilkhurana19 commented on #10998
@Manish-Giri  No worries, I'll look for other issues. :smile:

[2016-10-13 16:28] andmckvr13 commented on #11061
@atjonathan I've updated the titles for the front-end and back-end challenges. However, I'm receiving this error when running npm run test-challenges 'failed: babel-node seed/test-challenges.js

[2016-10-13 16:31] lynnbennett commented on #11163
![screen shot 2016-10-13 at 12 30 40 pm](https://cloud.githubusercontent.com/assets/16314135/19357747/ee4b1d30-9140-11e6-927d-e6b0530a9c0a.png)

[2016-10-13 16:36] atjonathan commented on #11061
@andmckvr13, can you send me the error log in a pm?

[2016-10-13 16:48] andmckvr13 commented on #11061
@atjonathan sent on gitter

[2016-10-13 16:49] lynnbennett opened #11189 "unable to advance to next challange"
Challenge [Clone an Element Using jQuery](https://www.freecodecamp.com/challenges/clone-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target1%22).prop(%22disabled%22%2C%20true)%3B%0A%20%20%20%20%24(%22%23target4%22).remove()%3B%0A%20%20%20%20%24(%22%23target2%22)

[2016-10-13 16:55] #11153 closed

[2016-10-13 16:57] dhcodes commented on #11189
@lynnbennett you have an error in your code. Please consider asking for help in the Gitter help chat room by clicking the Help button on the challenge.

[2016-10-13 16:57] #11189 closed

[2016-10-13 17:06] jonataswalker commented on #10232
The Exact Change challenge doesn't reflect the merged PR #10246, which is a bit confusing.

[2016-10-13 17:20] atjonathan commented on #10232
@jonataswalker, it's possible that because the current status of `https://freecodecamp.com` doesn't reflect the `staging` branch, the change hasn't been pushed to production yet. Hopefully we will have this up shortly 😃

[2016-10-13 18:00] erictleung commented on #11186
@dhcodes I can't verify this works but looking at the Chinese FreeCodeCamp fork, it looks like they created what looks to be a test user script https://github.com/FreeCodeCampChina/freecodecamp.cn/blob/dev/full-test-data.js. Maybe take a look at it?

[2016-10-13 18:46] svt202 commented on #3628
Just had this same issue with Chrome/Windows 10. Internet explorer worked fine though!

[2016-10-13 19:13] #9731 closed

[2016-10-13 19:23] #4466 closed

[2016-10-13 19:28] QuincyLarson commented on #9196
This is fixed on React. Closing.

[2016-10-13 19:28] #9196 closed

[2016-10-13 19:31] QuincyLarson commented on #5138
We may work on this in the future. Right now we have bigger priorities.

[2016-10-13 19:31] #5138 closed

[2016-10-13 19:33] #8149 closed

[2016-10-13 19:33] marhyorh commented on #5138
I suggest we make use of github gist later on. That would seem easier to integrate as well.

[2016-10-13 20:01] #5322 closed

[2016-10-13 20:02] QuincyLarson commented on #5322
@roelver we're going to work on the open API later.

With the curriculum expansion, this particular challenge will be moved into the "extra practice projects" section and will receive a lot less attention as a result.

[2016-10-13 20:02] #3589 closed

[2016-10-13 20:03] #6191 closed

[2016-10-13 20:04] QuincyLarson commented on #5405
We don't think we need this at this point. Camper feedback should suffice for now.

[2016-10-13 20:04] #5405 closed

[2016-10-13 20:05] QuincyLarson commented on #7040
@brianamarie great idea. We can consider doing this later through curriculum expansion.

[2016-10-13 20:05] #7040 closed

[2016-10-13 20:05] QuincyLarson commented on #5143
Our goal is to remove virtually all images from FCC with the forthcoming redesign, which will make it easy to move the remainder to S3

[2016-10-13 20:05] #5143 closed

[2016-10-13 20:06] #6991 closed

[2016-10-13 20:07] QuincyLarson commented on #7072
This is still relevant, but it only affects a few people. We'll keep this open. Does anyone want to tackle it?

[2016-10-13 20:07] QuincyLarson commented on #7186
@ltegman the plan is to remove these videos completely. I am closing this issue.

[2016-10-13 20:07] #7186 closed

[2016-10-13 20:08] #7163 closed

[2016-10-13 20:09] QuincyLarson commented on #7392
@jondcoleman @ltegman thanks for pointing this out.

@Em-Ant does our new version of the URL shortener use a GET or a POST?

[2016-10-13 20:10] QuincyLarson commented on #7002
@macbem is this still an issue?

[2016-10-13 20:11] QuincyLarson commented on #7438
@alphashuro @ltegman we will simplify the video challenge interface and it will not use animations.

[2016-10-13 20:11] #7438 closed

[2016-10-13 20:14] QuincyLarson commented on #6924
@revisualize @raisedadead have you had a chance to look at this recently? This is an issue we still want to fix. Would either of you be interested in taking a crack at it?

[2016-10-13 20:14] QuincyLarson commented on #7468
@leemunroe @pradeepce @raisedadead I'm doing some housekeeping and wondered whether either of you had had time to make further progress on this.

[2016-10-13 20:18] macbem commented on #7002
@QuincyLarson I've switched to OS X and I can't replicate the issue, but I also can't confirm that it's not there anymore. You'd have to ask someone with Windows / Linux installed. I'll try to replicate it in my office tomorrow - I'll keep you updated.

[2016-10-13 20:18] #7807 closed

[2016-10-13 20:18] #7887 closed

[2016-10-13 20:20] #7105 closed

[2016-10-13 20:21] QuincyLarson commented on #7795
@vzhikness @NicholasAsimov @yashdeeph709 can you confirm whether this is still an issue?

[2016-10-13 20:21] QuincyLarson commented on #7311
We haven't been using COM for curriculum development recently, so I'm closing this issue.

[2016-10-13 20:21] #7311 closed

[2016-10-13 20:22] QuincyLarson commented on #8096
@idietmoran is this still an issue?

[2016-10-13 20:24] enviso commented on #11153
So how do we get past this step?

[2016-10-13 20:32] ltegman commented on #7072
Assuming our power doesn't go out with the incoming NW storm I can take a look at this in the next couple of days. Anyone else is free to take it though since I may or may not lose power.

[2016-10-13 20:41] Em-Ant commented on #7392
@QuincyLarson  It uses GET, like the old example. I agree with @ltegman in theory we should use POST. I can easily modify it to use POST, but then campers will need to use some external tools like curl or postman, or they'll need to provide a submission form in the front-end to interact with the API.
For our future testing system there should not be problem with both methods.

Should I change the

[2016-10-13 22:05] QuincyLarson commented on #5138
@marhyorh this is easier to integrate, but it does not show up on the GitHub activity chart, which is one of the main reasons campers want this functionality.

[2016-10-13 22:39] #4465 closed

[2016-10-13 22:43] Bouncey commented on #11141
@BerkeleyTrue @QuincyLarson Is this even possible without a big refactor of `./server/boot/react.js`, amongst others?

[2016-10-13 23:12] EarthToAbigail commented on #7847
@sethmchris I tried your solution but it's not working for me... It disables the mirror wrapping function  but the cursor still does whatever it wants :( maybe I'm doing it wrong? I simply installed the extension and copy pasted your piece of code and enabled the extension on the FCC website... Is there anything I'm missing?

[2016-10-13 23:26] elisecode247 commented on #10485
I'd like to work on it if it's open

[2016-10-13 23:36] QuincyLarson opened #11193 "New Map based on DevDocs.io sidenav"

[2016-10-13 23:37] QuincyLarson opened #11194 "JSBin-like tab management system"

[2016-10-14 01:08] Pratikshagit commented on #11173
@systimotic and @dhcodes  ..thanks for your response, my confusion is clear now. :)

[2016-10-14 01:41] idietmoran commented on #8096
@QuincyLarson Yes, it should work. I even tried revising my code to this:

[code]

it fails three tests

![zzzz](https://cloud.githubusercontent.com/assets/15315637/19372882/c57464d2-918d-11e6-95ff-2f6a2f465611.png)

[2016-10-14 01:51] WhitleyStriber opened #11195 "Example misguides the student:"
There is nothing wrong with the code, but the example tells the user to put the "checked" statement inside of an input element, when the example clearly shows that it's outside of the input element.

[2016-10-14 01:52] #11195 closed

[2016-10-14 01:54] aaroncalderon commented on #10486
I found the same issue. Do not know if it is relevant since the material has not touched the subject of hex color short hand.

[2016-10-14 02:49] texas2010 commented on #6568
@voirs
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-10-14 07:29] atjonathan commented on #11194
Has this not been in the workings for a few months with regards to the multi tab editor? It surely shouldn't be that hard to implement. If @Berkeleytrue is busy I can take this one on!

[2016-10-14 07:43] vzhikness commented on #7795
No issue for me now
![computer_basics](https://cloud.githubusercontent.com/assets/3816520/19379529/0ae486e2-91fb-11e6-8df5-927dea1f5222.PNG)

[2016-10-14 07:49] Ynull commented on #8259
I think @msabitabrata is right, I was stuck here for a long time, maybe it needs more hints about the restrictions of the problem. Here is my solution:
[code]

[2016-10-14 08:14] ramir141974 commented on #7795
confirm sir thank you

[2016-10-14 08:20] Priya2895 commented on #10135
hi,
i replaced the link with # still it is not running..!!!
what should i do?

[2016-10-14 08:24] adamisntdead commented on #5138
I had a version using github repos complete but I have to rewrite for the react codebase

Sent from my iPhone

[2016-10-14 09:18] Bouncey opened #11198 "err-saga.js causes problems when syntax errors are caught"
When a syntax error is caught, `err-saga.js` gets as far as [line 5](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/client/sagas/err-saga.js#L5) and stops all processes.

There is a syntax error message in the dev console

There is no error toast

I can't see anything in `~ /client/commonFramwork/` working eg. `code-storage`, `detect-unsafe-code-stream`, display-test-results` etc...

![

[2016-10-14 10:23] lamlylom90 commented on #11198
Good ok

[2016-10-14 10:23] lamlylom90 commented on #11198
Open and pull

[2016-10-14 10:24] lamlylom90 commented on #11198
Open

[2016-10-14 10:24] lamlylom90 commented on #11198
Ok

[2016-10-14 10:26] iameuanmackay commented on #8713
Gah! I'm stuck, and not too sure what I'm missing on this... Any pointers, would be much appreciated...

`function caseInSwitch(val) {
  var answer = "";
  // Only change code below this line

  switch (val){
    case "1": answer = ("alpha");
     break;
    case "2": answer = "beta";
     break;
    case "3": answer = "gamma";
     break;
    case "4": answer = "delta";
     break;
  }

  // Only

[2016-10-14 10:42] alexolive commented on #5828
var myStr= "FirstLine\n\\SecondLine\\\r\ThirdLine";

just copy that, this works!

You have 2 backslashes from both sides from SecondLine because you need do display it as the challenge says!

you welcome :)

[2016-10-14 12:29] sunsplat opened #11200 "Syntax error with link"
Challenge [Use the Twitchtv JSON API](https://www.freecodecamp.com/challenges/use-the-twitchtv-json-api) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:48.0) Gecko/20100101 Firefox/48.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

![Image of Issue](http://i.imgur.com/pdYknvu.png)
11. - The sentence is not finishe

[2016-10-14 13:02] texas2010 commented on #8259
@Ynull
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-10-14 13:03] texas2010 commented on #5828
@alexolive
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-10-14 13:04] texas2010 commented on #8713
@iameuanmackay
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2016-10-14 13:20] texas2010 commented on #10135
@Priya2895
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-10-14 14:03] harshtomar6 opened #11201 "My Code is not Correct, But it passes the challenge"
Challenge [Seek and Destroy](https://www.freecodecamp.com/challenges/seek-and-destroy#?solution=%0Afunction%20destroyer(arr)%20%7B%0A%20%20%2F%2F%20Remove%20all%20the%20values%0A%20%20var%20args%20%3D%20Array.from(arguments)%3B%0A%20%20return%20args%5B0%5D.filter(function(val)%7B%0A%20%20%20%20return%20val!%3Dargs%5B1%5D%20%26%26%20val!%3Dargs%5B2%5D%20%26%26%20val!%3Dargs%5B3%5D%3B%0A%20%20%7D)%3

[2016-10-14 14:14] sahilkhurana19 commented on #10592
@dhcodes I have been trying to fix it. Yes that paragraph font-size does gets added to the style tags. The tests works fine when the user enter incorrect font-size but if nothing is added, the challenge is accepted. Here's how I have been trying to deal with it but I can't seem to get it right. `(parseInt($(\"p\").css(\"font-size\"), 10) > 15)&&($(\"p\").css(\"font-size\") != undefined)`  Any help

[2016-10-14 15:15] #7795 closed

[2016-10-14 15:18] atjonathan commented on #11200
Thanks for catching this, however this has already been fixed. It will be pushed to production soon!

[2016-10-14 15:18] #11200 closed

[2016-10-14 16:09] dakutazzz opened #11203 "You need an a element that links to http://freecatphotoapp.com"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%3Cp%3EHere%27s%20a%20%3Ca%20href%3D%22http%3A%2F%2Ffreecodecamp.com%22%3E%20link%20to%20Free%20Code%20Camp%3C%2Fa%3E%20for%20you%20to%20follow.%3C%2Fp%3E%0A%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3

[2016-10-14 16:11] tcolucci23 opened #11204 "Image resize issue"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20.smaller-image%20%7B%0A%20%20%20%20width%3A100px%3B%0A%20%20%7D%0A%20%20h2

[2016-10-14 16:17] dhcodes commented on #11204
@tcolucci23 the url should be: https://bit.ly/fcc-relaxing-cat

I just tested and it does not seem dead.

[2016-10-14 16:18] dhcodes commented on #11203
@dakutazzz you have an error in your code. Please consider asking for help in the Gitter Help chat room by clicking the Help button on the challenge.

[2016-10-14 16:18] #11203 closed

[2016-10-14 16:20] dhcodes commented on #11186
thanks @erictleung I'll try injecting that user or a modified version of it to see how well it works. Will report back.

[2016-10-14 16:57] erictleung commented on #11201
@harshtomar6 thanks for the issue. I agree that you are able to brute force the algorithm like your code does. I'm not sure how you would test for any number of arguments possible because you would not only add tests, but you could always write to the tests. In other words, we could add five arguments and you could modify your code to just handle five. Why not six? It seems like a slippery slope t

[2016-10-14 17:09] augmt commented on #8096
@idietmoran A class' methods in ES6 are non-enumerable so it's impossible for `Object.keys(bob).length` to return anything but the number of public data variables (two) with this current syntax.

Also if you'd like to have `bob.firstName` and `bob.lastName` to be undefined, then `firstName` and `lastName` must somehow be kept private.

[2016-10-14 17:12] Bouncey commented on #11201
@harshtomar6 I second @erictleung 's comments on this

[2016-10-14 17:12] abhisekp commented on #11201
I once saw a nice talk about testing in which the speaker says about testing for
- 0 input (or no inputs)
- 1 input
- 3 inputs (small number of inputs)
- 5 inputs (small number of inputs)
- 50 or more inputs (or similar large number of inputs)

Considering the limitation of the platform, **I suggest to at least add a 8 input test.**
But still as @erictleung says, one can bypass that by hard coding

[2016-10-14 17:50] QuincyLarson commented on #8096
@augmt thanks for digging in and clarifying this.

[2016-10-14 17:53] QuincyLarson commented on #5138
@adamisntdead yes - this should be a one-time change. We are working hard to finalize the React branch. Thanks for your help working on this commonly requested feature!

[2016-10-14 17:54] QuincyLarson commented on #11194
@atjonathan it will be a huge part of our upcoming UI overhaul. Perhaps we can get you on the phone and show you what we're thinking.

[2016-10-14 18:06] QuincyLarson commented on #11141
@Bouncey it will require a heavy refactor but it will be worth it in terms of simplifying our URL structure.

[2016-10-14 18:08] mikhail2882 opened #11205 "Sizing image"
Please help What am i doing wrong sizing the image?
Size your Images

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }
  .smaller-image{width:100px;}

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<img

[2016-10-14 18:10] dhcodes commented on #11205
@mikhail2882 Are you experiencing an issue with the challenge? If you have a coding question, please consider asking for help in the Gitter chat room by clicking the Help button on the challenge.

[2016-10-14 18:10] #11205 closed

[2016-10-14 18:16] Bouncey commented on #11185
@TsenorKapee If you still have an issue, please reopen this issue and follow the advice above regarding information.

Happy Coding!

[2016-10-14 18:16] #11185 closed

[2016-10-14 18:17] Bouncey commented on #11187
Closing as duplicate

[2016-10-14 18:17] #11187 closed

[2016-10-14 18:19] QuincyLarson commented on #7392
@Em-Ant we don't want campers to have to install a tool like Postman just to complete this challenge. It's also kind of inconvenient for them to have to build a front end. Could we build a simple front end for them with a submit form then tell them to just use that? One of the key aspects of our challenges is that we want them to be modular, to where you don't need to know HTML/CSS to be able to c

[2016-10-14 18:21] Bouncey commented on #11193
Do we not already have a drill-down menu?

Or are you talking more about bringing the sidnav back for `React Release`?

[2016-10-14 18:29] Bouncey commented on #11204
@tcolucci23 Our tests check that an image element with the `src`of `https://bit.ly/fcc-relaxing-cat` has the class `smaller-image`

This is why your code is not passing.

The URL provided is not broken for me either.

I am closing this issue as it is for code help. Please use the `Help` button for code help, clicking this button takes you to a dedicated chatroom.

If This is still an issue after u

[2016-10-14 18:29] #11204 closed

[2016-10-14 18:47] QuincyLarson commented on #7002
@macbem excellent! Thank you for your help with confirming whether this is still an issue. If it is an issue, could you try and capture a short video of the issue? That will better help us understand it.

[2016-10-14 19:04] dhcodes commented on #10592
@sahilkhurana19 I think the issue may be that assert tests with .css don't seem to be working on the beta. You may need to convert this to a `code.match` style test with a Regex.

[2016-10-14 19:08] jondcoleman commented on #7392
I don't think that a interface to the API needs to be specified (e.g. front end, postman, curl, etc).  The user can test/consume their API in any way they choose to.  The File Upload Microservice already requires a POST but doesn't specify how to actually send the POST requires.

[2016-10-14 19:10] ltegman commented on #7392
@QuincyLarson It is cumbersome, but I think it's an important part of working on an API. Learning a tool like Postman or curl or HTTPie is vital for testing an API that doesn't have a frontend, which is very often the case when working on a team of multiple people.

[2016-10-14 19:59] Em-Ant commented on #7392
@QuincyLarson where should we place the front end form (if we decide to use it) ? In the microservice boilerplate ? In a separate project (e.g. some time ago I built [this](https://seed-field.hyperdev.space/) to test my apis, before getting used to curl ) ? In the FCC client ?

[2016-10-14 20:12] Bouncey commented on #9850
If #11202 is merged, I can have this done with

[code]

[2016-10-14 20:19] macbem commented on #7002
There was a video, but the repo probably got purged when I removed lots of my old *totally not spaghetti, not at all* code. I'm glad to announce that the issue is not there anymore on OS X El Capitan (Chrome, Safari) and Ubuntu 14.04 (Chromium, Chrome, Firefox, Opera). It was tested on the newest versions available, so yeah, good job, guys.

[2016-10-14 20:25] mpaluru opened #11207 "Ability to show random codepens using "editor's fav list" for the different challenges"
**New Feature Request:**
Currently the example codepen shown for a particular Project is fixed/hard coded. It would be nice to have a "Editor's Favorite List" or a "Top Voting List" and pick one randomly from this list and present it on the Project page. This feature creates a healthy competition among the FCC users and it's quite motivating/encouraging/rewarding to aim for a good design.

Here is

[2016-10-14 20:26] elisecode247 commented on #9851
I'll take a stab at it

[2016-10-14 20:29] abohay commented on #11207
great dudes

[2016-10-14 20:31] atjonathan commented on #7002
@macbem, awesome! Thanks for confirming this. Closing as resolved.

[2016-10-14 20:31] #7002 closed

[2016-10-14 20:44] atjonathan opened #11208 "💪 Use yarn instead of NPM in Contributing Guide"
[Yarn](https://yarnpkg.com/) is said to be quicker and more reliable, fixing some of the common errors with NPM. We should refer to this instead of NPM in the [Contributing Guide](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md).

[2016-10-14 20:52] QuincyLarson commented on #11207
Rather than build this into the challenges, I think we should have an "editor's picks" section somewhere else.

Our goal is actually to use extremely bare-bones implementations of these projects. A lot of campers see polished versions and get intimidated. They will complain that they haven't been adequately prepared for these projects and that theirs looks vastly inferior.

I've opened a lot of is

[2016-10-14 20:58] abohay commented on #11207
we can select from those who complete the full cirriculum
small number and it will be easy to pick

[2016-10-14 20:58] Bouncey commented on #9850
@QuincyLarson @BerkeleyTrue I have this working locally

[2016-10-14 21:00] courtjester71 opened #11210 "Comparison with logic and operator still not working, im not loosing money on this bs"
#### Challenge Name

https://www.freecodecamp.com/challenges/comparisons-with-the-logical-and-operator

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-14 21:01] Bouncey commented on #11208
I looks promising, have you tried it out?

[2016-10-14 21:02] courtjester71 commented on #11210
Look, this is simple, Ive watched another do this exact same code and have it go right through, and Im growing impatient as Im not going to loose $200 on this one bs code section

[2016-10-14 21:07] Bouncey commented on #11210
@courtjester71 I don't know who you are loosing $200 to, but freeCodeCamp is totally free, no ads, no subscriptions, no membership fees, nothing. Ever.

As for your code, the devil is in the detail, I'm guessing you have at some point deleted `"Yes"` and typed in `"yes"` in it's place. I do this thing all the time.

Our tests for this challenge are quite picky about capitalisation. Compare the exp

[2016-10-14 21:27] #10709 closed

[2016-10-14 21:53] courtjester71 commented on #11210
I kmow your free, Im on a veterans program which is none of your business,
but you like to give run around answeres to direct questions

On Oct 14, 2016 16:10, "Stuart Taylor" <notifications@github.com> wrote:

[2016-10-14 21:54] courtjester71 commented on #11210
Omg, so reset and rewrite, seems quirky, but ok

On Oct 14, 2016 16:10, "Stuart Taylor" <notifications@github.com> wrote:

[2016-10-14 22:11] elisecode247 commented on #9851
Okay, I think I figured it out. The reason why it's not working is because the "arguments" object is getting the arguments from the callback, not the destroyer function. Create a variable to enclose the values in the "arguments" object. That's why jdhine's code works, because he put the arguments into a variable, and then the callback was able to use the "arguments" object that you actually need.

[2016-10-14 22:22] courtjester71 commented on #11210
So lomg as its not a bug, one of two out of all the comtent wont work im
any comfig, and found a whol lot of others experiencing the same issue,
same challenges. So Im sayimg Bug?........

On Oct 14, 2016 16:10, "Stuart Taylor" <notifications@github.com> wrote:

[2016-10-14 22:26] Bouncey commented on #11210
@courtjester71 are we still talking about the same challenge?

The `Comparison with logic and operator` challenge expected `"Yes"` for some of the test cases, your code was returning `"yes"`, which caused them to fail.

By resetting the challenge, `"yes"` was changed back to `"Yes"` and the tests passed.

Please let me know if I have cleared this up for you

[2016-10-14 22:44] utsab commented on #11198
I'd like to take on this bug.

[2016-10-14 22:49] Bouncey commented on #11198
@utsab go for it :+1:

[2016-10-14 23:11] atjonathan commented on #11208
@Bouncey, yeah; it works well!

[2016-10-14 23:16] courtjester71 commented on #11210
That and one other, Im thinking though there may be some glitch somewhere,
as ive consulted online with many, compared codimg closely, to the poimt of
exhanging code that has worked just fine for some but wont for others, as I
said I watched the code I had submotted work first time for a collegue

On Oct 14, 2016 17:29, "Stuart Taylor" <notifications@github.com> wrote:

[2016-10-14 23:49] QuincyLarson commented on #10628
@BerkeleyTrue and I will add a CTRL+S hotkey (which will be visible in the submit tab.) This way campers can either click the submit button in the toast (and that toast will not go away until dismissed) or use the CTRL+S hotkey.

[2016-10-14 23:50] QuincyLarson commented on #11207
We can discuss building this feature later once we finish the curriculum overhaul. I am closing this issue for now. Thanks to @mpaluru for suggesting this cool idea :)

[2016-10-14 23:50] #11207 closed

[2016-10-14 23:51] QuincyLarson commented on #7002
@macbem thanks again for confirming this! 🎊

[2016-10-15 01:46] ltegman commented on #11208
It's still a bit rough around the edges for anything but the most standard use cases. I'm getting the following error when I try to install FreeCodeCamp with it:
[code]

[2016-10-15 01:59] elisecode247 commented on #9851
Why the code works with 'use strict': "arguments objects for strict mode functions store the original arguments when the function was invoked." ([MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode#Making_eval_and_arguments_simpler))

[2016-10-15 02:36] raknjak commented on #11145
https://github.com/linnovate/mean/issues/1622
The solution in this link is to install a GNU patch which didn't work for me - could someone confirm the answer above as a working solution in stead please? I'm running 4.6.0.

[2016-10-15 04:22] P1xt commented on #10628
@QuincyLarson Why have the submit button in a toast at all? Toasts are informational messages that, typically, can be ignored without compromising the functionality of an application. That's why they disappear... It's not not really a "best practice" and, though I can't know for certain without actually seeing how it's implemented, I'm a bit dubious that it wouldn't introduce accessibility issues.

[2016-10-15 06:28] BerkeleyTrue commented on #11141
@QuincyLarson We cannot remove challenges completely. This makes the backend logic incredibly difficult. How does this improve SEO? Is it really a huge benefit that we should add so much complexity to our routes?

[2016-10-15 06:35] QuincyLarson commented on #11193
@Bouncey this would be a much more compact on-by-default, collapsed-by-default style sidenav with a lot more content, like this:
![](https://www.evernote.com/l/Ar8D5QkpjGpH_638mKkms6Bnf4AIu6LaQZ0B/image.png)

[2016-10-15 06:40] QuincyLarson commented on #11141
@BerkeleyTrue shorter URLs are believed to be better for SEO than longer ones, and less subfolders is better than more subfolders: https://moz.com/blog/15-seo-best-practices-for-structuring-urls

[2016-10-15 06:49] QuincyLarson commented on #10628
@P1xt a few months ago, @BerkeleyTrue and I determined that it was awkward to look over at a toast, then to look back to the directions area and click a "go to the next challenge" button. In practice, I believe most people will just click the hotkey and it won't be a big issue.

[2016-10-15 06:53] QuincyLarson commented on #7392
@Em-Ant I think we should have it in place already in the microservice boilerplate so that it isn't necessary.

I've actually been thinking that we could have standard views for our dynamic web app projects already in place so that campers can focus purely on the back end aspects of building full stack apps instead of having to also focus on HTML and CSS. The dynamic web apps aren't very front end

[2016-10-15 07:02] Bouncey commented on #10628
@QuincyLarson I would rarely use hotkeys to navigate a webpage. I never knew that keying 'ctrl + enter' for a second time advanced to the next challenge until I saw the issue saying it wasn't there any more.

If you don't like the idea of a separate toast and submit button, we could animate a show/hide toggle between a 'Run tests' and 'Submit' button in the side panel. The logic can be set up so t

[2016-10-15 07:08] QuincyLarson commented on #11141
@BerkeleyTrue this isn't a high priority - if you'll note the SEO project is stacked behind shipping react. But it is something we should do eventually.

[2016-10-15 07:20] atjonathan commented on #11208
Good Point. We should revisit this once Yarn is more stable!

[2016-10-15 07:20] #11208 closed

[2016-10-15 07:22] adilkara opened #11214 "how to delete an element? newbie please help"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-15 07:38] QuincyLarson commented on #10901
@berkeleytrue to be 100% unambiguous this issue is critical path for curriculum development. Please focus on this issue so we can keep moving forward with our back end development curriculum.

[2016-10-15 08:22] #11214 closed

[2016-10-15 08:31] Bouncey commented on #10628
Toast accessibility can be helped with the [alert role](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_alert_role)

[2016-10-15 09:20] Dayfiri commented on #11210
Assignment works fine.
![screenshot from 2016-10-15 11-18-58](https://cloud.githubusercontent.com/assets/16082563/19408955/5e43d2a6-92c9-11e6-8d96-f68a734c433b.png)

[2016-10-15 09:36] Nashaatfarrag opened #11215 "Chaining If Else Statements - issue with else & else if"
Challenge [Chaining If Else Statements]
Please describe how to reproduce this issue, and include links to screenshots if possible.
The Code was accepted only when i used Else if at the final condition
why its not accepted when i used only else ?
whats missing ?

My code : JavaScript

function testSize(num) {
  // Only change code below this line

 if ( num <   5 ) return "Tiny" ;
else if ( num <

[2016-10-15 10:05] marhyorh commented on #11215
@Nashaatfarrag else statements don't take an argument. Next time use the [Help Room](https://gitter.im/FreeCodeCamp/HelpJavaScript)

[2016-10-15 10:26] Em-Ant commented on #7392
@QuincyLarson if We use only one boilerplate for all the microservices, campers will need to wire the form to the related endpoint, where appropriate. The 2 projects that require a form also need different data encoding (multipart for the file uploader, urlencoded - or json - here).

The alternative is having one boilerplate for each project.

[2016-10-15 11:20] jelleisgoed commented on #9368
I have the same issue, but not always. I am happy that others are experiencing the same problem so there isn't something wrong with my code

[2016-10-15 11:24] Nashaatfarrag opened #11216 "Golf Code - why cannt i pass this challenge ?"
Challenge [Golf Code](https://www.freecodecamp.com/challenges/golf-code#?solution=%0Afunction%20golfScore(par%2C%20strokes)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%0A%20if%20(%20strokes%20%3C2)%20%0A%20%20%20%20return%20%22Hole-in-one%22%3B%0A%20%20else%20if(strokes%20%3C%3D%20par%20-2)%0A%20%20%20%20return%20%22Eagle%22%3B%0A%20%20%20else%20if(strokes%20%3D%3D%2

[2016-10-15 11:27] Nashaatfarrag commented on #11215
Thnx it works

[2016-10-15 11:27] #11215 closed

[2016-10-15 11:28] P1xt commented on #10628
@QuincyLarson the beauty of toasts is that they contain information that you don't have to waste your time looking at if you don't want to. Or, rather, that they're "supposed to" contain only non-critical information.

@Bouncey Oddly, the removal of the "double" Ctrl-Enter to test then submit was pretty much the first thing noticed in the new interface by those of us who use it.

Toggling the stat

[2016-10-15 12:12] armvas commented on #11216
You're missing an exclamation mark (!)

Should be Hole-in-one! not Hole-in-one

[2016-10-15 12:20] atjonathan commented on #11216
@armvas is correct. Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-10-15 12:20] #11216 closed

[2016-10-15 13:11] #9104 closed

[2016-10-15 13:15] texas2010 commented on #11210
close issue since this challenge dont have a bug or issue.

[2016-10-15 13:15] #11210 closed

[2016-10-15 13:17] #11184 closed

[2016-10-15 13:17] atjonathan commented on #11175
Update on this @RodrigoCastroS ?

[2016-10-15 13:18] #10933 closed

[2016-10-15 13:20] atjonathan commented on #10737
@Bouncey, update on this?

[2016-10-15 13:20] atjonathan commented on #9121
Can anyone else confirm this?
cc/ @FreeCodeCamp/issue-moderators

[2016-10-15 13:49] KeyurRamoliya opened #11218 "Chunky Monkey has an issue"
#### Challenge Name
Chunky - Monkey

https://www.freecodecamp.com/challenges/chunky-monkey

#### Issue Description

When I am trying to solve the challenge I wrote the following code and browser is just crashed.
[code]
After writing this code I ran the test and browser is crashed. I reload the page but my previous code is already saved and free code camp site run the code when page is reload, it b

[2016-10-15 14:10] andmckvr13 commented on #11218
Perhaps it's an infinite loop you've written. Try this https://github.com/FreeCodeCamp/FreeCodeCamp/wiki

[2016-10-15 15:23] kdcamp11 opened #11220 "saying that I did not "Apply the btn-default class to each of your button elements.""
Challenge [Apply the Default Bootstrap Button Style](https://www.freecodecamp.com/challenges/apply-the-default-bootstrap-button-style#?solution=%0A%3Cdiv%20class%3D%22container-fluid%22%3E%0A%20%20%3Ch3%20class%3D%22text-primary%20text-center%22%3EjQuery%20Playground%3C%2Fh3%3E%0A%20%20%3Cdiv%20class%3D%22row%22%3E%0A%20%20%20%20%3Cdiv%20class%3D%22col-xs-6%22%3E%0A%20%20%20%20%20%20%3Cdiv%20class

[2016-10-15 15:30] gowshiselva commented on #6143
function multiplyAll(arr) {
  var product = 1;
  // Only change code below this line
  for (var i=0; i < arr.length; i++) {
  for (var j=0; j < arr[i].length; j++) {

   product *= arr[i][j] ;}}
  // Only change code above this line
  return product;
}

// Modify values below to test your code
multiplyAll([[1,2],[3,4],[5,6,7]]);

[2016-10-15 15:31] gowshiselva commented on #6143
above code worked for me, important thing is we need to set product=1

[2016-10-15 16:01] martinhauck commented on #11175
I had this issue in Chrome. Switching ad blocker didn't do anything. But something finally worked.

*DIDNT WORK*
<p> Here's some <a href="http://freecatphotoapp.com">cat photos</a></p>

*DID WORK*
<p> Here's some <a href="http://freecatphotoapp.com">cat photos</a>are you ready?</p>

[2016-10-15 16:28] BerkeleyTrue commented on #11141
This is definitely something we should NOT do if this is not a hard rule. The amount of overload on the first and second subpath by removing challenges would add a lot of complexity (reduce performance, increase redirects, slow res times) that I don't want to see.

I can see us shorting `challenges` to something else, but we cannot remove the subpath for a perceived minor benefit.

[2016-10-15 16:36] Dayfiri commented on #11220
In your 4. button, you have a typo.
`btn-defualt` , when you change that, the assignment will work.

[2016-10-15 17:13] Dayfiri commented on #11218
@KeyurRamoliya

Your code is a mess at the moment. I see you need help for your code and best place for that is:
FreeCodeCamp [Help](https://gitter.im/FreeCodeCamp/Help)

[2016-10-15 17:37] Bouncey commented on #11141
@BerkeleyTrue @QuincyLarson could we set up routes for each block then get the challenge dashed name only from params?

This would also give us a place for these landing pages you are after @QuincyLarson

So the routes would be setup like:
`app.get('/html(/:dashedName)', (req, res) => ...`
`app.get('/css(/:dashedName)', (req, res) => ...`
`app.get('/nodejs(/:dashedName)', (req, res) => ...`

[2016-10-15 18:05] #11218 closed

[2016-10-15 18:33] addagiri opened #11221 "Please do the needful .......anything wrong with this code??"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20p%20%7B%0A%20%20%20%20%20%20font-size%3A%2016px%3B%0A%20%20%20%20%7D%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22r

[2016-10-15 18:40] joefan7 commented on #11221
Be careful with yiour {} looks like you have nested your paragraph element ( p ) inside your .red-text class.

[2016-10-15 18:43] QuincyLarson commented on #7622
Update: We will wait until Bootstrap 4.0 is stable then consider refactoring all this CSS. It isn't a particularly high priority at this point.

[2016-10-15 18:46] QuincyLarson commented on #11141
@BerkeleyTrue with SEO, everything is "perceived" as you said. SEO is a black box. I was thinking something like what @Bouncey just proposed. Either way, as I said, this is not a priority so we can discuss this further after shipping react. This is the top priority right now: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/10901

[2016-10-15 18:49] #11221 closed

[2016-10-15 18:53] joefan7 commented on #11221
You're welcome.

[2016-10-15 19:23] kasturekapil opened #11222 "Concatenating Strings with Plus Operator #10955"
![untitled](https://cloud.githubusercontent.com/assets/20336427/19412800/113199ae-933b-11e6-8975-3af704b5cd34.png)
Challenge [Concatenating Strings with Plus Operator](https://www.freecodecamp.com/challenges/concatenating-strings-with-plus-operator#?solution=%0A%2F%2F%20Example%0Avar%20ourStr%20%3D%20%22I%20come%20first.%20%22%20%2B%20%22I%20come%20second.%22%3B%0A%0A%2F%2F%20Only%20change%20code%

[2016-10-15 19:29] kasturekapil commented on #11222
Sorry to trouble you i got the solution. it was a silly mistake by me. actually I have to read the instructions properly.

[2016-10-15 19:29] #11222 closed

[2016-10-15 19:35] Manish-Giri commented on #10998
I submitted a new PR for this challenge, please disregard the previous PR #11093.

[2016-10-15 21:47] QuincyLarson commented on #10628
@P1xt yes - I also used the CTRL+Enter shortcut exclusively.

This is a good point about toasts generally being optional (ignorable) information for the most part. If we did this, the toasts could go away on their own, which is the expected behavior.

We could replace the "run tests" button with a "submit and go to next challenge" button, and leave the toast as an optional "You got the touch" type

[2016-10-15 21:52] Bouncey commented on #10628
@QuincyLarson I am literally putting the finishing touches on the animation between the two buttons. Shall I open my PR again?

[2016-10-15 22:04] nwolisa opened #11226 "I had inline style color as green and the test, Give your h1 element the inline style of color: white, passed."
Challenge [Override Class Declarations with Inline Styles](https://www.freecodecamp.com/challenges/override-class-declarations-with-inline-styles#?solution=%0A%3Cstyle%3E%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20black%3B%0A%20%20%20%20font-family%3A%20Monospace%3B%0A%20%20%20%20color%3A%20green%3B%0A%20%20%7D%0A%20%20%23orange-text%20%7B%0A%20%20%20%20color%3A%20orange%3B%0A%20%20%7D

[2016-10-15 22:19] Bouncey commented on #10628
This is what I have so far @QuincyLarson

![anim](https://cloud.githubusercontent.com/assets/18572518/19413722/ad003470-932d-11e6-9706-f4ac0f42aca0.gif)

[2016-10-15 22:19] QuincyLarson commented on #7392
@Em-Ant so it's not possible to use different encoding types for different views? Would it be possible for us to update these challenges to use the same form of encoding?

[2016-10-15 22:23] Bouncey commented on #10628
As for the key binding, if the PR is merged, it can be done like this:

[code]

I have had this working locally

[2016-10-15 22:42] Bouncey commented on #11226
@nwolisa Thanks for the report. It seems that the test in question is checking that the `h1` element has a style attribute and the style attribute has a property of color.

This test need to be more specific.

[2016-10-15 22:42] Bouncey commented on #11226
## First-timers Only

Familiarise yourself with [CONTRIBUTING.md](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md), this will help you test up a test environment.

If you have any issues, please get in touch with the folks in the [Contributor Chat Room](https://gitter.im/FreeCodeCamp/Contributors).

Happy Coding :+1:

[2016-10-15 22:45] gandhirahul opened #11227 "Not able to use Global variables"
Challenge [Steamroller](https://www.freecodecamp.com/challenges/steamroller has an issue.

**User Agent is**:
 <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116 Safari/537.36</code>.

**Issue Description** :
Global Variables value is not getting flushed.

My code:
[code]

[2016-10-15 22:48] Bouncey commented on #11227
Marking as duplicate. This issue is already being discussed in #9199

@gandhirahul you could move the `tempArr` declaration inside of `steamrollArray` as well

[2016-10-15 22:48] #11227 closed

[2016-10-15 22:49] Em-Ant commented on #7392
The base microservice boilerplate  https://shimmer-ripper.hyperdev.space/  has only 1 demo endpoint GET /hello. I can add a demo POST endpoint with a form, but campers will need to change the API urls according to the current exercise.
An html form (without ajax) can send urlencoded string data pairs, or multipart encoded binaries (see https://gist.github.com/joyrexus/524c7e811e4abf9afe56). The la

[2016-10-15 22:54] gandhirahul commented on #11227
@Bouncey  Yes, I have done that in the above-mentioned code too :P
Just wanted FCC to be aware of this issue.

[2016-10-15 23:16] QuincyLarson commented on #10628
@Bouncey I just thought of a corner case. What if a camper wants to continue experimenting with their code without resetting it. In that case, they may be annoyed that the run tests button has disappeared.

Also, we are avoiding animation in favor of instantaneous changes. People get seemed to get annoyed at even millisecond animations if they are preventing them from moving forward.

So I am not

[2016-10-15 23:28] Bouncey commented on #10628
@QuincyLarson as you can see from the gif, run tests is pressed and the challenge passes, i the add new lines in the editor and the run tests button comes back. The is delt with in the handleChange method for code mirror.

There are no great shakes about adjusting the animations, I can remove the animations completely if required. Styling can be adjusted.

I remember you saying somewhere that user

[2016-10-16 00:02] fuecisla opened #11230 "My outputs are exactly the ones requested by the challenge. None accepted. :(((("
Challenge [Sorted Union](https://www.freecodecamp.com/challenges/sorted-union#?solution=%0Afunction%20uniteUnique(arr)%20%7B%0A%20%20%0A%20%20%0A%20%20%2F%2FLong%20loop%20used%20to%20concat%20-I%20am%20sure%20a%20reduce%20would%20have%20worked%20better%20but%20I%20don%C2%B4t%20get%20well%20along%20with%20it.%0A%20%20len%3Darguments.length%3B%0A%20%20arr%3D%5B%5D%3B%0A%20%20for%20(var%20i%3D0%3Bi%3

[2016-10-16 02:22] mattlayton1986 opened #11231 "Switch order of 'Basic Javascript' for- and while-loop lessons"
#### Challenge Name

[Iterate with JavaScript For Loops](https://www.freecodecamp.com/challenges/iterate-with-javascript-for-loops)
[Iterate with JavaScript While Loops](https://www.freecodecamp.com/challenges/iterate-with-javascript-while-loops)

#### Issue Description

Consider moving the lesson "Iterate with JavaScript While Loops" to a position before the series of lessons on for-loops, starti

[2016-10-16 03:14] yasserhussain1110 commented on #11230
At position number 3 the of the output array, the value is expected to be a number.
Your output seems to be an array

So your code's output does not match the system's expectation.
That has resulted in the error, most likely.

[2016-10-16 04:07] 3rdp opened #11232 "Cheating on challenge"
#### Challenge Name
[Reverse a string](https://www.freecodecamp.com/challenges/reverse-a-string)

#### Issue Description
You can cheat on the test like this. It shouldn't be like this, it makes the whole challenge pointless.

#### Your Code
[code]

[2016-10-16 04:20] yasserhussain1110 commented on #11230
I think I found the cause of this issue.
When I ran the above code in my node terminal,

[code]

This is what I got -

When I ran it within the FCC challenge environment, I got this -

Clearly there is a disconnect here.

[2016-10-16 04:40] gerardoalfredo2 opened #11233 "error taking the code"
Challenge [Use appendTo to Move Elements with jQuery](https://www.freecodecamp.com/challenges/use-appendto-to-move-elements-with-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target2%22).appendTo(%22right-well%22)%3B%0A%0A%20%20%7D)%3B%0Afcces%0A%0A%3C!--%20Only%20change%20code%20above%20this%20line.%20--%3E%0A%0A%3Cdiv%20class%3D%22container-fluid%

[2016-10-16 05:16] QuincyLarson commented on #10628
@Bouncey that's correct. Users don't like modals generally. But I think we should continue to do as we're doing until we find a more elegant solution. So far none of the solutions I've seen are more elegant than the old fashion modal.

I recommend we remove the animation from the modal so it just instantly appears. Also, I noticed that the green checkmark animation passes right through the letters

[2016-10-16 05:42] WiNloSt commented on #11198
Can I open a PR? I just fixed this issue. I'm not sure if @utsab is still working on it.

[2016-10-16 05:51] erictleung commented on #11232
Thanks for the issue. Yes, you are able to brute force this challenge. This is possible with a lot of the basic challenges, unfortunately. However, I'm not sure if there's any way around it. We could write many more tests but you can always brute force them.

I think our philosophy is to keep the challenge tests open for you to know what to work towards. If you as a programmer cheat the challenge

[2016-10-16 05:51] #11232 closed

[2016-10-16 07:28] charlottetan commented on #8216
I can repro this on the live site, but am unable to repro when building on localhost, looks like it has been fixed?

[2016-10-16 07:37] Bouncey commented on #11230
@fuecisla There is an error in your code, and can be easily made.

By assinging `[]` to arr, you are mutating the `arguments` object before you start working on it.

See if you can resolve the issue now, if you are still having issues, please use the `Help` button.

----

@yasserhussain1110 I agree there is some disconnect between the FCC output and node. With corrections made to the code, I recei

[2016-10-16 07:47] yasserhussain1110 commented on #11230
@Bouncey If you point me in the right direction I could try to find out if the code evaluation part has changed or if it is working just like node.

[2016-10-16 07:49] Bouncey commented on #11230
@yasserhussain1110 It works like node.

On the react version of the site, the output from your function call does not appear in the output window, however, `console.logs` do.

[2016-10-16 07:50] Bouncey commented on #11230
@fuecisla I am closing this issue because it is for code help.

You are so close! Keep trying :+1:

Happy coding!

[2016-10-16 07:50] #11230 closed

[2016-10-16 07:56] yasserhussain1110 commented on #11233
You forgot the "#".
Try  -

[2016-10-16 07:56] Bouncey commented on #11233
@gerardoalfredo2 There is an error in your code.

Remember about the different jQuery selectors for tag, class and id.

If you are still stuck, please use the `Help` button, this takes you to a dedicated chat room specifically for code help :+1:

As github issues are for issues with freeCodeCamp itself, and not for help with challenges, I am closing this issue.

If I have misunderstood your issue,

[2016-10-16 07:56] #11233 closed

[2016-10-16 08:02] Bouncey commented on #11231
Sounds reasonable to me

cc @FreeCodeCamp/issue-moderators

[2016-10-16 08:05] Bouncey commented on #11220
@kdcamp11 I am assuming that this has been resolved and as such I am closing this issue.

If you still have a problem, try the `Help` button for code help :+1:

Happy coding!

[2016-10-16 08:05] #11220 closed

[2016-10-16 08:11] Bouncey commented on #11201
## First-timers Only

Add another test case with a minimum of 8 inputs.

The code for this challenge is [here](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/df2e2b55482741fe30c32bbab5538feb582117da/seed/challenges/01-front-end-development-certification/basic-bonfires.json#L668)

Reading [CONTRIBUTING.md](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) will help you s

[2016-10-16 08:15] Bouncey commented on #11198
@WiNloSt are any of the errors from `client/commonFramework/detect-unsafe-code-stream.js` visable?

[2016-10-16 08:32] charlottetan commented on #10930
Hi there, I was taking a look at this, and wondered if we could use [helmet](https://www.npmjs.com/package/helmet), it seems like that's the [common go-to](http://lollyrock.com/articles/content-security-policy/) for CSP protection. Helmet also takes care of a number of other security concerns, including removing the `X-Powered-By` header. This header is currently being [manually removed](https://g

[2016-10-16 08:48] Dayfiri commented on #11226
` Use an in-line style to try to make our h1 element white. Remember, in line styles look like this:

<h1 style="color: green">

Leave the blue-text and pink-text classes on your h1 element. `

This was the assignment and when I changed in-line style to white it worked right away.
![screenshot from 2016-10-16 10-45-04](https://cloud.githubusercontent.com/assets/16082563/19416314/0106ac42-938e-11e6

[2016-10-16 09:23] charlottetan commented on #10930
I'll like to give this one a shot

[2016-10-16 09:48] guypy commented on #9822
Is this issue still relevant? I'd be happy to fix it, it's my first time contributing to open source.

[2016-10-16 10:53] atjonathan commented on #10930
@charlottetan, go ahead ❗️

[2016-10-16 11:29] didong27 commented on #9729
thank you soooo......much!

[2016-10-16 11:59] aa95 commented on #10708
Hey guys, I was able to solve similar problems by simply pasting correct code given in the description rather than typing it in myself. Hope this helps! :)

[2016-10-16 14:00] cherokeestewarthart opened #11237 "Object lookup: What Did I do wrong ?"
function phoneticLookup(val) {
  var result = "";

  // Only change code below this line

  var lookup = {
    alpha : "Adams",
    bravo : "Boston",
    charlie:"Chicago",
    delta: "Denver",
    echo : "Easy",
    foxtrot : "Frank"
  };
  // Only change code above this line
  return result;
}

// Change this value to test
phoneticLookup("charlie");

[2016-10-16 14:07] Bouncey commented on #11237
@cherokeestewarthart Please read the instructions again.

If you are still stuck, use the `Help` button under the `Run tests` button. This will take you to a dedicated code help chat room.

GitHub issues are for issues with freeCodeCamp itself, not for code help. This is so that our issues log remains clear enough to read, and is not swamped with countless coding issues.

I hope you understand.

M

[2016-10-16 14:07] #11237 closed

[2016-10-16 14:40] WiNloSt commented on #11198
I tried tracking down `detectUnsafeCode$` which is in `detect-unsafe-code-stream.js` and leads to `excecute-challange-stream.js` which assign `executeChallenge$` function to global variable named `common` and this function is called in `end.js`

I'll make an assumption from now on from my understanding, but let me tell you this is my first time browsing FreeCodeCamp repo.

`end.js` seemed to use R

[2016-10-16 15:43] fuecisla commented on #11230
Thank you for your help! As per your advice I erased the statement converting arr into an array -leaving it as the string it was- and then all lights became green. :))))

[2016-10-16 15:55] courtjester71 opened #11239 "they wont recognize buds in their system, they are frauds basically, its all bs"
#### Challenge Name

#### Issue Description

system hangs and wont pass to next challenge though coding is correct as verrified with tutorials and many other coders on this bs site, no matter haw many variants are attempted , or possible correct solutions applied; this has been done on three separate computers, clean browsers, newly installed systems, chrome and firefox. Running Linux Ubuntu 16.4

[2016-10-16 16:12] utsab commented on #11198
@WiNloSt, sure, thanks for looking into it.  You can go ahead and take over this one. Nice job figuring it out.

[2016-10-16 18:00] QuincyLarson commented on #10930
@charlottetan we started using Helmet about 18 months ago. If you want to tweak the Helmet settings to optimize our CSP for Google, it's located here: https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/server/middlewares/csp.js

[2016-10-16 18:18] RomaKushnir commented on #10467
Had the same problem
<p>View more <a href="http://www.freecatphotoapp.com">cat photos</a></p>
helped eigther

[2016-10-16 18:33] #10998 closed

[2016-10-16 19:00] atjonathan commented on #9822
@guypy, I believe the issue @Bouncey pointed out is still relevant! Good luck!

[2016-10-16 19:03] atjonathan commented on #8216
This has been solved in `staging`. Thanks for the heads up @charlottetan 😜

[2016-10-16 19:03] #8216 closed

[2016-10-16 19:08] #11201 closed

[2016-10-16 20:06] yaseenagag opened #11241 "HTML and CSS Bug"
Challenge [Specify How Fonts Should Degrade](https://www.freecodecamp.com/challenges/specify-how-fonts-should-degrade#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%2

[2016-10-16 20:08] yaseenagag commented on #11241
Even though i placed the h2 tag and assigned it to the specified font family, it didn't apply it to my font but i was still able to pass the level.

[2016-10-16 20:43] pilarmireles22 commented on #10150
this is the solution <script>
  $(document).ready(function(){
 $("button").addClass("animated bounce");
    });
</script>
give space in the name of the class for that pass

[2016-10-16 20:45] #10338 closed

[2016-10-16 20:53] #8933 closed

[2016-10-16 21:00] ltegman commented on #10848
LGTM 👍

[2016-10-16 21:00] #10848 closed

[2016-10-16 21:10] #10925 closed

[2016-10-16 21:23] ltegman commented on #11239
We can't help you if you don't provide us with information like what the bug is and what code or actions are required to reproduce the bug. Feel free to open a new issue if you're willing to provide those details and act in a civil manner.

[2016-10-16 21:23] #11239 closed

[2016-10-16 22:29] ltegman commented on #11068
Hmmm, is loopProtect not running in the react site or being used differently? The issue is loopProtect mangling the code. You can bypass loopProtect for now by placing `//noprotect` at the top of the editor.

For anyone wanting to look into this you can view the loopProtect output by going into your browser console while using Free Code Camp and entering
[code]

Here is the mangled loopProtect out

[2016-10-16 22:33] ricardodataduen commented on #11221
![img_2810](https://cloud.githubusercontent.com/assets/22870224/19421429/e3bcb1ea-93ce-11e6-8880-81199273f41e.PNG)
I need some help. I don't what is wrong with my code.

[2016-10-16 23:27] jarrydfillmore commented on #11226
nice

[2016-10-16 23:39] courtjester71 commented on #11239
Thought, I sent all the coding limes and screen shots, well not all as Ive
used every conciievable combination of possibles. So Ive just moved on. But
I earn money for doing this, onlu reason Im not learning on a real tutorial
sight that actually teaches, and where I can receive solid knowlegable
feedback and not some lame chatroom. Pluss you constantly add fluff and
alter the content. So chats ar

[2016-10-17 00:24] Lillian-wang opened #11242 "The Twitchtv JSON API passthrough is down"
#### Challenge Name
https://www.freecodecamp.com/challenges/use-the-twitchtv-json-api

#### Issue Description
Can't access  https://wind-bow.hyperdev.space/twitch-api
This is also causing the following codepen to not load: https://codepen.io/FreeCodeCamp/full/Myvqmo/

#### Browser Information

* Browser Name, Version:  Chrome
* Operating System: Mac OSX
* Mobile, Desktop, or Tablet: Macbook Pro

#

[2016-10-17 01:23] kittenfuud commented on #11239
(I think the "buds" are in HIS system! 😉)

[2016-10-17 04:05] TrongT opened #11243 "second kitty ipsum won't accept after completed"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20p%20%7Bfont-size%3A16px%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20amet%

[2016-10-17 04:07] #11243 closed

[2016-10-17 06:54] kp2356 commented on #11188
http://loopback.io/doc/en/lb2/Security-considerations.html#deprecation-of-built-in-cors-middleware

Check for more information

[2016-10-17 07:16] charlottetan commented on #10930
Thanks @QuincyLarson and @atjonathan! I've been working on this today and it's getting [pretty hairy](https://github.com/FreeCodeCamp/FreeCodeCamp/compare/staging...charlottetan:fix/csp), mainly because in order to get it not-red, script-src needs to not have "unsafe-inline". I set about converting inline scripts to non-inline, but it's getting a little complicated, especially with [react involved

[2016-10-17 07:16] marhyorh commented on #11188
Maybe we'd have to add [CORS](https://www.npmjs.com/package/cors)

[2016-10-17 07:44] WiNloSt commented on #11198
I have opened a Pull Request :)

[2016-10-17 11:12] annunirmal commented on #11242
Same here, need urgent attention!

[2016-10-17 11:52] Em-Ant commented on #11242
I am afraid that we are beyond the HyperDev traffic limits, or their system marks the server as malicious. I sent an help request to the HyperDev team. Let's wait for ther response.

@QuincyLarson should We try to move the pass-through to heroku or some other service ?

[2016-10-17 12:01] tanyildiz opened #11246 "Roman converter"
[code]

despite of running on every number till 3999 on codepen.io, challenge window doesn't accept and shows nothing. i thought, it may require global functions, and i wrote it again with .splice() and .join(). but it doesn't work again.

it may be a issue..

#### Challenge Name

https://www.freecodecamp.com/challenges/roman-numeral-converter#?solution=%0Afunction%20convertToRoman(num)%20%7B%0A%2

[2016-10-17 13:07] chiptus commented on #9878
Hi, I would like to help fix this. I understand that the solution is to add a test which checks that the result is actually a number.
How do I add a test? I need to work on the "Stand In line" page?

[2016-10-17 13:16] Em-Ant commented on #11242
...back to life :tada:

[2016-10-17 13:18] tanyildiz commented on #9878
you mean challenge page?

https://www.freecodecamp.com/challenges/roman-numeral-converter#?solution=function%20convertToRoman(num)%20%7B%0A%20%20var%20result%20%3D%20%22%22%3B%0A%20%20result%20%3D%20num.toString().split(%22%22)%3B%0A%20%20%0A%20%20%2F%2Fresult%20%3D%20result.join()%3B%0A%20%20var%20x%20%3D%20result.length%3B%0A%20%20var%20roman%20%3D%20%22%22%3B%0A%20%20var%20binler%20%3D%20%5B%22

[2016-10-17 13:21] alanb43 opened #11248 "In level [24], a bug was discovered"
The line of code that says; "(p)Click here for (a href="#")cat photos(/a).(/p)"  {I replaced <> with ()} doesn't work, and a couple of helpers in the chat told me it should, and that it is probably a bug so I'm reporting it.

Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2

[2016-10-17 13:21] raisedadead commented on #11033
Yes, in my opinion this is intended citing the following conditions:

1. While the email address is updated as soon as the user enters it in step 5, it's still flagged as **not verified** in the system.

2. The email can be updated only by an authenticated user, hence if at all the user randomly enter and email, (which would be weird.. why would you do that), we know its status and won't be sendin

[2016-10-17 14:31] miank commented on #11153
Still facing the issue with this step.

[2016-10-17 14:32] miank commented on #11153
Separating the the paragraph style will fix it up.

[2016-10-17 14:46] Bouncey commented on #11248
@alanb43 You are so close to solving this.

Please re-read the instructions again. If you are still stuck, try the `Help` button, this will take you to a dedicated chat room specifically for code help.

GitHub issues are for problems with freeCodeCamp itself, not for help with a challenge

Happy Coding! :+1:

[2016-10-17 14:46] #11248 closed

[2016-10-17 15:31] ltegman commented on #11246
You are returning the result of `sum(result)` from the `convertToRoman` function, but the `sum` function does not have a return value, so you always return `undefined`.

Closing as not a site issue. Thanks and happy coding!

[2016-10-17 15:31] #11246 closed

[2016-10-17 15:34] Bouncey commented on #10628
I am currently working on a new success modal

[2016-10-17 15:34] tanyildiz commented on #11246
thank you :-)

Niyazi Tanyıldız
0532 263 36 64

On Mon, Oct 17, 2016 at 6:33 PM, Logan Tegman <notifications@github.com>
wrote:

[2016-10-17 15:41] #11242 closed

[2016-10-17 16:21] beans1991 opened #11249 "issue"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%3Eclass%3D%22red-text%22%3E%20Cat%20Photo%20App%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stret

[2016-10-17 16:29] razaqfatiu opened #11250 "ff"
Challenge [Understand String Immutability](https://www.freecodecamp.com/challenges/understand-string-immutability) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-10-17 16:31] chiptus commented on #11145
Running node 6.8, on windows 10, still gets the same error

[2016-10-17 16:51] Manish-Giri commented on #11250
@razaqfatiu Your code isn't right. Since strings are immutable, you cannot change individual characters. Please read this instruction

var myStr = "Bob";
myStr[0] = "J";
cannot change the value of myStr to "Job", because the contents of myStr cannot be altered

Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) if you're still stuck on this.

[2016-10-17 16:54] Bebersohl commented on #11249
You have an extra angle bracket in your h2 tag. It should be:

`<h2 class="red-text"> Cat Photo App</h2>`

[2016-10-17 16:54] Manish-Giri commented on #11249
@beans1991 To references classes in CSS, you need a period before the class name, like `.red-text`. There's also a problem with your opening `h2` tag.

Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) for issues like this, in future.

[2016-10-17 16:54] #11249 closed

[2016-10-17 16:54] #11250 closed

[2016-10-17 18:01] #11175 closed

[2016-10-17 18:47] #10485 closed

[2016-10-17 21:19] Makzin opened #11252 "Code delivering correct results but tests aren't passing?"
Challenge [Title Case a Sentence](https://www.freecodecamp.com/challenges/title-case-a-sentence#?solution=function%20titleCase(str)%20%7B%0A%20%20str%20%3D%20str.toLowerCase()%3B%20%0A%20%20var%20result%20%3D%20%22%22%3B%0A%20%20%20%20var%20wordArr%20%3D%20str.split('%20')%3B%0A%20%20%20%20for%20(var%20i%20%3D%200%3B%20i%20%3C%20wordArr.length%3B%20i%2B%2B)%20%7B%20%0A%20%20%20%20%20%20%20%20var%2