[2018-12-06 13:13] Nirajn2311 commented on #15662
As this issue is solved, I am closing this issue.

If this was a mistake, please open the issue with a reason.

[2018-12-06 13:13] #15662 closed

[2018-12-06 14:20] lynxlynxlynx commented on #17735
This is the referenced previous challenge:
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/object-oriented-programming/change-the-prototype-to-a-new-object/

I get a different printout (probably browser-specific), so the whole example is iffy. I think it would be better to show how `x.constructor !== Bird` like in the non-overriden examples.
[code]

[2018-12-06 14:36] lynxlynxlynx commented on #17735
I think the last three lines are plenty enough (and clearer) to fix the example. The first of these lines is what the exercise is about — making it work again. Just add an extra touchup on the description and I'll be satisfied.

[2018-12-06 15:29] ezioda004 commented on #17735
@lynxlynxlynx How about this?

[code]

[2018-12-06 15:58] lynxlynxlynx commented on #17735
Cool, here's my amended version (grammar and simplification):

[code]

[2018-12-06 17:51] #34451 closed

[2018-12-06 19:43] tchaffee opened #34572 "Code with async / await will not run"
**Describe the bug**
Even though we use Babel to transform code that the student enters, it doesn't support `async` and `await`. This is also true of code added to the `head` or `tail` sections of the curriculum.

**To Reproduce**
Steps to reproduce the behavior:
1. Locally use the latest development version of the "learn" platform with the Monaco editor (not the production version).
2. Go to any

[2018-12-06 19:46] tchaffee commented on #34572
@Bouncey This is what I thought was truncating code. But it's not truncation. The code just gets an error and stops executing. I could provide an example curriculum gist with a `head` section that causes the same problem, but I think this is the easiest way to reproduce the problem.

[2018-12-06 20:24] RandellDawson opened #34573 "Unable to view users link on forum"
Just getting around to posting about this issue which has been present for about 2 weeks on the forum.  Currently, when I try to visit https://www.freecodecamp.org/forum/u, the page just keeps trying to load and finally I get:

![image](https://user-images.githubusercontent.com/5313213/49609885-be967a00-f951-11e8-85c1-b0e26e6ce8cc.png)

I am on Windows 8.1 and using the latest version of Chrome.

[2018-12-06 20:49] Nirajn2311 commented on #34573
Woah, something's trying to be loaded in that page.

Also the site keeps on loading until the pc runs out of memory and then the page crashes.

[2018-12-06 21:21] RandellDawson commented on #34573
I don't think there is a link in the forum about this issue that I am aware of.

[2018-12-06 21:28] emh1010 opened #34574 "Get A Hint Button generates 404-Page Cannot Be Found"
**Describe your problem and how to reproduce it:**
The Get A Hint Button generates a 404 error for the exercise:
Basic Data Structures: Iterate Through the Keys of an Object with a for...in Statement

<img width="430" alt="screen shot 2018-12-06 at 4 23 01 pm" src="https://user-images.githubusercontent.com/9804005/49612751-ab94a180-f973-11e8-82d8-90daf6f9226d.png">

**Add a Link to the page with t

[2018-12-06 21:47] demangejeremy commented on #34574
Can I take care of this problem? I made a pull request on a similar problem: https://github.com/freeCodeCamp/freeCodeCamp/pull/34575

[2018-12-06 22:09] Nirajn2311 commented on #34573
@RandellDawson sry, I interpreted your post in a different way.

[2018-12-06 23:12] ashishcodes4 opened #34578 "Typing error on "ES6: Create an Export Fallback with export default" lesson."
**Describe your problem and how to reproduce it:**
The test case instruction has a very minor typo error. It say ""Proper used of export fallback".
However this should be "Proper use of export fallback".

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/create-an-export-fallback-with-export-default/

**Tell us about your brow

[2018-12-06 23:13] ashishcodes4 commented on #34578
I would like to work on this 😄 😄

[2018-12-07 04:20] dgisser commented on #34476
@Bouncey that code would save on submit, but wouldn't it be better to save to local storange on the fly? Also is there a gitter or something that allows more direct communication?

[2018-12-07 07:36] drecali commented on #17299
Does anyone know which timezone is used by the streak counter and the heatmap? I just lost a 74 day streak even though I finished a challenge by 15:45PM KST (UTC +0900). The streak shows only 1 day but today's square on the heatmap is colored green, and on the timeline the challenge is recorded as being completed today as well. It seems like the streak counter is using one timezone, while the heat

[2018-12-07 07:37] drecali commented on #17822
Does anyone know which timezone is used by the streak counter and the heatmap? I just lost a 74 day streak even though I finished a challenge by 15:45PM KST (UTC +0900). The streak shows only 1 day but today's square on the heatmap is colored green, and on the timeline the challenge is recorded as being completed today as well. It seems like the streak counter is using one timezone, while the heat

[2018-12-07 07:52] drecali commented on #34394
The problem is with the tests. There are effectively no actual tests being run on the code. Here is what I found in the challenge [code:](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/understand-the-hazards-of-using-imperative-code.english.md)

## Tests
<section id='tests'>

[code]
</sectio

[2018-12-07 08:50] raisedadead commented on #34573
We do not have any root cause, other than the events that have led to it:

1. We moved to `/forum` from `forum.freecodecamp.org`

2. We removed redundant nginx on the forum VM.

	- Currently the www nginx is reverse proxying the forum.
	- The forum has its own internal nginx within the docker container.
	- Some URL rewrites are configured in the container nginx, some are on the root level www ngin

[2018-12-07 13:52] saslamp opened #34589 "Code still running without correct closing tags"
**Describe your problem and how to reproduce it:**
I noticed that the code in this section runs without the proper closing tags - example ```<h3>some text</h5>``` still runs fine.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/use-headings-to-show-hierarchical-relationships-of-content

**Tell us about your browser and operat

[2018-12-07 14:58] ezioda004 commented on #34589
Hi @saslamp,

Thank you for opening this issue. This has been fixed in the PR https://github.com/freeCodeCamp/freeCodeCamp/pull/19590 and will be shipped soon!

Closing this.

Happy coding!

[2018-12-07 14:58] #34589 closed

[2018-12-07 14:59] #34543 closed

[2018-12-07 15:17] QuincyLarson commented on #24526
@ggurbet Yes - I agree. Would you be interested in getting all these files together with the appropriate file names, then sending me a link to them (maybe in something like Google Drive)? I can push them to Amazon AWS S3. Then we can update the URLs in the project to use those. We could do this across all of the language forks as well.

[2018-12-07 19:43] demangejeremy commented on #34574
Hello @emh1010. Thank you for reporting the problem. I proposed a PR to solve this problem which is in #34599.

[2018-12-07 21:06] ggurbet commented on #24526
@QuincyLarson OK, I would like do that. But it would take a while to gather them together. Then I will mail them the link to you.
And just a curious question, isn't it possible to put them inside the GitHub repository and load the pictures from inside it?

[2018-12-08 07:56] inikolaievskyi commented on #34494
Here is a good example of how to inject react components in md files. https://using-remark.gatsbyjs.org/custom-components/.

[2018-12-08 09:18] muaazbassa opened #34604 "I cannot claim my certificate for Responsive Web Design"
I cannot claim my certificate for Responsive Web Design, ever though i commented, what i took and from where.
I mostly used the skeleton of the freecodecamp's example, Because the layout was really clean and nice, I  added my own information, and changes the design (HTML and CSS code).
Please can you help me

[2018-12-08 09:19] #34604 closed

[2018-12-08 12:16] ezioda004 opened #34606 "Change all Coding Interview Prep/Data Structure challenges from Function to Class syntax"
Currently all* the challenges in the [data structure](https://learn.freecodecamp.org/coding-interview-prep/data-structures) section use constructor function syntax, I propose we change it to `class` syntax.

Reasons are as below:
- `class` syntax is same in most popular language and in coding interview you can most of the time pick up any language to solve the question.
- `class` syntax is more pe

[2018-12-08 13:38] Nirajn2311 commented on #34606
@ezioda004 I like the idea, and also I think that we could put the constructor function to the functional programming section or OOP. I’m ready to help out with this.

[2018-12-08 13:46] Nirajn2311 commented on #17467
@dmytroyarmak First of all I would like to say that the design you have made in the PR is 🔥 . Also is it possible to do the same design for tablets, maybe instead of displaying one tab you could display two tabs in the screen.

[2018-12-08 17:57] ezioda004 commented on #34606
@Nirajn2311 We do have constructor function challenges in the [OOP](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/object-oriented-programming/define-a-constructor-function) section but yes if we update the syntax then it'd be great to have your help!

[2018-12-08 19:06] lynxlynxlynx commented on #19142
Can't see why not, the visualisation section is quite hard and off-putting as a consequence of how d3 is designed, so anything that makes people despise it less is good in my book.

[2018-12-08 20:34] lynxlynxlynx opened #34609 "REMINDER: sync solutions after the floodfest is over"
Some of the hacktoberfest PRs added missing solutions to various challenges. Most were limited to a single language, not always English. So after the review is over, a cross-check between the languages is in order to copy over missing solutions to analogous challenges.

[2018-12-08 23:15] Moto42 commented on #18056
The further you go into the curriculum, the more out of date it becomes.

I can't seem to get to your code, and this is many months late, BUT this might help others googling their problem too...

If you are getting an error "collection.db is not a function, This should help.

Goto package.json
In your dependencies, change the version of "mongodb" to "2.2.33".

The code in the base project uses an

[2018-12-09 07:45] QuincyLarson opened #34614 "Create landing page for people coming from Grasshopper"
Long time freeCodeCamp supporter and Googler Laura Holmes and her team have built a pretty amazing mobile app for learning to code called Grasshopper. She [writes about the platform here](https://medium.freecodecamp.org/zero-to-1-5-million-coders-nine-lessons-learned-while-building-grasshopper-3f8fc96acff7).

She is planning to send people who reach a certain point in Grasshopper's curriculum over

[2018-12-09 10:38] #34572 closed

[2018-12-09 16:53] matkoniecz commented on #34574
This issue is duplicate of #29554 that can be found by searching for  https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/-iterate-through-the-keys-of-an-object-with-a-for---in-statement text

[2018-12-09 16:56] matkoniecz commented on #34435
Only on clicking "Run the tests" button, rerunning code after edit is not displaying them.

Show this type of error also after user edited text in code text area.

[2018-12-09 17:12] matkoniecz opened #34617 ""up to three parameters" about function that in this challenge takes four parameters"
**Describe your problem and how to reproduce it:**

is poorly describing  splice function, one would expect

call based on that, but real one is

**Add a Link to the page with the problem:**

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/add-items-using-splice/

**Tell us about your browser and operating system:**
* Browser Name: not applicable
* Br

[2018-12-09 21:17] chaomt commented on #17673
I didn't find this issue on my Safari (also version 11.1.1). Maybe this is not an issue any more. You could try it again and potentially close this issue if you don't find it.

[2018-12-09 21:37] Em-Ant commented on #16439
I have a working api locally on my computer. @QuincyLarson / @raisedadead  do you want me to deploy it now ? or should I wait until the end of December ?
The new API will be not backward compatible, but I am serving a static data snapshot at the old enpoint `/wind-bow.glitch.me/twitch-api`, for the 8 users listed in the exercise description.
The new API endpoint will be `/wind-bow.glitch.me/helix`

[2018-12-09 21:53] hilliarj commented on #18088
Should this issue be closed since there is a merge already resolving the issue?

[2018-12-09 21:55] Fordco commented on #17440
I don't think this is as much an issue as it is a misunderstanding. I think this post should be in the forum and not the issue tracker, unless you think more tutorials should be added concerning tooltips.
Thoughts?

[2018-12-09 21:57] hilliarj commented on #18088
Shouldn't this issue be closed since there is already a resolution that is merged with the master branch?

[2018-12-09 22:48] hilliarj commented on #17904
Shouldn't this issue be closed? It is has already been fixed.

@raisedadead

[2018-12-10 02:02] procode200 commented on #34574
This is an issue that isn't just on this exercise; This issue exists within about a couple dozen exercises in the JavaScript Certificate.

Hang 10 ;)

[2018-12-10 02:09] procode200 commented on #34573
Same here. I have Windows 10 Pro with latest version of Chrome.

Now that part of the forum is not very essential as it is just the Users section, so this issue does not matter that much.

Now this issue might be a little more persistent on 8.1 as that os can be a rough runner sometimes.

I would love to help on this issue.

Hang 10 ;) - procode200

[2018-12-10 03:48] lalov1 commented on #17615
Technically he did close it, but he changed the text in the h2. Should you leave it open, so someone could fix the error message?

[2018-12-10 04:10] demangejeremy commented on #34614
Good idea. I will try to post a PR soon to integrate this landing page.

[2018-12-10 11:43] wanzulfikri commented on #34617
From what I've read in MDN's [Array.prototype.splice](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/splice), it takes three parameters but the last parameter is variadic.

Maybe we can reword the following:

[2018-12-10 12:01] wanga815 commented on #33080
There are differences in meaning and wording come to understanding.

[2018-12-10 12:56] matkoniecz commented on #34617
https://en.wikipedia.org/wiki/Variadic_function

So I think that "on addition to removing elements, we can use additional parameters, which represents one or more elements, to add them as well"

would be better

I am not experienced with that terminology, but it seems to me that `splice(0, 2, "DarkSalmon", "BlanchedAlmond")` is called with four parameters rather than three, but these four paramete

[2018-12-10 12:57] matkoniecz commented on #34617
https://en.wikipedia.org/wiki/Variadic_function

So I think that "on addition to removing elements, we can use additional parameters, which represents one or more elements, to add them as well"

would be better

I am not experienced with that terminology, but it seems to me that `splice(0, 2, "DarkSalmon", "BlanchedAlmond")` is called with four parameters rather than three, but these four paramete

[2018-12-10 13:12] wanzulfikri commented on #34617
Good one! This is much clearer.

[2018-12-10 14:07] Nirajn2311 commented on #17904
@tingxuanz @hilliarj This issue is being closed as it has been resolved by the PR shown above.

[2018-12-10 14:07] #17904 closed

[2018-12-10 14:09] Nirajn2311 commented on #18088
@ArielLeslie @hilliarj This issue is being closed as the PR linked above resolved it.

[2018-12-10 14:09] #18088 closed

[2018-12-10 14:10] hansrajsaini commented on #17825
"use strict";
export const foo = "bar";
export const bar = "foo";

[2018-12-10 15:51] matkoniecz commented on #34617
OK, I will submit PR (feel free to remind me to do that once https://github.com/freeCodeCamp/freeCodeCamp/pulls/matkoniecz is empty)

[2018-12-10 15:52] matkoniecz commented on #34609
There is a script that will do it automatically, right?

[2018-12-10 16:16] lynxlynxlynx commented on #34609
No idea, but I don't see anything relevant under tools/ .

[2018-12-10 16:30] ezioda004 commented on #34614
The link https://www.freecodecamp.org/grasshopper redirects to a campers profile, maybe something like https://www.freecodecamp.org/promos/grasshopper would be better?

[2018-12-10 21:36] demangejeremy commented on #34614
Thanks for the information @ezioda004. I've seen it. @QuincyLarson, we change the path to https://www.freecodecamp.org/promos/grasshopper or an other?

[2018-12-10 21:39] mnm353 opened #34624 "Understanding Case Sensitivity in Variables- properCamelCase"
**Describe your problem and how to reproduce it:**
In the challenge it asks to fix the variable declarations and assignments so their names use camelCase. the second line of the challenge is "properCamelCase" and though it looks correct to me it is still coming up as an error and not accepting the answer. Am I missing something or is this an issue with the challenge?

**Add a Link to the page with

[2018-12-10 22:05] RandellDawson commented on #34624
Sorry you are having trouble, but your question is not related to Free Code Camp and is not an issue with the Free Code Camp platform, so we are closing this issue.

You should pose your question to Devmountain.

FYI - Your line 3, 8, 9, and 10 are not camelCase, which is probably the issue you need to resolve.

[2018-12-10 22:05] #34624 closed

[2018-12-11 03:21] Recelis opened #34626 "API Timestamp Microservice"
**Describe your problem and how to reproduce it:**
The Example Usage time link is listed as:
[project url]/api/timestamp/1450137600

But when you click onto it it opens up to:
https://curse-arrow.glitch.me/api/timestamp/1450137600000

With a few extra zeros at the end.

While not a big bug, it did take me 20 minutes to realise what the problem was.

**Add a Link to the page with the problem:**
htt

[2018-12-11 03:54] RandellDawson opened #34627 "[Bug] npm run develop does not work on Windows machine"
Another user (@cmccormack and I who both uses Windows, have run into a problem with the latest master updates when it comes to trying to running `npm run develop` on our local machines.

See the following when I tried running `npm run develop` in git-bash:
[code]
It hung on that last part.  Both @cmccormack and I waited a very long time to no avail.

I even deleted my local repo and re-cloned and

[2018-12-11 04:35] RandellDawson commented on #34627
I have an update.

After Ctrl + c to exit and shutting down the gitbash, I opened Windows powershell and was able to run `npm run develop` and it worked fine.  Then, just as a test, I opened git-bash again and ran `npm run develop` and it worked.  As a final test, I rebooted my machine again and gitbash worked with just `npm run develop`.  I am not sure why it works now, but something about gettin

[2018-12-11 12:12] VolodymyrPliuta commented on #16705
works in real life but test is not passed
I think you should let ES6 binding work

[code]

[2018-12-11 13:09] HOTNFIT commented on #17427
function Bird(name) {
  this.name = name;
  this.numLegs = 2;
}

let canary = new Bird("Tweety");
let ownProps = [];
// Add your code below this line
for (let property in canary) {
  if(canary.hasOwnProperty(property)) {
    ownProps.push(property);
  }
}

console.log(ownProps); // prints [ "name", "numLegs" ]
/////

Can i please get a commit for this as this is my first time using Github. I am di

[2018-12-11 13:10] HOTNFIT commented on #17427
![image](https://user-images.githubusercontent.com/44776731/49802846-106e4400-fd46-11e8-8b07-43fb05f42e98.png)

The above is the image of me completing exercise i hope you can give me a commit.

Kind Regards

Amit Sharma

[2018-12-11 13:23] bikingbadger commented on #17733
I came across this issue too, I was able to pass the challenge using this:
`let userCheck = /^[a-zA-Z]./;`
which is not the required answer, although I think the challenge might need re-phrasing or thinking about the logic.
If the username can end with zero or more numbers there's not really a way to validate this, they either use the numbers or not at the end. Might be better to state that the us

[2018-12-11 13:40] bikingbadger commented on #17761
Duplicate of #17733

[2018-12-11 13:41] bikingbadger commented on #17772
Duplicate of #17733

[2018-12-11 13:41] bikingbadger commented on #18079
Duplicate of #17733

[2018-12-11 13:41] moT01 opened #34632 "mismatch of number of people who donate"
**Describe the bug**
My homepage shows `3,890 supporters out of 10,000 goal.`, but when I complete a challenge and get the popup to ask me to donate it says there is `3926 people who donate`. So I'm guessing the homepage one isn't getting updated.

**Screenshots**
home page:
<img width="854" alt="screen shot 2018-12-11 at 7 39 16 am" src="https://user-images.githubusercontent.com/20648924/49804363

[2018-12-11 13:44] bikingbadger commented on #17733
There also seems to be an open PR #18696 for this

[2018-12-11 13:50] moT01 commented on #18079
Closing in favor of the duplicate mentioned

[2018-12-11 13:50] #18079 closed

[2018-12-11 13:50] QuincyLarson commented on #34632
@moT01 Thanks for spotting this discrepancy. We haven't had time to pull these values in dynamically from Stripe / PayPal so we're currently hard-coding them and updating them once every few days.

@raisedadead could you fix this?

[2018-12-11 13:50] moT01 commented on #17761
Closing in favor of the duplicate mentioned

[2018-12-11 13:50] #17761 closed

[2018-12-11 13:50] moT01 commented on #17772
Closing in favor of the duplicate mentioned

[2018-12-11 13:50] #17772 closed

[2018-12-11 14:08] bikingbadger commented on #34626
Bit of a weird one. Not exactly a bug as you mention but a bit inconsistent.
Not really sure how we would fix that through GitHub but I would suggest using 1451001600000 for consistency to point all the examples and outputs to the same date.
Well spotted @Recelis

[2018-12-11 14:15] moT01 commented on #34445
closing in favor of duplicate https://github.com/freeCodeCamp/freeCodeCamp/issues/17299

[2018-12-11 14:15] #34445 closed

[2018-12-11 14:16] moT01 commented on #18137
closing in favor of duplicate https://github.com/freeCodeCamp/freeCodeCamp/issues/17299

[2018-12-11 14:16] #18137 closed

[2018-12-11 14:18] moT01 commented on #17299
Similar, but not the same as https://github.com/freeCodeCamp/freeCodeCamp/issues/17822 and https://github.com/freeCodeCamp/freeCodeCamp/issues/22031

[2018-12-11 14:21] moT01 commented on #17822
Mine is getting cut off. Today is December 11. It didn't get cut off like this yesterday, or ever in the past that I've noticed.
<img width="710" alt="screen shot 2018-12-11 at 7 56 40 am" src="https://user-images.githubusercontent.com/20648924/49806475-7a262800-fd1d-11e8-9901-151990d21ec2.png">

[2018-12-11 16:32] mikeshort10 opened #34635 "Data Structures: Insert an Element into a Max Heap"
**Describe your problem and how to reproduce it:**
The code works fine, but there is a small typo in this challenge. The math to find the parent elements in a max heap is actually:

Math.floor((i-1)/2)

or in the second example where null is the root:

Math.floor(i/2)

Without using Math.floor(), one of the children's parents will always be undefined.

**Add a Link to the page with the problem:**

[2018-12-11 17:35] RandellDawson commented on #34574
As @matkoniecz points out above, this has already been reported on an earlier issue #29554, so we are closing this issue.

Thank you.

[2018-12-11 17:35] #34574 closed

[2018-12-11 21:35] soph-iest commented on #16874
Looked like this was available; I've gone ahead and thrown up a draft. Feedback greatly appreciated!

[2018-12-11 22:01] Em-Ant commented on #16439
the new api can be tested here https://em-ant-twitch-api.glitch.me/ . my old twitch project still works with the served static data. I will deploy the code to wind-bow before new year. We also need to update the challenge description [here](https://learn.freecodecamp.org/coding-interview-prep/take-home-projects/use-the-twitch-json-api) and update the forum post [here](https://www.freecodecamp.org/

[2018-12-11 22:16] S-Sheikh opened #34640 "No hint page associated with coding challenge : error 404"
**Describe your problem and how to reproduce it:**
Check title

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/-iterate-through-the-keys-of-an-object-with-a-for---in-statement

**Tell us about your browser and operating system:**
* Browser Name: Firefox
* Browser Version: 63.0.3
* Operating System: Windows

[2018-12-11 22:49] lynxlynxlynx opened #34641 "Testing non-english challenges"
Maybe I'm misreading the code, but it looks like we're running the curriculum tests only over the English version, as no locale is specified for travis.

https://github.com/freeCodeCamp/freeCodeCamp/blob/5aa27ee364ea9567c86476caf59b6f217be9563c/curriculum/test/test-challenges.js#L28

With #30709 in mind, the tests should do some introspection first to see which language needs testing in the first

[2018-12-11 23:10] ezioda004 commented on #34635
Hi @mikeshort10,

Thank you for opening this issue.
You are correct, parent node can be find by using `Math.floor((i-1)/2)`.

Would you like to open a PR to fix this?

[2018-12-11 23:37] tdreid commented on #18045
`text-adjust-size: auto;` doesn't get the tests to pass for me.

Also, if that is necessary to pass the challenge shouldn't it be pointed out and explained for the benefit of the learner?

[2018-12-12 00:49] addv12345 commented on #16112
I tried to access the problem using the link that was provided but it directed me to the main curriculum page instead. Is this exercise removed from the freeCodeCamp curriculum? If so, this ticket should be closed.

[2018-12-12 04:05] thangnguyen2001 commented on #34490
so goofd

[2018-12-12 07:17] shaminzn commented on #17822
At least something is showing up on your heat map, It's been six months since I've seen anything on my heat map... kinda gets discouraging when you can't see your progress at all...

[2018-12-12 09:44] JoelLau commented on #34492
if it isn't done, yet, I would like to help with this!

also, @raisedadead, the link you posted seems to be broken

[2018-12-12 11:50] abhishekakade commented on #34492
Sorry, I was unable to complete this due to some unforeseen circumstances. I can get it done by this weekend if that's fine.

[2018-12-12 12:20] ezioda004 commented on #34492
@abhishekakade No worries, try to do it by the weekend else @JoelLau can work on this.

@JoelLau Heres the link to [Contributing guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md).

[2018-12-12 14:17] mrmajik45 opened #34651 "Eee E ee Eeee"
Let E be Free. [E](https://github.com/eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee/eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee)
(This is a protest for the E repository as GitHub has taken it down.)

[2018-12-12 14:32] VinceB56 opened #34654 "Understand the Immediately Invoked Function Expression (IIFE)"
**Describe your problem and how to reproduce it:**
In this chapter, the code example given is:
`
(function () {
  console.log("Chirp, chirp!");
})();`

I'm learning so I'm not sure if I'm right or not, but if I understand correctly the correct syntax should be  "function() " without a space? Both are working.
If I'm right, this was quite misleading to me, as I'm trying to learn correct syntaxes an

[2018-12-12 14:43] #34651 closed

[2018-12-12 15:12] cianetech opened #34656 "Typo in message (the word received is mispelled)"
**Describe your problem and how to reproduce it:**
After entering an invalid code on the login page, a message box pops up with the following message "The code you entered is not valid. Please check the latest OTP that you have recieved."

The word received is mispelled.

**Add a Link to the page with the problem:**
https://auth.freecodecamp.org/login

**If possible, add a screenshot here (you can

[2018-12-12 15:32] ezioda004 commented on #34654
Hi @VinceB56,

Thank for opening this issue.
In JS and most languages, whitespace isnt usually eliminated during the compilation of the code. So whitespace have no relevancy except for making the code more cleaner and readable.
Popular style guides usually have whitespace after function declaration like `function ()` but using `function()` is completely fine too. Its matter of taste and subjective

[2018-12-12 15:32] #34654 closed

[2018-12-12 15:39] ezioda004 commented on #34656
Hi @cianetech,

Thanks for opening this issue.
We're tracking this issue at https://github.com/freeCodeCamp/freeCodeCamp/issues/34450

Closing this in favor of that.

Happy coding!

[2018-12-12 15:39] #34656 closed

[2018-12-12 17:06] JoelLau commented on #34492
@abhishekakade no worries dude, was just looking for something to contribute to, it's all yours

[2018-12-12 19:41] tobilastik commented on #34154
I am having same problem.
Any solution yet?

[2018-12-12 20:57] lasjorg opened #34661 "Fix invalid HTML in technical documentation example project"
**Describe your problem and how to reproduce it:**

The technical documentation example project has (a lot of) invalid HTML. It really needs to be fixed.

Note: I'm not sure what the best approach for fixing the Codepen example projects are. At first, I wanted to document all the changes but I was not sure how best to do that, I can make a repo with the changes if needed.

This Codepen is a fixed

[2018-12-12 23:47] JonathanJamesRasmussen opened #34663 "Information Security with HelmetJS - Understand BCrypt Hashes: challenge require('bcrypt') 'error'"
**Describe your problem and how to reproduce it:**
Within the challenge within the title of this issue, the require method for bcrypt isn't working properly.  I have written `const bcrypt = require('bcrypt');` in the top of `myApp.js` within Glitchand I get `error` below the submit button.  The dependency is being set correctly according to the tests, but the require portion is failing.

**Add a L

[2018-12-13 03:56] cacarr-pdxweb commented on #15820
If you cannot conceive of a way to teach the DOM within the interactive platform, then it needs to be made **_abundantly_** clear somewhere in the course that the DOM is a thing -- a critical thing -- that you must learn elsewhere, because one can't be a web developer without understanding it.

I would suggest a section in the curriculum, containing links to free resources elsewhere, e.g.:

https:

[2018-12-13 04:17] moT01 commented on #34663
I think there's a new glitch project to clone when you get to the bcrypt stuff

[2018-12-13 06:47] aditijoshi14 commented on #17303
Just wanted to note that the first issue has been solved. Duplicate issue #17431 was posted on June 4, which was closed on July 27. Also, there are duplicates (#17822 , #17743 ) for the fourth issue. Lastly, the fifth issue is a known issue which is currently being worked on as mentioned in a comment on #17317.

We could potentially make new issues for the second and third issue.

[2018-12-13 07:01] aditijoshi14 commented on #17444
I agree with @chaomt . This issue can be closed as the rotation is not a bug. It is just a way the calendar is designed.

[2018-12-13 07:11] aditijoshi14 commented on #17295
Both of these broken links are fixed. Hence this issue can be closed.

[2018-12-13 07:13] aditijoshi14 commented on #17295
Both of these broken links are fixed. You may close this issue.

[2018-12-13 07:20] ezioda004 commented on #17295
@aditijoshi14 Thanks for the heads up!

Closing since the issue has been fixed in the master.

[2018-12-13 07:20] #17295 closed

[2018-12-13 08:37] #17444 closed

[2018-12-13 12:46] ozgunbal commented on #17742
I also agree to @azurvii , trailing commas should be considered by the compiler.

[2018-12-13 14:16] raisedadead commented on #34632
Updated to latest stats.

[2018-12-13 14:16] #34632 closed

[2018-12-13 16:38] JonathanJamesRasmussen commented on #34663
Hey there, thanks for the help.  You're correct, I just didn't see the link up top.  I wrongly assumed and that's on me.  Thanks for the prompt response, and loving all the trainings/challenges!

[2018-12-13 16:38] #34663 closed

[2018-12-13 18:16] icatat commented on #34288
I am not really able to reproduce this issue, or I might not get it. @thecodingaviator do you think this issue has been fixed?

[2018-12-13 18:20] aditijoshi14 commented on #17719
@gezzalou88 This issue can be close as <img> tag doesn't need to be closed as mentioned by @ghost. Hence this is not a bug. :)

[2018-12-13 19:02] aditijoshi14 commented on #17673
I agree with @chaomt . I was not able to replicate this issue in my Safari 11.1.1, macOS Sierra. So this issue might have been fixed. Hence we could potentially close this issue. @digilou Are you still facing the issue?

[2018-12-13 20:06] LeWanderer opened #34676 ""Ask for help" buttons not working in various challenges"
**Describe your problem and how to reproduce it:**
None of the "Ask for help" buttons in "Apis and microservices" is working.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/apis-and-microservices/managing-packages-with-npm/how-to-use-package-json-the-core-of-any-node-js-project-or-npm-package/

**Tell us about your browser and operating system:**
* Browser Name: Googl

[2018-12-13 22:22] nathanhannig commented on #19037
I agree, const should be uppercase unless it is an object that mutates.

[2018-12-13 23:38] richb999git commented on #34396
I had the same issue. I have completed all the projects and have 6 certificates but only 25 out of 30 projects completed according to my home page. It has something to do with the Javascript Algorithms and Data Structures Projects not being counted towards the completed project count. They are completed in a different way from the other projects. I have looked through the code and I think it is so

[2018-12-14 00:03] richb999git commented on #34396
Are the Javascript Algorithms and Data Structures Projects treated as neither Front End or Back End projects? And therefore not being counted as completed projects? Struggling... Anyone know the code a bit better?

[2018-12-14 02:33] wanzulfikri commented on #34676
Yeah, I got the same error.

I've been trying to trace the source of error but I couldn't find it.

[2018-12-14 03:13] spencercorwin commented on #18142
It looks like you can test some of these projects with this link: https://pricey-hugger.glitch.me/

I wouldn't rely on it though.

[2018-12-14 04:00] scissorsneedfoodtoo commented on #34492
@ezioda004, I'm actually thinking that it would be better to keep these as separate challenges. It's true that there's some similarity in the descriptions of each problem, but the approach for each is quite different. I worry that if we combine them that completing the challenges would take much more than two minutes. That being said, I could see changing the descriptions or adding additional test

[2018-12-14 05:35] ezioda004 commented on #34492
@scissorsneedfoodtoo I understand your concern. We have challenges such as [this](https://learn.freecodecamp.org/coding-interview-prep/data-structures/create-a-queue-class) one in which we are asking camper to create 5 different methods (with different approaches). This one after merging will have the camper create only 3 methods (similar to the linked challenge).

That's true. However, all the co

[2018-12-14 06:17] scissorsneedfoodtoo commented on #34492
@ezioda004, I'm very sorry, I didn't look at the section these challenges are in! You're right, for these challenges in the coding interview section it is strange that they're split up like this. My mistake--for some reason I thought they were in the earlier JavaScript Algorithms and Data Structures section.

In that case, the way that you're proposing we merge them makes sense. So it would be cre

[2018-12-14 06:52] shehbazjafri commented on #17298
Sorry for being so late. I just thought I should let you know. I reported the issue. It was on FCC Forum and I didn't have the same name for both Github and Forum accounts. I have fixed that now, but I wasn't able to delete the leDragon account. 😅
@Ledragon

[2018-12-14 06:56] thecodingaviator commented on #34288
See the problem is that I'm on the chef article but the nav is still on data visualization . its still on my side

[2018-12-14 10:49] scissorsneedfoodtoo commented on #17719
@gezzalou88, thank you for reporting this. While it's definitely best practice to use a closing tag, I'll close this since it's optional and would be difficult to test for the different ways to close the img tag.

[2018-12-14 10:49] #17719 closed

[2018-12-14 10:59] #17735 closed

[2018-12-14 14:14] Simbaxo commented on #17872
@joker314 hey are you still working on this?

[2018-12-14 16:59] joker314 commented on #17872
Nope

[2018-12-14 19:14] icatat commented on #34288
@thecodingaviator I think now I understand what you are talking about.

[2018-12-14 19:32] philnichol commented on #34676
Looks like this issue affects all challenges with "challengeType: 2" (backend, https://github.com/freeCodeCamp/freeCodeCamp/tree/master/client/src/templates/Challenges/backend). I've also been unable to trace the source of this error

[2018-12-15 01:30] justinsabourin commented on #34676
I tried this locally and the help modal popped up. Not sure why it is not working on the main site.

[2018-12-15 03:20] Nirajn2311 commented on #34676
Sry about the pinning above. I will check this locally and see if this issue still persists.

[2018-12-15 06:55] ezioda004 commented on #34492
@scissorsneedfoodtoo

Yes, exactly.

Yeah, we can go with the empty file as in the challenge you linked. Then in the next one (union, intersection, diff) we could build the seed for `add`, `remove` etc methods.

[2018-12-15 07:41] akhileshh commented on #34676
I think this is the same as #17322

[2018-12-15 19:50] luane91 commented on #29554
Any update on this issue? I am still finding broken links in the same challenge > 'get a hint' button

[2018-12-16 15:42] scissorsneedfoodtoo commented on #34492
@ezioda004, that sounds great! Looking forward to reviewing it later.

[2018-12-16 18:53] Tchoukoualeu commented on #17856
Still the same!

[2018-12-17 01:42] jstranberg opened #34695 "Unable to signup/login"
**Describe the bug**
When I try to create an account, I get the message 'Oops! Something went wrong. Please try again later'. This appears with all login methods (Google, Facebook, Github, and email).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.freecodecamp.org/'
2. Click on big-orange-button 'Start coding (it's free)'
3. Click on 'Continue with Gmail'
4. A Google SSO

[2018-12-17 02:08] RobertP3469 opened #34696 "Broken test for "Functional Programming: Use the map Method to Extract Data from an Array""
I created a solution for this exercise, and it failed.  When I looked at the hint solution, my code was basically the same. When I plug the hint solution into the code and run the test, it fails, also.  The output window displays 'rating is not defined' four times.  When I copy everything to JS Fiddle and run the code, it works as expected.

[2018-12-17 02:33] RandellDawson commented on #34696
Did you ask this question on the forum and present the code you tried?

[2018-12-17 04:09] jstranberg commented on #34695
This issue was due to network filters I had enabled.

I whitelisted https://www/freecodecamp.org and am not able to log in.

[2018-12-17 04:09] #34695 closed

[2018-12-17 09:39] sidgujrathi commented on #34518
I have started course and in my Glitch app there is no myapp.js file, also putting console log in server.js is also not working

[2018-12-17 11:32] MarkMilfordMe opened #34697 "Add Comments in JSX"
**Describe your problem and how to reproduce it:**
On the "React: Add Comments in JSX" page instructions are:
"Add a comment somewhere within the provided div element, without modifying the existing h1 or p elements."

And So I entered
[code]

This doesn't affect the h1 or p tags, and yet it fails to pass the test.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/front-

[2018-12-17 21:47] richb999git commented on #34697
It appears that if you add a comment on the same line as a tag with a space before it it adds it as a child. This means the tests then are looking at the wrong children.
If you add a comment on a new line it's ok. If you add a comment after a tag without a space between the tag and the comment it's ok.
I think you could test for <h1> being child 0 or 1 and <p> being child 1, 2 or 3. Is that an acc

[2018-12-17 21:53] richb999git commented on #34697
Like this:

 - text: The <code>div</code> should contain an <code>h1</code> tag as the first element.
    testString: assert(JSX.props.children[0].type === 'h1' || JSX.props.children[1].type === 'h1', 'The <code>div</code> should contain an <code>h1</code> tag as the first element.');
  - text: The <code>div</code> should contain a <code>p</code> tag as the second element.
    testString: assert(J

[2018-12-17 22:01] hvaandres opened #34699 "Single Sign-in auth is creaating multiple usernames with the same email address"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
If you use the single sign-in as Github or Google will create multiple accounts or multiple users. We shouldn't have two different accounts with the same email address.

**To Reproduce**
Steps to reproduce the

[2018-12-18 03:19] David-Coyne commented on #3329
Cheers! I was stumped on this one.

[2018-12-18 10:51] ojeytonwilliams commented on #34696
The problem is just that 'rating' has not been declared.  The challenge code seems to be fine, but the guide should perhaps be a little stricter.

[2018-12-18 17:22] icatat commented on #17500
I noticed that this issue has been opened in June 8 and it seems inactive without addressing  any specific issue. Wouldn't it be a better idea to close it? @StubRavi

[2018-12-18 18:12] neofito777 commented on #10485
var myStr = "FirstLine\n\t\\SecondLine\nThirdLine";
This is what solve this challenge
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/escape-sequences-in-strings/

[2018-12-18 20:12] AdrianSkar opened #34703 "[Guide] On closing PRs without explanation"
Hi all!
I got [this PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/34690) closed/rejected 2 days ago without much info as to why.
I'm sure @RandellDawson has as little free time available as any of us and I admire his contribution to this project. He's taking good care of many PRs including mine. I tried to find some contact info to address this to him directly but I couldn't find any.
My r

[2018-12-18 20:22] AdrianSkar commented on #34703
Nvm, I just realized I can write on it directly.

[2018-12-18 20:22] #34703 closed

[2018-12-18 22:18] #17500 closed

[2018-12-19 00:17] wanzulfikri commented on #34697
I wonder why it considers comments as a child? Is that a normal behaviour for JSX?

Then again, if we put the comments in between the h1 and div, it still works so it's not a child as long as it is not in the same line as div

[2018-12-19 04:54] #34696 closed

[2018-12-19 07:44] richb999git commented on #34697
@wanzulfikri I don't know why, seems strange...perhaps it's a bug!
Please go ahead and submit your PR based on my suggestion.

[2018-12-19 11:02] glennvill opened #34707 "[Suggestion] Add a percentage so we could be aware of progress"
Add percentage somewhere in the page so we could be aware if we're near the completion of the topic/certification

[2018-12-19 13:49] sammychinedu2ky opened #34708 "Issues with the hint of basic algorithm scripting (Truncate a String)."
In the hint of this javascript challenge, the hints give the solution of replacing the last three strings of a truncated string with "..." instead of adding "..." to the truncated string.

[2018-12-19 21:59] DoviMaj commented on #34236
no one thinks this is important?

[2018-12-19 22:03] DoviMaj commented on #18062
Lets do it!!

[2018-12-19 22:06] DoviMaj commented on #34707
Yes, yes, yes

[2018-12-19 22:12] DoviMaj opened #34712 "Lets improve the design!!"
Should we work on improving the whole plataform design?

i think its lacking in **design**. so many people are using it and it should have a more **professional** look and UI...

Any thoughts?

[2018-12-19 22:15] DeNance007 commented on #34712
aye take me off this shit!

On Wed, Dec 19, 2018 at 4:14 PM Dovid Majowka <notifications@github.com>
wrote:

[2018-12-19 22:52] MGenteluci commented on #34708
@sammychinedu2ky Are you going to submit a PR for this issue?

[2018-12-20 01:40] robinmetral commented on #18062
Yes please 🎉

[2018-12-20 04:46] sammychinedu2ky commented on #34708
Please where can I submit it?

[2018-12-20 04:56] erictleung commented on #34712
@DeNance007 Looks like you may have accidentally subscribed to all notifications for the [freeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp) repository. To stop receiving notifications please visit the [subscriptions page](https://github.com/FreeCodeCamp/FreeCodeCamp/subscription) and select "Not watching". Additionally, you can visit the [GitHub Help page on managing notification deliver

[2018-12-20 08:24] Ronnehag opened #34714 "ES6: Use * to Import Everything from a File [Single quotes]"
**Describe your problem and how to reproduce it:**
Writing with single quotations will fail the test.

`import * as str from 'capitalize_strings';`

 To pass you have to use double quotations,

`import * as str from "capitalize_strings";`

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use--to-import-everything-from-a-file

[2018-12-20 08:44] ezioda004 commented on #34714
Hi @Ronnehag,

Thank you for opening this issue.
We're aware of this bug and currently tracking it at https://github.com/freeCodeCamp/freeCodeCamp/issues/17665. Closing this in favour of that.

Happy coding!

[2018-12-20 08:44] #34714 closed

[2018-12-20 09:10] meenavinay007 opened #34715 "what to know about ips variable"
I want to know about the ips variable in the build_data function of circos histogram plot

[2018-12-20 10:08] hvaandres commented on #34699
I received an email that someone else confirmed this issue. Could we have someone to help us with this issue? @QuincyLarson

[2018-12-20 12:03] drecali commented on #25829
The sample code on the FCC website is still the old version. I noticed on the challenge's GitHub page the sample code is different than what I saw on the live FCC website.

I did this challenge on December 19, 2018. The sample code on the FCC website website is the old version (different from the GitHub version). I thought that the GitHub version of the challenge was reflected on the FCC site. Doe

[2018-12-20 12:10] drecali commented on #34543
Hi @ezioda004 ,
PR #25978 only added Chrome-friendly sample code for the reverse alphabetical sort. The normal alphabetical sort sample still doesn't work in Chrome, but does in Firefox.

Also, the live FCC challenge page is outdated compared to the GitHub version. Do the GitHub changes get pushed to the live site on a schedule, or do they need to be manually pushed?

[2018-12-20 13:05] ezioda004 commented on #34543
Hi @drecali,
Could you elaborate more on this with example/screenshots?

There is no defined schedule, the master branch is pushed to production when the core team thinks it should be pushed. The new production build will be shipped soon.

[2018-12-20 20:18] abhishekakade commented on #34492
I'm really sorry for the delay.

[2018-12-20 22:03] ascii-dev commented on #34712
@DoviMaj I would be glad if you can help narrow down what you mean by `it's lacking in design` and `more professional look and UI`. I would be glad to work this journey with you.

Thanks

[2018-12-20 22:37] Tameshiwari commented on #25829
RE:  Sort an Array Alphabetically using the sort Method Challenge...
Maybe not the cleanest but simply running this code:

`function alphabeticalOrder(arr) {`
`    // Add your code below this line`
           `return arr.sort(function(a,b) {`
`if(a < b) { return -1; }`
`if(a > b) { return 1; }`
`return 0;`
`});`
`// Add your code above this line`
`}`
`alphabeticalOrder(["a", "d", "c", "a", "z", "g

[2018-12-21 06:39] drecali commented on #34543
Hi @ezioda004

Here are screenshots and tables below summarizing the issue. In short, the sample code for ascending sort is an example of how to sort numbers. It works for numbers but does not work when applied to letters/strings in Chrome 70+. The sample code for the reverse alphabetical sort also doesn't work in Chrome 70+ but does in FireFox. I think it would be best to have sample code that ap

[2018-12-21 07:05] drecali commented on #25829
Hi @lasjorg

I was not referring to the guide, but instead to the live/production [FCC challenge page](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/functional-programming/sort-an-array-alphabetically-using-the-sort-method) and the GitHub version. (Now that you mentioned it, I checked out the PR you linked and noticed that even in the guide, the first example for an asce

[2018-12-21 08:47] Nwachuks commented on #34240
Pls, the last assertion test still fails to pass even after naming the parameter (...args).

[2018-12-21 10:56] MGenteluci commented on #34708
In pull requests, just create one referencing this issue and the owners of the repo are going to review it.

[2018-12-21 14:15] DoviMaj commented on #34712
Check this article out. Im not a designer so im not sure how to define the
improvements. Stuff like gradient colors, shadows, makes the website look
much more modern and beautiful.

I would appreciate input from real designers who see the necessity to
improve the quality of the design of the whole plataform. Thanks for
wanting to help.

https://medium.muz.li/beautiful-ui-inspiration-by-dennis-sevr

[2018-12-21 15:07] lasjorg commented on #25829
The TLDR;

The only bug is, Chrome used to accept boolean return values like Firefox still does. After Chrome changed their sort it no longer does. This is not a bug in Chrome, but incorrect usage of the compare function in the assignment text, this has now been fixed (site is not updated yet).

The comparefn is supposed to return numeric values:

0  (a must be equal to b)
1  (a is greater than b

[2018-12-21 17:11] ezioda004 commented on #34543
@drecali Thanks for the detail write up.

The `reverseAlpha` as you can see has been fixed in the master and will be live soon. The alphabetical sort is what the user is suppose to write so its not an issue.
Now, about `ascendingOrder` its a working example for numbers and not strings so IMO this is fine too.

[2018-12-21 17:16] ezioda004 commented on #25829
@drecali The above analysis is spot on.
@lasjorg Thank you for the great explanation and its fine to have a discussion in a closed issue as long as its on topic. Otherwise you can always create new issue.

[2018-12-21 17:33] thecodingaviator commented on #34708
@sammychinedu2ky Please tell on which link is the problem?

[2018-12-21 17:38] ezioda004 commented on #34240
@nwachuks Can you give the whole code and which challenge you're unable to pass the test?

[2018-12-21 20:39] sammychinedu2ky commented on #34708
@thecodingaviator It's here https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-algorithm-scripting/truncate-a-string
But Please I would like to learn how to do it

[2018-12-21 21:42] lasjorg commented on #34661
Also posted to https://github.com/freeCodeCamp/testable-projects-fcc/issues/745, let me know if i should close this issue.

[2018-12-21 21:44] lasjorg commented on #34661
Moved to https://github.com/freeCodeCamp/testable-projects-fcc/issues/745

[2018-12-21 21:44] #34661 closed

[2018-12-22 03:15] Tameshiwari commented on #34518
Okay just to make it clear... First I cloned the Github boilerplate-express-gomix template...
I'm not a big fan of **Glitch**...
So if I have a project on **Github** at similar URL

`https://github.com/Tameshiwari/boilerplate-express-gomix/`

then logically  **myApp.js**  file would be located at

`https://github.com/Tameshiwari/boilerplate-express-gomix/blob/master/myApp.js`

Now my question is p

[2018-12-22 05:49] StephenHogsten commented on #34285
@thecodingaviator I can look into fixing this if you're not planning on working on it

[2018-12-22 09:04] sammychinedu2ky commented on #34708
Thanks man... I didn't see how to change the hint.. I'm only the challenge

[2018-12-22 16:27] jaytula opened #34725 "Small fix needed in Binary Search Tree Min/Max Height challenge"
**Describe your problem and how to reproduce it:**
This last test for method isBalanced is incorrect.  It should return the negation because the tree is unbalanced with min height of 1 and max height of 5.  Should be like:

`- text: The <code>isBalanced</code> method returns true if the tree is a balanced binary search tree.
    testString: assert((function() { var test = false; if (typeof BinaryS

[2018-12-23 00:30] Wishnia opened #34727 ""Night mode" button bug in Settings"
**Describe the bug**
When you change your username, save it, and then switch on night mode, the theme doesn't change to dark. Except that, both states of night mode switch are active (there should be only currently active state).

But when you are already using night mode and try to reproduce this bug, night mode switch doesn't work at all.

I was reproducing this bug on every device within my rea

[2018-12-23 08:43] elliot98 opened #34729 "Basic CSS: Use CSS Variables to change several elements at once - Unable to pass the challenge."
**Describe your problem and how to reproduce it:**
I am unable to pass the particular challenge -- even though I have changed all the variables as per the requirements.

The problem lies apparently with one CSS variable : `--penguin-skin`
I have set the variable to grey already but still, the test comes out as false.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/resp

[2018-12-23 08:52] #34729 closed

[2018-12-23 13:23] AdrianSkar opened #34730 "Dead link on search results (python map filter reduce)"
**Describe your problem and how to reproduce it:**
A link to a specific guide leads to a 404 page

**Add a Link to the page with the problem:**
[Search results page](https://search.freecodecamp.org/?q=reduce%22%0A)
Linked page: Guide: [List map filter reduce](https://guide.freecodecamp.org/python/list-map-filter-reduce)

**Tell us about your browser and operating system:**
* Browser Name: Brave
*

[2018-12-23 13:49] kevindelsh opened #34731 "FreeCodeCamp editor and console don't work as expected"
**Describe the bug**
For a certain implementation of the smallest common multiple the editor and console don't work as expected.

**PLEASE NOTE:** This isn't about my code not working. I know you guys have all hands full and I really appreciate the great job you do. I made some tests before raising the issue.

**To Reproduce**
1- Go to https://learn.freecodecamp.org/javascript-algorithms-and-data-

[2018-12-23 15:27] WillzMu opened #34733 "Feature Request: Navigating through Challenges"
When doing a challenge for a particular module, if I want to go back to a previous challenge for reference, I have to go to "Curriculum" then scroll to find that challenge.

My feature request is to have a forward and back button for someone to easily scroll through challenges maybe above the description section.

Thank you

[2018-12-23 19:43] #34715 closed

[2018-12-24 00:55] mikeattara commented on #34606
@ezioda004 I would love to work on this as well, if not done  yet already

[2018-12-24 08:38] magnusram05 opened #34735 "Unable to fork FCC Technical Documentation in CodePen"
**Describe your problem and how to reproduce it:**
Unable to fork FCC Technical Documentation in CodePen

Found this error in console log:
https://rawgit.com/freeCodeCamp/testable-projects-fcc/master/build/bundle.js 403

This could be because rawgit has stopped serving resources because it is on sunset phase.

**Add a Link to the page with the problem:**
https://codepen.io/freeCodeCamp/full/NdrKKL

[2018-12-24 14:44] Farlokko commented on #18201
This solved the 'Create New Middleware' challange, thanks a lot!

[2018-12-24 17:52] brandonmain commented on #34154
I'm also having similar issue:

<img width="1222" alt="screen shot 2018-12-24 at 9 08 51 am" src="https://user-images.githubusercontent.com/18432693/50404848-97b5b180-0761-11e9-8496-9570edb6ee0c.png">

[2018-12-24 23:41] gwenf commented on #14595
@sergeyradov we are working on the React Native challenges currently using react-native-web. Let me know if you want to help with them.

[2018-12-25 01:43] mubarak23 commented on #15662
still getting the same error

[2018-12-25 05:46] QuincyLarson commented on #29554
It looks like the hint article is located at https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-data-structures/-iterate-through-the-keys-of-an-object-with-a-for...in-statement/

I think the hint button automatically changes any non-alphanumeric character into a `-` so the guide article file name should instead use `---` instead of `...`

And yes, as @jer

[2018-12-25 05:48] QuincyLarson commented on #34699
@hvaandres Thanks for reporting this to the security email and for creating such a comprehensive issue.

Yes - we will fix this ASAP. I'm assigning this to @raisedadead since he's most familiar with the authentication system.

[2018-12-25 05:51] #17303 closed

[2018-12-25 05:53] QuincyLarson commented on #17303
@aditijoshi14 Awesome! Thanks for digging through and confirming most of these were duplicates.

@JakeShelterwin regarding points 2 and 3, these are intentional, and are not issues.

[2018-12-25 07:57] QuincyLarson commented on #34494
@inikolaievskyi Awesome! Would you be interested in taking a crack at this with the current calculator code?

[2018-12-25 10:14] numoonchld commented on #25863
Since unclear instructions is included in the title, I'd like to add that the user-story

listed [here](https://giant-chronometer.glitch.me/) is unclear on what the actual behaviour should be.

It'll take some amount of guesswork by the camper to finish the project.

[2018-12-25 10:19] numoonchld commented on #18023
Linking a relevant resource from the forum discussion that might be helpful in fixing that project:
https://www.freecodecamp.org/forum/t/nasdaq-stock-price-checker/219399/8

[2018-12-25 14:18] QuincyLarson commented on #24526
@ggurbet Thanks for your patience. GItHub's terms of service seem to forbid hosting images through GitHub repositories so we shouldn't do this. Instead, we will need to use S3, which is a bit more work.

[2018-12-25 15:04] AIV-T-STARK commented on #16378
Here my solution:
function translatePigLatin(str) {
  let pigLatin = "";
  let regex = /[aeiou]/;
  if(regex.test(str) === false){
    pigLatin = str + 'ay';
  }
  else {
    if(regex.test(str[0])) {
      pigLatin = str + 'way';
    }
    else {
      let x = str.indexOf(regex.exec(str)[0]);
      pigLatin = str.substr(x) + str.substr(0, x) + 'ay';
    }
  }
  return pigLatin;
}

translatePigLati

[2018-12-26 04:13] drecali commented on #34543
Thanks @ezioda004

[2018-12-26 08:14] ibnthani2016 commented on #18201
The problem 'solved' according to Farlokko above is not the challenge 'Registration of new users'

[2018-12-26 13:04] QuincyLarson commented on #14234
@Flarp Thanks for your extreme patience. OK - so just to be clear, you are no longer blocked and your proposed changes are located here? https://github.com/Flarp/curriculum

Please confirm the exact files you'd like us to look at - preferably by opening a pull request that mentions this issue number.

[2018-12-26 13:07] QuincyLarson commented on #17307
@ahmadabdolsaheb Thanks for your patience.

We want to build a universal navigation component that exists on every page - including the Guide and Learn.

Rather than add a ton of buttons up top, we want to add a footer that has links to all the various pages currently linked from about.freecodecamp.org. The main problem with having a footer is that the curriculum view has 3 independently scrolling

[2018-12-26 15:41] moT01 commented on #17307
Here's a list of what we might want in a footer.
[about](https://about.freecodecamp.org/)
[support](https://support.freecodecamp.org/)
[donate](https://donate.freecodecamp.org/)
[YouTube](https://www.youtube.com/freecodecamp)
[podcast](https://podcast.freecodecamp.org/)
[medium](https://medium.freecodecamp.org/)
[linkedIn](https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww.linke

[2018-12-26 16:05] ahmadabdolsaheb commented on #17307
here is a link to bootstrap official sticky footer sample.
https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/

It is the industry standard to group the links for the footer. so we probably need to think of that.
here is a sample from slack
<img width="1304" alt="screen shot 2018-12-26 at 6 59 48 pm" src="https://user-images.githubusercontent.com/4591597/50450694-90003380-0940-11e9-93

[2018-12-26 21:15] WillzMu opened #34743 "Possible Typo in "SASS Challenge: Use @if and @else to Add Logic to your Styles""
**Issue Description**
Following the given instructions. The test will fail for the @else
`  @mixin border-stroke($val) {
  @if $val === light { border: 1px solid black;
                      }
@else if $val === medium { border: 3px solid black;
                          }
@else if $val === heavy { border: 6px solid black;
                          }
@else { border: none;
      }
}`

The checkmark

[2018-12-27 00:00] ArielLeslie commented on #34735
To clarify: you can still fork the project, but you don't get the testing suite.

[2018-12-27 00:03] ArielLeslie commented on #34731
What you're probably running into is the inifite loop protection. FCC uses a timeout to protect campers from browser crashes when they accidentally write an infinite loop or infinite recursion. If your solution is slow, then for very large numbers the timeout will stop it from running before it is finished.

[2018-12-27 06:58] ahmadabdolsaheb commented on #17307
Any ideas for resolving the 3 scroller issue  @moT01 @SemperDisco ?
I think if we had only one scroller, the user had to scroll to the bottom of the page anyway to get the footer. Right now, i get a pretty similar behavior. when I have my cursor on a scrolling component and scroll to the end I am able to go where the footer component would be. So I don't think it is a major issue because the behav

[2018-12-27 08:42] QuincyLarson commented on #16439
@Em-Ant which would you recommend? If you want me to update the post, I can do so - just tell me what update you'd like to make to it.

[2018-12-27 08:58] QuincyLarson commented on #17307
@ahmadabdolsaheb I like the simplicity of Khan Academy's footer, with it's mission statement and call to action on the side:

freeCodeCamp is a donor-supported tax-exempt 501(c)(3) nonprofit organization (United States Federal Tax Identification Number: 82-0779546)

Our mission: to help people learn to code for free. We accomplish this by creating thousands of videos, articles, and interactive cod

[2018-12-27 09:30] ibnthani2016 commented on #17763
To solve the authentication challenges let all the files be in server.js .This seemsto be the place where all tests are evaluated.i.e contents of auth and route should be returned to server.js.

[2018-12-27 13:34] ahmadabdolsaheb commented on #17307
Here is a quick pen.
https://codepen.io/abdolsa/pen/rozGJj?editors=1100
any thoughts? @QuincyLarson @moT01 @SemperDisco

[2018-12-27 15:01] QuincyLarson commented on #17307
@ahmadabdolsaheb This looks great! Very nice clean design, good use of whitespace, and good responsivity.

[2018-12-27 17:44] Em-Ant commented on #16439
I updated the PR removing the link to the forum post. I think that post is not relevant anymore for the new api.

[2018-12-27 20:16] kevindelsh commented on #34731
While the code is not efficient, testing in Chrome's native console on a i7-7700HQ @ 2.8 GHz machine it takes around one second.
I don't have much experience, but it occurred to me that this could be a clue of an underlying bottleneck or maybe the protection threshold needs a little bit of increasing.

[2018-12-28 00:00] ezioda004 commented on #34731
@kevindelsh The issue you're facing is because of what@ArielLeslie described.
This challenge in particular is the first one where you have to think about algorithm complexity and make your algorithm more efficient.

There are few more challenges where you'll face the same issue and a lot more in Rosetta and Project Euler section.

That being said, it isnt a bug and something that doesnt need to be

[2018-12-28 00:00] #34731 closed

[2018-12-28 07:36] raisedadead opened #34752 "Dev Setup: npm run develop needs CTRL+C to be pressed twice for an exit"
`npm run develop` needs <kbd>CTRL</kbd> + <kbd>C</kbd> to be pressed twice for an exit

[2018-12-28 07:39] kevindelsh commented on #34731
OK, thanks!

[2018-12-28 10:32] thecodingaviator commented on #34752
I don't think this is a problem with our project. I am working with a personal project which uses React without using any dependencies, complexities, etc. and it requires  CTRL + C to be pressed twice to exit `npm start`. I'm on the latest VSCode on Windows using the inbuilt terminal

[2018-12-28 12:53] ilanoh commented on #16660
Hello, this issue is still not resolved, how can we continue the challenge ?

[2018-12-28 13:14] BrBearOFS opened #34755 "Pig Latin Chllenge - Test for vowel at end of the word."
**Describe your problem and how to reproduce it:**
I have an issue with the challenge where the last letter of the word is a vowel.
I have created code in codepen that produces the correct result, however does not pass the test  -
I submitted to question in the forums and no one there can answer the question as to why it does not pass.  Please note I am aware that this can be refactored into a cle

[2018-12-28 13:46] raisedadead commented on #34712
How do you define **design**?

It can, but doesn't need to.

We would rather focus on making it more functional than anything else.
And most importantly `functional !== beautiful`

The best example I can give you is Wikipedia.

[2018-12-28 13:46] #34712 closed

[2018-12-28 14:13] raisedadead commented on #34573
After investigating a bit and updating all the plugins and components, and troubleshooting here are some more results:

This `/users` or otherwise `/u` paths are actually defined in a theme that we use. Disabling the theme in safe mode seems to make this work again.

So the current workaround is to disable the theme and visit the users page.

https://www.freecodecamp.org/forum/users?safe_mode=no_c

[2018-12-28 14:15] raisedadead commented on #34573
/cc @freeCodeCamp/moderators

[2018-12-28 14:34] #16439 closed

[2018-12-28 14:43] QuincyLarson commented on #16439
@Em-Ant Awesome! Thanks for fixing this and for updating the challenge! It always feels good to close one of these issues that's nearly a year old!

I've updated the old Forum post we were linking to with your updated instructions. I agree, we shouldn't link to that post anymore. But now if people end up on that post they'll have your new instructions.

As always, thanks for your help, and thanks

[2018-12-28 14:47] QuincyLarson commented on #24688
@RandellDawson I noticed many of the PR's I've been removing have already been restarted to fix broken builds, which is awesome! Thanks for writing this script.

Do we still need this issue to stay open or can we close it?

[2018-12-28 15:08] QuincyLarson commented on #34573
@raisedadead Do you know which theme it is? We should definitely disable it. We want this leaderboard to be visible - it's a high priority, as it gives people helping out on the forum something to strive for.

Also the /users path is very prominent in our navigation, and I be a LOT of people are hitting that route. We should fix this ASAP.

[2018-12-28 15:16] QuincyLarson commented on #34573
@RandellDawson @raisedadead Until we can figure out a fix for this, I've hidden the "leaderboard" nav element by commenting it out from the template.

[2018-12-28 15:51] RandellDawson commented on #24688
@QuincyLarson I believe this issue has been resolved by [this PR](https://github.com/freeCodeCamp/github-tools/pull/20).  I will let @raisedadead make the final determination.

[2018-12-28 15:53] Em-Ant commented on #16439
the new version on the api is deployed on wind-bow.glitch.me.
@QuincyLarson it's always a pleasure to help.

[2018-12-28 16:20] #24688 closed

[2018-12-28 17:32] RandellDawson commented on #34627
Another update.  If I run `npm install` again, and repeat the normal process to start the development environment, it still stalls at:
[code]

[2018-12-28 17:45] ezioda004 commented on #34755
Hi @BrBearOFS,

You can see the test input file [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/pig-latin.english.md).

The test that you arent able to pass is for the string `"schwartz"`, whose output should be `"artzschway"`.
Whereas your code outputs `"zschwartay"`.

Its a

[2018-12-28 17:45] #34755 closed

[2018-12-28 17:55] raisedadead commented on #34627
**Warning Off Topic Comment Below**

Windows has always been a little hostile for doing development for *nix like target system. You are using Git Bash (just meant for doing Git and NOT Node.js) or equivalent for running binaries that were meant for *nix targets.

Ideally, you should be using their windows equivalents like Powershell + Git for Windows + Node.js. These are again 'Yet Another Set of

[2018-12-28 18:04] RandellDawson commented on #34627
@raisedadead OK, thanks for the info.

[2018-12-28 19:49] tbushman commented on #34573
@raisedadead I could be missing it, but I don't see the `/users` route in the api. You can use res.redirect on that route with a pattern if needed, in addition to your njinx redirects / rewrites. Maybe in api-server/server/boot/randomAPIs

[2018-12-28 21:39] ugitch opened #34760 "Restrict Possible Username: wrong solution"
**Describe your problem and how to reproduce it:**
Solution to this challenge doesn't take into account that:
- Three-or-more-character usernames with a single alphabet letter character at the beginning are obviously the solution as well.

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/regular-expressions/restric

[2018-12-28 21:50] ugitch commented on #34760
I suggest this solution:
`/^[a-z]{2,}\d*$|(?=\w{3,})^[a-z]{1,}\d+$/i`

Obviously, my solution uses positive lookahead (studied few challenges forward in the curriculum).

[2018-12-29 05:41] stevensacks opened #34761 "Intermediate Algorithm Search And Replace needs to have solution replaced"
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/search-and-replace/

`Advanced Code Solution Alternative` is not an acceptable solution for numerous reasons.
1. It adds a prototype function to a native Javascript object. This is a no-no. It should never be done.
2. It uses an IIFE for no reason, and there is nothing in the cu

[2018-12-29 05:46] stevensacks commented on #34761
Note that the "Run Code" link for my solution is not correct in the PR. I don't know how to set what that link is.

[2018-12-29 09:30] ezioda004 commented on #34761
Hi @stevensacks,

Yes, ofcourse *overwriting* a method to the prototype is a bad practice. However, the solution is not overwriting. This is a common way of adding a method if it *doesnt* exists. Matter of fact thats basically how polyfill works.

The IIFE point you mentioned I understand where its coming from. However, the solution is going for the
modular kinda pattern - which most popular libra

[2018-12-29 10:46] stevensacks commented on #34761
The only place it's common is junior devs who don't know better, hacks who don't care, and script kiddies who are just messing around.

Polyfill is the **only** place that adding to a native object prototype is acceptable because all that a Polyfill does is add functions that are **expected** to be supported in the spec.

There's a reason why **every Javascript library** does not do it.

Lodash, U

[2018-12-29 11:19] stevensacks commented on #34761
I'm going to provide a breakdown piece by piece of the previous advanced example just like I would in a code review.

**ORIGINAL**
[code]

It's confusing to mix ES6 terms (const) and ES5 terms (function). Because we are teaching ES6, and this test comes after the Functional Programming section, we should avoid using the `function` keyword or using `this`.

You shouldn't add to native prototypes. W

[2018-12-29 14:08] Bam92 opened #34763 "Possibility to have FCC certificate without any real test"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
I have been testing the FCC platform to see how it works. I started by Responsive Web Design. I did take and pass 2 projects. While the unit test runs well in each project, I was estonished to see that when sub

[2018-12-29 15:20] QuincyLarson commented on #34573
@raisedadead The codebase isn't version controlled. We've never made any changes to the code directly - you can make significant changes through Discourse's admin panel. I would prefer if we figured out a way to do that instead of trying to maintain a fork of the project.

[2018-12-29 18:10] ezioda004 commented on #34761
Fair point.

That is very opinionated. I'm sure many people who dont know a certain concept can/will google out of curiosity. I always liked the fact that FCC doesnt hold your hand to teach you things, it actually encourages you to do your own research.

FYI - FCC thrives on "Read, Search and Ask" methodology.

Why wont you show the elegant/clever solution in the first go? Advanced solutions shoul

[2018-12-29 18:10] testnar2019 opened #34765 "New design"
I would like to be able to reform the FreeCodeCamp design in some specific sites. Could this be viable through opensource?

[2018-12-29 19:01] stevensacks commented on #34761
The only reason I was able to identify that as an IIFE is because I know what an IIFE is. There’s no google translate that you can paste JS into that will tell you that (function(){})() is called an IIFE. They won’t be able to look it up if they don’t know what it’s called.

There’s nothing to tell a beginner what that pattern is called so there’s nothing for them to learn or grok from seeing it.

[2018-12-29 19:37] ezioda004 commented on #34761
We have gitter chat and forums for this reason only. If someone cant find something or is stuck - they can always ask others. Its a part of "Read, Search and **Ask**" :)

As said previously, the example would benefit from an external link and comment about it.

We have challenges on [IIFE](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/object-oriented-programming/understa

[2018-12-29 20:38] RandellDawson commented on #34765
Can you be a little more specific about what you believe the issue is that you want to help with?

[2018-12-30 03:01] QuincyLarson commented on #17267
@TomerPacific Thanks! If you have time to get your local dev environment working, and want to tackle this, please let us know here on this GitHub issue.

I've assigned the "Help Wanted" label so this is open to anyone interested in tackling it.

[2018-12-30 04:04] QuincyLarson commented on #17874
@joker314 No - I don't think we need to worry about this. Facebook and other broad consumer websites may have things like this, but I agree with @thornjad that we aren't much of a target, and wouldn't have much data even if someone was able to trick someone into pasting something into their console.

[2018-12-30 04:04] #17874 closed

[2018-12-30 04:47] tdtrung17693 opened #34767 "Some of the tests are buggy."
Some of the tests are, in my opinion, a little bit buggy. Take the test of "Advanced Node and Express - Implementation of Social Authentication" for example. This code isn't accepted:

[code]

While this code is accepted:

[code]
And there are more of buggy tests like this all around. These kind of buggy tests are so annoying. They make us waste our times just to hack the code for making the tests

[2018-12-30 04:50] dmuktesh10 opened #34768 "modify ruby introduction page to explain terms dynamic and interpreted"
**Describe your problem and how to reproduce it:**
In ruby guide index.md. ruby is defined as dynamic and interpreted language.
But terms dynamic and interpreted are not explained

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/ruby
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/ruby/index.md

**Tell us about your browser and operating system:**

[2018-12-30 06:58] raisedadead commented on #34573
Resolved.

Root cause:

We manually had edited and added code from a theme component that enabled the leaderboard, which had made it difficult for us to track down the buggy code.

I have now forked and updated a tweaked version of the original component now available here:
https://github.com/freeCodeCamp/discourse-users-nav

This is automatically deployed for updates to its master.

[2018-12-30 06:58] #34573 closed

[2018-12-30 07:01] raisedadead opened #34772 "Add freeCodeCamp Forum's Light and Dark themes to version control"
See https://github.com/freeCodeCamp/freeCodeCamp/issues/34573#issuecomment-450543076

[2018-12-30 12:50] ededals commented on #17820
I also can verify that @lucasMontenegro workaround worked.

[2018-12-30 12:51] mstachalski opened #34775 "Sass: Apply a Style Until a Condition is Met with @while Text-1 not passing test"
**Describe your problem and how to reproduce it:**
On the Sass task called "Sass: Apply a Style Until a Condition is Met with @while" the test does not pass for text-1

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/front-end-libraries/sass/apply-a-style-until-a-condition-is-met-with-while

**Tell us about your browser and operating system:**
* Browser Name: Chrome
* B

[2018-12-30 14:08] scissorsneedfoodtoo opened #34776 "Multiple versions of sorting algorithm challenges"
A little while ago I reviewed some new Rosetta Code challenges for the Coding Interview Prep section. Some of the new challenges were sorting challenges (bubble, insertion, and so on) that already exist in another part of the Coding Interview Prep section, and @ezioda004 brought up a good point about the duplicate challenges being excessive.

Here's the PR for reference where we discuss some possi

[2018-12-30 15:52] RandellDawson commented on #34775
Can you post your actual code, vs. a screenshot, because it appears as if your code is correct, but maybe you have some hidden characters which are throwing off the tests.  Also, did you bring this issue up on the forum first?

[2018-12-30 16:08] Flarp commented on #14234
It's been a while since I've looked at the code. I need to re-examine and retest everything; there might be some test cases that are still broken.

The only thing that blocked me was being unable to use unpacking. I eventually just gave up and edited the JSON raw, which is why I'm not 100% sure if the test cases work.

[2018-12-30 17:00] dlaub3 commented on #25035
@RandellDawson perhaps there was a regression. This bug is still present. Visit the link above and click 'Run the Tests'. You will see
[code]
I did a hard refresh in two browsers to be sure.
I also, checked the master branch. And it appears the code is fixed there. Is this something that is still waiting for a release? https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/

[2018-12-31 16:35] mstachalski commented on #34775
Sure:

`<style type='text/sass'>

  $x: 1;
  @while $x < 11 {
    .text-#{$x} { font-size: 5px * $x;}
    $x : $x + 1;
    }

</style>

<p class="text-1">Hello</p>
<p class="text-2">Hello</p>
<p class="text-3">Hello</p>
<p class="text-4">Hello</p>
<p class="text-5">Hello</p>
<p class="text-6">Hello</p>
<p class="text-7">Hello</p>
<p class="text-8">Hello</p>
<p class="text-9">Hello</p>
<p class="te

[2018-12-31 16:37] mstachalski commented on #34775
Sure
[code]

[2018-12-31 16:52] RandellDawson commented on #34775
Your code passes when I use it.  You may just need to refresh your browser or clear your cache and try again.  If you would have posted this to the forum, you would have received the same instructions and a much faster response.

[2018-12-31 16:59] mstachalski commented on #34775
I already closed and restarted my browser multiple times however. I am aware that this issue was opened some times earlier on here as well and has since been closed. I tried all the instructions however and it still does not work for me.

What I have not done yet is clearing my cache, however since I am in incognito mode (I am using someone elses notebook for the moment) this should not be much of

[2018-12-31 20:00] generally23 commented on #34417
not a bug though. works as expected for me in all powerful browsers

[2019-01-01 00:37] dgandhi98 opened #34782 "Broken Link on specific challenge page"
**Describe your problem and how to reproduce it:**
This is in reference to the "iterate through the keys of an object with a for... in statement" challenge in basic data structures for js.

The "Get a Hint" link to the guide page is broken.
The broken link:
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-data-structures/-iterate-through-the-keys-of-an-

[2019-01-01 04:42] utsab commented on #17899
@thecodingaviator, sorry for the late reply on this.  It's true that this feature is related to the Classroom Mode project, but the class-code should be generated from within the learn codebase.  This class-code will serve as a key that the open-api will use to control access to the user's data.

[2019-01-01 06:29] ezioda004 opened #34783 "Duplicate articles in /javascript folder"
We need to find a solution for ES6+ articles. Currently we do have an ES6 folder in the `/javascript` folder but no other folder for further releases. With a quick glance someone creating a new articles won't know where to add a new articles and hence we have PR's such as https://github.com/freeCodeCamp/freeCodeCamp/pull/24571

The 2 options I see are:
1. Rename ES6 folder to ES6+ so we can have p

[2019-01-01 09:43] scissorsneedfoodtoo commented on #17570
Thanks for confirming this was fixed, @thecodingaviator. @P1xt, I'll close this for now, but it will take some time for the fix to be reflected on the live site. Please feel free to reopen it if you're still having problems with this in the future.

[2019-01-01 09:43] #17570 closed

[2019-01-01 09:50] thecodingaviator commented on #17899
Oh, I see

[2019-01-01 09:52] Nirajn2311 commented on #34776
I think that it’s better if the challenges were kept in one place.

[2019-01-01 09:53] thecodingaviator commented on #34783
I suggest option 1. Easier to maintain in the long term

[2019-01-01 09:55] thecodingaviator commented on #34775
@RandellDawson I don't think the PR fixing it hasn't been shipped yet. When did we last push the repo to production ?

[2019-01-01 11:15] thecodingaviator commented on #34776
It’s good if we can have everything at one place. Maybe in the coding practice module

[2019-01-01 11:48] nikrb commented on #34776
coding interview prep section maybe used by someone who hasn't done the whole curriculum? So they might miss the sorts. I think a link (as suggested by @ezioda004) to the sorts would be better than duplicating them.

[2019-01-01 17:30] cmccormack commented on #34627
WSL is extremely slow when dealing with the FCC repo due to the size, I don't consider it a valid option.  Simple commands like `git status` may take 20+ seconds to run.

I experienced this issue with PowerShell + git for windows as well. However, in PowerShell, I was able to `ctrl+c` where the process hung and the next process would kick off successfully.  This leads me to believe there may be so

[2019-01-01 19:15] sararuth commented on #34782
<a href="https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-data-structures/-iterate-through-the-keys-of-an-object-with-a-for...in-statement/" class="btn-primary-invert btn btn-primary btn-block">Get a hint</a>

[2019-01-01 20:40] luane91 commented on #17668
Any update on this issue?

[2019-01-02 06:04] jasmeetsohal opened #34791 "Unclear instruction in Tests to pass"
Hey I found an unclear instruction in challenge `Data Structures: Perform a Subset Check on Two Sets of Data` fall into `Coding Interview Prep` it has  written `union` Tests context which should be

in that place.
Underneath is the snapshot of the challenge.
![image](https://user-images.githubusercontent.com/20149200/50581530-86b32180-0e80-11e9-81d2-234e21e65f2c.png)

The issue has solved by follo

[2019-01-02 06:49] ahmadabdolsaheb commented on #34776
keep the classic sorting algos in intro to algorithms. you can delete the duplicates and add a link if you have to.

[2019-01-02 14:02] QuincyLarson commented on #34573
@raisedadead Thanks for fixing this. I didn't realize it was this trivial to create a script and have it included automatically as part of the build process.

[2019-01-02 14:03] QuincyLarson commented on #14234
@Flarp OK - thanks for the update, and for taking time to re-examine the code. Please keep us posted, and let us know if we can do anything to help.

[2019-01-02 15:02] thecodingaviator commented on #34791
@jasmeetsohal Please close this issue then

[2019-01-02 15:55] QuincyLarson commented on #16445
@tomasvn it sounds like @Jgriebel1990 and @borisyordanov haven't gotten a chance to tackle this - are you still interested in helping with this?

[2019-01-02 16:35] RandellDawson commented on #34573
@raisedadead Thanks for resolving this.  This has been driving me crazy for a while.

[2019-01-02 16:50] MahmoudAFawzy opened #34795 "Can't claim my certificate although the profile is public and I accepted the Academic Honesty Pledge"
- I'm logged in to my profile and finished the responsive web design projects

- Clicked on "Claim certificate"

- Then clicked on "Show responsive web design certificate"

Although that I accepted the Academic honesty pledge, the website keeps telling me "mahmoudafawzy has not yet agreed to our Academic Honesty Pledge."

The version of Google chrome I'm using is: Version 71.0.3578.98 (Official Bu

[2019-01-02 20:22] jayAardvark opened #34798 "Glitch Links for Challenges"
* Glitch projects that are provided as links from coding challenges appear to have a problem importing data from GitHub upon loading.
* If, for example, one clicks the Glitch-link intended for the following project/challenge, Glitch is unsuccessful in loading the project:
https://learn.freecodecamp.org/information-security-and-quality-assurance/information-security-with-helmetjs/understand-bcrypt-

[2019-01-02 21:42] jayAardvark commented on #34798
Hello, thanks for the quick response!

So, when I'm directed to the Glitch project, the status in the top right goes from "uploading asset" to "importing from GitHub" to "Arg, something went wrong. Try again?".

A couple others have expressed things-not-working-as-expected on the FCC Forum.

[2019-01-02 22:34] dkbast commented on #34798
Can reproduce this at multiple places: https://learn.freecodecamp.org/apis-and-microservices/basic-node-and-express/ and https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/url-shortener-microservice/

The glitch log reades like this:

[2019-01-03 00:46] scissorsneedfoodtoo commented on #34776
Sorry all, I think I could have worded things a bit better. While these challenges aren't exact duplicates, they do require users to implement the same basic sorting algorithm, though maybe with some slight changes regarding I/O. Here's a link to [Bubble Sort](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/08-coding-interview-prep/algorithms/implement-bubble

[2019-01-03 03:16] MattYamamoto commented on #17706
@lionel-rowe, you should re-open this issue here.

I agree that the instructions here are vague.  It seems to me that the desired solutions is `/Aa*/` so the instructions should probably read:

A test should probably also be added that checks that no flags were used.

[2019-01-03 04:51] jasmeetsohal commented on #34791
Alright I'm closing this issue @thecodingaviator

[2019-01-03 04:51] #34791 closed

[2019-01-03 06:03] ezioda004 commented on #34776
Thats the best option - classic sorting algorithms should be kept in the `/algorithms` section because those are the most common and most asked algorithms. If someone wants to do more sorting algorithms, a link to the Rosetta challenge should do it.

[2019-01-03 15:19] bipox commented on #18028
I had to use chromium to pass the test, it wouldn't work in firefox for the same reason as stated in the first post.

I did try changing #000 to black to no avail.

[2019-01-03 16:47] Ledragon commented on #17298
:D okay, this explaining that...

[2019-01-03 23:32] misterallx commented on #17920
Hi has anyone found a solution for this? I am having this issue now...
I am able to log in from other machines but not my most updated machine...

[2019-01-04 05:56] thecodingaviator commented on #34798
For me the log at https://glitch.com/edit/#!/stone-party?path=README.md:1:0 reads:
`
node v8.14.0, with pnpm

Installing...

Performing headless installation

Packages: +49

+++++++++++++++++++++++++++++++++++++++++++++++++

Resolving: total 49, reused 49, downloaded 0, done

dependencies:

+ express 4.16.3

Total install time: 2213ms

🐑🐟 Your app is listening on port 3000
`

[2019-01-04 06:09] QuincyLarson commented on #17899
@utsab We can revisit this once we have our open API live. I agree that we want some prominent way to "enroll" in a class right from settings. We'll have a better idea of what that should look like once we have that code live.

[2019-01-04 06:13] Vikas-KM opened #34809 "Need Regex to escape comments while validating the solution"
**Describe your problem and how to reproduce it:**
The solution validates the comments which checking for "for" keyword. I think it should escape the comments.
I have added a small screenshot with solution. not sure if its 100% correct. but hopefully something to start with.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/funct

[2019-01-04 06:14] QuincyLarson commented on #18123
Closing this as a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/14002

[2019-01-04 06:14] #18123 closed

[2019-01-04 06:15] QuincyLarson commented on #14002
@HarplingeTom Thanks for your patience. I agree with your assessment. I've reopened this issue. Would you be interested in going in and updating the challenge to make use of this?

[2019-01-04 06:17] thecodingaviator commented on #34809
I see the issue. I think we’ll maybe use your solution. Make a PR with what you think is fine. We can then discuss there

[2019-01-04 06:40] Vikas-KM commented on #34809
Sure.. working on it

[2019-01-04 07:03] HarplingeTom commented on #14002
Hi Quincy! Sure I would be happy to make a contribution. The only thing is that I'm a bit of a noob, so while I could write the code I don't really know how to incorporate it into your ecosystem. Do you think if I looked around the site that I would find all the info I need to do it properly?

[2019-01-04 08:17] Vikas-KM commented on #34809
Clicked by Mistake

[2019-01-04 20:47] Lornz- commented on #34154
@Rjack00 Already checked that and nothing changed at all. Depending on the theme (bright/dark) you use, the color of toggles changes. Green is the correct color for public state.

[2019-01-04 20:50] Flarp commented on #14234
It appears that the way you contribute to the fcc curriculum has changed; how can I translate my current codebase to the new standard?

Also, unfortunately, the laptop I have been using for most of my development has died, so it will take some time to find a suitable replacement and finally get the tests running.

[2019-01-04 21:13] Rjack00 commented on #34154
I was having the same issue but when I set my toggles opposite to what was shown in the screenshot you posted it worked for me. Hope you get it figured out.

[2019-01-05 08:42] malbarmawi opened #34814 "npm wrong name of node_modules folder"
**Describe your problem and how to reproduce it:**
In this chalange the said `node_modules` folder name  is `nodemodules` and next `node module`  the correct folder name locally and globally is `node_modules`

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/apis-and-microservices/managing-packages-with-npm

[2019-01-05 09:30] Nirajn2311 commented on #34814
@malbarmawi this issue has been fixed but the corrected file hasn’t been pushed to production yet, until then this issue will show up in the site.

[2019-01-05 09:30] #34814 closed

[2019-01-05 11:29] Nirajn2311 opened #34815 "Update Bootstrap to v4 from v3.3.7"
**Describe your problem and how to reproduce it:**
Currently FCC is teaching Bootstrap `v3.3.7`, I think that it is better if the Bootstrap curriculum was updated to the current version `v4.1.x`. Also some of the like 'wells' are not there in `v4.1.x`.

Currently I have changed the CDN link and updated one challenge. The changes are in my fork - https://github.com/Nirajn2311/freeCodeCamp/tree/feat

[2019-01-05 12:10] Nirajn2311 commented on #18235
@ZebulanStanphill I am closing this issue as it has been resolved in PR #18296 but is yet to put into production.

[2019-01-05 12:10] #18235 closed

[2019-01-05 19:11] lasjorg commented on #34815
Should the changes be visually similar, or should they follow the bootstrap migration page suggestions?
E.g. The old btn-default looks more like the new btn-light but the migration page suggests using btn-secondary, which is a gray/darker color.

I'm kind of new to github collaboration.
How would this be handled? Is it a one man job? If not, would we just work off our own fork/branch and do pull r

[2019-01-06 19:35] inikolaievskyi commented on #34494
@QuincyLarson yes I can try to reimplement boot camp calculator.

[2019-01-07 09:17] ahmadabdolsaheb commented on #17307
@QuincyLarson @moT01 @Nirajn2311 I have a working footer, and as you mentioned it does affect the user experience when placed under three scrolling divs. here are some solutions.

1. widening the separating the columns separating the three panels so campers have something to grab onto to scroll the whole page rather than individual panels;

2. have a an expandable fixed bar at the bottom.

3. have

[2019-01-07 09:40] ahmadabdolsaheb opened #34824 "The size of the logo is different in the landing page and curriculum"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to the landing page on freecodecamp running locally on your machine
2. Pay attention to the logo size.
3. Click on the curriculum.
4. Pay attention to the logo size.

**Screenshots**
<img width="1422" alt="screen shot 2019-01-07 at 12 23 41 pm" src="https://user-images.githubusercontent.com/4591597/50760595-43d6bc80-1279-11e9-81a9-1540aa4fd5f

[2019-01-07 11:05] deepikagunda opened #34825 "Contributing to freecodecamp using Paypal but there is no way to update that I am contributing"
I have been contributing to freecodecamp using paypal. There is no way to update that I am contributing .Every time I use freecodecamp , it prompts me to support freecodecamp.Is there a way to update my name and not show these pop ups .

[2019-01-07 11:39] ahmadabdolsaheb opened #34826 "Feature request: Redesigning the curriculum UI"
In the curriculum, there are multiple scrollers, each scroller have different styling, additionally the columns separating the scrolling divs have different styling. Similar markdown and good use of whitespace could make the user experience more consistent and make a cleaner UI.

Current UI:
<img width="1438" alt="screen shot 2019-01-07 at 1 53 14 pm" src="https://user-images.githubusercontent.com

[2019-01-07 12:22] GMTernence commented on #34814
#13774

[2019-01-07 13:43] moT01 commented on #17307
There's already a lot going on in this area. More scroll bars just seems like clutter and possible confusion...

I like the expandable option(s) or...

5. embed the footer within the lesson panel?

[2019-01-07 14:47] moT01 commented on #17307
Looks good, I was thinking more of a green background to match the nav, but the gray and green buttons look good... might want to get Quincy's opinion there. And actually, that looks pretty good just putting it at the bottom of the other panels... the scrollbar is hidden until you scroll down - I suppose it might be different on other browsers. It could maybe use some white space or something to s

[2019-01-07 16:38] lasjorg commented on #34798
I can reproduce this by _not_ being logged into Glitch, then the import of the repo fails. If I then log into Glitch (using github sign-in) and click the link again the import works.

[2019-01-07 16:44] lasjorg commented on #34795
If you log in and click the settings link in the top right, then scroll down to the section that says Academic Honesty Policy, does it say you have accepted? If _not_ can you accept it there? (i don't remember how it looks before accepting).

[2019-01-07 17:34] sameekadam commented on #16377
Yes this work perfectly

[2019-01-07 18:07] vkWeb commented on #17307
@QuincyLarson I want to be an active participant in designing the footer but as you know I am presently inactive in the community. Fortunately, I landed here while I was looking at the issues. I want to share some ideas on this.

@ahmadabdolsaheb Amazing work there 👍. I am a big fan of GitHub's footer! We should do something similar. We should put the full footer only on the main homepage. Few pri

[2019-01-07 18:38] vkWeb commented on #34826
@ahmadabdolsaheb I think the freeCodeCamp present UI feels very user-friendly. I don't think we should prioritize right now on complete UI redesign. We definitely need to improve in some areas. I have listed some areas where we can improve, I have bolded the important ones:

- [ ] **A uniform nav bar all over freeCodeCamp**
- [ ] **Authorized user welcome page should not be scrollable, it should b

[2019-01-07 20:14] ahmadabdolsaheb commented on #17307
thanks @vkWeb for the valuable input. That is the industry standard to implement footers. So ideally the footer component will receive some props depending on the page that the user is visiting and output a custom footer. Let's wait for @QuincyLarson's output to see which direction he would like us to pursue.

[2019-01-07 20:21] ahmadabdolsaheb commented on #34824
Thanks for the input @lasjorg, I just updated the OS. The logo is responsive as you mentioned. What I think is happening is that the search bar is taking a lot of space that causes the logo to shrink is size. I think it is negligible for now so I will close this for now. Thanks again @lasjorg

[2019-01-07 20:21] #34824 closed

[2019-01-08 08:19] Nirajn2311 commented on #17307
@ahmadabdolsaheb Nice design of the footer. I was wondering if for the social media part(FB, twitter, medium, Youtube etc.) we could change it to logos.

[2019-01-08 14:54] benschac opened #34832 "When clicking get help, I get a 404"
**Describe your problem and how to reproduce it:**
404 on `get help` link here `https://learn.freecodecamp.org/apis-and-microservices/mongodb-and-mongoose/use-model-findone-to-return-a-single-matching-document-from-your-database`

**Add a Link to the page with the problem:**
`https://guide.freecodecamp.org/certifications/apis-and-microservices/mongodb-and-mongoose/use-model-findone-to-return-a-sin

[2019-01-08 19:05] dingjy94 opened #34833 "mongoose collection.remove is deprecated"
**Describe your problem and how to reproduce it:**
I'm doing the MongoDB and Mongoose challenges and I found that in the code base (server.js) in glitch, we're still using the `modal.remove()` function, which has been [deprecated](https://mongoosejs.com/docs/deprecations.html). This is currently only keep logging warning but doesn't influence the verification of the challenges.

Also, this challen

[2019-01-08 20:43] caglarturali opened #34834 "Quincy's signature is not showing up"
This may not be the best place to discuss it but the signature on the certifications does not show up if your country has blocked imgur.com. I live in Turkey and apparently, our government decided to put imgur.com down too, alongside with all the other useful web services.

This is also a problem for future employers since we're listing the certificates on our LinkedIn profile. They basically don'

[2019-01-08 22:19] caglarturali commented on #34834
I just found the line responsible for loading the signature image, [here it is](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/client-only-routes/ShowCertification.js#L155).
I could fork the project, edit the line (maybe reference from `src/images` dir within the project) and open a pull request. But after seeing 5000+ pull requests, I think I'm not gonna do that. Maybe I will

[2019-01-08 23:30] RandellDawson commented on #34834
@raisedadead Can you take a look at this proposition?  I was thinking we prefer not to host images on the repo, but there are files (i.e. `freeCodeCamp-404.svg`, `powered_by_stripe.svg`, and `square_puck.png`) in the folder referenced by the OP, which are all used in the code base.

[2019-01-09 00:35] benschac commented on #34832
Great, someone need to update the link? We’re you able to reproduce?

[2019-01-09 08:00] raisedadead commented on #34834
Here is what is to be done:

The images can be moved over to our CDN repository:
[`https://github.com/freeCodeCamp/cdn`](https://github.com/freeCodeCamp/cdn) with a path like `platform/english/images/*`

Tag us (@freeCodeCamp/dev-team) for a review.

It will be made available at `https://cdn.freecodecamp.org/platform/english/images/` which can then be added to all places you want.

Thanks for the

[2019-01-09 08:49] 4M3L commented on #34832
I think he's already updated.

[2019-01-09 08:52] ezioda004 commented on #34826
@vkWeb

I disagree with this, IntelliSense helps with method names and reference previously created variables. It only helps with syntax to an extent which is fine. In real world, you're not required to remember obscure/less frequent used methods.
IMO, its fine the way it is right now.

[2019-01-09 09:07] QueenAmeerah commented on #14878
Here's the code I used to pass this challenge:
let ohStr = "Ohhh no";
let ohRegex = /Oh{3,6}\sno/; // change this line
let result = ohRegex.test(ohStr);

[2019-01-09 10:12] LieChou commented on #34309
Hi,

Sorry to get back to you on this topic but it seems that the invalid solution is still showing up : [https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-javascript/use-the-conditional-ternary-operator/]

I am still having an assignment operator instead of the equality one - which works fine.

Thank you.

[2019-01-09 10:30] Bouncey commented on #34627
@cmccormack @RandellDawson How does `npm test` work for you? If all the tests run in parallel, could you see if using `npm-run-all` fixes this issue?

[2019-01-09 11:04] RandellDawson commented on #34627
@Bouncey `npm test` works fine.  When you say use `npm-run-all`, the `npm run develop` already does that I thought.  When I look a package.json, it shows:
[code]

What is the exact `npm-run-all` statement we should try?

[2019-01-09 11:08] thecodingaviator commented on #34309
@LieChou the changes have not been pushed to production yet. The changes will appear once the repository is pushed to production

[2019-01-09 11:14] LieChou commented on #34309
Ok, thanks.

[2019-01-09 11:38] nikrb opened #34836 "upgrading minor challenge issues across the board with a batch script"
formatting challenges has been updated (#34747) so `<br>` tags should no longer be required. Can anyone think of edge cases where a `<br>` may still be required?

variables declared with `var` could also be changed to const - or let if there is (re)assignment in the body.
@ezioda004 pointed out there are challenges in ES6 section specifically aimed at changing var to const/let so miss that section

[2019-01-09 11:53] Bouncey commented on #34627
@RandellDawson

replace your `scripts` block with this
[code]

Then try `npm run develop` again.

[2019-01-09 12:12] RandellDawson commented on #34627
@Bouncey That seems to have done the trick.  It completes with no issues now using `npm run develop` with the changes you made above.

[2019-01-09 13:59] benschac commented on #34832
should I close this issue? Is there a PR that fixed it?

[2019-01-09 14:07] Bouncey commented on #34627
Awesome

[2019-01-09 17:38] nikrb opened #34841 "babel preset causes challenge to fail with correct solution"
**Describe the bug**

[This Challenge](http://localhost:8000/learn/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-variables-from-arrays) on latest master fails locally with the correct solution.
Curriculum test passes.

[The live challenge](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-varia

[2019-01-09 17:47] cmccormack commented on #34627
I tested PR #34840 locally and it seems to have worked to get the server running.  However, I seem to be having issues killing the process when I'm done.  In PowerShell, none of the kill commands seemed to work, but when I tried to close the PowerShell window I was hit with the following errors:
[code]
Hopefully these errors provide some insight.

Thanks for looking into this @Bouncey !

[2019-01-09 19:08] lasjorg commented on #34815
By complete makeover I assume you just mean the text and bootstrap classes, and not the app that is being worked through in the challenges?

A few observations:

1. In the intro section, how about we just link to the getbootstrap front page.

2. Considering the comprehension level needed for the other sections of the Front End Libraries Certification, I assume we can "up" the difficulty of the tex

[2019-01-09 20:32] ezioda004 commented on #34836
Just to clarify -  I meant, the challenges before the ES6 challenge [Explore Differences Between the var and let Keywords](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/explore-differences-between-the-var-and-let-keywords) *should not* be modified with `let/const`.

[2019-01-10 00:00] ArielLeslie commented on #34825
If you donate via PayPal or cryptocurrency, you can email a donation receipt to team@freecodecamp.org and your account will be manually updated. Unfortunately, only the credit card donations through swipe can automatically update your account.

[2019-01-10 06:49] mikeshort10 commented on #18128
Mine as well. Has this been addressed?

https://www.freecodecamp.org/certification/mikeshort10/full-stack

[2019-01-10 09:43] Bouncey commented on #34627
@cmccormack could you remove `--silent` from this line and try again?

https://github.com/freeCodeCamp/freeCodeCamp/blob/05535d1e56bca7456b69510fa724493edf5fa1ca/api-server/development-entry.js#L7

That should output some errors to the console when you try to exit.

[2019-01-10 09:59] Bouncey commented on #34832
@benschac Thank you for reporting this issue, it is something we are aware of and currently working towards a fix.

@RandellDawson This is another instance of the issue we discussed yesterday.

[2019-01-10 11:07] Dayfiri opened #34845 "Donation pop-up keeps appearing after making a donation"
**Describe the bug**
I've made a constant monthly donation via paypal which was activated yesterday when was the first time I did it. The donation was made with paypal account that doesn't share the same e-mail address as my FCC account. So now, even though the donation has been proceeded I'm still receiving the pop-ups when using the FCC page for learning.

**To Reproduce**
Steps to reproduce the

[2019-01-10 18:47] QuincyLarson commented on #14234
@Flarp You should be able to pull down the latest master branch. This said, it may be easiest to just delete your local installation of freeCodeCamp and clone it again.

[2019-01-10 18:49] QuincyLarson commented on #14002
@HarplingeTom You could certainly try. We have a lot of contributing documentation, and we're always around in gitter.im/freecodecamp/contributors if you have questions or get stuck.

[2019-01-10 18:59] QuincyLarson commented on #34826
@ahmadabdolsaheb Thanks for opening this issue.

There are little tweaks we should do like the ones @vkWeb mentioned. Especially the one about changing the current 5 buttons into 3 (the "ask for help" button can bring up a modal with the other options).

As for the scroll bars, I don't see those on Mac. But I agree the scroll bars look pretty bad on Windows. This said, we are much more concerned a

[2019-01-10 18:59] #34826 closed

[2019-01-10 19:04] QuincyLarson commented on #34494
@inikolaievskyi Awesome! I've set this to status: in progress! Please keep us posted on your progress and let me know if I can do anything to help :)

[2019-01-10 19:06] QuincyLarson commented on #17307
@ahmadabdolsaheb That looks solid!

@vkWeb Rather than simplify the footer as GitHub has done, I propose we keep it the same everywhere so people don't have to adapt to the fact that the footer changes from page to page. We want to keep our navigation up top the same on every page, too.

Regarding having the footer on Learn - we do eventually want to do this, but we need to figure out how. As @vkW

[2019-01-11 06:10] deepikagunda commented on #34825
Sent email .Will close this issue and hope this is resolved.

[2019-01-11 06:10] #34825 closed

[2019-01-11 06:11] deepikagunda commented on #34845
I had the same issue and I received an email to do this ..quoting the Freecodecamp team ..
"If you donate via PayPal or cryptocurrency, you can email a donation receipt to team@freecodecamp.org and your account will be manually updated. Unfortunately, only the credit card donations through swipe can automatically update your account."

[2019-01-11 12:30] MoonCWang commented on #17379
Learning arrow functions is very similar to learning regex (which was excellent btw, kudos to the creators).  One needs to slow down, have lots of practice runs of increasing complexity and then you'll get it.  I am still quite far away from playing with Chai but if no one is actively working on this I'll give it a try.   It can be broken up into three successively difficult challenges if that's O

[2019-01-11 12:41] MoonCWang commented on #17386
For anyone who wishes to look into this, another developer found and resolved the issues by changing their keyboard.js file.  https://github.com/processing/p5.js/pull/3286/files

[2019-01-11 12:41] Dayfiri commented on #34845
@deepikagunda Thanks for the reply. I've send them an e-mail and all I gotta do now is wait for response.

[2019-01-11 14:32] raisedadead commented on #34845
Hi @Dayfiri @deepikagunda

Yes, you are correct. Thanks for sending us the emails. Once @QuincyLarson (who monitors the team@freecodecamp.org email) validates.

We will update the user record for you, so that you do not see the modal.

Thanks for supporting freeCodeCamp.org

[2019-01-11 14:33] raisedadead commented on #34845
Meanwhile I am closing this in favor of handling over our support email.

[2019-01-11 14:33] #34845 closed

[2019-01-11 15:14] darrylmorley commented on #34795
I have the same issue here...

[2019-01-11 19:15] huyenltnguyen commented on #34834
@caglarturali Go for it! I personally think your PR will get prioritized since this issue is affecting many users. Thank you for the issue report and the investigation, btw 👍

[2019-01-11 20:10] cmccormack commented on #34627
@Bouncey I didn't see any errors when removing the `--silent` flag.  I did notice that the ability to kill the process seems inconsistent, after checking out this PR again and resetting everything and running `develop`, I couldn't kill the process through normal means.  After several tries I am able to more consistently kill the process, though - not sure why.

[2019-01-11 20:12] cmccormack commented on #34627
Sorry did not mean to close the issue, auto-pilot took over...

[2019-01-11 20:13] caglarturali commented on #34834
I'd love to do that. But, even though I have experience working with modern JavaScript stack, none of the projects I've worked on so far weren't big and complicated as fcc's codebase. So, I'd rather someone else do it. I'll have it a go if no one else shows up. :smirk:

[2019-01-12 05:01] saranshkataria commented on #34834
I can pick this one up. The images need to be added to the build folder in the CDN repo, or should they be added directly there? I don't see any documentation regarding addition of resources there

[2019-01-12 12:49] huyenltnguyen commented on #34834
@saranshkataria From @raisedadead 's comment, I'm going to guess that you will need to create a sub directory `/platform/english/images/` and put those images there.

[2019-01-12 20:44] T4JC opened #34861 "Use Clockwise Notation - Tests fail if you add any comment code."
On the Basic CSS: Use Clockwise Notation to Specify the Padding of an Element Lesson.

If you fulfil the course as instructed but also add comments in a multi-line format  such as:
/*
aaaa
*/
Placed outside of the relevant style block and also within it will cause one of the tests will fail and state 'You should use the clockwise notation to set the padding of blue-box class.'

Even though the pro

[2019-01-12 21:37] T4JC opened #34862 "CSS variable colours: Gray is accepted but Grey is not"
On the Basic CSS: Use CSS Variables to change several elements at once lesson.
Following the task and setting one of the CSS variables colour to 'Grey' fails the test even though the colour changes successfully.

This is due to spelling differences in different English speaking countries in the USA 'Gray' is the common spelling where as in some other countries such as the UK 'Grey' is the accepted

[2019-01-13 06:28] vkWeb opened #34863 "ER_ACCESS_DENIED_ERROR on freeCodeCamp news"
**Describe the bug**
On visiting [freeCodeCamp news](https://www.freecodecamp.org/news/) error 500 is shown. It doesn't matter you are signed in or not, the error persists.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/news/

**Screenshots**
![image](https://user-images.githubusercontent.com/26724128/51082276-f602fe00-1729-11e9-95ee-9995b4bb6015.png)

**D

[2019-01-13 06:38] raisedadead commented on #34863
Hi Thanks for reporting. We are moving some servers around, to make the site more faster. This is a quick maintenance run.

Thanks for reporting.

[2019-01-13 06:38] #34863 closed

[2019-01-13 19:09] charliearlie commented on #34862
Even in countries where we use the English "grey", it should still not be accepted. One thing you have to get used to is using American English while programming. `background-color`, `gray`, etc.

[2019-01-14 06:34] tarunmanchukonda commented on #10485
var myStr = "\nFirstLine\n\t\\SecondLine\nThirdLine";
This gave me the solution.

[2019-01-14 06:45] RandellDawson commented on #34862
css
[code]
[code]
When I put both of these in a document and inspect the `div` elements using Chrome's Developer Tools, under Computed, they both have the value `rgb(128, 128, 128)`, so they do appear to be the same and they do look the same to me.

[2019-01-14 08:00] charliearlie commented on #34862
Yeah, I learned CSS a long time ago. Grey should be accepted. 😭

[2019-01-14 08:52] RandellDawson commented on #34862
@charliearlie Actually, regardless if the two are identical, I concur with your original assessment that it should be `gray` and not allow `grey`, because the instructions are very specific on what the colors should be.  I am going to close this issue, because there is nothing wrong with the existing tests per the instructions.

[2019-01-14 08:52] #34862 closed

[2019-01-14 13:53] Bouncey opened #34867 "[FIREFOX] Unable to pass Basic CSS: Add Rounded Corners with border-radius"
**Describe your problem and how to reproduce it:**

Unable to pass challenge in fiefox, chrome is OK

**Add a Link to the page with the problem:**

http://localhost:8000/learn/responsive-web-design/basic-css/add-rounded-corners-with-border-radius

**Tell us about your browser and operating system:**

* Browser Name: FireFox
* Browser Version: 64.0.2 (64-bit)
* Operating System: Mac 10.14.2

**If p

[2019-01-14 14:00] Bouncey commented on #34867
From @ValeraS:

In Firefox:
`getComputedStyle(document.getElementsByTagName('img')[0])["border-radius"] === "" `
but
`getComputedStyle(document.getElementsByTagName('img')[0])["border-top-left-radius"] === "10px"`
`JQuery` uses `getComputedStyle`

This specific test uses `jQuery`

[2019-01-14 14:45] thecodingaviator commented on #34867
Passes for me:
![image](https://user-images.githubusercontent.com/34807532/51119483-f76f1c00-1838-11e9-8d5e-cd8843d5336b.png)

FireFox 64.0.2 (64-bit) Windows 10

[2019-01-14 14:47] Bouncey commented on #34867
Maybe Mac only?

[2019-01-14 14:53] thecodingaviator commented on #34867
Or maybe we're getting it on localhost only. Who knows what the problem might be? Try it online once

[2019-01-14 15:06] ValeraS commented on #34867
In production, the test checks `border-top-left-radius`.

[2019-01-14 15:13] ValeraS commented on #34867
😀 it's my changes introduced it.

[2019-01-14 21:19] kanpeki commented on #17267
@jonathan-grah Hi, I would like to take a look at this. I've managed to set up the env, but I have a question regarding the expected behaviour: should the search bar clear when clicking outside the search results,  besides the hits window closing?

[2019-01-15 00:46] tomasvn commented on #16445
@QuincyLarson I will try to make it work on windows, I still have issues of running it, If I won't be able to set my environment, just close the thread.

[2019-01-15 05:23] rupali317 commented on #17950
I tried to reproduce @revisualize and @jocharles57 comments. I omitted the closing double quote. I am seeing a blank screen instead of the code.

**Environment:**
- Chrome Version 71.0.3578.80 (Official Build) (64-bit)
- Windows 10

**Screenshot:**
![free_code_camp_basic_style_ovverride](https://user-images.githubusercontent.com/5875663/51160230-0a7cfd00-18c8-11e9-968f-fbcf835c3d41.PNG)

If I am m

[2019-01-15 05:58] thecodingaviator commented on #17950
@rupali317 I don't think we need to reproduce it. If you've written code to make something happen, however mistakenly, you cannot get the right results.

cc: @ezioda004 please close

[2019-01-15 07:58] raisedadead opened #34872 "Manual and Sanity Testing freeCodeCamp.org"
Closing in favor of the guide available at: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/devops.md#devops-guide

[2019-01-15 07:59] raisedadead commented on #34872
This is a document only issue. Please open fresh issues for discussions.

[2019-01-15 07:59] Nirajn2311 commented on #15615
@Manish-Giri Any progress in this?

[2019-01-15 08:21] raisedadead commented on #34765
Hi @testnar2019 we welcome your feedback and suggestions. I recommend discussing this over on our forum first though. You will get more interest and comments from the community that way. Then you can always come back and log an issue with the specifics.

Thanks and happy contributing.

[2019-01-15 08:21] #34765 closed

[2019-01-15 12:46] #29296 closed

[2019-01-15 14:22] #17382 closed

[2019-01-15 14:30] raisedadead commented on #17382
### We now have local auth support for a development user 🎉 !

Two things to note:

- If you already have a setup, and/or you used the AUTH0 keys. You can replace them with the `sample.env` values like `stuff`.
-Additionally you need to add `LOCAL_MOCK_AUTH=true` to your current `.env`

New setups can simple follow the usual guidelines.

Thanks a lot to the efforts of @tchaffee ! 👏

[2019-01-15 14:32] raisedadead commented on #17989
Closing as stale. The docker setup is probably outdated but we are working on that.

[2019-01-15 14:32] #17989 closed

[2019-01-15 17:58] M-Michelini opened #34877 "clearing browser cache on chrome signs me out of curriculum indefinitely."
**Describe the bug**
If you clear your cached images and files on google chrome, you are never signed in when on the curriculum page, hence all progress appears to be lost, despite it telling you that you have progressed in the settings and on the homepage. Sign in functionality seems to work as usual on all routes except curriculum.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign into

[2019-01-16 05:37] sprasih1 commented on #15615
@Manish-Giri  @QuincyLarson
We can replace the following statement this sounded confusing to me :

"Having more high cards remaining in the deck favors the player. Each card is assigned a value according to the table below. When the count is positive, the player should bet high. When the count is zero or negative, the player should bet low."

with

"Each card is assigned a value according to the t

[2019-01-16 06:36] thecodingaviator commented on #17950
We cannot make the screen stop for some time before the code is executed for a challenge alone. It would either happen for the whole curriculum or not.

How we render pages is that after a set amount of time after the user stops typing, we display the output, so stopping it till the user wants is not possible

[2019-01-16 06:39] thecodingaviator commented on #34861
I'm not able to reproduce this, it passes for me:
![image](https://user-images.githubusercontent.com/34807532/51230870-7f633c00-1987-11e9-8bf2-1df2f717d518.png)

[2019-01-16 07:09] ezioda004 commented on #17950
Hi @rupali317,

The code gets executed as soon as someone types something on the client side. Sadly, this is something we cannot configure for just 1 challenge.

I'm closing this as its not a bug/issue.

[2019-01-16 07:09] #17950 closed

[2019-01-16 10:55] #18879 closed

[2019-01-16 11:46] raisedadead commented on #34877
Hi @M-Michelini

Thanks for the issue report. I can reproduce the issue. We have got this fixed as well on our `master`, however the fixes will not reach the production website at least for a few more weeks due the internal rewrite of the platform that is underway.

For now here is a workaround that seems to work:

![2019-01-16 17 08 44](https://user-images.githubusercontent.com/1884376/51247096-1

[2019-01-16 15:04] jonathan-grah commented on #17267
@kanpeki, no I don't think we should clear the search bar, let's keep it as it is for now 👍 Thanks for your help, let me know if you need any help 😄

[2019-01-16 15:06] thecodingaviator commented on #34867
@ValeraS So it's fixed already. Right?

[2019-01-16 15:09] raisedadead commented on #34472
Closing. Can't reproduce any more.

[2019-01-16 15:09] #34472 closed

[2019-01-16 15:11] raisedadead commented on #17220
We are not resurrecting the camperbot. It served us well.

[2019-01-16 15:11] #17220 closed

[2019-01-16 22:49] chrisdel101 commented on #17379
@MoonCWang I've got a PR for this that's been there for already since November.

[2019-01-16 22:51] maxsearan commented on #34222
Hi, Is the issue still open? If so, I would love to work on the accessibility part! -Thanks

[2019-01-17 00:56] #18179 closed

[2019-01-17 02:11] amusedberry commented on #18885
Hi, @RandellDawson. By any chance have they took a decision about this issue? I can confirm that this is still an issue after 3 months.
When you get used to code using the standardJS style([standard/standard](https://github.com/standard/standard)), for example, it's not immediately obvious that the _"Call function"_ test is not passing due to a missing semicolon.
I don't mind whether you decide to

[2019-01-17 02:37] ShawnToubeau commented on #34867
Hello all!
@ValeraS Not 100% sure how FCC performs their tests but from looking at this challenge's file it looks like its checking for "border-radius"?
![image](https://user-images.githubusercontent.com/22332636/51291687-fa534380-19d5-11e9-8239-357408af92a1.png)

Is that not right?

[2019-01-17 02:48] ShawnToubeau commented on #34783
Hello all!
I agree, option 1 sounds like the better one.
I can provide help with cleaning up the JS folder if needed?

[2019-01-17 03:05] stevpalmer commented on #17850
I've thought a few times now that a quicker way to get back to older lessons for a refresh would be super helpful. This sounds like something that could achieve that. You'd then be able to quickly jump back to what you where you'd progressed.

[2019-01-17 05:12] QuincyLarson commented on #34285
This is still a problem, and I believe fixing it would dramatically improve the usability of the guide.

Here's a gif demoing the issue:

![2019-01-17 13 08 43](https://user-images.githubusercontent.com/985197/51297006-89ee0600-1a59-11e9-9e53-f676585d6b92.gif)

@StephenHogsten are you still interested in fixing this?

[2019-01-17 05:17] QuincyLarson opened #34887 "Search box in Learn's navbar is offset on retina displays"
**Describe the bug**

On retina displays, this is what Learn's search navbar looks like on retina displays (2012 and beyond Macbooks):

<img width="1064" alt="welcome_to_learn_freecodecamp_" src="https://user-images.githubusercontent.com/985197/51297128-0e408900-1a5a-11e9-9bdc-74a10a606c3a.png">

Note that the Guide's navbar looks fine on Retina displays:

<img width="1222" alt="freecodecamp_guide

[2019-01-17 06:59] JonDevOps commented on #17850
maybe in the settings there could be a switch to turn it on and off, i wonder how we could start building that? I'm honing css at the moment but maybe in a few days or a week i will be beginning javascript. It was especially useful on phones. Maybe if we could keep the content but just put it back into that kinda menu .

[2019-01-17 07:08] adambrikman opened #34888 "ES6 Challenge requiring const does not require the variable to be in all caps"
**Describe your problem and how to reproduce it:**

Best practice in ES6 for const is to name the variable in all caps. However, the exercise this variable is in all lowercase in order to pass.

**Add a Link to the page with the problem:**

Here is the link to the exercise: https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-arrow-functions-to-write-concise-anonymous-f

[2019-01-17 09:45] ezioda004 commented on #34888
Hi @adambrikman,

Thank you for opening this issue.
We've previously discussed this in https://github.com/freeCodeCamp/freeCodeCamp/issues/19037

Please refer to that discussion.
Closing this issue but feel free to open if you're proposing something else.

Happy contributing!

[2019-01-17 09:45] #34888 closed

[2019-01-17 10:32] thecodingaviator commented on #34867
Okay, no I was wrong @ValeraS . It worked on learn.freecodecamp.org on Firefox, the same version as Stuart. But I do not understand if it works for someone in production, why are we bothering with it right now?

[2019-01-17 11:08] Bouncey commented on #34867
@thecodingaviator because we are trying to publish the next version of freeCodeCamp, which is currently on `master`, and there has been a regression in the challenge tests which needs to be resolved.

Learn to currently many iterations behind the current master branch, they may look and feel similar, but the are worlds apart in terms of usability and performance.

[2019-01-17 11:14] Bouncey opened #34889 "decodeHTMLEntities causes build failure"
The `decodeHTMLEntities` utility (`client/utils/decodeHTMLEntities.js`) currently interacts with the DOM to carry out it's function. In a client build, there is no DOM available so this process throws an error.

We need to investigate changing the implementation of `decodeHMTLEntities` to use a package like [`entities`](https://www.npmjs.com/package/entities). I would also like a `jest` test suite

[2019-01-17 11:21] raisedadead commented on #34889
Removing the first timers issue, those are only for good first time trivial issues with open source.

[2019-01-17 11:30] ValeraS commented on #34889
@Bouncey We can use [`he`](https://www.npmjs.com/package/he) package instead of `decodeHTMLEntities`. And we do not need to test it.

[2019-01-17 11:32] thecodingaviator commented on #34867
Okay, I'll try taking it old school. Lemme see what I can do. I'll give plain old JS a try

[2019-01-17 11:36] Bouncey commented on #34889
I would like a test just to ensure the implementation does not rely on the DOM. I do not mind which package is used, preferably the smaller one.

[2019-01-17 12:41] thecodingaviator commented on #34867
Okay, I've tried multiple things now:

1. Using `getElementsByClassName()`
2. Using `getElementsByTagName()`
3. Using a combination of jQuery and plain JS
4. Using `document.images`

And nothing works. The two option we now have are:

1. We test user code
2. We check for all 4 long forms of `border-radius` individually using an && on the same test

What do you guys suggest?

[2019-01-17 12:44] Dayfiri commented on #34845
hey @raisedadead,
It's been 6 days and still no answer. Should I try other method with this or does Quincy has a lot of work and I need to wait more ?

[2019-01-17 12:53] raisedadead commented on #34845
May be he somehow missed you email. I'll ping him about this on priority. Thanks for your patience.

[2019-01-17 18:35] thecodingaviator commented on #34867
I guess the learn repo is right now checking for border tip left radius only atm. The master branch here is checking for all but we know the problem with that

[2019-01-17 18:48] Bouncey opened #34890 "Legacy Data Vis certification id has migrated"
There is a disparity between the current Legacy Data Vis Cert ID and what was once the Data Vis Cert at the beginning of 2018.

Legacy Cert id for Data Viz: 561add10cb82ac39a17513bc (on master)
Legacy Data Vis Cert id found in some user records: 561add10cb82ac38a17513b3

[2019-01-17 21:08] #17646 closed

[2019-01-18 01:02] nikrb opened #34894 "Curriculum test fails at test-challenges.js:226"
**Describe your problem and how to reproduce it:**
testing curriculum challenge:
`$(npm bin)/mocha --delay -f 'Import Everything'`
gives:
[code]

**Tell us about your browser and operating system:**
* Browser Name: chromium
* Browser Version: Version 68.0.3440.106
* Operating System: Ubuntu 16.04.5 LTS
* Node version: v8.11.2

[2019-01-18 01:04] nikrb commented on #34894
fixing the catch syntax error with (e) gives:
[code]

[2019-01-18 01:19] nikrb commented on #34894
my bad, updated to node v10 works

[2019-01-18 01:19] #34894 closed

[2019-01-18 10:02] frodriguez20H opened #34895 "Storing Values with the Equal Operator show error 404"
**Describe your problem and how to reproduce it:**
In section: "_Basic JavaScript: Generate Random Fractions with JavaScript_" when click on **Storing Values with the Equal Operator show error 404**.

**Add a Link to the page with the problem:**
[Storing Values with the Equal Operator](https://learn.freecodecamp.org/storing-values-with-the-assignment-operator)

**Tell us about your browser and ope

[2019-01-18 10:21] thecodingaviator commented on #34895
That is happening because the correct link is : https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/storing-values-with-the-assignment-operator ans the challenge is called: Storing Values with the Assignment Operator

[2019-01-18 10:57] #34895 closed

[2019-01-18 11:08] thecodingaviator commented on #34895
@frodriguez20H You also need to make a Pull Request to the main FreeCodeCamp master branch for your commits to be merged. Or, if you want, I'll take this up

[2019-01-18 15:58] sporifolous commented on #17971
I'm encountering this same issue right now. When clicking the link, Glitch opens up, but I get a little red message on glitch that says "Arg, something went wrong. Try again? :@"

[2019-01-18 16:00] michaelwright74 opened #34898 "Streak Count reset if doing more than 20 challenges in a day?"
Firstly here is my profile - https://www.freecodecamp.org/michaelwright74

Although I have completed challenges every day since January 1st it is showing my Longest Streak as 8 Days and my Current Streak as 5 Days. It seems to be related to doing more than 20 challenges in a day as I show below.

Date - No. of Challenges
---------------------------
Jan 1 - 6
Jan 2 - 8
Jan 3 - 12
Jan 4 - 5
Jan 5 -

[2019-01-18 16:49] raisedadead opened #36849 "Add release scripts and acceptance tests to news-theme"
We need release scripts for news theme. This theme integrates a different interconnected components and platforms.

- The comments are loaded via an embed from discourse.
- The articles are generated dynamically.
- The above are on different servers, and connected to their own db's (on different hosts).
- This makes any change susceptible to bugs.
- And more often than not can cascade to make the

[2019-01-18 19:28] Bubsy3D opened #34901 "Radio buttons challenge missing value attributes"
<p style="font-size:12px">
In the <a href="https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/create-a-set-of-radio-buttons">create-a-set-of-radio-buttons and the following create-a-set-of-checkboxes</a> challenge the buttons are missing the <strong>value</strong> attribute. If you send a form you wouldn't get what button was chosen but "radio-group=on" instead.
I think this

[2019-01-19 04:37] moT01 commented on #34890
I did some related investigating on this...
https://github.com/freeCodeCamp/freeCodeCamp/issues/17424

[2019-01-19 08:13] erictleung opened #34904 "Capitalize test text for Cascading CSS variables"
**Describe your problem and how to reproduce it:**
Challenge test text typically capitalized, but the one for Cascading CSS Variables is not.

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/01-responsive-web-design/basic-css/cascading-css-variables.english.md

Live: https://learn.freecodecamp.org/responsive-web-de

[2019-01-19 08:47] #34492 closed

[2019-01-19 10:43] rupali317 opened #34905 "A test case is missing from challenge "Object Oriented Programming: Inherit Behaviors from a Supertype""
**Describe your problem and how to reproduce it:**
In the challenge: "Object Oriented Programming: Inherit Behaviors from a Supertype", the exercise states that we have to use Object.create to make 2 instances of Animal.

However, if we do not use Object.create and instead use new Animal(), all the test cases will still work.

We should have another test case which checks if we are using Object.cr

[2019-01-19 12:47] techednelson commented on #34904
Hello @erictleung  can I work on this issue?

kind regards!

[2019-01-19 12:54] thecodingaviator commented on #34905
We can test user code using a regex

[2019-01-19 13:48] huyenltnguyen commented on #34904
@techednelson Go for it! Thanks for giving us a hand!

You will need to follow the [Contribution Guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md) to set up freeCodeCamp locally. Also, we are hanging out in [Gitter's Contributors chatroom](https://gitter.im/FreeCodeCamp/Contributors). You can ask for help there, or just come say hi :)

[2019-01-19 13:55] ezioda004 commented on #34905
I cant think of another way of fixing it aside from having an additional test with regex.

[2019-01-19 15:07] techednelson commented on #34904
@erictleung  Thanks, yeah sure, see you at Glitter's Contributors chatroom 👍

[2019-01-19 15:08] co16353sidak opened #34909 "Basic JavaScript: Local Scope and Functions, global variable declaration passes the test"
**Describe your problem and how to reproduce it:**
While working inside the coding challenge "Basic JavaScript: Local Scope and Functions", I found out that while the challenge works fine if you declare a local 'var' variable inside the function 'myLocalScope' and then deleting the log out at the end. **as usual.**

But, initially accidentally I wasn't paying attention and declared the 'myVar' out

[2019-01-19 18:21] StephenHogsten commented on #34285
@QuincyLarson yes, I'll take a look

[2019-01-20 01:18] kthurman59 opened #34911 "Use React to Render Nested Components - crashes browser"
**Describe your problem and how to reproduce it:**
When I get to the bottom of this challenge it crashes both Chrome and Firefox.  All extensions/add-ons are off and cached cleared several times.  Despite all this, it freezes the site, then eventually crashes.

**Add a Link to the page with the problem:**

https://learn.freecodecamp.org/front-end-libraries/react/use-react-to-render-nested-componen

[2019-01-20 01:32] petercr opened #34912 "Typo on D3 Data with a Bar Chart challenge"
**Describe your problem and how to reproduce it:**
If you look at **User Story 2 & 3** both say **My chart should have a `g` element** instead of an `svg` element.

And since there is no `g` element in HTML, I figured you _must_ mean `svg` 😉 😆

Thanks and have an awesome day 👍

**Add a Link to the page with the problem:**
[Data Visualization Projects - Visualize Data with a Bar Chart](https://lear

[2019-01-20 09:09] #17467 closed

[2019-01-20 10:31] darklordace commented on #34912
g element does exist. Look [here](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/g)

And here is the example
![2019-01-20](https://user-images.githubusercontent.com/34407426/51438016-178b5900-1cd9-11e9-8ee3-d9e492434f28.png)

[2019-01-20 11:13] rupali317 commented on #34905
Can I take up this task, if no one has started on it? Would like to contribute

[2019-01-20 11:38] thecodingaviator commented on #34905
Aditya I think Id like to see more discussion on this. Adding a reflex test isn’t the only possible solution. The challenge is to create an object so we can have the user doing it both the ways and check both using a regex

[2019-01-20 12:15] ezioda004 commented on #34905
@thecodingaviator The challenge is to create a new object with its `__proto__` delegating to `Animal.prototype`. We've already taught how to create an instance with `new` operator, this challenge is about using `Object.create()` to do the same. Therefore we cannot have the camper use `new` operator since the challenge is not about that.
[code]
Or
[code]
Results in the same object, so regex is or b

[2019-01-20 16:09] huyenltnguyen commented on #18191
Closing this issue as it has been resolved via https://github.com/freeCodeCamp/freeCodeCamp/pull/34892.

[2019-01-20 16:09] #18191 closed

[2019-01-20 21:00] saranshkataria commented on #34834
My PR in the CDN has been merged, but the project needs to be rebuilt I think? Get a 404 when accessing https://cdn.freecodecamp.org/platform/english/images/freeCodeCamp-404.svg in the browser.

[2019-01-21 08:21] raisedadead commented on #34834
Hi,

Sorry, we should have specified earlier. Can you make please make a fresh PR? The last one seems to have added the images in the root of the repo instead of the `/build` directory.

That is the directory that is served off of our CDN. Once you do the path:

`https://cdn.freecodecamp.org/platform/english/images/freeCodeCamp-404.svg `

should resolve as needed.

Thanks a lot.

[2019-01-21 10:55] emmawinston commented on #17386
To be clear - FCC doesn’t use p5.js, does it? Do you just mean that the bug is similar in terms of UX? I would also love to be able to use FCC with an external keyboard on iPad (I can confirm the p5 editor works great for me), and realise it’s a fairly niche issue. I might try at looking at this myself if nobody else is currently tackling it, but am absolutely novice-level with FCC’s entire tech s

[2019-01-21 11:49] raisedadead commented on #34834
The resources should be available in a short while. Thanks for contributing.

[2019-01-21 18:49] nagendrababu2 commented on #14510
var myVar = 87;

// Only change code below this line

myVar++;
 var myVar;

This works fine give a try

[2019-01-21 20:54] ldaws003 commented on #34911
Could you show me the code that you put on the challenge?

[2019-01-21 22:01] kthurman59 commented on #34911
const TypesOfFruit = () => {
return (
<div>
<h2>Fruits:</h2>
<ul>
<li>Apples</li>
<li>Blueberries</li>
<li>Strawberries</li>
<li>Bananas</li>
</ul>
</div>
);
};

const Fruits = () => {
return (
<div>
{ /* change code below this line */ }
<TypesOfFood />
<Fruits />
{ /* change code above this line */ }
</div>
);
};

class TypesOfFood extends React.Component {
constructor(props) {
super(props);
}

r

[2019-01-21 22:53] saranshkataria commented on #34911
const Fruits = () => {
return (
<div>
{ /* change code below this line */ }
<TypesOfFood />
<Fruits />
{ /* change code above this line */ }
</div>
);
};

You are calling <Fruits /> inside Fruits() making it a recursive nested call to itself which leads to the crash

[2019-01-21 23:31] ronaldcs commented on #34494
Hi, I think I can take this one on, if no one's working on it.

[2019-01-22 00:01] ldaws003 commented on #34911
saranshkataria is right. Having ```<Fruits />``` nested in ```Fruits()``` isn't required and will cause an infinite recursion leading to a crash. Removing it will make your code work without any problems. Maybe there should be callstack limitations in the future for react challenges like there is for javascript challenges?

[2019-01-22 02:19] kthurman59 commented on #34911
You are correct.  This was my bad entirely.  Everything worked.  Thank you!

On Mon, Jan 21, 2019, 6:03 PM Leon Dawson <notifications@github.com wrote:

[2019-01-22 04:20] ezioda004 commented on #34911
Thank you @saranshkataria and @ldaws003 for helping out.
Closing as its not an issue.

Happy contributing all!

[2019-01-22 04:20] #34911 closed

[2019-01-22 06:20] inikolaievskyi commented on #34494
[Interactive_component_in_md_files.patch.zip](https://github.com/freeCodeCamp/freeCodeCamp/files/2781498/Interactive_component_in_md_files.patch.zip)
@raisedadead Hi. Unfortunately, I still didn't find time to work much on this issue. I've added patch with a draft version of how to add any react component to MD files. So if @ronaldcs have time, it would be great if he gets this issue into progress

[2019-01-22 09:21] evertalbers opened #34924 "Basic Javascript"
I notice that one specific assignment, “Word Blanks”, comes too early - it uses a function before functions have been explained.  Link:
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/word-blanks

Anyway, I skipped this assignment, and am now about twice as far into the course - I think this is about the place where the assignment should go.

[2019-01-22 16:07] mrmivo opened #34926 "Missing video: "Applied Accessibility: Add an Accessible Date Picker""
The video for the [Applied Accessibility: Add an Accessible Date Picker](https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/add-an-accessible-date-picker/) lecture does not exist.

[2019-01-22 16:16] mrmivo opened #34927 "Incorrect video: "Basic CSS: Use Clockwise Notation to Specify the Margin of an Element""
"Watch video" for the [Basic CSS: Use Clockwise Notation to Specify the Margin of an Element lecture](https://learn.freecodecamp.org/responsive-web-design/basic-css/use-clockwise-notation-to-specify-the-margin-of-an-element/
) links to the video of the [previous lecture](https://learn.freecodecamp.org/responsive-web-design/basic-css/use-clockwise-notation-to-specify-the-padding-of-an-element/) ins

[2019-01-22 16:25] mrmivo opened #34928 "Suggestion for "Applied Visual Design: Change the Position of Overlapping Elements with the z-index Property""
Only a suggestion for the [Applied Visual Design: Change the Position of Overlapping Elements](https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/change-the-position-of-overlapping-elements-with-the-z-index-property/) with the z-index Property challenge:

It might be beneficial if the instructions mentioned that z-index requires the presence of the position property. It is

[2019-01-22 17:58] NicolasVsa opened #34930 "Using bracket notation breaks this."
[https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/updating-object-properties/](url)

using dot notation works just fine though.

[2019-01-22 18:23] ronaldcs commented on #34494
Thanks @inikolaievskyi - yea, I used the link you provided earlier and was able to implement that portion of the ticket; I was also able to get a version of the Bootcamp calculator working (d3 and react don't mix well, it seems). First time contributing so just wanted to see how far I could take this. Should have something out fairly soon.

[2019-01-22 19:45] Hahlh opened #34932 "Hex Code not allowed in "Applied Visual Design: Adjust the Hover State of an Anchor Tag"."
Good day, everybody!

Hopefully you have had a great day so far :)

I want to mention a possibility for improvement.

In the lesson ["Applied Visual Design: Adjust the Hover State of an Anchor Tag"](https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/adjust-the-hover-state-of-an-anchor-tag) the task is:

_The code editor has a CSS rule to style all `a` tags black. Add a rule

[2019-01-23 10:21] ojeytonwilliams commented on #34932
I see what you mean - the test checks if the solution contains 'a:hover {color: blue}', not if the link actually turns blue.  I'll see what I can do.

[2019-01-23 14:10] QuincyLarson commented on #34494
@ronaldcs Awesome! I'm looking forward to checking it out.

[2019-01-23 14:40] ProfessorSalty opened #34933 "Exercise Tracker API is not RESTful"
The exercise tracker's API, as described on the GitHub repo, is not RESTful. I'm happy to submit a fix for this myself, but I believe these microservice challenges use some automated tests, so I thought it would be best to track the issue here until we're in a good spot for breaking changes. If we only need to change the project's documentation and the example's endpoints then this will be easy.

[2019-01-23 14:53] thecodingaviator commented on #34930
The link is inaccessible. Try clicking on it and see where it redirects you

[2019-01-23 14:58] thecodingaviator commented on #34927
We can do 2 things to resolve this:
1. Make the challenge ask the user to do the same to padding
2. Make another video and add the link to that one

[2019-01-23 21:11] ezioda004 commented on #34930
Hi @NicolasVsa,

I've tested the above challenge and both bracket and dot notation works fine.
I'm closing this as I cant find any bugs on this but feel free to open it if the problem persists.

Happy coding!

[2019-01-23 21:11] #34930 closed

[2019-01-23 22:10] NicolasVsa commented on #34930
what do you mean it still doesnt work with bracket notation lol i just tested it

[2019-01-23 22:11] NicolasVsa commented on #34930
try this code // Example
var ourDog = {
  "name": "Camper",
  "legs": 4,
  "tails": 1,
  "friends": ["everything!"]
};

ourDog.name = "Happy Camper";

// Setup
var myDog = {
  "name": "Coder",
  "legs": 4,
  "tails": 1,
  "friends": ["freeCodeCamp Campers"]
};

// Only change code below this line.

myDog[name] = "Happy Coder"

[2019-01-24 04:45] ezioda004 commented on #34930
myDog[name] is incorrect. It should be myDog["name"].

Please use our forums if you need help with challenges.

[2019-01-24 11:19] QuincyLarson commented on #16445
@tomasvn No worries - any luck getting it to run locally?

[2019-01-24 11:31] #17602 closed

[2019-01-24 12:34] Mr-Henderson commented on #17379
Yes I UNDERSTAND most of this yet for the life of me I cannot understand why we truncate the decimal numbers or also current value % 1 === 0 so I have been looking at this problem for 1 hour at least... I do have strong math skills and understanding yet really modulus is just remainder yet what 1===0 so does this represent NAN I seem to be confused by word definitions relative to programming. I tr

[2019-01-24 13:18] QuincyLarson commented on #17220
RIP in peace, Gitter CamperBot.

[2019-01-24 13:20] QuincyLarson commented on #17267
@kanpeki I agree with @jonathan-grah - when a user clicks outside of the results, we should should just close the search bar dropdown and leave their current query string as is in there.

[2019-01-24 19:16] chaomt commented on #17488
I can work on this!

[2019-01-24 19:52] addv12345 commented on #19346
I completely agree with @RaspberryLime . I would like to contribute to this issue! I am planning on taking the input URL (doesn't matter whether the username is correctly capitalized or not) and if the username case doesn't match, then redirect it to the correct URL only if there is a matching username. However, if the username doesn't exist, then the current behaviour will stay in effect.

What d

[2019-01-25 03:44] neofito777 commented on #16953
Hey guys, it work for me when I use just to exclude the vowel ^aeiou

[2019-01-25 06:43] MesutOzil2807 commented on #10944
var myStr = "";
myStr += "This is the first sentence. This is the second sentence.";

It would also work.

[2019-01-25 13:45] RandellDawson commented on #34833
What versions of Mongo and Mongoose are you using for the challenge?

[2019-01-25 14:09] raisedadead commented on #18128
Related #34890

[2019-01-25 16:46] rupali317 commented on #34905
@ezioda004 @thecodingaviator I am able to setup my local dev environment now. So for this issue, I am thinking of having these 2 test cases:
**Test case 1:**  Instances should be created using **Object.create**.
     A regex will be done to see that Object.create(Animal.prototype) has been used
**Test case 2:**  Solve this challenge without using **new Animal()** way.
     A regex will be done to

[2019-01-25 17:08] paulywill opened #34957 "DOC: Style for challenges does not include any information about solution format."
As per the [sytle guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/style-guide-for-curriculum-challenges.md#writing-tests), there is not mention about placing the solution in proper markdown tags.

ie
[code]
The result renders differently on Github markdown pages altough the CI tests pass regardless.

[2019-01-25 17:12] spidyhackx commented on #16640
https://www.freecodecamp.org/forum/
is currently down.servers not working
![error](https://user-images.githubusercontent.com/40536205/51761183-4a13c800-20c4-11e9-9bc9-0c29f729faee.png)

[2019-01-25 20:50] ChiselD opened #34958 "A test case is missing from challenge "Intermediate Algorithm Scripting: Missing Letters""
**Describe your problem and how to reproduce it:**
The test cases for this algorithm don’t cover a certain scenario: What if the string passed to the function is a substring of the alphabet (i.e. less than 26 characters long) but includes all characters of that substring in order? For example:
`fearNotLetter("bcdef")`
At present, code passes the challenge even without taking account of this potent

[2019-01-25 20:55] clarkngo commented on #17976
I got the same scenario as @Ozymandias9000 . Only the fifth test is passing.

Browser Name: Chrome
Browser Version: Version 71.0.3578.98 (Official Build) (64-bit)
Operating System: MacOS Mojave Version 10.14.2

I tried completing the challenge in Firefox and it passed.
Similar users are having problems:
https://www.freecodecamp.org/forum/t/update-the-height-of-an-element-dynamically-data-visualiza

[2019-01-25 22:09] RandellDawson commented on #34958
In JavaScript, if a function does not explicitly return a value, it returns `undefined` by default, so your function would still return `undefined` if the test case of `fearNotLetter("bcdef")` were to be added (which is not necessary).

In fact, you do not even need the following code:
[code]
I am closing this a non-issue.  If you still believe there is a problem, please reply back to this issue a

[2019-01-25 22:09] #34958 closed

[2019-01-25 23:14] Sauletekis commented on #17356
Not sure if this is the right place to raise this, but it looks like this is happening again on *some* of the Algorithm Challenges (for example, Comparison with the Strict Equality Operator), but on others it is working as planned according to [fix(console): output user logs after running tests #296](https://github.com/freeCodeCamp/learn/pull/296).

I'm new to all this and don't really know how re

[2019-01-25 23:38] inh556 commented on #34924
Hi Evert,

This assignment is able to be solved without any function knowledge. Here what you need to do is to make up a sentence with the passed in parameters and assign it to result. Just give it a shot to see if you can solve it.

[2019-01-26 02:13] rupali317 commented on #34905
Ok there is already a PR on this, which works

[2019-01-26 09:44] rupali317 commented on #34909
I have opened a PR, which modifies the test case for checking if the variable is a local scope of the function. Did a regex test

[2019-01-26 10:05] cc189 opened #34960 "[Guide] Update tutorial - Debugging JavaScript with Browser Devtools"
FCC update code editor from `CodeMirror` to `Monaco Editor`, document need to be updated.

Edit by `@raisedadead`:

These files need to be updated:

https://github.com/freeCodeCamp/freeCodeCamp/blob/da0df12ab7b3bae46c2a376da246a6c499afd88b/guide/russian/javascript/tutorials/debugging-javascript-with-browser-devtools/index.md

[2019-01-26 12:09] #34635 closed

[2019-01-26 14:38] ahmadabdolsaheb opened #34962 "Issue: Bug Report: the items on the Sidenav of the guide disappear"
when multiple side nav items are expanded in the guide's side nav, some expanded items start to disappear.

![nav](https://user-images.githubusercontent.com/4591597/51788603-e3a8ab80-2190-11e9-8f38-efd8097371b1.gif)

[2019-01-26 15:20] rushic24 commented on #34904
is it fixed ? i would like to contribute ?

[2019-01-26 20:13] erictleung commented on #34904
@rushic24 there has been a pull request already submitted https://github.com/freeCodeCamp/freeCodeCamp/pull/34910. Thanks for your interest! Please take a look at the other issues. Happy coding!

[2019-01-26 21:08] Trime2x1 commented on #14784
Remember you have to edit the h2 first...
<h2 style="color: red">CatPhotoApp</h2>
This edited line will remain in your code.

The next step is to add the style block at the top of your code.
the style block will point to your h2

[2019-01-26 21:13] Dana94 commented on #34957
@paulywill Are you suggesting instructions in `style-guide-for-curriculum-challenges.md` for how to properly write the solution?

[2019-01-26 21:32] tripol commented on #14784
Did you close the `<style>` tag?

[2019-01-26 21:37] Trime2x1 commented on #14784
Yes...
<style> your code here </style>

[2019-01-26 22:51] Dana94 commented on #34627
This script block change fixed my problem running it locally. I look forward to having it merged into master. Thanks @Bouncey
I did not have any issues killing the process.

[2019-01-27 09:56] Hahlh opened #34966 "Wrong error in Applied Visual Design: Use the CSS Transform scale Property to Scale an Element on Hover"
Coding Challenge:
[Applied Visual Design: Use the CSS Transform scale Property to Scale an Element on Hover](https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/use-the-css-transform-scale-property-to-scale-an-element-on-hover)

Missing semicolon after
`transform: scale(1.1)`
leads to the error

_// running tests
The size of the div element should scale 1.1 times when the us

[2019-01-27 10:04] Hahlh commented on #34966
I just realized, that this should be the case with probably every Coding Challenge.

Would it be an option to include an error for missing semicolons on a more general level?
Should I open up a new issue in order to discuss this?

[2019-01-27 14:48] rupali317 opened #34967 "On completing a challenge, pressing "Ctrl + Enter" after downloading solution, downloads the solution again"
**Describe the bug**
After downloading the solution, pressing the shortcut (Ctrl +  Enter) should take us to the next challenge. However, it also downloads the solution.

**To Reproduce**
Steps to reproduce the behavior:
1. Complete a challenge
2. Click on "Run the Tests"
3. (Assuming you have passed the test cases), a modal window appears with 2 options - "Submit and go to next challenge(Ctrl + E

[2019-01-27 15:39] monmanuela commented on #34967
I could reproduce the bug, and I'd like to try to fix this. Could someone help point me in the right direction?

[2019-01-27 16:20] OlegSemko commented on #16705
try to use this in last field
<input value = {this.state.input} onChange = {this.handleChange.bind(this)}/>

[2019-01-27 16:21] OlegSemko commented on #16705
<input value = {this.state.input} onChange = {this.handleChange.bind(this)}/>

[2019-01-27 17:15] GiacomoLaw commented on #34904
Hello

[2019-01-27 17:51] ayushshah2120 opened #34968 "Heat Map Without Heat"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/shahayush

**Tell us about your browser and operating system:**
* Browser Name: Google Chrome
* Browser Version: 71.0.3578.98 (Official Build) (64-bit)
* Operating System: Windows 10 Pro N

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in

[2019-01-27 21:16] chaomt commented on #17488
I'm trying to find "Apis" in the code, looking at client/.cache/redux-state.json. I don't think "Apis" having "pis" lowercase is actually a typo, they use this capitalization quite a bit in just the one document.
Any thoughts @PlasmaIntec @raisedadead

[2019-01-27 21:35] chaomt commented on #34782
I can work on this!

[2019-01-27 21:48] Fordco commented on #34861
I also was unable to reproduce this issue.
![image](https://user-images.githubusercontent.com/21327614/51807278-013e4980-2253-11e9-9490-943ee9e55e28.png)
![image](https://user-images.githubusercontent.com/21327614/51807293-23d06280-2253-11e9-86e8-e91465f44cb9.png)

@T4JC  could you show us your solution for the blue box?

[2019-01-27 22:09] thesidbatra commented on #34960
Could you please add a link to the specific document? Thanks!

[2019-01-27 22:57] theREALaltoid commented on #34904
Close the issue?

[2019-01-27 23:07] theREALaltoid commented on #17304
Working on this!

[2019-01-28 00:40] RandellDawson opened #34969 "Simplify the non-English curriculum challenge markdown files"
Since the challenge tests are no longer relying on the assert message and using the yaml `text`, I was wondering if the non-English `.md` challenge files could be simplified to only contain translations and no code at all.  For example, the following is the English version of:

[code]

Maybe there is a way to write the tests runner logic to use a simplified markdown file like the following (Spanis

[2019-01-28 01:11] #34904 closed

[2019-01-28 03:06] PortableStick commented on #17548
Is this still true? Are there no automated tests for the API and microservices projects right now?

[2019-01-28 04:11] Vikas-KM commented on #17402
Forgive for being naive,
I read the article here [TypeChecking with PropTypes](https://reactjs.org/docs/typechecking-with-proptypes.html) and here [PropTypes](https://www.npmjs.com/package/prop-types) seems like PropType is not part of react core library and the import statement has changed.
This is how they are importing in the articles mentioned above.

[2019-01-28 04:20] ooade commented on #17402
Yeah, @Vikas-KM It changed. It's still being managed by the React Team tho.

[2019-01-28 04:46] Nitin96Bisht commented on #34730
I would like to work on this isssue. Please let me know the correct link.

[2019-01-28 04:56] Nitin96Bisht opened #34970 "Dead link on search results (Sorted Union)"
**Describe your problem and how to reproduce it:**
A link to specific guide leads to 404 page.

**Add a Link to the page with the problem:**
In the [Search Result Page](https://search.freecodecamp.org/?q=sorted%20union%22%0A). Linked page: Guide: [Sorted Union](https://guide.freecodecamp.org/certificates/sorted-union)

**Tell us about your browser and operating system:**
* Browser Name: Google Chr

[2019-01-28 08:44] imprevo commented on #17742
Same. Spent 10 minutes before I realized what was "wrong"

[2019-01-28 10:16] rupali317 commented on #34967
@monmanuela i was also thinking of working on this issue. Would you like to work on this together? I am new to this repository as well

[2019-01-28 12:02] #34285 closed

[2019-01-28 12:11] Bouncey opened #34975 "Adjust the guide UI"
The files concerning guide UI can be found in:
- `client/src/components/layouts/GuideLayout.js`
- `client/src/components/layouts/components/guide/SideNav.js`
- `client/src/templates/Guide/GuideArticle.js`

Issues to be resolve:

1. There is a gap between the navigation and the guide article that is too big.
1. Parent titles in the side navigation should also be green (`#006400`)

See screenshot be

[2019-01-28 12:15] Bouncey commented on #34627
@RandellDawson @cmccormack @scissorsneedfoodtoo, I cannot help any further on this as I do not have a windows machine.

Any input to further this issue would be much appreciated

[2019-01-28 13:43] monmanuela commented on #34967
@rupali317 sure! That'll be great.

[2019-01-28 13:57] AliNisarAhmed opened #34980 "Data Structures: Create a Queue class: Incorrect Implementation & test"
**Describe your problem and how to reproduce it:**
In the section "Coding Interview Prep", in "Data Structures" sub-section, Challenge # 4 - Create a Queue Class, the tests pass with the following code

[code]
The problem is, First-in First-Out can be implemented using either `Array.prototype.push` & `Array.prototype.shift` methods, OR `Array.prototype.pop` and `Array.prototype.unshift` methods.

[2019-01-28 14:07] #34980 closed

[2019-01-28 14:14] thecodingaviator commented on #34975
Working on the padding issue, will give the coloring a try too

[2019-01-28 14:33] dantehemerson commented on #34975
working in the padding

[2019-01-28 14:49] thecodingaviator commented on #34975
Both done, making a PR

[2019-01-28 14:55] QuincyLarson commented on #34887
@scissorsneedfoodtoo Yes - the navbar still looks slightly offset on my retina display when running locally:

<img width="1187" alt="welcome_to_learn_freecodecamp_" src="https://user-images.githubusercontent.com/985197/51844209-a63e4c80-234f-11e9-9676-6461dfa8db21.png">

The search field is way too wide, too, though that probably deserves a separate issue 😉

[2019-01-28 14:57] raisedadead opened #34984 "Donate page"
- [x] A new donate page (freecodecamp.org/donate) that allows users - both authenticated and unauthenticated - to sign up for donations directly instead needing to waiting for the modal to appear in the curriculum
- [x] Add other ways to donate

[2019-01-28 14:58] raisedadead opened #34985 "Simplify donation modal"
- [x] A simpler modal with only one tier - $5

[2019-01-28 15:37] thecodingaviator commented on #34861
@ezioda004 I think we can close this

[2019-01-28 16:12] Hahlh opened #34988 "Clicking on link in the code preview opens up the web page within the web page"
Clicking on link in the code preview (for example on "The Garfield Files") opens up web page with all three modules again (Coding Challenge, Code field, Code preview).

![the garfeld files](https://user-images.githubusercontent.com/45669613/51849040-885cf180-2327-11e9-913e-31b392166a98.png)

![garfield2](https://user-images.githubusercontent.com/45669613/51849058-927ef000-2327-11e9-850b-016d1cc912

[2019-01-28 16:24] QuincyLarson commented on #19346
@moT01 Thanks for pointing this out. Yes - I agree - we should fix this.

@addv12345 Yes - we would welcome your help with this!

We want for the database query to be case-insensitive. We also want to store the case-sensitive version of usernames for display both in the URL and on the profile itself. This is how GitHub, Twitter, and many other services operate.

Twitter example:
<img width="461" a

[2019-01-28 18:01] thecodingaviator commented on #34988
This is due to how the rendering engine for our curriculum works. If you try this on a stand alone webpage, it won't happen.

[2019-01-28 19:13] Hahlh commented on #34988
Thank you for the explanation @thecodingaviator.
May I ask, how I could open it on a stand alone web page?
Could we maybe improve the issue, by inserting a dead link instead of leaving it empty?

[2019-01-28 21:12] Egidijus-Ezerskis commented on #12410
var myStr = "FirstLine\n\t\SecondLine\n\ThirdLine"; // Change this

[2019-01-28 22:11] #17755 closed

[2019-01-29 00:35] tbushman opened #36876 "CORS / CORB error for data urls -- testable-projects"
Methods tried:
[code]
yields
<img width="1060" alt="screen shot 2019-01-28 at 5 31 06 pm" src="https://user-images.githubusercontent.com/7049294/51875511-85133700-2322-11e9-8bdd-8e32f8777d82.png">

[code]
yields
<img width="1059" alt="screen shot 2019-01-28 at 5 29 01 pm" src="https://user-images.githubusercontent.com/7049294/51875520-90fef900-2322-11e9-838b-0a2a22cb1a27.png">

I feel like I've so

[2019-01-29 09:05] SirRobLyon opened #34991 "Creating & Saving a Record with MongoDB"
**Describe your problem and how to reproduce it:**

Tests for this challenge fail, telling me that I'm 'missing the callback argument'.

The console reports:

GET
Missing `done()` argument

However, I've read on the forums that others have been having problematic issues with these challenges, and I've copied and pasted code that was reportedly successful in passing the tests.. I've tried several i

[2019-01-29 10:25] evertalbers commented on #34924
Thanks!
OK, I'll close this issue then. A factor that did not help is that I'm not familiar with the words for English grammar mentioned in in the assignment. (back in highschool my grades for English went up significantly when I stopped trying to understand the grammar and just used the sentences that felt best - don't tell your kids)

[2019-01-29 10:25] #34924 closed

[2019-01-29 11:07] BabarKhann opened #34993 "A bug or typo mistake"
![1](https://user-images.githubusercontent.com/15844043/51904109-a0904780-23df-11e9-9ac5-f89fd84bd69f.png)
![2](https://user-images.githubusercontent.com/15844043/51904123-aa19af80-23df-11e9-85f4-f1c9a1199307.jpg)

[2019-01-29 11:34] Hahlh opened #34994 "Quincy's Twitter profile picture not showing up"
[In this challenge](https://learn.freecodecamp.org/responsive-web-design/css-flexbox/add-flex-superpowers-to-the-tweet-embed/) the linked profile picture doesn't display.

On my Laptop it doesn't show any picture or any indication, that it is broken:
![screenshot from 2019-01-29 12-49-12](https://user-images.githubusercontent.com/45669613/51904529-864a6f80-23c7-11e9-8b02-2d802add1a6f.png)

I can r

[2019-01-29 12:14] thecodingaviator commented on #34988
When I say stand alone web page I mean the you copy the html part out from the FCC paste it in another new file on you PC and run.

What we can do is make a PR so that the href contains `"#"` and not `""`, that fixes it

[2019-01-29 12:20] thecodingaviator commented on #34994
The image shows up for me. The problem on your side is that either your country or your firewall or your ISP is blocking the image provider

[2019-01-29 13:35] Hahlh commented on #34994
@thecodingaviator Thank you for checking it!
Wouldn't those explanations normally mean, that I would not be able to see the image at all?
If I follow the link, the image gets displayed without any problems.

[2019-01-29 13:38] Hahlh commented on #34988
@thecodingaviator

That is a valuable piece of information, thank you!
I will create the PR immediately.

[2019-01-29 14:39] RandellDawson commented on #34993
It is always best if you post an actual link to the challenge also.

Thank you.

[2019-01-29 14:45] BabarKhann commented on #34993
Here is the URL.

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/returning-boolean-values-from-functions/

*Babar Khan*

On Tue, Jan 29, 2019 at 7:42 PM Randell Dawson <notifications@github.com>
wrote:

[2019-01-29 15:00] r3klaw commented on #18231
thanks got stuck there lol

[2019-01-29 16:59] jessica6m commented on #34994
I think you need to close the img tag <img /> but I'm not entirely sure it would help if you copy and paste the code below

[2019-01-29 17:01] RandellDawson commented on #34968
Can you please provide more information such as exactly what you are expect to see and why?

[2019-01-29 17:08] ayushshah2120 commented on #34968
The Heat Map with heat signatures which are supposed to show on the profile about the profile curriculum being completed day-wise is not being shown on the profile.

[2019-01-29 17:37] ojeytonwilliams commented on #34867
I tested out @thecodingaviator's second option on my machine and it does the trick.  It seems like the better option since it directly checks if the user has met the requirements.

I'd submit a PR, but it doesn't seem quite right as I only checked other people's work.

[2019-01-29 18:07] Wishnia commented on #34993
I would love to fix that issue, could I?

[2019-01-29 18:10] RandellDawson commented on #34993
@Wishnia Sure.  You will need to setup and test your changes locally.

[2019-01-29 18:14] RandellDawson commented on #34968
Can you tell us what days you are expecting to see on the map?  Which days?

[2019-01-29 18:17] BabarKhann commented on #34993
How to setup ?

[2019-01-29 18:21] RandellDawson commented on #34993
Start by taking a look at [these instructions](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md).  If you have further questions or run into any problems, check out our [Contributors' Channel on Gitter](https://gitter.im/FreeCodeCamp/Contributors). You can post your questions there and someone will get back with you.

[2019-01-29 18:37] coder077 commented on #18007
Can this be counted as an actual bug or is this acceptable? If this is a bug then I can possibly work on it.

[2019-01-29 18:47] coder077 commented on #17856
I can take a look at this!

[2019-01-29 18:52] aditijoshi14 commented on #34970
@Nitin96Bisht Do you happen to know the link for this guide or is this something we should be creating from scratch?

[2019-01-29 19:00] aditijoshi14 commented on #34743
@WillzMu Are you still facing this problem because on my end the code is working fine?

[2019-01-29 19:06] Wishnia commented on #34970
I would love to fix that issue, could I?

[2019-01-29 19:16] coder077 commented on #34236
@raisedadead is it something that we should be concerned? If yes then I can take a look at it!

[2019-01-29 19:19] coder077 commented on #18861
@chrisdel101  Are you still working on this too? I can take a look at it. Let me know!

[2019-01-29 19:34] chrisdel101 commented on #18861
@coder077 I'm not. I never heard back after I made that comment so I never started it.

[2019-01-29 19:56] aditijoshi14 commented on #17428
@JonDevOps Are you still facing this problem? If not, we could close this issue.

[2019-01-29 20:02] JonDevOps commented on #17428
No i am not. Let's close it

[2019-01-29 20:02] #17428 closed

[2019-01-29 20:09] WillzMu commented on #34743
Hi @aditijoshi14, yes. I still have the same issue.

Following the instructions, the last test doesnt pass
![image](https://user-images.githubusercontent.com/16624002/51937107-67bd9600-2412-11e9-9022-db25e6545cda.png)

If I put 'border: none' in the @else statement it passes
![image](https://user-images.githubusercontent.com/16624002/51937142-7f951a00-2412-11e9-8c4e-5575b86d7919.png)

[2019-01-29 20:12] 1337M0nst3r commented on #18861
Sorry for late reply, feel free to take over.

[2019-01-29 20:30] Hahlh commented on #34994
@jessica6m Hey Jessica!

Thank you for the response!

I didn't change anything about the Code Seed. The code is in its original form, that everybody gets, when opening the challenge for the first time.
I made sure, that that is the chase by resetting the code as well.

Closing the img tag didn't solve it.

I tested it now with an outdated version of Brave. Interestingly the image loads there.

I a

[2019-01-29 21:57] chrisdel101 commented on #18861
@coder077 I can do it but I won't get to it for a week or two so if you want to do it now let me know. That's cool. Otherwise I'll officially take this.

[2019-01-30 00:51] #34991 closed

[2019-01-30 04:33] Nitin96Bisht commented on #34970
@aditijoshi14 There must be an existing link definitely. However It may be incorrect or wrong link. You need to check and correct it.

[2019-01-30 04:35] Nitin96Bisht commented on #34970
@Wishnia Yes, go ahead.

Don't forget to read [contribution guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md) before fixing it.

[2019-01-30 05:56] thecodingaviator commented on #34994
Nope, not sure at all. Try right clicking on the image on the curriculum and inspect element to see if it is actually having the link to the image there

[2019-01-30 05:57] thecodingaviator commented on #34867
@ojeytonwilliams Please feel free to make a PR :)

[2019-01-30 06:16] ayushshah2120 commented on #34968
Take Jan 29th 2019,
It has 17 items done on that day, there is no heat on that day.
Similarly Jan 27th 2019 has 4 items done but no heat

[2019-01-30 08:08] Hahlh commented on #34994
Okay, this is some really weird behaviour. As I resume my session on the Linux laptop this morning, the image shows up in the tab I left open. After a reload of the challenge, the picture is gone again.

@thecodingaviator
I checked the console and it has the image link.
![couldnotload](https://user-images.githubusercontent.com/45669613/51967036-eea45a00-2476-11e9-8a0e-c7cf9ff0dbc5.png)

[2019-01-30 08:41] Hahlh commented on #34994
I did a fresh install of Linux 19.1 on a virtual machine to rule out, that the problem has anything to do with things that are not under my control.

The picture loaded without any problems.
![vm](https://user-images.githubusercontent.com/45669613/51968585-fa921b00-247a-11e9-99b2-677e69e8ee94.png)

This probably means, that this is caused by some customization I like to use.
Therefore I think, tha

[2019-01-30 09:49] Hahlh commented on #34994
Found it! :tada:

![screenshot from 2019-01-30 11-33-06](https://user-images.githubusercontent.com/45669613/51972404-f74f5d00-2483-11e9-8ab7-c46aed72d6d0.png)

That is certainly something interesting and may deserve another discussion.

I don't know how to handle this from now on and will leave it up to somebody else to decide whether to close this issue or not and / or open up a new one.

If ther

[2019-01-30 12:38] fadaile commented on #34924
OK

[2019-01-30 12:47] JanefrancessC commented on #18231
Thanks. I was stuck too

[2019-01-30 15:18] lasjorg commented on #34627
@Bouncey I have the same problem killing the process. However, if I run git bash as admin I can kill the process.

BTW. "npm run seed" failes for me with the script posted here https://github.com/freeCodeCamp/freeCodeCamp/issues/34627#issuecomment-452670750.

I'm on Win7 x64

[2019-01-30 16:15] NicolasVsa opened #35002 "unclear instructions or lack of explanatory content maybe?"
so im doing the javascript challenges and i noticed:

In this ES6 [challenge](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/write-higher-order-arrow-functions/) map(), filter(), and reduce() seem to come out of nowhere without an explanation on how they work or even how to use them and in the challenge itself you are expected to use them js this challenge maybe shoul

[2019-01-30 16:37] confusingbits opened #35003 "Issue with higher order arrow functions challenge"
**Describe your problem and how to reproduce it:**
The challenge series is about arrow function syntax, this particular challenge is using arrow functions in the context of the higher order built in array functions.

The problem is that filter (or map or reduce) have not been introduced yet, and won't be for some time until the functional javascript section. There is no reason to expect the studen

[2019-01-30 17:08] #34150 closed

[2019-01-30 17:09] paulywill commented on #34957
@Dana94 yes.

[2019-01-30 17:38] RandellDawson opened #35004 "<wbr> showing up in test results section"
**Describe your problem and how to reproduce it:**
It was reported in a [recent forum topic](https://www.freecodecamp.org/forum/t/spinal-tap-case-bug-in-test/255559) that the test text was mentioning something about `<wbr>` in the test results section (fake console) on the production site.  I did some searching throughout the `master` branch code and found three challenges (see below) which have s

[2019-01-30 17:39] tspeed90 commented on #34926
Two videos from that section are missing: "Add an Accessible Date Picker" and "Make Elements Only Visible to a Screen Reader by Using Custom CSS". It seems both videos are down on the Scrimba platform. In the [Scrimba playlist](https://scrimba.com/playlist/pJ5rC6), both videos seem to be missing. If this video has been uploaded elsewhere, we can replace the URL for now. Otherwise, those two videos

[2019-01-30 17:40] RandellDawson commented on #35004
@ValeraS What is the best way of resolving this issue?

[2019-01-30 17:44] ValeraS commented on #35004
@RandellDawson it is handled now https://github.com/freeCodeCamp/freeCodeCamp/blob/a4d9c68039e658299fdec8172c759f5d79308ec1/client/src/templates/Challenges/redux/execute-challenge-saga.js#L153

[2019-01-30 17:46] RandellDawson commented on #35004
@ValeraS So it has been resolved, but just not moved to production I assume.  Any ETA for when this will be moved to production?

[2019-01-30 17:48] RandellDawson commented on #35004
Should I add the `resolved \ shipping` label to this one?

[2019-01-30 17:49] RandellDawson commented on #35004
@ValeraS Perfect!

[2019-01-30 18:00] RandellDawson commented on #35004
@ValeraS Do the `<wbr>`s actually need to be in the tests still?  The code you showed seems kind of like a hack for 3 challenges?  Why are the `<wbr>` even in those tests?

[2019-01-30 18:06] tspeed90 commented on #34927
I think I can fix this. May I take this issue?

[2019-01-30 18:17] ValeraS commented on #35004
@RandellDawson They are in messages to break long words.

[2019-01-30 19:08] raisedadead commented on #34994
Closing as non codebase issue.

If its broken in incognito, chances are some human, us or you broke something. Otherwise it's usually a script, a setting or an extension on the browser.

[2019-01-30 19:08] #34994 closed

[2019-01-30 21:23] hvaandres commented on #18307
Hello guy,

I vote for yes, let’s do the change and I think will create a huge impact around of the world!

Please let me know if you have more question questions or concerns.

Andres Haro
Cell: (619) 534-3190
Hvaandres@icloud.com

[2019-01-30 21:50] Dana94 commented on #34957
@paulywill I could work on this. I've been meaning to try to contribute more to the docs.

[2019-01-30 22:48] icatat commented on #34968
Hi! I would be interested to work on this issue, but I would first like to clarify it. Did those challenges never show up on the heat map? Or it was a delay?

[2019-01-31 01:52] MarkTriesCoding commented on #17744
I'm actually experiencing this issue.

`      test('submit "surname" : "Vespucci" - write your e2e test...', function(done) {
        browser
          .fill('surname', 'Vespucci')
          .pushButton('submit', function(){
              browser.assert.success();
              browser.assert.text('span#name', 'Amerigo');
              browser.assert.text('span#surname', 'Vespucci');

[2019-01-31 06:00] thecodingaviator commented on #34927
Please feel free to @tspeed90

[2019-01-31 09:00] co16353sidak commented on #34909
Hopefully this fixes the issue. @rupali317
Even though I think it was already throwing an error if we declare a global variable (by not using var keyword)
But the bug came when we used the var keyword.

[2019-01-31 09:04] #34889 closed

[2019-01-31 09:28] Bouncey opened #35008 "Add rollbar to the client app"

[2019-01-31 10:54] daorren commented on #18310
working on /docs/chinese/how-to-setup-freecodecamp-locally.md

[2019-01-31 13:37] ayushshah2120 commented on #34968
The Challenges Never Showed Up on heat map, Not Even One.
Even The ones I Completed Recently aren't showing up on Heat Map.

[2019-01-31 14:41] Nuthi-Sriram opened #35011 "Not detecting colour in code"
**Describe your problem and how to reproduce it:**

1. Attempt CSS challenge "Change the Color of Text"

2. `<h2 style="color: red;">CatPhotoApp</h2>`

3. Colour changes, but the test doesn't detect it.

**Add a Link to the page with the problem:**

[Basic CSS: Change the Color of Text](https://learn.freecodecamp.org/responsive-web-design/basic-css/change-the-color-of-text)

**Tell us about your b

[2019-01-31 15:00] Nuthi-Sriram opened #35012 "Not detecting colour in code"
**Describe your problem and how to reproduce it:**
1.Attempt CSS challenge "Change the Color of Text"
2. ``<style>
    h2{color:blue;}
    </style>
``
3.Colour changes, but the test doesn't detect it

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/responsive-web-design/basic-css/use-css-selectors-to-style-elements

**Tell us about your browser and operating system:**
*

[2019-01-31 15:07] rupali317 commented on #35012
If you are talking about the console which shows the text "your test output will go here", then that is the expected behavior.

[2019-01-31 15:39] Bouncey commented on #35008
Resolved in a previous commit (News integration)

[2019-01-31 15:39] #35008 closed

[2019-01-31 17:00] tspeed90 commented on #34927
@thecodingaviator Awesome! I've made a PR. Thanks!

[2019-01-31 17:02] raisedadead commented on #35011
Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/35012

[2019-01-31 17:03] raisedadead commented on #35011
Sorry my bad. The other issue is different. The issue title threw me off

[2019-01-31 17:07] raisedadead commented on #35012
The challenge does ask to create your style block at the top. However, I can imagine the instructions can be improved a bit to make it clear why the styles "cascade".

I am not sure if we do so already in a different challenge.

In any case, @Nuthi-Sriram did you happen to reach out to the [Forum](https://forum.freecodecamp.com) to get advice?

[2019-01-31 17:11] raisedadead commented on #35011
Could not reproduce.

Can you share the entire editor code in here? You can format them with:

` ``` `
`<Your code here>`
` ``` `

Thanks.

[2019-01-31 17:57] RandellDawson commented on #17966
This has recently been discussed in the Gitter channel and was told to post the console results for Edge for the first challenge.

The very first challenge has never worked (from what I can remember since at least December 2016) with a passing solution using Edge or Internet Explorer 11. Those two browsers will not pass many of the HTML section's challenges. For over 2 years, the FCC forum and Git

[2019-01-31 18:14] raisedadead commented on #17966
Can someone with access to a Windows 10 and latest Edge browser take a dig at this?

/cc @freeCodeCamp/dev-team

[2019-01-31 18:16] raisedadead commented on #17966
If conclusive results are found that we are unable to have a majority of the platform unusable on Edge, we would want to warn users with a modal or something as soon as we have it detected programmatically.

[2019-01-31 18:20] RandellDawson commented on #17966
It appears to be only on the HTML and CSS (SASS) related challenges.

[2019-01-31 18:21] RandellDawson commented on #17966
I wonder how many users have visited FCC for the first time and could not figure out what was wrong and just left.

[2019-01-31 18:38] icatat commented on #34968
I would like to work on this. Could you assign this issue to me?

[2019-01-31 18:39] aditijoshi14 commented on #18007
I feel like it is a bug and should be fixed. What do you guys think about it? @davinderpalrehal @raisedadead

[2019-01-31 18:48] RandellDawson commented on #34968
This appears to be a duplicate of issue https://github.com/freeCodeCamp/freeCodeCamp/issues/17822.  I am closing this one.  Please use the existing issue to report your findings.

[2019-01-31 18:48] #34968 closed

[2019-01-31 18:52] coder077 commented on #18861
@chrisdel101 Yes, I'll work on this. Thanks!

[2019-01-31 18:52] raisedadead commented on #18007
Hi @aditijoshi14 !

Yes, I could reproduce this with:

[code]

Let's get this tested locally, and confirm if the bug exists on the current `master` branch which is to be released in the upcoming weeks.

If it does, sure we need to update the tests to check this use case.

[2019-01-31 18:54] aditijoshi14 commented on #34743
@WillzMu I believe the instruction is little misleading. It should have been 'no border - none' instead of 'none - border' as border doesn't doesn't have a property called "no border" but does have a property called "none". I could change the description of it to reduce confusion.

[2019-01-31 19:07] JonDevOps opened #35015 "Users can use the same project link on all challenges and claim the cert, in regards to responsive design cert"
**Describe your problem and how to reproduce it:**

Users can use the same project on all challenges and claim the cert, in regards to responsive design cert.
**Add a Link to the page with the problem:**
All responsive design projects.

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and

[2019-01-31 19:13] AliNisarAhmed opened #35016 "Data Structures: Create a Queue class: Incorrect Implementation & test"
**Describe your problem and how to reproduce it:**

**Note: Previous Issue [#34980](https://github.com/freeCodeCamp/freeCodeCamp/issues/34980) was closed erroneously**

In the section "Coding Interview Prep", in "Data Structures" sub-section, Challenge # 4 - Create a Queue Class, the tests pass with the following code

[code]

The problem is, First-in First-Out can be implemented using either `Arr

[2019-01-31 19:19] raisedadead commented on #35015
fCC uses an honor based academic honesty policy. The user profile has to be public, for certs to be visible.

This can hence be verified and reported back for dishonest work. We take such reports very seriously and  ban the profiles, and the certs.

Now coming to the specific use case of same URLs being used to abuse the system should be fixed. Thanks for the report.

[2019-01-31 19:19] icatat commented on #17822
Is anyone working on this issue? I would like to try to tackle it

[2019-01-31 19:30] icatat commented on #22031
Is this related to issue #17822 ?

[2019-01-31 19:41] WillzMu commented on #34743
yes, it has clarified my issue. Thank you for your help.

[2019-01-31 20:05] RandellDawson commented on #35003
This appears to be a duplicate of issue https://github.com/freeCodeCamp/freeCodeCamp/issues/14903.  Please refer to the issue and make any additional comments/suggestions there.

Thank you.

[2019-01-31 20:05] #35003 closed

[2019-01-31 20:06] RandellDawson commented on #35002
This appears to be a duplicate of issue https://github.com/freeCodeCamp/freeCodeCamp/issues/14903.  Please refer to the issue and make any additional comments/suggestions there.

Thank you.

[2019-01-31 20:06] #35002 closed

[2019-01-31 20:35] RandellDawson commented on #18896
@arnas After reviewing this issue again and looking at what the intent of the challenge is, I think it would be best to have the user write the extra `else if` or `else` as the lesson is about `else if`.  I do think the challenge instructions could be modified slightly to something like:

Doing the above makes it clearer what the expectation of the challenge is and does not involve modifying exist

[2019-01-31 20:35] #18896 closed

[2019-01-31 20:55] #13774 closed

[2019-01-31 21:48] RandellDawson commented on #16044
This was an old one that needed to be resolved.  Hopefully, my PR will be validated and merged.

[2019-01-31 22:10] RandellDawson commented on #16348
@raisedadead, @mstellaluna Is this still an issue?

[2019-01-31 22:41] RandellDawson commented on #17332
This does not appear to be an issue any more, because following the current challenge instructions and clicking on the link takes the focus to the bottom of the preview section.

I am closing this for now.  If you are still experiencing trouble, please post all of your editor code here as a reply.  Please use three backticks on the lines before and after any code you post, so that it formats prope

[2019-01-31 22:41] #17332 closed

[2019-02-01 01:35] marquise1345 commented on #14144
I tried both of those and none of them worked

[2019-02-01 05:13] RandellDawson commented on #17406
@kevcomedia I concur with @bannon-tanner regarding the intent of the challenge.  The user is supposed to nest the existing anchor element in a new p element.   Hopefully, the change from `your` to `the` should make things clearer.  Once we merge @bannon-tanner's PR, we will close this issue.

[2019-02-01 06:30] co16353sidak opened #35022 "Use the Spread Operator to Evaluate Arrays In-Place: Proper solution not given"
**Describe your problem and how to reproduce it:**

Going through the problem, after being quickly introduced to the spread operator, it becomes kind of difficult to understand how to use it to copy an array into another.
**In the guide it could be useful to understand how the spread operator works in various ways instead of just using the math functions.**
I could open a pull request to modify th

[2019-02-01 06:36] thecodingaviator commented on #17966
I’ll check it once on edge today. If we add a modal, we also need to make sure that it is added such that when edge moves to chromium, we can remove it

[2019-02-01 09:58] RandellDawson commented on #35022
Did you have a look at the video shown in the Guide?  It goes into greater details there.

[2019-02-01 10:00] RandellDawson commented on #14144
@marquise1345 I suggest using the `Ask for Help` button located on the challenge, which will create a forum topic with your specific code, so that someone can help you with your code.

[2019-02-01 10:16] co16353sidak commented on #35022
Yes, but the format of this solution/hint should follow the format of other hints: firstly, containing a few hints and after that the final solution of the problem.

for example:-
<img width="730" alt="screenshot 2019-02-01 at 3 44 15 pm" src="https://user-images.githubusercontent.com/35738138/52116932-74bbce80-2638-11e9-9bdd-fac2cb3a3eae.png">

[2019-02-01 10:21] RandellDawson commented on #35022
You are more than welcome to add some hints if you like.  The hint/solution format you see in some of these older changes is not being used on new challenges, so it has not been a priority to make such changes.

[2019-02-01 10:32] JonDevOps commented on #35015
I just reported this because i saw my buddy do it..

[2019-02-01 10:55] raisedadead commented on #35015
Thanks @JonDevOps please ask them to remedy it to prevent getting flagged. Also, you can report such cases to `team@freecodecamp.org`

[2019-02-01 14:21] Nirajn2311 opened #35028 "Navbar buttons in local are not properly highlighted"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
In thelocal setup of fcc, the navbar buttons for curriculum, forum and news have a small white dash popping out of the white box.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '.

[2019-02-01 14:58] thecodingaviator commented on #17966
![image](https://user-images.githubusercontent.com/34807532/52130331-df343500-265f-11e9-8d48-8012c7041f4d.png)
Yeah, the problem is still there. My Windows and Edge are both up to date.

[2019-02-01 15:17] raisedadead commented on #17966
Thanks everyone. Ok now that we know the issue is still current. Can we have some investigation into this? Let's keep the thread for potential solution.

[2019-02-01 15:19] Ronkiro opened #35029 "Create challenges for Projects"
**PROBLEM:** As reported on Issue #34763, one can pass under a Project challenge without having to do any real test.

**PURPOSE:** As a way to solve this, i think that creating basic questions and/or challenges that can acknowledge that you did it would be nice. It's just a step more to get the exercise completed, and can also help making one learn/consolidating what he learnt.

[2019-02-01 15:22] Ronkiro commented on #34763
Not sure how anyone would track this. It's not really a security concern, but it's hard to make checks for all sites that can host code online.

I was also thinking on that, it's no problem anyone faking those tests, as they can also copy from other replies, and the real objective is learning, not the certificates.

So i submitted an Issue (#35029) that can help one to learn and "solve" this.
I cr

[2019-02-01 15:30] Ronkiro commented on #35015
Dupe of #34763

It's a problem of all challenges there, not only the Responsive Design ones.

I also posted a solution there, that may help to not really solve, but to fix and add steps to help one's learning.

[2019-02-01 15:45] aditijoshi14 commented on #18007
@raisedadead I will do that and work on it.

[2019-02-01 15:59] Bam92 commented on #34763
You're right, it is not a security issue.

What I propose is to run the same test as in the challenge page in the solution page.

[2019-02-01 17:18] mmeyers00 opened #35030 "Issue: docker-compose error for freecodecamp service"
**Describe the bug**
`docker-compose` not working for the web app

**To Reproduce**
Run `docker-compose run --rm freecodecamp npm run only-once`

**Expected behavior**
Container to be created for **freecodecamp_freecodecamp_1**

**Screenshots**
![freecodecamp_error](https://user-images.githubusercontent.com/2049932/52138361-f0a71e00-261a-11e9-916c-e8760e16cd77.png)

[2019-02-01 18:02] Ronkiro commented on #34763
The problem is: as the ideas come from your mind, the ways to complete the challenge are infinite. I think there is no way to implement a solution like that, and keep making people thinking out of the box, doing things from zero. Except the suggestion i made to solve it.

[2019-02-01 19:06] aditijoshi14 commented on #18007
@raisedadead Thank you for the response. I was able to reproduce this bug locally. Would you like me to work on it?

[2019-02-01 19:55] raisedadead commented on #18007
Sure thing. All yours! Happy contributing!

[2019-02-01 19:59] raisedadead commented on #34763
Thanks @Bam92 @Ronkiro

I am going to close this in favor of #35015, which has gotten more eyes on it now, even though this one was reported earlier. Let's continue the discussion there.

[2019-02-01 19:59] #34763 closed

[2019-02-01 20:00] raisedadead commented on #35029
@Ronkiro Thanks. Let's continue this on #35015. The less fragmented the conversation, the better

[2019-02-01 20:00] #35029 closed

[2019-02-01 20:01] raisedadead commented on #35015
Quoting @Ronkiro 's proposal from another thread here:

[2019-02-01 20:03] raisedadead commented on #35015
Requesting feedback from @freeCodeCamp/moderators

[2019-02-01 20:04] ahmadabdolsaheb commented on #35028
could not reproduce :(
<img width="436" alt="screen shot 2019-02-01 at 11 03 27 pm" src="https://user-images.githubusercontent.com/4591597/52146706-a010de80-2675-11e9-8923-ecf973191f53.png">

[2019-02-01 20:05] raisedadead commented on #35030
The docker setup is outdated with the recent changes towards making the repo a mono repo. Pull request welcome.

[2019-02-01 20:17] lynxlynxlynx commented on #35015
How about checking the URLs are unique when claiming the cert?

[2019-02-01 20:39] fabiotp91 commented on #35015
I think the fair solution would be to make moderators check projects, but that would be insanely time consuming and people could still cheat by copying projects from other people.

Checking the url's vs others that have been used before would be a good way to keep basic cheating away, of course there's always a way to cheat, but I think we should always keep FCC as open as possible without making

[2019-02-01 20:46] co16353sidak commented on #35015
Exactly, Efforts shouldn't be on trying to prevent cheating, but more on the emphasis on how it is detrimental to the person doing it.
The effort should be to make it easier to learn and to aid someone looking to actually learn something as much as possible instead of looking to prevent cheaters.

[2019-02-01 23:49] Fordco commented on #34725
I agree with you. I replicated this issue and the last test case fails when it should pass. I can work on fixing this.

[2019-02-02 01:01] tbushman commented on #35015
We are nearing the means to test the submitted projects thanks to the recent update from @ValeraS at freeCodeCamp/testable-projects-fcc . @raisedadead The gulpfile has the capability of pre-compiling jsx, sass, etc. We could bring that over to the main repo to build student html / css/ js and then link to the bundle.js for tests.

[2019-02-02 05:20] ayushshah2120 commented on #17822
I have no heat on the heat map.
And I Started From June 16th 2018.
My Recent Was On 30th January 2019 but no heat on entire Heat Map.

![image](https://user-images.githubusercontent.com/40225091/52160254-ec8d0600-26d7-11e9-9eac-07fd3c779ffc.png)

[2019-02-02 07:50] raisedadead commented on #35015
Hi, @tbushman

I think that may not be of help. The testable projects tests are for testing codepen projects, that we recommend. But we do not mandate (by design) that codepen projects be necessary for the certification itself.

I think all we need here is an interactive way of confirming for genuine submissions like @Ronkiro proposed. And also URLs are unique for projects, which is a deterrent to

[2019-02-02 08:28] co16353sidak opened #35036 "Guide ES6: Use class Syntax to Define a Constructor Function, duplicate wrong solution given"
**Describe your problem and how to reproduce it:**

Basically, there seems to be a wrong duplication in the guide and the latter one seems to suggest a solution which won't work.
The first one works fine and the last one should be deleted to avoid confusion and problems.

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-struc