[2016-04-29 02:20] BrianZ1 commented on #8340
Hey, do you mind if I take this issue then? This is my first time contributing and I would love to go through the process using an easier issue.

[2016-04-29 02:21] dlwebdev commented on #8340
Go for it dude!

[2016-04-29 02:33] stomperstomp commented on #8343
@erictleung

Yes, that functionality works fine. I know what it's supposed to do. The issue is, that I have completed tasks in the Basic Scripting Challenges, but can't view the solutions. The solutions that are accessible and linked, end at the task "Get Set for our Algorithm Challenges," nothing beyond it.

[2016-04-29 02:40] rudolfpablico opened #8344 "Console log hangs when i run the test"
Challenge [Title Case a Sentence](https://www.freecodecamp.com/challenges/title-case-a-sentence#?solution=function%20titleCase(str)%20%7B%0A%20%20var%20strarray%20%3D%20%5B%5D%3B%0A%20%20var%20strupper%20%3D%20%5B%5D%3B%0A%20%20var%20strlower%20%3D%20str.toLowerCase()%3B%20%2F%2F%20make%20str%20all%20lowercase%0A%20%20strarray%20%3D%20strlower.split(%22%20%22)%3B%20%2F%2F%20split%20str%20into%20an

[2016-04-29 03:31] erictleung commented on #8344
@rudolfpablico there is an error in your code that is throwing an undefined error. Check to make sure you're using calling every method correctly. If you're still stuck with the challenge, please ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-04-29 03:31] #8344 closed

[2016-04-29 03:37] #8309 closed

[2016-04-29 04:00] alistermada commented on #7541
@Jago-Kosolosky It may be getting 'Hikes' from `FreeCodeCamp/common/app/routes/Hikes/components/Hikes.jsx` in line 50: `updateTitle('Hikes');`.

All I know is that unlike the other challenges, the video challenges are loaded with React.

[2016-04-29 04:08] alistermada commented on #8343
@stomperstomp The algorithms are in their own table above the rest of the challenges. I'm looking at your profile and I see that your latest completed algorithm is Slasher Flick. Is that correct?

[2016-04-29 04:27] aniketchitodkar opened #8346 "issue"
Challenge [Prioritize One Style Over Another](https://www.freecodecamp.com/challenges/prioritize-one-style-over-another#?solution=%3Cstyle%3E%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20black%3B%0A%20%20%20%20font-family%3A%20Monospace%3B%0A%20%20%20color%3Agreen%3B%0A%20%20%7D%0A%20%20pink-text%20%7B%0A%20%20%20%20color%3A%20pink%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%3Ch1%20class%3D%22pin

[2016-04-29 04:35] erictleung commented on #8346
@aniketchitodkar there is actually an error within your `<style>` element. If you are still stuck with the challenge, please ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-04-29 04:35] #8346 closed

[2016-04-29 06:43] Rafase282 commented on #8317
@QuincyLarson I created the README page by taking bits from the Wiki's home page and Wiki's central article for contributing and learning about the wiki itself.

It can probably be expanded but there is no much science in forking and cloning. Maybe add code snippes with actual urls, the thing is depending how you clone, you get a remote with the original one or not. Adding the remote one and learn

[2016-04-29 07:32] kaungkhant620 commented on #7976
@phamvien DO U FORGET FULLSTOP(.)......CHECK OUT...

[2016-04-29 08:34] dermeck opened #8348 "Nest Many Elements within a Single Div Element passes with wrong solution"
#### Challenge Name
Nest Many Elements within a Single Div Element

[see solution](https://www.freecodecamp.com/challenges/nest-many-elements-within-a-single-div-element#?solution=%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0

[2016-04-29 08:43] Atomk commented on #8340
@BrianZ1 @BrianZ1 Keep in mind the message is shown both in the Tribut challenge and the Portfolio challenge, I don't know if it is shown in other front-end challenges as well.

[2016-04-29 09:46] theflametrooper commented on #7541
Let me try and figure this one out..

[2016-04-29 09:50] theflametrooper commented on #8337
@erictleung Possibly, if we create a challenge just explaining how animate.css works and some links to learning it. I don't think it's really worth creating a whole set of challenges on them.

[2016-04-29 10:09] theflametrooper opened #8349 "Map and Chat Sidebars don't appear on Hikes"
**Normal Challenges:**

![](https://i.gyazo.com/ede57b62ba2b2c03ab39073417e8a3e6.gif)

**Hikes:**

![](https://i.gyazo.com/988ae95e7e447264f230cbb0fe862fcb.gif)

[2016-04-29 10:48] varadha85 opened #8350 "In the freecodecamp challenge Map Ordered list everything is fine but the bug says"ol element has a closing tag" the closing tag is also specified , how can i fix it"
Challenge [Create an Ordered List](https://www.freecodecamp.com/challenges/create-an-ordered-list) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-04-29 11:07] YasinYA commented on #8350
the problem is you miss type the <ol> tag you wrote it  this way <Ol> make sure you write it correctly (all lowercase)

[2016-04-29 12:11] theframeON commented on #8337
@theflametrooper Yep. That's what i'm talking about.

[2016-04-29 12:19] andrpueb commented on #8183
Just need to be careful with the spaces before and after the escape quotes, there is a mistake in how the result should be, there is a repeated doble quote that shouldn't be there.

[2016-04-29 12:23] alistermada commented on #8349
This was mentioned in #6910.

[2016-04-29 12:50] theflametrooper commented on #8349
Thanks @alistermada, closing as duplicate.

[2016-04-29 12:50] #8349 closed

[2016-04-29 12:52] theflametrooper commented on #8350
Thanks @YasinYA. @varadha85 Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room in future for getting challenge related help. Happy Coding!

[2016-04-29 12:52] #8350 closed

[2016-04-29 13:04] theflametrooper commented on #6910
**Normal Challenges:**

![](https://i.gyazo.com/ede57b62ba2b2c03ab39073417e8a3e6.gif)

**Hikes:**

![](https://i.gyazo.com/988ae95e7e447264f230cbb0fe862fcb.gif)

[2016-04-29 13:26] Jago-Kosolosky commented on #4111
I would suggest closing this issue as it is now still open and confirmed as easy so it might attract future first time contributors only to be disappointed.

[2016-04-29 18:26] Pellicove opened #8352 "Goals completed, showing syntax error"
Shopping List Challenge
https://www.freecodecamp.com/challenges/shopping-list#?solution=var%20myList%20%3D%20[[%22cigarette%20cartons%22%2C%201]%2C%20[%22ramen%20noodles%22%2C%20328]%2C%20[%22mystic%20literature%22%2C%20090]%2C%20[%22coffee%22%2C%203]%2C%20[%22cans%20of%20tuna%22%2C%208]]%3B%0A%0A%0A

I've completed the goals. Challenge registers:
SyntaxError: octal literals and octal escape seque

[2016-04-29 18:33] theflametrooper commented on #8352
@Pellicove This appears to be an issue for me on firefox also! Not appearing on chrome or internet explorer though.

[2016-04-29 18:40] Pellicove commented on #8352
What do you suggest I do?

[2016-04-29 18:45] theflametrooper commented on #8352
@Pellicove We're currently trying to resolve this problem.
For now you can just change the number in `["mystic literature", 090]`.

[2016-04-29 18:46] Pellicove commented on #8352
Thank you.

[2016-04-29 19:51] azeemkhanreal opened #8354 "Problem in nest-an-anchor-element-within-a-paragraph"
#### Challenge Name
nest-an-anchor-element-within-a-paragraph

#### Issue Description
Challenge complete but after click run test show problem that ""Your p element should have the text "View more " (with a space after it)."""

#### Browser Information
Google Chrome
Version 50.0.2661.94 m
* Operating System: Windows 8
Desktop

#### Your Code
[code]

#### Screenshot
![screenshot 26](https://cloud.g

[2016-04-29 19:58] theflametrooper commented on #8354
You have a duplicate of `<a href="http://www.freecatphotoapp.com">cat photos</a>` in your code.
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help in future. Happy Coding!

[2016-04-29 19:58] #8354 closed

[2016-04-29 20:23] Saymon85 opened #8355 "This is not bug just something I noticed"
Challenge [Confirm the Ending](https://www.freecodecamp.com/challenges/confirm-the-ending#?solution=function%20confirmEnding(str%2C%20target)%20%7B%0A%20%20%2F%2F%20%22Never%20give%20up%20and%20good%20luck%20will%20find%20you.%22%0A%20%20%2F%2F%20--%20Falcor%0A%20%20%0A%20%20%2F%2Freturn%20str.endsWith(target)%3B%20-%20more%20elegant%20way%0A%20%20%2F*%0A%20%20if(str.endsWith(target))%7B%0A%20%20%

[2016-04-29 20:32] erictleung commented on #8355
@Saymon85 thanks for your consideration. There's already been a discussion here #4764. Closing as duplicate. Happy coding!

[2016-04-29 20:32] #8355 closed

[2016-04-29 22:06] spencer1573 commented on #8341
totally didn't see that! oops!

[2016-04-29 22:58] isaacionescu opened #8358 "Error accepting my code and continuing in spite of it being correct"
Challenge [Prioritize One Style Over Another](https://www.freecodecamp.com/challenges/prioritize-one-style-over-another) has an issue.
**The h1 is changed to pink, all code is fine, but the first two requirements are interpreted as not being completede and the proceed button just doesn't work. Don't know if local issue or the site is down. Restarted chrome, tried incognito, tried it in Firefox - s

[2016-04-29 23:11] theflametrooper commented on #8358
You have a typo in your class name. Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help in future. Happy Coding!

[2016-04-29 23:11] #8358 closed

[2016-04-29 23:14] isaacionescu commented on #8358
oh god im fucking autistic. sorry, its late @ night. gonna delete this.

[2016-04-30 01:35] sludge256 opened #8360 "Update solution to allow for space(s) after document"
Challenge [Learn how Script Tags and Document Ready Work](https://www.freecodecamp.com/challenges/learn-how-script-tags-and-document-ready-work#?solution=fccss%0A%24(document%20).ready(function()%20%7B%0A%7D)%3B%0Afcces%0A%3C!--%20Only%20change%20code%20above%20this%20line.%20--%3E%0A%0A%3Cdiv%20class%3D%22container-fluid%22%3E%0A%20%20%3Ch3%20class%3D%22text-primary%20text-center%22%3EjQuery%20Pl

[2016-04-30 04:30] carloselhalabi opened #8363 "Incorrect facts in the description of Challenge: Fill in the Blank with Placeholder Text"
#### HTML5 and CSS: Fill in the Blank with Placeholder Text
[On the wiki](https://www.freecodecamp.com/challenges/fill-in-the-blank-with-placeholder-text).

#### Issue Description

The Challenge's Description says the following about why Placeholder text is called "Lorem Ipsum Text":

This is inaccurate, as it is [widely known](https://en.wikipedia.org/wiki/Lorem_ipsum) that *lorem ipsum* is a see

[2016-04-30 05:51] augmt commented on #8216
One solution could be to [wrap the NavbarBrand and Navbar.Toggle](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/9a8bc9b80e122707b72900a55ccf53cb5c7c12f0/common/app/components/Nav/Nav.jsx#L112-L113) in a Navbar.Header, though that would throw off the navbar's margins and would require some messing around with the styling.

Or a Clearfix could be added right after the Navbar.Toggle for small and

[2016-04-30 07:25] machhi08 commented on #6885
hello

[2016-04-30 07:28] machhi08 commented on #6885
Challenge Use CSS Selectors to Style Elements has an issue.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My Code:

<style>
  h2 {color: red;} CatPhotoApp
</style>

<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

Thanks

[2016-04-30 07:38] theflametrooper commented on #6885
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-04-30 09:00] licontre opened #8365 "I thik all the parameter that areinputs in the fuctions arent arrays"
Challenge [Seek and Destroy](https://www.freecodecamp.com/challenges/seek-and-destroy#?solution=function%20destroyer(arr)%20%7B%0A%20%20%2F%2F%20Remove%20all%20the%20values%0Avar%20n%3D%5B%5D%3B%0A%20%20var%20pos%3D0%3B%0A%20%20var%20j%3D1%3B%0A%20%20var%20put%3Dtrue%3B%0A%20%20%0A%20%20for(var%20i%3D0%3Bi%3Carr%5B0%5D.length%3Bi%2B%2B)%7B%0A%20%20%20%20while(j%3Carr.length%20%26%26%20put%3D%3D%3D

[2016-04-30 09:01] licontre opened #8366 "when the value is null, the boolean dont work"
Challenge [Falsy Bouncer](https://www.freecodecamp.com/challenges/falsy-bouncer#?solution=function%20bouncer(arr)%20%7B%0A%20%20%2F%2F%20Don't%20show%20a%20false%20ID%20to%20this%20bouncer.%0A%20var%20o%20%3D%20%20Boolean%5B5%5D%20%3D%5Bfalse%2C%20null%2C0%2C%22%22%2Cundefined%2CNaN%5D%3B%0A%20%20%0A%20%20var%20pos%3D0%3B%0A%20%20var%20narr%3D%5B%5D%3B%20%20%0A%20%20var%20i%3D0%3B%0A%20%20var%20ok

[2016-04-30 09:08] theflametrooper commented on #8366
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-04-30 09:08] theflametrooper commented on #8365
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-04-30 13:16] redcinelli commented on #8259
Hi peeps. Same issue. My output is right but it seems I can't validate the challenge. None of the test pass, even though the output print it right ? any clue ?

[2016-04-30 13:30] BrunoFDeveloper commented on #6712
+1

[2016-04-30 14:15] uotou opened #8367 "testNotEqual Not Working"
#### Challenge Name
https://www.freecodecamp.com/challenges/comparison-with-the-inequality-operator#?solution=%2F%2F%20Setup%0Afunction%20testNotEqual(val)%20%7B%0A%20%20if%20(val%20!%3D%20'99')%20%7B%20%2F%2F%20Change%20this%20line%0A%20%20%20%20return%20%22Not%20Equal%22%3B%0A%20%20%7D%0A%20%20return%20%22Equal%22%3B%0A%7D%0A%0A%2F%2F%20Change%20this%20value%20to%20test%0AtestNotEqual(10)%3B%0A

[2016-04-30 14:40] theflametrooper commented on #8367
Your if statement should include a `number` not a `string`. Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-04-30 14:40] #8367 closed

[2016-04-30 15:02] #8366 closed

[2016-04-30 15:02] #8365 closed

[2016-04-30 15:11] vtamara commented on #8199
I updated, @5k9m please check https://github.com/pasosdeJesus/FreeCodeCamp/commit/ad584ebec449734267e6f7dc5234eeae1b240ec3

[2016-04-30 16:27] champlainTwombls commented on #8360
Hi, can I try to tackle this?

[2016-04-30 17:32] #8183 closed

[2016-04-30 17:37] champlainTwombls commented on #8360
#8368 This seemed to work locally, but I'm a noob at regex please give me feedback if it is wrong.

[2016-04-30 17:44] theflametrooper commented on #8360
I will `QA` for you @champlainTwombls. You need to make your changes in a separate branch.

[2016-04-30 17:54] champlainTwombls commented on #8360
Sorry about that. I will do that and make a new pull request as soon as I can.

[2016-04-30 20:32] LuckyWasTaken opened #8369 ""Stealing" solutions from others."
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.112 Safari/537.36</code>.

You can "steal" anyone's algorithm code by going to random user's page, opening their solution and pressing "Run tests" button.
Video related: https://www.youtube.com/watch?v=Myrzcr2fWiE
(I'm so sorry I did that "No repeats please" challenge this way for vide

[2016-04-30 21:04] davelane commented on #8051
Actually I had this problem too. The function in the console was called "every" which was not being called. I had to change it to truthCheck by hand.

[2016-04-30 21:45] raisedadead commented on #8369
I think this is the way it is going to work, yes a camper can accidentally as well as intentionally "steal" code from others pages, but that's by design.

Now its really up to a camper to choose to follow the academic honesty policy or not, remember that to get past and get those actual certifications you have to complete the challenges such as algorithms and projects (CodePens which mostly cannot

[2016-04-30 21:45] #8369 closed

[2016-04-30 21:56] #8316 closed

[2016-04-30 22:18] #8363 closed

[2016-04-30 22:22] qwertylilwAED opened #8370 "i cant figure out what they mean by "Your p element should have the text "View more " (with a space after it)." it seems i had but the right code for it."
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20f

[2016-04-30 22:37] coymeetsworld commented on #8370
Text is out of order, should say "View more cat photos" not "cat photos View more."

[2016-04-30 22:41] #8340 closed

[2016-04-30 22:51] raisedadead commented on #8370
@qwertylilwAED

Thanks for reporting this. I am afraid your code is incorrect.
Please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding.

Happy Coding!

[2016-04-30 22:51] #8370 closed

[2016-04-30 23:52] stomperstomp commented on #8343
Oh, you are correct! I missed it. I just automatically scroll to the bottom since I assumed all exercises were listed together chronologically.

I'm not sure if you guys take UI/UX suggestions, but I'm happy to elaborate further as I do UX design, if  that would help.

[2016-05-01 00:56] bradarv90 opened #8371 "Cursor lies on the correct line, but typing is on the line below"
Challenge [Warn your Users of a Dangerous Action](https://www.freecodecamp.com/challenges/warn-your-users-of-a-dangerous-action) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.86 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-05-01 01:11] vcooley opened #8372 "Map, Wiki, and Chat block challenge complete modal."
Map, Wiki, and Chat sidebars partially hide the challenge complete modal.

![image](https://cloud.githubusercontent.com/assets/12551141/14939511/ab2761d4-0f0f-11e6-8c8e-b1b791742e1e.png)

Is this intended behavior?

[2016-05-01 01:21] erictleung commented on #8371
@bradarv90 thanks for the issue. This is an issue with CodeMirror, which is what we use to emulate an editor in the browser, rather a problem FCC can fix ourselves. Closing as this is a duplicate issue #7847. Happy coding otherwise!

[2016-05-01 01:21] #8371 closed

[2016-05-01 02:37] alistermada commented on #8343
@stomperstomp FCC's open to [UI/UX suggestions](https://github.com/FreeCodeCamp/FreeCodeCamp/issues?q=is%3Aopen+is%3Aissue+label%3AUX). Feel free to comment or create a new issue if your suggestion isn't relevant to existing issues.

[2016-05-01 07:58] winkelman opened #8375 ""Where do I Belong" not accepting answer that passes all test cases"
Challenge [Where do I belong](https://www.freecodecamp.com/challenges/where-do-i-belong#?solution=function%20getIndexToIns(arr%2C%20num)%20%7B%0A%20%20%2F%2F%20Find%20my%20place%20in%20this%20sorted%20array.%0A%20%20arr.sort(function(a%2C%20b)%20%7Breturn%20a%20-%20b%3B%7D)%3B%0A%20%20var%20tooBig%20%3D%20true%3B%0A%20%20%0A%20%20for(var%20index%20in%20arr)%20%7B%0A%20%20%20%20if(num%20%3C%3D%20ar

[2016-05-01 10:03] winkelman commented on #8375
![untitled](https://cloud.githubusercontent.com/assets/12734117/14941235/31f55390-0f49-11e6-9d54-be63fdbeeca0.png)

Running the first test results in '3' but the grader doesn't recognize this

[2016-05-01 10:41] BKinahan commented on #8375
There are several issues with your code, but the crucial error is that you are returning a string, not a number. Changing the return line to `return +index;` (or any method of converting the string to an integer) allows the code to pass.

Please consult the [JavaScript help chat](https://gitter.im/FreeCodeCamp/HelpJavaScript) for further assistance. Happy coding!

[2016-05-01 10:46] #8375 closed

[2016-05-01 11:13] Rickhad opened #8376 "Challenge 41 doesn't submit"
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    wid

[2016-05-01 11:16] raisedadead commented on #8376
Hi @Rickhad ,

Thanks for reaching out. Have you tried the common troubleshooting steps?
We request you to please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding.

and

Please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug)

Closing, if you are confirmed on the chat that what you are facing

[2016-05-01 11:16] #8376 closed

[2016-05-01 11:35] winkelman commented on #8375
My apologies, had some confusion about the data type of the index and the usage of `for... in` vs `for` loops.  I see now that `for... in` is for properties of an object.  Consequently a simple `for` loop solves the out of bounds hack from before:

[code]

[2016-05-01 12:50] hallaathrad commented on #8352
@theflametrooper I've spoken to a contact in my local Mozilla office, and he's suggested we submit a bug report on their site (for this and other confirmed FF specific issues).

[2016-05-01 13:19] CreateInnovateProduce commented on #1121
really... you couldn't simply share with a newbie, "remove the class in the second p tag... jikes.

[2016-05-01 13:22] CreateInnovateProduce commented on #1121
And change the text in the second p tag... Look guys... the instructions are nebulous... coding is fun... help out these kids, especially when instructions can be read differently and you have a large audience.

[2016-05-01 13:26] hallaathrad commented on #8216
Personally, I'd rather we sort issues for specific (i.e. small) devices rather than modifying the whole thing for everyone,  unforeseeably risking breaking it for all.

[2016-05-01 14:05] dwd2010 commented on #1121
@CreateInnovateProduce, We dont give answer to them on here. but we could help them at gitter chat room without give them answer. we could give them a hint. hint will be helpful to them

[2016-05-01 14:33] masonblack1 commented on #3891
I can't complete the challenge either

[2016-05-01 14:37] masonblack1 opened #8377 "Can't complete challenge #31"
Challenge [Create a Bulleted Unordered List](https://www.freecodecamp.com/challenges/create-a-bulleted-unordered-list#?solution=%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lo

[2016-05-01 14:56] CreateInnovateProduce commented on #1121
Cool, Got it.  Btw this program is awesome.
On May 1, 2016 9:08 AM, "Lance" <notifications@github.com> wrote:

[2016-05-01 15:17] raisedadead commented on #8377
@masonblack1

Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding.

Happy Coding!

[2016-05-01 15:17] #8377 closed

[2016-05-01 15:43] BrunoFDeveloper commented on #7940
@JBuji your solution is very smart, congratulations =D

[2016-05-01 16:00] mikecurtin commented on #8377
Line 45-51:

[code]

[2016-05-01 16:13] #7983 closed

[2016-05-01 16:18] DamianMitchell opened #8378 "in creating this notation the var value and obj seem not to converse"
Challenge [Accessing Objects Properties with Bracket Notation](https://www.freecodecamp.com/challenges/accessing-objects-properties-with-bracket-notation#?solution=%2F%2F%20Setup%0Avar%20testObj%20%3D%20%7B%0A%20%20%22an%20entree%22%3A%20%22hamburger%22%2C%0A%20%20%22my%20side%22%3A%20%22veggies%22%2C%0A%20%20%22the%20drink%22%3A%20%22water%22%0A%7D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20

[2016-05-01 16:53] ShriramNayak opened #8379 "stuck"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%20%20font-size%3A16px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20amet%2C%2

[2016-05-01 17:04] raisedadead commented on #8377
@mikecurtin Thanks a lot.
But we urge you to not provide help over Github, please do so over the chat rooms.

[2016-05-01 17:43] dwd2010 commented on #8379
@ShriramNayak
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding.

Happy Coding!

[2016-05-01 17:43] #8379 closed

[2016-05-01 17:44] mikecurtin commented on #8379
[code]

[2016-05-01 17:47] dwd2010 commented on #8379
@mikecurtin, please dont give them answer next time. you could give him a hint.

[2016-05-01 17:50] mikecurtin commented on #8379
@dwd2010 Sorry - new to FCC. Still learning the ropes!

[2016-05-01 17:58] dwd2010 commented on #8216
@hallaathrad, Odd, I test that page on Chrome and Safari on my iPhone 6. it is fine to me.
probably you are right about specific devices.

[2016-05-01 18:01] mikecurtin commented on #8377
Not a problem. Still semi new to the forums. Thanks for letting me know.

[2016-05-01 18:29] rshuklaiiitk commented on #6112
what is wrong with the code above..

[2016-05-01 19:07] raisedadead commented on #8378
@DamianMitchell Thanks for reporting this.

However I am not sure whats the issue, can you please describe more clearly? On a side note the code is incorrect.

P.S : Please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug) as well.

[2016-05-01 19:16] raisedadead commented on #8289
@erictleung and @hellmaca I am afraid Copy/Paste works just fine on Edge.

Tested Agent : `Windows NT 10.0  Edge/13.10586`

My personal recommendation, if you can please make sure that you have all the updates installed, on your system. Alternatively if you can please switch to Chrome.

Closing, unless we can find anyone else getting the same issue or confirm that this is an issue with the FCC cod

[2016-05-01 19:16] #8289 closed

[2016-05-01 20:26] rshuklaiiitk commented on #6112
yeah acually its working

[2016-05-01 21:45] JBuji commented on #7940
@BrunoFDeveloper Thank you. "helpful link" was very useful.

[2016-05-01 21:50] Balvamar opened #8381 "FalsyBouncer - to Easy??"
#### Challenge Name

[FalsyBouncer](https://www.freecodecamp.com/challenges/falsy-bouncer#?solution=function%20bouncer(arr)%20%7B%0A%20%20%0A%20%20%0A%20%20return%20arr%3B%0A%7D%0Avar%20result%20%3D%20%5B1%2C%20null%2C%20NaN%2C%202%2C%20undefined%5D.filter(bouncer)%3B%0A%0Aconsole.log(bouncer(result))%3B)

#### Issue Description

I have used Code Pen to write my code before placing it in the chall

[2016-05-01 22:10] erictleung commented on #8381
@Balvamar thanks for the issue. The tests on FCC will run tests on your function `bouncer`.  For your code so far, it will just return the array it is given, which will not give you the correct answer. So you'll need to modify your code so that passing the function `bouncer` an array will filter out the correct elements. Closing as not an issue with the site. Happy coding!

[2016-05-01 22:10] #8381 closed

[2016-05-02 00:13] vaspv opened #8383 "Inventory update - answer matches but don't get a tick for test case 5"
#### Challenge Name

https://www.freecodecamp.com/challenges/inventory-update

#### Issue Description

When I run the test for my code, all the answers are correct but I don't get a tick for test case #5. The answer matches what I'm getting so confused why.

#### Browser Information

* Browser Name, Version: Chrome
* Operating System: Windows10
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[2016-05-02 01:39] adriennecodes commented on #6657
This shouldn't be closed.  The solution requires the user to modify the code below the line

//only change code above this line

 to say

result = lookup[val];

when the original code reads,

return result;

[2016-05-02 02:47] opalium opened #8384 "I think that my code is correct, but I am denied access to the next activity."
Challenge [Target the Children of an Element Using jQuery](https://www.freecodecamp.com/challenges/target-the-children-of-an-element-using-jquery#?solution=fccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target1%22).prop(%22disabled%22%2C%20true)%3B%0A%20%20%20%20%24(%22%23target4%22).remove()%3B%0A%2

[2016-05-02 03:12] alistermada commented on #8383
The arguments for your test:
[code]
are not the same as the ones for the 5th test which should look like this:
[code]

If you use those variables for your test, you'll notice that your code produces a Type Error, which is why the tests don't pass. For further help, please check out the [Help JavaScript Chat](https://gitter.im/FreeCodeCamp/HelpJavaScript).

[2016-05-02 03:13] jrogodel commented on #4178
#### Hi friends,
###### I stumbled upon some videos that helped me tremendously when I was stuck on this challenge. He breaks down the concepts revolving around this exercise: Constructor functions, closures, getters, setters, etc. Have fun!  and....
### Keep on hacking!
##### [Javascript Closures Part 1](http://youtu.be/6ltWzDKweUQ)
##### [Javascript Closures Part 2](https://www.youtube.com/watch

[2016-05-02 04:20] vaspv commented on #8383
Ah ok - thanks. Did not realize but works now. :+1:

[2016-05-02 04:21] erictleung commented on #8384
@opalium thanks for the issue but if you get stuck with a challenge, please ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: please read the last part of the instructions more carefully as it has the answer to why your code isn't passing. Happy coding!

[2016-05-02 04:21] #8384 closed

[2016-05-02 04:25] erictleung commented on #8383
@vaspv @alistermada is correct. Closing as not as issue with the site. Happy coding!

[2016-05-02 04:25] #8383 closed

[2016-05-02 04:33] meetmangukiya opened #8385 "`Pull request guideline` Link is broken"
#### Challenge Name

#### Issue Description

In the wiki link on FCC homepage in the navbar , the link to [Pull request quideline](https://freecodecamp.github.io/wiki/en/PULL_REQUEST_TEMPLATE) is broken.
The link is https://freecodecamp.github.io/wiki/en/PULL_REQUEST_TEMPLATE

#### Browser Information

* Browser Name, Version: Google Chrome
* Operating System: Windows 7
* Mobile, Desktop, or Table

[2016-05-02 04:54] erictleung commented on #8385
@meetmangukiya thanks for the issue but I can't figure out which FCC homepage wiki link you are referring to. Are you talking about from the www.freecodecamp.com website or the GitHub website?

[2016-05-02 06:10] sludge256 commented on #8385
This issue is present on the website wiki, and on the GitHub wiki at https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Wiki.

It's already been reported on the Wiki repo: https://github.com/FreeCodeCamp/wiki/issues/818

Thanks for reporting this @meetmangukiya.

[2016-05-02 06:10] #8385 closed

[2016-05-02 06:56] FreedomOpenProjects opened #8387 "Issue with add image lecture"
When I was in adding a photo lecture, If i write myself <img scr="url"> then it didnot allow,
but if I copied this code <img src="https://www.your-image-source.com/your-image.jpg"> then modified url to https://bit.ly/fcc-relaxing-cat then booom it's ok

#### Challenge Name

https://www.freecodecamp.com/challenges/add-images-to-your-website#?solution=%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleap

[2016-05-02 07:14] raisedadead commented on #8387
Hi @FreedomOpenProjects

Thanks for reporting this. But your code is not correct.
Please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding. If its confirmed there that what you are facing is indeed an issue, we may re-open this.

Happy Coding!

[2016-05-02 07:14] #8387 closed

[2016-05-02 07:36] QuincyLarson opened #8388 "Upon loading a new challenge, codemirror editor's cursor blinking, but it isn't selected upon"
Each time a challenge loads, I want to immediately be able to start typing. It looks like the codemirror textarea (code editor) is already selected because my cursor is blinking. But it isn't. I have to use my mouse to click in the code editor.

@benmcmahon100 This is a new regression, and it may be caused by night mode or hotkeys.

[2016-05-02 08:12] QuincyLarson opened #8389 "Replace halfway club flash notice with email to camper and team email when completes all 3 certs"

[2016-05-02 09:16] theflametrooper commented on #4178
@jrogodel Feel free to post these videos on our [Subreddit](https://www.reddit.com/r/FreeCodeCamp/)!

[2016-05-02 09:21] theflametrooper commented on #8348
@dermeck You should have passed because you completed all the tests correctly:

- [ ] Nest your p elements inside your div element.
- [ ] Nest your ul element inside your div element.
- [ ] Nest your ol element inside your div element.
- [ ] Make sure your div element has a closing tag.

Closing as not an issue with the site.

[2016-05-02 09:21] #8348 closed

[2016-05-02 09:47] keks411 opened #8390 "Pig Latin - 2nd example not completely visible"
#### Challenge Name
https://www.freecodecamp.com/challenges/pig-latin

#### Issue Description

Second Example is not completely visible and therefore makes no sense.

_translatePigLatin("paragraph") should return "aragraphspay". _

As you can see the "s" in **paragraphs** is missing. The example should look like:

_translatePigLatin("paragraphs") should return "aragraphspay". _

Screenshot:
http:/

[2016-05-02 09:50] benmcmahon100 commented on #8388
@QuincyLarson unfortunately, this issue pre-dates night mode and the hot keys. I believe an issue was opened on code mirror about it.

[2016-05-02 09:55] benmcmahon100 commented on #8388
I can take a look at it later today

[2016-05-02 10:58] raisedadead commented on #8390
Yeah I agree, this is indeed a problem. This is not just about the single line code that's lengthy and is bleeding out of the view.

I understand that the HTML & CSS challenges needed more space on the right for the iPhone preview widget, on the Algorithms we can perhaps make the width of the editor a bit smaller and expand the instructions view a bit more, to accommodate in a 30:70 ratio.

The in

[2016-05-02 12:11] erictleung commented on #8390
@raisedadead a quick and dirty fix for this particular challenge would be to shorten the function name. I'm sure there are more challenges like this so we could implement this as a quick fix until we want to make a more systemic fix. But I'm all for a more permanent fix of adding giving more room to the instructions if it isn't too hard to implement.

Although we are already having growing pains i

[2016-05-02 12:20] raisedadead commented on #8390
I like the `pigLatin` one! :fire:

@hallaathrad can you guide if would be too costly to have a permanent fix, rather than depending on the function names to be shorter?

If its way too costly in terms of efforts I guess changing names would be faster.

[2016-05-02 12:33] hellmaca commented on #8289
No matter which browser I use there is a bug. Edge seemed to have the least
problematic bug.

On Sun, May 1, 2016 at 2:19 PM, Mrugesh Mohapatra <notifications@github.com>
wrote:

[2016-05-02 12:48] raisedadead commented on #8289
@hellmaca Do you mean that you are getting this on other browsers as well, can you provide the details of the System you are on?

Also can you take a screenshot of the Dev Console of the browser?
Press `F12 > Console`
Then refresh the browser `Ctrl + F5`

Take some screenshots and post them here.

Note :
You have to visit the this issue page on a browser and upload the screenshots by dragging and

[2016-05-02 12:52] PizzaVillain opened #8392 "Inconsistency of challenge's description"
#### Challenge Name

https://www.freecodecamp.com/challenges/declare-javascript-variables#?solution=%0A%2F%2F%20Example%0Avar%20ourName%3B%0A%20%0A%2F%2F%20Define%20myName%20below%20this%20line%0A%0A

#### Issue Description

JavaScript provides seven different data types which are
undefined, null, **Boolean**, string, symbol, number, and object.

Quote above is challenge's description.
Only boolea

[2016-05-02 13:40] #7809 closed

[2016-05-02 14:11] MostafaEllethy opened #8393 "console.log & alert not working with me in any challenge."
#### Challenge Name

Convert JSON Data to HTML

#### Issue Description

Can't use console.log or alert to show my results this problem with all challenges.

#### Browser Information

* Browser Name, Version: Chrome, Version 50.0.2661.94 m (64-bit)
* Operating System: Windows 10 64-bit
* Mobile, Desktop, or Tablet: Desktop

#### Your Code
[code]

#### Screenshot

![untitled](https://cloud.githubuse

[2016-05-02 14:23] raisedadead commented on #8393
@MostafaEllethy First of all your code is incorrect. Hit the `Reset` and just add the below at its corract place:

[code]

![image](https://cloud.githubusercontent.com/assets/1884376/14956817/4e8648fa-109f-11e6-9875-f106be1ac1af.png)

Closing.

Please consult the [JavaScript Chat Room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for any assistance to Coding.

Happy Coding!

[2016-05-02 14:23] #8393 closed

[2016-05-02 14:23] vcooley commented on #3406
I created a button in #8373 that links to the wiki on the congratulations modal.

Is this something we want until we can get a code editor to pop up side by side with a camper's solution?

[2016-05-02 14:25] theflametrooper commented on #8392
cc/ @FreeCodeCamp/issue-moderators Should we have all data types as `Title Case` or `Lowercase`?

[2016-05-02 14:28] raisedadead commented on #3406
/cc @FreeCodeCamp/issue-moderators

Should we go with a initial proposal of showing two editors side by side, or go for linking just the wiki article to show up in the aside as proposed above by @vcooley

I am in favor of two windows side by side. With the actual solution from the challenge seed and not the wiki. This should be cleaner approach as against showing the solution against which we run

[2016-05-02 14:30] raisedadead commented on #8392
I am almost tempted to close this as bikeshedding, but that's just me.

[2016-05-02 14:31] theflametrooper commented on #3406
@raisedadead Yeh, let's go with the two windows side by side. :shipit:

[2016-05-02 14:33] erictleung commented on #8392
I was thinking all title case. [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects) talks about objects with title case. @raisedadead I can see this as bikeshedding as well but I like consistency 😄  Plus, this isn't too difficult of a change. But that's just me 😄

[2016-05-02 14:35] theflametrooper commented on #8392
@erictleung @raisedadead `Title Case` it is! PR incoming...

[2016-05-02 14:47] albert2309 opened #8395 "Two modules are misplaced."
http://imgur.com/SeJ2P0L

As you can see on the right side, the "Intermediate Algorithm Scripting" should be before the "Advanced Algorithm Scripting", but when I refreshed the page, the right window shown in proper order.

[2016-05-02 15:00] theflametrooper commented on #8395
@albert2309 Thanks for reporting this issue! I have confirmed this issue on Chrome and Firefox.

[2016-05-02 15:01] michal-szepielak opened #8396 "Unnecessary GitHub challenge when logged in by GitHub account"
The challenge of creating GitHub account is important only for those who doesn't have GitHub account. Please consider skipping this step for users who are already logged in to FCC by GitHub account. I think it will improve UX a little bit.

#### Challenge Name

https://www.freecodecamp.com/challenges/create-a-github-account-and-join-our-chat-rooms

[2016-05-02 15:17] albert2309 commented on #8395
No problem!
Do you want me to confirm the bug on Opera and IE too?

[2016-05-02 15:26] theflametrooper commented on #8395
@albert2309 Sure, go ahead :laugh:

[2016-05-02 15:38] #8199 closed

[2016-05-02 15:39] Kyotain opened #8397 "Forever Testing Challenge..."
Challenge [Spinal Tap Case](https://www.freecodecamp.com/challenges/spinal-tap-case) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.112 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

When I try to run the test, it says // testing challe

[2016-05-02 15:54] raisedadead commented on #8397
Thanks for reporting this.

Your code is returning a `function` instead of a `string`, this is messing up internally with other intermediate JavaScript, and the execution gets blocked after an exception is thrown.

If you test your code modified to check :
[code]

The output of that log statement in browser console is `function` instead of a `string`

Please consult the [JavaScript Chat Room](http

[2016-05-02 15:54] #8397 closed

[2016-05-02 15:57] #8392 closed

[2016-05-02 16:19] raisedadead commented on #7403
Closing as resolved!

[2016-05-02 16:19] #7403 closed

[2016-05-02 16:20] #7700 closed

[2016-05-02 16:51] skinnercodecamp opened #8398 "The array.splice() method by itself passes the challenge."
Challenge [Slasher Flick](https://www.freecodecamp.com/challenges/slasher-flick#?solution=%0Afunction%20slasher(arr%2C%20howMany)%20%7B%0A%20%20arr.splice(0%2C%20howMany)%3B%0A%20%20return%20arr%3B%0A%7D%0A%0Aslasher(%5B1%2C%202%2C%20%22chicken%22%2C%203%2C%20%22potatoes%22%2C%20%22cheese%22%2C%204%5D%2C%205)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36

[2016-05-02 16:53] calicode commented on #8243
Regular expressions are very tricky especially when you are starting out.

https://regex101.com/ is a great way to experiment with regexps before trying them in code. Make sure to set language to 'Javascript' on the left.

Also familiarizing yourself with the differences between the String methods

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/match
https:

[2016-05-02 17:03] theflametrooper commented on #8398
@skinnercodecamp Checkout the documentation for the `splice` method here: https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Array/splice.

Closing because this is not an issue with the site.

[2016-05-02 17:03] #8398 closed

[2016-05-02 17:20] malaymj opened #8399 "bash: expressworks: command not found"
![expressworks not found](https://cloud.githubusercontent.com/assets/12676312/14961553/c7ef57aa-10b7-11e6-9956-346606fa88b0.jpg)
Challenge [Build Web Apps with Expressjs](https://www.freecodecamp.com/challenges/build-web-apps-with-expressjs) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.94 Safari/537.36</code>.
Please descri

[2016-05-02 17:47] raisedadead commented on #8399
@malaymj Thanks for reporting this, A fix is on its way.
As a work around for the time being first do a :
`nvm install v4.1`

then

you can run the setup script again :

`chmod 744 fcc-expressworks/setup.sh && fcc-expressworks/setup.sh && source ~/.profile`

[2016-05-02 17:59] ufairiya opened #8400 "contradictory conditions ?"
Remove all the backslashes
Only remove the backslashes \ used to escape quotes.

both of the above seems contradictory and the challenge could not be completed. please clarify

Challenge [Quoting Strings with Single Quotes](https://www.freecodecamp.com/challenges/quoting-strings-with-single-quotes#?solution=%0Avar%20myStr%20%3D%20'%3Ca%20href%3D%22http%3Awww.example.com%22'%2B%22%20target%3D_blank

[2016-05-02 18:10] theflametrooper commented on #8400
@ufairiya
Read this test: `Only remove the backslashes \ used to escape quotes`. There is something wrong with your closing `anchor` tag.
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-05-02 18:10] #8400 closed

[2016-05-02 19:37] rodionz opened #8401 "String.charCodeAt() link is Broken!"
Challenge [Caesars Cipher](https://www.freecodecamp.com/challenges/caesars-cipher) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.112 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

 **The link for "String.charCodeAt()" in the instruction is broken....**

[2016-05-02 20:14] #8399 closed

[2016-05-02 20:15] DanRom624 opened #8402 "String.prototype.charCodeAt() link is invalid"
Challenge [Caesars Cipher](https://www.freecodecamp.com/challenges/caesars-cipher) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; rv:45.0) Gecko/20100101 Firefox/45.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

The issue is not within the code, actually... It is on the challenge's explanation

[2016-05-02 21:03] SaintPeter commented on #8392
Note that "undefined" and "null" should not be capitalized.  If you capitalize them in code it will break.

[2016-05-02 21:06] theflametrooper commented on #8392
@SaintPeter thanks for that! I'll submit a PR asap ;)

[2016-05-02 21:07] LouisDell commented on #8402
I would like to fix this as an intro to collaborating on open source projects. I'll follow the contributor's guide.

[2016-05-02 21:28] Scripore opened #8403 "Invalid link on Binary Agents challenge page that should direct to Mozilla documentation instead"
#### Binary Agents
https://www.freecodecamp.com/challenges/binary-agents

#### Issue Description
One of the help links that's suppose to direct to Mozilla documentation on String.charCodeAt() instead points to https://www.freecodecamp.com/challenges/undefined

#### Browser Information
* Browser Name, Version: Chrome
* Operating System: OS X
* Mobile, Desktop, or Tablet: Desktop

[2016-05-02 21:28] LouisDell commented on #8402
Can I just fix the link on GitHub without going through the all the tasks laid out in the guide?

[2016-05-02 21:57] raysichic opened #8404 "CatPhotoApp"
Challenge [Inform with the Paragraph Element](https://www.freecodecamp.com/challenges/inform-with-the-paragraph-element#?solution=%0A%3Ch1%3EHello%20World%3C%2Fh1%3E%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%3Cp%3EI%27m%20a%20p%20tag!%3C%2Fp%3E) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64; rv:45.0) Gecko/20100101 Firefox/45.0</code>.
Please describe how to reproduce this issue

[2016-05-02 22:11] dwd2010 commented on #8404
@raysichic
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding.

Happy Coding!

[2016-05-02 22:11] #8404 closed

[2016-05-02 22:12] theflametrooper commented on #8403
This issue is similar to #8402. We'll keep both of them open as their referencing different challenges.

[2016-05-02 22:30] theflametrooper commented on #8401
Duplicate of #8402.
Please follow this issue instead.

[2016-05-02 22:30] #8401 closed

[2016-05-02 22:31] sludge256 commented on #8402
@LouisDell I think that should be fine as long as you're aware of the potential pitfalls.

[2016-05-02 22:32] vicrec commented on #8402
Same here.

Have a nice day
Vic

[2016-05-02 22:35] #7711 closed

[2016-05-03 00:05] #8403 closed

[2016-05-03 00:31] theflametrooper commented on #8261
@NJFoster Checkout [this](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/git-rebase#squashing-multiple-commits-into-one) tutorial!

[2016-05-03 01:20] albert2309 commented on #8395
https://imgur.com/a/qoulb
the bug also occured in IE and Opera

[2016-05-03 01:27] albert2309 opened #8408 "Two Scroll Bars Overlapping"
#### Challenge Name

[Show the Local Weather](https://www.freecodecamp.com/challenges/show-the-local-weather)
#### Issue Description

Unless I use my touchscreen display, I cannot scroll down the map because the scroll bar is overlapping with the page's scroll bar.
#### Browser Information

- Browser Name, Version:  Internet Explorer 11
- Operating System: Windows 8.1
- Mobile, Desktop, or Tablet:

[2016-05-03 03:02] PhentiusKhan opened #8409 "wont go on to next challenge although requirements are met."
Challenge [Use Spans for Inline Elements](https://www.freecodecamp.com/challenges/use-spans-for-inline-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20%20%7D%0A%0A%20%20.thick-green-border%20%7

[2016-05-03 03:07] thorstenschaefer commented on #8395
Can confirm it for Safari. Also, I just finished Advanced but cannot submit the last task - I guess it might be because I haven't touched the intermediate algorithm scripting part yet (the test succeeds but the submit button is disabled)?

[2016-05-03 03:21] erictleung commented on #8402
Are you guys still having this issue? I just checked and couldn't reproduce the results. Some changes were recently pushed up to the live site so maybe things were fixed with it.

[2016-05-03 06:20] raisedadead commented on #8408
@albert Thanks for reporting this.
Can you also guide if this is specific to IE or on other browsers as well?

[2016-05-03 06:22] raisedadead commented on #8402
Yup. Can't Reproduce it Either.

[2016-05-03 06:26] raisedadead commented on #8402
@theflametrooper : lol you had me confused with title change.

Refer original comment

Please adjust to correct title. Simply MDN link broken should be fine.

@vicrec @DanRom624
Most probably you have a stale copy of the page.
Try the common troubleshooting steps
Please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug)

[2016-05-03 06:39] Stephaceae commented on #8099
Ok, just got stuck on this challenge.  The wording IS clearer now - it was clear that I was supposed to assign both p elements with 16px font INSIDE the style tag.  HOWEVER we are NOT told how to ' create an entry for p elements.'

With some frustrated googling I found that I could use 'p' to assign attributes to p elements in CSS1 (I guessed that and tried it, but tried putting the period in fron

[2016-05-03 06:43] Stephaceae opened #8415 "'Change the font size of an element' does not give all needed information to complete challenge"
#### Challenge Name

https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20a

[2016-05-03 06:45] Stephaceae commented on #8415
(to have correct code just remove the period from before the 'p' in style tag.

[2016-05-03 06:55] sludge256 commented on #8402
I think this fixed it when the new master was pushed to production.
https://github.com/FreeCodeCamp/FreeCodeCamp/pull/8163

[2016-05-03 07:17] theflametrooper commented on #8402
@sludge256 is correct!

[2016-05-03 07:18] #8402 closed

[2016-05-03 07:19] theflametrooper commented on #8415
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-05-03 07:19] #8415 closed

[2016-05-03 07:21] rodionz commented on #8409
On Google Chrome it works fine, which browser do you use?

[2016-05-03 07:21] theflametrooper commented on #8409
@rodionz That is the same for me.

[2016-05-03 07:26] Stephaceae commented on #8415
There is a flaw in the challenge and I am reporting it.  Please address my
concern.

On Tuesday, May 3, 2016, Jonathan <notifications@github.com> wrote:

[2016-05-03 07:27] Stephaceae commented on #8415
Have you addressed the problem with this challenge?

On Tuesday, May 3, 2016, Jonathan <notifications@github.com> wrote:

[2016-05-03 07:29] theflametrooper commented on #8415
@Stephaceae Please checkout this link about selectors: https://developer.mozilla.org/en/docs/Web/Guide/CSS/Getting_started/Selectors.

HTML Elements don't have `periods` before them, only classes do.

[2016-05-03 08:15] arshdkhn1 opened #8417 "Typo: "color" instead of "class""
Challenge [Taste the Bootstrap Button Color Rainbow](https://www.freecodecamp.com/challenges/taste-the-bootstrap-button-color-rainbow) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:46.0) Gecko/20100101 Firefox/46.0</code>.

![screenshot at 2016-05-03 13 39 54](https://cloud.githubusercontent.com/assets/16819670/14977802/f62f7924-1134-11e6-84f2-a86872b73fc1.png)

I t

[2016-05-03 08:26] QuincyLarson opened #8418 "Deprecate Gitter rooms, Download all data"
Many old rooms such as /helpBonfires are now deprecated, but campers still join them. We need a contributor who's earned write access to this repo to go through and update the topic of these rooms by running:

[code]

[2016-05-03 08:52] Albert commented on #8408
I think you mean @albert2309, not @albert

[2016-05-03 09:04] Stephaceae commented on #8415
Yeah, I got it thanks. I'm saying the challenge requires the info, but it's
not included in the challenge, or the challenges leading up to it.

This either means that the challenge should be corrected, by simply
including a section on how to use elements in a style tag.  The other
option is FCC is deliberately omitting the data to screen people out.  I
don't think that is the case, as it appears F

[2016-05-03 09:04] BKinahan commented on #8417
I think the issue is a bit more complex than that. The text is trying to convey that the `btn-primary` class in Bootstrap applies a style (including color) to a button that helps the user to see it as an action they can take, but it isn't written clearly. Obviously that blue color isn't the main color of the app.

Also it looks like users can pass the test by adding the `btn`, `btn-block`, and `bt

[2016-05-03 09:26] albert2309 commented on #8408
@raisedadead Only IE. Other browsers works well.

[2016-05-03 09:52] raisedadead commented on #8408
@Albert Ooops! Apologies! :sweat_smile:

@albert2309 Thanks for letting us know!

[2016-05-03 11:17] WillsonMa opened #8420 "Nest an Anchor Element within a Paragraph, not sure where is wrong"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2016-05-03 11:24] WillsonMa commented on #8420
Got it, i added the brosec to my browser and refreshed, then it worked perfectly. It can be found at https://browsec.com/

[2016-05-03 11:27] #8420 closed

[2016-05-03 11:31] raisedadead commented on #8343
Looks like this is resolved.

@stomperstomp You may reach out to the [Contributors Chat room](https://gitter.im/FreeCodeCamp/HelpContributors) for any suggestions, and as always open an issue with your feedback.

@alistermada Thanks for looking into this.

[2016-05-03 11:31] #8343 closed

[2016-05-03 11:34] CurlyWS opened #8421 "Is there a problem with this challenge? I am doing what it has asked from me but it is not letting me pass"
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection#?solution=%0A%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%202548%3A%20%7B%0A%20%20%20%20%20%20album%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20artist%3A%20%22Bon%20Jovi%22%2C%0A%20%20%20%20%20%20tracks%3A%20%5B%20%0A%20%20%20%20%20%20%20%20%22Let%20It%20Rock%22%2C%20%0A%20%20%20%20%20%

[2016-05-03 11:41] #8421 closed

[2016-05-03 11:44] anubhavcode opened #8422 "Help required on this code"
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection#?solution=%0A%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%202548%3A%20%7B%0A%20%20%20%20%20%20album%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20artist%3A%20%22Bon%20Jovi%22%2C%0A%20%20%20%20%20%20tracks%3A%20%5B%20%0A%20%20%20%20%20%20%20%20%22Let%20It%20Rock%22%2C%20%0A%20%20%20%20%20%

[2016-05-03 11:58] raisedadead commented on #8422
Thanks for reporting this. GitHub Issues are for reporting bugs on the website only.
Please consult the [JavaScript Chat Room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for any assistance to Coding.

Happy Coding!

[2016-05-03 11:58] #8422 closed

[2016-05-03 12:00] Sahadov commented on #7524
function queue(arr, item) {
  // Your code here
 arr.push(item);
  var shifted=arr.shift();
  return shifted;  // Change this line
}

[2016-05-03 12:34] raisedadead commented on #8418
Rooms Notified
- [x] Bonfires
- [x] Basejumps
- [x] TwitchTV
- [x] NodeSchool

Left out the City specific rooms.

@QuincyLarson I think that should be it.

P.S I just realized that we have 540 rooms, with this audit.
And some of them were really funny, some created and forgotten.

[2016-05-03 13:28] EmilianFlorea opened #8423 "Missing help link on challenge [Misssing letters]"
Challenge [Missing letters](https://www.freecodecamp.com/challenges/missing-letters#?solution=%0Afunction%20fearNotLetter(str)%20%7B%0A%20%20a%3Dstr.split(%22%22)%3B%0A%20%20for(var%20i%3Da%5B0%5D)%0A%7D%0A%0AfearNotLetter(%22abce%22)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.86 Safari/537.36</code>.
Please des

[2016-05-03 14:31] Erody opened #8426 "function takes only 3 arrays as arguments, last test gives 4 though"
Challenge [Sorted Union](https://www.freecodecamp.com/challenges/sorted-union#?solution=%0Afunction%20uniteUnique(arr1%2C%20arr2%2C%20arr3%2C%20arr4)%20%7B%0A%20%20%2F%2Ftake%20arr%201%20and%20put%20it%20into%20new%20arr%0A%20%20%2F%2Fcompare%20arr2.%20if%20item%20in%20arr%202%20doesn't%20exist%20in%20new%20arr%20push%20it%20in%20else%20ignore%20it%0A%20%20%2F%2Fdo%20the%20same%20for%20arr3%0A%20%

[2016-05-03 14:37] raisedadead commented on #8426
@Erody

Thanks for reporting this, however this is not a bug and is intentional.
You are expected to derive a a logic using the [arguments object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/arguments).

While your code is technically passing the challenge but it is not Generic (you have fixed no of input args).

Please consult the [JavaScript Chat Room](https://git

[2016-05-03 14:42] #8423 closed

[2016-05-03 16:13] bnehman opened #8428 "smaller-image challenge"
Smaller-image challenge is not responding. I have made sure my browser is at 100% zoom, cannot find an issue with my coding and tried all suggestions given to me in the help forum.

Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%2

[2016-05-03 16:15] dwd2010 commented on #8428
@bnehman
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding.

Happy Coding!

[2016-05-03 16:15] #8428 closed

[2016-05-03 16:18] erictleung commented on #8428
@bnehman thanks for your issue. It sounds like you've already gone to the help room but as @dwd2010 has mentioned, you haven't completed the challenge yet.

You should see that your cat picture has shrunken if you've done the challenge correctly. Happy coding!

[2016-05-03 16:19] bnehman commented on #8428
Thanks! I'm new to this. Still working out how the website works and where
to get help.

On Tuesday, May 3, 2016, Lance <notifications@github.com> wrote:

[2016-05-03 16:27] mkincaid11 commented on #7498
It also appears to be the placement of that comma as well.

var myMusic = [
{
    "artist": "Billy Joel",
    "title": "Piano Man",
    "release_year": 1973,
    "formats": [
      "CS",
      "8T",
      "LP" ],
    "gold": true // I tried to place the comma after this boolean
},  // I got the correct answer by placing the comma here
  // Add record here
// I tried placing the comma here
{   // I

[2016-05-03 16:33] flindip opened #8429 "Nest an Anchor Element within a Paragraph. Possible bug..."
I'm trying to finish the last task I need:
Your p element should have the text "View more " (with a space after it).

I believe my code is correct but for whatever reason it is not accepting the test.  I wonder if its a browser issue(I'm using Safari).  I cleaned my cache and I consulted people at the help forum but they seemed stumped.  I also saw this problem in another bug report from March.  B

[2016-05-03 16:36] dwd2010 commented on #8429
@flindip
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding.

Happy Coding!

[2016-05-03 16:36] #8429 closed

[2016-05-03 17:54] Murkrage opened #8430 "Helpful link URL directs to FCC instead of MDN"
#### Challenge Name
https://www.freecodecamp.com/challenges/missing-letters

#### Issue Description
The link that should direct to 'String.charCodeAt()', directs to the FCC map instead of the MDN page.

#### Browser Information
* Chrome, Version: 50
* Operating System: OSX

[2016-05-03 18:06] raisedadead commented on #8430
Duplicate of #8423
Fixed in #8425

[2016-05-03 18:06] #8430 closed

[2016-05-03 18:07] raisedadead commented on #8430
HOLD your horses!

[2016-05-03 18:07] sludge256 commented on #8430
:hand: :horse_racing:

[2016-05-03 18:10] sludge256 commented on #8430
@Murkrage Thanks for the report, we have a fix for it already. Don't mind my incompetence with the labels :stuck_out_tongue_winking_eye:

[2016-05-03 18:20] Murkrage commented on #8430
@sludge256 Haha no problem. For some reason I didn't see the duplicate. My bad :)

[2016-05-03 18:32] george-stepanek opened #8431 "Nonprofit project demo videos link is incorrect"
In the About page the "Nonprofit project demo videos" link is incorrect. (The referenced playlist no longer exists.) It should instead be https://www.youtube.com/watch?v=O993J5KCR_w&list=PLWKjhJtqVAbnQ048Pa8sAqJoVRhx8TJtM

[2016-05-03 18:41] taml commented on #8431
Hey @george-stepanek I'd like to take on this issue, if that's ok!

[2016-05-03 18:45] theflametrooper commented on #8431
@taml Sure, ping me on gitter if you need any help!

[2016-05-03 19:45] #8431 closed

[2016-05-03 20:11] lynxlynxlynx commented on #7775
I've hit this too, but managed to work around it without hassle until the wikipedia challenge. I think I'll end up using http://www.whateverorigin.org/ as even with a manual xhr request chromium is complaining that codepen.io is not setting the required header.

[2016-05-03 20:47] mkincaid11 commented on #8265
there was no mention anywhere in the previous exercises about space related issues. I had the correct code but it wouldn't complete until I removed the space in the quotes from " " to ""

[2016-05-03 21:15] Priya2013 commented on #6081
What's wrong with this code?

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;

[2016-05-03 21:22] Priya2013 commented on #5126
what's wrong with this code?
![make_dead_link](https://cloud.githubusercontent.com/assets/4607371/14998787/c9b85c68-1142-11e6-9ef0-c57824ae231a.jpg)

[2016-05-03 21:30] Vanco521 opened #8434 "Stop sending notifications."
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-05-03 21:33] Vanco521 commented on #8434
Request you stop sending notifications from every posts from participants.

Remove my mail from notification list.

Thank you

[2016-05-03 21:37] antsarandriamihaja opened #8435 "Make Object Properties Private"
My code:
[code]
This only works for when set = 4, but not when set =3, or set =1.
The code that works is:

var Bike = function() {

  // Only change code below this line.
var gear = 0;
  this.getGear = function(){
    return gear;
  };
  this.setGear = function(set){
    gear = set;
  };

};

var myCar = new Car();

var myBike = new Bike();

------
My problem is that I don't understand why in the

[2016-05-03 21:41] giancarlo88 opened #8436 "Sum All Odd Fibonnacci Numbers: Tests fail even though function returns correct answer"
Hello,

I can't pass this algorithm because FCC says I don't pass the test cases. However when I call the same  numbers in the test functions myself the correct answer is returned to the console.

Is there something I should fix?

Challenge [Sum All Odd Fibonacci Numbers](https://www.freecodecamp.com/challenges/sum-all-odd-fibonacci-numbers#?solution=var%20prev%20%3D%200%3B%0Avar%20current%20%3D%2

[2016-05-03 21:43] sludge256 commented on #8434
You can change your settings with these links:
https://github.com/settings/notifications
https://github.com/settings/emails

[2016-05-03 21:48] erictleung commented on #8435
@antsarandriamihaja thanks for the issue but there is an error in your code. Hint: based on why you cannot do `gear += set` may give you clue to why its not working. If you are still stuck with this challenge, please ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-05-03 21:48] #8435 closed

[2016-05-03 21:50] dwd2010 commented on #5126
@Priya2013, You could ask help at [Help Chat Room](https://gitter.im/FreeCodeCamp/Help).

Happy Coding!

[2016-05-03 21:52] erictleung commented on #8436
@giancarlo88 the challenge runs only your function for each test. The variables you've declared are in the global scope and will continually change. I hope that helps but if you are still stuck with a challenge, please ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-05-03 21:52] #8436 closed

[2016-05-03 22:01] Priya2013 commented on #5126
It's not the right place to ask?

[2016-05-03 22:04] dwd2010 commented on #5126
@Priya2013, I dont have answer for your question. when you ask a help at chat room. they will help you with your challenges.

[2016-05-03 22:07] giancarlo88 commented on #8436
Of course!! One quick change was all it took. Thanks for that :)

[2016-05-04 00:54] benjaminjacobharley opened #8438 "Instructions not too clear"
Challenge [Target the same element with multiple jQuery Selectors](https://www.freecodecamp.com/challenges/target-the-same-element-with-multiple-jquery-selectors#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22button%22).addClass(%22animated%22)%3B%0A%20%20%20%20%24(%22.btn%22).addClass(%22shake%22)%3B%0A%20%20%20%20%24(%22%23target1%22).addClass(%22btn-primary

[2016-05-04 01:02] gasperno commented on #8396
Among the 9 steps for that challenge,
1 - Introduction to why github is needed
2 & 3 - create github account and how to add some details
4 - Star repository
5, 6, 7, 8, 9 - chatter rooms, configure notification settings and details related to chatrooms
Only steps 2 & 3 deal wih Github account creation.
@michal-szepielak I think this is a good introduction to chatrooms.

[2016-05-04 01:19] DontPanic345 opened #8439 "Should demonstrate bounds checking with comparison operators going the same way"
Challenge [Comparisons with the Logical And Operator](https://www.freecodecamp.com/challenges/comparisons-with-the-logical-and-operator#?solution=%0Afunction%20testLogicalAnd(val)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0A%20%20if%20(25%20%3C%3D%20val%20%26%26%20val%20%3C%3D%2050)%20%7B%0A%20%20%20%20%20%20return%20%22Yes%22%3B%0A%20%20%20%20%7D%0A%0A%20%20%2F%2F%20Onl

[2016-05-04 01:41] erictleung commented on #8438
@benjaminjacobharley thanks for the feedback. How do you suggest we change the instructions to make it more clear? Or what parts of the instructions were confusing?

[2016-05-04 01:58] benjaminjacobharley commented on #8438
The instructions below the run test section is not to clear in my opinion on what it expect the student to do or know. A potential fix for this could be to perhaps have a more thorough explanation for students especially considering it is a beginning experience for users. https://github.com/FreeCodeCamp/FreeCodeCamp/issues/3583
The article linked above also shows other user's at the same level and

[2016-05-04 02:19] tparikka commented on #7853
Can I suggest two things for this issue:

1. Update step 7 to suggest use of forecast.io instead of OpenWeatherMap.org. Forecast.io's API seems a bit simpler as there are less weather "descriptions" to handle as opposed to the numerous codes that OWM uses. Additionally Forecast.io feeds a specific "icon" attribute in the JSON that can be targeted in a switch statement (or if/else if you're feeling

[2016-05-04 02:20] codesnsuch opened #8440 "Uncomment Task"
Challenge [Uncomment HTML](https://www.freecodecamp.com/challenges/uncomment-html#?solution=%0A%3C!----%3E%0A%3Ch1%3EHello%20World%3C%2Fh1%3E%0A%3C!----%3E%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%3C!----%3E%0A%3Cp%3EHello%20Paragraph%3C%2Fp%3E%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.94 Safari/537.36</code>.
Ple

[2016-05-04 03:01] dwd2010 commented on #8440
@codesnsuch
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding.

Happy Coding!

[2016-05-04 03:01] #8440 closed

[2016-05-04 03:37] HalfEvil3 opened #8442 "Check for Palindromes Rule Issue"
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=%0Afunction%20palindrome(str)%20%7B%0A%20%20%2F%2F%20Good%20luck!%0A%20%20var%20oldstr%20%3D%20str%3B%0A%20%20var%20seminewstr%20%3D%20str%3B%0A%20%20var%20teststr%20%3D%20(%2F%5CW%2Fgi).test(oldstr)%3B%0A%20%20var%20Underscoretest%20%3D%20(%2F%5Cx5f%2Fgi).test(oldstr)%3B%0A%20%20var%20arr%20%

[2016-05-04 04:12] bcherny commented on #8442
You're code doesn't look totally right to me.

When you're not sure what your program is doing, it's helpful to use a debugger, or strategically put `console.log`s around your code to see what's actually happening.

I put 2 `log`s in your code:

[code]

Note that when I call your `palindrome()` function with `"five_four"`, the second (`2`) `console.log` is called! So your code says that the given

[2016-05-04 04:15] yungkurt opened #8443 "Add Placeholder Text to a Text Field challenge syntax error"
![screenshot 4](https://cloud.githubusercontent.com/assets/18606501/15005005/a064e6b6-118c-11e6-914c-02a1f0d02401.png)
![placeholder challenge](https://cloud.githubusercontent.com/assets/18606501/15005054/32c0af18-118d-11e6-8f57-1e01f70731ef.jpg)

Challenge [Add Placeholder Text to a Text Field](https://www.freecodecamp.com/challenges/add-placeholder-text-to-a-text-field#?solution=%0A%3Clink%20hre

[2016-05-04 04:18] bcherny commented on #8439
It's a matter of style, but unless you're writing C++, it's usually idiomatic put the *thing with the variable value* first in a comparison. That's because it sounds like how you would explain it in plain English.

Compare the following:

1. `5 < num && num < 10`: "5 is less than num and num is less than 10"
2. `num > 5 && num < 10`: "num is more than 5 and num is less than 10"

To me, the 2nd sou

[2016-05-04 04:26] bcherny commented on #8443
This seems like a legitimate bug - spacing shouldn't matter when parsing HTML. If someone can point me to the source code for this challenge (or if there's a more general HTML parser somewhere in the codebase) I can take a shot at fixing this.

[2016-05-04 04:45] khaduch commented on #8442
I think that the problem is that you can write code that will pass all of the tests that are run, but it will also pass for other cases - any string that has an underscore will return `true` in this case.  It looks like another test needs to be implemented to have a string with an underscore that is **not** a palindrome, so that some code that allows underscore to be the determining factor for som

[2016-05-04 04:45] raisedadead commented on #8434
Hello @Vanco521 !

Looks like you may have accidentally subscribed to all notifications for the [FreeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp) repository. To stop receiving notifications please visit the [subscriptions page](https://github.com/FreeCodeCamp/FreeCodeCamp/subscription) or click on the image below and select **"Not watching"**.

[![image](https://cloud.githubusercontent.

[2016-05-04 04:53] bcherny commented on #8442
Ah, I see what you're saying. Makes sense!

[2016-05-04 04:53] raisedadead commented on #8442
Thanks @bcherny and @khaduch
Yup this could use some updates to the tests.
For example:

[2016-05-04 04:54] HalfEvil3 commented on #8442
You are correct khaduch, the above code can be run and pass all the test for the lesson. Their is nothing wrong with the code itself, but using the logic of the tests for the lesson it will still complete it.

[2016-05-04 05:01] raisedadead commented on #8443
@bcherny Awesome!

Check this for the code :
https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/html5-and-css.json#L2099

Please, check our [**Guidelines for Contributing**](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md).

[2016-05-04 05:09] HalfEvil3 commented on #8442
Oh I test for an underscore because a word character(\w) includes the underscore character. Here is a link to w3schools about it: http://www.w3schools.com/jsref/jsref_regexp_wordchar_non.asp

I was trying to remove the underscore before testing it as a palindrome.

[2016-05-04 05:11] raisedadead commented on #8439
IMHO, what you guys are suggesting is sort of style guide or best practice. I think this can be taken up as a wiki article, but not in the scope of the challenge, we do not want to confuse campers with things that while reasonable are overwhelming especially when they are new to coding.

/cc @FreeCodeCamp/issue-moderators

[2016-05-04 05:22] bcherny commented on #8443
@raisedadead Looks like there's 3 tests - the first 2 can only pass if the `<input>` is valid, making the 3rd test a bit redundant. How do you feel about just removing the 3rd test?

As a side note, inlining JS and regexes into JSON like this seems pretty hacky. Have you guys considered integrating real HTML/JS/CSS parsers?

[2016-05-04 06:21] 5k9m commented on #7150
What's the status of this, @undefinedsymbol? Can I help by any chance?

[2016-05-04 06:31] ChaituVR opened #8444 "No details how to deploy mongodb to heroku"
Challenge [URL Shortener Microservice](https://www.freecodecamp.com/challenges/url-shortener-microservice) has an issue.

There are no Details for deploying mongodb in heroku.. Its my first time i am trying to deploy a db into heroku and i am finding it hard.

At last i found out a way to do this is adding mLab MongoDB add-on but it is asking for a credit card for billing , Not all people will hav

[2016-05-04 06:51] mathewjcohen opened #8445 "Int Algorithm Scripting "Missing Letter" - helpful links "String.charCodeAt()" link is incorrect"
Intermediate Algorithm Scripting challenge "Missing Letter" - helpful links "String.charCodeAt()" url link is incorrect.

[2016-05-04 07:09] BerkeleyTrue commented on #8434
Closing as not an issue

[2016-05-04 07:09] #8434 closed

[2016-05-04 07:21] raisedadead commented on #8443
@bcherny
Not sure about removing the third test considering it says

We could just modify the regex to be accepting white space.

Secondly about the JSON :
The JSON is actually "seeded" into a database (currently mongodb), and pulled out whenever a challenge is requested. This may seem weird a bit, but is actually the architecture at FCC (which I admit is a bit complex)

For instance at the time o

[2016-05-04 07:25] theflametrooper commented on #8445
@mathewjcohen Duplicate of #8425. This will be fixed the next time we push `staging` to `master`! Sorry!

[2016-05-04 07:25] #8445 closed

[2016-05-04 08:04] hutstep commented on #7853
@tparikka thanks for https://crossorigin.me/ . My OpenWeatherMap-App is working again in Chrome.

So the solution is to open the Codepen URL with https:// in front, and use https://crossorigin.me/ in front of the unsecured API calls like from OpenWeatherMaps.

Here's my weather app using OWM-API
https://codepen.io/hutstep/full/qZKxxr/

[2016-05-04 08:12] OriginalMike opened #8446 "Works but the challenge does not complete?"
Challenge [Return Largest Numbers in Arrays](https://www.freecodecamp.com/challenges/return-largest-numbers-in-arrays#?solution=%0Afunction%20largestOfFour(arr)%20%7B%0A%20%20var%20iTemp%20%3D%200%3B%0A%20%20var%20pos%20%3D%200%3B%0A%20%20%0A%20%20%0A%20%20for%20(var%20k%20%3D%200%3B%20k%20%3C%20arr.length%3B%20k%2B%2B)%0A%20%20%20%20%7B%0A%20%20%20%20%20%20var%20check%20%3D%20arr%5Bk%5D%3B%0A%20%

[2016-05-04 08:26] shl-kfy commented on #8446
hi @OriginalMike,
in this problem we should put each array's biggest number into a new array.

[2016-05-04 09:17] 5k9m opened #8447 "German translation of Basic JavaScript"
- [x] Comment your JavaScript Code Complete
- [x] Declare JavaScript Variables Complete
- [x] Storing Values with the Assignment Operator Complete
- [x] Initializing Variables with the Assignment Operator Complete
- [ ] Understanding Uninitialized Variables Complete
- [ ] Understanding Case Sensitivity in Variables Complete
- [ ] Add Two Numbers with JavaScript Complete
- [ ] Subtract One Number f

[2016-05-04 09:17] 5k9m commented on #8447
I'm working on it.

[2016-05-04 09:49] danydin opened #8448 "i press submit and it works without an error as it should be."
Challenge [Create a Set of Radio Buttons](https://www.freecodecamp.com/challenges/create-a-set-of-radio-buttons) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; CrOS x86_64 7834.70.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.112 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-05-04 10:35] scucow opened #8449 "String.charCodeAt() link broken"
Challenge [Missing letters](https://www.freecodecamp.com/challenges/missing-letters#?solution=%0Afunction%20fearNotLetter(str)%20%7B%0A%20%20%0A%20%20%2F%2FDeclare%20a%20string%20with%20the%20full%20alphabet.%0A%20%20%0A%20%20var%20alphabet%20%3D%20%22abcdefghijklmnopqrstuvwxyz%22%3B%0A%20%20%0A%20%20%0A%20%20return%20str%3B%0A%7D%0A%0AfearNotLetter(%22abce%22)%3B%0A) has an issue.
User Agent is:

[2016-05-04 10:44] erictleung commented on #8449
@scucow thanks for the issue. We've made a fix with #8425 and you will see the change once we've been pushed those change to the live site. Happy coding!

[2016-05-04 10:44] #8449 closed

[2016-05-04 12:18] shadfien commented on #8448
(ᓄಠ_ಠ)ᓄ

[2016-05-04 12:19] raisedadead commented on #8448
This doesn't pass with the above code.

Have you tried the common trouble shooting steps?
Please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug)

Confirm that this is the case with others as well on the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help), and let us know. Will re-open if reproducible.

Happy Coding!

[2016-05-04 12:19] #8448 closed

[2016-05-04 12:22] raisedadead commented on #8446
Thanks for reporting this. GitHub Issues are for reporting bugs on the website only.
Please consult the [JavaScript Chat Room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for any assistance to Coding.

Happy Coding!

[2016-05-04 12:22] #8446 closed

[2016-05-04 12:27] #8395 closed

[2016-05-04 13:01] raisedadead opened #8451 "Claim Certificates - Challenges - Text Rendering Issues"
![image](https://cloud.githubusercontent.com/assets/1884376/15014874/1068513e-1226-11e6-9002-e08996800373.png)

This is generic to all of the "Claim your XYZ Certificate" Pages.
/cc @hallaathrad

[2016-05-04 13:34] michal-szepielak commented on #8396
@gasperno it's ok to keep this challenge as a chat room introduction. However the github part could be hidden for github users. They have already did it in the past. I think the good feature would be, if backend could check if user has starred the project and hide/show the 4th step.

The first step doesn't explain why github is needed. Anyway I couldn't find this information.

[2016-05-04 13:51] ltegman commented on #8439
I 100% agree that this is a matter of personal preference and you'll find just as many people who prefer it each way. For that reason we're going to leave it as-is since neither is 'correct'.

Thanks and happy coding!

[2016-05-04 13:51] #8439 closed

[2016-05-04 14:02] alexstelmakh opened #8452 "Endless " testing challenge ""
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=function%20palindrome(str)%20%7B%0A%20%20%2F%2F%20Good%20luck!%0A%20%20str%20%3D%20str.replace(%2F%5Cs%2Fg%2C%20%22%22)%3B%0A%20%20str%20%3D%20str.toLowerCase%3B%0A%20%20return%20str%3B%0A%7D%0A%0A%0A%0Apalindrome(%22Race%20Car%22)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows

[2016-05-04 14:07] albert2309 opened #8453 "A Link in Missing Letters Module Does Not Show Actual Reference"
#### Challenge Name

[Missing Letters](https://www.freecodecamp.com/challenges/missing-letters)

#### Issue Description

The  String.charCodeAt() link does not direct users to [actual link](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/charCodeAt) as you can see from the provided screenshot on the right side.

#### Browser Information

* Browser Name, Vers

[2016-05-04 14:23] #8452 closed

[2016-05-04 14:46] bcherny commented on #8443
@raisedadead - we could definitely modify the regex, but what I'm trying to say is that after looking over your tests, I noticed that the 3rd test is redundant. If the input element isn't valid, the first 2 tests wouldn't pass anyway. So the 3rd test is just throwing false negatives, and isn't really testing anything.

That's fine, what I'm suggesting is we find a better way of validating test cas

[2016-05-04 14:59] raisedadead commented on #8453
Duplicate of #8423
Fixed in #8425

[2016-05-04 14:59] #8453 closed

[2016-05-04 15:00] raisedadead commented on #8453
This has been fixed and will soon reach the Main Website. Sorry for the inconvenience!

[2016-05-04 15:06] raisedadead commented on #8443
@bcherny Thanks.

Yes the third is redundant, but does removing it address the issue that's in discussion on this thread?
i.e

So my suggestion to anyone looking to fix this :
* _Update the third test case to allow for the white space in the HTML while maintaining validation of the tags like completions, etc._

Yup It would be awesome if you open a separate issue for the architecture related stuff

[2016-05-04 15:20] SandraFlato opened #8455 "Video Challenges - Computer Basics not recording completion"
#### Challenge Name
Video Challenges - Computer Basics

https://www.freecodecamp.com/videos/computer-basics-how-to-measure-data-size

#### Issue Description

I have watched How to Measure Data Size and answered the questions 3 times now and it is not marking it as complete.  Same thing with Measuring Data Speed.

#### Browser Information

* Browser Name, Version: Google Chrome 50.0.2661.94 m
* Ope

[2016-05-04 15:22] venkatasaikarteek opened #8456 "bug in test case"
Challenge [Give a Background Color to a Div Element](https://www.freecodecamp.com/challenges/give-a-background-color-to-a-div-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20%0A%20%20.green-background

[2016-05-04 15:22] venkatasaikarteek commented on #8456
sorry my mistake

[2016-05-04 15:22] #8456 closed

[2016-05-04 15:24] bcherny commented on #8443
If we remove the 3rd test case, the issue will be fixed, no?

[2016-05-04 15:33] raisedadead commented on #8443
No it wont.

Refer :
![image](https://cloud.githubusercontent.com/assets/1884376/15019379/78bc3e2a-123b-11e6-984f-745034499c97.png)

That's why I mentioned

[2016-05-04 15:34] raisedadead commented on #8443
While you might argue that browsers auto complete tags, that's not a practice we would be willing to teach the campers. Hence tag completions need to be checked, at the minimum.

[2016-05-04 15:38] ltegman commented on #8444
There are no alternative options with Heroku. All "addons" apart from one or two of them require a credit card for verification (they will not charge you if the addon is free). I'll leave this open in case anyone else knows of an alternative free hosting solution for people without a credit card.

[2016-05-04 15:50] siriusblueus opened #8457 "My code isn't passing for the first criteria:"
Challenge [Change Text Inside an Element Using jQuery](https://www.freecodecamp.com/challenges/change-text-inside-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target4%22).html(%22%3Ci%3E%23target4%3C%2Fi%3E%22)%3B%0A%20%20%7D)%3B%0Afcces%0A%0A%3C!--%20Only%20cha

[2016-05-04 16:03] albert2309 commented on #8453
@raisedadead  It's okay! I should have searched the issue first. Thanks for responding!

[2016-05-04 16:33] sludge256 commented on #8444
To avoid providing credit card information, I believe you can sign up for mLab (MongoLab) directly via their [site](https://mlab.com/), then use the provided URL in Heroku.

[2016-05-04 16:57] delbertlegg commented on #7401
+1 I was trying to figure out where I was going wrong before I was pointed in the direction of "modularization" which hadn't yet been really covered. Once I realized I could run the program in the server file, I was squared away. Not necessary to use Clementine.

[2016-05-04 17:01] bcherny commented on #8443
@raisedadead Ah, now I see what you mean! The 3rd test is supposed to test that the `<input>` uses valid markup, but just the fact that it renders and `$('input').length > 0` is true doesn't mean that it has valid markup, since the browser has some intelligence around fixing invalid code.

This is what was tripping me up. I think the word you're looking for is "close", not "complete". "Autocomplet

[2016-05-04 17:05] raisedadead commented on #8457
@siriusblueus I am afraid your code is not correct, you are almost there.

Please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding.

Happy Coding!

[2016-05-04 17:05] #8457 closed

[2016-05-04 17:07] raisedadead commented on #8443
Yup, I stand corrected on that. :sweat_smile:
Thanks a lot for contributing, looking forward to the PR!

Happy fixing!

[2016-05-04 17:16] ChaituVR commented on #8444
Yes i tried signing up for mLab and i tried it..  And it works.. My app is up and running..   But not all guys are familiar with this..  May be mentioning this some where in the challenge or wiki will help some people like me to solve this much faster than searching for alternatives.. Today I wasted a few hours searching for alternatives..

[2016-05-04 17:19] ChaituVR commented on #8444
And also there is no information about deploying it with add-on's..

[2016-05-04 17:28] raisedadead commented on #8444
@ChaituVR Yup I agree, and we apologize that you had to waste precious time, but if you wouldn't mind how about creating a wiki article on out [wiki repo](https://github.com/FreeCodeCamp/wiki)?

Since you have freshly setup this, you are probably the best suited in doing this. Its real quick and easy and you get to contribute to Open Source as well! How about that?

Of course if you aren't comfort

[2016-05-04 17:45] ChaituVR commented on #8444
Don't apologize ;)  it's like i am apologizing myself..  Ok yes...  Sure..  i will make a wiki  by tomorrow..  :)  thanks for the help everyone..  And if anyone think we need to add about this in the challenge..  Then keep this issue open or else you may close this..  Thanks again..

[2016-05-04 17:59] raisedadead commented on #8444
Great! Once the wiki is ready we can link it as a reference in the challenge.

[2016-05-04 18:19] john-dederer opened #8458 "German translation of "JSON APIs and AJAX""
- [ ] Trigger Click Events with jQuery
- [ ]  Change Text with Click Events
- [ ]  Get JSON with the jQuery getJSON Method
- [ ]  Convert JSON Data to HTML
- [ ]  Render Images from Data Sources
- [ ]  Prefilter JSON
- [ ]  Get Geo-location Data

[2016-05-04 18:20] john-dederer commented on #8458
I'm working on it.

[2016-05-04 18:31] erictleung commented on #8455
Possible duplicate of #6929

[2016-05-04 19:03] shanethughes opened #8459 "Challenge Test Broken = All test case correct using strict equality, still fails"
Challenge [Comparison with the Strict Equality Operator](https://www.freecodecamp.com/challenges/comparison-with-the-strict-equality-operator#?solution=var%20myVal%20%3D%207%3B%0A%2F%2F%20Setup%0Afunction%20testStrict(val)%20%7B%0A%20%20if%20(val%20%3D%3D%3D%20myVal)%20%7B%20%2F%2F%20Change%20this%20line%0A%20%20%20%20return%20%22Equal%22%3B%0A%20%20%7D%0A%20%20return%20%22Not%20Equal%22%3B%0A%7D%

[2016-05-04 19:07] shanethughes commented on #8459
Issue appears to be in the fourth test case:  "assert(code.match(/(val\\s*===\\s*\\d+)|(\\d+\\s*===\\s*val)/g).length > 0, 'message: You should use the <code>===</code> operator');"

![image](https://cloud.githubusercontent.com/assets/12244245/15025965/dc42c4c8-1209-11e6-8773-66eb3951e411.png)

[2016-05-04 19:42] erictleung commented on #8459
@shanethughes thanks for the issue. The challenge is trying to prompt you to do the (direct) comparison within the `if` statement, rather than compare to a variable. The comment is even pointing `// Change this line`. Closing as not an issue with the site. Happy coding!

[2016-05-04 19:42] #8459 closed

[2016-05-04 19:46] shanethughes commented on #8459
Thank you erictleung, you are correct. The confusion was caused from how similar it is to the previous challenge Comparison with the Equality Operator , where it is almost identical except in this case it appears to not require the extra step of placing it in a variable.

[2016-05-04 20:26] erictleung commented on #8438
@benjaminjacobharley I can see how there can be confusion from reading the instructions and looking at the test requirements. Here's my proposed changes (the bold text represents what I've changed/added). Let me know what could be change to make it the most clear on what to do.

**Instructions**

[2016-05-04 20:36] QuincyLarson opened #8460 "Fix target blank vulnerability"
I just learned that target='_blank' introduces a vulnerability that can be fixed.

https://medium.com/@jitbit/target-blank-the-most-underestimated-vulnerability-ever-96e328301f4c#.t6knekvb0

We should audit our codebase for target="_blank" and add rel="noopener noreferrer" to the a tag.

If we're using window.open(), we should do it like this:
[code]

# Edited(@berkeleyTrue)

Links to trusted site

[2016-05-04 20:39] sludge256 commented on #8418
Added:
- [x] Ziplines

[2016-05-04 20:47] BerkeleyTrue commented on #8418
Nice work!

[2016-05-04 21:20] LeWood16 opened #8462 "Possible Bug in Video Challenges"
#### Issue Description

I'm having an issue with several of the Video Challenges in the Computer Basics section.  Lessons 1 through 8 have all logged properly (i.e. the links have faded out, they are check-marked, the brownie point was logged, etc.) However I've completed the remainder of the video lessons in the Computer Basics section a few times now (from "Computer Basics: Types of Computers" t

[2016-05-04 22:07] QuincyLarson commented on #6387
Note - I am closing this issue because I believe everything we need on the about page is now there.

[2016-05-04 22:07] #6387 closed

[2016-05-04 22:16] bigkatspence commented on #8438
Eric as a camper I understood fully what was being said a change commit is
necessary for that challenge nice job
On May 4, 2016 3:27 PM, "Eric Leung" <notifications@github.com> wrote:

[2016-05-04 22:35] RayBB opened #8463 "not saving progress after completing video challenge"
#### Challenge Name
Any video challenge

#### Issue Description
I did a video challenge yesterday and then when I came back today it wasn't done.
I did it again on my phone but it didn't save. I tried again in incognito mode (see screenshot/gif) and it didn't work.
I tried again on a desktop and it didn't work still, even with a different video.

#### Browser Information
Issue is happening on mobi

[2016-05-04 22:40] RayBB commented on #8462
Possible the same issue as this one: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/8463

[2016-05-04 23:05] theflametrooper commented on #8451
@raisedadead Could we maybe use something like [Bootstrap Alerts](http://getbootstrap.com/components/#alerts-examples) for this, or just move the `paragraph` tag onto a new line?

[2016-05-04 23:06] BerkeleyTrue commented on #8167
@raisedadead are you working on the email verification?

[2016-05-04 23:10] Tomi105 commented on #8300
I have same problem  and I don't know what must do

[2016-05-04 23:12] dwd2010 commented on #8300
@Tomi105, you can ask help at gitter.

[2016-05-04 23:15] Tomi105 commented on #8300
@dwd2010  I will try to do that thank you

[2016-05-05 01:46] erictleung commented on #8460
Maybe a good start: https://github.com/FreeCodeCamp/FreeCodeCamp/search?utf8=%E2%9C%93&q=target%3D%22_blank%22

[2016-05-05 03:06] Hmay61 commented on #6693
Here is my answer
function nextInLine(arr, item) {
  // Your code here
  arr.push(item);      //add an new item
  var firstItem = arr.shift(arr);   //remove the first item
  return firstItem;  // Change this line
}

// Test Setup
var testArr = [1,2,3,4,5];

// Display Code
console.log("Before: " + JSON.stringify(testArr));
console.log(nextInLine(testArr, 7)); // Modify this line to test
console.lo

[2016-05-05 03:51] raisedadead commented on #8451
I am not sure actually, I think the line should be contained within area on the right.

[2016-05-05 05:15] QuincyLarson commented on #8418
@sludge256 @raisedadead actually, I think we need to do this in literally every room that isn't on our official rooms list (unless it happens to have significant activity within the past 3 days).

[2016-05-05 05:21] profoundhub commented on #4178
@jrogodel ... thanks for the links, but they are the SAME... here are the correct URLs:

Video 1 =  https://www.youtube.com/watch?v=DZEblYanz3c
Video 2 = https://www.youtube.com/watch?v=6ltWzDKweUQ

[2016-05-05 06:28] alistermada commented on #8455
@erictleung Assuming that "marking it as complete" refers to the check mark on the map, this issue  seems to be more likely a duplicate of #8463, #8462, and #8307. Those issues describe that completing the video challenges don't award brownie points and isn't marked on the map. This wasn't a problem at the time I posted #6929.

[2016-05-05 07:00] theflametrooper commented on #8451
@raisedadead Oh, I see...

[2016-05-05 08:11] Grantlyk commented on #8460
Another link from the medium post, might be interesting for whoever picks this up, googles viewpoint on the subject: https://sites.google.com/site/bughunteruniversity/nonvuln/phishing-with-window-opener

[2016-05-05 08:13] Y-Taras opened #8468 "Sum All Odd Fibonacci Numbers: gives an error when I use console.log()"
Challenge [Sum All Odd Fibonacci Numbers](https://www.freecodecamp.com/challenges/sum-all-odd-fibonacci-numbers#?solution=function%20sumFibs(num)%20%7B%0A%20%20%20%20var%20arr%20%3D%20%5B%5D%3B%0A%20%20%20%20var%20i%20%3D%200%3B%0A%20%20%20%20var%20sum%20%3D%200%3B%0A%20%20%20%20do%20%7B%0A%20%20%20%20%20%20%20%20if%20(i%20%3C%3D%201)%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20arr.push(i)%3B%0A%2

[2016-05-05 08:35] opel22 opened #8469 "... always need to "Reset" before able to code."
#### Challenge Name
Responsive Design with Bootstrap
https://www.freecodecamp.com/challenges/responsively-style-checkboxes

#### Issue Description
When a new challange starts, I always have first to "Reset" the challange, if not, I'm not able to place the cursor where I would like to code, or, when clicked into the coding part, the cursor "jumps" to another part and my code is entered there.

####

[2016-05-05 09:42] undefinedsymbol commented on #7150
This has not been started, yet. You can take this part and start working on it.

[2016-05-05 10:59] ChaituVR commented on #8444
@raisedadead please check that PR

[2016-05-05 11:31] raisedadead commented on #8444
@ChaituVR Thanks.

After the wiki is merged we need a PR to refer that in the challenge.

A line needs to be added here: https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/03-back-end-development-certification/api-projects.json#L261 and any translations (if unsure, just add the english version, there as well, its fine and can be updated later) that are there on the page.

So

[2016-05-05 11:34] raisedadead commented on #8469
Duplicate of #7847.
Please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug) before submitting a bug report.

Thanks and happy coding!

[2016-05-05 11:34] #8469 closed

[2016-05-05 11:35] #8252 closed

[2016-05-05 11:44] raisedadead commented on #8463
Closing in favor of #8455 (Oldest logged issue for this)

[2016-05-05 11:44] #8463 closed

[2016-05-05 11:44] raisedadead commented on #8462
Closing in favor of #8455 (Oldest logged issue for this)

[2016-05-05 11:44] #8462 closed

[2016-05-05 11:45] raisedadead commented on #8307
This is similar related to #8455 but has to do with the brownies.

[2016-05-05 11:53] ChaituVR commented on #8444
@raisedadead Thanks for suggesting me to do this .. learned how things work in an open source ... ok let   me commit those changes and after merging i will open a pull request here..

[2016-05-05 11:57] raisedadead commented on #8444
@ChaituVR Awesome do not forget to have a look at our [**Guidelines for Contributing**](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md).

[2016-05-05 12:00] Y-Taras commented on #6149
thanks for solution, it helped me)

[2016-05-05 12:33] raisedadead commented on #8468
@Y-Taras Thanks for reporting this.
A library `looprotect` that we use is conflicting with this solution.
You can pass this challenge by adding `//noprotect` on the top of your code.

This is the looprotect output, at line no 5, there is a conflict.
[code]

[2016-05-05 12:43] raisedadead commented on #8248
@Brian13206 Closing as stale.

Please clarify in the comments below if you are not clear on this challenges instruction.

[2016-05-05 13:35] Brian13206 commented on #8248
To claify,inaddition to the correct procedure ...an INCORRECT procedure will pass as well,which should have errored. I did and do understand the instructions. I was pointing out that passing what should have not passed might not be the best teaching method.

[2016-05-05 13:36] #5460 closed

[2016-05-05 13:45] raisedadead commented on #8248
Okay, this is still not clear. :confused:

@erictleung says:

The tests state:

You state:

So are you stating that **.html** is NOT supposed to be used here? Meaning instructions are incorrect?

[2016-05-05 14:41] Brian13206 commented on #8248
I ...don't enough to argue this..if you look at the code I said should not have passed(but did)..and say that that is also correct..I simply d

I stand by my original post.. I don't care enough to argue about a free program

[2016-05-05 15:01] Brian13206 commented on #8248
Marking 2+2=5 as correct is a hole in the codes logic...you answer to that is well it asked you to add 2+2.....

[2016-05-05 15:21] raisedadead commented on #8248
@erictleung
I am afraid I now get what the issue creator actually meant, after checking your comment.

The tests should check this.

[2016-05-05 15:21] ChaituVR commented on #8444
@raisedadead Hey i haven't seen any ProTip in any of the challenges .. so no problem keeping it?

[2016-05-05 15:31] raisedadead commented on #8444
Well we could keep it as a Hint, as in other challenges, but its really not a hint.
So I think `ProTip` should be okay

[2016-05-05 15:38] ChaituVR commented on #8444
Ok :+1:  i am going with  `ProTip` so we should be keeping `ProTip` as a Checkbox?? or we should be adding it at end of this ??
![image](https://cloud.githubusercontent.com/assets/15967809/15048073/71149aee-1305-11e6-856c-d7dc7a62352b.png)

[2016-05-05 15:44] raisedadead commented on #8444
Add it as a checkbox, like other steps.

[2016-05-05 16:37] ChaituVR commented on #8444
@raisedadead pull requested but did't tested it locally..
I am trying to install FCC locally ...

[2016-05-05 19:03] #8443 closed

[2016-05-05 19:16] SandraFlato opened #8472 "Symmetric Difference Hung"
#### Challenge Name

https://www.freecodecamp.com/challenges/symmetric-difference

#### Issue Description

The last code I added caused the screen to lock. Think it was the last return at the bottom.  I have restarted it multiple times, but it immediately locks.  I can access other challenges, but can not complete Symmetric Difference.  None of the buttons on the page work.

#### Browser Informati

[2016-05-05 19:23] raisedadead commented on #8472
Hi @SandraFlato
Can you try and add `run=disabled` in the URL.

Refer wiki :
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Disable-Code-Auto-Run

Then maybe share the code here as well for us to have a look.
Thanks.

[2016-05-05 20:31] PandaWhisperer commented on #8460
I can do this one.

[2016-05-05 20:44] PandaWhisperer commented on #8460
Damn. That's a lot of links.

[2016-05-05 20:49] PandaWhisperer commented on #8460
I guess not all of them need to be fixed, just links to external sites.

[2016-05-05 22:40] SandraFlato commented on #8472
Thanks.  run=disabled fixed it.

Sorry, but I am a newbie and sometimes need help getting out of trouble.  Thanks for helping

[2016-05-05 22:40] #8472 closed

[2016-05-06 00:29] PandaWhisperer commented on #8312
I've noticed that freecodecamp.com and medium.freecodecamp.com use slightly different favicons (see screenshot below – medium.freecodecamp.com is the first one).

<img width="168" alt="screen shot 2016-05-05 at 5 27 39 pm" src="https://cloud.githubusercontent.com/assets/749244/15061150/bb974270-12e6-11e6-86d5-eca564eff2cf.png">

As you can see the color is slightly different, and the left icon is

[2016-05-06 00:32] QuincyLarson opened #8473 "Sign up GitHub button highlighted instead of Sign in GitHub button"
![](https://www.evernote.com/l/Ar-uJU-ZzCpJtZWrH6m16m3qSWnMROxBUCwB/image.png)

[2016-05-06 00:35] QuincyLarson opened #8474 "Remove "important notice" from deprecated signin page"
![](https://www.evernote.com/l/Ar-gNOmen9lHQ536abePpfUAVLmRpouZoeMB/image.png)

We are adding a flash notification, which will replace the need for this (somewhat scary) message. (https://www.freecodecamp.com/deprecated-signin)

[2016-05-06 00:56] lichuang2015 commented on #8278
I have the same problem. After all test passed, it stuck in submit page, can't proceed.
My device is iPhone 6S, I tried to submit from Windows pc, also can't proceed, pls help.

[2016-05-06 02:04] acolding commented on #8278
Yes, I was using an android but I switched over to my laptop which has a
Windows operating system and I was able to proceed. I think that I will be
using the laptop only from now on.
On May 5, 2016 8:57 PM, "John Li" <notifications@github.com> wrote:

[2016-05-06 03:01] benschac opened #8475 "Update weather app frontend challenge"
#### Challenge Name

https://www.freecodecamp.com/challenges/show-the-local-weather

#### Issue Description

you need a secure connection (https) to use the Geolocation API.  Someone should update the challenge with resources on how to configure their system to be able to use it or use a static lat long.
#### Browser Information

* Browser Name, Version: Chrome 50
* Operating System: MC
* Mobile,

[2016-05-06 03:02] benschac opened #8476 "When completing video challenge questions no check mark or points are given."
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-05-06 03:11] ReactorboY opened #8477 "Why challenges didn't include / on self closing html element like link and img"
Challenge [Add Images to your Website](https://www.freecodecamp.com/challenges/add-images-to-your-website#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%

[2016-05-06 03:54] khaduch commented on #8477
Hello - are you saying that it should flag the fact that the trailing slash was used?  Or that it should have been used?  It seems that it is no longer supported in HTML5?  Or at least no longer required - XHTML 1.0 required it, at least for an empty element. (I'm not an expert - jut looking at various sources.)

I guess that I'm trying to clarify what you are asking?  Thanks!

[2016-05-06 04:06] rngadam opened #8479 "API endpoint for FreeCodeCamp Camper information"
I would like to query the score and name for a particular user without having to scrape the profile page.

This information is rendered on (for example): https://www.freecodecamp.com/rngadam (last part is the username).

Something such as:

GET https://www.freecodecamp.com/rngadam.json

[code]

[2016-05-06 04:41] raisedadead commented on #8474
@QuincyLarson Agreed. This was just a place holder anyways. Will do asap.

[2016-05-06 04:43] oilhen commented on #3997
just "return Math.random()" is ok!

[2016-05-06 04:50] profoundhub commented on #6143
Here is what I got :

[code]

[2016-05-06 05:08] raisedadead commented on #8479
We have some work in progress on these API endpoints.
Not sure when they are going to be available publicly. @roelver is working on this bit if I am not wrong.

/cc @QuincyLarson @BerkeleyTrue @evaristoc

[2016-05-06 05:12] raisedadead commented on #8476
Duplicate of #8455
Please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug)

[2016-05-06 05:12] #8476 closed

[2016-05-06 05:18] raisedadead commented on #8475
This is being discussed in #7853, please continue the discussion no that thread.

Relates #7700

[2016-05-06 05:18] #8475 closed

[2016-05-06 05:23] raisedadead commented on #7853
Thanks everyone.

This one is bit tricky with the CSP restrictions on CodePen. It will keep breaking for non-secure resources. Considering so many browser types as well.

Also we can't actively endorse any website or resource such as `crossorigin` in the challenges, its really up to the campers to use any similar proxies.

@FreeCodeCamp/issue-moderators Can we go for a second opinion and sort this

[2016-05-06 05:24] ChaituVR commented on #8444
@raisedadead Hey I am having trouble squshing the commits ...i squshed my commits but in doing so i've recommitted `CONTRIBUTING.md` can you help there ?/

[2016-05-06 05:29] raisedadead commented on #8444
@ChaituVR Hit me at [Contributors Chat room](https://gitter.im/FreeCodeCamp/HelpContributors).

[2016-05-06 06:02] #8444 closed

[2016-05-06 06:27] erictleung commented on #8477
@ReactorboY thanks for the issue. They do seem odd now that I look at it. However, with a little Googling, it appears that the `/` is not necessary for elements like `img` and `link` because they are considered ["void elements"](http://w3c.github.io/html/syntax.html#void-elements), which apparently [don't require the `/` character](http://w3c.github.io/html/syntax.html#start-tags).

cc/ @FreeCodeC

[2016-05-06 06:38] Cezar13 commented on #5622
function myFunction() {
Here is the problem :)
Should be

**function myLocalScope() **

[2016-05-06 06:39] ltegman commented on #8477
Closing slashes on void elements is a holdover from XHTML (and is unfortunately required in JSX) but generally discouraged when writing HTML5. It's not something we should bar people from doing but it's definitely not a pattern we'll be switching our examples to. Thanks and happy coding!

[2016-05-06 06:39] #8477 closed

[2016-05-06 08:38] 5k9m commented on #7150
Thanks for the update! I'll finish the Basic Javascript part first, then try my best here ;-)

[2016-05-06 09:14] HelioGuilherme66 commented on #8312
@PandaWhisperer could you open the attached zip file and validate the quality of the favicon.ico image?
Thanks.

[2016-05-06 09:26] ionakathryn opened #8480 "Console.log not working"
**Title Case a Sentence**
https://www.freecodecamp.com/challenges/title-case-a-sentence

**Issue Description**
There is no output on the terminal for console.log. When I run even basic console.log nothing happens e.g:
console.log("hi");

**#### Browser Information**
I have tried on 3 different browsers: Chrome, Firefox & Internet Explorer. On a laptop & separate desktop.

**#### Your Code**
The co

[2016-05-06 10:29] evaristoc commented on #8479
@rngadam thanks for sharing this.

As @raisedadead mentioned there is still some work to be done for the API endpoints: in fact, the project is ready but we would like to be sure that the data we provide won't affect FCC users' privacy.

Momentarily the only way to go is scrapping. Can you please send us more information about your scrap and the reason of your project? We are not preventing people

[2016-05-06 10:31] BKinahan commented on #8480
In each of those three different browsers, did you try looking at the browser JavaScript console? That is where messages are printed when using `console.log()`, not in the FCC editor's output section.

[2016-05-06 11:17] ionakathryn commented on #8480
Hi I am not sure what I'm looking at there because there is a lot of information but this is the main thing I thought was relevant:

"NS_ERROR_FAILURE: Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsITaskbarTabPreview.invalidate]"

What does this mean? This is from using:
console.log("hi");
Thanks

[2016-05-06 11:29] #8150 closed

[2016-05-06 11:39] theflametrooper commented on #8480
@ionakathryn Make sure your press `Run tests`. This works fine for me.

[2016-05-06 11:46] theflametrooper commented on #8312
@PandaWhisperer This because cloudfare is still using the cached favicon.

[2016-05-06 13:52] MichaelLeeHobbs opened #8482 "Get Set for our Back End Development Projects - mongod"
#### Challenge Name

https://www.freecodecamp.com/challenges/get-set-for-our-back-end-development-projects

#### Issue Description

On step 9 there is an issue with mongod --smallfiles. I am assuming this is a c9 issue with the way the project is setup.

In the .bash_aliases there is a line: alias mongod="mongod --bind_ip=$IP --small --rest '$@'" --small does not appear to be a mongod flag and the

[2016-05-06 14:22] ReactorboY opened #8483 "Unable to reach the curser at the end of document, curser isn't moving and get stuck in beginning of last line"
Challenge [Add Placeholder Text to a Text Field](https://www.freecodecamp.com/challenges/add-placeholder-text-to-a-text-field#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-fam

[2016-05-06 14:26] ReactorboY commented on #8477
thanx for the reply's.

[2016-05-06 14:33] raisedadead commented on #8483
This is duplicate of #7847
Please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug)

[2016-05-06 14:33] #8483 closed

[2016-05-06 15:37] DanRom624 commented on #8426
I had a similar objection to that of Erody.
I realized that the object of the exercise is to force the student to derive a logic using the arguments object, as it is confirmed by raisedadead.
However, it would probably beneficial to have a more generic initial function statement such as :
"function uniteUnique(arr) {" --- (note only one argument, vs three!)

followed by a comment such as
"// Chang

[2016-05-06 15:46] raisedadead commented on #8426
Yup I do agree with your analogy @DanRom624
/cc @FreeCodeCamp/issue-moderators thoughts? I am in favor of having one input argument.
Any second opinions on this?

[2016-05-06 15:50] PandaWhisperer commented on #8312
@HelioGuilherme66 downloaded the .zip file, icons looked good to me.

[2016-05-06 16:16] erictleung commented on #8426
@raisedadead it does seem counterintuitive to suggest using the `arguments` objects but then simultaneously imply to use "just" three input arguments. I'm all for the only one input argument in the function 👍

[2016-05-06 17:05] #8474 closed

[2016-05-06 17:55] PandaWhisperer commented on #7413
That leaves the question of coming up with a challenge to introduce callbacks.

In [Eloquent JavaScript](http://eloquentjavascript.net/05_higher_order.html), they are introduced by building a custom `forEach()` function to iterate over arrays. This would segue well into using `.map()`.

[2016-05-06 18:11] stark1024 opened #8487 "Counting cards - can't find the bug"
Challenge [Counting Cards](https://www.freecodecamp.com/challenges/counting-cards#?solution=%0Avar%20count%20%3D%200%3B%0A%0Afunction%20cc(card)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20switch(card)%7B%0A%20%20%20%20case%202%3A%0A%20%20%20%20case%203%3A%0A%20%20%20%20case%204%3A%0A%20%20%20%20case%205%3A%0A%20%20%20%20case%206%3A%20count%2B%3D1%3B%0A%20%20%20%20%20

[2016-05-06 18:15] BerkeleyTrue commented on #8460
I'll need to investigate further on this issue before action can be taken.

But it is safe to say most of our links are to trusted sites (mostly to ourselves) so we are not as susceptible by this as sudden hype might suggest.

Programmatically created links that are user submitted should be fixed, but with the removal of camper news there aren't any that I can think of.

[2016-05-06 18:20] erictleung commented on #8487
@stark1024 thanks for the issue but if you get stuck with a challenge, please ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-05-06 18:20] #8487 closed

[2016-05-06 18:26] erictleung opened #8488 "Fix spacing in cell of Counting Cards table"
#### Challenge Name

https://www.freecodecamp.com/challenges/counting-cards

#### Issue Description

In the table in the instructions, there needs to be a space between the `K` and `A`. Right now, it looks like:

but it should be:

The code that needs to be changed is [here](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/e14cb69d5b4e8c135d74aed1467c85bd31783127/seed/challenges/01-front-end-deve

[2016-05-06 18:31] BerkeleyTrue commented on #8460
Links to trusted sites do not need this type of protections.

Trusted sites:

* codepen
* github
* gitter
* facebook
* youtube
* twitch
* wikipedia
* mozilla

If target blanks links are found to other domains, please list them here so we can target those specific links.

If none are found, then this issue can be closed within a reasonable amount of time.

Happy Coding!

[2016-05-06 18:35] raisedadead commented on #8488
Lets keep this for a first time contributor only!

[2016-05-06 18:40] jondcoleman commented on #8482
Opened a PR here to fix it on c9: https://github.com/c9/templates/pull/50

[2016-05-06 18:42] jondcoleman commented on #8482
Also @moigithub recommend this as a one line command to fix this:

`sed -i".bak" '/mongod/d' ~/.bash_aliases && source ~/.bash_aliases`

[2016-05-06 18:44] stark1024 commented on #8487
Apologies sir! I will keep this in mind. Thank you for the help.

[2016-05-06 19:56] raisedadead commented on #8468
Just checked this is an known issue with loopProtect sadly, reported back in #5162
Closing this in favor of the older issue.

[2016-05-06 19:56] #8468 closed

[2016-05-06 20:19] PandaWhisperer commented on #8460
Good point, although I wouldn't trust Wikipedia as it's technically publicly editable, and while rare, exploits have occurred.

[2016-05-06 20:22] BerkeleyTrue commented on #8460
@PandaWhisperer I'd like to know the nature of those rare exploits. For this kind of vulnerability, we are talking about adding arbitrary JavaScript to high traffic wikipedia pages. Seems counter-intuitive that they would allow such a thing on their website.

[2016-05-06 20:56] raisedadead commented on #8091
Closing as resolved for first part, second part is a **wont fix**

[2016-05-06 20:56] #8091 closed

[2016-05-06 21:02] raisedadead commented on #7911
This is resolved as of the new migration. Users without an email will not be shown the email settings except for an option to add one.
Refer #8232

[2016-05-06 21:02] #7911 closed

[2016-05-06 21:13] raisedadead commented on #8389
@QuincyLarson @BerkeleyTrue Closing this as resolved.

[2016-05-06 21:13] #8389 closed

[2016-05-06 21:14] shakeelakbar1 commented on #8457
Hello the same issue I am having, please help

<script>
  $(document).ready(function() {
    $("#target1").css("color", "red");
    $("#target4").html("<i>#target4</i>");

  });
</script>

<div class="container-fluid">
  <h3 class="text-primary text-center">jQuery Playground</h3>
  <div class="row">
    <div class="col-xs-6">
      <h4>#left-well</h4>
      <div class="well" id="left-well">

[2016-05-06 21:14] #8473 closed

[2016-05-06 21:17] shakeelakbar1 opened #8490 "Hi, please help me my where is mistake in my code it is not accepting on freecode camp"
Challenge [Change Text Inside an Element Using jQuery](https://www.freecodecamp.com/challenges/change-text-inside-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target4%22).html(%22%3Ci%3E%23target4%3C%2Fi%3E%22)%3B%0A%20%20%20%20%0A%20%20%7D)%3B%0Afcces%0A%0A%3C!

[2016-05-06 21:17] theflametrooper commented on #8457
@shakeelakbar1 Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-05-06 21:20] erictleung commented on #7826
For people wanting to work on this, you'll need to change[ this part of the file](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/9aa45a3d56fae3cb4dac5e08eca10373aa045946/seed/challenges/01-front-end-development-certification/intermediate-bonfires.json#L551) and add `String.replace()` in the MDN links to look something like this:

[code]

[2016-05-06 21:21] erictleung commented on #8490
@shakeelakbar1 thanks for the issue but if you get stuck with a challenge, please ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: take a look at the example code and make sure you're using the same tags. Happy coding!

[2016-05-06 21:21] #8490 closed

[2016-05-06 21:24] BerkeleyTrue commented on #8312
Cloudflare does not cache favicon's. In fact, the favicon requests don't ever touch cloudflare since they are directly served from aws

[2016-05-06 21:27] BerkeleyTrue commented on #8312
@HelioGuilherme66 can you submit a PR to https://github.com/FreeCodeCamp/assets

[2016-05-06 21:37] stevenhs8821 commented on #7955
I am having the same problem.  Also on Win XP.  Have you made any progress solving this issue?

[2016-05-06 21:51] williamsolivera commented on #7826
I'd love to do this change as my first contribution!

[2016-05-06 22:04] erictleung commented on #7826
@williamsolivera go for it! :+1: Please read the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) if you haven't already before taking care of the issue. And don't hesitate to visit the [Contributors Help](https://gitter.im/FreeCodeCamp/HelpContributors) if you have any questions about helping. They are pretty responsive and friendly!

[2016-05-06 22:06] ionakathryn commented on #8480
Here is what i have..I don't understand at all why it's not turning up in the FCC terminal...thanks
![title a case](https://cloud.githubusercontent.com/assets/16601596/15087262/36ce555c-13df-11e6-9032-be4ca8cef71a.png)

Please can someone explain this to me....

[2016-05-06 22:40] DamianMitchell commented on #7886
I appreciate for the advice I need it

[2016-05-06 22:46] sludge256 commented on #8480
This may have been resolved based on the conversation that happened on Gitter :point_up: [May 6, 2016 3:09 PM](https://gitter.im/FreeCodeCamp/HelpJavaScript?at=572d1620f9a53a60793c7a8b)

:point_up: [May 6, 2016 3:10 PM](https://gitter.im/FreeCodeCamp/HelpJavaScript?at=572d166e3170252648f4b36d)

@ionakathryn please confirm that the original issue has been resolved. The subsequent comments are best

[2016-05-06 23:14] raisedadead commented on #5463
#### This open for first timers only!

Update the instructions in the challenge to :

References:
https://www.freecodecamp.com/challenges/target-the-same-element-with-multiple-jquery-selectors

Please, check our [**Guidelines for Contributing**](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md).
and if you need any assistance reach out to the [Contributors Chat room](https

[2016-05-07 00:07] ReactorboY commented on #7847
have same issue here

[2016-05-07 00:31] taliahm opened #8491 "I believe I have the correct answer and it's not accepting it. Have tried it on codepen and I get the solution I need."
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection#?solution=%0A%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%202548%3A%20%7B%0A%20%20%20%20%20%20album%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20artist%3A%20%22Bon%20Jovi%22%2C%0A%20%20%20%20%20%20tracks%3A%20%5B%20%0A%20%20%20%20%20%20%20%20%22Let%20It%20Rock%22%2C%20%0A%20%20%20%20%20%

[2016-05-07 00:53] erictleung commented on #8491
@taliahm thanks for the issue but if you get stuck with a challenge, please ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-05-07 00:53] #8491 closed

[2016-05-07 01:48] mriyaz commented on #8488
Hi guys. Starting my contribution to Free Code Camp here. I will work on this, but I will need to understand FCC code base asap. Any pointers towards this will be appreciated.

[2016-05-07 03:14] Djokester opened #8492 "Says not at 100% zoom but it is"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%20%0A%20%20%7D%0A%20%20p%7B%0A%20%20%20%20font-size%3D16px%20%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%2

[2016-05-07 03:27] shl-kfy commented on #8492
Hi, @Djokester
I find a typo in your code, hint: https://developer.mozilla.org/fr/docs/Web/CSS/font-size

[2016-05-07 03:42] erictleung commented on #8492
@Djokester yes, @shl-kfy is correct and there's an issue with your code. Closing as this is not an issue with the site. Happy coding!

[2016-05-07 03:42] #8492 closed

[2016-05-07 04:10] longcrendon commented on #3583
My suggestion would be that in the educational tutorial it should be pointed out that because all the classes i.e. button , .btn and #target1 (etc.) are essentially the same the jQuery addClass function will give a cumulative effect to the final output.  (Okay, I'm still a novice, but this might just help to trigger a sense that only ONE function variable is required in the .addClass function) and

[2016-05-07 05:11] erictleung commented on #8488
@mriyaz thanks for your interest in helping out! This issue doesn't require knowing the FCC codebase too extensively. But we do ask you read the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) before taking care of the issue and don't hesitate to visit the [Contributors Help](https://gitter.im/FreeCodeCamp/HelpContributors) if you have any quest

[2016-05-07 05:28] rngadam commented on #8479
@evaristoc we have a local group of people working together on the FreeCodeCamp curriculum. We'd like to have a leaderboard updated based on their current score. Eventually, we'd also like to show the progression in the physically co-located sessions versus at home, so we'd like to snapshot the scores at a particular point in time (the day of the session).

Rate & size; I don't think we'd need to

[2016-05-07 05:34] rngadam commented on #8479
The leaderboard we can base directly on the example code provided with MeteorJS which looks like this:

![screen shot 2016-05-07 at 1 31 18 pm](https://cloud.githubusercontent.com/assets/538542/15090353/49a33034-1458-11e6-8921-33cf203559cc.png)

[2016-05-07 06:51] raisedadead commented on #8479
@rngadam You might want to have a Leaderboard app that @roelver made sometime back
https://github.com/roelver/fcctop100

Hoping it helps.

[2016-05-07 06:51] tianz commented on #5463
Hi, new user here. I'm setting up my environment and see if I can help with this one.

[2016-05-07 06:55] raisedadead commented on #5463
@tianz Awesome! Good luck. Let us know if you are stuck in the help chat room mentioned in the comment above and also go through the contributing guidelines.

[2016-05-07 08:46] evaristoc commented on #8479
@rngadam sounds nice! As commented above by @raisedadead there is already an implementation that does something similar.

I am personally not opposed to your idea, actually I would like to encourage you and your group to continue. However twice a day is too much and for the current implementation the running time reached 7 hours at one point.

If you are still interested, check the current project

[2016-05-07 09:47] Ajithvolvo opened #8493 "i cant solve this issue"
Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol#?solution=%0A%3Clink%20%23%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-fa

[2016-05-07 09:52] HelioGuilherme66 commented on #8312
@BerkeleyTrue Please clarify what you need for the PR. What from the below list?

- Audit the existing icons/images in "Logos and Covers"
- Create a new directory with all the icons/images from the zip file (what directory structure to create?)

Thanks.

[2016-05-07 10:59] Breakern commented on #8493
The hash goes inside the href instead of the URL for links that appear in the body of the page. Like here -

`<a href="#>Cat photos</a>`

[2016-05-07 11:00] raisedadead commented on #8493
Thanks for reporting this. GitHub Issues are for reporting bugs on the website only.
Please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding.

Happy Coding!

[2016-05-07 11:00] #8493 closed

[2016-05-07 11:05] Amshervi opened #8494 "i cant solve the problem"
My code:
[code]

[2016-05-07 12:47] bradd123 commented on #8494
Please post the link to the question

[2016-05-07 13:03] bradd123 commented on #8494
if your challenge is "size if your images", then in "<img>" element give smaller-image class.

<img class="smaller-image" src="https://bit.ly/fcc-relaxing-cat">

[2016-05-07 13:08] GaryLomberg commented on #6912
Still no check marks being added to completed challenges in the computer basics section.
Brownie points are also still not being added for completing the challenges

[2016-05-07 13:55] theflametrooper commented on #8494
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-05-07 13:55] #8494 closed

[2016-05-07 14:00] cedevita commented on #5559
@niallmurphy-ie @jegger79 exactly! so strange :) thanks for advice

[2016-05-07 16:27] dmitryleskov opened #8497 "Counting Cards teaches an antipattern"
Challenge [Counting Cards](https://www.freecodecamp.com/challenges/counting-cards) has an issue: it teaches an antipattern.

The function should take the current count as a parameter and return the new count.

[2016-05-07 17:20] pranayberry commented on #8488
Will create a PR. Fixed the issue as per the contribution guidelines. Just one question How to preview the fixed file because I don't know much about JS as of now.

[2016-05-07 17:47] dmitryleskov opened #8499 "Check for Palindromes - is underscore a symbol?"
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=%0Afunction%20palindrome(str)%20%7B%0A%20%20%2F%2F%20Good%20luck!%0A%20%20var%20a%20%3D%20str.toLowerCase().replace(%2F%5B%5E0-9a-z%5D%2B%2Fg%2C%22%22)%3B%0A%20%20var%20b%20%3D%20a.split(%22%22).reverse().join(%22%22)%3B%0A%20%20%2F%2Freturn%20a%0A%20%20return%20a%20%3D%3D%20b%3B%0A%7D%0A%0A%0

[2016-05-07 17:59] askadroid opened #8500 "I have met the codes requirements but it won't let me progress"
#### Change The Colour Of Text
[link to challenge](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3C!Doctype%3E%0A%3Chtml%3E%0A%20%20%3CHead%3E%0A%20%20%20%20%3Ctitle%3E%20%3C%2Ftitle%3E%0A%20%20%20%20%3C%2Fhead%3E%0A%20%20%3Cbody%3E%0A%20%20%20%20%3Cdiv%20class%3D%20%22heading%22%3E%20%0A%3Ch2%3EHello%20World%3C%2Fh2%3E%0A%20%20%20%20%20%20%3C%2Fdiv%3E%0A%20%20%20%

[2016-05-07 18:24] Homulvas commented on #3628
I ran into this today using OS X Chrome and Safari. Should I create a new issue or can this one be reopened?

[2016-05-07 18:45] raisedadead commented on #8500
@askadroid I am afraid your code is incorrect. There is a typo in there somewhere! :wink:

GitHub Issues are for reporting bugs on the website only.

Please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding.

Happy Coding!

[2016-05-07 18:45] #8500 closed

[2016-05-07 20:36] DanRom624 commented on #7292
I was going to write a similar comment, although my solution is correct anyway.
Indeed, the set of tests lack a case in which both values are grater than 1, such as [2,9].
Passing a similar test would guarantee a much more generic solution

[2016-05-07 20:54] SinglaSunil opened #8501 "Challenge Create an Ordered list Has an Issue"
Challenge [Create an Ordered List](https://www.freecodecamp.com/challenges/create-an-ordered-list#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monosp

[2016-05-07 21:04] PandaWhisperer commented on #8460
@BerkeleyTrue I don't know of any particular exploits that have occurred, it just seems like it would be better to be safe than sorry here due to the publicly editable nature of Wikipedia.

[2016-05-07 21:07] sludge256 commented on #8501
It looks like the instructions are incorrect.

is missing a semicolon.

[code]
[Link to code](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/258c6b5fcf89086884e6c1cd994843690f606f73/seed/challenges/01-front-end-development-certification/html5-and-css.json#L1956)

[2016-05-07 21:14] stevenhs8821 commented on #7955
I solved this problem by installing and using the FireFox browser.

[2016-05-07 21:37] farhd commented on #8360
shall I try?

[2016-05-07 21:39] PandaWhisperer commented on #8460
I'm going to assume that `fcctop100.herokuapp.com` is also safe.

[2016-05-07 22:06] PandaWhisperer commented on #8460
Okay, I think I got most of 'em covered, save for some dynamic URLs in `server/views/news/index.jade` and `server/views/resources/stories.jade`. Can't figure out how they are populated. I tried to deduce it starting from `server/server.js` but I can't even find the routes, much less any controllers. Not familiar with the loopback module. Help?

[2016-05-07 22:26] malisayang commented on #8284
@Afrenz Thanks so much, I was really confused why my code wasn't working. Your comment helped a lot :)

[2016-05-07 22:27] BKinahan commented on #8501
For whomever picks this up,

should also begin with "You" for proper grammar and to match the subsequent test message, rather than "Your".

[2016-05-07 22:47] theflametrooper commented on #8360
@farhd Defiantly!

[2016-05-07 23:24] alistermada commented on #8499
The underscore is a symbol; it just so happens to be the only one included in `\w` and thus excluded in `\W`.

Relevant background on `\w`:
http://programmers.stackexchange.com/questions/237754/why-does-the-regular-expression-metacharacter-w-include-underscores

[2016-05-08 01:40] deyvidyury commented on #8259
I've noticed that in the answers provided with the test cases there are one space between the coma and the number. I think this shouldn't be a cause for not accepting the results. I'm facing this now, trying to produce a output exactly as the outputs on the test cases.

[2016-05-08 02:43] BerkeleyTrue commented on #8460
news has been removed. If those are the only ones than we can close this issue

[2016-05-08 03:24] mmccullar opened #8503 "Typo on submit"
Hi guys, simple issue here you might want to know about: on the /config directory commit message, there is a typo. "remvoe old passport file" When it should be "Remove old passport file."

Not too huge of an issue but thought you'd like to know!

- Matt

[2016-05-08 03:42] mepfaff commented on #7847
Same issue. Using latest Chrome with Windows 8.1. Don't remember exactly which challenge it started on, but my guess would be somewhere between 30 - 35.

[2016-05-08 03:53] qualitymanifest commented on #8501
Similar issue on this challenge: If you capitalize `Things Cats Love` like it says on one of the tests on the left, it will fail.

[2016-05-08 06:23] mriyaz commented on #8501
Hello guys, I am working on this issue

[2016-05-08 06:52] raisedadead commented on #8284
@erictleung I agree we should add a snippet instead, of the image.

[2016-05-08 06:56] raisedadead commented on #8503
@mmccullar : Thanks Matt.

I am afraid to fix that commit we are gonna have to probably rebase the commits, and since there are a ton of commits its going to be tedious.

So, I guess we are going to have to live with this one! :sob: Sorry about that.

Thanks again!
Happy coding!

[2016-05-08 06:56] #8503 closed

[2016-05-08 07:04] raisedadead commented on #8499
Thanks @alistermada

@dmitryleskov Yes ` _` is an symbol, and this last case is kind of an tricky one intentionally, Lol when I was solving this challenge I was stuck at it for hours before I figured out the regex.

But yes its still valid!

Closing as not an issue with the Code Base.

[2016-05-08 07:04] #8499 closed

[2016-05-08 07:20] QuincyLarson commented on #8455
+1 a lot of campers are reporting this.

[2016-05-08 07:25] raisedadead commented on #8482
@MichaelLeeHobbs Thanks for reporting.
@jondcoleman Thanks for the PR. I hope that gets merged soon.

[2016-05-08 07:30] raisedadead commented on #7909
@NicholasAsimov If you go to your settings page on FreeCodeCamp, you can update your email with us. This has been introduced recently.

[2016-05-08 07:35] raisedadead commented on #7909
@BerkeleyTrue this issue is also resolved with the below I believe?
https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/server/utils/auth.js#L37

[2016-05-08 07:45] hamzashezad opened #8504 "Wiki at Free Code Camp's website has readability issues with night mode"
[The wiki](https://www.freecodecamp.com/wiki/en/) has a colour contrast problem with night mode enabled: dark text colour with a dark background. It's not quite readable.

Here is a screenshot:

![](http://i.imgur.com/fb3VdjR.png)

[2016-05-08 07:53] QuincyLarson commented on #8102
@benmcmahon100 please fix this as soon as possible. It is affecting every page load and is distracting. It's difficult for us to estimate how this could be negatively impacting session length.

[2016-05-08 07:55] QuincyLarson commented on #8312
@BerkeleyTrue @HelioGuilherme66 FYI the favicon on Free Code Camp is still the wrong shade of green. I've uploaded what seems to be the correct file to S3.

[2016-05-08 07:57] QuincyLarson opened #8505 "On certain views, flash notices are awkwardly placed"
![](https://www.evernote.com/l/Ar_mgMVRy0pLEZXMzrc1TM1W8bv1oJwnoggB/image.png)

Steps to reproduce: Go to a nonexistent challenge like this one: https://www.freecodecamp.com/challenges/dfdsfds

[2016-05-08 08:00] abhisekp opened #8506 "[Fix] Update Code of Conduct"
Update official code of conduct in the website [**FreeCodeCamp.com/code-of-conduct**](https://www.freecodecamp.com/code-of-conduct) with the one in the wiki [**Code of Conduct** (wiki)](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Code-of-Conduct) which was updated recently.

#### Related Files:
- **File to Update:** [**code-of-conduct.jade** (FCC repository file)](https://github.com/FreeCode

[2016-05-08 08:10] mriyaz commented on #8501
I have tested this issue @raisedadead  and it works for me [Create an Ordered List](https://www.freecodecamp.com/challenges/create-an-ordered-list#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0

[2016-05-08 08:13] mriyaz commented on #8501
@raisedadead, BTW which browser have you been using. I have tested this on chrome Version 50.0.2661.94 m

[2016-05-08 08:23] raisedadead commented on #8501
@mriyaz This is reproducible on all browsers"

should be

There is a semi colon missing. Reset the code or open the challenge with a clean link in an incognito window and use the code from the description above this should be easy enough to reproduce.

https://www.freecodecamp.com/challenges/create-an-ordered-list

[2016-05-08 08:29] raisedadead commented on #8501
@mriyaz I have update the comment above for the things to be updated while checking this challenge.

[2016-05-08 08:39] mriyaz commented on #8501
Sorry @raisedadead, I don't get any error while working on this challenge
[https://www.freecodecamp.com/challenges/create-an-ordered-list](https://www.freecodecamp.com/challenges/create-an-ordered-list)

[2016-05-08 08:58] raisedadead commented on #8504
The new wiki is very much work in progress @hamzashezad .
Thanks for reporting this, however supporting night mode may take a while before we first fix the wiki's default UX first.

Nevertheless we acknowledge this, and should be taking it up in the wiki updates.

[2016-05-08 09:02] arizona2014 opened #8507 "Where do I belong - Sort problem"
#### Challenge Name

https://www.freecodecamp.com/challenges/where-do-i-belong

#### Issue Description

The challange description is wrong as it states : **Likewise, getIndexToIns([20,3,5], 19) should return 2 because once the array has been sorted it will look like [3,5,20] and 19 is less than 20 (index 2) and greater than 5 (index 1).**

A simple [20,3,5].sort() will reveal that the sorted array

[2016-05-08 09:03] raisedadead commented on #8501
@mriyaz Thats because you are using

`<p>Top 3 things cats hate:</p>`
instead of
`<p>Top 3 things cats hate</p>`

You are using the correct code. But the instructions accidentally state to use a statement without a **:**

[2016-05-08 10:33] erictleung commented on #8507
@arizona2014 thanks for the issue but there are no errors in the challenge description. If want to use the `.sort` method, I would re-read the [`.sort` link](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort). But the challenge doesn't prevent you from writing your own sorter as you have done so yourself. Happy coding!

[2016-05-08 10:33] #8507 closed

[2016-05-08 11:31] arizona2014 commented on #8507
You're right Eric ... I read the sort documentation before submitting the issue, but for some reason didnt make sense then. Looked again now and arr.sort(function(a, b){return a-b}) should be the same thing as my snippet. Thanks

[2016-05-08 13:22] Drizzt-14 opened #8508 "EVERYWHERE in your challanges the mouse pointer does not respond well. You click on row X but then it writes on a lower line."
Challenge [Add Font Awesome Icons to our Buttons](https://www.freecodecamp.com/challenges/add-font-awesome-icons-to-our-buttons#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20%20%7D%0A%0A%20%20.thick-gree

[2016-05-08 13:26] erictleung commented on #8508
@Drizzt-14 we apologize for this inconvenience. This is a known problem #8253 #7847 and it is more of an issue with our editor CodeMirror. Please read through those links I've provided. Some users have talked about how they've gotten around this issue. Happy coding otherwise!

[2016-05-08 13:26] #8508 closed

[2016-05-08 13:35] NicholasAsimov commented on #7909
@raisedadead Yeah, I updated the email recently and it worked flawlessly, I recieved Quincy's news email too.

[2016-05-08 14:04] theflametrooper commented on #8508
Thank you for reporting. This is not a directly actionable issue here on Free Code Camp. This is a known issue with CodeMirror. Please comment here codemirror/CodeMirror#1862.

If what you are seeing is not the same as the issue, open a new issue with CodeMirror with steps to reproduce.

[2016-05-08 14:34] #7826 closed

[2016-05-08 14:39] 9wilson6 opened #8509 "Link to External Pages with Anchor Elements"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2016-05-08 15:07] raisedadead commented on #8509
Your code passes for me.

Please provide details in comments below for the exact issue you are facing to re-open.
Please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding.

Happy Coding!

[2016-05-08 15:07] #8509 closed

[2016-05-08 15:14] erictleung opened #8510 "Fix "array" to "string" in Split Strings with Split"
#### Challenge Name

https://www.freecodecamp.com/challenges/split-strings-with-split

#### Issue Description

The description has a typo.

But it should be:

#### How to Fix

[This line in the code](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/object-oriented-and-functional-programming.json#L570) needs to be changed to:

[code]

[2016-05-08 15:23] ionakathryn commented on #8480
This issue has not been resolved. The terminal window in FCC is not working...

[2016-05-08 15:35] arthurver opened #8511 "Fix Test in Override Styles Using Important"
Challenge [Override All Other Styles by using Important](https://www.freecodecamp.com/challenges/override-all-other-styles-by-using-important#?solution=%0A%3Cstyle%3E%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20black%3B%0A%20%20%20%20font-family%3A%20Monospace%3B%0A%20%20%20%20color%3A%20green%3B%0A%20%20%7D%0A%20%20%23orange-text%20%7B%0A%20%20%20%20color%3A%20orange%3B%0A%20%20%7D%0A%

[2016-05-08 15:54] erictleung commented on #8511
@arthurver thanks for the issue. It appears that the regex for the test needs to allow spaces between `.pink-text` and the bracket. The beginning of the assert test in [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/html5-and-css.json#L4268) is currently

[code]

But it should be changed to:

[code]

Next time if you get

[2016-05-08 16:01] ltegman commented on #8497
Pure functions are an ideal to strive for, but impure functions are not an antipattern. There are many cases where side-effects are necessary. I'll leave this open for other @FreeCodeCamp/issue-moderators to weigh in, but I don't see this as a problem.

[2016-05-08 16:33] josevill commented on #8506
I will make a PR later today on this matter.

[2016-05-08 16:42] mdepak commented on #8510
@erictleung Can I take this up?

[2016-05-08 16:49] erictleung commented on #8510
@mdepak go for it! Please read the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) before taking care of the issue and don't hesitate to visit the [Contributors Help](https://gitter.im/FreeCodeCamp/HelpContributors) if you have any questions about helping. Thanks for your interest!

[2016-05-08 17:08] #7909 closed

[2016-05-08 17:08] BerkeleyTrue commented on #7909
Yes.

Happy Coding!

[2016-05-08 17:11] BerkeleyTrue commented on #8396
These are optional challenges, you are not required to completed them. If you already have a github account you can skip it.

[2016-05-08 17:23] theflametrooper commented on #8510
Closes #8510

[2016-05-08 17:30] bricedjilo opened #8515 "Access MultiDimensional Arrays With Indexes"
Challenge [Access MultiDimensional Arrays With Indexes](https://www.freecodecamp.com/challenges/access-multidimensional-arrays-with-indexes#?solution=%0A%2F%2F%20Setup%0Avar%20myArray%20%3D%20%5B%5B1%2C2%2C3%5D%2C%20%5B4%2C5%2C6%5D%2C%20%5B7%2C8%2C9%5D%2C%20%5B%5B10%2C11%2C12%5D%2C%2013%2C%2014%5D%5D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0Avar%20myData%20%3D%20myArray%5B0%5D

[2016-05-08 18:02] sidharthsuresh opened #8516 "cannot solve this stuff. Some sort of inconsistency in my chrome browser"
Challenge [Local Scope and Functions](https://www.freecodecamp.com/challenges/local-scope-and-functions#?solution=var%20myVar%20%3D%20%22outer%22%3B%0Afunction%20myLocalScope()%20%7B%0A%20%20%0A%20var%20myVar%20%3D%20%22fun%22%3B%0A%20%20%0A%7D%0A%0A%0A%2F%2F%20Run%20and%20check%20the%20console%0A%2F%2F%20myVar%20is%20not%20defined%20outside%20of%20myLocalScope%0A%0A%0A%2F%2F%20Now%20remove%20the%

[2016-05-08 18:54] shyamalschandra opened #8517 "According to my source, this code is right but ends up being wrong with the system."
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20h2.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20style%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%

[2016-05-08 19:33] BKinahan commented on #8517
I don't know who your source is, but your code is not correct. You haven't followed the requirements "Do not use inline style declarations" or "Your h2 element should have the class red-text". Review your code or seek further assistance in the [help chat room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-05-08 19:35] JAWL commented on #8517
Stop
On May 8, 2016 2:34 PM, "BKinahan" <notifications@github.com> wrote:

[2016-05-08 19:38] BKinahan commented on #8515
Huh. Guess we need to specify that correct code is expected to access only one value from the array rather than using arithmetic operators to combine multiple values.

That, or perhaps populate the array with strings instead of numbers.

`var myArray = [['1','2','3'], ['4','5','6'], ['7','8','9'], [['10','11','12'], '13', '14']];`

Any reasons why that's a bad solution?

[2016-05-08 19:40] JAWL commented on #8515
Stop.

[2016-05-08 19:43] BKinahan commented on #8515
@JAWL Stop what? You may need to adjust your notification settings.

[2016-05-08 20:15] ltegman commented on #8517
Closing as not a bug. Thanks and happy coding!

[2016-05-08 20:15] #8517 closed

[2016-05-08 20:26] sarbbottam opened #8518 "Please consider accessibility for the HTML coding challenges."
For example, `alt` tag for `images` ...

[2016-05-08 20:29] sarbbottam commented on #8518
... too early to comment, I could see it in following challenge https://www.freecodecamp.com/challenges/add-alt-text-to-an-image-for-accessibility

Wondering if they should be combined.

Please feel free to close the issue, if you feel otherwise. Thanks!

[2016-05-08 20:35] Charlotteis commented on #8511
I'm going to tweet about this tomorrow from the twitter.com/yourfirstpr account! Thanks for this issue! :)

[2016-05-08 20:36] sarbbottam commented on #8518
Please consider suggesting `label`, before placeholder https://www.freecodecamp.com/challenges/add-placeholder-text-to-a-text-field

[2016-05-08 22:07] ltegman commented on #8480
The in page output does not capture console logs. This is expected. Thanks and happy coding!

[2016-05-08 22:07] #8480 closed

[2016-05-08 22:40] ltegman commented on #8516
Issue does not describe a problem. Please visit the [Help Chat](https://gitter.im/FreeCodeCamp/HelpJavaScript) for assistance and if they confirm what you're seeing is a site bug file an issue with a detailed description and steps to reproduce the error.

Thanks and happy coding!

[2016-05-08 22:40] #8516 closed

[2016-05-08 22:40] ltegman commented on #8518
Closing as a duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/4656. Please feel free to continue the discussion over there.

Thanks and happy coding!

[2016-05-08 22:40] #8518 closed

[2016-05-08 22:47] erictleung commented on #8515
@BKinahan I agree that when read in a certain way, you can interpret the instructions as to get the value 8 in any way you want.

My suggestion on what the instructions should read is:

And an extra test can also be added to check for the use of only one accessed value. Any suggestions on a better rewrite are welcome.

[2016-05-08 23:41] SaintPeter commented on #8497
There is certainly no requirement in Javascript for functions to be "Pure".  It's definitely something to strive for, but it's not disallowed, nor is it an anti-pattern.

You could see it as being a part of a larger class where `count` is a private variable.  It would be very reasonable to have the card counting function be a member function.

I could, potentially, see a way to make it work with p

[2016-05-09 00:25] ltegman commented on #8455
Started digging into this and it appears to be related to our recent addition of a CSRF token. The react app doesn't have access to this token and so can't send it back on completion of a challenge. This prevents the submission from being successful.

[2016-05-09 00:35] ltegman commented on #8455
@BerkeleyTrue csrf doesn't seem to play well with react. I can't come up with a good solution to this problem right away. Unless you can solve it quickly we may want to disable csrf on video challenges, because they'll be broken until we get this sorted out.

[2016-05-09 01:25] TBlank72 commented on #6960
experiencing same problems.  This happened for me after clicking "sign up with Github" instead of "sign in with Github" by mistake.

[2016-05-09 01:34] Max-Villafranca commented on #7691
I have the same problem, its letting me in sometimes,

[2016-05-09 02:04] dchen97 opened #8521 "Won't let me pass "Check for Palindromes""
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=%0Afunction%20palindrome(str)%20%7B%0A%20%20%2F%2F%20Good%20luck!%0A%20%20str%20%3D%20str.toLowerCase()%3B%0A%20%20for%20(var%20j%20%3D%200%3B%20j%20%3C%20str.length%20-%201%3B%20j%20%2B%2B)%20%7B%0A%20%20%20%20if%20(str.charAt(j))%7B%0A%20%20%20%20%20%20str%20%3D%20str.replace(%2F%5B%5CW_%5D%

[2016-05-09 02:53] cashhh commented on #8505
I'm going to work on this

[2016-05-09 02:59] khaduch commented on #8521
Hello -
It seems that the free code camp servers were having an issue, or many people in the chat rooms were commenting on that.  Someone on the admin team can confirm that - I just saw a note that there is a DDOS attack on the site.

[2016-05-09 03:17] carlsagonator commented on #7801
omg thanks so much for posting this it helped me out so much as well :)

[2016-05-09 03:51] erictleung commented on #8521
@dchen97 sorry you're having issues with submitting your challenge. @khaduch is correct, as we had some issues earlier today. Try again when you get the chance and see if this issue still persists.

[2016-05-09 04:10] raisedadead commented on #7691
@Max-Villafranca We were facing some issues, it should be resolved now.

[2016-05-09 04:18] #5463 closed

[2016-05-09 04:38] #8360 closed

[2016-05-09 05:39] NicH4real opened #8522 "My app name is red like it should be but i can't move forward"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-05-09 05:44] NicH4real opened #8523 "The title is red like it should be but i can't move forward"
Challenge [Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%3E%3Ch2%20style%3D%22color%3Ared%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp

[2016-05-09 05:45] #8522 closed

[2016-05-09 05:53] NicH4real commented on #8523
![screen shot 2016-05-08 at 11 52 40 pm](https://cloud.githubusercontent.com/assets/15953024/15104666/08a7a72e-1578-11e6-97d2-60eada0e2ab1.png)

This

[2016-05-09 05:54] erictleung commented on #8523
@NicH4real thanks for the issue but if you get stuck with a challenge, please ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: check the number of `h2` tags and if they have closing tags. Happy coding!

[2016-05-09 05:54] #8523 closed

[2016-05-09 06:06] rngadam commented on #8479
There might be a misunderstanding; we'd only fetch information for the 20 or so participants in our local group twice a day at most, NOT all fcc participants.

[2016-05-09 07:34] theflametrooper commented on #8505
@cashhh You need to create a PR to our repo, not your fork. https://github.com/FreeCodeCamp/FreeCodeCamp/compare

[2016-05-09 07:37] erictleung commented on #8426
For those wanting to help, you need to change [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/intermediate-bonfires.json#L484) and [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/intermediate-bonfires.json#L491) to have just one argument:

[code]

[2016-05-09 08:17] theflametrooper opened #8524 "Padding need on "required asterix" notification"
#### Issue Description
Padding is needed on `Challenges required for certifications are marked with a *`.

#### Browser Information
* Browser Name, Version: Chrome
* Operating System: Android
* Mobile, Desktop, or Tablet: Mobile

#### Screenshot
![](http://i.imgur.com/9h9OnIx.png)

[2016-05-09 11:32] theflametrooper commented on #8524
To contributor: Add the `padding` on line 76 on [this](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/client/less/map.less#L76) file using `less`.

[2016-05-09 13:10] #8511 closed

[2016-05-09 13:56] ltegman commented on #8378
It looks like you're not accessing the properties of the object with the correct keys. Closing as not a site bug. Thanks and happy coding!

[2016-05-09 13:56] #8378 closed

[2016-05-09 14:03] ltegman commented on #8337
Teaching every library isn't practical. Just because Free Code Camp uses something in their code base doesn't mean it's something that is common or useful enough to be worth learning. We also use RxJS but we're not going to make lessons on FRP. We teach core skills that will help you start making full-stack apps, but there's plenty of other tools and libraries you will teach yourself on your codin

[2016-05-09 14:03] #8337 closed

[2016-05-09 14:06] ltegman commented on #8328
Closing as stale. Please feel free to reopen with a detailed description of the issue. Thanks and happy coding!

[2016-05-09 14:06] #8328 closed

[2016-05-09 14:19] oharrison opened #8526 "Incorrect output"
Challenge [Write Reusable JavaScript with Functions](https://www.freecodecamp.com/challenges/write-reusable-javascript-with-functions#?solution=%0A%2F%2F%20Example%0Afunction%20reusableFunction()%20%7B%0A%20%20console.log(%22Heyya%2C%20World%22)%3B%0A%7D%0A%0AreusableFunction()%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0Afunction%20reusableFunction(text)%20%7B%0A%20%20console.log

[2016-05-09 14:37] #8510 closed

[2016-05-09 15:04] oharrison opened #8527 "Incorrect output"
Challenge [Comparison with the Equality Operator](https://www.freecodecamp.com/challenges/comparison-with-the-equality-operator#?solution=%0A%2F%2F%20Setup%0Afunction%20testEqual(val)%20%7B%0A%20%20if%20(val%20%3D%3D%2012)%20%7B%20%2F%2F%20Change%20this%20line%0A%20%20%20%20return%20%22Equal%22%3B%0A%20%20%7D%0A%20%20return%20%22Not%20Equal%22%3B%0A%7D%0A%0A%2F%2F%20Change%20this%20value%20to%20te

[2016-05-09 15:06] #8527 closed

[2016-05-09 15:07] oharrison commented on #8527
Closed issue because testEqual(10) is "Not Equal" to 12.

[2016-05-09 15:24] Ramapitecus commented on #7757
I have just finished my code http://codepen.io/Ramapitecus/pen/dMagXK
Now looking at the projects code won't be cheating I hopel. I'll try to debug this when I have some
free time.

[2016-05-09 16:23] imjamesdotme commented on #8524
![fcc-map-issue](https://cloud.githubusercontent.com/assets/9949268/15119800/8c8a6db4-160a-11e6-930b-cc3ee025b41a.png)

It appears that `position: absolute` needs removing from the class `.mapWrapper` as well. This will allow the accordions to sit full width across small screens. This is also what's causing the issue with the challenges copy.

[2016-05-09 16:25] swapy opened #8529 "Setting href to # still does not work."
Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-f

[2016-05-09 16:46] erictleung commented on #8529
@swapy I can't seem to reproduce this. Your code works for me and looks correct to me. Have you tried resetting your code and trying again?

[2016-05-09 16:48] theflametrooper commented on #8524
There are a couple of things that need fixed. I'm gonna remove the `first-timers-only` label.

[2016-05-09 16:56] swapy commented on #8529
I have tried a reset and cleared code editor but it did not work.
FYI: Only this step did not work I moved ahead and others worked.

On Mon, 9 May 2016 10:18 pm Eric Leung, <notifications@github.com> wrote:

--
Regards,
Swapnil P.Marathe

[2016-05-09 17:06] imjamesdotme commented on #8524
@theflametrooper I just submitted a pull request (my first ever) to fix this issue. As you'll see from my notes, half of the issue was already fixed on the staging branch. 😄

[2016-05-09 17:11] theflametrooper commented on #8524
@imjamesdotme That works now, great! Congrats on your first pr...

[2016-05-09 17:14] cashhh commented on #8505
Can you elaborate please? I thought that was what I did.

[2016-05-09 17:16] theflametrooper commented on #8505
@cashhh You created a PR to your fork. You need to create a PR to https://github.com/FreeCodeCamp/FreeCodeCamp instead.

[2016-05-09 17:16] imjamesdotme commented on #8524
@theflametrooper Thank you very much 😄  Hopefully first of many!

[2016-05-09 17:17] cashhh commented on #8505
Haha.. Okay got it, thanks.

[2016-05-09 17:19] #8524 closed

[2016-05-09 17:37] ltegman commented on #8529
Are you getting any console errors?

[2016-05-09 17:46] #8488 closed

[2016-05-09 17:59] swapy commented on #8529
No I am not getting any errors in console

[2016-05-09 18:00] swapy commented on #8529
I am sorry, I tried it again and it worked.

[2016-05-09 18:00] #8529 closed

[2016-05-09 18:53] DebFrench opened #8533 "Add Placeholder Text to a Text Field"
Challenge [Add Placeholder Text to a Text Field](https://www.freecodecamp.com/challenges/add-placeholder-text-to-a-text-field#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-fam

[2016-05-09 18:55] pranayberry commented on #8515
My suggestion for the instructions is:

If this instruction is worthwhile I'll change it and post a PR soon.

[2016-05-09 18:57] dwd2010 commented on #8533
@DebFrench
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding.

Happy Coding!

[2016-05-09 18:57] #8533 closed

[2016-05-09 19:02] DebFrench commented on #8533
Sorry ;^o
Thanks!

On Mon, May 9, 2016 at 3:00 PM, Lance <notifications@github.com> wrote:

[2016-05-09 19:17] bricedjilo commented on #8515
After reading the above suggestions, I was able to pass the challenge by submitting:
`var myData = myArray[2][1];`
<br />
So as @pranayberry  suggested, the instructions should be change to

In the editor, the code should be
`// Setup
var myArray = [[1,2,3], [4,5,6], [7,8,9], [[10,11,12], 13, 14]];

// Only change code below this line.
var myData = "Eneter your number here" `

[2016-05-09 19:25] sharonwischkaemper opened #8534 "Having trouble with the Mad Lib"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-05-09 19:32] Bouncey commented on #8284
I have this, just trying to set up a testing environment before PR

[2016-05-09 19:33] erictleung commented on #8534
@sharonwischkaemper if you get stuck with a challenge, please ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). There are many people there willing to give hints and help on these challenges. Good luck and happy coding!

[2016-05-09 19:33] #8534 closed

[2016-05-09 19:52] lucrp opened #8535 "Challenge text is wrong"
Challenge [Use Clockwise Notation to Specify the Padding of an Element](https://www.freecodecamp.com/challenges/use-clockwise-notation-to-specify-the-padding-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.injected-text%20%7B%0A%20%20%20%20margin-bottom%3A%20-25px%3B%0A%20%20%20%20text-align%3A%20center%3B%0A%20%20%7D%0A%0A%20%20.box%20%7B%0A%20%20%20%20border-style%3A%20solid%3B%0A%20%20%20%20bor

[2016-05-09 20:03] dwd2010 commented on #8535
@lucrp, read this again. "Use Clockwise Notation to give the ".green-box" class a padding of 40px on its top and left side, but only 20px on its bottom and right side."
your code is wrong.  try again.

[2016-05-09 20:13] lucrp commented on #8535
@dwd2010 , when I type the correct answer to the question `  .green-box {
    background-color: green;
    padding: 40px 20px 40px 20px;
  }` I get this errors:
![freecodecamp](https://cloud.githubusercontent.com/assets/6523221/15126486/a2753070-1608-11e6-8ed5-eca8b52ee6b3.png)

So I think that the question would be "Use Clockwise Notation to give the the opposite: ".green-box" class a padding of

[2016-05-09 20:14] nooruddin opened #8536 "Typo in id attribute color style for h1"
Challenge [Override Class Declarations by Styling ID Attributes](https://www.freecodecamp.com/challenges/override-class-declarations-by-styling-id-attributes#?solution=%0A%3Cstyle%3E%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20black%3B%0A%20%20%20%20font-family%3A%20Monospace%3B%0A%20%20%20%20color%3A%20green%3B%0A%20%20%7D%0A%20%20.pink-text%20%7B%0A%20%20%20%20color%3A%20pink%3B%0A%20

[2016-05-09 20:15] dwd2010 commented on #8535
@lucrp, it is not error. I trying to say you got wrong answer.

[2016-05-09 20:15] nooruddin commented on #8536
The color in description on left hand side says brown instead of orange.

[2016-05-09 20:16] nooruddin commented on #8536
![capture](https://cloud.githubusercontent.com/assets/1689581/15126716/2bfe5f5e-15e8-11e6-98b8-1a8a75b18346.PNG)

[2016-05-09 20:23] nooruddin commented on #8536
Sorry my bad. I thought it was supposed to be showing orange-text in example.  Closing this issue

[2016-05-09 20:23] #8536 closed

[2016-05-09 20:23] lucrp commented on #8535
@dwd2010 You're right. I didn't read it right. Now I get it. Thank you and excuses for opening an Issue that was my mistake. Next time I'll ask for help at Gitter first.

[2016-05-09 20:23] #8535 closed

[2016-05-09 20:54] TreeHugr opened #8537 "FreeCodeCamp reverse string challenge won't accept code"
Challenge [Reverse a String](https://www.freecodecamp.com/challenges/reverse-a-string#?solution=%0Afunction%20reverseString(str)%20%7B%0A%20%20return%20str.split(%27%27).reverse().join(%27%27)%3B%0A%7D%0A%0AreverseString(%22hello%22)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:38.0) Gecko/20100101 Firefox/38.0</code>.
Please describe how to reproduce this issue

[2016-05-09 21:17] #8537 closed

[2016-05-09 21:18] TreeHugr commented on #8537
I had to go to another challenge, then come back, and resubmit the same code then it worked so I hit some glitch with the site.

[2016-05-09 21:44] DamianMitchell opened #8539 "Links"
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=%0Afunction%20palindrome(str)%20%7B%0A%20str%20%3D%20str.replace(%2F%5B%5D).toLowerCase%20%2F%2F%20Good%20luck!%0A%20%20return%20true%3B%0A%7D%0A%0A%0A%0Apalindrome(%22eye%22)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko)

[2016-05-09 21:46] DamianMitchell commented on #8539
Sorry about that!!!! I was try to click on the links and they wouldn't go to the document or site location. Just had to say...laziness...a little....

[2016-05-09 22:32] rohan222 opened #8541 "Span element does not work, 'love' doesn't turn into Red in my Opera browser"
Challenge [Create a Custom Heading](https://www.freecodecamp.com/challenges/create-a-custom-heading) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.87 Safari/537.36 OPR/37.0.2178.32</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-05-09 23:16] #8455 closed

[2016-05-09 23:22] #8505 closed

[2016-05-09 23:26] Nikitaw99 commented on #7847
Same happened once on mobile.

[2016-05-10 00:45] arun1595 opened #8543 "Issue in Get JSON with Jquery getJSON method challenge"
#### Challenge Name
Get JSON with the jQuery getJSON Method
[Challenge Link](https://www.freecodecamp.com/challenges/get-json-with-the-jquery-getjson-method)

#### Issue Description
Eventhough my solution is right, the tests don't pass.

#### Browser Information

* Browser Name, Version: Google Chrome 50.0.2661.94 (Official Build) (64-bit)
* Operating System: Linux
* Mobile, Desktop, or Tablet: La

[2016-05-10 01:42] VultureBetrayer commented on #5781
The problem with this challenge is the explanation doesn't describe how the variable in the original function ties to the switch statement.  There is no psuedo code showing how the function ties in so there is no way for someone new to this statement to understand what the challenge is asking to do.  I only figured this out by trying every possible variable combination until I got it to work, but

[2016-05-10 04:44] Arkadeep-De commented on #8517
My code:

<style>
  .red-text {
    color: red;
 }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

Facing same problem.

[2016-05-10 04:53] cannelflow commented on #8517
@Arkadeep-De you can ask at https://gitter.im/FreeCodeCamp/FreeCodeCamp

[2016-05-10 06:24] #8539 closed

[2016-05-10 06:29] raisedadead commented on #8543
@arun1595 Thanks for reporting this.

Looks like it is checking for the var named `json` instead of being generic like you have used `data`.
I think the tests should allow flexibility.

[2016-05-10 07:09] ttymed commented on #8543
Hihi,
I'd like to work on this.

[2016-05-10 07:10] jhadams82 commented on #8501
So..  should we add more versions of the test to allow people to not include the semicolon?  Or to use all caps?

Or are we sticking with a strict expectation and we just need to fix a couple typos?  Cuz I feel like I can do that for my first FCC pull request ever  =)

[2016-05-10 07:48] Boduke217 opened #8546 "************var = c **********i am having problem"
Challenge [Compound Assignment With Augmented Multiplication](https://www.freecodecamp.com/challenges/compound-assignment-with-augmented-multiplication) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.94 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My

[2016-05-10 07:49] Boduke217 commented on #8546
and the is not working for me and i have github accout

[2016-05-10 07:51] mriyaz commented on #8501
@jhadams82  Please go ahead with the PR. I am stuck in creating a local instance of FCC. I am coordinating with @raisedadead over this problem.

[2016-05-10 08:28] jarydremillard opened #8547 "Wont let me continue even though its correct [PLEASE CLOSE]"
Challenge [Confirm the Ending](https://www.freecodecamp.com/challenges/confirm-the-ending#?solution=function%20end(str%2C%20target)%20%7B%0A%20%20var%20len%20%3D%20str.length%3B%0A%20%20var%20lent%20%3D%20target.length%3B%0A%20%20return%20str.substr(len-lent%2C%20len)%20%3D%3D%3D%20target%3B%0A%7D%0A%0Aend(%22Bastian%22%2C%20%22n%22)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh

[2016-05-10 08:35] jarydremillard commented on #8547
The function name is different from the new function name. I think FCC changed it but the function name already written doesn't change.

[2016-05-10 08:36] jarydremillard commented on #8547
PLEASE CLOSE THIS TICKET

[2016-05-10 08:55] raisedadead commented on #8543
@ttymed yup sure!

[2016-05-10 09:07] evaristoc commented on #8479
@rngadam that's another thing. Nice!

Still, while no other option available please keep similar specs for data extraction as those proposed by @roelver's project. It would be much better if you follow those prescriptions even if yours is a smaller project.

Also let us know about the app and the repo of the project? Make it public here.

[2016-05-10 09:37] Billy-Bell opened #8548 ""1 eye for of 1 eye." under the specificied test conditions is palindromic why does test want the answer to be false? Had to hard code false return for this string to pass."
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=%0Afunction%20palindrome(str)%20%7B%0A%20%20%2F%2F%20Good%20luck!%0A%20%20if%20(str%20%3D%3D%3D%20%221%20eye%20for%20of%201%20eye.%22)%20%7B%0A%20%20%20%20return%20false%3B%0A%20%20%7D%0A%20%20str%20%3D%20str.toLowerCase()%3B%0A%20%20%0A%20%20str%20%3D%20str.replace(%2F%5CW%2Fg%20%2C%20'')%3B%

[2016-05-10 09:42] raisedadead commented on #8546
@Boduke217 nevertheless, please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug)

The issue has no description, no relevant details and a non-informative title:

We need information (as precise as possible) to help you out.

Please specify what is the issue you are facing while signing in to the [Gitter Chat](https://gitter.im/FreeCodeCa

[2016-05-10 09:42] #8546 closed

[2016-05-10 09:43] raisedadead commented on #8547
Please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug)

[2016-05-10 09:43] #8547 closed

[2016-05-10 09:44] Bouncey commented on #8548
The problem is with your regEx. 1 eye for of 1 eye is not a palindrome.

For more help, please visit [Help JavaScript](https://gitter.im/FreeCodeCamp/HelpJavaScript) on gitter.

[2016-05-10 09:45] raisedadead commented on #8548
Thanks @Bouncey

@Billy-Bell Thanks for reporting but please confirm any issue on the chat first.
Please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug)

[2016-05-10 09:45] #8548 closed

[2016-05-10 09:54] Bouncey commented on #8543
If I'm honest, the `.html(JSON.stringify(JSON)` had me confused as it was my first experience working with them. I had to refer back a number of times whilst building my weather app to see just what was going on.

Would a possible solution be to regEx `$('.message')` for either `!== "the message will go here` or `=== (the data from)JSON`?

[2016-05-10 11:28] #8451 closed

[2016-05-10 13:17] #4596 closed

[2016-05-10 14:11] #8501 closed

[2016-05-10 14:38] Cu3bIu commented on #7853
Hi Everyone.

the  https://crossorigin.me/ doesn't seem to very liable service as it doesn't work often. Would you mind suggesting some free HTTPS weather API  to use for the challenge ?  https://codepen.io/olv1do/pen/KzbdMe/  this page works fine and does the task but only in case if the crossorigin.me site is up.

Thanks!

[2016-05-10 14:58] breakpoint25 opened #8550 "What should happen when num is 0"
ISSUE/QUESTION for Repeat a string repeat a string

if num is 0 should it repeat string or string should be blank?

Description says negative numbers should be blank, but code that puts the string as blank when num is 0 also passed validation.

I think 0 should be added to validation if the string should not be blank.

[2016-05-10 14:58] fattox commented on #7853
@Cu3bIu I suggested Wunderground ~4 weeks ago (see my reply above). Changing to this API was quite trivial, and i imagine would also be for anyone else who has already made the weather app (including icon pack changes).

[2016-05-10 14:58] tparikka commented on #7853
@Cu3bIu I would suggest forecast.io as per my last comment - it includes an HTTPS endpoint that you can use. My pen at https://codepen.io/tparikka/pen/bpQEeP uses forecast.io and I haven't run into any issues.

[2016-05-10 15:34] ttymed commented on #8543
I don't quite understand your meaning.
The problem with the test right now is that you have to use the word json to define the parameter in the callback function and the .htmlJSON.stringify(json) excerpt.
My understanding was that the test should be more flexible so that the parameter and input in the .html function can use any word, just like in regular Javascript code.

[2016-05-10 15:44] raisedadead commented on #8543
@ttymed You have the correct understanding.
@Bouncey What you are saying is not in the scope for this challenge. To further clarify, this challenge aims to teach campers use of getting information with the `getJSON` API.

[2016-05-10 15:51] raisedadead commented on #8550
@breakpoint25 Thanks for reporting this issue.

Interesting.

I am not sure if we should one more case to the test cases. But yeah there is an ambiguity in the description. I feel if the `num == 0` then the function should return empty string.

Because we are not repeating the string in that case.

/cc @FreeCodeCamp/issue-moderators

[2016-05-10 15:51] Bouncey commented on #8543
@raisedadead sorry, I meant in the testing of the campers script, not as part of the challenge.

[2016-05-10 16:04] breakpoint25 commented on #8550
I noticed this because I returned no string with 0. However, when I was looking up other user examples I found that they handled 0 specifically to make it return the string. I assumed they were correct because the description says to return no string if num is negative and 0 is not negative. So very interesting, otherwise description should be changed to return no string if num is not positive.

[2016-05-10 16:30] swapy opened #8551 "The instructions seem inappropriate for this activity"
Challenge [Write Reusable JavaScript with Functions](https://www.freecodecamp.com/challenges/write-reusable-javascript-with-functions#?solution=%0A%2F%2F%20Example%0Afunction%20reusableFunction()%20%7B%0A%20%20console.log(%22Hi%20World%22)%3B%0A%7D%0A%0AreusableFunction()%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0Afunction%20reusableFunction1()%20%7B%0A%20%20console.log(%22Hi

[2016-05-10 16:56] erictleung commented on #8551
Somewhat related to #8526. General theme is that the instructions need to be updated.

[2016-05-10 17:09] arun1595 commented on #8426
@erictleung I would like to work on this issue.

[2016-05-10 17:33] raisedadead commented on #8426
@arun1595 go ahead and make a PR, Please, check our [**Guidelines for Contributing**](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md).

[2016-05-10 18:38] arun1595 commented on #8426
@raisedadead I submitted a PR. Can you have a look at it?

[2016-05-10 18:52] da-anguiano commented on #7881
The first an third condition bizarrely contradict each other. Also minimizing double quotations is an aesthetic choice and not necessarily best practice -- which is how it's made to sound.

[2016-05-10 18:54] FrankP777 commented on #7808
Did not work for me too, please help someone

[2016-05-10 19:04] dwd2010 commented on #7808
@FrankP777, you could ask help at [Help Chat Room](https://gitter.im/FreeCodeCamp/Help)
Happy Coding!

[2016-05-10 19:24] hyperfilament opened #8554 "The term 'encode' is obtuse -- Escape Sequences in Strings"
The exercise Escape Sequences in Strings has the following instructions:

_'Encode the following sequence, separated by spaces:
backslash tab tab carriage-return new-line and assign it to myStr'_

The first time I read this I had zero idea what was being asked of me. Why would you ever use the word encode here unless you were purposefully trying to confuse? At this point in the course your user is

[2016-05-10 19:34] da-anguiano opened #8555 "'Spaces' should be 'white space' when concatenating strings"
In order to get students familiar with computer-science vocabulary at this point in the course I think it would be beneficial to begin to refer to 'spaces' as 'white space' or 'white-space'. Most documentation for various tools and languages will talk about spaces this way. It could help clear up some confusion down the road.

[2016-05-10 19:50] BKinahan commented on #8555
At what point in the course? If you are referring to a specific challenge or group of challenges, that information is not included automatically when writing an issue.

[2016-05-10 19:57] hyperfilament opened #8556 "Instructions ask for an array that already exists"
This is semantic, but clearly communicating what's required of the user is key.

In the challenge Store Multiple Values in one Variable using JavaScript Arrays the instructions ask the student to create and array but the array is already instantiated. The students only task is to assign the already existing array a string and a number.

The instructions should be amended or the starter code improv

[2016-05-10 19:58] sludge256 commented on #8556
Could you specify the challenge name?

[2016-05-10 19:58] da-anguiano commented on #8555
Sorry about that -- totally my fault.

At the point in the course where we're concatenating strings and assigning them to variables.

[2016-05-10 20:02] da-anguiano commented on #8556
Cleared it up in the OP. Thanks.

[2016-05-10 20:05] #8426 closed

[2016-05-10 20:12] raisedadead commented on #8555
@da-anguiano Kindly do not ignore the [Issue Checklist](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/.github/ISSUE_TEMPLATE.md) that was presented to you while opening this issue.

**We need the challenge details that you are referring to "at this point in course".**

Additionally have you confirmed your issue with others on the [Help Chat rooms](https://gitter.im/FreeCodeCamp/Help)?

[2016-05-10 20:13] raisedadead commented on #8556
@da-anguiano Please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug) before reporting issues.

Thanks and happy coding!

[2016-05-10 20:16] raisedadead commented on #8554
Refer [comment](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/8555#issuecomment-218276739).

Please provide issue details.

[2016-05-10 20:26] raisedadead commented on #8551
Yeah @erictleung I agree this one is a bit on the overwhelming side.
Looks like this challenge need refactoring.

How about something:

// Example
function reusableFunction() {
  console.log("Hi World");
}
reusableFunction();

// Only change code below this line
function greetFunction() {
reusableFunction();
}
greetFunction();
[code]

[2016-05-10 20:36] raisedadead commented on #7955
@stevenhs8821 we never had the chance to know the OS and Browser of the original reporter.
Nevertheless, we couldn't possibly support very old OS and systems.
Part of this is because it involves replicating the issue on a environment as on the reported system.
Then much difficult is to find work around for the environment.

But, glad to know that you found a workaround.

But personally, I do recom

[2016-05-10 20:43] raisedadead commented on #7955
Closing for now as stale. Please comment to re-open.

[2016-05-10 20:43] #7955 closed

[2016-05-10 21:03] ltegman commented on #7411
We could mention in the scope lessons that ES5 JavaScript only has function scoping and not block scoping, but since this is not true in ES6 we'd have to get into that and start teaching `let` and `const`. Given that there has been no follow up from any other users running into issues with this I'm going to take this as a sign that the lesson is fine as-is.

Thanks and happy coding!

[2016-05-10 21:03] #7411 closed

[2016-05-10 21:05] ltegman commented on #8409
Closing as stale. Thanks and happy coding!

[2016-05-10 21:05] #8409 closed

[2016-05-10 21:18] ltegman commented on #8541
I'm unable to repro this in Opera and there's nothing wrong with the markup used. My guess is that some resource (likely the bootstrap css) is not loading correctly for you and causing this error. Closing as not a site bug. Thanks and happy coding!

[2016-05-10 21:18] #8541 closed

[2016-05-10 21:26] sludge256 commented on #8556
Sorry for all the issue activity.

Do you have any proposal on how this should be re-worded?

[2016-05-10 21:52] sludge256 commented on #8554
I think modifying the challenge to have a more "real world" problem would be a good idea. It's currently pretty abstract since the escape sequences are not used in combination with any text. The output box also only shows the text that the camper types in and doesn't show any of the formatting that the escape sequences would create. Campers might not internalize what they've learned as a result of

[2016-05-10 21:56] alkapwn3d opened #8557 "Correct answer has a syntax error."
Challenge [Accessing Objects Properties with Variables](https://www.freecodecamp.com/challenges/accessing-objects-properties-with-variables#?solution=%0A%2F%2F%20Setup%0Avar%20testObj%20%3D%20%7B%0A%20%2012%3A%20%22Namath%22%2C%0A%20%2016%3A%20%22Montana%22%2C%0A%20%2019%3A%20%22Unitas%22%0A%7D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%3B%0A%0AtestObj%5BplayerNumber%5D%3B%20%20%2

[2016-05-10 22:57] sludge256 commented on #8499
To clarify, alphanumeric and word characters are not the same thing. Word characters are a superset of alphanumeric characters. That's why the MDN entry for RegExp is worded the way it is for `\w`

and `\W`

Notice that the second explanation says "word character" and no simply "alphanumeric character."

[2016-05-10 23:21] siriusblueus opened #8559 "Test case in Profile Lookup. Sherlock, likes prints to console but does not pass"
Challenge [Profile Lookup](https://www.freecodecamp.com/challenges/profile-lookup#?solution=%2F%2FSetup%0Avar%20contacts%20%3D%20%5B%0A%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%22firstName%22%3A%20%22Akira%22%2C%0A%20%20%20%20%20%20%20%20%22lastName%22%3A%20%22Laine%22%2C%0A%20%20%20%20%20%20%20%20%22number%22%3A%20%220543236543%22%2C%0A%20%20%20%20%20%20%20%20%22likes%22%3A%20%5B%22Pizza%22%2C%2

[2016-05-10 23:43] rohan222 commented on #8541
Hello Itegman,                        You are absolutely right regarding the issue, the code works fine today after having updated my browser, there must have been some problem with few resources, as it did not work even after restarting my browser.
Thank you,
With best regards,Rohan Mohammad.

    On Wednesday, 11 May 2016 2:51 AM, Logan Tegman <notifications@github.com> wrote:

 I'm unable to re

[2016-05-11 01:50] AkiraLaine commented on #8559
Hey @siriusblueus. You changed `Intriguing Cases` to `Intruiging Case`. That's why the test doesn't pass. Happy Coding :smile:

[2016-05-11 01:50] #8559 closed

[2016-05-11 01:54] AkiraLaine commented on #8557
Your code doesn't pass the challenge. In this case, your `playerNumber` variable isn't even defined. If you need help, please go to our [main](https://gitter.im/FreeCodeCamp/FreeCodeCamp) room. GitHub is for issues only. Happy Coding :smile:

[2016-05-11 04:19] dmm10 opened #8561 ""++" operator not recognized in pre-increment position, (++myVar)"
#### Challenge Name

https://www.freecodecamp.com/challenges/increment-a-number-with-javascript#?solution=%0Avar%20myVar%20%3D%2087%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0AmyVar%2B%2B%3B%0A%0A

#### Issue Description

The test:
  Use the ++ operator
fails when the pre-increment version of the "++" operator is used (i.e. "++myVar;") rather than the post-increment version.  Not

[2016-05-11 04:25] swapy commented on #8551
@raisedadead, as i said before
**// Only change code below this line**
However, your approach still expects to modify exisitng reusableFunction which is above this line.

And it is too complicated for beginner to understand.

[2016-05-11 04:28] dmm10 opened #8562 ""--" operator not recognized in pre-decrement position, (--myVar;.)"
#### Challenge Name

https://www.freecodecamp.com/challenges/decrement-a-number-with-javascript#?solution=%0Avar%20myVar%20%3D%2011%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A--myVar%3B%0A%0A

#### Issue Description

Use "--myVar" rather than "myVar--;" in the solution to reproduce the error.

#### Browser Information

* Browser Name, Version: *
* Operating System: *
* Mobile, D

[2016-05-11 04:31] Zayne12 commented on #3672
Thank you ckbrewer15, you're  the man bro!!!

[2016-05-11 04:32] Zayne12 commented on #3672
removing the other link like ckbrewer15 said fixed the issue!!!

[2016-05-11 05:19] dmm10 opened #8563 "grammatical error in description"
#### Challenge Name

https://www.freecodecamp.com/challenges/manipulate-arrays-with-push#?solution=%0A%2F%2F%20Example%0Avar%20ourArray%20%3D%20%5B%22Stimpson%22%2C%20%22J%22%2C%20%22cat%22%5D%3B%0AourArray.push(%5B%22happy%22%2C%20%22joy%22%5D)%3B%20%0A%2F%2F%20ourArray%20now%20equals%20%5B%22Stimpson%22%2C%20%22J%22%2C%20%22cat%22%2C%20%5B%22happy%22%2C%20%22joy%22%5D%5D%0A%0A%2F%2F%20Setup%0Ava

[2016-05-11 06:02] abbygrills opened #8564 "I cannot click in certain regions of the text editor"
Challenge [Create a Text Field](https://www.freecodecamp.com/challenges/create-a-text-field) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.94 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

I cannot click anywhere beyond the </ol> on line 46

[2016-05-11 07:38] raisedadead commented on #8551
Yes we could do that, the problem is our current testing framework would need some overhaul for this. For instance if we do not have a well defined function, then user would simply pass the challenge with

[code]

And the tests would be looking for these outputs.

I am not against this, but unless someone is up for modifying the way current infrastructure for detecting if a function was defined or

[2016-05-11 08:30] ranaamritparth opened #8565 "Similar code written in different style gives error!!"
Challenge [Generate Random Whole Numbers with JavaScript](https://www.freecodecamp.com/challenges/generate-random-whole-numbers-with-javascript
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.94 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]
![screen](

[2016-05-11 10:01] KrisGeyer opened #8566 "pal"
#### Challenge Name

Check for Palindrom

#### Issue Description

All other aspects have been passed. The final milestone of this challenge is proving to be difficult "0_0 (: /-\ :) 0-0". I believe my code satisfies the requirements but there is difficulty for my browser to understand this section: "/-\". If I try it with code that is "/-\\" it returns true for detection of a palindrome, so I thin

[2016-05-11 10:15] alkapwn3d commented on #8557
Akira

The code I gave you is the code I passed with. If I passed with wrong code
then there is your issue. I don't need your damn help. I need the issue
fixed.

On Tue, May 10, 2016 at 9:57 PM, Akira Laine <notifications@github.com>
wrote:

[2016-05-11 10:53] AkiraLaine commented on #8557
@alkapwn3d Could you attach a screenshot of passing the challenge? Also, what browser and OS are you using?

[2016-05-11 11:19] raisedadead commented on #8557
@alkapwn3d Thanks . With "All Due Respect" this is not reproducible.

![1](https://cloud.githubusercontent.com/assets/1884376/15179187/e2eb7994-1797-11e6-84d7-45f55133f963.png)

P.S :
Here is a [code of conduct](https://www.freecodecamp.com/code-of-conduct), I am sure you could use it.

Good luck!

[2016-05-11 11:19] #8557 closed

[2016-05-11 11:25] raisedadead commented on #8566
@KrisGeyer Thanks for the issue, but this last test case is a intentionally tricky but is valid.

Also, your code is not completely correct. You are close though.

GitHub Issues are for reporting bugs on the website only.
Please consult the [JavaScript Chat Room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for any assistance to Coding.

Happy Coding!

[2016-05-11 11:25] #8566 closed

[2016-05-11 11:27] raisedadead commented on #8565
Please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug)

Closing as duplicate of #7847

[2016-05-11 11:28] raisedadead commented on #8565
Sorry, about that

[2016-05-11 11:29] raisedadead commented on #8564
Please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug)

Closing as duplicate of #7847

[2016-05-11 11:29] #8564 closed

[2016-05-11 11:40] swapy opened #8567 "Instruction or objective is wrong in the question"
Challenge [Comparisons with the Logical Or Operator](https://www.freecodecamp.com/challenges/comparisons-with-the-logical-or-operator#?solution=%0Afunction%20testLogicalOr(val)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0A%20%20if%20(val%3E%3D10%20%7C%7C%20val%3C%3D20)%20%7B%0A%20%20%20%20return%20%22Outside%22%3B%0A%20%20%7D%0A%0A%20%20%2F%2F%20Only%20change%20code%20abo

[2016-05-11 11:44] raisedadead commented on #8563
@dmm10 Thanks for reporting this.

To contributors (First timers only :wink: ) :
Change this [line of code](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/basic-javascript.json#L1799) to reflect:

[2016-05-11 11:56] raisedadead commented on #8567
@swapy Thanks for the issue, but this is not a bug with the challenge. The `||` can be used to check the between condition.

I am tempted to give you a hint
`if (val>=10 || val<=20)` translate this into pure English and maybe you will get what's wrong

Something similar like union of sets?

Please consult the [JavaScript Chat Room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for any assistance

[2016-05-11 11:56] #8567 closed

[2016-05-11 12:14] renga78 opened #8568 "anchor tag is not working"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2016-05-11 12:15] Narduril opened #8569 "Escape Sequences in Strings - Exercise Bug?"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%20%3D%20%22%5C%5C%20backslash%20%5C%5C%20%5Ct%20tab%20%5Ct%20%5Ct%20tab%20%5Ct%20%5Cr%20carriage-return%20%5Cr%20%5Cn%20new-line%5Cn%22%3B%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/

[2016-05-11 12:37] ashekgo opened #8570 "Remainder challenge needs numbers directly used in modulo"
Challenge [Finding a Remainder in JavaScript](https://www.freecodecamp.com/challenges/finding-a-remainder-in-javascript#?solution=%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0Avar%20a%3D11%3B%0Avar%20b%3D3%3B%0Avar%20remainder%3B%0Avar%20remainder%3Da%20%25%20b%3B) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2

[2016-05-11 13:12] erictleung commented on #8570
@ashekgo thanks for the issue. Your answer will give the correct answer, but because our site is directed to beginner coders, this challenge is more simple than you think. The challenge simply wants you to take the remainder directly `remainder = 11 % 3`.

cc/ @FreeCodeCamp/issue-moderators worth changing? I was thinking we modify the `You should use the % operator` test to just look for the modul

[2016-05-11 13:21] erictleung commented on #8561
@dmm10 thanks for the issue. Because we're targeting beginner coders, we wanted the challenges to be simple enough to teach a concept but not overwhelm learners with other details. Same goes for #8562.

cc/ @FreeCodeCamp/issue-moderators worth accepting this prefix operation?

[2016-05-11 13:24] edward-hong commented on #7082
@QuincyLarson any update on this issue? I only need to finish this project to get my dataviz certificate, but I don't want to complete it and have Camper News API get retired afterwards

[2016-05-11 13:26] erictleung commented on #8569
@Narduril thanks for the issue but if you get stuck with a challenge, please ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: you solution should only have backslashes and characters, no words. Happy coding!

[2016-05-11 13:26] #8569 closed

[2016-05-11 13:29] erictleung commented on #8568
@renga78 thanks for the issue but there is an issue with your code. If you get stuck with a challenge, please ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: read the instructions carefully again and make sure you're following them. Happy coding!

[2016-05-11 13:29] #8568 closed

[2016-05-11 13:44] raisedadead commented on #8561
I remember this was [discussed earlier](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7611#issuecomment-200573519) and more times in the chat, we could add separate challenges for pre/post increments/decrements.

But this is going to be confusing for beginners. Maybe we could relax the tests to allow `pre` but not change the test case message.

So advanced campers who are attempting these as

[2016-05-11 13:59] erictleung commented on #8561
@raisedadead I agree on just accepting the answer for flexibility but not change the test messages.

I think editing [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/basic-javascript.json#L456) to the following will work. I'm not sure about escaping the parentheses but whoever takes this will have to check this.

[code]

T

[2016-05-11 14:00] erictleung commented on #8562
People wanting to fix this see [this comment](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/8561#issuecomment-218467713).

[2016-05-11 15:51] abinayams1010 opened #8571 "Add a Submit Button to a Form"
Challenge [Add a Submit Button to a Form](https://www.freecodecamp.com/challenges/add-a-submit-button-to-a-form#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobst

[2016-05-11 16:02] theflametrooper commented on #8571
Please check the test: `Your submit button should only have the text "Submit".` :+1:

Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help in future. Happy Coding!