[2017-02-15 12:40] pratickjha commented on #13355
I too faced same problem. It's best to work on a computer Mobile browser doesn't support all symbols so thes problems happen. Try it on chrome in your computer it will be fine

[2017-02-15 14:57] P4ndemic opened #13361 "Inventory Update test issues."
Challenge [Inventory Update](https://www.freecodecamp.com/challenges/inventory-update) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]
Now for the 5th testcase first of all I checked

[2017-02-15 14:58] mattmm41286 opened #13362 "Create a Bootstrap Headline"
![h3 element free code camp](https://cloud.githubusercontent.com/assets/25679003/22979668/85faa1a4-f3da-11e6-8d70-7e5a462409fd.png)
Not really sure what I am doing wrong.  I saw another post on this.  I closed off the H3 tag.  Any suggestions?

[2017-02-15 15:14] raisedadead commented on #13362
I can see that you have used, capitalizes `h` in the tags as in `<H3></H3>` and our tests are looking for `h3`.

The former may not be a standard practice is perfectly valid code. Keeping in tune with freeCodeCamp philosophy we focus on teaching concepts and not best/practice in the regular challenges, hence this valid code should be allowed.

I think we should allow the tests to accept this, but

[2017-02-15 15:15] minhthang294 opened #13363 "Global Scope and Functions issue"
Challenge [Global Scope and Functions](https://www.freecodecamp.com/challenges/global-scope-and-functions#?solution=%0A%2F%2F%20Declare%20your%20variable%20here%0Avar%20myGlobal%20%3D%2010%3B%0A%0Afunction%20fun1(oopsGlobal)%20%7B%0A%20%20%2F%2F%20Assign%205%20to%20oopsGlobal%20Here%0A%20%20oopsGlobal%20%3D%205%3B%0A%7D%0A%0A%2F%2F%20Only%20change%20code%20above%20this%20line%0Afunction%20fun2()%2

[2017-02-15 15:16] raisedadead commented on #13363
Please provide the details of the exact issue you are facing?

[2017-02-15 15:17] amandacsim commented on #13362
Stop
On Wed, Feb 15, 2017 at 10:16 AM mrugesh mohapatra <notifications@github.com>
wrote:

[2017-02-15 15:17] raisedadead commented on #13319
Please confirm if you were able to identify this as a false positive.

[2017-02-15 15:24] mattmm41286 commented on #13362
Okay that was simple.  Brand new to coding.  Thanks for the correction.

[2017-02-15 15:25] raisedadead commented on #13362
Hello @amandacsim !

Looks like you may have accidentally subscribed to all notifications for the freeCodeCamp repository. To stop receiving notifications please visit the

https://github.com/FreeCodeCamp/FreeCodeCamp/subscription

We are sorry for your inconvenience!

[2017-02-15 15:59] michaelzap94 commented on #13319
The result of my screenshot is the same as the expected result of the test that's failing.

[2017-02-15 16:09] Douglasdc3 commented on #13363
`function fun1(oopsGlobal)`

should be

`function fun1(oopsGlobal)`

[2017-02-15 16:48] PrepressNinja commented on #9859
The original critique is correct...the comment is wrong.  Reading the code from top to bottom (like we learn to do) and encountering a comment that says "// Only change code above this line" causes the student to STOP.  The correct solution requires editing BELOW the line (changing "return result" to "return result[val];").  This is a teaching tool for beginners. When you define a rule, don't expe

[2017-02-15 16:55] OFFLlNE commented on #9859
@PrepressNinja You are not meant to change the return line.
As Raisedadead said:
You are expected to return a string, and hence the var result has already been created as such, it can be assigned from a value from the array.

That's the intent of the challenge. IMHO the placement of the comment is correct.

[2017-02-15 17:08] shravan4000 opened #13364 "Issue with Freecodecamp Palindrome challenge"
#### Challenge Name
https://www.freecodecamp.com/challenges/check-for-palindromes

#### Issue Description
The issue occurs with one of the tests which fails when you actually execute the program. The failing test is palindrome("1 eye for of 1 eye.") should return false. This test fails even though my logic is correct as per the requirement of the challenge i.e. to remove all the spaces and special

[2017-02-15 17:32] AaroniusH commented on #13269
I've been seeing the same issue on chrome Version 56.0.2924.87.

It would be best if the results were automatically updated when the code changes, including when the new challenge loads. I know for me personally, I have to click "Run Tests" in order to render the new changes. If I get it right, the success pop-up comes up and asks to take me to the next challenge, when I really just want to review

[2017-02-15 17:54] flowerboy777 commented on #13351
Confirmed the code is accepted on latest version of Chrome. Must be an issue with Firefox.

[2017-02-15 20:18] cosmonaut98 opened #13366 "challenge 18"

[2017-02-15 20:20] staffordr commented on #11631
Just want to add that the previous challenge makes it even more confusing because it doesn't specify to declare the variable with the "var" keyword", explicitly stating that when anytime you declare a variable with "var", it will have a global scope.

I also had to refresh to get this challenge to pass without any change to the code. This one definitely needs updating, and maybe consider explainin

[2017-02-15 20:21] cosmonaut98 opened #13367 "Change the Font Size of an Element"
Change the Font Size of an Element

<style>
  .red-text {
    color: red;
    font-size: 16px
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

<p>Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere r

[2017-02-15 20:40] AaronM311 commented on #13366
I believe there should be a semicolon after the 16. Let me know if this
helps! :)

On Feb 15, 2017 3:21 PM, "cosmonaut98" <notifications@github.com> wrote:

[2017-02-15 22:12] oboynitro commented on #13359
check de class name

it does not match

ie. small-image and smaller-image
On Feb 15, 2017 4:32 AM, "HarryPeck" <notifications@github.com> wrote:

(KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36.

screenshots if possible.

rel="stylesheet" type="text/css">

cute orange cat lying on its back. ">

everywhere stretching attack your ankles chase the red dot, hairball run
catnip eat the grass snif

[2017-02-15 22:57] sgurnoor commented on #13364
You're also removing digits when you're not supposed to.
![screen shot 2017-02-15 at 5 56 31 pm](https://cloud.githubusercontent.com/assets/14129624/22999180/338eac6c-f3a8-11e6-88ca-62b119b5adc4.jpg)

[2017-02-15 23:22] amai49 opened #13369 "Use RGB to Mix Colors"
Challenge [Use RGB to Mix Colors](https://www.freecodecamp.com/challenges/use-rgb-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20rgb(225%2C0%2C0)%3B%0A%20%20%7D%0A%20%20.orchid-text%20%7B%0A%20%20%20%20color%3A%20rgb(218%2C112%2C214)%3B%0A%20%20%7D%0A%20%20.sienna-text%20%7B%0A%20%20%20%20color%3A%20rgb(160%2C82%2C45)%3B%0A%20%20%7D%0A%20%20.blue-text%20%7B

[2017-02-15 23:31] OFFLlNE commented on #13369
Thank you for reporting your issue.

Your code is wrong. red is (255,0,0)
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.

[2017-02-15 23:31] #13369 closed

[2017-02-15 23:50] Greenheart commented on #13157
I really like the idea of only using local variables in functions, but it feels like this challenge is trying to do too much at one time.

Maybe we could split the concepts into two smaller challenges:
### 1. Refactor Global Variables out of Functions
* Use similar `challengeSeed` to what we have now.
* The goal is to replace the global variable `bookList` with a function-parameter (that campers d

[2017-02-16 00:15] MrCookiez opened #13370 "Check for Palindromes Algorithm issue"

[2017-02-16 00:40] CjDawn38 commented on #13318
<p>Click here for <a #="http://www.freecatphotoapp.com">cat photos</a>.</p>
Doesn't recognize the dead link

[2017-02-16 00:50] cdrainxv commented on #13370
@MrCookiez: The error is in the logic of your code. How can you compare the strict equality of a string that has undergone lowering its case, removing its non-alphanumeric characters, and reversing its characters in place with the original unchanged str?

This is essentially what you are comparing:

`temp = "myageis00siegaym"` and  ` str = "My age is 0, 0 si ega ym"`

Does `"myageis00siegaym" ===

[2017-02-16 00:53] MrCookiez commented on #13370
Thanks

[2017-02-16 00:53] cdrainxv commented on #13367
Note: This page is for only reporting issues related to the functionality, maintenance, or improvement of the site. Questions regarding challenges should be posted in one of the various [Help Rooms](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390) fcc has to offer. I suggest the [Help](https://gitter.im/FreeCodeCamp/Help) room or even the forum itself. Thanks!

[2017-02-16 01:36] no-stack-dub-sack commented on #13370
@MrCookiez The issue tracker is for reporting bugs only, in the future, best places for help are out [gitter chatrooms](https://gitter.im/FreeCodeCamp/Help) and the [forum](www.forum.freecodecamp.com). Good luck and happy coding!

I'm closing this for now, if you feel I'm wring in closing it, please re-open and provide additional detail.

[2017-02-16 01:36] #13370 closed

[2017-02-16 01:44] no-stack-dub-sack commented on #13364
@shravan4000 it looks like @sgurnoor is correct. To simplify things, try using a regex character that matches several things at once, for instance check out what this regex does [here](http://www.myezapp.com/apps/dev/regexp/show.ws) `/[^\w]|_/` (select Javascript and don't include the first or last slash). Also, chaining your methods will save you several lines, e.g.
[code]

Keep in mind for the f

[2017-02-16 01:44] #13364 closed

[2017-02-16 02:10] refriga5 opened #13371 "Right or wrong"
Using CSS:

[code]

[2017-02-16 02:17] duper101 commented on #13371
Wrong.

<style>
  .blue-text {
    color: blue;
  }
</style>

[2017-02-16 02:22] refriga5 commented on #13371
It didn't paste correctly when it posted.
<style>
H2 {color: Blue;}
</style>

[2017-02-16 02:24] refriga5 commented on #13371
It did it again! Excuse me, I will get the the Github.

[2017-02-16 03:22] Sirjustin opened #13372 "oopsGlobal variable"
Without the oopsGlobalVariable the test will pass all but the last test.
myGlobal should be defined
myGlobal should have a value of 10
myGlobal should be declared using the var keyword
oopsGlobal should have a value of 5
**Do not declare oopsGlobal using the var keyword**

#### [Basic JavaScript: Global Scope and Functions](https://www.freecodecamp.com/challenges/global-scope-and-functions)

####

[2017-02-16 03:26] pamela113 commented on #12863
I'm having the same issue.  My code is the exact same:

var myStr = "I am a \"double quoted\"string inside\"double quotes\".";

am I missing something? Thanks!

[2017-02-16 03:29] texas2010 commented on #13367
@cosmonaut98
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-16 03:29] #13367 closed

[2017-02-16 03:31] texas2010 commented on #13317
@cbtaylor2
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-16 03:32] pamela113 opened #13373 "Quote escape"
Challenge [Escaping Literal Quotes in Strings](https://www.freecodecamp.com/challenges/escaping-literal-quotes-in-strings#?solution=%0Avar%20myStr%3B%20%2F%2F%20Change%20this%20line%0A%0Avar%20myStr%20%3D%20%22I%20am%20a%20%5C%22double%20quoted%20%5C%22string%20inside%20%5C%22double%20quotes%5C%22.%22%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWe

[2017-02-16 03:59] ajain17 commented on #12863
@pamela113 Your code is incorrect. It doesn't generate expected output. Check it again, it will work.

[2017-02-16 04:00] Geei opened #13375 "bug seen"
Challenge [Say Hello to HTML Elements](https://www.freecodecamp.com/challenges/say-hello-to-html-elements#?solution=%0A%3Ch1%3EHello%3C%2Fh1%3E%0A%3Ch1%3Ehello-word%3C%2Fh1%3E) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64; rv:51.0) Gecko/20100101 Firefox/51.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code

[2017-02-16 04:01] Geei commented on #13375
typo error

[2017-02-16 04:01] tabrza commented on #8808
Hello!
Appears that this problem has recurred. I'm getting the 522 error for the past couple of days when trying to access it freecodecamp. It was down for a few hours yesterday and now again today

[2017-02-16 04:01] erictleung commented on #13366
@cosmonaut98 Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/fre

[2017-02-16 04:01] #13366 closed

[2017-02-16 04:05] erictleung commented on #13371
@refriga5 Thank you for reporting this issue. Please do fill out the issue template when making an issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list o

[2017-02-16 04:05] #13371 closed

[2017-02-16 04:47] erictleung commented on #13375
Closing as resolved. Happy coding!

[2017-02-16 04:47] #13375 closed

[2017-02-16 04:48] erictleung commented on #13373
@pamela113 Thank you for reporting this issue. You're almost there. Watch your spacing to match exactly what is asked in the challenge.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You

[2017-02-16 04:48] #13373 closed

[2017-02-16 07:06] TheRealChrisEdwards opened #13376 "[beta] Basic CSS: "Change the Color of Text" Challenge Issue"
Challenge [change-the-color-of-text](http://beta.freecodecamp.com/en/challenges/basic-css/change-the-color-of-text) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:51.0) Gecko/20100101 Firefox/51.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

"message: your h2 element should be red."
Does not return a succes

[2017-02-16 08:00] CataciD commented on #13363
The challange is bugged

[2017-02-16 08:19] raisedadead commented on #13363
@minhthang294 @CataciD please reset the code with the reset button, you should not be passing the `oopsGlobal` as a parameter.

Please reachout to [JavaScript Chat Room](https://gitter.im/FreeCodeCamp/HelpJavaScript) or the [Forum](https://forum.freecodecamp.com) for further assistance.

[2017-02-16 08:19] #13363 closed

[2017-02-16 08:23] raisedadead commented on #13372
The below code should fail at the last test case:

[code]

[2017-02-16 08:24] raisedadead commented on #13372
Need to update the tests to check if the `oopsGlobal is assigned 5 or not`

[2017-02-16 08:42] xgqfrms opened #13377 "please adding i18n & L10n support ?"
# please adding **i18n & L10n** support ?

[2017-02-16 12:36] sanjayk722 opened #13378 "Manipulate Arrays With pop"
Challenge [Manipulate Arrays With pop](https://www.freecodecamp.com/challenges/manipulate-arrays-with-pop#?solution=%0A%2F%2F%20Example%0Avar%20ourArray%20%3D%20%5B1%2C2%2C3%5D%3B%0Avar%20removedFromOurArray%20%3D%20ourArray.pop()%3B%20%0A%2F%2F%20removedFromOurArray%20now%20equals%203%2C%20and%20ourArray%20now%20equals%20%5B1%2C2%5D%0A%0A%2F%2F%20Setup%0Avar%20myArray%20%3D%20%5B%5B%22John%22%2C%

[2017-02-16 12:47] jamos-tay opened #13379 "Misleading example code for challenge"
#### Challenge Name

[Coding Interview Data Structure Questions: Create a Set Class](http://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/create-a-set-class)

#### Issue Description

For this challenge, the user is asked to write an add function for a set. The description gives a template function which takes in no parameters:

![image](https://cloud.githubuserconte

[2017-02-16 14:15] ekvale commented on #11255
Check your spelling.

[2017-02-16 14:23] Code3824379 opened #13381 "Responsively Style Checkboxes"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-16 14:27] LFri commented on #13348
Thanks OFFLINE.  I tried your three suggestions, and the code works in all three situations in my browser, but freecodecamp will still not pass the function for this test:
smallestCommons([23,18]); -- works for all three suggestions, but still not @ freecodecamp.com

[2017-02-16 15:54] atjonathan commented on #13378
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2017-02-16 15:54] #13378 closed

[2017-02-16 16:40] Greenheart opened #13382 "[beta] Unclear instructions and tests for "Coding Interview Data Structure Questions: Create a Hash Table""
Challenge [create-a-hash-table](http://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/create-a-hash-table)

1. It's unclear that the `remove()` method should override the key with `null`. It's tested for but not written anywhere except in the test cases.
2. It might be unclear how collisions should be handled efficiently. I think the following sentences suggest an ar

[2017-02-16 16:56] shravan4000 commented on #13364
@sgurnoor  @no-stack-dub-sack  Thank You for your help

[2017-02-16 17:31] Greenheart opened #13383 "[beta] Minor improvements for "Coding Interview Data Structure Questions: Work with Nodes in a Linked List""
Challenge [work-with-nodes-in-a-linked-list](http://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/work-with-nodes-in-a-linked-list) has an issue.

1. "Instructions" should be replaced with a `<hr>`.
2. Missing semicolon on the last line of the `challengeSeed`.

[code]

[2017-02-16 17:42] LFri opened #13384 "binaryAgent challenge -- freecodecamp won't pass the function, but it works in my browser"
The following function works in my browser for both freecodecamp tests for the binaryAgent challenge....but will not pass in the freecodecamp window.

The tests are:
binaryAgent("01000001 01110010 01100101 01101110 00100111 01110100 00100000 01100010 01101111 01101110 01100110 01101001 01110010 01100101 01110011 00100000 01100110 01110101 01101110 00100001 00111111");

and

binaryAgent("01001001 0

[2017-02-16 17:56] TurtleWolf commented on #12840
looking into the same thing right now.. did you ever get an answer? Is it a bug?

[2017-02-16 18:00] abhijeetthecode commented on #13382
I'll work on this. Please assign me this issue. Thanks

[2017-02-16 18:03] TurtleWolf commented on #11411
@rocnogu, I think it is a matter of discipline.. this particular 'bug' is slightly intentional to make sure a student doesn't just copy paste their way to a certificate, but actually reads and comprehends what they are doing.. It's an ingenious form of social engineering, it's like watching a crack in the matrix, This thread is art!

[2017-02-16 18:03] abhijeetthecode commented on #13376
I'll sort it out. Please assign me this issue before I can begin working. Thanks

[2017-02-16 18:18] Brittanyw58 commented on #12840
I looked through the bugs page and found someone who had the right coding and it worked.
I think it was closer to the bottom or on page 2.

[2017-02-16 18:23] SimplySpoons commented on #13320
@QuincyLarson Did you have a chance to take a look at this? :) Thanks again!

[2017-02-16 18:33] TurtleWolf commented on #12840
I think we get focused on the buttons we were just working with.. I was ignoring the 'radio' buttons further down.. but i think it's neat to see so many people making the same assumption.. it's like duh.

[2017-02-16 19:10] reddevilutd opened #13385 "Immutability"
Challenge [Understand String Immutability](https://www.freecodecamp.com/challenges/understand-string-immutability#?solution=%0A%2F%2F%20Setup%0Avar%20myStr%20%3D%20%22Jello%20World%22%3B%0AmyStr%20%3D%20%22Hello%20World%22%3B%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0AmyStr%5B0%5D%20%3D%20%22H%22%3B%20%2F%2F%20Fix%20Me%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windo

[2017-02-16 19:13] #13385 closed

[2017-02-16 20:34] Greenheart opened #13386 "[beta] Some tests not working for "Coding Interview Data Structure Questions: Remove Elements from a Linked List""
Challenge [remove-elements-from-a-linked-list](http://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/remove-elements-from-a-linked-list) has an issue.

The following code works as expected, but doesn't pass the tests. I've spotted a few problems with the tests in the seed-file and I'll go ahead and fix them right away.

[code]

[2017-02-16 20:37] Manish-Giri commented on #13383
@Greenheart I'll do this!

[2017-02-16 20:39] Manish-Giri commented on #13372
I'll try to fix this...

[2017-02-16 21:19] papajon0s1 commented on #11288
Ah... thanks for this.  Missed the trailing space....

[2017-02-16 21:50] Greenheart commented on #13382
@abhijeetthecode Thanks for contributing! :+1:

Come chat with us in the [Contributors chat room](https://gitter.im/FreeCodeCamp/Contributors) if you need any help :smile:

[2017-02-16 22:53] pamela113 commented on #12863
@ajain17 I see what you are talking about.  Thanks!

[2017-02-16 23:27] Greenheart opened #13390 "[beta] Unclear instructions for "Coding Interview Data Structure Questions: Create a Doubly Linked List""
Challenge [create-a-doubly-linked-list](http://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/create-a-doubly-linked-list) has some minor issues with the instructions:

1. Some paragraphs are split in the middle of sentences.
2. "Instructions" needs to be replaced with a `<hr>` (see other sections for examples)
3. `<code></code>` tags to highlight key words like meth

[2017-02-16 23:30] duongngoc111292 opened #13391 "Y"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-16 23:32] Manish-Giri commented on #13390
@Greenheart I can take this up too...

[2017-02-16 23:43] Greenheart commented on #13390
@Manish-Giri Thanks!

I just found some issues with the tests that prevents the challenge from being completed at all. I'll fix this right away, but feel free to fix the points of the original post! :blush:

[2017-02-16 23:45] Manish-Giri commented on #13390
@Greenheart Ah okay, understood!

[2017-02-16 23:53] #13391 closed

[2017-02-16 23:56] erictleung commented on #13381
@Code3824379 Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/fre

[2017-02-16 23:56] #13381 closed

[2017-02-16 23:56] Greenheart commented on #13390
@Manish-Giri Seems like I missed [these lines](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/08-coding-interview-questions-and-take-home-assignments/coding-interview-data-structure-questions.json#L1259-L1287).

My solution uses ES6 `class`es, which explains why the ES5-way of adding these hidden utility methods doesn't work.

@Manish-Giri Should we rewrite the tail to m

[2017-02-16 23:59] erictleung commented on #13377
Closing as related to https://github.com/freeCodeCamp/freeCodeCamp/issues/11057, https://github.com/freeCodeCamp/freeCodeCamp/issues/13037, https://github.com/freeCodeCamp/freeCodeCamp/issues/7195, and https://github.com/freeCodeCamp/freeCodeCamp/issues/13037. If you'd like to help out with translation efforts, please head over to the [TranslationExpansion](https://github.com/freeCodeCamp/Translat

[2017-02-16 23:59] #13377 closed

[2017-02-17 00:29] Eliphas33 opened #13392 "Dead Link not recognized!!"
Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-f

[2017-02-17 00:47] nickademas943 commented on #13376
this challenge is also not working for me.

[2017-02-17 01:17] rmdawson71 opened #13393 "delete this"

[2017-02-17 01:19] #13393 closed

[2017-02-17 01:20] rmdawson71 commented on #13356
Anybody have a chance to look at this yet?

[2017-02-17 02:05] cdrainxv commented on #13376
@nickademas943 @TheRealChrisEdwards: Use `rgb(255, 0, 0)` instead of `red` for now. I submitted a PR to fix this issue.

[2017-02-17 02:35] cdrainxv commented on #13392
@Eliphas33: Your code is incorrect. `href` is an **attribute** and it's current ***value*** is the http url. The instruction states:

Note: This page is for only posting issues relating to the functionality, maintenance, or improvement of the site. If you want help/guidance in the challenges please seek help from other campers in the various [help rooms](https://forum.freecodecamp.com/t/free-code-

[2017-02-17 02:38] al3tte commented on #13376
It is returning the same error for me including the rgb. Here is my syntax: `<h2 style="color: rgb(255, 0, 0)">CatPhotoApp</h2>` Tried hex and using a semicolon at the end before the last quote as well.

[2017-02-17 02:53] Manish-Giri commented on #13390
@Greenheart

Couldn't agree more. Always good to have the option of being able to use the latest versions.

As for simplifying the `print()` and `printReverse()` methods to `values()`, were you thinking of something on the lines of iterating the linked list both ways and storing the node values in two different arrays in `values()` itself, and then printing it? Or, iterate in one direction and jus

[2017-02-17 03:02] erictleung commented on #13392
@Eliphas33 Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free-

[2017-02-17 03:02] #13392 closed

[2017-02-17 03:08] cdrainxv commented on #13384
@LFri: Your code doesn't output the expected string for the test cases. For instance, instead of `Aren't bonfires fun!?` and `I love FreeCodeCamp!`, your outputs are: `Aren't bonfires fun!` and `I love FreeCodeCamp`.

Note: This page is for posting issues related to the direct functionality of the site. Challenge related issues and concerns is best suited for the various [help rooms](https://forum

[2017-02-17 03:14] vberrios opened #13394 "Issue"
Challenge [Local Scope and Functions](https://www.freecodecamp.com/challenges/local-scope-and-functions) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.112 Safari/537.36</code>.

This challenge sucks

My code:
[code]

[2017-02-17 03:21] akramabdulrahman opened #13395 "mouse cursor freezes"
Challenge [Add Placeholder Text to a Text Field](https://www.freecodecamp.com/challenges/add-placeholder-text-to-a-text-field#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-fam

[2017-02-17 04:59] raisedadead commented on #13395
Duplicate of #7847

[2017-02-17 04:59] #13395 closed

[2017-02-17 05:19] #13379 closed

[2017-02-17 08:58] jamos-tay commented on #13311
Hi, could I work on this?

[2017-02-17 09:02] Dipanshu27 commented on #13376
It is working i have compile the code and found no error and able to change the colour

[2017-02-17 09:12] jamos-tay commented on #13311
@Greenheart Hi, could I work on this?

[2017-02-17 09:47] Greenheart commented on #13390
@Manish-Giri

Exactly :blush:

The `values()` method would replace `print()` and `printReverse()`, two utility functions that only are used in the tests. The challenge still asks campers to implement `add()` and `remove()` so I don't think the difficulty would be affected. Rather, this would make it easier to use an ES6 class as campers can see what code they need to rewrite to allow their new met

[2017-02-17 09:49] Greenheart commented on #13311
@jamos-tay Sure! :smile:

[2017-02-17 11:32] chrisscotthall commented on #12472
How can I help out?

[2017-02-17 12:24] hugoroger opened #13397 "Question Loads With Partial Solution"
Challenge [Specify How Fonts Should Degrade](https://www.freecodecamp.com/challenges/specify-how-fonts-should-degrade#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%2

[2017-02-17 13:32] al3tte commented on #13376
@Dipanshu27 Perhaps I'm missing something else? Here is a screenshot, it isn't registering that the correct answer has been given: it still keeps saying that I need to try again after the color of the element has clearly changed.

![image](https://cloud.githubusercontent.com/assets/25273475/23066953/0c01fbba-f4eb-11e6-9ade-c16d2503acfe.png)

[2017-02-17 14:01] parkhabit commented on #6657
Thank you so much. I'm finding the wording of this section on objects far more confusing than it should be.

[2017-02-17 14:04] Dipanshu27 commented on #13376
You can compile that code in different compiler, you should probably get
the error free code

On 17 Feb 2017 19:04, "Allison Jeanette" <notifications@github.com> wrote:

[2017-02-17 14:32] elrolfe opened #13400 "[beta] Basic JavaScript: Divide one Decimal by Another with JavaScript Test 3 Failing"
#### Challenge Name
[Basic JavaScript: Divide one Decimal by Another with JavaScript](https://beta.freecodecamp.com/en/challenges/basic-javascript/divide-one-decimal-by-another-with-javascript)

#### Issue Description
Test 3 (The quotient variable should only be assigned once) is not passing valid code.

#### Browser Information

* Browser Name, Version: Chrome 56.0.2924.87 (Official Build) (32-bi

[2017-02-17 14:32] erictleung commented on #13394
@vberrios thanks for the constructive criticism. Can you elaborate on your concern over this challenge? I'm not sure what your pain point for this challenge is as there wasn't much feedback on why you're having issues.

[2017-02-17 14:44] elrolfe commented on #13400
This bug appears to come up when an incorrect answer is submitted first, then it won't accept the correct answer afterwards.  I ran into the same issue with another challenge [Basic JavaScript: Escaping Literal Quotes in Strings](https://beta.freecodecamp.com/en/challenges/basic-javascript/escaping-literal-quotes-in-strings).  In both cases, I reloaded the page, which also reloaded the correct cod

[2017-02-17 14:52] elrolfe commented on #13351
I've run into this same problem on some of the tests.  What I've seen is that if incorrect code is submitted first, and then corrected, the correct code doesn't pass the tests.  When the page is reloaded, the FCC site pulls in the last submitted code (the corrected code), and the tests pass without code modification.

[2017-02-17 15:17] al3tte commented on #13376
Yep, that was it. Switched to Chrome and it worked. Must be an issue with Firefox. Thank you :relieved:

[2017-02-17 15:55] Dipanshu27 commented on #13376
Your welcome😃

On 17 Feb 2017 20:49, "Allison Jeanette" <notifications@github.com> wrote:

[2017-02-17 16:09] suresh2291 opened #13402 "missing; before statement"
Challenge [Introducing Else Statements](https://www.freecodecamp.com/challenges/introducing-else-statements#?solution=%0Afunction%20testElse(val)%20%7B%0A%20%20var%20result%20%3D%20%22%22%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%0A%20%20if%20(val%20%3E%205)%20%7B%0A%20%20%20%20result%20%3D%20%22Bigger%20than%205%22%3B%0A%20%20%7D%0A%20%20%0A%20%20else%20(val%20%3C%3D

[2017-02-17 16:15] OFFLlNE commented on #13402
Thank you for reporting your issue.

Your code is wrong. else does not want (statement) there. so remove the (val <= 5) after else
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also

[2017-02-17 16:15] #13402 closed

[2017-02-17 16:31] suresh2291 commented on #13402
Thank you
After posting the issue here,  i have tries as you mention above.It worked.

[2017-02-17 17:02] RoniqueRicketts opened #13403 "Project Landing page"
Challenge [build-a-product-landing-page](http://beta.freecodecamp.com/en/challenges/applied-responsive-web-design-projects/build-a-product-landing-page) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible

[2017-02-17 17:35] ronaldblanco commented on #13140
Hello;

I am having that same problem, all the test give the right number but the page does not get it as pass.
Did you find were was the problem?

This is my code and I have tried in firefox an internet explorer:

var permArr = [], usedChars = [];
function permute(input) {
  var i, ch, chars = input.split("");
  for (i = 0; i < chars.length; i++) {
    ch = chars.splice(i, 1);
    usedChars.push(

[2017-02-17 17:43] romprzy commented on #12351
I just used Polish character inside alt attribute and it didn't work. After removing that character it works.

[2017-02-17 17:51] ronaldblanco opened #13405 "Challenge "No repeats please" do not process the correct numbers"
The code is giving the right numbers but the page does not process the tests or is doing it incorrectly, the only correct test is 'returning a number' even that all the others numbers a have tried are OK.
First time I have a problem like this in freecodecamp tests.

Challenge [No repeats please](https://www.freecodecamp.com/challenges/no-repeats-please#?solution=var%20permArr%20%3D%20%5B%5D%2C%20u

[2017-02-17 17:54] Greenheart commented on #13390
@Manish-Giri I created a solution that meets the requirements of this challenge.

[code]

If this `values()` method is used with `.reverse()`, it can effectively replace the `print()` and `printReverse()` methods.

If we see value in traversing the list from the other way around, I also experimented with combining both use cases into a single method that has a parameter.

[code]

[2017-02-17 17:55] erictleung commented on #13405
@ronaldblanco you have global variables in your code. The tests run the function `permAlone` over and over so any global variables in your code will change with each test, which will have undesirable results. Move your global variables into your function and you should be able to debug more effectively. Your code is incorrect as `permAlone('aab')` returns 6 and not 2, as specified in the challenge

[2017-02-17 17:55] #13405 closed

[2017-02-17 17:57] erictleung commented on #13403
@RoniqueRicketts thanks for catching this. Yes, the URL should have `/full/` not `pen`.

[This line of code](https://github.com/freeCodeCamp/freeCodeCamp/blob/32e3210352ac21590646605f497b43406fafd3c0/seed/challenges/01-responsive-web-design/responsive-web-design-projects.json#L250) needs to be edited.

Please first read the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blo

[2017-02-17 18:00] erictleung commented on #13400
@elrolfe thanks for the issue. I'm unfortunately unable to reproduce your issue. I've tested it on Chrome and Firefox.

cc/ @freeCodeCamp/moderators anybody else can reproduce?

[2017-02-17 18:04] erictleung commented on #13397
@hugoroger thanks for the issue. The point of the challenge is to see how the font degrades once your code doesn't have access to the font set. You're asked to comment out some code, not add in the degradation of the font.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Fre

[2017-02-17 18:09] erictleung commented on #13397
@hugoroger mmm reading the challenge a little bit more, I think I understand what your issue was. You're saying half of the challenge was "solved" because we've already given you an `h2` element that will degrade its font.

cc/ @freeCodeCamp/moderators challenge too "easy"? Should we remove the `Monospace` from the `h2` CSS rule to allow campers to add it themselves?

[2017-02-17 18:24] amandaporto commented on #13403
I'd like to pick up this issue and make the change :)

[2017-02-17 18:33] raisedadead commented on #13397
@erictleung I am up for updating the challenge a bit. This would need re-wording the challenge as well.

For absolute new comers this could be a tiny bit daunting. However I am fine, if its reworded aptly.

Also, the partially solved problem is because we are running the challenge test on load on the main website, which is not the case on the beta site.

[2017-02-17 18:40] systimotic commented on #13400
I can't reproduce either. @elrolfe Can you share the exact wrong answer you used? Can you also try running the same thing in a different browser?

[2017-02-17 18:45] ronaldblanco commented on #13405
Thanks erictleung, the global variable was important for the correct result, I could eliminate it but having your comment in mind I close it in another function and it worked OK.
So, thank you very much.

[2017-02-17 19:57] #13210 closed

[2017-02-17 20:00] pratikr1593 opened #13407 "Issue in Convert Html Entities: Unable to pass this bonfire even after desired results on the console"
Challenge [Convert HTML Entities](https://www.freecodecamp.com/challenges/convert-html-entities#?solution=%0Afunction%20convertHTML(str)%20%7B%0A%20%20%2F%2F%20%26colon%3B%26rpar%3B%0A%20%20%0A%20%20var%20placeHolder%3Dstr.split(%22%22)%3B%0A%20%20%0A%20%20for(var%20i%3D0%3Bi%3CplaceHolder.length%3Bi%2B%2B)%7B%0A%20%20%20%20%0A%20%20%20%20switch(placeHolder%5Bi%5D)%7B%0A%20%20%20%20%20%20%20%20%0A

[2017-02-17 20:03] raisedadead opened #13408 "Update URLs for example app"
We need to update the links in the challenges from `https://atjonathan.github.io/catphotoapp/` to `http://freecatphotoapp.com/`

Changes are to be made here:
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/01-responsive-web-design/applied-visual-design.json#L1140

and here:
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/01-responsive-web-design/

[2017-02-17 20:12] #13261 closed

[2017-02-17 20:15] nellarro commented on #13408
I can take it! @raisedadead :)

[2017-02-17 20:28] raisedadead commented on #13408
@nellarro please go ahead! Good luck. Here are the [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md).

[2017-02-17 20:34] #13403 closed

[2017-02-17 20:54] elrolfe commented on #13400
If I recall correctly, the first thing I did on the page was to click "Run Tests" to make sure not all of the tests passed without doing anything.  After that, I put in the correct answer and got the error.  I tried reproducing the error in Incognito mode, but it worked fine.  I also tried IE 11.0.9600.18537, but the page wouldn't load correctly after multiple refreshes and restarts of IE.  A scre

[2017-02-17 21:03] lukashanak opened #13409 "Local Scope and Functions issue with commented code."
Challenge [Local Scope and Functions](https://www.freecodecamp.com/challenges/local-scope-and-functions#?solution=%0Afunction%20myLocalScope(myVar)%20%7B%0A%20%20myVar%20%3D%205%3B%20%0A%20%20%0A%20%20console.log(myVar)%3B%0A%7D%20%0A%2F%2Fvar%20myVar%20%3D%20300%3B%20%20%0A%2F%2F%20line%207%20is%20what%20I%20am%20%20talking%20about..%20If%20I%20commend%20it%2C%20I%20succesful%20finish%20the%20cha

[2017-02-17 21:50] Atomk commented on #12979
@Greenheart Working on it, I'm also removing :hover from the next challenges until :hover is introduced. I'm sorry it is taking so much time, I'm just making sure I understand the contributor guidelines and Git from command line is less user-friendly than expected.

[2017-02-17 22:05] Sirjustin opened #13411 "Missing Semicolon in example code"
#### Object Oriented Programming: Understand the Immediately Invoked Function Expression

http://beta.freecodecamp.com/en/challenges/object-oriented-programming/understand-the-immediately-invoked-function-expression-iife

#### Missing Semicolon in example code

When you follow the example text you are missing a semicolon so I assume that it is a mistake. Please let me know if this isn't an appropr

[2017-02-17 22:49] nellarro commented on #13408
Donezo :). Thanks!

[2017-02-17 22:54] QuincyLarson commented on #13327
@JosephLivengood you are currently the most knowledgable person on our back end challenges and projects. Would you be interested in exporting these boilerplates from GoMix into as few GitHub repos as necessary and giving them proper names?

We can then hop on a Skype call and transfer these repos to freeCodeCamp organization's GitHub account. Then when we make changes to these, we can update the b

[2017-02-17 23:35] JosephLivengood commented on #13327
@QuincyLarson I can definitely take this issue, was about to volunteer to :+1:

**At first glance there are a few options:**

- Keep them in **this** repository _(which could aid in maintaining them and raising/fixing issues)_ like:
[code]
_(with better package names)_

- Do the same (keeping them all in 1 repo with good packaging) but just in a fcc-boilerplates repo instead of this one

- Splitti

[2017-02-18 01:04] nick-hegarty opened #13412 "Added class and created CSS style width but nothing changes and won't let me fix issue"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20class%3D%22smaller-image%22%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20L

[2017-02-18 01:25] fonsecapontes commented on #13412
@nick-hegarty you forgot add the class smaller-image to your img object.

You code must be this <img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back." class="smaller-image">

[2017-02-18 01:28] nick-hegarty commented on #13412
Wow quick response, I skipped ahead and saw my mistake.  Perhaps it is passed my bed time and I should retry with fresh eyes. Thank you!!!

[2017-02-18 01:29] QuincyLarson commented on #13327
@JosephLivengood I'd also love for these to all be in the same repo, but by having them in separate repos, we significantly simplifying things for campers who just want to clone a repo:
![](https://www.evernote.com/l/Ar_rK5U1TR1FgKV3UCGwobhLPmwJdbTA4nAB/image.png)

This will be the case with campers building these locally. Then instead of telling campers to use a specific boilerplate, we can inste

[2017-02-18 01:39] QuincyLarson commented on #12472
All right everyone, the only thing left on this list is the YouTube descriptions. I'm going to create a separate issue for that. Thanks everyone!

[2017-02-18 01:39] #12472 closed

[2017-02-18 01:40] #13362 closed

[2017-02-18 01:44] lydatech commented on #13376
Same issue found in FireFox. Works in Chrome. Please fix. Asking the end user to swap browsers isn't a fix

[2017-02-18 01:49] JosephLivengood commented on #13327
@QuincyLarson Would that mean users wanting to build on gomix will instead of remixing just import?

If we keep gomix users remixing and local users get a quick lesson on _sparse clones_ it may work as well. Either way I'm good, would the many repos needed by on a new freecodecamp account as to not spam this one?

[2017-02-18 02:18] jahzryl opened #13413 "how can i insert it to .smaller-image?"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2017-02-18 02:46] QuincyLarson commented on #13289
@tommygebru thanks for your feedback. We are going to stick with the current UI for now so we can focus on shipping this branch to production. Then we can make further incremental changes from there.

[2017-02-18 02:46] #13289 closed

[2017-02-18 02:51] cdrainxv commented on #13407
@pratikr1593: Your HTML entity for apostrophes (`'`) is missing an `;`.

Note: This page is only for reporting issues. This seemed like a request for help. Please click on the 'help' button for help with challenge related questions in the chat room for that specific challenge.

[2017-02-18 02:51] QuincyLarson commented on #13327
@JosephLivengood my thinking is these would all be under the freeCodeCamp organization. We might even be able to ask GoMix if they could create a URL that creates a project from a GitHub project - sort of a "GoMix this" URL. Then we could have the best of both worlds - a single source of truth, and a quickly deployable boilerplate.

[2017-02-18 02:57] JosephLivengood commented on #13327
@QuincyLarson Got it- fully behind!

I can start creating them working backwards and hopefully transfer the ownership tomorrow

_Also, great interview today!_

[2017-02-18 03:06] #13311 closed

[2017-02-18 03:14] AgathaLynn commented on #13413
Is there an issue with the challenge? It's not working the way it's supposed to?

If the problem is just that your code isn't passing the test (or you aren't sure what to do), you might want to go back and look at the challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element).

To add a class to `img`, you'll add the code `class="wh

[2017-02-18 03:29] QuincyLarson commented on #13327
@JosephLivengood Thanks! :) It was awesome talking with Haseeb!

OK - I'll reach out to GoMix and request this feature.

[2017-02-18 03:35] Margaret2 commented on #13413
Github issues are only for reporting bugs. If you need help with a challenge, please ask in the Help chat room on Gitter: https://gitter.im/freecodecamp/help

[2017-02-18 03:50] Azbo400 commented on #13412
@nick-hegarty By the way, issues are for reporting bugs not issues your having with your code. Make sure you ask for help first in one of the freeCodeCamp rooms such as the [help room](https://gitter.im/FreeCodeCamp/Help) 😄

[2017-02-18 05:13] smkatz opened #13419 "add image to webpage lacks valid path (extension)"
add image to webpage lacks valid path (extension)

#### Challenge Name
Add Images to your Website

#### Issue Description
"Try it with this image:

https://bit.ly/fcc-relaxing-cat" needs an extension.
https://www.freecodecamp.com/challenges/add-images-to-your-website

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### S

[2017-02-18 06:40] #13408 closed

[2017-02-18 06:58] BerkeleyTrue commented on #13241
It looks like there are only a few instances of 'includes'. Replacing these with  indexOf  would be a better option instead of adding a large pollyfill for a small convenience.

[2017-02-18 07:10] anujsinghwd commented on #7296
create a second p element with any kitty ipsum text and it works .

[2017-02-18 09:02] carlilejs commented on #13241
@BerkeleyTrue No-stack-dub-sack mentioned that the React curriculum uses .includes, and thus a polyfill is better since the app needs to be supported on every browser.

[2017-02-18 09:27] TheAaronCovington commented on #13400
I encountered this bug as well, I was finally able to work around it by reloading the browser.  Doing a reset on my code did not work.  Very strange.

[2017-02-18 10:46] anujsinghwd commented on #13413
Inside the img tag add the class=".smaller image" and it works perfectly

[2017-02-18 11:52] naphelge commented on #13147
@ Manish-Girl I ran to the exact same problem, unfortunately your explanation does not resolve the issue. Instructions read:

and Result warning reads:

There is no mention of "executing" any "operations... on them" at this step, so this would definitely seem to be a bug that needs to be addressed.

[2017-02-18 11:56] nadeemkhan commented on #9764
try this it worked for me var myStr = "FirstLine\n\\SecondLine\\\rThirdLine"; // Change this line

[2017-02-18 11:57] mother46 opened #13421 "Translate"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-18 13:56] texas2010 commented on #13413
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-18 13:56] #13413 closed

[2017-02-18 14:35] Greenheart commented on #12979
@Atomk No problem, take your time! The commandline can be pretty daunting at first, but over time it will become your best friend to get things done :relaxed:

If you have any questions, feel free to come chat with us in the [Contributors room](https://gitter.im/FreeCodeCamp/Contributors) :smile:

[2017-02-18 14:58] Mohammadaliy00019 opened #13423 "Problem with dead link??"
[code]

[2017-02-18 15:32] peepadoza opened #13424 "Conditions are right, but some tests show wrong output"
Challenge [Counting Cards](https://www.freecodecamp.com/challenges/counting-cards#?solution=%0Avar%20count%20%3D%200%3B%0A%0Afunction%20cc(card)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20if(card%3E%3D2%20%26%26%20card%3C%3D6)%7B%0A%20%20%20%20count%2B%2B%3B%0A%20%20%20%20return%20count%20%2B%20'%20Bet'%3B%0A%20%20%7D%20else%20if(card%3E%3D7%20%26%26%20card%3C%3D9)%7

[2017-02-18 15:37] #13424 closed

[2017-02-18 16:38] Tzukit122 opened #13425 "I followed exactly the instructions for blue text, but I couldn't proceed with the next challenge even if I ensured there was no issue"
Challenge [Use RGB to Mix Colors](https://www.freecodecamp.com/challenges/use-rgb-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20rgb(255%2C0%2C0)%3B%0A%20%20%7D%0A%20%20.orchid-text%20%7B%0A%20%20%20%20color%3A%20rgb(218%2C112%2C214)%3B%0A%20%20%7D%0A%20%20.sienna-text%20%7B%0A%20%20%20%20color%3A%20rgb(160%2C82%2C45)%3B%0A%20%20%7D%0A%20%20.blue-text%20%7B

[2017-02-18 16:38] Tzukit122 opened #13426 "I followed exactly the instructions for blue text, but I couldn't proceed with the next challenge even if I ensured there was no issue"
Challenge [Use RGB to Mix Colors](https://www.freecodecamp.com/challenges/use-rgb-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20rgb(255%2C0%2C0)%3B%0A%20%20%7D%0A%20%20.orchid-text%20%7B%0A%20%20%20%20color%3A%20rgb(218%2C112%2C214)%3B%0A%20%20%7D%0A%20%20.sienna-text%20%7B%0A%20%20%20%20color%3A%20rgb(160%2C82%2C45)%3B%0A%20%20%7D%0A%20%20.blue-text%20%7B

[2017-02-18 16:42] rarmatei commented on #13397
As @erictleung suggested, how about if the `h2` tag becomes this:
[code]
And then re-word the challenge as:

Regarding @raisedadead worry about it being too daunting, I noticed there's a complete example (with a `p` element) right above the challenge text on making an element "font degrading safe", so if they just follow that example, it shouldn't be difficult to solve it.

Once you decide on how

[2017-02-18 16:50] Parad0xJ commented on #13075
Hi,
I have them problem with beta version. I can't see my public profil, when I click to "Shom my profil public" I go directly to map.
Google Chrome : Version 56.0.2924.87
Windows 10

[2017-02-18 16:55] rarmatei commented on #13411
Even if you copy the example into the main work area, you get a warning about a missing semicolon, so I assume you are correct. I'll pick this up for a PR. Thanks for submitting the issue!

[2017-02-18 17:01] atjonathan commented on #13421
Closing as stale. Please reopen if this is a legitimate issue!

[2017-02-18 17:01] #13421 closed

[2017-02-18 17:03] atjonathan commented on #13423
Please provide more details on what challenge this issue is occurring, and what the issue is.

[2017-02-18 17:18] #13303 closed

[2017-02-18 17:30] raisedadead opened #13428 "[beta] How to Create a Circular Queue : Instructions need to be clearer"
Refers changes from : https://github.com/freeCodeCamp/freeCodeCamp/pull/13308

The instructions sections ned to be more clear, step by step as the tests are currently. The introduction part is clear. But the instructions need to be step to step.

[2017-02-18 17:39] griffinf3 opened #13429 "Filter method fails in "Diff Two Arrays" challenge"
#### Challenge Name
Diff Two Arrays 

#### Issue Description
Results the same with two different methods (filter and index); index method passes the challenge and filter method does not.

#### Browser Information
* Browser Name, Version:  IE 11
* Operating System:  Windows 10
* Mobile, Desktop, or Tablet:  Desktop

#### Your Code
[code]

[2017-02-18 17:53] texas2010 commented on #13425
@Tzukit122
Thanks for reporting this. But you got typo in your code.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-18 17:53] #13425 closed

[2017-02-18 17:53] texas2010 commented on #13426
@Tzukit122
Thanks for reporting this. But you got typo in your code.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-18 17:53] #13426 closed

[2017-02-18 17:57] texas2010 commented on #13412
@nick-hegarty
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-18 17:57] #13412 closed

[2017-02-18 17:57] texas2010 commented on #13412
@fonsecapontes
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-02-18 18:18] #13411 closed

[2017-02-18 18:28] #13204 closed

[2017-02-18 19:21] #13386 closed

[2017-02-18 19:35] JosephLivengood commented on #13327
@QuincyLarson Looks like a total of 20 boilerplates. I've created them all and imported to each. We can connect on Skype later to transfer them over

Im going to look at merging all the microservice project boilerplates into 1 (most are nearly identical at this point already except the readmes have the user stories which will be on fcc already anyways). Also a couple sections use a couple boilerpl

[2017-02-18 19:50] Atomk opened #13430 "[beta] Can't load code for challenge "Applied Visual Design: Set the Font-size for Multiple Heading Elements""
#### Challenge Name

[Applied Visual Design: Set the Font-size for Multiple Heading Elements](http://beta.freecodecamp.com/en/challenges/applied-visual-design/set-the-fontsize-for-multiple-heading-elements)

#### Issue Description

The page loads the challenge description and tests but the code editor and the small "console output" box under the buttons show an infinite loading animation. The Deve

[2017-02-18 19:58] fixtheelvis opened #13431 "[beta] Test error: Intermediate Algorithm Challenge - Missing Letters"
The test  fearNotLetter("abcdefghjklmnopqrstuvwxyz") is supposed to return undefined because there's supposed to be no letters missing in the string. However, the letter "i" is very clearly missing. My solution is correct and passes all tests and returns undefined when the string above has the missing i.

I hope this helps you guys catch this error

[2017-02-18 20:06] raisedadead commented on #13348
@LFri

I am bit unclear when you state that it works in all three situations, but not on freeCodeCamp.com

To be sure:

- You are on a mobile device as per your opening post.
- Did you try the challenge on a desktop where it works but, fails on a mobile.
- Can you clarify what you mean exactly when you say it works on browser and fails in freecodecamp.com?

[2017-02-18 20:07] raisedadead commented on #13348
Can you please share screen shots of the challenge to help us better understand your issue?
Thanks a lot.

[2017-02-18 20:07] raisedadead commented on #13357
Please clarify further as requested.

[2017-02-18 20:07] #13357 closed

[2017-02-18 20:08] raisedadead commented on #13394
Please clarify as requested.

[2017-02-18 20:08] #13394 closed

[2017-02-18 20:14] raisedadead commented on #13430
Confirmed

![2017-02-19 01 42 56](https://cloud.githubusercontent.com/assets/1884376/23096539/f7a423e0-f644-11e6-988f-434733fa35b1.gif)

/cc @BerkeleyTrue

[2017-02-18 20:17] raisedadead commented on #13429
@griffinf3 thanks for the issue, can you please share the link to the challenge and the complete code with the screen shots of the page.

[2017-02-18 20:24] raisedadead commented on #13419
@smkatz
`https://bit.ly/fcc-relaxing-cat` is a shortened URL for `https://s3.amazonaws.com/freecodecamp/relaxing-cat.jpg`

That said, I can understand your confusion when you see this in the instructions, well the shortened URL should work in any case, but can be confusing for some.

./cc @freeCodeCamp/moderators thoughts?

[2017-02-18 20:28] raisedadead commented on #13409
We do have an issue with commented code not working. This is also the case on beta.

[2017-02-18 20:28] raisedadead commented on #13409
/cc @freeCodeCamp/moderators

[2017-02-18 20:34] Greenheart commented on #13419
I guess we could maintain a set of redirection links, so campers see `https://freecodecamp.com/public/images/relaxing-cat.png` instead of the bit.ly link. But I doubt it would be worth the effort of maintaining the redirects.

Another idea is to clarify what the link stands for - **Note: the exact contents of the link is not important - all you need to know is that the `src` attribute allow us to

[2017-02-18 20:46] Greenheart commented on #13409
Sorry, but I'm not sure I understand the issue here.

Given the following challenge seed code:
[code]

to pass this challenge:
1. add a local `myVar`
2. remove the `console.log()` call outside of the function.

Then the following code passes the tests
[code]

[2017-02-18 20:52] Greenheart commented on #13409
@lukashanak I think the issue with your code above is that the `'use strict'` option is disabled, which causes your code to behave differently.

Without strict mode, variables declared without for example `var` in front will be turned into global variables, which should prevent the tests from passing.

What I find strange though is that the commented line actually makes the challenge pass. Since y

[2017-02-18 20:57] raisedadead commented on #13409
Yup and I notice that this is the case in the beta as well. I guess adding `using strict;` in the seed is one way to go. But that's gonna lead to unwanted issues, all together.

[2017-02-18 20:57] Greenheart commented on #13430
I've seen this exact error several times the last month.

[2017-02-18 20:59] Greenheart commented on #13409
@raisedadead Maybe we could add a hidden `'use strict'` in the `head`-section of the challenge?

[2017-02-18 21:02] systimotic commented on #13400
@elrolfe @TheAaronCovington Thanks for testing this out!
IE/Edge not working is a known issue, we're working on it!

@elrolfe If you try this again in

This challenge was updated recently in https://github.com/freeCodeCamp/freeCodeCamp/commit/927308bc7f126cd725ea8cb47bc022b93e635f2d, so it is possible that there were cache issues.

What confuses me is that 1) these changes are no longer visible in

[2017-02-18 21:31] griffinf3 commented on #13429
link to challenge: https://www.freecodecamp.com/challenges/diff-two-arrays

code:
function isEqual(value) {
  return value === this;
}

function diffArray(arr1, arr2) {
  var newArr = [];
  // Looping through arr1 to find elements that do not exist in arr2
  for (var i = 0; i < arr1.length; i++) {

   var arr3 = arr2.filter(isEqual, arr1[i]);
  if (arr3.length === 0)
 //   if (arr2.indexOf(arr1[i]

[2017-02-18 21:37] systimotic commented on #13397
@rarmatei Sounds good to me! A PR would be great!

[2017-02-18 21:41] bonham000 commented on #13428
I'd be happy to help with this if needed — in addition, I've been watching for that other PR on the adv. data structures and algorithms to be merged before continuing with some other revisions I'd like to see in this section.

[2017-02-18 21:49] Greenheart commented on #13428
@bonham000 Glad to hear that! You can take this if you want, I've got plenty of tasks already :smile:

What PR? I'll see i  I can find it.

[2017-02-18 22:41] Parad0xJ opened #13432 "[Beta]Certificate is not accessible/profil public same thing"
Hi all,

I have finished all challenges until "Your Responsive Web Design Certificate" .
But I can't see my certificate  "Responsive Web Design Certificate"
 And I can't acces to my profile Public, them problem of this issue https://github.com/freeCodeCamp/freeCodeCamp/issues/13075

#### Issue Description

 Each time I click on " Show me my profil public" I have this Alert : "Oops! Something went

[2017-02-18 22:53] rkdnc opened #13434 "Cursor/position issue."
Not challenge specific, but when you start a new challenge, where you click in the text interpreter doesn't align where the cursor appears. You may click in one spot to begin typing, but end up a few rows down and mess up your code until you click again.

[2017-02-18 23:14] RichardHerzog opened #13435 "Quick-add of bootstrap in codepen adds bootstrap V4"
Challenge [Build a Tribute Page](https://www.freecodecamp.com/challenges/build-a-tribute-page) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.

As shown in the video, I added bootstrap to my codepen project for the tribute page. By default codepen (currently) uses the following version:

https:/

[2017-02-18 23:38] Gardemarin opened #13436 "[Beta] Issue Traker project 404 Error"
#### Challenge Name: Issue Tracker

http://beta.freecodecamp.com/challenges/information-security-and-quality-assurance-projects/issue-tracker

#### Issue Description

I completed "Issue Tracker" and was working on "Anonymous Message Board" project when started getting 404 Error mistake. It looks like that I can't make POST, GET or another request. It shows that server can't  find ```/api/issues/``

[2017-02-19 00:00] #13436 closed

[2017-02-19 01:03] #5716 closed

[2017-02-19 01:03] elrolfe opened #13437 "[beta] "ES6: Mutate an Array Declared with const" passes test 3 without the array being sorted"
#### Challenge Name
[ES6: Mutate an Array Declared with const](http://beta.freecodecamp.com/en/challenges/es6/mutate-an-array-declared-with-const)

#### Issue Description
To begin with, I added `"use strict";` to the top of the code, and commented out the second assignment of s so the code would compile.  I expected the third test (Test s is sorted) to fail, but it passed.

#### Browser Informatio

[2017-02-19 01:05] smkatz commented on #13419
I love FCC. However, as someone who has some familiarity with HTML and CSS,
and some difficulty with certain elements of syntax, I notice that
sometimes things are not explained as completely as a book would do. I
understand all of the above and what I would suggest is at some point
talking about paths -- relative paths, absolute paths, and supported file
extensions. Uploading a .psd is not going

[2017-02-19 01:38] bonham000 commented on #13428
[This one](https://github.com/freeCodeCamp/freeCodeCamp/pull/13219), it's only on the singly linked list so I could go ahead with the circular queue here. I was planning on revising that after originally working on these challenges.

[2017-02-19 02:58] glauberfc opened #13438 "Error to try solve challenges in Microsoft Edge Mobile"
#### Increment a Number with JavaScript

https://www.freecodecamp.com/challenges/increment-a-number-with-javascript

#### Issue Description

I trying to solve challenges in my smartphone, but always that I click on backspace, for to correct a error of typing, occurs a problem, appear little red circles on the terminal and I can't to continue solving the challenge.

#### Browser Information

* Brow

[2017-02-19 03:23] LFri commented on #13348
raisedadead, The "three situations" are in OFFLINE's first reply to me.

The challenge works for all tests on my desktop browser, Chrome, as stated in my first posting.   The last test, smallestCommons([23,18]); works in my browser, but fails @ freecodecamp's window.

[2017-02-19 04:11] eddiefrye67 opened #13439 "RGB Numbers and Wording Does Not Match. Please correct. Thank you."
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-19 04:13] #13439 closed

[2017-02-19 04:13] eddiefrye67 commented on #13439
It was an example.

[2017-02-19 04:20] jamos-tay commented on #13361
Hi @P4ndemic,

The code fails test case 5 because it's calling `reduce` on an empty array which throws an error. `reduce` cannot be called on an empty array unless an `initialValue` is provided as a second parameter. Try replacing your second line with this:
[code]

[2017-02-19 04:56] noone396 opened #13440 "Hex colors Orange and Raspberry not registering"
Challenge [learn-about-tertiary-colors](http://beta.freecodecamp.com/en/challenges/applied-visual-design/learn-about-tertiary-colors) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

[2017-02-19 04:59] hugoroger commented on #13397
@erictleung , that's exactly what I meant.  :)

Thanks guys!

[2017-02-19 05:13] erfe1 opened #13441 "BAN"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-19 05:18] noone396 opened #13442 "[beta] Not registering teal color in hsl"
Challenge [adjust-the-tone-of-a-color](http://beta.freecodecamp.com/en/challenges/applied-visual-design/adjust-the-tone-of-a-color) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

[2017-02-19 05:27] noone396 opened #13443 "Beta FreeCodeCamp Challenges"
I've been using the beta version of the new freecodecamp for a few days now and I am loving the updates. I think a good improvement would be to have the next challenge already loaded with the before results instead of having to click on the "Run test" before starting it.

[2017-02-19 07:21] TheRealChrisEdwards commented on #12677
Still having problems with Basic CSS challenges:
1. Change the Color of Text
2. Use CSS Selectors to Style Elements
posted my info & screenshots in [#10595](https://github.com/freeCodeCamp/freeCodeCamp/issues/10595)

[2017-02-19 07:39] TheRealChrisEdwards commented on #10595
Challenge [[beta]use-css-selectors-to-style-elements](http://beta.freecodecamp.com/en/challenges/basic-css/use-css-selectors-to-style-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:51.0) Gecko/20100101 Firefox/51.0</code>.

[code]
![screen shot 2017-02-19 at 1 11 28 am](https://cloud.githubusercontent.com/assets/23082884/23100295/1b58bd2a-f643-11e6-90

[2017-02-19 07:41] #13441 closed

[2017-02-19 08:12] raisedadead commented on #13434
Duplicate of #7847
Workaround is mentioned here https://github.com/freeCodeCamp/freeCodeCamp/issues/7847#issuecomment-270299746

[2017-02-19 08:12] #13434 closed

[2017-02-19 08:15] raisedadead commented on #13438
We need help in reproducing and confirming the root cause of this issue. Screenshots and logs of the browser console would help.

[2017-02-19 08:20] raisedadead commented on #13443
@noone396 thanks for reporting. Closing in favor of older issue https://github.com/freeCodeCamp/freeCodeCamp/issues/12923

[2017-02-19 08:20] #13443 closed

[2017-02-19 08:21] raisedadead commented on #13269
@Marvive @AaroniusH thanks for the issue report and feedback. Closing in favor of earlier report https://github.com/freeCodeCamp/freeCodeCamp/issues/12923

[2017-02-19 08:21] #13269 closed

[2017-02-19 09:11] Greenheart commented on #13428
@bonham000 Sounds good, tell me if you need anything!

[2017-02-19 09:13] #13352 closed

[2017-02-19 09:22] #13383 closed

[2017-02-19 09:29] KhalifKahin opened #13447 "Your p element should contain the first few words of the provided additional kitty ipsum text."
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

![image](https://cloud.githubusercontent.com/assets/25877762/23101197/b8f99b5c-f69e-11e6-8e75-59b04a0e5c80.png)
![freecode camp](https://cloud.githubusercontent.com/assets/25877762/23101207/e0c1d258-f69e-11e6-8740

[2017-02-19 09:36] Manish-Giri commented on #13447
@KhalifKahin The text was this -

You have `Putt` instead.

For help with issues like these in future, please visit the help room (linked above).

[2017-02-19 09:53] BroBlitx opened #13449 "Target the Parent of an Element Using jQuery- Objectives are unclear"
Challenge [Target the Parent of an Element Using jQuery].

User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36</code>.

Please describe how to reproduce this issue, and include links to screenshots if possible.

- objective 1 doesn't check itself after applying given code.
- objective 3 doesn't check itself after applying give

[2017-02-19 09:55] #13397 closed

[2017-02-19 09:58] KhalifKahin commented on #7296
Your p element should contain the first few words of the provided additional kitty ipsum text.
![freecode camp](https://cloud.githubusercontent.com/assets/25877762/23101371/fd148712-f6a2-11e6-92ee-1419a87d347f.png)
please help me to fix that problem

[2017-02-19 10:32] raisedadead commented on #13449
I can pass the challenge with your code above, try a reset and re-try or in an incognito window with all add ons disabled.

[2017-02-19 10:33] #13447 closed

[2017-02-19 11:54] github2552 commented on #6435
$("#target4").html("<em>#target4</em>");

[2017-02-19 12:05] LFri commented on #13384
@cdrainxv: thanks.  I thought it was a glitch with freecodecamp's functionality, hence posted here.  You are correct. Thanks!

[2017-02-19 12:07] LFri commented on #13348
@raisedadead, you need to be working on this challenge @ freecodecamp to understand this issue.

[2017-02-19 13:33] raisedadead commented on #13348
@LFri

Hey Lisa,

This issue is going no where, unless we have the clarification that are needed on queries we have. So once again I request you to kindly:

1. State the difference between the your browser and freeCodeCamp? Do you mean you run the challenges on the freeCodeCamp website which fails your code but you are able to pass it somewhere else in the browser?

2. Can you share the screenshot

[2017-02-19 13:33] #13348 closed

[2017-02-19 14:36] LalMasta commented on #4997
i had the same issue with shake, got it work by making the "C" in .addClass capital letter

[2017-02-19 16:44] glauberfc commented on #13438
**1 - I access the challenge and I type something on terminal.**

<img src="https://cloud.githubusercontent.com/assets/15311858/23104152/276042aa-f6a7-11e6-86a0-7d6d3de13418.png" width="300">

**2 - I delete the character that I had typed and a little red circle appear.**

<img src="https://cloud.githubusercontent.com/assets/15311858/23104169/5b7931be-f6a7-11e6-9c79-f2320766bdff.png" width="300">

[2017-02-19 17:03] johntyree commented on #9657
My own two cents as an experienced developer is that this problem teaches newcomers that it's totally normal and acceptable for your functions to return completely different types depending on arbitrary input conditions. I know javascript is not statically typed, but this is the stuff that bugs are made of.

I'd suggest having it at least tag the return value with the type in some way, such as `{r

[2017-02-19 18:08] carlosvigil commented on #13314
Same issue, running latest safari

[2017-02-19 18:24] carlosvigil opened #13450 "[beta] Small-Medium Breakpoint, Dropdown Menu UI issue on hover"
#### Hamburger Menu

#### Issue Description
Setting window to half my screen size creates a UI/UX issue when using the Menu. Essentially, it's only useable if you click and move your mouse up from underneath the menu; adding a gif for a better representation.

#### Latest

- Safari Version 10.0.3 (12602.4.8)
- Firefox 51.0.1 (64-bit)
- Chrome Version 56.0.2924.87 (64-bit)

macOS Sierra 10.12.3 (16

[2017-02-19 18:31] carlosvigil commented on #13450
+ Chrome, originally only found it in the other two browsers, but it appeared after leaving the home page on chrome (when in a challenge page). Will check IEdge for consistency.

[2017-02-19 18:58] Greenheart commented on #13442
@noone396 Thanks for reporting this issue!

I can confirm that the previous challenge uses `hsl(180, 100%, 50%)` while the one you reported the issue for only accepts `hsl(178, 80%, 25%)`. There are two things I find confusing:

1. [Adjust the Hue of a Color](http://beta.freecodecamp.com/en/challenges/applied-visual-design/adjust-the-hue-of-a-color) presents the describes the color as "cyan", whil

[2017-02-19 19:04] Greenheart commented on #13440
@noone396 I don't think this is an issue, you're just using other colors than what's tested for.

Try using the colors from the instructions :blush:

[2017-02-19 19:06] #13440 closed

[2017-02-19 19:10] Greenheart commented on #13437
@elrolfe Thanks for reporting this issue!

We currently have some issues testing the transpiled ES6 code, and because of that the ES6 challenges don't work properly. In this case though, there are no tests - just comments explaining what we should test for once the test framework is updated.

But despite that, feel free to work through the challenges and give feedback! :blush:

[2017-02-19 19:10] #13437 closed

[2017-02-19 19:13] Greenheart commented on #13435
@RichardHerzog Thanks for reporting this issue!

A hint on the webpage would be helpful, but I'm not sure where to add it so that as many as possible would see it.

Another option could be to update the challenge about responsive images (and probably the other Bootstrap challenges as well) once Bootstrap 5 is released.

[2017-02-19 19:21] Greenheart commented on #13432
@Parad0xJ Thanks for reporting this issue!

I tried to get my JS algorithms certificate and it didn't work either. To be honest, I think this has to do with how the beta version of the site is set up. I suspect we need to wait until the new curriculum is released to the main site (https://freecodecamp.com) before we can get our certificates.

I'd recommend you to continue working through the next

[2017-02-19 19:39] Greenheart commented on #13419
@smkatz Thanks for your thoughtful feedback! :+1:

I really like the idea of adding a challenge (to the Basic HTML section?) explaining how links work by giving a couple of examples.

#### Here's a few types of links I can think of from the top of my head:
* Relative - `/some/nice/image.png`
* Absolute - `https://example.com/some/nice/image.png`
* Using the protocol that was used to get the curren

[2017-02-19 19:43] Greenheart commented on #13419
Like your example with the `.psd` file, we could also add a challenge to explain different image (or file-) formats. Then we could explain why some images don't work on the web, even though they work in other environments outside of the browser.

[2017-02-19 19:48] Greenheart commented on #13407
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-02-19 19:48] #13407 closed

[2017-02-19 19:50] Greenheart commented on #13384
I'm closing this as resolved. Thanks @cdrainxv for triaging and happy coding to you both! :blush:

[2017-02-19 19:50] #13384 closed

[2017-02-19 19:54] Greenheart commented on #13351
@elrolfe That's a good description of what I think is happening as well.

Another thought of why this issue might be happening is that jQuery's `.css()` method doesn't work properly in Firefox. Funny enough, the test for this challenge happens to use that exact method :stuck_out_tongue:

`$("h2").css("color") === "rgb(255, 0, 0)"`

[2017-02-19 20:06] AdannaGithub opened #13451 "myVar++; is not accepted, is my code correct?"
Challenge [increment-a-number-with-javascript](https://beta.freecodecamp.com/en/challenges/basic-javascript/increment-a-number-with-javascript) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.76 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[2017-02-19 20:18] noone396 commented on #13442
Awesome! I would love you guys to teach me. I've never done a PR before.
Although, I think the issue has already been fixed. I just checked and it's
been updated from cyan to teal.

On Sun, Feb 19, 2017 at 1:00 PM, Samuel Plumppu <notifications@github.com>
wrote:

[2017-02-19 21:03] mare011rs opened #13452 "Portfolio contact form - sending email"
#### Challenge Name

#### Issue Description
Hey guys, I made it to the "make a portfolio" part and now I'm struggling on making a contact form. No matter what I do it always opens "New Mail" in outlook when I hit submit. Is it possible to have it just send an email to a predetermined (my) email?

#### Browser Information

* Browser Name, Version:  Chrome 56.0.2924.87 (64-bit)
* Operating System: W

[2017-02-19 21:13] bonham000 commented on #13428
Submitted fix: https://github.com/freeCodeCamp/freeCodeCamp/pull/13453

[2017-02-19 21:13] Greenheart commented on #13442
@noone396 Glad to hear that!

The previous challenge ([Adjust the Hue of a Color](http://beta.freecodecamp.com/en/challenges/applied-visual-design/adjust-the-hue-of-a-color)) still uses "cyan".

#### There's potentially two things to fix:
1. Do you think we should update [these lines](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/01-responsive-web-design/applied-visual-

[2017-02-19 21:20] alchermd commented on #11716
Has this issue been fixed? I have finished the Front End Certification as well, and I'm getting a template image when I try to download it.

[2017-02-19 21:32] tibbitson opened #13454 "I am getting errors? saying its not red"
Challenge [Use RGB to Mix Colors](https://www.freecodecamp.com/challenges/use-rgb-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20rgb(225%2C0%2C0)%0A%20%20%7D%0A%20%20.orchid-text%20%7B%0A%20%20%20%20color%3A%20rgb(218%2C112%2C214)%0A%20%20%7D%0A%20%20.sienna-text%20%7B%0A%20%20%20%20color%3A%20rgb(160%2C82%2C45)%0A%20%20%7D%0A%20%20.blue-text%20%7B%0A%20

[2017-02-19 21:50] LFri commented on #13348
I guess I assumed that the folks who would respond to this posting understood the basics of how freecodecamp works, and would want to know about this potential glitch in that system.  Instead, the responses (except for @OFFLINE who showed good knowledge of the situation and some very wise suggestions, tyvm!!) have not shown an understanding of the freecodecamp challenge system.
To reproduce this e

[2017-02-19 21:50] RichardHerzog commented on #13435
@Greenheart I'd put a hint right below the video, since it shows the quick-add feature. Alternatively, or even in addtion, one could put a hint in the [precedent challenge (slide 6/7)](https://www.freecodecamp.com/challenges/get-set-for-our-front-end-development-projects), where the quick-add feature is also shown.

[2017-02-19 21:56] imcodingideas opened #13455 "Cannot read property 'length' of null"
Challenge [catch-off-by-one-errors-when-using-indexing](http://beta.freecodecamp.com/en/challenges/debugging/catch-off-by-one-errors-when-using-indexing) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Its throwing an error: "Cannot read property 'length' of null" however; in my brow

[2017-02-19 21:59] noone396 commented on #13442
I think we should keep the color "cyan" in both challenges to keep it
consistent. Overall, I think "cyan" blends better than "teal" in the
"Applied Visual Design: Adjust the Tone of a Color" challenge.

Thanks for the contributing guide. I'll update the changes as soon as
possible.

Thanks again for the help :).

On Sun, Feb 19, 2017 at 3:17 PM, Samuel Plumppu <notifications@github.com>
wrote:

[2017-02-19 22:10] Jamayk opened #13456 "Return Largest Numbers in Arrays - should check for negative numbers"
Challenge [Return Largest Numbers in Arrays](https://www.freecodecamp.com/challenges/return-largest-numbers-in-arrays).

On the automated tests for passing this exercise, you should also have a test with only negative numbers also, like: largestOfFour([[**-1, -3, -6, -25**], [13, 27, 18, 26], [32, 35, 37, 39], [1000, 1001, 857, 1]]);

If you don't do array.sort and try to find the max in each sub-

[2017-02-19 22:14] imcodingideas commented on #13454
I think it's because you don't have the ; there. I just went to test this and it worked perfectly for me.

[2017-02-19 22:32] QuincyLarson commented on #13327
@JosephLivengood sounds good! I've reached out to GoMix and asked them about the "create a project from a GitHub repo" URL.

If the readmes are similar, we should try to figure out a way to collapse some of them into the same boilerplate. That way we won't have to maintain as many projects. We can talk about this when we skype. I'm available at your convenience.

[2017-02-19 22:41] QuincyLarson commented on #9657
@johntyree thank you for your feedback.

I agree that even though JS isn't statically typed, we should teach learners to have these return a similar data structure regardless of the result.

Would you be willing to help us update this challenge, its tests, and its instructions? We would welcome a PR from you.

[2017-02-19 22:49] CyanCool opened #13457 "How Fonts Should Degrade Instructions Unclear"
#### Challenge Name

[Specify How Fonts Should Degrade](https://www.freecodecamp.com/challenges/specify-how-fonts-should-degrade#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20%3C!-

[2017-02-19 22:59] ingochris commented on #13452
I would use server-side scripting.
Alternatively, pass with `window.open('mailto:mare011rs@gmail.com?subject=subject&body=body');`

[2017-02-19 23:10] Greenheart commented on #13435
@RichardHerzog What video?

The slides would be a great place to add this tip, since it already has related information :+1:
Since you reported this, maybe you would like to fix this? Me and other contributors would be happy to guide you through the process :blush:

[This](http://beta.freecodecamp.com/en/challenges/applied-responsive-web-design-projects/get-set-for-our-responsive-web-design-projec

[2017-02-19 23:12] cdrainxv commented on #13457
@CyanCool: The instructions say to comment out your call to the google web font. You made that call by including the `<link>` element at the top of your code in the previous challenge. Now comment out the google web font **link**.

Note: This page is for only posting issues. Challenge related questions should be asked in the [help](https://gitter.im/FreeCodeCamp/Help) room. Thanks!

[2017-02-19 23:14] Greenheart commented on #13442
@noone396 Sure, let's go with cyan!

No problem! Good luck :)

[2017-02-19 23:25] BerkeleyTrue commented on #13241
@carlilejs Understood, but those can also be refactored. I don't see the need add babel-polyfil to fix a minor issue.

[2017-02-19 23:29] BerkeleyTrue commented on #13430
Including the link shown in the error would be extremely helpful in debugging this.

Does moving from the previous challenge to this challenge also show the same errors?

[2017-02-19 23:33] fonsecapontes commented on #13412
@texas2010 you are right, I'll help in chats

[2017-02-19 23:39] #13236 closed

[2017-02-19 23:40] Atomk commented on #13430
@BerkeleyTrue No, moving from the previous challenge the code in the editor is shown correctly, but the error in the console is still there. Also, reloading the page shows the same error reported in this issue.
What kind of link do you need? Is this okay?

![error](https://cloud.githubusercontent.com/assets/6122017/23107855/03ebec6c-f705-11e6-9dd1-3e1d711d0d2a.PNG)

[2017-02-19 23:43] BerkeleyTrue commented on #13430
Can anyone replicate this error in development?

[2017-02-19 23:57] cdrainxv commented on #13454
@tibbitson: You are using the wrong rgb() values for both the red-text and blue-text classes. You are currently using `225` instead of the actual value of `255`. Also make sure to affix a `;` at the end of the rgb() values.

Note: This page is only for reporting issues. Challenge related questions should be asked in the [help](https://gitter.im/FreeCodeCamp/Help) room.

[2017-02-20 00:06] smkatz commented on #13419
I have always been a believer in open source... and would be happy to
contribute in this way. I was trying to master some shell stuff today which
is what delayed me. I'll forgive you for having the same name as me.

On Sun, Feb 19, 2017 at 1:45 PM Samuel Plumppu <notifications@github.com>
wrote:

[2017-02-20 00:14] wanderlust22 commented on #13457
Hey, I had the same problem as you. I think the test is just wrong. When you comment out the google font LINK, as the directions tell you, it doesn't pass.

After looking through another post, I did what they did and commented out the h2. So --

Again, I'm brand new to this but it doesn't make sense to me. I think it's a bug. Anyway, do what I did and you can move on to the next lesson!

[2017-02-20 01:41] Mweyola opened #13458 "whats wrong with this code? i need some help finding why it wont work"
#### Challenge Name

#### Issue Description

#### Browser Information
im using visual studio 2015 community edition

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code
[code]
#### Screenshot

[2017-02-20 02:05] erictleung commented on #13458
@Mweyola Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free-co

[2017-02-20 02:05] #13458 closed

[2017-02-20 02:14] erictleung commented on #13455
@imcodingideas you've removed too much code (`len` variable) and it is causing the tests errors. This challenge needs to be updated.

Here are some suggestions, but not limited to:

- Put some comments in the seed code so that it guides the camper to edit the appropriate code.
- The test messages should be simpler to understand. They seem a bit vague in describing what is expected of the camper.

[2017-02-20 02:15] erictleung commented on #13454
@tibbitson
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free-

[2017-02-20 02:15] #13454 closed

[2017-02-20 02:25] erictleung commented on #13457
@CyanCool thanks for the issue. I think the instructions are sufficient, but I can see why you wrote your code as you did.

Just strictly looking at the example code, you might think to just mess around with the CSS rules, which is incorrect for this challenge.

What we might want to do is to reword the last sentence of the challenge to something like this:

[2017-02-20 02:43] erictleung opened #13459 "Learn How a Stack Works Insufficient Tests"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/learn-how-a-stack-works

#### Issue Description

The challenge tests are insufficient and can be passed with incorrect code. The code shown below can pass the challenge but it doesn't use any of the JavaScript methods to complete the challenge.

#### Browser Information

* Browser Name, Versio

[2017-02-20 02:44] Manish-Giri commented on #13459
I'll take this up...

[2017-02-20 02:44] erictleung commented on #13452
@mare011rs Thank you for reporting this issue. GitHub issues are for bugs on the site, not programming help. Please use the chat rooms for more help.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific c

[2017-02-20 02:44] #13452 closed

[2017-02-20 02:45] Manish-Giri commented on #13457
@erictleung I'll take this up...

[2017-02-20 02:47] Manish-Giri commented on #13455
@erictleung I'll take this up..

[2017-02-20 03:16] QuincyLarson commented on #13327
@BerkeleyTrue we've shifted all the boilerplates over to freeCodeCamp's organization. We can now one-click create GoMix projects from a GitHub repo using a URL.

@JosephLivengood is going to update all of the backend challenges in the seed file to communicate which boilerplates each challenge should use and provide one-click links to create these GoMix projects.

[2017-02-20 03:28] erictleung commented on #13400
@systimotic [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/02-javascript-algorithms-and-data-structures/basic-javascript.json#L690) is the line of code for this trouble test. Probably has to do with the weird inclusion of the tail code we've kinda touched on [here](https://github.com/freeCodeCamp/freeCodeCamp/pull/11987#discussion_r92950694).

[2017-02-20 04:04] rudolphh commented on #13056
It isn't showing as completed, with a green check mark.  though all tests do pass.

[2017-02-20 05:14] raisedadead commented on #13348
@LFri

Hey Lisa,

My sincerest apologies, but as a matter of fact we get hundreds of issues everyday, and tens of changes as pull requests to the codebase everyday. So YES, we need very precise issue descriptions to help us help you. This is a voluntary effort which keeps getting back to you.

I have gone through the issue at least three times over to understand your query.

Screenshots maybe a wa

[2017-02-20 06:42] Greenheart commented on #13430
@BerkeleyTrue I can reproduce with Firefox 51.0.1 (64-bit) on Ubuntu 16.04.

![1](https://cloud.githubusercontent.com/assets/6125097/23114484/9e7a4f5a-f73f-11e6-91b7-30ff5f608df1.png)
![2](https://cloud.githubusercontent.com/assets/6125097/23114485/9e801c46-f73f-11e6-87c2-83351e6c70bb.png)
![3](https://cloud.githubusercontent.com/assets/6125097/23114486/9e8259ac-f73f-11e6-8c03-3f5d4cc35298.png)
![

[2017-02-20 06:43] Greenheart commented on #13056
@rudolphh Could you post your code here, to help us reproduce? :blush:

[2017-02-20 07:01] Greenheart commented on #13419
@smkatz Glad to hear that! :smile:
I think a good work flow could be to create an outline for the challenge as a comment in this issue. Then me and other contributors can 1. give feedback and 2. help you get the challenge added to the website.

So don't worry about having a local environment for the moment - let's focus on how to structure the challenge. Here are some [guidelines to help with the

[2017-02-20 07:34] raisedadead commented on #11716
Opening and blocking it until release.

[2017-02-20 07:35] raisedadead commented on #13428
Thanks @bonham000 !

[2017-02-20 07:39] QuincyLarson opened #13460 "Design the hint button and functionality"
We've talked about creating a hint button that will pop up a hint.

There are a few questions we must first answer:
- do we want to allow for several hints? Where each time a button is clicked, a progressively more explicit hint is revealed? Or do we just want one good hint per challenge?
- do we want to use the toast system, or just reveal the hint below the challenge description, where it can be

[2017-02-20 07:42] mithun2017 commented on #3374
Problem:-Give the text input in your form the class form-control.
My code: <form action="/submit-cat-photo" class="form-control" input-type="text">
    <div class="row">
      <div class="col-xs-6">
        <label><input type="radio" name="indoor-outdoor"> Indoor</label>
      </div>
      <div class="col-xs-6">
        <label><input type="radio" name="indoor-outdoor"> Outdoor</label>
      </div>

[2017-02-20 07:43] mithun2017 commented on #3374
Problem:Give the text input in your form the class form-control.
 My code:
<form action="/submit-cat-photo" class="form-control" input-type="text">
    <div class="row">
      <div class="col-xs-6">
        <label><input type="radio" name="indoor-outdoor"> Indoor</label>
      </div>
      <div class="col-xs-6">
        <label><input type="radio" name="indoor-outdoor"> Outdoor</label>
      </div>

[2017-02-20 07:59] minhtinh885 commented on #13348
I write it with "// noprotect"
`// noprotect
function smallestCommons(arr) {
  var sum = 1, pre = 0, last = 0, re = 0;
  var array = [];
  if(arr[0] <= arr[1]){
    pre = arr[0];
    last = arr[1];
  }else{
    last = arr[0];
    pre = arr[1];
  }

  var flagOuter = true, flagInner = true, k = 1;

  while(flagOuter === true){
    sum = pre * k;
    flagInner = true;
    for(var i = pre; i<=last; i

[2017-02-20 09:02] rudolphh commented on #13056
let myArray = ["a", "b", "c", "d"];
// change code below this line
myArray[1] = "h";
//change code above this line
console.log(myArray);

On Feb 19, 2017 10:45 PM, "Samuel Plumppu" <notifications@github.com> wrote:

[2017-02-20 09:39] Greenheart commented on #13056
@rudolphh Thanks!

I can get this code to pass in both Firefox 51 and Chrome 56. Can try if it works after doing a hard refresh of the challenge page (CRTL+SHIFT+R) and then pressing the "Reset"-button? :blush:

However I noticed another issue - the messages for the test cases needs to be updated (I'll submit a quick PR for this right away).

[2017-02-20 10:45] rudolphh commented on #13056
did the hard refresh and reset. still the same.  using chrome 56

On Mon, Feb 20, 2017 at 1:41 AM, Samuel Plumppu <notifications@github.com>
wrote:

[2017-02-20 10:55] P4ndemic commented on #13361
Ah yea thank you, didn't know I couldn't call reduce on empty array.

[2017-02-20 10:56] #13361 closed

[2017-02-20 10:58] Faikabbaszadeh commented on #6485
function testGreaterThan(val) {
  if (val > 100) {  // Change this line
    return "Over 100";
  }

  if (val > 10) {  // Change this line
    return "Over 10";
  }

  return "10 or Under";
}

// Change this value to test
testGreaterThan(10);

[2017-02-20 11:31] Greenheart commented on #13056
@rudolphh Hmm... That's weird :smile:

[2017-02-20 11:41] Greenheart commented on #13460
I think we should leave the basic challenge framework so open as possible to allow different kinds of challenges to teach in slightly different ways (while of course still using a similar format).

I suggest we allow multiple hints, by using an array of JSON-strings similar to how the challenge `description` is stored. I like the idea of having formatting options for the hints as formatted names o

[2017-02-20 11:48] Greenheart commented on #13457
@erictleung @Manish-Giri Note that this description was recently [changed in staging](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/01-responsive-web-design/basic-css.json#L809-L817) (this issue refers to the main site)

[2017-02-20 12:17] raisedadead commented on #13451
The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](http://forum.freecodecamp.com) for help wi

[2017-02-20 12:17] #13451 closed

[2017-02-20 12:36] mithun2017 commented on #5923
<button class="btn btn-default target" id="target1" text="#target1"></button>

help me

[2017-02-20 12:36] Elzoka commented on #13202
``class="smaller-image thick-green-border`

it should be like that

[2017-02-20 12:39] Elzoka commented on #13263
thick***
@christyoftheforest

[2017-02-20 12:56] Atomk commented on #13460
Have you also discussed about how to make the hint feature not-so-tempting? I understand sometimes it is easy to get discouraged in front of a challenging problem, but an abuse of the hint feature kills the learning that happens when you try your best to solve a problem.

[2017-02-20 12:57] OFFLlNE commented on #13460
Maybe it would be possible to add a cooldown to hint button? If an user presses it, then the user has a cooldown to ALL hint buttons for like 10-30 minutes

[2017-02-20 13:01] LFri commented on #13348
OK, thank you.  Here's a link to freecodecamp's discussion of **// noprotect**.  My gut tells me that this would NOT be a best practice in the real world because you'd never want to intentionally allow any browser to just keep processing what it thinks may be an infinite loop, but at freecodecamp's site, I understand that this statement was necessary given it took a very long time for my function

[2017-02-20 13:17] kujjwal02 opened #13462 "[beta] Progress lost on beta.freeCodeCamp.com"
#### Issue Description

##### in beta.freecodecamp.com
completed the Basic HTML and HTML5 section
but when I came back again all the progress was lost and browny points was set to 1

#### Browser Information

* Google chrome, Version: 56.0.2924.87 (64-bit)
* Operating System: Windows 10
* Mobile, Desktop, or Tablet:

[2017-02-20 13:18] raisedadead commented on #13348
@LFri

From the same article on forum and the very first line of the article:

This is a feature that we specially have developed based on a feature on JSBin (A web IDE for developers).

It's unlikely you will find any documentation because its not a standard tool. But its very much well documented in its use on freeCodeCamp via the same article.

The bottom line here being the solution you have f

[2017-02-20 13:26] raisedadead commented on #13462
@kujjwal02

- Were you logged in to freeCodeCamp when you solved the challenges earlier?
- If yes, then was it the same account that you are logged in?

I can see that you have 273 points in your profile, as of this comment.
https://www.freecodecamp.com/kujjwal02

![screenshot-www freecodecamp com-2017-02-20-18-55-28](https://cloud.githubusercontent.com/assets/1884376/23126755/451872de-f79e-11e6-9

[2017-02-20 13:49] Atomk opened #13463 "[beta] Color property already covered in another challenge"
Challenge [adjust-the-color-of-an-anchor-tag](http://beta.freecodecamp.com/en/challenges/applied-visual-design/adjust-the-color-of-an-anchor-tag) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.

The color property was already covered in [this challenge](http://beta.freecodecamp.com/en/chall

[2017-02-20 14:01] kujjwal02 commented on #13462
@raisedadead
The main website of freecodecamp is fine

i was reporting the issue about
### beta.freecodecamp.com

[2017-02-20 14:09] raisedadead commented on #13438
@glauberfc thanks, can you check if this is isolated to edge browser or others as well on your device?

[2017-02-20 14:12] gogolab opened #13464 "Typo in challenge code: calulateCircumference"
Challenge [use-the-const-keyword](http://beta.freecodecamp.com/en/challenges/es6/use-the-const-keyword) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Ubuntu; Linux i686; rv:51.0) Gecko/20100101 Firefox/51.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

There is typo in "calulateCircumference" - should be "calculateCircumference".

[code]

[2017-02-20 14:12] kujjwal02 commented on #13462
- yes I was logged in to freeCodecamp when I was solving the challenges
- and it was the same account

[2017-02-20 14:12] raisedadead commented on #10603
Closing as this was probably from the earlier deployment of rectified version of the platform.

[2017-02-20 14:12] #10603 closed

[2017-02-20 14:15] raisedadead commented on #10622
This can be less costlier by simply clearing your code with the reset option. I agree with @dhcodes that it adds to complexity!

Closing as decayed for now.

[2017-02-20 14:15] #10622 closed

[2017-02-20 14:16] JosephLivengood commented on #13464
Do you want to take this fix?

[2017-02-20 14:17] OFFLlNE commented on #13464
@gogolab Thank you for reporting the issue.
I did not find any duplicates on this.

Guess up for grabs ;)

[2017-02-20 14:18] OFFLlNE commented on #13464
@JosephLivengood I think you can take this if you want or let some1 else take it

[2017-02-20 14:18] raisedadead commented on #13462
Okay, can you guide a bit more on the exact steps to reproduce this? You completed the  Basic HTML and HTML5 section, and moving on to the next challenge caused this, or this happened after a few days, etc?

When did you complete the last challenge?
Any additional information that you have to reproduce this would be appreciated.

Thanks.

[2017-02-20 14:25] JosephLivengood commented on #13464
@OFFLlNE I'm all for a first-timers-only, we both were labeling and commenting at once it seems like! :+1:

[2017-02-20 14:49] kujjwal02 commented on #13462
@raisedadead
Okay,
1. After completing the  Basic HTML and HTML5 section I decided to check my account settings
2. In settings,  Email section was saying that my email address in not linked
3. So I decided to link my email.
4. After submitting the form I got an email from freecodecamp for verification
5. On clicking the verification link I was redirected to the main site of freecodecamp ie [https:

[2017-02-20 15:21] Parad0xJ commented on #13435
@RichardHerzog

Hello,
 you know how to solve your problem is very simple. Just do as I do. Bearing in mind that Bootsrap version 4 is not completely stable, I do not use it.
All you have to do is go to the Settings  of Codepen css tab you delete the cdn of bootstrap 4 set by default and copy / paste the last stable version. this one : https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.

[2017-02-20 15:23] texas2010 commented on #5923
@mithun2017
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2017-02-20 15:24] glauberfc commented on #13438
@raisedadead, I guess that the only browser there is in Windows 10 mobile is the Edge.

[2017-02-20 15:28] texas2010 commented on #13438
it seems that edge browser has an issue with code editor? but I am not sure.

[2017-02-20 15:30] Parad0xJ commented on #13432
Hi @Greenhart
why you said that :  "but please keep in mind that your progress won't be saved on the beta site."
are you sure of that, so I work for nothing with beta version !?

[2017-02-20 15:35] texas2010 commented on #13432
freeCodeCamp site and beta site have the separate database. that is why in fcc site will not have your process if you work on a challenge at beta site.

[2017-02-20 15:35] bappyasif opened #13465 "isn't this the way to write in html??"
Each of your two radio button elements should be nested in its own label element...
isn't this the way to write??

`<form action="/submit-cat-photo">
  <input type="text" placeholder="cat photo URL" required>
  <label><input type="radio" name="indoor-outdoor"> Indoor <input type="radio" name="indoor-outdoor"> Outdoor </label>`
[code]

[2017-02-20 15:36] texas2010 commented on #13465
@bappyasif
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-20 15:36] #13465 closed

[2017-02-20 15:38] texas2010 commented on #13202
@Elzoka
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-02-20 15:41] RichardHerzog commented on #13435
@Parad0xJ
Yeah, I know. I'm just raising this issue in order to prevent that other students get stuck with this issue, too. I guess that I'm not the only one who is using the quick-add feature 'blindly' and then wondering why some bootstrap classes won't work although I'm doing it like in the challenges before.

@Greenheart
I somehow brought FCC to work on my machine, changed the mentioned line an

[2017-02-20 15:42] Parad0xJ commented on #13432
@texas2010
Hi

What is the relationship with the non-saving of my progress in beta?

[2017-02-20 15:47] Parad0xJ commented on #13435
ok, I think you don't know that no problem

[2017-02-20 15:48] texas2010 commented on #7296
@KhalifKahin
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-20 15:50] Greenheart commented on #13432
@Parad0xJ As @texas2010 said, we run two separate versions of the site. The beta-database gets reset every once in a while (~1 month).

If there's one thing I want you to take away from this thread, it's the following:

Most people who work through the beta site do so because they want to learn the things that the new curriculum teach. By completing coding challenges, they learn new skills that th

[2017-02-20 15:54] Parad0xJ commented on #13432
@Greenheart
Ok thanks for all this information, I don't know that.

[2017-02-20 15:56] gogolab opened #13466 "[beta] ES6: Use Destructuring Assignment with Objects - description errors"
Challenge [use-destructuring-assignment-with-objects](http://beta.freecodecamp.com/en/challenges/es6/use-destructuring-assignment-with-objects) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Ubuntu; Linux i686; rv:51.0) Gecko/20100101 Firefox/51.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

In description it says:

"Consider the followi

[2017-02-20 15:57] Greenheart commented on #13432
@Parad0xJ Did you start with the beta site?

[2017-02-20 16:01] Parad0xJ commented on #13432
No with fcc no beta in first https://www.freecodecamp.com/parad0xj until 12 february or 13

[2017-02-20 16:04] Greenheart commented on #13432
@Parad0xJ Ah, ok. Just remember to save your project links + JavaScript algorithm solutions (That you can see by visiting the challenge page).

Good luck and happy coding! :smile:

[2017-02-20 16:05] Parad0xJ commented on #13432
Thanks for all

[2017-02-20 16:10] Greenheart commented on #13435
@RichardHerzog Great job, but I'm sorry for not mentioning the new curriculum we're working on over at https://beta.freecodecamp.com.

I guess we don't need this change anymore :confused:

As a side note, I'd recommend anyone to learn CSS and create a few projects with it before trying anything else like Sass, Bootstrap etc (which are based on CSS). The foundations of the web will give better know

[2017-02-20 16:12] rOluochKe commented on #5609
function testLogicalOr(val) {
  // Only change code below this line
  if (val < 10 || val > 20) {
    return "Outside";
  }
  // Only change code above this line
  return "Inside";
}
// Change this value to test
testLogicalOr(15);

this works fine

[2017-02-20 16:13] texas2010 commented on #5609
@rOluochKe
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-02-20 16:24] raisedadead commented on #13462
@kujjwal02 Thanks.

This greatly helps me understand the issue.

Apologies, that I cannot guarantee a recovery of your account's progress on the beta website, because, as you know its a unstable branch.

Will try my best, and update you on this as soon as we can.

[2017-02-20 16:43] Greenheart commented on #13466
Thanks for reporting this issue! This could definitely be improved.

Let's start with your question:

The description of this example is correct, but as you noticed, there's a problem with the comment that represents the output. This is what happens when running this example in the browser console:

![voxel-example](https://cloud.githubusercontent.com/assets/6125097/23133854/e4d0f10e-f792-11e6-992

[2017-02-20 16:46] glauberfc commented on #13438
The problem is only on Edge mobile.

[2017-02-20 16:48] Greenheart commented on #13463
@Atomk Thanks for reporting this!

/cc @HKuz

[2017-02-20 16:52] gogolab commented on #13466
I can try. :) Could you also take a look at my "edit" at the end of first post - I highly doubt I can fix that... ;)

[2017-02-20 16:53] Greenheart commented on #12966
I'll fix https://github.com/freeCodeCamp/freeCodeCamp/issues/12966#issuecomment-277457211

[2017-02-20 17:04] Greenheart commented on #13466
@gogolab The ES6 challenges currently don't have any working tests - there's a problem when we transpile the code from ES6 to ES5 (so that it actually can run in browsers).

That's unfortunate. Will you be able to fix this in the next week? If so, I think we can assign this to you even if you can't fix it right away :blush:

[2017-02-20 17:07] Greenheart commented on #12966
I'll fix https://github.com/freeCodeCamp/freeCodeCamp/issues/12966#issuecomment-277459744

[2017-02-20 17:13] gogolab commented on #13466
@Greenheart
Oh ok. :)
And yes - in few days I'll be back in my place and could try to fix this issue. :)

[2017-02-20 17:28] Atomk opened #13468 "[beta] Improve challenge "Applied Visual Design: Adjust the Hover State of an Anchor Tag""
Challenge [adjust-the-hover-state-of-an-anchor-tag](http://beta.freecodecamp.com/en/challenges/applied-visual-design/adjust-the-hover-state-of-an-anchor-tag) has an issue.

I think this challenge should be changed, I'll list some reasons:
- Right now the challenge shows two new concepts, hover and text-decoration: none, when the overall teaching style is one concept per challenge
- Here pseudo-cla

[2017-02-20 17:33] Greenheart commented on #13466
@gogolab Great, reach out to us if you need anything more than what's in the comments above :blush:

[2017-02-20 17:36] Greenheart commented on #12966
I'll fix https://github.com/freeCodeCamp/freeCodeCamp/issues/12966#issuecomment-277447340

[2017-02-20 17:47] Greenheart commented on #12966
@no-stack-dub-sack Alright, still a few things to do here but I resolved some of them today!

[2017-02-20 17:53] Greenheart commented on #13468
@Atomk I agree. These concepts could use more thorough explanations and examples.

Would you like to make these changes and make a contribution? :blush:

[2017-02-20 18:00] Atomk commented on #13468
I'll try as soon as I manage to run FCC locally to test another contribution I'm working on, which with some patience and luck should happen today :+1:

[2017-02-20 18:00] Atomk opened #13471 "[beta] Duplicated Google Font challenge"
Challenge [use-a-google-font](http://beta.freecodecamp.com/en/challenges/applied-visual-design/use-a-google-font) has an issue.

Similarly to #13463, there are two versions of this challenge, one in [Basic CSS](http://beta.freecodecamp.com/en/challenges/basic-css/import-a-google-font) (the original one) and one in [Applied visual design](http://beta.freecodecamp.com/en/challenges/applied-visual-de

[2017-02-20 18:24] Greenheart commented on #13468
@Atomk Thanks, that would be awesome! As always, leave a message in the contributors chat room if you have any trouble :blush:

[2017-02-20 18:27] Kalinaki opened #13472 "Accessing Nested Objects Suggestion"
[code]

Hello, I'm quite new to programming but I thought it's a good idea to grow a pair and learn go to give feedback(and receive as well).

I completed this challenge but my issue with it is that it can be confusing.
The element that is a bit confusing and misleading is the "" notation after var gloveBoxContents =.
Although if a camper remembers the previous lessons when searching through objec

[2017-02-20 18:41] descadora opened #13473 "[beta] Tests never finishes running in Edge"
http://beta.freecodecamp.com/en/challenges/applied-visual-design/create-visual-balance-using-the-textalign-property

I have added what I believe to be the correct code to the challenge, and after reloading the screen the images show up within the phone and even adjusts as I add to the code.  However, it never progresses beyond the phrase "running test", and therefore I cannot pass it.  Forgive me

[2017-02-20 18:47] Kalinaki commented on #13472
Hi,

Sorry for the missunderstanding.

[2017-02-20 18:54] Greenheart commented on #12966
Oops, closed it again :laughing:

[2017-02-20 18:59] RichardHerzog commented on #13435
@Greenheart
Ok. Shouldn't the slide itself be deleted then?

Regarding your side note: I totally agree on learning basics before utilizing higher level stuff. But on the other hand, sometimes it's easier to learn with a top-down approach (or system approach). It keeps you motivated because you get results really fast :)

[2017-02-20 19:03] Greenheart commented on #13473
@descadora Thanks for reporting this!

I can pass the challenge with your code in Chrome 56.
In Firefox 51, the rests finish running, but I somehow can't complete the challenge despite using the exact same code as I did n Chrome.

Can you see if there's any error messages in your browser console. I'm not sure how to open the developer tools in Edge, but it's f12 in both chrome and firefox.

Also,

[2017-02-20 19:06] Greenheart commented on #13435
@I think we still need to show how to use CodePen but I'm not sure. It's definitely a good thought!

That's true, it depends on what kind of learner one are. Some learn best by getting results, while others only learn how to use tools while not understanding the theory behind them :blush:

[2017-02-20 19:12] Greenheart commented on #13472
@Kalinaki Thanks for reporting this!

Don't worry about the bot, we haven't teached it good manners yet... :smile:

Do you have any suggestions for how the line could be clearer?
Perhaps any of the following examples?

(Imagine the comment after as well)
[code]

[2017-02-20 19:13] virgilex commented on #12444
I am having the same issue; successfully completed challenge, got the “kudos” message, but then am not being allowed to submit my result and continue to the next challenge.

[2017-02-20 19:14] descadora commented on #13473
Thanks for the answer. Opening dev tools in Edge is done with a
right-click. However, I tried to switch to using IE instead and now in both
Edge and I.E. the stuff in the phone won't load, and I get a repeating
vertical white line running through the code area and the test area below
the buttons. It's kind of a fascinating bug, but not very helpful. I was
also, on first attempt, getting pop-ups th

[2017-02-20 19:14] Spagheddie opened #13474 "Using Objects for Lookups"
Challenge [Comparisons with the Logical Or Operator](https://www.freecodecamp.com/challenges/comparisons-with-the-logical-or-operator#?solution=%0Afunction%20testLogicalOr(val)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0A%20%20if%20(val%20%3E%3D%2010%20%7C%7C%20val%20%3C%3D%2020)%20%7B%0A%20%20%20%20return%20%22Inside%22%3B%0A%20%20%7D%0A%20%20else%20return%20%22Outside%

[2017-02-20 19:15] QuentinGibson commented on #13241
@BerkeleyTrue I can work on refactoring this.

[2017-02-20 19:16] Greenheart commented on #13471
@Atomk Nice catch!

This is likely an artifact from the curriculum expansion.

/cc @HKuz

[2017-02-20 19:20] Greenheart commented on #13474
@Spagheddie Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/

[2017-02-20 19:20] #13474 closed

[2017-02-20 19:27] Greenheart commented on #13473
@descadora Thanks for taking the time! :tada:

The continuously running line is a common issue that I've seen several times the past weeks. It's most common in Firefox but IE/Edge seem to have the same issue as well.

The other issues had error messages in the console saying that the react bundle for the page had crashed. So I assume it's something similar.

In an ideal world, things would work th

[2017-02-20 19:28] BerkeleyTrue commented on #13430
@Greenheart is this error specific to FF?

[2017-02-20 19:29] #13428 closed

[2017-02-20 19:31] erictleung commented on #13457
@Greenheart thanks for pointing that out! I think my suggestion still applies. The confusion stems a little because of the example code and maybe the potentially vague instruction of "your call to Google Fonts". So specifying that your "call to Google Fonts" was the `<link>` tag, I think that will help clear up some confusion.

[2017-02-20 19:33] Greenheart commented on #13430
@BerkeleyTrue I've seen this in both Chrome 55 & 56 as well as FF 50 & 51. It seems to only occur on some specific challenges. I don't see any pattern yet, but maybe these challenges are special in some way - or maybe campers load them/submit solutions in a special way that causes the bundle crash.

[2017-02-20 19:34] Greenheart commented on #13457
@erictleung @Manish-Giri Let's combine them and see what's best :blush:

[2017-02-20 19:39] descadora commented on #13473
If my connection will allow, I will see about downloading it tomorrow.
Thanks so much, for the help and the explanation. Have a great day!

On Mon, Feb 20, 2017 at 1:29 PM Samuel Plumppu <notifications@github.com>
wrote:

[2017-02-20 19:43] Greenheart commented on #13456
@Jamayk Thanks, this is a great addition! :+1:

Since you reported it, would you like to make a contribution to add another test case? Me and other contributors would be happy to guide you through the process! :smile:

[2017-02-20 19:47] Greenheart commented on #13473
@descadora Thanks, you too! :blush:

Good luck, and happy coding!

[2017-02-20 20:02] Greenheart commented on #13431
@fixtheelvis Thanks for reporting this - What a catch! :open_mouth:

Don't mind the bot, we haven't taught it proper manners yet! :smile:

Here's the assertion for the test case you are refferring to:
[code]

As you can see, each test case concists of an assertion with something that evaluates to true/false and a message. In this case, the message is supposed to show the full sequence - but as you

[2017-02-20 20:38] Jamayk commented on #13456
@Greenheart  Sure; I'm new around, just started a few days ago. Hit me :D

[2017-02-20 20:39] Barterr commented on #13376
Same problem, doesn't register as correct in Firefox but works in Chrome.

[2017-02-20 20:50] Greenheart commented on #13456
@Jamayk Glad to hear that!

[CONTRIBUTING.md](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) can help you get started.

When you're all set, add another test case (a string with the assertion) somewhere around [these lines](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting.jso

[2017-02-20 21:09] hessproject opened #13477 "[beta] Using same const name from last challenge attempt in Work with Dynamic Data in D3 causes tests to fail"
#### Challenge Name

Data Visualization with D3: Work with Dynamic Data in D3

#### Issue Description

Use of same const name (in this case 'dataset') from previous challenge attempt causes tests to fail, with the error "Identifier 'dataset' has already been declared".

Changing the name of the const from dataset to another name solves the issue.

#### Browser Information

* Browser Name, Version:

[2017-02-20 21:13] hessproject commented on #13477
Sorry, duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/13292

[2017-02-20 21:13] #13477 closed

[2017-02-20 21:15] cptmacaroni commented on #10135
Make sure you all are adding the hashtag to the appropriate string. You will have the first link at the top of the HTML document and an <p> at the bottom of the page. Change that href to equal the hashtag.

[2017-02-20 21:26] samizle commented on #5709
The answer is:
var remainder = 2;
remainder = 11 % 3;

[2017-02-20 21:28] erictleung commented on #13459
@Manish-Giri just fyi, I've made some changes with the stack challenge with [this PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/13343), which might affect changes necessary in this issue. So you might want to wait until my PR is merged before working on this.

[2017-02-20 21:33] Manish-Giri commented on #13459
@erictleung sure thing, I'll work on other PRs until then! Thx for the heads up!

[2017-02-20 21:40] hessproject commented on #13292
Just wanted to mention that this seems to carry over to later challenges from previous challenges that use the same const declarations, not just after a failed attempt.

[2017-02-20 21:51] Jamayk commented on #13456
@Greenheart Well, I think I did it; can you check please?
I can update my commit, but I think it should be fine this way?
Thanks!

[2017-02-20 22:10] dragan80 opened #13478 "Nothing is working, and blocking"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2017-02-20 22:11] RichardHerzog commented on #13435
@Greenheart Yeah that makes sense. I guess that with the new order of challenges people won't be using bootstrap at this point anyway. Therefore closing the issue.

[2017-02-20 22:11] #13435 closed

[2017-02-20 22:13] OFFLlNE commented on #13478
Thank you for reporting your issue.

Your code is wrong.
And what do you mean nothing is not working and blocking?
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full

[2017-02-20 22:13] #13478 closed

[2017-02-20 22:14] mosessaleh opened #13479 "Help, I don't understand it"
Challenge [Understanding Case Sensitivity in Variables](https://www.freecodecamp.com/challenges/understanding-case-sensitivity-in-variables#?solution=%0A%2F%2F%20Declarations%0Avar%20StUdLyCapVaR%3B%0Avar%20properCamelCase%3B%0Avar%20TitleCaseOver%3B%0Avar%20studlyCapVar%20%3D%2010%3B%0Avar%20properCamelCase%20%3D%20%22A%20String%22%3B%0Avar%20titleCaseOver%20%3D%209000%3B%0A%0A%2F%2F%20Assignment

[2017-02-20 22:19] OFFLlNE commented on #13479
Thank you for reporting your issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free-code-camp-off

[2017-02-20 22:19] #13479 closed

[2017-02-20 22:30] #12694 closed

[2017-02-20 23:12] selinamccartney opened #13481 "Use Hex Code To Mix Colors"
Challenge [Use Hex Code to Mix Colors](https://www.freecodecamp.com/challenges/use-hex-code-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20%23FF0000%3B%0A%20%20%7D%0A%20%20.green-text%20%7B%0A%20%20%20%20color%3A%2000FF00%3B%0A%20%20%7D%0A%20%20.dodger-blue-text%20%7B%0A%20%20%20%20color%3A%202998E4%3B%0A%20%20%7D%0A%20%20.orange-text%20%7B%0A%20%20%20%20co

[2017-02-20 23:14] #13481 closed

[2017-02-20 23:35] JosephLivengood commented on #13423
Looks like an issue with the code supplied `<a herf="#">` should be `<a href="#">`. Going to go ahead and close this unless clarification of something else other than this comes up!

[2017-02-20 23:35] #13423 closed

[2017-02-20 23:41] griffste commented on #13464
Hello, I am a student looking to make my first contribution to an open source project. Is this issue available to fix still? Would someone be able to walk me through what I need to do to resolve the issue?

Thank you,
Steve

[2017-02-21 00:08] gminovska opened #13482 "Mutations (Basic Algorithms) - Incorrect test case"
The challenge description states: Return true if the string in the first element of the array contains **all** of the letters of the string in the second element of the array.

According to that the case: `mutation(["Mary",` `"Aarmy"])` should return **false** because the first string has only one a character, therefore does not contain all of the characters of the second string.
Currently that te

[2017-02-21 00:17] MURUGANRAJAN opened #13483 "Bluetooth home controller"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-21 00:37] #13483 closed

[2017-02-21 00:50] brandonevansmgmt opened #13485 "I am stuck :<"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%3C%2Fstyle%3E%0A%20%3Ch2%3E%20%7Bcolor%3A%20blue%3B%20CatPhotoApp%7D%0A%20%20%20%20%20%20%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729;

[2017-02-21 00:58] benschac opened #13486 "Beta: Typo ES6: Destructuring Function Parameters"
#### ES6: Destructuring Function Parameters

#### Issue Description
[code]
linees should be lines.

#### Browser Information

* Browser Name, Version: Chrome
* Operating System: Mac
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]
#### Screenshot

[2017-02-21 01:14] texas2010 commented on #13485
@brandonevansmgmt
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.
GitHub Issues are for reporting bugs on the website only.

Happy Coding.

[2017-02-21 01:14] #13485 closed

[2017-02-21 01:20] Tony-Thomas opened #13488 "Cursor placement bug"
Hi, I am having issued placing my cursor in desired location within the embedded text editor. I am using google chrome, and the only way this seems to fix itself is if i restart my entire computer. Shutting down browser and reopening does not resolve the issue.

Challenge [Create a Text Field](https://www.freecodecamp.com/challenges/create-a-text-field) has an issue.
User Agent is: <code>Mozilla/5

[2017-02-21 01:24] Tony-Thomas commented on #13488
Resetting my code just worked. I will keep you posted on this bug as i progress through the tutorials.

[2017-02-21 01:27] Tony-Thomas commented on #13488
Resetting my code appears to be working, but every time i advance to the next lesson the cursor bug resurfaces.

[2017-02-21 01:30] JohnOKeefe15 commented on #12687
I have a partial fix for this bug. On my computer the current code:
[code]
fails at all zoom levels except for 50%. If I change the code to the following test:

[code]
 it succeeds at all zoom levels except for 90%. Even though this is not a 100% fix it could reduce the number of failed tests that users encounter until a permanent solution is found. Is this worth submitting a pull request for or d

[2017-02-21 02:33] erictleung commented on #13488
@Tony-Thomas thanks for the issue. This is unfortunately a known bug https://github.com/freeCodeCamp/freeCodeCamp/issues/7847. Take a look at the thread of comments for some solutions for this bug. So closing as duplicate. Happy coding!

[2017-02-21 02:33] #13488 closed

[2017-02-21 02:58] Kalinaki commented on #13472
The line
// Only change code below this line.
could be removed.
Also, your suggestion
var gloveBox = undefined;
appears better.
To finish this exact  challenge you need to use the .notation and []notation so having the '''' can be confusing.
But then again...I suppose you wouldn't want to oversimplify things.
I take it the purpose of the challenge is to teach the camper basic concepts.
Anyways, th

[2017-02-21 03:17] sue888 opened #13490 "Applied Visual Design: Learn about Tertiary Colors - not verifying bg color is set"
#### Challenge Name
Applied Visual Design: Learn about Tertiary Colors

#### Issue Description

Receiving the following error, although background set correctly (screenshot included). It accepts hex color code.

**Error: The div element with class orange should have a background-color of orange.**

#### Browser Information
Chrome Version 56.0.2924.87 (64-bit)

iMac, Mac OS Sierra 10.12.3

#### You

[2017-02-21 03:24] #13241 closed

[2017-02-21 03:29] JosephLivengood commented on #13464
@griffste All yours! You can look at how to contribute [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md). If you run into trouble feel free to join us on [gitter for help](https://gitter.im/FreeCodeCamp/Contributors)!

Happy Coding! :1st_place_medal:

[2017-02-21 03:32] Marmiz commented on #13490
@sue888 you are supposed to change from the 'string' value to the hex.
So the error is thrown since
[code]
you are not passing the hex.

---
Now the real question is why `cyan` is accepted since you are not passing the hex there too.
Probably worth to look at the test cases.

[2017-02-21 03:35] sue888 commented on #13490
Ah - must have missed that instruction -  have been using strings successfully throughout this section (where I knew it to be an option).

[2017-02-21 03:51] JosephLivengood commented on #13486
Good catch! 💯

[2017-02-21 03:55] JosephLivengood commented on #13490
Closing as solved! 👍

[2017-02-21 03:56] noone396 commented on #13442
Hi Samuel,

I'm having a bit of trouble setting up my environment in order to
contribute. I feel like I'm holding up the closure of this ticket since the
change is so basic. You can go ahead and make the change. When I eventually
complete my setup I will start contributing to future issues.  I haven't
asked for help yet on the contributing chat because I want to figure it out
as much as I can. Tha

[2017-02-21 04:03] ading25 commented on #13486
Hi I'm a first time contributor I'd like to fix that typo if no one's working on it already!

[2017-02-21 04:04] JosephLivengood commented on #13486
@ading25 Great!

[CONTRIBUTING.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) can help you get started.

If you have any questions, please come chat with us in the [Contributors Chat] Room(https://gitter.im/FreeCodeCamp/Contributors).

**Happy Coding!** :1st_place_medal:

[2017-02-21 04:19] abc173 commented on #10135
same here for this challenge,
1.refresh the page
2.using delete , delete the link between " "
3.put # between " "
and my challenge is SOLVED.

[2017-02-21 04:43] ading25 commented on #13486
I'm looking for the typo and can't seem to find "linees". Could I get some help locating the typo? Thanks!

[2017-02-21 04:57] JosephLivengood commented on #13486
@ading25 Sorry! Upon looking [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/02-javascript-algorithms-and-data-structures/es6.json#L510) it appears to have been fixed in staging and I did not notice!

---

This is a standard message notifying you that this issue is present in production, but it has been fixed in staging. Because of that, I'm closing this issue. Whe

[2017-02-21 04:57] #13486 closed

[2017-02-21 05:53] mithun2017 commented on #1646
$(".target:nth-child(2)").addClass("animated bounce");

[2017-02-21 05:53] QuincyLarson commented on #13419
@smkatz Thanks for your feedback. Extensions aren't required for image paths. And since it would significantly increase the length of the URL - and the likelihood of a camper mistyping someone, I'm in favor of leaving this as is.

I like @Greenheart's suggestion of covering relative VS absolute path. If that's something you're interested in pursuing, please open a new issue specific to that, or cr

[2017-02-21 05:53] #13419 closed

[2017-02-21 06:16] Ethan-Arrowood commented on #13466
@Greenheart

Do you need assistance in setting up a webpack config file? I can probably lend a hand here if thats the case.

[2017-02-21 06:42] Marmiz commented on #13490
@JosephLivengood actually I think this is worth a look.

OP said she had trouble with `orange` but, as a matter of fact in her original code also `cyan` was wrong but the checkmarks didn't reflected that.

It's probably worth looking into it. no?

[2017-02-21 06:44] #12006 closed

[2017-02-21 07:05] #13455 closed

[2017-02-21 07:14] Greenheart commented on #13442
@noone396 No problem, I think you should do it if you want to contribute! Tell us about your issue in the chat room - and take your time :blush:

[2017-02-21 07:29] Greenheart commented on #13472
@Kalinaki Thanks for your feedback! How about removing the comment `// Change this line` instead? It could make the code cleaner.

I agree, `undefined` is a better value than `""`.

As you reported this, would you like to make an open source contribution and fix this? Me and other contributors would be happy to guide you through the process! :blush:

[CONTRIBUTING.md](https://github.com/freeCodeCa

[2017-02-21 07:53] Greenheart commented on #12687
@JohnOKeefe15 Thanks for taking the time to find a solution! I had completely forgotten `getComputedStyle()` existed, so today I learned something ^^

I think a regex test would be more robust, as the source code should be the same no matter the browser zoom level.

I came up with the following. It can handle formatted as well as not so formatted solutions:
![width-regex-avd-fcc](https://cloud.git

[2017-02-21 08:07] #13390 closed

[2017-02-21 09:38] shtscompany commented on #6249
this is the working code
// Setup
var myObj = {
  gift: "pony",
  pet: "kitten",
  bed: "sleigh"
};

function checkObj(checkProp) {
  // Your Code Here
return (myObj.hasOwnProperty(checkProp) ? myObj[checkProp] : "Not Found");

  }

// Test your code by modifying these values
checkObj.hasOwnProperty("gift");

[2017-02-21 11:05] CodesAreHonest commented on #6435
The solution is this...

$("#target4").html("<html>#target4</html>");

[2017-02-21 11:11] sithsupersu commented on #13490
? The question is what did he modify?

[2017-02-21 12:35] or-halimi opened #13493 "[Where do I belong] Right results but not pass the test"
Challenge [Where do I belong](https://www.freecodecamp.com/challenges/where-do-i-belong#?solution=%0Afunction%20getIndexToIns(arr%2C%20num)%20%7B%0A%20%20arr%20%3D%20arr%3B%0A%20%20for%20(var%20i%20in%20arr.sort(function(a%2Cb)%7Breturn%20a-b%3B%7D))%7B%0A%20%20%20%20if%20(arr%5Bi%5D%20%3E%3D%20num)%20%7Breturn%20i%3B%7D%0A%20%20%7D%0A%20%20return%20arr.length%3B%0A%7D%0A%0AgetIndexToIns(%5B3%2C%2

[2017-02-21 12:50] systimotic commented on #12687
@Greenheart My concern with this regex test is that it will fail if the camper decides to put the width declaration at some other place than the top. I think that that's very likely to happen.

[2017-02-21 13:20] noone396 commented on #13442
Okay sounds good. I also wanted to make sure I understood what I was doing
as well. Hopefully I can get it done this week and I'll be sure to ask for
help if I can't figure out.

On Tue, Feb 21, 2017 at 1:16 AM, Samuel Plumppu <notifications@github.com>
wrote:

[2017-02-21 13:48] #13376 closed

[2017-02-21 13:53] benschac opened #13494 "Update contributing guidelines for adding project lifeline."
I know I'm not a consistent contributor to the project, maybe I'm missing something.  It took me a while (30 minutes) to find an issue that's not being worked on and is ready for development that hasn't been worked on.

I'm not sure how you can tell what's important, what needs to get worked on next, if it's ready to be worked on, if someone is actively working on it.  For me to do that now I need

[2017-02-21 13:55] #13490 closed

[2017-02-21 14:00] Greenheart commented on #12687
Yeah that's a good point! I thought about it yesterday but couldn't come up
with a full solution.

Basically, we need to check if the camper has the {, then [.|\s]*, then the
line we're looking for (width 245px), then any number if characters
again, [.|\s]* and then the closing bracket, }.

Sorry for the formatting, I'm on mobile :smile:

tisdag 21 februari 2017 skrev Timo <notifications@github.co

[2017-02-21 14:02] benschac opened #13495 "[Beta] ES6 Write Arrow Functions const test should fail."
#### Write Arrow Functions
http://beta.freecodecamp.com/en/challenges/es6/write-arrow-functions

#### Issue Description

[code]
should fail
`Test magic is const`

#### Browser Information

* Browser Name, Version: Chrome
* Operating System: Mac
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]
#### Screenshot

[2017-02-21 14:05] benschac commented on #13495
I'm looking at the code now:
[code]
I'm assuming there aren't tests for this section yet?

[2017-02-21 14:09] benschac opened #13496 "[beta] Add mechanism to encourage contributions to codebase"
#### Issue Description
As a developer, having a notification on beta challenges that tests are incomplete would help me find issues to work on.

As a product owner, having a notification of missing tests on beta challenges will reduce the number of incoming tickets and duplicate tickets because users will know the challenge is incomplete.

Additionally, I think this could be easier for users to sp

[2017-02-21 14:14] Kalinaki commented on #13472
I will be happy to.

On Tue, Feb 21, 2017 at 9:31 AM, Samuel Plumppu <notifications@github.com>
wrote:

[2017-02-21 14:14] JosephLivengood commented on #13495
Currently the es6 challenges are not functioning and the tests don't actually test anything. They are working on this!

Looks like the challengeSeed is missing the `;` at the end of defining magic though

[2017-02-21 14:15] raisedadead commented on #13494
Hah, look who is here (just kidding, intentional pun..!). Thanks for your feedback.

**TL;DR**

`help wanted` is ready to be worked on, and if has a pull request is being worked on.

**L;WR**
This project operates very asynchronously, we have a [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors), that you can follow along for regular updates and chit-chat.

But on the formal side

[2017-02-21 14:17] #13495 closed

[2017-02-21 14:17] benschac commented on #13495
how can I see what's being worked on?

On Tue, Feb 21, 2017 at 9:16 AM, Joseph Livengood <notifications@github.com>
wrote:

[2017-02-21 14:18] raisedadead commented on #13496
I like this idea. This should encourage more people to contribute.

[2017-02-21 14:24] benschac commented on #13494
For sure, and thanks.  Maybe something like this in the Contributors
README.md section would be helpful.  I obviously understand that FCC needs
to keep in light in terms of process since there are so many people
actively working on the project.  Maybe since I haven't really worked on it
I don't know what's going on.  But, something along those lines would be
super helpful.

On Tue, Feb 21, 2017 at

[2017-02-21 14:29] raisedadead commented on #13493
[These tests evaluate to `string`](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/02-javascript-algorithms-and-data-structures/basic-algorithm-scripting.json#L788-L794) and the `===` check fails to capture this even though result from the function is resolved as a `number`

[2017-02-21 14:31] raisedadead commented on #13494
@benschac You are absolutely right. I'll update this issue so that the contributing guide can be updated.

[2017-02-21 14:37] JosephLivengood commented on #13494
Perhaps adding `in progress` or changing help wanted to `in progress` when someone takes the issue would help and requiring a solid estimated time frame when a user takes the issue so Mods know when its safe to throw a `help wanted` back on! I've seen this work great on some other repos

[2017-02-21 15:31] jecmstudios commented on #13322
I am experiening the same issues with Chrome.

[2017-02-21 15:54] jecmstudios commented on #13322
And none of the challenges are even loading up on my internet explorer and Avast Safe Browser (yeah, no one's heard of it) is experiencing the same issue.

[2017-02-21 15:54] xpdavid opened #13498 ""Where do I belong" Insufficient Test Cases"
#### Challenge Name
http://beta.freecodecamp.com/en/challenges/basic-algorithm-scripting/where-do-i-belong

#### Issue Description
The test cases are insufficient and fail to cover a edge case. It doesn't test the behaviour of the programme when the input array is empty.
[code]

#### Screenshot
Current test cases:
![screen shot 2017-02-21 at 11 50 38 pm](https://cloud.githubusercontent.com/assets/

[2017-02-21 16:02] JosephLivengood commented on #13498
@xpdavid  Great! Do you also want to take a crack at #13493 while you're there? :+1:

[CONTRIBUTING.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) can help you get started.

If you have any questions, please come chat with us in the [Contributors Chat Room](https://gitter.im/FreeCodeCamp/Contributors).

**Happy Coding!** :1st_place_medal:

[2017-02-21 16:27] texas2010 commented on #6249
@shtscompany
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-02-21 16:35] xpdavid commented on #13493
@or-halimi @JosephLivengood @raisedadead
I would say it's is not actually a bug.

As described [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for...in), the `for-in` loop actually will iterate through all properties in Object (Yes, Array is also a Object in Javascript).

In this case, `for in` loop is used, Javascript would regard the index as a property and th

[2017-02-21 16:46] JosephLivengood commented on #13493
Should we provide leniency or keep expectations and add a clarifying line to make them aware the result must be an int?

[2017-02-21 16:56] xpdavid commented on #13493
Hmm, the user(beginner? learner?) may not aware of the types in JavaScript (This is actually something bad in JS). So maybe I prefer more on leniency.

But what I am thinking is to provide an error message like `Expect 2 but got "2"`. This would help the user to find the type difference by theirselves.

[2017-02-21 16:59] dwarren96 opened #13500 "hex code"
Challenge [Use Hex Code to Mix Colors](https://www.freecodecamp.com/challenges/use-hex-code-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20%23ff0000%3B%0A%20%20%7D%0A%20%20.green-text%20%7B%0A%20%20%20%20color%3A%20%2300ff00%3B%0A%20%20%7D%0A%20%20.dodger-blue-text%20%7B%0A%20%20%20%20color%3A%20%232998e4%3B%0A%20%20%7D%0A%20%20.orange-text%20%7B%0A%20%20%2

[2017-02-21 17:05] JosephLivengood commented on #13493
I agree with leaving the tests as strictly equaling and clarifying better the error or the challenge needs to return a `number` type.

[2017-02-21 17:11] #13498 closed

[2017-02-21 17:13] JosephLivengood commented on #13500
Thank you for reporting this issue.

Your hex for `.orange-text` is not the hex for orange provided by us in the challenge description

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You

[2017-02-21 17:13] #13500 closed

[2017-02-21 18:00] ajain17 commented on #13493
I'll work on this. Will add error message of the format Expected Value, Returned Value. Is that okay?

[2017-02-21 19:00] smkatz commented on #13419
Image paths do not require extensions? I recognize short URLs work because
they redirect but they do require extensions in the standard.

I came up with the rel vs. Absolute path idea.

Bootstrap is awesome.

On Feb 20, 2017 11:55 PM, "Quincy Larson" <notifications@github.com> wrote:

[2017-02-21 20:10] #13268 closed

[2017-02-21 20:26] donofriov commented on #13429
Quick note here, if `value === this` is updated to `value == this` everything passes.

![image](https://cloud.githubusercontent.com/assets/4457953/23183440/0b1bd0e2-f84a-11e6-93d1-8ae957dc2e20.png)

[2017-02-21 21:12] Greenheart commented on #13496
@benschac I like it as well!

Are you suggesting that we check if any tests are commented out, and display a notification if that's the case?

[2017-02-21 21:17] benschac commented on #13496
Yep, or they can be a different color in the map or something.  Yellow
could be tests are WIP, red could be not started and green has full tests.
Anything to let users know the status of the challenge.
On Tue, Feb 21, 2017 at 4:14 PM Samuel Plumppu <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2017-02-21 21:22] Greenheart commented on #13494
@benschac Thanks for bringing this discussion to life. I realized that I've thought about something similar the last weeks but I couldn't find words for it until I read this.

@JosephLivengood That's some great ideas! I think we should add a few sentences with steps that contributors can refer to regarding how to handle stale issues, assigning of issues and labeling.

[2017-02-21 21:29] #13464 closed

[2017-02-21 21:32] Greenheart commented on #13496
@benschac Like also changing the color of the link to the challenge in the map?

Contributor-features like this and the in-challenge-notifications could be nice features only available in the beta version of the site.

Perhaps the status colors in the map could be used to track what challenges need attention **in a broader sense than just tests.**

Imagine having a status-field for new challenges

[2017-02-21 21:43] irojabkhan opened #13502 "How to set Browser and Text zoom at 100%?"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

<style>
  .red-text {
    font-size: 16px;
  }
</style>

<h2>CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the g

[2017-02-21 21:44] avernoy commented on #6657
I would have never thought to change the return line since it is below the
 " // Only change code above this line"

[2017-02-21 21:46] Greenheart commented on #13419
@QuincyLarson Yeah, that was @smkatz's idea! :blush:

[Image paths doesn't seem to require extensions](http://stackoverflow.com/a/5110673)

[2017-02-21 21:47] Greenheart commented on #13502
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-02-21 21:47] #13502 closed

[2017-02-21 21:49] JohnOKeefe15 commented on #12687
@Greenheart I would love to make an OSS contribution and update this test. This would be my first time so I would love it if you could guide me through the process.

[2017-02-21 21:59] Greenheart commented on #12687
@JohnOKeefe15 I'm glad to hear that! :smile:

You can get started by reading [CONTRIBUTING.md](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md).

When you're all set, [this is where you can find the current challenge](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/01-responsive-web-design/applied-visual-design.json#L83-L137) in the codebase.

If

[2017-02-21 22:06] donofriov commented on #13482
That's a good point, the first string does not contain a second "a". Should the challenge be updated to work with duplicate characters or should the description be updated to note to ignore duplicates?

[2017-02-21 22:26] gminovska commented on #13482
Ignoring duplicates makes the challenge easier, which might be the right thing to do since it is a basic algorithm challenge.

[2017-02-21 22:29] donofriov commented on #13456
@Jamayk You added a new line at the end of the file, just go to the bottom of the file and press delete and you should be fine, just make sure the closing brace is still there. Also you submitted a commit against your forked version of the repo. Make sure you add this repo as the upstream.

You can do so by running this command:
`git remote add upstream https://github.com/freeCodeCamp/freeCodeCamp

[2017-02-21 22:59] donofriov commented on #13482
I agree! If updating instructions is the route the members want us to go then I think it would make the most sense to just remove `mutation(["Mary", "Aarmy"])` from the acceptance criteria. This way there won't be any confusion. If it's left in, then I would assume I would have to solve for this use case. As you said it's more a beginner challenge so may add some unwanted complexity to deal with d

[2017-02-21 23:16] ssharps711 commented on #6657
I was right! Yaaaaaaaaaaay!

[2017-02-21 23:46] Kalinaki commented on #13472
I checked all the requirements and I think I'm a bit green for such task at
this point in time. However, I'm working on improving my knowledge and I
hope there is no time frame for applying the code changes.

One peace.

On Tue, Feb 21, 2017 at 3:14 PM, TheKmaru . <kalinparushev@googlemail.com>
wrote:

[2017-02-22 01:48] KenzoM opened #13504 "FCC Forum - shutdown?"
Sorry if this is the wrong place to ask, but I can't seem to connect FCC forum. It looks like it's down. Any ideas?

[2017-02-22 01:50] antkn33 opened #13505 "I can't move my cursor to the correct position on line37"
After the letter "o" in button the cursor skips down a line. I can't click a position in the line to place my cursor.

Challenge [Create a Block Element Bootstrap Button](https://www.freecodecamp.com/challenges/create-a-block-element-bootstrap-button#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E

[2017-02-22 01:50] donofriov commented on #13504
@KenzoM it looks like it is down right now, will need to be fixed on the hosting side of things. Maybe someone was working on a deploy or something?

![image](https://cloud.githubusercontent.com/assets/4457953/23193522/67ff398e-f877-11e6-9b3c-ee2a245ec048.png)

[2017-02-22 01:51] texas2010 commented on #13504
freeCodeCamp team are aware of the forum is down.

[2017-02-22 01:51] #13504 closed

[2017-02-22 01:53] donofriov commented on #13504
@texas2010 How do you know the team is aware? Is there somewhere outside of GitHub that is good to look for more information?

[2017-02-22 01:59] donofriov commented on #13505
@antkn33 This has happened to me a couple times over the last week. It's definitely a bug, not sure how to fix, but a workaround is to click `Run tests` and then you should be able to put your cursor where you want to. If that doesn't work, try refreshing, and that usually works.

[2017-02-22 02:14] Marmiz commented on #13505
This is curious.
To me the braking "point" is the word ` crazy`.

The console looks clean as well as inspecting the html.
I was able to unlocking the mouse simply by typing something into the editor that will be rendered at the end of the CodeMirror ignoring the actual cursor position.

Chrome on Mac.

[2017-02-22 02:16] texas2010 commented on #13504
@donofriov, I am the member of the freeCodeCamp team.  I did inform someone. someone know about it.

What do you mean you want to know more information?  sorry, I don't understand that question.

[2017-02-22 02:20] texas2010 commented on #13505
@antkn33, Code Editor have an issue. https://github.com/freeCodeCamp/freeCodeCamp/issues/7847

you could reset it. then write code.  sorry about you got issue from that.

[2017-02-22 02:20] #13505 closed

[2017-02-22 02:34] Marmiz commented on #13409
@Greenheart  In my opinion this will only teach bad behavior since a camper can remove the tag, submit a wrong code and still pass it giving them the false impression to have done the right thing.
Or in other word we are actually teaching (or perhaps not-teaching) a valuable lesson: why strict is important and why globals aren't always a good thing.

I would rather add some comment line (and maybe

[2017-02-22 02:40] donofriov commented on #13504
I was just wondering if there was another site that had more info about forum status or if this information was shared on social media or somewhere else.

It now makes sense knowing that you are a member of the team 😄

[2017-02-22 02:44] texas2010 commented on #13504
@donofriov Oh. we don't have a status for the forum.

[2017-02-22 02:52] JosephLivengood commented on #13496
This could also be a good use of the Projects feature of Github to keep it organized on here and connect them to issues or pulls or assigning!

[2017-02-22 04:17] donofriov opened #13506 "Current Streak is not accurate"
#### Issue Description
The Current Streak on the User Stats Page is reset to 1 even though there is still an active streak. In the screenshots below, Current Streak should have a value of 7 days and so should Longest Streak. This is possibly caused by the fact that it is counting current streaks of Challenges and not the other activities (Projects or Algorithms)

This slide (https://www.freecodeca

[2017-02-22 04:32] raisedadead commented on #13494
@JosephLivengood @Greenheart Thanks for the feedback, I have seen in the past whole year that the flow I mentioned above https://github.com/freeCodeCamp/freeCodeCamp/issues/13494#issuecomment-281355649 seems to keep things async and reduces the clutter from a maintainers perspective, and keeps things async considering, a major chunk of the development focuses on curriculum.

We should maybe add mo

[2017-02-22 04:36] raisedadead commented on #10154
Closing in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/7925

[2017-02-22 04:36] #10154 closed

[2017-02-22 04:36] raisedadead commented on #13506
Closing in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/7925

[2017-02-22 04:36] #13506 closed

[2017-02-22 04:37] donofriov commented on #13506
Yikes sorry @raisedadead , I even did an issue search before opening :man_facepalming:

[2017-02-22 04:39] donofriov commented on #7925
I looked into this a bit and it may possibly caused by the fact that it is counting current streaks of Challenges and not the other activities (Projects or Algorithms). It's also possible that it's timezones as stated above. I'm going to look into the issue and see if I can PR if no one else get's to it.

[2017-02-22 04:44] benjaminspak commented on #6255
Okay.. But why is (a < 0 || b < 0) better than (a || b < 0)?

[2017-02-22 05:12] tommygebru commented on #13400
had to force the tab just now for this challenge to work, @erictleung good to know a solution is underway 👍

[2017-02-22 05:24] gminovska commented on #13482
I think you are right, that is the best and easiest solution!

[2017-02-22 05:41] erictleung commented on #13482
@gminovska @donofriov I would argue that this test is okay. This challenge could also be rephrased to "check if the second string is a subset of the characters in the first string," in which case "Aarmy" has all the letters found in "Mary". Thus, this returns true.

This insight comes from the last example in the description

At the very least, there can be some clarification in the instructions.

[2017-02-22 05:45] donofriov commented on #7925
Can someone please let me know if I'm missing something here.

const daysBetween = 1.5; can be updated to const daysBetween because the logic in the following functions always says less than daysBetween and not less than or equal to daysBetween. This means there will be coverage from 12:00:01AM one day all the way to 11:59:59PM the next. The timezone logic should all stay the same as well.

Changi

[2017-02-22 06:06] gminovska commented on #13482
@erictleung [A,a,r,m,y] is **not** a subset of [M,a,r,y] because it has one "a" character that is not present in the superset . However, [M,a,r,y] **is** a subset of [A,a,r,m,y] because it has all the characters that are in the superset. As it is, the test case is incorrect. If you think it should not be removed, then it should have the string 1 and string 2 switched, so ["Aarmy", "Mary"] returns

[2017-02-22 06:06] donofriov commented on #13482
@erictleung well I do agree that the test is okay, I don't necessarily think that phrasing clarifies it. A subset generally means that all of the second string would be in the first one, which brings us back to Aarmy not fitting into Mary but line still working for Alien.

[2017-02-22 06:58] SenthilPandian02 opened #13507 "Cannot proceed to next challenge - Make Images Mobile Responsive"
Challenge [Make Images Mobile Responsive](https://www.freecodecamp.com/challenges/make-images-mobile-responsive) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.

**Please describe how to reproduce this issue, and include links to screenshots if possible.**

Responsive Design with Boot strap 2nd

[2017-02-22 07:13] raisedadead commented on #13506
@donofriov Sure thing, not a problem.

[2017-02-22 07:25] raisedadead commented on #13493
@ajain17 I would wait a bit on this for being confirmed. Please feel free to look at other issues.

@xpdavid @JosephLivengood Thanks for the comments, I think there is a confusion in the analysis.

The OP's last return statement is `return arr.length;` which irrespective of the contents (properties) of the Object (array in this case), will return a `number` and is returning a `number`

Hence while

[2017-02-22 07:28] wilsonja-osu commented on #13507
I have tested your code for the challenge and it successfully allowed me to advance to the next challenge. Have you tried a different browser or system to confirm the issue?

[2017-02-22 07:36] JohnOKeefe15 commented on #12687
@Greenheart OK, I have my dev environment setup in Ubuntu. Unfortunately the problem does not occur on Chrome in Ubuntu so I cannot reproduce the problem. I will need to setup my dev environment in windows so I can hopefully reproduce it there.

For the REGEX I have a solution created that will work no matter what line the camper puts the width declaration. The question is do I need to test for an

[2017-02-22 07:49] xpdavid commented on #13493
@raisedadead Yes, the last statement `return arr.length` return a `number`, that's why several test cases passed as the programme hits the last statement.

However, in most cases, the programme will return in the middle because of `if (arr[i] >= num) {return i;}`. Here, `i` is the properties of the `Object`(`Array`), which is a string.

[2017-02-22 08:00] jecmstudios opened #13508 "Possible browser issue?"
This is the code that I have put in.  When I test the link myself, it does everything the challenge mentions.  I am just unable to complete this challenge.  Am I missing something?

Challenge [adjust-the-hover-state-of-an-anchor-tag](http://beta.freecodecamp.com/en/challenges/applied-visual-design/adjust-the-hover-state-of-an-anchor-tag) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6

[2017-02-22 08:07] dayadeedaya commented on #13507
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    wid

[2017-02-22 08:08] dayadeedaya commented on #13507
https://www.freecodecamp.com/dayadeedaya

[2017-02-22 08:10] donofriov commented on #13508
@jecmstudios That challenge is explicitly looking for the hover color to be blue. Try without using a Hexcode.

This doesn't seem to be a browser issue so it will most likely get closed out. When you get stuck you can always click the Help button on each challenge and/or join the full chat app at [Gitter](https://gitter.im/FreeCodeCamp/) for help questions

[2017-02-22 08:16] BhaveshSGupta commented on #13508
I think we should add the test case to check even hex code or even rgba code

[2017-02-22 08:21] donofriov commented on #13508
This test is looking for color:blue; and nothing else. If you open it up to hex code and/or rgba code you will have to define all the possibilities of blue. That wouldn't work so well because you would have to figure out where to draw the line between what's accepted as blue and what's not. I think this is a pretty simple test and you are guided to just using the word blue.

[2017-02-22 08:35] raisedadead commented on #13493
Oh darn! I completely missed it. Thanks and good catch @xpdavid ! Let's add the error message with type checking as suggested by @xpdavid !

[2017-02-22 08:47] BhaveshSGupta commented on #13508
If we write just blue as the color code test is not completed,  I found out that for the black color the test checks for RGB value for the black
![image](https://cloud.githubusercontent.com/assets/4209637/23203672/8728c874-f909-11e6-988d-f1a9e6a80077.png)

[2017-02-22 08:52] donofriov commented on #13508
Hmm then this may be a browser bug, because I'm not seeing the same results:

![image](https://cloud.githubusercontent.com/assets/4457953/23203881/5c9f4d82-f8b2-11e6-9abd-59f9e25945c9.png)

[2017-02-22 08:59] BhaveshSGupta commented on #13508
The test case check for RGB value $('a').css('color') == 'rgb(0, 0, 0)' may be this would be causing the issue.

[2017-02-22 09:56] BhaveshSGupta commented on #13508
And if we want to anyone to write color in value then we should change color #000 to black which would make more sense then.

[2017-02-22 10:07] shukla97 opened #13510 "TypeError: Cannot read property 'length' of undefined."
Challenge [Nesting For Loops](https://www.freecodecamp.com/challenges/nesting-for-loops#?solution=%0Afunction%20multiplyAll(arr)%20%7B%0A%20%20var%20product%20%3D%201%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20for%20(var%20i%20%3D%200%3B%20i%20%3C%20multiplyAll.length%3B%20i%20%2B%2B)%20%7B%0Afor%20(var%20j%20%3D%200%3B%20j%20%3C%20multiplyAll%5Bi%5D.length%3B%20j%20%2B

[2017-02-22 10:11] #13510 closed

[2017-02-22 10:13] sitaramakrishnach opened #13511 "function minusSeven(num) { return num - 7; }"
Challenge [Return a Value from a Function with Return](https://www.freecodecamp.com/challenges/return-a-value-from-a-function-with-return#?solution=%0A%2F%2F%20Example%0Afunction%20minusSeven(num)%20%7B%0A%20%20return%20num%20-%207%3B%0A%7D%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0Afunction%20timeFive(num)%7B%0A%20%20return%20num%20*%205%3B%0A%7D%0A) has an issue.
User Agent is

[2017-02-22 10:47] olumuktar opened #13512 "Can't Progress. I'm stuck on adding style to html elements h2."
can't progress after I completed my challenge. I thought it was data network issue but it wasn't as I have switched to 3G network

#### Challenge Name
 ur sites is with a prompt 'to infinity and beyond' can't go to the next challenge.

#### Issue Description
it happened 21st of February today

#### Browser Information
Android

* Browser Name, Version: chrome. Latest version
* Operating System: 4.4

[2017-02-22 10:50] BhaveshSGupta commented on #13511
hey @sitaramakrishnach, Check the instructions once again, you have a small typo in your code, for this type of help please use gitter group at https://gitter.im/FreeCodeCamp/FreeCodeCamp

[2017-02-22 11:07] olumuktar commented on #13512
I've been able to resolve it. It's network issue. Thanks

[2017-02-22 11:11] RAYDENFilipp opened #13513 "Use Responsive Design with Bootstrap Fluid Containers. Issue with wrong link example."
#### Challenge Name

Use Responsive Design with Bootstrap Fluid Containers

#### Issue Description

There is a wrong link given as an example in challenge description:
`<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>`
The correct link should be without "/" after "min.css":
`<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bo

[2017-02-22 11:27] raisedadead commented on #13409
@Greenheart

The thing is I can pass the challenge with completely incorrect code like this:

[code]

You will notice that both the test cases should have been false with the above code.

[2017-02-22 11:33] raisedadead commented on #13507
@dayadeedaya We request you to not post solutions to challenges as help in the issue tracker, please provide all coding assistance in help chat rooms and forums.

@SenthilPandian02 Please try the same code in an incognito window with all extensions disable, it could be due to a browser extension like ad blocker or password manager, that is conflicting with the page.

[2017-02-22 11:44] raisedadead commented on #13508
@jecmstudios thanks for reporting.
@donofriov @BhaveshSGupta this is a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/13468

Closing, please feel free to continue on the other thread.

[2017-02-22 11:44] #13508 closed

[2017-02-22 11:48] raisedadead commented on #13511
@sitaramakrishnach Thanks for reporting.

As @BhaveshSGupta there is a typo in your code, the issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-r

[2017-02-22 11:48] #13511 closed

[2017-02-22 11:49] #13512 closed

[2017-02-22 11:56] raisedadead commented on #13513
I think this is bikeshedding?
Using link tags as self closing is completely fine in HTML5.

Will leave others to comment and close, or proceed in case they think otherwise.
/cc @freeCodeCamp/moderators

[2017-02-22 12:03] raisedadead commented on #13429
@donofriov thanks a lot for looking into this issue,

@griffinf3 apologies for the delay in getting back. Here is some debug code that will help you understand the problem:

[code]

You can then open up the dev tools of your browser (should be <kbd>F12</kbd> on Windows), and switch to the console tab to check the output.

I highly recommend using chrome if you can, but IE should work just fine.

[2017-02-22 12:04] raisedadead commented on #13429
Let us know if you need any more help in understanding this.

[2017-02-22 12:29] jordyhadisaputra opened #13514 "help me"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3A%20blue%7D%0A%3C%2Fstyle%3E%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%2

[2017-02-22 12:46] JosephLivengood commented on #13514
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-02-22 12:46] #13514 closed

[2017-02-22 13:23] NikhilChandrasenanNair opened #13515 "Open Weather Map API httpRequest issues when used with codepen"
#### Challenge Name

http://codepen.io/Lihkinrian/pen/evOgVr?editors=0010

#### Issue Description

When i use http://codepen.io  i am getting an error "getCurrentPosition() and watchPosition() no longer work on insecure origins. To use this feature, you should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more details."  i am using http for bo

[2017-02-22 13:52] kubila commented on #6143
There are some missing explanations and instructions in Basic JavaScript section(I mean they need more detail). We can find the solution at the end but it takes some time. Just saying.

[2017-02-22 14:10] VeryKnave opened #13517 "Getting 'Only GitHub users can join this room.' when trying to access the chat"
#### Issue Description

I noticed the issue happened yesterday. I don't know how to reproduce it. I tried to log in and out, to add my Twitter account but without success.

#### Browser Information

* Browser Name, Version: Google Chrome (latest)
* Operating System:  Windows 7 Ultimate (64-bit)
* Mobile, Desktop, or Tablet: ---

#### Screenshot

![untitled](https://cloud.githubusercontent.com/asse

[2017-02-22 14:16] akampoori opened #13518 "My Challenges code is changing to someone else solution!!"
#### Challenge Name
Return Largest Numbers in Arrays (243)

I have complete challenge 243 with my code using for loop but when i come back to it to review my code. i noticed it is different solution code.

#### Browser Information

* Browser Name, Version: chrome v 56.0.2924.87 with %100 zoom
* Operating System: windows 10
* Mobile, Desktop, or Tablet: Laptop

#### Your Code
[code]

and when i rev

[2017-02-22 14:17] sorlovsky commented on #7925
@donofriov please go for it I was not able to figure why it didn't work

[2017-02-22 15:24] thebaconnater commented on #821
Has this issue been resolved?
I came across the same error. I changed the name to "trait", but that did not work either.

[2017-02-22 16:22] raisedadead commented on #13515
Duplicate of #9079 , please refer workarounds.

[2017-02-22 16:22] #13515 closed

[2017-02-22 16:23] raisedadead commented on #13517
freeCodeCamp's chat room's do not have support for twitter logins on GitHub, you need to login via GitHub only, and the same should be linked to your freeCodeCamp account as well.

[2017-02-22 16:23] #13517 closed

[2017-02-22 16:39] raisedadead commented on #12436
@the-thief sorry about the delay in getting back to you. Looks like this got lost somehow in the pile of issue that were opened last month. Sincerest apologies.

Now coming to your issue, I can't seem to reproduce this locally or on the live website.

Is there a chance that you happened to visit the challenge from the map or someone else's profile, or a link somewhere in the chat, accidentally? We

[2017-02-22 16:49] raisedadead commented on #13319
/cc @freeCodeCamp/moderators I can reproduce this, but would need assistance in finding the root cause.

Note: This has been moved to "Coding Interview Section" in the beta site.

[2017-02-22 16:53] raisedadead commented on #11039
@sepiariver I'll go ahead and close this, we have stopped running the code on load. This change is on the staging branch and is live on our beta site.

We will push this to main website in next release.

[2017-02-22 16:53] #11039 closed

[2017-02-22 16:54] mobieonekinobi commented on #12813
Page is unresponsive to code changes for smaller-image and thick-green-border. I have tried to move things around and even remove a section and it does not respond to those changes. Tried different browsers too. Adding smaller-image and thick-green-border both have issues. My code is correct because it works running it on other editors but not working in CFC editor. I think we want to know if ther

[2017-02-22 16:58] raisedadead commented on #11060
@Bouncey assignment back to Berkeley then?

[2017-02-22 17:13] TimHandy opened #13520 "Real-world examples?"
Hi, I think this needs some simple real-world examples of when it would be useful. I've done the challenge, but maybe it's too contrived an example to make sense? I am non the wiser on when I would use this feature.

I'm a relative noob, so can't give any input I'm afraid.

[2017-02-22 17:19] the-thief commented on #12436
@raisedadead Hi I'm not really sure what went wrong but I know I was working through challenges and went straight to Record Collection. I remember thinking this was way hard but worked on it until I managed to solve it. I don't really look at other camper's maps or profile's so I would eliminate that.

I didn't realize this was even an issue until I saw a thread about it on the forum. That's the o

[2017-02-22 17:49] mobieonekinobi opened #13521 "Unresponsive Code Editor"
Page is unresponsive to code changes for smaller-image and thick-green-border. Tried using cleared browsers and also with plugins/extensions disabled. I have also tried to move things around in the code (others reported as solution) and even remove a section and it does not respond to those changes. Tried different browsers too. Adding smaller-image and thick-green-border both have issues. My code

[2017-02-22 17:50] raisedadead commented on #13520
@TimHandy thanks for the feedback. But which challenge are we talking about?

[2017-02-22 17:54] OFFLlNE commented on #13521
Thank you for reporting your issue.

Your code is wrong. No idea who told you that this is correct. You are not applying your new class to your image... This is why it does not work
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help

[2017-02-22 17:54] #13521 closed

[2017-02-22 18:03] raisedadead commented on #12436
Hi, thanks for the sharing the thread. I'll try and check once again.

[2017-02-22 18:19] Ogica opened #13522 "Help me"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20cha

[2017-02-22 18:19] greenfreq opened #13523 "Recommended Weather API requires paid for service to use HTTPS"
Challenge [Show the Local Weather](https://www.freecodecamp.com/challenges/show-the-local-weather) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

CodePen does not like to access http resources.

 `Mixed

[2017-02-22 18:26] Kiriyama8 commented on #13522
Add class="red-text" in your tag h2, example:
<h2 class="red-text">CatPhotoApp</h2>

[2017-02-22 18:30] devking1118 opened #13524 "Problem with stand-in-line"
Challenge [Stand in Line](https://www.freecodecamp.com/challenges/stand-in-line) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2017-02-22 18:32] OFFLlNE commented on #13522
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-02-22 18:32] #13522 closed

[2017-02-22 18:43] devking1118 opened #13525 "Issue"
Challenge [Uncomment HTML](https://www.freecodecamp.com/challenges/uncomment-html) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2017-02-22 18:43] OFFLlNE commented on #13525
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-02-22 18:43] #13525 closed

[2017-02-22 19:02] Greenheart commented on #13456
@Jamayk Sorry for the late reply, I somehow lost your notification. I can check, if I can find it! :smile:

It seems like you have **cloned** (downloaded a copy of) the freeCodeCamp/freeCodeCamp repository instead of **forking** (creating a personal version of a repository) **and then cloning *your* fork**.

Please make sure to follow the steps of the [contribution guidelines](https://github.com/F

[2017-02-22 19:08] Greenheart commented on #13472
@Kalinaki It's a pretty complicated process. I know exactly what you're talking about!

We would be happy to help you through every step if you want to give it a try!

But if you really want to, I could open this to other contributors.

Two pieces :wink:

[2017-02-22 19:15] Greenheart commented on #13494
@raisedadead Nice write-up! I edited the last bullet a bit :blush:

[2017-02-22 19:28] Greenheart commented on #12687
@JohnOKeefe15 I think this issue was present in Firefox 50 & 51 for Ubuntu. But verifying your solution in multiple environments would be greatly appreciated if it's not too much work on your side! :+1:

Excellent! I'd say that the important part is that they have the width declaration. As I think most people will try to write good code, a proper width declaration anywhere in their CSS-rule could

[2017-02-22 19:31] Jamayk commented on #13456
@Greenheart Hey man! I did fork it then changed it online (hence space problem and commit with wrong upstream).

I will make myself a proper setup and (in the meantime, I did read the full contribution guidelines) then I can contribute easier when I have the time and knowledge for it.

Will get back to you when I get a chance.

[2017-02-22 19:32] Greenheart commented on #13409
@Marmiz @raisedadead Good points!

I'm not so sure what to do about this. What's your ideas? :blush:

[2017-02-22 19:34] Greenheart commented on #13513
It's an interesting detail, and since both technically are valid - maybe we should show the cleaner way to use a link tag?

[2017-02-22 19:39] charliez opened #13526 "Can't pass Profile Lookup Challenge with correct answers"
Challenge [Profile Lookup](https://www.freecodecamp.com/challenges/profile-lookup#?solution=%0A%2F%2FSetup%0Avar%20contacts%20%3D%20%5B%0A%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%22firstName%22%3A%20%22Akira%22%2C%0A%20%20%20%20%20%20%20%20%22lastName%22%3A%20%22Laine%22%2C%0A%20%20%20%20%20%20%20%20%22number%22%3A%20%220543236543%22%2C%0A%20%20%20%20%20%20%20%20%22likes%22%3A%20%5B%22Pizza%22%2

[2017-02-22 19:44] erictleung commented on #13520
@TimHandy the "world examples" I think come when you start the projects. That's where you're really just thrown into figuring out and thinking more on how to work on projects. There's a balance between having learning enough of the basics to tackle "real projects" even though some of the basic information you won't need anymore. But as @raisedadead has asked, let us know which challenges you are r

[2017-02-22 19:45] erictleung commented on #13526
@charliez thanks for the issue. You have global variables in your code. Our challenge tests run your function over and over and if you have any global variables (`nameExists`), they will change with each test. So move your global variables to within your function and your code will pass. Happy coding!

[2017-02-22 19:45] #13526 closed

[2017-02-22 19:46] erictleung commented on #13524
@devking1118 thanks for the issue. Can you elaborate on what the problem you're facing with this issue? It isn't clear from the description you've given.

[2017-02-22 19:50] erictleung commented on #13523
@greenfreq thanks for the issue. This is closely related and generalizable to this issue https://github.com/freeCodeCamp/freeCodeCamp/issues/9079. Closing as duplicate. Please feel free to add to the discussion over there. Happy coding!

[2017-02-22 19:50] #13523 closed

[2017-02-22 19:54] charliez commented on #13526
@erictleung thanks for the info.  I knew you tested all the cases but thought that each test would start from scratch.  It works now...

[2017-02-22 20:02] greenfreq commented on #9079
Why hasn't this been assigned for correction?  Its a simple fix.  Either remove the recommended API or alter the recommended API to one that is compliant with CodePen requirements.  Having users go through the process of troubleshooting issues with the recommended API (recommended means it should work) will frustrate them.   I imagine that you will continue to get Bug Reports on this until you mak

[2017-02-22 20:03] greenfreq commented on #13515
Recommending someone look at the workarounds does not resolve the bug.

[2017-02-22 20:30] Greenheart commented on #13319
[Here's an experiment I did](https://repl.it/FuIM/2). I can reproduce this as well.

To find this issue, we need to do the following things:
1. Verify that the `result` of the provided solution and the `expected` array match 100%.
2. If they do, we can limit this search to the test case - or the underlying testing framework.

[2017-02-22 20:33] #12763 closed

[2017-02-22 20:39] Greenheart commented on #13520
@TimHandy Seems like you're referring to an extra example in a challenge description? :blush:

[2017-02-22 20:41] Kalinaki commented on #13472
I will go to the contributions forums and try to figure it out.
I will inform if I wont be able to do it at this point in time.

On Wed, Feb 22, 2017 at 8:10 PM, Samuel Plumppu <notifications@github.com>
wrote:

[2017-02-22 20:45] rmdawson71 opened #13528 "[BETA] can pass test but does not reflect in map"
Challenge [access-an-arrays-contents-using-bracket-notation](http://beta.freecodecamp.com/en/challenges/basic-data-structures/access-an-arrays-contents-using-bracket-notation) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screen

[2017-02-22 20:53] Kalinaki commented on #13472
Nope, I don't think I can handle it. Better to assign it to someone else.

Sorry. :(

On Wed, Feb 22, 2017 at 9:41 PM, TheKmaru . <kalinparushev@googlemail.com>
wrote:

[2017-02-22 20:59] Greenheart commented on #13472
@Kalinaki Ok, no problem! Feel free to reach out if you'd like to help out in the future - as you may see, there's a lot of activity in this project and plenty of room to make first contributions :)

Good luck, and happy coding!

[2017-02-22 21:29] Manish-Giri commented on #13472
@Greenheart May I do this? 😄

[2017-02-22 23:06] SilentSlink opened #13529 "Problems with JavaScript(Front-End) Challenge "Profile Lookup""
Profile Lookup
#### Issue Description

The challenges completes except for one test.  But in the console it's returning the correct answer.

Browser Name: Chrome
Operating System: Win 10
Desktop

//Setup
var contacts = [
    {
        "firstName": "Akira",
        "lastName": "Laine",
        "number": "0543236543",
        "likes": ["Pizza", "Coding", "Brownie Points"]
    },
    {
        "first

[2017-02-22 23:10] #13529 closed

[2017-02-22 23:10] SilentSlink commented on #13529
The problem was with I had printing out.   it was supposed to be contact instead of Contacts

[2017-02-22 23:20] gelbelle opened #13530 "[beta] Regex should reuse the capture group twice"
Challenge [reuse-patterns-using-capture-groups](http://beta.freecodecamp.com/en/challenges/regular-expressions/reuse-patterns-using-capture-groups) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:45.0) Gecko/20100101 Firefox/45.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

As this regex is completely new to m

[2017-02-22 23:36] pamela113 opened #13531 "Escape quotes not working"
Challenge [Quoting Strings with Single Quotes](https://www.freecodecamp.com/challenges/quoting-strings-with-single-quotes#?solution=%0Avar%20myStr%20%3D'%3Ca%20href%3D%22http%3A%2F%2Fwww.example.com%22%20%20target%3D%20%22_blank%22%3ELink%3C%2Fa%3E'%3B%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.292

[2017-02-23 00:05] gelbelle opened #13532 "[beta] Error - loopProtect is not defined"
Challenge [catch-arguments-passed-in-the-wrong-order-when-calling-a-function](http://beta.freecodecamp.com/en/challenges/debugging/catch-arguments-passed-in-the-wrong-order-when-calling-a-function) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:45.0) Gecko/20100101 Firefox/45.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possi

[2017-02-23 00:09] gelbelle opened #13533 "[beta] Error - loopProtect is not defined"
Challenge [catch-off-by-one-errors-when-using-indexing](http://beta.freecodecamp.com/en/challenges/debugging/catch-off-by-one-errors-when-using-indexing) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:45.0) Gecko/20100101 Firefox/45.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

This matches the example code.

[2017-02-23 00:26] cdrainxv commented on #13533
This seems to be a firefox issue as Safari and Chrome didn't seem to have this error. The current fix is just refreshing the page, although a proper fix would be welcome.

[2017-02-23 01:39] Manish-Giri commented on #13530
@gelbelle Your regex is not complete yet. One of the things you're missing is that you have just one occurrence of `\1`, that just matches your capture group the second time. You need a total of three matches.

Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) or the [HelpJS Room](https://gitter.im/FreeCodeCamp/HelpJavaScript) first if you need help with challenges like these, in f

[2017-02-23 02:32] al3tte opened #13535 "[beta] Applied Visual Design: Tertiary Colors Throwing Errors with Correct Hex"
See screenshot below for clarification. Correct (given) hex codes are still throwing errors. Have refreshed, restarted, and cleared cache. Please advise as it will not allow me to continue without passing this challenge.

Thank you!

Challenge [learn-about-tertiary-colors](http://beta.freecodecamp.com/en/challenges/applied-visual-design/learn-about-tertiary-colors) has an issue.
User Agent is: <co

[2017-02-23 03:15] Manish-Giri commented on #13535
@al3tte It's because you're using lowercase hex code values.

While the (general) convention is uppercase values, I think we should amend the [tests](https://github.com/freeCodeCamp/freeCodeCamp/blob/0e4f07a197b994a7f8369fc4bdb0793cdc0a6998/seed/challenges/01-responsive-web-design/applied-visual-design.json#L1569-L1571) to allow lowercase values too, as they're not incorrect.

*Side Note* - I can

[2017-02-23 03:18] JohnOKeefe15 commented on #12687
@Greenheart The REGEX I was writing was actually designed to handle all formatting including if they had it commented out or a comment after the semicolon. Since I do not have to worry about what they write after the semicolon I can simplify it slightly. Here is what I arrived at:
`.fullCard\s*{[\s\S]*\n*^\s*width\s*:\s*245px\s*;`

Look good?

[2017-02-23 03:30] Marmiz commented on #13531
I was not able to reproduce this issue, my challenge pass.
Can you be more explicit on the steps to reproduce?

In the meantime I believe a refresh will let you continue.
Happy coding 👍

[2017-02-23 03:31] raisedadead commented on #9079
Easier said than done. Please feel free to fork the pen, and use an alternate API if you are aware, share it here, we will be happy to fork it and update official pen.

We share your frustration, but at the same time, need help in making this work under all conditions, as you may see **if** you go through the thread.

Nevertheless thanks for your feedback.

[2017-02-23 03:33] cdrainxv commented on #13532
This error is also only found in firefox not Chrome or Safari. The current fix is just refreshing the page upon the `loopProtect is not defined` console message, although an outright fix would be preferred.

----
Also, upon looking at the challenge code, the positivePowers() function does not seem to account for powers that are positive **fractions**. This function currently doesn't support the de

[2017-02-23 03:36] raisedadead commented on #13319
@Greenheart thanks for the PoC. Yup we could update this test case to use deep equals.

[2017-02-23 03:53] cdrainxv commented on #13535
@Manish-Giri: Yeah... sorry... I should have accounted for this in my recent PR. 😄 .(I assumed people would just copy and paste the hex code values into the editor). I agree that ***you*** should go ahead with amending the tests to allow for the lowercase hex code option. (Although including tests for every possible permutation of a solution could become egregious, considering that the table provi

[2017-02-23 04:32] cdrainxv commented on #13531
@pamela113 @Marmiz: The test is quite strict. It won't accept a space between `target=` and `"_blank"` or two spaces between attributes, like there are between `href="http://www.example.com"` and `target` (which it shouldn't so as to conform to accepted standards).

[2017-02-23 04:40] masters-george opened #13537 "[beta] Challenge does not update map when correct code is submitted"
Challenge [access-an-arrays-contents-using-bracket-notation](http://beta.freecodecamp.com/en/challenges/basic-data-structures/access-an-arrays-contents-using-bracket-notation) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshot

[2017-02-23 04:47] Marmiz commented on #13531
@cdrainxv good catch! didn't even noticed it in the original code 👍

[2017-02-23 04:53] masters-george opened #13538 "[beta] add items to an array with push and unshift tests not working."
Challenge [add-items-to-an-array-with-push-and-unshift](http://beta.freecodecamp.com/en/challenges/basic-data-structures/add-items-to-an-array-with-push-and-unshift) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possi

[2017-02-23 05:19] nawazishali commented on #13460
I think some thing similar to Codeacademy.com can be done, They show the hint just below the problem description/Detail. But I like the current style of FCC much more then Codeacademy cause it forces me to learn on my own. There should be some kind of penalty system if a user uses a Hint in a problem, i.e one hint per day should be allowed or something like @OFFLlNE  suggested. Users should be dis

[2017-02-23 06:25] YannHulot commented on #9079
I had this problem the other day while redoing some of my projects in React.
I ended up finding this releases notes from google about Chrome:

[code]

For more info: https://developers.google.com/web/updates/2016/04/geolocation-on-secure-contexts-only

Also. the funny thing was that it worked for a while using OpenWeather then stopped working suddenly.

I switched to Firefox to finish the project.

[2017-02-23 06:27] chemok78 commented on #13537
hi, works fine with the following user agent:

Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; rv:51.0) Gecko/20100101 Firefox/51.0

and the code below:

[code]

[2017-02-23 07:17] masters-george commented on #13537
I am using Chrome on Ubuntu Linux. I'll test again tomorrow since I got a
kernel and browser update tonight after the bug.

On Feb 22, 2017 10:29 PM, "Jay Mok" <notifications@github.com> wrote:

[2017-02-23 08:47] AdamANDAdam opened #13539 "border"
Hi,

I do not know what am I doing wrong, it does not draw border around image.

Thank You

My code:
[code]

[2017-02-23 09:03] kedarguy commented on #13400
Hey,

I also got this error on chrome Version 56.0.2924.87 (64-bit) just now,

After refreshing the page and submitting correct answer first time it worked

[2017-02-23 09:12] Nishkarsh-Awasthi opened #13540 "what i am doing wrong?"
Challenge [Turn an Image into a Link](https://www.freecodecamp.com/challenges/turn-an-image-into-a-link#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20

[2017-02-23 09:14] Bouncey commented on #13430
So a little bit of digging around whilst having a coffee at work points to the `<li>` element for the `Sign Up` nav link.

Could this be caused by the server/client markup mismatch issues we get in development? i.e. react diffs that part of the DOM and finds it isn't there, but it's still expected so it throws an error?

[2017-02-23 09:41] Atomk commented on #13430
Going from this challenge to the map page, the map "list" is not shown.
![map](https://cloud.githubusercontent.com/assets/6122017/23253363/83ecdf82-f9b4-11e6-87b5-04fcbaee3b10.PNG)

The console shows almost the same error.
![error](https://cloud.githubusercontent.com/assets/6122017/23253370/88395c96-f9b4-11e6-8739-87f29ba11070.PNG)

[2017-02-23 09:43] Bouncey commented on #13430
This was caught by the error Observable also

[code]

[2017-02-23 10:25] Greenheart commented on #13472
@Manish-Giri Sure! :blush:

[2017-02-23 10:30] Greenheart commented on #12687
@JohnOKeefe15 Nice work! Would you like to submit a PR with your fix? :smile:

[2017-02-23 10:39] Greenheart commented on #13319
@raisedadead It seems to be using `assert.deepEquals()` [See here](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/08-coding-interview-questions-and-take-home-assignments/coding-interview-algorithm-questions.json#L203)

[2017-02-23 10:43] AngShiYa commented on #12698
Hi, if it is ok I would like to work on reformatting the last 5 challenges ("Import vs. Require: What's the difference?" to "Importing a Default Export")

[2017-02-23 10:47] Greenheart commented on #12698
@AngShiYa That would be greatly appreciated! I don't think anyone has been working on that yet :blush:

[2017-02-23 11:11] RAYDENFilipp commented on #13513
@raisedadead The problem is that before opening the issue, I read the Bootstrap Blog, and there was a link that made me think of a mistake. Anyway, if it is not the mistake, they probably should place the comment in the frecodecamp lesson to clarify this for others who will see it as a problem.

[2017-02-23 11:40] Jamayk commented on #13456
@Greenheart I think it's done; hardest part was making the project work on my local (windows), so I can test my solution, and also run the automated tests. 'A bit' outdated dev, so this was my first MongdoDB, Node installment, and my first PR on an Open Source project. Fingers crossed!

Now that I have everything working, I only need to keep my Fork updated, and I can contribute easier when   poss

[2017-02-23 11:48] karuppiah7890 commented on #13538
Hey @masters-george, your code looks quite fine. You just missed the quotes around the number 9. If you see the instructions, the funnction should return `["I", 2, "three", "IV", 5, "six", 7, "VIII", "9"]` , but your function returns `["I", 2, "three", "IV", 5, "six", 7, "VIII", 9]` . See the quotes missing around 9 ? Just change that and you should be good! :smile: