[2016-05-26 20:49] jonvictory opened #8811 "bug? Your p element should have the text "View more " (with a space after it)."
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2016-05-26 20:51] #8811 closed

[2016-05-26 20:53] jonvictory commented on #8811
After deleting line 31, which is the unnested link that reads "<a href="http://www.freecatphotoapp.com">cat photos</a>"

The check went through for the last condition.

[2016-05-26 21:43] gasperno commented on #8794
![screen shot 2016-05-26 at 5 40 44 pm](https://cloud.githubusercontent.com/assets/7889179/15591083/0e938154-2369-11e6-81e1-2196f05cbc78.png)
I din't check it on freecodecamp until now. I was checking on my local. I attached the screenshot of the local machine screen after I stop my pledge. You are right. I dint get Oops error when I ran on my local.

[2016-05-26 21:48] digiisland opened #8812 "<h1>hello</h1>"
Removing spam

[2016-05-26 22:00] sludge256 commented on #8812
Are you having trouble with the challenge or is this a frivolous issue report?

[2016-05-26 22:10] clauub opened #8813 "I think it's a bug..."
[code]

[2016-05-26 22:15] dewhiz opened #8814 "Suggested re-design of /map"
Thanks to the people who responded.  So I need to work on changing design for a 'linear map' - looked up linear parlance, landed in math-land, basically - things have to run like a trail, & can't be parallel.
Seems like I'm in over my head, so I'll just tread water, look around, think it over before I take the next whack at it.

---

I would like to redesign the 'Map' page in order to enhance:
1.

[2016-05-26 22:18] gasperno commented on #8794
My code was not updated. Sorry for the confusion.

[2016-05-26 22:27] dwd2010 commented on #8812
@digiisland, that is not issue. since that code is incorrect. if you got problem. so we would like to hear from you

[2016-05-26 22:28] dwd2010 commented on #8813
@clauub, there have no information.  could you write it down?

[2016-05-26 22:31] ltegman commented on #8812
Closing this issue as spam.

[2016-05-26 22:31] #8812 closed

[2016-05-26 22:33] hallaathrad commented on #8814
Agreed. The curriculum's display could be greatly improved.
Seems like you've already got ideas on how to improve it, so perhaps it'd be best if you made some sort of mock or even better submit a PR we could iterate over :)

[2016-05-26 22:38] sludge256 commented on #8814
I agree that the map could use some work. I've had some ideas float through my mind in regards to this issue and would be interested in seeing what others have in mind.

[2016-05-26 22:49] BerkeleyTrue commented on #8814
Just to clarify, this isn't a list but a linear map (hence why it's at /map). We want it to convey the idea that there is only one single track, instead of multiple tracks that are tangentially related to the others like on other coding sites. Any mock ups should preserve this idea.

They are separated by super-block(getting started, front end, data vis, ...etc), then broken into blocks (in front

[2016-05-26 23:21] codebykashfi commented on #5828
thanks bruh!

[2016-05-26 23:23] redixhumayun opened #8815 "Creating random quote machine"
Challenge [Build a Random Quote Machine](https://www.freecodecamp.com/challenges/build-a-random-quote-machine) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.112 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My codepen link is provided belo

[2016-05-26 23:27] labrat10001 opened #8816 "Changing color of h2 with classes"
It will do all the steps it just won't change the h2 color

#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-05-26 23:33] erictleung commented on #8815
@redixhumayun GitHub issues are only for issues with the site. Code review questions should be asked in the Gitter rooms. The one most appropriate with your question may be in the [Front End Help Room](https://gitter.im/FreeCodeCamp/HelpFrontEnd). Happy coding!

[2016-05-26 23:33] #8815 closed

[2016-05-26 23:35] erictleung commented on #8816
@labrat10001 thanks for the issue but if you get stuck with a challenge, please ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-05-26 23:35] #8816 closed

[2016-05-27 01:25] determinedforce commented on #5126
The correct answer would be: "I don't know. Ask in the chat room." Easy Peezy

[2016-05-27 01:32] determinedforce commented on #5126
I was confused as well. The wording of that paragraph should be changed. "....to turn it into a dead link." To me that means the link would stay thus 'href' would be replaced with the hashtag.

[2016-05-27 02:04] Bleebler commented on #6852
Use some case statements in there instead.

[2016-05-27 07:18] atjonathan commented on #8814
@hallaathrad I assigned you so you can do `QA` :stuck_out_tongue_winking_eye:

[2016-05-27 07:19] #8595 closed

[2016-05-27 07:33] raisedadead commented on #8814
Yup, while I agree this needs more love with perhaps the most visited resource, potential mock-ups should not break the underlying concept of the linearity (rightly pointed by Berkeley).

Also to consider that this page needs to be rendered on mobile devices (smaller view ports) and the aside.

Looking forward to a more accessible change though.

[2016-05-27 08:13] nhuyvan1106 opened #8818 "function implemented works for one of the provided object values in an array, but fails to pass for the rest"
![1](https://cloud.githubusercontent.com/assets/13056129/15602029/b24a033e-23a7-11e6-921d-0aee94855528.png)
![2](https://cloud.githubusercontent.com/assets/13056129/15602028/b249cd4c-23a7-11e6-922a-d63a3649aa12.png)
![3](https://cloud.githubusercontent.com/assets/13056129/15602030/b24da052-23a7-11e6-9c08-c4b15dca4858.png)

Given the `contacts` array, I implemented the function as per requirements,

[2016-05-27 08:14] prideloki commented on #8793
Hi @QuincyLarson , i will work on it
it would look like this gif below
![05ydnveexw](https://cloud.githubusercontent.com/assets/1741356/15602140/a6f0eef0-241d-11e6-8299-fdd0010a472d.gif)

[2016-05-27 10:48] bugron commented on #8818
@nhuyvan1106 thanks for posting this issue!
Unfortunately, this is not a complete solution, try debugging your code line by line and you'll see. If you have problems with your code, please, post a message in our [Gitter chat room](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/FreeCodeCamp-Get-Help) first, thanks.Closing this issue.

[2016-05-27 10:48] #8818 closed

[2016-05-27 11:07] bugron commented on #8102
This issue seems to be solved. Closing.

[2016-05-27 11:07] #8102 closed

[2016-05-27 11:08] bugron commented on #8104
We already have `g n o`. Closing.

[2016-05-27 11:08] #8104 closed

[2016-05-27 11:22] bugron commented on #8388
I can't reproduce this issue neither in Firefox 46 nor in Chrome 50. Closing.

[2016-05-27 11:22] #8388 closed

[2016-05-27 11:23] bugron commented on #8253
Thanks everyone for your reports.
We have updated CodeMirror a couple of days ago (see https://github.com/FreeCodeCamp/FreeCodeCamp/pull/8737) and, hopefully, this issue is solved with that update. I'm going to close it but, @KittSmith please, feel free to reopen if you still can reproduce this issue, thanks.

[2016-05-27 11:23] #8253 closed

[2016-05-27 11:23] bugron commented on #7847
Thanks everyone for your reports.
We have updated CodeMirror a couple of days ago (see https://github.com/FreeCodeCamp/FreeCodeCamp/pull/8737) and, hopefully, this issue is solved with that update. I'm going to close it but, @sadathanwar17 please, feel free to reopen if you still can reproduce this issue, thanks.

[2016-05-27 11:23] bugron commented on #8758
@Jrusso8199 thanks for posting this issue!
We have updated CodeMirror a couple of days ago (see https://github.com/FreeCodeCamp/FreeCodeCamp/pull/8737) and, hopefully, this issue is solved with that update. I'm going to close it but, please, feel free to reopen if you still can reproduce this issue, thanks.

[2016-05-27 11:23] #8758 closed

[2016-05-27 11:58] DanStockham commented on #8814
I agree with Berkeley. The idea of putting the sections in certain categories and having them stand on their own would confuse the beginner. Most newbies are used to a linear progression when learning a new trade. A general IT approach of learning is picking a category and just learning it. Everything else just falls in line as long the learner is meeting an objective. It would be a shock for thos

[2016-05-27 12:15] Jrusso8199 commented on #8758
Thank You,
It is fixed now

[2016-05-27 12:29] Shreyas1994 opened #8819 "h2 element should"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-05-27 12:31] Shreyas1994 opened #8820 "h2 element should be red"
#### Challenge Name

#### Issue Description

#### Browser Information

[2016-05-27 12:31] #8820 closed

[2016-05-27 12:32] Shreyas1994 commented on #8819
Here is my code
<style>
 .red-text
  {
    color:red;
  }
</style>

<h2 class ="red-text">CatPhotoApp</h2>

<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

[2016-05-27 12:32] #8819 closed

[2016-05-27 12:37] Shreyas1994 opened #8821 "h2 element should be red"
#### Challenge Name

https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%C2%A0.red-text%20%7B%0A%20%C2%A0%20%20color%3Ared%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%2

[2016-05-27 12:38] Shreyas1994 commented on #8821
<style>
  .red-text {
    color:red;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

[2016-05-27 13:02] hallaathrad commented on #8814
Perhaps I've misunderstood the opening post, but the way it sounds to make, @dewhiz wanted to show the "list" in a more understandable way, by visually segmenting the chapters while respecting the linear structure, yet it was never implied breaking it into parallel learning paths.

Having thought of some myself, I do believe there are ways to keep it as @BerkeleyTrue correctly puts it, but with a

[2016-05-27 13:47] bugron commented on #2802
Closing this issue in favor of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7842.

[2016-05-27 13:47] #2802 closed

[2016-05-27 14:04] bugron commented on #7741
Closing this issue. Feel free to reopen if this is still an issue for you, thanks.

[2016-05-27 14:04] #7741 closed

[2016-05-27 15:02] #8813 closed

[2016-05-27 15:06] raisedadead commented on #8821
@Shreyas1994 you can use backticks to format code:
https://guides.github.com/features/mastering-markdown/
<code>\`\`\`</code>

I have done this for you.

[2016-05-27 15:09] BerkeleyTrue commented on #8821
[code]

[2016-05-27 15:11] raisedadead commented on #8821
On a side note I am able to pass this challenge with your code after, resetting the code (using RESET Button).

Please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug)

Let us know if you are still facing issues

[2016-05-27 16:01] m-henderson opened #8823 "404 File Not Found"
When clicking the WikiCentral link I am directed to a page with 404 error.
I have pointed out the WikiCentral link with a red arrow in the image below.

![1](https://cloud.githubusercontent.com/assets/16070192/15613420/fc57fa8e-23f8-11e6-85dc-2292b8115c6f.png)

I have provided an image below this sentence to show you what the page looks like that I am directed to after clicking the WikiCentral lin

[2016-05-27 16:06] atjonathan commented on #8823
@m-henderson We recently moved all our links to lowercase: The file can be found with the same filename, just lowercase here: http://freecodecamp.github.io/wiki/en/wiki-central/

[2016-05-27 16:16] coolsday commented on #8731
i got the same problem here

[2016-05-27 16:19] atjonathan commented on #8823
@m-henderson I've moved this issue over to the wiki repo: FreeCodeCamp/wiki#1050. Thanks for the report!

[2016-05-27 16:19] #8823 closed

[2016-05-27 16:19] m-henderson commented on #8823
@atjonathan  the Wiki Central link pointed out in the image with the red arrow needs to be updated to contain the link without capitalization. Until that link is updated users will be sent to the 404 page if they click Wiki Central under Guides on How to Contribute

[2016-05-27 16:20] m-henderson commented on #8823
@atjonathan sorry, we replied at the same time. no problem and happy coding (:

[2016-05-27 16:37] tlerias commented on #8794
This is my first Open Source contribution! I fixed this bug in PR #8824
Feedback is appreciated.

[2016-05-27 17:18] bugron commented on #5662
If we still need to be able to test more than one solution we can change `.doOnNext(t => solutions.length ? t.plan(plan) : t.end())` to `.doOnNext(t => t.end())` in `seed/test-challenges.js`, that worked for me.

[2016-05-27 18:00] ltegman commented on #8821
There's an illegal whitespace character in your input, which is why resetting the code and typing it manually fixes the error. CSS is very picky about whitespace characters. To avoid this problem please always type your answer by hand rather than copying and pasting any of it from somewhere else (even from our own page). Thanks and happy coding!

[2016-05-27 18:00] #8821 closed

[2016-05-27 18:02] ltegman commented on #8759
Closing as stale. As @raisedadead mentioned, using the same version of node/npm we use in production should solve this problem (node 4.X and npm 2). Thanks and happy coding!

[2016-05-27 18:02] #8759 closed

[2016-05-27 18:29] cosmasonyekwelu opened #8825 "Not moving to next challenge"
Challenge [Use Responsive Design with Bootstrap Fluid Containers](https://www.freecodecamp.com/challenges/use-responsive-design-with-bootstrap-fluid-containers#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20{%0A%20%20%20%20color%3A%20red%3B%0A%20%20}%0A%0A%20%20h

[2016-05-27 18:33] LeoDTLA commented on #6819
@francisfrances thanks for sharing what you did about changing from Chrome to IE to be able to fix that issue, it did help.

[2016-05-27 18:34] Tsadoila opened #8826 "please, help me"
Challenge [Inherit Styles from the Body Element](https://www.freecodecamp.com/challenges/inherit-styles-from-the-body-element#?solution=%0A%3Cstyle%3E%0A%20%20body%7B%0A%20%20%20%20background-color%3Agreen%3B%0A%20%20%20%20font-family%3AMonospace%3B%0A%20%20%7D%0A%0A%3C%2Fstyle%3E%3Ch1%3E%20Hello%20World%3C%2Fh1%3E%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537

[2016-05-27 18:36] #8826 closed

[2016-05-27 19:23] erictleung commented on #8825
@cosmasonyekwelu your code works for me and I don't have any issues with moving to the next challenge. Can you try resetting the code and trying again?

[2016-05-27 20:33] r0ach369 opened #8828 "size your image challenge."
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2016-05-27 20:49] sirluis commented on #8828
Hello!
You miss the _class_ attribute.

`<img **class="smaller-img"** src="https://bit.ly/fcc-relaxing-cat">`

[2016-05-27 20:53] atjonathan commented on #8828
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-05-27 20:53] #8828 closed

[2016-05-27 21:55] trouterusa commented on #7614
I have to agree... I don't know what to do here. I am searching all the interwebs, and coming up with all sorts of solutions, but the freeCodeCamp editor doesn't seem to accept them. This is very unclear as to what we are supposed to do here.

[2016-05-27 23:28] ltegman commented on #8796
I can confirm this error despite the fact that the code is a valid solution. Seems that calling a function that returns a function on the final line of a solution breaks our code execution? Whatever the case you shouldn't be able to completely crash the JS environment for FCC with valid code (which this code does).

[2016-05-27 23:29] ancestralx opened #8829 "Why is there no period?"
/*I know how to fix the problem. I did it the way you asked for it and it works fine. However, It just should have a period at the end, since it is a sentence. It took me forever to figure what I was not doing because a sentence was given and did not end with period, so I kept putting in the period until I figured it out.*/

Challenge [Escaping Literal Quotes in Strings](https://www.freecodecamp.c

[2016-05-28 00:26] #8794 closed

[2016-05-28 01:40] marcelpirata opened #8831 "Access Array Data with Indexes... var myData = [0] is the correct answer... not var myData = [1]"
Challenge [Access Array Data with Indexes](https://www.freecodecamp.com/challenges/access-array-data-with-indexes#?solution=%0A%2F%2F%20Example%0Avar%20ourArray%20%3D%20%5B1%2C2%2C3%5D%3B%0Avar%20ourData%20%3D%20ourArray%5B0%5D%3B%20%2F%2F%20equals%201%0A%0A%2F%2F%20Setup%0Avar%20myArray%20%3D%20%5B1%2C2%2C3%5D%3B%0Avar%20myData%20%3D%20%5B0%5D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%

[2016-05-28 01:54] sludge256 commented on #8831
Correct me if I'm wrong.

I believe there's an issue with the test:
[code]

[link](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/a2dbb61062e4857b49890b119406ca2ad0fa4a02/seed/challenges/01-front-end-development-certification/basic-javascript.json#L1695)

`myArray[0]` has the value of 1.
`myData = [1]` would give you the value of [1].

`myArray[0] == myData` :point_right: `1 == [1]` :+1: which

[2016-05-28 02:11] erictleung commented on #8570
@pranayberry that sounds good to me. Just looking for the modulo character so something like this might help.

[code]

[2016-05-28 02:44] 149203 commented on #7853
I just got this working today thanks to this thread and some other digging around. Here's what I did, **without using crossorigin or another CORS proxy.** Thought I'd post for other campers.

1. Make sure my pen on codepen has an **https** address. It should look like this in the address bar: **https**://codepen.io/YOUR_USERNAME/pen/YOUR_PEN_ID

2. Now **navigator.geolocation** will work just fine

[2016-05-28 02:56] Shreyas1994 commented on #7753
Its problem occurring in google chrome remove white spaces in line 2&3 it will work fine

[2016-05-28 06:39] AnwarShah opened #8833 "Comparison with the Inequality Operator challenge raise false error when used "99" in conditional"
Challenge [Comparison with the Inequality Operator](https://www.freecodecamp.com/challenges/comparison-with-the-inequality-operator) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.87 Safari/537.36 OPR/37.0.2178.32</code>.

My code:
[code]
The challenge should be passed with both `'99'` and `99` value in the if condition te

[2016-05-28 07:35] Jontwa commented on #6566
i have the same problem on my mac. but when i log in through win 7 everything is ok..... no pop up unless i want it to be there, and it closes smoothly when i want it to.

[2016-05-28 07:35] bugron commented on #6209
I am not able to reproduce. @SaintPeter @AkiraLaine @alistermada @cannelflow is this still an issue for you?

[2016-05-28 07:54] AkiraLaine commented on #6209
@bugron Hey! No, I don't have this problem anymore. I'll go ahead and close this as no one else reported anything in a while

[2016-05-28 07:54] #6209 closed

[2016-05-28 07:56] #8829 closed

[2016-05-28 07:56] bugron commented on #6209
@AkiraLaine awesome, thanks.

[2016-05-28 08:16] bugron commented on #8833
@AnwarShah thanks for posting this issue!
As you can see [here](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/dce9614e421071f5a815ff165baa5730c5fb4919/seed/challenges/01-front-end-development-certification/basic-javascript.json#L2785) test looks for a number after `!=` operator, that's why if fails. I understand your point but I don't know if it's worth of fixing. I'll let other @FreeCodeCamp/

[2016-05-28 08:53] bugron commented on #8831
@marcelpirata thanks for posting this issue!
Neither `var myData = [0]` nor `var myData = [1]` is a correct answer. And I don't see any issue with the test. This challenge asks you to create a variable called `myData` and set it to equal the first value of `myArray`. First value of `myArray` is 1, not `[1]`, thus `myArray[0] == myData` equals to `1 == 1` which is true.
Closing this issue.

[2016-05-28 08:56] bugron commented on #8825
I am unable to reproduce any issue with the provided code too. Closing this issue. @cosmasonyekwelu feel free to reopen with more details about the issue you're experiencing, thanks.

[2016-05-28 08:56] #8825 closed

[2016-05-28 09:04] Balundo commented on #8825
reset your code,
or check for your Internet connection
--
the hard way is easy

[2016-05-28 09:27] aifrak opened #8835 "Understand String Immutability: The objectives are not displayed"
Understand String Immutability

https://www.freecodecamp.com/challenges/understand-string-immutability#?solution=%0A%2F%2F%20Setup%0Avar%20myStr%20%3D%20%22Jello%20World%22%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0AmyStr%5B0%5D%20%3D%20%22Hello%20World%22%3B%20%2F%2F%20Fix%20Me%0A%0A%0A

The objectives are not displayed after the page is loaded. I tried to clear the browser

[2016-05-28 09:38] dogalmadensuyu opened #8836 "code is working but i cant pass"
Challenge [Set the Font Family of an Element](https://www.freecodecamp.com/challenges/set-the-font-family-of-an-element#?solution=%3Cstyle%3E%0A%20%20.red-text%20%0A%20%20%7B%0A%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20%20%20%0A%20%20%0A%20%20%20p%20%7B%20%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%20%20font-family%3A%20Monospace%3B%0A%20%20%7D%0A%0A%3C%2Fstyle%3E%20%0A%0A%3Ch2%20%20class%

[2016-05-28 09:47] atjonathan commented on #8835
Source: https://www.freecodecamp.com/challenges/understand-string-immutability

[code]
cannot change the value of `myStr` to "Job", because the contents of `myStr` cannot be altered. Note that this does not mean that `myStr` cannot be changed, just that the individual characters of a `string literal` cannot be changed. The only way to change `myStr` would be to assign it with a new string, like th

[2016-05-28 09:47] #8835 closed

[2016-05-28 09:49] atjonathan commented on #8836
@dogalmadensuyu Your second `p` tag shouldn't have the class of `red-text`.

Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-05-28 09:49] #8836 closed

[2016-05-28 09:52] atjonathan commented on #8833
I personally don't think this is worth fixing either.

[2016-05-28 09:57] annaGo opened #8837 "Code is right but can not pass"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2016-05-28 09:59] bugron commented on #8835
@aifrak in this case that's because your code crashes our test suite because `myStr[0] = "Hello World"` generates a `TypeError`.

[2016-05-28 09:59] aifrak commented on #8835
I could solve this challenge but what I wanted to mean is that the red crosses are not displayed at the bottom when the page is loading. Normally red crosses and green symboles are
displayed at the bottom of each challenge.

OK (example of another challenge):
![ok](https://cloud.githubusercontent.com/assets/16720672/15626675/41f90470-24cb-11e6-95f0-0e198bb9befb.JPG)

Failed and completed objective

[2016-05-28 10:05] bugron commented on #8837
@annaGo thanks for posting this issue!
Unfortunately, your code doesn't satisfy requirements of first test. If you have problems with your code, please, post a message in our [Gitter chat room](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/FreeCodeCamp-Get-Help) first, thanks. Closing this issue.

[2016-05-28 10:05] #8837 closed

[2016-05-28 10:19] PlinySoun commented on #6062
No luck.. eventhough I dont have the space behind.. bug?

[2016-05-28 10:24] bugron commented on #6062
@PlinySoun our tests are looking for `processArg` not `processArc`.

[2016-05-28 11:04] shoysmTP opened #8838 "problem with using objects for lookup in javascript"
#### using objects for lookups

https://www.freecodecamp.com/challenges/using-objects-for-lookups#?solution=%0A%2F%2F%20Setup%0Afunction%20phoneticLookup(val)%20%7B%0A%20%20var%20result%20%3D%20%22%22%3B%0A%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%20var%20lookup%20%3D%20%7B%0A%20%20%20%20alpha%3A%20%20%20%20%20%22adams%22%2C%0A%20%20%20%20bravo%3A%20%20%20%20%20%22bosto

[2016-05-28 11:05] #8838 closed

[2016-05-28 11:45] bugron commented on #8742
As stated this is a very rare situation and I can't repro either. Closing this issue.

[2016-05-28 11:45] #8742 closed

[2016-05-28 11:49] bugron commented on #8733
I'm unable to reproduce this issue both in Firefox 46 and Chrome 50. Closing. @mbartelsm feel free to reopen with more details.
P.S. /cc @atjonathan
![](http://i.prntscr.com/fae4d46602604ab4a0761411ad07e055.png)
All issues created right from FCC (`Bug` -> `Create my GitHub issue`) include this info by default.

[2016-05-28 11:49] #8733 closed

[2016-05-28 12:00] bugron commented on #8660
@kiknag any updates on this?

[2016-05-28 12:08] bugron commented on #8638
@UsamaHameed we've updated CodeMirror (see https://github.com/FreeCodeCamp/FreeCodeCamp/pull/8737) a couple of days ago, hopefully, this issue is fixed with that. I'm going to close this issue but feel free to reopen if you still experience this, thanks.

[2016-05-28 12:08] #8638 closed

[2016-05-28 12:20] bugron commented on #8632
@stomperstomp thanks for posting!
Closing this issue in favor of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/5667.

[2016-05-28 12:20] #8632 closed

[2016-05-28 13:09] bugron commented on #8458
@john-dederer any progress on this?

[2016-05-28 13:09] bugron commented on #8447
@5k9m any progress on this?

[2016-05-28 13:24] atjonathan opened #8839 "Update GIFs and screenshots on Getting Started Challenges"
Some GIFs and screenshots on the following challenges need updated, as they show older versions of the site and branding:
- [x] [Create a GitHub account and join our chat rooms](https://www.freecodecamp.com/challenges/create-a-github-account-and-join-our-chat-rooms)
- [x] [Configure your code portfolio](https://www.freecodecamp.com/challenges/configure-your-code-portfolio)
- [x] [Join a campsite i

[2016-05-28 13:26] 5k9m commented on #8447
@bugron Unfortunately not as much as I would like - have been swamped with work for the past 3 weeks... Hope to finish the translation until the middle of June!

[2016-05-28 14:48] ltegman commented on #8833
A

[2016-05-28 15:21] zaclem01 commented on #8743
So just the package.json, templates for the views, and functions?

How would you test to ensure all views have the correct extension?

If it isn't more technical than that, I could probably take it on.

[2016-05-28 15:45] atjonathan commented on #8743
@zaclem01 This has already been addressed by #8827

[2016-05-28 15:54] 149203 commented on #7853
@tparikka Nice code! You are able to use the [forecast.io](https://developer.forecast.io/) API without crossorigin.me.

You have to use a **$.ajax()** request instead of the **$.getJSON()** request and specify jsonp for the data type. I learned this from the second answer here: http://stackoverflow.com/questions/20035101/no-access-control-allow-origin-header-is-present-on-the-requested-resource

S

[2016-05-28 16:24] sludge256 commented on #8831
@bugron You can pass with `var myData = [1];`

[2016-05-28 16:30] atjonathan commented on #8583
@RayBB I don't think it's worth adding this feature, as you can very simply start the questions.

[2016-05-28 16:33] bugron commented on #8831
@sludge256 I'm sorry, seems I misunderstood the issue.

[2016-05-28 17:01] r0ach369 commented on #8828
D'oh correct u r sir. Thank u kindly.

[2016-05-28 17:09] MaxSchumacher opened #8841 "level of difficulty / scope of challenge / further explanations"
Challenge [Build a Random Quote Machine](https://www.freecodecamp.com/challenges/build-a-random-quote-machine) has an issue.

I've spent quite a lot of time on this task and undoubtedly learned a lot. Still, I feel like there should be additional explanations regarding two issues to help people get started.

**Sharing on Twitter**
For example, pointing users to the Twitter Web Intents documentatio

[2016-05-28 18:23] SandraFlato commented on #8583
Still finding the automatic feature frustrating.  I have to answer the questions, exit out and then go back in to read the comments if I have questions or there is a link that I need to follow.

Sent from my iPad

[2016-05-28 18:29] atjonathan commented on #8583
@SandraFlato #8840 will fix this when it's merged and pushed to `master` :tada:

[2016-05-28 18:54] #8583 closed

[2016-05-28 19:50] shakeelakbar1 commented on #8490
thanks, it was resolved :)

[2016-05-28 22:10] orenyny opened #8843 "This is a buggy challange"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty

[2016-05-28 22:59] SandraFlato commented on #8583
Thank you!  Sorry to be high maintenance!

Sent from my iPad

[2016-05-29 00:42] ltegman commented on #8833
If we're asking someone to use the loose equal in the challenge I don't thinks it's unreasonable for them to play around with how it actually works by using a string. I personally feel this should be fixed to allow it, since the code passes all the functionality based teats.

[2016-05-29 01:54] lenzai opened #8844 "Challenge [Accessing Objects Properties with Variables]: confusing error message"
Challenge [Accessing Objects Properties with Variables](https://www.freecodecamp.com/challenges/accessing-objects-properties-with-variables#?solution=%0A%2F%2F%20Setup%0Avar%20testObj%20%3D%20%7B%0A%20%2012%3A%20%22Namath%22%2C%0A%20%2016%3A%20%22Montana%22%2C%0A%20%2019%3A%20%22Unitas%22%0A%7D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%3B%0A%0Avar%20playerNumber%3D%2016%3B%20%20%

[2016-05-29 04:15] erictleung commented on #8843
@orenyny thanks for the feedback. What do you suggest on changing to make it more clear on what the challenge requires?

[2016-05-29 04:16] VincentDiCarlo opened #8845 "Choice of Colors in Browser Coding Window in FreeCodeCamp Challenges for Accessibility for Color Blind"
#### Challenge Name

All
#### Issue Description

A way to change the background color of the code window from black to white, and the default code color from white to black. I am color impaired and have trouble seeing red characters on a black background.  I believe about 6% of all men have a similar condition.

In the screenshot below, I can make out the characters in red, but it is not easy.  A

[2016-05-29 04:51] pranayberry commented on #8570
@erictleung I used the following test locally.
`assert(/.*%.*/.test(code), 'message: You should use the <code>%</code> operator');`

[2016-05-29 05:17] erictleung commented on #8833
I think the test message should represent what the test actually does. So in this case, I think the test should only be checking for the `!=` operator. The other tests are checking already checking for the correct values. Plus, I think this would be a fairly straightforward change for first-time contributors.

[2016-05-29 05:35] pranayberry commented on #8551
@raisedadead
**Previous**
![screenshot from 2016-05-29 10 50 50](https://cloud.githubusercontent.com/assets/15723427/15631547/200f94f6-258d-11e6-96d4-1f624d1d127c.png)
![screenshot from 2016-05-29 10 53 16](https://cloud.githubusercontent.com/assets/15723427/15631549/238f9360-258d-11e6-8fea-07b147383d5f.png)

**Updated**
![screenshot from 2016-05-29 10 50 20](https://cloud.githubusercontent.com/as

[2016-05-29 05:43] erictleung commented on #8570
@pranayberry not really. Mine *just* looks for the remainder operator. Yours looks for the remainder operator and stuff being around it.

But to make it more explicit, it might be good to look for the correct use of the remainder operator with something like this:

[code]

[2016-05-29 06:17] erictleung commented on #8844
@lenzai thanks for the feedback. It does seem confusing that you are using bracket notation correctly but the test is failing. The test actually is checking for the specific use of `playerNumber` within the brackets. Maybe the test should be more specific and have an additional test:

The first test should be changed to:

[code]

And the second test should be:

[code]

[2016-05-29 06:38] erictleung commented on #7015
@CaptRat thanks for the feedback on your learning experience. I think the example code could be redone to emphasize how they work. Here's a suggested rewrite:

[code]

Any feedback on how well it explains the concept is welcome.

[2016-05-29 06:46] paprzytula commented on #8843
I think the challenges with "add something" should also include information about the line and in some cases even the column where the code should be implemented.

[2016-05-29 07:01] erictleung commented on #8845
@VincentDiCarlo thanks for the feedback. We strive to make the site as accessible as possible. The closest thing we have within the Free Code Camp site that might help is night mode. You can access this by typing `g`,`t`,`n` within the site. Let us know how that looks to you. Another solution is to look for extensions for your browser that enable color impaired friendly themes.

cc/ @FreeCodeCamp/

[2016-05-29 07:10] ecchioni opened #8846 "Check for Palindromes failing to remove non aplhanumerics."
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=%0Afunction%20palindrome(str)%20%7B%0A%20%20%2F%2F%20Good%20luck!%0A%20%20var%20start%20%3D%200%3B%0A%20%20var%20end%20%3D%20str.length%20-%201%3B%0A%20%20str%20%3D%20str.replace(%2F%5CW%2B%2F%2C%22%22)%3B%0A%20%20str%20%3D%20str.toLowerCase()%3B%0A%20%20while(start%20%3C%20end)%0A%20%20%20%20

[2016-05-29 07:13] erictleung commented on #8550
@raisedadead I agree with @breakpoint25 that we can just clarify the instructions to repeat for only positive numbers. So maybe change the instructions to this might help:

[2016-05-29 07:24] erictleung commented on #8846
@ecchioni please reread the instructions on dealing with non-alphanumeric characters.

Happy coding!

[2016-05-29 07:24] #8846 closed

[2016-05-29 07:26] ecchioni commented on #8846
Are you sure you read the code?

[2016-05-29 07:40] erictleung commented on #8846
@ecchioni I did and there is an issue with your code. If you get stuck with a challenge, please ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). If your issues is not with the code but on how the challenge tests your code, can you describe the issue you're having in more detail?

[2016-05-29 08:27] Achillesthewarrior commented on #8846
palindrome("five|\_/|four");

function palindrome(str) {

       return str;
}

output it is giving is : five|_/|four"

For the same reason could not solve palindrome problem.

[2016-05-29 08:30] Achillesthewarrior commented on #8846
palindrome("five|\_/|four");

function palindrome(str) {
return str;
}

output is : five|_/|four

How \ is automatically removed?

[2016-05-29 08:31] Achillesthewarrior commented on #8846
just like it happened in above example??

[2016-05-29 08:37] erictleung commented on #8846
@Achillesthewarrior the backslash `\` is an escape character and is tries to escape special characters if necessary. If you have more questions, please ask them to the [Help Room](https://gitter.im/FreeCodeCamp/Help).

[2016-05-29 10:13] jolarti opened #8849 "First jQuery challenge should mention linking to library + HEAD"
#### Challenge Name

"Learn how Script Tags and Document Ready Work":
https://www.freecodecamp.com/challenges/learn-how-script-tags-and-document-ready-work
#### Issue Description

This is a text/content suggestion.
The very first jQuery challenge doesn't in any way mention that an HTML page needs to actually link to the jQuery library.
Beginners really need to know/learn that all the effects don't

[2016-05-29 11:46] yoavgray commented on #7630
happened to me as well...

[2016-05-29 12:35] Blazer433 opened #8850 "Escaping Literal Quotes challenge test is unclear"
Challenge [Escaping Literal Quotes in Strings](https://www.freecodecamp.com/challenges/escaping-literal-quotes-in-strings#?solution=%0Avar%20myStr%20%3D%20%22(I%20am%20a%20%5C%22double%20quoted%5C%22%20string%20inside%20%5C%22double%20quotes%5C%22).%22%3B%0A%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102

[2016-05-29 12:43] HenrySanches commented on #8850
RIght, I would want to dig into this code

[2016-05-29 13:37] hallaathrad commented on #8845
Maybe we could come up with a high contrast mode, without a key shortcut, for it most likely would be a permanently turned-on feature for some people.

Do we have an a11y milestone on the works anywhere? Or should this be a separate thing?

[2016-05-29 14:49] Carlosmcoelho commented on #8850
Solution should be:
Variable myStr should equal to (**I am a "double quoted" string inside "double quotes"**).

and your solution is:
 **(I am a "double quoted" string inside "double quotes").**

[2016-05-29 16:43] cmal opened #8851 "Will this set of front end courses include mobile device's front end design and the usage of photoshop?"
Will the front end courses include the specific front end design for mobile devices? not the responsive front-end framework.
Will the front end courses include the usage of photoshop? or is the skills of photoshop indispensable in front end design?
Thanks very much!

[2016-05-29 17:15] BKinahan commented on #8850
[code]
The parentheses in the test message are confusing and ambiguous, though I think they were added recently to clear up confusing ambiguity. Probably no perfect solution here 😄

[2016-05-29 18:55] erictleung commented on #8850
@Blazer433 thanks for the issue. Your code doesn't require the parentheses. Looking at that last test, I can see how there can be confusion on what the string should be.

We've had lots of issues on this challenge. Looking back at a [previous issue](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/8183), I think a little edit to [a suggestion](https://github.com/FreeCodeCamp/FreeCodeCamp/issues

[2016-05-29 19:08] erictleung commented on #8849
@jolarti thanks for the feedback. I like the addition of informing people of some of the behind the scenes code. I can see how this could frustrate someone copying the code locally and failing to create the webpage.

As far as the introduction of `<HEAD>` tags, I think we could put in the beginning of the Bootstrap section, in front of "Use Responsive Design with Bootstrap Fluid Containers".

cc/

[2016-05-29 19:09] raisedadead commented on #8845
We sure should have one a11y milestone! and +1 for a high contrast mode.

/cc @QuincyLarson

[2016-05-29 19:16] erictleung commented on #8851
@cmal thanks for the suggestions. Although they would be great content to teach, I don't think the curriculum will change anytime soon to include any mobile-specific design challenges or challenges requiring Photoshop. These may be too specific for our curriculum, as ours is directed to just new coders.

cc/ @FreeCodeCamp/issue-moderators

[2016-05-29 19:22] raisedadead commented on #8851
This looks really wide to me. UI Design targets specific audiences and while important is generally not an mandatory requirement to learn to code. These can be take up as video courses IMHO as supplements.

Let's keep this off GitHub issues list unless confirmed as a request, I would urge you to discuss this in the forums or the chat rooms first, and then re-open.

To be closed if other moderators

[2016-05-29 19:24] raisedadead commented on #8849
Agreed.

[2016-05-29 20:26] #8844 closed

[2016-05-29 20:58] kamilejones commented on #4764
hi, wanna leave my code,

function confirmEnding(str, target) {
  // "Never give up and good luck will find you."
  // -- Falcor
  return str.substr((-1)*target.length) == target;
}

confirmEnding("Bastian", "n");

[2016-05-29 22:15] twmilli opened #8852 "Spinal Tap Case Missing Parenthesis"
#### Spinal Tap Case intermediate algorithm
https://www.freecodecamp.com/challenges/spinal-tap-case

#### Issue Description
3rd test case is missing a closing parenthesis.  This does not really affect my experience with the challenge too much I just felt like it is something that should be fixed and would be an easy fix.  I would be interested in doing it just for fun if possible

#### Browser Inf

[2016-05-29 22:30] erictleung commented on #8852
@twmilli thanks for the issue. So I do see the same thing but if you zoom out, you can actually see the closing parentheses.

![image](https://cloud.githubusercontent.com/assets/2754821/15636404/165a1a56-25b2-11e6-93ea-3a0890e4ca23.png)

Related #8390.

cc/ @hallaathrad

[2016-05-29 22:49] erictleung commented on #8438
For those interested in fixing this, what is displayed should look similar to [what I typed up above](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/8438#issuecomment-216992238).

The [code](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/jquery.json#L346-L350) itself should be something like this:

[code]

Please first read the

[2016-05-29 22:55] erictleung commented on #8556
Here's a suggestion:

On a side note, I think the `var sandwich = ["peanut butter", "jelly", "bread"]` could be given its own line whoever takes care of this issue.

[2016-05-29 23:56] erictleung commented on #8554
I'm for a more "real world" problem for this challenge. Here's a draft string and instructions:

Too hard? Too confusing?

[2016-05-30 00:01] erictleung commented on #8550
For those wanting to fix this, [here is the line of code](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/basic-bonfires.json#L365) you need to change. And you need to change it to:

[code]

Please first read the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) before taking care of

[2016-05-30 03:05] erictleung commented on #8417
Here's a suggested edit to the instructions:

The tests should be changed a little too so it can look for the correct button.

[2016-05-30 04:23] sludge256 commented on #8722
@kristenmthayer Sorry for the delay. I don't know how much data this file contains but it's what I have.
[campernews_archive_04052016.txt](https://github.com/FreeCodeCamp/FreeCodeCamp/files/288816/campernews_archive_04052016.txt)

[2016-05-30 05:21] rayjon commented on #6259
Had to refresh in order to past the tests. There's still a bug here.

[2016-05-30 06:19] SaintPeter commented on #7015
@erictleung That looks nice.

[2016-05-30 06:22] SaintPeter commented on #8805
Our current infrastructure does not support asynchronous tests or spies, both of which are needed to test this properly.  As I understand it, our "coming soon" infrastructure will support this, which should enable a much larger variety of tests/challenges.

[2016-05-30 08:48] nsee92 commented on #7630
have the same problem

[2016-05-30 09:20] designofhumanity opened #8853 "Incorrect text editor behavior. Enter, new line, arrow keys, mouse position (windows 10, google chrome)"
I think this is general text editor behavior. For exmaple use arrow keys to correct mouse cursor position
https://www.freecodecamp.com/challenges/taste-the-bootstrap-button-color-rainbow

![arrowkeyerror](https://cloud.githubusercontent.com/assets/2714036/15647281/4b4d0f48-266b-11e6-9731-cb7570e75d78.png)
26 times press right arrow and 27 unexpected new line
![backarrowerror](https://cloud.githubu

[2016-05-30 09:41] erictleung commented on #8853
@designofhumanity can you be more specific on what behavior issues you are having?

[2016-05-30 10:21] designofhumanity commented on #8853
![image](https://cloud.githubusercontent.com/assets/2714036/15646960/7579ebee-2669-11e6-99cf-b2149745a1fb.png)

[2016-05-30 10:36] designofhumanity commented on #8853
pls look at this, and analog situation with other cursor position like press enter, backspace and so on

[2016-05-30 11:05] myprtfl opened #8854 "GITHUB_SECRET stored in unsafe place in .env at Get Set for our Back End Development Projects challenge"
#### Challenge Name

[https://www.freecodecamp.com/challenges/get-set-for-our-back-end-development-projects](https://www.freecodecamp.com/challenges/get-set-for-our-back-end-development-projects)
#### Issue Description

GITHUB_SECRET stored in .env file at cloud9 workspace.
The workspace is set to public as shown in step 2 / 14.
Any one with a cloud9 account can have access to the GITHUB_SECRET.
T

[2016-05-30 11:38] designofhumanity commented on #8853
look at screen shots and pls ublock i think it is very uncomfotable web
text editor abblock off, firerox have the same issue

2016-05-30 12:41 GMT+03:00 Eric Leung <notifications@github.com>:

[2016-05-30 14:02] hram908 commented on #5924
After correcting the code I was told to refresh the page by @HassHz

[2016-05-30 15:05] raisedadead commented on #8854
Cloud Nine allows one private repo per developer. I recommend you make your repo private and only the application URI public so that anyone can still see the demo, whilst securing the repo codebase.

We could do a wiki on that.

[2016-05-30 15:07] raisedadead commented on #8554
Agreed.

[2016-05-30 15:18] #8806 closed

[2016-05-30 15:27] #8372 closed

[2016-05-30 17:59] ArmendBerisha opened #8856 "Italian Translation of Getting Started translation"
- [ ] Getting started

[2016-05-30 19:12] Salt7900 commented on #8550
I'll take care of changing that specific line.

Will read the guidelines and follow them, and then submit a PR with this update.

[2016-05-30 19:46] atjonathan commented on #8849
Sounds good 👍

[2016-05-30 19:50] atjonathan commented on #8851
Closing. Feel free to open an issue on our wiki or hikes repos. However, we won't be integrating this content into the main curriculum, thanks!

[2016-05-30 19:50] #8851 closed

[2016-05-30 20:28] pranayberry commented on #8570
@erictleung Tested and working absolutely fine. Will submit the PR. :+1:

[2016-05-30 21:24] kristenmthayer commented on #8722
@sludge256  thanks! I really appreciate that!!

[2016-05-30 21:50] dmatt commented on #7847
@sadathanwar17 @bugron This bug still seems to be active. I can reproduce it here https://www.freecodecamp.com/challenges/create-a-text-field.

- Chrome 50.0.2661.102
- Macintosh OS X 10.11.2
- Browser Size 1680 x 952
- Screen Resolution 1680 x 1050

![cursor-bug](https://cloud.githubusercontent.com/assets/2955305/15658784/c1a0de2c-2675-11e6-9c8a-c57d4d11c43f.gif)

[2016-05-30 22:29] jolarti commented on #8849
The rather more serious issue underlying this is that FCC doesn't explain what an HTML file looks like. It doesn't even start with the usual oldschool basics of, well you know:
[code]

This is probably because of the way the code editor in browser works at FCC? This doesn't show the head - but that would not be a good reason for any curriculum to be trimmed down I'd say.

[2016-05-30 23:11] #7394 closed

[2016-05-30 23:20] #8793 closed

[2016-05-30 23:24] erictleung commented on #8853
@designofhumanity this issue has been persistent for a while (#7847 recently closed). The editor is by [CodeMirror](https://github.com/codemirror/CodeMirror) so any bugs are mostly out of our control.

cc/ @FreeCodeCamp/issue-moderators

[2016-05-30 23:30] erictleung commented on #7015
Anyone wanting to help contribute and fix this issue, below are the lines that need changing. Refer back to [my comment above](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7015#issuecomment-222345491) on what needs to be changed.

- [This line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/basic-javascript.json#L1759) needs

[2016-05-30 23:40] moviebuff20 commented on #8440
I'm experiencing the same issue and the default code has, <h2> which has been brought to my understanding as incorrect syntax

[2016-05-30 23:46] erictleung commented on #8843
@paprzytula the only things about this challenge that could be more clear is where the new `p` element should go and maybe on how to add additional CSS properties.

In the case, I think the instructions could be rewritten to be:

The second set of instructions I think are clear enough on what it wants. However, from a new coder's perspective, I could see how it might be unclear what needs to be do

[2016-05-31 00:13] erictleung commented on #8850
Anyone wanting to fix this, [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/basic-javascript.json#L976) needs to be changed to what is below.

[code]

This is what it should look like:

![image](https://cloud.githubusercontent.com/assets/2754821/15659997/b8e1913c-2689-11e6-9b64-950a3dc229d4.png)

Please first read the [co

[2016-05-31 00:13] QuincyLarson opened #8858 "Create new sample certificates with fixed date format"
We need to capture new certificates with the updated format, and reapply our sample watermark.

![](https://www.evernote.com/l/Ar_9MJTxO6JMbZIorGG91CTGWi_OWvTOFWgB/image.png)

[2016-05-31 00:15] myou11 commented on #8839
Hello, I am new to contributing, and I would like to tackle this issue, but I want to make sure I have the right idea first.

So, the issue is that the background color on these pages are outdated and they just need changing? Also, I have cloned the repo, but I don't see any HTML or CSS files in it; is that intentional?

[2016-05-31 00:15] QuincyLarson opened #8859 "Fix date format on certificates"
We need to change the date format on our certificates. Currently it's
January, 15th 2016
It should be:
January 15, 2016

Note that the comma needs to be moved, and the date should just be a natural number, not an ordinal number.

![](https://www.evernote.com/l/Ar9fN3rYcAdNbZPD9bcrWGqbNUmjh2SjcgkB/image.png)

[2016-05-31 00:29] atjonathan commented on #8858
To contributor: Wait until #8859 has been fixed, before tackling this one!

[2016-05-31 00:35] atjonathan commented on #8839
Hey @myou11 :smile:, these are just images or gifs that need edited in an application like photoshop with the changes, uploaded to imgur and then you need to update the relevant JSON with the new links.

Please, check our [**Guidelines for Contributing**](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) and if you need any assistance reach out to the [Contributors Chat ro

[2016-05-31 03:24] raisedadead commented on #8843
:+1: for this.

Any further guidance is not wise IMHO, part of the challenge is to figure out what is to be done. And the above modification should do it.

This is one of the simplest challenges yet, and that should the set the tempo for the next ones.
I like adding the example as well.

[2016-05-31 04:07] #8550 closed

[2016-05-31 04:29] terakilobyte commented on #8849
I think this information does warrant inclusion. Not only "Hey this is the basic overall structure of an HTML file", but also a quick explanation of why our in browser editor, along with Codepen and others, doesn't include certain structural markup.

[2016-05-31 05:20] bonham000 opened #8866 "Friendly Date Ranges Issues"
#### Friendly Date Ranges
https://www.freecodecamp.com/challenges/friendly-date-ranges

#### Issue Description:
Problem constraints are a little unclear/contradictory and test assertions are problematic (see below):

The last 2 constraints are:

(["2022-09-05", "2023-09-04"]) should return ["September 5th, 2022","September 4th"].

and:

(["2022-09-05", "2023-09-05"]) should return ["September 5th,

[2016-05-31 05:41] erictleung commented on #8866
@bonham000 thanks for the feedback but I feel that there is consistency within the instructions and tests.

The example

is less than a year apart so "if the date range **ends in less than a year** from when it begins, do not display the ending year."

The example,

is a year long (i.e. not less than a year long to satisfy the first condition), doesn't begin in the current year (i.e. doesn't satis

[2016-05-31 05:59] tjgerot commented on #8856
Thank you for opening this issue, as errors in translation are difficult to find without help from multilingual individuals. I took a look at Google Translate's translation of the label "Getting Started" at it displayed it as _Iniziare_, which translates back to English as _To start_. What translation would you suggest instead? Also, just to keep all the bases covered, what browser (Chrome, Firefo

[2016-05-31 06:41] QuincyLarson commented on #8849
@jolarti this seems like a subject that could be covered better in a wiki article or in a video challenge, rather than a challenge in FCC's curriculum. The reason is this isn't a good interactive lesson.

As you can see here, Chrome parses my raw HTML (without any of those tags you mentioned) just fine:

![](https://www.evernote.com/l/Ar-5-R2VpyFMOZmbjiuOm0XQbz9CgXzlw8cB/image.png)

Yes - this is

[2016-05-31 06:59] QuincyLarson commented on #8849
One other note is that soon we will have multi-flie editor (@berkeleytrue is almost done reactifying our existing courseware framework and will then build this). It might make sense to introduce these additional HTML structural tags once we have that live.

[2016-05-31 07:12] atjonathan commented on #8849
@QuincyLarson, it's bad practice however if you don't use `head` tags etc.

[2016-05-31 08:02] erictleung opened #8867 "Change ordered list to unordered list in project challenges"
#### Challenge Name

Any of the project challenge pages (e.g https://www.freecodecamp.com/challenges/show-the-local-weather)

#### Issue Description

Currently, the project challenges have an ordered list, listing the requirements and instructions for the challenge. However, I think there are too many "lists" as there is a bulleted list and the numerical list.

Firstly, I remember reading someone

[2016-05-31 08:12] raisedadead commented on #8858
Not a first timers one! :sweat_smile:

[2016-05-31 08:14] raisedadead commented on #8853
@erictleung we should close this, re-open the original and continue the discussion there.

[2016-05-31 08:15] raisedadead commented on #7847
Thanks @sadathanwar17!
Yes I can still reproduce this at times. and as confirmed from another issue as well.

Re-opening.

[2016-05-31 08:15] #8853 closed

[2016-05-31 09:18] ArmendBerisha commented on #8856
I've already posted the question to the Italian translation room, but looking at some user guides in English and comparing them with the Italian version they often use "Introduzione" for "get started". So at the moment I will say " Introduzione a FreeCodeCamp ". I will wait for some suggestion by the translation room. Currently I'm using Chromium. I hope this is helpful! :+1:

[2016-05-31 11:31] jondcoleman commented on #8482
FYI the patch has made it into production now. https://github.com/c9/templates/issues/51#event-676590813

[2016-05-31 12:38] raisedadead commented on #8482
@jondcoleman awesome! thanks for the update once again.

[2016-05-31 12:59] pietromenna commented on #8858
Can I try this issue?

[2016-05-31 13:07] bonham000 commented on #8866
Eric,

Thank you for the quick response, I've looked over your explanation and it
does make a lot more sense now. I was assuming the 'current year' for each
pair was the referring to the first of the two entries, e.g for

(["2022-09-05", "2023-09-05"])

the current year would be 2022. Perhaps an example could be added to
clarify this point.

I apologize for not looking more closely at the instruct

[2016-05-31 14:12] VincentDiCarlo opened #8868 "Challenge 109 - Replace Text "replace with." with "replace.""
#### Challenge Name

https://www.freecodecamp.com/challenges/change-text-inside-an-element-using-jquery

#### Issue Description

Possible error in diction in text.  Suggest replacing "replace with." with "replace."

#### Browser Information

Not relevant.

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-05-31 15:13] erictleung commented on #8866
@bonham000 thanks for the feedback. That mention of the "current year" is a bit vague. We could add a little note mentioning the actual current year like this:

I'm not sure how else to better indicate this.

[2016-05-31 15:18] bonham000 commented on #8866
That looks really good to me!

On 5/31/16, Eric Leung <notifications@github.com> wrote:

[2016-05-31 15:20] erictleung commented on #8868
@VincentDiCarlo thanks for looking into this but I don't think there needs to be a change.

The text you pass into the function is the "text you want to replace with" rather than just the "text you want to replace." You want to replace the existing text. Maybe it could be changed to:

[2016-05-31 15:22] atjonathan commented on #8868
@erictleung In your suggestions, the word **text** is too repetitive. What about:

[2016-05-31 15:23] atjonathan commented on #8858
@pietromenna, we need to wait until #8859 has been addressed. Feel free to try and tackle that one first!

[2016-05-31 15:26] atjonathan commented on #8867
In agreement, :+1:

[2016-05-31 15:29] betuluyumaz opened #8870 "13???"
Challenge [Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%20style%3D%22color%3A%20blue%22%3ECatPhotoApp%3C%2Fh2%3E%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp%3E%0A)

[2016-05-31 15:32] #8870 closed

[2016-05-31 15:47] atjonathan commented on #8870
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-05-31 15:56] sanskar-modi commented on #8859
Can i try this issue ??

[2016-05-31 15:59] atjonathan commented on #8859
@sanskar-modi, this issue has already got 2 Pull Requests! Checkout our other `help wanted` issues here: https://github.com/FreeCodeCamp/FreeCodeCamp/labels/help wanted.

[2016-05-31 17:17] fkingn00bGG opened #8871 "God dam the site.."
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

At least add some padding for the user icon. Reduce the font weight for the nav links please it looks like the site was designed for children to use.  My god the color you have chosen GG. When you open nav don't

[2016-05-31 17:30] #8871 closed

[2016-05-31 17:46] erictleung commented on #8868
@atjonathan sounds good to me!

Those wanting to fix this, [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/jquery.json#L628) needs to be changed to the following:

[2016-05-31 17:50] achalofficial opened #8872 "I tried to submit my challenge but it doesnt got submitted"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-05-31 17:51] erictleung commented on #8872
@achalofficial If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-05-31 17:53] erictleung commented on #8872
@achalofficial can you give us more information on the challenge and your code? It'll make helping you resolve this issue easier.

[2016-05-31 18:05] truthbranding opened #8873 "Run tests button will not work and allow me to go on to the next challenge. Tried resetting, logging out and back in as well."
Challenge [Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%20style%3D%22color%3Ablue%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp%3E%0A)

[2016-05-31 18:17] sanskar-modi commented on #8867
can i try this or there is more discussion on this ??

[2016-05-31 18:20] raisedadead commented on #8872
@achalofficial  Please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug)

[2016-05-31 18:22] atjonathan commented on #8867
@sanskar-modi let's wait for @hallaathrad opinion!

[2016-05-31 18:33] doctordotsconn commented on #8849
blockquote, div.yahoo_quoted { margin-left: 0 !important; border-left:1px #715FFA solid !important; padding-left:1ex !important; background-color:white !important; }  Who are you ppl

בתאריך יום שלישי, מאי 31, 2016, 10:14 לפ׳, Jonathan <notifications@github.com> כתב/ה:

@QuincyLarson, it's bad practice however if you don't use head tags etc.

—
You are receiving this because you are subscribed to

[2016-05-31 18:34] dakshshah96 opened #8875 "Error in starting local instance of FCC"
#### Issue Description

I've been trying to [run a local instance of FreeCodeCamp as described here](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md#getting-started). However, I get an error when I write `gulp` i.e., the last step. Screenshot for the same has been attached below.

IMO, this is a bug with the way I've named one of the folders where the FreeCodeCamp reposit

[2016-05-31 18:41] truthbranding commented on #8873
Yeah, sorry, I figured that out.

Sent from my iPhone

[2016-05-31 18:57] erictleung commented on #8849
@doctordotsconn looks like you may have accidentally subscribed to all notifications for the [FreeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp) repository. To stop receiving notifications please visit the [subscriptions page](https://github.com/FreeCodeCamp/FreeCodeCamp/subscription) and select "Not watching".

We are sorry for your inconvenience!

[2016-05-31 18:59] erictleung commented on #8866
For those wanting to help fix this issue, [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/advanced-bonfires.json#L272) needs to be changed to:

[code]

Please first read the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) before taking care of this issue. And feel free

[2016-05-31 19:03] erictleung commented on #8875
@dakshshah96 it looks like it is trying to access `/Users/dakshshah/Documents/Work/Git Works/FreeCodeCamp/...` but that `.../Git Works/...` part is probably throwing it off because it things you listed two directories. It should be `.../Work/Git\ Works/FreeCodeCamp/...`. To fix it, you can try renaming your directory as `Git-Works` or `Git_Works` so it can read the complete path of your directory.

[2016-05-31 19:26] dakshshah96 commented on #8875
Thanks @erictleung!

Just curious though, folder names with spaces not working, is that a problem with FreeCodeCamp or some other module?

[2016-05-31 19:40] hallaathrad commented on #8867
Hmm haven't checked on all cases, but at least right now it makes a lot of sense to me. I'd say we take it, and then if any specific challenge requires an ordered list, we go an fix it on a case by case.
LGTM

[2016-05-31 19:52] LordQuanza commented on #6429
i got the same issue can somebody help me?

[2016-05-31 19:57] LordQuanza opened #8876 "Unable to link GitHub account"
Hello guys
I got a little issue i hope somebody can help me . I get this error.
Your GitHub is already associated with another account. You may have accidentally created a duplicate account. No worries, though. We can fix this real quick. Please email us with your GitHub username: team@freecodecamp.com.

[2016-05-31 19:59] lacroixpool opened #8877 "General glitchiness to code editor in exercises"
#### Challenge Name

#### Issue Description

This has been happening to me since I began using the built in code camp code editor during the exercises.

When I try to click on a particular line of code, I am unable to click on half of that line. Also, when I try to highlight any code, it sometimes won't allow me to. And sometimes when I click on the area I wish to enter code, the cursor will end u

[2016-05-31 20:03] m-henderson opened #8878 "Streak On FCC having issues?"
Hey guys , I do not mean to bore you or come here with lack of information but we are getting complaints about the streak on FCC not being correct. Could you guys check it out ? Also, here is the source of the complaints http://forum.freecodecamp.com/t/camper-streak-dates-off/6781

[2016-05-31 20:13] LordQuanza commented on #8876
problem solved!

[2016-05-31 20:13] #8876 closed

[2016-05-31 20:27] twmilli commented on #8878
Cool that you took the initiative to post this but this is already a known issue: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7925

[2016-05-31 20:29] atjonathan commented on #8878
Closing as duplicate. thanks for reporting!!

[2016-05-31 20:29] #8878 closed

[2016-05-31 20:30] BattleToads commented on #8877
https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7847

[2016-05-31 20:31] mbrannon commented on #7847
Happening for me now too. I don't know if this helps but it didn't start til around exercise 30 something. Maybe once the length of the html code reached a certain length or number of lines. The first handful worked fine but once I got down to the bottom of the editor (and the scroll bar appeared) that is when I started noticing it.

[2016-05-31 20:35] raisedadead commented on #8875
@dakshshah96 almost all of the code for FCC depends upon some or the other node module, it could be any dependency that may or may not be supporting spaces in the path, nevertheless this sure looks like the `nodemon` is  not working somehow with spaces.

You can isolate the trouble by directly running `node server\debug-entry.js`. If it still throws errors then we may have something to be concerne

[2016-05-31 20:37] raisedadead commented on #8877
@lacroixpool Closing as duplicate of #7847, please follow the discussion there.
Also please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug)

@BattleToads thanks.

[2016-05-31 20:37] #8877 closed

[2016-05-31 20:49] erictleung commented on #8867
We could probably go without the checkboxes as well.

![image](https://cloud.githubusercontent.com/assets/2754821/15690015/52b8b9dc-2736-11e6-947b-95dbf1158c99.png)

We could probably center the list a little as well. I just did a quick HTML change to show what it'll look like.

[2016-05-31 20:56] MattBacon89 commented on #7847
have to agree with @mbrannon I'm getting it on "Call out Optional Actions with Button Info" and the pages around it, can't select anything below the start of line 55 and the cursor randomly jumps from wherever I click to somewhere nearby

[2016-05-31 21:01] hallaathrad commented on #8867
Perfect, now a matter of removing the space on the left of the list, and we should be golden.
what do you think @FreeCodeCamp/issue-moderators ?

[2016-05-31 21:10] FreedomOpenProjects commented on #8730
@raisedadead  You did knew where his code is not correct. Can you correct it for us?

Happy coding!

[2016-05-31 21:19] FreedomOpenProjects commented on #3583
The instructions in this task are not clear. So there are many students were confused like me.

**As for the "#target1" you must addclass 3 times seperately**

[2016-05-31 21:23] sludge256 commented on #8730
@FreedomOpenProjects We don't provide coding help via GitHub issues. They are reserved for site issues and discussions. It's better to ask in the appropriate help room (that's why there's a help button on each challenge page) to keep the repository clear of posts unrelated the functionality of the site.

[2016-05-31 21:28] basmaseyam opened #8879 "Test case error: Confirm the ending"
Challenge [Confirm the Ending](https://www.freecodecamp.com/challenges/confirm-the-ending#?solution=%0Afunction%20confirmEnding(str%2C%20target)%20%7B%0A%20%20%2F%2F%20%22Never%20give%20up%20and%20good%20luck%20will%20find%20you.%22%0A%20%20%2F%2F%20--%20Falcor%0A%20%20var%20substring%3B%0A%20%20var%20arr%3Dstr.split(%22%20%22)%3B%0A%20%20if(arr.length%3E1)%7B%20%0A%20%20substring%3Darr%5Barr.leng

[2016-05-31 21:30] sludge256 commented on #8879
"He has to give me a new na**_me_**"

[2016-05-31 21:32] #8879 closed

[2016-05-31 21:34] basmaseyam commented on #8879
Thank you for the fast reply
On 31 May 2016 23:32, "Brian" <notifications@github.com> wrote:

[2016-05-31 23:17] FreedomOpenProjects commented on #8730
I did it myself. So proud of it. But why don't you leave him some correction? It doesn't matter for helping someone despite proper place

[2016-05-31 23:48] kanjicat opened #8880 "Your h2 element should be red."
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%C2%A0.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching

[2016-06-01 00:14] alistermada commented on #8880
This seems to be the same problem reported in #8821.

 \- **ltegman**

[2016-06-01 03:03] mtrojan21 opened #8881 "Mtrojan21"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-06-01 03:05] #8881 closed

[2016-06-01 03:29] KTDid95 opened #8882 "No Requirements/ Can't Submit Code"
Challenge [Target the same element with multiple jQuery Selectors](https://www.freecodecamp.com/challenges/target-the-same-element-with-multiple-jquery-selectors) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64; rv:46.0) Gecko/20100101 Firefox/46.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.
Everything was working just f

[2016-06-01 03:35] dreamife opened #8883 "Symmetric difference args passing issue"
Challenge [Symmetric Difference](https://freecodecamp.cn/challenges/symmetric-difference#?solution=function%20sym(args)%20%7B%0A%20%20var%20res%3D%5B%5D%3B%0A%20%20console.log(args)%3B%0A%20%20%2F*%0A%20%20args.reduce(function(p%2Cc%2Ci%2Ca)%20%7B%0A%20%20%20%20console.log(p)%3B%0A%20%20%20%20p.forEach(function(c%2Ci%2Ca)%20%7B%0A%20%20%20%20%20%20if(this.indexOf(c)%3D%3D-1)%20%7B%0A%20%20%20%20%2

[2016-06-01 03:45] erictleung commented on #8883
@dreamife the site is working correctly. The `args` is truly the "first" argument to the function, as your `console.log` is showing. I would look into the [Arguments object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/arguments) for help. Happy coding!

[2016-06-01 03:45] #8883 closed

[2016-06-01 03:53] erictleung commented on #8882
@KTDid95 your code is incorrect within the `.addClass()` passed in values, as they are invalid. It being invalid is what is causing the  issues. I would checkout ["Target Elements by Class Using jQuery"](https://www.freecodecamp.com/challenges/target-elements-by-class-using-jquery) for a review. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/Free

[2016-06-01 03:53] #8882 closed

[2016-06-01 03:59] raisedadead commented on #8867
Yup, lets save some more real estate!

[2016-06-01 04:20] #7465 closed

[2016-06-01 04:26] #8796 closed

[2016-06-01 04:35] sludge256 commented on #8882
The tests now showing up seems to be a FireFox issue from what I remember. Pressing the "Run tests" button or `ctrl+enter` sometimes fixes it.

[2016-06-01 04:42] WillySchu commented on #8868
I have submitted a PR to address this issue.

[2016-06-01 05:51] frankkiogora commented on #8844
if you follow the example given, you will notice that var player should be set equal to  the value (var) and not the value of var. Makes sense? var player=[playerNumber];

[2016-06-01 05:56] kantologist opened #8885 "The red and blue is buggy"
Challenge [Use RGB to Mix Colors](https://www.freecodecamp.com/challenges/use-rgb-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20rgb(225%2C0%2C0)%3B%0A%20%20%7D%0A%20%20.orchid-text%20%7B%0A%20%20%20%20color%3A%20rgb(218%2C112%2C214)%3B%0A%20%20%7D%0A%20%20.sienna-text%20%7B%0A%20%20%20%20color%3A%20rgb(160%2C82%2C45)%3B%0A%20%20%7D%0A%20%20.blue-text%20%7B

[2016-06-01 05:59] erictleung commented on #8885
@kantologist please refer to the table in the challenge. You have an error in your code. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-06-01 05:59] #8885 closed

[2016-06-01 06:01] dreamife commented on #8883
I missed a lesson on argaments obeject , and didn't look at the the code careful enough. My bad

[2016-06-01 06:21] raisedadead commented on #8880
Closing as duplicate, @kanjicat please check the issue comment above and let us know if that works for you, as you can see this is pretty common when you copy paste.

Hope this helps, and @alistermada thanks for assisting.

P.S : Please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug)

[2016-06-01 06:22] #8880 closed

[2016-06-01 06:51] esiewwfashion opened #8887 "Help"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-06-01 06:52] esiewwfashion commented on #8887
Get help starter

[2016-06-01 06:57] erictleung opened #8888 "Audit MDN links for correctness"
#### Challenge Name

Select challenges (e.g. https://www.freecodecamp.com/challenges/confirm-the-ending)

#### Issue Description

In a previous issue #6913, we came to the conclusion that we should change `String.charCodeAt()` to `String.prototype.charCodeAt()`.

For consistency, we should look through the other MDN links and change them to their appropriate links.

In the challenge [Confirm the E

[2016-06-01 07:01] erictleung commented on #8887
@esiewwfashion thanks for the issue but if you get stuck with a challenge or need help, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). If you are still having issues, please fill out the issue form with as much detail about your problem so that we can help. Happy coding!

[2016-06-01 07:01] #8887 closed

[2016-06-01 07:24] erictleung commented on #5366
For anyone wanting to work on this, you'll need to add the following lines after [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/advanced-bonfires.json#L30):

[code]

Please first read the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) before taking care of this issue.

[2016-06-01 07:35] AMD-Roy opened #8889 "sort13"
Challenge [Caesars Cipher](https://www.freecodecamp.com/challenges/caesars-cipher#?solution=%0Afunction%20rot13(str)%20%7B%20%2F%2F%20LBH%20QVQ%20VG!%0A%20%20var%20xx%3D''%3B%0A%20%20for(i%3D0%3Bi%3Cstr.length%3Bi%2B%2B)%7B%0A%20%20%20%20var%20vv%3Dstr.charCodeAt(i)%3B%0A%20%20%20%20if(vv%3E%3D65%20%26%26%20vv%3C78)%7B%0A%20%20%20%20%20%20xx%3Dxx%2BString.fromCharCode(vv%2B13)%3B%0A%20%20%20%20%7D

[2016-06-01 07:50] erictleung commented on #8889
@AMD-Roy is there any issue with this challenge? Your code works and passes the tests.

[2016-06-01 07:54] AMD-Roy commented on #8889
I am sorry, it's ok. thanks.

[2016-06-01 07:56] AMD-Roy commented on #8889
do you have written more simple?

[2016-06-01 08:16] erictleung commented on #8889
@AMD-Roy you can checkout the Wiki for it here: https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Algorithm-Caesars-Cipher

Happy coding!

[2016-06-01 08:16] #8889 closed

[2016-06-01 08:49] Bouncey commented on #8888
I can't recall ever inserting `prototype` into a method unless I was adjusting an Object prototype. Would this `String.prototype.sunstr()` be best practise?

If so then we should be promoting best practise all round.

[2016-06-01 09:39] malayaleecoder commented on #8866
I can give this a try

[2016-06-01 10:14] raisedadead opened #8892 "Update the contributing guide with updated wiki links"
The wiki repository has recently gone an renaming upgrade for better organizing the articles, the links in the contributing guide need to be updated to the newer articles.

Guide : https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md
Live Wiki : https://github.com/FreeCodeCamp/FreeCodeCamp/wiki

For contributors (update the links that are now broken in the guide above). [This

[2016-06-01 10:47] BlackGuyCoding commented on #604
Is this feature request going to happen?

[2016-06-01 11:41] eprempeh opened #8895 ""10 == val" should be evaluated regardless of the order of values"
Challenge [Comparison with the Equality Operator](https://www.freecodecamp.com/challenges/comparison-with-the-equality-operator#?solution=%0A%2F%2F%20Setup%0Afunction%20testEqual(val)%20%7B%0A%20%20if%20(10%20%3D%3D%20val)%20%7B%20%2F%2F%20Change%20this%20line%0A%20%20%20%20return%20%22Equal%22%3B%0A%20%20%7D%0A%20%20return%20%22Not%20Equal%22%3B%0A%7D%0A%0A%2F%2F%20Change%20this%20value%20to%20te

[2016-06-01 12:11] eprempeh commented on #8309
Passing string value eg. "7" allows you to submit and go to next challenge as well as calling the function without the argument.

[2016-06-01 12:33] raisedadead commented on #8309
Yup that's because the test case's (behind the scenes) are called correctly.

[2016-06-01 12:34] raisedadead commented on #8895
Agreed this is same as #8309.

[2016-06-01 12:38] raisedadead commented on #5441
Let's get this implemented.
/cc @FreeCodeCamp/issue-moderators

[2016-06-01 13:33] b2m9 commented on #5366
I'll take this one. Cheers!

[2016-06-01 15:07] atjonathan commented on #5441
Tagging @evaristoc

[2016-06-01 15:10] atjonathan commented on #8867
@hallaathrad @raisedadead, yeah let's do it!

[2016-06-01 15:11] atjonathan commented on #8867
@sanskar-modi, feel free to tackle this now! We have decided to remove the checkboxes and numbers.

[2016-06-01 15:24] #8866 closed

[2016-06-01 15:40] atjonathan commented on #604
cc/ @FreeCodeCamp/issue-moderators

Can someone open this as `help wanted` if we're gonna try and implement this! Just waiting for the signal @BlackGuyCoding ...

[2016-06-01 15:43] hutstep commented on #7080
There's definitely an issue with the Dist Tag challenge if you do it on Cloud9. It took me 2-3 hours to realize that. I tried all the solutions I could find on Gitgub and Stackoverflow.
`npm dist-tag add @hutstep/npmtest@1.0.2 testit`
and
`npm dist-tag add npmtest@1.0.2 testit`
I started all over again with HowToNPM a few times. I created new workspaces on C9. I deleted everything in the workspace

[2016-06-01 15:44] atjonathan commented on #5300
@hallaathrad, I can't reproduce. Is anyone still having this issue?

[2016-06-01 15:46] BlackGuyCoding commented on #604
@atjonathan thanks.

How did you get the Free Code Camp member badge on your profile?

[2016-06-01 15:47] Greenheart commented on #6669
## The plan
- [ ] Create a draft with different alternatives
- [ ] Present to Rex
- [ ] Present to whole core team

[2016-06-01 15:50] atjonathan commented on #604
@BlackGuyCoding I'm a Core Team member @FreeCodeCamp, and therefore am a member of the organization.

[2016-06-01 15:51] BlackGuyCoding commented on #604
Ahh I see. Ok cool.

[2016-06-01 16:12] b2m9 commented on #5366
@erictleung Quick question here. It's not enough to add two additional asserts. `npm run test-challenges` will fail because `telephoneCheck` doesn't return `false` for 7 digit numbers. Shall I go ahead and change the regex?

[2016-06-01 16:19] hutstep commented on #7080
Okay, I tried it again on Cloud9. But this time with a blank project, **NOT** Node.js, like @jnmorse mentioned it here https://github.com/FreeCodeCamp/FreeCodeCamp/issues/8680#issuecomment-221555728
It worked the first time, no issues. npm and node are already installed.

![c9htn](https://cloud.githubusercontent.com/assets/18348355/15717007/49a5692c-2825-11e6-9e02-2ea777a83466.png)

[2016-06-01 16:24] erictleung commented on #5366
@b2m9 sounds good to me! 👍

[2016-06-01 18:28] GaryLeutheuser commented on #8259
While this is closed, I thought I would share my findings for those that may end up here: It seems the reason this doesn't pass the test cases, but still prints the right result, is because it is actually returning more than once for each call.

It seems like Free Code Camp only checks the first value returned, (which is naturally incomplete and wrong), causing you to fail without knowing why. To

[2016-06-01 19:22] #8892 closed

[2016-06-01 19:24] #7015 closed

[2016-06-01 21:48] malika321 opened #8902 "The answer was already there when I got to this challenge"
The answer was already inserted.
Thanks for everything!
Challenge [Use an ID Attribute to Style an Element](https://www.freecodecamp.com/challenges/use-an-id-attribute-to-style-an-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36</code>.
Please describe how to reproduce this issue, and include

[2016-06-01 21:55] jhoove4 opened #8903 "I'm doing what it is asking"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your

[2016-06-01 22:43] Bouncey commented on #8903
Please read all the instructions in the left-hand panel.

If you have any further questions, please use the `Help` button first.

[2016-06-01 22:51] Bouncey commented on #8137
The challenge passing in this way represents what would happen in the 'real world' with regards to an automatically inserted `<p>` tag.

The editor used already has HTML lint-ing, and as shown in your screen-grab, has shown that there is an error in the syntax. It would be unreasonable to create `assert` tests for each HMTL challenge to check for what the HTML lint is already checking for.

[2016-06-01 22:52] erictleung commented on #8903
@jhoove4 thanks for the issue but if you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-06-01 22:52] #8903 closed

[2016-06-01 22:55] erictleung commented on #8902
@malika321 your code is still incorrect and you'll still need to change something within the code. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-06-01 22:55] #8902 closed

[2016-06-01 23:02] jaytsecan opened #8904 "Instructions & run tests results do not match - Challenge [Use Hex Code for Specific Colors]"
Challenge [Use Hex Code for Specific Colors](https://www.freecodecamp.com/challenges/use-hex-code-for-specific-colors#?solution=%0A%3Cstyle%3E%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20%23000000%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows; Windows NT 6.3; WOW64; rv:40.0) Gecko/20100101 Firefox/40.0</code>.
Please describe how to reproduc

[2016-06-01 23:03] Ramon-Carroll commented on #8767
@erictleung That sounds cool too! Most importantly, it's clear. I'm interested in trying my hand at a pull request for this project, but I'm not exactly sure where it is in the source. Do you know where this is located?

[2016-06-01 23:06] erictleung commented on #8904
@jaytsecan are you talking about this?

If so, then it was just an example of a hex code being used in a CSS property, which wasn't intended to solve the challenge.

[2016-06-01 23:08] erictleung commented on #8767
@Ramon-Carroll [here's the line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/basic-ziplines.json#L195) you need to change.

Please first read the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) before taking care of this issue. And feel free to visit the [Contributors Help](htt

[2016-06-01 23:11] Ramon-Carroll commented on #8767
@erictleung I understand. Thank you very much.

[2016-06-01 23:12] Ramon-Carroll commented on #8767
Oh, and in case I haven't made myself clear, I'm working on this.

[2016-06-02 00:05] doctordotsconn commented on #8849
blockquote, div.yahoo_quoted { margin-left: 0 !important; border-left:1px #715FFA solid !important; padding-left:1ex !important; background-color:white !important; }  I tried to do that it askes me for a 2-factor authenticated code. I never registered to view the threads nor ever signed with a second authenticator. Any advice?

בתאריך יום שלישי, מאי 31, 2016, 9:58 אח׳, Eric Leung <notifications@gi

[2016-06-02 01:40] smithcoder opened #8905 "Run test button not working"
Challenge [Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%20style%3D%22color%3A%20blue%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp%3E%

[2016-06-02 01:42] smithcoder commented on #8905
I have tried to restart the page, logged out and logged back in, even deleted my account and registered again nothing worked. See what you guys can do, I really would to go all the way through

Thanks

[2016-06-02 01:51] erictleung commented on #8905
@smithcoder the code you have is wrong so that is why the Run button appears to be broken.

If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-06-02 01:51] #8905 closed

[2016-06-02 05:28] ltegman commented on #8888
@erictleung Woot! As my quoted comment suggested, I'm all for this.

@Bouncey Prototype methods are methods that are inherited by every instance of a String through [prototypal inheritance](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Inheritance_and_the_prototype_chain). The reason the MDN docs are structured this way is because something that is a method of the String object (like `St

[2016-06-02 05:35] ltegman commented on #5300
@atjonathan I can still repro.

[2016-06-02 06:20] erictleung commented on #8888
@ltegman awesome! Just wanted to flag it as discussing temporarily to test the waters on whether this change is okay. I'll flag it as help wanted now.

[2016-06-02 06:22] Bouncey commented on #8852
Could we add a '<wbr>'  somewhere in 'The_Andy_Griffith_Show'?

[2016-06-02 06:24] Bouncey commented on #8852
Oh hahaha forgot the escapes

A '&lt;wbr&gt;'

[2016-06-02 06:49] sinharajatit commented on #7428
this also helped me but I have a point to make. In my case why "+=" issue was working for setGear(4) and not for setGear(3)/setGear(1);

[2016-06-02 07:21] dreadfulman commented on #8880
+1

[2016-06-02 07:23] #8767 closed

[2016-06-02 07:50] eliaslfox opened #8908 "Incorrect Tests"
Challenge [Truncate a string](https://www.freecodecamp.com/challenges/truncate-a-string)

My code:
[code]

Two of the tests, numbers 3 and 4 don't expect to have the "..." added to the end of the string, although they are required by the instructions.

[2016-06-02 08:45] FabricioLeiteQueiroz opened #8909 "Browser and Text zoom should be at 100%, but i can't pass"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%20font-size%3A%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20e

[2016-06-02 09:53] jennerousity commented on #8905
@smithcoder You need to create a new p style and a new p paragraph  for the purr kitty.

[2016-06-02 09:57] allanarmstrong commented on #8909
You're not supposed to add `font-size: 16px` to the `.red-text` class. You need to make a new CSS selector that just selects p elements.You can learn more about them [here](http://www.w3schools.com/cssref/sel_element.asp).

[2016-06-02 10:07] raisedadead commented on #8908
Your code is giving the below output.

![image](https://cloud.githubusercontent.com/assets/1884376/15741330/c39dfd8c-28d6-11e6-967a-2af78a096fd6.png)

Instructions:

I don't see a conflict. IMHO your code is not correct, unless you meant something else.

[2016-06-02 10:14] raisedadead commented on #8909
@allanarmstrong thanks.

@FabricioLeiteQueiroz Thanks for reporting this. Unfortunately your code is not correct.
Please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding.

Happy Coding!

[2016-06-02 10:14] #8909 closed

[2016-06-02 10:47] vitorbonfim opened #8910 "not allowing progress"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-06-02 10:51] #8910 closed

[2016-06-02 11:52] myrNG commented on #4997
Hello!

I have the same issue here. But works fine on the FCC's editor online BUT, when i want to train on my own IDE (Sublime Text), it doesn't work. I don't understand why?
I'm gonna keep searching explanations on the web but if someone found out why, i'm interested!
Thank you! `:)

`<!doctype html>
<html>
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="https://maxcdn.bootstrapc

[2016-06-02 14:33] lettda commented on #6966
Make sure you put the letters in between quotation marks in the cases as well as when you call the function with that value i.e. case "a":.......functionName("a")

[2016-06-02 14:43] interglobalmedia opened #8913 "Actual Order of returned newArr different from expected for one of the results. Does that matter?"
Challenge [Diff Two Arrays](https://www.freecodecamp.com/challenges/diff-two-arrays) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

All of my results are expected === actual

[2016-06-02 16:37] wangk1 commented on #8913
I tried out your code on both chrome and firefox. It works and passes all the tests in both cases. Honestly, from inspection, it looks like it does exactly what is asked, so order here should not matter. In fact, the order of the answer may be different depending on the data structure you used.

[2016-06-02 16:49] interglobalmedia commented on #8913
Thanks so much Kevin! That totally answers my question and what I thought MIGHT be the case.

[2016-06-02 17:12] MechoLed commented on #1554
The thing is that, **this is not correct**----> $("#left-well").parent().css("background-color","red");
Because, when you use .parent() you gonna take the direct parent of the class, id or selector that you are using, so if **#left-well (the parent)** is what has to be red, we have to take **#target1 (wich is the son)**, so by using **.parent()**, #left-well gonna be red, as it's suppose to.

the

[2016-06-02 17:36] myprtfl commented on #8854
Without known the risk, learners may put other sensitive date like database connection url with password in this location.
This may bring other risks.
For example lost of other accounts the learner owns if they have the same password.
A chance to introduce some information security basics.

[2016-06-02 17:50] raisedadead commented on #8854
@myprtfl yup I complete understand and agree what you mean, and just to assure you we have something planned on that as well, refer #6669

[2016-06-02 17:51] illertimes opened #8914 "Nest the existing img element within an a element."
Challenge [Turn an Image into a Link](https://www.freecodecamp.com/challenges/turn-an-image-into-a-link#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20

[2016-06-02 18:28] qveksnela commented on #5837
i'm so angry about it, b'cause there was no any word about com

[2016-06-02 19:28] jjoyce24 opened #8915 "Nothing will pass. Not even the solutions provided by FreeCodeCamp"
Challenge [Convert HTML Entities](https://www.freecodecamp.com/challenges/convert-html-entities#?solution=%0Afunction%20convertHTML(str)%20%7B%0A%20%20%2F%2F%20Split%20by%20character%20to%20avoid%20problems.%0A%0A%20%20var%20temp%20%3D%20str.split('')%3B%0A%0A%20%20%2F%2F%20Since%20we%20are%20only%20checking%20for%20a%20few%20HTML%20elements%20I%20used%20a%20switch%0A%0A%20%20for%20(var%20i%20%3D%

[2016-06-02 19:38] ARufai opened #8916 "editor"
I am unable to work with your editor quite well, am using android tablet when ever I tried to make some edit then its misbehaving

[2016-06-02 19:53] raisedadead commented on #8915
Hi, unfortunately your code is not correct.

for example ` temp[i] = '&'; <-- this is not what the tests expect`

Please go through the instructions and test cases once again.
Please consult the [JavaScript Chat Room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for any further assistance to Coding.

Happy Coding!

[2016-06-02 19:53] #8915 closed

[2016-06-02 19:54] Bouncey commented on #8916
Can you please explain further? How is it misbehaving?

[2016-06-02 20:00] raisedadead commented on #8914
Your code is not correct.

`<p>Click here for <a href="#"><img src="#"> <img src="https://bit.ly/fcc-running-cats"> </a>
<a>
cat photos</a></p>`

Recheck the instructions.
Please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding.

Happy Coding!

[2016-06-02 20:00] #8914 closed

[2016-06-02 20:11] l-tong commented on #8868
I will take this as a first timers :).

[2016-06-02 20:13] sludge256 commented on #8915
@jjoyce24 You should file an issue on the [wiki repo](https://github.com/FreeCodeCamp/wiki/issues).

[2016-06-02 20:20] sludge256 commented on #8916
Does this issue cover what you're describing?
https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7847

[2016-06-02 20:24] ARufai commented on #8916
Yes

[2016-06-02 20:27] ARufai commented on #8916
Am using tablet with android v4.2.1 and Firefox browser v40.0

[2016-06-02 20:31] sludge256 commented on #8916
Are you also exeriencing https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7259 ?

[2016-06-02 20:35] ARufai commented on #8916
Yes

[2016-06-02 20:46] atjonathan commented on #8868
@l-tong #8884 has already addressed this issue!

[2016-06-02 20:50] #8167 closed

[2016-06-02 20:54] l-tong commented on #8868
Got it.  thanks!

[2016-06-02 22:04] b5hcr08 opened #8918 "Clearly a bug"
It is not reading my color element of blue, which is preventing me from moving forward.
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3A%20blue%3B%7D%0A%3C%2Fstyle%3E%0A%0A%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20

[2016-06-02 22:29] #8916 closed

[2016-06-02 22:42] erictleung commented on #8918
@b5hcr08 the challenge is working correctly. Please reread the instructions and tests to help you debug your code.

If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-06-02 22:42] #8918 closed

[2016-06-02 23:36] jacobbogers opened #8920 "CAN I ALSO USE SCSS INSTEAD OF SASS?"
Challenge [Build a Camper Leaderboard](https://www.freecodecamp.com/challenges/build-a-camper-leaderboard) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.110 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Hi The user stories specify I have to use SaSS, but

[2016-06-02 23:51] jgarcia965 opened #8921 "TypeError: Cannot read property 'length' of undefined"
#### Challenge Name

https://www.freecodecamp.com/challenges/nesting-for-loops#?solution=%0Afunction%20multiplyAll(arr)%20%7B%0A%20%20var%20product%20%3D%201%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20for(var%20i%3D0%3B%20i%20%3C%20arr.length%3B%20i%2B%2B)%0A%20%20%20%20%20%20%7B%0A%20%20%20%20for(var%20j%3D0%3B%20j%20%3C%20arr%5Bi%5D.length%3Bi%2B%2B)%0A%20%20%20%20%7B

[2016-06-03 00:10] jacobbogers commented on #5844
HI, A was notified of the existence of this thread , the FCC project https://www.freecodecamp.com/challenges/build-a-markdown-previewer
Specify to use SaSS, but can someone from FCC explicity state that ScSS use will not be rejected in the solution.?
Maybe you have auto parsing tools to check projects that only understand SaSS for now, or maybe for you SaSS and ScSS are interchangible when talking

[2016-06-03 00:14] erictleung commented on #8921
@jgarcia965 your code has a bug and is causing the error for the length method to "not being recognized." I would double check your `for` loops. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-06-03 00:14] #8921 closed

[2016-06-03 00:26] FabricioLeiteQueiroz commented on #8909
I see my error, I read today and see.

Thanks, for answer!

Enviado do Outlook<http://aka.ms/weboutlook>

________________________________
De: Mrugesh Mohapatra <notifications@github.com>
Enviado: quinta-feira, 2 de junho de 2016 08:17:24
Para: FreeCodeCamp/FreeCodeCamp
Cc: Fabricio Leite Queiroz; Mention
Assunto: Re: [FreeCodeCamp/FreeCodeCamp] Browser and Text zoom should be at 100%, but i can't

[2016-06-03 01:01] tianz commented on #8888
Hi, I would like to help with this one!

[2016-06-03 01:16] erictleung commented on #8888
@tianz great! You'll need to go through the [`bonfireMDNlinks.js`](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/bonfireMDNlinks.js) file and change the values to match the correct JavaScript method. Usually, they are the titles for their corresponding MDN page, like so:

![image](https://cloud.githubusercontent.com/assets/2754821/15765803/b2a3cf9a-28ed-11e6-95da-f16d91d5476f.png)

[2016-06-03 01:46] BerkeleyTrue commented on #8920
Yes

Happy Coding!

[2016-06-03 01:46] #8920 closed

[2016-06-03 05:31] raisedadead opened #8923 "Authorization Required error on email update."
![image](https://cloud.githubusercontent.com/assets/1884376/15769566/e93d75ba-2979-11e6-9744-4f4a61e09527.png)

The above is a know issue that has crept in with our recent upgrade for email verification process.
Please ignore this error and we are coming up with a fix ASAP.
While that happens you will not be able to update your email.
Rest assured we are doing our best to address this.
Sincere apo

[2016-06-03 06:03] sota0903 opened #8924 "Getting more done in GitHub with ZenHub"
Hola! @sota0903 has created a [ZenHub](http://www.zenhub.io) account for the **FreeCodeCamp** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnb

[2016-06-03 06:04] #8924 closed

[2016-06-03 06:10] BerkeleyTrue commented on #8923
For those effected, it may be possible to switch browsers to get around it.

[2016-06-03 06:14] raisedadead opened #8926 "Need to handle flash messages more elegantly"
![image](https://cloud.githubusercontent.com/assets/1884376/15770315/779ffa2a-2980-11e6-957d-ab6ad809656a.png)

[2016-06-03 07:25] BerkeleyTrue commented on #8926
This may be a mute point since the new react site uses toast messages

[2016-06-03 07:31] QuincyLarson opened #8933 "Tell certificate earners how to add their names"
Campers will often claim a certificate, then not understand why their certificate doesn't have their name on it. This is because we pull their name from GitHub, and if they haven't added a name to their GitHub account, we don't have their name, either.

Agile user story:
- As a user, if I attempt to claim a certificate and my account doesn't have a name, I should see instructions for how to add it

[2016-06-03 08:22] eliaslfox commented on #8908
Look at the failing tests, note now they are missing the three dots at the end which are included in the passing tests. Those dots are also required in the instructions.

[2016-06-03 10:20] wanmi59 opened #8934 "Rewrite of "Where do I belong" instructions"
#### Where do I belong

https://www.freecodecamp.com/challenges/where-do-i-belong

#### Issue Description
I tried passing all the test cases and the output are supposed to be accepted but...

#### Browser Information

* Browser Name, Version: Google Chrome, 51.0.2704.79 m (64-bit)
* Operating System: Windows 7
* Mobile, Desktop, or Tablet:  Desktop

#### My Code
function getIndexToIns(arr, num) {

[2016-06-03 10:36] ingava opened #8935 "not letting to run tests, nothing happens when the button is pressed"
Challenge [Add Borders Around your Elements](https://www.freecodecamp.com/challenges/add-borders-around-your-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:45.0) Gecko/20100101 Firefox/45.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-06-03 12:29] Jakzz commented on #8935
your class says "green-thick-border" instead of "thick-green-border" this may be why the test is coming back as a fail...

remember to change in the style class, and in the image section

[2016-06-03 13:09] raisedadead commented on #8926
Great, to be closed when react infrastructure in place.

[2016-06-03 13:50] sinharajatit opened #8936 "All conditions are full filled except the first one??"
Challenge [Mutations](https://www.freecodecamp.com/challenges/mutations#?solution=%0A%20function%20mutation(arr)%20%7B%0A%20%20arr%5B0%5D%20%3D%20arr%5B0%5D.toLowerCase()%3B%0A%20%20arr%5B1%5D%20%3D%20arr%5B1%5D.toLowerCase()%3B%0A%20%20%0A%20%20var%20ar%20%3D%20arr%5B1%5D.split(%22%22)%3B%0A%20%20for(var%20i%20%3D%200%3B%20i%20%3Carr%5B1%5D.length%3Bi%2B%2B)%7B%0A%20%20if(arr%5B0%5D.indexOf(ar%5B

[2016-06-03 14:07] aakanksha-02 commented on #7495
Only way to fix this ---> close the tab and navigate back to the same page

[2016-06-03 14:09] FatBaskin opened #8937 "Give a Background Color to a Div Element - Broken I have changed the the background to the correct color, will not pass"
Challenge [Give a Background Color to a Div Element](https://www.freecodecamp.com/challenges/give-a-background-color-to-a-div-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20

[2016-06-03 14:40] lincore81 opened #8938 "1 isn't a prime number, because it's only divisible by itself."
#### Challenge Name

Sum All Primes

#### Issue Description

It is not true that one is not a prime number because it's only divisible by itself. If one applies the definition of a prime number - a number only divisible by 1 and by itself - 1 would be prime, as it has been historically. It's not because that would be very inconvenient and would invalidate useful theorems.
I suggest to change this

[2016-06-03 15:03] atjonathan commented on #8937
@FatBaskin, all instances of `grey` should be `gray`..

[2016-06-03 15:03] #8937 closed

[2016-06-03 15:24] erictleung commented on #8938
@lincore81 thanks for the feedback. Although historically one being prime is true, there are also times in history where [mathematicians listed one as prime](https://en.wikipedia.org/wiki/Prime_number#Primality_of_one).

Instead, I propose a simpler change:

[2016-06-03 15:33] erictleung commented on #8934
@wanmi59 the type of the return statement should be an integer, not a string, so that is why the tests are failing. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help).

However, I do propose rewriting the instructions to be more clear:

cc/ @FreeCodeCamp/issue-moderators

[2016-06-03 15:36] erictleung commented on #8936
@sinharajatit your code is not sufficient to complete the challenge. I would walk through your `for` loop logic carefully and make sure it actually checks all the letters in your string. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-06-03 15:36] #8936 closed

[2016-06-03 15:38] erictleung commented on #8935
@ingava what @Jakzz suggests is correct. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-06-03 15:38] #8935 closed

[2016-06-03 15:40] erictleung commented on #8913
@interglobalmedia no, the order doesn't matter and your code passes for me. Happy coding!

[2016-06-03 15:40] #8913 closed

[2016-06-03 15:57] atjonathan commented on #8934
@erictleung, sounds good to me!

[2016-06-03 16:01] interglobalmedia commented on #8913
Thanks Eric!

[2016-06-03 16:46] lincore81 commented on #8938
@erictleung Sure, that sounds good.

[2016-06-03 16:49] BerkeleyTrue commented on #8938
One isn't a prime, it's a the unit.

[2016-06-03 16:53] erictleung commented on #8934
Those wanting to fix this, [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/basic-bonfires.json#L648) needs to be changed to:

Please first read the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) before taking care of this issue. And feel free to visit the [Contributors

[2016-06-03 16:55] erictleung commented on #8938
Those wanting to fix this, [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/intermediate-bonfires.json#L666) needs to be changed to:

Please first read the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) before taking care of this issue. And feel free to visit the [Contr

[2016-06-03 18:16] mh453 opened #8939 "Button truncated/cut"
#### Responsively Style Checkboxes
https://www.freecodecamp.com/challenges/responsively-style-checkboxes

#### Issue Description
"Like", "Info" buttons are truncated and "delete" is cut off

#### Browser Information
* Browser Name, Version: Google Chrome, Version 50.0.2661.102 m
* Operating System: Windows 10
* Mobile, Desktop, or Tablet:

#### Your Code
[code]
#### Screenshot
![capture](https://c

[2016-06-03 18:19] mh453 commented on #8939
To look at my code and possible fix look at md file in edit view

[2016-06-03 18:24] allprogrammers commented on #8836
still doesn't work

[2016-06-03 18:29] sinharajatit commented on #8936
@erictleung Help room was not helpful for the code i have written. They have given me some other logic to solve this challenge which was quite helpful. But i don't know what is the problem with my code. Its is working perfectly for similar kinds of conditions.

[2016-06-03 19:04] #8108 closed

[2016-06-03 19:07] #7541 closed

[2016-06-03 19:07] chelseypaulsen opened #8940 "Roman Numeral Converter: Doesn't correctly test"
#### Challenge Name

Roman Numeral Converter

#### Issue Description

The test does not accurately reflect correct answers.I used while loops (maybe a far to primitive idea) to complete the challenge, I get the write answer as a string in the console, but no green check-marks appear.

Here is [the link to my issue](https://www.freecodecamp.com/challenges/roman-numeral-converter#?solution=var%20arr

[2016-06-03 19:07] eliaslfox commented on #8908
Thank you for helping me, I feel really stupid now

[2016-06-03 19:07] #8908 closed

[2016-06-03 19:19] raisedadead commented on #8908
@eliaslfox no issues, glad to be able to sort out the confusion.

[2016-06-03 19:43] Nisarg1792 opened #8941 "Record Collection"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

![image](https://cloud.githubusercontent.com/assets/11726988/15790850/ce01bf54-29a1-11e6-853c-9b5e0c687bbc.png)

[2016-06-03 19:50] rohanricky commented on #8938
Hello Everyone!
I am new to FreeCodeCamp. can I take up this issue?

[2016-06-03 19:53] erictleung commented on #8938
@rohanricky go for it!

[2016-06-03 20:15] erictleung commented on #8939
Closing as duplicate of #7842. Someone else has [suggested that](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7842#issuecomment-204642391).

[2016-06-03 20:15] #8939 closed

[2016-06-03 21:15] yuens1002 commented on #8570
for this challenge, i entered
[code]
as my solution and got "You should use the % operator" error.  can you confirm?

[2016-06-03 21:21] jarrydfillmore commented on #8938
+1  here too!

[2016-06-03 21:23] alaaaaaaaaan opened #8942 "There seems to be a lesson missing"
#### Challenge Name

https://www.freecodecamp.com/challenges/add-a-submit-button-to-a-form

#### Issue Description

These are the instructions provided by the challenge:
" Let's add a submit button to your form. Clicking this button will send the data from your form to the URL you specified with your form's action attribute."

However, there is never a lesson that teaches you how to create a form

[2016-06-03 21:26] tianz commented on #8942
I think you create a form and give it a action in the previous challenge https://www.freecodecamp.com/challenges/create-a-form-element

[2016-06-03 21:34] erictleung commented on #8570
@yuens1002 you need a `var` in front.

[2016-06-03 21:44] erictleung commented on #8942
@alaaaaaaaaan the code

[code]

is the same code that you should have input from the previous challenge "Create a Form Element." This lesson, as @tianz has pointed out, is where you learn to add actions:

Happy coding!

[2016-06-03 21:44] #8942 closed

[2016-06-03 21:51] erictleung commented on #8941
@Nisarg1792 thanks for the issue but it is unclear on what your issue is. I'm assuming you are pointing out that your code didn't pass the second test. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: what happens when you push to a non-existent property. If this is not your issue, please comment back. Happy coding!

[2016-06-03 21:51] #8941 closed

[2016-06-03 21:52] QuincyLarson opened #8943 "Add bio to Free Code Camp portfolios"
GitHub recently introduced a bio field. We should also pull this from GitHub and store it on each user's object the same way we pull their name and location from GitHub.

- [x] Update user schema to store bio
- [x] Update GitHub auth logic to request and store bio
- [x] Update code portfolio view to display bio if present

For reference, here's my public info: (https://api.github.com/users/quincyl

[2016-06-03 22:02] erictleung commented on #8940
@chelseypaulsen your `var arr = [];` is a global variable. You need to put it within your function. Our tests run just your function. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-06-03 22:02] #8940 closed

[2016-06-03 22:11] JonW27 commented on #8934
Can I take this?

[2016-06-03 22:22] erictleung commented on #8934
@JonW27 go for it!

[2016-06-03 22:27] JonW27 commented on #8934
https://github.com/FreeCodeCamp/FreeCodeCamp/pull/8944

[2016-06-03 22:30] LeWood16 opened #8945 ""ANS" button in freeCodeCamp's JavaScript Calculator example not functional"
#### Build A JavaScript Calculator
https://www.freecodecamp.com/challenges/build-a-javascript-calculator

#### Issue Description

I'm not sure whether someone had already pointed this issue out (I couldn't find someone else posting about it anywhere), but the button in the example code that stores the last answer to be used later (the "ANS" button) doesn't do anything; For example when you type "2

[2016-06-03 22:44] hutstep commented on #8680
I just finished learnyounode. No issues at all. Like @jnmorse suggested, and like I wrote here https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7080#issuecomment-223046160 for the how-to-npm challenge, it works if you create your C9 workspace with a blank template and **not** a Node.js template.

![learnyounode](https://cloud.githubusercontent.com/assets/18348355/15794721/5fb45a60-29ed-11e6-86f

[2016-06-03 23:12] gbsimon87 opened #8946 "Pesky but professionalim is key..."
Not sure if this is supposed to go here, but if not, we can always close the topic...

Challenge [Iterate with JavaScript For Loops]
(https://www.freecodecamp.com/challenges/iterate-with-javascript-for-loops) has an issue, well, typo.

It's really a pesky little thing, but considering I truly respect FCC, I felt the need to point it out as it is very fixable and helps keep professionalim at its hi

[2016-06-03 23:25] yuens1002 commented on #8570
It is already declared from the line above
On Jun 3, 2016 2:36 PM, "Eric Leung" <notifications@github.com> wrote:

[2016-06-04 00:00] erictleung commented on #8946
@gbsimon87 thanks for the support! We do try to keep things as great as possible. And you are correct, there is a typo.

If you or anyone else wants to take care of this issue, [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/basic-javascript.json#L4586) needs to be changed so that `evalutes` is changed to `evaluates`.

Pl

[2016-06-04 00:06] erictleung commented on #8570
@yuens1002 mmm I see. We changed the test recently to look for `var remainder = ...`. However, as long as the `remainder = ...%...` is there, it should be correct.

For anyone wanting to fix this, [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/basic-javascript.json#L646) should be changed to:

[code]

Please first read t

[2016-06-04 00:19] jacobbearden commented on #8943
Mind if I take care of this one?

[2016-06-04 00:20] mcmellan commented on #5884
i cant seem to know what I am doing wrong. I don't know if I am being too clumsy, but sometimes I'll have a code that would not work then I refresh or clear my cache and the same code would go through.
![screen shot 2016-06-03 at 5 16 22 pm](https://cloud.githubusercontent.com/assets/16537628/15796234/69587f1c-29af-11e6-8e35-b5a605266339.png)

[2016-06-04 01:38] yuens1002 commented on #8570
Best to check if the variable remainder has been declared elsewhere or not
have the variable remainder be declared by default.
On Jun 3, 2016 5:09 PM, "Eric Leung" <notifications@github.com> wrote:

[2016-06-04 03:22] raisedadead commented on #8680
@lcarbonaro @jnmorse thanks a lot. Looks like we can update the instructions to reflect the same.

[2016-06-04 03:25] raisedadead commented on #8680
@hutstep thanks a lot for the workaround, would you be interested in making a PR for both the challenges and update the instructions?

[2016-06-04 03:37] raisedadead commented on #8945
@LeWood16 thanks a lot reporting this. Can you help us in fixing this?
If you could, please point what's not correct in the code for the original pen we can quickly fix that.

[2016-06-04 03:47] postpoststructuralism opened #8948 "Inadequate Unit Tests"
Challenge [Prefilter JSON](https://www.freecodecamp.com/challenges/prefilter-json#?solution=%0Afccss%0A%20%20%24%28document%29.ready%28function%28%29%20%7B%0A%0A%20%20%20%20%24%28%22%23getMessage%22%29.on%28%22click%22%2C%20function%28%29%20%7B%0A%E2%80%89%E2%80%89%20%20%20%20%24.getJSON%28%22%2Fjson%2Fcats.json%22%2C%20function%28json%29%20%7B%0A%0A%20%20%20%20%20%20%20%20var%20html%20%3D%20%22%2

[2016-06-04 04:40] CDEguia commented on #8945
Got a fix!!! but haven't contributed before...
here is the code snippet:
` else if(text === "And") {
      calc = $(".textbox").val();
      $(".textbox").val(calc);
      clear=false;`
this can be placed at the end of the 'else if's
my forked pen can be found [here](https://codepen.io/CDEguia/pen/pbJpgY)

[2016-06-04 05:26] raisedadead commented on #8945
Thanks @CDEguia appreciate the help, this may not be related but its still a rough on the ages.
Clicking the `ANS` followed by `-`, doesn't seem to work.

[2016-06-04 05:54] #8946 closed

[2016-06-04 06:11] CDEguia commented on #8945
My mistake, I didn't save the final version of the code [this](http://codepen.io/CDEguia/full/pbJpgY/) should work.

[2016-06-04 08:24] Lochlann24 opened #8949 "Feels like a bug 'Your p element should have the text "View more " (with a space after it).'"
Code seems right...but we can't pass...getting this error

Your p element should have the text "View more " (with a space after it).

Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D

[2016-06-04 08:29] 4mit commented on #7881
How do we can use two double quotes without using /
is it possible ?

[2016-06-04 08:49] geligelu opened #8950 "All of my previous work missing before "Intermediate Algorithms" if viewed via "MAP" navigation"
#### Challenge Name

All of them

#### Issue Description

I don't know how to reproduce it. I just went back today to check some of my solutions, and all my work is missing!

#### Browser Information

* Browser Name, Version: Chrome
* Operating System: OS X latest
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]

#### Screenshot

[2016-06-04 08:53] geligelu commented on #8950
Sorry, panic over. It's not missing. However, if I go back to my solutions via "map" - my work isn't there. I can only view them via my profile and then "view solution". Is this a bug?

[2016-06-04 09:09] hutstep commented on #8680
@raisedadead ok, will do it for both challanges.

[2016-06-04 09:15] jolarti commented on #8849
@QuincyLarson when you say "Campers probably won't encounter it early on..." this worries me. I'm a beginner and all I do is just do the challenges, assuming it will teach me the fundamentals I need to know. I would think that most beginning campers will do and think the same.

Now I am worried if there is more that I am missing out of, when only doing the challenges.
If not, there should be a dis

[2016-06-04 09:37] atjonathan commented on #8950
@geligelu, I can view my solutions find from the map. Are you saying the code editor just shows the default challenge code?

cc/ @FreeCodeCamp/issue-moderators

[2016-06-04 09:40] atjonathan commented on #8943
@jacobbearden, definitely!

Please, check our [**Guidelines for Contributing**](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) and if you need any assistance reach out to the [Contributors Chat room](https://gitter.im/FreeCodeCamp/HelpContributors).

[2016-06-04 10:16] geligelu commented on #8950
@atjonathan - that's exactly what I'm saying. yes.

Example - went to the "Find the longest word" algorithm page, via Map, from within a later challenge:

<img width="706" alt="find_the_longest_word_in_a_string___free_code_camp" src="https://cloud.githubusercontent.com/assets/6688676/15799001/5ac96d36-2a80-11e6-8d89-f4569173a67a.png">

and then I visited from my profile page:

<img width="708" alt

[2016-06-04 10:34] raisedadead commented on #8945
#### :sparkles: :sparkles: **LGTM.** :sparkles: :sparkles:

@CDEguia Thanks a lot! WOOT.

@LeWood16 please check the original pen, I have updated it with changes suggested by @CDEguia
Closing as resolved.

[2016-06-04 10:34] #8945 closed

[2016-06-04 10:41] raisedadead commented on #8949
Thanks for reporting this. Unfortunately your code is not correct. Closing as not a issue with the website.

Please consult the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to Coding.

Happy Coding!

[2016-06-04 10:41] #8949 closed

[2016-06-04 10:41] zainabrawat opened #8951 "DELETE pls"
Wrong location delete pls

[2016-06-04 10:46] #8951 closed

[2016-06-04 10:58] allprogrammers commented on #8609
the em tags are not working either

[2016-06-04 11:17] niharika517 commented on #8308
hii Mr.Venkatesh,i tried the way u had done it,but i am not getting it y???

[2016-06-04 13:23] fkingn00bGG opened #8953 "Update tests for Manipulate Arrays With pop challenge."
Challenge [Manipulate Arrays With pop](https://www.freecodecamp.com/challenges/manipulate-arrays-with-pop#?solution=%0A%2F%2F%20Example%0Avar%20ourArray%20%3D%20%5B1%2C2%2C3%5D%3B%0Avar%20removedFromOurArray%20%3D%20ourArray.pop()%3B%20%0A%2F%2F%20removedFromOurArray%20now%20equals%203%2C%20and%20ourArray%20now%20equals%20%5B1%2C2%5D%0A%0A%2F%2F%20Setup%0Avar%20myArray%20%3D%20%5B%5B%22John%22%2C%

[2016-06-04 13:38] atjonathan commented on #8950
@geligelu, this problem doesn't appear for me on Google Chrome `Version 50.0.2661.102 m`...
cc/ @FreeCodeCamp/issue-moderators, can anyone reproduce?

[2016-06-04 13:42] geligelu commented on #8950
Also on Version 50.0.2661.102 (64-bit)

[2016-06-04 13:51] raisedadead commented on #8953
Your code passes for me baby! :wink:

Please clarify what is the issue you are facing, exactly.
P.S : Please go through [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Help-I've-Found-a-Bug)

[2016-06-04 14:14] krybicka opened #8954 "Filter Arrays with .filter"
**Filter Arrays with .filter**

https://www.freecodecamp.com/challenges/filter-arrays-with-filter#?solution=%0Avar%20oldArray%20%3D%20%5B1%2C2%2C3%2C4%2C5%2C6%2C7%2C8%2C9%2C10%5D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0Avar%20newArray%20%3D%20oldArray.filter(function(x)%7Breturn%20x%20%3E%205%3B%7D)%3B%0A

#### Issue Description
It's bug in point "You should have filtered

[2016-06-04 15:02] aleksgorbenko opened #8955 "Record Collection challenge has incorrect JSON syntax"
The task says: "You are given a JSON object representing..."

Start of the example code given at the start:

[code]

Quote on JSON objects from MDN:

Source: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Object_initializer#Object_literal_notation_vs_JSON

Hence, the statement that it is a JSON object is wrong - it is JS object as properties are not written as strings.

[2016-06-04 15:22] wjhurley opened #8956 "Freecodecamp site not recognizing remainder operator (%) on Windows 8.1 or iPad Air 2, both chrome browsers"
Challenge [Finding a Remainder in JavaScript](https://www.freecodecamp.com/challenges/finding-a-remainder-in-javascript#?solution=%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0Avar%20remainder%3B%0A%0Aremainder%3D11%20%25%203%3B) has an issue.
User Agent is: <code>Mozilla/5.0 (iPad; CPU OS 9_3_1 like Mac OS X) AppleWebKit/601.1 (KHTML, like Gecko) CriOS/51.0.2704.64 Mobile/13E238 Safa

[2016-06-04 15:26] geligelu opened #8957 "Algorithm - Convert HTML Entities wiki page: all solutions will not work as written"
#### Challenge Name

https://www.freecodecamp.com/wiki/en/algorithm-convert-html-entities/

#### Issue Description

In all of the solutions, whether it's a case statement, object, or regex string replace, they do not map to the correct html entities, but they simple repeat the symbol that should be replaced:

e.g.

`str.replace(/&/g,'&')`

 instead of

`str.replace(/&/g,'&amp;')`

or

[code]

inst

[2016-06-04 15:28] BerkeleyTrue commented on #8956
Looks like the test is looking for the var declaration and operation on the same line.

[2016-06-04 15:31] arun1595 commented on #8956
@BerkeleyTrue I would like to work on this.

[2016-06-04 15:34] atjonathan commented on #8956
@arun1595, cool!

Please, check our [**Guidelines for Contributing**](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) and if you need any assistance reach out to the [Contributors Chat room](https://gitter.im/FreeCodeCamp/HelpContributors).

[2016-06-04 16:41] fkingn00bGG commented on #8953
That is the problem if you look at the checks `myArray` should only have one array but this still passed all the checks even though I have not removed the array from it.

[2016-06-04 16:45] erictleung commented on #8953
Right, this challenge needs a test to test the use of `.pop()`

[2016-06-04 17:05] venkateshilango7 commented on #8308
Hi Niharika,

Can you paste the snap shot of your code?

Thanks and Regards, Venkatesh

[2016-06-04 17:30] raisedadead commented on #8953
@fkingn00bGG thanks a lot.

[2016-06-04 18:01] sludge256 commented on #8950
Accessing challenges via the map will load data stored in Local Storage.

[2016-06-04 18:02] ArnoldLaishram opened #8960 "Challenge [Modify Array Data With Indexes]"
(https://www.freecodecamp.com/challenges/modify-array-data-with-indexes#?solution=%0A%2F%2F%20Example%0Avar%20ourArray%20%3D%20%5B1%2C2%2C3%5D%3B%0AourArray%5B1%5D%20%3D%203%3B%20%2F%2F%20ourArray%20now%20equals%20%5B1%2C3%2C3%5D.%0A%0A%2F%2F%20Setup%0Avar%20myArray%20%3D%20%5B1%2C2%2C3%5D%3B%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0AmyArray%5B0%5D%20%20%3D%203%3B%0A) has an issue.

[2016-06-04 19:11] JacksonKearl commented on #8960
The problem here is in the assert:
`assert((function(){if(code.match(/myArray\\[0\\]\\s?=\\s?/g)){return true;}else{return false;}})(), 'message: You should be using correct index to modify the value in [<code>myArray</code>.');`
At [https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/basic-javascript.json#L1741](url)

The regex: `/myArr

[2016-06-04 19:25] garcia223 opened #8961 "just a typo, not a bug"
"Your body element should have an black background." doesn't need to be typed as "an"

Challenge [Use RGB values to Color Elements](https://www.freecodecamp.com/challenges/use-rgb-values-to-color-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.79 Safari/537.36</code>.
Please describe how to reproduce this iss

[2016-06-04 19:50] erictleung commented on #8961
@garcia223 thanks for catching this!

For anyone wanting to fix this, [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/html5-and-css.json#L4535) needs to be changed so that `an black background` should be `a black background`.

Please first read the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blo

[2016-06-04 19:58] ArnoldLaishram commented on #8960
Thanks Jackson. That just did the trick

On Sun, Jun 5, 2016 at 12:44 AM, Jackson Kearl <notifications@github.com>
wrote:

[2016-06-04 21:51] fkingn00bGG opened #8962 "Requirements and tests do not match up"
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection#?solution=%0A%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%202548%3A%20%7B%0A%20%20%20%20%20%20album%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20artist%3A%20%22Bon%20Jovi%22%2C%0A%20%20%20%20%20%20tracks%3A%20%5B%20%0A%20%20%20%20%20%20%20%20%22Let%20It%20Rock%22%2C%20%0A%20%20%20%20%20%

[2016-06-04 22:51] erictleung commented on #8962
@fkingn00bGG yes, that is a correct assumption. You'll need to build that functionality into your function to check for empty arrays. Happy coding!

[2016-06-04 22:51] #8962 closed

[2016-06-04 22:59] harveythedinosaur opened #8963 "Recaptcha in codepen prevents me from signup."
Challenge [Build a Tribute Page](https://www.freecodecamp.com/challenges/build-a-tribute-page) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:2.0) Gecko/20100101 Goanna/20160507 PaleMoon/26.2.2</code>.
Be a not stupid user and have efficient tracking protection in your browser, don't usually use google accounts. Then try to login on a site with recaptcha. Also I can

[2016-06-04 23:02] erictleung commented on #8960
@ArnoldLaishram what @JacksonKearl says is correct. There is an issue with the test only checking for only one space.

@JacksonKearl I see you have referenced this issue with your changes. You'll need to make a pull request on the main repo. Please first read the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) before taking care of this issue. A

[2016-06-04 23:54] manshantsingh commented on #8961
Well this would be my first time contributing and I want to try this @erictleung.

[2016-06-05 00:04] erictleung commented on #8961
@manshantsingh go for it! 👍  Let us know through the chat room if you need any help.

[2016-06-05 00:14] aledavila opened #8964 "Test issue"
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=function%20palindrome(str)%20%7B%0A%20%20var%20newStr%20%3D%20str.replace(%2F%5B%5Ea-zA-Z%5D%2Fg%2C%20%22%22).toLowerCase()%3B%0A%20%20var%20palindrome%20%3D%20newStr.split('').reverse().join('')%3B%0A%20%0A%20%20return%20newStr%20%3D%3D%3D%20palindrome%20%3F%20true%20%3A%20false%3B%0A%7D%0A%0

[2016-06-05 00:18] atjonathan commented on #8950
@geligelu, confused cause it works fine for me. As @sludge256 stated, it's possible your local storage was cleared. Try resubmitting a challenge...

[2016-06-05 00:36] erictleung commented on #8964
@aledavila "1 eye for of 1 eye" is not a palindrome. Reversing the string after removing spaces gives you "eye1forofeye1", which is not the same as the original "1eyeforof1eye". Happy coding!

[2016-06-05 00:36] #8964 closed

[2016-06-05 00:52] #8961 closed

[2016-06-05 01:59] geligelu commented on #8950
OK @sludge256  - with more testing I can see that this is exactly the case. as soon as I visit a challenge from my profile page, leave and come back via map, the data has been restored.

I'm happy to close this now, but here's food for thought:  I won't be the only person to clear their cache/local storage/cookies every so often. What happens if someone else gets into a bit of a panic that half of

[2016-06-05 02:56] fkingn00bGG commented on #8962
@erictleung I don't think you understand my meaning. No where in your tests do you test this instruction given. " push the value onto the end of the tracks array."

Instead we are required to create our own array to pass the tests but no where does it say something like "create an array if tracks value is not present"

[2016-06-05 03:42] erictleung commented on #8963
@harveythedinosaur sorry, but I'm not understanding your issue. Are you having difficulty signing up for Codepen because of the reCAPTCHA?

[2016-06-05 03:45] erictleung commented on #8955
@aleksgorbenko thanks for the feedback. This is related to #7767.

[2016-06-05 03:50] erictleung commented on #8948
@postpoststructuralism thanks for the feedback. I want to say this issue is related to #5004. These tests were "left" inadequate because we don't have the infrastructure to test these properly. The least we can do is have regexes look for the code we suggest but doing so, coders will find other ways to pass the challenge, as with #7557.

cc/ @FreeCodeCamp/issue-moderators am I correct in saying we

[2016-06-05 04:20] ZGran opened #8966 "Uncomment HTML Bug"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-06-05 04:32] tjgerot commented on #8966
Your issue is simply a post of the contribution template. To submit an issue, fill out the fields in the issue template to provide some details on the issue you are experiencing. For help on this, please take the time to reference [CONTRIBUTING.md](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md). Thank you!

[2016-06-05 04:35] erictleung commented on #8966
@ZGran please describes your bug in more detail so that we may investigate it.

[2016-06-05 04:44] erictleung opened #8967 ""Kool-Aid Man" should be hyphenated"
#### Issue Description

In the compliment involving the Kool-Aid Man, his name should be hyphenated (https://en.wikipedia.org/wiki/Kool-Aid_Man).

#### To Fix

You'll need to change [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/server/utils/resources.json#L87) and add a hyphen to make it:

#### Screenshot

![image](https://cloud.githubusercontent.com/assets/2754821/15803628

[2016-06-05 04:56] tjgerot commented on #8938
This issue is fixed in [pull request #8968](https://github.com/FreeCodeCamp/FreeCodeCamp/pull/8968).

[2016-06-05 05:06] tjgerot commented on #8967
This issue has been fixed in [pull request #8969](https://github.com/FreeCodeCamp/FreeCodeCamp/pull/8969).

[2016-06-05 06:31] pragya68 opened #8970 "I am doing what is required but it is mot letting me pass."
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection#?solution=%0A%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%202548%3A%20%7B%0A%20%20%20%20%20%20album%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20artist%3A%20%22Bon%20Jovi%22%2C%0A%20%20%20%20%20%20tracks%3A%20%5B%20%0A%20%20%20%20%20%20%20%20%22Let%20It%20Rock%22%2C%20%0A%20%20%20%20%20%

[2016-06-05 06:42] VishalRam commented on #8943
Can I work on this one?

[2016-06-05 07:48] karel1980 commented on #8955
I would like to work on this

[2016-06-05 07:48] abhisekp commented on #5844
@jacobbogers you are free to use whichever technology gets the work done. There is no restrictions of use of technology. :smiley:
In fact, it's really appreciated to use Sass (SASS/SCSS syntax) preprocessor for developing your front-end projects.

You may use whichever platform you like for developing and publishing online. (It should be viewable publicly, ofcourse).
Try [Plunker](http://plnkr.co)

[2016-06-05 08:04] karel1980 commented on #8955
I'm a bit conflicted about the best approach here. We could simply state that it is a "Javascript object" instead of a JSON object (i.e. leave out the term JSON), or change the javascript so that object keys are quoted.
I actually prefer the former, because there is no JSON here. JSON is just a representation format which looks a lot like javascript. Sure, with proper quotes a particular part of t

[2016-06-05 08:24] rameshsyn commented on #8970
@pragya68  It works perfectly for me !!!. You can   clear your  browser caches and cookies  and resubmit .

[2016-06-05 08:26] crashuniverse commented on #8970
It's okay, sometimes we do get stuck and `console.log` helps a lot to determine what the problem could be. The assignment looks okay, I'll talk about what is going wrong with your code. It is possible that the underlying concept is not explained to you already but with this conversation, you would be able to proceed.

1. Identify what is going wrong with tests. Your solution suggests 2nd test is f

[2016-06-05 08:43] vaspv opened #8971 "Back End Development Curriculum"
#### Challenge Name

https://www.freecodecamp.com/challenges/continue-working-with-nodejs-servers

#### Issue Description

This is a general issue about Back End Development curriculum. I recently completed Front End certificate and have moved to Back End but am struggling to orient myself within the curriculum. What I find is that I don't have any overall picture of back end development and how d

[2016-06-05 08:58] dkfiresky opened #8972 "Code style & answer verification"
#### Challenge Name
Target Elements by ID Using jQuery
https://www.freecodecamp.com/challenges/target-elements-by-id-using-jquery

#### Issue Description
If you insert spaces between function arguments the answer will not be valid. If you omit the spaces, it will be all fine.

#### Browser Information
* Browser Name, Version: Safari 9.1 (11601.5.17.1)
* Operating System: OS X 10.11.4
* Mobile, Des

[2016-06-05 11:35] #8852 closed

[2016-06-05 11:41] deesto commented on #6855
This is already "fixed", but I've found just now that the test for declaring 'total' outside of the 'for' loop will still always fail unless an assignment to total (via the '+=' operator or just '=') is used within the 'for' loop. No problem if the user understands that an assignment should be done instead of, say, a function, but otherwise puts them on a wild goose chase for why 'total' isn't dec

[2016-06-05 12:49] dedalux opened #8973 "Computer Basics - Quizzes are ending too early"
#### Challenge Name

Any Computer Basics tutorial -- the quizzes for passing cut away from the last question and goes to the next lesson
#### Issue Description

#### Browser Information

- Browser Name, Version: Chrome
- Operating System: Win 10
- Mobile, Desktop, or Tablet: Desktop
#### Your Code

[code]
#### Screenshot

[2016-06-05 13:04] mav1283 opened #8974 "Record Collection Bug"
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection#?solution=%0A%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%202548%3A%20%7B%0A%20%20%20%20%20%20album%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20artist%3A%20%22Bon%20Jovi%22%2C%0A%20%20%20%20%20%20tracks%3A%20%5B%20%0A%20%20%20%20%20%20%20%20%22Let%20It%20Rock%22%2C%20%0A%20%20%20%20%20%

[2016-06-05 13:34] fkingn00bGG commented on #8974
Perhaps you should try chat first. My answer is over here #8962 people are getting stumped on this question for the wrong reasons.

[2016-06-05 13:39] fkingn00bGG commented on #8974
@mav1283 after looking at your code as you can see
[code]
has no `tracks` but you are trying to access it like so
[code]

My issue that was closed which should not of been talks about this

[2016-06-05 13:49] dakshshah96 commented on #8933
Can I take care of this?

[2016-06-05 13:50] #8875 closed

[2016-06-05 14:16] Coding-in-progress opened #8975 "Golf Code Challenge wiki article mispelling"
#### Challenge Name
Challenge Golf Code

#### Issue Description
When referencing the Wiki article for this challenge it reads "Challenge **Gold** Code"

Simple typo is all.

[2016-06-05 14:46] mav1283 commented on #8974
yes because the requirement is push the valu
![record collection - free code camp 2016-06-05 22-46-00](https://cloud.githubusercontent.com/assets/11674969/15806126/5a783804-2b6f-11e6-861b-ac9035bd959c.png)
![record collection - free code camp 2016-06-05 22-46-00](https://cloud.githubusercontent.com/assets/11674969/15806131/65140298-2b6f-11e6-9666-37a6768405f7.png)

e if prop is equal to tracks, bu

[2016-06-05 15:06] erictleung commented on #8970
@pragya68 what @crashuniverse suggests is a good way to debug your issues in the future. The issue is because you're pushing to a non-existent `tracks` property for record 5439. It was intended for the user to check for this, but this requirement was a bit implied and should probably be more explicitly stated.

[In between these two lines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/

[2016-06-05 15:07] erictleung commented on #8974
Duplicate of #8970. Closing in favor of that issue.

[2016-06-05 15:07] #8974 closed

[2016-06-05 15:09] erictleung commented on #8971
cc/ @FreeCodeCamp/issue-moderators

[2016-06-05 15:25] crashuniverse commented on #8975
Good point. I see the problem at https://freecodecamp.github.io/wiki/en/challenge-golf-code/
The index for Article search also has this typo and so we have 2 instances of this problem.

[2016-06-05 15:38] erictleung commented on #8972
@dkfiresky hmm this is odd. The [tests](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/jquery.json#L256-L257) are using jQuery selectors on the elements so spaces shouldn't be an issue, but I'm stumped.

cc/ @FreeCodeCamp/issue-moderators

[2016-06-05 15:42] wildaces215 commented on #8967
Is this issue still open even though 7 out of 10 tasks are complete?

[2016-06-05 15:53] #8975 closed

[2016-06-05 16:26] fkingn00bGG commented on #8970
@erictleung Finally you have acknowledged this issue maybe now you can understand my fix? fking GG XD

[2016-06-05 16:27] powell956 opened #8976 "Typo in Javascript Modulo Exercise: "var remainder" should just be "remainder""
#### Finding a Remainder in JavaScript
https://www.freecodecamp.com/challenges/finding-a-remainder-in-javascript

#### Issue Description
As the directions clearly state, the correct answer to the exercise will be: [the chosen variable] set equal to `11 % 3`.

The problem is that the exercise only accepts `var remainder = 11 % 3` as the correct answer, when the variable `remainder` is already decla

[2016-06-05 16:28] powell956 opened #8977 "Typo in Javascript Modulo Exercise: "var remainder" should just be "remainder""
#### Finding a Remainder in JavaScript
https://www.freecodecamp.com/challenges/finding-a-remainder-in-javascript

#### Issue Description
As the directions clearly state, the correct answer to the exercise will be: [the chosen variable] set equal to `11 % 3`.

The problem is that the exercise only accepts `var remainder = 11 % 3` as the correct answer, when the variable `remainder` is already decla

[2016-06-05 16:34] niharika517 commented on #8308
hey I got it
thanks

On Sat, Jun 4, 2016 at 10:37 PM, Venkatesh Ilango <notifications@github.com>
wrote:

[2016-06-05 16:51] arun1595 commented on #8976
This will be fixed soon. https://github.com/FreeCodeCamp/FreeCodeCamp/pull/8958

[2016-06-05 17:11] erictleung commented on #8977
Closing because of duplicate of #8976.

[2016-06-05 17:11] #8977 closed

[2016-06-05 17:20] #8570 closed

[2016-06-05 17:20] #8956 closed

[2016-06-05 17:22] erictleung commented on #8976
@powell956 @arun1595 is correct. This will be changed very soon with the next push of updates to the live site. Until then, I would keep the code in just one line to pass the challenge. Happy coding!

[2016-06-05 17:22] #8976 closed

[2016-06-05 17:26] UtkarshShukla7 opened #8979 "Record Collection incorrect solution passed all tests"
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection#?solution=%0A%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%202548%3A%20%7B%0A%20%20%20%20%20%20album%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20artist%3A%20%22Bon%20Jovi%22%2C%0A%20%20%20%20%20%20tracks%3A%20%5B%20%0A%20%20%20%20%20%20%20%20%22Let%20It%20Rock%22%2C%20%0A%20%20%20%20%20%

[2016-06-05 17:29] crashuniverse commented on #8967
LGTM

[2016-06-05 19:30] harveythedinosaur commented on #8963
Yeah recaptcha never finishes even if I solve 30 sets for them.

[2016-06-05 22:37] yuens1002 commented on #8587
i can confirm that this answer

[code]

will result in in a console.log of

[code]

interestingly, if i did

[code]

console.log results in

[code]

therefore, i single and double quotes are on longer functionally the same in js?

[2016-06-05 23:13] tanyagupta opened #8981 "Bug Report: FreeCodeCamp : Build a JavaScript Calculator"
#### Challenge Name
https://www.freecodecamp.com/challenges/build-a-javascript-calculator
Code pen link: https://codepen.io/FreeCodeCamp/full/PNKdjo/

#### Issue Description
Test case 5+5=+5 should be 15. Shows 5 instead

#### Browser Information
Chrome Version 51.0.2704.79 (64-bit)
OSX El Capitan
Desktop

#### Your Code
n/a

// If relevant, paste all of your challenge code in here

[code]

[2016-06-05 23:26] #8967 closed

[2016-06-05 23:49] mav1283 commented on #8970
still can't resolve the issue, i tried creating an empty array before updating, same error. even tried clearing my cach on chrome and firefox, still the same error:

"updateRecords(5439, "tracks", "Take a Chance on Me"), tracks should have "Take a Chance on Me" as the last element."

[2016-06-06 01:15] profoundhub commented on #8970
I noticed that a lot of people were having problems with this challenge, which is why I wrote a short blog post on CodePen about possible solutions, I hope you and others would find it helpful. Here's the URL: https://codepen.io/profoundcoder/post/record-collection

[2016-06-06 01:32] arun1595 commented on #8981
@tanyagupta When you enter "=", the result of the previous expression is not persisted.
When you enter +, it knows nothing of the first operand because it doesn't even exist. After that, when you enter 5, you get 5 because its the same as adding 0 + 5.

Now, you have identified a bug for which the given pen breaks. Keep this in mind and when you develop your own calculator, make sure that you don'

[2016-06-06 01:33] daniel-chung commented on #8850
Since I haven't see any activity on this thread for almost a week, I decided to take a crack at this. Will be submitting a PR shortly.

[2016-06-06 01:37] AlenaHall commented on #8850
What all do you know how to do with coding, if I may ask.

On Sunday, June 5, 2016, Daniel Chung <notifications@github.com> wrote:

--
Cadet Hall

[2016-06-06 01:51] mav1283 commented on #8970
Yes i tried solutions 1 2 and 3 but i keep getting this error:  **updateRecords(5439, "tracks", "Take a Chance on Me"), tracks should have "Take a Chance on Me" as the last element.**

seems like a cache thing, but i cleared all my browser's cache. still the same error.

please check the attached screenshot and look on the left side error number 2
![record collection - bug](https://cloud.githubuse

[2016-06-06 02:25] qinouz opened #8983 "123"
Challenge [Word Blanks](https://www.freecodecamp.cn/challenges/word-blanks#?solution=function%20wordBlanks(myNoun%2C%20myAdjective%2C%20myVerb%2C%20myAdverb)%20%7B%0A%20%20var%20result%20%3D%20%22%22%3B%0A%20%20%2F%2F%20Your%20code%20below%20this%20line%0A%20%20result%3DmyNoun%2B%20myAdjective%2B%20myVerb%2B%20myAdverb%3B%0A%0A%20%20%2F%2F%20Your%20code%20above%20this%20line%0A%20%20return%20resul

[2016-06-06 02:33] #8983 closed

[2016-06-06 02:37] daniel-chung commented on #7031
I added a 5 "chunk" test. The original code of @willnwhite now fails this new test.

[2016-06-06 02:58] daniel-chung commented on #7031
Sorry I closed the issue because I have another PR pending. Given that it addresses a very different issue I didn't want to combine the two requests (unless you disagree). I temporarily closed PR with the intension of reopening once the other PR is handled.

[2016-06-06 03:03] daniel-chung commented on #8850
@Blazer433 I think it makes sense to keep this issue open for the time being because the pull request hasn't been merged yet (and the issue has not been fully addressed).

@AlenaHall do you mind clarifying what you mean? Thanks!

[2016-06-06 03:20] Mete0 commented on #7847
Im having the exact same issue as dmatt. Cannot select the column of some lines. It seems like the code and the allowed lines are 'misaligned' because the selectability of the columns looks like its dependent on the line after it.

Running windows 10 on lastest version of chrome on Surface pro 3

[2016-06-06 04:10] mav1283 commented on #8970
It worked now, someone from gitter suggest this: collection[id][[prop] = [value];

[2016-06-06 07:04] Shraddha99 commented on #8909
getting same error .

here is the code. and the browser and text zoom are at 100 %.

<style>
  .red-text {
    color: red;
  p
    {
      font-size:16px;
    }
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

<p>Purr jum

[2016-06-06 07:05] Shraddha99 commented on #8909
the only error is this :
Between the style tags, give the p elements font-size of 16px. Browser and Text zoom should be at 100%.

[2016-06-06 07:25] atjonathan commented on #8983
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-06-06 07:41] allanarmstrong commented on #8909
@Shraddha99 You have an error in the position of your closing curly braces. the `p` selector should not be inside the `.red-text` selector.

[2016-06-06 07:51] CostGranda commented on #8909
@Shraddha99 you have this:
[code]
and should be this:
[code]

[2016-06-06 08:16] #8934 closed

[2016-06-06 08:41] raisedadead commented on #7031
@daniel-chung dono't close any issues or PR's without any confirmation.
Let issue-moderators give their insights.

[2016-06-06 08:56] HilalCelikmakas opened #8985 "Hello World"
Challenge [Say Hello to HTML Elements](https://www.freecodecamp.com/challenges/say-hello-to-html-elements#?solution=%3Ch1%3EHello%3C%2Fh1%3E%0A%3Ch1%3EHello%3C%2Fh1%3E%0A%3Ch1%3EHello%20World%3C%2Fh1%3E) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.79 Safari/537.36</code>.
Please describe how to reproduce this issue,

[2016-06-06 09:13] #8985 closed

[2016-06-06 09:43] kishimi8 opened #8986 "Error in challenge 192 (Stand in Line)"
Challenge [Stand in Line](https://www.freecodecamp.com/challenges/stand-in-line#?solution=%0Afunction%20nextInLine(arr%2C%20item)%20%7B%0A%20%20%2F%2F%20Your%20code%20here%0A%20%20var%20array%3B%0A%20%20arrayy%20%3D%20arr%20%3B%0A%20%20%0A%20%20arrayy%20%3D%20arrayy.push(item)%3B%0A%20%0A%20%0A%0AremovedFromOurArray%20%3D%20arrayy.shift()%3B%0A%20%20item%20%3D%20removedFromOurArray%3B%0A%20%20%0A%

[2016-06-06 10:30] ritam378 opened #8987 "Escaping Character Issue"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%3B%20%2F%2F%20Change%20this%20line%0AmyStr%20%3D%20%22%20%5Cb%20%5Ct%20%5Ct%20%5Cr%20%5Cn%20%22%3B%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36</code>.
Please d

[2016-06-06 10:36] aliblack89 commented on #8987
Try putting it on the same line as var myStr;

i.e. it would be: var myStr = "\b \t \t \r \n";

[2016-06-06 10:41] ritam378 commented on #8987
Its working.
Thanks :)

[2016-06-06 10:41] #8987 closed

[2016-06-06 10:43] Pixelbark opened #8988 "Content issue - "Show the local weather" challenge."
Hi all,

I'm going to be REALLY blunt about this.

Earlier this year, google made the following statement:
#

"Chrome has public intent to deprecate powerful features like geolocation on non-secure origins, and we hope that others will follow.

Starting with Chrome 50, Chrome no longer supports obtaining the user’s location using the HTML5 Geolocation API from pages delivered by non-secure connect

[2016-06-06 11:55] crashuniverse commented on #8970
What @erictleung suggests is a good indicator for user to know what needs to be done. If we all agree, I can pick it up.

[2016-06-06 11:55] crashuniverse commented on #8970
@mav1283 What you say will work only if collection[id] is an object and exists already so that you can access its propery `prop`.

[2016-06-06 12:21] BKinahan commented on #8986
Issues are for reporting bugs or problems with the website. For help with coding in the JavaScript algorithm sections please consult the [HelpJavaScript chat](https://gitter.im/FreeCodeCamp/HelpJavaScript).

It isn't a function. You assign the result of `arrayy.push(item)` to `arrayy` before attempting to use `shift()`, and the result of `arrayy.push(item)` is the new length of `arrayy`. See [here

[2016-06-06 12:47] daniel-chung commented on #7031
@raisedadead Gotcha, thanks for the advice. This is my first time going through the rodeo so I'm still trying to figure things out :)
I'll reopen the PR and cc issue-moderators

[2016-06-06 13:01] daniel-chung commented on #7031
@raisedadead @FreeCodeCamp/issue-moderators: Actually I realized I reverted the commits on this branch for this PR so I think I'd need to submit a new PR. Given that, I think it's probably easiest to delete PR #8984 and start over, but let me know what you think.

[2016-06-06 13:17] powell956 commented on #8976
Thank you!
On Jun 5, 2016 1:25 PM, "Eric Leung" <notifications@github.com> wrote:

[2016-06-06 13:24] eljaygalvez commented on #8979
Hi,
I also got stuck in this challenge.

Here's my code:
`
// Setup
var collection = {
    2548: {
      album: "Slippery When Wet",
      artist: "Bon Jovi",
      tracks: [
        "Let It Rock",
        "You Give Love a Bad Name"
      ]
    },
    2468: {
      album: "1999",
      artist: "Prince",
      tracks: [
        "1999",
        "Little Red Corvette"
      ]
    },
    1245: {

[2016-06-06 14:01] UtkarshShukla7 commented on #8979
@eljaygalvez you got that error because in the collection object the object with id 5439 doesn't have tracks property predefined .So when you try to push into the tracks property (which is undefined currently for this object) ,the push operation cannot be performed as it is only defined for arrays.If you will see the commented part in my solution ,you will be able to find the correct solution

[2016-06-06 14:45] erictleung commented on #8986
@kishimi8 I agree with what @BKinahan suggests. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-06-06 14:45] #8986 closed

[2016-06-06 14:57] OakerMin commented on #8850
I managed to solve it after a few tries. turns out there's a full stop at the end of the sentence. And guys  make sure you have no spaces in between the backslashes and quotes and your next letter in line

[2016-06-06 15:12] hitikrajpalhr opened #8989 "Multiple Identical Options in Switch Statements"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-06-06 15:13] erictleung commented on #8989
@hitikrajpalhr thanks for the issue, but can you give more detail on what your issue is?

[2016-06-06 15:47] geekonprogress opened #8990 "ongoing with this issue where should I change?"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2016-06-06 15:58] hrokr commented on #8814
@dewhiz - Perhaps a good start for a mockup would be color code the main sections (front end, back end and data visualizations, plus non-profit projects, etc). You could then break down the subsections while still keeping the order but increasing the lightness or darkness. So Objects might be #ff0000 with the next section, JSON, being #b30000.

[http://www.w3schools.com/colors/colors_picker.asp](W

[2016-06-06 16:20] atjonathan commented on #8990
`Your p element should have the text "View more " (with a space after it).`

Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-06-06 16:20] #8990 closed

[2016-06-06 18:56] hrokr commented on #8551
@erictleung,  @pranayberry, @raisedadead, @ceejayoz

**Either slightly renaming either function or saying "rewrite the function, changing the contents of the string to ..... " would be helpful in this case.**

#### Screenshot

![screen shot 2016-06-06 at 2 42 56 pm](https://cloud.githubusercontent.com/assets/9368785/15833479/fed4f920-2bf4-11e6-9d66-fd2e511f3610.png)

[2016-06-06 19:23] abhiyan52 opened #8992 "how to change the font of second p"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%3Csytle%3E%0A%20%20%20%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%20%20%0A%20%20%20%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%20%3EKitty%20ipsum%20d

[2016-06-06 19:25] smhnaji opened #8993 "If there is a commented line between if's closing `}` and `else` next to `if`, it doesn't accept my code."
Challenge [Introducing Else Statements](https://www.freecodecamp.com/challenges/introducing-else-statements#?solution=%0Afunction%20testElse(val)%20%7B%0A%20%20var%20result%20%3D%20%22%22%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%0A%20%20if%20(val%20%3E%205)%20%7B%0A%20%20%20%20result%20%3D%20%22Bigger%20than%205%22%3B%0A%20%20%7D%20%20%0A%20%20else%20%7Bresult%20%3D%

[2016-06-06 19:32] atjonathan commented on #8992
`Between the style tags, give the p elements font-size of 16px. Browser and Text zoom should be at 100%.`

Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-06-06 19:32] #8992 closed

[2016-06-06 19:39] erictleung commented on #8993
@smhnaji the issue is actually the inclusion of `if` in your comment. The test is a regular expression looking for only one `if` statement. I'm not sure if we can parse just the uncommented code.

@raisedadead In #8653, we have a similar problem as this one. For a quick fix, we could do the same thing here and rewrite the problem test with a warning so the test goes from:

to

[2016-06-06 19:42] sergroja opened #8994 "Check for Palindromes"
Check for Palindromes
https://www.freecodecamp.com/challenges/check-for-palindromes

One of the tests for the string is not equal but it should return true.

palindrome("0_0 (: /-\ :) 0-0") should return true

Chrome 50.0.2661.102
Linux

[2016-06-06 20:03] tianz commented on #8994
It says "You'll need to remove all non-alphanumeric characters (punctuation, spaces and symbols) and turn everything lower case in order to check for palindromes.". Then the string becomes "0000" which is indeed a palindrome.

[2016-06-06 20:06] erictleung commented on #8994
@sergroja what @tianz suggests is correct. There is nothing wrong with the current. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-06-06 20:06] #8994 closed

[2016-06-06 21:19] hrokr opened #8995 "Passing Values to Functions with Arguments"
@erictleung, @pranayberry, @raisedadead, @ceejayoz

#### [Passing Values to Functions with Arguments](https://www.freecodecamp.com/challenges/passing-values-to-functions-with-arguments)

#### Issue Description
As with the previous exercise (Write Reusable JavaScript with Functions -- issue #8551) the example code and what the students are to write are essentially identical. The identical function

[2016-06-06 21:44] fkingn00bGG opened #8996 "Geolocation will no longer work on http connection for chrome 50 browsers"
Challenge [Show the Local Weather](https://www.freecodecamp.com/challenges/show-the-local-weather) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

We cannot use `navigator.geolocation.getCurr

[2016-06-06 22:03] erictleung commented on #8996
Closing as duplicate of #8988.

[2016-06-06 22:03] #8996 closed

[2016-06-06 22:04] erictleung commented on #8988
"Geolocation API removed from unsecured origins in Chrome 50"

Source: https://developers.google.com/web/updates/2016/04/geolocation-on-secure-contexts-only

[2016-06-07 01:03] ALAINF971 commented on #8976
Hi,
I wrote the correct answer and got an error.
![capture1](https://cloud.githubusercontent.com/assets/4934128/15842771/0bfe32d0-2c2a-11e6-8792-56cb931a1cf8.PNG)

[2016-06-07 01:14] marisbotero opened #8998 "Style Multiple Elements with a CSS Class"
Challenge [Style Multiple Elements with a CSS Class](https://www.freecodecamp.com/challenges/style-multiple-elements-with-a-css-class#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%

[2016-06-07 01:26] marisbotero opened #8999 "Set the Font Family of an Element"
Challenge [Set the Font Family of an Element](https://www.freecodecamp.com/challenges/set-the-font-family-of-an-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-06-07 01:30] marisbotero opened #9000 "Import a Google Font"
Challenge [Import a Google Font](https://www.freecodecamp.com/challenges/import-a-google-font) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-06-07 01:31] erictleung commented on #8998
@marisbotero please describe the issue or bug you are experiencing, if any. Your code passes the challenge tests.

[2016-06-07 01:32] erictleung commented on #8999
@marisbotero please describe the issue or bug you are experiencing, if any. Your code doesn't pass the challenge tests. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help).

[2016-06-07 01:35] erictleung commented on #9000
@marisbotero please describe the issue or bug you are experiencing, if any. Your code doesn't pass the challenge tests. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help).

[2016-06-07 02:23] JMBrauer commented on #7847
I am having the same issue still- running the latest Google Chrome on Windows 10.

[2016-06-07 04:31] Mojibul opened #9001 "Finding a Remainder in JavaScript"
Challenge [Finding a Remainder in JavaScript](https://www.freecodecamp.com/challenges/finding-a-remainder-in-javascript#?solution=%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0Avar%20remainder%3B%0Aremainder%20%3D%2011%20%25%203%3B%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64; rv:46.0) Gecko/20100101 Firefox/46.0</code>.
Please describe how to reproduce

[2016-06-07 04:54] erictleung commented on #9001
@Mojibul this error has been fixed with #8958. It still needs to be pushed to the live site. In the meantime, you can complete the challenge by putting everything onto one line. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-06-07 04:54] #9001 closed

[2016-06-07 06:43] Fishcat999 opened #9002 "wrong"
Challenge [Link to External Pages with Anchor Elements](https://freecodecamp.cn/challenges/link-to-external-pages-with-anchor-elements#?solution=%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20fo

[2016-06-07 07:04] kabadayi28 commented on #8985
`<h1>hello</h1>
<h3>im cevher</h3>
`
Güzel bir uygulama ile başlamışsın :)) @HilalCelikmakas takip ediyorum, umarım güzel işler başarabilirsin.

[2016-06-07 07:20] atjonathan commented on #9002
@Fishcat999 Your `anchor` tag should link to `http://freecatphotoapp.com`.

Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-06-07 07:20] #9002 closed

[2016-06-07 07:35] irurrahman opened #9003 "[HELP] stuck at thumbs up with font awesome"
#### Add Font Awesome Icons to our Buttons

#### im stuck with this uncompleted task "Your fa-thumbs-up icon should be located within the Like button."

#### Your Code

[code]

[2016-06-07 07:42] naeemsattar opened #9004 "Link to External Pages with Anchor Elements"
THIS IS MY CODE
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller

[2016-06-07 08:26] fkingn00bGG commented on #8988
We could replace this but there are many ways around this and this is actually a perfect opportunity to show students one of the many difficulties of designing apps for the web. That is we will get incompatibility issues. For example you could degrade gracefully by telling users whose browser does not support `navigator.geolocation` to enter a zip code and country instead.

In saying so, it is pos

[2016-06-07 09:26] smhnaji commented on #8993
Thanks @erictleung, that's right.

It's a good idea to add "**in the editor**", so it cannot be called a bug from then! :D

[2016-06-07 10:34] AYSH20 commented on #7118
I am trying to edit my code but when I tap on Things cat love, the cursor is at "Th"ings and then it moves to the next line and it is not going ahead with the arrow keys on the keyboard as well.
Is anyone facing this issue too?

[2016-06-07 10:40] b2m9 commented on #5366
Feedback on #8900 is highly appreciated. Thanks! 👍

[2016-06-07 11:20] ashishhbwsl commented on #7759
![screenshot from 2016-06-07 16 49 41](https://cloud.githubusercontent.com/assets/19770447/15855902/df962198-2ccf-11e6-9942-484860327af1.png)

Im also stuck on this question .. hi

[2016-06-07 12:24] ashishhbwsl opened #9005 "record collection problem please help"
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection#?solution=%0A%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%202548%3A%20%7B%0A%20%20%20%20%20%20album%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20artist%3A%20%22Bon%20Jovi%22%2C%0A%20%20%20%20%20%20tracks%3A%20%5B%20%0A%20%20%20%20%20%20%20%20%22Let%20It%20Rock%22%2C%20%0A%20%20%20%20%20%

[2016-06-07 13:15] erictleung commented on #9003
@irurrahman thanks for the issue but if you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: think about if an icon can be both an info circle and a thumbs up at the same time. Happy coding!

[2016-06-07 13:15] #9003 closed

[2016-06-07 13:15] erictleung commented on #9004
@naeemsattar thanks for the issue but GitHub is not a place for coding help. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-06-07 13:15] #9004 closed

[2016-06-07 13:22] erictleung commented on #9005
@ashishhbwsl thanks for the issue but if you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-06-07 13:22] #9005 closed

[2016-06-07 13:57] sumitsrbh opened #9006 "Y dont it accept"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Linux; Android 4.4.2; SM-T311 Build/KOT49H) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.89 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[co

[2016-06-07 14:09] erictleung commented on #9006
@sumitsrbh your code works for me. If possible, you may want to try in a different browser if you're on Android.

[2016-06-07 14:29] bittamonk commented on #8833
So in this challenge, do we just move on? I have the same input and error.

[2016-06-07 14:32] Fleestrom opened #9007 "Stuck on persistent problem...."
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-06-07 14:33] Fleestrom commented on #9007
I did try it with no spaces before and after "cat photos"...same result

[2016-06-07 14:34] erictleung commented on #8833
@bittamonk using just a number within the `if` conditional should let you pass.

[2016-06-07 14:59] atjonathan commented on #7759
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-06-07 15:05] arun1595 commented on #9007
Thats because the link you're targetting is http://www.freecatphotoapp.com but the link given in the instructions is http://freecatphotoapp.com
Remove the **www** and you should be good to go.

[2016-06-07 15:08] bittamonk commented on #8833
Thanks. That worked. Appreciate it.

Marcellus

On Tue, Jun 7, 2016 at 10:36 AM, Eric Leung <notifications@github.com>
wrote:

--
Marcellus Brady
Bitta Monk Entertainment

[2016-06-07 15:21] erictleung commented on #9007
@Fleestrom which challenge are you having issues with? Is it https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph. If so, you code passes for me but please confirm that this is the challenge you're having issues with, otherwise, it makes it difficult to assist.

[2016-06-07 15:25] arun1595 opened #9009 "Instruction text overflows in one of the challenges"
#### Challenge Name

https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements
#### Issue Description

In the instructions, learners are asked to create an anchor tag that points to `http://freecatphotoapp.com`. In the tests output, if you have a look at the link, 'm' in 'com' is hidden as the text is overflowing and it shows `http://freecatphotoapp.co`. This might confus

[2016-06-07 15:27] erictleung commented on #9009
@arun1595 we can probably solve this using the same method as in #8911, where we use `<wbr>` to break at a particular point.

cc/ @hallaathrad

[2016-06-07 15:32] erictleung opened #9010 "Spelling error in Code of Conduct"
#### Challenge Name

https://www.freecodecamp.com/code-of-conduct

#### Issue Description

Underneath "Trolling"

should be

[This line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/e5c18bed602b257aeaea72565413eb0eb09dba27/server/views/resources/code-of-conduct.jade#L11) needs to be changed.

#### Screenshot

![image](https://cloud.githubusercontent.com/assets/2754821/15864008/2037ce36-2c8a-1

[2016-06-07 15:38] erictleung commented on #8963
@harveythedinosaur I'm sorry to hear you're having issues with the reCAPTCHA. There's nothing on our end that can help the situation. If you're still having issues with it, I would advise you to have another person help you solve the puzzles. Be sure to fill out the rest of the sign-up form as well. Happy coding!

[2016-06-07 15:38] #8963 closed

[2016-06-07 15:45] Shraddha99 commented on #8987
@ritam378 @aliblack89  I wrote same still its incorrect.

[2016-06-07 15:47] erictleung opened #9011 "Broken link at the bottom of Privacy policy"
#### Challenge Name

https://www.freecodecamp.com/privacy

#### Issue Description

There is a broken link. The "open source terms" link is broken. It should be directed to this link

[code]

#### How to Fix

The [`href` in first link on this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/87ef97f59e2a2f4dc425982f76f14a57d0900bcf/server/views/resources/privacy.jade#L34) needs to be changed

[2016-06-07 15:48] erictleung commented on #8987
@Shraddha99 if you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help).

[2016-06-07 15:52] gr2m commented on #9010
Just want to say thanks for making a `first-timers-only` issue out of it, instead of doing it yourself ❤️ We know this is much more work for you :)

[2016-06-07 16:25] ritam378 commented on #8987
Hi , its backslah not backspace.
Pls correct that
On Jun 7, 2016 9:18 PM, "Shraddha Parab" <notifications@github.com> wrote:

[2016-06-07 16:39] CodeHunter24 commented on #8825
make sure you're page is zoomed to 100%

[2016-06-07 17:04] erictleung commented on #8957
For those wanting to work on this, you'll need to head over to the Wiki repository to make these changes. [This is the file](https://github.com/FreeCodeCamp/wiki/blob/0d16c5badf43d19b08ea1f01d0187fe7bde7bad4/Algorithm-Convert-HTML-Entities.md) you'll need to edit.

When you make your PR over on the Wiki repo, use `Closes FreeCodeCamp/FreeCodeCamp#8957` in your PR message to automatically close thi

[2016-06-07 17:20] hudsontaylor commented on #8994
But, technically, "0_0 (: /-\ :) 0-0" is not a palindrome. So, shouldn't it return false?

[2016-06-07 17:27] BerkeleyTrue opened #9012 "check for palindromes"
https://www.freecodecamp.com/challenges/check-for-palindromes

Seems like we have a huge issue with campers forgetting to remove non-alphanumeric chars for this challenge. I suggest we add a simple test at the top to make sure the user is stripping non-alphanumeric characters first.

I suggest adding a test after the second one like so
[code]

What do y'all think?

[2016-06-07 18:12] hudsontaylor opened #9014 "Check for Palindromes - Error"
On the "Check for Palindromes" test one of the requirements states, "palindrome("0_0 (: /-\ :) 0-0") should return true."
However, this set of characters does not appear to be a palindrome at all. By definition, a palindrome is identical forwards or backwards. In this case, the "_" is not the same as the "-".
So, I am wondering why this is one of the requirements on this test?

Note: I did manage

[2016-06-07 18:22] sludge256 commented on #9014
Removing all non-alphanumeric characters would leave you with "0000". This is addressed in https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9012.

[2016-06-07 18:26] hudsontaylor commented on #9014
Yes, but "0_0 (: /-\ :) 0-0" is not a palindrome, so it would be erroneous for it to be evaluated as true.

[2016-06-07 18:27] pribilinskiy opened #9015 "Misguiding lesson: Create a Set of Checkboxes"
Challenge [Create a Set of Checkboxes](https://www.freecodecamp.com/challenges/create-a-set-of-checkboxes) has an issue.

My code:

[code]

It's a nonsense to create input fields of type `checkbox` with same `name` attribute value, e.g. checking all of them would make up a query string in form:

[code]

It's kinda useless, unless the checkboxes are managed with `javascript` like in [this fiddle](h

[2016-06-07 18:37] Mzahoor opened #9016 "Compound Assignment With Augmented Addition"
Challenge [Compound Assignment With Augmented Addition](https://www.freecodecamp.com/challenges/compound-assignment-with-augmented-addition#?solution=%0Avar%20a%20%3D%203%3B%0Avar%20b%20%3D%2017%3B%0Avar%20c%20%3D%2012%3B%0A%0A%2F%2F%20Only%20modify%20code%20below%20this%20line%0A%0A%2B%3D%20a%20%2B%2012%3B%0A%2B%3D%209%20%2B%20b%3B%0A%2B%3D%20c%20%2B%207%3B%0A%0A) has an issue.
User Agent is: <co

[2016-06-07 18:39] sludge256 commented on #9014
I guess compared to all the other test cases this one is "forced" into being a palindrome. "0_0 (: /-\ :) 0-0" seems to be an abstract test case to check for what's being discussed in https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9012. If said issue is resolved by a PR it might be worth removing this test case.

[2016-06-07 18:42] erictleung commented on #9016
@Mzahoor thanks for the issue but if you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: review the example in the instructions. Happy coding!

[2016-06-07 18:42] #9016 closed

[2016-06-07 19:15] jamuhuri commented on #4194
Initialize a variable to the random generator between 0 - 9 and then return the variable. See below,

var randomNumberBetween0and19 = Math.floor(Math.random() * 20);

function randomWholeNum() {

  var randomNumberBetween0and10 = Math.floor(Math.random() * 10);

  return randomNumberBetween0and10 ;
}

[2016-06-07 19:26] bmorelli25 commented on #2286
Just had the same problem. Thank you @arxene for the workaround!

[2016-06-07 20:32] NelsonDaniel commented on #2281
![fullsizerender](https://cloud.githubusercontent.com/assets/13109662/15872499/a7dc6d46-2cae-11e6-81b2-48d1fb8a6a5c.jpg)

`Hello `
@
# Hello

[2016-06-07 20:41] Fleestrom commented on #9007
Thank you so much for taking the time: your input allowed me to clear this
exercise!

On Tue, Jun 7, 2016 at 11:23 AM Eric Leung <notifications@github.com> wrote:

[2016-06-07 21:36] bigos opened #9018 "i can't navigate to the end of the code. Also on the second before last line I can't move forward past few characters"
Challenge [Add a Submit Button to a Form](https://www.freecodecamp.com/challenges/add-a-submit-button-to-a-form#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobst

[2016-06-07 21:38] gz4053 opened #9019 "Site offline"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-06-07 21:38] #9019 closed

[2016-06-07 21:42] gz4053 opened #9020 "Seems to be isolated but FreeCodeCamp is offline. When I try to sign in the screen says "Error 522" below that it says "Host error". Does anyone know how I could fix this? (works with phone when not on WIFI)"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-06-07 21:52] sludge256 commented on #9020
Have you been able to access FCC in the past or is this your first time trying to sign in?

[2016-06-07 22:14] gz4053 commented on #9020
I have been able to access it thousands of times. I have been on it for months. I only noticed the problem in the last week.

[2016-06-07 22:30] #9007 closed

[2016-06-07 22:30] erictleung commented on #9007
Closing as the issue seems to be resolved.

[2016-06-07 22:48] #8960 closed

[2016-06-07 22:50] erictleung commented on #9018
@bigos Sounds related to #7847. Please refer to that issue and report back if you are experiencing something similar.

[2016-06-07 22:57] majestic82 commented on #1554
Here's what worked for me
![fcc jquery challenge](https://cloud.githubusercontent.com/assets/19704374/15877428/8c2f3910-2cc8-11e6-97ee-b52dac563a17.png)

[2016-06-07 22:59] bigos commented on #9018
It could be related to  #7847. Problem seems to appear when there are many lines of code in the exercise. I use Firefox.

[2016-06-07 23:11] erictleung commented on #9018
@bigos yes, the editor doesn't do well with long lines of code. Does the editor work normally after you click and type somewhere?

[2016-06-07 23:19] atjonathan commented on #9020
Duplicate of #8808, please leave a comment there. Happy Coding!

[2016-06-07 23:19] #9020 closed

[2016-06-07 23:21] #9011 closed

[2016-06-07 23:31] bigos commented on #9018
Removing one of empty lines near the top of the editor seemed to fix the problem. Also pressing space, which could result in jumping to next line and editing there, then pressing Backspace to undo it would  let you to navigate to the right spot in the code and continue as normal.

[2016-06-08 01:49] yanbin92 opened #9021 "confirm-the-ending test not match : Check if a string (first argument, str) ends with the given target string (second argument, target)."
Challenge [Confirm the Ending](https://www.freecodecamp.com/challenges/confirm-the-ending) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

[2016-06-08 01:55] yanbin92 commented on #9021
sorry  i  see  this is not bug , I misunderstood it.

[2016-06-08 01:55] #9021 closed

[2016-06-08 02:56] jamuhuri commented on #4178
setGear() is just supposed to set the gear. You don't need to add new gear to the new values from set gear. all you need is x = y and not x+=y.

[2016-06-08 03:38] kelyjames opened #9023 "Record Collection challenge does not pass all tests"
#### Challenge Name
.freecodecamp.com/challenges/record-collection

#### Issue Description
Even with the solution from the challenge guide the 2nd test does not pass
After updateRecords(5439, "tracks", "Take a Chance on Me"), tracks should have "Take a Chance on Me" as the last element.

#### Browser Information

tested on Windows 10 with firefox and edge and chrome

#### Your Code

[code]

#### S

[2016-06-08 03:41] joechan3 opened #9025 "Incorrect description of first test for the Inventory Update algorithm challenge."
#### Challenge Name

Inventory Update
https://www.freecodecamp.com/challenges/inventory-update

#### Issue Description

The first test for the Inventory Update algorithm challenge is described as `updateInventory() should return an array.`

The description should really be `updateInventory(curInv, newInv) should return an array.` because if you don't provide arguments to the `updateInventory` func

[2016-06-08 03:48] #9023 closed

[2016-06-08 03:51] kelyjames commented on #9023
I found out the correct solution to this does not use push for that 2nd test but the solution in the guide has not been updated to not use push

[2016-06-08 03:58] Engineero commented on #8226
+1
I am having the exact same problem on every exercise. Glad I found it posted already.

[2016-06-08 04:01] Engineero commented on #7847
+1
I am having the same issue that I think people are discussing in all exercises in the first HTML lesson so far. I think [issue #8226](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/8226) does a good job of explaining the issue.

[2016-06-08 04:54] #9010 closed

[2016-06-08 05:15] xboudsady commented on #9023
Yeah, seriously. This one been driving me up the walls! So Frustrating.

[2016-06-08 05:16] #7031 closed

[2016-06-08 05:22] xboudsady commented on #8979
@UtkarshShukla7 Thanks man for the explanation.  This was so frustrating, I think every other solution using google search is not correct for this challenge update. As you said, it's "re-defining" track instead of pushing it?

[2016-06-08 05:32] #8850 closed

[2016-06-08 05:44] raisedadead commented on #9018
@bigos yes that's exactly an issue that's happening due to the reason that the editor is not perfertly parse some characters.

To be closed as a duplicate of #7847

[2016-06-08 05:51] erictleung commented on #9025
@joechan3 thanks for the feedback. And I agree. It could be misinterpreted.

I'd be hesitant to hard code those variable parameters in. What about this:

[2016-06-08 05:53] erictleung commented on #9018
@bigos closing as a duplicate issue. In the meantime, please be patient with the editor. These issues don't persist past the HTML section. Happy coding!

[2016-06-08 05:53] #9018 closed

[2016-06-08 05:59] Shraddha99 commented on #8700
@Pujachaubey  your code worked for me .

[2016-06-08 06:39] miguel361 commented on #8880
this is not working for me either and im not even copying and pasting it

[2016-06-08 06:58] miguel361 opened #9026 "unable to get the the text: CatPhotoApp to show in red"
Challenge [Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%20style%3D%22color%3Ablue%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp%3E%0A)

[2016-06-08 07:09] erictleung commented on #9026
@miguel361 your code is incorrect. The `h2` element has a blue color but it should be red.

I see you have made use of [Help Room](https://gitter.im/FreeCodeCamp/Help). Please continue to use that resource for coding help. GitHub issues are only for bugs. Unless you feel this is truly a bug, please give us more details on reproducing the error. Happy coding!

[2016-06-08 07:09] #9026 closed

[2016-06-08 07:31] raisedadead commented on #8993
@erictleung Yeah I agree for the quick fix.

[2016-06-08 08:03] QuincyLarson opened #9027 "Confirming your email should also automatically sign you in"
Currently, when you click the link to verify your email, it takes you back to FCC and shows you this, but it doesn't log you in.
![](https://www.evernote.com/l/Ar_IOIYIJnZG3odqfn8IPfLKvxl2PND2UoIB/image.png)

[2016-06-08 08:14] raisedadead commented on #8971
Let's wait for the ongoing restructuring and address this, we surely welcome more feedback on this thread with ideas, possibly expanding the challenges into smaller bits, but yeah this should be further discussed.

@vaspv Thanks for letting us know, feed backs like these help shape the challenges. Having said that please expect that this may take a while, cause lots of re-structuring may take plac

[2016-06-08 08:18] PDS-DX opened #9029 "Cursor bugger in editor"
Challenge [Add a Submit Button to a Form](https://www.freecodecamp.com/challenges/add-a-submit-button-to-a-form#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobst

[2016-06-08 12:04] NicolaFerracin commented on #8993
Can I take this?

[2016-06-08 13:04] aleksgorbenko commented on #8955
@erictleung - you are right about the other post, missed that one.
@karel1980 - I think the best would be just to put quotes around the properties and then the description matches the code + code will be consistent with the other challenge - https://www.freecodecamp.com/challenges/profile-lookup , therefore causing less confusion.

[2016-06-08 13:10] jukels commented on #7847
It seems they've not worked on this issue because I'm getting the same issue up till now. And I just joined FCC yesterday.

[2016-06-08 13:28] raisedadead commented on #8993
Sure @NicolaFerracin go ahead, make a pull request, and make sure you go through our [**Guidelines for Contributing**](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md).

[2016-06-08 13:30] NicolaFerracin commented on #8993
Thanks @raisedadead !

I went through the guidelines and it should be all fine (fingers-crossed!)

[2016-06-08 13:36] calicode commented on #5965
Is this still needed or was it handled elsewhere?
I've done a few basic node/express backend projects and think that I could handle this.

I think I understand the requirements.

Campers should be able to make a get request including latitude/longitude in the request url , and get back a response containing the daily forecast in json.

Is OpenWeather API data that bad? It seemed to provide the bas

[2016-06-08 14:08] gvp-raviteja commented on #8957
can i take this up?

[2016-06-08 14:14] sbaldwin24 opened #9032 "Privacy error: Your connection is not private."
#### Issue Description
- Privacy error: Your connection is not private.
- The SSL handshake could not be performed.
<img width="769" alt="screen shot 2016-06-08 at 9 13 02 am" src="https://cloud.githubusercontent.com/assets/5033746/15897224/4d502b14-2d59-11e6-8158-c7115a726b9a.png">

#### Browser Information

* Chrome, Version: 51.0.2704.84 (64-bit)
* Chrome Canary, Version: 53.0.2761.2 canary (64

[2016-06-08 14:21] erictleung commented on #8957
@gvp-raviteja go for it!

[2016-06-08 14:25] erictleung commented on #9032
@sbaldwin24 I can't reproduce this. I put in `https://freecodecamp.com` and it brings me to `https://www.freecodecamp.com`. Have you always had this happen? Recently? Or on specific devices?

cc/ @FreeCodeCamp/issue-moderators

[2016-06-08 14:26] erictleung commented on #9029
@PDS-DX closing as duplicate of #7847. Happy coding!

[2016-06-08 14:26] #9029 closed

[2016-06-08 14:37] joechan3 commented on #9025
@erictleung your fix is more appropriate so I agree!

[2016-06-08 14:43] erictleung commented on #9025
@joechan3 great! 👍  You're welcome to make a PR now if you still want to 😃

Please first read the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) before taking care of this issue. And feel free to visit the [Contributors Help](https://gitter.im/FreeCodeCamp/HelpContributors) chat room if you have any questions about helping. We're there to help.

[2016-06-08 14:49] #8972 closed

[2016-06-08 14:49] joechan3 commented on #9025
@erictleung Awesome! I will work on the PR today.

[2016-06-08 15:16] atjonathan commented on #9032
I can't reproduce this either :disappointed:

[2016-06-08 15:19] #8993 closed

[2016-06-08 15:22] hudsontaylor commented on #9014
Good point! Maybe a requirement should be added in its place, such as, "If the string is made up of only nonalphanumeric characters, return 'Not a valid entry." (or something along those lines)

[2016-06-08 16:20] sanjeev17 opened #9033 "ddd"
Challenge [Say Hello to HTML Elements](https://www.freecodecamp.com/challenges/say-hello-to-html-elements#?solution=%3Chtml%3E%0A%20%20%3Ctitle%3Efirst%20login%3C%2Ftitle%3E%0A%20%20%3Cbody%3E%0A%20%20%20%20%3Cp%20style%3D%22align%3Acenter%22%3Ekumar%20sanjeev%3C%2Fp%3E%20%20%20%0A%3Ch1%3EHello%3C%2Fh1%3E%0A%20%20%20%20%3Ctable%20border%3D%222%22%20color%3D%22red%22%3E%0A%20%20%20%20%20%20%3Cthead

[2016-06-08 16:23] dwd2010 commented on #9033
@sanjeev17
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help.

Happy Coding!

[2016-06-08 16:23] #9033 closed

[2016-06-08 16:25] crashuniverse commented on #9014
@hudsontaylor: `0_0 (: /-\ :) 0-0` IS a palindrome.

Wikipedia definition says, _A palindrome is a word, phrase, number, or other sequence of characters which reads the same backward or forward. Allowances may be made for adjustments to capital letters, punctuation, and word dividers._

`-, _` are word dividers and I believe it extends to more non alphabetical characters, just like @sludge256  ear

[2016-06-08 16:27] crashuniverse commented on #8970
I am taking this up. I'll enhance something on lines of what @erictleung suggested.

[2016-06-08 16:47] Lx-e commented on #8808
Did you find a fix? I tried so many things to fix this issue, but nothing works. On my mac and PC I still get the 522 Host Error, and when I disable the wifi on my phone I'm able to go on it. I'm from Montreal Quebec but I know at least 25 people from the same area using the site and they have no problem using the site.

[2016-06-08 17:22] thoragio commented on #8979
@UtkarshShukla7 Well spotted. This is truly an issue in the code checking routine.

[2016-06-08 17:24] shamstabrez16 commented on #8909
**# SAME ERROR**
PLEASE HELP
<style>
  .red-text {
    color: red;
  }
  .p {
    font-size:16px;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p >Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
<p class="p"> Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip

[2016-06-08 17:29] dvinay opened #9035 "Problem in 4th instruction statement(Do not add a class attribute to the second p element.)"
![screen shot 2016-06-08 at 10 26 26 am](https://cloud.githubusercontent.com/assets/18356976/15903862/a8224ee6-2d63-11e6-86d6-92e9efd5db42.png)
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20p%20%7B%0A%20%20%20%20font-size%3

[2016-06-08 17:33] brunella10 commented on #5473
Hi, I was dealing with the same issue but what I did was:
Just use the .parent() with ("#target1"):
$("#target1").parent().css("color", "red);
and I added another line at the end of the code with the background color requirement:
$("#well-left").css("background-color", "red");

#############
<script>
  $(document).ready(function() {
    $("#target1").parent().css("color", "red");
    $("#target1")

[2016-06-08 17:37] crashuniverse commented on #9015
I just completed this exercise and I think what @pribilinskiy says is correct. Usage of nonsense is somehow a very strong word and can be refrained in future. Because duplicate name attribute is not a useful repetition, but it is valid html.

I propose the following enhancement:
1. The set of checkboxes should go from 3 checkboxes to 2 checkboxes. To condense the learning. It can be 1 too, for sak

[2016-06-08 17:40] #7080 closed

[2016-06-08 17:40] #8680 closed

[2016-06-08 17:40] johnhuichen opened #9037 "Pairwise challenge description is vague"
#### Challenge Name

https://www.freecodecamp.com/challenges/pairwise
#### Issue Description

The challenge description says that "If multiple pairs are possible that have the same numeric elements but different indices, return the smallest sum of indices. Once an element has been used, it cannot be reused to pair with another."

So for pairwise([0, 0, 0, 0, 1, 1], 1) this should produce a result

[2016-06-08 17:46] erictleung commented on #9035
@dvinay currently, that test checks for the use of class in only one `p` element.

[code]

We could rewrite this test to check for more specifically, making sure that the second `p` element (i.e. the `p` element that shouldn't have a class) has the `Purr jump eat the grass...` text.

cc/ @FreeCodeCamp/issue-moderators

[2016-06-08 17:55] crashuniverse commented on #5366
5 month old issue with a proposed fix. We should accelerate this. I left a feedback, once addressed it gets a LGTM opinion from me.

[2016-06-08 18:10] erictleung commented on #9037
@johnhuichen it should still return 10. What the challenge is saying is that when considering multiple

| Index | 0 | 1 | 2 | 3 | 4 | 5 |
|-------|---|---|---|---|---|---|
| Value | 0 | 0 | 0 | 0 | 1 | 1 |

You'll need to get a total of one for this case. To do so, you'll need to find combinations to consider, in this case, we can consider the pair (0, 1) (Indices 0 and 4) and (0, 1) (Indices 1 an

[2016-06-08 18:14] bigos opened #9038 "error telling me i didn't use -="
Challenge [Compound Assignment With Augmented Subtraction](https://www.freecodecamp.com/challenges/compound-assignment-with-augmented-subtraction#?solution=%0Avar%20a%20%3D%2011%3B%0Avar%20b%20%3D%209%3B%0Avar%20c%20%3D%203%3B%0A%0A%2F%2F%20Only%20modify%20code%20below%20this%20line%0A%0Aa%20-%3D%206%3B%0Ab%20-%3D%2015%3B%0Ac%20-%3D%201%3B%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (

[2016-06-08 18:17] pribilinskiy commented on #9015
@crashuniverse ahh, don't mention it )
I've just started the curriculum and it was a bit odd that multiple checkboxes are taught to be used with same name and decided to make the effort and open an issue and discuss with whoever is interested on this topic.

It turns out that in the examples at the ["famous" w3schools.com](http://www.w3schools.com/tags/att_input_checked.asp) and [webplatform.org](

[2016-06-08 18:29] dvinay commented on #9035
Ok got it, Thanks.

[2016-06-08 18:41] crashuniverse commented on #7033
@cwkatzmann For readability you can select a text like _var myCar = new Car();_ and click insert code button which looks like < > on top right corner of edit / add comment. Once you do this var myCar = new Car(); looks like `var myCar = new Car();`. Much better, right?

[2016-06-08 18:56] crashuniverse commented on #7033
This works for me on Chrome and Safari, both. When I say this, I mean the correct code written in 2nd comment in this thread excluding the issue description. This should be verified in May 2015 to see if it is still valid.

[2016-06-08 19:06] crashuniverse commented on #7775
`Allow-Control-Allow-Origin: *` is a useful extension for chrome. It can remove CORS restrictions for active tab in your browser. Use it for development only and not everyday browsing. Check it out at https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi?hl=en

[2016-06-08 19:28] atjonathan commented on #7033
@cwkatzmann @crashuniverse, I updated the comment to use code blocks and javascript syntax highlighting.

[2016-06-08 19:47] erictleung commented on #9038
@bigos sorry, but I can't reproduce this. Your code looks fine to me and the third test didn't give me any problems. Can you provide a screenshot of your issue?