[2018-05-10 18:49] QuincyLarson commented on #15134
@SuperGeniusZeb Thanks for reporting this, and confirming the steps to reproduce it.

[2018-05-10 18:55] iliasTsiortas commented on #16325
Actually i didnt make my self clear sorry for that.i am a student in this
class and chose your project to contribute.I saw that you merged someone's
contibution regarding the transition fron es5 to es6 i will look if
something is missing.For the notification for the students who skipped the
es6 lesson i have 2 questions.Do you want them to be popups or in the
page?also will i have to put them in e

[2018-05-10 19:29] joker314 commented on #16914
This appears to be resolved. Can anyone confirm that this is the case?

[2018-05-10 21:13] Bouncey opened #17147 "Replace Loopback auth with Auth0 SSO"
At the minute, loopback assigns an access token to each user for their current session. This is only good for one domain.

We need to replace this auth process with Auth0 Single Sign On. This will allow tokens to be carried between different subdomains like learn, guide and the forum.

Something to be cleared up is, if a user signs out on the `www` domain, how is this reflected on other subdomains

[2018-05-11 03:00] QuincyLarson commented on #16325
@iliasTsiortas These would be in the lesson text. And you would probably just need to mention this once for each section of challenges that are affected.

[2018-05-11 05:27] raisedadead commented on #16914
Hi @joker314 you can add team+security@freecodecamp.org to it.

[2018-05-11 05:27] #16914 closed

[2018-05-11 05:41] raisedadead commented on #17143
Hi can you please send an email to team@freecodecamp.org with the full link to your profile https://www.freecodecamp.org/Yishin26

[2018-05-11 05:43] raisedadead commented on #17141
Hi @Fahmisyahya  as notified to you before, but we do not support issue reports for forks or clones of this project. Please reach out to them.

[2018-05-11 05:43] #17141 closed

[2018-05-11 05:44] raisedadead commented on #17128
cc @tchaffee and @Em-Ant

[2018-05-11 05:51] raisedadead commented on #17106
Hi @raveesh-me thanks, for reporting. We will be releasing the fix with beta being launched soon.

[2018-05-11 05:51] #17106 closed

[2018-05-11 13:15] rockwellmoon commented on #12923
For what it's worth, I just spent 20 to 30 minutes troubleshooting why I wasn't seeing the "Please fill out this field" pop-up until I finally found this github issue. It's definitely not intuitive to me (a newbie) that the user has to click "Run tests", especially when the Preview pane showcases live changes for things like adjusting the text in a p element.

[2018-05-12 08:28] raveesh-me commented on #17106
Can you please reference the related commit so that I could see where the code was changed? Would love to explore FCC codebase myself!

[2018-05-12 10:56] Ildarik opened #17151 "Why explicitly to set value attribute of input?"
#### [React: Create a Controlled Input](https://beta.freecodecamp.org/en/challenges/react/create-a-controlled-input)

Why we need to add `value` attribute (`value={this.state.input}`) to the input? Without setting `value` explicitly we have same result.

[2018-05-12 15:55] mstellaluna opened #17153 "Travis Build Errors"
#### Challenge Name

Not Challenge Related

#### Issue Description

There appears to be an issue with the travis build(s), there are 5 PRs that have failed

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

 PRs that have failed

https://github.com/freeCodeCamp/freeCodeCamp/pull/17152
https://github.com/fre

[2018-05-12 15:55] mstellaluna commented on #17153
@QuincyLarson @raisedadead  @Bouncey  FYI

[2018-05-12 22:36] QuincyLarson commented on #17153
@mstellaluna thanks for reporting this!

@Bouncey any idea what could be causing these?

[2018-05-12 22:52] ojongerius opened #17154 "Document how to report security issues"
Via https://github.com/freeCodeCamp/open-api/issues/146

@imcodingideas suggesting having policy in place in https://github.com/freeCodeCamp/open-api/issues/146#issuecomment-388529781. It would be great to have a hall of fame with people disclosing security issues in an ethical manner -ie: not via a GH issue, but to the team, giving us enough time to fix it before we disclose the issue found.

Whi

[2018-05-13 00:11] bryan0767 commented on #16923
Also having trouble claiming Algorithms and Data Structures certificate

![screen shot 2018-05-12 at 7 05 38 pm](https://user-images.githubusercontent.com/33098684/39962571-e78c4cb0-5617-11e8-952d-dcae15d70426.png)

Despite completing all required projects

![2](https://user-images.githubusercontent.com/33098684/39962569-d78a5f64-5617-11e8-96cb-f5ec4f6935d5.png)

Any help is appreciated!

[2018-05-13 00:29] Daniel-Michael opened #17155 "Possible solution issue Project 180 freecodecamp"
#### Challenge Name
Introducing else if statements

####  link to challenge
https://www.freecodecamp.org/challenges/introducing-else-if-statements

#### Issue Description
I believe there is a missing parentheses after the second `else` statement which should not pass the test, however it currently does.

If you see the screenshots attached, without the closing parenthese the code passes, but add i

[2018-05-13 01:55] mstellaluna commented on #17153
@QuincyLarson Anytime 😄

[2018-05-13 02:19] akinhwan opened #17156 "Pairwise Hint Link is broken"
Currently from this page https://www.freecodecamp.org/challenges/pairwise
when a user clicks on "Get a Hint" button they are redirected to https://forum.freecodecamp.org/t/freecodecamp-algorithm-challenge-guide-pairwise
but this page says **Oops! That page doesn’t exist or is private.**

it should actually be redirected to https://forum.freecodecamp.org/t/algorithm-pairwise/16038
where the hint pa

[2018-05-13 03:44] rsangdoung commented on #17156
I would like to be assigned to fix (contribute) to this issue.  I'm still new so I'm not sure if I am doing this correctly!

[2018-05-13 03:49] rsangdoung commented on #17155
I would like to be assigned to fix/contribute to this issue.  I'm still new so I'm not sure if I'm doing this correctly.

[2018-05-13 06:26] rsangdoung opened #17157 "Link broken on Contributor's Guide (see first link)"
Broken link when you click on “challenge types”(under other resources) goes to error 404.

**Contributor's page:**
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md#challenge-template

**Broken link:**
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/ap/utils/challengeTypes.js

I verified on Gitter's freeCodeCamp's contributor's page and got a response that

[2018-05-13 08:34] Bouncey commented on #17153
It seems to be a lock file issue. The PR's should be OK to merge, I have fixed the lock file in both of my PR's.

@raisedadead My machine always seems to drop `loopback-component-passport` when I install a package, but picks it up again once I run `npm i`. Any ideas?

[2018-05-13 14:12] mstellaluna commented on #17153
@Bouncey Hi. I wasn't reviewing or merging the PRs when I noticed this. It seems they are new PRs that were created and fail at the Travis step..

[2018-05-13 15:14] raisedadead commented on #17153
Hi @Bouncey @mstellaluna thanks for reporting and looking into these. I have recently updated the "custom" loopback component, while I was working on my auth PR.

This is installed like so https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/package.json#L90

I would consider republishing this and installing from `npm`. Let me take a look and get back to you.

[2018-05-13 16:58] BraxtonD commented on #11330
<h1>Thank You</h1>
<i>My friend</i>

[2018-05-14 05:06] Daniel-Michael commented on #17155
@rsangdoung I'd like to accept but I don't know how to assign you.

[2018-05-14 08:34] #17157 closed

[2018-05-14 10:20] Bouncey opened #17161 "Create a maintenance page for freeCodeCamp"
This page will be a static page that will be shown when freeCodeCamp is intentionally down for maintenance purposes.

It should be served for all routes

[2018-05-14 11:02] aditya1994 commented on #17107
Is the task complete or should I do it?

[2018-05-14 11:07] aditya1994 commented on #17161
Hey! I can help.

[2018-05-14 12:45] Ildarik commented on #17107
No, not completed. Open for new attempt )

[2018-05-14 13:17] raisedadead commented on #17153
@Bouncey 's update and clearing off the cache from Travis has fixed the builds. Please re-open in case this persists

[2018-05-14 13:17] #17153 closed

[2018-05-14 14:58] bunnyvishal6 opened #17163 "Misspelling in quote "Twenty years from now" by Mark Twain in beta.freecodecamp.org"
#### Challenge Name

Misspelling in quote "Twenty years from now" in beta.freecodecamp.org

#### Issue Description

Misspelling in quote "Twenty years from now" in beta.freecodecamp.org , spelled as
'Twenty years from you you will be more disappointed by the ' +
      'things that you didn\'t do than by the ones you did do. So throw ' +
      'off the bowlines. Sail away from the safe harbor. Catc

[2018-05-14 17:25] AbdulrahmanEng commented on #17161
I would be happy to help.

[2018-05-14 17:33] aditya1994 commented on #17107
Just sent a Pull request. Please check.

[2018-05-14 18:29] #17163 closed

[2018-05-14 19:35] Harkaran commented on #17154
I would like to contribute to this, particularly in my background with resolving security issues in previous positions.

@ojongerius can I take this up as a first timer to this repo :)

[2018-05-14 23:38] benscho commented on #17107
Hey all, sounds like I didn't properly complete the task. Sorry about that. Would someone mind providing some feedback so I can better understand how to contribute in the future? Thanks!

[2018-05-15 01:07] abaracedo opened #17167 "Linking GitHub in a new account shows history from the first one account"
#### Issue Description
I created the first account two years ago and I linked the account to my GitHub. Now, I created a second account on freeCodeCamp and I linked it to the same GitHub account.

When I go to my profile I can see that I have the brownie points from the first account and the history of the tasks done, but the brownie points shown in the header are from the new account.

The map do

[2018-05-15 01:16] abaracedo opened #17168 "Submit changes without reloading page after updating the settings"
#### Issue Description
The page is reloaded after updating, for example, the email preferences. I think it could be a better an user experience to do it without reloading the page and showing the notice under the Email settings heading.

I think this change can improve the UX because the page will not reload and the user will not scroll again to update any other settings.

[2018-05-15 04:46] #17107 closed

[2018-05-15 05:12] #17138 closed

[2018-05-15 08:50] 01abhishekjain opened #17169 "Tests do not match the instructions"
**Understanding Uninitialized Variables**

In the tests it says:

while in the instructions, it is asked to put in a value of **5** for **a**

Similarly, there is mis-match in the tests' description and instruction for variables **b and c also**

#### Screenshot

<img width="1440" alt="screen shot 2018-05-15 at 2 17 30 pm" src="https://user-images.githubusercontent.com/11534188/40046624-065ec3d6-5

[2018-05-15 10:39] raisedadead commented on #17169
Hi there,

Thanks for reporting this issue. This is intentional.

Have a look at the instructions and the code already in the editor and then the tests.
Try looking through our [forum](http://forum.freecodecamp.com) for help with a specific challenge and any coding assistance.

Happy Coding!

[2018-05-15 10:39] #17169 closed

[2018-05-15 10:45] raisedadead commented on #17168
Hi there since you did not include if this is something you are interested in on the production, I can see some of the same things maybe there on the new beta that we are about launch.

Can you confirm that this need is on https://beta.freecodecamp.org ?? We are going to replace our main production site with this real soon.

[2018-05-15 10:48] raisedadead commented on #17156
Hi, while this issue needs a fix or some form of consolidation we would need to take this up after beta is released. Please bear with us in the interim.

[2018-05-15 14:38] nathan005 commented on #7925
It seems the video challenges are not counted toward streaks either, but are counted in heat map.

[2018-05-15 15:18] misterhtmlcss commented on #15933
@AlexxMart I would like to do some PRs, but I'm unclear on the folder structure, which makes it hard for me to see something like this that has sat incomplete for 6 months and I'd love to have helped you.

[2018-05-15 15:38] AlexxMart commented on #15933
hey @misterhtmlcss I totally forgot about this, I talked to someone at the "contributors" Gitter chat a few months ago because apparently he was working on it, I sent the links to this person and I thought that the change was made long time ago.

I tried to do it myself but coulnd't understand the structure either, that's why I looked for help there

[2018-05-15 19:58] tstikic commented on #15879
The problem happened again on the Google Chrome version 66.0.3359.181 (Official version) (64-bit) and Mozilla FireFox (59.0.3) (64bit)
**OS:** Windows 7 64-bit

[2018-05-15 22:47] abaracedo commented on #17168
I have checked the beta version and the Settings page has changed a lot, all the updates are done without reloading the page and if this version will be in production soon, the issue can be closed.

I only noticed that after update any field, at the top of the page appears the notice with the result message.

[2018-05-16 13:57] msj2 commented on #1165
I too struggled with this.

Later, I realised, img tag has class attribute
I placed
img class = "smaller-image"

This solved the issue.

[2018-05-16 14:40] Bouncey opened #17176 "Remove all Opbeat Logging"
![opbeat-closing](https://user-images.githubusercontent.com/18572518/40123879-21c5f732-591f-11e8-9b42-de704df84dcf.png)

We still have Opbeat on the server, we should remove it as it will not be very helpful next week.

This issue is a good fit for anyone that can delete code :grin:

[2018-05-16 14:44] raisedadead opened #17177 "Investigate Chrome caching browser request"
We need to revert this, https://github.com/freeCodeCamp/freeCodeCamp/pull/17170 and for that to work the caching issue discussed on the PR thread needs to be investigated

[2018-05-16 17:36] tamj0rd2 commented on #17176
On it B)

[2018-05-16 19:11] QuincyLarson commented on #17114
Proposed copy:

[ email ]

[ ] I accept the Terms of Service (required)
[ ] I accept the Privacy Policy (required)
[ ] I want weekly emails from Quincy (freeCodeCamp.org's founder)

[ Sign up ]

[2018-05-17 06:06] rishiip commented on #17176
@Bouncey I can work on it, does it already picked up by @tamj0rd2 ?
let me know

[2018-05-17 10:13] curly-brace commented on #17143
can confirm this too. completed the last challenge. trying to view certificate by direct link, says that i didn't accepted the academic pledge.

[2018-05-17 16:07] rajatkantinandi opened #17180 "Cheating with JSON parser in Steam Roller challenge"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/intermediate-algorithm-scripting/steamroller

#### Issue Description

The challenge was supposed to be solved by some recursion algorithm by converting each nested array to simple array recursively and returning the array. But one can simply use JSON parser to convert the array into string & remove the "[" & "]" in between & convert

[2018-05-17 18:06] tamj0rd2 commented on #17176
Yep I have @rishiip PR coming shortly

[2018-05-17 18:30] rishiip commented on #17176
@tamj0rd2 no worries.

[2018-05-17 18:31] Bouncey commented on #17155
Is this a bug or is it just a weird JavaScript thing?

[code]

Is valid JavaScript, I wouldn't be surprised if the block-less `else` is as well

[2018-05-17 18:37] Bouncey commented on #17151
Setting a value allows react to control the input component. It also gives you better access to user input by keeping track of the input value.

Here are the [react docs](https://reactjs.org/docs/forms.html) explaining the controlled vs uncontrolled thing a lot better than I can.

Closing as this isn't and issue, more of a question. We have an awesome [forum](https://forum.freecodecamp.org) for qu

[2018-05-17 18:37] #17151 closed

[2018-05-17 19:00] Bouncey commented on #17079
@steelbrain are you still subscribed or can we close this?

[2018-05-18 06:41] T1mL3arn commented on #12350
I finally have passed this challenge on a pure profile of Firefox. My main profile does not use page fonts but only fonts from my system (instead of the pure profile which certainly does). So I tried to disable page fonts for the pure profile and I could not pass the challenge again.

For Firefox users this can be a solution. There is [an instruction how to enable/disable using of page fonts in Fi

[2018-05-18 06:46] steelbrain commented on #17079
@Bouncey I am no longer subscribed but the issue was kept open on request of @raisedadead because as he mentioned underlying issue stands

[2018-05-18 07:34] raisedadead commented on #17079
Yes, that is correct and we are refactoring the code for a different approach for this. I'll close this. We have a separate issue tracking it. Thanks @steelbrain

[2018-05-18 07:34] #17079 closed

[2018-05-18 14:17] ectrion opened #17182 "freeCodeCamp Thunder Bay https://www.facebook.com/groups/213295925942624/edit/"
#### Security
Trying to report a security issue?

👌 please report security issues to security@freecodecamp.org instead of raising a Github issue. We look forward to working with you. If the issue is significant we'll work on resolving it as quickly as we can. We'll be happy to mention you in a published list of security researchers that found issues in our projects if you so desire.

#### Challeng

[2018-05-18 17:39] Bouncey commented on #17182
Is everything OK @ectrion?

[2018-05-18 17:53] jeinhorn787 opened #17183 "UI on freecodecamp.org, Potential Confusion Area"
#### Issue Description
This is more of a comment on the UI of the freecodecamp.org site.  Clicking on the big freeCodeCamp logo in the top left corner of the page initiates different challenges for the user to try out.  This may become very confusing for a brand new visitor just trying to explore the site, especially if they have absolutely no background in coding.  Perhaps these challenges can be

[2018-05-18 18:18] beaucarnes opened #17184 "challenge description and solution needs updating to align with MDN best practice"
Challenge: "Basic HTML and HTML5 - Create a Set of Radio Buttons"
https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/create-a-set-of-radio-buttons

Here is the relevant text in the description for this challenge:

It is NOT necessary to wrap an input element inside of a label element to make the text clickable as long as there is a `for` field on the label that matches the `

[2018-05-18 18:48] mstellaluna commented on #17184
@beaucarnes Hi. Since this one is for learn, do you want to close this one out and re-open it on the learn repo? I can quickly do it if you're not available.

[2018-05-18 18:51] shuvongkor-barman opened #17185 "I can't sign in to freeCodeCamp through GitHub or Twitter account, Please help"
I used my GitHub account to sign in to freeCodeCamp but now I can't sign in. I also connected my twitter account with freeCodeCamp but it is not working as well.

I feeling very confused and stressed since I have completed a lot of challenge.

Please help me get my account back.

#### User Information:

Full Name: Shuvongkor Barman
User Name: **shuvongkor-barman**

GitHub User Name: shuvongkor-bar

[2018-05-18 19:13] shuvongkor-barman commented on #7122
I can not sign in using my GitHub account and I have no other way.

I don't want to lose my progress. Please help me.

My freeCodeCamp Account User Name: shuvongkor-barman

![00](https://user-images.githubusercontent.com/37457267/40253458-a61951a8-5b01-11e8-9d15-cd4749671fdd.png)
![01](https://user-images.githubusercontent.com/37457267/40253459-a69a5bd6-5b01-11e8-905a-abc0088dc560.png)

[2018-05-18 19:42] beaucarnes opened #17186 "React challenge should mention 'ReactDOM.render'"
#### Challenge Name
Create a Simple JSX Element
https://beta.freecodecamp.org/en/challenges/react/create-a-simple-jsx-element

#### Issue Description
This is not an error. It is a suggestion for how to improve the description of the challenge.
The way it is currently written, it seems that the code `const JSX = <div></div>;` automatically updates the website with text.

However, in reality the fol

[2018-05-18 20:47] beaucarnes commented on #17184
I initially had it on learn and was told to close it out and open here. 😀
https://github.com/freeCodeCamp/learn/issues/42

[2018-05-18 21:09] mstellaluna commented on #17184
@beaucarnes 😄

[2018-05-19 06:09] shuvongkor-barman commented on #9343
I can't sign in to freeCodeCamp using my GitHub account. I used it two days ago but now it is not working.

Please Help. I don't want to loose my progress.

![01](https://user-images.githubusercontent.com/37457267/40265616-59971c6e-5b5d-11e8-984b-d35be11a06cf.jpg)
![02](https://user-images.githubusercontent.com/37457267/40265618-5ef09384-5b5d-11e8-8b29-183f3796564d.jpg)

[2018-05-19 06:13] shuvongkor-barman commented on #14669
I can't not sign in to freeCodeCamp using my GitHub account. I used it two days ago but it is not working. And I don't have any other way to sign in.

Please Help Me. I don't want to loose my progress.

My freeCodeCamp User Name:  **shuvongkor-barman**

![01](https://user-images.githubusercontent.com/37457267/40265651-e8898984-5b5d-11e8-8468-acc26dfb955f.jpg)
![02](https://user-images.githubuserco

[2018-05-19 06:27] Sy-CoDe commented on #14669
@shuvongkor-barman (note the msg from freecodecamp) https://github.com/freeCodeCamp/freeCodeCamp/issues/14669#issuecomment-341918303 :

Simply create a freecodecamp account using the same email you used to create your github account.
After that, log into freecodecamp using that email, then go to https://www.freecodecamp.org/settingsand you can link your github account, and your progress should sti

[2018-05-19 06:28] Sy-CoDe commented on #17185
@shuvongkor-barman (note the msg from freecodecamp) https://github.com/freeCodeCamp/freeCodeCamp/issues/14669#issuecomment-341918303 :

Simply create a freecodecamp account using the same email you used to create your github account.
After that, log into freecodecamp using that email, then go to https://www.freecodecamp.org/settingsand you can link your github account, and your progress should sti

[2018-05-19 07:08] shuvongkor-barman commented on #17185
I did exactly what you said but although it is showing that I have completed 112 challenges, on the top it was showing only 1 and when I completed some now it is showing 4. And in the Map it is showing that I did not complete the first 112 challenges.

Why is that?

And please help me solve this problem.

![01](https://user-images.githubusercontent.com/37457267/40266031-b2c6f202-5b65-11e8-8b0f-a68

[2018-05-19 07:38] Bouncey commented on #9343
@shuvongkor-barman can you please open a new issue, you are having problems with the main platform, this issue was for a development version of freeCodeCamp.

[2018-05-19 07:42] Bouncey commented on #17184
To clear any confusion, curriculum issues belong here, platform issues belong in the learn repo.

We will be publishing the seed files as an npm package shortly, so the seed files held in learn will no longer exist

[2018-05-19 09:27] captain-vipul commented on #17161
Hello Everyone, I saw this page and I would be happy to contribute to this page, I need mentor for better contribution and do something which makes my contribution acceptable. I am very lucky towards able to contribute and utilized in it!

[2018-05-19 13:58] JMagers commented on #16923
These issues have been addressed in the following PRs:
* #17102
* #17104
* #17105

I think this issue can be closed now.

[2018-05-19 15:53] #16923 closed

[2018-05-19 15:55] raisedadead opened #17188 "Add validation on the Auth0 Login page"
Refers https://github.com/freeCodeCamp/freeCodeCamp/pull/17187

[2018-05-19 15:57] dverdin83 commented on #7925
I'm a beginner especially with production code. Do not know if this algo would create too much overhead... But since heatmap  seems to be working fine why can't the algo for streak just check the heatmap for days colored green or go the other way and check for grey gaps and return a value like check if element is '#cccc' etc.. if yes break streak
Remove all the current streak logic timezone and ma

[2018-05-19 20:35] QuincyLarson commented on #17182
@ectrion I'm closing this issue and sending a message to @johnkennedy9147 to see if he can add this to our directory.

[2018-05-19 20:35] #17182 closed

[2018-05-19 20:36] QuincyLarson commented on #17161
Done. I just pushed this to https://maintenance-page.freecodecamp.org

[2018-05-19 20:36] #17161 closed

[2018-05-19 21:12] lonnv opened #17189 "Test case bug in 'Add Images' Challenge"
#### Challenge Name

[Add Images to your website](https://www.freecodecamp.org/challenges/add-images-to-your-website)

#### Issue Description

In this challenge you are asked to add an image with an alt attribute.
When you add an alt containing a hyphen the test won't pass.
eg:
`<img src="https://bit.ly/fcc-relaxing-cat" alt="relaxing-cat">` will faill
`<img src="https://bit.ly/fcc-relaxing-cat" a

[2018-05-19 22:12] QuincyLarson commented on #17154
@Harkaran We would welcome your ideas on this, and anything you're interested in helping build on this.

We now have instructions for security issues in our issue template. We also have a new email address where people can send security issues: security@freecodecamp.org

So I'm going to close this issue for the time being.

[2018-05-19 22:15] QuincyLarson commented on #17189
@lonnv Thanks for catching this issue. I agree that we should specify in the test something like "Make sure your alt text doesn't have dashes in it." Would you be interested in updating the test for this?

[2018-05-19 22:39] johnkennedy9147 commented on #17182
will include this in the update I am working on just now, thanks

[2018-05-19 23:07] QuincyLarson opened #17191 "Various Style and wording issues with portfolio/settings pages"
While QA'ing another PR I noticed several minor style and wording issues.

1. ![localhost_3000_certificates_fcc53b2f70b-6e3d-440a-a90d-cfcba263ced8_responsive-web-design](https://user-images.githubusercontent.com/985197/40273861-55a48c82-5b8e-11e8-8239-7c0e22f91aeb.png)
2. ![profile___freecodecamp](https://user-images.githubusercontent.com/985197/40273862-5ba3bd24-5b8e-11e8-988c-bbccf7028815.png)

[2018-05-19 23:51] wesleypearce commented on #17186
I'd like to work on this one please!

[2018-05-20 00:07] raisedadead opened #17192 "Auth0 page should allow for code or link, as needed."

[2018-05-20 00:41] Sy-CoDe commented on #17185
-try https://forum.freecodecamp.org/c/support bc it seems this is a known issue
-Also try reaching someone at freecodecamp https://github.com/orgs/freeCodeCamp/people like @raisedadead @QuincyLarson

[2018-05-20 03:07] #17118 closed

[2018-05-20 08:16] lonnv commented on #17189
@QuincyLarson I'll make a PR. Just to clarify, do you mean updating the text of the current alt test case. Or adding another test specifically for the dashes. And letting the current alt test case pass with dashes?

[2018-05-20 08:25] raisedadead opened #17193 "Changing an email on the settings page should change it on Auth0"
@Bouncey we need to implement this flow. Until then we should disable changing emails on the profile.  Else this will create multiple accounts on Auth0 itself.

[2018-05-20 08:38] varunzxzx commented on #17191
I want to work on some of these issues. I see @Bouncey is assigned to this issue. Can I still submit a PR?

[2018-05-20 09:01] raisedadead opened #17194 "Returning users should not see the accept ToS checkbox on Auth0 login"

[2018-05-20 09:56] Bouncey commented on #17191
@varunzxzx We are time critical. We would like to have a PR merged within a few hours. If this seems do-able then go right ahead :+1:

[2018-05-20 10:54] sahinerbay commented on #758
List available dist-tags
**npm dist-tag ls**

Adding a dist-tag
**npm dist-tag add @"yourname"/"yourfilename"@1.1.0 beta**

Removing a dist-tag
**npm dist-tag rm @"yourname"/"yourfilename" beta**

Pointing "latest" tag somewhere else
**npm dist-tag add @sahinerbay/demo@1.0.0 latest**

If you face any problems with the last one, first change the version in package.json and then run the command.

[2018-05-20 15:39] Dereje1 opened #17195 "[BETA] - Front End Libraries - Sass - Apply a Style Until a Condition is Met with @while"
#### Describe your problem and - if possible - how to reproduce it
Challenge passes for all `.text` classes except `text-1` , while the font-size is correctly changed for `text-1` in the HTML page. Here is my solution code:
[code]
#### Add a Link to the page with the problem
https://learn.freecodecamp.org/front-end-libraries/sass/apply-a-style-until-a-condition-is-met-with-while

#### Tell us abou

[2018-05-20 17:40] QuincyLarson opened #17198 "Fix Auth page navbar CSS"
![sign_in_to_freecodecamp_using_your_email_address___freecodecamp_and_sign_in_to_freecodecamp](https://user-images.githubusercontent.com/985197/40281772-05bd7376-5c2b-11e8-9832-aa4dce73ad36.png)

[2018-05-20 17:41] QuincyLarson opened #17199 "Fix progress time formatting on portfolios"
![profile___freecodecamp](https://user-images.githubusercontent.com/985197/40281785-2954c014-5c2b-11e8-842b-3a699caf7b87.png)

[2018-05-20 18:37] rishiip commented on #17199
@QuincyLarson I would like to work on it, please let me know if it's not been assigned to anyone.

[2018-05-20 20:47] ojongerius commented on #17154
@QuincyLarson we have a small mention in the GH template but I do think it would be much better to have a static page about it.

@Harkaran and @joker314 your contributions would be very welcome!

@QuincyLarson happy for this to stay open while it's begin worked on? We can raise another one but that would just be duplication.

[2018-05-20 21:17] Bouncey commented on #17199
@QuincyLarson Leading zeros like `01` `02` etc...?

[2018-05-20 21:31] joker314 commented on #17154
Do we put a link into the navbar of each page? In the footer? Force security researchers to guess the URL? I suggest adding a "Contact" page that links to this issue tracker, the email for the team, and the security email, to be useful to the most people. Thoughts?

Also, sorry for not being up to speed, but what happened to all the lessons moving to learn.freecodecamp.org rather than beta.freecod

[2018-05-20 22:15] Bouncey opened #17200 "Completing projects from the settings page does not increment points"
Completing projects from the settings page, submitting a url, dose not increment the points a user has.

We need to push a new timestamp to the users `progressTimestamps` array.

[2018-05-20 22:49] jcisneros01 opened #17201 "Forgot password link doesn't expire after use"
#### Describe your problem and - if possible - how to reproduce it
The password reset link does not expire after the user resets their password. A user can use the link indefinitely until the link expires. This is a potential issue if an attacker gains access to a user’s email. With the reset link, the attacker will be able to gain access to a user’s freecodecamp account by using the link to reset

[2018-05-21 04:33] LBWright opened #17203 "General React/Jest testing errors"
#### Describe your problem and - if possible - how to reproduce it
Going through Beta with React and after going through a few of the classes, I'm receiving errors or the tests just aren't passing. The first error is `f(...) undefined' in the stateless component section. The second of the errors  is `Enzyme Internal Error: unknown composite type undefined` in the `Create a React Component` page.
T

[2018-05-21 04:42] LBWright commented on #17203
Went ahead and tried one more and got the same error.
![image](https://user-images.githubusercontent.com/36030324/40290961-61a67dc0-5c87-11e8-81e3-c2d82921fd2d.png)

[2018-05-21 05:58] raisedadead commented on #17201
Thanks for reporting. We have fixed this in our upcoming release. We are getting rid of passwordless completely.

[2018-05-21 07:27] #17203 closed

[2018-05-21 07:27] raisedadead commented on #17203
Issue moved to [freeCodeCamp/learn #79](https://github.com/freeCodeCamp/learn/issues/79) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-21 07:29] raisedadead commented on #17199
Hi @rishiip thanks a lot for your interest. We would love your help. Can I recommend you to visit https://github.com/freeCodeCamp/learn and check out the issues there? We need help with the UI and the CSS in general

[2018-05-21 13:26] Bouncey opened #17204 "Add a Text Alternative to Images for Visually Impaired Accessibility - Broken Image"
https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/add-a-text-alternative-to-images-for-visually-impaired-accessibility

This challenge contains a broken image link.

[2018-05-21 15:21] #17191 closed

[2018-05-21 15:21] #17199 closed

[2018-05-21 16:25] QuincyLarson opened #17208 "More minor UI fixes for welcome/settings/portfolios"
1. ![settings___freecodecamp](https://user-images.githubusercontent.com/985197/40318150-4dfefdda-5ce9-11e8-9942-5f62351d61f4.png)
2. ![banners_and_alerts_and_welcome__quincy_larson____freecodecamp](https://user-images.githubusercontent.com/985197/40318157-555ddb32-5ce9-11e8-9d91-36a813325bda.png)
3. ![settings___freecodecamp](https://user-images.githubusercontent.com/985197/40318162-5a67c034-5ce9-

[2018-05-21 16:38] raisedadead opened #17210 "Debounce send link code button on Auth0 with a button disable."

[2018-05-21 18:18] sharad-vm commented on #17204
At the bottom, the challenge says - "(The image src doesn't link to an actual file, so you should see the alt text in the display.)".

So, I'm guessing, the broken image link is by design?
If not, I can certainly fix it. Which image should it be using?

[2018-05-21 18:27] Bouncey commented on #17204
@sharad-vm you are correct. Closing

[2018-05-21 18:27] #17204 closed

[2018-05-21 19:14] rajatkantinandi commented on #17195
Well I used font-size: 5px*$x;
Which worked fine..

[2018-05-21 19:20] rajatkantinandi opened #17212 "Can't access previously saved/ completed challenge solutions on learn.freecodecamp.org platform"
#### Describe your problem and - if possible - how to reproduce it
Since the launch of new learn.freecodecamp.org platform I'm unable to access previously completed beta challenge solutions. Earlier when I click on a previous challenge link from the map it used to load the previous solution on beta platform.
Now I'm missing this feature & unable to access my earlier solutions.
Please fix this issu

[2018-05-21 19:31] Dereje1 commented on #17195
That still does not pass for the `.text-1` class, at least for me, could you post your entire code?

[2018-05-21 20:03] raisedadead opened #17213 "req.clearCookie on signout"

[2018-05-21 21:21] raisedadead commented on #17212
This is known and we are working on it. We are building beta and its our testing setup. There are chances your progress will reset. And when we launch, it will not be saved.

Your progress from the main site i.e freecodecamp.org will be carried over when we launch.

Here are the FAQs https://forum.freecodecamp.org/t/134331

[2018-05-21 21:21] #17212 closed

[2018-05-21 21:26] raisedadead commented on #17185
@shuvongkor-barman apologies for the delay in getting back to you. please send an email to team@freecodecamp.org from your email that you have with us.

We will try and get this fixed.

/cc @QuincyLarson

[2018-05-21 21:27] raisedadead commented on #17186
@wesleypearce all yours.

[2018-05-21 21:29] raisedadead commented on #17189
@lonnv a new test case would be clear to beginners IMHO. Thanks for reporting and looking forward to your PR.

[2018-05-21 21:31] raisedadead commented on #17183
Yes, we are overhauling this experience with the new platform. Try out https://beta.freecodecamp.org

[2018-05-21 21:42] raisedadead opened #17214 "Update about page to add link to Social logins"
Add the link to `/deprecated-login` to FAQ on about page on launch

[2018-05-21 21:44] LBWright opened #17215 "React Issue - this.updater.enqueueCallback is not a function"
#### Describe your problem and - if possible - how to reproduce it
in `React - Render State in the User Interface`, there is a problem with the testing. The following appears in the test phase of the screen. It never reaches the last test.
[code]
This is my code in the challenge
[code]
#### Add a Link to the page with the problem
https://learn.freecodecamp.org/front-end-libraries/react/render-stat

[2018-05-22 02:54] rajatkantinandi commented on #17195
here is the source code
[code]
### Quick Tips
Place you cursor somewhere in the SAAS code & press Ctrl+Enter
Otherwise it is not working.

here is the screenshot
![image](https://user-images.githubusercontent.com/17743895/40339694-3d59b938-5d99-11e8-8fa6-9f56c87aa152.png)

[2018-05-22 02:56] rajatkantinandi commented on #17212
OK great then, We should wait until it is completed.

[2018-05-22 04:02] accimeesterlin commented on #17189
Good catch @lonnv 💪!

[2018-05-22 07:51] raisedadead commented on #17184
And to further clear any confusion log any issue on any of the repositories.
We (@freeCodeCamp/moderators) will take care of moving them around as needed. There is a (chrome extention)[https://chrome.google.com/webstore/detail/zenhub-for-github/ogcgkffhplmphkaahpmffcafajaocjbd] that makes this as simple as clicking a few buttons.

[2018-05-22 07:53] #17183 closed

[2018-05-22 07:57] Ir1d commented on #16869
BTW, i think the image url of the `icon` is not returned as described in https://fcc-weather-api.glitch.me/.
It said `Images links are included in the JSON under weather[0].icon`, which is not.
I noticed that the demo solution wrote css to draw the icon.

[2018-05-22 14:43] joker314 commented on #16869
Thanks fot letting us know about this potential issue, but the example request amd response do include the desired field. What particular request did you make that didn't have this field?

[2018-05-22 15:04] dcookwebdev opened #17218 "Wrong word on beta lesson"
#### Describe your problem and - if possible - how to reproduce it
On this lesson: https://learn.freecodecamp.org/responsive-web-design/basic-css/change-a-variable-for-a-specific-area

The word "valuables" is used but it should be different. Looks like it needs to be "variables."

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/basic-css/change-a-v

[2018-05-22 17:21] Dereje1 commented on #17195
Still no go for me after trying your code

[2018-05-22 18:21] raisedadead commented on #17215
/cc @Bouncey

[2018-05-22 20:27] Em-Ant commented on #17131
Hello. Sorry If I made you wait a bit. I had a look, and unfortunately there are no tests for the microservices in the seed files.
Some test strings can be found in my 'app tester' glitch project https://glitch.com/edit/#!/narrow-plane?path=public/tests.js:141:2 . They work but they are not 100% complete. If someone can add them to the seed file it's better. I can do it, but it will take a while.

[2018-05-22 20:31] Em-Ant commented on #17128
the new url https://learn.freecodecamp.org/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai doesn't work. I get NOT FOUND

[2018-05-22 20:45] raisedadead commented on #17128
@Em-Ant some of the challenge superblocks (section intros) are not yet added. You should be able to visit indiviual challenges with the search though.

[2018-05-22 20:45] raisedadead commented on #17128
For example https://search.freecodecamp.org/?q=quality%20assurance%20and%20testing%20with%20chai

[2018-05-22 20:48] LBWright commented on #17215
After pursuing the next few tasks, I received the same error in the next 3 fCC React Tasks.

[2018-05-22 20:49] Em-Ant commented on #17128
@clandau both the boilerplate https://glitch.com/edit/#!/sincere-cone?path=server.js:70:2 and the repo https://github.com/freeCodeCamp/boilerplate-mochachai/blob/gomix/server.js use only the SKIP_TESTS env var, which should be explicitly set to prevent the tests from running. All the tests run by default. Where do you see the reference to NODE_ENGINE ?

[2018-05-22 22:05] clandau commented on #17128
@Em-Ant it's at line 141 in tests/1_unit-tests.js of the glitch boilerplate

[2018-05-22 22:27] Em-Ant commented on #17128
Ok, got it. The boilerplate cannot set the env file itself. Do you think we should replace that test with another one ? What could be a good example ? Any suggestions ?

[2018-05-22 22:51] accimeesterlin commented on #17128
@Em-Ant can you send me the boilerplate, I can take a look at it, and share my suggestions?

[2018-05-23 00:49] clandau commented on #17128
@Em-Ant I'll look into the tests when I get a chance.  @accimeesterlin is this what you're looking for? https://github.com/freeCodeCamp/boilerplate-mochachai

[2018-05-23 01:13] Ir1d commented on #16869
@joker314  Thx for replying.

`https://fcc-weather-api.glitch.me/api/current?lon=39.988&lat=116.3000`

[code]

I didn't notice that the example was working fine, so I guess this might due to the location or the special weather?

[2018-05-23 06:14] bennett-elder commented on #17095
I really like the direction this is going. The next task might need to be unpacking the translations:
https://github.com/freeCodeCamp/freeCodeCamp/blob/5fbf8a93a0450ca8064af34a17d9e103f65d0c39/seed/unpack.js#L12

[2018-05-23 07:29] #17218 closed

[2018-05-23 11:20] raisedadead opened #17220 "Refactor brownie point API and CamperBot for our migrated User Schema"
Reference:

API:
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/models/user.js#L850

Schema
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/models/user.json#L44

CamperBot:
https://github.com/freeCodeCamp/camperbot/blob/master/lib/bot/cmds/thanks.js#L39

Mostly you may not need to change anything in the CamperBot itself.

The API referred above will no longer be

[2018-05-23 11:27] raisedadead commented on #17220
Fallback on launch would be we would have to shutdown the bot unless this is resolved.

[2018-05-23 11:43] cyberjar09 opened #17221 "`node seed` fails when bootstrapping a new project"
#### Describe your problem and - if possible - how to reproduce it
when starting with a freshly cloned repo and following the steps in the Contributing guide, the step to seed data into MongoDB fails.
the command `npm run only-once` throws an error.
`node seed` also has the same error

link: https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md#set-up-freecodecamp

* Operating

[2018-05-23 11:46] cyberjar09 commented on #17221
as requested, tagging @raisedadead

[2018-05-23 11:51] raisedadead commented on #17221
Can you add additional information on how you have installed `node`?

`Homebrew` or `nvm` etc.

[2018-05-23 11:56] cyberjar09 commented on #17221
done, added the info into the original issue. (was installed via nvm)

[2018-05-23 12:38] Bouncey opened #17222 "Clear old access tokens via a cron job"
We should find and delete access tokens that have an expired ttl via a cron job.

[2018-05-23 16:07] badgh opened #17223 "how to change old method of login by github account to new method login with email"
#### Describe your problem and - if possible - how to reproduce it
I used to login with github account. But now I want to use new login method by email. I updated my profile and included email (which was then confirmed by subsequent letter). Now how can I start login with email? I couldn't find any setting to change login method. I do not want to use github account anymore. Of course, all saved st

[2018-05-23 16:43] Em-Ant commented on #17128
@clandau by the way, I don't remember exactly but I think that at the beginning NODE_ENGINE was one of the env vars defined by default in a hyperdev/gomix/glitch project. Now it's not used anymore. Try to console.log(process.env) in a glitch empty project, you will see many env vars defined. We could simply use a different one, but probably it's not something we can rely on for the future.

[2018-05-23 16:51] Dereje1 commented on #17221
I'm getting the same error when seeding the database,

- Operating System: Windows 10 Pro , Version 1803
- Node: 8.9.4
- MongoDB: 3.4.9
- NPM: 6.0.1

[2018-05-23 17:34] julianorafael commented on #17095
I'm still going over the pack and unpack code to see how I can incorporate this into it. My first impression is that all that generated html is a bit unnecessary. Couldn't we just work with the json into a react application? The only real issue is reading the data from a file and saving it.

[2018-05-23 17:37] julianorafael commented on #17095
I should point that I'm biased towards React because I'm a React developer. The goal of this react application would be a generic challenge editor then. That's a fairly simple application to make. I made this prototype in one night.

[2018-05-23 17:49] Ildarik commented on #17215
Same in the task `Use Array.filter() to Dynamically Filter an Array`

[2018-05-23 20:45] clandau commented on #17128
@Em-Ant How about PATH or NAME?  Assuming these exist on every system.

Something like:
`assert.fail(process.env.PATH, 'env vars are strings (or undefined)');`

Or just make it really simple and change it to a string:
`assert.fail('Lorum ipsum', '"lorem ipsum" is a string');`

[code]

[2018-05-23 21:09] raisedadead commented on #17221
@Dereje1 npm 6 is not working for us. You would have to use npm 5.8.x

[2018-05-23 21:56] Dereje1 commented on #17221
thanks @raisedadead , I was just able to run the learn repo locally no problem with 8.11.2 and 6.0.1, so now I am wondering if I should just stick with that since , if I understood correctly, that is the direction fCC will be going anyway and may be better off learning how to contribute on the learn repo.

[2018-05-24 02:11] cyberjar09 commented on #17221
@Dereje1 which version of MongoDB are you using?

[2018-05-24 05:46] nikrb commented on #17221
same issue here.
Installed node with nvm install --lts, mongo 3.4.10, ubuntu xenial.
and yarn for learn yes.

[2018-05-24 05:52] raisedadead commented on #17221
Okay, I don't know if this should matter. But I am on Mongo DB 3.6.x which I believe is the LTS.

[code]

[2018-05-24 05:55] raisedadead commented on #17223
Yes, once you have updated your email. You can start using your email, but as you have added it only after signing up with GitHub, you will have to update the password on it by requesting a link through the forget password.

Then on, you should be able to use your email.

Thanks.

[2018-05-24 05:55] #17223 closed

[2018-05-24 05:56] raisedadead commented on #17223
Here is the link for your reference https://www.freecodecamp.org/forgot

[2018-05-24 11:15] raisedadead commented on #17222
We need to implement this. https://docs.mongodb.com/manual/tutorial/expire-data/

[2018-05-24 12:45] scissorsneedfoodtoo commented on #17200
Hi @Bouncey, I can help out with this. Am I correct in thinking that this should be done in the `common/app/routes/Settings/components/Cert-Settings.jsx` file? If so, I'll look at `server/boot/challenge.js` for some guidance.

[2018-05-24 13:59] #17200 closed

[2018-05-24 14:36] dcookwebdev opened #17227 "[temporarily] Add notification to beta users that progress is not saved"
#### Describe your problem and - if possible - how to reproduce it
Have recently seen a lot of beta users asking in the forum about progress not being saved. Perhaps some confusion about the beta can be circumvented with some temporary communication while users use the beta curriculum.

It's just a communication problem.

#### Add a Link to the page with the problem
[Recent forum post highlighting

[2018-05-24 15:00] Bouncey commented on #17221
`node seed/index.js` should keep you going for now. I am about to push a  couple of fixes to the seed so I will take a look.

[2018-05-24 15:06] dcookwebdev commented on #17227
Sounds good to me! Thanks @Bouncey

[2018-05-24 15:16] nathan005 commented on #7925
@dverdin83
I just briefly looked at the code. Heatmap is a plugin, so editing the heatmap code should not be done as it will break if updated. As for counting the green, it seems the plugin builds the color on the fly, so you would need to add a callback to delay the calculating.

It would be better to check the same thing as the heatmap does, that is what was suggested by **Motardo** _(see his co

[2018-05-24 16:34] raisedadead opened #17230 "Make the update my settings button same width as the ones on the setting page"
Make the update my settings button same width as the ones on the setting page

![image](https://user-images.githubusercontent.com/1884376/40499006-40806fe2-5f9e-11e8-97bd-494ef638d588.png)

![image](https://user-images.githubusercontent.com/1884376/40499040-5ca8baee-5f9e-11e8-9768-1f407b30ee61.png)

[2018-05-24 16:35] raisedadead commented on #17230
@scissorsneedfoodtoo I saw you were interested in some issues, do you think you will like to take a dig as this?

[2018-05-24 20:17] bettychow commented on #17230
Can I take this issue?

[2018-05-24 20:29] raisedadead commented on #17230
@bettychow sure thing! Please go ahead.

[2018-05-24 20:43] raisedadead opened #17231 "/current-challenge on home does not have my current challenge."
![2018-05-25 02 12 15](https://user-images.githubusercontent.com/1884376/40512683-33dc0378-5fc1-11e8-83b7-0b29fb9fd351.gif)

[2018-05-24 20:44] raisedadead commented on #17231
I think my last challenge before this was at `HTML Uncomment Elements`

[2018-05-24 23:33] mabras commented on #17185
@raisedaddead I can't sign in either. I have already sent you team@freecodecamp.org without any response.

cc @QuincyLarson

[2018-05-24 23:36] rajatkantinandi commented on #17215
Same problem here..

![image](https://user-images.githubusercontent.com/17743895/40518674-69510ca2-5fd9-11e8-8fff-6c87f87e1ba7.png)

[2018-05-24 23:53] scissorsneedfoodtoo commented on #17230
@bettychow, let us know if you need help with anything!

@raisedadead, thanks! I'll try to pick up another issue here or over on the learn repo. Still have a lot of work formatting challenge descriptions in the interview prep section that I've been putting off, too.

[2018-05-25 00:51] cyberjar09 commented on #17221
@raisedadead I still have an error when seeding the DB.
[code]

[2018-05-25 02:33] raisedadead commented on #17230
@scissorsneedfoodtoo great! Thanks a lot for all the efforts, you have put in.

[2018-05-25 02:37] raisedadead commented on #17221
Yes @cyberjar09 you are right.

[2018-05-25 02:40] raisedadead commented on #17221
@cyberjar09 @nikrb @Dereje1 PR is up, you may want to run that manually while the PR gets merged.

After the `npm run only-once fails` simply `run npm run seed`

[2018-05-25 02:52] cyberjar09 commented on #17221
tried the PR, still not working. My steps:
[code]

[code]

@raisedadead

[2018-05-25 02:52] raisedadead commented on #17185
Hi @shuvongkor-barman @mabras Quincy is currently away until Monday for a work trip. He may not have had access to emails.

He is the sole person at the moment, who can access the DB.

[2018-05-25 03:17] cyberjar09 commented on #17221
after cleaning node_modules and reinstalling
still getting this error
[code]

my debug log file:
[code]

commit 238657d356
I had local changes:
[code]

[2018-05-25 03:20] raisedadead commented on #17221
@Bouncey looks like something may have been missed with the migration.

[2018-05-25 04:33] aditya1994 commented on #17208
I'll look into it.

[2018-05-25 06:19] psitronic opened #17233 "FCC Weather API - weather array & icon issue"
**Challenge Name**

https://www.freecodecamp.org/challenges/show-the-local-weather

**Description**

FCC Weather API looks not to be stable yet. I have a trouble with weather icons. Yesterday I could access it with `weather[0].icon` and there was only one element in the array, but today it looks that  there are already two elements and the icon-key value is not a path to the icon file anymore.

[c

[2018-05-25 07:18] scissorsneedfoodtoo commented on #17195
I noticed this too. @rajatkantinandi's code is correct, but I had to submit it multiple times to pass all the checks. It also seems like all styling is dropped when the tests are run, leading to the default font-size, then Sass is recompiled and displayed. I'm thinking that the tests are firing and failing sometime during that process.

[2018-05-25 09:47] seekingcat opened #17235 "Beta curriculum exercise - Basic JavaScript - Manipulate Arrays With shift()"
#### Describe your problem and - if possible - how to reproduce it
I didn't know where to put this, but in this exercise the example code on line 3 does not define the removedFromOurArray variable with the var keyword. This causes the test to fail if the user follows the exercise explicitly and only changes the code below the commented line. I imagine this would be frustrating to new users.

####

[2018-05-25 11:57] #17215 closed

[2018-05-25 12:34] sintimmisa commented on #12894
try this

var myMusic = [
  {
    "artist": "Billy Joel",
    "title": "Piano Man",
    "release_year": 1973,
    "formats": [
      "CS",
      "8T",
      "LP" ],
    "gold": true
  },    //note the comer here
  // Add record here

   {
                "artist": "Paco de Lucia",
                "title": "Live in America",
                "release_year": 1992,
                "formats" : [  "CS",

[2018-05-25 15:49] #17208 closed

[2018-05-25 18:54] rajatkantinandi commented on #17195
@scissorsneedfoodtoo
Maybe you are right because at least I had to submit twice to pass the test.

[2018-05-25 19:14] rajatkantinandi commented on #17235
Working on it

[2018-05-25 21:39] rajatkantinandi commented on #17215
Is this fix live or yet to be published in Beta release??

Because I'm still getting the error.

Here's the screenshot taken right now..
![image](https://user-images.githubusercontent.com/17743895/40567230-06c32a62-6064-11e8-9104-c048f1473dd8.png)

[2018-05-25 22:42] johnkennedy9147 commented on #17235
@seekingcat @rajatkantinandi  I think this would need to raised on the repo for learn: https://github.com/freeCodeCamp/learn
cc @raisedadead @Bouncey

[2018-05-25 23:11] rajatkantinandi commented on #16952
The current seed is absolutely fine, because it asks the user to create a class inside the makeClass() function & return it & passes the challenge with the following code:
[code]
This way of returning a class from a function refers to the fact that a class is nothing but a kind of JS function internally which can be returned from another function & assigned to other variables just like any other J

[2018-05-26 08:49] Bouncey commented on #17215
@rajatkantinandi The changes will be live around 15 minutes after freeCodeCamp/learn#100 has been merged

[2018-05-26 12:38] raisedadead commented on #16958
@iabrenne sure.. we all have been there. Thanks a lot for taking the time to look at this.

As for which repo to make a PR against:

- All of the challenge execution logic is now moved to the learn repo. That is to say, it has become our challenge platform. Its based on Gatsby, and is a simple static app.
- The challenge themselves (just the content, instructions, and the tests) are on the main re

[2018-05-26 12:44] raisedadead commented on #17235
Hi we may have created some confusion on where to create issues and PR

Issues are welcome to opened on any repo you like learn or the main repo. We (@freeCodeCamp/moderators) will take care of moving them around as needed. Just tag us when in doubt. But its fine to just report an not worry 😃!

As for which repo to make a PR against:

- All of the challenge execution logic is now moved to the lear

[2018-05-26 12:56] seekingcat commented on #17235
Thank you for the information. I am just a beginner student, so I’m sure I’ve done something stupid. I didn’t know where to put this, but thought I’d raise this as it confused me and I thought it would confuse others. Please move this to the correct place or delete if appropriate. Thank you.

[2018-05-26 13:31] raisedadead commented on #17235
@seekingcat its perfectly alright. Thanks for reporting issues. Please keep it up (on any repo you prefer) 👍

[2018-05-26 13:34] raisedadead opened #17243 "Lookup authentication token while verifying JWT"

[2018-05-26 13:36] raisedadead opened #17244 "Add no user verified redirects on learn"
- [x] ~~`ifNoUserRedirect` on react app~~ Not using it.
- [ ] Send back to main app on `!user.email && !user.emailVerified`

[2018-05-26 13:55] #17244 closed

[2018-05-26 13:55] raisedadead commented on #17244
Issue moved to [freeCodeCamp/learn #102](https://github.com/freeCodeCamp/learn/issues/102) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-26 22:48] QuincyLarson opened #17245 "Auth should have code entry form field autofocused"
![sign_in_to_freecodecamp___freecodecamp](https://user-images.githubusercontent.com/985197/40580824-ecbc3b42-6179-11e8-89b2-6a8e73fe8eeb.png)

[2018-05-27 08:08] Bouncey commented on #17215
@LBWright @rajatkantinandi @Ildarik A fix has been deployed for this issue, can you please confirm that these challenges now work as expected? Many thanks

[2018-05-27 08:10] #17235 closed

[2018-05-27 08:37] raisedadead commented on #17185
Hi @shuvongkor-barman I understand the frustration and apologise for the delay. Unfortunately, as I said, we will have to wait for Quincy to be back. The write access to DB is limited for obvious security reasons.

We know the issue that you have duplicate accounts which need to be merged. Rest assured, your progress is saved. Merging them to your email account with us will get this working again.

[2018-05-27 08:48] Ildarik commented on #17215
@Bouncey It works, thanks )

[2018-05-27 09:57] #17221 closed

[2018-05-27 11:42] dcookwebdev opened #17248 "(beta) user story missing in tribute page (compared to test suite)"
#### Describe your problem and - if possible - how to reproduce it
- there are 8 user stories on the page
- the test suite has 10 tests
- one test that should be included on the webpage as a user story is that the image should be centered. (simple fix!)
- i.e. **User Story #9:** The img element should be centered on the page.
- *OR* include it in `user story 8` however I think it's more clear for

[2018-05-27 12:20] dcookwebdev opened #17249 "(beta) Survey Form example doesn't pass all tests"
#### Describe your problem and - if possible - how to reproduce it
- this is not a problem for the curriculum code but on the codepen example
- one test is not passing. see screenshot below

#### Add a Link to the page with the problem
https://codepen.io/freeCodeCamp/full/VPaoNP

#### Tell us about your browser and operating system
* Browser Name: Safari

#### If possible, add a screenshot here
<i

[2018-05-27 13:28] #17230 closed

[2018-05-27 16:04] LBWright commented on #17215
Confirmed! Thanks, you're a magician @Bouncey

[2018-05-28 00:12] AlanMamphs opened #17251 "How long should I wait for my front-end-certificate? Unable to claim it."
#### Describe your problem and - if possible - how to reproduce it

How long should I wait for my front-end-certificate? Should not this bug be resolved already? I have passed everything up to certification. (292 completed tasks). My profile:alanmamphs.

I claimed certificate several times, confirming academic honesty, but it was useless.

#### Add a Link to the page with the problem
https://www.f

[2018-05-28 15:02] AlanMamphs commented on #17251
No, I did not

[2018-05-28 16:56] Bouncey commented on #17231
Closed via freecodecamp/learn#101

[2018-05-28 16:56] #17231 closed

[2018-05-28 16:59] Bouncey commented on #17194
CLosed via #17250

[2018-05-28 16:59] #17194 closed

[2018-05-28 20:47] bigkatspence commented on #17167
@raisedadead am interested in doing analysis on this, do you know if this is related to some of the prior changes that were done on recent commits?

[2018-05-28 20:59] raisedadead commented on #17167
@bigkatspence thanks for taking the interest in this. Just so that you know this is on the production version of the codebase.

You will need to setup the `backup/master` and checkout its relative contributing guide.

Now, coming to the commits. You should look at what we did (and possibly introduced a bug), when we chose to disable the account creation with GitHub and other social accounts.

I'll

[2018-05-28 21:02] #17123 closed

[2018-05-28 21:34] #17120 closed

[2018-05-28 21:34] #17213 closed

[2018-05-28 21:43] #17176 closed

[2018-05-28 21:48] gitasong opened #17256 "MongoDB timeout when seeding from Docker"
#### Describe your problem and - if possible - how to reproduce it
I'm trying to set up FCC from within a Docker image and getting a MongoDB timeout error when I run `docker-compose run --rm freecodecamp npm run only-once`.

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version: 66.0.3359.181 (Official Build) (6

[2018-05-28 22:38] gitasong commented on #17256
Output of `docker inspect freecodecamp_db_1`:
[code]

[2018-05-28 22:39] gitasong commented on #17256
Output of `docker inspect freecodecamp_freecodecamp_1`:
[code]

[2018-05-28 22:48] ojongerius commented on #17256
Notes for next time, or to include in troubleshooting guide:

* Do not use contain IDs but names, like `docker inspect freecodecamp_freecodecamp_1`.
* Get specific sections of the config like so, see example below

[code]

[2018-05-28 22:50] ojongerius commented on #17256
Second note on troubleshooting container connectivity; get people to connect to the FE and ping the DB:

[code]

[2018-05-29 00:10] ojongerius opened #17257 "Seeding database fails"
If I try to seed a database it fails. How to reproduce:

* `docker-compose down` # make sure none of the related containers are running
* `docker system prune -a` # remove all stopped containers, images and networks not in use
* `docker-compose run --rm freecodecamp npm install`#  install deps
* `docker-compose run --rm freecodecamp npm run only-once` # seed

Of interest is that ` entities not fou

[2018-05-29 00:17] ojongerius commented on #17256
@gitasong has

* restarted her machine
* verified she is able to ping the db from her site contain image

I'm out of suggestions at the moment, input welcome!

[2018-05-29 02:16] ojongerius commented on #17257
@rajatkantinandi ^^

[2018-05-29 05:13] ptsurbeleu commented on #17257
I looked into the runtime state and it looks like #17150 could be the reason why seeding doesn't work anymore. Here is the execution paused in `boot/home.js` right after runtime enters:
[code]
<img width="948" alt="image" src="https://user-images.githubusercontent.com/3822219/40638765-fda1de78-62c1-11e8-8aa4-bad324abb1c0.png">

and after I let it go with `continue (c)` command, the runtime throws

[2018-05-29 05:19] ptsurbeleu commented on #17257
@Bouncey, can you take a look pls whether #17150 is the reason why seeding not working anymore?

[2018-05-29 06:06] Bouncey commented on #17257
Ohhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh. Now I know what is broken, thank you for your investigation @ptsurbeleu!!

The models are imported from the app during seed to destroy/create blocks and challenges. This has a side-effect of spinning up the server, which in its current state, requires challenge info whilst bootstrapping.

I will see about patching this today

[2018-05-29 06:22] QuincyLarson opened #17258 "Add option to claim "Full Stack Developer Certification" to options"
We want to create one more certification view - the "Full Stack Developer Certification."

This can be claimed with a single click from the settings interface upon having already earned the following certifications. The button for claiming this should be below the new certifications and above the legacy certifications. And should have the following text:

Once you've earned the following freeCodeC

[2018-05-29 11:06] shuvongkor-barman commented on #17185
Okay Then. I will wait for the fixing. But I will continue my practice and save my project somewhere online or offline.

Thanks.

[2018-05-29 13:19] #17214 closed

[2018-05-29 15:24] #17188 closed

[2018-05-29 15:24] #17198 closed

[2018-05-29 17:47] #17134 closed

[2018-05-29 19:04] moT01 opened #17261 "Beta Navigation Inconsistencies"
**Beta navigation bar links are inconsistent - sometimes they open in new tabs, and sometimes in the current tab - here's exactly what happens...**

###### from the home page
- learn + forum open new tab
- settings + next challenge open in current tab

###### from the settings page
- forum + learn = new tab

###### from the learn page
- settings + forum + learn = current tab

###### from a challen

[2018-05-29 19:07] moT01 opened #17262 "Beta Navigation: learn link need not reload"
###### from the settings page - settings button does nothing
###### from the learn page - learn button reloads learn page

<br>

**if we are already on the learn page - we don't need to reload**

<hr>

* Browser Name: Firefox
* Browser Version: 60.0.1
* Operating System: High Sierra

[2018-05-29 19:13] moT01 opened #17263 "Beta Navigation: learn link directly to challenges?"
**The learn button takes you to the learn page where there's a button to take you to the challenges**

**In my opinion, it feels like the learn page is an unnecessary page you have to go through to get to the challenges, I'm wondering if the learn link should take you directly to the challenges - and possibly be renamed?**

<hr>

* Browser Name: Firefox
* Browser Version: 60.0.1
* Operating System

[2018-05-29 19:27] moT01 opened #17264 "Beta: Can't view other campers' public profile"
**I'm curious how I (or other campers) would view the 'public profile' of other campers**

**In the current live FCC I can view other campers' progress and projects by going to the `url/campers name` (not super obvious, but findable) - In beta, to view a profile, I have my id in the url which is a giant string of random characters, which makes impossible to view other profiles**

[2018-05-29 19:34] moT01 opened #17265 "Beta: intro challenges cannot be completed"
**When you view the curriculum/challenges, there's a check mark next to all the ones you have completed - the intro challenges have no way to submit/complete them so there's no way to get that little check mark (that I am aware of)**

**It's a pretty insignificant thing - but, for some reason, it provides the satisfaction of being completely done with the section**

[2018-05-29 19:52] moT01 commented on #17265
Im not sure we're talking about the same thing... what exactly happened for you? it does not show completion for the challenges in between the two mentioned even though you did complete them?

[2018-05-29 19:53] QuincyLarson opened #17266 "Make navbars uniform height, spacing, font-size"
![freecodecamp_search___learn_to_code_and_help_non-profits_and_settings___freecodecamp_and_responsive_web_design_projects___freecodecamp](https://user-images.githubusercontent.com/985197/40681894-fd9c65e0-634f-11e8-8805-0c0f0e0d6d19.png)

[2018-05-29 19:53] QuincyLarson opened #17267 "clicking outside of search results should collapse search results"
![responsive_web_design_projects___freecodecamp](https://user-images.githubusercontent.com/985197/40681928-15dce152-6350-11e8-81e0-7ce6bfecd71a.png)

[2018-05-29 20:05] TheMarco77 commented on #17265
Yes. See attachment. I've completed them all in between.
![fcc-not_saving](https://user-images.githubusercontent.com/29189997/40682596-2a15caf8-635a-11e8-90ce-701149eac548.jpg)
![fcc-not_saving_1](https://user-images.githubusercontent.com/29189997/40682597-2a25d786-635a-11e8-87a0-45d5d1fd4c89.jpg)

[2018-05-29 20:38] moT01 commented on #17265
I was specifically talking about the "introduction" challenges - like the first one under `basic css` - you can't complete them or get the check mark - what you're seeing is probly a bigger problem

[2018-05-29 20:42] TheMarco77 commented on #17265
Ah okay.

[2018-05-30 00:46] JBallin opened #17268 "Contributor's Guide Prerequisites: Unclear Versioning"
[Setup/Prerequisites (Contributor’s Guide)](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md#prerequisites):

### Problem
**TLDR**: It's unclear which versions are needed. I ran into problems specifically because I was using the latest versions of node and npm. I fixed this using nvm to get the LTS version of node.

I ran into `npm install` issues and @raisedadead informed

[2018-05-30 00:46] JBallin commented on #17268
I'll work on this and submit a PR shortly

[2018-05-30 02:20] scissorsneedfoodtoo commented on #17266
Hi @QuincyLarson! I could take care of this. Of the three versions of the navbar, which one is best to base the uniform style on? I'm thinking some combination of the first and second examples, with the height, spacing, and font weight of the second example, but with the search bar wider and centered like in the first example.

[2018-05-30 05:13] raisedadead commented on #17264
A few things:

1. The user profiles will now become available at `/portfolio/user-name`
2. The long id which you are talking about is actually your username and is very much customiszable, by the user.
3. When rolling over beta to production your old username will be retained, you will not see that long username if not already set to one of your choice.
4. Only the new signups will have a unique U

[2018-05-30 05:13] #17264 closed

[2018-05-30 05:16] raisedadead commented on #17264
I have closed this because there is not much to be done here in terms of the UX. The settings page already has all the options that new users will be able to use and customize their profiles.

Returning campers with a username will not face this and even they can update the username now, if they wish to (and a ton of other stuff in their bio, if they choose to).

[2018-05-30 13:21] raisedadead commented on #17245
Fixed.

[2018-05-30 13:21] #17245 closed

[2018-05-30 15:33] tchaffee opened #17270 "Convert challenge seeds to the new format"
It seems like the challenge seed format has changed sometime in the past couple of months? For example, there is now a `files` property which I think replaces the `challengeSeed`. I'm assuming someone wrote a script or something to convert from the old format into the new format?

[2018-05-30 16:55] dcaspit opened #17271 "Challenges issue"
#### Describe your problem and - if possible - how to reproduce it
After the maintenance i tried to start my next challenge and somehow the page throw me away from my account, and taking me to the first challenge there is.
my friend having the same problem exactly.

#### Add a Link to the page with the problem
its hard to give a link, ill describe when its happing, its happing right after agreed t

[2018-05-30 17:11] espencer127 commented on #17271
I'm having the same issue. I'll login (navigate to the main page and enter/verify my email address), which brings me to a page stating I've completed 250/1392 challenges and built 2/30 projects. All of this is correct. When I click "Go to my next coding challenge" it brings me to the very first challenge, and doesn't seem to have saved that I've logged in (It still displays "Login" in the upper ri

[2018-05-30 17:18] dcaspit commented on #17271
@espencer127 That's exactly our same problem over here. and dont feel rookie, all of us are :)

[2018-05-30 17:23] keal00 commented on #17271
I seem to be experiencing the same issue as above (similar to @espencer127 ) . When looking at past completed challenges it would be nice if they were still indicated complete (perhaps the circles could fill in green?)

This would be especially useful to see which challenges are new and which are not, and to keep track of where we left off.

![image](https://user-images.githubusercontent.com/39774

[2018-05-30 17:29] TPateman commented on #17271
Snap
![untitled](https://user-images.githubusercontent.com/39775080/40736917-451e5c10-6437-11e8-9ddc-f9c6e2b27acc.png)

[2018-05-30 17:36] kratikaguptauser opened #17272 "Issue with the curriculum. Back to challenge one."
Email Id - prachik2322@gmail.com

I joined freeCodeCamp 2-3 days back for learning node js, though on joining I have no way of navigating to NodeJS curriculum , I have to start with HTML, I started from there and somehow completed around 32 challenges, now today when I am logging in , it shows me that I have completed 32 challenges, but it redirects me to first challenge again on clicking on go to

[2018-05-30 17:40] mstellaluna commented on #17271
@dcaspit  @espencer127 @keal00  @TPateman please see this tweet. Let us know if it resolves your issue
https://twitter.com/freeCodeCamp/status/1001877501491204096

[2018-05-30 17:41] Prachi2322 opened #17273 "Issue with Curriculum, Sent back to first challenge."
Creating the issue with actual user.

Email Id - prachik2322@gmail.com

I joined freeCodeCamp 2-3 days back for learning node js, though on joining I have no way of navigating to NodeJS curriculum , I have to start with HTML, I started from there and somehow completed around 32 challenges, now today when I am logging in , it shows me that I have completed 32 challenges, but it redirects me to firs

[2018-05-30 17:41] QuincyLarson commented on #17272
Please try refreshing https://learn.freecodecamp.org. Then click on the "view full curriculum" button and see if it shows your progress. Please let us know if that works.

[2018-05-30 17:47] QuincyLarson opened #17274 "Update deprecated signin page"
![sign_in_to_freecodecamp_using_a_deprecated_login___freecodecamp](https://user-images.githubusercontent.com/985197/40737854-89c4235c-6407-11e8-906e-7ca3407ca8b8.png)

[2018-05-30 17:50] QuincyLarson opened #17275 "Make privacy toggles easier to read and add save button"
![settings___freecodecamp](https://user-images.githubusercontent.com/985197/40737926-bdce826e-6407-11e8-8f49-e4818bb34f28.png)

[2018-05-30 17:52] okOvOko commented on #16438
![image](https://user-images.githubusercontent.com/16106823/40737731-454cc72c-644a-11e8-9389-57ab72a0c74e.png)
I can't log in using gitHub.. and I can't do it using e-mail... Help me, please. I want my profile back :(

[2018-05-30 17:52] TheMarco77 commented on #17273
Having the same issue.

[2018-05-30 17:57] richRocksCodeBlocks commented on #17273
Do a hard refresh of the page.  That worked for me and now all of my challenges and solutions are showing.

[2018-05-30 17:58] espencer127 commented on #17271
@mstellaluna Yes, that fixed it for me - thank you!

[2018-05-30 18:00] QuincyLarson opened #17276 "Revert to Bootstrap Flash notifications instead of current mishmash of flashes"
![settings___freecodecamp](https://user-images.githubusercontent.com/985197/40738069-23f64d38-6408-11e8-8b3a-f67ad61c3ac3.png)

![settings___freecodecamp](https://user-images.githubusercontent.com/985197/40738574-8a50e09c-6409-11e8-9904-6b43948222db.png)

[2018-05-30 18:00] rajatkantinandi commented on #17275
I want to try this one.
What should be the onclick event function on the save button??

[2018-05-30 18:05] QuincyLarson opened #17277 "Minor spelling error"
Should be "received"

![sign_in_to_freecodecamp___freecodecamp](https://user-images.githubusercontent.com/985197/40738837-2d50b43e-640a-11e8-833d-08497121d848.png)

[2018-05-30 18:23] #17273 closed

[2018-05-30 18:24] johnkennedy9147 opened #17278 "Sections missing from settings page"
#### Describe your problem and - if possible - how to reproduce it
Sections missing on settings page:
all the claim certificate sections disappeared an hour or so ago - they were there initially when I started exploring the new features
There might also have been more under the "Danger Zone" but I'm not sure.

Possibly related - claim Responsive certificate wasn't working for me - said I hadn't co

[2018-05-30 18:29] johnkennedy9147 commented on #17278
@QuincyLarson @Bouncey flagging issue to you guys as if it affects a lot of users it might be a priority

[2018-05-30 18:37] Mohab17 commented on #16438
Hi @raisedadead ,

I've got the same problem and I tried to sing in with my email but now It shows me just totally like my account is new! and all my study there is gone because I use to sing in just using my Github.
I hope if you can please help me with Fixing it.

[2018-05-30 18:39] nblank commented on #16438
I am also having the same problem. I have lost all my progress as I used to sign in with Github and the option is no longer there.

[2018-05-30 18:39] QuincyLarson opened #17279 "Curriculum needs a permanent /map"
www.freecodecamp.org/map should redirect to learn.freecodecamp.org/curriculum and this should be its own stand-alone view (not just a modal).

[2018-05-30 18:44] moT01 opened #17280 "Cannot sign in with safari"
I cannot sign in with safari... the `email me a sign in code` button does nothing - works for me on chrome and firefox - can anyone confirm this?

* Browser Name: Safari
* Browser Version: 11.1
* Operating System: High Sierra 10.13.4

[2018-05-30 18:45] QuincyLarson opened #17281 "Email verification page flash messages are the wrong color"
![_1__twitter___mentions](https://user-images.githubusercontent.com/985197/40740940-b5e67126-640f-11e8-8860-6c9505bf805f.png)

[2018-05-30 18:51] QuincyLarson commented on #17278
@johnkennedy9147 Thanks for reporting this.

Please check your JavaScript console. Do you see any errors there?

I'm not able to reproduce this on my machine.

[2018-05-30 18:53] QuincyLarson commented on #16438
@Mohab17 @nblank Could you email me at team@freecodecamp.org with your email address and GitHub usernames? I will fix this for you manually in our database, and in doing so can get a better idea of the problem.

[2018-05-30 18:57] Nerajno commented on #17161
I think i can do a bit more on this .....  the twitter link needs to be centered and open in another page... #my2cents

[2018-05-30 18:57] JMVL64 opened #17282 "JavaScript Algorithms and Data Structures Projects - Caesars Cipher"
#### Describe your problem and - if possible - how to reproduce it
I cannot pass the JavaScript Algorithms and Data Structures Projects - Caesars Cipher even though it works fine in my IDE (visual studio code).
to reproduce:
go to: https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/caesars-cipher
fill in this:
function rot13(

[2018-05-30 18:58] Siege211 opened #17283 "View Curriculum button leading to blank pages."
#### Describe your problem and - if possible - how to reproduce it
Clicking on "view curriculum" button crashes the page. When refreshed, the button will work and be able to navigate to a new challenge. After completing the next challenge, you must repeat the cycle of crash-refresh-click in order to view curriculum.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/respo

[2018-05-30 18:59] nblank commented on #16438
@QuincyLarson I emailed my info to that email address about 10 minutes ago. I appreciate the assistance!

[2018-05-30 19:01] JMVL64 commented on #17282
never mind! my bad! forgot the console.log. Although it is weird that this does not show up in the terminal inside FreeCodeCamp. Sorry!

[2018-05-30 19:08] QuincyLarson opened #17284 "All certificate project titles should link to the projects on Learn"
![settings___freecodecamp](https://user-images.githubusercontent.com/985197/40741508-60c1818e-6411-11e8-98fe-42a2b02a5036.png)

The challenge links:

- [ ] Build A Tribute Page: https://learn.freecodecamp.org/responsive-web-design/applied-responsive-web-design-projects/build-a-tribute-page
- [ ] Build A Survey Form: https://learn.freecodecamp.org/responsive-web-design/applied-responsive-web-design

[2018-05-30 19:08] Mohab17 commented on #16438
@QuincyLarson I also send my email address and username to you. thanks for your efforts!

[2018-05-30 19:14] #17280 closed

[2018-05-30 19:14] okOvOko commented on #16438
@QuincyLarson Could you help me too, please? I have the same problem :( I've emailed you at team@freecodecamp.org  with my email address and GitHub username. Thank you~

[2018-05-30 19:27] raisedadead opened #17285 "Typo on private profile notification"
#### Describe your problem and - if possible - how to reproduce it

There is a typo on the notification shown to the user. certifications is incorrectly spelled.

#### Add a Link to the page with the problem

`/portfolio`

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If possible, add a screenshot here

![image](https://user-imag

[2018-05-30 19:28] keal00 commented on #17271
@mstellaluna looks like it works for me too, thanks!

[2018-05-30 19:33] TheMarco77 commented on #17273
Cool!
Newbie question!
What does a hard refresh mean to you? Deleting history "cache, cookies"?

[2018-05-30 19:53] GiaFil7 opened #17286 "Problem with "View the Curriculum" button"
When clicking the "View the Curriculum" button inside a challenge, sometimes the page goes blank and I have to reload the page.

* Browser Name: Google Chrome
* Browser Version: 67.0.3396.62
* Operating System: Windows 10

[2018-05-30 19:53] #17286 closed

[2018-05-30 19:59] JustFly12 opened #17287 "'var' is missing in Basic JavaScript - Manipulate Arrays With shift()"
#### Describe your problem and - if possible - how to reproduce it
go to Basic JavaScript - Manipulate Arrays With shift()
`// Example
var ourArray = ["Stimpson", "J", ["cat"]];
removedFromOurArray = ourArray.shift();`
 removedFromOurArray - misses a declaration.
#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
*

[2018-05-30 20:01] tondemut opened #17288 "View The Curriculum"
Clicking the view the curriculum button leads to a blank webpage. Refreshing the page makes the button work, only once though.

[2018-05-30 20:02] JustFly12 opened #17289 "Feature request - add night mode to new code editor"
#### Describe your problem and - if possible - how to reproduce it
It wull be nice to keep a night mode as in the previous version of code editor, where the background was dark by default,

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If possible, add a screenshot here

[2018-05-30 20:02] karlchvojka commented on #17288
Found this as well.

[2018-05-30 20:13] ChristianBeach commented on #17285
I made the change. https://github.com/freeCodeCamp/freeCodeCamp/compare/master...ChristianBeach:patch-1

Not sure if that is the right link. This is my first change

[2018-05-30 20:16] ronmaple opened #17291 "SASS course 'While loop' challenge auto-update crashes browser"
First time reporting an issue, and it doesn't seem to be brought up yet, if it was then I apologize.

#### Describe your problem and - if possible - how to reproduce it

New SASS course on FCC - 'Apply A Style Until a Condition is Met With While' -
The auto-update feature on the editor executed the while loop as I typed, thereby crashing the window.

#### Add a Link to the page with the problem
ht

[2018-05-30 20:27] Ashto10 opened #17293 "Vertical scrollbars don't fully scroll through their contents"
#### Description
In any of the curriculum challenges, the scrollbar attached
to the text editor does not fully scroll through its contents.
Instead, it appears to scroll the parent div container itself.

This issue is also prevalent on the output display as well. In
order to see it, you would need to shrink your browser's
window so that the text overflows.

[Link to one of the examples with this i

[2018-05-30 20:31] thehomebrewnerd opened #17294 "Introduction pages not shown as complete after viewing in curriculum list"
#### Describe your problem and - if possible - how to reproduce it
Curriculum doesn't show a completed check mark by Introduction pages. Have only tested this for Basic HTML and HTML5, Basic CSS, and Applied Visual Design, but all have the same problem.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5

#### Tell us about your b

[2018-05-30 20:31] maxfettes opened #17295 "Defunct links on 'Record Collection'"
The links in 'Record Collection' at [https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/record-collection] for accessing 'Manipulating Complex Objects' and 'Accessing Objects Properties with Variables' do not work.

I.E.

[https://learn.freecodecamp.org/manipulating-complex-objects]
&
[https://learn.freecodecamp.org/accessing-objects-properties-with-variables

[2018-05-30 20:32] ChristianBeach commented on #17285
Argh sorry, didn't follow the guidelines very well with my last one. It's closed now. This one should follow everything correctly
https://github.com/freeCodeCamp/freeCodeCamp/compare/staging...ChristianBeach:patch-2

[2018-05-30 20:33] JustFly12 opened #17296 "Heatmap does not display current month"
#### Describe your problem and - if possible - how to reproduce it
Not sure what is the specification on how many montth should be visible in the heatmap,
BUT current month is not there.
You can see in the screenshot, that the 6-days streak i made thru the last 6 days in May'18 is not visible

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Bro

[2018-05-30 20:40] QuincyLarson opened #17298 "Testing with Chai challenges are 404'ing"
Here's what the page looks like: https://learn.freecodecamp.org/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai

When you try to expand it on the curriculum map, it crashes and doesn't let you see the challenges inside of it.

Thanks to @LeDragon for reporting this!

[2018-05-30 20:49] ChristianBeach commented on #17278
I have the exact same issue. I too could see the redeem cert areas before, and now they are missing. Javascript console reveals these errors.

![image](https://user-images.githubusercontent.com/16886836/40746831-16337d74-6421-11e8-8bfb-c811392a267b.png)

[2018-05-30 20:51] mrwanashraf commented on #17288
same here

[2018-05-30 20:57] #17285 closed

[2018-05-30 21:06] ChristianBeach commented on #17278
Actually, going through chrome gives me a completely blank settings page and the following errors.
![image](https://user-images.githubusercontent.com/16886836/40747573-55cde918-6423-11e8-8a50-beef09227fd5.png)

In addition, I can't toggle any of the buttons (changing privacy settings, changing theme etc) when the page does load in firefox.

[2018-05-30 21:09] JustFly12 commented on #17288
duplicates https://github.com/freeCodeCamp/freeCodeCamp/issues/17283

[2018-05-30 21:17] johnkennedy9147 commented on #17278
@QuincyLarson Hi yes there is a `TypeError: can't convert null to object JSAlgoAndDSForm.jsx:59:31` showing in console.  Seems to be pointing to a function that renders the Javascript Algorithms And Data Structures section which makes sense as the problem seemed to start after I submitted the solutions to try and claim the cert.

Apologies if this is misdirection (don't know how react works)

This

[2018-05-30 21:30] raisedadead commented on #16438
We just dropped a fix for the this issue, can you please try again and let us know.

[2018-05-30 21:46] QuincyLarson opened #17299 "Issues with streak being offset"
![profile___freecodecamp](https://user-images.githubusercontent.com/985197/40749225-e422521c-6428-11e8-81ee-c55de55cf2f2.png)

[2018-05-30 21:47] QuincyLarson opened #17300 "Certification section of portfolio should show legacy certifications, too"
![profile___freecodecamp](https://user-images.githubusercontent.com/985197/40749283-134c82a6-6429-11e8-88df-789a127c2cee.png)

[2018-05-30 21:47] jefferson2z opened #17301 "Broken links on lesson "Basic JavaScript - Iterate with JavaScript While Loops""
The lesson on the following page:
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/record-collection

Has the following links broken:
https://learn.freecodecamp.org/accessing-objects-properties-with-variables
https://learn.freecodecamp.org/manipulating-complex-objects

[2018-05-30 21:48] okOvOko commented on #16438
@QuincyLarson @raisedadead
It works!
Thank you <3

[2018-05-30 22:02] QuincyLarson opened #17302 "Quotes need quotes around them"
Be sure to use smart quotes as they'll look better:

&ldquo; and &rdquo;

![welcome__quincy_larson____freecodecamp](https://user-images.githubusercontent.com/985197/40749928-4582b540-642b-11e8-98f8-f8a5e5282a31.png)

[2018-05-30 22:04] JakeShelterwin opened #17303 "Give hint button missing, solution button missing, lost submitted code/streak ,"
1. the “give hint” button is not longer there
2. the profile page is no longer easly reachable from the top right corner
3. the portfolio page is missing the “solution” button to re-read the previously submitted solutions (I used that button to go back and read the comments explaining what I have done to reach that solution)
4. I’ve lost my Streak! I was at over 115 days, now i’m only at 2 :frowni

[2018-05-30 22:12] johnkennedy9147 commented on #17278
downloaded my data, all the JS challenges and cert projects show solution and challengeType as `null` except the roman numeral one which is missing those keys.
example for Palindrome challenge

[code]

[2018-05-30 22:16] dimitrissnk opened #17304 "Build a wikipedia viewer search leads to 404 NOT FOUND"
I can't find the Lesson: _Build a Wikipedia Viewer_, so I used the new search box and I typed "Wikipedia Viewer". The [below ](https://search.freecodecamp.org/?q=wikipedia%20viwer) page open up's with three results. I click on the «Lesson: Build a Wikipedia Viewer» and I get a 404 not found error and the link [here](https://learn.freecodecamp.org/404.html)
Before getting the error above, it looks

[2018-05-30 22:16] QuincyLarson opened #17305 "Fix font weights on welcome page and settings"
![welcome__quincy_larson____freecodecamp](https://user-images.githubusercontent.com/985197/40750150-edb7e60e-642b-11e8-9a75-6126598b2c84.png)

![settings___freecodecamp](https://user-images.githubusercontent.com/985197/40750128-d94cea5c-642b-11e8-9c1f-083519cd86d2.png)

![settings___freecodecamp_](https://user-images.githubusercontent.com/985197/40750475-13cea8ae-642d-11e8-985a-a560079b2818.png)

[2018-05-30 22:16] W8sconsin opened #17306 "Seemingly logged out while logged in"
#### Describe your problem and - if possible - how to reproduce it
I can log in. I see a welcome screen displaying my name and the number of challenges I've completed out of 1392. But when I click the "Go to my next coding challenge button", it doesn't seem that I am still logged in as it says "log in" in the upper right corner, and the modals that pop up when I click on "View Curriculum" are empt

[2018-05-30 22:27] johnkennedy9147 commented on #17304
search is return in url:
`https://learn.freecodecamp.org/coding-interview-questions-and-take-home-assignments/coding-interview-take-home-projects/build-a-wikipedia-viewer`

should be:
`https://learn.freecodecamp.org/coding-interview-prep/take-home-projects/build-a-wikipedia-viewer`

Didnt check them all but seems it is all the projects in that section - path changed.

[2018-05-30 22:40] ChristianBeach commented on #17278
Is there any other way I can claim my cert besides the settings page? Currently I have to way of claiming my cert.

[2018-05-30 23:01] QuincyLarson opened #17307 "Update navigation on www and Search to match learn"
![settings___freecodecamp_](https://user-images.githubusercontent.com/985197/40752060-7eb67ee8-6433-11e8-8057-faf6ea239cfd.png)

[2018-05-30 23:05] johnkennedy9147 opened #17308 "Reset progress not working"
#### Describe your problem and - if possible - how to reproduce it
Reset progress not working.
On settings page, scroll to bottom
In Danger Zone
click 'Reset all of my progress' button
Modal appears
Click 'Reset Everything. I want to start from the beginning.'
Modal disappears but nothing else happens.

Nothing seen in console

#### Add a Link to the page with the problem
https://www.freecodecamp.

[2018-05-30 23:29] johnkennedy9147 commented on #17307
I think 'settings ' is better UI, clearer and more obvious for users.
Also think 'home' would be better than clicking freeCodeCamp word and icon which doesn't actually look like a button.

[2018-05-30 23:33] Halfcreative opened #17309 "View Curriculum rendering page blank"
#### Describe your problem and - if possible - how to reproduce it
When jumping around the curriculum (to complete lessons or projects out of order) the "view curriculum" button occasionally renders the entire page blank, forcing the need for a page refresh.

Steps I take that can reproduce the error-
1. Click "View Curriculum"
2. Select a lesson or Project that is not yet complete
3. Complete les

[2018-05-30 23:33] theChepito opened #17310 "Incorrect "result is not defined" error"
#### Describe your problem and - if possible - how to reproduce it
When attempting to complete the lesson "Regular Expressions - Using the Test Method", I get the error "result is not defined" when submitting the following code:

`let myString = "Hello, World!";`
`let myRegex = /Hello/;`

`myRegex.test(myString);`

When i use this code in the Chrome console it evaluates to `true`.

#### Add a Link

[2018-05-30 23:48] johnkennedy9147 commented on #17310
@theChepito for the tests to pass the variable `result` has to have the expected value, you've removed it from the code completely

[2018-05-30 23:57] W8sconsin commented on #17306
I created a new account with an email.  It doesn't have the same glitch. Possibly old accounts are affected. Or those accessed via Github.

[2018-05-30 23:59] theChepito commented on #17310
got it.  once i included `let result=` it passed.

[2018-05-30 23:59] #17310 closed

[2018-05-31 00:03] W8sconsin commented on #17309
I also experience this.

[2018-05-31 00:13] MarthaC444 commented on #17299
My calendar is showing the same months as well, all in 2017. None of the time from 2018 is showing up.

[2018-05-31 00:27] Roninii commented on #17294
I am experiencing this as well. The completionist in me is going absolutely insane.

[2018-05-31 00:28] mattszcz commented on #17283
#17309

[2018-05-31 00:29] mattszcz commented on #17288
duplicate #17309

[2018-05-31 00:34] mattszcz commented on #17265
Now that beta is live, this bug still persists. Cannot receive a checkmark for the first lesson of every section.

[2018-05-31 00:39] mattszcz commented on #17294
duplicate #17265

[2018-05-31 00:55] #17265 closed

[2018-05-31 00:56] moT01 commented on #17294
I closed the other one since it was a duplicate

[2018-05-31 00:57] moT01 commented on #16903
no longer an issue with the new layout

[2018-05-31 00:57] #16903 closed

[2018-05-31 00:57] mattszcz opened #17311 "Expanding or collapsing tree items in the Curriculum View modal causes the browser to unintentionally navigate"
#### Describe your problem and - if possible - how to reproduce it
Clicking “View the Curriculum” button then expanding or collapsing a tree item navigates the browser to new URLs without the user intending to do so. The back button must then be used to return the user to their original page.

#### Add a Link to the page with the problem
Every page has this problem.
https://learn.freecodecamp.org/

[2018-05-31 01:18] aljf opened #17312 "Broken Project Link"
#### Describe your problem and - if possible - how to reproduce it
The tic tac toe game is listed as a requirement for the legacy front end development certification but the think for it is 404.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/coding-interview-questions-and-take-home-assignments/coding-interview-take-home-projects/build-a-tic-tac-toe-game

#### Tell us

[2018-05-31 01:47] sunsplat commented on #17305
I'd like to be assigned to this

[2018-05-31 02:01] QuincyLarson opened #17313 "Simplified Learn UI"
Based on talking with a dozens of campers today, I think we should make our UI much simpler. Basically, the way it was before.

Instead of having a curriculum modal, just the root page (learn.freecodecamp.org) be the curriculum view:

![welcome_to_learn_freecodecamp_](https://user-images.githubusercontent.com/985197/40757066-53503410-644c-11e8-8f5a-c80ac10cc192.png)

I carefully rewrote the text t

[2018-05-31 03:01] QuincyLarson opened #17315 "Make text-based challenges completable"
![basic_html_and_html5___freecodecamp](https://user-images.githubusercontent.com/985197/40758878-fe6498de-6454-11e8-95ea-bd7380db4743.png)

[2018-05-31 04:06] JosefSaltz commented on #17294
Also experiencing this. I'm a user who uses a Github login from the legacy course-ware. Have registered email via the token code.

Browser Name: Firefox
Version: 60.0.1
OS: Windows 10 17134.48

[2018-05-31 04:07] cj-sv opened #17316 "Account not signed in to learn.freecodecamp.org after successful sign in from freecodecamp.org/signin using Github."
#### Describe your problem and - if possible - how to reproduce it

Even after signing in the main freecodecamp page, I am not signed in when visiting learn.codecamp.org.

Steps used in signing:
1. Visit https://www.freecodecamp.org
2. Click Sign In (https://www.freecodecamp.org/signin)
3. Sign in through deprecated login using Github successfully.
4. Click Learn (https://learn.freecodecamp.org/)

[2018-05-31 05:13] stan-ivanov opened #17317 "Lost progress after the update"
#### Describe your problem and - if possible - how to reproduce it
After yesterdays update of the site, I lost lots of my progress.
I've finished:

- Basic HTML and HTML5
- Basic CSS
- Applied Visual Design
- Applied Accessibility
- Responsive Web Design Principles
- CSS Flexbox
- CSS Grid

Now I have missing tasks from each category above.

I've started Basic Javascript part and was finished with

[2018-05-31 05:31] Vikilator commented on #17316
Steps:
1- Go to freecodecamp.org
2- Click Sign In at right upper corner button
2- Enter email to sign in or sign up
3- Click Enter
4- Ask for Code sent to email
5- Enter code
6- Message said to go back to freecodecamp to try again

When I try again decided to click the link to sign up with Github

1- Enter email from Github account
2- Enter User Name
3- Enter Password
4- Message said Username alre

[2018-05-31 05:44] vikramnr commented on #17316
Sign in'ed via account email and its working but not via Github

[2018-05-31 05:46] guryanov-a opened #17318 "Duplicate "id" and "for" form fields attributes (settings page)"
#### Describe your problem and - if possible - how to reproduce it
Some form fileds have duplicate "id" attributes and corresponding `label` elements have duplicate "for" attributes, e. g. :
On `/settings` page "Build A Pomodoro Clock" fields in "Legacy Front End Projects" and "Front End Libraries Projects" sections have the same ids (`build-a-pomodoro-clock`) and corresponding labels have the sam

[2018-05-31 05:50] aa087159 opened #17319 "can't see the result of the codes"
I can't see the results of my codes  in the console on Freecodecamp.
The output of the function won't be showed on the console below the challenges.

[2018-05-31 05:54] cj-sv commented on #17316
Just tried signing in though email and it now works, albeit the page doesn't refresh and remove the sign in button unless I click "Explore the curriculum". (Could be my cache tho)

I didn't use the email method at first since I kept on getting an error, turns out uBlock Origin was blocking something.

All in all:
* Email sign in works.
* Github sign in doesn't.

[2018-05-31 07:05] guryanov-a opened #17320 "Heat map shows only the first 8 months on freeCodeCamp (public portfolio page)"
#### Describe your problem and - if possible - how to reproduce it
When you look at the heat map on the `/portfolio/*` pages, it shows only the first 8 months on freeCodeCamp

#### Add a Link to the page with the problem
https://www.freecodecamp.org/portfolio/guryanov-a

#### Tell us about your browser and operating system

* Browser Name: Google Chrome
* Browser Version: 66.0.3359.181 (Official B

[2018-05-31 07:17] Shuin-San commented on #17316
+1 to this problem as OP

github login returns an error with message "New accounts can only be created using an email address."
email login returns a fresh account without progress

my account is [https://www.freecodecamp.org/portfolio/shuin-san](https://www.freecodecamp.org/portfolio/shuin-san)

[2018-05-31 07:49] tsss85 commented on #17317
i've the same problem !

[2018-05-31 07:50] JustFly12 commented on #17287
@johnkennedy9147 no as far as I can see on production, it is not fixed there.
If a regular user runs the code, he can be confused by `removedFromOurArray is not defined`

[2018-05-31 07:50] raditotev opened #17321 "Sign In button visible after being logged in"
After logging in the **Sign In** button still visible. I don't know if this is intentional but I find it a bit confusing.

![image](https://user-images.githubusercontent.com/5617443/40769307-8ec6cadc-64af-11e8-9fa5-64cfd120bde1.png)

[2018-05-31 07:54] Siyam009 commented on #17317
Same problem please solve it quickly because i am stucked an can't work in fcc.

[2018-05-31 07:58] raditotev opened #17322 "'Ask for help' button doesn't work"
When clicking on **Ask for help** button nothing happens.
[URL](https://learn.freecodecamp.org/apis-and-microservices/managing-packages-with-npm/how-to-use-package-json-the-core-of-any-node-js-project-or-npm-package)
Browser: Chrome 66

![image](https://user-images.githubusercontent.com/5617443/40769753-b04904f8-64b0-11e8-907e-1bff34acbfe8.png)

[2018-05-31 07:59] jennift commented on #17317
Me too. I have done every challenge under the Javascript(?) certification. And just submitted my last one (simon).

[2018-05-31 08:32] raditotev opened #17323 "Tests for adding properties in package.json failing"
In module Apis And Microservices > Managing Packages with Npm, tests failing although providing link to seemingly valid Glitch package.json with the required changes.

What I do:
1. Adding the required property in the package.json and copy the url:
![image](https://user-images.githubusercontent.com/5617443/40770924-e7a20b7c-64b3-11e8-9763-04f3f82b3541.png)

2. Paste url and submit. Test fails beca

[2018-05-31 08:33] bambitsang commented on #17317
Same here. Shows "404. Ooops, we couldn't find that page." on the previous page of my account. I've just went to the basic algorithms in hardships. Please don't tell me I have to restart. o(╥﹏╥)o

[2018-05-31 08:42] #17302 closed

[2018-05-31 08:42] #17305 closed

[2018-05-31 08:46] huyenltnguyen commented on #17313
Hi @QuincyLarson, is it ok if we break this issue up into smaller ones? I'd like to help Bouncey out, but can only do task by task.
I've made a to-do list from your post:
## On the index page:
- [ ] 1. Add these lines:
[code]
- [ ] 2. Add the full curriculum, with the estimated time to complete (`300 hours`) next to each track. Expand the first track by default.
## On the navbar:
- [ ] 1. Change `

[2018-05-31 08:52] Twaha-Rahman opened #17324 "UI mistake in dark mode"
When I change my theme to dark mode in settings and save my settings it gives me a confirmation in the top of the page , in which the color of the paragraph is black which is really hard to see and I guess it is mistake.

https://www.freecodecamp.org/settings

* Browser Name: Google Chrome
* Browser Version: 66.0.3359.181
* Operating System: Windows 10 (Version 1803 and Build 17134.1)

![screensho

[2018-05-31 08:54] stan-ivanov commented on #17317
Yeah, this is "how not to do update/upgrade"...

[2018-05-31 08:59] raditotev commented on #17321
Closing because related with issue #17316

[2018-05-31 08:59] #17321 closed

[2018-05-31 09:19] johnkennedy9147 commented on #17324
related to #17276

[2018-05-31 09:28] johnkennedy9147 commented on #17322
I can recreate this - applies in both the "Apis And Microservices" and "Information Security And Quality Assurance" sections. Other sections the button works. Weirdly if you click it in one of those two sections and then navigate to a section where it works the modal pops up when the page loads.

[2018-05-31 09:33] huyenltnguyen commented on #17313
@QuincyLarson My internet connection is super slooow right now, so I haven't been able to sign in to the new fcc. Please ignore this if I'm wrong about the UI/UX flow. But if I may throw in my 2 cents, I agree with all the changes, except the navbar one.

Looking at your first screenshot, I can see you're on the `learn` index page. I think it's unneccessary to open this very page in another tab wh

[2018-05-31 09:55] Twaha-Rahman opened #17325 "Spelling mistake in the console."
#### Describe your problem and - if possible - how to reproduce it
I was doing the CSS tutorial and when did a mistake on assinging the value of a css variable I got an error on the console and the message on the console is "penguin class should declar the --penguin-skin variable and assign it to gray." and you can see the there is a spelling mistake. 'declar' should be 'declare'.

#### Add a Link

[2018-05-31 10:10] Dimitrios51 commented on #17304
Yes this is the url that is returning at first but then, it returns another one with the 404 not found error.
I tried the second url you sent and it is the right one, but I am not getting in when using the search box.

[2018-05-31 10:11] Twaha-Rahman commented on #17313
@huyenltnguyen I agree with you. I would like to see map back, as I found that really handy!

[2018-05-31 10:33] iskmar opened #17326 "Quotes before angle brackets"
#### Describe your problem and - if possible - how to reproduce it
Using quotes just before angle brackets, will not give you double quotes as it does if there is space in between.
img src="" alt="> -notice there is no space between " and > and therefore only one quote mark;
img src="" alt="" > -if used with space.

I know it's not a big deal but having used to it on my code editor, it does feels

[2018-05-31 10:39] Twaha-Rahman commented on #17326
It would have been helpful if you added a screenshot

[2018-05-31 10:43] aweoluwatobi opened #17327 "Settings page not opening in firefox"
I tried to open the settings page on firefox which i use but it was blank. Had to use chrome and it opened. Please look into this cross browser issue.
The link is https://www.freecodecamp.org/settings
I'm using Mozilla firefox version 48.0.2 and windows 7 OS.

![freecodecamp_issue](https://user-images.githubusercontent.com/20822384/40778030-3a6bb4e2-64bf-11e8-94e8-70e38a2c16a9.JPG)

[2018-05-31 10:56] johnkennedy9147 commented on #17327
@aweoluwatobi that version of firefox is nearly two years old, can you try updating. I use firefox on win 7 and it is fine.

[2018-05-31 11:05] johnkennedy9147 commented on #17326
@iskmar  is this what you mean - if the cursor position does not have whitespace either side, or is immediately after a closed double quotes with whitespace after, then when opening double quotes the closing double quote is not automatically inserted into the code editor.

I don't believe this is an issue, its the same in VS Code.

[2018-05-31 11:12] johnkennedy9147 commented on #17308
Tested out a theory and confirmed the reset progress works fine, it wasn't doing anything on one specific user id due to none of the buttons working on settings page.  Which may be a side effect of #17278.

[2018-05-31 11:12] #17308 closed

[2018-05-31 11:13] johnkennedy9147 commented on #17278
the buttons not working does seem to be related to this issue.  signing in to my real account (not the one I am using for testing) they all work fine on both ff and chrome. signing in with the one I am using for testing they dont work since submitting the last js project. Also seem to only get the intermittent blank settings screen on that account so think its all connected.

[2018-05-31 11:30] emdashv commented on #17317
Same problem here. I log in with GH if that makes any difference.

Someone here suggested a "hard reset" but I don't know what they mean by that. Reset my browser? Computer? Both?

[2018-05-31 11:34] binayak1998 opened #17329 "Revert back to the old look,Especially the certification and Map part."
The MAP which used to be very simplified and straight forward is not there anymore.
Kindly bring it back or make it look like the previous version.
It's a kind request from us.

![screenshot 75](https://user-images.githubusercontent.com/28681938/40779962-7ff97fbe-64f4-11e8-9bf7-9194f1dfa796.png)

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version: Latest

[2018-05-31 11:44] emdashv commented on #17316
Experiencing same issue as OP. I am logging in with GH and am unable to see my previous progress.

[2018-05-31 12:16] psitronic opened #17330 "No solutions and certificates"
#### Describe your problem and - if possible - how to reproduce it

- Logged-in with my "old" email (used with the previous FCC version) and finished all projects in "JavaScript Algorithms and Data Structures Projects" (Screenshot 1) but cannot see the last two solutions (Screenshot 2) and cannot claim a certificate (there is no list with submitted projects in Settings, Screenshot 3).
- On the oth

[2018-05-31 12:18] JustFly12 commented on #17319
Please, can you provide information according to the issue template? Things like steps to reproduce, screenshots, challenge name you getting you seeing the issue on etc. Thank you!

[2018-05-31 12:34] tsss85 commented on #15662
I've the same problem !

[2018-05-31 12:41] Banditek85 commented on #17316
Same here, Github login shows Welcome screen and I can acces my settings, but when clicking on "Go to the coding curriculum" the yellow sign-in button is again visible and apparently I am not signed in anymore as my previous progress is not visible.

[2018-05-31 12:56] ChristianBeach commented on #17278
@johnkennedy9147 Thank God someone else has this problem then, it seems we have all the same symptoms. As an update, using mobile doesn't work either, and also sometimes displays a blank screen. The buttons don't work on mobile either

[2018-05-31 13:01] vytautas-pilk opened #17331 "Navigating through "View the curriculum" causes the program to refresh or make no action at all"
#### Describe your problem and - if possible - how to reproduce it
On any lesson page, when pressing 'View the curriculum' and navigating it, the program refreshes the whole page and returns you to the intro page of that subsection (for example, applied visual design).

#### Add a Link to the page with the problem
It happens with every lesson page everytime.

#### Tell us about your browser and op

[2018-05-31 13:05] aweoluwatobi commented on #17327
Thanks. Would work on that

[2018-05-31 13:05] #17327 closed

[2018-05-31 13:06] aa087159 commented on #17319
Thank you for your reply, and the problem is that the console section won't
show the output of the function.
I want to see the sorted array [ 2,6,23,40,64 ] in the console, so it can
help me to see the problem clearer.

best regards,
Vivian

On Thu, May 31, 2018 at 8:22 PM, JustFly12 <notifications@github.com> wrote:

[2018-05-31 13:17] cj-sv commented on #17309
I experience the same issue when selecting "View the Curriculum" just after finishing a challenge.

* Firefox Nightly 62.0a1
* Ubuntu 18.04

[2018-05-31 13:57] hassanisk commented on #17317
FOUND IT!

If you click on view the curriculum, then choose the course you were on, you can see your progress.

[
<img width="824" alt="screen shot 2018-05-31 at 14 53 20" src="https://user-images.githubusercontent.com/25592405/40786437-f058c60a-64e2-11e8-841c-1bae89217e96.png">
](url)

[2018-05-31 14:02] johnkennedy9147 commented on #17313
I agree with @huyenltnguyen  and @Twaha-Rahman Curriculum as a modal or drop down menu works better.

Agree with everything else you suggested for the challenge pages.

Having the curriculum on the learn homepage makes sense, as does it being expanded by default - but I'd suggest if camper has already started it should expand to show their current place in the curriculum.

[2018-05-31 14:07] Colcoction opened #17332 "Links to internal sections open a new website page instead"
#### Describe your problem and - if possible - how to reproduce it
In the lesson "Basic HTML and HTML5 - Link to Internal Sections of a Page with Anchor Elements", clicking on the "Jump to Bottom" link after correctly editing the code does not move the output preview to the bottom of the preview page (which would demonstrate the effect the lesson is trying to teach), but instead opens a new browse

[2018-05-31 14:36] stan-ivanov commented on #17317
Exactly where I saw that I miss the tasks...

[2018-05-31 14:37] bauhouse commented on #17313
The challenges pages used to be usable on mobile devices. Now these pages are not properly optimized for small screens.

![img_3020](https://user-images.githubusercontent.com/42321/40788380-c6ae6276-64a4-11e8-8dc0-67c7acfb68e3.jpg)
![img_3021](https://user-images.githubusercontent.com/42321/40788382-c6c6e940-64a4-11e8-9a21-d1af03d04478.jpg)

- iPhone 6 Plus Model MG9Q2CL/A
- iOS 11.4
- Chrome Vers

[2018-05-31 14:39] johnkennedy9147 opened #17334 "Incorrect Count of projects completed"
#### Describe your problem and - if possible - how to reproduce it
on https://www.freecodecamp.org/ the count of completed projects is incorrect.

![image](https://user-images.githubusercontent.com/26827682/40788521-31b22d58-64e8-11e8-9f77-4fc729224878.png)
I have done 5 responsive web design and 5 JS projects (+ 3 js challenges)

JS projects not being counted I believe.

Due to:
in component-pass

[2018-05-31 14:46] johnkennedy9147 commented on #17278
Might be this is something to do with the JS projects being challenge type 5 whereas everything else is type 3 or 4.

[2018-05-31 14:53] jeremybbauer commented on #17316
Thanks for posting, @cj-sv . I'm having the same issue.

[2018-05-31 14:57] PABlond opened #17336 "Trying to claim my certification"
#### Describe your problem and - if possible - how to reproduce it
I have completed every of the 5 projects in the “Apis And Microservices” category. But when I try to claim my certificate, I can see : “it looks like you have not completed the necessary steps. Please complete the required challenges to claim the APIs and Microservices”.

#### Add a Link to the page with the problem
Account setting

[2018-05-31 15:01] jquint98 commented on #17319
I am also having problems running my code on Microsoft edge. Whenever I press run the tests, it just stays on the same page and nothing happens.

[2018-05-31 15:36] yashsartanpara opened #17337 "Privacy settings public-private toggle buttons not workind"
#### Describe your problem and - if possible - how to reproduce it

Toggle buttons of public-private in privacy settings section of settings page not working.

#### Add a Link  to the page with the problem
https://www.freecodecamp.org/settings

#### Tell us about your browser and operating system

* Browser Name:  Chrome
* Browser Version:  66.0.3359.181
* Operating System: Windows 10

#### If pos

[2018-05-31 16:00] fendermaniac opened #17338 "Receive `Oops! Something went wrong. Please try again later` message when using the verification code"
#### Describe your problem and - if possible - how to reproduce it
When trying to login with the new verification code, I keep getting redirected back to the freecodecamp.org homepage with the message: `Oops! Something went wrong. Please try again later`.

I have cleared my cache on my chrome browser, tried using the MS Edge browser and the issue replicates everytime.

#### Add a Link to the page

[2018-05-31 16:02] magicscottish commented on #17317
Same here.  I was automatically taken back to the first lesson.
I was able to find where I was by going to my settings page, and clicking "Show me my public portfolio"
But even when I go to the last lesson I was on, the code is incomplete.
Not sure what to do.

[2018-05-31 16:02] teedoot commented on #15662
My code appears to be correct but can't seem to pass it either using "Through" or "To". I keep getting the following issues, anyone knows how to resolve it?

[2018-05-31 16:15] lucynaaleksandra opened #17339 "Not updating new progress after the website update"
#### Describe your problem and - if possible - how to reproduce it
I just completed a new section that was added on new FCC platform… but when I checked my profile, the new section I just completed didn’t save on my account and when I revisit this section it shows incomplete...

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5

[2018-05-31 16:36] #17313 closed

[2018-05-31 16:52] Ruvalter commented on #17339
Same with me

[2018-05-31 16:53] ELRuncho opened #17340 "Unable to login into profile"
#### Describe your problem and - if possible - how to reproduce it
Hi, after the update I proceeded to login using my github account and the website requested to confirm my email which I did. after receiving the confirmation email it takes me to a welcome page aknowledging my name and profile information:

after I click on "go to the coding curriculum" it takes me to the curriculum but I'm not log

[2018-05-31 17:07] raisedadead commented on #17340
Yes this is known we are working on a fix. Meanwhile you can sign in once again using the email id that you just confirmed. That will get you signed in.

Sorry about the inconvenience.

[2018-05-31 17:08] KevinGodinho opened #17341 "View Curriculum Signs me out and presents a blank page."
When I click view curriculum it sends me to a page that has the headings at the top of the screen but a blank page beneath it without the curriculum, then the upper right corner says sign in. When I push sign in, it takes me to view curriculum and the process repeats. Just before this happened I was doing one of the lessons and when I would submit my code it would say congrats and then I would cli

[2018-05-31 17:09] raisedadead opened #17342 "`/portfolio/:username` => `/username`"

[2018-05-31 17:10] winslow462 commented on #17317
anybody else just get signed out of FCC and when signed back in the sign in only lasts for 1 screen? I can sign in easily, but am immediately signed out when I try to go back to where I was (or view curriculum, etc.)

Thanks!

[2018-05-31 17:11] RiaClay commented on #17340
I am having the same issue. Even after re-signing in. I still can't access the curriculum. It will just send me to a blank page with a yellow Sign-In button on the right. I was in the middle of working on a coding challenge when it happened.

[2018-05-31 17:11] dstarrtrey commented on #17341
Having the same issue on PC with Chrome

[2018-05-31 17:12] winslow462 commented on #17341
same here, Chrome on Windows 7 pro

[2018-05-31 17:13] ELRuncho commented on #17340
I tried login usinf firefox developer edition and it worked. seems that the issue is isolated to regular firefox, at least in my case

[2018-05-31 17:15] raisedadead commented on #17341
Hi guys can you please check your dev consoles and dump the screenshot, here.
On windows, you can hit <kbd>F12</kbd> to open the devtool, and then switch to the console tab.

[2018-05-31 17:19] KevinGodinho commented on #17341
Thanks for commenting guys, so I know I'm not alone lol. I sat down with a coffee and was fully ready to spend a few hours coding. Kind of a bummer. Once everything is up and running properly I think that their new layout is going to be awesome.

[2018-05-31 17:19] jonathan-grah commented on #17324
Hey @Twaha-Rahman, thanks for reporting this. I'm gonna close this as #17276 will resolve this issue additionally as far as I'm aware.

[2018-05-31 17:19] #17324 closed

[2018-05-31 17:19] udidol opened #17343 "not recognizing closing audio tag in accessibility lesson"
#### Describe your problem and - if possible - how to reproduce it
In the lesson: Applied Accessibility - Improve Accessibility of Audio Content with the audio Element

When I completed the challenge properly (with a closing audio tag of course) and click run tests, I pass all of the tests but the site doesn't recognize the closing </audio> tag I put.

#### Add a Link to the page with the problem

[2018-05-31 17:22] Bkreps commented on #17341
![error](https://user-images.githubusercontent.com/28685980/40797255-8a5c2e26-64d5-11e8-8cc9-e07f6b0d5d2f.png)

Using Chrome

[2018-05-31 17:22] deepaklalwani97 commented on #17341
![image](https://user-images.githubusercontent.com/32839217/40797289-49057892-6525-11e8-855c-6e429cc8dd14.png)

[2018-05-31 17:26] raisedadead commented on #17339
Does refreshing help?

@Ruvalter can you help us with a screenshot and the challenge that you were trying to complete?

[2018-05-31 17:26] Bkreps commented on #17341
Seems to be working now thank you.

[2018-05-31 17:29] deepaklalwani97 commented on #17341
still having this problem in mac os using chrome

[2018-05-31 17:29] raisedadead opened #17344 "Loading indicator for any view that is updating"
We need loading indication for components to reflect their hung or processing state:

- [ ] Sign in button -> Profile pic on Learn
- [ ] Challenge page coming from outside the app on Learn
- [ ] Bundle loading and not ready yet on slow networks.

[2018-05-31 17:30] raisedadead commented on #17344
These indicators should be able to justify the delay and result in lesser confusion on the actual state of the app.

Users are currently getting the false positive of not being signed in like so:
https://github.com/freeCodeCamp/freeCodeCamp/issues/17341

[2018-05-31 17:30] jonathan-grah commented on #17312
@aljf, you are correct, this needs sorted out! I'm gonna merge this with https://github.com/freeCodeCamp/freeCodeCamp/issues/17304 as it was already opened and is part of the broader issue. Thank you for reporting 😄

[2018-05-31 17:30] #17312 closed

[2018-05-31 17:31] eeglantine commented on #17340
same here .. and even after siging in i still can't access the curriculum .. i was working when it happened

[2018-05-31 17:32] jonathan-grah commented on #17304
Yeah @johnkennedy9147 @Dimitrios51 , the path needs to be updated I believe.

[2018-05-31 17:35] Ruvalter commented on #17339
@raisedadead I have tried refresh, hard reload, clean cash and hard reload. nothing works. There are a lot of errors in the console as well.

I can not complete any "introduction".

Right now I can not access my curriculum at all. When I click the link to go to my curriculum I get a blank page with lots of errors.

![image](https://user-images.githubusercontent.com/20053230/40797845-8427a3e4-64d7-

[2018-05-31 17:42] jonathan-grah commented on #17343
@udidol, thank you for reporting this. The tests all pass for me until I add an `id` attribute to the `audio` tag. This shouldn't affect the tests passing correctly.

[2018-05-31 17:43] winslow462 commented on #17341
![devcon](https://user-images.githubusercontent.com/3596704/40798271-365c31ea-64d0-11e8-84a3-54120163c0e8.PNG)

[2018-05-31 17:43] Dimitrios51 commented on #17304
Actually, others need to be updated too, as I tried searching for some other keywords too, and after clicking on the links I got again to the same problematic URL.

[2018-05-31 17:45] winslow462 commented on #17341
hard refresh seems to have brought it back. terrific! so curious about what the issue was...maybe someday I will understand these things!

[2018-05-31 17:45] jonathan-grah commented on #17296
@johnkennedy9147, agreed. Thank you for reporting @JustFly12 👍

[2018-05-31 17:45] #17296 closed

[2018-05-31 17:45] raisedadead commented on #17339
Ok. We are on top of this. Thanks for reporting.

[2018-05-31 17:48] ChristianBeach commented on #17278
Not sure if it's related at all but I can no longer view the curriculum when signed in under firefox, the button is non-responsive.

[2018-05-31 17:49] udidol opened #17345 "The "Explore the curriculum" button does nothing"
#### Describe your problem and - if possible - how to reproduce it
Clicking on "Explore the curriculum" in the main "Learn" page doesn't do anything.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version: 66.0.3359.139 (Official Build) (64-bit)
* Operating System: Windows 10 Home

[2018-05-31 17:49] ChristianBeach commented on #17278
Not sure if it's related at all but I can no longer view the curriculum when signed in under firefox, the button is non-responsive. It also appears that I am not signed in when I am at the https://learn.freecodecamp.org/ page (shows the sign in button) but going back to the settings page still shows I am signed in.

[2018-05-31 17:52] akwong372 commented on #17341
Clearing the cached files in chrome appears to make the rest of the page load, but it still signs me out when I try to view the curriculum.

[2018-05-31 17:57] nalinpuri commented on #17345
My Browser Name--- Opera
Its 32-Bit
Same Problem

[2018-05-31 17:57] mstellaluna commented on #17343
@udidol @jonathan-grah I just tried the challenge in both FF and Chrome and I am able to successfully pass the challenge. The challenge does not require you to enter an ID in the opening audio tag. The challenge passes without the ID entered from the example. Please verify your code and let us know.

[2018-05-31 18:08] mouri11 opened #17346 "Make certificates more printable"
#### Describe your problem and - if possible - how to reproduce it
I am not able to print my legacy certificate. I am trying to print it using Ctrl + P, and Print option in the right click dropdown menu. The pdf appears blank.

#### Add a Link to the page with the problem
Here is the link to my [certificate](https://www.freecodecamp.org/certification/mouri11/legacy-front-end).

#### Tell us about

[2018-05-31 18:16] beaucarnes opened #17347 "Add favicon to http://search.freecodecamp.org"
Add favicon to http://search.freecodecamp.org. Currently there is not one.
![image](https://user-images.githubusercontent.com/1513130/40799959-0b92e8fc-64dd-11e8-80ac-e4b44ced9531.png)

[2018-05-31 18:19] Lamaty commented on #17317
Same here.I have finished javascript basic and i was supposed to start with the algorithms section,but it seems i ve lost all the basic javascript progress :(

[2018-05-31 18:33] udidol commented on #17343
I added a screenshot with my code.
You can see if you find a problem...

[2018-05-31 18:37] QuincyLarson opened #17348 "The output box below the code editor currently only displays test results, not console statements or returned values"
![basic_javascript_-_subtract_one_number_from_another_with_javascript___learn_freecodecamp](https://user-images.githubusercontent.com/985197/40801086-b1d76d74-64d7-11e8-9b10-a6c46c88adec.png)

[2018-05-31 18:38] QuincyLarson opened #17349 "It's possible for toggle buttons to both be active at once"
Steps to reproduce: rapidly click down the column of privacy toggle buttons. Some of them will strangely be active at the same time.

![image](https://user-images.githubusercontent.com/985197/40801160-db291cd6-64d7-11e8-8adb-56889fe684c1.png)

[2018-05-31 18:43] mstellaluna commented on #17325
@Twaha-Rahman  Hi Twaha, the spelling of grey as gray is not a spelling mistake, it is a valid way of spelling the color as depending if you are using UK English (grey) or US English (gray). Both are accepted by W3 standard and in the lessons US spelling is used.

[2018-05-31 18:43] texas2010 commented on #17326
Sorry, I have to close this. since this doesn't have a bug. it seems it related to the editor. more like it is a normal editor.

[2018-05-31 18:43] #17326 closed

[2018-05-31 18:44] texas2010 commented on #17329
Sorry, we will not revert it back to the old freecodecamp site. We decided to improve the freecodecamp site.

[2018-05-31 18:44] #17329 closed

[2018-05-31 18:46] mstellaluna commented on #17330
@raisedadead  here are the latest screenshots

![image](https://user-images.githubusercontent.com/22984739/40801513-1945892e-64e1-11e8-82f1-78b535b43b60.png)

FF Console
![image](https://user-images.githubusercontent.com/22984739/40801606-4e4aede4-64e1-11e8-862a-d92b5f06f6ac.png)

[2018-05-31 18:46] mstellaluna commented on #17330
this is when I attempt to view the solutions to the challengers.. the projects are coming up fine.

[2018-05-31 18:52] rajatkantinandi opened #17350 "The "view the curriculum" button shows white screen after going to next challenge & clicking it."
#### Describe your problem and - if possible - how to reproduce it

When I complete a challenge and go to next challenge by pressing Ctrl + Enter, then If I click the "view the curriculum" button then the whole screen turns white & the app supposedly crashes.
When I looked at the JS console of the browser, It shows the following error:
[code]

#### Tell us about your browser and operating system

[2018-05-31 18:59] mstellaluna commented on #17343
@udidol  in your audio tags you had added the `id="meowClip`. This is part of the example. It is not required for the challenge

[2018-05-31 19:28] mstellaluna commented on #17319
@jquint98 MS Edge to my knowledge is not a supported browser. Please try in either Chrome or in FireFox and let us know if you are still having the issue.

[2018-05-31 19:36] mstellaluna commented on #17349
https://github.com/freeCodeCamp/freeCodeCamp/issues/17337 <- similar issue

[2018-05-31 19:37] mstellaluna commented on #17337
@yashsartanpara Hello, I will be closing this issue as this is a duplicate issue. Please see https://github.com/freeCodeCamp/freeCodeCamp/issues/17349 for any updates concerning your inquiry. Thank you for reporting your issue. Happy Coding !

[2018-05-31 19:37] #17337 closed

[2018-05-31 19:54] mstellaluna commented on #17350
https://github.com/freeCodeCamp/freeCodeCamp/issues/17339 <- similar issue

[2018-05-31 19:56] mstellaluna commented on #17350
duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/17309

[2018-05-31 20:41] aprioriO commented on #17340
hi,
the same problem is in my FreeCodeCamp acc.
I can sign in using GitHub, but

"after I click on "go to the coding curriculum" it takes me to the curriculum but I'm not logged into my profile it still shows the sign in button on the top right"
So I  cannot see my progress and have to start from the beginning if I sign in using e-mail.
Browser Name: Google Chrome
Browser Version: Version 66.0.335

[2018-05-31 20:49] QuincyLarson commented on #17346
@mouri11 If you remove that JavaScript, are you able to print it? If so, how does it look?

[2018-05-31 20:59] #17274 closed

[2018-05-31 20:59] #17340 closed

[2018-05-31 21:08] OrionYEC opened #17352 "Error in lesson: Basic JavaScript - Manipulate Arrays With shift()"
#### Describe your problem and - if possible - how to reproduce it
When running this program the example array, "removedFromOurArray" on line 3 isn't declared so it gives the error, "removedFromOurArray is not defined". This happens even if the individual practicing got the lesson correct.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-s

[2018-05-31 21:20] Vikilator commented on #17316
Yesterday, at least let me Run the test button. Today it doesn't do anything.

[2018-05-31 21:20] raisedadead commented on #17340
Hi everyone we dropped in a new fix. You might have to actually sign in one more time to check this. But that would be it.

Once again sorry about the inconvenience and happy coding.

[2018-05-31 22:01] QuincyLarson opened #17354 "Make settings certification text clearer"
![settings___freecodecamp](https://user-images.githubusercontent.com/985197/40810681-367a8a2c-64f4-11e8-8825-edc908b6f995.png)
![settings___freecodecamp](https://user-images.githubusercontent.com/985197/40810693-3eff42b4-64f4-11e8-9b2e-795fa60387ea.png)

[2018-05-31 22:14] jonathan-grah commented on #17343
@mstellaluna, you are correct but it shouldn't stop the tests from passing.
thanks @hctpscl

[2018-05-31 22:48] JamesStaffordCoyte opened #17356 "Console not displaying return values"
#### Describe your problem and - if possible - how to reproduce it
The problem is with all algorithm problems. The test runs against all the test values but the console does not return the actual value you ask it to return. I like to test certain return values either by returning them or by console.log(); but with the recent update this doesn't seem to work at all so I have 0 idea what I might be

[2018-05-31 22:51] ojongerius commented on #17257
A hacky workaround provided by @raisedadead for the moment is:

Open [home.js](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/server/boot/home.js) and comment out line [12](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/server/boot/home.js#L12) until [24]( https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/server/boot/home.js#L24 ). Run the seeding by either:

* Docker

[2018-05-31 23:06] raisedadead commented on #17354
Oops... this change is not trivial.

https://github.com/freeCodeCamp/freeCodeCamp/blob/056a871b7440fd989b01848c52113ed04149544e/common/app/routes/Settings/components/Cert-Settings.jsx#L268-L278

I'll get to it in the morning.

[2018-05-31 23:13] raisedadead commented on #17356
Thanks for the report. As a work around while we fix this you can look at the DevTools console of your browser and still see the console.log statements?

![image](https://user-images.githubusercontent.com/1884376/40813004-525b75e6-6556-11e8-8ea7-46cffbe1caca.png)

That said we definitely need to pass the log back to the in app log area.

[2018-05-31 23:27] JamesStaffordCoyte commented on #17356
Thanks raisedadead. That's what I've been using. Just wanted to know if there were plans to fix this. Glad to here there is. Thanks again.

[2018-05-31 23:41] mstellaluna commented on #17348
Closing. Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/17356

[2018-05-31 23:42] #17348 closed

[2018-05-31 23:46] mstellaluna commented on #17346
@QuincyLarson  I tried to print his certificate to see if it was a local issue or not. I am not having issues seeing a preview or a printer listed on my Win10 in either Edge or Firefox... but chrome gives me this.
![image](https://user-images.githubusercontent.com/22984739/40813934-5fbf68b4-650b-11e8-9010-137204ff428c.png)

[2018-05-31 23:55] mstellaluna commented on #17352
the issue is here on line 3, the variable provided in the lesson template is not declared with var.

@OrionYEC to pass the lesson in the meanwhile, please add the var keyword to line 3 in the editor. Thank you for reporting this issue.

[2018-05-31 23:59] mstellaluna commented on #17319
Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/17356

[2018-05-31 23:59] #17319 closed

[2018-06-01 00:01] jonathan-grah commented on #17346
This is the same for me. As far as I'm aware, @QuincyLarson certificates were specifically not allowed to be printed and this was decided during the process. Do we want this to change?

[2018-06-01 00:01] #17350 closed

[2018-06-01 00:02] mstellaluna commented on #17311
Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/17331

[2018-06-01 00:02] #17311 closed

[2018-06-01 00:57] bronwynv commented on #17294
Also experiencing this issue

[2018-06-01 03:10] mouri11 commented on #17346
@QuincyLarson Hi. Removing the javascript messes up the layout of the document. The signature becomes huge, the date gets skewed, etc.

[2018-06-01 03:11] mouri11 commented on #17346
I guess not being able to print would be fine, except if we have to carry hardcopies to interviews.

[2018-06-01 03:15] yoizfefisch commented on #16358
The test also fails when using a for loop.

[2018-06-01 03:41] MarkKGit commented on #17309
Upvoted. Also experience on Chrome Version 67.0.3396.62 (Official Build) (64-bit)

[2018-06-01 04:42] JonDevOps opened #17357 "navbar only displays 3 links and refuses to close."
#### Describe your problem and - if possible - how to reproduce it

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If possible, add a screenshot here

[2018-06-01 04:58] planetofcode commented on #17316
I can't able to sign in with GitHub and all my progress was lost.

[2018-06-01 05:05] RyanUnited opened #17358 "Coding Environment - Unable to Submit Work"
The navigation bar at the top of the embedded text editor is not available. There is no button to submit work. I've added a screenshot.
<img width="906" alt="fcc - interface bug" src="https://user-images.githubusercontent.com/32768801/40821967-65f19918-652f-11e8-9d60-e5f868922fe7.png">

Not sure if I'm missing something or a new setting. Sorry if this is a duplicate, didn't see another report on i

[2018-06-01 05:08] planetofcode opened #17359 "Unable to sign in with github"
#### Describe your problem and - if possible - how to reproduce it
1. Go to https://www.freecodecamp.org/deprecated-signin
2. Try to sign in with your GitHub account
3. You will be redirected to the homepage with the alert "New accounts can only be created using an email address."

#### Add a Link to the page with the problem
Signing in with github, https://www.freecodecamp.org/deprecated-signin
#

[2018-06-01 05:09] #17358 closed

[2018-06-01 05:14] huyenltnguyen commented on #17346
How about taking a screenshot? :wink:

[2018-06-01 05:23] Ozarion opened #17360 "Problem loading page, Unable to establish a secure connection : General region Pakistan"
#### Describe your problem and - if possible - how to reproduce it
For some reason, learn.freecodecamp.org is not accessible in my area on any of the internet browser.
1. Firefox shows the message 'Secure Connection Failed'.
2. Chrome shows 'Surf safely'

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/

#### Tell us about your browser and operating system

* Browser Na

[2018-06-01 05:33] scissorsneedfoodtoo commented on #17357
@JonDevOps, a new version of the site went live about two days ago. On the new site there's currently no Community drop down or map like the older one.

Is there another drop down that you're seeing and having problems closing? Could you take a screenshot?

[2018-06-01 05:38] huyenltnguyen commented on #17352
Hi @OrionYEC, thanks for reporting the issue. It was addressed in #17287 and the fix was already merged (https://github.com/freeCodeCamp/freeCodeCamp/pull/17239). All we can do now is to wait for the next deployment for the change to take effect.
You can use @mstellaluna 's solution to pass the challenge for now.

[2018-06-01 06:15] sanchit0496 opened #17361 "Update readme for new certifications and curriculum"
#### Describe your problem and - if possible - how to reproduce it
The READ.md file displays information about the old curriculum and certification programs. It needs to be updated as per the current curriculum.

#### Add a Link to the page with the problem
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/README.md

#### Tell us about your browser and operating system

* Browser Name: Goo

[2018-06-01 06:17] sanchit0496 commented on #17361
Although it's not related to the website, still I think this needs to be updated.
I've made a pull request https://github.com/freeCodeCamp/freeCodeCamp/pull/17351

[2018-06-01 06:31] mouri11 commented on #17346
![screenshot 31](https://user-images.githubusercontent.com/17742382/40824837-3cc5b740-6593-11e8-9f4d-3736c03e3b6f.png)

[2018-06-01 06:39] huyenltnguyen commented on #17346
@mouri11 Sorry, I meant taking a screenshot of the certificate, save it as png or something, then print that photo out. Firefox has the 'take a screenshot' feature built in, if you're not aware of.

[2018-06-01 07:11] mouri11 commented on #17346
Oh right. Sorry to misinterpret it. I already took a fullscreen screenshot of the certificate. I had asked this to know if this blocking of printing is intended or just a bug. Thanks though.

[2018-06-01 07:43] wahaj-47 opened #17362 "Learn.freecodecamp.org doesn’t load"
#### Describe your problem and - if possible - how to reproduce it
I can’t visit the curriculum page
The connection resets

#### Add a Link to the page with the problem
learn.freecodecamp.org

#### Tell us about your browser and operating system

* Browser Name: Google Chrome
* Browser Version: latest
* Operating System: windows 10

#### If possible, add a screenshot here

[2018-06-01 07:44] #17362 closed

[2018-06-01 07:44] wahaj-47 commented on #17360
For me the connection resets

[2018-06-01 08:29] scissorsneedfoodtoo commented on #16358
@yoizfefisch, you're right. Both of those are valid solutions, but they don't pass.

It seems like test case for template literals is not quite flexible enough:

[code]

The regex doesn't expect brackets before the next curly brace, and your solutions cause the test to fail. Should be a simple enough fix. I'm not the best with regex, but this should allow for different solutions like the ones abov

[2018-06-01 08:51] C0nst4nt1ne85 opened #17363 "Responsive Design Certification can not be claimed"
I completed the projects for Responsive Design Cert and even edit the older ones, from Legacy, to complete the new goals. But when I claim my cert a message appears that says "it looks like you have not completed the necessary steps. Please complete the required challenges to claim the Responsive Web Design"

Is it because I can not find how to complete introductions???

https://www.freecodecamp.o

[2018-06-01 09:52] PABlond commented on #17336
I want to add that the second screenshot is not visible anymore ...
<img src="http://res.cloudinary.com/pablond/image/upload/v1527846696/Sans_titre.png" />

[2018-06-01 10:03] dangialdini commented on #17338
I too, have the same issue!

[2018-06-01 10:25] gopinathanjeeva opened #17365 "Blank page shown while selecting the curriculam link"
#### While clicking the curriculum link blank page was shown for first time, then the actual page is rendering only after the reload.

#### Browser and operating system

* Browser Name: firefox
* Browser Version: 60.0.1
* Operating System: Windows 7

#### If possible, add a screenshot here

![freecodecamp](https://user-images.githubusercontent.com/39827740/40836363-1737e7b6-65b4-11e8-95ee-b6f82772

[2018-06-01 10:41] delta-foxtrot commented on #17339
Same problem as me :(

BUT! If you try to do some new lesson for example you click "Basic HTML and HTML5" and then "Start first lesson" it will open the last of the lessons (about body and head).
Then you can do a CSS tasks.
I think it's a layout problem :(

[2018-06-01 10:53] delta-foxtrot commented on #17339
SOLUTION:
You need to go to the exactly lesson which you need for example you need to choose "Headline with the h2 Element", solve it and check. Then you will see progress.
ISSUE:
It's not working for the first task :( (""Introduction to Basic HTML and HTML5").

[2018-06-01 11:27] Oddert opened #17366 "Sass - Store Data with Sass Variables: Tests are bugged (also possible typo)"
I wasn't sure if this should be opened as a new issue given its the same as this closed one from the beta course, apologies if this is a duplicate.
https://github.com/freeCodeCamp/freeCodeCamp/issues/12699

#### Describe your problem and - if possible - how to reproduce it
An issue with 'Sass - Store Data with Sass Variables' has reemerged on the new Sass section (non beta). Adding the '$text-colo

[2018-06-01 11:42] eatcodesforlife commented on #17339
Just to add to this. While the progress checklist shows that you've already completed a certain challenge but when you click on a completed it doesn't show your solutions:

![image](https://user-images.githubusercontent.com/35595513/40839018-41d0c29e-65d3-11e8-9b9b-c987d4bbb4fc.png)

![image](https://user-images.githubusercontent.com/35595513/40839153-d2c5ebc6-65d3-11e8-9ad4-974343ebacb3.png)

[2018-06-01 11:50] iDada5 commented on #17340
Hi I've tried to sign in with github (as this is what I used previously ) but it won't let me log in at all that is the screen I get if i choose github :
![image](https://user-images.githubusercontent.com/36464368/40839313-fe3bbf56-656f-11e8-8dc2-42410780d5cb.png)

Thanks
Browser Name: Google Chrome
Browser Version: Version 67.0.3396.62
Operating System: Windows 10

[2018-06-01 11:58] JMVL64 commented on #17365
same problem here!

Browser name: Chrome
Browser Version: 66.0.3359.181
Operation system: MacOs

[2018-06-01 12:00] emdashv commented on #17325
@mstellaluna I think @Twaha-Rahman was referring to the typo in "declar" not "gray".

[2018-06-01 12:15] Ledragon commented on #17298
You're welcome I guess, but I have no recollection of reporting this :p

[2018-06-01 12:17] iDada5 commented on #17359
yep same here too

[2018-06-01 12:18] momitrahman commented on #17363
This issue also happening for me i tried in different browser also. Only i can claim my Front End Libraries  certification.

[2018-06-01 12:29] raisedadead commented on #17340
Hi @iDada5 Can you connect with me via an email mrugesh at freecodecamp dot org, with issue that you are having?

[2018-06-01 12:54] Bouncey commented on #17365
We had an issue of an over-active service worker not letting go of the cache. We have pushed a fix for this. Hopefully you will not see it again

[2018-06-01 12:58] raisedadead commented on #17339
@eatcodesforlife can you log a separate issue about this?

[2018-06-01 13:06] raisedadead commented on #17339
Resolved the original issue about the progress. Please report fresh issues if facing similar

[2018-06-01 13:06] #17339 closed

[2018-06-01 13:12] planetofcode commented on #17332
Same problem.

[2018-06-01 13:16] raisedadead commented on #17343
@udidol Can you try again?

Here is the pseudo code that I tried.

[code]

I remember this was fixed recently.

[2018-06-01 13:19] raisedadead commented on #17343
In any case, the `id` for the attribute should not be what is breaking or passing the test. Its not required to be added to the code. A PR is welcome though to strengthen this.

[2018-06-01 13:25] QuincyLarson opened #17369 "Certificate section sometimes disappears from settings page"
I don't know how to reproduce this, but someone showed me a video of it on Twitter (which I unfortunately can't embed here). The certificate claiming section sometimes disappears entirely from the settings page.

[2018-06-01 13:48] JMVL64 commented on #17369
Mine does not appear anymore. I have the academic honesty part, which I signed, and then the delete account details danger zone. I have no clue how to register my certificates now. Google chrome, firefox, tried it all.
![screen shot 2018-06-01 at 15 47 48](https://user-images.githubusercontent.com/23399217/40844043-2a372a44-65b3-11e8-96d5-19a459b0c711.png)

[2018-06-01 13:50] ahmadabdolsaheb commented on #17369
I could not reproduce it from Mac OS high sierra Chrome 66.0

[2018-06-01 13:58] JMVL64 commented on #17369
i have the same settings as you, MacOS high sierra and chrome 66.0, but i really don't see the certificates. Yesterday I did see them, but today they have disappeared for me

[2018-06-01 14:12] Ruvalter commented on #17365
Same problem here. Every time I try to access my curriculum I got a problem.
Clicking on the curriculum button I would go to a blank page and lots of errors in the console.
Now, when I click on the curriculum button from the settings page, I am redirected to the curriculum page but I am not logged in anymore. In that case I can not see my real progress and choose the next challenge

[2018-06-01 14:43] ahmadabdolsaheb commented on #17366
Thanks @Oddert for reporting and looking into this issue. The tests need to be refactored. I am closing this as a duplicate of #12699 so it could addressed properly.  Happy coding!

[2018-06-01 14:43] #17366 closed

[2018-06-01 14:55] ahmadabdolsaheb commented on #12699
The Challenge storing-data-with-sass-variables has needs to have its last two tests refactored to test for the use of the assigned variable

[2018-06-01 15:04] MarioLema commented on #17369
Same here, although it was showing at first, it disappeared after I had tried to claim the responsive certificate, got the message saying I was missing some steps, clicked to accept the academic responsibility policy and when I refreshed the page all the projects/certificates section was gone.

There's an open issue referring to the same thing: [https://github.com/freeCodeCamp/freeCodeCamp/issues/

[2018-06-01 15:29] Stevegolden12 commented on #17347
Mind if I try it?

[2018-06-01 15:53] ahmadabdolsaheb commented on #17352
Thank you for reporting this issue @OrionYEC

This is a standard message notifying you that this issue appears to be very similar to issue #17287 , so I am closing it as a duplicate.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-06-01 15:53] #17352 closed

[2018-06-01 16:13] ahmadabdolsaheb commented on #17283
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #17309, so I am closing it as a duplicate.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding

[2018-06-01 16:13] #17283 closed

[2018-06-01 16:14] ahmadabdolsaheb commented on #17288
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #17309, so I am closing it as a duplicate.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding

[2018-06-01 16:14] #17288 closed

[2018-06-01 17:16] raisedadead commented on #11060
No longer relevant to the current context. Closing as stale.

[2018-06-01 17:16] #11060 closed

[2018-06-01 17:18] #17365 closed

[2018-06-01 17:21] raisedadead commented on #17360
Hi @Ozarion @wahaj-47 can you share the general region where you are located? (Do NOT be specific).

We do not do anything to block it in any region, so it could be down to an `ad blocker` if you are using it (we don't run any ads at all btw.) OR the ISP, country or region restrictions.

[2018-06-01 17:35] raisedadead commented on #17359
Did you create an account with GitHub login previously? If yes then can you share your details privately be emailing me (mrugesh@freecodecamp.org) and team@freecodecamp.org

[2018-06-01 18:31] AwsmAbhishek opened #17372 "Sign in problem"
#### Describe your problem and - if possible - how to reproduce it
I can't sign in using my github account.

#### Add a Link to the page with the problem
https://www.freecodecamp.org

#### Tell us about your browser and operating system

* Browser Name: Google Chrome
* Browser Version: 66.0.3359.181
* Operating System: Windows 10

#### If possible, add a screenshot here

[2018-06-01 18:35] raisedadead commented on #17372
Did you sign up previously using GitHub? If yes, can you privately share your details to our support email team@freecodecamp.org

[2018-06-01 18:35] #17372 closed

[2018-06-01 18:35] raisedadead commented on #17372
Closing in favor of duplicate https://github.com/freeCodeCamp/freeCodeCamp/issues/17359

[2018-06-01 18:36] AwsmAbhishek commented on #17372
Well Thanks.

[2018-06-01 18:59] moyamanuel opened #17373 "Invalid test cases in 'Record Collections' challenge"
#### Describe your problem and - if possible - how to reproduce it
The first user story states: "After `updateRecord(5439, "artist", "ABBA"), artist should be "ABBA".
However, the property "artist" doesn't exist for object, ergo you would have to create an empty array  for that property and push the value to the array.

The test fails if the value of the property "artist" is in an array. Likewise,

[2018-06-01 19:01] ChristianBeach commented on #17369
I believe that this and issue #17278 are the exact same
https://github.com/freeCodeCamp/freeCodeCamp/issues/17278

[2018-06-01 19:04] smithfred0987 opened #17374 "problem running tests for Sum All Primes Intermediate Algorithm Scripting challenge"
#### Describe your problem and - if possible - how to reproduce it
When I run the tests for this challenge on my code, it fails me for the last test where num = 977 and the result is 73156.
The problem is my code does in fact get the correct result of 73156 when num = 977 and I run this code external to FCC, but the FCC run test still fails me.
I started a Forum topic at FCC on this as per the fir

[2018-06-01 19:22] #17359 closed

[2018-06-01 19:26] raisedadead commented on #17359
You can login to your accounts with the email that you have on records:

1. Click the "sign in" button in the upper right hand corner on the navigation bar.
2. Enter your email.
3. Enter the sign in code you get in your email.
4. Click "Learn" in the navigation bar.

If you are unable to access your email inbox where you would receive the code, let us know by emailing our support account team@free

[2018-06-01 19:26] RiaClay opened #17375 "Dropdown for tests not showing in codepen."
#### Describe your problem and - if possible - how to reproduce it
I am working on the Build A Tribue Page project and when I forked the Test Suite Template, it does not have a drop down box to select the test. I am using the Chrome browser.

#### Add a Link to the page with the problem
https://codepen.io/SherriaClay/pen/dKYNZM
https://learn.freecodecamp.org/responsive-web-design/responsive-web-de

[2018-06-01 19:34] planetofcode commented on #17359
you're telling the temporary solution but this issue haven't resolved yet.

[2018-06-01 19:43] RiaClay commented on #17375
When trying to access the CDN link, it says that the CDN is blacklisted. I'm guessing that may have something to do with it.

![image](https://user-images.githubusercontent.com/35746994/40860185-1c2b0122-65aa-11e8-88ad-6921f73a87a3.png)

[2018-06-01 20:12] raisedadead commented on #17359
Hi @planetofcode

This is not a temporary solution. We have disabled new sign ups via GitHub completely to adhere to the privacy guidelines.

So, the only way you can access your user account is by using the email that you have on records with us.

But If you DID create an account on freeCodeCamp via GitHub you can still sign in thru GitHub and update your email.

[2018-06-01 20:13] QuincyLarson commented on #17375
I just confirmed this. GitHub seems to have blacklisted our GitCDN link: https://gitcdn.link/repo/freeCodeCamp/testable-projects-fcc/master/build/bundle.js

We're looking for another place to host this real quick.

[2018-06-01 20:15] huyenltnguyen commented on #17325
@clarkngo Sorry, looks like someone fixed it already (https://github.com/freeCodeCamp/freeCodeCamp/pull/17355)
\cc @ahmadabdolsaheb

[2018-06-01 20:27] planetofcode commented on #17359
previously thousands of people used this Github sign in, now you ask them to mail you to set up the account, isn't it? @raisedadead

[2018-06-01 20:28] udidol commented on #17343
when I deleted the id attribute it worked.

[2018-06-01 20:30] huyenltnguyen commented on #17346
Oh cool! Glad you could find a way around it.

[2018-06-01 20:49] yoizfefisch opened #17377 "Typo in ES6 - Use class Syntax to Define a Constructor Function"
#### Describe your problem and - if possible - how to reproduce it
The example codes have a typo:
`new spaceShuttle` should be `new SpaceShuttle` capitalized.

#### Add a Link to the page with the problem
[ES6 - Use class Syntax to Define a Constructor Function](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-class-syntax-to-define-a-constructor-function)

[2018-06-01 20:52] #17375 closed

[2018-06-01 20:53] jonathan-grah commented on #17343
@udidol, yeah that is correct.
The point is that whether or not there is an `id` attribute, the tests should still pass if the closing tag is present.

[2018-06-01 21:00] raisedadead commented on #17359
Nope. we do not. if YOU have an account with us that was created using GitHub then you can still use it to sign in.

[2018-06-01 21:19] SaintPeter opened #17379 "ES6 - Write Higher Order Arrow Functions - About Chaining, Needs Clarification"
#### Describe your problem and - if possible - how to reproduce it
Challenge ES6 - Write Higher Order Arrow Functions
The examples show moving from normal `function` to the ES6 arrow function.  However, the challenge is about "chaining" multiple functions together.  It is super unclear how the example code would lead one to chaining a filter and map function together.  This is really a better disc

[2018-06-01 21:20] Ozarion commented on #17360
Thanks for replying @raisedadead My general region is Karachi, Pakistan if that helps, and I'm not using any sort of ad blocker or proxy. My ISP apparently only blocks major adult sites and nothing else. I hope this helps.

[2018-06-01 21:27] Xivik commented on #17278
I've got the exact same issue.

Shortly after the update, I could see all the different certificates and links in my settings page. But that page is now completely broken, nothing saves, I can’t submit changes, fill in my name and city and stuff like that. The overview of the certificates and challenges is also completely missing, I can only see my basic info, and the signed academic honesty agree

[2018-06-01 21:28] Xivik commented on #17369
I've got the exact same issue.

Shortly after the update, I could see all the different certificates and links in my settings page. But that page is now completely broken, nothing saves, I can’t submit changes, fill in my name and city and stuff like that. The overview of the certificates and challenges is also completely missing, I can only see my basic info, and the signed academic honesty agree

[2018-06-01 21:31] Stanleynd commented on #5922
If you can remember how you declare myName in the previous lesson and you are ask to out concatenate it with it some strings. e.g:
1.var myName = "John.";
2.var myStr = " Loves guns."; //some strings
3. myName += myStr; //concatenationation
4. John loves guns .//Output

On the next lesson you're expected to do the same but this time is (Appending Variables to Strings) see code below.
1. var someAd

[2018-06-01 21:35] C0nst4nt1ne85 opened #17380 "The test CDN link is blacklisted"
The link https://gitcdn.link/repo/freeCodeCamp/testable-projects-fcc/master/build/bundle.js it is not working. No tests show up on codepen anymore.

* Browser Name: Chrome
* Browser Version: Version 67.0.3396.62 (Official Build) (64-bit)
* Operating System: Windows 10

#### If possible, add a screenshot here

![image](https://user-images.githubusercontent.com/32928319/40864449-8f3aad00-65fc-11e8-8

[2018-06-01 21:39] smehta1023 commented on #12979
@Manish-Giri We should add a link to id selectors as a refresher.

[2018-06-01 22:04] raisedadead commented on #17360
Ah.. @Ozarion thanks we have been getting reports of some issues of network issues with your general region.

Let me get back to you.

[2018-06-01 22:08] raisedadead commented on #17380
Hi thanks for reporting. We have got a fix ready.. it should be live in a few hours. Meanwhile you can use this <https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js>

[2018-06-01 22:08] raisedadead commented on #17380
Fixed via https://github.com/freeCodeCamp/freeCodeCamp/pull/17376

[2018-06-01 22:08] #17380 closed

[2018-06-01 22:14] wildhamster26 commented on #17325
I think I've found it, but someone had beat me to it (especially as mentioned above).
As a learning experience, though, I wonder if I did the right thing:
I opened the link to the page with the error, went to the dev tools, looked at the sources and figured where it's called from, generally.
Than I found a json file corresponding to that name and found the exercise as an object.

I think I found t

[2018-06-01 22:47] raisedadead commented on #17379
Look who is here..! I know this tracker is strictly for issue related discussion, but its awesome to see you here.

Thanks for the report.

[2018-06-01 22:54] raisedadead commented on #17347
The app is a [Gatsby](https://www.gatsbyjs.org/) based app https://github.com/freeCodeCamp/search-assets.

You should look at the `www` directory and see what we have done for the [guide](https://github.com/freeCodeCamp/guide) or the [learn](https://github.com/freeCodeCamp/learn) projects.

[2018-06-01 22:56] raisedadead commented on #17347
@beaucarnes I think that static background with the faded logo is also horrendous. Should we replace that with something else? Like maybe quotes as we do on the welcome page for main site?

[2018-06-01 22:59] raisedadead commented on #17201
Closing.. we do not have password based authentication anymore. You will get a sign in code or a link directly on your email every time you sign in.

[2018-06-01 22:59] #17201 closed

[2018-06-01 23:02] ChristianBeach commented on #17369
@Xivik We have all the same problems, however I have never uploaded a portfolio item.

[2018-06-01 23:10] raisedadead commented on #12431
We are happy to announce that we have switched to [Monaco](https://microsoft.github.io/monaco-editor/) editor on our learn platform. It has a11y built in.

We absolutely love CodeMirror and thanks to @marijnh for the awesome work that you and the team has done. Its been the de facto editor for all these years. We would still love to use it in future projects, because its just so light and simple.

[2018-06-01 23:10] #12431 closed

[2018-06-01 23:12] #12645 closed

[2018-06-02 00:14] iliasTsiortas opened #17382 "Predefined user account for local login and development setup"
I had a problem with mongo that i didnt know how to solve and i cloned and set up the local app again.When i went to localhost and i clicked on sign in , it redirected me to
https://stuff/authorize?response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fauth0%2Fcallback&scope=openid%20email&client_id=stuff.

I didnt do anything different from when i first set up my local app other t

[2018-06-02 00:37] dougBelcher opened #17383 "Where did all my progress go?"
This is the first time I have tried to log in since the update and I'm not getting to the correct profile because all of my progress is gone.  It has been a while since I worked steadily on it but now it is gone?

https://www.freecodecamp.org/

#### Tell us about your browser and operating system

* Browser Name: Google Chrome
* Browser Version: Version 66.0.3359.181 (Official Build) (64-bit)
* Op

[2018-06-02 01:26] huyenltnguyen commented on #17325
@wildhamster26 I'm not sure whom you were asking, but I'm going to answer anyway.

Yes, if I'm totally new to the app, that's what I would do, too,.

However, if you setup the app on your local machine, looking things up will get easier and cooler.
I got this repo running locally already, all I need to do is to use the `git grep <string>` command, it will find all the files that contain the string

[2018-06-02 01:35] RufusMcdoogan commented on #17317
Same boat as many.... worked through the tutorials and basic front-end dev aspects and found after all my efforts...an "update" has not only erased my progress but removed my account entirely as I had it lnked to my google account and had my github linked to it as well. ALL GONE. Definitely not a sound approach to a website update.

[2018-06-02 02:22] alhazen1 opened #17384 "Example code in challenge causes tests to fail - Manipulate Arrays With shift()"
Challenge Basic JavaScript - Manipulate Arrays With shift()
This challenge contains example code in code window. That example code causes the tests to fail.

Error message in console window pertaining to example code
**removedFromOurArray is not defined**

Line 3 is
removedFromOurArray = ourArray.shift();

problem resolved by changing line 3 to
var removedFromOurArray = ourArray.shift();

#### Add

[2018-06-02 02:44] huyenltnguyen commented on #17317
Hi guys, I'm really sorry about the inconvenience.
Just want to be clear, was your progress on the main freecodecamp.org or the beta.freecodecamp.org?
I don't know if it has changed, but as far as I know, your progress on these sites were stored separately, and only the one on the main is kept. Your progress on beta probably got deleted after the roll-out.

In order to claim a certificate, you nee

[2018-06-02 03:03] emdashv commented on #17317
Mine was on freecodecamp.com. I didn’t even know about beta.freecodecamp.com
until this update that wiped out my progress.

On Fri, Jun 1, 2018 at 10:47 PM Huyen Nguyen <notifications@github.com>
wrote:

[2018-06-02 03:10] clarkngo commented on #17325
oh that's fine :) i'll have my chance sooner or later. @huyenltnguyen

[2018-06-02 03:19] Matthew-Burfield opened #17385 "Basic CSS lesson with typos in tests"
#### Describe your problem and - if possible - how to reproduce it
There is a type in the challenge "Basic CSS - Use CSS Variables to change several elements at once"

The tests are asking the user to update the colours for `--penguin-skin` three times, where it should be `--penguin-skin`, `--penguin-belly` and `--penguin-beak` respectively

#### Add a Link to the page with the problem
https://lea

[2018-06-02 03:47] homerrowsky commented on #16448
I think the title of the challenge and the use of `<em>` to italicize is completely wrong and should be renamed to:
**Applied Visual Design: Using italic font-style to Italicize Text**

And change the text from:

to

And so, the use of `<em>` could have a more adequate appearance in the Applied Accessibility Section with its own challenge.

[2018-06-02 06:13] C0nst4nt1ne85 commented on #17363
I totally invested some time to recreate my older projects with all the new user stories, but this did not fix the problem.
It still says that I have not completed the necessary steps.

![claim](https://user-images.githubusercontent.com/32928319/40871471-ff0fda36-6644-11e8-9138-b75ce60ae405.png)
![tribute_page](https://user-images.githubusercontent.com/32928319/40871473-ff2f0b2c-6644-11e8-8b84-da6

[2018-06-02 06:32] thatnini commented on #17384
Duplicate of [#17287](https://github.com/freeCodeCamp/freeCodeCamp/issues/17287)

[2018-06-02 06:53] planetofcode commented on #17359
Github sign in is not working at all. It is showing this error "New accounts can only be created using an email address." message. :)

[2018-06-02 07:08] nprizal commented on #17385
Hi @Matthew-Burfield, I just ran into this issue too. I think you can found the code on `/seed/challenges/01-responsive-web-design/basic-css.json`. It's from line 4303.

[code]

[2018-06-02 08:01] seekingcat opened #17386 "Unable to use some keys of the iPad smart keyboard on lessons"
#### Describe your problem and - if possible - how to reproduce it
When using the site on Safari and Chrome on an iPad pro, I am no longer able to use some keys like arrow keys to navigate the lesson pane, which means I am stuck touching the screen to position my cursor, which isn't incredibly accurate. I also cannot use the 'press to move the cursor' action on the lesson pane so can't place my cu

[2018-06-02 08:17] Chalarangelo opened #17387 "Debugging - Understanding the Differences between the freeCodeCamp and Browser Console / Firefox bug"
#### Describe your problem and - if possible - how to reproduce it
In the JS course, the **Debugging - Understanding the Differences between the freeCodeCamp and Browser Console** lesson doesn't properly evaluate on Firefox, showing `invalid regexp group` in the bottom console. On Chrome, however, it works just fine. The issue has to do with the regexp used to check `console.clear()`.

#### Add a

[2018-06-02 08:38] raisedadead commented on #17386
Hi @seekingcat

Thanks a lot for the issue report, and we are sorry to hear about the bad UX.
We currently have almost no support for Mobile devices other than those with standard Keyboard, Mouse/Touchpad

I understand this is an annoyance. But there might be a while before we can support our platform on all devices. Until then I would recommend you to be using the platform on a desk device.

I am

[2018-06-02 08:58] Ozarion commented on #17360
@raisedadead I see. Thank you.

[2018-06-02 09:03] Ozarion commented on #17360
The issue seems to be resolved now. I can access learn.freecodecamp.org now. Thank you

[2018-06-02 09:13] raisedadead commented on #17360
Oh.. okay great. Did you have to do anything specific to address this issue?

[2018-06-02 09:45] raditotev commented on #17323
I found another issue raised during beta, related to this one that helped me submit my solutions. More information here #13095. In short, if you're using Glitch in order to complete the lessons, first make sure you open the Glitch project from the [link](https://glitch.com/#!/import/github/freeCodeCamp/boilerplate-npm) provided in **Introduction to the Managing Packages with npm Challenges**. Once

[2018-06-02 09:45] #17323 closed

[2018-06-02 10:01] aleksmn commented on #17278
Seems like I have absolutely same problem. Google Chrome console:
![fcc-issue](https://user-images.githubusercontent.com/18387112/40873207-cc8ee26c-6664-11e8-8d44-c579bfb09aad.png)

[2018-06-02 10:02] Shuin-San commented on #17359
well... i understand the changes

but i still cant access my account when i use my email...

using my email logs me into a new account with 0 progress

how do i sign in to my old account -> this is my old account
https://www.freecodecamp.org/portfolio/shuin-san

when i use the new login method (email shuingr@gmail.com ) i get to a new
account with 0 progress.....

thanks

2018-06-02 10:30 GMT+02:0

[2018-06-02 10:13] ansonlowzf commented on #17063
He means <audio id="sound" controls><source> </audio> take away the id="sound" and leave controls attributes only

Hope its help

[2018-06-02 11:28] #17336 closed

[2018-06-02 11:28] #17363 closed

[2018-06-02 13:03] rohitdwivedula opened #17391 "Basic CSS Section: Issue with lesson content/instructions"
#### Problem Description

There’s a mistake in the lesson (content) on using CSS variables to change several elements at once. The instructions there ask you to change the value of the same variable --penguin-skin thrice, from gray to white to orange. Doing that will cause your code to be rejected time after time after time.

What the assignment expects us to do:
-     change penguin-skin to gray

[2018-06-02 14:14] beaucarnes commented on #17347
Yeah, I like the idea of quotes like the main page instead of the logo.

@Stevegolden12 Try it! Also, if your up for it, try adding quotes like in the main page. You can use similar code.

[2018-06-02 15:17] JonDevOps commented on #17357
To begin, when I click the menu button, the dropdown will open,  then when i reclick the menu button, the drop-down menu refuses to close. Also,  is there a way to find all the example.freecodecamp.org links?

[2018-06-02 16:16] Dave-Melia opened #17393 "Basic HTML and HTML5 - Create a Set of Checkboxes"
#### Describe your problem and - if possible - how to reproduce it
This might be a global problem and not isolated to the lesson itself.

On the lesson "Basic HTML and HTML5 - Create a Set of Checkboxes", I accidentally set an 'id' attribute as 'it' like this:

[code]

However, the the tests ran and returned the following:

[code]

It look me a while to figure out what the problem was because I wa

[2018-06-02 16:17] #17393 closed

[2018-06-02 17:10] Shuin-San commented on #17359
hmm thats strange. my github was a different mail... now everything is
fine...

thanks !

Στις Σάβ, 2 Ιουν 2018, 14:25 ο χρήστης mrugesh mohapatra <
notifications@github.com> έγραψε:

[2018-06-02 17:23] anmolthedeveloper opened #17394 "Wrong description on basic css lesson use-css-variables-to-change-several-elements-at-once"
#### Describe your problem and - if possible - how to reproduce it
Please correct the wrong todo list as it says to change only --penguin-skin variable all three times
but we have to change

 --penguin-skin: white;
    --penguin-belly: gray;
    --penguin-beak: yellow;
these three

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/basic-css/use-css-v

[2018-06-02 17:29] sdabhi23 opened #17395 "Incorrect link on the JSON API Challenge"
#### Describe your problem and - if possible - how to reproduce it

The relative link for API used in the [JSON APIs and Ajax - Get JSON with the JavaScript XMLHttpRequest Method](https://learn.freecodecamp.org/data-visualization/json-apis-and-ajax/get-json-with-the-javascript-xmlhttprequest-method) challenge leads to https://learn.freecodecamp.org/json/cats.json which returns a **404**.

While us

[2018-06-02 17:49] sdabhi23 commented on #17383
Hey @dougBelcher you can check your previously completed challenges on the [Curriculum Page](https://learn.freecodecamp.org/) after logging in. Also you can view the same on your profile page too on the link `https://www.freecodecamp.org/portfolio/:username`.

Your legacy certifications and progress on the related projects is available under Legacy Certifications section on the [settings page](htt

[2018-06-02 18:26] ebrown21 opened #17396 "Easy fix, example variable not declared in Basic JavaScript"
Found a problem in Basic JavaScript in Manipulate Arrays with shift(). The removedFromOurArray variable has not been declared as a variable. I resetted the code in order to see if I deleted it on accident, the problem persisted.

![screenshot 2018-06-02 at 14 22 05](https://user-images.githubusercontent.com/19374761/40879616-cc246052-6670-11e8-8f28-bc1095a8fab0.png)

[2018-06-02 18:30] #17396 closed

[2018-06-02 18:54] #17385 closed

[2018-06-02 19:08] AlanMamphs opened #17397 "Unable to claim certifications even after adding a name on the portfolio"
#### Problem Description
When I try to view my certificate, it shows the message:
"This user needs to add their name to their account in order for others to be able to view their certification."
Although, I have updated my name, and tried to access my certificates afterwards.
This concerns both, legacy front end certificate and Javascript Algorithms and Data Structures certification.
All of the pr

[2018-06-02 19:38] raisedadead commented on #17397
Hi @AlanMamphs thanks for reporting this. Sorry about your experience. We are looking at this on priority.

[2018-06-02 19:41] dougBelcher commented on #17383
Thanks for the info.  I must have been logging incorrectly because I can now see all my progress.

[2018-06-02 19:41] #17383 closed

[2018-06-02 20:02] raisedadead commented on #17395
This is an easy fix, we need to move the `json` file over to https://github.com/freeCodeCamp/learn and the make the linking relative as before.

Please open a PR on the Learn repo.

[2018-06-02 20:17] iamzakofficial opened #17398 "Unable to open curriculum(learn.freecodecamp.org) after clicking Go to my curriculum(freecodecamp.org)"
![image](https://user-images.githubusercontent.com/9195137/40880515-e41a3e56-66cb-11e8-8234-394be79a4b7f.png)

[2018-06-02 20:22] mohammadhani110 opened #17399 "I want to learn html,css and javascript but the website is not loading !"
![asd](https://user-images.githubusercontent.com/34722336/40880555-b85d5d92-66cc-11e8-89c0-782db20662cb.PNG)
![capture](https://user-images.githubusercontent.com/34722336/40880556-b8903c94-66cc-11e8-90c2-6a67f01b9189.PNG)

[2018-06-02 20:39] Kiyani-g commented on #17398
same problem

[2018-06-02 20:45] raisedadead commented on #17399
I think this is a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/17360 Can you confirm your general region as in the other issue thread?

[2018-06-02 20:45] MarkKGit commented on #16358
Would also like to report this is still an issue, map works for the solution.

[2018-06-02 20:46] raisedadead commented on #17398
Is this a possible duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/17360? Can you guys confirm you general region as in the other thread?

[2018-06-02 20:46] #17398 closed

[2018-06-02 20:46] #17399 closed

[2018-06-02 20:47] iamzakofficial commented on #17398
i tried onProxy, it works on proxy.

[2018-06-02 20:49] raisedadead commented on #17360
![img](https://user-images.githubusercontent.com/34722336/40880555-b85d5d92-66cc-11e8-89c0-782db20662cb.PNG)

![img](https://user-images.githubusercontent.com/34722336/40880556-b8903c94-66cc-11e8-90c2-6a67f01b9189.PNG)

[2018-06-02 20:49] raisedadead commented on #17360
![img](https://user-images.githubusercontent.com/9195137/40880515-e41a3e56-66cb-11e8-8234-394be79a4b7f.png)

[2018-06-02 20:51] iamzakofficial commented on #17360
@raisedadead yes my region is also Pakistan and it works on proxy only.

[2018-06-02 20:53] wahaj-47 commented on #17360
Same region same issue

[2018-06-02 20:57] Kiyani-g commented on #17398
how proxy works ? i still have problem

[2018-06-02 20:57] Kiyani-g commented on #17398
how to use proxy?

[2018-06-02 21:17] iamzakofficial commented on #17398
install chrome extension browsec, turn it on and then open freecodecamp

[2018-06-02 22:05] RufusMcdoogan commented on #17317
no i did NOT have an account on the beta

On Fri, Jun 1, 2018 at 11:08 PM, meghan ventura <notifications@github.com>
wrote:

--

"Whatever you are, be a good one."

Dan Burke

[2018-06-02 23:18] petercr commented on #17309
#### I have experienced **this** error myself on both on Windows 10 build: 17134.8 running
#### Chrome version 67.0.3396.62 (_stable build_)

And on Ubuntu 16.04 LTS with
Chrome version 67.0.3396.62

Here's a screen shot of the Dev Tools panels and the `errors` that it is returning.
![freecodecamp-errorlog](https://user-images.githubusercontent.com/26460352/40881594-a838a8ec-6698-11e8-912d-c56b9aa

[2018-06-02 23:32] QuincyLarson commented on #17382
@iliasTsiortas We're working on a workaround so you can authenticate in development mode without needing to worry about Auth0

@raisedadead is working on updating the Contributing.md file with details as soon as he's implemented the fix - hopefully in the next 48 hours.

[2018-06-03 00:01] iliasTsiortas commented on #17382
@QuincyLarson great thanks!

[2018-06-03 00:13] ooade opened #17402 "Update the PropTypes challenge to use React 16"
#### Describe your problem and - if possible - how to reproduce it
Introduce the 'prop-types' package as regards the one from v15+

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/front-end-libraries/react/use-proptypes-to-define-the-props-you-expect/

[2018-06-03 00:21] huyenltnguyen commented on #17317
@emdashv @RufusMcdoogan Thanks for the response.
Silly question, but just to be sure: Did you use the same email address to sign in?
I just saw an update in Quincy's post:

If you used other sign in methods apart from email, give the above link a try, maybe it'll work out for you.

[2018-06-03 00:28] AryanJ-NYC commented on #17341
Clicking the freeCodeCamp brand icon on the top-left (on the navbar) continuously brings me back to a blank, even after a hard refresh.

![screen shot 2018-06-02 at 8 24 50 pm](https://user-images.githubusercontent.com/8263430/40882006-7b6bf85e-66a3-11e8-9d6f-41803faf9515.png)

[2018-06-03 01:48] kevcomedia opened #17403 "ES6 - Use getters and setters to Control Access to an Object: Confusing?"
#### Describe your problem and - if possible - how to reproduce it
The exercise can pass with just one line of code.
[code]
It doesn't test what it should be testing.

I think the instructions can be made clearer. This is what I have in mind:

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-getters-and-setters-to-control

[2018-06-03 02:10] akkatracker opened #17404 "Typo in instructions for use-css-variables-to-change-several-elements-at-once"
#### Describe your problem and - if possible - how to reproduce it
As can be seen in the screenshot "declare" is spelled wrong as "declar".

In addition, the variable names are wrong, first is correct however the second should say `--penguin-belly` and the third `--penguin-beak`  - should be fixed at the same time, covered in #17391

A good issue for first timers!

#### Add a Link to the page with

[2018-06-03 02:17] akkatracker opened #17405 "Basic CSS - Use a custom CSS Variable - Typo in tests"
#### Describe your problem and - if possible - how to reproduce it
`penguin` is spelled incorrectly in the first two tests as `pengiun`

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/basic-css/use-a-custom-css-variable

#### Tell us about your browser and operating system
Chrome Canary Windows 10

#### If possible, add a screenshot here
![image](

[2018-06-03 02:19] akkatracker commented on #17394
In addition `declar` is spelled wrong, which is mentioned in this issue: #17404

If you'd like to update your description, I'll close my issue.

[2018-06-03 03:57] kevcomedia opened #17406 "Basic HTML and HTML5 - Nest an Anchor Element within a Paragraph: First test tracks the href of the wrong <a> element"
#### Describe your problem and - if possible - how to reproduce it
The first test ("You need an `a` element that links to `http://freecatphotoapp.com`.") is testing the first `a` element, not the one that the user is supposed to type. It is marked as correct even though the user typed the wrong `href` value.

Somehow this interferes with the 4th and 5th tests.

[code]

#### Add a Link to the page

[2018-06-03 04:10] alhazen1 commented on #17384
Oops - did not see duplicate. Closing this one.

[2018-06-03 04:10] #17384 closed

[2018-06-03 05:09] #17394 closed

[2018-06-03 06:00] danchann commented on #15662
Having the same problem, it won't pass even with bluchill's suggestions.

[2018-06-03 07:10] rajatkantinandi commented on #17257
@ojongerius
Thanks.
Your solution works fine.
Just after saving the file & seeding the db we have to restore the file to original version otherwise the address localhost:3000 shows "Can't get /"
I think this step should be mentioned on contributing.md for now until there's a permanent fix.

[2018-06-03 09:27] vikaschauhan opened #17408 "Not passing test- Store Data with Sass Variables."
#### Describe your problem and - if possible - how to reproduce it
On Sass Section: In Introduction to Sass Challenges. First Challenge - Sass - Store Data with Sass Variables. I feel i have created solution as per instruction by creating a Sass variable and replacing color for Class blogpost and element h2 from red to variable $text-color whose value set to red.

#### Add a Link to the page with

[2018-06-03 09:45] bluchill commented on #15662
Hi danchann,

can I see your code?

[2018-06-03 09:50] danchann commented on #15662
`<style type='text/sass'>

@for $j from 1 to 6 {
  .text-#{$j} {font-size: 10px*$j;}
}

</style>

<p class="text-1">Hello</p>
<p class="text-2">Hello</p>
<p class="text-3">Hello</p>
<p class="text-4">Hello</p>
<p class="text-5">Hello</p>`

[2018-06-03 09:51] bluchill commented on #15662
Sometimes even after deleting **all** the spaces (with mine I only had to delete spaces inside the curly braces) try and refresh the page a couple of times and most importantly you have to use "to" not "through" as they are asking you to do in the exercise. Eventhough the output is the same I find mine only passes with "to" - as long as you know the difference between the two.

[2018-06-03 09:53] bluchill commented on #15662
Yup your code looks fine to me, try even deleting the space after "font-size:"  before the 10px...and refresh the page.

[2018-06-03 09:54] danchann commented on #15662
![image](https://user-images.githubusercontent.com/3872230/40885340-f4a1957c-6756-11e8-8408-cae216468b4d.png)

Strange!

[2018-06-03 10:00] bluchill commented on #15662
Hmm that's wierd...I was about to ask you if your output is correct (as in the heading are getting bigger as the go down the list?).
But yours says only your first element is not conforming. Mine usually said all of them were not correct (as in they did not have the green ticks) - but my output was showing correctly what was required, so I just kept refreshing and deleting  spaces.

[2018-06-03 10:06] bluchill commented on #15662
danchann you also seem to have a inverted coma in front of your first style...hope it just made it here accidentally and it is not in your code.

[2018-06-03 12:02] JMVL64 opened #17410 "Cannot add name to portfolio"
#### Describe your problem and - if possible - how to reproduce it
I want to add my name to the portfolio, but hitting save results in an error for me in the console.

#### Add a Link to the page with the problem
https://www.freecodecamp.org/settings

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version: 66
* Operating System: MacOs

#### If possible, add

[2018-06-03 13:06] aenkirch commented on #16358
Considering I have the same problem on the stable version of ES6 on FCC that was just deployed earlier this week, I have some doubt considering my code.. Can someone help me ?

Here is my code : https://repl.it/repls/DizzyNiftyLocatorprogram

[2018-06-03 13:53] QuincyLarson commented on #12173
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:53] #12173 closed

[2018-06-03 13:53] QuincyLarson commented on #11264
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:53] #11264 closed

[2018-06-03 13:54] QuincyLarson commented on #13761
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:54] #13761 closed

[2018-06-03 13:54] QuincyLarson commented on #13774
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:54] QuincyLarson commented on #13698
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:54] #13698 closed

[2018-06-03 13:54] QuincyLarson commented on #13007
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:54] #13007 closed

[2018-06-03 13:54] QuincyLarson commented on #13112
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:54] #13112 closed

[2018-06-03 13:55] QuincyLarson commented on #14906
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:55] #14906 closed

[2018-06-03 13:55] QuincyLarson commented on #13356
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:55] #13356 closed

[2018-06-03 13:55] QuincyLarson commented on #12757
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:55] #12757 closed

[2018-06-03 13:55] QuincyLarson commented on #14630
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:55] #14630 closed

[2018-06-03 13:56] QuincyLarson commented on #15386
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:56] #15386 closed

[2018-06-03 13:56] QuincyLarson commented on #15390
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:56] #15390 closed

[2018-06-03 13:56] QuincyLarson commented on #11262
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:56] #11262 closed

[2018-06-03 13:57] QuincyLarson commented on #15719
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:57] #15719 closed

[2018-06-03 13:57] QuincyLarson commented on #15747
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:57] #15747 closed

[2018-06-03 13:57] QuincyLarson commented on #13561
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:57] #13561 closed

[2018-06-03 13:58] #12751 closed

[2018-06-03 13:58] QuincyLarson commented on #12751
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:58] QuincyLarson commented on #15701
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:58] #15701 closed

[2018-06-03 13:58] QuincyLarson commented on #15616
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:58] #15616 closed

[2018-06-03 13:58] #15732 closed

[2018-06-03 13:58] QuincyLarson commented on #15753
This has been implemented in the new learning platform.

[2018-06-03 13:58] #15753 closed

[2018-06-03 13:59] QuincyLarson commented on #14987
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:59] QuincyLarson commented on #15862
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:59] #15862 closed

[2018-06-03 13:59] QuincyLarson commented on #11057
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 13:59] #11057 closed

[2018-06-03 14:00] #15867 closed

[2018-06-03 14:01] QuincyLarson commented on #11263
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:01] #11263 closed

[2018-06-03 14:01] QuincyLarson commented on #9402
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:01] #9402 closed

[2018-06-03 14:01] QuincyLarson commented on #14559
This has been taken care of. There are no longer any passwords in the database.

[2018-06-03 14:01] #14559 closed

[2018-06-03 14:03] VoodooChum commented on #17287
I had the same issue when I reached this lesson 2 days ago and fixed line 3 by adding var in front of removedFromOurArray.  I didn't want to modify code above the line however, the test would not pass otherwise.

[2018-06-03 14:03] QuincyLarson commented on #15615
This challenge could still use a redesign to make it clearer and easier for a beginner to complete.

[2018-06-03 14:04] QuincyLarson commented on #15840
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:04] #15840 closed

[2018-06-03 14:04] QuincyLarson commented on #13613
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:04] #13613 closed

[2018-06-03 14:04] QuincyLarson commented on #4201
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:04] #4201 closed

[2018-06-03 14:05] QuincyLarson commented on #12698
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:05] #12698 closed

[2018-06-03 14:05] QuincyLarson commented on #13409
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:05] #13409 closed

[2018-06-03 14:05] QuincyLarson commented on #14992
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:05] #14992 closed

[2018-06-03 14:05] QuincyLarson commented on #13754
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:05] #13754 closed

[2018-06-03 14:07] QuincyLarson commented on #14595
@gwenf We just launched our new learning platform and our expanded curriculum (1,000+ new coding challenges). We'd still be very interested in React Native challenges. You may be able to teach some React Native concepts right on freeCodeCamp, and could add supplemental / additional content using REPL.it on the freeCodeCamp Guide. Let me know your thoughts on this :)

[2018-06-03 14:08] QuincyLarson commented on #15099
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:08] #15099 closed

[2018-06-03 14:08] QuincyLarson commented on #15826
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:08] #15826 closed

[2018-06-03 14:08] QuincyLarson commented on #15878
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:08] #15878 closed

[2018-06-03 14:08] QuincyLarson commented on #15818
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:08] #15818 closed

[2018-06-03 14:08] QuincyLarson commented on #16089
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:08] #16089 closed

[2018-06-03 14:09] QuincyLarson commented on #16112
@kevcomedia Now that our newly updated platform is live, are we able to fix this issue? We would welcome your help with it :)

[2018-06-03 14:10] QuincyLarson commented on #16108
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:10] #16108 closed

[2018-06-03 14:10] #16156 closed

[2018-06-03 14:10] QuincyLarson commented on #16156
We will implement something like this in the future. For now we're going to keep the new platform simple.

[2018-06-03 14:10] QuincyLarson commented on #16111
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:10] #16111 closed

[2018-06-03 14:11] QuincyLarson commented on #16044
Is this still an issue with the new learning platform?

[2018-06-03 14:12] QuincyLarson commented on #16044
@denzuko @walllFlower Is this still an issue on the new learning platform? (https://learn.freecodecamp.org)? If so, would you still be interested in helping fix it?

[2018-06-03 14:13] QuincyLarson commented on #14234
@Flarp We just launched the new freeCodeCamp curriculum. Would you still be interested in helping design a few challenges that introduce these concepts?

[2018-06-03 14:20] MarkKGit commented on #16358
Push doesn't work in this exercise (or it hasn't or me and seems like
others), use the .map method to pass the test.

*Mark Kleinhaus*
*mkleinhaus@gmail.com <mkleinhaus@gmail.com>*
*206-234-4887*

On Sun, Jun 3, 2018 at 6:10 AM, aenkirch <notifications@github.com> wrote:

[2018-06-03 14:24] cj-sv opened #17411 "Extra padding at the bottom of the editor page after moving to the next challenge."
#### Describe your problem and - if possible - how to reproduce it

Extra padding seems to appear at the bottom of the page after finishing a challenge and moving on to the next. The extra padding disappears when the page is refreshed. Occurs and reproducible on some challenges.

Used screen resolution is 1366x768.

#### Add a Link to the page with the problem

https://learn.freecodecamp.org

####

[2018-06-03 14:27] QuincyLarson commented on #8096
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:27] #8096 closed

[2018-06-03 14:27] #16213 closed

[2018-06-03 14:27] #16220 closed

[2018-06-03 14:28] QuincyLarson commented on #16231
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:28] #16231 closed

[2018-06-03 14:28] QuincyLarson commented on #16256
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:28] #16256 closed

[2018-06-03 14:28] QuincyLarson commented on #15967
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.