[2022-10-29 00:54] hanif2061400 opened #48303 ".github/ISSUE_TEMPLATE/01--issues-with-coding-challenges.yml"

[2022-10-29 04:43] b-van-b opened #48307 "Sudoku Solver example program accepts invalid Sudoku puzzles"
### Describe the Issue

The example Sudoku Solver accepts erroneous input and produces an incorrect "solution," rather than rejecting it.

### Affected Page

https://sudoku-solver.freecodecamp.rocks/

### Your code

Input the following and click "solve:"
[code]

### Expected behavior

It should produce the following JSON response: `{ "error": "Puzzle cannot be solved" }`

### Screenshots

This is

[2022-10-29 05:20] MayurSMahajan commented on #41373
Alright! I have added curriculum and removed the platform icons.

[2022-10-29 06:29] #47118 closed

[2022-10-29 07:22] Sboonny opened #48310 "Typo on how to moderator handbook document"
In the document, there is a sentence saying this:

But this section is talking about dealing with solutions [in this section](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/docs/moderator-handbook.md#dealing-with-posted-solutions), it should be changed to this:

 here is the file

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/docs/moderator-handbook.md#:~:text=If%20a%20user%20crea

[2022-10-29 09:54] #48303 closed

[2022-10-29 10:31] synoraeusebio commented on #48310
Hi there! I'm definitely a first-timer and would like to fix this. You can assign this issue to me.

[2022-10-29 10:36] Sboonny commented on #48310
Hi @synoraeusebio, feel free to open a pull request after you have read our contribution guide

[2022-10-29 13:08] saursagar commented on #48310
Hey there! I would like to fix this issue,you can assign this to me.

[2022-10-29 13:11] Sboonny commented on #48310
Hey @saursagar, feel free to open a pull request after you have read our contribution guide

[2022-10-29 13:53] DeiseCristiane opened #48325 "Add one more form of authentication by facebook."
### Is your feature request related to a problem? Please describe.

Many people have the habit of using facebook as authentication, and the platform does not offer this option, which can cause disinterest on the part of the user.

### Describe the solution you'd like

Add one more form of authentication through facebook.

### Describe alternatives you've considered

I did no.t have

### Additional

[2022-10-29 14:51] nicolo-ribaudo opened #48326 "Preview external window disappears when moving to the next challenge"
### Describe the Issue

I have two screens: I use one to keep the editor open and one to keep the preview window.

When I click on the "Submit and go to the next challenge" button, the preview window disappears: I have to re-open it in a separate window, and re-move it to the second screen.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-forms-by-buildi

[2022-10-29 15:17] #48310 closed

[2022-10-29 19:31] ieahleen commented on #48325
Thank you for your feature request. The Facebook login method has been removed a few months ago, I don't think it will be reintroduced

[2022-10-29 19:31] #48325 closed

[2022-10-29 20:49] Prince-Mendiratta commented on #48274
Hi team! To solve this monotonous(?) task in a fun and efficient way, I created a script for automating this full process!

Here's the link to that project - https://github.com/Prince-Mendiratta/mass-repo-editor

---
I am not sure what/where I should change the Learn description to so any pointers on that and I'll get that done as well. 😄

[2022-10-30 07:48] Salabh255 commented on #47478
Hello Sir please assign me this task

[2022-10-30 09:10] Adelinked commented on #48300
I will open a PR on it.

[2022-10-30 16:39] Sboonny opened #48347 "Code elements text in certification projects isn't affected by direction LTR"
After applying `ltr` direction to the `code` elements, it works most of the time but not in certification project and I don't know why.

Does anyone have a suggestion?

![image](https://user-images.githubusercontent.com/88248797/198890403-f0b22285-ada9-45c0-8373-3b29c6804d92.png)

You can check the PR with the layout css in here https://github.com/freeCodeCamp/freeCodeCamp/pull/48287

[2022-10-30 16:44] Sboonny opened #48348 "The ability to change the splitter between editor and instruction is reverted in RTL"
While trying to move the `.reflex-splitter` to open more spacing for instruction, it reduces it instead.

Here is the splitter

![image](https://user-images.githubusercontent.com/88248797/198890653-84032eee-1066-49a7-8db8-01d6c66d1397.png)

Currently, I am checking https://github.com/leefsmp/Re-Flex, and https://leefsmp.github.io/Re-Flex/index.html#demo6 for a way around this

---

Edit:

Short an

[2022-10-30 17:32] naomi-lgbt commented on #47478
I don't think we need to display them on the map itself, they just need to be available for the client to consume in a search feature. That is, if I want to find lessons that cover `ul`, I could search and get a list of lessons with that tag.

[2022-10-30 17:33] naomi-lgbt commented on #47478
Heya @Salabh255, thanks for your interest in contributing. This issue has not been fully discussed yet and is not open for contribution. Issues with https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted or https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only are open for contribution.

[2022-10-31 02:20] RandellDawson commented on #48274
How far off is FCC from being able to have the users create these project on FCC controlled servers instead of constantly changing the repos because replit does not have a clue of the mess they create every time they make a config change?

[2022-10-31 02:46] CallmeHongmaybe commented on #47608
I see this issue's been going on for a little over a month now, can I still make a PR from this ?

[2022-10-31 03:14] CallmeHongmaybe commented on #48326
Don't mean to spam here...but does anyone know where to find the code for popping up the window ?

[2022-10-31 09:00] ojeytonwilliams commented on #48326
@CallmeHongmaybe it's a little complicated, but if you start from
https://github.com/freeCodeCamp/freeCodeCamp/blob/52953a5b95b8abef7189de7a42391b8e600b2fb9/client/src/templates/Challenges/components/preview-portal.tsx you can see how it's used.

Precisely how the user's code makes it into the preview is a good deal more convoluted, but I wouldn't worry about that for this issue.  As long as the `

[2022-10-31 09:30] Sboonny commented on #48348
Okay, if I am creating from scratch, what is needed is

- Create a `div` between the pages, give it class `fCC-splitter`
- Add a value that control the layout width and height, `inset` property should do.
- Listen to the camper input on `fCC-splitter`
- Stop re-rendering of the component, this library should do the trick
- Find when to allow the re-rendering
- Style the `div` element, it should ha

[2022-10-31 11:21] nevfy-y opened #48351 "Get JSON with the JavaScript fetch method: tests should fail when names don't match"
### Describe the Issue

Hello everyone!

This code passes the tests, when it should not, because I used different names in the argument and the statement of the function:

[code]
With this code, tests don't fail, but the button `Get Message` does nothing when pressed.

It should probably return an error message like `"completelyDifferentString" is not defined` and should not pass the tests.

### A

[2022-10-31 12:54] Sboonny commented on #48348
this may take too long for functional refactor and may introduce bugs, is it okay to remove the splitters in the RTL layout? maybe adding buttons to collapse the editor, instruction, or console to provide needed spacing

[2022-10-31 13:19] ahmadabdolsaheb commented on #48101
@Sboonny, the [Noto Sans Arabic](https://fonts.google.com/noto/specimen/Noto+Sans+Arabic?subset=arabic) does not seem to be working properly on the codepen.

If [IBM Plex Sans Arabic](https://fonts.google.com/specimen/IBM+Plex+Sans+Arabic?subset=arabic) is over extending letters, and [Lateef](https://fonts.google.com/specimen/Lateef?subset=arabic) is hard to read in Urdu, we choose the Noto ones.

[2022-10-31 13:47] ojeytonwilliams commented on #48348
It's an ugly hack, but could you make *only* the ReflexContainers LTR while having their containers and children be RLT?  While playing with the codesandbox, that seemed to do the trick.

[2022-10-31 14:16] Sboonny commented on #48348
one comment solved two issues 👍 🤣

[2022-10-31 16:02] Sboonny commented on #48348
reopenned, although this solve the issue. I have tried to finish the course with the text on the left, and it was hard because my attention isn't aligning with how the language meant to be preserved

[2022-10-31 16:18] ojeytonwilliams commented on #48348
@Sboonny this can probably be closed by a dedicated PR.  If you go with my suggestion, it is kind of a hack. So, it'll be easier to QA and eventually revert (if we come up with a non-hack) if it's confined to one PR.

[2022-10-31 18:58] Sboonny opened #48359 "Accessing camper profile page in development environment is hidden"
**Describe the issue**
While changing the RTL layout, I tried to access profile but was getting 404 page, luckily Naomi guided me and told me that it's a custom error page. This is abstract and hard to know for developers new to codebase, which may block people who may have the intention to help out.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Gitpod environment
2. Open the menu in n

[2022-10-31 19:11] nayabatir1 commented on #46729
Hey, I want to work on this issue but I'm not understanding the gist of this issue.

[2022-10-31 19:18] ShaunSHamilton commented on #48359
Is this not clear enough?

https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-locally?id=sign-in-with-a-local-user

[2022-10-31 19:50] Sboonny commented on #48359
Nope 😃, because the signing in is automatic, so when I sign in this section that talks about signing in becomes redundant, and I skipped it.

We can change it to something like `Accessing camper profile`.

[2022-10-31 20:32] #47513 closed

[2022-10-31 22:34] shanethecrane opened #48360 "Number Guessing Game Pass Validation"
### Describe the Issue

The tests 1:1 7 through 13 is looking for me to print certain statements, which I am doing, but it does not pass.

### Affected Page

https://www.freecodecamp.org/learn/relational-database/build-a-number-guessing-game-project/build-a-number-guessing-game

### Your code

[code]

### Expected behavior

I would expect the "Enter your username:" test to pass, but it's not even

[2022-10-31 22:36] shanethecrane commented on #48360
[number_guess.sh.txt](https://github.com/freeCodeCamp/freeCodeCamp/files/9905424/number_guess.sh.txt)
[number_guess.sql.txt](https://github.com/freeCodeCamp/freeCodeCamp/files/9905425/number_guess.sql.txt)
I've attached my .sh and .txt files for this

[2022-10-31 22:37] #48002 closed

[2022-10-31 22:54] #48118 closed

[2022-11-01 02:52] CallmeHongmaybe commented on #48326
Thanks for the walk through.
As I'm still new here, am I going to be assigned to this issue ( in order to prevent multiple linked PRs ? )

[2022-11-01 05:22] gikf commented on #48360
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Ask for help"** button on the challenge on freeCodeCamp, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions within a few hours and can help determine

[2022-11-01 05:22] #48360 closed

[2022-11-01 08:21] ojeytonwilliams commented on #48326
We do not typically assign issues, but you are very welcome to work on this. If you haven't already, please take a look at our [contribution guidelines](https://contribute.freecodecamp.org) which should cover everything you need to know.

[2022-11-01 08:46] nicolo-ribaudo commented on #48326
@CallmeHongmaybe When I opened this issue I investigated a bit, but I ended up opening an issue instead of a PR because I couldn't finish. If you need some pointers:
- When going from one step to the one after, the whole UI gets unmounted and remounted.
- This means that the state in [`DesktopLayout`](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/templates/Challenges/classic/de

[2022-11-01 10:27] ojeytonwilliams commented on #48326
Thanks for taking the time to share your insights, @nicolo-ribaudo, they're very helpful.

One thing to watch out for, though: we do need to close the external window when we leave challenge pages, since it doesn't make sense to leave it dangling there as the user navigates to unrelated parts of the site (settings, say).

[2022-11-01 10:48] ojeytonwilliams commented on #48359
'Viewing user profile' seems the most descriptive.

->

and

->

The existing docs are a bit vague and explain a bit too much, imo.

[2022-11-01 13:04] Sboonny commented on #48347
solved by https://github.com/freeCodeCamp/freeCodeCamp/pull/48287/commits/3ca91341f18365bc82d15ef72b5350432e0bf2b3

[2022-11-01 13:04] #48347 closed

[2022-11-01 13:40] sanajaveria97 commented on #48351
The test is passed when you use 'completelyDifferentString' but you don't get the output, so that means it is incorrect. The test is not being processed correctly on the freeCodeCamp website.

When you try this code in an actual code editor like Visual Studio you will get an error saying that it is not defined.

[2022-11-01 13:44] Sboonny commented on #48348
I couldn't find a replacement after looking for a while, @ahmadabdolsaheb found https://www.npmjs.com/package/react-collapse-pane?activeTab=readme, but installing it isn't possible because we are using React 16.

I will try to migrate to React 17, then try to install the package again

[2022-11-01 15:32] raisedadead commented on #48359
Skipping docs is a way to err like a human, which is the issue here. Feel free to update the docs.

Coming to updating the 404 page to show a relevant button — is easier said than done.

This is expected behavior - has been discussed before and is because Gatsby's dev-mode server hijacks the page, and you can't bypass it (while working locally). Period.

[2022-11-01 15:36] ojeytonwilliams commented on #48359
Yep. I don't think the docs need to go into that, though.  They're long enough already.

[2022-11-01 15:39] raisedadead commented on #48351
![image](https://user-images.githubusercontent.com/1884376/199273967-4f312e2b-b5e5-4182-aa3b-78d207e82472.png)

FWIW, the error is not shown on the fCC editor console but, surely, is logged on the browser console. Not sure if there is way to fix this.

[2022-11-01 15:42] raisedadead commented on #48359
Maybe add - DO NOT SKIP DOCS. They are important !! With three exclamation marks will do? Jokes apart - I do not see how to update the verbiage in the section. In my personal opinion, it is good enough.

[2022-11-01 15:46] Sboonny commented on #48359
this is my 4th time reading docs, it can't be expected for someone who searching for "how to change the sub-forum" and "how to access the profile page", to look for them in section that talks about setting freecodecamp locally while working in Gitpod

[2022-11-01 15:51] raisedadead commented on #48359
I disagree as a maintainer. The docs are there for a reason. We can't handhold every use case.

That said, I have tagged this help wanted for a reason. If you have a recommended approach to how it could have saved you a pitfall. You are welcome to update the docs.

[2022-11-01 15:52] Sboonny commented on #48359
And to be honest, I think a better option is to break this into two sections. one that talks of what expected of a language lead who may not have knowledge of our code base, and other for developers who know the code base and may stumble into weird scenarios like the profile page, and gastby cashing

[2022-11-01 16:06] ojeytonwilliams commented on #48351
I'm not sure we can solve this one.  Not in a nice way.

The problem is that we need to click on the button, wait for the fetch to complete and check that the dom has been updated appropriately.  All of which sounds like it would be hard to pull off in our testing environment.

It might be that we can only catch this through regex.

[2022-11-01 16:10] ojeytonwilliams commented on #48359
I think it can be improved with the above changes.  Also the gif is ancient so probably should just be removed.

[2022-11-01 16:48] varunmulay22 commented on #45949
@nayabatir1 I suspect you havent started your mongo server using mongod cmd which is why the error. If you have, then the next suspect would be the .env file containing MONGOHQ_URL with localhost string instead of 127.0.0.1. Try replacing it and run `npm run develop:server` again

[2022-11-01 18:17] naomi-lgbt commented on #48351
Actually, I might have an idea on this. Let me spike on it real quick.

[2022-11-01 19:41] #48225 closed

[2022-11-01 20:14] naomi-lgbt commented on #48351
Two hours later... no luck. Despite all my attempts, the DOM won't re-render.

[2022-11-01 21:08] ojeytonwilliams commented on #48351
@naomi-lgbt as soon as you said it might be possible, I started doubting my earlier proclamations of doom.

I stand by the 'not nice' part, but this code works, after a fashion:

[code]

I couldn't think of any way to test the dom manipulation that wasn't a race, but there you go.  Maybe someone can make use of this.

[2022-11-02 05:05] CallmeHongmaybe commented on #48326
So far I've managed to prevent the window from closing, and once we click submit and go to next challenge, the window went blank while the preview pane shows the html result.
I'd like to know if I've made lapses in logic, and whether I can send in the screencast directly on this thread.
Many thanks everyone :)

[2022-11-02 05:18] CallmeHongmaybe commented on #48326
Thanks for the very detailed suggestion.
@nicolo-ribaudo by storing the window in global state you mean we're not going to create a new window but to rewrite the existing window is that right ?

[2022-11-02 06:40] scissorsneedfoodtoo commented on #47981
Thank you for putting this detailed list together @moT01 and @ieahleen, and for everyone's help updating these articles.

I went in and updated the text for the last English article, "Please, everyone, put your entire development environment in Github", and added a note near the beginning about the new extension name. And I emailed the author in case their interested in taking new screenshots.

I

[2022-11-02 06:42] nicolo-ribaudo commented on #48326
Yes exactly!

[2022-11-02 07:30] raisedadead commented on #48359
Did you mean this verbiage can be improved? I do not see a simpler explanation.

[code]

In case you wandered into the conversation, Muhammed and I are talking about different areas of the docs.

The doc that was skipped was what I have pointed to. Of course, it is in a different location than a translator would expect, which can be improved.

[2022-11-03 03:08] rajgaur98 commented on #44668
Hi @ahmadabdolsaheb , I was looking into the `ToggleButton` component.
I have a question, do we need to implement the `ToggleButton` from `components/helpers` or the `ToggleButton` from `@freecodecamp/react-bootstrap` ?

[2022-11-03 08:51] ahmadabdolsaheb commented on #44668
@rajgaur98, thanks for your interest. For the first iteration, it should replace the @freecodecamp/react-bootstrap and include the style overwrites.

[2022-11-03 14:08] evelynmitchell commented on #47830
In 14-responsive-web-design-22/learn-accessibility-by-building-a-quiz) the screen reader text for date of birth is enclosed in parenthesis. This may not be as helpful to someone using a screen reader, as the phrase without the parenthesis.

s/(Date of Birth)/Date of Birth/

[2022-11-03 16:44] ppeters0502 commented on #48278
I'd love to contribute on this issue!
So just to make sure I'm understanding, now that the article is live and #47349 is merged, all that needs to happen is just the link on this [page](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication.md) just needs to be updated to reference

[2022-11-03 16:50] Sboonny commented on #48278
Yes 👍

[2022-11-03 16:50] Sboonny commented on #48278
If you would like to fix this issue, please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instructions in our guides. Join us in [our chat room](https://discord.gg/PRyKn3Vbay) or [the forum](https://forum.freecodecamp.org/c/contributors/3) if you need help contributing, our moderators will guide you through th

[2022-11-03 17:49] Sboonny opened #48383 "What to do with spam PR workflow"
I think raisedadead added this workflow, because of hacktobefest, which ended.

Here is the workflow

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/.github/workflows/github-spam.yml

Should we disable it? or we have another plan for it, like updating the text to push invalid PR canned reply, we do have invalid label

[2022-11-03 18:52] ppeters0502 commented on #48278
PR Submitted! I contemplated removing the additional Github Client/Secret instructions in the curriculum, since they're kind of redundant. Some of the instructions were specific to this assignment though, so in the end I kept them in. If anyone disagrees, let me know and I can take the redundant parts out.

[2022-11-04 00:49] SethBashamDev opened #48387 "Possibe error in code example"
### Describe the Issue

The example shows "const thirdLetter = alpha[2]". Below that, the snippet of text says that alpha[2] should be "Y".
"thirdLetter is the string Y, lastLetter is the string C, and valueLookup is the string Y."

### Affected Page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/using-objects-for-lookups

[code]

The snippet has the

[2022-11-04 05:17] #48278 closed

[2022-11-04 06:04] naomi-lgbt commented on #48383
The workflow is disabled and can honestly just sit there until next year.

[2022-11-04 07:10] #48383 closed

[2022-11-04 10:09] Sboonny commented on #46623
raisedadead, mentioned good points about automating the signing out, function and I can't find the original text about automating it, so I think this is pure misunderstanding on my part and I could have closed this issue while back, sorry about that

https://github.com/freeCodeCamp/freeCodeCamp/pull/48385#issuecomment-1303087398

[2022-11-04 10:09] #46623 closed

[2022-11-04 10:58] zhangleihong opened #48389 "Issue to recommend"
### Is your feature request related to a problem? Please describe.

We're going to do a developer issue for the community

### Describe the solution you'd like

deep learning

### Describe alternatives you've considered

We need to crawl the community's data

### Additional context

_No response_

[2022-11-04 10:58] zhangleihong commented on #48387
hello

[2022-11-04 11:10] Sembauke commented on #48389
Hey @zhang,

What data would you like to crawl. I assume this is for a personal project?

Can you elaborate.

[2022-11-04 12:47] #48389 closed

[2022-11-04 15:54] jeremylt commented on #48387
I think part of what is weird is the indexing starting at 1. How about this:

[code]

[2022-11-04 16:00] ojeytonwilliams opened #48392 "Expand superblock title logic when we make certificates legacy"
It's not used, but I left it in. What I had planned was to remove the cert projects from the legacy RWD and rename the button to say "Legacy RWD Challenges" instead of "Legacy RWD Certification". But I couldn't remove the cert projects since many of the i18n's are using the legacy RWD as their first superblock. So I think this will get used at some point. With that, do you still think we should re

[2022-11-04 16:02] ojeytonwilliams commented on #48392
I'm not 100% sure an issue is the best place to track this, but Tom and I were talking about this and I didn't want it to get lost.

[2022-11-04 19:43] nayabatir1 commented on #48387
I don't think it matters what property name we choose for object `alphabet` and from where it begins.

What confusing for me is as `2` is 2nd object property.
`const thirdLetter = alpha[2];` should be `const secondLetter = alpha[2];`
same for
`const lastLetter = alpha[24];` should be `const lastLetter = alpha[26];`

Below text should be re-written
~`thirdLetter` is the string `Y`, `lastLetter` is

[2022-11-04 19:45] jeremylt commented on #48387
Don't forget about zero based inhexing. I see no reason to switch indexing here.

[2022-11-04 19:49] nayabatir1 commented on #48387
`1`, `2` ... are object properties. So, it doesn't matter from where it begins or what name we choose. For Arrays indexing matters and it always begins from `0`

[2022-11-04 19:51] jeremylt commented on #48387
Yes, I understand how objects work. I don't see a reason to start counting at 1 here when in general JS starts counting at 0.

[2022-11-04 19:55] nayabatir1 commented on #48387
Do we need to wait for other members suggestion ?

[2022-11-04 19:56] jeremylt commented on #48387
Yes, we need to wait. The issue isn't ready for contributions when discussion is ongoing.

[2022-11-04 20:20] mahassan opened #48393 "Said question isn't what coding chanllenge accept"
### Describe the Issue

In the following Data Structure, the question is

Notice the line

but when I do `foods[strawberries] = 27;`

It doesn't pass, but it is 'Using the syntax of my choice', I tried mix and match and also just with bracket syntax but it didn't work.

### Affected Page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-data-structures/add-key-val

[2022-11-04 20:23] #48393 closed

[2022-11-04 20:23] mahassan commented on #48393
Closing this as It was my mistake, because when I do `foods['strawberries'] = 27;` It passed.

[2022-11-05 15:49] Sboonny commented on #48387
I hate the idea of `number` as key because I had issue with octal numbers. Jeremy's example is good, but can we use something like.

[code]

But this maybe giving the answer away 🤔

[2022-11-05 15:55] jeremylt commented on #48387
Yeah, the numerical index is odd.

Does it have to be an alphabet? Is there a better, simpler example?

[2022-11-05 16:13] SethBashamDev commented on #48387
Hello. I just read through everyone's comment.

I understand numbering in main languages starts at 0. However, for this example, the numbering starts at 1, but the const names don't match.

If the general consensus, is to keep the formatting how is currently is. We can close.

I was looking at it from someone learning, thirdLetter but showing the second letter was a little off.

[2022-11-05 16:15] jeremylt commented on #48387
The variable name in current example is plain wrong. Nobody said that was not the case.

We are talking about how best to fix this example. Personally, I'm thinking it should be replaced with a simpler object.

[2022-11-05 17:50] Feanor96 opened #48408 "Early challenges are not tested"
### Describe the Issue

### The Issue-
**When we do the challenges in the** _Backend Development and APIs_ **course, our early challenges are not being tested, for example when I did the fourth challenge, even if I remove the code from challenge 1 that I wrote, we can still proceed to the next challenge**

### Affected Page

https://www.freecodecamp.org/learn/back-end-development-and-apis/managing

[2022-11-05 19:24] jeremylt commented on #48244
Do we care if people delete or modify code unrelated to the step?

[2022-11-05 19:25] jeremylt commented on #48408
Do we care if people delete or modify code unrelated to the step?

[2022-11-05 19:40] oriooctopus opened #48409 "Reviewing concepts - A structural issue with FCC's new course style"
### Is your feature request related to a problem? Please describe.

I am really happy to see FreeCodeCamps innovations with their new responsive design course and I have also had the pleasure of testing their new JavaScript course. These courses improve the learning experience in a lot of ways, but I see one main issue. Before I talk about that issue let me give some context first:

The old course

[2022-11-05 21:22] naomi-lgbt commented on #48409
This is being tracked in #47478

Ideally, each step should take around 90 seconds to read and complete, if I recall correctly.

[2022-11-05 21:23] naomi-lgbt commented on #48408
IMHO, no. In fact we even have some steps that ask campers to delete previous code.

[2022-11-05 22:17] ShaunSHamilton commented on #48408
I do not see anything to fix here.

Whilst many courses/projects rely on most lessons following a golden path, the lesson tests are atomic with the expectation:

Without completely limiting the environment Campers can edit/work in, it is unreasonable to test every aspect of what they do outside of the scope of a single lesson.

[2022-11-05 23:42] raisedadead opened #48411 "Create M2M API endpoint for User Data Fetch"
### Is your feature request related to a problem? Please describe.

Need to create an endpoint to return dataset in the below format:

https://gist.github.com/roberthuskins/04d8c767e1e6a0994440c94c2a00ece8

### Describe the solution you'd like

TBD

### Describe alternatives you've considered

NA

### Additional context

_No response_

[2022-11-06 06:40] Feanor96 commented on #48408
Actually yeah I guess this does not need fixing...anyways thanks!

[2022-11-06 06:43] Feanor96 commented on #48234
yes, section of achievements and projects is a must!

[2022-11-06 09:20] #48408 closed

[2022-11-06 09:54] Sboonny commented on #48387
I can't think of a better example to be honest, but we can use a practical one. Like how the freeCodeCamp codebase Json files structured.

[code]

[2022-11-06 14:51] spam1073830 commented on #48411
Jguofukdtuutdkdhgdtuslxxgjlcilyx

[2022-11-06 14:52] spam1073830 commented on #48411
Idlyidhmfkchljj

[2022-11-06 14:52] spam1073830 commented on #48411
Mxmxnxkd

[2022-11-06 14:52] spam1073830 commented on #48411
.xmxhdndkd

[2022-11-06 14:52] spam1073830 commented on #48411
Xmjdkd us ns

[2022-11-06 14:52] spam1073830 commented on #48411
Znjs hi ishsmhs

[2022-11-06 14:52] spam1073830 commented on #48411
Orgsyssgnttnys

[2022-11-06 14:52] spam1073830 commented on #48411
Gmssmyksymd

[2022-11-06 14:52] spam1073830 commented on #48411
/72-)#7)#_6!*

[2022-11-06 14:52] spam1073830 commented on #48411
4((_)75:+53-3-4;

[2022-11-06 14:52] spam1073830 commented on #48411
😍(65+4/5(5)76)

[2022-11-06 14:52] spam1073830 commented on #48411
🎙️🎶🎣🎭♠️🎯♥️🎮♥️♠️🎭

[2022-11-06 14:53] spam1073830 commented on #48411
+#//8#8/#8/#6#5?jasysmymz

[2022-11-06 14:54] spam1073830 opened #48412 "😍(65+4/5(5)76)"
😍(65+4/5(5)76)

_Originally posted by @spam1073830 in https://github.com/freeCodeCamp/freeCodeCamp/issues/48411#issuecomment-1304818925_

[2022-11-06 14:54] #48412 closed

[2022-11-06 14:56] spam1073830 commented on #48411
Blicktbhtjymiun

[2022-11-06 14:57] spam1073830 opened #48413 "+#//8#8/#8/#6#5?jasysmymz"
+#//8#8/#8/#6#5?jasysmymz

_Originally posted by @spam1073830 in https://github.com/freeCodeCamp/freeCodeCamp/issues/48411#issuecomment-1304819005_

[2022-11-06 15:23] #48413 closed

[2022-11-06 15:46] oriooctopus commented on #48409
That's great.

I understand the general reasoning behind this, but perhaps we can bend it a bit for introductory steps if that's even the path that we wanted to go? Like for example, an introductory step can be up to 120 seconds. That extra 30 seconds could make a good difference, but I don't think it would mess with the rhythm too much. This is just a thought anyways because I read the other post

[2022-11-06 15:46] oriooctopus commented on #47478
@naomi-lgbt is there anyway we can contribute to the discussion?

[2022-11-06 17:31] raisedadead opened #48414 "Create M2M endpoint for user data fetch"
We need to create and publish an M2M endpoint that can return user records in the format like so:

<details>
<summary>Click here to explore the schema</summary>

[code]

</details>

Ref: https://gist.github.com/roberthuskins/04d8c767e1e6a0994440c94c2a00ece8

The implementation should ensure CORS and allow authorized access to the records as needed.

[2022-11-06 18:10] Sboonny commented on #48234
Should we add switch account, and log out buttons to the Portfolio?

I have got feedback from Estefania, that some users seek these feature in Profile like pages, so we can add them in freeCodeCamp, as well. 🤔

[2022-11-07 00:43] KravMaguy commented on #48351
I agree with you that hardcoding a time limit is not good as we cant know how long it will take for the users specific machine.

Negative that wont work. for example this is completely valid code and will fail the above test:

`
fetch('/json/cats.json')
  .then(response => response.json())
    .then(x => {
    console.log('I want to do something')
    return x
  })
  .then(data => {
    document.g

[2022-11-07 02:15] Feanor96 commented on #48234
Yeah that would also be nice..

[2022-11-07 06:25] ahmadabdolsaheb commented on #48234
Thanks for the feedback everyone.
1 ) The socials will be included next to the location (those three boxes in the mocks)
2 ) Projects, certifications, and timeline will be added at the bottom of the the general info section
3 ) Could provide me links to similar websites  which have implemented switch account, and log out buttons on the portfolio page. That would help me understand the convention b

[2022-11-07 13:27] #48300 closed

[2022-11-07 16:13] oriooctopus opened #48421 "Adding hints to responsive design course"
### Is your feature request related to a problem? Please describe.

The old responsive design course had hints. Kids are really important because a lot of people don't want to post on the forums, but there's still stuck. Being stuck in an extremely frustrating process and if there's no way to easily get unstuck a lot of people will just give up.

### Describe the solution you'd like

Add a hint bu

[2022-11-07 16:52] jeremylt commented on #48387
I like that example better. I think we should use it + the corresponding text fixes that would be needed.

[2022-11-07 16:58] Sboonny commented on #48387
I am opening this for contribution 👍. What is required is the following:

- Change the example to what's mentioned in https://github.com/freeCodeCamp/freeCodeCamp/issues/48387#issuecomment-1304761517
- Change the text after the example

To

---

If you would like to fix this issue, please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize co

[2022-11-08 03:44] rajgaur98 opened #48424 "Implement ToggleButton component"
## Current Specs

- Border width: 3px
- Variants (Extended from the Button component):
  - Default
  - Primary (This is only being used)
  - Link
- Sizes (Extended from the  Button component):
  - Large
  - Small (This is only being used)
  - Extra Small
- States:
  - On (checked)
  - Off (unchecked)
  - Hovered
  - Disables
- Input Types
  - Checkbox
  - Radio
- Can be used as a block (Extended f

[2022-11-08 05:02] StevanFreeborn opened #48425 "Reporting A Thread Test on the Anonymous Message Board Project for the Information Security Certification Sends Incorrect Field Name In Request"
### Describe the Issue

When freeCodeCamp runs the following test for the `Anonymous Message Board` project that is a part of the `Information Security Certification` curriculum.

The body of the request is the following:

[code]

However the test is written in such a way that you'd expect to write your controller method for this route to be expecting the request to contain form data with the fiel

[2022-11-08 05:32] StevanFreeborn commented on #48425
I'd like to be assigned this issue to fix.

I've submitted an initial PR here: #48426 ...it appears it failed a check due to changes I made to the test code in the non-english files.

If you'd only like the text fixed in the english curriculum challenge I'm happy to revert the changes I made to the non-english files.

[2022-11-08 06:01] StevanFreeborn commented on #48425
I went ahead and reverted the changes I made in the non-english curriculum files based on [this automated comment](https://github.com/freeCodeCamp/freeCodeCamp/pull/48426#issuecomment-1306657119) that was generated on the PR. The PR has been updated.

[2022-11-08 08:11] Sboonny commented on #48234
I have asked for similar websites, and I was getting different functionality from what I understood.

So there is a miscommunication from my part, sorry about that

[2022-11-08 15:30] #46523 closed

[2022-11-08 16:07] moT01 opened #48430 "Update Docs to describe new structure of languages and superblocks"
### Describe the Issue

[This PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/47596) was merged and it changed the way the languages and superblocks are configured in the codebase. The documentation needs to be updated still to reflect the new changes.

### Affected Page

https://contribute.freecodecamp.org/

[2022-11-08 16:44] Feanor96 opened #48431 "There are two conditions but both are the same"
### Describe the Issue

In the _Back End Development and APIs_ course in challenge _Get Query Parameter Input from the Client_(Challenge number 10), there are two conditions to pass the test which are **Your API endpoint should respond with the correct name**.

This condition is written two times so this is a user interface issue.

### Affected Page

https://www.freecodecamp.org/learn/back-end-dev

[2022-11-08 20:07] #48387 closed

[2022-11-09 11:09] Feanor96 commented on #48431
Done, please review it!

[2022-11-09 13:31] raisedadead opened #48444 "Setup Linting and Tests"
The new API needs help setting up linting & testing:

- [x] Setup ESLint, Prettier, typescript-eslint
- [x] Setup CI workflows
- [x] Setup Jest-based tests

Related: https://github.com/freeCodeCamp/freeCodeCamp/pull/48437

[2022-11-09 15:25] naomi-lgbt commented on #47299
To resolve this issue in the short term:

- If the camper has set the theme to `night`: We should display night mode (the current behaviour)
- If the camper has set the theme to `default`: We should respect the system settings for the theme.

[2022-11-09 15:57] naomi-lgbt commented on #47447
This issue is now open for contribution. A PR which resolves this issue will:

- Update the text of the button to be `Send`, instead of `Submit`.
- Test that the camper has set the text of the button to `Send`.
- Test that the camper has set the `type` attribute of the button to `submit`.
- Update the seed/boilerplate code in the following challenges to reflect this change.

[2022-11-09 17:28] bbsmooth commented on #47451
If you want to turn these sections into landmarks then using a `section` element with `aria-labelledby` is the best semantic option. You just don't need to add `role="region"`.

[2022-11-09 19:36] #46202 closed

[2022-11-09 19:38] raisedadead commented on #46203
Have updated the dev pipelines with the required values for the HOME, FORUM, NEWS location, etc. we will test a handful of builds there before moving over to production.

[2022-11-09 19:39] raisedadead opened #48448 "Remove CI builds and testing for Chinese"
The CI workflows for testing Chinese and Espanol builds were created with the idea for checking all "combinations" of deployments:

1. English at the root of the main website.
2. Other languages represented by (Espanol) at subpaths.
3. Chinese for the subdomain.

With the new uniform structure, we will remove the Chinese testing config.

I think we should also swap Espanol in favor of Portuguese,

[2022-11-09 19:47] sidemt opened #48449 "CSS Penguin Step 75: the change is not visible on some browsers"
### Describe the Issue

The instruction starts with:

I can see the purple heart has become slightly bigger in Firefox. However, I can't see the difference in Chrome or Edge.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-transforms-by-building-a-penguin/step-75

### Your code

[code]

### Expected behavior

We can change the first sentence to:

(I chan

[2022-11-09 21:55] KravMaguy commented on #48326
Ok ive done it, it is working as expected. I hope you like the added feature. I agree that your suggested improvement provides a better user experience now.

[2022-11-10 01:06] hbar1st opened #48452 "Celestial Bodies Database TUTORIAL.MD instructions are not logically organized"
### Describe the Issue

When looking at the steps presented to users of the Celestial Bodies Database course in coderoad, I noticed that the list of requirements was not ordered in a way that would be considered logical. A person would need to read the whole list in order to re-organize it by the required chronology.

For eg. The list currently shows the following at the start
[code]
Then some ste

[2022-11-10 03:00] rajgaur98 commented on #48424
Hi @ahmadabdolsaheb , if everything looks good may I start with the implementation of the above?

[2022-11-10 05:12] Illuxionist opened #48453 "Hello"

[2022-11-10 08:15] NavinduRanjuka commented on #46863
In the previous step, you put the h1, h2, comment, and p elements inside the main element. This is called nesting. Nested elements should be placed two spaces further to the right of the element they are nested in. This spacing is called indentation and it is used to make HTML easier to read.

The h1 element, h2 element and the comment are indented two spaces more than the main element in the code

[2022-11-10 08:32] Sboonny commented on #46863
@NavinduRanjuka, join [our chat room](https://discord.gg/PRyKn3Vbay) or [the forum](https://forum.freecodecamp.org/c/contributors/3) if you need help in step, this isn't the right place to seek help, our volunteers will help you out.

[2022-11-10 08:34] raisedadead commented on #48452
@moT01 what do you think about the above? I like the proposed changes.

[2022-11-10 10:51] ShaunSHamilton commented on #48449
The difference is not always the size, though. I am unable to reproduce a change in Chrome, but when I was making this, the heart would get a hashed pattern inside. There is a chance Google has changed something.

As such, I suggest we keep the use of _"different"_, and go with:

[2022-11-10 10:55] SylvesterStrydom145 opened #48454 "CSS Form Project"
### Describe the Issue

On Step 48, Instructions say that you should change the display type and the margin of the input, textarea and select element. Then when you submit, the test fails because the user didn't change the width of the elements to 100%, but there is no instruction on doing so.

Just thought that I should report this small bug.

### Affected Page

https://www.freecodecamp.org/learn

[2022-11-10 11:35] gikf commented on #48454
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions with

[2022-11-10 11:35] #48454 closed

[2022-11-10 11:44] ShaunSHamilton commented on #48449
I think that is too much useless information. We specifically removed information here: https://github.com/freeCodeCamp/freeCodeCamp/pull/44214#discussion_r761480322

[2022-11-10 12:43] UnknownUser2222 opened #48457 "y8y7gybhebndbwnde3e2949332a"
### Describe the Issue

12345

### Affected Page

123451

### Your code

[code]

### Expected behavior

ewbdnsbdns

### Screenshots

_No response_

### System

- Device: [e.g. iPhone 6, Laptop]
- OS: [e.g. iOS 14, Windows 10, Ubuntu 20.04]
- Browser: [e.g. Chrome, Safari]
- Version: [e.g. 22]

### Additional context

_No response_

[2022-11-10 12:44] UnknownUser2222 opened #48458 "hhth534jb3n1222f"
### Is your feature request related to a problem? Please describe.

f

### Describe the solution you'd like

f

### Describe alternatives you've considered

f

### Additional context

_No response_

[2022-11-10 12:45] UnknownUser2222 opened #48459 "@@@@@######@@@@#####@@@@@@"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-11-10 12:46] UnknownUser2222 opened #48460 "https://github.com/freeCodeCamp/freeCodeCamp/issues/new"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-11-10 12:46] UnknownUser2222 opened #48461 "https://github.com/freeCodeCamp/freeCodeCamp/issues/new"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-11-10 12:46] UnknownUser2222 opened #48462 "https://github.com/freeCodeCamp/freeCodeCamp/issues/new"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-11-10 12:47] UnknownUser2222 opened #48463 "$%%192.168.0.10"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-11-10 12:47] UnknownUser2222 opened #48464 "Break all rules of the Code of Conduct"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-11-10 12:48] UnknownUser2222 opened #48465 "Hacking freeCodeCamp"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-11-10 12:48] UnknownUser2222 opened #48466 "https://github.com/freeCodeCamp/freeCodeCamp/issues/new"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-11-10 12:49] UnknownUser2222 opened #48467 "C:/"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-11-10 12:49] UnknownUser2222 opened #48468 "Spam"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-11-10 12:49] UnknownUser2222 opened #48469 "https://github.com/freeCodeCamp/freeCodeCamp/issues/new"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-11-10 12:50] UnknownUser2222 opened #48470 "Gained full control of freeCodeCamp"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-11-10 12:50] UnknownUser2222 opened #48471 "@"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-11-10 12:50] #48458 closed

[2022-11-10 12:50] #48460 closed

[2022-11-10 12:50] #48461 closed

[2022-11-10 12:50] #48462 closed

[2022-11-10 12:50] #48463 closed

[2022-11-10 12:50] #48464 closed

[2022-11-10 12:50] #48465 closed

[2022-11-10 12:51] #48466 closed

[2022-11-10 12:51] #48467 closed

[2022-11-10 12:51] #48468 closed

[2022-11-10 12:51] #48469 closed

[2022-11-10 12:51] #48470 closed

[2022-11-10 12:51] UnknownUser2222 opened #48472 "NO ESCAPE"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-11-10 12:51] UnknownUser2222 opened #48473 "GET TIRED!"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-11-10 12:52] UnknownUser2222 opened #48474 "$"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and con

[2022-11-10 12:52] #48457 closed

[2022-11-10 12:52] #48471 closed

[2022-11-10 12:52] #48472 closed

[2022-11-10 12:52] #48473 closed

[2022-11-10 12:52] #48474 closed

[2022-11-10 13:01] #48431 closed

[2022-11-10 15:16] moT01 commented on #48452
Thanks for the detailed issue and for all the help on the forum @hbar1st 🎉 I haven't been on there much lately - I'm glad to see people are getting the help they need 👍

I would prefer to leave the user stories/tests in the order they are in - that order is intentional. The goal with that was to try and make campers use more of the things they learned. e.g. the `Each primary key column should foll

[2022-11-10 15:54] moT01 commented on #48449
I played with this for a bit and I really don't have a preference here. Most of instructional suggestions sound good to me - removing the step sounds good as well.

[2022-11-10 16:40] raisedadead opened #48475 "Setup Sentry Monitoring and Tracing"

[2022-11-10 16:48] hbar1st commented on #48452
hi Tom, thanks for your kind and detailed response as well.

Tbh, I wasn't expecting your answer that you were hoping to make things a little harder via the organization of these steps. I'm not sure how I feel about this because on the one hand, that's cool, but on the other, it makes the tests look disordered and I don't feel that's fair to you/the exercise either.

One initial thought that comes

[2022-11-10 18:13] #46197 closed

[2022-11-10 18:28] adsingh14 commented on #44668
After sign-in, 'Alert' didn't auto close.
![image](https://user-images.githubusercontent.com/35252877/201105508-16c16a31-e8ea-48eb-9ba7-f48547509dee.png)

----
Contribution: **Yes**

[2022-11-10 19:07] #46203 closed

[2022-11-10 19:07] #46204 closed

[2022-11-10 19:09] #46199 closed

[2022-11-10 21:28] RandellDawson opened #48476 "Users can create a Random Quote Machine that passes all tests but the New Quote button does not get a new Quote"
### Describe the Issue

Users can create a Random Quote Machine that passes all tests but the New Quote button does not get a new quote.  See the discussion that contains the project in question and the issue.

https://forum.freecodecamp.org/t/need-help-with-random-quote-machine/569884

### Affected Page

https://www.freecodecamp.org/learn/front-end-development-libraries/front-end-development-libr

[2022-11-11 02:47] KravMaguy commented on #48476
the campers example is not setting the state on click.

In the code of the test they are using this.timeout incorrectly. also the function in the assert does not execute. as well pass done as parameter to the function in the it block and call it on resolve of the promise. Ive taken the current code and modified it to provide a starting example of how one could write such a test :

`
  describe('Ne

[2022-11-11 07:17] #48425 closed

[2022-11-11 10:10] Sboonny commented on #48476
I may be misremembering, but that timeout is added for React 18 bug. If the function is altered, we have to account for campers trying to pass the project using React 18.

[2022-11-11 13:43] douglasboardman commented on #45553
Thank you @mdezetter, your solution really helped me. I was facing the same issue in Firefox.
Now my browser is 'Firefixed' ;)

All the best

[2022-11-11 14:47] cstr87 opened #48482 "NFT"
### Describe the Issue

Hi guys!  I make some NFTs in Visual Studio Code and I have a big question:
I rename my files in the folder with #number for rarity ( example: colorredbckg#100 or colorbluebckg#50 )
I make a collection of 159 images, because I have unique 159 characters for the images, everything works fine, the rarity of colors, background colors...(I have between 15-20 colors background),

[2022-11-11 15:02] ShaunSHamilton commented on #48482
Hello there,

This issue appears to be a request for help with unrelated tech. This is not an appropriate use of this repo's issue system. Please try another platform.

[2022-11-11 19:15] adsingh14 opened #48485 "Merge some lessons."
### Describe the Issue

I was testing these lessons where some steps are time-consuming. I'm sharing one example below.

- Open this link: [CSS Cafe lessons](https://www.freecodecamp.org/learn/2022/responsive-web-design/#learn-basic-css-by-building-a-cafe-menu)
- Open Step 42, Step 43 and a few of the following 3 or 4 lessons.
- Step 43,44,45 is time-consuming step, should've merge in step 42

###

[2022-11-11 22:53] RandellDawson commented on #48476
It should not matter if a user writes vanilla JS, uses React 15, 16, 17, 18, Vue, AngularJs, etc., the tests should correctly validate the New Quote button does result in a new random quote (at some point).  If a user only has 2 quotes in an array of quotes, it may take several attempts before realizing there are more than one.  In my opinion, the project user stories should reflect the need to ma

[2022-11-12 18:54] jeremylt commented on #48485
I'm not sure we want to collapse that into a really big step. That  would run counter to the course design.

[2022-11-12 20:18] KravMaguy commented on #48476
For the sake of argument legacy code might fail. Additionally there is nothing in this file which guarantees that a new quote will be generated.

![image](https://user-images.githubusercontent.com/37171082/201491588-0115ed3d-3d30-4199-bba0-f505733024e8.png)

We will have to modify this randomQuote function to guarantee such a test passes every time. Not difficult to do but..

That is what the curr

[2022-11-13 10:26] Sboonny opened #48498 "Typo on personal library project in quality assuarance"
There is an extra quote in the string below

it can be removed as it isn't required

Here is the file: https://github.com/freeCodeCamp/freeCodeCamp/blob/15c19a44a7763755ccaaad228c1a325cac9914b6/curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/personal-library.md#L174?plain=1

---

If you would like to fix this issue, please make sure you read [our guidelines for contri

[2022-11-13 15:09] theritikchoure commented on #48498
Can I work on this issue?

[2022-11-13 15:22] Sboonny commented on #48498
Yea, feel free to open PR, after you have read our contribution guideline

[2022-11-13 16:16] naomi-lgbt commented on #48449
I believe both the browser and operating system determine how emotes are rendered.

[2022-11-13 16:18] naomi-lgbt commented on #48485
I'm in agreement with Jeremy here. Steps are intentionally granular, to keep campers in a flow state.

[2022-11-13 17:57] RUCHI21CODES commented on #48498
@Sboonny I have created the pull request, please review it.

[2022-11-13 18:03] RUCHI21CODES commented on #48424
@ahmadabdolsaheb, I would like to work on this, can you please assign me this issue !

[2022-11-13 23:22] oriooctopus opened #48502 "Following up on our meeting regarding a dictionary/reference feature"
### Is your feature request related to a problem? Please describe.

Currently, users don't have a good way to review new words or concepts that they've learned throughout the course. This is especially true with the new course style that is broken into steps.

Words such as `invoke` or `boilerplate` should ideally be defined the first time they are mentioned, but even then there are a couple of pr

[2022-11-14 07:38] #47324 closed

[2022-11-14 09:00] #48485 closed

[2022-11-14 14:24] naomi-lgbt commented on #46411
I believe the needs are two-fold.

The OP convers the first one, which is to show the editable region markers in the camper's code when they use the ask for help button.

The second is to have an indication of **where they've changed code** - to make it easier for our moderators to spot when the camper has edited code outside of the ERMs, specifically.

[2022-11-14 18:58] jeremylt commented on #46411
I feel like just adding the markers for the editable region would be a big help. Adding a diff for any pieces outside of the editable region would be a nice follow-up.

[2022-11-14 19:38] KravMaguy commented on #46411
markers for editable region and diff only for changes outside editable region. Ok

[2022-11-14 19:39] jeremylt commented on #46411
How about we start with just the first half? That should be an easy win to get merged.

[2022-11-14 21:09] raisedadead commented on #46411
And we do not want to add a hefty library (not unless it loads 'on-demand') for doing the diff.

[2022-11-14 21:51] KravMaguy commented on #46411
Yes ive understood as much, unfortunately, implementing a diffing algorithm from scratch is beyond my current level of knowledge and experience (unless someone exprienced in such matters can provide assistance), ill spin up something using the diff package and you can advise if it satisfies your requirements, or what changes are needed.

[2022-11-15 03:10] KravMaguy commented on #46411
There is a bug in the last PR. it is not yet ready to be merged.

[2022-11-15 06:57] ahmadabdolsaheb commented on #48424
Yes, please proceed.

[2022-11-15 07:56] ahmadabdolsaheb opened #48514 "Listing the translated versions of each article on Learn."
### Is your feature request related to a problem? Please describe.

Based on a discussion with a few of our language Leads, It would be great to have a list of translated versions of each article to increase awareness to our i18n efforts and allow users to read articles in their preferred language.

### Describe the solution you'd like

A similar feature could be found on wikipedia:

<img width="1

[2022-11-15 08:21] raisedadead commented on #46411
I would say do this in two PRs. The first one just adds the markers and the follow-up could do the diff. That way we can get the markers out into the deployment quickly.

[2022-11-15 10:12] KravMaguy commented on #46411
Ok, ive done the first PR, can you please test it, lmk if it works. I'm having problems on my machine terminal is always crashing and always having to reload the page after every change. Its only this one though, the other PR's I worked on never behaved like this.

[2022-11-15 10:22] SumitP549 commented on #48498
Can i also contribute to this issue?

[2022-11-15 10:50] Sboonny commented on #48498
Yes, there is no pull request that follows the contribution guideline. If you open PR that follows it, that pr will be merged and closes the issue with it

[2022-11-15 10:57] SumitP549 commented on #48498
Thank you @Sboonny

[2022-11-15 11:54] KravMaguy commented on #46411
this one actually has the second requirement on the third commit:

https://github.com/freeCodeCamp/freeCodeCamp/compare/main...KravMaguy:freeCodeCamp:feat/diff-outside-editable-regions

They are both completed (markers for editable region and diff only for changes outside editable region) , the above link has the second requirement as well, what do you want me to do in a case where the user didnt

[2022-11-15 12:24] rajgaur98 commented on #48424
@ahmadabdolsaheb The tailwind styles are not being applied to the custom components by default (I am running `npm run develop:client` command).  Other CSS is applying perfectly, but not the tailwind classes.

Then, I thought to include the `base.css` stylesheet to the component file directly. But its giving this error
```TypeError: Cannot read properties of undefined (reading 'config') at getTailw

[2022-11-15 17:12] #48498 closed

[2022-11-15 21:32] nayabatir1 commented on #48449
Is this up for contribution ?

[2022-11-15 21:34] KravMaguy opened #48521 "Relational Database: able to pass step 895.1 of Build a Mario Database without setting primary key"
### Describe the Issue

I passed step with "content": "Set your new column as the primary key for this table.", without setting any primary key. I had wanted to see the table, I simply displayed it and the challenge passed.

### Affected Page

https://www.freecodecamp.org/learn/relational-database/learn-relational-databases-by-building-a-mario-database/build-a-mario-database

### Your code

[code]

[2022-11-15 23:33] jeremylt opened #48523 "Wrong filter description"
### Describe the Issue

This page incorrectly says that filter keeps elements when the callback returns the Boolean value true. This is incorrect, any element that results in a truthy return value is retained.

### Affected Page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/use-the-filter-method-to-extract-data-from-an-array

### Expected beha

[2022-11-16 00:12] lasjorg commented on #48523
Not really sure I understand. This is what the challenge says.

Here are the specs

...

A truthy value is any value that when coerced or converted becomes the Boolean value `true`.

[2022-11-16 00:23] lasjorg commented on #48523
I mean I guess we can mention coercion and truthy values but we do not do so implicitly either in other places.

The closest we get is the use of the word "evaluates" which implies coercion can happen. But it certainly does not tell a beginner as much.

[2022-11-16 00:25] jeremylt commented on #48523
"`true`" is not the same thing as `coercible to the Boolean value `true`'.

This part of the spec is poorly worded:

The return value is coerced, so a boolean literal `true` does not need to be returned.

It should say

That would be consistent with the previous sentence of the spec:

MDN's description is more accurate:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Obje

[2022-11-16 00:28] rutviklhase commented on #48475
Hi, is anyone working on this? Would love to take this one up!

[2022-11-16 00:28] jeremylt commented on #48523
Fasly/Truthy discussed here:

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-algorithm-scripting/falsy-bouncer

The Basic Algorithms section is before the Functional Programming section, so I think it is fair to use the concept.

[2022-11-16 00:28] lasjorg commented on #48523
I don't think the specs are poorly worded.

There is no difference between the literal primitive value `true` or `!!'true'` or `Boolean('true')`

[2022-11-16 00:29] jeremylt commented on #48523
So your read of the spec is that a `filter` function will only retain a value in the array if the callaback returns the Boolean literal `true`?

[2022-11-16 00:37] lasjorg commented on #48523
I mean that is the implementation. It doesn't matter if `true` is directly passed or a value that when passed into `ToBoolean` comes back as `true`

1. Let O be ? [ToObject](https://tc39.es/ecma262/multipage/abstract-operations.html#sec-toobject)(this value).
2. Let len be ? [LengthOfArrayLike](https://tc39.es/ecma262/multipage/abstract-operations.html#sec-lengthofarraylike)(O).
3. If [IsCallable]

[2022-11-16 00:38] jeremylt commented on #48523
That's my understanding too... so why are we saying that `true` must be returned?

[2022-11-16 00:43] lasjorg commented on #48523
It doesn't matter if it is done explicit or implicitly through coercion/convertion. It will be `true` or `false` and only if it is `true` will the element be added to the new array that is returned.

[2022-11-16 00:45] jeremylt commented on #48523
Right, that has consistently been my understanding of how `.filter` works. How about our challenge text says that clearly?

One concise way that we can say that is by saying

[2022-11-16 00:47] lasjorg commented on #48523
I don't think we would be wrong in making sure the camper understands that the value is converted to a Boolean value. But I don't think simpely throwing the word truthy at them is going to explain that.

[2022-11-16 00:55] jeremylt commented on #48523
Sure, maybe they forgot the falsy/truthy lesson. I don't care about the exact wording used to fix this.

I would be happy with anything in the challenge that points out that "the return value of the callback function is coerced into a Boolean literal and only the elements that generate return values that coerce to the Boolean literal `true` are inserted into the new array". Currently we don't say

[2022-11-16 00:57] naomi-lgbt commented on #48523
How's this?

Also, looking at our curriculum, Falsy Bouncer has campers remove falsy values, but doesn't *really* teach what a truthy/falsy value is (or how coercion works). Maybe we should go in to that a bit more?

[2022-11-16 00:59] jeremylt commented on #48523
Is "evaluates to `true`" a JavaScript term of the art? I don't use it, but I also don't have weak and strong comparisons in most languages I use.

---

Yeah, I agree that this lesson could be clearer. I've seen so many strange hacks to get around the point - using implicit coercision/truthiness.

[2022-11-16 01:03] lasjorg commented on #48523
But it _does_ have to return `true`. It doesn't matter that it happens through a Boolean conversion, or through an expression `item > 10`, or whatever else might result in a boolean value. The end result is that the callback either returns `true` or `false` and that is literally the value that is used by filter to keep or not keep an element.

[2022-11-16 01:04] jeremylt commented on #48523
But what about this example

[code]

The return value is never `true`.

[2022-11-16 01:06] lasjorg commented on #48523
Except this is what actually happens:

[code]

Is pretty "inside baseball" in my opinion.

[2022-11-16 01:11] naomi-lgbt commented on #48523
I think we may be splitting hairs on this.

[2022-11-16 01:12] jeremylt commented on #48523
The coercion happens *internal* to the filter, after the callback function returns.

---

[code]

---

[code]

---

The `myFilter` exercise is exactly why I care about this.

[2022-11-16 01:51] lasjorg commented on #48523
@naomi-lgbt I think that might work.

Not sure if it should be worded more as a hypothetical so the context is more general?

Not sure if it makes much of a difference, really.

[2022-11-16 01:52] naomi-lgbt commented on #48523
Yep that should be fine.

I'll go ahead and open this up to contribution, then.

[2022-11-16 01:54] naomi-lgbt commented on #48523
Thanks for opening this issue.

This looks like something that can be fixed by "first-time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/use-the-filter-method-to-extra

[2022-11-16 03:32] hbar1st commented on #48452
hi Tom,
It is true that I can find more examples to show you of people struggling with these specific steps, but I think we have covered already that the order is meant to be the way it is so I will not dredge up more.
I would be happy to have the additional mention of adding rows to the checks for the foreign keys as that will save me and others on the forum having to state that every time it com

[2022-11-16 03:32] #48452 closed

[2022-11-16 15:31] hbar1st opened #48526 "how-to-work-on-the-docs-theme.md should mention that a new doc file requires also updating the _sidebar.md"
### Describe the Issue

I noticed that the doc describing the process for updating the docs (how-to-work-on-the-docs-theme.md) doesn't explicitly say that when adding a brand new doc file, the _sidebar.md file should be updated (or evaluated to see if the new file should be listed there).

I'm not sure if 100% of new doc files should in fact get added to the _sidebar.md, but I feel it should be me

[2022-11-16 17:40] jeremylt opened #48527 "Overly strict comments"
### Describe the Issue

The declaration of arr doesn’t need to be guarded by ‘Do Not Change’ comments. There exist many solutions (3 in the guide) that do not need that variable declaration.

### Affected Page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/wherefore-art-thou

### Expected behavior

These comments should be removed or

[2022-11-16 18:37] Rimpalpatel888 commented on #11280
Hello,
i have stuck on same issue can you please help me .

[2022-11-16 20:05] RandellDawson commented on #48527
[Thread concerning possible solutions to this issue](https://forum.freecodecamp.org/t/wherefore-art-thou-original-problem-code-changed-so-the-solutions-dont-match/413404/3).

[2022-11-16 20:08] jeremylt commented on #48527
I was thinking something simplier

[code]

We've ditched a lot of these comments in the rest of the intermediate algorithm challenges. Does the comment help us at all here?

[2022-11-16 20:18] RandellDawson commented on #48527
Probably not.  I honestly would not even put the `return collection` after the return.  At this point in the curriculum, users should know the function needs to have a `return` statement and they can craft their own.

[2022-11-16 21:54] jeremylt commented on #48527
Sure, then the fix would be:

[code]

This looks like a good first-timer issue.

[2022-11-17 01:00] naomi-lgbt commented on #48527
Thanks for opening this issue.

This looks like something that can be fixed by "first-time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/wherefore-art-thou.m

[2022-11-17 08:43] Sboonny commented on #43778
While talking to Oliver about `nav-link.tsx` theme and how the `connect` function in it expect `Action<any>` result.

Here is a picture for clearance.

![image](https://user-images.githubusercontent.com/88248797/202397478-66a8f793-0754-4466-b09b-3e6f66956c75.png)

So I am wondering if it's okay to add `action.js` to the list of migration and for me to add generic types to it, or is there a reason

[2022-11-17 12:29] ahmadabdolsaheb commented on #48424
That is expected. you can ignore that message for now or create an empty postcss.config.js file in the freecodecamp's root directory.

[2022-11-17 18:35] #48523 closed

[2022-11-17 20:48] NicksPatties opened #48535 "CSS property clip is deprecated, but used in (New) Responsive Web Design accessibility lesson"
### Describe the Issue

The CSS property `clip` is used to visually hide an element while leaving it visible for screen readers in the accessibility lessons. However, the property is [deprecated according to MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/clip). An alternative to this is available using the new `clip-path` CSS property like so: `clip-path: circle(0)`.

The lesson and the tes

[2022-11-17 22:01] bbsmooth commented on #48535
While we are at it, we might as well get rid of some of the other properties in the `sr-only` class that don't need to be there (such as `padding`, `margin`, and `border`). Based on the article I linked to above, the class should be:

[code]

[2022-11-17 22:46] NicksPatties opened #48536 "The added submit button displays "Submit," but the assertion still fails"
### Describe the Issue

This step of the Accessibility Quiz lesson asks the user to add a Submit button to their form to finish things off. My button says "Submit," but the assertion still fails and the lesson cannot be completed.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-41

### Your code

[code]

### Expected beh

[2022-11-17 23:15] #48527 closed

[2022-11-18 00:11] oriooctopus commented on #48502
@ahmadabdolsaheb  @naomi-lgbt  @ojeytonwilliams wanted to follow up on this as I haven't heard anything back. I'm happy to lend a hand in the development.

I wanted to also tag tom but I don't know his github handle

[2022-11-18 01:29] naomi-lgbt commented on #48536
Hi there,

Thanks for taking the time to open this issue. We're going to close this as a duplicate of #47447.

[2022-11-18 01:29] #48536 closed

[2022-11-18 14:58] ojeytonwilliams commented on #48502
Hi Oliver, thanks for the detailed write-up, it's great to have it somewhere we can all see it.

Last time we discussed this we talked about whether this was intended to be more of a reminder or an aside. Do we see users reading the initial definition, forgetting it and then jogging their memory with this dictionary? Or is it more that we use this as the primary way of introducing technical terms?

[2022-11-18 17:17] NicksPatties commented on #48535
Thanks for the article! I'll make a new branch and start tackling this today. First, I'll fix the styles and assertions in the mentioned step, then if appropriate in the same PR, I'll update the styles for the subsequent pages.

[2022-11-18 17:48] moT01 commented on #48502
I don't think it necessarily needs to function as a "reminder" or an "aside" - it could be both. I think it could be a place where the "official" definition lives - and if someone wants to define the term within the instructions, they can - or if they don't, then campers can use the dictionary if they want. I say this because I don't think it's necessary to define **every** term the first time it

[2022-11-18 20:07] oriooctopus commented on #48502
users reading the initial definition, forgetting it and then jogging their memory with this dictionary? Or is it more that we
   use this as the primary way of introducing technical terms?
   I think the consensus was 'reminder', but I wanted to check.

Yes you're right I should have clarified on that. My thinking regarding this is twofold:
1. The actual functionality or what it would do is still

[2022-11-18 20:08] oriooctopus commented on #48502
This weekend I'll try to play around with this a bit and come up with names for the first 10-20 steps out of the responsive design course and new JavaScript course. I'll post them here and we can see how reasonable and useful the naming is

[2022-11-18 20:15] oriooctopus commented on #48502
If we get the user acquainted with the idea of a dictionary that they can reference (I'm not talking about the popup, but more something like solution 2 that I described above or even a /dictionary page where you can see the definitions of words with examples) then it would probably be sufficient to just add a link to the dictionary to new words the first time they show up. If in the future they'r

[2022-11-19 17:45] jeremylt opened #48554 "Var in Challenge"
### Describe the Issue

Is there a reason we have var in this challenge code?

### Affected Page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/global-scope-and-functions

### Expected behavior

Var isn't used in most of your challenges.

### Screenshots

_No response_

### System

All

### Additional context

_No response_

[2022-11-19 18:38] b-van-b opened #48555 "Solutions are deleted upon successful submission of challenges"
### Describe the Issue

Work-in-progress code for a challenge persists indefinitely, through signouts, closing and re-opening the browser, and rebooting the computer; however, as soon as the challenge is completed and "Submit and go to the next challenge" is clicked, the user's solution is deleted and replaced with the original boilerplate code presented at the beginning of the challenge.

This me

[2022-11-19 19:55] oriooctopus commented on #41373
Hey there, what's the status of this? I can help out with the language selector side of this if @MayurSMahajan is done

[2022-11-20 09:51] b-van-b commented on #48555
I believe that this is the affected code, from [/client/src/templates/Challenges/redux/code-storage-epic.js](https://github.com/freeCodeCamp/freeCodeCamp/blob/6e9cb35e3ea3e999f94ee328deaf6cee40be2092/client/src/templates/Challenges/redux/code-storage-epic.js#L74):
[code]

Am I correct?

[2022-11-20 09:58] alok-37 commented on #48475
What needs to be done on this?

[2022-11-20 10:22] gikf commented on #48521
[Learn Relational Databases by Building a Mario Database](https://github.com/freeCodeCamp/learn-relational-databases-by-building-a-mario-database) tutorial.

## Affected page

https://github.com/freeCodeCamp/learn-relational-databases-by-building-a-mario-database/blob/v1.0.4/.freeCodeCamp/test/895.test.js

Test is checking table and column from one of the previous steps. It should check `more_info

[2022-11-20 10:56] sivalaxman7 commented on #48554
we need to use let here instead of var right?

[2022-11-20 11:54] KravMaguy commented on #48476
please correct me if what I said is wrong, basically, we dont have a way to write a test that guarantees the app will produce a new quote every time.

I believe we can do one of two approaches:
1) keep instructions as they are, if it changes finish early with pass, if it never changes than its fails on timeout (what the current test is trying to do)
2) rewrite the requirements, if it times out it

[2022-11-21 03:50] bryanleemoore opened #48557 "References to comment dictionary gives invalid link"
### Describe the Issue

1. Any reference to the comment dictionary on the [How to work on coding challenges](https://contribute.freecodecamp.org/#/how-to-work-on-coding-challenges) section of the documentation gives an invalid link which sends users to https://contribute.freecodecamp.org/#/curriculum/dictionaries/english/comments.js
 ![image](https://user-images.githubusercontent.com/31421559/2029

[2022-11-21 04:32] scissorsneedfoodtoo commented on #48514
Hey @ahmadabdolsaheb, thanks for your patience.

I haven't had a whole lot of time to think about this, but it should be possible to build this feature. Then editors could manage it manually, or we could try to automate most of it during the build process.

Off the top of my head, we could set up either a remote database (Mongo Atlas or something similar), or even a Dockerized DB if automated.

Th

[2022-11-21 05:11] oriooctopus commented on #48502
@moT01 I went through the beginning of the two new courses creating titles and here are the results. A few notes:
- With the new course format there are definitely some times where there isn't really anything to say in the title. I think this is OK because the title isn't really something intrusive anyways. With that said though, I don't think these really are even titles more like descriptions (I

[2022-11-21 07:57] MayurSMahajan commented on #41373
@oriooctopus I am struggling with making things reponsive, the sign in button is causing a lot of problems. Should I send a pull request with my current progress?

[2022-11-21 13:07] Kirwiisp opened #48560 "Typo in CSS Learn CSS Transforms by Building a Penguin"
### Describe the Issue

In :
Step 43
Increase the psuedo-element's transparency by 30%.

psuedo instead of pseudo

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-transforms-by-building-a-penguin/step-43

### Steps to Reproduce

just loading the page

### Recommended fix or suggestions

change for :
Increase the pseudo-element's transparency by 30%.

###

[2022-11-21 13:39] gikf commented on #48560
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/aff567f4bf82a02262176d32374f6d051f3f4a3f/curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-peng

[2022-11-21 13:43] Sboonny commented on #48557
The seed comments are translated in crowdin, do we even want to keep that section? or are these comment different from the ones in crowdin?

[2022-11-21 16:52] Feanor96 opened #48562 "The tests are not being completed"
### Describe the Issue

**Issue Location-** _Backend and Api Course_, _Install and Set up mongoose_

**Issue-** The issue is that whenever I complete the instructions, the tests are still not completing. For example when the test was that Mongoose version _^5.11.15_ should be installed, it was already installed and now its saying that the test is not completed. I am using StackBlitz website builde

[2022-11-21 16:56] jeremylt commented on #48554
Yes. We intentionally moved away from using `var` in our challenges.

[2022-11-21 16:58] ojeytonwilliams commented on #48562
Hi @Feanor96, I recommend not sharing full connection strings with your username and password.  Just to be safe, it's best to update your password since this one is public now.

If this was just a random string, ignore me.

[2022-11-21 17:15] Rohan-07 commented on #48560
@Kirwiisp can you assign me this issue.

[2022-11-21 17:29] gikf commented on #48560
Hey @Rohan-07

We typically do not assign issues. Instead, we accept the first pull request that comprehensively solves the issue.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). We prioritize contributors following the instructions in our guide. Join us in [our chat room](https://discord.gg/PRyKn3Vbay) or [the forum](https://forum.freecodecamp

[2022-11-21 17:35] Kirwiisp commented on #48560
currently following the guideline to make my PR

[2022-11-21 18:58] #48560 closed

[2022-11-22 00:56] IvanoskiHarmonia opened #48566 "Typo in: "Hash Table Explained: What it Is and How to Implement It""
### Describe the Issue

if you go to this link: [Hash Table link](https://www.freecodecamp.org/news/hash-tables/), and go to "Some important notes about hash tables:" which is right below the first picture, in the second list point, the mistake is: "You **mush** account for potential collisions"

The only problem is that I cannot find this article anywhere. if someone knows where to find it let me

[2022-11-22 04:10] moT01 commented on #48566
Thanks for reporting @IvanoskiHarmonia, I found the article and fixed the typo - it will be updated with the next release of articles. Thanks

[2022-11-22 04:10] #48566 closed

[2022-11-22 04:21] IvanoskiHarmonia commented on #48566
Hey @moT01, I appreciate your help, I was not able to find the article so that is why I created this issue.

Thanks again for fixing it for me.

[2022-11-22 04:23] moT01 commented on #48562
I removed your URI string from the post @Feanor96.

I'm curious, is that a codespaces URL or what? It might have something to do with that, not sure. You could look at the network tab when you run the tests and see what the requests are doing. Is your server running?

This feels like a question that would be better for the forum. There's something not quite working in the project - I don't think i

[2022-11-22 04:23] #48562 closed

[2022-11-22 04:35] moT01 commented on #48566
I couldn't find it for a while either.

[2022-11-22 04:52] moT01 commented on #48555
This has come up quite a few times. Here's several issues with related discussions - some have links to other related issues:
-https://github.com/freeCodeCamp/freeCodeCamp/issues/17485
-https://github.com/freeCodeCamp/freeCodeCamp/issues/34479
-https://github.com/freeCodeCamp/freeCodeCamp/issues/36599
-https://github.com/freeCodeCamp/freeCodeCamp/issues/36626

I don't think this is something we ar

[2022-11-22 08:18] #48183 closed

[2022-11-22 08:28] ahmadabdolsaheb commented on #48514
@RafaelDavisH, I was wondering if you could discuss this with the i18n team and get back to us the the team's preferences?

[2022-11-22 13:24] ab80four opened #48571 "Typo"
### Describe the Issue

In the last paragraph in the "Abstraction" section there is a small typo of the word "Abstraction".  Right now its spelled "Abstarction".

### Affected Page

https://www.freecodecamp.org/news/what-is-object-oriented-programming/

### Steps to Reproduce

Would just have to follow the link and scroll down to the "Abstraction" section and read the last paragraph.

### Recommen

[2022-11-22 14:19] Feanor96 commented on #48562
Thanks @moT01 for removing the URI! I will check it and if it is not working, I will post it in the forum 🙌

[2022-11-22 16:58] AnonSar opened #48574 "Typo in Learn SQL by Building a Student Database: Part 1"
### Describe the Issue

In step [625.1 ( Delete echo MAJOR_ID )](https://github.com/freeCodeCamp/learn-sql-by-building-a-student-database-part-1/blob/c5190c5d09f5c76dc25fe64e05a44dc12a67971d/TUTORIAL.md#6251), currently, the instruction says:

Looks like found an ID that was already in the database twice and inserted three new items into the database. You don't need to print the ID anymore so dele

[2022-11-22 17:26] DylanDevelops commented on #48571
Is the typo somewhere in this repository: https://github.com/freeCodeCamp/news

[2022-11-22 17:29] ab80four commented on #48571
Honestly I couldn't find where the file was located, so I created the issue :/ sorry.

[2022-11-22 17:31] DylanDevelops commented on #48571
You're totally good. I just looked through the whole repository and I'm confused about where the file is located too. Hopefully, someone knows. I'm going to keep looking.

[2022-11-22 17:34] ab80four commented on #48571
Yeah its interesting, I did a search for the address and found nothing in the freecodecamp public repository.  I wonder if its in a private one?

[2022-11-22 17:35] DylanDevelops commented on #48571
Could be. I'll let you know if I find anything and maybe a member of freeCodeCamp will see this issue soon.

[2022-11-22 21:25] pJanks commented on #48571
Possibly in the db? where ever `[...]/news/[oop_article]` gets its data.

[2022-11-22 22:43] ShaunSHamilton commented on #48571
@ab80four Thank you for opening this issue.

@DylanDevelops and @pJanks Sorry for the confusion, news articles can only be edited by a member of staff.

[2022-11-22 22:49] ShaunSHamilton commented on #48554
Looking at the blame, it appears this is just one of the challenges we hardly ever change - it is old.

There appears to be no reason to not change it from `var` to `let`.

---

An issue with the https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues

[2022-11-23 04:29] oriooctopus commented on #41373
@MayurSMahajan @ojeytonwilliams  I'll try to pull down the PR this weekend and take a look at things

[2022-11-23 04:31] MayurSMahajan commented on #41373
sure

[2022-11-23 09:42] #48574 closed

[2022-11-23 13:25] Sboonny opened #48579 "extra space in a hint causes confusion in translation efforts"
There is empty space after `should` that confuses translation

Here is the string
https://github.com/freeCodeCamp/freeCodeCamp/blob/6ba84c091a72463e87111fb1e8b2e66d8ba16f1b/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/es6/use-getters-and-setters-to-control-access-to-an-object.md#L112?plain=1

here is the original issue
https://freecodecamp.crowdin.com/translate/690087

[2022-11-23 16:18] jNaimXIII opened #48580 "inconsistent stylesheet linking method across projects in responsive web design 2022 projects"
### Describe the Issue

It's not a bug but, more of a confusing aspect I believe for beginners.

[Step 5 | Building Responsive Form](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-forms-by-building-a-registration-form/step-5) has the instructions to add a stylesheet via adding a link tag with href set to `styles.css`.

[Step 7 | Learn CSS Box Model](https://www.freecodeca

[2022-11-23 17:17] Feanor96 opened #48582 "Two variables which are same"
### Describe the Issue

### The issue is in _Backend Development and APIs Course, MongoDB and Mongoose section_ challenge "Create a Model"

In the instructions, we are asked to create a model called `Person` from `personSchema` by the code:
[code]
However in the folder `boilerplate-mongomongoose`, there is already an empty variable:
[code]
Following the instructions gives a bug as the Person varia

[2022-11-23 21:37] thinklikeadesigner commented on #48579
Nice catch, whitespaces are weird in markdown. I'll make a PR.

[2022-11-24 01:05] AnonSar opened #48585 "Typos in OOP Meaning – What is Object-Oriented Programming? Article"
### Describe the Issue

One of the paragraphs within the article happens to be as follows:

Instead, it should be as follows:

In this article, we will go over Object Oriented Programming (OOP) as a whole, without relying on a particular language. You'll learn what it is, why it's so popular as a programming paradigm, its structure, how it works, its principles, and more.

**NOTE:** In the second

[2022-11-24 13:58] ShaunSHamilton commented on #48571
I have fixed the typo, and the change should be live the next time `/news` builds.

[2022-11-24 13:58] #48571 closed

[2022-11-24 16:29] Prince-Mendiratta commented on #48274
@scissorsneedfoodtoo When can we work on merging these PRs as well and closing this issue for good?

[2022-11-24 18:43] #48579 closed

[2022-11-24 21:04] hbar1st opened #48589 "CatPhotoApp Step 4 Editor should have a blank line where new comment should go"
### Describe the Issue

Been puzzling over why so many people see the instructions in step 4 of the cat photo app and ignore the requested location of "above the p element" when adding their new comment line of code.
Discussed with @jeremylt and he noticed that the editor doesn't show an empty line where it expects the code to go (usually it does on other steps).
This issue then is to request a bl

[2022-11-25 00:58] DylanDevelops commented on #48589
I don't have an option for this.

However, I do think that we should take away the empty space that is created below the `p` tag as there is no reason why it needs to be there, and might lead to confusion.

[2022-11-25 02:18] ccervan opened #48590 "Broken links in forum"
### Describe the Issue

Hello! There are four broken links in the documentation about how to report a bug.

These are the broken links:
https://www.freecodecamp.org/t/how-to-get-help-on-gitter/19130

https://www.freecodecamp.org/t/searching-for-existing-issues-in-github/18390

https://www.freecodecamp.org/t/refresh-your-browser-cache/19365

https://www.freecodecamp.org/t/removing-all-locally-store

[2022-11-25 06:54] Sboonny commented on #48590
I have edited the links, please check if the issue persists. For context, some of the old link were `.com` which I changed to `.org` and update some mismatch in URL.

All should be sorted if I have done everything right, so I am closing this. if the issue is still there, please notify us and reopen the issue

[2022-11-25 06:54] #48590 closed

[2022-11-25 14:33] #47447 closed

[2022-11-25 18:32] naomi-lgbt commented on #48557
The seed comments are translated in Crowdin *through* these dictionaries.

[2022-11-25 18:36] Sboonny commented on #48557
So I was misunderstanding the workflow 👍, opening this for review 👍

[2022-11-26 11:48] Sboonny opened #48607 "Missing German link in live certifications section"
In https://contribute.freecodecamp.org/#/index?id=translations, live certification missing German.

Here is the file

https://github.com/freeCodeCamp/freeCodeCamp/blob/2357ad69b7da2f24a8895dd736395775eda69c24/docs/index.md#L28-L33?plain=1

You should add

Here is the code link

[code]

---

If you would like to fix this issue, please make sure you read [our guidelines for contributing](https://con

[2022-11-26 18:43] harshilnakum commented on #48607
@Sboonny assign this to me.

[2022-11-27 01:46] AnonSar opened #48609 "Typo in Wi-Fi Hacking 101 – How to Hack WPA2 and Defend Against These Attacks Article"
### Describe the Issue

An item within the `What We'll Cover` list within the article has been misspelled as `Preriquisites` ( it should be spelled as `Prerequisites` ).

### Affected Page

https://www.freecodecamp.org/news/wi-fi-hacking-101/?fbclid=IwAR3OeQ7Y-vO8TNkm2Zbr971ToV27S5cuTnHfTWVSaI5NuEvWVBy1UdnjtoY

### Steps to Reproduce

Just viewing the article itself within the browser, should be s

[2022-11-27 09:03] #48607 closed

[2022-11-27 11:04] amansinghal14 commented on #48589
Hi @hbar1st and @DylanDevelops, I want to work on this issue. Could you assign it to me?

[2022-11-27 14:52] DylanDevelops commented on #48589
Issues don't get assigned so just create a new branch and get to work! Make sure you have read the rules for contributing: https://contribute.freecodecamp.org/#/

[2022-11-27 14:52] harshilnakum opened #48614 "Trending Guides section in Footer is not translated in German"
### Describe the Issue

Upon changing the language to German on home page, the trending guides section in footer displays content in English instead of German.

### Affected Page

https://www.freecodecamp.org/german/

### Steps to Reproduce

1. Go to https://www.freecodecamp.org/german/
2. Scroll down to footer
3. See the content under "Beliebte Guides" (Trending Guides)

It is not translated to G

[2022-11-27 14:53] Sboonny commented on #48589
Whoops, I have missed a step 🤣 👍
---

If you would like to fix this issue, please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instructions in our guides. Join us in [our chat room](https://discord.gg/PRyKn3Vbay) or [the forum](https://forum.freecodecamp.org/c/contributors/3) if you need help contributing, ou

[2022-11-27 14:59] Sboonny commented on #48614
Although what you are saying is true, it's complicated, there need to have enough translated article to be displayed in the footer. If you are interested in helping out, you can head to [German discord channel](https://discord.gg/PRyKn3Vbay) and discuss it with language lead there

[2022-11-27 14:59] #48614 closed

[2022-11-27 16:34] nayabatir1 commented on #44475
Is this the proposed solution for this issue ?

[2022-11-28 13:18] #48589 closed

[2022-11-28 13:46] #48554 closed

[2022-11-28 14:20] mmatsumoto1026 commented on #48449
The "a hashed pattern inside" of heart that @ShaunSHamilton mentioned (and I also noticed this a few months ago when translating this step) can be reproduced using the [`Noto Emoji` font family](https://fonts.google.com/noto/specimen/Noto+Emoji?query=noto+emoji), as shown below.

![noto_emoji](https://user-images.githubusercontent.com/44451585/204297919-5da972f1-6f0b-4133-a329-4c317474199c.png)

W

[2022-11-28 14:40] naomi-lgbt commented on #48449
I don't see the need to add steps that import and remove a font for this.

I'd much rather stick with adding the note "In some browsers, the heart emoji may look slightly different from the previous step." so that we can focus on the concepts this project is actually trying to teach.

[2022-11-29 02:25] scissorsneedfoodtoo commented on #48274
Hey @Prince-Mendiratta, thanks for your patience and again for all of your help with these updates.

We plan to do a new release of Learn soon. Once the updated text you added in https://github.com/freeCodeCamp/freeCodeCamp/pull/48374 goes live, we can go in and merge all of the PRs you opened in the boilerplate repos listed above.

This is something we need to coordinate internally, but I will de

[2022-11-29 12:57] phuthien007 opened #48623 "Infinity loop when auto compile"
### Describe the Issue

When I create a parent component , after that i create children component. A infinity loop when i use parent component in children component and do vice versa. I can delete or edit this page by anyway.

### Affected Page

https://www.freecodecamp.org/learn/front-end-development-libraries/react/use-react-to-render-nested-components

### Steps to Reproduce

1. Go to '[...](ht

[2022-11-29 16:30] #48623 closed

[2022-11-29 17:45] oriooctopus commented on #48502
@moT01 @ahmadabdolsaheb @ojeytonwilliams wanted to follow up on this. Sorry, I know it's a lot of text to read

[2022-11-29 20:26] moT01 commented on #48502
Earlier you said something like (I shortened it)...

I kind of feel the opposite. The popup is what intrigued me the most, and the implementation you created is really clean. Here's some more thoughts on your first three suggestions...

1. > Make sure that we always define a technical word first time it comes up...

We do try to do this, but we don't do it every time - and there may be times where

[2022-11-29 21:49] bbsmooth commented on #48502
I like it too but I'm going to disagree with you a little on implementation, if you want to do it accessibly that is :grin: Tooltips are hard to make accessible. Yes, you can use the browser's default tooltip functionality and technically be WCAG compliant, but that doesn't mean it is accessible for everyone (spoiler, it isn't). I did find one pretty good accessible tooltip implementation in [Mate

[2022-11-30 04:30] oriooctopus commented on #48502
@moT01

Yeah this is a good point.

Yeah! I saw that and commented on the issue a couple of weeks ago, but it seems like progress is stalled on it/are happening privately. I would love to be involved with this and contribute if you think it's possible for me to do so.

We agree that there is a problem, and we also agree that it is not straightforward to solve due to design limitations. However, I

[2022-11-30 05:41] naomi-lgbt commented on #48502
For what it's worth, the only complaints I have seen about lack of titles is that it's hard to search for where concepts are taught - which would be fixed independently. I don't believe we need to give the steps titles.

[2022-11-30 05:42] naomi-lgbt commented on #48502
My concern here would be that if we implement a tooltip, we'll inevitably come to rely on it for conveying definitions - it'll impact how we write the actual instructions. And this will turn it into a core feature.

[2022-11-30 06:09] bbsmooth commented on #48502
I'm not sure I would make that distinction. If a feature is good for some users then all users should be able to take advantage of it. Especially when we have perfectly acceptable alternatives, such as toggle tips.

[2022-11-30 08:27] ojeytonwilliams commented on #48502
This approach sounds really promising. One concern I had with the tooltips is that they could be way more intrusive for someone listening than someone reading.  For example if it's, essentially

Reading:

vs

Listening:

that would break you out of the flow.

[2022-11-30 14:17] #48526 closed

[2022-11-30 17:05] oriooctopus commented on #48502
Good point

Would this only include the terms that are introduced in that step? Or would it also include any technical term dimensions? A third option is that include the new terms and perhaps if there are any other crucial terms that were previously mentioned those are awesome included

[2022-11-30 17:09] moT01 commented on #48502
I don't like this. I would prefer to keep the instructions and the items around it as minimal as possible. I would rather put them in the notes or the tooltip or something

That's a possibility, we probably don't want that to happen - that may not necessarily be a bad thing, though. It might allow us to shorten the instructions. But yea, we can't stop defining things in the instructions - that's w

[2022-11-30 17:32] naomi-lgbt commented on #48502
I'd argue that we would only want to *tag* challenges with the specific concepts that are being taught in that challenge.

That is, the challenge that teaches a `div` gets tagged with `div`, and the challenges that use `div`s but aren't teaching it don't get tags.