[2020-11-11 13:28] #40214 closed

[2020-11-11 13:33] Sky020 commented on #40215
Hello there,

Thank you, for taking the time to report this. However, there is no typo here. There is **no** `form` attribute in `label` elements. but there **is** a `for` attribute.

As such, I am closing this issue. In general, we recommend a topic be opened on the [forum](https://forum.freecodecamp.org), and, if it is determined that there is an issue there, then an issue can be opened here on

[2020-11-11 13:33] #40215 closed

[2020-11-11 13:44] DhairyaBahl commented on #40214
@Sky020 It's visible now :) Thanks

[2020-11-11 13:46] vkWeb opened #40216 "Discussion (donations): give donors an option to voluntarily add the 2% charge that stripe / paypal demands"
**Is your feature request related to a problem? Please describe.**
Every year thounsands of dollars goes to payment gateways (stripe / paypal) as processing fees. Reducing this amount will provide freeCodeCamp with more funds to invest in free education.

**Describe the solution you'd like**
Wikimedia foundation and Khanacademy allow their donors to add processing charges (usually 2% of donation a

[2020-11-11 13:49] Sky020 commented on #40212
Thank you, for bringing this up.

As @ieahleen mentioned, common CSS syntax is without the spaces. However, we have, in the past, changed tests to allow for all _interpretable_ CSS to pass.

So, I will open this up for contribution. Specifically, to remove the unnecessary `\s*` declarations in the tests' regex. The tests should either be structured with:
[code]
OR
[code]

[2020-11-11 16:55] #39099 closed

[2020-11-11 16:59] RandellDawson commented on #39099
@scissorsneedfoodtoo I notice the following boilerplates still use `get_file` method.  Do these need to be updated also?

https://github.com/freeCodeCamp/boilerplate-linear-regression-health-costs-calculator/blob/master/fcc_predict_health_costs_with_regression.ipynb

https://github.com/freeCodeCamp/boilerplate-neural-network-sms-text-classifier/blob/master/fcc_sms_text_classification.ipynb

[2020-11-11 19:57] nhcarrigan commented on #39721
Alright - I pushed out PRs to hit the Stock Price checker and Message Board projects. 🙂

[2020-11-12 01:50] RandellDawson opened #40220 "Bug(learn) - List item's font size larger than surrounding text"
While reviewing some new PRs that used unordered lists, I noticed the font size of the bulleted items was significantly larger than the surround text in a challenge's description or instruction section.  I asked a few other staff if they noticed it, and they agreed something was not right.  Today, I took the time to go back in as far as 12 months in the repo's commits and discovered it has been th

[2020-11-12 01:54] nhcarrigan commented on #40220
Looking at the elements, the fonts are both rendered `18px` in size, but I see the discrepancy in appearance.

The standard `p` element is set to `1rem`, whereas the `ul` and `li` items are hard-coded at `18px`.

[2020-11-12 06:51] krishnadevpmelevila commented on #40211
it is very simple...try again you will get it

[2020-11-12 08:05] ahmadabdolsaheb commented on #40193
@rammazzoti2000, that is a cool trick. Thanks for sharing the link.

Since are planning to move off of bootstrap, we should consider luma-corrected calculations in how we implement our dark/light themes during the rewrite process.

Meanwhile, I think we could move forward with making the simple change that resolves this issue.

@redshark25, sure. Make sure you read this: https://contribute.freecod

[2020-11-12 08:55] ahmadabdolsaheb commented on #40216
This feature is on the roadmap :).

Since the development of this feature is a bit more involved, I would rather have a team member work on it in the background.

Let me know if you are interested in donation related issues/features. There are some that we could use your help with.

I will close this issue for now accordingly.

[2020-11-12 08:55] #40216 closed

[2020-11-12 09:57] Thongsamouth opened #40222 "iOS"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2020-11-12 10:01] ieahleen commented on #40222
this issue seems to be opened accidentally, so I'm closing it

[2020-11-12 10:01] #40222 closed

[2020-11-12 10:02] Thongsamouth commented on #40222
Hi honey I'm just checking on my pictures

[2020-11-12 10:34] prolland006 commented on #40220
it is not the same font Roboto for the selected text (under <code>selected</code>) and Lato for the normal text. Maybe change the css for "<Code></Code> can have an impact on the others pages !

[2020-11-12 10:56] prolland006 commented on #40220
the fonts are different : Roboto and Lato

[2020-11-12 10:57] Sky020 commented on #40220
I noticed this with the MD/HTML here: https://github.com/freeCodeCamp/freeCodeCamp/issues/39614#issue-704573719

I suspected it had to do with the use of HTML vs MD, but I did  not end up getting conclusive evidence.

[2020-11-12 12:32] prolland006 commented on #40220
i put the good font on <code>ul</code> and it looks better

[2020-11-12 15:39] lasjorg commented on #40211
@ieahleen The thing is, the regex does pass each test individually. It's the seed code and the test runner that causes the code to not pass all the tests and not the camper's code.

The challenge gives no indication that code is run in succession, each test is presented as an isolated test, and as such, should pass the tests.

[2020-11-13 03:42] scissorsneedfoodtoo commented on #39099
@RandellDawson, thanks for catching that.

The Predict Health Cost Regression project definitely needs to be changed since it's trying to get the file from the CDN repo.

The SMS Text Classification should be fine for now because it's grabbing the files from GitHub directly. But it wouldn't hurt to update the boilerplate so it uses `!wget`, though.

I'll make a couple of quick PRs and tag you in t

[2020-11-13 09:00] vkWeb commented on #40216
@ahmadabdolsaheb Oh nice :) I hope donors will make use of the option & pump more donations to the fCC community.

I would love to help and contribute. I do whenever it is possible.

but to be honest, right now I am focusing on algorithms and systems. Also, I don't have the right skillset to contribute anything substantial. So I will return to the development side after getting some experience wit

[2020-11-13 14:54] prolland006 commented on #35566
I just tried to reproduce the problem on firefox and Chromium and it is working. Unable to reproduce the problem for me it is corrected and you can close it.
I tried to set several times the .md and the web browser is reloaded each time.

[2020-11-13 16:42] YagneshP opened #40226 "Words are not contained within the code block on a smaller screen Solution in Technical documentation Project example"
**Describe your problem and how to reproduce it:**
In the Technical documentation project, words are not contained within the code block,

**Add a Link to the page with the problem:**
[Technical documentation Page](https://codepen.io/freeCodeCamp/full/NdrKKL)

**Tell us about your browser and operating system:**
* Browser Name: Google Chrome
* Browser Version:  86.0.4240.183
* Operating System: Wi

[2020-11-13 19:56] #40220 closed

[2020-11-14 03:02] zootechdrum commented on #40212
Can I take this ? Is it up for grabs ? It will be my first time contributing with such a huge codebase.

[2020-11-14 03:13] RandellDawson commented on #40212
@Sky020 It would actually be `__helpers.removeWhiteSpace(code)`

[2020-11-14 05:16] sidram05 commented on #40226
Can I work on this one ?

[2020-11-14 07:29] ieahleen commented on #40212
@zootechdrum if you haven't done so, read our contributing docs contribute.freecodecamp.org

the first comprehensive PR submitted is the one evaluated, issues are not assigned

[2020-11-14 07:33] ieahleen commented on #40226
@sidram05 I don't think you can, the issue is in the sample project on CodePen.

If you haven't done so, read our contributing docs contribute.freecodecamp.org, and look at the issues tagged with "first timers only" (if it's your first time contributing to freeCodeCamp) and "help wanted"

[2020-11-14 08:16] prolland006 commented on #38013
I tested on Windows+Chrome to set my email address and it is working on the production. I changed my email address.

[2020-11-14 09:00] prolland006 commented on #39561
I confirm that it is unable to change the value.

[2020-11-14 11:52] #40089 closed

[2020-11-14 12:19] M0hanad0 opened #40228 "translate the curriculum to Arabic."
**Is your feature request related to a problem? Please describe.**
I want to translate the curriculum to Arabic so students not fluent in English can get the benefit of this amazing platform.

**Describe the solution you'd like**
translating the curriculum to Arabic.

**Describe alternatives you've considered**
None

**Additional context**
it's a feature I wanted in the beginning of my journey to

[2020-11-14 12:50] ieahleen commented on #40228
the FAQs in the contributing guideliens say:

([From Here](https://contribute.freecodecamp.org/#/FAQ))

it's in the road map and it will be possible in future.

[2020-11-14 12:51] ieahleen commented on #40228
You can start translating the contributing guidelines, you can find the link for that here: https://contribute.freecodecamp.org/#/

[2020-11-14 13:19] M0hanad0 commented on #40228
Thanks for the reply.

[2020-11-14 13:20] M0hanad0 commented on #40228
so is there any specific guidelines?

[2020-11-14 13:27] ieahleen commented on #40228
@M0hanad0 : it's pretty new, so there is not much yet consolidated. If you have issues with the software you can always ask in the contributor channel/subforum in the forum or in one of the chat systems

[2020-11-14 17:10] ieahleen opened #40229 "news article says to ask any question in this repository"
Maybe the part about any question in this repository should be removed?

the article is this one: https://www.freecodecamp.org/news/the-c-plus-plus-programming-language/

[2020-11-14 17:57] Sky020 commented on #39582
Just bringing this back up: Are we changing the tests, or changing the instructions to be explicit about the versioning?

[2020-11-14 18:11] lasjorg commented on #39582
Personally, I'd say both.

Show the npm command for how to install a specific package version and make the test ignore/accept the caret.

[2020-11-14 18:15] Sky020 commented on #39582
@lasjorg I like that. This kind of lesson is **so** short, I also think it would be useful to add the information about `--save-exact`.

I am going to open this up for general help

[2020-11-14 20:57] RandellDawson commented on #40229
I am not aware of any questions on GitHub coming from news articles.  The article does not link to freeCodeCamp's repo, so I think it is probably fine.  The only link in the sentence goes to the forum.

[2020-11-14 21:26] Sky020 commented on #39925
Would it be beneficial to remove whitespace as well as JScomments within the same function (always)?

Is there any reason we would ever want just the whitespace removed?

[2020-11-14 21:31] nhcarrigan commented on #39925
The only time I could think it would be an issue is for the few challenges where we are specifically looking at the user's comments - but I'm not sure that we remove whitespace there. If we don't, then I see no reason we can't do both of these at once.

[2020-11-14 21:40] RandellDawson commented on #39925
I spoke with @ojeytonwilliams a few months back about automatically removing all the comments (JS, HTML, CSS, JSX) from all challenges except where specified with a special frontmatter key for a particular challenge.

We should not be removing whitespace from all challenges though.  Those should be on a case-by-case basis.  The white space issue will soon not be a big deal when we use a CSS parser

[2020-11-14 21:45] Sky020 commented on #39925
Let me be more specific: All I am suggesting is adding:
[code]

[2020-11-14 21:57] RandellDawson commented on #39925
I am not sure what that would do.

[See here](https://babeljs.io/docs/en/babel-generator) for `@babel/generator` options.

I honestly do not see a need to combine the two functions, but that is just me.

[2020-11-14 22:02] Sky020 commented on #39925
I thought the reason is to resolve this issue - `removeJSComments` by itself causes unwanted formatting.

But I have just thought of why removing whitespace is not the best solution, because JS keywords rely on whitespace for delimanation. Probably works for most tests, but can cause other issues down the line.

[2020-11-14 22:14] RandellDawson commented on #40226
@ieahleen @sidram05 The source code that is used on Codepen is located https://github.com/freeCodeCamp/testable-projects-fcc/tree/master/src/projects/technical-documentation-page, so you can submit a PR to that repo and reference this issue if you want to contribute.  Once the PR is merged, we currently manually update the Codepen using the source code in the repo.

[2020-11-14 23:14] #40212 closed

[2020-11-15 05:21] d3334799 opened #40235 "I've seen many tutorials on YouTube. But it seems I still can't face this.i want the best way to learn coding"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-11-15 05:25] nhcarrigan commented on #40235
Hello~!

For guidance with your development journey, I recommend checking out our [forums](https://forum.freecodecamp.org).

GitHub issues are for bugs or feature requests in the curriculum. As such, we are going to close this issue. 🙂

[2020-11-15 05:25] #40235 closed

[2020-11-15 07:54] prolland006 commented on #39432
I worked on this issue one time on my old computer that is very slow and on my main PC (with a dual boot). On my old computer I have the same result as @ojeytonwilliams, regurlaly timeouts. On the new one to have this issue I have to paste 3 times the piece of code to reproduce it. But everytimes, this is a real timeout (5ms, I put 'new Date()' on the code).

We can upgrade the source code with th

[2020-11-15 15:31] anilkhichar commented on #40014
Finally, it's working for me.

**Problem 1:** `gastby: command not found` got fixed by updating Mac XCode.
**Problem 2:**

[2020-11-15 15:41] khan97 commented on #4956
<link href="https://fonts.googleapis.com/css?family=                     " rel="stylesheet" type="text/css">

[2020-11-15 19:45] nhcarrigan commented on #40046
I also agree that this is fairly clear as is.

[2020-11-15 19:47] nhcarrigan commented on #39630
@SaintPeter with the merge of #39642 this can be closed, now?

[2020-11-15 19:49] nhcarrigan commented on #39470
With the migration to the demo-projects repo, this can be closed by https://github.com/freeCodeCamp/demo-projects/pull/37/ right?

[2020-11-15 19:52] nhcarrigan commented on #39468
This issue appears to be fixed in the new [demo project](https://sudoku-solver.freecodecamp.rocks/). As such, we are going to close the issue. If you feel this has been done in error, feel free to request that it be reopened and provide all relevant information. 🙂

[2020-11-15 19:52] #39468 closed

[2020-11-15 21:09] LazaroFilm opened #40239 "Request Header Parser Microservice - check for language accepts any string."
**Describe your problem and how to reproduce it:**
In [APIs and Microservices Projects - Request Header Parser Microservice](https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/request-header-parser-microservice), the test passes with any string in the language object.
[code]

**Add a Link to the page with the problem:**
[APIs and Microservices Projects - Requ

[2020-11-15 21:14] nhcarrigan commented on #40239
[code]

The issue is that the test only asserts that the property exists and has a length. The same is true for all three of the expected return properties.

The challenge here would be writing a test that successfully accounts for any valid `language` value.

[2020-11-15 22:53] Sky020 commented on #40239
I do not see a problem here. Unless we change the instructions (user story) to ask for a specific language, all we can/should do is test that it exists.

Am I missing something?

[2020-11-15 22:57] nhcarrigan commented on #40239
I believe the idea is that the endpoint should return the user's browser language, such as:
![image](https://user-images.githubusercontent.com/63889819/99199273-bb69b280-2752-11eb-8639-c9b8d0faebaa.png)

So it makes sense that allowing *any* value to be returned is a bit strange - though, testing for a valid language value would get overly complex IMO.

I'm fine either way I think - leave it, or d

[2020-11-15 23:08] #40046 closed

[2020-11-16 07:08] ieahleen commented on #40229
Oh, ok, I'm closing this then

[2020-11-16 07:08] #40229 closed

[2020-11-16 08:19] #38334 closed

[2020-11-16 09:28] raisedadead opened #40250 "Remove Support for MONGODB-CR (SCRAM Authentication)"

[2020-11-16 09:54] ahmadabdolsaheb commented on #40216
Thanks @vkWeb, best of luck with your algo and sys studies.

[2020-11-16 11:32] #40193 closed

[2020-11-16 18:07] SaintPeter commented on #39630
@nhcarrigan I guess?  I honestly can't remember what this was for.

[2020-11-16 18:08] SaintPeter commented on #39470
Yes, the improved demo project should deal with these issues better.

[2020-11-16 18:09] nhcarrigan commented on #39630
This was for the missing error handling expectations in the user stories - I believe they've been addressed in the PRs, so we can close this I think.

[2020-11-16 18:09] #39630 closed

[2020-11-16 20:35] nhcarrigan commented on #38540
Heya @ahmadabdolsaheb - it looks like the Design Style Guide is still using the green logos. I had prepped a PR to use the assets from the CDN before I saw your comment about replacing the S3 images on Amazon instead. Is that still the planned route?

[2020-11-17 07:30] cacious7 opened #40251 "bug with mobile autocomplete in challenge code section"
**Describe the bug**
When trying to replace the text inside the closing tag of an html element, the autocomplete deletes part of the closing tag and sometimes, some text before it.

**To Reproduce**
Steps to reproduce the behavior:
1. Click [here](https://www.freecodecamp.org/learn/responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-the-footer-landmark)  to go to

[2020-11-17 08:41] Twaha-Rahman opened #40252 "All Cypress CI failing due to GitHub removing set-env and add-path commands"
GitHub yesterday (November 16) [removed `set-env` and `add-path` commands](https://github.blog/changelog/2020-11-09-github-actions-removing-set-env-and-add-path-commands-on-november-16/) which our Cypress CI depended. So, currently all Cypress tests in CI are failing.

Just using the latest version of the Cypress GitHub action should do the trick. (We are currently running the outdated `cypress-io

[2020-11-17 08:47] Twaha-Rahman commented on #40252
I believe merging #39624 should do the trick as it updates the Cypress action from `cypress-io/github-action@v1` to `cypress-io/github-action@v2`.

[2020-11-17 11:22] #40252 closed

[2020-11-17 15:41] nhcarrigan commented on #40251
Hello~!

This is a known issue with the Monaco editor and the default mobile keyboard. We actually have a news [article on using a mobile device](https://www.freecodecamp.org/news/freecodecamp-mobile/), which touches on some mobile keyboards specifically built for coding that are known to work well with our platform. We recommend trying these keyboards.

For now, we are going to close this issue.

[2020-11-17 15:41] #40251 closed

[2020-11-17 18:08] lasjorg commented on #40239
I'm sure there are some well-defined rules for the overall structure and allowed values. But validating for it seems pointless, especially seeing as we don't check the other properties.

You can pass all the tests by just hardcoding any string value for the properties.

[2020-11-17 18:34] #40228 closed

[2020-11-17 19:35] ieahleen commented on #40211
seen in that way, maybe yes - considering also that something similar is done for functions

[2020-11-17 23:54] luqven commented on #38853
Picking this up again. Sorry the the multi-month delay 😬, life took some crazy turns.

[2020-11-18 09:24] ojeytonwilliams commented on #38853
Hey @luqven no apology necessary, it's always nice to see someone come back.

[2020-11-18 16:36] Twaha-Rahman opened #40257 "Add a Visual Snapshot testing tool for visual tests"
After hearing about Percy and giving it a try, I found it really powerful especially when used with Cypress. But I found some limitations with Percy and thought that I can overcome those obstacles, so I tried creating my own Visual Snapshot Testing tool.

So after a few days, now I have a working PoC up and running.

# Here is a small preview of it's capabilities -

### If this two images are give

[2020-11-18 16:37] stevending1st opened #40258 "Can't sign in chat room by using GitHub"
**Describe the bug**
I can not sigin in [chat room](https://chat.freecodecamp.org/home) by using GitHub
on my Smartphone.

**To Reproduce**
Steps to reproduce the behavior:
![IMG_20201119_002820](https://user-images.githubusercontent.com/23376142/99558549-d3655e80-29fe-11eb-8171-44298cc926b2.jpg)
![IMG_20201119_003042](https://user-images.githubusercontent.com/23376142/99558571-d82a1280-29fe-11eb-

[2020-11-18 17:01] Sky020 commented on #40258
Hello there,

I have been able to sign in through GitHub. What happens after you click _Continue with GitHub_?

[2020-11-18 17:09] stevending1st commented on #40258
It will turn to the first page without siginning in.
(SORRY. I'm very tired. I have to sleep. See you.

[2020-11-18 17:48] ojeytonwilliams commented on #40257
First off, this looks amazing!  Great work @Twaha-Rahman.

The main question is about the Cypress integration - what's the plan for showing off the diffs?  If a PR changes how something looks, how do I see that diff?

[2020-11-18 18:50] ahmadabdolsaheb opened #40259 "Chat UI Inconsistencies Umbrella Issue."
Hi everyone,

We will be ironing out some of the known theme inconsistencies in the chat UI (mostly color based) in the next couple of days.

Please list the UI related issues that you come across as comments on this issue so they are tackled accordingly.

[2020-11-18 20:06] lasjorg opened #40260 "Solidify campers understanding of the return keyword/return statement"
Seeing how many campers seem to struggle with understanding what returning inside a function does, especially inside loops, it would be great if we somehow were able to solidify this knowledge. It seems like we somehow have not made this clear enough when the return happens inside a loop.

Not sure where it would go in the current curriculum, we do have challenges on function returns, but as it mo

[2020-11-18 20:18] RandellDawson commented on #40260
The first challenge where we explain some of this is https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/return-early-pattern-for-functions.

I suppose we could add another example to this challenge that demonstrates how a `for` or `while` would behave with respect to using a return statement inside it.

[2020-11-19 02:43] lasjorg commented on #40260
@RandellDawson The problem is that challenge comes before loops have been introduced. So having a loop in the challenge wouldn't work unless we move it. Next, returning from a loop doesn't constitute an early return (guard clause).

It would almost need both an early return and a return from inside a loop which might get confusing and interfere with what is being taught (early return).

Right now

[2020-11-19 08:41] danielkix opened #40261 "SyntaxError: invalid regular expression flag s"
Hi! I can't complete this simple Javascript challenge. I even tried copypasting the solution from the forums, but it's still identical to my solution.

This is the solution code:

and the console output:

I don't have issues with any other challenges, so I assume the problem is not on my side.

[2020-11-19 13:14] Sky020 commented on #40261
Hello there,

The solution code passes for me:
![image](https://user-images.githubusercontent.com/51722130/99670835-13f9c200-2a69-11eb-96a4-ad5d9483ef73.png)

What browser are you using? Also, if you _hard-refresh_ (`Ctrl+Shift+R`) the page, does it work?

[2020-11-19 15:02] luqven commented on #39608
I'd love to give this one a go if no one else is!

Seems like all that's needed is to change the name of the button(s) that break when ad-blockers are enabled?

Otherwise, if there's a comprehensive list of challenges affected by ad-blockers that'd be helpful. If not I can try and snuff out as many ad-block related issues as I can myself and report back.

[2020-11-19 15:28] Twaha-Rahman commented on #40259
Small styling issue: Can't see the fCC logo in light mode.

![image](https://user-images.githubusercontent.com/39026437/99685565-eafb2080-2aac-11eb-8e9a-9b191a3dc592.png)
![image](https://user-images.githubusercontent.com/39026437/99686648-00bd1580-2aae-11eb-997a-ca0243eb1e3b.png)

[2020-11-19 17:54] nhcarrigan commented on #39608
As far as I know, this is the only challenge with the tests failing due to the button being blocked. But we will want to make sure that any subsequent challenges that build on this code also reflect the change. 🙂

[2020-11-20 15:54] gsigler opened #40274 "Bad link in https://contribute.freecodecamp.org/#/"
**Describe your problem and how to reproduce it:**
There is a bad link on the https://contribute.freecodecamp.org/#/ page. The link to 'help by answering coding questions' takes you to https://forum.freecodecamp.org/c/help which says "Oops! That page doesn’t exist or is private."

**Add a Link to the page with the problem:**
[https://contribute.freecodecamp.org/#/](https://contribute.freecodecamp.

[2020-11-20 15:57] nhcarrigan commented on #40274
Nice catch! This link broke when we restructured our subforum categories, I believe.

The link is located in this file: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/_coverpage.md, and could be updated to redirect to the base forum URL I think.

[2020-11-20 16:01] RandellDawson commented on #40274
@gsigler @nhcarrigan When I click on the link from https://contribute.freecodecamp.org, it loads the forum in he Project Feedback category.  There is not error.

[2020-11-20 16:03] nhcarrigan commented on #40274
@RandellDawson I get the Project Feedback category off the second link ("Give feedback on coding projects"), but on the "Help by answering coding questions" I'm getting a 404.

[2020-11-20 16:18] RandellDawson commented on #40274
I agree with adding a link to `https://forum.freecodecamp.org` for `Help by answering coding questions`.

[2020-11-20 17:05] #40274 closed

[2020-11-20 17:52] #40163 closed

[2020-11-20 20:38] nosapaath opened #40276 "Issue in CSS Flexbox: Add Flex Superpowers to the Tweet Embed"
**Describe your problem and how to reproduce it:**
We are required to modify with the .follow-btn class in this lesson, however, there is already a .follow-btn class in the root with a !important that sets the content display to none;

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/css-flexbox/add-flex-superpowers-to-the-tweet-embed

**Tell us

[2020-11-20 22:34] Sky020 commented on #40276
Hello there,

Thank you, for taking the time to open this. However, there is already an issue about this, and a PR awaiting to close it. So, I am closing this as a duplicate of #39608

[2020-11-20 22:34] #40276 closed

[2020-11-20 23:18] nosapaath commented on #40276
Sweet! Thanks for taking the time to let me know.
Nosa

On Fri, Nov 20, 2020 at 2:34 PM Shaun Hamilton <notifications@github.com>
wrote:

[2020-11-21 11:18] amaanam1238 commented on #6306
Try this code it will work:-

var ourDecimal = 5.7;

// Only change code below this line
var myDecimal= 8.888;
✔✔✔✔✔

[2020-11-21 12:31] Ismailtlem commented on #40261
It passes for me as well
![Screenshot (483)](https://user-images.githubusercontent.com/34961373/99877337-d0848c80-2bfd-11eb-9d89-4909ca2340f2.png)

[2020-11-21 18:04] #38853 closed

[2020-11-21 18:06] #40159 closed

[2020-11-21 22:02] JeremasPosta opened #40277 "Test a For loop doesn't work using short syntax."
**Describe your problem and how to reproduce it:**
Test a For loop doesn't work using short syntax.
If we got this code:
for(let user in usersObj) usersObj[user].online ? ++count : null;
The tests fail, but it works if we use the brackets syntax for the loop:
for(let user in usersObj){usersObj[user].online ? ++count : null};

**Add a Link to the page with the problem:**
https://www.freecodecamp.or

[2020-11-21 22:12] nhcarrigan commented on #40277
[code]

The test for this challenge specifically looks for the opening curly brace. This could be adjusted, but then I'd worry about the test erroneously passing for code that does not work.

[2020-11-22 00:57] JeremasPosta commented on #40277
Yes, I also check the associated .md file.
I think the regex can be redefined to allow the non curly braces condition
if the loop hasn't a newline character. But I don't know the implications
of this on other tests.

El sáb., 21 de nov. de 2020 19:13, nhcarrigan <notifications@github.com>
escribió:

[2020-11-22 09:43] Nicolascrd opened #40287 "Infinite loop in components triggers crash"
**Describe your problem and how to reproduce it:**
If one component ask for another one and the other one asks for the first, it's an infinite loop.
In the JS/Algorithms challenges, FCC signals the user that he is creating a infinite loop, but that's not the case in React with component calling each other.
I don't if it it the same everywhere but when I do this, my computer crashes.

**Add a Link

[2020-11-22 12:09] anjali1102 commented on #39737
@robole is this issue still open ?

[2020-11-22 12:48] robole commented on #39737
@anjali1102 I am not a maintainer of this repo.  @Sky020 is one of the maintainers and remarked earlier that is not open for contributions. It is his (their) decision to assign issues. Nothing has been done with it yet it seems.

[2020-11-22 13:13] Sky020 commented on #39737
@robole Thanks for the ping. I had forgotten to check up on this.

@ahmadabdolsaheb , Ping for way forward.

[2020-11-22 15:06] DhairyaBahl commented on #40287
@Nicolascrd I would like to work on this issue. kindly assign it to me. Thank you !! :)

[2020-11-22 15:06] Sky020 commented on #40287
Thank you, for taking the time to report this. We are aware of this.

As such, I am closing this issue as a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/36118

[2020-11-22 15:06] #40287 closed

[2020-11-22 18:13] ieahleen commented on #40287
@DhairyaBahl The issues are not assigned, but only the issues with "help wanted" or "first timers
only" are up for grubs and the first comprehensive pull request is reviewed - check our contributing guidelines at contribute.freecodecamp.org

[2020-11-22 18:16] ieahleen commented on #40261
I have changed the title to highlight the issue: this syntax error message can appear on all challenges, and the cause has not been pinpointed yet, nor a way to fix the issue has been found

[2020-11-22 19:33] Sky020 commented on #40261
Currently, we assume it has to do with the browser version. So, if you come across this, and have experienced this issue, please share which browser (and version), it was on.

[2020-11-22 20:02] danielkix commented on #40261
I can confirm that. I was using Firefox 77.0.1 at first, now I updated to 83.0 and the issue is gone, the challenge works fine now. (Windows 10)

[2020-11-22 20:02] #40261 closed

[2020-11-22 23:18] ojeytonwilliams commented on #40287
Just to expand a little on what @ieahleen said, the original issue https://github.com/freeCodeCamp/freeCodeCamp/issues/36118, is tagged with "help wanted".  If you'd like to help, please take a look at that issue.  There's a fair bit of discussion about what's happening and how it might be solved.

[2020-11-23 06:34] ahmadabdolsaheb commented on #38540
Thanks for double checking. We are pulling our favicons from here at the moment. https://github.com/freeCodeCamp/cdn/tree/master/build/universal/favicons.

[2020-11-23 06:35] DhairyaBahl commented on #40287
@ieahleen Thanks you for telling me . I will read the contributor guidelines which I forgot to read. :)

[2020-11-23 10:14] ahmadabdolsaheb commented on #39737
@robole, could you share the link to that article so we could weigh the pros and cons of wrapping the test in table cells?

[2020-11-23 11:56] ahmadabdolsaheb opened #41073 "package coderadio core to be used by learn, news, and forum"
The initial plan is to integrate coderadio in the navigation across platforms so it is easily accessible to users.

To accomplish that we would need to package the core functionality(player, html audio element, nchan subscriber, stream switching logic, etc.) in an npm module that could be shared across our platforms.

Note: the news theme and the main learn repository can install npm modules, but

[2020-11-23 16:27] spatter1 opened #40303 "After login: "We couldn't find path /auth/auth0/undefined/learn" error at top of page"
**Describe the bug**
After login: "We couldn't find path /auth/auth0/undefined/learn" error at top of page

**To Reproduce**
Steps to reproduce the behavior:
1. This behavior is present after logging in to FCC.  Appears at the top of the screen immediately after login.

**Expected behavior**
Would not expect to see this error

**Screenshots**
![image](https://user-images.githubusercontent.com/3587

[2020-11-23 16:58] ojeytonwilliams commented on #40303
Thanks for the report @spatter1, I've been able to reproduce it - all I needed to do was log out and log back in.

[2020-11-23 17:04] raisedadead commented on #40303
Yikes, this has been there for a bit it seems.

[2020-11-23 17:07] RandellDawson commented on #40303
Is this related to https://github.com/freeCodeCamp/freeCodeCamp/pull/40161?

[2020-11-23 18:13] raisedadead commented on #40303
Yes it is and we are investigating it.

[2020-11-23 18:13] ojeytonwilliams commented on #40303
Possibly, but that's live on .dev as well as .org, but .dev works as expected.

[2020-11-23 19:48] raisedadead commented on #40303
https://github.com/freeCodeCamp/freeCodeCamp/blob/6064e827e9755331354fee060f2d00ea4b462903/config/env.js#L4

[2020-11-23 19:51] raisedadead commented on #40303
The releases were failing, but the Pipelines were false negative:

https://dev.azure.com/freeCodeCamp-org/freeCodeCamp/_releaseProgress?_a=release-environment-deployment-group-logs&releaseId=431&environmentId=1138&deploymentGroupPhaseId=1039

We should harden this? Somehow?

[2020-11-24 11:29] Ismailtlem commented on #40277
How about looking for the curly brace and looking for the ; character at most 2 times ? (one for the instruction after the for loop and one for the return statement)

[2020-11-24 16:08] JeremasPosta commented on #40277
@nhcarrigan I will see it better later and try to test  alternatives, but I think if we remove the curly brace on the regex, we don't change the important stuff of the expression. In fact, the regex only tests if there is an opening curly brace, not the closing one, so isn't it for syntax review either. The point here is to test the good syntax of the For In expression, so maybe it's unnecessary.

[2020-11-24 17:48] moT01 opened #40305 "Add translation capability"
Add scaffolding for translation of the website using i18next.

[2020-11-24 19:39] moT01 opened #40307 "Clarify and fix up metric-imperial user stories"
The user stories on the [metric imperial converter](https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-projects/metric-imperial-converter) should use "you" instead of "me". There could also be some clarification to the expected output [as discussed here](https://github.com/freeCodeCamp/freeCodeCamp/pull/39615#pullrequestreview-530219175). Note that the linked PR is not in produ

[2020-11-25 04:50] JonDevOps opened #40311 "Error message in challenge console on initial page load: "SyntaxError: invalid regular expression flag s""
**Describe the bug**
I am using the latest version of firefox and microsoft edge (I gave not tried this issue in chrome yet) and I keep getting the following message "SyntaxError: invalid regular expression flag s". I noticed when I copied and pasted the message here it also pasted the error message freeCodeCamp provides when you get a test wrong and fCC provides hints in the console letting you k

[2020-11-25 05:06] RandellDawson commented on #40311
@ojeytonwilliams I believe this an another issue reported like it are due to use using the `s` flag in a regex that is not supported in some slightly older Firefox browsers.  I remember a PR that was recently merged that added the `s` flag in one of the helper functions.  After it was merged, we have seen a spike in these issues reported here and on the forum.  Maybe we should change the regex to

[2020-11-25 05:09] JonDevOps commented on #40311
Im going to give it a shot. Thanks for the info.

[2020-11-25 05:11] JonDevOps commented on #40311
Im going to give it a shot. Thanks for the info.

[2020-11-25 11:51] raisedadead commented on #40305
Closing in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/36828

[2020-11-25 11:51] #40305 closed

[2020-11-25 12:57] ojeytonwilliams commented on #40311
@RandellDawson that seems reasonable.  Do you know which other challenges are affected?

[2020-11-25 14:04] raisedadead opened #40314 "Move to Node.js 14 LTS"
We want to start using Node 14 LTS, and would love some help in testing out the current setup, workflows etc. Particularly we want to watch out for outdated deps, and warnings.

Here is a list of things that we want to check:

- [x] The local dev setup
- [x] Building production builds
- [x] Warnings, errors, etc.
- [x] Update deps if needed.

[2020-11-25 15:09] #39616 closed

[2020-11-25 15:09] #39618 closed

[2020-11-25 15:11] ieahleen commented on #40311
@ojeytonwilliams reports on the forum are for many challenges in the first two certs (I don't think I have seen it for others)

also already reported in #40261

[2020-11-25 15:18] ieahleen commented on #40311
this seems to have been the change that started the error:
https://github.com/freeCodeCamp/freeCodeCamp/commit/11dfe9274fb358008bd7eb7718b3901a87afcea4

[2020-11-25 16:44] nhcarrigan commented on #40314
I've been running 14 LTS for a while, and haven't run in to any issues building the dev instance locally. 🙂

[2020-11-25 17:49] ojeytonwilliams opened #40316 "Code fences should have languages"
This allows us to highlight them with Prism.  For contrast, https://www.freecodecamp.org/learn/scientific-computing-with-python/python-for-everybody/conditional-execution has a code language for the answers:
![image](https://user-images.githubusercontent.com/15801806/100262590-a3611280-2f4c-11eb-8af8-2aed225e0db7.png)
vs
https://www.freecodecamp.org/learn/scientific-computing-with-python/python-fo

[2020-11-25 18:46] Sky020 commented on #40316
Did we get around to adding SQL to the prism plugin: https://github.com/freeCodeCamp/freeCodeCamp/pull/39079#issuecomment-644904634 ?

[2020-11-25 19:15] ojeytonwilliams commented on #40316
Nope: https://github.com/freeCodeCamp/freeCodeCamp/blob/b5d5ec5a901db51e13411ba2769fd2aa36f06f08/client/.babelrc#L56-L66

are there any others that we'd like?

[2020-11-25 19:23] Sky020 commented on #40316
I cannot think of any other that we use. Maybe TypeScript for future prep?

[2020-11-25 21:33] ojeytonwilliams commented on #40316
Is Typescript on the horizon? If so, sure.

[2020-11-25 21:36] RandellDawson commented on #40316
If it is, it will be quite a while before it is implemented.

[2020-11-25 21:36] nhcarrigan commented on #40316
I believe it is covered as part of the project-based V7.

[2020-11-25 21:38] RandellDawson commented on #40316
It was on the original roadmap and a project exists, but it might have to be changed or may be dropped.  I think there is no harm in adding support for it, unless that adds a lot more overhead to the Prism plugin.

[2020-11-25 22:00] nhcarrigan opened #40318 "[FORUM] - Nav bar is misaligned on dropdown event"
**Describe the bug**

When selecting one of the dropdown menu options on the forum, if the page is scrolled down at all the nav bar drops to the middle of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://forum.freecodecamp.org
2. Scroll the page down a bit.
3. Click on the `Menu` button in the top right of the nav.
4. Nav bar drops to centre of screen.

**Expected beha

[2020-11-25 22:02] bradtaniguchi commented on #40318
I also see the issue in firefox,
version: 84.0b1 (firefox developer)

[2020-11-25 22:08] nhcarrigan opened #40319 "Removing the database from back-end project boilerplates"
Related discussion: https://github.com/freeCodeCamp/boilerplate-project-messageboard/pull/9

As part of the boilerplate refactors, it was decided to remove the `mongodb` and `mongoose` dependencies (and `zombie`, if applicable) from the `package.json` in the project boilerplates (and the relevant connection code, as well). As part of this discussion, it was noted that some of the `sample.env` file

[2020-11-25 22:22] #38558 closed

[2020-11-25 22:37] yaezah commented on #40318
<header class="d-header clearfix">

.d-header {
    position: absolute;
}

fixes it for me on chrome

[2020-11-26 00:00] Sky020 commented on #40318
I am also experiencing this on Edge.

[2020-11-26 00:30] lasjorg commented on #40318
Adding `top: 0` to `.d-header` also seem to "fix" it.

---

But unless I just never noticed it, there seems to be something more going on. The "Menu" button is getting some borders added which is pushing everything around and the vertical alignment of the "Sign Up" and "Log In" buttons seems off.

![menu](https://user-images.githubusercontent.com/28780271/100294128-1a66cd00-2f86-11eb-8eb9-6ed80005

[2020-11-26 00:41] nhcarrigan commented on #40318
I think this is all new, but I'm not seeing any recent commits in the discourse repository that would have triggered this.

[2020-11-26 00:53] lasjorg commented on #40318
Looking at the dashboard it looks like there was an update 13 hours ago.

meta tag with the version we are running:
`<meta name="generator" content="Discourse 2.6.0.beta6 - https://github.com/discourse/discourse version 9ec0359022a0f6441972d9890313a8069552b904">`

Discourse 2.6.0.beta6 release notes
https://meta.discourse.org/t/discourse-2-6-0-beta6-release-notes/170642

Two things from the releas

[2020-11-26 13:48] robole commented on #39737
hi @ahmadabdolsaheb

I removed the table from my article because of this issue. I dont have an example to point you to, you will need to create your own.

[2020-11-26 14:59] Ezimoha commented on #39737
Type::bug

[2020-11-26 15:00] Ezimoha commented on #39737
Thanks for the update_

[2020-11-26 17:14] ieahleen commented on #40318
now it seems back in order, does this still need to stay open?

[2020-11-26 17:34] lasjorg commented on #40318
The main issue does seem to be fixed.

The stacking bug on scroll is still there (I think it's a stacking issue anyway).

Navigate to some thread and scroll down. The "Sign Up" button will disappear and so will the menu if open. This doesn't happen on the main page or sub-pages on the forum, only when looking at an individual thread.

[2020-11-26 18:07] nhcarrigan commented on #40318
@ahmadabdolsaheb any thoughts on @lasjorg's comment?

The rest of the issues seem to be fixed by:
https://github.com/freeCodeCamp/forum-theme/pull/37
https://github.com/freeCodeCamp/forum-theme/pull/36

[2020-11-26 18:43] ahmadabdolsaheb commented on #40318
Thanks for bring this to my attention, @nhcarrigan.

@lasjorg, that is discourse's default behavior. That element gets removed from the dom.
I am aware of the margin. The is a pr is the works that would completely remove those nav items in favor of icons.

It seems the main issue has been resolved, so I am closing this issue accordingly.

Feel free to re-open this issue if the issue persists.

[2020-11-26 18:43] #40318 closed

[2020-11-26 18:54] ahmadabdolsaheb commented on #38417
I am unable to reproduce this issue, and we are reverting most of our theme customizations; Therefore I will be closing this issue accordingly.

Please re-open this issue if the problem persists.

[2020-11-26 18:54] #38417 closed

[2020-11-26 19:40] raisedadead commented on #39366
Reopening.

----

Issue 1: It's not mapped correctly at all places.

Custom theme:

![image](https://user-images.githubusercontent.com/1884376/100386834-86136d80-304c-11eb-879c-1dcfb4bf885a.png)

Default:

![image](https://user-images.githubusercontent.com/1884376/100386902-ad6a3a80-304c-11eb-844f-c4d2c4dbf005.png)

----

Issue 2: Its lowercased, which is not consistent with other Labels.

----

I

[2020-11-26 21:00] lasjorg commented on #40318
@ahmadabdolsaheb Right, I had some time to actually look at it, as you said there is DOM manipulation on scroll that only happens when viewing a thread. I guess the button being removed is to make room for the thread title in the header and because we hide the title it just looks a little off to me (once you see it you can't unsee it kind of thing).

The menu being removed on scroll seems more lik

[2020-11-27 09:02] Ezimoha opened #40324 "Pls what is the output of this code"
https://www.github.com/iralecode/portfolio/tree/master/style.css

[2020-11-27 09:24] Ezimoha opened #40325 "Pls how do I style a nav bar"

[2020-11-27 10:43] ieahleen commented on #40325
To ask for help for your own code, please use the forum at forum.freecodecamp.org

[2020-11-27 10:43] #40325 closed

[2020-11-27 10:43] ieahleen commented on #40324
use the forum (forum.freecodecamp.org) to ask for help for your own code

[2020-11-27 10:43] #40324 closed

[2020-11-27 12:17] ahmadabdolsaheb commented on #39737
I could see how wrapping code in a table could result in confusion. I will double check our editorial team and move forward accordingly.

[2020-11-27 12:37] ahmadabdolsaheb commented on #39366
Thanks for noticing that. The above-mentioned pr that completely removes the words in favor of icons should do the trick.

[2020-11-27 13:24] #38244 closed

[2020-11-27 13:24] #39366 closed

[2020-11-27 13:24] #39503 closed

[2020-11-27 16:24] raisedadead commented on #38308
*Code Freeze on all PRs (both curriculum and platform) due to incoming new parser for the curriculum. This is also going to change the challenge schema and all curriculum files.*

We will update everyone as soon as this freeze is lifted.

[2020-11-27 19:05] ahmadabdolsaheb commented on #40259
Thank you @Twaha-Rahman. Most of the inconsistency issues seem to have been resolved, so I am closing this issue accordingly.

[2020-11-28 11:12] huyenltnguyen commented on #40259
@ahmadabdolsaheb I found a small issue with the Logout button color on the registering screen 😄 Not sure if I should create a separate issue for this

<img width="580" alt="Screen Shot 2020-11-28 at 6 05 24 PM" src="https://user-images.githubusercontent.com/25715018/100514171-051bb980-31a5-11eb-9ca0-ffab70e1bd00.png">

[2020-11-28 17:31] ShaunSHamilton opened #40332 "Flesh-Out Mocha/Chai Functional Test"
Following on from: https://github.com/freeCodeCamp/freeCodeCamp/pull/40330 (thanks, @nhcarrigan )

The tests for this lesson/challenge need to be expanded (more included):
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/simulate-actions-using-a-headless-browser.md

_Note: Only once the mentioned PR

[2020-11-28 17:46] mwinser commented on #38837
Hello! First time posting, sorry if this is the wrong place.

In regards to the first issues mentioned for **Quality Assurance and Testing with Chai**:

The challenge instructions, the Repl.it boilerplate comment instructions and the test failure messages are inconsistent to what the challenge submission test is actually asserting.

**Run Functional Tests using a Headless Browser** challenge and R

[2020-11-28 17:54] nhcarrigan commented on #38837
Heya @mwinser - we are working on a PR currently to fix those concerns. 🙂

[2020-11-28 18:40] fuzzyray opened #40333 "Quality Assurance Projects - Sudoku Solver Example URL is down"
**Describe the bug**
The example URL at https://sudoku-solver.freecodecamp.rocks/ is down and is returning an error 504 Gateway time-out response. All of the other Quality Assurance example URLs are functioning correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://sudoku-solver.freecodecamp.rocks
2. wait
3. See error

**Expected behavior**
Functioning example project

**Sc

[2020-11-28 21:19] nhcarrigan opened #40334 "[BUG] - Basic CSS: Size Your Image accepts second image element"
**Describe your problem and how to reproduce it:**

This particular challenge will pass the tests with a second image element under specific conditions:
- The second image element must also reference the same cat photo url
- The second image element must come before the first

This code will pass the tests:
[code]

*This is a bit of a convoluted edge case, so I am not sure if it warrants a fix or

[2020-11-28 22:16] Sky020 commented on #40334
I do not think we should make any change here. It is an odd edge case, to say the least.

The lesson is about adding a class. If the camper has added the class to one image, then they have accomplished the learning outcome.

If something **has** to change, I would vote for:
[code]
⬆️ Added the word `existing` (_I realise it is implied, but some do miss it_)

[2020-11-28 23:33] nhcarrigan commented on #40334
Yeah, I was on the fence myself about whether this needed a fix or not. I figure an issue is the best place to determine that. I do like the suggestion of adding `existing` to the text - but then if it passes regardless that might be confusing as well? 🤔

[2020-11-29 17:30] #40062 closed

[2020-11-30 06:49] sthamit7 opened #40356 "A small mistake in the forth example of "const" in the given link"
**Problem description =>**
In the link given below is an important concept of Var, Let and Const in JavaScript.
I am absolutely happy with the post but I found a slight mistake in the snippet code for Const =>
After the line  **"While we cannot do this"**

It says the code should not work & should give an error but the code is working properly with no error.
Even If the writers intention was to sh

[2020-11-30 06:51] sthamit7 commented on #40356
My only concern was for those beginners who was stuck in this because of this slight mistake.

[2020-11-30 07:58] reutKeyshawn commented on #39635
Is the issue still relevant?

[2020-11-30 08:01] reutKeyshawn commented on #40314
Is the issue still relevant?

[2020-11-30 08:20] Twaha-Rahman commented on #39635
I believe so. (I could be wrong though)

[2020-11-30 15:59] nhcarrigan commented on #40314
Heya @reutKeyshawn~!

I believe this issue is still relevant, yes. If you are working on contributions to freeCodeCamp and are finding errors related to using Node 14 LTS, please share them here. 🙂

[2020-11-30 16:30] scissorsneedfoodtoo commented on #40333
Thank you for reporting this @fuzzyray. I went into the server and restarted that project. `pm2` reported it was at ~65% CPU usage for some reason, with some other projects/processes bringing the VM's CPU usage up to 100% for some reason.

I restarted the Sudoku Solver project and it loads fine now. Not sure what caused it to hang like this, but will leave this issue open while we investigate.

Cc

[2020-11-30 18:52] GuruTheCoderYoutube commented on #39635
It is feature request I suppose.
I am a beginner, what do I know.

[2020-11-30 19:59] fuzzyray opened #40359 "Quality Assurance Projects - Sudoku Solver undefined use case"
**Describe your problem and how to reproduce it:**
While working on the Sudoku solver project, one scenario came up that wasn't clear to me how to handle.

The scenario is what do you do, if I ask to check a value of a cell with an existing value?

For my project, I chose to return a conflict with the row, column, and region. However, I checked what the example app returns. The results it returns

[2020-11-30 23:16] nathanhannig commented on #40356
I think some of your typed response is a little inaccurate probably on accident. I also do get an error when testing the code in the browsers console.

But overall, I do agree with you that the article is incorrect in providing the redeclaration of the variable as a `const `and that should be removed.

[code]

[2020-12-01 00:37] nathanhannig commented on #40359
I feel there is a better example to describe the issue I see.

Let us take the first region only and try the following
C1, 9 result is `{ "valid": false, "conflict": [ "region" ] }`
A2, 8 result is `{ "valid": false, "conflict": [ "region" ] }`
B2, 5 result is `{ "valid": false, "conflict": [ "row", "column", "region" ] }`
A3, 4 result is `{ "valid": false, "conflict": [ "region" ] }`
B3, 3 result

[2020-12-01 00:52] nathanhannig commented on #40359
Yes, seems odd that you can place a value over an existing spot and it can return as valid

[2020-12-01 05:53] sthamit7 commented on #40356
Did you get this error specifically? => **Assignment to constant variable**

[2020-12-01 06:03] sthamit7 commented on #40356
Exactly, this is also my recommended solution. The **const** must be removed from the snippet.

[2020-12-01 08:33] ahmadabdolsaheb commented on #40259
@huyenltnguyen, thanks for letting me know.

[2020-12-01 10:29] ojeytonwilliams commented on #40356
Hey @sthamit7, @nathanhannig, thanks for spotting this and providing the fix.  I've updated the original article with your suggestion.

[2020-12-01 10:29] #40356 closed

[2020-12-01 10:45] ojeytonwilliams commented on #39635
@Twaha-Rahman is right, it's still relevant.  However, it's just not the highest priority, so I keep putting it off.  If anyone is interested in finishing it, they're more than welcome to add commits to the open PR.

[2020-12-01 14:21] ojeytonwilliams commented on #40333
Is it possible that it's simply an inefficient algorithm?  Brute force solutions have exponential time complexity and I believe the algorithm we use is brute force with backtracking.

[2020-12-01 15:27] nhcarrigan commented on #40333
The algorithm is a pretty heavy recursive function call, so that's entirely possible.

[2020-12-01 17:19] ojeytonwilliams commented on #40333
Rewriting it to bail out of long computations might not be trivial, though it's a possibility.  There are a bunch of fast algorithms, too.

Anyway, it's still something of a hypothesis at the moment - we should dig around in the logs to see if a slow algorithm is a likely candidate first.

[2020-12-02 12:18] haragona commented on #40307
I belive it's written that way, beacause that's the way users usually express their request. "I want to do this... and that... I want the app to use this color..."

[2020-12-02 13:05] nhcarrigan commented on #40307
Heya @haragona - we actually try to maintain the second-person perspective for user stories across our projects, and recently updated the back-end project pages to match this. 🙂

@moT01 I've got #40358 open to move the tests from the boilerplate to the `/learn` page - I could hit the "me" => "you" verbiage in that PR?

[2020-12-02 21:42] nhcarrigan opened #40365 "[BUG] - Back-end Project Boilerplates"
One of our Discord members mentioned running in to issues with the `boilerplate-express` code. The `package.json` calls for a Node version of `4.x`, which is severely outdated. In this case, the camper was working on the code locally and deployed to Heroku for the live link to submit, and Heroku threw build errors because of the engine version.

While we specifically mention repl.it on the /learn

[2020-12-02 21:53] Sky020 commented on #40365
I would imagine the easiest fix would be to remove the mention of which engine to use. I know some online IDEs do require it, but, AFAIAA, Repl.it uses its config file for this. So, we might as well remove it.

[2020-12-02 21:58] nhcarrigan commented on #40365
AFAIK, the purpose of the `engine` field is to tell the environment what version of node to spin up, right? So the idea being that by specifying a node version, we ensure that campers don't run into issues where the latest version had breaking changes that we didn't account for when writing the lessons.

[2020-12-02 22:10] Sky020 commented on #40365
@nhcarrigan Right. The issue is how online IDEs (Repl.it, Glitch, CodeSandbox) handle this differently. That is, Repl.it does not listen, I did not think Glitch did either (permanently set on v10). So, it is used by the _more advanced_ environments, and I expect campers to handle the specifics like this env-by-env.

[2020-12-02 22:11] nhcarrigan commented on #40365
That's a fair expectation, I think. 🙂

[2020-12-03 15:45] #40125 closed

[2020-12-03 19:03] moT01 commented on #40307
Might as well @nhcarrigan?

[2020-12-04 13:49] Phakeme commented on #40115
Hy Danny and Evertonbraga, is this issue still open for contribution? I would love to contribute to it as well.

[2020-12-04 18:39] evertonrbraga commented on #40115
Hey Phakeme, I'd like to contribute but I'm so busy at the moment. Please go ahead!

[2020-12-05 07:34] ahmaxed opened #40372 "forum's curriculum nav item should link to relevant language of the curriculum"
If user clicks on the curriculum nav button while visitting the a subform with a non-english language, the user should be redirected to the respective language of the curriculum.

![image](https://user-images.githubusercontent.com/4591597/101236860-7d263a00-36e5-11eb-95dc-75945ef53ff8.png)

[2020-12-05 07:44] ahmadabdolsaheb commented on #40372
We could detect the url and see if the user is visiting in one of the language subforms for which we have a translated curriculum.

Should that nav item also display the relevant translation of  'curriculum' in that case?

Note: The url does not specify the subform when a certain topic is visited. So preferably the discourse api should be used to detect subforms.

[2020-12-05 08:30] Eddiebee commented on #40372
The curriculum nav item should display with the translation already used in
subform.

On Sat, 5 Dec 2020, 8:48 am Ahmad Abdolsaheb, <notifications@github.com>
wrote:

[2020-12-05 12:38] miyaliu666 opened #40373 "not able to update the avatar of a Chat room"
**Describe the bug**
I tried to update the avatar of [this room](https://chat.freecodecamp.org/channel/bangzhu) as below. But it turned out to be a blank image.
![image](https://user-images.githubusercontent.com/19358186/101243123-09158180-3739-11eb-9ca4-3918add404ed.png)

**Expected behavior**
update the avatar successfully

**Screenshots**
![image](https://user-images.githubusercontent.com/19358

[2020-12-05 13:35] LilloLu opened #40374 "Syntax Error: invalid regular expression flag s"
Everytime I try to do a challenge, this shows up. What's going on?

[2020-12-05 13:53] Sky020 commented on #40374
Hello there,

Thank you, for taking the time to open this. However, an issue for this has already been opened: https://github.com/freeCodeCamp/freeCodeCamp/issues/40311

As such, I am closing this as a duplicate.

For future issue reports, please include as much information as possible in the body of the issues.

Cheers

[2020-12-05 13:53] #40374 closed

[2020-12-05 14:11] NagendraDevara opened #40375 "Missing 'News' button in Nav bar in the home page which is present previously"
Previously FreeCodeCamp users used to find the news section in the navbar of the home page but the new link is no more present in the navbar. Please include the 'News' hyperlink in the navbar so that new viewers will get to know about the blog of the 'FreeCodeCamp'.Here  I am including screenshots of how it looked previously and how the home page nav bar is looking now.

Previous webpage:
![image]

[2020-12-05 14:38] Sky020 commented on #40375
Hello there,

This was done intentionally, and here is some added background for the discussion: https://forum.freecodecamp.org/t/proposed-improvements-to-the-freecodecamp-forum-localization-approach/426565

And: https://github.com/freeCodeCamp/freeCodeCamp/issues/40033

I will leave this open as a feature request, but currently, there is no intention to re-introduce the `news` nav button.

Hope t

[2020-12-06 04:53] rajatkantinandi opened #40376 "Challenge "Regular Expressions: Reuse Patterns Using Capture Groups" not accepting a valid regex"
**Describe your problem and how to reproduce it:**
This challenge is not aceepting the regex `/^(\d+)(\s\1)\2$/` which is valid and matches all the conditions except one condition `Your regex should have two spaces separating the three numbers.` because it is checking whether 2 `\s` is used in the regex or if `(\s)` is used along with `\1` or `\2`. So, it does not accept the above regex.

**Add a

[2020-12-06 05:20] alan2006-star opened #40381 "Live class"
Do you have live classes for coding. If there Pls inform

[2020-12-06 05:21] RandellDawson commented on #35765
I am reopening this issue as I still think the current verbiage (below) does not reflect that the string must start and end with the same number to be a match.

The way it currently reads still seems like the following should be a match:

Why?  Because the number `42` is only repeated three times in the string each separated by a space.  The actual regex to match the above would be fairly complex

[2020-12-06 05:44] nhcarrigan commented on #35765
What about something like:

[2020-12-06 06:03] RandellDawson commented on #35765
I think the word `only` needs to be in there, otherwise, `32 42 42 42` would still apply.

[2020-12-06 06:12] nhcarrigan commented on #35765
That looks clear to me.

[2020-12-06 13:48] Sky020 commented on #40376
Thank you, for taking the time to raise this issue. I can confirm the issue.

I suggest the test in question be removed:
[code]

There should be no need for it, as the test conditions satisfy the requirements of the instructions. I am opening this to _first timers only_

[2020-12-06 13:53] Sky020 commented on #35765
I was triaging in the order of appearance (in my notifications), and only got to this now.

@RandellDawson  Should this issue be combined with #40376 ? If yes, then I recommend the body of 40376 be moved into here. If not, then please go ahead, and add back the _first timers only_ label.

[2020-12-06 20:14] RandellDawson commented on #35765
@Sky020 Since this is different issue, I think it is fine as a stand-alone issue.

[2020-12-07 05:16] paulsonjpaul opened #40388 "Console Incorrectly Setup in Escape Literal Quotes Challenge"
**Describe your problem and how to reproduce it:**

I was completing the [Escaping Literal Quotes](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/escaping-literal-quotes-in-strings) in Strings in Basic JavaScript. I did everything correctly, but the result shown in the console was not what was expected in the challenge.

Expected Output (stated in the

[2020-12-07 06:10] limvus commented on #40388
Hi paulsonjpaul,
It looks like it is intended. It makes sense because the whole string need to be wrapped in double quote as well. That's why it's a double quote inside double quote.

[2020-12-07 06:14] paulsonjpaul commented on #40388
Oops! I did not think of that. Thanks for the clarification

[2020-12-07 06:14] #40388 closed

[2020-12-07 06:54] ahmadabdolsaheb commented on #40373
cc @nhcarrigan :)

[2020-12-07 07:15] ahmadabdolsaheb commented on #40381
@alan2006-star, we don't offer live classes, but we have live stream tutorials on our [youtube channel](https://www.youtube.com/channel/UC8butISFwT-Wl7EV0hUK0BQ), and video lessons where you could learn on your own pace.

I encourage you to continue this discussion on our community [forum](https://forum.freecodecamp.org/) to get the feedback of the community.

[2020-12-07 07:15] #40381 closed

[2020-12-07 08:03] nikikalwar opened #40397 "Challenge:Regular Expressions: Find One or More Criminals in a Hunt"
**Describe your problem and how to reproduce it:**
Regex expression should fail according to the problem specified but is passing due to missing test cases.

Write a greedy regex that finds one or more criminals within a group of other people. A criminal is represented by the capital letter C.
let reCriminals = /C+/; // Change this line//this passed and is according to question.

let reCriminals =

[2020-12-07 13:56] nhcarrigan commented on #40373
I attempted an upload myself and got the same bug. This may be related to the switch to S3 for chat uploads. I'll try to poke around today and see if I can identify the issue. :)

[2020-12-07 21:53] Sky020 commented on #40397
Thank you, for taking the time to open this issue.

I am not sure there is any need to do anything here. The aim of the lesson is to teach the `+` quantifier, but I do understand what you are getting at about campers being able to pass without following the instructions.

As you say, if anything is to be done, a test needs to be added/altered checking that the `reCriminals` variable does not match

[2020-12-08 00:51] samezuka opened #40398 "[TYPO] Basic JavaScript: Escaping Literal Quotes in Strings"
This is a dumb problem and I am new to GitHub so please forgive me for any weirdness. Basically, on this page, we see this explanation:

----
_This signals to JavaScript that the following quote is not the end of the string, but should instead appear inside the string. So if you were to print this to the console, you would get:

Alan said, "Peter is learning JavaScript"._
----

and we are asked to

[2020-12-08 09:45] ojeytonwilliams opened #40400 "Certificate test coverage needs extending"
**Describe the bug**

On [the test site](https://www.freecodecamp.dev/settings) it's possible to claim certificates (credit to @moT01 for catching this) without completing any of the projects.

**Expected behavior**
Something as important as this needs to be flagged up by automated tests.

**Additional context**
The bug itself is fixed by https://github.com/freeCodeCamp/freeCodeCamp/pull/40399

[2020-12-08 13:02] Twaha-Rahman commented on #40314
Same here. Using Node v14 for some time and found no prob whatsoever. (Currently rocking v14.15.1)

[2020-12-08 14:08] moT01 opened #40402 "Some certifcate links open in a new tab, some in same tab"
If I click on a link to a certificate from my settings page, it opens in the same tab. If I click on one from the timeline on my portfolio, it opens in a new tab. We could probably make this consistent. I believe I made the timeline links open in a new tab because there's no nav on the cert pages, so the only way to get back to the site is with the browsers back button. I believe I have also heard

[2020-12-08 14:09] moT01 opened #40403 "Opening a cert on a private profile redirects to the homepage"
If I set my profile to private and try to open a cert from the settings page or from the timeline on my portfolio, I get a message that I need to set my profile to public to view a cert and get redirected to the home page. Seems like a user should get redirected to the page they came from.

Or possibly, remove the flash message and redirect in favor of something like we do for the portfolio pages

[2020-12-08 14:55] ieahleen commented on #40398
Thank you for your bug report, but I think this is in the realm of bike shedding

[2020-12-08 14:58] ieahleen commented on #40403
also the certs for a user with an academic honesty policy infringment go to home page, with error - if one does not see the blue bar (on desktop it's much smaller) can seem something wrong

![36E4A06C-E799-4F10-B80E-F8FC09711B59](https://user-images.githubusercontent.com/26656284/101500025-3303b980-396e-11eb-9e21-052abf833263.jpeg)

[2020-12-08 18:23] mandakini-p commented on #36446
i could not find the solution in repl.it in this myApp.js is completly blank except first 2 lines

[2020-12-08 18:50] Sky020 commented on #36446
@mandakini-p I recommend opening a topic on the [forum](https://forum.freecodecamp.org), if you are having issues with your code.

[2020-12-08 23:04] ShaunSHamilton opened #40405 "Flesh-Out Exercise Tracker User Stories and Typo"
In order to avoid common confusion with this project, I suggest we add something along the lines of:

[code]

I expect this to be added to the description of the challenge. Something to that extent.

---

Also, there is a small typo, which can be easily fixed: [from this forum post](https://forum.freecodecamp.org/t/tiny-typo-in-exercise-tracker-challenge/443740)
You can POST to /api/exercise/new-u

[2020-12-09 00:30] nhcarrigan commented on #40405
This challenge doesn't have an instructions field currently, so maybe we could leverage that. Something like:
[code]
test

[2020-12-09 01:20] ErinVillasenor opened #40406 "[BUG] Able to pass challenge "Basic JavaScript: Initializing Variables with the Assignment Operator" with incorrect answers"
**Describe your problem and how to reproduce it:**
The challenge asks the user to initialize the value a to 9. However, it seems like any value that starts with 9 will pass the test e.g. 90, 99, 9000, 9999999999.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/initializing-variables-with-the-assignment-oper

[2020-12-09 01:48] nhcarrigan commented on #40406
Hello~!

Thank you for bringing this to our attention! I did a little digging, and it appears to be due to the regex used to parse the code.

We could either modify the regex to use anchor characters to validate 9 and not 90, or I believe we can assert the value of `a` directly in the test. (Tried this approach locally and it did work).

[2020-12-09 06:37] Twaha-Rahman commented on #40259
A few more inconsistencies/UI bugs ->

![image](https://user-images.githubusercontent.com/39026437/101594084-46209300-3a1b-11eb-8109-82f5eca7121a.png)

[2020-12-09 08:57] ojeytonwilliams commented on #40372
If we can use the api, we definitely should. Otherwise we're committing to painful migrations.  And yes, if we can get the subforum from the api, translating 'curriculum' makes sense.

[2020-12-09 10:23] ahmadabdolsaheb opened #40408 "Improve news performance to improve SEO"
Google will include page experience signals  in Google Search ranking by May 2021.

As a result performance will be considered when ranking  pages.

We need to have the client optimized to ensure better ranking before the above-mentioned date.

ref https://developers.google.com/search/blog/2020/11/timing-for-page-experience?hl=en

[2020-12-09 11:16] yaseen221 opened #40410 ""Wrong answer" error in Jupyter cells lesson of Data Analysis with Python course"
The correct answer for the question: Which cells are responsible for rich display? is Markdown Cells.
But it erroneously accepts "Code Cells" as the correct answer.

To reproduce the bug, go to below link and select the correct answer to the question.

[link](https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-course/jupyter-notebooks-cells)

![Screenshot 2020-12

[2020-12-09 11:21] KravMaguy opened #40411 "Unclear instructions and typeError Remove Leaf Node"
**Describe your problem and how to reproduce it:**
using the code in this file:
[remove nodes](https://github.com/KravMaguy/Technical-interview/blob/master/Data%20Structures/removeNodes.js)

the challenge is passable by uncommenting lines 56-59
`            if (curr === null) {
                console.log(curr, "curr")
                return null
            }`

The wording of the test is "Trying

[2020-12-09 12:28] MyNameIsAres opened #40412 "Text in Basic Data Structures lesson can be better clarified."
**Describe your problem and how to reproduce it:**
The lesson Basic Data Structures: Add Items Using splice() has an introductory text which has an implication that allows for misinterpretation of the `splice()` function. We discussed this in the FCC Discord under the software development channel.

The text: "We then pass the following to splice(). The index at which to begin deleting elements (3)

[2020-12-09 15:07] RandellDawson commented on #40412
@MyNameIsAres Just to clarify what you are wanting changed, can you post the full text you think better explains `splice`?

[2020-12-09 15:40] ojeytonwilliams commented on #40408
How is it doing at the moment?  We've got Lighthouse running on this repo, but we could do the same for /news.  Might be useful.

[2020-12-09 15:44] nhcarrigan commented on #40408
![image](https://user-images.githubusercontent.com/63889819/101651765-45273b80-39f2-11eb-9e38-bdde986e92bd.png)

If I run lighthouse manually against our `/news` platform I receive these metrics.

[2020-12-09 16:02] ojeytonwilliams commented on #40408
Thanks Nick, looks like it's mostly images that're causing problems.

Related: https://github.com/freeCodeCamp/freeCodeCamp/issues/39043

[2020-12-09 18:46] darren-stoll opened #40413 "Quality Assurance Projects - Sudoku Solver clearer instructions on logic"
**Describe your problem and how to reproduce it:**
There are two major questions I had while I was doing this project, and it seems like other people also had similar issues.

1.) (There's a similar issue to this already [here](https://github.com/freeCodeCamp/freeCodeCamp/issues/40359), but this question deals with conflicting row/column/region.)

Q: Do we need to indicate if the value at a coordi

[2020-12-09 23:22] nhcarrigan commented on #40413
The `check` function should be validating against the *current* state of the board, not necessarily the final solution. Essentially, it is confirming that your number placement is valid when compared against the numbers currently present on the board.

Imagine implementing this as a sudoku helper - checking against the current state of the board would allow for things like highlighting numbers tha

[2020-12-09 23:29] nhcarrigan commented on #40359
I do agree that this should be handled as a valid placement (given that the number is already present in that cell). Unless there is objection/disagreement, I'd be willing to open this up for contribution. 🙂

[2020-12-10 02:07] Branamad commented on #40055
I took a look into this and you're right. This paper, http://www.math.cmu.edu/~nkomarov/21-110/knighttour.pdf, does the proof for the following theorem:
An m X n chessboard with m < n has a knight's tour unless one or more
of these three conditions holds:
(a) m and n are both odd;
(b) m = 1, 2, or 4; or
(c) m = 3 and n = 4, 6, or 8.

A 6x6 board does not fall under one of those conditions and so w

[2020-12-10 09:40] Twaha-Rahman commented on #40408
Currently, it's only configured to run on the landing page. Should we run it on all the pages?

[2020-12-10 16:10] moT01 commented on #39720
I think we are good to close this since it looks like all of the instructions have been moved over to learn. I know there's a few PR's out there to clean up some things - those will get in when the code freeze is over. Thanks for all the work on this everyone 🎉 If there's still any concerns with this, let me know and we can reopen it.

[2020-12-10 16:10] #39720 closed

[2020-12-10 16:35] moT01 commented on #18070
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2020-12-10 16:35] #18070 closed

[2020-12-10 16:36] moT01 commented on #25863
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2020-12-10 16:36] #25863 closed

[2020-12-10 17:08] ojeytonwilliams commented on #40408
All pages?  I think that would be a bit much, but extending it to cover key pages like /learn, /donate and one of each type of challenge (html, video, js and project) seems reasonable.

[2020-12-10 17:26] nhcarrigan commented on #40373
Hey @miyaliu666 - I'm seeing the new chat room avatar successfully loading this morning. Can you confirm if it is present on your end as well?

It could have potentially been a caching issue. 🤔

[2020-12-10 19:41] pmayur opened #40415 "Anonymous Message Board - fcc test suite for the project passes without requiring any api implementation"
**Describe your problem and how to reproduce it:**
Implementing project only the following cases are enough for all tests to pass
- Only allow your site to be loaded in an iFrame on your own pages.
- Do not allow DNS prefetching.
- Only allow your site to send the referrer for your own pages.

to reproduce the same
- clone the boiler plate for the project
- implement the above test cases using hel

[2020-12-10 19:45] nhcarrigan commented on #40415
This occurs because, at the moment, there are not tests present for the routing:

https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/09-information-security/information-security-projects/anonymous-message-board.md

[2020-12-10 19:59] Sky020 commented on #40415
Thank you, for taking the time to open this issue. We are aware of this.

As such, I am closing this as a duplicate of #37185

[2020-12-10 19:59] #40415 closed

[2020-12-10 23:52] nhcarrigan commented on #40365
Hey @moT01 the 15 linked PRs should remove the `engine` fields from our boilerplates. Once they're all approved/merged, we can close this I believe.

[2020-12-11 02:04] moT01 commented on #40316
Add SQL to the list?

[2020-12-11 02:13] GrumpyGusDev commented on #40412
@MyNameIsAres I think I understand what you mean.
We're inserting 2 new elements into the array, but not into a single index location.
It's more a deletion of the element in index location 3 and replacing it with 2 new elements, the second element requiring an index location of it's own.
Did I get that correct?
Good catch, btw! I can see that tripping up a lot of newbies.
@RandellDawson is there a

[2020-12-11 04:01] Twaha-Rahman commented on #40408
Well... the `collect` config won't work in this case because IIRC if you aren't signed in (by clicking the yellow button on the landing page), it just redirects you back to the landing page.

I think the best way to achieve running Lighthouse would be to use Cypress to visit the pages in question and run the Lighthouse plugin.

Lemme know what you think.

[2020-12-11 05:06] misterybodon opened #40416 "Just trying to understand how you check answers"
I'm reading mongoose guide, it would be nice to find where is the code checking the REPLs.

All I find is `.md` files?

Say for mongoose & mongodb exercise 1, where is the checker code?

Can I find it in the node modules too correct?

[2020-12-11 07:14] ahmadabdolsaheb opened #41072 "Make background image responsive"
The background and the Saron animation are fixed and do not change size based on viewport, so smaller screens see only a portion of the image and large fullhd + screen will see the image stock to a corner.

User stories (edited):
- Users should see as much of the image as possible.
- If the view has a wider ratio in comparison to the image, the image's full width should be displayed allowing the u

[2020-12-11 08:16] ahmadabdolsaheb commented on #40403
I think the main motive behind that is to show to the user what exactly is shown to everyone when the user's profile is being displayed.

The minimum fix would be to adjust the flash message when a user visiter her own profile.

[2020-12-11 08:19] stonegrape opened #40417 "Coding platforms"
**Describe the bug**
使用行内样式尝试让h1的字体颜色变白。像下面这样使用：
<h1 style="color: green">

**Expected behavior**
<h1 style="color: white"

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [window]
 - Browser: [ safari]
 - Version: [78.0.2 64位]

[2020-12-11 08:21] stonegrape commented on #40417
没有完全显示
`<h1 style="color: green">`
应该是
`<h1 style="color: green">`

[2020-12-11 08:26] stonegrape commented on #40417
This is my wrong.

[2020-12-11 08:26] #40417 closed

[2020-12-11 09:08] ojeytonwilliams opened #40418 "Revisiting CDN caching"
In https://github.com/freeCodeCamp/cdn/pull/57 we disabled caching for the CDN.  Since [Cloudflare respects Etags](https://support.cloudflare.com/hc/en-us/articles/218505467-Using-ETag-Headers-with-Cloudflare) and [Netlify uses them to bust caches](https://www.netlify.com/blog/2017/02/23/better-living-through-caching/) it should be possible to cache the assets in Cloudflare.

@raisedadead is this

[2020-12-11 09:28] ieahleen commented on #40416
as this is not a bug report or a feature request, can you please ask about it on one of the chats in the #contributors channel or in the forum in the subforum of the same name?

the code snippets you see in the hints part of the .md files are those used for the various tests

[2020-12-11 09:28] #40416 closed

[2020-12-11 10:17] ojeytonwilliams commented on #40408
The UX is slightly different if you're not signed in, but to my knowledge only /settings redirects you, so I think this is doable using `collect`.

Would we be able to schedule it like we do currently?  It's quite nice to have the reports every couple of weeks.

[2020-12-11 10:29] Twaha-Rahman commented on #40408
Oh... I didn't know that.

Sure. That's easily possible. (Btw... you could even manually trigger it by going to the `Actions` page ;) )

[2020-12-11 10:47] Twaha-Rahman opened #40419 "Consider optimizing for Core Web Vitals"
As stated in #40408 and #39354, **Core Web Vitals** or CWV, in short, will affect SEO soon and Google will keep adding and updating them in the future. So it's of utmost importance to optimize for these performance metrics. I've been investigating a little bit and it looks like that **First Contentful Paint (FCP)** and **Largest Contentful Paint (LCP)** are the main pain point.

### Field Data

<d

[2020-12-11 10:51] ojeytonwilliams commented on #40408
Awesome, that's good to know.  I suggest we stick to the current setup for now, but keep in mind that we can use Cypress if needed.

It sounds to me like we have two items

- [ ] extend the existing site coverage to a better sample of pages
- [ ] set up a similar action for /news

Does that about cover it?

[2020-12-11 10:53] Twaha-Rahman commented on #40408
Yup.

[2020-12-11 10:55] ojeytonwilliams commented on #40316
Sure.  So, we'd add typescript and SQL to the plugin.

Since the challenge template change has been merged, I'm happy opening this up for contributions.

[2020-12-11 11:05] ojeytonwilliams opened #40420 "Improve Lighthouse coverage"
As discussed in https://github.com/freeCodeCamp/freeCodeCamp/issues/40408 it would be helpful to have Lighthouse monitor more pages.  This breaks down into two broad cases

- [ ] extend the existing action to collect a better sample of pages: /, /learn, /donate and a sample of challenges (e.g. one from each of html, video, js, jsx and backend)
- [ ] set up a similar action for /news

[2020-12-11 11:25] #39177 closed

[2020-12-11 11:34] ojeytonwilliams commented on #39751
Hi @Kannndev, sorry for the delay getting back to you.

Unless I'm missing something, you would not need any of that for local development.  When I was setting up the api monitoring, I just tested things using a free-tier Sentry account.

Once we're confident it's not too noisy, we can set up a new DSN and put it into production.

[2020-12-11 11:37] ojeytonwilliams commented on #40259
It's not an inconsistency, exactly, but it's hard to tell that a room has unread messages, since it's grey vs a slightly different grey.  Is it possible to make it a little more obvious?

[2020-12-11 13:26] moT01 opened #40421 "Seeded users share an email"
In [the scripts to seed the database](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/tools/scripts/seed), the auth user and certified user share an email address. I had them both seeded and could not change any of the settings for the development user - you get an "email uniqueness" error.

One of the email addresses could probably be changed in there.

Edit: On second thought, I bet thi

[2020-12-11 14:04] Sky020 commented on #40421
The email addresses were purposefully set to be the same, because the dev sign-in relies on the email address. So, if `fullyCertifiedUser` was given a different email address, then it would not be possible to sign in as them.

[2020-12-11 14:11] moT01 commented on #40421
I think we should delete the other users before seeding the certified user and vice versa - something like this maybe...

[code]

[2020-12-11 14:39] ojeytonwilliams commented on #40421
Your approach was fine, I don't think we need to come up with anything fancy.  I do like Tom's suggestion, too.  What do you think, Shaun?

[2020-12-11 15:18] Twaha-Rahman commented on #40398
I do agree with @ieahleen that this is indeed a small typo but I also agree with @samezuka that it is indeed a grammatical prob.

Since this typo got noticed, I'd say let's fix it. 😃

[2020-12-11 15:39] RandellDawson commented on #40398
While I think it is fine to correct the typo, I think the tests should be loose enough to accommodate the period inside or outside the last double quote.  The point of the challenge is escaping double quotes, so we do not want to get caught up in a period inside or outside the quotes.  The reason I say this is the new curriculum is going in this direction.  We are going to be lenient in the tests

[2020-12-11 16:33] Sky020 commented on #40421
Tom's suggestion makes sense 👍 .

[2020-12-11 17:37] RandellDawson commented on #40398
@Twaha-Rahman Is this still a first-timers issue now, since the contributor must also modify the test to accommodate both versions of the string?

[2020-12-11 17:52] Twaha-Rahman commented on #40398
Ooops. Forgot to update that.

[2020-12-11 19:18] moT01 commented on #40410
From [https://readthedocs.org/projects/jupyter-notebook/downloads/pdf/latest/](https://readthedocs.org/projects/jupyter-notebook/downloads/pdf/latest/):

**Code cells:**
... The output is not limited to text, with many other possible forms of output are also possible, including matplotlib figures and HTML tables(as used, for example, in the pandas data analysis package). This is known as IPython’s

[2020-12-11 19:32] moT01 commented on #40412
I think it's fairly clear when you look at the example. That being said, I don't mind a little improvement here. What about:

`We then pass the following to splice(). The index at which to begin deleting elements (3), the number of elements to be deleted (1), and the remaining arguments (13, 14) will be inserted starting that same index`

[2020-12-11 19:40] Sky020 commented on #40410
I am not a fan of this question at all. What about changing it to be:

[code]

[2020-12-11 20:01] darren-stoll commented on #40413
Underneath "All puzzle logic can into `/controllers/sudoku-solver.js`", maybe add an indented bullet with this information:

- The `validate` function should take a given puzzle string and check it to see if it has 81 valid characters for the input.
- The `check` functions should be validating against the _current_ state of the board.
- The `solve` function should handle solving any given valid pu

[2020-12-11 22:35] Diacron opened #40424 "Would like to see a progress gauge/bar for challenges."
I'm currently going though the Basic CSS challenges (as a guest, not logged in). It would be nice to see how many I've completed or how close I am to completing all of them.

**Describe the solution you'd like**
Perhaps a challenges completion status bar or gauge on the congratulatory screen.

[2020-12-11 22:39] RandellDawson commented on #40424
This feature is only available for registered users.  There are no current plans to add such a feature for guest users.

[2020-12-11 22:56] moT01 commented on #40410
I'm fine with that @Sky020. What do you think @yaseen221?

[2020-12-12 00:32] samezuka commented on #40398
Thank you for your reply. I agree the grammar shouldn’t matter in the challenge.

The problem was that when I tried to submit the answer with the “proper grammar,” it told me my answer was wrong, and I had to change it to the “improper” way.

I’m an English teacher rather than a programmer, so completing the challenge with the improper grammar hurt my soul a little bit, haha.

[2020-12-12 10:01] nibble0101 opened #40425 "Break challenge instructions into paragraphs"
**Describe your problem and how to reproduce it:**

Currently the instruction for  "Data Structures: Create a Circular Queue" challenge is cramped up in one paragraph.

This makes it difficult to understand and keep track of the challenge requirements. It would be better to break the instructions down into paragraphs. Something like:

**Add a Link to the page with the problem:**
https://www.freeco

[2020-12-12 10:55] Sky020 commented on #40425
This would be better 👍 Thanks, for taking the time to create this issue.

Seems like a nice _first timers only_ issue.

[2020-12-12 10:56] Twaha-Rahman commented on #40398
Hey @RandellDawson , I just made a PR (#40426) that fixes the grammar issue and it looks quite simple as there's no need to change the tests. So, let's open this up for `First Timers`, what do you say?

[2020-12-12 11:44] get-thepacket commented on #40425
I can't seem to find the code regarding this issue. It would be good to receive some hints.

[2020-12-12 12:00] Sky020 commented on #40425
Hello @get-thepacket ,

Here are the [Contributors Docs](https://contribute.freecodecamp.org/#/index). I recommend you read those to see how to contribute, and get an idea of setup and formatting.

Here is the relevant file: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/10-coding-interview-prep/data-structures/create-a-circular-queue.md

If you have any fur

[2020-12-12 12:11] Sky020 commented on #40398
Just to add this: I do not see this as a bug/typo, because I mostly use British-styled English.

So, the only reason we might change this is if we are trying to have uniformity about using only American-styled English within the curriculum.

[2020-12-12 12:13] ieahleen commented on #40398
@Twaha-Rahman both versions should be allowed, dot inside snd dot outside. Your PR just changes with version is allowed

[2020-12-12 14:37] ahmadabdolsaheb commented on #40259
Yes,

[2020-12-12 14:38] ahmadabdolsaheb commented on #40259
Yes, we should be able e to resolve this among other issues this week.

[2020-12-12 15:08] Twaha-Rahman commented on #40398
I didn't knew that it differed in these two styles. If that is the case I'm in favour of closing this issue as it is proper English eitherway.

@ieahleen The tests and the sentence in the test question isn't changed in my PR as it is correct. I only changed the example sentence in the PR.

(Apologies for the trouble and misunderstanding 😅)

[2020-12-12 18:37] get-thepacket commented on #40425
@ShaunSHamilton Got it.

[2020-12-12 18:52] get-thepacket commented on #40425
I have done it with some bullets, looks fine.
![scrnli_12_13_2020_12-17-28 AM](https://user-images.githubusercontent.com/38386292/101992427-28805180-3cd9-11eb-8917-b977b954b801.png)

[2020-12-12 19:12] get-thepacket commented on #40425
So just paragraph change, ok.

[2020-12-12 19:13] MyNameIsAres commented on #40412
The example definitely is definitely correct. The text adds unnecessary confusion to the problem. Your improvement sounds great.

[2020-12-12 19:14] MyNameIsAres commented on #40412
I believe moT01's suggestion is a more accurate explanation of the method.

Correct!

[2020-12-13 04:31] TheeMattOliver opened #40429 "2nd 'Change code below' should be 'Change code above' in React ComponentDidMount Challenge"
**Describe your problem and how to reproduce it:**

Load challenge. Observe that there are two instances of "{/* Change code below this line */}".

The second should be {/* Change code _above_ this line */}

Could lead to confusion with users unsure if there's more to do in the challenge after adding the correct code to the challenge.

**Add a Link to the page with the problem:**

https://www.free

[2020-12-13 07:15] paulsonjpaul opened #40442 "Low contrast on Code Selection: Can't See Anything"
**Describe your problem and how to reproduce it:**

I had started noticing this a few days ago onward. The issue is that I can't see the code example when I highlight it. It has low contrast. The issue is similar to #39967. The surprising thing is that the highlight color is different in Chrome and FireFox Developer Edition.

**Add a Link to the page with the problem:**

https://www.freecodecamp.o

[2020-12-13 10:18] ojeytonwilliams commented on #40442
Thanks for the report @paulsonjpaul, this definitely isn't what we want.  However, the colour can be controlled via the `::selection` selector, so this is definitely fixable.

@ahmadabdolsaheb do you want to take a look or can we open this up to contributors?

[2020-12-13 13:08] nibble0101 opened #40443 "The return value of values method is incorrect in project seed."
**Describe your problem and how to reproduce it:**

In the [Data Structures: Create a Set Class](https://www.freecodecamp.org/learn/coding-interview-prep/data-structures/create-a-set-class) challenge of data structures, interview prep section, there is a method called `values` defined in the `Set` class which emulates sets. Apparently the challenge requires one to add new elements to `this.diction

[2020-12-13 14:39] paulsonjpaul commented on #40442
If you don't mind, can I open a PR for this? All I want would be contributing docs and the location of the file to edit.

[2020-12-13 14:59] nibble0101 opened #40444 "Bug in add method of "Perform a Union on Two Sets " challenge seed"
**Describe your problem and how to reproduce it:**

The [perform a union on two sets challenge](https://www.freecodecamp.org/learn/coding-interview-prep/data-structures/perform-a-union-on-two-sets) in coding interview prep, data structures section requires one to create a method called `union` on the defined `Set` data structure in the challenge seed. This method should take another Set as an argu

[2020-12-13 16:21] paulsonjpaul commented on #40442
I noticed that there is a Code Freeze currently. So, is this not the correct time to create a PR? Thanks.

[2020-12-13 17:07] RandellDawson commented on #40442
@paulsonjpaul You can always create a PR.  The code freeze only impacts the merging of the PR right now.  Go ahead and create one if you want and we will review and merge when the freeze is over.

[2020-12-14 04:51] paulsonjpaul commented on #40442
Thank you @RandellDawson for your clarification. But, I don't know the location of the file to edit. Also, I noticed that this is a problem with dark mode only. For light mode, the selection color works perfectly and has correct contrast. So, I think we should change the selection color for the dark mode only.

Please give me the location of the file to edit. Thanks.

[2020-12-14 09:10] ojeytonwilliams commented on #40373
Hey @miyaliu666 I just tested this today and the uploaded image was instantly available.  Is it working for you now?

[2020-12-14 09:31] ojeytonwilliams commented on #40442
@paulsonjpaul the contribution guide is [here](https://contribute.freecodecamp.org/).  I would recommend putting it in `client/src/components/layouts/global.css` unless you're only changing the selection colour on specific pages.  Finally, we apply night mode styles via the `.night` class.

[2020-12-14 09:38] ojeytonwilliams commented on #40314
(Use `node --trace-warnings ...` to show where the warning was created)
(node:31702) Warning: Accessing non-existent property 'findOne' of module exports inside circular dependency
(node:31702) Warning: Accessing non-existent property 'remove' of module exports inside circular dependency
(node:31702) Warning: Accessing non-existent property 'updateOne' of module exports inside circular dependency

[2020-12-14 11:20] paulsonjpaul commented on #40442
I am really sorry to irritate you again. I checked the file you suggested, but I couldn't find any `::selection` and any `.night` selectors.

But, I found the `.night` selector in `prism-night.css` file. But, no `::selection` there 😢.

So, which is the exact file to edit and which line should I edit. Sorry again, I am a complete noob at this. It's really hard to find something in a big project's f

[2020-12-14 12:31] ojeytonwilliams commented on #40442
It's no trouble at all.

Those selectors don't exist, yet, you'd need to add them.  Once you do the site should automatically reload when you save the css file.  Then it's just a case of making sure they look okay and have high enough contrast.

[2020-12-14 14:29] miyaliu666 commented on #40373
Kris helped me figure out how to update it, and we already updated the room said above. Sorry I didn't close this issue.

[2020-12-14 14:31] #40373 closed

[2020-12-14 14:33] ojeytonwilliams commented on #40373
Cool, thanks for confirming, I'm glad it's sorted out.

[2020-12-14 14:36] raisedadead commented on #40418
CloudFlare automatically does that - if Netlify sends such a header, which I believe it should at the minute. In short, I do not think there is a change necessary.

[2020-12-14 16:07] adql opened #40454 "Add a two-pane view with a keyboard shortcut to switch back and forth"
**Is your feature request related to a problem? Please describe.**
When working on a three-paned challenge (e.g. lessons of the Responsive Web Design certificate and probably many others), especially on smaller screens the code pane in the middle is just too narrow. Line wrapping is happening way too often, which reduces usability. Manually resizing the panes each lesson is cumbersome. Using `Ctrl

[2020-12-14 16:12] ojeytonwilliams commented on #40418
Doesn't look like it. Try this:

https://cdn.freecodecamp.org/project-data/readme.md

I see the headers

[code]

and if it was cached I'd expect to see `cf-cache-status: HIT`.

[2020-12-14 16:33] raisedadead commented on #40418
Hmm, that is expected then. While we could use CF to cache, do we need to is the real question? Has there been a perf penalty that we have been having?

As I understand a CDN in front of a CDN (netlify) is a bad idea and given me a lot of headaches in the past.

[2020-12-14 17:09] nhcarrigan commented on #40413
I think I am okay with this approach - I'll give others a chance to weigh in before opening this up. 🙂

[2020-12-14 17:18] nhcarrigan commented on #40314
Are those from the `develop` script?

[2020-12-14 17:44] ojeytonwilliams commented on #40314
Yep, `npm run seed`.

[2020-12-14 17:50] #39679 closed

[2020-12-14 18:26] lasjorg opened #40455 "Incorrect assert message?"
Challenge: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/object-oriented-programming/add-methods-after-inheritance
Forum post: https://forum.freecodecamp.org/t/own-property-challenge-issues/435424

The test seems to be expecting that the method is on the prototype.

[2020-12-14 19:14] ShaunSHamilton commented on #40314
@ojeytonwilliams I might be mistaken, but I remember always seeing those warnings on my side. For both v12 and v14

[2020-12-14 19:18] ShaunSHamilton commented on #40455
I think this is a duplicate of: https://github.com/freeCodeCamp/freeCodeCamp/issues/38433

Not much discussion has happened on that issue, though.

[2020-12-15 05:17] paulsonjpaul commented on #40442
I setup freecodecamp in gitpod and I can see the preview. But, to enable dark mode, I have to login into freecodecamp from gitpod's preview. But I am afraid whether it is safe to do so. Please guide me.

[2020-12-15 05:26] paulsonjpaul commented on #40442
To get a correct color that has enough contrast, I experimented with different colors using the browser's built-in inspect tool. Here is something that I found works best with both light and night mode:

![image](https://user-images.githubusercontent.com/73777251/102174599-e23b1600-3ec3-11eb-9cac-a5430e7af33e.png)

![image](https://user-images.githubusercontent.com/73777251/102174746-24fcee00-3ec4

[2020-12-15 05:35] paulsonjpaul commented on #40442
I also noticed that this problem persists in HTML & CSS challenges as well, which should have been fixed in #39967 (but not). But, I will fix it in this PR (I have found a solution for it).

[2020-12-15 05:39] RandellDawson commented on #40442
@paulsonjpaul I think you meant it should have been fixed by PR https://github.com/freeCodeCamp/freeCodeCamp/pull/39987?

[2020-12-15 05:43] paulsonjpaul commented on #40442
Yes @RandellDawson. That PR was meant to fix this issue, but it is now back again. But, I will fix it.

Can you please provide an answer to this? Also, please see my reply above (the one with screenshots) and check if the color is fine.

[2020-12-15 09:42] ShaunSHamilton commented on #40442
@paulsonjpaul It might be easier for you to get this kind of assistance on either the forum  (in the Contributors sub-forum), or on the Discord server (contributors channel). Links in docs

To sum up, it is mostly explained in the [docs](https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-locally?id=sign-in-with-a-local-user)
But, you are not supposed to sign in with your account. In f

[2020-12-15 09:46] ojeytonwilliams commented on #40442
Thanks Shaun, that's exactly what I was going to say.

As far as contrast goes, I recommend making use of a tool to check it complies with the [WCAG guidelines](https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html).  For example https://wave.webaim.org/

[2020-12-15 10:59] ojeytonwilliams commented on #40418
It's probably not a huge deal, no. It's small enough that I can't see an obvious difference between cache hits and misses.

We do still cache everything in /news-assets/ though, so the headache potential is there.

[2020-12-15 11:02] ojeytonwilliams commented on #40314
For me, at least, it's new in v14. For example:

[code]
only generates warnings for the second run.

[2020-12-15 16:15] ahmadabdolsaheb commented on #40442
@ojeytonwilliams, I think a contributor can open a pr and we could adjust it before merge.
In addition to the resources that @ojeytonwilliams has listed, I encourage you anyone who is interested to do a research on the accepted contrast level for selected text, and see the contrast levels adopted by websites with best accessibility practices.

Here is the contrast checker that I usually use:https:

[2020-12-15 19:35] rusikf opened #40458 "Print any lesson of curriculum in PDF"
**Is your feature request related to a problem? Please describe.**
When I want to print the lessons(save as pdf ), it shows scroll, not full page

**Describe the solution you'd like**
Show full page for print

**Describe alternatives you've considered**
Create a button for the print lesson to pdf

**Additional context**
Example:
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-str

[2020-12-15 21:16] csmiceli commented on #40405
I recently finished this cert. The Exercise Tracker was one I needed to reverse engineer to understand. Maybe that's a good thing? I found the data types and date formatting were particularly touchy yet never mentioned.

[2020-12-15 21:29] csmiceli commented on #39765
I just finished the APIs and microservices cert. Many of those projects used a "sample.env", which didn't work at all. I needed to rename on my local and drop into the repl.it project. The require('dotenv') is there.

[2020-12-15 21:47] aligolji opened #40459 "Lesson will not allow to progress after it is completed"
I've completed the lesson correctly and it will not allow me to move on.
I read a couple of older threads regarding the same issue and I tried all of the suggested work-arounds. As this issue happened on the lesson just before this one, it worked. However, on this lesson none of the suggested solutions are working.

tried double clicking, ctrl+enter twice, changing the color to blue, to blue then

[2020-12-15 22:30] nhcarrigan commented on #40410
To clarify, the question asks about `rich display`, not `rich text`. Which, according to what Tom quoted, would be code cells.

That being said, I completely agree that there's too much room for confusion here. For now, I suggest moving forward with @ShaunSHamilton's approach. Because this is a text change, I'll go ahead and open it up to first timers.

[2020-12-15 22:35] nhcarrigan commented on #39765
This is standard behaviour - the `sample.env` file exists to show the required `env` values. You can copy or rename it to `.env` and fill in the secrets. 🙂

[2020-12-15 22:36] nhcarrigan commented on #39765
Do we want to go through and add the `dotenv` package to all of the boilerplate repositories that rely on environment variables?

[2020-12-15 22:39] santimirandarp commented on #39765
afaik in repl.it they put all effort in making dotenv not work as expected. imho the best way is to explain the user how it should be done locally, and that this is already set in the background by repl.it.

So `dotenv` should be removed as a package, and `.env` will work the same.
I may be wrong.

[2020-12-15 23:09] csmiceli commented on #39765
dotenv feels like a hack. repl.it should have a built in way to add environment variables to containers -- or whatever they are using. Beyond control of this repo, I suppose.

[2020-12-15 23:16] nhcarrigan commented on #39765
Repl.it handles environment variables natively. However, `dotenv` *is* required for local development, which is where this discussion is going, I believe.

Testing this with a brand new repl.it instance, and I am able to log environment variables without `dotenv`.

[2020-12-15 23:16] RandellDawson commented on #39765
If we teach the user to user about using `dotenv` (I can not remember if we do), then the boilerplates for the projects should not come with it.  The projects should have the absolute minimum possible and the user adds the necessary libraries/code to implement the projects.

[2020-12-15 23:18] RandellDawson commented on #40459
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-12-15 23:18] #40459 closed

[2020-12-15 23:19] nhcarrigan commented on #39765
From a quick glance, we don't seem to mention the `dotenv` package currently.

Would it be a better approach to modify the "Use the .env File" challenge to include instructions on using `dotenv` for local development?

[2020-12-15 23:20] RandellDawson commented on #39765
I like this idea.

[2020-12-15 23:25] nhcarrigan commented on #39765
Okay, so we could add the following text to the [challenge file](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/05-apis-and-microservices/basic-node-and-express/use-the-.env-file.md) at the end of the `Instructions` section:

[code]

@RandellDawson if you're happy with this verbiage/approach I think we could open this one up to first-timers?

[2020-12-15 23:30] santimirandarp commented on #39765
you know better but saving a line here is justified requires('dotenv').config()

because dotenv is not needed for anything else afterwards

[2020-12-15 23:35] nhcarrigan commented on #39765
While you are correct, `require('dotenv').config()` works just fine, I'd argue that the two line approach will be more clear and understandable for campers at this point in the curriculum.

[2020-12-16 01:07] #40406 closed

[2020-12-16 01:15] #40443 closed

[2020-12-16 01:19] #40429 closed

[2020-12-16 05:59] paulsonjpaul commented on #40442
I have made a PR for this issue. Please check it #40461

[2020-12-16 06:20] RandellDawson opened #40463 "Chinese curriculum files needing partial or full translations"
The following is a list of tasks needed to help get several Chinese curriculum files' translations updated/added once PR #40462 is merged.

**Update**

The related PR is merged and this is ready for work.
- [x] **Task No. 1:** The following file needs a full translation of description, instructions and all tests' texts.

  <details>

  <summary>Details of the task</summary>

  - https://github.com

[2020-12-16 07:24] #40400 closed

[2020-12-16 09:26] ieahleen commented on #40398
@raisedadead the change discussed here about making both solutions work is not wanted anymore?

[2020-12-16 09:58] raisedadead commented on #40398
Re-opening.

[2020-12-16 11:21] ieahleen commented on #39608
@luqven are you still working on this?

[2020-12-16 11:35] raisedadead commented on #40463
@freeCodeCamp/chinese this is ready for work.

[2020-12-16 11:50] #36852 closed

[2020-12-16 11:52] #39505 closed

[2020-12-16 14:00] luqven commented on #39608
@ieahleen thanks for the heads-up, forgot to sub to that PR to know when it was merged. I'll pick this up again and make a new PR as suggested in #40272  👌🏼

[2020-12-16 14:27] ojeytonwilliams opened #40466 "e2e tests for translated versions of /learn"
Since we will be building independent versions of the client for the different languages, the current Cypress testing approach won't cover problems specific to non-English clients.

I propose we extend coverage by setting up a parallel test run for one of the new languages (probably Chinese, simply due to it's level of completion, but it doesn't really matter).  We should also add tests covering t

[2020-12-16 15:00] #40303 closed

[2020-12-16 15:05] #40458 closed

[2020-12-16 15:09] raisedadead commented on #40424
Hi @Diacron what Randell here means is that to implement such a feature we would need to store the data locally on the browsers, which can become stale over time. We recommend a login to consistently store the progress.

We understand users may have reservations with this, and hence we do support using throw-away email addresses from mailinator, getnada, etc on our learning platform, if you do not

[2020-12-16 15:09] #40424 closed

[2020-12-16 16:07] #40398 closed

[2020-12-16 17:42] ramizqurbanl opened #40468 "İ need halp as a dev"

[2020-12-16 17:47] nhcarrigan commented on #40468
Hello!

GitHub issues are intended for reporting bugs or requesting features in the freeCodeCamp curriculum and platforms. For discussions related to your development journey, feel free to check out our [forums](https://forum.freecodecamp.org).

[2020-12-16 17:47] #40468 closed

[2020-12-16 18:28] najmieh opened #40470 "there is a spelling error in this lesson "Count Backwards With a For Loop""
**Describe your problem and how to reproduce it:**
here in this lesson we this explanation: In order to count backwards by twos, we'll need to change our initialization, condition, and final-expression.
 backwards should change into backward and twos should change into two.

**Add a Link to the page with the problem:**

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/b

[2020-12-16 18:49] najmieh commented on #40470
also, this lesson needs an edit https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/replace-loops-using-recursion

Note: Recursive functions must have a base case when they return without calling the function again (in this example, when n <= 0), otherwise they can never finish executing.

when n <= 0 has one parentheses

[2020-12-16 18:50] nhcarrigan commented on #40470
I'm not seeing an issue here? The parentheses wrap the subclause "in this example, when n <= 0".

[2020-12-16 18:50] nhcarrigan commented on #40470
This would be a good change, though, I agree.

[2020-12-16 18:54] nhcarrigan commented on #38735
Between our refactors of the boilerplates, challenge tests, and markdown parser, is this issue still present?

[2020-12-16 19:33] ShaunSHamilton commented on #38735
@nhcarrigan I am going to close this, as it has not come up again since (that I have experienced or seen). It can simply be reopened if we manage to replicate it.

[2020-12-16 19:33] #38735 closed

[2020-12-16 20:08] ieahleen commented on #40470
agree with this change - I'm opening this as first timers only

[2020-12-16 20:20] nhcarrigan commented on #39834
Since this issue has had no activity, I think it is safe to close for now. If anyone would like to discuss this restructure further, let us know and we can reopen this. 🙂

[2020-12-16 20:20] #39834 closed

[2020-12-16 20:23] nhcarrigan commented on #40444
Hey there @nibble0101! Would you be able to provide an example of code you wrote for the `union` method that was erroneously failing the tests? This way we can test against the changes made in the linked PR.

[2020-12-17 06:33] Muneeb316 opened #40471 "Oops! Something went wrong. Please try again in a moment."
![freecodecamp](https://user-images.githubusercontent.com/17945107/102452060-84d9cd00-405b-11eb-8b9a-e35c5ab99b53.PNG)
Login issue with this email(muneebsajid64@gmail.com)

[2020-12-17 06:55] ieahleen commented on #40471
it's really not recommended to post publicly your email address. To protect your privacy I really suggest you edit your post and delete the email address.

Please follow the instructions in the second Feequently Asked Question here:

https://www.freecodecamp.org/news/support/

[2020-12-17 06:55] #40471 closed

[2020-12-17 07:44] qaz6209031 opened #40472 "Remove solutions from forum hint articles?"
#### Edited by @moT01:
I hope you don't mind @qaz6209031, but I am changing this issue to discuss the removal of the solutions in the hints. I fixed the original issue described below, see the conversation for the new direction of the issue.

**Describe your problem and how to reproduce it:**

There are several bugs in  [freeCodeCamp Challenge Guide: Timestamp Microservice](https://forum.freecodec

[2020-12-17 09:50] matias-miller commented on #40470
I am interested in contributing. I have never made a contribution to an open source project. If I could get a little help, this would be a great learning experience.

[2020-12-17 10:05] ieahleen commented on #40470
@matias-miller if you haven't, start with contribte.freecodecamp.org, then you can ask for help on discord, in the contributors channel. Here to join: https://www.freecodecamp.org/news/freecodecamp-discord-chat-room-server/ , or on the forum in the contributors subforum

[2020-12-17 14:58] nibble0101 commented on #40444
Hi @nhcarrigan . I stumbled across this issue because the solution I was submitting wasn't correct either. I misinterpreted  the statement:

to mean an array is passed to the `method` and then returning an array. However what I have just noticed is that as long as you are submitting a correct solution, the test will pass even if you leave the `add` and `values` methods bugs unfixed. Essentially wh

[2020-12-17 16:25] CreaTorAleXander commented on #40470
@matias-miller are you doing this issue or is it free?

[2020-12-17 19:00] ShaunSHamilton commented on #40472
Hello there,

Thank you, for taking the time to open this. In general, for the guide posts, we recommend you open a topic on the contributors sub-forum on the [forum](https://forum.freecodecamp.org).

@moT01 @RandellDawson Are we planning on removing the guide posts/solutions for the projects?

[2020-12-17 19:08] RandellDawson commented on #40472
There has been only limited discussion about it.  I personally think the solutions for the projects should all be removed from the Guide, so the users do their own work and less tempted to see the solution.  It would create more interaction on the forum, which is fine, because that would mean more learning opportunities.

[2020-12-17 19:18] nhcarrigan commented on #40472
I'm of the same opinion here.

[2020-12-17 19:22] S1ngS1ng commented on #40463
Thanks @RandellDawson for the detailed list.
@miyaliu666  Lemme know if you'd like to keep these for the live-stream workshop session in this weekend.
If not, I'll work on it starting from this evening. Please expect an update by the end of this weekend.

[2020-12-17 19:39] santimirandarp opened #40476 "Update on Helmet X powered By"
**Describe your problem and how to reproduce it:**
In the [first Helmet challenge](
https://www.freecodecamp.org/learn/information-security/information-security-with-helmetjs/hide-potentially-dangerous-information-using-helmet-hidepoweredby) it is said that to hide the X-powered-By set by default in some servers, can help to avoid attacks. I'm not saying this isn't true, but this is an extract fro

[2020-12-17 19:51] ShaunSHamilton commented on #40476
Hello there,

Thank you, for taking the time to open this. I am not sure I understand what you are saying needs to happen/ be changed?

The current `server.js` boilerplate file has what you mentioned: https://github.com/freeCodeCamp/boilerplate-infosec/blob/gomix/server.js#L16

The idea behind the lesson is not _how to use Helmetjs for Express apps_, but _what security measures exist_, and _what d

[2020-12-17 19:53] ieahleen commented on #40472
should the guide posts be deleted (removing "Get a hint" button from projects), or still there but with a message to ask for help?

[2020-12-17 19:57] ShaunSHamilton commented on #40472
@ieahleen  I would say we should leave the Guide posts and the button, but remove the solutions - in case, in the future, we want to include any sort of hint in the Guide posts.

[2020-12-17 19:57] ieahleen commented on #40470
@CreaTorAleXander @matias-miller  all issues with the "first timers only" or "help wanted" are up for grabs, the first comprehensive PR is reviewed

[2020-12-17 19:59] nhcarrigan commented on #40472
I'd propose replacing the text in the guide posts with something like "Hints/Solutions are not provided for certification projects as these are intended to be a test of your learning and understanding."

[2020-12-17 20:10] ShaunSHamilton commented on #18097
As this issue has gone stale, and I have not seen anything similar come up on the forum or otherwise, I am going to close it as such.

Feel free to bring up the discussion again, and this can be reopened.

[2020-12-17 20:10] #18097 closed

[2020-12-17 20:17] ShaunSHamilton commented on #17744
I believe this can be closed, now. With the latest round of updates, I did not experience any similar issue with the latest version of Zombie.js.

@moT01  Can you confirm?

[2020-12-17 20:17] santimirandarp commented on #40476
You're welcome. I'd just include or link to helmet npm at least. Because it's not really useful for security, as far as I can see.

I've read the boilerplate, it was great to see that :+1:

[2020-12-17 20:35] ShaunSHamilton commented on #40476
Ok, after doing more searching into this, I agree there are two things we might benefit from doing:
1) With the version we have set to be installed and used, `hidePoweredBy` can take arguements, but version `4` cannot. So, I would suggest a camper **not** use an option. I.e. remove `app.use(helmet.hidePoweredBy({ setTo: 'PHP 4.2.0' }))`
2) Add some information along the lines of:

[2020-12-17 20:53] santimirandarp commented on #40476
Yes, that'd be great, I was puzzled by the option too, cause they don't include it in the home page at least.

[2020-12-17 21:19] #17744 closed

[2020-12-17 23:00] RandellDawson commented on #40463
I am also preparing audits like I did last time for the various curriculum sections.  I hope to have them posted as GitHub issues later tonight (my time).

[2020-12-18 00:16] urbandesign09 commented on #39599
I agree with @SaintPeter , maybe having a Mongoose Schema for the user would clarify this point. As I was working through the Social Authentication exercises, I was also wondering why the exercise didn't involve a Schema (like the previous node section). It would help the learners keep things consistent.

My fix for the situation was just to add an additional property to $setOnInsert:
`username: p

[2020-12-18 02:03] matias-miller commented on #40470
I believe I fixed it. Let me know if there is anything I missed.
![image](https://user-images.githubusercontent.com/45863274/102565250-b1fd9e00-40a2-11eb-9752-f4636aa51753.png)

[2020-12-18 03:37] RandellDawson opened #40479 "Chinese challenges (Responsive Web Design) needing an audit for English changes from Feb 29, 2020"
@freeCodeCamp/chinese

In preparation of the upcoming launch of the Chinese curriculum, the following Chinese curriculum challenges need to be compared to their English equivalents.

This issue only covers challenges in the **`Responsive Web Design`** certification.

All the challenges below have Description or Instructions sections with changes to the English version since Feb 29, 2020. Also incl

[2020-12-18 03:37] RandellDawson opened #40480 "Chinese challenges (JavaScript Algorithms and Data Structures) needing an audit for English changes from Dec, 1, 2019"
@freeCodeCamp/chinese

In preparation of the upcoming launch of the Chinese curriculum, the following Chinese curriculum challenges need to be compared to their English equivalents.

This issue only covers challenges in the **`JavaScript Algorithms and Data Structures`** certification.

All the challenges below have Description or Instructions sections with changes to the English version since Dec

[2020-12-18 03:42] RandellDawson opened #40481 "Chinese challenges (Front End Libraries) needing an audit for English changes from Dec, 1, 2019"
@freeCodeCamp/chinese

In preparation of the upcoming launch of the Chinese curriculum, the following Chinese curriculum challenges need to be compared to their English equivalents.

This issue only covers challenges in the **`Front End Libraries`** certification.

All the challenges below have Description or Instructions sections with changes to the English version since Dec 1, 2019. Also include

[2020-12-18 03:45] RandellDawson opened #40482 "Chinese challenges (Data Visualization) needing an audit for English changes from Dec, 1, 2019"
@freeCodeCamp/chinese

In preparation of the upcoming launch of the Chinese curriculum, the following Chinese curriculum challenges need to be compared to their English equivalents.

This issue only covers challenges in the **`Data Vizualization`** certification.

All the challenges below have Description or Instructions sections with changes to the English version since Dec 1, 2019. Also includes

[2020-12-18 03:48] RandellDawson opened #40483 "Chinese challenges (APIs and Microservices) needing an audit for English changes from Dec, 1, 2019"
@freeCodeCamp/chinese

In preparation of the upcoming launch of the Chinese curriculum, the following Chinese curriculum challenges need to be compared to their English equivalents.

This issue only covers challenges in the **`APIs and Microservices`** certification.

All the challenges below have Description or Instructions sections with changes to the English version since Dec 1, 2019. Also incl

[2020-12-18 05:53] RandellDawson opened #40484 "Chinese challenges (Coding Interview Prep) needing an audit for English changes from Dec, 1, 2019"
@freeCodeCamp/chinese

In preparation of the upcoming launch of the Chinese curriculum, the following Chinese curriculum challenges need to be compared to their English equivalents.

This issue only covers challenges in the **`Coding Interview Prep`** certification.

All the challenges below have Description or Instructions sections with changes to the English version since Dec 1, 2019. Also inclu

[2020-12-18 06:11] RandellDawson opened #40485 "Chinese challenges (Quality Assurance) needing an audit for English changes from Dec, 1, 2019"
@freeCodeCamp/chinese

In preparation of the upcoming launch of the Chinese curriculum, the following Chinese curriculum challenges need to be compared to their English equivalents.

This issue only covers challenges in the **`Quality Assurance`** certification.

All the challenges below have Description or Instructions sections with changes to the English version since Dec 1, 2019. Also includes

[2020-12-18 06:11] RandellDawson opened #40486 "Chinese challenges (Information Security) needing an audit for English changes from Dec, 1, 2019"
@freeCodeCamp/chinese

In preparation of the upcoming launch of the Chinese curriculum, the following Chinese curriculum challenges need to be compared to their English equivalents.

This issue only covers challenges in the **`Information Security`** certification.

All the challenges below have Description or Instructions sections with changes to the English version since Dec 1, 2019. Also includ

[2020-12-18 09:05] qaz6209031 commented on #40472
Thanks for letting me know

[2020-12-18 10:47] therandomuserr commented on #40410
Can I work on this?
Since this is first time I'm contributing. Can you please help me?

Do I need to change the question and options like this?

[code]

[2020-12-18 13:27] ShaunSHamilton commented on #40410
@GJ-16 Yes, the questions here: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/jupyter-notebooks-cells.md

Need to be changed to the above. Be sure to read the [Contributors Docs](https://contribute.freecodecamp.org/#/), if you have not already 👍

[2020-12-18 13:37] yaseen221 commented on #40410
I'm a first time contributor as well. Can I modify it please? @GJ-16

[2020-12-18 13:42] ieahleen commented on #40472
if we have agreement from higher ups, I volunteer in making these changes to the guide

[2020-12-18 13:44] GJ-16 commented on #40410
Actually i started. But if you want to, then go ahead ill look for something else. @yaseen221

[2020-12-18 13:47] ieahleen commented on #40412
as it seems this is the wanted text I'm opening this for first timers

[2020-12-18 13:49] yaseen221 commented on #40410
Thanks a bunch mate @GJ-16

[2020-12-18 13:54] RandellDawson commented on #40472
We will try to get some feedback from the team by next week.

[2020-12-18 17:15] #40375 closed

[2020-12-19 00:37] jdwilkin4 opened #40489 "Remove the change code below/above line instructions for Redux challenge:Use const for Action Types"
**Describe your problem and how to reproduce it:**
Hi there!
This challenge asks users to declare two variables with const and then edit the `authReducer()` function and action creators.
The `//change code below/above line` instructions imply that your code should only be between those two lines.
However, in order to pass the challenge, you have to edit the code below the `// Change code above thi

[2020-12-19 04:41] GJ-16 commented on #40489
Actually the Problem states

Which is why these two comments are given at the first place
[code]
I don't think it is good idea to remove these comments.
And yes the changes has to be made below the  __*```Change code above this line```*__ as well.

So, for this, may be i think some extra comments can be given. My suggestion would be this, please wait for the confirmation.

[2020-12-19 04:49] miyaliu666 commented on #40463
@RandellDawson will make updated commits to a few tasks. I'll meet with @S1ngS1ng soon so we can work on the finalized ones first.

[2020-12-19 06:59] GJ-16 commented on #40412
Can I work on this?

[2020-12-19 07:10] jdwilkin4 commented on #40489
Hi @GJ-16 !

Whenever we see these lines, it has always been in the context of only place your code in here.
[code]

Examples:
https://www.freecodecamp.org/learn/responsive-web-design/css-grid/create-flexible-layouts-using-auto-fill
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/combine-two-arrays-using-the-concat-method

I get that they want us

[2020-12-19 07:18] S1ngS1ng commented on #40479
@RandellDawson Quick question here.
I noticed that sections `# --seed--`, `# --seed-contents--` and `# --solutions--` are missing in most (if not all) Chinese challenges.
For `# --solutions--`, my assumption is that we could use those contents in the Chinese challenges directly since it is not visible to users.
But for `# --seed--`, we might also need to translate some comments under `# --seed-con

[2020-12-19 07:21] GJ-16 commented on #40489
Rather we could do something like this:

Near the particular line inside ```authReducer()``` and ```action creators``` which needs to be changed.

[2020-12-19 08:08] ieahleen commented on #40412
@GJ-16 this is open for people doing their first contribution to the repo. Note that we don't assign issues, all issues with the "first timers only" or "help wanted" label are up for grubs, the first comprehensive PR submittef is reviewed.
If you haven't already, you can start reading contribute.freecodecamp.org, where also this is explained.

[2020-12-19 08:45] trikunc commented on #17584
1. Fork from https://github.com/freeCodeCamp/boilerplate-npm.git
2. add "author": "your name"
3. run
4. copy link after appear

[2020-12-19 15:06] #40239 closed

[2020-12-19 15:23] RandellDawson commented on #40489
@GJ-16 We are not planning on adding any more comments to the current curriculum.  We have a specific set of comments located in [/curriculum/dictionaries/english/comments.js](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/dictionaries/english/comments.js) that we want to stick to at the current time.

We have three specific sets comments we use related to where to put code:

[2020-12-19 15:38] nhcarrigan commented on #40489
I think that's a good approach.

[2020-12-19 15:42] RandellDawson commented on #40479
@S1ngS1ng Great question! Seed comments are now incorporated via dictionary files.  The English is the source and the other languages just need to update the corresponding `text` property per applicable `id`:

[English](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/dictionaries/english/comments.js)
[Chinese](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/

[2020-12-19 15:52] GJ-16 commented on #40489
@RandellDawson I was suggesting the same and Sorry I didn't check this ```/curriculum/dictionaries/english/comments.js```

Yes, this would be fine.

[2020-12-19 15:56] RandellDawson commented on #40489
Since this is a fairly simple fix, I have open this PR up to first timers only.

[2020-12-19 16:18] jdwilkin4 commented on #40489
Thank you for taking the time to listen to my suggestions!

[2020-12-19 19:23] NirajNair commented on #40489
Is it okay if I go ahead with this issue?

[2020-12-19 19:37] ShaunSHamilton commented on #40489
@NirajNair

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues w

[2020-12-20 02:14] frankiefab100 opened #40493 "Typo error Basic JavaScript: Do while loops"
**Basic JavaScript: Iterate with JavaScript Do...While Loops**
The next type of loop you will learn is called a do...while loop. It is called a do...while loop because it will first do one `pass` ...

I think it should be `part`

**Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/iterate-with-javascript-do---while-lo

[2020-12-20 02:51] RandellDawson commented on #40493
The word "part` does not really fit here.  "pass" is definitely a better choice than "part".  A "part" of something is a "piece" of something, which does not mean the same thing as "pass".  The word "iteration" might be possible, but "pass" still fits the sentence better.  We could change the word "do" to "make" which could help though (as below).

Another word could be to use "execute" with "iter

[2020-12-20 03:52] jdwilkin4 commented on #40493
I guess another way to write it could be like this

Do while loops run the statement at least once before checking the condition.

Similar phrasing to the mdn definition
The do...while statement creates a loop that executes a specified statement until the test condition evaluates to false. The condition is evaluated after executing the statement, resulting in the specified statement executing at l

[2020-12-20 07:07] NirajNair commented on #40493
It can be also rephrased as

[2020-12-20 11:59] ShaunSHamilton commented on #40493
I am going to agree with @RandellDawson  on this, and say I do not see a better change.

_"[P]ass"_ is the correct word, in this context. Also, the current verbiage is excellent for describing the main subject of the lesson:

I would not change `do` to _'make'_, because it it not called a `make...while` loop.

[2020-12-20 18:09] frankiefab100 commented on #40493
@RandellDawson i agree with your last suggestion.

[code]

[2020-12-20 18:52] S1ngS1ng commented on #40479
Thanks a lot for the clarification @RandellDawson.
We (me, @miyaliu666, and @ZhichengChen) just synced up yesterday and are actively working on it. Meanwhile, we should be fine to get started. We'll let you know if we have any other concern that needs your input.
Thanks in advance 🙏

[2020-12-21 05:29] asperger99 commented on #40402
sir.. i would like to solve this issue...**can i contribute??**

[2020-12-21 08:41] ahmadabdolsaheb commented on #40402
#@asperger99,  please go ahead 👍. No assignment is necessary as described in our [contribution guidelines](https://contribute.freecodecamp.org/#/index?id=where-do-i-start-if-i-want-to-work-on-an-issue). The first comprehensive PR will be considered for review.

[2020-12-21 15:46] #40442 closed

[2020-12-21 18:47] NirajNair commented on #40402
So should it open in a new tab or in the same tab? what should happen?

[2020-12-21 19:38] nhcarrigan commented on #40493
I'm also in agreement that we don't need a change here.

This *might* be a more clear verbiage, but then we lose the explicit breakdown of the `do` and `while` keywords, which I argue is important to leave in the challenge text.

[2020-12-21 19:43] RandellDawson commented on #40493
I am thinking we should just close this issue as not needed at this time.  I just have not seen many forum topics where this has been brought up in the past.

[2020-12-21 20:24] nhcarrigan commented on #40493
Thank you for reporting this issue.

This is a standard message notifying you that this issue has been triaged and we have determined that there is no need for a fix at this time. As such, we are going to close this issue.

If you think we're wrong in closing this issue, please request for it to be reopened and add further clarification. Thank you and happy coding

[2020-12-21 20:24] #40493 closed

[2020-12-22 02:13] tyantrinh opened #40515 "Your code should not have any div tags."
**Describe your problem and how to reproduce it:**
I am on the applied accessibility section for responsive web design, and the instructions for this problem and the problem after ask me to change the div tags. I change it to article for the problem I have linked and I'm still getting the "Your code should not have any dig tags" even though the other requirement is having 3 article tags which I do

[2020-12-22 04:24] RandellDawson commented on #40515
@tyantrinh Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in the challenges and projects.

Thank you for understanding.

[2020-12-22 04:24] #40515 closed

[2020-12-22 06:42] paulsonjpaul commented on #40442
Please check my comment in #40461. The issue still persists.

[2020-12-22 07:20] asperger99 commented on #40402
same question as @NirajNair ....what shold happen?? @ahmadabdolsaheb

[2020-12-22 09:19] sidram05 commented on #40483
Hi @RandellDawson  can I work on this one ?

[2020-12-22 12:39] ahmadabdolsaheb commented on #40402
I will double check with the dev team and get back to you.

[2020-12-22 13:03] moT01 commented on #40402
My vote was to open them in a new tab - like I said, there's no nav on the certs so you have to use the browsers back button to get back to the website.

[2020-12-22 13:34] AlcidesGome commented on #40489
I don't think its a good idea to remove the comments. It is just asking to add the code in between the above and below comment. And declare login & logout. Also the authReducer()

[2020-12-22 14:53] jdwilkin4 commented on #40489
Hi @AlcidesGome!

Yes, I realize that now. There is already a pull request with the new changes.

[2020-12-22 15:32] moT01 commented on #40476
I dunno, I really don't see much of a problem here. The challenge says that "Hackers can exploit known vulnerabilities in Express/Node if they see that your site is powered by Express." So it doesn't really claim that it adds security, more that it throws people off. Certainly, a determined person could figure out what is powering the app, this just makes it a little harder. Since the version of h

[2020-12-22 15:38] santimirandarp commented on #40476
That's not true just initiate the app, you'll see the header. My point is: you don't want people to learn a useless setting. Idk, seems to me the whole section is rather weak.

[2020-12-22 15:51] moT01 commented on #40472
I adjusted the guide article for the time being to fix the original issue and have changed the issue to reflect the discussion.

This particular article is a solution for one of the certification projects. I am definitely in favor of removing solutions for all of the certification projects. I actually prefer keeping solutions for the regular challenges. I use them often to quickly test challenges,

[2020-12-22 16:24] NirajNair commented on #40402
@moT01 I agree

[2020-12-22 16:34] moT01 commented on #40466
Many of the tests will be broken since we often use english text to get an element or test an elements text. We should be probably start switching to custom attributes for targeting things. And we won't be able to have tests that check if certain text is on a page or in an element. Unless we want to duplicate our cypress tests for another language, but that doesn't seem like a good approach. Hmm,

[2020-12-22 16:54] moT01 commented on #38433
I tried to find a way around changing the text, but I don't think that's going to happen. My suggestion is to change the text to `The <code>Dog</code> prototype should have a <code>bark()</code> method.`

[2020-12-22 16:59] moT01 commented on #40455
Yes, this is a duplicate. Thanks for reporting @lasjorg, but I am going to close this since there's more information over on the other one.

[2020-12-22 16:59] #40455 closed

[2020-12-22 17:26] moT01 commented on #40454
There's a few things you can possibly do to help with this for the time being @adql. If you make your window a little smaller, the view does change to where each pane takes up the whole screen, and you can switch between them with tabs. Although, you can't do that on a phone. I'm curious what device you are using? You can stop the text from wrapping with `ctrl/cmd + f1` - not sure if you can do th

[2020-12-22 17:34] NirajNair opened #40520 "Typo Error in the options and wrong option is set as correct answer in Data Analysis with Python Course - Numpy Operations"
**Describe your problem and how to reproduce it:**
The question asked in this page is as follows:

_What is the value of a after you run the following code?

a = np.arange(5)
a + 20

[20, 21, 22, 24, 24]

[0, 1, 2, 3, 4]

[25, 26, 27, 28, 29]_

There is a typo error in the first option, I believe it should be **_[20, 21, 22, 23, 24]_**  which is the correct answer to the question asked.
Whereas th

[2020-12-22 17:39] ieahleen commented on #40520
try it yourself in an editor, the value of `a` is between the options

[2020-12-22 17:39] #40520 closed

[2020-12-22 17:50] NirajNair commented on #40520
![Screenshot (36)](https://user-images.githubusercontent.com/46632741/102918012-33db3600-44ac-11eb-8aca-2c348e134eed.png)

[2020-12-22 17:57] moT01 commented on #40413
I am fine with adding this as well.

[2020-12-22 18:01] moT01 commented on #40402
I was told, "If the user donates on the certificate, the redux store will not be updated on the other tab and would need a refresh". So, I think that for now, we should open them in the current tab - unless someone has a better solution to that.

[2020-12-22 18:27] moT01 commented on #40405
I am fine adding this if that is the consensus. But I wonder if it would be easier to just put something like, "Use the demo project to see example responses."

[2020-12-22 18:30] nhcarrigan commented on #40405
That would certainly be more maintainable - though reading the response from the example project isn't always clear without an extension to make the JSON "pretty".

[2020-12-22 18:49] moT01 commented on #40397
To try and clarify the problem, you are supposed to match capital `C` letters. With the `let reCriminals = /c+/ig;` regex @nikikalwar mentioned, it will match lowercase and capital `c`'s, but there is no test to catch that.

Since the instructions specifically say capital `C`, I think we can make a change here. I vote to just change one of the existing tests to include a lowercase `c`.

[2020-12-22 19:04] ShaunSHamilton commented on #38433
@moT01

This could quite easily go into bike-shedding, and I have not seen this come up on the forums since (inheritance/prototyping has, but not anything about this lesson being incorrect/confusing). All I would ask is: what is the _"Dog prototype"_?

[2020-12-22 19:24] moT01 commented on #40334
I don't mind any of the solutions here - @ShaunSHamilton's suggestion, doing nothing, or adding the test in the PR. I know that, moving forward, some tests are being designed to be a little more flexible. e.g. Some instructions like: "Give element the text `Hello World.` - would pass if the period was left off. So with that, it kind of seems like this case could probably be left alone. Like @Shaun

[2020-12-22 19:31] nhcarrigan commented on #40334
I'm okay with leaving it as is - we do have an open PR linked to this issue, however.

[2020-12-22 19:33] moT01 commented on #40376
I'm fine with removing that test.

[2020-12-22 20:12] RandellDawson commented on #40334
@nhcarrigan You had responded to the user that nothing had been concluded.  We can close this issue and then reference our decision to close this issue in that PR (and close it too).

[2020-12-22 20:17] #40334 closed

[2020-12-22 21:51] nhcarrigan opened #40521 "[BUG] - Heroku hosted projects are down"
The following Heroku hosted projects are down:

- [Chart the Stock Market](https://www.freecodecamp.org/learn/coding-interview-prep/take-home-projects/chart-the-stock-market)
- [Image Search Abstraction Layer](https://www.freecodecamp.org/learn/coding-interview-prep/take-home-projects/build-an-image-search-abstraction-layer)
- [Voting App](https://www.freecodecamp.org/learn/coding-interview-prep/t

[2020-12-22 23:19] RandellDawson commented on #40521
@nhcarrigan When I visited all of the above apps (including the Nightlife Coordination App), they are all down.

These were all created by volunteers about 4-5 years ago before I was involved with FCC.  I believe the Nightlife Coordination App, Chart the Stock Market app, and the Voting App were created by the same person (@arthow4n) .

See below for what I believe are the repos for the ones liste

[2020-12-22 23:37] nhcarrigan commented on #40521
The NightLife app is working on my end, but I mistakenly linked to the Image Search app here. Updated the link for that one.

[2020-12-23 01:37] jdwilkin4 opened #40523 "Change example for Basic HTML and HTML5: Create a Form Element"
Hi there! I would like to discuss a change to the example given in the create a form element challenge. This trips up a lot of people and is always brought up in the forum.

https://forum.freecodecamp.org/search?q=create%20a%20form%20element%20after%3A2020-12-01

I think a small change to the example would help a lot of people.

**Describe your problem and how to reproduce it:**
Existing example:

[2020-12-23 03:02] manuelczs commented on #40523
your proposal is valid, I support it!

[2020-12-23 03:05] nhcarrigan commented on #40523
`<form action="/url-where-you-want-to-submit-form-data">`

My only concern about changing this is that *this is a common syntax* when you are building a full-stack application.

Often times, you'll have your `form` element send a `post` request to a specific endpoint on your server, which means instead of writing the full link you use `/login` (as an example).

[2020-12-23 03:33] nhcarrigan commented on #40472
I'm 100% on board with this (I test against them sometimes too).

[2020-12-23 04:07] jdwilkin4 commented on #40523
Can we do a combination of keeping the opening tag the way it is and adding the input tag to the example?
`<form action="/url-where-you-want-to-submit-form-data"><input></form>`

[2020-12-23 06:31] nhcarrigan commented on #40523
Yes, I think showing the nested example is a good approach. I see a lot of confusion regarding that particular instruction.

[2020-12-23 07:16] S1ngS1ng commented on #40463
@RandellDawson Just noticed a discrepancy while working on task #5 listed above.
For `06-quality-assurance/quality-assurance-and-testing-with-chai/simulate-actions-using-a-headless-browser.md`:
- Chinese version: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/chinese/06-quality-assurance/quality-assurance-and-testing-with-chai/simulate-actions-using-a-headless-brows

[2020-12-23 09:20] ojeytonwilliams commented on #40466
I quite like the idea of having a couple of tests to confirm that the translations is being applied, too.  So a hard coded check that the title is "Aprenda a codificar gratis - cursos de codificación para personas ocupadas" conditional on `CLIENT_LOCALE`.  We wouldn't want many like that, though.

Agreed.  It didn't seem that useful before, but definitely makes sense now.

[2020-12-23 09:43] adql commented on #40454
I'm using a laptop with a 14" HD monitor. Do people actually use the phone to study coding? It would be interesting to see statistics...

These tips are really useful! It's especially helpful knowing about the `f1` menu that includes not only accessibility and usability options but also keyboard shortcuts. I think it would be a good idea to inform the user about this menu at least at the first tim

[2020-12-23 10:20] RandellDawson commented on #40463
@S1ngS1ng PR https://github.com/freeCodeCamp/freeCodeCamp/pull/40330 (merged 7 days ago) changed 3  challenges related to testing headless browser.  The `meta.json` file was updated to reflect the correct order (which is why the challengeIDs are different between the English and Chinese versions).  These changes have not been deployed to production yet.

[2020-12-23 11:01] ShaunSHamilton commented on #40402
Could you clarify this?
- If the user donates on the certificate opened on a new tab, the redux store will not be opened on the original (settings) tab?

This does not sound much like a problem. In fact, I would have said that is expected behaviour, from past experience.

[2020-12-23 12:25] ahmadabdolsaheb commented on #40402
So If a user donates on their certificate the store on that tab gets updated (isDonating: true). When the user goes back to the previous tab to work on the challenges, she will see the donation modal. (unless refresh).

Solutions:

1) keep a navigation on the certs and keep them in the same tab
2) open certs in new tab but sync state across tabs,

Might find this one helpful. https://medium.com/@d

[2020-12-23 14:56] ieahleen commented on #40523
yeah, it could be a good change

could be right for first timers

[2020-12-23 16:57] dym-sh opened #40527 "Corrections to the article "10 JavaScript Hacks Every Web Developer Should Know""
several corrections to the article at https://www.freecodecamp.org/news/javascript-hacks/

x-post from [FCC forum](https://forum.freecodecamp.org/t/corrections-to-the-article-10-javascript-hacks-every-web-developer-should-know/436875), as per [support-reply](https://forum.freecodecamp.org/t/corrections-to-the-article-10-javascript-hacks-every-web-developer-should-know/436875/3)

### 1.

[code]
the

[2020-12-23 18:18] nhcarrigan commented on #40527
Thank you for bringing this to our attention! We have notified the editorial team to look in to this issue. 🙂

[2020-12-24 09:12] ieahleen commented on #40472
I don't think it was ever discussed removing solutions from regular challenges, it's just the guide page for the projects that some of us were wondering about.

[2020-12-24 15:06] moT01 commented on #40359
I also vote to make it behave as if it replaces the cell before checking validity. Or something along those lines. I have opened this up for contributions.

[2020-12-24 15:09] moT01 commented on #40333
Update: The example was down again today. Not sure how long it was down. Same observations - pm2 shows CPU usage at 66.7% for the sudoku project. I just restarted it again to fix - may need to dig deeper at some point.

[2020-12-25 01:58] AdonisProgramming opened #40532 "Challenge "Basic JS: Record Collection" Bug"
Hi,

In reference to the challenge here: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/record-collection

I worked through the challenge and have a working solution but the JSON object is not updated fully and as a result, will not pass the tests needed.

Specifically all tests pass beside the test as follows:
"After updateRecords(collection, 5439, "

[2020-12-25 02:01] nhcarrigan commented on #40532
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions within a few hours and can help determine if ther

[2020-12-25 02:01] #40532 closed

[2020-12-25 05:13] Aditya9111 commented on #40523
hey i would like to work on this .

[2020-12-25 05:47] RohiniMallem commented on #40523
These mails,
Are linked with my mail and it has been sunc with different accounts
rohinimallem@gmail.com, mallemrohini@gmail.com, yugandhar brother laptop
system I'm using. So it's not my problem because I have done my PG MCA
Mount Carmel College 2015-18, batch 2020 Data files structure second sem of
main has been cleared.

On Fri, 25 Dec, 2020, 10:47 Aditya Arya, <notifications@github.com> wrote:

[2020-12-25 06:48] GauthamPR opened #40533 "Typo in Quality Assurance Project - Sudoku Solver"
[https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-projects/sudoku-solver](url)

This is how one of the instructions look like:
_If the puzzle submitted to /api/check is greater or less than 81 characters, the returned value will be { **error\&#<span></span>58;** 'Expected puzzle to be 81 characters long' }_

This is how it should be:
_If the puzzle submitted to /api/check is

[2020-12-25 14:39] RandellDawson opened #40534 "Need to add the <notranslate> annotation to single back tick code blocks for Crowdin integration"
The `tools/formatter/translation-annotation/annotate.js` script used to annotate the files before uploading to Crowdin, needs to add the <notranslate> around the single back tick code blocks in the description, instructions, and test text.

For example, a test text in the English file may look like:

[code]
Currently, the script just surrounds the entire test text like:
[code]
In order for transla

[2020-12-25 15:54] nhcarrigan opened #40536 "BUG: Incorrect code-block formatting on news article"
**Describe your problem and how to reproduce it:**

This article has code blocks formatted as multi-line, but all of the content is rendering on a single line. This results in a horizontal scroll bar within the code block, diminishing readability.

**Add a Link to the page with the problem:**

https://www.freecodecamp.org/news/array-destructuring-in-es6-30e398f21d10/

**Recommended fix, suggestion

[2020-12-26 10:16] rajkundalia commented on #35700
![image](https://user-images.githubusercontent.com/10712050/103149650-48ac1800-4791-11eb-889c-4089a17430f0.png)

I don't know if this makes sense but in the above comment square brackets are not showing for me.
/^(?=[a-z])(?=\w*\d{2})/i - just add a square bracket in a-z.

[2020-12-26 12:40] RandellDawson commented on #39765
@nhcarrigan I am leaning towards the one liner, since that is typically how I have seen it used.  I also think we can just state the user should install the `dotenv` package to properly read the `.env` file and take out the part about "if working on the challenge locally".  If the user installs the package on repl.it or Glitch, it will not hurt anything. How about changing the `Instructions` secti

[2020-12-26 15:15] fmartins-andre opened #40540 "Assertion error in lesson ::: Applied Accessibility: Make Screen Reader Navigation Easier with the header Landmark"
**Describe your problem and how to reproduce it:**
In the "Applied Accessibility: Make Screen Reader Navigation Easier with the header Landmark" lesson, when replaced the "div" tags with "header" tags, every assertion runs fine except the assertion about the existence of a "div" tag in the code. This error has been thrown in other lessons too.

**Add a Link to the page with the problem:**
https://

[2020-12-26 17:01] ShaunSHamilton commented on #40540
Hello there,

I am unable to re-produce this. Do you have any browser extensions with access to the lesson page? If so, I recommend you disable them, and try again.

[2020-12-26 17:10] nhcarrigan commented on #39765
That approach looks good to me. 🙂

[2020-12-26 17:55] lucas-langa opened #40541 "Solution does not submit due to cors error on freecodecamp"
**Describe your problem and how to reproduce it:**
Basically whenever I submit my solution for any apis and microservices exercise that needs a solution hosted elsewhere, my solution is never submitted and the console throws a cors error(see screenshot below).
1. start first challenge on "Managing Packages with Npm - How to Use package.json, the Core of Any Node.js Project or npm Package" from API

[2020-12-26 18:13] Sujayraj-Boregouda commented on #9078
@ghost thank you bro, it worked for me.

[2020-12-26 19:25] ieahleen commented on #40541
are submitting the repl.it link shown in the error? that's the wrong link, you need to submit the live app link.

Please use the forum to ask for debugging your code, not github. If on the forum it is established there is nothing wrong with your code you can then open an issue.

[2020-12-26 19:25] #40541 closed

[2020-12-26 22:45] thdU commented on #40523
Hi. I opened my first PR. Was able to confirm my changes running locally. Please let me know if I've got anything wrong. Thanks!

[2020-12-27 08:16] amel-selmane commented on #40050
Hello :) Do we have news about this graphic issue ?

[2020-12-27 13:09] ahmadabdolsaheb commented on #40050
@amel-selmane, We should go ahead with detecting if the user provided image is broken and show the default avatar.

[2020-12-27 22:08] moT01 commented on #40521
I adjusted my old projects and added them to the demo-projects repo.

[2020-12-28 14:18] nhcarrigan commented on #40521
Awesome - thanks!

That seems to leave only the nightlife coordination app as the only one that is "not ours".

Do we have those deployed yet? If so, I can update the links on the challenge pages.

[2020-12-28 16:04] Christopher-Stevers opened #40571 "JS Data Structures and Algorithms Telephone Number Validator Project, passes weak answers."
There is a problem with the test for the telephone validator. They pass validators which do not check for proper spacing or dashing. (i. e. my validator will return true for 55 55-55-555-5).
This is the my code which passed the test, but really shouldn't have:
[code]
I'd recommend adding some extra tests to the exercise.

Here is a link to the [exercise:](telephone-number-validator)

**Tell us abo

[2020-12-28 17:48] fmartins-andre commented on #40540
You're right! There was a browser plugin messing up with the code! Thank you, Shaun.

[2020-12-28 17:48] #40540 closed

[2020-12-28 20:38] Seventreesofwisdom opened #40576 "Sea level Predictor unit test "test_plot_data_points" broken"
**Describe your problem and how to reproduce it:**
The test contains expected values that do not match the values in the given csv file, the problem seems to be caused by floating point precision errors.

The problem and a suggested solution have already been discussed here on the freeCodeCamp forum:
https://forum.freecodecamp.org/t/sea-level-predictor-errors/437517

**Add a Link to the page with

[2020-12-28 22:27] Durbatuluk1701 commented on #40571
Link to [code](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/telephone-number-validator.md)

Link to [project @ freeCodeCamp](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/telephone

[2020-12-29 02:48] jdwilkin4 commented on #40571
I guess a simple fix would be to add this test.

`telephoneCheck("55 55-55-555-5")` should be false
[code]

[2020-12-29 04:26] huyenltnguyen opened #41071 "Footer image is misplaced when zooming in the tab"
Browser: Firefox 84
OS: Linux
Environment: Production and dev

Here is how it looks when I increase the zoom level to 133%.

![Screenshot from 2020-12-29 11-17-24](https://user-images.githubusercontent.com/25715018/103258527-eab54580-49c7-11eb-83e8-8e2cd101240e.png)

[2020-12-29 07:12] alsoto25 commented on #40376
I've went ahead and changed this one to start familiarizing myself with the code and hopefully keep contributing. Please tell me if there's any problem.

[2020-12-29 09:36] jasontwuk opened #40582 "update task description"
**Describe your problem and how to reproduce it:**
In the description, it said "Nest three `button` elements within each of your `well` `div` elements."
I think it would be clearer to change it to the following:
Nest three `button` elements within each of your `div` elements with class `well`.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/front-end-libraries/boot

[2020-12-29 14:11] RandellDawson commented on #40582
What about the following?

[2020-12-29 14:19] jasontwuk commented on #40582
That's even better, thank you.

[2020-12-29 18:00] RandellDawson commented on #40582
@jasontwuk Would you like to create a PR with this change?

[2020-12-29 18:05] jasontwuk commented on #40582
@RandellDawson Yes, I would like to do this.

[2020-12-30 04:50] raisedadead opened #40588 "one-off pages on news should be translated"
[code]

Should this link be translatable too? With the active effort to translate `/news` articles, being able to replace this ref with the correct translated article would be important IMHO.

_Originally posted by @nhcarrigan in https://github.com/freeCodeCamp/freeCodeCamp/pull/40584#r549769307_

[2020-12-30 05:13] nhcarrigan commented on #40588
I definitely support this feature - I built out https://github.com/freeCodeCamp/freeCodeCamp/pull/40577 which allows us to translate the trending article links in the footer (or potentially select different trending articles based on each language's analytics). So being able to hot-swap this link would be in line with our overall roadmap, I believe.

[2020-12-30 05:13] raisedadead commented on #40588
I think this also going to be the case for our other one-off pages like about, terms, etc.

[2020-12-30 05:42] nhcarrigan commented on #40588
I can start building the groundwork for this tomorrow. 🙂

[2020-12-30 05:55] gikf commented on #40576
Seems like `1.2.0` version of pandas makes a difference here
With pandas `1.2.0`, exactly the same two errors.
https://repl.it/@sanityto/sea-level-predictor-pandas-1-2-0

With pandas `1.1.5`, no errors, everything passes.
https://repl.it/@sanityto/sea-level-predictor-final

Then one way to solve this is modifying `project.toml` file to force pandas 1.1.5 version with line:
[code]

[2020-12-30 06:34] #39458 closed

[2020-12-30 06:35] raisedadead commented on #39458
Recommend using WSL on Windows 10 (we do not have support for older OS), or alternatively use GitPod.

[2020-12-30 11:05] Vince-vegas opened #40590 "List of lectures"
There is a bug in freecodecamp coding.

e.g

when I pass the coding algorithms why it didn't get checked or save to the database record when I click the **left arrow button chrome browser**

I am grateful for the freecodecamp team
but I would suggest the feature, when a developer pass the coding challenges the data should be send into the database even though the developer might not go to the next

[2020-12-30 11:21] ojeytonwilliams commented on #40590
Hi @Vince-vegas, thanks for bringing up this issue.

We deliberately keep a separation between running the tests and submission.  This gives the user control over their own progress - they get to decide when they're done with a challenge.  Also, we keep this pattern for the projects where a user is likely to submit and test their projects multiple times before finally submitting the finished proje

[2020-12-30 11:21] #40590 closed

[2020-12-30 16:07] kurotom commented on #40576
I had the same problem, do what @gikf said and it worked fine.
Thank you.

[2020-12-30 17:05] nhcarrigan commented on #40588
I've got the translation schema set up for this - I did not mark the PR as closing this issue, though, because we still want to track that the articles themselves are translated right?

[2020-12-30 17:09] raisedadead commented on #40588
let discuss in core chat?

[2020-12-30 20:18] raisedadead opened #40595 "Fix build errors with the sitemap before shipping i18n"
[code]

[2020-12-30 21:49] raisedadead opened #40596 "Global meta and Stylesheet side-effects due to cross dependencies"
Some global deps can lead to side-effects when parts of the stack are down

![image](https://user-images.githubusercontent.com/1884376/103382559-886a5b00-4b15-11eb-9d9c-015292f79739.png)

We introduce some components into the head here:

https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/gatsby-ssr.js#L47

but then we break flow and add components directly in the `gatsby-ssr`.

I thin

[2020-12-30 21:57] #36828 closed

[2020-12-30 21:58] raisedadead opened #40598 "Prepare the bilingual translation/review guide"

[2020-12-31 15:34] gianplod commented on #40576
Had the same problem, and changing pandas version to 1.1.5 worked perfectly. My question is, will this affect the certification obtention in any way? I mean, if eventually the project is revised, would changing the version of a library be considered as a violation of the Academic Honesty Pledge? Thanks in advance!

[2020-12-31 16:45] nhcarrigan opened #40600 "i18n - unused translation keys"
Per https://github.com/freeCodeCamp/freeCodeCamp/pull/40599#issuecomment-752898849, this issue is to track unused keys in the `translations.json` object.

The following keys appear to be unused:
[code]

[2020-12-31 17:45] moT01 commented on #40600
Those settings ones were tricky, and just kept causing problems. I could get a number of the flash messages from the server translated by sending the keys to the client like I had originally tried to do. It's not possible with a number of them at the moment, but I think it would probably work for good amount of them - and probably the more frequently seen ones.

[2020-12-31 22:02] Seventreesofwisdom commented on #40576
Does anyone have any idea WHY the pandas version makes a difference? I think it would be good to understand exactly what causes the error to find the right solution.

[2021-01-01 00:33] gikf commented on #40576
That's a really good point. I've found `read_csv` method uses now by default higher precision for float point numbers. [Change in default floating precision for read_csv and read_table](https://pandas.pydata.org/docs/whatsnew/v1.2.0.html#change-in-default-floating-precision-for-read-csv-and-read-table). This checks out, as setting `float_precision='legacy'` keyword argument when calling `read_csv`

[2021-01-01 05:26] scissorsneedfoodtoo commented on #40536
Hi @nhcarrigan, thank you for catching this. Just fixed the article in Ghost.

Please let me know if you notice anything else :+1: :+1:

[2021-01-01 05:26] #40536 closed

[2021-01-01 07:41] scissorsneedfoodtoo commented on #39437
Hi @miyaliu666, thanks for your patience.

I dug into this a little bit today and think I found a simple fix. I'll create a PR and leave instructions on how to get responsive Bilibili embeds there.

[2021-01-01 09:42] ieahleen commented on #40316
do you mean like below?
[code]
(in the file the pre elements are not included, it's the answers for curriculum/challenges/english/07-scientific-computing-with-python/python-for-everybody/regular-expressions-matching-and-extracting-data.md)

[2021-01-01 09:49] ieahleen commented on #40316
or it was more about these?
(curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/pandas-conditional-selection-and-modifying-dataframes.md)

[code]

[2021-01-01 13:56] ieahleen commented on #39697
@Twaha-Rahman still intend to continue with this?

[2021-01-01 16:38] Sujayraj-Boregouda commented on #34966
Copy and Paste the code from sample, then replace p with div and then change 2.2 value to 1.1, it works.!

[2021-01-02 06:12] vicky11z commented on #40413
Hi, I've opened my first PR in this repo for this issue. Please take a look when you have a chance!

[2021-01-02 13:25] ofk8vb opened #40605 "Quality Assurance Projects - American British Translator- Automated tester doesn't check for unit and functional tests"
**Describe your problem and how to reproduce it:**
My project passes all the automated tests except the last two which says

‘All 24 unit tests are complete and passing. See /tests/1_unit-tests.js for the expected behavior you should write tests for.’

‘All 6 functional tests are complete and passing. See /tests/2_functional-tests.js for the functionality you should write tests for.’

Chrome devel

[2021-01-02 16:23] nhcarrigan commented on #40605
Taking a look at your code, I believe this issue is specifically related to https://github.com/freeCodeCamp/freeCodeCamp/pull/40467.

[2021-01-02 16:32] ofk8vb commented on #40605
Removed all the arrow functions from the tests yet I am still getting the same error.

[2021-01-02 16:36] ofk8vb commented on #40605
So is there nothing I can do to pass these tests?

[2021-01-02 17:37] nhcarrigan commented on #40605
Try changing this line:

https://github.com/ofk8vb/freeCodeCamp-American-to-British-Translator/blob/35274b03a0c5fe19c9faa39db7ee684a0b5faf2d/tests/1_unit-tests.js#L7

To `suite('Unit Tests ->', function() {`

[2021-01-02 17:43] ofk8vb commented on #40605
Your solution worked, I have passed the tests, and got the certificate.

Since you  already have an open issue about the subject I will be closing this issue.

 Thanks a lot!

[2021-01-02 17:43] #40605 closed

[2021-01-02 20:53] #39631 closed

[2021-01-03 10:22] erictleung commented on #37939
Unless I'm missing something, it appears that Ghost now supports "built-in integration for Google AMP". Moreover, this is enabled by default.

It appears you can transform each post to an AMP version by adding `/amp` to the end of the URLs.

This appears to work with our posts so far.

See

https://www.freecodecamp.org/news/helm-charts-tutorial-the-kubernetes-package-manager-explained/

compared t

[2021-01-03 12:23] ofk8vb opened #40613 "Configure Helmet Using the ‘parent’ helmet() Middleware - Information Security with Helmet JS"
**Describe your problem and how to reproduce it:**
Hello,

 In the challenge description, it says `app.use(helmet()) will automatically include all the middleware introduced above, except noCache(), and contentSecurityPolicy(), but these can be enabled if necessary. `

As of latest version of helmet, contentSecurityPolicy middleware is automatically enabled when top level helmet function is used.

[2021-01-03 12:52] ShaunSHamilton commented on #40613
Hello there,

Thank you, for taking the time to open this.

It is important to remember, these lessons do not use the latest version of Helmet.js.

Ideally, this whole section would be updated to use the latest version. However, it has not been a priority, since:
A) The new version of the curriculum has been receiving more attention for development
B) The content within the _Information Security w

[2021-01-03 13:27] Twaha-Rahman commented on #39697
I'm currently quite busy. If you or anybody wants to fix it, go ahead! 😃

[2021-01-03 18:36] ahmadabdolsaheb commented on #37939
Yes posts ( articles ) have amp version, but not pages. Initially we had many of our organizational pages ported to ghost. Since then we moved them to articles so this feature is not required on our side anymore.

I am closing this accordingly, please feel free to re-open if the issue has not been resolved.

[2021-01-03 18:36] #37939 closed

[2021-01-03 21:19] Seventreesofwisdom commented on #40576
Ok, so the change in floating precision for `read_csv` is the cause. Still I don't understand exactly how the errors happen, because the tests already have higher precision values (more decimal places) than the original data in the csv. So this would mean the parser in the old pandas version somehow added more decimal places to the data and the new one doesn't.
Anyway, in my opinion it doesn't mak

[2021-01-03 23:25] tannerpace commented on #37939
Unsubscribe

On Sun, Jan 3, 2021, 1:41 PM Ahmad Abdolsaheb <notifications@github.com>
wrote:

[2021-01-04 07:33] #39437 closed

[2021-01-04 11:49] gikf commented on #40576
Rather than necessarily using more decimal places, it's higher precision in accurately representing float numbers. Taking as example one value from the project, after reading from csv, float number `0.220472441` was internally represented by pandas as `0.22047244100000002`. That's also why test have such value - it simply was expected value after reading data.

[2021-01-04 16:07] moT01 opened #40623 "Two new translation keys that haven't been translated to Chinese"
A recent PR added a few new sentences to the donate page. The new keys are here: https://github.com/freeCodeCamp/freeCodeCamp/blob/next-i18n-client/client/i18n/locales/chinese/translations.json#L346.

Want to translate these when you get a chance @miyaliu666?

[2021-01-04 17:41] moT01 opened #40624 "Translate server flash messages"

[2021-01-04 21:48] Gimhan-minion opened #40625 "Bug : Python for Everybody Challenge - Conditional Execution"
**Describe your problem and how to reproduce it:**
**Problem**
- All 4 answers in the below-mentioned python challenge is incorrect.

**Reproduce**
-At least one of the answers should be replaced with `if 0==x:`to `if x==0:`

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/scientific-computing-with-python/python-for-everybody/conditional-execution

**Tell us about y

[2021-01-04 22:16] RandellDawson commented on #40625
Not sure why you think the last answer is not correct.  It is definitely correct.  Put the following into your favorite Python interpreter and run it.  You will see "Yes" gets printed.

[code]

[2021-01-04 22:16] moT01 commented on #40625
I'm not convinced. The accepted correct answer you have selected in the screen shot seems to print `Yes`...
![Screen Shot 2021-01-04 at 4 14 48 PM](https://user-images.githubusercontent.com/20648924/103585074-147ada80-4ea8-11eb-916e-b7784078f17d.png)

[2021-01-04 23:51] RandellDawson opened #40627 "Outstanding Crowdin Bugs"
This issue is to serve as the single source of all documented Crowdin bugs/issues deemed as beyond our control.  Once we have finalized the documentation of the issues, we will reach out to Crowdin for their help.

### Issue No. 1 (Custom QA Check Messages)
For some reason, sometimes randomly custom QA checks do not show up in the translator or proofreader view unless the user changes the translat

[2021-01-05 03:19] RandellDawson opened #40629 "Chinese comments needing different translations"
I noticed two comments in [curriculum/dictionaries/chinese/comments.js](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/dictionaries/chinese/comments.js) that translated words that were actually code variable names.

### Comment 1
[code]
`Container` is a variable name that should not be translated.

### Comment 2
[code]
`count` is a variable name that should not be translated.

[2021-01-05 03:22] miyaliu666 commented on #40623
Just translated line 209, 210, 346 and 367. LGTM. @moT01

[2021-01-05 03:27] miyaliu666 commented on #40629
Just fixed them. Thanks!

[2021-01-05 03:28] RandellDawson commented on #40629
Where is the PR?

[2021-01-05 08:33] Gimhan-minion commented on #40625
@RandellDawson @moT01 My initial thought was even though this works fine, this is for the beginners isn't it? I thought it will give a better idea for beginners if we replace it with `x=0`. Anyway if you guys think it's better this way I'm totally fine with it. Thank you for responding quickly. :hugs:

[2021-01-05 14:57] moT01 commented on #40625
I suppose that `x == 0` is probably more conventional. But I don't think this is an issue that needs fixing. We can see if anyone else wants to weigh in.

[2021-01-05 15:08] #40623 closed

[2021-01-05 16:01] Novalis15 opened #40632 "Setup Issues on Windows 10 WSL2 Ubuntu 20.04"
## Description
Based on the suggestion of @raisedadead in #37865, i setup a local dev environment of this repository on an Ubuntu 20.04 WSL2 Instance. However, similar to #39278, the mongodb connector is unable to establish a connection to my MongoDB 3.6.21 instance, running on Docker Desktop 3.0.0. The MongoDB Container is not even printing any logs during the connection phase. I'm running on the

[2021-01-05 16:20] ShaunSHamilton commented on #40632
Hello there,

I _almost always_ get the `MongoNetworkError: failed to connect to server [localhost:27017] on first connect` error (Windows 10, and WSL2 Ubuntu 20.04). I am not using the Docker setup, but it should eventually connect.

Something that helped my PC is to not run `npm run develop`, but first run:
- `npm run develop:server`
- `npm run develop:client`
Running both at the same time, ofte

[2021-01-05 17:23] RandellDawson commented on #40629
[This commit](https://github.com/freeCodeCamp/freeCodeCamp/commit/c6cbe7750fb5f3f9b38e1a72caf037a3957664df) closed this issue.

[2021-01-05 17:23] #40629 closed

[2021-01-05 17:37] ojeytonwilliams commented on #40627
The display issue just seems to come from the difference between the css for `.crowdin_phrase_hidden` and `.crowdin_phrase`.  `.crowdin_phrase` gets applied to all the strings that the proofreader sees (and applies `display: inline!important`), but not for translators (who get one or the other) and hence the div displays as a block.

Setting all the `.crowdin_phrase` divs to inline seems to work w

[2021-01-05 19:20] ShaunSHamilton commented on #37944
Hey Oliver, I assume all but the second [ ] can be ticked off?

Also, #39723 appears to be the opposite of what was discussed in #35525

[2021-01-05 19:32] ShaunSHamilton commented on #36520
From what I can tell, this has since been resolved.
- New tests have been added
- There are cases for `before` being uppercase when `after` is lowercase, and vice-a-versa

As such, I am going to go ahead and close this.

_I cannot find which PR did this, as the blame is lost beyond a point_

[2021-01-05 19:32] #36520 closed

[2021-01-05 20:08] ShaunSHamilton commented on #37615
@ahmadabdolsaheb I would be happy to help on this. Should I update on of my PRs touching this, or open a new PR for it?

[2021-01-05 20:20] beaucarnes commented on #40576
I agree with @Seventreesofwisdom and the people in the forum about changing the test to use assertAlmostEqual. I made the change and it seems to be working now so I will close this issue.

[2021-01-05 20:20] #40576 closed

[2021-01-05 20:30] Seventreesofwisdom commented on #40576
@gikf Thank you for the explanation... I had some catching up to do regarding floating point precision but it's clear now.
@beaucarnes, where did you make the change? I can't see no change and no PR in the boilerplate repository?

[2021-01-06 03:25] scissorsneedfoodtoo commented on #39573
Closing this as fixed. I've slowly been adding pictures to some popular tags, and added the fCC cover image as a fallback.

[2021-01-06 03:25] #39573 closed

[2021-01-06 05:42] raisedadead commented on #40632
Is the container already available before you are starting the dev server?

I think we would need to isolate the issue (which to me seems flaky) - how about connecting to the mongodb container via something like Robo 3T or Compass to test if you can connect to it at `localhost:27017` in the first place.

WSL2 has had some "networking" and discovery issues in the past, but I haven't faced any recen

[2021-01-06 09:39] ojeytonwilliams commented on #35525
@raisedadead Shaun pointed out that this is in conflict with https://github.com/freeCodeCamp/freeCodeCamp/issues/39697 is the behaviour described here what we want?

[2021-01-06 09:47] ojeytonwilliams commented on #37944
Hi Shaun, you're quite right about that, I've reached out to Mrugesh for clarification.

I had a look and couldn't find anything checking that certs appear on user profiles (with or without reloads). Am I missing something?

[2021-01-06 14:31] ThirumalaV opened #40633 "Parallel Execution of Multiple Functions in a Lambda using Node.js"
Can we execute multiple functions parallelly/asynchronously in a lambda with synchronous flow using node.js. We tried using run-parallel, async/await, and promise.all. But, the functions are executing synchronously one after another rather than the required asynchronous process. Can anyone suggest best approach?

[2021-01-06 14:36] Novalis15 commented on #40632
Hi! I'm sorry if this topic is more suitable for the forums or the contributors chat. I thought because of the linked issues, this one would be a fit aswell :).

Running only `npm run develop:server` will also just give me the `MongoNetworkError`. The container starts up on Windows boot. I even tried to delete the container and create a new MongoDB Container inside of WSL2. I also tried to use a l

[2021-01-06 14:56] ShaunSHamilton commented on #37944
No, it is my mistake; I skimmed the point too quickly, and thought it was just checking for claiming certificates.

I can submit a PR for this, if one is not already waiting.

[2021-01-06 15:55] ojeytonwilliams commented on #37944
Not to my knowledge. That would be great, thanks.

[2021-01-06 15:58] ojeytonwilliams commented on #40633
Hi @ThirumalaV you might want to ask over at the [forum](https://forum.freecodecamp.org/) about this.  It doesn't sound like an issue with our codebase, though.

[2021-01-06 15:58] #40633 closed

[2021-01-06 16:04] gianplod opened #40634 "Certification coursework description error (Data Analysis with Python)"
**Describe your problem and how to reproduce it:**
I recently completed the Data Analysis with Python projects and claimed the certification. I noticed that the coursework described in the certificate (400 hs) doesn't match the official one (300 hs), as it appears in the curriculum.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/certification/gianplod/data-analysis-with

[2021-01-06 16:07] nhcarrigan commented on #40634
Hey there,

Thank you for bringing this to our attention. This appears to be related to https://github.com/freeCodeCamp/freeCodeCamp/issues/39284, so we are going to close this issue as a duplicate.

If you feel this issue is not related, please provide any additionally relevant information and request that we reopen the issue. 🙂

[2021-01-06 16:07] #40634 closed

[2021-01-06 16:11] gianplod commented on #40634
I did some searching to find any similar issue, but it seems it wasn't good enough. Thank you!

[2021-01-06 22:31] erictleung commented on #38539
I agree with some criticisms that were raised. Thanks for sharing.

Here is my suggested changes.

[2021-01-07 04:01] Gimhan-minion commented on #40625
Okay guys understood. Thank you all for responding. I'll close this issue. :)

[2021-01-07 04:01] #40625 closed

[2021-01-07 05:52] raisedadead commented on #35525
Just to clear out any confusion:

#39697 - This is an existing bug that doesn't tell the users we are defaulting to lowercase in the DB. That is they are think we are using the case that they enter, but we aren't.

#35525 - This is a feature request - which will supersede the bug above if implemented, that is, it allows for us to store an additional property which stores the username in format tha

[2021-01-07 10:00] ojeytonwilliams commented on #35525
Thanks, that makes sense.  So, both issues are still valid and open to be worked on.

[2021-01-07 14:56] Novalis15 commented on #40632
I was able to resolve this issue!

Most of my problems were based on the filesharing System between WSL2 and Windows. Therefore i had to move the cloned Repo to a place which is not shared with Windows (e.g. `~/user/PROJECTS/freeCodeCamp`). Build times are now blazingly fast and the Browser finally loads all pages without trouble. `ConnectionTimeout` errors with MongoDB are now gone as well, even

[2021-01-07 14:56] #40632 closed

[2021-01-07 15:11] raisedadead commented on #40632
You can actually access WSL2 side files on Windows 10 Explorer like so:

[code]

For me on `Ubuntu 20.04` with the username `raisedadead`

[code]

![image](https://user-images.githubusercontent.com/1884376/103908555-9a0cbd80-5128-11eb-92db-1e8450f06b3f.png)

You are right we should add tips on that guide. A PR is welcome if you are interested.

[2021-01-08 10:27] DvalCaruso opened #40640 "cleaning up"
,

[2021-01-08 10:46] ShaunSHamilton commented on #40640
Hello there,

As this issue does not contain enough information for us to debug or help, it is invalid. Therefore, I am closing this issue.

If you accidentally opened this, then there is not need to do anything. However, if you still are encountering an issue, then please edit your description to include useful information such as:

- What you are trying to accomplish
- What the expected behaviou

[2021-01-08 10:46] #40640 closed

[2021-01-08 19:20] #40479 closed

[2021-01-08 23:44] martinmilani commented on #40489
I agree.
This same scenario happens in other challenges also

[2021-01-09 05:56] stevending1st commented on #40483
I am working for this part.

[2021-01-09 06:59] ieahleen opened #40645 "Implement Bubble Sort description does not match code in the editor"
**Describe your problem and how to reproduce it:**
The challenge description says

there is not a commented out array there
I wouldn't know how to change that other than deleting the paragraph entirely

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/coding-interview-prep/algorithms/implement-bubble-sort

**Tell us about your browser and operating system:**
* Browse

[2021-01-09 22:39] rufanov commented on #40645
Description is wrong. Code placeholder was changed in f203273 - test array moved from comment to function call argument, but description stayed same without any edits.

[2021-01-09 23:02] ShaunSHamilton commented on #40645
This seems quite reasonable. I will open this up to first timers

[2021-01-09 23:04] ShaunSHamilton commented on #40645
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues with contributing, be sure to join us on the [contributors channel](https://chat.freecodecam

[2021-01-10 22:42] gianplod opened #40655 "Time calculator test error (Scientific computing with Python)"
**Describe your problem and how to reproduce it:**
There's an error in one of the tests provided for the Time calculator project, which is part of the Scientific computing with Python Certification:
[code]
The self.assertEqual method text should say 'Expected calling "add_time()" with **"11:59 PM", "24:05", "Wednesday"** to return "12:04 AM, Friday (2 days later)".

**Add a Link to the page with t

[2021-01-11 03:30] ahmadabdolsaheb commented on #37615
@ShaunSHamilton, thanks for your interest. And additional PR would be better.

[2021-01-11 20:14] Ismailtlem commented on #40655
Are the test files of the python projects hosted on some repo somewhere ?

[2021-01-11 20:48] gianplod commented on #40655
They are. And there's already a Pull request to fix this error.

Thank you for making me notice that.

Guess I can close this.

[2021-01-11 20:48] #40655 closed

[2021-01-11 22:00] JustinKnueppel opened #40674 "Client side tests for installing helmet in Info Security curriculum fail with 404 on Github repository"
**Describe your problem and how to reproduce it:**

I forked the given Github repository [here](https://github.com/freeCodeCamp/boilerplate-infosec/), created a main branch and set it as default, ran `npm install --save-exact helmet@3.21.3`, added `const helmet = require('helmet');` to the top of `myApp.js`, saved the commit, pushed to main, and submitted the URL [https://github.com/JustinKnueppel

[2021-01-11 22:16] ShaunSHamilton commented on #40674
Hello there,

It appears you are submitting a URL to a GitHub repository. The tests require a **Live App** url. That means the app must be running (with a server), and publicly available.

As this is not an issue with the code base or boilerplate, I am going to close this issue. Thank you.

In general, I recommend you seek help on the [forum](https://forum.freecodecamp.org/), as this is the fastes

[2021-01-11 22:16] #40674 closed

[2021-01-12 06:36] Lazt009 commented on #40645
I would Like to contribute to your cause i am a first timer and have not yet worked in big project but i want to start by freecodecamp

[2021-01-12 07:38] gikf opened #40675 "Rosetta Code - Execute a Markov algorithm - tests missing test data at time of execution"
**Describe your problem and how to reproduce it:**
Data with test cases is in wrong place in challenge template. This makes it inaccessible when tests are run and makes challenge virtually unsolvable, unless test data is manually copied to the user code.

Tests in this challenge uses three arrays, containing two inputs for the function and function outcome - arrays `rules`, `tests`, `outputs`. The

[2021-01-12 08:02] ieahleen commented on #40645
@Lazt009 thank you for wanting to contribute, this issue has already a linked PR. Take a look at other issues with label "first timers only" and "help wanted" that do not have already a linked PR

[2021-01-12 08:57] abdallahakrab opened #40677 "[Frontend Libraries ├ Redux ├ 5.Dispatch an Action] Alternative Answer is not accepted"
### Description:

The test won't pass if the user passed the action object:
![image](https://user-images.githubusercontent.com/37980706/104291569-5ae1c200-54c4-11eb-87fd-771ee2140d6c.png)

 instead of using the action generator function which returns exactly the same object.
![image](https://user-images.githubusercontent.com/37980706/104291639-71881900-54c4-11eb-856a-dd2ed8880a7b.png)

I am not su

[2021-01-12 10:07] ShaunSHamilton commented on #40677
Thank you, for taking the time to open this.

This was intentional, and code like this should not pass
[code]
This is because it does not follow the instructions of:

Whilst the text of the failing test could be clearer, it should fail.

At the end of the day:
[code]

As such, I am going to close this issue. I recommend, if you want to continue any discussion like this, potentially opening a topic

[2021-01-12 10:07] #40677 closed

[2021-01-12 13:52] Mafevito opened #40679 "Typographical error in the test suite, "tile" instead of "title""
**Describe your problem and how to reproduce it:**
There is a typographical error in the test suite of the last project: Personal Portfolio Webpage of Receptive Web Design Certification.

In point 4 of the test suite it says that:
The projects section should contain at least one element with a class of "project-tile" to hold a project.

It should be "project-title" and not "project-tile".

**Add a

[2021-01-12 14:19] nhcarrigan commented on #40679
Hello there!

The [project page](https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage) also references the `project-tile` class:

The `project-tile` isn't a *title*, but rather the "tile" that holds a project image + information. This is shown in the example project:

![image](https://user-images.githubusercontent.com/63889819/1

[2021-01-12 15:47] Cemsm opened #40681 "Money raising to get a mac laptop"
Hi guys ,
My name is Mohammad Saleh Moeinadini and I`m a junior-midlevel web developer (mostly front-end) and cause of sanctions and other limitations I cant earn any dollar outside of my country and for example I cant have my paypal account cause they restricted us and need about 1000$ so I just can use sth like bitcoin wallet to get it.
would be so happy if you can send me even 1$ to raise this

[2021-01-12 16:00] #40681 closed

[2021-01-12 16:22] #40481 closed

[2021-01-12 17:32] lasjorg opened #40682 "OOP: Iterate Over All Properties - Test both presence and absence of properties"
Challenge: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/object-oriented-programming/iterate-over-all-properties
Forum: https://forum.freecodecamp.org/t/bug-in-iterate-over-all-properties/440230

Right now you can pass the challenge using a for loop with no conditionals.

[code]

1. Test for both the presence and absence of properties (includes && !includes).

[code]

[2021-01-12 17:47] lasjorg commented on #40679
You are not the first to mistake this for a typo (or add title instead of tile for the class name in their project).

I would have preferred "card", "item", or "container", instead of "tile". But it is what it is and changing it now is more hassle than it's worth.

[2021-01-12 19:11] ojeytonwilliams commented on #40679
Yep, I agree with you on this @lasjorg. We might look into producing more bundle versions in the future and, if we change this, we should definitely use one of those of those other names.

Thanks for opening this discussion, @Mafevito, but, as @nhcarrigan pointed out, this is behaving correctly, albeit in an odd way.

[2021-01-12 19:11] #40679 closed

[2021-01-12 20:00] gikf opened #40684 "Rosetta Code - Stern-Brocot sequence - tests don't match task in challenge description"
**Describe your problem and how to reproduce it:**
Challenge description gives slightly different task, to what needs to be done to pass tests.

Challenge is about [Stern-Brocot sequence](https://oeis.org/A002487), which looks at the beginning like (skipping zero at start):
[code]
Challenge description asks to create function returning **n-th member** of the sequence.

However expected values in t

[2021-01-12 20:20] devifeoma commented on #40523
Hi everyone,

I’m new to open source and would love to contribute here. Freecode camp has really helped me in terms of my coding journey. I need a guide on how to contribute. Thanks

[2021-01-12 20:28] jdwilkin4 commented on #40523
Hi @devifeoma!

Here is the guide on how to contribute to FCC.
https://contribute.freecodecamp.org/#/index

Here is a more general guide on how to contribute to open source.
https://github.com/freeCodeCamp/how-to-contribute-to-open-source

[2021-01-12 21:54] nhcarrigan commented on #40523
Hey @devifeoma!

Thank you for your interest in contributing! I highly recommend checking out the resources @jdwilkin4 shared - additionally, this issue currently has a PR that resolves it which is approved and awaiting merge (we are in a code freeze at the moment).

I recommend looking for issues labelled `help wanted` or `first timers only` for more opportunities to contribute.

[2021-01-12 21:55] devifeoma commented on #40523
Noted with thanks.

On Tue, Jan 12, 2021 at 9:28 PM jdwilkin4 <notifications@github.com> wrote:

[2021-01-12 21:57] moT01 commented on #40684
I vote to have the function return the position in the sequence of the argument. We wouldn't need to change the tests, just the description.

[2021-01-12 22:00] nhcarrigan commented on #40684
I'm in favour of that approach as well.

[2021-01-12 22:05] moT01 commented on #40682
Sounds good to me @lasjorg. We could possible use a deepEqual to make sure there aren't any other properties added.

[2021-01-12 22:34] #40624 closed

[2021-01-12 22:40] martinmilani opened #40685 "Change the "Only change code below/above line" instructions for Data Visualization with D3: Change the Presentation of a Bar"
**Describe your problem and how to reproduce it:**

Hi there!
This challenge asks users to first, add a margin of 2px to the bar class in the style tag, and next change the callback function in the ```style()``` method.
The ```//Only change code below/above line``` instructions imply that your code should only be between those two lines.
However, in order to pass the challenge, you have to edit th

[2021-01-13 09:58] muskansawa opened #40690 "FindanIssue.com broken site provided in freecodecamp article"
**Describe your problem and how to reproduce it:**
this is a site made by a developer of freeCodeCamp to help beginners in finding issues where they can contribute in open source.
seems like this website is not working

I am am using windows OS , and google chrome as my browser.

**Add a Link to the page with the problem:**
in this page-->
https://www.freecodecamp.org/news/use-this-site-to-contrib

[2021-01-13 13:36] raisedadead commented on #40690
Hey @scissorsneedfoodtoo, can you take a look and update the article.

[2021-01-13 15:14] gikf commented on #40055
That 35 clearly shows something is not right. Here are results that I got from own solution:
`knightTour(6, 6)` -> `36`
`knightTour(5, 6)` -> `28`
`knightTour(4, 6)` -> `12`
`knightTour(7, 3)` -> `10`
`knightTour(8, 6)` -> `48`

It's a bit rough on the edges, but can be looked at [Knight's tour](https://gist.github.com/gikf/ee5742fc41f9404e19b6f303d48400db). Personally I find more interesting find

[2021-01-13 19:54] RWitak opened #40695 "One "defined" word in description of basic-css/inherit-css-variables missing in Chrome."
**Problem**
The "Inherit CSS Variables" lesson has the following passage:

When inspecting the passage in Chrome, I get:
[code]
but looking at the original file in the repo, I found the correct
[code]

So apparently, there is some bug when translating the Markdown's <dfn> tag into HTML.

**Link to the page with the problem:**
https://freecodecamp.org/learn/responsive-web-design/basic-css/inherit-c

[2021-01-13 20:07] nhcarrigan commented on #40695
Thanks for bringing this to our attention - this appears to be related to #40491

[2021-01-14 08:15] flemmingbond21 commented on #39582
Hi, I do exactly like npm install --save-exact helmet@3.21.3 and helmet = require('helmet'); but still not pass the challenge, anyone, please help me, thanks

[2021-01-14 10:27] scissorsneedfoodtoo commented on #40690
Hi @muskansawa, thanks for catching this.

Turns out that the site now lives at https://findanissue.org/. I went in and updated the links and text throughout the article.

Please let us know if you notice anything else.

[2021-01-14 10:27] #40690 closed

[2021-01-14 10:31] ieahleen commented on #40690
@scissorsneedfoodtoo it still doesn't seem to be working, it shows only six months old issues, mostly closed

[2021-01-14 12:09] ShaunSHamilton commented on #39582
Hey @flemmingbond21 ,

Without seeing your code, or being able to test your project, it will be difficult to assist.

Please make use of the [forum](https://forum.freecodecamp.org/) to open a topic, and provide as much detail as possible. It will be easier to assist that way.

[2021-01-14 12:52] muskansawa commented on #40690
still the same issue , its not fixed .
 @scissorsneedfoodtoo

[2021-01-14 22:39] atopp25 opened #40700 "project description could be reworded to convey its value more efficiently"
**Describe your problem and how to reproduce it:**
On the project's home page, under JavaScript Algorithms and Data Structures, where it describes why freeCodeCamp is a valuable source for people wanting to learn how to code, the description could use some improvements. For example in section of the page it reads:

<p>Practice is the key. Practice, practice, practice.</p>
      <p>
        And thi

[2021-01-15 01:37] moT01 commented on #39470
Looks like this is fixed up, so I think it's safe to close. If I am mistaken, feel free to leave a comment and we can reopen it. Thanks and happy coding 🎉

[2021-01-15 01:37] #39470 closed

[2021-01-15 01:47] moT01 commented on #40365
I think we are safe to close this. If I am mistaken, feel free to leave a comment and it can be reopened. Thanks and happy coding 🎉

[2021-01-15 01:47] #40365 closed

[2021-01-15 02:32] moT01 commented on #40700
Just for clarity, this message only appears when you go to /learn while logged out.

I think the redundancy is intentional, to try and get the message across. I don't mind how it is now. Your suggestion is good too @atopp25, but I think I'm going to vote to leave this as-is. We can see what others think, though.

[2021-01-15 07:45] scissorsneedfoodtoo commented on #40690
Hi @ieahleen, thanks for pointing that out. Yes, I took a look at the project's GitHub repo and it doesn't seem like it's been updated since September last year. Not sure if the author/maintainer plans on updating it on a daily basis like it used to be, but at least the site is up for historical reasons.

If you know of a site with similar functionality, please let me know and I can go in and edit

[2021-01-15 07:52] ahmadabdolsaheb commented on #40700
Thanks @atopp25 for submitting this issue. Although the message is redundant, as @moT01 pointed out, the redundancy is intentional and most users will see this message a few times.

I am closing this issue accordingly. Please let us know if this issue has been closed by mistake.

[2021-01-15 07:52] #40700 closed

[2021-01-15 12:05] ojeytonwilliams opened #40702 "Health checks for third party services"
@ojeytonwilliams that is the path moving forward. Since we cannot consistently test the outcome of our scripts on a third party service (paypal modal), the best way to test such cases would be to test the information that we are giving to these services.

For this instance, a test to check if we are supplying the proper url parameters should work; however, if they change their api without our know