[2017-09-02 01:06] #13104 closed

[2017-09-02 01:06] #13208 closed

[2017-09-02 01:06] #13209 closed

[2017-09-02 01:06] #13211 closed

[2017-09-02 01:06] #13482 closed

[2017-09-02 01:06] #13494 closed

[2017-09-02 01:06] #13496 closed

[2017-09-02 01:06] #13690 closed

[2017-09-02 01:06] #15322 closed

[2017-09-02 01:06] #15431 closed

[2017-09-02 01:06] #15625 closed

[2017-09-02 01:06] #15646 closed

[2017-09-02 01:06] #15687 closed

[2017-09-02 01:07] #11022 closed

[2017-09-02 01:07] #12460 closed

[2017-09-02 01:07] #12806 closed

[2017-09-02 01:07] #13579 closed

[2017-09-02 01:07] #13594 closed

[2017-09-02 01:07] #13610 closed

[2017-09-02 01:07] #13626 closed

[2017-09-02 01:07] #13661 closed

[2017-09-02 01:07] #13694 closed

[2017-09-02 01:07] #13715 closed

[2017-09-02 01:07] #13728 closed

[2017-09-02 01:07] #13747 closed

[2017-09-02 01:07] #13861 closed

[2017-09-02 01:07] #14184 closed

[2017-09-02 01:07] #14199 closed

[2017-09-02 01:07] #14299 closed

[2017-09-02 01:07] #14348 closed

[2017-09-02 01:07] #14501 closed

[2017-09-02 01:07] #14553 closed

[2017-09-02 01:07] #14736 closed

[2017-09-02 01:07] #14770 closed

[2017-09-02 01:07] #14879 closed

[2017-09-02 01:07] #14920 closed

[2017-09-02 01:07] #15333 closed

[2017-09-02 01:07] #15367 closed

[2017-09-02 01:08] QuincyLarson commented on #15830
This is a known issue. We're closing this but will definitely get this working before we push beta to production.

[2017-09-02 01:08] #15830 closed

[2017-09-02 01:08] #11348 closed

[2017-09-02 01:10] #14065 closed

[2017-09-02 01:11] #7195 closed

[2017-09-02 01:11] #11902 closed

[2017-09-02 01:11] #12398 closed

[2017-09-02 01:11] #12750 closed

[2017-09-02 01:11] #13699 closed

[2017-09-02 01:14] #7110 closed

[2017-09-02 01:14] #12706 closed

[2017-09-02 01:14] #12816 closed

[2017-09-02 01:14] #12847 closed

[2017-09-02 01:14] #12852 closed

[2017-09-02 01:14] #12913 closed

[2017-09-02 01:14] #12952 closed

[2017-09-02 01:14] #12953 closed

[2017-09-02 01:14] #12983 closed

[2017-09-02 01:14] #13005 closed

[2017-09-02 01:14] #13006 closed

[2017-09-02 01:14] #13037 closed

[2017-09-02 01:14] #13051 closed

[2017-09-02 01:14] #13097 closed

[2017-09-02 01:14] #13099 closed

[2017-09-02 01:14] #13107 closed

[2017-09-02 01:14] #13115 closed

[2017-09-02 01:14] #13118 closed

[2017-09-02 01:14] #13121 closed

[2017-09-02 01:14] #13183 closed

[2017-09-02 01:14] #13213 closed

[2017-09-02 01:14] #13262 closed

[2017-09-02 01:16] manzilo commented on #12847
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (101/100 (101%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:16] manzilo commented on #12983
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (100/100 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:16] manzilo commented on #13051
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (102/100 (102%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:16] manzilo commented on #12953
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (105/100 (105%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:16] manzilo commented on #13005
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (106/100 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:16] manzilo commented on #13262
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (103/100 (103%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:16] manzilo commented on #13097
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (107/100 (107%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:16] manzilo commented on #13107
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (108/100 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:16] manzilo commented on #13006
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (110/100 (110%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:16] manzilo commented on #13037
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (109/100 (109%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:17] manzilo commented on #12913
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (113/100 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:17] manzilo commented on #13115
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (112/100 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:17] pawan-mehta commented on #13099
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (100/100 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:17] pawan-mehta commented on #13254
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (101/100 (101%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:17] pawan-mehta commented on #13005
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (102/100 (102%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:17] pawan-mehta commented on #13051
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (103/100 (103%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:18] pawan-mehta commented on #13262
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (105/100 (105%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:18] pawan-mehta commented on #12953
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (106/100 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:18] pawan-mehta commented on #13097
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (107/100 (107%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:18] pawan-mehta commented on #13107
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (108/100 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:18] manzilo commented on #13118
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (114/100 (113%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:18] pawan-mehta commented on #13037
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (109/100 (109%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:18] pawan-mehta commented on #13006
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (110/100 (110%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:18] pawan-mehta commented on #13115
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (112/100 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:18] #15669 closed

[2017-09-02 01:18] pawan-mehta commented on #12913
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (113/100 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:19] manzilo commented on #12952
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (115/100 (114%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:19] QuincyLarson commented on #11465
This should be resolved. I've completely switched off the GitHub wiki.

[2017-09-02 01:19] #11465 closed

[2017-09-02 01:19] pawan-mehta commented on #13118
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (115/100 (114%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:20] pawan-mehta commented on #12952
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (117/100 (117%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:20] pawan-mehta commented on #13051
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (116/100 (115%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:20] pawan-mehta commented on #13005
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (118/100 (118%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:20] pawan-mehta commented on #12983
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (120/100 (120%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:20] pawan-mehta commented on #12953
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (122/100 (122%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:20] manzilo commented on #13051
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (117/100 (117%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:20] manzilo commented on #13097
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (119/100 (119%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:20] manzilo commented on #13099
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (118/100 (118%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:20] manzilo commented on #13005
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (121/100 (121%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:20] pawan-mehta commented on #13097
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (123/100 (123%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:20] manzilo commented on #11465
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (120/100 (120%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:20] manzilo commented on #15669
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (122/100 (122%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:21] pawan-mehta commented on #12913
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ossbackup2@gmail.com
    Domain oss-india.net has exceeded the max emails per hour (124/100 (124%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:21] manzilo commented on #13254
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (124/100 (124%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-09-02 01:22] #7468 closed

[2017-09-02 01:22] #9657 closed

[2017-09-02 01:22] #11716 closed

[2017-09-02 01:22] #12436 closed

[2017-09-02 01:22] #12879 closed

[2017-09-02 01:22] #13016 closed

[2017-09-02 01:22] #13082 closed

[2017-09-02 01:22] #13206 closed

[2017-09-02 01:22] #13286 closed

[2017-09-02 01:22] #13300 closed

[2017-09-02 01:22] #13314 closed

[2017-09-02 01:22] #13322 closed

[2017-09-02 01:22] #13323 closed

[2017-09-02 01:22] #13355 closed

[2017-09-02 01:22] #13382 closed

[2017-09-02 01:22] #13438 closed

[2017-09-02 01:22] #13468 closed

[2017-09-02 01:22] #13473 closed

[2017-09-02 01:22] #13550 closed

[2017-09-02 01:22] #13555 closed

[2017-09-02 01:22] #13587 closed

[2017-09-02 01:22] #13635 closed

[2017-09-02 01:22] Motardo commented on #7925
The problem is that the calculation of a `streak` is dependent on the timezone. In one timezone, say my three submissions are `[Aug 5, Aug 6, Aug 7]`. In another timezone, those same submissions might be on `[Aug 5, Aug 5, Aug 6]`. The calendar heatmap is likewise dependent on the timezone, and the heatmap always uses the timezone of the client viewing the page in the browser. So if we want the `s

[2017-09-02 01:24] #5004 closed

[2017-09-02 01:24] #7270 closed

[2017-09-02 01:24] #11882 closed

[2017-09-02 01:24] #13790 closed

[2017-09-02 01:24] #13812 closed

[2017-09-02 01:24] #13932 closed

[2017-09-02 01:24] #13949 closed

[2017-09-02 01:24] #13951 closed

[2017-09-02 01:24] #14017 closed

[2017-09-02 01:24] #14033 closed

[2017-09-02 01:24] #14043 closed

[2017-09-02 01:24] #14072 closed

[2017-09-02 01:24] #14118 closed

[2017-09-02 01:24] #14124 closed

[2017-09-02 01:24] #14153 closed

[2017-09-02 01:24] #14175 closed

[2017-09-02 01:24] #14188 closed

[2017-09-02 01:24] #14241 closed

[2017-09-02 01:24] #14257 closed

[2017-09-02 01:24] #14258 closed

[2017-09-02 01:24] #14261 closed

[2017-09-02 01:24] #14262 closed

[2017-09-02 01:24] #14264 closed

[2017-09-02 01:25] QuincyLarson commented on #14259
We're removing this challenge completely.

[2017-09-02 01:25] #14259 closed

[2017-09-02 01:25] Motardo commented on #7925
The problem is that the calculation of a `streak` is dependent on the timezone. In one timezone, say my three submissions are `[Aug 5, Aug 6, Aug 7]`. In another timezone, those same submissions might be on `[Aug 5, Aug 5, Aug 6]`. The calendar heatmap is likewise dependent on the timezone, and the heatmap always uses the timezone of the client viewing the page in the browser. So if we want the `s

[2017-09-02 01:25] #14251 closed

[2017-09-02 01:25] #14255 closed

[2017-09-02 01:25] #14256 closed

[2017-09-02 01:25] #14271 closed

[2017-09-02 01:25] #14272 closed

[2017-09-02 01:25] #14278 closed

[2017-09-02 01:25] #14280 closed

[2017-09-02 01:25] #14281 closed

[2017-09-02 01:25] #14282 closed

[2017-09-02 01:25] #14288 closed

[2017-09-02 01:25] #14311 closed

[2017-09-02 01:25] #14316 closed

[2017-09-02 01:25] #14317 closed

[2017-09-02 01:25] #14332 closed

[2017-09-02 01:25] #14362 closed

[2017-09-02 01:25] #14367 closed

[2017-09-02 01:25] #14445 closed

[2017-09-02 01:25] #14450 closed

[2017-09-02 01:25] #14455 closed

[2017-09-02 01:25] #14468 closed

[2017-09-02 01:25] #14474 closed

[2017-09-02 01:25] #14475 closed

[2017-09-02 01:25] #14476 closed

[2017-09-02 01:25] #14507 closed

[2017-09-02 01:27] #7847 closed

[2017-09-02 01:27] #11323 closed

[2017-09-02 01:27] #12309 closed

[2017-09-02 01:27] #14279 closed

[2017-09-02 01:27] #14355 closed

[2017-09-02 01:27] #14454 closed

[2017-09-02 01:27] #14515 closed

[2017-09-02 01:27] #14517 closed

[2017-09-02 01:27] #14520 closed

[2017-09-02 01:27] #14526 closed

[2017-09-02 01:27] #14544 closed

[2017-09-02 01:27] #14546 closed

[2017-09-02 01:27] #14570 closed

[2017-09-02 01:27] #14593 closed

[2017-09-02 01:27] #14597 closed

[2017-09-02 01:27] #14614 closed

[2017-09-02 01:27] #14615 closed

[2017-09-02 01:27] #14645 closed

[2017-09-02 01:27] #14650 closed

[2017-09-02 01:27] #14654 closed

[2017-09-02 01:27] #14658 closed

[2017-09-02 01:27] #14667 closed

[2017-09-02 01:27] #14742 closed

[2017-09-02 01:27] #14753 closed

[2017-09-02 01:29] #8743 closed

[2017-09-02 01:29] #8988 closed

[2017-09-02 01:29] #9027 closed

[2017-09-02 01:29] #9363 closed

[2017-09-02 01:29] #14201 closed

[2017-09-02 01:29] #14351 closed

[2017-09-02 01:29] #14356 closed

[2017-09-02 01:29] #14370 closed

[2017-09-02 01:29] #14382 closed

[2017-09-02 01:29] #14415 closed

[2017-09-02 01:29] #14538 closed

[2017-09-02 01:29] #14551 closed

[2017-09-02 01:29] #14596 closed

[2017-09-02 01:29] #14621 closed

[2017-09-02 01:29] #14646 closed

[2017-09-02 01:29] #14674 closed

[2017-09-02 01:29] #14789 closed

[2017-09-02 01:29] #14828 closed

[2017-09-02 01:29] #14867 closed

[2017-09-02 01:29] #14950 closed

[2017-09-02 01:29] #15106 closed

[2017-09-02 01:29] #15170 closed

[2017-09-02 01:29] #15193 closed

[2017-09-02 01:31] #15658 closed

[2017-09-02 01:32] #13941 closed

[2017-09-02 01:32] #14168 closed

[2017-09-02 01:32] #14510 closed

[2017-09-02 01:32] #14540 closed

[2017-09-02 01:32] #14641 closed

[2017-09-02 01:32] #14740 closed

[2017-09-02 01:32] #15153 closed

[2017-09-02 01:32] #15260 closed

[2017-09-02 01:32] #15262 closed

[2017-09-02 01:32] #15283 closed

[2017-09-02 01:32] #15285 closed

[2017-09-02 01:32] #15338 closed

[2017-09-02 01:32] #15380 closed

[2017-09-02 01:32] #15392 closed

[2017-09-02 01:32] #15414 closed

[2017-09-02 01:32] #15419 closed

[2017-09-02 01:32] #15422 closed

[2017-09-02 01:32] #15433 closed

[2017-09-02 01:32] #15437 closed

[2017-09-02 01:32] #15442 closed

[2017-09-02 01:32] #15449 closed

[2017-09-02 01:32] #15470 closed

[2017-09-02 01:32] #15472 closed

[2017-09-02 01:34] QuincyLarson commented on #15467
@codemzy These look great! Could you create a pull request with these assets for https://github.com/FreeCodeCamp/assets ?

We can work on adding something like these later once we ship beta.

[2017-09-02 01:34] #15467 closed

[2017-09-02 01:34] #9886 closed

[2017-09-02 01:34] #10972 closed

[2017-09-02 01:34] #11424 closed

[2017-09-02 01:34] #15406 closed

[2017-09-02 01:34] #15410 closed

[2017-09-02 01:34] #15478 closed

[2017-09-02 01:34] #15496 closed

[2017-09-02 01:34] #15507 closed

[2017-09-02 01:34] #15510 closed

[2017-09-02 01:34] #15511 closed

[2017-09-02 01:34] #15521 closed

[2017-09-02 01:34] #15547 closed

[2017-09-02 01:34] #15560 closed

[2017-09-02 01:34] #15565 closed

[2017-09-02 01:34] #15566 closed

[2017-09-02 01:34] #15568 closed

[2017-09-02 01:34] #15572 closed

[2017-09-02 01:34] #15578 closed

[2017-09-02 01:34] #15579 closed

[2017-09-02 01:34] #15590 closed

[2017-09-02 01:34] #15594 closed

[2017-09-02 01:34] #15610 closed

[2017-09-02 01:34] #15659 closed

[2017-09-02 01:36] #14172 closed

[2017-09-02 01:36] #14268 closed

[2017-09-02 01:36] #14716 closed

[2017-09-02 01:36] #15242 closed

[2017-09-02 01:36] #15300 closed

[2017-09-02 01:36] #15324 closed

[2017-09-02 01:36] #15509 closed

[2017-09-02 01:36] #15586 closed

[2017-09-02 01:36] #15609 closed

[2017-09-02 01:36] #15620 closed

[2017-09-02 01:36] #15623 closed

[2017-09-02 01:36] #15693 closed

[2017-09-02 01:36] #15699 closed

[2017-09-02 01:36] #15707 closed

[2017-09-02 01:36] #15708 closed

[2017-09-02 01:36] #15713 closed

[2017-09-02 01:36] #15720 closed

[2017-09-02 01:38] QuincyLarson commented on #14881
@ogzcoder Have you had any luck with this?

[2017-09-02 01:43] QuincyLarson commented on #15739
@sblasa @anawebdev Have you had time to make any progress on this?

[2017-09-02 01:44] QuincyLarson commented on #15639
This is an important accessibility issue. Anyone want to help fix this?

[2017-09-02 01:46] #13683 closed

[2017-09-02 01:47] #13520 closed

[2017-09-02 01:56] #15580 closed

[2017-09-02 01:56] QuincyLarson commented on #13999
@stephanmax have you had a chance to take a look at this yet?

[2017-09-02 02:08] QuincyLarson commented on #15790
@yogaboll Well done. Works for me.

[2017-09-02 02:09] #15790 closed

[2017-09-02 02:17] QuincyLarson commented on #7925
@Motardo Thanks for investigating this. Would you be interested in and fixing this to get @LenaBarinova's fix working again?

[2017-09-02 02:22] #15746 closed

[2017-09-02 03:12] QuincyLarson commented on #15824
@systimotic Nice catch. Fixed!

[2017-09-02 03:12] #15824 closed

[2017-09-02 03:16] QuincyLarson commented on #15820
@w96k I agree with @erictleung, so I'm closing this. If you can come up with a good way to teach these interactively within our platform, please reopen this.

[2017-09-02 03:16] #15820 closed

[2017-09-02 03:22] QuincyLarson commented on #15523
@systimotic Yes - this is a known issue.

[2017-09-02 03:22] #15523 closed

[2017-09-02 03:29] beaucarnes opened #15831 "Delete Project Euler Problem 22"
This problem does not work with the freeCodeCamp platform since the description says to use an external file. This is impossible with the platform. After consulting with @BerkeleyTrue & @QuincyLarson, it was decided to delete this challenge completely. This needs to be done.

[2017-09-02 04:11] username1001 opened #15832 "Sum All Odd Fibonacci Numbers"
#### Challenge Name

https://www.freecodecamp.org/challenges/sum-all-odd-fibonacci-numbers

#### Issue Description

At first, I thought this might have been an issue on my part(i.e. browser history, cache, etc.) I cleared everything and tried again. No luck. I then assumed something might have been wrong with FCC itself. Every time I logged on, it brought me to my last challenge, and became unresp

[2017-09-02 04:11] williamsb commented on #15831
Does this involve just removing the problem from the project-euler-problems.json file?

[2017-09-02 04:46] raisedadead commented on #14559
I am reopening this because this is for DevOps (on production) tracking and not codebase.

[2017-09-02 06:35] adityaparab commented on #15826
@QuincyLarson @dhcodes : I deal with graphs almost everyday. I'll work on this.

[2017-09-02 08:46] lynxlynxlynx commented on #14614
What was the resolution, WONTFIX?

[2017-09-02 12:51] w96k commented on #15820
Thank you for the answer, will think about that.

[2017-09-02 13:53] ogzcoder commented on #14881
@QuincyLarson, actually I have, im going to clean up my commits over the weekend

[2017-09-02 14:57] raisedadead commented on #10807
Looks this was closed in error, this still needs to be implemented. As old auth mechanisms will have to go away completely.

[2017-09-02 15:55] beaucarnes commented on #15831
Yup! Pretty simple. Just delete the entire problem from project-euler-problems.json. Thanks for claiming this one.

[2017-09-02 17:12] sandeshvijayraj opened #15835 "Where can I find my certificate?"
#### Issue Description
https://www.freecodecamp.org/challenges/claim-your-front-end-development-certificate
i completed everything in front end but while claming ir said it put my certificate on personal portfolio now were did that come how do i know from were i can access that certificate
_Title moved to description by @systimotic_

[2017-09-02 17:29] systimotic commented on #15835
Hi @sandeshvijayraj! Congratulations! 🎉

Your public profile is at the following URL: https://www.freecodecamp.org/sandeshvijayraj
You should also get there by clicking your profile picture in the top right of every page on freeCodeCamp.

You can click the button on your profile to view your certificate. Here is the URL: https://www.freecodecamp.org/sandeshvijayraj/front-end-certification

I hope

[2017-09-02 17:29] #15835 closed

[2017-09-02 17:48] systimotic commented on #15371
Good catch @mstellaluna! This has been resolved through https://github.com/freeCodeCamp/freeCodeCamp/issues/15474, so I'm closing this.

[2017-09-02 17:48] #15371 closed

[2017-09-02 18:05] Manish-Giri commented on #15832
@username1001 you're using recursion, so shouldn't your base case be something like -
[code]

[2017-09-02 18:31] systimotic commented on #15832
Hi @username1001! Nice username 😄

The live version of freeCodeCamp runs all the challenge tests on page load. One of the tests for this challenge uses `4000000` as the value for `num`. That's four million. Using your code, a _lot_ of function calls are made. So many in fact that it freezes the browser. Whoops 😅

We learned that automatically running the tests isn't always a great idea. 😄 In the b

[2017-09-02 18:31] #15832 closed

[2017-09-02 18:34] systimotic commented on #15819
@azurvii @w96k Can you share your solutions? I'm curious to see why this went the way it did.

[2017-09-02 18:37] systimotic commented on #15812
@benschac Ping! 🔔 No hurry, just making sure you didn't forget about this 🙂

[2017-09-02 18:41] systimotic commented on #15805
Hi @w96k! Thanks for reporting this issue.

I'm closing this as a duplicate of #15763
I have updated the title of that issue to make it easier to find.

Happy coding!

[2017-09-02 18:41] #15805 closed

[2017-09-02 18:47] systimotic commented on #15769
@kkavita92 Would you still like to do this? Otherwise, I'll open this up to first timers.

[2017-09-02 19:11] systimotic commented on #15731
Closing in favor of #15753

[2017-09-02 19:11] #15731 closed

[2017-09-02 19:22] systimotic commented on #15777
Thanks for reporting!

I can't reproduce this. This may have been resolved, so I'm closing this issue.
If anybody is able to reproduce this, we'll reopen this issue. If you do run into this issue again, please open the console and share any errors here.

Happy coding!

[2017-09-02 19:22] #15777 closed

[2017-09-02 20:34] Motardo commented on #7925
@QuincyLarson After having another look and sleeping on it, here are my thoughts:

**Plan A**
I think that the old solution was not ideal. It required a user to be logged in to view their own profile correctly and would still show inconsistencies when viewing other users profiles in other timezones.

**Plan B** (simple and straightforward, good temporary fix)
I believe that a simpler and more robu

[2017-09-02 20:42] systimotic commented on #15761
Hi @annobot!

I refactored your code and found out it is equal to the following:
[code]

This appears to be an issue with your code, not with freeCodeCamp. Your code is only checking whether the last characters are equal, not whether the full word is equal to the ending. This issue tracker is meant for bugs in freeCodeCamp only. For coding help, please use the `Get a hint` and `Ask for help on the

[2017-09-02 20:42] #15761 closed

[2017-09-02 23:48] sblasa commented on #15739
@QuincyLarson @raisedadead @anawebdev Hi, sorry for the delay. I have my local freeCodeCamp working now and starting on it. I read the directions for the Font Awesome guide and understand what to do.  Is there a particular area/section or directory I need to start in freeCodeCamp?  Thanks!

[2017-09-03 01:08] sogen opened #15836 "Concatenating Strings with Plus Operator - space missing in instructions"
#### Challenge Name
Concatenating Strings with Plus Operator
https://www.freecodecamp.org/challenges/concatenating-strings-with-plus-operator

#### Issue Description

[code]

Instruction above don't mention the space.
While the instructions below mention that it needs a space.

Notice that the next challenge (https://www.freecodecamp.org/challenges/concatenating-strings-with-the-plus-equals-operat

[2017-09-03 01:31] #15763 closed

[2017-09-03 01:41] azurvii commented on #15819
(This)[https://www.freecodecamp.org/challenges/Smallest%20Common%20Multiple?solution=%2F%2F%20noprotect%0A%2F%2F%20const%20MAX_ROUNDS%20%3D%2010000000%3B%0A%0Afunction%20isCommonMultiple(num%2C%20min%2C%20max)%20%7B%0A%20%20var%20result%20%3D%20true%3B%0A%20%20for%20(var%20i%20%3D%20min%3B%20i%20%3C%3D%20max%3B%20%2B%2Bi)%20%7B%0A%20%20%20%20if%20(num%20%25%20i%20!%3D%200)%20%7B%0A%20%20%20%20%20%

[2017-09-03 05:16] #15831 closed

[2017-09-03 06:33] raisedadead commented on #15739
Hi @sblasa!

Thanks for your interest in working on this.

Most pugjs (.jade) files should be in
https://github.com/freeCodeCamp/freeCodeCamp/tree/staging/server/views

Of course, some client side views are now using react, so you may have to look through some `.jsx` files in https://github.com/freeCodeCamp/freeCodeCamp/tree/staging/common/app, but the views directory should get you started.

Also

[2017-09-03 06:36] adityaparab commented on #15792
Since there is no update in a while, just wondering if either of @benschac or @vikramnr is still on it.
I have identified the code to be fixed and have it working on my local branch. Let me know if you're not working on it and I'll create a PR immediately.

[2017-09-03 06:42] adityaparab commented on #15792
@QuincyLarson

This is how it looks with my changes

**Old**

![old](https://user-images.githubusercontent.com/5561498/30001090-f51a3a1e-90a0-11e7-9607-f22a1852011c.png)

New - Collapsed

![old](https://user-images.githubusercontent.com/5561498/30001092-022c0174-90a1-11e7-9d18-d6d89a1ca01d.png)

New - Expanded

![new-2](https://user-images.githubusercontent.com/5561498/30001097-10406886-90a1-11e7-

[2017-09-03 12:28] zk433 commented on #15836
Hi @sogen ,
not sure what you mean? Both challenges have a note about the spaces, as far as I can see.

Also, as for the instructions for https://www.freecodecamp.org/challenges/concatenating-strings-with-plus-operator, space is already inserted in the string (after 'start. '):

[2017-09-03 12:33] systimotic commented on #15254
The PR was merged, so I'm closing this issue. Happy coding!

[2017-09-03 12:33] #15254 closed

[2017-09-03 12:36] systimotic commented on #8165
@QuincyLarson Now that passwordless has been implemented in the beta, can this be closed?

[2017-09-03 12:49] systimotic opened #15838 "Local login with passwordless"
Passwordless login has been implemented! 🎉 Great work @raisedadead 👍👍

Now that we have passwordless login, logging in to your local development instance has changed quite a bit. @ogzcoder and @zk433 have already run into this. We'll need to update our documentation on signing up and logging in locally.

Relevant docs:
[CONTRIBUTING.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/abbdb282283

[2017-09-03 13:09] #12129 closed

[2017-09-03 13:15] systimotic commented on #15779
This has been fixed in #15825. This issue should have been closed automatically when that was merged, but apparently GitHub thought it would be a good idea to skip that on this one. 😄 If GitHub doesn't want to close this issue for us, I'll close it manually. Happy coding!

[2017-09-03 13:15] #15779 closed

[2017-09-03 13:29] raisedadead commented on #15838
Our current config uses AWS SES for sending out emails. Of course, this is configured in production.
But, this will affect local setups for development. Earlier, this was not noticeable because creating accounts was based on a local strategy. (The server still used to crash, but the user accounts got created) .

That will NOT work any longer. So I recommend the documentation be updated on lines of

[2017-09-03 13:31] raisedadead commented on #15838
An ideal approach is to have inbuilt test users, rather than burdening contributors with configs. But that is currently out of the scope for this issue.

[2017-09-03 13:36] raisedadead commented on #8165
@systimotic thanks, yes we can close this in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/14559, which is the only remaining task on this list.

[2017-09-03 13:36] #8165 closed

[2017-09-03 13:57] systimotic commented on #15617
The PR above was submitted to `backup/master`. I think we want this change on `staging` as well. @Manish-Giri Can you submit a new PR for that? After that, I think this can be closed.

[2017-09-03 14:13] systimotic commented on #15836
Hi @sogen!

As @zk433 mentioned, this challenge does include the note warning about the spaces. Additionally, the first string in the instructions already ends in a space: `"This is the start. "` There's a space after the `.` there.

I'm closing this issue as resolved. If you think I'm wrong in closing this issue, please reopen it and add further clarification.

Happy coding!

[2017-09-03 14:13] #15836 closed

[2017-09-03 14:16] systimotic commented on #15819
Thanks @azurvii! This is indeed an issue. At the very least, there should be a warning here.
I'm putting the code directly in this issue for future reference
[code]

[2017-09-03 14:21] sogen commented on #15836
+1

On Sun, Sep 3, 2017 at 8:16 AM, Timo <notifications@github.com> wrote:

[2017-09-03 18:01] ooade opened #15839 "Navbar breaks at 768px to 786px"
#### Screenshot

![breaks](https://user-images.githubusercontent.com/11811904/30005424-2ab322c4-90da-11e7-8939-93e55e31bb88.png)

[2017-09-03 18:56] systimotic commented on #15839
Thanks for the bug report @ooade! I can confirm that this is indeed an issue. At 768px it switches to the layout where the buttons are hidden in favor of a single menu toggle button, which is why it's fixed at that width.

[2017-09-03 19:16] systimotic commented on #14500
Hi all! Thanks for reporting and looking into this issue. I'm closing this as a duplicate of #12699. Happy coding!

[2017-09-03 19:16] #14500 closed

[2017-09-03 19:16] systimotic commented on #14542
Hi all! Thanks for reporting and looking into this issue. I'm closing this as a duplicate of #12699. Happy coding!

[2017-09-03 19:16] #14542 closed

[2017-09-03 19:18] systimotic commented on #14861
Hi @cotolany! Thanks for reporting this issue. I'm closing this as a duplicate of #12699. Happy coding!

[2017-09-03 19:18] #14861 closed

[2017-09-03 19:19] ooade opened #15840 "Bad UX on mobile devices"
I think it will be better to stack the grids on top of each other on mobile devices rather than having them side by side.

#### Screenshot

![bad ux](https://user-images.githubusercontent.com/11811904/30005921-db91e04e-90e4-11e7-8b81-fbb37ab0fad6.png)

[2017-09-03 19:21] systimotic commented on #15294
Hi all! Thanks for reporting and looking into this issue. I'm closing this as a duplicate of #12699. Happy coding!

[2017-09-03 19:21] #15294 closed

[2017-09-03 19:21] systimotic commented on #14990
Hi @524119574! Thanks for reporting this issue. I'm closing this as a duplicate of #12699. Happy coding!

[2017-09-03 19:21] #14990 closed

[2017-09-03 19:23] ooade commented on #15839
I would love to fix this but can't code for now. Someone else can take this up or i fix it myself on Thursday :sweat_smile:

[2017-09-03 19:55] dipikaisdbest commented on #15839
Hi @systimotic @ooade  Could I grab this. First Time Contributor. Would like to work on a issue regarding responsiveness.

[2017-09-03 20:14] sblasa commented on #15739
Hi @raisedadead, okay, thank you for letting me know. I'm going to look at issue #13798 in more detail, and I saw the list that was posted there, so I will refer to that.

[2017-09-03 20:44] systimotic commented on #15185
## First-timers only
Check out [CONTRIBUTING.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) to get your local development environment set up.

The issue is in the following line:
https://github.com/freeCodeCamp/freeCodeCamp/blob/885c73abac6bdc492f5fe913dd793332dbbb5dc3/seed/math-challenges/02-javascript-algorithms-and-data-structures/basic-data-structures.json#L254

[2017-09-03 21:03] ooade commented on #15839
@dipikaisdbest Sure you can. Just go through the guidelines laid out [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md).

[2017-09-03 21:05] zk433 commented on #15185
I'll give it a go, Tim!

[2017-09-03 22:13] dhcodes commented on #15826
go for it @adityaparab !

[2017-09-03 22:38] #15703 closed

[2017-09-04 02:10] P-WM commented on #15639
@QuincyLarson I'm looking to do my first (non-documentation) PR and am interested in accessibility. Can I take this?

[2017-09-04 07:02] adityaparab opened #15844 "Expand community dropdown menu on click on smaller screens"
#### Challenge Name

This is a global issue. Not specific to particular challenge

#### Issue Description

On smaller screens (width less than 768px) the top navigation menu is converted to a Menu button.
When menu is clicked, it shows navigation items. Point to `Community` submenu with your mouse. The submenu expands automatically. Now point to `About` and try going to the next primary menu item

[2017-09-04 07:05] adityaparab commented on #15839
@dipikaisdbest Since you will be contributing for the first time, [this is the area in code](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/server/views/partials/navbar.jade) you need to investigate

[2017-09-04 09:17] systimotic commented on #15839
Thanks @dipikaisdbest!

I'd like to add to @adityaparab's comment. That is where the old nav is, the current issue has to be solved somewhere in [this file](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/app/Nav/nav.less). You'll probably have to overwrite some default Bootstrap styles there too.

This issue may be somewhat complicated. If you can't figure it out, please let us k

[2017-09-04 10:03] #15185 closed

[2017-09-04 10:14] systimotic commented on #13803
Thanks for reporting! I'm closing this as a part of #13698. Happy coding!

[2017-09-04 10:14] #13803 closed

[2017-09-04 10:28] systimotic commented on #13537
This appears to have been fixed. If anybody runs into this issue again, please add additional information and we'll reopen this issue. Happy coding!

[2017-09-04 10:28] #13537 closed

[2017-09-04 10:34] systimotic commented on #14996
Hi! Thanks for reporting this issue.
The ES6 section's test do not work yet. This is a known issue we're working on resolving. See https://github.com/freeCodeCamp/freeCodeCamp/issues/12698 for more.

Happy coding!

[2017-09-04 10:34] #14996 closed

[2017-09-04 10:35] systimotic commented on #15149
Thanks for reporting this issue! It looks like this has been fixed, so I'm closing this. If you can still reproduce this, please add additional information and we'll reopen this issue.

Happy coding!

[2017-09-04 10:35] #15149 closed

[2017-09-04 10:37] systimotic commented on #15188
Thanks for reporting this issue!
I'm closing this as a duplicate of #13075. Happy coding!

[2017-09-04 10:37] #15188 closed

[2017-09-04 10:38] systimotic commented on #14582
We're tackling the ES6 tests in https://github.com/freeCodeCamp/freeCodeCamp/issues/12698 I'm closing this in favor of that. Thanks for reporting everybody!

Happy coding!

[2017-09-04 10:38] #14582 closed

[2017-09-04 10:40] systimotic commented on #14949
Thanks for reporting and looking into this issue! This was recently doubly fixed (https://github.com/freeCodeCamp/freeCodeCamp/pull/12989), so I'm closing this issue.

Happy coding!

[2017-09-04 10:40] #14949 closed

[2017-09-04 10:42] systimotic commented on #15090
Sorry for the trouble everyone, thanks for looking into this. We recently fixed this (https://github.com/freeCodeCamp/freeCodeCamp/pull/15775), so I'm closing this issue.
If you think I'm wrong in closing this issue, please reopen it and add further clarification.

Happy coding!

[2017-09-04 10:42] #15090 closed

[2017-09-04 10:44] systimotic commented on #15329
Thanks for reporting! We're working on fixing this in https://github.com/freeCodeCamp/freeCodeCamp/issues/12698 I'm closing this as a duplicate.

Happy coding!

[2017-09-04 10:44] #15329 closed

[2017-09-04 10:47] #15369 closed

[2017-09-04 10:53] systimotic commented on #15384
Thanks for reporting this issue! Looks like this has been fixed, so I'm closing this. If you think I'm wrong in closing this issue, please reopen it and add further clarification.

Happy coding!

[2017-09-04 10:53] #15384 closed

[2017-09-04 10:57] systimotic commented on #15296
Hi! Thanks for reporting this issue. This was fixed in https://github.com/freeCodeCamp/freeCodeCamp/pull/15775, so I'm closing this issue.

Happy coding!

[2017-09-04 10:57] #15296 closed

[2017-09-04 11:01] systimotic commented on #15712
@QuincyLarson I understand you want this to happen really bad, but one issue is enough 😜 Closing as a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/15753

[2017-09-04 11:01] #15712 closed

[2017-09-04 11:03] systimotic commented on #15710
@QuincyLarson What's the status of this issue? It's still labeled blocked, I'm not sure what needs to happen here.

[2017-09-04 11:08] systimotic commented on #15152
Thanks for looking into this! We recently fixed this (#15775), so I'm closing this issue.
If you think I'm wrong in closing this issue, please reopen it and add further clarification.

Happy coding!

[2017-09-04 11:08] #15152 closed

[2017-09-04 11:23] systimotic commented on #15003
Thanks for looking into this! We recently fixed this (#15775), so I'm closing this issue.

Happy coding!

[2017-09-04 11:23] #15003 closed

[2017-09-04 11:24] systimotic commented on #15259
Thanks for looking into this! We recently fixed this (#15775), so I'm closing this issue.

Happy coding!

[2017-09-04 11:24] #15259 closed

[2017-09-04 11:27] systimotic commented on #15306
Thanks for looking into this! We recently fixed this (#15775), so I'm closing this issue.

Happy coding!

[2017-09-04 11:27] #15306 closed

[2017-09-04 12:30] systimotic commented on #12739
Hi! Thanks for reporting and looking into this issue. We're tackling fixing the ES6 challenges in #12698. I'm closing this in favor of that issue.

Happy coding!

[2017-09-04 12:30] #12739 closed

[2017-09-04 12:35] systimotic commented on #12902
I'm closing this in favor of the aforementioned #12698. This issue hasn't been resolved, but we'll handle fixing this over there. Your contributions to this are still most welcome!

Happy coding!

[2017-09-04 12:35] #12902 closed

[2017-09-04 12:37] systimotic commented on #13810
Hi everyone! This hasn't been fixed yet, but we're tracking this in #12698 now. I'm closing this in favor of that.

Happy coding!

[2017-09-04 12:37] #13810 closed

[2017-09-04 12:41] systimotic commented on #15186
Thanks for reporting and looking into this issue!
I'm closing this as a duplicate of #14372. If you think I'm wrong in closing this issue, please reopen it and add further clarification.

Happy coding!

[2017-09-04 12:41] #15186 closed

[2017-09-04 12:43] systimotic commented on #15089
Hi everybody! Thanks for reporting and looking into this issue.

We're working on fixing the ES6 challenges in https://github.com/freeCodeCamp/freeCodeCamp/issues/12698. I'm closing this issue in favor of that.

Happy coding!

[2017-09-04 12:44] systimotic commented on #15175
Hi everybody! Thanks for reporting and looking into this issue.

We're working on fixing the ES6 challenges in https://github.com/freeCodeCamp/freeCodeCamp/issues/12698. I'm closing this issue in favor of that.

Happy coding!

[2017-09-04 12:44] systimotic commented on #15175
Hi everybody! Thanks for reporting and looking into this issue.

We're working on fixing the ES6 challenges in https://github.com/freeCodeCamp/freeCodeCamp/issues/12698. I'm closing this issue in favor of that.

Happy coding!

[2017-09-04 12:44] #15175 closed

[2017-09-04 12:44] #15089 closed

[2017-09-04 12:45] systimotic commented on #14372
Hi everybody! Thanks for reporting and looking into this issue.

We're working on fixing the ES6 challenges in #12698. I'm closing this issue in favor of that.

Happy coding!

[2017-09-04 12:45] #14372 closed

[2017-09-04 12:47] systimotic commented on #15304
Thanks for reporting this issue!

As mentioned, semicolons aren't required in most cases, so this isn't a bug.

Happy coding!

[2017-09-04 12:47] #15304 closed

[2017-09-04 12:50] systimotic commented on #15286
Hi! Thanks for reporting and looking into this issue.

This is a known issue. We're working on resolving it through https://github.com/freeCodeCamp/freeCodeCamp/issues/12762. I'm closing this as a duplicate.

Happy coding!

[2017-09-04 12:50] #15286 closed

[2017-09-04 12:51] systimotic commented on #13267
Hi! Thanks for reporting and looking into this issue.

This is a known issue. We're working on resolving it through #12762. I'm closing this as a duplicate.

Happy coding!

[2017-09-04 12:51] #13267 closed

[2017-09-04 12:51] systimotic commented on #14329
Hi! Thanks for reporting and looking into this issue.

This is a known issue. We're working on resolving it through #12762. I'm closing this as a duplicate.

Happy coding!

[2017-09-04 12:51] #14329 closed

[2017-09-04 12:52] systimotic commented on #14984
Hi! Thanks for reporting and looking into this issue.

This is a known issue. We're working on resolving it through #12762. I'm closing this as a duplicate.

Happy coding!

[2017-09-04 12:52] #14984 closed

[2017-09-04 12:57] systimotic commented on #14776
Hi! Thanks for reporting and looking into this issue.

This was recently fixed in https://github.com/freeCodeCamp/freeCodeCamp/pull/15775, so I'm closing this as resolved.

Happy coding!

[2017-09-04 12:57] #14776 closed

[2017-09-04 12:58] systimotic commented on #14818
Hi! Thanks for reporting and looking into this issue.

I'm closing this as a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/15024. It's about the same problem but has a bit more info.

Happy coding!

[2017-09-04 12:58] #14818 closed

[2017-09-04 13:40] jburtiv commented on #13121
Please remove me from the thread

Sent from my iPhone

[2017-09-04 13:52] fonsecapontes commented on #15639
@P-WM if you'll working in this case, be sure that modal have "role" ARIA, cause I looked for in the chrome tools and don't find.

[2017-09-04 14:00] texas2010 commented on #13121
@jburtiv
looks like you may have accidentally subscribed to all notifications for the [FreeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp) repository. To stop receiving notifications please visit the [subscriptions page](https://github.com/FreeCodeCamp/FreeCodeCamp/subscription) and select "Not watching". Additionally, you can visit the [GitHub Help page on managing notification delivery m

[2017-09-04 15:23] jhomme commented on #15639
It is always better to use semantic HTML if possible than to use ARIA unless you know what you are doing. I suspect this to be a tabindex issue.

On Sep 4, 2017, at 9:55 AM, Lucas Fonseca de Pontes <notifications@github.com> wrote:

@P-WM if you'll working in this case, be sure that modal have "role" ARIA, cause I looked for in the chrome tools and don't find.

—
You are receiving this because you

[2017-09-04 16:23] #15769 closed

[2017-09-04 16:42] P-WM commented on #15639
My naive reading of the situation is that this is a problem with the toasts, in general, being unreachable. It is a particular problem here as in order to reset code the toast must be clicked.

I can think of a couple of solutions:
1. altering toasts with actionable content (e.g. "reset my code") to modals which may be overkill but should make them clear to screen readers and also removes the time

[2017-09-04 16:53] tchaffee opened #15848 "Please change all CodePen example projects to use projectName instead of project_name."
#### Challenge Name
All CodePen challenges that use the [testable projects code](https://github.com/freeCodeCamp/testable-projects-fcc)

#### Issue Description
Over at https://github.com/freeCodeCamp/testable-projects-fcc we are cleaning up the code to make sure all ESLint warnings are fixed. We are finished, except for one variable name `project_name` that should be renamed to camel case. We need

[2017-09-04 16:55] tchaffee commented on #15848
@QuincyLarson Could you please notify / assign the various maintainers of the official example CodePen projects?

[2017-09-04 17:04] BerkeleyTrue commented on #15710
The status of this issue is blocked. No action is requred

[2017-09-04 17:23] jhomme commented on #15639
Hi,
At this point in my development knowledge—why I am going through FCC—I don’t know how toasts work. I know how accessibility works. Maybe this answer will help. For accessibility, anything you can do with the mouse, you must be able to do with the keyboard. Translation: if you can hover over a control with the mouse, you must be able to tab to it and put keyboard focus on it, and see it has fof

[2017-09-04 17:45] charlottejoy opened #15849 "Code is not saved"
#### Challenge Name
From the screenshots: Applied Visual Design: Create Visual Balance Using the text-align Property
http://beta.freecodecamp.com/en/challenges/applied-visual-design/create-visual-balance-using-the-textalign-property

First noticed with: Basic Algorithm Scripting: Finders Keepers
http://beta.freecodecamp.com/en/challenges/basic-algorithm-scripting/finders-keepers

Since I first saw

[2017-09-04 19:22] ogzcoder commented on #15838
I've created a bypass that displays a link in the toast to login instead of sending the email when on a local installation. I added an environment variable in sample.env and check for it in /common/models/user.js and it works.......except......If you logout and try to login with a different email address it fails. I don't have much experience with Observables and I can't quite figure out exactly w

[2017-09-04 19:38] dcdunham commented on #6429
I've seen the instructions from FreeCodeCamp about logging in with our GitHub accounts.  I've been trying this for some time, but I always get a message that says "Oops!  Something went wrong.  Please try again later."  I've tried it while logged into GitHub, and I've tried it while logged out.  Same thing happens.
![image](https://user-images.githubusercontent.com/28540801/30037253-1a7b4640-9187-

[2017-09-04 21:22] #13013 closed

[2017-09-04 21:30] BerkeleyTrue commented on #15838
@raisedadead We should probably use a script that will first detect SES keys then Gmail, then finally crash with a specific error with a link to the forum to demonstrate how to set up those keys in the .env file.

We should also avoid `EMAIL_SENDER` as a key in the .env because we have used that key in the past for production devops emails.

[2017-09-05 02:34] ogzcoder commented on #15838
This info should definitely be obvious to anybody wanting to contribute to this project. Adding the required info to the config is pretty simple if you know you need to do it :) Especially when authenticating through this requested email is the #1 to authenticate to the application

[2017-09-05 02:42] benschac commented on #15812
Hey,

Sorry for the late response! I've been moving and I have some work stuff.
I'll totally get to this soon. Thanks for the ping. :D.

On Sat, Sep 2, 2017 at 2:40 PM, Timo <notifications@github.com> wrote:

[2017-09-05 02:49] benschac commented on #15792
Hey,

Sorry for not responding sooner.  If you're happy with your solution go for it! I've been busy with a move + work deadline and have been off line for a bit. :D

[2017-09-05 03:30] abigailbeets commented on #12818
Hi, newbie helper here. I think the directions should be re-written. "Use strict" is not required to pass the test and there is no function (so you can't really use the function form of 'is strict'); furthermore, wrapping the code in a function either fails all of the tests or says 'something went wrong, try again later'. I would be happy to rewrite the directions to be more clear, or the tests to

[2017-09-05 04:44] raisedadead commented on #15838
@ogzcoder thanks for the feedback, and yes as you can see we have put up this issue to track and create the documentation.. 😅 !

@BerkeleyTrue yes that can be done, and I totally agree is the least frictionless approach.

But we would still need a key that is defined to be used as a MAIL FROM domain, primarily because, the default MAIL FROM is a freeCodeCamp.com domain address.

So can we change t

[2017-09-05 04:54] raisedadead commented on #15838
Meanwhlie I have created the guide here for everyone to refer so that we can start linking to it in the CONTRIBUTING.md

https://forum.freecodecamp.org/t/contributing-guide-setting-up-email-authentication-for-development/146004

[2017-09-05 05:06] adityaparab commented on #15849
Thank you for reporting this. The issue of non functional click on challenge completion modal has already been [logged and closed](https://github.com/freeCodeCamp/freeCodeCamp/issues/15763) with [this PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/15834)

It looks like latest staging is not currently deployed.

I'll look into why the code is not retained issue.

[2017-09-05 05:13] adityaparab commented on #15826
@dhcodes : Confirmed.. Will start on it asap.

[2017-09-05 07:09] raisedadead commented on #15848
/cc @no-stack-dub-sack and @raisedadead

[2017-09-05 07:48] systimotic commented on #15291
I'm closing this issue as stale. If this problem comes up again, please comment here and we'll reopen.

Happy coding!

[2017-09-05 07:48] #15291 closed

[2017-09-05 07:54] systimotic commented on #15844
Thanks for reporting this @adityaparab! I just ran into https://github.com/freeCodeCamp/freeCodeCamp/issues/13450, and it looks like this is a duplicate of that, so I'm closing this issue.

Happy coding!

[2017-09-05 07:54] #15844 closed

[2017-09-05 08:13] systimotic commented on #15704
@QuincyLarson It looks like this was a conscious choice by Berkeley: https://github.com/freeCodeCamp/freeCodeCamp/pull/14707/commits/4a63126fa575661e2907ed9d8e1f629575356125
I could add it back in, but it would probably useful to learn why it was removed first. /cc @BerkeleyTrue

[2017-09-05 11:53] systimotic commented on #15838
Linking this guide https://forum.freecodecamp.org/t/logging-into-local-freecodecamp-installation-with-passwordless-authentication/145841 here as well so we remember to update it if we change anything.

[2017-09-05 12:21] systimotic commented on #13999
## First-timers only
Check out [CONTRIBUTING.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) to get your local development environment set up.

This test is on this line:
https://github.com/freeCodeCamp/freeCodeCamp/blob/9f7ca2bcf5f4af3de74dbd0ec375e7c570d47f32/seed/challenges/04-data-visualization/json-apis-and-ajax.json#L235
The regular expression will need to allo

[2017-09-05 13:36] raisedadead commented on #15838
Hi @systimotic thanks for the link and @ogzcoder thanks for the guide.

Unfortunately I think the changes that I plan to make with #15822 may break that as well, which no users will actually get updated whenever we send out a passwordless authentication email, which is not confirmed before a user clicks on it.

Which would make sense because we don't want that to happen in any case.

I strongly fa

[2017-09-05 15:16] BerkeleyTrue commented on #15704
An unfortunate side effect of changing themes.

[2017-09-05 15:35] moT01 commented on #15767
is this a workaround to another api? if so, you could maybe go there and find the list.

[2017-09-05 15:42] vkWeb opened #15851 "Beta Version: 'No Super Blocks' Error on opening challenges"
**Issue Description**

On opening https://beta.freecodecamp.com/en/map - A error/message/log - 'No Super Blocks' for a very short duration of time like for 3-5 seconds is seen. After those few seconds the challenges come up.

**Browser Information**

* Browser Name, Version: Google Chrome, Latest release
* Operating System: Windows 10 pro
* Mobile, Desktop, or Tablet: Desktop

**Screenshot**

This

[2017-09-05 16:15] DusanSacha commented on #15388
@QuincyLarson
In this thread we were discussed 5 new JS challenges. Only one of them has been done so far.
I was planing to design the other ones after #15751 is finished. Should I re-open this issue for the purpose?

[2017-09-05 19:26] hamo225 commented on #13504
Is FCC down again?

[2017-09-05 19:58] charlottejoy commented on #15849
Thanks for the info and for looking into the second issue.

[2017-09-05 20:02] systimotic commented on #15851
Hi @vkWeb, thanks for reporting this issue!
I absolutely agree, this is quite annoying. We have two open issues that should address this: https://github.com/freeCodeCamp/freeCodeCamp/issues/15696 and https://github.com/freeCodeCamp/freeCodeCamp/issues/15730, so I'm closing this as a duplicate.

Happy coding!

[2017-09-05 20:02] #15851 closed

[2017-09-05 20:05] systimotic commented on #12012
Closing as this has been resolved in the beta. Happy coding!

[2017-09-05 20:05] #12012 closed

[2017-09-05 20:11] systimotic commented on #12139
We now have a new layout in the beta, so this issue has been resolved.

Happy coding!

[2017-09-05 20:11] #12139 closed

[2017-09-05 21:13] systimotic commented on #12681
Sign in and sign up are no longer separate now that passwordless has been implemented, so I'm closing this issue. If something like this does come up again, please comment and we'll reopen.

Happy coding!

[2017-09-05 21:13] #12681 closed

[2017-09-05 21:18] zk433 commented on #15729
Can I just check if @raisedadead or @dhcodes are working on this?

[2017-09-05 21:19] systimotic commented on #13061
I can't reproduce this issue on the latest beta, neither when coming from the previous challenge or after reload, so I'm closing. If anybody does run into this issue again, please comment to let us know and we'll reopen.

Happy coding!

[2017-09-05 21:19] #13061 closed

[2017-09-05 21:35] systimotic commented on #13064
I can't reproduce this issue on the latest beta, neither when coming from the previous challenge or after reload, so I'm closing this. If anybody does run into this issue again or can still reproduce this, please comment to let us know and we'll reopen.

Happy coding!

[2017-09-05 21:35] #13064 closed

[2017-09-05 21:45] systimotic commented on #11261
@BerkeleyTrue Code URI's aren't added anywhere anymore, and trying to add them doesn't put the URI text into the editor in the latest beta. Can this be closed?

[2017-09-05 22:10] raisedadead commented on #15729
@zk433 please go ahead... if you would be interested in working on this. happy coding!

[2017-09-05 23:56] aidanbdh opened #15852 "Sign In Disabled"
When I go to login, It says simply thatsignin and signup are both disabled. I have had a friend try it and it is like that for her too. I am just wondering if this is something intentional. I looked at all of fcc's social media and there was nothing about the signin being down. Just making sure its temporary so I don't lose my streak! Thanks!

#### Challenge Name

#### Issue Description

#### Brow

[2017-09-05 23:59] aidanbdh commented on #15852
They just updated it to specify they were fixing a bug.

[2017-09-05 23:59] #15852 closed

[2017-09-06 00:41] joshdrochon commented on #7976
Make sure the p element isn't highlight pink, (or any element for that matter). That was my problem. For some reason the element kept wanting to highlight pink.

[2017-09-06 00:42] BerkeleyTrue commented on #11261
Yes they have been removed from beta. Shortly after beta launch we will add the ability to save code to a redis storage. This will be our replacement for code uri's and a much more reliable way to share code between campers.

[2017-09-06 00:42] #11261 closed

[2017-09-06 01:32] #14668 closed

[2017-09-06 03:04] dhcodes commented on #15729
agreed!

[2017-09-06 04:14] #13462 closed

[2017-09-06 04:16] QuincyLarson commented on #9402
@raisedadead this is an awesome feature idea, and will really enhance the passwordless user experience. How difficult is this to implement? Would you be interested in implementing it?

[2017-09-06 04:18] QuincyLarson opened #15854 "Verifying email address on a new account should sign user in as well"
Currently when verifying an email, it forces the user to sign in again. We should instead sign the user in.

![sign_in_to_freecodecamp_using_your_email_address___freecodecamp](https://user-images.githubusercontent.com/985197/30094220-5fcb0730-9290-11e7-85cd-287cd1397b22.png)

We are looking for a contributor who can implement this fix on both on the staging branch and on backup/master (our product

[2017-09-06 04:20] QuincyLarson commented on #15849
@adityaparab Awesome - thanks for helping with this. If the nonfunctional click hasn't been fixed, would you be interested in fixing it?

When this is working, we can ask @BerkeleyTrue to deploy the fix and close this issue.

[2017-09-06 04:22] QuincyLarson commented on #15839
@dipikaisdbest Thanks for your help on this. Please keep us updated on your progress with it.

[2017-09-06 04:50] adityaparab commented on #15849
@QuincyLarson : the non functional issue is already fixed and merged. It can be deployed.

I'm looking into another issue where the code is not retained in the db after submission:

[2017-09-06 05:11] dipikaisdbest commented on #15839
I have been reading and trying to understand the code part. Haven't made any significant changes yet. Will make a PR once in that stage.

[2017-09-06 11:50] zk433 commented on #15729
Ok, me, @chiefoleka and @Exclusiveyash are working on it.

[2017-09-06 12:47] adityaparab commented on #15854
me!

[2017-09-06 21:04] QuincyLarson opened #15855 "GitHub account linking is broken"
Several campers have reported this, and I tried to update my own account from GitHub and experienced this error message:

![settings___freecodecamp](https://user-images.githubusercontent.com/985197/30134546-1b521804-931d-11e7-983a-d243ee2174b9.png)

[2017-09-06 21:38] Esslamb commented on #15854
Will attempt to add this feature!

[2017-09-06 23:59] no-stack-dub-sack commented on #14987
@systimotic Yup, that's the same thing I've experienced. But I don't know if issues like this are just getting pushed to the backburner for now while other major changes get implemented, or??

Maybe at the very least, we can comment out that message for the time being so that we don't give the wrong impression? I'm not sure, I know there's a ton else to do before this thing is ready to move to pro

[2017-09-07 00:01] no-stack-dub-sack commented on #14987
@systimotic Maybe we can remove blocked and add confirmed back to the labels to make it clear this is a confirmed issue, since there seemed to be some misunderstanding when this was first re-labeled?

[2017-09-07 15:50] mstellaluna opened #15857 "Camperbot is offline - Not giving out cookies/brownies"
#### Challenge Name

#### Issue Description

Camperbot since the database issue has been offline. It is not assigning brownie points in Gitter Chat.
cbot status says the api is online but when thanking someone it comes back with api offline.
screenshot below
#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-09-07 16:21] texas2010 commented on #15857
/cc @QuincyLarson @BerkeleyTrue, this case for you.

[2017-09-07 17:27] QuincyLarson opened #15859 "Updating profile from GitHub should redirect to profile with flash message"
Currently when a user successfully updates their profile from GitHub, the platform just sends them back to their current challenge. Instead, it should redirect them to their updated profile with a green flash message: "We have successfully updated your freeCodeCamp profile using information from your GitHub profile."

[2017-09-07 17:36] QuincyLarson opened #15860 "Update settings buttons"
This block of buttons at the top of freeCodeCamp.org/settings needs to be updated:

![settings___freecodecamp](https://user-images.githubusercontent.com/985197/30176649-da90973a-93c8-11e7-97fa-4385620ee9e0.png)

Since this links to a forum post explaining how to create a GitHub account, the button should instead say "Learn how to customize my public profile"

Also, since we've removed the "check o

[2017-09-07 19:11] mstellaluna commented on #15857
camperbot is still having issues, it works okay on the 1st thanks and then on the second thanks it crashes again with the api offline if the 2nd thanks quickly follows the other. Screenshots below :)

![image](https://user-images.githubusercontent.com/22984739/30180703-c92843ce-93de-11e7-9df2-037c6bbf1825.png)
![image](https://user-images.githubusercontent.com/22984739/30180715-d2d342ca-93de-11e7-

[2017-09-07 20:32] aharcourt commented on #15860
This is my first time getting started with open source software. Can I work on this?

[2017-09-07 20:42] BerkeleyTrue commented on #15857
@mstellaluna Thanks for the notification. It is still working, it's just that trying to send two thanks to the same person hits a rate limit and will respond with an error.

Generally the server responds with JSON but I think the way our error messages are now handled are catching message through the API that should be sent directly to the client. I'll need to fix this in our codebase.

[2017-09-07 21:52] mstellaluna commented on #15857
@BerkeleyTrue Yea, I wasn't sure if this was something you wanted to be aware of as its wasn't the behavior before the database issues, it would have normally returned something along the lines of "texas2010 already gave points to mstellaluna" . Yes, campers are getting their cookies.

[2017-09-07 21:56] mstellaluna commented on #15857
It's intermittent this just happened it was the first cookie, the chat is quiet right now so I haven't seen it happen in the other room aside from the main room. The time is EST btw.

![image](https://user-images.githubusercontent.com/22984739/30186965-bf5827bc-93f5-11e7-8789-d21f824c4cd9.png)

[2017-09-08 03:45] raghavraman commented on #12637
Is there a specific way I could help? This is my first attempt for open source contribution

[2017-09-08 06:20] addisonday opened #15862 "Misleading direction in Reuse Patterns Using Capture Groups"
#### Challenge Name
Reuse Patterns Using Capture Groups
https://beta.freecodecamp.org/en/challenges/regular-expressions/reuse-patterns-using-capture-groups

#### Issue Description
The directions state:
Use capture groups in reRegex to match numbers that are repeated only three times in a string, each **separated by a space.**
One of the tests states:
Your regex **should have two spaces** separatin

[2017-09-08 06:25] addisonday commented on #15860
This would be my first time as well, but I am interested.

[2017-09-08 06:35] vkWeb commented on #15860
I am a first-timer and I would love to contribute to this community. I am helping people through FCC's Fb group and other possible ways.

[2017-09-08 06:37] addisonday commented on #15862
I'm interested in contributing and taking care of this myself if that is possible

[2017-09-08 07:19] #14881 closed

[2017-09-08 07:46] ogzcoder commented on #15849
I was looking into this a little bit and it seemed that the data is stored in the db but not returned when the camper returns to the challenge. I'd like to give this a shot if that's ok?

[2017-09-08 07:55] adityaparab commented on #15849
@ogzcoder : You're right, the data is getting saved on my end as well.. It is not being returned.
I'm done with my changes to fix this and will be submitting a PR soon.
Would you consider looking into another issue? :)

[2017-09-08 08:01] ogzcoder commented on #15849
@adityaparab : surely will :)

[2017-09-08 08:28] adityaparab commented on #15792
@benschac : Will submit PR today.

[2017-09-08 10:28] Vaidic commented on #13999
This is my first time getting started with open source software. Can I work on this?

[2017-09-08 14:35] ddeason37 commented on #15860
Hey Quincy - would like to give a try on this one, would be my first open source contribution

[2017-09-08 15:41] systimotic commented on #13999
@Vaidic For sure! Remember, if you need help, you can find us in the contributors chatroom linked above.

[2017-09-08 16:36] rmonastra opened #15863 "[Beta]Stock Price Checker project"
Hello,
I'm working on the stock price checker project.  The url to get stock prices doesn't work anymore.  I've found a Quandl npm, working with it at the moment.  I was wondering if this project will stay as is with the url not working anymore.

[2017-09-08 18:07] joshuaeyenike commented on #6073
thanks @misterds for helping me solve the problem.

[2017-09-08 19:33] fivefishstudios opened #15864 "Solutions to Challenges disappeared from "Map" topbar menu. But present in User Profile page. Then re-appeared again in Map menu."
I encountered a bug where my code solutions to the challenges disappeared on my account when accessed/viewed using the "Map" topbar menu option. The Challenge looks like it has never been touched. The code window is in its original state. So therefore, all the tests were also failing.

But clicking on the same Challenge from the User Profile page shows that my code solutions are still there. And t

[2017-09-08 20:52] Astroknut commented on #15860
@QuincyLarson I am looking for ways to make my first contribution and would love to have a go at this

[2017-09-09 01:32] QuincyLarson commented on #12966
Great work everyone. I'm closing this issue and we can reopen more specific issues as they crop up.

[2017-09-09 01:32] #12966 closed

[2017-09-09 07:08] GComputeNerd commented on #15860
Hello, I have been use open source software alot and would love to give back to the community. I help out in forums a lot of the time, but this would be the first time helping out by writing code instead of just fixing code.

[2017-09-09 08:59] marigerr commented on #12637
@raisedadead  @raghavraman

It looks like the Intro was already added Feb 6 and is live on beta site here:
https://beta.freecodecamp.org/en/challenges/advanced-node-and-express/advanced-nodeexpress-introduction

Commit that added the intro :
https://github.com/freeCodeCamp/freeCodeCamp/commit/8219ed4213f477a4c7c170f45cb69b0b246625fa

[code]

[2017-09-09 16:20] yama1951 opened #15867 "Make Unique Objects by Passing Parameters to our Constructor"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-09-09 17:49] yrahul3910 opened #15868 "[Bug] "Applied Visual Design: Change an Element's Relative Position" challenge in Beta curriculum does not work"
#### Challenge Name
[Applied Visual Design: Change an Element's Relative Position](https://beta.freecodecamp.org/en/challenges/applied-visual-design/change-an-elements-relative-position)

#### Issue Description
The correct solution isn't accepted, giving the output:
[code]

#### Browser Information

* Browser Name, Version: Firefox Nightly 57.0a1 (2017-09-08) 64-bit
* Operating System: Debian GNU/

[2017-09-09 19:36] QuincyLarson commented on #15860
Thanks everyone for commenting on this. I just now saw these comments. @aharcourt since you were the first person to respond to this, are you still interested? If so, please write back as in the next 24 hours. Otherwise I will release this to another potential contributor.

[2017-09-09 20:15] vkWeb commented on #15868
@yrahul3910 I tried to reproduce the error but I was unable to do so. I think it's a browser specific error(the beta version is highly unstable with Edge), have you tried the challenge in any other browser?

![](https://i.imgur.com/GjrphmT.png)
*Tested on Opera latest release.*

[2017-09-09 20:39] brockt opened #15869 "Logging In Takes Me To Someone Else's Account"
#### Challenge Name

#### Issue Description

I recently reset my password (it had been over a year since I had last logged in) and logged in to my account; however, it is not my account that I have access to. It belongs to someone else.

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-09-09 20:47] texas2010 commented on #15869
@brockt I have to remove your email for the safety reason in the issue Description.
More like it is your account since you log in your account with your email address. so it is not error or mistake in the database.

[2017-09-09 20:47] #15869 closed

[2017-09-09 22:56] QuincyLarson opened #15870 "Add a "Delete all of my solutions" button to /settings"
One of the most common support questions we get is: "I stopped doing freeCodeCamp a few months ago, and now I'm back. How can I erase all my solutions and start over from the beginning?"

Here is [our advice to campers when they encounter this situation](https://forum.freecodecamp.org/t/how-to-reset-your-progress-and-clear-your-solutions/146222).

We would like to add a "Delete all of my solutions

[2017-09-09 23:46] Manish-Giri commented on #15867
@yama1951 What's the issue?

[2017-09-10 02:05] Georgeyoo commented on #15860
Hello! I was just browsing through issues in this repo and ran into this. I'd very much like to go ahead and make these changes!

[2017-09-10 04:04] Aj1402 commented on #15870
I would like to work on this issue, hoping to add it asap!

[2017-09-10 05:07] scrabill commented on #15855
From the settings page, clicking Update my profile on Github does not give me an error, but I am redirected to www.freecodecamp.org/map. Is this the same error you are referring too?

[2017-09-10 05:27] BerkeleyTrue commented on #15855
This has been fixed. Happy Coding

[2017-09-10 05:27] #15855 closed

[2017-09-10 05:44] AshishkrGoyal opened #15871 "location provided by freecodecamp API is not correct everytime."
freecodecamp weather API is not showing correct location i.e. city using latitude and longitude of user.
sometimes it is correct but many times it shows wrong location.

Thanks

[2017-09-10 05:52] AshishkrGoyal commented on #15839
@ooade @QuincyLarson
i am not facing this issue while working with google chrome browswer

Screenshot of this as

![image](https://user-images.githubusercontent.com/25322851/30246520-3e3d73b8-961a-11e7-98d4-758d00255015.png)

Thanks 👍

[2017-09-10 06:19] yrahul3910 commented on #15868
I've tried and had the same issue on Firefox 54.0.1 32-bit (stable) running on Windows 7. And yes, it gets stuck on `// running test` in Edge. Sigh.

[2017-09-10 06:50] yrahul3910 commented on #15868
It works on Chromium too (kinda obvious since it works on Opera I guess). I'm not sure if this is a bug with other browsers or with FCC's beta.

[2017-09-10 07:07] dipikaisdbest commented on #15839
Yes this is true... I have been trying to fix this but everytime I try to find the loophole. It's not there.

[2017-09-10 12:30] systimotic commented on #15839
@AshishkrGoyal @dipikaisdbest To reproduce this error, try it on a challenge page of a challenge that has a preview. Any challenge in the `Responsive Web Design` section will show this error. You can use https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/headline-with-the-h2-element from the screenshot in the report as an example. These break because they have the "Side Panel," "Edit

[2017-09-10 12:32] ooade commented on #15839
@AshishkrGoyal This is a "beta" issue. Sorry for not making it clear

[2017-09-10 12:41] ooade commented on #15839
@systimotic There might be an issue here. I only tested it online when i reported the issue, it's a different case locally. The navbar assumes `font-size` of `15px` locally and `14px` online. Hmm... It changed the px at which it breaks, now 768px to 810px

[2017-09-10 12:59] rmonastra commented on #15871
Go to a site that checks your IP address, make sure it provides a location for you.  I ran into this problem and it was the ISP.  My ip address was coming from servers a few cities away.  Also, it could be some kind of security software you're running.

[2017-09-10 13:08] dipikaisdbest commented on #15839
@ooade right thanks..that's a clear direction..

[2017-09-10 13:09] ooade commented on #15839
@systimotic Will reducing the padding for 768px to 810px be cool? Yes, @dipikaisdbest add this to that file and you're good to go:
[code]

[2017-09-10 13:09] AshishkrGoyal commented on #15871
@rmonastra
what is the use of ip address in API while we are providing longitude and latitude for finding our location??

i think your solution will not work for me !!

Thanks 😄

[2017-09-10 13:24] ooade commented on #15840
I should take this. The first issue we have is the inline css used in styling the grids, maybe we can take it off and create a css file for it. Can we also make each grid a flexbox container? :sweat_smile:

[2017-09-10 13:27] dipikaisdbest commented on #15839
right...may be I was in the correct direction...font-size and padding..
Thanks.

[2017-09-10 16:45] rmonastra commented on #15871
Where are you getting the longitude and latitude?  Do you have fields where you can put in longitude and latitude?  This is my code to get longitude and latitude:

$.getJSON("http://ip-api.com/json", function(data2) {
      lat = data2.lat;
      long = data2.lon;
      console.log(long);
      console.log(lat);

If you go to http://ip-api.com/ it will show you the location of the device you're on

[2017-09-10 19:42] doughtz commented on #11263
How about creating Solution objects and add that Solution object ID to the user?

[2017-09-10 20:46] systimotic commented on #15868
Thanks for reporting this issue and looking into it @yrahul3910 @vkWeb!

This is a known issue we had with CSS tests in Firefox. This has been fixed recently with https://github.com/freeCodeCamp/freeCodeCamp/pull/15775
This change isn't on the beta site yet, but I can confirm that this work fine on the latest staging. Hopefully it'll go up soon!

I'm closing this as resolved. Happy coding!

[2017-09-10 20:46] #15868 closed

[2017-09-11 07:09] systimotic commented on #15839
@ooade I'm not sure. I'd definitely like to avoid `!important` if it's possible. It looks like we've previously touched the Bootstrap variables. https://github.com/freeCodeCamp/freeCodeCamp/blame/staging/client/less/lib/bootstrap/variables.less#L290 That might be the ideal solution here.

[2017-09-11 07:53] #15702 closed

[2017-09-11 12:54] ananaymital commented on #15864
I made this [Youtube Video](https://youtu.be/96nxsZLBmF0) in case someone was not able the issue here.

[2017-09-11 18:20] vkWeb commented on #15871
@AshishkrGoyal Actually many users have complained about freecodecamp's weather API. If it doesn't work well for you. You can try any of these, they all are pretty accurate:-
- [Open Weather API](https://openweathermap.org)
- [AccuWeather API](https://www.accuweather.com)
- [DarkSky API](https://darksky.net)

@systimotic, @QuincyLarson @Bouncey This issue can be closed now.

[2017-09-11 18:26] vkWeb commented on #15864
@systimotic This issue has been fixed with the help of @ananaymital. @fivefishstudios If the issue persists after following the video then please reply.

@systimotic @Bouncey @QuincyLarson  This issue can be closed as it's been resolved.

[2017-09-11 18:44] vkWeb commented on #12635
@systimotic I think this should be closed.

[2017-09-11 20:21] fivefishstudios commented on #15864
@ananaymital  made the video showing the problem (I only made screenshots).

I tried logging out and logging in again, the issue is still the same.  I have to load the solutions using the User Profile page so the "Map" menu will show the correct submitted solution (instead of the original, unanswered code).

I think this problem started when I changed some security settings on my browser, and Loca

[2017-09-11 20:31] shovanch commented on #15860
@QuincyLarson Hi, I am new to the open source community. Looking to make my first contribution. Would like to give a try on this.

[2017-09-11 20:37] QuincyLarson commented on #15860
OK @Georgeyoo, can you confirm whether you're able to work on this? If so, you can have it. If not, we can let @shovanch tackle it.

[2017-09-11 20:40] QuincyLarson commented on #15864
@fivefishstudios Can you do a hard refresh, then try again?

[2017-09-11 20:42] QuincyLarson commented on #15871
@vkWeb OK - I will close this issue. Rather than recommending other APIs (which unlike the one we set up, require API keys) we should try to fix any outstanding issues with our API. Could you open issues for specific problems with the API that you think needs to be fixed?

[2017-09-11 20:42] #15871 closed

[2017-09-11 20:44] Georgeyoo commented on #15860
@QuincyLarson Confirmed. I will get it done!

[2017-09-11 20:47] shovanch commented on #15870
@QuincyLarson Would love to give a try on this one. This would be my first contribution

[2017-09-11 20:47] QuincyLarson commented on #15870
@Aj1402 Awesome! Have you been able to get the freeCodeCamp codebase running on your local computer? Let me know if you have any questions.

[2017-09-11 20:48] QuincyLarson commented on #15870
@shovanch wow - you commented right at the exact moment I did. Yes - if you want to take a look at it too, you can.

[2017-09-11 20:49] shovanch commented on #15870
Cool. Working on it.

[2017-09-11 20:53] QuincyLarson commented on #15792
@adityaparab were you able to fix this? I saw your old closed PR but couldn't find your follow-up PR. Please confirm you're still working on this.

[2017-09-11 20:55] QuincyLarson commented on #15849
@adityaparab Have you made any progress on this? Let me know if I can be of any help here. Thanks for helping fix this.

[2017-09-11 20:57] QuincyLarson commented on #15857
@mstellaluna Thanks for reporting this. I noticed this as well.

@BerkeleyTrue shipping the beta platform is a much higher priority - can you think of a quick fix for this for now?

[2017-09-11 21:00] QuincyLarson commented on #15854
@Esslamb Awesome! Since @adityaparab is already tackling a few other issues, we would welcome your help with this. Have you managed to get freeCodeCamp running on your local computer yet?

[2017-09-11 21:02] QuincyLarson commented on #15729
@zk433 @chiefoleka @Exclusiveyash How is this going so far? Let me know if there's anything blocking your path here. We are all extremely excited about a reactified, updated user profiles 😄

[2017-09-11 21:05] QuincyLarson commented on #15388
@DusanSacha Yes. I'll re-open it. We're eager to accept your pull request

[2017-09-11 21:09] #12634 closed

[2017-09-11 21:26] QuincyLarson commented on #15864
@fivefishstudios Thanks for your patience, and for creating that video.That's a great way to record the steps to reduce a bug.

We are planning to move all of this functionality out of local storage, and only store the current challenge campers are working on in their local storage. The only reason we do this at all is to prevent campers from losing their work on a given challenge if they accident

[2017-09-11 21:26] #15864 closed

[2017-09-11 21:26] QuincyLarson commented on #15860
@Georgeyoo Awesome - thanks for your fast response 😄  Let me know if I can do anything to help.

[2017-09-11 21:28] shovanch commented on #15870
@QuincyLarson Is it only needed to add the button with modal? Does the button have to perform the actual deleting action from database?

[2017-09-11 21:29] QuincyLarson commented on #15704
@systimotic Yes - please see if you can get the syntax highlighting to work in the light theme. Ideally, switching to dark mode would also switch the Codemirror theme back to the old dark theme. That's probably a separate issue, but since you're digging around in there, I thought I'd mention this.

[2017-09-11 21:32] QuincyLarson commented on #15848
@tchaffee Thanks for your patience. All of these projects should be forked and maintained in the freeCodeCamp CodePen account. @raisedadead has full access to it, and I can give you full access to it, too, if you want. We just need to be careful not to delete any existing projects in there because production references these.

[2017-09-11 21:36] Esslamb commented on #15854
Hi @QuincyLarson sorry for not posting an update, I actually got hung up on making my personal portfolio into a PWA. It's very interesting/distracting stuff.  I did actually get freeCodeCamp running, was going in blind as I'm on Ubuntu but it was easy enough. In terms of a fix I actually wanted to ask if you had a preferred method or suggested way to fix it. Keep in mind this is my first time pull

[2017-09-11 22:20] QuincyLarson commented on #15826
@adityaparab Awesome. Thanks for your help. Please keep us posted on your progress with this.

[2017-09-11 22:36] joncancode commented on #15860
@QuincyLarson I'd also love to work on this, but will definitely wait in line for those before me.

[2017-09-11 22:47] #15772 closed

[2017-09-11 22:55] #14306 closed

[2017-09-12 00:21] kevcomedia opened #15876 "Email address update crash"
Someone posted the following in the forum regarding updating their email ([link to post](https://forum.freecodecamp.org/t/e-mail-address-update-crash/147405)):

I tried this myself and confirmed the empty blue bar.

I'm not sure if this is related to #15822, but it's the only open issue I found about updating emails.

[2017-09-12 03:08] pranavchauthaiwale commented on #15860
Hi @QuincyLarson . I would love to contribute to this project. This is my first contribution to open source community. Please let me know what I can do to help.
Many Thanks.

[2017-09-12 06:35] AshishkrGoyal opened #15878 "Weather API issues"
This is a follow up on https://github.com/freeCodeCamp/freeCodeCamp/issues/15871#issuecomment-328652410
There are two major issues with the weather API:

- [ ] Temperature issue. Many times, it shows minimum and maximum temp equal and it changes when you reload, which is not possible practically.
- [ ] Location is wrong. The location provided by the API is not perfect. In many cases, it's complete

[2017-09-12 07:10] ryanbsherrill commented on #15854
Hey @QuincyLarson and @Esslamb Would like to assist if there's anything I can do on this.

[2017-09-12 11:27] odv opened #15879 "[challenge]Accessing Nested Arrays has no hint link"
#### Challenge Name

https://www.freecodecamp.org/challenges/accessing-nested-arrays

#### Issue Description

When you click the 'Get a hint' button it returns a forum page with the following message **Oops! That page doesn’t exist or is private.**

#### Browser Information

* Browser Name, Version: Chrome, Version 61.0.3163.79 (Official Build) (64-bit)
* Operating System: Ubuntu 17.04
* Mobile, D

[2017-09-12 14:22] vkWeb commented on #15871
@QuincyLarson I'll surely open an issue about the fixes needed in the API to work accurately.

[2017-09-12 18:13] RohitNethi commented on #15860
@QuincyLarson I would love to contribute to this too. Will keep a look out for future issues.

[2017-09-12 19:58] DusanSacha commented on #15388
@QuincyLarson Yes. I would love to desing the new challenges! I am going to create a new PR for it. Thank you!

[2017-09-12 19:58] zk433 commented on #15729
@QuincyLarson,   @Exclusiveyash is working on the HTML and CSS now, I and @chiefoleka will attempt to reactify it. I was busy over the past few days but I'll get to it this week. If we struggle, you'll be the first to know :)

[2017-09-12 21:06] cd-Zero commented on #5808
.env file's APP_URL must equal the GitHub submitted Authorization callback URL

to fix copy and paste APP_URL  into the Authorization callback URL when updating application on GitHub

[2017-09-13 01:53] rmonastra commented on #15878
Post your code so we can see if we can figure out what's causing this problem.

[2017-09-13 06:17] omerharshit commented on #15860
This is my first time in github open source and i am finding that open source community contribution very useful.

[2017-09-13 06:22] omerharshit commented on #15870
This would be my first open source project contribution . Can i work on this issue.

[2017-09-13 08:49] raisedadead commented on #15876
@kevcomedia Thanks for reporting, are they facing it on production i.e `freecodecamp.org` ? #15822 is unrelated because it's about a new auth mechanism which is under development and is not available on the live site yet.

The easiest way is to reach out to team@freeCodeCamp.org for help.

Thanks.

[2017-09-13 09:13] Masd925 commented on #15388
I have also spent a lot of time on the help forums explaining people about functions, function calls, parameters, arguments, and return values. I have also given considerable amount of thought on how these things can be explained. What I have found to be the problem is that parameters and arguments cannot be fully explained without mentioning the concept of an execution context. Without it, every

[2017-09-13 09:18] kevcomedia commented on #15876
Yes, it's indeed on `freecodecamp.org`.

That thread still hasn't received any responses yet. I've just sent @QuincyLarson an invite to that thread.

I don't think emailing `team@freecodecamp.org` would be easiest because Quincy said a few days ago that those who send an email will now receive an auto-response that links to the Support category in the forum.

[2017-09-13 11:51] raisedadead commented on #15876
Thanks. And Agreed.

But individual account issues would still need to be taken up by those having access to the DB and in most cases over private emails because they would not be wanting to expose emails/credentials on the forum.

In any case coming to the reported issue:

Can you confirm that your settings page shows your updated email or not? Did you happen to by any chance see this on any othe

[2017-09-13 14:58] kevcomedia commented on #15876
Looks like the empty blue bar appears when you enter your current email address. I entered a different email address and successfully updated. I did all that in Firefox.

But I'm not sure if this is due to that recent PR that you mentioned. OP did say they entered a new email address when they tried to update. I asked them if they have already updated their email.

[2017-09-13 17:25] manohar566 commented on #15860
I wish I was assigned. @QuincyLarson

[2017-09-13 18:23] fizzvr opened #15882 "Unknown prop `onClose` on <a> tag"
#### Issue Description
When starting the project got a Warning about **no props "on close"**, the map challenges is not display correctly. Just check the screenshots. The only command running is "gulp" after running
[code]

#### Browser Information

* Browser Name, Version: Chrome, 60
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

#### Screenshot
![image](https://user-images

[2017-09-13 18:37] ananaymital commented on #15476
You can add "?run=disabled" at the end of the link.
For Example: https://www.freecodecamp.org/challenges/sum-all-odd-fibonacci-numbers?run=disabled
and then reset your code.
Note: You won't be able to run your code unless your remove disabled portion from the url(preferably done after resetting the code).

@BerkeleyTrue @erictleung I think it's safe to close this issue.

[2017-09-13 21:14] erictleung commented on #15476
@ananaymital thanks! Closing as not an issue with the site. @thomaswtx please take a look at the `?run=disabled` advice above. Happy coding!

[2017-09-13 21:14] #15476 closed

[2017-09-13 21:24] erictleung commented on #15863
@rmonastra thanks for the issue. I'm assuming the URL you're referring to is https://giant-chronometer.glitch.me/? If so, I can confirm it appears to not be working anymore, unless I'm using it wrong.

cc/ @freeCodeCamp/moderators

[2017-09-13 21:26] erictleung commented on #15878
@AshishkrGoyal thanks for the issue. It is a bit unclear to me which freeCodeCamp API you're referring to. Are you talking about a challenge itself or the freeCodeCamp website? Also next time, please fill out the issue template so it helps us understand your issue more clearly. Thanks!

[2017-09-14 00:43] rmonastra commented on #15863
@erictleung, the url is: _https://finance.google.com/finance/info?q=NASDAQ%3a + stock(GOOG,INTC, etc)_.  Google and Yahoo have stop supporting these APIs.  I've found 2 free APIs, Quandl and Alpha Vantage but they don't let you call multiple stock symbols unless you download the report.

[2017-09-14 01:54] caspervonb commented on #15860
#15884

[2017-09-14 05:48] shovanch commented on #15870
@QuincyLarson Just a question, Is it only needed to create the button or the button must also perform the delete action from database?

[2017-09-14 07:56] ananaymital commented on #15122
@mhdns Please reply whether your issue was resolved so we can close this Issue.

[2017-09-14 08:54] adityaparab commented on #15826
@QuincyLarson Sorry for delayed response. I've been travelling a lot for last couple of weeks and have no internet access on my laptop as of now. I'll be submitting PR for this and other two issues this weekend.

[2017-09-14 08:58] adityaparab commented on #15792
@QuincyLarson Yes. This is fixed. Will be submitting PR this weekend. The reason I closed previous PR was that I found one small corner case issue where the navbar dropdown styling breaks between 768px to 992px. I've added another media query breakpoint to handle this. Will submit PR this weekend.

[2017-09-14 09:00] adityaparab commented on #15849
@QuincyLarson PR coming up this weekend. :) Sorry I have unreliable internet access during travel.

[2017-09-14 16:48] iam13islucky opened #15885 "[Beta] Content overflows when width <= 1030"
#### Challenge Name

All API and Microservice parts except for the introductions

#### Issue Description

When the width of the browser is less than 1031px, the text overflows off either side when viewing an API challange. This occurs regardless of if the map is open as well.

To reproduce, resize your browser while viewing one of the API challenges on beta.freecodecamp.com.

#### Browser Informat

[2017-09-14 17:04] bonebizz21 commented on #15885
Maybe this will help

[2017-09-14 17:29] iam13islucky commented on #15885
What do you mean? Maybe what will help?

[2017-09-14 21:13] bonebizz21 commented on #15717
Remove

[2017-09-15 02:26] qmikew1 commented on #15879
Can confirm this as well (chrome 60, linux - 64) - I initially thought this was a login issue (because log in button/confirm is present in camper's screenshot), however, independent of login status same message is displayed. Though, a different challenge, this might be similiar to what's described in #15609 _(maybe the forum page needs to be updated)_

[2017-09-15 11:56] AshishkrGoyal commented on #15878
@erictleung  i am talking about weather API of freecodecamp.
Thanks 👍

[2017-09-15 15:33] honmanyau commented on #15885
If I'm not mistaken this has already been addressed with #15022.

[2017-09-15 16:57] iam13islucky commented on #15885
Very well might have, I didn't see that. But, if it was, it still isn't pushed onto the beta site.

[2017-09-15 20:03] systimotic commented on #15885
Thanks for reporting this issue @iam13islucky!

Good catch @honmanyau! This issue is indeed present in the beta, but I just checked, and it has been resolved in staging, so I'm closing this issue.

Happy coding!

[2017-09-15 20:03] #15885 closed

[2017-09-15 20:49] systimotic commented on #15879
Thanks for reporting @odv and looking into this @qmikew1!

@m-henderson In #15609 you mentioned the link should be changed. However, this broke because the challenge names were changed. The titles of the forum posts need to be updated to match the challenge names (removing the JSON parts). Is it possible to also update the URL?

[2017-09-16 12:06] aguscha333 commented on #15860
Why has this been opened again? Does this mean that the issue still needs fixing? if so I would love to help.

[2017-09-16 16:03] ananaymital commented on #12744
@OFFLlNE @QuincyLarson I think this issue has somehow been resolved. The link seems to work alright. Please confirm.

[2017-09-16 16:29] Georgeyoo commented on #15860
@aguscha333 My apologies for it being a little confusing! I closed #15884 due to a poorly written commit message and differing npm version

[2017-09-16 17:33] WebTeenager opened #15888 "The issue to updating my e-mail"
#### Issue Description

I want to update my e-mail but when I typing new e-mail address I see the following answer (on the screen below).
There is no text on the blue line. I can only close this page or “Go back to Settings”.
New mail box is empty (spam list too).
Can you help me?

#### Browser Information

Using freecodecamp.org (not beta.freecodecamp.org)
* Browser Name, Version:  Google Chrome

[2017-09-16 19:12] ahstro commented on #15467
If we want them to be [Open Badges](https://openbadges.org/) (which I strongly encourage), it would probably make sense to have technology-specific ones, or ones that lean more towards *"this is a concrete skill I have"* instead of *"this is a semi-abstract achievement I've completed"*, if that makes sense?

[2017-09-17 11:19] raisedadead commented on #15876
Related https://github.com/freeCodeCamp/freeCodeCamp/issues/15888#issue-258246390

[2017-09-17 11:19] raisedadead commented on #15888
Duplicate issue of https://github.com/freeCodeCamp/freeCodeCamp/issues/15876

[2017-09-17 11:19] #15888 closed

[2017-09-17 11:34] raisedadead commented on #15876
@QuincyLarson @BerkeleyTrue I cannot seem to reproduce this locally.
/cc @WebTeenager

[2017-09-17 13:51] raisedadead commented on #9402
@QuincyLarson yes, I intend to. But let's wait for a stable beta with passwordless well tested in the field.

[2017-09-17 15:57] WebTeenager commented on #15876
Hi.
I used to updated e-mail just Google Chrome v60 x64. And nothing happend - same blue bar and no one letter in my new e-mail box.
I dowloaded Mozilla and  one minute ago I've changed my mailbox to a new one in Mozilla successfully.

[2017-09-17 16:27] raisedadead commented on #15876
@WebTeenager it's highly possible that it could be happening due some browser add-on or extension that you may have on chrome.

You could test this theory by opening up an incognito window with all add-ons disabled.

If that is the case, then it's definitely down to your browser.

[2017-09-17 16:29] QuincyLarson commented on #15876
@raisedadead other than @WebTeenager and @kevcomedia has anyone else reported this issue? I've messaged @BerkeleyTrue and asked if he can look into this. Something may have changed in Chrome - or some of the recent changes he made around authentication may be affecting this.

[2017-09-17 16:30] QuincyLarson commented on #9402
@raisedadead OK. Sounds good.

[2017-09-17 16:37] QuincyLarson commented on #12744
@ananaymital Yes - agreed. This seems to have been fixed. Thanks!

[2017-09-17 16:37] #12744 closed

[2017-09-17 16:39] QuincyLarson commented on #15860
@Georgeyoo Thanks again for fixing this! I'm closing this issue.

[2017-09-17 16:39] #15860 closed

[2017-09-17 18:20] WebTeenager commented on #15876
I opened the browser in incognito mode and updated my e-mail successfully.
But then I tried to close all Google extensions (reboot browser) and repeat the update of the e-mail. Met the sam problem.

[2017-09-17 19:42] adityaparab commented on #15870
@shovanch : of course, the button needs to perform delete operation on the user's model in the db.

It should happen in following steps
1) user clicks button to clear their progress
2) confirmation modal is shown
3) in confirmation, the API call is to be made to backend, that will reset property called "challengesMap" on user model. (Although I'm not sure if the property name is correct)

[2017-09-18 03:27] ai3gtmc opened #15897 "[challenge] Element gets doubled after a success"
#### Challenge Name

https://www.freecodecamp.org/challenges/clone-an-element-using-jquery

#### Issue Description

The #target5 gets doubled on the left well after a success run test, the test passes but the UI shows 2 of them even though there's only on inside the script.

#### Browser Information

* Browser Name, Version: Chrome, Safari
* Operating System: Mac OS
* Mobile, Desktop, or Tablet: L

[2017-09-18 04:22] QuincyLarson commented on #15870
@shovanch Yes - what @adityaparab said.

It should completely clear `completedChallenges` and all of the challenge-related objects in `progressTimestamps` so that the user object is as though it was just created, though all the non-challenge related objects in `progressTimestamps` should still be intact. As should any other attributes, like their username and bio.

[2017-09-18 04:23] QuincyLarson commented on #15876
@WebTeenager Thanks for the additional information. We're looking into this to see if we can reproduce this and fix it.

[2017-09-18 04:24] QuincyLarson commented on #15849
@adityaparab No worries. Thanks for keeping us posted.

[2017-09-18 04:26] QuincyLarson commented on #15826
@adityaparab Thanks for keeping us posted on this :)

[2017-09-18 04:29] QuincyLarson commented on #15863
@rmonastra Thanks for letting us know. Can you see if you can find a good API that will let you call multiple stock symbols?

If it requires an API key, we could build a Glitch.com pass-through app, like we did with the Local Weather app's API.

[2017-09-18 04:30] QuincyLarson commented on #15388
@Masd925 can you think of an interactive way (through coding in the browser) to introduce concepts of execution context? We don't want a lecture video or a wall of text in the middle of these challenges, so we would need for such concepts to blend in with the other challenges.

[2017-09-18 04:31] QuincyLarson commented on #15388
@DusanSacha Thanks! Have you had time to work on any of these yet?

[2017-09-18 04:32] QuincyLarson commented on #15729
@zk433 Thanks for keeping me posted on this. I'm happy to help as necessary. My advice is demo early and often to get feedback :)

[2017-09-18 04:39] QuincyLarson commented on #15854
@Esslamb Have you had a chance to look into this? Note that you'll have to fork off of the backup/master branch.

If you need help, but @ryanbsherrill and I are here on this thread to answer questions - just keep us posted :)

[2017-09-18 04:58] QuincyLarson commented on #15639
@jhomme OK - that is very helpful. I think you're right - there is probably some aspect of Bootstrap's modals that makes them unreachable by tabbing - which may be caused by code that's altering the tab index.

@P-WM would you be interested in taking a look at this? Ideally, we could solve this problem for all Bootstrap modals - we might even be able to contribute this code back to Bootstrap itsel

[2017-09-18 05:00] QuincyLarson commented on #13798
I closed this issue in error - this is still something we actively want to accomplish. Updating labels accordingly.

[2017-09-18 05:02] QuincyLarson commented on #13798
@BhaveshSGupta Are you still interested in helping us update these icons?

[2017-09-18 05:03] QuincyLarson commented on #15739
@sblasa We would welcome your help on this issue and on #13798 (which should probably be done first).

[2017-09-18 05:07] QuincyLarson commented on #14559
@BerkeleyTrue we should err on the side of caution wait several weeks after passwordless is running smoothly before we delete all the passwords, just in case something goes wrong and we need to roll back.

[2017-09-18 05:10] QuincyLarson commented on #7925
@Motardo I definitely agree that Plan C makes the most sense.

Given that it's been 15 days since you posted this, have you improved much with React and RXJS? This might be a good challenge to push the limits of your client side scripting abilities to the next level 😉

[2017-09-18 05:11] QuincyLarson commented on #15617
@Manish-Giri I agree with @systimotic - would you be interested in applying this change to staging as well?

[2017-09-18 06:01] BhaveshSGupta commented on #13798
@QuincyLarson  yes I am in.

[2017-09-18 07:09] raisedadead commented on #14559
@QuincyLarson I believe we will be taking a dump of the DB before the switch and we can keep the DB as long as required.

[2017-09-18 07:14] Masd925 commented on #15388
I think it would be enough to have a simple function declaration and maybe two function calls after that. Then a couple of sentences of text that explains parameters, arguments and the execution context. That might fit into some existing challenge perhaps.

[2017-09-18 07:28] shovanch commented on #15870
@QuincyLarson @adityaparab Got it. Hoping to give status update ASAP.

[2017-09-18 07:29] shovanch commented on #15870
@QuincyLarson @adityaparab Understood. Hoping to give status update ASAP

[2017-09-18 07:29] shovanch commented on #15870
@QuincyLarson @adityaparab Thanks for the explanation. Hoping to give status update ASAP

[2017-09-18 07:38] Esslamb commented on #15854
No update as of yet, I dropped a reply 6 days ago asking if you had a preferred method on how you wanted me to deal with it? But I guess I will just use my initiative. 👍

[2017-09-18 08:38] systimotic commented on #15857
I think #15861 should close this

[2017-09-18 15:23] QuincyLarson commented on #13798
@BhaveshSGupta Awesome! Let me know if I can do anything to help.

[2017-09-18 15:43] QuincyLarson commented on #14559
@raisedadead Yes - we take database dumps every day. But restoring a dump would be a serious pain. So instead, I propose we wait a few weeks before deleting the passwords, just to make sure passwordless works as expected and we don't need to revert to using passwords temporarily.

[2017-09-18 15:44] QuincyLarson commented on #15388
@MAF27 Great! That sounds reasonable. It's fine for it to span multiple challenges if you think it's necessary to drive home the point. Do you want to start creating the challenges?

[2017-09-18 15:45] QuincyLarson commented on #15870
@shovanch Sure thing. Please let me know if I can be of further help. Thanks for helping implement this!

[2017-09-18 15:47] QuincyLarson commented on #15854
@Esslamb I think this will be handled entirely in the controllers. Instead of sending campers to the signin page, the URL itself should sign them in and redirect them to the first challenge. Let me know if I can be of further help with this.

[2017-09-18 17:27] moT01 commented on #15839
hey @dipikaisdbest, have you made any progress with this? I thought I would give it a try and came up with something but im not sure about it. Maybe we can collaborate a little.

[2017-09-18 17:48] dipikaisdbest commented on #15839
hi @moT01 please go ahead....I am not able to make a concrete progress on this as yet. It would be good if we could collaborate on this... Your inputs are more than welcome.

[2017-09-18 17:58] rmonastra commented on #15863
@QuincyLarson, I'll continue looking for an good free API(with or without an API key) for stock prices.  In the event one can't be found, I was wondering if another subject besides stocks can be used.  I haven't looked into different subjects yet.  If I can find a subject that works similar, I'll post those API for a backup.

[2017-09-18 18:04] moT01 commented on #15839
Well, I was looking for an issue I could maybe handle, this one didn't look too tough. I thought I came up with a solution last night and made a PR. After testing it a second time - it wasn't working like I thought it was. So I closed it, rethought about it this morning and came up with something else, real similar to what was described in earlier posts. It seems to work, so I made another PR, and

[2017-09-18 18:45] seifsg opened #15899 "Leaderboard"
Hello,

This is a request for a new feature.

It would be nice to have a leaderboard functionality based on different criteria, by country for example.
@QuincyLarson

Thanks!

[2017-09-18 20:00] dhcodes commented on #15899
@seifsg there is actually a [leaderboard project](https://www.freecodecamp.org/challenges/build-a-camper-leaderboard) as part of the DataViz projects that determines ranking by brownie points. With the move the the forum, however, it is less accurate and does apply at the country-level.

https://codepen.io/freeCodeCamp/full/eZGMjp

[2017-09-18 20:01] dhcodes commented on #15897
Hi, @ai3gtmc. Thanks for the issue. This is fixed in the beta which will rollout eventually. Closing as duplicate of #15174

[2017-09-18 20:01] #15897 closed

[2017-09-18 20:13] seifsg commented on #15899
@dhcodes I meant a tab or some official page to the FCC project itself.
Plus the points system is a bit unfair to those who only want to go for starred map items.
So what I meant is a leaderboard system integrated within the FCC site that counts, for example, the people who finished all certificates or countries with most campers etc..

[2017-09-18 20:27] dhcodes commented on #15899
@seifsg Thanks for explaining. Would you like to build a prototype?

[2017-09-18 20:44] seifsg commented on #15899
@dhcodes Yes. But I still don't know so well on how to properly contribute. Are there any restrictions on delivery time?

[2017-09-18 20:56] sblasa commented on #15739
@QuincyLarson @raisedadead  okay, so I should work with @BhaveshSGupta on this #13798  and do that issue first with the list that @BhaveshSGuptaI created. I just glanced through the issue just now. Thanks!

[2017-09-18 21:01] tchaffee commented on #15848
@QuincyLarson I've tested the credentials you sent me and they work. So I'm happy to take this on now if someone wants to assign it to me. Just an FYI - I'm traveling for a couple of weeks starting tomorrow and I'm not sure when I'll get to this, but I definitely will.

[2017-09-18 21:44] zglrx99 opened #15900 "Couldn't get acces to freecodecamp.org"
Hello,

I couldn't visit freecodecamp because of bad gateway 502 error.
![image](https://user-images.githubusercontent.com/25727023/30566178-9d258108-9cd3-11e7-9bd3-2f398c607af7.png)

[2017-09-18 21:56] Chasls commented on #15900
same problem with me. But the forums are working

[2017-09-18 22:39] Manish-Giri commented on #15617
@systimotic @QuincyLarson Done!

[2017-09-18 22:41] texas2010 commented on #15900
@zglrx99 @Chasls thank you for the report.

@QuincyLarson @BerkeleyTrue, let you know. the freeCodeCamp site is down.

@Chasls forum and fcc site are on the separate server. if you wonder.

[2017-09-18 22:51] Chasls commented on #15900
@QuincyLarson Any update when it will be up?

[2017-09-19 05:55] Masd925 commented on #15388
I think there is already a challenge that explains parameters and arguments: `Passing Values to Functions with Arguments`. The description could be rewritten to include the concept of an execution context and hopefully make it a bit clearer what parameters and arguments are.

[2017-09-19 08:48] vkWeb commented on #15900
@texas2010 @Chasls @zglrx99 It's up and running now. Happy coding. ✨

[2017-09-19 08:48] vkWeb commented on #15900
@QuincyLarson @systimotic @BerkeleyTrue @raisedadead Issue can be closed now.

[2017-09-19 09:52] texas2010 commented on #15900
@vkWeb, Yeah. it is up again.  and now I could close this issue.
It was down for few hours. so it is fine now.
have a nice day.

[2017-09-19 09:52] #15900 closed

[2017-09-19 12:38] Chrono79 commented on #15388
Yes, there is. But it's after (at least in the current FCC map) the challenges that use the concept of parameters and arguments, that's why I asked for a change of order so it is properly introduced.

[2017-09-19 13:14] ilaiyarajak opened #15903 "Update email unsubscribe links to use a hash instead of an email"
#### Challenge Name

Update email unsubscribe links to use a hash instead of an email

#### Issue Description

Last week I received an email from Quincy Larson. In that I have seen unsubscribe link is linked with email address(https://www.freecodecamp.org/unsubscribe/emailaddress).
Using this kind of unsubscribe link, someone can easily unsubscribe me eventhough I wanted to get emails..

#### Brow

[2017-09-19 23:14] QuincyLarson commented on #15876
@BerkeleyTrue and I have reproduced this locally. The backend works fine here - this is just an issue with the view logic. Is anyone interested in fixing this?

[2017-09-20 04:48] fizzvr commented on #15899
Sounds good a internal ranking.

[2017-09-20 05:42] DusanSacha commented on #15388
@QuincyLarson no, I haven't worked on these challenges yet. I am going to work on drafts during this weekend.

[2017-09-20 08:10] systimotic commented on #15768
Thanks for reporting this issue and looking into it!
I can confirm that there are definitely some problems with this API, both in getting the correct location and in getting the right temperatures. We're going to work on resolving this through #15878, so I'm closing this issue in favor of that. If anybody has more information, please post it there.

Happy coding!

[2017-09-20 08:10] #15768 closed

[2017-09-20 08:54] systimotic commented on #13613
@BhaveshSGupta The issue has been resolved! Can you submit a PR to fix this?

[2017-09-20 08:58] systimotic commented on #15878
Thanks for reporting this @AshishkrGoyal!

Useful links:
[Show the local weather challenge](https://www.freecodecamp.org/challenges/show-the-local-weather)
[API](https://fcc-weather-api.glitch.me/)
API source - can't find this yet (@MiloATH or anybody else, do you have a link for this?)

I can confirm that the API can act a bit weird. I'll share some links and tell you what's wrong.
- [?lat=30.249

[2017-09-20 09:14] AshishkrGoyal commented on #15878
@systimotic
sure i will share with you my pen ASAP!!!
thanks for concerning 👍

[2017-09-20 09:49] himanshukhosla123 opened #15904 "Make the success modal static"
#### Issue Description

success popup closes while clicking on the black screen around modal , so it will good if we make it static . What do you say . we just need to add data-dropback="static" in modal div

[2017-09-20 11:29] AshishkrGoyal commented on #15878
@systimotic it is link for my codepen here you can see the complete code for my project which is developed with using freecodecamp API.
https://codepen.io/AshishkrGoyal/full/GvBprw

Thanks 👍

[2017-09-20 12:58] mstellaluna opened #15905 "Study Group Directory link broken"
#### Challenge Name

#### Issue Description

When using this forum post https://forum.freecodecamp.org/t/how-to-create-a-local-study-group/19532 to access the study group directory listing it shows the following error:

![image](https://user-images.githubusercontent.com/22984739/30644846-c5f02caa-9de1-11e7-8dbc-c3e6b18a369d.png)

I don't see any other link on the website or on the forum.

#### Bro

[2017-09-20 13:10] mstellaluna commented on #15905
I found it on the beta side going to Community - In your city but nav bars are different between production and beta. Is there a way to update or include this link on the production side? Maybe in the About page?

https://forum.freecodecamp.org/t/freecodecamp-city-based-local-groups/19574

[2017-09-20 13:21] raisedadead commented on #15899
Hi, @seifsg

However interesting this might sound, we will not have a leaderboard, due to a policy.
We DO NOT encourage competition via the UX of the platform

That's because most users are new to programming, while it may sound great to have a competing page where you can see who is leading, it's often daunting for newcomers.

Also, any such system can be fooled into motivated rewarding of points

[2017-09-20 13:21] #15899 closed

[2017-09-20 15:22] systimotic commented on #15904
Hi @himanshukhosla123! Thanks your interest in the project.

Can you clarify what you mean by this? What benefit would adding `data-dropback="static"` have?

[2017-09-20 15:39] himanshukhosla123 commented on #15904
sir , whenever i complete a task , the success pop-up that shows up ,
closes when i click around the modal i.e black background and after that i
have to again click on test button to open modal , which in not good in
terms of Ui flow . This , was just a suggestion from my side

On 20 September 2017 at 21:03, Timo <notifications@github.com> wrote:

[2017-09-20 15:56] vkWeb commented on #15905
@BerkeleyTrue @texas2010 @systimotic  I confirm the issue. The original study group directory link is broken.
Official link: https://www.freecodecamp.com/study-group-directory/

@mstellaluna Thanks for telling us about it 👍

[2017-09-20 18:12] MelUK2017 commented on #15905
I am getting the same error message about /study-group-directory/ not being found, but I came across the error whilst completing the challenges section of the website, specifically on https://www.freecodecamp.org/challenges/join-a-freecodecamp-study-group-in-your-city

[2017-09-20 18:40] BerkeleyTrue commented on #15903
@ilaiyarajak Thanks for the issue. While this is indeed possible it is a low risk and low reward. We will eventually move this to our email service which will provide use with anonymizing service but for now we will close this issue.

Happy Coding.

[2017-09-20 18:40] #15903 closed

[2017-09-20 18:41] BerkeleyTrue commented on #15904
@himanshukhosla123 Thanks for the issue but this is an accept UI practice to have a modal close when clicking on the blacked out background.

Happy Coding.

[2017-09-20 18:41] #15904 closed

[2017-09-20 18:42] dhcodes commented on #15904
While I cannot find any specification or "best practice" from a reliable source, I find that clicking outside a modal to close it is preferable to not, especially on mobile.

[2017-09-20 18:42] dhcodes commented on #15904
Berkeley beat me to it.

[2017-09-20 22:36] BerkeleyTrue commented on #15857
This should now be fixed

[2017-09-20 22:36] #15857 closed

[2017-09-21 01:04] kevcomedia opened #15906 "Shopping list JS challenge redirects to shop"
#### Challenge Name

https://www.freecodecamp.org/challenges/shopping-list

#### Issue Description

Visiting the challenge URL redirects to the freeCodeCamp shop. I tried going to the challenge via the map and my profile page. Both of them redirects.

[2017-09-21 01:30] texas2010 commented on #15906
@BerkeleyTrue, I think this case for you.

[2017-09-21 05:40] samsdj commented on #9699
https://www.freecodecamp.com/username does not opens , can anyone help me get it my freecodecamp username

[2017-09-21 07:33] vkWeb commented on #15878
@systimotic @AshishkrGoyal We have been receiving many complaints regarding the Weather API. I would like to talk about this in detail.

![Weather Issue FCC - Desktop](https://i.imgur.com/lHTTfkf.png)
*Weather on Desktop - By FCC Weather API*

![Weather Issue FCC - Desktop](https://i.imgur.com/v2OWNoh.png)
*Weather on Desktop - By https://weather.com*

![Weather Issue FCC - Mobile Device](https://

[2017-09-21 07:51] BhaveshSGupta commented on #13798
@QuincyLarson finally here we would be replacing as per [this](https://github.com/freeCodeCamp/freeCodeCamp/issues/13798#issuecomment-289208390) and would be using svg images which are provided by @iHarshad as per [this](https://github.com/freeCodeCamp/freeCodeCamp/issues/13798#issuecomment-311570179) and would also add this images to freeCodeCamp/assets as per @raisedadead

[2017-09-21 11:46] raisedadead commented on #13798
@BhaveshSGupta That is perfectly correct!

[2017-09-21 13:55] MiloATH commented on #15878
I made a repo for the glitch app. Please see https://github.com/MiloATH/WeatherAPI. I am more than willing to transfer ownership to freeCodeCamp if they want the project. I still need to add continuous integration and there are other things which could make this better. This is still a work in progress, but it is in the right direction. Also, it might be cool if we list campers projects on the lan

[2017-09-21 18:00] QuincyLarson commented on #15878
@MiloATH Awesome! Yes - once it's ready, load it into Glitch and share a link to it. We can then "remix" it (fork it) from your account to freeCodeCamp's Glitch account, then update the URL in the challenge. Please let me know once you're ready for us to do that. I would keep this as simple and functional as possible.

[2017-09-21 18:06] QuincyLarson commented on #13798
@BhaveshSGupta Yes.

[2017-09-21 18:08] QuincyLarson commented on #15899
@seifsg As @raisedadead said, we want to encourage cooperation, rather than competition. This said, you're welcome to create a stand-alone leaderboard system, for the campers who are interested in competing.

We hope to launch an open API in 2018 that will make this much easier to build and maintain.

[2017-09-21 18:09] QuincyLarson commented on #15388
@DusanSacha OK - thanks for the update :)

[2017-09-21 18:11] #15617 closed

[2017-09-21 18:12] QuincyLarson commented on #15848
@tchaffee Awesome! As long as the challenges all work currently, then you can take your time on this. You are definitely the best person to change this imho. Have fun and safe travels!

[2017-09-21 18:13] BerkeleyTrue commented on #15906
@kevcomedia thanks for reporting.

This should now be fixed. Your browser may still redirect you as 301 redirects are cached. This should go away soon.

Happy Coding

[2017-09-21 18:13] #15906 closed

[2017-09-21 18:14] QuincyLarson commented on #15739
@sblasa Yes - you can reach out to @BhaveshSGupta (Gitter may be a good place to do this) and see if you can help him. Either way, you should probably wait until he's finished #13798 before attempting to start this.

[2017-09-21 18:23] QuincyLarson commented on #15863
@rmonastra We've already replaced this project in our beta curriculum. It is now optional there. But it would still be nice to have a good recommended API for this, if you can find one. My advice would be to continue looking, and if you think you've exhausted the likelihood of reasonably finding one, you can close this issue.

Either way, thanks for all your help with this.

[2017-09-21 20:12] sblasa commented on #15739
@bhaveshsgupta hi, are you still working on issue #13798? Once you're done, I will fix issue #15739 Make Font Awesome Icons accessible to visually impaired campers.  Let me know if you'd like me to help 😀 Thanks!

[2017-09-21 20:15] sblasa commented on #15739
@QuincyLarson thanks, I've reached out to him via Gitter too. In any case, I will wait for him to fix the issue #13798.  😀

[2017-09-21 23:09] tchaffee commented on #15848
@QuincyLarson Just to confirm, the challenges do all work currently.

[2017-09-22 07:19] systimotic commented on #15904
Thanks for the suggestion @himanshukhosla123!

[2017-09-22 08:26] evaristoc opened #15908 "Should be able to link directly to a topic"
#### Challenge Name
General; navigating through the Map using direct links.

#### Issue Description
Found behaviours when using direct links that suggest that the possibility of users navigating through the Beta curriculum using direct links by copying/pasting hasn't been tackled? I might be wrong and the plan to tackle that might have been postponed, but in case not I suggest to consider revising

[2017-09-22 17:40] raisedadead commented on #15822
I can work upon this as soon as https://github.com/freeCodeCamp/freeCodeCamp/pull/15891 has landed

[2017-09-22 19:24] ilhamije opened #15909 "Password can be reset wiithout new password confirmation."
#### Issue Description

User can reset their password by only fiilling out new password field without filling out password confirmation.

How to reproduce it:

1. Go to [https://www.freecodecamp.org/forgot](https://www.freecodecamp.org/forgot) and try to reset your password.
2. Open a confirmation email from FCC to be directed to reset password page.
3. Fill out your new password on the **New Pass

[2017-09-22 20:52] raisedadead commented on #15909
This essentially needs a client-side validation of the password to be same in both the inputs, and should be added here.

https://github.com/freeCodeCamp/freeCodeCamp/blob/backup/master/server/views/account/reset.jade#L15

The server-side code is all fine.

[2017-09-22 20:54] raisedadead commented on #15909
Potential contributors, please add some jQuery based validation in the reset view mentioned above. Also note that this needs to go into the `backup/master` branch.

Happy fixing!

[2017-09-23 02:33] shovanch commented on #15909
@raisedadead Looking forward to fix this. This would be my first open source contribution to freeCodeCamp

[2017-09-23 05:24] MiloATH commented on #15878
@QuincyLarson The biggest challenge with using "remix" is the API keys. What do you suggest? Won't each remix require it's own API keys?

[2017-09-23 08:32] brusbilis commented on #15863
Free api with real time
[https://iextrading.com/developer/docs/](https://iextrading.com/developer/docs/)

I am using for this [sp500 realtime dashboard](https://codetabs.com/stock-market/sp500.html) and works very well.
You can call multiple symbols (i call 505 symbols in one request)

[2017-09-23 12:52] zk433 commented on #15838
Can I suggest to remove the 'Continue with GitHub' button from the sign in page, since we are not supporting GitHub login anymore?

[2017-09-23 12:57] zk433 commented on #15778
Just to update you all, I still get the errors, in FCC, in Beta and while running FCC locally as well. It produces 33 errors every time.

[2017-09-23 12:59] KingCoder8890 commented on #12596
The problem thus remains unsolved. Please learn to code.

On 3 Feb 2017 1:18 pm, "SUMIT LAHIRI" <shekharhiran@gmail.com> wrote:

[2017-09-23 16:18] raisedadead commented on #15838
@zk433 already taken care off in https://github.com/freeCodeCamp/freeCodeCamp/pull/15890 😅 !

[2017-09-23 16:20] raisedadead commented on #15909
Yes please go ahead!

[2017-09-23 16:24] QuincyLarson commented on #13798
I'm happy to report that thanks to @raisedadead, freeCodeCamp now has a license to use Font Awesome 5.0! Thanks, man!

I don't see these publicly visible yet, but here are the 4.7 icons: http://fontawesome.io/icons/

@BhaveshSGupta send me a message in Gitter and I'll give you the 5.0 icon file (since I think you're planning to export the ones we want to a separate set of files, so we can create o

[2017-09-23 16:25] raisedadead commented on #15876
Okay, so going through the old issues, I now remember this is related to https://github.com/freeCodeCamp/freeCodeCamp/issues/14604

[2017-09-23 16:26] #14604 closed

[2017-09-23 16:26] raisedadead commented on #14604
Closing in favor of more relevant issue linked.

[2017-09-23 16:27] raisedadead commented on #15876
I have closed the other, but investigation still needs to go into the https://github.com/freeCodeCamp/freeCodeCamp/issues/14604#issuecomment-297601857

The code location has probably changed. Will update more.

[2017-09-23 18:16] ltegman commented on #15591
This comment was left in the Contributor chat room, but not in this issue: the problem is not with the test (the first test does check that a function named `glideMixin` exists) but that if you declared a `glideMixin` in a previous test run and then change the name or something different that should not pass the tests will still pass. It appears variables from old test runs are being leftover and

[2017-09-23 19:02] shovanch commented on #15870
@QuincyLarson I have been working on this. But unable to make any progress. Quite new to Mongo and Node. Probably need to learn them more. Would love to contribute on future issues. Thanks for the opportunity.
If anyone wants to work on this one, feel free to do so.

[2017-09-23 19:49] zk433 commented on #15838
Sorry, I missed that! Well done. 👍

[2017-09-23 20:43] ltegman commented on #15870
Sorry if this is a stupid question, but it looks like this functionality already exists in the beta. Is this item for adding similar functionality to the production site without waiting for the beta to be released?

[2017-09-23 22:41] VicC93 commented on #15581
@SkyC0der  Gitter chat still exists, you can go to Gitter(dot)im and sign in with your Github account, simple as that.
Happy coding

[2017-09-23 23:27] CharlesMarlow commented on #15122
Yes, this was eventually resolved, thanks.

בתאריך 14 בספט׳ 2017 03:03,‏ "Ananay" <notifications@github.com> כתב:

[2017-09-24 03:30] BhaveshSGupta commented on #13613
@systimotic I think I have made a mistake here, using $(a).hover().css(color) wont work, I am still trying to figure out a solution for this.

[2017-09-24 04:43] ananaymital commented on #15122
@QuincyLarson @Bouncey I think we can close this issue now.

[2017-09-24 05:04] prateekgoel commented on #13613
Hello everyone,
It seems jQuery doesn't have a solution for getting css properties of `:hover`.
I was reading about this and came across this http://jsfiddle.net/3FYz6/.
This seems to work.
We can use this but I seems unnecessary to me to have a JS solution for this. I think we can just include the possible color values mentioned above in the regular expression and that would suffice. There's almo

[2017-09-24 06:07] msasad commented on #15909
All input validations must be carried out on the server side also. Just client side validation is not the solution. Server side code needs to be fixed as well.

[2017-09-24 09:45] raisedadead commented on #15909
Please elaborate, or point to code which is to be fixed.

[2017-09-24 16:48] shubhshrma commented on #15870
I'd love to work on implementing this button as @shovanch has left.

[2017-09-24 17:45] DavOnGit commented on #15818
Can i get this?

[2017-09-25 01:04] SkyC0der commented on #15581
@VicC93 This issue has been closed since July 3.

Check the link I put in the original issue description for a link to Free Code Camp's rooms on Gitter - this issue was never about an inability to reach https://gitter.im.  It was originally about the link to the chat rooms getting removed from the Navbar at https://www.freecodecamp.org without notice.

Happy coding

[2017-09-25 02:12] tracyalison11 commented on #15909
Are you looking for the change password button to be disabled until both inputs are filled and matched or do you want an error message thrown?

[2017-09-25 05:49] raisedadead commented on #15909
@tracyalison11 we would like to display an error message (basic html5 validation), and of course blocking the submit until the form has validated.

some inspiration https://www.html5rocks.com/en/tutorials/forms/constraintvalidation/

[2017-09-25 09:32] idietmoran commented on #8096
this code should pass and won't work:

[code]

too many frivolous checks
`Object.keys(bob).length should return 6.`
`bob instanceof Person should return true.`
`bob.firstName should return undefined.`
`bob.lastName should return undefined. `

[2017-09-25 15:15] raisedadead opened #15914 "feat(auth): Integrate OAuth 2.0 as a provider strategy"
## Proposal:

Going ahead, we would want our users to sign up just once and be able to use their profile on all of our platforms. This is not the case every time.

This can be easily solved by implementing  OAuth 2.0 as a provider strategy.

**Note: This should definitely be considered only after we upgrade to LoopBack 3**

### Case 1: Forum

We could get rid of the flow in our forum onboarding, a

[2017-09-25 15:28] raisedadead commented on #15914
@freeCodeCamp/moderators I would love to hear your feedback on this proposal.

[2017-09-25 16:23] shovanch commented on #15909
@raisedadead I have been working on this. Hoping to add PR before the end of the day

[2017-09-25 23:01] BerkeleyTrue opened #15917 "Translations are no longer working"
I can't seem to find any page on beta that has a Spanish translation.

[2017-09-26 03:39] BerkeleyTrue commented on #15809
I've just run into this issue. Normally, once the page loads client side, ReactRouter should redirect an unauthenticated user to the map page. Unfortunately some recent changed has broken this logic.

[2017-09-26 03:45] BerkeleyTrue commented on #15134
Unfortunately the only real solution here is to use AST's for tests. I've discussed this with @QuincyLarson about adding in an API that exposes the JS AST produced by babel and add an API similar to eslint's plugin interface. This may be a bit off as priority is to move on the react challenges and then generalize the way challenges themselves are imported from files.

[2017-09-26 04:03] #13780 closed

[2017-09-26 06:33] BhaveshSGupta commented on #13798
@QuincyLarson  Hey, I have texted you over gitter, pass me the file when your are free

[2017-09-26 07:25] raisedadead commented on #13798
@QuincyLarson ofcourse happy to be able to assist on that!

@BhaveshSGupta thanks for helping us in the effort.
Also, needless to say, that we will be adding a minified production version of the icons over on S3, so just make sure you do not commit the source files (which are NOT for distribution and for development only).

Hit me up for any assistance.

[2017-09-26 10:20] prateekgoel commented on #15615
Hello @QuincyLarson ,
I've sent you a message on Gitter. Please have a look when you are free.

[2017-09-26 12:06] tommy1962 commented on #5553
Same here. Only mind is Front-end  cert problem

[2017-09-26 15:05] dhcodes commented on #15917
Possibly related, I just rebased and now have the following `undefined` note in the console regarding languages. It also is preventing the map from loading and only says "Something went wrong"

[code]

[2017-09-26 15:14] msasad commented on #15909
If password can be changed without conformation, this clearly means that there is no validation on the server side. The lack of validation at the server side itself is an issue which needs to be fixed.
The answer to [this SF question](https://stackoverflow.com/questions/15855770/why-do-we-need-both-client-side-and-server-side-validation) might help in understanding why server side validation is ne

[2017-09-26 16:16] raisedadead commented on #15909
Did you get a chance to look at the server side code and confirm this? And that there is actually no validation?

What the SF article suggests is totally valid, and thanks for sharing it.

But that said, the use case we have here has one additional server-side check already. Hence my comments earlier. IMHO, I suggest you to please confirm this yourself if you so, please by actually checking the co

[2017-09-26 16:58] lkptl1 commented on #8770
change version in package.json

[2017-09-26 19:10] dhcodes commented on #15914
I love it.

[2017-09-26 20:29] P-WM commented on #15639
Sorry for the delay @QuincyLarson and @jhomme.

There was a slight mixup with my last message, and the modals seem fine: NVDA reads out their contents, and they're navigable with the keyboard as well as 'clickable' using SPACE or ENTER (re: Jim's helpful tips). Resetting code, however, produces a toast which is both unreachable by NVDA (only gets read out if you hover over it with a mouse) and has

[2017-09-27 01:42] ecotg commented on #15826
@adityaparab Are you still interested in working on this? I'd love to implement it

[2017-09-27 03:26] mohisen commented on #15909
Thanks a lot

‏في الثلاثاء، ٢٦ سبتمبر، ٢٠١٧, mrugesh mohapatra <notifications@github.com>
كتب:

[2017-09-27 06:08] #15909 closed

[2017-09-27 20:58] #13075 closed

[2017-09-27 21:54] nsuchy opened #15918 "Updating challenges with links to guide articles"
As the guides project has been released it's time to starrt updating the challenges to include links to the guide articles rather than forum posts where applicable. This issue should serve as the discussion place for these changes.
****
**Tagged Maintainers:** @QuincyLarson @Bouncey

[2017-09-27 22:30] codejockie commented on #15729
Can I try this?

[2017-09-27 22:35] codejockie commented on #12637
Can I help? My first attempt at Open Source Contribution.

[2017-09-28 00:05] Velveeta commented on #15729
I was just eyeballing this also, for Hacktoberfest... It looks like this is actually in progress by @zk433 et al... If that's the case, you might want to remove the label on this particular issue, or you may just get more and more inquiries as it gets closer to October :)

[2017-09-28 07:14] adityaparab commented on #15826
@ecotg : Give me a couple of days. It's been very busy couple of months at work and I'm on a move constantly. I have implemented the component but not finding enough time to test it after integrating it with fcc environment.

If I'm unable to raise a PR on this by Oct 1st 1am PST, feel free to take it up.
If I'm not able to finish this by then, I'll also make sure I commit the heatmap component wi

[2017-09-28 10:19] zk433 commented on #15729
Hi, yes, we are still working on it. If we get stuck, I'll ask for your help @codejockie  and @Velveeta, so stand by! :)

[2017-09-28 13:01] pocahontas123 commented on #13437
Hello, i write it:
"use strict";

const s = [5, 7, 2];
// change code below this line
s[0] = 2;
s[1] = 5;
s[2] = 7;
// change code above this line
console.log(s);

But it doesn't work

[2017-09-28 15:03] makeupsomething commented on #15826
@adityaparab @ecotg
If still available after Oct 1st I'm very interested to work on this as part of Hacktoberfest.
First time contributor to an open source project btw.

[2017-09-28 16:33] Khez commented on #15591
@QuincyLarson this issue appears to be fixed.

[2017-09-28 17:01] antyang commented on #13450
@QuincyLarson @carlosvigil Has this issue been fixed? Can't seem to duplicate this issue on my end.

[2017-09-28 17:57] FranciscoKnebel commented on #14912
I'm not sure how creating new challenges work, i'll look up later, but I can handle this issue.

Should it work like the challenge previous to this one: https://beta.freecodecamp.org/en/challenges/mongodb-and-mongoose/introduction-to-the-mongodb-and-mongoose-challenges

I was thinking of a new challenge with multiple steps;

- how to create an mLab account (link to mLab, image showing inputs).
- c

[2017-09-28 18:37] m-henderson commented on #15806
I cant reproduce this issue.

[2017-09-28 18:55] raisedadead commented on #14912
Yes, this is totally a good place to start. Let us know if you are stuck at figuring out how to add a challenge.

Refer: [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) and [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors).

[2017-09-28 19:20] systimotic commented on #15918
I'll link to my comment about this: https://github.com/freeCodeCamp/guides/issues/145#issuecomment-327846080

Having the challenges link to the Guide would be great, but as you can see from the link, some things have to be fixed before we can do this.

[2017-09-29 02:10] petercr opened #15919 "Find a Study Group Directory put my location in another country. In Canada not the US"
#### Find a nearby study group
[Find a nearby study group ](https://study-group-directory.freecodecamp.org/)

#### Issue Description
1. [Start at this page](https://www.freecodecamp.org/challenges/join-a-freecodecamp-study-group-in-your-city)
2. Click open link new tab in `button`
3. Which leads to this page [study-group-directory.freecodecamp.org](https://study-group-directory.freecodecamp.org)
4

[2017-09-29 03:37] algotastic commented on #15715
I'm going to attempt to fix this.

[2017-09-29 05:18] meetzaveri commented on #15870
Here's my point on deleting selected areas on user's query :
1. Deleting only beginner projects/challenges
2. Deleting only intermediate projects/challenges
3. Deleting only advanced projects/challenges
4. Deleting algorithms based on beginner/intermedaite/advanced
5. Deleting whole backend development progress and certification
6. Deleting whole frontend development progress and certification
7.

[2017-09-29 11:26] Flarp commented on #14234
It seems @alan-luo is busy, and @QuincyLarson wants this done for October. I'll do my best to start this over the weekend.

[2017-09-29 11:34] alan-luo commented on #14234
@Flarp Yes, I underestimated how much work I'd be getting this year! Will try to help if at all possible.

[2017-09-29 16:51] #15919 closed

[2017-09-29 19:19] #15863 closed

[2017-09-29 20:39] thuanhp commented on #15917
Co

[2017-09-30 22:07] pedrosaisse opened #15921 "freeCodeCamp logo not redirecting properly"
The freeCodeCamp logo at the nav-bar is calling the /challenges/next-challenge/ route.
Shouldn't the main page's route be called, instead ?

Here's the reason I opened this issue:
I visited https://about.freecodecamp.org/ and then clicked on the logo to return to the main page. But received an 404 error.
The URL informed was https://about.freecodecamp.org/challenges/next-challenge

[2017-09-30 22:29] erictleung commented on #15921
I think [this line of code](https://github.com/freeCodeCamp/about/blob/master/index.html#L101) needs to be changed. I could be wrong if I'm missing something about the redirects.

cc/ @BerkeleyTrue @QuincyLarson

[2017-09-30 23:32] Double-A-92 commented on #15099
Can anybody reproduce this? Just tried it but it always looks the same.

[2017-10-01 06:20] RyanGPalmer commented on #15921
I'm working on the issue

[2017-10-01 14:07] texas2010 commented on #15921
@RyanGPalmer Please look at link. @erictleung did post line of code link.. that is what you need to change that.  i repost link for you. https://github.com/freeCodeCamp/about/blob/master/index.html#L101

[2017-10-01 17:33] carlosvigil commented on #13450
@antyang Can't reproduce either, I assume it's safe to close.

[2017-10-01 17:33] #13450 closed

[2017-10-01 18:43] shubhshrma commented on #15870
@QuincyLarson does this need to target ```backup/master``` or ```staging``` ? Thanks.

[2017-10-01 19:42] systimotic commented on #13613
Too bad that there isn't a simple JS solution for this. I guess you can go ahead with adding more color values to the regex @prateekgoel 👍

[2017-10-01 20:16] RyanGPalmer commented on #15921
Opened a new pull request on the correct repository with the correction. I'm very new, thank you for the help!

[2017-10-01 20:19] systimotic commented on #12635
@vkWeb There is a challenge there now (https://beta.freecodecamp.org/en/challenges/quality-assurance-and-testing-with-chai/quality-assurance-introduction), but it still needs to be filled out with a proper introduction to the upcoming section 🙂

[2017-10-01 20:21] texas2010 commented on #15921
@RyanGPalmer No problem! thank you for fix it!

[2017-10-01 21:35] vkWeb commented on #12635
@systimotic  Sorry for that. 😞

[2017-10-01 21:47] Spidy88 commented on #15838
I solved this by adding Mailhog to the docker-compose file and override the datasources config for development to point to the local mailhog container. This seems like the least amount of work for new contributors as it would just require an update to the setup guide. I can put a PR together if anyone is interested in this approach.

[2017-10-02 04:19] prateekgoel commented on #13613
Thanks @systimotic . I am on it,

[2017-10-02 06:49] piggito commented on #15876
I checked the issue in freecodecamp.org and noticed that we get a HTTP 500 response from https://www.freecodecamp.org/api/users/<code>/update-email but the content is a valid message: {"message":"juan3789@gmail.com is already associated with this account."}

It should be enough to change the HTTP 500 to a regular 200 response to solve the issue. I tried to check it in staging branch but I think th

[2017-10-02 07:01] systimotic commented on #12635
@vkWeb No worries! I'd rather check an issue twice that can stay open than leave an issue open that could be closed.

[2017-10-02 07:23] raisedadead commented on #15876
@piggito thanks for looking into this, this functionality has been removed from the staging (beta.freeCodeCamp.org / beta), and has been replaced with passwordless auth.

However, it exists on the production website (freeCodeCamp.org).

I can't seem to reproduce locally, but some have managed to reproduce.

It's a weird issue because the request is being received two times for some reason, I belie

[2017-10-02 11:00] xjlim commented on #15819
I will work on this

[2017-10-02 11:29] prateekgoel opened #15927 "Add note for conventional commit messages to contributing.md"
#### Issue Description

I was a nice step to enforce conventional commit messages at https://github.com/freeCodeCamp/freeCodeCamp/pull/15643.
I feel that new contributors, or even some existing contributors won't be aware about this unless they get a warning while committing something.
Can we have a section or note to this in our Contributing.md ?

If yes, I would like to update the same.

[2017-10-02 11:43] prateekgoel commented on #15921
Referencing the PR here: https://github.com/freeCodeCamp/about/pull/14

[2017-10-02 12:14] ResamVi commented on #15726
So I allowed myself to work on this as it seems this is open for Hacktoberfest.

I decided not to test whether `Object.create` was used in the code (as it's hinted in the instructions) because there are multiple ways to solve this (a for-loop as example).

It really is difficult to test accurately but not force someone into a pttern

[2017-10-02 13:29] piggito commented on #15876
@raisedadead thanks for your answer, is master branch the current version in production? I was trying to check this funcionality in local but using this branch I can't access the settings page. It is redirecting me to Map page, do you know why it could be happening?

[2017-10-02 17:23] mstellaluna opened #15929 "FCC Website is currently down !!!! 502 - Gateway Timeout"
#### Challenge Name

#### Issue Description
FCC website is down, forum is not affected. This is has been reported by several users and verified.
Posted also to the contributors chat room.

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot
![image](https://user-images.githubusercontent.com/22984739/31090177-c

[2017-10-02 17:26] texas2010 commented on #15921
close this issue since PR got merge. thanks!

[2017-10-02 17:26] #15921 closed

[2017-10-02 17:56] EroMonsterSanji commented on #15929
Confirmed, it's down right now.

[2017-10-02 18:04] vitalkanev commented on #15929
I can confirm that too on Android 4.2.2 (I don't even know which Chrome'). Not loading

[2017-10-02 18:18] jcpsimmons commented on #15929
Down for me too

[2017-10-02 18:54] david-w commented on #15929
Looks like it's working to me.

[2017-10-02 19:04] QuincyLarson commented on #15929
Thanks for your confirmations of this outage, everyone. We're actively working on this and will post updates to Twitter. It mostly just seems to be extremely slow at certain times, but in some cases, is returning 500 errors.

[2017-10-02 19:04] #15929 closed

[2017-10-02 21:45] chiefoleka commented on #15818
I'd look over the file now and see what I find

[2017-10-02 21:58] QuincyLarson commented on #15848
@tchaffee OK - thanks for confirming!

[2017-10-02 21:59] QuincyLarson commented on #15876
@piggito You'll want to branch off of the backup/master branch. That's what's currently in production.

[2017-10-02 23:08] Spidy88 commented on #15870
Is this issue still open? I see that the button does exist, a modal does appear, and the server seems to be performing an operation on modal confirmation. @QuincyLarson

[2017-10-03 00:29] QuincyLarson commented on #15927
@prateekgoel Yes - if you could add a note about this to contributing.md and make it as concise as possible (with example commands), that should make this less confusing for new contributors. We would welcome your help with this.

[2017-10-03 01:32] QuincyLarson commented on #15729
@zk433 Awesome - thank you for keeping us updated on this.

[2017-10-03 03:50] prateekgoel commented on #15927
Thanks @QuincyLarson .
I will update that.

[2017-10-03 04:12] lindakatcodes commented on #15878
So from what I can tell, the FCC weather API uses data from openweathermap. (Going off of Milo's repo he shared.) I think more of the problem with the temp & location/name inaccuracies simply has to do with openweathermaps' data.

From my testing, the temp seems to be pretty accurate for places in the US, and off a few more degrees in other countries. They also round their coordinates down to two

[2017-10-03 04:31] lindakatcodes commented on #15767
The FCC weather API uses data from openweathermap. I'm including a link here that shows the meaning for the weather icons and a list of the descriptions based on their id. As for main, I think the first number of the id describes the group, though I could be wrong on that.

https://openweathermap.org/weather-conditions

I'd be happy to add this into the description page for the FCC API if desired.

[2017-10-03 04:46] piggito commented on #15876
I tested locally but I couldn't reproduce the problem.
After digging in code it seems like this change solved the issue https://github.com/freeCodeCamp/freeCodeCamp/commit/b6e30f4e16bce00ca2022d5db07f1184e1f07003#diff-5d81af95449574544e7317f3eda2badeL519
is this in prod (freeCodeCamp.org) already?

[2017-10-03 04:47] QuincyLarson commented on #15870
@shubhshrma @meetzaveri @shovanch as @ltegman pointed out, this functionality already exists in beta. I wasn't aware of this fact when I opened this issue. We are getting closer to releasing beta, so I think this functionality can wait until then. So I'm closing this issue.

Thanks anyway everyone for your help!

[2017-10-03 04:47] #15870 closed

[2017-10-03 04:51] AshishkrGoyal commented on #15839
@QuincyLarson i am working for this issue and send PR as soon as possible 👍

Thanks in advance 👍

[2017-10-03 05:05] QuincyLarson commented on #15878
@MiloATH To be more clear - campers wouldn't need to get an API key because they would hit an endpoint on our Glitch app, which would use its API keys to access Open Weather Map's API, then pass the results back to the camper.

So this would only be remixed once: from your original Glitch.com project over to freeCodeCamp's Glitch account (where it could be collectively maintained by contributors a

[2017-10-03 05:08] QuincyLarson commented on #15767
@andrejarboe Thanks for bringing this to our attention. I agree - we should clarify the different possible weather outcomes right in the challenge instructions. Would you be interested in adding (or updating) a user story to specify the possible outcomes that the open weather API can return?

[2017-10-03 05:14] QuincyLarson commented on #15778
@zk433 are you getting the same errors reported by @seifsg? Can you look in the staging branch and see whether any of these fonts are referred to anywhere in there? If not, it may be a dependency that's trying to load them.

[2017-10-03 05:15] QuincyLarson commented on #15122
@hobbycoder7 @ananaymital Thanks for your help with this!

[2017-10-03 05:15] #15122 closed

[2017-10-03 05:16] QuincyLarson commented on #15615
@prateekgoel I've responded to you on Gitter.

[2017-10-03 05:18] QuincyLarson commented on #15826
@ecotg 1 a.m. PST has come and gone, so it doesn't look like @adityaparab is going to get to it (to their credit, they are working on a lot of other issues here). Are you still interested in tackling this?

@makeupsomething also expressed interest in helping on this, so perhaps the two of you could pair program on it?

[2017-10-03 05:19] #15591 closed

[2017-10-03 05:21] QuincyLarson commented on #15918
@systimotic You're right - some of these look pretty noisy.

@systimotic @nsuchy Would either of you be interested in going through and helping clean these up first before we switch to them as the replacement for the forum articles?

[2017-10-03 05:25] QuincyLarson commented on #14234
@Flarp @alan-luo Ah, to be clear, I added the Hacktoberfest label so people would see it as an issue they could potentially contribute to. It does not have a specific deadline in mind.

[2017-10-03 05:25] QuincyLarson commented on #15715
@algotastic Awesome - please keep us posted on your progress with this.

[2017-10-03 05:26] QuincyLarson commented on #15839
@AshishkrGoyal Awesome! Thanks for keeping me posted!

[2017-10-03 05:28] QuincyLarson commented on #15876
@piggito Yes - the code you're referring to should be in production. @BerkeleyTrue and I were able to reproduce the issue locally, though I can't remember exactly how. As far as I know, this is still an active issue.

[2017-10-03 05:39] AshishkrGoyal commented on #15839
@QuincyLarson definitely i will keep you update with my code 👍

[2017-10-03 11:47] adityaparab commented on #15839
@ooade : Using `!important` is usually a bad practice unless you know what you're doing. A simple change in sequence of style definition would get rid of `!important` dependency, If you change

[code]

to

[code]

You won't need `!important` anymore. Your media query will always have least priority. Meaning they will be applied last. As of now your styles are getting overridden by bootstrap classe

[2017-10-03 11:49] adityaparab commented on #15826
To be fair, it's all yours @ecotg @makeupsomething

@QuincyLarson : Sorry for the delay mate. :(

[2017-10-03 14:08] barmetma commented on #15878
@lindakatcodes just found the same info, looks like the name min and max temp is a bit confusing and the expected result would be the min and max temperature of the current day. But this is wrong.

https://openweathermap.org/forecast5#min

[2017-10-03 14:37] barmetma opened #15931 "Broken Link on contribute.freecodecamp.org"
Hi im quite new to github and I hope this is the right place to create that issue.

When visiting https://contribute.freecodecamp.org there is a broken link on the FCC-Logo.
The link is targeting to https://contribute.freecodecamp.org/challenges/next-challenge and I recieve a 404 Error.

[2017-10-03 15:06] antoniomaia commented on #15931
Hi! I believe it should target [https://www.freecodecamp.org/challenges/next-challenge](https://www.freecodecamp.org/challenges/next-challenge) instead.
Let me know if I can look into this issue as my first contribution, thanks.

[2017-10-03 15:49] andpawlenko commented on #15931
Same issue while visiting donate.freecodecamp.org. Maybe, this link should refer to freecodecamp.org, like at about.freecodecamp.org :thinking:

[2017-10-03 15:53] nsuchy commented on #15918
@QuincyLarson Yes I'm interested. Is there a list of articles that need cleanup?

[2017-10-03 16:14] antoniomaia commented on #15931
@andpawlenko That's good, keeping consistency.

[2017-10-03 17:11] ecotg commented on #15826
Yep, still interested. Already started working on it.

[2017-10-03 19:26] jimjja commented on #15840
Is this issue still available? I can have a look at it.

[2017-10-03 20:22] texas2010 commented on #15931
thanks. I did make PR for a fix that link.

[2017-10-03 20:27] #15931 closed

[2017-10-03 20:51] #10407 closed

[2017-10-03 21:20] zk433 commented on #15778
@QuincyLarson Yes, it's exactly the same issue every single time. And always repeats 33 times.

I looked through the codebase and I couldn't find anything there. But based on some googling, it seems to be related to the Content Security Policy set up: 'font-src': "data:" should be added to it to allow for fonts to be loaded from data: URIs. I did find the content-security-policy-builder dependency

[2017-10-04 02:59] JheeBz opened #15933 "Twitch API Challenge documentation link moved"
#### Challenge Name
https://www.freecodecamp.org/challenges/use-the-twitchtv-json-api

#### Issue Description
The challenge links to a hosted version of the Twitch API (https://wind-bow.glitch.me/) which makes reference to a deprecated documentation. The GitHub (https://github.com/justintv/Twitch-API) links to https://dev.twitch.tv/docs. It would probably be better to link to it directly as the Gi

[2017-10-04 03:33] QuincyLarson commented on #15914
@raisedadead First of all, I love the idea of unifying everything behind the same auth. This said, I don't think spam is that big of a problem on the forum.

This would involve merging about 200,000 forum accounts, so all of this would need to be done programmatically. There could be no room for ambiguity - otherwise thousands of people would think "freeCodeCamp deleted my forum account" and there

[2017-10-04 03:35] QuincyLarson commented on #15778
@zk433 Thanks for doing this research.

@BerkeleyTrue would using `font-src': "data:"` like @zk433 proposed open us up to any additional threats that you can think of? If so, it sounds like this might solve this minor issue that several campers have independently reported.

[2017-10-04 03:36] QuincyLarson commented on #15826
@ecotg Awesome - thanks for keeping us posted on your progress on it :)

[2017-10-04 03:39] QuincyLarson commented on #15918
@nsuchy Awesome! This is a big undertaking. We need to double check every single article in https://guide.freecodecamp.org/certificates

You may be able to solve some of these with find-replace like logic, but you'll want to make sure all of them look good locally before opening the pull request.

This would be a massive help for us, and help us shift from the forum to the guide for hints, massive

[2017-10-04 03:41] QuincyLarson commented on #15878
@lindakatcodes You may be able to adjust for some of these quirks on the Glitch.com app we're using as a sort of pass-through to the Open Weather Map API.

[2017-10-04 03:57] BerkeleyTrue commented on #15778
Yes, it is possible that using font-src data would open us up to some volnurabilities.

Just to reiterate, we don't use any fonts in the form of data blobs. Neither should the page linked above require any fonts other than what we already link to. This is most likely a third part extension issue.

[2017-10-04 04:09] raisedadead commented on #15914
@QuincyLarson I absolutely agree, to your points, and yes you have got the assumptions and concerns spot on.

Implementing the OAuth strategy for Discourse is fairly well documented in their meta documentation. I can assist as soon as I am done with my ongoing tasks with the LoopBack upgrade and stable passwordless auth.

Will, of course, keep you posted.

[2017-10-04 04:18] lindakatcodes commented on #15878
@QuincyLarson I'd be happy to help if I can! Just let me know what I can do and I'll look into it. I looked through the repo that @MiloATH posted above and didn't see anything that seemed like it would manipulate the open weather map info....but it's possible I missed something or didn't quite have the full picture.

[2017-10-04 04:48] QuincyLarson commented on #15914
@raisedadead Awesome! I'm glad to hear you've already looked into this. I'm definitely open to doing it if you feel up for it and we can come up with a good way to merge all the records.

[2017-10-04 04:49] QuincyLarson commented on #15778
@BerkeleyTrue OK - thanks for the clarification.

@zk433 Can you try to open this in incognito tab with all of your Chrome extensions turned off and see whether you're still able to reproduce this issue?

[2017-10-04 04:51] QuincyLarson commented on #15878
@MiloATH Can you point to a good place in  https://github.com/MiloATH/WeatherAPI where @lindakatcodes might be able to experiment with manipulating the open weather map data before it gets passed to the end user?

[2017-10-04 05:56] #15838 closed

[2017-10-04 09:37] zk433 commented on #15778
@BerkeleyTrue , @QuincyLarson , yes 👍 ! There were no errors when using the incognito tab so I went through all my extensions and found that it was the Grammarly Chrome extension that was causing the errors! As soon as I disabled it, errors went away.

Well, that turned out to be a much simpler solution than I thought it would be :). But I learned a lot about the Content Security Policy so time we

[2017-10-04 09:44] fumblehool commented on #15859
@BerkeleyTrue I would like to contribute to this issue but I would require your guidance.

[2017-10-04 09:45] fumblehool commented on #15822
What is the status of this issue? Is it still open? Is anyone working on this?

[2017-10-04 13:02] MiloATH commented on #15878
@lindakatcodes Most of the data is requested and returned to the user using https://github.com/MiloATH/WeatherAPI/blob/master/server.js#L43. You could add a data manipulation function and call it right after line https://github.com/MiloATH/WeatherAPI/blob/master/server.js#L66.

[2017-10-04 14:28] birant opened #15935 "Unable to see certificate background image"
#### Challenge Name

Front End Certificate

#### Issue Description

The certificate’s image is hosted on imgur which is banned in the country I live. Therefore, I need a vpn to see my certificate. It is not a problem for me, but I want to send my certificate to my potential employees in my country. They may not authorized to use vpn at work.

[2017-10-04 15:32] BerkeleyTrue commented on #15778
@zk433 I'm glad that worked out.

Happy Coding

[2017-10-04 15:32] #15778 closed

[2017-10-04 16:47] nehaniphadkar commented on #8013
[
function nextInLine(arr, item) {
  // Your code here
  arr.push(item);
  return arr.shift();  // Change this line
}

// Test Setup
var testArr = [1,2,3,4,5];
// Display Code
//testArr=[5,6,7,8,9];
console.log("Before: " + JSON.stringify(testArr));
console.log(nextInLine(testArr, 1)); // Modify this line to test
console.log("After: " + JSON.stringify(testArr));](url)

[2017-10-04 18:01] nsuchy commented on #15918
@QuincyLarson I'll need to rebase my guides repo and open a new branch. To confirm you would like me to fix the design, and any information that may be inaccurate or unclear?

[2017-10-04 18:02] BerkeleyTrue commented on #15914
In the interest in keeping open issue count low and seeing how we have many projects that need to come to fruition before this issue can be worked on, I suggest we close this issue and reopen once those other projects are complete

[2017-10-05 01:09] jnmorse opened #15938 "Have FCC Eslint Rules Be Importable"
[copy from](https://github.com/freeCodeCamp/testable-projects-fcc/issues/232)

In Issue [120](https://github.com/freeCodeCamp/testable-projects-fcc/issues/120) of testable-projects-fcc, I was discussing having an importable eslint config. This would require a separate repository to be set up for it.

I created a repository here https://github.com/jnmorse/eslint-config-fcc that does include the fcc

[2017-10-05 02:53] piggito commented on #15876
@QuincyLarson I was finally able to reproduce the issue locally, I needed to use `NODE_ENV='production' gulp`
I created a PR with the fix

[2017-10-05 04:21] raisedadead commented on #15914
Sure thing, I am closing this for now and adding it to ToDo in Open API project. Thanks.

[2017-10-05 04:21] #15914 closed

[2017-10-05 04:24] raisedadead commented on #15876
@piggito can you please have a look at the related https://github.com/freeCodeCamp/freeCodeCamp/issues/14604#issuecomment-297601857 the staging branch as well?

[2017-10-05 05:24] dotm commented on #5808
I just want to add: make sure you restart the 'node server.js' after you change the .env file (to update the env settings)

[2017-10-05 05:30] SenamelaMabotja commented on #15914
How can we manage the courses better, because whenever I get back on my
training, I am required to start from scratch.

On 05 Oct 2017 06:25, "mrugesh mohapatra" <notifications@github.com> wrote:

[2017-10-05 06:39] raisedadead commented on #15914
@SenamelaMabotja please request support on the forum https://forum.freeCodeCamp.org, this tracker is not for support requests.

[2017-10-05 06:44] raisedadead commented on #15935
/cc @QuincyLarson @BerkeleyTrue do we have any plans to handle such cases?

I would tend to incline that as a workaround, we could use S3 buckets on a case by case basis?

[2017-10-05 08:58] systimotic commented on #15935
We should be careful with using Imgur as an image host in general. From [their Terms of Service page:](https://imgur.com/tos)

[2017-10-05 09:21] raisedadead commented on #15935
In that case, it would be great to have a cleaner way, how about having a template .svg for the certs, and generating them on the fly for users?

That would not require any additional storage of any sort other than the data that we have about the users in the db already.

[2017-10-05 09:22] raisedadead commented on #15935
Plus, it would be trivial as all old certs would continue to be available this way, by keeping a state of the old certs earned, and this we have already.

[2017-10-05 11:04] piggito commented on #15876
@raisedadead I will create another PR for this issue cause the previous one had comments. Then, I will check  https://github.com/freeCodeCamp/freeCodeCamp/issues/14604#issuecomment-297601857

[2017-10-05 13:36] tchaffee commented on #15938
This will be an improvement over having to maintain a separate eslint config for each FCC project. As a first step we could try it from a repo like freeCodeCamp/eslint-config-fcc, and if everyone agrees it works well we could publish it to npm, as @jnmorse suggested.

[2017-10-05 17:50] raisedadead commented on #4201
@BerkeleyTrue I have been researching lately for one of my day job assignments where we already have been doing testing on [Karma](https://github.com/karma-runner/karma#but-i-still-want-to-use-_insert-testing-library_) and Jasmine (testing framework) to run tests in browser for over a year, and recently I have started some investigation on Headless browsers.

So, potentially we could see this impl

[2017-10-05 23:45] sw-yx commented on #15819
i take it this is solved?

[2017-10-05 23:56] sw-yx commented on #12637
im unclear, is it already fixed? what is still lacking please?

[2017-10-06 03:46] QuincyLarson commented on #15935
@raisedadead @systimotic we are using an HTML template for the new certificates. Would either of you be interested in helping get those integrated? Here's GitHub issue: https://github.com/freeCodeCamp/freeCodeCamp/issues/12794

[2017-10-06 03:52] QuincyLarson opened #15941 "Move all images on the freeCodeCamp platform over to S3"
These are currently being hotlinked from external websites. We should instead put them into S3 so we can reliably serve them.

- [ ] create a list of all the images we're currently hotlinking
- [ ] download all of those images into a directory and rename them
- [ ] send me the zip file so I can upload all of these to freeCodeCamp's AWS S3 bucket. I'll send you the path to the bucket
- [ ] update t

[2017-10-06 03:56] QuincyLarson commented on #15935
@raisedadead @systimotic regarding hotlinking images, I've opened this issue: https://github.com/freeCodeCamp/freeCodeCamp/issues/15941

@birant we plan to address this issue for beta (staging) which we will ship as soon as possible.

[2017-10-06 03:56] #15935 closed

[2017-10-06 03:59] QuincyLarson commented on #15918
@nsuchy Yes - you can branch off of the guide repo and work through the files in that folder, eliminating unnecessary elements at the tops and bottoms of the article caused by bad imports. When you (or someone else) has time later, you can worry about accuracy and clarity of the text as a separate PR.

[2017-10-06 05:09] manaswinidas commented on #15941
Is anyone working on this? I will be glad to work on this otherwise.

[2017-10-06 08:14] systimotic commented on #15941
@manaswinidas That would be great!

[2017-10-06 11:00] prateekgoel commented on #15927
PR submitted @QuincyLarson .

[2017-10-06 12:19] ResamVi commented on #13754
If you check the current code this has already been implemented:

[code]

Commit: 19e4c0fccd4385c2063e555fdafbeae879fe3b1b

So this could be closed

[2017-10-06 12:23] zk433 opened #15942 "User and Settings pages makeover"
#### Issue Description

For the Beta version, we are working on redesigning the Settings page and redesigning and reactifying the User (profile) page.

#### Settings page
This is already reactified but needs to be redesigned according to the new mockup. Several new input fields have been added, these need to be reflected on the actual page. All available React components can be found in this folde

[2017-10-06 13:09] ResamVi commented on #15818
The only reference to `main.js` is in `script.jade`
[code]

I added some ```console.log``` statements like you did to ```main.js``` without any success. However if I added those ```console.log``` statements to ```vendor-main.js``` it worked.

So the problem lies in a line of code that terminates the execution of ```main.js```.

This is what happens on my machine with Chrome (I'm asking you if you

[2017-10-06 18:00] raisedadead commented on #15854
@QuincyLarson this wont be trivial to implement on production. I am listing the flow that is needed in our production setup for anyone attempting this:

- When user requests an email verification, a verification token is created.
- This verification token is stored on User model.
- The verification token is used is used to hit a endpoint which is directly exposed by LoopBack to update the user mod

[2017-10-06 21:24] piggito commented on #15876
@QuincyLarson @raisedadead @BerkeleyTrue please I need someone to answer my comment in the previous PR to help me fix the changes https://github.com/freeCodeCamp/freeCodeCamp/pull/15939#issuecomment-334445796

[2017-10-06 22:41] systimotic commented on #15941
This poses a new question: how will contributors add new challenges with images?

[2017-10-07 14:22] AlexxMart commented on #15933
I can help with this, I could change the link to the Twitch Dev docs and I also have an API that works just fine for this challenge and doesn't have the CORS protection

[2017-10-07 15:09] sree1995 opened #15945 "Add ID Attributes to Bootstrap Elements - not working"
Add ID Attributes to Bootstrap Elements

#### Challenge Name

https://www.freecodecamp.org/challenges/add-id-attributes-to-bootstrap-elements

#### Issue Description

while clicking the button "Run Tests", the page is getting stuck

#### Browser Information

* Browser Name, Version: Chrome (Latest)
* Operating System: MAC OS SIERRA
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screens

[2017-10-07 15:48] knight2 commented on #13095
Still broken. Entire section.

[2017-10-07 16:23] Em-Ant commented on #13095
@knight2 I'm sorry.
I worked only on the glitch (former gomix) projects, I don't know exactly at what point the integration in the beta site is. I haven't worked on this since February, because FCC helped me to get my first, then second programming job, I had to move, and basically I was too busy. Maybe @Greenheart has more infos ?

[2017-10-07 20:13] Ref34t commented on #14720
thanks

[2017-10-07 21:56] QuincyLarson commented on #15854
@raisedadead Thanks for the detailed explanation.

OK - if this is already handled in beta, and if it would be complicated to implement in production, then I agree that we should just leave it as-is for now.

[2017-10-07 21:56] #15854 closed

[2017-10-08 03:07] QuincyLarson commented on #15941
@systimotic Very few of the challenges have images, and we're hoping that even fewer have images in the future. We hope to gradually remove a lot of the images that are currently in the curriculum to make it faster and simpler. For example, we've eliminated almost all of the slide challenges.

[2017-10-08 03:24] QuincyLarson commented on #15942
@zk433 Awesome! Thank you for compiling all of the information about this redesign / reactification here in one place!

Could you add links to the current versions of the mocks here on this issue? Then we can replace those files as they evolve (as you said, they're pretty much there, but more fine tuning may come up as we build this out).

[2017-10-08 10:55] 0x0936 commented on #15878
Has consideration been made to using a different weather API, such as [Yahoo! Weather](https://developer.yahoo.com/weather/)? A jQuery plugin [simpleWeather.js](http://simpleweatherjs.com/) [cdn](https://cdnjs.com/libraries/jquery.simpleWeather) makes weather requests simple. Response includes high / low for the day, as well as a 10-day forecast.

Not included in simpleweather's response are the g

[2017-10-08 12:33] zk433 commented on #15942
@QuincyLarson, I edited the original post with the link to the pdf. Also added few more details about things to keep in mind when working on these pages.

[2017-10-08 12:46] camper-fcc opened #15946 "Create a Set of Radio Buttons - Not Showing Best Practices"
In the *Create a Set of Radio Buttons* challenge of the *HTML5 and CSS* section (https://www.freecodecamp.org/challenges/create-a-set-of-radio-buttons), it states:

Yet, in more official Mozilla documentation (https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/How_to_structure_an_HTML_form#The_%3Clabel%3E_element), it states:

This was discussed here: https://forum.freecodecamp.org/t/anyone

[2017-10-08 15:24] lindakatcodes commented on #15878
I'm willing to look into this, see if it's more accurate than our current setup.

[2017-10-09 00:14] piggito commented on #14604
@raisedadead Can we reopen this issue? I created a PR for #15876 but due to the front changes in staging we will need another PR for this branch.
I am already working on this fix for staging branch btw.

[2017-10-09 03:29] smkatz opened #15948 "Map link in navbar not loading map (no response"
#### Issue Description

Used Chrome on Mac OS Sierra, two separate machines. Map link in navbar no longer loads map.

#### Browser Information

* Browser Name, Version: Google Chrome (up to date, production version as of 10/8/2017
* Operating System:  Mac OS Sierra
* Mobile, Desktop, or Tablet: Desktop

Corraboration:

Colleagues on Slack also reported the problem. Campers on Gitter tested multipl

[2017-10-09 03:42] BerkeleyTrue commented on #15948
@smkatz Thanks for reporting. I will fix shortly.

[2017-10-09 03:55] BerkeleyTrue commented on #15948
This has been fixed.

Happy Coding

[2017-10-09 03:55] #15948 closed

[2017-10-09 09:47] nazmulhooque commented on #10934
// Example
var ourArray = ["Stimpson", "J", "cat"];
ourArray.shift(); // ourArray now equals ["J", "cat"]
ourArray.unshift("Happy");
// ourArray now equals ["Happy", "J", "cat"]

// Setup
var myArray = [["John", 23], ["dog", 3]];
myArray.shift();

// Only change code below this line.
myArray.unshift(["Paul",35]);

[2017-10-09 09:47] nazmulhooque commented on #2916
// Example
var ourArray = ["Stimpson", "J", "cat"];
ourArray.shift(); // ourArray now equals ["J", "cat"]
ourArray.unshift("Happy");
// ourArray now equals ["Happy", "J", "cat"]

// Setup
var myArray = [["John", 23], ["dog", 3]];
myArray.shift();

// Only change code below this line.
myArray.unshift(["Paul",35]);

[2017-10-09 13:27] DavOnGit commented on #14992
Can't understand this, there are no icons on this challenge, so what needs to be modified and how?

[2017-10-09 14:43] systimotic commented on #15918
@QuincyLarson I just submitted two PR's that should help with this a little bit.

I'm a bit of a control freak and an extreme perfectionist, so working on the Guide is difficult for me, as I can't control the quality of the content in it. That's also why I haven't been doing a lot of QA of the content: there are too many things I would want to change.
Instead, I'm trying to focus my time on the pl

[2017-10-09 19:59] darthgera123 commented on #15946
Ill work on this issue. Just a clarification, do i have to like update wherever its written the set with the new documentation

[2017-10-09 20:38] tchaffee commented on #15848
This is finished now. All the CodePens have been backed up and the variable name changed. The code in testable-projects has also been updated and everything is working.

[2017-10-09 20:38] #15848 closed

[2017-10-09 21:59] texas2010 commented on #10934
@nazmulhooque if you want to help people. please use forum or chat room. but please don't give solution code to people. thanks

[2017-10-09 23:05] camper-fcc commented on #15946
@darthgera123 Awesome! Thanks.

I'm not sure if you're asking me or the experienced Free Code Camp contributors, but I'd say yeah, change the code/language wherever it needs to be changed, not just in the specific example/challenge cited above. In my opinion, every Free Code Camp challenge should suggest and show code that matches current best practices, even if the code in a particular challenge

[2017-10-10 05:13] felipealmeida28 commented on #3204
mine stayed like that, with two pictures and it worked perfectly
`
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .smaller-image {
    width: 100px;
  }

  .thick-green-border {
    border-color: gr

[2017-10-10 09:36] darthgera123 commented on #15946
Yeah more or less it does. Ill do what i can

[2017-10-10 14:22] raisedadead commented on #15945
Hi,

Thanks for reporting this issue.

Here are some next steps that you should follow before we can help you with your query:
- Check [these troubleshooting steps](https://forum.freecodecamp.com/t/how-to-report-a-bug/19543) first.
- Please try looking through our [forum](http://forum.freecodecamp.com) for help with a specific challenge and any coding assistance.

**IMPORTANT:**
Please NOTE that t

[2017-10-11 00:13] martindavid commented on #15729
@zk433 How is it going with this? I'd like to take part working on this as well if help is still needed?

[2017-10-11 00:15] #15927 closed

[2017-10-11 00:48] dhcodes commented on #15946
@darthgera123 the challenge code is [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/bd998042d5344f77a103aadfe8493d226f0da6fc/seed/challenges/01-responsive-web-design/basic-html-and-html5.json#L1653)

You would need to update the instructions and the tests for this challenge, then update the instructions and tests for the checkbox challenge after, and update the code that is preloaded in t

[2017-10-11 09:27] zk433 commented on #15729
@martindavid Hi! Please see issue #15942 for more details. I'll check with the rest of the team if they need any help, I'm currently working on the user page wireframe.

[2017-10-11 10:28] BhaveshSGupta commented on #15941
Hey @QuincyLarson, Can we host JS and Node images on S3 for #13798. Should I send you zip of these? Then we would be able to remove iconic as an dependency which would help in closing of #13798  and #15739

[2017-10-11 12:47] tchaffee commented on #15941
Just a small recommendation for this issue: it makes future changes much quicker if there is an app-wide setting for the image base path that can be changed in one place. Maybe put it in the `.env` file?

.env:
[code]

And then elsewhere in the code:
[code]

[2017-10-11 17:32] raisedadead opened #15951 "Switch to Node 8.x at LTS activation on 2017-10-31"
codebase:
-  [x] update packaging
-  [x] update contributing guide
-  [x] update docker config

dev ops:
-  [ ] update servers

Reference: https://github.com/nodejs/Release#release-schedule1

[2017-10-11 19:38] piggito commented on #15876
@BerkeleyTrue please can you check the PR https://github.com/freeCodeCamp/freeCodeCamp/pull/15947

@raisedadead I think we should reopen https://github.com/freeCodeCamp/freeCodeCamp/issues/14604 I have added a comment https://github.com/freeCodeCamp/freeCodeCamp/issues/14604#issuecomment-335048892

[2017-10-13 14:39] no-stack-dub-sack commented on #15704
@QuincyLarson @systimotic I've just made a PR to fix this, but like @systimotic, I am unsure if there was some deeper reason for @BerkeleyTrue's original choice here. Though it does seem like this is doable with no other noticeable side effects.

Though we are not in production with this, people are still using the beta site quite a bit, and this makes the overall experience quite a bit better, so

[2017-10-13 15:45] BerkeleyTrue commented on #15704
@no-stack-dub-sack monokai was removed in favor of a light theme.

[2017-10-13 17:08] no-stack-dub-sack commented on #15704
Here are some choices. Or, we could just keep the old theme which has nice vibrant colors, and just make the editor background white (and change unquoted strings to a different color).

Thoughts @raisedadead @BerkeleyTrue @QuincyLarson?

default
![image](https://user-images.githubusercontent.com/18563015/31556822-887d00a6-b014-11e7-8bba-ae130c507c6e.png)

paraiso-light
![image](https://user-images

[2017-10-13 17:42] BerkeleyTrue commented on #15704
The default of Monokai with a white background will work for me. The others will cause the codemirror instance to stand out from the rest of the pane.

@QuincyLarson thoughts?

[2017-10-13 17:43] raisedadead commented on #15704
I am also in favor of default one, for light theme.

[2017-10-13 19:03] brushtab opened #15955 "Map: Labels arrows don't change direction when click on them"
#### Issue Description

1. Open https://www.freecodecamp.org/map
2. You see all menus expanded, click on any to collapse it

Expected: Arrow directed right and collapsed menu
Actual: Arrow directed down and collapsed menu

When you click on "Expand/Collapse all chalenges" button everything works fine and arrows changes it's directions.
Same repeats when map occurs as slide window on the right side

[2017-10-13 19:16] texas2010 commented on #15704
I am fine with default

[2017-10-13 19:45] BerkeleyTrue commented on #15704
@texas2010 Awesome. Let's move with the default theme.

[2017-10-13 20:08] BerkeleyTrue commented on #15876
PR merged.

@piggito Thanks for your help! It will be live latter today.

Happy Coding

[2017-10-13 20:21] QuincyLarson opened #15956 "Remove email button from profile view"
We have switched from using the team@freecodecamp.org email to instead using https://support.freecodecamp.org

So we need to remove the "email us at team@freecodecamp.org" button from the UI.

![camper_quincylarson_s_code_portfolio___freecodecamp](https://user-images.githubusercontent.com/985197/31564801-039616e6-b02a-11e7-8646-89040513e0f9.png)

[2017-10-13 20:22] muggahtee commented on #15956
:wave: I'll take this if that's OK?

[2017-10-13 20:25] QuincyLarson commented on #15956
@muggahtee Awesome! Go for it. Please keep us posted on your progress :)

[2017-10-13 21:08] Yoshyyy commented on #15956
I'll do it

[2017-10-13 22:33] texas2010 commented on #15956
@QuincyLarson Which branch you want to remove that?   btw @muggahtee did remove that in the staging branch. (he sent PR to us)

[2017-10-13 22:51] QuincyLarson commented on #15956
@muggahtee Sorry - I forgot to clarify that you should branch off of backup/master and make this change. You can leave your current pull request up, since we will want to do this on our staging branch, too.

Can you make a new pull request after branching off of backup/master?

[2017-10-13 22:57] texas2010 commented on #15956
@QuincyLarson thank you for clarifying. I feel like it supposes to be on backup/master branch. And I was not sure. that is why I asked you. 😃  👍

[2017-10-13 22:58] QuincyLarson commented on #15876
@piggito Awesome! Thanks again!

[2017-10-13 22:59] QuincyLarson commented on #15704
@texas2010 @raisedadead @no-stack-dub-sack I am also in favor of the default theme for light mode.

[2017-10-14 00:05] no-stack-dub-sack commented on #15704
Sounds good, I'll update the PR

[2017-10-14 04:00] danishanwar commented on #15956
I can solve this issue.Is this isue still open??
I am new to open source please guide me.

[2017-10-14 08:02] muggahtee commented on #15956
Yes of course, sorry! Will do that later today

[2017-10-14 08:10] jay1pimp commented on #15956
On Oct 14, 2017 3:05 AM, "Oliver Leaver-Smith" <notifications@github.com>
wrote:

Yes of course, sorry! Will do that later today

backup/master and make this change. You can leave your current pull request
up, since we will want to do this on our staging branch, too.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github

[2017-10-14 09:42] hossain128 commented on #7806
var a=7;
var b=a;
var b=;

Please help me, What will be the value of B;

[2017-10-14 09:47] hossain128 commented on #7806
Alhamdulillah, I found the solution:

http://prntscr.com/gx9x1a

[2017-10-14 15:04] raisedadead commented on #15955
Anyone looking into this please make a change against `backup/master`

[2017-10-14 15:37] raisedadead commented on #15942
@zk433 I am not sure this meant?

Do you mean the backend APIs need to be updated as required? If yes can you please guide with the user properties that are to be handled?

Reference can be seen in the user schema `common/models/user.json`, let me know if you need assistance.

[2017-10-14 16:01] dshubhadeep commented on #15955
Is it okay if I work on this ?

[2017-10-14 16:46] #15704 closed

[2017-10-14 16:55] raisedadead commented on #15955
@dshubhadeep sure!

[2017-10-14 19:16] QuincyLarson commented on #15848
@tchaffee Awesome! Congratulations on making all of these updates!

[2017-10-14 19:43] surmistry commented on #15826
Hey Quincy, huge fan of freeCodeCamp and would love to tinker with this bug.
Looks fairly straight forward

[2017-10-14 20:08] zk433 commented on #15942
@martindavid , @codejockie, @Velveeta, the User Profile page has been designed (see the first post with the link). Are you still interested in getting involved?

@raisedadead , I'll look into the user schema, I will let you know once I make some sence of it.

[2017-10-14 20:20] Velveeta commented on #15942
I'm still interested. If I'm reading this properly, though, the link you're referring to is the jade template for the profile page? And you just wanted that recreated via React? Or am I completely off the mark?

[2017-10-14 20:37] zk433 commented on #15942
Sorry, I think I wasn't clear. The link I was referring to was this one: https://www.dropbox.com/s/gsc6e8xyf1sa055/userpage-wf2.1.pdf?dl=0

The current page is running from the jade file, but for the fCC beta, we are redesigning and reactifying it. I prepared a pdf with the layout, now it needs to be coded up using React and connected to the Settings page so that all the information will be pulled

[2017-10-14 20:47] Velveeta commented on #15942
Perfect, I can start trying to dig in to this today :) Given the scope of items on this page view, and the number of people looking to assist, we can probably chunk this up here some, and allow people to take pieces of it, and then bring them all together in the final layout... I can throw out an initial breakdown here (sort of pseudo-tickets, without logging individual issues for each one), and p

[2017-10-14 20:52] zk433 commented on #15942
Great idea, go for it! And thank you for contributing!

[2017-10-14 20:59] zk433 commented on #15826
@ecotg Hi! I was just wondering if you have had any chance to work on this? Thank you for letting us know :)

[2017-10-14 21:17] raisedadead commented on #15956
@zk433

On `staging` the button is on the settings page as well as on the user profile pages. On `backup/master` its only on the user profile page.

This issue targets its removal.

The intent here is to make one pull request against `backup/master` which is our production site. This is already being worked upon by @muggahtee I believe, which is simply removing it from the view.

The other changes

[2017-10-14 21:26] zk433 commented on #15956
@raisedadead Got it. Already added to the #15942 checklist.

[2017-10-14 21:38] QuincyLarson commented on #15826
@surmistry Thanks for your kind words.

@ecotg have you had a chance to start working on this? If not, could we let @surmistry take a crack at it?

[2017-10-14 21:46] QuincyLarson commented on #15941
@BhaveshSGupta Yes - we can host custom SVG images outside of font awesome on S3. That's a good idea.

@tchaffee That's an excellent idea. We can implement it that way. The path is:
[code]

[2017-10-14 21:46] Velveeta commented on #15942
Here's a quick and dirty breakdown, component-wise, with no thought as to what the data props should be called, but those kinds of details are easy to change as needed when we integrate everything into the overall view... Feel free to throw out comments if you feel the need to, and otherwise, please only check off an item if you're about to actively begin work on it (it might also be nice to edit

[2017-10-14 21:46] Velveeta commented on #15942
* Buttons
  - [ ] Update My Settings
  - [ ] Sign me out of freeCodeCamp
* Avatar
  - [ ] User Avatar component (probably with default image if not yet set)
* Icons
  - [ ] Email
  - [ ] LinkedIn (?)
  - [ ] GitHub
  - [ ] Website
  - [ ] Twitter
* Calendar (should probably just be a simple flexbox wrapper that maps over its data set and outputs Month components)
  - [ ] Month component
  - [ ] Da

[2017-10-14 21:51] zk433 commented on #15942
@Velveeta  Great job!
Yes, it is LinkedIn :)
Calendar - do you mean the heatmap? Check out issue #15826 - somebody should already be working on it.

[2017-10-14 21:52] QuincyLarson commented on #15946
@camper-fcc Yes - if you're talking about just nesting the checkbox within the label (instead of having everything on one line), sure, we can teach the recommended way.

Please note that when you make this change, you'll need to also change the lesson instructions which introduce this syntax, and you may need to update some tests. You'll also need to update subsequent challenges that have that ele

[2017-10-14 21:54] QuincyLarson commented on #15918
@systimotic My understanding is that @nsuchy is going through these manually. In this case, it's a one-time process, and I don't think it's worth trying to come up with an automated way to do this, as each of these articles will still need to be QA'd. There's no escaping the fact that a human will have to manually look at this.

@nsuchy how is this process coming along?

[2017-10-14 21:55] Velveeta commented on #15942
Thanks for pointing those out, I updated the list to reflect it :)

[2017-10-14 22:47] pdotsani commented on #15942
@Velveeta I'm interested in working on the user profile page as well.

[2017-10-14 22:52] Velveeta commented on #15942
I'm by no means in charge of this whole thing, just trying to make sure multiple people can collaborate in a way that'll reduce stepping on toes :) As stated in the above comment outlining planned contributions, feel free to break off a chunk of work, and submit a PR for it... When you pluck a work segment, just check off the box for it so that nobody else starts working on that piece :)

[2017-10-14 23:08] martindavid commented on #15942
@zk433 Yes, I'm still keen to work on it. So, everything is based on @Velveeta list, right? I'll read through the code and see which one I can do. Atm, I'd interest to work on Button and Timeline.

[2017-10-15 03:44] BerkeleyTrue commented on #4201
I have in my mind to move over to ava.js for testing (I've used it in several other projects and it is fantastic), but ava does not support browser testing. It does seem possible to do iframe testing using jsdom. If that is possible it might not be needed to do challenge testing in the browser. This is an untested theory but it would make challenge testing pretty fast as ava runs tests in parallel

[2017-10-15 23:05] martindavid commented on #15826
@surmistry @ecotg have you guys working on this? I wondering since a couple of days, because no answer to Quincy question. If no one working on this, I'd love to take this.

[2017-10-16 02:09] QuincyLarson commented on #15876
@piggito just emailed me asking us to re-open this issue until they've made this change on the Staging branch.

[2017-10-16 03:24] jnmorse opened #15964 "Pairwise bug test don't cover"
#### Challenge Name
[Pairwise](https://www.freecodecamp.org/challenges/pairwise)

#### Issue Description
So while messing around with some of my old repositories, I happened upon a bug in my pairwise solution that is not currently covered.

Now, this was a bug in my own code and not on freeCodeCamps end, but I thought perhaps a test should perhaps be added to check for it.

The bug in my code happ

[2017-10-16 03:49] piggito opened #15965 "Update email - Browser's console errors"
#### Issue Description

I was testing staging branch and noticed that browser's console shows some warnings and errors in the Update email page (http://localhost:3000/en/settings/update-email).

#### Browser Information

* Browser Name, Version: Google Chrome, Version 61.0.3163.100
* Operating System: Ubuntu 16.04 (64-bit)
* Mobile, Desktop, or Tablet: Desktop

#### Screenshot

![screenshot_2017-1