[2016-07-23 17:37] #9776 closed

[2016-07-23 17:52] #7510 closed

[2016-07-23 18:02] raisedadead commented on #9546
Closing as stale, please comment to re-open after you have a chance to trouble shoot.

[2016-07-23 18:02] #9546 closed

[2016-07-23 19:46] WaleedWattoo opened #9865 "heading"
Challenge [Say Hello to HTML Elements](https://www.freecodecamp.com/challenges/say-hello-to-html-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-07-23 19:46] #9865 closed

[2016-07-23 19:50] maneatinggoldfsh opened #9866 "Syntax Error with semicolon at end of do while loop"
Challenge [Sum All Odd Fibonacci Numbers](https://www.freecodecamp.com/challenges/sum-all-odd-fibonacci-numbers#?solution=function%20sumFibs(num)%20%7B%0A%20%20var%20prevNum%20%3D%201%3B%0A%20%20var%20curNum%20%3D%201%3B%0A%20%20var%20result%20%3D%202%3B%0A%0A%20%20do%20%7B%0A%20%20%20%20var%20newNum%20%3D%20prevNum%20%2B%20curNum%3B%0A%0A%20%20%20%20if%20(newNum%20%25%202%20!%3D%3D%200%20%26%26%2

[2016-07-23 19:52] maneatinggoldfsh commented on #9866
Duplicate defect for #9652. Closing.

[2016-07-23 19:52] #9866 closed

[2016-07-23 21:28] trondweiseth commented on #2467
Make sure you have nested all HTML elements in .container-fluid

[2016-07-23 22:00] mcole1976 opened #9867 "More a Question on Exact change:"
#### Challenge Name

#### Issue Description

Exact Change
#### Browser Information

Windows Firefox Laptop

:
#### Your Code

on the penultimate question, there is 1.01 in the till and it states the solution is insufficient funds.  The instructions state that if you have the monetary amount in the till you pass back the change and the array, not a string.  Have I misunderstood the instructions?  O

[2016-07-23 22:10] charlie075 commented on #9799
how can I move forward regardless

[2016-07-23 22:40] Em-Ant commented on #9826
@QuincyLarson one of my full-stack projects ported to hyperdev
https://jewel-back.hyperdev.space/
https://hyperdev.com/#!/project/jewel-back

I used react, but i had to manually pack all the components in a single file. Probably it's possible to bundle them automatically from separate files using browserify-middleware or require.js, but I don't know exactly how to do it. Hope it helps, bye.

[2016-07-23 22:48] erictleung commented on #9859
Okay, closing then. Thanks all and happy coding!

[2016-07-23 22:48] #9859 closed

[2016-07-23 23:53] alex1nd opened #9868 "BUGS"
Challenge [Escaping Literal Quotes in Strings](https://www.freecodecamp.com/challenges/escaping-literal-quotes-in-strings#?solution=%0Avar%20myStr%20%3D%20%22I%20am%20a%20%5C%22double%20quoted%5C%22%20string%20inside%20%5C%22double%20quotes%5C%22%22%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code

[2016-07-23 23:56] alex1nd commented on #9868
its work
var myStr = "I am a \"double quoted\" string inside \"double quotes\".";

[2016-07-23 23:57] alex1nd commented on #5825
dot

var myStr = "I am a \"double quoted\" string inside \"double quotes\".";

[2016-07-23 23:58] #9868 closed

[2016-07-24 02:36] skregas commented on #7415
I noticed the next specifically states to add the **animate** class, along with the **shake** class.
Shouldn't this lesson also state to add the **animate** class along with the **bounce** class?

Thanks

[2016-07-24 03:16] dhcodes commented on #9861
I just tested and can confirm this behavior.

[2016-07-24 11:25] MTeresaArista opened #9870 "Doesnt run test, does not appear the "to do" list"
Challenge [Target the same element with multiple jQuery Selectors](https://www.freecodecamp.com/challenges/target-the-same-element-with-multiple-jquery-selectors) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if po

[2016-07-24 11:29] BKinahan commented on #9870
This is a duplicate of #9673; you have a capitalization error (`addclass`) that is causing the tests not to run correctly.

Note: you may need to refresh the page after correcting the error in order to allow the tests to run properly.

Happy coding!

[2016-07-24 11:33] MTeresaArista commented on #9870
It still doesnt let me correct the test and doesnt show me the "To do" list below that.

Is that normal? All other excercise show me that and allow me to run the test, but not that expecific one

[2016-07-24 11:37] BKinahan commented on #9870
@MTeresaArista Be sure to refresh the page. If it still doesn't work, use the Reset button and refresh again, then re-enter your code with the correct capitalization for `addClass`

[2016-07-24 11:41] MTeresaArista commented on #9870
Thank you! It works now :+1:

Have a nice day!

[2016-07-24 11:47] bugron commented on #9870
@MTeresaArista thanks for posting, @BKinahan thanks for your help. Closing this PR as resolved.

[2016-07-24 11:47] #9870 closed

[2016-07-24 19:36] josevill opened #9873 "Small screen laptop fails to render phone frame HTML/CSS Waypoints"
#### Challenge Name

[Every HTML/CSS waypoint](https://www.freecodecamp.com/challenges/override-styles-in-subsequent-css)
#### Issue Description

Look at the screenshots provided below. It has something to do with the screen resolution, it's 1024x600. This is a 11" laptop, i got it almost only to do the FCC curriculum on the go, but i found i cant use it using its native resolution. If i go into d

[2016-07-24 19:50] dhcodes commented on #9873
@josevill It's not just your laptop; the phone frame is not included on any tablet or mobile device.

I supposed if the image were an svg or its width/height were in scalable units, it could be possible to have it show on smaller screens.

[2016-07-24 21:27] craigstroman commented on #9104
Hi,

Is this still an issue?

If so I would be interested in taking it.

[2016-07-24 23:26] BeaCodes commented on #9648
Here it is! "Cadenas de entrada están garantizadas de ser palabras en Inglés en minúscula."

[2016-07-25 06:17] raisedadead commented on #9104
Yes. Could you reproduce the issue?

[2016-07-25 07:21] ritu-kumari opened #9874 "order list"
Challenge [Create an Ordered List](https://www.freecodecamp.com/challenges/create-an-ordered-list#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monosp

[2016-07-25 08:01] ucshadow opened #9875 "Nonprofit Projects"
Hello, it's been 6 days since I contacted @CodeNonprofit by writing an email to codenonprofit@gmail.com (as seen in his github profile) and still no answer.

This was the original issue post https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9787

Is there any other way to contact him?

[2016-07-25 08:30] QuincyLarson commented on #9841
@raisedadead Yes, @SamAI-Software's changes look pretty sharp. We are I've pushed them to https://freecodecamp.github.io/2016-new-coder-survey/

All we need is for @BerkeleyTrue to help us set up the route.

[2016-07-25 08:55] atjonathan commented on #9648
@BeaCodes could you submit a pull request with the change? Thanks :smiley:

[2016-07-25 09:59] mytreasures commented on #9737
![image](https://cloud.githubusercontent.com/assets/20458399/17097658/46224b6c-5291-11e6-95f2-3228e236d75c.png)

[2016-07-25 10:33] mytreasures commented on #9798
![image](https://cloud.githubusercontent.com/assets/20458399/17098306/46c60088-5294-11e6-8a7a-be4da77967b5.png)

[2016-07-25 11:17] raisedadead commented on #9875
Hi @ucshadow apologies for the delay in getting back. Michael normally responds to his emails very fast, not sure if he is away/busy with something.

We will get back to you asap.

[2016-07-25 11:20] craigstroman commented on #9104
I was able to reproduce it in the iOS simulator.

I do have one question though.  I was wondering where in the repo is this CSS/HTML produced?  I couldn't find it when I was looking for it.

[2016-07-25 11:21] raisedadead commented on #9874
@ritu-kumari :

Your code is not correct, please re-check the `<p> top three things cats hate:</p>` and the test cases.
The string is not matching of what is expected.

On that note, I understand there is no feedback on clicking the run tests button, this is a bug which we are aware of and will fix soon.

In case you are stuck please reach out to the [Help Chat Room](https://gitter.im/FreeCodeCamp

[2016-07-25 11:21] #9874 closed

[2016-07-25 12:16] Icey88 opened #9876 "Embedded Images Not Displaying"
Challenge [Build a Personal Portfolio Webpage](https://www.freecodecamp.com/challenges/build-a-personal-portfolio-webpage) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/601.6.17 (KHTML, like Gecko) Version/9.1.1 Safari/601.6.17</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Issue is to do with the

[2016-07-25 12:20] raisedadead commented on #9876
@Icey88 thanks for reporting.

The example was originally made by @hallaathrad and seems the content images are now offline.
Looking into it.

[2016-07-25 14:20] CodeNonprofit commented on #9787
Hi @ucshadow,

Thank you for filing an issue. In the email @BerkeleyTrue gave you,  Michael is spelled wrong and I have not received your email. Please resend to michael@freecodecamp.com and I will get back to you today.

[2016-07-25 14:26] CodeNonprofit commented on #9875
Hi @ucshadow,

Thank you for filing an issue. In the email @BerkeleyTrue gave you, Michael is spelled wrong. I have not received your email. Please forward to michael@freecodecamp.com and I will get back to you today.

[2016-07-25 14:27] CodeNonprofit commented on #9875
@ucshadow Additionally, you should have received an email from us after receiving all 3 certifications. If you did not receive this email, you do not have an email address on file with Free Code Camp. This outlines the next steps for the nonprofit projects.

[2016-07-25 14:32] raisedadead commented on #9875
@ucshadow please follow as directed. Closing as resolved.

[2016-07-25 14:32] #9875 closed

[2016-07-25 14:55] IsaacAbrahamson opened #9877 "Wiki Issue"
Algorithm Missing letters Wiki Page
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Algorithm-Missing-Letters

Wiki page states that

and later

However, the actual challenge states:

and

The problem is that the challenge requires you to return the missing letter, but according to the wiki page, you are to add the missing letter to the word and then return the word from what I understood. Somew

[2016-07-25 14:58] mytreasures commented on #8243
![image](https://cloud.githubusercontent.com/assets/20458399/17105764/2880160a-52bb-11e6-9881-438ed713e7e6.png)

[2016-07-25 15:03] heymartinadams opened #9878 "It appears my code delivers what the lesson requires, yet it indicates an error."
Challenge [Stand in Line](https://www.freecodecamp.com/challenges/stand-in-line#?solution=function%20nextInLine(arr%2C%20item)%20%7B%0A%20%20arr.push(item)%3B%0A%20%20return%20arr.splice(0%2C%201)%3B%0A%7D%0A%0A%2F%2F%20Test%20Setup%0Avar%20testArr%20%3D%20%5B%5D%3B%0A%0A%2F%2F%20Display%20Code%0Aconsole.log(%22Before%3A%20%22%20%2B%20JSON.stringify(testArr))%3B%0Aconsole.log(nextInLine(testArr%2C

[2016-07-25 15:13] ChaituVR commented on #8302
@QuincyLarson I got this weird idea today.. i am not sure this is possible or not.. we got some  empty space at bottom of every challenge.. Maybe we could have a proxy Console the one which works in every browser.. like the one CodePen and Jsbin  are having..  CodePen had mentioned in their [blog](https://blog.codepen.io/2016/01/27/new-feature-javascript-console/)  `Thanks to JS Bin for some of th

[2016-07-25 15:13] raisedadead commented on #9878
`.splice` will return an array, while the tests are looking for a number.
Hence with although your code prints the correct output it fails the test.

I feel we should add a testcase stating:

[2016-07-25 15:15] raisedadead commented on #9877
Our wiki has been moved to http://forum.freecodecamp.com, we will shortly remove the GitHub Wiki as well, but for the time being please open this on the [wiki repo here](https://github.com/FreeCodeCamp/Wiki/issues)

[2016-07-25 15:15] #9877 closed

[2016-07-25 15:36] MD-J commented on #2467
no solution?

[2016-07-25 15:43] amelianstars opened #9879 "????"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%20%0A%20%20.redtext%20%7B%20%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20h2%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20

[2016-07-25 16:00] dhcodes commented on #9879
@amelianstars There is an issue with your code. Please re-read the directions and ask for help in the [FCC Help chat room](https://gitter.im/FreeCodeCamp/Help).

[2016-07-25 16:08] raisedadead commented on #9879
@amelianstars thanks for the issue please follow the below before reporting issues.
[Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/FreeCodeCamp-Report-Bugs).

@dhcodes thanks.

[2016-07-25 16:08] #9879 closed

[2016-07-25 16:17] amelianstars opened #9882 "????"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2016-07-25 16:18] zagu commented on #8826
I had the same issue with Firefox. Switched to Chromium(Chrome) and it worked.

[2016-07-25 16:21] gringogidget commented on #6143
I feel this challenge to be a bit annoying because we haven't yet learned what arr.length is.  Up until now I just thought a variable went before it and when I noticed arr is not defined I was like.. wth.

[2016-07-25 17:09] SkyDivin commented on #7842
I also would love to learn to to actually fit this problem with the Loving line drop and the cut of delete through the Challenges

[2016-07-25 17:31] vramana commented on #7853
@raisedadead May be we should close this issue in favour of #9145

[2016-07-25 17:49] raisedadead commented on #7853
@vramana Yup. Thanks for pointing out.

[2016-07-25 17:49] #7853 closed

[2016-07-25 18:06] mayankfgiet opened #9883 "plss solve this"
Challenge [Learn how Script Tags and Document Ready Work](https://www.freecodecamp.com/challenges/learn-how-script-tags-and-document-ready-work#?solution=%3Cscript%20%24(document).ready(function()%20%7B%7D)%3B%3E%20%0A%20%20%20%20%20%20%20%20%0Afcces%0A%0A%0A%3C!--%20Only%20change%20code%20above%20this%20line.%20--%3E%0A%0A%3Cdiv%20class%3D%22container-fluid%22%3E%0A%20%20%3Ch3%20class%3D%22text-p

[2016-07-25 18:13] raisedadead commented on #9882
@amelianstars GitHub Issues are not for coding help. Kindly do not post anymore issues unless you find one, please visit the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help) for any assistance to code.

[2016-07-25 18:13] #9882 closed

[2016-07-25 18:13] #9806 closed

[2016-07-25 18:14] raisedadead commented on #9883
@mayankfgiet please visit [Help Chat Room](https://gitter.im/FreeCodeCamp/Help).

[2016-07-25 18:14] #9883 closed

[2016-07-25 18:36] duonganh169 opened #9885 "Help bug"
Challenge [Understand String Immutability](https://www.freecodecamp.com/challenges/understand-string-immutability#?solution=%0A%2F%2F%20Setup%0Avar%20myStr%20%3D%20%22Jello%20World%22%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0AmyStr%20%3D%20%22Hello%20World%22%3B%0A%0AmyStr%5B0%5D%20%3D%20%22H%22%3B%20%2F%2F%20Fix%20Me%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Wi

[2016-07-25 18:39] CodeNonprofit opened #9886 "Notification modal for campers who have claimed all six certifications"
Campers who have claimed all 6 certifications should receive a popup modal telling them to check their email for next steps or to email team@freecodecamp.com if they haven't received one.

Modal copy:

[2016-07-25 18:50] raisedadead commented on #9885
@duonganh169 its mentioned that

`myStr[0] = "J";` **cannot** change the value of myStr to "Job".

Are you stuck on understanding the challenge? Have you visited the [JavaScript Chat Room](https://gitter.im/FreeCodeCamp/HelpJavaScript).

[2016-07-25 19:13] mayankfgiet opened #9887 "plssssssssssssssss help.............."
Challenge [Target the same element with multiple jQuery Selectors](https://www.freecodecamp.com/challenges/target-the-same-element-with-multiple-jquery-selectors#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%0A%20%20%20%24(%22button%22)%20.addclass(%22animated%22)%3B%0A%20%20%20%24(%22.btn%22).addclass(%22shake%22)%3B%0A%20%20%20%20%0A%20%20%20%24(%22%23target1%22)

[2016-07-25 19:18] arun1595 commented on #9887
The problem is with your code. The name of the function is `addClass` and not `addclass`

[2016-07-25 19:24] bugron commented on #9887
@mayankfgiet thanks for posting this issue!
Closing this issue as not a problem with the site. When you open an issue give it a meaningful title, please.
If you have problems with your code, please, post a message in our [Gitter chat room](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/FreeCodeCamp-Get-Help) first, thanks.

[2016-07-25 19:24] #9887 closed

[2016-07-26 00:06] kosnet2 commented on #9799
Indeed!! I was just breaking my head about this challenge over the past hour to find out it was a bug..
@charlie075  just refresh the page

[2016-07-26 00:50] GawdzillaCodes opened #9889 "Images kaput on the example Personal Portfolio"
Challenge [Build a Personal Portfolio Webpage](https://www.freecodecamp.com/challenges/build-a-personal-portfolio-webpage) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36</code>.

It looks like the host is down.   ( http://qlip.in/ )

[2016-07-26 00:56] #9889 closed

[2016-07-26 00:56] GawdzillaCodes commented on #9889
This bug has already been reported.

[2016-07-26 01:22] lemyaKuruvilla commented on #5455
<div class="row">
    <div class="col-xs-4">
      <button class="btn btn-block btn-primary"><i class="fa fa-thumbs-up">Like</i> </button>
    </div>

[2016-07-26 04:15] Razz67 commented on #8653
I got mine to work by putting the period before the last quotation mark.  Hope this helps.

[2016-07-26 06:54] QuincyLarson commented on #8302
@ChaituVR We have thought about that, but we don't want to clutter up the UI. It's tempting to fill up empty space, but it makes things much more complicated for new comers who are like "what's this box down here? So complicated." and then leave.

I agree with @ChadKreutzer that we should update the copy to say "as well."

Regarding @vcooley's suggestion, the intention of the challenge is to intro

[2016-07-26 06:54] #8302 closed

[2016-07-26 06:56] QuincyLarson opened #9891 "Update output box copy"
We need to add "as well" to the end of:
[code]
since the results do indeed show up there, too.

Thanks to @ChadKreutzer for pointing this out.

[2016-07-26 10:21] for3v3r4u opened #9892 "Mutations - FreeCodeCamp - beginner"
Can someone explain me why this code is not working?

function mutation(arr) {
  for(var i=0; i<arr.length; i++) {
    arr[i] = arr[i].toLowerCase();
  }
  for(var j=0; j<arr[1].length; j++) {
    if(arr[0].indexOf(arr[1].charAt(j), 0) !== -1) {
      return true;
    } else {
      return false;
    }
  }
}

mutation(["hello", "hey"]);

For some reason the letter "y" is not seen by the engine and

[2016-07-26 10:51] BKinahan commented on #9892
Please visit the [HelpJavaScript Chat](https://gitter.im/FreeCodeCamp/HelpJavaScript) for assistance with writing code for the JavaScript challenges.
Issues are for reporting bugs with the challenges or website.

Happy coding!

[2016-07-26 11:00] raisedadead commented on #9892
@for3v3r4u please visit the chat room as directed by @BKinahan

[2016-07-26 11:00] #9892 closed

[2016-07-26 11:06] raisedadead commented on #9891
For contributors looking to fix this update the below line of code
https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/client/commonFramework/output-display.js#L36

to reflect like this:
[code]

#### Please go through the [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md).
#### You do not need to ask any persmission to work on this, just

[2016-07-26 11:07] flipsyde606 commented on #9886
I will work on this.

[2016-07-26 11:07] #9885 closed

[2016-07-26 11:09] oalhait commented on #9891
I'm on it!

[2016-07-26 11:24] raisedadead commented on #5612
Is this necessary any longer, the map aside show, challenges which are completed with a check box and scroll to the recent challenge automatically.

Closing as stale. Please comment if you feel this should be taken up.

[2016-07-26 11:24] #5612 closed

[2016-07-26 11:27] BKinahan commented on #9878
The same code will still appear to return a number while failing that test, so I'm not sure that addresses the issue.

Can we have the output show an array containing a single number element as an array rather than a number?

[2016-07-26 11:35] raisedadead commented on #9878
Yeah it's possible, but we gotta hack the tail code to detect if it's an array and then append the `[` and `]`, yet this might get buggy with different solutions.

[2016-07-26 11:44] #9649 closed

[2016-07-26 11:46] azaleas commented on #9891
Can I participate now, given that @oalhait is on it? Can I create a pull request?

[2016-07-26 11:53] raisedadead commented on #9891
Ahh.. I am not sure, we will accept the first pull request that is meets the criteria laid out by the contribution guidelines.

Nevertheless we will log some more first timers issues if possible, also you should check this post on how to contribute to tons of first timer issues.
http://forum.freecodecamp.com/t/where-and-how-do-i-get-started-to-contributing-to-open-source/709

[2016-07-26 11:57] azaleas commented on #9891
@raisedadead I see. Well, ok then. I will wait out even though the pull is ready;)

[2016-07-26 13:20] #9891 closed

[2016-07-26 13:56] oashtari opened #9894 "lesson 167"
Return a Value from a Function with Return

https://www.freecodecamp.com/challenges/return-a-value-from-a-function-with-return#?solution=%0A%2F%2F%20Example%0Afunction%20minusSeven(num)%20%7B%0A%20%20return%20num%20-%207%3B%0A%7D%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0Afunction%20timesFive(num)%7B%0A%20%20return%20num*5%3B%0A%7D%0AtimesFive(10)%3B%0A

#### Issue Description

No

[2016-07-26 14:01] bugron commented on #9894
@oashtari thanks for posting this issue!
Note that your issue is a duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9583 so I'll close this one. You can continue further discussion there.

[2016-07-26 14:01] #9894 closed

[2016-07-26 14:52] tamami commented on #8025
Berhubung udah lama banget.. saya coba lanjut aja ya.. :)

[2016-07-26 15:17] andela-bebowe commented on #9363
@BerkeleyTrue Can I take this ?

[2016-07-26 15:38] christoga commented on #8025
Saya juga bingung, ini sudah selesai atau tiba-tiba break?

[2016-07-26 15:55] raisedadead commented on #9363
@andela-bebowe yup go ahead!

[2016-07-26 16:31] McBiggos opened #9897 "Build a Personal Portfolio - images not showing"
Challenge [Build a Personal Portfolio Webpage](https://www.freecodecamp.com/challenges/build-a-personal-portfolio-webpage) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.106 Safari/537.36 OPR/38.0.2220.41</code>.

Images used in codepen are no longer available - image source returns 404 page.

(If I posted this in wro

[2016-07-26 16:33] #9897 closed

[2016-07-26 16:43] Sliqric7053 opened #9898 "Application stuck on 'Using Objects for Lookups' challenge"
#### Challenge
Using Objects for Lookups
https://www.freecodecamp.com/challenges/using-objects-for-lookups

#### Issue Description
Cannot progress to the next challenge although all conditions are met

#### Browser Information

* Google Chrome, Version: Version 51.0.2704.106 (64-bit)
* Operating System: Mac OSX v10.11.6
* Mobile, Desktop, or Tablet: Laptop

#### Your Code
[code]

#### Screenshot

[2016-07-26 16:57] BKinahan commented on #9898
I can't reproduce this, your code runs fine and passes all of the tests. Can you try refreshing the page and running the tests again, @Sliqric7053 ?

[2016-07-26 16:58] Fendysutji opened #9899 "Challenge Increment a Number with JavaScript has an issue."
![bug on increment test](https://cloud.githubusercontent.com/assets/19755409/17147361/b3691326-538c-11e6-8e66-1fa40b64f317.png)
Challenge [Increment a Number with JavaScript](https://www.freecodecamp.com/challenges/increment-a-number-with-javascript#?solution=%0Avar%20myVar%20%3D%2087%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0AmyVar%20%3D%20myVar%2B%2B%20%3B%0A%0A) has an issue.

[2016-07-26 17:01] BKinahan commented on #9899
Thanks for reporting, but your code is incorrect. Take another look at the instructions and if you're still stuck, please seek assistance in the [Help Chat](https://gitter.im/FreeCodeCamp/Help).

Happy coding!

[2016-07-26 17:11] Fendysutji commented on #9899
oh sorry for the false report issue but already find my false and correct it
![increment](https://cloud.githubusercontent.com/assets/19755409/17147819/97e4326e-538e-11e6-9238-632d764d4d20.png)

[2016-07-26 17:11] #9899 closed

[2016-07-26 17:25] raisedadead commented on #9898
Isn't there one test case failing at the end.

[2016-07-26 17:46] Sliqric7053 commented on #9898
Hi @BKinahan

I refreshed the page, opened a new incognito window, and also tried Safari browser - the results are exactly the same as stated in the original issue.

However, I selected ALL the code and cut it, then submitted - the challenge passed!

Seems like a bug, but I am not sure if it's localized or general.

Anyway, thanks for the prompt response.

Best,
Rich

[2016-07-26 17:58] qmikew1 commented on #9898
Tested it as well (glad it self resolved) - I think the extra comment ```//must use [ ] notation if looking up variables``` was throwing it off. - Once that was removed tests passed

[2016-07-26 18:00] SavannahJacobson opened #9901 "Can't get website to approve challenge though everyone says code is correct?"
Challenge [Target the Children of an Element Using jQuery](https://www.freecodecamp.com/challenges/target-the-children-of-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target1%22).prop(%22disabled%22%2C%20true)%3B%0A%20%20%20%20%24(%22%23target4%22).remove()%3B%0

[2016-07-26 18:01] SavannahJacobson commented on #9901
I have tried a few alterations to code such as replacing word orange with hex number, and modifying target 5 duplication but nothing has worked. Any suggestions please.

[2016-07-26 18:24] dhcodes commented on #9901
@SavannahJacobson Your code has an issue. Look it over for typos. In the future, consider asking for help in the [Gitter Help Chat for FCC](https://gitter.im/FreeCodeCamp/Help). Cheers.

[2016-07-26 18:27] raisedadead commented on #9898
Tagging as related duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9673
This will most likely get resolved soon with the new editor.

[2016-07-26 18:29] raisedadead commented on #9901
tagging as a related duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9673

Workaround:
Copy your "Corrected" code, reset and refresh the page. Add your code and the challenge should pass.

[2016-07-26 18:29] SavannahJacobson commented on #9901
@dhcodes Is there a spell checker I can use? I don't know what's misspelled. I did ask for help in the forums but no one could spot an error.

Savannah

[2016-07-26 18:32] BerkeleyTrue commented on #9841
https://freecodecamp.github.io/2016-new-coder-survey/ Done!

A little touch and go there. NGINX is not a forgiving beast.

[2016-07-26 18:32] #9841 closed

[2016-07-26 18:35] SavannahJacobson commented on #9901
@raisedadead Followed your directions but received same error again

[2016-07-26 18:35] raisedadead commented on #9673
@Bouncey @BerkeleyTrue from the reports this seems to be appearing for some HTML5, CSS and JavaScript challenges as well.

Should we update this issue to reflect the same?

[2016-07-26 18:39] raisedadead commented on #9901
@SavannahJacobson

Have you updated your code as well? If yes and you are getting the same error please share it here.

[2016-07-26 18:41] Sliqric7053 commented on #9898
Well that makes me happy to hear ;-)

On 26 July 2016 at 20:30, Mrugesh Mohapatra <notifications@github.com>
wrote:

[2016-07-26 18:41] SavannahJacobson commented on #9901
@raisedadead
<script>
  $(document).ready(function() {
    $("#target1").css("color", "red");
    $("#target1").prop("disabled", true);
    $("#target4").remove();
    $("#target2").appendTo("#right-well");
    $("#target5").clone().appendTo("#left-well");
    $("#target1").parent().css("background-color", "red");

    $("#right-well").children() .css("color","FFa500");

  });
</script>

[2016-07-26 18:42] BerkeleyTrue commented on #9673
Does the error not show up in the iframe window?

[2016-07-26 18:42] SavannahJacobson commented on #9901
@raisedadead
<script>
  $(document).ready(function() {
    $("#target1").css("color", "red");
    $("#target1").prop("disabled", true);
    $("#target4").remove();
    $("#target2").appendTo("#right-well");
    $("#target5").clone().appendTo("#left-well");
    $("#target1").parent().css("background-color", "red");

    $("#right-well").children() .css("color","FFa500");

  });
</script>

[2016-07-26 18:44] SavannahJacobson commented on #9901
@raisedadead Tried pasting new code here twice but it's not showing up. I thing this challenge just has some bug in it as nothing anyone tells me to do allows it to pass. Code works fine in window but website will not accept it.

[2016-07-26 18:47] raisedadead commented on #9901
Apologies for your inconvenience.
But you need to share your code here for us to test the bug. We cannot test and fix unless we have a working code that is leading to the issue.

[2016-07-26 18:57] BEBEDYDY commented on #5940
var myStr = "I am a \"double quoted\" string inside \"double quotes\"."; // Change this line
you should be careful the spacing between strings.
and var myStr =
not var myStr ;

[2016-07-26 19:01] raisedadead commented on #9673
Will take a look next time I encounter it. Most of the times its not reproducible.

[2016-07-26 19:03] Snigelmat commented on #9658
Experiencing the same problem not being able to submitting, using Google Chrome

[2016-07-26 19:19] BEBEDYDY commented on #9314
var myStr ="FirstLine\n\\SecondLine\\\rThirdLine"; // Change this line
here you go

[2016-07-26 19:20] BEBEDYDY commented on #9764
var myStr ="FirstLine\n\\SecondLine\\\rThirdLine"; // Change this line
here you go.

[2016-07-26 19:20] BEBEDYDY commented on #9764
var myStr ="FirstLine\n\\SecondLine\\\rThirdLine"; // Change this line
here you go.

[2016-07-26 19:22] BEBEDYDY commented on #9764
var myStr ="FirstLine\n\\SecondLine\\\rThirdLine"; // Change this line
 for some reason,  browsers hide the \\
so:
var myStr ="FirstLine\n\\\SecondLine\\\\rThirdLine"; // Change this line

[2016-07-26 19:22] BEBEDYDY commented on #9314
for some reason, browsers hide the \\\
so:
var myStr ="FirstLine\n\\\SecondLine\\\rThirdLine"; // Change this line

[2016-07-26 19:26] iarobinson opened #9902 "Single Quote Strings in Arrays Return False - Requires Double String Quotes"
#### Challenge Name - Single Quotes Return False for Pushing to Arrays
https://www.freecodecamp.com/challenges/manipulate-arrays-with-push

#### Issue Description

#### Browser Information

* Chrome, Version: 51.0.2704.106 (64-bit)
* Operating System: OSX 10.11.5
* Mobile, Desktop, or Tablet: Laptop

#### Screenshot
<img width="1022" alt="screen shot 2016-07-26 at 12 23 07 pm" src="https://cloud.g

[2016-07-26 20:32] dhcodes commented on #9901
@SavannahJacobson I used the code you posted in the original post. This line: `$("#right-well").children() .css("color","FFa500");` has an extra whitespace before `.css`. Remove the space and it should pass.

[2016-07-26 20:39] iarobinson commented on #5125
I made the same mistake @ubcgga!

Numbers like '1234567890' aren't to be removed when comparing palindromes.

My solution =

`
function palindrome(str) {
  var cleanStr = '';
  var lowerStr = str.toLowerCase();
  var nonAlphaNum = '_ ,.(:/-\\:)-|'.split('');

  for (var i = 0; i < str.length; i += 1) {
    if (nonAlphaNum.indexOf(lowerStr[i]) === -1) {
      cleanStr += lowerStr[i];
    }
  }

  v

[2016-07-26 20:43] dhcodes commented on #9902
@iarobinson I just tested it and it seems to be working for me (i.e. it accepts single quotes). Could you reset your code and type it again and see if it takes?

[2016-07-26 21:01] McBiggos opened #9903 "Stand in Line || Right code but cannot pass challenge"
Challenge [Stand in Line](https://www.freecodecamp.com/challenges/stand-in-line#?solution=%0Afunction%20nextInLine(arr%2C%20item)%20%7B%0A%20%20%2F%2F%20Your%20code%20here%0A%20%20testArr.push(item)%3B%0A%20%20item%20%3D%20testArr%5B0%5D%3B%0A%20%20testArr.shift()%3B%0A%20%20return%20item%3B%20%20%2F%2F%20Change%20this%20line%0A%7D%0A%0A%2F%2F%20Test%20Setup%0Avar%20testArr%20%3D%20%5B5%2C6%2C7%2C

[2016-07-26 21:29] BEBEDYDY commented on #5716
// Setup
var myStr = "Jello World";

// Only change code below this line
myStr = "Hello World";
 // Fix Me

 here you go.

[2016-07-26 21:29] BEBEDYDY commented on #6899
// Setup
var myStr = "Jello World";

// Only change code below this line
myStr = "Hello World";
 // Fix Me

here you go.

[2016-07-26 21:29] BEBEDYDY commented on #5716
// Setup
var myStr = "Jello World";

// Only change code below this line
myStr = "Hello World";
 // Fix Me

here you go.

[2016-07-26 21:29] BEBEDYDY commented on #9885
// Setup
var myStr = "Jello World";

// Only change code below this line
myStr = "Hello World";
 // Fix Me

here you go.

[2016-07-26 21:30] dhcodes commented on #9903
@McBiggos I think a key here is to remember that you are writing a function based on the parameters provided (ex. arr, not testArr). I see how based on the tests at the bottom of the code editor it could seem counterintuitive.

FWIW, check out the [wiki](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Challenge-Stand-In-Line) for this challenge for a different take.

In the future, you might ask

[2016-07-26 21:40] McBiggos commented on #9903
@dhcodes Now as I look into it, it seems so obvious I should have used arr instead of testArr.
Thanks for fast reply.

[2016-07-26 21:40] #9903 closed

[2016-07-26 23:36] chaddgallagher commented on #9682
I'm having the same problem
![screen shot 2016-07-26 at 7 32 59 pm](https://cloud.githubusercontent.com/assets/20567693/17159002/175b0166-5368-11e6-8af1-e47f06b1bd48.png)

[2016-07-27 00:49] cjoshmartin opened #9904 "It works but will not let me past"
#### Title Case a Sentence (challenge)

https://www.freecodecamp.com/challenges/title-case-a-sentence#?solution=%0A%0Afunction%20titleCase(str)%20%7B%0A%20%20var%20arryStr%3Dstr.split('%20')%3B%0A%20%20str%3D%22%22%3B%0A%20%20for%20(i%3D0%3B%20i%3CarryStr.length%3Bi%2B%2B)%7B%0A%20%20%20%20var%20temp%20%3DarryStr%5Bi%5D.charAt().toUpperCase()%3B%0A%20%20%20%20var%20lower%3D%22%22%3B%0A%20%20%20%20

[2016-07-27 00:49] BerkeleyTrue opened #9905 "Show Cheater flag on everypage"
When a user is flagged as `isCheater` A flash message is shown on their profile when ever someone visits that page.

We would like to add a the same flash message to every page if the user is marked as a cheater while they are logged in.

[2016-07-27 01:17] anuoluwapo opened #9906 "you gurz should help me out of thos problem"
Challenge [Comparison with the Equality Operator](https://www.freecodecamp.com/challenges/comparison-with-the-equality-operator#?solution=%0A%2F%2F%20Setup%0Afunction%20testEqual(val)%20%7B%0A%20%20if%20(val)%20%7B%20%2F%2F%20Change%20this%20line%0A%20%20%20%20return%20%22Equal%22%3B%0A%20%20%7D%0A%20%20return%20%22Not%20Equal%22%3B%0A%7D%0A%0A%2F%2F%20Change%20this%20value%20to%20test%0AtestEqual

[2016-07-27 01:19] anuoluwapo commented on #9906
you gurz should help out of this problem

[2016-07-27 01:22] SavannahJacobson commented on #9901
I resovled the issue. Thanks everyone!

[2016-07-27 01:22] #9901 closed

[2016-07-27 01:48] craigstroman commented on #9104
Hi,

I created a pull request for this fix.  Please let me know if anything needs to be changed.

Thank you,
Craig

[2016-07-27 02:31] BEBEDYDY commented on #6197
unction wordBlanks(myNoun, myAdjective, myVerb, myAdverb) {
  var result = "";
  // Your code below this line
  result = myNoun+ " " + myAdjective + " " + myVerb + " " + myAdverb;

  // Your code above this line
  return result;

}

// Change the words here to test your function
wordBlanks("dog", "big", "ran", "quickly");
wordBlanks("cat", "little", "hit", "slowly");

here you go.

[2016-07-27 03:23] Yohana13 opened #9908 "change the front size of an element"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20p%7B%0A%20%20%20%20front-size%3A%2016px%3B%0A%20%20%7D%20%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitt

[2016-07-27 03:27] SparklesPancake commented on #9908
Hi Yohana13,
You have a typo in the line where it should read "font-size".  Currently it says "front-size".

[2016-07-27 03:36] erictleung commented on #9908
@Yohana13 thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). As @SparklesPancake has pointed out, please double check your spelling. Happy coding!

[2016-07-27 03:36] #9908 closed

[2016-07-27 04:02] erictleung commented on #9906
@anuoluwapo thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-07-27 04:02] #9906 closed

[2016-07-27 05:03] jle3 opened #9909 "FCC Heroku app returning json for challenge seems to be down"
#### Challenge Name

https://www.freecodecamp.com/challenges/build-a-camper-leaderboard

#### Issue Description

The api returning top 100 campers for past 30 days and all time is not returning any data.

#### Browser Information

* Browser Name, Version: chrome 52
* Operating System: mac osx el capitan
* Mobile, Desktop, or Tablet:  desktop

#### Screenshot

![alt text](http://i.imgur.com/N78niU5

[2016-07-27 05:38] Manish-Giri commented on #9905
How is a user flagged as a cheater?

[2016-07-27 06:42] kiraPez commented on #9059
Hi, I'm experienceing the same problem as well. I usually do the work on codepen, and on codepen the numbers are also being trimmed (60.00 -> 60).

Is there any update on the question?

[2016-07-27 06:50] rohan222 opened #9910 "Sample Portfolio in FCC is not loading Pictures properly."
Challenge [Build a Personal Portfolio Webpage](https://www.freecodecamp.com/challenges/build-a-personal-portfolio-webpage) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.106 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Hi, the sample portfolio of

[2016-07-27 06:53] #9910 closed

[2016-07-27 07:19] pnahratow commented on #9909
Same problem here.

[2016-07-27 07:27] pnahratow commented on #9904
I think the line `str+=temp+lower+" ";` add a whitespace to the end of the text when in the last iteration which makes the strings not match.  Hint: Have a look at [Array.prototype.join()](https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/Array/join) to avoid the problem.

[2016-07-27 07:37] raisedadead commented on #9909
@jle3 @pnahratow thanks for reporting. looking into this asap.
@roelver I believe we could use your assistance here.

[2016-07-27 07:40] pnahratow commented on #9867
Could you please format your code [See Formatting Help](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code)

And also concisely rephrase what the problem is "expected behaviour vs. actual behaviour"

[2016-07-27 09:32] erictleung commented on #9902
@iarobinson using single quotes also work for me.

![screenshot 2016-07-27 at 05 30 57](https://cloud.githubusercontent.com/assets/2754821/17170712/5e24066c-53bb-11e6-8ecb-3c618114366d.png)

Try resetting your code and trying again. If the error still persists, please copy and paste your code verbatim for us to check it. Thanks.

[2016-07-27 09:39] erictleung commented on #9904
@cjoshmartin as @pnahratow suggests, double check the spaces you add when you join strings. If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-07-27 09:39] #9904 closed

[2016-07-27 09:52] mayankfgiet opened #9911 "plssss help..................solve this"
Challenge [Target the same element with multiple jQuery Selectors](https://www.freecodecamp.com/challenges/target-the-same-element-with-multiple-jquery-selectors#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%0A%24(%22button%22).addclass(%22animated%22)%3B%0A%24(%22.btn%22).addclass(%22shake%22)%3B%0A%24%20(%22%23target1%22).addclass(%22animated%E2%80%9A%20shake%20b

[2016-07-27 10:05] bugron commented on #9911
@mayankfgiet thanks for posting this issue!
Closing as a duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9887. Please review the [**Guidelines for Contributing**](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md), thank you!

[2016-07-27 10:05] #9911 closed

[2016-07-27 10:15] erictleung commented on #9762
@rsponholtz closing this issue as it has become stale. Please take a look at the suggestions above to see if that resolves your issue. Otherwise, please update us on this issue and we can work from there. Happy coding!

[2016-07-27 10:15] #9762 closed

[2016-07-27 10:17] erictleung commented on #9750
@highestflyingeagle closing as stale. Please take a look at the comments above if you're still having issues. If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-07-27 10:17] #9750 closed

[2016-07-27 10:22] mayankfgiet commented on #9887
okkk

[2016-07-27 10:28] arwilkinson commented on #9887
I'm sharpening my skills through these guys, but I have over a decade of
experience building websites and writing software. Ask me questions and
I'll help you with the answers. :)

Austin

On Jul 27, 2016 3:24 AM, "Mayank katiyar" <notifications@github.com> wrote:

[2016-07-27 11:39] #7139 closed

[2016-07-27 11:57] raisedadead opened #9913 "Audit and Bring all Heroku Deployments (and code) under FCC"
We need to identify the owners of the code for all heroku deployments, and fork and maintain the same under FCC.

List as below:

| Challenge Name | URL | User |
| --- | --- | --- |
| Build a Camper Leaderboard | https://fcctop100.herokuapp.com |  |
| Build a Voting App | https://fcc-voting-arthow4n.herokuapp.com |  |
| Build a Nightlife Coordination App | http://whatsgoinontonight.herokuapp.com |

[2016-07-27 12:04] andela-bebowe commented on #9363
@BerkeleyTrue @raisedadead Just to be clear, am I to log the output for every challenge that has an output. Or are there specific challenges that need this I am currently working on the Basic Javascript Challenges.

[2016-07-27 12:05] angusjlowe opened #9914 "Ambiguous Note"
#### Challenge Name

https://www.freecodecamp.com/challenges/manipulating-complex-objects

#### Issue Description

Note reads "...place a comma in between every object in the array, unless it is the last object in the array" which is slightly misleading: it should read "...place a comma in between every object in the array" or "place a comma _after_ every object in the array, unless it is the last

[2016-07-27 12:19] raisedadead commented on #9914
@angusjlowe thanks for reporting

To contributors:

The below text:

should be changed to this:

The code can be found here:
https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/basic-javascript.json#L4367

#### Please go through the [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md).

[2016-07-27 12:20] raisedadead commented on #9913
Contributors if you are the owner of the apps please leave links to the repositories below.

[2016-07-27 13:07] agrullon95 commented on #9914
Hey, I would like to help with this issue if it's still up for grabs. This would be my first contribution.

[2016-07-27 13:21] pnahratow commented on #9909
The issue seems fixed now. At least the site and API are working again.

[2016-07-27 13:34] raisedadead commented on #9909
Confirmed.

[2016-07-27 13:34] #9909 closed

[2016-07-27 15:24] k-drive commented on #9059
kiraPez:  Submit your code returning the trimmed value. It will be accepted and the project will be completed. (See my text starting with "My solution...").

[2016-07-27 15:30] salbo98 opened #9917 "clicking "run tests" does nothing on "Size Image" page. Please advise"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2016-07-27 15:32] NIckBastos commented on #9917
What is the problem?

[2016-07-27 15:35] NIckBastos commented on #9917
It looks like you didnt set give the img the class "smaller-image"
Look at my code.
<img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back. " class="smaller-image">

[2016-07-27 15:42] #9914 closed

[2016-07-27 15:43] raisedadead commented on #9905
When a user is reported to the team, we mark them such in the database.
To work on this issue you gotta check for the `isCheater` property in the User model.

[2016-07-27 15:43] salbo98 commented on #9917
Then it should return an incorrect answer. I submitted this without the answer in. I have the correct answer in and clicking Run Tests produces no result.

[2016-07-27 15:44] NIckBastos commented on #9917
Show me your code with the correct answer

[2016-07-27 15:45] salbo98 commented on #9917
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .smaller-image{
    width: 100px;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange ca

[2016-07-27 15:47] NIckBastos commented on #9917
It shows the cat picture, hahaha. No problem, just delete the first < like this img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back. " class="smaller-image">

[2016-07-27 15:47] salbo98 commented on #9917
I've completed Udacity and CA up through Javascript. This is my first time using FCC...using it for redundancy. Clicking "run tests" produces nothing at all, right or wrong.

[2016-07-27 15:49] salbo98 commented on #9917
I understand. Its not the code. Its buggy. Ive refreshed. The code is correct.

[2016-07-27 15:50] NIckBastos commented on #9917
Did you give the img a class of "smaller-image"?

[2016-07-27 15:50] NIckBastos commented on #9917
Becasue this whole thing happened to me and I got stucked for 2 days thinking the page is buggy.

[2016-07-27 15:52] raisedadead commented on #9917
@salbo98

this is a known bug and will be resolved soon, some times syntax error in the solution results in the button not to work.

Apologies for the inconvenience, as a work around:
Copy your corrected code, reset and refresh the page, then submit the code.

Refer https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9673

[2016-07-27 15:55] salbo98 commented on #9917
Thanks for the help guys !

[2016-07-27 15:55] #9917 closed

[2016-07-27 15:57] Kallaway opened #9918 "Images should be made clickable on Shop page"
Here is the link to the page: https://www.freecodecamp.com/shop

#### Issue Description

For better UI, I think this page would benefit from having links not only on Buttons, but also on images themselves. I've found myself repeatedly opening links in new tabs - to look at later, and to my surprise the images were opened, not the links, which was something I expected (learnt behaviour from other s

[2016-07-27 15:58] kiraPez commented on #9059
Hey k-drive. Thanks for the response. It didn't directly help me, because I had done that before, but your comment made me realize that it has to be [["QUARTER", 0.5]], not ["QUARTER", 0.5]. Thanks for replying.

[2016-07-27 16:15] raisedadead commented on #9059
Hi all, once again apologies into coming back to this topic, I am not an expert but to achieve the desired result you could try something like [Number.prototype.toPrecision()](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_objects/Number/toPrecision)

We do accept the challenge with the zeros stripped (this is done natively by the browser when JavaScript executes), however y

[2016-07-27 16:21] raisedadead commented on #9059
We are really limited by the infrastructure, while this is not a huge issue IMHO, I understand that coming from a strictly typed and interpreted language can be bit tough to understand how liberal JavaScript can be. (Trust me I have been doing C++ since a decade only to switch to JS now)

Nevertheless we are open to suggestion how this can be clarified more, but on that note I feel that this chall

[2016-07-27 16:49] IshtmeetSingh commented on #9905
How do you actually cheat on freecodecamp?

[2016-07-27 16:57] raisedadead commented on #9905
Great question, but unfortunately GitHub issues are not for conversations, please ask on the [Forum](http://forum.freecodecamp.com) or in the [Chat rooms](https://gitter.im/FreeCodeCamp/FreeCodeCamp)

Thanks.

[2016-07-27 17:02] raisedadead commented on #9918
I feel it wont hurt, and this is something many would be used to. As long as we keep the links same as those on the buttons.

However this definitely needs @QuincyLarson's vote.

[2016-07-27 17:37] kaliyv commented on #9908
`<style>
  .red-text {
    color: red;
  }

   p{
      font-size: 16x;
    }
  }

</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum text dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
<p> kitty ipsum text purr jumpeat the grass rip the couch</p>`   where i did mistake if a

[2016-07-27 17:42] SparklesPancake commented on #9908
Hi Kaliyv
On the part where you have font-size: 16x,  it should read font-size: 16px.

[2016-07-27 18:05] dhcodes commented on #9918
While we're thinking aloud, could I recommend a basic grid--5x2 or 4x4--of the items in the shop, at least as a media query for larger displays (greater than 1280px)?

[2016-07-27 18:25] raisedadead commented on #9918
@dhcodes thanks a lot for the advice but if you notice the single column layout is something that we have embraced since long for all static pages as a simple design ideology, this is something I am guessing makes us different from others.

It centralizing the user's focus on one thing at a time (with lots of non-distracting white space around the focus objects).

[2016-07-27 18:40] BerkeleyTrue commented on #9918
Let's add this 👍

[2016-07-27 18:40] dhcodes commented on #9918
@raisedadead I see, probably for the better.

[2016-07-27 18:43] Kallaway commented on #9918
I will take a crack at this tonight, if you don't mind! :)

[2016-07-27 19:16] BerkeleyTrue opened #9922 "Redirect old wiki URL's to the root of the forum"
As a user, if I go to an old `/wiki/en/...` link I am redirected to `forum.freecodecamp.com`

This is the file that should be edited https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/server/boot/t-wiki.js

[2016-07-27 19:21] BerkeleyTrue opened #9923 "Replace instances of the old wiki with appropriate links to the forum."
These need to be replaced by the appropriate forum post.

https://github.com/FreeCodeCamp/FreeCodeCamp/search?l=json&q=wiki&utf8=%E2%9C%93
https://github.com/FreeCodeCamp/FreeCodeCamp/search?l=markdown&q=wiki&utf8=%E2%9C%93
https://github.com/FreeCodeCamp/FreeCodeCamp/search?l=jade&q=wiki&utf8=%E2%9C%93

Help button should link to the appropriate forum article
![skitch](https://cloud.githubusercon

[2016-07-27 19:22] BerkeleyTrue commented on #9918
@Kallaway Thanks! Make sure to include the appropriate google analytics functions as well.

[2016-07-27 19:25] alanbares commented on #9922
I'll work on this.

[2016-07-27 20:32] DenDunn commented on #9878
Hello, I'm new here, but I want to share my code that also doesn't work:
function nextInLine(arr, item) {
  testArr.push(item);
  return testArr.shift();  // Change this line
}

// Test Setup
var testArr = [1,2,3,4,5];

// Display Code
console.log("Before: " + JSON.stringify(testArr));
console.log(nextInLine(testArr, 1)); // Modify this line to test
console.log("After: " + JSON.stringify(testArr))

[2016-07-27 20:55] #9837 closed

[2016-07-27 20:57] QuincyLarson commented on #9918
@dhcodes @Kalcode so you mean clicking the image will be the same as clicking the button? That should be OK.

@dhcodes we could consider using a fancier layout, but pretty much every decision should be driven through A/B tests here. I've already made some minor changes to the shop based on tests.

[2016-07-27 21:07] Kalcode commented on #9918
@QuincyLarson think you...randomly included me is this. Weird.

Though reading the topic I would say the buttons are strange there. I believe the general standard is making them a big link. Like a border box on the whole element that you can click.

Like so:
http://imgur.com/a/rKw04

It would also make the offers flow it bit better.

Thats my 2 cents about a topic I was randomly invited to. Good l

[2016-07-27 21:24] bugron opened #9925 "Add a caret symbol to connect-mongo version"
A caret symbol, `^` needs to be added [here](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/package.json#L46). So the result should look like this:
`"connect-mongo": "^1.3.2",`.
Please review [**Contribution Guidelines**](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) before opening a PR, thank you!

[2016-07-27 22:43] er-n35t opened #9926 "Doesn't assign the numbers"
Challenge [Understanding Uninitialized Variables](https://www.freecodecamp.com/challenges/understanding-uninitialized-variables) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/601.7.7 (KHTML, like Gecko) Version/9.1.2 Safari/601.7.7</code>.

it still throws following errors:
- "a should be defined and have a value of 6"
- "b should be defined and hav

[2016-07-27 23:03] SparklesPancake commented on #9926
Hi er-n35t,

I haven't learned much JS yet, but I believe the first line is to initialize the variable and not to assign values.

I tried the following and it worked for me:

var a;
var b;
var c;

a = 5;
b = 10;
c = "I am a";

[2016-07-27 23:06] jonsensberger opened #9927 "Question mark in value of alt-attribute leads to failed test"
Challenge [Add Images to your Website](https://www.freecodecamp.com/challenges/add-images-to-your-website#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%

[2016-07-27 23:08] alanbares commented on #9923
I'll work on this.

[2016-07-27 23:21] DC4life commented on #9923
Thank you so much lcm831cjr4ever4life@gmail.com and larrynscDC4life@gmail.com if I can merge them it will be great....

On July 27, 2016, at 7:11 PM, Alan Bares <notifications@github.com> wrote:

I'll work on this.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.￼

[2016-07-27 23:28] LuisGonzaga commented on #9145
Hi, just finished the code (will now start the design), the solution was easy enough, https://www.wunderground.com API, it's free (but requires registration to get the API Key ... 500 free connections a day if I remember well) and it's easy to get the weather conditions using coordinates using this address (but I didn't it on their instructions):
https://api.wunderground.com/api/YOUR_KEY_HERE/cond

[2016-07-28 00:34] HKuz commented on #9925
Hi there - can I take this one? I'm new to contributing to FCC and this issue seems like a great way to get everything set up and working properly to help out more in the future.

[2016-07-28 01:25] Jaskaranbir commented on #9926
@er-n35t You are assigning wrong values. I suggest you read `Instructions` for the challenge. The correct values are mentioned there (which are `5` and `10` respectively instead of `6` and `5`). Although that being said, The challenge seems to have a bug with showing incorrect conditions for passing test :D

@SparklesPancake It does not make a difference. Its essentially same as how @er-n35t defin

[2016-07-28 03:10] dhcodes commented on #9918
@kalcode, Quincy meant to reference @kallaway.

Thanks for the explanation. Makes sense @QuincyLarson

[2016-07-28 03:51] DC4life commented on #9918
Thank you thank you very much

On July 27, 2016, at 11:12 PM, Dylan H <notifications@github.com> wrote:

@kalcode, Quincy meant to reference @kallaway.

Thanks for the explanation. Makes sense @QuincyLarson

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.￼

[2016-07-28 06:00] erictleung commented on #9926
@er-n35t as @Jaskaranbir has pointed out, please re-read the instructions

Those instructions are for the variables underneath the comment `// Initialize these three variables`. As the comment `// Do not change code below this line` suggest, do not change the code below that line in the editor.

If you get stuck or have questions with a challenge in the future, please first ask questions to the [H

[2016-07-28 06:00] #9926 closed

[2016-07-28 06:01] salincharles opened #9931 "Create a Set of Radio Buttons [challenge-37] not moving to the next challenge. Any problem with my code?"
Challenge [Create a Set of Radio Buttons](https://www.freecodecamp.com/challenges/create-a-set-of-radio-buttons#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobst

[2016-07-28 06:08] erictleung commented on #9927
@jonsensberger thanks for the issue. Yes, it appears that the test needs to account for question marks as well.

[This line of code](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/9ee1d1beecaedf22819e2ab9fe6d8d33ba1e1c02/seed/challenges/01-front-end-development-certification/html5-and-css.json#L1164) needs ot be changed.

The regex should be changed from

[code]

[2016-07-28 06:09] erictleung commented on #9931
@salincharles thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: please check the spelling of your HTML tags. Happy coding!

[2016-07-28 06:09] #9931 closed

[2016-07-28 07:23] laluzinheaven commented on #9791
Same Challenge giving problems.
css class  works with comma( , ) not  period ( . )                                        .
h2 ,red-text as opposed to h2 .red-text

Coding:
<style>
  h2 ,red-text {
    color: red;
  }
</style>

<h2>CatPhotoApp</h2>

<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass snif

[2016-07-28 07:26] QuincyLarson commented on #9913
@raisedadead Actually, @Em-Ant is working on porting all of these to HyperDev, where we will recommend campers build the back end projects going forward (or they can build them locally - we are creating guides for doing this, too).

@BerkeleyTrue, @CodeNonprofit and I literally made this decision yesterday, after seeing that @Em-Ant had already ported several dynamic web app projects to hyperdev.

[2016-07-28 07:39] raisedadead commented on #9913
@QuincyLarson awesome, that sounds great then.
@Em-Ant looking forward to it.

Will close this issue once they are in place.

[2016-07-28 07:52] QuincyLarson commented on #9913
@raisedadead we can put out the immediate fire by changing the Pinterest project link. I am in the process of forking @Em-Ant's Pinterest project and hope to have it live tomorrow, along with a PR updating the example URL.

[2016-07-28 08:37] #9925 closed

[2016-07-28 08:56] Abayo opened #9933 "Some one can help me to identify what is wrong. (changing font size of an element)"
![changing stlye issue](https://cloud.githubusercontent.com/assets/20681465/17206809/d41f7558-54b1-11e6-963f-0508af2d8c23.PNG)
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20p%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20

[2016-07-28 09:55] #9933 closed

[2016-07-28 09:55] Locheed commented on #9199
Just spend some time figuring out why my test fails and it was this problem with a global variable.

Just a thought, how about adding a note to descriptions, that "Using global variables in this test will cause the test to fail." I think it's would help in this kinda situation, but doesn't give too many tips for an exercise.

[2016-07-28 09:56] Annemariede opened #9934 "palindrome"
On the Palindrome challenge, one of the test results:

palindrome("1 eye for of 1 eye.") should return false.

But I get it as true . If I remove the spaces, ones and the full stop it is a palindrome.
I tested it in excel to change the letters around and it is the same.

Is this correct or am I missing something?

[2016-07-28 10:16] qmikew1 commented on #9934
That's not a palindrome.
Compare:
[code]
*You'll need to remove all non-alphanumeric characters (**punctuation, spaces and symbols**) and turn everything lower case in order to check for palindromes.*

[help](https://gitter.im/FreeCodeCamp/Help) is a great place for discussion on stuff like this.

[2016-07-28 11:18] raisedadead commented on #9934
@Annemariede thanks for reporting but the test case is correct. Please refer the explanation above.
@qmikew1 thanks.

happy coding.

[2016-07-28 11:18] #9934 closed

[2016-07-28 13:39] makleriux commented on #9764
logical is have to be like this, becouse if dont leave spaces at words JS escaping the word or only first letter? i cant get it done.
var myStr = "FirstLine \n \\ SecondLine \\ \r ThirdLine"; // Change this line

[2016-07-28 15:13] #9905 closed

[2016-07-28 15:23] KindaIntellectual opened #9936 "Compiler Not Responding to Code Change. Same output no matter the code"
#### Challenge Name

https://www.freecodecamp.com/challenges/record-collection
#### Issue Description

The compiler does not seem to be running the provided code. I've tried different solutions, as well as running the code as is. Clicking run tests return the same two results. The first click produces the collection minus the 5439 object at the end, the next click brings up the entire collection w

[2016-07-28 15:30] dhcodes commented on #9927
I'll fix this one.

[2016-07-28 16:27] KindaIntellectual commented on #9936
So I wrote my code int eh console, and just for kicks added to FCC and ran the tests. The code passes but it doesn't actually update the code (at least not according to the FCC console) and gives the same results as above; with the exception of the test case at the bottom, it seems to update on the second and subsequent 'Run test' clicks. Code + screen shot below.

[code]
Screenshots:
![fcc1](http

[2016-07-28 16:45] Gione commented on #8653
@Razz67 ^^^ That worked perfectly

[2016-07-28 16:48] #9760 closed

[2016-07-28 17:01] bobbytanwer commented on #8653
Thank you for the share

On Mon, Jul 25, 2016 at 11:18 PM Stephine Rasberry <notifications@github.com>
wrote:

[2016-07-28 17:44] erictleung commented on #9936
@KindaIntellectual thanks for the issue. I can confirm that the console on the page will hide the last entry for `5439`. The entry does exist after the first click. You just have to click on that area where it should be and it will appear.

@FreeCodeCamp/issue-moderators does anyone know why this is happening? To reproduce, reload the challenge page https://www.freecodecamp.com/challenges/record-c

[2016-07-28 18:18] tgoconker commented on #9682
You need to put your "smaller-image" inside a class element, as follow...

[image: Imagem inline 1]

Hope it helps.

Thiago Mendes

2016-07-26 20:38 GMT-03:00 chaddgallagher <notifications@github.com>:

[2016-07-28 19:14] QuincyLarson commented on #9918
@Kallaway @dhcodes we definitely need to keep the button. Please don't change the UI (since I've already A/B tested it) - just make the images clickable. If you want to change the UI, please create the new HTML+CSS we can put use this for future A/B tests.

[2016-07-28 19:43] BEBEDYDY commented on #6693
what means JSON.stringify(testArr) ???
I don't get it , anyone know? please help. Thank you so much.

[2016-07-28 19:51] woohooAgain opened #9939 "TypeError in Find the Longest Word in a String"
#### Find the Longest Word in a String

https://www.freecodecamp.com/challenges/find-the-longest-word-in-a-string#?solution=function%20findLongestWord(str)%20%7B%0A%20%20var%20unordArr%20%3D%20str.split('%20')%3B%0A%20%20var%20ordArr%20%3D%20unordArr.map(str.length)%3B%0A%20%20ordArr.sort(function(a%2Cb)%7B%0A%20%20%20%20return%20a%20-%20b%3B%0A%20%20%7D)%3B%0A%20%20var%20longest%20%3D%20ordArr.po

[2016-07-28 20:14] Hmay61 commented on #6693
Hi Jie，

I think JSON.stringify is just a method that convert JS value to JSON
format.
Because JSON format is much more efficient in data transmission.

Yue He

2016-07-28 15:45 GMT-04:00 Jie <notifications@github.com>:

[2016-07-28 21:45] oalhait commented on #9939
You're getting a weird TypeError because you have the call to findLongestWord at the end, which messes up the code tester. I removed the last line, and the TypeError disappeared.

I also played around with your code a little bit, and you're getting the right idea, but you're overthinking it a little bit. Instead of using a sort function (which is time consuming), consider using a simple for loop t

[2016-07-28 22:00] oalhait commented on #9936
Hey @erictleung, I ran this on my Mac w/ Google Chrome, and the 5439 entry is showing without needing a click on it. I'm suspecting maybe this could be a windows-only issue?

[2016-07-28 22:00] BerkeleyTrue commented on #9936
@erictleung I believe this is a codemirror bug that was fixed in the editor a while ago. I'm sure if you search the issue's you can find the past solution

[2016-07-28 22:49] erictleung commented on #9939
@woohooAgain the issue is with your `.map` method. Check what value you get when you do `str.length` on the test string.

[code]

If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). GitHub issues are not for coding help. Happy coding!

[2016-07-28 22:49] #9939 closed

[2016-07-28 22:52] xiaji2 commented on #2171
iiiiiii

[2016-07-28 22:58] coolsuper101 opened #9942 "Use Conditional Logic with If Statements isssues"
Challenge [Use Conditional Logic with If Statements](https://www.freecodecamp.com/challenges/use-conditional-logic-with-if-statements#?solution=%0A%2F%2F%20Example%0Afunction%20ourTrueOrFalse(isItTrue)%20%7B%0A%20%20if%20(isItTrue)%20%7B%20%0A%20%20%20%20return%20%22Yes%2C%20it's%20true%22%3B%0A%20%20%7D%0A%20%20return%20%22No%2C%20it's%20false%22%3B%0A%7D%0A%0A%2F%2F%20Setup%0Afunction%20trueOrFa

[2016-07-28 23:01] erictleung commented on #9942
@coolsuper101 thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: use the parameter `wasThatTrue` in your conditional statements. Happy coding!

[2016-07-28 23:01] #9942 closed

[2016-07-28 23:26] traisen commented on #9927
Hi - Didn't work with  - in alt text either

[2016-07-28 23:29] #9922 closed

[2016-07-29 00:15] BEBEDYDY commented on #6326
function golfScore(par, strokes) {
  // Only change code below this line
  if(strokes === 1){return "Hole-in-one!"}
  else if(strokes <= par - 2){return "Eagle"}
  else if(strokes == par - 1){return "Birdie"}
  else if(strokes === par){return "Par"}
  else if(strokes == par + 1){return "Bogey"}
  else if(strokes == par + 2	){return "Double Bogey"}
  else if(strokes >= par + 3){return "Go Home!"}

[2016-07-29 00:15] BEBEDYDY commented on #5690
function golfScore(par, strokes) {
  // Only change code below this line
  if(strokes === 1){return "Hole-in-one!"}
  else if(strokes <= par - 2){return "Eagle"}
  else if(strokes == par - 1){return "Birdie"}
  else if(strokes === par){return "Par"}
  else if(strokes == par + 1){return "Bogey"}
  else if(strokes == par + 2	){return "Double Bogey"}
  else if(strokes >= par + 3){return "Go Home!"}

[2016-07-29 00:15] BEBEDYDY commented on #6190
function golfScore(par, strokes) {
  // Only change code below this line
  if(strokes === 1){return "Hole-in-one!"}
  else if(strokes <= par - 2){return "Eagle"}
  else if(strokes == par - 1){return "Birdie"}
  else if(strokes === par){return "Par"}
  else if(strokes == par + 1){return "Bogey"}
  else if(strokes == par + 2	){return "Double Bogey"}
  else if(strokes >= par + 3){return "Go Home!"}

[2016-07-29 00:20] araujojeff opened #9943 "The solution is not being stored in an overnight."
Challenge [Falsy Bouncer](https://www.freecodecamp.com/challenges/falsy-bouncer) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-07-29 00:32] erictleung commented on #9943
They may appear not to be stored overnight possibly because you are using different computers. However, your solution is stored in a database because if you go to your FreeCodeCamp profile, you can see your solution for "Falsy Bouncer" there https://www.freecodecamp.com/araujojeff

[2016-07-29 00:41] araujojeff commented on #9943
Yes! Is this! Tks @erictleung  =)

[2016-07-29 00:41] #9943 closed

[2016-07-29 00:47] kaym0 commented on #758
This is actually ridiculous and I cannot pass it no matter what I have done. I skipped the entire challenge after it would NOT work the 1000 different things I tried, I have spent 3 hours on this.

[2016-07-29 00:48] kaym0 commented on #758
I can usually build a lightweight site and code it in less than 3 hours. This is probably the longest I've EVER spent on something and especially without reward. I have completed almost the entire front-end certification and have never run into something so impossibly stupid.

[2016-07-29 00:48] kaym0 commented on #758
Also, how-to-npm verify skip  DOES NOT WORK.

[2016-07-29 00:49] kaym0 commented on #758
I don't think I have been angry like this since I had a mentally ill girlfriend who would blame things that she made up in her head on me. That's how fucking irrational this is.

[2016-07-29 01:11] shamieya commented on #9037
I agree that the wording of the instructions conflicts with the intent of that test case.

It may be clearer to state"It is possible to encounter multiple pairs that have the same numeric elements but different indices. " -with no additional instructions/words.

[2016-07-29 01:27] dhcodes commented on #9927
@traisen yeah, there are all sorts of special characters it doesn't work with like (, ), *, etc. Maybe we should change the Regex to accept any characters. I'm not sure

[2016-07-29 01:36] dhcodes commented on #9878
@dendunn I believe in your case, the reason the tests aren't passing are because you need to use arr instead of testArr. I know this can seem confusing because the array in the Test Setup is called testArr.

[2016-07-29 01:45] erictleung commented on #9927
@dhcodes in that case, maybe we should just use the wildcard character to make it flexible.

[2016-07-29 03:17] FatKoala opened #9944 "Challenge way to easy"
Challenge [Slasher Flick](https://www.freecodecamp.com/challenges/slasher-flick) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.82 Safari/537.36</code>.
This challenge can be solved in one line of code. Is it intended that way? If yes than ok. If not, note that suggested method is actually a solution.

My code:
[code]

[2016-07-29 04:16] astro8891 opened #9945 "Arr only passes in first array"
Challenge [Sorted Union](https://www.freecodecamp.com/challenges/sorted-union#?solution=%0Afunction%20uniteUnique(arr)%20%7B%0A%20%20console.log(arr)%3B%0A%7D%0A%0AuniteUnique(%5B1%2C%203%2C%202%5D%2C%20%5B5%2C%202%2C%201%2C%204%5D%2C%20%5B2%2C%201%5D)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/53

[2016-07-29 04:23] erictleung commented on #9945
@astro8891 thanks for the issue but the challenge setup is correct. Please read the link to the [arguments object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/arguments) to understand why. Happy coding!

[2016-07-29 04:23] #9945 closed

[2016-07-29 05:14] BerkeleyTrue commented on #9736
Done! Now a challenge or a challenge block can declare an array of files it requires to be pulled down using ajax!

[2016-07-29 05:14] #9736 closed

[2016-07-29 05:14] BerkeleyTrue commented on #9736
Live on beta!

[2016-07-29 05:15] BerkeleyTrue commented on #9849
Which buttons? Sign-in with github works fine for me

[2016-07-29 05:16] BerkeleyTrue commented on #9849
I see which ones now!

[2016-07-29 05:22] raisedadead commented on #9849
Apologies, yeah the ones to link profile to Twitter, GitHub and LinkedIn

[2016-07-29 05:39] BerkeleyTrue commented on #9849
Fix and live on beta!

[2016-07-29 05:39] #9849 closed

[2016-07-29 05:39] BerkeleyTrue commented on #9849
Nice catch!

[2016-07-29 05:39] BerkeleyTrue commented on #9848
Fixed!

[2016-07-29 05:39] #9848 closed

[2016-07-29 05:41] BerkeleyTrue commented on #9847
The image and points now takes you to settings, not profile. We've changed that so we stay in the react app when navigating to settings.

When you are on settings the link does nothing because there is no need to redirect the page.

[2016-07-29 05:47] Bouncey commented on #9822
And for iOS.

![image](https://cloud.githubusercontent.com/assets/18572518/17238966/39d88ad2-5558-11e6-80e9-026fdd575c12.png)

[2016-07-29 05:52] BerkeleyTrue commented on #9846
Fixed and live! Thanks for catching this y'all!

[2016-07-29 05:52] #9846 closed

[2016-07-29 05:52] bishoo commented on #9822
Ok

بتاريخ ٢٩‏/٠٧‏/٢٠١٦ ٨:٤٨ ص، كتب "Stuart Taylor" <notifications@github.com>:

[2016-07-29 05:55] raisedadead commented on #9847
Ah cool then this can be closed.

[2016-07-29 05:55] #9847 closed

[2016-07-29 05:56] salincharles commented on #9931
Thanks Eric, you helped me to move forward.

Regards

Joe

On 28 July 2016 at 11:42, Eric Leung <notifications@github.com> wrote:

[2016-07-29 05:59] Bouncey opened #9947 "[beta]Map aside not closing on challenge selection (mobile)"
In the map aside, clicking on a challenge does not close the map or drop down menu. The user cannot see that the challenge has arrived.

The challenge is still rendered

Mobile: (iOS)

[2016-07-29 06:03] BerkeleyTrue commented on #9817
Fixed and live on beta!

Thanks for finding that!

[2016-07-29 06:03] #9817 closed

[2016-07-29 06:12] QuincyLarson opened #9948 "[beta] Map links don't show pointer on hover"
On the map, if I hover my cursor over a link, it shows the text selection cursor, not the clicker cursor.

[2016-07-29 06:15] bishoo commented on #9948
Ok

[2016-07-29 06:18] BerkeleyTrue commented on #9816
Fixed and live on beta!

[2016-07-29 06:18] #9816 closed

[2016-07-29 06:20] QuincyLarson opened #9949 "Full page Map view is not properly centered"
![](https://www.evernote.com/l/Ar9x9DSWGKRM5JbPKn5Mo9F4QDHg_mOgEmAB/image.png)

[2016-07-29 06:25] Devang012 commented on #9911
.addClass()     ( c is Captical)

[2016-07-29 06:30] BerkeleyTrue commented on #9947
How does closing the map aside when ever a challenge is updated sound?

[2016-07-29 06:32] BerkeleyTrue commented on #9949
Fixed and live on beta

[2016-07-29 06:32] #9949 closed

[2016-07-29 06:33] polygoncodebase opened #9950 "Steamroller program issue.. not accepting the solution even it is passing all the test cases"
Challenge [Steamroller](https://www.freecodecamp.com/challenges/steamroller) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-07-29 06:34] sandeepborra1 opened #9951 "Steamroller program issue.. not accepting the solution even it is passing all the test cases"
Challenge [Steamroller](https://www.freecodecamp.com/challenges/steamroller) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-07-29 06:36] QuincyLarson opened #9952 "Slide challenges: navigating back locks previously unlocked button"
#### Challenge Name

Any slide challenge with an "open link in new tab" button. Here's one: http://beta.freecodecamp.com/en/challenges/join-the-free-code-camp-community/create-a-github-account-and-join-our-chat-rooms
#### Issue Description

If I click the "open link in new tab" button, then click the "go to my next step" move to the next step, then navigate back, the "go to my next step" button wi

[2016-07-29 06:41] QuincyLarson opened #9953 "[beta] Fix Night Mode"

[2016-07-29 06:44] QuincyLarson opened #9954 "[beta] Fix completed challenges on profile"
![](https://www.evernote.com/l/Ar_49CqhIzVC9oZs4w8xuEv7LuPImRTlDysB/image.png)

[2016-07-29 06:58] QuincyLarson opened #9955 "[beta] CSS issues with HTML challenges"
#### Challenge Name
Any HTML challenge (http://beta.freecodecamp.com/en/challenges/html5-and-css/say-hello-to-html-elements)

#### Issue Description
![](https://www.evernote.com/l/Ar-DPWPx4TVO2ZEI6nrGDvw052xu7wswyk0B/image.png)

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-07-29 07:00] QuincyLarson opened #9956 "[beta] Reset button does not work on HTML challenges"
#### Challenge Name
http://beta.freecodecamp.com/en/challenges/html5-and-css/say-hello-to-html-elements

#### Issue Description
When I click the "reset" button, then confirm in the toast that pops up, it still doesn't clear my code.

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-07-29 07:07] QuincyLarson opened #9957 "[beta] Require Bootstrap for jQuery and Ajax/JSON challenges"
Adding required files for a challenge or a challange block requires adding the 'required' key to the challenge or challenge block.

See:
https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/bootstrap.json#L6
https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/common/models/challenge.json#L110

This is an example of how to add it to

[2016-07-29 07:09] QuincyLarson opened #9959 "[beta] iPhone preview doesn't update on challenge change until tests run"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-07-29 07:12] raisedadead commented on #9951
Closing in favor of duplicate issue https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9950

[2016-07-29 07:12] #9951 closed

[2016-07-29 07:14] raisedadead commented on #9950
Global variables are not supported, refer #9199
Please follow along on that thread.

Other than that if you need any coding assistance please visit the [JavaScript Chat Room](https://gitter.im/FreeCodeCamp/HelpJavaScript).

[2016-07-29 07:19] #4464 closed

[2016-07-29 07:19] #5072 closed

[2016-07-29 07:19] #5111 closed

[2016-07-29 07:19] #6607 closed

[2016-07-29 07:19] #6608 closed

[2016-07-29 07:19] #6609 closed

[2016-07-29 07:19] #6910 closed

[2016-07-29 07:19] #7831 closed

[2016-07-29 07:19] #8290 closed

[2016-07-29 07:19] #9157 closed

[2016-07-29 07:54] MuhammadLaraib commented on #9566
i have a same problem

[2016-07-29 07:56] MuhammadLaraib commented on #9467
Thanks @k3ntucky

[2016-07-29 07:56] QuincyLarson commented on #758
@kaym0 yes - this Node School module is seriously broken. We are working on a replacement for it - something that would run on top of HyperDev (instead of the command line) and would not involve a lot of package creation-specific tasks (that you can learn if and when you choose to create npm packages yourself).

Would you be interested in helping us design a replacement?

[2016-07-29 08:04] Philosophist commented on #758
Thank you Quincy for being on this. I am willing to help with the questions
that a novice would ask given that I am one. I've put off FreeCodeCamp for
months because of this blockade. Had some help try to clarify for me, but
it's still something over my head as a concept. Regardless, you've been
awesome with leading this resource. If you could use my help, please let me
know.

-Steve

On Jul 29, 2

[2016-07-29 08:13] QuincyLarson commented on #758
@Philosophist Thanks for your kind words. Sad to hear that this has blocked you. Yes - we will work to replace these challenges. I will talk with the core team and create some issues. We are coordinating our curriculum expansion here, so feel free to dive in and contribute:  https://github.com/FreeCodeCamp/CurriculumExpansion/

[2016-07-29 08:40] ahishakiyeobed opened #9961 "stylesheet i dont get it."
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%3Ch2%20class%3D%22red-text%22%3EcatPhotoApp%3C%2Fh2%3E%0A%3Cstyle%3E%0A%20%20h2%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everyw

[2016-07-29 08:46] SamAI-Software commented on #9955
1366x768
![betacss](https://cloud.githubusercontent.com/assets/16253583/17242809/7109d498-55a3-11e6-8001-3f05b187626b.jpg)

[2016-07-29 08:48] zorexsalvo commented on #9961
You didn't create class for red text. Your style should include .red-text{color:red;}

[2016-07-29 08:51] IshtmeetSingh commented on #9961
You have to create the class `red-text` in your style tags, giving it the `color: red`. Then, add that class to your `<h2>` element.

[2016-07-29 08:51] zorexsalvo commented on #9961
By the way I dont think this is an issue. You should ask your questions on chatbox.

[2016-07-29 08:53] QuincyLarson opened #9962 "End-to-End tests of beta on Chrome"
Here is a full End-to-End Testing checklist. You should go through all of these tasks to verify everything works. If something doesn't, create an issue (preferably with a screenshot) and tag it "beta" and specify which browser you were using.

Go through the following test plan and click the boxes below as you complete each task. Once all the boxes below are checked off, you can close this issue.

[2016-07-29 08:54] SamAI-Software commented on #9956
Works for me in Chrome. It cleans the code, but doesn't set the preview (right screen) to the original one.

[2016-07-29 08:59] QuincyLarson opened #9963 "End-to-End tests on Firefox"
Here is a full End-to-End Testing checklist. You should go through all of these tasks to verify everything works. If something doesn't, create an issue (preferably with a screenshot) and tag it "beta" and specify which browser you were using.

Go through the following test plan and click the boxes below as you complete each task. Once all the boxes below are checked off, you can close this issue.

[2016-07-29 09:00] QuincyLarson opened #9964 "End-to-End tests on iOS Safari"
Here is a full End-to-End Testing checklist. You should go through all of these tasks to verify everything works. If something doesn't, create an issue (preferably with a screenshot) and tag it "beta" and specify which browser you were using.

Go through the following test plan and click the boxes below as you complete each task. Once all the boxes below are checked off, you can close this issue.

[2016-07-29 09:01] QuincyLarson opened #9965 "[beta] End-to-End Testing Android Chrome"
Here is a full End-to-End Testing checklist. You should go through all of these tasks to verify everything works. If something doesn't, create an issue (preferably with a screenshot) and tag it "beta" and specify which browser you were using.

Go through the following test plan and click the boxes below as you complete each task. Once all the boxes below are checked off, you can close this issue.

[2016-07-29 09:02] SamAI-Software commented on #9962
I'll go for it

[2016-07-29 09:12] atjonathan commented on #9965
I will take this on!

[2016-07-29 09:14] SamAI-Software opened #9966 "[beta] Cannot delete my account."
* Browser Name, Version: Chrome
* Operating System: Win7-x64
* Mobile, Desktop, or Tablet: Laptop

When I press the **Delete my Free Code Camp account** button nothing happens (no popup).

[2016-07-29 09:16] freddyph opened #9967 "Bug with task "Create a Custom Heading""
#### Challenge Name

https://www.freecodecamp.com/challenges/create-a-custom-heading

#### Issue Description

I managed to succed with the task even though I didn´t fullfil all task written. In this case i manage to move forward when the "CatPhotoApp" and image where not on the same level as expected by the task.

#### Browser Information

* Browser Name, Version: Chrome 51.0.2704.103 m
* Operatin

[2016-07-29 09:27] atjonathan commented on #9947
Yeah I think that sounds good

[2016-07-29 09:29] #9961 closed

[2016-07-29 09:42] traisen commented on #9927
Changing to accept any character might save you answering post ;)

What is the regex that HTML uses to parse alt-text? That would be the best
to use.
What I found was there is a length limit, but seems all characters are
allowed. And testing, if too long it just chops off the extra characters.

On Fri, Jul 29, 2016 at 3:30 AM, Dylan H <notifications@github.com> wrote:

[2016-07-29 09:56] SamAI-Software opened #9968 "[beta] Map doesn't show challenge progress properly when clicking on a freeCodeCamp homepage link"
* Browser Name, Version: Chrome
* Operating System: Win7-x64
* Mobile, Desktop, or Tablet: Laptop

It might be an issue with a link to [homepage](beta.freecodecamp.com), when I press there, it always sends me to the [first challenge](http://beta.freecodecamp.com/en/challenges/join-the-free-code-camp-community/learn-how-free-code-camp-works) and my progress map is reset or even empty, but all my br

[2016-07-29 10:19] SamAI-Software opened #9969 "[beta] Cannot login with email"
* Browser Name, Version: Chrome
* Operating System: Win7-x64
* Mobile, Desktop, or Tablet: Laptop

When trying to login with email, I'm getting
[code]
![email1](https://cloud.githubusercontent.com/assets/16253583/17245352/542b6ffa-55b0-11e6-8822-46c86e2866af.jpg)

When trying to restore the password, I'm getting
[code]

![email2](https://cloud.githubusercontent.com/assets/16253583/17245355/59bc2fa

[2016-07-29 10:31] SamAI-Software commented on #9948
I get both pointers and text selectors in Chrome. Same with a big map (full page).

![cursor](https://cloud.githubusercontent.com/assets/16253583/17245747/2055205c-55b2-11e6-96fd-4b6382b26ad7.jpg)

[2016-07-29 10:36] atjonathan commented on #9965
**Jonathan's Tests**

- Android Chrome
  - [ ] As a returning user
    - [ ] signout
    - [ ] sign in using email
    - [ ] sign in using GitHub
    - [ ] sign in using legacy oauth options
    - [ ] view code portfolio and settings page
      - [ ] streak is visible
      - [ ] points are showing up in upper right hand corner
      - [ ] completed challenges are in the right places, and accessib

[2016-07-29 10:54] atjonathan opened #9970 "[beta] Completed challenges don't display proper data on profile page"
[![https://gyazo.com/34f611dc15cbf4f756b835338504e63f](https://i.gyazo.com/34f611dc15cbf4f756b835338504e63f.png)](https://gyazo.com/34f611dc15cbf4f756b835338504e63f)

[2016-07-29 11:03] atjonathan opened #9971 "[beta] Video Challenges don't give me brownie points or show on profile"

[2016-07-29 11:04] raisedadead commented on #9969
On the beta site you have to do a fresh sign up. Didn't see that on the OP. Is it the case?
I can sign-in and reset password after I created an account.

[2016-07-29 11:06] atjonathan commented on #9969
@raisedadead, same with me :+1:

[2016-07-29 11:06] raisedadead commented on #9968
This is a known issue #9735 , we need to add the progress, react rendering takes sometime with all sorts of reasons.

[2016-07-29 11:07] SamAI-Software commented on #9970
ref #9954

[2016-07-29 11:13] atjonathan opened #9972 "[beta] CatPhotoApp iPhone is shown on top of the code editor"
[![https://gyazo.com/83ef1e61e7ed3afea42e76e7a2c93237](https://i.gyazo.com/83ef1e61e7ed3afea42e76e7a2c93237.png)](https://gyazo.com/83ef1e61e7ed3afea42e76e7a2c93237)

Reproduced on **Nexus 5X (Chrome Dev Tools)**

[2016-07-29 11:15] raisedadead commented on #4465
@BerkeleyTrue Bumping if this is to be taken now.

[2016-07-29 11:16] raisedadead commented on #4466
@BerkeleyTrue Bumping if this is to be taken now.

[2016-07-29 11:16] SamAI-Software commented on #9968
@raisedadead, I think it's the different problem. It doesn't load the progress at all (even after a long time) and it always sends me to the first challenge, when I click to the top-left **freeCodeCamp** link.

[2016-07-29 11:19] raisedadead commented on #9970
Closing as duplicate of the former.

[2016-07-29 11:19] #9970 closed

[2016-07-29 11:21] atjonathan opened #9973 "[beta] Font awesome isn't displaying"
[![https://gyazo.com/3c5fb2e561c36e6e6eda24a3036c2cab](https://i.gyazo.com/3c5fb2e561c36e6e6eda24a3036c2cab.png)](https://gyazo.com/3c5fb2e561c36e6e6eda24a3036c2cab)

[![https://gyazo.com/78f31285b957e2b64741a943774cc9c0](https://i.gyazo.com/78f31285b957e2b64741a943774cc9c0.png)](https://gyazo.com/78f31285b957e2b64741a943774cc9c0)

[2016-07-29 11:22] raisedadead commented on #9968
Oh that's strange, the HomePage should be redirecting to the current challenge.

[2016-07-29 11:26] atjonathan opened #9974 "[beta] In jQuery challenges: bootstrap, jquery and animate.css aren't loaded in"
[![https://gyazo.com/3644a25b78339407d0a14c37426258fa](https://i.gyazo.com/3644a25b78339407d0a14c37426258fa.png)](https://gyazo.com/3644a25b78339407d0a14c37426258fa)

[2016-07-29 11:30] raisedadead commented on #9974
Duplicate of #9957 Please search existing issues. :sweat:

[2016-07-29 11:30] #9974 closed

[2016-07-29 11:43] SamAI-Software opened #9975 "[beta] Re-direct to /settings from non-react pages."
The top-right buttons sometime link to **profile** page, but sometime to **settings** page.

* Browser: Chrome
* OS: Win7-x64
* Device: Laptop

In **beta** these buttons usually link to **settings** (but not always!).

![navbar2](https://cloud.githubusercontent.com/assets/16253583/17247198/d680b16c-55bb-11e6-817f-b5850b278c14.jpg)

***

Sometimes these buttons actually link to **profile** page. Fo

[2016-07-29 11:50] raisedadead commented on #9975
I pointed out this in #9847 but as per @BerkeleyTrue we have changed the logic. Possibly to be closed.

[2016-07-29 11:53] raisedadead commented on #9944
I somewhat tend to agree, not sure if we should change the verbiage and add more tests though.
@erictleung thoughts?

[2016-07-29 11:56] SamAI-Software commented on #9971
* Browser: Chrome
* OS: Win7-x64
* Device: Laptop

Video challenges give me brownies and show on profile (but without titles, because of this bug #9954)

[2016-07-29 12:03] SamAI-Software commented on #9975
@raisedadead the problem is that sometimes it links to **settings**, but sometimes it still links to **profile** page.

Btw, I do search for issues before posting a new one, but didn't find that issue :)

[2016-07-29 12:10] alayek commented on #9962
Testing done by me on Chromium Version 52.0.2743.82 (64-bit) on Linux Mint. I will keep on updating status of each test as I progress.

---

  - [ ] As a returning user
    - [ ] signout
    - [ ] sign in using email
    - [ ] sign in using GitHub
    - [ ] sign in using legacy oauth options
    - [ ] view code portfolio and settings page
      - [ ] streak is visible
      - [ ] points are showin

[2016-07-29 12:15] SamAI-Software opened #9976 "Change the name of "collapse all challenges" in a map menu (UX)"
For not native English speakers "collapse all" sounds like "delete all challenges", so they probably never click this button.

I was always wondering why do we need such a big button to destroy all challenge's progress until I found this step in a TODO testing list and only then I've discovered this great feature :)

I'm not a native speaker, so need help with a more appropriate word.
Possible var

[2016-07-29 12:18] raisedadead commented on #9975
Lol that's because its closed, and yeah that's why mentioned that probably this will be closed, depends on how we want to define the behaviour, I think Berkeley will take a call on that.

[2016-07-29 12:20] raisedadead commented on #9976
This is probably the best alternate.

[2016-07-29 12:29] SamAI-Software commented on #9975
Yeah, I see, so I edited the issue.

[2016-07-29 12:39] Indhumathivishalini opened #9977 "i have created a button below the three kitten image.i included the text,class but still facing the same error."
Challenge [Create a Bootstrap Button](https://www.freecodecamp.com/challenges/create-a-bootstrap-button#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20

[2016-07-29 12:42] #9977 closed

[2016-07-29 13:06] SamAI-Software commented on #9976
But keep in mind that the meaning should stay the same as "collapse", because native English speakers are still the majority.

![lang](https://cloud.githubusercontent.com/assets/16253583/17248951/d4008e7e-55c7-11e6-9ad2-89cac70338ad.jpg)

[2016-07-29 13:10] enkessler commented on #806
@BerkeleyTrue Just ran into this myself. By design or not, it is unintuitive and feels like a bug to the user. Especially users who are just starting to learn programming (i.e. your target audience). Surely it is preventable somehow.

[2016-07-29 13:42] alayek opened #9978 "[beta] Phone viewport improperly spaced with respect to code editor"
The phone viewport is overlapping with editor in beta site.

![screenshot from 2016-07-29 19 05 17](https://cloud.githubusercontent.com/assets/5607371/17250000/0b1e51dc-55c0-11e6-9259-727e18c2b656.png)

I have tested this on other challenges too.

Browser: Google Chrome (latest) on Linux and Windows

[2016-07-29 13:42] SamAI-Software opened #9979 "Two scroll bars on a map page"
I'm not sure if it's a bug or a new feature, but do we actually need two scroll bars?

![map](https://cloud.githubusercontent.com/assets/16253583/17249874/2088d2d4-55cc-11e6-8824-a58ef5d63c62.jpg)

***
Pros
- people without browser scroll bar will see that there is something more on the page (fixes well-known UX issue called "scroll stoppers")

Cons
- weird UI
- doesn't allow to use mouse scrollin

[2016-07-29 13:52] SamAI-Software commented on #9978
ref #9955

[2016-07-29 13:53] raisedadead commented on #9979
Map is probably the most used feature, and IMHO we should leave the behaviour that is on the main site one scroll bar (on the extreme right).

![image](https://cloud.githubusercontent.com/assets/1884376/17250429/f33db95c-55c1-11e6-8c54-efa6b235e452.png)

[2016-07-29 13:55] raisedadead commented on #9978
Closing this in favor of the original report.

[2016-07-29 13:55] #9978 closed

[2016-07-29 13:56] raisedadead commented on #9979
Just to mention on smaller viewports (or any size window for that matter) this will give ample area for a user to scroll, vs the one with two scrolls.

[2016-07-29 14:19] SamAI-Software commented on #9975
Also **about** link at the nav bar has very inconsistent behavior.
For example, when I'm on the **map page** or inside of the challenge:
- click to **about** page will open it in a **new** tab
- click to **shop** page will open it in the same tab
- click to **settings** page will open it in the same tab

When I'm on other pages, all links in nav bar will open in the same tab (including **about**).

[2016-07-29 14:20] raisedadead opened #9980 "CSP Issues on beta website"
![image](https://cloud.githubusercontent.com/assets/1884376/17251270/8d92e042-55c5-11e6-9668-68a3036f27f9.png)

To be looked into, depending if this is just a beta issue, or will actually cause issues on production

[2016-07-29 14:20] raisedadead commented on #9980
Ignore the flyer 404 of course

[2016-07-29 14:22] alayek opened #9981 "[beta] Preview pane out of sync with challenge code"
The preview pane reflects changes if and only if the "Run Test" is triggered.

And as a result falls out of sync with the code in the code editor. I submitted a challenge and this is what the next challenge looks like

![screenshot from 2016-07-29 19 44 54](https://cloud.githubusercontent.com/assets/5607371/17251296/b9fa1010-55c5-11e6-89b3-a8e7861419c2.png)

This also happens mid-challenge. If you

[2016-07-29 14:24] Bouncey commented on #9962
Are the on-boarding challenges new? I'm not being taken to the challenge I was last attempting (Recipe Box/Data-Viz), instead I am being on-boarded.

Other challenges in my profile have a solution

[2016-07-29 14:26] alayek commented on #9962
@Bouncey are you accessing the Beta site or main site?

[2016-07-29 14:26] Bouncey commented on #9962
@alayek main site

[2016-07-29 14:27] Bouncey commented on #9962
As I complete them, my brownie points do  not increment, which would be correct I guess

[2016-07-29 14:28] alayek commented on #9962
@Bouncey these testings are to be done on the beta [site](beta.freecodecamp.com), which Berkeley has just refactored with React components.

[2016-07-29 14:28] Bouncey commented on #9962
And I am not having to open up links to github and gitter to progress

[2016-07-29 14:29] Bouncey commented on #9962
I thought the react branch had been merged?

[2016-07-29 14:30] Bouncey commented on #9962
just re-read core team chat, my bad

[2016-07-29 14:30] raisedadead commented on #9975
Nice Catch!
The current site behaviour is and should be all navigation pages should open in same tab, except the forum (which of course should open in a new tab).

[2016-07-29 14:39] raisedadead commented on #9975
And regarding the profile icon and points, I think we should just make it uniform that they navigate to settings always as mention by Berkeley.

[2016-07-29 14:48] BEBEDYDY commented on #6693
Hi , Hmay61 ,
Thank you for your help. I also googled it yesterday. :)

Jie

[2016-07-29 14:52] #9969 closed

[2016-07-29 14:55] alayek commented on #9979
I was about to report this :smile:

Yeah, nested scrollbar is a strict no-no in web design

[2016-07-29 14:58] alayek opened #9983 "[beta] Code editor cannot display full seed code if it is large"
No scrollbar here, and I cannot access the end of the code in the editor.

![screenshot from 2016-07-29 20 27 26](https://cloud.githubusercontent.com/assets/5607371/17252586/e7ca7002-55ca-11e6-91e1-e2d2862d6772.png)

Browser: Google Chrome latest on Linux Mint.

[2016-07-29 15:06] alayek opened #9984 "[beta] Submitted solution not present on revisit"
When code is submitted, and user goes to solve other problems; and decides to revisit the earlier challenge (from map page or hitting back button), the code in the editor should contain the solution.

However, I didn't find that to be the case.

This is what I am seeing before refresh
![screenshot from 2016-07-29 20 34 47](https://cloud.githubusercontent.com/assets/5607371/17252870/ef46c3f2-55cb-1

[2016-07-29 15:26] alayek commented on #9973
I faced the same issue on Google Chrome

---

![screenshot from 2016-07-29 20 55 21](https://cloud.githubusercontent.com/assets/5607371/17253552/dd77182c-55ce-11e6-8b6e-96fb7030ffdd.png)

[2016-07-29 16:12] KindaIntellectual commented on #9936
Thanks @erictleung for looking into this as well as confirming it. I've never submitted an issue before and was just hoping this wasn't human error :)

[2016-07-29 16:32] jialin128 commented on #6249
// Setup
var myObj = {
  gift: "pony",
  pet: "kitten",
  bed: "sleigh"
};

function checkObj(checkProp) {
  // Your Code Here
  return (myObj.hasOwnProperty(checkProp) ? myObj[checkProp] : "Not Found");
}

// Test your code by modifying these values
checkObj("gift");

[2016-07-29 16:33] kaym0 commented on #758
@QuincyLarson I would love to help, but I'm not sure if I have the technical capacity to do so.

[2016-07-29 16:34] kaym0 commented on #758
@QuincyLarson Although, let me know what you need done and I will see if I can help!

[2016-07-29 16:43] kaym0 commented on #758
@QuincyLarson Didn't notice the Git link above. Have saved it and I will look at it shortly! In the mean time, what will we miss out by not actually completing the 'how-to-npm dist-tag' and the few challenges beyond it? Would it be safe to move forward and come back to finish that after the fix has been made?

[2016-07-29 16:46] dwd2010 commented on #9967
@raisedadead, yep someone wrote answer in challenge seed. I think it is not suppose to be there.  so someone need to fix that. XD

[2016-07-29 17:13] dwd2010 commented on #9983
probably need to remove `overflow: hidden;` in body element style. that will be solve.

[2016-07-29 17:23] dwd2010 commented on #9983
or in class="challenges-editor" could use `overflow-x: hidden; overflow-y: scroll;`.

[2016-07-29 17:37] 321aislinn opened #9985 "Comment Issue"
Challenge [Comment out HTML](https://www.freecodecamp.com/challenges/comment-out-html#?solution=%0A%3C!--%20h1%20--%3E%0A%3Ch1%3EHello%20World%3C%2Fh1%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EHello%20Paragraph%3C%2Fp%3E%0A%3C!--%20p%20--%3E%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; rv:47.0) Gecko/20100101 Firefox/47.0</code>.
Please describe how

[2016-07-29 17:38] 321aislinn commented on #9985
The challenge is to create comments for the h1 and p elements, however, when I submit the above code it fails.

[2016-07-29 17:40] dwd2010 commented on #9985
@321aislinn
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding!

[2016-07-29 17:40] #9985 closed

[2016-07-29 18:28] ahishakiyeobed commented on #4150
thanks men its its reall helped.

[2016-07-29 18:59] knox97 opened #9986 "Ctrl + Enter bug"
<h1>Is good old Ctrl + Enter getting tired?</h1>
#### Challenge Name

This is on JSON challenges that use button to write a message, maybe on others too
<b>It happend to me on the following challenges</b> (but i haven't yet tryed on others)
Change Text with Click Events Complete
Get JSON with the jQuery getJSON Method Complete   *
#### Issue Description

Here is whats going on, once you solve a ch

[2016-07-29 20:58] m4sterbunny commented on #4535
I have reset- this works in the preview window- but I am not passing the challenge:

under my h2 tag is the following:

<p> View more  <a href="http://freecatphotoapp.com">cat photos</a>
</p>

[2016-07-29 21:02] m4sterbunny commented on #4535
Using this code

[2016-07-29 22:01] tumi-lean commented on #4150
I was confused still so I read the question again and made a few changes and this might someone also I did this:

`<img src="#" class="smaller-image" />`

and within the css style I did this:

`<head>
<style>
img { width: 100px; }
</style>
<title>your title</title>
</style>`

I hope this helps also :100:

[2016-07-29 22:11] BKinahan commented on #9986
Hi @knox97, thanks for reporting this.

If I'm understanding you correctly, the issue is that the `Ctrl+Enter` shortcut doesn't trigger the expected behavior of running the tests if you click inside the mobile preview.

This isn't limited just to challenges with the mobile preview. In fact, if you click outside of the code editor on any challenge, it will lose focus and its shortcuts won't be func

[2016-07-29 22:12] danilobarion1986 commented on #6718
I Can help with this too. How do I proceed?

[2016-07-29 22:39] JuFisch commented on #9976
I'd like to work on this for my first contribution

[2016-07-29 23:22] dhcodes commented on #9976
Go forth @JuFisch

[2016-07-30 00:06] #9948 closed

[2016-07-30 00:15] dhcodes commented on #9927
But then I need to do an amend... NOOOOO j/k I need the practice.

[2016-07-30 00:55] DoneishaF opened #9992 "The message keeps telling me that my style color should be blue, I changed it to blue and still nothing happen."
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%0A%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3A%20blue%3B%7D%20%0A%3C%2Fstyle%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20th

[2016-07-30 00:57] dwd2010 commented on #9992
@DoneishaF, there suppose to have h2 element. but you deleted h2 element.
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding!

[2016-07-30 00:57] #9992 closed

[2016-07-30 00:59] DoneishaF commented on #9992
it said to : Delete your h2 element's style attribute and instead create a CSS style element. Add the necessary CSS to turn all h2 elements blue.

So I don't know what I am doing wrong.

[2016-07-30 01:00] dwd2010 commented on #9992
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

[2016-07-30 01:01] DoneishaF commented on #9992
ugh

[2016-07-30 01:08] dwd2010 commented on #9992
btw this place is not help. but you could ask help at fcc chat room. sorry.

[2016-07-30 01:24] Fiyin-Anne opened #9993 "i'm stuck! pls help"
Challenge [Stand in Line](https://www.freecodecamp.com/challenges/stand-in-line#?solution=%0Afunction%20nextInLine(arr%2C%20item)%20%7B%0A%20%20%2F%2F%20Your%20code%20here%0A%20%20arr.push(item)%3B%0A%20%20console.log(arr.shift())%3B%20%20%0A%20%20console.log(arr.shift())%3B%0A%20%20return%20arr.shift()%3B%2F%2F%20Change%20this%20line%0A%7D%0A%0A%2F%2F%20Test%20Setup%0Avar%20testArr%20%3D%20%5B1%2

[2016-07-30 01:25] dwd2010 commented on #9993
@Fiyin-Anne
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding!

[2016-07-30 01:25] #9993 closed

[2016-07-30 01:34] Fiyin-Anne commented on #9993
the chat room isnt allowing me report my challenge. it keeps saying only for Github users and i am logged in via github!

[2016-07-30 01:37] xiaji2 commented on #8187
This is so hard!

[2016-07-30 01:39] xiaji2 commented on #8187
Is there anybody able to help me on "Size your Images"?
Thank You!

[2016-07-30 01:40] dwd2010 commented on #8187
@xiaji2, You could use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding!

[2016-07-30 01:41] dwd2010 commented on #9993
@Fiyin-Anne, try log out on gitter then log in.

[2016-07-30 01:50] Fiyin-Anne commented on #9993
@dwd2010 oh okay. Thank you so much

[2016-07-30 03:02] hallaathrad commented on #9876
Hey all... Didn't see this until now. Gitter is acting up.
@raisedadead please hit me up over private so I can go into FCC's codepen and fix it.
The problem originated from my server migration last week.

hahaha I knew having my portfolio in someone else's codepen would turn into a problem since I don't get to personally edit it.
That's why we wanted it on my own codepen to begin with. Who changed

[2016-07-30 03:03] SamAI-Software commented on #9947
Totally make sense for small screens.
But for most of campers with big screens it might lead to poor UX, when they are trying to find the certain challenge to recap the solution, that they used there, so they can use that method/function/logic again in a current challenge or project.

[2016-07-30 05:32] BerkeleyTrue commented on #9947
@SamAI-Software mobile/tablet users account for a very small percent of our users. Most people are on desktop.

I personally like that the map drawer stays open while switching between challenges, but I'm not a good representation of a typical user.

Then there is the argument of what was the behavior before reactification. It was to refresh to page, essentially closing the map drawer.

[2016-07-30 05:40] traisen commented on #9927
(off topic) I'm curious: how you ended up working on the editor?

On Sat, Jul 30, 2016 at 2:17 AM, Dylan H <notifications@github.com> wrote:

[2016-07-30 06:09] QuincyLarson commented on #758
@kaym0 honestly, you won't miss much. Most of the generally applicable npm knowledge is at the beginning of that challenge. I recommend you keep on moving forward.

[2016-07-30 06:18] QuincyLarson commented on #806
@BerkeleyTrue I just reproduced this. Is there a way we could prevent ctrl+z from wiping the initial seed? I agree that this is astonishing, and if there is a way we could do this without otherwise interfering with ctrl+z's behavior, that would be preferable.

[2016-07-30 06:29] raisedadead commented on #9947
+1 for closing the aside after a challenge is loaded (to remedy the immediate problem we have).

And yeah, while I can see what Sam means, and is important too. So maybe a bit off this thread how about something not like the sidecar, but a react component that is rendered within the challenges editor and is collapsible? Being in react now, I think we do not need the iframe for this?

I good point

[2016-07-30 06:36] SamAI-Software commented on #9947
Also the easy solution would be to close aside map only if window width is less than 800px or so.

[2016-07-30 07:47] bugron opened #9994 "[beta] Req.flash is not working for React routes"
Needs to be fixed or replaced with something else (toasts?). Until this is fixed showing flash messages to cheaters (and other use cases too) won't work as expected.

[2016-07-30 10:33] BKinahan commented on #9986
I'm going to close this issue for the reasons described above, but if you have more information to add or if I have misunderstood your initial report, please add another comment. Thanks again @knox97 and happy coding!

[2016-07-30 10:33] #9986 closed

[2016-07-30 11:34] atjonathan commented on #9202
This has been finished. Tagging @BerkeleyTrue to host it on the appropriate domain when we have finished testing the rectification :+1:

[2016-07-30 11:34] #9202 closed

[2016-07-30 14:00] crashuniverse commented on #9967
This can be narrowed down to test 1 `Your h2 element and topmost img element should both be nested together within a div element with the class row.` passing even if the outer div is not well formed.

[2016-07-30 14:49] bugron opened #9998 "[beta] Map button redirects to /map instead of opening sidecar for non React routes"
Also Map button doesn't do anything when I'm on `/map`.

[2016-07-30 15:09] bugron opened #9999 "Some issues with map drawer"
**1. Search button is croped in Firefox (47.0.1)**
![](http://i.prntscr.com/a02435dca07b4b44889d7a22676a9af4.png)
![](http://i.prntscr.com/ee4dd87b6a104927b5172e9a29a1cb13.png)
**2. `Esc` key doesn't clear search text input**
**3. There are three scrollbars when Firefox'es search box is opened (see next screenshot)** (I've not reproduced this in Chrome). In prod site everything is OK (only two scr

[2016-07-30 15:27] bugron opened #10000 "LoopProtect doesn't warn that there is an infinite loop"
LoopProtect actually protects me from an infinite it just doesn't show any relevant message.
**How that does prod site:**
![](http://i.prntscr.com/1b3790478fb8445c953995ddbd9dece5.png)
**How that does beta site:**
![](http://i.prntscr.com/80bc164a2d8c466b835a16f1df763668.png)

[2016-07-30 15:37] raisedadead commented on #10000
### :tada: :tada: :tada: 10000! :tada: :tada: :tada:

Okay, since we are coming to LoopProtect, I think this is a good chance to have a look at an alternate better maintained library, the LP project is mostly dead with no new developments and fixes recently, and we have a more than a few open bugs on that.

[2016-07-30 15:50] BerkeleyTrue commented on #9998
Yes, those are both expected behaviors. We can't support both the iframe and the react map component. Also, while on map there is no reason to also open the map drawer.

[2016-07-30 15:51] BerkeleyTrue commented on #9999
4) filtering is done using a fuzzy search, not a direct regex matching. This was added a couple of months ago.

[2016-07-30 15:53] BerkeleyTrue commented on #10000
@raisedadead What do you mean? We've had a few PR's fixing loop protect recently.

[2016-07-30 15:57] BerkeleyTrue commented on #9947
For now let's go with the expected behavior of closing the map on challenge load. We can discuss new UX in another issue

[2016-07-30 15:57] bugron commented on #9999
@BerkeleyTrue ah OK, but search results doesn't look relevant to want I wanted to search because it finds lots of challenges and then I have to visually filter challenges that include the word I've searched.

[2016-07-30 15:59] BerkeleyTrue commented on #9999
@bugron Yes, but that has been live on the site for months and is not relevant to Beta. I suggest opening up a new issue to discuss and see if you can get the author of the fuzzy search to comment.

[2016-07-30 16:02] raisedadead commented on #9947
Agreed.

[2016-07-30 16:06] raisedadead commented on #10000
The do while loop seems to be in trouble.

It acts weird if there is a new line in between:
[code]
The above will work while the below will fail.
[code]

Refer:
https://github.com/FreeCodeCamp/FreeCodeCamp/issues/5162
https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9652

[2016-07-30 16:11] hallaathrad commented on #9876
Thanks I've replaced the links to the new server and it all should be fine now 👍

Fixed. Closing happily :)

[2016-07-30 16:11] #9876 closed

[2016-07-30 16:46] bugron commented on #9962
Browser: SRWare Iron 51.0.2700.0 (64-bit)
OS: Windows 10
Anything that is **NOT** listed below works as expected.
- [x] As a returning user
  - [ ] sign in using legacy oauth options (**haven't tried**)
  - [ ] view code portfolio and settings page
    - [ ] I can add LinkedIn/Twitter to my profile (**haven't tried**)
    - [ ] I can activate night mode (**button does not do anything when I click*

[2016-07-30 17:02] cmal opened #10001 "The country `xk` or `Yugoslavia` cannot be found in the given url: https://www.flag-sprites.com"
#### Challenge Name

https://www.freecodecamp.com/challenges/show-national-contiguity-with-a-force-directed-graph

#### Issue Description

The given json has the country `xk` or `Yugoslavia`, but it cannot be found in the given url: https://www.flag-sprites.com

The flag-sprites website says: Macedonia, The Former Yugoslav Republic of (mk)
and the given json does also have a `Macedonia` or `mk`.
M

[2016-07-30 17:03] raisedadead commented on #9876
Thanks a ton @hallaathrad !

[2016-07-30 17:09] raisedadead commented on #10001
Hi @cmal,

Thanks a lot for reporting, and sorry to hear about the discrepancy, but unfortunately Free Code Camp does not own/control the data on the https://www.flag-sprites.com website, I am guessing you will have to reach out to their support email mentioned on the website as of this comment as "info@spectraweb.cz", with your concern.

Hope this helps, closing as not an issue with FCC code base

[2016-07-30 17:09] #10001 closed

[2016-07-30 17:26] BerkeleyTrue commented on #10000
This sounds like hyperbole considering that the one issue with loop protect is do-while loops. (I think recur functions as well).

Remember we have thousands of challenges being submitted a day and loop protect is running on all of them. Not to mention that it is also running on JSBin.

Yes, the issue's you listed have not been address in a long time but they are also effecting a very small percen

[2016-07-30 18:33] MuhammadLaraib commented on #9762
@erictleung i have a same problem, i want to see your code:
https://www.freecodecamp.com/challenges/add-font-awesome-icons-to-our-buttons#?solution=%3Clink%20rel%3D%22stylesheet%22%20href%3D%22%2F%2Fmaxcdn.bootstrapcdn.com%2Ffont-awesome%2F4.5.0%2Fcss%2Ffont-awesome.min.css%22%2F%3E%0A%3Cstyle%3E%0A%0A%3C%2Fstyle%3E%0A%0A%3Cbutton%3E%3Ci%20class%3D%22fa%20fa-thumbs-up%22%3Elike%3C%2Fi%3E%3C%2Fbutt

[2016-07-30 19:04] raisedadead commented on #10000
Just tested this on the jsbin, and yes unfortunately the `do...while` problem exists (its quite weird that they catch it at times and then it breaks at times).

I completely agree that **we should** re-use the existing things, and fix them.

Apologies, if I was misunderstood,its not just with do...while, but [multi line comments](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7072) and [while

[2016-07-30 19:25] raisedadead opened #10002 "[beta] Map aside looks different than current"
#### BETA

![image](https://cloud.githubusercontent.com/assets/1884376/17272638/4fdc6b0c-56b9-11e6-8a83-80b49186126a.png)

#### CURRENT

![image](https://cloud.githubusercontent.com/assets/1884376/17272645/706ca4b8-56b9-11e6-88b5-ed83df4dedc2.png)

[2016-07-30 20:30] alternativeintelligence opened #10003 "Type cursor doesn't follow where clicked within editor"
#### Challenge Name

https://www.freecodecamp.com/challenges/call-out-optional-actions-with-button-info
Many challenges before and after.

#### Issue Description

The type cursor doesn't always end up where clicked by the mouse cursor. In some areas of text, you can't click anywhere within it. When it is possible to place the type cursor, it will automatically move to a random area within the text

[2016-07-30 20:35] raisedadead commented on #10003
Please search open issues before reporting, closing as a duplicate of #7847

[2016-07-30 20:35] #10003 closed

[2016-07-30 20:42] #9947 closed

[2016-07-30 20:53] RaroHub opened #10004 "malfunction with --Cards Sequence 3, 7, Q, 8, A should return "-1 Hold"-- chalenge"
var count = 0;

function cc(card) {
  // Only change code below this line

switch(card)
  {
    case 2, 3, 4, 5, 6: return "5 Bet";
    case 7, 8, 9: return "0 Hold";
    case 10, 'J', 'Q', 'K', 'A': return "-5 Hold";
    case 3, 7, 'Q', 8, 'A': return  "-1 Hold";
    case 2, 'J', 9, 2, 7: return "1 Bet";
    case 2, 2, 10: return "1 Bet";
    case 3, 2, 'A', 10, 'K': return "-1 Hold";
  }

  retu

[2016-07-30 21:19] dwd2010 commented on #10004
@RaroHub, Did you ask help in the fcc chat room first?

[2016-07-30 21:35] raisedadead opened #10005 "[beta] Console output message is different than current"
**BETA**
![image](https://cloud.githubusercontent.com/assets/1884376/17273228/6608ac44-56cb-11e6-9287-1356d1101dd9.png)

**CURRENT**
![image](https://cloud.githubusercontent.com/assets/1884376/17273227/56f38df0-56cb-11e6-9cda-672f9764c548.png)

[2016-07-30 23:13] atjonathan commented on #10004
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-07-30 23:13] #10004 closed

[2016-07-30 23:18] atjonathan opened #10009 "Move all current wiki links to the forum"
Refer #9731

[2016-07-30 23:37] erictleung commented on #9762
@MuhammadLaraib your code is incorrect. If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: you're missing classes for your `button` element and the text "Like" should be in your button and not your `i` element. Happy coding!

[2016-07-30 23:39] #10005 closed

[2016-07-31 00:11] xiaji2 commented on #8670
I keep getting no response from.....

[2016-07-31 02:11] raisedadead commented on #9984
Confirmed.

[2016-07-31 02:15] raisedadead opened #10011 "[beta] last sign in method no longer highlighted"
I sign in with either email or GitHub, I sign out and then again visit the sign in, the last login method is not persisted.

[2016-07-31 02:18] raisedadead commented on #10011
Closing, cleared my cookies and its working again.

[2016-07-31 02:18] #10011 closed

[2016-07-31 04:27] bugron commented on #9999
@raisedadead
![video_2016-07-31_082210](https://cloud.githubusercontent.com/assets/13225220/17274572/80eb12e0-56f8-11e6-9da6-ff3307d69586.gif)

[2016-07-31 05:27] raisedadead commented on #9999
@bugron you on Windows?

[2016-07-31 06:43] bugron commented on #9999
@raisedadead Windows 10, Firefox 47.0.1

[2016-07-31 06:44] goonboy opened #10012 "Bug?"
Challenge [Comparisons with the Logical And Operator](https://www.freecodecamp.com/challenges/comparisons-with-the-logical-and-operator#?solution=%0Afunction%20testLogicalAnd(val)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0A%20%20if%20(val%20%3C%3D%2050%20%26%26%20%3E%3D%2025)%20%7B%0A%20%20%20%20%20%0A%20%20%20%20%20%20return%20%22Yes%22%3B%0A%20%20%20%20%0A%20%20%7D%0A

[2016-07-31 06:46] goonboy opened #10013 "Bug?"
Challenge [Comparisons with the Logical And Operator](https://www.freecodecamp.com/challenges/comparisons-with-the-logical-and-operator#?solution=%0Afunction%20testLogicalAnd(val)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0A%20%20if%20(val%20%3C%3D%2050%20%26%26%20%3E%3D%2025)%20%7B%0A%20%20%20%20%20%0A%20%20%20%20%20%20return%20%22Yes%22%3B%0A%20%20%20%20%0A%20%20%7D%0A

[2016-07-31 06:47] goonboy commented on #10013
I am miffed....

[2016-07-31 06:49] #10012 closed

[2016-07-31 06:53] bugron commented on #10013
@goonboy thanks for posting this issue!
Your logical expression on line 5 is not constructed correctly. If you have problems with your code, please, post a message in our [Gitter chat room](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/FreeCodeCamp-Get-Help) first, thanks.

[2016-07-31 06:53] #10013 closed

[2016-07-31 06:55] goonboy commented on #10013
Ok thanks.

Sorry...I am a newbie..

[2016-07-31 07:42] unfomo1 opened #10014 "NVM"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-07-31 07:51] #10014 closed

[2016-07-31 07:52] unfomo1 opened #10015 "Problem 172 : how to solve"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-07-31 08:05] bugron commented on #10015
@unfomo1 thanks for posting this issue!
Closing. Please feel free to re-open with steps to reproduce the issue. If you have problems with your code, please, post a message in our [Gitter chat room](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/FreeCodeCamp-Get-Help) first, thanks.

[2016-07-31 08:05] #10015 closed

[2016-07-31 08:35] raisedadead opened #10016 "Do we need console on the non JS challenges?"
![image](https://cloud.githubusercontent.com/assets/1884376/17275484/d1f4e25e-5727-11e6-9356-bcd7ebb6f305.png)

[2016-07-31 09:39] bugron opened #10017 "Remove obsolete dependencies from package.json"
Since we don't use it anymore.

**Update:** -by @raisedadead:
Issue mods do not close this in a merge. Lets keep this a recurring open issue for first timers.

[2016-07-31 09:58] bugron commented on #10017
We also seems don't use `cheerio`, `nodemailer-ses-transport`, `react-toastr`, `sanitize-html`, `url-regex`, `xss-filters`, `gulp-dest`, `happy`, `loopback-testing`, `jquery` npm package, @BerkeleyTrue, @raisedadead please, confirm.

[2016-07-31 10:39] raisedadead commented on #10017
thanks for the issue, will have a look and get back

[2016-07-31 10:45] raisedadead commented on #9959
Closing in favor of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9981

[2016-07-31 10:45] #9959 closed

[2016-07-31 10:48] raisedadead commented on #9998
@bugron can this be closed as resolved?

[2016-07-31 11:02] bugron commented on #9998
Closed. But in my opinion behavior of the Map button should be the same on every page (except `/map` where there is no need to open the sidecar).

[2016-07-31 11:02] #9998 closed

[2016-07-31 11:12] raisedadead commented on #9998
Umm yeah, I understand, but its technically very costly to do that on the non-react pages. On those pages if we did have a sidecar, clicking the links would mean a redirect request to the server and not the react routes.

While on react pages we can simply render the corresponding challenge after hitting the react routes within the page.

Hence the behavior.

Maybe if in future we have all the pag

[2016-07-31 11:15] Frulenzo opened #10018 "Streaks == 1 problem"
Challenge [Golf Code](https://www.freecodecamp.com/challenges/golf-code#?solution=%0Afunction%20golfScore(par%2C%20strokes)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20if(strokes%20%3D%3D%201)%7B%0A%20%20%20%20return%20%22Hole-in-one%22%3B%0A%20%20%7D%20else%20if(strokes%20%3C%3D%20par%20-2)%7B%0A%20%20%20%20return%20%22Eagle%22%3B%0A%20%20%7D%20else%20if(strokes%20%3

[2016-07-31 11:19] Frulenzo commented on #10018
My bad! I totally forgot exclamation mark :smile:

[2016-07-31 11:19] #10018 closed

[2016-07-31 12:03] bugron commented on #9998
Sure, I understand. Hopefully, in future this behavior will be changed.

[2016-07-31 12:18] mutasimgsm commented on #8974
try this, it w'll work

function updateRecords(id, prop, value) {
  if (prop === "tracks" && value !== "") {
   if(collection[id][prop]) {
    collection[id][prop].push(value);
   }
   else {
    collection[id][prop]=[value];
   }
  } else if (value !== "") {
    collection[id][prop] = value;
  } else {
    delete collection[id][prop];
  }

  return collection;
}

[2016-07-31 13:11] kaylegh commented on #10017
I removed the conresponding line, and wait for @raisedadead  return

[2016-07-31 13:38] nilsvoorkamp opened #10019 "is this a bug or i am i just wrong??? Can't figure out what's the problem here."
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection#?solution=%0A%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%20%222548%22%3A%20%7B%0A%20%20%20%20%20%20%22album%22%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20%22artist%22%3A%20%22Bon%20Jovi%22%2C%0A%20%20%20%20%20%20%22tracks%22%3A%20%5B%20%0A%20%20%20%20%20%20%20%20%22Let%20It%20Rock%22%

[2016-07-31 13:50] BKinahan commented on #10019
Hi @nilsvoorkamp, there is not a bug, but your code is not quite complete yet because you must handle cases where an object does not have a `"tracks"` property.

Please ask for assistance in the [HelpJavaScript](https://gitter.im/FreeCodeCamp/HelpJavaScript) chatroom when you're stuck with the algorithm challenges.

Thanks and happy coding!

[2016-07-31 13:50] #10019 closed

[2016-07-31 13:56] erictleung commented on #9944
@raisedadead I also somewhat agree that this is pretty easy. We could add in some constraints like filter out non-numbers and then start chopping off elements. It would up the challenge a little bit.

[2016-07-31 13:58] BKinahan commented on #10016
You could argue that the `running test` / `tests completed` messages are still useful to show that the tests are running correctly, although in a case where they run correctly once and then fail for some reason those messages will still be on display.

I'd say the console doesn't add anything crucial for any challenge which doesn't output values relevant to the challenge to it explicitly.

[2016-07-31 14:11] Greenster commented on #6966
Place double quotes on all case letters as if they were strings e.g.  case a: should be case "a".

[2016-07-31 14:18] raisedadead commented on #10017
Not Checked Yet | Package | Required
---------------- | ------------ | ---------------
not yet | cheerio |
Checked, dependency for loopback | nodemailer-ses-transport  | **YES** - Do NOT remove
not yet | react-toastr |
not yet | sanitize-html |
not yet | url-regex |
not yet | xss-filters |
not yet | gulp-dest |
not yet | happy |
not yet | loopback-testing jquery |

[2016-07-31 14:19] raisedadead commented on #10017
Will update when I can, but @BerkeleyTrue has to sign off on this.

[2016-07-31 14:21] raisedadead commented on #9944
This is a required challenge, we can have a fair amount of toughness, at least in increment of the previous

[2016-07-31 14:22] #4119 closed

[2016-07-31 14:22] #4193 closed

[2016-07-31 14:22] #5745 closed

[2016-07-31 14:22] #6208 closed

[2016-07-31 14:22] #6629 closed

[2016-07-31 14:22] #6680 closed

[2016-07-31 14:22] #7233 closed

[2016-07-31 14:25] bugron commented on #10017
@raisedadead don't you need to `import` or `require` nodemailer-ses-transport somewhere to actually use it or it's plugged in automatically?

[2016-07-31 14:27] BerkeleyTrue commented on #10017
@bugron A lot of modules are automatically imported by loopback.

What the hell is happy?

[2016-07-31 14:29] bugron commented on #10017
@BerkeleyTrue cool, just wanted to confirm (all other packages used by loopback either are inported or required of specified in middlewares json file).
https://www.npmjs.com/package/happy

[2016-07-31 14:32] #7345 closed

[2016-07-31 14:34] BerkeleyTrue commented on #10017
react-toastr, cheerio, happy and loopback-testing should be removed.

[2016-07-31 14:36] MuhammadLaraib commented on #9762
@erictleung My Code don't work...
https://www.freecodecamp.com/challenges/add-font-awesome-icons-to-our-buttons#?solution=%3Clink%20rel%3D%22stylesheet%22%20href%3D%22%2F%2Fmaxcdn.bootstrapcdn.com%2Ffont-awesome%2F4.5.0%2Fcss%2Ffont-awesome.min.css%22%2F%3E%0A%3Cstyle%3E%0A%0A%3C%2Fstyle%3E%0A%3Cbutton%20class%3D%22btn%20btn-block%20btn-info%22%3E%3Ci%20class%3D%22fa%20fa-thumbs-up%22%3E%3C%2Fi%3E

[2016-07-31 14:38] BKinahan commented on #9944
Here's a rough draft of a frankenSplice challenge, feedback appreciated!

[code]

[2016-07-31 14:48] raisedadead commented on #9944
`mutate` maybe little tough on non-native speakers?

How about?

[2016-07-31 14:58] #1193 closed

[2016-07-31 15:02] BKinahan commented on #9944
Oh yeah, this is not final language at all, just brainstorming about the requirements and difficulty of this potential challenge.

Is it feasible to have multiple tests check that various input arrays have not been changed by the function? Or does that make the test code overly complex?

I do think this is a good opportunity to reinforce that some array methods mutate arrays even outside the funct

[2016-07-31 15:03] JaeLiao opened #10021 "Issue about Challenge - Target the same element with multiple jQuery Selectors"
#### Challenge Name
Only add one class with each of your three selectors.

#### Issue Description
Only the task "Only add one class with each of your three selectors." fails. I think I've done that only one class is added with the the different selectors in my code.

#### Browser Information
Chrome 52.0.2743.82 m
Win10
Desktop

#### Your Code

[code]

#### Screenshot
![issue](https://cloud.githubu

[2016-07-31 15:05] atjonathan commented on #5667
Alright I'm gonna have a go at this :+1:
Thanks for the codepen @stefanivic :smiley:

[2016-07-31 15:07] atjonathan commented on #6448
Closing as we have moved to the forum and have removed the credits.

[2016-07-31 15:07] #6448 closed

[2016-07-31 15:09] MuhammadLaraib commented on #9762
add a "btn-primary" class to button element, then its works
![capture](https://cloud.githubusercontent.com/assets/20684314/17277374/ba89fa68-575a-11e6-812a-ecfcea9ac98e.JPG)

[2016-07-31 15:14] atjonathan commented on #10021
Thanks for reporting this @JaeLiao, this is because our tests don't seem to allow for spaces in between `.addClass` and `(`**`className`**`)`. An example of what passes fine:
[code]
We should adjust the tests to allow spaces :+1:

[2016-07-31 15:20] atjonathan commented on #10016
I like the feature, but I don't think it's necessary.

:+1:

cc/ @BerkeleyTrue

[2016-07-31 15:36] raisedadead commented on #9944
Tests are basically asserts. So wecan have one assert check all the input arrays. not complex, but lengthy one. To be clear this one will need a `assert.deepEqual` to check the arrays and chain them with logical `AND`

Yup I agree to the second point as well

[2016-07-31 16:57] dhcodes commented on #9927
@traisen I'm not sure what you mean, but this isn't really the place for conversations. Look me up on the (Gitter chat)[https://gitter.im/FreeCodeCamp/FreeCodeCamp] and send me an @ mention or a PM and we can talk

[2016-07-31 19:35] Rishicode commented on #7949
Am not able to submit and move on to next challenge?

[2016-07-31 19:37] Rishicode commented on #7949
thanks resolved

[2016-07-31 19:52] BKinahan opened #10022 "Live-updating broken for local FCC instance"
Live-updating on file save is not working correctly. Saving a file does cause an open page to refresh, but changes do not take effect until the database is re-seeded and `gulp` is run again. A simple `gulp` restart has no effect.

Observed on latest staging with updated npm and all the correct post-reactification packages.

`(Macintosh; Intel Mac OS X 10_11_6)`

[2016-07-31 19:52] tsinootrac commented on #8572
`body {
background-color: green;
color: green;
}`
read carefully & slow
i had the same problem but i read it again
to figure out it's my mistake

[2016-07-31 19:54] dhcodes commented on #10022
Confirmed on my end. Same workflow required to see updates.

[2016-07-31 21:10] BKinahan opened #10023 "[beta] Word Blanks tests are broken"
Two of the tests in Word Blanks rely on variables declared in the challenge's `tail`, and cannot access them, so the tests cannot be passed.

This may also affect other challenges whose tests rely on code within the challenge `tail`.

[2016-07-31 23:10] YanKozlovskiy opened #10024 "One of the test cases isn't a palindrome."
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=function%20palindrome(str)%20%7B%0A%20%20%2F%2F%20Good%20luck!%0A%20%20var%20s%20%3D%20str.toLowerCase().split(%2F%5B%5E%5Cw%5D%2B%2Fg).join(%22%22)%3B%0A%20%20%0A%20%20function%20reverse(string)%20%7B%0A%20%20%09var%20str%20%3D%20string.split(%22%22)%3B%0A%20%20%20%20var%20reverse%20%3D%20%5B

[2016-07-31 23:18] Bhargavbonu commented on #9388
I am facing the same problem!
Override Styles in Subsequent CSS

My Code:
<style>
  body {
    background-color: black;
    font-family: Monospace;
    color: green;
  }
  .pink-text {
    color: pink;
  }
  .blue-text{
    color: blue;
  }
</style>
<h1 class="blue-text" class="pink-text"> Hello World!</h1>

I am unable to run it! Please someone help me!

[2016-07-31 23:29] dwd2010 commented on #9388
@Bhargavbonu, You could go to [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.
this place for not ask help.
Happy Coding!

[2016-07-31 23:32] Chrono79 commented on #10024
No issue, you have to address underscores for deletion too with your regex.

[2016-07-31 23:42] BKinahan commented on #10024
@YanKozlovskiy Yes, your code is not quite complete as @Chrono79 indicated, because `\w` includes not only numbers and letters but also the underscore character.

[2016-07-31 23:42] #10024 closed

[2016-08-01 02:22] g3istb0t opened #10025 "Bug - Create a Block Element Bootstrap Button - Won't finish submitting."
Challenge Name: Create a Block Element Bootstrap Button
Link: https://goo.gl/7IEJ4j

Issue:
Challenge wants you to bootstrap the btn-block class within the btn class. After entering in the code specified you can see the changes occur on the right side, with the button expanding across the screen. How ever the check off area it remains red, and when trying to hit submit it does not proceed. Here is

[2016-08-01 02:57] dhcodes commented on #10025
@g3istb0t Forgive me if this sounds obtuse, but are you clicking the "Run Tests" button or the "Submit" button because the latter is an example in the instructions and you need to click "Run Tests" to proceed. I ask because I replicated your steps and it worked for me (i.e. the tests passed) though I am on a diff. machine.

[2016-08-01 03:54] LodeScreen42 commented on #9927
I have a confirmation of similar symptoms while my alt attributes should be perfectly legal.  This thread describes what I am experiencing.
(Mozilla Firefox 47.0.1; Win10(x64)

My code:
`<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

<style>

  .red-text {

    color: red;

  }

​

  h2 {

    font-family: Lobster, Monospace;

  }

​

  p {

    fon

[2016-08-01 05:24] raisedadead commented on #10025
The tests need to be updated to allow any order for the classes.
`<button class="btn btn-block">` and `<button class="btn-block btn">` both are correct.

[2016-08-01 06:24] raisedadead commented on #8418
Have checked on most rooms, all of the rooms which did not have any activity (in more than a month) have not been touched (simply just because it would have triggered discussion in them).

The campsite rooms do not need this, they already have a message and the above also applies to all of them.

Closing.

[2016-08-01 06:33] jacobsteenhuysen commented on #9933
i have the same problem.

[2016-08-01 09:26] atjonathan commented on #10025
@raisedadead Both pass fine for me?

[2016-08-01 10:41] atjonathan commented on #4436
Closing as we are moving to using HyperDev.

[2016-08-01 10:41] #4436 closed

[2016-08-01 10:59] raisedadead commented on #10025
Oh, bummer. Yes. IDK the first instant I could not pass.
@g3istb0t Can you copy and share your original code in here?

[2016-08-01 12:23] Bouncey opened #10027 "[beta] Challenge view formatting for lg screen size (>1200px)"
No further break-point from 1200px +, which differs from production.

Screenshots at 1900px

From production site:
![production](https://cloud.githubusercontent.com/assets/18572518/17293820/8d703ffc-57ea-11e6-96c3-f4b93d585a3a.png)

From beta:
![beta](https://cloud.githubusercontent.com/assets/18572518/17293825/97c65892-57ea-11e6-80a0-7a70ac770eb1.png)

[2016-08-01 12:28] Locheed commented on #9927
Hyphen ( - ) also breaks it. Regex fix to accept any character would be good.
@LodeScreen42 That's your problem. Remove hyphen.

[2016-08-01 12:32] Bouncey commented on #10025
I can't reproduce

[2016-08-01 13:09] danilobarion1986 commented on #4436
Thank you for reply! Great choice switch to HyperDev :+1:

[2016-08-01 13:26] raisedadead commented on #10027
Hey can you pull and check if this still is solves it
https://github.com/FreeCodeCamp/FreeCodeCamp/pull/9987

[2016-08-01 13:55] dhcodes commented on #9927
@Locheed @LodeScreen42 I changed the Regex to accept any character so it should be good to go once my PR gets merged and posted.

[2016-08-01 16:43] orrow opened #10028 ""Profile Lookup" instructions are ambiguous and don't match "accepted solution""
#### Challenge Name
Profile Lookup

https://www.freecodecamp.com/challenges/profile-lookup

#### Issue Description

The instructions include the following:

Problem 1:
According to the instructions, the function should not return "No such property" if prop corresponds to a valid property -- period -- regardless of the associated firstName.  However, the solution offered at https://freecodecamp.git

[2016-08-01 16:50] BKinahan commented on #10025
Same here, can't reproduce this.

@g3istb0t Just to be absolutely clear, when you say

and in general when you refer to pressing the submit button, you do mean the "Run tests" button and not any of the buttons actually labeled as `Submit`, correct?

[2016-08-01 17:07] BKinahan commented on #10028
Thanks for reporting this issue @orrow.
This section of the instructions:

does clarify implicitly what the function should do, but the final sentence of the instructions

may add some ambiguity if that clarification is overlooked or misconstrued. To resolve this, the final sentence can be amended to

This should address both problems of ambiguity.

**To potential contributors**:
This issue can be

[2016-08-01 17:13] orrow commented on #10028
Perfect!

[2016-08-01 17:23] siyafazila opened #10029 "Not passing the challenge even though I get the answer correctly returned."
Challenge [Adding a default option in Switch statements](https://www.freecodecamp.com/challenges/adding-a-default-option-in-switch-statements#?solution=%0Afunction%20switchOfStuff(val)%20%7B%0A%20%20var%20answer%20%3D%20%22%22%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%0A%20%20%20switch%20(val)%20%7B%0A%20%20%20%20%0A%20%20%20%20case%20%22a%22%3A%0A%20%20%20%20%20%20an

[2016-08-01 17:32] saraivenegas opened #10030 "target of children query doesn't let me go by even though all children elements are present"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-08-01 17:38] BKinahan commented on #10029
Thanks for reporting, but unfortunately your code is not quite correct. You have included an extra space at the end of the string `"stuff"`, and removing it allows your code to pass all the tests.

Remember to use the [Help chat](https://gitter.im/FreeCodeCamp/Help) if you get stuck writing code; it's easy to overlook small details like this and having a fresh set of eyes look at your code can mak

[2016-08-01 17:38] #10029 closed

[2016-08-01 17:42] BKinahan commented on #10030
@saraivenegas Hi, could you please add some more information to your issue description to detail what is going on, and include your code?

It might be that there is some problem in your code that is preventing it from passing the tests. Be sure to visit the [Help chat](https://gitter.im/FreeCodeCamp/Help) when you are stuck with writing code.

[2016-08-01 19:59] musekwa commented on #9933
I've just encountered the same problem. Can someone help?

[2016-08-01 20:19] illertimes opened #10033 "Problem with calling the function"
Challenge [Write Reusable JavaScript with Functions](https://www.freecodecamp.com/challenges/write-reusable-javascript-with-functions#?solution=%0A%2F%2F%20Example%0Afunction%20ourReusableFunction()%20%7B%0A%20%20console.log(%22Heyya%2C%20World%22)%3B%0A%7D%0A%0AourReusableFunction()%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0Afunction%20reusableFunction()%20%7B%0A%20%20console.l

[2016-08-01 20:29] robbiegod commented on #9933
@musekwa @jacobsteenhuysen  post your code somewhere.  In the original example above it might be something as simple as that last "<P>" is capitalized but in the stylesheet is references a lowercase 'p'.  If you change that lowercase so everything matches, then that should fix it.  i passed the test.

[2016-08-01 20:31] dhcodes commented on #10033
@illertimes I believe this is caused by a typo in your function call. `reuseableFunction` should be `reusableFunction()`. Remove the extra 'e' in reuseable an you'll be in business.

[2016-08-01 20:39] illertimes commented on #10033
@dhcodes  Thanks man I appreciate it... embarrassing to say the

[2016-08-01 20:39] illertimes commented on #10033
least

[2016-08-01 20:45] #10033 closed

[2016-08-01 21:12] EceDilek opened #10035 "Urgent Help Please!"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-08-01 21:13] #10035 closed

[2016-08-01 21:15] EceDilek opened #10036 "Urgent help please"
I have started this developing adventure just three hours ago. I guess 17th challenge is not something really tough but although searching the solution on the net, i couldnt find a way to solve it. Can you please tell me what is my mistake? I need to make the photo's size to 100 px.

#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:

[2016-08-01 22:00] BEBEDYDY commented on #5884
function caseInSwitch(val) {
  var answer = "";
  // Only change code below this line

  switch (val){
    case 1:
      answer="alpha";

      break;
    case 2:
      answer ="beta";

      break;
    case 3:
      answer ="gamma";

      break;
    case 4:
      answer ="delta";

      break;
  }

  // Only change code above this line
  return answer;
}

// Change this value to test
caseInSwitc

[2016-08-01 22:14] BKinahan commented on #10036
Hi, @EceDilek! First of all, welcome to FreeCodeCamp 😄

Please note that issues are for reporting bugs with the challenges or the FreeCodeCamp website.

There is a [Help chat](https://gitter.im/FreeCodeCamp/Help) that you can use for help with writing code, and that is the best place for your question, so do check it out 👍

Happy coding!

[2016-08-01 22:14] #10036 closed

[2016-08-01 22:20] BEBEDYDY commented on #6966
unction switchOfStuff(val) {
  var answer = "";
  // Only change code below this line
  switch (val){
    case "a":
      answer = "apple";
      break;
    case "b":
      answer = "bird";
      break;
    case "c":
      answer ="cat";
      break;
    default:
      answer ="stuff";

  }

  // Only change code above this line
  return answer;
}

// Change this value to test
switchOfStuff(c);

o

[2016-08-01 22:21] BEBEDYDY commented on #6294
unction switchOfStuff(val) {
  var answer = "";
  // Only change code below this line
  switch (val){
    case "a":
      answer = "apple";
      break;
    case "b":
      answer = "bird";
      break;
    case "c":
      answer ="cat";
      break;
    default:
      answer ="stuff";

  }

  // Only change code above this line
  return answer;
}

// Change this value to test
switchOfStuff(c);

[2016-08-01 23:18] BEBEDYDY commented on #6255
// Setup
function abTest(a, b) {
  // Only change code below this line

  if (a < 0 || b < 0) {
    return undefined;
  }

  // Only change code above this line

  return Math.round(Math.pow(Math.sqrt(a) + Math.sqrt(b), 2));
}

// Change values below to test your code
abTest(2,2);

[2016-08-01 23:26] musekwa commented on #9933
Hello dear robbiegod, here is the code:
![image](https://cloud.githubusercontent.com/assets/19254270/17312021/e95bf62a-584f-11e6-9713-7422c6e06174.png)

I've tried to change the <p> from lowercase to upper one, but it couldn't pass

[2016-08-01 23:30] musekwa commented on #9933
Finally, it worked. I was mispelling the "font-size" to "fonte-size"...

[2016-08-01 23:37] BerkeleyTrue commented on #10016
What's the current behavior in production?

While we now have three states for the test suite (pass/fail/refreshing) we could always use more queues to indicate that the user's solution is being tested.

[2016-08-02 00:55] alanbares commented on #9957
I'll work on this.

[2016-08-02 00:57] Np463 opened #10038 "Test case bug in 'Algorithm Inventory Update'"
Challenge [Inventory Update](https://www.freecodecamp.com/challenges/inventory-update#?solution=%0Afunction%20updateInventory(arr1%2C%20arr2)%20%7B%0A%20%20%20%20arr2.forEach(function(newItem)%20%7B%0A%20%20%20%20%20%20var%20found%20%3D%20false%3B%0A%20%20%20%20%20%20arr1.forEach(function(item%2C%20index)%20%7B%0A%20%20%20%20%20%20%20%20if(newItem%5B1%5D%20%3D%3D%3D%20item%5B1%5D)%20%7B%0A%20%20%2

[2016-08-02 01:15] Laurensly opened #10040 "CSS correct, but not allowing me to continue"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

It has instructed

[2016-08-02 01:18] erictleung commented on #10038
@Np463 thanks for the issue. However, the third test case is correct in what it is asking for.

What you need to do is to look at the first array give, `arr1`, and find what new inventory items you get in the second array given, `arr2`. Implicit in the instructions is that you need to add the items from `arr2` to `arr1`. Is my assumption correct that this was unclear from the instructions?

I can

[2016-08-02 01:19] dwd2010 commented on #10040
@Laurensly, did you delete h2 element?  there suppose to have more code. I dont see other code in there.

[2016-08-02 01:26] #10038 closed

[2016-08-02 01:32] Laurensly commented on #10040
wow, I'm oblivious. I accidentally deleted my greater than sign. Fixed it though. Thanks! @dwd2010

[2016-08-02 02:05] dwd2010 commented on #10040
Next time, use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding!

[2016-08-02 02:05] #10040 closed

[2016-08-02 03:28] Laurensly commented on #10040
Yes, I did. Since I thought it was a bug issue, I came here. The other chatters also thought the same thing. But, thank you for your suggestion. @dwd2010

[2016-08-02 03:39] BerkeleyTrue commented on #9850
I'm not sure this should be added. I dislike that the behavior changes depending on the context and could not find a clean way to implement in Redux now that we do not have a modal after successful attempt.

One option is to make a successful attempt automatically submit and move you to the next challenge, but this might run into a `Principal of least surprise` issue. This is why I decided not to

[2016-08-02 03:49] dwd2010 commented on #10040
@Laurensly, yeah. It is fine. all good.

[2016-08-02 05:00] raisedadead commented on #9850
Ahh, I get what you mean, but problem is this behavior is known to almost all campers as a handy shortcut.

I am up for the later proposal which is submit automatically + move to next.
we could just announce this behavioral change, when we push to production.

[2016-08-02 05:03] raisedadead commented on #10016
Currently production does not have console on non JS challenges.

[2016-08-02 05:30] raisedadead commented on #8418
@BerkeleyTrue
I have updated the topic.
They still link to the wiki in the chat message, I can update, just don't want to trigger notifications. Its best left as they are, considering there is no recent activity in most.

However, Ziplines and Bonfires sometimes get visitors, because Gitter shows them as suggested rooms.

[2016-08-02 05:40] QuincyLarson commented on #8418
@raisedadead @BerkeleyTrue we may actually just want to delete the deprecated rooms. Few would be missed, and that way, Gitter's native discovery features would work properly. We wouldn't have to list our official rooms - we would only have official rooms (all the unofficial other rooms would be run by campers themselves and not under the freecodecamp prefix.

Downside: we lose some history and so

[2016-08-02 05:54] raisedadead commented on #8418
Yeah, I agree. I think the upside is better in favor of deleting them. Will do the audit and post a list that can/must be deleted.

[2016-08-02 06:00] #9955 closed

[2016-08-02 06:00] #9983 closed

[2016-08-02 06:00] #10002 closed

[2016-08-02 06:22] QuincyLarson commented on #8418
many: > 100/day
some: > 10/day, < 100/day,
few: < 10/day
inactive: no posts today

[FreeCodeCamp](https://gitter.im/freecodecamp/FreeCodeCamp) - many
[Help](https://gitter.im/freecodecamp/Help) - many
[HelpJavaScript](https://gitter.im/freecodecamp/HelpJavaScript) - many
[HelpFrontEnd](https://gitter.im/freecodecamp/HelpFrontEnd) - many
[HelpDataViz](https://gitter.im/freecodecamp/HelpDataViz) - s

[2016-08-02 06:57] m4sterbunny commented on #4535
reboot fixed it- go figure

[2016-08-02 06:57] QuincyLarson commented on #8418
Our community is primarily spread out across 3 places:
- Gitter
- Our forum
- Facebook groups

For what it's worth, here's my thinking on each of these mediums:

- **Chat rooms** - in order for a chat room to be useful, people should generally get a response within a few minutes of posting a question or comment. That's how it is with our main chat room and most of our help rooms. Chat rooms should

[2016-08-02 07:19] SamAI-Software commented on #6130
Different calculators have different logic.

Google Calculator (browser version)
- allows chaining operations
- **without** updating the value before pressing "equal"
- **does** follow operator precedence.

Windows Standard Calculator
- allows chaining operations
- **with** updating the value before pressing "equal"
- **does not** follow operator precedence. Here is a [check-list](https://github.c

[2016-08-02 07:19] #6130 closed

[2016-08-02 07:48] SamAI-Software commented on #8981
There are different variations of calculators with different functionality and logic.

Google Calculator (browser version) shows `10 + 5`
Windows Standard Calculator shows `5` ([here is a check-list](https://github.com/SamAI-Software/test-ur-calc))
[Latest FCC calculator](https://codepen.io/FreeCodeCamp/full/rLJZrA/) shows `5` (same like Windows' calc)

So it's not a bug, it's just a different log

[2016-08-02 07:48] #8981 closed

[2016-08-02 08:27] evaristoc commented on #8418
@QuincyLarson

I saw your proposed list and your invitation to discuss the future of a chatroom like the DataScience one. I don't think this room fits a "general room" format: the discussions that are occurring there are mostly about Data Science. Merging that room into another more general one could kill the current content and motivation of the room unless it is merged with rooms with similar in

[2016-08-02 08:29] evaristoc commented on #8418
I have also monitored the activity in the Python room: it is not 'few' but 'some'. However, this is a room that for its nature could be moved somewhere else.

[2016-08-02 08:30] evaristoc commented on #8418
The Spanish room is one of the most active ones I have seen too... The people there are really good in maintaining the room activity.

[2016-08-02 08:40] evaristoc commented on #8418
I suggest the following:
For some of those projects with kind of "some" level of activity, either merge or wait to see what happens with them after deleting other rooms that might be related.

I think deleting rooms about Help- will simply reduce the whole activity at Gitter, as Gitter won't be a reference to the set of help resources any more.

[2016-08-02 08:47] SamAI-Software commented on #8418
@evaristoc just came up with a great idea. Instead of making a big change at once, lets make these changes step-by-step.
For the start we can close the **other languages** rooms (not **JS**) and try to move discussions to the forum and see the result, plus we will get a feedback from regular users of those room.
If the feedback would be very negative, then we will rethink the whole idea of closing

[2016-08-02 09:00] evaristoc commented on #8418
@QuincyLarson
If the actual plan is to delete them no matter the activity, I would suggest to offer alternatives to users talking to the main moderator regarding:
* How FCC sees the room (is it part of the main core? is it adding value to FCC?)
* Discuss the possibilities and how FCC will consider group (is it still core to FCC? or is it an alternative that should be managed by users themselves? w

[2016-08-02 10:01] #9957 closed

[2016-08-02 10:11] #10028 closed

[2016-08-02 10:47] ArmantHitchcock commented on #9899
Hi can someone please explain how: myVar = myVar should be changed
means: that i should create a new variable "myVar1"
myVar1 = ++myVar;

Would it not be better to give the instruction of:
Now create a new variable myVar1 and assign the incremented myVar to it

[2016-08-02 10:52] #8504 closed

[2016-08-02 10:52] #9513 closed

[2016-08-02 10:52] #9773 closed

[2016-08-02 10:52] #10009 closed

[2016-08-02 11:31] VermaNo1 opened #10046 "Error: Can't execute code from a freed script. [Run test ctrl+entr not working]"
![error](https://cloud.githubusercontent.com/assets/4408661/17326992/b07bcc9e-58d2-11e6-87a0-8199492a3cbe.jpg)
Challenge [Create Bootstrap Wells](https://www.freecodecamp.com/challenges/create-bootstrap-wells#?solution=%0A%3Cdiv%20class%3D%22container-fluid%22%3E%0A%20%20%3Ch3%20class%3D%22text-primary%20text-center%22%3EjQuery%20Playground%3C%2Fh3%3E%0A%20%20%3Cdiv%20class%3D%22row%22%3E%0A%20%20

[2016-08-02 11:41] raisedadead commented on #10046
Interesting, and thanks for the issue, although I can't reproduce the same with the above code, I am a bit certain of why you maybe getting this.

As you type along your code, the same gets executed live (jQuery calls and executions happen live) on the iPhone preview.

So it's possible that while your code was being parsed, the script broke. This happens at times. Unfortunately I am not sure much

[2016-08-02 11:57] ArmantHitchcock commented on #8721
I believe the code is incomplete:
function convertToF(celsius) {
  var fahrenheit;

**NB: var fahrenheit isn't assigned to the parameter "celsius" of the above function, and as the instruction below states the the student shouldn't edit it thus the function won't work**

// Only change code below this line

  // Only change code above this line
  return fahrenheit;
}

`<hr>`

This is my example:

[2016-08-02 12:53] cagiant opened #10047 "Is this a bug or I am wrong? I get the results correctly but still can not pass..."
Challenge [Where do I belong](https://www.freecodecamp.com/challenges/where-do-i-belong#?solution=%0Afunction%20getIndexToIns(arr%2C%20num)%20%7B%0A%20%20%2F%2F%20Find%20my%20place%20in%20this%20sorted%20array.%0A%20%20arr%20%3D%20arr.sort(function(a%2Cb)%7B%0A%20%20%20%20return%20a%20%3E%20b%3B%0A%20%20%7D)%3B%0A%20%20for(var%20i%20in%20arr)%7B%0A%20%20%20%20if(arr%5Bi%5D%20%3E%20num)%7B%0A%20%20

[2016-08-02 13:17] oalhait commented on #10047
Thanks for the issue submission, but your code has an issue. Your for loop uses variable i, but you then attempt to return i outside the for loop, which doesn't work because i isn't initialized outside the loop. You should initialize a variable outside the for loop as 0, and then increment it until it is the size of array. You should then just return it unincremented, as the number will be the siz

[2016-08-02 13:19] oalhait commented on #10047
Next time, it would be faster for you to check with [the FCC gitter chat](https://gitter.im/FreeCodeCamp/FreeCodeCamp); you'll get a quick response, and confirmation on whether or not it's a bug.

[2016-08-02 13:19] Blackarmour opened #10048 "Clone an Element Using jQuery : iPhone Preview renders differently after submit"
#### Challenge Name

[Clone an Element Using jQuery](https://www.freecodecamp.com/challenges/clone-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target1%22).prop(%22disabled%22%2C%20true)%3B%0A%20%20%20%20%24(%22%23target4%22).remove()%3B%0A%20%20%20%20%24(%22%23

[2016-08-02 13:20] raisedadead commented on #10047
Thanks @oalhait for the clarification.

@cagiant please discuss coding assistance in chat as mentioned, GitHub issues are for bugs on the website only.

[2016-08-02 13:20] #10047 closed

[2016-08-02 13:29] cagiant commented on #10047
Thank all of you for your replies.   I will do as suggested in the emails.

发件人: Omar Alhait [mailto:notifications@github.com]
发送时间: 2016年8月2日 21:20
收件人: FreeCodeCamp/FreeCodeCamp
抄送: Cary; Author
主题: Re: [FreeCodeCamp/FreeCodeCamp] Is this a bug or I am wrong? I get the results correctly but still can not pass... (#10047)

Thanks for the issue submission, but your code has an issue. Your for loop

[2016-08-02 13:49] BKinahan commented on #10048
@raisedadead Isn't this a duplicate of #5072 (already resolved but not yet in production), but with different code?

There is an extraneous cloning of the `#target2` button here, though it doesn't interfere with the tests.

[2016-08-02 13:54] raisedadead commented on #10048
Yup, I think so it's a duplicate. Haven't yet tested it. Will have to check on my local machine once, beta is not working with this challenge. thanks for pointing out.

[2016-08-02 14:05] raisedadead commented on #7082
Challenge has been replaced with new data set and has been renamed, its available now at
https://www.freecodecamp.com/challenges/show-national-contiguity-with-a-force-directed-graph

We now need a updated video of it.
/cc @Septimus @QuincyLarson

[2016-08-02 15:58] aljonimp11 opened #10049 "Changing font size of an Element"
This is my current code, can someone please help me find my error. I have looked it over many times and still cannot find it.
<style>
  .red-text {color: red;}
  p {font-size: 16px;}
</style>
<h2 class="red-text">CatPhotoApp</h2>
<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.<

[2016-08-02 16:05] #10049 closed

[2016-08-02 16:05] oalhait commented on #10049
Hi @aljonimp11, this isn't the place to get help with your code. Please ask in the [gitter chat](https://gitter.im/FreeCodeCamp/FreeCodeCamp) as well!

[2016-08-02 16:05] aljonimp11 commented on #10049
Okay, thank you!

[2016-08-02 16:20] #9956 closed

[2016-08-02 16:39] TaressaH opened #10050 "Bug..."
Challenge [Give a Background Color to a Div Element](https://www.freecodecamp.com/challenges/give-a-background-color-to-a-div-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20

[2016-08-02 16:42] dwd2010 commented on #10050
@TaressaH
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding!

[2016-08-02 16:42] #10050 closed

[2016-08-02 16:48] znllnz opened #10051 "nested anchor bug"
#### Challenge Name
https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#

#### Issue Description
it says the anchor link is not nested in a <p> tag, when it clearly is

#### Browser Information
chrome current build
osx most recent update
macbook air

#### Your Code
[code]

This returns a message saying <a> needs to be nested but if I remove the first <a>, and/or repla

[2016-08-02 16:52] dwd2010 commented on #10051
@znllnz, you forget to add www in the link. that is how it wont passed. if you dont understand and you could ask help at chat room.
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding!

[2016-08-02 16:52] #10051 closed

[2016-08-02 16:53] znllnz commented on #10051
I LITERALLY COPIED THE URL FROM THE INSTRUCTIONS

[2016-08-02 16:54] dwd2010 commented on #10051
@znllnz, I trying to say your code is incorrect. I did check it myself. by the way, I am talking about link in your code.

[2016-08-02 17:05] #9954 closed

[2016-08-02 17:08] raisedadead opened #10052 "[beta] Show solutions instead of challenge links on user portfolio"
Refers https://github.com/FreeCodeCamp/FreeCodeCamp/pull/10041#issuecomment-236961267

[2016-08-02 17:48] CarlJKashnier commented on #8418
I agree with Quincy. If there are very active city rooms that might be a consideration to keep (I know Cleveland, where I am from, is nothing since April.) I do think that pairing down the rooms that duplicate other rooms would make things easier. Like the old help rooms before the change over.

Now, Spanish/Chinese we don't touch them. Chinese especially because of a lack of a good FB alternative

[2016-08-02 18:25] adamisntdead opened #10053 "[beta] Side of HTML Preview Hidden"
![Screenshot](http://image.prntscr.com/image/8f7700527aea482192d06c25b3cfad4a.png)

#### Not sure if there is already an issue about this
The side of the html preview is hidden behind the code editor, see screenshot above

I would probably be able to fix this?

_On Chrome (iMac, El Capitan) - Screen size: 1920 x 1080_

[2016-08-02 20:11] atjonathan commented on #7082
@QuincyLarson, please record this and send it over to me or Septimus to review.

[2016-08-02 20:28] Bisket17 opened #10054 "Bug in the web"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-08-02 20:29] Bisket17 commented on #10054
style>
  h2 {
    color: blue;
  }
</style>

<h2>CatPhotoApp</h2>

<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>  That's throwing an error

[2016-08-02 20:50] BKinahan commented on #10054
Hi @Bisket17, could you please provide some more information, such as which challenge you have noticed a problem with, and what your code is? There are sections in the issue description for this data, so it would be useful to edit your first comment on this issue to describe what is happening.

If you simply need help with writing the code for the challenge, please visit the [Help chat](https://gi

[2016-08-02 20:58] BKinahan commented on #10053
Related to #9955.

Duplicate?

[2016-08-02 21:02] adamisntdead commented on #10053
Yes! Didn't know that existed, closing in favour of #9955

[2016-08-02 21:02] #10053 closed

[2016-08-02 21:03] dhcodes commented on #10021
Tested locally and the added regex in the PR above seems to fix this. Hopefully it's gtg.

[2016-08-02 22:16] XavierHappyTime commented on #4150
i solve this problem but i'm confuse about something in the css classes, so is your style inputs what happening, and your class is saying what is happening..

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;

[2016-08-02 22:25] XavierHappyTime commented on #4150
i know you have to have the "img" in the style because that tells the section where you suppose to be hitting but why in the images section of the picture you have to put the class="smaller-image" because i'm not understanding what it is doing ....? can any one explain....

[2016-08-02 22:45] XavierHappyTime commented on #4150
[code]

[2016-08-02 22:50] dwd2010 commented on #4150
@XavierHappyTime, you could go to the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding!

[2016-08-03 00:02] oalhait opened #10056 "Make "Learn how FCC Works" challenge easier to navigate (UX)"
#### Challenge Name

[Learn how Free Code Camp Works](https://www.freecodecamp.com/challenges/learn-how-free-code-camp-works)
#### Issue Description

Going through the 12 slide slideshow is a bit tedious, as you have to keep pressing "Go to my next step" (as opposed to pressing arrow keys to navigate between slides). The image sizes are also not relative to the screen height, so if your window is

[2016-08-03 00:23] olquin commented on #6255
mallikarjun92 you are more than likely forgetting that undefined is a keyword, not a string.

[2016-08-03 00:27] atjonathan commented on #10056
I also think that this challenge could do with some UX improvements. To start, I think all of these challenges should be able to be navigated via the arrow keys. The issue with scrolling is annoying also. The images could probably be made smaller.

cc / @FreeCodeCamp/issue-moderators

[2016-08-03 01:13] QuincyLarson commented on #10056
@atjonathan @oalhait yes - we plan to significantly reduce the length of these. If we used a fixed height for the images and their text, we could eliminate a lot of the variability in height.

I think the most immediate improvement would be to go to the next challenge with the left and right arrows.

[2016-08-03 03:20] oalhait commented on #10056
I'll take on the left/right arrow issue! One question though: where do I find the html/css/js of the specific challenge?

[2016-08-03 05:12] raisedadead commented on #10056
Hi @oalhait thanks for helping out on the UX.

The challenges are now on react infrastructure, most of the views/controllers are in the `/common/app`, challenges are json files that are in the `/seed` directory.

The views are all JSX, styles are LESS

Do look a the [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md)., happy fixing!

And reach o

[2016-08-03 05:18] Bouncey commented on #10048
Tested on the current live beta and code works as expected.

[2016-08-03 05:19] Bouncey commented on #10027
Pulling down now

[2016-08-03 05:43] raisedadead commented on #10027
@Bouncey this is already merged in staging, you just need to sync your staging to test, note that the CSS may not be rendered properly, you would have to trigger a rebuild. Once you start the server via `gulp` hit save on any LESS page, that will recompile the static things

[2016-08-03 05:45] raisedadead commented on #10048
Sweet.

[2016-08-03 05:45] #10048 closed

[2016-08-03 06:01] lokeshtoserve commented on #6143
Hope this will work for you.
function multiplyAll(arr) {
  var product = 1;
  // Only change code below this line
[code]

[2016-08-03 06:02] QuincyLarson commented on #7082
@atjonathan OK - I will record this when I do the HyperDev work in a few days. Added to my todo list :)

[2016-08-03 06:30] QuincyLarson commented on #8418
@evaristoc Thanks for your feedback. We can keep the data science room separate since as you pointed out it's used for a lot of things, and is quite healthy in activity and participants.

I agree with @CarlJKashnier that we should shoot for 15-ish total rooms, which will help all the rooms that remain to be more active. We've purged these rooms several times before, and it's been about a year sinc

[2016-08-03 06:53] iamrudra commented on #10056
@oalhait - BTW - The link in your first description of the issues points to localhost ;)

[2016-08-03 07:00] iamrudra commented on #10017
I can take this one.

[2016-08-03 07:03] shreya22 commented on #10017
hello everybody. m struggling with my first time contribution in opensource. one query.. when we see an open issue, we work towards it. but there may be many more working on the same thing. so, is it like a matter of time, the one submitting fast as soon as its open will be considered first and may win..?
thanks :)

[2016-08-03 07:37] raisedadead commented on #10017
Hi @kaylegh @iamrudra and @kaylegh, thanks for responding, and welcome to contributing to Free Code Camp. Glad to know that you are fired up for taking this up, and making it hard for us to decide :stuck_out_tongue_winking_eye: , so here is what we will do:

Each contributor can **take up just one dependency** that has been confirmed for removal. Comment below who;s gonna take what.

I think @kayl

[2016-08-03 07:43] raisedadead commented on #8418
Agreed. Is there a way we can reach out to Gitter and get a copy of the messages for archiving.

[2016-08-03 08:11] MohammadZahrawi opened #10057 "Change the Font Size of an Element"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20%0A%20%20.font-size%7B%0A%20%20%20%20font-size%3A16px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-tex

[2016-08-03 08:26] Bouncey opened #10058 "[beta]Mongo connection fails in new react version of staging"
#### Issue Description

I'm trying to confirm a fix for #10027 so I have pulled down the new version of staging.

First issue I had was an eslint dependency issue during `npm install`, I cleared this by clearing my `node_modules` folder and running `npm install` again.

Next, I ran gulp, but all that was in `/map` was 'No Superblocks' so I ran `npm run only-once to re-seed the database.
I then sta

[2016-08-03 08:29] Bouncey commented on #10030
Closing as stale, @saraivenegas if you are still having issues that cannot be resolved in gitter chat, please comment here.

[2016-08-03 08:29] #10030 closed

[2016-08-03 08:31] Bouncey commented on #10057
@MohammadZahrawi there is an issue with your code, please read the challenge instructions. If you are still having issues, use the 'Help' button and ask in the dedicated chat room.

Many thanks

[2016-08-03 08:31] #10057 closed

[2016-08-03 09:12] BKinahan commented on #10058
Just updated my `staging` to see if it's caused by some change there (without clearing/reinstalling modules or the other steps above), but didn't have any problems running `gulp` / connecting to the DB / viewing the map with all challenges.

Haven't tried from a fresh start, though, so I won't say 'could not reproduce.'

[2016-08-03 10:07] ThomasBlake commented on #7818
I too am having the same problem with 'Give a Background Colour to a Div Element'. It doesn't allow me to get through to the next challenge
I'm using Google Chrome in Australia, I'll switch to Firefox to see if that works.

[2016-08-03 11:05] raisedadead commented on #10058
Your db should be running on port `27017` not `1270`

[code]

[2016-08-03 12:26] 0b4cL commented on #6062
Why does processed = processArg(7); work? Why does it equal 7?

[2016-08-03 12:28] shreya22 commented on #10017
i am taking this

[2016-08-03 14:08] fuecisla commented on #9641
@akorede12 You did not get it because it is not well explained, at all. It is not intuitive. We are supposed to "Target a Specific Child of **an Element** Using jQuery" so obviously you would be expecting to point to **one element** and then to its child. However the example tells you to:

 if you follow their instructions you are NOT targeting the a specific child (nth-child) of an element (the w

[2016-08-03 14:42] Bouncey commented on #10058
@raisedadead that was a typo in the issue report, I have just confirmed this by running `mongod --port 27017 --dbpath ./data` and still getting the same MongoError

[2016-08-03 14:44] Bouncey commented on #10058
Output from that command
[code]

[2016-08-03 15:13] BKinahan commented on #10058
That looks like standard output for starting up the database, aside from the warnings (which shouldn't affect connections to the database).

[2016-08-03 15:33] Bouncey commented on #10058
@BKinahan It was more just to show I am using the correct port

[2016-08-03 15:45] sunshineaustin commented on #9007
It looks like a bug. When your code is correct, and the Run test does not work, refresh the page and try again.

[2016-08-03 16:48] Harshdand commented on #806
Codemirror doesn't delete the initial code. If any wrappers are used then the issue might be because of them.

[2016-08-03 17:14] #10021 closed

[2016-08-03 17:54] abhishekgar opened #10060 "sir can anybody help me to solve this"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20h2%20%7B%0A%20%20%20%20%3A%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20an

[2016-08-03 17:55] iamrudra commented on #10017
@raisedadead - I will remove - react-toastr, cheerio. You said one but I guess we have 4 to divide between myself and @shreya22. Let me know if you **strictly** want me to take one.

[2016-08-03 17:59] iamrudra commented on #9976
@JuFisch - Are you still on it?

[2016-08-03 18:09] raisedadead commented on #10060
Hi, thanks for reporting, But Github issues are not for coding assistance, please ask your queries in [Help Chat Room](https://gitter.im/FreeCodeCamp/Help).

[2016-08-03 18:09] #10060 closed

[2016-08-03 18:10] markymarc009 commented on #9311
It would seem that this issue still exists, however I copy and pasted what was written here, (which is the same exact thing that I was typing in) and sure enough, I was able to continue.

[2016-08-03 18:11] kaiTEM opened #10061 "bugs"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20h2%20%7B%0A%20%20%20%20color%3A%20blue%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%

[2016-08-03 18:19] sync350 commented on #10017
Well, I'll jump in as well, new to open source contributions as well. I'll take loopback-testing

[2016-08-03 18:24] markymarc009 commented on #7415
$(".target:nth-child(2)").addClass("animated bounce"); is the correct answer, however the compiler would not take my answer initially, that is, I had to press submit three times ( I was frustrated) until it finally took the answer.

[2016-08-03 18:24] abhisekp commented on #10017
[**`npm-check`**](http://npm.im/npm-check) is a nice command line app to automagically :sparkles: report unwanted packages and can be removed easily.

[2016-08-03 18:30] BerkeleyTrue commented on #10017
@abhisekp Yes, that is a great project, but it gives a lot of false positives with applications that dynamically require modules like loopback does.

[2016-08-03 18:30] raisedadead commented on #10017
Hey guys! Thanks a lot for your willingness to contribute, we are glad to hear about your enthusiasm.

Here's what we precisely want to avoid any confusions, but first we want you to understand that we look forward to every one's contribution, the point being, we are not looking for the fastest contributor, but more contributors who actually understand the process.

So, for now among the already i

[2016-08-03 18:32] BerkeleyTrue commented on #8418
@raisedadead I think all those rooms are still indexed by google

[2016-08-03 18:34] dhcodes commented on #9967
I think I corrected this in the above PR by ensuring users can't place nested divs within their `<div class="col-xs-8">` and `<div class="col-xs-4">` divs

[2016-08-03 18:37] raisedadead commented on #9976
Marked as first-timer, @iamrudra you are assigned on one of the issues, lets keep this for some one else?

[2016-08-03 18:42] dhcodes commented on #10061
@kaiTEM Have you pasted the code you tried? I think the code above is from an earlier challenge. The directions state:

but you haven't attempted that in the code above. Can you be more specific about what bug you are experiencing?

[2016-08-03 18:48] iamrudra commented on #9976
@raisedadead - Looking for `help wanted` led me here. It did not have `first-timers-only` when I put that comment. Will resolve the #10017 first and then look for another.

[2016-08-03 18:50] BKinahan commented on #10061
@kaiTEM Please provide more information about the issue you are experiencing.

[2016-08-03 18:56] cflamenco commented on #6112
Clearer instruction would be the best example to manage on how the program would flow.
thanks for the information on how to solve this.

[2016-08-03 18:56] raisedadead commented on #9976
Great! @iamrudra thanks, looking forward to your contribution!

[2016-08-03 18:57] cflamenco commented on #6112
Clearer instruction would be the best example to manage on how the program would flow.
thanks for the information on how to solve this.

[2016-08-03 19:51] greekmedusa commented on #7803
yeah i dont get it either

[2016-08-03 21:05] sachinmour commented on #9979
What is the state of this issue.. should we remove the scrollbar on the middle and enable scrollbar on the right...

[2016-08-03 21:05] BKinahan commented on #10054
Closing this as stale.

@Bisket17 You can reopen the issue if you have more information to add.

Happy coding!

[2016-08-03 21:05] #10054 closed

[2016-08-03 23:46] adriancr7 opened #10065 "placeholder value"
Challenge [Add Placeholder Text to a Text Field](https://www.freecodecamp.com/challenges/add-placeholder-text-to-a-text-field#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-fam

[2016-08-04 00:48] BKinahan commented on #10065
@adriancr7 Your code doesn't pass the tests because you have added a second `input` element rather than adding the `placeholder` attribute to the existing `input` element, but with this corrected the tests would still not pass because of the extra `.` before the closing `>` of the element.

I believe this issue report indicates ambiguous language in the first test case message.
The message:

shoul

[2016-08-04 00:55] satish2107 opened #10066 "can anyone help I dont understand what is wrong in this"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-08-04 00:55] #10066 closed

[2016-08-04 00:56] satish2107 opened #10067 "can any one help me what is wrong in this"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%0A%20%20%20%20%0A%20%20%7D%0A%20%20p%0A%20%20%7B%0A%20%20%20%20font-size%3D16px%3B%0A%20%20%7D%0A%20%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%

[2016-08-04 01:17] erictleung commented on #10067
@satish2107 thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: check if you are using correct CSS syntax in your CSS rule about your `p` tags. Happy coding!

[2016-08-04 01:17] #10067 closed

[2016-08-04 01:48] iamrudra commented on #10017
@raisedadead - I really love the spirit here - Divide the trivial task among first timers to motivate them and get a rub of how open source works. I must say FCC is one of the best communities that I've seen.

[2016-08-04 02:10] g1na1011 commented on #10065
As a first timer on any open source projects, I would like to take a stab at this fix. Thanks @BKinahan for the guidance.

[2016-08-04 02:38] iamrudra opened #10068 "Information on contributor's guide is slightly off"
#### Contributor's guide

https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md#getting-started

#### Issue Description

The guide says app runs at localhost:3001 but I tried it today and it runs at localhost:3000

#### Browser Information

* Browser Name, Version: Chrome, 52.0.2743.82 (64-bit)
* Operating System: Ubuntu 16.04

#### Your Code

[code]

#### Screenshot

![image](

[2016-08-04 02:54] QuincyLarson opened #10069 "Download all Gitter data for open dataset"
We are planning to delete all the inactive Gitter rooms. Before we do, we need to make a full dump of all activity in those Gitter rooms, which we can then release as an open dataset.

[2016-08-04 02:54] QuincyLarson commented on #8418
@BerkeleyTrue @raisedadead those rooms are archived by Google, but they will cease to show up in search results after we remove them. I've created an issue to coordinate the download and open data release of the full dataset: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/10069

[2016-08-04 03:13] iamrudra commented on #10017
- [ ] First PR towards FCC :smiley:

[2016-08-04 03:14] dwd2010 commented on #10066
@satish2107
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding!

[2016-08-04 03:15] iamrudra commented on #10069
@QuincyLarson - I haven't worked with Gitter ever - Any pointers on how can this be done? That will give me a head start in evaluating the level of effort and let you know if I can take this up.

[2016-08-04 03:16] dwd2010 commented on #10061
well, that code is incorrect.  but we could wait for their respond.

[2016-08-04 03:24] rickcrochet opened #10072 "Can someone help?? I've followed the instructions exactly, what I don't understand is if we're only targeting "#target1" using selectors '$("button")' & '$(".btn")' we're targeting all buttons..."
Challenge [Target the same element with multiple jQuery Selectors](https://www.freecodecamp.com/challenges/target-the-same-element-with-multiple-jquery-selectors#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22button%22).addclass(%22animated%22)%3B%0A%20%20%20%20%24(%22.btn%22).addclass(%22shake%22)%3B%0A%20%20%20%20%24(%22%23target1%22).addclass(%22btn-primary

[2016-08-04 03:58] kungule opened #10073 "I'm stuck"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-08-04 03:59] #10073 closed

[2016-08-04 04:11] oalhait commented on #10056
@raisedadead thanks for the tips, I'm on it now!
and @iamrudra HAHAHA oops, was viewing on my local instance

[2016-08-04 04:13] qmikew1 commented on #10072
methods are case sensitive. ```.addclass``` should be ```.addClass``` [help](https://gitter.im/FreeCodeCamp/Help) is a great place for questions like this

[2016-08-04 04:18] erictleung commented on #10072
@rickcrochet thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). What @qmikew1 has suggested is correct. Happy coding!

[2016-08-04 04:18] #10072 closed

[2016-08-04 04:20] rickcrochet commented on #10072
I've tried it several times, making sure code was acurate... there must be another problem

[2016-08-04 04:22] rickcrochet commented on #10072
@erictleung Sorry about that but no one was answering me in the help room

[2016-08-04 04:26] erictleung commented on #10072
@rickcrochet no worries. Yeah, sometimes the Help Rooms are pretty busy and getting help is difficult. Please be patient. There are many people in there that are willing to help. You can always tag me there and I get help you out when I can 😄

[2016-08-04 05:27] QuincyLarson commented on #10069
@iamrudra we will need to talk with the Gitter team first. I will post additional details as soon as I have them.

[2016-08-04 05:34] cflamenco commented on #6657
hi can anybody help me with this problem I encounter?

what would be the proper way to solve this.
thank you

![js](https://cloud.githubusercontent.com/assets/20765708/17391384/2874504c-5a48-11e6-8bb9-35ea797ce689.png)

[2016-08-04 05:40] oalhait commented on #10068
I just tested this, and it works if you run http://localhost:3000 or 3001. However, on 3001, you get on interesting toast message on page load in the top right corner:

<img width="196" alt="screen shot 2016-08-03 at 10 37 31 pm" src="https://cloud.githubusercontent.com/assets/5378470/17391450/12aaa356-59cb-11e6-8607-b961cea73449.png">
no clue what BrowserSync is, but I'm sure someone else can exp

[2016-08-04 05:42] iamrudra commented on #10069
@QuincyLarson - Sure. Update it on the thread once you have the info! :+1:

[2016-08-04 06:06] iamrudra commented on #10068
@oalhait - For some reason (i haven't looked deeper) I cannot get it to run on `3001`

[2016-08-04 06:12] #10065 closed

[2016-08-04 06:24] raisedadead commented on #10068
Hey guys, yes it will run at both the ports.
The node server runs at 3000 and the [BrowserSync](https://www.browsersync.io) proxies it at 3001

You could connect to either, on 3000 you would just hit refresh once you edit some code in the editor.
Thanks for reporting but the Guide intends not to have them both mentioned to avoid confusion

Thanks and happy fixing!

P.S : Please head out to the Con

[2016-08-04 06:24] #10068 closed

[2016-08-04 06:35] FatKoala opened #10074 "Exact Change Problem Issue"
#### Challenge Name

https://www.freecodecamp.com/challenges/exact-change

#### Issue Description

I had problem with this problem due to inaccurate calculations while working with "0.01" value. Sometimes returning value of calculation had wrong value after 7 or 8 decimal places (for example 1.01 - 0.01 = 0.999999996).
Did anyone else had similar problem?
I managed to solve it but still took me a

[2016-08-04 06:48] iamrudra commented on #7085
Where are we on this?

[2016-08-04 06:49] Rlin415 commented on #9976
@raisedadead Could I take this one if @JuFisch is not on it anymore?

[2016-08-04 06:54] abhisekp commented on #8418
Till the rooms are deleted, also a Welcome message can be added in those rooms, (optionally) remove everyone from the room; so that when someone joins, it should show the welcome message.

This gitter API endpoint to add welcome message

[code]

[2016-08-04 07:33] abhisekp commented on #8418
@QuincyLarson I suggest to keep the project rooms e.g. **CamperBot** room separate as it is a different project (*although part of FreeCodeCamp*).

[2016-08-04 07:44] jeffersonnnn opened #10075 "My FCC challenges have started all the way from the beginning. Also, my FCC appears in mobile format"
#### Challenge Name

freecodecamp.com/jeffersonnnn

#### Issue Description

Now, i upgraded my laptop from Windows & to Windows 10 the day before. I use Chrome so i went ahead to download and sign in to chrome browser to access my FCC page. Worryingly, i can't seem to start from where i stopped in my challenges even though my profile acknowleges that i have gone above and beyond that place

Also,

[2016-08-04 08:26] qmikew1 commented on #10075
Seems to be some compound issues going (imo more hardware related but I'll leave that to a mod).
1. When you upgraded from (presumably from win 7), it's possible that your local cache was cleared. (but as you've discovered you can access your solution from profile (that's normal in terms of cache btw).
2. The browser view. That newer chrome release based on some comments in forums etc., has had so

[2016-08-04 09:10] Bouncey commented on #10058
Running mongod as `sudo` (suggested in so) does not change the error

[2016-08-04 09:20] Bouncey opened #10076 "Deploying api project 'URL Shortener' to Hyperdev in the format of the current example does not work"
#### Challenge Name

[Backend API Projects - URL Shortener](https://www.freecodecamp.com/challenges/url-shortener-microservice)

#### Issue Description

[My URL Shortener](https://cat-swoop.hyperdev.space)

When appending a URL to the apps address, Hyperdev replaces `//` with `/` in the request, so the regex does not match a valid URL and returns an error to the user.

I have opened a question on

[2016-08-04 10:16] BKinahan commented on #10074
Hi, @FatKoala. You can read all about floating point arithmetic (and good ways to handle it) [here](http://floating-point-gui.de/) and other places online.

And a fun fact: JavaScript doesn't make a type distinction between floats and integers. `1` and `1.00000` are the same number in JS (though this isn't strictly the cause of the floating point precision errors you experienced).

It might be wor

[2016-08-04 10:39] jeffersonnnn commented on #10075
oh thank you for being swift with a reply.
1. Indeed, i upgraded from win 7, so yeah.
2. I hope that this new feature(s) is not here to stay.
a. I run with a core2duo on HP Pavilion dv6000; under win 7, i had the desktop version.
b. I have, i get the same mobile view.
c. No other site renders in mobile view with this new chrome and/or windows 10. it seems site-specific.

[2016-08-04 10:44] yeongren commented on #758
@QuincyLarson
Thanks. Looking forward to the replacement curriculum.

[2016-08-04 10:52] raisedadead commented on #9976
Unless, anyone has made a pull request, it's considered not claimed, @Rlin415 please go ahead.

[2016-08-04 10:58] raisedadead commented on #10074
Yeah this is a very interesting topic and should be broached IMHO.

In JavaScript there is just on numeric Data type that is `number` and it's usually a 64 bit floating point (considering how Browsers (JS Engines to be precise) are implementing them).

Let's tag this as Help wanted for some one in the community to link up a good resource. I'll try and look up as well, but yeah it's better if it co

[2016-08-04 11:13] FatKoala commented on #10074
Thanks for the link, it was helpful... got really frustrated about problem while I was coding... now it has sense... I agree that it should be linked somewhere or explained earlier that those things happen...

[2016-08-04 11:14] jeffersonnnn commented on #10075
Help needed!

[2016-08-04 11:29] raisedadead commented on #10075
@jeffersonnnn thanks for reporting.

Luckily I am on a Windows 10, so I am all in to help resolve this. But meanwhile we request your patience, this being an isolated case for now atleast.

Just consolidating the scenario:
- [ ] Windows 10 , Chrome Version 52.0.2743.116 m
- [ ] Issue is also on all other browsers (including Edge)
- [ ] Machine is a Core 2 Duo, HP Pavilion DV 6000
- [ ] Issue wasn'

[2016-08-04 11:33] raisedadead commented on #10076
@Bouncey: @Em-Ant is working on the prototypes for these HyperDev challenges. Perhaps he is the best person to reach out to.

[2016-08-04 11:35] billzz17 opened #10077 "help me"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B

[2016-08-04 11:46] qmikew1 commented on #10077
If a page is using internal styling (like the one in the example) - There should only be a single style section (and whatever new classes are requested by instruction should go in the existing section) Also, when you create a named css class you have to, also, reference it in an html element. You might want to move your question over to [Help Room](https://gitter.im/FreeCodeCamp/Help) because this

[2016-08-04 11:48] BKinahan commented on #10077
As @qmikew1 said, issues are for reporting bugs or problems with the challenges or website, and you should visit the [Help chat](https://gitter.im/FreeCodeCamp/Help) for help with writing code or understanding challenges.

Happy coding!

[2016-08-04 11:48] #10077 closed

[2016-08-04 11:56] HQuser opened #10078 "Mouse cursor blinking disappears when it reaches a link inside <a href=>"
Challenge [Quoting Strings with Single Quotes](https://www.freecodecamp.com/challenges/quoting-strings-with-single-quotes#?solution=%0Avar%20myStr%20%3D%20''%3Ca%20href%3D%22http%3A%2F%2Fwww.example.com%5C%22%20target%3D%5C%22_blank%5C%22%3ELink%3C%2Fa%3E'%3B%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.10

[2016-08-04 11:59] jeffersonnnn commented on #10075
@raisedadead thank you!

All the above information remain true.

1.
Edition                                  Windows 10 Enterprise
Product ID                            00329-00000-00003-AA172
Processor                              Intel(R) core(TM)2 CPU        T5600 @ 1.83 GHz GHz
Installed RAM                        2.00 GB
System type                           32-bit operating system, x64-based

[2016-08-04 12:11] raisedadead commented on #10075
I just see two things with the second being a problem mostly:

While it's not necessary, your processor does support a 64 bit OS, why not have Windows 10 64 bit? You don't have to answer this, and again this is not required as well.

[2016-08-04 12:15] qmikew1 commented on #10075
The model specs suggests 1280x800 was the base - Almost guaranteed a driver or settings issue

[2016-08-04 12:33] BKinahan commented on #10078
That's unusual. I'm not able to reproduce it with your code. Try refreshing the page, and if you still have the issue, see if it persists when the correct code is used, and then report back in this thread with this further information 😄

If you need assistance writing the correct code, please visit the [Help chat](https://gitter.im/FreeCodeCamp/Help).