[2017-01-28 17:53] RoniqueRicketts opened #12941 "Missing Challenges"
#### Challenge Name

#### Issue Description
Open Map and go to the Basic Algorithm Scripting.
Api and Microservices Project first challenge is also missing

#### Browser Information

* Browser Name, Version:  55.0.2883.87 m
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

![one](https://cloud.githubusercontent.com/assets/17409035/22398545/b841e3ce-e558-11e6-837c-bf25ac7bc816.j

[2017-01-28 18:12] RoniqueRicketts commented on #12927
I have the same issues.

[2017-01-28 18:16] 13ck015405 commented on #7853
getting this error...Missing required request header. Must specify one of: origin,x-requested-with

[2017-01-28 18:35] BrendanSweeny commented on #12698
I am working on reformatting, re-titling (where needed), and fixing grammatical errors in the first four challenges for this section ("Problems with the var keyword" through "An Immutable Object a const does not make"). For now, I will focus on reformatting the instructions to conform with the style of the previous section, Basic Javascript. If there is a fix for the regex test issue, I may be abl

[2017-01-28 18:59] qkoots commented on #12385
Hello, I would like an explanation about this challenge. If you take a look at the  accelerate property of the example, you can see that  it is using the  "+=" to add to change the value of the speed variable.  However when I do this same with my "setGear" property, It does't pass the challenge. The only way it will pass the test is by removing the  "+".. Can you please explain why it doesn't work

[2017-01-28 19:01] #12629 closed

[2017-01-28 19:01] #12693 closed

[2017-01-28 19:22] robbawebba commented on #12385
Hi @qkoots, thank you for your report. I'll message you on gitter to explain the challenge a bit more. Please keep in mind that the GitHub issue tracker is for bugs only. If you need more help with the challenges, please use the chat rooms:

[JavaScript help chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript)
[Other Official Rooms](https://forum.freecodecamp.com/t/free-code-camp-official-cha

[2017-01-28 19:59] HKuz commented on #12698
Awesome, thanks so much @BrendanSweeny! Don't worry about the tests - we can get formatting fixes done in the first round of edits and tests later. I can update the original post to separate them if they're outstanding.

[2017-01-28 20:11] Manish-Giri commented on #12939
@than2042 The default code for the challenge starts out with the class name `"dodger-blue-text"`.  Why did you change it to `"dodgerblue-text"`?

[2017-01-28 20:16] Hapoofesgeli opened #12942 "Inline styling is not different than CSS"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements) has an issue.

According to the description, inline styling is defined as a separate thing than CSS. But in reality inline styling is actually a source of CSS having the second priority.

[2017-01-28 20:16] Manish-Giri commented on #12938
@chaturanga836 Please read the instruction -

Instead, your `getGear` sets a value, and `setGear` returns a value.

Please visit the [HelpJS Room](https://gitter.im/FreeCodeCamp/HelpJavaScript) if you need help with the challenge.

[2017-01-28 20:17] WADALBAHAR opened #12943 "<label><input type="checkbox" name="pesonality"> crazy</label>......this is the code I put in and it still won't let me pass."
Challenge [Create a Set of Checkboxes](https://www.freecodecamp.com/challenges/create-a-set-of-checkboxes#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%

[2017-01-28 20:19] Manish-Giri commented on #12943
@WADALBAHAR Your code has a typo - `name= "pesonality"`.

Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) first if you need help with these challenges. Happy Coding!

[2017-01-28 20:43] flemm2016an commented on #3583
this worked form... I tried each way that seemed logical and the only one that worked for me was this one.

  $(document).ready(function() {
      $("button").addClass("animated");
      $(".btn").addClass("shake");
      $("#target1").addClass("btn-primary");

[2017-01-28 21:05] Greenheart commented on #12913
@robbawebba I peeked inside `fcc-test-frame`, the `iframe` context where tests are run on the challenge pages yesterday. I didn't find anything but I surely can have missed something.

I think we need @BerkeleyTrue's thoughts on this

[2017-01-28 21:11] than2042 commented on #12939
thank you. A bit challenge.

Thank you very much.

On Sat, Jan 28, 2017 at 8:13 PM, Manish Giri <notifications@github.com>
wrote:

[2017-01-28 21:13] Greenheart commented on #12942
@Hapoofesgeli Good point! I agree that this instruction could be further improved.

We're currently in the process of revamping and expanding the curriculum over at https://beta.freecodecamp.com and I know that this challenge has been updated. I'm just unsure of how.

@HKuz Do you know if this improvement have been considered for the new update? :blush:

[2017-01-28 21:21] Greenheart commented on #12941
@RoniqueRicketts Thanks for reporting!

Looking at the source for the links, there's no content in the second expanded `p.challenge-title > a > span` and empty links without content are not rendered.

![missing-link](https://cloud.githubusercontent.com/assets/6125097/22399908/ad7ff44a-e5a7-11e6-8851-565f4c87880a.png)

I guess this problem is caused by some faulty data used to generate this link. I

[2017-01-28 21:38] #4250 closed

[2017-01-28 21:48] systimotic commented on #12733
Possibly related: #11198

[2017-01-28 22:09] sdiscul4 commented on #6277
here is the correct answer

function golfScore(par, strokes) {
  // Only change code below this line
  if (strokes == 1)
    return "Hole-in-one!";
  else if (strokes <= (par - 2))
    return "Eagle";
  else if (strokes == (par - 1))
    return "Birdie";
  else if (strokes == par)
    return "Par";
  else if (strokes == (par + 1))
    return "Bogey";
  else if (strokes == (par + 2))
    return "Do

[2017-01-28 22:09] sdiscul4 commented on #6277
happy coding

[2017-01-28 23:06] Greenheart commented on #12940
@lyrakisk Thanks for reporting this!

I believe this is intentional by design, to make it easier to use on touch-devices. By dragging left or right you essentially choose your answer.

Technically, this could be clarified either by some instruction, or preferably, by adding arrow icons or swipe-animations to this component. However, I'm not sure it's necessary at the moment.

@freeCodeCamp/moderat

[2017-01-28 23:09] Greenheart commented on #12939
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-01-28 23:09] #12939 closed

[2017-01-28 23:11] Greenheart commented on #12938
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-01-28 23:11] #12938 closed

[2017-01-28 23:12] Greenheart commented on #12943
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-01-28 23:12] #12943 closed

[2017-01-29 00:15] leonfeng commented on #12816
OK, I can reproduce the issue now. However, I'm beginning to think this might be a feature instead of a bug. It looks like @BerkeleyTrue disabled height updating for beta mode in this commit: https://github.com/freeCodeCamp/freeCodeCamp/commit/e173463cdb6362441a409b354479ffd42985aeaf. Or am I mistaken?

[2017-01-29 04:06] NealSavage commented on #12874
Yeah, I agree with the person. I could tell that I needed to get the class in, but was confused because I already had the SRC in there. I managed to get it, but only after spending 15 minutes trying various ways and then finally finding this thread and implementing what they did. It should really tell us how to break it apart so that I can have both an SRC and a class because I had no clue.

[2017-01-29 05:20] no-stack-dub-sack commented on #12837
@QuincyLarson @raisedadead sorry, I missed this until now, been finding it a tad tricky to keep up with all the notifications!

Yes, this was a good catch, and @weezlo and I had been discussing a way to keep the test suite CSS from polluting the project CSS and vise versa, and I can certainly make it a bit higher priority now that they are in much more frequent use. Also, saw @thomlom's PR on the

[2017-01-29 05:52] RomingArt commented on #12894
Hello everyone, thank you for your feedback, but I am still not able to pass this section, and I tried the code of @HasanFaraaz but it still does not let me pass.

[2017-01-29 08:43] #12661 closed

[2017-01-29 08:46] #12722 closed

[2017-01-29 10:58] hackbook001 opened #12948 "Not working"
Challenge [Use Conditional Logic with If Statements](https://www.freecodecamp.com/challenges/use-conditional-logic-with-if-statements#?solution=%0A%2F%2F%20Example%0Afunction%20ourTrueOrFalse(isItTrue)%20%7B%0A%20%20if%20(isItTrue)%20%7B%20%0A%20%20%20%20return%20%22Yes%2C%20it's%20true%22%3B%0A%20%20%7D%0A%20%20return%20%22No%2C%20it's%20false%22%3B%0A%7D%0A%0A%2F%2F%20Setup%0Afunction%20trueOrFa

[2017-01-29 11:25] OFFLlNE commented on #12948
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-01-29 11:25] #12948 closed

[2017-01-29 11:31] erictleung commented on #12841
My rendition of the new hours and certifications page. I couldn't figure out what the original font was so I used the Roboto font.

![update-hours-fcc](https://cloud.githubusercontent.com/assets/2754821/22403654/04e18174-e5d3-11e6-89ca-228db1462feb.png)

[2017-01-29 11:40] hackbook001 commented on #12948
Help me out in my code

On Jan 29, 2017 4:57 PM, "Lauri" <notifications@github.com> wrote:

[2017-01-29 12:28] cdrainxv opened #12949 "[beta] test conflicts with challenge requirement."
Challenge [add-labels-to-scatter-plot-circles](http://beta.freecodecamp.com/en/challenges/data-visualization-with-d3/add-labels-to-scatter-plot-circles) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if po

[2017-01-29 13:01] erictleung commented on #12757
I've slowly started checking the formatting of the text in the challenges I've written. I haven't started doing functionality testing by testing if the tests and solutions work.

[2017-01-29 13:07] erictleung commented on #12949
@cdrainxv thanks for the issue. I think what the tests are saying is that "34, 78" is merely *indicating* x- and y-values respectively, not actual x- and y-values. But then again, this does seem confusing.

I would be for changing all the tests to reflect their actual x and y coordinates. So the second tests should be changed to

cc/ @freeCodeCamp/moderators

[2017-01-29 13:14] erictleung commented on #12806
@Undigon I agree with @no-stack-dub-sack. If you read the text that accompanies the challenge, it mentions you are looking at an array. JSON is mentioned because of the similarities between JavaScript objects. But I can see an argument of how it could be distracting.

[2017-01-29 13:53] benjaminspak commented on #12826
If you're teaching someone to code, telling them how to assign a variable in one exercise, and then later in the exercise presenting unclear terms telling them to assign a set of variables that makes no logical sense to a newbie your teaching style is at fault, not the newbie's understanding of the instructions. Please rethink the instructions.

[2017-01-29 14:21] HKuz commented on #12933
For anyone wanting to make this fix, please check out the [Contributor's Guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) to get set up. Feel free to ask any questions in the [Contributors chat room](https://gitter.im/FreeCodeCamp/Contributors). You can find the code to make this edit [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/

[2017-01-29 14:24] cdrainxv commented on #12949
Yes, the `"34, 78"` does indicate the text for the label of the first circle based on the dataset array, but the actual x-value to which I was alluding (and hopefully the challenge requirements was as well) was the x-coordinate for the _positioning_ of the text element. An x-value of 39 for the text element x attribute would place the label `"34, 78"` 5 units to the right of the circle data points

[2017-01-29 14:41] HKuz commented on #12942
@Hapoofesgeli that is a good point. There have been some recent changes in this section over on the Beta site since the CSS challenges were split from the HTML ones, but the text you point out wasn't modified. There's also a new introduction slide, that makes the point that CSS is applied with both inline styles or external style sheets.

I think this can be changed slightly:

What do folks think

[2017-01-29 15:59] Greenheart commented on #12942
@HKuz I like the suggestion!

[2017-01-29 16:07] tommygebru commented on #12841
@erictleung the freeCodeCamp Style Guide https://freecodecamp.github.io/design-style-guide/
It shows that Lato is the de facto font-style for FCC

[2017-01-29 16:10] padulam commented on #12933
@HKuz I'd like to take this one on.

[2017-01-29 16:41] #12630 closed

[2017-01-29 17:06] tommygebru opened #12952 "[beta][UI][UX] the modal for "completed challenges""
[beta] the modal for "completed challenges"

Also needs a Night Mode "refresh", should be more vibrant, the pop-up window needs to differentiate itself form the html page

Without Modal:
![screen shot 2017-01-29 at 9 06 10 am](https://cloud.githubusercontent.com/assets/7606025/22406152/3bc57130-e602-11e6-9a3b-e8bd8a2d9065.png)

With Modal:
![screen shot 2017-01-29 at 9 05 56 am](https://cloud.gith

[2017-01-29 17:09] HKuz commented on #12933
Great, thanks @padulam!! 👍 💯

[2017-01-29 17:11] tommygebru commented on #12941
[CLOSED]
Duplicate issues:
 #12919
 #12842

[2017-01-29 17:14] Hapoofesgeli commented on #12942
@HKuz The change sounds totally fine.

I've actually started to follow the beta site to both use the new materials and help testing if possible, tough I couldn't find much info about it, whether it's just a playground or an actual beta release.

[2017-01-29 17:38] tommygebru opened #12953 "[beta][UI][UX] Night Mode example"
Current:
![screen shot 2017-01-29 at 9 19 16 am](https://cloud.githubusercontent.com/assets/7606025/22406334/7c35ed54-e606-11e6-9be2-819c35d05949.png)
Night Mode refresh:
![screen shot 2017-01-29 at 9 24 44 am](https://cloud.githubusercontent.com/assets/7606025/22406340/917ec69a-e606-11e6-924d-beff806ad9e5.png)

Current:
![screen shot 2017-01-29 at 9 06 10 am](https://cloud.githubusercontent.com/a

[2017-01-29 18:04] tommygebru commented on #12952
Example for a refreshed Night Mode version for the modal:
![screen shot 2017-01-29 at 10 03 54 am](https://cloud.githubusercontent.com/assets/7606025/22406594/61bef1d8-e60a-11e6-8d38-cae25bf9367e.png)

[2017-01-29 18:05] ratracegrad opened #12954 "width is being converted to floating point"
Challenge [adjust-the-width-of-an-element-using-the-width-property](https://beta.freecodecamp.com/en/challenges/applied-visual-design/adjust-the-width-of-an-element-using-the-width-property) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.76 Safari/537.36</code>.
Please describe how to reproduce this issue,

[2017-01-29 18:15] Greenheart commented on #12942
@Hapoofesgeli It's a beta version of freeCodeCamp, running on similar infrastructure as the production-site to help us test new features and curriculum-updates.

Feel free to hunt some bugs and report them here as usual! You can also drop by https://gitter.im/FreeCodeCamp/Contributors if you want to hang out with other contributors :blush:

[2017-01-29 18:26] HKuz commented on #12942
@Hapoofesgeli - here's a link to the [Forum post about the beta release](https://forum.freecodecamp.com/t/our-expanded-curriculum-is-now-live-on-beta-freecodecamp-com-and-we-need-your-help-qaing-it/78844) if you're interested. And any help with QA and testing is hugely appreciated!

As for contributing, would you like to make the change we suggested above on `staging`?

@Greenheart - what should w

[2017-01-29 18:33] Greenheart commented on #12942
@HKuz This is exactly why I generally don't like translations, but prefer to stick to English (even for projects with Swedes like myself... :smile) - they get outdated so easily and doubles or triples the efforts required to do "full / proper" updates to the content.

I'd say we focus on the languages we know. If there's a need for translations, I think contributors will help out.

[2017-01-29 18:43] tommygebru opened #12955 "Solution for High-Contrast mode request"
I am using a brilliant Chrome extension, offered by Google Accessibility

High-Contrast:
https://chrome.google.com/webstore/detail/high-contrast/djcfdncoelnlbldjfhinnjlhdjlikmph?hl=en

It offers many native color schemes, and even helps with designing a color pallete for freeCodeCamps Night Mode to maximize visibility of the pages contents, windows, tooltips, and editor.

The following images are

[2017-01-29 18:56] BrendanSweeny commented on #12698
Progress update: I have created a pull request with my proposed changes to the formatting for the first four challenges. Again, the tests for challenges 3 and 4 still need attention.

PR: #12956

[2017-01-29 18:59] HKuz commented on #12949
@cdrainxv - yes, good catch on that test! The x-value used to position the text should be 39, not 34 and @erictleung your suggestion will fix this test message. I just went through the other tests and it looks like they are using the correct numbers, so I think it's just this second test that needs to be fixed.

[2017-01-29 19:12] no-stack-dub-sack commented on #12952
@tommygebru Not sure exactly what you mean... are you suggesting the night mode modal should look like the photo directly above? ☝️

The issue with that, is it is too bright, and does not really fit with the night mode theme. In fact, this was very recently changed from exactly this to what it is now: #12558 / #12556

[2017-01-29 19:20] no-stack-dub-sack commented on #12894
@RomingArt, if you copied @HasanFaraaz's solution exactly, the code will not pass because there is an issue with his comment. As I can see, there is still not a bug with this challenge. Did my explanation not help any?

[2017-01-29 19:26] HasanFaraaz commented on #12894
@RomingArt I have edited the code now, i had put a comment which I thought would be ignored(the comment was made bold & italic) now it should be fine. @no-stack-dub-sack

[2017-01-29 19:28] no-stack-dub-sack commented on #12894
@HasanFaraaz Within code blocks on github, markdown does not work, so the bold and italic didn't come through, instead just the literal markdown:
[code]

[2017-01-29 19:32] #12894 closed

[2017-01-29 19:37] Hapoofesgeli commented on #12942
@HKuz Just tried to quickly do so, pardon me if anything is done wrong, barely familiar with the project's structure.

[2017-01-29 19:42] no-stack-dub-sack commented on #12893
@ajain17 interesting, I didn't verify it in the code, but I refreshed the page of bunch of times and still got what my screenshot shows in m above post.

[2017-01-29 20:09] HKuz commented on #12942
@Hapoofesgeli - check out the [Contributor's guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) - there's a lot in there, but it walks through all the steps to get set up locally, name your branch, and open a PR. If you have questions, check out the [Contributors chat room](https://gitter.im/FreeCodeCamp/Contributors) that @Greenheart posted above. Thank you! 🎉

@Gre

[2017-01-29 20:15] Hapoofesgeli commented on #12942
@HKuz I surely have checked that :)
Though not enough time for setting things up locally, just made a change and PR via GitHub targeting staging, anything specific that isn't done correctly?

[2017-01-29 20:46] kojoawesome opened #12959 "picture resizing"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2017-01-29 20:47] #12865 closed

[2017-01-29 20:48] kojoawesome commented on #12959
do you think there is a problem with my picture

[2017-01-29 20:50] #12942 closed

[2017-01-29 20:55] #12933 closed

[2017-01-29 21:17] Manish-Giri commented on #12949
Can I take this up?

[2017-01-29 21:20] #12838 closed

[2017-01-29 21:39] erictleung commented on #12949
@Manish-Giri go for it!

[2017-01-29 21:41] erictleung commented on #12959
@kojoawesome Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/fre

[2017-01-29 21:41] #12959 closed

[2017-01-29 21:42] KaliiiIT commented on #1165
It fixed for me to. But thats soo stupid why does it have to be in that order.It fucked up alot of shit for me.  I didnt know what to do

[2017-01-29 21:43] masters-george commented on #12857
<style>
    h2 {
      color: blue;
    }
  </style>

<h2>CatPhotoApp</h2>
<main>
  <p>Click here to view more <a href="#">cat photos</a>.</p>

  <a href="#"><img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back."></a>

  <div>
    <p>Things cats love:</p>
    <ul>
      <li>cat nip</li>
      <li>laser pointers</li>
      <li>lasagna</li>
    </ul>
    <p>Top 3 thing

[2017-01-29 21:56] erictleung commented on #12954
@ratracegrad I can verify that this causes an issue on Firefox. This runs just fine on Chrome. How were you able to verify the floating point number?

[2017-01-29 21:59] no-stack-dub-sack commented on #12852
@systimotic I agree that for now we should just leave this as is. Seems minor to me and I think the current design works ok.

[2017-01-29 22:00] masters-george opened #12960 "beta-course Intro to CSS not marked complete on map (no dimming of text in map)"
The beta version of the course does not mark the Introduction to Basic CSS complete after going through it. I can reproduce this behavior on Linus and Windows systems using Chrome, Firefox, and Opera. I am on current versions of all three of these browsers.

![clipboard01](https://cloud.githubusercontent.com/assets/24727860/22408253/426da63c-e62b-11e6-8815-9cf4c82b30b5.jpg)

[2017-01-29 22:01] ratracegrad commented on #12954
I am using Chrome and it did not work for me. I did try Firefox before reporting issue and had the same problem with it too.
I verified that it was a floating point number by opening up the developer console and entering:
$('.fullCard').css('width')
and this returned "244.98295020214843px". This will of course make the test assert fail which is the problem I am encountering.

[2017-01-29 22:02] no-stack-dub-sack commented on #12472
@raisedadead I've been holding off on this task for a while, since there are SOOOOO many changes going on in the seed files right now... not sure when a good time to do this would be. I'm afraid it would cause merge conflicts with open PRs, etc.

[2017-01-29 22:09] masters-george commented on #12677
Problem is also reproducible in Chrome, and Opera on Windows and Linux machines. See attached screen shot for an example.

![clipboard02](https://cloud.githubusercontent.com/assets/24727860/22408362/88dd54a4-e62c-11e6-9a4e-25c91cd99280.jpg)

[2017-01-29 22:31] systimotic commented on #12677
@masters-george Can you share a screenshot of the test not passing in Chrome? The shared screenshot shows Firefox, which we know is broken (see #10749). It would also be helpful to see which tests exactly aren't passing, with what code.
Thanks for trying out the beta and reporting bugs!

[2017-01-29 22:33] systimotic commented on #12852
@tommygebru What do you think?

[2017-01-29 22:33] no-stack-dub-sack commented on #12792
@HKuz @systimotic @QuincyLarson ok, cool! I'll give this a try then, and see what I can come up. No promises I'll be able to do it, but I'll keep you guys posted here

[2017-01-29 23:20] Ririnrinasty opened #12961 "myFreeCode"
Challenge [Build a Tribute Page](https://www.freecodecamp.com/challenges/build-a-tribute-page) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[2017-01-29 23:21] Ririnrinasty opened #12962 "Webpage"
Challenge [Build a Personal Portfolio Webpage](https://www.freecodecamp.com/challenges/build-a-personal-portfolio-webpage) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[2017-01-29 23:54] tommygebru commented on #12952
@no-stack-dub-sack Here is one that looks nice i think 👍

![screen shot 2017-01-29 at 3 40 49 pm](https://cloud.githubusercontent.com/assets/7606025/22409224/25d72498-e63b-11e6-8ab2-72a940c91def.png)

[2017-01-30 00:14] masters-george commented on #12677
Hi Timo,

Thanks for getting back to me. I just ran some tests at our public library
using their windows computers with chrome. Chrome on Windows7 is OK. I am
suspecting the issue is with Chrome on Linux. I'll run some further tests
tonight. This new course is pedagogically improved over the production
course.

On Jan 29, 2017 2:33 PM, "Timo" <notifications@github.com> wrote:

@masters-george <htt

[2017-01-30 00:35] no-stack-dub-sack commented on #12961
Hi @Ririnrinasty, I'm not seeing any description here, can you please explain what the issue you are having is? Thanks!

[2017-01-30 00:35] no-stack-dub-sack commented on #12962
@Ririnrinasty same thing here, can you please describe the issue you are having? Thanks!

[2017-01-30 00:39] no-stack-dub-sack commented on #12952
@tommygebru hmmm, let's ask some other folks what they think. I'm ok with going with whatever everyone seems to think is the right move. I think the white check looks nice, but the purpley-grey does not seem to match any of the other nightmode colors...

@systimotic you were one of the reviewers for the above mentioned PR that changed the style of the  nightmode modal to what it currently is - wha

[2017-01-30 01:08] tommygebru commented on #12952
@no-stack-dub-sack

If you are curious about the background change, it would make more sense if you checkout #12953

also I put in a PR for the design-style-guide here to reflect the more "vibrant" night mode
https://github.com/freeCodeCamp/design-style-guide/pull/14

I think that this night mode will be more engaging to the campers

as far as a high-contrast color pallete, I believe the best solu

[2017-01-30 01:12] masters-george commented on #12687
<style>
  h4 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
  .links {
    margin-right: 20px;
    text-align: left;
  }
  .fullCard {
    width: 245px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
  }
  .cardContent {
    padding: 10px;
  }
</style>
<div class="fullCard">
  <div class="cardContent">
    <div class="cardText">

[2017-01-30 01:22] no-stack-dub-sack commented on #12952
@tommygebru Cool, yeah, I just checked out #12953 and I'm not sure I would prefer these colors. However, I'm not a designer or a pro UX guy by any means, so once some other opinions get registered, we can see where it goes!

[2017-01-30 01:49] erictleung commented on #12954
@ratracegrad thanks for the information. This issue appears to be a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/12687. So I'll be closing this issue in favor of that one. Happy coding!

[2017-01-30 01:49] #12954 closed

[2017-01-30 01:53] masters-george opened #12964 "[beta] More of a pedagogical issue."
The hover state should be introduced (typically when discussing how to style links) then extend to other elements such as paragraphs, ids, and classes. Doing so is pedagogically more sound and makes the course easier to follow.

[2017-01-30 02:32] Taydenswin opened #12965 "Closing tag bug!!"
Challenge [Create a Custom Heading](https://www.freecodecamp.com/challenges/create-a-custom-heading#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%0A%3Cstyle%3E%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20%20%7D%0A%0A%20%20.thick-green-border%20%7B%0A%20%20%2

[2017-01-30 02:43] Manish-Giri commented on #12949
@erictleung Just saw in chat that @cdrainxv was doing the PR when I posted. So I'll wait for another 'help wanted' issue.

[2017-01-30 02:51] no-stack-dub-sack commented on #12965
Hi @Taydenswin, thanks for reporting this issue, however it looks like this is an issue with your solution rather than a bug! 😄  Take a close look at your code and make sure every div has a corresponding closing `</div>`. As this is not a bug, I'm going to close this issue for now, however, if you feel I am wrong in closing this, you can reopen and provide additional detail as to what the issue is

[2017-01-30 02:51] #12965 closed

[2017-01-30 02:59] no-stack-dub-sack opened #12966 "[beta] QA of Object Oriented Programming Section"
This was originally opened for one specific challenge, but noticing a couple of other things along the way in this section so just going to consolidate them in this one issue (a comment for each). @HKuz, if there is perhaps already another issue for this, I'm guessing you'd be the one to know, I did a quick search but could not find anything.

Overall - I think these challenges are great! _**Defin

[2017-01-30 03:22] ammar1029 opened #12967 "Anchor link does not work"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2017-01-30 03:39] no-stack-dub-sack commented on #12966
[Verify an Object's Constructor with instanceof](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/verify-an-objects-constructor-with-instanceof):
- For some reason, the linter throws the warning `Expected an assignment of function call and instead saw an expression` when the correct solution `myHouse instanceof House;` is written. The challenge does pass though.
- Also, the s

[2017-01-30 03:44] #12828 closed

[2017-01-30 03:46] no-stack-dub-sack commented on #12966
[Verify an Object's Constructor with instanceof](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/verify-an-objects-constructor-with-instanceof):
- For some reason, the linter throws the warning `Expected an assignment of function call and instead saw an expression` when the correct solution `myHouse instanceof House;` is written. The challenge does pass though.
- Also, the s

[2017-01-30 03:46] erictleung commented on #12967
@ammar1029 Thank you for reporting this issue. You don't need the `www` in the link.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms]

[2017-01-30 03:46] #12967 closed

[2017-01-30 03:49] no-stack-dub-sack commented on #12966
[Understanding Own Properties](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/understand-own-properties):
Just an observation on this own, and curious to see what other opinions are - but this challenge seems to revolve a bit more around `for...in` rather than `hasOwnProperty`, and `for...in` is not adequately explained in this section as of yet.

If we are assuming people

[2017-01-30 03:57] dhcodes opened #12968 "Shop link is broken on staging"
I get a 500 "Loopback Error" when trying to access the shop when running freeCodeCamp locally. Looks like it may have been removed as part of this commit: https://github.com/freeCodeCamp/freeCodeCamp/commit/86d4b5e841996b5f9f4a95a43e08943eab838287

[2017-01-30 04:22] brandi83 opened #12970 "123.45.67.89 - 25/Mar/2003 10:15:32 - http://www.google.com/search?q=cars - Firefox 1.0.7; Windows NT 5.1 - 740674ce2123e969"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-30 04:26] brandi83 opened #12971 "New"
<<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en-us"><title>Code Review - All issues</title><link href="https://codereview.chromium.org/" rel="alternate"></link><link href="https://codereview.chromium.org/rss/all" rel="self"></link><id>https://codereview.chromium.org/</id><updated>2017-01-30T04:22:33+00:00</updated><author><name>rietveld</name></author

[2017-01-30 04:30] #12971 closed

[2017-01-30 04:30] #12970 closed

[2017-01-30 04:37] padulam commented on #12927
@Greenheart I took a look at this one and found that it's failing when trying to store the id for this challenge (either upon completion or when trying to store the last accessed challenge). Here's the error:

`Error: 597d7790367517u2y2517ab2 is not a valid ObjectId
    at updateMyCurrentChallenge `

When I queried the local fcc challenge database I noticed that the id for this challenge is stored

[2017-01-30 04:45] cdrainxv commented on #12949
@Manish-Giri: It seems that I can't setup a local instance of the fcc repo on my machine. Please feel free to take up this issue. I'll pursue another one as soon as I resolve my own issues. Thanks!

[2017-01-30 04:49] masters-george commented on #12677
Timo,

Just completed tests on both my Linux machines. It appears to be
network-related. I replicated the problem then rebooted the network
gateway. Problem went away. Go ahead and close the issue. The beta course
appears to be working on both Ubuntu Linux 16.04 and 16.10 using Chrome. I
did not retest with Opera.

George Masters
instructional Designer /Trainer
408.242.4632

On Sun, Jan 29, 2017 a

[2017-01-30 05:02] strongdan opened #12972 "It appears that this challenge is not properly accessing the test methods"
![screenshot 2017-01-29 at 20 00 39](https://cloud.githubusercontent.com/assets/3577434/22412696/b6bde862-e65d-11e6-8a31-853e6488bddd.png)
![screenshot 2017-01-29 at 20 00 21](https://cloud.githubusercontent.com/assets/3577434/22412698/ba4e9058-e65d-11e6-8e10-1bf94582c9e5.png)

Challenge [shopping-list](http://beta.freecodecamp.com/en/challenges/basic-javascript/shopping-list) has an issue.
User A

[2017-01-30 05:04] Shunthrope opened #12973 "[Bug?] Challenge: Learn how Script Tags and Document Ready Work"
Challenge [Learn how Script Tags and Document Ready Work]

Hi,

When I insert a normal script element, and close it, the first task is sufficiently completed. When I insert the function proper, the other two tasks are completed and the first is nullified. Am I dumb?

Cheers.

Code:
html

<script $(document).ready(function() {
        });>

</script>

<div class="container-fluid">
  <h3 class="text

[2017-01-30 05:14] jackhou147 opened #12974 "Test won't pass."
Challenge [use-the-u-tag-to-underline-text](http://beta.freecodecamp.com/en/challenges/applied-visual-design/use-the-u-tag-to-underline-text) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.99 Safari/537.36</code>.

Keep getting error message "Your code should add a u tag to the markup."

[code]

[2017-01-30 06:22] apolloman commented on #6143
You should understand length property!
`[[1, 2], [3, 4], [5 , 6]].lenght === 3;` - This is the first loop!
Nested loop helps to enter into each  sub Arrays[index] inside the Main Array ) and multiply each index to product

[2017-01-30 06:39] YaqubYadon opened #12976 "FreeCodeCamp"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-30 06:45] #12976 closed

[2017-01-30 06:48] erictleung commented on #12972
@strongdan thanks for the issue. What browser are you using? I was unable to reproduce this error in both Chrome and Firebox.

[2017-01-30 06:51] erictleung commented on #12974
@jackhou147 thanks for the issue but the challenge was to wrap one `u` tag around two anchor tags. You've used two `u` tags. Happy coding!

[2017-01-30 06:51] #12974 closed

[2017-01-30 06:52] erictleung commented on #12973
@Shunthrope Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free

[2017-01-30 06:52] #12973 closed

[2017-01-30 06:54] jackhou147 commented on #12974
Got it. Thanks!

[2017-01-30 07:56] markring commented on #12321
I have the same issue, but your chat room does not function I cannot ask there.

[2017-01-30 08:22] kyrom8 commented on #12968
i don't know that!

[2017-01-30 08:28] hisener commented on #12972
@erictleung The user agent looks like Chrome 55 on Chrome OS. Also, I couldn't reproduce neither.

[2017-01-30 08:30] #12949 closed

[2017-01-30 08:52] Saymo opened #12977 "Re: Size your image"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2017-01-30 08:55] Saymo commented on #12977
Don't seem to pass this lesson and proceed.

[2017-01-30 09:49] OFFLlNE commented on #12977
Thank you for reporting your issue.

Your code is wrong. You need to apply that created class on your image
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of

[2017-01-30 09:49] #12977 closed

[2017-01-30 09:52] OFFLlNE commented on #12962
Closing for now.

@Ririnrinasty ReOpen if you can add further details of the Issue you are having

[2017-01-30 09:52] #12962 closed

[2017-01-30 09:52] OFFLlNE commented on #12961
Closing for now.

@Ririnrinasty ReOpen if you can add further details of the Issue you are having

[2017-01-30 09:52] #12961 closed

[2017-01-30 10:08] kalunlee136 opened #12978 "es6 arrow function example is misleading"
Challenge [arrow-functions](https://beta.freecodecamp.com/en/challenges/es6/arrow-functions) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

The example for the beta FCC arrow function challenge says you

[2017-01-30 10:22] hisener commented on #12978
You're right!

Arrow functions' description should be changed in [seed/challenges/02-javascript-algorithms-and-data-structures/es6.json](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/02-javascript-algorithms-and-data-structures/es6.json)

[2017-01-30 11:21] raisedadead commented on #12472
@no-stack-dub-sack please make a pull request when ready, we will take care of merging and rebasing PRs

[2017-01-30 12:09] raisedadead commented on #12968
@dhcodes
This is expected, and if you check it will be the case for about page, these pages are now statically hosted over GitHub pages in their own repositories.

On our production websites, these redirects are managed at the NGNIX level I believe, which is even before hitting the freeCodeCamp server code.

You can choose to ignore this error, unless anything specific that you might feel is out o

[2017-01-30 12:10] raisedadead commented on #12968
Hello @kyrom8 !

Looks like you may have accidentally subscribed to all notifications for the [FreeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp) repository. To stop receiving notifications please visit the [subscriptions page](https://github.com/FreeCodeCamp/FreeCodeCamp/subscription) or click on the image below and select **"Not watching"**.

[![image](https://cloud.githubusercontent.co

[2017-01-30 12:14] raisedadead commented on #12955
Please follow our issue template while reporting issues. If this is a suggestion for use of a tool we would love to know more about it in the forum and not on the issue tracker.

[2017-01-30 12:14] #12955 closed

[2017-01-30 12:16] raisedadead commented on #12955
Feel free to create an article on the forum, (maybe in the meta section) where this will get more traction. The issue tracker is strictly limited to the codebase and bugs associated with it.

[2017-01-30 12:30] dhcodes commented on #12968
Thanks. I thought it may have been intentional. My bad.

[2017-01-30 12:30] #12968 closed

[2017-01-30 12:33] raisedadead commented on #12968
No worries, happy to help!

[2017-01-30 13:01] hisener commented on #12472
Could someone change the description of the [about repo](https://github.com/freeCodeCamp/about)?

freeCodeCamp/about#3

[2017-01-30 13:06] ipreira opened #12979 "[beta] Applied Visual Design: Add a Box-shadow to a Card-like Element | Hover issue"
#### Applied Visual Design: Add a Box-shadow to a Card-like Element

http://beta.freecodecamp.com/en/challenges/applied-visual-design/add-a-boxshadow-to-a-cardlike-element

#### The camper must add a property when the id is on its hover state whereas this hasn't been studied yet

In this part, it is required to add a box-shadow property for the thumbnail id on its hover state.
The problem is that

[2017-01-30 13:06] Vozf opened #12980 "Arrow function description"
Challenge [arrow-functions](http://beta.freecodecamp.com/en/challenges/es6/arrow-functions) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.76 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

arrow functions are described as ()=>( return ... ) when ac

[2017-01-30 13:19] bigkatspence commented on #12980
your code is not correct if you need help there is a help button that will take you to the correct chat for assistance also there is a full listing of chats available for help

[2017-01-30 13:23] Vozf commented on #12980
It is auto creation the code doesn't matter what matters is the description of a task
You describe them as
[code]
which is wrong

[2017-01-30 13:27] bigkatspence commented on #12980
please take this to the proper chat room

[2017-01-30 13:56] HKuz commented on #12927
@padulam thanks for narrowing that down! Yes, that's not a valid ID because the 'u' and 'y' aren't hex digits. For example, if I change the 'u' to a 7, and the 'y' to a 3 so the entire number is `597d77903675177232517ab2`, the challenge saves when I run it locally (here's my terminal output):

![screen shot 2017-01-30 at 8 49 27 am](https://cloud.githubusercontent.com/assets/9591826/22425444/15802

[2017-01-30 13:59] HKuz commented on #12960
Hi @masters-george - thanks so much for the help with QA on the Beta site! Looks like this issue has been raised over in #12927 so I'm going to close this as a duplicate. Feel free to join the discussion over on that issue - it looks like another contributor narrowed down the problem, hopefully a fix coming soon. Thanks 🎉

[2017-01-30 13:59] #12960 closed

[2017-01-30 14:09] HKuz commented on #12978
Hi @kalunlee136 - thanks for pointing this out 👍 There's actually an open pull request (#12963) that refactors this challenge, and it fixes the example to use curly braces. I'll ask them to update the PR description so it closes this issue when it's accepted. Thanks for your help with QA working through the new challenges!

[2017-01-30 14:14] HKuz commented on #12980
@Vozf - thanks for pointing this out 👍 . The example syntax was just raised over in issue #12978 so I'm going to close this as a duplicate (and as I noted over there, there's an open PR #12963 that will make this fix when it's accepted). Thanks for your help with QA on the new challenges!

[2017-01-30 14:14] #12980 closed

[2017-01-30 14:21] padulam commented on #12927
@HKuz Thanks for the additional information! I'll take care of this tonight.

[2017-01-30 14:31] dhcodes commented on #12828
@raisedadead should I unmerge this then? I didn't realize there were other changes in the works.

[2017-01-30 14:54] Taydenswin commented on #12965
Thank you I found my own error👍🏽

Sent from my iPhone

[2017-01-30 15:06] alexfgtz opened #12981 "This doesnt work"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%3D%20%22FirstLine%5Cn%5C%5CSecondLine%5C%5CrThirdLine%22%3B) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how to reproduce this issu

[2017-01-30 15:07] raisedadead commented on #12828
@dhcodes we can have separate PRs if everyone agrees.

[2017-01-30 15:09] OFFLlNE commented on #12981
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-01-30 15:09] #12981 closed

[2017-01-30 15:10] dhcodes commented on #12952
I (personally) like the proposed modal provided by @tommygebru above but I would change the white check to a very light grey since night mode is supposed to be "less bright" overall. Also, I would recommend we connect any of the recent issues related to high-contrast to https://github.com/freeCodeCamp/freeCodeCamp/issues/8845 for use in a high-contrast mode for all of freeCodeCamp, not just the ed

[2017-01-30 15:37] masters-george commented on #12960
Glad I could help. The courselves content has more detail and the content
is pedagogically improved which newbies should hopefully find easier to
learn.

On Jan 30, 2017 6:02 AM, "Heather K" <notifications@github.com> wrote:

[2017-01-30 16:00] DonaldCameron77 opened #12983 "Built-in higher order functions used (way) before their tutorial"
#### Challenge Name: ES6: Arrow functions with higher order functions

https://beta.freecodecamp.com/en/challenges/es6/arrow-functions-with-higher-order-functions

#### Issue Description

In the descriptive text and example code for this challenge, the built-in higher order functions filter and reduce are used.  Then in the challenge, the camper is supposed to use map and reduce.

The problem is t

[2017-01-30 16:44] cdrainxv opened #12984 "Recent jQuery update"
#### Issue Description

In attempting to clone a local instance of the fcc repo on my machine, I am prompted to choose
a version of jquery to list as a dependency when installing bower. I assume I am to choose the second option, but this would result in modifying the bower.json file. Later on, if I were to commit this change, would there be any issues stemming from this operation on subsequent PRs

[2017-01-30 17:00] dhcodes commented on #12984
Confirmed. I saw this when setting up a local instance earlier this week. I believe it has to do with this recent PR: https://github.com/freeCodeCamp/freeCodeCamp/pull/12605. Looks like we should update the `bower.json` file to add a resolutions section as below:
[code]

Thoughts on this @BerkeleyTrue ?

[2017-01-30 17:07] marioncharlie commented on #9079
I was working on Firefox so I didn't see the issue until a friend told me it wasn't working on his browser (Chrome).
I lost a lot of time trying to retrieve APIs datas cause of the HTTPS/HTTP issue too.
I finished my project so I didn't look for others API but I really think a warning on the exercice page would be great for future campers.

[2017-01-30 17:36] Greenheart commented on #12927
@padulam @HKuz Excellent triaging! Looking forward to a PR :smile:

[2017-01-30 17:37] tommygebru commented on #12952
@dhcodes thanks for sharing, I think its great that FCC is willing to design a high-contrast mode, however I found a greater solution with a `Google Accessibility extension` that will change any webpage on a browser to a custom color scheme to help all visually impaired or sensitive users.

`High Contrast` - https://chrome.google.com/webstore/detail/high-contrast/djcfdncoelnlbldjfhinnjlhdjlikmph?h

[2017-01-30 17:47] tommygebru commented on #12952
@raisedadead If there is a concern that the colors do not deserve a branch or pagination on Freecodecamp's `design-style-guide`. Then I purpose at the very least we should expand on either Freecodecamps Primary or Secondary color palette to include `Thunder`.

Also - I have not seen Freecodecamp utilize all of Freecodecamps colors in Primary nor Secondary and I am curious if we will remove some co

[2017-01-30 18:19] DIZAD87 opened #12985 "Efficiency concern with Smallest Common Multiple"
Challenge [Smallest Common Multiple](https://www.freecodecamp.com/challenges/smallest-common-multiple) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.76 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Hi, my code for the smallest common multiple challeng

[2017-01-30 18:30] #12727 closed

[2017-01-30 18:30] #12728 closed

[2017-01-30 18:46] ipreira commented on #12979
Basically this challenge should be before the one mentioned before :  Adjust the Hover State of an Anchor Tag

http://beta.freecodecamp.com/en/challenges/applied-visual-design/adjust-the-hover-state-of-an-anchor-tag

[2017-01-30 18:50] BerkeleyTrue commented on #12984
LGTM

[2017-01-30 19:01] raisedadead commented on #12952
I think we can discuss more about adding the existing colors to the site's UI in ways that it enhances the UX which I can see this issue aims to address beautifully.

Sorry if I missed it, what is `Thunder` again?

[2017-01-30 19:37] Greenheart opened #12986 "[beta] Improve example for "Applied Visual Design: Use the u Tag to Underline Text""
Challenge [use-the-u-tag-to-underline-text](http://beta.freecodecamp.com/en/challenges/applied-visual-design/use-the-u-tag-to-underline-text) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.76 Safari/537.36</code>.

[code]

Much like #12831, I think the example used in this challenge could be improved. Since the `<a>` tags

[2017-01-30 19:51] official4code commented on #12986
hello

[2017-01-30 20:17] Greenheart opened #12987 "[beta] Improve instruction and formatting for "Applied Visual Design: Use the Text-transform Property to Make Text Uppercase""
Challenge [use-the-texttransform-property-to-make-text-uppercase](http://beta.freecodecamp.com/en/challenges/applied-visual-design/use-the-texttransform-property-to-make-text-uppercase) has an issue.

Firstly, I suggest we change the first instruction sentence to

Secondly, the **"Note"**-section is essentially a collection of definitions. I suggest we replace the current text with either a table

[2017-01-30 20:23] tommygebru commented on #12952
Yes- Thunder is a new color proposal

I will make a new pull request to add it as a primary color to the design style guide

Also - Thunder shares a familiar color pathway to Freecodecamps gitter community

[2017-01-30 20:56] AWulkan opened #12988 "Passing 'class-getters-and-setters' with insufficient code."
Challenge [class-getters-and-setters](https://beta.freecodecamp.com/en/challenges/es6/class-getters-and-setters) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

The tests for this challenge appears to no

[2017-01-30 21:10] tommygebru commented on #12852
I would still prefer a Primary color over Secondary for the tooltip when considering a choice that will compliment the Night Mode theme.

https://github.com/freeCodeCamp/freeCodeCamp/issues/12953

Keep in mind my example for a Night Mode refresh is to remove Freecodecamp from a monotone state and preserve a dark theme that is more engaging like the Freecodecamp Community.

![screen shot 2017-01-30

[2017-01-30 21:18] systimotic commented on #12828
I'm sorry, I'm not following what's going on. 😕 What other changes are in the works?

I may have to redo some of the changes as per https://github.com/freeCodeCamp/freeCodeCamp/pull/12832#discussion_r98515395

I previously shared [this wiki article](https://forum.freecodecamp.com/t/free-code-camp-hotkeys/59467) in this thread, showing that the hotkeys seem standardized and document as suggested.

[2017-01-30 21:23] Greenheart commented on #12698
http://beta.freecodecamp.com/en/challenges/es6/using-the-const-keyword has an issue with it's tests: It doesn't check that the variables were renamed to UPPERCASE, despite having instructions stating that the camper needs to do this.

Could be a `i` flag (ignore capitalization) for the regex used in the tests. If so, fix this by removing it.

[2017-01-30 21:35] qjawe commented on #9087
// Example
function ourFunction(isItTrue) {
  if (isItTrue) {
    return "Yes, that was true";
  }
  return "No, that was false";
}

// Setup

function trueOrFalse(wasThatTrue) {

  // Only change code below this line.
if (wasThatTrue) {
  return "Yes, that was true";
}

  return "No, that was false";
}
  // Only change code above this line.

// Change this value to test
trueOrFalse(true);

Very u

[2017-01-30 21:36] texas2010 commented on #9087
@qjawe
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-01-30 21:49] Aleksey3107 opened #12991 ""Run tests" button doesn't respond"
After task finishing and pressing "Run tests" the page doesn't show pop-up and doesn't unblock next level (task completed correctly + copy-paste method was used)
#### Challenge Name

https://www.freecodecamp.com/challenges/use-rgb-values-to-color-elements#?solution=%0A%3Cstyle%3E%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20rgb(255%2C%20165%2C%200)%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A

###

[2017-01-30 22:02] erictleung commented on #12991
@Aleksey3107 thanks for the issue, but your code is incorrect. That color was given as an example. Please read the test and instructions again to figure out which is the correct color to change it to. Happy coding!

[2017-01-30 22:02] #12991 closed

[2017-01-30 22:25] saloni29993 commented on #6429
Can someone help me too!

[2017-01-30 22:27] OFFLlNE opened #12992 "Passing multiple ES6 challenges with errors"
#### Challenge Name
[ES6: An Immutable Object a const does not make](http://beta.freecodecamp.com/en/challenges/es6/an-immutable-object-a-const-does-not-make)

#### Issue Description
Tried random code if that works. It does give me tons of errors but did let me pass the challenge.

#### Browser Information

* Browser Name, Version: Chrome Version 52.0.2743.116 (64-bit)
* Operating System: OS X 10.

[2017-01-30 22:30] OFFLlNE commented on #12992
Tried submitting my code w/o doing anything
[ES6: Arrow functions](http://beta.freecodecamp.com/en/challenges/es6/arrow-functions)
![image](https://cloud.githubusercontent.com/assets/8721312/22444615/5f90897e-e74c-11e6-8530-5f156bc5835c.png)

[2017-01-30 22:34] OFFLlNE commented on #12992
Aaand another. Starting to smell like a duplicate issue
[ES6: Arrow functions with input parameters](http://beta.freecodecamp.com/en/challenges/es6/arrow-functions-with-input-parameters)
![image](https://cloud.githubusercontent.com/assets/8721312/22444730/e83ebff2-e74c-11e6-8039-aaddd99df5e5.png)

[2017-01-30 22:37] OFFLlNE commented on #12992
[ES6: Arrow functions with higher order functions](http://beta.freecodecamp.com/en/challenges/es6/arrow-functions-with-higher-order-functions)
![image](https://cloud.githubusercontent.com/assets/8721312/22444841/5a1b8d44-e74d-11e6-9c45-89a4eedfb0b0.png)

[2017-01-30 22:48] Greenheart commented on #12992
@OFFLlNE The current tests mostly rely on RegEx ran against the camper's source code, but since the code is transpiled to ES5 before it's sent to the `fcc-test-frame` where the tests are run, the actual `code` variable that tests use always contain ES5 code.

And as you can imagine, this causes some interesting behaviors with tests :smile:

Some of these could be related to the transpiling, but th

[2017-01-30 22:48] erictleung opened #12993 "Import challenge style guide into main repo"
#### Issue Description

The [CurriculumExpansion](https://github.com/freeCodeCamp/CurriculumExpansion) repository has a [challenge style guide](https://github.com/freeCodeCamp/CurriculumExpansion/blob/master/challenge-style-guide.md) and I feel that this should be imported into the main repository (this one) and maintained and updated from here.

This will probably help in standardizing the challe

[2017-01-30 22:51] erictleung commented on #12698
@Greenheart it probably has to do with the fact that the tests are just comments :smile: https://github.com/freeCodeCamp/freeCodeCamp/blob/541bde442c0167c4189b096afcaf0efe0e4a0960/seed/challenges/02-javascript-algorithms-and-data-structures/es6.json#L180.

[2017-01-30 22:52] OFFLlNE commented on #12992
@Greenheart I will just keep posting those I find just in case :D
Some did work only after solving
[ES6: Spread Operator](http://beta.freecodecamp.com/en/challenges/es6/spread-operator)
![image](https://cloud.githubusercontent.com/assets/8721312/22445291/6f296196-e74f-11e6-90e2-0ab60de0e6b5.png)

[2017-01-30 22:55] OFFLlNE commented on #12992
[ES6: No Title Two](http://beta.freecodecamp.com/en/challenges/es6/no-title-two)

![image](https://cloud.githubusercontent.com/assets/8721312/22445387/dd39f5c4-e74f-11e6-98f1-24cf3a8becc3.png)

[2017-01-30 23:03] Greenheart commented on #12988
@AWulkan Thanks for reporting this, and for the good information to help triaging!

The ES6 challenges are known to be a bit buggy at the moment due to some problems with the transpiled code. However this particular issue is caused by the lack of tests. As you can see [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/02-javascript-algorithms-and-data-structures/es6.j

[2017-01-30 23:03] #12988 closed

[2017-01-30 23:15] OFFLlNE commented on #12992
[ES6: Nested Object Destructuring](http://beta.freecodecamp.com/en/challenges/es6/nested-object-destructuring)

![image](https://cloud.githubusercontent.com/assets/8721312/22445934/b0e05e48-e752-11e6-991a-515f1a285f7a.png)

[2017-01-30 23:28] billy-reilly commented on #12410
Hi guys, I had a think about this and thought maybe it could be resolved by splitting the first test into two parts and then having a separate test for each special character which specifies where it should be placed:

1) <code>myStr</code> should contain no spaces
2) <code>myStr</code> should contain the strings <code>FirstLine</code>, <code>SecondLine</code> and <code>ThirdLine</code> (remember

[2017-01-31 00:10] no-stack-dub-sack commented on #12952
@tommygebru @dhcodes @raisedadead I think what all of these discussions (#12953, #12852, #8845, etc.) really suggest, is that we desperately need a standardization of night mode colors somewhere, whether it be a part of the style guide or not. And to decide on high-contrast mode.

My only issue would with the above proposed modal would be that the `Thunder` color doesn't match any of the other cur

[2017-01-31 00:20] rmdawson71 commented on #11986
On the Beta site, I can not get the 3rd test to pass.  See the screenshot.
![image](https://cloud.githubusercontent.com/assets/5313213/22447543/ef5bf1be-e707-11e6-8185-1455141bdd4a.png)

[2017-01-31 00:31] rmdawson71 commented on #12863
I am also experiencing the same issue.
![image](https://cloud.githubusercontent.com/assets/5313213/22447795/7a472b44-e709-11e6-8288-4f3480859f3a.png)

[2017-01-31 00:36] rmdawson71 opened #12994 "Basic CSS: Intro - will no show complete on Beta site"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/basic-css/introduction-to-basic-css

#### Issue Description

When I first click into the the challenge, I see an error message at the right bottom and also on the following 3 screens.  Also, once I have finished the challenge, it does not show on my map as completed.

#### Browser Information

* Browser Name, Chrome:
* Operating Syste

[2017-01-31 00:43] rmdawson71 commented on #12865
I am having the same problem with the correct solution, but if I exit the challenge and re-enter using the Map and submit, it passes the tests fine.
![image](https://cloud.githubusercontent.com/assets/5313213/22448023/33a6c364-e70b-11e6-9d61-52795ac7958c.png)

[2017-01-31 00:56] lookinahead13 commented on #7697
I agree that the challenge is complicated to a degree. I am new to coding and have only been really going "full board" 3 weeks. I am here because I was looking for an explanation like many others. On the other hand though, ( question for front-end, full-stack and back-end programmers) doesn't this also teach to think like a programmer? Many times there will be things we don't understand that we wi

[2017-01-31 01:01] no-stack-dub-sack commented on #12993
@erictleung Ha! All the work I've been doing on challenges lately, and frankly, I never even knew this existed.

I think this is super helpful, and I think it should be updated to include actual **style guidelines** like:

- language keywords go in `<code>` tags
- definitions, or general keywords (i.e. "object" or "immutable") go in `<dfn>` tags
- code examples go in `<blockquote>`s
- Instructions

[2017-01-31 01:05] rmdawson71 commented on #12895
This is the 4th beta challenge with the same issue.  I come into the challenge after passing the previous one.  I enter my code and click submit and then can not pass the tests.  I exit the challenge and the come back in using the Map and then click Submit without changing my code at all and then it passes and allows me to go to the next challenge.  I finished the all the javascript (basic,interme

[2017-01-31 01:09] Pulsar-Mind commented on #7428
I really don't understand why its not working out with +=. Maybe they did not want us to just copy the example. or is the code running more than one time so the second time gear will be added to the old value? with +=? thats maybe it but im getting the right answers with += in my console so I does not make any sense...

[2017-01-31 01:16] Kamberipa commented on #11076
href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">``

[2017-01-31 01:24] no-stack-dub-sack commented on #12966
### [Understand the Constructor Property](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/understand-the-constructor-property):

This challenge will pass with either solution:
[code]

I don't see this as being a major problem since instinct dictates that people will try the solution suggested to them first, however, I can also see this being an issue being opened down the li

[2017-01-31 02:04] rmdawson71 commented on #12748
BETA edition of challenge:

Same problem I have reported on 5-6 other challenges.

Coming into the challenge from successfully completing the previous challenge, I type my correct code and submit and some tests fail.  If I exit the challenge and go back into the challenge via the Map, I can click submit and the tests pass and the dialogue box pops up for me to continue to the next challenge.

If y

[2017-01-31 03:00] no-stack-dub-sack commented on #12966
### [Use Inheritance So You Don't Repeat Yourself](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/use-inheritance-so-you-dont-repeat-yourself):

This challenge I think is a bit confusing - mostly just with the title. The title refers to Inheritance, however, the concept is not distinctly covered in the challenge - I realizes it ties in to the next challenge, so campers will

[2017-01-31 03:52] no-stack-dub-sack commented on #12966
### [Inherit Behaviors from a Supertype](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/inherit-behaviors-from-a-supertype):

Super minor issue here - part of the seed for this reads as follows:
[code]

This throws a linter error. I would propose the following instead:

Super minor issue here - part of the seed for this reads as follows:
[code]

[2017-01-31 04:30] bonham000 commented on #12757
@erictleung nice thanks for helping review these! Your challenges look really good.

When I initialized checked I think that only the tests for Graphs BFS and DFS didn't work, but I think for all the other challenges you submitted the provided solutions passed all the tests.

Also, the point I wrote about the GIFs for the Graph challenges was mainly about the sizing of the images, which I'm sure y

[2017-01-31 04:47] no-stack-dub-sack commented on #12865
@rmdawson71 this pull request should fix this issue! It should be updated and working on the beta site within the next couple of days!

[2017-01-31 04:54] #12927 closed

[2017-01-31 04:58] NotAnAmbiTurner opened #12997 "Issue with Input on "Seek and Destroy""
#### Challenge Name

https://www.freecodecamp.com/challenges/seek-and-destroy

#### Issue Description

I'm not positive if this is an issue, or just me not understanding something. When I attempt to grab the arguments from the destroyer function, they don't appear to come in with an array as the first argument. Instead, I get what looks like a one-level deep (aka "normal") array.

#### Browser Inf

[2017-01-31 05:17] rmdawson71 commented on #12865
Hi Peter,

How would I have known not to comment or create a new “ticket” for a bug that has a fix but has not been implemented.  It seems you all maybe getting numerous repeat notifications about bugs that already have a fix for them.  I am not sure If it was this challenge or another one, I first checked github for  previously reported issues on the challenge.  If it still showed “Open” and some

[2017-01-31 05:19] rmdawson71 commented on #12865
Not sure if you got my other message, but why is it marked close if the fix has not been put in place?

[2017-01-31 05:19] NotAnAmbiTurner commented on #12997
Nevermind... I get it :(.

[2017-01-31 05:19] #12997 closed

[2017-01-31 06:08] kauej opened #12998 ""Error Between the style tags, give the p elements font-size of 16px. Browser and Text zoom should be at 100%.""
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20%20p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKi

[2017-01-31 06:20] archit99 commented on #12998
are you following instructions ?
it says

[2017-01-31 06:28] masters-george opened #12999 "[beta] Responsive Web Site Challenge Videos not playing"
I have tried to play the videos for the first two challenges to get the user stories to no avail. Getting error messages within the HTML5 player.

#### Issue Description
clicking red Play button pops up the error immediately. The player id changes each time the user attempts to play the video.

#### Browser Information
Appears in both chrome and opera under Ubuntu Linux 16.10

* Browser Name, Vers

[2017-01-31 09:16] sayedafif commented on #11226
If its still open. Can I work on this?

[2017-01-31 09:24] kalunlee136 opened #13000 "Code runs without having to change anything"
Challenge [spread-operator](https://beta.freecodecamp.com/en/challenges/es6/spread-operator) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

This is for the beta ES6: Spread  Operator challenge. All the t

[2017-01-31 09:32] OFFLlNE commented on #13000
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #12992, so I am closing it as a duplicate.

If you think I'm wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2017-01-31 09:32] #13000 closed

[2017-01-31 09:33] OFFLlNE commented on #12998
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-01-31 09:33] #12998 closed

[2017-01-31 10:26] RishuK commented on #11226
I have started working on this. Sorry I got late.

[2017-01-31 10:36] Greenheart commented on #12698
http://beta.freecodecamp.com/en/challenges/es6/problems-with-the-var-keyword needs an extra test that ensures the `let` keyword was used rather than the `var` keyword. Could be solved with regex, but only once we've got tests working properly for this section.

[2017-01-31 10:54] mostafagamil opened #13002 "Data inconsistency"
Challenge [Understanding Uninitialized Variables](https://www.freecodecamp.com/challenges/understanding-uninitialized-variables#?solution=%0A%2F%2F%20Initialize%20these%20three%20variables%0Avar%20a%20%3D%205%3B%0Avar%20b%20%3D%2010%3B%0Avar%20c%20%3D%20%22I%20am%20a%22%3B%0A%0A%0A%2F%2F%20Do%20not%20change%20code%20below%20this%20line%0A%0Aa%20%3D%20a%20%2B%201%3B%0Ab%20%3D%20b%20%2B%205%3B%0Ac%2

[2017-01-31 11:01] Greenheart commented on #12865
@rmdawson71 Thanks reporting this! You've done everything correctly - this problem might still exist for a few days since it usually takes some time before a submitted fix is live on the site.

If you still experience this issue in a few days, even after a hard refresh (`CTRL`+`SHIFT`+`R`) and press the **"Reset"** button in the instructions panel (to make sure you're using the latest challenge da

[2017-01-31 11:08] #13002 closed

[2017-01-31 11:53] RishuK commented on #11226
I am seeing that this issue is also present in this test - override-all-other-styles-by-using-important

[2017-01-31 12:04] RishuK commented on #11226
This is what I am trying but doesn't seem to work -

assert(code.match(/<h1[\\s\\S]*?style[\\s\\S]*?color[\\s]*:[\\s]*white[\\s\\S]*)

[2017-01-31 12:05] RishuK commented on #11226
`assert(code.match(/<h1[\\s\\S]*?style[\\s\\S]*?color[\\s]*:[\\s]*white[\\s\\S]*)`

This is what I am trying but does not seem to work. Any inputs?

[2017-01-31 12:33] raisedadead commented on #12410
@billy-reilly thanks for taking a dig at this. I guess, this is a very clear breakup of going at this issue, waiting for @systimotic's confirmation, and I guess we can go forth.

[2017-01-31 12:35] Claudron commented on #6453
Same here!

[2017-01-31 14:01] AbidRiaz commented on #3628
Worked for me. I wasn't using closing > for form element before <input.....>. Thank you.

[2017-01-31 14:34] RoniqueRicketts opened #13004 "Wrap Radio Buttons in a Fieldset Element for Better Accessibility(JavaScript raw code is showing)"
#### Challenge Name

Wrap Radio Buttons in a Fieldset Element for Better Accessibility

#### Issue Description

The raw JavaScript code is showing in the output field on this challenge. I have taken a screenshot of this issues.

#### Browser Information

* Browser Name, Version: Google Chrome V56.0.2924.76
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

![backend capture](htt

[2017-01-31 14:55] dhcodes commented on #12994
@rmdawson71 this has been fixed by a recent merged pull request and will be fixed when the beta site is next updated. Thanks for reporting!

[2017-01-31 14:55] #12994 closed

[2017-01-31 15:56] raisedadead commented on #12999
@masters-george thanks for the report, yes this is a known issue with beta site right now and the videos are pretty much work in progress.

What you see above are place holders, we should have them soon. Thanks for your patience meanwhile.

Happy coding!
/cc @QuincyLarson

[2017-01-31 15:59] raisedadead commented on #13004
Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/12683

@RoniqueRicketts Thanks a lot for the QA and feedback on beta site. At the same time just a request if you can check for open issues before reporting.

[2017-01-31 15:59] #13004 closed

[2017-01-31 16:03] raisedadead commented on #12985
@DIZAD87  Thanks a lot for the report.

Have you tried confirming this as an issue on the forum or the chat rooms?
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [forum](http://forum.freecodecamp.com)

Happy Coding!

[2017-01-31 16:20] OFFLlNE commented on #12992
[ES6: Array Destructuring](http://beta.freecodecamp.com/en/challenges/es6/array-destructuring)

![image](https://cloud.githubusercontent.com/assets/8721312/22473503/d730029e-e7e1-11e6-93d2-b900d7ddf825.png)

[2017-01-31 16:21] OFFLlNE commented on #12992
[ES6: Array Destructuring with Rest Operator](http://beta.freecodecamp.com/en/challenges/es6/array-destructuring-with-rest-operator)

![image](https://cloud.githubusercontent.com/assets/8721312/22473597/11cac42a-e7e2-11e6-8c4f-e4d2e12c3878.png)

[2017-01-31 16:23] OFFLlNE commented on #12992
[ES6: Destructuring Function Parameters](http://beta.freecodecamp.com/en/challenges/es6/destructuring-function-parameters)

![image](https://cloud.githubusercontent.com/assets/8721312/22473710/6476e01e-e7e2-11e6-8317-656fbd8984b6.png)

[2017-01-31 16:27] OFFLlNE commented on #12992
[ES6: String Interpolation using Backquotes](http://beta.freecodecamp.com/en/challenges/es6/string-interpolation-using-backquotes)

![image](https://cloud.githubusercontent.com/assets/8721312/22473873/e3ad06f6-e7e2-11e6-995b-708b0e06179c.png)

[2017-01-31 16:47] OFFLlNE commented on #12992
[ES6: Enhanced Object Literals : Simple Fields](http://beta.freecodecamp.com/en/challenges/es6/enhanced-object-literals--simple-fields)

![image](https://cloud.githubusercontent.com/assets/8721312/22474806/b1e4677e-e7e5-11e6-852f-a07759777746.png)

[2017-01-31 17:06] shashank7200 opened #13005 "[FCC Beta]: Challenge is not passed even by providing the solution (Inline Style, Color-White)."
Challenge [override-class-declarations-with-inline-styles](http://beta.freecodecamp.com/en/challenges/basic-css/override-class-declarations-with-inline-styles) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:53.0) Gecko/20100101 Firefox/53.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

#My Code:

[code]

![Bug S

[2017-01-31 17:10] benschac opened #13006 "Beta d3 SelectAll"
#### Data Visualization with D3: Select a Group of Elements with D3

http://beta.freecodecamp.com/en/challenges/data-visualization-with-d3/select-a-group-of-elements-with-d3

#### Issue Description

Code to solution doesn't show on screen until user clicks submit. This functionality is different from previous exercises where the output from your code appears before submit.
#### Browser Information

[2017-01-31 17:16] benschac opened #13007 "Beta d3 output from previous problem is shown to user."
#### Data Visualization with D3: Work with Data in D3
http://beta.freecodecamp.com/en/challenges/data-visualization-with-d3/work-with-data-in-d3

#### Issue Description
Complete a previous challenge, go to the next challenge in the flow.  You'll see the previous output of the challenge you completed before.

#### Browser Information
* Browser Name, Version: Chrome
* Operating System: Mac
* Mobile,

[2017-01-31 17:20] kevinleeleeedds commented on #13006
Untitled

Ellieedds was born with me know thanks to work at five people that want
your phone number
On Jan 31, 2017 12:12 PM, "Benjamin Schachter" <notifications@github.com>
wrote:

[2017-01-31 17:29] kevinleeleeedds commented on #12986
stiffness Chan industry Bhutan Ellen it and hairy and some other parts

[2017-01-31 18:01] rmdawson71 commented on #12706
Experiencing the same issue.

[2017-01-31 18:08] benschac opened #13008 "d3 Beta Local Storage isn't working correctly"
#### Data Visualization with D3: Work with Data in D3
http://beta.freecodecamp.com/en/challenges/data-visualization-with-d3/work-with-data-in-d3

#### Issue Description

Submit and incorrect answer then submit the correct answer.  The tests and output will say the solution is incorrect.

Clear your localStorage and try the correct solution and the challenge will pass.

#### Browser Information
* B

[2017-01-31 18:14] benschac commented on #12787
I had the same issue on my end.  I cleared localStorage and submitted the correct solution on the first try and it worked.  It looks like there's an issue with the dataset being over written.

[2017-01-31 18:29] wpr2004 commented on #12711
The code ended up being fine.  I had to open in a new browser and create it there.  It worked in Chrome buy not on my safari browser.

[2017-01-31 18:35] Cowwy opened #13009 "Target the Parent of an Element Using jQuery"
#### Challenge Name
Target the Parent of an Element Using jQuery

#### Issue Description
Was not able to pass this challenge due to spacing issue with the correct syntax.
.parent( ) // with space inside the parenthesis causes incorrect answer.
incorrect response: $("#target1").parent( ).css( "background-color", "red" );
correct response: $("#target1").parent().css("background-color", "red")

[2017-01-31 18:38] raisedadead commented on #12711
I could pass the challenge on Safari as well. Personally I recommend Chrome over Safari, but maybe a reset and retry should work for you.

![image](https://cloud.githubusercontent.com/assets/1884376/22479080/7f20c800-e812-11e6-8572-b81a295ab735.png)

[2017-01-31 18:39] #12831 closed

[2017-01-31 18:47] benschac commented on #12787
@OFFLlNE I think the localStorage just needs to be tweaked a little bit to not re-initalize the const dataset and this should work.  Can someone just confirm this and I'll submit a PR.  I deleted the const dataset in my local storage and it worked just fine.

[2017-01-31 18:50] erictleung commented on #12757
@bonham000 thanks! I'm just about to make a PR for BFS and found an error in one of the tests and fixed it. I probably missed something similar in the DFS challenge. I've added `img-responsive` to the BFS challenge but I think it is more needed in the DFS challenge. I'll see if it helps for the DFS challenge soon.

[2017-01-31 18:58] QuincyLarson commented on #12923
Thinking about this and reading @raisedadead's response, I think we just need to change the "run tests" button's copy to be "run tests and update preview" - that way people realize we're no longer immediately updating the preview.

What do you think about doing this, @rmdawson71?

[2017-01-31 19:10] ajain17 commented on #13009
I can verify it on live site. I will work on this issue.

[2017-01-31 19:10] Greenheart commented on #13009
@Cowwy Thanks for reporting this! :blush:

This looks like it could be an issue with the test cases for this challenge. Was this on the [beta site](https://beta.freecodecamp.com) or on the [main site](https://freecodecamp.com)?

[2017-01-31 19:11] wsvincent commented on #5884
@RomingArt I think the wording of this lesson is causing your confusion. You are not checking if "val" equals "alpha"; instead you are checking if "val" equals 1. The case operator handles the equality check for us automatically. If "val" equals the result of "case" then it asks us to assign the value "val" to "answer", which is done with the assignment operator ("=").

[2017-01-31 19:11] Greenheart commented on #13009
@ajain17 You're fast! I'll check the main site :smile:

[2017-01-31 19:14] Greenheart commented on #13009
I can confirm this for the beta site as well.

[2017-01-31 19:22] HKuz commented on #12966
@no-stack-dub-sack - these are all great points, and I haven't seen any issues for this section although I was offline a chunk of yesterday. Thanks for going through this section in such detail 👍 Here are my thoughts (tl; dr - I agree with everything you brought up):

- `Use Dot Notation to Access the Properties of an Object`: tests should pass if someone uses one `console.log` statement.
- `Verif

[2017-01-31 19:31] rmdawson71 commented on #12923
I suppose that would work.  Is there a way to load the page the first time where it updates the preview but does not run the tests?  That would be the best solution, then you would not have to change the button text and people could see the challenge “as-is” before making modifications to the code.

I know it was stated there are some JQuery issues when auto-running , but I have to be honest and s

[2017-01-31 19:39] Greenheart commented on #13005
@shashank7200 Thanks for reporting this!

I can reproduce this in FIrefox 51.0.1 (64-bit), but not in latest Chrome. This seems to be related to #12644

[2017-01-31 19:52] HKuz commented on #12979
@ipreira thanks for raising this point - you're right about the pseudo-class selectors not having been introduced yet. I think we can improve this challenge by removing the requirement that the box shadow effect needs to be on the `hover` state. (The challenge is really about how to use the `box-shadow` property, anyway).

I hesitate to reorder the challenges so `Adjust the Hover State of an Ancho

[2017-01-31 20:02] HKuz commented on #12964
@masters-george - are you referencing the challenge `Add a Box-shadow to a Card-like Element`, and that it comes before the `Adjust the Hover State of an Anchor Tag` in the Applied Visual Design section? If so, we just had an issue come up that's similar ( #12979 ). I think taking your point and that issue, we can make the material flow better by removing the `hover` requirement on the box-shadow

[2017-01-31 20:11] QuincyLarson commented on #12923
@randell I agree that it would be best if the code ran immediately when the challenge loaded up so that campers didn't have to run it the first time.

@raisedadead is this something we can do? Would there be any detriments to it, other than the potential for infinite loops?

Perhaps we could only run the code when it's the unchanged challenge seed?

[2017-01-31 20:23] #13009 closed

[2017-01-31 20:32] QuincyLarson commented on #12999
@masters-george @raisedadead we are actually completely removing the videos and need to overhaul our challenge UIs accordingly. I will close this issue and create a new issue for this specific fix.

[2017-01-31 20:32] #12999 closed

[2017-01-31 20:35] QuincyLarson commented on #11907
@kkufieta It has been more than a month, so I am going to close this. If you'd like to create a stand-alone app that helps give campers insight into where they can start, we could help publicize it.

[2017-01-31 20:35] #11907 closed

[2017-01-31 20:44] Greenheart commented on #12978
@kalunlee136 @hisener Technically, parenthesis `()` in JavaScript tells the runtime that there's an expression coming, much like parenthesis are used in maths. `()` can be used to split a long expression into several lines and make it more readable.

Consider the following long expression...
[code]

...that thanks to the `()` could be turned into

[code]

Arrow functions can either consist of a *s

[2017-01-31 20:44] flemm2016an commented on #6258
Hi everyone,

I've tried both ways still won't let me pass challenge... maybe something wrong?

[2017-01-31 20:46] HKuz commented on #12993
Completely agree, thanks for bringing this up @erictleung! I have a page of chicken-scratched notes I used as guidance when looking over the challenges on the curriculum-expansion branch.

In addition to what @no-stack-dub-sack mentions, I also have:
- use short, clear sentences and keep paragraphs short (1-4 sentences), folks are less likely to read a wall of text
- use second person ("you") over

[2017-01-31 21:07] HKuz commented on #12986
@Greenheart - agreed, I think putting the tag on text to show the formatting helps show what it does better than placing it on the (already underlined) links. 👍  We can open this up as Help Wanted, or I could tackle it tomorrow morning 😄

[2017-01-31 21:11] Greenheart commented on #12986
I could fix this now, I've got nothing else to do :smile:

[2017-01-31 21:15] HKuz commented on #12987
@Greenheart - good points! For putting a `code` tag around "uppercase" - when I originally went through this section, I generally put `code` tags around CSS property names, and didn't around the values. (However, I'm sure there's some inconsistency throughout the section). I don't have a preference either way, it was just a convention I followed to keep my head straight during my QA 😃

[2017-01-31 21:22] Greenheart commented on #12987
@HKuz I generally use `<code></code>` or ```` as a way to highlight that something should be read as code, as long as it's related to syntax. I think this makes it clear what you actually can add to your software :blush:

[2017-01-31 21:22] HKuz commented on #12986
Awesome 🎉

[2017-01-31 21:33] Greenheart commented on #12986
@HKuz Should I add `solutions` while I'm at it? I suppose they are used when running `npm test` to verify that all challenges in the seed works properly?

[2017-01-31 21:52] miki123211 commented on #12431
+1. For the time being, it would help to put a hidden instruction that only screen-readers can read that states how to deal with this issue (copy to another editor, edit there, copy back.)

[2017-01-31 22:00] zersiax commented on #12431
How long do we expect this to take? You can add a .sr-only class to a
span that contains that text, but if we leave it in there for too long
someone somewhere is going to forget about it and it will be just sit
there because you guys aren't actually seeing that message :)

[2017-01-31 22:01] miki123211 opened #13013 "screen-readers don't read whether tests pass or fail"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

When we're editing a challenge, we have a list of tests read above the editor, but it's impossible to check if they pass or fail. I suggest adding a textual describtion i.e.
passed: Make sure each of your a elemen

[2017-01-31 22:07] Greenheart commented on #13013
@miki123211 Thanks for reporting this!

I don't know much about accessibility, but would something like an attribute on the test results icon work?
I think there are some attributes made to help screen readers

[2017-01-31 22:14] miki123211 commented on #13013
It might, but we would have to check. I can't even detect that the icon
is here, as far as my screen-reader (NVDA) is concerned, there's
nothing. No unlabeled graphics or image without an alt describtion, just
the name of the test.
I'm using nvda and firefox, newest versions

[2017-01-31 22:14] Greenheart commented on #12987
I'll create a PR for this, and we can continue the discussion there.

[2017-01-31 22:18] Marvive opened #13014 "[beta] Decrease the Opacity of An Element - browser specific test failure"
Challenge [decrease-the-opacity-of-an-element](http://beta.freecodecamp.com/en/challenges/applied-visual-design/decrease-the-opacity-of-an-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/602.4.8 (KHTML, like Gecko) Version/10.0.3 Safari/602.4.8</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[2017-01-31 22:20] QuincyLarson commented on #12842
Thanks everyone. We've now fixed this on staging.

[2017-01-31 22:20] #12842 closed

[2017-01-31 22:20] QuincyLarson commented on #12941
Thanks everyone. We've now fixed this on staging.

[2017-01-31 22:20] #12941 closed

[2017-01-31 22:23] QuincyLarson commented on #12708
We're removing all project videos from our platform and implementing a multi-file editor so campers don't have to use CodePen any more. Please see https://github.com/freeCodeCamp/freeCodeCamp/issues/12753

[2017-01-31 22:23] #12708 closed

[2017-01-31 22:24] QuincyLarson commented on #12848
We're removing all project videos from our platform and implementing a multi-file editor so campers don't have to use CodePen any more. Please see https://github.com/freeCodeCamp/freeCodeCamp/issues/12753

[2017-01-31 22:24] #12848 closed

[2017-01-31 22:31] tommygebru commented on #12842
My apologies, I actually didnt see this thread!

[2017-01-31 22:34] HKuz commented on #12986
You can add solutions 👍

[2017-01-31 22:37] Manish-Giri opened #13015 "Beta: Default HTML/CSS output is not rendered on the right"
#### Challenge Name
Applied Visual Design: Adjust the Width of an Element Using the Width Property
[Challenge Link](http://beta.freecodecamp.com/en/challenges/applied-visual-design/adjust-the-width-of-an-element-using-the-width-property)

#### Issue Description

I just started doing some of the newer additions in beta, and it seems like when you begin a new challenge, none of the current HTML/CSS

[2017-01-31 22:37] Greenheart commented on #12986
@HKuz Nice, I'll fix that when I'm done with my current PR

[2017-01-31 22:38] HKuz commented on #12987
Fair points @Greenheart - and sounds good about the PR 👍

[2017-01-31 22:44] OFFLlNE commented on #13015
@Manish-Giri Thanks for reporting the issue.
This look similar to #12807. So I am closing this issue as a duplicate.

If you think I'm wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2017-01-31 22:44] #13015 closed

[2017-01-31 23:09] QuincyLarson commented on #7697
Campers are [clearly having trouble with this challenge](https://www.google.com/search?q=%22Convert+Celsius+to+Fahrenheit%22&oq=%22Convert+Celsius+to+Fahrenheit%22&aqs=chrome..69i57j69i61l2.2260j0j1&sourceid=chrome&ie=UTF-8#q=%22Convert+Celsius+to+Fahrenheit%22+freecodecamp).

We could move it over to the basic algorithm challenges and make it the first one, since it is quite easy compared to the

[2017-01-31 23:11] no-stack-dub-sack commented on #12966
@HKuz Cool, thanks! I'm going to finish up the section, add a few more comments if I have any, and then we can decide at that point, but I'm thinking opening it up to Help Wanted will prob be best. Will keep you posted.

[2017-01-31 23:15] no-stack-dub-sack commented on #13014
@Marvive I am able to confirm this on Safari, however the solution works correctly in Chrome

[2017-01-31 23:18] QuincyLarson commented on #12762
@raisedadead I talked with @BerkeleyTrue about this a few days ago and he said could tackle it himself, and we set it to blocked.

[2017-01-31 23:21] QuincyLarson commented on #12898
@raisedadead thanks for the analysis. Are you able to reproduce this issue? Do you have any ideas how we might go about fixing this?

[2017-01-31 23:22] QuincyLarson commented on #12410
@billy-reilly that looks like a comprehensive set of tests!

[2017-01-31 23:25] Greenheart opened #13016 "[beta] Add solutions to the Applied Visual Design challenges"
#### Issue Description
To allow `npm test` to properly test challenges, I think we should add solutions for each challenge.

This can be done by adding a solution as a one-line string to each challenge's `solutions` array.
A solution should be based on the `challengeSeed`.

[2017-02-01 00:19] glennbennett opened #13018 "Cant pass due to zoom"
Im on an android phone and the challenge is telling me to change the font size but its not letting me pass and telling me that i have to change my zoom to 100% and i have it as far out as i can

#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-01 00:25] tmcg1 commented on #7697
Skipping it, there is no previous lesson that prepared me for this. I feel dumber than a rock atm.

[2017-02-01 00:30] dhcodes commented on #13014
Does this same thing happen in Firefox? Would the new test fix it?

[2017-02-01 00:54] aj-willi commented on #12472
i would like to contribute, where can i start? 💃

[2017-02-01 01:06] light-house opened #13019 "How do I start?"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-01 01:22] no-stack-dub-sack commented on #13014
@dhcodes _If_ the same thing happens in FF, and I'm not sure that it does, the new test should fix it, as long as it's not off by more than a point one, and I can see a browser registering `0.7` as `0.6` or less.  Returning `"0.699999988079071"` is one thing, it's practically the same as `0.7`, but it would be way off at more than a tenth discrepancy.

[2017-02-01 02:07] dhcodes commented on #13019
@light-house make an account on [www.freecodecamp.com](www.freecodecamp.com) and then click on Map. Closing this unless you want to reopen it and add details.

[2017-02-01 02:07] #13019 closed

[2017-02-01 02:07] no-stack-dub-sack commented on #13019
@light-house When reporting an issue, please provide some level of detail so we know how to help you. If you have a general question, please visit the [forum](www.forum.freeCodeCamp.com) or our [Gitter chatrooms](https://gitter.im/FreeCodeCamp/home).

If you are looking to get started with the freeCodeCamp curriculum, please visit https://www.freecodecamp.com/email-signup

[2017-02-01 02:09] mradams14 opened #13020 "Between the style tags, give the p elements font-size of 16px. Browser and Text zoom should be at 100%. Problem"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22class%3D%22font-size%2016px%22%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20

[2017-02-01 02:09] dhcodes commented on #13018
@glennbennett since you're on android, it's more likely that there is a non-breaking space issue. Try removing all the spaces from the css you add. See https://github.com/freeCodeCamp/freeCodeCamp/issues/12574

[2017-02-01 02:09] #13018 closed

[2017-02-01 02:10] masters-george commented on #12964
Hi Heather K.

Thanks for getting back to me. I would agree with you. When we cover the
hover state with anchors (the most common use case), then it would make
sense to follow it with another module that says essentially by the way you
can use the hover state with other tags (such as the paragraph tag).

George Masters
instructional Designer /Trainer
408.242.4632

On Tue, Jan 31, 2017 at 12:03 PM,

[2017-02-01 02:10] dhcodes commented on #13020
@mradams14 you have an error in your code. Please consider asking for help in the chat room by clicking the Help button on the challenge page.

[2017-02-01 02:10] #13020 closed

[2017-02-01 02:10] no-stack-dub-sack commented on #12993
@erictleung @HKuz Awesome! I think by combining the material from the above 2 comments, we could have a super duper comprehensive guide that will be **_incredibly_** helpful for newcomers!

This will be great, especially if we make sure to link to the newly created document in `CONTRIBUTING.md`!

[2017-02-01 02:32] no-stack-dub-sack commented on #12966
### [Add Methods After Inheritance](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/add-methods-after-inheritance):

This challenge is slightly confusing because of the following test case:
[code]
The solution for this part is looking for this:
[code]
and while `Dog.prototype.hasOwnProperty('bark')` does return `true` (so this is, of course, correct), the source of the confu

[2017-02-01 02:45] Manish-Giri commented on #12979
@HKuz I'd like to take this one up!

[2017-02-01 03:15] raisedadead commented on #12898
@QuincyLarson yes, I can reproduce the issue, as for the fix, I am unfortunately not the expert. Maybe @BerkeleyTrue , @Bouncey and others are more suited to guide on a fix.

[2017-02-01 03:35] no-stack-dub-sack opened #13021 "[beta] OOP Section - some challenges will solve with NO code (if solved once first)"
I'm curious if anyone can reproduce this... Take this challenge for example:

http://beta.freecodecamp.com/en/challenges/object-oriented-programming/create-a-basic-javascript-object

If I solve this challenge, but then 'X' out of the modal and stay on the page, I can then change or even completely clear the code and the challenge will still pass. This is not locally, this is on the beta site. I ca

[2017-02-01 03:39] dhcodes commented on #13014
@no-stack-dub-sack I went ahead and tested it and it would not fix it in Firefox because the `.css` tests are not working there. Still investigating that one. It should fix it in Safari.

[2017-02-01 03:39] raisedadead commented on #12923
@QuincyLarson well in a perfect world, we should be able to execute the code only on the jQuery challenges.

I am not 100% percent sure, but yup I'll give it a try and update.

[2017-02-01 03:46] no-stack-dub-sack commented on #12966
### [Use Closure to Protect Properties Within an Object from Being Modified Externally](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/use-closure-to-protect-properties-within-an-object-from-being-modified-externally):

Small typo:

![image](https://cloud.githubusercontent.com/assets/18563015/22494631/fdc3da3c-e806-11e6-86ec-e8dc67bb1b83.png)

I think supposed to be "...out

[2017-02-01 04:10] no-stack-dub-sack commented on #12966
### [Understand the Immediately Invoked Function Expression (IIFE)](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/understand-the-immediately-invoked-function-expression-iife):

No major problems with this challenge - just a suggestion - while I realize anonymous `IIFE`'s are the more common pattern (and the pattern that's used in the next challenge), perhaps here is a good

[2017-02-01 04:19] no-stack-dub-sack commented on #12966
### [Use an IIFE to Create a Module](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/use-an-iife-to-create-a-module):

I'd like to get some thoughts on this one... my thinking is that I don't think the challenge does an adequate job of explaining why an `IIFE` makes sense in this scenario. Here, there does not seem to be a benefit to organizing these mixins into an `IIFE`.

[2017-02-01 04:26] no-stack-dub-sack commented on #13014
@dhcodes Ahh, so it's not fixing in FF, but for a different reason altogether right? Related to #12644& #13005? Assuming that issue was resolved though, and that it is unrelated to this, I think this solution would do the trick.

Knowing it at least fixes in Safari, what do you think the best way to proceed is? Should we fix this and just make sure to circle back and test it in FF once the other i

[2017-02-01 05:35] Rickgonnz opened #13023 "Confirm the Ending"
hi guys i think i found an issue or something i doing wrong please check

function confirmEnding(str, target) {

  for (var i = 0; i < str.length; i++){
    for (var j = 0; j < target.length; j++){
      if (str.substr(-1) == target.substr(-1)){
        return true;
      }else {
        return false;
      }
    }
  }
}
confirmEnding("Bastian", "n");

and this point should say true not false

con

[2017-02-01 06:58] abelsmoker commented on #13023
On Jan 31, 2017 9:37 PM, "Ricardo González" <notifications@github.com>
wrote:

hi guys i think i found an issue or something i doing wrong please check

function confirmEnding(str, target) {

for (var i = 0; i < str.length; i++){
for (var j = 0; j < target.length; j++){
if (str.substr(-1) == target.substr(-1)){
return true;
}else {
return false;
}
}
}
}
confirmEnding("Bastian", "n");

and this poi

[2017-02-01 07:02] shikhar0507 commented on #13005
I cannot reproduce in firefox 50.1.0 (64 bit) nor in Chrome 55.0.2883.87. Working for me in both the browsrs

[2017-02-01 07:23] erictleung commented on #12993
Within the `./seed/` directory might be a good place to place this guide. What do you all think?

So I remember when we first started putting example code into block quotes. Initially, this was only for multi-line code examples. Just a single line of code used as an example would have been in `<code>` tags. Should we make it more uniform and have all code examples, not in inline paragraphs be in b

[2017-02-01 08:46] OFFLlNE commented on #13023
Thank you for reporting your issue.

Your code is wrong. What is the reason of your for-loops if you are doing the same stuff over and over..
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. Y

[2017-02-01 08:46] #13023 closed

[2017-02-01 09:10] seenu511-hcl opened #13024 "Unable to Setup the Cloud9 account for NODE JS Tutorial"
Hi Team ,

I have started the tutorial for Node.js when tried to setup the Cloud9 IDE i am facing the payment issue for this do  we have any workaround for this .(see an attachment)..  please do needfull asap.

![ccard](https://cloud.githubusercontent.com/assets/21247881/22500551/e6ae3782-e88a-11e6-82f2-302166ce7a8f.PNG)

Thanks,
Srinivas.

[2017-02-01 09:22] hisener commented on #13024
Actually, you should be able to create one private workspace and unlimited public workspaces in c9.io free plan. So, you do not have to upgrade. Check your dashboard, maybe you have already a private workspace.

https://c9.io/pricing

[2017-02-01 09:48] #12984 closed

[2017-02-01 10:06] Greenheart commented on #12966
@no-stack-dub-sack I agree that this isn't the best example of an IIFE. Would it be better if we provide a `module` as an example? I think the core value of the IIFE is that you can create private properties and methods of your objects. It is really useful for decreasing the ways others can (mis)use your software in the hope that it makes things more reliable.

For example, you might have a small

[2017-02-01 10:49] Greenheart opened #13025 "[beta] Improve challengeSeed for "ES6: Scopes and the var keyword""
#### [ES6: Scopes and the var keyword](http://beta.freecodecamp.com/en/challenges/es6/scopes-and-the-var-keyword)

#### Issue Description
The editor shows an error for line 6 of the initial `challengeSeed`, stating that we shouldn't create functions within loops. We can avoid this by moving this function definition out of the loop and only reference it in the loop.

Updated `challengeSeed`:
[code]

[2017-02-01 10:55] Greenheart commented on #13021
I can confirm this for `Chrome 56.0.2924.76 (64-bit)` but not in `Firefox 51.0.1 (64-bit)`.

Nothing appearing in the console.

[2017-02-01 10:59] Greenheart commented on #13014
@no-stack-dub-sack I'd say fix this for Safari now and deal with Firefox if it occurs in the future :blush:

I think `.css()` or possibly CSP-issues with `iframe`s are to blame for Firefox issues lately. This seems to affect Safari.

[2017-02-01 11:28] Greenheart commented on #13016
I'm working on a PR for this.

[2017-02-01 11:43] nazmul202101 commented on #3329
Thanks

[2017-02-01 12:06] HKuz commented on #12993
I like the `blockquote` style, but I generally found that single-line code examples were harder to read in them. If the example were wider than the blockquote box size, you'd have to scroll horizontally, and the scroll bar (while partially transparent) somewhat got in the way of reading the example. If we add some extra padding so the scroll bar shows up completely below the example text, it would

[2017-02-01 12:20] HKuz commented on #12979
Great, thanks @Manish-Giri 🎉 👍

[2017-02-01 12:47] Greenheart commented on #13016
As I couldn't get my solutions to pass `npm test`, I did some research. Whatever I did, the test runner returned `✖ SyntaxError: Unexpected token <`.

After investigating other `seed`-files, I found that no HTML-based challenges even uses the `solutions` array. Next, I looked for the `npm test` script in `package.json` and found the file responsible for running tests, `seed/test-challenges.js`.

A

[2017-02-01 13:21] seenu511-hcl commented on #13024
i can't able to setup for free its my first time registration don't no why i cant signup freely to use that IDE what might be the rootcause for it..?

Need Help..

[2017-02-01 13:41] Ambition101 commented on #5293
I figured out how to fix this issue. Look at the very top of your code editor, and if the first line is space down then all you have to do is bring that line to the very top. The problem should be fixed after that. Refer to the images attached.
![screen shot 2017-02-01 at 8 39 56 am](https://cloud.githubusercontent.com/assets/20441870/22508973/26a59ece-e85a-11e6-8291-4c7dc87bcf8b.png)
![screen sho

[2017-02-01 13:45] OFFLlNE commented on #12683
I deleted cache.
But still seeing this issue. On like 4-6 challenges in a row

I will reopen just in case till someone can tell me why does it still happen despite the new merge.

[2017-02-01 14:02] Greenheart commented on #12683
@OFFLlNE I don't know if it made it into the new push to the beta site since Berkeley said he pushed at [22:35 (UTC + 1)](https://gitter.im/FreeCodeCamp/CoreTeam?at=5891033dfba5bfea06b197eb) but I merged two hours after his message.

I think this will be fixed in at most 2-3 days :blush:

[2017-02-01 14:04] OFFLlNE commented on #12683
Great, think it deserves to be open meanwhile.

[2017-02-01 14:09] raisedadead commented on #13024
Please check #12071

[2017-02-01 14:09] #13024 closed

[2017-02-01 14:12] bennern21 opened #13026 "Help"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2017-02-01 14:24] OFFLlNE commented on #13026
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-02-01 14:24] #13026 closed

[2017-02-01 14:40] Greenheart commented on #4201
I've got some ideas on how to solve this. Please check https://github.com/freeCodeCamp/freeCodeCamp/issues/13016#issuecomment-276649220 :blush:

[2017-02-01 14:46] delbertlegg opened #13027 "Pig Latin Challenge - tests do not cover edge cases"
@Greenheart I was reviewing old submissions and noticed that my implementation did not correctly return words that are all consonants (such as "my") or where the first vowel appears at index > 2 (such as "phrase"), but did pass all the tests provided. Recommend adding these edge cases to the test suite (can get crazy like adding "schwartz" or something like that).

Offending solution (no judgement

[2017-02-01 14:54] Greenheart commented on #13027
@delbertlegg Thanks! Could you edit your post and include the solution that causes the faulty behavior? I need it to reproduce :blush:

[2017-02-01 15:06] DizzysContent opened #13029 "Could only pass when I copied and pasted"
Challenge [Create a Set of Checkboxes](https://www.freecodecamp.com/challenges/create-a-set-of-checkboxes#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%

[2017-02-01 15:07] delbertlegg commented on #13027
@Greenheart Done!

[2017-02-01 15:12] nehaypatel opened #13030 "The input element value is not working"
Challenge [Add Placeholder Text to a Text Field](https://www.freecodecamp.com/challenges/add-placeholder-text-to-a-text-field#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-fam

[2017-02-01 15:45] ChenxingZhang commented on #13030
Why you add an input box after the img element after you modified the one on the bottom? If you set the placeholder of that higher input box to "cat photo URL", you'll pass the test.

[2017-02-01 15:51] dhcodes commented on #13030
@nehaypatel you have an error in your code. Check out the chat room to ask for help by clicking the Help button on the challenge page.

[2017-02-01 15:51] #13030 closed

[2017-02-01 15:55] dhcodes commented on #13029
@DizzysContent the instructions indicate to add 3 checkbox inputs so that's why you needed three of them. This is intentional.

[2017-02-01 15:55] #13029 closed

[2017-02-01 16:01] Greenheart commented on #13027
I can confirm that the test cases don't handle all edge cases yet.
* `"schwartz"` would be a good test case for handling vowels with index > 2.
* `"rhythm"` would be a good test case for handling words with only consonants.

I think the following test cases could solve this:
[code]

@delbertlegg Do you want to fix this and submit a PR? If so, [this guide](https://github.com/freeCodeCamp/freeCodeCa

[2017-02-01 16:02] Aleksey3107 opened #13031 "Note "#target5" is duplicated"
Challenge [Clone an Element Using jQuery](https://www.freecodecamp.com/challenges/clone-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target1%22).prop(%22disabled%22%2C%20true)%3B%0A%20%20%20%20%24(%22%23target4%22).remove()%3B%0A%20%20%20%20%24(%22%23target2%22)

[2017-02-01 16:06] delbertlegg commented on #13027
I'd be happy to fix it. I'll work on it this evening...thanks!

[2017-02-01 16:16] msweeneys commented on #2393
have trouble with this one

Nest all of your radio buttons inside one div with the class row.
Nest each of your radio buttons inside its own div with the class col-xs-6.
Make sure each of your div elements has a closing tag.

[2017-02-01 16:24] dhcodes commented on #12644
As an update to this, I wouldn't recommend updating CSP yet because it looks like the frame-src deprecation error currently happening will be fixed with frame-src becomes undeprecated ([link](https://w3c.github.io/webappsec-csp/)) very soon.

Fwiw, I also updated the CSP to childsrc to see if it fixes the `.css` issues with Firefox and while it did remove the CSP error in the console, it does not

[2017-02-01 16:30] ajain17 commented on #13031
I can verify the issue on live site.

[2017-02-01 16:32] #12716 closed

[2017-02-01 16:37] dhcodes commented on #13031
@Aleksey3107 Thanks for submitting. This is a known issue and will not be corrected as the new update (beta) will fix it. See: https://github.com/freeCodeCamp/freeCodeCamp/issues/5072

[2017-02-01 16:37] #13031 closed

[2017-02-01 16:42] ajain17 commented on #13031
@dhcodes Can you point me to the PR for this issue? Would like to know the fix. Thanks

[2017-02-01 16:44] dhcodes commented on #13031
@ajain17 it wasn't a hardcoded fix. It was the update to react I believe. See the final post in the #5072 thread for the PR.

[2017-02-01 16:44] ajain17 commented on #12925
Update: I got busy with other 2 PRs. will work on this today.

[2017-02-01 16:51] txsrangers opened #13032 "Tutorial keeps getting killed."
#### Challenge Name

https://www.freecodecamp.com/challenges/manage-packages-with-npm

#### Issue Description

When you get to the 8th tutorial in Cloud9, "Publish", when you press enter, all that happens is that "Killed" displays on the screen. I assumed that it was because they removed that tutorial from the program because I was able to run the 9th tutorial, BUT that was the only one I could ru

[2017-02-01 16:54] Aleksey3107 commented on #13031
@dhcodes thank you. Sorry for disturbing, I haven't seen this thread :(

[2017-02-01 16:55] txsrangers opened #13033 "Tutorial keeps getting killed in Cloud9"
Challenge [Manage Packages with npm](https://www.freecodecamp.com/challenges/manage-packages-with-npm) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

When you get to the 8th tutorial in Cloud

[2017-02-01 17:01] #12899 closed

[2017-02-01 17:05] #12987 closed

[2017-02-01 17:06] dhcodes commented on #13033
This is a duplicate issue.

[2017-02-01 17:06] #13032 closed

[2017-02-01 17:09] dhcodes commented on #13033
@txsrangers Unfortunately, freecodecamp does not manage the 'how-to-npm' series and these exercises will be replaced with some that freecodecamp contributors have created. If you want to open an issue regarding this, the best place would be the [how-to-npm repo](https://github.com/workshopper/how-to-npm/issues).

[2017-02-01 17:09] #13033 closed

[2017-02-01 17:14] dhcodes commented on #13031
@Aleksey3107 no worries.

[2017-02-01 17:16] txsrangers opened #13034 "Tutorial keeps getting killed"
Challenge Name
https://www.freecodecamp.com/challenges/manage-packages-with-npm

Issue Description
When you get to the 8th tutorial in Cloud9, "Publish", when you press enter, all that happens is that "Killed" displays on the screen. I assumed that it was because they removed that tutorial from the program because I was able to run the 9th tutorial, BUT that was the only one I could run after #8.

[2017-02-01 17:17] #13034 closed

[2017-02-01 17:22] dhcodes commented on #12698
@HKuz I've noticed that attributes (ex. text-transform) in the titles of the beta challenges have an odd formatting. Currently, they are like this:
ex. `Use the Text-transform Property...`

I think this should be:
`Use the text-transform Property...`

where the attribute is lowercase in the title. If you agree, I'll add it to your list above and fix all with a PR. Happy to hear others' opinions on

[2017-02-01 17:33] texas2010 commented on #5293
@Ambition101,
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

by the way, this challenge dont have a issue anymore.  it suppose to be fine.   plus this issue is very old.

[2017-02-01 17:34] texas2010 commented on #2393
@msweeneys
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-01 17:43] Greenheart commented on #12847
@tommygebru Could you explain this further? :blush:

[2017-02-01 17:43] Ambition101 commented on #5293
@texas2010 Thank you for your kind message. Please excuse my helpful comment as I'm new to the community.

[2017-02-01 17:55] sdiscul4 commented on #5964
the correct answer is

// Setup
function abTest(a, b) {
  // Only change code below this line
  if(a < 0 || b < 0){
    return undefined;
  }
  // Only change code above this line

  return Math.round(Math.pow(Math.sqrt(a) + Math.sqrt(b), 2));
}

// Change values below to test your code
abTest(2,2);

happy codding!!!!!!!!!!!!!!!

[2017-02-01 18:00] TheIncorrigible1 commented on #12806
Until I read your issue, I didn't understand what syntax the interpreter was expecting, either.  The mention of JSON additionally was distracting if we are not learning/using it in the exercise.  It may be common sense to people who are coming from a programming background, but with only hobbyist experience, it was unclear.

[2017-02-01 18:01] aj-willi commented on #12472
i have noticed the lessons also will need to reworded with the new freeCodeCamp phrase, how can I help with this?

[2017-02-01 18:03] texas2010 commented on #5293
@Ambition101 no problem.

[2017-02-01 18:03] texas2010 commented on #5964
@sdiscul4
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-02-01 18:18] #12925 closed

[2017-02-01 18:55] hudsontaylor opened #13036 "[Beta] Challenge Editor/Result Conflict"
#### Challenge Name

http://beta.freecodecamp.com/en/map

#### Issue Description

I have noticed that each time I move onto a new challenge the old code still displays on the iPhone screen even thought the code in the text editor is completely new. For instance, if my previous challenge displays a blue box on the iPhone, but my new challenge starts off with code for a red triangle (or something),

[2017-02-01 19:10] HKuz commented on #12698
@BrendanSweeny - nice job on your PR, I saw it was just merged! I updated the structure of the comment at the top to break down what's been done more accurately.

@dhcodes - yes, we should make sure titles are all consistent, with your suggestion that the property names are lowercase. That'd be a huge help if you fix the oddball ones 👍  The titles in this issue almost all need to be re-worked into

[2017-02-01 19:12] hudsontaylor opened #13037 "[Beta] Spanish Translation Error"
#### Challenge Name

Not applicable.

#### Issue Description

In my account settings, if I switch my account language to Spanish, an alert pops up saying, "Your language has been updated to 'Spanish'". It seems like an oxymoron to tell someone in English that the language has been switched to Spanish. Shouldn't it be "Su idioma se ha actualizado a 'Español'" instead?

#### Browser Information

* B

[2017-02-01 19:23] erictleung commented on #12993
@HKuz agreed. There hasn't been an elegant way of viewing those wide, single lines of code.

[2017-02-01 19:25] erictleung commented on #13037
@hudsontaylor thanks for the issue. Agreed, switching to a different language should have all the notifications also in that language.

[This area of the codebase](https://github.com/freeCodeCamp/freeCodeCamp/blob/9581beb05ea467332187725e4e6d37282a8c07f6/server/boot/settings.js#L47) is where that change needs to go.

[2017-02-01 19:37] Greenheart commented on #12610
@breatheloud Thanks for reporting this! :smile:

I like your suggestions - The instructions don't say that all ranges will be starting with the letter "a", so this challenge needs better test cases.

I'll create a PR with the test cases you suggested and get this fixed shortly :blush:

[2017-02-01 19:40] breatheloud commented on #12610
Yeah, exactly! Thanks @Greenheart

[2017-02-01 19:53] tsalexey544 opened #13038 "ref site doesnt work for almost a month"
Challenge [No repeats please](https://www.freecodecamp.com/challenges/no-repeats-please) has an issue.

The ref site doesnt work for almost a month
https://www.mathsisfun.com/combinatorics/combinations-permutations.html

I advise changing it to khanacademy video tut and wikipedia

[2017-02-01 20:14] ahsan3296 opened #13039 "Use the Bootstrap Grid to Put Elements Side By Side"
#### Challenge Name

please see the red highlighted box in the screenshot

 hi please look on the heading I've highligted I have completed my task but I was having a doubt that why does the three buttons (LIKE) (INFO) and (DELETE) have spaces between them when we are consuming are 12 grids while dividing them in row

![issue](https://cloud.githubusercontent.com/assets/25439887/22524347/e8463b14-e8

[2017-02-01 20:17] OFFLlNE commented on #13039
Thank you for reporting your issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free-code-camp-off

[2017-02-01 20:17] #13039 closed

[2017-02-01 20:27] ajain17 commented on #13038
Hi @tsalexey544 , are you unable to load the site https://www.mathsisfun.com/combinatorics/combinations-permutations.html ? Its loading fine for me.

[2017-02-01 20:34] tsalexey544 commented on #13038
hi @ajain17, yes. I am located in russia. When I open it I get

[2017-02-01 20:49] JacinthC commented on #5716
This challenge is hard to understand..some of the solutions here are good, but for example
myStr = myStr.toString().replace(/,/g,""); hasn´t been covered so far (the replace part), so it´s not a good solution, in my opinion...

[2017-02-01 21:31] JosephBywater commented on #13013
Would this help? https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA

[2017-02-01 21:40] hallaathrad commented on #5716
@freeCodeCamp/moderators This topic has re-awaken. Could we be falling into a cognitive bias, assuming it's more understandable than it really is?

[2017-02-01 21:51] ajain17 commented on #13038
I am able to access it. Try deleting your cookies and clearing your cache and see if that helps.

[2017-02-01 22:09] bottled-ant commented on #12101
@QuincyLarson would you please remove me from free code camp mailing list. I would appreciate it.
I'm unable to login through github account or any other way to edit my account settings

tried to login with github -> ups, something went wrong
tried to register with email -> email already exists
tried to reset password -> ups, something went wrong
tried to login with email -> invalid user or pass

[2017-02-01 22:12] bottled-ant commented on #12101
![a map to learn to code and become a software engineer free code camp - mozilla firefox_001](https://cloud.githubusercontent.com/assets/16694358/22528499/791a73c0-e8cb-11e6-86b1-fabb6b0eb209.png)

[2017-02-01 22:13] bottled-ant commented on #12101
![sign in to free code camp using your email address free code camp - mozilla firefox_002](https://cloud.githubusercontent.com/assets/16694358/22528524/9fd3c84a-e8cb-11e6-810c-35ba213b00a7.png)

[2017-02-01 22:14] bottled-ant commented on #12101
these are the only to screens I see... It makes no sense and is plain annoying can't login in any way...

[2017-02-01 22:28] micheal-adrian opened #13041 "false evaulates to true, since Trump's election :|"
#### Challenge Name

https://www.freecodecamp.com/challenges/use-conditional-logic-with-if-statements

#### Issue Description
 arguments false and 0 pass the challenge

#### Your Code

function trueOrFalse(wasThatTrue) {
  if (wasThatTrue) {
    return "Yes, that was true";
  }
  return "No, that was false";
}
trueOrFalse(false);

[2017-02-01 22:32] Greenheart commented on #13038
@tsalexey544 I'd recomend you to search for the terms "Permutation" and "Combination" - there might be other resources that could help you. If not, feel free to ask in any of our [chat rooms](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390) or in [our forum](https://forum.freecodecamp.com).

Good luck, and happy coding! :blush:

Closing this as not related to FCC. Thanks

[2017-02-01 22:32] #13038 closed

[2017-02-01 22:38] Greenheart commented on #13036
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #12807 and #12859, so I am closing it as a duplicate.

If you think I'm wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2017-02-01 22:38] #13036 closed

[2017-02-01 23:02] Manish-Giri commented on #13041
@michael-krebs could you elaborate? If a value is not truthy, like `false`, you'll be returned `"No, that was false";`, and the challenge will pass.

[2017-02-01 23:08] dregum opened #13042 "Use appendTo to Move Elements with jQuery BUG"
Hello, looks like someone reported this 2 years ago, but it seems it hasn't been fixed.

For challenge Challenge [Use appendTo to Move Elements with jQuery] it says to do

$("#target4").appendTo("#left-well");
to change target4 to the left
but it should read
$("#target4").appendTo($("#left-well"));

Challenge [Use appendTo to Move Elements with jQuery](https://www.freecodecamp.com/challenges/use-a

[2017-02-01 23:09] OFFLlNE commented on #13041
Thank you for reporting your issue.

Your code is wrong. In your case the tests would kind of work, but it does want a different solution. If the input would be trueOrFalse(2<3); then it returns a wrong thing.

Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our

[2017-02-01 23:09] #13041 closed

[2017-02-01 23:11] Greenheart opened #13043 "[beta] Improve Instructions for "Regular Expressions: Ignore Case While Matching""
Challenge [ignore-case-while-matching](http://beta.freecodecamp.com/en/challenges/regular-expressions/ignore-case-while-matching) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.76 Safari/537.36</code>.

It feels like these two sentences could be combined into a shorter alternative.

I suggest we replace the sentences above

[2017-02-01 23:14] OFFLlNE commented on #13042
Thank you for reporting that issue
Both ways are correct.
Either $( "h2" ).appendTo( $( ".container" ) ); or $( "h2" ).appendTo( ".container" ); According to [Jquery appentTo documentation](http://api.jquery.com/appendto/).

Currently you are not doing what the task is telling you to do.
Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will ta

[2017-02-01 23:14] #13042 closed

[2017-02-01 23:26] no-stack-dub-sack commented on #12966
@Greenheart Well in the last of the 2 IIFE challenges here, it is introduced as a module pattern, and I don't have an issue with that, I just think it could be more clearly explained _why_ use an IIFE, and that an IIFE does not necessarily have to be present to achieve the same functionality. I think this says it all:

If we can just explain this, and let the user know "you can achieve the same fu

[2017-02-01 23:28] Greenheart opened #13044 "[beta] Improve Instruction for "Regular Expressions: Match Single Character with Multiple Possibilities""
Challenge [match-single-character-with-multiple-possibilities](http://beta.freecodecamp.com/en/challenges/regular-expressions/match-single-character-with-multiple-possibilities) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.76 Safari/537.36</code>.

[code]

This challenge asks me to "count the number of vowels". This made

[2017-02-01 23:34] no-stack-dub-sack commented on #13021
@Greenheart any idea what the issue might be? Nothing looks terribly different in the seed code to me except no `tail` - could that have something to do with it?

[2017-02-01 23:34] dregum commented on #13042
whoops sorry!

On Wed, Feb 1, 2017 at 6:16 PM, Lauri <notifications@github.com> wrote:

--
-Andre

[2017-02-01 23:35] no-stack-dub-sack commented on #13014
@Greenheart Should I just go ahead an do it? Or do you think we should open this one up? It's a pretty simple fix. On the other hand, I already know this issue and don't mind at all

[2017-02-01 23:36] Greenheart commented on #12966
@no-stack-dub-sack This! :point_up:

I took the freedom to compile it and make some minor changes. Something like this is what we need :blush:
`An <dfn>immediately invoked function expression</dfn> (IIFE) is often used to group related functionality into a single object or module. While the same functionality can be achieved without an IIFE, its core value in this context is that you can create pr

[2017-02-01 23:38] Greenheart commented on #13021
@no-stack-dub-sack No idea ^^

[2017-02-01 23:42] Greenheart commented on #13014
@no-stack-dub-sack I don't know actually, we don't have many "first-timers-only" open at the moment, so I think we should spare whatever we can for new contributors.

**Fun fact:** I just did the exact opposite without realizing a few hours back! I was in patch-mode... :neutral_face:

[2017-02-02 00:03] Greenheart opened #13045 "[beta] Clarify Instruction for "Regular Expressions: Match Characters that Occur One or More Times""
Challenge [match-characters-that-occur-one-or-more-times](http://beta.freecodecamp.com/en/challenges/regular-expressions/match-characters-that-occur-one-or-more-times) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.76 Safari/537.36</code>.

This is not a bug, but something I suspect could confuse people.

I think the secon

[2017-02-02 00:18] mlosk opened #13046 "what i am i doing wrong?"
Challenge [Specify How Fonts Should Degrade](https://www.freecodecamp.com/challenges/specify-how-fonts-should-degrade#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%3

[2017-02-02 00:18] Greenheart opened #13047 "[beta] Missing semicolon in challengeSeed for "Regular Expressions: Find Characters with Lazy Matching""
Challenge [find-characters-with-lazy-matching](http://beta.freecodecamp.com/en/challenges/regular-expressions/find-characters-with-lazy-matching) has an issue.

[code]

The first line of the `challengeSeed` for this challenge needs a semicolon to prevent the editor from showing a warning when the challenge loads.

If you want to fix this, please read [CONTRIBUTING.md](https://github.com/FreeCodeCa

[2017-02-02 00:18] erictleung commented on #13043
Sounds good to me. I wrote these instructions and thought it would be nice to preface the introduction with some motivation. But I also like conciseness 👍

So the third paragraph should now read

[2017-02-02 00:19] no-stack-dub-sack commented on #13014
@Greenheart haha, ok let's do it then. Opening this up to first timers only, the task being to change the code on [this line](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/01-responsive-web-design/applied-visual-design.json#L823) from
[code]
to
[code]
**Contributors:** please leave a comment and let us know you are working on this! See an explanation in the above commen

[2017-02-02 00:19] mlosk commented on #13046
when i delete the " surrounding lobster, in the h2 element, then it wont let me pass do to the fact that it lacks that element. it seems as if they cancel each other out. help!

[2017-02-02 00:20] erictleung commented on #13044
@Greenheart ah I must have been a little lazy to mislead people in the instructions 😆  This change sounds good to me.

[2017-02-02 00:20] Greenheart commented on #13046
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-02-02 00:20] #13046 closed

[2017-02-02 00:23] Greenheart commented on #13044
@erictleung It happens to the best of us! :wink:

[2017-02-02 00:23] mlosk commented on #13046
No one had responded in the chat room. I am desperate!
On Wed, Feb 1, 2017 at 4:22 PM Samuel Plumppu <notifications@github.com>
wrote:

[2017-02-02 00:24] micheal-adrian commented on #13041
Hi, my code is intentionally wrong. To demostrate. It fails below the
console yet passes the challenge.

On Feb 1, 2017 6:04 PM, "Manish Giri" <notifications@github.com> wrote:

@michael-krebs <https://github.com/michael-krebs> could you elaborate? If a
value is not truthy, like false, you'll be returned "No, that was false";,
and the challenge will pass.

—
You are receiving this because you auth

[2017-02-02 00:25] micheal-adrian commented on #13041
Yes,
I know my code is wrong, intentinally. Thats for the feed back. It returns
false but yet th challenge is passed. Was just bring that to the attention
of he test writer

On Feb 1, 2017 6:11 PM, "Lauri" <notifications@github.com> wrote:

[2017-02-02 00:30] erictleung commented on #5716
@hallaathrad quite possible. I think the vague instructions and confusion might be coming from the last sentence

The "intended" effect can be interpreted in may ways. This could be changed to something like

[2017-02-02 00:30] ty2k commented on #13046
Hi @mlosk, right now you are commenting out the "Lobster, Monospace" font families inside of your <style></style> tags. What the challenge wants is for your to comment out the "call out to Google", meaning the link in your first line of code.

[2017-02-02 00:31] Greenheart opened #13048 "[beta] Fix <code> formatting for "Regular Expressions: Find Characters with Lazy Matching""
Challenge [find-characters-with-lazy-matching](http://beta.freecodecamp.com/en/challenges/regular-expressions/find-characters-with-lazy-matching) has an issue.

As shown in the image below, the final sentence is formatted as `<code>`.
![code-format](https://cloud.githubusercontent.com/assets/6125097/22532336/d5097206-e8e6-11e6-812e-5926ac928c81.png)

Fix this by moving the `<code>` tag to come jus

[2017-02-02 00:34] Greenheart commented on #13046
@mlosk Sorry to hear that. They are getting quite busy these days!

I can recommend you to take a look at the [forum](https://forum.freecodecamp.com), where you can get help in a more relaxed environment.

Good luck! :blush:

[2017-02-02 00:41] ankitdwivedi23 commented on #13047
Hi, I would like to fix this issue.

[2017-02-02 00:45] Greenheart opened #13049 "[beta] Missing semicolons in challengeSeed for "Regular Expressions: Find One or More Criminals in a Hunt""
Challenge [find-one-or-more-criminals-in-a-hunt](http://beta.freecodecamp.com/en/challenges/regular-expressions/find-one-or-more-criminals-in-a-hunt) has an issue.

[code]

**Hey, contributor!**
* See #13047 for more detailed instructions on how to contribute

* Add semicolons to [each line with code](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/02-javascript-algorithm

[2017-02-02 00:51] Greenheart opened #13050 "[beta] Missing semicolon in challengeSeed for "Regular Expressions: Match Beginning String Patterns""
Challenge [match-beginning-string-patterns](http://beta.freecodecamp.com/en/challenges/regular-expressions/match-beginning-string-patterns) has an issue.

[code]

**Hey, Contributor!**
* See #13047 for a more detailed instruction on how to get started.
* Add a semicolon to [this line](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/02-javascript-algorithms-and-data-struct

[2017-02-02 00:52] hallaathrad commented on #5716
That does seem quite more legible. However, I'll defer that judgment to others.
Let's hear you, people.

[2017-02-02 00:53] no-stack-dub-sack commented on #12472
@QuincyLarson @raisedadead Ah! I got one more place - Twitch! How could we forget!? 😄  Not sure who is in charge of this, but I just want to know for sure whether or not we can do it, because if I change to instructions for the twitch challenge to `freeCodeCamp` for "users who are usually online" not sure if the API will be sensitive to that case change or not...

[2017-02-02 00:53] Manish-Giri commented on #13048
@Greenheart I'll do this..

[2017-02-02 00:58] Manish-Giri commented on #13043
I'll take this up..

[2017-02-02 01:00] Manish-Giri commented on #13044
I'll do this too, since the change sounds similar to the other two..

[2017-02-02 01:07] Manish-Giri commented on #13045
ooh, missed this. Will do this too!

[2017-02-02 01:21] micheal-adrian commented on #13041
Yikes, I'm mentally challenged.  Thanks M-G :D

[2017-02-02 01:23] Greenheart opened #13051 "[beta] Consider splitting "Regular Expressions: Positive and Negative Lookahead" into two challenges"
Challenge [positive-and-negative-lookahead](http://beta.freecodecamp.com/en/challenges/regular-expressions/positive-and-negative-lookahead) has an issue.

Since this challenge has a pretty long instruction and covers two topics (positive and negative lookahead), I think we should consider splitting this into two separate challenges.

[2017-02-02 01:24] ShelbyF73 opened #13052 "The H1 element text "I am blue!" changed color on the screen, but the check list says that it is not changing color"
![rgb to mix colors](https://cloud.githubusercontent.com/assets/25463300/22533444/debcf058-e8b3-11e6-8b67-474abab74ce5.png)
Challenge [Use RGB to Mix Colors](https://www.freecodecamp.com/challenges/use-rgb-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20rgb(255%2C%200%2C%200)%3B%0A%20%20%7D%0A%20%20.orchid-text%20%7B%0A%20%20%20%20color%3A%20rgb(218%2C%20112

[2017-02-02 01:31] no-stack-dub-sack commented on #12472
A beautiful site!

![image](https://cloud.githubusercontent.com/assets/18563015/22533644/50dccb50-e8bd-11e6-899c-03dcce81bd98.png)

[2017-02-02 01:34] mlosk commented on #13046
thanks so much!

[2017-02-02 01:42] Greenheart opened #13053 "[beta] Fix formatting for "Regular Expressions: Reuse Patterns Using Capture Groups""
Challenge [reuse-patterns-using-capture-groups](http://beta.freecodecamp.com/en/challenges/regular-expressions/reuse-patterns-using-capture-groups) has an issue.

### Hey, Contributor!
In the third paragraph of the challenge, there is a backslash `\` and a backslash with number one `\1` that needs `<code></code>` to get proper formatting.
![format](https://cloud.githubusercontent.com/assets/612509

[2017-02-02 01:44] Manish-Giri commented on #13052
@ShelbyF73 The color for `blue` is `255`, not `225`, if you refer the table on the left.

If you need help with challenges like these, please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) first. Happy Coding!

[2017-02-02 01:46] Greenheart commented on #13052
@ShelbyF73 Or, if you want a more relaxed help environment - check out [the forum](https://forum.freecodecamp.com).

Good luck! :blush:

[2017-02-02 01:46] #13052 closed

[2017-02-02 01:47] FCC-Lin opened #13054 "Between the style tags, give the p elements font-size of 16px. Browser and Text zoom should be at 100%."
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%20%20font-size%3A%2016px%3B%20%20%20%20%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor

[2017-02-02 01:51] FCC-Lin commented on #13054
On FreeCodeCamp I run test and it is shows"Between the style tags, give the p elements font-size of 16px. Browser and Text zoom should be at 100%." Is some one  help me to debug the code. THX.

[2017-02-02 02:04] Greenheart opened #13056 "[beta] Clarify instruction for "Basic Data Structures: Access an Array's Contents Using Bracket Notation""
Challenge [access-an-arrays-contents-using-bracket-notation](http://beta.freecodecamp.com/en/challenges/basic-data-structures/access-an-arrays-contents-using-bracket-notation) has an issue.

### Hey, Contributor!
In the final paragraph of the instruction, I think the contents of the parenthesis could be slightly clarified.

I suggest we change "(1st index)" to `(index 1)`, as "1st index" could be

[2017-02-02 02:17] no-stack-dub-sack commented on #13056
@Greenheart agreed! Looks like we're on a first-timers-only roll tonight!

[2017-02-02 02:18] FCC-Lin commented on #13054
I check next page, got the answer.

<style>
  .red-text {
    color: red;
}
 p {   font-size: 16px;
  }
</style>

[2017-02-02 02:18] #13054 closed

[2017-02-02 02:22] Greenheart commented on #13056
@no-stack-dub-sack Indeed! More to come in the coming days :smile:

This should probably be a first-timers-only as well, if we add better instructions.

[2017-02-02 02:23] no-stack-dub-sack commented on #13021
cc / @freeCodeCamp/moderators anyone else have any insight on this one?

[2017-02-02 02:25] ShelbyF73 commented on #13052
@Manish-Giri I didn't even see that typo lol! Thanks for pointing that out. It's still weird that 225 changed the same text to same shade of blue as 255.

[2017-02-02 02:48] Sirjustin opened #13058 "[beta] Using the Flex-direction Property to Make a Row - Any value accepted"
Challenge [using-the-flexdirection-property-to-make-a-row](http://beta.freecodecamp.com/en/challenges/css-flexbox/using-the-flexdirection-property-to-make-a-row) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; CrOS x86_64 8872.76.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.105 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if

[2017-02-02 03:33] robbawebba opened #13059 "Add .vscode to .gitignore"
I was wondering if we could add `.vscode`, the directory created by Visual Studio Code for editor settings, to the .gitignore file? This would both prevent people from accidentally committing their editor settings, and make working with git a little easier by not having to worry about that file accidentally being tracked by git.

I wouldn't mind creating a PR for this one, I just thought I should

[2017-02-02 04:32] BrendanSweeny commented on #13025
Hey @Greenheart . I played around with this a bit more. With this code:

[code]

While I believe the test you shared should work, I can't ever get that test to pass. When I change `var i = 0;` to `let i = 0;`, `i` is still a number according to the chrome devtools console, which makes me wonder if there is a transpiling issue here (babel transpiles `let` to `var` possibly?). However, if `let i = 0

[2017-02-02 04:50] ChenxingZhang opened #13060 "[challenge display] Wrong Numbers of Buttons on Display"
#### Challenge Name

https://www.freecodecamp.com/challenges/target-the-children-of-an-element-using-jquery

#### Issue Description

The button 4 should've deleted from the jQuery, and button 5 should have only one clone. But it seems that there're 3 "target 5" buttons the right-hand display.

#### Browser Information

* Browser Name, Version: Chrome  55.0.2883.87 m
* Operating System:  Windows 7

[2017-02-02 04:54] rmdawson71 opened #13061 "Can not pass test even though using == operator"
Challenge [comparison-with-the-equality-operator](http://beta.freecodecamp.com/en/challenges/basic-javascript/comparison-with-the-equality-operator) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

**UPDAT

[2017-02-02 05:03] JosephLivengood commented on #13053
I can take this and create the pr in the next 24 hours!

[2017-02-02 05:04] raisedadead commented on #13059
@robbawebba instead lets open this up to first time contributors.

[2017-02-02 05:12] raisedadead commented on #13060
new seed code:
[code]

[2017-02-02 05:13] raisedadead commented on #13060
Duplicate #13031

[2017-02-02 05:13] #13060 closed

[2017-02-02 05:52] dnahol commented on #13050
I'm taking this

[2017-02-02 06:29] #12814 closed

[2017-02-02 06:29] #12866 closed

[2017-02-02 06:29] #12803 closed

[2017-02-02 06:29] #12870 closed

[2017-02-02 06:34] #12978 closed

[2017-02-02 07:45] rmdawson71 opened #13064 "[beta] Generate Random Whole Numbers within a Range - failing tests"
Challenge [generate-random-whole-numbers-within-a-range](http://beta.freecodecamp.com/en/challenges/basic-javascript/generate-random-whole-numbers-within-a-range) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if poss

[2017-02-02 08:05] DVPRASADRAYUDU commented on #7976
Instead of adding in between  style tags:
Add style attribute at the <p>tag itself like below:
<p style="font-size:16px">

[2017-02-02 08:11] DarrenfJ opened #13065 "Tribute Page beta challenge id="img-div" and child id's "image" and "img-caption""
Challenge [build-a-tribute-page](http://beta.freecodecamp.com/en/challenges/applied-responsive-web-design-projects/build-a-tribute-page) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Not sure if it's m

[2017-02-02 08:12] DarrenfJ commented on #13065
feel free to fork and destroy the CodePen if you need to for testing

[2017-02-02 09:16] #13027 closed

[2017-02-02 09:19] OFFLlNE commented on #13065
Thank you for reporting this issue.
I tried and seems that the tests want the <img> withid="image" right after <div id="img-div"> (w/o having any other elements after div there)
So the tests would have to go deeper than the first element they come up with :D

[2017-02-02 09:22] #13053 closed

[2017-02-02 09:25] #13049 closed

[2017-02-02 09:40] Greenheart commented on #13064
@rmdawson71 Thanks for reporting this!

I'm not sure I can reproduce this. There might be a problem with the [`tail` section](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/02-javascript-algorithms-and-data-structures/basic-javascript.json#L5546-L5561) of this challenge.

[2017-02-02 10:07] Greenheart opened #13067 "[beta] Change order of array methods in "Basic Data Structures: Remove Items Using splice()""
Challenge [remove-items-using-splice](http://beta.freecodecamp.com/en/challenges/basic-data-structures/remove-items-using-splice) has an issue.

I think `pop()` and `shift()` should swap places in the following sentence, so they come in the same order as their functionality gets described.
![order](https://cloud.githubusercontent.com/assets/6125097/22544970/378d201c-e937-11e6-9f71-3503bd247d5f.png

[2017-02-02 11:11] Greenheart opened #13069 "[beta] Improve formatting for "Basic Data Structures: Add Items Using splice()""
Challenge [add-items-using-splice](http://beta.freecodecamp.com/en/challenges/basic-data-structures/add-items-using-splice) has an issue.

The term `html` needs to be changed to `HTML` with all caps.

If you want to fix this, please read [CONTRIBUTING.md](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) to get started.

When you're all set, replace [this line](https://git

[2017-02-02 11:24] Greenheart opened #13070 "[beta] Improve test cases for "Basic Data Structures: Add Items Using splice()""
Challenge [add-items-using-splice](http://beta.freecodecamp.com/en/challenges/basic-data-structures/add-items-using-splice) has an issue.

The following should be a valid solution, since the challenge wants campers to use the splice method's replacement-functionality.
[code]

However, the tests allow a solution like below to pass.
[code]

I think the tests should be stricter to prevent use of `.un

[2017-02-02 12:33] vcapretz commented on #13059
Hey, I'm working on it!

[2017-02-02 13:14] abelsmoker commented on #13059
On Feb 2, 2017 4:35 AM, "Vitor Capretz" <notifications@github.com> wrote:

Hey, I'm working on it!

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/freeCodeCamp/freeCodeCamp/issues/13059#issuecomment-276945704>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AYSq2jA5-uPmGwwf8-KfwJVYmx6b2O

[2017-02-02 13:22] GauravChandrawale commented on #10725
simply add this line
myObj.hasOwnProperty("house");

and comment rest of code ...
this is another method

[2017-02-02 13:25] systimotic commented on #12410
@billy-reilly Thanks a lot for taking a look at this!
Your suggested changes look great!
Since the live version, this challenge has changed a bit. You can check out the updates here on the beta: https://beta.freecodecamp.com/en/challenges/basic-javascript/escape-sequences-in-strings

A pull request would be awesome!

A couple of notes on your tests:
The tab and newline character would both count a

[2017-02-02 13:34] skellmob commented on #10351
I got the same issue as well.

[2017-02-02 13:41] Kathumark commented on #9583
Challenge: Basic Java  script - Assignment with a Returned Value

![image](https://cloud.githubusercontent.com/assets/22025739/22551397/562b52de-e95d-11e6-84db-35ef117dda51.png)

The code looks like this:

// Example
var changed = 0;

function change(num) {
  return (num + 5) / 3;
}

changed = change(10);

// Setup
var processed = 0;

function processArg(num) {
  return (num + 3) / 5;
}

// Only c

[2017-02-02 13:41] abelsmoker commented on #10351
takeout-20170111T123346Z.zip
<https://drive.google.com/file/d/0B7U75xuxFkvdX0dUQlhKNi03UE15UC04YzBPNWF3NTk2QjE4/view?usp=drivesdk>

On Feb 2, 2017 5:36 AM, "Anders" <notifications@github.com> wrote:

I got the same issue as well.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/freeCodeCamp/freeCodeCamp/issues/

[2017-02-02 13:44] AckeT35 commented on #10351
Hi guys, I randomly something send messege, sorry!

2 фев 2017 г. 4:35 PM пользователь "Anders" <notifications@github.com>
написал:

[2017-02-02 13:54] Kathumark commented on #9583
I was able to get rid of this problem, I reset my code and that removed the issue. I must admit that I created the solution just before the last poster worked on the problem, the old version must have been saved somehow. Now, I was able to continue with the next challenge.

[2017-02-02 15:22] ajain17 commented on #13069
@dhcodes can we please combine this issue with 13070?

[2017-02-02 15:23] ajain17 commented on #13067
@dhcodes  Please combine this issue with #13070

[2017-02-02 15:24] vcapretz commented on #13059
Pull request here: https://github.com/freeCodeCamp/freeCodeCamp/pull/13074
Let me know if I need to change something

[2017-02-02 15:28] vcapretz commented on #13069
@Greenheart I'm working on it!

[2017-02-02 15:30] dnahol commented on #13014
I can take this.

[2017-02-02 15:31] ajain17 commented on #13061
I'm unable to replicate it on live site on chrome/safari/firefox on Mac

[2017-02-02 15:35] ajain17 commented on #13058
Can confirm this on staging.

[2017-02-02 15:36] #13059 closed

[2017-02-02 15:39] ajain17 commented on #13067
I'm working on this along with #13070

[2017-02-02 15:40] ajain17 commented on #13070
I'm working on this along with #13067

[2017-02-02 15:41] OFFLlNE opened #13075 "Show me my public profile redirects to Map"
#### Challenge Name
Edit: http://beta.freecodecamp.com/en/offllne redirects to map

#### Issue Description
Edit: Seems that my account does not exist in beta :/

#### Browser Information

* Browser Name, Version: Chrome v56
* Operating System: OS X 10.10

Did not find any duplicates on that. Similar to #10880 but lil different

[2017-02-02 15:45] MightyJoeW commented on #5884
@MariamShqair OOOH!! Thank you! I forgot that 'answer' was a variable and could be set equal to the strings. I had console.log in there and was so confused.

[2017-02-02 15:59] AndreiBolog opened #13076 "Find the Lenght of a String"
#### Challenge Name

#### Issue Description

The console will not accept the correct version of the code and/or won't work for the function .lenght even if i add or delete characters of the string "Lovelace"

#### Browser Information

* Browser Name, Version: Chrome 55
* Operating System: Win 10
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]
#### Screenshot

[2017-02-02 16:02] texas2010 commented on #10351
@AckeT35
looks like you may have accidentally subscribed to all notifications for the [FreeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp) repository. To stop receiving notifications please visit the [subscriptions page](https://github.com/FreeCodeCamp/FreeCodeCamp/subscription) and select "Not watching". Additionally, you can visit the [GitHub Help page on managing notification delivery m

[2017-02-02 16:05] Greenheart commented on #13070
I think I already opened a PR for this one, but feel free to take the other
one :)

torsdag 2 februari 2017 skrev Ayushi Jain <notifications@github.com>:

[2017-02-02 16:06] AndresSuarezBrowning opened #13077 "Between the style tags, give the p elements font-size of 16px. Browser and Text zoom should be at 100%."
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20p%7Bfont%20size%2016px%3B%7D%0A%20%20%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20

[2017-02-02 16:08] OFFLlNE commented on #13077
Thank you for reporting your issue.

Your code is wrong. it is font-size:
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.

[2017-02-02 16:08] #13077 closed

[2017-02-02 16:14] OFFLlNE opened #13078 "Delete your jQuery Functions not passing with correct code"
#### Challenge Name
[Delete your jQuery Functions](https://www.freecodecamp.com/challenges/delete-your-jquery-functions#?solution=fccss%0A%24(document).ready(function()%7B%7D)%3B%0Afcces%0A%0A%3C!--%20Only%20change%20code%20above%20this%20line.%20--%3E%0A%0A%3Cdiv%20class%3D%22container-fluid%22%3E%0A%20%20%3Ch3%20class%3D%22text-primary%20text-center%22%3EjQuery%20Playground%3C%2Fh3%3E%0A%20%20%3

[2017-02-02 16:17] OFFLlNE commented on #13076
Thank you for reporting your issue.

Your code is wrong. You have a typo in your length
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms]

[2017-02-02 16:17] #13076 closed

[2017-02-02 16:18] Greenheart commented on #13067
I'm sorry for any inconvenience, I didn't write a comment that I was fixing
the other issue - I merely assigned myself to it.

However, the PR should have been referenced in the other issue. For the
next time, please verify that the issue isn't assigned to anyone and no PR
have been opened for it yet.

Thanks :blush:

torsdag 2 februari 2017 skrev Ayushi Jain <notifications@github.com
<javascript:

[2017-02-02 16:18] claudiocoding commented on #12769
today's update

`<style>
  h2{ width: 80vw}
  p{ width: 75vmin}
</style>`

response
`
// running test
"message: Your h2</code> tag should have a <code>
width of 80vw."
"message: Your p</code> tag should have a <code>
width of 75vmin."
// tests completed
`

[2017-02-02 16:22] vcapretz commented on #13069
The PR is here: https://github.com/freeCodeCamp/freeCodeCamp/pull/13079

[2017-02-02 16:23] Greenheart commented on #13069
@ajain17 I don't think this should be combined as this is a good issue for someone who want to contribute for the first time :blush:

@vcapretz Thanks for helping out! Tell us if we can help you in any way :smile:

[2017-02-02 16:27] dhcodes commented on #13061
Unable to replicate on Mac Chrome.

[2017-02-02 16:28] DaveGus commented on #5716
It's been a few months since I did this one but I know it was frustrating since I ended up here to figure it out and to try and help others.

@erictleung is right,"Correct the assignment to myStr so it contains the string value of Hello World using the method shown in the example above." would be a big help.

However when a person is this new even the words "assignment", "string value" and "method

[2017-02-02 16:29] ajain17 commented on #13067
@Greenheart no problem.

[2017-02-02 16:29] ajain17 commented on #13069
@Greenheart I saw 3 issues on same challenge that's why suggested combining. I do agree its a good issue for first timers.

[2017-02-02 16:34] ajain17 commented on #13075
When I type http://beta.freecodecamp.com/ajain17, it redirects me to http://beta.freecodecamp.com/en/ajain17 and shows me my profile. Browser: Chrome, OS: OX X 10.11

Can anyone else verify this?

[2017-02-02 16:36] ajain17 commented on #13078
I can verify this issue. Working on it.

[2017-02-02 16:36] OFFLlNE commented on #13075
@ajain17 yep. Your profile works for me! :D
Seems that this is only me :'(

[2017-02-02 16:40] ajain17 commented on #13075
Try clearing cache or deleting cookies? I believe we can close this issue then.

[2017-02-02 16:45] OFFLlNE commented on #13075
@ajain17 can you access my profile? It seems that my profile does not exist.
Do not think that this is closable yet

Clearing Cookies, cache did not help.
Console does not show any errors either. Under Network tab I am getting this:

[2017-02-02 16:51] dhcodes commented on #13075
@OFFLlNE how did you make your account on the beta? Github connector or email?

[2017-02-02 16:54] OFFLlNE commented on #13075
@dhcodes tbh I don't remember. Think by email
I think it was that I was trying to create it with my email, but then it said that I already have an account associated to that email. So I just managed to sign in w/ it. It might've been a little different than that, but not really sure anymore

[2017-02-02 16:58] Greenheart commented on #13069
That's a good idea. In this case, If I don't remember incorrectly (there
have been quite a few issues the last few days :sweat_smile:), there are
two issues on the same challenge, one of which is for new contributors,
while the other is for a related challenge. Because of this, I thought they
should be separate :blush:

torsdag 2 februari 2017 skrev Ayushi Jain <notifications@github.com>:

[2017-02-02 17:02] ajain17 commented on #13075
@dhcodes  why does it matter how he created it? If he is using an invalid username, it will show him a message like this, not take him to map. Please tell me if I'm missing something.
<img width="1197" alt="screen shot 2017-02-02 at 12 02 01 pm" src="https://cloud.githubusercontent.com/assets/5581487/22559552/75793034-e93f-11e6-855b-97760ccf03ef.png">

[2017-02-02 17:03] ajain17 commented on #13075
@OFFLlNE What are you getting under network tab?

[2017-02-02 17:06] OFFLlNE commented on #13075
@ajain17 you have a point with that non-existing username
Whoops, forgot to upload :D
![image](https://cloud.githubusercontent.com/assets/8721312/22559704/a3cedb38-e97a-11e6-8997-8502c0c5fe00.png)

[2017-02-02 17:07] OFFLlNE commented on #13075
@ajain17 it is OFFLLNE ;)

[2017-02-02 17:09] dhcodes commented on #13075
@ajain17 because all the working accounts I've seen so far have Github attached.

[2017-02-02 17:11] OFFLlNE commented on #13075
@dhcodes When I log out and then log in, I am connecting myself to b.fCC with Github

[2017-02-02 17:26] #13050 closed

[2017-02-02 17:27] #13069 closed

[2017-02-02 17:28] HKuz commented on #13058
@Sirjustin :rofl: - I think we should petition the W3 consortium to make `fart: column;` a valid Flexbox option. This challenge was passing on Beta because when `display: flex` is on a container, it automatically places `flex-direction` to `row` since that's the default. We recently merged a PR (#12887) that changes this challenge to use `row-reverse` instead, and fixed a couple other challenges w

[2017-02-02 17:32] dhcodes opened #13082 "[beta] Night mode applies to profile based on other user's setting"
#### Issue Description
I've turned on night mode on my beta account. If another user visits my public profile, they will see that profile in night mode regardless of if their account has night mode enabled and regardless of if they even have an account.

I sanity-checked this in incognito mode.

In other words, regardless of your setting, you will see my profile in night mode.

#### Browser Inform

[2017-02-02 17:35] ajain17 commented on #13075
oh, I read it as offline. Ok, when I go to http://beta.freecodecamp.com/en/offllne, it takes me to map page, confirmed.

[2017-02-02 17:35] systimotic commented on #13014
Sorry for being so late to the party! Could the rounding problem in https://github.com/freeCodeCamp/freeCodeCamp/issues/12687 be related?

[2017-02-02 17:38] Greenheart commented on #13014
@systimotic It could be, but it seems more like Safari has some funky math for getting/setting some css values.

[2017-02-02 17:40] actualchandler opened #13083 "Challenge #28 Unable to escape a backslash in a string, not working correctly"
The instructions are to "Encode the following sequence, separated by spaces:
backslash tab tab carriage-return new-line and assign it to myStr", however when I write the code:
var myStr = "\\"; it returns the answer: myStr = "\\" instead of printing one backslash it prints two.

I've tried typing it several different ways with several different combinations with different words and none of them wo

[2017-02-02 17:42] ajain17 commented on #13058
@HKuz I ran the staging branch locally too, and could see the issue being there. This issue is there in all flex challenges since we only check that the correct property is there, we don't check that no bogus properties are present. Please correct me if I'm wrong. Thanks.

[2017-02-02 17:44] phapp88 commented on #13056
I would like to fix this issue.

[2017-02-02 17:46] ajitsy opened #13084 "Unexpected failure for beta challenge: "ES6: Import vs. Require: What's the difference?""
Unless I am doing something wrong, I think I have found a bug with the following beta challenge [import-vs-require-whats-the-difference](http://beta.freecodecamp.com/en/challenges/es6/import-vs-require-whats-the-difference)
The solution should simply be the addition of the following line of code on line 1, however the code does not pass:

[code]

The issue occurred on 2/2/17 @ 17:00 GMT

* Browser

[2017-02-02 17:46] tommygebru commented on #12847
Of course -  basically a table of contents, which will enable page jumps with `anchor tags`

[2017-02-02 17:50] dhcodes commented on #13083
@actualchandler freeCodeCamp does not support issues for devmountain. Also, you have an error in your code.

[2017-02-02 17:50] #13083 closed

[2017-02-02 17:50] #13084 closed

[2017-02-02 17:55] rmdawson71 opened #13085 "Should the 3rd test be passing?"
Challenge [using-the-const-keyword](http://beta.freecodecamp.com/en/challenges/es6/using-the-const-keyword) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

After making changes to the code, the 3rd test w

[2017-02-02 17:56] Greenheart commented on #12847
@tommygebru The **"Hide all challenges"** button offers this kind of quick-navigation. But I agree it could be further improved. Maybe by hiding all challenges by default?

[2017-02-02 17:57] HKuz commented on #12901
Hi @KenzoM - thanks for noticing this! Pull request #12963 re-formatted all the text in this challenge, and the weird boxes are gone. (I think the `<img>` tags @systimotic found were supposed to be part of the example, not actually in the code, and they weren't escaped properly). I'm going to close this issue as resolved on `staging`, and it should be up on the Beta site in the next few days. Than

[2017-02-02 17:57] #12901 closed

[2017-02-02 18:06] dhcodes commented on #13085
@rmdawson71 thanks for the issue. We've catalogued these over at https://github.com/freeCodeCamp/freeCodeCamp/issues/12698. Closing this one as a duplicate. Thanks and happy coding!

[2017-02-02 18:06] #13085 closed

[2017-02-02 18:11] Greenheart commented on #9583
@Kathumark Glad you solved it! I think this can have been related to the lack of a space before the equal sin on the final line of your solution.

Sometimes the tests expect a certain format of the code, even though the code is perfectly functional.

Good luck and happy coding! :smile:

[2017-02-02 18:16] rmdawson71 opened #13086 "[beta ] Match Literal Strings - Change wording to reflect examples"
Challenge [match-literal-strings](http://beta.freecodecamp.com/en/challenges/regular-expressions/match-literal-strings) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

The example at the top is trying to

[2017-02-02 18:33] systimotic commented on #12940
I agree that this does look like it's intentional, and I also agree that it's confusing.
When I swipe/drag to a side, I don't know if the side I'm dragging to means I'm answering true or false.

[2017-02-02 18:46] rmdawson71 opened #13087 "Regex test bug?"
Challenge [match-single-characters-not-specified](http://beta.freecodecamp.com/en/challenges/regular-expressions/match-single-characters-not-specified) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Not

[2017-02-02 18:46] systimotic commented on #7110
@Greenheart Keep in mind that the images are only generated on a button click. A DOM solution may work, but we would have to simulate a click of the button in the test frame.
The browser also still manages to make a valid image tag out of this, so we would have to look at the source.

[2017-02-02 19:08] HKuz commented on #13058
Okay, I see what you're saying. Most of the tests, especially on the new challenges, are only checking that the camper did what was instructed. They don't also check that there were no additional changes to the code (that would be a hard task).

I can re-open this for discussion about the invalid syntax being ignored. @freeCodeCamp/moderators - is it okay that invalid `propertyName: values;` are b

[2017-02-02 19:12] Greenheart commented on #7110
@systimotic Simulating a click is not harder than `document.querySelector('#element').click()`. If we have a DOM, and can run JS, we can do it.

If it makes a valid image, and we have JS as well as a DOM, we can use point 1 and 3 from my comment above :blush:

[2017-02-02 19:22] ajain17 commented on #13058
@HKuz Like I mentioned above, if we want to disallow everything else except what's mentioned in the challenge, we would need better regex assertions in all of these tests. Many of our tests allow bogus properties to be added as long as the correct code is there.

[2017-02-02 19:41] Greenheart commented on #13058
### 1:
Ideally, we'd verify their code and make sure it's completely correct. If we only have like 10-15 lines of code to test, this could be doable by matching what we expect and not allowing anything else.

Basically, we know that `#box1` needs **N** properties changed to pass. So we test for **N** pairs of  `prop: val;` for this element, only matching the pairs we actually want. If anything els

[2017-02-02 19:44] Greenheart commented on #12940
Maybe we could highlight the side that was selected? For example by temporarily adding a background color to either the true or the false button?

[2017-02-02 19:45] DarrenfJ commented on #13065
Confirmed myself.. If I comment out the link to a video and the div for text-center it passed all 9 tests.

between id="img-div" and id="image" and id="img-caption"

[2017-02-02 19:55] #13056 closed

[2017-02-02 20:07] Greenheart commented on #13087
@rmdawson71 I believe there's an issue in your code - your matching "anything not a letter and not a number", while the instructions ask for "all characters not a number or **a vowel**".

With that said, keep it up! It seems like you've QA:ed quite a bit! :smile: :star2:

[2017-02-02 20:07] erictleung commented on #13087
@rmdawson71 thanks for taking the time to review the beta challenges. However, your code is incorrect.

The first test could be better worded and specific like

[2017-02-02 20:09] Greenheart commented on #13087
I'm closing this as I don't think this is a bug. Feel free to reopen if you don't agree and have more to add :blush:

[2017-02-02 20:10] Greenheart commented on #13087
Although I do like @erictleung's suggestion!

[2017-02-02 20:25] mmarler07 opened #13089 "Change Text Color"
Challenge [Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%20style%3D%22color%3A%0A%20%20%20%20%20%20%20%20%20%20%20red%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%2

[2017-02-02 20:31] OFFLlNE commented on #13089
1. Reload the page and run the tests again. A script may have crashed, preventing the tests from running.
2. Try the challenge in incognito mode. A plugin might be interfering with the tests.
3. Try the challenge in a different browser.

[2017-02-02 21:02] Greenheart commented on #13025
@BrendanSweeny There are transpilation issues at the moment. We can't run tests against the original ES6 code yet, we only get the transpiled output.

I like the your example, it's a lot cleaner since it focuses on `let` vs `var` rather than adding complexity around. This is definitely worth thinking more about! :smile:

@freeCodeCamp/moderators Should we simplify this challenge by using the examp

[2017-02-02 21:31] rmdawson71 commented on #13087
I have been juggling too many things lately.  I kept reading vowels, but thinking letters (any).  Sorry for reporting a bug on a perfectly fine challenge.

[2017-02-02 21:31] #13087 closed

[2017-02-02 21:49] Greenheart commented on #13087
@rmdawson71 Don't worry, it happens to all of us! :blush:

[2017-02-02 21:51] Greenheart commented on #13087
@erictleung Do you think we should improve the instructions for this challenge? If so, should we create a separate issue for that?

[2017-02-02 21:52] Greenheart commented on #13086
@rmdawson71 I agree that this can be confusing. Do you have any suggestions for how this could be improved? :blush:

[2017-02-02 22:04] erictleung commented on #13087
@Greenheart yeah, I can create issues for them for first timers. I think the change I've suggested affects more than just this one :smile:

[2017-02-02 22:05] AaizAhmed commented on #12625
@samsmith453 This is a very easy fix, I initially had the same issue. This is just the rounding error.

Use:  **sum =  Number((sum).toFixed(2));**       OR   **sum = Number(Math.round(sum +'e2')+'e-2');**

after the For loop and it should fix the problem.

[2017-02-02 22:08] Greenheart commented on #13087
@erictleung Sounds like a good idea! We need more of those - the ones I opened yesterday melt away in a few hours :smile:

[2017-02-02 22:24] #13014 closed

[2017-02-02 22:46] no-stack-dub-sack commented on #13070
@Greenheart nice catch! One of the few in this section I did not use a regex of some sort for

[2017-02-02 23:00] no-stack-dub-sack opened #13091 "[beta] missing hyperdev setup instructions in first npm challenge"
#### Challenge Name
http://beta.freecodecamp.com/en/challenges/managing-packages-with-npm/using-packagejson-the-core-of-any-nodejs-project-or-npm-package

#### Issue Description

Unless I'm totally missing something, and I suppose that's possible 😄 , there do not seem to be any instructions here or in the section intro for setting up a hyperdev account / project.

It just says:

But there does not

[2017-02-02 23:41] no-stack-dub-sack opened #13092 "[beta] change all instances of "HyperDev" to "gomix" (or GoMix?)"
In addition to #13091 regarding HyperDev, apparently HyperDev is no longer HyperDev. Our codebase should be updated to reflect the new name GoMix (or gomix). Otherwise, campers will be running around like developers with their heads cut off trying to find something that does not exist.

The current references to HyperDev are in the APIs and Microservices section primarily

[2017-02-02 23:46] no-stack-dub-sack opened #13093 "[beta] first npm challenge failing test - unclear instructions"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/managing-packages-with-npm/using-packagejson-the-core-of-any-nodejs-project-or-npm-package

#### Issue Description

This challenge asks that you add your name to the author field of the package.json file - however no such field seems to exist by default in a new gomix/hyperdev project. We should update the challenge instructions to re

[2017-02-02 23:51] Greenheart commented on #13093
@no-stack-dub-sack Did you use the boilerplate project? I don't know the link for it, but it's possible to "remix" it to get your own copy which should be set up and ready for these challenges.

[2017-02-02 23:53] Greenheart commented on #13092
@no-stack-dub-sack Good idea! `GoMix` would probably be the way to go except for URLs

[2017-02-02 23:55] no-stack-dub-sack commented on #13093
@Greenheart No, I didn't - other issue is, there's does not seem to be a link to it in the challenges (you've probably seen my other issue). Any idea where I might be able to access it?

I guess I'm the first person to try these challenges since beta went live? Otherwise this would have already come to light.

\#first!

[2017-02-02 23:59] Greenheart commented on #13091
@no-stack-dub-sack I don't remember what we thought about the initial setup when we created these challenges, but if it's not present at the moment, we need to add this to the introduction-challenge of this section.

Introduction challenges can open links, so we could use it to help campers set up their projects properly, similarly to how the "intro to freeCodeCamp"-challenges work

[2017-02-03 00:05] no-stack-dub-sack commented on #13091
@Greenheart Looks like the content from [here](https://github.com/freeCodeCamp/CurriculumExpansion/issues/44#issuecomment-240259994) is missing

[2017-02-03 00:07] Greenheart commented on #13091
I didn't do the import myself, but since all work should be saved in GH issues, it shouldn't be too hard to add the missing pieces :+1:

[2017-02-03 00:09] grim93 commented on #13089
@mmarler07  I have run this is Firefox, Chrome and Edge all seems to be in order try @OFFLlNE 's suggestions.

[2017-02-03 00:10] no-stack-dub-sack commented on #13091
@Greenheart Okay, here's the boilerplate gomix project: https://hyperdev.com/#!/project/red-moose

[2017-02-03 00:21] no-stack-dub-sack opened #13095 "[beta] managing packages with npm - entire section broken"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/managing-packages-with-npm/using-packagejson-the-core-of-any-nodejs-project-or-npm-package and remaining challenges in section

#### Issue Description

@Greenheart @Em-Ant Ok, so I've located the [boilerplate GoMix project](https://hyperdev.com/#!/project/red-moose) that is needed for these challenges, however I see 3 issues:
1. The i

[2017-02-03 00:22] no-stack-dub-sack commented on #13093
@Greenheart Ok, ditching this and starting new, more relevant issue #13095

[2017-02-03 00:22] #13093 closed

[2017-02-03 00:22] #13043 closed

[2017-02-03 00:27] wonmaungthein commented on #9142
@robjloranger Wow... Thanks.. I had same issues..

[2017-02-03 02:16] Marvive opened #13097 "Skew Challenge not accepting answer on Safari."
Challenge [use-the-css-transform-property-skewx](http://beta.freecodecamp.com/en/challenges/applied-visual-design/use-the-css-transform-property-skewx) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/602.4.8 (KHTML, like Gecko) Version/10.0.3 Safari/602.4.8</code>.
Please describe how to reproduce this issue, and include links to screenshots if possib

[2017-02-03 02:38] Manish-Giri commented on #13092
@Greenheart @no-stack-dub-sack I'd be interested in doing this, if no one else is..

[2017-02-03 03:25] no-stack-dub-sack commented on #13095
Ok, so a bit more on this. The boilerplate project does pass the test, and it's when you use the "Live" URL (aka not the URL when you are in editor mode), so I think the placeholder text should be something like `https://your-app-here.gomix.me` so it's more clear which of the 2 urls you need.

BUT, as soon as the project is "remixed", even if nothing else is changed at all, the tests fail. This do

[2017-02-03 03:36] HosfordDotMe opened #13099 "Error highlighting is unreadable within <style>"
#### Challenge Name

All challenges in Applied Visual Design

#### Issue Description

Type within the style section of code.

<code>.cm-s-monokai span.cm-error {
    background: #f92672;
    color: #f8f8f0;
} </code> is not overriding <code>.night .CodeMirror .cm-property, .night .CodeMirror .cm-string {
    color: #B5753A;
}</code>

#### Browser Information

User Agent is: <code>Mozilla/5.0 (Maci

[2017-02-03 03:43] JosephLivengood commented on #13095
It looks like this has to do with the CORS setting in the boilerplate, I recommend changing in the server.js to this:
[code]

Also another thing we do need an issue open about is the url entered into the FCC tester cannot have the trailing / other wise it attempts to load the wrong url, Im not quite sure where we want to handle that or the best practice to (eg if we just check if the last char is

[2017-02-03 03:49] no-stack-dub-sack commented on #13095
@JosephLivengood Nice! I just updated it to that in my project and it is now working ✋  <- high five

Although, it is working with or without the trailing /

[2017-02-03 04:02] HosfordDotMe commented on #13099
Issue only happens when in NightMode.

[2017-02-03 04:11] HosfordDotMe commented on #13097
When changed from <code>transform: skew(24deg);</code> to <code>transform: skewX(24deg);</code>. This passes. Revising your code will correct the issue.

[2017-02-03 04:11] no-stack-dub-sack opened #13100 "[beta] remaining backend challenges - no boilerplate gomix project to remix"
@Greenheart @Em-Ant It looks like the remaining backend challenges (everything after managing packages with npm) requires a boilerplate project for campers to remix (also missing from npm challenges intro - #13091) that is to be used throughout and continually built upon all the way through the end of the infosec section. Is this right?

Either first challenge or intro should have a link. I was ab

[2017-02-03 04:12] no-stack-dub-sack opened #13101 "[beta] npm challenges - user not advanced to next challenge"
These challenges do not work without fixing a CORS issue (see #13095), but once this is fixed, when you pass a challenge, you get the green light, but are not presented with the usual modal letting you move on to the next challenge, and thus progress is not saved

my guess is this would be consistent throughout the backend challenges, but this cannot be verified with other sections yet because the

[2017-02-03 04:42] no-stack-dub-sack opened #13102 "[beta] node - Use the tilde-character - not passing test"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/managing-packages-with-npm/use-the-tildecharacter-to-always-use-the-latest-patch-version-of-a-dependency

#### Issue Description

Challenge does not pass with below code. First test fails. (see #13095 about getting tests to run with remixed project)

#### Browser Information

* Browser Name, Version: Chrome, latest
* Operating System:

[2017-02-03 06:01] HosfordDotMe opened #13103 "Test fails on "Only change the first line""
Challenge [subtract-one-number-from-another-with-javascript](http://beta.freecodecamp.com/en/challenges/basic-javascript/subtract-one-number-from-another-with-javascript) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to

[2017-02-03 06:02] HosfordDotMe commented on #13103
#10633 Previously discussed here.

[2017-02-03 06:18] ImJustKenny commented on #5126
its <a href="#" delete the http://whateveritis.com or what ever

![screenshot_11](https://cloud.githubusercontent.com/assets/25495736/22581524/759d8258-e995-11e6-882c-f77f05e51f77.png)

[2017-02-03 07:13] KenzoM opened #13104 "[beta] Map link anchored where you left off"
#### Issue Description
More of a suggestion versus an issue, but I found it a bit hassle that if I am working on a certain challenge and I want to see what challenges I will be facing next, the Map link will redirect me to the top of the list, rather than where I am currently in.

Since we do have a larger set of problems, it would be a nicer experience to automatically anchor where you are curren

[2017-02-03 07:37] hisener commented on #13103
I can reproduce this one. Related file: [basic-javascript](seed/challenges/02-javascript-algorithms-and-data-structures/basic-javascript.json)

[2017-02-03 09:13] dnahol commented on #13103
I'll take this one!

[2017-02-03 09:22] Em-Ant commented on #13095
@JosephLivengood  all the boilerplates have CORS enabled for all origins in this stage (if I remember correctly ).

[2017-02-03 09:57] dnahol commented on #13103
Can someone help me understand the purpose of the "Only change first line" test? I don't see a use for it.
"assert((code).match(/difference/g).length === 1,'message: Only change the first line');"

So I took it out. And everything works fine now.
<img width="1125" alt="screen shot 2017-02-03 at 1 51 44 am" src="https://cloud.githubusercontent.com/assets/2976514/22586895/0e7e56e6-e9b4-11e6-9c9b-bc8

[2017-02-03 10:44] hisener commented on #13103
@dnahol The previous challenge, [Add Two Numbers](http://beta.freecodecamp.com/en/challenges/basic-javascript/add-two-numbers-with-javascript), doesn't have a test case like this one. These two challenges look like very similar. I think it's ok.

[2017-02-03 10:57] dnahol commented on #13103
Thanks @hisener. That's a good point. I will remove it then.

[2017-02-03 11:28] omalinov1994 opened #13106 "Could not switch to Night Mode - Authorization Required"
Hello,

I was trying to switch to Night mode last night and was not able to do it op Opera Stable 42.0.2393.51. I kept getting a message saying Authorization required. When I opened Chrome I was able to do it just by clicking the button in my account settings page, no Authorization message popped up.
I am not sure if that is something related to my Opera settings but just wanted to let you know.

[2017-02-03 11:31] JosephLivengood commented on #13095
If `process.env.XORIG_ALL` is set in the .env file to allow for such, its value is not carried over in the remixing of the project making it not allow anything except the explicitly defined 2 in the server.js Im seeing (at least on _red-moose_) `['https://marsh-glazer.hyperdev.space', 'https://www.freecodecamp.com'];` which isn't allowing non secure http requests which I see most people using for

[2017-02-03 11:46] JosephLivengood commented on #13102
Looks like the assert doesn't have a comma splitting the error string and regex its matching and has a potentially messed up regex. I'll take this, I made my changes but I'm going to test it a little harder later to make sure it'll work correctly in the future as intended. 👍

[2017-02-03 11:46] Em-Ant commented on #13095
@JosephLivengood  You should use the boilerplates listed here https://hackmd.io/GYVgTBIIxgtAzATgCYCNYBYCGZ2oBwbqLCJSKIj4DG1y8QA=
they are owned by the camperbot github account. In these projects i changed the logic, from XORIG_ALL to XORIG_RESTRICT, that restrict CORS only if set.

[2017-02-03 11:51] JosephLivengood commented on #13095
@Em-Ant Oh looks like we had a out dated one, Thanks!! 👍

[2017-02-03 12:15] alexalexson143 opened #13107 "Map the Debris - Drive"
Challenge [Map the Debris](https://www.freecodecamp.com/challenges/map-the-debris#?solution=%0Afunction%20orbitalPeriod(arr)%20%7B%0A%20%20var%20GM%20%3D%20398600.4418%3B%0A%20%20var%20earthRadius%20%3D%206367.4447%3B%0A%20%20%0A%20%20arr%20%3D%20arr.map((obj)%20%3D%3E%20%7B%0A%20%20%20%20let%20r%20%3D%20obj.avgAlt%20%2B%20earthRadius%0A%20%20%20%20obj.orbitalPeriod%20%3D%20Math.round((2%20*%20Mat

[2017-02-03 12:43] Greenheart commented on #13104
@KenzoM I like this idea. Maybe this could be saved locally in the user's browser?

For example, we could use `localStorage` to keep
[code]

To handle cases where sections change name, we could allow this feature to fail gracefully if the anchor can't be found on the page. Challenges are not affected, as they have direct links rather than anchors.

[2017-02-03 12:58] JosephLivengood commented on #13091
@Greenheart Hey, that is an outdated boilerplate! Use https://gomix.com/#!/project/storm-leopard instead please for the NPM projects!

[2017-02-03 13:20] zill24 commented on #3179
also got this issue

[2017-02-03 14:57] meli94 opened #13109 "Run tests doesn't work"
Challenge [Sum All Numbers in a Range](https://www.freecodecamp.com/challenges/sum-all-numbers-in-a-range) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2017-02-03 15:02] OFFLlNE commented on #13109
Thank you for reporting your issue.

You define a global variable, which fCC tests don't like. because you change the global variable with the first test and it won't get reset for the next test.
Just throw that variable inside the function and you are good ;)
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the

[2017-02-03 15:02] #13109 closed

[2017-02-03 15:15] #12410 closed

[2017-02-03 15:22] #13044 closed

[2017-02-03 15:30] #13048 closed

[2017-02-03 15:36] DarrenfJ commented on #13065
reverting it back to failed state and submitting using the test suite 'report issue' link for @no-stack-dub-sack

[2017-02-03 15:45] erictleung commented on #5716
@DaveGus thanks for your feedback. And agreed, "method" is a very loaded word in programming. I don't think we should say change the text using the "correct approach," because as others have discussed above, there are many different ways to "correct" the text.

So I'm for using this text

[2017-02-03 16:00] JosephLivengood commented on #13101
Diving in deep, it appears its been left like this by design right now possibly :ocean: ?

I'd hate to try to impl it if its already being worked on and it definitely appears @BerkeleyTrue is the **_super-expert_** on how it should work

[2017-02-03 16:00] erictleung commented on #13103
This issue stems probably because the "solution" in the `.json` file is included in the code the regex checks (see similar discussion https://github.com/freeCodeCamp/freeCodeCamp/pull/11987#discussion_r92950694). The code is to check that you don't just create another variable `difference` and assign it to 12. So I think it's necessary. Just need to either remove the solution or change the test to

[2017-02-03 16:09] Greenheart opened #13110 "[beta] Clarify title for "Basic Data Structures: Copy an Array with slice()""
### Welcome first-time open source contributors! :trophy:
Challenge [copy-an-array-with-slice](http://beta.freecodecamp.com/en/challenges/basic-data-structures/copy-an-array-with-slice) has an issue.

The title says "Copy an Array with slice()", but the challenge could be better described as "Copy Array items using slice()" as `Array.slice()` not only can copy whole arrays, but can copy individual

[2017-02-03 16:10] Greenheart commented on #13110
I can fix the test case for now, but have no idea about the React error at this time.

[2017-02-03 16:52] Cyclokitty opened #13112 "Basic JavaScript: Write Reusable JavaScript with Functions"
The challenge is referring to the previous myList variable from the Shopping List question that came before it.

Challenge [write-reusable-javascript-with-functions](https://beta.freecodecamp.com/en/challenges/basic-javascript/write-reusable-javascript-with-functions) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; rv:48.0) Gecko/20100101 Firefox/48.0</code>.
Pleas

[2017-02-03 16:59] dnahol commented on #13103
@erictleung Thank you! That makes sense!

[2017-02-03 17:00] hisener commented on #13103
@erictleung It makes sense, then let's make it 3 and add this test case to addition, multiplication, division challenges.

[2017-02-03 17:14] ayyagary opened #13114 "The codes runs on JS fiddle but not on Codecamp"
My code:
[code]

[2017-02-03 17:30] hudsontaylor commented on #13082
That seems rather obnoxious. Does this happen on the current Freecodecamp site or just Beta? I hope someone addresses this!

[2017-02-03 17:42] hisener commented on #13114
Related challenge is [Seek and Destroy](https://beta.freecodecamp.com/en/challenges/intermediate-algorithm-scripting/seek-and-destroy)

I cannot reproduce, the code failed on last test case.

[2017-02-03 17:46] Greenheart opened #13115 "[beta] Consider changing the intent of "Basic Data Structures: Check For The Presence of an Element With indexOf()""
Challenge [check-for-the-presence-of-an-element-with-indexof](http://beta.freecodecamp.com/en/challenges/basic-data-structures/check-for-the-presence-of-an-element-with-indexof) has an issue.

[code]

ES6 introduces the new method `Array.includes(element)` which is a much cleaner solution than `Array.indexOf(element) > -1`.

I suggest we create a new challenge to teach how to use `Array.indexOf(el

[2017-02-03 17:56] davvwar opened #13116 "alt attribute challenge ('Add Images to your Website') fails if alt contains hyphen"
On the first HTML challenge that involves images, you will fail the challenge if your alt text contains a hyphen.

This passes:  alt="Close up of kitten looking at camera".
This fails:  alt="Close-up of kitten looking at camera">

This failure state is not required.

It's good practice to write alt attributes as they would be otherwise written. This includes hyphens.

NVDA and JAWS parse them fine

[2017-02-03 18:14] dhcodes commented on #13116
@davvwar thanks for the issue. This is fixed on the beta version of the site so when the new challenges are loaded to the main site, this will be fixed.

[2017-02-03 18:14] #13116 closed

[2017-02-03 18:29] minsoo26 commented on #7630
Not resolved, still showing duplicate

[2017-02-03 18:58] Dew007 opened #13117 "Please help. thanks"
Challenge [Add ID Attributes to Bootstrap Elements](https://www.freecodecamp.com/challenges/add-id-attributes-to-bootstrap-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2017-02-03 18:59] OFFLlNE commented on #13117
Thank you for reporting your issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free-code-camp-off

[2017-02-03 18:59] #13117 closed

[2017-02-03 19:21] no-stack-dub-sack commented on #13104
@Greenheart @KenzoM This would be huge, and something that's been mentioned before I believe in other issues, but it keeps going by the wayside. I personally think navigating around the current map is a major issue (with the loss of the foldaway map especially) and I think we should make exploring this more of a priority,

Great suggestion @KenzoM!

[2017-02-03 19:56] Greenheart opened #13118 "[beta] Update instruction for "Basic Data Structures: Iterate Through All an Array's Items Using For Loops""
Challenge [iterate-through-all-an-arrays-items-using-for-loops](http://beta.freecodecamp.com/en/challenges/basic-data-structures/iterate-through-all-an-arrays-items-using-for-loops) has an issue.

1. Remove the words "a simple", or possibly replace it with "the regular". [Reference](https://medium.freecodecamp.com/one-does-not-simply-learn-to-code-f25bacdc5b62#.cczgzdhyu)

2. The second sentence o

[2017-02-03 21:36] Greenheart opened #13119 "[beta] Syntax errors in challengeSeed for "Debugging: Catch Unclosed Parentheses, Brackets, Braces and Quotes""
<del>Challenge [catch-unclosed-parentheses-brackets-braces-and-quotes](http://beta.freecodecamp.com/en/challenges/debugging/catch-unclosed-parentheses-brackets-braces-and-quotes) has an issue.

[code]
</del>

## Edit:
Haha probably should have read the instructions!

[2017-02-03 21:37] Greenheart commented on #13119
I'll go ahead and fix this right away!

[2017-02-03 21:39] #13119 closed

[2017-02-03 21:53] Manish-Giri commented on #13118
I'd be interested in making this change, if it's confirmed..

[2017-02-03 22:47] #13045 closed

[2017-02-03 22:48] no-stack-dub-sack commented on #13065
Closing this issue as it is now open on the correct testable-projects-fcc repo [here](https://github.com/freeCodeCamp/testable-projects-fcc/issues/34)

[2017-02-03 22:48] #13065 closed

[2017-02-03 23:29] HKuz commented on #13051
@Greenheart - I can get behind splitting this challenge into two. It's one of the harder topics in Regex to wrap the head around, and may be easier to digest as two smaller challenges. 👍

[2017-02-03 23:36] tommygebru opened #13121 "[beta][UI][UX] Seeing multiple challenges with scrollbars for each parent div"
Parent divs have scrollbars
![screen shot 2017-02-03 at 3 36 14 pm](https://cloud.githubusercontent.com/assets/7606025/22612596/8c9848d0-ea26-11e6-9aeb-5356bdd5cdbc.png)
![screen shot 2017-02-03 at 3 36 24 pm](https://cloud.githubusercontent.com/assets/7606025/22612595/8c51fee8-ea26-11e6-96fc-57acd5db95c9.png)

[2017-02-03 23:40] HKuz commented on #13104
That is a really useful feature, especially your point @KenzoM about there being so many more topics and challenges. I know there's a feature discussion about the map being placed to the left of the screen, showing where you are and giving more info (maybe including Wiki links). (See the screen shot in #11193). It's a different concept, but I figured I'd link the issues so we're aware that's in th

[2017-02-03 23:43] Greenheart opened #13122 "[beta] Update challengeSeed for "Object Oriented Programming: Use Prototype Properties to Reduce Duplicate Code""
Challenge [use-prototype-properties-to-reduce-duplicate-code](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/use-prototype-properties-to-reduce-duplicate-code) has an issue.

[code]

As seen above, this challenge wants the camper to add a shared property to the prototype of the `Dog`. The issue here is that it wants the camper write that expression after the `Dog` actually

[2017-02-03 23:52] HKuz commented on #13025
@Greenheart and @BrendanSweeny  - my two cents is I'm a fan of the simpler example. It shows scope in a very clear way. The drawback of the earlier example using `.bind` is that seeing it would probably confuse the folks who are working through fCC as their first introduction to JS. (I don't think it's introduced in the Basic JavaScript section before the ES6 one). 👍

[2017-02-04 00:03] Greenheart commented on #13025
@HKuz It's not introduced anywhere (AFAIK) :cry: It's a really nice language feature.

If we want to use the simpler example, we'd need to update both the seed as well as the instructions.
@BrendanSweeny Would you like to create the PR for this, as you came up with the solution? :relaxed: