[2019-09-04 14:13] raisedadead commented on #36748
Hi @colbyfayock!

I have added you to @freeCodeCamp and given you the mod privileges. You should now be able to triage and assign these issues to the @freeCodeCamp/dev-team

[2019-09-04 14:13] albert-codestein commented on #36754
Nope, the prototype is really an object in this case too so I am closing this :)

[2019-09-04 14:16] albert-codestein commented on #36754
This is still confusing as objects also have prototype as a property, explaining this in the challenge description might really help others so I am reopening this.

[2019-09-04 14:19] raisedadead commented on #36748
I have injected this to the body, unfortunately we do not have much control over the placement of the snippet (right after the opening `<body>` tag)

[2019-09-04 14:23] raisedadead commented on #36740
I do not like the idea of changing the schema again though. What we really need is a parser to sanitize comments.

[2019-09-04 14:25] raisedadead commented on #36731
I am closing this, with the common thought being this would not help much. Please feel free to contribute to discussion and re-open if necessary.

[2019-09-04 14:25] #36731 closed

[2019-09-04 14:30] #36572 closed

[2019-09-04 14:39] ahmadabdolsaheb commented on #36652
@sfialok98, please visit http://localhost:8000/1243er4 locally to view the 404 page.

[2019-09-04 14:46] ahmadabdolsaheb commented on #36317
I can confirm that this issue is non-existent on the current master.
It will be updated as soon as the new version is live.

[2019-09-04 14:46] #36317 closed

[2019-09-04 14:58] moT01 commented on #36753
Some [lessons covering recursion](https://www.freecodecamp.dev/learn/javascript-algorithms-and-data-structures/basic-javascript/use-recursion-to-create-a-range-of-numbers) were added as well - they will be available the next time we push our code to production. So I don't think there's an issue here. If you're satisfied with these you can probably close this @maxiqboy.

[2019-09-04 15:02] moT01 commented on #36743
I think you are looking at the [nightlife coordination app project](https://learn.freecodecamp.org/coding-interview-prep/take-home-projects/build-a-nightlife-coordination-app) - and not the recipe box.

[2019-09-04 15:04] ahmadabdolsaheb commented on #35984
I am closing this issue due to the lack of activity.
The is an effort to make the portfolio page more function as a resume.
We should discuss the direction in more details in the next couple of iterations.

[2019-09-04 15:04] #35984 closed

[2019-09-04 15:23] ahmadabdolsaheb commented on #36604
#17193

[2019-09-04 15:38] raisedadead opened #36756 "Unable to close donate modal"
![image](https://user-images.githubusercontent.com/1884376/64269736-0e918400-cf58-11e9-84db-e80920c0d3a9.png)

The modal is humongous and also does not scroll. I am unable to scroll to the rest of it.

[2019-09-04 15:40] raisedadead commented on #36756
The CTA should not wrap. The modal should be responsive. I should be able to scroll past the elments

[2019-09-04 16:04] moT01 commented on #36754
I think it's fine - what would you like to see here @albert-codestein?

[2019-09-04 16:17] moT01 commented on #36475
I don't think there's an issue here - I would recommend that you not quit doing exercises because you don't see any value in one of them. The lesson shows how using bootstrap can be more efficient than making your own custom CSS.

[2019-09-04 17:26] RandellDawson commented on #36740
Some of the challenges are actually checking the comments, so you can not just sanitize all the challenges' comments.

[2019-09-04 17:50] QuincyLarson commented on #36611
@raisedadead The reality is authors are busy and even our (already brutally simplified) onboarding process can be confusing to some.

We don't want to add any more steps. If anything, we want to automate these tasks.

Instead of emailing, we just need a bot that tweets to authors when someone comments on their posts. Call it the Developer News Comment bot.

- As an author, when setting up my profi

[2019-09-04 18:05] raisedadead commented on #36611
Please note (in addition to all the good cases above):

- [ ] The application should give its subscribers a clear way to opt out.
- [ ] The application should not scarpe the comments from the application like news and forum aggressively (or make calls that will affect the stability).
- [ ] The application should also have an ability to remove a tweet (if found as spam / malicious, .etc)

[2019-09-04 18:20] raisedadead opened #36757 "Loader component should wrap the full application"
![2019-09-04 23 47 20](https://user-images.githubusercontent.com/1884376/64280409-b023d000-cf6e-11e9-95ad-ba10140f0331.gif)

---

The above will let the signin pass thru to the API, even when the user is already signed in and loading.

The navbar including signin button should be wrapped in the loaded component

[2019-09-04 21:42] Paul--- commented on #36414
Is this issue resolved?

[2019-09-04 21:44] Paul--- commented on #36414
Is this issue resolved or is there something else needed?

[2019-09-04 23:13] colbyfayock commented on #36748
awesome, thanks @raisedadead

[2019-09-05 00:37] electronsrace opened #36758 "Every click on the Menu List(Side Panel) in guide.freecodecamp.org scrolls to top of the page instead of staying at the same spot of click"
**Describe your problem and how to reproduce it:**
Steps to Reproduce the Issue
1. Launch a Browser
2. Navigate to https://guide.freecodecamp.org/
3. Click on the Side panel Link, Ex: Click on Java
</br><b>Expected Behavior</b>: Sub-Menus of the Java Link should be expanded and displayed
</br><b>Actual Behavior</b>: Side panel containing menus scrolls to top of the page and Hence could not see the

[2019-09-05 06:17] mzkev opened #36759 "The Solution in Get a hint for Sort an Array Alphabetically Using the Sort Method is not correct."
<!--
The Solution in Get a hint for Sort an Array Alphabetically Using the Sort Method is not correct.
It is supposed to be
function alphabeticalOrder(arr) {
  // Add your code below this line
  return arr.sort();

  // Add your code above this line
}

alphabeticalOrder(["a", "d", "c", "a", "z", "g"]);

Instead of this
function alphabeticalOrder(arr) {
  // Add your code below this line
  return a

[2019-09-05 06:24] h15200 commented on #17820
I want to thank @lucasMontenegro for the help!

Just to have it all in one place:
  1. Use Lucas's helpful glitch link
  2. set the env ENABLE_DELAYS=true along with your other settings
  3. In my case I had to change the profile.pug line 11 to:
         h1.border.center Profile Home FCC Advanced Node and Express
 4. Clear your database
 5. Restart the server on server.js (just hit return)
 6. Run

[2019-09-05 09:05] maxiqboy commented on #36753
they are not in basic section, they are in advanced section, and FCC are not tell much detail about them,
Learner had to use them in challenges without understand exactly about them.
That what I asked.

[2019-09-05 09:06] maxiqboy commented on #36753
I will take a look on the new lesson, thanks,

[2019-09-05 09:26] Ieahleen commented on #36753
is it about the challenge in the es6 section? it has been removed from there so you meet first the challenges I linked above, you will see the change live with next curriculum update

[2019-09-05 09:33] maxiqboy commented on #36753
I don't know, but when I studied on FCC last month, I met the challenges you linked above,

These challenges are quite complicated.

I realise that maybe map filter reduce methods are important parts but I saw no basic lesson about them.

I have to search outside and studied outside also,

So I opend this issue hope the next curriculum will update some basic lesson about them

so the new campers c

[2019-09-05 10:26] ArcticPirate commented on #36681
@bogscode I'm curious, my keyboard has two CTRL buttons and one of them is below the enter key. Does yours not have that?

[2019-09-05 11:46] raisedadead commented on #36758
Thanks for the report, unfortunately this will be a `wontfix`, as per https://github.com/freeCodeCamp/freeCodeCamp/issues/36729#issuecomment-526714451

[2019-09-05 11:46] #36758 closed

[2019-09-05 12:02] moT01 commented on #36759
Both, the solution in the [production guide](https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/functional-programming/sort-an-array-alphabetically-using-the-sort-method), and the [forum guide](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-sort-an-array-alphabetically-using-the-sort-method/18303), passed for me - can you test them again @mzk

[2019-09-05 12:55] mzkev commented on #36759
The Solution in the Get a hint link is this
function alphabeticalOrder(arr) {
  // Add your code below this line
  return arr.sort(function(a,b) {
    return a > b;
  });
  // Add your code above this line
}
alphabeticalOrder(["a", "d", "c", "a", "z", "g"]);

Which isn't correct, when you run it it gives error. Please see the screenshot below.
![image](https://user-images.githubusercontent.com/252

[2019-09-05 12:56] mzkev commented on #36759
@moT01

[2019-09-05 13:06] RisingGeek commented on #36652
Can I work on this issue?

[2019-09-05 13:09] moT01 commented on #36759
The guide with that solution will be removed soon and replaced with forum guide posts - I linked to the post about this challenge on my last comment. If one of the forum posts needs updating, we take suggestions via replies to the post. So the solution you are referring to will be gone soon - the solution on the forum is different - I was able to pass the challenge with both of them.

<img width="

[2019-09-05 13:10] ahmadabdolsaheb commented on #36652
Defiantly, @RisingGeek. Please go ahead with describing the solution you have in mind or submitting a pull request.

[2019-09-05 13:58] ahmadabdolsaheb commented on #36094
Some users have this issue and some do not.

It is likely that the id of certification has been changed and the backend fails to find that record for  since it looks for the new id.

[2019-09-05 14:31] ahmadabdolsaheb commented on #36724
The UI is done.
here are the screenshots for the breakpoints.
![image](https://user-images.githubusercontent.com/4591597/64350477-633d0980-d001-11e9-9eee-6af3f2071d90.png)

![image](https://user-images.githubusercontent.com/4591597/64350396-40125a00-d001-11e9-9e62-2e69e76de293.png)
![image](https://user-images.githubusercontent.com/4591597/64350419-49032b80-d001-11e9-8668-44545be74b68.png)
![image

[2019-09-05 15:02] ahmadabdolsaheb commented on #36094
Thanks to @moT01 for investigation.
The issue might be caused because of the id change here.
https://github.com/freeCodeCamp/curriculum/commit/4c650a6d8544f56904a6a0a287df1465ee1d72e9#diff-83023cc91e4914f72a3af824e2bcc2e9L7

[2019-09-05 15:12] ahmadabdolsaheb commented on #36724
@QuincyLarson, @raisedadead
for the following user story:
unauth users should be prompted to sign in when clicking on portfolio or donate buttons

Currently unauthorized users who visit settings get redirected to landing page.

We could have a similar functionality for donate and portfolio buttons where unauthorized users get redirected to landing page with a  flash message saying "sign in to visi

[2019-09-05 15:38] ahmadabdolsaheb commented on #18128
If there are no records for a fullstack certificate, a good fallback would be going thought the date of the modern certificates and displaying the date of latest claimed certificate.

[2019-09-05 15:39] raisedadead commented on #36724
Please throw in a PR and we will take it from there.

Please note that this is a significant change from the current production UX, and would need us to add unit tests before we proceed to release.

[2019-09-05 15:43] ahmadabdolsaheb commented on #36724
@raisedadead I completely agree,
Here is the PR #36744

[2019-09-05 15:45] raisedadead commented on #36739
Curriculum is independent of the release label. That's kept for platform mostly.

[2019-09-05 17:06] moT01 commented on #17334
This information was removed with the recent redesign of the welcome page. So we can close this.

[2019-09-05 17:06] #17334 closed

[2019-09-05 18:21] Ieahleen commented on #36759
@moT01 : the `a > b` callback works only on some browsers since about last October, it is going to be removed from the guide because of that

[2019-09-06 00:16] quietplace opened #36762 "Green checkmarks not appearing in HelmetJS section"
I’ve finished the Information Security with HelmetJS section and passed all the tests and submitted but when I go to the curriculum page none of the green checkmarks are appearing?? I’ve tried logging out and in again. I have also tried reentering the link into each lesson several times.
Have tested in both Chrome and Firefox

[2019-09-06 09:26] #36666 closed

[2019-09-06 09:29] #36751 closed

[2019-09-06 09:38] raisedadead opened #36763 "Audit and update styles for error, info and warning, etc."
![image](https://user-images.githubusercontent.com/1884376/64418135-19632a80-d0b8-11e9-88ce-e7a26206e540.png)

[2019-09-06 13:10] moT01 opened #36764 "Delete supporters.js component?"
[In this folder](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/client/src/components) - I don't think `supporters.js` and `supporters.css` are being used anywhere anymore - Everything is redirected to /news/support I believe. Should/can they be deleted?

Edit: Looks like [this file](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/pages/software-resources-for-nonprofi

[2019-09-06 15:03] ahmadabdolsaheb commented on #36764
correct, support component gotta go.
software-resources-for-nonprofits is a page; however, it is not publicized anywhere.
let me double check on that and make sure we add it to the list of redirects before deleting it.

[2019-09-06 15:42] ahmadabdolsaheb commented on #36094
The issue seems to be non-existent. Please feel free to re-open this issue if anyone comes across an inaccurate date on an Information Security and Quality Assurance Certification.

[2019-09-06 15:42] #36094 closed

[2019-09-06 17:24] bogscode commented on #36681
@ArcticPirate All keyboards do...I like to keep my fingers on fdsa jkl; so if anything can help where I don't have to move my hand as much would be more preferable. I'm 25 but I can imagine people who have Arthritis in their wrists etc it would be a benefit for as they could keep their hands in place  if they could map any key they want. Like I said it's just a suggestion but it would help make th

[2019-09-06 18:38] Hardik500 commented on #36763
So we need to update the the styles for the errors, warnings etc. right?

[2019-09-06 19:00] RandellDawson commented on #36759
I am closing this issue as we are just waiting for master to be shipped to production.  Also, the [new Guide (on the forum)](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-sort-an-array-alphabetically-using-the-sort-method/18303) has the correct solution.

[2019-09-06 19:00] #36759 closed

[2019-09-06 19:04] RandellDawson commented on #36753
FCC is not meant to be a comprehensive curriculum.  At some point, campers are expected to research outside and learn to read the docs on the various methods.  That being said, when the updated curriculum is release (soon), we have rearranged some of the lessons, so certain challenges are not introduced until map, filter, and reduce have at least been mentioned.

At this point, we will not be crea

[2019-09-06 19:07] RandellDawson commented on #36739
@raisedadead I added the `release: next/beta` label because this bug is not present in the current production environment.  It has to be something related to the current master.

[2019-09-06 19:08] RandellDawson commented on #36739
It is all of the curriculum challenges in this section and not just one challenge.  To me, this is a show-stopper and must be fixed before the next release to production.

[2019-09-06 19:10] RandellDawson commented on #36762
Have you asked for help on the forum?  If not, please try there first.  If the users there think there is a bug in the tests and not just your code, please feel free to request this issue to be reopened.  Also, please refer to the forum post you create if you would like us to reopen this issue.

Thank you.

[2019-09-06 19:10] #36762 closed

[2019-09-06 19:12] RandellDawson commented on #36414
@Paul--- We are waiting for a PR to be reviewed/tested/merged and then master to be release to production before you will see the issue completely resolved.

[2019-09-06 20:23] danesh4545 commented on #36414
در تاریخ سه‌شنبه ۱۸ تیر ۱۳۹۸ ه‍.ش.،‏ ۹:۲۵ Ming Yong <
notifications@github.com> نوشت:

[2019-09-06 20:29] danesh4545 commented on #36414
در تاریخ شنبه ۱۶ شهریور ۱۳۹۸ ه‍.ش.،‏ ۰:۵۳ danesh hajatpour <
danesh.hajatpour@gmail.com> نوشت:

[2019-09-06 21:34] raisedadead commented on #36763
And add/update tests for these too.

[2019-09-06 21:35] raisedadead commented on #36739
Could you reproduce this on the beta site?

[2019-09-06 21:40] raisedadead commented on #36739
This is a platform issue, which I brought in with https://github.com/freeCodeCamp/freeCodeCamp/commit/56d78a11198a0d244bd131a8b9386b247212c5a1

[2019-09-06 21:40] danesh4545 commented on #36763
در تاریخ جمعه ۱۵ شهریور ۱۳۹۸ ه‍.ش.،‏ ۲۳:۱۱ Hardik Khandelwal <
notifications@github.com> نوشت:

[2019-09-06 21:49] #36756 closed

[2019-09-06 23:40] QuincyLarson commented on #36681
Hey everyone - I'm a bit late to this conversation.

First of all, I enjoyed @ArcticPirate's proposed design.

Rather than try to redesign our old UI, I encourage you to wait until our new UI is ready, then make incremental tweaks to that.

Regarding monospace font VS proportional, proportional is indeed easier to read and we will be using it whenever we have more than a few words of text.

[2019-09-06 23:40] #36681 closed

[2019-09-06 23:44] QuincyLarson commented on #18023
@Em-Ant Have you had a chance to dig into this? Let me know if you need any help gaining access to this, or if you need me to create any new API keys.

[2019-09-06 23:46] #35648 closed

[2019-09-06 23:50] QuincyLarson commented on #35648
Thanks for your detailed feedback @ritute and @JonKaric.

Feature creep is a real problem (just look at something like Microsoft Word and how much more complicated it is than, say, Dropbox Paper). When you eschew complicated menuing like dropdowns, nested side-navigations, etc. it forces you to stay focused on what really matters. The average Microsoft Word user probably uses less than 1% of the t

[2019-09-07 01:00] quietplace commented on #36762
Ok thanks I'll try the forum then

[2019-09-07 07:41] Hardik500 commented on #36763
If it is not a problem, could you please mention the directories that need to changed.

[2019-09-07 09:07] Em-Ant commented on #18023
@QuincyLarson it seems that the camperbot credentials that i have are old and not valid anymore. Anyway the recommended new api requires an api key, it's not open.

[2019-09-07 10:21] barak2018 commented on #3037
hello, i want u to help me.
### 1.the instructions:

Given two numbers X and Y, write a function that:
1 returns even numbers between X and Y, if X is greater than Y else it returns odd numbers between x and y
For instance, take the integers 10 and 2 . the function would return all the even numbers between 2 and 10.

Specification
numberGame(x, y)
Return a list of odd or even number between two in

[2019-09-07 10:30] scissorsneedfoodtoo commented on #18023
@Em-Ant, let me see if I can set you up with new credentials and configure some of the API keys. Took a closer look at the project and it seems like a Mongo Atlas plan and keys are also required.

[2019-09-07 11:03] Em-Ant commented on #18023
@scissorsneedfoodtoo i have access now, thanks. let me know if you find a free/open api to use

[2019-09-07 11:13] scissorsneedfoodtoo commented on #18023
Awesome! Glad you got access.

Unfortunately it doesn't seem like there's a totally free API. Alpha Vantage might be our best bet, thought the default limits are really, well, limiting. Only 500 per day. As educators we could email them and see about getting that increased, though. I left a key for IEX Cloud just in case, though.

[2019-09-07 11:24] Em-Ant commented on #18023
ok. this one should be a working example, right ? Because there are also content security policy settings problems. front-end scripts are not executed. I'll try to fix that, let me know what you decide for the api. we could make a proxy with cache, like i did for the twitch api in the past.

[2019-09-07 11:34] scissorsneedfoodtoo commented on #18023
Yes, that's right, this is just the working example. Thank you again for digging into this, @Em-Ant.

As for the API, I'll send Quincy a message and ask for his input. Hopefully we'll be able to get in touch with the Alpha Vantage team to get those limits lifted.

[2019-09-07 11:43] Em-Ant commented on #18023
no problem.It's always a pleasure to help.  Let me know what you decide

[2019-09-07 13:08] scissorsneedfoodtoo commented on #18023
After going back and forth between the two, I think it's best we go with IEX Cloud for this project. Their free rate limits are the most generous, and we're unlikely to hit the limit with this example project. Since all we need are the most up-to-date stock NASDAQ stock prices, IEX Cloud should fit the bill. We should also be able to query multiple tickers easily with this format: `https://cloud.i

[2019-09-07 15:05] ahmadabdolsaheb commented on #36764
The software-resources-for-nonprofits was just migrated to news.
I will take care of deleting all of the above-mentioned files.

@raisedheaded, sorry just saw your comment
https://github.com/freeCodeCamp/freeCodeCamp/issues/36622#issuecomment-527452773

would you still like to have /welcome redirect to  /  on the client side?

Also could you please redirect the following as well
/software-resource

[2019-09-07 15:16] ceotimgorman commented on #10029
function switchOfStuff(val) {
  var answer = "";
  // Only change code below this line
  switch (val) {
  case("a"):
  answer = ("apple");
  break;

  case ("b"):
  answer = ("bird");
  break;

  case ("c"):
  answer = ("cat");
  break;

  default:
   answer = ("stuff");
  }

  // Only change code above this line
  return answer;
}

// Change this value to test
switchOfStuff(1);

[2019-09-07 17:48] ritute commented on #35648
It’s confusing why you would heart my comment and then close this issue right after without referencing anything. You guys are not planning to redesign the settings page and are happy with where it’s at currently? Or is there another issue you have open (I couldn’t find one)? While I won’t be able to, somebody else might want to pick this up at some point, and it’s a waste to toss away former disc

[2019-09-07 20:02] lirikf commented on #36652
Hi all,

#gatsby-focus-wrapper .ais-InstantSearch__root .default-layout button,
#gatsby-focus-wrapper .ais-InstantSearch__root .default-layout input
  {
  color:var(--blue-dark);
  }

Including these lines in client/static/css/bootstrap.min.css seems to fix the problem. However, I'm not entirely certain it doesn't produce side-effects.

[2019-09-07 20:18] QuincyLarson commented on #35648
@ritute Thanks again for sharing these links. As I said above, we are not planning to introduce more complicated navigation to the settings page, but rather to simplify the settings options.

We would welcome your contributions in other areas, though.

[2019-09-07 20:51] QuincyLarson opened #36766 "Prevent comment-less Developer News forum threads"
It is currently possible to create a forum comment thread for a Developer News article without leaving a comment.

For example, this thread has not actual comments in it, and merely represents noise when browsing News comments.

<img width="1022" alt="Start_from_Square_Zero__Hidden_Habits_You_Need_for_a_Successful_Career_in_Tech_-_News_Comments_-_The_freeCodeCamp_Forum" src="https://user-images.gi

[2019-09-07 21:08] Em-Ant commented on #18023
@scissorsneedfoodtoo now https://glitch.com/edit/#!/sphenoid-crater is working with your provided api key (and one of my mLab sandox dbs).

If we want to avoid that students need to create their own api key, we can build a proxy like i did for twitch, but we need to take into account the risk of somebody finding and using the 'open' edpoint for their purposes.

Also the requirements are slightly w

[2019-09-07 21:39] Bouncey commented on #36757
You could disable the sign in button until it is known that the user is signed in or not?

[2019-09-07 22:26] sangeet commented on #36652
Hi @lirikf :

That will affect every button and input under every other page as `#gatsby-focus-wrapper .ais-InstantSearch__root .default-layout` seems to be shared by every other page. I am not sure if it is a good idea to change all buttons and inputs under all pages.

The source for this page is at https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/internal-plugins/dev-404-page/r

[2019-09-08 04:35] raisedadead commented on #36766
Hi Quincy, I do not think this is possible at the minute, we use a script that is provided by discourse itself (just like a GA script).

We do not control the code for the same.

[2019-09-08 04:35] #36766 closed

[2019-09-08 05:57] sangeet commented on #36652
The following changes in global.css fixes this bug and brings the styling more along the lines of the rest of the website. Since, the colors are based on variables which change based on light/dark theme, this shouldn't break anything on the website (AFAIK, every other button, etc are using the .btn class)

[code]

Is this an acceptable fix?

[2019-09-08 08:02] thecodingaviator commented on #36732
This is a workaround and something that'll need to be done later but what if we write a line of JS separately in the head of each page. This would fix it for now, but as I said, it's a workaround, not a fix

[2019-09-08 15:34] jyling commented on #3714
Yahoo Weather is now dead and replaced with a new one that requires keys which sucks, however, while digging around rainmeter I found this [wxdata.weather.com](http://wxdata.weather.com/wxdata/weather/local/XXXXXX) which require code from weather.codes
https://weather.codes/, one downside of this keyless API is that this return XML instead of JSON

[2019-09-08 19:28] ahmadabdolsaheb commented on #36757
The Sign-in button will be completely removed from navigation with #36744

[2019-09-09 03:02] huyenltnguyen opened #36770 "Instruction of challenge Basic JavaScript: Use Multiple Conditional (Ternary) Operators is a bit unclear"
**Describe your problem and how to reproduce it:**
The instruction of challenge `Basic JavaScript: Use Multiple Conditional (Ternary) Operators` only tells user what they need to do, but not what their code should return.

User would need to scroll down to see what the tests expect, in order to complete the challenge.

**Add a Link to the page with the problem:**
https://www.freecodecamp.dev/learn

[2019-09-09 06:13] scissorsneedfoodtoo commented on #18023
@Em-Ant, thank you for your patience and for fixing this project so quickly. It's working really well! I can make sure we switch out your mLab db string for one tied to an fCC account.

By this point in the curriculum learners should be able to find a suitable service and create their own API keys. I don't think we need to worry about a proxy for this one.

Great catch with the mismatch between th

[2019-09-09 09:49] raisedadead commented on #36757
The problem is people would still be able to redirect to `/api/signin` without getting the userstate first.

[2019-09-09 11:35] JohnBaumlin opened #36773 "Broken Test: Basic JavaScript Nesting For Loops"
**Describe your problem and how to reproduce it:**
The Basic Javascript Nesting For Loops can pass all their criteria while doing it incorrectly.
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/nesting-for-loops

You can solve the problem with the following **fundamentally incorrect** code:

[code]
I believe this is an easy mistake to make.

To fix, simply

[2019-09-09 13:00] moT01 commented on #36773
This does not look like an easy mistake to make. I don't think anyone is going to be adding multiple conditions in a for loop test like this. There is often going to be a way to pass the tests with bad code, I don't think we can catch all of them.

Here's another function that will pass all the tests...
[code]

[2019-09-09 14:43] scissorsneedfoodtoo commented on #36693
Another necessary fix:
* Users should be able to type into the search bar and press enter to search for a term.

Nice to haves:
* Gmail-like hotkey support--Pressing `/` will focus on the search bar, and `j` and `k` keys can act as up or down arrow keys.

[2019-09-09 15:21] JohnBaumlin commented on #36773
Hmm... I see what you mean about bad code, but that's quite a specific way "around" the test, clearly manipulating the test values, and this test comes before the Ternary operator is taught.

Not understanding what should go in the second conditional, arr[k].length or arr.length or arr[i].length seems like an intuitive error that can happen, and we can proof against this error on the student's par

[2019-09-09 15:38] moT01 commented on #36773
Accidentally using `k <= arr[k].length` or something like it in the second loop is a mistake people would make, but that won't pass the tests. It only passes the tests because you added `undefined !== arr[i][k]` in the condition as well - which is something nobody is going to add.

Increasing the test array won't change the result for someone that uses `k <= arr[k].length` - it won't pass either w

[2019-09-09 16:44] EmmaluFox commented on #17512
This issue is still occurring for me?

[2019-09-09 17:44] James-Crean opened #36774 "Incorrect text for test cases in Balanced Brackets question"
Many of the test cases on the balanced brackets challenge state incorrect expectations. For example `isBalanced("][")should return true.`. There are many similar test cases like this.

The tests themselves seem to be correct despite the html text. It is worth noting however, that the test cases are missing at least one case that should be added. Please consider adding `isBalanced("[]]]")should ret

[2019-09-09 20:24] ahmadabdolsaheb opened #36775 "The landing page should be improved"
The landing page should undergo the following changes:

1. whitespace should be managed in a way that the last bullet point stays above fold.
2. add the text "As seen in:" centered and above the logos image
3. give margin/padding to the bullet points  so they are vertically aligned with the title of the page to be as same as the CTA button.

4.  Minimize text wrapping for smaller screens.

![image

[2019-09-09 21:54] Bouncey commented on #35614
The fix for this is dependent on #36776

[2019-09-10 05:32] #35614 closed

[2019-09-10 05:32] #36604 closed

[2019-09-10 07:14] iwhiz commented on #36468
Hello, I am interested in solving this issue. What is the procedure to become part of this organization?

[2019-09-10 09:24] ahmadabdolsaheb opened #36777 "Landing page photo should be an SVG"
the logo asset should be vectorized and turned to a component similar to other assets so we could change its color according to the theme and would not need to load it from the CDN

Samples
https://github.com/freeCodeCamp/freeCodeCamp/tree/master/client/src/assets/icons

![image](https://user-images.githubusercontent.com/4591597/64601600-e7a6d800-d3c5-11e9-827e-9ba234101353.png)

[2019-09-10 20:56] Bouncey commented on #36739
Don't be so hard on yourself @raisedadead. It is as @RandellDawson guessed. The CORS in the boilerplate is where the error is coming from.

Currently the boilerplate only excepts requests from `*.freecodecamp.org` domains, hence the CORS error when on `.dev` or running the learn platform locally.

In short, not a blocker for the @next release.

For developing the challenges locally, update the cor

[2019-09-10 21:04] Bouncey commented on #36740
Did someone say [hast](https://github.com/syntax-tree/hast)?

[2019-09-10 21:10] Bouncey commented on #36740
Ooops, been a while  since I have been on GitHub.

Using an AST will help remove those awful regex tests that many of the older challenges rely on. The `challenge-markdown-parser` is built with [unist](https://github.com/syntax-tree/unist)

[2019-09-10 22:04] QuincyLarson opened #36779 "301 Redirect testimonials page to LinkedIn alumni page"
I didn't realize this page was still live on freeCodeCamp. It hasn't been updated in about 4 years: https://www.freecodecamp.org/all-stories

We should point this to our LinkedIn alumni page: https://www.linkedin.com/school/free-code-camp/people/

[2019-09-11 07:59] raisedadead commented on #36739
#### 🤦‍♂

Thanks a ton @Bouncey ! You are life saver. 15 months worth of dev has definitely kept me on the edge for a while. Lol. :)

[2019-09-11 08:12] raisedadead commented on #36764
I already added this to the redirects generator. If there something that needs to be done on the Gatsby end of things, I would like you to audit and check.

I think you should be able to add this to the ref to the generator on your PR, and we can land it as well? Let me know if you need help?

[2019-09-11 08:21] raisedadead commented on #36779
Hi @QuincyLarson I think we decided to redirect it home long back.

Here is the redirect generator file that we use to track and redirect our old pages:

https://github.com/freeCodeCamp/freeCodeCamp/blob/master/tools/scripts/build/create-redirects.js

Can you confirm this is in order?

[2019-09-11 08:48] #36770 closed

[2019-09-11 14:05] LearnerSamuelX opened #36781 "React: Use Advanced JavaScript in React Render Method"
**Describe your problem and how to reproduce it:**
So I wrote my own code on this one, and tried several times with the same result: **When text is entered into the input element and the button is clicked, the MagicEightBall component should return a p element that contains a random element from the possibleAnswers array.** didnt pass. Ran the solution code and the same thing happened.

**Add a Li

[2019-09-11 15:01] ojeytonwilliams commented on #36732
@raisedadead wouldn't the cookies still need js to work? If the problem is hydration, then I don't think cookies will fix it - it would still need hiding. The loader discussed in #36757 will address this, I guess, though I'm not 100% on how that's going to work.

Presumably it would go something like:

Loader (render spinner only) -> cookie parsed (render full site) -> server response (change acco

[2019-09-11 16:45] moT01 commented on #36732
As a side thought - night mode(or whatever is default) isn't available for people without a username or not logged in. Perhaps it could or should be taken out of the db completely and stored in browser storage with a toggle switch in the nav or something.

[2019-09-11 17:39] matoval commented on #36775
I just finished this in gitpod. This is my first time working on open source and first time working in react but I believe I have fixed the issues.

[2019-09-11 19:31] thecodingaviator commented on #36732
@raisedadead I thought a bout was hat I  wrote but it won’t wo work sonthats that

About what’s @moT01 said, I second that, I’ve been doing the same for my portfolio website too.

[2019-09-11 20:21] QuincyLarson commented on #36724
@ahmadabdolsaheb One minor change we should make to the search box should be the inclusion of a magnifying glass icon to the left of the "Search 5,000+ tutorials" text.

Even though we don't use icons anywhere else in our navigation, I think this will help convey to users "this is a search bar - you can type search queries here".

Any generic magnifying glass icon will do - we can just load a smal

[2019-09-11 20:24] QuincyLarson commented on #36659
@moT01 Agreed. We are removing the "sign in" button from the navigation anyway so this shouldn't be an issue. I'm going to go ahead and close this issue.

[2019-09-11 20:24] #36659 closed

[2019-09-12 02:37] QuincyLarson commented on #36779
@raisedadead This looks perfect. Thanks for confirming this.

[2019-09-12 02:37] #36779 closed

[2019-09-12 02:41] QuincyLarson commented on #18023
@scissorsneedfoodtoo I would recommend we do create a proxy like we did for the twitch API. This will save thousands of people time that they would otherwise have to spend getting set up for a service they may never use again.

And yes, @Em-Ant I agree about removing jQuery. We are removing it from Version 7.0 of our curriculum anyway, so it will be best to not have it here either. Thanks again fo

[2019-09-12 04:45] anujsoni08 commented on #36781
I also did the same thing and it is working.

I am attaching code that i have written

const inputStyle = {
  width: 235,
  margin: 5
}

class MagicEightBall extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      userInput: '',
      randomIndex: ''
    }
    this.ask = this.ask.bind(this);
    this.handleChange = this.handleChange.bind(this);
  }
  ask() {

[2019-09-12 08:20] paintedskies opened #36782 "Write a Simple Counter: Preview failing to update, tests are passing"
**Describe your problem and how to reproduce it:**
I have added increment and decrement functions as per instruction, and it passes all tests and  lets me go to the next page.However, in the preview, clicking on increment and decrement doesn't update the count.
Modified code:
[code]
**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/front-end-libraries/react/write-a-simple

[2019-09-13 07:44] scissorsneedfoodtoo commented on #18023
@Em-Ant, awesome, thank you again for all of your help with this. I'll create an empty project and label it right away.

About removing jQuery, I'll was doing some testing on a fork of your updated example project. Seems to be working, so I'll copy over the changes to sphenoid-crater.

[2019-09-13 11:04] thecodingaviator commented on #36775
While we're at it
![image](https://user-images.githubusercontent.com/34807532/64858189-4da09300-d644-11e9-8728-b052910cb06c.png)

Should we make the list to be centred for mobile layouts?

[2019-09-13 11:07] thecodingaviator commented on #36775
@ahmadabdolsaheb In point 3, do you want the OP for the PR to make the bullets align with the title AND the CTA or only to the title like how the PR currently looks?

![image](https://user-images.githubusercontent.com/34807532/64858359-bab42880-d644-11e9-9273-c2cf667ab80e.png)

[2019-09-13 12:51] moT01 commented on #36774
Why would we want to add this test `isBalanced("[]]]")should return true` @James-Crean? - seems like that should be false to me. Also - I'm sure why that code should fail, seems like it should work.

[2019-09-13 14:35] RandellDawson commented on #36782
@jzabala Sure, go ahead and create a PR.

[2019-09-13 17:58] Hardik500 commented on #36775
How about this one?
![Screenshot (5)](https://user-images.githubusercontent.com/28431356/64883874-f8817300-d67d-11e9-9fb2-27a558123a77.png)

[2019-09-14 01:40] chezzwizz commented on #36652
If it uses the themes API, then I would imagine there might be some good information at [https://www.gatsbyjs.org/docs/theme-api/]()

There are several mentions of the `gatsby-config.js` file with some path and color references. Perhaps there might be some settings in this file or another file in the components of the theme directory that the 404 page rendering uses.

[2019-09-14 07:19] Fuji1405116 commented on #11985
I had the same problem. No need to specify the type. Just reset the page and add
<button class="btn btn-default">Like</button>
The problem was occuring because, sometimes we make/add some extra things to make it cool which may conflict with the test cases. So Its better to reset first

[2019-09-14 08:00] kairstenfay opened #36790 "404 encountered when clicking 'Go to the coding curriculum' from www.freecodecamp.org"
**Describe the bug**
When I'm logged in at www.freecodecamp.org and click on the button, 'Go to the coding curriculum', I encounter a 404 error page with the browser URL containing `https://learn.freecodecamp.org/front-end-libraries/react/use-array.filter-to-dynamically-filter-an-array`.

**To Reproduce**
1. Be logged in at www.freecodecamp.org
2. Click on the button 'Go to the coding curriculum'

[2019-09-14 11:19] RandellDawson commented on #36790
Thank you for reporting this issue, but it has already been fixed on our master branch and just waiting for the master branch to be deployed to production.  I am closing this issue for now as there is nothing else to do except wait for production to be updated.

[2019-09-14 11:19] #36790 closed

[2019-09-14 18:08] ahmadabdolsaheb commented on #36764
@raisedadead thanks for the feedback.  the ref generator was updated accordingly in #36778

[2019-09-14 20:02] jzabala commented on #36782
Hi, I already did the corrections in the file `write-a-simple-counter.english.md`. Now I want to apply the fixes to the other languages but I am having a hard time change the language of the site. I have tried:

http://localhost:8000/learn/front-end-libraries/react/write-a-simple-counter
http://localhost:8000/learn/front-end-libraries/react/write-a-simple-counter
http://localhost:8000/learn/front-

[2019-09-14 23:50] RandellDawson commented on #36782
Don't worry about the other languages.  They will not be deployed to production in the next release.

[2019-09-15 03:25] jzabala commented on #36782
Awesome. Thanks @RandellDawson. PR created :D

[2019-09-15 07:36] #36764 closed

[2019-09-15 08:39] tttaaannnggg commented on #36715
How do we actually contribute to the guide? the guide repo points back at the monorepo, which points to contribution guidelines, which just points us back at the (empty) guide repo again....

I've tried to grep through the monorepo to figure out where the files are, but no luck. Am I missing something?

[2019-09-15 13:03] Bouncey commented on #36740
@vkWeb, @raisedadead, @RandellDawson, How do this look? The idea is to provide a challenge test utility to replace the need upon horrible RegEx tests.

I have this passing locally as a POC.

[code]
<img width="590" alt="Screenshot 2019-09-15 at 14 02 12" src="https://user-images.githubusercontent.com/18572518/64922004-87e36f00-d7c1-11e9-8777-2ac78bab3f6d.png">

[2019-09-15 14:13] raisedadead commented on #36740
This would be really nice to be able to update those quirky tests. Can you please throw in you changes in a PR?

[2019-09-15 18:18] James-Crean commented on #36774
Woops. I made the same mistake I'm reporting, lol. I have corrected the mistake.

The test case covers a corner case that multiple students missed but is not detected by the current tests.

The problem with the code above is that it does not check if `matched` is empty before calling `pop`.

The current tests, such as `isBalanced("[[][]]][") should return false.` end up not catching this issue bec

[2019-09-15 18:32] QuincyLarson opened #36794 "Typo in uncomment-html page"
There's a subject-verb agreement error in the text. "Starts with" should be "start with"

<img width="502" alt="Learn_Basic_HTML_and_HTML5__Uncomment_HTML___freeCodeCamp_org" src="https://user-images.githubusercontent.com/985197/64925920-05f14700-d7bd-11e9-9d26-ef2c882e3bc9.png">

[2019-09-15 18:35] QuincyLarson opened #36795 "Instead of Arrow navigation buttons we should use hotkeys"
At some point we added arrows to be able to quickly navigate through the challenges. While this makes it easier for superusers to step through the challenges, they're not ideal from a pedagogical perspective.

The presence of these arrows will encourage people to just start skipping around the moment they get stuck instead of just being patient and trying to solve the challenge. And once a learner

[2019-09-15 19:19] QuincyLarson commented on #36612
I've got a simpler solution.

[2019-09-15 19:19] #36612 closed

[2019-09-15 19:21] QuincyLarson opened #36796 "How we can fix News comments and article sharing"
Currently Developer News comments are an embedded forum page.

Instead of embedding these, we should just do [what BoingBoing does](https://boingboing.net/2019/09/13/omission-commission.html) with their Discourse integration:

![Penetration_testers_jailed_after_they_broke_into_a_courthouse_to_test_its_physical_security___Boing_Boing](https://user-images.githubusercontent.com/985197/64926546-39839f

[2019-09-15 19:27] RandellDawson commented on #36795
@QuincyLarson PR #https://github.com/freeCodeCamp/freeCodeCamp/pull/35485 added these and closed issue #17509.  I think these arrows are a great feature which allow users to easy go back and forth to other lessons they have already completed also.  This is very useful for users completing the challenges which build upon each other.  A user may get stuck, but remember that a couple lessons back the

[2019-09-15 19:30] clarkngo opened #36797 "Typo in Challenge - Basic Data Structures: Use an Array to Store a Collection of Data"
**Describe your problem and how to reproduce it:**
In the screenshot provided, the property `d` has a property value that is enclosed with `”` instead of `"`.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/use-an-array-to-store-a-collection-of-data/

**Tell us about your browser and operating system:**
*

[2019-09-15 19:32] RandellDawson commented on #36774
@James-Crean So do you have a test case (that does not exist yet) that would wrongly pass or wrongly fail the existing tests?

[2019-09-15 19:33] clarkngo opened #36798 "Broken link - Basic Data Structures: Generate an Array of All Object Keys with Object.keys()"
**Describe your problem and how to reproduce it:**
When you click **Get a Hint**, it redirects to a 404 page.

Need to change this url:
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/generate-an-array-of-all-object-keys-with-object-keys/

to this working url:
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basi

[2019-09-15 19:36] RandellDawson commented on #36797
@clarkngo Thanks for reporting, but this bug was fixed in a pull request.  You can [view the current version of the file](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/use-an-array-to-store-a-collection-of-data.english.md) to see it has been corrected on the master branch.  Once the master b

[2019-09-15 19:36] #36797 closed

[2019-09-15 19:37] RandellDawson commented on #36798
@clarkngo This issue has been resolved on the master branch.  We are just waiting for it to be shipped to production.

[2019-09-15 19:38] #36798 closed

[2019-09-15 19:56] moT01 commented on #36774
It's an edge case - he's saying that his code/strategy passes the current tests, but would fail his suggested test addition (`isBalanced("[]]]"`) because of the push/pop strategy. I doubt that this is a frequent problem, but since this challenge needs its test text updated - we can probably change one of the tests to accommodate this in the process.

I think we should change one of the existing te

[2019-09-15 20:24] QuincyLarson opened #36799 "Add freeCodeCamp logo to Developer News AMP navbar"
Currently AMP pages look like this:

![signal-2019-09-15-152034](https://user-images.githubusercontent.com/985197/64927149-8b302800-d7cc-11e9-8223-07571e3a201e.jpeg)

Note they just say "Developer News" up top. Instead, we want them to have the freeCodeCamp logo.

[2019-09-15 20:38] Em-Ant commented on #18023
@scissorsneedfoodtoo  check the proxy at https://repeated-alpaca.glitch.me , it's simple but it should be ok.  Check if there is something missing.

[2019-09-15 20:46] QuincyLarson commented on #36795
Hi @RandellDawson. Thanks for your feedback. I regret that I didn't see that discussion thread earlier or I would have said something sooner.

This arrow feature addresses a symptom of the navigation problem, but not the underlying problem.

That underlying problem is that our challenge navigation is too cumbersome. We should instead work on simplifying that navigation.

Clicking back and forth th

[2019-09-15 21:31] robertholl commented on #36794
Good find.  Were you planning to make the correction or reporting for someone else to correct?  If you aren't I can correct and submit a pull request.

[2019-09-15 22:37] RandellDawson commented on #36774
@James-Crean Would you want to suggest a change for one of the tests?

[2019-09-15 22:39] RandellDawson commented on #36794
@QuincyLarson Question: Do we actually need the comma before the phrase ` and ends with a ...`?

[2019-09-16 00:41] moT01 commented on #36774
the ninth from the top... `isBalanced("[[][]]][") should return true.` - removing the last `[` should catch the cases he is referring to - so it would become `isBalanced("[[][]]]") should return false`.

[2019-09-16 02:50] scissorsneedfoodtoo commented on #18023
@Em-Ant, thank you for taking care of this so quickly. Everything seems to be working fine on my end.

I'll update the description for this project with the addresses for the new sample project and the proxy.

[2019-09-16 04:06] QuincyLarson commented on #36775
What do you all think about removing the compound sentences and breaking it into more lines:

Learn to code.
Build projects.
Earn certifications.
Grow your portfolio.
Get a developer job.

[ Sign in and get started (it's free) ]

[2019-09-16 04:07] QuincyLarson commented on #36794
@RandellDawson Nice catch. We don't need that comment either. In such a sentence a comma would be optional, but here it looks kind of awkward following the code block.

[2019-09-16 04:37] Hardik500 commented on #36775
I think it will look great. It is quite precise and to the point.

[2019-09-16 08:12] raisedadead commented on #36795
Since this was introduced on master, we will have to address this before shipping out. Any takers?

[2019-09-16 08:18] raisedadead commented on #36781
Hi @LearnerSamuelX can you try the regular troubleshooting steps and reachout to the forum for help. I could not reproduce this. I am closing this for now, however please comment back to get this re-opened once someone has confirmed on the forum that its indeed an issue with challenege

[2019-09-16 08:18] #36781 closed

[2019-09-16 11:06] raisedadead opened #36802 "[ghost]: Audit and update the links on the footer in news theme"
![image](https://user-images.githubusercontent.com/1884376/64953274-0d3d5100-d8a0-11e9-92e6-e3c34190aab6.png)

Audit and update the footer links on the Ghost theme.

[2019-09-16 11:33] thecodingaviator commented on #36775
@QuincyLarson That'll be too long on the page IMO. What we can do is, make it a rorating thing, as in first, the first point is available, which then fades to reveal the second and so on

[2019-09-16 19:14] ahmadabdolsaheb commented on #36734
Thanks for the issue. It seems like the way to go for themes would be either localStorage or cookies and bringing theme switching to the universal nav, and completely disconnecting it from the DB.

[2019-09-17 08:22] ahmadabdolsaheb opened #36805 "Create an SVG that includes logos of 5 tech companies."
This is the list of the top tech companies at which our graduates work.

This svg will be placed in the landing/map page if the user is not logged in.

The svg should have the following characteristics:

- [ ] it should include the logos of Microsoft, Google, Amazon, Spotify, Apple.
- [ ] it should be stored in client/src/assets/images/ directory
- [ ] the svg should be in a form of a component an

[2019-09-17 08:22] ahmadabdolsaheb commented on #36805
cc @thecodingaviator

[2019-09-17 11:59] HERBOD7 commented on #36763
@raisedadead I can do it.

[2019-09-17 20:47] QuincyLarson opened #36809 "Add comments to Ghost pages"
Currently Ghost pages do not have comments. Is it possible to add comments to Ghost pages?

[2019-09-18 07:50] clarkngo commented on #36797
I have checked the master branch and saw it was correct. However, I didn't know about the shipping stage. Hence, the issue. Apologies for creating an extra same issue. Thank you @RandellDawson.

[2019-09-18 07:50] clarkngo commented on #36798
Thank you @RandellDawson

[2019-09-18 08:22] iliyaZelenko opened #36810 "I created a tool for easy creating / editing challenges."
A topic has already been opened with this half year ago:  https://github.com/freeCodeCamp/freeCodeCamp/pull/35609

**Description:**
You can try to create / edit challenges through a handy tool (forms in the browser), which is much more convenient than editing the file on the github. [Open the tool in your browser](https://iliyazelenko.github.io/freeCodeCamp-challenges-manager/) (this is a new tool

[2019-09-18 12:16] thecodingaviator commented on #36715
Hi, @tttaaannnggg please go through [this issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/36729)

[2019-09-18 16:49] ojeytonwilliams opened #36813 "Stack overflow error with Donation modal"
**Describe the bug**
When you go to a challenge and the donation modal appears a stack overflow error occurs

**To Reproduce**
Steps to reproduce the behavior:
1. Using Chrome go to `http://localhost:8000/learn`
2. Click on `Say Hello to HTML Elements`
3. Open the dev console
4. See error

**Screenshots**
![ModalBug](https://user-images.githubusercontent.com/15801806/65168061-08b19d80-da44-11e9-9b

[2019-09-18 17:51] #36794 closed

[2019-09-18 23:59] moT01 commented on #36810
Pretty slick @iliyaZelenko - perhaps this should be it's own repo so issues can be made specifically for this. There's a number of things that could use some work, but it's nice. This tool has a lot of potential.

[2019-09-19 00:17] RandellDawson commented on #36810
I believe the idea is incorporating it into our https://contribute.freecodecamp.org/dashboard, but we are in the middle of restructuring it to do other things.  Once restructure is complete, then we try and incorporate this tool as another feature of the dashboard.

[2019-09-19 02:26] TishG opened #36814 "Found some minor issues in the Free Code Camp JavaScript Style Guide"
**Describe your problem and how to reproduce it:**
In the Long Strings section, I discovered minor issues in both examples.
 1st example
[code]

I copied and pasted this code into the chrome console and it produced the following error:
Uncaught SyntaxError: Invalid or unexpected token

Suggested fix:
I believe those symbols should be back ticks
[code]
Tested this version in the browser and it did

[2019-09-19 06:00] RandellDawson commented on #36814
No need to create a pull request.  I have fixed the Guide topic.  Pull requests are not needed for forum topics.  In the future, you can just reply to the topic and make a comment about what needs to be fixed and someone with moderator or admin access can fix it.

Thanks for reporting.  I will close this issue for now.  If you have other issues with the forum topic, please reply to the forum topic

[2019-09-19 06:00] #36814 closed

[2019-09-19 06:55] raisedadead commented on #36813
You are correct, I think there could be a race condition between the two.

[2019-09-19 07:04] raisedadead commented on #36809
Hi @QuincyLarson,

Comments on pages can be enabled by adding this snippet from the `posts` view to the `pages` view:

https://github.com/freeCodeCamp/news-theme/blob/793b187920de52d09672c043f24fb9fede2c35ce/post.hbs#L88-L122

https://github.com/freeCodeCamp/news-theme/blob/master/page.hbs#L37

That said, do we want to filter certain pages from having the comment snippet? For instance, I think we

[2019-09-19 07:10] raisedadead commented on #36777
Closing, as requirement change.

[2019-09-19 07:10] #36777 closed

[2019-09-19 07:48] raisedadead commented on #36432
@RandellDawson did we get around to sanitizing the hint articles with the script? If yes, this can now be closed.

[2019-09-19 07:50] #35490 closed

[2019-09-19 08:09] raisedadead commented on #34783
See https://github.com/freeCodeCamp/freeCodeCamp/issues/36729 for refrence

[2019-09-19 08:09] #34783 closed

[2019-09-19 08:34] RandellDawson commented on #36432
Yes, this was completed before porting over to forum.

[2019-09-19 08:34] #36432 closed

[2019-09-19 10:30] TishG commented on #36814
I guess I am confused. I was looking to contribute to freeCodeCamp. My process was to report what I found and then make the edit in order to make a contribution.

[2019-09-19 12:17] #36813 closed

[2019-09-19 12:44] Joel-Howard opened #36818 "Wrong videos in lessons"
**Describe your problem and how to reproduce it:**

This lesson and the following one contain the videos for each other.

**Add a Link to the page with the problem:**

[https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-the-header-landmark](https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/make-screen-reader

[2019-09-19 15:37] RandellDawson commented on #36814
@TishG Sory for the confusion.  For changes to the repo, you create issues and pull requests.  For changes to the forum topics, you can just reply to let someone know what needs to be corrected.  It is still contributing, but it is not via GitHub.

[2019-09-19 16:21] #36799 closed

[2019-09-19 16:21] #36802 closed

[2019-09-19 16:45] #36724 closed

[2019-09-19 16:54] #36805 closed

[2019-09-19 17:06] raisedadead opened #36819 "Light/Dark toggle button on the nav"
- [ ] Implement the gatsby themes.
- [ ] Implement the theme functionality in the nav.
- [ ] Implement the theme functionality using SSR to avoid flashing from default theme.
- [ ] Remove the theme related code from the client including calls to the api (no need to work on removing api from server itself).
- [ ] Default to night.
- [ ] Store the key in cookie and clear when user signs out.

[2019-09-19 17:11] raisedadead commented on #36732
We are removing the support for storing theme on the user object and instead moving to store theme per device, like most sites Youtube, Twitter etc.

This would mean some users using multiple devices are affected. But I find that to be a much less of a pain than having to manage the quirks of hydration and all other nuances.

Thanks everyone for your involvement in these issues. Closing in favor o

[2019-09-19 17:11] #36732 closed

[2019-09-19 17:13] raisedadead commented on #36734
See https://github.com/freeCodeCamp/freeCodeCamp/issues/36732#issuecomment-533224825

[2019-09-19 17:13] #36734 closed

[2019-09-19 17:14] raisedadead commented on #18131
Tons of thanks to @ojeytonwilliams and @ValeraS for working and implementing this. This will be shipped in the next version for freeCodeCamp in the upcoming weeks.

[2019-09-19 17:14] #18131 closed

[2019-09-19 17:21] raisedadead commented on #36692
We may not be using gatsby for news soon enough. As for the delay can we have a screencap (gif) of some sort to better understand and address this.

[2019-09-19 17:23] raisedadead opened #36820 "Consolidate the welcome page and the projects/learn map page"

[2019-09-19 18:01] ojeytonwilliams commented on #36819
Is the plan to store user preferences via cookies/localStorage?  If so, I suspect that hydration's still going to result in flash of the other theme, since parsing the cookies is handled by js.

Not that I think this is a bad idea, just that that problem might remain.

[2019-09-19 18:35] raisedadead opened #36821 "React migration for componentWillMount"
![image](https://user-images.githubusercontent.com/1884376/65271141-31b45a00-db3a-11e9-85c4-192be650146e.png)

We need to migrate and move away to the recommendation as per the logs above.

[2019-09-19 21:54] QuincyLarson opened #36823 "Update freeCodeCamp sitemap"
We want to maximize the quality of pages we expose to Google.

Arriving at (mostly set-to-private) user profiles or challenge pages that are half-way into the curriculum isn't a good user experience.

We should remove everything from freeCodeCamp's sitemap except for the main freeCodeCamp page: https://www.freecodecamp.org/sitemap.xml

We should also put the following meta property on all of our p

[2019-09-19 21:57] vkWeb commented on #36795
@QuincyLarson We have thousands of challenges in our curriculum. Suppose if the user is in 300th challenge and wants to go back to 200th challenge, the hotkeys or the arrow keys are not at all useful in cases like these. We can implement hotkeys for superusers but it's not solving the underlying navigation problem.

Actually, we should not look at it as a problem because there's no better approach

[2019-09-19 21:59] QuincyLarson commented on #36809
@raisedadead OK - awesome.

Yes - these comments will be helpful. We can use that same "Tweet / Share / Comments" component we're going to use on the News posts.

The only pages I don't think we want comments on are:
About
Sponsors
Academic Honesty
Code of Conduct
Privacy Policy
Terms of Service
Copyright Policy

I think every other page can have them no problem.

[2019-09-20 07:00] raisedadead commented on #36823
That is correct, but I think we would still need to include them under the `freecodecamp.org/sitemap.xml` to be discovered?

[2019-09-20 07:02] raisedadead commented on #36823
Can you confirm by all pages you mean the top level landing page and the user profiles, and their certification pages as well?

[2019-09-20 07:18] ahmadabdolsaheb commented on #36819
I share your concern. there are some theme toggle implementations using localhost and gatsby that we could look into to arrive at a solution.

I'm just adding this for my reference:
https://github.com/gatsbyjs/gatsby/issues/15386

[2019-09-20 07:48] raisedadead commented on #36819
I am almost certain that we may end up using Gatsby's theme feature. So, we essentially have the dedicated themes for light, dark, etc. solving a class of problems.

[2019-09-20 07:53] ojeytonwilliams commented on #36819
@ahmadabdolsaheb from what I'm seeing in that thread, they're talking about the development server.  If there are issues with hydration, presumably they won't be visible until it's run in production mode.

[2019-09-20 07:59] ojeytonwilliams commented on #36819
I assume so, yeah.  I imagine SSR gets the default mode good to go, but we'd need to handle/hide the transition if a cookie says 'show another mode'.

What I'd recommend is this. Build the light/dark toggle and solve the splash problem if and when it re-occurs.  Gatsby's complicated and it's possible I'm completely wrong about the hydration.

[2019-09-20 08:11] ojeytonwilliams opened #36824 "Curriculum map on mobile"
Currently the map looks like this:
![MobileMap](https://user-images.githubusercontent.com/15801806/65310446-9e594400-db8e-11e9-8f6b-db4d43b7764b.png)

I think it would look a lot better if we made more use of the available space.  Something like this:
![MobileMapUpdated](https://user-images.githubusercontent.com/15801806/65310604-fabc6380-db8e-11e9-9d4d-70a2d00f4540.png)

[2019-09-20 08:17] raisedadead commented on #36819
You are correct, the hydration issue is on the production, I'll explain how it works (albeit oversimplified) just to refresh this and make sure we are on the same page:

On development:
- Gatsby continuously builds and uses a web server to serve the asset bundles.
- There is no delay in the 'rendered webpage' that your browser sees on first load. **The development server did the 'rendering' for us

[2019-09-20 08:25] ojeytonwilliams commented on #36819
The only thing I'm unsure on is:

If that's how it works, problem solved!

[2019-09-20 08:31] raisedadead commented on #36819
I am unsure of that as well. That is the assumption in this theory, let's do some research.

If not a viable option, then the fallback is to delay the 'on client' theme change with a nice transition.

[2019-09-20 08:50] ojeytonwilliams commented on #36824
@raisedadead I can fix the css in a separate PR, if you like.  Unless you're already handling it, of course.

[2019-09-20 09:34] ojeytonwilliams opened #36825 "Challenges are not mobile friendly"
This wasn't always the case, but right now the formatting for smaller screens isn't great:

![Resize](https://user-images.githubusercontent.com/15801806/65316196-c26e5280-db99-11e9-9b67-480ba4c84003.gif)

Smaller screens used to have tabs letting you switch between the instructions, editor and so on.  You can see them briefly (in the gif) at medium screen sizes, but not for mobile.

If we still wa

[2019-09-20 09:51] raisedadead commented on #36824
I think it is handled now in the PR already. I moved things into the Grid system

[2019-09-20 10:06] ahmadabdolsaheb commented on #36796
Note: we could have a big bolded sentence at the end of each article that says this:

Did this article help you? Share it on [Twitter](twitter link) or [Facebook](facebook link). And [Leave a comment](comment page).

[2019-09-20 10:19] ojeytonwilliams commented on #36824
That PR still has the heavy indentation:

![MapPR](https://user-images.githubusercontent.com/15801806/65319782-b934b400-dba0-11e9-8686-da178d3672d6.png)

[2019-09-20 11:00] raisedadead commented on #36824
You are correct, if you have something going please go ahead and push to the PR. I am done with the basic consolidation of the views that I was going for.

[2019-09-20 16:07] ojeytonwilliams commented on #36821
So far I've found that `react-instantsearch-dom` and `@freecodecamp/react-bootstrap` are the main culprits.  Possibly also `@reach/router`.

Algolia seem to be working on this:
https://github.com/algolia/react-instantsearch/issues/1743

As for `@freecodecamp/react-bootstrap` I suspect the solution is going to be to migrate to a more recent version of `react-bootstrap`.

I'll take a closer look at

[2019-09-20 16:22] raisedadead commented on #36821
Let's ditch that, for good. We do not need the full library. Also if I am not mistaken we are not on v4 yet. It will be a huge pain to go that route

@ahmadabdolsaheb and I have been talking about this a lot. I think we should just move to CSS-in-JS solution like theme-ui or something.

Its way lightweight that the bulky bootstrap lib.

[2019-09-20 16:28] #36414 closed

[2019-09-20 16:33] raisedadead opened #36828 "i18n of User Interface"

[2019-09-20 16:44] ojeytonwilliams commented on #36821
@raisedadead oh, it'd be a massive pain to migrate, for sure.  What I should have said was "the solution is going to be to migrate *away* from the current version of `react-bootstrap`".  To be honest, it's always seemed a bit out of place.

[2019-09-20 16:49] raisedadead opened #36829 "i18n guide for translations"
Create and add documentation for translation of curriculum.

Refer: https://chinese.freecodecamp.org/forum/t/chinese-translation-and-contributors-meeting-on-20th-sept-2019/502

[2019-09-20 16:56] raisedadead commented on #36829
@RandellDawson I would love your advice on this. We would want to create some basic guidelines on what translators should watch for while working on translations.

[2019-09-20 18:22] #36824 closed

[2019-09-21 13:39] #36820 closed

[2019-09-22 19:25] neverendingqs opened #36832 "Unable to unsubscribe from Quincy’s weekly email"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
When I click on the link in the email next to

I get the following:

![image](https://user-images.githubusercontent.com/8854618/65393239-39e3e380-dd4c-11e9-9adf-7f0767a1ae5f.png)

There are no issues in the dev

[2019-09-22 19:45] gareth-d85 opened #36833 "search bar result not showing properly"
**Describe the bug**
When I use the search bar the results are half-hidden to the left of the browser

**Expected behaviour**
I should be able to see all of the search results.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot from 2019-09-22 20-44-01](https://user-images.githubusercontent.com/20612560/65393539-c3f67100-dd79-11e9-9de3-b77e969fde46.png)

**D

[2019-09-22 20:39] RandellDawson commented on #36833
This but has already been resolved on the master branch and is just awaiting deployment to production.

I am closing this issue for now.

[2019-09-22 20:39] #36833 closed

[2019-09-23 09:09] scissorsneedfoodtoo opened #36834 "Glitch import links broken"
There are a handful of projects with broken import links that read `"Start this project on Glitch using this <a...>link</a>..."` When you click them, they're supposed to import the project from our GitHub repos into the user's Glitch account, so long as the user is logged into both accounts. However, clicking on the links start a new Glitch project but eventually end with an error.

Here are a lis

[2019-09-23 10:14] scissorsneedfoodtoo commented on #36818
Thank you for reporting this @Joel-Howard.

To clarify, the "Make Screen Reader Navigation Easier with the header Landmark" challenge should have the video at https://scrimba.com/p/pJ5rC6/cB76vtv, and "Make Screen Reader Navigation Easier with the nav Landmark" should have the https://scrimba.com/p/pJ5rC6/czVwWSv video.

[2019-09-23 10:40] royeden opened #36836 "Applied Visual Design: Lock an Element to the Browser Window with Fixed Positioning"
**Describe your problem and how to reproduce it:**

### Problem:
We were in the middle of a meetup that was oriented at beginners, and a camper that was doing this challenge asked me: _what does `position: fixed;` do? I feel like it works exactly as `position: absolute;`_ I showed them that it kept the element in place when the page scrolled.

The description says it _One key difference between th

[2019-09-23 10:42] #36818 closed

[2019-09-23 10:50] scissorsneedfoodtoo commented on #36821
It seems like upgrading to the beta version of Algolia Instantsearch will prevent these errors: https://github.com/algolia/react-instantsearch/issues/2813#issuecomment-527179701, https://github.com/algolia/react-instantsearch/issues/2836. Should we move to the beta version for now, then upgrade once the stable version is released?

[2019-09-23 12:46] ojeytonwilliams opened #36837 "No way to report users"
There used to be a button to report users:
https://github.com/freeCodeCamp/freeCodeCamp/blob/46a217d0a5b4f6b499ce24a18b46fd78fff45d78/api-server/common/app/routes/Profile/Profile.jsx#L190
added to close https://github.com/freeCodeCamp/freeCodeCamp/issues/16598, but this has since been removed.  However, there's still code associated with user reports:
https://github.com/freeCodeCamp/freeCodeCamp/b

[2019-09-23 13:38] RandellDawson commented on #36834
@scissorsneedfoodtoo What about the Mongo DB challenges which use the Glitch link that I [reported here](https://gitter.im/FreeCodeCamp/Contributors?at=5d853470a38dae3a638b053f)?

[2019-09-23 14:04] scissorsneedfoodtoo commented on #36834
@RandellDawson, thank you, I knew I missed something. I'll update the PR with those challenges shortly.

[2019-09-23 14:15] RandellDawson commented on #36834
@scissorsneedfoodtoo While you are at it, the following introduction pages need to be fixed as well:

- https://www.freecodecamp.dev/learn/apis-and-microservices/managing-packages-with-npm/

- https://www.freecodecamp.dev/learn/apis-and-microservices/basic-node-and-express/

- https://www.freecodecamp.dev/learn/information-security-and-quality-assurance/information-security-with-helmetjs/

- https

[2019-09-23 14:26] raisedadead commented on #36837
Thanks for reporting this, I do not remember the reason for removing this. I would confirm from @ahmadabdolsaheb. But I believe it should be there.

[2019-09-23 14:36] scissorsneedfoodtoo commented on #36834
Thank you @RandellDawson. Those you posted and https://www.freecodecamp.dev/learn/apis-and-microservices/mongodb-and-mongoose/ should make 16 total that need to be updated.

[2019-09-23 14:36] raisedadead commented on #36832
Hi @neverendingqs thanks for reporting the issue. I am from the freeCodeCamp.org staff.

While we investigate this issue, Can you send me a private email from your email, so that I can manually go ahead and remove you from the list.

My email: `mrugesh at freecodecamp dot org`

I am closing this to handle your user information privately.

Thanks.

[2019-09-23 14:36] #36832 closed

[2019-09-23 14:38] raisedadead commented on #36832
BTW, if you can sign into your account, you should be able to update the mail subscription for you account from your settings page at: https://www.freecodecamp.org/settings

[2019-09-23 15:13] #17403 closed

[2019-09-23 22:23] Bouncey opened #36838 "Settings button missing when user profile is private"
The Portfolio button in the nav only takes me to my locked down profile. The settings button should be available on the user profile even when my profile is private and I am signed in.

![image](https://user-images.githubusercontent.com/18572518/65467440-4bff7800-de59-11e9-91cd-dc53d3fa1bd3.png)

Edit raisedadead:

We probably missed this while adding tests. Anyone interested can would be awesome

[2019-09-24 06:19] scissorsneedfoodtoo commented on #36743
Just to clarify, the recipe box demo is here: https://codepen.io/freeCodeCamp/full/dNVazZ/

However, it's true that the nightlife coordination project is currently broken due to the Yelp v2 API being discontinued in favor of [Yelp Fusion](https://www.yelp.com/developers/documentation/v3). Is this another project we should get working before the release of Next, @QuincyLarson?

[2019-09-24 06:38] scissorsneedfoodtoo commented on #36156
Thank you for reporting this, @KaustubhD. I believe this is being addressed in https://github.com/freeCodeCamp/freeCodeCamp/pull/36808.

[2019-09-24 07:10] ahmadabdolsaheb commented on #36838
The settings button should be displayed here regardless of privacy settings.

[2019-09-24 07:44] raisedadead opened #36839 "Settings button not visible on private profile"
Settings button should be visible on user profile when they are signed to their own account even when its private.

![image](https://user-images.githubusercontent.com/1884376/65491654-1eecad00-decd-11e9-9ffb-57fa82ba3e7d.png)

We probably missed this while adding tests. Anyone interested can would be awesome if you could add tests while fixing this.

[2019-09-24 07:46] raisedadead commented on #36838
You beat me to this, I opened #36839 without looking at the tracker.

[2019-09-24 07:46] raisedadead commented on #36839
Duplicate of linked issue.

[2019-09-24 07:46] #36839 closed

[2019-09-24 08:45] ahmadabdolsaheb commented on #36837
Thanks for noticing this. Not sure why this was removed.
But optimally I think it should be displayed regardless of user's privacy settings where we display the settings button for authorized users on portfolio.

[2019-09-24 09:49] ojeytonwilliams commented on #36156
Yeah, it is.  That PR should make it more consistent.  Everywhere `ctrl + enter` works, `cmd + enter` should work to.

[2019-09-24 10:05] ahmadabdolsaheb commented on #36796
For my reference:

https://meta.discourse.org/t/embedding-but-dont-automatically-create-a-topic-until-a-user-chooses-to-comment/61450/54

https://meta.discourse.org/t/paid-preference-to-create-embed-a-topic-via-javascript-only-when-a-user-clicks-the-start-discussion-link/78593/6

[2019-09-24 10:14] ojeytonwilliams commented on #36837
@ahmadabdolsaheb I guess it was just lost accidentally when `Profile` was moved to the client - I couldn't find anything suggesting it was removed deliberately.

Is the settings button only supposed to be visible when a user is looking at their own profile (while authorized, of course)?  If so, that does sound like the perfect spot for this.

[2019-09-24 10:19] ojeytonwilliams commented on #36821
Sounds good to me.  If we do that and migrate away from `react-bootstrap`, it should also make it easier to find where else those methods are being used. I.e. when we don't have to sift through a cloud of other warnings.

[2019-09-24 10:31] raisedadead commented on #36837
You are correct, check #36839 which is related.

[2019-09-24 15:12] #18084 closed

[2019-09-24 16:52] #36156 closed

[2019-09-24 16:52] #36795 closed

[2019-09-24 16:53] raisedadead opened #36841 "Shortcuts legend modal available on pressing the `?` key."
Shortcuts legend modal available on pressing the `?` key.

Youtube's modal:
https://user-images.githubusercontent.com/985197/64934197-bd627980-d80e-11e9-86e3-961745d0c665.png

[2019-09-24 19:57] #36497 closed

[2019-09-24 20:01] raisedadead commented on #36837
This is probably when we were removing the server side views, if I am not mistaken.

[2019-09-24 20:03] raisedadead commented on #36763
Hi Guys, thanks a lot for your interest. BUt I figured out this is not very trivial of issue to start with. I have assigned this to @ahmadabdolsaheb instead.

Please go thru some of the other help wanted issues.

Thanks and happy contributing.

[2019-09-24 20:15] isa3bel commented on #36823
is this issue still open?

[2019-09-24 20:28] raisedadead commented on #36823
Hi @isa3bel thanks for you interest, this is a devops issue for staff. If you would like we have some other issues that are tagged help wanted are open for contributions. Thanks.

[2019-09-24 20:38] QuincyLarson commented on #36743
@scissorsneedfoodtoo Yes - we should find a nightlife coordination project built by someone that uses Yelp Fusion and link to that instead. Could you look around and see if you can find such a project? If not, we may need to retrofit the existing code to use Yelp Fusion.

[2019-09-25 09:35] scissorsneedfoodtoo commented on #36809
Comments are now available on all pages that do not have the "Disable Comments" internal tag. Internal tags are different than normal tags in that they don't render to the page, even if a user accidentally adds it to a post. Also, there is no tag page for internal tags -- https://www.freecodecamp.org/news/tag/disable-comments/ leads to a 404.

I've gone through and added the "Disable Comments" tag

[2019-09-25 09:35] #36809 closed

[2019-09-25 09:39] #36774 closed

[2019-09-25 09:57] adnan333bd opened #36844 "Algorithms: Implement Quick Sort not accepting an answer"
for this problem: https://learn.freecodecamp.org/coding-interview-prep/algorithms/implement-quick-sort

the following answer is not being accepted [this test case fails ' quickSort returns an array that is unchanged except for order. '], I have included verification code below the answer ... In my opinion it should be accepted. some thing is wrong in your test code.
[code]

[2019-09-25 10:23] ahmadabdolsaheb commented on #36819
https://www.gatsbyjs.org/packages/gatsby-plugin-dark-mode/

[2019-09-25 11:59] ivan-nikolaievskyi commented on #36838
Hi guys. I want to get and fix that issue.

[2019-09-25 12:17] raisedadead commented on #36819
While this is cool, its a utility shortcut? Should we rather not consider consider moving to native themes support by Gatsby as well.

[2019-09-25 12:28] ojeytonwilliams commented on #36819
It looks interesting - if I understand correctly it attaches the theme setting code to the html that's initially served. So, no flashing.

Trouble is, don't we use `theme` as prop? This just sets a class on the body, which is only part of the dark/light implementation.

[2019-09-25 12:43] ahmadabdolsaheb commented on #36819
this sets the class on the body and takes care of the persistence using localstorage.
so if we have two sets of classes like the following, it should probably work.
[code]

[2019-09-25 12:57] raisedadead commented on #36819
That is fine and is something what we almost already do (minus localStorage, plus user store), but what we really need to investigate is being able to hook into the build time (SSR) logic and generate the hydrated output assets.

Then based on the cookie try and serve the correct asset on the first request.

[2019-09-25 13:56] ahmadabdolsaheb commented on #36819
I will just add this for my reference
https://github.com/gaearon/overreacted.io/blob/1224fd17cb1fd0d80f123d450ac8eee54c759786/src/html.js#L21

[2019-09-25 14:19] #36711 closed

[2019-09-25 14:36] RandellDawson commented on #36834
@scissorsneedfoodtoo You stated 16 should be updated, but I only see 15 files on PR #36835.  Maybe you meant 15 should be updated?

[2019-09-25 15:10] RandellDawson commented on #36844
@adnan333bd Please use [our forum](https://www.freecodecamp.org/forum) when you are having trouble with your code passing a challenge's tests.  If the users on the forum determine there is nothing wrong with your code, that is when you should open up an issue (and link to the applicable forum thread).

Your `quicksort` function does not return an array with all the same values for the test array s

[2019-09-25 15:10] #36844 closed

[2019-09-25 16:17] ojeytonwilliams commented on #36819
That should work for everything except the editor, which handles its own theming based on a prop passed to it.  However even that should also be fine since it's lazy loaded (so presumably isn't part of the initial HTML).

So, is the plan just to try Gatsby themes and then, if there's still a problem with hydration, we look into using/modifiying something like https://www.gatsbyjs.org/packages/gats

[2019-09-25 16:58] raisedadead commented on #36819
We could add the plugin right away anyway. This is supposed to help who have OS/System level dark/light mode setup.

The Gatsby theme migration + some SSR magic should hopefully in getting rid of the splash.

[2019-09-25 19:09] moT01 commented on #36825
Looks like they're just hidden behind the search bar.

[2019-09-25 19:16] ahmadabdolsaheb commented on #36825
Thanks for reporting this, we are still figuring out the final state for the nav.
Once that is settled, this issue will be resolved automatically.

[2019-09-25 19:23] moT01 commented on #36819
What about not storing anything in storage, and just use the state - load the default theme, and if a user wants the other theme, they just have to toggle it every session.

[2019-09-25 20:47] RandellDawson commented on #36819
@moT01 I don't particularly like the dark theme, so I would prefer not to have to change it each session.

[2019-09-25 20:52] raisedadead commented on #36819
We have decided that the theme will be per browser, similar to what most implementations have it.

[2019-09-26 01:06] colbyfayock opened #36846 "News: Comments fail to load"
Seems to be an issue with comments trying to load. I'm seeing a 400 on GETs to the comments embed endpoint.
![image](https://user-images.githubusercontent.com/1045274/65650244-04ebc100-dfd8-11e9-8ef2-0a73c21716e6.png)
https://www.freecodecamp.org/news/what-is-gatsby-and-why-its-time-to-get-on-the-hype-train/

I tried poking at a few other pages and seeing the same thing, like https://www.freecodec

[2019-09-26 04:26] scissorsneedfoodtoo commented on #36834
@RandellDawson, thanks for catching that. Seems like I didn't push the change for the advanced Node and Express page.

[2019-09-26 06:25] Dnguye92 commented on #36652
Do you have to ask for permission to work on these issues or can we just submit a PR

[2019-09-26 08:36] ojeytonwilliams commented on #36757
Perhaps related, no loader appears at all:
![ProfileLoader](https://user-images.githubusercontent.com/15801806/65672430-5718fa80-e049-11e9-9b84-4f03d545caff.gif)

[2019-09-26 08:38] raisedadead commented on #36850
Is this still the case @sunnyssr

[2019-09-26 08:40] ahmadabdolsaheb commented on #36850
I believe this has been resolved.
<img width="404" alt="Screen Shot 2019-09-26 at 11 39 45 AM" src="https://user-images.githubusercontent.com/4591597/65672880-723c3800-e052-11e9-8b00-4e65cfe4f86e.png">

[2019-09-26 08:56] #36850 closed

[2019-09-26 09:00] raisedadead commented on #36757
Yes, it's quite messy at the minute. And we have a very bad page load time for the same reason.

I think we would need to remove the full page loader from the landing page and just keep it on the buttons (components) that actually change based on the user.

I would love to do skeletons as well.

[2019-09-26 09:07] raisedadead commented on #36846
@colbyfayock thanks a lot for catching this.

This is a regression that we introduced last night accidentally.
Here is what happened:

1. We implemented a feature that would now let you disable comments on any page that we want.
2. This also a involved a tad bit refactoring, where we broke the templating logic and hence like you found the broken URLs.
3. We have now reverted the feature momentaril

[2019-09-26 10:23] #36838 closed

[2019-09-26 12:28] adnan333bd commented on #36844
Thanks RandellDawson, the default value of r should be array.length - 1.
My mistake

[2019-09-26 22:10] QuincyLarson commented on #36823
@raisedadead Thanks for your patience.

Just to be 100% clear, the pages we don't want to index:
- User profiles
- Everything currently at learn.freecodecamp.org aside from the Map view itself
- Our settings page

We do still want the main www.freecodecamp.org/ landing page to be indexed.

[2019-09-27 00:49] colbyfayock opened #36858 "News: Tweet link syntax error"
The Tweet button on posts where the title includes a `'` is throwing an error:
[code]
Source:
[code]

It looks like perhaps the `'` isn't getting escaped:
![image](https://user-images.githubusercontent.com/1045274/65734006-fd431f80-e09e-11e9-995b-5010cac27f36.png)

Which I actually just confirmed I can reproduce on another with a `'` in the title: https://www.freecodecamp.org/news/my-first-year-as

[2019-09-27 00:54] colbyfayock opened #36859 "News: Post Facebook link shares Author"
Not entirely sure if this is actually intentional, but i noticed the facebook Share button isn't sharing the post, it's sharing the author:
https://www.freecodecamp.org/news/a-quick-guide-to-redis-lua-scripting/

![image](https://user-images.githubusercontent.com/1045274/65734178-cb7e8880-e09f-11e9-8c46-ff8f7603be76.png)

[code]

[2019-09-27 06:34] raisedadead commented on #36823
Perfect. Thanks for the confirmation. I'll get started on getting this done.

[2019-09-27 11:43] ojeytonwilliams opened #36864 "freeCodeCamp console.log does not output undefined arguments"
**Describe the bug**
Because the log calls `JSON.stringify(undefined)` and that returns `undefined`, `console.log(undefined)` just outputs an empty line.  This is in contrast to `console.log(null)` which outputs `null`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.dev/learn/javascript-algorithms-and-data-structures/basic-javascript/comment-your-javascript-co

[2019-09-27 12:36] ahmadabdolsaheb commented on #36846
This has been resolved after reverting the recent changes.

![image](https://user-images.githubusercontent.com/4591597/65769511-6167f100-e13c-11e9-9af3-7543f289e2c1.png)

[2019-09-27 12:40] ahmadabdolsaheb commented on #18128
optimally, we should add a completion timestamp and an id when campers claim a fullstack certificate with a fallback to the last earned cert if a timestamp is not found.

[2019-09-27 12:58] ahmadabdolsaheb commented on #36652
@Dnguye92, you are welcome to work on this issue and submit a pr.
Also, feel free to discuss your solution before submitting your pr.

[2019-09-27 13:01] raisedadead commented on #36846
We are yet to deploy the feature that @scissorsneedfoodtoo is working on to fix. Re-opening.

[2019-09-27 16:38] #36864 closed

[2019-09-27 17:44] sunnyssr commented on #36850
No, it's working fine now. Maybe the author of post had given some fixed value to size of image. I never found such issue with any other post.

[2019-09-27 19:48] RandellDawson commented on #35453
This can be closed now, due to the documentation being updated to include the template to be used for the hint/solution forum topics.

[2019-09-27 19:48] #35453 closed

[2019-09-28 00:54] hvaandres commented on #34699
I sent you an email

[2019-09-28 18:57] Dotty1526 opened #36874 "reporting bug issues"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2019-09-28 23:30] RandellDawson commented on #36874
You have not reported an actual issue.  I am closing this for now.  If you have any further information to provide, you can request it to be reopened.

[2019-09-28 23:30] #36874 closed

[2019-09-29 06:09] raisedadead opened #36875 "Audit and update news theme if needed for compatibility"
We need to update to the latest Ghost for Developer news. This time they have some compatibility advisories as per [their release page](https://github.com/TryGhost/Ghost/releases).

We need to audit and make changes to [our news theme](https://github.com/freeCodeCamp/news-theme) as per the same, specifically [this version's advisory](https://github.com/TryGhost/Ghost/releases/tag/2.30.0) for the "

[2019-09-29 06:10] raisedadead commented on #36875
/cc @scissorsneedfoodtoo @ahmadabdolsaheb

[2019-09-30 08:08] aenkirch opened #36877 "Can I translate freeCodeCamp's curriculum?"
I began today to translate FCC curriculum (HTML basics) to french, anyone can help of course :)

[2019-09-30 08:37] ojeytonwilliams opened #36879 "Inconsistent parsing of Markdown in challenges"
**Describe the bug**
Markdown in challenge description and instruction sections is parsed differently if it does or does not follow an empty line.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the markdown for any challenge
2. Replace the description section with the following:
[code]
3. See the following in the browser:
![MarkdownInconsistency](https://user-images.githubusercontent.

[2019-09-30 08:41] ojeytonwilliams commented on #36879
The main difficulty I see is that fixing this would break most challenges since they rely on the current behaviour.  If we do want to change this, all those challenges would need to be modified first.

Fortunately if they are converted to use empty lines instead of new lines the current parser will interpret them correctly.

[2019-09-30 09:48] raisedadead commented on #36879
Nice catch @ojeytonwilliams

[2019-09-30 11:47] VIGNESHinZONE opened #36881 "while loop challenge in javascript. Entire web stops working on an infinite loop"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

link for the coding challenge-

https://learn.freecodecamp.org/javascript-algorithms-and-data-s

[2019-09-30 12:16] raisedadead commented on #36881
Thanks for reporting.

Please go through this: https://www.freecodecamp.org/forum/t/19543 and confirm a bug on the forum with others before reporting.

[2019-09-30 12:16] #36881 closed

[2019-09-30 12:24] raisedadead commented on #36877
Hi @aenkirch thanks a lot for your interest in translating freeCodeCamp to french.

Unfortunately while we do intend to make freeCodeCamp in more languages, right now we do not have a ETA on that.

We will begin by making freeCodeCamp available in **Chinese** first to understand the caveats and the streamline the development and the deployment workflow and pipelines.

The next languages to follow

[2019-09-30 12:43] aenkirch commented on #36877
@raisedadead Thanks for all the infos you gave me, that‘s helpful.
However, what you are telling me is that I cannot offer my help to translate FCC curriculum in French only because there‘s no planned date of releasing ?

[2019-09-30 12:57] raisedadead commented on #36877
You can translate regardless. And we welcome your contributions (we will merge the pull-requests).

That said, we would probably release the languages listed in my comment above sometime next year. French as of now is not planned at all. So it will be delayed even further.

This is not because we are biased towards any languages, its the limited resources we have to provision instances. I am quite

[2019-09-30 15:06] naimiii opened #36883 "URL in a code is not accepted my GitHub ."
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.
A bug is in contributors.md file  in which i give my URL as all the contributors had added but it creates trouble in pushing the code .

**To Reproduce**
Step

[2019-09-30 16:14] raisedadead commented on #36883
This is not an issue with the "file". You need not add links to your GitHub on the contributing guide.

Thanks for the issue.

You can seek additional help on the forum if needed: https://www.freecodecamp.org/forum/t/pull-request-is-creating-error/318466/5

[2019-09-30 16:14] #36883 closed

[2019-09-30 16:15] raisedadead opened #36884 "Exclude anything other than the curriculum directory in the markdown linter"
We should need to lint the docs, readme, contributing guide etc. Our scripts and the config need to be updated.

[2019-09-30 21:58] ojeytonwilliams commented on #36884
Perhaps linting them isn't a terrible idea. After all, the linter caught a mistake (in the conversation on gitter) ![Linter output](https://files.gitter.im/FreeCodeCamp/Contributors/jatx/image.png) - the URL wouldn't have rendered correctly.  Also, h1 should generally be at the top, [for a11y reasons](https://www.w3.org/WAI/tutorials/page-structure/headings/).  Potentially someone might navigate t

[2019-09-30 22:06] ojeytonwilliams commented on #36879
The root cause of this is how unified operates, namely it doesn't parse any markdown that's inside html unless there's an empty line preceding it.  This means we have to dig into the hast, pull out the text, process it under the assumption it's markdown and then put it back into the hast.  Suffice to say this is ugly and likely to create weird bugs, unless we're very careful.

I think a simpler so

[2019-10-01 05:58] raisedadead commented on #36884
Yes, and you are correct. Maybe syntax errors are fine.

But I see this could be a lot of friction and frustration for people contributing to documentation. More often than not they are contributing to translations and probably are new to contributing and GitHub etc.?

I'll close this for now and see if we get more complaints.

[2019-10-01 05:58] #36884 closed

[2019-10-01 06:00] raisedadead commented on #36879
and

OK -- I will defer to your best judgement on the approach. I would prefer the one that is maintainable long term.

[2019-10-01 14:40] #35529 closed

[2019-10-01 14:41] #34614 closed

[2019-10-01 14:43] #36693 closed

[2019-10-01 16:15] QuincyLarson opened #36920 "Custom author field for Ghost"
We need a custom field on Ghost's author profiles so we can add authors' freeCodeCamp forum usernames.

[2019-10-01 18:33] chris-tse opened #36921 "CORS error when fetching public user data on Firefox"
**Describe the bug**
When attempting to fetch the public profile data for a user using the endpoint `https://www.freecodecamp.org/api/users/get-public-profile?username=${username}` results in a CORS error on Firefox. This is when trying to fetch my own data for a personal project, both on localhost and on a hosted https URL. It is working on Chrome or if using a CORS pass-through such as https://c

[2019-10-01 20:39] moT01 opened #36928 "[.dev] Change verbiage on a users own private profile page?"
<img width="616" alt="Screen Shot 2019-10-01 at 3 26 24 PM" src="https://user-images.githubusercontent.com/20648924/65998362-c2efce80-e460-11e9-88a1-205e420c1b3a.png">

This is a picture of my own private profile locally, seems like it should say something like "You have not made your profile public" instead of "mot01 has not made their profile public"

And as I'm typing this, I'm wondering if a p

[2019-10-02 00:44] #36858 closed

[2019-10-02 00:44] #36859 closed

[2019-10-02 07:35] esdestera opened #36937 "Some math operations give wrong results"
If you make some simple computations like addition or division the result is not correct

Steps to reproduce the behavior:
1. Go to any lesson from java Javascript Algorithms And Data Structures Certification (300 hours)
2. Write on the codding area console.log(96.74 - 60) or the division
3. See the result
4. See error

Expected behavior:
96.74 - 60 = 36.74

Actual result:
35.739999999999995

![im

[2019-10-02 07:41] ahmadabdolsaheb commented on #36920
We might need to verify the inserted forum usernames to make sure they belong to the author before using them to create topics.

[2019-10-02 07:54] ahmadabdolsaheb commented on #36846
@raisedadead I think we can close this since we are no longer using the embed.

[2019-10-02 07:55] raisedadead commented on #36937
From your screenshot it is returning 36.739999999999995 and not 35.739999999999995

See:

![image](https://user-images.githubusercontent.com/1884376/66027033-bd08f480-e517-11e9-9c02-50dcd8145c0a.png)

As for the precision that's how browser implement it. To round off, you need to to a `toFixed`

You can learn more about this on MDN: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference

[2019-10-02 07:57] esdestera commented on #36937
yes, you are right, I made a mistake there but still it is the wrong value, it should be 36.74. I will try to add to fixed and see if it helps

[2019-10-02 07:57] raisedadead commented on #36937
I am closing this, unless you have some additional information on how this can affect a lesson.

Also you can reach out to our [Community Forum](https://www.freecodecamp.org/forum) if you need help with a challenge.

[2019-10-02 07:57] #36937 closed

[2019-10-02 08:00] esdestera commented on #36937
using toFixed() does not help, I do not want to round the value, I just need the correct answer for the operation

[2019-10-02 08:05] raisedadead commented on #36937
We understand your frustration. As I mentioned the precision after the decimals is what the browsers implement.

Since I do not have much information or context about what you are doing, it would help to share more information.

Did you try `36.739999999999995.toFixed(2)` ?

[2019-10-02 08:07] esdestera commented on #36937
using toFixed(2) helped for this case, thank you!

[2019-10-02 08:10] ojeytonwilliams commented on #36937
To expand slightly on what @raisedadead is saying, it's how floating point (decimal numbers) arithmetic is implemented.  When evaluating things like 96.74 - 60, computers have to work using a binary representation which is generally going to create small rounding errors like the ones you've been seeing.

[2019-10-02 08:10] raisedadead commented on #36846
Yup, we do not.

But there is no communication either about what happened to the comments. This should be left open or a feature issue should be opened with the explanation.

I'll defer to you.

[2019-10-02 10:12] ojeytonwilliams commented on #36928
That does look better.  The next sentence should be something like "You need to change your privacy settings in order for other people to view your profile".

So, they should be able to preview their public profile, basically?

Sounds good.  If going that route, it would be good to emphasise (even more than currently) that their preview is not public.  It wouldn't be good if people went to their p

[2019-10-02 10:13] ahmadabdolsaheb commented on #36920
Ghost won’t have custom fields on users any time soon since It’s a major change with lots of performance implications and very little demand (at the moment).

Ghost team also suggested the followings:

Since discourse has its own concept of [custom fields](https://meta.discourse.org/t/adding-and-editing-user-custom-fields/26498), that would be the logical place to create a link.
alternatively we c

[2019-10-02 10:17] colbyfayock commented on #36846
@raisedadead  Is the intent to no longer show a link for the comments at all? i thought the hope was to show a link with a count instead of the widget

[2019-10-02 10:30] ahmadabdolsaheb commented on #36846
@colbyfayock, a new solution is in the works that will create topics on the forum and display a link and comment count on each post.

Additionally we are investigating ways we could have optional notifications sent to authors for new comments as well.
#36920

[2019-10-02 10:38] birnan commented on #36846
We implemented a feature that would now let you disable comments on any page that we want.
This also a involved a tad bit refactoring, where we broke the templating logic and hence like you found the broken URLs.

[2019-10-02 12:05] raisedadead commented on #36928
Yes to this, please open a PR. It seems to have been an oversight.

I think it's fair to leave the warning on their own pages while showing this page in that case, which means we may need to update the copy for them.

[2019-10-02 16:07] dsuarezlogans commented on #36875
Hello, can I help on this one? can you explain me more what needs to be done?

[2019-10-02 17:17] venom2030 commented on #16445
CSS Border Style
The border-style property specifies what kind of border to display.

The following values are allowed:

dotted - Defines a dotted border
dashed - Defines a dashed border
solid - Defines a solid border
double - Defines a double border
groove - Defines a 3D grooved border. The effect depends on the border-color value
ridge - Defines a 3D ridged border. The effect depends on the bord

[2019-10-02 18:31] alanpaulprice commented on #36741
@RogiNicba This challenge doesn't require an upper and lower number of matches to be specified.

The following passes: `/[a-z]+[a-z]+[0-9]*/i`

[2019-10-02 20:48] ojeytonwilliams commented on #36879
Honestly I'm not sure which one would be the easiest to maintain, but, assuming I can get it working, `remark-lint` should be less painful to use.

So far, I've managed to create a plugin that flags up if a section doesn't start with a blank line (no ability to fix).  Shouldn't take me too long to re-create the prism language checker.

[2019-10-02 21:34] moT01 commented on #36928
Can you clarify what you want here @raisedadead? I'm not sure I understand - do we want to keep the page how it is, and just change the two sentences? Or do we want to display their private profile for them?

[2019-10-02 23:52] 5hel2l2y commented on #36652
how do you activate the nightmode?

[2019-10-03 07:01] SubhamSatyajeet opened #36969 "[Feature Request] Allow Single FCC Account to be associated with multiple Login Providers at once"
Currently, a user can login using Github _or_ Facebook _or_ Google _or_ Email. If you have already logged in via, say, Github, but you forgot that, and you try to login using Google, a new account would be created. The user has to delete the new account if he doesn't want the hassle of multiple accounts (even if their email address on Google, Facebook and Github are the same).

Possible Solution:

[2019-10-03 07:32] Manuel-Ndim commented on #6526
Took off the class and it worked, thanks guys

[2019-10-03 08:39] raisedadead commented on #36928
Yes. Sorry about being vague last time.

I thought about this a little more and I think we should show the users their own profile only when they are signed in.

Here is what we should achieve at the end of the day:

1. User profiles which are public are visible by default.

2. The settings button is only available if the user is on their own profile page.

3. Users who **are not signed in** and a

[2019-10-03 08:55] raisedadead commented on #36969
We used to have this in the past. And we still do some extent. To commit to the best of the privacy standards and best of operations we have dropped support for tying accounts together.

All we ask is the email from the social providers.

As long as the social provider is returning the same email to us without obfuscating it in anyway, you will be signed into the same account with us.

If you upda

[2019-10-03 09:02] ojeytonwilliams commented on #36928
So, there'd be a button on their private profile labelled 'Preview profile' and a label 'preview how your profile would look *if* you made it public'.

Clicking that would take them to, say, `/<username>/preview` which shows the preview (and a notice saying that it's currently private).

Something like that?

[2019-10-03 09:22] raisedadead commented on #36928
Nope it their profiles can be rendered just below the notice like so:

![image](https://user-images.githubusercontent.com/1884376/66114785-2dce1080-e5ed-11e9-8f95-4c4a6cb3665d.png)

Here is the copy:

You have not made your profile public.

You need to change your privacy setting in order for your profile to be seen by others. This is a preview of how your profile will look when made public.

[2019-10-03 11:15] scissorsneedfoodtoo commented on #36875
@dsuarezlogans, thank you for offering to help with this issue. I believe this is one that we'll handle internally, so please check our [Contributing Guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md) and [open issues](https://github.com/freeCodeCamp/freeCodeCamp/issues) for other things we need help with.

[2019-10-03 14:58] ojeytonwilliams opened #36986 "Challenge success modal stays open on navigation"
**Describe the bug**
If you complete a challenge, navigate back (taking you to the curriculum), then open a new challenge the success modal will still be open.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.dev/learn/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements
2. Complete the challenge
3. Ctrl-enter
4. See the success modal
5. Navigat

[2019-10-03 15:49] moT01 opened #36992 "Audit hardGoTo and unify if possible"
As pointed out in [this comment](https://github.com/freeCodeCamp/freeCodeCamp/pull/36926#pullrequestreview-296723108) and the ones below it. The `hardGoTo` code that is used in several places in the codebase is a "legacy thing that we had before we had navigate. It can be removed and cleaned up."

A search for "hardGoTo" reveals eight results. They can probably all be changed to use `navigate` and

[2019-10-03 16:27] dsuarezlogans commented on #36992
Hello, can I help on this one?

[2019-10-03 16:42] #36986 closed

[2019-10-03 17:52] lasjorg commented on #18045
I can't reproduce this bug, I tried zooming and messing with the viewport but nothing makes it trigger, so it is really hard to test.

However, this issue may either be caused by what values are returned by `getComputedStyle`, or simply the fact that it isn't guaranteed to return an integer.

And here is the jquery docs on height().

Using `offsetHeight` might return a more reliable result as it a

[2019-10-04 05:31] Brechy commented on #36837
I would like to take on this issue for Hacktoberfest. Thanks!

[2019-10-04 07:33] raisedadead commented on #36837
Hi @Brechy thanks for your interest, however this issue is already being worked upon with a PR for it.

We welcome you to take a look at other issues on the tracker.

[2019-10-04 08:06] Arnau-Ninerola commented on #36877
@raisedadead So, even if it will take some time to see this efforts because as you said first you'll release these languages. Is it okay if I go ahead and translate it to another language that is not on the list? I know it will be long until implemented, but I am just excited for when that time comes and wish to be the first who does some translation in that language :)

[2019-10-04 08:56] raisedadead commented on #36921
We welcome a pull-request :)

[2019-10-04 13:35] moT01 commented on #36992
go for it @dsuarezlogans

[2019-10-04 14:14] raisedadead opened #37021 "Remove the highlight on hover on the nav logo."
![image](https://user-images.githubusercontent.com/1884376/66214426-4b7ba280-e6df-11e9-9d97-dbef3f173e04.png)

Remove the highlight on hover on the nav logo.

[2019-10-04 14:15] dsuarezlogans commented on #37021
Hello, can I help on this one?

[2019-10-04 14:23] javapriyan commented on #37021
I would like to work on this as well

[2019-10-04 14:23] bodhisha commented on #37021
Hey,How can  i help?

[2019-10-04 14:36] theREALaltoid commented on #37021
On it.

[2019-10-04 14:39] raisedadead opened #37023 "Quantify donations on user profile"
- [ ] A "Donations from [username] have helped pay for N hours of freeCodeCamp server time" element on camper portfolios. Reddit uses this to help put the dollar value of donations in more tangible terms.

[2019-10-04 14:39] raisedadead opened #37024 "Expand Donate API"
- [ ] Full control and full transparency on a new "donations" section of the settings page.
  - [ ] The ability to start and stop donations.
  - [ ] A history of previous donations, which card they've been charged to, and whether they've succeeded (equivalent to a billing history)
  - [ ] The ability to change monthly donation amounts to any value equal to or above $5
  - [ ] The ability to change

[2019-10-04 14:41] ojeytonwilliams opened #37025 "Refactor menu to use refs"
As discussed in https://github.com/freeCodeCamp/freeCodeCamp/pull/36956#pullrequestreview-296784289 the menu uses a mixture of ids and refs to figure out if a click should close the menu or not.

This issue is just a reminder that we were considering refactoring `handleClickOutside` as follows:

[code]

[2019-10-04 14:45] raisedadead commented on #37021
@dsuarezlogans I think you have already been assigned a issue, you should work on that instead.

@bodhisha @theREALaltoid

We typically accept the first, meaningful PR. Meaning, a PR which is closest to our liking, that follows the guidelines and adds tests, etc. is favored.

Happy contributing.

[2019-10-04 14:47] ahmadabdolsaheb commented on #37021
This issue has been addressed in #36956.

[2019-10-04 14:53] raisedadead commented on #17834
We have decided to take a different approach. As of now, the modal is going to be disabled for a while. We will revisit the modal in future.

[2019-10-04 14:53] #17834 closed

[2019-10-04 15:00] #37021 closed

[2019-10-04 15:17] raisedadead commented on #36819
Update: We are sticking to our current production like implementation and we default to light mode. We are revisiting this again after shipping.

[2019-10-04 15:32] #36775 closed

[2019-10-04 15:34] ojeytonwilliams commented on #36825
This wasn't entirely resolved by #36956, as the challenge tabs are still displaying incorrectly:
![image](https://user-images.githubusercontent.com/15801806/66220379-33028c80-e6cd-11e9-8a42-99b84a71628c.png)

[2019-10-04 15:42] raisedadead commented on #36876
We need someone to investigate and confirm if this is still the case.

[2019-10-04 17:18] raisedadead commented on #37025
You are taking this up or you want to open this for contributions with guidelines?

[2019-10-04 17:57] ojeytonwilliams commented on #37025
It's not something I'd recommend to complete beginners, but if someone's familiar with React it shouldn't too hard.  So, I'd say it's not a good first issue, but sure.

If no-one takes it, I'll get around to it at some point!

[2019-10-04 20:00] ElPomodorro commented on #36773
What's about adding hidden test case?

[2019-10-04 22:12] oriane212 commented on #36153
Hi,

I noticed there is a `textarea` element nested inside the Monaco Editor, and I was able to jump to it using the ‘e’ key, as @frastlin described. I am using Chrome on a Mac. The element has an `aria-label`, “Editor content; Press Alt+F1 for Accessibility options”, among several other aria attributes.

I initially was going to propose adding an `aria-label` and/or `role` for each `div` containi

[2019-10-04 22:55] IssamAth commented on #17379
people are just making it too complicated . here is my Solution it's very simple
const squaredIntegers = arr
  .filter(n => n % 1 == 0 && n>0)
  .map(n => n*n);

[2019-10-04 23:23] frastlin commented on #36153
Hello,
Yes, this feature seems to be fixed in the latest version. Everything works very well now.
Thank you!

[2019-10-04 23:38] SaintPeter commented on #17379
@IssamAth The issue, as described in my original post, and corrected by @RandellDawson's merge was that neither `filter`, `map`, nor chaining of functions had been introduced at that point in the curriculum.  Presumably you are now completing this problem after it has already been moved to its new home.

It's not that people are making it "too complicated", it's that the groundwork had not been la

[2019-10-05 07:27] f0ffee opened #37043 "Improve Italian translation of README.md and CONTRIBUTING.md"
Italian mother tongue here. The Italian translations of README.md and CONTRIBUTING.md feel somewhat "mechanical", like they were translated automatically or word for word. They are still readable, but most sentences feel weird, and I feel like there's much room for improvement.

If it's okay, I would love to work on them.

[2019-10-05 07:28] #36837 closed

[2019-10-05 09:26] raisedadead opened #37045 "Nav logo should be served a react svg component"
Nav logo should be served a react svg component

https://github.com/freeCodeCamp/freeCodeCamp/blob/c52c36e51ec48d3df1126b7a143da54c182ed948/client/src/components/Header/components/NavLogo.js#L3

[Take a look at the other logos](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/assets/icons) in the codebase for reference.

The alt text should read: 'freeCodeCamp.org'

https://gith

[2019-10-05 09:27] raisedadead commented on #37045
Removing the first timers, because it may not be very trivial.

[2019-10-05 09:27] raisedadead commented on #37043
Yes please.

[2019-10-05 10:07] f0ffee commented on #37043
Great! Working on it.

[2019-10-05 10:08] nawazishali commented on #37045
I would love to get this done. Please assign it to me.

[2019-10-05 10:19] raisedadead commented on #37045
Issue assignment is not necessary, we accept the first valid PR, which follows our contribution guidelines.

[2019-10-05 11:05] ismaelgt commented on #37025
I'm giving this a go. I first tried the suggested approach but I soon realised that there's no elegant solution to forwarding multiple refs. Also, `SearchBar` currently define its own ref, which makes things more complicated. If you're open to an alternative, potentially simpler solution, we could use a ref for the whole navigation bar like this:

[code]

This also removes the need to forward the

[2019-10-05 13:22] nawazishali commented on #37045
@raisedadead Thanks for the heads up, I thought we still followed the assignment rule like in the past. I will submit a PR soon.

[2019-10-05 13:25] ojeytonwilliams commented on #37025
While we're at it, I'd like to get rid of `forwardRef` and just pass props like `nameOfRef`.  I can't think of reason why we'd need `forwardRef`, so, unless I'm missing something, they might as well go.

[2019-10-05 14:06] raisedadead commented on #37045
There you go, making an exception because of your interest :)
Happy contributing!

[2019-10-06 04:34] chris-tse commented on #36921
@raisedadead Do you know where in the code this might be? I was digging through the server side code and found a route for the endpoint, but couldn't find where it was calling a controller that sends a response with headers.

[2019-10-06 15:20] brookeysum commented on #14002
Any update on this? lesson passes but message still not getting replaced.

[2019-10-06 16:22] dougfabris opened #37055 "404 error on get hint of code challenge"
**Describe your problem and how to reproduce it:**
I realized an error when get a hint on code challenge: "Iterate Through the Keys of an Object with a for...in Statement" in Basic Data Structures of Javascript Algorithms And Data Structures Certification.

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-dat

[2019-10-06 16:58] raisedadead commented on #37055
Thanks for the report.

This should be fixed in the next release of the platform in the upcoming weeks.

For now the guide is available at:

https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-data-structures/-iterate-through-the-keys-of-an-object-with-a-for...in-statement

Please reachout to [community forum](https://www.freecodecamp.org/forum) for furthe

[2019-10-06 16:58] #37055 closed

[2019-10-07 08:28] aravindvnair99 opened #37074 ".gitignore and image enhancements"
- .gitignore is missing a few OS (Windows, Linux and macOS) specific files in addition to a few Node and bundle related ignores
- .gitignore can also be better organised and formatted
- Few SVGs and PNGs can be optimised.

Will send in a pull request for this.

[2019-10-07 08:36] ojeytonwilliams opened #37076 "Algolia keys in sample.env"
Is there any reason not to put the real `ALGOLIA_APP_ID` and `ALGOLIA_API_KEY` in `sample.env`?

I reflexively put in a dummy key when I set this up, but now that I revisit this, that seems like a mistake.

[2019-10-07 08:58] raisedadead commented on #37076
Yes, actually it broke the .dev build unsurprisingly 🤦‍♂ , I think @RandellDawson noticed it and reported in the team chat.

The real fix is to ignore and move ahead when the keys are not available are default. We do this with google application credentials.

[2019-10-07 09:34] ojeytonwilliams commented on #37076
Oh, I assume it broke the build because .dev isn't using sample.env.  I didn't think of that...

So, we should implement the fix and add the public keys to `sample.env`, right?

[2019-10-07 09:54] raisedadead commented on #37076
I was thinking something more along the lines of (example from api-server):

[code]

I would try to avoid hundreds of contributors hitting the indexes locally. Ideally people should get their own keys.

While the key and index is public, it's still not recommended to hit it?

[2019-10-07 09:55] raisedadead commented on #37076
As for the keys, it's actually fine because the build should fail. I have since added the keys in the build pipeline.

[2019-10-07 10:58] #37074 closed

[2019-10-07 12:33] #37025 closed

[2019-10-07 13:57] moT01 opened #37085 "Portfolio doesn't update until hard reload"
1. Go to your profile settings page
2. Change the privacy setting
3. go to the top and click `show me my public portfolio`

The privacy setting you changed will not have taken effect.

From there, you can go back to the settings using the settings button, and the privacy setting will still show it as it was before you changed it.

I believe this is due to using [gatsby Link](https://github.com/fre

[2019-10-07 13:58] moT01 commented on #37085
I can fix this if it's decided to change it.

[2019-10-07 14:22] maxloh opened #37087 "guide.freecodecamp.org contributing url pointed to the old repo"
**Describe the bug**
guide.freecodecamp.org contributing url pointed to the old repo (freeCodeCamp/guide)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `guide.freecodecamp.org`
2. Click on `Help our community expand it`

**Expected behavior**
The url should direct me to this repo

[2019-10-07 14:28] ojeytonwilliams commented on #37085
As far as I can see, the problem is that the user is only pulled from the server once.  The server is getting updated correctly, but the redux store isn't being asked to mirror these changes.

[2019-10-07 14:33] raisedadead commented on #37087
We have permanently moved the guide for general articles: See #36729 The links will be updated in the next release in the upcoming weeks.

Thanks for your patience.

[2019-10-07 14:33] #37087 closed

[2019-10-07 14:35] RandellDawson commented on #37087
@maxloh There is no longer a Guide in this repo, so the link is technically correct.  The decision was made to get rid of the Guide a little while back.

@raisedadead Should this issue be closed?

[2019-10-07 14:39] #36825 closed

[2019-10-07 14:40] #36652 closed

[2019-10-07 17:53] ojeytonwilliams commented on #37076
One thing: if we don't want contributors spamming search (fair enough!) I think there should be some docs that let people know what's what.  Either that search isn't available in development or the steps they need to take to make it work.

[2019-10-07 18:15] ojeytonwilliams opened #37097 "Projects: use next challenge's seed as a solution"
**Is your feature request related to a problem? Please describe.**

The new project based curriculum typically uses the solution to challenge `n` as the seed for challenge `n + 1`.  As such, there's a lot of code duplication.

**Describe the solution you'd like**

The ability to reference another challenge and import it's seed as a solution.  Perhaps using the following template:
[code]

As yet I'

[2019-10-07 19:42] raisedadead commented on #37076
I agree. We should add some docs on getting keys, or perhaps creating a test index and sharing that instead

[2019-10-07 21:37] raisedadead commented on #36877
I would not recommend that, we are not accepting languages not on the list as I mentioned in my previous comment. Thanks for your interest though.

[2019-10-07 21:37] #36877 closed

[2019-10-08 00:07] raisedadead opened #37107 "Audit production and master for caching polices"

[2019-10-08 00:07] raisedadead opened #37108 "Audit production and master for SEO meta"

[2019-10-08 00:07] raisedadead opened #37109 "Audit production and master for performance"

[2019-10-08 03:04] scissorsneedfoodtoo commented on #37097
I'm all for this as copying and pasting slightly modified code into the solution section will be pretty tedious for these projects.

[2019-10-08 07:35] Arnau-Ninerola commented on #36877
@raisedadead But you said the opposite. That even though it is far from the future, you will merge the PRs.

[2019-10-08 08:08] raisedadead commented on #36877
- We are accepting pull-requests in **Chinese**, which we are planning to release next.

- We may accept pull-requests in (high quality translations)

  We do not have any ETA on these releases.

- All other world languages, we will not accept pull-requests for now.

[2019-10-08 08:19] #37076 closed

[2019-10-08 08:25] raisedadead commented on #36829
Hi @freeCodeCamp/moderators !

We would want to create:

- A low friction guide for people to be able to translate the coding challenges.
- This guide is to be generic for all languages, with a notice on the top that we are currently accepting only chinese translations.
- We would want to not repeat much from the existing guide. (It can be in the same guide even).
- We would want to stress that we

[2019-10-08 08:31] Arnau-Ninerola commented on #36877
Thanks for clearing it.

[2019-10-08 08:49] raisedadead commented on #37045
Hi @nawazishali how is this coming along. Are you still working on this?

[2019-10-08 09:01] raisedadead opened #37113 "Scroll to challenge on map"
We unfortunately had to roll back the scrolling in #37098 tentatively, this issue is to track this and add it back when ready.

[2019-10-08 10:21] nawazishali commented on #37045
Hi @raisedadead

I will be making a PR today hopefully. Was stuck in some other work.

[2019-10-08 10:43] ojeytonwilliams opened #37115 "Docs: search on developer machines"
**Is your feature request related to a problem? Please describe.**
Without Algolia keys a contributor cannot use the search feature on their local machine, limiting their ability to contribute in this area.

**Describe the solution you'd like**
The documentation should include instructions on how to get keys or set up a 'mock' search: https://github.com/freeCodeCamp/freeCodeCamp/issues/37076#issue

[2019-10-08 10:54] raisedadead commented on #37115
For me, I think very few people would work on the search itself. So, we would be okay to getting asked for developer keys on a need basis.

And as for everyone else, will it be possible to render a message like "search is not available during dev" in the dropdown?

/cc @scissorsneedfoodtoo

[2019-10-08 13:14] manoj10101996 commented on #16588
Perfect solution:
            Understand the scenario visualize it. Its not properly placed when we plot so we have increase **x** attribute value by **5** so it will visualized properly.

Programmer thinks ... </>

<body>
  <script>
    const dataset = [
                  [ 34,    78 ],
                  [ 109,   280 ],
                  [ 310,   120 ],
                  [ 79,    411 ],

[2019-10-08 13:21] ahmadabdolsaheb commented on #37085
as @ojeytonwilliams, there seems to be an issue with a redux reducer.

[2019-10-08 13:31] bozeman42 commented on #17436
Are you saying writing the import like that worked for you? In what context? I don't know of any context in which leaving out the relative path works.

create-react-app
[code]

node 10.16.3
[code]

Where does it actually work?

[2019-10-08 13:54] RandellDawson commented on #16588
@manoj10101996 GitHub issues are meant for discussing actual problems with our platform and not posting solutions.

[2019-10-08 14:34] raisedadead commented on #37085
I was speaking to @Bouncey earlier and he says:

[2019-10-08 14:39] raisedadead commented on #36992
I re-audited this and realised that the `hardGoTo` is used for direct calls to the `api` endpoints without proxying through internally.

We should leave it be for now.

[2019-10-08 15:06] ojeytonwilliams commented on #37085
Is someone looking into this (@moT01)?  Otherwise I can take a crack at it tomorrow.

[2019-10-08 15:11] ojeytonwilliams commented on #36992
@raisedadead as it stands, some api calls go via `hardGoTo` and some via navigate. Is it worth leaving this open until we've decided which should be which?  Or are you already happy that they're as they should be?

[2019-10-08 15:14] raisedadead commented on #36992
In a perfect world I should be able to proxy everything, but sadly that would need a lot of re-write.

I am keeping this open for traceability.

[2019-10-08 15:17] moT01 commented on #37085
Go for it @ojeytonwilliams - let me know if you want to team up on it.

[2019-10-08 15:24] raisedadead commented on #36468
I am going to split this up into smaller tasks

[2019-10-08 15:24] #36468 closed

[2019-10-08 15:31] moT01 commented on #37097
I like this - I recently copy/pasted all the seed code to the solution area for one of my projects. Which makes for a lot of code in each challenge file - this would simplify things a lot I think and make them easier to maintain.

[2019-10-08 15:47] raisedadead opened #37124 "Create and map redirects for learn subdomain"

[2019-10-08 15:48] raisedadead opened #37125 "Create and map redirects for guide subdomain"

[2019-10-08 15:49] raisedadead commented on #37125
Waiting on guide (regular) articles migration.

[2019-10-08 15:52] #17748 closed

[2019-10-08 15:54] #30709 closed

[2019-10-08 15:54] raisedadead commented on #33747
We have stage builds.

[2019-10-08 15:56] #34772 closed

[2019-10-08 15:57] ojeytonwilliams commented on #37097
Yep, I think this is pretty much the definition of tedious and error prone.

So, now I'm thinking of reasons *not* to do it.  If you were to link to the wrong challenge, it could be pretty confusing.  How about, instead of

[code]
it's just

[code]

and when a div with that id is found the solution is obtained automatically by querying the appropriate `meta.json` to find the next challenge.

[2019-10-08 16:00] #35944 closed

[2019-10-08 16:10] #17548 closed

[2019-10-08 16:13] #17544 closed

[2019-10-08 16:14] #17586 closed

[2019-10-08 17:50] matjack1 opened #37131 "Can submit multiple challenges with Ctrl+Enter"
I'm testing beta.

**Describe the bug**
When submitting a challenge using Ctrl+Enter it automatically completes also the following challenge.

**To Reproduce**
Steps to reproduce the behavior:
1. As a logged out user
2. Go to the first challenge
3. Complete it
4. Press Ctrl+Enter
5. it marks as solved also the following challenge and you can go ahead

**Expected behavior**
It should solve the curr

[2019-10-08 18:01] #36928 closed

[2019-10-08 18:04] #36834 closed

[2019-10-08 20:10] matjack1 commented on #37131
I've digged a bit on this issue, and I think the problem is somehow related to this line: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/templates/Challenges/components/Hotkeys.js#L36

As this is triggered also when I'm submitting the finished challenge.

If I comment that line out everything works fine, meaning I can Ctrl+Enter to run the tests and submit and the bug disappea

[2019-10-08 23:40] nawazishali commented on #37045
Hi @raisedadead

I ran into an Eslint issue, when I converted SVG to JSX the svg path code is so lengthy that I get
`Line 13 exceeds the maximum line length of 80`

Any hint on how I can manage this? tried running the `npm run format:js` but it doesn't work.

[2019-10-09 03:46] scissorsneedfoodtoo commented on #37097
@ojeytonwilliams, using the `meta.json` file to query the next file for the solution section sounds like a good idea. Even when we start to support multiple files/directories, we'll still essentially be testing one file at a time.

[2019-10-09 04:01] scissorsneedfoodtoo commented on #37115
I wouldn't mind having a public API key and app ID available in case someone wants to work on the search components or tests.

We have a dev app available on Algolia that I can set up with the News index. I believe there's a limit on 50,000 operations a month for dev apps, which should be enough for anyone who wants to work on the search. If we hit the limit Algolia should just return an error for

[2019-10-09 06:26] raisedadead commented on #37045
You should be able to wrap using the lines at 80 in your code editor if you happen to use VS Code?

Let's make a PR or share a link to your repo/branch for more context.

Thanks.

[2019-10-09 06:37] raisedadead commented on #37131
Thanks for testing our beta version @matjack1 and reporting this! You rock.

/cc @ojeytonwilliams

[2019-10-09 07:06] ojeytonwilliams commented on #37131
Thanks @matjack1!  It looks like I didn't test the logged out behaviour.

@raisedadead so, what do we want to happen for logged out users?  The issue I see is that it currently says '*Submit* and go to the next challenge', but clearly they can't submit.  For now, do we just want them to see the same as logged in users (and quietly not submit)?

[2019-10-09 07:08] nawazishali commented on #37045
Created a PR with ESLint max-len disabled. I tried wrapping the code to multiple lines but some string blocks are very long and would break the svg if put on a new line.

[2019-10-09 07:50] raisedadead commented on #37131
Here is what I would do:

![image](https://user-images.githubusercontent.com/1884376/66461820-75deae80-ea97-11e9-9cc1-660e771b10f2.png)

Of course the modal should close as well like you mentioned

[2019-10-09 07:54] ojeytonwilliams commented on #37131
Turns out it's not working properly even when the user is logged in.  I think it's a race condition between `submitChallenge` and `executeChallenge`.

@matjack1 was quite right, the problem is on that line.  It shouldn't be called if the modal is open since it's listening to `ctrl + enter` as well.

[2019-10-09 08:02] matjack1 commented on #37131
yes @ojeytonwilliams I think it's with the `ctrl + enter` in the editor and the `ctrl + enter` in the `Hotkey`.

I can give a further look later if you wish.

[2019-10-09 08:05] ojeytonwilliams commented on #37131
Thanks for the offer @matjack1, but I think (with your help!) I've fixed it.  It seemed only fair, since I introduced the bug.

[2019-10-09 08:12] matjack1 commented on #37131
Excellent!

[2019-10-09 08:22] #37045 closed

[2019-10-09 08:31] ahmadabdolsaheb opened #37137 "tab text should be visible on mobile"
to reproduce, view any lesson in a screen narrower than 750px and hover on a tab

<img width="643" alt="Screen Shot 2019-10-09 at 11 21 29 AM" src="https://user-images.githubusercontent.com/4591597/66464816-59874580-ea88-11e9-91d1-b88b6fc89f80.png">

[2019-10-09 09:01] marwicha commented on #37137
i'd like to take this issue please

[2019-10-09 10:11] #37131 closed

[2019-10-09 10:14] raisedadead commented on #37131
Release on its way, should be available within the hour.

[2019-10-09 11:15] ahmadabdolsaheb commented on #37137
@marwicha please go ahead.

[2019-10-09 11:56] vkWeb opened #37141 "[Beta] Portfolio description is not wrapping at the boundary"
**Describe the bug**
A long description of a portfolio item doesn't wrap at the boundary.
![Screenshot (25)](https://user-images.githubusercontent.com/26724128/66479311-ded71e00-eab9-11e9-9958-1109e10191dd.png)

**To Reproduce**
1. Go to the settings page
2. Put a long description in the portfolio item
3. Check out the public portfolio (hard refresh it ctrl+f5; this update bug is under triage)

**

[2019-10-09 11:57] vkWeb commented on #37141
@raisedadead I'm not able to update the labels. How can I do that?

[2019-10-09 12:02] #36763 closed

[2019-10-09 12:12] vkWeb opened #37142 "[Beta] Hotkey is preventing the letter 'n' or 'p' in solution URL of projects"
**Describe the bug**
Entering 'n' or 'p' in the solution URL of projects takes me back to the previous('p') or next('n') challenge.

**To Reproduce**
1. Go to any project section where URL is required
2. Type 'n' or 'p' in the URL field

**Expected behavior**
This should only happen when the text field is not in focus.

**Desktop (please complete the following information):**
 - OS: Windows 10 Pro

[2019-10-09 12:12] raisedadead commented on #37141
That is fine, the mods team will do it for you.

[2019-10-09 12:20] vkWeb commented on #37141
@raisedadead I would like to help with this. It's been very long since I have contributed to the main repo. 😅

[2019-10-09 12:25] raisedadead opened #37143 "Create/Update Completion modals to show a sense of achievement"
We would like to update the completion modals to show a sense of achievement at key places, like completing a whole section or claiming a certification.

These can then have a one liners (copies of which will be shared later), that say something on lines of:

These places could be a good place to politely remind users that we are donor supported and they can choose to donate by visiting the donate

[2019-10-09 12:28] raisedadead commented on #37143
@ahmadabdolsaheb you can start by adding some placeholder text strings configured in a json object, that can be randomized on the modals. We can get @QuincyLarson to share a comprehensive lists of quotes and other motivational CTA.

[2019-10-09 12:29] raisedadead commented on #37141
Sure, Follow our [guidelines for contributing](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md) and make a PR

[2019-10-09 12:30] vkWeb opened #37144 "Remove introduction pages, make descriptions concise and inline on map"
**Describe the bug**
Go to a challenge which is just after introduction, e.g. [use-display-flex-to-position-two-boxes](https://www.freecodecamp.dev/learn/responsive-web-design/css-flexbox/use-display-flex-to-position-two-boxes) and press 'p', it takes us back to the previous challenge. It should take us back to the introduction part.

'n' (next challenge) works fine in this case. A sanity check: g

[2019-10-09 12:33] raisedadead commented on #37144
We are soon removing the introduction pages completely in favor of a more streamlined navigation. The explanation on the intro pages will be made more concise.

The current behaviour is correct.

I am re-categorizing this as feature request

[2019-10-09 12:39] vkWeb commented on #37144
@raisedadead I think we should not do this. If we make them inline on map then users won't be able to read it when through the `learn` platform, right? I hope you are getting my point.

Also, the introduction part is very important in some cases. e.g. https://www.freecodecamp.dev/learn/javascript-algorithms-and-data-structures/functional-programming/ and most of them are already pretty concised.

[2019-10-09 13:01] RandellDawson opened #37146 "[Beta] Each time the n or p Hotkey is used, the editor refocuses on Windows"
**Problem:** When tested on Chrome and Firefox (on Windows) and using the `p` or `n` hotkeys, we are supposed to be able to navigate to the next and previous lessons without the editor going back into focus while in the escaped mode. However, on the beta site, I have to keep escaping the editor every single time I click the `p` or `n` once I first escape the editor. The original navigation buttons

[2019-10-09 13:24] raisedadead commented on #37144
Yes, and we have debated that we would rather have the introductions as challenges or inline.

On a very honest note one reads though the introductions. People are in a hurry. The challenges should rather incorporate the concepts from the introductions.

Finally with the upcoming navigation changes, the optional challenges (and focus on completing them) will become lesser of the focus.

We are wor

[2019-10-09 13:29] raisedadead commented on #37146
Thanks. Please share the detailed config for your OS.

[2019-10-09 13:41] RandellDawson commented on #37146
Windows 10 Home edition.  Using Chrome Version 77.0.3865.90 (Official Build) (64-bit) and Firefox 69.0.2 (64-bit).

[2019-10-09 13:46] vkWeb commented on #37144
@raisedadead If it will be possible to incorporate the concepts from the introductions to challenges then it'll be cool.
But I personally believe that the introduction part is a good way to tell campers what they will study in the upcoming lessons.

Okay, I'll wait to for future releases and then I'll share my feedback.

[2019-10-09 13:58] #37142 closed

[2019-10-09 14:52] #36782 closed

[2019-10-09 15:24] thecodingaviator commented on #37146
I have been able to reproduce this. What is happening is every time `n` or `p` is pressed, the new challenge is opened and then the focus of the cursor moves to the editor which makes further navigation impossible unless someone uses their mouse to refocus somewhere else

[2019-10-09 15:38] thecodingaviator opened #37153 "Color contrast between codeblock and background negligible"
The color contrast between the background and the code block is almost negligible. I believe the original intent of having different colors is that users can differentiate between the code example and the normal text.

![image](https://user-images.githubusercontent.com/34807532/66496414-8105fe80-ead8-11e9-930e-c7afd586825c.png)

[2019-10-09 15:44] raisedadead commented on #37146
Thanks, we know this is confirmed. Lets keep the thread for solutions.

[2019-10-09 15:47] raisedadead commented on #37153
/cc @ahmadabdolsaheb

[2019-10-09 15:51] RandellDawson commented on #37153
On a related note, there used to be more space between the lines or `code` sections, so when `code` sections were stacked on top of each other, there was still some vertical space between them to avoid looking like below:
![image](https://user-images.githubusercontent.com/5313213/66497807-e70b6b00-ea71-11e9-8a3b-fa554b6490b6.png)

[2019-10-09 16:29] moT01 commented on #36467
I can take a look at this, I may need some help depending on how much needs to be done.

[2019-10-09 17:13] vkWeb commented on #37146
@ojeytonwilliams Any thoughts on this?

[2019-10-09 17:18] vkWeb commented on #36851
@miyaliu666 @raisedadead I can't reproduce this too.

[2019-10-09 17:18] vkWeb commented on #36851
@miyaliu666 Please confirm if this issue still persists.

[2019-10-09 17:21] rickysyamsi commented on #37146
Hi people, first time contributor here.

I have tested my fix locally with both latest chrome and firefox. Also there is something that I want to make sure. Are there any specific conditions when auto focus on editor is preferred rather than smooth navigation to previous and next lessons? If there are none, then this issue should be hopefully done.

[2019-10-09 17:38] ojeytonwilliams commented on #37146
@vkWeb I've not been able to reproduce this yet.  It works as intended (for me) on Chrome and Firefox on both Windows and Ubuntu, so if anyone could walk me through the steps, that would be a big help.

@rickysyamsi the original intention was that the editor is focused by default, since that creates the cleanest flow.  I.e. if the user wants to immediately get started using the editor, they can.

[2019-10-09 18:25] rickysyamsi commented on #37146
@ojeytonwilliams I understand, thank you for the explanation. I didn't know before that escape key can be used to quit focus from editor.

While we are talking about flow and keyboard navigation. I think that default auto focus should be on challenge description (left part) instead of editor (middle part).

I think that when students are accessing a challenge page, most of them will be reading the

[2019-10-09 18:31] #37085 closed

[2019-10-09 18:39] raisedadead commented on #37146
The idea is to not need to touch your mouse more than its needed.

So when you complete the challenge, your next one is served with the editor already in focus.

The hotkeys for nav are really a nice to have and by no means our primary way of navigating.

To quit the focus on the editor and enter a nav mode, you hit escape and start pressing the hot key `p` or `n`.

The editor does not resume focu

[2019-10-09 18:42] raisedadead commented on #37146
As of this comment the issue is that on Windows at least as reported by OP, the editor automatically gets focused (our intended parent behaviour in non-navigation mode).

This is an annoying experience, nonetheless only for users using the nav mode, which we have not yet advertised.

So the fix would be to check and handle the use cases as mentioned in my last comment.

[2019-10-09 19:01] rickysyamsi opened #37158 "[Beta] Unable to scroll challenge description with keyboard up and down keys"
**Describe the bug**
I can not scroll challenge description with keyboard navigation (up and down keys).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any code challenge page (for example: http://localhost:8000/learn/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements)
2. Click on challenge description (left part).
3. Try to scroll description with keyboard up and d

[2019-10-09 19:12] rickysyamsi commented on #37146
Now I understand the original intention. So normal non-navigation mode is auto focus on editor by default, then user can enter navigation mode by pressing escape key. It should remain in navigation mode until user click on the editor again. Then it will return back to normal non-navigation mode.

I will try to fix it again, thanks for the explanation.

[2019-10-09 19:17] ojeytonwilliams commented on #37146
@rickysyamsi That's a nice idea! Please could you add that to the up down arrow issue, so we can discuss adding that as a feature.

After chatting with @thecodingaviator I think I've pinned down how to reproduce the issue.

1. Open any challenge
2. Click on the instructions
3. Press escape
4. Press n

The new challenge will open and the editor will get focused.

Pressing escape only works if the e

[2019-10-09 19:32] rickysyamsi commented on #37158
following suggestion by @ojeytonwilliams to discuss adding this as a feature.

[2019-10-09 19:32] raisedadead commented on #37146
I would recommend @ojeytonwilliams to take a dig at this, probably would be way faster for you to resolve.

@rickysyamsi you can go ahead and create a pull request for the arrow nav.

Thanks you all.

[2019-10-09 19:36] rickysyamsi commented on #37146
I understand, @ojeytonwilliams please take over this issue. @raisedadead I will try to dig on the arrow nav issue then.

Thank you guys :)

[2019-10-09 20:02] ivan-nikolaievskyi commented on #37153
@raisedadead can I get this one to fix?

[2019-10-09 20:11] raisedadead commented on #37153
Yes, please but please take a moment to go thru out [guidelines for contributing](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md)

[2019-10-09 20:37] RandellDawson commented on #37146
@ojeytonwilliams My steps to reproduce the problem are similar to yours, but I don't have to do your step 3.  I simply:
1. Open any challenge.
2. Click on the instructions.
3. Press `n` or `p`.

[2019-10-10 00:56] thecodingaviator commented on #37146
@RandellDawson both ways work since both are doing the exact same job i.e. taking the focus off the editor

[2019-10-10 00:59] miyaliu666 commented on #36851
@vkWeb It works well for me now https://chinese.freecodecamp.org/news/.

![image](https://user-images.githubusercontent.com/19358186/66530873-36b66900-eb3c-11e9-9321-b8182bc638ca.png)

[2019-10-10 04:32] #36851 closed

[2019-10-10 06:57] ahmadabdolsaheb opened #37163 "Self-host fonts"
Self host fonts to improve lighthouse score and accessibility.

[2019-10-10 07:30] ahmadabdolsaheb opened #37165 "adjust the font size on CTA buttons for small screens."
The font size for the CTA could use similar breakpoints for the h1, h2. and set to 1.2 - 1.3 rem

![image](https://user-images.githubusercontent.com/4591597/66546354-82b9db80-eb45-11e9-8651-471df24e3601.png)

[2019-10-10 09:05] raisedadead commented on #35259
Hi Stuart,

Revisiting this.

I have been able to make a updates to cache which holds the chunks for 7 days and even considering to do it more aggressively by caching forever.

Don't ask me how its done, 😓 !

See: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/static/_headers

I believe we are able to introduce the SW back again, and I guess, we could introduce the notification on

[2019-10-10 10:38] ahmadabdolsaheb opened #37166 "Unify all syntax highlights"
It would be optimal to have code-blocks share the same or similar syntax highlighting with the editor based on the background.

All syntax highlights should have at least the contrast ratio of 7.0 between the font and the background
All syntax highlighting could use predefined global variables for consistency.

[2019-10-10 10:53] ojeytonwilliams commented on #37166
If memory serves, the prism code blocks and the Monaco code blocks mark up code slightly differently.  What I tried to do the first time was make the prism blocks as similar to the editor as possible, but I don't think it's possible to get an exact match that way.  The editor needs changing too (not sure why I didn't!).

Anyway, that's what I remember from when I last looked at this!

[2019-10-10 11:02] ahmadabdolsaheb commented on #37141
I see a green-line above the description. @vkWeb while at it, could you please style it to make it consistent with the rest of hr tags.

[2019-10-10 13:22] colbyfayock commented on #36846
fwiw, it's kind of a bummer that there's no longer even a link to the comments on the page. is there a reason why there wouldn't simply be a link to the comments while the main solution is being produced? completely removing a feature while the final solution is being developed isn't a great way to develop and maintain features.

for this particular case, this prevents easy access to the comments

[2019-10-10 13:30] scissorsneedfoodtoo commented on #37158
@rickysyamsi, thank you for catching this.

Just checked on https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements/ and it's possible to scroll or navigate through the description with the arrow and tab keys. Tried disabling the recently added `<HotKeys>` components and playing with the overflow on some of the divs, but the issue remains when running l

[2019-10-10 13:37] ojeytonwilliams commented on #37158
Hey @rickysyamsi, I followed up on your comments in the contributor chat and noticed that the elements that let you scroll (i.e. you click on them and the arrow keys work) are focusable. I wasn't sure why this mattered until found [this](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex):

So, the solution seems to be just to add `tabindex="-1"` to the instructions.

@sc

[2019-10-10 14:29] Raibaz commented on #37165
I'd like to work on this.

[2019-10-10 14:29] KibarLak commented on #37165
can i?

[2019-10-10 14:31] ojeytonwilliams commented on #37146
The idea is that unless you actively escape, you aren't in navigation mode and it should behave normally.  So, if you're in the flow "Open challenge, read instructions, start typing, ctrl + enter, ctrl + enter, repeat" you never need to touch the mouse as the editor always takes focus when you enter a challenge.

If you press escape (currently only when in the editor.  After #37167 everywhere exce

[2019-10-10 15:33] QuincyLarson opened #37182 "Make academic honesty policy wording slightly more readable"
<img width="927" alt="Settings___freeCodeCamp_org" src="https://user-images.githubusercontent.com/985197/66583559-307ab980-eb49-11e9-9d48-510db8d52857.png">

[2019-10-10 15:45] QuincyLarson opened #37183 "Use the word "portfolio" instead of profile everywhere on projects app"
<img width="1074" alt="Profile___freeCodeCamp_org" src="https://user-images.githubusercontent.com/985197/66584589-088c5580-eb4b-11e9-8b61-fcb005d76411.png">

[2019-10-10 16:30] vkWeb commented on #37141
@ahmadabdolsaheb Yes, I'll make the requested changes. Actually, yesterday I wasn't able to set up the local copy so today I am trying gitpod.

- [ ] fix word wrap in all places: portfolio title, description
- [ ] make green line consistent with hrs
- [ ] disable textarea horizontal resize

[2019-10-10 16:34] rickysyamsi commented on #37158
@scissorsneedfoodtoo @ojeytonwilliams Hey guys, thank you for responding.

I had solved the problem with the same `tabindex="-1"` approach on my local environment, but I have not made pull request because I'm still experimenting with the feature possibility of re-focusing on editor from navigation mode easily with single keyboard press (for example 'e' key), instead of multiple tabs.

From my quic

[2019-10-10 16:42] IssamAth commented on #17403
same here i passed the test only by when i thought i'm just starting . it got me so confused, so i'm not the only one . it's 2019 and they still didn't fix that problem ...

[code]

[2019-10-10 17:14] ojeytonwilliams commented on #37158
@rickysyamsi, you're right, this should have been a separate issue from the start.  My mistake - I'll create one now.

[2019-10-10 17:20] moT01 opened #37185 "Add tests for backend projects"
I am making a new issue to track the progress of this. Most of the backend projects have no tests; allowing any valid URL to be submitted to pass - more discussion here https://github.com/freeCodeCamp/freeCodeCamp/issues/36467

The purpose of creating tests here is simply to have something there, even if it's just one test, to make sure you can't just submit any random URL. Ideally, the tests woul

[2019-10-10 17:21] moT01 commented on #36467
Closing in favor of the above issue.

[2019-10-10 17:21] #36467 closed

[2019-10-10 17:22] ojeytonwilliams opened #37186 "Make editor focussable by hotkey"
**Is your feature request related to a problem? Please describe.**
It currently can take a several key presses to navigate to the editor if it does not have focus.

**Describe the solution you'd like**
It should be possible to focus on the editor with a hotkey, for example 'e'.

The issue where this was mostly discussed will be closed soon, but some thoughts about implementing this appeared there:

[2019-10-10 17:26] ojeytonwilliams commented on #17403
@IssamAth it should have been fixed by https://github.com/freeCodeCamp/freeCodeCamp/pull/36620.  That's live on https://www.freecodecamp.dev/learn/javascript-algorithms-and-data-structures/es6/use-getters-and-setters-to-control-access-to-an-object if you want to try it out.

[2019-10-10 18:09] rickysyamsi commented on #36876
@raisedadead Hello, I did some investigation on this with following result:

[code]

Also I did the test on CodePen via latest Chrome if it can help.

[2019-10-10 21:33] carlan opened #37194 "Missing README.md on portuguese translation"
I've found README.md is missing from /docs/i18n-languages/portuguese.

I have this file translated on my local and I'll submit a PR in a few minutes.

[2019-10-10 23:37] JContreras210 opened #37196 "Codecamp not accepting my answers"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-10-10 23:38] JContreras210 commented on #37196
My code camp is not accepting my answers

[2019-10-10 23:41] JContreras210 commented on #37196
https://learn.freecodecamp.org/responsive-web-design/basic-css/change-the-color-of-text/
My code camp is not accepting my answers

[2019-10-11 02:58] RandellDawson commented on #37196
@JContreras210 Please use [our forum](https://www.freecodecamp.org/forum) when you experience problems with your code not passing tests of a challenge.  If members of the forum believe there is an actual problem with the curriculum and not your code, then feel free to request this issue be reopened.  Always start in the forum when you have trouble with a challenge.  You can also just click on the

[2019-10-11 02:58] #37196 closed

[2019-10-11 03:12] JContreras210 commented on #37196
Thank you
i was able to figure it out. I was not on the correct web browser.

Sent from my iPhone

[2019-10-11 04:55] drashti1712 commented on #37165
Where is this button?

[2019-10-11 07:12] Pradyumn-S commented on #37183
can I take this issue?

[2019-10-11 12:49] ahmadabdolsaheb commented on #34699
@hvaandres, we looked into the issue with your accounts and resolved it.
Could you please double check? Thank you

[2019-10-11 13:14] ahmadabdolsaheb commented on #37137
Just a friendly reminder that the first submitted pr will be considered for the review process regardless of assignment.

[2019-10-11 13:17] ahmadabdolsaheb opened #37209 "code element for cryptocurrency wallet id does not wrap"
to reproduce:

1. go to localhost:8000/donate locally
2. click on show other ways to donate.
3. decrease the screen size below 400px

![image](https://user-images.githubusercontent.com/4591597/66653975-db6e9e80-ec41-11e9-81f5-89be0bafd400.png)

[2019-10-11 13:19] nik72619c commented on #37209
I'd like to work on this :)

[2019-10-11 13:25] #37165 closed

[2019-10-11 14:13] vkWeb commented on #37209
@nik72619c Thanks for your interest in this but it will be fixed with https://github.com/freeCodeCamp/freeCodeCamp/pull/37189. I pushing changes to it.

@nik72619c You can keep looking for "help wanted" open issues to help us: https://github.com/freeCodeCamp/freeCodeCamp/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22.

[2019-10-11 14:51] nik72619c commented on #37209
Okay, thanks a lot !

[2019-10-11 14:52] gunasai opened #37212 "submit button in React's Create a Controlled Form Challenge renders new window"
**Describe the bug**
In the Create a Controlled Form Challenge, a new window with the challenge is rendered upon clicking on the submit button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the challenge 'Create a Controlled  Form'
2. Click on Submit in the output window
3. See the new Challenge window render

**Expected behavior**
Expected behavior: Print the values entered in the f

[2019-10-11 14:57] ojeytonwilliams commented on #37212
Hey @gunasai thanks for the report!  Could you see if the problem can be reproduced the beta site, [here ](https://www.freecodecamp.dev/learn/front-end-libraries/react/create-a-controlled-form)?  As far as I can see this problem has been fixed there, just not in production.

[2019-10-11 14:58] gunasai commented on #37212
Yes, It's not a problem in the beta site.

[2019-10-11 15:11] ojeytonwilliams commented on #37212
Thanks for taking the time to confirm that.

I'm closing this since this problem will be fixed when master makes it into production.

[2019-10-11 15:11] #37212 closed

[2019-10-11 15:54] ahmadabdolsaheb commented on #37209
Thanks @vkWeb, did you have a chance to test it on that specific case?

[2019-10-11 16:03] MGenteluci opened #37214 "docs: Translate reply-templates.md to portuguese"
**Is your feature request related to a problem? Please describe.**
The guide https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/reply-templates.md does not exist in https://github.com/freeCodeCamp/freeCodeCamp/tree/master/docs/i18n-languages/portuguese

**Describe the solution you'd like**
Add this guide's translation to portuguese

[2019-10-11 16:06] RandellDawson commented on #37214
@MGenteluci It has already been decided that we only want to use the English version of the reply-templates, so we will not need these templates translated.

[2019-10-11 16:06] #37214 closed

[2019-10-11 16:37] RandellDawson opened #37215 "non-English curriculum certificate files"
As I was attempting to fix some broken Portuguese challenges after running `npm run test:curriculum` for the Portuguese challenge files, I noticed the following failure:
[code]

After looking at [the file in with the error](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/portuguese/09-certificates/legacy-front-end-certificate/legacy-front-end-certificate.portuguese.m

[2019-10-11 17:21] prxhxrsh opened #37216 "problems to codes.and how to solve it"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-10-11 18:00] #37216 closed

[2019-10-11 18:11] vkWeb commented on #37209
@ahmadabdolsaheb Yes, I've tested. PR #37189 will fix this issue.

[2019-10-11 19:24] moT01 commented on #37215
Your link just links to here.

[2019-10-11 19:46] RandellDawson commented on #37215
@moT01 I have edited the link.  I had left it blank and forgot to go back and add it.

[2019-10-11 20:03] lkreimann commented on #37185
Any suggestion on how to write a test here? I assume there aren't any examples I could look at.

[2019-10-11 21:58] moT01 commented on #37185
There are some examples @lkreimann - I made a PR for the header parser project, linked above - the timestamp project has tests written, as well. And if you read through the other issue I linked, there's some more info to find.

These projects could use a little TLC in my opinion - it may be difficult to write tests for some of them.

[2019-10-11 23:01] #37194 closed

[2019-10-12 03:28] wincentrtz commented on #37137
Hello I am new to open source can I work on this?

[2019-10-12 04:41] vkWeb opened #37225 "[Beta] Clicking on freeCodeCamp logo on sign in page directs to oauth's homepage"
**Looking forward for reporting a security issue:**
Clicking on freeCodeCamp logo on sign in page directs to oauth's homepage.

**To Reproduce**
1. Go to https://www.freecodecamp.dev/signin
2. Click on freeCodeCamp logo

**Expected behavior**
It should direct me back to freeCodeCamp.org.

**Desktop (please complete the following information):**
 - OS: Windows 10 Pro 32 Bit Pro
 - Browser: Chrome

[2019-10-12 11:17] LastGenius-edu opened #37228 "[Feature Request] Starting translation into Ukrainian"
Create a "ukrainian" subfolder in /docs/i18n-languages.

Update the following in Ukrainian from their English version available in /docs directory:
 /ukrainian/CONTRIBUTING.md from its english version at /CONTRIBUTING.md

 /ukrainian/README.md from its english version at /docs/README.md

 /ukrainian/how-to-catch-outgoing-emails-locally.md from its english version at /docs/how-to-catch-outgoing-ema

[2019-10-12 11:17] Vozak16 commented on #37228
YEEEEHHAAAA

[2019-10-12 11:17] ReyBroncas commented on #37228
Yeah boy!! Nice job

[2019-10-12 11:18] Pavlik1400 commented on #37228
Cool. I will work on it

[2019-10-12 11:18] dyushez commented on #37228
цьом!

[2019-10-12 11:18] Vozak16 commented on #37228
OOOOHHHH, it is something I was expecting for so looooonnggggggg!!!

[2019-10-12 11:18] JanusDG commented on #37228
I start to work on this right now!

[2019-10-12 11:23] JanusDG commented on #37228
I start to work on this right now, guys))

[2019-10-12 16:03] EduAshishPatil commented on #7122
hello there... its the same problem with me also. I have logged off from my account and i am not able to login back to my account where all my progress records are stored. Please help me out as soon as possible.

[2019-10-12 16:48] joice33 commented on #37209
It looks like a good plan with solid guidelines. Thanks!

[2019-10-12 17:17] ahmadabdolsaheb opened #37240 "Use Lato for larger code blocks"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-10-12 18:50] ahmadabdolsaheb opened #37241 "Replace learn page with projects page"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-10-12 18:53] ahmadabdolsaheb commented on #37124
it seems that we will be replacing /learn with /projects
could you please redirect accordingly.

[2019-10-12 18:55] ahmadabdolsaheb commented on #37137
@wincentrtz, please go ahead with submitting your solution as a pr.

[2019-10-12 19:08] ahmadabdolsaheb opened #37242 "optimize the universal navigation"
the nav should have three items: news, forum, projects

Navigation to portfolio/settings would be through a button on the projects map.

[2019-10-12 19:28] IssamAth commented on #17403
@ojeytonwilliams thanks i'll give it a try !

[2019-10-12 23:00] arianneghislainerull opened #37243 "Responsive Web Design Principles: Use a Retina Image for Higher Resolution Displays bug"
**Describe your problem and how to reproduce it:**
The correct answer to the code does not work.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-principles/use-a-retina-image-for-higher-resolution-displays

**Tell us about your browser and operating system:**
* Browser Name: Chrome
* Browser Version:
* Operating System: Windo

[2019-10-12 23:15] underlineGalaxy commented on #36386
Hello, as of right now this problem hasn't been fixed yet.

[2019-10-12 23:17] lrm25 commented on #37225
Reproduced.  I'll take this one.

[2019-10-12 23:19] moT01 commented on #37242
Why not keep the portfolio link there? So if a user wants to sign out of freecodecamp, they would have to click projects -> portfolio -> settings -> sign out, same for any of the settings.

This just feels very buried and unintuitive. The settings feel a little too hidden the way it is in my opinion.

[2019-10-13 00:13] RandellDawson commented on #37242
I agree with @moT01 here.  Clicking on a link named Projects does not make me think I will have the option to change the settings up my account.

[2019-10-13 00:14] colbyfayock commented on #36796
@ahmadabdolsaheb is there a reason not to immediately create a topic on post creation? won't that prevent folks who come via the forum from finding new content and interacting with it?

[2019-10-13 00:16] RandellDawson commented on #36386
@underlineGalaxy It does not matter anymore, because after the next release to production, there will no longer be a Guide.

[2019-10-13 00:17] #37243 closed

[2019-10-13 00:18] RandellDawson commented on #37243
@arianneghislainerull Please visit [our forum](https://www.freecodecamp.org/forum/) for help with coding challenges.  If the users on the forum find a bug in our tests, then feel free to request this issue to be reopened.  Then you can explain in detail what code you tried and post a link to the forum discussion.

Thank you.

[2019-10-13 00:38] arianneghislainerull commented on #37243
Greetings!

I had used another web browser, however the result is still the same. I
will reopen the issue since I have been stuck in this challenge for a month
or more. Thanks for your help.

Regards,
Arianne

[2019-10-13 00:45] RandellDawson commented on #37243
@arianneghislainerull Like I stated before, please post your question over on the forum.  Users will look at your code and guide you to a solution.

[2019-10-13 02:18] lrm25 commented on #37225
After briefly going through the code, it looks like this page isn't actually in this code.  It looks like an external redirect (AUTH0_DOMAIN) specified in the .env file before deployment, and that the page itself is actually run by auth0.  Therefore, I can't actually fix this issue in this repository.  Is that correct?

[2019-10-13 06:21] ahmadabdolsaheb commented on #36796
@colbyfayock. we will have that functionality, and we need to have more granular control than what the current embed offers that is why we are planning to create our own.

[2019-10-13 07:00] vkWeb commented on #37225
@lrm25 Visit [this link](https://github.com/freeCodeCamp/auth0-templates/blob/8165027db58e4c69557d4c82edd76dd303f244be/pages/login.html#L387-L390) to see the code which needs to be changed, but I am not sure if we should hard code freeCodeCamp.org into the `href` because in production we have a 302 redirect for taking us from https://auth.freecodecamp.org/ to https://freeCodeCamp.org when nav logo

[2019-10-13 07:36] ahmadabdolsaheb commented on #37166
I will look into this a little bit more but from what I remember we could change the color, size, and even the front of Monaco.

[2019-10-13 09:15] ojeytonwilliams commented on #37166
Yeah, looks like you can change things via [defineTheme](https://microsoft.github.io/monaco-editor/api/modules/monaco.editor.html#definetheme).  We already set some things that way.

Also, if that doesn't work you can always target the classes directly via selectors like

[code]

`mtk7` could well be an implementation detail, though, so I'd only go this route as a last resort.

[2019-10-13 11:05] #37158 closed

[2019-10-13 13:10] rickysyamsi commented on #37137
Hi @ahmadabdolsaheb, I can't reproduce this on my local dev and https://freecodecamp.dev. The tab menu is in light gray with black text. Hover state make it slightly darker. Both state are easily readable.

Is it already fixed? or Am I missing something obvious?

![Screen Shot 2019-10-13 at 12 59 34](https://user-images.githubusercontent.com/54201112/66716208-b9e4f280-edba-11e9-8b1b-a0127839804e.p

[2019-10-13 13:28] scissorsneedfoodtoo commented on #37137
@rickysyamsi, seems like you're in day mode which doesn't have this problem. Log in to freecodecamp.dev then go to Portfolio, Update my Settings, and switch to night mode. Then when you hover over these tabs in the mobile view you'll see the light colored tabs and text like in the OP.

[2019-10-13 13:48] ahmadabdolsaheb commented on #37137
Thank you for your interest @rickysyamsi,

So ```a:not(.fcc_suggestion_item):hover {``` on global.css is a very specific selector that overrides any class selector.

I would double check this issue after #37208 goes through to see if this issue can still be reproduced.

[2019-10-13 14:21] oussama-pc commented on #37209
Hello world hope you can help me out there thanks so much I love to see you sweetie hope you’re having fun I hope

[2019-10-13 14:23] oussama-pc commented on #37209
[SJT023E.docx](https://github.com/freeCodeCamp/freeCodeCamp/files/3721844/SJT023E.docx)

![2019-08-16_08-38-37_604](https://user-images.githubusercontent.com/34808738/66717110-6b782980-eda3-11e9-9425-aef94e1b4b8e.JPG)

[2019-10-13 14:35] rickysyamsi commented on #37137
@scissorsneedfoodtoo @ahmadabdolsaheb Thank you for the responses guys.

I can reproduce this issue with night mode enabled.

I also still able to reproduce this issue with changes from PR #37208 copied to my local dev.

I can solve the issue with a specific selector that already exists in `classic.css`, I just add the necessary hover state.

[code]

`var(--secondary-background)` is derived from h

[2019-10-13 14:46] ahmadabdolsaheb commented on #37137
@rickysyamsi thanks for investigating that. yes that would be a good approach.
I look forward to your the PR.

[2019-10-13 14:56] rickysyamsi commented on #37137
@ahmadabdolsaheb You're welcome. I'm glad to help :)

[2019-10-13 15:00] moT01 commented on #37242
Almost every website you go to has your icon when you're signed in - usually in the top right. I vote that we go back to using the icon, and it takes you to your settings. So the links would be `[news, forum, projects, icon]` - I dunno, that just makes the most sense to me.

[2019-10-13 15:13] moT01 commented on #37144
My opinion - I don't have any problem with how the introductions currently are - If people want to skip them, they can.

[2019-10-13 18:52] ahmadabdolsaheb commented on #37183
Thank you @Pradyumn-S and @rodoviario for your interest.

This issue might need a little more investigation investigation before arriving at the final solution.
I encourage you to find similar issues to tackle in the meantime.

@raisedadead, should I only audit the copy to replace profile with portfolio or you would rather changing the profile instances in the client and the api-server entirely?

[2019-10-13 22:29] SiddharthVarshney opened #37274 "Add support for dark/night mode"
It will be great if there will be support for dark mode. It will reduce eye stress and stay focused for a long period of time.

[2019-10-14 00:18] lrm25 commented on #37225
@vkWeb OK, it's in a different subproject.
The problem is that the freeCodeCamp logo link is '/', or the current page minus the queries.  In the case of the dev site, that's freecodecamp-dev.auth0.com.  Unfortunately, without the /login query, there's no data at that subdomain, and auth0's behavior in the case of a non-existent subdomain is to redirect the user back to auth0.com.  If you goof arou

[2019-10-14 08:18] ahmadabdolsaheb commented on #37274
Dark mode has been added to the staging website that will be deployed soon.
In freecodecamp.dev please sign-in and navigate to portfolio, then click on the settings button. there is a toggle for dark mode.
I will close this issue since this feature has already been implemented.

[2019-10-14 08:18] #37274 closed

[2019-10-14 09:15] ifydechu commented on #8308
I have tried everything you explained to make progress but am still stucked. Where am I getting it wrong?

[2019-10-14 10:03] kaleeaswari commented on #37183
I would like to get it assigned..

[2019-10-14 10:53] jenlky commented on #37185
I would like to do this. Could you point me in the right direction? And do you think it should be split into two PRs? One for Microservices and one for infosec?

[2019-10-14 11:31] #37163 closed

[2019-10-14 12:30] ojeytonwilliams opened #37279 "User state and the Payload for the API are not in sync for most update calls"
**Describe the bug**
If you complete a challenge and go to your Portfolio without reloading, that challenge will appear with an 'Invalid Date'

**To Reproduce**
Steps to reproduce the behavior:

1. Go to www.freecodecamp.dev/learn
2. Click on any challenge you have not completed
3. Submit a correct solution to that challenge
4. Click on Portfolio
5. Scroll down to Timeline
6. See the 'Invalid Date

[2019-10-14 12:50] kaleeaswari commented on #37279
I can look into the issue. Do assign.

[2019-10-14 14:15] ojeytonwilliams commented on #37242
I feel the same way.  It's such an ingrained convention that settings should be accessible from everywhere that I'm pretty sure people will find it frustrating to have to search for it.

It doesn't have to be an icon - I know we're trying to avoid using them.  Something similar to how Amazon does it could work, though.

From
![AccountsNoHover](https://user-images.githubusercontent.com/15801806/667

[2019-10-14 14:56] ojeytonwilliams commented on #37279
@kaleeaswari we do not typically assign issues, but please do submit a PR if you can fix this.

The rationale is covered in the [contributing guide].(https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md)

[2019-10-14 15:04] #18023 closed

[2019-10-14 15:14] scissorsneedfoodtoo commented on #17818
Closed via https://github.com/freeCodeCamp/freeCodeCamp/pull/36801

[2019-10-14 15:14] #17818 closed

[2019-10-14 15:25] myluco commented on #36829
Where is the existing guide? Tx

[2019-10-14 15:25] myluco commented on #36829
... and why just chinese?

[2019-10-14 15:27] ojeytonwilliams commented on #37185
@jenlky it would be ideal if you could create a PR for each challenge you add tests for.  Doing so makes the review process easier.  Just reference this issue, so we know which PRs are still needed.

As for how to go about it, take a look at @moT01's PR.  He wrote tests that verify aspects of the project's api, when given a project url. So, the project is supposed to return a JSON object with the

[2019-10-14 15:37] moT01 commented on #37185
The problem here is that many, or at least some, of the projects don't specify route names; so, in some cases, campers can use any routes they choose - making it impossible to hit them predictably. I mentioned this [here](https://github.com/freeCodeCamp/freeCodeCamp/pull/37122#issuecomment-541422838). So we may need to go into each project and clarify instructions so that the routes and parameters

[2019-10-14 15:45] #34504 closed

[2019-10-14 15:58] ojeytonwilliams commented on #37185
Yep.  I don't see any other way of making them testable, so I think they need a concrete API as part of the project.  If it's not obvious what the API for a project should be, maybe we could discuss that here?

[2019-10-14 16:00] raisedadead commented on #36829
Thanks for your interest.

There isn't one, this issue aims to help create a guide that follows the guide for the coding challenges. If you are interested in working on this, you would want to create a guide that is written for translators to be able to follow and adhere to points in my previous comment.

We want to test out the workflow on chinese language first. We already have the older curricu

[2019-10-14 16:04] moT01 commented on #37185
I know that @cmccormack and maybe others were working on unifying a [repo for the backend projects](https://github.com/cmccormack/freecodecamp-backend-challenges) for a little while. I'm wondering if we should add that to fCC and use it to make changes to the projects. Then we can just import all the code from there to the current glitch projects - I think that was the plan when work was being don

[2019-10-14 16:06] raisedadead commented on #37183
@ahmadabdolsaheb this should come as a cosmetic change to the copy only, do not change any endpoints or code etc.

[2019-10-14 16:10] raisedadead opened #37284 "Circle CI Integration"
Circle CI is enabled for work on https://github.com/freeCodeCamp/freeCodeCamp/pull/37053

@Bouncey when you get a chance, please add a dummy config for the CI to be green while you continue your work on the e2e.

[2019-10-14 16:47] raisedadead commented on #36846
The current functionality as it was implemented was fragile and completely broken to the point where we had to remove it. Discourse gives you very little control on what you can do with it out of the box. A custom solution needs dev and time.

As of now as @ahmadabdolsaheb has mentioned the new solution is in works. Unfortunately there is no ETA when it will be out.

We understand the frustration

[2019-10-14 16:50] #37146 closed

[2019-10-14 16:53] raisedadead commented on #36876
I landed a commit to enable execution https://github.com/freeCodeCamp/cdn/commit/ccd31d521d8f73c91163e4ec0a0e5145094d8136

Please comment if issue still exists.

[2019-10-14 16:53] #36876 closed

[2019-10-14 17:01] raisedadead commented on #37124
We will not be replacing the paths anytime soon. Only the copy-edits will be done.

[2019-10-14 17:03] raisedadead commented on #37144
Which most people do. However, the way they are structured is sort of messy, as Oliver noted previously. Instead, it would rather be nice to incorporate as actual challenges or make them inline.

[2019-10-14 17:06] raisedadead commented on #37225
Can't reproduce.

[2019-10-14 17:06] #37225 closed

[2019-10-14 17:07] #37182 closed

[2019-10-14 17:07] #37183 closed

[2019-10-15 06:02] #37240 closed

[2019-10-15 07:34] jenlky commented on #37185
@moT01 I want to check if the user is actually redirected to a certain URL. To do that in Nodejs, I will need to require('url'). I can chain the code in the test case but it would be very messy and I prefer not to. Since the file is markdown, where should I require then?

[2019-10-15 08:44] ahmadabdolsaheb commented on #37242
Vey valid points. we will ship the current nav and optimize for the next iterations then.

Since we are not sharing the same accounts or auth across our services yet and we are planning to share the same universal nav everywhere, placing a sign-in or settings button might not be relevant if you are not on learn.

our solutions would be a secondary nav "local nav" for each service, or nesting those

[2019-10-15 09:16] #37137 closed

[2019-10-15 10:30] ojeytonwilliams commented on #37185
`require` is out, I'm afraid.  The tests run in the browser's JavaScript engine, not node.

What you can do is use [fetch](https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch).  So, something like

[code]
is how I'd check for redirects.  You can also get the url with `res.url` to verify it's redirecting to the right place.

[2019-10-15 11:52] #37115 closed

[2019-10-15 12:25] jenlky commented on #37185
@ojeytonwilliams For URL Shortener, I need to POST URL (google for example) to shorten it and
it should return `{ "original_url": "www.google.com", "short_url": 1 }`. When I access `$.get(getUserInput(''url'') + ''/api/shorturl/1'')`, I should be redirected to google.com.

I will need to either 1) store the original_url as a variable OR 2) POST and then GET in one function. Is there a way to do th

[2019-10-15 12:43] ojeytonwilliams opened #37305 "URL Shortener Microservice needs tests"
I'm creating this as a place to discuss how to create tests for this project, so as not to dominate #37185

[2019-10-15 13:08] ojeytonwilliams commented on #37185
It occurs to me that we should probably add tests that reject the Glitch project we provide for each project.

[code]

Something like that.

[2019-10-15 13:37] moT01 commented on #37185
FYI - there are [some tests written here](https://glitch.com/edit/#!/fcc-back-end-tester?path=public/tests.js:1:0) - There's no confirmation that they work or are complete, but it's a good place for examples.

[2019-10-15 13:43] jenlky commented on #37305
Noted. I was wondering if anyone has a clue. If not, I'll just make a PR first with what I have including the test to ensure the url given is not the example url.

[2019-10-15 13:50] moT01 commented on #37305
I put a link on the main issue to some examples, or possibly stuff that can just be copy/pasted - looks like whoever made them stores some variables on the window object.

[2019-10-15 14:05] ojeytonwilliams commented on #37305
That's called by the browser as the test is run.  Basically what happens is, for each test the user's code is evaluated and then the test code is evaluated.  All `getUserInput('url')` does is grab the url that the user has entered as a solution.

That or declare a variable in the test and set it in the `then` of the first promise.  Either should be fine.

[2019-10-15 14:21] ojeytonwilliams opened #37307 "Test output style should mirror the test suite"
**Describe the bug**
The code blocks in the test output (below the editor) do not match the test suite (below the instructions)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [a challenge](www.freecodecamp.dev/learn/responsive-web-design/basic-css/use-css-selectors-to-style-elements)
2. Click on run the test
3. Scroll down to the output
4. See:

![OutputDefault](https://user-images.gi

[2019-10-15 14:25] l-white opened #37308 "Loop Error: FCC doesn't save login credentials when we click on curriculum"
Please refer to the issues reported on the forum. This is happening with both email and Github signins in multiple browsers.

https://www.freecodecamp.org/forum/t/when-i-click-curriculum-it-wants-me-to-sign-in/321933

https://www.freecodecamp.org/forum/t/cant-login-to-fcc-loop-error/321931/3

[2019-10-15 14:45] ojeytonwilliams opened #37309 "Setting input boxes use old colours"
**Describe the bug**
Some of the input boxes (Email Settings and Your Internet Presence at least) get the old green border when valid inputs are entered.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/settings`
2. Scroll down to 'Your Internet Presence'
3. Enter `https://twitter.com` below 'Twitter'
4. Click on something else to remove focus
5. See the green border.

**Expected beha

[2019-10-15 14:46] l-white commented on #37308
Problem seems to be resolved. Thank you for the prompt attention to these issues.

[2019-10-15 14:46] #37308 closed

[2019-10-15 14:58] ojeytonwilliams opened #37310 "Show other ways to donate button style"
**Describe the bug**
The 'Show other ways to donate' button looks like a link until you click on it, when it looks like a button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /donate
2. Click on 'Show other ways to donate'
3. See:
![ShowOtherDonate](https://user-images.githubusercontent.com/15801806/66843185-b729ff00-ef6c-11e9-97da-2b32c0c8e7ee.gif)

**Expected behavior**
I think it

[2019-10-15 15:04] alexyiangou commented on #37309
Hey there! I could handle this! :slightly_smiling_face:

[2019-10-15 15:04] moT01 commented on #37305
Would that allow for use of the variable in the next test?
So the first test would be to post a url, get a short url number in the response -> set it to something -> use it for the `get` in the next test?

[2019-10-15 15:13] ojeytonwilliams opened #37311 "Search style jumps"
**Describe the bug**
When you reload a page two style issues appear.

- The placeholder text moves slightly once the page has fully loaded.
- The search hits are briefly bold

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `www.freecodecamp.dev` (or any page with search)
2. Reload
3. See the placeholder text move
4. Click on the search bar
5. Type anything
6. See the result appear brie

[2019-10-15 15:17] ojeytonwilliams commented on #37305
It shouldn't - the tests should be entirely independent.  If the tests are influencing each other, that's a nasty bug!

[2019-10-15 15:29] ojeytonwilliams commented on #37309
Thanks @alexyiangou!  Feel free to submit a PR when you're ready.

[2019-10-15 15:39] tknbnola opened #37312 "FCC won't stay logged in."
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
When I log in, then click the "coding curriculum" button, its as if I never logged in.
Home page does not show my profile icon either.
It shows FCC with my gray background settings until I click any other butto

[2019-10-15 15:43] nephring commented on #37312
same here, it's looks like issue described here:
https://www.freecodecamp.org/forum/t/i-can-log-into-freecodecamp-org-but-it-logs-me-out-at-learn-freecodecamp-org/194036/60

[2019-10-15 15:45] Ieahleen commented on #17976
my browser: Versione 77.0.3865.120 (Build ufficiale) (a 32 bit) on Windows 10 Home v1803

no test passes with callback `d => d + "px"`

[2019-10-15 15:48] moT01 commented on #37305
Well, I gave it a test locally - and it looks like it works.
`test1: window.test = 'test';`
`test2: console.log(window.test); //logs 'test'`

So, for this challenge, you kind of need the `short_url` from the response of one test to make a `GET` request in another test (unless you string it all into one test - which isn't that great). Looks like attaching it to the window object will make it availa

[2019-10-15 15:51] RandellDawson commented on #37312
Closing this issue as the issue has already been reported and a fix is being implemented in the next few hours.

https://www.freecodecamp.org/forum/t/when-i-click-curriculum-it-wants-me-to-sign-in/321933

[2019-10-15 15:51] #37312 closed

[2019-10-15 16:44] ojeytonwilliams commented on #37305
Thanks for testing that.  So, what I think is that the `window` object should be off-limits as the potential for creating bizarre and unpredictable bugs is rather high.

Right now we run the tests sequentially, but what about if we decide to run them in parallel to speed things up?  After all, waiting for multiple 5 second timeouts is a pain.  Suddenly these kinds of tests can fail, more or less a

[2019-10-15 17:15] moT01 commented on #37305
I think running the tests in parallel is a good idea, but how would it help us with this problem?

I also just thought of something, the 5 second limit might not actually be enough with these - since glitch projects have to "wake up"/restart the server and install dependencies. Not sure if that is an issue or not. Probably fine for now.

[2019-10-15 17:21] RandellDawson commented on #37305
I am thinking we might be able to create these projects and host them on the same server as the contribute.freecodecamp.org site uses.

[2019-10-15 17:36] ojeytonwilliams commented on #37305
It wouldn't help here.  I was just talking about what might go wrong if we started running them in parallel.

It'll be fine most of the time, since they'll be working on the projects and keeping them awake.  Could be worth popping a warning somewhere, though.

[2019-10-15 18:09] vkWeb commented on #37307
@ojeytonwilliams I can't reproduce.

![Screenshot (32)](https://user-images.githubusercontent.com/26724128/66857487-fecc7d00-efa4-11e9-94ff-6a9a8eed6f5a.png)

[2019-10-15 18:20] vkWeb commented on #37310
@ojeytonwilliams I'll look into this.

[2019-10-15 18:21] ojeytonwilliams commented on #37307
The problem is the red text, below `// running tests`.

`h2`, `style` and so on.

[2019-10-15 18:21] rickysyamsi commented on #37307
Hi @vkWeb. I had made PR for this issue. The code style in test output panel (red color) should mirror the code style in test suite (black color with gray background).

Did I understand it correctly @ojeytonwilliams?

[2019-10-15 18:25] vkWeb commented on #37307
@ojeytonwilliams Oh. I thought you were talking about the wordings of test output.

Hey @rickysyamsi. Before I go into the topic, I want to thank you for the contributions you are making for us. :) But why it should mirror the style of the test suite?

[2019-10-15 18:25] GabCostaSilva commented on #37311
Hey, I wanna help with it. Where can I find the code for it? (First time  contributing)

[2019-10-15 18:27] vkWeb commented on #37307
@ojeytonwilliams It looks good. It looks like a terminal's syntax highlight style. Please don't change it :)

[2019-10-15 18:35] ojeytonwilliams commented on #37307
@vkWeb  It looks jarring to me, having one colour that's so different.  I don't want to impose my taste unilaterally though, so I'll leave this issue up for a bit.  Give more people time to chime in if they have strong feelings on the matter.

[2019-10-15 18:39] vkWeb commented on #37307
@ojeytonwilliams I think we are already on the edge of deployment and this isn't a bug or something which needs to be "discussed" at this stage. If someone really has a problem with it (or with its accessibility) then they are free to create issues and we will triage it.

I am not saying we should not discuss style changes but this change doesn't feel quite right to me. What do you think?

[2019-10-15 18:44] ojeytonwilliams commented on #37311
@GabCostaSilva I'm not 100% sure where the problem is, but the `SearchBar`, `SearchHits` and `SearchSuggestion` components are all involved to some degree.  Somehow the `SearchSuggestions` are not getting the right classes when first rendered I *think*.

I'm planning to take a closer look myself, tomorrow, but you're welcome to submit a PR/share any insight.  As you wish!

[2019-10-15 18:45] rickysyamsi commented on #37307
You're welcome @vkWeb, I'm glad to help :)

I think that @ojeytonwilliams intention is to make the styling looks consistent. Personally red text is hard to read for me. But I wear glasses so my eyes are probably not normal people standard.

Now that you say about terminal, I just realized that was styled to looks like terminal. Also red color usually means error semantically.

Objectively, I think

[2019-10-15 18:47] ojeytonwilliams commented on #37310
Thanks @vkWeb!  If you could check with Ahmad as to what he wants here before submitting a PR (since he's worked on the formatting very recently), that would be great.  I suspect he's a little busy right now, though, so I just put this issue here to keep track of it.

[2019-10-15 19:17] vkWeb commented on #37310
@ojeytonwilliams Yeap. I'll talk to him after a day or two.

[2019-10-15 20:15] vkWeb commented on #37307
@rickysyamsi Yes, you are right. It's all a matter of preference if the style qualifies WCAG. For me, its the current version with `font-size: 90%` and the test suite `code` should not overlap.

Maybe we can make changes to it in the linked PR if @ojeytonwilliams agree?

[2019-10-15 20:16] vkWeb commented on #37310
@ojeytonwilliams Please assign this to me if possible.

[2019-10-15 21:25] QuincyLarson opened #37319 "freecodecamp.org/news/ghost results in bad redirect"
If you visit freecodecamp.org/news/ghost, it results in a bad redirect to `https://news-proxy.freecodecamp.org/news/news/news/news/news/ghost/` which causes a 404 error.

[2019-10-15 21:39] #37319 closed

[2019-10-15 21:40] QuincyLarson opened #37320 "Minor text fix for welcome message"
We should make this more grammatically correct by adding a comma and space before the name, and a period after it.

For example:

Welcome back, Quincy Larson.

<img width="1405" alt="Learn___freeCodeCamp_org" src="https://user-images.githubusercontent.com/985197/66871951-67e2cf00-ef6a-11e9-8406-4416c774b4e4.png">

[2019-10-15 21:42] kevyntorres opened #37321 "5xx Errors, Timeouts during login and getSessionUser"
504 gateway time-out when trying to sign in

[2019-10-15 22:03] ahmadabdolsaheb commented on #37321
thanks for reporting this. this issue is under investigation as we speak.

[2019-10-16 00:02] jenlky commented on #37305
Okay I have finished the test on shortening url and redirecting it:

[code]

How do I test if it is working?

[2019-10-16 00:30] RandellDawson commented on #37305
@jenlky `npm run test:curriculum`

[2019-10-16 00:40] raisedadead opened #37324 "Space between the profile and the social links"
![image](https://user-images.githubusercontent.com/1884376/66879431-a5cc0b80-efdb-11e9-9c78-22769f920fdd.png)

[2019-10-16 02:12] jenlky commented on #37305
@RandellDawson I `npm install` in the root folder and `npm run develop` threw me:

[code]

When I run `npm run test:curriculum` in the root folder, it threw me:

[code]

Is it just me? Or does anyone else get the same problem?

[2019-10-16 02:15] RandellDawson commented on #37305
@jenlky To avoid taking this issue off-topic, join the [collaborator's room on Gitter](https://gitter.im/FreeCodeCamp/Contributors) and we can discuss your issue further.

[2019-10-16 03:09] QuincyLarson opened #37331 "Email unsubscribe path isn't working"
My weekly emails have an unsubscribe URL that follows this pattern:

[code]

This path no longer works.

We will need to fix this before my Thursday email blast.

[2019-10-16 04:47] arianneghislainerull opened #37332 "Change in User Interface"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.
The user interface seems to be different, basically the front end of the website. I also can't sign in to my account. :( When I tried to inspect the website,

[2019-10-16 05:24] raisedadead commented on #37332
Thanks for reporting, please checkout our [community forum](https://www.freecodecamp.org/forum) for details

[2019-10-16 05:24] #37332 closed

[2019-10-16 07:27] Frozenaught commented on #37324
Hello, can I work on this please?

[2019-10-16 08:17] ojeytonwilliams commented on #37305
@jenlky there are a few things needing fixing.  As the code is represented as a string you have to escape `'` or just use `"` inside the string. So `$.post(getUserInput('url')` -> `$.post(getUserInput("url")` and so on.

Once you've done that there are some syntax errors, so I recommend first creating the test inside a .js file, so your editor can flag these things up for you.

Also `$.post` needs

[2019-10-16 08:27] raisedadead commented on #37331
This is a stability issue. All endpoints are working.

[2019-10-16 08:27] #37331 closed

[2019-10-16 08:28] raisedadead commented on #37331
However, I recommend waiting on a confirmation before sending out the blast

[2019-10-16 10:17] rickysyamsi commented on #37307
I am not saying we should not discuss style changes but this change doesn't feel quite right to me. What do you think?

@vkWeb Like what you said in your previous comment, I think it is better if we leave this issue as is. Feel free to create another issue for discussing style improvement. I will be happy to participate in the discussion :)

[2019-10-16 10:27] ojeytonwilliams commented on #37311
It turns out it wasn't anything to do with those components.  The problem is that the `Lato-300` font doesn't get loaded until it's needed - in this case when the search results appear.  That causes a brief flash of `Arial` and that's the cause of the problem.

I'm going to look into pre-loading the fonts and clear this up.

[2019-10-16 11:25] #37307 closed

[2019-10-16 11:26] #37320 closed

[2019-10-16 11:26] ojeytonwilliams commented on #37324
@Frozenaught, go for it. If it's been labelled 'help wanted', you don't need to ask.

[2019-10-16 11:35] rickysyamsi commented on #37309
Hi @ojeytonwilliams.

I had tested this on all input boxes in setting page. Affected input are only in Email Settings and Internet Presence like you described.

The green border is caused by Bootstrap default class `.has-success .form-control`. I also had overridden color changes caused by another Bootstrap default classes which is `.has-error .form-control` and `.has-warning .form-control`.

The

[2019-10-16 11:53] #37186 closed

[2019-10-16 13:17] #37124 closed

[2019-10-16 14:10] moT01 opened #37340 "Landing page shows interview prep as a cert"
On the home page, it lists the `coding interview prep` section as a certification....

![Screen Shot 2019-10-16 at 9 06 48 AM](https://user-images.githubusercontent.com/20648924/66926954-8ee5e300-eff4-11e9-95f9-1349e0f1e3ba.png)

Maybe remove that since there's no cert for it?

[2019-10-16 15:03] ojeytonwilliams opened #37341 "Quotes refreshing on click"
**Describe the bug**
When you left click while on the `/learn` page the random quote gets replaced with a new one.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.dev/learn/
2. Click on anything that doesn't take you to a new page
3. See the random quote get replaced

**Expected behavior**
A random quote should appear each time you visit learn, but it should no

[2019-10-16 15:26] moT01 commented on #37341
I see this on the production site as well.

[2019-10-16 17:15] #37341 closed

[2019-10-16 17:22] raisedadead commented on #37340
Yes, you are correct. I will defer to @QuincyLarson for the correct categorization for this.

[2019-10-16 18:52] ahmadabdolsaheb opened #37346 "portfolio page footer needs to be sticky"
to reproduce go login and click on portfolio

the footer comes up until  the portfolio loads
![sticky footer](https://user-images.githubusercontent.com/4591597/66949430-30a21a00-f05f-11e9-9859-0355c01800d3.gif)

[2019-10-16 20:03] GQuirino commented on #37346
can i work on this issue?

[2019-10-16 23:33] dboydgit commented on #37324
Which page is this on? I can't find the social links on my local setup.

[2019-10-17 03:13] arianneghislainerull commented on #37332
The last time I checked, there is still a bug on the website.

It says this -->
"Something is not quite right. A report has been generated and the freeCodeCamp.org team have been notified."

Thanks for letting me know. I'll search up some threads to see if other people are also experiencing the bug.

[2019-10-17 07:16] ojeytonwilliams commented on #37324
@dboydgit did that bug ever reappear?

[2019-10-17 07:29] #37141 closed

[2019-10-17 07:30] ahmadabdolsaheb commented on #37346
sure, please go ahead.
and make sure to gatsby build it locally to see the effect better.

[2019-10-17 07:41] dboydgit commented on #37324
@ojeytonwilliams Yes, when a user adds a new social link to their profile it won't show up without a page refresh. I was going to add a new issue for it.

[2019-10-17 07:50] raisedadead commented on #37332
We are working very hard to fix the issues. Thanks for your patience

[2019-10-17 08:18] ahmadabdolsaheb commented on #37242
update: we got news and forum nav items and kept portfolio with this #37339

[2019-10-17 08:24] ojeytonwilliams commented on #37309
@rickysyamsi I tried out your PR and it looks great!  Before we go ahead with that I would like your thoughts on a couple of things.

Firstly, are you getting the appropriate error and warning classes applied?  Testing locally I don't seem to be.

Secondly, what do you think about inverting the input boxes in night mode?  i.e. dark background + light text to fit in with the rest of the aesthetic.

[2019-10-17 10:18] #37309 closed

[2019-10-17 10:18] #37311 closed

[2019-10-17 12:53] ahmadabdolsaheb commented on #37310
@ojeytonwilliams i see your concern with consistency, and this button looks like a link by design.

The behaviour is caused by the :focus state of the button.

@raisedadead, on a second thought this might not even be an issue.
before the users click on the button, it looks like a link so they are not distracted from the main task.

but when users click on it, the focus state keeps the button more

[2019-10-17 12:58] RandellDawson opened #37367 "Update Scrimba video for the Word Blanks challenge"
@beaucarnes The video for the [Word Blanks](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/word-blanks) challenge needs to be updated due to changes in the challenge.  We simplified the challenge to not introduce functions in this challenge.

[2019-10-17 13:03] raisedadead commented on #37310
The other ways to donate should be an actual link and styled as such not a button.

[2019-10-17 13:04] beaucarnes commented on #37367
@RandellDawson Sure, I'll update the video.

[2019-10-17 13:15] ahmadabdolsaheb commented on #37310
@vkWeb, if you are still interested in working on this issue, could please go ahead with replacing the 'Show other ways to donate' button with an actual link with onClick={this.toggleOtherOptions}.