[2018-03-13 22:35] MrAJGurney opened #16892 "Unable to reset forgotten password"
#### Issue Description

I seem to be unable to reset my password.

1. I go to https://www.freecodecamp.org/signin and select "Sign in with Email"
2. I am taken to https://www.freecodecamp.org/email-signin
3. I select "Forgot your password?"
4. I am, taken to https://www.freecodecamp.org/forgot
5. I enter my email address, and select "Reset Password"
6. A popup appears saying "An e-mail has been se

[2018-03-13 23:08] BerkeleyTrue commented on #16867
@raisedadead yeah, if it is desired, but the issue is the styling should not cause the flash message to float over the preview content, which seems to be the main complaint.

@Bouncey didn't you have a PR recently that changed the styling on the preview window? Could that be the cause?

[2018-03-13 23:09] BerkeleyTrue commented on #16872
I believe @Bouncey solved this on beta a while back. If globals are introduced, the lint will will fail to run.

[2018-03-13 23:11] BerkeleyTrue commented on #16858
@raisedadead sounds like a great idea, that off loads the work from the servers.

[2018-03-13 23:16] BerkeleyTrue commented on #16876
I'd avoid anything that involves voting, as these are easily gamed and takes more work then they are worth.

Git commit lines contributed could be one metric.

That's amazing! we have the ability to distinguish between points from thanks and points from chalenges. We could use that as another metric (maybe another badge).

I'm not sure what would be a good metric for the forum.

[2018-03-13 23:19] BerkeleyTrue commented on #16883
I'm not sure what the key/value query speed difference is between the two. I say as long as we will see a significant query performance (a magnitude atleast). Then it would be worth the move.

[2018-03-13 23:27] Bouncey commented on #16872
@BerkeleyTrue that was enabling linting errors in the editor if the campers code would overwrite a global variable like `name` and such like.

The problem here is the global `newArr`, it never gets reinitialized.

A second/third/fourth/fifth function declared in global scope will not cause the tests to fail.

[2018-03-13 23:39] BerkeleyTrue commented on #16855
The problem here is the /:username route. A long time ago, I discussed with @QuincyLarson about changing this to /user/:username, but he veto'd in favor of better SEO. This has caused me huge headaches ever since. For instance, we have a [blacklists](https://github.com/freecodecamp/freecodecamp/blob/staging/server/utils/constants.js#L1) of usernames that cannot be used or the /:username express en

[2018-03-13 23:48] fmd123 commented on #11812
I also cannot see the previous progress I made. I don't see anything under my profile either.

[2018-03-13 23:49] yoizfefisch opened #16893 "Differences Between the var and let Keywords lesson has unnecessary note"
#### Challenge Name

[ES6: Explore Differences Between the var and let Keywords](https://beta.freecodecamp.org/en/challenges/es6/explore-differences-between-the-var-and-let-keywords)

#### Issue Description

At the bottom of the lesson there is a note:

But in the code, none of the variables are decalred more than once.

[2018-03-14 01:15] joker314 commented on #16565
I think all this locking/unlocking isn't the best idea in terms of sandboxing off code. Instead, I think you should evaluate the code in an iframe on a different origin to ensure that there's no way to interact with a Camper's session.

(Aside but slightly relevant): What is the preferred method for reporting potential security issues to freeCodeCamp?

[2018-03-14 01:31] BerkeleyTrue commented on #16565
@joker314 feel free to shoot me an email berkeley@freecodecamp.com

[2018-03-14 02:29] moT01 commented on #16867
@BerkeleyTrue yes, in my original post the other issue that is linked has a reference from that PR it at the bottom.

[2018-03-14 02:45] moT01 commented on #16852
@raisedadead hey, you said we dont want images in challenge descriptions, I had that planned for this - what if I just put the image in the seed code and it shows up in the preview?

[2018-03-14 03:28] moT01 commented on #16852
okay, if we dont want images in the description - thats the new plan - put it in the seed code and show it in the preview... I see some other images hosted on aws @mstellaluna I think you were right there - it looks like there's a freecodecamp account - do any of you know who can put a picture there for me? here's the new pic...
![gridlines](https://user-images.githubusercontent.com/20648924/37381

[2018-03-14 03:33] mstellaluna commented on #16852
I don't have access to the AWS account, I'm not sure who does.

[2018-03-14 05:15] raisedadead commented on #16852
@QuincyLarson can upload them to the bucket for you.

[2018-03-14 05:15] raisedadead commented on #16852
You can share a link or the image in this thread

[2018-03-14 05:35] raisedadead commented on #16893
I think the note is redundant here. This can be removed.

Here are our [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md)and you can reach us in the [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) for help.

[2018-03-14 05:36] raisedadead commented on #16893
First time contributors, you can simply use the search at the top of this page to look for the string in the note to identify the file that needs changing.

[2018-03-14 06:45] raisedadead commented on #16892
@QuincyLarson @BerkeleyTrue I cannot reproduce this locally.
@MrAJGurney Can you shoot us an email team@freecodecamp.org.

We will try and get this resolved for you.

[2018-03-14 07:02] muratdogan17 commented on #16893
I'm working on it 👍

[2018-03-14 08:15] elbui3 opened #16894 "SASS Challenges not working"
#### Challenge Name
Sass: Use @each to Map Over Items in a List

#### Issue Description
The challenge always fails on the point 2-3-4, despite the code seems to be correct, the preview works fine and inspecting the html show me the three styles (blue-bg, black-bg, red-bg) properly expanded

#### Browser Information
* Browser Name, Version: Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.3

[2018-03-14 09:34] Andrew-Gurney commented on #16892
I've sent an email to team@freecodecamp.org with the title **Unable to reset forgotten password**.

[2018-03-14 11:40] yoizfefisch commented on #16584
I think it should be: `console.log(sentence);` and it should test for "freeCodeCamp is cool!" to confirm that the user updated this line to all-caps as well. Otherwise, the constant in this function has no use and thus creates confusion.

@raiden357 @raisedadead @ninadingole Agree?
BTW, I have a feeling that this is what bothered @Bouncey  in #16619:

Additionally, information in [the next challen

[2018-03-14 11:42] raisedadead commented on #16889
Yes, we are going to do it as per the OpenAPI Standard Spec, it will be separate project of itself running in conjunction with the platform.

[2018-03-14 11:44] #16893 closed

[2018-03-14 12:17] GilTorch opened #16896 "Sass Challenge:Use @each to Map Over Items in a List"
#### Challenge Name
Use @each to Map Over Items in a List

https://beta.freecodecamp.org/en/challenges/sass/use-each-to-map-over-items-in-a-list
#### Issue Description

My code clearly works and provide the right result in the preview section but for some reason I don't
understand I don't pass the challenge.
#### Browser Information

* Browser Name, Version:  Chrome 64.0.3282.186
* Operating Syste

[2018-03-14 12:23] sjames1958gm commented on #16896
Looking in the source it appears the test is missing the `.` required for class selectors
See below the assert is using `blue-bg` and should be `.blue-bg`
        "assert($('blue-bg').css('background-color') == 'rgb(0, 0, 255)', 'message: Your <code>.blue-bg</code> class should have a <code>background-color</code> of blue.');",

[2018-03-14 13:26] mstellaluna commented on #16878
@PolarisTLX I tested your changes in firefox and in chrome. Looks great to me :) I will go ahead an approve the changes. Great Job. Thank you for contributing. Happy Coding !

[2018-03-14 13:28] raisedadead commented on #16584
Hi @yoizfefisch thanks for reporting. If you could raise a fresh issue, it would be awesome! We can discuss on how to improve the challenge.

[2018-03-14 13:28] #16878 closed

[2018-03-14 13:30] nsuchy opened #16897 "Challenges on beta requiring a semi colon"
I've noticed on the beta that the interface shows an error if your code does not have a semi colon. In most cases you don't need to include a semi colon, why is the editor being strict about semi colons when unless you have an edge case or badly formatted code you won't need it?

[2018-03-14 13:45] DawoodMorris commented on #16897
I've noticed on the beta that the interface shows an error if your code does not have a semi colon. In most cases you don't need to include a semi colon, why is the editor being strict about semi colons when unless you have an edge case or badly formatted code you won't need it?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<htt

[2018-03-14 14:13] mstellaluna commented on #16873
@ahmadabdolsaheb I finished reviewing your PR.  Looks good to me. I will go ahead and approve the changes.

[2018-03-14 14:14] NdegwaJulius commented on #8713
function caseInSwitch(val) {
var answer = val;
// Only change code below this line
switch (answer){
case 1:
answer = "alpha";

  break;

 case 2:
  answer = "beta";
  break;

  case 3:
  answer = "gamma";

  break;

 case 4:
  answer = "delta";
  break;

  default:

}
// Only change code above this line
return answer;
}

// Change this value to test
caseInSwitch(3);

[2018-03-14 14:15] #16873 closed

[2018-03-14 14:16] ahmadabdolsaheb commented on #16356
We could use the following general purpose regex
<code>\import\s+\*\s+as\s+[a-zA-Z0-9_$]+\s+from\s+"math_functions"\s*;\g</code>
This accepts for names that are made with a-z, A-Z, 0-9, _, and $. However, it also allows reserved javascript names and names that start with a number.

you can check it here https://regex101.com/r/RkheRs/27

let me know if it is satisfactory.

[2018-03-14 14:17] ahmadabdolsaheb commented on #16356
@raisedadead We could use the following general purpose regex
<code>\import\s+\*\s+as\s+[a-zA-Z0-9_$]+\s+from\s+"math_functions"\s*;\g</code>
This accepts for names that are made with a-z, A-Z, 0-9, _, and $. However, it also allows reserved javascript names and names that start with a number.

check it out here https://regex101.com/r/RkheRs/27

let me know if it is satisfactory.

[2018-03-14 14:30] ashutupa commented on #16873
Thanks,It was nice way to be hooked into process of committing for a first-timer.

[2018-03-14 14:54] ahmadabdolsaheb commented on #16873
@ashutupa Great job. 👍

[2018-03-14 15:24] nsuchy commented on #16897
@mstellaluna The second response looks like it accidentally forwarded the same message. This should probably be edited out, at least the unsubscribe link as that should remain private to protect the user.

[2018-03-14 15:35] raisedadead commented on #16897
Hi @nsuchy we debated about this in https://github.com/freeCodeCamp/freeCodeCamp/issues/16509 and came to a consensus that this is intended.

[2018-03-14 15:35] #16897 closed

[2018-03-14 15:59] nsuchy commented on #16897
@raisedadead While I think this could lead to bad habits I respect the teams' decision :)

[2018-03-14 16:12] #16879 closed

[2018-03-14 16:42] Radlerz1 commented on #16856
Was this issue resolved? The flash message seems to be working fine for me.

[2018-03-14 16:57] raisedadead commented on #16856
Hi @Radlerz1 thanks for reporting. Yes indeed.

Just to clarify for future reference:

1. The native HTML validation is fine, turns out I completely missed the fact the `test@test` is actually a valid email just like `test@localhost`
2. We were not getting the server side validation messages, for a reasons unknown to me. But this has now been resolved in some recent changes merged within the last

[2018-03-14 16:57] #16856 closed

[2018-03-14 17:24] IsaacAbrahamson commented on #16876
I like the idea, but the forums are a difficult one to judge.

Since I spend most of my time on the forum, I don't think it's fair that people on Gitter be rewarded with badges for giving quick little thanks while I could spend an hour writing a reply to someone and not even get one like. Not that I help people because of that, obviously, but if you are rewarding people, it needs to be consistent

[2018-03-14 17:37] mstellaluna commented on #16876
I for one, I am deeply offended at this comment.  The campers in chat are, such myself, are there for a reason. Campers don't just get a one-line help. The 9000 point camper, is THE person to go to for javascript, and it not 'let me google that for you', its in-depth help. They get help for design, javascript, career advise, sometimes hey it happens we help with homework.  Don't assume we don't he

[2018-03-14 17:57] raisedadead commented on #16876
Hey guys, thanks for the comments. We sincerely thank you for all the good work you do.

I apologise for any understanding otherwise.

But, I strongly suggest lets be constructive about the feedback. I feel we should appreciate any effort (regardless of its quantum). And we should just keep the focus on discussing the best way to reward efforts.

I think metrics from the codebase contributions, is

[2018-03-14 18:30] raisedadead commented on #16855
Hmm I see that this is a more complicated problem than I initially thought, could just be a minor oversight.

I am not sure how the SEO is even affected, considering the user profiles have been dynamic routes from the very outset. But, I should be wrong if the analytics prove otherwise.

In any case, I agree regarding the routing, there should be just a single source of truth.

But coming to the c

[2018-03-14 18:39] IsaacAbrahamson commented on #16876
@mstellaluna

I'm sorry that I came across as offensive or against the gitter community. I have nothing against anyone who helps out in any way big or small, and I greatly appreciate everyone who has gone out of their way to help me, especially when I first joined the Gitter chat.

My point was not that the Gitter community is not as helpful. I am sure that the camper with 9000 points is fabulous

[2018-03-14 18:47] raisedadead commented on #16876
Yes, that what I mean as well, by the metrics to be normalized.

That is **just for the sake of an example**  20 points on chat can be equivalent of say one like or accepted solution on forum, or something on similar lines.

Long time members of the community can make a opinionated guess on what such a scale could be for such indicators? Don't you agree?

[2018-03-14 19:03] IsaacAbrahamson commented on #16876
Ok, I understand better now.

I agree. I didn't have the best success on Gitter and haven't been on there in a while, so I have no right to give an opinion, but I think that sounds like a good approach. My one problem as I mentioned above is how to classify something on the forum. Do we reward based on likes or replies, because both approaches may have problems identifying the post helpful campers

[2018-03-14 22:33] raisedadead commented on #16297
Closing as the user stories in the OP are stale now.

[2018-03-14 22:33] #16297 closed

[2018-03-14 22:37] raisedadead commented on #15942
Except for https://github.com/freeCodeCamp/freeCodeCamp/issues/15826 and https://github.com/freeCodeCamp/freeCodeCamp/issues/7925 all other user stories are done or are stale now. Closing, please open fresh issues if anything was missed.

[2018-03-14 22:37] #15942 closed

[2018-03-14 22:39] raisedadead commented on #12778
This has gone stale, because the behaviour is now a 404. We have a more updated issue discussing the implementation.

Closing

[2018-03-14 22:39] #12778 closed

[2018-03-14 22:42] raisedadead commented on #12841
This page was removed from the landing challenge. Going ahead and closing.

[2018-03-14 22:42] #12841 closed

[2018-03-14 23:17] randelldawson commented on #16869
@raisedadead - So how long will this temporary fix be in place?  What would the ultimate solution for this look like?  Is this just a rate-limit issue?  If so, it is just going to get worse the more campers work on the weather project.  Can the rate-limit be increased?

[2018-03-14 23:38] raisedadead commented on #16869
So how long will this temporary fix be in place?
This will not be temporary, with the error it will be known that the issue is due to the rate limits.

This was a wrapper created on top of OpenWeatherMaps API, which was not supporting https I think, and hence conflicted with codepen.

If so, it is just going to get worse as more campers create weather projects. Can the rate-limit be increased?

Ye

[2018-03-14 23:48] joker314 commented on #16869
@raisedadead It looks like the original code intended for there to be a cache. If this is the case, and if we can smooth out the details as to exactly what we want this to look like to respect privacy, then hopefully we can workaround the rate limiting?

[2018-03-15 06:48] raisedadead commented on #16855
Okay I didn't have much time, but I am dumping my observations here. So any pointers to consolidate will be appreciated:

This below check is never called:

https://github.com/freeCodeCamp/freeCodeCamp/blob/8145a9ceb1ebbb1f64320b208eab5ec1d50e0f06/server/middlewares/add-lang.js#L17-L22

because what I think is this bit

https://github.com/freeCodeCamp/freeCodeCamp/blob/8145a9ceb1ebbb1f64320b208eab

[2018-03-15 07:09] hibaAkroush commented on #16894
checkout this issue #16896

[2018-03-15 07:13] hibaAkroush commented on #16727
hi @BerkeleyTrue  can you provide more description?
im not familiar with your code
it would make it much easier if  you can send me the path to codemirror please

thanks

[2018-03-15 07:19] ahmadabdolsaheb opened #16899 "Beta - Links in intro challenges have smaller font"
#### Challenge Name

Introduction to Information Security with HelmetJS Challenges
https://beta.freecodecamp.org/en/challenges/information-security-with-helmetjs/introduction-to-information-security-with-helmetjs-challenges

Quality Assurance Introduction
https://beta.freecodecamp.org/en/challenges/quality-assurance-and-testing-with-chai/quality-assurance-introduction

Advanced Node/Express Introd

[2018-03-15 08:03] elbui3 commented on #16896
Do you know if anybody is going to fix this issue?

[2018-03-15 11:00] yoizfefisch opened #16900 "Unused and confusing variable in challenge's code: Declare a Read-Only Variable with the const Keyword"
#### Challenge Name

[ES6: Declare a Read-Only Variable with the const Keyword](https://beta.freecodecamp.org/en/challenges/es6/declare-a-readonly-variable-with-the-const-keyword)

#### Issue Description

Based on the code, it seems that the intended result would be a message that adds the string " is cool!" to the parameter string. However, to achieve that, we need to change `console.log(str);` t

[2018-03-15 11:51] iabrenne commented on #15908
Still working on it. Plan on having a PR ready by end of next week. Thank you!

[2018-03-15 17:36] ahmadabdolsaheb commented on #16899
@raisedadead I wanna take it or prep it for first timers. Your call.

[2018-03-15 18:08] raisedadead commented on #16899
This probably going to be the case for every challenge, basing on the same template. I think if you are Ok, you should take this up.

[2018-03-15 19:23] joker314 commented on #16899
Not sure if this information is useful, or even accurate, but I *think* that the anchor tags have their sizes set here...

https://github.com/freeCodeCamp/freeCodeCamp/blob/a33febd218859adab03d37b2030ec0b12e53393d/client/less/main.less#L284-L286

And I *think* the rest of the text gets its size set here

https://github.com/freeCodeCamp/freeCodeCamp/blob/68dde75add53f57a5f286daa2023240cc4cd70fd/com

[2018-03-15 22:22] ojongerius commented on #16889
Where was the decision made to chose REST instead of GraphQL? If choosing REST, OpenAPI is the right choice. But as this is a green fields project, why not chose a technology that requires less maintenance?

[2018-03-15 23:40] moT01 opened #16902 "Beta: Highlight current challenge in map?"
For some challenges (mainly the "introduction" challenges), I can't tell what challenge I'm currently on because the title isn't displayed in the description. Most of the challenges have the title at the top of the description so I can figure out what challenge it is. However, even when the title is displayed at the top I have trouble finding it on the map.
<br>
![screenshot from 2018-03-15 18-38-

[2018-03-16 00:13] ojongerius commented on #16883
👍 to use Redis over Mongo for session storage.

I've used it in production on AWS (they market Redis as a service as "Elasticache") which was completely hands off. Not sure how good the Digital Ocean experience is, I see they advertise it as a "one click app" https://www.digitalocean.com/products/one-click-apps/redis, and there are a bunch of tutorials available.

[2018-03-16 00:22] moT01 opened #16903 "Beta: Add horizontal scroll bars to some panels?"
**I propose to add horizontal scroll bars to the map and editor panels, removing the wrapping of text to new lines**
<hr>

![screenshot from 2018-03-15 18-47-23](https://user-images.githubusercontent.com/20648924/37496621-9815715c-2881-11e8-8db4-58f51e981a01.png)
<br>
In the editor section above, that group of HTML is difficult to read -- removing the text wrap would make it easier for that sectio

[2018-03-16 01:01] ojongerius commented on #16876
Love this idea! Not a fan of voting, as mentioned before: easy to game, very subjective.

I'd suggest:
* gather metrics: brownie points, PRs raised, reviewed, lines deleted && lines added, forum activity and other things I've not thought off. I'm skeptical of lines of chat in Gitter.
* finish with the FCC team doing a sanity check

I'm sure Camperbot would not mind in assisting with gathering metr

[2018-03-16 01:02] ojongerius commented on #16642
@raisedadead cool, had a look 😄

[2018-03-16 15:45] #16827 closed

[2018-03-16 16:00] tchaffee opened #16904 "[BETA] Code from URI is not loaded"
#### Issue Description
When a URI has solution code in it, the browser shows the toast that the code from the URI has been loaded, but code is not loaded and the default code remains.

As an example you can try this URI:

http://beta.freecodecamp.com/en/challenges/javascript-algorithms-and-data-structures-projects/palindrome-checker?solution=function%20palindrome(str)%20%7B%0A%20%20str%20%3D%20str

[2018-03-16 19:32] QuincyLarson commented on #16876
@raisedadead I like the idea of adding this. It would have to be after we ship beta.

As for whom to give it to, I propose this: @raisedadead decides.

Having a single person make the decision makes this process simple. @raisedadead is highly active in a number of repositories, and himself is a prolific contributor. He would be a good judge of whether a particular contributor meets the "prolific c

[2018-03-16 19:35] QuincyLarson commented on #16883
I am also in favor of moving some things over to Redis. @BerkeleyTrue and I have discussed this for at least a year. One other thing we've considered storing in Redis is campers' solutions. This is how JSBin handles it.

This is something we can consider after we ship beta and our other mission-critical features.

[2018-03-16 19:40] QuincyLarson commented on #16855
@BerkeleyTrue @raisedadead I understand that having the usernames right off the root is a headache. This has become a convention, though, and GitHub, Twitter, and most consumer websites do this. If we were to change this at this point, it would break thousands of backlinks from campers' personal websites, LinkedIn, etc. So we should stay the course here.

[2018-03-16 19:48] QuincyLarson commented on #16862
@BerkeleyTrue We should not be redirecting newly signed in users to a 404 page.

One way to fix this might be to remove the "currentChallenge" property from all user records so that it just redirects to the first challenge.

[2018-03-16 19:50] QuincyLarson commented on #16858
@BerkeleyTrue @raisedadead I'm not proposing a regex search. Rather, I'm suggesting that we take all the existing challenge URLs and map them to the new locations of those challenges. There are only a few hundred of them. Yes - this would represent some complexity, but it would give users what they expect when they follow a link - the latest version of that challenge.

[2018-03-16 19:54] QuincyLarson commented on #16861
@YogeshSharma0201 This looks good to me. Can you open a pull request? Then we can get code-specific feedback from @BerkeleyTrue.

[2018-03-16 19:59] raisedadead commented on #16858
Okay, I see what you mean is a direct one to one mapping of the challenge?
If yes do we have such a list? I am okay with the idea as long as we have a static mapping.

[2018-03-16 20:42] QuincyLarson commented on #16858
@raisedadead We will need to create a list manually and just hard-code the redirects. It should be pretty high performance. It will just be an ugly part of the codebase. This would be a good help wanted issue.

[2018-03-16 20:59] QuincyLarson commented on #16858
@raisedadead Where would be the best place to put this new routing logic?

[2018-03-16 21:05] QuincyLarson commented on #16858
@raisedadead @BerkeleyTrue I've updated the issue description and attached a link to all of the current production challenge URLs.

[2018-03-16 21:07] QuincyLarson commented on #16867
I also vote to remove the message, and code locking in almost all cases except the one discussed on https://github.com/freeCodeCamp/freeCodeCamp/issues/16565

[2018-03-16 21:12] #16892 closed

[2018-03-16 21:25] QuincyLarson commented on #16855
@BerkeleyTrue @raisedadead @Bouncey Our reasons for not having a /user/ path have less to do with SEO (/user/ would actually be better for SEO) and more to do with convention.

GitHub, Twitter, and most consumer websites follow this pattern.

If we were going to change this to /user/ or better yet /portfolio/ we  to change this at this point, it would break thousands of backlinks from campers' per

[2018-03-16 21:30] QuincyLarson commented on #16852
@mstellaluna we have eliminated all images from freeCodeCamp's curriculum in favor of text-based explanations. There are a number of reasons for this (performance, offline capability, accessibility).

Instead of using an image, since this is a pretty simple thing, could we just build this using HTML and CSS and show it in the Preview section of the challenge, then have the camper interact with it

[2018-03-16 22:31] nilbenis commented on #16892
Having the same issue.
Any advise?
Thanks a lot

[2018-03-16 22:42] yoizfefisch opened #16905 "Test requires unnecessary naming of elements when using destructuring assignment with the rest operator to get a sub-array"
#### Challenge Name

[ES6: Use Destructuring Assignment with the Rest Operator to Reassign Array Elements](https://beta.freecodecamp.org/en/challenges/es6/use-destructuring-assignment-with-the-rest-operator-to-reassign-array-elements)

#### Issue Description

I changed the code to the following:
`const [,, ...arr] = list; // change this`
The test "destructuring was used." failed! I don't see a rea

[2018-03-17 01:23] QuincyLarson commented on #16892
@nilbenis send me an email at team@freecodecamp.org

[2018-03-17 06:28] a7mam7ma opened #16906 "[Beta] Coding Interview Algorithm Questions section - Something went wrong"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/coding-interview-algorithm-questions/inventory-update

#### Issue Description

Loading any challenge from the Coding Interview Algorithm Questions section gives Something went wrong message and checking the browser console shows:
`Failed to load resource: the server responded with a status of 500 ()`

[code]

#### Browser Information

[2018-03-17 08:50] raisedadead commented on #16855
Hi @QuincyLarson

Ok, so here is what I have though should be a way to address this issue:

From @Bouncey 's proposal https://github.com/freeCodeCamp/freeCodeCamp/pull/16882#pullrequestreview-103361118

This is an expensive call, but I think, this is the only way we are able to keep the backlinks from breaking for existing users.

I'll add the `/:portfolio` routing for profiles, with the above loo

[2018-03-17 20:30] QuincyLarson commented on #16855
@raisedadead OK - great. Please go ahead and create that fallback and the new URL paths for `/portfolio/:username` and `/course` (this is also related to https://github.com/freeCodeCamp/freeCodeCamp/issues/16858)

[2018-03-17 21:52] tchaffee commented on #16867
One way to look at this is to ask what bad would happen if we just removed the flash message? Knowing the answer to that will help figure out the best UX.

I think the code locking is mostly unrelated to this even if they feel similar. Confirmed that I'm working on that.

[2018-03-17 22:06] maxfettes commented on #5924
After countless code rearranging, it really only needed the page to be refreshed. :)

[2018-03-17 22:22] masekowonderboy commented on #7199
Can anyone help....I'm trying to execute  this challenge too but I'm falling to get it right.

function test(val) {
// Only change code below this line
if(val > 20 || val < 10) {
return "Outside";
}

// Only change code above this line
return "Inside";
}

// Change this value to test
test(15);

[2018-03-18 00:39] ahmadabdolsaheb commented on #16899
@joker314 Thanks j.  I just changed <code>.@{ns}-description a { font-size:</code> from your comment to <code> 1em </code> since the size is relative to its parent which is .@{ns}-description.  BTW, how did you find the files so quickly?

[2018-03-18 01:09] joker314 commented on #16899
@ahmadabdolsaheb Yay!

I first opened my developer console and took a look at the styles for the links and the normal text. I saw this:

![image](https://user-images.githubusercontent.com/18113170/37561500-c8eaab5e-2a47-11e8-8a8b-8787a984cdf4.png)

and

![image](https://user-images.githubusercontent.com/18113170/37561509-f8ea1a10-2a47-11e8-81fb-2ecf6af37285.png)

I then thought that maybe the grey

[2018-03-18 02:15] joker314 commented on #16858
I've started making a mapping between the old links and the new ones. @QuincyLarson out of interest, how did you generate your list?

I'd like to check a few things, from what I've encountered so far
 - `beta` doesn't have a `/videos` endpoint for video lessons
 - `beta` doesn't have certificates for projects other than the JS one

Here is what I have so far. Each completed URL is associated with

[2018-03-18 06:48] rajatkantinandi commented on #16863
I think changing the common/app/Panes/redux/util.js and adding following code in the function get DividerLeft will make the map 33% & main pane 67% which by default when we have 2 panes only.
I am unable to test this feature.
Can anyone test it & confirm??

[code]

[2018-03-18 09:06] nilbenis commented on #16892
@QuincyLarson I replied github notification email "[freeCodeCamp/freeCodeCamp] Unable to reset forgotten password (#16892)".

[2018-03-18 09:16] raisedadead commented on #16892
@nilbenis you would need to  a send fresh email to this email: team@freecodecamp.org., if you havent already

[2018-03-18 09:20] nilbenis commented on #16892
@raisedadead just did. Thanks!

[2018-03-18 14:52] amimaro opened #16910 "Build a Pinterest Clone example link return "Server Not Found""
#### Build a Pinterest Clone
[https://www.freecodecamp.com/challenges/build-a-pinterest-clone](https://www.freecodecamp.com/challenges/build-a-pinterest-clone)

#### Issue Description
The example [link](https://midnight-dust.hyperdev.space/) returns "Server Not Found".

#### Browser Information

* Browser Name, Version: Firefox Quantum, 58.0.1 (64-bit)
* Operating System: Ubuntu 17.10
* Mobile, De

[2018-03-18 16:54] joker314 commented on #16858
Okay, so I've made quite a bit of progress. I've now manually mapped about 100 endpoints. I've got another 300 to go.

While I was at it, a few points for us to discuss arose.

First of all, the JSON API & AJAX section used to be very jQuery oriented. It is now, however, composed of vanilla JavaScript.

 - Do we map these jQuery links to their JavaScript equivalents, or do we just send these users

[2018-03-18 19:25] scwilbanks opened #16911 "Twitch.tv API workaround broken"
#### Challenge Name

Use the Twitchtv JSON API

#### Issue Description

Any new API calls to https://wind-bow.gomix.me/twitch-api/ with channels, streams, or users are met with error message: "This project has received too many requests, please try again later."

#### Browser Information

Using Chrome v.65 on Mac OS X 10.13.3

[2018-03-18 20:19] moT01 commented on #16852
How does this look? https://codepen.io/moT01/pen/OQqKyq?editors=1000

[2018-03-18 20:24] leonfeng opened #16912 "Beta: sign-in links do not expire after 15 minutes and are reusable"
#### Issue Description

I am able to sign in using the links well after 15 minutes (and in one case, 2 hours). And I can do so repeatedly using the same link in different browsers (private mode) and on different devices. Reproducible on my local copy of freeCodeCamp and on beta.freecodecamp.org.

#### Browser Information

* Browser Name, Version: Chrome, Firefox, Safari
* Operating System: macOS
*

[2018-03-18 20:30] dipjul opened #16913 "Basic Algorithm Scripting: Convert Celsius to Fahrenheit, Giving Error: Something went wrong"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/basic-algorithm-scripting/convert-celsius-to-fahrenheit

#### Issue Description

While submiting ,showing ERROR: Something went wrong.

#### Browser Information

* Browser Name, Version: Chrome Version 64.0.3282.186 (Official Build) (64-bit)
* Operating System: Windows 10 pro 64-bit
* Mobile, Desktop, or Tablet: Acer Predeator

####

[2018-03-18 20:40] joker314 commented on #16913
Hi, thanks for the report @dipjul !

I had a go at getting the error you described, but I failed to do so in the following environment

 - Version 64.0.3282.167 (Official Build) (64-bit) _slightly older_
 - Windows 10 Home 64-bit
 - Laptop (HP).

I am updating my browser to see if I can reproduce the issue. Did you try reloading the page and resubmitting, perhaps the issue is just temporary (I get

[2018-03-18 20:44] leonfeng commented on #16912
Wait… just checked my MongoDB records. The auth tokens' TTLs are all set to 900000. Is that intentional?

[2018-03-18 21:04] joker314 opened #16914 "Text Injection (payload taken from URL) could lead to phishing on Beta Site"
#### Issue Description

Text from the URL bar is reflected back into the page as text. This content can then be used to perform phishing attacks which extract a user's credentials.

Here is a proof of concept.

https://beta.freecodecamp.org/en/guest%22.%20It%20looks%20like%20you're%20still%20using%20our%20old%20version%20of%20the%20site,%20and%20that's%20the%20reason%20why%20the%20user%20wasn't%20

[2018-03-18 21:43] chetat commented on #16911
@scwilbanks Try https://wind-bow.glitch.me/twitch-api/
.I think it's the updated link.
I am stuck in the same challenge but have a different issue.

[2018-03-18 22:20] ojongerius commented on #16914
Nice find, and thank you for reporting this!

I'm not sure what to make of this. As far as I can see it's not an XSS attack, its plain text being displayed back to the user. At the same rate, pulling that data from a param does not seem super awesome either.

@Bouncey AFAICS you introduced this in 3131c5578299fb845c49b315589293a33874a147 . Any thoughts?

From a quick look at the React docs it soun

[2018-03-18 22:25] ojongerius commented on #16912
Interesting, 900000 ms would be 15 minutes. Are they not miliseconds? If they are seconds those links would stay valid for 15000 minutes instead, that's more than 10 days 😲

[2018-03-18 22:43] joker314 commented on #16914
You're right, this isn't XSS, this is plain content injection. My mitigation strategy would be to use `encodeURIComponent` which would make spaces and quotes appear very strange when reflected, thus thwarting a phishing attempt, Better yet, the content could be filtered so that invalid usernames aren't reflected back.

/cc @BerkeleyTrue, you told me I could contact you about potential security iss

[2018-03-18 23:22] ojongerius commented on #16912
Ok, I can confirm that:

* authentication links are not deleted after use
* authentication links are valid for longer than the ttl

My guess is that they will never expire, as I do not see the code for it, but I'm pretty new to the code base.

[2018-03-18 23:32] ojongerius commented on #16914
Those are good suggestions. Thanks!

Makes sense to pull @BerkeleyTrue in, I'll let him handle this one.

[2018-03-19 01:07] joker314 commented on #16869
Upon second thought, perhaps it's best to give valid data back instead of an error message. Let's instead change the cache to generate random weather conditions, and set the location to "API busy, try again later for real results"?

[2018-03-19 04:15] ahmadabdolsaheb commented on #16852
@moT01 looks good.

[2018-03-19 05:31] clickingmouse opened #16915 "FCC Advanced Node and Express not working?"
not passing the tests when i am fairly sure my code should work

#### Challenge Name

https://beta.freecodecamp.org/en/challenges/advanced-node-and-express/set-up-a-template-engine
https://beta.freecodecamp.org/en/challenges/advanced-node-and-express/use-a-template-engines-powers
https://beta.freecodecamp.org/en/challenges/advanced-node-and-express/set-up-passport

#### Issue Description

just can

[2018-03-19 05:54] raisedadead commented on #16914
hi @joker314 thanks a lot for reporting this, I agree to the idea of having a policy around this. Traditionally we have done so by asking us (core team) to be notified via an email.

But you are correct and it makes sense to make this more clear.

That said, we are working on possible solutions for this.

Just to let you know, here is what we have discussed so far regarding this usecase:

---

Thi

[2018-03-19 07:11] ahmadabdolsaheb commented on #16899
@joker314 it does. thanks for sharing your thought process.

[2018-03-19 08:34] rajatkantinandi commented on #16863
I am having trouble setting up the freecodecamp clone website run on my pc.
I am using VSCode coupled with bash on windows as my integrated terminal.
I have npm, node,  mongodb installed also eslint.
npm install works but npm run shows bunch of errors & having trouble fixing them.
Also having trouble setting up mailhog.
Where can I get a detailed guide to setup the whole process?
Can anyone provid

[2018-03-19 10:35] clickingmouse commented on #16775
hi . sorry for the slow response, glad that all is done.. i sort of lost faith and thought it was my code seeing no one assigned after like a week. and havent checked these pages. sorry

[2018-03-19 11:34] raisedadead commented on #16915
Hi @Em-Ant just tagging you alone for an analysis?

[2018-03-19 11:47] raisedadead commented on #16912
Hi @leonfeng

Nice find.

I guess, the last discussions we had about an year ago that MongoDB should be doing this for us. One of the causes this could be the TTL expiration thread needs to be configured explicitly?

But, I guess we would have to have this in to a message queue, and schedule it.

I will investigate further.

[2018-03-19 11:48] raisedadead commented on #16912
Or, maybe we simply missed the invalidation in a recent refactoring.

[2018-03-19 13:19] tchaffee commented on #16904
Please note that this issue is blocking my progress on #16565.

[2018-03-19 14:58] scwilbanks commented on #16911
@chetat Oh, I see. So the link on the page just needs to be updated. Thanks!

[2018-03-19 17:16] BerkeleyTrue commented on #16727
We use code mirror for both of our challenge editors. They are currently set up to use jshint for linting. We'd like to use eslint instead.

A quick search of the code base points to the relevant files
https://github.com/freeCodeCamp/freeCodeCamp/search?l=JSX&q=codemirror&type=&utf8=%E2%9C%93

Mainly, Challenges/views/Modern/Editor and Challenges/views/Classic/Editor

[2018-03-19 17:50] tchaffee commented on #16565
Please not this issue is blocked by issue #16904

[2018-03-19 19:56] QuincyLarson commented on #16904
@BerkeleyTrue Could you take a look at this issue?

[2018-03-19 19:59] QuincyLarson commented on #16852
@ahmadabdolsaheb Yes - this looks great! You might also try just adding this to the lesson text since we can add HTML in there. That would simplify how the Preview pane and code editor look.

[2018-03-19 20:04] BerkeleyTrue commented on #16904
We removed code-uri in beta with the intention of storing user code in a redis backend and pulling it down using id's. This was to be introduced after release.

[2018-03-19 20:08] QuincyLarson commented on #16902
I agree. I think the easiest way to do this would be to put the current challenge in bold.

[2018-03-19 20:23] QuincyLarson commented on #16867
@tchaffee The risk is that people don't realize why their code hasn't loaded and assume there's a bug.

We didn't want to run the code when the challenge loaded for the following reasons:

1. There could be an infinite loop in the code, which would cause the page to crash
2. If they followed a link to view someone else's code on freeCodeCamp, that code could be malicious, and if they they wouldn't

[2018-03-19 20:28] QuincyLarson commented on #16858
Hi @joker314 thanks for your work on this so far! To answer your questions individually:

I used https://www.freecodecamp.org/sitemap.xml and filtered out the challenge URLs.

Yes - we can ignore those video links - we don't need to redirect them.

I'm not sure what you mean here. The projects themselves have beta equivalents (though some of them may be in the Interview Prep > Takehome Projects se

[2018-03-19 20:29] willimsbw commented on #16800
I would be happy to make a pull request, but I would love a walkthrough - I've never done one before.

[2018-03-19 21:14] tchaffee commented on #16904
Just from looking at the code, the logic is still there for code-uri. It's broken, but the code is there.

I'm not sure how this is related to user code. Code in a URI should always be initially coming from somewhere else? Or am I missing something?

Are there links out there that folks could click on with code in the URI? If there are no links then I think the easiest thing to do at the moment is

[2018-03-19 21:28] #16880 closed

[2018-03-19 21:28] ojongerius commented on #16912
I'll just drop here what I cam across trying to unravel this little puzzle, hope it's helpful:

Intention to validate:
https://github.com/freeCodeCamp/freeCodeCamp/blob/bce8e0a5e93dca57d7734de5b0d6abedd0517272/server/boot/authentication.js#L140

Intention to destroy:
https://github.com/freeCodeCamp/freeCodeCamp/blob/bce8e0a5e93dca57d7734de5b0d6abedd0517272/server/boot/authentication.js#L155

I not

[2018-03-19 21:32] ojongerius commented on #16800
@williamsb https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md should be of assistance in walking you through your first contribution.

[2018-03-19 21:35] QuincyLarson commented on #16775
@Em-Ant OK - great! Thanks for the PR.

I'm closing this - please re-open this if there's anything further we need to do on this.

[2018-03-19 21:35] #16775 closed

[2018-03-19 21:55] chetat commented on #16911
Yes. You are  Welcome.

[2018-03-19 23:25] tchaffee commented on #16867
That's helpful. My next question is how big is the risk? Is this happening often? Were folks coming to the forums with this complaint and so we put this in because the risk was not just theorized about, but a real risk?

I'm going to guess it's not a real risk because of the following UX:

- The first challenges are HTML and CSS and there's no JS in that. The HTML automatically refreshes in previe

[2018-03-19 23:29] ojongerius opened #16918 "Use organisational projects boards"
Hi there,

@raisedadead and I will be working on the freeCodeCamp API. The code will be located in a separate repository, at the moment https://github.com/freeCodeCamp/open-api . The current project boards have been created on a repository instead of organisational level. As freeCodeCamp moves away from the current monolithic architecture it will be more common to have projects that span multiple

[2018-03-19 23:38] ojongerius commented on #16918
Not sure, but one issue *could* be that people, like me, that have write access to one repository but are not a member of the FCC GH org would not be able to use the board.

[2018-03-19 23:41] QuincyLarson commented on #16811
@mstellaluna People should definitely use a semicolon, but we should probably have a greater discussion around whether we want tests to enforce this. For now I'm going to label this as a wontfix.

[2018-03-19 23:41] #16811 closed

[2018-03-19 23:46] QuincyLarson commented on #16665
@Em-Ant Since you helped design and implement this challenge, could you take a look at this and see whether @Brybro's PR elegantly fixes this issue?

[2018-03-19 23:49] QuincyLarson commented on #16812
@raisedadead We have created stubs for the projects and do indeed want guide articles that correspond to the projects.

We have an open PR on guides that will add these stubs - we're just working on a way to merge it: https://github.com/freeCodeCamp/guides/pull/8026

[2018-03-19 23:49] #16812 closed

[2018-03-19 23:50] QuincyLarson commented on #16765
@KarthikKadambi This is because your score starts at 1. We essentially give you a point for creating your account.

[2018-03-19 23:50] #16765 closed

[2018-03-19 23:59] QuincyLarson commented on #16761
@clickingmouse Thanks for submitting this.

@Em-Ant could you take a quick look at this? Any ideas for how to fix it?

[2018-03-20 00:00] QuincyLarson commented on #16646
@KatFrog Have you had a chance to make any progress on this?

[2018-03-20 00:11] QuincyLarson commented on #16348
@raisedadead what do you think of @jkao1's suggestion? Should we just move the `"use strict";` into functions to get the linter to accept them?

If so, could you open a PR addressing this real quick? It would seem that @saurishkar never got around to opening a follow-up PR. (@saurishkar if you're reading this, thanks anyway for your help and if you have time, we'd still welcome a PR - we just want

[2018-03-20 00:13] QuincyLarson commented on #16356
@raisedadead what do you think of @ahmadabdolsaheb's suggestion?

[2018-03-20 00:15] QuincyLarson commented on #16337
@JacksonBates @raisedadead This will be fixed once we've fixed https://github.com/freeCodeCamp/freeCodeCamp/issues/16858 - I'm closing this as a duplicate.

[2018-03-20 00:15] #16337 closed

[2018-03-20 00:16] #16378 closed

[2018-03-20 00:49] dardandemiri opened #16919 "Broken Links in - Make a Person Challenge"
#### freeCodeCamp Algorithm Challenge Guide: Make a Person
https://forum.freecodecamp.org/t/freecodecamp-algorithm-challenge-guide-make-a-person/16020

#### Issue Description

The Relevant Links are placeholder hyperlinks with no href
 - How to build objects
 - Construct objects with functions
 - Declare objects as variables

#### Screenshot

![image](https://user-images.githubusercontent.com/6118

[2018-03-20 00:51] dardandemiri commented on #16919
If the links are supposed to be searched in google then why adding them as a link instead of normal text?

[2018-03-20 01:34] QuincyLarson commented on #16219
@raisedadead I believe @Bouncey is completely overhauling this functionality. The new search will just be a simple drop-down with plain text results, and clicking one will take you to a separate search results page. This is how search works on Amazon, Facebook, and other common consumer webapps.

[2018-03-20 01:34] #16219 closed

[2018-03-20 02:14] #16809 closed

[2018-03-20 02:14] anhtran1906 commented on #16860
I was the person who submitted a PR (#16720) to add this NotFound page when users access an invalid challenge. Wonder if this is still an issue so that I can jump on help?
Also, for the "your current challenge" link, right now the code take me to another Not-Found page
![wronglandingpage](https://user-images.githubusercontent.com/20694114/37632016-90d5213c-2bc2-11e8-9d6f-5feadf5733a3.gif)
But when

[2018-03-20 02:20] #16899 closed

[2018-03-20 02:26] #16863 closed

[2018-03-20 03:06] joker314 commented on #16919
Here is the markdown which generated the unordered list.

[code]

These are clearly intended to link to particular challenges, but the markdown parser doesn't understand what to do with then (they don't have a schema, etc.), so no `href` attribute is provided.

This is either an issue with the markdown parser which is supposed to have a custom feature but doesn't; or, the links have been incorrect

[2018-03-20 03:10] anhtran1906 commented on #16770
I investigated the problem and it seems like the problem was fixed with [https://github.com/freeCodeCamp/freeCodeCamp/pull/9151]. However, the commonFramework directory that was supposed to merge is not in staging right now. Please take a look.

[2018-03-20 03:48] ojongerius commented on #16889
We've met, and since then I've gotten write access to https://github.com/freeCodeCamp/open-api. I'm going to close this issue and continue working on this in the issues in that project.

[2018-03-20 03:48] #16889 closed

[2018-03-20 04:49] #16857 closed

[2018-03-20 04:49] #16860 closed

[2018-03-20 06:40] helplah opened #16920 "[Beta] Typo in Redux: Dispatch an Action Event"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/redux/dispatch-an-action-event

#### Issue Description

Redux: Dispatch an Action Event

The first sentence reads, "od is what you use to dispatch actions to the Redux store." That makes no sense and is probably a typo.

#### Browser Information

* Browser Name, Version: Firefox Quantum 59.0.1 (64-bit)
* Operating System: Windows 7 x

[2018-03-20 06:54] raisedadead commented on #16918
Hi, we have considered this previously. But the only reason we have it this way is because of the discoverability.

The main repo is the one which gets most traffic. Hence we have chosen to use its project boards for this. Since GitHub lets us link issues from anywhere. I think this is a better way.

I understand this is not conventional. But its the least confusing.

[2018-03-20 06:55] raisedadead commented on #16918
I guess, we could add documention to reflect this.

[2018-03-20 09:52] huyenltnguyen commented on #16810
I'll work on this issue since no one has claimed it.

[2018-03-20 11:16] gondar00 commented on #16763
If this is still open I would like to take it up.

[2018-03-20 12:41] Asjas commented on #16763
@gondar00 It seems no-one has started work on it so you can take it. :+1:

[2018-03-20 12:48] #16910 closed

[2018-03-20 13:05] mstellaluna commented on #16906
confirmed. the lesson does not load but produces the error(s) mentioned above.
Lesson Screenshot:
![image](https://user-images.githubusercontent.com/22984739/37656229-d60b83b2-2c1d-11e8-9c35-81c2ba8f95f1.png)

Dev Console:
![image](https://user-images.githubusercontent.com/22984739/37656196-c0a66672-2c1d-11e8-8542-ca2c1d061f83.png)

[2018-03-20 15:10] scissorsneedfoodtoo commented on #16382
Hi all, I really like this idea and would like to take a crack at implementing it. I'll do my best to follow @AustinTice's mockup, and will reach out if I run into any problems along the way!

[2018-03-20 15:14] leonfeng commented on #16793
Cannot reproduce this issue. Maybe it got fixed recently?

I tried the _Front End Libraries Certificate_, _Data Visualization Certificate_, and _Information Security and Quality Assurance Certificate_. All had the flash message properly displayed at the top.

I'm using Chrome Version 65.0.3325.162 on MacOS.

[2018-03-20 15:16] #16458 closed

[2018-03-20 18:12] QuincyLarson commented on #16867
@tchaffee We have had real complaints around this, but I hadn't considered one of your points before.

I suspect you're  correct that since we have moved JavaScript completely out of the first certificate, campers should get used to the fact that they have to click a button to run the JavaScript.

If we still get complaints about this post-launch, we can figure out a better way of reinforcing that

[2018-03-20 18:14] QuincyLarson commented on #16860
@anhtran1906 I QA'd and merged this before I saw your comment. Does the current functionality that @vkWeb created in his pull request address your point?

[2018-03-20 18:15] QuincyLarson commented on #16382
@scissorsneedfoodtoo Awesome! Great to hear from you. Yes - we would love for you to take a crack at implementing this!

[2018-03-20 18:16] QuincyLarson commented on #16793
@leonfeng Yes - it may have been fixed. Thanks for confirming this.

[2018-03-20 18:16] #16793 closed

[2018-03-20 18:18] anhtran1906 commented on #16860
@QuincyLarson Yes it does. The PR looks great! Thanks!

[2018-03-20 20:04] QuincyLarson commented on #16918
@raisedadead @ojongerius I created an organization-level board here: https://github.com/orgs/freeCodeCamp/projects/1

I can see @raisedadead's point about discoverability. I can also see @ojongerius's point about many of these projects transcending individual repos.

While freeCodeCamp/freeCodeCamp is definitely the most prominent repo on the freeCodeCamp.org, that may gradually change. We have a

[2018-03-20 21:12] ojongerius commented on #16918
Thanks @QuincyLarson . Just tried to access that board and am a little bummed to find out that project boards on an organisational level are only visible to org members. I'd say that is a Github bug. I've shot them a message to see it there is an issue I can link to.

I imagine we want to keep boards visible to the public, right?

[2018-03-20 21:34] ojongerius commented on #16918
GH reply:

[2018-03-20 21:36] Em-Ant commented on #16761
@clickingmouse you are right. Let's see if We can find a solution...
Hi @QuincyLarson,how are you ?  I'll have a look at it in the next days, and I will let you know.

[2018-03-20 22:10] QuincyLarson commented on #16918
@ojongerius OK - great! Thanks for discovering this limitation.

I propose we continue to use the old board in the meantime until they've lifted this limitation. I'm going to close this issue and the board I created.

[2018-03-20 22:10] #16918 closed

[2018-03-20 23:45] #15710 closed

[2018-03-20 23:54] tchaffee commented on #16867
I'll give it a shot. I should  have a PR soon.

[2018-03-21 09:41] gondar00 commented on #16727
Can i take this up?

[2018-03-21 09:49] hibaAkroush commented on #16727
@gondar00  I found it first friend  :)
will work on it today I hope its okay with you

[2018-03-21 10:07] gondar00 commented on #16727
@hibaAkroush sure, its cool 😄

I was thinking to use http://codemirror.net/doc/manual.html#registerHelper and then build a custom eslint validator,

Feel free to discuss if needed, I would be happy to help 😊

[2018-03-21 10:24] leonfeng opened #16923 "[Beta] Unable to claim some certificates"
#### Issue Description

Assuming it is still the case that only the projects are required to claim a certificate, then something is preventing me from claiming the _Applied Responsive Web Design_, _JavaScript Algorithms and Data Structures_, and _API and Microservice_ certificates.

As you can see from the screenshots, I have completed all 5 projects under _Applied Responsive Web Design_:
![screen

[2018-03-21 12:03] nilbenis commented on #16892
Just to let you know, I got access again to my account.
I am not sure, but I think the whole "Unable to reset forgotten password" problem has been caused because my previous session was still active on another computer. The same computer I was able to get access again.

[2018-03-21 12:13] scissorsneedfoodtoo commented on #16382
@QuincyLarson, great to hear from you too! Looking forward to working on this and getting some feedback soon.

[2018-03-21 13:21] raisedadead commented on #16770
Hi @anhtran1906 we have moved to react instead of the code that you see.

[2018-03-21 13:21] raisedadead commented on #16356
Hi @ahmadabdolsaheb yup sounds good to me. Lets have a PR.

[2018-03-21 13:46] raisedadead commented on #16348
Hi @QuincyLarson its actually a more complicated problem than that.

@jkao1: You analysis is spot on the presented facts.

But there is a catch over here (don't worry its not your fault at all), which I will explain:

We have been using an `eval()` method to run all user code.
https://github.com/freeCodeCamp/freeCodeCamp/blob/1d513227e87f0b4d5623bde595f78ea38dd8e041/client/frame-runner.js#L96

Bas

[2018-03-21 13:49] raisedadead commented on #16923
/cc @Bouncey

[2018-03-21 13:55] raisedadead commented on #16920
This should read:

[2018-03-21 15:02] jpdail01 commented on #16920
I'd like to take this

[2018-03-21 15:51] raisedadead commented on #16911
Hi thanks, for reporting, this is resolved but the patch has not been released to the main website yet. Please bear with us while that happens.

[2018-03-21 15:51] #16911 closed

[2018-03-21 15:54] raisedadead commented on #16903
This layout is planned to be changed in future, we are noting the requirement and thank you for the feedback.

[2018-03-21 18:43] catshark opened #16927 "audio files from simon game challenge not playing properly in chrome"
#### Challenge Name
https://www.freecodecamp.org/challenges/build-a-simon-game

#### Issue Description
in the project description for the simon game, navigate to one of the sample audio file's respective web link and click play. Observe that the sound is only partially played in Chrome.

Additional information: problem doesn't arise when reproducing in Firefox or IE

#### Browser Information

* Br

[2018-03-21 18:51] mstellaluna commented on #16927
Confirmed. I am also experiencing this issue when accessing the sound files from the S3 URL in chrome but the issue does not occur in either Edge or FF.

[2018-03-22 00:28] tchaffee commented on #16867
I'm ready to submit a PR for this but I'm getting errors from `npm test`. I put more details over on gitter if someone can help out.

[2018-03-22 01:30] QuincyLarson commented on #16761
@Em-Ant Awesome - thanks for confirming that this is a reproducible issue. OK - please keep us posted and let us know if we can do anything to help :)

[2018-03-22 01:32] QuincyLarson commented on #16892
@nilbenis Ah - you may be on to something there! Glad you have access again.

@raisedadead Can you think of any reason why having an active session on another computer would prevent being able to reset one's password?

[2018-03-22 01:32] QuincyLarson commented on #16382
@scissorsneedfoodtoo Great! Please keep us posted on your progress :)

[2018-03-22 01:40] QuincyLarson commented on #16348
@raisedadead OK - thanks for filling us in. We should investigate this, but I'll defer this until after beta release.

[2018-03-22 08:48] ahmadabdolsaheb commented on #16852
@QuincyLarson @moT01 the challenge seed only accepts inline html styling and writing inline animations is not possible. So i converted the styles to inline styles and removed the animation.
here is what I got:
https://codepen.io/abdolsa/pen/qomKEe
let me know if it needs improvements or not. thanks

[2018-03-22 09:40] akkatracker commented on #16919
The link closures - under relevant links at the top of the post is also 'broken'

[2018-03-22 11:37] moT01 commented on #16852
@ahmadabdolsaheb looks good to me :smile:

[2018-03-22 13:29] durgeshra commented on #16920
Hi! I have sent a PR with the changes as mentioned. Please look into it

[2018-03-22 22:08] aseralis opened #16934 "Typo in the challange "Change Text Inside an Element using jQuery""
please delete

[2018-03-22 22:38] alexch commented on #16934
I don't think this is a valid bug report.  `$("h3").html("<em>jQuery Playground</em>");` looks correct to me. The JS string `"<em>jQuery Playground</em>"` contains HTML that opens and closes an `em` element.

[2018-03-23 00:42] aseralis commented on #16934
You are completly right, I don't know what I thought when I opened this!

[2018-03-23 00:42] #16934 closed

[2018-03-23 01:41] ojongerius opened #16936 "Docker: shared networking, custom image / tag"
Started writing this as comment on an issue in https://github.com/freeCodeCamp/open-api/issues/20 but figured if I discuss here we have more eyes/brains in the conversation. Context: we have another project called open-api that, at least for a while will use the same same database as freecodecamp:

@raisedadead curious about your thoughts here; as a developer I would prefer not to rely on having t

[2018-03-23 02:35] ojongerius commented on #16936
I know people are busy with beta. No pressure, I've got this working on my local setup so I am currently unblocked 😄

[2018-03-23 05:32] #16920 closed

[2018-03-23 06:20] #16642 closed

[2018-03-23 09:32] #16780 closed

[2018-03-23 09:32] #16781 closed

[2018-03-23 09:32] #16786 closed

[2018-03-23 09:32] #16826 closed

[2018-03-23 10:21] #16836 closed

[2018-03-23 13:17] tchaffee opened #16940 "[BETA] TypeError: Reduce of empty array with no initial value"
#### Issue Description
When the `links.json` file has an empty array `[]`, the NavLinks.jsx code will fail with error "TypeError: Reduce of empty array with no initial value".

I will have a PR with a fix for this shortly.

[2018-03-23 14:45] raisedadead commented on #16919
Hi, we are in the process of deprecating/removing these articles in favor of https://guide.freecodecamp.org

I am tagging along @IsaacAbrahamson and @ArielLeslie if they can link to any relevant discussions on the forum?
@QuincyLarson can you fill in if I have this correct?

Closing, as not related to code base, but still open to discussion for the resolution.

[2018-03-23 14:45] #16919 closed

[2018-03-23 14:48] huyenltnguyen commented on #15918
Hi @nsuchy, I just discovered this issue. It looks like a massive task for one person. How is your progress? Let me know if I can give you a hand.

[2018-03-23 14:53] #16867 closed

[2018-03-23 14:54] ArielLeslie commented on #16919
I'm guessing that this is something that happened because the Guide topics were copied from the Wiki? I think that those used to be internal links to other pages. For now, I will update the links to go to the relevant challenge on FCC.

[2018-03-23 14:57] raisedadead commented on #16919
@ArielLeslie awesome! thanks a lot for working on these.

[2018-03-23 15:01] tchaffee opened #16942 "[BETA] New panel toggle buttons stay grayed out after unhiding panel"
#### Issue Description
The new buttons do not toggle back from gray when you unhide a panel.

#### Browser Information

* Browser Name, Version: Chromium 64.0.3282.167 and Firefox 59.0.1 (64-bit)
* Operating System: Ubuntu 16.04
* Mobile, Desktop, or Tablet: Desktop

#### Screenshot

![image](https://user-images.githubusercontent.com/148813/37836684-da729fbe-2e91-11e8-8173-66b8d9d7d683.png)

[2018-03-23 15:07] Bouncey commented on #16942
There is no logic affecting the colour of the button text. The button holds focus until you move it elsewhere.

[2018-03-23 15:20] tchaffee commented on #16942
I moved the mouse elsewhere and it still stays gray.

[2018-03-23 17:19] #16852 closed

[2018-03-23 17:41] #16356 closed

[2018-03-23 18:12] #16905 closed

[2018-03-23 18:12] #15224 closed

[2018-03-23 18:41] musicbanglatv commented on #16325
Not taken official permission.  Please apply for permission.

[2018-03-23 19:57] raisedadead commented on #16913
Can't reproduce. Please log a fresh request if you are getting this.

[2018-03-23 19:57] #16913 closed

[2018-03-23 20:56] jaimex8 commented on #16927
Possible bug in chrome 45 and up
https://stackoverflow.com/questions/32396054/certain-mp3-files-not-playing-in-chrome

Current audio file bitrate is below 128Kbps, recommend updating to 160Kbps

[2018-03-23 20:58] alexch commented on #16934
No worries! :-)

[2018-03-23 21:13] #16665 closed

[2018-03-23 21:49] MANTENN opened #16944 "Challenege: Create a Set of Radio Buttons"
#### Create a Set of Radio Buttons
https://www.freecodecamp.org/challenges/create-a-set-of-radio-buttons

#### Issue Description
The attribute value for the input element is missing in the challenge, so its a bit misleading.

[2018-03-24 02:30] mstellaluna commented on #16874
CSS stylesheets are loaded in the order you place them in the HTML head (top to bottom). Example, I want to override bootstrap 4's CSS color's because I don't like them and want a custom color scheme in, I would need to make sure my CSS file that modifies boostrap 4's color scheme loads last.

[2018-03-24 07:16] raisedadead opened #16945 "[beta]: broken server routes for views"
![image](https://user-images.githubusercontent.com/1884376/37861510-5659df64-2f61-11e8-87b8-2a4044fff47d.png)

[2018-03-24 08:38] hamzaerbay commented on #16944
@MANTENN could you explain more which input is missing attribute value?

[2018-03-24 09:05] vkWeb opened #16946 "[Beta] Required improvements in Panel control buttons and Navigation bar"
### Issue Description
**Issues with panel control buttons:**

- [ ] During night mode the buttons look like they are disabled.
![night mode 01](https://user-images.githubusercontent.com/26724128/37862265-0d61fd5a-2f70-11e8-8c80-0613a98f4285.PNG)

- [ ] On disabling more than one panel it is not reflected in button's UI i.e. all the disabled panel buttons should grey out but only one button is grey

[2018-03-24 09:14] vkWeb opened #16947 "[Beta] Pane lesson not found Error"
### Issue Description
@Bouncey, @raisedadead On visiting a challenge which I have not visited earlier shows me `pane lesson, pane editor not found` error.

To reproduce, try visiting challenges which you've not visited earlier, I'm 100% sure you'll encounter this error after few attempts.

![pane lesson not found](https://user-images.githubusercontent.com/26724128/37862344-5d951982-2f71-11e8-936e-

[2018-03-24 09:26] vkWeb opened #16948 "[Beta] Tests are not shown on visiting challenges for the first time"
### Issue Description
@Bouncey Clear your browser cache and try visiting challenges randomly from all the sections, you'll see that in some challenges tests are not visible, this is very strange. I think we need to fix this before shipping.

![test](https://user-images.githubusercontent.com/26724128/37862469-41cd1d7e-2f73-11e8-954e-77db4d4e7544.PNG)

### Browser Information
* Browser Name, Version

[2018-03-24 09:29] Em-Ant commented on #16761
It's possible to check if mongoose is connected. For example, in my test project I exposed this endpoint:
[code]
and tested it with this test string:
[code]

Implementing it will require to add the endpoints to the boilerplate/repo, and add the test to freeCodeCamp's seed file

Should I proceed ?

[2018-03-24 10:37] vkWeb opened #16949 "[Beta] Issues related to 404 - Page not found"
### Issue Description
- [ ] The 404 error is visible only for a few milliseconds, to reproduce go to https://beta.freecodecamp.org/en/challenges/sub/invalid
**Note:** We have three different 404 ([first](https://beta.freecodecamp.org/en/invalidURL), [second](https://beta.freecodecamp.org/en/challenges/parent/invalidURL) & [third](https://beta.freecodecamp.org/en/challenges/parent/child/sub/invalid

[2018-03-24 10:43] huyenltnguyen commented on #16896
@sjames1958gm Nice catch there! Are you interested in fixing the tests?
Here is the [Contributing Guide](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) that you should refer to, and the [Contributors chat room](https://gitter.im/FreeCodeCamp/Contributors) if you need help.

[2018-03-24 12:11] raisedadead opened #16950 "[beta] : Static Page Menu is broken"
On certain viewports the static nav menu is broken.

![2018-03-24 17 39 31](https://user-images.githubusercontent.com/1884376/37863831-dfbc3350-2f8a-11e8-8960-85274d221ed1.gif)

[2018-03-24 12:20] raisedadead commented on #16944
Hi @MANTENN Can you please fill all the details as per this template which was presented to you while opening this issue:

https://raw.githubusercontent.com/freeCodeCamp/freeCodeCamp/staging/.github/ISSUE_TEMPLATE.md

[2018-03-24 12:26] raisedadead commented on #16942
This issue was logged first, but https://github.com/freeCodeCamp/freeCodeCamp/issues/16946 seems to have more relevant details.

I am copying over the OP details there.

Thanks.

[2018-03-24 12:26] #16942 closed

[2018-03-24 15:47] zersiax opened #16951 "BETA: test output for challenges is incomplete when read with screen reader"
#### Challenge Name

All challenges on beta.freecodecamp.com

#### Issue Description

The test output area of the lesson interface is currently not ideal for the following reasons:

  -  The results are printed to a similar javascript-powered control to the CodeMirror editor, making it impossible for screen reader users to efficiently read them. Since this content does not need to be edited, this

[2018-03-24 16:42] vipatron commented on #16358
Had a similar issue. Agree with systimotic. Text change in the test cases proposed as follows:

Current: Template strings were used
Proposed: Template strings were used with map()

[2018-03-24 17:48] vipatron opened #16952 "BETA: ES6: Use class Syntax to Define a Constructor Function (Template Code issue)"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/es6/use-class-syntax-to-define-a-constructor-function

#### Issue Description
The default code to be changed incorrectly says "change between these lines," when more extensive editing needs to be done. Current state:

[code]
My solution to this challenge (bottom of page) shows the issue.

Suggested replacement:
[code]

#### Browser In

[2018-03-24 19:09] Em-Ant commented on #16915
@raisedadead I'll have a look in the next days, but I don't know the advanced-express section well. It was made by another contributor.

[2018-03-24 20:02] Em-Ant commented on #16952
the reference above is wrong. I copied the wrong issue number. sorry.

[2018-03-24 21:44] vipatron opened #16953 "[NON-ISSUE] BETA:Regex Match Single Characters not specified."
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/regular-expressions/match-single-characters-not-specified

#### Issue Description
Running the tests doesn't pass all the test cases. The results say the expression (no alphanumerics) should match 9 items, but it really should match 3 in "3 blind mice.". [(This regex tester visualizes the issue)](https://regexr.com/3mqh4).

#### Browse

[2018-03-24 22:35] musicbanglatv opened #16954 "MusucBanhlaTv/Musicbangla"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2018-03-24 22:36] musicbanglatv opened #16955 "musicbangla-tv.com"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2018-03-24 22:39] #16954 closed

[2018-03-24 22:39] #16955 closed

[2018-03-25 04:12] vkWeb commented on #16946
@raisedadead Thanks for the edit but I have already included that issue, checkpoint number 4. So I'm removing it.

[2018-03-25 06:01] clickingmouse commented on #16915
Cool, it seems to solve it for for the first challenge

[2018-03-25 08:37] raisedadead commented on #16946
We are blocking any enhancements until beta. PR's are welcome.

[2018-03-25 08:42] raisedadead commented on #16951
I think we would have to replace the react-codemirror with react-codemirror2 for starters, which is being discussed in a separate thread.

We are extremely sorry for the inconvenience. And at the same time I am afraid this will be tough to get sorted soon.

Maybe with open-api we will be able to have a rather simpler, dedicated a11y first client application for users.

/cc @ojongerius @QuincyLarso

[2018-03-25 08:49] musicbanglatv commented on #16954
White list

[2018-03-25 08:49] musicbanglatv opened #16956 "Whitelist"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2018-03-25 09:34] vkWeb commented on #16946
@raisedadead But why brother? If we are blocking any enhancements then why are we in beta right now?

[2018-03-25 12:12] bqnguyen94 commented on #16953
The instruction says:

Your regex matches all that are not a letter or a number, which is not what is required.

[2018-03-25 14:24] vipatron commented on #16953
You are correct. No matter how many times I read it, my internal schema kept me seeing "number or letter." Thanks for pointing that out. I will close this thread out.

[2018-03-25 14:24] #16953 closed

[2018-03-25 16:17] vipatron opened #16958 "[BETA]: Debugging: Differences b/w FCC & Browser Console (Lesson doesn't match output, one test might be passing erroneously)"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/debugging/understanding-the-differences-between-the-freecodecamp-and-browser-console

#### Issue Description
1. The lesson states (excerpting for brevity):

The editor text says:
[code]

However, Firefox & Chrome browser consoles both exhibit the same behavior, only printing the line once (see screenshots). I specifically left out the

[2018-03-25 16:40] AddyProgger opened #16959 "[Beta] Typo in challenge CSS Grid: Align an Item Horizontally using justify-self"
#### Challenge Name
[Beta] CSS Grid: Align an Item Horizontally using justify-self

#### Issue Description
The challenge description has a typo, it says `stetch` instead of `stretch`.

#### Screenshot
![stetchtypo](https://user-images.githubusercontent.com/26227507/37877434-8e213f1e-305b-11e8-9e1a-4372bf5afd20.PNG)

[2018-03-25 18:12] leonfeng opened #16960 "[Beta: CodeMirror] User can undo past the current challenge"
#### Challenge Name

Any challenge with a code editor.

#### Issue Description

Steps to reproduce:
1. Complete a challenge.
2. Enter some code in the new challenge.
3. Keep undoing typing and your current code will be reverted to that of the previous challenge.

#### Browser Information

* Browser Name, Version: Chrome 65.0.3325.181
* Operating System: macOS 10.13.3
* Mobile, Desktop, or Tablet:

[2018-03-25 22:21] ojongerius commented on #16936
After some discussion in PRs, we'll use LTS versions of Node and Mongo instead of Docker images.

[2018-03-26 09:39] scissorsneedfoodtoo commented on #16906
I was playing around with this and found a temporary workaround.

For some reason, the error has something to do with the title of the Symmetric Difference challenge. When I change the title to something like Test it loads without issue. Perhaps for the time being we could simply add a space to the end of the challenge title so it reads "Symmetric Difference ".

[2018-03-26 10:16] scissorsneedfoodtoo commented on #16906
I believe I found the issue while digging around in mongo.

It turns out that both the Coding Interview Algorithm and Rosetta Code Problem sections have problems named Symmetric Difference. It seems like the titles are different in terms of capitalization, but have the same dashed name, causing the error.

What do you all think? Should we rename the challenge in the Coding Interview Algorithm sect

[2018-03-26 10:40] Bouncey commented on #16906
Are they the same challenge? Could we just remove one?

[2018-03-26 11:01] scissorsneedfoodtoo commented on #16906
They're not the exact same challenge, but are pretty similar. The one in this Coding Interview section uses arrays of numbers to test, and the Rosetta Code one uses arrays of name strings. Removing one could work, though I'd be hesitant to remove this one because it seems to have been around for such a long time. I guess renaming the problem here could also be troublesome for the same reason.

[2018-03-26 11:33] #16959 closed

[2018-03-26 11:41] raisedadead commented on #16906
Okay, so this highlights a larger problem that we should strengthen the tests to check for uniqueness of the challenge title.

The URL slug was made to have `/challenges` for better SEO I guess @QuincyLarson

In this case the simplest solution is to add tests in the seed to check for title's uniqueness.

[2018-03-26 11:44] raisedadead commented on #16906
Hi @scissorsneedfoodtoo I think we should expand the tests here https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/test-challenges.js and also rename one of the challenges to preserve uniqueness.

[2018-03-26 12:00] scissorsneedfoodtoo commented on #16906
@Bouncey and @raisedadead, thank you for your help! I'll start working on expanding the tests and will submit a PR to rename the challenge in the coding interview section.

[2018-03-26 14:17] ArielLeslie opened #16963 "Make Open Data initiative even more clear in privacy policy"
I know that the privacy policy says that FCC can gather and publish statistics, but some campers don't realize that the contents of their community posts will be shared (especially associated with their usernames).  In the spirit of transparency, should there be some information about this clearly laid out in the privacy policy? It seems consistent with FCC's values to do so.

[2018-03-26 17:21] chenjiawei-19881015 commented on #16906
/compare

[2018-03-26 19:45] ArielLeslie commented on #16963
By "community posts" I meant activity in the Gitter rooms or the forum. (I'm not sure whether the forum activity is included in the open data project or not - another thing that should probably be made clear.)

I've seen a few complaints like [this one](https://forum.freecodecamp.org/t/poop-please-purge-all-my-posts-from-the-forums-invite-others-when-did-this-happen-why-did-p1xt-leave/118959) sinc

[2018-03-26 20:20] #16906 closed

[2018-03-26 21:10] cherepaxa1207 opened #16964 "website doesn't scroll down"
website doesn't scroll down

#### Browser Information

* Browser Name, Version: Version 65.0.3325.162 (Official Build) (64-bit)
* Operating System: High Sierra 10.13.3
* Mobile, Desktop, or Tablet: desktop

#### Your Code

[code]
#### Screenshot

![screen shot 2018-03-26 at 16 36 11](https://user-images.githubusercontent.com/37816230/37933197-7f799db8-3118-11e8-941f-639a58368c91.png)

[2018-03-26 21:51] erictleung commented on #16963
@ArielLeslie thanks for the clarification. And your concerns make sense. Although avenues such as Gitter rooms and the forum are public places (which can be indexed by search engines), making it clear that data can be shared would be true to being transparent.

cc/ @freeCodeCamp/moderators @QuincyLarson second opinions?

[2018-03-27 02:41] steven410 commented on #16869
As someone who just completed this project and had the issue of receiving Japanese weather data or (most of the time) no data I would like to say that receiving any data is more useful than no data. At least with the Japanese data I could see if my code worked regardless of it showing accurate weather.

[2018-03-27 04:14] ojongerius opened #16965 "Release engineering improvements"
Hey there,

I'm trying to do some dev work and keeping my work up to date with staging, but often I find myself getting frustrated because "things are broken" and I'm not sure if this is due to my local setup or due to HEAD being in a bad state.

I'm not sure how things are deployed at the moment, but it would be *awesome* to know what was released, and when.

Some ideas, not mutually exclusive:

[2018-03-27 04:18] ojongerius commented on #16965
@QuincyLarson / @BerkeleyFalse / @raisedadead / @Bouncey something that has been discussed before? Also, is "mass" at-mentioning like this "done" or considered spammy and evil? Is there a team I should at-mention instead?

[2018-03-27 04:26] ojongerius opened #16966 "Add instructions on how to create your first user"
[CONTRIBUTING](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) currently describes how to set everything up, but leaves it up to the reader to understand that you will have to sign up locally, that the sign in link can be found in the console output or Mailhog and so forth.

It is not rocket science to figure it all out, but it would easier to get started if contributing

[2018-03-27 06:00] raisedadead commented on #16869
Well in theory, we could send random data. But we don t want to get complaints on the data being incorrect.. which I am pretty sure will be a case.

Anyways if it helps lets have the random data.

@QuincyLarson can you please guide with [the above request](https://github.com/freeCodeCamp/freeCodeCamp/issues/16869#issuecomment-372806284)?

[2018-03-27 06:20] stevenandersonz commented on #16966
I would like to help here, how I can start?

[2018-03-27 06:56] Bouncey commented on #16965
@freeCodeCamp/moderators how we mention the team @ojongerius. But @'ing individuals is fine.

We used to announce releases to production in the main feeCodeCamp Gitter room, in the announcement was a brief summary of commits released by PR title. Notable contributions got special mentions (bug fix, new feature, first-time contribution). We didn't stop doing it for any reason, we just haven't had a

[2018-03-27 07:27] ahmadabdolsaheb commented on #16958
@vipatron @raisedadead I confim the followings.

1. The browser console behaves normally.
 (it prints the number of console logs and clear them accordingly to the editor.)
2. The freecodecamp in-browser console neither displays output nor prints console.log.
(it only displays the test related messages. To test the in-browser console, I have have tried to console.log in the following challengs with

[2018-03-27 07:44] clickingmouse opened #16967 "How to Use Passport Strategies & Create New Middleware"
https://learn.freecodecamp.org/information-security-and-quality-assurance/advanced-node-and-express/create-new-middleware/

1) code does not work for mongodb package 3.X needs 2.X or will get db.collection is not a function.  hence this dependency needs to be more strictly enforced
error...

2) test no.2 does not pass even though i am pretty certain code redirects to '/'

#### Challenge Name

http

[2018-03-27 07:58] Bouncey commented on #16965
Also @ojongerius, what would you consider as broken?

[2018-03-27 08:33] ahmadabdolsaheb commented on #16952
thanks for reporting the issue @vipatron

@raisedadead In my openion, not only the comments should be moved but also the code should be simplified.

[This](https://github.com/freeCodeCamp/freeCodeCamp/blob/ab3c9719dc38d0960c7ed84f7233d8e3f34d12d0/seed/challenges/02-javascript-algorithms-and-data-structures/es6.json#L748) is the location of the lines to be changed in the seed.

The following is the

[2018-03-27 08:48] ahmadabdolsaheb commented on #16947
I could not reproduce this from the following browser and system :(:
Chrome Version 65.0.3325.181 (Official Build) (64-bit)
MacOS High Sierra

[2018-03-27 12:20] musiyenko opened #16969 "[BETA ES6 Path] Verification bypassed."
#### ES6: Use Destructuring Assignment to Pass an Object as a Function's Parameters

https://beta.freecodecamp.org/en/challenges/es6/use-destructuring-assignment-to-pass-an-object-as-a-functions-parameters

#### Issue Description

Verification is not working correctly, because it doesn't ignore comments. Please, refer to the screenshot.

#### Browser Information

* Browser Name, Version: Chrome (d

[2018-03-27 12:25] musiyenko commented on #16964
Scroll on the left part, where the lesson part is.

[2018-03-27 12:57] iabrenne commented on #15908
Hi Quincy and team.  Wanted to provide an update - sorry for the delay in doing so.

I *kind of* got this working. It wasn't perfect. For example - I wanted to dynamically pull  the name of 1st challenge of each block from the database so that users request could be rerouted accordintly. However fetch from the database happens after the routing/redirect logic which determines the url path. So I en

[2018-03-27 13:02] #16763 closed

[2018-03-27 13:12] raisedadead commented on #16969
Yup, this has been a known issue to us. A good way to be able to do so would be to strip off comments. Unfortunately we can't do that reliably.

[2018-03-27 13:59] ahmadabdolsaheb commented on #16900
@yoizfefisch thanks for reporting this bug.
@raisedadead I think the <code>console.log(str);</code> in the challengeSeed should be changed to <code>console.log(sentence);</code>, also we need a test that checks if the capitalized version of <code>sentence</code> is used in the <code>console.log()</code>

[2018-03-27 16:48] vkWeb commented on #16947
@ahmadabdolsaheb I faced this many times. I think you should try visiting challenges in incognito mode and keep on changing challenges quickly, more likely you'll observe this in the back-end(APIs, Node, etc) section.

[2018-03-27 17:49] YogeshSharma0201 commented on #16950
This issue is because bootstrap.js doesn't get loaded also other libraries like jquery etc are also not loaded.  vendor-main.js which gets loaded with home.jade runs into an error ("require not defined") so nothing gets loaded. I was able to  fix this by removing "opbeat-react" from vendor-main.js. This is probably because "opbeat-react" needs to be compiled (it uses require) therefore it cannot b

[2018-03-27 17:55] YogeshSharma0201 commented on #16950
This issue is related to #15818

[2018-03-27 17:55] vipatron opened #16970 "[BETA]: Minor Typo/Oversight in Lesson text (Hazards of Imperative Code)"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/functional-programming/understand-the-hazards-of-using-imperative-code

#### Issue Description
The lesson misses an expected 'new tab' after the 5 social media sites. i.e.: The lesson should say the expected output is:
`['FB', 'Gitter', 'Reddit', 'Twitter', 'Medium', 'new tab', 'Netflix', 'YouTube', 'Vine', 'GMail', 'Work mail', 'Docs

[2018-03-27 18:16] rajatkantinandi opened #16971 "Nightlife Co-ordination app example link is broken"
#### Challenge Name

https://www.freecodecamp.org/challenges/build-a-nightlife-coordination-app

#### Issue Description

Nightlife Co-ordination app example link is broken.
It shows Application error on opening the link:
https://yasser-nightlife-app.herokuapp.com/

#### Screenshot

![screenshot 26](https://user-images.githubusercontent.com/17743895/37986381-ecb28f06-3218-11e8-942b-6c49d0bafe18.png

[2018-03-27 18:29] mstellaluna commented on #16971
Notified Yasser in chat to verify his app. Pointed to this issue for him to update

[2018-03-27 18:30] PolarisTLX commented on #16358
I have looked into this today, the challenge does not indicate that using .map()  is required, and I was able to solve/complete it with and without using .map().  Therefore I don't believe that this needs any changes?

Paul (@PolarisTLX) and Kyle (@jklemon17)

[2018-03-27 19:30] IsaacAbrahamson commented on #16963
Think it's fair to link to p1xt's full letter know that the posts are deleted from forum:

https://medium.com/p1xts-blog/an-open-letter-to-freecodecamp-aff93113e55c

I think she overreacted, but it never hurts to be transparent.

[2018-03-27 19:41] ArielLeslie commented on #16963
I've seen some less outspoken reactions along the same lines previously. I had always thought that the recording and releasing of chat data was disclosed somewhere because I've known about it, but I guess that was only from announcements that you had to be part of the community at the time to know about.

[2018-03-27 21:45] ojongerius commented on #16965
I had a PEBCAK issue, which I was suspecting. Not knowing a tag that I could trust felt frustrating.

I was referring to Github releases, if you are not familiar with them, they are a Github concept, and can contain meta data such as release notes, commit hash and build artefacts. Releases have URLs which is practical to link to for projects that want to link to their releases. See https://help.gi

[2018-03-27 21:56] ojongerius commented on #16966
Start by setting up your local development environment. Once you've got freeCodeCamp running locally, you will be able to have a local user sign up.
If you keep track of the steps you have to take to get your first user up and running, and document that in CONTRIBUTING. Hint: to get the sign in link you'll have to visit your local mailhog instance to retrieve it.

Having some clarity of what steps

[2018-03-28 00:18] erictleung commented on #16965
@ojongerius @Bouncey the topic of GitHub releases has been discussed before and @BerkeleyTrue has decided against it, essentially because freeCodeCamp's code base doesn't follow a traditional software development cycle. But things may have changed since then.

See https://github.com/freeCodeCamp/freeCodeCamp/issues/13605 for the discussion on GitHub releases.

A change log may be helpful and easie

[2018-03-28 01:24] QuincyLarson opened #16973 "The ability to switch off real-time code editor linting in the settings"
CodeMirror has linting errors that pop up when you type invalid code:

![basic_javascript__comment_your_javascript_code___freecodecamp](https://user-images.githubusercontent.com/985197/38003338-c57d0590-31fc-11e8-9a55-abcf52a05868.png)

A camper suggested we allow for them to toggle these off. Is this a feature we can easily support, and if so, should we support it?

[2018-03-28 03:10] idietmoran commented on #15819
This is not solved. I failed with this code until i put the `// noprotect` flag in

[code]

[2018-03-28 06:02] raisedadead commented on #16965
@ojongerius @erictleung thanks a lot for discussing this.

Yes, we have had debated on the idea in the past.

Honestly, the contributions to this repo have never followed a traditional Software Engineering processes, and best practices in a strict sense. We could enforce that, by adding rule checks like we do for commits, etc. But we really count on a majority of the contribution towards the curri

[2018-03-28 06:41] raisedadead commented on #16963
Hi @ArielLeslie @IsaacAbrahamson @erictleung thanks for discussing this.

Yes, while we should update our privacy policy to reflect what we are doing with the data-sets that we have, its actually more concerning on what we lack user education & awareness of such policy.

It should be made clear on the intent here. I would be great if we can come up with ideas, or even PR to our privacy policy whic

[2018-03-28 10:01] dania2007 commented on #14036
i dont no how to do this "myStr should have encoded text with the proper escape sequences and no spacing." im ten

[2018-03-28 11:26] huyenltnguyen commented on #16963
I'd propose adding a short, simple version of the policy to the Terms and Privacy pages.
For reference:
- Startpage: https://www.startpage.com/eng/privacy-policy.html#hmb
- WeTransfer: https://wetransfer.com/legal/privacy

[2018-03-28 11:30] simonporter007 opened #16975 "Incorrectly worded test text for overriding class declarations with inline styles"
#### Challenge Name

[Override Class Declarations with Inline Styles](https://www.freecodecamp.org/challenges/override-class-declarations-with-inline-styles)

#### Issue Description

When trying to resolve the test cases, I misread the question. It said to make the h1 element white with an inline style and yet I made it green (following the example given). This still passed one of the tests when t

[2018-03-28 11:37] simonporter007 commented on #16975
Ha. Just went to the repo to fix it and its already been done! That'll teach me not to search before raising. Apologies.

[2018-03-28 11:37] #16975 closed

[2018-03-28 12:14] raisedadead commented on #16973
@QuincyLarson we have debated over this in the past. And I believe we should not.

Reasons in short:

1. Support requests:
"My code is correct, but its not working"! - Usual suspects, "You missed a comma there, or that brace there, etc."

2. Habit building as debated in https://github.com/freeCodeCamp/freeCodeCamp/issues/16509
Its easy to fall into a practice of OKAY practices for example as popul

[2018-03-28 12:18] mstellaluna commented on #16971
As per Yasser, he is receiving the following message "Free app running time quota exhausted".

[2018-03-28 12:20] raisedadead commented on #16964
Hi @cherepaxa1207,

Can you please reach out to the [Chat Rooms](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390) or try looking through our [forum](http://forum.freecodecamp.com) for help.

I think this isn't a issue with the platform.

Happy coding.

[2018-03-28 12:20] #16964 closed

[2018-03-28 12:21] raisedadead commented on #16944
Closing, please comment back if you need this re-opened.

[2018-03-28 12:21] #16944 closed

[2018-03-28 14:06] #16973 closed

[2018-03-28 14:07] QuincyLarson commented on #16973
@raisedadead Thanks for your detailed feedback. I hadn't thought about the spike in support issues and help questions on the forum that removing linting would cause, but you're right. This is not worth it.

[2018-03-28 15:03] yasserhussain1110 commented on #16971
Yeah @mstellaluna is right, me free dyno hours have been exhausted for this month. It will be back up from next month.

[2018-03-28 17:19] QuincyLarson commented on #16963
@ArielLeslie So far we have only re-packaged publicly accessible data, so that it can be more easily studied by academics and data scientists:
- the public freeCodeCamp activity of about 100,000 campers, taken from their freeCodeCamp code portfolios
- the public gitter.im/freeCodeCamp/freecodecamp chat room's conversation log (this is also indexed by Google and other search engines, as are all pub

[2018-03-28 17:52] joker314 commented on #16869
I think we should send fake data, but make it clear it's fake. Have the location name be "API Busy, Fake Data", and the weather, coordinates, etc. be randomised in the response. This way, people know why the results aren't accurate; and yet everything will still work for developers.

Thoughts?

[2018-03-28 18:32] SweetCodingInc opened #16976 "Incorrect data from FCC leaderboard API"
#### Challenge Name

General

#### Issue Description

Incorrect data is being returned from the [camper leaderboard api](https://fcctop100.herokuapp.com/api/fccusers/top/recent?)

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2018-03-28 18:34] raisedadead commented on #16976
@Em-Ant just curious do we have an equivalent of this on glitch

[2018-03-28 18:37] raisedadead commented on #16963
Requesting contributors, to have a copy to reflect the above thoughts here and if possible PR on the below repos:

https://github.com/freeCodeCamp/privacy-policy

and

https://github.com/freeCodeCamp/terms-of-service

[2018-03-28 18:57] Em-Ant commented on #16976
As far as I know We don't

[2018-03-28 22:08] #16104 closed

[2018-03-29 00:31] psychelzh opened #16977 "List order is incorrect in "Build a Tribute Page" challenge"
#### Challenge Name

[Build a Tribute Page](https://www.freecodecamp.org/challenges/build-a-tribute-page)

#### Issue Description

The ordered list does not have correct order. The ordinals are all `1`'s.

#### Browser Information

* Browser Name, Version:  Microsoft Edge 41.16299.248.0
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: N/A

#### Screenshot

![image](https://user-images.

[2018-03-29 00:33] psychelzh commented on #16977
And I have found that this issue does not occur in `Chrome` browser.

[2018-03-29 02:31] tbushman commented on #16808
This was fixed by @tchaffee in https://github.com/freeCodeCamp/testable-projects-fcc/pull/298 He used more specific css selectors and overrides. Thank you!

[2018-03-29 03:20] ojongerius commented on #16965
@erictleung: thanks for linking that issue! That's very useful.

@raisedadead Cool, is that a fact? Has that decision been made? Is there an issue that I can track?

@BerkeleyTrue or someone merged a breaking change. What confidence can a user have in HEAD if it's unknown what has been deployed, when?

#### Why Docker alone does not solve the problem
Docker compose will make setting up of the free

[2018-03-29 08:17] Randore commented on #16636
Hi, why this solution is not working.
It's working fine if I enter a value greater than 18 but fails when I enter a value lesser than 18.

[code]

[2018-03-29 10:54] yoizfefisch opened #16979 "Typo in lesson: Regular Expressions: Match Letters of the Alphabet"
#### Challenge Name

[Regular Expressions: Match Letters of the Alphabet](https://beta.freecodecamp.org/en/challenges/regular-expressions/match-letters-of-the-alphabet)

#### Issue Description

The following text seems to be a typo:

It should say:

[2018-03-29 13:20] alsayad5 opened #16980 "Arabic lang"
I'm trying to add Arabic lang
my question is
How do I add a file rtl.css when converting to Arabic?

[2018-03-29 14:56] love1024 commented on #16902
@QuincyLarson  the text is already bold so making it bold will have no effect. But we can make the background  highlight on selection. Any suggestions?
<img width="766" alt="selector" src="https://user-images.githubusercontent.com/19265795/38095988-6688e04c-338f-11e8-8c6c-cc0e301aa738.png">

[2018-03-29 15:01] rkm09 opened #16981 "Assert Error: Create A Map Data Structure"
#### Challenge Name : Create a Map Data Structure

https://beta.freecodecamp.org/en/challenges/coding-interview-data-structure-questions/create-a-map-data-structure

#### Issue Description

[The code below works fine on my IDE, but the 3rd test of “add” fails in fcc sandbox.]
In the seed code of this challenge, the 3rd assert instruction reads :

_“assert((function() { var test = false; if (typeof

[2018-03-29 17:24] nsuchy opened #16983 ""Iterate through an array with a for loop" checks forces you to use "var" cannot use "let" or "const""
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/basic-javascript/iterate-through-an-array-with-a-for-loop

#### Issue Description
The challenge requires you to initialize a variable however it forces you to use var, rather than let or const.

#### Browser Information

* Browser Name, Version: Ungoogled Chromium
* Operating System: macOS
* Mobile, Desktop, or Tablet: Desktop

#### Y

[2018-03-30 04:28] germangamboa95 commented on #16983
It is looking for a specific solution that uses the var keyword.
[code]

[2018-03-30 05:31] nsuchy commented on #16983
In many other begineer challenges I can use let or const without fail - I don't think users should be overly limited in how they can solve a challenge.

[2018-03-30 14:14] Em-Ant commented on #16761
I submitted 2 PRs. If they will be approved I'll also update the boilerplate in gomix.
The new test in freeCodeCamp depends on the changes in the boilerplate repo.

**boilerplate**
https://github.com/freeCodeCamp/boilerplate-mongomongoose/pull/6

**freeCodeCamp**
https://github.com/freeCodeCamp/freeCodeCamp/pull/16987

[2018-03-30 17:41] raisedadead commented on #16980
Hi, thanks for your interest, see this http://forum.freecodecamp.com/t/guidelines-for-translating-free-code-camp-to-any-language/19111

[2018-03-30 17:41] #16980 closed

[2018-03-30 17:57] Asjas commented on #8543
Hi @17BIT0216. This repo is for reporting issues. If you have any questions about not understanding a subject the place to get answers is the [freeCodeCamp gitter](https://gitter.im/FreeCodeCamp/FreeCodeCamp) room.

[2018-03-30 18:36] dardandemiri opened #16988 "You can not do #100DaysOfCode in FCC, with this BUG !!!"
#### A bug that makes the amazing 100DaysOfCode Challange useless

Here is my profile: https://www.freecodecamp.org/dardandmr

#### My 69 Days of Streak is broken for no reason

@QuincyLarson please bro, what is this, and can we reverse this?!
I have submitted the work two hours after 24:00, I don't think that it is a Time zone error, even if it is how is it possible that so many people here in FC

[2018-03-30 20:05] raisedadead commented on #16988
Duplicate of #7925

[2018-03-30 20:05] #16988 closed

[2018-03-30 22:14] dardandemiri commented on #7925
#### A bug that makes the amazing 100DaysOfCode Challange useless

Here is my profile: https://www.freecodecamp.org/dardandmr

#### My 69 Days of Streak is broken for no reason

@QuincyLarson please bro, what is this, and can we reverse this?!
I have submitted the work two hours after 24:00, I don't think that it is a Time zone error, even if it is how is it possible that so many people here in FC

[2018-03-31 02:49] LoTerence commented on #16979
Hey, I'm a first timer to open source. Is it alright if I take this issue?

[2018-03-31 11:25] cunleo commented on #3654
I cant claim my front-end-certification, cant even see a link to it!!!!!

[2018-03-31 11:57] cunleo commented on #3634
check
https://forum.freecodecamp.org/t/how-can-i-get-a-copy-of-my-front-end-certificate/146927/8

[2018-03-31 13:53] flipsyde606 commented on #16981
Hi, from what I can see the OP is right. I can pick this up if no one else is working on it.

[2018-03-31 15:10] Parama92 opened #16994 "Typeof Challenge requirements fulfilled only on passing empty array and object"
#### Challenge Name

https://www.freecodecamp.org/challenges/using-typeof

#### Issue Description

The following two requirements are only fulfilled only on passing an empty array and an empty object although the console output is exactly the same:
1. You should console.log the typeof an array.
2. You should console.log the typeof an object.

#### Browser Information

* Browser Name, Version: Chro

[2018-04-01 04:01] camper-fcc opened #16996 "Typo - CSS Grid: Limit Item Size Using the minmax Function"
#### Challenge Name
[CSS Grid: Limit Item Size using the minmax Function](https://beta.freecodecamp.org/en/challenges/css-grid/limit-item-size-using-the-minmax-function)

#### Issue Description
For the  challenge, the text states:

This may confuse people who are unfamiliar with the code. Instead, this should read:

#### Screenshot
![css-grid-screenshot](https://user-images.githubusercontent.com/3

[2018-04-01 07:43] rajatkantinandi commented on #16971
@yasserhussain1110
That's right it's working today as the new month started.
But I think it should able to recognize the location based on browser location service instead of typing it manually.

[2018-04-01 20:36] abdelrahman1 opened #16997 "Pinterest clone example project is not working"
#### Challenge Name

https://www.freecodecamp.org/challenges/build-a-pinterest-clone

#### Issue Description

Pinterest Clone app example link is broken.
It shows This site can’t be reached on opening the link:
https://midnight-dust.hyperdev.space/

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

![sc](ht

[2018-04-02 06:35] love1024 commented on #16960
@raisedadead  we need to call clearHistory of codemirror to get rid of undo history when new challenge comes. But when we know that this is new challenge so that we can clear history in Editor.jsx? componentWillMount and componentWillUpdate does not seem right for this. Any Suggestion?

[2018-04-02 06:45] iabrenne commented on #15908
Hi @Bouncey , @QuincyLarson
I was wondering if you have any concerns if I stick with my original approach of hardcoding a map of names of first challenge in each block rather than pulling those dynamically from a database. Per my note below in contributors chat - I seem to be running into a "cart before the horse" scenario trying to issue a redirect after challenges data is fetched from the databa

[2018-04-02 06:55] raisedadead commented on #16960
You should be able to hook it to an action in the editor, when a new challenge arrives. /cc @Bouncey can you guide.

[2018-04-02 07:17] teguhe opened #16999 "Issue Gambar Kucing"
Challenge [Add Images to your Website](https://camp.semarangjs.org/challenges/add-images-to-your-website#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%2

[2018-04-02 07:36] love1024 commented on #16960
Yes i am getting id of challenge to compare if this challenge is new in componentWillUpdate and then clearing history. This is working fine expect for the first time.  Working on this.

[2018-04-02 07:42] akkatracker commented on #16999
No issue as far as I can see - your image is pointing to the wrong source :)

Try pointing the `src` to `https://bit.ly/fcc-relaxing-cat` as mentioned in the instructions

[2018-04-02 08:00] scissorsneedfoodtoo commented on #16999
Also, I would recommend using the official freeCodeCamp website. The challenge you linked to can be found here: [https://www.freecodecamp.org/challenges/add-images-to-your-website](https://www.freecodecamp.org/challenges/add-images-to-your-website).

[2018-04-02 08:14] raisedadead commented on #16999
We do not provide support for sites who are using our platform. You should reach out to them for any assistance.

[2018-04-02 08:14] #16999 closed

[2018-04-02 08:16] raisedadead commented on #16983
I think I incline towards adding support for `let`. But it doesn't have to be explicit or obvious, even in the test message. As long as we can keep that I am okay to update the tests.

[2018-04-02 10:02] Ildarik opened #17000 "Typo in the challenge description"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/uncomment-html

#### Issue Description
Typo in the challenge description
`... displayed `~~the~~` to the end user`

#### Screenshot
![image](https://user-images.githubusercontent.com/10713674/38192446-95f8a324-3675-11e8-85b9-e56cce19ca57.png)

[2018-04-02 10:07] love1024 commented on #16960
@raisedadead @Bouncey   There are two ways to do this \
First is to add setTimeout to clear codemirror history
[code]
Settimeout is required because codemirror does not give updated value when new challenge is selected as of this issue https://github.com/JedWatson/react-codemirror/issues/106 \
Second is to use the workaround given in issue to add key to codemirror component to get updated value.I

[2018-04-02 10:33] yaaminu opened #17001 "Recognize FreeCodeCamp Ho, Ghana"
I started a local [ freeCodeCamp study group](https://web.facebook.com/groups/free.code.camp.ho/) in my locality but it hasn't been recognized so community  members cannot take the course on the freecodecamp site. I followed the instructions [here](https://forum.freecodecamp.org/t/how-to-create-a-local-study-group/19532) and am left with the last step where Justin will join the group so we can get

[2018-04-02 10:57] raisedadead commented on #16960
I would want to move away to using https://github.com/scniro/react-codemirror2 however, in case its not trivial at the moment I would prefer your second solution.

[2018-04-02 11:03] raisedadead commented on #16997
Thanks the updated URL needs to be https://midnight-dust.glitch.me/ and the same is to be done for any urls that are `hyperdev`

We would love a PR to address this, and look though the challenges in `backup/master` branch and update them.

[2018-04-02 11:07] raisedadead commented on #16994
Can someone help us if we have the same challenge and the same issue as above in the beta version of this as well?

[2018-04-02 11:13] love1024 commented on #16960
yes codemirror2 seems a right option, for now i am raising PR with second option.

[2018-04-02 11:51] scissorsneedfoodtoo commented on #16994
Just checked the beta version of this challenge here: [https://beta.freecodecamp.org/en/challenges/debugging/use-typeof-to-check-the-type-of-a-variable](https://beta.freecodecamp.org/en/challenges/debugging/use-typeof-to-check-the-type-of-a-variable)

The tests have changed so that the user just needs to log a couple of declared variables to the console, which are a string and a number, avoiding t

[2018-04-02 12:05] raisedadead commented on #16994
@scissorsneedfoodtoo awesome. Thanks a lot for the analysis

[2018-04-02 12:06] raisedadead commented on #16994
Hi @Parama92 we have a different approach to this challenge on beta. It will be available when its launched.

[2018-04-02 12:44] scissorsneedfoodtoo commented on #16994
@raisedadead, no problem! Happy to help.

[2018-04-02 13:37] Parama92 commented on #16994
Hey @raisedadead just checked it out in the beta version. Thanks for the heads-up!

[2018-04-02 16:12] heanfig commented on #17000
i would like to do it :)

[2018-04-02 17:32] masterchef2209 commented on #17000
i would like to work on it

[2018-04-02 17:53] snyderc opened #17004 "Typo - CSS Grid: Align an Item Horizontally using justify-self"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/css-grid/align-an-item-horizontally-using-justifyself

#### Issue Description
Typo:

Sentence reads: "By default, this property has a value of stetch, which will make the content fill the whole width of the cell."

The word "stetch" should likely be "stretch" ?

[2018-04-02 17:58] randelldawson commented on #16869
If you send fake data, I believe that would defeat the whole purpose of providing the current weather data for a specific location.  I like @joker314's idea about figuring out how we want to create the cache and implement it.

[2018-04-02 18:04] snyderc opened #17005 "Typo on CSS Grid: Limit Item Size Using the minmax Function"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/css-grid/limit-item-size-using-the-minmax-function

#### Issue Description

From the challenge:

However, the markup appears to create two columns, not three columns.

[2018-04-02 20:15] mglasser commented on #16996
I would like to work on this.

[2018-04-02 21:42] Herbertbhs02 commented on #16645
(Real Coding Ninjas)Audio closing tag still not detected!!!!

[2018-04-02 23:32] Bennet11 commented on #16996
Hi there can I work on this one?

[2018-04-03 01:00] mstellaluna opened #17008 "Beta - Cannot login with existing account using old sign-in method"
#### Challenge Name

https://beta.freecodecamp.org/en/signin

#### Issue Description

If I enter my email address (or leave the field blank) and I select on 'Try old signin methods' and I select GitHub, I get the error "We could not find a user by the name of "github"" ...

For the fun of it, I tried with my GitHub username. same error

#### Browser Information

* Browser Name, Version: Chrome 65.

[2018-04-03 02:47] huyenltnguyen commented on #16996
@Bennet11 Yes, why not?
You'll need to follow the [Contributor's Guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) to raise your PR. If you need any assistance, come and drop a line in the [Contributors chat room](https://gitter.im/FreeCodeCamp/Contributors), or just come say hi anyway. :)

[2018-04-03 03:03] iabrenne commented on #15908
Hello @QuincyLarson , @Bouncey and the rest of the FCC team.

I went ahead and submitted a PR. I went with the hardcoding approach to get the name of the first challenge in the block, rather than fetching data using a Fetchr service.

Also, appears that PR by @vbelolapotkov took care of  auto-expanding super block and block of the current challenge, therefore I did not need to put logic that I ini

[2018-04-03 03:56] chris-joseph commented on #17000
so would i..  :-)

[2018-04-03 05:04] ojongerius commented on #16936
Have raised a PR for this: https://github.com/freeCodeCamp/freeCodeCamp/pull/17010

[2018-04-03 09:23] realgio95 commented on #17000
Would love to work on this

[2018-04-03 12:41] #16940 closed

[2018-04-03 13:04] #17000 closed

[2018-04-03 13:11] moT01 commented on #17005
@snyderc you are correct - there is already an open issue for this - so if you could close this one that would be great.

[2018-04-03 13:13] moT01 commented on #17004
@snyderc you are correct, this should be changed to `stretch` as described

[2018-04-03 13:15] moT01 commented on #16996
@Bennet11 there's another issue you could knock out when you are working on this if you want https://github.com/freeCodeCamp/freeCodeCamp/issues/17004 - it's in the same file

[2018-04-03 14:33] raisedadead commented on #16997
This is still open for contribution. Please note that we need a PR on the `backup/master` and it should be changing all of the old hyperdev links to glitch

[2018-04-03 14:34] raisedadead commented on #17008
Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/16855

[2018-04-03 14:34] #17008 closed

[2018-04-03 14:50] #16520 closed

[2018-04-03 14:55] raisedadead commented on #16519
Hi @alexch I have landed your commits over in staging. Thanks for confirming on the inconsistency.

Since you are already at it. I have two more additional points to the OP for your consideration:

1. Could you add (and rather seamlessly integrate) a normalizing script as we were talking about in #16544, so that when some one does a `npm run repack`, its all taken care off?

2. Can we add some tes

[2018-04-03 15:42] #16970 closed

[2018-04-03 15:43] mstellaluna commented on #16970
Currently working on this PR

[2018-04-03 15:52] leahzxxz commented on #16997
@raisedadead tried looking for old hyperdev links on `backup/master` and couldn't find any...is this issue solved?

[2018-04-03 17:19] raisedadead commented on #16997
Oh yes, @leahzxxz sorry that's my bad it was actually fixed in https://github.com/freeCodeCamp/freeCodeCamp/pull/16917

@Bouncey can you deploy latest production.

[2018-04-03 17:19] #16997 closed

[2018-04-03 18:10] afable opened #17014 "Single Quote Selectors Pass Test"
#### Challenge Name
https://www.freecodecamp.org/challenges/target-html-elements-with-selectors-using-jquery

#### Issue Description

Challenge description states at the bottom that single quote selectors will not pass the test but they do.

#### Browser Information
Google Chrome, Version 65.0.3325.181 (Official Build) (64-bit)
Windows 10
Desktop

#### Your Code

[code]
#### Screenshot
![2018-04-0

[2018-04-03 19:18] accimeesterlin commented on #16979
PR out https://github.com/freeCodeCamp/freeCodeCamp/pull/17015

[2018-04-03 19:25] #16979 closed

[2018-04-03 21:41] vipatron opened #17018 "[BETA]: Possible typo in "Sass: Use @if and @else" Lesson."
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/sass/use-if-and-else-to-add-logic-to-your-styles

#### Issue Description
I believe there is a typo that can lead to confusion in the first code block in the lesson:
[code]
I believe `$bool` should be a boolean, for clarity and code legibility, and is probably just a typo.

**Proposed Solution:**
I believe the code block should be rewr

[2018-04-03 22:01] Bennet11 commented on #16996
@moT01 thanks but i checked the issue but somebody already fixed it. Thank you anyway.

[2018-04-03 22:15] bqnguyen94 commented on #17014
Thanks for reporting the bug! This has been fixed in the beta by removing the single quote restriction. You can check out the beta lesson here:
https://beta.freecodecamp.org/en/challenges/jquery/target-html-elements-with-selectors-using-jquery

[2018-04-04 00:35] vipatron opened #17019 "[BETA]: Test not working for Sass:Extend Waypoint"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/sass/extend-one-set-of-css-styles-to-another-element

#### Issue Description
I followed the lesson instruction and extended class .info in the "subclass" .info-important per the code below. It creates two panels, one in magenta (.info-important) per the screenshot below. However, the final test in this waypoint doesn't pass. The in-do

[2018-04-04 03:57] anhtran1906 commented on #16949
I found the issue. Basically in the main redux file, challengeSelector should return {} when challengeName is not found in challengeMap (when accessing invalid challenge) instead of jumping to firstSelector and returns the state there.
<img width="759" alt="screen shot 2018-04-03 at 11 50 01 pm" src="https://user-images.githubusercontent.com/20694114/38287808-c671fdcc-379a-11e8-8cf9-f24c7e5b9223.p

[2018-04-04 04:01] ojongerius commented on #16936
All done!

[2018-04-04 04:01] #16936 closed

[2018-04-04 04:21] ojongerius opened #17022 "Remove instructions for platform specific setup from CONTRIBUTING"
I think the Docker set up is mature enough so that we can simplify the contributing document to just refer to Docker.
Doing this will simplify the document, make it easier to maintain. I suspect it will make it really easy for new and existing developers to get started, and for existing contributors to get help from others as reproducing their setup became easy as pie.

As far as I can see the [se

[2018-04-04 04:26] ojongerius commented on #16965
Since raising this issue I've learnt that, at this moment, the release frequency is very low. I'm happy to close this of for now. When Beta gets out, releases should happen more frequently and we can revisit  this.

Thanks you for your contributions in providing some history and context of the current state of affairs!

[2018-04-04 04:26] #16965 closed

[2018-04-04 14:14] alexch commented on #16519
Sure, I love writing tests. But can we do those in a new PR? I'm already seeing conflicts in the current PR and I'm afraid those will only multiply.

The normalizing is already done (via `JSON.stringify` and by @Bouncey 's branch); the only question is whether to add `"+'\n'"` to the end of that line in `unpackedChallenge.js`.

[2018-04-04 14:39] bqnguyen94 commented on #17019
This happens for me too. In my case the last 2 tests won't pass, but if I run the tests again all tests would pass.

**Browser Information**
- Browser Name, Version: Google Chrome Version 65.0.3325.181 (64-bit)
- Operating System: Win 10, 64-bit
- Mobile, Desktop, or Tablet: Desktop

[2018-04-04 15:42] augiemagic commented on #16977
Looks like this is the case for all project pages in Edge.

![image](https://user-images.githubusercontent.com/9977874/38318391-d2a9b706-37f4-11e8-8e66-7aa054caeb2c.png)

![image](https://user-images.githubusercontent.com/9977874/38318406-dd7b93a2-37f4-11e8-9f6b-9b9828f2f048.png)

[2018-04-04 15:45] accimeesterlin commented on #17005
Here is the other open issue that @moT01  is referring to #16996. @snyderc, Please go ahead and close this issue. Thank you for your contribution of reporting this issue.

[2018-04-04 15:58] varunzxzx commented on #17022
But, not everyone uses docker.

[2018-04-04 16:02] acweb-2004 opened #17023 "problem with draggable"
#### Issue Description
Hi all,
this is Augusto from Italy.
In one of my web pages there is a div containing an image wider than the div (container). In order to view it completely, it is to be moved by mouse.
My problem arises when, moving it to the right, and to other directions as well, it goes on beyond the edge instead of stopping at the end of the shot.
I made some attempts:
#### Your Code
{c

[2018-04-04 16:55] varunzxzx commented on #17023
Hey, @acweb-2004. This is not the place to ask such questions. It's better if you ask it in [freeCodeCamp Earth Facebook Group](https://www.facebook.com/groups/freeCodeCampEarth/) or in the appropriate FreeCodeCamp Gitter room. In this case, it is [FreeCodeCamp/HelpFrontEnd](https://gitter.im/FreeCodeCamp/HelpFrontEnd). Here is the [list](https://gitter.im/FreeCodeCamp/home) of all the rooms which

[2018-04-04 16:56] vipatron opened #17024 "[BETA]: Waypoints not passing tests (React: Render a Class Component to the DOM)"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/react/render-a-class-component-to-the-dom

#### Issue Description
None of the 4 tests pass when I follow the very simple instructions to place two child components inside of \<TypesOfFood \/\>, and to render \<TypesOfFood \/\> to the DOM element with id #challenge-node. The FCC console produces the following output:

Looking at the in

[2018-04-04 19:18] swayman01 opened #17026 "Beta - Data Visualization with D3: Add Axes to a Visualization passes challenge with y axis incorrectly placed"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/data-visualization-with-d3/add-axes-to-a-visualization

#### Issue Description
The y axis did not intersect the origin and I passed the challenge

#### Browser Information
* Browser Name, Version: Safari
* Operating System: Mac
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]
#### Screenshot

//Sorry, I wasn't diligent ab

[2018-04-04 19:42] #17004 closed

[2018-04-04 19:45] raisedadead commented on #16519
Yes, absolutely.. I have landed your current PR already. I could see that we were seeing more conflicts as we waited. I have rebase some files already and you can work on the enhancements as you please.

I think adding a new line is a good idea in practice.

[2018-04-05 01:24] #14681 closed

[2018-04-05 01:26] mstellaluna commented on #16800
I am currently working on this PR

[2018-04-05 01:53] ojongerius commented on #17022
@varunzxzx is there a compelling reason to not use Docker?

[2018-04-05 03:00] varunzxzx commented on #17022
I am not saying that we shouldn't use Docker. I personally believe that Docker works great when it comes to setting up the development environment. But, I don't think that everyone is familiar with Docker. So, we may lose some contributions.

[2018-04-05 03:19] spedoinkle opened #17028 "Two Lakewoods, one camp"
#### Find a local

https://study-group-directory.freecodecamp.org

#### Lakewood, Washington != Lakewood, Colorado

Lakewood, Washington has been entangled into the location of Lakewood, Colorado and Lakewood, Colorado has ceased to exist.

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2018-04-05 04:16] #16966 closed

[2018-04-05 06:02] raisedadead commented on #17022
is there a compelling reason to not use Docker?

Host system constraints can be an issue for some actually. For example, devices with 4GB of RAM or Windows 7, etc.

These "do not play well" with docker itself often

[2018-04-05 08:26] ojongerius commented on #17022
I come from environments where Mac and Linux dominate, mostly run on powerful machines. If it is known that those setups do not work well, then I guess we should keep it in there! Thanks for enlightening me 😄

[2018-04-05 08:26] #17022 closed

[2018-04-05 08:33] myrindaman commented on #15551
i was trying like this :

function nextInLine(arr, item) {
  // Your code here
 arr.push(item);
 var Output = arr;
  return Output.shift();  // Change this line
}

[2018-04-05 14:17] Asjas commented on #15551
@myrindaman This repo is for reporting issues with the codebase. If you need any help with a challenge you can view our [list of chatrooms](https://forum.freecodecamp.org/t/free-code-camp-official-chat-rooms/19390) where someone can help you with your code.

Thank you and happy coding!

[2018-04-05 18:24] Vijayalakshmi25 opened #17031 "Unable to claim Responsive web design certificate"
I have completed all the projects relevant to responsive web design certificate but unable to claim it and getting below error message.
![image](https://user-images.githubusercontent.com/34175632/38384380-a1c4b49a-392c-11e8-960e-56f04d953da3.png)

![issue](https://user-images.githubusercontent.com/34175632/38384343-855a268c-392c-11e8-80a0-8c9cf4c38a16.png)

[2018-04-05 19:11] bhimaid commented on #11076
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

[2018-04-05 23:39] absolitudo commented on #16656
The package is at: https://github.com/Em-Ant/fcc-express-bground-pkg

The problem is that the package looks at the routes/middlewares on the challenge but in the first few challenges we don't need to make routes or apply middlewares. So the _routes.stack is undefined and that breaks the application.

This line breaks because router doesn't yet has routes(line 149):
[code]
Notice that there is an o

[2018-04-06 02:16] QuincyLarson commented on #15908
@iabrenne Awesome! Thank you so much for your hard work on this PR! Even though it took a long time, I imagine you learned quite a bit from the process!

I'm tagging @Bouncey to take a look at your PR, since he is the most knowledgable of this part of the codebase and best-equipped to QA it.

[2018-04-06 02:59] vipatron opened #17033 "[BETA] Test failure & Typo in "React: Create a Controlled Form" Waypoint"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/react/create-a-controlled-form

#### Issue Description
**Typo:** The lesson states -

*Suggested Replacement*:

**Test Failure**
Can't get last test to pass [no closed or open issues here, nor on forum], despite testing JSX proving that my code does do what is asked. (I added some html elements to the render() method to prove to mysel

[2018-04-06 06:00] ArcaneHunter opened #17034 "Wrong error warning."
#### Challenge Name

https://www.freecodecamp.org/challenges/change-text-inside-an-element-using-jquery

#### Issue Description

04/april/2018 2:30 (gmt -3)
The errors

(Emphasize the text in your target4 button by adding HTML tags.
Make sure the text is otherwise unchanged.)

were appearing when just the second one should, here is the code I used in the script.

#### Browser Information

* Browse

[2018-04-06 06:17] Em-Ant commented on #16656
Sorry guys I saw this only today. I'll have a look during the weekend

[2018-04-06 07:54] #16996 closed

[2018-04-06 08:00] #17028 closed

[2018-04-06 08:00] raisedadead commented on #17028
Issue moved to [freeCodeCamp/study-group-directory #84](https://github.com/freeCodeCamp/study-group-directory/issues/84) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-06 08:06] raisedadead commented on #17034
The second test states the content should not be changed. This text is like so because often times campers, do not pay attention to the instructions and copy the identifiers, variables etc. from the instruction areas.

I think what you have realized is OK, when you are getting started?.

I mean we can of course amend the instructions. But I believe there is worth in keeping this as it is?

What do

[2018-04-06 08:09] raisedadead commented on #17031
Hi @Vijayalakshmi25 thanks for reporting.

We will get this checked. As you may know that beta can be unstable at times, we regret the inconvenience.

Happy coding!

[2018-04-06 08:10] raisedadead commented on #17031
/cc @Bouncey

[2018-04-06 08:12] #17023 closed

[2018-04-06 08:12] raisedadead commented on #17019
/cc @ahmadabdolsaheb

[2018-04-06 08:14] #17014 closed

[2018-04-06 08:15] #17005 closed

[2018-04-06 11:37] randelldawson commented on #15609
The link to this challenge shows the message "Oops! That pge doesn't exist or is private".  It appears it need to be change to the following URL.
https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-accessing-nested-objects-in-json/16161

[2018-04-06 11:43] nsuchy commented on #15609
@randelldawson I thought the plan was updating all links to the freeCodeCamp Guide once the challenge guide is complete. Perhaps we should put this on hold until then?

[2018-04-06 11:45] randelldawson commented on #15609
@nsuchy - I was just reporting what I found after a camper posted something about it when they were working on the challenge.  I referred them to the correct link shown above by @m-henderson.

[2018-04-06 11:55] bqnguyen94 commented on #17033
Your `input` value should be `{this.state.input}` instead.

[2018-04-06 12:07] varunzxzx commented on #17018
Can I start working on this?

[2018-04-06 12:10] m-henderson commented on #15609
I remember trying to do this in the past and I couldn't find where freecodecamp stores the Get a hint links.

[2018-04-06 12:11] vipatron commented on #17033
Thanks! The tests pass now. Which implies to me that the testing suite is looking at something other than the state variables themselves. I am just getting started, so I don't know if those state variables are accessible outside of components in React, or if the test is a regex on the JSX. If the latter, and the test is the best it can be, should I edit my issue back down to just the typo?

[2018-04-06 12:31] bqnguyen94 commented on #17033
It's not a regex matching. The test simply compares value of the `input` with `this.state.input`. I'm not 100% sure but looks like if value of `input` is set to `this.state.value` which doesn't exist, the test fails to grab the input value itself?

[2018-04-06 13:45] Asjas commented on #17018
@varunzxzx Sure feel free to work on this :+1:

[2018-04-06 14:59] vipatron commented on #17033
Thanks for the peek under the hood. I was a little confused as to why the behavior seemed to work despite my typo (which I only introduced on the fourth try of resetting my code because I couldn't wipe out other, weirder errors.

[2018-04-06 15:56] texas2010 commented on #17018
somehow this challenge didn't tell me which CSS code I need to use. but I found out it is the border. so it need to fix that.

[2018-04-06 17:09] tchaffee commented on #16946
Concerning the panel buttons (Map, Lesson, Editor, Preview) I have traced the current behavior to the ` client/less/lib/bootstrap/buttons.less` and `client/less/lib/bootstrap/mixins/buttons.less` files and the `:focus` pseudo-class. If someone can describe what the desired behavior is, I might be able to figure this out and submit a PR.

What I need is the expected appearance for all of these poss

[2018-04-06 17:15] Em-Ant commented on #16656
@raisedadead I think the problem is the CORS setting. If you try this project https://marked-fowl.glitch.me where I enabled CORS for https://beta.freecodecamp.com the test pass.

We need to check all the boilerplates and add the beta domain to the array.

[2018-04-06 17:44] raisedadead commented on #16656
Ah alright. Thanks for letting me know.

[2018-04-07 00:19] vipatron opened #17038 "[BETA] Broken link in React Introducing Inline Styles Waypoint"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/react/introducing-inline-styles

#### Issue Description
In the lesson, there is a broken link:
*Link text:*"the way you apply classes to JSX elements"
*URL*"https://beta.freecodecamp.org/en/challenges/react/link%20to%20classes%20challenge"

Having done the React lessons in a short time, I just looked at the Map for the React section (

[2018-04-07 02:12] #16800 closed

[2018-04-07 03:21] clickingmouse opened #17039 "how-to-use-passport-strategies not testing correctly"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/advanced-node-and-express/how-to-use-passport-strategies
https://beta.freecodecamp.org/en/challenges/advanced-node-and-express/create-new-middleware
#### Issue Description

not passing 2nd test

#### Browser Information

chrome/MacOS

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#

[2018-04-07 05:37] EditB commented on #17033
Can I fix the typo?

[2018-04-07 06:25] varunzxzx commented on #17033
@EditB Thanks for your consideration. I already did it. Their are many issues, no one is working on. You can takeup those issues. Make sure you comment on that issue, that you are working on it. So, anyone else don't duplicate his/her efforts. Happy Coding!

[2018-04-07 06:27] EditB commented on #17033
Thanks @varunzxzx. I have a browse and see what else I can fix.

[2018-04-07 06:50] EditB commented on #17038
Can I do this fix?

[2018-04-07 07:07] varunzxzx commented on #17038
@EditB Yeah sure.

[2018-04-07 08:10] EditB commented on #17038
I fixed the issue and pushed it to GitHub. This is my first contribution, I hope I did it right.

[2018-04-07 14:14] vipatron commented on #17038
@EditB Great job! I am trying to learn more before I contribute, so I am trying to be the best beta tester I can be. Sometimes, I just want to keep going, but my duty calls. I am so glad my fastidiousness gave you the chance to pitch in. I and all the other learners thank you. Keep it up!

[2018-04-07 15:45] #16894 closed

[2018-04-07 15:45] #16896 closed

[2018-04-07 17:13] nsuchy opened #17041 "Declare a readonly variable with the const keyword uses wrong variable name in tests"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/es6/declare-a-readonly-variable-with-the-const-keyword

#### Issue Description
The challenge requires you to change sentence to a const from var, however the default code example uses the variable sentence in lowercase, however you have to change the variable to uppercase for the test to pass.

#### Browser Information

* Browser Name

[2018-04-07 17:36] vipatron opened #17044 "[BETA] React Inline Styles: Suggested Improvement to lesson text (Pedagogy)"
#### Challenge Name

#### Issue Description
**Pedagogical problem:**
As a student, I had to *infer* that hyphenated style property names became their camelCased versions. To be sure, I researched it, and found [this link on camelcase and inline styles](https://zhenyong.github.io/react/tips/inline-styles.html). The relevant quote from that page

**Suggested Improvement:**
The lesson text just above

[2018-04-07 17:56] vipatron commented on #17044
Eh, I got to the next challenge. Maybe it's because I refuse to let myself copy the example code unless as a last resort unless I understand what is going on? Maybe, instead:
(Notice: fontSize is camelCased - more on that in the next waypoint).

[2018-04-07 18:46] texas2010 commented on #17041
@nsuchy, I don't see a reason to change that. I checked this challenge. it is fine to me.  you said it is the wrong variable name. I checked the challenge. I test it. I passed what challenged asked us what we suppose to do.

so it is correct variable name.  they asked to change to const variable name to the uppercase letter

[2018-04-07 18:59] texas2010 commented on #17041
I am sorry, I have to close this. this challenge info is correct.

[2018-04-07 18:59] #17041 closed

[2018-04-07 19:39] #17034 closed

[2018-04-07 19:40] raisedadead commented on #17038
@EditB awesome, did you make a pull request, yet?

[2018-04-07 19:43] raisedadead commented on #17039
Hi @clickingmouse can you please share your solution here once again. I tried checking the same from your OP, but seems it could be incomplete?

You can comment below with the entire code. And here is an helpful link https://help.github.com/articles/creating-and-highlighting-code-blocks/

[2018-04-07 23:37] EditB commented on #17038
@raisedadead, I believe I did make a pull request as now I only have a 'Close pull request' option... Did it come up ok?

[2018-04-07 23:39] EditB commented on #17038
@vipatron, Thank you for picking this issue up for me to fix :-) It's a great one for first time contributors. The code fix was the easy part, but man, it's hard work to figure out how to document that one line change properly in the system... Keep up your fantastic testing!

[2018-04-08 01:43] #17033 closed

[2018-04-08 02:06] #17038 closed

[2018-04-08 13:27] Chucky122 opened #17046 "Wordpress"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2018-04-08 13:44] akkatracker commented on #17046
Hi @Chucky122

You appear to have forgotten to fill in the issue description.

Please fix this so we're aware what's wrong :smile:

[2018-04-08 15:05] mstellaluna commented on #16761
I approved the change to the boiler plate mentioned above. Waiting for the merge to complete before re-testing the lesson.

[2018-04-08 16:49] texas2010 commented on #17046
@Chucky122, we don't have WordPress lesson. sorry.

[2018-04-08 16:49] #17046 closed

[2018-04-08 17:02] Chucky122 opened #17047 "Wordpress"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2018-04-08 17:48] #17047 closed

[2018-04-08 21:13] vipatron opened #17048 "[BETA] React: Render Conditionally from Props (Pedagogy Problem)"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/react/render-conditionally-from-props

#### Issue Description
The lesson starts off saying:

I manually checked every waypoint in the React module prior to this one, searching for "null". Except for one state assignment where a variable was set to null, there is no mention of null, thus there is no mention of using null to render cond

[2018-04-08 21:47] absolitudo commented on #17026
The test that checks this task is:
[code]
This test looks at all the "g" elements then selects the 2nd one in the list to look at the attributes.
By default the challenge has the xAxis applied already. The d3 axis functions make "g" elements to display the ticks. So by default there are already 10 "g" elements in the dom and the 2nd that is being selected is a tick of the xAxis and it happens to h

[2018-04-09 02:42] clickingmouse commented on #17039
https://cheerful-crafter.glitch.me/

here is what i've done, but i might have change those code parts since.. you can try to paste your own solution provided in the link
https://gist.github.com/JosephLivengood/8a335d1a68ed9170da02bb9d8f5b71d5

[2018-04-09 06:25] doubleUTF commented on #16927
+1. I finished my game at the end of 2017 and tested the sounds with Chrome; it was fine then so definitely not all of Chrome 45+. Can confirm that Chrome 65 will cut the audio off short and stop playing future instances. Other browsers work fine.

[2018-04-09 07:36] ahmadabdolsaheb commented on #17019
@vipatron thanks for reporting this issue, and thanks @bqnguyen94 for confirming it.
@raisedadead  For the third test probably the test runs before SASS compiles to CSS or something but not sure. In any case , I suggest using two regex tests in total. One will look for the background color and the other will look for @extend .   Let me know if you are ok with the solution.

[code]

[2018-04-09 19:56] Oyelowo commented on #16091
I am presently having similar issue with the responsive web design certification.

[2018-04-09 19:56] Oyelowo commented on #16091
![image](https://user-images.githubusercontent.com/31687368/38519662-41cda496-3c49-11e8-89e5-484098036350.png)

[2018-04-09 23:03] mstellaluna commented on #16091
@Oyelowo Hello. This issue is for production freecodecamp.org certificates. A separate issue has already been opened for the Beta certificates which you are having an issue with. Please refer to issue https://github.com/freeCodeCamp/freeCodeCamp/issues/17031 and https://github.com/freeCodeCamp/freeCodeCamp/issues/16923. Thank you!

[2018-04-10 03:54] QuincyLarson commented on #15767
@guiKailu Yes - though I wouldn't use "e.g."

How about this:

User Story: I can see a different icon or background image that corresponds to the current weather. (The weather could be rain, snow, clouds, drizzling, clear, thunderstorm, fog, or smoke).

[2018-04-10 04:30] #16808 closed

[2018-04-10 04:30] QuincyLarson commented on #16808
@tbushman Thanks for confirming this is now fixed! I'll close it. 👍

[2018-04-10 06:30] Oyelowo commented on #17031
I am having the same problem

[2018-04-10 15:13] #16382 closed

[2018-04-10 15:25] rajatkantinandi opened #17052 "CSS tutorials not accepting Hex or rgb color values."
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/basic-css/use-a-css-class-to-style-an-element

#### Issue Description

In this challenge Hex color values or rgb values are not accepted only ```color:red;``` is accepted.

#### Browser Information

* Mozilla Firefox, Version: 60.0b10 (64-bit)
* Operating System: Ubuntu 17.10

#### Your Code

[code]
#### Screenshot

![screenshot from

[2018-04-10 16:32] guiKailu commented on #15767
@QuincyLarson Yes, that grammar does clarify it. I found a few more weather conditions though, thanks to this [post](https://forum.freecodecamp.org/t/local-weather-api-call-problems/55047) by @merlincatman

Perhaps all should be included, but with a license to combine subcategories under the same image, as @merlincatman has done with || operators in his post?

How about this? Maybe a bit too long

[2018-04-10 18:49] NJM8 commented on #16927
I wanted to add to this as I was having trouble as well with Chrome. It would seem a lot of users are having trouble. I came across this forum post: https://forum.freecodecamp.org/t/the-provided-build-a-simon-game-mp3s-cause-problems-with-chrome-64/171473.

I modified the files with twistedwave.com and trimmed 100 ms from the front and added 100ms or so to the back of each file. Upon using the new

[2018-04-10 23:40] mstellaluna commented on #17052
@rajatkantinandi Hello. The lesson is designed to use word value for the color as it is the introductory lessons. The test specifically checks for that. Hex values for colors are taught further down. I don't believe this is a bug.

[2018-04-11 01:37] rajatkantinandi commented on #17052
@mstellaluna
I know that Hex values are taught in the subsequent lessons but still it should accept those values.
Even after those lessons there is some lessons like: https://beta.freecodecamp.org/en/challenges/applied-visual-design/adjust-the-hover-state-of-an-anchor-tag
which does not accept hex values.
You are right, this is not a bug but I think it is better to accept word value, hex value as

[2018-04-11 17:55] QuincyLarson commented on #15767
@guiKailu Awesome - I like that user story copy even better! I don't think it's too long. It succeeds in making things clearer.

Would you be interested in opening a pull request to update the copy in the challenge?

[2018-04-11 18:32] vipatron opened #17053 "[BETA] Cursor placement bug in the React & Redux challenges"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/react-and-redux/use-provider-to-connect-redux-to-react
(And others - I kind of just accepted it as a weird quirk, and navigated to the correct position using keys because I wanted to focus on writing the code in my working memory)

#### Issue Description
When I first click into the Editor in many (perhaps all) of the React, Redux, and

[2018-04-11 21:41] doubleUTF commented on #16927
@NJM8 Thank you, your workaround does indeed work. Just have to set the sound element's currentTime property to 0 on every playback or else there will be no new sound until the previous playback is completely over.

[2018-04-12 02:41] dearhakeemdavis commented on #16952
@vipatron @ahmadabdolsaheb Hello, I wanted to contriubute to this PR so I started to take a look at instructions and what the challenge was asking for. I do believe the original challengeSeed is posed correctly, here is my solution:

`function makeClass() {
  "use strict";
  /* Alter code below this line */
	class Vegetable {
  	constructor(name){
    	this.name = name;
    }
  }
  /* Alter code a

[2018-04-12 02:43] dearhakeemdavis commented on #16952
@vipatron @ahmadabdolsaheb Hello, I wanted to contriubute to this PR so I started to take a look at instructions and what the challenge was asking for. I do believe the original challengeSeed is posed correctly, here is my solution:

`function makeClass() {`
`"use strict";`
 ` /* Alter code below this line */`
`	class Vegetable {`
  `	constructor(name){`
    `	this.name = name;`
`    }`
 ` }`
`  /

[2018-04-12 05:29] #16971 closed

[2018-04-12 08:24] akkatracker commented on #17052
I disagree, I think (especially if hex is taught later on) that the word should be the only acceptable solution. The first test addresses whether it is red, the third is whether it is _set_  to red

Only think I maybe think is make the red in the failing test in the
[code]

[2018-04-12 12:09] raisedadead commented on #17039
Hi @clickingmouse

I am unsure of the issue here. We request you to give us a succinct explanation of the issue that you are facing.

The link `cheerful-crafter.glitch.me` is your output code.

This does not help us understand the issue you that you are having.

I would recommend reaching out to the forum or chat for help with reporting the issue.

[2018-04-12 12:09] #17039 closed

[2018-04-12 12:10] raisedadead commented on #17053
We are considering moving away to monaco editor to get this resolved.

[2018-04-12 12:14] raisedadead commented on #17052
Hi @rajatkantinandi thanks for reporting. What you have pointed might be a good to have case, because the code would be valid.

But, this increases the test complexity.

Since by design we are looking for specific use case on this challenge, I think its okay to accept only word only values.

Thanks a lot once again, for the QA.

Happy coding!

[2018-04-12 12:14] #17052 closed

[2018-04-12 13:36] vipatron commented on #17048
I look forward to being able to contribute in more than a beta-tester role, but I don't know the technology stack FCC is using. I see all sorts of error messages from libraries which I have to google, like epic.js. I am just wrapping up React-redux now. Is that part of it?

[2018-04-12 13:56] raisedadead commented on #17048
Ah.. do not worry, just go through the contributing docs and also the challenge style guide

https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenge-style-guide.md

Hit us up in the chat and we will help!

[2018-04-12 14:04] evaristoc commented on #16158
**Update**:
[x] FreeCodeCamp/FreeCodeCamp : a download that included data until 9 Dec 2017 was made available in Kaggle

We are having other ones currently in the list. I will keep updates for those rooms that were downloaded in this thread.

[2018-04-12 18:56] doubleUTF commented on #16927
Yes I used your modified sounds. The crackles are present only if spammed repeatedly, which is not a huge issue.

[2018-04-12 19:13] hsribei commented on #15863
@QuincyLarson I'm following the beta curriculum and also ran into the problem of the Google Finance API being deprecated.

The [beta website](https://beta.freecodecamp.org/en/challenges/information-security-and-quality-assurance-projects/stock-price-checker) doesn't say anything about this project having become optional though, nor of a replacement for it. Am I looking at the wrong place? Thanks!

[2018-04-12 19:14] hsribei commented on #15863
Btw for others trying to complete it, I've found the [AlphaVantage](https://www.alphavantage.co) API works, although it's often offline.

[2018-04-13 01:43] NJM8 commented on #16927
Well I was hoping I got rid of the crackles, probably someone who knows more than I do about sounds can just make some new ones.

[2018-04-13 05:02] saulius-spiridonas-ht commented on #16983
I think fcc should not only start supporting but also encourage using ES6 already. Furthermore, arrow functions also somehow buggy. I have encountered a problem while solving basic js tasks, where the same function written as an arrow function provides a different result than conventional function declaration. I have tested this on VScode and it was functioning normally.

Anyways too much off topi

[2018-04-13 08:48] absolitudo opened #17057 "[BETA] Typo in Basic CSS: Cascading CSS variables description"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/basic-css/cascading-css-variables

#### Issue Description

Typo in Basic CSS: Cascading CSS variables description:
When you create a variable, **it is becomes** available for you to use inside the element in which you create it. It also becomes available within any elements nested within it. This effect is known as cascading.

Correc

[2018-04-13 14:48] #16855 closed

[2018-04-13 14:48] #16945 closed

[2018-04-13 16:04] ahmadabdolsaheb commented on #17048
@vipatron the file that needs to be modified is the following.
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/03-front-end-libraries/react.json
There you can search for **null** in the document. As you can see the document is divided into challenges. To add a new challenge, duplicate a challenge and change its data accordingly. Don't forget to add a unique id. Follow the

[2018-04-13 21:47] andrejarboe commented on #15767
How do I help out and make changes?

[2018-04-13 23:31] guiKailu commented on #15767
@QuincyLarson Yes, I would be interested! I was going to let you know once I'm done :grinning:, but then I read the instruction, "Let us know you are working on it" :sweat_smile:
@QuincyLarson Thank you so much for everything you do here at FCC! I'm loving it.
I'll go back to learning about making a pull request now... :innocent:

[2018-04-14 16:38] yasindce1998 commented on #8609
<script>
  $(document).ready(function() {
    $("#target1").css("color", "red");
$("#target4").html("<em>#target4</em>");
  });
</script>

<div class="container-fluid">
  <h3 class="text-primary text-center">jQuery Playground</h3>
  <div class="row">
    <div class="col-xs-6">
      <h4>#left-well</h4>
      <div class="well" id="left-well">
        <button class="btn btn-default target" id="targe

[2018-04-14 21:26] DBaldwin107 commented on #5890
Note to me:

• don't use a <.> when you need a <-> AND
• don't add syntax that is not asked for in the challenge.

[2018-04-15 03:50] camper-fcc commented on #14903
I think this issue should not be deferred and should be removed from the beta curriculum entirely, or added to the curriculum in a later section after `filter()`, `map()`, and `reduce()` have been introduced.

Another option is to explain `filter()`, `map()`, and `reduce()` prior to this challenge. However, that may be beyond the scope of this issue.

Is the student supposed to use `filter()`, `ma

[2018-04-15 06:35] LBWright opened #17062 "In contributing.md, clicking the 'contribution guidelines' link does not take to any contribution guidelines."
#### Challenge Name

https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md
and
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md#contribution-guidelines

#### Issue Description

There are two links associated with reading 'contribution guidelines'. When I click the link, '#contribution-guidelines' is added to the link (posted above) however, the page doe

[2018-04-15 22:33] Saadelkheety opened #17063 "the code is been detected wrongly if attributes added in the opening tag "it don't detect the closing tag as it expect to be <audio controls> only""
https://github.com/freeCodeCamp/freeCodeCamp/blob/5b658ae62d7a853529d6e04f23e27f0652bfc02f/seed/challenges/01-responsive-web-design/applied-accessibility.json#L409

[2018-04-16 01:34] JohnnyCheung1989 commented on #7925
100DaysOfCode Challange

[2018-04-16 21:43] Knowledge-Wisdom-Understanding commented on #758
i got it to work after about an hour of frustration and it was an AHA moment. here is my solution,
npm dist-tag add @yourname/yourfilename@1.0.1 beta

p.s. your name and file name have to be all lowercase. for instance, mine looked exactly like this:
npm dist-tag add @phil/managepackageswithnpm@1.0.1 beta

[2018-04-17 02:13] scshepard commented on #758
Hi all,
Rarely am I stumped, but here I am; I'm quite familiar with the term beta; what is the meaning of FCC in the context of this thread?
Thanks muchly!
Steve
________________________________
From: Daniel Paul Pereira <notifications@github.com>
Sent: Thursday, June 8, 2017 6:14 PM
To: freeCodeCamp/freeCodeCamp
Cc: Subscribed
Subject: Re: [freeCodeCamp/freeCodeCamp] how-to-npm issues are mostly

[2018-04-17 04:03] #15767 closed

[2018-04-17 04:12] #16091 closed

[2018-04-17 17:45] QuincyLarson opened #17065 "Redirect old nonprofit project path to new description"
We need to delete this outdated explanation of our nonprofit projects: `https://www.freecodecamp.org/how-nonprofit-projects-work`

And instead forward the `how-nonprofit-projects-work` tab to this with a 301 redirect: `https://medium.freecodecamp.com/open-source-for-good-1a0ea9f32d5a`

[2018-04-17 18:08] #17018 closed

[2018-04-17 18:27] #16981 closed

[2018-04-17 19:09] #17057 closed

[2018-04-17 19:53] #17019 closed

[2018-04-18 03:33] QuincyLarson opened #17066 "Remove LinkedIn account linking"
2 different campers have reported an issue with LinkedIn account linking. They are getting someone else's account when they attempt to link their account. It's a strange behavior, and it seems to have emerged within the past couple days.

Since we've already removed LinkedIn account linking on beta, we should just remove this feature from production.

I think for now we can just remove the button

[2018-04-18 12:55] clickingmouse opened #17068 "https://beta.freecodecamp.org/en/challenges/advanced-node-and-express/social-authentication-with-oauth"
1) Same as previous bug; provided glitch template does not have beta.freecodecamp.org in test file...
2) the page doesnt load when entering link in browser, need to select on other challenges, then go to map.. then select the challenge

#### Challenge Name

https://beta.freecodecamp.org/en/challenges/advanced-node-and-express/social-authentication-with-oauth
https://beta.freecodecamp.org/en/challe

[2018-04-18 13:01] clickingmouse commented on #17039
Hello,

I cannot past the second test. (see screen shot)
I have also copy and pasted the model answer provided . and it also does not pass the 2nd test

[2018-04-18 13:25] Asjas commented on #17039
@clickingmouse Please see our [freeCodeCamp BackEnd Support Channel](https://gitter.im/FreeCodeCamp/HelpBackEnd) for any assistance. We also have a [freeCodeCamp Forum](https://forum.freecodecamp.org/).

[2018-04-18 14:10] scissorsneedfoodtoo commented on #16358
I checked this out recently using @mstellaluna's solution and also solved it without using map as @PolarisTLX did. Using map is probably the most concise way to complete this challenge, but I think we should leave it up to users how to go about it. I'm not sure the description needs any changes since the user is told what the makeList function should return.

[2018-04-18 14:14] raisedadead commented on #17063
Hi @Saadelkheety can you fill the complete issue template presented to you? It will help us understand the issue much better.

Please reopen a fresh issue.

[2018-04-18 14:14] #17063 closed

[2018-04-19 10:51] rohanBagchi commented on #16952
@raisedadead I have taken a stab at correcting the helper comments for this lesson. #17072 is the PR.

[2018-04-19 11:17] Asjas commented on #16952
Hi @rohanBagchi

I would suggest you also look at the code simplification that @ahmadabdolsaheb suggested that needs to be done to the challenge. What he is suggesting would make the initial code easier to read.

[2018-04-19 15:28] MichaelMejiaMora opened #17073 "Code validations on translations"
#### Challenge Name

Link to external page with anchor elements

#### Issue Description

In the translation to Spanish, the instruction is:
 "Create an `a` element which links to http://freecatphotoapp.com and have the anchor text **"fotos de gatos".**

The validator says:
Your a element should have the anchor text of **"cat photos".**

This will be a trouble in all translations when the validator

[2018-04-19 17:22] zoltanalmodo opened #17074 "UX = RADIO BUTTOM for FREE CODE CAMP RADIO !!!"
I think that radio is a great addition to the website. this feature gives a whole new dimension (AUDIO / SOUND) to the experience of using it.
+most of us listen to music when using the site = (pretty sure many ppl listening.)
the selection is great, the idea also...

BUT i discovered a flaw in the UX on how to reach it.
and this could be improved.

(standpoint = i know nothing about the radio)
i

[2018-04-19 17:37] Asjas commented on #17074
Hi @zoltanalmodo.

The way you are presenting this issue appears almost spam like because of the excessive use of capital letters and very little sentence structure. There are more succinct ways to ask if the freeCodeCamp radio can be added as a separate button on the website. Or why the radio is hosted on YouTube as a video and not somewhere else. Can you rather edit this issue so that it would b

[2018-04-19 18:06] Clarke92 commented on #17065
Hi i would really love to tackle this one!

[2018-04-19 18:26] Asjas commented on #17065
@Clarke92 There is already a PR made by someone else for this

[2018-04-19 18:30] zoltanalmodo commented on #17074
I see what you mean...

maybe better just to suggest creating a separate button on the website for the RADIO station (under YouTube). even before thinking about building this function into the website as an extra.

[2018-04-19 18:34] Asjas commented on #17074
Building the radio into the website would incur charges for hosting and bandwidth. Whereas hosting on a free service such as YouTube there are no costs.

[2018-04-19 18:39] zoltanalmodo commented on #17074
I understand. === still, a separate button would help a lot! ==== and this issue is about the button and how to access the service. rather than the service itself.

[2018-04-19 18:41] Clarke92 commented on #17065
@Asjas Sorry, didn't know that. Are there any issues for a beginner, that i could take on?

[2018-04-19 19:28] Asjas commented on #17065
@Clarke92 Those would be the ones labeled `first timers welcome`. You can see if there are any that aren't currently being worked on, or doesn't have any PRs already open.

[2018-04-20 01:58] trockennasenaffe opened #17075 "Wrong bootstrap button usage in challenge."
#### Challenge Name

https://www.freecodecamp.org/challenges/create-a-bootstrap-button

#### Issue Description

The button doesn't render in chrome. In Firefox and Safari a grey area appears, but it doesn't seem to be an actual bootstrap button (see screenshots). A default button is created by adding the classes btn and btn-default to the button element. Usage according to the documentation http:/

[2018-04-20 02:47] mstellaluna commented on #17074
@zoltanalmodo Hello. Can you please modify your issue text so it is more readable? It is very hard to tell what your request is concerning FCC Radio due to the excessive use of capital letters and special characters. Thank you.

[2018-04-20 03:13] texas2010 commented on #17074
@zoltanalmodo Sorry, we are not going to build feature for radio. And we cant make a direct link to the live stream. since live stream link is always different. so we are not going to change the direct link every time when someone starts the live stream every time. that is why we put youtube channel link on there.

I have to close this issue. I don't see a reason for this have a flaw UX about radi

[2018-04-20 03:13] #17074 closed

[2018-04-20 04:45] huyenltnguyen commented on #17065
@Clarke92 The issue https://github.com/freeCodeCamp/freeCodeCamp/issues/16983 is quite beginner-friendly, if you'd like to give it a try.

[2018-04-20 09:00] Asjas commented on #16983
@sINFmaduft Sure you can take it on.

[2018-04-20 09:43] mehedih789 commented on #11585
good

[2018-04-20 11:33] RSyehann opened #17076 "Brand Authorization"
#### Issue Description

Dear FreeCodeCampTeam,

I am Ryan Shen, a coder from [Taiwan](https://en.wikipedia.org/wiki/Taiwan). I am writing regarding the possibility of brand authorization of the FreeCodeCamp.

We are a group of Taiwanese coders and freelancers using the FreeCodeCamp online courses to learn and improve our programming skills. To promote the FreeCodeCamp online courses to people who

[2018-04-20 13:56] mstellaluna commented on #17076
@QuincyLarson FYI.

[2018-04-21 03:45] lydatech opened #17077 "Applied Visual Design: Use the em Tag to Italicize Text - nesting change"
#### Applied Visual Design: Use the em Tag to Italicize Text

https://beta.freecodecamp.org/en/challenges/applied-visual-design/use-the-em-tag-to-italicize-text

#### Issue Description

Incorrect nesting of the <em> element.
The challenge states:  **Wrap an em tag around the paragraph tag to give it emphasis.**
giving this format: `<em><p>Some Text</p></em>`

Should be:  **Wrap an em tag around th

[2018-04-21 14:08] Clarke92 commented on #16983
@Asjas Ok, do i have to mark it somehow?

[2018-04-21 21:55] Asjas commented on #16983
@Clarke92 Sorry I am not sure what you are talking about? What are you trying to mark?

[2018-04-22 16:45] #17076 closed

[2018-04-22 16:45] QuincyLarson commented on #17076
@RSyehann I saw your email. I will reply to you there.

[2018-04-22 19:27] iabrenne commented on #16958
I agree with @ahmadabdolsaheb on all three points.

1. Browser console is behaving as expected - output is showing up once with the number of times indicated right after the output. So I don't think there are any issues there.

2. FCC in browser console is not showing any output from console.log(). In other words, 2nd sentence of:
![image](https://user-images.githubusercontent.com/24214306/3909899

[2018-04-22 21:20] idietmoran opened #17078 "Cannot complete microservice challenge"
NOTE: Answers below

#### Challenge Name
https://www.freecodecamp.org/challenges/file-metadata-microservice

#### Issue Description
Submitting links to the challenge will not close it out
http://file-metadata-fcc-.herokuapp.com/
https://github.com/idietmoran/file-metadata

#### Browser Information

* Browser Name, Version: Firefox Developer Edition 60.0b14
* Operating System: Windows 10
* Mobile,

[2018-04-23 02:33] imcodingideas commented on #17048
Im working on fixing this by started out with duplicating this challenge and giving it a unique id. However; how can I access this? I tried localhost.../react/make-conditional-decisions but its not working?

[code]

[2018-04-23 05:17] #17065 closed

[2018-04-23 07:07] Asjas commented on #17078
Hi @idietmoran,

Please note the challenge states you need to deploy to glitch and not heroku.

[2018-04-23 07:42] ahmadabdolsaheb commented on #17048
@imcodingideas You need to reseed the database by <code>node seed</code> to parses all the changes in JSON files and saves them into the MongoDB.

After that, start the application by <code>npm run develop</code> and to the site's map and navigate to your specific challenge from there.

[2018-04-23 07:47] idietmoran commented on #17078
thanks, wasn't aware that glitch was required.

and the heroku app is working for me which is weird.

[2018-04-23 07:53] idietmoran commented on #17078
@Asjas nope, just submitted with glitch as well.

http://fcc-file-metadata-.glitch.me/

still nothing. I'm not sure if it's bugged or not

[2018-04-23 08:08] scissorsneedfoodtoo commented on #17078
@idietmoran, I just tried it on the freeCodeCamp production site and the beta site and it seems to work. But I noticed a mistake with the URL from your last comment. The ones that worked for me were:

[code]

Could you try submitting those and see if they work for you, too?

[2018-04-23 09:13] Asjas commented on #17078
@idietmoran Yes, it seems you are typing an extra hyphen in the herokuapp url. I didn't notice it.

Try what @scissorsneedfoodtoo suggests.

[2018-04-23 10:38] mabras commented on #16855
I can't login with my legacy method (Facebook):

[2018-04-23 11:12] raisedadead commented on #16855
Hi @mabras please log a fresh issue, its most likely that you have had different emails on facebook and us. Also, you can send us an email at team@freecodecamp.org

[2018-04-23 13:55] idietmoran commented on #17078
@scissorsneedfoodtoo @Asjas those aren't my projects, my projects are at the ones with the hypen at the end.

[2018-04-23 14:11] scissorsneedfoodtoo commented on #17078
@idietmoran, I see. So `http://file-metadata-fcc-.herokuapp.com/` with the hyphen is the correct URL? When I visit the page I get a ERR_NAME_NOT_RESOLVED error. Do you get the same error when you visit the page? Or does it load correctly?

[2018-04-23 14:12] Asjas commented on #17078
@idietmoran I don't think that is a correct naming convention. Because your heroku app is still offline.

@scissorsneedfoodtoo It's offline for me as well.

[2018-04-23 14:16] Asjas commented on #17078
@idietmoran Rather create a new name on heroku instead of using the fcc name with just a hyphen at the end. Just create a heroku instance with any name.

But the main thing is, this isn't a problem with the codebase itself. @scissorsneedfoodtoo tested the project submission and it worked. Issues on Github are reserved for problems with the code or the actual platform. Not for normal support.

@idi

[2018-04-23 15:32] scissorsneedfoodtoo commented on #17078
That's interesting. I'm not sure why your page isn't loading for us, then. I also rechecked with Chrome and tried with Firefox on my end and I'm still getting the same error. But when I tried it on my phone with Chrome your website loaded, so I don't know what's going on here.

All that said, I think the problem is that, like @Asjas said, the URL for your project doesn't follow the normal naming c

[2018-04-23 16:33] steelbrain opened #17079 "How do I unsubscribe from freeCodeCamp?"
< rant >

I have been trying since forever to unsubscribe from the service's mailing list. Every single time I try to unsubscribe it just says that something went wrong. I have tried marking your email as spam but the fact that I cannot make them stop is extremely annoying and makes me rage :sob:. I even tried to reset my password on your service but every single time I try to reset it I get the s

[2018-04-23 17:41] bigkatspence commented on #17079
team@freecodecamp.org have you tried emailing them directly but email above
to let them know that you wish to unsubscribe from Free code camp

On Mon, Apr 23, 2018, 11:34 AM Steel Brain <notifications@github.com> wrote:

[2018-04-23 17:50] teja2210 commented on #17079
Maybe u can change it email id to some random email is that u don't use

[2018-04-23 20:01] mpro7 commented on #17075
You have right, it seems that there is a second class missed, which gives the button proper colors. I've also found it as strange when walked through the course but left it without a word. However, even the mistaken one renders good in Chrome 66.0.3359.117 64-bit one ran on Windows 10.

[2018-04-24 00:41] JMagers opened #17080 ""Using .env" challenge doesn't test for environment variable correctly"
#### Using .env
https://beta.freecodecamp.org/en/challenges/basic-node-and-express/use-the-env-file

#### Issue Description
Part of the test is to check if the MESSAGE_STYLE environment variable was provided in the .env file. The current implementation uses the regex [here](https://github.com/Em-Ant/fcc-express-bground-pkg/blob/87a4fe129ac4bc2200a392ff70718fd1617e9d19/index.js#L75) that checks any

[2018-04-24 00:42] JMagers commented on #17080
I'm working on a PR that avoids using a regex altogether to avoid this problem.

[2018-04-24 07:15] raisedadead commented on #17079
@QuincyLarson @Bouncey does this have to do with a recent rollout of the email unsubscribe?

[2018-04-24 09:27] Bouncey commented on #17079
Hi @steelbrain, could you try signing in and then going to `https://www.freecodecamp.org/u/i@steelbrain.me` please. Please let us know if there are any changes or not

[2018-04-24 14:19] steelbrain commented on #17079
@Bouncey Thank you for the response - I don't remember my password, and reset password doesn't work with the same error message as mentioned in the initial report.

Let me know if there's something else I can do to help debug/fix this issue

[2018-04-24 14:26] steelbrain commented on #17079
I managed to get into my account through Github SignOn but the unsubscribe link still failed as usual. I was able to turn them emails off through my user preferences.

I personally no longer face this issue so feel free to close, but the underlying bug stands

[2018-04-24 16:15] raisedadead commented on #17079
Not to be closed, as the underling bug still needs to be resolved.

[2018-04-24 20:15] dboydgit commented on #16997
@raisedadead I know this was closed, but did anyone try the new link? I just got to this part of the curriculum and the link returns a timeout.

[2018-04-24 20:33] dboydgit opened #17083 "Broken link in "Build a pinterest clone" challenge"
#### Challenge Name

https://www.freecodecamp.org/challenges/build-a-pinterest-clone

#### Issue Description

The link to the example application on the first checkmark returns a timeout or "failed to start application" error.

#### Screenshot

![image](https://user-images.githubusercontent.com/24216368/39212569-5775f9cc-47cc-11e8-98fd-53c3add9402a.png)

[2018-04-24 22:02] dboydgit commented on #17083
This looks like a coding problem with the glitch project. Do we have another glitch that can linked to as a sample or are we able to edit the current sample to address the error?

[2018-04-25 13:17] SimonOsipov commented on #17075
Everything is fine in my Chrome
Version 59.0.3071.115 (Official Build) (64-bit)
Win10

[2018-04-25 16:44] QuincyLarson commented on #17079
@steelbrain I tried clicking that link you provided, and it seems to have successfully unsubscribed you. I'm not sure why you were getting an error.

From the screenshot, it looks like an incognito version of Chrome, which is what I also used. And you're the only person who's reported this problem lately (we previously had an issue where people who had accidentally created duplicate accounts would

[2018-04-25 19:27] steelbrain commented on #17079
@QuincyLarson It may be because I have already unsubscribed from the settings. I got the same error from non-incognito window so used an Incognito one for a clean repro for the report

[2018-04-25 20:27] Gkleinereva commented on #8399
Heads up: this appears to still be an issue as of 4/25/2018.  This fix worked though.

[2018-04-26 12:41] iabrenne commented on #16958
Also, looks like this issue / behavior carried over to the learn repo https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/debugging/understanding-the-differences-between-the-freecodecamp-and-browser-console , so I'm assuming it is still worth looking into / fixing this issue. @raisedadead - please let me know if you disagree. Thank you!

[2018-04-26 21:55] #16861 closed

[2018-04-26 21:58] #16946 closed

[2018-04-26 22:03] #17062 closed

[2018-04-26 22:12] raisedadead commented on #17083
/cc @Em-Ant

[2018-04-27 13:36] mattlub commented on #17073
I can do this!

[2018-04-27 14:01] tchaffee commented on #16946
@QuincyLarson @raisedadead  Any feedback on my suggestions above for fixing the panel toggle buttons? Has someone already fixed this? Or if not, can I get the answers to my questions about desired behavior so I can move forward on this?

[2018-04-27 14:10] mattlub commented on #17073
I guess an overhaul of the challenge JSON structure could go something like:

[code]

[2018-04-27 14:26] mattlub opened #17090 "Contributing Guide- PR instructions inconsistency"
#### Issue Description
I just submitted a PR for the first time, following the instructions in the Contributing Guide, and noticed a couple of conflicting points:

[link to the Contributing Guide "Creating a PR" section](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md#common-steps)

- under **Creating a PR**
  - **method 1/point 8** instructs you to use the tool to create

[2018-04-27 14:39] raisedadead commented on #16946
Hi @tchaffee this was fixed partly. But that said, we would need to revisit this once https://github.com/freeCodeCamp/learn is ready.

We appreciate the feedback, but its worth waiting for now. We may have a different approach to multi-tab editor since we are replacing codemirror with monaco

[2018-04-27 18:15] #17083 closed

[2018-04-27 18:16] raisedadead commented on #17090
Yes, that is correct.

[2018-04-27 18:18] #17073 closed

[2018-04-27 23:05] iabrenne opened #17091 "Test for the "Test if a Value is of a Specific Data Structure Type" is failing when it should pass"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/quality-assurance-and-testing-with-chai/test-if-a-value-is-of-a-specific-data-structure-type

#### Issue Description

3rd test in this challenge is failing even though the answer is correct.

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

!

[2018-04-28 07:07] clandau commented on #17091
Just came across the same problem. I think I could handle this as a first PR if you don't mind.

[2018-04-28 08:27] raisedadead commented on #17075
The rendering issue with chrome is seemingly macOS only.

[2018-04-28 08:52] raisedadead commented on #17091
@clandau yes, sure. @iabrenne as I guess you are okay with it from your OP.

[2018-04-28 08:54] raisedadead commented on #17080
Hi @JMagers thanks for reporting. @Em-Ant can you confirm the PR opened is at the right repo?

[2018-04-28 08:57] raisedadead commented on #17068
@Em-Ant can you guide what is a fix. We can get contributions as per your feedback

[2018-04-28 09:06] Em-Ant commented on #17080
@raisedadead Yes I get the PR on my repo. @JMagers is right. I will approve this PR. I think this packege should be forked under freecodecamp, and the boilerplate should access the forked version, so you have control on it.

[2018-04-28 09:07] Em-Ant commented on #17068
@raisedadead I need to have a look at the code. I'll let you know in the next days...

[2018-04-28 09:10] #17080 closed

[2018-04-28 09:12] raisedadead commented on #17080
Okay, in that case you should transfer the repo over to freeCodeCamp. @Bouncey can help you with the same.

[2018-04-28 09:13] raisedadead commented on #17080
Thanks a lot for merging the PR.

[2018-04-28 13:34] iabrenne commented on #17091
@clandau - go for it! :)

[2018-04-28 17:56] Leeoku opened #17092 "Logo/img is not loading"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/css-flexbox/apply-the-flexdirection-property-to-create-a-column-in-the-tweet-embed

#### Issue Description

When starting challenge, an image file is broken

#### Browser Information

* Browser Name, Version: Firefox focus, latest
* Operating System: w7
* Mobile, Desktop, or Tablet: desktop

#### Your Code

[code]
#### Screenshot

ht

[2018-04-28 20:43] clandau commented on #17091
Thanks! I will.

[2018-04-28 22:00] VoxHumana commented on #17077
If no one else is already on it, I'd be happy to take a stab at this.

[2018-04-28 23:31] akkatracker commented on #15072
Does this bug still exist? Can't seem to find what you're talking about

[2018-04-29 00:14] Komorebi-Girl commented on #17090
Hi! I'm completely new to contributing to open source projects so I'd like to work on this small issue as my first step. Am I correct in thinking that information for common step 4 needs to be completely removed and common steps 5 & 6 need to be re-numbered as common steps 4 & 5?

[2018-04-29 05:28] raisedadead commented on #17090
Yes.. that is correct @Komorebi-Girl !

[2018-04-29 15:06] mstellaluna opened #17094 "Camperbot is offline in gitter - approx for 1 week+"
#### Challenge Name

Not challenge related.

Campers in the gitter platform have noticed that camperbot has been offline for
approximately a week or more around the same time as the last FCC maintenance.

Is it possible to please bring camperbot back online ?

It is not responding to any of the built-in commands (ie. botstatus, rooms, commands)

this is affecting all gitter rooms for FCC.

#### Is

[2018-04-29 16:27] texas2010 commented on #17066
@akkatracker thanks.

[2018-04-29 16:27] #17066 closed

[2018-04-29 16:37] thefrontendwizard opened #17095 "feat: challenge editor"
I've been working ~very very slowly~ on translations of FCC challenges for quite a while now. Honestly, there's a ton of translations to be made and it's unnecessarily hard to do it. I've bootstrapped a super simple app that I believe will make the translators life easier and I'd like a feedback on wether other people feel like this is necessary or not. I'll try to explain where I am now. I've wor

[2018-04-30 11:47] iabrenne opened #17098 "Test for the "Test if a Value is of a Specific Data Structure Type" is failing when it should pass"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/quality-assurance-and-testing-with-chai/test-if-a-value-is-of-a-specific-data-structure-type

#### Issue Description

This issue  is very similar to https://github.com/freeCodeCamp/freeCodeCamp/issues/17091

Test is failing when it should pass, because of a typo in the index

![image](https://user-images.githubusercontent.com/2421430

[2018-04-30 16:14] RocktimSaikia opened #17099 "Can't claim my responsive design certificate."
I completed all the Responsive Design Projects successfully but now when i go to claim the certificate it tells to complete the projects first. What should i do.please help.I mean i already updated my projects and re-checked it and re-submitted it. But no luck.  It would be great if someone in freeCodeCamp community can help me with this issue.
As you can see here that i already completed the proj

[2018-04-30 18:36] NabheetCloud commented on #17077
Is this issue still open? Can i take it up?

[2018-04-30 19:15] Asjas commented on #17077
Hi @NabheetCloud

There has already a PR #17093 open for this.

[2018-04-30 20:30] clandau commented on #17091
I submitted a pull request here.
https://github.com/freeCodeCamp/freeCodeCamp/pull/17096

[2018-04-30 21:27] mstellaluna commented on #17099
@RocktimSaikia hello, there are already open issues concerning not being able to claim certificates. Please refer to open issues https://github.com/freeCodeCamp/freeCodeCamp/issues/17031 and https://github.com/freeCodeCamp/freeCodeCamp/issues/16923

[2018-05-01 03:12] RocktimSaikia commented on #17099
@mstellaluna  yeah i saw those issues too. but  there is no solution.some of them were fixed by @QuincyLarson Himself. I wish if he could fix this  manually too.

[2018-05-01 05:15] raisedadead commented on #17095
@julianorafael this is amazing. Nice work!

Have you had a chance to look at the unpack/repack feature added recently to the staging branch?

It unpacks the json files into friendly html files that can be edited in any test editor and then you can re-pack them back to json. See the contributing guide for the commands.

I think that should be a really good place to start. You can theoretically add

[2018-05-01 05:36] RocktimSaikia commented on #17099
@raisedadead I see. So meaning , claiming certs wont be possible until  you ship beta .Is that what you meant ?

[2018-05-01 09:31] scissorsneedfoodtoo commented on #16795
Was going through the current PRs to see if I could help QA anything when I saw #16986. Pulled it, and when I did the tests that @raisedadead mentioned above the preview window loads correctly.

Just wanted to mention it here in case anyone sees this issue and starts working on it again.

[2018-05-01 11:12] clandau commented on #17098
https://github.com/freeCodeCamp/freeCodeCamp/pull/17096

[2018-05-01 12:28] Komorebi-Girl commented on #17090
Okay, great! Can I handle this tiny issue then?

[2018-05-01 13:16] raisedadead commented on #17099
That is correct, please follow the open issues for progress.

[2018-05-01 15:32] sharad-vm commented on #17098
I'm new to this project and contributions on GitHub. I'd like to take a stab at this if nobody else is working on it.

[2018-05-01 15:36] julianorafael commented on #17095
@raisedadead thank you.

I'll take a look into it right now. It'd be awesome if could incorporate this into it.

[2018-05-01 20:42] carlcorsini commented on #17098
I'd like to get on the waitlist if @sharad-vm for some reason changes his mind.

[2018-05-01 21:08] hofmanlc opened #17101 "Error in Use the Bootstrap Grid to Put Elements Side By Side"
#### Challenge Name

https://www.freecodecamp.org/challenges/use-the-bootstrap-grid-to-put-elements-side-by-side

#### Issue Description

I keep receiving this issue: Make sure each of your div elements has a closing tag.

#### Browser Information

* Browser Name, Version: Chrome, 64.0.3282.186
* Operating System: MAC osSierra 10.12.6
* Mobile, Desktop, or Tablet: Laptop

#### Your Code

[code]
##

[2018-05-01 21:30] anthonygallina1 commented on #17101
I couldn’t reproduce the issue here with Firefox or Chrome. Please try saving your code. Then resetting the Use the Bootstrap Grid to Put Elements Side By Side  lesson.

[2018-05-02 12:53] raisedadead commented on #16958
@iabrenne you are correct, this will be carried over to the gatsby based learn repo once again. But you are correct in fixing it here. So, that we can sync up the curriculum.

[2018-05-02 13:09] raisedadead commented on #17092
@Leeoku could you check your browser's developer console for logs? I believe it should be opened with `F12` key.

[2018-05-02 13:11] raisedadead commented on #17101
Hi there,

Thanks for reporting this issue.

Here are some next steps that you should follow before we can help you with your query:
- Check [these troubleshooting steps](https://forum.freecodecamp.com/t/how-to-report-a-bug/19543) first.
- Please try looking through our [forum](http://forum.freecodecamp.com) for help with a specific challenge and any coding assistance.

If you are still unable, to

[2018-05-02 13:11] #17101 closed

[2018-05-02 20:31] #17091 closed

[2018-05-02 20:33] raisedadead commented on #17094
Hi @mstellaluna we are looking into this.

[2018-05-02 23:18] #17094 closed

[2018-05-03 06:29] raveesh-me opened #17106 "[Challenge] Escape Sequences in Strings"
#### Escape Sequences in Strings

https://www.freecodecamp.org/challenges/escape-sequences-in-strings

#### Issue Description

The challenge requires three lines to be stored in a single myStr value:
[code]
This passes for:
[code]

The above passing code has the output:
[code]
in the console.

#### Browser Information

* Browser Name, Version: Google Chrome `Version 66.0.3359.139 (Official Build)

[2018-05-03 07:05] Ildarik opened #17107 "Remove typo from task description"
#### Challenge Name
[React: Compose React Components ](https://beta.freecodecamp.org/en/challenges/react/compose-react-components)

#### Issue Description
Typo in task description
`...Next, nest the Fruits class component into` ~~the~~ `the TypesOfFood component, `

[2018-05-03 13:02] raisedadead commented on #16958
Reopening for addressing points raised by @ahmadabdolsaheb !

[2018-05-03 13:03] #17031 closed

[2018-05-03 14:07] #17075 closed

[2018-05-03 16:04] adi44 commented on #17107
i will be solving this issue

[2018-05-03 18:02] Leeoku commented on #17092
found the reason. Turns out my browser had tracking protection on and hence the image wasn't let through.

[2018-05-03 18:02] #17092 closed

[2018-05-04 11:03] scissorsneedfoodtoo commented on #16912
Hi all. I saw that @raisedadead submitted a PR to migrate authentication to Auth0, but I thought I'd comment here.

Did some searching through the Mongo docs for getting TTL to work. Seems like Mongo will automatically remove documents, but an index needs to be created on the collection first. To get the email authentication links to expire correctly, I had to run mongo, use freecodecamp, then run

[2018-05-04 11:33] johnkennedy9147 opened #17111 "Potential contributors have confusion on using MailHog"
#### Issue Description
A number of users setting up a local dev copy of freeCodeCamp have posted in Gitter with difficulties getting a working sign-up link using Mailhog.

The root cause seems to be the provided instructions are not clear enough. Specifically this line `To access your MailHog inbox, open your browser and navigate to http://localhost:8025. ` is being missed by users due to it appea

[2018-05-04 11:36] johnkennedy9147 commented on #17111
tagging @raisedadead as you asked about this in Gitter the other day

[2018-05-04 12:11] sourabh1031 commented on #17090
is the issue resolved ?I am looking to work on it if not

[2018-05-04 12:14] raisedadead commented on #17111
Thanks @johnkennedy9147 !

[2018-05-04 13:06] raisedadead commented on #17090
Hi @sourabh1031 thanks for the interest. I suggest you look into the tracker, we have more open issues that we can use your help.

[2018-05-04 13:11] Komorebi-Girl commented on #17090
Okay, I'm a bit stuck. I'm trying to run the npm run commit command to use the commit tool but I get this error message from npm: "'git-cz' is not recognized as an internal or external command,
operable program or batch file."

I thought perhaps I should do an npm install but when I try to do that nothing happens. No error message. Nothing at all. Am I maybe missing something important?

[2018-05-04 13:12] raisedadead commented on #17090
@Komorebi-Girl can you reach out to the [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors)

[2018-05-04 13:15] Komorebi-Girl commented on #17090
Ok, will do. Thanks!

[2018-05-04 14:04] Vijayalakshmi25 opened #17112 "Unable to open Responsive web design certificate"
Previously I was unable to claim Responsive web design certificate. Now the issue was resolved and certificate was added to my profile but I am unable to open the certificate as i am getting the below error.

![1](https://user-images.githubusercontent.com/34175632/39632222-1d5bb610-4fd2-11e8-89a4-c5b306fe6f90.png)
![2](https://user-images.githubusercontent.com/34175632/39632223-1d6b5e6c-4fd2-11e8-

[2018-05-04 14:08] sourabh1031 commented on #16963
i would like to work on this issue.Please guide me the necessary things since i am a newbie to open source

[2018-05-04 14:09] sourabh1031 commented on #16963
I would like to work on this issue.As i am newbie to open source please provide me some help

[2018-05-04 14:19] Vijayalakshmi25 commented on #17112
Issue resolved after agreeing to the pledge

[2018-05-04 14:19] #17112 closed

[2018-05-04 16:28] QuincyLarson opened #17114 "Update the signup to include a checkbox for agreeing to ToS and Privacy and a checkbox for receiving Quincy's emails."

[2018-05-04 17:28] QuincyLarson opened #17115 "Update email blasts to use a hash for unsubscribe links."
We need to update:
1) update the unsubscribe methods on production
2) update the script that pulls the email addresses from the production database and creates a hash to go along with it.

[2018-05-04 17:30] QuincyLarson opened #17116 "Remove challenge map property and update the progress timestamps array to serve as the single source of truth for which challenges have been completed."

[2018-05-04 17:30] QuincyLarson opened #17117 "Update the way hidden profiles look to only reveal username."

[2018-05-04 17:31] QuincyLarson opened #17118 "Make each section of profile hidable"
As a user, I should be able to hide the following sections:
- my progress
- my certificates
- my portfolio
- my biographic info (social links, location, name, etc.)

I should ultimately have the ability to make my profile private to the extent that the only thing other people can see is my username.

[2018-05-04 17:31] QuincyLarson opened #17119 "Make sure all usernames and all solutions are removed from the progress timestamps array."

[2018-05-04 17:32] QuincyLarson opened #17120 "Social auth should lead to email update, and exit."
Make sure the social authentication leads to an email confirmation page and there's no way to get past that without first verifying their email address.

[2018-05-04 17:34] QuincyLarson opened #17121 "Clear all biographical data for users, including social links."

[2018-05-04 17:39] QuincyLarson opened #17122 "Update settings page to where as a user I can only modify my name, my username, my project URLs, and my general settings."

[2018-05-04 17:40] QuincyLarson opened #17123 "As a user I can click a button on /settings and get my entire user profile as JSON"

[2018-05-04 19:01] #17090 closed

[2018-05-05 01:34] benscho commented on #17107
I submitted a pull request, but I'm relatively new to open source github projects so please excuse any errors :)

[2018-05-05 14:41] NANAENGLISH commented on #16645
SAME! It is not being detected.

<body>
  <header>
    <h1>Real Coding Ninjas</h1>
  </header>
  <main>
    <p>A sound clip of Zersiax's screen reader in action.</p>
    <audio id="audio/mpeg" controls>
      <source src="https://s3.amazonaws.com/freecodecamp/screen-reader.mp3"type="audio/mpeg">   </audio>

</main>
</body>

[2018-05-05 14:41] NANAENGLISH commented on #16645
``<body>
  <header>
    <h1>Real Coding Ninjas</h1>
  </header>
  <main>
    <p>A sound clip of Zersiax's screen reader in action.</p>
    <audio id="audio/mpeg" controls>
      <source src="https://s3.amazonaws.com/freecodecamp/screen-reader.mp3"type="audio/mpeg">   </audio>

</main>
</body>
``

[2018-05-05 14:42] NANAENGLISH commented on #16645
`<body>
  <header>
    <h1>Real Coding Ninjas</h1>
  </header>
  <main>
    <p>A sound clip of Zersiax's screen reader in action.</p>
    <audio id="audio/mpeg" controls>
      <source src="https://s3.amazonaws.com/freecodecamp/screen-reader.mp3"type="audio/mpeg">   </audio>

</main>
</body>
`

[2018-05-05 15:51] clandau opened #17128 "[BETA] QA and testing with Chai first test fails in test if a value is a string when using glitch boilerplate"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/quality-assurance-and-testing-with-chai/test-if-a-value-is-a-string

#### Issue Description
First test "all tests should pass" fails when using the glitch boilerplate.

This is because it tests for a NODE_ENGINE env value which does not exist in the glitch boilerplate, so it's returning undefined.  A user can fix this manually by addi

[2018-05-05 16:03] QuincyLarson opened #17129 "Find user records without an "email" property, infer one from their Google/Facebook/LinkedIn auth records, and add that to their profile."

[2018-05-05 16:35] QuincyLarson commented on #17115
@raisedadead @Bouncey Here is the script we're using to extract the email addresses of currently subscribed campers from the production database: https://github.com/freeCodeCamp/scripts/blob/master/get-emails.js

[2018-05-05 19:37] QuincyLarson commented on #17123
@raisedadead Once we've built the JSON we want to output, I believe we can just use Pug like this for the button to initiate the file download:

[code]

[2018-05-05 19:38] byerchl commented on #14089
I've passed the challenge but I wasn't sure at all! I just decided to made a container-fluid inside the style element and after the end of the style I proceeded to put a div with the container-liquid class and put the closing tag at the end of the code. But still I think I didnt really get it. I only put the <div> before the <h2> until the end because those parts are what I thought the 'all' HTML

[2018-05-05 19:39] Oyelowo commented on #16661
I also can't seem to find the certificate for the javascript algorithms and data structures:
![image](https://user-images.githubusercontent.com/31687368/39666972-36b82484-50b5-11e8-952c-a9c926f61cb0.png)

[2018-05-06 01:45] QuincyLarson commented on #17129
Notes about campers without email addresses in their file:

- We have 217728 records with no (or null) email attributes. Many of these have email addresses from their Facebook/LinkedIn/Google authentication.
- 960 records that have a githubEmail property but no email property. We could copy the `githubEmail` property over to `email`. You can retrieve these with this query:

[code]

[2018-05-06 05:59] NadeemGorsi opened #17130 "FreeCodeCamp and FreeCodeCamp Profiles don't link to each other."
Hi contributors,
FreeCodeCamp Camper profile and Forum profile should be linked to each other.
Currently custom link can be added to forum profile. But that can not be understood for being link to FCC camper profile that link is treated as a general link.

Like these twitter , github and linkedin links are more self-explanatory, require less attention , one knows what she/he is about to visit befo

[2018-05-06 08:26] smsrkr commented on #16679
My certificate checkpoint is still marked as complete.

[2018-05-06 13:11] Asjas commented on #14089
Hi @byerchl

Please use our [freeCodeCamp Forum](https://forum.freecodecamp.org/) or [freeCodeCamp Gitter](https://gitter.im/FreeCodeCamp/HelpFrontEnd) for help queries.

Github is used for reporting issues.

[2018-05-06 14:23] Dereje1 opened #17131 "[Beta] All API and Microservice Projects pass for any url submission"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/api-and-microservice-projects/timestamp-microservice
https://beta.freecodecamp.org/en/challenges/api-and-microservice-projects/request-header-parser-microservice
https://beta.freecodecamp.org/en/challenges/api-and-microservice-projects/url-shortener-microservice
https://beta.freecodecamp.org/en/challenges/api-and-microservice-project

[2018-05-06 21:36] victorhmp commented on #16976
Sorry, I couldn't understand what is the actual issue.
What should the data from the API look like?

[2018-05-07 03:43] Ildarik opened #17134 "Improve tests for challenge"
#### [Access Props Using this.props](https://beta.freecodecamp.org/en/challenges/react/access-props-using-thisprops)

#### Issue Description

We need to improve tests because if I type props *without curly braces* it pass the challenge
` <p>Your temporary password is: <strong>this.props.tempPassword</strong></p>`

[2018-05-07 07:54] iarobinson opened #17135 "Gamification Improvement - Congratulations on Front-End Development Cert"
#### Challenge Name - Claim Your Front End Development Certificate

#### Issue Description
After someone works so hard to achieve this point, it might be cool to have some sort of unlisted YouTube video from Quincy congratulating the students on their hard work.

From my personal experience, it feels so good to reach this point and if there was a little video or something, it would have been great

[2018-05-07 12:56] raisedadead commented on #17131
/cc @tchaffee @Em-Ant

[2018-05-07 12:59] raisedadead commented on #17135
/cc @QuincyLarson

[2018-05-07 16:18] Anil1203 commented on #7296
<style>
  .red-text {
    color: red;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
<p style="font-size:16px;">Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip the couch sleep in the sink fl

[2018-05-07 17:17] akubie opened #17137 "[BETA] CSS Grid Auto-Fill TYPO"
#### CSS Grid: Create Flexible Layouts Using auto-fill
https://beta.freecodecamp.org/en/challenges/css-grid/create-flexible-layouts-using-autofill

#### Issue Description
There is a small typo in the CSS class name.

'container 2' needs to be changed to 'container2', this way the user can see the differences between using auto-fill and not using it. (see pictures below)

#### Your Code

[code]
###

[2018-05-07 17:42] erictleung commented on #17130
Here's the production front-end code for the icons for people interested in contributing.

https://github.com/freeCodeCamp/freeCodeCamp/blob/b7e89e698ff1a0be216519732c975b6f3a7410cb/server/views/account/show.jade#L31-L37

But I think the changes should apply to the beta more, and I think here's the JSX code that'll need to be changed for this feature.

https://github.com/freeCodeCamp/freeCodeCamp/

[2018-05-07 18:46] raisedadead commented on #17137
Its already `container2` for me:

![image](https://user-images.githubusercontent.com/1884376/39718789-f75d3db4-5254-11e8-884a-a621acb96635.png)

Can you check in an incognito window, and confirm?

[2018-05-07 19:59] #17129 closed

[2018-05-07 20:08] manjeet5 commented on #17134
I understand this bug.  I will work on the issue.

[2018-05-07 20:13] #17117 closed

[2018-05-07 20:17] #17119 closed

[2018-05-07 20:20] QuincyLarson opened #17138 "Code welcome page"

[2018-05-08 02:01] akubie commented on #17137
Hmmmm maybe I hit the space bar? I've already solved the problem so I do not know how to go back and see if there is actually an error in the original.

[2018-05-08 03:14] raisedadead commented on #17137
You could use an incognito window?

[2018-05-08 03:15] #17137 closed

[2018-05-08 06:51] Fahmisyahya opened #17139 "Make Images Mobile Responsive"
Challenge [Make Images Mobile Responsive](https://camp.semarangjs.org/challenges/make-images-mobile-responsive#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobste

[2018-05-08 16:13] raisedadead commented on #17139
Hi @Fahmisyahya thanks for the report, but we do not support issue reports for forks or clones of this project. Please reach out to them.

[2018-05-08 16:13] #17139 closed

[2018-05-09 00:09] #17077 closed

[2018-05-09 01:53] ArcaneHunter commented on #17034
The error "emphasize the text in your target4 by adding html tags, shouldn't appear, I actually changed the color. Only the second error should show, "make sure the text is otherwise unchanged" since I change the color and the text, That is what I am suggesting to fix, I spent almost 1 hour trying to fix the color before seeing that I only thing I needed to fix was the text not the color.

[2018-05-09 04:31] iabrenne commented on #16958
Thank you, @raisedadead .  I am looking into the console.log issue now to see if we can get FCC browser console to show console.log output, as advertised :)

[2018-05-09 06:56] dardandemiri commented on #7925
@JohnnyCheung1989 look at my progress since the bug ruined my streak :(
![image](https://user-images.githubusercontent.com/6118247/39800074-e4c61514-5366-11e8-8590-641dafb6bb72.png)

[2018-05-09 10:02] Fahmisyahya opened #17141 "Escape Sequence in String"
Challenge [Escape Sequences in Strings](https://camp.semarangjs.org/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%20%3D%20%22firstLine%5C%5C%5Ct%5CtsecondLine%5Cr%5CnthirdLine%22%3B%20%2F%2F%20Change%20this%20line%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; rv:59.0) Gecko/20100101 Firefox/59.0</code>.
Please describe how to reproduce this issue, and includ

[2018-05-09 16:49] iliasTsiortas commented on #16325
Is someone working on this issue?Because i would like to give it a try.I can also try to make a message telling students about the use of ES6 as @no-stack-dub-sack suggested.

[2018-05-10 04:11] Yishin26 opened #17143 "Didn't receive F2e certification (the web account have bug)."
#### Issue Description

I finished all the challenges and click claim, but I don't receive the certification.

#### Screenshot

![a](https://user-images.githubusercontent.com/8706627/39851874-22dd03e0-544c-11e8-9ab7-c3fecc9894a0.png)

[2018-05-10 18:45] QuincyLarson commented on #16963
I am completely rewriting our privacy policy.

At this point, we only plan to release open data where:
- the data is completely public (like the Gitter chat logs were) or
- it's data from a survey or something where the participant clearly opted in.

At this point, we do not plan to release freeCodeCamp.org user data as open data in the future.

[2018-05-10 18:45] #16963 closed

[2018-05-10 18:47] QuincyLarson commented on #17135
@iarobinson This is an awesome idea!

I do send out an email to everyone who completes all three certificates, and a lot of people reply to that email and it the basis for much longer discussions about career plans and open source contributions.

I will consider also creating a video for this next time I get a chance (I would want it to have good sound and lighting, and I don't actually own any A/

[2018-05-10 18:47] #17135 closed

[2018-05-10 18:48] QuincyLarson commented on #16325
@iliasTsiortas To my knowledge no one is actively working on this. Yes - go ahead and tell your students, and if you feel up for it, we would welcome your help with updating these lessons accordingly :)