[2017-07-15 12:55] vikramnr opened #15651 "Loop Protect Error-Finding length of the word in the string"
#### Challenge Name
[Find the Longest Word in a String](http://beta.freecodecamp.com/en/challenges/basic-algorithm-scripting/find-the-longest-word-in-a-string) has an issue.
#### Issue Description

#### Browser Information

User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64; rv:54.0) Gecko/20100101 Firefox/54.0</code>.

#### Screenshot

#### Your Code
[code]

![image](https://user-images.gith

[2017-07-15 13:00] vikramnr commented on #15648
`mangoDb `setup is somewhat confusing for window and that is one place I got stuck and even still now also. May be few screen shoots will help.

[2017-07-15 13:53] F4ndomGh0st commented on #15300
Using return will print to the "console" under the instructions all the same.

[2017-07-15 15:14] AdelMahjoub commented on #15598
## Weather forecast proxy helper
### Usage
**replace** `https://api.darksky.net`

**by**        ` https://proxy-forecast.glitch.me`

The query params and the querystring are the same as the [draksky docs](https://darksky.net/dev/docs/forecast)

***expect*** the user should not provide his/her `dark sky key`

Only works for `forecast` not the `time machine`

### Caching
Responses are cached for one

[2017-07-15 16:14] raisedadead commented on #15648
@yogaboll @vikramnr yup, we need to keep the guide OS-agnostic but they will be (ad have been added as OS specific guides). Thanks, We'll take this into account.

[2017-07-15 16:42] MiloATH commented on #15598
@marigerr That is interesting. It is hard for me to test that error because I don't have that ad blocker. Do you have suggested code?

We could default to use HTML5 Geolocation, but the we wouldn't have the city.

[2017-07-15 17:02] raisedadead commented on #15598
@marigerr @MiloATH we will not be fixing any pens or codes etc, to specifically check for ad-blockers, it's beyond the scope of the assistance that we can provide.

It's up to users to be aware of such caveats

[2017-07-15 17:12] #15611 closed

[2017-07-15 17:22] MiloATH commented on #15598
@raisedadead can this issue be closed or is something still missing? `backup/master` has been updated.

[2017-07-15 17:43] raisedadead commented on #15598
@MiloATH oh yes, thanks. I missed your comment earlier.

[2017-07-15 17:43] #15598 closed

[2017-07-15 19:16] marigerr commented on #15598
@MiloATH @raisedadead I was looking at this a little bit closer.   The instructions on the weather app challenge recommend for the user to use HTML 5 geolocation to get user's location.   But the example codepen app uses ipinfo.io to get the user's Lat Long.    I wonder if it would be better to have the example project use the HTML 5 geolocation that is recommended in the instructions.   Ipinfo.io

[2017-07-15 20:47] juliterlegis commented on #13806
I am also having issues with FCC in Firefox browser...

1. Submit haphazardly displays passing animated gif; inconsistent.
(Could this have something to do with the new phrases suggested by campers, that may possibly be uploaded?)
2. "Responsive Design w/ Bootstrap": skipped over my incorrect placement of `<div>` tag.
3. When I log in to FCC, I get redirected to "JavaScript Arrays" ???

Not that a

[2017-07-15 22:51] nsuchy commented on #9886
@AuroreM The issue is still open so yes.

[2017-07-16 02:39] d33con opened #15652 "Find longest word in a string function naming"
#### Find the Longest Word in a String

https://beta.freecodecamp.com/en/challenges/basic-algorithm-scripting/find-the-longest-word-in-a-string

#### Issue Description
The function name `findLongestWord` is a little misleading as the challenge asks to return the length of the word not the word itself. How about `findLongestWordLength` instead?

[2017-07-16 02:55] username1001 opened #15653 "Bug on forum.freecodecamp.org"
Not exactly sure if this is the correct place to post, but I've noticed a bug on the forum website.

Issue:
While looking through a thread, I wanted to follow the conversation, so I clicked the "reply" to see who replied, and what they said. Previously, it indeed showed the replies. But on a specific post, with each "reply" clicked, it just added the content again, on the page. So basically, with

[2017-07-16 03:13] #15630 closed

[2017-07-16 04:59] marigerr commented on #15598
Here is a altered version of the example pen that uses HTML5 geolocation instead of ipinfo.io
It uses the new api at fcc-weather-api.glitch.me
https://codepen.io/marigerr/full/mwgVoJ/

[2017-07-16 06:37] raisedadead commented on #15598
@marigerr I have updated the pen. Thanks for working on this.

[2017-07-16 06:38] raisedadead commented on #15653
Issue moved to [freeCodeCamp/discourse #41](https://github.com/freeCodeCamp/discourse/issues/41) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-16 06:39] #15653 closed

[2017-07-16 07:25] vikramnr commented on #15652
Were you able to complete the challenge?

[2017-07-16 07:51] usmandap commented on #15652
@d33con Yes he is right function name should be  findLongestWordLength() instead of findLongestWord(). Let me know if I can fix this issue I am a new contributor just started open source developement.

[2017-07-16 09:03] cowCrazy opened #15654 "ES6: Set Default Parameters for Your Functions - console.log() fix"
#### Challenge Name
[ES6: Set Default Parameters for Your Functions](http://beta.freecodecamp.com/en/challenges/es6/set-default-parameters-for-your-functions)

#### Issue Description
It is confusing that showing `console.log(increment(5)); // returns NaN` although it shouldn't be NaN, it should simply return `number + 1`, in this case 6.

#### Browser Information

* Chrome 59.0.3071.115 (Official

[2017-07-16 12:53] roborache opened #15655 "Return value calculates without argument"
#### Return a Value from a Function with Return

https://www.freecodecamp.org/challenges/return-a-value-from-a-function-with-return

#### Argument is taken wrong

The task was to create a function timesFive that accepts one argument, multiplies it by 5, and returns the new value.

But even tho I didn't write :
function timesFive(num) {
  return num * 5;
}
timesFive(5);
----------------------------

[2017-07-16 13:24] raisedadead commented on #15655
Hi, this is okay and valid actually. Here is how the test cases work:

They look for the definition of the function in your code which you have correctly done and then they execute it in the background.

But that said this challenge needs to have an additional test to check for a function call as well to avoid this confusion.

[2017-07-16 13:34] KamonLeigh opened #15656 "Can't log in all my progress since isn't showing"
I was reviewing my javascript and then I received a pop to sign in. I then proceeded then I was asked look in and I was refused. When I tried log in it refused my user name KamonLeigh. I then went reset my password. Followed the link and logged and now all my work is gone and now I have a new profile. This is frustrating as just done exercises in the Basic Algorithm. When I go on web page which ha

[2017-07-16 14:48] erictleung commented on #15656
@KamonLeigh thanks for the issue. Sorry to hear you're having account issues. I'd email team@freecodecamp.com to hopefully get a solution.

cc/ @QuincyLarson

[2017-07-16 14:52] nsuchy opened #15657 "Understanding Uninitialized Variables | Allows you to edit variable directly below allowed edits line."
#### Challenge Name
Understanding Uninitialized Variables

#### Issue Description
The challenge allows me to skirt actually solving the challenge and edit the variable directly. This defeats the purpose of the challenge and should be updated as appropriate.  You should only be allowed to edit above the line otherwise a user may pass the challenge without understanding the actual concept.

#### Att

[2017-07-16 15:21] d33con commented on #15652
No bug, it doesn't affect the completion of the challenge. It's purely for clarity. I was going to suggest fixing as I too am looking for something like this as I've never contributed before but if @usmandap has called first then I don't mind.

[2017-07-16 15:53] jhomme opened #15658 "Accessibility: Please add main landmark to indicate where main content starts exercise screens for more efficient Navigation"
#### Challenge Name

#### Issue Description

Using any screen reader, go to an exercise screen and navigate by landmark. There is no main landmark, so that the user can skim over the top portions of pages to get to the top of the exercise content quickly.

In Windows, using NVDA, use D to navigate downward and SHIFT+D to navigate upward..

On Mac, using VoiceOver, when on web content, use Option+C

[2017-07-16 15:59] raisedadead commented on #15656
/cc @BerkeleyTrue

[2017-07-16 16:22] BerkeleyTrue commented on #15656
Please email team@freecodecamp.com and we will see what we can do.

Happy Coding

[2017-07-16 16:22] #15656 closed

[2017-07-16 17:12] anku255 commented on #15651
@vikramnr I copy and pasted your code in beta site and your code passed all of the tests. Can you please check again?
![image](https://user-images.githubusercontent.com/22813027/28249623-c4fad410-6a76-11e7-9008-d5abedf02284.png)

Also I would like to suggest a minor improvement in your code. You don't really need the "else" part.  You can remove the else block and it will still pass all the tests.

[2017-07-16 19:17] m-henderson commented on #15609
I work fix this asap. Will update you all when it is taken care of.

[2017-07-16 23:17] mobesa opened #15659 "[FCC Beta] Test suite failing on SASS Challenge (Use @each to Map Over Items in a List)"
#### Challenge Name
[Sass: Use @each to Map Over Items in a List](https://beta.freecodecamp.com/en/challenges/sass/use-each-to-map-over-items-in-a-list)

#### Issue Description
The test suite for this challenge should verify that:

- the `.blue-bg` class should have a `background-color` of blue,
- the `.black-bg` class should have a `background-color` of black,
- and the `.red-bg` class should hav

[2017-07-16 23:29] mobesa commented on #15659
I also have to mention that the SASS code I submit doesn't work (ie doesn't compile into the CSS)... But that's whole other issue...

[2017-07-17 01:24] ed42311 commented on #15242
alright so i got that ^ . Took a minute had to drop it and then come back which is mostly what took the time...   also git squash is a new thing which I will have to review.  Let me know where to go from there....

[2017-07-17 02:21] #12992 closed

[2017-07-17 02:26] Manish-Giri commented on #13871
@MiloATH Yeah, I'll look at this.

[2017-07-17 02:31] Manish-Giri commented on #15655
I'll take this up.

[2017-07-17 10:34] jimtryon commented on #15620
Why did you close the issue? It still is not loading any of the HTML on the right side

[2017-07-17 16:51] #13785 closed

[2017-07-17 18:50] tehDrew commented on #15620
Meant to reopen it; the "beta" tag wouldn't stick for some reason (on my
phone).

On Jul 17, 2017 5:38 AM, "Jim Tryon" <notifications@github.com> wrote:

Why did you close the issue? It still is not loading any of the HTML on the
right side

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub
<https://github.com/freeCodeCamp/freeCodeC

[2017-07-17 19:30] antonioalmeida commented on #15562
It's probably meant to link to the Medium publication - https://medium.freecodecamp.org/

[2017-07-17 20:25] mstellaluna commented on #15546
closing issue, no update since 21 days.

[2017-07-17 20:25] #15546 closed

[2017-07-17 20:47] knight2 opened #15662 "Beta - Test Case Broken - Sass: Use @for to Create a Sass Loop"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/sass/use-for-to-create-a-sass-loop?

#### Issue Description

The test case for this challenge is broken.

SASS does not appear to be working for the in browser editor, as hitting submit doesn't properly show the SASS changes.

Using an editor like codepen that has sass configured will show that the code does what is instructed.

FCC s

[2017-07-17 20:58] knight2 commented on #15659
@mobesa I also experienced this issue.

Problem is with SASS not working on FCC.

[2017-07-17 23:33] #12753 closed

[2017-07-17 23:33] #14114 closed

[2017-07-18 00:48] gwenf commented on #14595
@amasad Hey. Have you been able to run tests as a student?
If you have, would you mind sending me whatever sample testing you have that's working?
Thanks.

[2017-07-18 01:22] m-henderson commented on #15609
do you have the url to the form that needs to be changed ?

[2017-07-18 01:26] m-henderson commented on #15609
Looks like the get a hint button needs to be directed to this url: https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-accessing-nested-objects-in-json

[2017-07-18 02:16] vikramnr commented on #15651
@anku255  Yes its passing the test now. Thanks for the suggestion.  But how is possible. Is it browser refresh/cache  stored .?

[2017-07-18 02:39] #15651 closed

[2017-07-18 08:58] evaristoc opened #15663 "Google Analytics not tracking `www.freecodecamp.ORG`?"
It seems that Google Analytics is still tracking `www.freecodecamp.COM`.
![currentpropertysettingsga](https://user-images.githubusercontent.com/5592713/28308537-c5fdfa64-6ba6-11e7-8061-05b3c6ad95f5.png)

There is still substantial activity through the `*.com`  according to Google Analytics. Apparently Google Analytics is not registering information coming from `*.org`?

The reason why I think the

[2017-07-18 14:00] Greenheart commented on #14832
@erictleung I agree, `Object.freeze()` should not be included in this challenge. However, it would be a great follow up to this challenge - immutable objects and arrays are really useful knowledge.

If this challenge is created, should we perhaps open a separate issue for it?

@QuincyLarson How about something like this:

`Object.freeze()` prevents any further changes to an object. This includes a

[2017-07-18 18:11] Talkingbaby commented on #15586
Whatever error checking system fcc is using it mentions that use strict should be within function scope. Like this: function() {'use strict';}; So the first line of the function has use strict and the rest of the code comes after. That would mean the santa variables would have to go inside the function as well. Not really sure if that is what fcc wants though. Also for these activities check the e

[2017-07-18 19:30] QuincyLarson commented on #15588
@GeoDoo have you had a chance to start working on this?

[2017-07-18 20:15] dhcodes commented on #15099
This is the file: https://github.com/freeCodeCamp/freeCodeCamp/blob/f4443e16dd5afd01af51c8825794f9e3edc00499/common/app/routes/challenges/views/step/Step.jsx

I messed around a bit, but couldn't figure out what is causing it to render two different ways (the normal way and then the incorrect way on refresh).

[2017-07-19 00:17] erictleung commented on #14065
@johnrayworth thanks for the issue and sorry to taking so long to get back to you about this. Have you tried night mode? If you go to Settings, you can turn on night mode, which might be helpful when projecting on a white board.

![image](https://user-images.githubusercontent.com/2754821/28345103-b8b92122-6bdc-11e7-92a3-0270e4c17625.png)

There is also a hotkey combination of `g t n` that will als

[2017-07-19 01:37] fivefishstudios commented on #15616
My suggestion is to add a hint/link to the function .hasOwnProperty() in the instructions.

[2017-07-19 01:44] MiloATH commented on #15447
Hi @ugrinovs

Thanks for reporting this issue. We recently built a FreeCodeCamp weather API. Pleases consider using that API. Here is the link: https://fcc-weather-api.glitch.me. The FreeCodeCamp codepen has been updated.

Here are some next steps that you should follow before we can help you with your query:

* Check [these troubleshooting steps](https://forum.freecodecamp.com/t/how-to-report-a-b

[2017-07-19 01:46] MiloATH commented on #8214
@raisedadead I think this issue can be closed due to #15598

[2017-07-19 02:28] Marmiz commented on #15616
I remember myself being stuck on it for more than I like to admit the first time I looked at it.

I think this challenge has 3 main difficulties:

- *no suggested method*: this can easily be tackled by adding a link to `hasOwnProperty()` as @fivefishstudios suggested.

- *using square brackets over dot notation*: this may be obvious for more experienced coders, but many beginner don't realise the

[2017-07-19 02:59] andreagoulet opened #15664 "Move Fahrenheit Variable Below Comment Line"
#### Convert Celsius to Fahrenheit
https://www.freecodecamp.org/challenges/convert-celsius-to-fahrenheit

#### Issue Description
There's an inconsistency between the forum solution to this module and the needed solution. In order to get the tests to pass, you need to modify the Fahrenheit variable, but it's above the comment that says to only modify code below that comment.

My proposed solution i

[2017-07-19 03:29] juliativas opened #15665 "Page unresponsive"
#### Challenge Name

https://www.freecodecamp.org/challenges/sum-all-odd-fibonacci-numbers

#### Issue Description
I was trying to solve this challenge, wrote some bad code, and the tab became unresponsive. The worst part of it is that every time I load fCC page, this page loads and freezes, so I can not delete the code. How do I get fCC to work again? Restarting browser, logging out/in, and resta

[2017-07-19 04:19] Marmiz commented on #15665
Looks like you started an infinite loop.

To prevent the page from auto-running the code, thus make it unresponsive try to add
`?run=disabled` at the end of the url.

other solutions can be found here:
https://forum.freecodecamp.org/t/free-code-camp-infinite-loop-protection/19550

Hope it helps 👍

[2017-07-19 04:37] Marmiz commented on #15664
I guess that the variable declaration at the top was placed there either to ease the testing or to help campers have a structure to start working with.

What probably many new coders don't consider is that the solution can simply be achieved by a basic value assign:
[code]

Then again I've seen this confusion happening before so I guess we could consider re-write the seed code as you proposed to l

[2017-07-19 04:46] TSNelson opened #15666 "Test Failure in Coding Interview Data Structure Questions: Perform a Union on Two Sets"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/perform-a-union-on-two-sets

#### Issue Description

Tests indicate that the union method fails to return the proper collection.
Console window on the page reads:
// running test
"this.has is not a function"
// tests completed

Tested two different implementations of union, one mutating a set

[2017-07-19 05:04] #8214 closed

[2017-07-19 05:04] #15447 closed

[2017-07-19 05:05] raisedadead commented on #15665
Thanks @Marmiz , @juliativas please follow the steps as mentioned above.

[2017-07-19 05:05] #15665 closed

[2017-07-19 05:06] raisedadead commented on #15663
/cc @QuincyLarson

[2017-07-19 05:09] GeoDoo commented on #15588
@QuincyLarson

I started working when suddenly it got more complicated! The thing is now I am in the middle of relocating to another country so I do not have the time to finish what I started quickly..

If you are in a rush please feel free to assign it to someone else! I might be able to start again in two weeks! Sorry for the delay.

So far it s been a rewarding and insightful experience! Thanks

[2017-07-19 05:32] ritesh-pandey commented on #15666
`this.values().forEach(result.add);`

`add` method expects to be called on objects of type `Set`. Here, in `forEach` callback, `this` will be array returned by `this.values()`

[2017-07-19 06:54] TSNelson commented on #15666
Sorry, my error. I tested it with a different implementation of add where I didn't encounter the same problem. I confirmed that was the issue.

[2017-07-19 06:54] #15666 closed

[2017-07-19 07:33] erictleung commented on #15664
@andreagoulet thanks for the issue and feedback.

I'm able to pass the challenge with all variations on how the equation is placed (with the initial `var fahrenheit`, with a `fahrenheit = ...` on another line, etc), so I'm not sure what bug there is from the challenge not working correctly.

I agree that the forum wiki and the challenge itself should be consistent :+1:

We can make it cleaner on w

[2017-07-19 08:46] gregorywong commented on #15294
Same here.

macOS 10.11.6
Chrome Version 59.0.3071.115 (Official Build) (64-bit)

[2017-07-19 09:57] microfacticalGtm commented on #14089
"Make sure you have nested all HTML elements in .container-fluid." I don't understand.

[2017-07-19 10:57] Greenheart commented on #15567
To avoid checking for all valid color values, maybe we could compare the computed color by getting the actual anchor element and comparing it's styles with the expected color? If we know that the browser stores computed colors in format Y for example, we only have to do one comparison.

I'm not sure if it's possible to find the computed css for hover states though. I assume the `<DOMElement>.style

[2017-07-19 11:08] Greenheart commented on #15131
I think we could add a `break` statement to the default case to make it clearer.

The fact that it's possible to omit `break` statements in some cases (for the last `case`, for `default` or when using `return` in case blocks) is a detail that campers can learn in the future.

I'd say we can open this for first time contributors! 🙂

[2017-07-19 11:10] isehrob commented on #15620
Hi all! I'm working on this issue.

[2017-07-19 15:21] edgevoid commented on #15657
Hi there , please excuse me if i am wrong. We can initialize the variable as below for the the above output

a = 5 ;
b =10 ;
c = 'I am a';

[2017-07-19 17:03] tehDrew commented on #15620
Thanks, Sehrob!

On Jul 19, 2017 6:14 AM, "Sehrob" <notifications@github.com> wrote:

[2017-07-19 19:11] QuincyLarson commented on #15663
@raisedadead I've updated the default URL in Google Analytics to www.freecodecamp.org. It doesn't seem to have changed anything in the realtime stats. My understanding is that Google gets this information from the UA code, and the domain doesn't really matter.

I think some traffic is still going to www.freecodecamp.com - @BerkeleyTrue configured it to gradually shift traffic over to freecodecamp.

[2017-07-19 19:11] #15663 closed

[2017-07-19 20:03] QuincyLarson commented on #15613
Thank you for your feedback everyone. My general impression from reading through everyone's feedback is that we should leave the chatrooms as they are. I will close this and we may revisit this at some point in the future. Happy coding!

[2017-07-19 20:03] #15613 closed

[2017-07-19 20:18] QuincyLarson commented on #15636
@raisedadead @nsuchy I think we should first rely on the freecodecamp.org/contribute page directing people to these categories ("project feedback" and "help") instead of putting them in the navigation.

[2017-07-19 20:18] #15636 closed

[2017-07-19 20:40] QuincyLarson commented on #15613
Several campers have pointed out that coding-jobs is mostly spammers coming in to try and trick campers with dubious job offers. So the one action I'm going to take is to close that room. If anyone is interested in talking about getting a developer job, [we have a popular forum category for that](https://forum.freecodecamp.com/c/getting-a-developer-job?order=views), and it's easier to moderate.

[2017-07-20 05:07] QuincyLarson commented on #15474
@texas2010 Thanks for your patience, and for fixing this. I think we can leave backup/master as-is for now.

[2017-07-20 05:07] #15474 closed

[2017-07-20 07:20] raisedadead commented on #15663
Perfect thanks @QuincyLarson !

[2017-07-20 11:44] evaristoc commented on #15663
@QuincyLarson @raisedadead

Now I can see both - *.com and *.org - in the reports. I was expecting that but I was not sure, this is why asked for a test, but nice that resulted in what I wanted!

Thanks for dealing with my request.!

[2017-07-20 11:52] byrdndocean commented on #4956
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
<p class="red-text">Purr j

[2017-07-20 11:56] byrdndocean commented on #4956
Put your comment tags around the google link at the top

[2017-07-20 13:31] QuincyLarson opened #15669 ""Ask for help" button that pre-populates forum post"
# User story
As a user, if I need help with a challenge, I can click a "Ask for help on the forum" button. A modal will pop up with the following text:

"If you've already tried [the Read-Search-Ask Method](https://forum.freecodecamp.org/t/the-read-search-ask-methodology-for-getting-unstuck/137307), then you can ask for help on the freeCodeCamp forum." [Create a help post on the forum]

A new tab

[2017-07-20 13:56] lricoy commented on #15669
I can tackle this as a first-timer here if it's up for grabs.

[2017-07-20 13:57] prateekgoel commented on #15664
I agree with @erictleung .
I would like to have a chance to work on this.
I am working on this and will submit a PR soon.

[2017-07-20 14:23] QuincyLarson commented on #15617
@Margaret2 @Manish-Giri Yes - that sounds great. If you think it's a matter of people misunderstanding the challenge, then we should make try to make the instructions more clear. Then we can revisit the challenge after a week and see whether time to complete went down.

[2017-07-20 14:24] QuincyLarson commented on #15615
@Margaret2 Thanks for your feedback. Do you think we need to move it further back in the section?  Or perhaps to the algorithm section?

[2017-07-20 14:26] QuincyLarson commented on #15618
@MiloATH yes - that is a great suggestion. I think leaving all the names is fine but we should pre-populate the array with the names. Since this was your suggestion, would you be interested in tackling this and submitting a PR?

[2017-07-20 14:27] QuincyLarson commented on #15669
@lricoy Sure - take a crack at it. Let us know if you need any help.

[2017-07-20 14:37] MiloATH commented on #15618
Yes, I would like to tackle this and submit a PR.

[2017-07-20 14:52] raisedadead commented on #15669
@QuincyLarson this is already implemented. It was removed most probably when we updated production and staging.

Please check
https://github.com/freeCodeCamp/freeCodeCamp/pull/15488
https://github.com/freeCodeCamp/freeCodeCamp/pull/14979

[2017-07-20 14:53] raisedadead commented on #15669
We just need to add this back to the view. @padulam did some awesome implementation of it.

[2017-07-20 16:18] QuincyLarson commented on #15562
Thanks for raising this issue. Sorry it took me so long to notice this issue. I've fixed this.

[2017-07-20 16:18] #15562 closed

[2017-07-20 16:30] QuincyLarson commented on #15131
I agree with @raisedadead that adding additional explanation might just confuse campers. I agree with @Greenheart that the simplest thing to do would just be to add the break statement.

This is in keeping with our philosophy that we should try to communicate as little as absolutely necessary to get through the challenge, so as not to daunt or overload campers.

I've added the first-timers-only la

[2017-07-20 16:41] QuincyLarson commented on #15669
@raisedadead This was indeed implemented for reporting bugs. But this is a different use case. We are trying to help campers who are stuck - not necessarily those who've encountered bugs.

I don't think we should even have a button in the UI to report bugs, because most bugs we receive from campers are just attributable user error. Instead, we should assume it's a help issue, and if the person who

[2017-07-20 16:46] jonathanihm commented on #15131
@QuincyLarson we could make this change and add a side note somewhere saying that it's optional

[2017-07-20 16:51] raisedadead commented on #15669
Thanks @QuincyLarson that clarifies it.

[2017-07-20 17:10] QuincyLarson commented on #15588
@GeoDoo OK - thanks for your fast response, and good luck with your move. We'll hope for future contributions from you once you get settled down :)

This challenge is now unclaimed. Anyone want to tackle it?

[2017-07-20 17:17] QuincyLarson commented on #15616
@Marmiz Excellent - thank you for this detailed analysis. Would you be interested in improving the copy to make it clearer?

Also, would you be interested in creating a `hasOwnProperty()` article for our guide? Then we can link to that. There isn't currently a stub for this yet. If you're interested, you can create an article for it. Please let me know if I can help with this. Here's the list of J

[2017-07-20 17:19] QuincyLarson commented on #14832
@erictleung have you had a chance to update this challenge?

[2017-07-20 17:21] QuincyLarson commented on #15648
@yogaboll Please take a look at https://forum.freecodecamp.org/t/how-to-clone-and-setup-the-free-code-camp-website-on-a-windows-pc/19366

How are these instructions? Feel free to update them.

[2017-07-20 17:34] QuincyLarson commented on #15648
@raisedadead Our CONTRIBUTING.md file is pretty clear, and I've even heard of other projects using it as an example. I don't think it's the limiting factor.

I think the real reason why we're not getting more contributions is because of the beta-production split. Once we resolve this, contributors will be able to more tangibly see their contributions.

[2017-07-20 17:37] QuincyLarson commented on #15625
I agree with @BerkeleyTrue think the benefits from encouraging campers to link GitHub outweigh the costs (especially considering this is completely optional).

We should go back to the short usernames we're using in production though, instead of these ridiculously long UUIDs. @raisedadead Would you be interested in fixing this on staging?

[2017-07-20 17:38] QuincyLarson commented on #14025
@knight2 can you verify whether you're still experiencing this issue? Is anyone else experiencing this still?

[2017-07-20 17:39] QuincyLarson commented on #13798
@raisedadead agreed. Could you create a separate issue that explains these issues - preferably with a checklist of things we can do to optimize our CSS?

[2017-07-20 17:41] QuincyLarson commented on #15131
@jonathanihm OK - I think we should just leave out the "optional" part. We don't tell campers that semicolons are optional, even though some developers argue that they are. IMHO The convention should be to include this for clarity.

[2017-07-20 17:53] jonathanihm commented on #15131
@QuincyLarson I agree, I was just making a suggestion as this situation is not like semi-colons, as those are usually best practice and adding a break in the last case of a switch isn't.

[2017-07-20 18:25] knight2 commented on #14025
@QuincyLarson Just tested it again and now it passes without any problems.

[2017-07-20 18:57] augmt commented on #14025
@QuincyLarson I can still reproduce this issue via [erictleung's procedure](https://github.com/freeCodeCamp/freeCodeCamp/issues/14025#issuecomment-287895294), mentioned above. I think the culprit is #14252.

[2017-07-20 19:15] dhcodes commented on #15588
PR submitted.

[2017-07-20 19:35] prateekgoel commented on #15616
@QuincyLarson I would like to work on this if @Marmiz is not working on this.

[2017-07-20 19:42] prateekgoel commented on #15615
@QuincyLarson I think we should move it after the "Profile Lookup" challenge in the same section.

[2017-07-20 19:47] GeoDoo commented on #15588
@QuincyLarson Thanks for your time and efforts too.

I am looking forward to finally contribute to your codebase!

@dhcodes I think there is a variable with this color! I saw in your commit you hardcoded it!

In general, thanks for the ride so far! Very rewarding feeling you are part of something bigger than you!

[2017-07-20 19:59] dhcodes commented on #15588
@GeoDoo what do you mean by "a variable with this color"?

[2017-07-20 20:27] GeoDoo commented on #15588
I mean instead of #f9f9f9 maybe you should have used a LESS variable!

@dhcodes I am not saying this offensively!! :)

[2017-07-21 02:04] dhcodes commented on #15588
No offense taken. The `main.less` file uses `#f9f9f9` so it will probably be okay.

[2017-07-21 03:18] Marmiz commented on #15616
@QuincyLarson I am happy to help.

I've looked into the JS articles and I believe that, beside an `hasOwnProperty()` article we can expand the `return` (or write a totally new one) related specifically about early return in looping.

Could also be an excuse to talk a bit about planning your code with performance in mind.

@prateekgoel Let me know what you will be working on and I'll pick up (or st

[2017-07-21 08:42] atmosphereasmr commented on #5837
Thank you so much!

[2017-07-21 08:58] GeoDoo commented on #15588
Perfect then! Thanks for the clarification!

[2017-07-21 10:29] marigerr opened #15672 "Name attribute considered obsolete on anchor tags (Beta)"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/basic-html-and-html5/link-to-internal-sections-of-a-page-with-anchor-elements

#### Issue Description

Above lesson,  instructs to use `name` attribute on the target anchor tag.  However I came across a few references that state that using `name` attribute on anchor tags is considered obsolete and that `id` tag should be used instead.

[2017-07-21 11:24] raisedadead commented on #13798
@QuincyLarson sure, I will as soon as we have the new layout in place and consolidate.

[2017-07-21 11:25] raisedadead commented on #14252
/cc @BerkeleyTrue

[2017-07-21 11:26] raisedadead commented on #15625
@QuincyLarson yup, why not. But I will want to hold on till we merge passwordless and I believe that's going to take a day or so.

[2017-07-21 11:34] raisedadead commented on #15648
I cannot deny that, of course. And I am just proposing to make it more streamlined, as in re-arranging the things in a more logical way. The content is good and will win solid points for that, but the verbiage and the consistency sure needs a slight update.

The guide assumes some of the caveats for a new contributor. Plus it needs an update anyway for our more standard patterns like the commit me

[2017-07-21 12:48] prateekgoel commented on #15616
@Marmiz No need to step aside. You can work on this. :) Thanks.

[2017-07-21 16:53] dhcodes commented on #15672
I say go for it!

[2017-07-21 17:22] marigerr commented on #15672
ok great will do! :)

[2017-07-21 18:08] jntme commented on #15131
So we stay with just adding it in the end of the default clause? Because then I'd try to fix it - would be my first contribution to OpenSource ever :)

[2017-07-21 18:11] BerkeleyTrue commented on #15625
@QuincyLarson and @raisedadead this was an intentional change to avoid duplicate usernames.

[2017-07-21 19:27] prateekgoel commented on #15652
Are you working on this @usmandap ?
If not, I would like to work on this.

[2017-07-21 19:38] prateekgoel commented on #15431
@erictleung I think we should keep it as it as and we can have a article linked to https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/floor which will help camper to dig deep and understand the technical terms involved.

If this workaround is fine, I'd like to take this task.

[2017-07-21 20:08] dhcodes opened #15674 "Camperbot PR cooperation with Commitizen"
The recent addition of commitizen to the npm package list means that if you follow the command prompts when making a commit, it will get flagged by camperbot for using an issue number in the commit message when you push the commit.

We should either update camperbot or update our settings on commitizen.

[2017-07-21 20:14] dhcodes commented on #15091
This error is back on staging.

[2017-07-22 06:00] QuincyLarson commented on #15625
@BerkeleyTrue @raisedadead We could use a 16 character hex. With that, we could create more than 600,000,000 accounts before we had even a 1% chance of a namespace collision occurring.

https://en.wikipedia.org/wiki/Birthday_problem#Probability_table

If we choose to continue to use the 32-character hex we're using now, we should remove the dashes, as they make it harder to double click to select

[2017-07-22 06:03] QuincyLarson commented on #14025
@augmt Awesome - thanks for tracking that down. It looks like after 3 months, we have movement on your issue again. Here's hoping we can fix it quickly :)

[2017-07-22 06:05] QuincyLarson commented on #15648
@raisedadead Awesome - sounds good :) I'm looking forward to seeing your suggested improvements.

[2017-07-22 06:08] QuincyLarson commented on #15616
@Marmiz awesome! I agree that this will be a good opportunity to share tips for planning for performance.

@prateekgoel there are a ton of other JavaScript-related concepts we need to cover, if you're interested. [This README can help you get started](https://github.com/freeCodeCamp/guides/blob/master/README.md). We could really use your help :)

[2017-07-22 06:20] QuincyLarson commented on #15669
@lricoy this feature is pretty high-priority. If you've already made progress on this, please let me know. Otherwise I'm going to assign it to another contributor.

[2017-07-22 06:20] Manish-Giri commented on #15617
@QuincyLarson I recently went over what you suggested here about an article on `.hasOwnProperty()` - https://github.com/freeCodeCamp/freeCodeCamp/issues/15616#issuecomment-316771712

Would it be better if I create an article for this challenge as well, instead of creating a new challenge altogether?

[2017-07-22 06:21] QuincyLarson commented on #15674
Agreed. A first-time contributor got this message from Camperbot. @BerkeleyTrue do you have access to Commitizen? If so, could you update its settings?

[2017-07-22 06:30] #15131 closed

[2017-07-22 06:35] QuincyLarson commented on #15617
@Manish-Giri I think there is already an article about this challenge ([currently it's on the forum](https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-word-blanks/18377), and it has been transferred over to Guides. We'll redirect campers to the Guides version of the article when they click the "Hint" button, once Guides is live.

So even with the hint article, this challenge is taking

[2017-07-22 06:36] QuincyLarson commented on #15615
@prateekgoel we are discussing moving Profile Lookup to the algorithms section: https://github.com/freeCodeCamp/freeCodeCamp/issues/15616

Do you think we should move this challenge there as well?

[2017-07-22 06:46] yogaboll commented on #15648
@QuincyLarson I used those instructions when I did the set up and they're fine. I did get confused though, because https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md#setup-freecodecamp has basicly the same instructions, except with mongo-commands that don't work on Windows.

[2017-07-22 06:51] QuincyLarson opened #15675 "Choose 5 algorithm challenges to be required for the new Algorithms and Data Structures certificate"
All of the certificates on beta require completing 5 projects. That is, all of the certificates except the Algorithms and Data Structures certificate, which instead requires completion of about 40 algorithm challenges.

This means we have to have the following text on the map:
![a picture of the text "Challenges required for certifications are marked with a *"](https://www.evernote.com/l/Ar8p1BiJ8

[2017-07-22 07:31] usmandap commented on #15652
@prateekgoel I have to work on it but no one updated me yet. I can fix it as it will be my first open source contribution but I am waiting for an approval. Since @d33con has reported this issue so I am waiting if he is going to fix it or let me give a chance to submit my first contribution.

[2017-07-22 09:50] prateekgoel commented on #15652
@usmandap He already confirmed in his last comment.

[2017-07-22 09:59] prateekgoel commented on #15616
Thank @QuincyLarson . I am happy to help.

[2017-07-22 10:15] prateekgoel commented on #15615
@QuincyLarson I don't think we should move Profile Lookup to algorithms section because it's more of a basic Javascript to learn and not any sort of algorithm.
Moreover, as discussed in https://github.com/freeCodeCamp/freeCodeCamp/issues/15616 , rewording the instructions would make Profile Lookup challenge simpler and easy to understand.

[2017-07-22 10:46] ooade commented on #15675
The 5 hardest should do because if you can pass them it means you know the rest :)

[2017-07-22 11:16] shubhshrma commented on #15617
@QuincyLarson I remember being stuck at this challenge for like more than ten minutes although it was trivial.The problem was first getting my head around the Mad Libs game as I had never heard the name before.Secondly I thought that the resultant sentence was to be meaningful but it was difficult to make meaningful sentence for multiple inputs.
So I think if the user gets the idea that they just

[2017-07-22 12:15] d33con commented on #15652
@usmandap , @prateekgoel Sorry for any confusion, I thought a person from fCC was going to come in and assign it or something. I'll start working on it this weekend.

[2017-07-22 13:45] AllanJeremy commented on #14172
I agree, my code decodes correctly as well but I cannot complete the challenge either. Any luck @mateuszk969 ?

[code]

[2017-07-22 15:58] prateekgoel commented on #15669
@QuincyLarson I am willing to take this if someone else is not working.

[2017-07-22 18:11] QuincyLarson commented on #15669
@prateekgoel OK - sounds good. Let me know if I can be of further help. Looking forward to helping you QA this. Happy coding!

[2017-07-22 18:13] QuincyLarson commented on #15648
@yogaboll We may just want to update the CONTRIBUTING.md to include Windows-specific Mongo commands as well. That way everything's all in the same document. This would reduce confusion. Would you be interested in updating the CONTRIBUTING.md file and opening a pull request? You could mark it as closing this issue.

[2017-07-22 18:14] QuincyLarson commented on #15616
@prateekgoel Awesome! Let me know if there's anything I can do to eliminate ambiguity. My goal is to help you contribute as productively as possible with your scarce time :)

[2017-07-22 18:15] prateekgoel commented on #15669
Thanks @QuincyLarson . I'll start this today itself.

[2017-07-22 18:16] QuincyLarson commented on #15615
@pra85 OK - I noticed you claimed #15616. That sounds good. So once you fix the wording on that, perhaps you can also see if there's a way to make Counting Cards easier or more clear. Then we can move Counting Cards to immediately follow Profile Lookup.

[2017-07-22 18:18] QuincyLarson commented on #15617
@shubheksha OK - would you be interested in trying to reword the instructions, seed code, and tests to make this less ambiguous? More than half of campers are outside of the US, where Mad Libs are well known, and we don't want to put them at a disadvantage.

[2017-07-22 18:28] prateekgoel commented on #15615
@QuincyLarson I am sorry but was the above comment for me?

[2017-07-22 18:30] Manish-Giri commented on #15617
@QuincyLarson I've made some modifications to the challenge already. I'll be submitting the PR soon for you to review.

[2017-07-22 22:45] septimius72 opened #15677 "Teacher_Student_Program"
#### Issue Description
**### #WORK ON THIS<<<<<<<< cannot seem to figure out adding a student and grade to the dict/database** Program runs fine, but number [5] has an issue:

        [1] - Enter Grades < runs/no issues
	[2] - Remove Student < runs/no issues
	[3] - Student Average Grades < runs/no issues
	[4] - Exit < runs/exits/no issues
	[5] - Enter Student < problematic one, runs but it only sh

[2017-07-22 22:47] septimius72 commented on #15677
not sure why my indentation shows like this code above.?..?
Original indentation is in order (i.e. as it should be)

[2017-07-23 02:10] #15655 closed

[2017-07-23 02:42] sanyamc commented on #15623
I am assuming you want to see console.log out put on the webpage itself.
Not sure why would we want to override a native browser api and show it on the webpage.
Instead we can clearly see the console.log statements in browser's dev tools. I have tried that in atleast 4 challenges and it works for various test cases. Using developer tools is an integral part of web development and we should use tha

[2017-07-23 02:43] sanyamc commented on #15300
I am assuming you want to see console.log out put on the webpage itself.
Not sure why would we want to override a native browser api and show it on the webpage.
Instead we can clearly see the console.log statements in browser's dev tools. I have tried that in atleast 4 challenges and it works for various test cases. Using developer tools is an integral part of web development and we should use tha

[2017-07-23 02:56] QuincyLarson commented on #15615
@prateekgoel Yes - it's for you. I autocompleted the wrong username :)

[2017-07-23 04:34] prateekgoel commented on #15615
Ok Thanks. I'll do that.

[2017-07-23 04:44] Manish-Giri commented on #14895
Looks like this is available, I'll take it up.

[2017-07-23 06:31] Manish-Giri commented on #15654
@cowCrazy There's nothing wrong here. With the default challenge seed code, if there is no default value assigned to the parameter `value`, it remains `undefined`, and adding to it will result in `NaN`. See screenshot -

![screenshot 2017-07-23 02 26 44](https://user-images.githubusercontent.com/11348778/28497168-ce67d76e-6f4e-11e7-9749-d4cd4f2bb071.png)

Once you make the change required in the c

[2017-07-23 06:58] usmandap commented on #15652
@d33con Sounds good.. 👍

[2017-07-23 08:10] vs1682 commented on #15674
Hi,
I raised a PR and the CamperBot flagged me for this same reason.
I can raise a PR for freeCodeCamp/cz-freecodecamp to remove the part which asks for the issue number.

[2017-07-23 09:09] Koder90 commented on #8515
Thank you davidgsilva for solution. Instructions were to target all three arrays which is why it was confusing.

[2017-07-23 10:14] prateekgoel commented on #15615
@QuincyLarson - I think @Marmiz is working on https://github.com/freeCodeCamp/freeCodeCamp/issues/15616  as per the discussion.
So once that is done, i'll have a look at Counting Cards challenge

[2017-07-23 11:05] ZacharyCauchi commented on #15509
Right, I see. what you mean. hovering on the community button displays the drop down menu, clicking on the community button has no actual effect (unlike the others in the nav bar), so it remains highlighted. This is my first attempt at helping an open source project, so I'll give it a go and get back to you! :nerd_face:

[2017-07-23 12:12] texas2010 commented on #15677
@septimius72
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com

[2017-07-23 12:12] #15677 closed

[2017-07-23 14:13] joshmorel commented on #1340
After much tinkering and reading I just decided to add the tooltip: ```title="In CodePen: right-click -> open link in new tab"``` and move on.

Not the best user experience but that's not the point here, right?

[2017-07-23 17:22] yogaboll commented on #15648
I'll give ut a shot tomorrow

[2017-07-23 17:48] JohnSchumacher commented on #14011
help it did't work

[2017-07-23 19:04] BerkeleyTrue commented on #15674
We should instead update camperbot as having issue numbers in commit messages is a standard across many open source projects.

[2017-07-23 21:27] Survivor75 commented on #15134
Cannot we do something like :
`Node node = nodeList.item(i);
if(node.getNodeType() == Node.COMMENT_NODE) {
    continue;
} else {
    //do something
}`

[2017-07-23 21:39] Survivor75 opened #15685 "Course Idea : Machine Learning using Octave"
Machine Learning course presented by Professor Andrew Ng and originally posted on the ml-class.org website. The course uses Octave to do all the programming assignments, which include real-life problems.
It would be awesome to have an interactive course on Machine Learning providing all the related Math and new technologies to work with.
Is there anyone who is working or willing to work on this?

[2017-07-23 23:16] QuincyLarson commented on #15674
OK - I've created an issue on CamperBot: https://github.com/freeCodeCamp/camperbot/issues/143

Any takers?

[2017-07-23 23:16] QuincyLarson commented on #15648
@yogaboll OK - sounds good. Thanks for keeping us posted on this :)

[2017-07-23 23:20] QuincyLarson commented on #14895
@Manish-Giri Awesome - thanks!

[2017-07-23 23:21] QuincyLarson commented on #15615
@prateekgoel OK - sounds good :)

[2017-07-24 05:37] erictleung commented on #15685
@Survivor75 thanks for the suggestion. I'm all for having a knowledge base and learning system for machine learning, but for the near future, I think freeCodeCamp has other priorities. You can contribute to the [machine learning guides](https://github.com/freeCodeCamp/guides/tree/master/src/pages/articles/machine-learning) in the meantime. You can also check out the [Python challenges](https://git

[2017-07-24 11:24] rugano commented on #15669
Hello Sir,I am brushing up through basic JavaScript and I have encountered
a problem with passing these challenges.Please help: 1.Return a value from
a Function with return.2.Use Conditional Logic with if statements. I have
posted in the forum. I had done all the challenges before but I seemed to
have lost them maybe due to not signing in. Thanks.

On Jul 22, 2017 9:16 PM, "Prateek Goel" <notifica

[2017-07-24 11:30] Survivor75 commented on #15685
@erictleung I understand. However, I believe to build up on the documentation early as now will be good for exploring ways to present the course when freeCodeCamp will begin focussing on ML :)

[2017-07-24 12:06] Survivor75 commented on #15685
@erictleung  I have begun working on ML guides and I cannot seem to find a way to add images to those documents :|

cc/ @QuincyLarson

[2017-07-24 14:03] dhcodes commented on #15674
@QuincyLarson I may be wrong, but I think there are two camperbots, one for gitter and one for github. I believe this is the Github one: https://github.com/freeCodeCamp/camper-gh-bot

[2017-07-24 14:18] cowCrazy commented on #15654
@Manish-Giri OK, I see what you mean.

[2017-07-24 14:18] #15654 closed

[2017-07-24 16:34] aviral1701 commented on #15674
@dhcodes is right perhaps! Second one looks like the github one.Can I work on the issue?

[2017-07-24 19:03] dhcodes commented on #15674
@aviral1701 go for it

[2017-07-24 19:27] QuincyLarson commented on #15685
@Survivor75 You can add images by using `![alt text](image URL)`

I agree with @erictleung that we should focus on Python for machine learning guides. Introducing Octave adds more complexity because most campers will not be familiar with C/C++.

[2017-07-24 19:27] #15685 closed

[2017-07-24 19:32] QuincyLarson commented on #15674
@dhcodes Thanks for the clarification. I've opened the issue there and closed the old one: https://github.com/freeCodeCamp/camper-gh-bot/issues/9

[2017-07-24 20:15] BerkeleyTrue commented on #15674
Closing this in favor of https://github.com/freeCodeCamp/camper-gh-bot/issues/9

[2017-07-24 20:15] #15674 closed

[2017-07-25 05:37] sanjyalkeshav commented on #15242
for (var x = 0; x < contacts.length; x++){
    if (contacts[x].firstName === firstName) {
        if (contacts[x].hasOwnProperty(prop)) {
            return contacts[x][prop];
        } else {
            return "No such property";
        }
    }
}
return "No such contact";

[2017-07-25 16:50] vikramnr commented on #15623
@sanyamc  When using FCC original site will displaying something that we put in return statement but that this not case in Beta site.  Please let me know if you understood otherwise.

[2017-07-25 19:52] prateekgoel commented on #15615
@QuincyLarson This issue targets the current FCC and not the beta one, right?
Because I see beta already have an option to create topic on forum under the Bug Button functionality.
And the layout described in issue belongs to current FCC.
So I the code resides in backup/master branch, right?
Also, can you please help me location the files i need to work on?

[2017-07-25 19:56] Manish-Giri commented on #15615
@prateekgoel Counting cards for `backup/master` is [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/backup/master/seed/challenges/01-front-end-development-certification/basic-javascript.json#L3797).

[2017-07-25 20:30] prateekgoel commented on #15669
@QuincyLarson This issue targets the current FCC and not the beta one, right?
Because I see beta already have an option to create topic on forum under the Bug Button functionality.
And the layout described in issue belongs to current FCC.
So the code resides in backup/master branch, right?
Also, can you please help me location the files i need to work on?

[2017-07-25 20:31] prateekgoel commented on #15615
Thanks @Manish-Giri . But I mistakenly commented on wrong issue. That was for another issue.

[2017-07-25 23:18] axtscz commented on #15658
So basically you would like a `role="main"` to be added on the relevant tag on exercise screens?

[2017-07-26 01:37] #13875 closed

[2017-07-26 02:49] dhcodes commented on #14207
Thanks @Manish-Giri for the PR, but I've yet to find where jQuery suggests double-quotes vs. single and while it'd be more tedious, I think modifying all the tests to accept either (where necessary) may be a better route. cc @freeCodeCamp/moderators

[2017-07-26 10:46] jhomme commented on #15658
Hi,
Yes, please. Either that, or use the <main> tag instead of the wrapper div, assuming there is one around the body.

Thanks.

Jim

On Jul 25, 2017, at 7:22 PM, Alexander Cruz <notifications@github.com> wrote:

So basically you would like a role="main" to be added on the relevant tag on exercise screens?

—
You are receiving this because you authored the thread.
Reply to this email directly, vie

[2017-07-26 11:02] axtscz commented on #15658
I'll look into this and try to submit a pull request

On Jul 26, 2017 5:49 AM, "Jim Homme" <notifications@github.com> wrote:

[2017-07-26 16:10] anasey01 commented on #14025
I am having a similar issue. I'm trying out the Beta Version and it wouldn't let me pass to the next challenge.

`var quotient = 4.4 / 2.0; // Fix this line`

//The quotient variable should only be assigned once

[2017-07-26 22:16] systimotic commented on #14268
The issue here is not what was done wrong in the original example. The issue is that the original example passes all tests, while it shouldn't. The [tests here](https://github.com/freeCodeCamp/freeCodeCamp/blob/95de55fd614cccc9fcaa76f0e6d0e51518b5ddbc/seed/challenges/01-responsive-web-design/basic-css.json#L873) should be more specific.

[2017-07-26 22:21] systimotic commented on #14635
Hi everyone! Thanks for reporting and confirming this issue.

I'm closing this issue in favour of #13400. It's about the same problem and has more information on steps towards a fix.
If anybody has more information that could be helpful, please add it there.

Happy coding!

[2017-07-26 22:21] #14635 closed

[2017-07-26 22:34] alan-luo opened #15687 "Course Idea: Online Interactivity (Canvas, SVG, etc)"
Excuse me if this is not the right place for this, since this is my first time contributing. I asked around in the Gitter and was told that I should open a new issue if I wanted to propose a new challenge or lesson.

I'd like to propose that we add a course, or a series of courses, on standard libraries for online interactivity - which is to say, canvas, SVG, and WebGL.

### Why this is needed

No

[2017-07-26 22:38] systimotic commented on #14987
I can confirm the issue described by @no-stack-dub-sack. I can't get console.log statements to show up under any circumstance in the linked challenge, as well as the uncaught errors showing "Something went wrong..."

[2017-07-26 23:08] systimotic commented on #15687
Hi @alan-luo! This is definitely the right place.

I agree, these tools are becoming more and more common. To me, for it to be included in the main curriculum it has to be a skill employers really value. I'm not sure if it's at that point yet. I think of it as something that's good to know, but employers won't really care if you do or don't know it, they care about whether you can learn it when it

[2017-07-26 23:14] oscarwong67 opened #15688 "Stuck on "running tests" for entire APIs and Microservices section"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/managing-packages-with-npm/how-to-use-packagejson-the-core-of-any-nodejs-project-or-npm-package

#### Issue Description

Upon providing a URL e.g. https://fanatical-psychiatrist.glitch.me/ for testing, the output reads "// running tests" and gets stuck there - no fail or pass.

#### Browser Information

* Browser Name, Version: Chrome

[2017-07-26 23:20] systimotic commented on #15616
The concept of using square brackets to access a value in an object is a difficult one. Other challenges using this concept also generate a lot of GitHub issues. While we're fixing this one, it might be a good idea to tackle the others as well. #12141 #14879
@Marmiz @prateekgoel Would you be interested in clearing up those issues?

[2017-07-26 23:35] alan-luo commented on #15687
On a somewhat unrelated note, I think for game development, it's worth mentioning that basic game development skills can be extremely useful for rapid prototyping, even if you have absolutely no interest in games.

I did some work on a swarm robotics project a while ago - we used Unity for prototyping software and behavior, which saved us tons of time in actually printing circuits.

Talking about

[2017-07-27 02:09] mattgartner opened #15689 "User Profile Streak Chart uses different date/time than the table below it"
#### Issue Description
On the user profile page (i.e. https://www.freecodecamp.org/{username}, where it shows the chart with different months, and number of challenges per day on it, the chart seems to be using a different timing mechanism than the table below it. For example, if I'm in the Eastern U.S. timezone completing challenges at night, the table of completed challenges will show the follow

[2017-07-27 04:29] QuincyLarson commented on #15669
@prateekgoel Yes - it should target the backup/master branch. That's what we use for production.

Later we will get this working for the staging branch as well. That will involve using React instead of jQuery.

[2017-07-27 11:23] DusanSacha commented on #15388
Sorry about delay on this issue, I agreed on creating new challenges, however I was kind of busy and today I saw that some challenges covering this issue were already created in  #15617.

@Manish-Giri
Did you create [Return a Value from a Function with Return](https://beta.freecodecamp.com/en/challenges/basic-javascript/return-a-value-from-a-function-with-return)  and [Assignment with a Returned V

[2017-07-27 12:27] prateekgoel commented on #15669
@QuincyLarson Thanks. Can you please guide me to the files i need to work? I am not able to find those.

[2017-07-27 17:47] JpTiger commented on #7528
+1

[2017-07-27 18:39] QuincyLarson commented on #15669
@prateekgoel They are the view files like show.jade, showjavascript.jade. For the JavaScript, you'd want to put this in main.js with all the other clientside JavaScript logic. Let me know if I can be of further help with this. This is a high-priority issue.

[2017-07-27 18:42] QuincyLarson commented on #15242
@ed42311 if your fix is ready, you should open a GitHub pull request that references this issue. If you need help with this process, reference the contrbuting.md file. Please let me know if I can help with this.

[2017-07-27 18:45] QuincyLarson commented on #14207
@dhcodes if we're not going to enforce the use of double quotes, we should remove all mention of it from the challenge. Otherwise we're overloading campers with useless style opinions. They can choose whether to use single or double quotes for themselves, then when contributing to open source can use whatever that project's linting requires.

@Manish-Giri would you be interested in removing this l

[2017-07-27 19:20] prateekgoel commented on #15669
@QuincyLarson Thanks. Yes I understand this is a high-priority issue. Actually, being a beginner, I found it difficult to find the files. I will try and implement the modal soon.

[2017-07-27 19:30] QuincyLarson commented on #15388
@DusanSacha We would still welcome your proposed function-focused challenges. We're making some minor changes to the hardest challenges in the JavaScript section, but this doesn't remove the need for your new challenges. Will you have time to design and implement them?

[2017-07-27 19:38] AryanJ-NYC opened #15690 "Create a Controlled Form challenge does not actually create a form"
#### Challenge Name
http://hysterical-amusement.surge.sh/

React 30: Create a Controlled Form

#### Issue Description
The instructions for the challenge is as follows:

I believe this challenge will teach students bad practice. In this form, the input element does not respond to the user pressing 'Enter' to submit the form.

I propose the solution require students to use a `<form>` tag with an `on

[2017-07-27 20:17] dhcodes commented on #15690
paging @bonham000

[2017-07-27 21:47] systimotic commented on #15563
Hi all! Thanks a lot for reporting and even working on a fix. This test was indeed needed. However, we have already fixed it with https://github.com/freeCodeCamp/freeCodeCamp/pull/11821 The change is still in the beta, but once it goes live, this problem will be resolved.

Happy coding!

[2017-07-27 21:47] #15563 closed

[2017-07-27 23:09] ed42311 commented on #15242
it's open and up already:
     https://github.com/freeCodeCamp/freeCodeCamp/pull/15660

On Thu, Jul 27, 2017 at 12:45 PM, Quincy Larson <notifications@github.com>
wrote:

--
Edward Weymouth
406-304-9319
ed42311@gmail.com

[2017-07-28 01:23] bonham000 commented on #15690
Hi, @AryanJ-NYC

Thanks for this idea, I think it would be a good improvement. Are you interesting in making a PR to that repository? If not, let's open this issue there. Let me know what you'd like to do.

Thanks for the heads up @dhcodes

[2017-07-28 01:31] QuincyLarson commented on #15242
@ed42311 Awesome - thanks for pointing this out.

[2017-07-28 01:47] QuincyLarson commented on #15687
@alan-luo These are all good ideas. Before we attempt to create interactive challenges on these, we  should write text- and screenshot-based tutorials for our guide: https://github.com/freeCodeCamp/guides

Would you be interested in helping with this?

[2017-07-28 01:50] QuincyLarson commented on #15616
@systimotic nice job finding all those issues. I think we need more challenges that give campers practice with functions before hand. Would you be interested in helping us design a few additional challenges focused on functions that also cover bracket notation? We could put these before these.

[2017-07-28 01:54] alan-luo commented on #15687
@QuincyLarson Yes, would be happy to help!

How shall we go about organizing these guides? I feel like each of SVG, Canvas, and Three deserve their own separate folders, since they're feature-full libraries.

[2017-07-28 04:24] adeluccar commented on #15598
Hey everyone, I built a proxy server that works quite well for this purpose. It's for the Dark Sky API. You can self host it on a heroku instance.

https://github.com/adeluccar/fcc-show-the-local-weather-proxy

[2017-07-28 13:43] #15648 closed

[2017-07-28 14:37] systimotic commented on #15616
I won't be around for the next two weeks, so if anyone else is interested they can absolutely take this

[2017-07-28 14:41] systimotic commented on #14025
Hi everyone! Thanks for looking into this issue. #13400 discusses the same problem, I'm closing this as a duplicate. If anybody has more information on the cause of or solution to this issue, please post it there.

Happy coding!

[2017-07-28 14:41] #14025 closed

[2017-07-28 16:01] Manish-Giri commented on #15616
I'll take it up then!

[2017-07-28 16:05] raiden357 commented on #12818
I had to do the same thing. Also it keeps saying "use the function form of use strict". I'm using Chrome

[2017-07-28 17:35] Survivor75 commented on #15134
I would like to take on this.

[2017-07-28 20:18] QuincyLarson commented on #15687
@alan-luo I agree. I recommend first coming up with a list of the topics you'd like to cover, then creating a general overview of each of these technologies for the main index.md file for each folder. Then you can create subfolders with sub-topics.

[2017-07-29 00:30] aaronArinder opened #15691 "The 'Build a Pinterest Clone' challenge's example gives warning about site being insecure"
#### Challenge Name

Build a Pinterest Clone
https://www.freecodecamp.com/challenges/build-a-pinterest-clone

#### Issue Description

Following the link to the [example](https://midnight-dust.hyperdev.space/) gives the following warning in Firefox:

'The owner of midnight-dust.hyperdev.space has configured their website improperly. To protect your information from being stolen, Firefox has not con

[2017-07-29 02:59] J36miles commented on #15689
Seems related to #7925 and #7468.

[2017-07-29 03:30] alan-luo commented on #15687
@QuincyLarson Asked this in Gitter to no response: "should I open PRs every step of the way, or when I’ve finished the whole thing?"

[2017-07-29 05:19] artoodeeto commented on #15324
hello. im new. probably im too late but what i did to bypass the issue of CORS i used the heruko cors anywhere. heres the sample API that i used. 'https://cors-anywhere.herokuapp.com/http://api.openweathermap.org/data/2.5/weather?

and heres the codepen: https://codepen.io/artoo/pen/bRmrzz
thanks

[2017-07-29 12:57] dhcodes commented on #15691
Confirmed on chrome too. Must have missed this when we changed all the hyperdev links to glitch.

[2017-07-29 15:34] Jimjule opened #15692 "Factorialise a number - Working answer not accepted"
#### Challenge Name

https://www.freecodecamp.com/challenges/factorialize-a-number

#### Issue Description

I have a working solution to this problem (e.g. Factorialize(5) returns 120), but this is not acknowledged. I've returned the answer through 'num' as well as 'total', using 'i' as a parameter instead of 'num', but no luck.

#### Browser Information

* Browser Name, Version: Chrome 59.0.3071.

[2017-07-29 16:27] erictleung commented on #14832
@QuincyLarson I haven't had time to work on it because I've been busy traveling for school lately. I'll try to work on it during this upcoming week and comment here if I'm unable to make time for it so that others can take this up.

[2017-07-29 16:45] erictleung commented on #15692
@Jimjule thanks for the issue. You have global variables in your code. Our challenge tests run your function over and over and if you have any global variables, they will change with each test. So move your global variables to within your function and your code will pass. Happy coding!

[2017-07-29 16:45] #15692 closed

[2017-07-29 17:30] Jimjule commented on #15692
Many thanks for your help, I'll remember that in the future.

[2017-07-29 18:30] shubhshrma commented on #15691
I would like to tackle this.

[2017-07-29 19:50] QuincyLarson commented on #14832
@erictleung OK - no worries. Thanks for keeping me posted. This is a beta challenge so it's OK if it takes another week or two for you to get to it.

[2017-07-29 19:51] QuincyLarson commented on #15687
@alan-luo you should open a single PR with multiple commits if necessary. Then you can ask for a code review once you've made enough progress that you want feedback.

If you're writing guide articles, you can make one PR per guide article.

[2017-07-30 01:08] d33con commented on #15652
Hey @usmandap. You can do this if you want. I've tried and I'm having problems with node errors when running the tests. I've asked for help in the chat twice and re-installed the repo & dependencies sveral times but I'm getting the same thing. It's not worth the time anymore just to change one word. I hope you have better luck than me!

[2017-07-30 11:29] usmandap commented on #15652
@d33con Thanks bro and sure I will give it a try.

[2017-07-30 12:08] telepylus commented on #12818
Yeah, this task is really annoying me, not explained properly... is incorrect, using wrong answers etc.

[2017-07-30 14:43] sbennett2911 commented on #15618
The Golf Code challenge did take me longer that the other challenges.  I did not initially realize that golfScore() had BOTH strokes and par as parameters.  With the other IF ELSE challenges we were only dealing with one argument to pass into the IF ELSE condition.  I found myself in that "flow" and completely overlooked that two parameters were available to work with in the IF ELSE condition.  I

[2017-07-30 15:13] DusanSacha commented on #15388
@QuincyLarson
Just to make it clear. I created a list of proposed challenges from the first post in this issue. I striked through the proposals which, I think, are already solved in other challenges. I will work on the missing challenges.

1. Create a lesson that demonstrates if your function doesn't have a return statement. It will return undefined
2. [~~Creating another lesson that deals with cr

[2017-07-30 15:43] alan-luo commented on #14234
I would like to tackle this if @Flarp is busy.

[2017-07-30 16:06] alan-luo opened #15693 "Missing ES6 Features (FCC beta)"
There are still a lot of ES6 features missing from the challenges.

- Enhanced object literals (`__proto__`, computed property names...)
- New hoisting (no coverage of TDZ)
- Generators (covered in #14234 )
- Unicode support
- Promises

ES6 also introduces a number of APIs and old API improvements, but I'm not really sure if those are important.

Also, I couldn't find any coverage of hoisting in g

[2017-07-30 17:44] bonham000 commented on #15690
Ok I moved this over, I'm going to close it here.

[2017-07-30 17:44] #15690 closed

[2017-07-31 01:13] jay3ss commented on #6541
I had this same issue (on the beta) with Google Chrome 60.0.3112.78 on Ubuntu 14.04 and the way that I fixed it was to simply just reload the page. I've encountered this with a previous challenge too.

[2017-07-31 09:24] ivmilicevic opened #15695 "Abbreviated hex colors not passing test (FCC Beta)"
#### Challenge Name
Applied Visual Design: Create a Gradual CSS Linear Gradient
http://beta.freecodecamp.com/en/challenges/applied-visual-design/create-a-gradual-css-linear-gradient

#### Issue Description

This challenge requires setting up linear gradient with starting color of #CCFFFF and end color of #FFCCCC, Abbreviated hex values of #CFF and #FCC respectively render correctly but don't pass

[2017-07-31 13:56] dhcodes commented on #15695
Closing as duplicate of #13871

[2017-07-31 13:56] #15695 closed

[2017-07-31 14:50] Flarp commented on #14234
I am a little busy, but I would be glad to work with you.

[2017-07-31 19:33] #15691 closed

[2017-07-31 19:40] QuincyLarson commented on #15618
@sbennett2911 Awesome. @MiloATH has a PR open already. Could you take a look at that first and let me know what you think of his proposed changes?

[2017-07-31 19:42] QuincyLarson commented on #15388
@DusanSacha Awesome - these are great things to cover. I agree with your approach here.

As for 7 and 8, we will need to figure out a way to convey these things interactively.

Can you start working on designing these challenges? https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md

[2017-07-31 20:50] #15588 closed

[2017-08-01 01:31] #13460 closed

[2017-08-01 03:04] #11193 closed

[2017-08-01 03:04] #13326 closed

[2017-08-01 03:04] #13328 closed

[2017-08-01 03:04] #14252 closed

[2017-08-01 03:04] #15091 closed

[2017-08-01 03:18] BerkeleyTrue commented on #13544
map header is gone now. Does this resolve the issue?

[2017-08-01 03:18] #13544 closed

[2017-08-01 03:24] BerkeleyTrue opened #15696 "Increase Map performance"

[2017-08-01 03:29] BerkeleyTrue opened #15697 "/map should lead to current challenge"

[2017-08-01 03:33] BerkeleyTrue opened #15698 "Increase cachedMap performance"

[2017-08-01 03:33] BerkeleyTrue opened #15699 "Increase current challenge performance"

[2017-08-01 03:34] BerkeleyTrue opened #15700 "Update Editor skeleton theme"
The current editor skeleton does not match the style of the editor. This will need to be updated to match.

![learn_to_code___freecodecamp](https://user-images.githubusercontent.com/6775919/34641881-62f37cdc-f2bf-11e7-8d8b-6d7389f7d3b9.png)
![basic_html_and_html5__say_hello_to_html_elements___freecodecamp](https://user-images.githubusercontent.com/6775919/34641886-7593d7ba-f2bf-11e7-867c-e12b7b881

[2017-08-01 03:35] BerkeleyTrue opened #15701 "Always auto load html (sans js)"

[2017-08-01 05:17] Manish-Giri opened #15702 "New navigation pane on beta has incorrect styling (night mode)"
While doing a beta challenge, I discovered that a navigation pane (like a mini-map) is now available on the left. I think this is probably a recent addition.

The navigation page's styling in night mode is way off -

![screenshot 2017-08-01 01 14 53](https://user-images.githubusercontent.com/11348778/28810281-e8c9b906-7656-11e7-8657-59c4ccb6ef6b.png)

The same pane in the regular theme -

![screen

[2017-08-01 10:44] ResatMemis01 commented on #14291
// Setup
var testObj = {
  12: "Namath",
  16: "Montana",
  19: "Unitas"
};

// Only change code below this line;

var playerNumber = 16;    // Change this Line

var player = testObj[playerNumber];   // Change this Line

[2017-08-01 14:39] QuincyLarson opened #15703 "Make font size consistent across panes"
Currently the font size is different for each pane.

![jquery__target_html_elements_with_selectors_using_jquery___freecodecamp](https://user-images.githubusercontent.com/985197/28826377-96755762-768f-11e7-8b32-159b1681b035.png)

I checked CodePen and they're using 15 px for all of their editors. JSBin is using 14px. I think 15 px is a good tradeoff between readability and compactness. So we should

[2017-08-01 14:56] QuincyLarson opened #15704 "Syntax highlighting in editor"
Currently the beta code editor pane (light theme) doesn't have syntax highlighting.

![basic_javascript__word_blanks___freecodecamp_and_word_blanks___freecodecamp](https://user-images.githubusercontent.com/985197/28831606-a10333a6-769f-11e7-8516-d7abd5c1eb71.png)

[2017-08-01 14:57] QuincyLarson opened #15705 "isBeta challenges should be hidden entirely from map"
The following empty entries in our challenge map seem to be caused by a challenge with the `isBeta` flag set to true. We should instead hide these entirely so there isn't an empty line next to the bullet.

![jquery__target_html_elements_with_selectors_using_jquery___freecodecamp](https://user-images.githubusercontent.com/985197/28831660-d3048b5c-769f-11e7-812c-fff6a1455baa.png)

[2017-08-01 14:59] QuincyLarson opened #15706 "Hour estimates don't wrap properly"
The hour estimates (for example: "(5 hours)") will get pushed down to the subsequent line if the map viewport gets narrow enough, and they no longer line up with the challenges they describe.

![jquery__target_html_elements_with_selectors_using_jquery___freecodecamp](https://user-images.githubusercontent.com/985197/28831682-e829b70a-769f-11e7-8b93-b81d1de3af4f.png)

We need someone to dig in and f

[2017-08-01 15:09] #13871 closed

[2017-08-01 15:52] BerkeleyTrue opened #15707 "Cannot read prop id of undefined"
When navigating to /challenges the server crashes

<img width="1076" alt="_80__error_group__21___freecodecamp-beta" src="https://user-images.githubusercontent.com/6775919/28834276-a828b592-7696-11e7-9d6c-39fe40a718db.png">
<img width="932" alt="_80__error_group__21___freecodecamp-beta" src="https://user-images.githubusercontent.com/6775919/28834298-b66e576a-7696-11e7-87e7-34c2b492dbf8.png">

[2017-08-01 15:56] BerkeleyTrue opened #15708 "value.replace is not a function in replaceFormAction (server/boot/user.js)"
When navigating to /en/:username
<img width="952" alt="_80__error_group__8___freecodecamp-beta" src="https://user-images.githubusercontent.com/6775919/28834484-3bd4c33a-7697-11e7-8c3c-7fa64a2086dd.png">

[2017-08-01 16:07] dhcodes opened #15709 "Comments not showing in text editor on new layout"
Comments included in the challenge seed are no longer showing up in the new layout.
![comments](http://i.imgur.com/SIGnWc9g.png)

[2017-08-01 16:13] prateekgoel commented on #15703
@QuincyLarson I agree that 15px if a good size. If you allow, i'd like to do this.

[2017-08-01 16:22] #15664 closed

[2017-08-01 17:05] marigerr commented on #15702
I'm having problems with Night Mode also with same look.
Also it seems that I am unable to change from Night Mode back to Regular Mode.    When I go to settings and click on button for Night Mode, there is no response.

[2017-08-01 17:13] anawebdev commented on #15706
Hi! Can I give it a try? I'm a first timer, would that be an issue?

[2017-08-01 17:38] QuincyLarson opened #15710 "JSBin-like pane control navigation button bar"
Currently the beta navigation looks like this:

![basic_html_and_html5__headline_with_the_h2_element___freecodecamp](https://user-images.githubusercontent.com/985197/28831836-7434a214-76a0-11e7-812e-21bbdabdba9a.png)

We want to overhaul the navigation buttons control what's shown to look more like JSBin.com:

![js_bin_-_collaborative_javascript_debugging_](https://user-images.githubusercontent.co

[2017-08-01 17:42] Manish-Giri commented on #14207
@QuincyLarson Yes, I'll do that.

[2017-08-01 17:45] QuincyLarson commented on #15703
@prateekgoel OK - great! I think you were also working on the "help" button for production, right? That is a higher priority.

[2017-08-01 17:46] QuincyLarson commented on #15706
@anawebdev Sure - that would be great. Please let me know if I can be of any help.

[2017-08-01 17:46] QuincyLarson commented on #14207
@Manish-Giri Awesome - thanks for your help with this!

[2017-08-01 18:33] dhcodes commented on #15706
@anawebdev follow [these instructions](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) to get your local instance setup and go from there. You can ask questions in: https://gitter.im/FreeCodeCamp/Contributors

[2017-08-01 18:33] theomeli commented on #15702
Same here like @marigerr . There is no response when I am clicking on button for Night Mode when I am in Regular Mode

[2017-08-01 18:39] dhcodes commented on #15705
@QuincyLarson pretty sure this is caused by the `isBeta` designation in the seed being `true`. Shall I remove all `isBeta` tags?

[2017-08-01 19:18] prateekgoel commented on #15703
@QuincyLarson Thanks. Yes, I'm working on the "help" button for production and it's at the top on my list.

[2017-08-01 20:26] QuincyLarson commented on #15616
@Manish-Giri Awesome! Thanks for taking this one up! Looking forward to another one of your thoughtful pull requests :)

[2017-08-01 20:28] QuincyLarson commented on #15615
@prateekgoel I think @Manish-Giri is no handling #15616 - could you go ahead and start working on this issue in parallel?

[2017-08-01 21:00] Manish-Giri commented on #15617
@QuincyLarson Hi! I've made some changes to the challenge description, but I thought posting a screenshot would be better (and faster) to get some feedback, instead of submitting a PR directly.

As the updated description and instructions requires the user to scroll, I've added the new content in 2 screenshots -

![1](https://user-images.githubusercontent.com/11348778/28846555-e8d91436-76d9-11e7-8

[2017-08-01 21:05] prateekgoel commented on #15615
@QuincyLarson Sure. I'll start working on this.

[2017-08-02 02:19] pburns1587 commented on #14713
👎

Can't replicate:

Challenge Name: "Set the Font Family of an Element"

Issue Description: font-family conflicts with font-size

Browser Information

Browser Name, Version: Chrome, Version 59.0.3071.115
Operating System: Windows 10
Mobile, Desktop, or Tablet: Desktop

Your Code
` p {
    font-family: Monospace;
    font-size: 16px;
`

Works as expected for me.

[2017-08-02 07:18] buoyantair commented on #15710
Ohh I'd like to try this on codepen first and see how it goes :O

[2017-08-02 09:31] DusanSacha commented on #15388
@QuincyLarson after communication with @HKuz we decided to re-purpose [this old thread](https://github.com/freeCodeCamp/CurriculumExpansion/issues/14) to review new challenges.

I have just posted a new draft "Understanding Undefined Value returned from a Function" for review in [there](https://github.com/freeCodeCamp/CurriculumExpansion/issues/14).
I am going to work on the others mentioned chall

[2017-08-02 10:06] sophyphreak opened #15711 "Misspelling within Show The Local Weather challenge page"
#### Challenge Name

https://www.freecodecamp.org/challenges/show-the-local-weather

#### Issue Description

When you click the link to the weather api -- https://fcc-weather-api.glitch.me/ -- the part where it says "Example: Requets[sic]: Response:" "Request" is misspelled.

#### Browser Information

* Browser Name, Version: Chrome, Version 60.0.3112.78 (Official Build) (64-bit), Most Recent
* Op

[2017-08-02 10:07] sophyphreak commented on #15711
I would fix it myself, but I'm really not sure where this is located in github. If someone can tell me, I would just fix it.

[2017-08-02 13:12] dhcodes commented on #15711
tagging @Em-Ant. Do you have edit rights to this?

[2017-08-02 13:33] QuincyLarson opened #15712 "Sections of map should have their own URL"
If I want to go to the debugging section, I should be able to do this by going to:

http://beta.freecodecamp.com/en/javascript-algorithms-data-structures/debugging

And this should show me a simple view like this:

![freecodecamp](https://user-images.githubusercontent.com/985197/28875978-2bea47f8-775d-11e7-8367-33931132f862.png)

That way campers can link to specific sections of the challenge map.

[2017-08-02 13:37] boriskogan81 opened #15713 "D3 challenges rendering is broken"
#### Challenge Name
All beta FCC challenges

http://beta.freecodecamp.com/en/challenges/data-visualization-with-d3

#### Issue Description

Rendering is broken. Map link doesn't work, preview pane doesn't work.

#### Browser Information

* Browser Name, Version: Chrome Version 59.0.3071.115 (Official Build) (64-bit), Firefox 54.0 (32-bit), Microsoft Edge 40.15063.0.0
* Operating System: Windows
*

[2017-08-02 13:40] dhcodes opened #15714 "Settings page missing Map Link in Nav"
The Map link in the Navbar disappears when you go to your settings (click your avatar).

[2017-08-02 13:44] dhcodes commented on #15577
Closing as resolved. Please reopen if this still is not working correctly.

[2017-08-02 13:44] #15577 closed

[2017-08-02 13:45] dhcodes commented on #15672
Closed by PR #15682

[2017-08-02 13:45] #15672 closed

[2017-08-02 13:46] dhcodes commented on #15477
Closing as resolved.

[2017-08-02 13:46] #15477 closed

[2017-08-02 13:46] dhcodes commented on #15477
Closing as resolved.

[2017-08-02 13:47] dhcodes commented on #15440
Closing for now as wontfix. If this becomes an issue, we'll look at solutions.

[2017-08-02 13:47] #15440 closed

[2017-08-02 13:47] dhcodes commented on #15585
Closing as resolved. Please reopen if you are still experiencing this.

[2017-08-02 13:47] #15585 closed

[2017-08-02 13:49] dhcodes commented on #15480
Thanks @codemzy. Closing as resolved.

[2017-08-02 13:49] #15480 closed

[2017-08-02 13:50] dhcodes commented on #15689
Thanks @J36miles. Closing as duplicate. Someday a hero will come along and fix the streak.

[2017-08-02 13:50] #15689 closed

[2017-08-02 13:51] dhcodes commented on #15646
I'm in favor of this change.

[2017-08-02 13:58] dhcodes commented on #15644
Closing this for now. If more confusion crops up around this issue, then we'll reopen it. Thanks for your help too @4mifix

[2017-08-02 13:58] #15644 closed

[2017-08-02 14:05] dhcodes commented on #15657
Thanks for the issue @nsuchy. There is a test that ensures the code is not changed. There's not really a way to "lock" other code from being able to be entered below the line. Closing as `wontfix` for now. Will reopen if this becomes a source of confusion.

[2017-08-02 14:05] #15657 closed

[2017-08-02 14:07] dhcodes commented on #15658
@axtscz how's this coming?

[2017-08-02 14:09] dhcodes commented on #15626
Closing in favor of #15705

[2017-08-02 14:09] #15626 closed

[2017-08-02 14:49] Terron23 commented on #15585
Yes it works

On Wed, Aug 2, 2017 at 9:52 AM, Dylan <notifications@github.com> wrote:

[2017-08-02 16:25] dhcodes commented on #8408
This should be fixed by #14707

[2017-08-02 16:25] #8408 closed

[2017-08-02 16:44] dhcodes commented on #10611
I've revisited this on Chrome and Firefox, using various line-breaks and it seems to be working. Closing for now; please reopen if this is still an issue.

[2017-08-02 16:44] #10611 closed

[2017-08-02 16:46] dhcodes commented on #15709
Never mind. I was mistaken.

[2017-08-02 16:46] #15709 closed

[2017-08-02 16:48] dhcodes commented on #10403
In the past, we've used tests to enforce the semicolon on a single style. I think that thinking applies here and we should add the semicolon.

[2017-08-02 17:11] prateekgoel commented on #15615
@QuincyLarson I reworded the challenge instructions below the table to make it easy to understand. Please have a look and share your thoughts. Then, I'll submit the PR.

....

Write a card counting function which will receive a `card` parameter. Increment or decrement the value of the global `count` variable according to the value of card parameter. Refer the above table to see how much the `count

[2017-08-02 17:19] dhcodes commented on #10258
Tested on Chrome and Firefox after new updates. Both are working. Closing this issue unless it crops up again.

[2017-08-02 17:19] #10258 closed

[2017-08-02 17:24] sophyphreak commented on #15711
I don't think so no.

[2017-08-02 18:40] Em-Ant commented on #15711
@dhcodes no, it's not one of my glitch projects.

[2017-08-02 18:46] QuincyLarson opened #15715 "Update view to remove option of preview pane on JavaScript-only challenges"
Update view to remove option of preview pane on JavaScript-only challenges.

For example, http://beta.freecodecamp.com/en/challenges/basic-algorithm-scripting/convert-celsius-to-fahrenheit

![basic_algorithm_scripting__convert_celsius_to_fahrenheit___freecodecamp](https://user-images.githubusercontent.com/985197/28889166-c9d5856a-7788-11e7-8e1f-c34b501bc549.png)

[2017-08-02 18:47] QuincyLarson opened #15716 "Update challenge UI to support multiple coding panes for JavaScript, HTML, and CSS"
Update challenge UI to support multiple coding panes for JavaScript, HTML, and CSS

[2017-08-02 18:59] QuincyLarson opened #15717 "Update auto-email triggered by claiming final certificate in production"
When a camper claims their final certificate, we want a single email sent to them from my email address saying the following:

[code]

This will put the ball in their court and they can respond if they want to contribute to Open Source for Good.

This should replace the current system of emailing Michael and the team email.

This email, combined with their response, will give the information I nee

[2017-08-02 22:02] AbdelghaniTassi commented on #15703
Can i work on this issue ?
i am a first timer

[2017-08-02 23:04] timmr99 opened #15719 "Build Web Apps with Expressjs Installation uses deprecated packages and has a missing module"
#### Challenge Name

https://www.freecodecamp.org/challenges/build-web-apps-with-expressjs

#### Issue Description

Following the challenge's directions, I ran the clone command 'git clone https://github.com/FreeCodeCamp/fcc-expressworks.git && chmod 744 fcc-expressworks/setup.sh && fcc-expressworks/setup.sh && source ~/.profile'.

The install showed that there is a missing package 'uninstall' and

[2017-08-03 00:01] samiff opened #15720 "Small logic error with a project challenge example"
#### Challenge Name
Visualize Data with a Scatterplot Graph
https://www.freecodecamp.org/challenges/visualize-data-with-a-scatterplot-graph

#### Issue Description
The example CodePen provided for this challenge project has erroneous date formatting. It doesn't take into account that JS date objects use zero-based month formatting. For example, the first graph label is reporting "1946 - December",

[2017-08-03 00:49] sbennett2911 commented on #15618
I agree with MiloATH's proposed changes.  Would definitely reduce the potential for typos when working the problem.

As a side note, feel free to let me know if I am breaking any GitHub etiquette at any point.  Zero experience providing input on collaborative projects.  Looking for to learning and have really enjoyed FreeCodeCamp thus far.  You guys and gals are doing awesome work.  :)

[2017-08-03 02:23] no-stack-dub-sack opened #15721 "map text appears white"
In the new multi-tab version, in Chrome (latest) on OSX 10.11.6:
![image](https://user-images.githubusercontent.com/18563015/28903100-13af658c-77d1-11e7-992b-4e1bbbdb65d2.png)

[2017-08-03 03:02] Manish-Giri commented on #15721
Reported here - https://github.com/freeCodeCamp/freeCodeCamp/issues/15702

[2017-08-03 03:42] dexrualo opened #15722 "Maybe add option that let users choose their own projects which fulfills the default project user stories?"
#### Issue Description
Feature request: Maybe add an option to let users choose their own projects? This may enable campers to code about things they are interested in and maybe hone creativity skills more. I don't know, just a suggestion.

[2017-08-03 04:34] joshcronkhite commented on #1340
@joshmorel My sense is that your solution should be acceptable given the codepen.io environment works the way it does, and Twitch blocks frame-sourced links. I'm implementing your solution as well. Thanks for providing a sensible concession so we can all move on.

[2017-08-03 05:24] #15721 closed

[2017-08-03 05:27] BerkeleyTrue commented on #15710
I seem to remember we agreed to keep the buttons as is. This would not be a trivial change.

[2017-08-03 11:45] bonebizz21 commented on #15722
Aloha

[2017-08-03 11:46] bonebizz21 commented on #15722
Thanks

[2017-08-03 11:50] bonebizz21 commented on #14716
Thanks

[2017-08-03 11:50] bonebizz21 commented on #14716
Needed that

[2017-08-03 12:13] sithsupersu commented on #15722
Sounds good to me.

[2017-08-03 14:31] ArielLeslie opened #15725 "beta: map: "No Super Blocks""
#### Challenge Name
http://beta.freecodecamp.com/en/map

#### Issue Description
A recent change seems to have messed up the map page. When it first loads it shows "No Super Blocks" and then when the map loads, it does not have the usual styling.  The collapse and search inputs are also missing, but I don't know if that was a deliberate choice.

#### Browser Information
* Browser Name, Version: Chr

[2017-08-03 14:40] dhcodes commented on #15725
@ArielLeslie regarding the UI changes; yes they are intentional and search is coming back once it is improved. I've noticed the superblocks as let's leave this open. I suspect we need to incorporate a brief loading icon until the list populates.

[2017-08-03 15:02] akshaynaik404 opened #15726 "Challenge is getting accepted without sufficient code."
#### Challenge Name

https://www.freecodecamp.org/challenges/convert-json-data-to-html

#### Issue Description

Challenge is getting accepted without sufficient code.

#### Browser Information

* Browser Name, Version: Chrome Version 60.0.3112.78 (Official Build) (64-bit)
* Operating System: Ubuntu 16.04.2 LTS
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]

[2017-08-03 15:49] balls777 commented on #5451
half the time they are not wording the sentence right !!!

[2017-08-03 15:57] dhcodes commented on #15726
Confirmed. We need to update the current test or add a new one.

[2017-08-03 17:03] QuincyLarson commented on #15669
@prateekgoel have you had a chance to start working on this?

[2017-08-03 17:03] Bouzmine commented on #15715
First timer here. I looked a bit through the codebase and found that it should already not be shown according to `common/app/routes/challenges/redux/index.js` at line 208:

Is that piece of code working ?

[2017-08-03 17:05] Bouzmine commented on #15646
Can I submit a PR with those changes?

[2017-08-03 17:20] dpw1 commented on #15281
What needs to be done? Make it work with the Enter key as well?

[2017-08-03 18:25] just1witness opened #15727 "Basic Javascript less than lessons buggy"
Criteria that is done correctly is not passing on a couple lessons in this area, please refer to screenshot.

LESSON: Comparison with the less than operator.

![fccbug](https://user-images.githubusercontent.com/29514150/28937231-3991e392-7858-11e7-89c3-ded81ef94254.png)

[2017-08-03 18:40] prateekgoel commented on #15669
@QuincyLarson Yes, I'm working on this. Probably by this weekend i'll submit the PR.

[2017-08-03 19:35] akshaynaik404 commented on #15726
I am a first time contributor, Do you think I can solve it? If yes, Any instructions?

[2017-08-03 19:58] benogrencodes commented on #15727
Didn't take a look at the code too in-depth, but why are you using if twice? I haven't done FreeCodeCamp, but I'd use if for the first statement, then else if, then else.

That might be doing it.

[2017-08-03 20:06] jenkuy opened #15728 "Beta is Frozen on a Challenge"
#### Challenge Name

The challenge I am stuck on is Responsive Web Design-->Applied Accessibility-->Make Elements Only Visible to a Screen Reader by Using Custom CSS
http://beta.freecodecamp.com/en/challenges/applied-accessibility/make-elements-only-visible-to-a-screen-reader-by-using-custom-css

#### Issue Description

I cannot progress on my challenges. The Run Test button will not check my work

[2017-08-03 20:51] #15728 closed

[2017-08-03 22:03] just1witness commented on #15727
These lessons are actually before the if, if else and else lessons.

It says < still needs to used at least twice when it was used twice. It should be a pass, but it fails that criteria.

[2017-08-04 01:01] BerkeleyTrue commented on #15725
closing in favor of #15697

[2017-08-04 01:01] #15725 closed

[2017-08-04 01:27] erictleung commented on #15727
@just1witness thanks for the issue. I tried with the exact same code and challenge and had no issues.

**Challenge**:

https://www.freecodecamp.org/challenges/comparison-with-the-less-than-operator

**Code**:

[code]

Can you give more information about the browser you're using, its version, and your operating system? That might help us diagnose the issue here. Thanks!

[2017-08-04 03:00] dhcodes opened #15729 "Reactify User Profile Page"
Open the settings on Beta by clicking your avatar. Then click Show Me My Public Profile. The avatar image and profile image then expand to a 400x400 size.

Edit @quincylarson: We're making this the issue around-which we'll reactify the user profile and settings pages.

[2017-08-04 03:38] QuincyLarson commented on #15710
@BerkeleyTrue I seem to remember agreeing that this UI change shouldn't hold up merging your branch. I do think we'll need a JSBin-like button bar to clearly indicate which panes are active.

[2017-08-04 03:41] QuincyLarson commented on #15710
@BerkeleyTrue I updated the original issue to mention that the buttons should communicate the state of the active panes.

[2017-08-04 03:45] #15697 closed

[2017-08-04 03:45] #15698 closed

[2017-08-04 03:45] #15714 closed

[2017-08-04 03:46] BerkeleyTrue opened #15730 "Map superblocks on initial render show dashedNames instead of titles"

[2017-08-04 03:49] BerkeleyTrue commented on #15729
Navbar css has changed a lot on the react side, but these changes have not trickled into the static user navbar.

It might be a better option to convert the user page into a react page. I believe this is the last static page that exist in the codebase. (

We would have to take care to handle the case when the user is looking at their own page or an anon user. We definitely don't want to start rend

[2017-08-04 04:04] BerkeleyTrue opened #15731 "Replace /challenges with /:superBlock"

[2017-08-04 04:04] BerkeleyTrue opened #15732 "fix(server.challenges): remove challenge regex search"

[2017-08-04 04:07] BerkeleyTrue opened #15733 "feat(server): Add SIGINT handler"
We currently use pm2 to load balance at the nodejs level

We need a SIGINT handler that will tell loopback to stop accepting new requests and resolve outstanding ones

[code]

[2017-08-04 07:34] wizofe commented on #15702
Same problem here. Plus I can't find a way to disable Night Mode while on Beta.

[2017-08-04 11:23] prateekgoel commented on #15669
@QuincyLarson I created the modal successfully with takes to the forum. But i need little help in pre-populating the forum post. Can you please guide me on how can I fetch the title and body so that I can pass in in querystring?

[2017-08-04 11:54] SavvySkylark commented on #5934
This challenge is still on the curriculum for backend development certification. I think this should be reopened because the description on the challenge still doesn't make it clear that you can use a 3rd party API nor does it list any suggested 3rd party APIs to use.

[2017-08-04 12:29] just1witness commented on #15727
I am using firefox 54.0.1 64bit, and windows 10 operating system.

I think it's worth noting that the lesson allows you to advance even though it says you failed the criteria in question.

[2017-08-04 14:40] 09JDPhil commented on #15706
I'm not sure if this issue is resolved yet or not but I'll take a look into it.

[2017-08-04 14:57] llllaa commented on #14866
not able to solve add an div element below your h3 element

[2017-08-04 15:06] anawebdev commented on #15706
@09JDPhil Hi! I just made  a pull request. Are you looking into that? I'm not sure what's supposed to happen after making a PR.

[2017-08-04 15:22] 09JDPhil commented on #15706
@anawebdev Hey! Sorry I don't know anything about your PR. I was also looking into fixing the problem but it seems you may have beat me to it :)

[2017-08-04 15:51] 09JDPhil commented on #13450
@sanatauqir @cassiesouza  Did this issue ever get fixed? If not I'll look into it but I don't want to duplicate efforts

[2017-08-04 20:18] dhcodes commented on #15722
Could you please elaborate? The projects are already intended to allow creativity. The user stories are just to provide some rough goals.

[2017-08-04 20:19] dhcodes commented on #15726
@akshaynaik404 probably! Our tests are usually written in Regex. Set up your local instance by following this instructions: https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md

[2017-08-04 21:31] moyamanuel commented on #15719
`npm install express` should do it.

[2017-08-05 02:47] fastestnoob opened #15736 "feature request. search box on map. map could also be a fast reference book now."
Not a bug.

there is 4 pane view now. (beta)
when a user just close the editor and the preview panes we have:
map + cheat sheat to selected subject.
so this is basically a reference book now.  so it needs a search box.

[........................color......................] search.

did you mean?

Css color text.
Coloring frames
Coloring HTML buttons
Coloring Bootstrap buttons.
Bootstrap class colo

[2017-08-05 07:01] dexrualo commented on #15722
Maybe like this:
Option 1: Create a (default project) that fulfills the following user stories...

Option 2: Or create your own project that fulfills the following: a) Create using  (something learned from previous challenge)
b) Add a (something learned from previous challenges)
Etc.

[2017-08-05 10:18] knrt10 commented on #15134
I am intrested in this issue can this be assigned to me and can you direct me to the files that need to be changed.

[2017-08-05 10:28] knrt10 commented on #15736
I am intrested in this issue can this be assigned to me and can you direct me to the files that need to be changed.

[2017-08-05 10:32] knrt10 commented on #15712
I am intrested in this issue can this be assigned to me and can you direct me to the files that need to be changed.

[2017-08-05 10:34] knrt10 commented on #15719
I am intrested in this issue can this be assigned to me and can you direct me to the files that need to be changed.

[2017-08-05 15:36] lynxlynxlynx commented on #15592
Duplicate of #15259, so can be closed.

[2017-08-05 15:46] lynxlynxlynx commented on #15304
Semicolons are optional (context-dependent) in javascript, so this is not a bug. Someone please close it.

[2017-08-05 15:51] lynxlynxlynx commented on #15291
I wouldn't consider this "wrong text", as the instructions say nothing about the order.

It is true thought that the description needlessly mentions that the new paragraph should be after main, while the tests (justly imo) allow also for just wrapping the existing link.

[2017-08-05 15:55] lynxlynxlynx commented on #15280
This is a duplicate of #15227, so someone please close it.

[2017-08-05 15:57] lynxlynxlynx commented on #15152
Probably also a duplicate of #15227, just with a different challenge.

[2017-08-05 15:58] lynxlynxlynx commented on #15227
Of course, there were older reports, so this one itself is a duplicate of at least #15090. Someone please close.

[2017-08-05 16:03] lynxlynxlynx commented on #14984
See #15024, where the general problem is being tackled (even though it's a newer report).

[2017-08-05 16:07] lynxlynxlynx commented on #14818
Can confirm that it still works (also mozilla) & suggest closing.

[2017-08-05 16:09] lynxlynxlynx commented on #14776
Looks like these type of issues are being handled in #15024 and others, so consider closing.

[2017-08-05 16:11] lynxlynxlynx commented on #15286
This is a duplicate, there are older reports open for the exact same problem (#13267 and #12762).  Suggest closing.

[2017-08-05 17:28] QuincyLarson commented on #15712
@knrt10 I think this would involve changing a lot of files - I'm not sure exactly what they are. Figuring that out would be a big part of the task. @BerkeleyTrue is the most familiar with all of this and is probably the best person to tackle this since he's also overhauling the rest of our URL logic.

[2017-08-05 17:31] QuincyLarson commented on #15703
@AbdelghaniTassi Sure - I think most of what will need to be changed will be in the main.css file. You may be able to figure out what classes the different text elements are using by inspecting them in your browser.

[2017-08-05 17:32] QuincyLarson commented on #15736
@fastestnoob I agree. This would be great. @Bouncey is working on a full search engine for freeCodeCamp: https://github.com/freeCodeCamp/search

[2017-08-05 17:32] #15736 closed

[2017-08-05 18:30] QuincyLarson commented on #15669
@prateekgoel You should be able to just jQuery to select the code editor and grab its contents. An example of us doing this is when we update the challenge URL after a camper runs their code. We append their code to the URL. I would find that code and use it as an example.

[2017-08-05 18:33] #15618 closed

[2017-08-05 18:33] QuincyLarson commented on #15618
@sbennett2911 Sure - we will let you know in a polite way if you break GitHub etiquette. Thanks for being receptive to feedback :)

[2017-08-05 18:35] #15706 closed

[2017-08-05 18:47] QuincyLarson commented on #15615
@prateekgoel We shouldn't link to an external resources this early in the curriculum. We should instead explain what we need to explain ourselves.

After looking at this, I'm now convinced that this challenge is too hard. It's asking the camper to do too many things. We should move it to the basic algorithms section instead.

[2017-08-05 18:50] QuincyLarson commented on #15595
We've made this transition. Archiving this room isn't a high priority, so I'm just closing this issue.

[2017-08-05 18:50] #15595 closed

[2017-08-05 18:53] QuincyLarson commented on #15705
@dhcodes Interesting. Thanks for figuring this out.

We should instead figure out a way to hide the bullet entirely when `isBeta` is true. I'll open a new issue for this.

[2017-08-05 19:08] prateekgoel commented on #15669
@QuincyLarson PR submitted.

[2017-08-05 19:11] prateekgoel commented on #15703
@AbdelghaniTassi As @QuincyLarson mentioned, you work on this then. All the best.

[2017-08-05 19:25] prateekgoel commented on #15615
@QuincyLarson I thought to link to external resource as we already have link to the same external resource few challenges before this one.

Still, if you want i can remove the link and include the explanation on using the `switch` statement.

Regarding moving this challenge to basic algorithms section, I'm still not sure if this would be a good idea as this challenge doesn't seem to match other ch

[2017-08-05 20:36] QuincyLarson commented on #10403
I agree with @dhcodes that we should add the semicolon. We should also add a single sentence like "Note the semicolon `;` which is used at the end of a style declaration."

We should add a new test that checks specifically for the semicolon that says "Be sure to add a semicolon `;` to your style declaration."

[2017-08-06 06:33] shubhshrma commented on #10403
I would like to work on this.
@QuincyLarson Should I add all the three things you've mentioned?

[2017-08-06 13:29] AbdelghaniTassi commented on #15703
@QuincyLarson @prateekgoel  Ok thank you i'll get started on this.

[2017-08-06 14:23] anirugu opened #15738 "The Profiles tab is no longer exist in the chrome dev tool"
On this challenge https://www.freecodecamp.org/videos/chrome-dev-tools-profiles, The Profile tab is no longer exists in latest chrome dev tool.

The latest chrome dev tool has a tab called "Memory" which have the feature mentioned in the video. Anything could be done to show this changes in the text shown on the page.

It doesn't take time to find out where is this functionality in tool but it wou

[2017-08-06 14:47] QuincyLarson commented on #15715
@Bouzmine I think @BerkeleyTrue intends to create some sort of flag on the challenges themselves that dictates what panes should be shown. He may not have finished it yet.

[2017-08-06 15:24] QuincyLarson opened #15739 "Make Font Awesome Icons accessible to visually impaired campers"
A lot of campers who are working through freeCodeCamp are visually impaired or completely blind. We should use additional HTML elements everywhere where we use a Font Awesome icon that explains what the icon means.

Font Awesome has a guide for this here: http://fontawesome.io/accessibility/

[2017-08-06 16:01] yoizfefisch commented on #12923
If the issue is with on-the-fly updating, is it at least possible to update the preview when a new challenge arrives so that it reflects the new challenge? For each new challenge I begin, I first run the test to see how it looks before I follow the challenge instructions.

Also, I think this wasn't suggested yet, maybe the solution would be to add a button to preview changes? Although that's not v

[2017-08-06 19:38] anawebdev commented on #15739
Hi! Can i give it a try?

[2017-08-06 19:41] #15592 closed

[2017-08-06 20:04] #15280 closed

[2017-08-06 20:04] #15227 closed

[2017-08-06 20:07] #14713 closed

[2017-08-07 01:52] MarkPuchalaII commented on #6484
Same issue, here.
I've tried everything.
I know it isn't me.

My code is right.
I've tried on the following:

- Microsoft Edge
- Google Chrome
- Mozilla Firefox

 Edt

I think it's because I'm on a Surface Pro 4.

[2017-08-07 02:47] sblasa commented on #15739
@QuincyLarson @anawebdev Can I also help out on this issue? I would happy to assist. It would be my first time.

[2017-08-07 11:38] andmckvr13 commented on #15738
I would like to help fix this. Simple to replace 'Profiles' with 'Memory'. Perhaps though there should be some type message on the page though for users.

[2017-08-07 12:58] Jadeng24 commented on #15430
you need to enter wheels, seats, engines into your var Car = funtion() . so it will look like this
var Car = funtion(wheels, seats, engines) {
}

[2017-08-07 15:38] buoyantair commented on #15710
Wouldn't it be nice if you just had a drop down menu to the top of the "code" panel that indicates in what section they are? Or maybe it can be done such that the HTML/CSS/JS buttons are Inside the code panel, just like how it worked for the other panels (code panel, map, topic/tests). So the buttons in the menu bar are for the toggling of these major panels, and the buttons inside the codepanel a

[2017-08-07 20:14] QuincyLarson commented on #15710
@buoyantair Can you create an illustration or point to an implemented example so we can better understand what you're proposing?

[2017-08-07 20:45] valonhaliti commented on #8096
Hello, do you plan to fix it to work with ES6 or nope.

[2017-08-07 20:52] moyamanuel commented on #15719
I just looked into this issue and it seems the bash script used to set up Express is outdated. That would be something to look into, @knrt10.

[2017-08-07 21:21] abohannon opened #15740 "'Bug' button not working in Es6 challenges"
#### Challenge Name

All ES6 Challenges

#### Issue Description

Bug button not working

#### Browser Information

* Browser Name, Version: Chrome Version 59.0.3071.115 (Official Build) (64-bit)
OSX
* Operating System: MacOS Sierra 10.12.3 (16D32)
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]
#### Screenshot

[2017-08-07 22:08] knrt10 commented on #15719
@moyamanuel Can you please direct me to the files to look at.

[2017-08-07 22:14] 4mifix commented on #8096
Just a note **var** will allow the **stored value** to be changed but **let or const will not**. Just read that over the weekend quite a difference in ES6. Hopefully this helps.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/const

A full explanation is at the bottom of the page in the link posted above for all three (**var, let and const**).

[2017-08-07 22:28] idietmoran commented on #8096
@4mifix `let` can be changed, it's just scoped to the block.

[2017-08-07 22:31] mariusespejo commented on #15705
Hey @QuincyLarson I looked at the code a bit and figured out what's wrong.

Beta challenges are being filtered out by `filterComingSoonBetaChallenge` in `/common/app/redux/utils.js` as expected but the `Challenge` component is handed all dashed names regardless if it is beta or not. So during the state selection you sometimes end up with a challenge that can't be found in the map (because it was f

[2017-08-07 22:49] 4mifix commented on #8096
@idietmoran you are absolutely correct, reading a little on it right now.

[2017-08-07 23:20] erictleung commented on #10403
@shubheksha yes, the three things that should be added are:

1. Add semicolon to example code in challenge description
2. Add a note about adding semicolons (search around other challenges in the source code to see how to add notes in the right format)
3. Add test to check for semicolon

Please first read the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTR

[2017-08-08 03:34] dhcodes commented on #12836
Closing as resolved.

[2017-08-08 03:34] #12836 closed

[2017-08-08 03:36] dhcodes commented on #11186
Closing as wontfix

[2017-08-08 03:36] #11186 closed

[2017-08-08 03:37] dhcodes commented on #13304
Closing as resolved. Seems to be working now; please reopen if it's still not working on your end.

[2017-08-08 03:37] #13304 closed

[2017-08-08 03:41] dhcodes commented on #12849
This has been updated.

[2017-08-08 03:41] #12849 closed

[2017-08-08 03:44] dhcodes commented on #13222
Closing as resolved per Bouncey's comments?

[2017-08-08 03:44] #13222 closed

[2017-08-08 03:54] dhcodes commented on #15314
The issue here is not the test per se, but that the user is putting in 2 ordered lists when the test is looking for one. If she were to remove either ordered list so one remains, it would pass. I suppose we could add a test that ensures there is only one ordered list. What do others think? cc @freeCodeCamp/moderators

[2017-08-08 04:27] mariusespejo commented on #15740
What exactly is the expected behavior for the bug button? I tried it on a couple other challenges (not just the es6 ones) and it doesn't appear to do anything.

[2017-08-08 07:05] usmandap commented on #15652
#15744

[2017-08-08 07:07] usmandap commented on #15652
#15744

[2017-08-08 08:09] buoyantair commented on #15710
@QuincyLarson o_O 😅  Lemme do something to explain better >_>

[2017-08-08 09:03] anawebdev commented on #15739
@sblasa Sure, that would be great!

Can anyone confirm if we can start working on this?

[2017-08-08 09:03] buoyantair commented on #15710
@QuincyLarson o_O 😅  Lemme do something to explain clearly >_>

[2017-08-08 10:12] raisedadead commented on #15314
Thanks @dhcodes !

[2017-08-08 10:15] raisedadead commented on #10403
@shubhshrma : Eric wanted to mention you! Good luck and happy fixing!

[2017-08-08 10:17] raisedadead commented on #15281
@dpw1 a pull request is already available and ready to be merged, @BerkeleyTrue since @JosephLivengood is not around, I guess could give the the PR a merge. Its good to go.

[2017-08-08 13:40] #15652 closed

[2017-08-08 13:55] dhcodes commented on #13909
This has been fixed on beta. Closing as resolved.

[2017-08-08 13:55] #13909 closed

[2017-08-08 14:36] Koder90 commented on #4411
Doesn't work for me...doesnt accept solution and console shows nothing.

[2017-08-08 17:09] abohannon commented on #15740
I believe it’s suppose to take you to GitHub so you can report it.

[2017-08-08 17:44] #14947 closed

[2017-08-08 19:45] #15705 closed

[2017-08-09 01:18] #15281 closed

[2017-08-09 01:19] BerkeleyTrue commented on #15281
@raisedadead I've merged it. Thanks for checking it out!

[2017-08-09 07:14] shubhshrma commented on #10403
Please note that  [http://beta.freecodecamp.com/en/challenges/basic-css/change-the-color-of-text](http://beta.freecodecamp.com/en/challenges/basic-css/change-the-color-of-text) already has a  `;` but no note or specific test.Should I add these two here or all three at `backup/master`

[2017-08-09 07:37] erictleung opened #15746 "Need challenge teaching Object.freeze()"
#### Challenge Name

Currently non-existent

#### Issue Description

As brought up in the discussion of https://github.com/freeCodeCamp/freeCodeCamp/issues/14832, there needs to be challenge teaching how to use `Object.freeze()`, as the inclusion of this concept in a previous challenge was too lightly introduced and necessitated its own challenge.

#### Proposal

Create challenge teaching `Object.

[2017-08-09 07:46] erictleung commented on #12022
Closing as stale and possibly fixed by https://github.com/freeCodeCamp/freeCodeCamp/pull/15678. I think both concerns that were brought up have been addressed as a not an issue or has been already covered in the instructions. Feel free to comment if the issue still exists. Happy coding!

[2017-08-09 07:46] #12022 closed

[2017-08-09 07:50] erictleung commented on #10403
@shubhshrma committing to `backup/master` shouldn't be necessary for this challenge. We're only adding changes to the backup (i.e. production) if this is critical change to the curriculum or site, which it isn't. So I'd still just add your changes to `staging`. And I would just add the missing challenge tests if the semi-colon has already been added to the example :+1:

[2017-08-09 08:03] erictleung commented on #15738
I'm fine with changing this to mentioning "Memory" instead of "Profiles".

The link needs to be changed also to I think this https://developers.google.com/web/tools/chrome-devtools/memory-problems/.

[2017-08-09 08:07] erictleung commented on #15727
@just1witness thanks for the clarification. This might be a Firefox specific bug, but I can't verify this.

/cc @freeCodeCamp/moderators I'm unable to reproduce. If anyone has a Windows machine with Firefox, let us know if you can reproduce this error. Thanks!

[2017-08-09 08:11] erictleung commented on #15722
@dexrualo although I like the idea for learners to work on projects they genuinely are interested and are passionate about, I don't think having such open-ended projects is a good idea. For the general audience, this leads to non-concrete goals to achieve and more time spent on thinking of ideas of projects to complete.

But you did mention it should be an option for those wanting to have this opt

[2017-08-09 08:12] andmckvr13 commented on #15738
@erictleung  great. I will work on this issue then and get it to you ASAP

[2017-08-09 08:14] erictleung commented on #13906
Closing as not an issue anymore. Happy coding!

[2017-08-09 08:14] #13906 closed

[2017-08-09 08:15] erictleung commented on #13905
Closing as stale. Happy coding!

[2017-08-09 08:15] #13905 closed

[2017-08-09 08:16] erictleung commented on #13913
Closing as related and is sub-issue to https://github.com/freeCodeCamp/freeCodeCamp/issues/12698. Happy coding!

[2017-08-09 08:16] #13913 closed

[2017-08-09 08:20] shubhshrma commented on #10403
Thanks @erictleung , that explains a lot about `backup/master` to me.

[2017-08-09 09:06] bonebizz21 commented on #15722
Create their on projects.

bonebizz

[2017-08-09 09:37] Masd925 commented on #10403
CSS specification https://www.w3.org/TR/css-syntax-3/ Chapter 2. Description of CSS’s Syntax says:
Each declaration has a name, followed by a colon and the declaration value. Declarations are separated by semicolons.

CSS style attribute specification https://www.w3.org/TR/css-style-attr/ Chapter 1. Introduction shows the syntax of using a style attribute. The example has two style declarations in

[2017-08-09 12:50] just1witness commented on #15727
I should also clarify that I added a screen shot of this lesson, but the lessen directly before this one does it too.

[2017-08-09 17:25] rmonastra commented on #15722
While I like the idea of creating your own projects, I like the backend projects format.  FCC gives you a boilerplate and you fill it in.  I feel this is helpful for real world experience.  From research, I've found you'll work a lot other people's code.

[2017-08-09 17:28] AgmasGold commented on #15727
I am using firefox 54.01 **32-bit** on windows 10, and have no issues with this lesson.
![2017-08-09 18_27_47-](https://user-images.githubusercontent.com/30874283/29134984-8260af0e-7d30-11e7-9261-5b5e2723b3c1.png)

[2017-08-09 20:05] erictleung commented on #14193
@FaalVedtuz so I'll be closing this issue as I've been informed that freeCodeCamp isn't going to support Edge just yet because the browser itself doesn't support many features we depend on to run our challenges. I hope you understand. In the meantime, please use Firefox or other popular browsers to work on freeCodeCamp. Happy coding!

[2017-08-09 20:05] #14193 closed

[2017-08-09 20:57] erictleung commented on #15711
cc/ @QuincyLarson not sure who has access to this Glitch project, but this should be a quick fix.

[2017-08-10 10:19] willnwhite opened #15747 "Teach string interpolation in Word Blanks"
#### Word Blanks
https://www.freecodecamp.org/challenges/word-blanks

#### Issue Description
Word Blanks is a good example of why string interpolation (`The ${myAdjective} ${myNoun}...`) is useful, so I think it would be good to teach it here.

[2017-08-10 13:36] dhcodes commented on #15747
I agree we should have a challenge for string interpolation but it seems possibly a little early in the curriculum at that point to introduce it. What do others think? cc @freeCodeCamp/moderators

[2017-08-10 14:56] dhcodes opened #15749 "New challenge id generator"
There have been a few questions in the last week about how to make new challenges for freeCodeCamp. Typically, when making a new challenge, we suggest that one manipulates a few digits in one of the existing challenge ids and hope it doesn't clash. I think it'd be more user-friendly in the long-term to have a command-line tool that generates a suggested new challenge id after first running through

[2017-08-10 17:42] dhcodes commented on #15749
Per @erictleung this can be solved by:
(after running mongod in one terminal), have another terminal open running mongo and within that terminal type in ObjectId(). That should spit out a unique ID to use in a new challenge.

[2017-08-10 17:42] #15749 closed

[2017-08-10 18:01] erictleung commented on #15747
I think this will be good. But yes, this part of the curriculum might not be the best place to put it. Maybe near the end of Basic JavaScript would be a better place for it.

[2017-08-10 18:03] erictleung commented on #15646
@Bouzmine sorry for the late reply, but yes, go for it! Please first read the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) before taking care of this issue. And feel free to visit the [Contributors Help](https://gitter.im/FreeCodeCamp/HelpContributors) chat room if you have any questions about helping. We're there to help.

[2017-08-10 19:21] Parajux commented on #9149
i had problem with this and I put

// Setup
var a;
var b = 2;

// Only change code below this line
var a = 7;
var b = a;

[2017-08-10 19:39] willnwhite commented on #15747
I think string interpolation should be taught with Word Blanks, even if that means moving Word Blanks to later in the curriculum. Otherwise, learners could do Word Blanks, stop doing Free Code Camp, and go off into the wide world using string concatenation where they should be using interpolation.

[2017-08-10 19:40] andmckvr13 commented on #15738
@erictleung the staging branch seems to be a bit out of date compared to the master. The video-challenges folder can be found on the master branch, but not on the staging branch which is used for making the changes and the PR. Is there a way I can make contributions to this?

[2017-08-10 19:41] thenerdywiz commented on #758
I guess I'm having the same problems with npm dist-tag add <pkg> <tag> and have tried several workarounds. Can you give us credit for this tutorial if we make it through 10? When are you guys gonna update or fix this?

[2017-08-10 21:14] erictleung commented on #15738
@andmckvr13 thanks for digging around. I guess I've been out for a bit and forgot that we *might* be removing video challenges from the site (possible duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/12753).

cc/ @freeCodeCamp/moderators can someone verify that these video challenges will be removed? I don't see them on the beta site so I'm assuming this is true.

[2017-08-10 21:43] texas2010 commented on #15738
I could remind this. because fcc site will have offline mode later. so no video.

[2017-08-10 22:53] sogen commented on #14992
I'd change the wording to say:
**Before** each text (Like, Info, Delete) add the corresponding Font Awesome icon.
So the student can at least see the trash icon.

[2017-08-11 03:52] rmonastra commented on #15675
If someone wants to "test out", I see no reasons the top 5 hardest challenges shouldn't be used.

[2017-08-11 10:11] Survivor75 commented on #15476
Fibonacci Numbers grow very fast.
@JH108  is right. You need to do some semantic checking for that. Check out the following code :
`
function sumFibs(num) {
  var fibs = [1,1];
  var sum = 0;
  var index = 0;

  for(index = 2; index < num; ++index)
    fibs.push(fibs[index-1]+fibs[index-2]);

  for(index = 0; fibs[index] <= num; ++index)
    if(fibs[index]%2 !== 0)
      sum += fibs[index];

  ret

[2017-08-11 11:16] raisedadead commented on #15738
@erictleung video challenges are being deprecated in favor of the content being directly made available over our youtube channel. That's what was discusses a while ago and I think @QuincyLarson can confirm

[2017-08-11 11:19] raisedadead commented on #15739
@sblasa @anawebdev yes sure go for it, help wanted issues are open for all to explore and fix.! Hit us up in the [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors), if you need any assistance.

[2017-08-11 11:21] raisedadead commented on #15729
Yes, I have been wondering for some time now that we should be doing this.! If no else beats me to this I would love to get my hands a bit dirty on this one.

Of course after I wind up other pressing PRs..!

[2017-08-11 17:57] dhcodes commented on #15738
Reference: https://github.com/freeCodeCamp/freeCodeCamp/issues/12753

[2017-08-11 18:34] QuincyLarson commented on #15738
@raisedadead @dhcodes Our current thinking is we'd make these videos searchable, and perhaps dynamically add them to the challenge map, but they would just be plain embeds - they won't have comprehension questions afterward.

I recommend we update the description on the YouTube video itself. We could add a simple note like this:

Would that suffice?

[2017-08-11 18:39] Nevillealee commented on #15740
Im going to take a stab at this if no one minds

[2017-08-11 19:14] QuincyLarson commented on #15675
Thanks for everyone's feedback. I will make the 5 hardest challenges required and remove the requirements for the other algorithm challenges. I'll just do this on beta for now simplicity.

[2017-08-11 19:14] #15675 closed

[2017-08-11 19:28] Manish-Giri commented on #15746
I'll take this up.

[2017-08-11 20:06] #14832 closed

[2017-08-11 20:29] Manish-Giri commented on #15617
@QuincyLarson Any feedback on this?

[2017-08-11 20:33] QuincyLarson opened #15752 "Challenge description CSS is broken"
![basic_javascript__understanding_undefined_value_returned_from_a_function___freecodecamp](https://user-images.githubusercontent.com/985197/29230789-1d60e850-7eaa-11e7-8ed7-8298acfa3d63.png)

This should look closer to this:

![manipulating_complex_objects___freecodecamp](https://user-images.githubusercontent.com/985197/29230866-708bf51a-7eaa-11e7-93b8-2ddcbc9db22f.png)

[2017-08-11 20:34] #15717 closed

[2017-08-11 20:38] QuincyLarson commented on #15752
This seems to be fixed upon a hard refresh.

[2017-08-11 20:38] #15752 closed

[2017-08-11 21:03] QuincyLarson opened #15753 "Instead of /challenges/ use slug from corresponding certificate"
For SEO purposes, we want the URL structure to follow:

freecodecamp.org/[certificate-slug]/[challenge-block-name]/[challenge-name]

The `certificate-slug` could be an attribute on the certificate object.

Here are my proposed slugs for each certificate:

Responsive Web Design: `responsive-web-design`
JavaScript Algorithms and Data Structures: `algorithms-data-structures`
Front-End Libraries: `fro

[2017-08-11 21:36] prateekgoel commented on #15703
@AbdelghaniTassi Did you get a chance to work on this?

[2017-08-11 22:25] SavSE commented on #15703
May I contribute?

[2017-08-11 22:58] AbdelghaniTassi commented on #15703
@prateekgoel i was busy lately i looked in the code and i identified the css classes that should be modified
i will finish it this weekend

[2017-08-11 23:01] Nevillealee commented on #15740
Does the Bug button open a modal?

[2017-08-12 02:20] dhcodes commented on #15738
Sounds good @QuincyLarson but I don't have access to edit the Youtubes.

[2017-08-12 09:05] libentboniphace opened #15755 "Your form element should have the background-color of green."
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-08-12 11:16] MohcinWeb commented on #14955
My code :100:
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-i

[2017-08-12 18:06] erictleung commented on #15755
Thank you for reporting this issue. Please include more information about your issue next time.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official c

[2017-08-12 18:06] #15755 closed

[2017-08-12 19:25] xnt commented on #15739
I have a bit of experience doing aria-* stuff on my 9to5. @sblasa @anawebdev are you already on it?

[2017-08-12 19:38] sblasa commented on #15739
Hi! @xnt I'm working on this with @anawebdev! Thanks!

[2017-08-12 19:55] QuincyLarson commented on #15703
@AbdelghaniTassi Awesome - thanks for the update.

@SavSE We would love your help with some of these other help-wanted issues here: https://github.com/FreeCodeCamp/freecodecamp/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22

[2017-08-12 20:04] QuincyLarson commented on #15738
@dhcodes OK - I've made the change: https://www.youtube.com/watch?v=fvfqnFYXF_8&list=PLWKjhJtqVAbmfoj2Th9fvxhHIeqFO7wOy&index=34

[2017-08-12 20:04] #15738 closed

[2017-08-12 20:28] xnt commented on #13013
@miki123211 I'm removing the icon and the text from the columns, and adding a concatenation of the result and the text as an aria-label to the row. I don't have NVDA at the moment, but Mac's VoiceOver reads it fine. Is there any chance you could help me test it?

[2017-08-12 20:52] QuincyLarson commented on #15739
@xnt We'd welcome your help with some other help-wanted issues: https://github.com/FreeCodeCamp/freecodecamp/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22

[2017-08-12 20:57] xnt commented on #15739
@QuincyLarson yup! Already working on #13013 . Almost done (lint'ing). Thanks!

[2017-08-12 21:20] QuincyLarson commented on #15617
@Manish-Giri thanks for your patience.

This is definitely more clear. But it's a bit long. Is there a way we can cut this down to a few paragraphs? Also, we shouldn't use code formatting for non-code.

[2017-08-12 21:33] QuincyLarson commented on #758
@thenerdywiz We are removing the Node School challenges completely in favor of our own challenges. These are in the beta curriculum: beta.freecodecamp.com/map

[2017-08-12 21:35] QuincyLarson commented on #15747
@willnwhite @dhcodes @erictleung I agree that we should teach string interpolation before we have the Word Blanks challenge. Would any of you be interested in designing one or two challenges around string interpolation that we could put before Word Blanks?

[2017-08-12 21:46] QuincyLarson commented on #15711
@MiloATH it looks like you control this Glitch project (at least judging from the Git blame function in the seed file). Can you make the edit real quick? I would fork your project and update it, but you seem to have made the Glitch project private.

[2017-08-12 21:53] QuincyLarson commented on #15722
What to build is a business decision. How to build it is an engineering one.

Also, for the purpose of issuing certifications, we need some degree of standardization in what campers build.

You're welcome to build whatever additional projects you want, though. We're working on adding dozens of optional extra project ideas with working demos and agile user stories.

[2017-08-12 21:53] #15722 closed

[2017-08-12 21:55] QuincyLarson commented on #15314
@dhcodes Yes - if this is something that is likely to happen, I agree that we should either improve the existing test, or create a new test that will fail and remind them to only use one ordered list.

[2017-08-12 22:00] willnwhite commented on #15747
@QuincyLarson How about Word Blanks just linking to e.g. https://en.wikipedia.org/wiki/String_interpolation#JavaScript or https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals?

[2017-08-12 22:08] QuincyLarson commented on #15615
@prateekgoel If we could figure out a way to reduce the number of things campers need to do to pass this challenge, we could keep it where it is. We spend a lot of time talking about switch statements leading up to this challenge. Can you try and figure out a way to reduce the complexity of the challenge?

[2017-08-12 22:12] QuincyLarson commented on #12923
@yoizfefisch I think @BerkeleyTrue is working on a way to load the HTML and CSS without running the JavaScript when the page loads. This should make it clear that the new challenge has loaded without running the risk of an infinite loop or malicious code.

[2017-08-12 22:13] QuincyLarson commented on #15710
@buoyantair We plan to eventually allow for multiple JavaScript files and loading of specific libraries. Would you be interested in helping us implement this feature?

[2017-08-12 22:33] #10403 closed

[2017-08-12 23:44] abohannon commented on #15740
It doesn't do anything for me. After inspecting it, it looks like the input isn't setup.

[2017-08-12 23:47] Nevillealee commented on #15740
ok so the working version of the code should open a modal? or redirect straight to github?

[2017-08-12 23:48] xnt commented on #15658
@axtscz @dhcodes are you fixing this? Otherwise I'd like to try.

[2017-08-13 00:04] abohannon commented on #15740
I think it is intended to point to github.

[2017-08-13 01:28] AbdelghaniTassi commented on #15703
15px font size should be applied to tasks desriptions also ?
tasks description font size is by default equal to 1.5*nomal text size so i don't know if that should also have the same font size as the other panes
below the difference between a 15px task description and 15*1.5
![15px_task_description](https://user-images.githubusercontent.com/6968349/29245315-de9e0390-7fd6-11e7-9b5c-fab82d893f08.PNG)

[2017-08-13 03:42] axtscz commented on #15658
Yeah, go ahead and try. I had some things come up and can't get to it right
now. Let me know if you want help though.

On Aug 12, 2017 6:51 PM, "Vicente Plata" <notifications@github.com> wrote:

[2017-08-13 04:25] MiloATH commented on #15711
I have fixed the 'Request' typo in the project. Let me know if there is anything else I should do.

[2017-08-13 04:35] maciek23028 commented on #15711
Thanks i will definitely need more later at some stage.

On 13 Aug 2017 5:27 am, "Milo Hartsoe" <notifications@github.com> wrote:

[2017-08-13 04:53] xnt commented on #15658
Awesome! I'm on it. Thanks!

[2017-08-13 05:04] prateekgoel commented on #15615
@QuincyLarson Sure. I will try it and let you know.

[2017-08-13 05:28] prateekgoel commented on #15314
Can i work on this?

[2017-08-13 09:30] adityaparab commented on #15749
@dhcodes : I undeestand this issue is closed however, I ran into similar issue while creating new PR #15757

Using `ObjectId()` from Mongo terminal worked for me. This process seems tidious and your original idea of challenge id generator seems feasible to get rid of this processing.

So I did some investigation on this and what I found is putting `id` field for new challenge is completely pointle

[2017-08-13 11:17] adityaparab commented on #15134
Since there is no update on this in more than a week, I'll take this up. Hope it's okay with you guys @Survivor75 and @knrt10

@raisedadead : I believe the solution is way simpler than we have been thinking.

We run assertions on `code` which is a string. So why don't we just run a regex on this string and remove comments before it is being used for validation?

For example in - `client/frame-runn

[2017-08-13 15:51] prtk418 commented on #15726
@akshaynaik404 are you working on it??

[2017-08-13 15:56] Survivor75 commented on #15134
@adityaparab its cool :+1: .
I almost forgot about it as I got engaged in something else.
However I came up with this code, if you are going to be working on this take a look at the below functoin.
`
 function stripComments ( code ) {
     return code . replace (/\/\/.*|\/\*[^]*?\*\// g , "") ;
}
`

This will strip out any commented code :)

[2017-08-13 17:40] akshaynaik404 commented on #15726
Yes @prtk418 .

[2017-08-13 18:16] prtk418 commented on #15726
@akshaynaik404 ok

[2017-08-13 20:51] erictleung commented on #15711
@MiloATH thanks for fixing this!

Closing as resolved. Happy coding everyone!

[2017-08-13 20:51] #15711 closed

[2017-08-13 21:03] QuincyLarson commented on #15711
@MiloATH Thanks!

[2017-08-13 21:03] QuincyLarson commented on #15314
@prateekgoel Absolutely. This one's yours. As always, thanks for your help!

[2017-08-13 21:06] QuincyLarson commented on #15703
@AbdelghaniTassi Excellent question. My inclination is to leave those descriptions the size that they are currently (we could specify a specific font size instead of using the 1.5x multiplier). What do you think about the current text size?

[2017-08-13 21:08] QuincyLarson commented on #15747
@willnwhite We would ultimately like to get rid of these links to external sources and say everything the campers needs to complete the challenge in the description. Linking to an external resource may actually increase the length of time it takes for the camper to finish the challenge. We can link to these articles from the wiki article that's shown when campers click the "help" button, but this

[2017-08-13 21:37] annobot opened #15761 "lesson 244 , i just tried something different"
Goal->Check if a string (first argument, str) ends with the given target string (second argument, target).

this is my code

[code]

works for every case but not this.. here value of m is 76 and value of u is 1.. but it returns true

[2017-08-13 22:43] AbdelghaniTassi commented on #15703
@QuincyLarson I think that the current text size is ok it's big and catchy for the small descriptions.
and as you said maybe we should specify a fixed size for the descriptions later so they don"t get bigger or smaller when we change the text size of other panes

[2017-08-14 00:21] OGZCoder commented on #14881
Is anybody still working on this? I am going to jump on it anyway, but let me know if someone is already working on this and I'll choose another issue

[2017-08-14 00:35] antonongithub opened #15762 "Lesson 287 - The lesson is not letting me go forward, but my code is correct in any browser."
#### Challenge Name

https://www.freecodecamp.org/challenges/record-collection

#### Issue Description

I created a function according to the rules of the task that accomplishes all of the objectives. I know this because any browser I have used, it shows me that what I have done is correct. The Free Code Camp editor, however, is not registering it as correct, thus not letting me pass off the task.

[2017-08-14 03:07] Marmiz commented on #15762
@antonongithub Thanks for reporting this issue.

Your code is not submitting the correct solution.

The instructions states:

On the other hand, you are manipulating the collection object but never returning it, therefore the test challenges won't let you through.

Also for the sake of clarity you have two instances of `var collection`; that can be problematic and cause some issues of variables wi

[2017-08-14 05:37] prateekgoel commented on #15314
I am happy to help. Thanks @QuincyLarson

[2017-08-14 06:56] willnwhite commented on #15747
@QuincyLarson I see. We can't count on the suitability of the article for the camper. What about Word Blanks just mentioning "string interpolation", then it's up to the camper to find a suitable reference?

[2017-08-14 14:48] ajomadlabs commented on #14895
@QuincyLarson Can I take up this issue ? I'm really interested to work on this as I'm a beginner

[2017-08-14 14:54] texas2010 commented on #14881
@OGZCoder you can work on this.

[2017-08-14 15:38] Talkingbaby opened #15763 "Submit button doesn't work on click"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/es6/use-class-syntax-to-define-a-constructor-function

#### Issue Description

After completing one of the tasks the modal appeared saying I was successful. However, the next button did not work. So I used control + enter which allowed me to continue to the next lesson. From the next lesson without doing anything else you can use cont

[2017-08-14 16:25] OGZCoder commented on #14881
Already started

[2017-08-15 02:37] #15314 closed

[2017-08-15 08:58] adityaparab commented on #15761
Use === instead of == and it should pass?

[2017-08-15 20:00] DusanSacha commented on #15763
I can confirm. It is not only this mentioned challenge. I tried submit button in more beta challenges and it doesn't seem to work.

-    Browser Name, Version: chrome
-    Operating System: windows
-    Mobile, Desktop, or Tablet: desktop

[2017-08-15 21:29] dhcodes commented on #15763
Confirmed as well. Open for takers.

[2017-08-15 21:44] andrejarboe opened #15767 "Free Code Camp Weather API needs a list of all the possible weather outcomes and descriptions."
#### Challenge Name

[Show the Local Weather](https://www.freecodecamp.org/challenges/show-the-local-weather)
[Free Code Camp Weather API Pass-through](https://fcc-weather-api.glitch.me/)

#### Issue Description

We need a list of all the possible outcomes for that the weather API  JSON at "weather[0].main" and their descriptions at "weather[0].description".

[The code pen example](https://codepen

[2017-08-16 07:44] adityaparab commented on #15763
Looking into it.

[2017-08-16 09:09] RitikPatni opened #15768 "freeCodeCamp weather API always shows minimum temperature & maximum temperatures same"
#### Challenge Name

https://www.freecodecamp.org/challenges/show-the-local-weather

#### Issue Description

https://fcc-weather-api.glitch.me/
API output
{ "coord":{ "lon":159, "lat":35 }, "weather":[ { "id":500, "main":"Rain", "description":"light rain", "icon":"https://cdn.glitch.com/6e8889e5-7a72-48f0-a061-863548450de5%2F10n.png?1499366021399" } ], "base":"stations", "main":{ **"temp":22.59**,

[2017-08-16 10:17] anawebdev opened #15769 "Typos in Exercise Tracker API User Stories"
#### Exercise Tracker

https://beta.freecodecamp.com/en/challenges/api-and-microservice-projects/exercise-tracker

#### Issue Description

Third user story:
"Returned will **the the** user object **with also with the** exercise fields added. "

Fourth user story:
"**Return** will be the user object with added array log and count (total exercise count)."

#### Browser Information

* Browser Name, V

[2017-08-16 10:22] kkavita92 commented on #15769
Will submit a PR in an hour or so!

[2017-08-16 12:43] DusanSacha commented on #15768
Hi @RitikPatni, thank you for opening the issue.

I reviewed the weather API and I don't think there is an issue in it. There are definitely some cases which show temp_max equal to temp_min. But I found a lot of cases where this two values are different.
For example [here](https://fcc-weather-api.glitch.me/api/current?lat=99&lon=99)
(Please, keep in mind that measured data can vary. By the time wh

[2017-08-16 13:42] ajomadlabs commented on #15763
@dhcodes Can I take up this issue ?

[2017-08-16 14:38] dhcodes commented on #15763
@ajomadlabs looks like @adityaparab is already working on it. You can find other issues by filtering for the help wanted tag. Many are still open or if they are older, then you can probably assume the person who claimed it is not still working on it.

[2017-08-16 15:28] heatxizt commented on #15675
Hey I know this has been closed, however I will like to suggest:
The 5 problems should be really different from each other, so that you really cover a variety of algorithms (you can select the hardest from each group)
Thanks for reading.

[2017-08-16 15:55] RitikPatni commented on #15768
Hi @DusanSacha I think that working in one or a few cases is not good for any API it should have a success rate of at-least more than 60% and failure in most cases doesn't justify it.So I don't think that closing this issue is a good idea I think if there is a bug then you can't just ignore that it works in few cases It should at-least work in most cases if not all.

We can wait for somebody, who

[2017-08-16 20:04] dhcodes commented on #15769
Please change these sentences to be "App will return the user object..." @kkavita92

[2017-08-16 20:54] akshaynaik404 commented on #15726
Is this the right branch, file that I should be looking to modify @dhcodes ?

[https://github.com/freeCodeCamp/freeCodeCamp/blob/backup/master/seed/challenges/01-front-end-development-certification/json-apis-and-ajax.json](https://github.com/freeCodeCamp/freeCodeCamp/blob/backup/master/seed/challenges/01-front-end-development-certification/json-apis-and-ajax.json)

I can see where the new test sho

[2017-08-16 22:12] meda123 commented on #15099
Hi! Been a part of the community for a while and would to contribute. This would be my first PR (ever), may I claim this issue and work on it? Any tips/advice would be appreciate it.

[2017-08-17 01:30] dhcodes commented on #15099
@meda123 Yep, you're welcome to work on it. It seems to be something with how React is rendering the `dangerouslySetInnerHTML`. It works on the first load but not on reload. To make a PR once you've determined the issue, follow the [Contributor's Guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md)

[2017-08-17 10:32] joshhazelhurst123 commented on #15727
I am using firefox 54.01 32 bit on windows 10, and I also did not have any issues with the lesson.

[2017-08-17 15:27] erictleung commented on #15322
@mvroehling very clever answer 😄 I agree that your answer is correct but that is not the point of the challenge. The challenge really is for the learner to break down the function, write it for themselves, and understand *how* that function is giving them a random number between two numbers. We're open to suggestions on how we can convey this and still teach them something without losing them in t

[2017-08-17 15:45] dhcodes commented on #15762
thanks @Marmiz for the clear explanation. Closing as resolved.

[2017-08-17 15:45] #15762 closed

[2017-08-17 16:26] thenerdywiz commented on #758
Hi Quincy...I'm sorry to pester you but I'm now having some problems with the beta curriculum. I have setup my account with Glitch and somewhat understand its workings. However, the "show live your app" opens a page with just '**Manage Node.js projects and npm packages using package.json
Part 1 of Free Code Camp Backend Challenges**' and a grey screen. What's worse is that the beta fcc is not lett

[2017-08-17 17:58] obioha921 commented on #15161
I have found the solution skip the challenge to another one then copy the image link and go back to the previous challenge and paste the link then submit you answer very simple and fast...

[2017-08-17 20:14] jenkuy opened #15771 "Responsive Web Design Principles: Make an Image Responsive challenge is not working"
#### Challenge Name
http://beta.freecodecamp.com/en/challenges/responsive-web-design-principles/make-an-image-responsive

#### Issue Description
The challenge is telling me that display is not set to blocked. When I asked in the help chat it worked for other users... I can't get it to approve that portion.

#### Browser Information
* Browser Name, Version: Firefox 54.0.1 (32-bit)
* Operating Syste

[2017-08-18 02:52] joshua-fogg commented on #15771
Hey Jenkuy,
have you tried refreshing the page and doing the example again?
sometimes it just needs a refresh to work.
I ran your code through the test and it passed on my end.

Let me know if this helps you

[2017-08-18 02:59] joshua-fogg commented on #15768
Hey I just checked the API feed and that particular point is showing a consistent reading. as it is located in the middle of the North Pacific Sea, I would think it would be due to a lack of data for that area. Rather than it being a faulty API i think it's due to a lack of data input for the algorithm for that location.

[2017-08-18 03:03] joshua-fogg commented on #15719
setup.sh

[2017-08-18 04:06] arjunv opened #15772 "Ambigous toggle buttons in Email Settings"
#### Issue Description
Inorder to disable or enable notification emails, the user is expected to toggle the options in the [Email Settings page](https://www.freecodecamp.org/settings). However the toggle buttons are ambigous and does not clearly convey whether the `On` or `Off` implies that the emails are currently enabled or disabled. The fact that the unsubscribe links from emails errors out whe

[2017-08-18 07:52] RitikPatni commented on #15768
It is showing wrong data for my location and I'm not located in the middle of North Pacific Sea, I'm in India and the issue was coming from another person who wasn't from India So I think if the issue is real than there is a huge lack of data and it would be bad for the API

[2017-08-18 10:35] prateekgoel commented on #15772
I'll take up this.

[2017-08-18 11:34] prateekgoel commented on #15772
@erictleung How about using Yes/No instead of Enabled/Disabled?

[2017-08-18 13:08] jenkuy commented on #15771
Yeah, I have refreshed, logged out and back in, cleared cookies, etc. The challenges after this one are also not clearing for me.

[2017-08-18 17:06] erictleung commented on #15772
@prateekgoel yes/no sounds more intuitive :+1:

cc/ @QuincyLarson tagging you for comment on UI/UX changes :smile:

[2017-08-18 18:42] prateekgoel commented on #15772
@erictleung Great. 😄
@QuincyLarson Let me know if you have any thoughts regarding this.

[2017-08-18 20:29] dhcodes commented on #15771
I think this PR will fix the issue. Thanks for reporting it!

[2017-08-18 22:15] QuincyLarson commented on #15772
@erictleung @prateekgoel I agree that this will be more clear.

I like how Medium does this. It's monochrome and would jive with freeCodeCamp's visual design. It also allows for more than an on/off state.

![medium](https://user-images.githubusercontent.com/985197/29479591-b9f85fb6-8438-11e7-8b9c-741314212728.png)

@prateekgoel would you be interested in updating this on staging? Also, could you R

[2017-08-18 22:17] QuincyLarson commented on #758
@thenerdywiz It sounds like you may have identified a bug. Can you take some screenshots and create a separate issue for this?

[2017-08-18 22:19] QuincyLarson commented on #15727
@AgmasGold @joshhazelhurst123 Thanks for attempting to reproduce this issue. It sounds like this was a quirk that may only be affecting @just1witness. I am going to close this issue and we can reopen and investigate further if someone else encounters this.

[2017-08-18 22:19] #15727 closed

[2017-08-18 22:21] QuincyLarson commented on #15675
@heatxizt Thanks for your feedback. With this in mind, which 5 intermediate algorithm challenges would you would recommend we use?

[2017-08-18 22:22] QuincyLarson commented on #14895
@Manish-Giri Have you had time to look into this? If not, could we let @ajomadlabs take a crack at it?

[2017-08-18 22:24] QuincyLarson commented on #15747
@willnwhite I would recommend showing a quick example of how you can perform string interpolation - perhaps as a separate coding challenge that precedes this one. Would you be interested in helping create one?

[2017-08-18 22:28] QuincyLarson commented on #15703
@AbdelghaniTassi OK - we can leave the "slide" style challenge text the current size, but I think we should change it for all the other challenge views.

Regarding your suggestion of fixing the size of text, I'm not sure if I correctly understand what you're proposing. We still want for people who have visual impairments or bad eyesight to be able to make text larger, right?

[2017-08-18 23:18] dishaspatel opened #15776 "For recovering page"
I think my program is in infinite loop. So, I can not rewrite the code. how can I break this loop and recover page?

[2017-08-18 23:19] gwenf commented on #14595
@amasad Hey, I'm still getting the same error. Have you been able to take a look? I'm meeting with someone next week to knock out some of the challenge design and I would like to have this working on some level :)

[2017-08-19 00:23] Manish-Giri commented on #14895
@QuincyLarson Oops, sorry - this is on the way, just need to make some changes and push it.

[2017-08-19 05:43] usmandap commented on #15776
Kindly mention in what task you are facing this issue so we can help you. Share the url for that particular task. Thankyou

[2017-08-19 10:08] arjunv commented on #15772
@prateekgoel With `Yes/No` or `On/Off`, the user will not be able to understand the current state. If we go with one of those, it wouldn't be clear whether `On` implies `Notifications are currenly enabled` or `clicking will enable notifications`.
Hence I went for something like `Enabled` (if the button implies that notifications are currently enabled).  And if the button changes state to enable no

[2017-08-19 18:25] systimotic commented on #13409
Hey everyone! There's a couple of things going on here.

To understand why things are happening, looking at the tests is really helpful here
https://github.com/freeCodeCamp/freeCodeCamp/blob/f373eca1aaf963671dcafcd96f199214df7a2077/seed/challenges/02-javascript-algorithms-and-data-structures/basic-javascript.json#L2527-L2530

This explains why @raisedadead's sample passed. The text `var myVar` was

[2017-08-19 18:58] che2901 commented on #758
As I get it ,to start Back End I have to go straight to beta challenges and skip Node School challenges.
Am I right?

[2017-08-19 19:17] seifsg opened #15777 "MAP page on beta: No Super Blocks"
#### Issue Description
Map page for the beta site just shows that text.
Maybe we need a beta status/health page.

#### Browser Information

* Browser Name, Version: Tested on Chrome and FireFox latest
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

#### Screenshot

![image](https://user-images.githubusercontent.com/6075316/29489522-3edabc5c-8523-11e7-8f97-63d25926e82f.png)

[2017-08-19 19:31] seifsg opened #15778 "Beta: Font refuse to load"
#### Issue Description
Possibly occuring in all pages.
Opening the developer tool to find these error messages in the console:

[code]

#### Browser Information

* Browser Name, Version: Chrome only
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

#### Screenshot

![image](https://user-images.githubusercontent.com/6075316/29489601-3835a554-8525-11e7-9f5c-0f9f16aed236.png)

[2017-08-19 22:06] systimotic commented on #15638
@jhomme Thank you for reporting this issue! We have already noticed this and have been working on a fix in https://github.com/freeCodeCamp/freeCodeCamp/issues/12431

I think I can open a PR with a fix, but I need a screen reader user to test it first. Would you be willing to help with that? Instructions on how to test are here: https://github.com/freeCodeCamp/freeCodeCamp/issues/12431#issuecomment

[2017-08-19 22:06] #15638 closed

[2017-08-19 22:40] kbekkeli commented on #12431
hi

_Sent from my Samsung SM-A520F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-19 22:40] kbekkeli commented on #12431
_Sent from my Samsung SM-A520F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-19 22:57] mstellaluna opened #15779 "Build A Nightlife Coordination App no longer works"
#### Challenge Name

Main: https://www.freecodecamp.org/challenges/build-a-nightlife-coordination-app
Broken: http://whatsgoinontonight.herokuapp.com/

#### Issue Description

The app in the link for the Nightlife Coordination App http://whatsgoinontonight.herokuapp.com/ no longer works. The site loads but no search data is coming up, just stuck at the loading.
#### Browser Information

* Browser

[2017-08-19 23:04] mstellaluna commented on #15779
.

[2017-08-20 00:45] no-stack-dub-sack commented on #14987
@systimotic just curious, have you tested this since the big changes?

[2017-08-20 01:25] erictleung commented on #15776
@dishaspatel please take a look at https://forum.freecodecamp.org/t/free-code-camp-infinite-loop-protection/19550. Closing as not a bug on the site. Happy coding!

[2017-08-20 01:25] #15776 closed

[2017-08-20 05:41] prateekgoel commented on #15772
@QuincyLarson I wanted to help but I am new to React. So i think it would be good if someone else take this.

[2017-08-20 08:16] AbdelghaniTassi commented on #15703
@QuincyLarson Of course will always be able to adjust text in the browser. what i meant by fixed text size is removing the 1.5 multiplier (maybe later).

I set text size to 15px, now it looks consistent.

[2017-08-20 10:01] vivek-agrawal27 commented on #15763
@adityaparab Please update. How far have your work reached?

[2017-08-20 10:03] vivek-agrawal27 commented on #15703
@AbdelghaniTassi Great Work!

[2017-08-20 10:06] vivek-agrawal27 commented on #15779
@mstellaluna I'm Looking into it. I'll update you soon about the issue.

[2017-08-20 10:16] vivek-agrawal27 commented on #15726
@akshaynaik404  Yes that's the right file.

[2017-08-20 10:26] adityaparab commented on #15763
@vivek-agrawal27 : Take a look at [PR above your comment](https://github.com/freeCodeCamp/freeCodeCamp/pull/15770), :)
It is fixed but it needs to be updated as per review comment I received there. I'm on it. Please look into some other issue.

[2017-08-20 10:40] vivek-agrawal27 commented on #15778
When I tried to reproduce this in opera (which is based on chromium) I wasn't able to do so. But it's only happening with chrome as mentioned by you. The thing here is that the website looks exactly same on both the browsers.
We'll have to look into this deeply.
@QuincyLarson Thoughts?

[2017-08-20 16:01] smithmallick149 commented on #14803
same here it doesn't accept the code

[2017-08-20 16:05] smithmallick149 commented on #14803
var expression = /\S+/g; // Change this line--error
var expression = /\S/g; // Change this line--got the code submitted

[2017-08-20 17:01] vivek-agrawal27 commented on #15763
@adityaparab Yes I saw that :) I just wanted to know its latest stage.
btw Great work.

[2017-08-20 23:19] ZacharyKearns commented on #15772
@QuincyLarson I will take this up. I will start by converting the email settings page to react components and change the buttons to an On/Off toggle setup if that is okay

[2017-08-20 23:42] wwSchrader commented on #15779
I second this. It keeps returning server status 500.

[2017-08-21 03:00] #15088 closed

[2017-08-21 04:01] nsuchy opened #15782 "GitHub Description of freeCodeCamp Organization Account uses .com domain"
#### Challenge Name
N/A

#### Issue Description
View https://github.com/freeCodeCamp/ and see the freeCodeCamp Website URL uses the .com and not the .org domain name.

#### Browser Information

* Browser Name, Version: Google Chrome
* Operating System: macOS
* Mobile, Desktop, or Tablet: Laptop

#### Your Code
N/A

[code]

[2017-08-21 06:56] erictleung commented on #15782
I think @QuincyLarson or @BerkeleyTrue might be the ones to change this.

[2017-08-21 07:00] vs1682 commented on #15772
@ZacharyKearns you can check for ToggleButtonGroup and ToggleButton in react-bootstrap.

Note: we are currently using react-bootstrap v0.30.5 but ToggleButtonGroup and ToggleButton have been exported for public use only in v0.31.2

[2017-08-21 08:55] yasserhussain1110 commented on #15779
Maybe you could use my app in its stead https://yasser-nightlife-app.herokuapp.com/

[2017-08-21 14:58] BerkeleyTrue commented on #15782
Fixed. Happy Coding

[2017-08-21 14:58] #15782 closed

[2017-08-21 15:41] jenkuy commented on #15771
Replacing "blocked" with "none" did not work for me in Firefox. But I got it to accept "blocked" in Chrome. Thank you!

[2017-08-21 15:41] #15771 closed

[2017-08-21 16:15] willnwhite commented on #15747
Thank you, but no. I think campers should find and use references to do FCC (and use the browser console to try out small things from those references, like string interpolation). For instance, I searched for "string interpolation javascript" and found a nice intro: https://developers.google.com/web/updates/2015/01/ES6-Template-Strings.

[2017-08-21 16:16] ZacharyKearns commented on #15772
@vs1682 v0.30.5 does not have ToggleButtonGroup or ToggleButton. React-bootstrap would need to be upgraded or a custom component would have to be made.

[2017-08-21 16:42] dhcodes commented on #15747
@QuincyLarson I'll work on a challenge, but I sort of think it should come after Word Blanks. Word Blanks would teach how to pass parameters for use within a function and the new challenge would show another way to pass these parameters, but only when they are specifically strings). Thoughts?

[2017-08-21 17:00] vs1682 commented on #15772
@ZacharyKearns right, that is what I mentioned in my earlier comment.

[2017-08-21 17:20] #14207 closed

[2017-08-21 17:59] HuseyinTurkmenoglu opened #15786 "Not login with Github."
#### Issue Description
I can not log in using the email address I used for Github. I gave it my permission.

I always get this error.
**_Oops! Something went wrong. Please try again later_**

#### Browser Information

* Browser Name, Version: Chrome 60
* Operating System: Windows
* Mobile, Desktop, or Tablet:  Desktop

[2017-08-21 18:34] dhcodes commented on #15772
tagging @BerkeleyTrue for thoughts on being able to upgrade `react-bootstrap`?

[2017-08-21 19:01] BerkeleyTrue commented on #15772
@dhcodes that version is currently within our semvar range.

[2017-08-21 21:53] #10749 closed

[2017-08-21 23:23] Annastaciahubbard commented on #14051
F

[2017-08-22 00:47] QuincyLarson commented on #15782
@nsuchy thanks for catching this.

[2017-08-22 00:56] erictleung commented on #15786
I'd email team@freecodecamp.com for support help on your account.

cc/ @QuincyLarson @BerkeleyTrue

[2017-08-22 02:26] nsuchy commented on #15782
@QuincyLarson No problem, I'm going through all freeCodeCamp repos and opening issues / PRs where they're needed to address the .com links.

[2017-08-22 04:26] #15786 closed

[2017-08-22 10:33] DusanSacha commented on #15778
Could you post the exact link where did you reproduce the error?
I have the same configuration as mentioned in the first post, I don't see any console errors though. (Temporary problem possibly?)

[2017-08-22 12:07] zk433 commented on #15778
I see the same issue on every beta page. This, for example, is from this link:

[](http://beta.freecodecamp.com/en/challenges/managing-packages-with-npm/introduction-to-the-managing-packages-with-npm-challenges)

![image](https://user-images.githubusercontent.com/15965102/29564678-bf303e72-873a-11e7-86f7-d186a9ee3536.png)

[2017-08-22 12:08] zk433 commented on #15778
I see the same issue on every beta page. This, for example, is from [this ](http://beta.freecodecamp.com/en/challenges/managing-packages-with-npm/introduction-to-the-managing-packages-with-npm-challenges) link.

![image](https://user-images.githubusercontent.com/15965102/29564705-dd13b3d8-873a-11e7-9159-bae5bcdd87d6.png)

[2017-08-22 14:07] dhcodes commented on #15772
Submitted a PR to update `react-bootstrap` 🎉 . You'll need to add `ToggleButtonGroup` and `ToggleButton` to the import on the Settings.jsx file when you go to make this change.

[2017-08-22 14:32] vs1682 commented on #15772
Nice.
@ZacharyKearns your turn.

[2017-08-22 14:57] vivek-agrawal27 commented on #15777
Please try reloading it several times by pressing ctrl+f5. It happens with the beta version frequently. Currently, it's very unstable.

[2017-08-22 15:34] DarrenfJ commented on #15688
I have the same issue.. noticed it seems to be something that's happened in the past too:

https://github.com/freeCodeCamp/freeCodeCamp/issues/13095

used the back end tester and each step 'passed'

https://narrow-plane.glitch.me/ <-- back end tester

[2017-08-22 16:26] jhomme commented on #13013
Hi,
I'm proud of myself for having gotten the site set up on my computer, because I was thinking of attempting to contribute, but now I think I need some hand-holding. I was going to test to see if this and other accessibility issues are fixed, but I'm unsure how to do that. I have multiple questions about what to do next. Where is the best place to go to discuss them?

[2017-08-22 20:04] ZacharyKearns commented on #15772
@vs1682 @dhcodes Okay great. I am just doing a coding challenge for a potential new job. I can start on this right after that.

[2017-08-22 23:59] ZacharyKearns commented on #15772
I have started working on this. Here a screenshot of what I have so far.
![buttons](https://user-images.githubusercontent.com/11786002/29592770-34d3df9c-8774-11e7-8c16-3aee3d3f6b37.png)

They do break at certain screen widths

![buttons-break](https://user-images.githubusercontent.com/11786002/29592781-45f01502-8774-11e7-87b2-ae8d311c666a.png)

Still working on making them functional

[2017-08-23 00:25] dhcodes commented on #15772
@ZacharyKearns Awesome! Would `<ToggleButtonGroup>` styles have a `display: block` fix the breaking issue?

[2017-08-23 01:30] jhomme commented on #12431
Hi,
I think I can follow these instructions now that I have the site set up locally. I'm pretty sure I need to follow the part that tells how to sync up this repository with mine. Is this correct? And if I do something wrong, I'm unsure how to back it out. A little anxious. :)

[2017-08-23 01:46] jhomme commented on #12431
Just saw that this is the actual main issue. Since I have four screen readers, assuming I can follow the instructions to get this on my machine, I will be happy to test this.

To cut down on the learning curve if you are interested in obtaining a screen reader to play with, please see below. And this is not meant as offensive in any way at all, but someone with site is not going to use a screen re

[2017-08-23 02:02] ZacharyKearns commented on #15772
@dhcodes I tried add block={ true } to the ToggleButtonGroup component with no luck. It appears that it's column gets to small which causes it to break. I am experimenting with different column layouts.

[2017-08-23 03:12] vs1682 commented on #15772
@ZacharyKearns You can also try changing `bsSize` on `<ToggleButtonGroup>` for smaller screen widths.

Note: All buttons on this page have large size. Changing `bsSize` will make `<ToggleButton>` appear smaller than others. We should confirm if we can do that.

[2017-08-23 03:21] QuincyLarson commented on #15778
This looks like an issue with the Content Security Policy. CC @BerkeleyTrue

[2017-08-23 03:24] QuincyLarson commented on #15747
@willnwhite I understand that sentiment. The situation is that campers are hitting this challenge, not figuring it out, and never coming back. We need to make this challenge clearer and easier to solve so they can keep moving forward. There will be plenty of opportunities for campers to sift through documentation when they reach the projects. When they are just starting out, we want to help them c

[2017-08-23 03:27] QuincyLarson commented on #15747
@dhcodes Word Blanks was originally designed as a "checkpoint" - it wasn't meant to teach anything new, but rather to review concepts campers had already learned. Can you think of a way we can teach a few concepts leading up to this challenge that will better-prepare campers to succeed on this challenge?

[2017-08-23 03:31] BerkeleyTrue commented on #15778
I'm not aware of any fonts that we use that are sourced as data blobs. Our fonts are set up as .tiff files.

![basic_html_and_html5__say_hello_to_html_elements___freecodecamp_](https://user-images.githubusercontent.com/6775919/29597626-c26fdf1e-8778-11e7-9f00-31d38b1e7cda.png)

These are the totality of all our fonts.

I suspect some errant third party extension

[2017-08-23 03:48] QuincyLarson commented on #12431
@jhomme Thanks for the details on the screen readers you use.

When I use the Fangs on FireFox, and visit this URL: https://www.freecodecamp.org/challenges/inform-with-the-paragraph-element

the screenreader output is:

If I'm understanding this correctly, this is the contents of the code editor as rendered by the screen reader:

So this doesn't seem to be an issue for the Fangs screen reader. Are

[2017-08-23 03:56] #14895 closed

[2017-08-23 04:01] QuincyLarson commented on #13409
@systimotic Great detective work here, and thanks for resurrecting this old (but unresolved) issue.

Yes - I agree with your potential solution. Could you create a PR for this?

Regarding removing commented code before processing, this sounds like it would be a good long-term solution for this kind of situation, but would involve changes to the platform itself. So I'll CC @BerkeleyTrue on this.

[2017-08-23 07:43] zk433 commented on #15740
'Bug' button not working on SASS challenges either.

[2017-08-23 11:50] jhomme commented on #12431
hi Quincy,

I am experiencing this with JAWS and NVDA on PC, voiceover on Mac. I am not experiencing this with VoiceOver on IOS. I don't understand why. So far I have not tried any other screen reader. I could try Narrator and TalkbBack.

On Aug 23, 2017, at 12:01 AM, Quincy Larson <notifications@github.com> wrote:

@jhomme Thanks for the details on the screen readers you use.

When I use the Fang

[2017-08-23 12:12] zersiax commented on #12431
@jhomme For some reason I cannot find the comment where you explain what it is you are encountering. What seems to be the officer, problem?

[2017-08-23 12:56] jhomme commented on #12431
Hi Florian,
Various screen eaders do not speak when attempting to navigate or type
in the editor on the site. They just say the word blank. They speak,
though, when selecting text.

Jim

On 8/23/17, Florian Beijers <notifications@github.com> wrote:

--
==========

Jim Homme
http://www.jimhommewebdev.com
Twitter: @jimhomme
Facebook: http://www.facebook.com/jimhomme
LinkedIn: https://www.linkedin.co

[2017-08-23 13:05] zersiax commented on #12431
Ahh yup, that appears to be still be a problem. As you can see in this thread it has to do with CodeMirror not being accessible. Easiest way to get around it for now is to copy-paste the code into an editor like NotePad++ or EdSharp if you must :P , then make your edits, then paste it back into the fcc editor. Tedious, but it works I guess :)

[2017-08-23 15:16] yogaboll opened #15790 "Toggle night mode in settings menu doesn't work"
#### Issue Description

When I go into settings and click on the night mode button, the website does not switch to night mode. It cannot switch back from night mode to default mode either. There is an error message in the console: `Cannot read property 'theme' of undefined`

I went into the code and to try to fix the issue, but I have so far come up short. The problem seems to be that `client/epic

[2017-08-23 16:24] willnwhite commented on #15747
@QuincyLarson I'm sure you've heard though of campers "crashing" when they hit the projects. I'd treat Word Blanks as a warm up for the projects. It is actually a project in the sense that you're making something that someone else could use.

As to why Word Blanks is causing campers to leave, I think it could be because they don't know how functions work (they also [get stuck](https://github.com/f

[2017-08-23 19:26] QuincyLarson opened #15792 "Add "Community" dropdown to production"
We want production's navigation to look like beta's.

Currently in Beta we have this nice dropdown:

![learn_to_code_and_help_nonprofits___freecodecamp](https://user-images.githubusercontent.com/985197/29634235-c3d422c0-880e-11e7-8d61-8c581a6af466.png)

It automatically opens when you hover over it, and the width of the dropdown matches the width of the button above it.

Here are what the buttons

[2017-08-23 20:11] hadaclay commented on #15790
Had a look at this for a little bit. If night mode is already set somehow, the following error is thrown:
[code]
I got here after trying to manually set `app.theme` in `client/index.js`. Hopefully this helps somehow, I'm not terribly familiar with redux/redux-epic.

[2017-08-23 20:18] grumpwagon opened #15793 "React challenge alpha #35 incorrectly accepts a string as a parameter to add or remove event listener call"
#### Challenge Name
http://hysterical-amusement.surge.sh/
React challenge number 35 - Add Event Listeners

#### Issue Description
I hope this is the right place for this issue.

The second parameter for the remove/addEventListener calls will accept the strings "handleKeyPress" or "handleKeyPress()" as correct input. All tests pass with either of those strings, allowing you to move on to the next c

[2017-08-23 23:04] ZacharyKearns commented on #15772
@vs1682 Changing them to a smaller size did not stop them from breaking unfortunately.

@BerkeleyTrue Here are screenshots for the final version as well as the css that was added to the main.less file and one of the ToggleButtonGroup's. The new code passed all the tests.

Just want to note that there seems to be a major issue with the layout of the settings page.

Because the content is not wrappe

[2017-08-24 00:07] dhcodes commented on #15793
tagging @bonham000. Should I suggest moving these issues to your repo?

[2017-08-24 00:10] dhcodes commented on #15772
@ZacharyKearns Nice work! If adding a wrapping makes the layout better, I'd say you might as well make that change in your PR too.

[2017-08-24 00:11] bonham000 commented on #15793
Yes, @grumpwagon can you post this issue on the repo for those challenges?

[2017-08-24 00:24] ZacharyKearns commented on #15772
Thanks @dhcodes

Adding a div with the container class seems to fix the horizontal scrolling so I will add it to the PR.

There is still work to be done on this page.

![screen shot 2017-08-23 at 8 22 30 pm](https://user-images.githubusercontent.com/11786002/29644008-eb222656-8840-11e7-9ed3-e51639b496e1.png)

The job search settings button is also broken. Maybe that should be it's own issue?

[2017-08-24 02:28] grumpwagon commented on #15793
Sure! Didn't realize that existed. Opened [issue 228](https://github.com/bonham000/fcc-react-tests-module/issues/228)

[2017-08-24 02:30] #15793 closed

[2017-08-24 05:32] vikramnr commented on #15792
@QuincyLarson  can i give it a try?

[2017-08-24 08:56] anawebdev opened #15796 "Text doesn't change when going to next/previous step"
#### Challenge Name

https://beta.freecodecamp.com/en/challenges/basic-node-and-express/introduction-to-the-basic-node-and-express-challenges

#### Issue Description

1. When going to step 2/2, the last 3 paragraphs of step 1/2 are still displayed
2. If I click "Go to my previous step", the same 3 paragraphs are displayed twice, with different font

#### Browser Information

* Browser Name, Versio

[2017-08-24 13:42] vivek28111992 commented on #15796
Can I give it a try?

[2017-08-24 14:22] QuincyLarson commented on #15792
@vikramnr Sure. We would welcome your help. Please keep us posted on your progress.

[2017-08-24 18:34] dhcodes commented on #15796
Confirmed. Go ye forth @vivek28111992

[2017-08-24 19:13] pegasia opened #15799 "Question"
Quick question, can i build my own version from this?

[2017-08-24 20:53] dhcodes commented on #15799
Yes, fork the repository and then host it wherever. See the License here: https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/LICENSE.md

Closing as resolved.

[2017-08-24 20:53] #15799 closed

[2017-08-24 22:12] systimotic commented on #13826
I'm open to improvements, I definitely think that this challenge could be better. I'm closing this specific issue because as the entire description is an instruction, putting only the exception underneath the header will cause confusion.

If there are new ideas, feel free to add them here and reopen this issue. Happy coding!

[2017-08-24 22:12] #13826 closed

[2017-08-24 22:43] systimotic commented on #14987
@no-stack-dub-sack @BerkeleyTrue I just did, still doesn't work 😞

Again, this is not about challenges not including a `console.log()` by default, this is about any `console.log()`, pre-existing or manually written, not showing anything in the output panel.

[2017-08-25 01:22] erictleung commented on #15523
@QuincyLarson can this issue be closed? The production site, at least for me, does redirect from .com to .org if I initially visit the .com version.

[2017-08-25 08:36] pigtails21 commented on #14987
fuck you bitch and and ur fake ass secret codes to tina / fake ass kathy
flynn

On 26 Jul 2017 4:39 PM, "Timo" <notifications@github.com> wrote:

[2017-08-25 11:27] gwenf commented on #14595
Just to follow up on this issue: I had a meeting yesterday with another camper who wants to work with me on this curriculum :) I'll keep this issue updated as we make progress.

[2017-08-25 15:25] systimotic commented on #14306
@erictleung Are you still working on this?

[2017-08-25 15:42] lourcastillo commented on #12074
`<h1 id="orange-text" class="pink-text blue-text" style="color: white">Hello World!</h1>`

[2017-08-25 16:22] whzarthur commented on #6249
if(myObj.hasOwnProperty(checkProp))
  return myObj[checkProp];
  else
    return "Not Found";

more simple

[2017-08-25 16:23] whzarthur commented on #6249
`if(myObj.hasOwnProperty(checkProp))
  return myObj[checkProp];
  else
    return "Not Found";`
more simple

[2017-08-25 16:24] whzarthur commented on #6249
`if(myObj.hasOwnProperty(checkProp))`
 ` return myObj[checkProp];`
`  else`
    `return "Not Found";`
more simple

[2017-08-25 16:35] AndreyAzimov commented on #15089
same

[2017-08-25 16:48] erictleung commented on #14306
@systimotic apparently I got a bit busy the past couple months :sweat_smile: I was planning on trying to reword it and then label this a `first-timers` issue so people can have a go at it. Give me the weekend to look at this again. If I'm unable to make time this weekend, you're free to work on it or anyone else. Thanks for checking in, though!

[2017-08-25 20:38] systimotic commented on #14306
@erictleung No worries! I know all about getting busy for a couple of months 😅

[2017-08-25 21:35] #15583 closed

[2017-08-25 22:15] w96k opened #15805 "Submit button doesn't work on click [beta]"
#### Challenge Name

Any challege on beta

#### Issue Description

After finishing any challenge I can't click on the "Submit and go to next challenge" button but can pass it with ctrl+enter key-combo.

#### Browser Information

* Browser Name, Version: Opera 47.0
* Operating System: MacOS
* Mobile, Desktop, or Tablet: Desktop

#### Screenshot
![image](https://user-images.githubusercontent.com/224

[2017-08-25 22:23] w96k opened #15806 "Top menu button remains active after click."
#### Issue Description

This behavior looks like a little defect. After clicking on a menu item it remains to be active. Actually would be great menu items active while they are really active like map menu item is active (light bg) when map sidebar is open and non-active when it doesn't.

#### Browser Information

* Browser Name, Version: Opera 47.0
* Operating System: Mac OS
* Mobile, Desktop, or

[2017-08-26 01:55] QuincyLarson commented on #15779
@yasserhussain1110 Nicely done. I like your app. Could you create a pull request updating the URL in the challenge?

[2017-08-26 13:11] vivek28111992 commented on #15805
Can I try this?

[2017-08-26 15:08] w96k commented on #15740
Confirm that its not working.

[2017-08-26 15:18] w96k opened #15808 "Functional Programming: Use the reduce Method to Analyze Data: BROKEN TEST [BETA]"
#### Challenge Name

Functional Programming: Use the reduce Method to Analyze Data

#### Issue Description

The task:

[code]

Array working with:
[code]

The problem:
[code]

This test is not right because actual averageRating is 8.52.
[code]
#### Browser Information

* Browser Name, Version: Opera 47
* Operating System: MacOS
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]
#### Scr

[2017-08-26 20:40] vivek28111992 commented on #15808
No, this is not an issue. You are also considering Avatar movie's rating which is not directed by Christopher Nolan. This issue should be closed.

[2017-08-26 20:42] w96k commented on #15808
@vivek28111992 oh, ok, I'm so sorry then

[2017-08-26 20:42] #15808 closed

[2017-08-26 20:47] ciberstrigo opened #15809 "[Beta] Settings page doesn't redirect to error for non-user"
#### Challenge Name

http://beta.freecodecamp.com/en/settings

#### Issue Description

All buttons become blurred after complete page downloading.

#### Browser Information

* Browser Name, Version: Google Chrome Version 60.0.3112.101 (Official Build) (32-bit)
* Operating System: Microsoft Windows 10 32-bit
* Mobile, Desktop, or Tablet: Laplet

#### Your Code

[code]
#### Screenshot

![photo_2017-

[2017-08-26 20:54] vivek28111992 commented on #15809
Can I try this? I would also like to know what should be output of this page?

[2017-08-26 21:38] ciberstrigo commented on #15809
@vivek28111992
How are you going to try this? Screenshot with same page, but with stopped load. I think it should be like that...
![photo_2017-08-27_00-33-25](https://user-images.githubusercontent.com/23608243/29745313-edb1fe74-8abf-11e7-8b36-1e2e5c10de5d.jpg)

[2017-08-27 04:55] dishaspatel commented on #15776
@usmandap URL : https://www.freecodecamp.org/challenges/roman-numeral-converter
I am facing infinite loop problem for this particular program.
Thank you

[2017-08-27 07:23] hitao123 opened #15810 "the wrong way lead to Chrome crash"
#### Challenge Name

https://www.freecodecamp.org/challenges/sum-all-odd-fibonacci-numbers

#### Issue Description

some wrong code make Chrome crash  even if i know how to clear localstorage but i can not open Developer tools !  so any solutions to solution to fix this bug when user make some mistakes in writing the wrong code. [solution](https://forum.freecodecamp.org/t/clear-specific-values-fro

[2017-08-27 10:15] vivek28111992 commented on #15809
@ciberstrigo
From what I have seen, I can say that blur problem is due to css & text issue may be due to some other problem.

[2017-08-27 17:13] benschac commented on #15792
This might be a silly question. But, where does one write their code for this? I'm on staging rn, but it's updated in beta. Is there a specific branch I should be working against?

Thanks @QuincyLarson

[2017-08-27 21:11] QuincyLarson commented on #15792
@benschac You will want to branch off of the backup/master branch, and open your pull request against that branch as well. We would welcome your help with this!

[2017-08-27 21:25] benschac commented on #15792
Awesome, not at a computer rn.  I'll look into it today.  Also, I'll update
the docs to reflect branching changes to update production.
On Sun, Aug 27, 2017 at 5:13 PM Quincy Larson <notifications@github.com>
wrote:

--
Please excuse any typos this email was sent from an iPhone

[2017-08-28 00:56] benschac opened #15812 "Update Docs to Show How to Push to Production"
Document how to work off production.

[2017-08-28 01:59] benschac commented on #15792
Might be a little out of scope of the issue. But, I was thinking of just cherry picking this and w/e changes might have been made. But, it seems like beta is a lot different than production at this point. You have any thoughts about how this should be handled? @QuincyLarson @BerkeleyTrue

[2017-08-28 07:07] IamManchanda commented on #8435
Hey Guys this is right code for the bike :wink:

[code]

[2017-08-28 17:54] cprn opened #15815 "Can't use `<!--h1>foobar</h1-->` comments"
#### Challenge Name

https://www.freecodecamp.org/challenges/comment-out-html

#### Issue Description

The code is valid but doesn't validate saying:

    Do not change the order of the h1 h2 or p in the code.

#### Browser Information

* Browser Name, Version: Firefox, 55
* Operating System: Linux
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]
#### Screenshot

![2017-08-28-194312_1

[2017-08-28 18:09] vivek28111992 commented on #15815
I think this is not an issue, you are not commenting properly. It should be something like this

<h2>CatPhotoApp</h2>

This issue should be closed.

[2017-08-28 18:38] texas2010 commented on #15815
@cprn
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free

[2017-08-28 18:38] #15815 closed

[2017-08-28 19:04] SenamelaMabotja commented on #15815
Not an issue

On 28 Aug 2017 20:13, "Vivek" <notifications@github.com> wrote:

[2017-08-28 19:06] cprn commented on #15815
Well, if you say. I'm just highlighting it's a correct comment and validator didn't catch it. Thanks for looking at it anyway.

[2017-08-28 19:19] PerryChalmers commented on #15815
No, your commenting in the HTML code is wrong, the comment tags should be outside and separate from the element tags.

[2017-08-28 21:10] cprn commented on #15815
Okay, just to clarify. I understand you don't want to support this because it's a beginning level tutorial and not worth more sophisticated validation algorithm. I get it. That's fine with me. I'm not asking you to fix it.

I opened this issue because the way I used comment markup is [perfectly within HTML5 standard](https://www.w3.org/TR/html5/syntax.html#comments). Please, don't say it's wrong o

[2017-08-28 21:34] PerryChalmers commented on #15815
It can wrap the malformed tags, but those tags can not be part of the comment tag. Go read the second line of your source, then look very carefully at the code you posted. The first > after your first h1 tag stops your code dead.  is the proper way to wrap an element in html.

The issue being closed has nothing to do with this being a beginner lesson.

[2017-08-28 22:09] cprn commented on #15815
The text part in comment `` is `h1>...</h1`. It doesn't start with a `>` character, it starts with `h`. It **is** a valid HTML5 comment, I wouldn't open an issue if it wasn't. I'm not trying to be a smart-ass, I'm simply stating a fact so that the subject could be fully understood by all potential readers.

[2017-08-28 22:25] PerryChalmers commented on #15815
The comment tag from [W3](https://www.w3schools.com/tags/tag_comment.asp).

It won't work the way you tried it.

[2017-08-28 23:12] cprn commented on #15815
What are you talking about?? Of course it works! It's a perfectly valid
comment... I'm sorry but at this point it's ridiculous and probably
annoying for everyone involved. I unsubscribed.

On 29 Aug 2017 00:28, "Perry Chalmers" <notifications@github.com> wrote:

[2017-08-28 23:15] cprn commented on #15815
What are you talking about?? Of course it works! It's a perfectly valid
comment... I'm sorry but at this point it's ridiculous and probably
annoying for everyone involved. I unsubscribed.

![img_20170829_010855_078](https://user-images.githubusercontent.com/6132708/29797457-70021cae-8c57-11e7-945f-b66b6b342952.JPG)

[2017-08-29 08:13] Marmiz commented on #15810
Hello @hitao123 , thanks for reporting this issue.

Seems like you have written an infinite loop causing your browser to crash.
FCC has an autorun feature that run you previous code automatically on page load.

You should disable this feature by adding
[code]
In the url.
More info on the topic [here](https://forum.freecodecamp.org/t/free-code-camp-infinite-loop-protection/19550).

Next time also c

[2017-08-29 08:58] systimotic commented on #15815
Hi! I'd like to add some comments to this issue for people running into this in the future.

According to [the official HTML5 specification](https://www.w3.org/TR/html5/syntax.html#comments), there is no question that @cprn's comment is a valid comment. This was already shown in the screenshots in the message above. I actually think the way you commented this out is quite smart, it saves you from

[2017-08-29 14:05] dhcodes commented on #15812
@benschac Thanks for the issue and PR. I'm conflicted on whether to include this mostly because the changes to production are rare and I wouldn't want to cause more confusion for a new contributor. What do others think? cc @freeCodeCamp/moderators

[2017-08-29 14:12] Medlinator commented on #1340
Still an issue 29 Aug 2017.

[2017-08-29 14:22] Bouncey commented on #15812
I would suggest it is an edge case and will not be required when staging is merged into master

[2017-08-29 14:28] benschac commented on #15812
Could we label it as something along the lines of Legacy work?

On Tue, Aug 29, 2017 at 10:27 AM, Stuart Taylor <notifications@github.com>
wrote:

[2017-08-29 14:30] benschac commented on #15812
While it's one off there are still requests for this work and we should
have documentation for it while we still need it.  Warning signs could also
work too :D

On Tue, Aug 29, 2017 at 10:28 AM, Benjamin Schachter <benschac@gmail.com>
wrote:

[2017-08-29 15:53] erictleung commented on #14306
Here's my rewrite

The last test can also be changed to say, "Remove the backslashes `\` used to escape quotes.` The "Only" I think makes it confusing. I think this was added because people were removing the forward slashes as well. Hopefully, my addition in the instructions makes it clear these characters are different.

[2017-08-29 16:34] shubhshrma commented on #14306
Is this up for grabs?If it is,I'd love to work on it.

[2017-08-29 18:39] erictleung commented on #14306
@shubhshrma yep, it's up for grabs. Feel free to go at it. Let us know if you have any comments or questions on the changes :+1:

[2017-08-29 18:47] texas2010 commented on #15812
I am not sure about that one.  when we release the beta to production. backup/master will be "gone". we will not work on that branch after beta released.

more like we have to use example branch. so we don't have to change it again.   for showing them how to use checkout track on another branch. or something.

[2017-08-29 20:10] erictleung commented on #15809
@ciberstrigo If you don't have an account or are not logged in, I can reproduce this blurring effect. Probably because if you don't have an account, you shouldn't have settings. Once I was logged in, I can see the settings. So closing as not an issue. Happy coding!

[2017-08-29 20:19] ric026 commented on #15809
Rico26

[2017-08-29 20:39] dhcodes commented on #15810
Thanks @Marmiz . Closing as resolved.

[2017-08-29 20:39] #15810 closed

[2017-08-29 21:17] systimotic commented on #15812
Thanks for the issue @benschac! More documentation is often good, but I think there are a couple issues with this:
1. A lot of people reading this guide already are at the edge of their abilities trying to understand what's going on. Adding this without clear instructions not to do this unless it's explicitly mentioned will cause confusion.
2. Because of the massive differences between dependencie

[2017-08-29 21:46] QuincyLarson commented on #15792
@benschac This is already implemented on beta. I tried to quickly copy some of the code over but couldn't get the styles to work right. I think we may be using different CSS libraries on beta, or the way it interacts with React may be a bit different.

[2017-08-30 07:45] markusenglund opened #15818 "The file client/main.js is seemingly never executed"
#### Issue Description

I put a bunch of console.logs in the file, but they are never called when using the website. It seems like at least some of the functionality of this file has been taken over by other parts of the app. I would appreciate it if someone could confirm that this file should indeed be deleted.

#### Browser Information

* Browser Name, Version: Chrome 60
* Operating System: Linu

[2017-08-30 11:51] systimotic commented on #15809
@erictleung I think this actually is an issue. As far as I'm aware, we used to have redirects with error messages set up for users accessing a page they can't access. Apparently, this isn't working in the beta.

[2017-08-30 15:20] erictleung commented on #15809
@systimotic ah okay. Sounds good to me. In hindsight, I agree a non-user should get better feedback on what the screen is, like you say with a redirect with an error message 👍

[2017-08-30 15:39] raisedadead commented on #15812
FWIW, I am inclined to understand what the potential issues especially new contributors and/or occasional contributors should be facing. I have commented on this earlier, faced this while helping potential contributors in chat and even answered on the forum for a question on split versions of the codebase.

But, what @benschac has pointed is correct.

I suggest let's rather have this as a wiki gui

[2017-08-30 16:05] benschac commented on #15812
I'll update my PR after work. Thnx.

On Wed, Aug 30, 2017 at 11:47 AM, mrugesh mohapatra <
notifications@github.com> wrote:

[2017-08-30 17:43] azurvii opened #15819 "Smallest Common Multiple -- add a note about // noprotect"
#### Challenge Name
https://www.freecodecamp.org/challenges/smallest-common-multiple
#### Issue Description
My code failed the last test, but passed with `// noprotect` in the top. I figured it out when reading [this post](https://forum.freecodecamp.org/t/smallest-common-multiple-need-help/134828/6).
My suggestion is to add a line in the description about `// noprotect`. Or to update the error mes

[2017-08-30 19:33] w96k commented on #15819
Nice idea, I had this problem too.

[2017-08-30 21:37] w96k opened #15820 "No DOM related material in course"
I can't see any DOM-related material in the entire course. I think this is too important topic to skip. What do you think about expanding the program or it's the thing that you should learn by yourself?

http://javascript.info has good chapter related to DOM.

[2017-08-30 23:18] MaxKam commented on #15809
@vivek28111992 Are you still working on this? If not I'll take this issue.

[2017-08-31 05:59] raisedadead opened #15822 "Update email should not modify user object before its confirmed"
After passwordless #9660 has landed, the reset logic on accounts will be removed.

This means that we should not be updating the email on records with an update unless it's confirmed via the update email sent.

This needs a minor refactoring to the updating logic.

[2017-08-31 08:32] vivek28111992 commented on #15809
@MaxKam you can take this issue

[2017-08-31 08:51] CharlesMarlow commented on #15122
Hey mhdns, did you ever get that resolved?

[2017-08-31 11:25] systimotic opened #15824 "Old links in descriptions"
#### Issue Description
1. The short description on the main page of this repo links to `.com` instead of `.org`
2. The organisation page links to `http` instead of `https` (sidenote: Should it say fCC is located in SF?)

@QuincyLarson I think that you and Berkeley are the only ones that can change this.

#### Screenshot
1.
![firefox_2017-08-31_13-15-15](https://user-images.githubusercontent.com/72

[2017-08-31 16:34] QuincyLarson commented on #15747
@willnwhite I agree that they need some practice, but this looks like just another challenge to them and there's nothing to indicate a ramp up in difficulty.

[2017-08-31 17:10] QuincyLarson commented on #15523
@erictleung We still to finish shifting people over to freecodecamp.org (we still have separate servers running). Once we shut down the old servers completely, we'll close this issue.

[2017-08-31 19:16] systimotic commented on #15523
Only just found this issue 😄 I have an item to add to the list: the beta is currently only available on .com

[2017-08-31 19:49] QuincyLarson opened #15826 "Create or find a Calendar Heatmap React component"
Currently we're using [this D3 library](https://github.com/wa0x6e/cal-heatmap) to generate a calendar heatmap.

Here's what it looks like:

![camper_quincylarson_s_code_portfolio___freecodecamp](https://user-images.githubusercontent.com/985197/29942423-a91ccbb6-8e4a-11e7-9e7a-d3b3c5cdc3cb.png)

We want help converting this into a react component.

[2017-09-01 01:55] dhcodes commented on #15826
[react-calendar-heatmap](https://www.npmjs.com/package/react-calendar-heatmap) seems to have potential.

[2017-09-01 02:11] #15567 closed

[2017-09-01 17:42] #11141 closed

[2017-09-01 17:44] QuincyLarson commented on #15826
@dhcodes Awesome - would you be interested in plugging it in and seeing if you can get it to work? This is related to https://github.com/freeCodeCamp/freeCodeCamp/issues/15729 which I think you're already familiar with.

[2017-09-01 17:49] QuincyLarson commented on #15729
Here's the main view that currently powers the profiles: https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/server/views/account/show.jade

The settings page is already reactified. This can serve as a model for what the reactified profile might look like structurally. Here are the components: https://github.com/freeCodeCamp/freeCodeCamp/tree/staging/common/app/routes/settings

[2017-09-01 17:49] QuincyLarson commented on #15729
@raisedadead have you had a chance to look at this? Would you or @dhcodes be interested in tackling this?

[2017-09-01 18:12] jackyho112 commented on #15826
@QuincyLarson

I have been wanting to contribute to freeCodeCamp for a while now. I think I can handle this and i can get to it right away. Is it ok if I give this one a go?

[2017-09-01 18:16] #15740 closed

[2017-09-01 18:20] QuincyLarson commented on #11477
@raisedadead Are you still interested in creating this interim challenge?

[2017-09-01 18:35] sogen commented on #9563
Same

[2017-09-01 18:38] sogen opened #15829 "Mouse issue SOLVED in Chrome Canary"
For everyone having the mouse cursor problem, try Chrome Canary, works fine.

[2017-09-01 18:39] sogen commented on #13561
For everyone having the mouse cursor problem, try Chrome Canary, works fine

[2017-09-01 18:39] sogen commented on #15263
For everyone having the mouse cursor problem, try Chrome Canary, works fine

[2017-09-01 18:39] sogen commented on #15108
For everyone having the mouse cursor problem, try Chrome Canary, works fine

[2017-09-01 18:40] sogen commented on #15052
For everyone having the mouse cursor problem, try Chrome Canary, works fine

[2017-09-01 19:07] #15829 closed

[2017-09-01 19:07] w96k opened #15830 "[BETA] SASS section doesn't work"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/sass/store-data-with-sass-variables

#### Issue Description

Seems like sass section doesn't work yet.

#### Browser Information

* Browser Name, Version: Opera 47.0
* Operating System: MacOS
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]
#### Screenshot

[2017-09-01 23:00] erictleung commented on #15820
@w96k thanks for the issue. I agree that learning about the DOM is important. However, freeCodeCamp's challenges are focused on interactive challenges and I'm not sure how to make learning about the DOM very interactive (I could be wrong). IMO, it might be better to have these as YouTube videos or wiki articles.

cc/ @freeCodeCamp/moderators

[2017-09-01 23:52] MatiasPi commented on #15767
Add "Smoke" to the list. A friend got this output just now:

[Image](https://i.imgur.com/lhHaZfZ.png)

It is accurate. He said "There are wildfires up wind".

[2017-09-02 01:02] #7622 closed

[2017-09-02 01:02] #5667 closed

[2017-09-02 01:02] #6924 closed

[2017-09-02 01:03] #9261 closed

[2017-09-02 01:03] #8185 closed

[2017-09-02 01:04] #11198 closed

[2017-09-02 01:04] #12733 closed

[2017-09-02 01:04] #9873 closed

[2017-09-02 01:05] #11462 closed

[2017-09-02 01:05] #11650 closed

[2017-09-02 01:06] #7842 closed

[2017-09-02 01:06] #8805 closed

[2017-09-02 01:06] #8845 closed

[2017-09-02 01:06] #9063 closed

[2017-09-02 01:06] #10109 closed

[2017-09-02 01:06] #10423 closed

[2017-09-02 01:06] #11441 closed

[2017-09-02 01:06] #11846 closed

[2017-09-02 01:06] #11865 closed

[2017-09-02 01:06] #12104 closed

[2017-09-02 01:06] #12406 closed

[2017-09-02 01:06] #12441 closed

[2017-09-02 01:06] #12479 closed

[2017-09-02 01:06] #12599 closed

[2017-09-02 01:06] #12658 closed

[2017-09-02 01:06] #12690 closed

[2017-09-02 01:06] #12792 closed

[2017-09-02 01:06] #12874 closed