[2018-06-03 14:28] #15967 closed

[2018-06-03 14:28] QuincyLarson commented on #16177
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:28] #16177 closed

[2018-06-03 14:29] QuincyLarson commented on #15700
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:29] #15700 closed

[2018-06-03 14:30] QuincyLarson commented on #15739
@anawebdev @adikash1997 @sblasa We just launched our updated coding platform. Would any of you still be interested in tackling this accessibility issue?

[2018-06-03 14:32] conradkay opened #17412 "Night mode not available on learn.freecodecamp.org"
#### Describe your problem and - if possible - how to reproduce it
If I click on my avatar(and get redirected to freecodecamp.org settings page) and activate night mode, the night mode will not transfer over to learn.freecodecamp.org, I'm not sure if there is the code for a dark mode on the curriculum website, but even just simply changing the background and text color, and adding a editor theme s

[2018-06-03 14:33] QuincyLarson commented on #16107
@JB-Walker @TylerDelRosario @travelkris We just launched the new curriculum and learning platform. Would any of you be interested in helping design some recursion-focused challenges to introduce these concepts interactively, with tests? If so, where in the new JavaScript curriculum do you think these belong? https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript

[2018-06-03 14:35] QuincyLarson commented on #16445
@tomasvn We just launched our new curriculum and learning platform. Are you still interested in helping with this?

All of our CSS is in need of a good refactor, and this would be a good opportunity to not only create a style guide but to turn around and immediately apply it to the project, and make sure all our repos are in accordance with it.

[2018-06-03 14:36] QuincyLarson commented on #16439
@Em-Ant Did you ever get a chance to update this?

[2018-06-03 14:36] QuincyLarson commented on #16363
Thanks for your help with this everyone. We're now using a different code editor (Monaco) so this is no longer relevant.

[2018-06-03 14:36] #16363 closed

[2018-06-03 14:37] #16240 closed

[2018-06-03 14:37] QuincyLarson commented on #16240
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:39] QuincyLarson commented on #16390
@saurishkar We just launched our new learning platform and curriculum. Check it out: learn.freecodecamp.org

Would you still be interested in helping design some interactive in-browser coding challenges?

[2018-06-03 14:43] QuincyLarson commented on #16388
@iabrenne Just a quick update - we are still waiting for the new version of Gatsby.js, which will help us fix the problem we're having with too many article in Guide. As soon as we do, we'll resume working on all this. I'm closing this issue for now. Thanks for all your help.

By the way, we just launched our new curriculum and learning platform: https://learn.freecodecamp.org. We would welcome fu

[2018-06-03 14:43] #16388 closed

[2018-06-03 14:44] QuincyLarson commented on #16470
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:44] #16470 closed

[2018-06-03 14:44] Em-Ant commented on #16439
No sorry. It's not so easy to make it work for both the old and new
projects.

Il dom 3 giu 2018, 16:37 Quincy Larson <notifications@github.com> ha
scritto:

[2018-06-03 14:44] QuincyLarson commented on #16504
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:44] #16504 closed

[2018-06-03 14:44] QuincyLarson commented on #16350
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:44] #16350 closed

[2018-06-03 14:44] sblasa commented on #15739
Hi @QuincyLarson ! I'm still interested--just need to review the directions again. :smile:

[2018-06-03 14:45] QuincyLarson commented on #15012
@ahmadabdolsaheb @owususamuel We just launched the new curriculum and learning platform. Please take a look at it: learn.freecodecamp.org

Do you still think this challenge is confusing or overly hard? If so, we would welcome improvements to this challenge.

[2018-06-03 14:46] QuincyLarson commented on #16649
@Manish-Giri We just launched our new learning platform: learn.freecodecamp.org Do you think we still need to re-order these? If so, would you be interested in helping?

[2018-06-03 14:47] QuincyLarson commented on #16190
@alaminos Are you still interested in helping update this challenge to make it clearer?

We just launched the new learning platform and expanded curriculum here: https://learn.freecodecamp.org - take a look at it and let me know what you think :)

[2018-06-03 14:47] #16724 closed

[2018-06-03 14:49] QuincyLarson commented on #15941
We've removed virtually all images from freeCodeCamp's curriculum for accessibility reasons, and to reduce the data footprint of our app (which we'l continue to reduce).

We just launched the new learning platform and expanded curriculum here: https://learn.freecodecamp.org - take a look at it and let me know what you think :)

[2018-06-03 14:49] #15941 closed

[2018-06-03 14:50] QuincyLarson commented on #16651
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:50] #16651 closed

[2018-06-03 14:50] QuincyLarson commented on #15639
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:50] #15639 closed

[2018-06-03 14:51] QuincyLarson commented on #16527
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:51] #16527 closed

[2018-06-03 14:51] QuincyLarson commented on #16726
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:51] #16726 closed

[2018-06-03 14:52] QuincyLarson commented on #6305
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:52] #6305 closed

[2018-06-03 14:52] QuincyLarson commented on #16787
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:52] #16787 closed

[2018-06-03 14:52] QuincyLarson commented on #16835
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:52] #16835 closed

[2018-06-03 14:52] QuincyLarson commented on #15812
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:52] #15812 closed

[2018-06-03 14:52] manzilo commented on #15639
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (101/100 (101%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:53] manzilo commented on #16726
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (100/100 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:53] manzilo commented on #16527
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (102/100 (102%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:53] QuincyLarson commented on #16512
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:53] #16512 closed

[2018-06-03 14:53] manzilo commented on #16527
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (104/100 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:53] manzilo commented on #16726
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (103/100 (103%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:53] manzilo commented on #6305
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (105/100 (105%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:53] manzilo commented on #16787
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (106/100 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:53] manzilo commented on #16835
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (109/100 (109%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:53] manzilo commented on #6305
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (108/100 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:53] manzilo commented on #16787
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (107/100 (107%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:53] manzilo commented on #16835
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (110/100 (110%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:53] QuincyLarson commented on #16732
@raisedadead @Bouncey OK - I'm adding this to the road map. Super low priority, but this is still something we should do imho.

[2018-06-03 14:54] QuincyLarson commented on #16843
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:54] #16843 closed

[2018-06-03 14:54] manzilo commented on #15812
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (111/100 (111%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:55] QuincyLarson commented on #13157
@Greenheart We just launched the new learning platform and expanded curriculum here: https://learn.freecodecamp.org - take a look at it and let me know what you think :)

Would you be interested in helping fix this challenge?

[2018-06-03 14:55] QuincyLarson commented on #14902
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:55] #14902 closed

[2018-06-03 14:55] manzilo commented on #16512
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (112/100 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:55] manzilo commented on #15812
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (113/100 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:55] QuincyLarson commented on #16862
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:55] #16862 closed

[2018-06-03 14:55] QuincyLarson commented on #16565
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:55] #16565 closed

[2018-06-03 14:55] manzilo commented on #16732
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (114/100 (113%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:55] manzilo commented on #16843
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (116/100 (115%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:55] manzilo commented on #16512
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (117/100 (117%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:55] manzilo commented on #16843
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (115/100 (114%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:56] QuincyLarson commented on #16904
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 14:56] #16904 closed

[2018-06-03 14:56] QuincyLarson commented on #16858
This has been completed.

[2018-06-03 14:56] #16858 closed

[2018-06-03 14:57] manzilo commented on #14902
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (119/100 (119%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:57] manzilo commented on #16862
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (120/100 (120%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:57] manzilo commented on #14902
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (118/100 (118%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:57] manzilo commented on #13157
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (121/100 (121%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:58] manzilo commented on #16904
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (123/100 (123%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:58] manzilo commented on #16565
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (124/100 (124%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 14:58] manzilo commented on #16858
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  manzil@gmail.com
    Domain funtasticlabs.com has exceeded the max emails per hour (122/100 (122%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2018-06-03 15:10] petercr commented on #17309
Also **both times** this happened to me it was after the first time I had registered the browser
and signed into Free Code Camp for the first time.

**Did anyone else have a similar experience??:thinking:**

[2018-06-03 15:12] QuincyLarson opened #17413 "We shouldn't use vague error messages anymore"
We're a community of developers, and I think we should surface more of what the error is actually happening in cases where it isn't a likely security risk. If feel like error messages like "oops - something went wrong" are kind of insulting to users' intelligence.

Would anyone be interested in auditing the codebase and going through to make the error messages a bit more specific?

[2018-06-03 15:32] Flarp commented on #14234
@QuincyLarson I have finals in a few days, and I would love to do it, but it would be a little while

[2018-06-03 15:40] rlords commented on #17309
I have this issue as well. Doing the outlined above of refreshing the page fixes it.

    Browser Name: Mozilla Firefox
    Browser Version: 60.0.1
    Operating System: Windows 10 Pro

[2018-06-03 15:43] bogadodiegoh commented on #17405
I will work on this issue.

[2018-06-03 15:53] QuincyLarson commented on #16348
OK - beta has been released. Anyone interested in tackling this?

[2018-06-03 15:53] #16727 closed

[2018-06-03 15:53] QuincyLarson commented on #15918
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 15:53] #15918 closed

[2018-06-03 15:55] QuincyLarson commented on #16874
@schalkneethling I think we should keep these challenges because we're showing people how CSS works, but I agree that we should add a note that doing this goes against best practices and that we'll cover the best practices in subsequent challenges. Would you be interested in updating the challenge copy to reflect this?

[2018-06-03 15:56] QuincyLarson commented on #16948
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 15:56] #16948 closed

[2018-06-03 15:56] #16915 closed

[2018-06-03 15:56] QuincyLarson commented on #16951
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 15:56] #16951 closed

[2018-06-03 15:57] QuincyLarson commented on #16967
@Em-Ant Please take a look at this. What are your thoughts on this? Is this something that we should fix?

[2018-06-03 15:58] QuincyLarson commented on #16900
@ahmadabdolsaheb We just launched our new curriculum and learning platform. Now is a good time to start making improvements like this. I think our console.log functionality isn't quite yet working, but aside from that would you be interested in helping make this fix?

[2018-06-03 15:58] QuincyLarson commented on #16947
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 15:58] #16947 closed

[2018-06-03 15:58] QuincyLarson commented on #16950
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 15:58] #16950 closed

[2018-06-03 16:00] ahmadabdolsaheb commented on #15012
@QuincyLarson I look into the tests tomorrow.

[2018-06-03 16:00] QuincyLarson commented on #15819
@Greenheart Can you verify whether this is still a problem on the newly-launched platform? If so, do you have any ideas for how to fix it?

[2018-06-03 16:00] #16994 closed

[2018-06-03 16:00] QuincyLarson commented on #16949
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:00] #16949 closed

[2018-06-03 16:06] QuincyLarson commented on #15908
@iabrenne We decided to completely rewrite the learning platform to run as a static web app on Gatsby.js, and @Bouncey was able to implement this there. Take a look when you get a moment: https://learn.freecodecamp.org

Even though we didn't end up using your code, I want to thank you for the time and energy you put into this.

[2018-06-03 16:06] #15908 closed

[2018-06-03 16:07] QuincyLarson commented on #16656
@Em-Ant Can you verify whether this is still an issue now that we've launched our new learning platform? (https://learn.freecodecamp.org)

[2018-06-03 16:07] QuincyLarson commented on #17026
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:07] #17026 closed

[2018-06-03 16:08] #17053 closed

[2018-06-03 16:08] QuincyLarson commented on #17053
We moved to Monaco so this is no longer an issue.

[2018-06-03 16:08] QuincyLarson commented on #16158
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:08] #16158 closed

[2018-06-03 16:11] QuincyLarson commented on #14903
@no-stack-dub-sack this challenge is now live on https://learn.freecodecamp.org - would you be interested in making the fix (moving it, or writing a few quick challenges that introduce these functional JavaScript features prior to the functional programming section?)

[2018-06-03 16:12] QuincyLarson commented on #16983
@sINFmaduft @nsuchy did either of you get around to updating the tests for this challenge to allow for ES6 syntax?

[2018-06-03 16:12] #15072 closed

[2018-06-03 16:13] QuincyLarson commented on #16795
@scissorsneedfoodtoo Awesome - so if I understand you correctly, this is now fixed on https://learn.freecodecamp.org? If not, please reopen this.

[2018-06-03 16:13] #16795 closed

[2018-06-03 16:14] QuincyLarson commented on #16912
We've implemented Auth0 and heeded the advice "never roll your own authentication." Thanks for all the help QA'ing the old passwordless authentication, and to @raisedadead for building our new Auth0 implementation.

[2018-06-03 16:14] #16912 closed

[2018-06-03 16:15] QuincyLarson commented on #16679
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:15] #16679 closed

[2018-06-03 16:16] QuincyLarson commented on #16976
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:16] #16976 closed

[2018-06-03 16:17] QuincyLarson commented on #17068
@Em-Ant Did you get a chance to investigate this?

[2018-06-03 16:17] QuincyLarson commented on #15134
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:17] #15134 closed

[2018-06-03 16:18] QuincyLarson commented on #17115
@raisedadead We will need to do this once you finish the Pug refactor in advance of Thursday's email blast.

[2018-06-03 16:18] QuincyLarson commented on #12923
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:18] #12923 closed

[2018-06-03 16:18] QuincyLarson commented on #16927
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:18] #16927 closed

[2018-06-03 16:19] QuincyLarson commented on #16769
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:19] #16769 closed

[2018-06-03 16:19] QuincyLarson commented on #16872
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:19] #16872 closed

[2018-06-03 16:20] QuincyLarson commented on #16325
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:20] #16325 closed

[2018-06-03 16:20] QuincyLarson commented on #16770
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:20] #16770 closed

[2018-06-03 16:26] QuincyLarson commented on #15388
@revisualize We just launched the new curriculum and learning platform: https://learn.freecodecamp.org

Would you still be interested in helping design some new challenges that reinforce understanding of functions?

[2018-06-03 16:26] QuincyLarson commented on #16977
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:26] #16977 closed

[2018-06-03 16:26] QuincyLarson commented on #15973
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:26] #15973 closed

[2018-06-03 16:27] QuincyLarson commented on #17156
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:27] #17156 closed

[2018-06-03 16:29] QuincyLarson commented on #15933
@Em-Ant When you get a moment, could you take a look at your Twitch API app and make sure it's still working? If so, please close this issue.

[2018-06-03 16:29] #17168 closed

[2018-06-03 16:30] QuincyLarson commented on #17177
@raisedadead Is this still something we need to look into?

[2018-06-03 16:32] QuincyLarson commented on #17143
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:32] #17143 closed

[2018-06-03 16:37] moT01 opened #17415 "Too many scroll bars"
There is a lot of scroll bars - makes it feel a little cluttered, and a lot of them probably aren't needed

* Operating System: High Sierra 10.13.4
* Chrome  66.0.3359.181
and
* Firefox 60.0.1
chrome and firefox look and behave identical for me with 10 scroll bars when they are all displayed...

![scrollbars](https://user-images.githubusercontent.com/20648924/40888385-03311abc-671c-11e8-82e8-7f71d

[2018-06-03 16:42] QuincyLarson commented on #16952
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:42] #16952 closed

[2018-06-03 16:42] QuincyLarson commented on #17195
I'm closing this issue as stale since it hasn't been active lately. If you think this is still relevant to the newly updated platform, please explain why, then reopen it.

[2018-06-03 16:43] QuincyLarson commented on #17233
We've moved this challenge into the Interview Prep section with the launch of our new curriculum, so this is less of a priority. This said, @Em-Ant, could you take a look at this when you have time and see if this is still an issue?

[2018-06-03 16:44] QuincyLarson commented on #7925
Closing this issue in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/17299

[2018-06-03 16:44] #7925 closed

[2018-06-03 16:46] QuincyLarson commented on #17128
Hi @Em-Ant and @clandau were you able to figure out a good solution for this?

[2018-06-03 16:49] QuincyLarson commented on #17095
@julianorafael We just launched the new curriculum and coding platform here: learn.freecodecamp.org

I am now of the opinion that we should have a separate npm module for each of the translated versions of the curriculum. Then we can spin up parallel apps based on different language groups, and people can even host their own translated versions of the curriculum in their own countries if they want

[2018-06-03 16:50] tomasvn commented on #16445
@QuincyLarson Sure, I can take some of my time and help you with refactoring the CSS, as the freecodecamp is quite a large codebase

[2018-06-03 16:50] QuincyLarson commented on #17220
We've shut down the Gitter CamperBot temporarily while we figure out an approach for this.

[2018-06-03 16:51] QuincyLarson commented on #16869
@Em-Ant It looks like this is an issue with the app running on Glitch. Could you take a look at the cache and see whether this is something we can clear?

[2018-06-03 16:52] QuincyLarson commented on #17131
@Em-Ant Thanks for the details. How soon do you think you'd be able to do this?

[2018-06-03 16:53] QuincyLarson commented on #17184
@beaucarnes Would you be interested in updating this challenge real quick to bring it into line with best practices?

[2018-06-03 16:54] QuincyLarson commented on #17189
@lonnv Thanks again for reporting this issue. Have you had a chance to look at this and see if you can get it running locally so you can add the new test?

[2018-06-03 16:54] QuincyLarson commented on #17186
@wesleypearce Any updates on this?

[2018-06-03 16:55] QuincyLarson commented on #17210
@raisedadead Is this still an outstanding issue?

[2018-06-03 16:58] QuincyLarson commented on #17154
@joker314 We don't want to clutter our UI with lots of links (we don't even use a footer, and our navigation bar currently only has 3 links in it).

@ojongerius I can create a security web app (I can just fork our https://privacy-policy.freecodecamp.org and deploy the new security.freecodecamp.org app on Netlify).

What do you think the text of this page should be?

[2018-06-03 16:59] #16969 closed

[2018-06-03 17:01] QuincyLarson commented on #12350
@Manish-Giri @systimotic This issue has been open for 18 months now. Is there a quick fix for this?

[2018-06-03 17:03] QuincyLarson commented on #17155
@Daniel-Michael I agree that we need a curly brace after the else statement.

@rsangdoung Were you able to figure out how to get freeCodeCamp running locally so you can go in and fix it?

[2018-06-03 17:38] petercr commented on #17309
@rlords Yes it is easy to fix. But that doesn't mean we couldn't at least put in a `try{...} catch{...}` and show something on the screen that says

Or I guess in the event of the error we could just have the browser refresh itself

[2018-06-03 17:48] Em-Ant commented on #15933
@QuincyLarson both the 'take home' project [here](https://learn.freecodecamp.org/coding-interview-prep/take-home-projects/use-the-twitch-json-api), and the twitch project on my codepen account are still working fine.

[2018-06-03 17:48] #15933 closed

[2018-06-03 17:49] emdashv commented on #17317
Sillier question, but also want to be sure. Where is the form to add my email address? I went to that link when the new site launched, but still do not see a field to add my email address. Sorry if it's somewhere obvious, and I missed it. Lmk if you need any more screenshots.

![image](https://user-images.githubusercontent.com/5128966/40889439-bedd85bc-6734-11e8-9e3c-0df27ff984b0.png)

![image](ht

[2018-06-03 18:09] Em-Ant commented on #16967
@QuincyLarson we have CORS issue (probably for all the challenges) because https;//learn.freecodecamp.com is no included in the list of allowed domains. We should check all the projects, they have different strategies for handling CORS.

![istantanea_2018-06-03_20-07-05](https://user-images.githubusercontent.com/12955734/40889608-f151da7c-6769-11e8-861e-aa3e54ae63de.png)

[2018-06-03 18:28] rohitdwivedula opened #17416 "Basic JavaScript - Record Collection: Broken Link"
There's a broken link in this lesson: https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/record-collection
The second line in the "Hints" section says

These links are broken, pointing to an error page (shown in screenshot).

* Browser Name: Mozilla Firefox
* Browser Version: v60
* Operating System: Ubuntu
![screenshot from 2018-06-03 23-58-12](https://user-i

[2018-06-03 18:31] Em-Ant commented on #16967
Create new middleware works, allowing the new domain

![istantanea_2018-06-03_20-28-12](https://user-images.githubusercontent.com/12955734/40889763-bc94cc2e-676c-11e8-8842-3a57e096deb8.png)

@clickingmouse  be aware that the redirection is tested searching for the text 'Home page' so you have to put it somewhere in the '/' page. Probably the test or the description could be improved.

[2018-06-03 18:37] Em-Ant commented on #16656
@QuincyLarson as I commented [here](https://github.com/freeCodeCamp/freeCodeCamp/issues/16967#issuecomment-394180285) probably We have CORS issues in many projects after the domain change. This project is one of them.

[2018-06-03 18:37] Rashheh commented on #17360
Also from Karachi, Pakistan.
The website was working fine till the 31st of May, 2018 but isn't working now.

[2018-06-03 18:41] Em-Ant commented on #17068
I'm sure we have the same CORS issue as [here](https://github.com/freeCodeCamp/freeCodeCamp/issues/16967#issuecomment-394180285).

Probably there is something else to fix,but I'didn't investigate (sorry :innocent: )

[2018-06-03 18:52] Em-Ant commented on #17233
@QuincyLarson I'm not the author of this api-proxy.
Looking at the project, it seems that @MiloATH is the author. Maybe He has been changing something on it in the last days. I guess He can help better than me.

[2018-06-03 18:54] QuincyLarson commented on #16967
@Em-Ant Awesome! Thanks! I'm closing this issue.

@clickingmouse Can you think of a way that we could improve the challenge description so that this is less ambiguous? If so, would you be interested in opening a pull request to improve the wording?

[2018-06-03 18:54] #16967 closed

[2018-06-03 18:55] QuincyLarson commented on #15933
@Em-Ant Awesome! Thank you for confirming this.

[2018-06-03 19:01] QuincyLarson commented on #14234
@Flarp Good luck with your finals!

Well, we've waited this long. Can you can commit to fixing this after you finish your finals?

[2018-06-03 19:03] QuincyLarson commented on #15012
@ahmadabdolsaheb You're the man. Thanks! Please keep us posted 👍

[2018-06-03 19:07] clandau commented on #17128
@QuincyLarson @Em-Ant I did submit a pull request here: https://github.com/freeCodeCamp/boilerplate-mochachai/pull/2
It did the change that I mentioned above where I made the env var PATH instead of NODE_ENGINE with the thought that PATH is a variable that will be in projects by default.

It's up to you and your maintainers if you think the fix is appropriate.

[2018-06-03 19:09] Em-Ant commented on #17131
I could add the few that we have on the test boilerplate quite soon, but those tests are not enough for all the microservices (they cover 100% of timestamp and we have a proof of concept for the others). I'd like to have some help on this.

[2018-06-03 19:11] Em-Ant commented on #17128
@clandau @QuincyLarson I'll update the boilerplate with Courtney's change if it's ok.

[2018-06-03 19:12] QuincyLarson commented on #16445
@tomasvn That would be amazing!

freeCodeCamp doesn't have all that much CSS. freeCodeCamp's CSS is mainly located in "main.less". And we're using Bootstrap 3.0.

We may eventually move to Bootstrap 4.0 or just rewrite our CSS to use Flexbox. But for the time being, we're using React Bootstrap on several of our applications, and that is currently locked to Bootstrap 3.0. So I recommend just going

[2018-06-03 19:59] QuincyLarson commented on #16656
@Em-Ant OK - is that something relatively easy to fix?

[2018-06-03 20:00] QuincyLarson commented on #17233
Hey @MiloATH I just wanted to be sure you saw this issue. Do you have any ideas for how we can fix this?

[2018-06-03 20:02] Em-Ant commented on #16656
We should fix them in a common way. They use different approaches.
But the simplest fix will probably require a PR for each project, and fixes in the glitch boilerplates

[2018-06-03 20:27] KoniKodes opened #17420 "Type issue in directions"
#### Describe your problem and - if possible - how to reproduce it
penguin class should declar the --penguin-skin variable and assign it to gray.
penguin class should declar the --penguin-skin variable and assign it to white.
penguin class should declar the --penguin-skin variable and assign it to orange.

On all three statements, "declar" should read "declare"
Also notice the "--penguin-skin" var

[2018-06-03 20:32] utkarshsingh99 commented on #17369
I would like to add another thing in addition to this.
Even I cannot claim my certificate, but a peculiar thing I noticed was that I was unable to make any changes to my profile. I can type the name, save it, update the settings, but nothing actually gets saved.

This is another related bug to this settings activity.

[2018-06-03 20:35] QuincyLarson commented on #12699
@ahmadabdolsaheb Awesome - good call. Do you have any idea how to go about refactoring them?

[2018-06-03 20:36] QuincyLarson commented on #17298
@Ledragon I think you reported it through email and I created the issue for it.

[2018-06-03 20:39] QuincyLarson commented on #17346
@jonathan-grah @huyenltnguyen I've changed the title of this issue to "make certificates more printable". I believe since they're just HTML and CSS, with a couple images, we should be able to make them reliably print. This has always been a very common request among campers, and it would be worth fixing for the new certificates :) Would either of you be interested in tackling this?

[2018-06-03 20:47] QuincyLarson commented on #17273
@TheMarco77 I believe it clears the cache and reloads all the assets (images, HTML, CSS, JavaScript, JSON, etc) from scratch. I don't think it affects history or cookies.

[2018-06-03 20:50] QuincyLarson commented on #17161
@Nerajno Thanks for the feedback. We'd welcome your pull requests to improve it :)

[2018-06-03 20:56] MGuadagno opened #17421 "Fix typo in an Applied Visual Design Challenge"
#### Describe your problem and - if possible - how to reproduce it

In the Applied Visual Design challenge named "Use a Bezier Curve to Move a Graphic" there is a typo.
As you can see, in the paragraph:
"Remember that all cubic-bezier functions start with p0 at (0, 0) and end with p3 at (1, 1). In this example, the curve moves faster through the Y-axis (starts at 0, goes to p1 y value of 0, then g

[2018-06-03 20:57] deedeetran opened #17422 "Code Order Matters, but Should It?"
#### Describe your problem and - if possible - how to reproduce it

This is a small problem, but it confused me for a few minutes!...

The test for the "Applied Visual Design - Use the CSS Transform scale Property to Change the Size of an Element" challenge can not be passed unless the user puts their line of code after "left:65%;". If it is placed before "left:65%;", the same/desired changes are

[2018-06-03 21:12] haleybear opened #17423 "Test failing with correct input."
#### Describe your problem and - if possible - how to reproduce it
On the "Applied Visual Design - Adjust the Height of an Element Using the height Property" changing the height to 25px does not pass the test.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/adjust-the-height-of-an-element-using-the-height-property

#### Tell

[2018-06-03 21:16] tchaffee commented on #17382
Related to https://github.com/freeCodeCamp/learn/issues/105

[2018-06-03 21:39] michaelbecker opened #17424 "Legacy Data Visualization Certificate shows incorrect Issued date"
When viewing my Legacy Data Visualization Certificate, the Issued date in the top right corner always displays the current date, not the date the Certificate was completed.

See:
https://www.freecodecamp.org/certification/michaelbecker/legacy-data-visualization
(appears to always have the current date there)

[2018-06-03 21:44] julianorafael commented on #17095
That's interesting. I'd be happy to contribute to it. I started this because the need for a better environment for translations on FCC is real. Making the translations on the json files is just counter productive. We do need a better of:

1. Visualise the current state of a language translation.
1. Navigate quickly through the challenges.
1. See both the content to be translated (title/description

[2018-06-03 21:54] tomasvn commented on #16445
@QuincyLarson got it

[2018-06-03 22:04] TheMarco77 commented on #17273
@QuincyLarson I did that, I still have a large amount of challenges that are not checked off. I did them and it still shows as I did not.

[2018-06-03 22:10] rsangdoung commented on #17155
@QuincyLarson I have forked the repo and created a new branch called "fix/#17155".  It looks like I'm ready to fix it.

[2018-06-03 23:06] huyenltnguyen commented on #17317
@emdashv Oh. I guess you were still logged in when you clicked on the link? How it works is the link checks if you have already signed in. If you have, it redirects you to www.freecodecamp.org.
The one in your screenshot is the settings page and it doesn't have an email field. I don't know why. Probably they forgot to add it, or decided to add it later...
You are now still in via email. Let's forg

[2018-06-03 23:38] huyenltnguyen commented on #17360
I recommend reaching out to your ISP, too.
I would also like to suggest using DNS as a workaround in the meantime. Either [OpenNIC's](https://www.opennic.org/) or [Cloudflare's](https://1.1.1.1/) could work. (I'm not affiliated with either of them, only suggested them because they claim they don't keep logs).

[2018-06-03 23:48] ahmadabdolsaheb commented on #12699
@QuincyLarson I'm on it

[2018-06-03 23:48] ahmadabdolsaheb commented on #16900
@QuincyLarson will get it done first thing tomorrow.

[2018-06-04 00:09] jonathan-grah commented on #17346
@QuincyLarson, sure, I can tackle this soon. This has been highly requested by campers.
If this needs to be done quickly, it might be better for @huyenltnguyen to give this a go, if they want, because I mightn't be able to get this done this week.

[2018-06-04 00:35] RufusMcdoogan commented on #17317
here's my original username/URL that i can no longer access....

On Sun, Jun 3, 2018 at 7:08 PM, Huyen Nguyen <notifications@github.com>
wrote:

--

"Whatever you are, be a good one."

Dan Burke

[2018-06-04 00:37] scissorsneedfoodtoo commented on #16795
@QuincyLarson, yes, this is working properly now on Learn!

[2018-06-04 00:50] newnewb opened #17426 "Settings Page Broken"
#### Describe your problem and - if possible - how to reproduce it

My whole settings page is bugged, I can't even switch between light and dark mode, as soon as I open the page, it was working before as I was able to switch it into dark mode and check a couple of other things.

Currently, no button is working I've tried changing any of the settings or the text fields but nothing is changing or sa

[2018-06-04 00:54] akkatracker commented on #17405
Thanks @bogadodiegoh! Closing

[2018-06-04 00:54] #17405 closed

[2018-06-04 00:56] akkatracker commented on #17404
Closing in favour of #17391

[2018-06-04 00:56] #17404 closed

[2018-06-04 01:39] kevcomedia commented on #16112
I think the closest exercise to the old one is [Object Oriented Programming - Use a Constructor to Create Objects](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/object-oriented-programming/use-a-constructor-to-create-objects). It looks fine as it is IMO.

However the next one ([Extend Constructors to Receive Arguments](https://learn.freecodecamp.org/javascript-algorithms

[2018-06-04 01:54] kevcomedia opened #17427 "Object Oriented Programming - Understand Own Properties: Can pass with Object['keys']"
#### Describe your problem and - if possible - how to reproduce it
The exercise is not supposed to be solved using the `Object.keys` function, but it can be solved with bracket notation (`Object['keys']`).

[code]

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/object-oriented-programming/understand-own-properties

[2018-06-04 02:30] TheMarco77 commented on #17273
Hello all, I also noticed it my activities on the grid! If that is the correct term for it! It is not recording, here is my profile link https://www.freecodecamp.org/portfolio/marcodoescode

[2018-06-04 03:30] agbales commented on #17421
Thanks for catching this, @MGuadagno. I'll fix the typo.

[2018-06-04 03:32] jacoblapenna commented on #17317
I just came back to FCC after a couple weeks off to find everything changed and 300+ challenges reset (I was just a few challenges away from the front end certification). It's not only my progress either, all my profile data is gone too, and my username is now a long string of gibberish. Also, are there no passwords now? Every time I log in it asks for an emailed code, there is no password entry f

[2018-06-04 04:03] scissorsneedfoodtoo commented on #17357
@JonDevOps, that's a good question. I don't believe there's a way to find all of those links from the main page now. Maybe they'll be incorporated again in the future?

For now here are some of those links, just in case:
- [YouTube](https://www.youtube.com/channel/UC8butISFwT-Wl7EV0hUK0BQ)
- [Medium](https://medium.freecodecamp.org/)
- [Guide](https://guide.freecodecamp.org/)

[2018-06-04 04:06] JonDevOps opened #17428 "Navbar dropdown will not close after opening"
#### Describe your problem and - if possible - how to reproduce it

When I click the menu button, the dropdown will open, then when i reclick the menu button, the drop-down menu refuses to close.

#### Add a Link to the page with the problem

Freecodecamporg - Home/landing page

#### Tell us about your browser and operating system

* Browser Name: Firefox
* Browser Version: Firefox for Android. Ve

[2018-06-04 04:17] huyenltnguyen commented on #17317
@emdashv Oh. I apologize for confusing you, don't know why I assumed you logged in with email first, then with github.

Anyway, on the learn.freecodecamp.org, what do you see on the top right corner? Your profile picture or a Sign In button? If the latter, then you'll need to click on the Sign In button, THAT is actually where you type in the email address 😅 Then you'll get a code to sign in and s

[2018-06-04 05:00] huyenltnguyen commented on #17346
@jonathan-grah I'll gladly take it from you :) Will try to submit a PR asap.

[2018-06-04 05:52] QuincyLarson commented on #17275
@rajatkantinandi We're refactoring this to use Pug instead of React (React isn't really justified for such a simple web app at this point). I'm closing this issue for now and we can look at the formatting again once the Pug version is live.

[2018-06-04 05:52] #17275 closed

[2018-06-04 05:54] QuincyLarson commented on #17266
Awesome - we would welcome your help! IMHO the best-looking navbar is the the one with the smaller search bar (the middle one). That gives plenty of space for menu items. Currently there are only 3 but we're planning to add 2 more later this year.

[2018-06-04 05:55] QuincyLarson commented on #17185
@shuvongkor-barman This should now be working on learn.freecodecamp.org

[2018-06-04 05:55] #17185 closed

[2018-06-04 05:56] QuincyLarson commented on #17346
@jonathan-grah OK - thanks for being candid about your availability.

@huyenltnguyen Awesome - thanks for your help with this. Please keep us posted and let us know if we can be of any help during the process :)

[2018-06-04 05:57] QuincyLarson commented on #17273
@TheMarco77 it's possible that you have more than one account. If you think this is the case, could you send me an email at team@Freecodecamp.org with any other accounts, email addresses, etc you may have used? I can look into this for you.

[2018-06-04 07:20] schalkneethling commented on #16874
Sure thing, thanks for the feedback @QuincyLarson

[2018-06-04 07:23] ohdaisies opened #17431 ""Get a Hint" button missing"
#### Describe your problem and - if possible - how to reproduce it
Used to have a "Get a Hint" button on all the questions but now I have to post to the forum to find my answer by asking people, and I can only ask 3 questions a day. This slows down my learning speed a lot.

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser

[2018-06-04 07:43] StubRavi opened #17432 "Navigating back to previous challenge, reset all the submitted code"
#### Describe your problem and - if possible - how to reproduce it
It is happening after the update: When I go back to the previous challenge, it reset all the code even if I have submitted it already.

#### Add a Link to the page with the problem
No specific page because It is happening with all challenges.

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Ve

[2018-06-04 07:54] scissorsneedfoodtoo commented on #17266
Okay! I can work on it after going through the open PRs.

[2018-06-04 10:21] Flarp commented on #14234
@QuincyLarson I will do my absolute best

[2018-06-04 11:01] C0nst4nt1ne85 commented on #17293
Same here. All challenges have the same issue you can only access the rest code with arrow keys no scrollbars.

I tried to fix it in my browser and div.reflex-element { overflow: visible } seems to work for me!

Chrome
Version 67.0.3396.62 (Official Build) (64-bit)
Windows 10

[2018-06-04 11:06] #17343 closed

[2018-06-04 11:11] Zacele commented on #16656
@Em-Ant so is there a fix for this problem yet? Running to this same issue.

[2018-06-04 11:15] kevcomedia opened #17434 "Should clicking the Forum link on the navbar open a new tab?"
#### Describe your problem and - if possible - how to reproduce it
The link to the forum on the upper right of the page opens the forum on the same tab. People going to the forum from that link might try looking for a link back to the main site from the forum.

Some suggestions:
* The forum opens in a new tab
* There's a link in the forum that goes back to the primary site

#### Relevant forum pos

[2018-06-04 11:31] bogadodiegoh commented on #17277
I will work on that.

[2018-06-04 11:42] swayman01 commented on #17026
I agree that there are better places to invest our resources.

[2018-06-04 13:52] sdabhi23 commented on #17395
I would also like to for it. The problem is I am not able to find the relevant file which handles the routes on https://github.com/freeCodeCamp/learn

[2018-06-04 13:56] wildhamster26 commented on #17395
@raisedadead I've gone over it and want to make sure I got it right... Sorry if it's too much, but it's my first time... o.O

**The problem** is that the current link is local: "/json/cats.json" so it points to "learn.freecodecamp.org" ,because it's called from there. However, the actual code sits in the freecodecamp.org repo so it gets an error.

**The solution** is to create a library called "04

[2018-06-04 14:03] wildhamster26 commented on #17395
@sdabhi23  - good chance that I'm out of my depth here, but I have to ask if I want to learn, right? :)
Why would you need to to change the routes?
The way the site is built (I think) calls for the folder it's in and then uses the json object for the name and title properties... isn't it?

[2018-06-04 14:11] ahmadabdolsaheb commented on #15012
@QuincyLarson, I will prepared this and a couple of others for first timers. If the issue is not taken in a couple of days, I will come back and fix them. Let me know if you want me to fix them immediately

The location of the test that needs to be changed:
https://github.com/freeCodeCamp/freeCodeCamp/blob/6d7092928e852755fa0d4d9489b3c8748b466a94/seed/challenges/01-responsive-web-design/applied-vi

[2018-06-04 14:17] ahmadabdolsaheb commented on #15012
FYI @QuincyLarson, on the issues page it encourages fist timers to search for the "good first issue" label which does not exist. It should say "first timers welcome"
![screen shot 2018-06-04 at 17 13 42](https://user-images.githubusercontent.com/4591597/40922527-176eadaa-681b-11e8-940b-76154e42843d.png)

[2018-06-04 14:20] sdabhi23 commented on #17395
@wildhamster26 the seed>challenges folder is only meant to hold the data required to inflate the challenge templates. So I think, most probably that approach won't work. Will have to think of something else. Looking at [buildChallenges.js](https://github.com/freeCodeCamp/learn/blob/master/seed/buildChallenges.js) will help you understand this better.

I was asking for routes coz then we can just a

[2018-06-04 14:29] wildhamster26 commented on #17395
@sdabhi23  So that would be what riasedadead meant in making sure the code is relative...

I need to do more backend work.

Thanks for explaining. :)

[2018-06-04 15:14] dudeguykid commented on #17316
Historically i logged in with Github and saw the message that it will be going away. So I tried logging in with my email and some of my personal info is still in the profile but none of my progress in the curriculum is there anymore. any help is appreciated.

[2018-06-04 15:28] dudeguykid commented on #17397
I am having the same issues: https://www.freecodecamp.org/portfolio/dudeguykid
![untitled](https://user-images.githubusercontent.com/18690468/40926552-76ddf20e-67ea-11e8-9faa-b455ae45b690.png)

[2018-06-04 15:35] SaintPeter commented on #17379
Are these no longer being tagged/assigned?  Is someone responsible for the new curriculum?

[2018-06-04 15:45] jacoblapenna commented on #17317
@huyenltnguyen Thanks for the link, it was informative and I'm excited for the changes. I've always logged in via GitHub, and have never been on any "beta" form of the url (I viewed my history extensively and found all www.freecodecamp.org). I visited the walk through video you linked to and that thread has said the video's methods are no longer necessary and the "bug is now fixed". My email assoc

[2018-06-04 15:50] raisedadead commented on #17360
Hi @Ozarion @wahaj-47 @iamzakofficial @Rashheh

Can you guys check if the same issue persists with https://guide.freecodecamp.org/ ?? Its also hosted on netlify and if it is the case as well, then we should be able to isolate the issue.

[2018-06-04 16:02] ahmadabdolsaheb commented on #12699
the following might come handy if anyone wants to tackle this issue.
the location of the tests to be refactored:
https://github.com/freeCodeCamp/freeCodeCamp/blob/6d7092928e852755fa0d4d9489b3c8748b466a94/seed/challenges/03-front-end-libraries/sass.json#L25

the are four tests that should be replaced with the following two.

[code]
please test the solution before making a PR

[2018-06-04 16:31] Rashheh commented on #17360
@raisedadead same issue

[2018-06-04 16:33] ahmadabdolsaheb commented on #16900
if anyone would like to tackle this issue the following info might come handy.
There are three changes that need to take place.
1. here is the location of the first line https://github.com/freeCodeCamp/freeCodeCamp/blob/6d7092928e852755fa0d4d9489b3c8748b466a94/seed/challenges/02-javascript-algorithms-and-data-structures/es6.json#L164

    it should change to  "    console.log(sentence);",

2. here

[2018-06-04 16:47] RoniqueRicketts commented on #17434
Possible fix for developers target="_blank" on that forum link

[2018-06-04 17:26] danchann opened #17435 "Privacy Settings - Buttons not working"
#### Describe your problem and - if possible - how to reproduce it
All buttons do not toggle.

#### Add a Link to the page with the problem
https://www.freecodecamp.org/settings

#### Tell us about your browser and operating system

* Browser Name: Chrome, Firefox, Opera, IE
* Browser Version:  latest
* Operating System: windows 10, windows 8

#### If possible, add a screenshot here
![image](https

[2018-06-04 17:33] raisedadead commented on #17434
Yes. Agreed.

[2018-06-04 18:18] #17263 closed

[2018-06-04 18:19] #17262 closed

[2018-06-04 18:27] Chrono79 commented on #17426
I'm experiencing the same problem.

[2018-06-04 18:39] Ledragon commented on #17298
ooh I think it was twitter. Anyway, you're welcome
And it works now :-)

[2018-06-04 18:54] EdwinCoding1001 commented on #17434
On Jun 4, 2018 1:35 PM, "mrugesh mohapatra" <notifications@github.com>
wrote:

Yes. Agreed.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/freeCodeCamp/freeCodeCamp/issues/17434#issuecomment-394436118>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/ATDZW7Xk8nOE_aniCZt195jit6YwyrTQks5t5

[2018-06-04 18:54] Em-Ant commented on #16656
The test would pass because the block is inside a try/catch. By way the error log  is fixed now. @Zacele feel free to submit PRs to https://github.com/Em-Ant/fcc-express-bground-pkg until this packeage is moved under freecodecamp if you find some other problems

[2018-06-04 19:01] AdventureBear opened #17436 "ES6 - Understand the Differences Between import and require - correct syntax not passing"
#### test not passing
in this challenge, the final "NOTE" provided suggests using "./" if the file containing functions to import it are in the same folder, however the solution using that hint does not pass.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/understand-the-differences-between-import-and-require/

#### Tell us

[2018-06-04 19:05] sdabhi23 opened #17437 "Missing Error Message"
#### Describe your problem and - if possible - how to reproduce it
Even when we successfully complete [Create Many Records with model.create()](https://learn.freecodecamp.org/apis-and-microservices/mongodb-and-mongoose/create-many-records-with-model-create) challenge there's no pop-up showing that I have completed it successfully. Also it does not show up in the curriculum either as completed.

Al

[2018-06-04 19:06] AdventureBear commented on #17424
I'll also add, although it may need a new thread or belong somewhere else, that the legacy certificates that were already earned should not be rebranded as "legacy certificates" because it devalues the work that went into getting them when they were not legacy.  The date issued and the certificate should suffice.

Universities don't send out new diplomas when they change their curriculum with new

[2018-06-04 19:13] brainlulz commented on #17434
Please remind to add rel="noopener noreferrer" when adding a target="_blank"

[2018-06-04 19:32] AliAdil commented on #17360
For some reason, learn.freecodecamp.org is not accessible in my area on any of the internet browser.
*********************************************
Firefox shows
Secure Connection Failed

The connection to the server was reset while the page was loading.

    The page you are trying to view cannot be shown because the authenticity of the received data could not be verified.
    Please contact the w

[2018-06-04 19:39] MitsyAahar commented on #17189
Hey! if the issue isn't resolved yet. I would like to work upon the same

[2018-06-04 19:44] Randore commented on #17436
The test is passing fine without any errors or bugs.
Read carefully, you are calling the file which is located in the same directory as capitalizeString function exists. So you don't need to use relative paths.

Try this code:

`import {capitalizeString} from "string_functions";`

[2018-06-04 19:51] AdventureBear commented on #17436
The note suggests using relative path and my IDE webstorm actually gives a
file not found error if it is not present.

 Since the note is there recommending it's used, the test containing it
should also pass.
On Mon, Jun 4, 2018 at 3:45 PM Lenin <notifications@github.com> wrote:

--

Suzanne Atkinson, MD
Clinical Instructor of Emergency Medicine
University of Pittsburgh School of Medicine
Emergenc

[2018-06-04 20:01] AdventureBear commented on #17436
Sorry I'm on mobile and can't edit my previous answer.

In node applications no relative path will look in the nice modules folder.
So while this syntax is correct both ways , students may struggle with
their first node/back End apps if ./ is incorrect .

I'm still learning About testing but it seems like a one liner to correct
On Mon, Jun 4, 2018 at 3:51 PM Suzanne Atkinson <suzanneatkinson@gmail

[2018-06-04 20:32] raisedadead commented on #17434
I think that is irrelevant in this case? We are not linking to an external site but our own forum whose code we control? Unless I missed something?

[2018-06-04 20:42] michaelbecker commented on #17424
Rebranding the certificates as "legacy" could also cause problems for folks job hunting. Potential employers seeing a "legacy certificate" may conclude that the work accomplished is already out of date.

[2018-06-04 20:44] RoniqueRicketts commented on #17434
I thought target="_blank" is ok for the current task.

[2018-06-04 21:34] TheJaredWilcurt opened #17438 "Sass resource"
Hey there, I help run the Free Code Camp meetup group in Indianapolis, IN, USA. I'm also the maintainer for Scout-App. Scout-App is cross-platform (Win/Lin/OSX) desktop app for easily processing Sass files to CSS without needing any knowledge of the command line. It's a good tool for beginners, and has been translated to 26 languages.

Just thought I'd mention it as a resource in case you wanted t

[2018-06-04 21:37] Viceriel commented on #17426
Me too. I'm unable to agree with Academic Honesty Policy. After  click on Agree button nothing happened. Different computers/browsers doesn't help.

[2018-06-04 22:28] Ozarion commented on #17360
This appears to be an ISP issue.

[2018-06-04 22:45] wangtian78 commented on #17278
Same problem here. No certificate section in the settings.

[2018-06-04 22:45] wangtian78 commented on #17369
Same problem here. No certificate section in the settings.

[2018-06-04 23:11] moT01 opened #17439 "Lesson links in search failing"
When you use the search feature and open **some** of the lesson results - they give a `Not Found` error... I think it's only lessons that no longer exist maybe? I didn't have a problem with any of the `guide` or `youtube` links I tried

* Browser Name: Firefox
* Browser Version: 60.0.1
* Operating System: High Sierra 10.13.4

<hr>

<img width="1195" alt="screen shot 2018-06-04 at 6 05 36 pm" src="

[2018-06-05 00:09] hctpscl commented on #13798
Okay, looks like @bhaveshsgupta and @raisedadead have done most of the heavy lifting already.

We are still on Font Awesome v4.7. It would be great to update to 5.0; as noted earlier, we already have a license, and version 5 includes the JS and Node icons that 4 does not and would remove the requirement to maintain those SVGs.

However, there are breaking changes involved in upgrading from 4 to 5.

[2018-06-05 01:08] huyenltnguyen commented on #17317
@jacoblapenna Thanks for your reply.

If your progress was on www.freecodecamp.org, it's always there, not deleted or lost. If you notice, the curriculum now has its own page (learn.freecodecamp.org). This is to improve the performance. The 'lost progress' issue many users have experienced is the side effects of this migration and/or the change in authentication method. And once again, your progre

[2018-06-05 02:09] techtiger7 commented on #17426
Confirmed, I am unable to change between light/dark mode, accept the Academic Honesty Policy, or save any settings changes.

[2018-06-05 05:39] saurishkar commented on #16390
@QuincyLarson That's super Awesome !
I will take a look. Thanks

[2018-06-05 05:55] SamuelRiveraC commented on #17278
Effectively the error is in this line of JSAlgoAndDSFomr.jsx at line 59
``const completeCount = Object.values(jsProjects) .filter(challengeInfo => Object.keys(challengeInfo).length !== 0).length; ``

the problem is that challengeInfo is Undefined.

[2018-06-05 05:59] GlynL opened #17440 "Bar Chart - Tooltip Testing"
I have seen a similar issue opened which was closed without discussion. This is very confusing in the user story. The method taught in the FCC curriculum (appending a title for the tooltip) is not accepted as a solution and the user story does not provide any information that it shouldn't be done this way.

User Story #12: I can mouse over an area and see a tooltip with a corresponding id="tooltip

[2018-06-05 06:10] vikramnr commented on #17434
@raisedadead Should we update the target to _blank is someother places since this is already in place the views [freeCodeCamp/server/views/partials/navbar.jade]
Also in the below target seems to updated from json file
[freeCodeCamp/common/app/Nav/Nav.jsx]

[2018-06-05 06:13] Zacele commented on #16656
@Em-Ant How could I submit my projects into [Github](https://github.com/Em-Ant/fcc-express-bground-pkg)?

[2018-06-05 06:40] brainlulz commented on #17434
@raisedadead Ineed it's not an external site link but it's a good practice to add this. This may prevent security issues for future changes.

[2018-06-05 06:49] LarioStax commented on #17412
I have the same problem. I have selected night mode on the settings page, and it remembers that, so every time I go back to my profile/settings, it activates night mode. When I click on Curriculum and get transfered to learn.freecodecamp, the night mode is disabled.

I assume the night mode should transfer over to the coding pages as well, since that is where it's most useful.

Tried Firefox and C

[2018-06-05 06:49] PABlond commented on #17336
I saw that the problem was resolved for (everybody ?) but not for me ... Are you aware of that ? I still cannot see the certification part in the setting page.

[2018-06-05 08:59] seekingcat commented on #17386
Hi, thank you for your response. It really was just a curiosity as the keyboard arrow keys worked in the previous platform. I asked Quincy on Twitter and he said to raise it as an issue. Hopefully this will get a look in, but I appreciate there are other more urgent issues. Thanks again.

[2018-06-05 09:00] raisedadead commented on #17379
Hi Rex, sorry about the delay in getting back to you.

Yup.. you are right at the moment we do not have anyone to actively look into the curriculum's quality. We would love some help though. Its been a little while since the new curriculum was first brought in (I mean added to the beta) by the contributors, so yeah it could use the polishing up.

I know of a lot of contributors who have done some

[2018-06-05 09:03] raisedadead commented on #17379
P.S: Your baby [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) is still the place where everyone hangs out, so if you would love to catch up, you know where to find us.

[2018-06-05 11:41] AnushreeDhar commented on #2893
![image](https://user-images.githubusercontent.com/31166006/40973710-db4c5bf6-68e2-11e8-9689-afd35dd9a6e0.png)
<style>
  body {
    color: green;

    font-family: monospace;
  }
  h1{
      color:green;
  }

</style>
<h1 style="color: green"> Hello World </h1>

[2018-06-05 12:28] naibaben opened #17442 "freecodecamp using googleapis CDN which is blocked in China"
#### Describe your problem and - if possible - how to reproduce it

Google Jquery is not accessible for China
https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name: Google chrome
* Browser Version: 66.0.3359.181
* Operating System: Windows 10

#### If possible, add a scree

[2018-06-05 13:10] johnkennedy9147 commented on #17363
@JMVL64 see issue #17278

[2018-06-05 13:12] iamzakofficial commented on #17360
@raisedadead guide.freecodecamp.org is also not working, exact same issue .

[2018-06-05 13:12] johnkennedy9147 commented on #17336
@PABlond see my response to your comment on #17389

[2018-06-05 13:18] Ozarion commented on #17360
@raisedadead Yes. guide.freecodecamp.org is also unreachable.

[2018-06-05 13:46] johnkennedy9147 commented on #17369
@QuincyLarson as suggested by @ChristianBeach this is a duplicate of #17278.

[2018-06-05 13:47] johnkennedy9147 commented on #17369
symptoms - certificate section disappears and buttons on settings page stop working. I've successfully recreated in multiple accounts. More details on other issue.

[2018-06-05 13:53] johnkennedy9147 commented on #17278
I setup a new account to test more - recreated issue by completing just one javascript project.

Full steps taken:
signed up with new email address
accepted TOS and privacy page (didnt check for email  sorry QL :smile:  )
clicked to continue to freeCodeCamp
clicked settings
verified could toggle buttons and that certificates sections present
went to curriculum
completed palindrome challenge
ran te

[2018-06-05 14:15] dudeguykid commented on #17397
@raisedadead is this something you can help me with too?

[2018-06-05 14:28] moT01 commented on #17345
@udidol are you still having this problem? I think it has been fixed - if it's working you can close this issue

[2018-06-05 14:41] LouayNasr opened #17444 "calendar color bug in the profile page"
#### Describe your problem and - if possible - how to reproduce it
the calendar that appears on my profile is rotated 90 degrees...and non of the days which i have items in is green...all days color is gray

#### Add a Link to the page with the problem
https://www.freecodecamp.org/portfolio/fcce4387b0c-5ac5-46f9-8777-33f6c49dcf69

#### Tell us about your browser and operating system
* Browser Name

[2018-06-05 15:46] QuincyLarson commented on #17442
Thanks for the feedback. We could refactor this to use a different font. Can you still pass the challenge without getting the CDN link to work?

[2018-06-05 15:53] MartinKolarik commented on #17442
@QuincyLarson the issue is about jquery, not fonts.

[2018-06-05 16:26] #17421 closed

[2018-06-05 16:34] #17346 closed

[2018-06-05 17:23] dylanesque opened #17446 "Regular Expressions - Specify Upper and Lower Number of Matches Challenge Not Behaving as Expected"
#### Describe your problem and - if possible - how to reproduce it
During this challenge, code that should pass all tests not work, but also certain tests pass that *shouldn't*, given the parameters of the challenge. For example, all tests save for 'Your regex should not match "Ohhhhhhh no"' pass with the following code:

let ohStr = "Ohhh no";
let ohRegex = /h{3,6}/; // Change this line
let resul

[2018-06-05 17:54] QuincyLarson commented on #17261
One issue with this is that on learn the curriculum should open in a new tab because otherwise it might wipe out the camper's progress on their current challenge, which is only saved whenever they run their code.

[2018-06-05 18:27] forkerino opened #17447 "Feature request: Save progress when tests pass, not when navigating to next challenge"
#### Describe your problem and - if possible - how to reproduce it
I noticed some new exercises in sections for which I already solved most. Through the curriculum I opened one and did the exercise. When tests pass and I don't do ctrl-enter to go to the next or click on the green button, the exercise is still unfinished when I go to the curriculum.

#### Add a Link to the page with the problem
All

[2018-06-05 18:43] hagnerd opened #17448 "Use React to Render Nested Components - Editor locks up and crashes browser"
#### Describe your problem and - if possible - how to reproduce it
Completed the challenge and clicked "Run The Tests", the editor locked up, and then the browser crashed.
I reloaded the challenge and my code was still in there.

This time the editor was locked up and crashed out as soon as I loaded the challenge page.

I cleared my browser cache/cookies and restarted my computer, but the challeng

[2018-06-05 18:49] absolitudo commented on #17420
I'm pretty sure that's intentional, but the variable name is not precise. I would suggest renaming the "--penguin-skin" variable to "--penguin-back" or "--penguin-dorsal-skin" or "--penguin-dorsal-feather", something along the lines. Although I don't think it's necessary.(penguins have feather btw)

[2018-06-05 18:50] moT01 commented on #17261
@QuincyLarson it looks like `learn` already behaves that way... The PR I made over on that repo would change the forum button to open in a new tab - but not curriculum.

This PR would change it so the curriculum will open in the current tab when clicking it while on homepage or the settings page

[2018-06-05 19:06] moT01 opened #17449 "typo in CSS Grid - Use Media Queries to Create Responsive Layouts"
#### Challenge
https://learn.freecodecamp.org/responsive-web-design/css-grid/use-media-queries-to-create-responsive-layouts

![screen shot 2018-06-05 at 11 24 44 am](https://user-images.githubusercontent.com/20648924/40997062-14182e48-68c9-11e8-8ad0-5fbb87884ed1.png)

`grid-template-columns` should say `grid-template-areas`

this should be changed in the seed file in two spots - these two lines...

[2018-06-05 19:12] AbdulrahmanEng commented on #17442
This article might help: https://weblogs.asp.net/jongalloway/using-cdn-hosted-jquery-with-a-local-fall-back-copy. @QuincyLarson.

[2018-06-05 19:15] AbdulrahmanEng commented on #17442
@naibaben, have you tried using the site through a VPN (virtual private network).

[2018-06-05 19:21] KoniKodes commented on #17420
Really? The var name in the style section reads:
     /* change code below */
    --penguin-skin: black;
    --penguin-belly: gray;
    --penguin-beak: yellow;
    /* change code above */

But in the instructions it has all --penguin-skin. The instructions are usually fairly precise on what var should be changed to which assignment.

Did not know that about penguins and feathers (but it makes sens

[2018-06-05 19:22] MartinKolarik commented on #17442
I'd suggest using a China-friendly CDN like [jsDelivr](https://www.jsdelivr.com) instead. Using a local copy would be very slow for people in China and is unnecessary complicated.

[2018-06-05 19:23] doubleUTF opened #17450 "Replace Camper Leaderboard project with functionally similar project based on forum"
#### Describe your problem and - if possible - how to reproduce it

[Camper leaderboard](https://forum.freecodecamp.org/clicks/track?url=https%3A%2F%2Flearn.freecodecamp.org%2Fcoding-interview-prep%2Ftake-home-projects%2Fbuild-a-camper-leaderboard&post_id=433506&topic_id=196990) APIs are broken as provided below:

#### Add a Link to the page with the problem
[https://fcctop100.herokuapp.com/api/fc

[2018-06-05 19:24] KoniKodes commented on #17420
I think it should read:
penguin class should declare --penguin-skin variable and assign it to gray.
penguin class should declare --penguin-belly variable and assign it to white.
penguin class should declare --penguin-beak variable and assign it to orange.

[2018-06-05 19:28] Vimal-Raghubir commented on #17420
Hi @KoniKodes. I decided to check the link you sent above and this is a screenshot of what I see. I am not sure where you are getting this issue.

![tutorial](https://user-images.githubusercontent.com/25648267/40998217-0aa962e4-68d5-11e8-9fa1-bed34cdb44c1.PNG)

[2018-06-05 19:36] datsik34 commented on #17448
Works fine on my PC too.
Try with another explorer and see if it does the same. Chrome Extentions can also be the problem here. Deactivates all of them and try again. Good luck !

[2018-06-05 19:44] absolitudo commented on #17420
@KoniKodes you are right I misunderstood the problem, however, I think this issue has been fixed, for me it's correctly displayed. Is it still an issue on your part?

[2018-06-05 20:08] KoniKodes commented on #17420
Wonderful! It's been fixed.

Thank you so much!

[2018-06-05 20:27] igalbn commented on #17387
The same problem. On Linux Mint 18.3 Firefox 60.0.1.

[2018-06-05 20:28] udidol commented on #17345
@moT01

When I removed the `id=""` attribute it let me pass the lesson.
Isn't this still a bug since having an `id` attribute in the `<audio>` tag still prevents passing the lesson?

[2018-06-05 20:33] Vimal-Raghubir commented on #17301
Duplicate of #17295.

[2018-06-05 20:54] misterhtmlcss opened #17452 "Legacy projects should remain totally intact"
We were told we'd be able to finish the curriculum as it was when we signed up, the new curriculum has many different pass criteria and this isn't fair to those of us. We are (most of us) deep into the curriculum and to change the pass criteria at this stage often forcing us to do remedial training so to speak isn't fair. We shouldn't have to do a different version of something that the rest of ou

[2018-06-05 21:57] hagnerd commented on #17448
Cleared cache three times and then it worked in Chrome.

[2018-06-05 21:57] #17448 closed

[2018-06-06 00:37] huyenltnguyen commented on #17317
@jacoblapenna So I just took another dig in the forum, and I found [this](https://forum.freecodecamp.org/t/account-issues-with-login/195232/2). It looks like you created a new account by accident. Please send an email to team@freecodecamp.org with your account info (both github username and the email address you used to signed in to FreeCodeCamp).

---
@emdashv If the solution in my previous comme

[2018-06-06 00:50] NocteArmy commented on #17426
I am also experiencing this issue. None of the toggle buttons within the profile settings are working, I cannot update my profile information nor can I see the section that is meant to be for claiming certificates.

[2018-06-06 01:13] lngchn commented on #17426
Same with my settings page. Sometime it doesn't load at all, just the navigation bar and the body is empty. None of the toggle buttons work, and the accept button for Academic Honesty Policy doesn't do anything.

[2018-06-06 01:43] cmat27 opened #17453 "search bar"
when user uses the search bar, it drops down multiple option/matches, but if user does not select one and clicks outside of it the drop down doesn't close unless the user deletes the search criteria.

acceptance criteria > if user does not select one of the options and clicks outside the drop down. drop down should close

#### Describe your problem and - if possible - how to reproduce it

#### Add

[2018-06-06 02:35] huyenltnguyen commented on #17316
If anyone here still having problem with signing in, please try the following steps:
- Sign in via https://www.freecodecamp.org/deprecated-signin
- It will take you to www.freecodecamp.org. Click the Curriculum button on the upper right, click on the yellow Sign in button, type in your email address. A code will be sent to your inbox, submit it and you're in. You should see your progress on the cu

[2018-06-06 03:28] PolarisTLX commented on #16351
Just ran into this. I agree this test should not fail if you can pass all the expected output tests. Or it should be clearer what is meant, because I still cannot figure out what the last test wants to get the last check to pass.

[2018-06-06 04:12] numoonchld opened #17454 "The “real” privacy setting?"
#### Describe your problem and - if possible - how to reproduce it

Redundant entries for making profile completely private - slightly confusing.

#### Add a Link to the page with the problem

Go to the "Privacy Settings" section of this page.
https://www.freecodecamp.org/settings

#### Tell us about your browser and operating system

* Browser Name: Firefox
* Browser Version: 60.0.1
* Operating S

[2018-06-06 04:46] konsoul commented on #12266
var a = 7;
var b = a;
var a = b;

[2018-06-06 06:26] numoonchld opened #17455 "Page content hidden behind top navbar"
#### Describe your problem and - if possible - how to reproduce it

When progressing to a new challenge after completing the current one, when the new page loads, the title of the challenge and some of the content at the top of the page gets hidden behind the green navbar.

This is counter UI-flow as it prevents the user from the seeing the title of the new challenge after the challenge auto loads

[2018-06-06 07:11] jonathan-grah commented on #17453
@cmat27, Hey this definitely needs sorting out, but this has already been reported so I'm gonna close it as a duplicate 👍

[2018-06-06 07:11] #17453 closed

[2018-06-06 07:13] jonathan-grah commented on #17439
Hey @moT01, this has already been reported over [here](https://github.com/freeCodeCamp/freeCodeCamp/issues/17304) as part of the broader issue so I'm gonna close this as a duplicate.

[2018-06-06 07:13] #17439 closed

[2018-06-06 07:17] jonathan-grah commented on #17454
@numoonchld, the profile is the user page as a whole, whereas the portfolio is a part of the profile where there are addable elements for projects, pull requests and articles completed by a user (different things).

[2018-06-06 07:17] #17454 closed

[2018-06-06 07:22] Wood-Cube opened #17456 "Auth0 - jQuery CDN needs to be replaced"
#### Describe your problem and - if possible - how to reproduce it
Can't sign in after update,while I can sign in fcc forum as well using my account.

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name: chrome /edge
* Browser Version:
* Operating System:

#### If possible, add a screenshot here
<img width="500" alt="_20180606151855" s

[2018-06-06 07:52] ayoisaiah opened #17457 "Not enough padding on the curriculum page (mobile)"
[The curriculum page](https://learn.freecodecamp.org/) does not have enough on mobile browsers.

![](https://i.imgur.com/cmicise.png)

And I think the list of challenges should be centered with enough padding between the text and the edges of the screen

![](https://i.imgur.com/54vOccg.png)

[2018-06-06 08:31] numoonchld commented on #17454
Thanks for the explanation.

[2018-06-06 10:04] BackinGehenna commented on #16416
<footer>&copy; 2016 Camper Cat</footer>

[2018-06-06 10:05] coolshaurya opened #17458 "Weird extra drag line at extreme right of page"
This weird extra drag line appears at the extreme right of  the page. It can be confused with the console drag line which changes the width of the console. When dragging this line , it fills the console with errors - <br>
![image](https://user-images.githubusercontent.com/32027323/41031171-a756cf50-699d-11e8-9625-b2dc4be5914b.png)

#### Browser and operating system -

* Browser Name:  Google Chrom

[2018-06-06 10:27] huyenltnguyen commented on #17293
@Ashto10 @C0nst4nt1ne85 Thank you for reporting the issue! I'll try to fix it asap.

In the meantime, you can scroll the editor by hover on it and scroll with the mouse wheel.

[2018-06-06 10:50] danchann commented on #17435
closing this issue, duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/17349

[2018-06-06 10:50] #17435 closed

[2018-06-06 10:52] huyenltnguyen commented on #17415
@moT01 Your Safari screenshot just gave me a heart attack! :scream: I don't even want to know how it looks on IE or Edge. Don't quote me on this, but I think FCC recommends using Firefox and Chrome for a better experience.

I noticed the scrollbars issue, too, and submitted a PR over the learn repo to get rid of the horizontal ones. I didn't really examine the vertical at the time, though, but now

[2018-06-06 11:20] shabbas opened #17460 "Unable to continue coding challenges"
#### Describe your problem and - if possible - how to reproduce it
After signing in, when i click on "Go to the coding curriculum" button, it takes me to https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/add-images-to-your-website which always appear broken. I have tried this on Chrome, Safari and Firefox but the page did not load anywhere.

I dont use any proxies and do no

[2018-06-06 11:48] raisedadead commented on #17460
See #17360

[2018-06-06 11:48] #17460 closed

[2018-06-06 11:49] raisedadead commented on #17458
Issue moved to [freeCodeCamp/learn #152](https://github.com/freeCodeCamp/learn/issues/152) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-06 11:49] #17458 closed

[2018-06-06 11:53] raisedadead commented on #17456
hi @Wood-Cube can you please send me an email `mrugesh at freecodecamp dot org` with all of the below details:

1. Screenshots of the Chrome DevTools (Press <kbd>F12</kbd> on Windows/Linux OR <kbd>Cmd + Options + I</kbd> on macOS) and check the console tab.

2. The general region where you are located.

3. Exact steps that you were trying to follow when you get this error.

[2018-06-06 11:54] #17455 closed

[2018-06-06 11:54] raisedadead commented on #17455
Issue moved to [freeCodeCamp/learn #153](https://github.com/freeCodeCamp/learn/issues/153) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-06 11:56] raisedadead commented on #17452
/cc @QuincyLarson

[2018-06-06 11:58] raisedadead commented on #17450
@tchaffee @tbushman @Em-Ant can we check and have an alternative to this on Glitch?

[2018-06-06 11:59] #17447 closed

[2018-06-06 12:01] #17442 closed

[2018-06-06 12:01] raisedadead commented on #17442
Issue moved to [freeCodeCamp/learn #155](https://github.com/freeCodeCamp/learn/issues/155) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-06 12:07] Stanleynd commented on #5786
See the image to know what you're expected to do.
![freecodecamp](https://user-images.githubusercontent.com/39798429/41037029-eb5bbb70-6989-11e8-9a84-28e51f7768e3.png)

Just as @Itegman said, there is a line demanding console.log to be remove before test will run.
Line 11// Now remove the console log line to pass the test,
so you have to remove console.log which is line 10.
Thanks.

[2018-06-06 12:28] raisedadead commented on #17456
![image](https://user-images.githubusercontent.com/1884376/41038213-20c7e65c-69b3-11e8-80f4-0e7a08cf2fd3.png)

[2018-06-06 12:30] #17457 closed

[2018-06-06 12:30] raisedadead commented on #17457
Issue moved to [freeCodeCamp/learn #156](https://github.com/freeCodeCamp/learn/issues/156) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-06 12:42] Thebigbignooby commented on #17436
the following statements should pass the test however they do not:
[code]

even your suggestion of removing `./` which is incorrect, doesn't work
[code]

the only one which seems to pass the test is with double quotes, .... what ?!
[code]

[2018-06-06 13:10] raisedadead commented on #17456
Closed by https://github.com/freeCodeCamp/auth0-templates/pull/4

[2018-06-06 13:10] #17456 closed

[2018-06-06 13:11] raisedadead commented on #17456
@Wood-Cube this should have been resolved now. Can you please try again?

[2018-06-06 13:17] dudeguykid commented on #17316
worked, thanks!

[2018-06-06 13:27] Wood-Cube commented on #17456
@raisedadead  非常感谢

[2018-06-06 13:31] shabbas commented on #17360
I have tried with 2 different ISPs but i face same issue everywhere... same result for https://guide.freecodecamp.org/. I will try to reach out one ISP and see if they can solve this at their end.

[2018-06-06 13:49] moT01 commented on #17415
@huyenltnguyen Yea, go ahead and work on it - my first thought was to hide the overflow in the css (`overflow-y: hidden`/`overflow-x: hidden`)

[2018-06-06 13:50] dCremins commented on #17195
Having the same problem. Even tried setting .text-1 manually after the loop to no luck.
<img width="847" alt="screenshot 2018-06-06 09 49 31" src="https://user-images.githubusercontent.com/16244264/41042179-fbb0d5f2-696e-11e8-9f8b-71c7ef4e6901.png">

[2018-06-06 13:52] shabbas commented on #17360
I contacted my ISP and worked with them over some network settings changes but still facing the same issue. @raisedadead

[2018-06-06 13:54] Shidigital opened #17461 "A lot slower now on my tablet"
#### Describe your problem and - if possible - how to reproduce it

I see nice improvements, but it makes the FreeCodeCamp very slow on my ASUS Transformer tablet, it was really good before the changes.
Maybe add possibility to switch off some of the new features, like making all the windows smaller and bigger, which is nice but takes a lot ressources it seems.
Also some corruption going on with t

[2018-06-06 14:04] Starrzan commented on #17403
I encountered the same problem. The test passes even without having to create the getter or setter, even the constructor.  The only code that is needed for the test to pass appears to be the class declaration.

[2018-06-06 14:10] raisedadead opened #17462 "Blocked paths on Username route"
1. donate
2. external
4. internal
5. news
6. events
7. guide
8. wiki
9. forum
10. anything thats already handled by nginx
5. anything that you can think off

[2018-06-06 14:18] bmbost opened #17463 "NOT FOUND page after clicking "Go to the coding curriculum""
#### Describe your problem and - if possible - how to reproduce it

When on www.freecodecamp.org after logging in, if I click on "Go to the coding curriculum", I reach a page that says:

"NOT FOUND
 You just hit a route that doesn't exist... the sadness."

By looking at the url, the issue is the route it is trying to go to is missing a dash, assuming it is trying to go to the last challenge I was

[2018-06-06 14:35] moT01 opened #17466 "Remove information redundancy challenge testing?"
![screen shot 2018-06-05 at 11 57 18 am](https://user-images.githubusercontent.com/20648924/41044240-6c56213a-696b-11e8-9c97-9683c83caa9d.png)

The information given in these two area seems redundant - In my opinion, the box on the right should be removed - it would make it look cleaner and most of the information there is given in the area on left - or possibly combine these two areas into one so

[2018-06-06 14:53] jsmolla opened #17467 "Optimize learn platform UX for mobile devices."
#### Describe your problem and - if possible - how to reproduce it
Since the major update last week, FCC no longer appears optimized for mobile devices.

The text needs left margins set, as it is flush against the left side of the screen and difficult to read.

In addition, the code editor is extremely small on mobile devices, as it is sharing space with the five other panes, and is extremely diff

[2018-06-06 15:42] jacoblapenna commented on #17317
Thanks for your diligence @huyenltnguyen, after also looking at the FCC forum, it appears that I actually created a brand new account somehow when I tried to associate my email. To answer your previous questions, the timeline went something like:

1. Joined FCC years ago, completed 100 or so challenges and put it aside for a while
2. Came back and purposely reset all my progress to make sure I did

[2018-06-06 15:46] raisedadead commented on #17360
We have narrowed down the issue as to be an IP from Netlify (our CDN partner) being specifically blocked in the general region of Pakistan.

Unfortunately a proper fix involves getting in touch with the ISP and service providers.

The CDN partner can not do much, because their infrastructure is responding as expected. The ISP / authorities there need to be made aware of the fact that its hurting u

[2018-06-06 16:04] Flemo7 commented on #17412
Hi, its not just you, the same for me too.

Night-mode isn't available on learn.freecodecamp.com at the moment yet, its a bug.

**See:**
Known bugs we’re working on fixing this week:
Night Mode doesn’t work on the learning platform yet. We’re working on fixing this

https://forum.freecodecamp.org/t/10-major-freecodecamp-improvements-that-are-live-now/192130

Thanks.

[2018-06-06 16:16] raisedadead commented on #17452
Hi @misterhtmlcss

I was checking this and actually you should still be able to claim all the certifications as would previously.

We are just calling them Legacy certifications.

On your settings page you should have a section for the legacy projects, when you enter the required project URLs you should be able to claim them.

I understand this can probably be made more clear to users.

[2018-06-06 16:26] raisedadead commented on #17261
Ok.. I went over this once again and I think @moT01 is correct. However I see that the learn is opening in the same tab. I guess we should change that over there. I'll accept the PR once I have a word with Quincy.

[2018-06-06 16:28] raisedadead commented on #17456
You are welcome @Wood-Cube

[2018-06-06 16:36] raisedadead commented on #17467
Hi @jsmolla

Thanks a lot for the issue report. And glad to know that you like the new curriculum. This new challenge platform has been written ground up and shares very little code from the previous version.

That said we know that it lacks support for a wide wide variety of platforms.

On a really honest note this might be a while when we are so focused on bringing the new platform to a stable s

[2018-06-06 16:39] raisedadead commented on #17466
I think that the console area need not be there on the HTML challenges where you would have NO logs.

That said, I would like to add this as a key on the seed side and render the UI based off that.
/cc @Bouncey

[2018-06-06 16:47] Saymon85 opened #17468 "Problem with Debugging - Understanding the Differences between the freeCodeCamp and Browser Console"
#### Describe your problem and - if possible - how to reproduce it
I have a problem with a task Debugging - Understanding the Differences between the freeCodeCamp and Browser Console, i will write here my code and error I receive. I can't pass chalenge.

`// Open your browser console
let outputTwo = "This will print to the browser console 2 times";
// Use console.log() to print the outputTwo varia

[2018-06-06 17:22] moT01 commented on #17466
@raisedadead im curious what `logs` would show up down there that would be relevant? For the most part the rest of the challenges seem the same, just a repeat of what is shown on the left...  the `console.log()` stuff doesn't show up down there (for me anyway on firefox) - The react challenges were the only ones I noticed that we're slightly different but basically the same - perhaps there's other

[2018-06-06 17:28] #17316 closed

[2018-06-06 17:30] raisedadead commented on #17317
Hi @jacoblapenna and anyone else, Can you please send me an email `mrugesh at freecodecamp dot org`?

We'll fix it up for you.

[2018-06-06 17:33] Wojonatior commented on #17186
I will take a stab at this since there hasn't been any updates in 18 days.

[2018-06-06 17:34] #17369 closed

[2018-06-06 17:35] raisedadead commented on #17466
Yup, we had a feature in mind to get the console.log to register and display the output on the panel as well for the javascript challenges.

[2018-06-06 17:36] raisedadead commented on #17466
This was the case before on the older platform and has been missing since in the new platform

[2018-06-06 17:55] Bouncey commented on #17466
It is on the roadmap to bring the functionality back.

There is also to use case where a user places a console.log inside a script tag.

[2018-06-06 18:01] moT01 commented on #17466
Yea, the logging functionality is nice - if it's decided to remove it for certain sections they would probly be the whole `Responsive Web Design Certification` and the `Bootstrap` and `SASS` challenges

[2018-06-06 18:30] raisedadead commented on #17466
Yes, thats why we want to be explicitly set in the challenge seed as a key, and render the UI on learn based on the key.

[2018-06-06 18:39] mvravn commented on #17426
Same here - I just finished a certificate, but I can't claim it, since my settings page is broken.

Just when freeCodeCamp was updated, I could actually see all the certificates and change settings in the settings menu, but that has changed now.

None of the toggle buttons work, the academic honesty doesn't work and none of the certificates show on the page. They don't work in different ways, howe

[2018-06-06 18:43] korydondzila commented on #17257
I can work on this.

[2018-06-06 19:01] Chrono79 commented on #17426
Probably the same problem as #17278

[2018-06-06 19:12] LTKills commented on #17468
This was already addressed in #17387 (Debugging - Understanding the Differences between the freeCodeCamp and Browser Console / Firefox bug)

[2018-06-06 19:16] LTKills commented on #17387
Also had this problem on Debian 9.4 Firefox 60.0.1 (64-bit)

[2018-06-06 19:27] #17257 closed

[2018-06-06 19:40] Wojonatior commented on #17186
I've submitted a PR for this issue at  #17473

[2018-06-06 19:44] raisedadead commented on #16519
Looks like this was closed in error.

[2018-06-06 20:31] jacoblapenna commented on #17317
@raisedadead, thanks for the quick response! I can log in now and all my progress is back (except for challenges that must have been removed). However, it shows I have completed all the JavaScript Algorithms and Data Structures Projects but I have 0 of 6 certifications completed. How does one obtain a certificate once the required projects are finished within the new FCC? I definitely want to fill

[2018-06-06 21:18] tchaffee commented on #17450
@raisedadead I don't know who developed those APIs and if there is an alternative. Before my time. Maybe this is something you would want to host on FCC domains going forward so it is always available and not under the control of a third party? Let me know if there is anything else I can help with here.

[2018-06-06 21:30] Em-Ant commented on #17450
Do we have the source code of that app? I remember that it works periodically scraping gitter, or the fcc profile pages. I don't know if it would be possibile on glitch. Why doesn't freecodecamp expose an api endpoint with the brownies ranking ?

[2018-06-06 21:38] ojongerius commented on #17257
🎉

[2018-06-06 22:00] raisedadead commented on #17317
@jacoblapenna you can add the projects URL in the `settings` page.

[2018-06-06 22:05] raisedadead commented on #17450
https://github.com/roelver/fcctop100

If someone can get me an basic analysis, if the code is good enough and needs a little tinkering, I will get this into our org and we could put it up on Glitch?

It will only stress the current 800+ concurrents that we get at peak times.

I would love to replace the challenge. @QuincyLarson do you have something in mind?

[2018-06-06 22:32] ianellison87 opened #17474 "Even with no syntax error internet explorer does not run test."
#### Describe your problem and - if possible - how to reproduce it
i have tried to run tests on multiple challenges and none of them are working for me.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/chaining-if-else-statements

#### Tell us about your browser and operating system

* Browser Name: internet exp

[2018-06-06 22:41] raisedadead commented on #17474
@ianellison87 can you please share the screenshot of your browser's Dev tools console tab,

On Windows you can press <kbd>F12</kbd> and switch to the console tab. If you see any errors on the tab, please post a screenshot.

P.S: Can you also try and check on a different browser like Chrome or Firefox?

[2018-06-06 23:01] raisedadead commented on #16351
@PolarisTLX can you please start a fresh thread by creating a new issue.

[2018-06-06 23:02] raisedadead commented on #17177
Yes. This still needs an investigation.

[2018-06-07 00:05] Stanleynd commented on #9583
Returning a Value from a Function with Return.
First in this lesson we're asked to Create a function timesFive that accepts one argument, multiplies it by 5, and returns the new value.
LINES:
  1 // Function creation below
  2 function timesFive(num) {
return num * 5;
};
 3 // Calling function timesFive  with a number to return 25 as instructed
4 timesFive(5);

When the above code is been debugged

[2018-06-07 00:14] huyenltnguyen commented on #17317
@raisedadead Thanks for jumping in!
@jacoblapenna Glad you got your progress back! I believe none of the challenges was removed, we only moved them around into smaller sections.

[2018-06-07 01:20] atye opened #17475 "Unable to sign in with email verification code"
#### Describe your problem and - if possible - how to reproduce it

I have to sign in with an email code and the error "Oops! Something went wrong. Please try again later" error appears at the top of the window after the code is entered. I am able to reproduce this on Chrome and Safari. I have a verification code sent to me, enter it on the login page, and the error pops up.

#### Add a Link to th

[2018-06-07 02:18] camachado opened #17476 "Javascript displayed in HTML output frame when editing HTML"
#### Describe your problem and - if possible - how to reproduce it
While editing HTML in the code edit frame, Javascript is displayed in the HTML output frame

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version: Version 67.0.3396.62 (Official Build) (64-bit)
* Operating System: Windows 10 Pro

#### If possibl

[2018-06-07 04:40] kevcomedia opened #17477 "Applied Accessibility - Improve Accessibility of Audio Content with the audio Element: Can't pass when other attributes are present in the <audio> element"
#### Describe your problem and - if possible - how to reproduce it
Just as the title says. This code won't pass (even though it should pass all the tests) because of the `id` attribute:

[code]

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/improve-accessibility-of-audio-content-with-the-audio-element/

[2018-06-07 04:44] orcafang opened #17478 "issue测试"
#### Describe your problem and - if possible - how to reproduce it

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If possible, add a screenshot here

test

[2018-06-07 04:44] #17478 closed

[2018-06-07 07:10] C0nst4nt1ne85 opened #17479 "Sass - Apply a Style Until a Condition is Met with @while correct code can not pass!"
#### Describe your problem and - if possible - how to reproduce it
Despite having the correct code:

<style type='text/sass'>

  $x:1;
  @while $x<11 {
    .text-#{$x}{font-size:5px*$x;}
    $x: $x+1;
  }

</style>

The tests do not pass! And I know is correct because I asked on fcc forum and people copy pasted my code to check and they passed the test. Then tried again and failed then reset and w

[2018-06-07 09:37] raisedadead commented on #17210
So far we haven't hit any limits. Only concern is the abuse of SES. I would like add the debouncing sometime soon.

[2018-06-07 09:45] Bouncey commented on #17479
@C0nst4nt1ne85 Thank you for reporting this issue.

Your code works for me in FireFox, but not in Chrome, which is weird. It is normally the other way around.

[2018-06-07 09:47] supuun commented on #17431
"We are working on adding the hint buttons back in." - Quincy Larson
https://forum.freecodecamp.org/t/10-major-freecodecamp-improvements-that-are-live-now/192130

[2018-06-07 09:48] supuun commented on #17461
have you tried another browser?

[2018-06-07 09:53] raisedadead commented on #17475
Hi @atye can you please send me an email `mrugesh at freecodecamp dot org`? I will fix up your account.

[2018-06-07 09:54] #17476 closed

[2018-06-07 09:54] raisedadead commented on #17476
Issue moved to [freeCodeCamp/learn #159](https://github.com/freeCodeCamp/learn/issues/159) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-07 10:02] C0nst4nt1ne85 commented on #17479
@Bouncey It worked for me to firefox also:

Firefox
Developer Edition
61.0b9 (64-bit)

[2018-06-07 10:48] BackinGehenna commented on #13058
`<style>
  #box-container {
    display: flex-direction;
  flex-direction: row-reverse;

    height: 500px;

  }
  #box-1 {
    background-color: dodgerblue;
    width: 50%;
    height: 50%;
  }

  #box-2 {
    background-color: orangered;
    width: 50%;
    height: 50%;
  }
</style>

<div id="box-container">
  <div id="box-1"></div>
  <div id="box-2"></div>
</div>`

[2018-06-07 10:53] jooji-san opened #17481 "Applied Visual Design - illustrations for color theory"
Please, add illustrations to color theory exercises. Without them it's really hard to understand. :)

[2018-06-07 12:15] #17342 closed

[2018-06-07 12:15] #17462 closed

[2018-06-07 12:33] iamzakofficial commented on #17360
@raisedadead this is official contact email of my ISP provider info@cyber.net.pk, i have also emailed them about the issue.

[2018-06-07 12:44] Shidigital commented on #17461
Now I did. On Chrome it works very good! Fast and good looking!
Did not expect that much of a difference.
My mistake not trying it first. Maybe I use Chrome now more often.
Thank you!

Am 7. Juni 2018 11:51, um 11:51, giorgi shengelaia <notifications@github.com> schrieb:

[2018-06-07 13:12] kshoultz opened #17483 "Typo on 10 improvements page: "Lighting Fast""
#### Describe your problem and - if possible - how to reproduce it
Grammar stuff on the page "10 improvements page":

1. Typo: "Improvement #7: Lighting Fast Learning Platform" should be "Improvement #7: Lighting-Fast Learning Platform
2. Headers should be grammatically consistent. Uppercase of all first letters in some headers, regular sentence structure on other headers.

#### Add a Link to the

[2018-06-07 13:15] supuun commented on #17461
You're welcome. I love Firefox, but it's android browser needs some work. It may also be fcc's issue. I don't really know.

[2018-06-07 13:21] supuun commented on #17467
@jsmolla did you try landscape mode

[2018-06-07 13:38] raisedadead commented on #17475
Sorry about the experience, I have updated your user record.
Can you please confirm that its fixed now?

[2018-06-07 14:07] Vimal-Raghubir commented on #16190
Hi, could I potentially tackle this issue?

[2018-06-07 14:08] atye commented on #17475
I can sign in now, thanks. It is fixed. It looks like there has been a lot
of changes to the site.

Aaron

On Thu, Jun 7, 2018 at 9:43 AM, mrugesh mohapatra <notifications@github.com>
wrote:

[2018-06-07 14:28] Vimal-Raghubir commented on #16732
Hi, is it possible for me to tackle this issue?

[2018-06-07 14:49] raisedadead commented on #17483
Hi @kshoultz,

Please comment on the forum thread with a `@QuincyLarson`
He would be able to fix it there.

Thanks.

[2018-06-07 14:49] #17483 closed

[2018-06-07 14:50] raisedadead commented on #17475
Awesome! Thanks for letting us know.

[2018-06-07 14:50] #17475 closed

[2018-06-07 15:30] #17468 closed

[2018-06-07 15:32] raisedadead commented on #16656
@Em-Ant you can transfer this repo and any other repos to me, I'll take care of moving them over to the org. Also its preferable that you change the naming schema as per the boilerplates.

[2018-06-07 15:42] Ildorado opened #17485 "when I go back to view solved lessons they are showed like they are unsolved"
#### Describe your problem and - if possible - how to reproduce it
While solving projects it's helpful for me to go back to solved lessons to remember some details, but after freeCodeCamp update despite the fact that lessons are solved they are showed in original way(like when the are unsolved) and it's takes much longer time to review lessons this way. Is there a way to change this?? If not I thi

[2018-06-07 16:19] jsmolla commented on #17467
Yes, although landscape mode is somewhat better, when I want to type in the
code editor, the keyboard display covers so much space, you can really only
see the line of code your typing, and not the code above or below it.

I do most of my coding on a desktop, so this is far from a deal breaker for
me.  I did enjoy being able to study a challenge on my phone on my lunch
break, but again, I'm not co

[2018-06-07 17:13] moT01 commented on #17379
I would agree with this issue - I got real stuck on it knowing quite well how to use the array methods - it doesn't say anything about using `.map` and it is not used or taught at all up to this point - same with testing if it's an integer - that's not too tough to figure out I don't think, but it does complicate things - the challenge description only talks about using `.filter` and the instructi

[2018-06-07 17:36] imvetri opened #17486 "Roadmap Question: Is there a plan of having Machine learning in curriculum?"
Hi,

I really appreciate how freecodeCamp's curriculum and currently its mostly about web development. Is there a plan to also have AI / ML in the curriculum just like how web development is taught ?

Thanks!

[2018-06-07 17:38] jooji-san opened #17487 "Link to FCC's medium articles"
FreeCodeCamp's medium articles are insanely helpful. Why not link provide links to them in the exercises?

[2018-06-07 17:41] Jeffreyoboe1 commented on #14987
Wait, has this been resolved?  I notice using freecodecamp that log.console does not output to the bottom right pane... where it says

"/**
* Your test output will go here.
*/

It instead only shows errors... You cannot do any testing, and there is no way to use
console.log() to get anything to show up there.  Is that intended?

[2018-06-07 17:51] PlasmaIntec opened #17488 "Possible Capitalization Error on the Curriculum"
#### Describe your problem and - if possible - how to reproduce it
I noticed that "Apis And Microservices Certification" did not have the "pi" capitalized. I realize that could interfere with the intended acronym of the certification (AMC). but I would suggest using a smaller size yet still capitalized HTML font.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/

#### T

[2018-06-07 18:14] jooji-san opened #17489 "Applied Visual Design - Bezier Curves are confusing"
Yeah, they are. Please make explanations a little bit easier.

[2018-06-07 18:16] PlasmaIntec opened #17490 "Possible Clarification + Issue on Basic HTML and HTML5"
#### Describe your problem and - if possible - how to reproduce it
Currently, the test text reads "The finished input element should have valid syntax."
I find this potentially confusing for a beginner to HTML because most of the block elements they would have seen are not self-closing. It may clarify to put another clause "Remember that input elements are self-closing" in the test text.

As an as

[2018-06-07 18:22] erictleung opened #17491 "README Project links aren't rendering correctly"
#### Describe your problem and - if possible - how to reproduce it

Project lists in the `README` aren't rendered correctly (see screenshot below).

#### Add a Link to the page with the problem

E.g. https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/README.md#1-responsive-web-design-certification

#### Solution

Just need to add a new line before the `Projects` list for the six certificati

[2018-06-07 18:39] #17261 closed

[2018-06-07 18:48] raisedadead opened #17493 "fix favicon meta data on the certification views to be same as home page"
![image](https://user-images.githubusercontent.com/1884376/41119794-60acb028-6ab1-11e8-8695-0b4b40b7da9a.png)

[2018-06-07 19:15] mmhuntsberry commented on #17491
Hello,
First timer here wanting to contribute.  Made my first pull request for the issue.  Hope it helps!  Happy to make changes if it's incorrect. Thanks!

[2018-06-07 19:30] mmhuntsberry commented on #17449
Hello!

First time contributor wanting to help.  Made the asked for changes and submitted a pull request.  Please let me know if it's incorrect.  Thanks

[2018-06-07 20:03] juandesouza opened #17495 "Fix content on Applied accessibility"
I recommend checking the following content to analyse if this should be fixed (I’m using Chrome on Windows):

On the page[ Applied Accessibility - Avoid Colorblindness Issues by Using Sufficient Contrast](https://forum.freecodecamp.org/clicks/track?url=https%3A%2F%2Flearn.freecodecamp.org%2Fresponsive-web-design%2Fapplied-accessibility%2Favoid-colorblindness-issues-by-using-sufficient-contrast&pos

[2018-06-07 20:03] SaintPeter commented on #17379
I just reviewed the curriculum leading up to this challenge.
1. There doesn't appear to be an introduction to the concept of a callback function or functions as first class object.
2. No introduction to anonymous functions (except two challenges prior)
3. No mention of either map or filter

All told, I think this challenge should just be removed or moved to the functional programming section.

[2018-06-07 20:07] shahsank3t commented on #17278
Not sure if following points relate to this same issue but I am facing these on settings page:

1. Cannot save any changes to **"Your Internet Presence"** and on every keypress, **"ReactCompositeComponent.js:742 Uncaught TypeError: Cannot read property '_currentElement' of null"** error gets increased in console.

![image](https://user-images.githubusercontent.com/6761317/41123228-90c9540a-6abb-11

[2018-06-07 20:50] johnkennedy9147 commented on #17278
@shahsank3t thanks, I hadn't noticed that.
It seems to be an additional symptom of this issue
throws that error on every keypress and on clicking save

[2018-06-07 20:50] Stanleynd commented on #6568
Nothing much but just do this to go next.

// Only change code below this line
processed = processArg(7);

[2018-06-07 21:17] moT01 commented on #17379
in general the whole es6 section seems to too advanced and/or complexly written (or at least some of it), and the javascript section as a whole seems a little scattered and not simple enough for beginners, or maybe just doesn't progress gradually enough or something - I want to suggest some rearranging of some sections/challenges but Im not sure on a better way yet - there's more than a few forum

[2018-06-07 21:52] nhd15c commented on #17278
@shahsank3t Same thing happens when you try to add a non-FCC portfolio project.

You can't type anything on any field and you get the **Uncaught TypeError: Cannot read property '_currentElement' of null** error on every keypress.

![untitled](https://user-images.githubusercontent.com/12203242/41128059-07d12ec4-6a7b-11e8-9e5d-b417e8f30037.jpg)

[2018-06-07 22:16] cmccormack opened #17496 "Current-challenge button redirects to invalid URL"
#### Describe your problem and - if possible - how to reproduce it
Redirect to Current Challenge not working properly.

Example - working on problem with following URL:
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/set-the-font-size-of-paragraph-text/

Log out
Log in
Redirected to https://www.freecodecamp.org

Click button `Go to the coding cirriculum` (https://www.fre

[2018-06-07 22:33] tchaffee commented on #17270
@QuincyLarson @raisedadead @Bouncey Any ideas on this? I would like to switch over to the new learn platform for a custom curriculum I wrote, but this is holding me back.

[2018-06-07 22:59] Mandihamza commented on #17493
Hey @raisedadead, mind if I take this one?

[2018-06-08 01:07] newnewb commented on #17278
Is there a way to make API calls to the models through something like postman to get stuff like "completedChallenges" ?

[2018-06-08 01:10] brimarq commented on #17387
Same here. MacOS 10.12.6 Firefox 60.0.1 (64-bit)

[2018-06-08 02:52] moT01 commented on #17474
This has happened frequently for me as I'm going through the javascript challenges... there were some errors in the console a few times I checked - but much of the time, there are no errors and the test button just does nothing... not sure what the circumstances are to cause it, I will try and post more details if I can figure out a little more - it happens for me in firefox, chrome, and safari -

[2018-06-08 03:21] eolculnamo2 commented on #17278
For what its worth, I did some digging and I hope this is helpful,

I had the cannot convert undefined or null to object error.

The jsProjects variable in JSAlgoAndDSForm.jsx is showing an object with the required JS projects, but instead of having objects, each of the keys has null or undefined...

<img width="1038" alt="screen shot 2018-06-07 at 10 18 30 pm" src="https://user-images.githubuserc

[2018-06-08 04:26] raisedadead commented on #17270
Hi @tchaffee this repo is coming up real soon https://github.com/freeCodeCamp/curriculum I'll comment here as soon as its ready.

Just so that you know it will the the npm package that we will use on learn

[2018-06-08 05:58] bjorno43 opened #17499 "Code editor + console output not loading in IE11.0.9600.18163"
#### Describe your problem and - if possible - how to reproduce it
Open any challenge on https://learn.freecodecamp.org with IE11.0.9600.18163. Both the Code editor and the console output refuse to load.

#### Add a Link to the page with the problem
Tested pages:
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/chaining-if-else-statements/
https://learn.fre

[2018-06-08 05:59] raisedadead commented on #17493
@Mandihamza yes please! All yours.

[2018-06-08 06:16] raisedadead commented on #17360
Hi All,

We have a reply from our CDN partner. Can anyone confirm that you can access the site without any proxies? As you would normally?

Thanks.

[2018-06-08 07:44] raisedadead commented on #17360
Awesome.. lets wait for a few others as well before closing this.

[2018-06-08 08:15] aenkirch commented on #17446
Had the same problem and figured out putting a {3,6} just understands the 6 as an infinite, it's like a {n, infinity} so it will basically match whatever amount of h if it is more than 3.

You have to specify the end of what you want to match ;)

Here's the solution mate : https://repl.it/repls/VerticalLimpCamel

[2018-06-08 08:34] Kornelijus commented on #17278
In the meantime, does someone know the /services/ API links to manually accept the honesty policy / claim our certificates? I'm looking for them atm.

[2018-06-08 08:54] johnkennedy9147 commented on #17474
@raisedadead for better UX we should add a message in the freeCodeCamp console or a modal that advises there is a syntaxerror - at present the user sees nothing unless they check their browser console.  The editor is highlighting these sort of errors but its easy to miss a single character having a red underline. Could the test suite handle this?

[2018-06-08 10:10] wahaj-47 commented on #17360
Nope still can't access the curriculum page

[2018-06-08 11:04] convexhull commented on #12350
@QuincyLarson  Even I am facing the same problem. I have done everything and I am sure that my code is correct but it never passes the test.

[2018-06-08 11:52] StubRavi opened #17500 "Roadmap Question: Is there a plan for having progressive web app development in curriculam ?"
Hey, There is a section of Responsive Web Design Challenges. I think responsive web design is outdated. Is there a plan for having progressive web app development in curriculam ?

[2018-06-08 12:00] thearunster commented on #17496
Confirmed that this is the case for any lesson that has a dash (-) in the title.
Seems like there is some function that removes dashes in the URL while navigating through current challenges link.
For example: The link,
[https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/add-a-box-shadow-to-a-card-like-element/](https://learn.freecodecamp.org/responsive-web-design/applied-vi

[2018-06-08 12:17] PeterKoe commented on #17278
Same problem here. I have tried different browsers and computers, to no avail.

[2018-06-08 12:34] clandau commented on #17068
Here's my pull request. https://github.com/freeCodeCamp/boilerplate-socialauth/pull/1
I'm happy to fix any others that need to be changed.

[2018-06-08 12:43] iamzakofficial commented on #17360
Yes, Its working and now i can access curriculum without proxy or vpn

[2018-06-08 13:31] shabbas commented on #17360
@raisedadead it started failing again for me now. Not sure, if your CDN partner did some temporary changes or they were permanent.

[2018-06-08 14:07] RobertWSON commented on #12826
I had a problem with this question from https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/storing-values-with-the-assignment-operator

They want you to
Assign the value 7 to variable a.
Assign the contents of a to variable b.

I have tried
var a =7;
var b=7;
var a = var b;      and also a = b;

It has across on:
     Do not change code above the line
     a

[2018-06-08 14:33] SnowdenWintermute commented on #13254
Had the same exact issue. Maybe make that part of the text bold?

[2018-06-08 15:02] rmbarley commented on #17317
I also lost some progress, I think after the update last night. I had 100% completed the Responsive Web Design exercises and projects and claimed my certificate. However, I couldn't view them because it said my profile was set to private (it wasn't). The forums suggested I log out and log back in, and when I logged back in my streak was 2 instead of 4, and all challenges, project links, and profil

[2018-06-08 15:22] s-Hale commented on #17485
Same issue here. All of my 2016-2017 work shows as completed, but the code is gone, and the Redux challenges I've completed yesterday and today complete, but the code doesn't save.

[2018-06-08 16:22] johanvl commented on #16645
still not fixed

[2018-06-08 16:27] moT01 commented on #17474
<img width="638" alt="screen shot 2018-06-08 at 11 24 54 am" src="https://user-images.githubusercontent.com/20648924/41169447-a60f9a06-6b0e-11e8-8d98-449b5b234b09.png">

 screen shot from https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-with-the-rest-operator-to-reassign-array-elements

the right is the console

[2018-06-08 17:12] kevintd commented on #17336
Hi,
![screen shot 2018-06-09 at 2 09 07 am](https://user-images.githubusercontent.com/4203786/41171154-77be9a86-6b8a-11e8-9198-18acc6b9d93a.png)
![screen shot 2018-06-09 at 2 07 12 am](https://user-images.githubusercontent.com/4203786/41171155-77efa720-6b8a-11e8-920d-d96798af519d.png)

This issue also happened to me again. Are there any things what i have to do

[2018-06-08 17:44] rajatkantinandi opened #17501 "Dark Mode intro page number text-color should be lighter, it's difficult to understand"
#### Describe your problem and - if possible - how to reproduce it
**Dark Mode** intro page number **text-color** should be lighter for better **accessibility**, it's difficult to understand the **dark green** text in **dark background**.
A **lighter color**, probably **lime** or something should be used.

#### If possible, add a screenshot here

![screenshot_20180608_230601](https://user-images.g

[2018-06-08 18:12] valishah commented on #17318
If this is still open i would like to take and fix.

[2018-06-08 18:57] SuperGeniusZeb commented on #15134
@QuincyLarson

In the updated site, comments are still being mistakenly read as code by the challenge tests. Take this challenge for example:

https://learn.freecodecamp.org/responsive-web-design/css-grid/create-a-column-gap-using-grid-column-gap

Using the following code, I can pass the test (which checks for `grid-column-gap` to be set to `20px`), even though `grid-column-gap: 20px` is in a comm

[2018-06-08 19:24] cmoss3 opened #17502 "npm install fails (using Ubuntu 16.04)"
#### Describe your problem and - if possible - how to reproduce it
When I tried running `npm install` I was prompted with a git error.
The error goes like this:

[code]
After getting this error I did some googling and found a few people who suggested that downgrading to npm 4 could maybe resolve the issue. So I did downgrade to npm 4 and `npm install` worked after that. However, I ran into yet ano

[2018-06-08 19:35] raisedadead commented on #15134
@SuperGeniusZeb Can you please open a new issue at https://github.com/freeCodeCamp/learn/issues ? Thanks a lot.

[2018-06-08 19:50] jhomme opened #17503 "Incorrectly Stated and Coded Accesssibility Example On Radio Basic HTML Buttons Lesson"
#### Describe your problem and - if possible - how to reproduce it
In the lesson on radio buttons, the lesson text correctly states that you should link the id attribute of an input tag with a for attribute on a label tag. The code example that illustrates this has the input tag wrapped inside the label tag. This is not correct, even though it will work. The entire label tag should come after the

[2018-06-08 19:54] QuincyLarson commented on #17317
@rmbarley It sounds like you may have a duplicate account somewhere. Could you email me at team@freecodecamp.org and reference this issue, with any email addresses you might have used in the past? I will dig in and try to sort things out.

[2018-06-08 19:55] QuincyLarson commented on #17500
Yes - we're planning on covering PWAs in detail. Do you have any specific issues you'd like us to cover?

[2018-06-08 20:12] SuperGeniusZeb commented on #15134
@raisedadead I have created a new issue there:
https://github.com/freeCodeCamp/learn/issues/165

[2018-06-08 20:20] #17434 closed

[2018-06-08 20:38] Ozarion commented on #17360
@raisedadead It appears to be inaccessible on my side.

[2018-06-08 20:54] tchaffee opened #17504 "Discussion area for organizing the project into separate repos"
This is an issue where we can continue the conversation from Gitter about how to break up the source code into separate repos to make it less monolithic and easier to maintain.

We already know that keeping all the source code in one repo is too monolithic and mixes too many concerns. So the question is not whether we break the project up into seperate repos, but how far we go with that.

Specific

[2018-06-08 21:00] tchaffee commented on #17504
@QuincyLarson @raisedadead @julianorafael @SaintPeter I am tagging everyone involved in the Gitter discussion plus a couple of people who should be involved. Please feel free to tag anyone else who I might have missed.

[2018-06-08 21:01] tchaffee commented on #17504
@Bouncey You'll probably be interested in this discussion too.

[2018-06-08 21:28] hbar1st commented on #17416
when will the fix be published?

[2018-06-08 21:56] sinansonmez commented on #17387
Same here Windows Firefox

[2018-06-08 22:35] cmoss3 commented on #17502
I thought maybe I could run install through Docker as a work-around, but that hasn't worked either.
I ran `docker-compose run --rm freecodecamp npm install` and got the same git error:
[code]

[2018-06-08 22:36] clandau commented on #17068
related to this issue...in the new curriculum, I don't think it's clear enough in this challenge that the boilerplates are switching. Maybe the text could mention this. I kept using the advanced node boilerplate and then tests failed due to it testing my server.js file instead of routes.js, as the previous challenge was to separate the project into modules.
But really I don't think a new boilerpla

[2018-06-08 23:03] cmoss3 commented on #17502
This issue was because I forgot to pull down changes from the official staging branch.

1) `git remote add upstream https://github.com/freeCodeCamp/freeCodeCamp.git`
2) `git pull --rebase upstream staging`

[2018-06-08 23:04] cmoss3 commented on #17502
This issue was because I forgot to pull down changes from the official staging branch.

1) `git remote add upstream https://github.com/freeCodeCamp/freeCodeCamp.git`
2) `git pull --rebase upstream staging`

[2018-06-08 23:04] #17502 closed

[2018-06-09 02:09] hctpscl commented on #17477
Hi @kevcomedia! Thanks for reporting this. There is already a fix for this in staging (see https://github.com/freeCodeCamp/freeCodeCamp/pull/17401). I'm not sure when this will appear in production, but rest assured it's on its way,

[2018-06-09 03:03] Jd536 commented on #16721
Still the same issue.
<audio></audio>
I still  have the error message"Make sure your audio element has a closing tag."

[2018-06-09 03:05] revisualize commented on #12266
@konsoul
[code]
you don't need to do the extra `var` definition again because `a` has already been declared and defined.

[2018-06-09 03:21] llamafluida opened #17506 "Bug in Responsive Web Design Projects - Build a Survey Form"
#### Describe your problem and - if possible - how to reproduce it
First, I love the new page. Second, I think is more a typo more than a bug, but could cause confusion.

The problem is in the **Responsive Web Design Projects - Build a Survey Form** (link below), in the user story 13, that says:

In this, just mention that require a name attribute, and if one doesn't use a name attribute in the in

[2018-06-09 06:46] Ozarion commented on #17360
@raisedadead Issue is resolved.

[2018-06-09 06:48] Ozarion commented on #17360
Issue seems to be resolved from my side. Please update your status so we can happily close this issue. :)

[2018-06-09 06:54] lasas commented on #17485
Same issue here. I tried to resubmit few times "JavaScript Algorithms and Data Structures Projects: Palindrome Checker", but when I return, code is gone. And when I'm in "Welcome dashboar", I see "You have built 0 out of 30 projects." but when I check Curriculum Page ("JavaScript Algorithms and Data Structures Projects") there are two projects marked as completed.

[2018-06-09 07:43] juandesouza commented on #17489
I think the fCC content already goes deep enough about cubic bezier. check this link and you'll understand a little more about it: http://www.css3beziercurve.net/

[2018-06-09 08:01] AlanMamphs commented on #17397
Any updates on below?

[2018-06-09 08:14] juandesouza commented on #17461
the scrollbar of the middle frame is a problem of the fCC website. It also presents problems when using chrome on the computer. the scroll bar stays static, no matter the amount of content we have inside the frame. The only way I found of moving down the content was using the scroll wheel of the mouse.

[2018-06-09 08:17] DonMatano commented on #17408
Same with me using Chrome in Linux Mint

[2018-06-09 09:39] jkao1 commented on #16721
@Jd536 could you provide your cocde?

[2018-06-09 11:40] supuun commented on #17489
Yeah, I think they should not explain it so detailed. They should encourage use of your above linked kind of websites

[2018-06-09 11:41] prateek3255 commented on #15012
Does the issue still exist if not then I would like to work on it?

[2018-06-09 11:46] prateek3255 commented on #16900
Is this issue still open for first timers?

[2018-06-09 12:23] AnonymousLords opened #17507 "Confusing and Unnecessary use of IIFE's causing errors on correct answers - ES6"
* Browser Name: Chrome
* Browser Version: Chrome 67
* Operating System: Windows 10

I have started the new ES6 curriculum of freeCodeCamp in hopes of simplifying my ES5 ways. I have recently come across unnecessary, confusing, unlikely use of the Immediately-invoked function expression's that will cause users not to past the test even though their code is correct.

The IIFE first appears in the ch

[2018-06-09 12:54] supuun opened #17508 "Error in 'Applied Accessibility: Give Links Meaning by Using Descriptive Link Text'"
#### Describe your problem and - if possible - how to reproduce it

`<a href=''></a>` doesn't work. it says

 but `<a href=""></a>` works without a problem

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/give-links-meaning-by-using-descriptive-link-text

#### Tell us about your browser and operating system

* Browser Name: F

[2018-06-09 14:45] mpmaan opened #17509 "Feature Request : Add 'previous' and 'next' buttons for navigating challenges."
#### Describe your problem and - if possible - how to reproduce it
I completed some of the challenges a few months ago. Now, I wanted to revisit those challenges to have a look at some of the concepts. My previously submitted solutions are not available anymore. So I can't move to next challenge without submitting a new solution again which I don't want to do. I can only go to next challenge from

[2018-06-09 15:29] konsoul commented on #12266
@revisualize yes of course! Duh, thank you for pointing that out.  I guess unless you wanted to store the value of a into b as a variable and call that later. Which in this case is not a thing.

[2018-06-09 15:29] saifazmi commented on #17332
+1

[2018-06-09 15:36] cmoss3 opened #17510 "Stripe API call is breaking all local setups"
#### Describe your problem and - if possible - how to reproduce it

When following the instructions in the contributors guide there seems to be an unaccounted for issue.
With a fresh build, if you attempt to execute `npm run develop` you'll be presented with an error.
To resolve the error you have to add a valid Strip public and private key to the .env file before executing `npm run build`. I'm no

[2018-06-09 15:43] tchaffee commented on #17504
@raisedadead I have the same goal as you: make the developer experience as easy as possible.

For me that means not having to sift through code that is completely unrelated to what I'm working on.

I don't think it's really fair to say that breaking up the repos has proven that contributions will stop. You are in the middle of making huge changes and that takes time for people to get used to the n

[2018-06-09 15:59] GiovanniBonino commented on #17322
Did you manage to submit this challenge?
I try uploading all twich.com urls possible related to the project but none seems to work. I also tried submitting a link to a github repository containing the project files but it didn't work either.

[2018-06-09 16:41] newnewb commented on #17510
the stripe secret key isn't getting accepted, you might want to get your own key for the time being

https://stripe.com/

[2018-06-09 17:04] dylanesque commented on #17446
Ah, I see, I think you're correct. I should know better by now than the attempt these challenges without some outside docs on the subject matter and be sure that I understand the concept *precisely*

[2018-06-09 17:45] bradtaniguchi commented on #17474
The
**ES6: Use Destructuring Assignment with the Rest Operator to Reassign Array Elements**
challenge sets the user up wrong from the start, where arr isn't assigned, which is very misleading. The previous challenges either provide `const` or provide nothing.

I don't think this is a big problem, if there was better feedback for the syntax errors.
Even something as simple as a message saying to ch

[2018-06-09 18:02] Rashheh commented on #17360
Issue resolved, can access the site without using a proxy.

[2018-06-09 18:06] julianorafael commented on #17504
First of all, @tchaffee thanks for the issue.

I feel like the lerna approach is enough separation for now. The curriculum and it's translations and the editor can live in the same repo because they take care of the same concern, that being the fcc curriculum, and more important, they rely on each other. The facebook approach to different repos is clear. The tool must live on it's own and don't re

[2018-06-09 18:42] tchaffee opened #17511 "Challenge Seed Editor discussion"
Some of us have agreed to work on a new Challenge Seed Editor to make it easier to create, update, delete, re-order, and in general maintain the challenge seeds. This issue is to here to discuss the goals and make some decisions on approach before we get started with the coding.

Before getting into implementation details, I think it would be useful to agree on some user stories. Just for example,

[2018-06-09 18:42] tchaffee commented on #17504
I'm happy with the Lerna approach for now, although I'm not convinced we have an easy to understand rule about when we create a separate repo. For me the decision might be mostly around developer experience. If you have to go across repos to fix one thing, they should probably be in the same repo. If there would never or rarely be a reason to do that, then it deserves a separate repo. Let's keep b

[2018-06-09 18:44] tchaffee commented on #17511
Here's another feature important to me: I should be able to use the Challenge Seed Editor to maintain any curriculum, not just the freeCodeCamp official curriculum.

[2018-06-09 18:47] Omerdogan3 commented on #16358
They are passing result.failure as a parameter.

The Right Answer Is

`const result = {
  success: ["max-length", "no-amd", "prefer-arrow-functions"],
  failure: ["no-var", "var-on-top", "linebreak"],
  skipped: ["id-blacklist", "no-dup-keys"]
};
function makeList(arr) {
  "use strict";

  // change code below this line
  const resultDisplayArray = arr.map(x => `<li class="text-warning">${x}</li>`

[2018-06-09 18:52] Mandihamza commented on #17510
Thanks for opening this issue @cmoss3! Adding my own Stripe test keys worked 👍

[2018-06-09 19:07] hctpscl commented on #17510
If you don't want to go to the trouble of creating your own Stripe account, I found the following test keys in the Stripe documentation:

STRIPE_PUBLIC=pk_test_g6do5S237ekq10r65BnxO6S0
STRIPE_SECRET=sk_test_BQokikJOvBiI2HlWgH4olfQ2

Drop these into `.env` and you're good to go!

[2018-06-09 19:27] Atik-Sarker commented on #17449
how to solve this? please help me

[2018-06-09 19:54] Dave-Melia opened #17512 "Use a Retina Image for Higher Resolution Displays Doesn't Pass On Google Chrome"
#### Describe your problem and - if possible - how to reproduce it
The test for 'Responsive Web Design Principles: Use a Retina Image for Higher Resolution' won't pass on Google Chrome.  It will pass with Safari, and it will pass with Firefox.  There are matching reports on the FCC Help Forum.

[code]

The above passed with Safari (Version 11.1 (13605.1.33.1.4)), but not Chrome (67.0.3396.79 (Offi

[2018-06-09 22:02] urbanware commented on #17408
same with Chrome.  Repeated error on macOS High Sierra and Linux Mint.  Details here and verified by another:  https://forum.freecodecamp.org/t/store-data-with-sass-variables-still-not-working/198013

[2018-06-09 22:49] bigkatspence commented on #17511
Another thing is to keep in mind it's maintaining user and site security to
Todd

On Jun 9, 2018 1:45 PM, "Todd Chaffee" <notifications@github.com> wrote:

[2018-06-10 05:51] numoonchld commented on #17455
This issue was temporarily fixed (in the Applied Visual Design section)
- however, now, I see it in the "Applied Accessibility" section as well.

[2018-06-10 05:56] guryanov-a opened #17515 "Code blocks formatting: indentation"
#### Describe your problem and - if possible - how to reproduce it
indentation for code blocks is completely missed and such a code is hard to read

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/modify-an-object-nested-within-an-object

#### Tell us about your browser and operating system

* Browser Name:

[2018-06-10 09:06] raisedadead commented on #17510
Hi,

You should not be needing to setup any keys at all other than those provided by default.

@Bouncey we would want to skip over the donate boot script API calls to actual stripe API over a "mocking" middleware or method when in development.

[2018-06-10 11:45] saifazmi commented on #12350
I'm facing a similar issue, where the font is not actually degrading on the browser preview i.e. still using the Lobster font and not monospace; even after commenting out the link to the Lobster font. The code is below:

[code]

Should I create a new issue for this or is it part of this issue?

P.S. I have tested this behaviour on both firefox and chrome.

[2018-06-10 12:57] profoundhub opened #17520 "Introduction to JavaScript"
#### Describe your problem and - if possible - how to reproduce it

Just spotted a spelling mistake: "arithemtic" ... it should be "arithmetic"

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript

[2018-06-10 15:41] renojvarghese commented on #17520
I can make the quick fix

[2018-06-10 16:31] SaintPeter commented on #17511
Having worked on/in `COM1000`, there were the main features:
1) Online code editor, using the same [Code Mirror](https://codemirror.net/) Code editor that freeCodeCamp uses.
2) Ability to edit tests and have them properly formatted for the JSON file.
3) Ability to write out the source file.

Also very helpful was a live-refresh of the site so you can see how they look in real-time.  I don't know i

[2018-06-10 16:46] kevintd opened #17522 "Claim Certification of APIs and Microservices Projects"
I completed all projects and subjects for APIs and Microservices Cert, but when I claim the cert the message "it looks like you have not completed the necessary steps. Please complete the required challenges to claim the APIs and Microservices"

Please let me know what i have to do to get the cert.

#### Add a Link to the page with the problem
https://www.freecodecamp.org/settings

#### Tell us ab

[2018-06-10 17:07] RealDrale commented on #17403
Same here.

[2018-06-10 18:06] j0nl1 opened #17523 "Issue to complete an applied visual design lesson"
#### Describe your problem and - if possible - how to reproduce it
I can't complete the exercise

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-texture-by-adding-a-subtle-pattern-as-a-background-image/

#### Tell us about your browser and operating system

* Browser Name:  Chrome
* Browser Version:  65.0.3325.181
* Op

[2018-06-10 18:16] Nirajn2311 commented on #17523
The link should be in single or double quotes, then only it will work. So it should be:
`background: url("https://i.imgur.com/MJAkxbh.png");`

[2018-06-10 18:21] #17523 closed

[2018-06-10 18:41] Nirajn2311 opened #17524 "npm run only-once error code ELIFECYCLE and error no 1"
#### Describe your problem and - if possible - how to reproduce it
i followed the steps in your contributing.md but when i execute the command npm run only-once I get an error code ELIFECYCLE and errno 1. Also mongod is running before i execute the command.
I am using a windows 10 Home 1803 laptop.

Here is the output of the `command
[code]

Here is the npm log
[code]

[2018-06-10 19:34] cmoss3 commented on #17510
^ I'm going to give this change a go. I'll create a PR here shortly

[2018-06-10 19:36] jbravo94 opened #17525 "Tasks has wrongly spelled variable (bar or boo) at "use-export-to-reuse-a-code-block""
#### Describe your problem and - if possible - how to reproduce it

The tasks says:

foo is exported.
bar is exported.

But only following code works:

"use strict";
export const foo = "bar";
export const boo = "far";

Either boo or bar is written wrong.

Additionally, the console throws multiple error lines every time.
They have no impact, but could be distracting.

#### Add a Link to the page wi

[2018-06-10 19:37] DevonAleshire commented on #17184
@beaucarnes I can take care of this. I have looked through the freecodecamp repo and learn repo but did not see where the curriculum is located at though. Must be overlooking it?

[2018-06-10 21:03] cmoss3 commented on #17524
I had a similar issue recent, only on Ubuntu.

For me, I had forgotten to follow these steps in the contributor's guide:
1) `git remote add upstream https://github.com/freeCodeCamp/freeCodeCamp.git`
2) `git pull --rebase upstream staging`
3) create your new branch etc...

If you've already done this, try making sure that your node and npm versions are correct:
1) Node.js: ^8.9.3
2) npm: ^5

If you

[2018-06-10 22:03] Flarp commented on #14234
@QuincyLarson I will be working on it from now until June 14th, and after June 22nd.

[2018-06-10 22:30] johnkennedy9147 commented on #17278
Further confirmation that the issue stems from not populating challenge type and/or solution fields.

On my real profile I have completed 3 of the 5 JS projects and everything on the settings page is working fine.  I downloaded my data and in the `completeChallenges` section they have type 5 and show a saved solution as I completed them last year. (compared to my testing ids where these fields are

[2018-06-10 23:19] moT01 commented on #17282
@JMVL64 you should close this issue if it's no longer a problem

[2018-06-10 23:24] rsangdoung opened #17529 "Link Broken on Contributor's Guide page"
Broken link on Contributor's Guide -- error 404:
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md#challenge-template

Here's the broken link under "Challenge Types":
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/ap/utils/challengeTypes.js

[2018-06-10 23:28] rsangdoung opened #17530 "Broken Link on freeCodeCamp github page"
Main page:
https://github.com/freeCodeCamp/freeCodeCamp

Click on "Academic Dishonesty" link:
https://www.freecodecamp.org/academic-honesty-policy

[2018-06-10 23:45] #16900 closed

[2018-06-10 23:46] #17416 closed

[2018-06-11 00:02] #17186 closed

[2018-06-11 00:28] crazycat9x opened #17531 "Broken setting page"
#### Describe your problem and - if possible - how to reproduce it
Setting page is broken:
All buttons are either unclickable or throw `TypeError: n is null` when being click on
All sections for progress and claim certification is lost
#### Add a Link to the page with the problem
https://www.freecodecamp.org/settings

#### Tell us about your browser and operating system

* Browser Name: Tested on

[2018-06-11 01:36] akkatracker commented on #17530
To clarify for anyone willing to tackle this issue - the broken link is in the README

[2018-06-11 01:38] akkatracker commented on #17529
And to clarify (for anyone who wants to have a crack at this one), the link has a typo in it (ap instead of app) and should say

https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/app/utils/challengeTypes.js

[2018-06-11 02:18] moT01 opened #17532 "open curriculum in current tab"
From the settings page, the curriculum button opens in a new tab - it should open in the current tab

[2018-06-11 02:19] mpmaan commented on #17530
@akkatracker I can fix this issue. Should I create a pull request.

[2018-06-11 02:21] moT01 opened #17533 "logo to link to home page?"
when on the learn website or any of the challenges - the `freecodecamp` button/logo at the top left links to the learn home page - should it redirect to the main homepage?

[2018-06-11 02:29] Nirajn2311 commented on #17533
Can I work on it?

[2018-06-11 02:41] moT01 commented on #17532
yes - this one I think should be implemented for sure, but ultimately I'm not the one who decides - it may be tough to test at the moment since we cant sign in while developing - so we might need a way around that or wait for a fix which should be in the works I think

[2018-06-11 02:46] moT01 commented on #17533
yes, this one I'm not as sure about - as they may want to keep it how it is, but it's probly somewhere over on the learn repo
here I think https://github.com/freeCodeCamp/learn/blob/master/src/components/Header/index.js

[2018-06-11 03:08] akkatracker commented on #17530
@mpmaan go for it! Make sure to follow the instructions given in the Contributing Guidelines :)

https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md

[2018-06-11 03:43] mpmaan commented on #17529
@akkatracker I referenced this issue by mistake. I can combine the fix for this issue and issue #17530 if that is okay or submit a PR that fixes only #17530 . What should I do?

[2018-06-11 03:54] QuincyLarson commented on #17278
@johnkennedy9147 Thanks for the additional detail. @raisedadead is working on this at the moment and this may be helpful for him in remedying it :)

[2018-06-11 04:00] akkatracker commented on #17529
I would submit 2 separate PRs just to be safe (but I'm sure 1 would be fine too) :)

[2018-06-11 04:03] mpmaan commented on #17529
l will keep them separate for this time.

[2018-06-11 04:48] matthew-t-smith opened #17536 "Feature Request: Progress Info in Super/Blocks' Titles"
#### Summary

I would like to tackle this one myself, but essentially the issue is that you do not know which blocks or superblocks you have completed without expanding the trees out completely in your `mapUi`. Especially with the changes to the certificate programs and the addition of challenges, it becomes tedious to go back through and find out where you now lack challenges for completion.

###

[2018-06-11 06:16] JQuinnie commented on #15662
I had the same issue, took @bluchill advice (thanks!!) and removed spaces from code like below:

`  @for $j from 1 to 6 {
  .text-#{$j} {font-size:10px*$j;}
}`

Worked first thing I changed, then I went back and paste it but it didn't work, did a refresh to page and then it worked again. Definitely glitchy.

[2018-06-11 08:39] Kornelijus commented on #17531
Probably duplicate of #17278
I've provided a [workaround](https://github.com/freeCodeCamp/freeCodeCamp/issues/17278#issuecomment-395690575) there, for anyone who's willing to play around with curl.

[2018-06-11 11:05] julianorafael commented on #17511
Important features:

1. Ideally there would be a dashboard with overall stats for each track. Maybe even reported issues.
2. We should be able to easily navigate to each challenge and see it's content and tests.
3. We should be able to edit both its contents and it's tests.
4. We should be able to edit it's translations, with the original content side by side.
5. Our changes should be persisted ba

[2018-06-11 11:13] Nirajn2311 commented on #17524
is it alright for npm version to be 6.1.0

[2018-06-11 11:44] OMahonyD commented on #15662
Hmmm... also tried all formatting changes I could think of but no joy. A glitch I say!

[2018-06-11 12:54] #17530 closed

[2018-06-11 12:56] #17491 closed

[2018-06-11 13:00] #17501 closed

[2018-06-11 13:05] moT01 commented on #17536
I like this idea of showing the progress for these blocks - I would like to see the green/white little checkbox/circle next to them

[2018-06-11 13:06] dudeguykid commented on #17397
nothing

[2018-06-11 13:33] raditotev commented on #17322
Read carefully the instructions. More info info [here](https://github.com/freeCodeCamp/freeCodeCamp/issues/13095).

[2018-06-11 13:34] tchaffee commented on #17511
I'm not sure what you mean by this feature? What is a track? What kind of stats are you interested in and why would those stats help when editing a challenge seed?

The other features make sense and I agree, but I do have a question about number 5:

I think for now it makes sense to keep the existing workflow of opening a PR for review when someone wants to improve a challenge seed. But the workfl

[2018-06-11 16:15] Zigg1 opened #17540 "Applied accessibility - excessive text"
as you can see in the screenshot provided, there are two of the exact same assignment objectives (or whatever they're called) on the bottom right corner. i don't know if this is a bug or a feature for emphasis, but here it is in case it's a bug.

[this is a link that will take you to the problem on the screenshot](https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/make-scre

[2018-06-11 16:44] sidemt opened #17541 "Code blocks formatting: line breaks missing in 'Prevent Object Mutation' challenge"
#### Describe your problem and - if possible - how to reproduce it
Line breaks are missing in the example code.

How to reproduce: Access the URL below

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/prevent-object-mutation

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version: 67.0

[2018-06-11 16:51] SaintPeter commented on #17511
This should not be hard.  We're already reading/parsing the input JSON data.  We just have to make changes to that data and write it back out.

Assuming we're editing from a clone of the curriculum repo, all you need to do is git add/git commit/git push.  This is no more difficult than the current process.

I would consider as a base requirement for editing challenges the ability to use Git.  I do

[2018-06-11 17:02] julianorafael commented on #17511
I'm sorry, that wasn't clear. By track I mean each group of challenges. Maybe grouped by certifications.

I'd like to keep track of percentage of translations somewhere. Tests stats could be shown here too. We need an overall view on how is the translation work on each track/topic/certification. Definitely not a top priority feature, but it'd be really good to have it.

I guess we can strive to ma

[2018-06-11 17:14] Snip3rSVK opened #17542 "Convert HTML Entities: I have test cases wrong, but my function returns expected outputs"
#### Describe your problem and - if possible - how to reproduce it
I have most test cases wrong, but my function returns expected outputs in Convert HTML Entities challenge. I noticed that in "running test window" for example instead of
[code]
it is showing
[code]
My code:
[code]

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/

[2018-06-11 18:07] zlayabekrija commented on #15662
Ok guys,
I tried on first and this challenge also and it worked.
What you need to do is to manually (hardcode) given parameters in classes.
Example:
else than using for loop,if you want to pass the test do following:
<p class="text-1" style="font-size:10px;">Hello</p>
This is passing 100%.

[2018-06-11 18:08] zlayabekrija commented on #15662
Ok guys,
I tried on first and this challenge also and it worked.
What you need to do is to manually (hardcode) given parameters in classes.
Example:
else than using for loop,if you want to pass the test do following:
`<p class="text-1" style="font-size:10px;">Hello</p>`
Hello
This is passing 100%.

[2018-06-11 18:14] Flarp commented on #17542
It's the HTML being escaped twice, probably by some framework deep down there.

[2018-06-11 18:15] Flarp commented on #14234
Blocked (?) by #17510

[2018-06-11 18:20] moT01 commented on #17436
@Thebigbignooby I noticed that as well - it seems like more than one, if not all of the es6 challenges will not pass using the single quotes (`'`) - but will with the double quotes

[2018-06-11 18:21] Nirajn2311 commented on #17257
I'm sorry to say this, but it didn't work for me until I added stripe APIs to my .env file.

[2018-06-11 18:54] cmoss3 commented on #17524
If you want to try downgrading you can just do:
`npm install -g npm@5`
And if that doesn't work just go back to npm 6:
`npm install -g npm@6`

[2018-06-11 19:03] Nirajn2311 commented on #17524
Sorry for not informing earlier, but I solved it by copy pasting the seed code and I had to stripe APIs.
But now when I launch local host:3000, it works, and click sign in it goes to a page stuff and gives an error.

[2018-06-11 19:09] cmoss3 commented on #17524
Ah yeah, this is a known issue that I've been waiting on a resolve for myself: #17382

[2018-06-11 19:29] raisedadead commented on #17511
I think this is fairly easier said than done. The reason being, the curriculum has a schema that is tied to it. So, unless any other curriculum is NOT following the same structure as the freeCodeCamp curriculum, it would be difficult to avoid issues in the editor which will be modeled after the schema.

Its fair to say that the editor will HAVE to be custom, taking inspiration and logic from previ

[2018-06-11 19:39] francodelera commented on #16721
I've got the same issue, and rechecked everything lot of times, but it keeps telling me the same: "Make sure your audio element has a closing tag." Anybody solved it?

[2018-06-11 19:58] johnkennedy9147 opened #17544 "Prevent accidental duplicate accounts"
At present when you are on login / signup page if you accidentally enter wrong email address a new ac is created and a sign in code for it sent.

I think we should introduce a measure to prevent accidental creation of duplicate ids for users.

Perhaps we could have a check to see if the email address matches an existing ac, if not then email a confirmation advising that a new ac will be created, a

[2018-06-11 20:02] Banhawy opened #17545 "A testing bug in FCC's React Simple Counter Challenge"
I found a subtle bug while doing the “React: Write a Simple Counter” challenge.

If you look at the code below you’ll see that I binded *this* in *this.reset* to the *this .decrement method.*
It should be:
[code]

The consequence of this error is that clicking the reset button which calls this.reset does not reset the counter and decrements it instead.

However, when I run the tests, all the tests

[2018-06-11 20:06] ojongerius commented on #17257
@Nirajn2311 that's a different issue though. The root cause of this issue has been fixed in #17472

[2018-06-11 20:06] moT01 commented on #17544
or perhaps create the account when the user enters the login number - if it's not already created

[2018-06-11 20:07] P1xt commented on #16358
confirmed:

[code]
works
but
[code]
does not work. And, there's no mention of map in the lesson - and, map isn't even introduced in the curriculum until the Functional Programming section which comes after this section.

[2018-06-11 20:13] johnkennedy9147 commented on #17542
`&#8203;` is unicode zero width space which seems to be inserted between the `&` and the rest of the unicode symbol.

[2018-06-11 20:21] moT01 commented on #17541
to fix this replace all the `\n` with `<br>` on this line https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/02-javascript-algorithms-and-data-structures/es6.json#L242

[2018-06-11 20:43] moT01 commented on #17524
hey @Nirajn2311 - you should close this issue if it's no longer a problem

[2018-06-11 20:47] johnkennedy9147 commented on #17542
@raisedadead @Bouncey
Hi guys,
Can you confirm this wasn't deliberate?

non-printing character inserted after `&` in tests for this challenge. (I suspect a copy-paste issue when test written)

Example:
[code]
https://github.com/freeCodeCamp/curriculum/blob/master/challenges/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting.json

lines 840 - 920

NOTE: not affecting corr

[2018-06-11 20:55] brdshw commented on #17541
working on fixing this.

[2018-06-11 21:06] moT01 commented on #17512
@Dave-Melia are you still having this problem? I just tested and it worked for me on chrome - if it seems to be working for you now you could probly close this.

[2018-06-11 21:07] tchaffee commented on #17511
One thing that would help this discussion - and I know it's very tough for devs - is to avoid worrying about implementation and to just brainstorm the user stories about how the editor should work if it did everything you want, and exactly the way you want it to. Once we come up with a prioritized list of features, we can start to evaluate which is the best implementation for those features. We sh

[2018-06-11 21:09] adsingh14 opened #17546 "CSS variable doesn't working on IE."
#### Describe your problem and - if possible - how to reproduce it
From CSS variable lesson, I just want to inform that IE doesn't supports [CSS variables ](https://caniuse.com/#feat=css-variables) as well as it's fallback value.
It'd be great if your team will curate those lessons/challenges or add alternate CSS property with that.

[code]

#### Add a Link to the page with the problem
Started fro

[2018-06-11 21:16] moT01 commented on #17496
Thank you for reporting this issue.

    This is a standard message notifying you that this issue appears to be very similar to issue #17463, so I am closing it as a duplicate.

    If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-06-11 21:16] #17496 closed

[2018-06-11 21:18] tchaffee commented on #17511
It would also be good to start defining some roles more explicitly. I've guessed the following roles from the user stories so far:

- Author

 - Writes lesson description, the tests, and challenge initial code. Probably an experienced dev. But less experienced devs will certainly want to fix problems with descriptions and maybe even tests.
- Reviewer - Reviews changes to challenge seeds, including

[2018-06-11 21:39] moT01 commented on #17423
@haleybear I cannot reproduce this - it may have been fixed - do you want to try again and close this if it seems to be working now

[2018-06-11 21:41] tchaffee commented on #17511
In the spirit of brainstorming features, here are some long term ideas that aren't priorities that you can safely ignore. I'm just hoping they might inspire other ideas:

- The tests are JavaScript, right? Would it add any value to store these as plain `.js` files for the input? Or maybe store all the tests in one `.js` file? That would allow me to open the tests in my favorite IDE to work on them

[2018-06-11 21:46] moT01 commented on #17422
confirmed - code order should not matter here, as it should work both ways - it must be a problem in testing - so we can either change how its tested or put in the lines to `add code below` + `add code above` this is the line https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/01-responsive-web-design/applied-visual-design.json#L2195

[2018-06-11 21:53] moT01 commented on #17410
@JMVL64 it seems to be working for me - perhaps its been fixed - is this still happening for you? - if it's working now you should close this issue

[2018-06-11 22:04] penggunaphp commented on #15662
Try refresh page

[2018-06-11 22:04] moT01 commented on #17345
@udidol you are referencing an unrelated lesson in your last comment - this issue mentioned the `Explore the curriculum` button doing nothing - it should be fixed now as learn redirects directly to the curriculum - you should verify that it is working now and close this if it is

[2018-06-11 22:08] moT01 commented on #17341
@KevinGodinho if this is fixed now - you could probly close this issue

[2018-06-11 22:14] moT01 commented on #17309
@Halfcreative I think this has been fixed - you should check it out and close this issue if it is

[2018-06-11 22:17] moT01 commented on #17294
@thehomebrewnerd I believe this has been fixed - you should check it out and close this issue if that's the case

[2018-06-11 22:19] moT01 commented on #17271
@dcaspit has your issue been resolved? you should check and close this issue if it's no longer a problem

[2018-06-11 22:20] #17341 closed

[2018-06-11 22:30] thehomebrewnerd commented on #17294
Seems to be fine now with the new updates. Closing.

[2018-06-11 22:30] #17294 closed

[2018-06-11 23:30] janosimas commented on #17522
same here

[2018-06-11 23:36] janosimas opened #17548 "Api projects not validating"
#### Describe your problem and - if possible - how to reproduce it

1 - The api projects validation will approve any url, even google (https://www.google.com).
2 - both glitch and github fields must be filled

#### Add a Link to the page with the problem

All api projects.
https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/file-metadata-microservice

#### Tell us

[2018-06-11 23:53] janosimas opened #17549 "Improve description of File Metadata Microservice"
#### Describe your problem and - if possible - how to reproduce it

The description is missing some information:
- no route information - `POST /api/fileanalyse`
- no file field name - `upfile`

#### Add a Link to the page with the problem

File Metadata Microservice freecodecamp page
https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/file-metadata-microservice/

[2018-06-12 00:08] janosimas opened #17550 "Wrong link in URL Shortener Microservice"
#### Describe your problem and - if possible - how to reproduce it

The link example of shortened url is to (I imagine) an old url.

current link: https://thread-paper.hyperdev.space/api/shorturl/3
should be: https://thread-paper.glitch.me/api/shorturl/3

#### Add a Link to the page with the problem

https://thread-paper.glitch.me

[2018-06-12 00:30] Manish-Giri commented on #17524
I'm running into the same issue while seeding. Directly copying the seed code didn't work either.

[2018-06-12 00:43] micqey opened #17551 "My account profile wont go public and I can’t turn night mode off…"
Hey there camp counselors!

I think I may be having some account conflicts… :-/

My account profile wont go public and I can’t turn night mode off…

Also I completed the Javascript Cert, but I don’t see a link to it anywhere…

The email for this forum account is not the same as the account I am having issues with, but I’m not sure I want to try and update because I don’t want to create any more co

[2018-06-12 01:09] Manish-Giri commented on #16649
@QuincyLarson In the current lessons, negative margin (Basic CSS: Add a Negative Margin to an Element) is introduced right after margin (Basic CSS: Adjust the Margin of an Element) itself. Specifying different margins to each side of an element is introduced later. This order looks right to me.

The final decision is up to you!

[2018-06-12 01:19] Nirajn2311 commented on #17524
@Manish-Giri could you post a screenshot of output when you execute the command and the npm log

[2018-06-12 01:35] Manish-Giri commented on #15615
I'll take this up.

[2018-06-12 02:01] Manish-Giri commented on #17524
@Nirajn2311 Here's a screenshot -

![err](https://user-images.githubusercontent.com/11348778/41265960-dd510930-6dc2-11e8-9e7a-13414b74be95.png)

It's the same issue when I tried the seed code directly (earlier in the screenshot).

[2018-06-12 02:18] Nirajn2311 commented on #17524
@Manish-Giri copy paste the below command
[code]

[2018-06-12 02:36] #17507 closed

[2018-06-12 02:37] Manish-Giri commented on #12350
@convexhull @saifazmi I just tried this challenge, and it passed for me -

![deg](https://user-images.githubusercontent.com/11348778/41266995-a0a337ba-6dc7-11e8-8ac0-a71a447fd38a.png)

![deg2](https://user-images.githubusercontent.com/11348778/41267063-f2daddc6-6dc7-11e8-93ab-3e794f9162da.png)

Could you attempt the challenge in a different browser and see if it works? If it still does not, post a

[2018-06-12 02:39] profoundhub commented on #17520
Thanks, I'll let you know if I find anything else.

[2018-06-12 02:39] Nirajn2311 commented on #17520
If the issue is solve, please close it.

[2018-06-12 04:41] VAggrippino opened #17552 "DOCTYPE does not need to be capitalized"
#### Describe your problem and - if possible - how to reproduce it
Challenge name: "Basic HTML and HTML5: Declare the Doctype of an HTML Document"

This statement isn't accurate. `DOCTYPE` isn't case sensitive for **HTML documents**, even on older browsers. If I do a web search, I find many, many references explaining this, but I think [this answer at Stack Overflow by Mathias Bynens](https://stac

[2018-06-12 05:02] uhdisnagag98 opened #17553 "Activity Chart isn’t moving"
Hi FCC

My profile daily activity chart isn’t moving for some reason. Its just stuck on last October, and I’m completing content daily but the chart isn’t green and up to date.

https://www.freecodecamp.org/fcc469d2588-c877-4e81-b372-da5614a4d6eb

* Browser Name:  Google Chrome
* Browser Version:
* Operating System:  Windows 8.1

![3e68c93869f55f3d110d5f880033e78b58d3762a](https://user-images.gith

[2018-06-12 05:03] matthew-t-smith commented on #17536
Any chance this is available for me to add? I've yet to find the logic for where the challenges get their badges, so-to-speak.

[2018-06-12 06:32] vuongggggg commented on #17552
How do you think about this statement "Note that if you don’t uppercase DOCTYPE in an XHTML document, the XML parser will return a syntax error."?

[2018-06-12 07:08] udidol commented on #17345
@moT01 You are right! I accidentally mixed this issue with a different one, apologies.

Yes, it seems to be fixed. Closing the issue.

[2018-06-12 07:08] #17345 closed

[2018-06-12 07:17] TPateman commented on #17271
@mstellaluna Yes, issue resolved thank you.

[2018-06-12 07:42] psitronic opened #17554 ""View Solution" buttons are not links but rather solutions"
#### Describe your problem and - if possible - how to reproduce it

The "View solution" buttons have broken links for the "Javascript algorithms and data structures" section. It looks that links are solution scripts (see also screenshots below). E.g., in my case, for Caesars Cipher the "link" is (solution itself):
`https://www.freecodecamp.org/function rot13(str) %7B // LBH QVQ VG!  i = 0;  result

[2018-06-12 08:20] VAggrippino commented on #17552
@vuongggggg I don't think it would be appropriate to make a reference to XHTML considering the context of the course. It's targeted at new coders who might never even encounter XHTML. This course doesn't cover XHTML.

In any case, it's not accurate to associate this with older browsers. Even if we use `doctype` in an XHTML document with a current browser, the XML parser returns a syntax error.

If

[2018-06-12 09:34] psitronic opened #17555 "JavaScript algorithms... projects are not counted as projects"
#### Describe your problem and - if possible - how to reproduce it

I have created a new/fresh account to claim ONLY the JavaScript related certificate and finished all corresponding projects. However, the Welcome page shows that there are 5 challenges and 0 projects completed (see screenshots). So these projects are not counted as projects but rather as challenges which are not included in certif

[2018-06-12 09:53] kanascyc commented on #15403
you can add the quotation mark in the link like this ("https://i.imgur.com/MJAkxbh.png")

[2018-06-12 09:55] Nirajn2311 commented on #17555
No, they are not included. To get the certificate you need to complete every exercis for that certificate.

[2018-06-12 09:55] vuongggggg commented on #17552
I just made the question about your point for XHTML standard. Your answer is enough.

[2018-06-12 10:06] psitronic commented on #17555
@Nirajn2311
Are you sure? [Here](https://forum.freecodecamp.org/t/10-major-freecodecamp-improvements-that-are-live-now/192130) it states opposite:

... And now we also offer 6 new certifications.
Each of these new certifications has **5 required projects** that you must complete. **All the other coding challenges are optional**, and serve to prepare you for these projects.

[2018-06-12 10:34] Kornelijus commented on #17555
This seems to be the same problem as #17334 and a fix is being discussed #17335 .
@Nirajn2311 You should be able to claim the certificate right after completing the 5 projects, the rest is there to teach you more about the subject. This might not be easy to do though, as there's currently a bug with the settings page.

[2018-06-12 10:59] dinomar commented on #17522
I'm having the same problem.

[2018-06-12 11:08] #17184 closed

[2018-06-12 11:18] #17449 closed

[2018-06-12 11:37] numoonchld commented on #17455
This not fully resolved.

[2018-06-12 12:47] #17540 closed

[2018-06-12 14:17] moT01 commented on #17331
@vytautas-pilk is this still an issue? I think it has been fixed - you should check and close this if it is no longer a problem

[2018-06-12 14:40] moT01 opened #17557 "Open curriculum to current challenge"
#### Describe your problem and - if possible - how to reproduce it
When you open the curriculum in a new session it opens like this...

<img width="494" alt="screen shot 2018-06-12 at 9 29 32 am" src="https://user-images.githubusercontent.com/20648924/41296785-4fb71ffe-6e23-11e8-8fe9-bee2b8e5cfef.png">

If you navigate to your current challenge and click on it, then go back to the curriculum (in t

[2018-06-12 14:43] pradeshkumarg opened #17558 "Issue in Managing Packages with Npm - How to Use package.json, the Core of Any Node.js Project or npm Package"
Getting the below error in console when I click I've completed this challenge(Ctrl + Enter)

```Failed to load https://***********.glitch.me/_api/package.json: No ‘Access-Control-Allow-Origin’ header is present on the requested resource. Origin ‘https://learn.freecodecamp.org 1’ is therefore not allowed access. The response had HTTP status code 404.```

https://learn.freecodecamp.org/apis-and-micr

[2018-06-12 14:47] Halfcreative commented on #17309
@moT01 appears so, closing the issue.

[2018-06-12 14:47] #17309 closed

[2018-06-12 14:50] scissorsneedfoodtoo commented on #17541
Closed via #17547

[2018-06-12 14:50] #17541 closed

[2018-06-12 14:56] #17557 closed

[2018-06-12 14:56] raisedadead commented on #17557
Issue moved to [freeCodeCamp/learn #171](https://github.com/freeCodeCamp/learn/issues/171) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-12 15:50] #17531 closed

[2018-06-12 15:50] #17554 closed

[2018-06-12 15:54] Bouncey opened #17559 "Wrap no user found Error"
https://github.com/freeCodeCamp/freeCodeCamp/blob/4f77da02be4aa3ac8250c26dd5b6a32484d04e1e/common/models/user.js#L471-L490

The Error being thrown for `no user found` (line 485) should be wrapped in a `handledError` like we do for many other errors relating to user input.

[2018-06-12 15:57] johnkennedy9147 commented on #17553
@uhdisnagag98 Hi, please close this issue as it is a duplicate of #17320

[2018-06-12 16:09] johnkennedy9147 commented on #17551
@micqey I think you are describing the same as #17278 which has today had a fix completed.  Once the fix gets put to the production servers this should be resolved.

[2018-06-12 16:12] raisedadead commented on #17551
The fix was deployed just minutes ago. Can you please check again with a hard refresh?

[2018-06-12 16:12] raisedadead commented on #17278
@johnkennedy9147 if you could test this once again. We just deployed a fix.

[2018-06-12 16:21] Xivik commented on #17278
@raisedadead settings page still broken,  certs are not there and still can't update any settings on my settings page. It won't save. Don't think the fix worked or it's not fully went through yet and I'm too fast^^

[2018-06-12 16:27] raisedadead commented on #17278
@Xivik can you help me with screenshots of the DevTools' console  and the settings page. I am around on https://gitter.im/raisedadead for a quick chat as well.

[2018-06-12 16:31] raisedadead commented on #17278
**You may need to do a hard-refresh, (`Ctrl + F5` or `Cmd + Shift + R`) to get the latest changes, because the CDN would cache the old code for a while.**

[2018-06-12 16:35] raisedadead commented on #17278
**Update:**

For the fix to work properly you should have to complete any challenge on learn first, that will automatically migrate some things to get you around this issue.

[2018-06-12 16:57] Peritract commented on #17278
The problem still persists. I've hard-refreshed and completed another challenge.

Here's a picture of the console errors:

![console_errors](https://user-images.githubusercontent.com/13589769/41305184-0c4c3b18-6e6a-11e8-9a05-3e6c2e0b4290.png)

[2018-06-12 16:59] johnkennedy9147 commented on #17278
@raisedadead I found I had to resubmit all the JS challenges to resolve. But only on an id that had completed the challenges before the update (on 30th May), once I resubmitted them all it was fine.

[2018-06-12 17:02] raisedadead commented on #17278
Awesome! @johnkennedy9147 we will run a migration to avoid this soon. thanks for the update.

@Peritract , thanks. Looking into it.

[2018-06-12 17:16] johnkennedy9147 commented on #17278
@Peritract I suspect you are facing the same scenario as I did, you could try resubmitting the 5 JS challenges and see if that resolves.

[2018-06-12 17:22] uhdisnagag98 commented on #17553
Hi , has this issue been resolved on this issue? Or is this a bug? Will Fcc issue some sort of update later on?

Thanks

[2018-06-12 17:38] Peritract commented on #17278
@johnkennedy9147 That worked. Everything seems fine now.

[2018-06-12 17:42] johnkennedy9147 commented on #17555
@psitronic FYI, the project count on front page is wrong per #17334 but you can actually claim the certificate, go to settings, scroll down about half way and you will see the 5 projects listed and a claim certificate button.

[2018-06-12 18:18] decadehew commented on #17485
me too

[2018-06-12 18:47] Xivik commented on #17278
My errors seem to be the same as the screenshots posted above ,if only I saved all my solutions :D I'll just trust it'll be fine once I get too that part then. Wanted to redo the challenges after the update to see if I could do them better with the new things I've learned anyway. (assuming it's fixed) thanks for your hard work!

[2018-06-12 19:02] micqey commented on #17551
I did a hard refresh, but I still can't get the "Make my profile public" switch to move, and the night mode button does nothing. Also, (and most importantly) none of my solutions are available when I go back to the pages for items I've completed on the curriculum. My private bio preview has 541 points but the public bio shows 0 points... it's a little worrying...

[2018-06-12 19:05] micqey commented on #17551
I'm getting the same error that has been reported elsewhere on the settings page:
<img width="777" alt="screen shot 2018-06-12 at 1 04 16 pm" src="https://user-images.githubusercontent.com/29188860/41311350-44d01dac-6e41-11e8-903f-b0f41f3e6c4e.png">

[2018-06-12 19:10] Nirajn2311 commented on #17382
@QuincyLarson any updates on the authentication.

[2018-06-12 19:10] psitronic commented on #17555
@johnkennedy9147 Unfortunately, I still cannot claim the certificate. I cannot do it for my both accounts, old and new, assigned to different email addresses.

![image](https://user-images.githubusercontent.com/32975200/41311502-beefb6e0-6e84-11e8-821e-cabb0d47f0da.png)

[2018-06-12 19:17] Nirajn2311 commented on #17532
I’m sorry to say this but due to some problems in the local setup I can’t do anything for this issue and until it is resolved. I had thought of doing this first as it was a good start for a beginner and a place to practice my skills.

[2018-06-12 19:21] P1xt commented on #17278
Confirmed - as of right now, if you saved your solutions, you can just enter them again, and the JS certificate is fixed. If you didn't save them, however, there's no way to get them back. Even a download of your user data from the settings page doesn't contain solutions, and none of the links on public profile contain solutions.

[2018-06-12 19:44] BTmathic commented on #17278
Yep, (rewriting and) resubmitting all the JS projects brought back all of the certificate sections in the Settings page. I was checking after each project and nothing seemed to change until the last project went up, so it does seem to need all of them. (The first two are super quick, the latter three not so bad if you're organized, if that's the word to use, so it's not so bad even in the worst ca

[2018-06-12 19:49] JMVL64 commented on #17410
For me it still happens. I just tried. Sorry I did not respond very fast, I have had some busy times. In firefox I see an empty screen with this in the console. In chrome it loads but I cannot change it still.
<img width="1268" alt="screen shot 2018-06-12 at 21 48 37" src="https://user-images.githubusercontent.com/23399217/41313512-682f0d3c-6e8a-11e8-8c52-f58f7a649a7c.png">

[2018-06-12 19:50] JMVL64 commented on #17282
Yes, no longer a problem. Had some busy times and forgot to close it.

[2018-06-12 19:50] #17282 closed

[2018-06-12 20:32] moT01 commented on #17410
@JMVL64 Not a problem - just trying to close some issues that have been resolved

[2018-06-12 20:35] moT01 commented on #17532
@Nirajn2311 it is a good place - there's just some issues with local sign in as I mentioned which makes it tough to do certain things until it's resolved - the other issue you wanted to try might be easier as I don't think you need to sign in

[2018-06-12 21:30] mattszcz commented on #17397
I guess my issue is part of this. I completed Responsive Web Design, but I can't find any button or any way to claim my certificate.

Just says, "No certifications have been earned under the current curriculum"

![screenshot 2018-06-12 at 2 28 27 pm](https://user-images.githubusercontent.com/17437264/41318408-1876063e-6e4d-11e8-99d3-b449a6bc0bd7.png)

[2018-06-12 21:48] johnkennedy9147 commented on #17551
@micqey Could you clarify the following:
- On the settings page do you see the certificates section between `Academic Honesty Policy` and `Danger Zone`?
 - When you say you completed the Javascript cert do you mean you completed the 5 required projects, or that you claimed the certificate?
- Does the `Download all your data` button work? If so could you download your data and inspect the completed

[2018-06-12 21:56] johnkennedy9147 commented on #17555
@psitronic this looks like #17278. A fix was put in today but a database update is required before already affected users have their issue fully resolved but you can workaround the issue by resubmitting all of the JS projects.

[2018-06-12 23:18] matthew-t-smith opened #17561 "Test Error Expects Wrong Average Value for Ratings"
#### Functional Programming: Use the reduce Method to Analyze Data

#### The test requires the average to calculate to `8.675`, but the average of the 5 IMDB ratings is actually `8.52` based on hand calculations and re-running the script outside of freeCodeCamp. I don't believe this is a rounding error of any sort.

#### https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/func

[2018-06-12 23:37] Manish-Giri commented on #17524
@Nirajn2311 You can close the issue. I'll create a separate one describing the errors I've come across. Thanks.

[2018-06-13 00:17] matthew-t-smith commented on #17387
This may be an issue with the validity of using the negative look behind in the regexp in the test. I have no idea how to test whether they should be valid or implementable though.

[2018-06-13 01:11] ianellison87 commented on #17474
![2018-06-12 1](https://user-images.githubusercontent.com/38817240/41324784-9eede4c0-6e84-11e8-835f-0783ee53e35d.png)
@raisedadead
everything works when I run it on google chrome but It doesn't have my code camp progress saved. possibly an out of date Internet Explorer browser? I will try to update and see if that works

[2018-06-13 01:55] micqey commented on #17551
I do see the certificates section, and I completed the challenges and projects, but never claimed the certificate. Also I downloded "all my data" but it's empty... everything is null...

I literally went through everything in the Javascript section. Does this mean it's all gone?

[2018-06-13 01:59] micqey commented on #17551
Every line looks like this:
`{"id":"bad87fee1348bd9aedf08802","completedDate":1528044361849,"solution":null,"challengeType":null,"files":[]},`

[2018-06-13 02:12] #17524 closed

[2018-06-13 02:19] aschalau opened #17563 ""Escaping quotes in literal strings" test is still failing"
Hello,

This doesn't seem to be fixed as the other issues are closed out regarding this issue.

I seen these and others about this that have been closed out:
#16344
#16476

I am running Chromium - Version 66.0.3359.181 (Official Build) Built on Ubuntu , running on Ubuntu 16.04 (64-bit)

![image](https://user-images.githubusercontent.com/1645250/41209311-b922b9e8-6cf8-11e8-9857-0806aa9846c3.png)

I

[2018-06-13 02:31] #17508 closed

[2018-06-13 02:38] MarthaC444 commented on #17320
Same here. The days of the months are also reading top to bottom, left to right, instead of left to right, top to bottom.

Ubuntu 16.04
Chromium, Firfox, Opera

https://www.freecodecamp.org/marthac444

![heatmap from 2018-06-01 11-04-21](https://user-images.githubusercontent.com/25692095/41327169-ace68c9e-6e98-11e8-9ea3-b7650f286984.png)

[2018-06-13 04:11] psitronic commented on #17555
@johnkennedy9147  Great job! It works fine now! Thanks!

[2018-06-13 04:28] bashkeyboard commented on #16645
Ran into this same issue tonight. For everyone still having trouble, do not include an id attribute in your audio tag. It seemed to accept my answer after I removed the id attribute completely.

[code]

[2018-06-13 05:19] Manish-Giri commented on #17559
@Bouncey I'd like to give this a shot. Were you referring to the `wrapHandedError` function declared [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/server/utils/create-handled-error.js#L11) and used to wrap errors, like [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/models/User-Identity.js#L62)?

[2018-06-13 05:28] camachado commented on #16721
Just came across this issue as well.

![image](https://user-images.githubusercontent.com/2438129/41331818-05b21d9c-6ea9-11e8-98db-9d197cd156c1.png)

[2018-06-13 06:44] bjorno43 opened #17565 "learn.freecodecamp.org doesn't retain login data from www.freecodecamp.org"
#### Describe your problem and - if possible - how to reproduce it
I'm logged in on https://www.freecodecamp.org, but learn.freecodecamp.org doesn't retain the login. I've tried using both Firefox and Chrome to see if the issue would be solved, but it didn't. My progress in the curriculum isn't tracked either. When clicking the Sign In button (top right), I'm taken back to https://www.freecodecamp

[2018-06-13 07:43] ahmadabdolsaheb commented on #15012
@prateek3255 sorry for the late response. Yes it is open.

[2018-06-13 07:43] raisedadead commented on #16721
Can someone please report a fresh issue on the tracker.

[2018-06-13 07:47] raisedadead commented on #17382
@Nirajn2311 thanks for your interest.

The updates will come soon, unfortunately we can't exactly state when. We recommend you to take a look at some of the other repos meanwhile to continue contributing without being blocked.

Happy contributing!

[2018-06-13 07:48] raisedadead commented on #17551
/cc @Bouncey

[2018-06-13 07:50] raisedadead commented on #17397
They are on your settings page. Visit https://www.freecodecamp.org/settings

@QuincyLarson there have been lot of issues where campers are finding it difficult to understand where to claim their certs.

I think we would need to have an on boarding flow for this.

[2018-06-13 07:50] 43noodles commented on #16474
the same issue for me....

even I entered correct answer, the test still fail...

[2018-06-13 07:54] johnkennedy9147 commented on #17551
@micqey Hi, we are not storing solutions for challenges any more, just storing solutions for projects, but there was an issue which affected these JS projects causing them to not be stored.  That issue was fixed yesterday. But there still needs to be a database update for affected users, but as a workaround if you resubmit your 5 JS projects the solutions should now be stored and you can claim the

[2018-06-13 07:56] johnkennedy9147 commented on #17555
@psitronic :+1:
this issue can be closed
cc @raisedadead

[2018-06-13 07:57] raisedadead commented on #16474
Please report a fresh issue with the details on the tracker.

[2018-06-13 08:01] raisedadead commented on #17278
Thanks for the updates. We are also going to run a migration so that you may will not have to submit the projects once again. This step would need a planned maintenance downtime hence the inconvenience would remain for sometime.

Meanwhile @freeCodeCamp/moderators are requested to direct users facing the same issue to the workaround above.

[2018-06-13 08:02] raisedadead commented on #17278
Re-opened and locked conversation to collaborators to avoid "me too comments". Will be resolved with the planned DevOps.

[2018-06-13 08:06] raisedadead commented on #17278
Just to re-iterated the workaround:

1. You may need to do a hard-refresh, (Ctrl + F5 or Cmd + Shift + R) to get the latest changes, because the CDN would cache the old code for a while.

2. For the fix to work properly you should have to complete any challenge on learn first, that will automatically migrate some things to get you around this issue.

3. >  I found I had to resubmit all the JS chal

[2018-06-13 08:12] thatnini commented on #17561
While (8.8 + 8.6 + 9.0 + 8.3 + 7.9) / 5 = 8.52, the instructions say

As Christopher Nolan didn't direct all of the movies listed, why do we need to find the average of all 5?

In other words, don't we need to find the average of the movies that only have `"Director": "Christopher Nolan"` listed, which does comes to 8.675?

[2018-06-13 08:14] #17555 closed

[2018-06-13 08:19] matthew-t-smith commented on #17561
Good catch. I missed the “Nolan” qualification. I’ll see that it stays as/is. Thank you.

[2018-06-13 08:47] #17278 closed

[2018-06-13 09:38] saifazmi commented on #12350
@Manish-Giri the challenge does work for me, the issue is with the preview window itself. The tests work just fine.

**Firefox:**
![clipped-2018-06-13-10 34 16](https://user-images.githubusercontent.com/6190814/41343104-a0c95e66-6ef5-11e8-9086-0efab0edb33b.png)
**Chrome:**
![windowshot-2018-06-13-10 36 21](https://user-images.githubusercontent.com/6190814/41343131-b7af5d42-6ef5-11e8-8df5-04a2784c2

[2018-06-13 12:07] Nirajn2311 commented on #17533
If it’s on the learn repo, then isn’t it a issue for that repo and not this.

[2018-06-13 13:03] dudeguykid commented on #17397
@raisedadead thanks for the response, @QuincyLarson thanks in advance. Let me know if I can do anything, more than happy to help.

[2018-06-13 13:09] moT01 opened #17567 "Project count includes legacy projects"
It shows I have completed 30/30 projects

<img width="446" alt="screen shot 2018-06-13 at 8 00 00 am" src="https://user-images.githubusercontent.com/20648924/41352908-53a56450-6ee0-11e8-8aa7-dcf099717b05.png">

<hr>

Even though I haven't done a number of the new projects...

<img width="447" alt="screen shot 2018-06-13 at 8 00 51 am" src="https://user-images.githubusercontent.com/20648924/4135292

[2018-06-13 13:28] #17529 closed

[2018-06-13 13:48] scissorsneedfoodtoo commented on #17561
@thatnini, thank you for pointing that out! I also missed that. I'll revert the PR now.

[2018-06-13 13:56] johnkennedy9147 commented on #17287
Fixed in #17239

[2018-06-13 13:56] #17287 closed

[2018-06-13 14:56] raisedadead commented on #17561
Reopened with https://github.com/freeCodeCamp/freeCodeCamp/pull/17568

[2018-06-13 14:57] raisedadead commented on #17561
Can someone confirm that no change is required? If yes please comment and close.

[2018-06-13 14:58] raisedadead commented on #17567
Yes, this is a duplicate.

[2018-06-13 14:58] #17567 closed

[2018-06-13 15:03] raisedadead commented on #17565
Hi @bjorno43 we use cookies for configuring the login and session persistence. Can you check your DevTools

![image](https://user-images.githubusercontent.com/1884376/41359822-f46ef532-6f48-11e8-8517-88e42dd37d6b.png)

DO NOT SHARE a screenshot. Just confirm if you have those.

[2018-06-13 15:06] raisedadead commented on #17565
I am not sure, does this variant disable cookies by default?

[2018-06-13 15:07] raisedadead commented on #17559
@Manish-Giri yes to all of your queries!

[2018-06-13 15:27] JMVL64 commented on #17551
For me it is solved! i do have to fill in my javascript challenges again, but everything works. Thanks so much!

[2018-06-13 15:51] mattszcz commented on #17397
The settings page must have been fixed recently. It used to go from Academic Honesty Policy directly to Danger Zone. Now the certificate claim forms appear there. Confirmed, it is now working.

[2018-06-13 16:28] dudeguykid commented on #17397
i now get "has not yet agreed to our Academic Honesty Pledge." but I have.

[2018-06-13 16:52] codewatzen opened #17569 "Basic CSS: Change the Color of Text"
![firefox_2018-06-13_15-26-20](https://user-images.githubusercontent.com/25915728/41376446-dee9c77a-6f1e-11e8-9117-2a3aa85a1a07.png)
![chrome_2018-06-13_15-27-15](https://user-images.githubusercontent.com/25915728/41376463-ea17548c-6f1e-11e8-8936-2f887df13bd3.png)
![firefox_2018-06-13_15-28-45](https://user-images.githubusercontent.com/25915728/41376466-ec125142-6f1e-11e8-8821-ed85a829b564.png)
![

[2018-06-13 16:59] raisedadead commented on #17397
Hi @dudeguykid can we connect over email, please drop me an email at `mrugesh at freecodecamp dot org`

[2018-06-13 18:02] P1xt commented on #15662
@QuincyLarson This is still an issue. The test is very sensitive to whitespace and formatting exactly as the instructions instruct doesn't work.

[2018-06-13 18:35] P1xt opened #17570 "Sass Challenges intermittently report failed tests for correct solutions"
#### Describe your problem and - if possible - how to reproduce it
The test cases for this challenge do not accept valid formatted code which follows the instructions and example given.

-----

**Note:** The example I give is one specific challenge, but this issue is NOT unique to the challenge, it happens throughout the Sass Challenges.

-----

Frequently in the sass challenges, valid solutions a

[2018-06-13 19:44] raisedadead commented on #17397
Hi @dudeguykid I have fixed up your user record. Can you please try again? You seemingly had multiple accounts with the same email.

[2018-06-13 19:45] Nirajn2311 commented on #17569
Could you please edit your issue to include your firefox version,steps to reproduce and screenshot of the error.

[2018-06-13 19:45] bjorno43 commented on #17565
Hi @raisedadead I've confirmed that there were cookies present (though the default Firefox Quantum doesn't allow me to see which cookies exactly) and that they were not disabled or deleted on browser close by default. I've downloaded Firefox Quantum: Developer Edition to see if I could get more meaningfull information. However, my login details were retained perfectly fine there. So this led me to

[2018-06-13 19:46] raisedadead commented on #17551
Hi @micqey can you please connect with me over email, I'll try and check this: `mrugesh at freecodecamp dot org`

[2018-06-13 20:03] raisedadead commented on #17565
@bjorno43 and the same results on Chrome as well?

[2018-06-13 20:16] JamesStaffordCoyte opened #17572 "Completed all algorithms but it did not save"
#### Describe your problem and - if possible - how to reproduce it
I completed all the JavaScript Algorithms and Data Structure Projects but the final two are not showing up as completed and my code is gone. Will this be corrected or do I have to redo the problems?

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser

[2018-06-13 20:16] bjorno43 commented on #17565
@raisedadead In Chrome I'm able to view the cookies more clearly. I can see cookies present for both www and learn. However, www has the _access_token_ and _userId_ present, while learn does not. I'm pretty sure the issue will solve itself there as well if I logout and back in again, but I will lose any debugging information that I still have access to right now in that browser. As I do not requir

[2018-06-13 20:16] JamesStaffordCoyte commented on #17572
![screen shot 2018-06-13 at 1 16 22 pm](https://user-images.githubusercontent.com/26333632/41375811-04f4f538-6f0c-11e8-9492-61d2cca922d0.png)

[2018-06-13 20:22] dudeguykid commented on #17397
All works now, certificates are all there! thanks for your help!