[2017-02-04 00:03] HKuz commented on #13058
@Greenheart - thanks for that amazing write-up comparing options 😄 👍 I'm also leaning towards point 2. There are many ways folks can add wrong or unnecessary code, but there (should be) only one right way to pass the challenge (and prove they understand the concept). There's also that old known issue where the cursor in the code editor can randomly jump around while you're typing - I've been a vic

[2017-02-04 00:11] Greenheart commented on #12966
I'll go ahead and update the tests for [Use Dot Notation to Access the Properties of an Object](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/use-dot-notation-to-access-the-properties-of-an-object)!

[2017-02-04 01:21] twyststar commented on #9142
Thanks!

[2017-02-04 01:23] Greenheart commented on #12966
Continuing with https://github.com/freeCodeCamp/freeCodeCamp/issues/12966#issuecomment-275974706.

The first problem is because the linter doesn't want us to write an expression that essentially is dead code (since we neither call a function or create a variable). To fix this, I suggest we assign the result to a variable.

The second and third problem could be fixed by changing the seed to use the

[2017-02-04 01:52] Greenheart commented on #12966
Fixing https://github.com/freeCodeCamp/freeCodeCamp/issues/12966#issuecomment-276268534 :smile:

[2017-02-04 02:03] Greenheart commented on #12966
Fixing https://github.com/freeCodeCamp/freeCodeCamp/issues/12966#issuecomment-276565338

[2017-02-04 03:46] mjanusauskas commented on #12431
I recently encountered this same issue both at CodePen.com and EdX.org

EdX appears to have an accessible solution in place and I am including
their comments here:

We use an open source code editor called CodeMirror
(https://codemirror.net/).  We had to make some modifications to it to
make it work within edX Platform.  Some of those modifications included
some accessibility improvements so the u

[2017-02-04 04:25] BrendanSweeny commented on #13025
Absolutely! I'll create a PR sometime this weekend.

[2017-02-04 04:49] KenzoM commented on #13104
@HKuz That may be a better solution I would say then. Instead of going to the next page, I can still work on the code and not worry about restarting from scratch.

Awesome!

[2017-02-04 10:16] Greenheart commented on #12966
I'll fix https://github.com/freeCodeCamp/freeCodeCamp/issues/12966#issuecomment-276245864

[2017-02-04 10:49] Greenheart commented on #12966
I noticed that no challenge have solutions - I could try adding them

[2017-02-04 11:17] b54690 opened #13130 "Line up Form Elements Responsively with Bootstrap Issue in IE v11"
Challenge [Line up Form Elements Responsively with Bootstrap](https://www.freecodecamp.com/challenges/line-up-form-elements-responsively-with-bootstrap#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20%20%7

[2017-02-04 11:50] systimotic commented on #11226
@RishuK Take a look at https://github.com/freeCodeCamp/freeCodeCamp/pull/11318, especially at the review comments. There's a lot of work already done there. You're headed in the right direction!

[2017-02-04 12:44] Greenheart commented on #12966
### [Understanding Own Properties](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/understand-own-properties):
The tests currently allows use of the built in method `Object.keys()`, but I think campers get better practice by using `for...in` combined with `Object.hasOwnProperty()`.

I'll submit a PR for this.

[2017-02-04 13:21] Greenheart commented on #12966
### [Object Oriented Programming: Iterate Over All Properties](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/iterate-over-all-properties):
Just discovered that this challenge has the same problem - it allows use of `Object.keys()` As I still don't think this should be allowed in these challenges, I'll create a PR adding the test case from [this line](https://github.com/fre

[2017-02-04 13:27] OFFLlNE commented on #12992
@Greenheart

Seems that this bug still exists despite the new Live version.

[2017-02-04 13:35] Greenheart commented on #12992
@OFFLlNE I don't think we can do much about this at the moment though.

1. Tests are run against the transpiled code --> we can't test es6 specific things
2. Many tests are just placeholders - comments explaining what should be tested, which allows passing challenges without more than pressing the button

Looking forward to fix this issue! :blush:

[2017-02-04 13:49] vercellinoc opened #13133 "Night mode does not work on Firefox"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64; rv:51.0) Gecko/20100101 Firefox/51.0</code>.
This is not a code issue. It is when night view is on, the left panel with the example lesson, some examples are all white-out. White on white. Can't see the text unless high

[2017-02-04 13:53] Greenheart commented on #12966
[Object Oriented Programming: Change the Prototype to a New Object](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/change-the-prototype-to-a-new-object)

Insufficient instructions and tests. Should `describe` and `eat` just exist on the `prototype`, or should they be functions?

I think we should add tests to verify that they are functions.

[2017-02-04 14:00] OFFLlNE commented on #13130
@b54690 Thank you for reporting the issue.
Could you please provide more information on the issue that you are having?

[2017-02-04 15:19] Shubham-invent opened #13134 "Page Getting Unresponsive"
https://www.freecodecamp.com/challenges/sum-all-primes

This page is not reponding.Please have a look.
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-04 15:24] OFFLlNE commented on #13134
@Shubham-invent Thank you for reporting your issue.

Try refreshing the page or restarting your browser. And if that solves your problem, just close the issue.
If not, then try to add some additional information about the issue you are having exactly

[2017-02-04 15:42] okngay opened #13136 "I can't run tests when i completed --> "Replacing If Else Chains with Switch" ???"
Replacing If Else Chains with Switch

#### Challenge Name

Replacing If Else Chains with Switch
https://www.freecodecamp.com/challenges/replacing-if-else-chains-with-switch
#### Issue Description

I can't run tests to check my answer!

#### Browser Information

* Browser Name, Version:  Chrome 56
* Operating System: Windows 7
* Mobile, Desktop, or Tablet:  Laptop

#### Your Code

[code]
#### Scree

[2017-02-04 15:43] okngay commented on #13136
Nothing happened when i click "Run tests" ???
pls tell my why?

[2017-02-04 15:49] Greenheart commented on #12966
[Object Oriented Programming: Remember to Set the Constructor Property when Changing the Prototype](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/remember-to-set-the-constructor-property-when-changing-the-prototype)

This challenge should probably format "constructor property" as `<code>constructor</code> property` to increase readability. What do you think?

[2017-02-04 15:50] vikramnr commented on #13134
Page loaded pretty well

[2017-02-04 15:55] OFFLlNE commented on #13136
Thank you for reporting your issue.

Your code is wrong. You are not returning anything
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms]

[2017-02-04 15:55] #13136 closed

[2017-02-04 16:16] Greenheart commented on #12966
A general suggestion is that we replace `let` statements with `const`. [This video](https://www.youtube.com/watch?v=sjyJBL5fkp8) by @mpj explains it well!

[2017-02-04 16:23] kziro opened #13137 "nothing. i can t delete it"

[2017-02-04 16:27] Greenheart commented on #12966
### [Object Oriented Programming: Reset an Inherited Constructor Property](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/reset-an-inherited-constructor-property):

Minor typo: `supertype's` should probably be `supertype`'s

[2017-02-04 16:46] DarrenfJ opened #13138 "Videos for Applied Challenges give error"
Challenge [build-a-tribute-page](http://beta.freecodecamp.com/en/challenges/applied-responsive-web-design-projects/build-a-survey-form) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Not sure this is a

[2017-02-04 17:05] Greenheart commented on #12966
### [Object Oriented Programming: Use an IIFE to Create a Module](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/use-an-iife-to-create-a-module):

Minor typo: "Here is a example using it:" should be changed to "Here is **an** example using it:"

[2017-02-04 17:07] squat-that-fly commented on #1554
the right answer is
$("#left-well").css("background-color","red");
    $('#target1').parent().css('background-color','red');

[2017-02-04 17:32] #13047 closed

[2017-02-04 17:36] tannakartikey commented on #11022
I think it's the best to educate once the PR is received.
Not all project owners are ready to spend a little time teaching new people. The PR would simply be ignored because of little work lacking from the new contributor.
Teaching about finishing PR will encourage contributors positively.

Alternatively, can we use something like [Rultor](https://github.com/yegor256/rultor)? If the PR is not squa

[2017-02-04 17:54] Greenheart commented on #12966
I'm working on a PR for https://github.com/freeCodeCamp/freeCodeCamp/issues/12966#issuecomment-277447340

[2017-02-04 18:01] Shubham-invent commented on #13134
It gets alright by clearing cookies.

[2017-02-04 18:01] #13134 closed

[2017-02-04 18:05] #13137 closed

[2017-02-04 18:09] Greenheart commented on #12966
Another general suggestion: I think we need to change the examples so campers can't just copy the example and change 1-2 things to complete the challenge.

The examples should show the concept, but not use properties or methods that are used by the challenge itelf. This ways, I think people will learn more from each challenge.

[2017-02-04 18:12] iansibindi commented on #12966
Ditch Custom CSS for Bootstrap
------------------------------

On Sat, Feb 4, 2017 at 9:11 PM, Samuel Plumppu <notifications@github.com>
wrote:

[2017-02-04 18:17] Greenheart commented on #12966
@iansibindi It looks like you're subscribed to all messages of this repository. To disable it, visit https://github.com/freecodecamp/freecodecamp and click **"Unwatch"** in the top right.

Sorry for the inconvenience!

[2017-02-04 18:21] tsalexey544 opened #13140 "Correct solution but I still fail all the tests"
Challenge [No repeats please](https://www.freecodecamp.com/challenges/no-repeats-please) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.

All my answers are correct, but I still fail all the tests.

My code:
[code]

[2017-02-04 18:34] tsalexey544 commented on #13140
Got it

[2017-02-04 18:34] #13140 closed

[2017-02-04 19:11] rahul-1903 opened #13142 "Accessing Nested Objects"
Challenge [Accessing Nested Objects](https://www.freecodecamp.com/challenges/accessing-nested-objects#?solution=%0A%2F%2F%20Setup%0Avar%20myStorage%20%3D%20%7B%0A%20%20%22car%22%3A%20%7B%0A%20%20%20%20%22inside%22%3A%20%7B%0A%20%20%20%20%20%20%22glove%20box%22%3A%20%22maps%22%2C%0A%20%20%20%20%20%20%22passenger%20seat%22%3A%20%22crumbs%22%0A%20%20%20%20%20%7D%2C%0A%20%20%20%20%22outside%22%3A%20%7

[2017-02-04 20:05] rmdawson71 commented on #12706
Any status on when this will be fixed?

[2017-02-04 21:30] no-stack-dub-sack commented on #13110
@Greenheart There's actually a lot of challenges in this section that use the `function().tostring()` format, because I wrote these before I knew about accessing user code through the `code` variable.  So there's several more that could be simplified in this way

[2017-02-04 21:35] #13067 closed

[2017-02-04 21:41] no-stack-dub-sack commented on #12966
@Greenheart I'm finding it a bit hard to follow each of these even with the links - I guess I perhaps should have opened an additional issue for each one! I meant to add a checklist the original comments too.

I'll start doing an initial review of the PRs, but do you think you could add a comment to each of the original comments if they have a PR open for them so we can track which issues have bee

[2017-02-04 21:50] Hapoofesgeli opened #13145 "There are more (common) ways of using CSS"
Challenge [introduction-to-basic-css](http://beta.freecodecamp.com/en/challenges/basic-css/introduction-to-basic-css) has an issue.

The text implies there are two ways of using CSS, and ignores using CSS via `style` attribute.

As [W3 describes](https://www.w3.org/TR/CSS2/intro.html#design-principles):

_This bug is targeted for the beta version._

[2017-02-04 21:58] Greenheart commented on #12966
@no-stack-dub-sack Haha I've got to admit I can't follow it myself either, I just kept posting! :smile:

I'll add a big "PR open" (with link to it) to the beginning of each comment that is WIP/fixed.

[2017-02-04 22:00] Greenheart commented on #13110
@no-stack-dub-sack I'd say that we fix them once they break things. Then we can focus on other issues first :blush:

[2017-02-04 22:04] no-stack-dub-sack commented on #12966
@Greenheart Perfect! Thanks! I've reviewed the first several PRs

[2017-02-04 22:05] no-stack-dub-sack commented on #13110
@Greenheart Agreed!

[2017-02-04 22:24] #13070 closed

[2017-02-04 22:47] girlboss558 commented on #12239
I am having this same problem with a lot of challenges, but am stuck on challenge 80. When does the new release come out?

[2017-02-04 22:50] girlboss558 opened #13146 "Insert-Pointer-Issue in Chrome macOS fullscreen"
I have had this insert-pointer-issue throughout the challenges, but I am stuck on challenge 80(Style Text Inputs as Form Controls). I can't insert the pointer to the part of the page I need to add code.

#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-04 23:16] ayaqubi opened #13147 "Understanding Uninitialized Variables - Instruction and Checklist values do not match"
#### Understanding Unitialized Variables
https://www.freecodecamp.com/challenges/understanding-uninitialized-variables

#### Issue Description
The values in the instruction do not match the values in the checklist at the bottom.

#### Browser Information
Google Chrome

![github screenshot](https://cloud.githubusercontent.com/assets/23462067/22622364/815cb7a8-eafd-11e6-9e7b-9b1fc35602a8.PNG)

[2017-02-04 23:44] Greenheart commented on #13145
@Hapoofesgeli Thanks for reporting this!

This sentence could be clarified. I've left some ideas below.

/cc @HKuz

[2017-02-04 23:47] #12610 closed

[2017-02-04 23:51] #13122 closed

[2017-02-05 00:11] no-stack-dub-sack commented on #13091
@JosephLivengood, @Greenheart  If this ☝️ is the boilerplate project that is being used for the NPM challenges, than a lot of the challenge instructions are off:

![image](https://cloud.githubusercontent.com/assets/18563015/22622622/40b1ddea-eb0d-11e6-8ad7-37241f424d17.png)

In this boilerplate, there is no author-field (which I think makes more sense - have campers add the whole thing), so we wou

[2017-02-05 00:18] Greenheart commented on #13091
@no-stack-dub-sack That was my intention when I initially wrote the challenges - add one field at a time to demonstrate what it means.

[2017-02-05 00:20] no-stack-dub-sack commented on #13100
Ok, so it looks like each section has it's own boilerplate. These need to be added to the landing pages for each section so that others can start working on them as well Thanks for posting this link @Em-Ant!

https://hackmd.io/GYVgTBIIxgtAzATgCYCNYBYCGZ2oBwbqLCJSKIj4DG1y8QA=

[2017-02-05 00:56] no-stack-dub-sack commented on #13101
@JosephLivengood Hmmm... possibly.

@QuincyLarson do you know who else might be a good person to tackle this?

[2017-02-05 01:28] Manish-Giri commented on #13147
@ayaqubi The values at the bottom depict the values of the variables after these operations are executed on them -
[code]
For instance, if you initialize `a` with `5`, as the instructions asks you to - then after `a = a + 1;`, value of `a` will be `6`, which is what the checklist at the bottom says.

[2017-02-05 01:30] Manish-Giri commented on #13142
@rahul-1903 Your code has a typo - `["globe box"]`.

Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) first if you need help with issues like these, in future. Happy Coding!

[2017-02-05 01:32] no-stack-dub-sack commented on #13100
@Em-Ant Also, none of these boilerplates will work until the CORS settings are updated as @JosephLivengood pointed out for the NPM challenges in #13095

I forked [your repo](https://github.com/Em-Ant/fcc-express-bground-pkg) for the Basic Node and Express challenges and changed [this line](https://github.com/Em-Ant/fcc-express-bground-pkg/blob/master/index.js#L38) of index.js and updated the packa

[2017-02-05 01:55] JosephLivengood commented on #13100
@no-stack-dub-sack It turns out he had it fixed, we were using outdated boilerplates.

I can confirm the boilerplate works as intended without edits or fixes on the hackmd.io, however the solution to it is using the outdated version.

@Em-Ant @no-stack-dub-sack I'll edit the solution as soon as I can to share the same working code as the updated boilerplates 👍

[2017-02-05 01:57] no-stack-dub-sack commented on #13100
@JosephLivengood perhaps only for the NPM boilerplate? The Node and Express boilerplate from hackmd.io pulls from @Em-Ant's repo that I linked to above (in which the CORS error still seems to be an issue)

[2017-02-05 01:58] JosephLivengood commented on #13100
@no-stack-dub-sack Possible, I only have checked NPM since I'm working in the advanced section right now. Is it all of the boilerplates apart from npm needing that fix?

[2017-02-05 01:59] no-stack-dub-sack commented on #13100
@JosephLivengood Not sure, I've only moved on to the Node and Express one, but that one for sure does not work as is

[2017-02-05 02:06] no-stack-dub-sack opened #13148 "[beta] Serve an HTML File (basic node) - solution not passing test"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/basic-node-and-express/serve-an-html-file

#### Issue Description

cc / @JosephLivengood @Greenheart @Em-Ant
Have the correct solution (shown below), compared to the solutions boilerplate, but test does not pass for this challenge. I seem to be serving the right file, so not sure what's up - getting the error "unexpected string" in th

[2017-02-05 02:08] JosephLivengood commented on #13100
@no-stack-dub-sack I'll make that fix real fast

[2017-02-05 02:12] JosephLivengood commented on #13100
@no-stack-dub-sack Looks like it was just that one missing it, I added it into the boilerplate but I do not have access to Em's solutions!

[2017-02-05 02:21] no-stack-dub-sack commented on #13100
Oh, ok, great! What did you have to do to fix it, if it wasn't changing the URL to beta.freecodecamp.com in the CORS setting like you did the other day?

[2017-02-05 02:23] JosephLivengood commented on #13100
@no-stack-dub-sack Just updated the code from by default _restricting_ to just those, to not restricting any request (by default at least) as Em did

[2017-02-05 02:25] no-stack-dub-sack commented on #13100
@JosephLivengood I don't see that in the boilerplate's code - did you change it in the dependency package? "https://github.com/em-ant/fcc-express-bground-pkg.git"

[2017-02-05 02:31] JosephLivengood commented on #13100
@no-stack-dub-sack Haha no problem, made me double check 👍

Want to hop on gitter to communicate about these? I'll be there pretty late in the night working on some stuff!

[2017-02-05 02:35] no-stack-dub-sack commented on #13100
@JosephLivengood Yup! Just IMd you

[2017-02-05 02:49] JosephLivengood commented on #13148
I found the error in the testing code, I'll submit a PR in a moment

[2017-02-05 03:09] #13148 closed

[2017-02-05 03:13] nwrightdesign opened #13150 "Issue with Profile Lookup Challenge"
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:51.0) Gecko/20100101 Firefox/51.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Okay, so I got all the correct responses for the various test cases except when I use "Akira"  "address" it is marked as incorrect though the output is right. See link to screenshots below...

Moz

[2017-02-05 03:20] kakumei12 commented on #12771
I have the same issue. The background color is silver but it won't let me move to the next challenge.

[2017-02-05 03:22] #13102 closed

[2017-02-05 03:44] ayaqubi commented on #13147
Oh. That makes sense now.  I didn't understand that originally.  Thank you for clearing that up for me.

[2017-02-05 04:10] no-stack-dub-sack opened #13151 "[beta] Serve JSON on a specific route (basic node) instructions don't match test"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/basic-node-and-express/serve-json-on-a-specific-route

#### Issue Description

Instructions say:
![image](https://cloud.githubusercontent.com/assets/18563015/22623605/daf71d54-eb2e-11e6-9f59-6603579196e8.png)

But challenge is testing for the object `{"message" : "Hello json"}`

I can make a quick PR for this

[2017-02-05 04:17] cdrainxv commented on #13150
@nwrightdesign: Consider the following:
 1. `property` not `propertry`
 2. You can only confirm that a contact doesn't exist ***after*** looping through the entire contacts array and not finding the contact. Currently outside of the loop you are returning an empty string.

Please visit the [Help JS room](https://gitter.im/FreeCodeCamp/HelpJavaScript) first if you need help with issues like these i

[2017-02-05 04:26] nwrightdesign commented on #13150
@cdrainxv cdrainxv: Thanks for pointing out the typo. Did you take a look at the screen shot?

[2017-02-05 04:28] nwrightdesign commented on #13150
@cdrainxv: Thanks for pointing out the typo.

[2017-02-05 04:28] #13150 closed

[2017-02-05 05:08] rmdawson71 opened #13153 "[beta] Test is incorrect - Match All Letters and Numbers"
Challenge [match-all-letters-and-numbers](http://beta.freecodecamp.com/en/challenges/regular-expressions/match-all-letters-and-numbers) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; CrOS x86_64 8872.76.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.105 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

This is not a

[2017-02-05 05:21] Nagabhairavanitish opened #13154 "i am unable to perform this operation can u provide solution please"
Challenge [Using Objects for Lookups](https://www.freecodecamp.com/challenges/using-objects-for-lookups#?solution=%0A%2F%2F%20Setup%0Afunction%20phoneticLookup(val)%20%7B%0A%20%20var%20result%20%3D%20%22%22%3B%0A%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0Avar%20phoneticLookup(val)%20%3D%20%7B%0A%0A%7D%0A%20%20%2F%2F%20Only%20change%20code%20above%20this%20line%0A%20%20return%20r

[2017-02-05 07:18] raisedadead commented on #13154
Hi @Nagabhairavanitish

Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [fo

[2017-02-05 07:18] #13154 closed

[2017-02-05 07:47] vimniky commented on #12106
<img width="695" alt="screen shot 2017-02-05 at 3 42 44 pm" src="https://cloud.githubusercontent.com/assets/11426875/22624534/df548b9e-ebb9-11e6-95a4-a6dbdfd7c446.png">

Still  seeing this over and over again !
It's very frustrated .

[2017-02-05 08:05] vrabcak commented on #12563
I had exactly the same problem, maybe including small ubuntu logo to the tutorial text would help :-)

[2017-02-05 08:40] Jellie2625 commented on #11460
// Setup
var outerWear = "T-Shirt";

function myOutfit() {
  // Only change code below this line

  var outerWear = "sweater";

  // Only change code above this line
  return outerWear;
}
 TRY THIS ONE :)

[2017-02-05 10:14] raisedadead commented on #13146
Hey @girlboss558 !

This is a duplicate of #7847, there is a work around mentioned there, that you can use, the fix is live on the beta site, but we do not have a date right now for the release to the main website yet.

We request your patience, and apologise for the inconveniences.

Thanks, and happy coding!

[2017-02-05 10:14] #13146 closed

[2017-02-05 10:16] raisedadead commented on #13133
Can you please provide a screenshot?

[2017-02-05 10:17] raisedadead commented on #13092
This is already being discussed in #12071 , consider closing as a duplicate.

[2017-02-05 11:13] Greenheart commented on #13092
@raisedadead Thanks for the reference. After reading the other issues, I feel like they are more geared towards *using Gomix as a development platform* while this issue is about *updating the name across our codebase*.

So I'd say we continue.

@no-stack-dub-sack @Manish-Giri They seem to use "Gomix" so that's probably what we want.

[2017-02-05 13:12] #9583 closed

[2017-02-05 13:51] Greenheart opened #13157 "[beta] Bug in seed code for "Functional Programming: Refactor Global Variables Out of Functions""
Challenge [refactor-global-variables-out-of-functions](http://beta.freecodecamp.com/en/challenges/functional-programming/refactor-global-variables-out-of-functions) has an issue.

According to the instructions, the goal of this challenge is to

Another requirement (which doesn't seem to be be tested for) is that

The problem is that the initial `challengeSeed` doesn't meet the second requirement s

[2017-02-05 14:20] deni86 commented on #12508
Hi everyone...
There is easier solution for 'Title Case a Sentence' with less of code:

function titleCase(str) {
  var array = str.toLowerCase().split(" ");
  var capitalize = [];

  for(var i = 0; i<array.length; i++){
 array[i] = array[i].charAt(0).toUpperCase() + array[i].substr(1);

    capitalize= array.join(" ");
  }
  return capitalize;
}

titleCase("I'm a little tea pot");

[2017-02-05 14:38] qbeer commented on #8650
it is still not working properly. :(

[2017-02-05 15:17] vercellinoc commented on #13133
False alarm. I forgot that the night mode option in settings doesn't work on Firefox so I installed a dark themed script for the page. Why doesn't night mode work on Firefox?
Thanks

[2017-02-05 15:30] QuincyLarson commented on #12106
@vimniky could you email team at freecodecamp com - this sounds like an issue with your specific account, and I may be able to fix it for you manually.

[2017-02-05 15:32] QuincyLarson commented on #13101
@no-stack-dub-sack @JosephLivengood I've talked with @BerkeleyTrue about this and he's aware of this. If he doesn't get to it by the time you all finish the curriculum-related issues, one or both of you can dive in and wire this logic in :)

[2017-02-05 15:53] QuincyLarson commented on #12706
@rmdawson71 I think @raisedadead plans to tackle this. I'm going to assign him to the issue. He has a lot of other things he's working on currently, but this will be fixed before we ship to production.

[2017-02-05 16:06] Greenheart opened #13158 "[beta] Broken test for "Functional Programming: Use Filter to Extract Data from an Array""
Challenge [use-filter-to-extract-data-from-an-array](http://beta.freecodecamp.com/en/challenges/functional-programming/use-filter-to-extract-data-from-an-array) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[2017-02-05 16:26] #12712 closed

[2017-02-05 16:38] systimotic commented on #10901
@QuincyLarson Can this be closed since https://github.com/freeCodeCamp/freeCodeCamp/pull/11058 was merged?

[2017-02-05 17:34] raisedadead commented on #13133
/cc @freeCodeCamp/moderators Can any one confirm?

[2017-02-05 17:50] P4ndemic opened #13160 "Misleading instructions"
Challenge [Nesting For Loops](https://www.freecodecamp.com/challenges/nesting-for-loops#?solution=%0Afunction%20multiplyAll(arr)%20%7B%0A%20%20var%20product%20%3D%201%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0Afor%20(var%20x%20%3D%200%3B%20x%20%3C%20arr.length%3B%20x%2B%2B)%20%7B%0A%20%20for%20(var%20y%20%3D%200%3B%20y%20%3C%20arr%5Bx%5D.length%3B%20y%2B%2B)%20%7B%20%0A%20%20

[2017-02-05 17:52] no-stack-dub-sack opened #13161 "[beta] Use the .env file (basic node) - various grammar and formatting issues"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/basic-node-and-express/use-the-env-file

#### Issue Description

I'm trying to just work through these, but I'm having trouble not trying to fix the issues as I go through! 😄  There are similar issues in the challenges leading up to these as well, so these will need to be gone through at some point as well, but I figured I would hit t

[2017-02-05 19:04] no-stack-dub-sack opened #13163 "[beta] blockquote "code example" formatting in backend challenges"
#### Challenge Name

All back end challenges.

Since the backend challenges are a new addition with the expansion, they are missing some things that normal challenges have from a styling perspective. For example, the current challenges have code examples wrapped in `<code>` tags like so:
![image](https://cloud.githubusercontent.com/assets/18563015/22628921/a430b8da-ebaa-11e6-9683-16d78a968ed1.png)

[2017-02-05 20:02] systimotic commented on #13133
Night mode works fine for me on Firefox 51.0.1 on Windows 10. Never had any issues with night mode as a regular Firefox user.
@vercellinoc Does night mode work for you in other browsers? Are you logged in on Firefox?

[2017-02-05 20:11] Greenheart opened #13165 "[beta] Fatal typo in challengeSeed for "Functional Programming: Return Part of an Array Using the Slice Method""
Challenge [return-part-of-an-array-using-the-slice-method](http://beta.freecodecamp.com/en/challenges/functional-programming/return-part-of-an-array-using-the-slice-method) has an issue.

[code]

As the camper shouldn't have to modify code outside the comments, the undefined `tempArr` on the last line causes a fatal error.

I can fix this right away.

[2017-02-05 20:19] dhcodes commented on #13092
Sorry @Manish-Giri; I submitted a PR for this before I realized it was an open issue already! I should've searched :(

[2017-02-05 20:26] HKuz commented on #13145
@Hapoofesgeli - thanks for pointing this out, we can clarify this sentence 👍

@Greenheart - I can open a quick PR for this, I'm going to take your 3rd option and tweak it a little bit 😄 stay tuned...

[2017-02-05 20:30] Greenheart commented on #13145
@HKuz Thanks, ping me and I can review it!

[2017-02-05 20:31] no-stack-dub-sack opened #13168 "[beta] confusing instructions in Root-level Request Logger challenge - Basic Node"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/basic-node-and-express/implement-a-rootlevel-request-logger-middleware

#### Issue Description

The instructions currently say:

But since there is no example provided it is not immediately clear the exact solution the tests will be looking for. Even with an example, I think it could be a bit confusing unless we explicitly spell it ou

[2017-02-05 20:32] HKuz commented on #13145
Will do @Greenheart - you've been a machine on the issues/PRs lately! 🔥 :1st_place_medal:

[2017-02-05 20:34] #13147 closed

[2017-02-05 20:35] Greenheart commented on #13145
@HKuz Haha thanks! I figured the fastest way to get these challenges ready is to help finish them :smile: :+1:

[2017-02-05 20:36] raisedadead commented on #13142
Hi @rahul-1903

Looks like you have edited the thread above to fix the typo that was in the original code.
Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodec

[2017-02-05 20:36] #13142 closed

[2017-02-05 20:39] raisedadead commented on #13138
We are replacing videos with static images, refer: https://github.com/freeCodeCamp/freeCodeCamp/issues/12753

Closing as these would be removed per the other thread.

[2017-02-05 20:39] #13138 closed

[2017-02-05 20:41] #13089 closed

[2017-02-05 20:41] #12985 closed

[2017-02-05 21:46] #13160 closed

[2017-02-05 22:04] vercellinoc commented on #13133
MS Edge works fine, no big deal. It may be ad-blocker interfering. Stylish plugin is awesome and works fine when its fine-tuned.
Thanks

[2017-02-05 22:04] #13133 closed

[2017-02-05 22:14] mjanusauskas commented on #12431
Here is another example of a working solution to this critical issue:

https://github.com/jsbin/jsbin/issues/936

On 1/31/2017 4:01 PM, Florian Beijers wrote:

[2017-02-05 22:32] five-mile opened #13170 "Your image should be 100 pixels wide. Browser zoom should be at 100%. What am I missing?"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2017-02-05 22:33] Greenheart opened #13171 "[beta] Unneccessary semicolon in "Functional Programming: Apply Functional Programming to Convert Strings to URL Slugs""
Challenge [apply-functional-programming-to-convert-strings-to-url-slugs](http://beta.freecodecamp.com/en/challenges/functional-programming/apply-functional-programming-to-convert-strings-to-url-slugs) has an issue.

[code]

The editor's linter complains about an unnecessary semicolon - see the comment in the code above.

If you want to fix this, please read [CONTRIBUTING.md](https://github.com/Fre

[2017-02-05 22:35] #13145 closed

[2017-02-05 22:36] afterlife72385 opened #13172 "Unable to complete challenge 185, possible bug??"
I'm pretty sure there is a bug with challenge 185 Comparisons with the Logical And Operator https://www.freecodecamp.com/challenges/comparisons-with-the-logical-and-operator#?solution=%0Afunction%20testLogicalAnd(val)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0A%20%20if%20(val)%20%7B%0A%20%20%20%20if%20(val)%20%7B%0A%20%20%20%20%20%20return%20%22Yes%22%3B%0A%20%20%20%20%

[2017-02-05 22:38] Greenheart commented on #13170
@five-mile Thank you for reporting this issue!

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t

[2017-02-05 22:38] #13170 closed

[2017-02-05 22:42] Quinn-H commented on #13171
Hi, @Greenheart. Can I working on it?

[2017-02-05 22:42] fonsecapontes commented on #13172
Is't an bug.

You forget use variable val in if statement after &&

The correct code is:
`if (val >= 25 && val <= 50) {
  return "Yes";
}`

[2017-02-05 22:42] Greenheart commented on #13172
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-02-05 22:42] #13172 closed

[2017-02-05 22:42] five-mile commented on #13170
Thanks

[2017-02-05 22:47] Greenheart commented on #13171
@Quinn-H Sure! :smile:

[2017-02-05 22:47] afterlife72385 commented on #13172
Thank you I can't believe I missed that

[2017-02-05 22:47] javathehut opened #13173 "Not recognising correct answer"
Challenge [adjust-the-width-of-an-element-using-the-width-property](http://beta.freecodecamp.com/en/challenges/applied-visual-design/adjust-the-width-of-an-element-using-the-width-property) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include l

[2017-02-05 22:53] erictleung commented on #13173
Closing as duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/12687. Happy coding!

[2017-02-05 22:53] #13173 closed

[2017-02-06 00:54] bigkatspence commented on #13171
i would like to help a bit i am not the best but i am good at finding bugs let me know if i can help

[2017-02-06 00:58] rmdawson71 opened #13174 "Need slight word change to not confuse camper."
Challenge [add-items-to-an-array-with-push-and-unshift](http://beta.freecodecamp.com/en/challenges/basic-data-structures/add-items-to-an-array-with-push-and-unshift) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; CrOS x86_64 8872.76.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.105 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshot

[2017-02-06 01:10] Greenheart commented on #13171
@bigkatspence This issue is assigned to @Quinn-H, but if you want to help out, there's plenty of things that we really would appreciate:
* Find issues you want to help fix, and submit pull requests for them. Refer to [CONTRIBUTING.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) for a guide on how to set up a local environment.
* Read issues here on GitHub and respond

[2017-02-06 02:49] #13171 closed

[2017-02-06 02:54] Quinn-H commented on #13171
Hi, @Greenheart  I deleted Unnecessary semicolon and created a pull request. Thank you. And I also found the answer you wrote for this challenge isn't right, you forgot `filter()`  out extra space before `join('-')` see below:

`// the global variable
var globalTitle = "Winter Is Coming";

// Add your code below this line
function urlSlug(title) {
  return title.trim()
          .split(' ')

[2017-02-06 04:58] stskyblade opened #13179 ""Smallest Common Multiple" troubles"
#### Challenge Name

Smallest Common Multiple

#### Issue Description

I don't know why my code passed the first four test, but not the last one --smallestCommons([23, 18]).
Due to "检测完毕" in console, it should have tested all numbers from 23 to 78681840. But if it tested number 6056820, it should echo "检测6056820" in console. I'm really confused.

#### Browser Information

win7, chrome
* Browser Na

[2017-02-06 05:53] sagayev commented on #9464
This was accepted:
 **<button class="btn btn-block btn-primary"><i class="fa fa-thumbs-up">Like</i></button>**

But this was not:
 <button class="btn btn-block btn-primary fa fa-thumbs-up">Like</button>

Although they yield the same result. I am newbie here. I don't know if the latter has any side effect..

[2017-02-06 06:08] raisedadead commented on #9464
@sagayev please open a new issue.

[2017-02-06 06:49] gatzkerob commented on #12433
Just a tip: NaN is never equal to itself, so you can pick it out from the rest pretty easily ;) Create a separate test for finding NaN in the user supplied array before iterating through the falsies.

SPOILER:

[code]

[2017-02-06 07:09] #13165 closed

[2017-02-06 07:45] rudolphh commented on #12699
They don't want any sass from you. Jokes

[2017-02-06 09:31] Az613Lee opened #13180 "2月1日台灣國內交通事故報導"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-06 09:33] OFFLlNE commented on #13180
@Az613Lee Thank you for reporting the issue.
I don't see any information about your issue that you are having. Only the chinese letters in header
Could you provide more information on the issue you are having

[2017-02-06 09:37] forkerino opened #13181 "remove <code> tags"
Challenge [enhanced-object-literals--functions](http://beta.freecodecamp.com/en/challenges/es6/enhanced-object-literals--functions) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

There are some \<code\>

[2017-02-06 09:47] raghubs07 opened #13182 "You should have three li elements within your ol element."
Challenge [Create an Ordered List](https://www.freecodecamp.com/challenges/create-an-ordered-list#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monosp

[2017-02-06 09:49] forkerino commented on #12739
I'm getting a "require is not defined" error on submitting the correct solution.

[2017-02-06 09:53] OFFLlNE commented on #13182
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-02-06 09:53] #13182 closed

[2017-02-06 10:21] Greenheart opened #13183 "[beta] Consider adding additional test case for "Basic Algorithm Scripting: Finders Keepers""
Challenge [finders-keepers](http://beta.freecodecamp.com/en/challenges/basic-algorithm-scripting/finders-keepers) has an issue.

[code]

Thanks to ES6, this algorithm is completely solved by the built in `Array.prototype.find()` method.
Maybe we should add a test case that ensures campers don't use this, but rather write their own code?

[2017-02-06 10:33] Greenheart commented on #13171
@Quinn-H Thanks for helping out! :smile:

I solved it by splitting on `/\s+/` instead of jsut `' '`. This way, it still splits by words but can handle extra spaces I also made a copy of the string using `slice()` to not mutate the original when i use `trim()` :blush:

[code]

[2017-02-06 10:37] Greenheart commented on #12739
@forkerino Thanks for telling us! All ES6 code is transpiled before the tests gets executed but as we currently can't run our RegEx tests on the original ES6 code, this whole section is unreliable at the moment.

We're working on a fix, and this will definitely get resolved before it's released :blush:

[2017-02-06 10:37] forkerino opened #13184 "Zipline Using Package.json issue [beta]"
Using Package.json, The Core of Any Node.js Project or npm Package
http://beta.freecodecamp.com/en/challenges/managing-packages-with-npm/using-packagejson-the-core-of-any-nodejs-project-or-npm-package

The zipline mentions the following:

There is only one exercise before this in this certificate and this doesn't mention HyperDev at all.

[2017-02-06 10:43] Greenheart commented on #13184
@forkerino Thanks for helping QA the backend section! We really need more people like you :smile:

This is already being discussed in #13091 so I'm closing this.

[2017-02-06 10:43] #13184 closed

[2017-02-06 11:08] yzhbankov commented on #13181
this is a bug
the <code> tag should be removed

[2017-02-06 11:21] nesterone commented on #13181
Hi, guys

In which branch development of 'beta' taking place ?

[2017-02-06 11:30] charlieprather commented on #3943
You can make a variable within the function and set it to Math.random(); then proceed to follow the instructions.

[2017-02-06 13:09] yzhbankov commented on #13181
What you think about removing `<code>` tags from  https://github.com/yzhbankov/freeCodeCamp/blob/staging/seed/challenges/02-javascript-algorithms-and-data-structures/es6.json ?
lines 686-688
        "<code>const zod = Person(\"Zodiac Hasbro\", 56, 'male');</code>",
        "<code>const yan = Person(\"Yanoshi Mimoto\", 55, 'male');</code>",
        "<code>zod.sendFriendRequest(yan);</code>"
I think

[2017-02-06 13:11] vinesh178 opened #13185 "Nest an Anchor Element within a Paragraph not working correctly"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2017-02-06 13:53] njradcliffe commented on #13185
Hi @vinesh178 - do you see an error? do any of the tasks show as not complete?

[2017-02-06 14:38] quantummechanist opened #13186 "Challenge is not suitable for Intermediate Algorithm Scripting"
#### Challenge Name
https://www.freecodecamp.com/challenges/finders-keepers

#### Issue Description
Challenge is definitely not suitable for Intermediate Algorithm Scripting. As per issue #8161, and should be moved to basic algorithmic scripting.

This is an issue despite the discussion in #8161, because the solution is not only a one-liner, but a one-function one-liner that requires one lookup in

[2017-02-06 14:39] Code3824379 opened #13187 "Make Images Mobile Responsive"
Challenge [Make Images Mobile Responsive](https://www.freecodecamp.com/challenges/make-images-mobile-responsive#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobst

[2017-02-06 14:39] JaggerThompson commented on #13187
not passing says the src is not right

[2017-02-06 14:50] raisedadead commented on #13187
@Code3824379 You have an extra `.` in the second image tag, and the links are not `https`. Can you try a reset and check that you have https links?

[2017-02-06 14:55] raisedadead commented on #13185
Please provide more information on the exact issue that you are facing. I can pass the challenge with the above code.

[2017-02-06 14:56] raisedadead commented on #13180
Spam. Refer [this](https://translate.google.com/#auto/en/2%E6%9C%881%E6%97%A5%E5%8F%B0%E7%81%A3%E5%9C%8B%E5%85%A7%E4%BA%A4%E9%80%9A%E4%BA%8B%E6%95%85%E5%A0%B1%E5%B0%8E)

[2017-02-06 14:56] #13180 closed

[2017-02-06 14:58] raisedadead commented on #13179
@stskyblade Can you please help us with that challenge link? Could be a Unicode issue.

[2017-02-06 15:00] raisedadead commented on #12644
@systimotic @dhcodes should this be classified as discussing and bug, instead of blocked.

[2017-02-06 15:02] raisedadead commented on #13186
Hi, thanks for your feedback.

This has been moved to basic algorithm scripting on out staging website (https://beta.freeCodeCamp.com), we will have this on the main website in the next release.

Closing, happy coding!

[2017-02-06 15:02] #13186 closed

[2017-02-06 15:04] raisedadead commented on #13181
@nesterone thanks a lot for your interest, please have a look at our [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md).

[2017-02-06 15:08] tjsiledar opened #13188 "Pig Latin Challenge - Tests not passing for first vowel words"
#### Challenge Name

https://www.freecodecamp.com/challenges/pig-latin

#### Issue Description

Test case for words with first letter as vowel not passing even though the console shows the right expected output.

#### Your Code

[code]
#### Screenshot

![screenshot 16](https://cloud.githubusercontent.com/assets/25153728/22652376/3c18fa5c-ecac-11e6-9ba2-ba8872b14ac9.png)

[2017-02-06 15:10] nesterone commented on #13181
@raisedadead
Thanks, gonna read it

[2017-02-06 15:14] OFFLlNE commented on #13188
Thank you for reporting your issue.

Your code is wrong. fCC tests don't like global variables
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official cha

[2017-02-06 15:14] #13188 closed

[2017-02-06 15:38] vinesh178 opened #13189 "cannot run test even after writing correct code"
Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-f

[2017-02-06 15:44] OFFLlNE commented on #13189
Thank you for reporting the issue.

Could you provide more information. You did not see run tests button or what exactly?

[2017-02-06 16:15] MaximilianJugendForscht opened #13191 "Missing Semicolon"
Challenge [Multiply Two Decimals with JavaScript](https://www.freecodecamp.com/challenges/multiply-two-decimals-with-javascript#?solution=%3B%0Avar%20product%20%3D%202.0%20*%20(5.0%2F2.0)%3B%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:51.0) Gecko/20100101 Firefox/51.0</code>.
Please describe how to reproduce this issue, and include links to screenshots i

[2017-02-06 16:30] dhcodes commented on #12644
As a follow-up, I'm now curious if PR #12518 will help with this issue in any way. Originally it was listed as breaking the build but I believe this was a TravisCI anomaly so I restarted the build and left a comment regarding this in the PR. I've taken a cursory look around to find others experiencing this issue, but have not found anything concrete as of yet. I'll look around some more and post w

[2017-02-06 17:14] DaveGus commented on #5716
@erictleung I agree. Now can you teach me how to not ramble on so much? :-)

[2017-02-06 17:53] Manish-Giri commented on #13183
I'm on it..

[2017-02-06 18:01] raisedadead commented on #13189
Your code passes for me, have you tried a reset and retry.

[2017-02-06 18:05] raisedadead commented on #13191
I could pass the challenge with the above code and without the additional semicolon. Please try a reset and retry. Can you share some screenshots as well?

[2017-02-06 18:20] ErinLynn2181 opened #13192 "Hover State?"

[2017-02-06 18:22] #13192 closed

[2017-02-06 18:23] ErinLynn2181 opened #13193 "Hover State?"
Challenge [add-a-boxshadow-to-a-cardlike-element](https://beta.freecodecamp.com/en/challenges/applied-visual-design/add-a-boxshadow-to-a-cardlike-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.112 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if

[2017-02-06 18:25] #13193 closed

[2017-02-06 18:31] thinksimple opened #13194 "Unnecessary hint in Sum All Numbers in a Range"
Challenge [Sum All Numbers in a Range](https://www.freecodecamp.com/challenges/sum-all-numbers-in-a-range#?solution=%0Afunction%20sumAll(arr)%20%7B%0A%20%20arr.sort(function(a%2Cb)%7B%0A%20%20%20%20return%20a-b%3B%0A%20%20%7D)%3B%0A%20%20var%20total%3D0%3B%0A%20%20for%20(var%20i%3Darr%5B0%5D%20%3B%20i%20%3C%3D%20arr%5B1%5D%3Bi%2B%2B)%7B%0A%20%20%20%20total%20%2B%3D%20i%3B%0A%20%20%7D%0A%20%20retur

[2017-02-06 18:50] MaximilianJugendForscht commented on #13191
Ok,  appearently it got fixed...  Or its only on my workspace... Firefox got weird ever time -.-

[2017-02-06 18:50] MaximilianJugendForscht commented on #13191
Ok,  appearently it got fixed...  Or its only on my workspace... Firefox got weird ever time -.-

[2017-02-06 19:05] raisedadead commented on #13191
Possibly related https://github.com/freeCodeCamp/freeCodeCamp/issues/12644.
Can you check if you were able to work without issues on Chrome, if you are able.

Thanks.

[2017-02-06 19:05] #13191 closed

[2017-02-06 19:23] JayRSG opened #13195 "$("...").children() is not a function"
Challenge [Target the Children of an Element Using jQuery](https://www.freecodecamp.com/challenges/target-the-children-of-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target1%22).prop(%22disabled%22%2C%20true)%3B%0A%20%20%20%20%24(%22%23target4%22).remove()%3B%0

[2017-02-06 19:24] #13195 closed

[2017-02-06 20:02] BerkeleyTrue commented on #13101
Completing a backend challenge should automatically forward you to the next challenge. This behavior was working for me when developing. It could be something with new challenges is preventing this. You should be seeing some errors in the console if this is the case.

[2017-02-06 20:14] BerkeleyTrue commented on #12898
This looks to be a css issue, maybe?

@QuincyLarson We've talk about making the navbar non-sticky. That might fix this issue (if it is indeed a css issue)

[2017-02-06 20:21] BerkeleyTrue commented on #12816
There are a couple of nested reasons for this.

The first layer: We determine the height of the challenge div at startup and disable auto updates because it is quite expensive to listen to scroll events.

The next layer down: We have to set a static height here because we want the challenge div to be no larger then the users window minus the height of the nav bar, which is a sticky nav bar.

This

[2017-02-06 20:37] Bouncey commented on #12898
CSS gets my vote too. Sticky navbars need something like 60px of padding-top on the body to move content from under it.

[2017-02-06 20:54] BerkeleyTrue commented on #12913
While `export` is valid es.next syntax, it is currently unsupported by all browsers. The reason for this is that while the syntax has entered the spec, the actual importing of those files has not been defined yet.

In order to teach the syntax we will need to encode those instances of syntax into something that is currently valid javascript (probably a coded comment) and then test for the existenc

[2017-02-06 20:59] nesterone commented on #12309
Hi, @PortableStick

Any progress in `react-redux-form` refactoring ?

[2017-02-06 21:02] erictleung commented on #5716
@DaveGus no worries! I like to think of it as extensive feedback :smile: But we appreciate it. It lets us know what you're thinking about and what kind of suggestions others are putting out there. Thanks for sharing your thoughts on the matter! I'll tag this as `Help Wanted` to get changed.

[2017-02-06 21:54] systimotic commented on #12816
@BerkeleyTrue Thanks for the update! How should we continue this? I like the idea of making the header not sticky.

[2017-02-06 22:10] raisedadead commented on #13106
@omalinov1994 thanks for reporting, can you confirm if this happens on the beta website or on the live website.

You can simply copy paste the link in the address bar to know.

Thanks.

[2017-02-06 22:13] raisedadead commented on #13107
@alexalexson143 thanks for the report. Can you please cite the sources for reference? We would update this challenge based on that.

[2017-02-06 22:17] raisedadead commented on #13037
@erictleung IMHO we should be adding a json resource, starting with keys for the notification like this, and could be further expanded to the translation efforts of the other "message" strings, etc.

[2017-02-06 22:18] #8307 closed

[2017-02-06 22:19] #7764 closed

[2017-02-06 22:20] #9015 closed

[2017-02-06 22:35] erictleung commented on #13037
@raisedadead even better! :+1:

[2017-02-06 22:44] BerkeleyTrue commented on #12816
@systimotic Looks like we are go for non sticky headers. This will involve some (probably a lot) off css magic to undo the previous css magic.

Unsticky-ify the navbar so it is part of the normal DOM flow. Removing added extra padding on content. Remove react/javascript code that adds height to challenges.

[2017-02-06 23:02] texas2010 commented on #12898
yeah, I think navbar non-sticky is good idea.

[2017-02-06 23:12] fonsecapontes commented on #13181
@raisedadead can I remove this tag from code? If no one are working in this issue.

[2017-02-06 23:16] fonsecapontes commented on #13157
@Greenheart Can I solve this issue? If no one are working in this.

[2017-02-06 23:31] omalinov1994 commented on #13106
https://www.freecodecamp.com/settings <- Link from adress bar

On 7 February 2017 at 00:12, mrugesh mohapatra <notifications@github.com>
wrote:

[2017-02-07 00:12] andrewwiley opened #13201 "Closing tag"
"Create a bootstrap headline"

I'm having trouble with what seems should be the easiest part: closing my h3 element.  </h3> seems like it should work but alas, it isn't.  What am I missing here?  Thanks!

[2017-02-07 00:18] fonsecapontes commented on #13201
@andrewwiley post your code for us to analyze.

[2017-02-07 00:24] andrewwiley commented on #13201
@fonsecapontes <h3> jQuery Playground
  <h3 class="text-primary text-center">

  </h3>

[2017-02-07 00:29] jbundrea commented on #8188
What @BEBEDYDY said. Adding the 1 to the myMax did the trick

[2017-02-07 00:32] andrewwiley commented on #13201
![screenshot 2017-02-06 19 30 09](https://cloud.githubusercontent.com/assets/25592634/22672597/f7b302f8-eca2-11e6-9f32-a8036d6886c1.png)

@fonsecapontes

[2017-02-07 00:34] Manish-Giri commented on #13201
@andrewwiley Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) for help with issues on these challenges. Happy Coding!

[2017-02-07 00:40] andrewwiley commented on #13201
@Manish-Giri i posted the issue multiple times in there and haven't received any assistance.

[2017-02-07 00:42] andrewwiley commented on #13201
@Manish-Giri i figured it out.  Only took an hour for the simplest thing ever.

[2017-02-07 00:43] erictleung commented on #13201
Closing as resolved. Happy coding!

[2017-02-07 00:43] #13201 closed

[2017-02-07 02:01] ikisteve opened #13202 "Bug with .thick-green-border"
So there is a bug, where when you insert the thick-green-border class into the img element, it does not show up, and isn't marked as completed.

Challenge [Add Borders Around your Elements](https://www.freecodecamp.com/challenges/add-borders-around-your-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text

[2017-02-07 02:06] Martian1431 commented on #10535
Make sure you spelled everything correct.

[2017-02-07 02:11] erictleung commented on #13202
@ikisteve Thank you for reporting this issue. Please read the last paragraph of so of the challenge description for a hint to complete the challenge.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific c

[2017-02-07 02:11] #13202 closed

[2017-02-07 02:46] #13158 closed

[2017-02-07 03:16] #13174 closed

[2017-02-07 03:18] #13086 closed

[2017-02-07 03:24] tommygebru opened #13203 "[beta][UX][Enhancement] Remove animation for tab refresh on Night Mode"
Having a flashing white page accompanied with the animation, whenever a tab is refreshed on Night Mode is contradictory.

This is Night Mode with animation:![screen shot 2017-02-06 at 7 21 40 pm](https://cloud.githubusercontent.com/assets/7606025/22676709/f01e0804-eca1-11e6-9f57-f1ee5049efcd.png)

[2017-02-07 03:31] jkdjf commented on #5716
[Hey guys, I thing that it's saying that if once created a strings it can not be altered again!
only you can  change variable except which value you have assigned :)

[2017-02-07 03:43] tommygebru opened #13204 "[beta][curriculum] Rewrite instructions for challenge: Add Images to your Website"
**Link to challenge:** http://beta.freecodecamp.com/en/challenges/basic-html-and-html5/add-images-to-your-website

**Current instructions:**
Basic HTML and HTML5: Add Images to your Website
`<hr>`
You can add images to your website by using the img element, and point to a specific image's URL using the src attribute.

An example of this would be:

<img src="https://www.your-image-source.com/your-i

[2017-02-07 03:45] korkmaz opened #13205 "Padding definition"
Challenge [Adjusting the Padding of an Element](https://www.freecodecamp.com/challenges/adjusting-the-padding-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.injected-text%20%7B%0A%20%20%20%20margin-bottom%3A%20-25px%3B%0A%20%20%20%20text-align%3A%20center%3B%0A%20%20%7D%0A%0A%20%20.box%20%7B%0A%20%20%20%20border-style%3A%20solid%3B%0A%20%20%20%20border-color%3A%20black%3B%0A%20%20%20%20border-wid

[2017-02-07 03:48] raisedadead commented on #13181
Hi thanks for your interest but we already have open pull request for this, please check the tracked for issues tagged help wanted.

[2017-02-07 03:53] tommygebru opened #13206 "[beta][UI] Change image size on following challenges"
link to challenges:

- http://beta.freecodecamp.com/en/challenges/basic-html-and-html5/add-images-to-your-website
- http://beta.freecodecamp.com/en/challenges/basic-html-and-html5/link-to-external-pages-with-anchor-elements
- http://beta.freecodecamp.com/en/challenges/basic-html-and-html5/link-to-internal-sections-of-a-page-with-anchor-elements

these pages should include `img{width:100%;}`

[2017-02-07 04:00] ishant096 commented on #13185
Create a new p element around your a element.
Your a element should be nested within your new p element.
Your p element should have the text "View more " (with a space after it).
these are the challenges that are incomplete

[2017-02-07 04:00] cdrainxv opened #13207 "[beta] Label text should be synonymous with date picker format"
Challenge [add-an-accessible-date-picker](http://beta.freecodecamp.com/en/challenges/applied-accessibility/add-an-accessible-date-picker) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.

Just wondering if the example shown:
[code]
and the challenge code:
[code]
should be revised so t

[2017-02-07 04:06] tommygebru opened #13208 "[beta][curriculum] Remove excess paragraph (Note)"
Remove this paragraph, from the challenge Link to Internal Sections of a Page with Anchor Elements
http://beta.freecodecamp.com/en/challenges/basic-html-and-html5/link-to-internal-sections-of-a-page-with-anchor-elements

Additional kitty ipsum text has been added to the paragraphs to better show the effect of clicking the internal anchor link to jump to the bottom of the page. Also, this change wi

[2017-02-07 04:36] tommygebru opened #13209 "[beta][UI][UX] Change the instructions panel width"
Changing the instructions panel width will improve readability, understanding of new concepts and overall challenge, it is currently much too narrow!

Currently Narrow:
![screen shot 2017-02-06 at 8 22 31 pm](https://cloud.githubusercontent.com/assets/7606025/22677987/b48870c2-ecab-11e6-9cda-2c38022e1d6d.png)
![screen shot 2017-02-06 at 8 22 36 pm](https://cloud.githubusercontent.com/assets/760602

[2017-02-07 04:38] tommygebru commented on #13209
Also I suggest that the scrollbar for the instructions panel is also hidden to help widen the instruction material.
This can be done with `::-webkit-scrollbar{display:none;}`
In its place we can provide a border for the parent div `border-right: solid 1 px aliceblue`

[2017-02-07 04:46] tommygebru opened #13210 "[beta][UX] Change the image to open in new tab"
Nest an Anchor Element within a Paragraph
http://beta.freecodecamp.com/en/challenges/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph

The image in the instruction panel opens on the same tab.
To change the destination of the link add `target="_blank"` to the anchor tag.

![screen shot 2017-02-06 at 8 46 18 pm](https://cloud.githubusercontent.com/assets/7606025/22678224/57bd6530-ecad

[2017-02-07 05:04] tommygebru opened #13211 "[beta] Rewrite instructions for challenge: Nest an Anchor Element within a Paragraph"
Nest an Anchor Element within a Paragraph
http://beta.freecodecamp.com/en/challenges/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph
current:

rewritten:

[2017-02-07 05:15] tommygebru commented on #13211
**ACTUALLY JUST CHANGE THE ENTIRE THING**

Current:
Basic HTML and HTML5: Nest an Anchor Element within a Paragraph
`<hr>`
Again, here's a diagram of an a element for your reference:
`<img>`
a diagram of how anchor tags are composed with the same text as on the following line

Here's an example:

<p>Here's a <a href="https://freeCodeCamp.com"> link to freeCodeCamp</a> for you to follow.</p>

Nesti

[2017-02-07 06:17] tommygebru opened #13213 "[beta][UI] inconsistent hr tags per challenge"
there should be 3 `hr` tags per challenge but some have only 2 in the instructions panel.

3 hr tags is preferable for the instructions layout

[2017-02-07 07:33] QuincyLarson commented on #12898
A non-sticky navbar would not affect desktop users significantly, and would make the mobile experience much better imho. I'm for trying out a non-sticky navbar.

[2017-02-07 07:38] QuincyLarson commented on #13101
Our plan is to have the congratulatory modal pop up when all the tests pass, though @BerkeleyTrue hasn't gotten around to implementing this yet.

[2017-02-07 07:42] QuincyLarson commented on #10901
@systimotic yes. Thanks!

[2017-02-07 07:42] #10901 closed

[2017-02-07 07:43] QuincyLarson commented on #12940
We aren't planning to have this quiz functionality in the future. Instead, we plan to just pull in the videos directly from YouTube. So I'm closing this issue for now.

[2017-02-07 07:43] #12940 closed

[2017-02-07 07:44] QuincyLarson commented on #13021
@BerkeleyTrue do you have any idea what could be causing this?

[2017-02-07 07:46] QuincyLarson commented on #12472
@no-stack-dub-sack thanks! I'll take care of Twitch :)

[2017-02-07 07:49] QuincyLarson commented on #12993
@erictleung @HKuz are either of you interested in working on a PR that imports this style guide? Once it's in there, we can iterate on it over time.

[2017-02-07 07:53] QuincyLarson commented on #13016
@Greenheart yes - imho we should extend test-challenges.js to include HTML/CSS solutions.

@BerkeleyTrue do we plan to continue using test-challenges.js for the foreseeable future? Is it worth the effort of extending?

[2017-02-07 07:55] QuincyLarson commented on #12923
@raisedadead OK - thank you for looking into this. We need to figure out a way to do this that's reasonably safe, as campers have already come to expect this behavior from our editor and if we change it, hundreds of thousands of people will be scratching their heads :)

[2017-02-07 12:22] Greenheart commented on #13157
@fonsecapontes Sure! Refer to [the contributing guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) and come chat with us in [/Contributors](https://gitter.im/FreeCodeCamp/Contributors) if you need help with anything :smile:

[2017-02-07 12:34] tjsiledar opened #13214 "Site Freezes"
#### Challenge Name

https://www.freecodecamp.com/challenges/steamroller

#### Issue Description

The problem is I accidentally wrote a never ending recursion to the above mentioned challenge. Now I cant even reset my code because every time I open the site it just freezes. I tried disabling javascript from my browser to reset the code but its not working. Please help!

#### Browser Information

*

[2017-02-07 12:44] tjsiledar commented on #13214
Here is the screenshot of the code

![screenshot 17](https://cloud.githubusercontent.com/assets/25153728/22691590/2d30a8ea-ed61-11e6-840b-848d577a88ed.png)

[2017-02-07 12:46] Greenheart opened #13215 "[beta] Typo in "Applied Accessibility: Wrap Content in the Article Element""
Challenge [wrap-content-in-the-article-element](http://beta.freecodecamp.com/en/challenges/applied-accessibility/wrap-content-in-the-article-element) has an issue.

![article-s](https://cloud.githubusercontent.com/assets/6125097/22691649/b9cf356c-ed3b-11e6-8c1a-af97dd297804.png)
This section spells `article` as `articles` in one place. It should probably be changed to `article`.

[2017-02-07 12:48] cdrainxv commented on #13214
@tjsiledar: Refer to this: https://forum.freecodecamp.com/t/free-code-camp-infinite-loop-protection/19550

[2017-02-07 12:53] tjsiledar commented on #13214
@cdrainxv Thanks man that worked!!

[2017-02-07 12:53] #13214 closed

[2017-02-07 13:23] SainiRavi commented on #4997
1) look at this website to download Animate.css
https://daneden.github.io/animate.css/

2) To add Jquery library here is google api link.
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>

[2017-02-07 13:48] Jotace opened #13216 "This step have an issue in "<a>" tag instruction, after write right code the test fails"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2017-02-07 14:37] 3tmaan opened #13217 "oopsGlobal"
Challenge [Global Scope and Functions](https://www.freecodecamp.com/challenges/global-scope-and-functions#?solution=%0A%2F%2F%20Declare%20your%20variable%20here%0Avar%20myGlobal%20%3D%2010%3B%0A%0Afunction%20fun1()%20%7B%0A%20%20%2F%2F%20Assign%205%20to%20oopsGlobal%20Here%0A%20%20oopsGlobal%20%3D%205%3B%0A%20%20%0A%7D%0A%0A%2F%2F%20Only%20change%20code%20above%20this%20line%0Afunction%20fun2()%20

[2017-02-07 15:21] TeriVolta opened #13218 "tests with value 5 and 8 work incorrect"
Challenge [Chaining If Else Statements](https://www.freecodecamp.com/challenges/chaining-if-else-statements#?solution=%0Afunction%20testSize(num)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20if(num%20%3C%205)%0A%20%20%20%20return%20%22Tiny%22%3B%0A%20%20else%20if(num%20%3C10)%0A%20%20%20%20return%20%22small%22%3B%0A%20%20else%20if(num%20%3C15)%0A%20%20%20%20return%20%2

[2017-02-07 15:46] OFFLlNE commented on #13218
Thank you for reporting your issue.

Your code is wrong. You have a typo in that if else statement what has to return "Small"
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view

[2017-02-07 15:46] #13218 closed

[2017-02-07 16:42] erictleung commented on #13216
@Jotace Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free-cod

[2017-02-07 16:42] #13216 closed

[2017-02-07 16:47] erictleung commented on #13217
@3tmaan thanks for the issue. After you run the test, there is some code in the background that runs the functions `fun1()` and `fun2`. I hope that clears up some confusion. Happy coding!

[2017-02-07 16:47] #13217 closed

[2017-02-07 16:56] erictleung commented on #13208
I personally like the paragraph for clarity and enforces what the challenge is about, which is to show that the internal links are working to move you to different sections. Additionally, the HTML challenges are designed (IMO) to be incrementally built, where each subsequent challenge adds a little more to built the CatPhotoApp. So in this context, the extra paragraph makes sense.

I can see the a

[2017-02-07 16:58] 3tmaan commented on #13217
@erictleung thanks for clarification.

[2017-02-07 17:00] Bruninha310 opened #13220 "Creat a Headline Bootstrap"
Creat a Headline Bootstrap

 O texto jQuery Playground não vai para o centro e não muda de cor.

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

[2017-02-07 17:10] #12986 closed

[2017-02-07 17:12] erictleung commented on #13220
@Bruninha310 Thank you for reporting this issue. You've misspelled "class" in your `<h3>` element.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of offic

[2017-02-07 17:12] #13220 closed

[2017-02-07 17:20] tommygebru commented on #13208
No worries @erictleung I am just running through the course and giving my 2-cents 💯

I do notice though that the width of the instructions is nearly 20% of the page, i am on my laptop so i believe the media query has forced it at `min-width(1200px)`

The problem i am seeing though is readability, as instructions and new material to students, the instructions is very important and should make sense

[2017-02-07 17:20] erictleung commented on #13213
3 `<hr>` tags per challenge? I'm only familiar with just two `<hr>` per challenge. Can you clarify? Or maybe I'm missing something. The two I'm getting are one from the top and another right before the instructions for the challenge.

![image](https://cloud.githubusercontent.com/assets/2754821/22702687/5a11dff0-ed16-11e6-9cfb-b373ca7e296b.png)
...
![image](https://cloud.githubusercontent.com/asset

[2017-02-07 17:27] milenija opened #13221 "Label Bootstrap Buttons issue"
Challenge [Label Bootstrap Buttons](https://www.freecodecamp.com/challenges/label-bootstrap-buttons#?solution=%0A%3Cdiv%20class%3D%22container-fluid%22%3E%0A%20%20%3Ch3%20class%3D%22text-primary%20text-center%22%3EjQuery%20Playground%3C%2Fh3%3E%0A%20%20%3Cdiv%20class%3D%22row%22%3E%0A%20%20%20%20%3Cdiv%20class%3D%22col-xs-6%22%3E%0A%20%20%20%20%20%20%3Ch4%3E%23left-well%3C%2Fh4%3E%0A%20%20%20%20%2

[2017-02-07 17:31] #13153 closed

[2017-02-07 17:33] erictleung commented on #13221
@milenija Thank you for reporting this issue. You're almost there. Take a look at the tests themselves for a little help.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view

[2017-02-07 17:33] #13221 closed

[2017-02-07 17:39] tommygebru opened #13222 "[beta][UI][UX] Should we remove the modal altogether?"
A recurring issue is the results of a challenge after a running the "run tests" button, actually makes the results inaccessible... the modal window pops up, obscures the view of the page, and even darkens the html page so that it becomes ignored....

The results of a challenge do appear but are never truly experimented with or fully understood because of the omnipresent modal...

I think that the

[2017-02-07 17:52] SanjayPatel16 commented on #13209
Can i work on it?

[2017-02-07 18:05] tommygebru commented on #13222
**EDIT:**
I have found that the tooltips can pile up and reach 3 maybe even 4 messages?

There should really be only 2 messages on the tooltip that appears

1) Keep Trying - a message of positivity reinforcement to remain in a state of "flow"
2) Proceed to next challenge -  continue a streak of productivity also encourages "flow"

[2017-02-07 18:06] tommygebru commented on #13209
you can try @SanjayPatel16

[2017-02-07 18:08] tommygebru commented on #13213
@erictleung the third one separates the buttons on the bottom from the paragraphs preceding it

So far i have only done the first chapter of the first certificate on HTML,
there you will find that every other challenge has 2 or 3, therefore inconsistent

[2017-02-07 18:09] Dadirabah opened #13223 "problem in submetting the result"
Challenge [change-the-color-of-text](http://beta.freecodecamp.com/en/challenges/basic-css/change-the-color-of-text) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:51.0) Gecko/20100101 Firefox/51.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.
i have added the style and changed the color to red however when submitte

[2017-02-07 18:09] tommygebru commented on #13213
also

should be

[2017-02-07 18:25] tommygebru opened #13224 "[beta][UI][UX] Way too many scrollbars, I count 4"
![screen shot 2017-02-07 at 10 12 25 am](https://cloud.githubusercontent.com/assets/7606025/22704932/601d7af0-ed1e-11e6-8467-21793805a1bb.png)

The easiest change would be to have a the size of the cat photo become
`width:100%` that should remove 1 scrollbar

I made an issue for this previously #13206

Another quick fix would be to change the width and height of the instrucitons panel

I made an i

[2017-02-07 18:34] tommygebru opened #13225 "[beta][UX] New challenges should include a page/anchor jump"
There is not enough indication that a change has occurred, after completing a challenge.

current challenge:
![screen shot 2017-02-07 at 10 31 57 am](https://cloud.githubusercontent.com/assets/7606025/22705545/b88f33f2-ed20-11e6-97a9-4f45747d4fd9.png)

next challenge:
![screen shot 2017-02-07 at 10 32 07 am](https://cloud.githubusercontent.com/assets/7606025/22705548/bce74f8e-ed20-11e6-8bae-c62d15

[2017-02-07 18:51] HKuz commented on #12993
@QuincyLarson @erictleung  - I can work on one this evening 😄

[2017-02-07 18:52] raisedadead commented on #13225
There is a notification to address this already:

[2017-02-07 18:53] nesterone commented on #12898
I also able to reproduce it, however looks like I didn't got the idea with non-sticky navbar. Is it about moving navbar out of scrollable viewport (content of the challenge) ?

[2017-02-07 18:58] raisedadead commented on #13224
How is this different than one reported by you https://github.com/freeCodeCamp/freeCodeCamp/issues/13121

Consider discussing everything related to scroll bars in one thread, its tedious to track otherwise.

Please move your comments to the same, and edit the previous issue to be more relevant, feel free to add bullet points if it caters to sub-issues.

[2017-02-07 18:58] #13224 closed

[2017-02-07 19:15] Bouncey commented on #13225
@raisedadead the issue is that there is not enough of an indication that the next challenge has arrived. In a previous version of beta, the instruction panel (<SidePanel />) scrolled to the top when the challenge instructions changed. This functionality seems to have been removed. I would welcome it back

[2017-02-07 19:31] Bouncey commented on #13222
@tommygebru we had a challenge completed toast in the early stages of beta, I myself experimented with different solutions, but we settled on the modal. The discussion is [here](https://github.com/freeCodeCamp/freeCodeCamp/issues/10628)

[2017-02-07 19:33] Bouncey commented on #13222
One issue I can see is that the toast it lost in night mode due to the low contrast with the background

[2017-02-07 19:38] tommygebru commented on #13225
@raisedadead i think that the notification only exists because of the issue I raised...
I have suggested other issues as well to help with the UX of the challenges like changing the nature of the notification itself and removing the modal window...

#13222

and

#13203

[2017-02-07 19:40] tommygebru commented on #13203
Added tags [Enhancement][UX]

[2017-02-07 19:44] tommygebru opened #13226 "[beta][UI][UX] Rewrite introduction to CSS"
http://beta.freecodecamp.com/en/challenges/basic-css/introduction-to-basic-css

This can be written or provided visual aid with images

also apply same height/width to each of the four pages in the introduction

[2017-02-07 20:11] tommygebru commented on #13222
@Bouncey Many thanks! 💯

You are definitely on the right path with the notification.

I think the best solution would be something like this

http://s.codepen.io/gebrutommy/debug/KaxVvE/RBMOJyKxLJEk

[2017-02-07 20:13] robbawebba commented on #12698
@HKuz If it's cool with you, I would like to work reformatting the next 4 challenges: Default Parameters, No Title One, Spread Operator, No Title Two 🙂

[2017-02-07 20:19] 0-0-Zero commented on #13189
Same issue with me.

my code: `<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;

[2017-02-07 20:22] 0-0-Zero commented on #13189
I'm having the same issue.
![code](https://cloud.githubusercontent.com/assets/25592658/22709818/315634ca-ed49-11e6-9712-5b2a1408f951.png)

Has FreeCodeCamp said anything about this ?

[2017-02-07 20:42] Bouncey commented on #13222
@tommygebru as per the issue I referenced earlier, we had a toast for challenge completion, we decided to remove it and keep the modal instead.

[2017-02-07 20:46] Bouncey commented on #13209
@tommygebru how would I scroll the instruction panel without the scroll bars?

[2017-02-07 20:48] HKuz commented on #13205
Hi @korkmaz - thanks for raising this issue! I see what you're referencing on the production site, and agree your description is more clear. In good news, when I checked on the latest Beta site, it looks like that change was already incorporated! It currently reads:

I'm going to close this issue as resolved on `staging` (that's where we'd make the fix). Thanks and happy coding 👍

[2017-02-07 20:48] #13205 closed

[2017-02-07 20:51] Bouncey commented on #13203
Closing as duplicate of #12560

[2017-02-07 20:51] #13203 closed

[2017-02-07 21:00] tommygebru commented on #13222
I was attempting to address the corner case that Quincy shared on that issue. I agree with him and I dont see the benefit of having both a modal system in place as well as a notification system.

[2017-02-07 21:00] HKuz commented on #12698
@robbawebba - that'd be great, thank you! 👍 💯

[2017-02-07 21:19] #13215 closed

[2017-02-07 21:30] HKuz commented on #13226
Hi @tommygebru - these introduction pages are placeholder 'works in progress'. There's currently a call to help to the community to re-design them in issue #11060. I'm going to close this issue, and ask that you give visual aid / image examples and any other suggestions for the re-design over there 😄. That way we can keep track of everything in one place 👍

[2017-02-07 21:30] #13226 closed

[2017-02-07 21:58] rarmatei commented on #13210
Mind if I pick this up?

[2017-02-07 22:05] sergiorojasa commented on #13213
Is anyone working on this issue?

[2017-02-07 22:15] #12964 closed

[2017-02-07 22:15] #12979 closed

[2017-02-07 22:19] Ebweiss opened #13230 "How is this wrong?"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

![image](https://cloud.githubusercontent.com/assets/25513184/22714231/8f7f33f2-ed59-11e6-806f-14ab9a90b002.png)

[2017-02-07 22:23] #13230 closed

[2017-02-07 22:39] Snave713 commented on #6258
I just noticed that you must only add code and not change it.

//Only change code below this line
var a = 7;
var b = a;

[2017-02-07 23:01] #12993 closed

[2017-02-07 23:38] AntwuanJ commented on #12998
You have to write out the whole paragraph statement.

[2017-02-08 00:54] AdeelShani opened #13232 "I can't submit!"
Challenge [Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%20style%3D%22color%3A%20blue%3B%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp%

[2017-02-08 01:00] erictleung commented on #13232
@AdeelShani Thank you for reporting this issue. Your code is incorrect. Please read the instructions one more time.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [f

[2017-02-08 01:00] #13232 closed

[2017-02-08 01:42] Znallman opened #13233 "Not Found does not return"
Challenge [Testing Objects for Properties](https://www.freecodecamp.com/challenges/testing-objects-for-properties#?solution=%0A%2F%2F%20Setup%0Avar%20myObj%20%3D%20%7B%0A%20%20gift%3A%20%22pony%22%2C%0A%20%20pet%3A%20%22kitten%22%2C%0A%20%20bed%3A%20%22sleigh%22%0A%7D%3B%0A%0Afunction%20checkObj(checkProp)%20%7B%0A%20if%20(myObj.hasOwnProperty(%22gift%22))%0A%20%7Breturn%20myObj%5BcheckProp%5D%3B%

[2017-02-08 01:44] Znallman commented on #13233
Never mind i found the problem

[2017-02-08 02:41] vinesh178 commented on #13189
I am facing the issue only in chrome and not in firefox. In chrome, when i click run test nothing happens even if the code is correct.

thanks,
Vinesh

[2017-02-08 02:42] vinesh178 commented on #13185
I am facing the issue only in chrome and not on firefox. In chrome, when i click run test nothing happens even if the code is correct.

Thanks,
Vinesh

[2017-02-08 03:32] jodylecompte opened #13234 "Missing Semi-Colons Producing Odd Errors"
#### Challenge Name

https://www.freecodecamp.com/challenges/manipulate-arrays-with-push

#### Issue Description

When semi colons are missing from the end of a line in this challenge, rather than throwing an error for a missing semi-colon, it throws an error that the myArray.push() function does not exist.

This may be an issue with the editor, but I thought it might be somehow related to the FCC

[2017-02-08 03:50] erictleung commented on #13233
Closing as resolved. Happy coding!

[2017-02-08 03:50] #13233 closed

[2017-02-08 04:18] BrendanSweeny commented on #13234
Hey @jodylecompte! Nice catch. I can reproduce this error and I think I know what the problem is. After many of the challenges there is a "tail" block of code that is appended to the code submitted. I believe it's used primarily to log values in the freecodecamp console as it does in this challenge. In this challenge, the tail is `(function(z){return 'myArray = ' + JSON.stringify(z);})(myArray);`

[2017-02-08 04:58] CharlesHOV opened #13236 "Challenge successful but button not responding when I hover over it."
Challenge [use-css-animation-to-change-the-hover-state-of-a-button](http://beta.freecodecamp.com/en/challenges/applied-visual-design/use-css-animation-to-change-the-hover-state-of-a-button) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116 Safari/537.36</code>.
Please describe how to reproduce this issue, and include

[2017-02-08 05:13] raisedadead commented on #13189
@vinesh178

Can you check the dev tools console for errors?
On Windows: Press <kbd>F12</kbd>, Go to the Console Tab, and retry the challenge.

Should see any errors post the screenshots here.

Also, try the challenge in a incognito window with all add-ons disabled.

[2017-02-08 05:15] raisedadead commented on #13185
@vinesh178

Can you check the dev tools console for errors?
On Windows: Press <kbd>F12</kbd>, Go to the Console Tab, and retry the challenge.

Should see any errors post the screenshots here.

Also, try the challenge in a incognito window with all add-ons disabled.

[2017-02-08 05:42] rafaelnize opened #13237 "even increasing the window size above 100% test still fails."
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2017-02-08 05:43] mayur95 commented on #13234
I have not understand.
Can you elaborate..?

[2017-02-08 05:50] JosephLivengood commented on #13237
This appears to be a problem with your solution- there is a ':' in your style after _.smaller-image_ that should not be there

[2017-02-08 05:52] rafaelnize commented on #13237
you're right. thanks.

[2017-02-08 05:58] Russellmania91 opened #13238 "It says that I haven't changed the text size, but I have definitely changed the text size"
I have checked to make sure my browser is at 100 percent zoom and it is.  Text is also at 100 percent.  My code appears to be working fine, I can change the text to anything I want, but no matter what I do, it says that the font is not at 16px.

Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%2

[2017-02-08 06:11] JosephLivengood commented on #13238
Its look like the challenge is asking you to create a _new_ style entry for _p_ elements and not add to the existing class red-text: _"create an entry for p elements and set the font-size to 16 pixels (16px)."_

[code]

[2017-02-08 06:14] 0-0-Zero commented on #13189
I pressed f12 and went to console tab but no error was shown. I tried it in
incognito window but it is the same.

On Wed, Feb 8, 2017 at 12:15 AM, mrugesh mohapatra <notifications@github.com

[2017-02-08 06:19] 0-0-Zero commented on #13189
nevermind, I wrote code wrong. it works.

On Wed, Feb 8, 2017 at 1:14 AM, Anthony Z <atristonz@gmail.com> wrote:

[2017-02-08 06:37] JosephLivengood commented on #13101
I've figured our why our current back-end projects aren't saving/moving on- just the type in the seed file. Will submit PR shortly

[2017-02-08 06:46] Russellmania91 commented on #13238
Oh I see, that fixed it. Thank you for your help!

[2017-02-08 06:46] #13238 closed

[2017-02-08 06:56] alexalexson143 commented on #13107
@raisedadead Hi, please see below:

Google should show kilometers equivalent at front page.
[iss](https://www.google.com.ph/?gfe_rd=cr&ei=g8CaWPzbJKrf8AeSgbzABw#q=iss+altitude+km)
[hubble](https://www.google.com.ph/?gfe_rd=cr&ei=g8CaWPzbJKrf8AeSgbzABw#q=hubble+altitude)
[moon](https://www.google.com.ph/?gfe_rd=cr&ei=g8CaWPzbJKrf8AeSgbzABw#q=moon+distance+km)
[sputnik](https://www.google.com.ph/?gf

[2017-02-08 08:13] ichthub commented on #12863
The same problem for me. My code is code is correct but does not want to pass
![ucscreenshot20170208080912](https://cloud.githubusercontent.com/assets/18748390/22728468/fac377a0-edd5-11e6-9e57-83b9689ac98d.png)

![ucscreenshot20170208081243](https://cloud.githubusercontent.com/assets/18748390/22728549/6b3e9212-edd6-11e6-8823-d6ffc3b7a7de.png)

[2017-02-08 10:15] #13237 closed

[2017-02-08 11:58] BillChandler01 commented on #9336
Hello All,

I think I am experiencing a problem on this challenge even though I have the id properly entered in the style sheet and the id name properly entered in the form.

Appreciate assistance as time permits;

Moving on to the next item.

Bill

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    f

[2017-02-08 12:16] AmfInfoTech commented on #5825
this is solution   "I am a \"double quoted\" string inside \"double quotes\".";

[2017-02-08 13:20] manwithgills opened #13239 "Video playback not working"
Challenge [build-a-tribute-page](http://beta.freecodecamp.com/en/challenges/applied-responsive-web-design-projects/build-a-tribute-page) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

When you click on the vid

[2017-02-08 13:22] MrCole11 opened #13240 "Wrong Code Displaying on This Challenge"
I hit CTRL+Z one too many times and it displayed the code from the previous challenge. I did a hard refresh and still have the code you see below. A screenshot is attached as well.
![screen shot 2017-02-08 at 8 19 34 am](https://cloud.githubusercontent.com/assets/25393587/22738951/a6abe24a-edd7-11e6-898c-2cdc25815a78.png)

 [adjust-the-hue-of-a-color](http://beta.freecodecamp.com/en/challenges/app

[2017-02-08 13:26] #13025 closed

[2017-02-08 14:21] Bouncey opened #13241 "Array.prototype.includes() not supported by IE"
When visiting beta through IE, the site is unusable. There are two instances of `includes` in the code base outside of the gulp file, and two solutions for fixing this.

1. Add a polyfill for `Array.prototype.includes()`
or
2. Refactor to remove `Array.prototype.includes()`

[2017-02-08 14:46] shaffemf opened #13242 "browser and text at 100% zoom, still can't pass challange"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20ame

[2017-02-08 15:06] #13092 closed

[2017-02-08 15:09] feliz-h opened #13243 "Link to External Pages with Anchor Elements Challenge."
Hello, I've checked other github pages and noticed that some people were having the same problem as me (Asks for the a element even though it is there). Would like to have this issue resolved fast. Thanks

- Using google chrome
- Started free code camp about 4 days ago

Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-ancho

[2017-02-08 15:12] wjaron opened #13244 "Directions are not obvious."
Challenge [Change Text Inside an Element Using jQuery](https://www.freecodecamp.com/challenges/change-text-inside-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target4%22).html(%22%3Cem%3E%23target4%3C%2Fem%3E%22)%3B%0A%20%20%7D)%3B%0Afcces%0A%0A%3C!--%20Only%20c

[2017-02-08 16:45] tmcg1 commented on #6112
i feel that quite a few exercises are very poorly explained and even then you are required to do something you havent learned before. Atm im just trying to complete the course and i have very little understanding about it. After i finish it i think i need to go another round because i feel so dumb.

[2017-02-08 16:54] Malaszka8808 opened #13246 "faile"

[2017-02-08 16:55] #13246 closed

[2017-02-08 17:00] #13240 closed

[2017-02-08 18:06] erictleung commented on #13244
@wjaron thanks for the feedback. I can see how the directions are now self-evident, but the directions around it make it clear

I think we try to strike a balance between giving information and require critical thinking in solving the challenges. I can see an argument for changing this but I can also argue the other way. But I think for the earlier challenges, we can give them more direction.

[2017-02-08 18:21] Mwamini opened #13247 "filter issue"
Please describe how to reproduce this issue, and include links to screenshots if possible.
It does accept filter, i've checked my codes everything seems perfect but it does not run
My code:
[code]

[2017-02-08 18:25] BerkeleyTrue commented on #13016
@QuincyLarson @Greenheart We currently cannot test all the challenges because the testing framework is not set up for that.

I have https://github.com/freeCodeCamp/freeCodeCamp/issues/4201 which will allow us to test all the challenges.

[2017-02-08 18:55] avotg commented on #8908
function truncateString(str, num) {

  if (str.length > num && num > 3){
    return str.slice (0, num-3) + "...";
  } else if (num < 3){
    return str.slice (0, num) + "...";
  }

  return str;
}

truncateString("A-", 1);

[2017-02-08 18:59] erfe1 commented on #13016
افكر امسح النظام من عندي لحين وصول اموالي

[2017-02-08 19:06] raisedadead commented on #13243
Your code passes for me. Can you retry in a incognito window or a different browser? It could be due to browser extensions  conflicting with the challenge?

[2017-02-08 19:09] Drallas opened #13248 "Basic JavaScript Arrays topic order"
## Basic JavaScript Arrays topic order

This is a minor issue, but it can confuse people like me.

Starting [at](https://www.freecodecamp.com/challenges/manipulate-arrays-with-push)

**Current order is**

- Manipulate Arrays With push()
- Manipulate Arrays With pop()
- Manipulate Arrays With shift()
- _Manipulate Arrays With unshift()_

**Order should be**

- Manipulate Arrays With push()
- _Manip

[2017-02-08 19:17] atjonathan commented on #13248
I guess this makes more sense.
cc / @freeCodeCamp/moderators

[2017-02-08 19:19] atjonathan commented on #13247
Your code is incorrect. Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2017-02-08 19:19] #13247 closed

[2017-02-08 19:23] atjonathan commented on #13246
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Thanks 😃

[2017-02-08 19:24] Mwamini commented on #13247
Thanks Jonathan.

Sent from Yahoo Mail on Android

  On Wed, Feb 8, 2017 at 2:21 PM, Jonathan<notifications@github.com> wrote:
Closed #13247.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-02-08 19:24] atjonathan commented on #13242
You are giving the wrong selector those styles.
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room in future 💪

[2017-02-08 19:24] #13242 closed

[2017-02-08 19:27] atjonathan commented on #13247
@Mwamini, no problem 😀

[2017-02-08 19:29] atjonathan commented on #13244
I think the directions are clear enough. Any clearer and as @erictleung said, they would require no thought.

[2017-02-08 19:31] atjonathan commented on #13223
Cannot reproduce. Can you @raisedadead ?

[2017-02-08 19:34] atjonathan commented on #13243
@feliz-h, congratulations on starting freeCodeCamp! I also can't reproduce, this is an error on your local system. Try the steps @raisedadead suggested 😃

[2017-02-08 19:47] raisedadead commented on #13223
@Dadirabah

This is incorrect code. Your screenshot is different than your code above.
Please retry.

[2017-02-08 19:48] #13223 closed

[2017-02-08 19:49] raisedadead commented on #13239
We are replacing videos with static images, refer: #12753
Closing as these would be removed per the other thread.

[2017-02-08 19:49] #13239 closed

[2017-02-08 19:51] #13234 closed

[2017-02-08 19:53] raisedadead commented on #13234
@BrendanSweeny thanks a lot for the insight. Yes, we have a new challenge evaluation mechanism on beta site to handle this. This will be available on the main website in the next release.

@jodylecompte Untill then please consider using semicolons.

[2017-02-08 20:00] raisedadead commented on #13194
@thinksimple thanks for the feedback, while the suggested implementation is correct in not using reduce, it is based on your original code which is based on ES6.

IMHO, at this stage someone may try this in < ES6 where you may want to use reduce.

Again this is a choice of the programmer to take whichever approach they choose.

As far as the challenge is concerned it is accepting, the code that yo

[2017-02-08 20:02] Mv8534 opened #13249 "It's blue but doesn't let me pass"
Challenge [Use RGB to Mix Colors](https://www.freecodecamp.com/challenges/use-rgb-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20rgb(255%2C0%2C0)%3B%0A%20%20%7D%0A%20%20.orchid-text%20%7B%0A%20%20%20%20color%3A%20rgb(218%2C112%2C214)%3B%0A%20%20%7D%0A%20%20.sienna-text%20%7B%0A%20%20%20%20color%3A%20rgb(160%2C82%2C45)%3B%0A%20%20%7D%0A%20%20.blue-text%20%7B

[2017-02-08 20:03] Dadirabah commented on #13223
Dear thanks
I have switched to chrome and its working fine no problem
Thanks

On 8 Feb 2017 20:50, "mrugesh mohapatra" <notifications@github.com> wrote:

[2017-02-08 20:06] #13249 closed

[2017-02-08 20:07] raisedadead commented on #13213
@tommygebru Can please provide screenshots of the inconsistency? Or identify a list of the challenges?

[2017-02-08 20:12] raisedadead commented on #13211
I find the rewritten text to be bit confusing, because it assumes, that the camper will keep the plain text and link text separate as expected by the challenge.

Do you have any suggestion, that clearly states the expectation of this challenge?

[2017-02-08 20:12] raisedadead commented on #13211
/cc @freeCodeCamp/moderators

[2017-02-08 20:17] raisedadead commented on #13209
@SanjayPatel16 Thanks for your interest. This issue is not yet confirmed to be needing a change.
I recommend you have a look at the [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md), and look for issues with help wanted tag to contribute.

[2017-02-08 20:20] raisedadead commented on #13209
@Bouncey I think what @tommygebru is trying to suggest is that we have a scroll only on on the main body, and rest all "could" be having separators.

I am not sure on that.

But, that said, the instruction panel is narrow, and we have a multi tab editor in plan. That might give us a better UX.

[2017-02-08 20:42] strongdan commented on #12972
I was able to get this to pass on Chrome Canary on Windows 7. Previously failed on Chrome on a Chromebook. Not sure what the problem was.

[2017-02-08 20:42] #12972 closed

[2017-02-08 20:51] 0-0-Zero opened #13250 "Use RGB to Mix Colors"
Challenge [Use RGB to Mix Colors](https://www.freecodecamp.com/challenges/use-rgb-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20rgb(255%2C0%2C0)%3B%0A%20%20%7D%0A%20%20.orchid-text%20%7B%0A%20%20%20%20color%3A%20rgb(218%2C112%2C214)%3B%0A%20%20%7D%0A%20%20.sienna-text%20%7B%0A%20%20%20%20color%3A%20rgb(160%2C82%2C45)%3B%0A%20%20%7D%0A%20%20.blue-text%20%7B

[2017-02-08 21:00] EthanDproject commented on #6794
Frankie i was having problems with this on as well. The instruction is a little confusing.  what i see you need an another that is the opposite do it should look like this 1,2,3,4,5 instead. so you need val<5 instead.

this is the code i did and i passed.
newArray=oldArray.filter(function(x){
  return x<=5;
 });
(function() { return newArray; })();


if this helps

[2017-02-08 21:03] 0-0-Zero commented on #13250
![rgb_issue](https://cloud.githubusercontent.com/assets/25592658/22757236/0feba2dc-ee18-11e6-8b36-da7ff0ffde58.png)

[2017-02-08 21:14] raisedadead commented on #13250
Double check the RGB code you are adding for blue, its not correct.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help) or try looking through our [forum](http://forum.freecodecamp.com) for help with a specific challenge.

Happy Coding!

[2017-02-08 21:14] #13250 closed

[2017-02-08 21:17] 0-0-Zero commented on #13250
i used the code they gave me

On Wed, Feb 8, 2017 at 4:17 PM, Anthony Z <atristonz@gmail.com> wrote:

[2017-02-08 21:23] raisedadead commented on #13250
Apologies, I am not clear, do you mean you used the code from some one else?

[2017-02-08 21:24] raisedadead commented on #13250
Please follow the challenge instructions, there is a table which lists the color and the RBG code you need to use.

[2017-02-08 21:29] 0-0-Zero commented on #13250
No, the code from freecodecamp, I did follow instructions. i used the
table, that is what i am referrign to. You can see all that in the
screenshot i sent.

On Wed, Feb 8, 2017 at 4:26 PM, mrugesh mohapatra <notifications@github.com>
wrote:

[2017-02-08 21:42] tommygebru commented on #13213
So the entire list of the curriculum or is the first course on FCC beta just fine? - HTML

(which is where i saw the issue, but possible it is the same for the entire curriculum)

[2017-02-08 21:44] Lkhdkn opened #13251 "Change the Font Size of an Element issue"
Change the Font Size of an Element issue

Can't pass this challenge. Set zoom to 100% but still not working.
![snikt](https://cloud.githubusercontent.com/assets/25251015/22758630/2f0a667c-ee58-11e6-8ca0-557170d35565.jpg)

* Browser Name, Version: Chrome
* Operating System: Windows 10
* Mobile, Desktop, or Tablet:  desktop

Here's my code.

<style>
  .red-text {
    color: red;
  }
  p {
    font s

[2017-02-08 21:47] jjprevite opened #13252 "Using Objects for Lookups - Need to Modify Code Setup"
I noticed a [similar issue](https://goo.gl/E2BFFG) was opened on Feb. 1st, 2016 but has been closed. The problem is that a line of code that needs to be modified by the user in order is **above** the line that says _"Only change code below this line"_

SPOILER ALERT!! Solution below.

#### Challenge Name- Using Objects for Lookups

[](https://goo.gl/uF0HQf)

#### Issue Description

The directions

[2017-02-08 21:55] tommygebru commented on #13211
@raisedadead umm.. its possible that the new language can be confusing but maybe if we have more volunteers/contributors we can assume if it is understandable.

Here is a link to the challenge: https://beta.freecodecamp.com/en/challenges/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph

Just to be clear the changes in the  Rewrite include
- removing the image
-adding an hr tag
-and c

[2017-02-08 21:57] 0-0-Zero commented on #13250
Hey I'm sorry, i kept reading that second 5 as a 2. I'm so sorry about
that, thanks for the help though.

On Wed, Feb 8, 2017 at 4:33 PM, Anthony Z <atristonz@gmail.com> wrote:

[2017-02-08 22:01] tommygebru commented on #13209
@Bouncey I dont mean to remove it, just replace 😉

@raisedadead its nice to hear about a new layout in plan, I think a fairly simple layout can be having a collapsible instructions panel, and with that change have the ouptut + test case  section below the editor 🤔

Also I did mention in this issue #13224 that there needs to be better sizing solutions, because if there are **4 scrollbars** to a cha

[2017-02-08 22:03] #13251 closed

[2017-02-08 23:41] no-stack-dub-sack commented on #13213
@raisedadead @tommygebru I don't have a screenshot handy, but I can confirm this, I was in the Basic DS section when I first noticed it - it only seems to happen when you are working through multiple challenges in a row. Two `<hr>`s should be the standard, but now and again a third will pop up right above the "run tests" button.

EDIT: Actually @tommygebru, does this happen when you're running FCC

[2017-02-09 00:52] EdwardHeath opened #13253 "Obvious answer not passing final test"
Challenge [divide-one-decimal-by-another-with-javascript](http://beta.freecodecamp.com/en/challenges/basic-javascript/divide-one-decimal-by-another-with-javascript) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to scree

[2017-02-09 00:59] erictleung commented on #13253
@EdwardHeath this passes for me on beta.

![image](https://cloud.githubusercontent.com/assets/2754821/22764483/d5bfe7fa-ee1f-11e6-9519-54dc8f36e211.png)

Maybe reset your code and try again? I'm also using Chrome, so that might also be a difference if you're using Firefox.

[2017-02-09 01:03] EdwardHeath commented on #13253
I reset my code multiple times. Refreshing the page finally fixed it. Still a weird bug.

[2017-02-09 01:03] #13253 closed

[2017-02-09 01:38] HKuz commented on #13204
@tommygebru - thanks for going through this challenge! I like the idea to move the sentence "Note that in most cases, `img` elements are self-closing" up. I'd actually put it right after the `<img>` code example, and before the paragraph about the `alt` attribute ("All `img` elements must have an `alt` attribute...). That said, I don't think the `<hr>` should be moved. They're used to visually sep

[2017-02-09 01:40] Manish-Giri commented on #13204
@HKuz I'd like to take this up.

[2017-02-09 01:42] HKuz commented on #13204
@Manish-Giri - all yours, thank you! You're a PR machine lately 🔥 🤖 👍

[2017-02-09 01:44] Manish-Giri commented on #13204
@HKuz Thank You ⚡️ 😛

[2017-02-09 01:48] HKuz commented on #13206
@tommygebru - thanks for going through these challenges is such detail! So, we don't want to show any CSS in the seed code for this section, since it comes before campers have learned it. Unfortunately, the output ends up looking a little rough...

@freeCodeCamp/moderators - the cat image that's used here is a bit bigger than the phone's width. Should we look into making it a touch smaller (behind

[2017-02-09 01:54] texas2010 commented on #5825
@AmfInfoTech
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-02-09 02:00] HKuz commented on #13207
@cdrainxv - thanks for the issue! Would you mind posting a screen shot of what you see when you use the date picker in the challenge? When I add the `<input>` field per the instructions, and run the code, this is what I see on the phone - it recognizes the MM-DD-YYYY format and allows me to edit it by typing/hitting tab, or clicking the calendar:

![screen shot 2017-02-08 at 8 55 04 pm](https://cl

[2017-02-09 02:01] randelldawson opened #13254 "[beta] Use the Reduce Method to Analyze Data - test seems incorrect"
Challenge [Use the Reduce Method to Analyze Data](http://beta.freecodecamp.com/en/challenges/functional-programming/use-the-reduce-method-to-analyze-data) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

T

[2017-02-09 02:12] HKuz commented on #13236
@CharlesHOV - I get it to work on Chrome. The animation is set to 4 seconds (which seems kinda long for a hover), and the blue it changes to is not very different than the button's start color. When you run your code successfully and exit out of the 'congrats' modal, can you try and hold your cursor over it for the full 4s?

I tried to catch the color change in a couple screen shots:

Start:

![sc

[2017-02-09 02:40] tommygebru commented on #13213
@no-stack-dub-sack thanks for sharing this is on [beta] i havent run FCC locally

[2017-02-09 02:43] tommygebru commented on #13213
Also im not sure what the preference is - either way looks really good!

I will say that the first 2 are necessary because it separates the introduction from both the title and the instructions of the challenge.
Its the third one that needs to be discussed - i like that it separates the instructions from the 4 buttons below it

[2017-02-09 02:54] tommygebru commented on #13206
Yeah - the list of challenges include any with the CatPhotoApp. I would suggest only changing the image itself **or if its easier** we can include the image width be 100%

The website looks good.

I hope that we can change 2 things before release:

- wider instructions panel (easier to read lengthy posts)
- a single notification system (absolving the modal toast)

* maybe brighter text and green c

[2017-02-09 03:59] ajain17 commented on #12863
@ichthub It works for me. Your code is incorrect. It doesn't generate expected output. Check it again, it will work.

[2017-02-09 05:38] cdrainxv commented on #13207
@HKuz: Thanks for responding. I also was using chrome for testing this challenge. This was the date format for the input:

![screen shot 2017-02-08 at 21 35 28](https://cloud.githubusercontent.com/assets/18746599/22770008/12302298-ee4a-11e6-8a01-cdd008d45852.png)

I tested it using browser settings as well, but that doesn't appear to be the culprit in my case as I use US settings for the browser a

[2017-02-09 05:55] cdrainxv commented on #13254
@rmdawson71: Consider the following:
1. Nolan doesn't have 5 movies in that array. Make use of the filter method to find out which movies he has directed and then use reduce to find the sum of his movie ratings.
2. I believe that the intention is that ___each___ movie is rated out of a possible score of __10__, thus with however many Nolan-directed movies are in the array, the average ratings of h

[2017-02-09 05:56] cainesim commented on #7713
![image](https://cloud.githubusercontent.com/assets/25155867/22771072/8ff63f48-eecf-11e6-9cac-e84f1dd29997.png)

[2017-02-09 07:23] AndreiLuca99 opened #13257 "I think the result is good, but not passed."
Challenge [Missing letters](https://www.freecodecamp.com/challenges/missing-letters) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:51.0) Gecko/20100101 Firefox/51.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2017-02-09 07:31] cdrainxv commented on #13248
The current order makes just as much sense for the reason you stated above - logic. I would believe most people would also tend to think along the lines of, "Oh, I can now add/remove an element to/from the front/back of an array.", followed almost immediately with "What about if I want to do the equivalent opposite of the operation I just performed?". This is a gross generalization, but I would li

[2017-02-09 07:32] ilessy opened #13258 "Can't pass but results are correct"
[Where do I belong](https://www.freecodecamp.com/challenges/where-do-i-belong)
[code]
it won't let me pass.

[2017-02-09 07:40] cdrainxv commented on #13257
@AndreiLuca99: The alphabet goes a, b, c, ___d___, e. In your current code, the missing letter would be `"d"` (which is what should be returned), but your return statement is returning str, which is `"abce"`.

Please seek challenge related guidance/help in the [Help JavaSript](https://gitter.im/FreeCodeCamp/HelpJavaScript) room. Thanks!

[2017-02-09 07:55] ilessy commented on #13258
Well, I figured it out my self.
I have to use this code to force a number type to pass the chanllange.
[code]

[2017-02-09 08:47] #13258 closed

[2017-02-09 11:13] kingbl40 opened #13259 "Nesting an anchor element in a p element"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2017-02-09 11:58] shorlly4u commented on #8909
I am having the same problem

[2017-02-09 12:15] billy-reilly commented on #13248
@raisedadead I'm up for submitting a pull request for this change if it is confirmed?

Is there any documentation on how the ID strings are generated for each challenge? (I'm guessing they need to stay in the same order whilst the other properties of each challenge object are swapped around?)

[2017-02-09 12:40] cdrainxv commented on #13259
@kingbl40:
1. > You need an a element that links to "http://www.freecatphotoapp.com"

You have an extra `s` character in your link

2. > Your p element should have the text "View more " (with a space after it).

Notice the uppercase `V`. Also there's no need to affix quotes around it as it's **text** and not a quote.

Please seek out help in the [Help room](https://gitter.im/FreeCodeCamp/Help) for

[2017-02-09 13:32] jacob-aifuding commented on #10535
thank you  @Martian1431    see you answered    i did it

[2017-02-09 14:30] srini5 commented on #12787
Came here to report this same issue (Identifier "dataset" has already been declared) on multiple D3 exercise pages. I was able to proceed by changing the name of the const identifier and resubmitting, or reloading the page.

[2017-02-09 14:53] Thesecond7 commented on #11354
I have the same problem  :(

[2017-02-09 14:55] #13259 closed

[2017-02-09 14:56] raisedadead commented on #13259
@kingbl40 @cdrainxv is correct. Please confirm your issue in chat rooms or forum first.

[2017-02-09 15:14] hisener commented on #13103
@dnahol I can take this if you don't?

[2017-02-09 16:01] christyoftheforest opened #13260 "Code does not run test."
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A.smaller-image%20%7B%0A%20%20%20%20width%3A%20100px%3B%0A%20%20%7D%0A%20%20h2%20

[2017-02-09 16:14] Manish-Giri commented on #13260
@christyoftheforest Your code is incomplete, you haven't yet added the class to the `img` yet. Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) if you need help with challenges like these, in future. Happy Coding!

[2017-02-09 16:30] raisedadead commented on #13260
Hi @christyoftheforest

Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [fo

[2017-02-09 16:30] #13260 closed

[2017-02-09 16:31] raisedadead commented on #13257
Hi @AndreiLuca99

Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](h

[2017-02-09 16:31] #13257 closed

[2017-02-09 16:34] raisedadead commented on #13252
Thanks  for your report, but :

[code]

Something like above should work, don't you think?
Please confirm your issues in the help chat room before reporting.

[2017-02-09 16:34] #13252 closed

[2017-02-09 17:31] dnahol commented on #13103
@hisener I got it. But maybe you want to take the others you mentioned?

[2017-02-09 17:45] fwzmhmd opened #13261 "Add Images to your Website - Clarification needed in instruction"
Challenge [Add Images to your Website](https://www.freecodecamp.com/challenges/add-images-to-your-website) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

*This challenge does not give instruc

[2017-02-09 18:05] billy-reilly commented on #13064
@rmdawson71 @Greenheart

I've reproduced this with the following user agents

- `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36`
- `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/602.3.12 (KHTML, like Gecko) Version/10.0.2 Safari/602.3.12`

When I navigated straight to the challenge my code passed:
<img width="1

[2017-02-09 18:08] tommygebru opened #13262 "[beta][UI][UX][enhancement] Introduce collapsible codeblocks within the editor"
Collapsible codeblocks can prevent this newly created overflow in the editor:
![screen shot 2017-02-09 at 10 04 30 am](https://cloud.githubusercontent.com/assets/7606025/22796532/8791009c-eeaf-11e6-9fe1-4a082d72addd.png)

[2017-02-09 18:19] webdevjeffus commented on #9414
In the "Create a Media Query" challenge, the instructions and the test don't match. The instructions say:

**Smaller than 800px** means 799 or less, so the correct media query _should_ be "max-width: 799px". The test actually passes with "max-width: 800px", which translates into English as **800px or smaller.**

Basically, the instructions call for **width < 800**, but the test checks for **width

[2017-02-09 18:24] christyoftheforest opened #13263 "Has all requirements. Still bugging?"
Challenge [Add Borders Around your Elements](https://www.freecodecamp.com/challenges/add-borders-around-your-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20.thin-green-border%20%7B%0A%20%20%20%20bor

[2017-02-09 18:28] webdevjeffus opened #13264 "[beta] Create a Media Query - Instructions and test don't match"
Challenge [create-a-media-query](http://beta.freecodecamp.com/en/challenges/responsive-web-design-principles/create-a-media-query) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]
In the

[2017-02-09 19:25] WunmiOlukoya opened #13265 "Its showing up as me doing the right thing on the browser but it's not letting me go"
Challenge [Check Radio Buttons and Checkboxes by Default](https://www.freecodecamp.com/challenges/check-radio-buttons-and-checkboxes-by-default#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%2

[2017-02-09 19:36] rmdawson71 commented on #13254
I must have read the challenge 10 times, but did not see the part about limiting it to Nolan's movies.  Now it seems obvious, but for some reason I was just not seeing it before.

Sorry for the trouble.

[2017-02-09 19:54] williamskm4 commented on #8909
How do you give the Browser and text zoom 100%

[2017-02-09 20:32] Jack-Pincombe commented on #13263
To get it to work you need to change it from a thin green border to a thick one both in your img class and your css.

Is that what you mean

[2017-02-09 20:37] Jack-Pincombe commented on #13265
you do not have the first check box as checked which is "loving"

[2017-02-09 20:39] Jack-Pincombe commented on #13265
you have checked the wrong check box, it needs to be the one two lines below your other default checked, line 50 i think

[2017-02-09 20:43] Jack-Pincombe commented on #13261
It does not really matter where it goes as it shows you how to do it

[2017-02-09 20:53] rmdawson71 commented on #13064
You experienced exactly what we did.  I do not know how the site runs the challengeSeed / tail / tests.  Would love to know for future reference.

[2017-02-09 21:03] cdrainxv commented on #13265
@WunmiOlukoya: Consider the following:
1. You should only have ***3*** checkbox buttons and yet you have **6** checkbox buttons in total. Secondly,you have the ***fourth*** checkbox button `checked` by default and not your ***first*** checkbox button.

2. Please consider asking for help in the [Help room](https://gitter.im/FreeCodeCamp/Help) prior to posting non-issue related problems here. The re

[2017-02-09 22:06] Snave713 commented on #5898
Note
Watch out for spaces. Concatenation does not add spaces between concatenated strings, so you'll need to add them yourself.

I fell for it "twice".  Then finally realized..

[2017-02-09 22:20] zombierevival commented on #6485
boi

[2017-02-09 22:59] Sirjustin opened #13267 "[beta] Declaring Variables in Data Visualization"
#### Challenge Name
http://beta.freecodecamp.com/en/challenges/data-visualization-with-d3/work-with-data-in-d3

#### Issue Description

Not sure if this is related to the local memory issues..

The tests fail if you leave the variable as dataset because it says that it has already been declared as a variable.  But if you change the variable it works fine.

#### Browser Information

PC Chrome

* Br

[2017-02-09 23:00] Sirjustin commented on #13267
Data Visualization with D3: Work with Data in D3

[2017-02-09 23:01] reddock opened #13268 "[beta] Array Destructuring has bad tests"
Challenge [array-destructuring](http://beta.freecodecamp.com/en/challenges/es6/array-destructuring) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

This test just passed if you run it without touchi

[2017-02-09 23:58] erictleung commented on #13268
@reddock thanks for the issue. Yes, the challenge isn't "working" because currently, the tests are just comments, so anything will pass the tests. This challenge also needs some formatting work.

[2017-02-10 01:08] Manish-Giri commented on #13268
@erictleung I think I could do this...aside from the tests, what challenge formatting are you looking for? Perhaps a `<blockquote>` to contain the code example?
[code]

[2017-02-10 01:31] abs73129 commented on #10678
"Run tests" button not working on most Basic CSS problems.

[2017-02-10 01:38] Marvive opened #13269 "General Bug on all Lessons"
Currently using Safari Version 10.0.3 (12602.4.8) on macOS 10.12.3 (16D32)

Every time you complete a lesson, the next lesson loads the result from the previous lesson. It stays that way until you hit "run" the first time on the current lesson. It has occurred to me on every lesson consistently.

Please forgive me if I'm reporting this bug in the wrong place!

Challenge [use-headings-to-show-hiera

[2017-02-10 03:12] texas2010 commented on #13265
@WunmiOlukoya
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-10 03:12] #13265 closed

[2017-02-10 03:13] texas2010 commented on #13263
@christyoftheforest
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-10 03:13] #13263 closed

[2017-02-10 04:55] erictleung commented on #13268
@Manish-Giri yes, `<blockquote>` tags would be great for those two lines. There shouldn't be an extra line break between the two lines of code. It should look like

[code]

[2017-02-10 04:58] raisedadead commented on #13261
The challenge need to be reworded a bit to give step by step instructions

[2017-02-10 05:01] raisedadead commented on #13106
This is a known issue for some on the main website, we have fixed this in the beta and will be available in out next release.

As a work around, please use an alternate browser like Firefox.

[2017-02-10 05:05] Marmiz commented on #13261
@raisedadead I can take care of this if none step forward :)

[2017-02-10 05:07] raisedadead commented on #13261
@Marmiz yes sure.

[2017-02-10 05:42] mauricemuia opened #13270 "Challenge [Nest an Anchor Element within a Paragraph]"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2017-02-10 05:51] #13270 closed

[2017-02-10 05:54] mchl326 commented on #12813
I had to switch thick green border and smaller image as well in order for the code to work harjaz. Not sure why this was the case.

[2017-02-10 06:43] masters-george commented on #12706
Ran into same problem running with Chrome on Ubuntu Linux 16.10. Here is my code:

// Declare your variable here

var myGlobal = 10;
function fun1() {
  // Assign 5 to oopsGlobal Here
  oopsGlobal = 5;
}

// Only change code above this line
function fun2() {
  var output = "";
  if (typeof myGlobal != "undefined") {
    output += "myGlobal: " + myGlobal;
  }
  if (typeof oopsGlobal != "undefined")

[2017-02-10 06:51] ak0siano opened #13271 "why element doesn't turn BLUE"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3A%20blue%3B%7D%0A%3C%2Fstyle%3E%20%20%0A%20%20%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20ea

[2017-02-10 06:51] carlilejs commented on #13204
@Manish-Giri I'd love to help with this! I've forked it at I'm looking at refactoring the... text.

I'm thinking:
1. As @HKuz mentioned, move the line "Note that in most cases, img elements are self-closing." so it's before the paragraph "All img elements must have an alt attribute..."
2. Change the moved text to:  "Note: In most cases, <code>img</code> elements are self-closing (they don't requir

[2017-02-10 06:53] carlilejs commented on #13204
Actually, I think @HKuz had a better idea for the instructions at the end. I'd go with that edit:

"Add an <code>img</code> element to your code and use the following source:"

[2017-02-10 07:07] carlilejs commented on #13268
Hmm, if anyone with more experience with Regular Expressions wants to tackle the tests, please let me know. I'd love to work with them on refactoring

[2017-02-10 07:17] Manish-Giri commented on #13268
@carlilejs If you're looking to contribute, please look for open "Help Wanted" issues, where no one is currently working on them. This might be a good start - https://github.com/freeCodeCamp/freeCodeCamp/issues/13241

[2017-02-10 07:20] Marmiz commented on #13261
PR submitted:
https://github.com/freeCodeCamp/freeCodeCamp/pull/13272

[2017-02-10 07:24] carlilejs commented on #13268
@Manish-Giri Alright, cool. Sorry if I stepped on your toes. I'm just getting used to how contributing works.

[2017-02-10 07:25] Manish-Giri commented on #13268
@carlilejs You're fine! Good luck 🎉

Feel free to ask questions [here](https://gitter.im/FreeCodeCamp/Contributors) if you have any, while working on issues.

[2017-02-10 08:54] DizzysContent opened #13273 "Count from 0."
Challenge [Use Bracket Notation to Find the Nth Character in a String](https://www.freecodecamp.com/challenges/use-bracket-notation-to-find-the-nth-character-in-a-string#?solution=%0A%2F%2F%20Example%0Avar%20firstName%20%3D%20%22Ada%22%3B%0Avar%20secondLetterOfFirstName%20%3D%20firstName%5B1%5D%3B%0A%0A%2F%2F%20Setup%0Avar%20lastName%20%3D%20%22Lovelace%22%3B%0A%0A%2F%2F%20Only%20change%20code%20b

[2017-02-10 08:59] WunmiOlukoya commented on #13265
thanks ,it was a silly mistake

[2017-02-10 10:23] Faikabbaszadeh commented on #8515
// Setup
var myArray = [
  [1,2,3],
  [4,5,6],
  [7,8,9],
  [[10,11,12], 13, 14]];
// Only change code below this line.
var myData = myArray[2][1];

[2017-02-10 11:14] Matt-Webb commented on #13273
I'm not entirely sure what you mean here...

[code]

[2017-02-10 11:18] Matt-Webb commented on #13271
You're using the wrong element in your code,  use:

[code]

[2017-02-10 11:18] hisener commented on #13103
@dnahol I think all changes make more sense into a single commit.

[2017-02-10 11:28] cdrainxv opened #13274 "[beta] No visual evidence flex-grow property expanded #box-2"
Challenge [using-the-flexgrow-property-to-expand-items](http://beta.freecodecamp.com/en/challenges/css-flexbox/using-the-flexgrow-property-to-expand-items) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.

[code]

The tests pass, but there is no visual evidence that #box-2 grew in siz

[2017-02-10 12:40] Bouncey commented on #13236
:+1: for reducing the animation duration. `500ms` would be better

[2017-02-10 14:28] tmusimbi opened #13276 "This code runs but I think it misuses the return function"
Challenge [Profile Lookup](https://www.freecodecamp.com/challenges/profile-lookup#?solution=%0A%2F%2FSetup%0Avar%20contacts%20%3D%20%5B%0A%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%22firstName%22%3A%20%22Akira%22%2C%0A%20%20%20%20%20%20%20%20%22lastName%22%3A%20%22Laine%22%2C%0A%20%20%20%20%20%20%20%20%22number%22%3A%20%220543236543%22%2C%0A%20%20%20%20%20%20%20%20%22likes%22%3A%20%5B%22Pizza%22%2

[2017-02-10 14:38] MagiaSN opened #13277 "Incorrect description of the 2nd test in challenge Inventory Update"
#### Challenge Name

Inventory Update
https://www.freecodecamp.com/challenges/inventory-update

#### Issue Description

The description of the 2nd test:
[code]
should be:
[code]

#### Browser Information

Not relevant

#### Your Code

Not relevant

#### Screenshot

![screenshot](https://cloud.githubusercontent.com/assets/15558746/22830421/74a4b266-efe1-11e6-8e93-aa4d0fed20c5.jpg)

Would it be ok i

[2017-02-10 14:45] raisedadead commented on #13271
The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](http://forum.freecodecamp.com) for help wi

[2017-02-10 14:45] #13271 closed

[2017-02-10 14:49] carlilejs commented on #13241
@Bouncey I'm not finding any instances of .includes() in the code. Sorry if I'm missing something, but could you give me a bit more information? Are you on a branch other than staging?

[2017-02-10 14:51] ngocbk59 opened #13278 "Help me, please!"
Challenge [Add a Submit Button to a Form](https://www.freecodecamp.com/challenges/add-a-submit-button-to-a-form#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobst

[2017-02-10 14:52] raisedadead commented on #13273
@DizzysContent

I guess, you are have a confusion that in real world the count starts from 1 and in coding it starts from 0.
Leading you to think that by going from the coding convention we should have got the third letter as `e` in the `Lovelace`.

So, trying to clear your confusion, this challenge aims to address the relation between the real world and the way it is counted in coding, with reaso

[2017-02-10 14:53] #13278 closed

[2017-02-10 14:54] raisedadead commented on #13278
@ngocbk59 apologies, we can't provide coding assistance in the issue tracker, please reach out to the forum of the help chat rooms.

[2017-02-10 14:56] raisedadead commented on #13276
@tmusimbi are you reporting a bug in the challenge? If not please discuss coding assistance and code review in the forum or the chat rooms.

- [Forum](https://forum.freecodecamp.com).
- [JavaScript Chat Room](https://gitter.im/FreeCodeCamp/HelpJavaScript).

[2017-02-10 14:59] raisedadead commented on #13277
@MagiaSN What a catch! :tada: :open_mouth:

We would love a pull request, and since you found it you should get the credit! Thanks a lot.
Here are our [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md), please have a read.

Let us know in the [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors), if you need any assistance.

[2017-02-10 15:14] MagiaSN commented on #13277
@raisedadead Thanks for your quick reply! I have opened a pull request :) #13279

[2017-02-10 15:30] Bouncey commented on #13241
[A search for includes](https://github.com/freeCodeCamp/freeCodeCamp/search?l=JavaScript&q=includes&utf8=✓)

If you can follow the contributing guidelines, that would be great!

The gulp file doesn't need refactoring.

[2017-02-10 15:44] tmusimbi commented on #13276
I am not discussing or looking for coding assistance. Try reviewing it

[2017-02-10 16:01] raisedadead commented on #13277
@MagiaSN this issue will be closed automatically when the PR is merged, thanks a lot for your contribution!

[2017-02-10 16:04] MagiaSN commented on #13277
@raisedadead Thanks again. Learned a lot today!

[2017-02-10 17:08] chhotu3 commented on #13251
thank you....

[2017-02-10 17:26] forkerino opened #13280 "Bug: tests pass without arguments in the function call."
Challenge [Passing Values to Functions with Arguments](https://www.freecodecamp.com/challenges/passing-values-to-functions-with-arguments#?solution=%0A%2F%2F%20Example%0Afunction%20ourFunctionWithArgs(a%2C%20b)%20%7B%0A%20%20console.log(a%20-%20b)%3B%0A%7D%0AourFunctionWithArgs(10%2C%205)%3B%20%2F%2F%20Outputs%205%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0Afunction%20functionWithA

[2017-02-10 17:31] OFFLlNE commented on #13280
When I reset the code and wrote only `functionWithArgs( );` it allows me to pass the challenge. The tests have correct answers default (3 tests already correct after resetting code)

[2017-02-10 18:06] #13277 closed

[2017-02-10 18:36] collabitron commented on #6143
I don't understand how to solve this problem. I understand how to access each element in each sub array, but how do I store each element within the sub array, to then multiply them, without moving on to the next sub array and using those numbers, too?

I only want to multiple all of the numbers within each sub array, but I'm unsure of how to code such that I extract each element of the sub array (

[2017-02-10 19:21] JHenderson219 opened #13282 "[beta] Create a Gradual CSS Linear Gradient"
#### Challenge Name
http://beta.freecodecamp.com/en/challenges/applied-visual-design/create-a-gradual-css-linear-gradient

#### Issue Description

When attempting to submit this challenge with the given <code> background</code> applied to the <code> div </code>, the challenge does not complete successfully. I have copied and pasted the correct values to ensure I am not mistyping.

#### Browser Inf

[2017-02-10 19:25] JHenderson219 commented on #13282
Note: Issue disappeared after a second browser refresh. Closing the issue, but will reopen if problem recurs.

[2017-02-10 19:25] #13282 closed

[2017-02-10 20:09] carlilejs commented on #13241
Not sure how I missed that! Thank you. I've been researching this and I'll see what I can do tonight or tomorrow.

[2017-02-10 21:20] EnjoyMaadi commented on #7356
I am in agreement with @unc0mm0n as well based on the reading of the problem. Are we missing something?

[2017-02-10 22:33] Bouncey commented on #6305
Is there a preference as to how many points are awarded for the different types of challenges?

At the minute I'm giving step and video challenges 2 points, projects 10 and everything else 5.

[2017-02-10 22:39] Muhammadaz opened #13283 "Help me solve this challenge please"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%20%20%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKit

[2017-02-10 22:41] #13283 closed

[2017-02-10 22:41] Bouncey commented on #4201
An idea I have had for HTML testing is passing the HMTL string to [react-render-html](https://www.npmjs.com/package/react-render-html), and then use [react-test-renderer](https://www.npmjs.com/package/react-test-renderer) to parse it into a javascript object which we can test easily enough.

[2017-02-10 22:43] raisedadead commented on #13276
As I mentioned earlier, if you need a review of your code, please use the forum and the chat rooms, the issue tracker is for reporting bugs only.

[2017-02-10 22:43] #13276 closed

[2017-02-10 22:44] BerkeleyTrue commented on #4201
This is something that needs to be done in the browser with the same framework we use to test challenges when a user is using fcc. Abstracts will only introduce more issues and differences that cannot be accounted for.

[2017-02-10 22:45] #13106 closed

[2017-02-10 22:47] raisedadead commented on #13130
Please clarify with more information as requested

[2017-02-10 22:47] #13130 closed

[2017-02-10 22:48] raisedadead commented on #13179
Please clarify with information as requested. Some screenshots might help as well. Closing for now, we can re-open this when you are ready.

[2017-02-10 22:48] #13179 closed

[2017-02-10 22:49] raisedadead commented on #13187
Please clarify as requested, closing for now, will re-open when you are ready.

[2017-02-10 22:49] #13187 closed

[2017-02-10 22:49] #13189 closed

[2017-02-10 22:51] katzie4 commented on #12973
@erictleung  I am getting the same issue as @Shunthrope  -
Here is the completed code completed for the challenge:
<script $(document).ready(function(){});></script>

When clicking Run tests - the condition _Create a script element making sure it is valid and has a closing tag._ remains red. Either both of us have done some wrong here or this is a defect.

[2017-02-10 22:55] Bouncey commented on #12309
@PortableStick

Sorry, I'm only just seeing this now. So the store is created [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/7e8aad7505b13334b9decadbc4ea87e7f9ba7639/common/app/create-app.jsx#L72)

From my quick glance at those docs, the models look like initial state declarations to me, these can be held in `common/app/routes/settings/reducer.js`, take a look at other routes so see how

[2017-02-10 23:37] Manish-Giri commented on #13280
I'll try to do this...

[2017-02-10 23:57] teeleek commented on #13280
Okay

Puttasak insee

เมื่อ 11 ก.พ. 2017 00:28 "Pieter Stokkink" <notifications@github.com>
เขียนว่า

[2017-02-11 00:47] no-stack-dub-sack commented on #13241
@Bouncey This may be thinking a bit too far down the line, but I've been aware of this for some time since @bonham000 and I ran into this issue when we were developing the React curriculum. Several of those challenges err... include `includes()` 😄

So I guess my point is, maybe a polyfill is the best solution?

[2017-02-11 00:53] no-stack-dub-sack commented on #13209
@raisedadead @Bouncey I think what he's saying with the scroll bar, is not to remove it, just to hide it so that you don't actually see it when you're scrolling. I actually think this part of it is a good suggestion, as it often gets in the way when scrolling through the narrow instructions pane

[2017-02-11 00:58] rahanbl4 opened #13284 "Don't know why it won't run through please help!"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20h2%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%20%20%22class%3D.red-text%22%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20sh

[2017-02-11 01:21] texas2010 commented on #13284
@rahanbl4
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-11 01:21] #13284 closed

[2017-02-11 02:15] carlilejs commented on #13241
@no-stack-dub-stack Thanks for the tip! Do you have any resources off the top of your head for writing polyfills? In the meantime, I'm reading as much as I can on them

[2017-02-11 03:39] tommygebru commented on #13209
@no-stack-dub-sack do you have a sketch or mockup for the multi-tab UI, I think i understand what it is but I am not sure what the end result will be...

[2017-02-11 03:49] ytpillai opened #13285 "Problem with built in editor"
Challenge [Call out Optional Actions with Button Info](https://www.freecodecamp.com/challenges/call-out-optional-actions-with-button-info#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%2

[2017-02-11 04:08] Manish-Giri commented on #13280
I'll investigate this...

[2017-02-11 05:01] cdrainxv commented on #13264
I agree with the revision suggested above - smaller than denotes the exclusion of 800px. A simple fix would be:

Instruction:

Tests:

Another change I want to propose is to really make it evident that there has been a style change by way of the media query. This can be done by simply including a font-size property for the p element in the challenge code, then when the camper adds the media query

[2017-02-11 05:56] raisedadead commented on #13285
Duplicate of #7847

[2017-02-11 05:56] #13285 closed

[2017-02-11 07:38] Bouncey commented on #13241
@carlilejs there is a polyfill available on MDN [here](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Array/includes)

[2017-02-11 07:41] teeleek commented on #13241
Okay

Puttasak insee

[2017-02-11 07:41] teeleek commented on #13241
Okay

Puttasak insee

เมื่อ 11 ก.พ. 2017 14:39 "Stuart Taylor" <notifications@github.com> เขียนว่า

[2017-02-11 08:28] caglayanevren opened #13286 "Caret icons in challenges list: Right and down animation"
#### Issue Description

If it's proper, may be you want to add these lines to site css for animated caret icons in challenges list.

#### Your Code

[code]
#### Screenshot

![src](https://cloud.githubusercontent.com/assets/9939926/22852353/7f943902-f04b-11e6-8ea2-9ba64fa6f929.jpg)

proud to be a camper...
Evren

[2017-02-11 15:16] HKuz commented on #13236
Good call @Bouncey - I'm opening this up as help wanted to get that change in 👍

Contributors: see the [Contributor's Guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) to get set up, and feel free to ask any questions in the [Contributor's chat room](https://gitter.im/FreeCodeCamp/Contributors). The code for this challenge can be found [here](https://github.com/free

[2017-02-11 15:33] HKuz commented on #13207
@cdrainxv - great, thanks for looking into this more and figuring out the culprit! It sounds like the format will be different for any user depending on their system settings. I think we should remove the format reference (the "MM-DD-YYYY" part) in both the example and seed code to avoid confusion.

Contributors: check out the [Contributor's Guide](https://github.com/freeCodeCamp/freeCodeCamp/blob

[2017-02-11 15:41] HKuz commented on #13264
Thanks for the issue @webdevjeffus and the proposed solution @cdrainxv - agree with both of you this should be consistent to avoid confusion. @cdrainxv your suggestion for a fix nails it, and making it more obvious of the text size change sounds good, so let's go with that 👍

Contributors - If you'd like to help make these changes, please check out the [Contributor's Guide](https://github.com/free

[2017-02-11 16:45] Ihor666777 commented on #11055
Here you go
$("#target4").html("<em>#target4</em>");

[2017-02-11 17:13] teeleek commented on #11055
Okay

Puttasak insee

เมื่อ 11 ก.พ. 2017 23:47 "Ihor666777" <notifications@github.com> เขียนว่า

[2017-02-11 17:15] rrjoson commented on #13264
I'll take this!

[2017-02-11 17:25] ananaymital commented on #11055
@Ihor666777 What you are suggesting will actually not pass the first test (emphasizing part).

We on this platform are to solve bugs and not syntactical errors in code. I too made this mistake when I started. Don't let this stop you from contributing or solving issues.

If anybody is still has any issues please feel free to message me on [gitter](https://gitter.im/ananaymital) or you ask on any ot

[2017-02-11 17:31] cdrainxv commented on #13264
@rrjoson: Oh, I had already started on this, but alas I forgot to call dibs. :smile: Nothing is holier than a dib - good luck! Thanks for contributing!

[2017-02-11 17:44] Atomk opened #13288 "[beta] Unclear description in Applied Visual Design: Create Visual Balance with the Height of an Element"
Challenge [create-visual-balance-with-the-height-of-an-element](http://beta.freecodecamp.com/en/challenges/applied-visual-design/create-visual-balance-with-the-height-of-an-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.

---

The description says "This challenge changes the layout

[2017-02-11 17:44] tommygebru opened #13289 "[beta][UI][UX][enhancement] Regular Expressions issues"
I jumped to Regular expressions section of the curriculum, below are my notes

**The introduction** to the section is very nice!
http://beta.freecodecamp.com/en/challenges/regular-expressions/introduction-to-the-regular-expression-challenges
![screen shot 2017-02-11 at 9 28 26 am](https://cloud.githubusercontent.com/assets/7606025/22855893/790de92a-f03c-11e6-8c34-a11c60f35848.png)

**The first cha

[2017-02-11 17:58] rrjoson commented on #13264
Oh, sorry about that! Will ask before I work on an issue next time! 😄

[2017-02-11 18:20] #13264 closed

[2017-02-11 18:26] QuincyLarson commented on #13289
@tommygebru yes - the congratulations modal looks wrong in night mode - the top bar should definitely be green.

Also, we have tinkered with the idea of not having independently scrolling sections and instead just letting people scroll up and down, or with putting the preview output below the code editor instead of to the side (a 2-column layout) or even a 1-column layout. What are your thoughts o

[2017-02-11 19:10] adrianneagain commented on #13263
I am having an issue with Add Borders Around your Elements and the above comments are not helping me. Below is the information that I have but the system is not recognizing my codes. I've also tried to get assistance in chat room but that didn't work either.  Thanks in advance!

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {

[2017-02-11 19:16] adrianneagain commented on #13263
Help please with Add Borders Around my Elements not working. I've added CSS style

.thick-green-border {
border-color: green;
border-width: 10px;
border-style: solid;}

Also updated img class to
<img class="smaller-image thick-green-border" src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back. ">

[2017-02-11 19:36] Nerajno commented on #12788
Ran it today but it won't pass. It keeps telling me that my paragraph doesn't contain the required text.
(http://beta.freecodecamp.com/en/challenges/basic-html-and-html5/introduction-to-html5-elements)

![untitled1](https://cloud.githubusercontent.com/assets/18251846/22856810/523cf0ea-f067-11e6-97cb-4ca8d7d2eb9c.jpg)

[2017-02-11 19:52] QuincyLarson commented on #13248
@Drallas I see what you're saying, but I think the current order is fine and how these are usually introduced. Push and Pop are seen as reciprocal actions - same with shift/unshift. Thanks for looking out for the details, though. If you spot any others you think are counter-intuitive, please let us know.

[2017-02-11 19:52] #13248 closed

[2017-02-11 19:54] QuincyLarson commented on #13101
@JosephLivengood OK - thanks for the update. So do you still want to work on this or do you want @BerkeleyTrue to fix it when he gets around to it?

[2017-02-11 19:55] QuincyLarson commented on #13194
I'm closing this due to inactivity. I agree with @raisedadead's assessment.

[2017-02-11 19:55] #13194 closed

[2017-02-11 19:57] QuincyLarson commented on #13206
I would add that we might want to move the preview down below the code input so it can become wider (a switch to toggle between phone and landscape iPad view might be nice, for example).

This way the directions and code could be wider.

We could also potentially remove the fixed height from these elements and let users scroll up and down as necessary.

There is a lot of room for experimentation h

[2017-02-11 19:58] QuincyLarson commented on #13244
I agree with @atjonathan and @erictleung.

Thanks @wjaron for initiating this discussion, and for continuing to look out for potentially confusing wording in our challenges.

[2017-02-11 19:58] #13244 closed

[2017-02-11 20:59] JosephLivengood commented on #13101
@QuincyLarson It may be better for Berkeley so I can focus on finishing up the sections I'm working on

[2017-02-11 21:22] Sirjustin opened #13291 "missing semicolon still passes"
#### Regular Expressions: Match Characters that Occur One or More Times

http://beta.freecodecamp.com/en/challenges/regular-expressions/match-characters-that-occur-one-or-more-times
#### Issue Description

The challenge loads without a semicolon and passes without a semicolon in line 4
#### Browser Information

* Browser Name, Version: chrome
* Operating System: windows 7
* Mobile, Desktop, or Tab

[2017-02-11 21:29] teeleek commented on #13101
Okay

Puttasak insee

เมื่อ 12 ก.พ. 2017 04:01 "Joseph Livengood" <notifications@github.com>
เขียนว่า

[2017-02-11 21:45] Drallas commented on #13248
@QuincyLarson i understand, if it's usually introduced as is done on FCC perhaps this only would add to the confusion. :)

[2017-02-11 22:51] teeleek commented on #13288
Okay

Puttasak insee

เมื่อ 12 ก.พ. 2017 00:45 "Marco Fras" <notifications@github.com> เขียนว่า

[2017-02-11 23:15] vlrodriguez commented on #6546
I found it a bit confusing but I knew memory played a part unfortunately I didnt remember.

[2017-02-11 23:39] PizzaPokerGuy opened #13292 "D3 - Common Issues with Dataset"
D3 Challenges Dataset identifier dataset has already been declared error.

Essentially the D3 challenges won't run after 1 failed attempt.

Challenge [work-with-dynamic-data-in-d3](http://beta.freecodecamp.com/en/challenges/data-visualization-with-d3/work-with-dynamic-data-in-d3) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/5

[2017-02-11 23:40] PizzaPokerGuy commented on #13292
Note that I tried changing const to let to see if this would fix this issue. It did not.

[2017-02-12 00:13] khoboonhua commented on #6541
they are very sensitive with space between the line.hmm

[2017-02-12 00:17] teeleek commented on #6541
Okay

Puttasak insee

เมื่อ 12 ก.พ. 2017 07:15 "jin feng" <notifications@github.com> เขียนว่า

[2017-02-12 00:28] PizzaPokerGuy opened #13293 "This.setattribute is not function"
Failing with this.setattribute is not a function

Challenge [add-labels-to-d3-elements](http://beta.freecodecamp.com/en/challenges/data-visualization-with-d3/add-labels-to-d3-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links

[2017-02-12 00:31] #13293 closed

[2017-02-12 01:55] tommygebru commented on #13289
I think that you have the right idea, while this section of the curriculum does not have a Phone embedded into the page layout, it definitely benefits from having a wide area for both columns.
The text editor has enough room beneath it to have a more accessible and thoughtful output section.
This will perhaps also remove the need for too many scrollbars when the viewport supports multiple columns

[2017-02-12 02:12] Ayushpandey80 commented on #13082
When I turn on the night mode, it says Authorization requires, although I am logged in my a/c.

[2017-02-12 03:42] teeleek commented on #13082
Okay

Puttasak insee

เมื่อ 12 ก.พ. 2017 09:14 "Ayushpandey80" <notifications@github.com> เขียนว่า

When I turn on the night mode, it says Authorization requires, although I
am logged in my a/c.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/freeCodeCamp/freeCodeCamp/issues/13082#issuecomment-279190969>,
or m

[2017-02-12 03:50] #13207 closed

[2017-02-12 03:59] jamos-tay commented on #13236
Hi, could I work on this?

[2017-02-12 04:00] teeleek commented on #13207
Okay

Puttasak insee

เมื่อ 12 ก.พ. 2017 10:51 "Dylan" <notifications@github.com> เขียนว่า

[2017-02-12 06:34] Bamcrab commented on #12753
On a semi-related note, it appears the tests for these challenges specifically require you to ignore the best practices taught up until this point. Will there be updated tests soon/eventually?

(In the mean time, do we just follow what the tests need to get by?)

[2017-02-12 06:57] #13291 closed

[2017-02-12 09:01] #13161 closed

[2017-02-12 09:37] Sashokmd opened #13298 "Issue for:"Turn an Image into a Link""
Ok, so this is my code:

[code]

Everything is correct. I did it how it tells me to do, but everytime i run the tests there is this problem:
"Your a element should be a dead link with a href attribute set to #." Can you fix it please?

[2017-02-12 09:39] #12853 closed

[2017-02-12 09:42] erictleung commented on #13298
@Sashokmd Thank you for reporting this issue. Your code does not satisfy the requirements of the challenge. Please take a look at the instructions again.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specif

[2017-02-12 09:42] #13298 closed

[2017-02-12 09:50] #13280 closed

[2017-02-12 10:00] #13181 closed

[2017-02-12 11:04] forkerino commented on #13280
Thanks @Manish-Giri

[2017-02-12 12:30] Atomk commented on #12979
@Manish-Giri I think you forgot to fix this -> "This technique can be used on any state of an element, but here you'll apply it on hover."

[2017-02-12 13:21] Atomk opened #13300 "[beta] Move HTML and CSS concepts out of Bootstrap section"
Challenge [use-spans-for-inline-elements](http://beta.freecodecamp.com/en/challenges/bootstrap/use-spans-for-inline-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.

---

In the "old" curriculum, the Bootstrap section was used to illustrate some concepts like the difference between

[2017-02-12 20:57] Greenheart opened #13303 "[beta] Improve tests for "Coding Interview Data Structure Questions: How to Create a Circular Queue""
Challenge [how-to-create-a-circular-queue](http://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/how-to-create-a-circular-queue) has an issue.

[These lines](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/08-coding-interview-questions-and-take-home-assignments/coding-interview-data-structure-questions.json#L217-L218) misspell `CircularQueue

[2017-02-12 21:22] Greenheart commented on #13303
Turns out that neither of the tests work because they don't execute `printCollection`.

Example:
[code]

should be

[code]

I'll fix this as well.

[2017-02-12 21:36] teeleek commented on #13303
Okay

Puttasak insee

เมื่อ 13 ก.พ. 2017 04:23 "Samuel Plumppu" <notifications@github.com>
เขียนว่า

[2017-02-12 21:52] gelbelle opened #13304 "JS Shopping List"
Challenge [shopping-list](http://beta.freecodecamp.com/en/challenges/basic-javascript/shopping-list) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

To get my code to be accepted I had

[2017-02-12 21:56] gelbelle opened #13305 "Didn't recognize "Hi World""
Challenge [write-reusable-javascript-with-functions](http://beta.freecodecamp.com/en/challenges/basic-javascript/write-reusable-javascript-with-functions) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if

[2017-02-12 22:00] gelbelle opened #13306 "Multiple Errors after refreshing"
Challenge [global-scope-and-functions](http://beta.freecodecamp.com/en/challenges/basic-javascript/global-scope-and-functions) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

The first

[2017-02-12 22:08] wattycode14 opened #13307 "Change the Font Size of an Element"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20.p%20%7B%0A%20%20font-size%3A%2016px%3B%0A%7D%0A%3C%2Fstyle%3E%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dol

[2017-02-12 22:57] Greenheart commented on #12979
@Atomk Nice catch! I apparently missed that when I reviewed this fix.

Feel free to open a PR for this, since you spotted it! :blush:

[2017-02-12 23:00] rifkegribenes opened #13309 "[beta] Personal Portfolio test suite: Tests not passing?"
#### Challenge Name
FCC: Personal Portfolio (from beta curriculum)
http://codepen.io/rifkegribenes/live/3be35ba678f611794624d5931ed80a7a

#### Issue Description
Test suite says the above pen is not passing the following tests:
"The navbar should contain at least one link that I can click on to navigate to different sections of the page."
and
"The height of the welcome section should be equal to th

[2017-02-12 23:19] gelbelle commented on #6657
Thank you! I NEVER would've gotten this. I'm working in beta too and it hasn't been changed.

[2017-02-12 23:21] Greenheart commented on #13064
@billy-reilly Thanks for the information!

This is how I think it runs, based on working with new challenges for the past month or so:
1. **"Run Tests"** activated.
2. The `head` and `tail` are stringified code snippets coming from the JSON-file of the current section. They are used for setup/shutdown tasks that FCC runs in the background but don't need to show as part of the challengeSeed. I thin

[2017-02-12 23:35] carlilejs commented on #13241
Hey everyone, I just don't know enough about the freeCodeCamp app yet to put this in. If someone wants to take this that'd be great. Sorry, but I'm still very new to freeCodeCamp contributing.

[2017-02-12 23:57] vstrelianyi opened #13310 "Wrong text in the description area (code example)"
It seems that there is a wrong code in the description area:

--------------------------------------------------------------
Let's filter out the cat whose "id" key has a value of 1.
Here's the code to do this:

json = json.filter(function(val) {
  **return (val.id !== 1);**
});
--------------------------------------------------------------
The correct code should be without "!":
**return (val.id

[2017-02-12 23:58] Greenheart opened #13311 "[beta] Unclear instructions/tests for "Coding Interview Data Structure Questions: Create a Set Class""
Challenge [create-a-set-class](http://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/create-a-set-class) has an issue.

It's unclear whether or not the `add()` method should return a boolean indicating whether or not it added the item to the set.

This challenge passes without returning a boolean, but the `challengeSeed` of the next challenge returns booleans. This c

[2017-02-13 00:08] Greenheart opened #13312 "[beta] Additional test required for "Coding Interview Data Structure Questions: Remove from a Set""
Challenge [remove-from-a-set](http://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/remove-from-a-set) has an issue.

I think this challenge needs an additional test to verify that the `remove()` method can handle cases where it's passed items not present in the `Set`. This would require one additional check in the solution:

[code]

This would make the implementatio

[2017-02-13 00:10] Greenheart commented on #13312
Note that the `challengeSeed` of the next challenge uses this check.

[2017-02-13 00:30] Manish-Giri commented on #13312
@Greenheart I'd like to do this, but I have a question. I'm guessing you're proposing that this be added to the `challengeSeed`, as the starter code -
[code]
In that case, the instructions would also need to be amended to make it clear that the task is to **complete** the implementation of `this.remove`, as opposed to creating it from scratch, because now `this.remove()` would already exist in the

[2017-02-13 06:00] Purva7 commented on #6335
Code

`<style>
  .red-text {
    color: red;

  }
  p{
   font-size:16px;
    }

</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
<p>Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip the couch sleep

[2017-02-13 06:39] mfadlans commented on #13307
Hi

you do net to create class for 'p'

just do
<style>
.red-text { color: red;}
p {font-size: 16px;}
</style>

[2017-02-13 06:48] cecilebertin opened #13314 "[beta] Challenge won't pass test despite body font changing to Open Sans and sans-serif"
Challenge [use-a-google-font](http://beta.freecodecamp.com/en/challenges/applied-visual-design/use-a-google-font) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/602.4.8 (KHTML, like Gecko) Version/10.0.3 Safari/602.4.8</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

[2017-02-13 08:03] boyinstruggle commented on #13241
Hi all, first timer here. I will take a look at the code to see if i can do anything to help.

[2017-02-13 08:35] MrTripathi commented on #13307
HI, mfadlans, Thanks. can u please give full code for changing font.

[2017-02-13 08:38] mfadlans commented on #13307
`<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    width: 100px;
  }
</style>`

[2017-02-13 08:54] wattycode14 commented on #13307
thanks ! @mfadlans

[2017-02-13 10:28] OFFLlNE commented on #13307
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-02-13 10:28] #13307 closed

[2017-02-13 10:31] OFFLlNE commented on #13310
@vstrelianyi Thank you for reporting the issue.

It does not have to be == 1, because then it would filter out all the ones that HAVE id of 1
If you think I'm wrong in closing this issue, please reopen it and add further clarification.

Thank you, and happy coding.

[2017-02-13 10:31] #13310 closed

[2017-02-13 10:37] OFFLlNE commented on #13306
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #12706, so I am closing it as a duplicate.

If you think I'm wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2017-02-13 10:37] #13306 closed

[2017-02-13 10:37] vstrelianyi commented on #13310
ok, got it. Just misunderstood the meaning of the phrase "filter out".
Thx,
Viktor

[2017-02-13 10:38] OFFLlNE commented on #13305
@gelbelle Thank you for reporting the issue

Sometimes the tests crash and the page is needed to be refreshed.
Seems that you have solved the issue yourself

Good luck coding

[2017-02-13 10:38] #13305 closed

[2017-02-13 10:43] OFFLlNE commented on #13314
Here are a couple suggestions:
Reload the page and run the tests again. A script may have crashed, preventing the tests from running.
Try the challenge in incognito mode. A plugin might be interfering with the tests.
Try the challenge in a different browser. There may be an issue with your version of Chrome.

[2017-02-13 10:49] #13151 closed

[2017-02-13 11:03] #7697 closed

[2017-02-13 11:36] Greenheart commented on #13312
@Manish-Giri I mean that we add a test that tries to remove an item that doesn't exist, and then assert that it can handle that case.

An example test case could be
[code]
The final sentence(s) of the instructions also need to be changed.

[2017-02-13 12:03] raisedadead commented on #13286
Would love to have this, thanks for the suggestion @caglayanevren

[2017-02-13 12:15] caglayanevren commented on #13286
Thanks @raisedadead
happy to contribute ;)

[2017-02-13 12:20] LavanyaK11 opened #13317 "Give a Background Color to a Div Element"
Challenge [Give a Background Color to a Div Element](https://www.freecodecamp.com/challenges/give-a-background-color-to-a-div-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2017-02-13 12:20] #13317 closed

[2017-02-13 12:21] LavanyaK11 commented on #13317
issue resolved

[2017-02-13 13:18] alibonbon commented on #13314
[challenge ](https://fagken.com)

[2017-02-13 13:47] #13185 closed

[2017-02-13 13:47] raisedadead commented on #13185
Please report back as requested, to re-open

[2017-02-13 13:48] raisedadead commented on #13243
Please report back as requested, to re-open.

[2017-02-13 13:49] raisedadead commented on #13273
Please report back as requested, to re-open.

[2017-02-13 13:49] #13273 closed

[2017-02-13 14:53] efdeveau opened #13318 "Dead Link not being picked up... <a #="http://www.freecatphotoapp.com">cat photos</a>.</p>"
Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-f

[2017-02-13 14:56] #13318 closed

[2017-02-13 14:57] michaelzap94 opened #13319 "Exact change - Correct output but failing test case."
#### Challenge Name
Exact Change

#### Your Code

[code]

#### Screenshot

![image](https://cloud.githubusercontent.com/assets/9117805/22888177/b6524ba2-f1fc-11e6-9c70-5dd0143ca2f6.png)

[2017-02-13 15:19] StevenRB commented on #13319
This reminds me of CS50's greedy algorithm.

[2017-02-13 15:20] phatsnikky commented on #8909
I am having the same problem on this but what I did was I just created  a new CSS selector that just selects p elements, so it goes like this:

<style>
 .red-text {
    color: red;
}
p{
 font-size: 16px;
}
</style>

hope this will help.

[2017-02-13 15:45] StevenRB commented on #8909
This is neat.

[2017-02-13 15:48] rghossi commented on #13241
Is it a good solution to refactor `includes(x)` to `indexOf(x) > -1`? I could make a PR for that...

[2017-02-13 15:49] billy-reilly commented on #13286
@raisedadead could I submit a PR for this?

Should the code be added to `freeCodeCamp/blob/staging/client/less/map.less` ?

[2017-02-13 15:53] flyingstone2 commented on #10560
I copied and pasted oppsGlobal and then it worked on my code.  I passed..  For the last few lessons it would not take my code.  I cleared my history from my computer and now it is working today.  The problem is,  LOL, that now I have no history on the map from freedcodecamp where you track your progress!!!!

[2017-02-13 16:02] Bouncey commented on #13241
@rghossi with regards to @no-stack-dub-stack and the issue with some ES6 challenges that `babel-polyfill` would be bettter.

[2017-02-13 16:04] Bouncey commented on #13241
Just as a note of interest, `.some()` is a better replacement for `.includes()`

[2017-02-13 16:28] rifkegribenes commented on #13304
I had same issue with this lesson, Chrome Version 56.0.2924.87 (64-bit), Mac OS X Yosemite 10.10.5 (14F2109)

[2017-02-13 16:31] SimplySpoons opened #13320 "All progress lost within certification"
I’m currently working my way through the Back End Development Certification. I logged out of my account on FreeCodeCamp, and after logging back in, I’ve lost all of my progress within the Map, and it’s saying that I haven’t completed any of the Back End Development Certification work, however, as of a few days ago, I had completed all the way up to the “Request Header Parser Microservice” section

[2017-02-13 16:36] manur1984 commented on #13241
Hi guys, can anyone tell me how to stop getting messages on email from this chat and else on here, it's really getting annoying!

[2017-02-13 16:38] #13243 closed

[2017-02-13 17:01] dthiberville opened #13322 "Challenge is not accepting correct code."
Challenge [adjust-the-width-of-an-element-using-the-width-property](http://beta.freecodecamp.com/en/challenges/applied-visual-design/adjust-the-width-of-an-element-using-the-width-property) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include

[2017-02-13 17:28] raisedadead commented on #13286
@billy-reilly you are welcome to open a pull request, please test the code locally. Here are [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md).

Thanks a lot for taking a look at this.

[2017-02-13 17:32] raisedadead commented on #13320
@SimplySpoons sorry to here about your issue, we are looking into this.
/cc @BerkeleyTrue @QuincyLarson

[2017-02-13 17:35] dhcodes commented on #13322
@dthiberville what browser?

[2017-02-13 17:36] raisedadead commented on #13319
I am afraid that not all tests are passing with the code you have posted, can you check again, you would have to scroll on the side pane.

![image](https://cloud.githubusercontent.com/assets/1884376/22895020/05e280ee-f241-11e6-8349-2b3b5a8c042a.png)

[2017-02-13 17:43] dthiberville commented on #13322
This is using chrome.

Sent via the Samsung Galaxy S® 6, an AT&T 4G LTE smartphone

-------- Original message --------
From: Dylan <notifications@github.com>
Date: 2/13/17 11:39 AM (GMT-06:00)
To: freeCodeCamp/freeCodeCamp <freeCodeCamp@noreply.github.com>
Cc: "Thiberville, David" <david.thiberville@snhu.edu>, Mention <mention@noreply.github.com>
Subject: Re: [freeCodeCamp/freeCodeCamp] Challenge

[2017-02-13 18:07] manur1984 commented on #13322
How can i opt out from the notifications that keep coming to my email plz

[2017-02-13 18:08] SimplySpoons commented on #13320
@raisedadead Thank you so much! Please let me know if you need any further information from me. Thanks again!

[2017-02-13 18:18] masters-george commented on #12698
I have tried submitting the following code snippets and each one fails:

Version 1 - use strict inside function just before declaring variable with let
function checkScope() {
  "use strict";
  let i = "function scope";
  if (true) {
    i = "block scope";
    console.log("Block scope i is: ", i);
  }
  console.log("Function scope i is: ", i);
  return i;
}

Version 2 - use strict is first line of

[2017-02-13 18:58] BerkeleyTrue commented on #13320
@SimplySpoons Please send a support email to @QuincyLarson at team@freecodecamp.com.

Hope we can get this worked out for you soon.

Happy Coding

[2017-02-13 18:58] #13320 closed

[2017-02-13 18:58] cecilebertin commented on #13314
Hi Lauri,

I tried all of your suggestions. I tried it in Safari and Firefox. I tried it using a new profil on Firefox too.
It does not work :(
BTW: I don't use Chrome :)

[2017-02-13 19:04] Greenheart opened #13323 "[beta] Some feedback on the "Create a Set"-challenges of "Coding Interview Data Structure Questions""
#### Issue Description

I've compiled a few thoughts of what I think could be improved for the "Create a Set"-challenges of the "Coding Interview Data Structure Questions" section. **See the comments in the code below** (which FYI, was the solution I created when working through them).

This is partially covered by #13312 and #13303, but I felt that these suggestions were to much to just be a comm

[2017-02-13 19:04] Manish-Giri commented on #13322
Works for me, on chrome.

[2017-02-13 19:05] SimplySpoons commented on #13320
@BerkeleyTrue I emailed team@freecodecamp.com last Thursday (2/9/2017,) and I didn't hear back. I'll send along another email. Thanks again! :)

[2017-02-13 19:58] vittorioVT opened #13324 "Don't work one point. All checked everything works except one"
#### Challenge Name

https://www.freecodecamp.com/challenges/counting-cards#?solution=%0Avar%20count%20%3D%200%3B%0A%0A%20function%20cc(card)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%0A%20%20%20%20if%20(card%20%3E%3D%202%20%26%26%20card%20%3C%3D6)%20%7B%0A%20%20%20%20%20%20count%20%2B%2B%3B%0A%20%20%20%20%0A%20%20%7D%20else%20if%20(card%20%3E%3D%207%20%26%26%20car

[2017-02-13 20:01] zachnagatani commented on #13292
@PizzaPokerGuy I got it to work by removing the declaration entirely.

[2017-02-13 20:09] QuincyLarson opened #13325 "Berkeley's refactor of how files are built."
This will enable us to asynchronously load libraries as necessary. @berkeleytrue thinks he'll have something to demo by Friday Feb 17.

[2017-02-13 20:10] PizzaPokerGuy commented on #13292
It can also past by clearing the cache and doing a hard reload for those looking to push through for the Beta.

[2017-02-13 20:10] QuincyLarson opened #13326 "Import the React challenges"

[2017-02-13 20:12] QuincyLarson opened #13327 "Get back end boilerplates into version control"
I propose we get all of the back end boilerplates into version control so that issues can be raised against them and we can patch them.

[2017-02-13 20:12] QuincyLarson opened #13328 "Update view for multi-file editor"
- [ ] create split plane module
- [ ] define user layout.

[2017-02-13 20:23] Jelailah opened #13329 "Code"
<style>
  .red-text {
    color: red;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

I can't see any error in the above code. But, I can't go to the next level. It claims there is an issue.

[2017-02-13 20:27] QuincyLarson commented on #13320
@SimplySpoons that's my fault. I'm behind. I'll get back to you ASAP and help you figure this out :)

[2017-02-13 20:36] Diexde opened #13331 "please help"
Challenge [Import a Google Font](https://www.freecodecamp.com/challenges/import-a-google-font#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%20%20p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%20%20font-fa

[2017-02-13 20:38] Diexde commented on #13331
its telling me that my p element isnt in monospace but according to the code it should be, right?

[2017-02-13 20:41] SimplySpoons commented on #13320
@QuincyLarson No worries! Sounds good! Thank you so much :)

[2017-02-13 20:50] RavenZeal opened #13332 "Help with Size Your Images challenge"
#### Challenge Name

Size your images

#### Issue Description

I have tried several times to create a class for smaller images in reference to the challenge Size Your Images and I have tried to paste the code for it in various places in the editor but I can't seem to get past this challenge. What am I doing wrong? (My browser is at 100% zoom).

I appreciate any feedback. :)

#### Browser Informati

[2017-02-13 20:55] #13332 closed

[2017-02-13 20:57] zachnagatani opened #13333 "Confusing Type in Invert SVG Elements"
#### Challenge Name

[Invert SVG Elements](http://beta.freecodecamp.com/en/challenges/data-visualization-with-d3/invert-svg-elements)

#### Issue Description

The issue here is with the wording of the challenge. It's a simple type, but could be confusing to students. Here is the quote:
"In SVG, the origin point for the coordinates is in the upper-left corner. An x coordinate of 0 places a shape on

[2017-02-13 21:02] tommygebru commented on #13329
Have you tried the chatroom already? @Jelailah

[2017-02-13 21:03] tommygebru commented on #13329
https://gitter.im/FreeCodeCamp/Help?source=orgpage

[2017-02-13 21:07] tommygebru commented on #13331
The challenge works for me, try resetting your code for that challenge and try again :)

[2017-02-13 21:12] texas2010 commented on #13241
@manur1984
looks like you may have accidentally subscribed to all notifications for the [FreeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp) repository. To stop receiving notifications please visit the [subscriptions page](https://github.com/FreeCodeCamp/FreeCodeCamp/subscription) and select "Not watching". Additionally, you can visit the [GitHub Help page on managing notification delivery

[2017-02-13 21:14] texas2010 commented on #13331
@Diexde
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding..

[2017-02-13 21:14] #13331 closed

[2017-02-13 21:15] texas2010 commented on #13329
@Jelailah it seem you use phone. but it is better to use computer.   code editor have an issue with phone. sorry about that!

[2017-02-13 21:15] #13329 closed

[2017-02-13 21:18] Diexde commented on #13331
Thank you for your response, you are right it was wrong, I carefully looked
it over and figured out the issue

On Feb 13, 2017 1:17 PM, "Lance" <notifications@github.com> wrote:

[2017-02-13 21:28] texas2010 commented on #13307
@mfadlans,
Please do not post your solution on here. GitHub Issues are for reporting bugs on the website only.

people could cheat because you give solution to them.  So dont do that. thanks!
Happy Coding!

[2017-02-13 21:29] texas2010 commented on #6335
@Purva7
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-02-13 22:50] Jinnd319 commented on #3233
OPEN THIS BACK UP!!!
WTF WOULD YOU INCLUDE EXAMPLE CODE IF YOU CAN'T TEST IT!?!?!

This is what happens when you try to test the getSpeed method.

![bug](https://cloud.githubusercontent.com/assets/19861230/22906928/6c11e150-f20c-11e6-9b8b-147f077bac41.PNG)

Someone needs to fix this.

[2017-02-13 23:30] fatoucha opened #13338 "escape sequence chalenge"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%3D%22FisrtLine%20newline%20backslash%5C%5Cn%20SecondLine%20backslash%20carriage-return%5C%5Cr%20%5CrThirdLine%22%3B%20%2F%2F%20Change%20this%20line%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko)

[2017-02-14 00:05] erictleung commented on #13338
@fatoucha Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free-c

[2017-02-14 00:05] #13338 closed

[2017-02-14 00:25] Manish-Giri commented on #13324
@vittorioVT The problem is in this line - `count =+ 0;`.  In that `else-if`, you're supposed to leave `count` as is, so you probably want `count +=  0`, not `count =+0`. Do that, you'll pass the challenge.

Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) or the [HelpJS Room](https://gitter.im/FreeCodeCamp/HelpJavaScript) if you need help with challenges like these in future. Happ

[2017-02-14 00:37] erictleung commented on #13324
@vittorioVT take the advice the above. Please use the help rooms for coding questions. Happy coding!

[2017-02-14 00:37] #13324 closed

[2017-02-14 01:28] flippynipz commented on #12628
Can I get assigned this if it's still open?

[2017-02-14 01:58] abdullahi14 commented on #1632
You Dont Understand How Much This Helped Me!!!! Thanks

[2017-02-14 02:07] OliviaMcHugh opened #13340 "Button classes"
Challenge [Apply the Default Bootstrap Button Style](https://www.freecodecamp.com/challenges/apply-the-default-bootstrap-button-style#?solution=%3Cdiv%20class%3D%22container-fluid%22%3E%0A%20%20%3Ch3%20class%3D%22text-primary%20text-center%22%3EjQuery%20Playground%3C%2Fh3%3E%0A%20%20%3Cdiv%20class%3D%22row%22%3E%0A%20%20%20%20%3Cdiv%20class%3D%22col-xs-6%22%3E%0A%20%20%20%20%20%20%3Cdiv%20class%3D

[2017-02-14 02:08] flippynipz commented on #12879
If this is still open, can I get assigned it?

[2017-02-14 02:10] #13340 closed

[2017-02-14 04:03] Dexia commented on #13340
Should be inside the ”button“ element to add content

[2017-02-14 08:47] vittorioVT commented on #13324
Thanks!

2017-02-14 2:27 GMT+02:00 Manish Giri <notifications@github.com>:

[2017-02-14 08:59] Jelailah opened #13345 "Challenge is not accepting the correct code"
<style>
  .red-text {
    color: red;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

[2017-02-14 09:00] Jelailah commented on #13345
<style>
  .red-text {
    color: red;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

[2017-02-14 09:01] #13345 closed

[2017-02-14 09:03] Jelailah opened #13346 "Challenge is not accepting the correct code"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-14 09:05] teeleek commented on #13345
Okay

Puttasak insee

เมื่อ 14 ก.พ. 2017 16:03 "Jelailah" <notifications@github.com> เขียนว่า

[2017-02-14 09:08] teeleek commented on #13346
Puttasak insee

[2017-02-14 09:12] Jelailah commented on #13346
<--
<style>
  .red-text {
    color: red;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
--/>

[2017-02-14 12:21] raisedadead commented on #13346
The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](http://forum.freecodecamp.com) for help wi

[2017-02-14 12:21] #13346 closed

[2017-02-14 13:34] LFri opened #13348 "Smallest Common Multiple works in browser but won't pass last test @ freecodecamp"
#### Challenge Name
https://www.freecodecamp.com/challenges/smallest-common-multiple

#### Issue Description

The freecodecamp challenge description is:
-----------------
Find the smallest common multiple of the provided parameters that can be evenly divided by both, as well as by all sequential numbers in the range between these parameters.

The range will be an array of two numbers that will not

[2017-02-14 14:30] jamos-tay opened #13349 "Extra close brace in description"
#### Challenge Name

[Use the CSS Transform Property to Scale an Element on Hover](https://beta.freecodecamp.com/en/challenges/applied-visual-design/use-the-css-transform-property-to-scale-an-element-on-hover)

#### Issue Description

Example code in description contains a close brace which probably shouldn't be there:

#### Screenshot

![image](https://cloud.githubusercontent.com/assets/19278089/

[2017-02-14 14:31] OFFLlNE commented on #13348
@LFri Thank you for reporting your issue.

Your code did work for me, you might try the following:
Reload the page and run the tests again. A script may have crashed, preventing the tests from running.
Try the challenge in incognito mode. A plugin might be interfering with the tests.
Try the challenge in a different browser. There may be an issue with your version of Chrome.

[2017-02-14 15:37] robbawebba commented on #12698
@masters-george Thanks for your feedback! The tests for the ES6 challenges are not working properly at the moment, hence why they are in beta. Feel free to keep working on these challenges, but keep in mind that the tests for these challenges aren't working at the moment. Happy coding!

[2017-02-14 15:45] flowerboy777 opened #13351 "[beta] correct code not accepted"
#### Challenge Name
http://beta.freecodecamp.com/en/challenges/basic-css/change-the-color-of-text

#### Issue Description
When using inline style to change the h2 element to the color red, my output says "try again" and that I need to change the h2 color to red. I have tried both inline style and using style tags.

UPDATE: this also occurred a few challenges later, when directed to change h2 eleme

[2017-02-14 15:55] rdsandovalm commented on #11882
Hi, I have a question whit this challenge..

why dont work the following code?, it isnt the same of the mszaf but whitout brackets...? the dot  dont works?
thank you

`var myObj = {
  gift: "pony",
  pet: "kitten",
  bed: "sleigh"
};

function checkObj(checkProp) {
  // Your Code Here
  if (myObj.hasOwnProperty(checkProp)==true){;
  return myObj.checkProp;
}else{
  return "Not Found";
}
}
// Test

[2017-02-14 16:46] fortMaximus commented on #13241
I would like to contribute.

[2017-02-14 17:00] #13349 closed

[2017-02-14 18:16] tommygebru opened #13352 "[beta][enhancement] example code window within the instructions panel"
Regular Expressions: Match Numbers and Letters of the Alphabet
http://beta.freecodecamp.com/en/challenges/regular-expressions/match-numbers-and-letters-of-the-alphabet

There is a code block that is too long in line length, it forces an overflow-y.

We can instead create a new line for the comment

This accomplishes 2 things:

-this will remove the scrollbar
-allows everyone the opportunity to rea

[2017-02-14 18:54] shashank7200 opened #13353 "[Applied Visual Design - FCC(Beta)]: Tests are Failing While having Correct Code."
Challenge [create-movement-using-css-animation](http://beta.freecodecamp.com/en/challenges/applied-visual-design/create-movement-using-css-animation) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[2017-02-14 20:15] Cxlby opened #13354 "Is this a bug or am I doing something wrong?"
Challenge [Override Styles in Subsequent CSS](https://www.freecodecamp.com/challenges/override-styles-in-subsequent-css#?solution=%0A%3Cstyle%3E%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20black%3B%0A%20%20%20%20font-family%3A%20Monospace%3B%0A%20%20%20%20color%3A%20green%3B%0A%20%20%7D%0A%20%20%0A%20%20.pink-text%20%7B%0A%20%20%20%20color%3A%20pink%3B%0A%20%20%7D%0A%20%20.blue-text%20%

[2017-02-14 20:22] #13354 closed

[2017-02-14 20:38] saadmo commented on #6255
Thank goodness I'm not alone, I thought I was dumb for trying (a || b < 0)

[2017-02-14 21:00] JTMKoenig opened #13355 "Anchor Links Do Not Work on Mobile Phones"
Challenge [Build a Personal Portfolio Webpage](https://www.freecodecamp.com/challenges/build-a-personal-portfolio-webpage) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

The project specifies

[2017-02-14 21:34] #13333 closed

[2017-02-14 22:16] robbawebba commented on #12698
@HKuz just a heads up, I'm going to start working on the next 4 challenges: Nested Object Destructuring, Array Destructuring, Array Destructuring with Rest Operator, and Destructuring Function Parameters

[2017-02-14 22:34] randelldawson opened #13356 "One of the Layout Tests seems incorrect"
Challenge [build-a-technical-documentation-page](http://beta.freecodecamp.com/en/challenges/applied-responsive-web-design-projects/build-a-technical-documentation-page) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots i

[2017-02-14 23:28] DizzysContent commented on #6450
var changed = 0;

function change(num) {
  return (num + 5) / 3;
}

changed = change(10);

i don't understand that. how does it add up to 10? I've been stuck on this challenge for awhile

[2017-02-15 00:02] cdrainxv commented on #13353
@shashank7200: You are missing some of the challenge code. Where is your `top` css properties at all the keyframes? Reset the code and reattempt.

Note: There are a handful of [Help rooms](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390) to help with non-issue related questions such as above.

[2017-02-15 00:14] #13309 closed

[2017-02-15 00:54] Brandonpeops88 commented on #10535
Thankyou @alexiss23!

[2017-02-15 01:52] vipuldcoder opened #13357 "Bug in code editor"
Challenge [Set the Font Family of an Element](https://www.freecodecamp.com/challenges/set-the-font-family-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitt

[2017-02-15 01:52] vipuldcoder opened #13358 "Bug in code editor"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-15 02:34] #13358 closed

[2017-02-15 02:35] erictleung commented on #13357
@vipuldcoder thanks for the issue. There's not enough information for me to know what kind of bug you're experiencing, but there is a well-known bug here https://github.com/freeCodeCamp/freeCodeCamp/issues/7847. Can you confirm that it is this you're experiencing? Thanks!

[2017-02-15 02:49] cbtaylor2 commented on #13317
I'm having major issues with giving Color to a Div Element

 <p>Things cats love:</p>
  <ul>
    <li>cat nip</li>
    <li>laser pointers</li>
    <li>lasagna</li>
  </ul>
  <p>Top 3 things cats hate:</p>
  <ol>
    <li>flea treatment</li>
    <li>thunder</li>
    <li>other cats</li>
  </ol>
</div>

<form action="/submit-cat-photo">

[2017-02-15 04:29] HarryPeck opened #13359 "WHat am i doing wrong"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2017-02-15 04:29] HarryPeck commented on #13359
![image](https://cloud.githubusercontent.com/assets/20569992/22960646/369b5d28-f38b-11e6-99ad-54186f83dbb8.png)

[2017-02-15 04:35] AaronM311 commented on #13359
You forgot the -er on class="Smaller image".

Let me know if this fixes it. :)

On Feb 14, 2017 11:33 PM, "HarryPeck" <notifications@github.com> wrote:

[2017-02-15 05:29] raisedadead commented on #13359
Hi @HarryPeck

Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](http

[2017-02-15 05:29] #13359 closed

[2017-02-15 07:31] zeonji commented on #6306
myDecimal = ourDecimal;

[2017-02-15 08:00] levulose commented on #6657
this lesson makes zero sense

[2017-02-15 11:19] shashank7200 commented on #13353
Issue is not reproducing after some changes, All tests are passing! @raisedadead Please Close the Issue. @cdrainxv Thanks for your Suggestion.

[2017-02-15 11:19] #13353 closed

[2017-02-15 12:37] pratickjha commented on #13351
Code is fine try to do it in a different browser. I also faced same difficulties but now it works fine on chrome