[2016-07-11 02:36] Enkkee commented on #1956
Hi, Could you explain this problem?
My code was like this but it was not working until when i made copy of LisB2016's code. What is it? What happened here? Should i make copy paste? I left my code here. Here is no difference at all.
<script>
$(document).ready(function() {
$("button").addClass("animated");
$(".btn").addClass("shake")
$("#target1").addClass("btn-primary");
});
</script>

[2016-07-11 03:23] joshwilder opened #9672 "Challenge won't run my code"
Challenge [Change Text Inside an Element Using jQuery](https://www.freecodecamp.com/challenges/change-text-inside-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%24(%22%23target4%22).hmtl(%22%3Cem%3E%23target4%3C%2Fem%3E%22)%20%20%20%20%0A%20%20%7D)%3B%0Afcces%0A%0A%3C!--%20Only%20chan

[2016-07-11 03:35] chuckiebluestar commented on #6143
Thanks for this.  I was tripped up on
**product = arr[i]*arr[j]**
instead of **product *= [i][j]**

[2016-07-11 04:28] BFunk86 commented on #9547
If you read the Wikipedia documentation (which is very daunting) there are a few pages that explain this step. I remember trying adding the whole callback=? and it still dodnt work for me. I had to add dataType="json" to get it to work. The links can be found here:
https://m.mediawiki.org/wiki/Manual:CORS
https://m.mediawiki.org/wiki/API:Cross-site_requests
Or you can check put my code here: http:

[2016-07-11 05:10] h3535000 commented on #9672
you click "reset" button  and rewrite  your code,it will be ok.

[2016-07-11 06:29] raisedadead commented on #9671
Closing as duplicate of #7847

[2016-07-11 06:29] #9671 closed

[2016-07-11 06:30] Bouncey commented on #9672
@joshwilder

There is an issue with your code. Please use the help button to get advice on why it is not working

[2016-07-11 06:31] raisedadead commented on #9672
Thanks @Bouncey .

Closing as not a bug.

[2016-07-11 06:31] #9672 closed

[2016-07-11 08:15] kumhr commented on #4178
Finally :)

var Bike = function() {

  // Only change code below this line.
  var gear;

  this.setGear = function(change) {
    gear = change;
  };
  this.getGear = function() {
    return gear;
  };
};

[2016-07-11 08:47] #9082 closed

[2016-07-11 08:47] #9289 closed

[2016-07-11 08:47] #9470 closed

[2016-07-11 08:49] raisedadead commented on #9658
Possibly fixed by #9490 , please wait for a couple of days before this reaches the main website.

[2016-07-11 08:52] raisedadead commented on #9652
This is possibly due to a bug in looprotect (A library that we use to check for infinite conditions).

[2016-07-11 08:59] raisedadead commented on #9637
It's just a visual style. Lot of quote sites use them and lots do not
For instance:

![image](https://cloud.githubusercontent.com/assets/1884376/16725187/c3bcc008-4773-11e6-8d59-a41fb61b9bbc.png)

Closing as bikeshedding.

[2016-07-11 08:59] #9637 closed

[2016-07-11 09:00] #9560 closed

[2016-07-11 09:02] raisedadead commented on #9498
Closing as stale, please comment on the thread if you are still facing this issue.

[2016-07-11 09:02] #9498 closed

[2016-07-11 09:47] Bouncey opened #9673 "Challenge tests for jQuery fail to run"
Challenge tests for jQuery fail to run if syntax errors are present in a campers code.

Examples:
#9289
#9082
#9470
#9672
#9698

What is stopping the tests running? Can we fix it?

Is there a way to lint jQuery in codemirror so campers get visual clues to syntax errors, like in the JS challenges?

-Or-

When there is a syntax error, can we present a modal to the camper saying there is a syntax err

[2016-07-11 09:54] atjonathan commented on #9619
Fixed in #9666

[2016-07-11 09:54] #9619 closed

[2016-07-11 10:17] raisedadead commented on #9505
Closing as stale, as mentioned this should have been fixed.

[2016-07-11 10:17] #9505 closed

[2016-07-11 10:18] raisedadead commented on #9535
Closing as stale. Please comment on this thread if you are still facing any issues.

[2016-07-11 10:18] #9535 closed

[2016-07-11 10:27] andela-bebowe commented on #9646
Can I work on this I am a first-timer ?

[2016-07-11 10:29] andela-bebowe commented on #9646
@erictleung Can I work on this I am a first-timer ?

[2016-07-11 10:38] sharkmanch opened #9674 "Computer Basics challenges : Take me to questions not working"
i am having bug or error whatever at stage "Computer Basics" where when i click "take me to the questions it gives no reaction at all"
I tried both google chrome and internet explorer but its the same. But when i asked other users they claims that its working for them so i wonder if its about my firewall or what.

#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Nam

[2016-07-11 10:57] atjonathan commented on #9646
@andela-bebowe, certainly :+1:

[2016-07-11 10:57] raisedadead commented on #9674
Hi @sharkmanch

Thanks for reporting.

Please open issues after you confirm that others are facing the same in the chat room.

Nonetheless,
Alternatively check your browser's console (Open Dev tools), and visit the console tab. Then reload.
Also you haven't mentioned which OS you are on?
Any screenshots that you can share?

Thanks.

[2016-07-11 11:09] #7292 closed

[2016-07-11 12:51] restartedwill commented on #9652
Can the error message also be updated to report the line where the supposed error (extra semicolon) exists? Debugging is a matter of removing and running for each semicolon otherwise (in this case) since the code was valid, and this is bad development practise. Or is looprotect an unchangeable module?

[2016-07-11 13:29] raisedadead commented on #9652
The current workaround is to add `//noprotect` on top of the code for this specific solution. However, yeah we do need a fix for this condition.

[code]

[2016-07-11 13:30] raisedadead commented on #9652
Taging as a bug, because this can potentialy affect any solution on any challenge that uses syntax similar to the Opening Post.

[2016-07-11 13:48] PrashantBisht commented on #5940
You have missed one full stop at the end of sentence apply it and you will pass test cases.
myStr="I am a \"double quoted\" string inside \"double quotes\".";

[2016-07-11 16:48] willfree108 opened #9677 "No repeat please not valid"
#### No repeat please

https://www.freecodecamp.com/challenges/no-repeats-please

#### Issue Description

I got the right answer which also display in the black box but exept the first test none are valid.
So I can't valid this challenge despite having the good answer.

#### Browser Information

* Browser Name, Version: Firefox 47.0.1 and Google chrome
* Operating System: win 7
* Mobile, Desktop,

[2016-07-11 18:13] Bouncey commented on #9677
Please see #9199

Although your code is correct. Manipulating global variables invalidates your code when we come to test it. We are discussing this in the linked-to-issue above

[2016-07-11 18:17] #9646 closed

[2016-07-11 18:56] willfree108 commented on #9677
Alright, thank you a lot !

[2016-07-11 18:56] #9677 closed

[2016-07-11 19:37] dlwebdev opened #9678 "Broken link and confusing language (Heroku or Cloud 9 for API Projects)?"
#### Challenge Name
https://www.freecodecamp.com/challenges/request-header-parser-microservice

#### Issue Description

I'm working through the API Projects challenges and came across a few things.

First off, there is a broken link to the following in #2 for those challenges:
https://freecodecamp.com/challenges/get-set-for-our-back-end-development-projects

I believe that link should go to: https

[2016-07-11 19:47] SzeregowiecPL commented on #9196
![9ae6a25c9a7b4ae9b7429e227f07c3ea](https://cloud.githubusercontent.com/assets/18371979/16744370/14fdb246-47b1-11e6-9aef-9a5fd4046a08.png)

[2016-07-11 20:51] danyim opened #9679 "Reference to lesson "get-set-for-our-back-end-development-projects" does not exist"
Challenge [URL Shortener Microservice](https://www.freecodecamp.com/challenges/url-shortener-microservice) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

There is a link to [get-set-for-our-

[2016-07-11 21:38] JMihkel opened #9680 "Two Same Challenges In a Row"
Challenge [Add Different Padding to Each Side of an Element]

There are 2 exactly same Challenges in a row
![image](https://cloud.githubusercontent.com/assets/20272309/16747678/d1dc67d8-47c8-11e6-8965-0250c6c0c109.png)

[2016-07-11 21:41] #9680 closed

[2016-07-11 22:49] alsadawy opened #9682 "Size your Images challange"
i write the code as following
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .smaller-image {
    width: 500px;
  }
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<img class="smaller-image" src="ht

[2016-07-11 22:51] #9682 closed

[2016-07-11 23:13] brianzelip commented on #7098
Ahh I get it now -- instead of ["brute forcing"](#6869) all multiples up to a certain point, your approach considers remainders (`%`). Nice.

While reading your code I recognized an easy performance boost edit to make -- change `count` and `i` from 1 to the minimum value in the passed array, like so:

[code]

Cheers!

[2016-07-11 23:40] brianzelip commented on #7098
Another fyi regarding your posted solution here -- the simple `arr.sort();` will provide bad answers for passed arrays such as `[10,2]` and `[13,7]` (see the [MDN docs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort#Description) for the reason why this is true).

So you'd need to add a compare function like:

[code]

[2016-07-12 00:46] BerkeleyTrue commented on #9346
Moving my list to issue tracker so I'll reopen this.

[2016-07-12 03:08] BerkeleyTrue opened #9684 "[beta] Navigating to Challenge should update page title"

[2016-07-12 03:34] joufflu commented on #6249
Why the brackets in ?

[2016-07-12 04:45] egnosis opened #9685 "My prior code work appears to have disappeared for mutiple exercises .... ?!?"
In reviewing my prior work (see screen scrape below), I note that the code I had used to complete the assignments has been deleted?!?  So, if I want to review my earlier efforts, I am finding that I have to actually redo the assignments.  Is this by design?  Is there  a way to restore the coding I have completed for the first part of the FCC HTML section?!?

-Eric Garcia

(screen scrape of work I'

[2016-07-12 05:10] BerkeleyTrue commented on #9350
Live on Beta

[2016-07-12 05:10] #9350 closed

[2016-07-12 05:16] QuincyLarson opened #9686 "[beta] Unable to change language settings (nothing happens after selection)"

[2016-07-12 05:20] Ramya09Srinivasan commented on #5825
please make it clear for me this again

[2016-07-12 06:24] Dorislyx opened #9687 "Bug"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-07-12 06:35] flipsyde606 commented on #9652
Shall I look into this?

[2016-07-12 06:38] raisedadead commented on #9652
@flipsyde606:
By all means, any issue that's tagged as Help Wanted is open to all for a fix.
You needn't request permission. Thanks a lot.

[2016-07-12 06:39] #9687 closed

[2016-07-12 07:15] marienhof commented on #9645
Thanks folks! Just removing the cache helped

[2016-07-12 07:22] sharkmanch commented on #9674
Dear guys,
I apologize for late reply. Ifound a way to make it work, using Safari to open it is working for me.
However the problem is still happening on chrome or IE platform.
I noticed one problem i didnt mention. There 're suppose to be videos shown at the top of the page to introduce the computer basics. I can see it on safari its perfectly working but its not shown on chrome or IE. I think it

[2016-07-12 08:07] seannam commented on #9280
@Takaia
Really don't know what to say! I hope you get this figured out.
![screenshot 2016-07-12 17 06 35](https://cloud.githubusercontent.com/assets/4271055/16759695/1f726c38-4853-11e6-9840-024d0a42e7fe.png)

[2016-07-12 08:09] seannam commented on #9280
@Takaia Do you have any other schools/colleges on the education section? I have two on mine as a reference.

[2016-07-12 08:38] raisedadead commented on #9674
Okay, this clears up the issue a bit more, clearly youtube (where the videos are hosted and embedded on the challenges page) is getting blocked somehow by the browser settings or the firewall.

If you open up the Developer tools on chrome (<kbd>F12</kbd> or Settings > More Tools > Developer Tools), you should see the error logs on the Console Tab.

Something like below or similar:
![image](https:/

[2016-07-12 09:42] IrenaGlisic commented on #5701
![screen shot 2016-07-12 at 11 40 23](https://cloud.githubusercontent.com/assets/20281096/16762640/9fe1b528-4825-11e6-8db3-76880e09cd4e.png)

[2016-07-12 10:56] ZakiMalik opened #9688 "One test case is faulty"
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=%0Afunction%20palindrome(str)%20%7B%0A%20%20%2F%2F%20Good%20luck!%0A%20%20str%20%3D%20str.replace(%2F%5B%5Ea-zA-Z%5D%2Fgi%2C%20'')%3B%0A%20%20str%20%3D%20str.toLowerCase()%3B%0A%20%20strRev%20%3D%20str.split('')%3B%0A%20%20strRev%20%3D%20strRev.reverse()%3B%0A%20%20strRev%20%3D%20strRev.join('

[2016-07-12 10:59] #9688 closed

[2016-07-12 11:00] ZakiMalik commented on #9688
It's supposed to be alpha numeric characters that should be preserved-- my bad.

[2016-07-12 11:20] sharkmanch commented on #9674
Uncaught TypeError: Array.from is not a functionbundle-cad26b4d13.js:16

this is the error i saw.

[2016-07-12 11:31] ajaykandari222 commented on #9314
var myStr= "FirstLine\n\\SecondLine\\\rThirdLine";   // Change this line

this will work fine

[2016-07-12 11:34] raisedadead commented on #9674
@BerkeleyTrue any ideas for the above error?

[2016-07-12 11:41] raisedadead commented on #9685
Hey Eric,

Can you help us with the date prior to which the challenges are not appearing on your portfolio?
I can see that the challenges that you mention above are visible on your portfolio.

https://www.freecodecamp.com/egnosis

If you recently cleared your cache and cookies then its possible that you may not see the code you submitted only in case you visit from the map page.

However if you vi

[2016-07-12 11:52] Wilson-lambda opened #9689 "Bug,can't pass exam"
Challenge [Finders Keepers](https://www.freecodecamp.com/challenges/finders-keepers#?solution=%0Afunction%20findElement(arr%2C%20func)%20%7B%0A%20%20var%20a%3D%20arr.filter(func)%3B%0A%20%20return%20a.length%3D%3D%3D0%3Fundefined%3Aa%3B%0A%7D%0A%0Avar%20b%3DfindElement(%5B1%2C%202%2C%203%2C%204%5D%2C%20function(num)%7B%20return%20num%20%25%202%20%3D%3D%3D%200%3B%20%7D)%3B%0Aconsole.log(b)%3B%0A) h

[2016-07-12 11:53] EdwardThawne commented on #9558
edwardthawne:~/workspace $ npm dist-tag ls
npm ERR! dist-tag ls Couldn't get dist-tag data for chat-example
npm ERR! Linux 4.2.0-c9
npm ERR! argv "/home/ubuntu/.nvm/versions/node/v4.4.5/bin/node" "/home/ubuntu/.nvm/versions/node/v4.4.5/bin/npm" "dist-tag" "ls"
npm ERR! node v4.4.5
npm ERR! npm  v3.10.5
npm ERR! code E404

npm ERR! 404 missing : -/package/chat-example/dist-tags

npm ERR! Please inc

[2016-07-12 12:50] atjonathan commented on #9679
@danyim, thanks for catching this :+1:
**To First Timer:**
You will need to change [this](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/03-back-end-development-certification/api-projects.json#L163), [this](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/03-back-end-development-certification/api-projects.json#L197), [this](https://github.com/Fre

[2016-07-12 12:53] atjonathan commented on #9678
The broken links were already addressed in #9679. You should use c9 for coding and Heroku for deploying the app. https://github.com/FreeCodeCamp/FreeCodeCamp/issues/4436 is the issue for creating a waypoint on deploying to Heroku.

[2016-07-12 12:53] #9678 closed

[2016-07-12 13:03] Chrisophogus commented on #7018
I think this is an issue.
The example code is:

`switch(val) {
  case 1:
  case 2:
  case 3:
    result = "1, 2, or 3";
    break;
  case 4:
    result = "4 alone";
}`

But to complete the challenge your code should be:

`switch (val)   {
  case 1:
  case 2:
  case 3:
    return "Low";
  case 4:
  case 5:
  case 6:
    return "Mid";
  case 7:
  case 8:
  case 9:
    return "High";
}
  `

Or at lea

[2016-07-12 13:36] dhcodes commented on #9689
@Wilson-lambda I'm not sure the tests will pass if you modify the function at the bottom because I believe that is used for tests. I reset the code and used your findElement function and returned [8,10] for the first test. As you say, 10 does meet the criteria of being divisible by 2 with no remainder but the instructions say:

So in that case, you'll only want to return 8. Try asking in the [FCC

[2016-07-12 13:40] raisedadead commented on #9689
@Wilson-lambda:
Your code is incorrect. Please review the instructions, as always please confirm issues in the Chat room as before reporting.

@dhcodes thanks for the comment.

[2016-07-12 13:40] #9689 closed

[2016-07-12 14:44] rajeejones commented on #3264
I am also having a similar issue:
"No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://s.codepen.io' is therefore not allowed access."

If I use Postman, my GET request is just fine, but I get that error above on codepen

[2016-07-12 14:46] BerkeleyTrue commented on #9674
@sharkmanch What version of chrome are you using?

[2016-07-12 14:52] MarianaThe opened #9690 "button"
Challenge [Add a Submit Button to a Form](https://www.freecodecamp.com/challenges/add-a-submit-button-to-a-form#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobst

[2016-07-12 14:55] raisedadead commented on #9690
@MarianaThe

Also I can pass the challenge with the above code.

[2016-07-12 15:03] dwd2010 commented on #9690
I dont see any problem. all code is correct.

[2016-07-12 15:06] MarianaThe commented on #9690
Yes, I am sorry, I was just trying something. I thought I could use GitHub to remember code for further project. Really sorry.

[2016-07-12 15:06] #9690 closed

[2016-07-12 15:09] raisedadead commented on #9690
Hey @MarianaThe No problem. You can use Github Gist instead. They are awesome!
Here is a link https://gist.github.com/

Thanks and happy coding!

[2016-07-12 15:41] MarianaThe commented on #9690
Thank you very much.
:)

[2016-07-12 15:53] castellaccilaura commented on #3659
guys, i need help too...lest try to do this together...any of you started the proyect? at least in a rudimentary way (scuse my english, i'm argentinian and self-taught person)

[2016-07-12 16:28] andmkv opened #9691 "Correct results not accepted in Diff Two Arrays"
#### Challenge Name

Diff Two Arrays

#### Issue Description

Hi,
I have a problem with the Diff Two Arrays challenge - my code seems to give the following expected results, however they're not accepted by some reason:
[1, "calf", 3, "piglet", 7, "filly"]
["diorite", "pink wool"]

other results are accepted.

Thanks in advance!

#### Browser Information

* Browser Name, Version: Chrome, Internet E

[2016-07-12 16:47] mack318 commented on #9682
the image should be   { width: 100px }    not 500px as you have here

[2016-07-12 17:02] mack318 commented on #9589
Crazy but i did the same thing.   look closely at the opening curly bracket for the p element, then look for the closing bracket ???  right there under the image style we created.
![mistake](https://cloud.githubusercontent.com/assets/6243323/16775895/b3890e22-4817-11e6-8375-d5a98be88403.png)

[2016-07-12 17:04] #9195 closed

[2016-07-12 17:06] dwd2010 commented on #9589
@mack318, you forget to create class in img element.

[2016-07-12 17:17] mack318 commented on #9589
you rock dwd2010.   yes I did forget that too, and didn't even notice

[2016-07-12 17:18] Ollysho commented on #9021
I would like to reopen this, maybe I'm understanding it wrong, but that should return false no? me is not the last letter or word of that string

[2016-07-12 17:20] X00002336 opened #9693 "Challenge Change the Font Size of an Element has an issue."
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20color%3A%20red%3B%0A%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%0A%20%20%20p%20%7B%0A%20%C2%A0%20%20%20%20font-size%3A%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-

[2016-07-12 17:20] X00002336 commented on #9693
Between the style tags, give the p elements font-size of 16px. Browser and Text zoom should be at 100%.
running it in crome and IE. wont let me pass.

[2016-07-12 17:22] dwd2010 commented on #9589
@mack318, if you need a help with challenges.
You could go to [Help chat room](https://gitter.im/FreeCodeCamp/Help). People will help you.

Happy Coding!

[2016-07-12 17:24] Ollysho opened #9694 "Confirm the Ending Instruction issue"
#### Challenge Name
Confirm the Ending

#### Issue Description
<img src="http://image.prntscr.com/image/c7e8c8f8a6e24808b91ae2e5cf67bea1.png">
That is what you need to do in order to pass this specific excercise, but one of the parameters is completely the opposite of what you should do.
<img src="http://image.prntscr.com/image/7409c7bdf5614d1ba9586527c53846c0.png">

**confirmEnding("He has to giv

[2016-07-12 17:34] dhcodes commented on #9693
@X00002336 I'm not sure what is causing the issue. Did you copy/paste it from another place? I ask because if you delete `p {
      font-size: 16px;
  }`
and then retype it, it works.

[2016-07-12 17:37] dhcodes commented on #9694
@Ollysho I believe it is correct. The target does not need to match the last whole word in the string. Therefore, "name" in the `str` does match "me" in the `target` because the last two letters of name are "me".

[2016-07-12 17:42] Ollysho commented on #9694
@dhcodes Ahh. That makes sense. My misunderstanding then.

Cheers!

[2016-07-12 17:42] #9694 closed

[2016-07-12 18:14] #9693 closed

[2016-07-12 18:17] Bouncey commented on #9691
Please see #9199

Although your code is correct. Manipulating global variables invalidates your code when we come to test it. We are discussing this in the linked-to-issue above

[2016-07-12 18:18] Bouncey commented on #9199
Do we have a way forward with this?

[2016-07-12 18:21] BerkeleyTrue opened #9696 "Add note about translations degrading to english"
cc/ @QuincyLarson

[2016-07-12 18:22] raisedadead commented on #9691
@andmkv

Your code is 100% valid. And apologies that we currently do not have a mechanism to support global variables. Please follow the thread mentioned by @Bouncey above.

Alternatively you may pass this with some tactical approach like this
[code]

Closing as a duplicate of #9199

[2016-07-12 18:22] #9691 closed

[2016-07-12 18:25] QuincyLarson commented on #9696
Our community has translated many of our challenges. If we don't have a translation for a challenge, it will be in English.

[2016-07-12 18:35] BerkeleyTrue opened #9697 "Add language translation missing message"
As an user, when completing challenges in a non-english language and running into a challenge that does not have an active translation, I want a notification explaining that translation is being worked on, and the current one is missing. And invitation to contribute with it, perhaps?

Said notification should link to the translation repo's issues, with the respective language tags selected.

Activ

[2016-07-12 19:01] BerkeleyTrue commented on #8808
Please check if you are now able to reach Free Code Camp from effected networks.

This issue may have been resolved.

[2016-07-12 19:01] alsadawy commented on #9682
You are right , but i closed it just i saw the error

[2016-07-12 19:09] benivegna commented on #8808
Now I'm receiving a 403 forbidden.  I can still reach the site fine with a vpn, however.

[2016-07-12 19:38] #9114 closed

[2016-07-12 19:55] benivegna commented on #8808
Scratch that 403, everything is working fine now.  Thanks Berkeley!

[2016-07-12 20:06] usertwelve commented on #8808
Same here. Receiving 403 forbidden error.

[2016-07-12 22:15] ekwong commented on #8808
I'm getting a 403 forbidden error as well now.

[2016-07-12 23:01] BerkeleyTrue commented on #9346
This one is quite tuff. Finding the solution that would take the least time to implement while still being performant and meeting the requirements is not that easy.

I think the way forward is to use a tree structure that represents the map list (which is actually a tree).

When the user updates the filter regex the list of challenges, which in this case are the leaves of the tree.

Then recur up

[2016-07-12 23:02] BerkeleyTrue commented on #8808
Can someone screen cap this 403?

[2016-07-12 23:04] Skrifar opened #9698 "The "Run Tests (ctrl + enter)" button is not responding."
Challenge [Target the same element with multiple jQuery Selectors](https://www.freecodecamp.com/challenges/target-the-same-element-with-multiple-jquery-selectors#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%24(%22button%22).addclass(%22animated%22)%3B%0A%20%20%20%24(%22.btn%22).addclass(%22shake%22)%3B%0A%20%20%20%24(%22%23target1%22).addclass(%22btn-primary%22)%3B%0

[2016-07-12 23:43] usertwelve commented on #8808
![403](https://cloud.githubusercontent.com/assets/20324911/16787250/ead121de-4868-11e6-9b55-01171a426062.jpg)

[2016-07-13 00:05] jlorenzo123 opened #9699 "Chalenges marked as complete but do NOT show solutions"
#### Challenge Name
 https://www.freecodecamp.com/challenges/comparison-with-the-less-than-or-equal-to-operator

#### Issue Description
Chalenges show green check mark, but do not show my solutions this has been a problem since the very 1st challenge to the challenge above

#### Browser Information
FireFox ,  Chrome  (PC, Dell, Windows 10 , Latest browser version )

[2016-07-13 01:03] Jaskaranbir commented on #9699
Directly browsing from map will not show your solutions. To check your solutions, you have to open and view your profile where all your completed challenges are listed and you will have an option to view your solution too. To view your profile, just click on your profile picture thumbnail at top right corner.

[2016-07-13 02:36] lasergunpew opened #9701 "clear code function"
Challenge [Headline with the h2 Element](https://www.freecodecamp.com/challenges/headline-with-the-h2-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; .NET4.0C; .NET4.0E; rv:11.0) like Gecko</code>.
Please describe how to reproduce this issue, and include links to scr

[2016-07-13 02:51] erictleung commented on #9701
@lasergunpew don't worry, if you visit your Free Code Camp page here https://www.freecodecamp.com/lasergunpew, you can see the solutions you have submitted for each challenge you have passed. I hope that helps.

Please note that GitHub issues are for bug issues. Next time, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help) or [FreeCodeCamp main room](https://gitter.

[2016-07-13 02:51] #9701 closed

[2016-07-13 02:53] erictleung commented on #9699
@jlorenzo123 what @Jaskaranbir says is correct. Go to your Free Code Camp page at `https://www.freecodecamp.com/username`, where `username` is your username for Free Code Camp. There, you'll be able to see your solutions.Let us know if that helps.

[2016-07-13 03:38] sharkmanch commented on #9674
ver. 31.0.1650.63 m

[2016-07-13 03:47] sharkmanch commented on #9674
@BerkeleyTrue @raisedadead  Problem solved. I simply updated google chrome and its working now, thanks guys.

[2016-07-13 03:51] viruzx opened #9703 "Use HTTPS for codepen demos"
Challenge [Show the Local Weather](https://www.freecodecamp.com/challenges/show-the-local-weather) has an issue.

I didn't manually mess with most challenges but I doubt this is the only instance of this. Like most privacy aware users, I run HTTPS-Everywhere and it makes codepens fail when they load insecure ressources.

Change http: for https:

[2016-07-13 05:05] qmikew1 commented on #9703
Not a lot of detail about (other than an extension) what API, or what browser, is being used. It might be [chrome itself](https://www.reddit.com/r/FreeCodeCamp/comments/4erevj/no_https_then_say_goodbye_to_geolocation_in/)  (independent of the security extension) and/or possibly trying another API. Though, fcc recommends codepen for projects, it (codepen) is not affiliated with fcc nor do they have

[2016-07-13 05:17] viruzx commented on #9703
It is with everything rather. Often mixed active content protection is there by default, others use extensions. The moment you load JS, CSS and so on over http while on a https page, it breaks. While https on a http page works fine.

It's not an issue with codepen, it's an issue with how files are included in the codepens such as querying for the IP via http instead of https.

I am not asking for

[2016-07-13 05:44] qmikew1 commented on #9703
I'll leave it to others to comment. But you're describing changing url of the actual example link (to https) and its behavior on load (as well as url within a call in the code itself). As you say that breaks with mixed content (if done over https). I can recreate with a manual https link on the pen and it breaks on on ipinfo.io (as expected). - I've used extensions in the past; however, I know tha

[2016-07-13 05:49] samuelpath opened #9704 "Broken link in challenge manipulating complex objects"
#### Challenge Name

https://www.freecodecamp.com/challenges/manipulating-complex-objects

#### Issue Description

When you click on the link labeled "JavaScript Object Notation", you get a ERR_SSL_PROTOCOL_ERROR.
In the source code, we have: "href='//json.org/'"
By default, the browser replaces "//" by "https://", but the Json.org page doesn't support SSL.
I advise to use "http://www.json.org/" i

[2016-07-13 06:24] andmkv commented on #9691
Thanks for clarification!

[2016-07-13 06:39] Bouncey commented on #9698
@skrifar there is an issue with your code.

Have a read of the instructions again, specifically, how to add a class to an element using jQuery.

If you still cannot pass the challenge, please use the help button in the challenge you are having issues with. This will take you to a dedicated chat room where you can get advice on your code.

As an aside: we are experiencing an issue where, if the cam

[2016-07-13 06:51] raisedadead commented on #9674
Great! Closing as resolved.

Happy Coding!

[2016-07-13 06:51] #9674 closed

[2016-07-13 07:46] matondodomingos opened #9705 "ajuda na resolução deste desafio."
Challenge [Comment out HTML](https://www.freecodecamp.com/challenges/comment-out-html#?solution=%0A%3C!-%0A%3Ch1%3EHello%20World%3C%2Fh1%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%3C!-%3E%0A%3Cp%3EHello%20Paragraph%3C%2Fp%3E%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe

[2016-07-13 09:11] BKinahan commented on #9704
Thanks for reporting this!

(By the way, challenges aren't numbered, so use the challenge title when referring to one instead. The 208 you see is actually your number of [brownie points](https://www.freecodecamp.com/wiki/en/brownie-points/))

[2016-07-13 10:15] atjonathan commented on #9704
**To First Timer:**
Checkout the comment from @samuelpath https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9704#issue-165242468 with details on what to change. You will need to change [this](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/basic-javascript.json#L4338) line. Please, check our [**Guidelines for Contributing**](https:

[2016-07-13 10:16] teflonyusuf opened #9706 "What am"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-07-13 10:16] #9706 closed

[2016-07-13 10:40] eihsan opened #9707 "help"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20cha

[2016-07-13 10:48] gasperno commented on #9707
`<h2 class="red-text">CatPhotoApp</h2>
`
But please use Chat button in the top bar or [gitter chat](https://gitter.im/FreeCodeCamp/FreeCodeCamp) for questions or doubts in curriculum.

[2016-07-13 10:53] #9707 closed

[2016-07-13 11:29] flipsyde606 commented on #9652
@raisedadead sure, but I need help with issue though. The final rendered code after loopProtect looks like the one below:

` };loopProtect.protect({ line: 32, reset: true }); while (n !== newArr.length){
if (loopProtect.protect({ line: 32 })) break;
;
}`

loopProtect seems to treat while part of do-while as a seperate while. I am not sure how to fix this without fixing loopProtect itself.
Should w

[2016-07-13 11:54] jmizrachi commented on #5884
`
function caseInSwitch(val) {
  var answer = "";
  // Only change code below this line
  switch(val){
    case 1:
      answer="alpha";
      break;
    case 2:
      answer="beta";
      break;
    case 3:
      answer="gamma";
      break;
    case 4:
      answer="delta";
      break;
  }

  // Only change code above this line
  return answer;
}

// Change this value to test
caseInSwitch(1);
`

[2016-07-13 11:55] jmizrachi commented on #5884
``
function caseInSwitch(val) {
  var answer = "";
  // Only change code below this line
  switch(val){
    case 1:
      answer="alpha";
      break;
    case 2:
      answer="beta";
      break;
    case 3:
      answer="gamma";
      break;
    case 4:
      answer="delta";
      break;
  }

  // Only change code above this line
  return answer;
}

// Change this value to test
caseInSwitch(1);

[2016-07-13 12:42] robert1108 opened #9709 "rgb challenge"
Challenge [Use RGB to Mix Colors](https://www.freecodecamp.com/challenges/use-rgb-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%20%0A%20%20%20%20color%3A%20rgb(225%2C0%2C0)%20%3B%0A%20%20%7D%0A%20%20.orchid-text%20%7B%0A%20%20%20%20color%3Argb(218%2C112%2C214)%3B%0A%20%20%7D%0A%20%20.sienna-text%20%7B%0A%20%20%20%20color%3Argb(160%2C82%2C45)%20%3B%0A%20%20%7D%0A%20%20.blue-text%20

[2016-07-13 13:06] jmizrachi commented on #5884
[code]

[2016-07-13 13:11] BKinahan commented on #9709
Funny, you have the same code as in the recent issue #9659 (with the same error)

Check your rgb values again.

Please seek code-writing assistance in the [Help Chat](https://gitter.im/FreeCodeCamp/Help). Issues are for reporting bugs with the challenges or website.

Happy coding!

[2016-07-13 14:31] naveenlb commented on #1646
Thanks guys. I am really enjoying the camp.

[2016-07-13 14:32] raisedadead commented on #9652
@flipsyde606: If this is a bug in the  loop-protect library then we can log a issue on their repo.
But I am not sure that its very well maintained. The published fork on npm is a fork of the original.

Anyways:
Option 1 and Option 2 are a strict NO GO.

Option 3 is a work around, but we still would need to detect this for do...while loops. Of course we can tell the campers to use this in all algor

[2016-07-13 14:36] raisedadead commented on #9704
@BKinahan thanks for pointing out that the nos are points and not challenge nos. The issue which we had for this has been closed by its creator, I am gonna throw it open once again.

[2016-07-13 14:50] ezine15 commented on #6335
ya that code worked for me as well.... thanks, I was like missing a closing tag which is "}" in this case ..

[2016-07-13 15:06] raisedadead commented on #9432
Hey @chuckadams can post a few screenshots of how it looks? I think we should be resolving this with some suggestions if possible.

[2016-07-13 15:14] erictleung commented on #9709
@robert1108 what @BKinahan suggest is correct. I would check your RGB values again.

@BKinahan I've seen this kind of "error" multiple times now. I'm sure you are fielding more questions in Gitter so do have a guess on where this "error" may come from?

[2016-07-13 15:20] erictleung commented on #9703
@viruzx thanks for the issue. I too am conscious of HTTPs statuses of sites I visit. For this CodePen, however, I think the API which retrieves the weather information (unfortunately) uses/requires a HTTP connection. If you change the CodePen address to HTTPS, it no longer works. Closing this issue as it's a duplicate of #9145. Happy coding!

[2016-07-13 15:20] #9703 closed

[2016-07-13 15:28] raisedadead commented on #9705
Hi @matondodomingos

Please visit the [Help Chat Room](https://gitter.im/FreeCodeCamp/Help), for coding help.

Thanks.

[2016-07-13 15:28] #9705 closed

[2016-07-13 15:33] BKinahan commented on #9709
@erictleung I haven't seen this one in Gitter, but I usually spend time in HelpJavaScript rather than Help so I see fewer HTML questions.

@robert1108 Take a closer look. It might help to note that the largest value for an RGB color is 255, for example white is `rgb(255,255,255)`. Anyway, [Help Chat](https://gitter.im/FreeCodeCamp/Help) :D

[2016-07-13 15:34] raisedadead commented on #9709
Closing as not a bug. @BKinahan thanks.
@robert1108 please confirm issues in the chat before reporting.

[2016-07-13 15:34] #9709 closed

[2016-07-13 15:38] robert1108 commented on #9709
I will next time .thanks
I am new in here.

[2016-07-13 15:40] maxmatthews commented on #9699
Curious as to the reasoning behind this. Sometimes when I click on challenge in the map I've completed recently I see the solution code but other times I don't. It always works when I go to my profile, but I was wondering why it's only there sometimes in the map. Something to do with a cache?

[2016-07-13 15:41] robert1108 commented on #9709
It is working now.

[2016-07-13 19:04] restartedwill commented on #5162
This may also be related to the work being done with #9652, at least related to the semicolon issue.

[2016-07-13 19:09] lukede opened #9711 "Golf Code returns correct answer but says that I haven't passed two of the criteria (i.e. for Go Home!"
Challenge [Golf Code](https://www.freecodecamp.com/challenges/golf-code#?solution=%0Afunction%20golfScore(par%2C%20strokes)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20if%20(strokes%20%3C%202)%20%7B%0A%20%20%20%20return%20%22Hole-in-one!%22%3B%0A%20%20%7D%20else%20if%20(strokes%20%3C%3D%20par%20-2)%7B%0A%20%20%20%20return%20%22Eagle%22%3B%0A%20%20%7D%20else%20if%20(st

[2016-07-13 19:17] lukede commented on #9711
I believe I completed the challenge, but after I click "run test" it says that I haven't completed test for par 4 7 strokes and par 5 9 strokes, even though my return displays right answer ("Go Home!).

[2016-07-13 19:25] Bouncey commented on #9711
@lukede your code is almost there.

Make sure your output matches exactly what is required from the instructions.

[2016-07-13 19:26] SopanTripathi opened #9712 "Update function is not updating variable "collection" and even compiler is not responding any value"
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection#?solution=%0A%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%20%222548%22%3A%20%7B%0A%20%20%20%20%20%20%22album%22%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20%22artist%22%3A%20%22Bon%20Jovi%22%2C%0A%20%20%20%20%20%20%22tracks%22%3A%20%5B%20%0A%20%20%20%20%20%20%20%20%22Let%20It%20Rock%22%

[2016-07-13 19:31] lukede commented on #9711
Oh, OK. Thanks for the tip

[2016-07-13 19:35] lukede commented on #9711
Jeez, I found it! My "H" in "Go Home!" wasn't capitalized :)

[2016-07-13 19:43] cmhardin commented on #9682
I have this exact thing typed in, but it is not taking?

[2016-07-13 19:48] qmikew1 commented on #9712
There are a few issues with the code: 1. the function invoked (and is default (change this line) is ```updateRecords``` your function is called ```update``` 2. Instead of updating the object, you're deleting entire albums (records vs. deleting the property) then returning the entire object (collection). In addition to the links in the challenge, you may want to also consider [hasOwnProperty](https

[2016-07-13 19:55] LTSENG01 opened #9713 "JSON Link Broken"
Challenge [Manipulating Complex Objects](https://www.freecodecamp.com/challenges/manipulating-complex-objects#?solution=%0Avar%20myMusic%20%3D%20%5B%0A%20%20%7B%0A%20%20%20%20%22artist%22%3A%20%22Billy%20Joel%22%2C%0A%20%20%20%20%22title%22%3A%20%22Piano%20Man%22%2C%0A%20%20%20%20%22release_year%22%3A%201973%2C%0A%20%20%20%20%22formats%22%3A%20%5B%20%0A%20%20%20%20%20%20%22CS%22%2C%20%0A%20%20%20%

[2016-07-13 19:55] #9713 closed

[2016-07-13 20:11] erictleung commented on #9711
Closing as issue appears resolved. Happy coding!

[2016-07-13 20:11] #9711 closed

[2016-07-13 20:13] #9679 closed

[2016-07-13 20:14] erictleung commented on #9712
@SopanTripathi thanks for the issue but if you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). I would read @qmikew1's advice for some first things to work on with this challenge. Closing as not an issue with the site. Happy coding!

[2016-07-13 20:14] #9712 closed

[2016-07-13 20:15] #9704 closed

[2016-07-13 20:50] erictleung commented on #9520
@sethkoch closing as stale. If you still are having issues with the tests, please provide your reasoning for your statements. Happy coding!

[2016-07-13 20:50] #9520 closed

[2016-07-13 21:08] AEA2002 opened #9714 "Home page 403 Forbidden"
#### Challenge Name

#### Issue Description

When I go to freecodecamp home/index page I get:

**403 Forbidden**
**nginx/1.4.6 (Ubuntu)**

#### Browser Information

* Browser Name, Version: 47.0
* Operating System: firefox
* Mobile, **Desktop**, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-07-13 22:32] #8856 closed

[2016-07-13 22:34] alsadawy commented on #9682
when i fixed the error it worked , so please copy your code so we can take a closer look

[2016-07-13 23:49] ramir141974 opened #9715 "hello sir i think my remote traning program from IICRC this is my continuining learning for my previous work and renewal as well for regulatory body thank you."
[004-Soiling.docx](https://github.com/FreeCodeCamp/FreeCodeCamp/files/362748/004-Soiling.docx)
[8z6pCh-001-Fiber_Characteristics.pdf](https://github.com/FreeCodeCamp/FreeCodeCamp/files/362749/8z6pCh-001-Fiber_Characteristics.pdf)

#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

[2016-07-13 23:49] #9715 closed

[2016-07-13 23:51] devilicecream opened #9716 "Translate "Advanced Algorithm Scripting" (advanced-bonfires.json) in Italian"
#### Challenge Name
Advanced Algorithm Scripting ([link to challenge](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/advanced-bonfires.json))

#### Issue Description
Translate the challenge **Advanced Algorithm Scripting** in Italian

[2016-07-13 23:52] devilicecream commented on #9716
I'll be working on this 😄

[2016-07-14 00:19] AEA2002 commented on #9714
problem resolved itself

[2016-07-14 00:19] #9714 closed

[2016-07-14 01:00] atjonathan commented on #5667
@stefanivic, lets make a pull request for this :smiley:
Do you wanna make it?

[2016-07-14 03:01] anikitasd commented on #9588
Hey man, I think the issue with your code is that you are using the ' (single parenthesis) instead of " (double parenthesis) for the words button and animated bounce.

Hope this works!

[2016-07-14 03:45] metasean opened #9717 "Incorrect test "Use the + operator to build myStr" is actually testing against "ourStr" not "myStr""
#### Challenge Name
Concatenating Strings with Plus Operator

#### Issue Description

My complete answer (after refactoring out unused code and comments), is:
[code]
Which triggers a fail for the test:
[code]
Interestingly, adding back in the example code *and* commenting it out:
[code]
Will result in the same test passing, while removing the "+" from that commented out example, i.e.:
[code]
will

[2016-07-14 05:04] erictleung commented on #9717
@metasean thanks for the issue. However, that particular test checks for the number of `+` signs. Within the editor, it mentions to `Only change code below this line`. Changing the lines above it will create unintended consequences. So the test isn't actually testing against the example `outStr`. Although inconvenient, this isn't a bug per se so I'll be closing this issue.

If you get stuck with a

[2016-07-14 05:04] #9717 closed

[2016-07-14 06:14] BerkeleyTrue commented on #8808
Ok, how about now?

[2016-07-14 06:20] QuincyLarson commented on #6705
I suspect this is being caused by the huge amount of duplicate accounts people have accidentally created due to us having too many authentication options. These issues should go away in the near future (we've already removed adding your G+ and Facebook profiles to your FCC account). If anyone has an issue with this email team at freecodecamp com and I'll sort it out for you manually in the databas

[2016-07-14 06:20] #6705 closed

[2016-07-14 09:13] tanayu opened #9718 "output screen is blank"
Challenge [Find the Length of a String](https://www.freecodecamp.com/challenges/find-the-length-of-a-string#?solution=%0A%2F%2F%20Example%0Avar%20firstNameLength%20%3D%200%3B%0Avar%20firstName%20%3D%20%22Ada%22%3B%0A%0AfirstNameLength%20%3D%20firstName.length%3B%0A%0A%2F%2F%20Setup%0Avar%20lastNameLength%20%3D%200%3B%0Avar%20lastName%20%3D%20%22Lovelace%22%3B%0A%0A%2F%2F%20Only%20change%20code%20b

[2016-07-14 09:19] rijad commented on #9718
// Example
var firstNameLength = 0;
var firstName = "Ada";

firstNameLength = firstName.length;

// Setup
var lastNameLength = 0;
var lastName = "Lovelace";

// Only change code below this line.

lastNameLength = lastName.length;

//this one works fine

[2016-07-14 09:38] martin-hawk opened #9719 "Wrong link address"
#### Challenge Name

https://www.freecodecamp.com/challenges/manipulating-complex-objects

#### Issue Description

The link to json.org (see the Screenshot) should use a HTTP format not HTTPS. (http://json.org/)

#### Browser Information

* Browser Name, Version: Google Chrome, 51.0.2704.106 m
* Operating System: Microsoft Windows 10 Home
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[cod

[2016-07-14 09:40] raisedadead commented on #9719
This has been fixed in https://github.com/FreeCodeCamp/FreeCodeCamp/pull/9710 and will reach main website soon.

Thanks and Happy Coding!

[2016-07-14 09:40] #9719 closed

[2016-07-14 10:30] hackersonearth commented on #9719
what is this>??

[2016-07-14 10:31] hackersonearth commented on #9719
some please help me what is this why im getting so much email ??

[2016-07-14 10:36] raisedadead commented on #9719
Hello!

Looks like you may have accidentally subscribed to all notifications for the [FreeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp) repository. To stop receiving notifications please visit the [subscriptions page](https://github.com/FreeCodeCamp/FreeCodeCamp/subscription) or click on the image below and select **"Not watching"**.

[![image](https://cloud.githubusercontent.com/assets/

[2016-07-14 11:07] raisedadead commented on #9718
@tanayu thanks for reporting, but your code is not correct. Refer @rijad's comment above.

[2016-07-14 11:20] rijad commented on #9718
try reseting code and type this example again

[2016-07-14 11:25] raisedadead commented on #9378
Closing as stale. Please comment if you are still facing this.

[2016-07-14 11:25] #9378 closed

[2016-07-14 11:26] raisedadead commented on #9475
Closing as stale. Please comment if you are still facing this.

[2016-07-14 11:26] #9475 closed

[2016-07-14 11:27] raisedadead commented on #9551
Closing as stale. Please comment if you are still facing this.

[2016-07-14 11:27] #9551 closed

[2016-07-14 11:28] raisedadead commented on #3808
Closing as stale.

[2016-07-14 11:28] #3808 closed

[2016-07-14 12:07] lubodrinka commented on #7803
i try not working

[2016-07-14 12:11] lubodrinka opened #9721 "Turn an Image into a Link. I ma sure is correct, but I couldnt move forward."
Challenge [Turn an Image into a Link](https://www.freecodecamp.com/challenges/turn-an-image-into-a-link#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20

[2016-07-14 12:34] usertwelve commented on #8808
Looks like it is finally working. Thank you very much.

[2016-07-14 12:38] franzryan commented on #9050
i have the same problem with this challenge. i tried removing and adding body tags but its still not working
![image](https://cloud.githubusercontent.com/assets/20453878/16839665/dd4779f0-4a02-11e6-9909-9bfb63b627e7.png)

[2016-07-14 12:40] franzryan commented on #9050
i have the same problem with this challenge. i tried removing and adding body tags but its still not working for me.
![image](https://cloud.githubusercontent.com/assets/20453878/16839704/17595316-4a03-11e6-8390-38fc64b5e4b7.png)

[2016-07-14 12:45] yahyax5 commented on #2822
It should be like this...
<style>
  body {
    background-color: black;
    font-family: Monospace;
    color: pink;
    .pink-text{
      color:pink;
    }
  }
</style>
<h1 class="pink-text"> Hello World!</h1>

[2016-07-14 12:46] raisedadead commented on #9050
@franzryan Can you specify the viewport size (your screen's resolution), OS and browser details and the code?

[2016-07-14 12:49] franzryan commented on #9050
@raisedadead sorry i got it already. it says color not bgcolor. my bad.

[2016-07-14 13:16] raisedadead commented on #9721
@lubodrinka thanks for reporting, but your code is not correct, you are not supposed to modify the class attribute of the `<img>` element.

/cc @FreeCodeCamp/issue-moderators
Should we add a test for checking that campers do not modify the existing element? I may have seen this a couple of times in the chat as well.

[2016-07-14 13:17] raisedadead commented on #9721
@FreeCodeCamp/issue-moderators: Please close if deemed unecessary.

[2016-07-14 13:29] Radeztky opened #9722 "set the font-family"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-07-14 13:39] Sprinting commented on #9722
Uhh, where's the code?

[2016-07-14 13:47] lubodrinka commented on #9721
I follow the instructions, I put a element to existing img! There was <img> modified from previous lesson.
But what now? I cannot move forward.

[2016-07-14 14:05] raisedadead commented on #9721
I am afraid the code in the previous challenge and in this challenge was:

`<img class="smaller-image thick-green-border" src="https://bit.ly/fcc-relaxing-cat">`

Did you happen to modify it by any chance? Did you happen to code this on some other application (notepad, etc) and copied it later to the page, leading to an accidental change?

[2016-07-14 14:06] raisedadead commented on #9722
Please refer [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/FreeCodeCamp-Report-Bugs).

[2016-07-14 14:06] #9722 closed

[2016-07-14 14:16] Absailnit opened #9723 "Better syntax example..."
The syntax issue in this code example doesnt work within the way it is presented to the pupil. I had to manipulate the syntax in order for the code to be accepted fortunately I have prior knowledge in Java and python to manipulate the parentheses but to someone starting to code this would take a very long time to come to an understanding of how and where to put the parentheses.

#### Challenge Nam

[2016-07-14 14:17] lubodrinka commented on #9721
after it did not work at first because I misspelled a/ instead /a  I cut and paste from another line. after one And there was no attention I cant do that.
wait how you coded that? You put in session  number of line and text?

[2016-07-14 14:43] raisedadead commented on #9723
@Absailnit which code sample? Which challenge are we talking about?
P.S: Follow [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/FreeCodeCamp-Report-Bugs) while reporting issues.

[2016-07-14 14:46] lubodrinka commented on #9721
finally I paste smaller-image into, but I try previous lesson. is there possibility to cross session?

[2016-07-14 14:59] erictleung commented on #9721
@raisedadead I'm fine with adding an additional test to check for modifications to the existing element.

[2016-07-14 15:17] #8808 closed

[2016-07-14 15:17] BerkeleyTrue commented on #8808
Thanks for all your patience. Looks like we finally tracked down the firewall issues with CloudFlare.

Happy Coding!

[2016-07-14 15:29] lubodrinka commented on #9721
I notice on other practices the sites code change what I wrote before. The comparison could be wrong.
previous lesson end <img class="smaller-image thick-green-border" src="https://bit.ly/fcc-relaxing-cat">
and next lesson start <img class=thick-green-border" src="https://bit.ly/fcc-relaxing-cat">

[2016-07-14 15:40] raisedadead commented on #9721
@lubodrinka the code on the current lesson is **not** `<img class=thick-green-border" src="https://bit.ly/fcc-relaxing-cat">`

Please use the reset button to check.

[2016-07-14 16:01] lubodrinka commented on #9721
You must something changed, because now there is smaller-image without reset.

[2016-07-14 16:11] Absailnit commented on #9723
The tutorial "Introducing Else If Statements.. example doesnt include the closing brackets to the function statements.. Those unfamiliar with syntax and how to close these statements are going to be experiencing some hinderance on this tutorial. The next few examples dealing with else if tutorials include these to close.  I have included my screenshot so that you can see from the example to the co

[2016-07-14 16:28] #9721 closed

[2016-07-14 17:26] erictleung commented on #9723
@Absailnit the example code given is correct JavaScript. It doesn't need any closing brackets, unless you write a complete function, which it is not intended to be in this case.

Functions were introduced in [Write Reusable JavaScript Functions](https://www.freecodecamp.com/challenges/write-reusable-javascript-with-functions), which was about 20 challenges before the "Introducing Else If Statement

[2016-07-14 17:30] erictleung commented on #9623
@Grantlyk thanks! Closing as resolved. Happy coding!

[2016-07-14 17:30] #9623 closed

[2016-07-14 18:17] Absailnit commented on #9723
Eric Thank you for your candid response! Must have neglected to pay
attention to those brackets... 20 lessons ago with the gobs of codes. I
will Google from here out.
On Jul 14, 2016 1:28 PM, "Eric Leung" <notifications@github.com> wrote:

[2016-07-14 19:19] raisedadead commented on #9723
Closing, as resolved.

Thanks @Absailnit and happy coding!

[2016-07-14 19:19] #9723 closed

[2016-07-14 20:20] profoundhub opened #9724 "bug: missing array in object."
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection#?solution=%0A%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%20%222548%22%3A%20%7B%0A%20%20%20%20%20%20%22album%22%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20%22artist%22%3A%20%22Bon%20Jovi%22%2C%0A%20%20%20%20%20%20%22tracks%22%3A%20%5B%20%0A%20%20%20%20%20%20%20%20%22Let%20It%20Rock%22%

[2016-07-14 22:29] BKinahan commented on #9724
This is intended. From the instructions:

[2016-07-15 00:08] pnahratow opened #9727 "Challenges/no-repeats-please needs more tests"
#### Challenge Name

No Repeats Please
https://www.freecodecamp.com/challenges/no-repeats-please
#### Issue Description

I've just passed https://www.freecodecamp.com/challenges/no-repeats-please but I was in the middle of doing some trial and error. I was happy at first but I wanted more tests. So I went to other people's solutions and calculated some more values. Some of which chrashed my browse

[2016-07-15 00:18] BerkeleyTrue commented on #9673
@Bouncey Do these issue's persist on beta?

[2016-07-15 00:19] BerkeleyTrue commented on #9346
Live on beta

[2016-07-15 00:19] #9346 closed

[2016-07-15 00:24] erictleung commented on #9724
@profoundhub thanks for the issue but as @BKinahan has pointed out, this is intended for the learner to have caught this and implement it in their code. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-07-15 00:24] #9724 closed

[2016-07-15 00:31] betapixel commented on #6541
Hassenkhel thanks.
Look like was a bug.

[2016-07-15 00:36] BerkeleyTrue commented on #9463
Live on beta!

I chose a simple 404 page instead of rendering errors on the map. We have experience infinite loops when the map page itself is the cause of the error.

Someone with more talent will need to make that page purdy.

[2016-07-15 00:36] #9463 closed

[2016-07-15 01:40] OsvaldoGlez commented on #6073
SOLUTION :
function orderMyLogic(val) {
  if (val > 5 && val < 10) {
    return "Less than 10";
  } else if (val > 1 && val < 5) {
    return "Less than 5";
  } else {
    return "Greater than or equal to 10";
  }
}

// Change this value to test
orderMyLogic(4);

[2016-07-15 03:06] Skrifar commented on #9698
@Bouncey, thank you for your help and commentary. I will attempt to find these syntax errors and fix them.

[2016-07-15 03:11] #9698 closed

[2016-07-15 03:35] raisedadead commented on #9463
Sweeeeet!

[2016-07-15 04:20] AdamLombard commented on #5921
Issue seems to have died out. Closing.

[2016-07-15 04:20] #5921 closed

[2016-07-15 04:36] rahlzel opened #9729 ""Import a Google Font" bug, and, apparently, this issue tracker's issue template markdown"
#### Challenge Name

https://www.freecodecamp.com/challenges/import-a-google-font

#### Issue Description

The left sidebar text says "Now you can set Lobster as a font-family value on your h2 element", yet there is no h2 section in the `<style>` above, and there are no checkboxes in the bottom that explain that it needs to be added, or that it can be done by adding an inline `style="font-family:

[2016-07-15 04:55] dwd2010 commented on #9729
@rahlzel
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding!

[2016-07-15 05:00] rahlzel commented on #9729
This issue IS about the website...

[2016-07-15 05:06] dwd2010 commented on #9729
@rahlzel, oh ok. do you mean this challenge need to explain more?

[2016-07-15 05:14] rahlzel commented on #9729
Yes. Every other challenge before and the one immediately after it literally tells the person what to type and what the code should look like. This is the only challenge (so far) that forces the user to remember what they did several challenges ago and to try to repeat it without any advice on how to do so, which makes this particular section very challenging compared to the ones around it. It's g

[2016-07-15 05:48] ABHISHEK4227 opened #9730 "'"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.106 Safari/537.36 OPR/38.0.2220.41</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-07-15 05:49] #9730 closed

[2016-07-15 06:12] raisedadead opened #9731 "GitHub Wiki Migration"
We are migrating the GitHub Wiki to the Forum and will be removing the Wiki from this repository.
The wiki repository may stay for archiving.

Before removing the GitHub wiki we should look into the migration of the below:
- [ ] The wiki solutions that are pointed from the map aside.
- [x] The help links that point to wiki (workarounds) from within the challenges **(#10010)**
- [x] Guides such as

[2016-07-15 07:03] najaelfil opened #9732 "This is in order, right?"
Challenge [Comment out HTML](https://www.freecodecamp.com/challenges/comment-out-html#?solution=%0A%0A%3C!--h1%3EHello%20World%3C%2Fh1--%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3C!--p%3EHello%20Paragraph%3C%2Fp--%3E%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64; rv:47.0) Gecko/20100101 Firefox/47.0</code>.
Please describe how to reproduce this issue, and includ

[2016-07-15 07:37] dagadego commented on #9732
<h2>CatPhotoApp</h2>

[2016-07-15 08:33] andybmx20 opened #9733 "I CANT SKIP TESTS , IN CONSOLE I GET RIGHT ANSWER"
Challenge [Truncate a string](https://www.freecodecamp.com/challenges/truncate-a-string) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-07-15 08:41] raisedadead commented on #9732
Please refer [Help I have found a bug](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/FreeCodeCamp-Report-Bugs) and head on to the chat please.

[2016-07-15 08:41] #9732 closed

[2016-07-15 08:48] raisedadead commented on #9733
You have modified the function name, or you have a solution that was before this challenge editor code was renamed in changes to the challenges.

`truncate > truncateString`

Hitting the reset button should give you the correct starter code.
Please consult [JavaScript Chat Room](https://gitter.im/FreeCodeCamp/HelpJavaScript).

[2016-07-15 08:48] #9733 closed

[2016-07-15 09:08] CarlosFerrerCeldran commented on #8937
I am having the same issue Vetovar commented. Refreshed tha page, wrote the correct code and still won't pop up the window. Any ideas?

[2016-07-15 11:53] Simone2 opened #9734 "Run tests button doesn't work"
#### Challenge Name

[Challenge Link](https://www.freecodecamp.com/challenges/responsively-style-radio-buttons#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20%20%7D%0A%0A%20%20.thick-green-border%20%7B%0A

[2016-07-15 12:24] raisedadead opened #9735 "Progress Visualization for clean UX experience"
For a user, who visits the website (initial loads on a fresh device), certain UI elements take a while to populate.

Example:
1. Login, the profile image takes a couple of seconds to appear on the navbar
2. The map aside takes a couple of seconds to populate and displays "No Superblocks"
3. Challenges views at times take a second to render.

Although these happen seamlessly from the next interacti

[2016-07-15 12:34] Rafase282 commented on #9731
https://github.com/FreeCodeCamp/wiki/issues/1211

[2016-07-15 12:56] Rafase282 commented on #9731
1. The Articles from map have been moved but the Map.md will not be moved as we now have a powerful search functionality and categories.
2. Wiki articles for the challenges all should have the updated internal url, are you talking about from the main site pointing to the wiki?
3. All those guides are there already.
4. The article is there and this is the link http://forum.freecodecamp.com/t/how-to

[2016-07-15 13:16] ekwong commented on #8808
Thank you!

[2016-07-15 13:24] raisedadead commented on #9734
Possibly related to https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9673

[2016-07-15 13:25] #9718 closed

[2016-07-15 13:26] raisedadead commented on #9667
Possibly related https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9673

[2016-07-15 13:27] raisedadead commented on #9658
Possibly related https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9673

[2016-07-15 13:28] raisedadead commented on #9673
@FreeCodeCamp/issue-moderators can some one pitch in to check this?
We have been getting a lot of similar issues lately.

[2016-07-15 13:32] raisedadead commented on #9727
We can certainly add more tests, but the question is we must maintain a balance between the target audience as well.

/cc @FreeCodeCamp/issue-moderators

[2016-07-15 13:35] dwd2010 commented on #9734
@Simone2
Thanks for reporting this. I checked your answer myself, but your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding!

[2016-07-15 13:35] #9734 closed

[2016-07-15 13:37] dwd2010 commented on #9734
@raisedadead, @Simone2's code is incorrect. I check it out myself.

[2016-07-15 13:46] raisedadead commented on #9734
@dwd2010 I know the code is incorrect, the thing is the clicking the run tests doesnt give any feedback of that they are actually incorrect.

So the bug is not the code but the UX of it.

[2016-07-15 13:46] raisedadead commented on #9734
In some cases the code is correct and yet the run tests freeze.

[2016-07-15 13:47] Bouncey commented on #9673
@BerkeleyTrue from what I can see the bug is not present in beta. But there is no Bootstrap, so a lot of the html & CSS challenges don't make sense any more.

I will raise a separate issue for no Bootstrap.

[2016-07-15 13:49] dwd2010 commented on #9734
@raisedadead, oh my bad.

[2016-07-15 13:50] Bouncey opened #9736 "[beta] feature: challenge can declare libraries it requires"
The absence of Bootstrap means a lot of the HTML/CSS/jQuery challenges  do not make sense.

[2016-07-15 13:51] raisedadead commented on #9734
Nevermind we are already having a discussion on a liked thread. :wink:

[2016-07-15 14:01] erictleung commented on #9727
@raisedadead considering "No Repeats Please" is in the advanced algorithm challenges, I think having good tests for these challenges is good. However, this challenge isn't a required one for getting a certification so not sure how much effort we should put into coming up with new tests.

All in all, I'm all for better tests that cover the scope of the challenge.

[2016-07-15 14:23] erictleung commented on #9729
@rahlzel thanks for the feedback.

Maybe the challenge could be rewritten like so:

Also, can you elaborate on your comment on something wrong with the issue template? I don't know what you're pointing at in that image.

[2016-07-15 14:26] dwd2010 commented on #9729
@erictleung, I forget to mention about I did fix that person issue template.  rahlzel write style in code.  so i have to add backtick on that.   that is how it got mess up first place

[2016-07-15 14:51] dungtran211096 opened #9737 "Stand in Line"
Challenge [Stand in Line](https://www.freecodecamp.com/challenges/stand-in-line#?solution=%0Afunction%20nextInLine(arr%2C%20item)%20%7B%0A%20%20%2F%2F%20Your%20code%20here%0A%20%20arr.push(item)%3B%0A%20%20arr.shift(%5B0%5D)%3B%0A%20%20return%20item%3B%20%20%2F%2F%20Change%20this%20line%0A%7D%0A%0A%2F%2F%20Test%20Setup%0Avar%20testArr%20%3D%20%5B1%2C2%2C3%2C4%2C5%5D%3B%0A%0A%2F%2F%20Display%20Code

[2016-07-15 15:06] veronicarbulu commented on #7125
I got confused with having to delete the last statement (var newArray = oldArray;). That kept me from getting all 4 items correct. I'm guessing we have to delete that, so we don't change the original array (oldArray), correct?

[2016-07-15 15:47] joemodz21 opened #9738 "Validating Error?"
Challenge [Escaping Literal Quotes in Strings](https://www.freecodecamp.com/challenges/escaping-literal-quotes-in-strings#?solution=%0Avar%20myStr%3D%20%22I%20am%20a%20%5C%22double-quoted%5C%22%20string%20inside%20%5C%22double%20quotes%5C%22.%22%3B%20%2F%2F%20Change%20this%20line%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome

[2016-07-15 15:49] #9738 closed

[2016-07-15 15:58] Bouncey commented on #9737
@dungtran211096 Can you please provide more information regarding this issue

[2016-07-15 16:00] gari3d commented on #9314
i have this one,  var myStr = "FirstLine\n\SecondLine\rThirdLine";
but i still have issues with myStr should have encoded text with the proper escape sequences and no spacing. and myStr should have two correctly escaped backslash characters \\.
i think this is issue?

[2016-07-15 16:17] Chrono79 commented on #9314
gari3d: You need to enclose SecondLine with two correctly escaped backslash characters \ as you posted, I don't know if github is hiding it or not, but an escaped backslash is this: \\

[2016-07-15 16:23] mk485eg commented on #5890
try to make one  "     "  not for each element

[2016-07-15 16:37] profoundhub commented on #8970
I have updated my post on CodePen: https://codepen.io/profoundcoder/post/record-collection

[2016-07-15 16:51] gari3d opened #9739 "this is not working. i believed its correct. function myLocalScope() { var myVar = 'use strict'; console.log(myVar); } myLocalScope();"
Challenge [Local Scope and Functions](https://www.freecodecamp.com/challenges/local-scope-and-functions#?solution=%0A%0Afunction%20myLocalScope()%20%7B%0A%20%20var%20myVar%20%3D%20'use%20strict'%3B%0A%20%20%0A%20%20%0A%20%20console.log(myVar)%3B%0A%7D%0A%0AmyLocalScope()%3B%0A%0A%2F%2F%20Run%20and%20check%20the%20console%0A%2F%2F%20myVar%20is%20not%20defined%20outside%20of%20myLocalScope%0A%0A%0A%

[2016-07-15 17:04] tanayu opened #9741 "plz help me"
Challenge [Word Blanks](https://www.freecodecamp.com/challenges/word-blanks#?solution=%0Afunction%20wordBlanks(myNoun%2C%20myAdjective%2C%20myVerb%2C%20myAdverb)%20%7B%0A%20%20var%20result%20%3D%20%22%22%3B%0A%20%20%2F%2F%20Your%20code%20below%20this%20line%0A%20%20%0A%0A%20%20%2F%2F%20Your%20code%20above%20this%20line%0A%20%20return%20result%3B%0A%7D%0A%0A%2F%2F%20Change%20the%20words%20here%20to

[2016-07-15 17:04] Niresh123 commented on #9734
please help me... i cant go forward!! my run test button isnt working since its 4 days

[2016-07-15 17:08] profoundhub commented on #8970
@mav1283 , could you recheck your solution, I tried it and it did not work for me, here is a screenshot:
![mav1283 -record collection](https://cloud.githubusercontent.com/assets/8409825/16882281/3da047ee-4a8c-11e6-8865-4f74425189d3.png)

[2016-07-15 17:15] BerkeleyTrue commented on #9736
Nice catch! Definitely needs to be fixed before merging

[2016-07-15 17:15] BerkeleyTrue commented on #9735
Excellent idea!

[2016-07-15 17:17] erictleung commented on #9737
@dungtran211096 your code is incorrect. Please review how to use the `.shift()` method. If you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-07-15 17:17] #9737 closed

[2016-07-15 17:25] aprabhak opened #9742 "This should work. Output seen matches. But tests fail."
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection#?solution=%0A%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%20%222548%22%3A%20%7B%0A%20%20%20%20%20%20%22album%22%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20%22artist%22%3A%20%22Bon%20Jovi%22%2C%0A%20%20%20%20%20%20%22tracks%22%3A%20%5B%20%0A%20%20%20%20%20%20%20%20%22Let%20It%20Rock%22%

[2016-07-15 17:28] gari3d opened #9743 "it is still issue??? :\"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%20%3D%20%22FirstLine%5CnSecondLine%5CrThirdLine%22%3B%20%2F%2F%20Change%20this%20line%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please

[2016-07-15 17:30] qmikew1 commented on #9741
It doesn't appear you've attempted to solve the challenge. Issues are for reporting bugs related to site and not for code assistance. You may want to use the [help room](https://gitter.im/FreeCodeCamp/HelpJavaScript)

[2016-07-15 17:31] erictleung commented on #9741
@tanayu thanks for the issue but if you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-07-15 17:31] #9741 closed

[2016-07-15 17:33] erictleung commented on #9743
@gari3d thanks for the issue but if you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: please look at the instructions again. Your string doesn't match the required string. It should look like this when you print it out:

[code]

Happy coding!

[2016-07-15 17:33] #9743 closed

[2016-07-15 17:35] erictleung commented on #9742
@aprabhak
thanks for the issue but if you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-07-15 17:35] #9742 closed

[2016-07-15 17:37] erictleung commented on #9739
@gari3d thanks for the issue but if you get stuck with a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-07-15 17:37] #9739 closed

[2016-07-15 17:51] 98newton commented on #3013
I'm having the same problem I've tried delete and retyping it and moving it to the top. Is there something in the form or Id area I should be typing in?

[2016-07-15 18:07] erictleung opened #9744 "nextInLine text needs code tags"
#### Challenge Name

https://www.freecodecamp.com/challenges/stand-in-line

#### Issue Description

The last sentence in this challenge needs `nextInLine` in code tags to be consistent.

#### To Contributors

[This line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/3434918d00f241d601abf8e6d865a2ced9dce563/seed/challenges/01-front-end-development-certification/basic-javascript.json#L2506) need

[2016-07-15 18:10] haunja opened #9745 "Broken IMG link (BootStrap Grid)"
#### Challenge Name
https://www.freecodecamp.com/challenges/use-the-bootstrap-grid-to-put-elements-side-by-side

#### Issue Description
Broken image link on page for image of BootStrap Grid example.  No image on page and link is dead.

#### Browser Information
Chrome Version 51.0.2704.106 m
Firefox 47.0.1
Windows 7 64
Laptop with 8gig ram.

#### Screenshot

![brokenlink](https://cloud.githubuserco

[2016-07-15 18:15] dwd2010 commented on #9745
Odd, I could see that picture of grid system at that challenge.

[2016-07-15 18:15] erictleung commented on #9745
@haunja thanks for the issue. The image shows up for me.

![image](https://cloud.githubusercontent.com/assets/2754821/16884288/6c7d9346-4a7d-11e6-9365-c88ede83e18d.png)

[2016-07-15 18:18] qmikew1 commented on #9745
Image also shows for me

[2016-07-15 19:05] llabrie commented on #6062
THANK YOU!!

[2016-07-15 19:09] profoundhub commented on #8970
Sorry, I mixed up the Solution Code, here is @mav1283 's
![mav1283-solution -record collection-2](https://cloud.githubusercontent.com/assets/8409825/16885751/183f9d26-4a9e-11e6-9d57-7be0c8d0d0ee.png)

[2016-07-15 19:24] davedd233 opened #9746 "Text Editor Issue"
#### Challenge Name

Call out Optional Actions with Button Info

#### Issue Description

Whenever I complete a challenge and go on to the next one, I am unable to click the cursor where I want within the text editor. Once I hit enter, I can click and have the cursor go where I want it to go.

#### Browser Information

* Browser Name, Version: Google Chrome Version 51.0.2704.103 m (64-bit)

* Opera

[2016-07-15 19:30] profoundhub commented on #9168
Here, I just updated what I wrote about it: https://codepen.io/profoundcoder/post/record-collection

[2016-07-15 19:33] profoundhub commented on #9724
Right, we figured it out and I have updated my original post from a few months ago, here is the update: https://codepen.io/profoundcoder/post/record-collection

[2016-07-15 19:46] erictleung commented on #9746
@davedd233 thanks for the issue. This is a known issue #7847. Please read the comments there for work-arounds to the issue. Happy coding!

[2016-07-15 19:46] #9746 closed

[2016-07-15 19:47] iameunme commented on #4150
very helpful! Thank you so much!

[2016-07-15 20:03] BerkeleyTrue commented on #9474
@raisedadead OS? Browser?

[2016-07-15 20:18] raisedadead commented on #9474
Windows 10 - Chrome 51 and Firefox 46

[2016-07-15 20:39] tgoconker commented on #9682
I am with the same problem, my code is as follow

 .smaller-image { width: 100px; }
.red-text { color: red; }
h2 { font-family: Lobster, Monospace; }
p {font-size: 16px; font-family: Monospace; }

Is there anything wrong in my code?

[2016-07-15 20:49] #9716 closed

[2016-07-15 22:53] ChrisLegg commented on #7764
I had to add in // noprotect to get it to work for the final [23,18] case.  I'm assuming there is a far more efficient method than the one I used and that's part of the issue.

[2016-07-15 23:47] erictleung commented on #9664
Closing as not a bug and issue has gone stale. Happy coding!

[2016-07-15 23:47] #9664 closed

[2016-07-16 00:41] Radeztky opened #9748 "Create a Form Element"
Challenge [Create a Form Element](https://www.freecodecamp.com/challenges/create-a-form-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospac

[2016-07-16 00:51] rameshsyn commented on #9748
@Radeztky You have to nest `<input>` tag in `<form>` tag Like this :+1:
[code]

[2016-07-16 00:54] erictleung commented on #9748
@Radeztky as @rameshsyn suggests, your code is incorrect. Please read the instructions again for clarification. If you get stuck with a challenge future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-07-16 00:54] #9748 closed

[2016-07-16 00:59] Radeztky commented on #9748
thanks 👍

[2016-07-16 01:37] mav1283 commented on #8970
hey i must have forgotten this already, try this one

[code]

[2016-07-16 05:25] highestflyingeagle opened #9749 "Lesson 81 - The instructions say to"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-07-16 05:29] highestflyingeagle opened #9750 "Bootstrap Lesson Issue"
#### Challenge Name

#### Issue Description

Lesson 81 - The instructions say to "Add Bootstrap's btn-block," but the problem I have with this set of instruction is that it does not give an example, like other Lessons have provided. I had to look online to find the answer and the answer would be impossible to find if I had to rely on just the instructions. The purpose of this is to teach people pe

[2016-07-16 05:42] dwd2010 commented on #9750
you need to write problem on issue. not on the title.

[2016-07-16 05:42] #9749 closed

[2016-07-16 07:21] gsn16 opened #9751 "Letter case not considered when a color is mentioned in a class"
#### Challenge Name

https://www.freecodecamp.com/challenges/prioritize-one-style-over-another#?solution=%0A%3Cstyle%3E%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20black%3B%0A%20%20%20%20font-family%3A%20Monospace%3B%0A%20%20%20%20color%3A%20green%3B%0A%20%20%7D%0A%20%20.pink-text%20%7B%0A%20%20%20%20color%3A%20PINK%3B%0A%20%20%7D%0A%20%20h1%20%7B%0A%20%20%20%20color%3A%20yellow%3B%0A%2

[2016-07-16 12:08] J0nibek opened #9752 "fourth condition does not work"
Challenge [Chunky Monkey](https://www.freecodecamp.com/challenges/chunky-monkey#?solution=var%20arr2%20%3D%20%5B%5D%3B%0A%0Afunction%20chunkArrayInGroups(arr%2C%20size)%20%7B%0A%0A%20%20%0A%20for%20(var%20i%3D0%3B%20i%3Carr.length%2Fsize%3B%20i%2B%2B)%0A%20%0A%7B%0A%20%20%0A%20arr2%20%5Bi%5D%20%3D%20arr.slice(size*i%2C%20size*(i%2B1))%3B%0A%20%0A%7D%0A%20%20%20%0A%20return%20(arr2)%3B%0A%0A%7D%0A%

[2016-07-16 13:59] qmikew1 commented on #9750
Assuming we're talking about challenge [Create a Block Element Bootstrap Button](https://www.freecodecamp.com/challenges/create-a-block-element-bootstrap-button) - It does give an example on usage. Sometimes providing a screenshot is helpful (when opening an issue) because anything can happen between serving a page and the device/browser/assets (you name it) it's being rendered. The frustration as

[2016-07-16 14:39] erictleung commented on #9752
@J0nibek thanks for the issue but if you get stuck with a challenge future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). The problem you're running into is that we run our tests using only your function. You've declared a global variable your function modifies so that is what is causing problems. Put your global variable within your function and your code sho

[2016-07-16 14:39] #9752 closed

[2016-07-16 14:47] erictleung commented on #9750
@highestflyingeagle thanks for the issue. However, can you clarify your difficulties on which challenge names in particular you're having issues with? We take feedback on our curriculum seriously but from your description, it is not clear on how we should act.

Additionally, what @qmikew1 suggests appears to resolve your issue. The example shown clearly shows how to apply a Bootstrap class to an H

[2016-07-16 15:43] erictleung commented on #9751
@gsn16 thanks for the issue. Yes, this should be case insensitive. [This line of code](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/6c637ebd6af416e44ea862ef76bb111a98722e8f/seed/challenges/01-front-end-development-certification/html5-and-css.json#L4035) needs to be changed to something like:

[code]

Regex101: https://regex101.com/r/pW1gV9/3

@FreeCodeCamp/issue-moderators should we pursue th

[2016-07-16 15:58] mnttnm commented on #9744
I am working on this. Changing the code as mentioned above.

[2016-07-16 16:16] haunja commented on #9745
Thanks for the feedback. It looks like it only an issue from me work machine. Probably a corporate firewall setting. Works fine on my home PC.

[2016-07-16 16:16] #9745 closed

[2016-07-16 17:59] raisedadead commented on #9751
CAPS is not a good practice IMHO, but then again we may accept test cases since its is valid code.

[2016-07-16 19:14] atjonathan commented on #9735
@raisedadead 👌

[2016-07-16 20:36] seemaullal commented on #8207
I am happy to work on this and add a exercise on multidimensional arrays and objects if people think this needs to be changed. What do you think @FreeCodeCamp/issue-moderators

[2016-07-16 20:40] #9744 closed

[2016-07-16 21:10] quicksilver774 opened #9755 "Global Scope and Functions"
Global Scope and Functions

https://www.freecodecamp.com/challenges/global-scope-and-functions#?solution=%0A%2F%2F%20Declare%20your%20variable%20here%0Avar%20myGlobal%20%3D%2010%3B%0A%0Afunction%20fun1()%20%7B%0A%20%20%2F%2F%20Assign%205%20to%20oopsGlobal%20Here%0A%20%20oopsGlobal%20%3D%205%3B%0A%7D%0A%0A%2F%2F%20Only%20change%20code%20above%20this%20line%0Afunction%20fun2()%20%7B%0A%20%20var%20ou

[2016-07-16 22:42] adamisntdead commented on #9755
If you write a variable inside a function without a `var`, its assigned global scope. if you leave a variable, declated with a `var` (example: `var banter;`), not inside any function, It also has global scope. See [here](https://msdn.microsoft.com/library/bzt2dkta(v=vs.94).aspx)

[2016-07-16 22:58] Toriki07 commented on #7603
result+= "My "+myAdjective+" "+myNoun+" "+myVerb+" very "+myAdverb+".";
it's so funny :santa:

[2016-07-16 22:59] emily04 opened #9756 "Text formatting"
#### Challenge Name
https://www.freecodecamp.com/challenges/accessing-nested-objects

#### Issue Description
In the paragraph with instructions, the highlight term styling extends beyond where it should be, starting with the word "gloveBoxContents." It continues into other line breaks and into the subsequent pop-up window (run tests, reset, bug). The screenshots included here are from "night mode"

[2016-07-16 23:20] erictleung commented on #9756
@emily04 thanks for catching this. I guess this challenge was updated recently.

[This line of code](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/a9b5c00fcb55c04ffd60357bf84deae01168bb70/seed/challenges/01-front-end-development-certification/basic-javascript.json#L4399) needs to be fixed to have the correct closing `</code>` tag on `gloveBoxContents`. Contributors will just need to add a forw

[2016-07-16 23:54] erictleung commented on #9755
@quicksilver774 thanks for the feedback. Although this may be a little confusing, the part of the instructions you left out make sense.

We want you to always declare variables with `var` so that is why the test asks you to do so.

To make it easier and less confusing, we can change [this line of code](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/a9b5c00fcb55c04ffd60357bf84deae01168bb70/seed/

[2016-07-16 23:55] erictleung commented on #9751
@raisedadead agreed. CAPS shouldn't be a best practice but I guess we can accommodate for it.

[2016-07-17 00:14] #9586 closed

[2016-07-17 00:45] erictleung commented on #8849
@QuincyLarson I like @jolarti suggestion at the very least of mentioning that you can add the Animate library using a `link` element.

So the first lesson in the jQuery sequence, we can have the text

I would suggest to just add @jolarti's suggested text to this challenge:

I actually forgot about this when debugging someone else's code until I realized I was missing a library so at the very least

[2016-07-17 00:52] erictleung opened #9757 "Use Responsive Design with Bootstrap Fluid Containers needs slight rewrite"
Challenge [Use Responsive Design with Bootstrap Fluid Containers](https://www.freecodecamp.com/challenges/use-responsive-design-with-bootstrap-fluid-containers) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.

The instruction

is kind of redundant. We can simplify it by editing it as

[This lin

[2016-07-17 03:04] Manish-Giri commented on #9751
I can make the highlighted change, if it's good to go.

[2016-07-17 03:22] erictleung commented on #9751
@Manish-Giri it's good to go if you want to take it!

[2016-07-17 04:51] ricardo-raog commented on #9196
Hi. I'm on Firefox 47 and I have the same error.

[2016-07-17 05:15] Kallaway commented on #9757
I will take this one if you don't mind!

[2016-07-17 05:50] erictleung commented on #9757
@Kallaway go for it!

[2016-07-17 06:13] samdoj opened #9760 "Stack overflow causes hanging."
Challenge [Factorialize a number](https://www.freecodecamp.com/challenges/factorialize-a-number) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

I accidentally caused a stack overflow and now

[2016-07-17 07:09] raisedadead commented on #9196
@ricardo-raog thanks a lot for reporting.

[2016-07-17 07:29] raisedadead commented on #9760
@samdoj try this http://forum.freecodecamp.com/t/free-code-camp-infinite-loop-protection/19550

[2016-07-17 11:19] BKinahan commented on #9751
Doesn't this issue have the larger scope of all the nearby challenges with similar style assignments? It seems odd to single out just this one for case insensitivity.

[2016-07-17 12:57] jaikamat commented on #9755
Hey @erictleung, I'd like to take this issue if that's alright!

[2016-07-17 14:36] erictleung commented on #9755
@jaikamat go for it!

[2016-07-17 15:06] #9757 closed

[2016-07-17 15:27] rsponholtz opened #9762 "Add Font Awesome Icons to our Buttons run tests doesn't work in IE"
#### Challenge Name

Add Font Awesome Icons to our Buttons 

#### Issue Description

"Run Tests" does not work properly in IE 11.  the exact same code worked and passed the test in Chrome.

#### Browser Information

* Browser Name, Version:
IE 11
![capture](https://cloud.githubusercontent.com/assets/1828699/16901430/18148d04-4c09-11e6-96f8-54a0227d251a.PNG)

* Operating System:
windows 10
* Mobil

[2016-07-17 15:57] erictleung commented on #9762
@rsponholtz thanks for the issue. I don't have a Windows 10 machine to try and replicate this

cc/ @FreeCodeCamp/issue-moderators do any of you have a Windows 10 machine to replicate this issue?

[2016-07-17 17:05] benschac commented on #9756
Hi @erictleung I'm a first timer and would like to tackle this issue.  Let me know if I can grab it!  Thanks!

[2016-07-17 17:21] dwd2010 commented on #9762
I thought window 10 dont have IE.  that is odd to me now.

[2016-07-17 17:28] erictleung commented on #9756
@benschac go for it! 👍  Please remember to read the contributing guidelines I've linked above on how to format a PR correctly and test your changes (if possible). Thanks!

[2016-07-17 17:38] naveenlb opened #9764 "Escape Sequences in Strings - Free Code Camp (FCC)"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%3D%22FirstLine%5Cn%20%5C%5CSecondLine%5C%5C%20%5CrThirdline%22%3B%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this

[2016-07-17 17:40] naveenlb commented on #9764
![error2](https://cloud.githubusercontent.com/assets/20254866/16902145/ae5d5af6-4c73-11e6-94bc-d12ce889b1e9.jpg)

[2016-07-17 18:19] BKinahan commented on #9764
Note that the instructions indicate there should not be any spaces in your string, and pay attention to capitalization.

Please seek coding assistance in the [Help chat](https://gitter.im/FreeCodeCamp/Help). Issues are for problems with the challenges or website.

Happy coding!

[2016-07-17 19:05] alayek commented on #9762
@erictleung I have Windows 10. I am trying to reproduce this issue in IE11.

[2016-07-17 19:08] benschac commented on #9756
Just want to make sure, do I need to be assigned to the ticket? Is there a waffle.io board I need to be apart of?

[2016-07-17 19:15] alayek commented on #9762
@erictleung I ran a test on this issue in my IE11 on Windows 11. Here are my observations:

- Clicking the _Rub Test_ button triggers the tests.
- Hitting <kbd>Ctrl</kbd> + <kbd>Enter</kbd> also triggers the test, but only if the code-mirror text editor is in focus. The key combination **doesn't** run the tests if the editor is not in focus, i.e., you have to click somewhere within the editor befo

[2016-07-17 19:18] alayek commented on #9756
@benschac at the moment, GitHub lets you assign issues if and if and only if you are part of the collaborators group, so we cannot officially display your screenname as assigned.

However, to all collaborators, for intents and purposes, you are assigned! Take your time and make it a good commit. There is no hurry. If you need help, feel free to reach out to any of us.

Hope that helps :smile: :+1:

[2016-07-17 19:32] P1xt opened #9765 "The forums are down"
#### Challenge Name
NA

#### Issue Description
For the past several days, the forums have been experiencing two issues.

Either the forum is down entirely "Failed to load resource: the server responded with a status of 500 (Internal Server Error)".

Or, the forum will display posts, however attempting to post a reply will error out with a 500 internal server error.

#### Browser Information

* Bro

[2016-07-17 19:34] dwd2010 commented on #9765
@P1xt, is it happened right now?  I checked on forum. I could enter it. it is fine to me right now.  I know forum was down few times.

[2016-07-17 19:46] P1xt commented on #9765
Right now, for me -
![screen shot 2016-07-17 at 2 44 54 pm](https://cloud.githubusercontent.com/assets/322175/16902734/29d6904a-4c2d-11e6-91f9-61776cc44e96.png)

[2016-07-17 19:46] P1xt commented on #9765
The forums is back up to the state where you can "see" the forums - but that's what I get when I try to post.

Both issues have been happening A LOT the past three days.

[2016-07-17 19:59] zelalem19 commented on #8713
you do not have to console.log, think about using answer as your return value. i will give you the first one as an example, your switch should be val not answer but your returning answer
switch(val) {

      case 1:
     answer= ("alpha");
      break;
//do the the same thing for what you have left
    }
 // Only change code above this line
  return answer;
}
this should help

[2016-07-17 20:10] erictleung commented on #9764
@naveenlb thanks for the issue but as @BKinahan has pointed out, you need to pay attention to capitalization and spacing. Closing as not an issue with the site. Happy coding!

[2016-07-17 20:10] #9764 closed

[2016-07-17 20:20] #9756 closed

[2016-07-17 20:22] erictleung commented on #9762
@alayek thanks for checking this! 👍

@rsponholtz please checkout @alayek's post above and see if that solves your issue. Update us if that doesn't resolve the issue. Thanks!

[2016-07-17 20:29] P1xt commented on #9765
The forums is back up now, and I can post replies. However, unless something specific was done to "fix" it - there's some systemic issue here because they've been up and down repeatedly and frequently over the past three days.

[2016-07-17 20:30] dmatt opened #9767 "Broken link for json.org"
#### Manipulating Complex Objects

https://www.freecodecamp.com/challenges/manipulating-complex-objects#

#### Issue Description

The link to json.org is broken.

https://json.org/ does not work.
Should be http://www.json.org/.

[2016-07-17 20:32] alayek commented on #9767
@dmatt thanks for reporting this.

[2016-07-17 20:37] BKinahan commented on #9767
@alayek This is actually a duplicate of #9704, which has already been addressed.

[2016-07-17 20:40] alayek commented on #9767
Ok, my bad. @dmatt as @BKinahan said, it has already been fixed in #9710. Once we merge `staging` to `master` and deploy, it would be on the live site.

Closing this issue. Happy coding!

[2016-07-17 20:40] #9767 closed

[2016-07-17 20:52] erictleung opened #9768 "Missing semi-colon for valid JS"
Challenge [Accessing Nested Objects](https://www.freecodecamp.com/challenges/accessing-nested-objects) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

## Description

The sample code is missi

[2016-07-17 21:01] erictleung commented on #9546
@renewu0707 sorry for the late response. Mmm I'm not sure what the issue could be. Your code doesn't appear to give an infinite loop and its odd that if only affects this challenge.

cc/ @FreeCodeCamp/issue-moderators any ideas on where or if this is a known issue?

[2016-07-17 21:39] calmchaos17 commented on #4150
Thanks!!! This helped me too!

[2016-07-17 21:44] erictleung commented on #9755
PR #9763 resolves this issue. Happy coding all!

[2016-07-17 21:44] #9755 closed

[2016-07-17 22:11] BerkeleyTrue commented on #9765
@P1xt Thanks for opening up the issue. However, this is not specifically actionable here.

In the future open forum issue's there. https://github.com/FreeCodeCamp/discourse/

I've gone ahead and done that now. see https://github.com/FreeCodeCamp/discourse/issues/35

Happy Coding

[2016-07-17 22:11] #9765 closed

[2016-07-17 22:38] erictleung commented on #9751
@BKinahan mmm yes, it does span a larger scope. Maybe it would be best to break up the second test into two: one checking for the creation of the `.pink-text` class, and another checking the color of the element. Checking the color of an element will check the RGB value so that it's CAP-independent.

[2016-07-17 23:40] erictleung commented on #7462
@webdev8183 thanks for the issue and sorry for the late response. @Certhic has pointed out why your code does not pass. Please check your understanding of truthy and falsy values. Also note, the function name has been changed recently from `every()` to `truthCheck()`.

But to resolve possible misunderstandings, the instructions can be rewritten to be a little bit clearer.

[2016-07-18 00:22] aashil commented on #9768
Can I take this one?

[2016-07-18 00:30] wellmoni commented on #8825
thanks it work for me

[2016-07-18 01:05] interglobalmedia opened #9770 "Trying to upload project from Github"
Challenge [Show the Local Weather](https://www.freecodecamp.com/challenges/show-the-local-weather) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

This is the link I am trying to upload: http

[2016-07-18 01:43] #9768 closed

[2016-07-18 01:46] erictleung commented on #9770
@interglobalmedia thanks for the issue. When you say you are "redirected to the FCC project page," are you clicking on the "View Project link on your FreeCodeCamp profile page? If so, I'm correctly directed to your weather app that's on GitHub.

[2016-07-18 01:47] alayek commented on #9770
@interglobalmedia thanks for filing this issue. Are you talking about the project link under your [FreeCodeCamp portfolio](https://www.freecodecamp.com/interglobalmedia)? Because it seems to point to your GitHub page deployment, which has your project.

Which means the URL you submitted at FreeCodeCamp for that project, is saved in our database accordingly.

Maybe you can provide some screenshot t

[2016-07-18 02:01] quicksilver774 commented on #9755
The second way makes more sense to me. Thanks!!

On Sat, Jul 16, 2016 at 7:56 PM, Eric Leung <notifications@github.com>
wrote:

[2016-07-18 02:35] interglobalmedia commented on #9770
I don't know where my head is at today. I clicked on the wrong link. To left instead of to right. Thanks alayek!

[2016-07-18 02:44] alayek commented on #9770
Oh glad to hear! It's alright.

I am closing this issue for now. If you face any issue regarding this. feel free to reopen this.

[2016-07-18 02:44] #9770 closed

[2016-07-18 03:38] ialmost commented on #7031
`function chunk(arr, size) {
  // Break it up.
  var newArr = [];
  for ( var i = 0, m = size; i < arr.length; i+=size,m+=size ) {
    newArr.push(arr.slice(i,m));
  }
  return newArr;
}

chunk(["a", "b", "c", "d"], 2);`

[2016-07-18 03:56] powell956 opened #9771 "Profile Lookup Challenge—Periods (Full Stops) in Return Statements Fail Last Two Checks"
#### Profile Lookup (Basic JavaScript)

https://www.freecodecamp.com/challenges/profile-lookup

#### Periods (Full Stops) in Return Statements Fail Last Two Checks

All things equal, a solution with the return statements "No such property." and "No such contact." will be counted wrong because they include periods, whereas statements without periods are correct.

#### Browser Information

* Chrome,

[2016-07-18 04:33] qmikew1 commented on #9771
I would say that the last two tests didn't fail but were actually successful. If you look at the instructions it doesn't ask for a period. So, it's evaluating for the string specified (not up until a boundary or partial string). In my opinion, massaging a string into different levels of 'correctness' would be wrong because one dot, bracket, semicolon, or parenths can cause you lots of grief (often

[2016-07-18 05:03] NadaH commented on #7374
the answer:
function isLess(a, b) {
  // Fix this code
 return a<b;
      }

[2016-07-18 06:18] erictleung commented on #9771
@powell956 thanks for the issue but as @qmikew1 has pointed out, the instructions ask specifically for no periods. The instructions do not have a typo. In the future, if you get stuck with or have a question about a challenge, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-07-18 06:18] #9771 closed

[2016-07-18 06:32] brandenbyers commented on #7377
I'm experiencing a similar "Oops! Something went wrong. Please try again later" when attempting to login via Github. I can't log in and don't have an email login connected to my account (that I am aware of).

Granted, I haven't logged in for over a year, so I may be lost in some kind of limbo (https://www.freecodecamp.com/brandenbyers) because I use to log in via Twitter.

[2016-07-18 12:47] malixi commented on #9314
Why it's not working on me.

var myStr = "\\FirstLine\n\Secondline\rThirdline\\";

All are check except to the myStr should have encoded text with the proper escape sequences and no spacing.

[2016-07-18 12:56] Chrono79 commented on #9314
malixi: you don't need the backslashes before FirstLine and after ThirdLine (this one is escaping the closing " btw).

[2016-07-18 13:05] ajaykandari222 commented on #9314
Malixi : this is the solution

var myStr= "FirstLine\n\SecondLine\\rThirdLine";

[2016-07-18 13:09] RyC37 opened #9772 "[HELP] I think my answer works, but couldn't pass the test.."
Challenge [Generate Random Whole Numbers within a Range](https://www.freecodecamp.com/challenges/generate-random-whole-numbers-within-a-range#?solution=%0A%2F%2F%20Example%0Afunction%20ourRandomRange(ourMin%2C%20ourMax)%20%7B%0A%0A%20%20return%20Math.floor(Math.random()%20*%20(ourMax%20-%20ourMin%20%2B%201))%20%2B%20ourMin%3B%0A%7D%0A%0AourRandomRange(1%2C%209)%3B%0A%0A%2F%2F%20Only%20change%20cod

[2016-07-18 13:10] malixi commented on #9764
This is my version but it's not working on me

var myStr = "FirstLine\\\nSecondLine\rThirdLine\\";

[2016-07-18 13:17] Chrono79 commented on #9314
alayek: sorry, but you have a backslash more than needed: the one before ThirdLine

[2016-07-18 15:06] P1xt commented on #9765
Sorry 'bout that, I wasn't even aware there was a repo for the discourse
stuff and didn't expect there'd be one as there's no real code you'd be
needing to track changes for on a standard discourse install. I'll take
more care to check FCC's repo list before bug reporting next time.

On Sun, Jul 17, 2016 at 5:13 PM, Berkeley Martinez <notifications@github.com

[2016-07-18 15:22] erictleung commented on #9772
@RyC37 thanks for the issue. Your clever answer does theoretically give the appropriate ranges asked for in the challenge. Our tests run a permutation test where it calls your function 100 times. Your code, however, requires that `Math.random()` return `0` precisely (as you have pointed out in your comments). If you run `Math.random()` yourself, you'll find it very difficult to get a precise numbe

[2016-07-18 15:22] #9772 closed

[2016-07-18 15:25] P1xt commented on #9731
A question came up recently on the forums about how one might update a wiki page for a challenge - which made me wonder: If all the wiki articles are migrated to the forums in their current form, doesn't that remove the feature wherein anyone can push a change to github to improve the wiki content? I would think that on the forums, typically folks will look at the shiny, leader yellow post and con

[2016-07-18 15:51] Devinsuit opened #9773 "Wiki broken link"
#### Issue Description

https://www.freecodecamp.com/wiki/
Link Wiki-Central is 404. (Guides on how to Contribute)

#### Browser Information

* Browser Name, Version:  Chrome 51
* Operating System:  Ubuntu 14.04
* Mobile, Desktop, or Tablet:  Desktop

[2016-07-18 16:19] IrshadAhmad commented on #9582
I have the following code for https://www.freecodecamp.com/challenges/record-collection:
// Setup
var collection = {
    "2548": {
      "album": "Slippery When Wet",
      "artist": "Bon Jovi",
      "tracks": [
        "Let It Rock",
        "You Give Love a Bad Name"
      ]
    },
    "2468": {
      "album": "1999",
      "artist": "Prince",
      "tracks": [
        "1999",
        "Little R

[2016-07-18 16:27] gari3d opened #9774 "issue"
Challenge [Local Scope and Functions](https://www.freecodecamp.com/challenges/local-scope-and-functions#?solution=%0Afunction%20myLocalScope()%20%7B%0A%20%20'use%20strict'%3B%0A%20%20%0A%20%20%0A%20%20console.log(myVar)%3B%0A%7D%0AmyLocalScope()%3B%0A%0A%2F%2F%20Run%20and%20check%20the%20console%0A%2F%2F%20myVar%20is%20not%20defined%20outside%20of%20myLocalScope%0A%0A%0A%2F%2F%20Now%20remove%20the

[2016-07-18 16:27] gari3d commented on #9774
i removed   console.log(myVar);  and i cannot submit or tell me it's error

[2016-07-18 16:27] #9774 closed

[2016-07-18 16:31] BKinahan commented on #9773
More completely:

None of the links on the main Wiki landing page to other pages within the Wiki are functional, and this includes:

- https://freecodecamp.github.io/wiki/CamperBot
- https://freecodecamp.github.io/wiki/Algorithm-Wiki-Template
- https://freecodecamp.github.io/wiki/Wiki-Central

Also, it seems that clicking a link to the Wiki from a source outside of the FCC website (eg the URL in @

[2016-07-18 17:14] qmikew1 commented on #9773
Confirmed (accessing link directly https://www.freecodecamp.com/wiki/ results in page load but no search functionality) - But yeah, it's probably a side effect of the migration (and no idea if there's a bug outstanding)

[2016-07-18 18:01] BerkeleyTrue commented on #7377
@brandenbyers Please send a support email to team@freecodecamp.com

I believe this issue was resolved a while back.

Happy Coding

[2016-07-18 18:01] #7377 closed

[2016-07-18 18:12] alayek commented on #9765
@P1xt the discourse repo is to have a place to consolidate the issues campers are facing on the forum. To be clear, we don't modify anything in the discourse source code. If such a situation arises, our Forum mods reach out to Discourse support team.

[2016-07-18 18:51] bugron opened #9776 "Add a hat symbol to babel-eslint version"
A carat (aka hat) symbol, `^` needs to be added [here](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/package.json#L35). So the result should look like this:
`"babel-eslint": "^6.1.2",`.

[2016-07-18 18:55] dhcodes commented on #9773
I believe #9513 may be relevant.

[2016-07-18 19:02] KingLouisXVII opened #9777 "Confusing Comment"
Challenge [Manipulating Complex Objects](https://www.freecodecamp.com/challenges/manipulating-complex-objects#?solution=%0Avar%20myMusic%20%3D%20%5B%0A%20%20%7B%0A%20%20%20%20%22artist%22%3A%20%22Billy%20Joel%22%2C%0A%20%20%20%20%22title%22%3A%20%22Piano%20Man%22%2C%0A%20%20%20%20%22release_year%22%3A%201973%2C%0A%20%20%20%20%22formats%22%3A%20%5B%20%0A%20%20%20%20%20%20%22CS%22%2C%20%0A%20%20%20%

[2016-07-18 19:06] erictleung commented on #9777
@KingLouisXVII thanks for the issue but can you clarify what or which comment was confusing? It wasn't entirely clear from your issue description.

[2016-07-18 19:47] abhisekp opened #9778 "[Fix Request] Add alternative to C9"
Recently, C9 was [acquired](https://c9.io/blog/great-news/) by Amazon and with this new change, (or  maybe before), C9 is no longer usable by new campers as it [**requires Credit Card**](https://community.c9.io/t/credit-card-required-for-free-account/7434/3) info for verification.

I suggest adding another resource or an alternative to C9 for those who cannot verify using Credit Card or don't have

[2016-07-18 19:53] KingLouisXVII commented on #9777
In the exercise the existing comment "//Add new record here" confused me and led me to write my code at the place of the comment instead of after the semicolon. Maybe that could be prevented by an additional comment that points out to write the own code below the comment.  I am not sure if this is an issue that should be pointed out here though. If not, I'm sorry.

[2016-07-18 20:18] qmikew1 commented on #9778
I can also verify (though I have an existing c9 but went through steps as new user) that a credit card is now required. It's sort of a difficult thing because on the one hand it would break some projects that are required if a switch to another service occurred - But at the same time new users are going to run into it fairly soon. One thing though, before initiating any action (imo) somebody from

[2016-07-18 20:32] ramir141974 commented on #9778
Thank you so much for helping me a important message and I figure out my
account in Amazon thanks...

On Jul 18, 2016 14:19, "Serenity" <notifications@github.com> wrote:

[2016-07-18 20:53] mikael1000 opened #9779 "The star disappear from required, when done."
#### Issue Description

Maybe it's a small thing. But in the Map link you can see an overview of everything. And there is the text on top of the page: "**Challenges required for certifications are marked with a *.**". It's nice but as soon as you have done a challenge marked with a * it's marked as done but the star disappear. The star that tells you it's required for certifications.

Just nice if

[2016-07-18 21:38] saumya2395 opened #9780 "Create an Ordered List test sensitive to new lines"
Challenge [Create an Ordered List](https://www.freecodecamp.com/challenges/create-an-ordered-list#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monosp

[2016-07-18 21:54] erictleung commented on #9780
@saumya2395 thanks for the issue. Our tests look for the element right before your ordered list and looks at its text for "Top 3 things cats hate:". However, it appears our tests are getting confused when you have a new line for the closing tag of your `<p>` tag. If you put it all in one line, you should be able to pass the challenge.

[code]

cc/ @FreeCodeCamp/issue-moderators do you guys have an

[2016-07-18 22:31] iarobinson opened #9781 "For some reason, even though my code was correct, it like 3 tries of running the code before I got a success message"
Challenge [Change Text Inside an Element Using jQuery](https://www.freecodecamp.com/challenges/change-text-inside-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target4%22).html(%22%3Cem%3E%23target4%3C%2Fem%3E%22)%3B%0A%20%20%7D)%3B%0Afcces%0A%0A%3C!--%20Only%20c

[2016-07-19 00:51] jenniferpham opened #9784 "Believe BooWho(1) should be true, not false"
Challenge [Boo who](https://www.freecodecamp.com/challenges/boo-who#?solution=%0Afunction%20booWho(bool)%20%7B%0A%0A%20%20%2F%2F%20What%20is%20the%20new%20fad%20diet%20for%20ghost%20developers%3F%20The%20Boolean.%0A%20%20if%20(bool%20%3C%3D%200%20%7C%20bool%20%3D%3D%3D%20-0%20%7C%20bool%20%3D%3D%3D%20null%20%7C%20bool%20%3D%3D%3D%20false%2C%20isNaN(bool)%20%7C%20bool%3D%3D%3D%20undefined%20%7C%20b

[2016-07-19 01:20] benschac commented on #9776
This would be my second issue, could I grab it?

[2016-07-19 02:04] brunnocgoncalves commented on #9776
Hi, I'd like to work on it. Is it ok?

[2016-07-19 02:14] Jaskaranbir commented on #9784
@jenniferpham I believe that you are interpreting the challenge incorrectly. The challenge is not about translating input values into boolean, but to check if the argument passed to function is a `true` or `false`. In simple words, this is valid:

[code]

But this is invalid:

[code]

Only valid arguments are `true` and `false`.

[2016-07-19 02:16] erictleung commented on #9784
@jenniferpham thanks for the issue but as @Jaskaranbir has pointed out, you may have misinterpreted the instructions.

If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-07-19 02:16] #9784 closed

[2016-07-19 02:56] stgisi commented on #9784
Eu Hi
On Jul 18, 2016 2:53 PM, "Jennifer Pham" <notifications@github.com> wrote:

Gecko/20100101 Firefox/47.0.

screenshots if possible.

isNaN(bool) | bool=== undefined | bool === "" | typeof bool === "number"){

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Boolean,
it specifies which items are considered false, and the rest is true. 0 or
neg numbers are false,

[2016-07-19 03:32] bugron commented on #9776
@benschac @brunnocgoncalves whenever you want to take an issue don't ask, just check if there is no a PR opened for the issue and freely open your PR. Make sure that you've read [**Guidelines for Contributing**](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) before submitting a PR.

[2016-07-19 05:02] erictleung commented on #9781
@iarobinson mmm your code runs correctly and passes the tests with just one try for me. So I can't replicate your issue.

cc/ @FreeCodeCamp/issue-moderators anyone heard of this ever happening?

[2016-07-19 05:06] erictleung commented on #9779
@mikael1000 thanks for the feedback. I have noticed this and sometimes do wish those stars were still there too 😄

cc/ @FreeCodeCamp/issue-moderators what do you guys think about keeping those stars there?

[2016-07-19 05:16] erictleung commented on #9778
I think we've talked about using [HyperDev](https://hyperdev.com/) as a potential replacement for c9. But it is still unstable and untested fully.

The challenges it affects are at least:

- Save your Code Revisions Forever with Git
- Manage Packages with npm
- Start a Node.js Server
- Continue working with Node.js servers
- Finish working with Node.js servers
- Build Web Apps with Express.js
- St

[2016-07-19 05:18] erictleung commented on #9777
@KingLouisXVII the challenge does ask you to add your code at the place of the comment. You shouldn't be adding code after that last semi-colon. I think the comment there is aptly placed.

[2016-07-19 05:20] Byroni commented on #9781
I have actually been seeing a few cross-browser problems with multiple people in chat. They will have the correct code but FCC will refuse to accept it, but once they switch to another browser, it passes it with flying colors. I think it may just be an FCC issue.

[2016-07-19 07:47] yogain123 commented on #9377
its not working, tried all the option

[2016-07-19 09:44] MahadMajeed opened #9786 "function call returns right answer but when I click on Run Tests, nothing happens"
Challenge [Chunky Monkey](https://www.freecodecamp.com/challenges/chunky-monkey#?solution=%0Afunction%20chunkArrayInGroups(arr%2C%20size)%20%7B%0A%20%20var%20out%20%3D%20%5B%5D%3B%0A%20%20var%20upper%2C%20lower%2C%20i%3B%0A%20%20lower%20%3D%200%3B%0A%20%20upper%20%3D%20size%3B%0A%20%20while(1)%7B%0A%20%20%20%20%0A%20%20%20%20out%5Bi%5D%20%3D%20arr.slice(lower%2Cupper)%3B%0A%20%20%20%20if(upper%20%

[2016-07-19 09:53] MahadMajeed commented on #9786
the function call at the end of the code returns the desired output but FreeCodeCamp doesn't recognize it.

[2016-07-19 10:42] serj-babiy commented on #9786
The while loop loops through a block of code as long as a specified condition is true.
So it because you use infinite loop.
And you did no receive two-dimensional array.

[2016-07-19 12:33] atjonathan commented on #9778
Most of the nodeschool challenges for node and express will be removed with our own challenges with the curriculum update.

[2016-07-19 12:45] alayek commented on #9778
I think there is some discussion in the pipeline that we would like to mimic some functionality of hyperdev in FreeCodeCamp main site. It would be great if campers can work in an environment in the site itself.

---

It doesn't solve the underlying issue though. [Nitrous](https://www.nitrous.io/) is another such platform. It had a free tier, and back in July 2015 they removed that. They resumed th

[2016-07-19 12:53] alayek commented on #9786
@MahadMajeed which tests are not passing?

[2016-07-19 12:55] BKinahan commented on #9786
@MahadMajeed Your returned value actually contains two hidden properties: `undefined` and `NaN`. For example for `chunkArrayInGroups([0, 1, 2, 3, 4, 5, 6, 7, 8], 2);` your output is `[ [ 0, 1 ], [ 2, 3 ], [ 4, 5 ], [ 6, 7 ], [ 8 ], undefined: [ 0, 1 ], NaN: [ 8 ] ]`

I'll leave it as an exercise for you to work out why and how to fix it. The [Help Javascript](https://gitter.im/FreeCodeCamp/HelpJav

[2016-07-19 12:58] alayek commented on #9777
@KingLouisXVII yes, you have to add your code after the comment (not in the same line, from next line; but you already know how single-line comment works, so you know not to add in the same line), so that the array `myMusic` would have two elements. The instruction is clear, and you just have to take care of the comma.

I am closing this for now. Happy coding!

[2016-07-19 12:58] #9777 closed

[2016-07-19 13:00] akashsharma007 commented on #9368
i have the same issue.creating two clones in left well.

[2016-07-19 13:03] ucshadow opened #9787 "Cant advance to next level"
#### Nonprofit Projects

#### Issue Description

https://www.freecodecamp.com/ucshadow

Hi, today I got all three foundational certifications: Front End, Data Visualization, and Back End and I should be able to access the next step -- Nonprofit Projects, but they are still locked.

Is there a period of time that my projects must be confirmed to advance, or what can the problem be?

Any help would

[2016-07-19 13:30] BhaveshSGupta opened #9788 "Cant navigate through out the code window"
Challenge [Style Text Inputs as Form Controls](https://www.freecodecamp.com/challenges/style-text-inputs-as-form-controls) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.
I am not able to navigate to the

[2016-07-19 13:35] atjonathan commented on #9778
Yeah this is great solution which has a team from Freecodecamp behind it. Me, @alayek and @byteknacker can lead the team if we decide on this option.  The one issue I can see is users having to install things locally, however I think we should expect users to have that knowledge and we can walk them through it in a challenge.

[2016-07-19 13:35] BhaveshSGupta commented on #9788
it doesn't work when browser is initially loaded, and one try to navigate to the bottom. but if you delete any thing it can navigate to anywhere in the code. Even during this where ever the cursor is show when we type anything it gets typed at bottom

[2016-07-19 13:45] BKinahan commented on #9788
This is a duplicate of issue #7847. Please have a look through the comments there for more information and how to get around the problem.

[2016-07-19 13:50] mfessler commented on #9781
I have had the same issue in Mac Safari several times. In fact, after a piece of code does not pass, I have copied and pasted it back into the editor, and then it works!

[2016-07-19 14:11] benmcmahon100 commented on #9781
@Byroni @mfessler Cross browser issues are due to the behavior of the javascript engine of a given browser. Javascript is actually and implementation of ECMA script and each browser has a slightly different implementation. Safari and IE have poorer implementations than the likes of chrome and firefox. If you are using either safari or IE i'd highly recommend switching browser regardless of FCC. Th

[2016-07-19 15:04] erictleung commented on #9787
@ucshadow congrats on finishing the certifications! I'll tag @QuincyLarson and @BerkeleyTrue to help guide you.

[2016-07-19 15:06] erictleung commented on #9788
@BhaveshSGupta as @BKinahan has mentioned, this is unfortunately a known bug. Please refer to the comments in that issue for work-arounds. Happy coding!

[2016-07-19 15:06] #9788 closed

[2016-07-19 15:12] BerkeleyTrue commented on #9787
@ucshadow Please contact @CodeNonprofit to start the nonprofit projects. micheal@freecodecamp.com.

Happy Coding.

[2016-07-19 15:12] #9787 closed

[2016-07-19 15:48] pnahratow commented on #9727
@raisedadead
I'm not sure what "balance between the target audience" means but I can only assume it is about crashing browsers with large strings. In that case strings with lengths <= 8 should already do the trick.

Like these ones

[code]

[2016-07-19 16:38] NadaH opened #9789 "Counting Cards"
Challenge [Counting Cards](https://www.freecodecamp.com/challenges/counting-cards#?solution=%0Avar%20count%20%3D%200%3B%0A%0Afunction%20cc(card)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%0A%20%20switch(card)%7B%0A%20%20%20%20case%202%3A%0A%20%20%20%20case%203%3A%0A%20%20%20%20case%204%3A%0A%20%20%20%20case%205%3A%0A%20%20%20%20case%206%3A%20count%2B%3D1%3B%0A%20%20%20

[2016-07-19 16:51] ucshadow commented on #9787
Thanx for the help guys, I'll do as pointed out.

[2016-07-19 17:23] victorcarvalho1 opened #9790 "Problemas"
Challenge [Headline with the h2 Element](https://www.freecodecamp.com/challenges/headline-with-the-h2-element#?solution=%3Ch1%3EHello%20World%3C%2Fh1%3E%0A%3CH2%3ECatPhotoApp%3C%2Fh2%3E%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.106 Safari/537.36</code>.
Please describe how to reproduce this issue, and include

[2016-07-19 17:25] dwd2010 commented on #9790
@victorcarvalho1, you wrote H2. it suppose to be h2.
so It dont have a problem.
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding!

[2016-07-19 17:25] #9790 closed

[2016-07-19 18:09] akorede12 commented on #9641
how did you get it, I'm confused

[2016-07-19 18:43] abderafay0110 opened #9791 "Trouble in Use a CSS Class to Style an Element"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20h2%20%7B%0A%20%20%20%20color%3A%20blue%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%

[2016-07-19 18:47] abderafay0110 commented on #9791
donw whith it sorry

[2016-07-19 18:50] BKinahan commented on #9791
@abderafay0110 Please close the issue if there is no issue :)

Also please note that you can use the [Help Chat](https://gitter.im/FreeCodeCamp/Help) for assistance with writing code. Issues are for bugs with the challenges or website.

Happy coding!

[2016-07-19 18:55] BKinahan commented on #9789
Your code is incorrect (you have a capitalization error).

Please use the [Help Chat](https://gitter.im/FreeCodeCamp/Help) to ask for assistance when writing code; issues are for reporting problems with the challenges or website.

Happy coding!

[2016-07-19 18:58] DanielLailvaux commented on #8937
I'm having the same issue

[2016-07-19 19:08] #9791 closed

[2016-07-19 20:18] #9789 closed

[2016-07-19 20:21] mack318 commented on #9748
im not sure why this is not working

![create a form element free code camp](https://cloud.githubusercontent.com/assets/6243323/16965122/8c3762a0-4db3-11e6-8514-4ca9c8db30c2.png)

[2016-07-19 20:25] #9786 closed

[2016-07-19 20:26] atjonathan commented on #9779
I think they should stay :+1:

[2016-07-19 20:51] #9565 closed

[2016-07-19 21:07] brahadee opened #9792 "difficulty in setting id for form element. Please help on this."
Challenge  [Set the ID of an Element]
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-07-19 21:10] brahadee commented on #9792
i found the answer myself. its nothing i mistyped "cat-photo-form" as "cat-photo-id"

[2016-07-19 21:10] #9792 closed

[2016-07-19 22:55] Francesqua commented on #3013
![screen shot 2016-07-19 at 6 52 04 pm](https://cloud.githubusercontent.com/assets/20522523/16969308/f7eaa24a-4de1-11e6-8784-11f4d2896d92.png)

Add this code before the end of </style> -------->  #cat-photo-form {background-color: green;}
worked for me. :)

[2016-07-19 23:05] P1xt opened #9794 "Roman Numeral converter"
#### Challenge Name
Roman Numeral Converter

#### Issue Description

I'm reporting this based on my tests of an issue another camper reported on the forums.

The thread may be found here [on the FCC forum](http://forum.freecodecamp.com/t/roman-numeral-solution-not-working/21474)

The code pasted below fails all tests for this challenge, even though it is returning the correct answer.

Moving `var

[2016-07-19 23:19] BKinahan commented on #9794
It's already known that use of global variables in such a way prevents the tests from running successfully for otherwise correct code as these variables are not reset between function calls.
There is an open issue and discussion at #9199, so this is a duplicate issue.

Note that with a global variable for `converted` this function would not work with multiple invocations, even outside of the FCC e

[2016-07-19 23:27] P1xt commented on #9794
Oh yes, I'm aware of the issues that occur on multiple calls to the function. Like I said, just reporting for another camper.

I'll close this out now as it appears to be covered by the other open ticket.

[2016-07-19 23:27] #9794 closed

[2016-07-19 23:47] BerkeleyTrue commented on #9474
@raisedadead Can you verify that this is still an issue?

[2016-07-19 23:47] BerkeleyTrue commented on #9686
Fixed, Live on beta!

[2016-07-19 23:47] #9686 closed

[2016-07-20 01:27] TheSciencePundit opened #9796 "FreeCodeCamp doesn't work right on my Android tablet"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]
I tried sever

[2016-07-20 01:36] erictleung commented on #9796
@TheSciencePundit thanks for the issue. Yes, it appears that Android injects some odd characters that make it weird. This is a known issue #7753. So all I can advise is to do the challenges giving problems on a laptop or computer. Closing as this is a duplicate issue. Happy coding!

[2016-07-20 01:36] #9796 closed

[2016-07-20 01:45] clothesclothes439 commented on #9778
You can add images to your website by using the img element, and point to a specific image's URL using the src attribute.

An example of this would be:

my image isnt working can someone help

<img src="https://www.your-image-source.com/your-image.jpg">

Note that in most cases, img elements are self-closing.

Try it with this image:

https://bit.ly/fcc-relaxing-cat

[2016-07-20 01:47] bobdaley opened #9797 "Hello Out there, I'm new and stuck here for like 30 minutes, any help?? thx"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3Ablue%3B%7D%0A%3C%2Fstyle%3E%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_5) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/6.1.6 Safari/537.78.2</code>.
Please describe how to reproduce this

[2016-07-20 01:49] #9797 closed

[2016-07-20 01:50] dwd2010 commented on #9797
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding!

[2016-07-20 03:13] alayek commented on #9778
@clothesclothes439 what do you mean? How is this image related to the c9 discussion?

[2016-07-20 04:01] mizujin commented on #9649
Here you go !

"Les chaînes de caractères entrées sont garanties d'être des mots anglais en lettres minuscules."

[2016-07-20 04:26] johnkirch123 opened #9798 "Bug on 'Make Object Properties Private'"
Challenge [Make Object Properties Private](https://www.freecodecamp.com/challenges/make-object-properties-private#?solution=%0Avar%20Car%20%3D%20function()%20%7B%0A%20%20%2F%2F%20this%20is%20a%20private%20variable%0A%20%20var%20speed%20%3D%2010%3B%0A%0A%20%20%2F%2F%20these%20are%20public%20methods%0A%20%20this.accelerate%20%3D%20function(change)%20%7B%0A%20%20%20%20speed%20%2B%3D%20change%3B%0A%20

[2016-07-20 04:30] johnkirch123 commented on #9798
Found this issue elsewhere.

[2016-07-20 04:30] #9798 closed

[2016-07-20 05:01] raisedadead commented on #9474
Sweeeeeet... its fixed now. Thanks @BerkeleyTrue. Please close as you seem fit,

[2016-07-20 05:14] raisedadead commented on #8923
Update: This will be resolved once we have the Free Code Camp website on react, very soon.

[2016-07-20 05:14] raisedadead commented on #9196
Update: This will be resolved once we have the Free Code Camp website on react, very soon.

[2016-07-20 05:21] raisedadead commented on #9779
Agreed.

[2016-07-20 05:25] raisedadead commented on #9727
@pahlsson apologies, should have clarified. The intent here is that we could add more tests, but we must keep in mind that this challenge being one of the non-mandatory challenges should not be very tough for campers who are learning and may find this a bit too difficult.

Nevertheless, like Eric in the previous comment I am up for expanding the tests a little bit more.

[2016-07-20 06:01] raisedadead commented on #9546
@erictleung Could be a loopProtect bug.

@renewu0707 Coud you add `//noprotect` the top (first line) an then add your code. If that lets you pass then its definitely the case.

[2016-07-20 06:08] s7b5en opened #9799 ""Run tests" button doesn't work"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2016-07-20 06:08] poke1337 opened #9800 "FreeCodeCamp challenges fully reset."
#### Challenge Name

I got to the Build a Tribute Page challenge. But the problem does not lie in the challenge itself(read Issue Description).

#### Issue Description

So I found your website yesterday(Tuesday July 20 2016) and I started doing a lot of challenges up to "Build a Tribute Page" and I did some of that before I closed my computer and went to bed. Then the next day(Wednesday July 20 20

[2016-07-20 06:28] #9474 closed

[2016-07-20 06:28] BerkeleyTrue commented on #9474
✨

[2016-07-20 07:38] anookeen opened #9801 "page not working"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-07-20 07:55] alayek commented on #9801
hi @anookeen kindly provide details of the issue you have been facing. I am closing this issue for now, Feel free to re-open it with more details (or just comment below with details of your issue; yes, you have to type down what exactly is not working for you).

[2016-07-20 07:55] #9801 closed

[2016-07-20 07:59] alayek commented on #9800
@poke1337 really sorry to hear that. Yes, if it were to happen to me, I would lose motivation to continue as well.

This is indeed a big issue. I am tagging @QuincyLarson and @BerkeleyTrue as they are more equipped to look into this matter better than I am.

Thanks for reporting this.

[2016-07-20 08:05] arsh1577 opened #9802 "program not running and errors not being showm"
Challenge [Target Elements by Class Using jQuery](https://www.freecodecamp.com/challenges/target-elements-by-class-using-jquery) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-07-20 08:06] #9802 closed

[2016-07-20 08:11] alayek commented on #9779
Yes, they should stay. Whether I have completed the challenge or not, I would like to know at any stage of my progress whether I needed to complete certain challenges. This might be beneficial to some campers in the long run, or say, even in an interview

[2016-07-20 09:02] atjonathan commented on #9649
@mizujin, could you create a pull request with the change?

[2016-07-20 09:27] gangachris commented on #6678
@NolanChan are you still working on this? I'd like to work on it

[2016-07-20 10:35] qmikew1 commented on #9778
How outside the realm of possibility is it that fcc could develop and host its own c9 or hyperdev like environment? I've seen some of @alayek (et al)'s stuff (probably should look at more) and it's no doubt cool - One thing though, even with turnkey type VMs (which for the sake of argument I'll call it that (though there are different approaches, tools, scripts etc.) - Local always has an element

[2016-07-20 10:57] Akshit-p opened #9806 "Case check not done for the result"
#### Challenge Name
Manipulate Arrays With unshift

https://www.freecodecamp.com/challenges/manipulate-arrays-with-unshift

#### Issue Description

The code doesn't check for the case entered for the array output.

#### Browser Information

* Google Chrome, Version:  51.0.2704.106 m
* Operating System: Windows 10 Home
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

![image]

[2016-07-20 11:41] BKinahan commented on #9806
The test isn't very picky about the contents, is it? Even `myArray.unshift(['paul','35']);` passes, with the string `'35'` rather than the number `35`.

The important part is that `unshift` is used correctly, which the test does check for. Still, the value indicated as correct for `myArray` probably should more closely match what is actually tested for.

[2016-07-20 11:43] atjonathan commented on #9778
I agree about the issue with local setup. I would love to work in something like cloud 9. However, I think going with hyperdev would be a better option as hosting a c9 alternative would take a lot of time and money. And np we always love hearing what campers think :smiley:

[2016-07-20 11:47] Akshit-p commented on #9806
I totally understand that but if the Cases are checked for most of the results then why not this, sure this one is odd but consistency is key. Thanks though

[2016-07-20 11:49] atjonathan opened #9807 "Remove wiki sidebar"
Since we are moving to the forum, we can remove the wiki sidebar javascript, HTML and less.

[2016-07-20 11:50] atjonathan commented on #8106
This can be closed because we are moving to using the forum.

[2016-07-20 11:50] #8106 closed

[2016-07-20 11:55] BKinahan commented on #9806
@Akshit-p Oh, I'm not disagreeing with you, just adding more information 😄

I think the test for this challenge should be changed to remove the `toLowerCase()`, but I also think tests in all four of the challenges should use strict number comparison to ensure users are entering the correct values.

[2016-07-20 12:19] GeniaT commented on #6249
Hi @joufflu ,

I was wondering the same as I first wrote "**return myObj.checkProp;**" instead of "**return myObj[checkProp];**"
From what I understand, since checkProp isn't a real property here but rather a var representing a property, the 1st way to write doesn't work.

[2016-07-20 12:22] raisedadead commented on #9773
Hey everyone, we are moving away the wiki completely to the forum. And while that happens there will be some of the links that are broken. We request all contributors to pitch in the effort to help audit the same and make pull requests (if needed) in the codebase addressing the same.

Please feel free to follow and your comments on
https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9731

[2016-07-20 12:47] Stothetone commented on #6249
@GeniaT
almost correct. checkProp in this case is a String and the dot-notation uses identifiers.

[2016-07-20 13:14] moltrex commented on #8398
managed to rezolve this only using splice ... no slice needed ...

  // it doesn't always pay to be first

  if(arr.length - howMany >= 0 ){
    arr = arr.splice(howMany, arr.length);
  }else{
    arr = [];
  }

  return arr;
}

slasher([1, 2, 3], 2);

[2016-07-20 13:30] raisedadead commented on #9799
Marking as duplicate.
Refer https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9673
This will although remain while we are upgrading our editor.

[2016-07-20 13:39] dhcodes opened #9809 "Forum has 500 Internal Server Error"
#### Challenge Name

N/A

#### Issue Description

I'm getting a 500 Internal Service Error when making a reply on the forum. I didn't see a place to submit bugs on the forum so I'm posting it here. I had another camper in the chat room confirm that they are getting the same error.

#### Browser Information

* Browser Name, Version: Chrome, 51
* Operating System: OS X, El Capitan
* Mobile, Desktop,

[2016-07-20 13:42] dhcodes commented on #9807
I'm up for taking a crack at this. To confirm, I would:
1) Remove the wiki button on the navbar.
2) Remove all code regarding the Wiki sidebar flyout (HTML, LESS, JS).

Anything else?

[2016-07-20 13:43] mcaponigro18 opened #9810 "How Fonts Should Degrade"
Challenge [Specify How Fonts Should Degrade](https://www.freecodecamp.com/challenges/specify-how-fonts-should-degrade#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%2

[2016-07-20 13:52] raisedadead commented on #9807
@dhcodes yes that is what we expect, please go ahead.

[2016-07-20 13:53] Amallard commented on #9809
I can confirm this. Blank page when going to http://forum.freecodecamp.com/

Checked the console.

`right.js:22 Uncaught TypeError: Cannot read property 'version' of null
http://forum.freecodecamp.com/
Failed to load resource: the server responded with a status of 500 (Internal Server Error)`

Browser Information

- Broswer Name, Version: Chrome, 51
- Operating System: Windows 10
- Mobile, Desktop

[2016-07-20 13:53] Amallard commented on #9809
I had the same issue. Seems to be back online now.

[2016-07-20 13:54] raisedadead commented on #9809
Please open on https://github.com/FreeCodeCamp/discourse
/cc @m-henderson

[2016-07-20 13:54] #9809 closed

[2016-07-20 13:55] alayek commented on #9807
@raisedadead I think Quincy already has a PR removing the Wiki link from navbar. Is this different?

[2016-07-20 13:56] raisedadead commented on #9810
@mcaponigro18 Your code is incorrect. Please visit [Help Chat Room](https://gitter.im/FreeCodeCamp/Help), for assistance to coding.

[2016-07-20 13:56] #9810 closed

[2016-07-20 13:57] raisedadead commented on #9807
He has for removing it from the nav bar, this is removing it from the sidebar.

[2016-07-20 13:57] raisedadead commented on #9807
@dhcodes we have a PR for this

you need to work on

[2016-07-20 14:06] dhcodes commented on #9807
Okay, thanks. Will do.

[2016-07-20 14:07] cdudley21 commented on #1468
it's definitely not a bug.....you have to change the second <p class to "style"

[2016-07-20 14:20] cdudley21 commented on #1468
its definitely not a bug...... on the second "<p class", change it to "<p style"

and you'll pass the challenge :100:

[2016-07-20 14:28] gringogidget commented on #6255
This is kind of a silly wording of the question.

I would assume this means (a || b > 0);

Wouldn't it make more sense to say "a as well as b are less than 0", which would be (a > 0 || b > 0);?

[2016-07-20 14:38] thoragio commented on #8988
I think the FCC folks are leaving "We recommend using the Open Weather API" in place just to give everyone completing this assignment a little taste of "real world challenges" :-).

I hit up against the same problem a few weeks ago and ended up just looking for another weather API that would give me HTTPS access for free.  I found wunderground.com as a result and it works fine.

That being said, I

[2016-07-20 15:02] HasanatJahan commented on #4658
`var Car = function(wheels, seats, engines) {
  //Change this constructor
  this.wheels = 4;
  this.seats = 5;
  this.engines = 1;
};

//Try it out here
var myCar=new Car (0,1, 2);`

This isn't passing, what's wrong with this?

[2016-07-20 15:54] klu17 opened #9812 "Stuck in A Challenge. Run tests button doesn't work."
Challenge [Target the same element with multiple jQuery Selectors](https://www.freecodecamp.com/challenges/target-the-same-element-with-multiple-jquery-selectors) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if po

[2016-07-20 16:01] BKinahan commented on #9812
You have a capitalization error.

Please seek assistance in the [Help Chat](http://gitter.im/FreeCodeCamp/Help) if you get stuck writing code. Issues are for reporting problems with the challenges or website.

Happy coding!

[2016-07-20 16:38] D-Prince87 opened #9813 "Issue with code challenge Change the "CSS of an Element Using jQuery""
Challenge [Change the CSS of an Element Using jQuery](https://www.freecodecamp.com/challenges/change-the-css-of-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%20%24(%22%23target1%22).css(%22color%2C%22%22red%22)%3B%0A%0A%20%20%7D)%3B%0Afcces%0A%0A%3C!--%20Only%20change%20code%20above%20this%20line.%20--%3E%0A%0A%3Cdiv%20class%3D%22container-f

[2016-07-20 16:46] poke1337 commented on #9813
You put the comma inside your quotation marks.
It should be like this:
`$("#target1").css("color", "red");`

[2016-07-20 16:51] atjonathan commented on #9807
@raisedadead :+1:

[2016-07-20 16:52] D-Prince87 commented on #9813
Just corrected it. Thank you.

[2016-07-20 16:53] Jaskaranbir commented on #9813
@D-Prince87 in case you are not sure what you might be doing wrong in scripts, try viewing the console screen of browser where any error messages from your wrong syntax are going to be displayed. The shortcut key in Chrome is F12, however I am not aware of Mozilla since I dont use it (its usually under developer tools).

[2016-07-20 16:55] D-Prince87 commented on #9813
Thank you

[2016-07-20 17:00] #9813 closed

[2016-07-20 17:03] jwjb commented on #3180
@studenton Sorry for the late response as I did not get a notification, but as you probably know this is a moot point now that all of our solutions are available making these flashcards dated.

[2016-07-20 17:08] raisedadead commented on #9812
Refer #9673

[2016-07-20 17:08] #9812 closed

[2016-07-20 17:34] peter325 opened #9814 "Code fulfills the challenge requirements but fails to pass"
Challenge [Return Largest Numbers in Arrays](https://www.freecodecamp.com/challenges/return-largest-numbers-in-arrays#?solution=var%20res%20%3D%5B%5D%3B%0A%0Afunction%20largestOfFour(arr)%20%7B%0Afunction%20highlow(a%2Cb)%20%7B%0A%20%20%20%20return%20b%20-%20a%3B%0A%7D%0A%20%20for(i%3D0%3B%20i%3C%20arr.length%3B%20i%2B%2B)%7B%0A%20%20arr%5Bi%5D.sort(highlow)%3B%0A%20%20%7D%0A%20%20for(j%3D0%3B%20j

[2016-07-20 17:43] BKinahan commented on #9814
Because of the way the tests are run, with multiple calls to your function in a row, any global variables you use will not be cleared between tests and so correct code will only provide the correct output for the very first test.

This will also result in the code not working correctly for multiple function calls in any environment, so the best solution is to move the global variable declaration (

[2016-07-20 17:50] raisedadead commented on #9814
@peter325 thanks for reporting but we are currently discussing the use of global vars, please follow along on #9199

You can however refactor your code to pass the challenge without using a global variable.

[2016-07-20 17:50] #9814 closed

[2016-07-20 17:51] peter325 commented on #9814
Thanks for your clear and concise explanation that give me a more in-depth understand much appropriated!

[2016-07-20 18:46] QuincyLarson opened #9816 "[beta] Button edges truncated on mobile"
![](https://www.evernote.com/l/Ar8XcXMaCSVJMbmTGZnxS0y6HloiYlGD4kUB/image.png)

[2016-07-20 18:54] BerkeleyTrue opened #9817 "[beta] Remove "update email" button underline"
When hovering over the button an underline appears.

[2016-07-20 18:54] QuincyLarson opened #9818 "Update my Email button strange hover effect"
![](https://www.evernote.com/l/Ar8YI0Qxs9pLL4EOxRD_kV-sFIFqaGZVIIgB/image.png)

[2016-07-20 18:58] raisedadead commented on #9818
Duplicate of #9817

[2016-07-20 18:58] #9818 closed

[2016-07-20 19:02] BKinahan commented on #9199
I don't think there's an easy solution to this.

It doesn't seem feasible to detect a global variable declaration and throw an error as @raisedadead suggested since valid code such as this would cause a false positive:
[code]
(As long as the variable is assigned an initial value with the function before use as an operand, it works correctly regardless of global declaration, with or without initial

[2016-07-20 19:13] BerkeleyTrue commented on #9363
This is still up for grabs.

[2016-07-20 19:26] raisedadead commented on #9199
@BKinahan thanks again for looking into this, and whoa that was a huge post. However I think we can try a hack for this, I'll have to double check and get back on this but to the best of my knowledge the final code that is asserted for each test case runs within an `eval` method.

So it is possible (theoretically speaking) to append `//# sourceURL=functionNameXX` where `XX` is an incremental no ad

[2016-07-20 19:28] raisedadead commented on #9199
And if this doesn't then we can wrap the entire seed code within a named container functions.

[2016-07-20 19:57] raisedadead commented on #9817
Just to help:

Currently the DOM renders like below for the underlined button like this:
[code]

Where are a render like below fixes it.

[code]

[2016-07-20 20:34] ShivaShinde opened #9820 "I got right results but my tests are failing"
Challenge [Caesars Cipher](https://www.freecodecamp.com/challenges/caesars-cipher#?solution=%0Afunction%20rot13(str)%20%0A%7B%20%0A%20%20%0A%20%20var%20newStr%20%3D%20str.split(%22%20%22)%3B%0A%20%20var%20jeen%20%3D%22%22%3B%0A%20%20%0A%20%20for(var%20i%3D0%3B%20i%3CnewStr.length%3Bi%2B%2B)%0A%20%20%20%20%7B%0A%20%20%20%20%20%20for(var%20j%3D0%3Bj%3CnewStr%5Bi%5D.length%3Bj%2B%2B)%0A%20%20%20%20%2

[2016-07-20 20:38] erictleung commented on #9820
@ShivaShinde thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: you don't need quotations in your output. Happy coding!

[2016-07-20 20:38] #9820 closed

[2016-07-20 20:55] ShivaShinde commented on #9820
Sure @erictleung for some weird reason, it didn't work when I removed quotes before, now it works. Sorry for that!!

[2016-07-20 21:57] Curting opened #9821 "Bug in the JavaScript Switch-challenges (return answer = ...)"
Challenge [Replacing If Else Chains with Switch](https://www.freecodecamp.com/challenges/replacing-if-else-chains-with-switch#?solution=%0Afunction%20chainToSwitch(val)%20%7B%0A%20%20var%20answer%20%3D%20%22%22%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%0A%20%20if%20(val%20%3D%3D%3D%20%22bob%22)%20%7B%0A%20%20%20%20answer%20%3D%20%22Marley%22%3B%0A%20%20%7D%20else%20if

[2016-07-20 22:50] qmikew1 commented on #9821
The point of the exercise is to convert ```if /else if``` into a switch (case statement) -That hasn't been attempted in the pasted code. I went through and did the exercise, and don't see any errors. ```answer =``` is changing the variable (and would be whatever is instructed); however, the return statement is pretty clear ```return answer;```  [help](https://gitter.im/FreeCodeCamp/HelpJavaScript)

[2016-07-20 22:51] aj-allen-1962 commented on #7697
This is absolutely way too advanced for the stage I'm at. A challenge is good, but it needs to be worked up to, this comes out of the blue and the instructions given really don't explain what's required or what steps to get to the conclusion. I almost gave up altogether.

[2016-07-21 00:11] erictleung commented on #7697
@aj-allen-1962 thanks for your feedback. Can you elaborate on your comment on why this challenge "comes out of the blue"? I do agree that the instructions are a little over the place a could be modified for the better.

[2016-07-21 00:18] erictleung commented on #9821
@Curting thanks for the issue. I've completed the challenge and it works perfectly when you write `answer = ...` for each case. You don't need `return answer = ...`. Can you post the code that does give you bugs? Thanks.

[2016-07-21 00:33] erictleung opened #9822 "Odd menu behaviors while on Map in mobile"
#### Issue Description

While on mobile (real or simulated), Map behavior is odd.

_While on desktop emulated mobile_, menu hides the Free Code Camp logo and ability to close the menu while on Map.

_While on Map on an Android mobile device_, just clicking the Menu button will create this odd "menu" shown in the screenshot below. The menu is first drawn out normally, but just as the menu finished

[2016-07-21 01:37] aj-allen-1962 commented on #7697
@erictleung thanks for replying.

Well, ech little lesson prior to that was learning a bit about the different operators. But this converter didnt really build on that in any way that makes sense. At least for me, with no real experience with javascript.

function convertToF(celsius) {
  var fahrenheit;
  // Only change code below this line

  // Only change code above this line
  return fahrenhei

[2016-07-21 01:44] danijmoss opened #9823 "Create Message Text with Click Event - Not submitting code"
Completed the challenge code and objective, but the challenge will not submit.
![fcc-changetextclickevent](https://cloud.githubusercontent.com/assets/19197794/17008840/239c1a2c-4ec3-11e6-95fa-a178c3605e2c.jpg)

Challenge [Change Text with Click Events](https://www.freecodecamp.com/challenges/change-text-with-click-events#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%2

[2016-07-21 01:47] erictleung commented on #9823
@danijmoss thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: computers are very picky about strings, so make sure you have the right punctuation (or lack of) in the string for the message. Happy coding!

[2016-07-21 01:47] #9823 closed

[2016-07-21 02:26] U-ways commented on #9798
This issue is still there, why did you close it?

[2016-07-21 05:04] erictleung commented on #7697
@aj-allen-1962 we've added the text

to put individuals at ease that you don't have to understand all that is going on here.

The star and other necessary operators to complete the challenge were all introduced within the last fourteen challenges previously.

To make it a little more understandable, how does this rewrite of the challenge sound

cc/ @FreeCodeCamp/issue-moderators feedback on the re

[2016-07-21 05:12] poke1337 commented on #9800
@alayek Hello sir, I got some motivation back. Do you think I can just continue from where I got to, and then later it will be sorted out. Or do you think that there is no way it will be fixed and I have to start all over again no matter what?

Thanks in advance.

[2016-07-21 06:30] Curting commented on #9821
Hello. Thanks for your quick replies.
I'm embarrassed to admit that you both are completely right. The error in my code was elsewhere.

I'm sorry for taking your time. I did try asking in the chat without any replies prior to writing this. With that being said I learned something from the issue.

Please keep up your great work – I really do appreciate it 👍

[2016-07-21 06:30] #9821 closed

[2016-07-21 07:48] QuincyLarson opened #9826 "Update recommended tools for back end challenges"
c9.io has been acquired by AWS and now requires the use of a credit card. Heroku also requires the use of a credit card for hosting - and also requires learning a bunch of Heroku-specific concepts - so it was never an optimal solution either.

Many people outside of the US (and many people under the age of 18) do not have credit cards, and are understandably intimidated about entering them into se

[2016-07-21 08:19] kpbeng opened #9827 "Second test is failing not sure why."
Challenge [Map the Debris](https://www.freecodecamp.com/challenges/map-the-debris#?solution=%0Afunction%20orbitalPeriod(arr)%20%7B%0A%20%20var%20newArr%3Darr%3B%0A%20%20var%20GM%20%3D%20398600.4418%3B%0A%20%20var%20earthRadius%20%3D%206367.4447%3B%0A%20%20var%20T%3D0%3B%0A%20%20%0A%20%20for%20(var%20i%20in%20newArr)%0A%20%20%7B%0A%20%20%20%20var%20a%3DnewArr%5Bi%5D.avgAlt%2BearthRadius%3B%0A%20%20

[2016-07-21 08:23] atjonathan commented on #9826
The problem with the USB drives is that many campers wouldn't be able to figure out how to boot from them.
I think the vagrant / docker option would work better as it will work on any operatib

[2016-07-21 08:27] srinivasu619 opened #9828 "One test case is passed but in another one starting two indices are interchanged"
Challenge [Return Largest Numbers in Arrays](https://www.freecodecamp.com/challenges/return-largest-numbers-in-arrays#?solution=%0Afunction%20largestOfFour(arr)%20%7B%0A%20%20%2F%2F%20You%20can%20do%20this!%0A%20%20var%20final%3D%5B%5D%3B%0A%20%20var%20max%3D0%3B%0A%20%2F%2F%20var%20k%3D0%3B%0A%20%20for(var%20i%3D0%3Bi%3Carr.length%3Bi%2B%2B)%0A%20%20%20%20%7B%0A%20%20%20%20%20%20for%20(var%20j%3D

[2016-07-21 09:17] alayek commented on #9826
With vagrant/docker, I am willing to go with docker; though docker is mainly for deployment and less for development. But if we are adding feature to remove and modify stuff on the fly; we should do a cloud build.

As @zcassini mentioned, Chef/Ansible handles all these better. We initially did it with Shell script for it's lightweight. We can do it with Python too (I think we started on that), as

[2016-07-21 09:24] mtancoigne commented on #9826
We have two issues here:
  - How to host the FCC backend challenges for different languages, with sources accessible (or not, I don't know your point on this) to the user
  - How the user would be able to develop the challenges (I don't mean _small exercises_, but projects) by himself and share the result...

For the first point, the solution of the cloud development _may_ be a good idea if we fin

[2016-07-21 09:41] alayek commented on #9826
If one develops locally and needs feedback from peers on how the app is behaving; one could also use [ngrok](https://ngrok.com/) to provide a URL to the running app.

[2016-07-21 09:47] mtancoigne commented on #9826
@alayek: And code on github with the vm config files, so it's easy for everyone to test and help.

[2016-07-21 10:12] karthikveturi opened #9829 "Zooming problem"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%20%7Bfont-size%3A%2016px%3B%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%20%22font-size%22%3EKitty%20ipsum%20do

[2016-07-21 10:45] naveenlb commented on #9829
It's not a bug, if you face any issue please use chat rooms to ask the fellow practitioners.

You just forgot to add the "p" attribute before the {font-size:16px;}

Correct code :

<style>
  .red-text {
    color: red;
  }

  p
  {
    font-size: 16px;

  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text" "font-size">Kitty ipsum dolor sit amet, shed everywhere shed everywhere s

[2016-07-21 11:07] carlosvigil opened #9831 "Spelling mistake in Decoding a Binary Number text"
#### Challenge Name

[Decoding a Binary Number]
(https://www.freecodecamp.com/videos/computer-basics-decoding-a-binary-number)

#### Issue Description
Spelling mistake, 3rd line of text. "staring" should be "starting".

#### Browser Information

* Browser Name, Version: Safari, Version 10.0 (12602.1.38.2)
* Operating System: macOS

#### Screenshot

<img width="1166" alt="screen shot 2016-07-21 at

[2016-07-21 11:19] carlosvigil commented on #9831
Created PR [#9832](https://github.com/FreeCodeCamp/FreeCodeCamp/pull/9832)

[2016-07-21 11:22] karthikveturi commented on #9829
Thank you. And sorry.

[2016-07-21 11:29] #9831 closed

[2016-07-21 11:31] raisedadead commented on #9829
No problem @karthikveturi!
FYI: http://forum.freecodecamp.com/t/how-to-report-a-bug/19543
Closing as resolved. Happy coding!

[2016-07-21 11:31] #9829 closed

[2016-07-21 11:37] raisedadead commented on #9828
Have you followed https://github.com/FreeCodeCamp/freecodecamp/wiki/FreeCodeCamp-Get-Help

[2016-07-21 11:38] raisedadead commented on #9828
Alternatively please reach out to:
[JavaScript Chat Room](https://gitter.im/FreeCodeCamp/HelpJavaScript).

[2016-07-21 11:39] raisedadead commented on #9827
Have you reached out to [JavaScript Chat Room](https://gitter.im/FreeCodeCamp/HelpJavaScript)?

[2016-07-21 11:43] raisedadead commented on #9778
Closing in favor of #9826 (although this was created earlier, @QuincyLarson has summarized in depth the need).

Please follow along there.

[2016-07-21 11:43] #9778 closed

[2016-07-21 12:08] Adeel992 commented on #6483
RoobsK tell us the solution

[2016-07-21 12:38] #9780 closed

[2016-07-21 13:54] zcassini commented on #9826
Heroku lets you have 5 sites without giving them a credit card.  Redhat's Openshift.com  will give you 3 free sites without a credit card.    So that should cover hosting no matter the projects language.  Unfortunately it is two more things for students to deal with.
My heroku acccount is years old though so maybe new ones don't get 5 free sites?

http://www.koding.com/ provides an online ide like

[2016-07-21 14:05] msprabha06 commented on #6335
thank you so much ya that code worked

[2016-07-21 14:44] zcassini commented on #9826
codenvy.com  offers an online ide.   it's  similar to cloud9 but not as nice.

[2016-07-21 15:27] ieube commented on #5922
Getting a error keeps telling me to Append someAdjective to myStr using the += operator. I dont see a error with the code. Does anyone see something I dont.

// Example
var anAdjective = "awesome!";
var ourStr = "Free Code Camp is ";
ourStr += anAdjective;

// Only change code below this line

var someAdjective;
var myStr = "Learning to code is ";
someAdjective += myStr;

[2016-07-21 15:34] BerkeleyTrue commented on #9800
@poke1337 We do not save partial solutions. If you did not submit a solution it is saved locally in your localStorage. If you clear your browser localStorage those solutions are cleared as well.

If you feel you did submit your solutions and they are now gone please email our support team@freecodecamp.com

Happy Coding

[2016-07-21 15:34] #9800 closed

[2016-07-21 16:55] hasanshahoud commented on #4997
![target html elements with selectors using jquery free code camp](https://cloud.githubusercontent.com/assets/20051470/17031458/97f13694-4f74-11e6-94e1-d6742a4d2f6a.png)

guys thats why its does't work out with you//

[2016-07-21 18:13] jlheard opened #9834 "Incorrect Test expectation for Confirm the Ending Challenge"
Challenge [Confirm the Ending](https://www.freecodecamp.com/challenges/confirm-the-ending#?solution=%0Afunction%20confirmEnding(str%2C%20target)%20%7B%0A%20%20%2F%2F%20%22Never%20give%20up%20and%20good%20luck%20will%20find%20you.%22%0A%20%20%2F%2F%20--%20Falcor%0A%20%20var%20match%3B%0A%20%20if(target.length%20%3D%3D%3D%201)%20%7B%0A%20%20%20%20match%20%3D%20target%20%3D%3D%20str.substring(str.len

[2016-07-21 18:19] BKinahan commented on #9827
Yup, [here](https://gitter.im/FreeCodeCamp/HelpJavaScript?at=5790d56b16487c5e517293b2). And then it was [resolved](https://gitter.im/FreeCodeCamp/HelpJavaScript?at=5790d7ad841e619d162c4bb6). The power of the chat in action! 😄

[2016-07-21 18:24] dwd2010 commented on #9827
@BKinahan, great.  thanks for let us know.

[2016-07-21 18:24] #9827 closed

[2016-07-21 18:27] BKinahan commented on #9834
The string `"name"` ends with the string `"me"`, so this is true for the complete string `"He has to give me a new name"` also. Note that a string is a sequence of (zero or more) characters, rather than necessarily being one character or a full word.

This misunderstanding recurs from time to time, eg #9021, #9694 and others. Maybe this justifies a clarification in the instructions.

[2016-07-21 18:30] jlheard commented on #9834
OK I see. I'll just use regexp. thanks.

[2016-07-21 18:44] byteknacker commented on #9826
I wish to just point out some comparisons between browser based env and local env.

I would propose to use local env setups since you can use that to generate cloud based env. But not so the other way around.

The project a couple of us did a few months back, zenias, could be extended to this purpose. We just need to code once and it can be cloned by FCC campers to initially setup dev, test, and d

[2016-07-21 18:53] BerkeleyTrue opened #9835 "[beta] Add GA middleware and page transition tracker"

[2016-07-21 18:55] BerkeleyTrue commented on #9817
@raisedadead Thanks for the info. That gives me an idea of where to look. It could be the anchor tag without a class has an underline decoration on hover

[2016-07-21 19:07] BKinahan commented on #9834
@jlheard This was my search: https://github.com/FreeCodeCamp/FreeCodeCamp/issues?utf8=%E2%9C%93&q=is%3Aissue%20confirm%20

The default issue search includes `is:open` and that must be changed to `is:closed` to match only closed issues or removed to match all issues.

The other issues about this are closed, because they were correctly judged not to be caused by a bug. I'm in favor of keeping this o

[2016-07-21 19:30] jlheard commented on #9834
@BKinahan OK, perhaps if the test was changed from:

confirmEnding("He has to give me a new name", "me") should return true

to

confirmEnding("Opensesame", "me") should return true

would make it more clear?

[2016-07-21 19:46] BKinahan commented on #9834
@jlheard You know, that's something I hadn't considered before. I didn't realize the confusion was coming from the fact that the word `"me"` appears earlier in the string, so thanks for pointing that out! 😄

I like the idea for using the phrase "Open sesame" (with title case to match the other tests rather than camelCase). It might be good to replace these two tests:

with:

They test for similar

[2016-07-21 19:49] erictleung commented on #9834
@jlheard thanks for the issue. I also didn't know where the confusion was coming from.

@BKinahan I like your suggested changes to those two tests :+1:

[2016-07-21 21:26] mtancoigne commented on #9826
I won't speak of Zenias as it's irrelevant for this. It relies on Heroku and Github, and as @QuincyLarson stated, heroku requires credit card. So that's a no-no option for students.

I believe there is already a lot of tool online to propose great virtual machine solutions:
 - PHP: puphpet

[2016-07-21 22:38] BerkeleyTrue opened #9837 "Normalize GA event data"
Our GA event data is all wonky. We need to normalize!
Your task would be to track down all the `ga` function calls and normalize their values. These function calls currently happen in both JavaScript and Jade files.

Here is how they should be normalized.

## Category

Category should be space separated capital words i.e. `Map`, `Challenge` `Mind Blown` (hopefully there shouldn't be a need for mor

[2016-07-21 22:39] alanbares commented on #9837
I'd like to tackle this issue.

[2016-07-21 22:40] BerkeleyTrue commented on #9837
Yours ✨

[2016-07-21 22:46] #9834 closed

[2016-07-21 23:38] BerkeleyTrue commented on #9835
done

[2016-07-21 23:38] #9835 closed

[2016-07-22 00:16] QuincyLarson commented on #9826
To be clear, Heroku may give you free apps, but in order to hook into any services (such as MLAB) you would need to enter a credit card. So in practice, Heroku requires a credit card.

[2016-07-22 00:28] QuincyLarson commented on #9826
@mtancoigne Servers aren't necessarily a part of back end. Back end development involves APIs and databases, and servers are more the realm of ops or devops. These can be taught in isolation. Our current back end curriculum recommends Heroku, which essentially abstracts away the notion of servers.

HyperDev would be even better. It can export directly to GitHub. So this means campers could focus o

[2016-07-22 00:35] atjonathan commented on #9826
I think hyperdev is good for the API challenges but it doesn't have enough functionality for the Web app projects.

[2016-07-22 00:53] QuincyLarson commented on #9826
@atjonathan This is in theory possible. I've tweeted to see whether anyone wants to give it a try: https://twitter.com/ossia/status/756290723331190785

[2016-07-22 00:58] atjonathan commented on #9826
@quincylarson cool :tada:

[2016-07-22 01:06] dhcodes commented on #9280
@Takaia is this possibly region-specific? What country are you in?

[2016-07-22 01:28] BerkeleyTrue commented on #9684
done

[2016-07-22 01:28] #9684 closed

[2016-07-22 01:29] hippybear opened #9838 "Night mode and visually impaired"
The light grey labels in the instructions portion of the screen have neon green text color. That is not the best color scheme for people with visual issues. There is a chrome plugin and some script to change these things locally but that shouldn't really be something the user needs to do is it? I don't know. Maybe it isn't really an issue. If it isn't go on and close this I apologize.

[2016-07-22 01:37] danijmoss commented on #9823
I noticed that tonight. Looks like I needed more sleep than I thought. Thanks for the help though! I really appreciate it! :)

[2016-07-22 02:15] erictleung commented on #9838
@hippybear thanks for the feedback. What color scheme do you suggest would work better? We strive to be as accommodating as possible.

cc/ @FreeCodeCamp/issue-moderators

[2016-07-22 02:23] hippybear commented on #9838
Personally if the text inside the label was a dark color it would work fine for me. Black or dark blue maybe?

[2016-07-22 02:39] LeeWarnock commented on #9776
I'm working on this one, it'll be my first :D

[2016-07-22 03:23] Caretote commented on #8775
<p>Click here for <a href="#"http://www.freecatphotoapp.com">cat photos</a>.</p>

[2016-07-22 04:29] QuincyLarson opened #9841 "Add 2016 New Coder Survey path to freecodecamp.com"
The 2016 New Coder Survey is live here: https://freecodecamp.github.io/2016-new-coder-survey/

We want https://www.FreeCodeCamp.com/2016-new-coder-survey to render this (as though it were actually hosted on FreeCodeCamp.com)

[2016-07-22 04:37] Marmiz commented on #7757
Hello campers!

I have found and resolved (hopefully) the issue.

As @McQuinTrix pointed out the error was an undeclared 'blank' function at line 532.

The easiest (and laziest) fix was redeclaring the function inside, instead of working with closures.
I have forked the pen from Codepen and implemented the change.
https://codepen.io/Marmiz/pen/xOWmGq?editors=1010

You will find it commented starti

[2016-07-22 05:44] raisedadead commented on #9841
@QuincyLarson Can we change the green to Free Code Camp's green, at least on the header section, to maintain consistency?

[2016-07-22 05:50] raisedadead commented on #7757
Thanks @jhlawley will test your pen and replicate under the official pen.

P.S: Duplicate #5437 ?

[2016-07-22 05:56] bawboc commented on #7757
I will duplicate presently.  I am surprised at the level of attention that
my post has drawn and as a computer scientist, it would be wrong not to do
so. It is cool to be a part of any such discussion.

On Jul 22, 2016 12:53 AM, "Mrugesh Mohapatra" <notifications@github.com>
wrote:

Thanks @jhlawley <https://github.com/jhlawley> will test your pen and
replicate under the official pen.

P.S: Duplic

[2016-07-22 06:07] Marmiz commented on #7757
@raisedadead I personally don't think hey are duplicate, but two different issue.

This one was an easily reproducible bug that occurred for the given sequence of moves.

On the other hand [#5437](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/5437) seems more a general flaws of the AI in some very specific case.
In all the game I played it happened to me only once, and I couldn't really tell

[2016-07-22 06:16] thefrostedmonkey commented on #7757
I see another challenge.  The game does not behave in the same manner, but when I chose 'X' as my piece I noticed 2 inconsistencies.  First off, you will never win as 'X.'  Also, I have noticed that there were opportunities for 'O' to win when it chose a form of forfeit.  When the winning move came down to 'O' winning by 0,0; 0,1; 0,2; it ended the game by highlighting 'O' at 0,1 ans 'X' at 1,1.

[2016-07-22 06:17] thefrostedmonkey commented on #7757
Note that thefrostedmonkey is an incarnation of bawboc

[2016-07-22 10:27] eakl opened #9842 "Caesars Cipher: My code pass all the tests but doesn't validate on FCC"
Challenge [Caesars Cipher](https://www.freecodecamp.com/challenges/caesars-cipher#?solution=let%20engine%20%3D%20(v)%20%3D%3E%20%7B%0A%20%20%0A%20%20let%20low%20%3D%20'A'.charCodeAt()%3B%0A%20%20let%20high%20%3D%20'Z'.charCodeAt()%3B%0A%20%20%0A%20%20if%20(!!v.match(%2F%5Ba-z%5D%2Fi))%20%7B%0A%20%20%20%20if%20(v.charCodeAt()%20-%2013%20%3C%20low)%20%7B%0A%20%20%20%20%20%20let%20code%20%3D%20(high%

[2016-07-22 11:06] MyBipolarLife commented on #7757
Get Outlook for iOS<https://aka.ms/o0ukef>

On Fri, Jul 22, 2016 at 12:57 AM -0500, "James" <notifications@github.com<mailto:notifications@github.com>> wrote:

I will duplicate presently. I am surprised at the level of attention that
my post has drawn and as a computer scientist, it would be wrong not to do
so. It is cool to be a part of any such discussion.

On Jul 22, 2016 12:53 AM, "Mrugesh Moh

[2016-07-22 11:13] statekarma opened #9843 "What is the issue? (Escape Sequences in Strings)"

[2016-07-22 11:17] #9843 closed

[2016-07-22 11:17] raisedadead commented on #9842
I am not an ES6 expert, requesting assistance from @FreeCodeCamp/issue-moderators
By far the output is matching the expected criteria.

The only thing that I can play a hunch is with the error that shows on the Dev Console:

![image](https://cloud.githubusercontent.com/assets/1884376/17055669/e9667ff4-502b-11e6-999c-fcb580e9e47a.png)

[Here is the complete log](https://gist.githubusercontent.com/a

[2016-07-22 11:24] hasanshahoud opened #9844 "Error in the text on FreeCodeCamp..!?"
Please pay **attention** on the red box I selected it on the picture ,,
inside the text you wrote it already it should including the word "**true**" in the  quotes,,?

Greetings, Hasan

https://www.freecodecamp.com/challenges/change-text-inside-an-element-using-jquery

![disable an element using jquery free code camp](https://cloud.githubusercontent.com/assets/20051470/17055620/3fbd3f78-500e-11e6-

[2016-07-22 11:25] #9807 closed

[2016-07-22 11:29] #9634 closed

[2016-07-22 11:32] Bouncey commented on #9842
Could it be the global scope of 'engine'? Everytime a test runs it tries to define 'engine' again?

I had a quick search in the repo for 'engine' being defined anywhere, but could only find it in some express files as a string.

[2016-07-22 11:36] raisedadead commented on #9583
This one is up for grabs.

[2016-07-22 11:39] raisedadead commented on #9842
Nope already checked that, changing the name is not helping. Also I tried refactoring the code to test global declaration to be a problem.

If you check the complete log there is a weird error thrown by the RX.js library which I believe only @BerkeleyTrue has a good understanding of.

[2016-07-22 11:43] Bouncey commented on #9842
I can't run ES6 on my phone, I'll try it out when I get a chance

[2016-07-22 11:45] raisedadead commented on #9844
@hasanshahoud:

Hi Hasan,

Thanks for reporting, first of all the challenge link you mentioned above is different than that of the screenshot. I think you are referring to https://www.freecodecamp.com/challenges/disable-an-element-using-jquery in the screenshot.

Also the code is there because you might have accidentaly visited someone else's link or maybe you have already attempted the challenge

[2016-07-22 11:45] #9844 closed

[2016-07-22 12:17] hasanshahoud commented on #9844
@raisedadead
that's right the link was wrong and I edited now ..thanks
and you can try yourself and push the button it does't work , i tried before..
and hope they fix it soon..

[2016-07-22 12:21] raisedadead commented on #9844
Do you mean the "reset" button does not work or the "run tests" don't work?

[2016-07-22 12:52] raisedadead opened #9846 "[beta] map aside pop out (new tab) button does not work"
![image](https://cloud.githubusercontent.com/assets/1884376/17057674/2b316b08-5039-11e6-89a5-ac754b6617a3.png)

Windows 7 - Chrome Version 52.0.2743.82 m

[2016-07-22 12:54] raisedadead commented on #9846
On a side note I was hoping to fix this myself, but setting up the react dev environment is driving me nuts.

[2016-07-22 12:56] raisedadead commented on #9817
Yeah seems like it. I directly edited the DOM on the Devtools to check for a fix.

[2016-07-22 12:56] BKinahan commented on #9842
Sorry guys, but the code is incorrect. Running the code above with two minor changes allows it to pass all tests.

The original code returns a string containing an extra pair of double quotes, eg `'"FREE PIZZA!"'` instead of `'FREE PIZZA!'`, and deleting the pair of double quote concatenations in the return statement fixes that problem.

There does seem to be some conflict with the inner workings

[2016-07-22 13:03] raisedadead opened #9847 "[beta] Profile icon doesn't navigate back to portfolio from settings"
On the settings page clicking the profile pic of the camper doesn't take them to their portfolio page, the browser shows the link as `/settings`.

On clicking the icon nothing happens.

Refer Screenshot:

![1](https://cloud.githubusercontent.com/assets/1884376/17057863/ad7fcd10-503a-11e6-90b8-96cf150ea77b.png)

Windows 7 - Chrome Version 52.0.2743.82 m

[2016-07-22 13:06] raisedadead commented on #9842
@BKinahan mind submitting your code in here?

[2016-07-22 13:09] raisedadead opened #9848 "[beta] Duplicate social labels in settings"
![image](https://cloud.githubusercontent.com/assets/1884376/17058036/a30dd7b8-503b-11e6-9fcc-47f1e11e2e68.png)

[2016-07-22 13:11] raisedadead opened #9849 "[beta] Social buttons don't work"
![image](https://cloud.githubusercontent.com/assets/1884376/17058070/d83c4ec4-503b-11e6-973d-9ea64ab0e6bb.png)

[2016-07-22 13:12] BKinahan commented on #9842
@raisedadead It really is the same code as above without the concatenations I mentioned. You may be having the issue where a page refresh is needed to allow test results to be updated, which affects many challenges in certain conditions.

Here's the code anyway for the sake of completeness:
[code]

[2016-07-22 13:14] raisedadead opened #9850 "Pressing CTRL + Enter should take me to next challenge as per current behaviour"
After completing a challenge I press <kbd>CTRL</kbd> + <kbd>Enter</kbd> or <kbd>Cmd</kbd> + <kbd>Enter</kbd>, this submits my challenge.

Doing the same once again should take me to the next challenge as per the behaviour of the current site.

[2016-07-22 13:15] raisedadead commented on #9842
Nope this doesn't let me pass the challenge.
I am on Windows 7 - Version 52.0.2743.82 m

[2016-07-22 13:18] raisedadead commented on #9842
Okay I did a full reset and cleared my cache then used the code you mentioned.
Passed with flying colors!

Thanks for the help @BKinahan

Yet I think the test messages are confusing, where a camper will definitely add the quotes as stated.
IMHO we should fix this.

[2016-07-22 13:19] eakl commented on #9842
@raisedadead My first attempt was without the quotes. It didn't work so I added the quotes without more success then posted an issue. Now I just removed the quotes and **refreshed** the page as mentioned by @BKinahan and it works. Weird...

[2016-07-22 13:19] Bouncey commented on #9842
Nice catch @BKinahan , but that has raised two issues:

1. Unclear instructions for the result expected
2. codeUri not extracting and running the updated code without a refresh

[2016-07-22 13:21] raisedadead commented on #9842
Yeah @eakl I got that too... I share your frustration.
Anyhow to contributors please update the messages to not have the quotes.

as in:

![image](https://cloud.githubusercontent.com/assets/1884376/17058291/44377dfa-503d-11e6-99ef-610332cdb1aa.png)

for all the tests.

[2016-07-22 13:24] Bouncey commented on #9842
Personally, I can't recall ever having to refresh the browser to get some code to run apart from testing this issue.

Does it warrant a separate issue? Does it happen often enough?

[2016-07-22 13:26] Bouncey commented on #9846
@raisedadead I tried setting it up on ubuntu, but I couldn't get it working either

[2016-07-22 13:26] BKinahan commented on #9842
@Bouncey It happens to me a lot, but it may be due to my use of ES6 features like arrow functions (which notably are used in this case). More testing needed 😄

[2016-07-22 13:26] eakl commented on #9842
@Bouncey It happened 3 times for me so far. Including this challenge.

[2016-07-22 13:29] raisedadead commented on #9842
@eakl to be honest we don't have 100% ES6 support for challenges yet. So it could be anything, to best of my knowledge Chrome has started supporting only in the latest of v52 I think. Many things will be broken.

[2016-07-22 13:30] Bouncey commented on #9842
I've only just started using es6, and never in FCC, so I think it is an ES6 problem

[2016-07-22 13:46] eakl commented on #9842
@raisedadead @Bouncey I mostly use ES6 when I can (arrow function, const/let, argument operators, ...). It may be that indeed.

[2016-07-22 14:45] nlubega opened #9851 "Seek and Destroy Algorithm System Bug"
Challenge [Seek and Destroy](https://www.freecodecamp.com/challenges/seek-and-destroy#?solution=function%20isequal%28value%29%20%7B%0A%20%20return%20value%20!%3D%3D%20this%3B%7D%0Afunction%20destroyer%28arr%29%20%7B%0A%20%20filtered%20%3D%20arguments%5B0%5D%3B%0A%20%20for%20%28i%3D1%3B%20i%3Carguments.length%3B%20i%2B%2B%29%7B%0A%20%20%20%20filtered%20%3D%20filtered.filter%28isequal%2Carguments%5B

[2016-07-22 15:04] bboysathish opened #9852 "Not able to view Tribute Challenge Page"
#### Challenge Name
https://www.freecodecamp.com/challenges/build-a-tribute-page

#### Issue Description
Not able to view the already built tribute page. https://codepen.io/FreeCodeCamp/full/NNvBQW/

#### Browser Information

* Browser Name, Version: Brave
* Operating System: Windows
* Mobile, Desktop, or Tablet:  0.11.1

#### Screenshot
![tribute](https://cloud.githubusercontent.com/assets/802344

[2016-07-22 15:36] dhcodes commented on #9852
This appears to be a browser-specific issue as I tested your browser (Brave) with another codepen URL and it gave a 404 as well. It's specifically to do with the "full" view of pages on codepen as if you [modify the URL to take you to the editor view](https://codepen.io/FreeCodeCamp/pen/NNvBQW/) it will display. For any future codepen URLs in full, you will need to replace the word "full" in the U

[2016-07-22 15:36] BKinahan commented on #9852
I'm not familiar with the Brave browser but their website claims that it "automatically blocks ads and trackers", so it looks like it's blocking something more than it should and preventing Codepen from working correctly.

I have downloaded Brave and can confirm that none of the FCC pens load correctly, nor do any pen previews on the main https://codepen.io/pens/ page.

I'd recommend whitelisting

[2016-07-22 15:54] bboysathish commented on #9852
Well, then let me file this issue @brave-laptop repository. :)

[2016-07-22 15:54] #9852 closed

[2016-07-22 16:01] gangachris commented on #6678
@bugron There seems to be no reply. I think I'll work on this.

[2016-07-22 16:16] shenlong3010 opened #9853 "Testing required element after type element"
Challenge [Use HTML5 to Require a Field](https://www.freecodecamp.com/challenges/use-html5-to-require-a-field#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster

[2016-07-22 16:41] patribezek commented on #6298
It worked! I couldn't pass until i reset my code and do this:

`// Setup
var testObj = {
  12: "Namath",
  16: "Montana",
  19: "Unitas"
};

// Only change code below this line;

var playerNumber = 16;       // Change this Line
var player = testObj[playerNumber];   // Change this Line`

[2016-07-22 16:52] BerkeleyTrue commented on #9846
@bouncey @raisedadead we will need to figure out the issue you two are having during setup before we merge into staging. Can one of you open a separate issue describing the problem?

[2016-07-22 16:58] dhcodes commented on #9779
I believe I've identified the fix for this so I'm happy to take it. I added the lines `span.text-primary &thinsp; &thinsp; strong *` after line 38 in the file: /server/views/map/show.jade and tested it locally. The challenge text still fades upon completion but the star remains.

Screenshot: http://i.imgur.com/wDPzH8k.png

Sound good?

[2016-07-22 17:21] raisedadead commented on #9779
@dhcodes line nos could be different with the code changing every time.

Is this the line you are talking about?
https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/server/views/map/show.jade#L38

Can you share a snippet of your change?

[2016-07-22 17:22] srinivasu619 commented on #9828
Ok,Thank you

On Thu, Jul 21, 2016 at 5:10 PM, Mrugesh Mohapatra <notifications@github.com

[2016-07-22 17:28] srinivasu619 commented on #9828
Thank you for the reply
but the result after testing the test case is
//Returns [5,27,39,1001]
the first two indices are interchanged
This was the issue with this problem.

On Thu, Jul 21, 2016 at 8:17 PM, Eric Leung <notifications@github.com>
wrote:

[2016-07-22 17:32] srinivasu619 commented on #9828
I got the problem thankyou for the hint.

On Thu, Jul 21, 2016 at 8:17 PM, Eric Leung <notifications@github.com>
wrote:

[2016-07-22 17:33] raisedadead commented on #9853
@shenlong3010

Did you visit anyone else's challenge and submit it, or have you completed this already?
looking at the code you shared above, a snippet:
[code]

You have the attribute `require` in your code.
Try resetting the code from the reset button.

[2016-07-22 17:36] erictleung commented on #6298
@patribezek if you get stuck or have questions with a challenge, please ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-07-22 18:01] BKinahan commented on #9851
This is a weird one. The value being returned as `filtered` from the function does not match what is shown in the output.

The code is incorrect as can be verified by running it with an added `console.log(filtered);` before the `return filtered;` line, but then why does it show the correct value in the output section?

It may be some strange effect of the arguments object within the `filter` call,

[2016-07-22 18:05] raisedadead opened #9855 "Local development environment setup (React branch)"
While trying to setup the local development environment for `feature/react-challenges` branch.

`npm install` throws the following warnings:

[code]

Stack:
**OS** Windows 10 - 64 Bit
**node**  v4.2.2
**mongod**
db version v3.0.7
git version: 6ce7cbe8c6b899552dadd907604559806aa2e9bd
**npm** 3.8.7

[2016-07-22 18:08] raisedadead commented on #9855
I have been able to run the instance without problems though.
/cc @BerkeleyTrue

[2016-07-22 18:10] #6678 closed

[2016-07-22 18:17] BKinahan commented on #9853
I think what @shenlong3010 may be trying to indicate is that since the aim of the challenge is to create a text input field which requires text to be entered before the form can be submitted, they interpret this to mean that the tests should not be passed if the user does not enter text into the mobile preview before running the tests.

This could be a misunderstanding about the nature and purpose

[2016-07-22 18:18] raisedadead commented on #9855
Okay first issue with Github Auth (hitting the Sign in with GitHub callback):

[code]

[2016-07-22 18:39] BKinahan commented on #9851
Still trying to get to the bottom of this but I fear I'm not familiar enough with the code running process behind the scenes. Replacing the function call in the code above with a variable assignment and then logging the variable to the console like this:
[code]
results in these two lines printed to the console:
[code]
The first is seemingly the value used by the tests, and the second what is print

[2016-07-22 18:44] raisedadead commented on #9853
I am really uncertain though how we can test the elements on the iPhone preview.
Currently there is no implementation that will let us do that.

Our tests are basically unit tests on the code entered in the editor.

[2016-07-22 18:46] TheBigLaskowski commented on #6655
thanks for the solution @kayley24 this was driving me crazy :)

[2016-07-22 18:52] BKinahan commented on #9853
Yes, I think it's not feasible or desirable to test those elements, and it's better leave it to users to test for themselves if they wish.

I believe it was just a small misunderstanding about the word "required" in this case. Though I find the instructions quite clear, there's always the perhaps unavoidable possibility of language issues for people new to learning code or non-native English speak

[2016-07-22 19:25] thelegend831 opened #9856 "unable to pass test when indicated to make .smaller-image"
#### Challenge Name

#### Issue Description

#### Browser Information

- Browser Name, Version:
- Operating System:
- Mobile, Desktop, or Tablet:
#### Your Code

[code]
#### Screenshot

[2016-07-22 19:34] Bouncey commented on #9855
I have now got a local instance running on my machine.

The only difference I have between now and the last time is my node version.

Before I was using node v6.3.0 and got
[code]
I even went into `package.json` to pull that version of react, but it made no difference.

This time I used node v4.1.2 and `npm install` went without a problem, just
[code]

**OS**: Ubuntu 16.04
**node**: v4.1.2
**npm**

[2016-07-22 20:55] QuincyLarson commented on #8933
@Trion129 any updates?

[2016-07-22 21:12] dhcodes commented on #9779
I'm not sure the best way to snip. Does this work?
https://gist.github.com/dhcodes/c39fbc9a552d7fc530bbb041de8a4c63

[2016-07-22 21:39] genedex commented on #9317
This is still the issue.

[2016-07-22 22:03] Ailokin opened #9858 "JS: "Manipulating Complex Objects": missing comma in line 12"
Challenge [Manipulating Complex Objects](https://www.freecodecamp.com/challenges/manipulating-complex-objects#?solution=%0Avar%20myMusic%20%3D%20%5B%0A%20%20%7B%0A%20%20%20%20%22artist%22%3A%20%22Billy%20Joel%22%2C%0A%20%20%20%20%22title%22%3A%20%22Piano%20Man%22%2C%0A%20%20%20%20%22release_year%22%3A%201973%2C%0A%20%20%20%20%22formats%22%3A%20%5B%20%0A%20%20%20%20%20%20%22CS%22%2C%20%0A%20%20%20%

[2016-07-22 23:51] BKinahan commented on #9858
A user can add a comma *after* the `// Add record here` line, but it will raise a pair of comma warnings in the linter..

However, I wouldn't say that the comma is missing from the seed code since it represents `myMusic` as an array with a single item to which someone might add objects as the music collection grows. Similarly, we wouldn't ask a user to add the number `5` to the end of an array and

[2016-07-23 00:30] BKinahan commented on #9842
@raisedadead Does your note [above](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9842#issuecomment-234541953) imply that all other challenges whose functions return strings should also display them without quotation marks? E.g. Spinal Tap Case, Repeat a string repeat a string, and others..

I haven't seen this type of mistake in relation to this challenge or those others with similar output

[2016-07-23 00:49] BerkeleyTrue commented on #9855
@raisedadead This happens when you have a orphaned UserIdent. Clear out the userIdent and that should be fixed. Not related to beta.

[2016-07-23 00:51] BerkeleyTrue commented on #9855
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.0.14
npm WARN optional Skipping failed optional dependency /browser-sync/chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.0.14
npm WARN thundercats-react@0.5.1 requires a peer of react@~0.14.0 but none was installed.
npm WARN thundercats-react@0.5.1 requires

[2016-07-23 02:48] shenlong3010 commented on #9853
The challenge is easy, so I passed it anyway. As I mentioned, the
"required" elements is easy to understand, but to truly be understandable,
not only for me also for other new learners, there should be a "required
input"​.
I tried twice, first is with some text, second is without the text. All of
them seem "pass the challenge".
It's not a big deal, but just to remind you guys, that's all.
Thanks f

[2016-07-23 03:50] greedyvgeek opened #9859 "Confusing position of "Only change code above this line" at challenge "Using objects for lookup""
![screen shot 2016-07-22 at 8 46 47 pm](https://cloud.githubusercontent.com/assets/20259415/17075623/e53ba702-504d-11e6-9bce-b1f92d46a3c2.png)

#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-07-23 04:43] greedyvgeek opened #9860 "Stuck at "Testing Objects for properties""
![screen shot 2016-07-22 at 9 43 53 pm](https://cloud.githubusercontent.com/assets/20259415/17075839/7bc44038-5055-11e6-8fe4-163c7bddaaa7.png)

#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2016-07-23 05:33] Trion129 commented on #8933
I started to work on backend projects so forgot to give updates here :sweat_smile: I had added this code to check if, on certificate view, the name is empty it is replaced by a link to github settings
[code]
I also wanted to add a name checking page during the certificate claiming procedure but problem is I couldn't find where the api code is present so I can make a new api for checking names. I n

[2016-07-23 05:58] erictleung commented on #9860
@greedyvgeek thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). GitHub issues are for noting problems with the site, not challenges help. Happy coding!

[2016-07-23 05:58] #9860 closed

[2016-07-23 06:03] erictleung commented on #9859
@greedyvgeek thanks for the feedback. Can you clarify why the comments on "Only change code above this line" are confusing? What about it is confusing? And, if you want, how might you suggest a better way to make the challenges?

[2016-07-23 06:11] greedyvgeek commented on #9859
At first it was "Return result" and it did not work.
I had to change it to "return lookup[val].
I suggest putting "return result" line above the "\\only change code below
this line"

On Friday, July 22, 2016, Eric Leung <notifications@github.com> wrote:

[2016-07-23 06:26] QuincyLarson commented on #9841
@raisedadead Yes - I think we should change the green of the entire page to Free Code Camp green.

[2016-07-23 06:34] SamAI-Software commented on #9841
Keep it on pause until I push the entire page with new colors then.

[2016-07-23 07:33] raisedadead commented on #9853
Closing as a wont't fix.

[2016-07-23 07:33] #9853 closed

[2016-07-23 07:53] raisedadead commented on #9842
Yeah, that is correct.
But this is the behavior that you would see in the Dev Console.

So I think its not ambiguous.

![image](https://cloud.githubusercontent.com/assets/1884376/17076772/70175990-50d8-11e6-9bd9-d1f41dad7d2f.png)

But yeah representing empty string would be tough in the test messages.
Any interesting ideas are most welcome

[2016-07-23 08:08] Bouncey commented on #9851
My go at seeing what is going on:
[code]
Console.log();
[code]

[2016-07-23 08:14] Bouncey commented on #9851
So the campers test case is running twice?

I logged `value` and `this` in `isEqual` and that seemed fine.

@BKinahan as for your `Result` : `¯\_(ツ)_/¯`

[2016-07-23 08:25] raisedadead commented on #9855
@BerkeleyTrue thanks for the tip, all is good now! Can be closed if @Bouncey has no more issues to mention.

[2016-07-23 08:30] SamAI-Software commented on #9841
After [**merging this**](https://github.com/FreeCodeCamp/2016-new-coder-survey/pull/65) we are good to go.

[2016-07-23 08:33] raisedadead commented on #9858
@BKinahan I don't think its necessary to clarify more than the instructions already have. True that at many places we have mentioned in the to edit code only in certain areas of the seed code like

`// only change the code below this line`

but that doesn't mean campers get very comfortable and start not reading what the instructions or the comments say. This is a good case to break that zone, IMH

[2016-07-23 08:33] #9858 closed

[2016-07-23 08:38] raisedadead commented on #9841
@SamAI-Software thanks a lot for making the changes so fast.
@QuincyLarson Can you please do a QA and merge.

[2016-07-23 08:41] raisedadead commented on #9859
You are expected to return a string, and hence the `var result` has already been created as such, it can be assigned from a value from the array.

That's the intent of the challenge. IMHO the placement of the comment is correct.
/cc @erictleung this can be closed. Leaving it for your opinion.

[2016-07-23 09:18] #9855 closed

[2016-07-23 10:00] nlubega commented on #9851
Someone told me to insert this line: "use strict" and now it works in
repl.it

I have no idea why that changes the behaviour: See below:

function destroyer(arr) {
  function isequal(value) {
   "use strict";
  return value !== this;}
  var filtered = arguments[0];
  for (var i=1; i<arguments.length; i++){
    filtered = filtered.filter(isequal,arguments[i]);
  }
  return filtered;
}
destroyer([1,

[2016-07-23 10:02] nlubega commented on #9851
Someone told me to insert this line: "use strict" and now it works in repl.it

I have no idea why that changes the behaviour. Can some one explain? See below:

function destroyer(arr) {
  function isequal(value) {
  	"use strict";
  return value !== this;}
  var filtered = arguments[0];
  for (var i=1; i<arguments.length; i++){
    filtered = filtered.filter(isequal,arguments[i]);
  }
  return fil

[2016-07-23 10:25] Bouncey commented on #9851
`"use strict";` alerts the developer to bad syntax that would normally be parsed regardless in `normal` mode, which is why you had to declare `filtered` with a `var` in your working code.

And apparently it does this to `this` in `isequal()`. but I still struggle with `this`.

[2016-07-23 10:31] Bouncey commented on #9851
One issue though, I though all of the campers code ran in a global `"use strict";`

cc/ @FreeCodeCamp/issue-moderators

[2016-07-23 10:36] nlubega commented on #9851
I also tried starting with "use strict" at the very beginning of the code,
and it worked. Very confusing. See below:

"use strict";
function destroyer(arr) {
  function isequal(value) {
  return value !== this;}
  var filtered = arguments[0];
  for (var i=1; i<arguments.length; i++){
    filtered = filtered.filter(isequal,arguments[i]);
  }
  return filtered;
}
destroyer([1,2,3,4,5],2,3);

On Sat,

[2016-07-23 10:37] BKinahan commented on #9859
Yup, the instructions say to assign the correct string to the `result` variable, and moving the return statement upward would cause some to try `return result = lookup[val];`

[2016-07-23 11:10] SamAI-Software opened #9861 "Small bug with last questions in video quiz"
#### Challenge Name

Video quiz.
#### Issue Description

After clicking true/false for the last question I always get a question from the next section for a second or so.
#### Browser Information
- Browser: Chrome, Latest
- OS: Windows7-x64
- Device: Laptop
#### Video

https://youtu.be/2va4l6gb4u4

[2016-07-23 12:08] macbem opened #9862 "CamperBot can't add brownie points after user has changed his Github username"
I've changed my Github username from noczesc to macbem a while ago. I was a user of FCC before the name change and every time someone tries to give me brownie points, CamperBot returns 'could not find receiver for macbem'. 'thanks @noczesc' still works though.

[2016-07-23 12:22] BKinahan commented on #9862
Hi @macbem, have you already tried the "Update my portfolio from GitHub" option on the [Settings page](https://www.freecodecamp.com/settings)?

[2016-07-23 12:25] macbem commented on #9862
@BKinahan I just tried it and it resolved my issue.

[2016-07-23 12:39] BKinahan commented on #9862
Great! Feel free to close the issue 😄

[2016-07-23 13:03] #9862 closed

[2016-07-23 14:08] real-gobs commented on #7428
wow...I am finally through..Thank you!

[2016-07-23 15:27] fellfromhell commented on #9558
Followed the solution that @dhcodes described.
Then ran npm-dist-tag ls
it shows the test tag applied to an unpublished package and version 1.0.8
how-to-npm verify still fails
Added a dist-tag to version 1.0.6
then ran how-to-npm verify to pass
Please see my output below

p3nski:~/workspace/howtonpm (master) $ npm dist-tag ls
latest: 1.0.7
test: 1.0.8
p3nski:~/workspace/howtonpm (master) $ npm dis

[2016-07-23 16:42] zcassini commented on #9826
@QuincyLarson can we have someone reachout to some of these hosting/ide companies.
They should be chomping at the bits to be the goto solution for FCC.
It'd be interesting to find out the conversion ratio Codepen gets from FCC students.

[2016-07-23 17:19] LeeWarnock commented on #9776
amended my PR for this per instruction! If there's anything else I can change please let me know! :D