[2019-05-07 15:42] moT01 commented on #35959
A warning might be the only way to go - adding tests on a case by case basis just isn't practical - browsers vary and change - extensions change and there's a ton of them. I'm a little concerned with a warning on the pop-up as well - it might make users start looking for problems with an extension when their code is the problem.

[2019-05-07 15:57] Stevo99 commented on #35557
so I need to match the answer to the exact string "Thursday, September 15th", however Im having trouble because  <code>$('time').text()</code> returns the 3 diff strings from all the <code>time</code> tags with out any breaks. if I could separate the time tags I can maybe compare it to string with ===.  Anyway im sorry to keep bothering just maybe need the docs so I can explore.  Is it Jquery and

[2019-05-07 16:02] jhomme commented on #17503
Hi,
Maybe because I am still going through FreeCodeCamp, I'm
misunderstanding the relationship idea. Please feel free to correct
me.

From what I understand, if the label tag is around the input tag, that
makes the input tag the child of the label tag.

From what I understand about how the W3C wants to use for how field
labels get spoken by assistive technology, this arrangement forces the
screen

[2019-05-07 16:09] RandellDawson commented on #35557
@Stevo99 Yes

[2019-05-07 16:12] raisedadead commented on #34872
Current deployment Status of the **beta site** (as of this comment date):

| Tree State at Deploy | Currently deployed Commit | Previously deployed Commit |
| :---- | :---- | :---- |
| [Browse Files](https://github.com/freeCodeCamp/freeCodeCamp/tree/6e8e8e3f18e5705e3d4a17b59a7a7ad81ef20213) | 6e8e8e3f18e5705e3d4a17b59a7a7ad81ef20213 | f427fb4b91b1aeec7da37c8fc7b7d0d37266bb37 |

[2019-05-07 16:18] moT01 commented on #35962
Yea, it looks like it will be updated on the next push to production - here's the [current beta site](https://www.freecodecamp.rocks/guide/certifications/javascript-algorithms-and-data-structures/basic-algorithm-scripting/truncate-a-string/)

Like Randell said, the solution is almost identical to yours. If you want to change it to what you have, you can go ahead and make a PR - I don't see a probl

[2019-05-07 16:24] ojeytonwilliams commented on #35959
That's a good point.  Maybe just a suggestion to turn them off at the start of the curriculum, then.

[2019-05-07 16:25] Stevo99 commented on #35557
cool..  Im getting close. I seem to get what i need by using .html() instead of .text()

[2019-05-07 16:35] lionel-rowe commented on #17503
@jhomme Isn't that what you want, though? There's a necessary relationship between `label` and `input`, so you want them to be treated as a single atomic unit. That's the same reason they should always be visually adjacent on the page. Or am I misunderstanding your concern?

Can you find a relevant citation from W3C or (probably more importantly) a source that explains how various assistive techno

[2019-05-07 16:42] RandellDawson commented on #35557
@Stevo99 Yes, you will need to use `html()`.  You will still need to use the `^` and `$`, but I also recommend allowing space characters at the beginning and ending of what you capture, because someone may accidentally add a space and it would be nice if the tests were a bit flexible in that regards.  However, no other characters before or after should be present.

[2019-05-07 16:46] Stevo99 commented on #35557
Yea no problem! I would love too. thanks for the help!

[2019-05-07 17:31] Stevo99 commented on #35557
ok I think I finally got it! this is what I came up with <code>testString: assert($('time').text().match(/\s?Thursday, September 15th\s?/g) && $('time').html().trim() === "Thursday, September 15<sup>th</sup>");</code>
this seems to work for all the tests and I tested it with and without whitespace.

[2019-05-07 17:43] #35913 closed

[2019-05-07 17:44] RandellDawson commented on #35557
Do you need the `$('time').text().match(/\s?Thursday, September 15th\s?/g)` ?

[2019-05-07 17:46] Stevo99 commented on #35557
no I don't.  Just tested it and it works without it.  I also made all the other changes you requested.

[2019-05-07 18:04] thecodingaviator commented on #35481
I see. Alright

[2019-05-07 18:04] #35481 closed

[2019-05-07 18:11] Stevo99 commented on #35557
is it ok to submit the PR

[2019-05-07 18:12] RandellDawson commented on #35557
Go ahead.  We can always request additional changes once it's created.

[2019-05-07 18:13] Stevo99 commented on #35557
ok thanks!

[2019-05-07 18:38] raisedadead commented on #34872
Current deployment Status of the **beta site** (as of this comment date):

| Tree State at Deploy | Currently deployed Commit | Previously deployed Commit |
| :---- | :---- | :---- |
| [Browse Files](https://github.com/freeCodeCamp/freeCodeCamp/tree/d4df02c7e2be1118f8f6fbe7974be8de09a8970f) | d4df02c7e2be1118f8f6fbe7974be8de09a8970f | 6e8e8e3f18e5705e3d4a17b59a7a7ad81ef20213 |

[2019-05-07 18:53] zersiax commented on #17503
Generally when a question like this comes up, I look at the examples on MDN . they tend to have the right of it. Generally, label for and an associated form field is the way, and I personally don't see an issue with the way the current lesson is coded

[2019-05-07 19:26] jhomme commented on #17503
Hi,
Unfortunately, and this frustrates me, it is not how assistive
technology computes the accessible name, which in our case is the
field label, it is the W3C has standardized on how to compute the
accessible name. It frustrates me because, as you can see from the
Dragon Naturally Speaking example, the makers of assistive technology
need to make sure they adhere to the standard. Because they do n

[2019-05-07 19:39] nikrb opened #35988 "[challenge] bad tests: Regular Expressions: Specify Only the Lower Number of Matches"
[challenge](https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/regular-expressions/specify-only-the-lower-number-of-matches) has insufficient tests.
Challenge instructions:

`/z{4}/` is enough to pass, whereas I _think_ it should be more like `/Haz{3,}ah/`

Found this while testing #35747 locally, tested on .rocks with same results.

**Tell us about your browser and ope

[2019-05-07 23:32] RandellDawson opened #35990 "Tests allow user to modify challenge seed object instead of modifying function to pass Record Collection Challenge"
I was working on a way to remove the lines from the Record Collection challenge,
[code]
While doing some testing, I discovered that a camper could simply modify the original challenge seed `collection` object without modifying the original shell function and still pass all the tests (see code at bottom).  This bug is present in the beta and the current production.

I am hoping the fix can also sti

[2019-05-07 23:47] RandellDawson commented on #35990
@ValeraS Any thoughts about how best to approach both of the objects of this issue?

[2019-05-08 04:32] RandellDawson opened #35991 "Need to convert remaining Blockquote elements in curriculum files to triple backtick version"
Now that we have successfully proven that we can use triple backticks to replace our current use of `blockquote` elements to make the code more readable for maintainers (see PR #35926), the rest of the curriculum files and update the [Formatting challenge text](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/style-guide-for-curriculum-challenges.md#formatting-challenge-text) section

[2019-05-08 06:13] AstiV commented on #35841
Thanks for your reply! Shall I add it?

[2019-05-08 06:18] ahmadabdolsaheb commented on #17386
**Additional info**
On mobile devices, the keyboard does not show up when the code editor is clicked
This is an issue on both .org and .rocks

**To Reproduce**
Steps to reproduce the behavior on mobile phone:
1. Go to https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions/using-the-test-method
2. Click on the code editor to enter the the answer to the challeng

[2019-05-08 06:21] ahmadabdolsaheb commented on #17386
@emmawinston I don't think we are using p5. however, I believe a similar solution to trigger the keyboard could work. I was wondering if you are still interested in this issue?

[2019-05-08 09:24] EXPEakhasawneh commented on #35962
No need to, same idea. closing the issue. would love to see release shipped faster to prod.

[2019-05-08 09:24] #35962 closed

[2019-05-08 13:40] ojeytonwilliams opened #35999 "Feature request: Syntax highlighting in challenge descriptions"
Related to #35991.  Once that's done, the code blocks will be written in blocks of ```lang.  This means syntax highlighting could be added to challenges, making their code blocks look similar to the guide's.

For example, currently the curriculum turns
[code]
into
![CurriculumSyntax](https://user-images.githubusercontent.com/15801806/57379297-f296f500-71a6-11e9-8e20-92c9c067ce2a.png)
while the sam

[2019-05-08 13:59] moT01 opened #36000 "[learn] tests should fail when code has error"
I entered a valid solution and passed all the tests in the picture below. Then I added the `a` on the second line: `var collection = { a` - to make the build fail, but all the test results still have the green check mark like they passed. I think they should go back to failed if there's an error.

<img width="1080" alt="Screen Shot 2019-05-08 at 8 54 04 AM" src="https://user-images.githubuserconte

[2019-05-08 14:32] raisedadead commented on #36000
What do you mean by a build here?

Please elaborate the exact steps with details of the environment you are trying this on, for a repro.

[2019-05-08 14:37] RandellDawson commented on #35990
How will you validate the original code has not changed in the first test?  Remember, the other goal here is to remove the following from the challenge seed.
[code]
I did not explain earlier why I wanted to removed these lines.  The reason is because we get a ton of questions on the forum about that line.  We have not explained what JSON.parse or JSON.stringify does.  Also, I think we should be re

[2019-05-08 14:38] moT01 commented on #36000
it says "Build Failed" at the bottom of the error there. I just mean that when there's an error with a users code - the tests should revert to failed (meaning not green check marks)

[2019-05-08 14:49] raisedadead commented on #36000
OK, now this makes more sense. I think we should probably reset the tests components to the their initial state gray beaker icon when tests are run followed by as you correctly pointed to the red error state.

[2019-05-08 14:50] RandellDawson commented on #35841
Like stash which only works if the files have not yet been commited, you could `checkout` the file.
[code]
Plus, if for some reason the package.json was to appear along with the package-lock.json (which I have seen happen), you can use a wild card like the following to revert both of them.
[code]

[2019-05-08 16:06] eberrios commented on #13903
`const increment = ((number, value = 1) => {  return number + value;});`

[2019-05-08 17:12] Stevo99 commented on #36000
@moT01 are you working on this or is it up for grabs?

[2019-05-08 18:18] #35964 closed

[2019-05-08 18:30] moT01 commented on #36000
Go for it @Stevo99

[2019-05-08 18:46] moT01 commented on #35988
Yea, that's a problem - I can take a look at this.

[2019-05-08 19:10] RandellDawson commented on #35988
@nikrb Don't you mean it should be `/Haz{4,}ah/` ?

[2019-05-08 21:14] Stevo99 commented on #36000
Ok thanks I will start now!!

[2019-05-08 21:17] #18120 closed

[2019-05-09 01:07] #14002 closed

[2019-05-09 03:28] lightyaer commented on #35979
Cool.. Ignored

[2019-05-09 11:41] Stevo99 commented on #36000
@moT01  hey which section is this from.  Having trouble finding the challenge you referenced up above.

[2019-05-09 12:45] moT01 commented on #36000
[This is the challenge in the picture](https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/basic-javascript/record-collection) - but this needs to be fixed by changing the way the tests are ran on **all** the challenges. So it cannot be fixed in the challenge file - I didn't look into it much but somewhere here perhaps: https://github.com/freeCodeCamp/freeCodeCamp/blob/8

[2019-05-09 13:01] #35645 closed

[2019-05-09 13:03] Stevo99 commented on #36000
ok Thanks!  what do you think about resetting the tests after the modal closes.  This way either the camper proceeds to the next challenge or they close the modal and then the test is reset.

[2019-05-09 13:05] moT01 commented on #36000
I feel like they should be reset when you hit the run tests button - because you can close the pop-up without going to the next challenge. Maybe they want to review their code or something.

[2019-05-09 13:11] Stevo99 commented on #36000
right.  I feel personally when I was doing these challenges for the first time.  When I would pass all tests and complete the challenge, I would wait there a few moments really proud of what I accomplished and I really liked having the modal with all the green checks. I don't know if it would be as good if all those tests where back to grey.  idk just my opinion lol..

[2019-05-09 16:52] raisedadead commented on #34872
Current deployment Status of the **beta site** (as of this comment date):

| Tree State at Deploy | Currently deployed Commit | Previously deployed Commit |
| :---- | :---- | :---- |
| [Browse Files](https://github.com/freeCodeCamp/freeCodeCamp/tree/d3c8eacef2a92f1ef87bd8f68b61de27ed96bb60) | d3c8eacef2a92f1ef87bd8f68b61de27ed96bb60 | 6924d9c9e8bc6fd519b33b01ab174f1343213a7d |

[2019-05-09 18:31] moT01 commented on #35959
I really don't see a good spot for a warning like that - I remember a notice at one point to use chrome for the best experience, but I'm not sure where it is anymore - next to that might have been a good spot - or perhaps [here](https://www.freecodecamp.rocks/support) - I don't think too many people are having issue with this so we can probably just leave it alone.

[2019-05-09 18:37] moT01 commented on #35950
Then the footer would be below the viewport when there's no content - I think it might be better to put the `min-height` on the `body`

[2019-05-09 18:38] moT01 commented on #35949
Can you point to an example @lightyaer ?

[2019-05-09 20:16] Abhi9935 commented on #17772
[code]
it works

[2019-05-09 21:13] moT01 commented on #35916
I am going to try and take a look at this.

[2019-05-10 08:17] ojeytonwilliams commented on #36000
@Stevo99 We'd want to keep that behaviour, for sure.  The only thing that should change here is what happens if you click Run the Tests while you have a syntax error in your code.

[2019-05-10 13:08] jhomme opened #36018 "Dialog Says I Passed This Chalenge, but It Shows As NotPassed On The Curriculum Page"
**Describe your problem and how to reproduce it:**

The title is self-explanatory. I have maybe two more like this, but this is one of them.

I bring up the challenge by activating the link from the Curriculum page. I put the code in, and press the Run Tests  button.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/delete-html-

[2019-05-10 13:20] moT01 commented on #35890
Why do the solutions need to use a different algorithm?

[2019-05-10 15:14] tvibhu12 opened #36019 "Solution is not correct in this challenge."
**Describe your problem and how to reproduce it:**
[In this challenge ](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/functional-programming/sort-an-array-alphabetically-using-the-sort-method/)solution is incorrect in `Get a Hint` tab.
correct answer should be this
[code]
but it is showing this solution which is incorrect.
[code]

**Add a Link to the page with the proble

[2019-05-10 15:15] thecodingaviator opened #36020 "Clean up references in guide files"
Some files in the guide for example [this](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/miscellaneous/storing-mongo-username--password-persistently-using-dotenv/index.md) have user photos in them which might not render the same on client side, for example on lines **88** and **98**, etc. in the file above. The file can be seen in production [here](https://www.freecodecamp

[2019-05-10 15:20] thecodingaviator commented on #35308
I'm not sure this has something to do with the curriculum rather is an incorrect solution on the user's part. I'm closing this. If you think that it should remain open, add clarification and reopen the issue

[2019-05-10 15:20] #35308 closed

[2019-05-10 15:35] RandellDawson commented on #36019
This has already been corrected on the master branch and can be seen [here on our beta site](https://www.freecodecamp.rocks/guide/certifications/javascript-algorithms-and-data-structures/functional-programming/sort-an-array-alphabetically-using-the-sort-method).  We are just waiting for it to deployed to production.

[2019-05-10 15:35] #36019 closed

[2019-05-10 15:42] RandellDawson commented on #36018
@jhomme Can you please provide a screenshot of such a situation, so we can see what you see?

[2019-05-10 15:48] RandellDawson commented on #35971
@raisedadead Is there a repo for the forum settings where we can submit a PR to make a change to this?

[2019-05-10 18:03] jhomme commented on #36018
Hi,
I will try. I am a screen reader user, so let me describe what I am
trying and then I will try the screen shot in the next comment.

- I take the chalenge and get the code correct.
- The dialog comes up with the cute message. "One loop to rule them
all" is my favorite so far.
- I press Submit and go to the next chalenge.
- I open the screen that lists every challenge.
- This one and some other

[2019-05-10 18:26] raisedadead commented on #35971
This is currently a trade off, for the icons hamburger and search. Making the topic switch to `#ffffff` is going to gray out the icon. We are working on a brand new theme, that will hopefully fix this.

The icon fix was suggested by @cmccormack a few days ago.

[2019-05-10 18:38] jhomme commented on #36018
![challenge-before](https://user-images.githubusercontent.com/6507685/57549232-fbb3cd80-7330-11e9-8a99-d58a1d2c0d1b.png)
![challenge-before](https://user-images.githubusercontent.com/6507685/57549314-361d6a80-7331-11e9-8ccb-30bae6d8083e.png)
![challenge-code-changed](https://user-images.githubusercontent.com/6507685/57549316-36b60100-7331-11e9-90ee-d59f9a43bf0f.png)
![curriculum-screen](https://us

[2019-05-10 19:01] raisedadead commented on #34872
Current deployment Status of the **beta site** (as of this comment date):

| Tree State at Deploy | Currently deployed Commit | Previously deployed Commit |
| :---- | :---- | :---- |
| [Browse Files](https://github.com/freeCodeCamp/freeCodeCamp/tree/bc17e56594b947c0829381c4109070cd86a028c6) | bc17e56594b947c0829381c4109070cd86a028c6 | d3c8eacef2a92f1ef87bd8f68b61de27ed96bb60|

[2019-05-10 23:53] sabique opened #36022 "Test Case bug in Challenge: Applied Visual Design: Use the s Tag to Strikethrough Text"
**Describe your problem and how to reproduce it:**
The test case is passed though I have not added the **s tag** around the word Google in the **h4 tag**, it is counting the **s tag** around Google word in the **p tag** as valid.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/use-the-s-tag-to-strikethrough-text/

**Tell us a

[2019-05-11 00:27] RandellDawson commented on #36022
@sabique Thank you for reporting this bug.  I can confirm it needed to be fixed and I have created a pull request (#36022) which should resolve the issue.

[2019-05-11 05:13] Saif-Shines opened #36024 "Link Broken guide - Basic CSS: Improve compatibility with Browser Fallbacks"
**Describe your problem and how to reproduce it:**

1. Navigate to freecodecamp.org > Basic CSS section
2. Module - Basic CSS: Improve Compatibility with Browser Fallbacks
3. Click "Get A Hint"
4. I found 404 error.

**Add a Link to the page with the problem:**

- Try opening: https://guide.freecodecamp.org/certifications/responsive-web-design/basic-css/improve-compatibility-with-browser-fallbacks

[2019-05-11 05:42] RandellDawson commented on #36024
Thanks for reporting this issue, however, it has been fixed (a new guide article was created), but has yet to deploy to production.  You can take a [look here](https://www.freecodecamp.rocks/learn/responsive-web-design/basic-css/improve-compatibility-with-browser-fallbacks) to see for yourself.  I am closing this issue for now.

[2019-05-11 05:42] #36024 closed

[2019-05-11 06:00] htkoca opened #36025 "404 File in Front End Libraries Projects - Build a Drum Machine codepen example"
**Describe your problem and how to reproduce it:**
- No big deal, just a missing file in a project example.
  - Front End Libraries Projects - Build a Drum Machine
    - https://s3.amazonaws.com/freecodecamp/drums/stitlee_stick_1.mp3 file in example https://codepen.io/freeCodeCamp/full/MJyNMd does not exist (404)

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/front-en

[2019-05-11 07:16] thecodingaviator commented on #14595
@moT01 I think this issue should be closed and an issue on freeCodeCamp/curriculumExpansion should be opened with a reference to this

[2019-05-11 08:32] ojeytonwilliams commented on #36000
@Stevo99 As Mrugesh said on Gitter, the codebase is a bit complex.  The bit responsible for updating the test results is https://github.com/freeCodeCamp/freeCodeCamp/blob/1c669fd56838b68710062bc09f6e4af34e7cf709/client/src/templates/Challenges/redux/execute-challenge-saga.js#L56-L61
and you can see that if there's an error (which is the case we're looking at) only the console gets updated, not the

[2019-05-11 09:16] lionel-rowe commented on #35971
How is it affecting the hamburger/search icons? If I add the following custom CSS:
[code]
It changes the topic title color as intended with no changes (so far as I can see) to the icons or anything else.

[2019-05-11 09:32] raisedadead commented on #35971
Thanks, I have added these in the forum. It's a temporary fix for now. I will however, add the themes to version control real soon in preparation of our  newer color schemes that we are planning to have soon.

Thanks for your help.

[2019-05-11 10:21] raisedadead commented on #35971
Here is the new theme repo: https://github.com/freeCodeCamp/discourse-theme, this is not being used at the minute. We will deploy this when we get a chance to overhaul the look and feel as per our latest design guidelines.

@ahmadabdolsaheb is taking lead on this. He will be prep-ing and deploying the new theme to our staging instances for feedback before we use it on all our production forums.

F

[2019-05-11 12:20] raisedadead commented on #34872
Current deployment Status of the **beta site** (as of this comment date):

| Tree State at Deploy | Currently deployed Commit | Previously deployed Commit |
| :---- | :---- | :---- |
| [Browse Files](https://github.com/freeCodeCamp/freeCodeCamp/tree/c5731fb5c5ce9419dbf4441d55b0243cc120d10a) | c5731fb5c5ce9419dbf4441d55b0243cc120d10a | bc17e56594b947c0829381c4109070cd86a028c6|

[2019-05-11 14:04] Stevo99 commented on #36000
OK thanks for the explanation. I was definitely starting to feel like its way over my head.  I will look into this now and let you know how I make out.

[2019-05-11 15:19] Stevo99 commented on #36000
@ojeytonwilliams  I think I may have solved it.  I ended up passing the error to the `executeTests` function.  Then changed the code in the catch statement as follows:
[code]
 Seems to be working the way you wanted.   After passing the test I closed the modal and added markup to the test.  When the test is submitted with the added markup it fails and logs error message to console.  Let me know wha

[2019-05-11 20:16] ojeytonwilliams commented on #36000
@Stevo99 In general, once you've got something that looks like it's working, your best bet is to submit a pull request.  That way two things happen.  The continuous integration tests get triggered and we can be 100% sure we're looking at the same changes to the code.  Though obviously the second isn't strictly necessary here, since your code is nice and concise!

My impression is that it's probabl

[2019-05-11 21:43] ValeraS commented on #36000
IMO, It's better to set an initial state for tests at the beginning, and if the build fails, none of the test results will be displayed as executed.

[2019-05-11 23:34] moT01 commented on #36020
https://github.com/freeCodeCamp/freeCodeCamp/issues/35518#issuecomment-470417848

[2019-05-12 00:09] #36022 closed

[2019-05-12 02:39] jack-gaojz opened #36027 "The line number display issue in the light box."
**Describe the bug**
If the codemirror in a lightbox, when the lightbox show, the codemirror linenumber display not correct:
![image](https://user-images.githubusercontent.com/40879710/57576912-49017d80-749e-11e9-8485-5b2f4118a6d9.png)
But when I scroll the scrollbar, the line number will display well:
![image](https://user-images.githubusercontent.com/40879710/57576959-fecccc00-749e-11e9-8011-1f5

[2019-05-12 03:45] RandellDawson commented on #36027
@jack-gaojz What does this have to do with the freeCodeCamp repo?

[2019-05-12 05:10] thecodingaviator commented on #36020
Thanks @moT01 for that. So we’ve to fix it to remove the image and leave just the text link. The images would consequently need to be deleted from fCC’s CDN.

cc: @ahmadabdolsaheb

[2019-05-12 08:21] htkoca commented on #36025
My mistake! It was a replace error I made!

[2019-05-12 08:21] #36025 closed

[2019-05-12 10:48] jack-gaojz commented on #36027
Oh my god, it's my big mistake. I am very sorry for that.

[2019-05-12 10:48] #36027 closed

[2019-05-12 14:19] webdevdaemon commented on #35950
is this still available, I would like to take a crack at this one if so. Gonna start working on it anyways because it sounds fun.

[2019-05-12 15:39] organicdude opened #36030 "Phrasing Issue on Basic JavaScript: Iterate Through an Array with a For Loop"
I think the below is phrased in a confusing way.

[code]

I thought it was saying "the last index of the array has a length of -1".

This was very strange to me because how could an array index have a length of negative 1?

If it was using the grey background with red lettering, and it said "arr.length-1", then it would be much more clear.

I nearly posted on the forum "How can an index have a len

[2019-05-12 15:54] RandellDawson commented on #36030
@organicdude Would you like to help us update this challenge?  I agree highlighting the `length - 1` part like the following, could help make it clearer.  It is as simple as adding code tags around the code parts like below:
[code]

[2019-05-12 15:56] organicdude commented on #36030
Hi Randell! That would be very fun.

Is there a document I can read to learn how to update that challenge?

[2019-05-12 16:09] RandellDawson commented on #36030
Yes, there are two.

https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-work-on-coding-challenges.md

https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/style-guide-for-curriculum-challenges.md

If you need help or have any questions, drop a question on our [Contributors Gitter channel](https://gitter.im/FreeCodeCamp/Contributors)

[2019-05-12 16:20] organicdude commented on #36030
So I found that I just have to find the file inside the code base - hit the pencil to edit it, and then make the update.

But I didn't find a link to the code base - can you please advice me on where that is?

[2019-05-12 16:24] RandellDawson commented on #36030
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/iterate-through-an-array-with-a-for-loop.english.md

[2019-05-12 17:46] organicdude commented on #36030
Do you see the change I submitted? I can't tell.

[2019-05-12 17:58] RandellDawson commented on #36030
Did you fork the freeCodeCamp repo yet?  You would make the changes on your forked repo and then create a pull request to the master branch of the actual freeCodeCamp repo from your forked branch.

[2019-05-12 18:03] RandellDawson commented on #36030
It appears your current fork of the freeCodeCamp repo is extremely out of date.  The easiest way to bring your fork up to date, is to follow the instructions in the How to setup Free Code Camp locally, but I did find the following which supposedly allows you to sync up without setting up locally.  The other option is to just delete your current fork on your account, refork it, and then make your c

[2019-05-12 21:00] RandellDawson opened #36031 "How to Setup Free Code Camp Locally is missing npm install instruction"
[This commit](https://github.com/freeCodeCamp/freeCodeCamp/commit/c5049775b45c608755ee03878e967087b49cae9e#diff-327956bb77017bdc1bbe530632292d2a) removed the line:
[code]
from a section named `Install NPM dependencies` which was also removed when the new Docker instructions were added.  For those not using Docker, I believe this needs to be added back in somewhere shortly after the `Installing dep

[2019-05-12 21:10] RandellDawson commented on #36031
Actually, does `npm ci` replace `npm install` when not using Docker?  If so, this issue can be closed.

[2019-05-12 21:37] #36031 closed

[2019-05-12 23:22] RandellDawson commented on #15388
@moT01 On second thought, let's close this because we have improved many challenges, but they are not yet in production.  Once the changes have been deployed to production, we can check the analytics on many of the early challenges involving use of functions, to see if campers are still taking as long as they use to.

[2019-05-12 23:22] #15388 closed

[2019-05-12 23:31] RandellDawson commented on #17193
@raisedadead Is this still relevant?

[2019-05-12 23:57] raisedadead commented on #17193
Yes, it is.

Currently if a user changes their email on the profile, it's not updated in Auth0. This can lead to potential conflict.

We periodically delete emails not found on the User objects from Auth0, but that's still a manual chore. We should be doing this programmatically instead.

Essentially our API (on an email change event) should trigger an update call to the Auth0 management API. This

[2019-05-13 01:05] moT01 commented on #35950
Go for it @webdevdaemon - let us know what you come up with.

[2019-05-13 03:45] #35990 closed

[2019-05-13 04:30] leodaher commented on #35991
@RandellDawson Can I take this issue? I can submit a PR soon for the update of the Style Guide for Curriculum Challenges.

[2019-05-13 04:35] RandellDawson commented on #35991
@leodaher Sure, you can tackle that one.  Try to give as much details as possible and an example to make it clear.  Thanks.

[2019-05-13 04:53] leodaher opened #36035 "Include challenges on Promises before introducing Fetch API"
There is an open PR for introducing the Fetch API (#36033). But knowledge about the concept of Promises is definitely needed before this introduction. We need to discuss where these challenges about Promises should be included, and how they are going to be structured.

[2019-05-13 05:06] Recelis commented on #34626
I just created a pull request to edit the GitHub boilerplate but looking back at it now. I'm not sure how the glitch code relates to the actual site but it needs to be changed too.

[2019-05-13 09:54] huyenltnguyen opened #36036 "[beta] Challenge Basic CSS: Cascading CSS variables is missing a keyword"
**Describe your problem and how to reproduce it:**

Challenge `Basic CSS: Cascading CSS variables` has a missing keyword in its description.

![Untitled](https://user-images.githubusercontent.com/25715018/57612480-1e4b1e00-759f-11e9-9cbb-01e47c0c9109.png)

**Add a Link to the page with the problem:**

https://www.freecodecamp.rocks/learn/responsive-web-design/basic-css/cascading-css-variables

[2019-05-13 09:59] htkoca commented on #17584
For the section "Introduction to the Managing Packages with npm Challenges" we should not expect the students to have to run the server to get the `_api/package.json` route as nowhere in the instructions state that. Instead suggest what @unicorn93 mentioned. Or have them create a `_api` folder in their repo with a `package.json` in it

[2019-05-13 10:16] htkoca commented on #17584
The section "[Introduction to the Managing Packages with NPM Challenges](https://learn.freecodecamp.org/apis-and-microservices/managing-packages-with-npm)" using the git repo, the instructions to run `server.js` to get the `_api/package.json` route are missing.

Maybe the instructions should suggest what @unicorn93 mentioned (https://github.com/freeCodeCamp/freeCodeCamp/issues/17584#issuecomment-4

[2019-05-13 11:28] moT01 commented on #34626
Where's the PR @Recelis? You should probably put a reference to this issue on it so we know.

[2019-05-13 11:38] Recelis commented on #34626
Hi @moT01 it's called Update index.html #19. The link is https://github.com/freeCodeCamp/boilerplate-project-timestamp/pull/19

[2019-05-13 11:54] RAJESH-UIUX3D commented on #36036
The missing word is 'HTML'.
**It should be like this:**
:root is a pseudo-class selector that matches the root element of the document, usually the HTML element.

https://www.freecodecamp.rocks/learn/responsive-web-design/basic-css/cascading-css-variables

[2019-05-13 12:05] ojeytonwilliams commented on #35959
Putting something on the support page could work.  How about something like:

[2019-05-13 17:46] VSatyavani commented on #5577
// Setup
var a;
var b = 2;
// Only change code below this line
var a=7;
b=a;

[2019-05-13 17:50] huyenltnguyen opened #36038 "[beta] Challenge Basic CSS: Create a custom CSS Variable is missing a period in its description"
**Describe your problem and how to reproduce it:**

Challenge `Basic CSS: Create a custom CSS Variable` is missing a period in its description.

![Untitled](https://user-images.githubusercontent.com/25715018/57642576-d7cae300-75e1-11e9-9c43-6cdb2f836a8a.png)

**Add a Link to the page with the problem:**

https://www.freecodecamp.rocks/learn/responsive-web-design/basic-css/create-a-custom-css-varia

[2019-05-13 17:54] VSatyavani commented on #5577
// Example
var ourVar = 19;

// Only change code below this line
var a = 9; // This is equal to 9

[2019-05-13 18:04] huyenltnguyen commented on #36038
Btw, I think there is a typo in the description as well:

should be

[2019-05-13 18:04] VSatyavani commented on #5577
// Initialize these three variables
var a;
var b;
var c;

// Do not change code below this line

a = a + 1;
b = b + 5;
c = c + " String!";

a = 6;
b = 15;
c = "I am a String!"

[2019-05-13 18:09] RandellDawson commented on #5577
@VSatyavani Please use the [forum](https://freecodecamp.org/forum) to ask questions concerning trouble with a challenge.  Thank you.

[2019-05-13 18:28] raisedadead commented on #34626
Hey @moT01 can you QA the PR? If good, let me know and I will merge it. If I understand, that is the only action item from our side. And the glitch project itself is fine?

[2019-05-13 18:44] #36036 closed

[2019-05-13 19:05] paulcarroty opened #36039 "Advanced Node and Express - Handle a Disconnect - test issue"
**Describe your problem and how to reproduce it:**
In this challenge we use `const io = require('socket.io')(http)` constant, but the test checks `socket` on server side: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/06-information-security-and-quality-assurance/advanced-node-and-express/handle-a-disconnect.english.md

**Tell us about your browser and opera

[2019-05-13 19:25] #36039 closed

[2019-05-13 23:15] moT01 commented on #36038
Looks like those could both changed.

[2019-05-13 23:22] moT01 commented on #36035
I could come up with a rough draft for some challenges on this. Probably 2-3 challenges. Not quite sure where to put them, but perhaps right before the fetch lesson as is it pretty related.

[2019-05-13 23:33] leodaher commented on #36035
What do you think about putting them in the ES6 section of Javascript Algorithms And Data Structures Certification? I think Promises were introduced in ES6, right?

[2019-05-14 07:42] awareness481 commented on #18084
@raisedadead if you or another collaborator agreed on my [suggested changes](https://github.com/freeCodeCamp/freeCodeCamp/issues/18084#issuecomment-489518168)  I could go ahead and submit a PR

[2019-05-14 07:56] thecodingaviator commented on #36035
I believe introducing them at the very end of the ES6 section would be the best. Although, I'm not sure if this is something we'd rather want to take up on the curriculumExpansion repo rather than here

[2019-05-14 08:07] thecodingaviator commented on #36035
On a closer look, I see that we have some challenges as follows:

![image](https://user-images.githubusercontent.com/34807532/57681406-3e391b00-764d-11e9-951b-342e7e8fc0ee.png)

[2019-05-14 10:11] thpthang commented on #10558
var result = "";
    // Your code below this line
    result+= "My "+myAdjective+" "+myNoun+" "+myVerb+" very "+myAdverb+".";

[2019-05-14 10:12] thpthang commented on #10558
Can you describe this issue more clearly?

[2019-05-14 12:06] moT01 commented on #35959
That actually sounds pretty good

[2019-05-14 12:22] ojeytonwilliams commented on #35959
Cool, I'll pop that in a PR.

[2019-05-14 12:56] moT01 commented on #36035
Is there something specific you are you trying to show us in that picture @thecodingaviator?

[2019-05-14 13:10] thecodingaviator commented on #36035
I wanted to say that we should plan on putting the fetch challenge in this section and the Promises challenge in the ES6 section @moT01

[2019-05-14 13:31] #36038 closed

[2019-05-14 14:46] raisedadead commented on #18084
Yes, let's get a PR in. Thanks for your work so far. Looking forward to the pull request.

[2019-05-14 14:47] #35959 closed

[2019-05-14 15:01] ojeytonwilliams commented on #36018
@jhomme Sorry, I was unable to reproduce this.  After I completed a challenge, the curriculum labelled it as Passed, as expected.  Do you encounter the same error on [the beta site](www.freecodecamp.rocks/learn)?

[2019-05-14 15:10] RandellDawson commented on #10558
@thpthang Please use [our forum](https://www.freecodecamp.org/forum/) for questions related to why your code does not pass a challenge.  Thank you.

[2019-05-14 15:17] ojeytonwilliams commented on #35841
The latest changes to the install scripts should have solved this, because they use `ci` basically everywhere which should prevent the lock file from updating.  As long the guide is followed, everything should be fine now.  @AstiV as you ran into this problem before, would you mind checking it on the latest version of master and see if the problem has gone away?

[2019-05-14 15:21] jhomme commented on #36018
Hi Oliver,
How do I get to it?

Thanks.

Jim

On 5/14/19, Oliver Eyton-Williams <notifications@github.com> wrote:

--
==========

Jim Homme

Twitter: @jimhomme
Facebook: http://www.facebook.com/jimhomme
LinkedIn: https://www.linkedin.com/in/jimhomme
Skype: jim.homme
FreeChess: jhomme

[2019-05-14 15:38] RandellDawson commented on #36018
@jhomme https://freecodecamp.rocks/learn

[2019-05-14 16:11] RandellDawson commented on #34240
This issue was fixed with PR #35496, so I am closing it.  If anyone feels the issue has not been fixed on the master branch, feel free to request this issue be reopened.

[2019-05-14 16:11] #34240 closed

[2019-05-14 16:18] RandellDawson commented on #35574
@moT01, @thecodingaviator I do like the simplicity of the changes suggested here for this challenge. What do you think?

[2019-05-14 17:16] navjotjsingh opened #36044 "Multiple Issues with Caesars Cipher Guide"
**Describe your problem and how to reproduce it:**
**First Issue:** The Basic solution uses call() function but doesn't include any reference to it.
**Second Issue:** The Basic solution doesn't work when you use it as a solution for the challenge. You get the following error on the beta site:

And the following error on the old Site

I guess setting
`x = char.charCodeAt(0);`
to
`let x = char.charC

[2019-05-14 18:24] Wookolentze commented on #17706
Hi, I am also stuck at the moment, had similar ideas, but none of the mentioned solutions in this thread solves it... ? what is the solution?

[2019-05-14 19:29] RandellDawson commented on #17706
@MattYamamoto This challenge was updated recently but has not been deployed to production yet.  You can take a look at the new version at https://www.freecodecamp.rocks/learn/javascript-algorithms-and-data-structures/regular-expressions/match-characters-that-occur-zero-or-more-times.  If you feel the newer version is lacking, please open a separate issue, so it can be discussed further.

Thank you

[2019-05-14 20:11] huuugh18 commented on #17820
Thanks so much to @lucasMontenegro for this workaround. Great job.

[2019-05-14 22:45] webdevdaemon commented on #35950
I'm on it, day job got busy for a sec and I had a bit of trouble w/ the docker config, but I am GTG now.

Standby for a solution.

Thanks for the opportunity!

[2019-05-14 23:53] jhomme commented on #36018
Hi,
It is possible that the screen reader sees this, but it is invisible
to others. I will see if I can find out for sure.

Jim

On 5/14/19, Randell Dawson <notifications@github.com> wrote:

--
==========

Jim Homme

Twitter: @jimhomme
Facebook: http://www.facebook.com/jimhomme
LinkedIn: https://www.linkedin.com/in/jimhomme
Skype: jim.homme
FreeChess: jhomme

[2019-05-15 00:04] RandellDawson commented on #36044
@navjotjsingh That is a valid point regarding the error message, but that is a different issue related to how the challenge tests are ran.  I have gone ahead and created a PR (#36046) to address the solution in the Guide, but the last issue you mentioned will have to be discussed in a separate issue (feel free to create it if you have the time).

@ValeraS I could not find any outstanding issues re

[2019-05-15 01:10] RandellDawson commented on #35988
@moT01 I have reviewed this PR and the original issue and honestly, I do not see anything wrong with the challenge as it currently is on master.  I think the original issue and this PR should be closed as unnecessary.
[code]
If a camper uses the above  regular expression it will correctly pass the first 4 tests (as it should) because:
* The first test checks for the curly brackets which it has
* T

[2019-05-15 01:32] moT01 commented on #35988
I think you are missing something.

- The exact instructions are: `Change the regex haRegex to match the word "Hazzah" only when it has four or more letter z's.`
- That means it should match the full word: `Hazzzzah` - all 8 characters
- As it says in the issue here - "`/z{4}/` is enough to pass"
- But that regex won't match all 8 characters of `Hazzzzah` - it will only match the `zzzz` - and yet

[2019-05-15 01:58] RandellDawson commented on #35988
Sorry for my lightbulb not being on before.  I get it now.

[2019-05-15 02:23] moT01 commented on #35988
That will happen - things get a little fuzzy after a whole day of screen time

[2019-05-15 06:19] #36044 closed

[2019-05-15 06:59] ahmadabdolsaheb commented on #35950
@webdevdaemon Looking forward to it. You are also welcome to discuss your solution here before implementation.

[2019-05-15 09:11] thecodingaviator commented on #17386
@ahmadabdolsaheb even if they're no longer interested, it still is a bug which needs fixing

[2019-05-15 13:11] clandau opened #36050 "Proposal to update this boilerplate to allow it to be used for all advanced node challenges"
I am proposing that we combine this boilerplate with the socialauth and socketio challenges boilerplate.
https://github.com/freeCodeCamp/boilerplate-socialauth
https://github.com/freeCodeCamp/boilerplate-socketio
Doing this would make the transition through the challenges smoother. The challenges build on each other and there doesn't seem to be a need to change boilerplates while working through t

[2019-05-15 13:43] ojeytonwilliams commented on #35991
Regarding the Style Guide, it needs to stress that you can't use `yml` as a language, due to how it's parsed.  `yaml` is fine, though.  I'll update #36042 if needed.

[2019-05-15 14:58] emmawinston commented on #17386
Hello, yes, I am still interested! I'm also pretty swamped with work hence the very slow response, sorry. If nobody else wants to take a look I will add it to my to do list, but it might be a while before I get to it! :)

[2019-05-15 15:23] clandau commented on #36050
Adding “finished projects up to this point” gists in the challenges at the points where the boilerplates change over could help. These exist in the first few projects but then stop.

[2019-05-15 16:12] #14903 closed

[2019-05-15 16:12] #17379 closed

[2019-05-15 16:12] #35337 closed

[2019-05-15 17:15] moT01 opened #36058 "[curriculum] regex upper/lower bounds tests not good enough"
4 tests on this [challenge](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions/specify-upper-and-lower-number-of-matches/) are able to pass with an improper regex...

[code]

This should fail tests 3-6. It does not.

I can make a PR for this.

[2019-05-15 17:19] RandellDawson commented on #36058
Go for it!

[2019-05-15 18:14] gokulsiva commented on #36030
Is this open, can I take this ?

[2019-05-15 18:38] RandellDawson commented on #36030
@gokulsiva Another user has asked to work on this.

[2019-05-15 18:54] gokulsiva commented on #36030
Thanks. Will look for another and take it.

[2019-05-15 18:59] RandellDawson commented on #36030
We will leave yours open and if @organicdude does not create a PR in the next couple of days, then we can review yours.

[2019-05-15 19:03] gokulsiva commented on #36030
OOPS... Deleted my PR. Will follow this thread, if @organicdude doesn't create PR will submit a PR in couple of days. Sorry for my hastiness.

[2019-05-15 20:04] AstiV commented on #35841
@RandellDawson thanks for explaining! Will do definitely do that the next time before committing such a file.

@ojeytonwilliams sure thing, I can check it on/after the upcoming weekend!

[2019-05-15 20:13] ojeytonwilliams commented on #35841
@AstiV no rush.  If there are any problems, let us know.  If not, I think it's safe to close this.

[2019-05-15 20:46] anEternalFlame opened #36062 "Broken Link on Challenge Guide"
Describe your problem and how to reproduce it:
The "Get a Hint" link to the guide page is broken for a specific challenge.

Broken link:
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-data-structures/-iterate-through-the-keys-of-an-object-with-a-for---in-statement

The correct link:
https://guide.freecodecamp.org/certifications/javascript-algorithms-a

[2019-05-15 21:05] RandellDawson commented on #35841
@ojeytonwilliams Does the following section need to be updated (with respect to npm install)?

https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md#troubleshooting

[2019-05-15 21:18] RandellDawson commented on #36062
@anEternalFlame Not sure what commit you think reverted the fix.  I just tested the master branch locally and the links work fine.  The change will not show up in production as we are still waiting for the current master to be deployed to production.  I am going to close this issue as closed.  If you have further information which shows how this is not resolved on the master branch, please share a

[2019-05-15 21:18] #36062 closed

[2019-05-15 23:19] ZacBouh commented on #16656
Hi, it was working a few minutes ago, but it seems to be broken again. I have the correct Repo in package.json but still have the error "cannot find module.."

[2019-05-15 23:50] moT01 opened #36063 "[curriculum/discussion] lessons don't explain how to import files"
This was brought up while working on a PR for one of the es6 import challenges - it started with the fact that `require` is mentioned as the old way of added modules in javascript - but, as far as I know, you can not do this natively with front end javascript, and never could - it's part of node - but basically campers are confused on how to import things - and they aren't taught how files connect

[2019-05-16 05:42] Kungfoosian commented on #36030
Is this still available? I'm new but I'm willing to give it a shot!

[2019-05-16 06:16] RandellDawson commented on #36030
@Kungfoosian Someone is already working on this one.

[2019-05-16 08:35] ahmadabdolsaheb commented on #35972
I noticed a double footer the 404 as well :)
![image](https://user-images.githubusercontent.com/4591597/57839051-977c8800-77ce-11e9-9fbe-45770770776a.png)

[2019-05-16 08:42] ojeytonwilliams commented on #35972
Weird!  Does that only happen on certain pages?

[2019-05-16 08:43] ahmadabdolsaheb commented on #35972
So far, only the local 404.

[2019-05-16 08:58] #35956 closed

[2019-05-16 09:27] ojeytonwilliams commented on #35972
Yep, it's only in development mode.  Presumably Gatsby embeds the 404 page inside an existing page, so the layout gets included twice.

[2019-05-16 11:59] ojeytonwilliams commented on #36063
This sounds great.  I don't think there's any need to split the issue, though separate PRs would be good.

As for that lesson, they must have been thinking about node, where it's valid.  It clearly doesn't work in the browser.

[2019-05-16 13:28] jippy89 opened #36064 "found empty white space while learning"
**Describe the bug**
I found a white space under the learning platform

**To Reproduce**
Go to this [curriculum](https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/jump-straight-to-the-content-using-the-main-element) then try to scroll down.

**Expected behavior**
No white-space(?)

**Screenshots**
![white-space-on-mozilla](https://user-images.githubusercontent.com/33748953

[2019-05-16 13:29] clandau commented on #36050
My plan would be to add the chat.pug view to the first boilerplate, along with adding some conditional code to add to the index and profile views to show new fields as you move along the challenges. A few instructions would need to be modified in the challenges, but overall I don't think it would be that difficult to make the changes.

[2019-05-16 14:06] moT01 commented on #35574
I think the majority of the confusion here comes from the fact that you need to assign a new name to the destructed variable. Instead of `const { tomorrow } = avgTemperatures` the solution is `const { tomorrow: tempOfTomorrow } = avgTemperatures` - and that part of the description is confusing. Before the third example, I didn't think the `voxel` example was confusing. This is the first time campe

[2019-05-16 14:46] moT01 commented on #36050
So to be clear here - you want to combine these three boilerplates...
https://github.com/freeCodeCamp/boilerplate-advancednode/
https://github.com/freeCodeCamp/boilerplate-socialauth
https://github.com/freeCodeCamp/boilerplate-socketio/

And it looks like those three boilerplates cover all the `Advanced Node and Express` lessons.

It sounds like you have thought it out pretty good - Did you recent

[2019-05-16 15:07] jippy89 opened #36066 "Applied Accessibility input with tabindex is not selected when pressing 'tab'"
**Describe your problem and how to reproduce it:**
The info for the challenge said that..

And the challenge is..

However, after I put `tabindex` on the both the input and the button, then I press "TAB" it isn't the first thing that is selected! In fact, it's not even selected! And I had successfully finished the course. **Also, I already checked the [hint](https://guide.freecodecamp.org/certific

[2019-05-16 15:08] jagzmz opened #36067 "APIs and Microservices Projects - Solutions links are appended with "/""
**Describe the bug**

- Submitting the solution link as "https://xyz.com/" produces an error.
- Submitting "https://xyz.com" does not.

Whenever we submit a solution link "https://xyz.com/" it is appended with "/_api/" so resultant solution gives "Not Found/Timeout error" and the same link submitted without "/" like "https://xyz.com" gives solution as accepted.

**To Reproduce**
Steps to reproduce

[2019-05-16 15:12] clandau commented on #36050
Yes, that's what I'd like to do. I originally did the challenges about a year ago and fixed some little issues that I found along the way. I have gone through all the challenges again recently to remind myself of the pain points and identify potential issues.

https://github.com/freeCodeCamp/freeCodeCamp/issues/17068  (here's when I first brought this up...ha)

The biggest changes to the boilerpla

[2019-05-16 15:49] moT01 opened #36068 "[curriculum] glitch doesn't allow version "1.0""
I noticed this while looking at another issue. Glitch is giving me an error when using version "1.0" in my package.json file. It only seems to work when I use a third number: "1.0.0" - I'm not sure if this has always been the case since I don't think it threw this error in the past. But [this challenge](https://learn.freecodecamp.org/apis-and-microservices/managing-packages-with-npm/add-a-version-

[2019-05-16 15:53] moT01 commented on #36067
I am not having this problem - my project will pass the tests with or without the trailing `/`
https://fcc-manage-npm-packages.glitch.me/ and
https://fcc-manage-npm-packages.glitch.me both pass for me in chrome

Can you share a share a screen shot of the error?

[2019-05-16 16:01] RandellDawson commented on #35574
@moT01 Maybe we have two challenges.  The first being your idea and the second what @lasjorg has above?  That way we separate destructuring with assignment to variable and destructuring with reassignment.  That way the the extra note (see below) would be part of the challenge description of the 2nd challenge.
[code]

On the forum I have had success in teaching the concept of object destructuring w

[2019-05-16 16:15] jagzmz commented on #36067
Updated

[2019-05-16 16:44] moT01 commented on #36067
hmm, it's strange that my project will give a good response when that string is appended but not yours
https://fcc-manage-npm-packages.glitch.me//_api/package.json - package as response
https://freecodecamp-practices.herokuapp.com//_api/package.json - not found as response

not sure what is causing this - the only difference seems to be that I'm using glitch and you're using heroku

in fact mine w

[2019-05-16 17:10] moT01 commented on #35574
It could work either way - an easy fix for this specific issue would be to just update this one to make it easier. But it does seem like splitting this up might be better.

[2019-05-16 17:13] RandellDawson commented on #35574
@ojeytonwilliams @Manish-Giri What are your thoughts on this discussion?

[2019-05-16 17:24] moT01 commented on #36064
Not seeing it on high sierra 10.13.6 - same version of firefox. If you are using any browser extensions - you could try disabling them.

[2019-05-16 17:52] thecodingaviator commented on #35574
I agree that we should get rid of the function.

@moT01 how about this:
[code]

[2019-05-16 18:06] ojeytonwilliams commented on #35841
@RandellDawson It does, yeah. I'll submit something soon.

[2019-05-16 18:11] jagzmz commented on #36067
Weird, would u check with an alternative hosting if the problem persists?
If the problem persists the last solution would be stripping the las `/` from input url

[2019-05-16 18:17] jagzmz commented on #36067
@moT01  Did you try this
[https://freecodecamp-practices.herokuapp.com//_api/package.json](https://freecodecamp-practices.herokuapp.com//_api/package.json)
It gives a response with `Not Found` the same as it is shown in the screenshot I posted.
So I guess the problem is with the routing of Heroku.

[2019-05-17 00:57] jippy89 commented on #36064
None of my browser extensions is active, you can see it's on top right, which is deactivated.

[2019-05-17 01:03] jippy89 commented on #36064
Ohhhh! The whitespace came out _**AFTER**_ I open mozilla dev tools! If I didn't open it, the whitespace won't come out.

[2019-05-17 01:11] jippy89 opened #36071 "Responsive Web Design Principles: Create a Media Query: test is passed bug"
**Describe your problem and how to reproduce it:**
At first I had trouble finishing the course, **at first I thought that it was a bug,** turns out it's the same as issue #16474. However I managed to pass **without doing that.**

Here's what I do instead:
[code]

**Add a Link to the page with the problem:**
[Responsive Web Design Principles: Create a Media Query](https://learn.freecodecamp.org/res

[2019-05-17 01:39] RandellDawson commented on #36071
@jippy89 Thank you for reporting this problem.  This problem was resolved when PR #35804 was merged to master.  The change has not been pushed to production, but that will happen sometime in the near future.  I am closing this as result of it being fixed (I have tested this locally) but not yet deployed.

[2019-05-17 01:39] #36071 closed

[2019-05-17 08:40] ojeytonwilliams commented on #35574
I like the idea of two small challenges.  One introducing destructuring and a second showing that they can be assigned new names.

@lasjorg's original idea of contrasting assignment operators with destructuring is a good one, but I think it would be better to assign two or more variables at once.  Reason being, if it's just one, the contrast is between
[code]
and
[code]
which isn't obviously much

[2019-05-17 11:54] moT01 commented on #35574
So in total it would be like this... ?

[code]

[2019-05-17 12:45] ojeytonwilliams commented on #35574
Yep, that's nice.  As for the description, I see both approaches (voxel or user) to be pretty much equivalent, so I'd be happy with either.

[2019-05-17 13:40] mattschlosser commented on #36064
A white space appears for me after the donation modal pops up.

[2019-05-17 14:20] jagzmz commented on #36068
@moT01 made a PR  #36074 :+1:

[2019-05-17 15:59] RandellDawson commented on #35574
I am in agreement with @ojeytonwilliams on using either voxel or user.

Can you just modify the existing challenge instead of creating a new for this?

[2019-05-17 16:07] #36068 closed

[2019-05-17 17:09] gwenf commented on #14595
@thecodingaviator that sounds good. We have quite a few challenges written already. We've had some trouble with a few things like parsing the React Native code but I would really like to get this done.

[2019-05-17 18:12] KaustubhD commented on #34259
Hi,
I finally completed this challenge today and the cases were failing for me too. (14/16 passed)
The reason is difference in timezones.
The Date object taken here although made through UTC, changes to local timezone and thus producing different times as compared to the dataset.
![Screen Shot 2019-05-17 at 23 40 37](https://user-images.githubusercontent.com/22456687/57947699-3901f780-78fd-11e9-84

[2019-05-17 18:26] TCarmine commented on #17584
This worked for me as well on a fork of tha repo. Because the check function as @anku255 noticed look fro that path

[2019-05-17 19:13] razzlestorm commented on #19382
Just confirming that this issue is still persisting. `if (users.hasOwnProperty('Alan')){
  return true;
} else {
  return false;
  }`

will pass the tests.

[2019-05-17 20:02] RandellDawson commented on #19382
@razzlestorm It has been fix but not deployed to production.

[2019-05-17 21:11] organicdude commented on #36030
I'm sorry for not fixing this yet. I have been under the weather.

I'm going to do an up to date pull now on the FCC code base, make the modification, and then give it to you for review.

[2019-05-17 21:15] RandellDawson commented on #36030
@organicdude Thanks for the update.  Just submit a PR when you feel like yourself again.

[2019-05-17 21:18] organicdude commented on #36030
Haha I know PR stands for pull request, so as soon as I can figure out how to do that correctly (according to the docs you've posted above), I will do that.

[2019-05-17 21:30] RandellDawson opened #36080 "Accessing Nested Objects challenge could use a small change in instructions"
Based on [this forum thread discussion](w.freecodecamp.org/forum/t/accessing-nested-objects/136398/) and others like it, I am wondering if we should slightly modify the instructions for the [Accessing Nested Objects](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/accessing-nested-objects/) challenge.

The last test is written to only accept a solution wer

[2019-05-17 21:35] organicdude commented on #36030
Hi Randell - I think I submitted the changes I wanted to make. How does it look from your end?

[2019-05-17 21:38] Manish-Giri commented on #35574
I like the idea of splitting up this challenge into two - just plain destructuring and destructuring with reassignment. Object destructuring is by itself a somewhat difficult topic for those new to ES6, there's nothing to be gained by adding re-assignment at the same time when destructuring is introduced.

I do however prefer to keep the function in the seed code. While it doesn't add anything of

[2019-05-17 22:10] RandellDawson commented on #35574
I thought we got rid of all of the IIFEs in a fairly recent PR merge.

[2019-05-17 22:53] #35988 closed

[2019-05-18 08:46] ojeytonwilliams commented on #35574
I have one, somewhat meta, question.  When we have a difference of opinion like we have here (function vs. no function and one challenge vs. two), how do we want to resolve this?  The problem, as I see it, is that there's no clear winner. All the options have something to recommend them and choosing seems to come down to person preference.

Is the best option, once we've had a bit of discussion, s

[2019-05-18 13:01] thecodingaviator commented on #34259
@KaustubhD Can you have a look at tests in https://github.com/freeCodeCamp/testable-projects-fcc and update the tests there to get this to work?

[2019-05-18 13:20] KaustubhD commented on #34259
Sure i can. But can you tell me how would i run/test these tests ?

[2019-05-18 13:28] Stevo99 commented on #36000
@ValeraS  So a few of the Team Members said that your suggestion is the best way to fix this issue.  I'm not that experienced with this codebase and I was just wondering if maybe you can explain how I can go about setting an initial state for the tests.  I tried to figure it out myself but could not unfortunately.  Any help would be appreciated. Thanks!!

[2019-05-18 13:48] moT01 commented on #35574
We have what? 6 regular contributors here? I think we should be able to come up with something - I say we put things to a vote - it seems like the majority of us were in favor of getting rid of the function, I do believe we got rid of all those IIFE's in this section at one point. And it seemed like some of us we're fine with splitting it into two challenges, but I'm not sure we got a great voter

[2019-05-18 15:47] ojeytonwilliams commented on #35574
I'm fairly relaxed about precisely how we go about it.  I guess if the conversation grinds to a halt, we can just stick a help wanted label on to invite a PR.  Then whoever makes the PR could count the votes (or just count the opinions - I don't think it needs to be formalized) and try to make the best compromise.

[2019-05-18 16:02] jagzmz commented on #28059
Link still broken

[2019-05-19 06:27] thecodingaviator commented on #35574
I believe the best way to do this is that everyone who's in favor of the following changes can add their names below the list item, this way we can have a list of who voted for what. @ojeytonwilliams I believe it is best to formalize it so we can fall back to this in case we ever need it.

1. Getting rid of the function
Yes - @thecodingaviator

2. Using less abstract values
Yes - @thecodingaviator

[2019-05-19 06:32] thecodingaviator commented on #34259
@KaustubhD I guess that's the best way to do it without breaking all the previous projects

[2019-05-19 06:34] thecodingaviator commented on #14595
@gwenf Please get back to us once you have a working draft ready, we'd be glad to see it and discuss where to put it

[2019-05-19 07:00] KaustubhD commented on #34259
Alright then, i'll give it a shot.

One more thing, how do i test the tests ?

[2019-05-19 14:29] thecodingaviator commented on #34259
I think you should get in touch with @raisedadead about that. You'll find him on the [Gitter chat room](https://gitter.im/FreeCodeCamp/Contributors)

[2019-05-19 14:43] ahmadabdolsaheb opened #36085 "Broken links on profile page"
**Describe your problem and how to reproduce it:**
the challenge links in the profile timeline are broken.

![image](https://user-images.githubusercontent.com/4591597/57983680-87c6a300-7a5d-11e9-9c30-368069cb94c3.png)

[2019-05-19 16:32] thecodingaviator commented on #34259
@lasjorg I guess you’re looking after updating the CodePens too. Could you please chime in?

[2019-05-19 17:21] lasjorg commented on #34259
I can't reproduce it, the example project is passing all the tests for me.

[2019-05-19 17:36] KaustubhD commented on #34259
@lasjorg You can just change your system timezone and reload.

[2019-05-19 17:42] thecodingaviator commented on #36064
I believe the issue is non-existent then. I'm closing it. @jippy89 feel free to add further clarification and reopen it

[2019-05-19 17:42] #36064 closed

[2019-05-19 18:24] PragatiVerma18 opened #36086 "Guide Articles still marked as stub even when they have data"
Many guide articles are still marked as stub even though they have been filled with appropriate data. See the photo below to consider a few for example:
![freecode](https://user-images.githubusercontent.com/42115530/57986345-5a93e800-7a91-11e9-8186-42c957ded33b.JPG)

[2019-05-19 18:44] RandellDawson commented on #36086
Yes, there are many challenges which do not have hints and solutions (hence the stub).  If you would like to help replace the stub with applicable hint(s) and solution(s), make sure to check this folder where all are kept.  It has been a while since the master branch has been deployed to production, so you may find files which actually have a solution but does not show on the production site.

**M

[2019-05-19 18:54] PragatiVerma18 commented on #36086
So, where exactly to look if someone wants to contribute by removing stubs and replacing them with some useful text?

Also, where to make changes so that that stub tag that appears in grey along the text can be removed, I have been looking although, couldn't find the appropriate folder.

Hope you can help, thanking you!!

[2019-05-19 19:26] raisedadead commented on #34259
@scissorsneedfoodtoo can you validate the pen proposed here. We could update ours (to not break the links from this updated pen)?

[2019-05-19 21:42] RandellDawson commented on #36086
You can look in [this directory](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/guide/english/certifications) and find the applicable Guide article for the challenge.

Once the stub information is removed and replaced by your content, it would no longer be grayed out on the production site (once the PR is merged and the master branch is deployed to production).

Please read through [How

[2019-05-20 03:58] scissorsneedfoodtoo commented on #34259
@raisedadead, sure thing! I'll get right on it.

[2019-05-20 04:36] PragatiVerma18 commented on #36086
Thank you for the directory link. I found the applicable guide articles there. But I am still confused regarding the stub tag, I checked the [Linear Gradient](https://github.com/PragatiVerma18/freeCodeCamp/tree/master/guide/english/css/linear-gradient) guide article code, the stub text has been removed from there.

![2](https://user-images.githubusercontent.com/42115530/57996736-d10f0500-7ae6-11e9

[2019-05-20 05:05] scissorsneedfoodtoo commented on #34259
@thecodingaviator, thank you for bringing this to our attention. This seems to be a problem for IST and other timezones that are offset by 30 or 45 minutes. Also, thank you @KaustubhD for your investigation. Fortunately I was able to use your pen above as inspiration for a fix here: https://codepen.io/scissorsneedfoodtoo/pen/NVvBYe

All I did was remove the conversion to UTC so the data isn't affe

[2019-05-20 06:16] RandellDawson commented on #36086
@PragatiVerma18 You are correct that it has been merged but has not been deployed.  The entire master branch has not been deployed to production since 2nd week of October.  There was a huge change the overall structure of the freeCodeCamp repo in October after the last deployment.  The core team is finalizing some things currently, so the master branch can be deployed to production, but there is n

[2019-05-20 06:34] PragatiVerma18 commented on #36086
Thank you for the details. Hoping for the updates soon!!!

[2019-05-20 06:58] PragatiVerma18 opened #36090 "tutorial pages are also marked as stubs"
the tutorial pages are marked as stubs, since, they are not usual guide articles, they shouldn't be treated as stubs and if possible they can only be considered as the sidebar heading that leads into the dropdown rather than acting as a link that opens a page.

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/css/tutorials/

![issue](https://user-images.githubusercontent

[2019-05-20 10:04] ahmadabdolsaheb opened #36094 "Information Security and Quality Assurance Certification always shows today's date"
![image](https://user-images.githubusercontent.com/4591597/58013493-5bfbf980-7aff-11e9-8490-a2cf737ff337.png)

related: #18128

[2019-05-20 12:05] METALMAN01 commented on #36094
HOOK ME UP

[2019-05-20 15:36] RandellDawson commented on #36090
@PragatiVerma18 Instead of creating a new issue for each section you find stubs in, I think it is best to change your original issue title to some less specific regarding stubs in the Guide.  There are going to be stubs scattered through all the Guide sections.  Plus update your other issue.  I am closing this one now.

Thank you.

[2019-05-20 15:36] #36090 closed

[2019-05-20 16:08] TantienHime opened #36095 "Basic Data Structures: Iterate Through the Keys of an Object with a for...in Statement - Get A Hint - Missing Link"
**Describe your problem and how to reproduce it:**
On the lesson for "Basic Data Structures: Iterate Through the Keys of an Object with a for...in Statement", when I click on the link for "Get A Hint", I get a 404 error. I also note, that when the page first loads, the message appears in the top left corner, and on hover, it recenters to the middle of the page, shown in the attached screenshot.

*

[2019-05-20 16:12] TantienHime opened #36096 "Basic Data Structures: Generate an Array of All Object Keys with Object.keys() - Get A Hint - Missing Link"
**Describe your problem and how to reproduce it:**
On the lesson for "Basic Data Structures: Generate an Array of All Object Keys with Object.keys()", when I click on the link for "Get A Hint", I get a 404 error. I also note, that when the page first loads, the message appears in the top left corner, and on hover, it recenters to the middle of the page, shown in the attached screenshot.

**Add a L

[2019-05-20 18:44] thecodingaviator commented on #34259
@scissorsneedfoodtoo I guess it works now
![image](https://user-images.githubusercontent.com/34807532/58044424-533a1080-7b5d-11e9-8ab6-3099625421c4.png)

I'm closing the issue. I guess there's no further clarification need. Right @scissorsneedfoodtoo ?

[2019-05-20 18:44] #34259 closed

[2019-05-20 19:52] RandellDawson commented on #36095
Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/36062

This has been resolved on master but has not been deployed to production.

[2019-05-20 19:52] #36095 closed

[2019-05-20 20:07] thecodingaviator commented on #36094
@METALMAN01 If you're asking for this to be assigned to you, @ahmadabdolsaheb is already working on it. Feel free to have a look around on the other issues though!

[2019-05-20 21:10] georgejean opened #36100 "Set up freeCodeCamp locally on Windows 10 with Docker Toolbox"
I wanted to set up freeCodeCamp locally on Windows 10.
I have followed the [guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md) with the Docker build as it is recommended (By the way, the guide is clear and well written).
I've installed the Docker Toolbox as I have Windows 10 Family (v 1803) and I've changed the DOCKER_HOST_LOCATION to the IP

[2019-05-21 01:56] scissorsneedfoodtoo commented on #34259
@thecodingaviator, yes, I think this is safe to close for now. Great catch here! Thank you again for reporting it.

[2019-05-21 08:25] ahmadabdolsaheb commented on #36094
@METALMAN01 thanks for your interest. I am working on a similar issue that might resolves this as well. If it did not, I will give you more context so you could work on this more efficiently.

[2019-05-21 10:29] ValeraS commented on #36100
By default for docker toolbox setup, a `freecodecamp` folder should be in `C:\Users\<user_name>\path\to\freecodecamp`

[2019-05-21 11:45] ojeytonwilliams commented on #36080
Seems good to me.  It should help them realise that they need both forms without straight up telling them the answer.

[2019-05-21 12:42] moT01 commented on #36080
I'm actually not a fan of this. I don't like when valid code will fail - It think it can get people thinking their method is wrong when it is actually correct - I would rather see something like it is and maybe just add a note about how using the dot is best practice when applicable.

[2019-05-21 12:53] RandellDawson commented on #36080
@moT01 When possible, we try to imply "best practices" without just coming out and saying it is a "best practice".  If we don't care about teaching a "best practice", then I have already written the necessary `testString` to allow all three of the following:
[code]
I would be comfortable in doing this too, but I lean slightly towards my other idea for two reasons:
1. Teaching to use dot notation p

[2019-05-21 13:09] thecodingaviator opened #36102 "Fix code fencing in guide"
We have several guide files in all the translated languages where the code fencing ``` is messed up or/and is not associated with a code language. One example can be seen in the PR linked below:
https://github.com/freeCodeCamp/freeCodeCamp/pull/36098

[2019-05-21 13:22] ojeytonwilliams commented on #36080
I've thought about this a little more and I think it serves as a nice reminder that both forms of notation work.  This lesson appears a little bit after they're introduced, so should serve as useful reinforcement.  Ordinarily I prefer fairly permissive tests, but the strictness has a use here.

[2019-05-21 17:05] RandellDawson commented on #36102
@thecodingaviator I think it has something to do with the way the translations were created.
https://github.com/freeCodeCamp/guide/edit/master/src/pages/css/properties/background-position-property/index.md

@raisedadead It appears the first time we see the above and any other Arabic translations is in [this commit](https://github.com/freeCodeCamp/freeCodeCamp/commit/da0df12ab7b3bae46c2a376da246a6c

[2019-05-21 17:10] NoobyScoob commented on #36080
Hey @RandellDawson , I think it's a good idea.
Can I take this up to make my first contribution(PR) to freecodecamp?

[2019-05-21 17:17] RandellDawson commented on #36080
@NoobyScoob Go for it.  It is all yours.  Let us know if you have any questions.  For fastest replies, visit our [Contributors Gitter channel](https://gitter.im/FreeCodeCamp/Contributors).

[2019-05-21 17:36] Sterzing commented on #36080
I was one of the folks who was confused by this and posted on the forum so I'm definitely in favor of a change. Either making bracket notation a valid solution when it is indeed valid for the code to work, or indicating that FCC requires dot notation unless the outcome requires bracket notation (string with space/variable).

I am curious why FCC doesn't state 'best practices'. Not a criticism at a

[2019-05-21 18:26] NoobyScoob commented on #36080
@RandellDawson I wonder what about the changes in other languages?

[2019-05-21 18:31] RandellDawson commented on #36080
Don't worry about the other languages.  We are no longer translating the current curriculum challenges.

[2019-05-21 19:28] NoobyScoob commented on #36080
@RandellDawson I submitted a PR for the update by following the contribution guidelines.

[2019-05-21 22:07] #36080 closed

[2019-05-21 22:23] georgejean commented on #36100
Thank you, I will give it a try.
I want to save memory by changing docker projects location, could you give me some advice on the best solution?
I hesitate between three options:
1. making a hard link from the .docker folder to another target,
2. following the docker [doc](https://docs.docker.com/toolbox/toolbox_install_windows/) below (but I don't know if it will save memory),

![capture3](https:

[2019-05-22 00:57] twhite96 opened #36105 "Two challenges about Objects missing content"
**Describe your problem and how to reproduce it:**
Iterate with `for in` and Generate Array with `Object.keys()` lessons not maintaining state; generating `404` on my profile. See https://github.com/freeCodeCamp/freeCodeCamp/issues/36096#issue-446200317

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/gener

[2019-05-22 06:43] DavidWesley opened #36106 "Large Sum"
**Describe your problem and how to reproduce it:**
The challenge reader does not accept my code which, apparently, is correct. How to solve?

[code]
Result of Console
[code]

**Add a Link to the page with the problem:**
[https://learn.freecodecamp.org/coding-interview-prep/project-euler/problem-13-large-sum/](url)

**Tell us about your browser and operating system:**
* Browser Name: Google Chrome

[2019-05-22 06:53] RandellDawson commented on #36106
@DavidWesley These kinds of questions should be asked on the forum.  If the forum members indicate there is a bug in the tests, then feel free to ask for this issue to be reopened.

There is nothing wrong with the tests.  You have a simply bug you need to fix in your return statement.

[2019-05-22 06:53] #36106 closed

[2019-05-22 10:34] ojeytonwilliams commented on #36066
@jippy89 So, positive tabindices are weird.  If you follow the instructions, click on the preview pane and shift-tab (i.e. tab backwards), it should focus on the submit button.  Shift-tabbing again takes you to the search box.  Why exactly mouse clicks put you in the middle of the tab order isn't clear to me.

If you navigate to the preview pane entirely by the keyboard, it should focus in the exp

[2019-05-22 11:34] darrinlallen opened #36107 "Basic JavaScript: Iterate with JavaScript Do...While Loops missing hint pagge"
the hint page is missing here
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/iterate-with-javascript-do---while-loops

https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-javascript/iterate-with-javascript-do---while-loops

[2019-05-22 12:36] aric87 opened #36108 "Cascading Css Variables"
I don't think this challenge is described correctly. The idea that a variable is only available to the element and it's children has nothing to do with cascading. It's a clear definition of scope.
Cascading is the concept that if there are multiple of a thing, the last one wins, which is described in the previous challenge related to fallbacks.

Just my 2cents for what it's worth, but if I had som

[2019-05-22 14:01] georgejean commented on #36100
For the storage problem, I think I will choose the above option 1 (use a hard link).

One last question:

Imagine I want put my freecodecamp folder in `D:\desktop` so that my full path to freecodecamp folder is `D:\desktop\freeCodeCamp`.
Is there a way to run the three commands

[code]

so that it works?

I think we must configure shared folders in Oracle VM VirtualBox:
![shared](https://user-imag

[2019-05-22 14:27] ojeytonwilliams commented on #36108
Thanks for reporting this!  While this challenge isn't intended to introduce the concepts of cascade and inheritance, it clearly does not use the terms correctly.

I'll have a go at rewriting the challenge to show that CSS variables behave like ordinary properties in this respect.

[2019-05-22 14:50] RandellDawson commented on #36107
@darrinlallen Thank you for reporting this issue, but it has been fixed on our `master` branch.  The reason you do not see it fixed is because the `master` branch has not been deployed since October 2108 after a major repo restructuring.  When it is deployed, the issue will no longer be present in production.

[2019-05-22 14:50] #36107 closed

[2019-05-22 14:53] jippy89 commented on #36066
Oh ok, thanks for clearing that up. I did try your suggestion by clicking the test output box first then tab from there, and it works like it used to be (as it should in instruction).

But let me take a conclusion, so there's a mistake with the context in the course and it isn't my fault?

[2019-05-22 14:56] ojeytonwilliams opened #36109 "CSS cascade and inheritance not introduced"
While looking into #36108 I realised that inheritance and the cascade are not defined in the curriculum.  Some of the concepts are introduced at various points, but they aren't formally defined or really tied together.

Should we add some challenges to cover these concepts and, if yes, where?

[2019-05-22 15:06] ojeytonwilliams commented on #36066
I don't think you did anything wrong.  In fact, it was helpful that you looked into how it actually behaved and let us know it was a little weird!

The challenge isn't *wrong* exactly, but I think the issues with positive indices could be highlighted a bit more.  Perhaps by inviting campers to tab around the preview panel and see the strange behaviour you noticed.  This will need a bit more discus

[2019-05-22 15:12] RandellDawson commented on #36109
I think the only way to properly do it is to introduce the basic ideas of both at the very beginning of the Introduction to Basic CSS and then rewrite (and possibly reorder) some of those challenges so that it is clear how each relates to the concepts.  Some of the existing challenges gloss over `specificity` which is directly related to the cascade concept.   This could end up being a major under

[2019-05-22 15:31] ojeytonwilliams commented on #36109
That might be the best idea.  One problem is Basic CSS is all very practical and fairly light on technical details, so a raft of definitions wouldn't really fit stylistically.

[2019-05-22 15:37] RandellDawson commented on #36109
As we tell others on the forum, FCC is not meant to be comprehensive.  We teach just enough so users can get things going, but they will still be required to learn much more and asking many more questions outside of FCC to be well rounded.

[2019-05-22 19:55] d-evans commented on #34617
Sincere apologies if this is out of place, but I was rooting around for some places to make first contributions and came across this. Sometimes a lack of experience is the best form of insight, yes?

So, that said, I think that lasjorg is right about this:

Furthermore, I think the example change suggested by lasjorg is also much clearer and easier to process:

I think that this example, paired wi

[2019-05-22 20:09] RandellDawson commented on #34617
@matkoniecz Thank you for your insight.  We have dropped the ball on this one, but hopefully we can implement some kind of improvement in the near future.

FYI - You will be happy to know that PR https://github.com/freeCodeCamp/freeCodeCamp/pull/36077 addresses the code formatting issue which has plagued the challenges for quite a long time.

[2019-05-22 22:25] sergeyradov commented on #36105
@twhite96 Could you please advise what browse did you us to open these resources?
I have tried to get access to these pages and found them working, but with a difference in the URI.

Here is the working one which I could open from Chrome
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/generate-an-array-of-all-object-keys-with-object-keys/

and I can s

[2019-05-22 22:29] gryclmn commented on #34617
As a first time contributor I would be happy to assist in any way I can here.

[2019-05-22 22:32] sergeyradov commented on #36105
Updated browser to 74.0.3729.169 (Official Build) (64-bit) and results hasn't changed.

[2019-05-22 22:38] RandellDawson commented on #34617
@gryclmn We are still discussing exactly what needs to be done.  Once we finalize the verbiage, we'll post here.

[2019-05-22 22:40] RandellDawson commented on #36105
@sergeyradov Thank you for reporting this issue, but it has been fixed on our `master` branch.  The reason you do not see it fixed is because the `master` branch has not been deployed since October 2108 after a major repo restructuring.  When it is deployed, the issue will no longer be present in production.

[2019-05-22 22:40] #36105 closed

[2019-05-22 22:46] sergeyradov commented on #36105
@RandellDawson actually it works fine in Production
https://learn.freecodecamp.org/
thank you for update.

[2019-05-23 03:21] jagzmz opened #36118 "Client crashes with React component recursive renders"
**Describe the bug**
Whenever a class component renders itself crashes the website

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[Default Props Challenge](https://learn.freecodecamp.org/front-end-libraries/react/override-default-props/)'
2. Type `<ShoppingCart />` instead of `<Items />`
4. See error

**Expected behavior**
Should throw an error or should not render invalid code

**Sc

[2019-05-23 03:49] RandellDawson commented on #36118
It is like a recursive function that has no end condition.  It just attempts to keep rendering itself which keeps rendering itself and so on.

[2019-05-23 03:56] jagzmz commented on #36118
Yea, it keeps rendering itself.

[2019-05-23 07:33] RandellDawson commented on #36102
@raisedadead @thecodingaviator It turns out it was a bit more complicated than I first thought.  An example of a mult-line code segment in the archived Guide repo looked like the following:
[code]
However, when it was translated, it ended up looking like the following:
[code]

It might be difficult to tell by just looking at these two code sections, but instead of triple backticks, there are only

[2019-05-23 08:40] #35587 closed

[2019-05-23 11:55] ahmadabdolsaheb commented on #35950
@moT01, to build on your solution. something along the lines of min-height: 100vh; for the container  div should do it.

[2019-05-23 12:16] ValeraS commented on #35950
@ahmadabdolsaheb This is done in #35989

[2019-05-23 12:57] milikkan opened #36119 "Incorrect Test Cases: Match All Numbers and Match All Non-Numbers Lessons"
**Describe your problem and how to reproduce it:**
1. Click Javascript Algorithms And Data Structures Certification (300 hours)
2. Click Regular Expressions section
3. Click Match All Numbers lesson
4. Exercise instructions and test cases written below do not match the code template on the right. Under the hood tests run correctly and consistent with the code template.
5. The exercise instruction

[2019-05-23 15:07] moT01 commented on #36119
Can you elaborate on exactly what the problem is? I looked at the lesson - it's a little confusing, but I was able to pass it. And what would you like to see? maybe something like this for the instructions...?
`Use the shorthand character class \d to count how many consecutive digits are in movie titles. Written out numbers ("six" instead of 6) do not count.`
I'm not sure what the problem actually

[2019-05-23 15:20] moT01 commented on #36108
for what it's worth, this was discussed a little bit in a previous issue that was never resolved -  https://github.com/freeCodeCamp/freeCodeCamp/issues/17804 - perhaps it should be reworded since it has now come up multiple times.

[2019-05-23 16:00] moT01 commented on #36086
So do we want to have someone go through the guide and find all the articles that have content, but the stub text didn't get removed? That would probably be the solution to this - the article in the issue here has already been fixed, but there is probably others.

[2019-05-23 16:09] RandellDawson commented on #36086
@moT01 I can do that.  Should I create a new issue (referencing this one) and post a list of all the files meeting this criteria?

[2019-05-23 16:23] moT01 commented on #36086
Whatever you want - this issue could just be transformed to deal with it. But either way works. I may have a script that can be slightly modified to achieve this.

[2019-05-23 16:30] RandellDawson commented on #36086
Let's update this issue then.  If you already have a script, then go ahead.  I also have a script which could be modified to accomplish it.  Just let me know.

[2019-05-23 17:35] RandellDawson commented on #34969
Since the decision has been made that the current non-English curriculum challenges will not be moved to production, I am closing this issue as not worth pursuing.

[2019-05-23 17:35] #34969 closed

[2019-05-23 17:47] lynxlynxlynx commented on #34969
What, has all the hacktoberfest review been for nothing?!

[2019-05-23 17:51] lasjorg commented on #36119
I'm not really sure I understand either but I do have two comments.

1. The string in the seed code seems out of place. It would make more sense if it was one of the movie titles used by the test.

Seed code string:

`let numString = "Your sandwich will be $5.00";`

Use instead:

`let numString = "2001: A Space Odyssey";`

2. The last sentence in the instructions is just confusing.

I'm not even s

[2019-05-23 18:25] moT01 commented on #36119
It just means that you don't need to match "six", but do need to match "6" - that line really probably doesn't even need to be there.

[2019-05-23 20:48] milikkan commented on #36119
I was also able to pass the tests. The thing is the explanation of the exercise `Use the shorthand character class \d to count how many digits are in movie titles. Written out numbers ("six" instead of 6) do not count.` is unrelated with the code snippet in the editor. `let numString = "Your sandwich will be $5.00";`

So, it would be much more self expressive if we change the code to something lik

[2019-05-23 21:47] moT01 commented on #36119
I see what you're saying now - yea, that could probably be changed for the two challenges mentioned.

[2019-05-24 03:56] webdevdaemon commented on #35667
I'd like to work on this issue. It's still available, correct? It looks like it is.

Anyways, I am thinking about using an accordion or tabbed sections to implement this on the donate page. I'd separate each entry by the Headings/Sections present in the source for the DonateOtherPage component. It's never that simple, but I think that's a solid starting point at least.

Any Input, Suggestions, Gui

[2019-05-24 09:02] raisedadead commented on #35667
I think we would want to be able to click the link at the bottom of the current donate page and render the currently separate page content on the same page replacing the donate form.

[2019-05-24 16:03] p-gold commented on #17706
@RandellDawson the site is offline

[2019-05-24 17:25] RandellDawson commented on #36096
Thank you for reporting this issue, but it has been fixed on our master branch. The reason you do not see it fixed is because the master branch has not been deployed since October 2108 after a major repo restructuring. When it is deployed, the issue will no longer be present in production.

[2019-05-24 17:25] #36096 closed

[2019-05-24 20:16] thecodingaviator commented on #36102
The latter sounds like a better solution. If we implement changing just the files that haven't been changed, merging is easy

[2019-05-24 20:48] RandellDawson commented on #36102
To perform the latter we will need to fix the script which wrongly converted the code sections the first time around for the files which have never been changed since the mass translation.  I have no idea where that script is.

[2019-05-24 21:02] thecodingaviator commented on #36102
I think if you follow the trail back to the guide repo, you'll find the person who made the change, then they can probably give you the script

[2019-05-24 21:16] RandellDawson commented on #36102
The change was performed between the two repos.  When the mono repo was created, the translations appeared in a PR created by @raisedadead.  I assume he has the script somewhere.

[2019-05-25 01:48] xnt commented on #34222
I'm thinking we should probably split this big bug into a couple of them (i.e. 8 or so, one per list item). I can do that, and try to tackle them independently, assuming that they still repro. Thoughts, @ArielLeslie ?

[2019-05-25 04:44] wudifeixue commented on #19382
The guide on this question is also very misleading, basically giving the wrong answer, and since the test is not strict enough people can pass with the wrong answer. [Wrong Guide Link](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/guide/english/certifications/javascript-algorithms-and-data-structures/basic-data-structures/check-if-an-object-has-a-property/index.md)
This is probably due

[2019-05-25 05:21] RandellDawson commented on #19382
@wudifeixue I completely agree with you, so I just created PR https://github.com/freeCodeCamp/freeCodeCamp/pull/36125 to added valid solutions to the guide.  Keep in mind, even when the PR is merged, you will not see the Guide updated until the current `master` branch has been deployed to production.

[2019-05-25 07:30] jaishreeram commented on #8807
good coding

[2019-05-25 08:27] wudifeixue commented on #19382
@RandellDawson Awesome, thanks for the super fast pull request too!

[2019-05-25 08:50] frastlin commented on #34222
They are still a problem and in VI circles, number 1 is the biggest problem screen reader users have with the program.

[2019-05-25 12:26] huyenltnguyen opened #36126 "[beta] Footer links' clickable area should fit to their content"
**Describe your problem and how to reproduce it:**
At the moment, the clickable area of footer links are spanning the full width of their parent div.  I'm not sure if this is on purpose, but IMHO, they should fit to their content instead, since a user could get navigated to another page if they accidentally click somewhere within the clickable area.

This issue is on https://www.freecodecamp.rocks

[2019-05-25 15:10] huyenltnguyen opened #36127 "[beta] There is an unexpected horizontal scrollbar on /donate"
**Describe the bug**
There is an unexpected horizontal scrollbar on `/donate`.

The beta site is being down for maintenance at the moment. Here is a screenshot of my local fCC.

![Untitled](https://user-images.githubusercontent.com/25715018/58371231-b9e27400-7f39-11e9-9898-f105f3b8c0d4.png)

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: Firefox (66.0.5), Ch

[2019-05-25 19:36] 0071241 opened #36129 "ELIFECYCLE bug when running npm run docker:develop"
**Describe the bug**
When I run `npm run docker:develop`, it gives me the following error:
`> @freecodecamp/freecodecamp@0.0.1 docker:develop C:\Users\USER_NAME\freecodecamp

freecodecamp_mailhog_1 is up-to-date
freecodecamp_db_1 is up-to-date
Recreating 9b420dddbe8e_freecodecamp_client_1 ...
Recreating 5687a20c447a_freecodecamp_api-server_1 ... error
ERROR: for 5687a20c447a_freecodecamp_api-serve

[2019-05-25 20:22] #36129 closed

[2019-05-26 08:33] sudiptog81 commented on #36030
It could be rephrased as `... the last index of an array is one less than the length of the array (arr.length - 1)`.

[2019-05-26 18:53] ojeytonwilliams commented on #36126
Is that actually a problem, though?  I think having list items spread like that is pretty common.  It could be a problem if you aimed for, say, Learn and got News, but there's a reasonable amount of space between them.

How about if the box were subtly highlighted on hover?

[2019-05-26 19:34] PragatiVerma18 opened #36135 "abrupt switch to Queues and DS in JavaScript Course"
The JavaScript Course which is dealing with the basics of functions suddenly has a problem with Queues.

![guide](https://user-images.githubusercontent.com/42115530/58386295-17022680-801b-11e9-923b-825314e6ab17.JPG)

Then, the display code is too complex for the beginners, this lesson/challenge must be shifted somewhere below on the curriculum list. Here, is a screenshot of the challenge:

![guide

[2019-05-26 21:00] #36000 closed

[2019-05-26 21:02] #35070 closed

[2019-05-26 21:06] yj7o5 commented on #36118
I would be more than happy to take a look at this :) Will be my first OSS PR

[2019-05-26 21:26] yj7o5 commented on #36118
hmm now that I take a more close look at this ... the problem is with the logic itself and this would be the expected behavior since you're running into a never ending program or sort of a forever loop due to this recursion. But It maybe nice to detect such a case like this and guide the user or maybe provide hints so as to a) not cause the browser to crash and b) enable the user in finding the ro

[2019-05-26 23:06] yj7o5 commented on #36118
so kinda like how KhanAcademy(as I remember once playing around) does it in their editors but we can use this as an inspiration:-
![image](https://user-images.githubusercontent.com/7938533/58388166-b1914400-7fe0-11e9-818d-d04b13a83daf.png)

This may help a lot the users (especially beginners) while at the same time provide a link to what this error potentially means.

Let me know of what y'all thi

[2019-05-26 23:18] RandellDawson commented on #36118
@ValeraS Any thoughts?

[2019-05-27 01:45] chipperkins4 commented on #36126
Thanks for the threads

[2019-05-27 11:57] enchill commented on #12979
i'm trying to figure out how to work this;
The element now has an id of thumbnail. With this selector, use the example CSS values above to place a box-shadow on the card.

this is the css values;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

and this is the code i used;
 .thumbnail {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 but it's mot wo

[2019-05-27 14:22] ojeytonwilliams commented on #36118
@yj7o5 Codepen works that way, too - I found out when I tried to recreate this!

The odd thing is that generic build errors (i.e. syntax errors) get caught and logged just fine, so I think the error handling is set up okay.  It seems this isn't throwing an error.

[2019-05-27 14:25] huyenltnguyen commented on #36126
@ojeytonwilliams Tbh, this is the first time I have seen footer items spread like that, though it is common to me to see that on a navbar.

I have no problem with leaving it as is, but adding background color on hover would be great.

[2019-05-27 14:43] RandellDawson commented on #12979
@enchill You should ask questions related to the challenges on the forum.  GitHub is used to report bugs with the challenge (i.e incorrect tests, incomplete instructions, etc.).  If forum members conclude there is a bug in the actual challenge, they will refer you here to create a new issue.

[2019-05-27 20:20] Manish-Giri commented on #36135
Can you specify which part of the code you were referring to?

IMO, the Stand In Line challenge is introduced ***after*** several challenges on functions, arrays, array manipulations, returning values from functions, etc have been already presented. So, by this point, the challenge tasks - adding an item to the end of an array, and returning and removing the first array element should be pretty st

[2019-05-27 23:38] webdevdaemon commented on #35667
OH, OK... I see. I will head in that direction then. Thank you.

[2019-05-28 04:17] yj7o5 commented on #36118
@ojeytonwilliams so codepen doesn't crash and does shows an error but in the console which means one would have no clue until s/he opens up the console. Not the end of the world, but still it'd be nice to give the user an indication on the editor itself in an effort of providing better UX/learning experience.

[2019-05-28 08:07] filipkappa commented on #35595
I stil do not see it here: https://guide.freecodecamp.org/angular/angular-resources/

[2019-05-28 11:39] ojeytonwilliams commented on #36118
Agreed. It should report the error below the editor and to the console. Same as other build errors.

[2019-05-28 13:20] webdevdaemon commented on #35667
Submitted a PR for this issue just now. I can haz feedback?

#36137

[2019-05-28 13:42] thecodingaviator commented on #35595
@filipkappa We still haven’t deployed the current master to production. It will be done shortly

[2019-05-28 14:14] WofWca commented on #35614
Does something need to be clarified?
It's not a "Help" issue, it's a bug report.

[2019-05-28 16:29] irasanchez commented on #35559
I am also having this issue.

[2019-05-28 16:31] irasanchez commented on #35559
Side note: this solution did not work for me.

[2019-05-28 16:54] rdbaron commented on #16471
Hmm... the result of this change is that if you do use "true", the button becomes disabled in the sandbox, but the test fails with the error "Disable your target1 button."

Confusing when you can see that your button is disabled.

[2019-05-28 21:43] 0071241 opened #36139 "Sign in on docker - localhost:8000 not showing up."
Hello, I am unable to login when I click the sign in button on localhost:8000 after running `npm run docker:develop`. I will add screenshots below. Does anybody know how to fix this? I have tried rerunning and reinstalling npm and docker, seeding it, but nothing seems to work. I am not even getting an error message, it just doesn't seem to work. I am running windows 10, on Microsoft edge. Can anyb

[2019-05-29 08:08] brianamarie commented on #35755
Hello @raisedadead! 👋 I've been involved in freeCodeCamp a while back when creating videos, and I recently met up with @swedishpotato at GitHub Satellite in Berlin.

@swedishpotato mentioned that he'd be really interested in moving this effort forward with some specific help on what needs to be done. @swedishpotato would you like to add more detail to why and how you'd like to help with fully offl

[2019-05-29 09:34] KaustubhD commented on #34504
In the meantime, is there a link to a backup of that project ?

[2019-05-29 11:07] raisedadead commented on #35755
Hello @brianamarie 👋 !

I have been a huge fan of your work with especially on the YouTube videos and curating the quick quizzes we used to have in our early days. We have hung out before on our core team chat room :).

On that note, I would like to extend my thanks and and gratitude in helping us hit 1M subscribers on YouTube.

Thanks for reaching out to us about the offline version of freeCodeCa

[2019-05-29 11:18] raisedadead commented on #34504
@scissorsneedfoodtoo can you update this Glitch project when you get a chance.

[2019-05-29 11:22] raisedadead commented on #36139
Have you taken a look at your terminal for errors? Is there anything useful there, that will help diagnose this? You should jump in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) to get in touch with our contributor team who maybe able to help you troubleshoot this.

[2019-05-29 12:02] 0071241 commented on #36139
So there is a one error:

`client_1        | error (node:65) DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead`

And I am already in touch with the contributor chat room, only no one has reached out to me yet. Well, here is the full code if any of you are wondering about it:

`PS C:\Users\USERNAME_HERE\freecodecamp> npm run docker:develop

freecodecamp_mailhog_1 is

[2019-05-29 13:33] raisedadead commented on #36139
Thanks for these additional logs. I do not see anything out of the ordinary here, leading me to guess, you may have missed a step or something in the setup?

The chat room is a place where fellow contributors just like you hangout and help each other voluntarily, they may be delayed but someone will sure enough help you out. I request your patience meanwhile :)

As for the error, it's worth going

[2019-05-29 13:43] 0071241 commented on #36139
Alright, I will. Thank you.

[2019-05-29 14:13] Newcoder888 commented on #13879
I can't seem to solve this problem. Can anyone help please?
Here is my code
<body>
  <header>
    <h1>Real Coding Ninjas</h1>
  </header>
  <main>
    <p>A sound clip of Zersiax's screen reader in action.</p>
  <audio controls>
  <source src="https://s3.amazonaws.com/freecodecamp/screen-reader.mp3" type="audio/mpeg">
/audio>

I click run, and code camp comes back with....cannot read property 'leng

[2019-05-29 14:34] raisedadead commented on #13879
Please search through open issues, and open a fresh one only if you find none that relates to your issue. Alternatively seek assistance on our [Forum](https://www.freecodecamp.org/forum)

[2019-05-29 22:35] JonDevOps opened #36143 "Should we add SCSS challenges after grid challenges and before the javascript challenges?"
Never mind I see it's in the libraries.

[2019-05-29 22:38] #36143 closed

[2019-05-30 02:14] pmurph0305 commented on #18097
Given the specifications of the test, and the included denominations chart, it is incorrect for a solution to return INSUFFICIENT FUNDS in this case. If the challenge was to only pass the specific test cases as opposed to meet the specifications of the problem, one could check for each test case, and return the appropriate response.

The added difficulty would be making sure the nickle + penny cid

[2019-05-30 03:18] scissorsneedfoodtoo commented on #34504
@raisedadead, I can't update the broken Glitch project because it's not one of ours, but I'd be happy to help with the transfer over to the camperbot account.

@RandellDawson, here's a list of projects in the camperbot Glitch account:

- shard-weed (API Header Parser boilerplate)
- fern-freeze (Backend Challenges boilerplate - package.json)
- prairie-waterfall (Exercise Tracker REST API)
- actuall

[2019-05-30 03:46] doubleUTF commented on #34504
@scissorsneedfoodtoo No Github repo , but Glitch exposes a link to clone: [https://api.glitch.com/git/languid-pen](https://api.glitch.com/git/languid-pen). You can run command 'git clone https://api.glitch.com/git/languid-pen' to pull it into local repo.

[2019-05-30 05:22] scissorsneedfoodtoo commented on #34504
@doubleUTF, awesome, thank you! Since it's a solution I just mirrored your project to the camperbot Glitch account for now. Here's the new link: https://incongruous-beard.glitch.me/

Would you be able to update the link in #23953 to the URL above? Or please feel free to open up a fresh PR with the new link.

[2019-05-30 05:44] doubleUTF commented on #34504
@scissorsneedfoodtoo Updated New Glitch URL in #23953.

[2019-05-30 06:07] scissorsneedfoodtoo commented on #34504
Thank you for pointing that out! Yes, it would be good to correct that. I'll update the project in the fCC account now.

[2019-05-30 06:30] doubleUTF commented on #34504
@scissorsneedfoodtoo Great, thanks for helping resolve this longstanding issue!

[2019-05-30 08:14] scissorsneedfoodtoo commented on #34504
@doubleUTF not at all, thank you for all of your help with this. Sorry it took us some time to get to it -- we're still recovering from Hacktober fest last year!

And I didn't do much, I just happened to have the login info to help in this case. There would still be thousands of PRs if not for @RandellDawson, @cmccormack, and others, so they deserve the thanks more than anyone.

[2019-05-30 15:17] doubleUTF commented on #34504
@RandellDawson @cmccormack Thanks for your assistance, let me know if anything else is required.

[2019-05-31 02:41] twhite96 opened #36148 "Object Oriented Programming: Use Closure to Protect Properties Within an Object from Being Modified Externally does not properly explain what a closure is"
**Describe your problem and how to reproduce it:**
*Object Oriented Programming: Use Closure to Protect Properties Within an Object from Being Modified Externally* does not properly explain what a *closure is*.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/object-oriented-programming/use-closure-to-protect-properties-within-a

[2019-05-31 02:43] twhite96 commented on #36148
Also, if you choose to address this, I can go about helping in some way. I've been dying to help with the codebase, but it's really popular and it seems I can't really find something to help with. Let me know either way. I'd like to help out.

[2019-05-31 10:11] arnaldoperez commented on #14002
is it released?

why don't you change the instrucctions to specify the url which to send the post request?? how do you explain to the new students where this `url` variable is coming from?? wouldn't be better that way??

[2019-05-31 15:52] yoelvisj commented on #14002
@arnaldoperez `url` is set. Did you read #35415 ?

[2019-05-31 16:04] 8121303997 opened #36152 "Daglex"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-05-31 21:56] xnt opened #36153 "[a11y] Please give the code editor a role on the page"
**Describe the bug**

Based on #34222 , bullet 1:

Please give the code editor an element with a role on the page. I would suggest an input role of some kind or a role="application". Do whatever looks good, but there is currently no editor actually on the page for screen reader users and the only way we can get to it is by tabbing and most screen reader users use the arrow keys rather than tabbing

[2019-05-31 21:57] xnt commented on #36153
BTW, I'm working on this one already.

[2019-05-31 21:57] xnt commented on #34222
I've taken number 1 and created a new issue. I will create a PR shortly.

[2019-06-01 08:24] Nanotorre opened #36155 "wrong hint within Use the Conditional (Ternary) Operator"
**Describe your problem and how to reproduce it:**
The solution is wrong. It shoud use == instead of simple.

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-javascript/use-the-conditional-ternary-operator/

**Tell us about your browser and operating system:**
* Browser Name: firefox
* Browser Version: 67.0

[2019-06-01 13:32] RandellDawson commented on #36155
This is no longer an issue and has been fixed on the master branch.  In fact, the challenge instructions have changed and the solution above is no longer relevant.  Once the master branch is deployed to production, the guide will be updated, so I am closing this issue has resolved.

[2019-06-01 13:32] #36155 closed

[2019-06-01 14:41] KaustubhD opened #36156 "Mac ctrl + enter shortcut does not work"
**Describe the bug**
The ctrl+enter shortcut doesn't quite work in the non-editor challenges

**Expected behavior**
In editor challenges, the shortcut works for ```cmd + enter``` (on a Mac), which is preferred and acceptable
In non-editor challenges, the shortcut works for actually ```ctrl + enter``` (Mac)
At the congratulatory dialog box, both *ctrl* and *cmd* shortcuts work
By convention shortcu

[2019-06-01 17:27] PragatiVerma18 commented on #36135
I was referring to the following code :

![issue1](https://user-images.githubusercontent.com/42115530/58751720-ec531a80-84bf-11e9-8e3c-0dcb8f86bd36.JPG)

This challenge can be introduced in the Basic Data Structures part wherein the arrays are further expanded. This is just a kind suggestion as this seems a bit abrupt to start dealing with queues without even having the proper knowledge of arrays

[2019-06-01 22:01] RandellDawson commented on #36135
@PragatiVerma18 I am not sure what you are talking about.  There are 9 challenges before this one on various aspects of arrays.  Everything the camper needs to understand has already been presented.

[2019-06-01 22:04] RandellDawson commented on #36148
If you want to add anything further about closure, I suggest doing in the guide article related to the challenge.  There, you can link to other relevant resources.

[2019-06-02 00:40] twhite96 commented on #36148
@RandellDawson okay. Any instruction page for how to contribute to the guide article?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-02 01:15] RandellDawson commented on #36148
@twhite96 Take a look at https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md#research-write-and-update-our-guide-articles first. If you need more help, you can visit the [Contributors Gitter channel](https://gitter.im/FreeCodeCamp/Contributors)

[2019-06-02 15:21] #36135 closed

[2019-06-02 19:58] 0071241 commented on #36139
Answered: It was the fault to the browser I was using, as I was using Microsoft Edge. I tried it out in Chrome and it worked very well. Thank you to everybody.

[2019-06-02 19:58] #36139 closed

[2019-06-02 21:19] 0071241 opened #36157 "Not supporting Microsoft Edge with local docker"
Hello, I have noticed that there is not full support for MS Edge when using a local fCC running on docker. Here is a link to a problem I was having, which was not being able to sign in using Edge. [Link](https://github.com/freeCodeCamp/freeCodeCamp/issues/36139)
Hopefully, someone can help me out with this or fix this issue, and thank you in advance.

[2019-06-03 00:11] akiko-pusu commented on #34775
@mstachalski  and @RandellDawson
Thank for your reporting and handling this issue. You saved my day!

[2019-06-03 08:45] ojeytonwilliams commented on #36109
On reflection, since the curriculum is going to be reworked anyway, a big change to the existing curriculum seems premature.  Closing this on that basis.

[2019-06-03 08:45] #36109 closed

[2019-06-03 08:47] huyenltnguyen commented on #36152
Closing as the issue does not have any content.

[2019-06-03 08:47] #36152 closed

[2019-06-03 12:57] rajat2502 opened #36161 "Problem with certification challenges"
There is a major problem in the certification challenges wherein even though I enter some random link as in if I enter www.google.com, then too the challenge gets passed. Here is a screenshot that illustrates the same:
![Screenshot (365)](https://user-images.githubusercontent.com/42200276/58803358-e75fa980-862c-11e9-9217-e19871f91def.png)

Please look into the issue and try to fix it as soon as po

[2019-06-03 14:32] ojeytonwilliams opened #36162 "Challenges use innerHTML without mentioning XSS vulnerabilities"
Several challenges from [here](https://learn.freecodecamp.org/data-visualization/json-apis-and-ajax/get-json-with-the-javascript-xmlhttprequest-method/) to [here](https://learn.freecodecamp.org/data-visualization/json-apis-and-ajax/post-data-with-the-javascript-xmlhttprequest-method/) use `innerHTML` to update the page.  These are the first places where this technique is introduced, but don't ment

[2019-06-03 15:04] moT01 commented on #36162
Seems like that's straying away from what is trying to be taught there - XMLHTTP is probably already confusing enough to a beginner, some of those challenges are already fairly long, and XSS protection is taught in the helmet lessons. You bring up a valid point, but I think it might cause confusion.

I'm not against adding something, but there's some concerns.

On a sort of related note - I do rem

[2019-06-03 15:25] moT01 commented on #36126
I, personally, would prefer if only the text was clickable - but it works either way.

[2019-06-03 16:22] ojeytonwilliams commented on #36162
@moT01 I know what you mean.  While I was looking at this, I redid a couple of the challenges and they are literally just cut and paste jobs.  Perhaps simply changing a few words of the example code would be enough, though.  That way they at least have look at it and see what's different.  For example, currently one has `req.open("GET",'/json/cats.json',true);` and that could be `req.open("GET",'/

[2019-06-03 16:27] ojeytonwilliams commented on #36126
@moT01 Personally I like the wider boxes, because I'm lazy and click in the general vicinity of things.  So, I've added a PR for the highlight approach, since that was a really easy fix.  If that doesn't seem right we can always shrink the links onto the text.

[2019-06-03 17:20] lukejoliat commented on #36156
So is the request here to have ctr/cmd enter work identically for every instance on Mac?

[2019-06-03 17:58] siddhant034 commented on #36119
Can I take up this one?

[2019-06-03 19:48] moT01 commented on #36119
go for it @siddhant034

[2019-06-04 13:02] ojeytonwilliams commented on #36127
That there is. I'll take a look.

[2019-06-04 20:12] Manish-Giri opened #36171 "Changing "Note" formatting in "Remove Elements from a Linked List" challenge"
Following the conventions decided upon in #35464, we should change the instruction in the "Remove Elements from a Linked List" challenge -
[code]
to
[code]
**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/coding-interview-prep/data-structures/remove-elements-from-a-linked-list/

The file to be changed is [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/cur

[2019-06-04 21:21] minggas commented on #36171
I can do it. Should i make the same change in the portuguese version too?

[2019-06-04 21:27] RandellDawson commented on #36171
No, just make the change for the English version.

[2019-06-04 22:16] #35349 closed

[2019-06-04 22:18] RandellDawson commented on #35543
Anyone who wants to try and implement @ojeytonwilliams' suggestion?

[2019-06-04 22:20] RandellDawson commented on #35971
@ahmadabdolsaheb Have you had a chance to implement a permanent fix for this issue?

@raisedadead Technically, the issue I raised has been fixed on the forum now, but do you want to leave this issue open until a permanent fix is created?

[2019-06-04 23:19] RandellDawson commented on #35479
@raisedadead I have not created the PR, but have made the changes on a branch.  Just need to know if I should go ahead and make the official PR to remove these from the Guide's certifications folder.  We could also do something similar for all Guide articles to prevent linking to code which no longer exists.

[2019-06-05 04:30] kanuos opened #36177 "the new update has reset all my progress."
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2019-06-05 04:48] twhite96 commented on #36148
Okay I'll do this. How can I claim it?

[2019-06-05 04:52] kanuos opened #36178 "node express basic challenge not working on glitch"
**Describe your problem and how to reproduce it:**
cloning the repository on glitch shows error "This document has been deleted outside of the editor."
myapp.js is not available too

Please run "refresh" in the console.

**Add a Link to the page with the problem:**
github clone : https://github.com/freeCodeCamp/boilerplate-express/
glitch : https://glitch.com/edit/#!/careful-november

**Tell us ab

[2019-06-05 05:01] RandellDawson commented on #36148
@twhite96 It is yours.

[2019-06-05 05:02] RandellDawson commented on #36178
@kanuos You did not provide the url of the actual challenge.

[2019-06-05 08:01] swedishpotato commented on #35755
Hi @raisedadead - this is really excellent news! A couple of follow up questions if I may (I am only a below average developer, so please bear with me!).

Q1. Are there any instructions currently on how to get a (even somewhat) offline working version up and running?

Q2. Is there anything we can do to help? Is there any "grunt work" that we could do for instance?

Please keep us informed of the o

[2019-06-05 08:50] ValeraS commented on #36118
Codepen crashes with a code from a topic as well. They prevent only infinite loops, the same way as we do. Each loop in the program receives a time limit.

On freecodecamp.org, simple recursion throws `Maximum call stack size exceeded` error without a crash as well.
![image](https://user-images.githubusercontent.com/10867286/58941302-23595280-8784-11e9-8cf9-57f19ba3637b.png)

KhanAcademy does not

[2019-06-05 13:30] #35464 closed

[2019-06-05 16:51] minggas commented on #36178
@kanuos I think that glitch link that you provided is incorrect. The actual link to match the github's repo is https://learn.freecodecamp.org/apis-and-microservices/basic-node-and-express/

[2019-06-05 19:40] minggas commented on #35543
I can implement that solution. I will add one more test to see if the input has a closing tag and and one more match in the final catchall to get anything that pass the limit of the `<input />` final >. Any thoughts?

[2019-06-05 19:48] RandellDawson commented on #35543
@minggas Give it a try and we can test it for edge cases.

[2019-06-06 03:29] manasv opened #36189 "Project Euler: Problem 1: Multiples of 3 and 5 - First test case is wrong?"
**Describe your problem and how to reproduce it:** In the first problem of the Project Euler, I got an error with the first test case, don't know why it says is wrong.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/coding-interview-prep/project-euler/problem-1-multiples-of-3-and-5/

**Tell us about your browser and operating system:**
* Browser Name: Brave Browser
* B

[2019-06-06 03:41] manasv commented on #36189
Closed, sorry misread the problem.

"Find the sum of all the multiples of 3 or 5 **below** the provided parameter value number."

[2019-06-06 03:41] #36189 closed

[2019-06-06 06:40] siddtheone commented on #5744
Its good to have feature. Please again think on this.

[2019-06-06 14:34] Limonkufu commented on #17455
Although issue is moved to https://github.com/freeCodeCamp/learn/issues/153 and is closed there. I am still having this issue with ctrl+enter.

[2019-06-06 14:45] RandellDawson commented on #5744
@siddtheone There is an open PR (https://github.com/freeCodeCamp/freeCodeCamp/pull/35485) which actually would add this feature.

[2019-06-06 19:27] #36171 closed

[2019-06-06 19:37] raisedadead commented on #35755
Yes, our [Guidelines for Contributing](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md), explain all the details, [specifically this doc here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md) is what you are most likely interested in.

Then on you could turn off your internet (or use offline mode in devtools of your browse

[2019-06-06 19:39] raisedadead commented on #35755
For example, to answer your second query, most css would break because of a really old bootstrap dependency. And MathJax and things like that.

[2019-06-06 19:55] raisedadead commented on #35971
@ahmadabdolsaheb is working on a new theme as per our new design guidelines. It may be a while before we have the fix ready and deployed. You are free to leave the issue open for traceability.

Thanks.

[2019-06-06 19:59] raisedadead commented on #36177
Thanks for reaching out. This tracker is for bugs only. Please send an email from you registered email id to `team@freecodecamp.org`

[2019-06-06 19:59] #36177 closed

[2019-06-06 20:03] raisedadead commented on #36157
Edge has been a bit difficult for some of our platform code.

You have not specified the OS, but I think it's not limited to any. In any case I think this will improve one Edge goes full chromium soon. They went ahead with that on macOS for instance: https://twitter.com/raisedadead/status/1130569340779032577

I think once we have a GA, we could revisit this hopefully because the underlying APIs wi

[2019-06-06 20:10] raisedadead commented on #36161
We are aware of this and making it better in the next release planned this year.

freeCodeCamp.org's certifications are bound by our honour based [Academic Honesty Policy](https://www.freecodecamp.org/academic-honesty).

In simple terms:
1. Your cert are only valid, if your work abides by the policy.
2. This is reinforced by making your cert publicly verifiable only if your projects are publicly v

[2019-06-06 20:10] #36161 closed

[2019-06-06 20:16] raisedadead commented on #36100
Can we investigate instead on how to make it more agnostic of the expected location?

You should be able to view the profile you signed in with, needs more investigation on why that would be the case.

P.S: We all hangout in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors), feel free to hop in and discuss more.

[2019-06-06 22:53] #36119 closed

[2019-06-06 22:57] moT01 commented on #36086
The article mentioned in the issue here will be fixed on the next deployment as mentioned. Also, I went through and found no other articles on the master branch which have stubs and content. There might still be some on the current site, but should all be fixed when master is deployed. Thanks and happy coding everyone!

[2019-06-06 22:57] #36086 closed

[2019-06-06 23:14] moT01 commented on #35960
So is there still a number of files which need to be changed for this to get closed @ojeytonwilliams, @RandellDawson? We merged that large PR, but I think some files got missed from potential conflicts.

[2019-06-06 23:43] moT01 commented on #35881
Closing as stale.

[2019-06-06 23:43] #35881 closed

[2019-06-06 23:44] RandellDawson commented on #35960
@moT01 See [this comment](https://github.com/freeCodeCamp/freeCodeCamp/pull/35961#issuecomment-491458449).

[2019-06-07 00:12] moT01 commented on #35841
Closing since it sounds like this doesn't need to be added anymore - let us know if you still have problems @AstiV

[2019-06-07 00:12] #35841 closed

[2019-06-07 00:57] moT01 commented on #35765
how about remove the test for "42 42 42 42".

change the instructions to:
`Use capture groups in reRegex to match strings where a number is repeated three times in a row, each separated by a space.`

and change the solutions to not use `^` and `$`
so the solution would be `/(\d+)\s\1\s\1/` or `/(\d+) \1 \1/`

[2019-06-07 01:36] moT01 commented on #35651
Thanks for reporting this but since we can't figure out what caused the problem or reproduce it - I think we can close it.

[2019-06-07 01:36] #35651 closed

[2019-06-07 01:45] moT01 commented on #35614
@freeCodeCamp/dev-team

[2019-06-07 02:14] moT01 commented on #35624
Looks like this has been fixed so it can be closed - let me know if I'm mistaken.

[2019-06-07 02:14] #35624 closed

[2019-06-07 02:17] tom-raley opened #36195 "Improperly Indented Comment in Compose React Components"
**Describe your problem and how to reproduce it:**
In the code editor, the comment saying "change code above this line" within the Fruits component is indented too far, making it look like the NonCitrus and Citrus components should be nested within the h2 tag, but they are not.

**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/front-end-libraries/react/compose-react-comp

[2019-06-07 02:44] moT01 commented on #35114
Closing as this has been fixed.

[2019-06-07 02:44] #35114 closed

[2019-06-07 03:02] moT01 commented on #30498
Closing as stale.

[2019-06-07 03:02] #30498 closed

[2019-06-07 04:02] #36195 closed

[2019-06-07 04:27] MysticBlaze085 commented on #15662
I am currently getting this error

[2019-06-07 06:41] kiwisquash commented on #17299
My current streak should be 63 according to the heatmap, but because of some time-zone funkiness, I have the longest streak of 32, and current streak of 1. Sad.

<img width="623" alt="Screen Shot 2019-06-06 at 11 40 58 PM" src="https://user-images.githubusercontent.com/34022735/59085792-9cf05e00-88b4-11e9-9b8c-dd62dfdca379.png">

[2019-06-07 09:05] raisedadead commented on #35479
Yes, please go ahead with the PR. Thanks for your work on this.

[2019-06-07 09:08] raisedadead commented on #35614
Hi @WofWca

Thanks for your report.

Can you send me an email `mrugesh at freecodecamp dot org` with details of your emails.
I'll fix up your account, and investigate the root cause and possible fix there on.

[2019-06-07 09:19] xatriya opened #36197 "not all guide articles present ."
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-06-07 09:20] xatriya commented on #36197
i cant see all guide articles . (currently on docker build).
![Uploading Screenshot from 2019-06-07 14-50-38.png…]()

[2019-06-07 09:20] #36197 closed

[2019-06-07 18:49] RandellDawson commented on #35991
Everything has been merged which was related to this issue, so I am closing it.

[2019-06-07 18:49] #35991 closed

[2019-06-08 01:31] P1xt commented on #15662
@Nirajn2311 this wasn't solved, the challenge is still broken in that following the instructions will not guide you to a correct solution. All of the 'solutions' you see above are workarounds that people came up with to get around how broken this challenge is.

[2019-06-08 12:10] WofWca commented on #35614
@moT01 I no longer have this session.
@raisedadead I've sent an email, the subject is as the name of the issue.

[2019-06-08 13:37] georgejean commented on #36100
I've achieved to set up freecodecamp locally on **Windows 10 Home** with *dockerToolbox*.

Here is what I've done (I suppose Node and Git are already installed and registered to PATH environment variable):

### Step 1: Change storage location (optional)

I don't want my docker folders to be stored on my SSD C: drive, so I move them to my D: drive.

- Create two folders on D: drive (with powershell

[2019-06-08 13:39] georgejean commented on #36100
@raisedadead

Thanks. I can sign in now (with both methods). I don't remember what I've done (I do not remember doing anything special to make it work).

I think I can close this issue. Right?

[2019-06-08 18:45] samcottle opened #36214 "Restrict Possible Usernames challenge is in the wrong place"
**Describe your problem and how to reproduce it:**
To solve the challenge for [Restrict Possible Usernames](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions/restrict-possible-usernames) you need to understand "quantity specifiers" (e.g. `{2,}`).

Quantity specifiers aren't taught until a few lessons later in the Curriculum ([Specify upper and lower numbe

[2019-06-08 20:38] RandellDawson commented on #36214
@samcottle This challenge can definitely be solved without using lower or upper specifiers.  I am closing this issue due to the fact the challenge does not need to be moved.

[2019-06-08 20:38] #36214 closed

[2019-06-08 20:58] raisedadead commented on #36100
Thanks @georgejean this is an excellent analysis and solution for someone one Windows 10 Home. I think we can add these to our docs.

Maybe like a supplementary guide with a link on main local installation docs, with a disclaimer like: "If on Windows 10 Home, read this." or something.

I will let @RandellDawson and @cmccormack confirm, who I believe have been on Windows and have contributed to the

[2019-06-08 21:05] RandellDawson commented on #36100
git reset --hard upstream/master

@raisedadead I assume the above can still be replaced with `git pull --rebase upstream master`?

[2019-06-08 21:46] samcottle commented on #36214
@RandellDawson Both the [solution provided on freeCodeCamp](https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/regular-expressions/restrict-possible-usernames/), and the freeCodeCamp YouTube video [Learn Regular Expressions](https://youtu.be/ZfQFUJhPqMM?t=1556) uses them.

For example, here's the solution for *Restrict Possible Usernames*:
![Screenshot_2019-06-

[2019-06-08 22:05] RandellDawson commented on #36214
That may be the case, but it can still be solved without using `{2,}

[2019-06-08 23:47] raisedadead commented on #36100
I think this is better, considering the no of changes that go into `master` each day, its not efficient to do a rebase on pull. A hard reset is more dangerous when someone worked on a local copy on master, but I am inclined with that tradeoff vs rebase on pull.

[2019-06-08 23:53] #17450 closed

[2019-06-08 23:55] #35405 closed

[2019-06-08 23:58] #17925 closed

[2019-06-08 23:58] #35800 closed

[2019-06-09 00:32] raisedadead commented on #36102
Hi @beaucarnes can you guide here, since you were the original author of the scripts?

[2019-06-09 00:35] raisedadead opened #36216 "Update jest to latest"
We want to update jest to the latest version and the related code to address the breaking changes.

[2019-06-09 00:58] #35667 closed

[2019-06-09 02:09] #36108 closed

[2019-06-09 07:18] byco opened #36221 "Clicking magnifying glass icon clears text and search results (instead of searching text)"
**Describe the bug**
I noticed there's a few other issues about the search bar on the main site (https://search.freecodecamp.org/) but haven't seen this particular issue mentioned before. Apologies if it's been addressed already.

Clicking on the magnifying glass icon clears the text in the search bar instead of searching for the text entered. The icon even says "Submit the search query." when hov

[2019-06-09 11:00] kozlovvski commented on #36216
Hey, I'd like to tackle this one!

[2019-06-09 11:35] raisedadead commented on #36216
Sure, go for it. We use Jest all over the place. A good place to start understanding how many and what packages we have is to look into the https://github.com/freeCodeCamp/freeCodeCamp/blob/master/lerna.json config.

[2019-06-09 14:58] huyenltnguyen opened #36225 "Typo in challenge "Applied Accessibility: Know When Alt Text Should be Left Blank""
**Describe your problem and how to reproduce it:**

In challenge `Applied Accessibility: Know When Alt Text Should be Left Blank`, the keyword `img` should be highlighted.

**Add a Link to the page with the problem:**

https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/know-when-alt-text-should-be-left-blank

**If possible, add a screenshot here (you can drag and drop, png,

[2019-06-09 15:59] moT01 opened #36226 "[Discussion] Should JavaScript section be restructured?"
The JavaScript section has always felt out of order to me. Currently it looks like this...

[code]

Why are regex and debugging third and fourth?
I understand why ES6 is second - we want to get users right into the newest stuff... but it still feels a little out of order. And the way some of the ES6 lessons are written is more complex than they need to be, making it feel even more out of order.

I

[2019-06-09 18:55] RandellDawson commented on #36102
@moT01, @Manish-Giri, @ojeytonwilliams, @thecodingaviator - I have created 15 PRs to deal with this issue.  Keep in mind if the original English Guide repo article did not have a language post-fix, there will not be one in the converted version in these.  There are several of these, but instead of trying to fix them on these PRs, I would prefer once these are all merged, that we tackle them on a s

[2019-06-09 19:24] kiwisquash opened #36243 "Profile HeatMap does not show most recent progress"
**Describe the bug**
At 100% zoom, the heatmap does not show the most recent progress.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to freeCodeCamp profile
3. Scroll down to the heatmap with zoom at 100%.

**Expected behavior**
When zoom is at 100%, we should be able to see the most recent progress.

**Screenshots**
Screen shot at 100% zoom:
![Uploading Screen Shot 2019-06-09 at 12.17.

[2019-06-09 22:07] #36243 closed

[2019-06-09 22:07] kiwisquash commented on #36243
It seems to be working all of the sudden. Strange.

[2019-06-09 22:34] bekliev opened #36244 "Broken anchor links for headings in CONTRIBUTE.md"
**Describe your problem and how to reproduce it:**
Anchor links such is not working properly in several languages.
For sure is not working in: **Russian**, **Spanish**, **Chinese** languages.

**Add a Link to the page with the problem:**
* [Russian](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/russian/CONTRIBUTING.md)
* [Spanish](https://github.com/freeCodeCamp/freeCodeCamp/blob/m

[2019-06-09 23:04] raisedadead commented on #36102
Lets do this:

[2019-06-09 23:08] bekliev commented on #36244
These 3/4 PRs (exlude one - which I PR'd to my own forked-repo) may close this issue.
Please review them.

[2019-06-10 00:39] bekliev opened #36248 "[Contribution] Chaotic order of table of languages in different languages"
**Describe your problem and how to reproduce it:**
When you try to change contibution guidelines language - you'll see how the languages table's order is desynchronized and in several languages you cannot find new Greek language.

**Add a Link to the page with the problem:**
* [English](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md)
* [عربي (Arabic)](https://github.com/f

[2019-06-10 03:24] Mishi22 commented on #12410
what about when it also says "myStr should contain a tab character \t which follows a newline character"

[2019-06-10 15:57] kerafyrm02 opened #36260 "Multiple ternary [why are you teaching this]?"
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/use-multiple-conditional-ternary-operators

It's important that young programmers understand how this works., but why isn't there any emphasis not to use multiple ternary? It's just bad programming.

[2019-06-10 17:58] #36248 closed

[2019-06-10 20:15] beaucarnes commented on #36102
Whoops. This looks like it was my fault since I created the translation script. The script is here: https://github.com/freeCodeCamp/freeCodeCamp/tree/master/tools/translation

Let me know what help you need.

[2019-06-11 11:46] #17300 closed

[2019-06-11 11:46] #18253 closed

[2019-06-11 11:46] #35410 closed

[2019-06-11 11:56] marimeireles opened #36263 "Page that redirects to the hint of iterate through keys of an object with a for in statment is broken"
I use a MacOS 10.14.5 and I tried to open the following link in Firefox Nightly and Chrome (both in their last versions) and I received a 404 page.

https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-data-structures/-iterate-through-the-keys-of-an-object-with-a-for---in-statement

This is the hint link that's available in the question.

If you're interest

[2019-06-11 11:59] marimeireles opened #36264 "Page that redirects to the hint of generate an array of all object keys with object keys is broken"
I use a MacOS 10.14.5 and I tried to open the following link in Firefox Nightly and Chrome (both in their last versions) and I received a 404 page.

https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-data-structures/generate-an-array-of-all-object-keys-with-object-keys

This is the hint link that's available in the question.

If you're interested, I can h

[2019-06-11 12:45] #35727 closed

[2019-06-11 13:36] #36216 closed

[2019-06-11 14:58] #35950 closed

[2019-06-11 14:58] #35972 closed

[2019-06-11 15:07] ojeytonwilliams commented on #36260
Well, if you indent sensibly they aren't particularly hard to read:
[code]
vs. the example given the challenge

[code]

Obviously this is subjective, but I find those similarly easy to understand.

That said, it might be worth mentioning that they should be used with care (indented as above at least).  If you've got time to put together a PR they're always welcome!

[2019-06-11 16:35] RandellDawson commented on #36263
@marimeireles Thank you for letting us know, but this issue has already been fixed on our master branch but has yet to be deployed to production.  Once it is deployed, the links will work.

I am closing this issue as it has technically been address already.

[2019-06-11 16:35] #36263 closed

[2019-06-11 16:35] RandellDawson commented on #36264
@marimeireles Thank you for letting us know, but this issue has already been fixed on our master branch but has yet to be deployed to production.  Once it is deployed, the links will work.

I am closing this issue as it has technically been address already.

[2019-06-11 16:35] #36264 closed

[2019-06-11 17:08] VSatyavani commented on #13872
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    wid

[2019-06-11 17:09] VSatyavani commented on #13872
<div class="row">

  <div class="col-xs-4"><button class="btn btn-block btn-primary">Like</button></div>
  <div class="col-xs-4"><button class="btn btn-block btn-info">Info</button></div>
  <div class="col-xs-4"><button class="btn btn-block btn-danger">Delete</button></div>

</div>

[2019-06-11 17:45] VSatyavani opened #36266 "Ditch Custom CSS for Bootstrap"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-06-11 18:35] Manish-Giri commented on #36266
What's the issue?

[2019-06-11 21:45] #36127 closed

[2019-06-11 21:56] NotTheBest opened #36268 "Redux Certification Guide articles not showing up with complete files"
**Describe your problem and how to reproduce it:**
There are several Redux articles that have complete files that are still listed as stubs on the website. Some of these guides were updated around 8 months ago and are still listed as stubs on the website.

**Add a Link to the page with the problem:**
Here is one example
https://guide.freecodecamp.org/certifications/front-end-libraries/redux/combin

[2019-06-11 21:59] NotTheBest commented on #36268
This is also happening with other files as well, under further inspection. SASS for example, has the same problem.

[2019-06-12 01:26] #36244 closed

[2019-06-12 10:32] VSatyavani commented on #3921
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

<style>
  h2 {
    font-family: Lobster, Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8">
      <h2 class="text-primary text

[2019-06-12 18:07] CarloMartini opened #36277 "LinkedIn compatible Certification IDs and Integration"
FCC certifications do not have any kind of unique identifiers: Linkedin has a specific field for that (https://developer.linkedin.com/docs/fields/certifications#) and other certification providers (like Coursera) do offer it. It makes a certificate a bit more "official".

What about implementing such a feature?

(I asked in the forum, but have been suggested to open an issue here)

[2019-06-12 21:22] raisedadead commented on #36277
Apologies, but I find this to be a bit vague on the requirement. Can you point us to a concrete example (not just the spec), for more context on how this works? We may consider this if it's something we would want to have?

Thanks for your report.

[2019-06-12 21:26] raisedadead commented on #36268
Thanks for reporting, unfortunately we are a bit delayed on releasing the next version of guide content. We do not have a ETA right now, but there are several huge changes coming in which will resolve these content related issues. We thank you for your patience meanwhile.

[2019-06-12 21:26] raisedadead commented on #36268
Clicked the wrong button... 😓 !

[2019-06-12 21:27] raisedadead commented on #36266
Hi @VSatyavani

Thanks for reporting this issue.

Here are some next steps that you should follow before we can help you with your query:
- Check [these troubleshooting steps](https://www.freecodecamp.org/forum/t/how-to-report-a-bug/19543) first.
- Please use the [Chat Rooms](https://www.freecodecamp.org/forum/t/free-code-camp-official-chat-rooms/19390) or try looking through our [forum](https://w

[2019-06-12 21:27] #36266 closed

[2019-06-12 22:05] raisedadead commented on #35030
We have a docker installation guide that is now quite stable. Closing.

[2019-06-12 22:05] #35030 closed

[2019-06-12 22:07] #17243 closed

[2019-06-12 22:08] #17299 closed

[2019-06-12 22:09] #17674 closed

[2019-06-12 22:15] #17863 closed

[2019-06-12 22:24] raisedadead commented on #17932
This was by design, a correct implementation to update the links to the projects would be to get the certification revoked first. Then add the links and finally claim the certification re-setting it to the new date. This is to avoid abuse of the system.

[2019-06-12 23:38] cmgonzales commented on #36221
Can i try to work on this?

[2019-06-13 00:32] RandellDawson commented on #36221
@cmgonzales I would hold off as there have already been several PRs merged which fix many issues with the search bar.  The changes are on the master branch, so you can pull it down and get it running locally to test if this new issue exists as stated.  If you can reproduce it on the master branch code, then make sure to search through the other open PRs related to the search bar to make sure someo

[2019-06-13 01:13] mrmowji opened #36280 "Guide section is not accessible through a trivial navigation"
**Describe the bug**
Currently I can only get to the Guides section using the search. No link is provided in the main menu.

**Desktop**
 - OS: Win7
 - Browser: Chrome

[2019-06-13 01:18] tamerMarzouk opened #36281 "Test fail if Pug view engine path is set in How to Put a Profile Together"
**Describe your problem and how to reproduce it:**
The test for "How to put a profile together" expects the res.render function call to be as follows:
`req.render('/views/pug/profile',{username:req.user.username})`
but if you already set the express view engine using:
`app.set('view engine','pug');
app.set('views',__dirname+'/'+'views/pug');`
 you can issue the render as follows:
`req.render('prof

[2019-06-13 09:26] tamerMarzouk commented on #18201
Here's how to pass those tests:
Add the word "Profile" in the body of profile.pug file. it will help you bypass this test:
`  - text: Registering should work
    testString: 'getUserInput => $.ajax({url: getUserInput(''url'')+ ''/register'',data: {username: ''freeCodeCampTester'', password: ''freeCodeCampTester''},crossDomain: true, type: ''POST'', xhrFields: { withCredentials: true }}) .then(data

[2019-06-13 10:27] tamerMarzouk opened #36283 "(Test Fail) Cleanup your project with Modules"
**Describe your problem and how to reproduce it:**
To pass the test `  - text: Modules present
    testString: getUserInput => $.get(getUserInput('url')+ '/_api/server.js') .then(data => { assert.match(data, /require.*("|').\/routes.js("|')/gi, 'You should have required your new files'); assert.match(data, /mongo.connect[^]*routes/gi, 'Your new modules should be called after your connection to the

[2019-06-13 13:31] #18024 closed

[2019-06-13 17:33] CarloMartini commented on #36277
As far as I know, it's just a semi-random string proving that a certificate has been issued specifically for a person: such string will thus be maintained in a database for a long time, even if the domain name or the paths of a website where to change in the future, or if the user removes/changes its account name.

In the case of CoursEra, it's part of the URL to the certificate:
https://www.cours

[2019-06-13 20:20] raisedadead commented on #36277
Understood.

For us we have every certificate uniquely verifiable at:
`https://www.freecodecamp.org/certification/<username>/<certification-name>`

For example:
`https://www.freecodecamp.org/certification/mot01/javascript-algorithms-and-data-structures`

We do not have any plans to change/add the schema for foreseeable future.

There maybe a way to implement this without adding schema changes (has

[2019-06-13 22:17] aenon commented on #35397
As of now (June 13 2019), the useful links are still showing on the [about page](https://about.freecodecamp.org/), and one of the links is still "Our Medium publication". This needs to change. Either this link gets updated, or this section gets removed.

[2019-06-13 22:37] aenon commented on #35397
Adding https://github.com/freeCodeCamp/freeCodeCamp/pull/36288 for this.

[2019-06-13 23:12] JackHowa opened #36289 "Wrong hint page for iterate object keys code challenge"
**Describe your problem and how to reproduce it:**
Was working on [basic data structures iterating through an object](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-data-structures/-iterate-through-the-keys-of-an-object-with-a-for---in-statement). Wanted to see the hint page. So clicked the hint button that led me to a [404 page](https://guide.freecodecamp.org/certi

[2019-06-14 00:20] RandellDawson commented on #36289
This has already been fixed on the master branch but has yet to be deployed.  Once the current master branch has been deployed, this will be resolved.

[2019-06-14 00:20] #36289 closed

[2019-06-14 09:09] ojeytonwilliams commented on #36283
Thanks @tamerMarzouk, I've verified this and it should definitely accept both.

[2019-06-14 14:08] Hardik500 commented on #36280
Apparently guide sections is in the beta version. But it is apparently down.

[2019-06-14 14:19] StigEzeh opened #36291 "Passing Values to Functions with Arguments"
My issue is that i am writing the correct code even as it is in the example but it keeps saying test passed but doesnt proceed to the next page.

`// Example
function ourFunctionWithArgs(a, b) {
  console.log(a - b);
}
ourFunctionWithArgs(10, 5); // Outputs 5

// Only change code below this line.

function fucntionWithArgs(a, b) {
  console.log(a + b);
}
fucntionWithArgs(90, 9);`

 Google Chrome

[2019-06-14 14:21] Hardik500 commented on #36291
Please mention the link to the challenge.

[2019-06-14 14:24] Hardik500 commented on #36291
Looks like you got a typo error in your code
Instead of fucntionwithArgs it needs to be functionWithArgs.
Let me know if that solves ur problem

[2019-06-14 15:24] StigEzeh commented on #36291
Thanks for replying, here is the link:

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/passing-values-to-functions-with-arguments/

[2019-06-14 15:25] StigEzeh commented on #36291
I used functionWithArgs as it is in my screenshot, i noticed over the years a few others have complained about the same test, i suspect there is a bug

[2019-06-14 15:32] RandellDawson commented on #36291
@StigEzeh Have you asked for help on the forum for your code?  If not, that is the best place to start.  If the forum members determine there is a bug in the tests, then you would create an issue and reference the forum thread discussion.

[2019-06-14 16:08] RandellDawson commented on #36280
This can be closed as the current master has a link to the Guide but has not been deployed to production.

[2019-06-14 16:08] #36280 closed

[2019-06-14 16:16] StigEzeh commented on #36291
Thank you, i will do just that.

[2019-06-14 16:19] StigEzeh commented on #36291
Yikes, i just saw the error. Thank you.

[2019-06-14 16:19] #36291 closed

[2019-06-15 06:02] #36225 closed

[2019-06-15 18:06] #36260 closed

[2019-06-15 20:12] huyenltnguyen commented on #35730
Closing as the issue has been resolved via https://github.com/freeCodeCamp/boilerplate-mochachai/pull/13

[2019-06-15 20:12] #35730 closed

[2019-06-16 18:16] frastlin commented on #36153
Actually, could we please have an input role if an actual input element is not going to be used? Application is the most uninformative role in existence and screen reader users really don't like it as a rule. I would recommend [textbox:](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/textbox_role)

    <div role="textbox" contenteditable="true" aria-multiline="true"></div>

[2019-06-17 09:20] ojeytonwilliams commented on #36226
I think it would be better to put ES6 after all the basic concepts.

Right now it seems a bit back to front, since [destructuring assignment](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-variables-from-objects/) is introduced before [dot notation](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/object-o

[2019-06-17 10:19] a-wip0 commented on #17420
doesn't work @moT01 your solution doesn't work, even after i change `background: var(--penguin-belly, pink);` to `background: var(--penguin-belly, white);`

[2019-06-17 14:27] RandellDawson commented on #36226
There will still need to be some challenges shifted around or presented differently if you put Functional Programming before Object Oriented Programming.  The `this` key word is introduced in the Object Oriented Programming section and then in the Functional Programming section, there are the following challenges presented which require the knowledge of `this`:

[Implement map on a Prototype](http

[2019-06-17 22:19] #17827 closed

[2019-06-18 10:22] raisedadead commented on #35614
I can see that we indeed have two accounts for each of your emails listed in the email. For all intents and purposes, we only use email as the primary identifier of your account.

So, it literally depends on what a provider returns us as an email address to lookup and sign you into the account.

For example:

First email: emailOne@example.com
Changed email: emailTwo@example.com

**Scenario 1:**
-

[2019-06-18 10:45] WofWca commented on #35614
Well, the thing is – there are now three accounts. The original one is [this one](https://www.freecodecamp.org/wofwca).

[2019-06-18 11:08] raisedadead commented on #35614
Okay, I found the issue. Thanks for the additional information. This indeed is a validation bug, when someone changes email.

So, when you entered your email on the update form in settings:

You entered something like: **MyNewEmail**@example.com, this was stored on our DB as is without sanitising it to lowercase. And the providers will always return lowercase emails. We unfortunately treated this

[2019-06-18 12:00] WofWca commented on #35614
I don't use them, so yeah.

[2019-06-18 12:23] raisedadead commented on #35614
@WofWca thanks for confirming, I have updated the email to be lowercased on your original account and removed the new accounts. Can you test this and let me know, if it's all fixed.

[2019-06-18 15:29] WofWca commented on #35614
Yep, it's working.

[2019-06-18 16:58] Flarp commented on #14234
Unfortunately I can't work on this anymore due to quite a bit of stuff going on in my life, but hopefully what I have is a good enough outline for continuing this (most of the articles are written, and while I'm not sure the tests work, the ideas are there). Sorry for going so long without a reply, life comes like a truck.

[2019-06-18 20:56] ianbattison commented on #17299
![Screenshot](https://user-images.githubusercontent.com/16448470/59719181-b75efb80-9213-11e9-8026-f518c0da847f.png)
Can my current streak be corrected. Due to some time zone issue, it has reset my current streak. I have not missed a day since starting the 100 day challenge. I wanted to get to the end in one streak. As you can see, I have completed challenges every day since I started.
Thanks.

[2019-06-19 14:31] #17413 closed

[2019-06-19 14:38] #36067 closed

[2019-06-19 14:57] MomchilDeus commented on #17976
[code]
does not work on Chromium - Version 75.0.3770.100 (Official Build) Arch Linux (64-bit)
works on Firefox 67.0.3

[2019-06-19 16:00] #36126 closed

[2019-06-19 21:07] enrique-cardenas opened #36303 "Updating the “Reuse Patterns Using Capture Groups” challenge"
**Describe your problem and how to reproduce it:**
I think that by mentioning “\1” maps to “regex” in the example given, the challenge would become more understandable.

I also brought this up in the forum:
https://www.freecodecamp.org/forum/t/updating-the-reuse-patterns-using-capture-groups-challenge/287260

**Add a Link to the page with the problem:**

https://learn.freecodecamp.org/javascript-a

[2019-06-19 21:46] RandellDawson commented on #36303
@enrique-cardenas In the challenge description it states:

[2019-06-19 22:02] #36303 closed

[2019-06-19 22:03] thepeted commented on #36178
*Add a Link to the page with the problem:*
https://learn.freecodecamp.org/apis-and-microservices/basic-node-and-express

This page references a broken link which is intended to clone the exercise repo in to a new glitch project: https://glitch.com/#!/import/github/freeCodeCamp/boilerplate-express/

As an experiment, I tried to import the repo via Glitch UI (New Project > Clone From Git Repo). This

[2019-06-19 22:13] enrique-cardenas commented on #36303
@RandellDawson my mistakes, thanks for pointing that out.

[2019-06-20 15:03] #35814 closed

[2019-06-20 15:45] ojeytonwilliams opened #36307 "Missing console logs"
**Describe the bug**
If the user's code does not build there are no logs informing them of this.

**To Reproduce**
Steps to reproduce the behavior:
1. Run locally, `npm run develop`
2. Go to `http://localhost:8000/learn/javascript-algorithms-and-data-structures/basic-javascript/comment-your-javascript-code`
3. Enter <pre>console.log(a);
console.log('a');
</pre> into the editor
4. Run the tests
5.

[2019-06-20 16:51] cryptographicfool opened #36308 "Dark-theme on Forums does not work. Background color/image for the theme is not loading."
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
Background color of the dark-theme on the forums is not loading. I am greeted with light gray text on white background.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to FCC forums.
2. Click on your p

[2019-06-20 17:16] #35908 closed

[2019-06-20 17:28] #35914 closed

[2019-06-20 19:16] wulforr commented on #36308
It is not working on kali as well on FirefoxESR

[2019-06-20 20:05] cryptographicfool commented on #36308
Not working anywhere, there is an open [thread](https://www.freecodecamp.org/forum/t/why-is-forum-dark-theme-no-longer-working/287647) on fcc forums about the same. They should be resolving it soon.

[2019-06-20 20:20] raisedadead commented on #36308
Resolved, thanks for reporting.

[2019-06-20 20:20] #36308 closed

[2019-06-20 21:32] cryptographicfool commented on #36308
Great, thank you! :)

[2019-06-20 22:15] Ieahleen opened #36310 "should users be explicitly told to go to the settings to claim certificates?"
On the FCC forum there are a few threads each week opened because users don't get the certificate immediately after completing the Responsive Web Design Projects.

I don't know what should be the better way, but I propose to make more clear to users that they need to go to the Settings to claim their certificate.

[2019-06-20 23:12] moT01 commented on #36310
It would be kinda nice if it were automatically claimed when you complete the last project you need, and you get a congratulations popup

[2019-06-21 02:29] LonelyDaoist commented on #17195
The issue is still happening, I don't think it's fixed

[2019-06-21 07:34] thecodingaviator commented on #17195
Yes, because the fixes haven’t been pushed to production

[2019-06-21 09:02] sadikn opened #36312 "Some features are missing while setting the project in local."
I've cloned and setup the project in local and its working fine. But I was not able to find some features like latest login mechanism by using just the email in the "**Production Current**" branch. Anyone has faced such an issue and resolved it? Thanks in advance.

[2019-06-21 09:35] Ieahleen commented on #36310
That I wouldn't agree on, it happened to me too to submit a link by
mistake, and I don't want to have that mistakenly submitted link to give me
the certificate
Instead a pop-up that say something like "If you are satisfied with your
work and you pass all user stories go to the settings and clam your
certificate"

[2019-06-21 13:35] RandellDawson commented on #35960
Based on [comments in the Contributors room](https://gitter.im/FreeCodeCamp/Contributors?at=5d0c0626e7267a62a90f75e2), I am reopening this as an ongoing issue.

I will create a new PR to address the most recent warnings.

[2019-06-21 14:50] RandellDawson opened #36316 "README files for other languages need to be renamed/moved or deleted from root repo directory"
Currently in the master branch the following files are in the root directory:
[README.french.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/README.french.md)
[README.italian.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/README.italian.md)
[README.korean.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/README.korean.md)

These should not be here.  Instead th

[2019-06-21 15:27] minggas opened #36317 "RegExp Restrict Possible Usernames challenge need stricker test"
**Describe your problem and how to reproduce it:**
There's no test for the first check:
`1) The only numbers in the username have to be at the end. There can be zero or more of them at the end.`

That way the RegEx `/[a-z]{2,}/i` pass in all tests when it shouldn't, because this regex match any username who has at least two letters.

**Add a Link to the page with the problem:**
[Restrict Possible

[2019-06-21 16:09] moT01 commented on #36317
Thanks for reporting this @minggas - this is fixed in beta. However the beta site is down right now so the only way verify that it's fixed is to run the site locally - which I have done.

<img width="1359" alt="Screen Shot 2019-06-21 at 11 08 28 AM" src="https://user-images.githubusercontent.com/20648924/59936144-ebedd580-9414-11e9-8548-8a029b92ba31.png">

[2019-06-21 16:14] moT01 commented on #36312
I believe this is just how the site works in development. More details here - https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-setup-freecodecamp-locally.md#how-to-sign-in-when-working-locally

Was there other things you found missing? If not, we can probably close this.

[2019-06-21 18:33] kiwisquash commented on #17754
RE: Get Query Parameter Input from the Client challenge

I was able to do the Get Query Parameter Input from the Client challenge without using the POST method. I came here to open an issue saying that the TIP was confusing, since POST is not needed for this challenge...

[2019-06-22 09:01] nguyenami commented on #36316
I would like to do the same for vietnamese as well. Just wondering if fcc still accept other languages translation?

[2019-06-22 20:17] kuicpet commented on #15564
This is the solution:
let timStr = "Timmmmber";
let timRegex = /Tim{4}ber/g;
let result = timRegex.test(timStr);

[2019-06-22 20:44] huyenltnguyen opened #36320 "Medium link in README.md needs to be updated"
[The Learning Platform](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/README.md#the-learning-platform) section is still having a Medium link.

There are two things that needs to be updated: the link text and the fCC News URL.

List of doc files that need the update applied:
- [x] https://github.com/freeCodeCamp/freeCodeCamp/blob/master/README.md
- [x] https://github.com/freeCodeCamp/fre

[2019-06-23 14:45] catastrop opened #36321 "question: why doesn't Javascript have optional static typing ?"
tc39 is adding new things to JS. But why not optional static typing ?

If they do it, we don't have to use Typescript anymore and being able to pass type information to the engine.

We will have less dev dependency.

[2019-06-23 15:17] #36321 closed

[2019-06-23 15:18] RandellDawson commented on #36321
Please only report issues with the repo.  For discussions, you can open a topic on [our forum](https;//freecodecamp.org/forum).

Thank you.

[2019-06-24 11:37] sadikn commented on #36312
I was not able to find the current login system in the master branch using just the email.

[2019-06-24 12:39] moT01 commented on #36312
yes, I believe that's by design - and won't be changing. Can anyone confirm this?

[2019-06-24 13:05] moT01 commented on #36316
As far as I know, we do still accept translations for the documentation in other languages @nguyenami. But that's not what this issue is referring to. This issue is saying that some of the translated documentation is in the wrong area of the file system/repo. If you want to translate some of the documentation, you can simply create a PR for it. But be forewarned that there may be very few or no re

[2019-06-24 13:23] jragard commented on #17267
I can't reproduce the persistent dropdown menu in my local environment (just got the docker build up and running yesterday), but I can see that it still won't go away on the live site.

[2019-06-25 01:21] jragard commented on #18005
@raisedadead @RandellDawson @freeCodeCamp/dev-team

We should be using a POST request to transmit the necessary data instead of encoding it into the URI as a super long query parameter.  Currently, after the URI is constructed, we are making a GET request by opening a new window with the specified URI.

https://github.com/freeCodeCamp/freeCodeCamp/blob/fbc53ea257733a99bea7475f4b89a1c5b3242205/clie

[2019-06-25 02:39] QuincyLarson commented on #35930
We think this is fixed but @raisedadead will investigate.

[2019-06-25 03:29] raisedadead commented on #35930
We are going to be removing the timeline from the user portfolio. Its not helpful and clutters it up, I think those are the only places this is linked.

[2019-06-25 03:29] #35930 closed

[2019-06-25 04:14] raisedadead commented on #36320
Thanks, @huyenltnguyen Can you please audit all the docs and we can then update all of these together? I think we will have them pointed to freeCodeCamp news. Do not worry about the new link label for now, I'll have Quincy give us the exact text.

[2019-06-25 04:23] jragard commented on #18005
@raisedadead @RandellDawson

After playing with this a little more, I discovered that the character limit for the URI is currently set to 8,138...it appears that this problem has occurred in the past, and the limit was simply lifted.  While this is definitely not a good long term solution, especially if modifying the necessary forum endpoint proves trivial, I went ahead and implemented Randell's s

[2019-06-25 04:29] raisedadead commented on #18005
That is by design, and we are unable to open up the post endpoints. We are using a managed instance from the discourse team, and this is extremely involving coordination between our and their teams.

We are unfortunately going to be accepting the tradeoff of inconvenience on a few challenges, than having to deal with maintenance.

Thanks for your alternative solution on the PR. We will have this Q

[2019-06-25 08:38] ojeytonwilliams opened #36324 "Missing paragraphs in challenges"
**Describe your problem:**

Paragraph breaks in challenge descriptions that are present in production are missing in the master branch.  The blocks of text that are paragraphs in production are only separated by single newline characters in the source markdown (on the master branch).  This is not enough to push them into paragraphs - they need to be separated by an entire empty line.

**Add a Link

[2019-06-25 08:47] ojeytonwilliams commented on #36324
I don't think this problem can be solved by changing the parser, since it's behaving correctly when given blocks of text are separated by an empty line.  The markdown itself will need changing, but it isn't as simple as globally replacing `\n` -> `\n\n` since that will mess up any code blocks and any embedded html.  However, as long as it's restricted to text, it should be safe.

[2019-06-25 08:54] #17932 closed

[2019-06-25 12:59] jragard commented on #18005
Ahh, that makes sense.  I suspected it might be some kind of situation like this.

[2019-06-25 13:23] Pen-pusher opened #36325 "ES6: Write Concise Object Literal Declarations Using Simple Fields"
const createPerson = (name, age, gender) => {
  "use strict";
  // change code below this line
 1+3
  // change code above this line
};
console.log(createPerson("Zodiac Hasbro", 56, "male")); // returns a proper object

and this code works perfectly on the exercise.even its not the right solution

[2019-06-25 14:42] RandellDawson commented on #36324
This used to not be a problem.  Something has changed.

[2019-06-25 15:09] ojeytonwilliams commented on #36324
Any idea when it was working?  I couldn't find any obvious changes in the parser or in the challenges, and the first challenge has (probably) been wrong since [October](https://github.com/freeCodeCamp/freeCodeCamp/blob/8f39bc12887a251fc7146e6d288de44ba279612f/curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/say-hello-to-html-elements.english.md).

[2019-06-25 15:55] kiwisquash opened #36327 "FCC: Javascript Calculator does not allow integer 0 to be the first operand"
**Describe your problem and how to reproduce it:**
The sample calculator for [Front End Libraries Projects - Build a JavaScript Calculator](https://learn.freecodecamp.org/front-end-libraries/front-end-libraries-projects/build-a-javascript-calculator/) does not allow integer 0 to be the first operand.

To reproduce, go to the calculator link, try pressing 0, followed by an operation. Or just start

[2019-06-25 21:45] #36058 closed

[2019-06-26 04:28] Edwinyms opened #36330 "Testing Issue (Test passes even when it shouldn’t)"
Coding Interview Prep - Data Structures;

The testing of challenges in the aforementioned section always passes (all the test-cases pass and I am able to move ahead to next challenge) even if the code is clearly wrong.

I have observed this issue for the past couple of days.

Thanks

[2019-06-26 04:29] RandellDawson commented on #36330
Can you be more specific about which challenges and which code you are using for the challenges?

[2019-06-26 04:43] Edwinyms commented on #36330
I have observed this issue in a number of challenges in the Data Structures section under the Coding Interview Prep category.

The issue mentioned above starts (from what I can see) from the 'Perform a Union on Two Sets' challenge and ends at 'Use Spread and Notes for ES5 Set() Integration' challenge.

I am using the Google Chrome.

And in regards to my code; simply typing anything into the editor

[2019-06-26 04:51] RandellDawson commented on #36330
Can you post the actual code which passes for the Perform a Union on Two Sets challenge which you feel should not pass?  Thank you.

[2019-06-26 04:59] Edwinyms commented on #36330
I'm sorry for the miscommunication.

The issue starts at 'Perform and Intersection on Two Sets of Data' challenge.

So, the below are the codes that I used for the 'Perform and Intersection on Two Sets of Data' challenge:

First example:
[code]

Second example:
[code]

Both the examples above allow me to proceed to the next challenge.

Thanks

[2019-06-26 07:29] saliha-naico opened #36332 "Updating challenges(courses)"
While courses in freecodecamp are updated, is that just the .md files get updated and executing 'npm run seed' command will update the DB with the latest data? Is this the same what happens when a new course is added.

[2019-06-26 09:34] #35387 closed

[2019-06-26 11:11] Yariandres commented on #17698
Having some issues claiming the Responsive Web Design Projects Certicicate
Errors:
1)
yariandres has not yet agreed to our Academic Honesty Pledge. (Yes, I did  agreed).
2)
In order to view their freeCodeCamp certifications, they need to make their profile public. (I did make it public)

[2019-06-26 11:43] tanjiarui15 commented on #17820
After add ENABLE_DELAYS=true to .env file and enable delay control for every route,I founded that you should do more to pass the exercise.
Now ,you should adjust delay time for each route,make sure that all request  logs are in order of tests in
[test for this exercise](https://github.com/freeCodeCamp/curriculum/blob/dev/challenges/06-information-security-and-quality-assurance/advanced-express-too

[2019-06-26 14:45] moT01 commented on #36332
This doesn't sound like an issue. If you need help you can try asking on [the forum](https://www.freecodecamp.org/forum/c/contributors) or [the contributors chat room on gitter](https://gitter.im/FreeCodeCamp/Contributors)

I'm not sure what exactly your question is, but if you have an instance of the repo running locally and make changes to a challenge, it should immediately show those changes in

[2019-06-26 14:45] #36332 closed

[2019-06-26 15:41] vownfinel opened #36333 "Video instruction (Watch a Video) place to a wrong challenge"
**Describe your problem and how to reproduce it:**
Two of the instructional videos got to switch on to each other.
Applied Accessibility: Make Screen Reader Navigation Easier with the header Landmark (Watch a Video) shows a video for Applied Accessibility: Make Screen Reader Navigation Easier with the nav Landmark
*Vice Versa

**Add a Link to the page with the problem:**

https://learn.freecodecam

[2019-06-26 15:56] RandellDawson commented on #36333
@vownfinel Thanks for you reporting the issue.  Actually, the mixup was fixed on PR https://github.com/freeCodeCamp/freeCodeCamp/pull/3489, but since the master branch has not been deployed to production since October, it is not reflected on the site.  Once it gets deployed (which we hope is soon), the correct video will show for each challenge.  I am closing this issue as we are just awaiting a d

[2019-06-26 15:56] #36333 closed

[2019-06-26 15:59] vownfinel commented on #36333
@RandellDawson that was fast! this is my 1st post.

Thank you so much! Hope you have a good day ahead.

Regards,

[2019-06-26 16:37] mrbig033 opened #36334 "Editor doesn't work with Ghost Text or Atomic Chrome"
#### Runtime Environment

- MX Linux 18
- GNU Emacs 27.0.50

#### Issue

[GhostText](https://github.com/GhostText/GhostText) and [Atomic Chrome](https://github.com/danhper/atomic-chrome) are Google Chrome extensions that allow me to synchronize any text area in the browser with my text editor of choice, Emacs, using [this package](https://github.com/alpha22jp/atomic-chrome). It seems to work every

[2019-06-26 16:54] RandellDawson commented on #36334
@raisedadead What are your thoughts?

[2019-06-26 17:19] mrbig033 commented on #36334
I'm a beginner in programming and WebDev and have no experience with JavaScript. But my guess is that whatever signal these packages use to communicate is not available in the freeCodecamp's editor.

I'm sorry I can't be more helpful.

[2019-06-26 18:01] ojeytonwilliams commented on #36324
Turns out I wasn't looking hard enough.  My PR, https://github.com/freeCodeCamp/freeCodeCamp/pull/35864 caused it, so I'll just revert that if I can't come up with a better solution.

[2019-06-26 18:36] RandellDawson commented on #36330
@Edwinyms I see what you mean on the production site.  There were some changes made a while back on the master branch of the repo which fix this issue, but the changes have yet to be deployed.  I am closing this issue for now, because I have validated your code fails the tests as it should using the latest master branch code.

[2019-06-26 18:36] #36330 closed

[2019-06-27 00:24] cryptographicfool opened #36335 "Empty white space between the navbar and main content under dark theme."
**Describe the bug**
On the curriculum page, there is empty white space between the navbar and main content when viewed in dark theme.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://learn.freecodecamp.org/'
2. Make sure you have dark/night theme enabled.
3. Scroll all the way up and notice a white space visible just under the navigation nbar.

**Expected behavior**
There shou

[2019-06-27 02:14] raisedadead commented on #36334
Thanks for your interest and we would love to support this, but unfortunately we do not have the bandwidth on the core development team, to work through these 'nice to have' features.

We are open to a pull request though.

[2019-06-27 02:14] #36334 closed

[2019-06-27 02:15] raisedadead commented on #17698
Hi @Yariandres you may have duplicate accounts. Can you send us an email `dev at freecodecamp dot org`

[2019-06-27 06:26] huyenltnguyen commented on #36316
The `README.md` files in `/docs/*` are translated from the [Documentation Quick Reference](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/README.md), which is the `README.md` in the `/docs` directory. This file is different from the on in the root directory, though.

This means PR #36202 and #36282 are not related to each other.

Regarding the root directory cleanup, I'd suggest we:

[2019-06-27 07:07] huyenltnguyen commented on #36316
Hey @nguyenami, thanks for giving us a hand!

As Tom said, we welcome translation of documentation in any language, so feel free to work on them. I speak Vietnamese, so I can help review your PR once you're done.

You should follow the [Contribution Guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md) to get started, and drop a line in the [Contributors chatroom](h

[2019-06-27 07:48] #35574 closed

[2019-06-27 08:10] huyenltnguyen commented on #36178
I think this is an issue with Glitch.

It was reported in #34798, and in the forum as well (https://www.freecodecamp.org/forum/t/help-with-glitch-introduction-to-the-basic-node-and-express-challenges/251566).

TL;DR: You need to make sure you're logged in with your GitHub account in order for it to work.

---
I'm closing this issue as it is a duplicate. Further discussion should be in posted the o

[2019-06-27 08:10] #36178 closed

[2019-06-27 13:51] cryptographicfool commented on #36335
An update on the white space issue, it is visible on all pages under learn.freecodecamp.org.

Screen-shots for reference:
![Screenshot-2019-6-27 Responsive Web Design Projects - Build a Personal Portfolio Webpage Learn freeCodeCamp}](https://user-images.githubusercontent.com/51486480/60271741-874ce200-9910-11e9-80a3-d70185f7c08b.png)
![Screenshot-2019-6-27 Basic JavaScript Compound Assignment With

[2019-06-27 14:57] lasjorg commented on #36325
There was a PR for this which fixes that specific issue (not in production yet). However I do believe the test is still broken, you can pass the test using an empty object.

This passes the (new from PR) test:

[code]

I would also like to change the name of the challenge and use properties instead of fields.

[2019-06-28 02:52] mrbig033 commented on #36334
I appreciate the candor and politeness and empathize with the very reasonable justification you're presenting. I will try to collaborate on this issue when I acquire more knowledge. Thank you very much for taking the time to answer me.

[2019-06-28 05:08] sadikn commented on #36312
So I was trying to create a username/password login for application and I was checking to get the current implementation which is just by using the email and change the same. But unfortunately I wasn't able to find that. Also I am fairly new to the passport authentication and can you give me possible pointers on that?

[2019-06-28 05:34] #36324 closed

[2019-06-28 06:27] chetan17S commented on #493
I have a best tricky solution .You just continuously press RUN TESTS button till you get a Submit your result notification.This trick works great because I also stuck in this problem.
Thanks.......

[2019-06-28 07:21] #35518 closed

[2019-06-28 08:05] #17436 closed

[2019-06-28 19:01] rofrol opened #36342 "Responsive image - should be width instead of max-width"
**Describe your problem and how to reproduce it:**
In the task there is description:

which is not true. To scale the image you need to use `width: 100%`.
**Add a Link to the page with the problem:**
https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-principles/make-an-image-responsive

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:

[2019-06-28 19:28] kiwisquash opened #36343 "Why use mlab in "Implement the Serialization of a Passport User"?"
**Describe your problem and how to reproduce it:**
Currently, the challenge named in the title says we can set up a free database on mLab.

That seems a bit odd, considering that the previous coding challenges had us create [Mongo Atlas accounts](https://learn.freecodecamp.org/apis-and-microservices/mongodb-and-mongoose).

Note that I am not advocating one service over the other. I just think it's

[2019-06-28 21:07] lasjorg commented on #36342
It does exactly what it says it does.

Example:
https://codepen.io/anon/pen/orpMBB

[2019-06-28 22:49] #35557 closed

[2019-06-29 07:54] zelol opened #36345 "Functional Programming: array sorting challenge should suggest to not mutate original array"
Nowhere in the description is suggested to avoid mutating the original array. I think it would be cool to remind people to not mutate variables as It's a fundamental concept of functional programming.

We should add a note saying: The sort() method does not returns a new array but mutate the original array. Use the slice() method to avoid this.

What do you think?

**Link to challenge**
https://le

[2019-06-29 07:57] zelol commented on #36345
My bad everything is reminded in the next challenge ^^

[2019-06-29 07:58] #36345 closed

[2019-06-29 09:16] raisedadead opened #36852 "Implement Chinese news i18n as per guidelines"
https://docs.ghost.org/api/handlebars-themes/helpers/translate/

[2019-06-29 11:54] Cunning0fDesires opened #36346 "ES6: an Export Fallback with export default"
**Describe your problem and how to reproduce it:**

My initial solution was the following:

export default function subtract(x,y) {
return x - y;
}

It didn't accept it.

But as I wrote it in one line, it worked:

export default function subtract(x,y) {return x - y;}

But the challenge itself says to write it as in my initial code. It should work

**Add a Link to the page with the problem:**
https

[2019-06-29 12:04] RandellDawson commented on #36346
You do not have the correct solution.  It is not a bug in the challenge tests.  I suggest creating a topic on the forum so someone can help guide you to a solution.

Closing this issue, since it is a problem with your code vs. a bug.

Thank you

[2019-06-29 12:04] #36346 closed

[2019-06-29 12:07] Cunning0fDesires commented on #36346
I already solved it. The code itself is the same, the difference is how it's written - in one line or two. I changed the screenshot - check again. I don't need any guidance

[2019-06-29 12:24] Cunning0fDesires opened #36347 "An Export Fallback with export default in ES6"
**Describe your problem and how to reproduce it:**

Hi, since my last report was closed for no reason and didn't even read properly, I have to report it once again.

My initial solution was the following:

export default function subtract(x,y) {
return x - y;
}

It didn't work

But then I wrote the SAME code in ONE line, and it worked:

export default function subtract(x,y) {return x - y;}

Hence,

[2019-06-29 13:22] RandellDawson commented on #36347
@Cunning0fDesires I see what you mean now.  After looking at older issues which have been closed, this was already reported in the past and was fixed on our master branch.  The master branch fix has not been deployed to production, so it is not yet working correctly.

I am closing this issue, because the fix has already been made and is just waiting on a deployment.  You can see below where I have

[2019-06-29 13:22] #36347 closed

[2019-06-29 13:23] RandellDawson commented on #36347
Also please not.  If you ever have more information to add to an issue which has been closed, you can simply reply back to the same issue (which is preferred) instead of creating a new one.

Thank you.

[2019-06-29 13:24] Cunning0fDesires commented on #36347
Alright, thanks

[2019-06-29 16:44] huyenltnguyen commented on #36320
@raisedadead I've updated my original post to add the affected doc files.

I also found that we would need to update article links in many guide articles as well, since they are using Medium link (`medium.freecodecamp.org/article-title`).

[2019-06-29 21:29] mtpiercey opened #36348 "NPM Introduction Page has a typo"
On https://learn.freecodecamp.org/apis-and-microservices/managing-packages-with-npm, there's a minor typo (looks like a Markdown error, but I'm not sure) regarding the ```node_modules``` folder.

![fcc_npm_typo](https://user-images.githubusercontent.com/22581026/60389647-5943db00-9a93-11e9-950d-b4e1f2cb1d40.jpg)

[2019-06-29 23:39] rmfranciacastillo commented on #36348
Seems that in the latest pull this typo was fixed.

https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/pages/learn/apis-and-microservices/managing-packages-with-npm/index.md

[2019-06-30 02:41] mtpiercey commented on #36348
Glad to hear it!

[2019-06-30 02:41] #36348 closed

[2019-06-30 04:30] hemanthsavasere opened #36351 "Get a hint link broken for "Basic CSS: Improve Compatibility with Browser Fallbacks""
**Describe your problem and how to reproduce it:**
Get a hint link is broken. Getting 404 error status code.
Steps to follow:-
- Go to the "Basic CSS: Improve Compatibility with Browser Fallbacks" coding challenge.
- Click on get a hint on the left side.

**Add a Link to the page with the problem:**
https://guide.freecodecamp.org/certifications/responsive-web-design/basic-css/improve-compatibility

[2019-06-30 04:52] RandellDawson commented on #36351
@hemanthsavasere This issue was resolved by pull request https://github.com/freeCodeCamp/freeCodeCamp/pull/34728, but does not show on the production site due to the fact that the master branch has yet to be deployed to the production site.  We are hopeful this deployment will take place soon.

[2019-06-30 04:52] #36351 closed

[2019-06-30 18:07] pathgeek commented on #15662
@Nirajn2311  this isn't a solved issue.

[2019-06-30 18:13] RandellDawson commented on #15662
@pathgeek There is a fix, but it has not been deployed to production.  Once the master branch has been deployed, users will not experience this issue anymore.  We hope to have master ready to be to deployed in the near future.

[2019-06-30 20:13] raisedadead commented on #36320
The old links should redirect automatically, we do not have to worry about those.

[2019-06-30 22:49] IAmTheUnderTaker commented on #36153
I think this is good for starters

[2019-07-01 07:06] dependabot-preview[bot] opened #36353 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-01 07:06] #36353 closed

[2019-07-01 07:06] dependabot-preview[bot] opened #36354 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-01 07:06] dependabot-preview[bot] opened #36355 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-01 07:06] #36355 closed

[2019-07-01 07:06] dependabot-preview[bot] opened #36356 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-01 09:08] sadikn opened #36362 "localhost:3000 redirects"
When I try to navigate to localhost:3000 in my "production current" branch from git it redirects me to "http://localhost:8000/404?messages=danger%5B0%5D%3DWe%2520couldn%2527t%2520find%2520path%2520%252F". Why is this happening and am I missing something?

[2019-07-01 18:41] thecodingaviator commented on #14234
@Flarp I think we understand. Where can we find the work you've done and were referring to?

[2019-07-01 20:18] moT01 commented on #36362
What is supposed to happen? `localhost:8000` should be your local development address - right?

[2019-07-01 20:19] moT01 commented on #36342
So is this still a problem @rofrol? Seems to make sense to me. Can you close this please if you think it's fine.

[2019-07-01 20:21] #36283 closed

[2019-07-02 05:58] AlvaroLuken opened #36365 "Final Projects Accept Any Link as a Solution"
**Describe the bug**
(SORRY IF REPEAT) Any arbitrary link is accepted as a solution for the Responsive Web Design Projects (and thus I am assuming for all other project pages). Links like https://facebook.com and https://www.amazon.com are accepted as solutions. Curriculum is checked off only if user selects 'Submit and go to next project'.

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2019-07-02 07:23] arantebw commented on #36362
I did encounter this as well when I was trying to pull-up the API Server which is ```localhost:3000/explorer```. Is this an expected behavior?

[2019-07-02 08:30] rofrol commented on #36342
Right. It scales down. Closing.

[2019-07-02 08:30] #36342 closed

[2019-07-02 19:16] germangamboa95 commented on #34494
Is this issue still open?

[2019-07-02 23:30] #35543 closed

[2019-07-03 03:25] vishwasnavadak commented on #36365
This is a good catch.

I just checked for other project pages like frontend library and data visualization projects, all of them accept random links too. This makes anyone claim any certificates easily.

[2019-07-03 03:28] xJuggl3r commented on #18193
ES6 Solution still not working

![image](https://user-images.githubusercontent.com/50606269/60561243-e51e6700-9d20-11e9-819a-b4bdb6295960.png)

[2019-07-03 04:03] sadikn opened #36369 "Docker mongo db image not updating"
I have updated the seedAuthUser.js to add some new fields and I have run the "npm run docker:seed" command but I am getting the old db values and can't see the new fields I have added. Is there anything else I need to update?

[2019-07-03 09:43] #36030 closed

[2019-07-03 10:11] raisedadead commented on #34494
This is being closed, we are moving our guides to forum. I believe we would have to use independent apps again.

[2019-07-03 10:11] #34494 closed

[2019-07-03 13:12] ojeytonwilliams commented on #36362
Going to `localhost:3000/explorer` should pull up the LoopBack API explorer which looks like this:
![LoopBack](https://user-images.githubusercontent.com/15801806/60594232-c792e100-9da4-11e9-8d61-595af3c66d7c.png)

Generally speaking just navigating to a server url (i.e. port 3000) doesn't work, because you need to provide a token demonstrating that you're authenticated.

[2019-07-03 14:09] Ronkiro commented on #36365
There are three issues about this same topic.
Issue #34763 was closed in favor of #35015, in which ended up with this issue #35054.
I think you could share some ideas around those issues. I think your solution is nice, but would still open space for empty pens, for example...

[2019-07-03 21:14] Flarp commented on #14234
https://github.com/Flarp/curriculum and https://github.com/Flarp/freeCodeCamp

[2019-07-04 11:03] sadikn opened #36372 "Login 401 error"
I am trying to have a login set up in the application and I am using the loopback login and its throwing a 401 Unauthorized error. can you guys help?

[2019-07-04 11:16] greenboyroy commented on #36214
Hi all,

I know this issue was closed but I have just hit the same wall. Unsure of how to solve the challenge, I clicked 'Get a hint' which lead me to a solution containing code that had yet to be taught in the curriculum. From the perspective of someone learning this material, it's a bit of a kick in the teeth that the 'solution' provided is something I couldn't possibly know just by going throug

[2019-07-04 11:42] ME-ON1 opened #36373 "articles"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2019-07-04 11:42] #36373 closed

[2019-07-04 21:24] mtpiercey opened #36375 "Add Keywords to your package.json challenge not working"
As the challenge stated, I added some words to my ```package.json``` file in my Glitch app (https://shaded-brook.glitch.me/). The challenge said one of the words had to be ```freecodecamp```, so I put it there.

[code]

Below is my full ```package.json```:

[code]

However, when I press the ```I've completed this challenge``` button after inputting "https://shaded-brook.glitch.me/" into the blank,

[2019-07-04 21:41] mtpiercey opened #36376 "Start a Working Express Server Challenge - Suggestion to make less confusing"
So, I was doing the "Start a Working Express Server" challenge as part of the "Basic Node and Express" block in the "APIs and Microservices Certification", and I struggled with the instructions for a bit. There is a line in the instructions that says:

[code]

Now, I know what that's supposed to mean (now), but I was confused about it for a while since I didn't notice the space between ```/``` and

[2019-07-04 22:00] arshdkhn1 opened #36377 "Remove global flag from the regex in solution of `No Repeats Please` problem"
**Describe your problem and how to reproduce it:**
The code solution uses global flag in regex, which should not be used unless you really want to use a global flag. The solution works fine, but it is prone to error. Try replacing match with RegExp.test and you ll see the issues that I am talking about.

See - [why-does-a-regexp-with-global-flag-give-wrong-results](https://stackoverflow.com/questi

[2019-07-04 22:05] arshdkhn1 commented on #36377
Also `var permutations` should be assigned an empty array instead of `<a href='https://forum.freecodecamp.com/images/emoji/emoji_one/rocket.png?v=3 ":rocket:"' target='_blank' rel='nofollow'>];`

[2019-07-05 01:24] RandellDawson commented on #36377
I will take care of this.

[2019-07-05 02:39] mtpiercey opened #36378 "Get JSON with the JavaScript XMLHttpRequest Method - Test seems arbitrary"
For the "Get JSON with the JavaScript XMLHttpRequest Method" challenge, I noticed that the checkbox ```Your code should have an onload event handler set to a function.``` didn't light up when I tried to use an (apparently valid and working) ES6 arrow function:

[code]
^ Unless I'm missing something, this should work (and it seemed to - when I clicked the button in the challenge the paragraph's tex

[2019-07-05 04:49] RandellDawson commented on #36378
@mtpiercey This issue was fixed a while back on the master branch but we are waiting for the master branch to be deployed to production (so you can see it).  In the mean time, I used your code in the latest version of master (I have setup the repo locally) and you can see it passes the tests.

In the future, you should search through the closed issues to see if someone has already reported the iss

[2019-07-05 04:49] #36378 closed

[2019-07-05 05:05] RandellDawson commented on #36377
@arshdkhn1 I created the necessary pull request to fix the Guide.  Once it is merged, we will still have to wait for the master branch to be deployed to the production site.

[2019-07-05 09:09] ojeytonwilliams opened #36381 "Dealing with legacy lifecycle methods"
As mentioned in https://github.com/freeCodeCamp/freeCodeCamp/pull/35894 and https://github.com/freeCodeCamp/freeCodeCamp/pull/35895#issuecomment-508145165 there are still challenges that use legacy React lifecycle methods.

Let's discuss what we should do with those challenges.

Personally, I think [the challenge](https://learn.freecodecamp.org/front-end-libraries/react/manage-updates-with-lifecyc

[2019-07-05 09:41] JulianNF opened #36382 "Certificate's style places top border above viewport on certain viewport sizes"
# Issue Description

When viewing certificates, if:
* the viewport width is greater than 768px, and
* the viewport height is less than ~1000px,

then the top border of the certificate is rendered above the top of the viewport, and thus cut off. This looks unprofessional.

This issue does not appear to happen at smaller screen sizes as the media queries remove the `.container` div's border.

# Soft

[2019-07-05 10:01] ojeytonwilliams commented on #36382
Hey, thanks for the report.  Could you take a screenshot of the problem?  I tried various window sizes and could not find one which cut off the border.  Generally it looks like this:
![Certificate](https://user-images.githubusercontent.com/15801806/60714952-3fcfe280-9f1c-11e9-9dac-4040258c34be.png)
In the console so you can see the size of the window.

[2019-07-05 10:05] JulianNF opened #36383 "Certificate print styles need updating - many bugs, including missing header"
# Issue Description

When printing certificates, the result is very messy. Even when enabling "print background images", the header (including the logo) doesn't appear.

The signature is enormous, and there are also other ~~smiler~~ smaller style issues (e.g. the verification URL in the footer breaks over two lines).

# Sample print results

When printed in landscape mode, broken over two pages :s

[2019-07-05 10:24] JulianNF commented on #36382
Sure thing!

![certificate - clipped top border](https://user-images.githubusercontent.com/21272816/60716437-ab677f00-9f1f-11e9-9c14-1a6870359465.png)

[2019-07-05 10:59] ojeytonwilliams commented on #36382
Thanks!  I've finally managed to reproduce it - I just need to figure out why it only seems to be an issue on Windows.

[2019-07-05 13:17] ilbalance opened #36384 "OpenCV.js tutorial at freeCodeCamp.org"
Greetings!
We are Summer Intel Interns.
Our team would like to collaborate with freeCodeCamp.org project.

We want to create beginner's course about OpenCV.js. The course will include topics like: installing, resize image and image processing, camera management and others by means of short theory sentences, interactive examples, tasks for self test.

Based on this, better way to create this course

[2019-07-05 13:25] ojeytonwilliams commented on #36382
@JulianNF I had a look at this on master and discovered that the buggy behaviour isn't there any more.  In the process I found that there is some redundant css associated with this, which I'll see about removing.

However, I'm closing this, since the fix is on the way.  Thanks again for the report!