[2017-10-16 04:53] nazmulhooque commented on #6073
Answer
function orderMyLogic(val) {
  if (val < 5) {
    return "Less than 5";
  } else if (val < 10) {
    return "Less than 10";
  } else {
    return "Greater than or equal to 10";
  }
}

orderMyLogic(7); // Less than 10

[2017-10-16 04:55] nazmulhooque commented on #6073
Mr. @misterds
Please use this code

function orderMyLogic(val) {
  if (val < 5) {
    return "Less than 5";
  } else if (val < 10) {
    return "Less than 10";
  } else {
    return "Greater than or equal to 10";
  }
}

orderMyLogic(7); // Less than 10

[2017-10-16 14:02] tchaffee commented on #15941
@QuincyLarson yes, I'll submit a PR to include this in sample.env.

[2017-10-16 14:03] tchaffee commented on #15941
For the key in sample.env, I'll be using `IMAGE_BASE_URL` since that's more accurate than `IMAGE_PATH`.

[2017-10-16 14:14] ecotg commented on #15826
Hi, yes already started work on this. Should have a PR ready sometime this week. Sorry for the delay

[2017-10-17 04:38] kgwebsites opened #15967 "Dynamic variable in for loop causes crash"
#### Challenge Name

Sum All Odd Fibonacci Numbers

https://www.freecodecamp.org/challenges/sum-all-odd-fibonacci-numbers

#### Issue Description

When entering in the parameter of the function as a variable in the for loop in the max place as shown below, it causes an endless loop and crashes the browser.

#### Browser Information

* Chrome, Version: 61.0.3163.100
* Operating System: MacOS Sierra

[2017-10-17 06:13] QuincyLarson commented on #4201
@BerkeleyTrue What do you think of @raisedadead's proposed tool? Should we give him the green light to experiment with it while you work on other parts of the platform?

[2017-10-17 06:17] QuincyLarson commented on #15941
@tchaffee OK - I agree that that's more descriptive.

[2017-10-17 14:45] raisedadead commented on #4201
@BerkeleyTrue yup, ava.js is totally dope, and while I haven't yet official used it in any of my production projects, but having gone through some of the writeups and a tinkering around, I can clearly see why its on rage.

And, to the best of my knowledge, Karma is a (cross-platform) engine which supports any testing framework you plug it into. So, while I am yet to confirm if it will play well wi

[2017-10-17 15:50] BerkeleyTrue commented on #4201
@raisedadead if you can get ava working with Karma that would be great, but I suspect it will not be easy. We may end up using mocha/karma for challenge testing and ava for everything else.

[2017-10-17 18:20] raisedadead commented on #4201
@BerkeleyTrue sure thing, I'll give this a try and let you know. Thanks for the feedback.

[2017-10-17 18:34] raisedadead commented on #15967
I am inclined to close this as a edge case because what we could device numerous such cases and having checks against them would be tedious in browser.

The loopProtect library that we use for preventing loops seems not to catch them, I am tagging as help wanted for more investigation.

Thanks for the issue.

[2017-10-17 18:46] tchaffee commented on #15941
@QuincyLarson, per the convo at the PR above, would it be better to use a more specific path for images? You suggested

[code]

Assuming all the images are in an images sub-folder, would the following be better?

[code]

[2017-10-17 19:24] #12631 closed

[2017-10-17 19:28] dhcodes commented on #12796
Closing as resolved? Seems to work fine now.

[2017-10-17 19:28] #12796 closed

[2017-10-17 22:05] zk433 commented on #15942
Hi @Velveeta , @pdotsani , @martindavid , have you started working on any of the items?

I checked with @QuincyLarson about how best to approach such collaboration (multiple items on one page) and his advise was to pair program, that way you can collaborate without duplicating effort or creating merge conflicts. So I just wanted to check if you started working and if you are having any issues.

Le

[2017-10-18 00:04] wildlifehexagon commented on #12796
Yeah looks good, thanks for closing!

[2017-10-18 00:36] Velveeta commented on #15942
I did mark off the icon items yesterday as work I was carving off for myself, since they're most likely going to descend from a base "icon" type of class and just going to be subtly differentiated, and I marked it off on the checklist above. I don't see any other worked marked off yet, and I didn't get too far before getting sucked back in to work items.

As far as pair programming, that's a great

[2017-10-18 06:58] zk433 commented on #15942
@Velveeta I would love to pair program with you! I want to learn more about React, I know the theory but the practise is somewhat lacking 😄 . Could you please send me an email (zk0433@gmail.com) if you are interested in working with me? Thank you.

[2017-10-18 07:12] fizzvr commented on #15917
I agree

[2017-10-18 14:53] IamHDT opened #15972 "Application does not load completely sometimes."
This issue is already happening on https://beta.freecodecamp.org/en/challenges/join-the-freecodecamp-community/learn-how-freecodecamp-works
#### Screenshot
<img width="1540" alt="screen shot 2017-10-18 at 21 51 14" src="https://user-images.githubusercontent.com/26920327/31725478-b16f4b0c-b44e-11e7-9521-eaabb1e8689b.png">

[2017-10-18 15:46] marienhof opened #15973 "Beta doesn't work at all on iPad Air"
#### Challenge Name

Every challenge

#### Issue Description

Nothing works and everything looks incomplete

#### Browser Information

* User Agent is: Mozilla/5.0 (iPad; CPU OS 10_3_3 like Mac OS X) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.0 Mobile/14G60 Safari/602.1.

#### Your Code

[code]
#### Screenshot

https://discourse-user-assets.s3.amazonaws.com/original/3X/d/b/dbaf8d414f73d068

[2017-10-18 16:24] DevMaterial commented on #15956
Hey guys, I removed the "email us at team@freecodecamp.org" button from the UI. I ran the tests and everything passed. Is it ok if I made a pull request? @QuincyLarson

[2017-10-18 16:44] Pethaf opened #15975 "Redux Challenge 7 Wording in the description and the tests potentially misleading"
#### Use a Switch Statement to Handle Multiple Actions

http://hysterical-amusement.surge.sh/

#### Issue Description

The description says that the the reducer should return an object with the authenticated property set to either true or false. The test description says

    Dispatching loginUser should update the login property in the store's state to true.
    Dispatching logoutUser should upda

[2017-10-18 20:38] prateekgoel commented on #13613
Can anyone please review the PR?

[2017-10-19 00:05] smkatz commented on #7199
I actually found this bug while searching for what was meant by the in range language added here, given that it was different from the language before. Also, to the husband who helped his wife, maybe having your wife participate in these conversations would be good as so many of this issues are cross-cultural/diversity issues.

[2017-10-19 00:53] BolajiOlajide commented on #15956
Hey! Has this issue been fixed @QuincyLarson ?

[2017-10-19 03:07] kevcomedia opened #15984 "Can confirm the ending with endsWith using bracket notation"
#### Challenge Name

https://www.freecodecamp.org/challenges/confirm-the-ending

#### Issue Description

It's possible to pass **Confirm the Ending** with the `endsWith` method by using bracket notation.

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-10-19 03:45] #15964 closed

[2017-10-19 05:40] raisedadead commented on #15956
This has been fixed on production, and we are awaiting a migration the react version in our beta branch. Please check related issue  #15942

[2017-10-19 09:24] garritfra opened #15989 "Other Languages?"
I'd find it cool if other languages like german or spanish would be supported.
I don't know how much effort that would require, but I'd love to hear your opinion of this!

[2017-10-19 09:45] garritfra commented on #15989
[This file](freeCodeCamp/seed/challenges/01-responsive-web-design/basic-html-and-html5.json) shows that there are multiple languages. Sorry 'bout that! Issue should be closed.

[2017-10-19 12:28] garritfra opened #15991 "Pointer is clippy"
#### Challenge Name
[responsively-style-radio-buttons
](https://www.freecodecamp.org/challenges/responsively-style-radio-buttons) (if relevant)

#### Issue Description

I have a problem where the cursor can't "reach" the far right area of the code editor. When I try to navigate to the right, the pointer breaks to the next line. Unfortunately I didn't do anything specific that could reproduce this

[2017-10-19 14:11] adityaparab commented on #15792
@QuincyLarson @BerkeleyTrue : Raised new PR with map link issue fixed. Please take a look.

[2017-10-19 19:49] dhcodes commented on #15989
@garritfra yes, they are not currently working in beta but will be before it's released. Should you want to add to the translations, please feel free to do so by submitting a PR.

[2017-10-19 19:49] #15989 closed

[2017-10-19 19:53] dhcodes commented on #15991
This is fixed in beta. Closing as duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/7847

[2017-10-19 19:53] #15991 closed

[2017-10-19 19:54] dhcodes commented on #15975
@Pethaf Please copy/paste your issue text and open it at https://github.com/bonham000/fcc-react-tests-module/issues

Thanks, closing this one.

[2017-10-19 19:54] #15975 closed

[2017-10-19 19:58] dhcodes commented on #12645
@systimotic this seems to be fixed. Can you confirm and close?

[2017-10-20 05:33] martindavid commented on #15859
@QuincyLarson @BerkeleyTrue anyone working on this? @fumblehool have you started working on this? If you haven't, I'd like to take this one.

[2017-10-20 14:35] IAmMyself commented on #15967
The problem here is that something **_handling_** the returned data is not expecting an array, not that the original loop itself is going on _ad infinitum_.

[2017-10-20 16:10] caene commented on #7528
This issue is still a thing, apparently.

[2017-10-20 17:07] padi opened #15999 "One of the compliments doesn't work for females."
#### Issue Description
The random compliment "You're king of the world!" assumes that the person who's going thru the lessons is a male.

I'm not sure how to make that appear again since it only appears for a few seconds after running tests with (ctrl+enter).

Tried to fix it with https://github.com/freeCodeCamp/freeCodeCamp/pull/15998/files

[2017-10-21 05:01] MikeMullen227 opened #16002 "text bubble created when cursor hovers over warning icon hidden by navbar"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/es6/explore-problems-with-the-var-keyword

#### Issue Description

After writing "use strict" at the top of the editor, the warning icon appears to the left. When the cursor hovers over it, the text bubble that describes the issue is covered by the navbar making it unreadable.

#### Browser Information

* Browser Name, Version: Googl

[2017-10-21 15:20] Barkha54 commented on #15967
Hi, I'm cloning the FCC repo onto my windows laptop and while running gulp it is showing me could not find module babel-core/register. I tried installing babel-core using npm install babel-core/register but it is showing me a lot of errors.

![image](https://user-images.githubusercontent.com/24354626/31853131-53d233ec-b6a1-11e7-992e-5203ac6fa6ff.png)

Can someone help me with this please?

[2017-10-21 18:25] aaronang opened #16004 "Unindent without selection"
#### Issue Description

When pressing SHIFT + TAB, the expected behavior is that the code will always unindent. This behavior is true for Chrome DevTools, Atom, VSCode, PyCharm, etc. However, in the FCC code editor, this is not the case. In fact, when nothing is selected and SHIFT + TAB is pressed, the line will actually indent instead.

#### Browser Information

* Browser Name, Version: Chrome 61

[2017-10-21 21:19] lindakatcodes commented on #15878
Alright, bit of a status update. Apologies if this is long!

I submitted a pull request to the repo @MiloATH made (https://github.com/MiloATH/WeatherAPI/pull/3) with a few small fixes. I added some extra information to the main API view that explains the min/max temp issue, and gives some extra links to open weather map's docs for weather descriptions and the current weather, if any other informat

[2017-10-21 22:45] HTMLNoob commented on #16002
Confirmed this
![screenshot 2017-10-21 17 44 26](https://user-images.githubusercontent.com/16970112/31856475-998d0c1e-b687-11e7-9e3b-d77618f11503.png)

[2017-10-22 02:10] mtpjr88 opened #16005 "lesson 12 "Use CSS Selectors to Style Elements " does not pass"
The Lesson wants you to style a h2 element changing the color to red, but it does not have the h2 element written. Thus will not pass unless you code in the h2 element.

####  Use CSS Selectors to Style Elements

https://www.freecodecamp.org/challenges/use-css-selectors-to-style-elements

#### Issue Description

#### Browser Information

* Browser Name, Version: Google Chrome Version:
Version 62.0

[2017-10-22 08:15] sanatankc commented on #15955
is this issue still open? may i fix this?

[2017-10-22 13:57] belatrixi commented on #1388
I get the same error. :(

[2017-10-22 14:20] TheHollidayInn commented on #16005
This seems to be fixed on staging: https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/01-responsive-web-design/basic-css.json#L151

[2017-10-22 20:58] zk433 commented on #16005
@mtpjr88 Can you please clarify what you mean?

As far as I understand, the lesson wants you to change the h2 element to a .red-text class instead and change the color to red. Then apply this class to the h2 element.

Thank you.

[2017-10-23 01:48] mtpjr88 commented on #16005
Yeah so it tells you to style the h2 element and when a newbie does what it says they don't relize that the h2 element isn't coded in the "body", so it will not pass.  The only way to get it to pass is to make sure you add the h2 tags. Otherwise they aren't provided.
[code]

[2017-10-23 05:01] raisedadead commented on #15956
Closing. please follow related issue in comment above.

[2017-10-23 05:01] #15956 closed

[2017-10-23 18:49] #15999 closed

[2017-10-23 19:29] raisedadead commented on #15726
@ResamVi thanks for working on this and fixing the tests.

**NOTE**
This is still open for a fix on `backup/master` branch (production site) for any one instrested.

[2017-10-23 19:52] #16004 closed

[2017-10-23 20:04] #14912 closed

[2017-10-24 02:09] huyenltnguyen commented on #16005
@mtpjr88 Actually, the challenge asks you to change the h2 from red to blue using the `<style>` element instead of inline styling. I personally think the word `blue` in the instruction should be highlighted to avoid confusion. What do you think?

[2017-10-24 03:28] friscomm commented on #15984
can I give this one a shot? anybody else called dibs on this?

[2017-10-24 14:03] #15945 closed

[2017-10-24 15:06] dhcodes commented on #15984
Go forth @friscomm. I don't know that anyone is working on it.

[2017-10-24 15:34] dhcodes commented on #16005
The `h2` is coded in the challenge. Campers need only removed the inline style. Closing as such.

[2017-10-24 15:34] #16005 closed

[2017-10-24 16:11] dhcodes commented on #16002
Fixed. Thanks for this issue; I needed a good hacktoberfest PR

[2017-10-24 16:29] MikeMullen227 commented on #16002
No problem!

On Tue, Oct 24, 2017 at 12:17 PM Dylan <notifications@github.com> wrote:

[2017-10-24 17:26] #16002 closed

[2017-10-25 00:22] Dayfiri commented on #15967
Hey, @Barkha54
As I am looking at your `cmd` output, it seems to me that you don't have a problem with Gulp but with npm and fetching the remote repository you're trying to clone.
You can see one of many errors  saying:
`Permission denied` and `Could not read remote repository`.
Can you please elaborate how did you "clone" the FCC repository ?
Did you `Fork` it before cloning to your PC ?

[2017-10-25 00:32] DaveOrDave opened #16027 "Can’t Link FreeCodeCamp to Github"
#### Challenge Name

#### Issue Description
The forum side of my FreeCodeCamp account is linked to Github, but I absolutely cannot linked my main FreeCodeCamp account that shows the progress I’ve made to Github. Since I wasn’t very far along, I even completely deleted my Github account and recreated it.  *Now I’ve even deleted and re-created my FreeCodeCamp account (I guess I could use review), an

[2017-10-25 04:51] QuincyLarson commented on #15859
@martindavid This is a production issue, and it should be fixed in beta. So I'm going to close this issue and we can focus on beta issues. We would welcome your help on other issues :)

[2017-10-25 04:51] #15859 closed

[2017-10-25 04:58] QuincyLarson commented on #4201
@raisedadead Thanks for giving this a try. Have you had a chance to experiment with it much yet?

[2017-10-25 04:59] QuincyLarson commented on #15941
@tchaffee Thanks for your extreme patience. Yes - I agree that we should namespace these. I've  created that folder and we can put those images there.

[2017-10-25 05:15] QuincyLarson commented on #15878
@lindakatcodes Awesome! I left a comment on your PR.

@vkWeb @AshishkrGoyal what are your thoughts on @lindakatcodes's findings?

[2017-10-25 06:37] JustusFT commented on #15839
Hi, is anyone working on this issue? I would like to help fix it.
Also, the nav breaks at 856px for me on Firefox. Chrome breaks at 810px.

[2017-10-25 06:40] garritfra commented on #15917
I was wondering about a similar problem, but this answer is related
https://github.com/freeCodeCamp/freeCodeCamp/issues/15989

[2017-10-25 07:17] jamal-pb95 commented on #15984
Yes, you can pass with bracket notation.

## Browser Information

- Browser Name, Version: Google chrome v61
- Operating System: Windows 7
- Mobile, Desktop, or Tablet: Desktop

[2017-10-25 08:04] adityaparab commented on #15792
@QuincyLarson : I just noticed that on my home computer I had enabled dark theme. So when I open FCC the colors look really bad

![image](https://user-images.githubusercontent.com/5561498/31987356-3210ee48-b989-11e7-8ba2-17426916f3b4.png)

Will create another issue and raise PR to get the colors right.

[2017-10-25 08:07] adityaparab opened #16030 "Wrong navbar color combination for dark theme"
With latest merge of #15993 the colors for dark theme are broken.

#### Screenshot

![dark-theme](https://user-images.githubusercontent.com/5561498/31987502-a21e4848-b989-11e7-809b-11d548197a02.png)

[2017-10-25 08:08] adityaparab commented on #16030
I'll be fixing this in some time.

[2017-10-25 09:50] Pethaf opened #16031 "[beta] Differentiate between SASS and SCSS"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/sass/introduction-to-the-sass-challenges

#### Issue Description

The wording on the Sass challenges are a bit confusing. The syntax uses in the challenges is acutally SCSS. This can cause confusion if attempting to write sass on codepen.

[2017-10-25 13:26] Barkha54 commented on #15967
Hi,

Thanks for your response.

Yes, I did fork the repository before cloning it. Then I cloned my version
of the repository and added the freeCodeCamp repo as my upstream
repository. I followed all the instructions as mentioned in the
CONTRIBUTING.md file.

Not sure why I am still getting this issue.

Thanks,
Barkha

On Wed, Oct 25, 2017 at 5:57 AM, Matko Hromin <notifications@github.com>
wrote:

[2017-10-25 14:03] raisedadead commented on #15967
Hi @Barkha54 please reach out to the
[Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors).

[2017-10-25 14:06] raisedadead commented on #16027
@BerkeleyTrue Looks like their deletion of GitHub account could have orphaned the UserIdentity object. Maybe this needs to be fixed in backend directly?

[2017-10-25 16:35] jamesbarrett95 opened #16032 "Create a set of radio buttons challenge not passing in Safari 11.0"
#### Challenge Name

https://www.freecodecamp.org/challenges/create-a-set-of-radio-buttons

#### Issue Description

''Each of your two radio button elements should be nested in its own label element." - This is the only task that doesn't pass in Safari 11. I used the exact same code I attached below into Chrome and it passed fine.

#### Browser Information

* Browser Name, Version: Safari 11.0
* O

[2017-10-25 17:45] raisedadead commented on #16032
Hi @jamesbarrett95

Thanks for reporting this issue.

**Your code passes for me in Safari 11. Can you confirm that this is being faced by someone else as well?**

Here are some next steps that you should follow before we can help you with your query:
- Check [these troubleshooting steps](https://forum.freecodecamp.com/t/how-to-report-a-bug/19543) first.
- Please use the [Chat Rooms](https://forum.

[2017-10-25 18:25] bgates commented on #15967
The original problem was to find the sum of odd numbers in the Fibonacci sequence less than a given `n`, but the code in the issue description will calculate _the first n numbers in the sequence_.

One of the tests involves calculating `sumFibs(4000000)`, which means dealing with every Fibonacci number less than 4,000,000 - but the 32nd number in the sequence is greater than 4,000,000. Calculating

[2017-10-25 23:11] JustusFT commented on #15839
Ok, I started working on it.
I shaved off some of the padding to give some space. Seems to work for me signed out.
But when I sign in, the username messes it up again.
![screen shot 2017-10-26 at 06 54 26](https://user-images.githubusercontent.com/7854367/32027250-9c8d0edc-ba1a-11e7-9b1b-7951c90ccdb5.png)

The username seems like its visible below 1030px; anything higher and it gets hidden.
Should

[2017-10-26 18:03] AndreyAzimov commented on #10535
Don't work on my site as well :(

`

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>

  .silver-backgroung {
  	background-color: silver;
  }

  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    borde

[2017-10-26 21:39] jamesbarrett95 commented on #16032
Tested on another Mac using Safari 11.0 and worked fine, very strange! Apologies.

[2017-10-26 21:39] #16032 closed

[2017-10-27 04:37] raisedadead commented on #4201
Yup, @QuincyLarson I am checking with the AVA team for support for official adaptor for Karma.

[2017-10-27 09:19] Spidy88 commented on #15984
I was thinking the best solution would be to override the `String.prototype.endsWith` method for this test call, have it throw an error. Unfortunately, that change seems to persist outside of the test and disables `endsWith` for all tests. Here's an example of the direction I was going, but I've hit a wall.

https://github.com/Spidy88/freeCodeCamp/commit/f6ffe41b097ef93919a7182e0b339a968091dc42

I

[2017-10-27 11:37] egosophist opened #16041 "Student unable to get certificate because **Use the Twitch.tv JSON API Incomplete   *** isn't working."
#### Challenge Name

Intermediate Front End Development Projects
(100 hours)

**Use the Twitch.tv JSON API Incomplete   ***

#### Issue Description

#### Browser Information

* Browser Name, Version: Multiple browsers
* Operating System: Computers...Mac & PC replicated.
* Mobile, Desktop, or Tablet: Android and IOS

#### Your Code

I have a student: *redacted* - We've found that this section of th

[2017-10-27 19:05] dhcodes commented on #16041
@egosophist Did you see the update about replacing the API call per below? (step 9). It seems to be working on my end:

UPDATE: Due to a change in conditions on API usage explained here Twitch.tv now requires an API key, but we've built a workaround. Use `https://wind-bow.gomix.me/twitch-api` instead of twitch's API base URL (i.e. `https://api.twitch.tv/kraken` ) and you'll still be able to get ac

[2017-10-27 19:28] egosophist commented on #16041
Yes,

My student had found and tried it...with no luck. Did we miss something...

william.green@student.mauryk12.org

Mr. Green is the 1st student who's gotten this far.

He's using the update code and it isn't working...

On Fri, Oct 27, 2017 at 2:10 PM, Dylan <notifications@github.com> wrote:

--

Sincerely,
Michael H. Twigg – M.Ed.

*L**ead Developer & SERP Specialist:* *OkayNext.com* <http://O

[2017-10-27 19:31] egosophist commented on #16041
He said this is a better email for him: commiezombie117@gmail.com

---------- Forwarded message ----------
From: Michael Twigg <michaeltwigg@okaynext.com>
Date: Fri, Oct 27, 2017 at 2:27 PM
Subject: Re: [freeCodeCamp/freeCodeCamp] Student unable to get certificate
because **Use the Twitch.tv JSON API Incomplete *** isn't working. (#16041)
To: freeCodeCamp/freeCodeCamp <
reply@reply.github.com

Yes

[2017-10-27 19:40] BrandonDH commented on #15639
Hi @QuincyLarson and @jhomme,

I am currently taking a look at the markup for the "Clear my code" and "Cancel" buttons in the "Clear your code" modal, and noticed the `aria-hidden="true"` attribute on both `<a>` tags. Are these attributes being added by JS working in the background? if not, removing those attributes should allow the button text labels to be announced via screen reader (happy to ta

[2017-10-27 20:23] rodenmonte commented on #16041
Hey man, what dhcodes said is correct, you need to use `https://wind-bow.gomix.me/twitch-api` to make your requests. For instance, if I wanted information about the user "chesscrunchertv", I could use the url: `https://wind-bow.glitch.me/twitch-api/users/chesscrunchertv`. For some more information, see `https://wind-bow.glitch.me/` as well as the Twitch API documentation pages.

[2017-10-27 20:55] jhomme commented on #15639
Hi,
Hi,
I am still a new person wen it comes to Git. If someone wants to hold
my hand a bit and help me get my local version of the site back in
sync, and help me find the code, I may be able to at least steer you
in the right direction, if I can't tell you the exact code to write. I
know a lot about the accessible parts of the code that need to be
written, even though I am just a dangerous JavaSc

[2017-10-28 01:13] dhcodes commented on #16041
I don't recommend posting your students' email addresses on a public site. I've removed them. Please see @rodenmonte's example for how to use the workaround.

[2017-10-28 02:23] denzuko opened #16044 "Bug in Shopping List that accepts incorrect values"
#### Challenge Name

https://www.freecodecamp.org/challenges/shopping-list

#### Issue Description

when using Array(5).forEach(); along with myArray.push() the tests past but values are all null which is not what the assignment is expecting.

#### Browser Information

* Browser Name, Version: Chrome
* Operating System: Windows 7
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]
#### S

[2017-10-28 03:51] walllFlower commented on #16044
`new Array(5)` create an array with 5 empty, and forEach will ignore the empty

[2017-10-28 11:22] mcne65 commented on #1033
There is no Slack channel for FreeCodeCamp worldwide. Just Gitter?

[2017-10-28 11:30] Yerucham100 commented on #1084
hi

[2017-10-28 12:31] egosophist commented on #16041
Yeah, didn't realize this wasn't private.

He responded on his own that he's tried that with no success.

What's the time frame for the exercise to be updated on the freecodecamp website?

We love all everyone does. It's just this one section confusing us.

⁣Sincerely,
Michael H. Twigg – M.Ed.
Lead Developer & SERP Specialist: OkayNext.com

"Compromise where you can. And where you can't, don't. Ev

[2017-10-28 17:03] sophyphreak opened #16047 "FCC beta map not loading, says "No Super Blocks""
#### Issue Description

For several weeks, when I go to the freecodecamp beta site, the map takes a long time to load.

Today it doesn't load at all.

#### Browser Information

* Chrome Version 61.0.3163.100 (Official Build) (64-bit)
* Windows 10
* Desktop

[code]
#### Screenshot

<img width="960" alt="2017-10-28 2" src="https://user-images.githubusercontent.com/22810755/32136703-87a59646-bc3c-11e

[2017-10-28 17:09] sophyphreak commented on #16047
I did get it to load, but I'm not 100% sure what did it.

[2017-10-28 19:48] dhcodes commented on #16041
His best bet is to ask for help on the forum or Gitter https://gitter.im/FreeCodeCamp/Help

It's hard to troubleshoot without seeing the code.

[2017-10-28 21:23] AbhishekChd commented on #15792
@QuincyLarson In production, the community dropdown doesn't open while hovering. Should I work on it?

[2017-10-28 21:35] thefifthisa opened #16050 "Alt attribute in img not recognized"
#### Challenge Name

[Add Images to your Website](https://www.freecodecamp.org/challenges/add-images-to-your-website)

#### Issue Description

Tests do not recognize the `alt` attribute in the `img` element (see code below). I think it has something to do with the hyphen? Seems to work fine with an `alt` that doesn't have it.

#### Browser Information

* Browser Name, Version: Chrome 61.0.3163.100

[2017-10-29 01:07] username1001 commented on #16050
I looked into it, and I found this: https://github.com/freeCodeCamp/freeCodeCamp/issues/13672

According to the first comment, the hyphen is indeed breaking the check. So switching out the hyphen for something like "upside down cat" should be appropriate.

[2017-10-29 01:26] thefifthisa commented on #16050
@username1001 got it! Are alt attributes not supposed to have hyphens or is it just for this particular test?

[2017-10-29 01:36] username1001 commented on #16050
@thefifthisa I did some more digging, because I had the same questions as you after reading your issue.
It seems that alt attributes should not use hyphens, and the reason behind this is SEO i.e. someone isn't going to do a search for 'cat-image', rather they'll search 'cat image'.

I think it should still pass the test, so you're right, the issue may be with FCC; though, I'm not an expert and wou

[2017-10-29 12:17] rawaaqaffaf commented on #3264
**Adding the JSON data type solved the issue for me**
var data = {
     method: "getQuote",
	 lang: "en" ,
	 format:"jsonp",
	 dataType: "jsonp"
};
$("#button").on("click", function(){
      // Only change code below this line.

  $.getJSON("http://api.forismatic.com/api/1.0/?method=getQuote&format=jsonp&lang=en&jsonp=?", data, function(jd) {
  $('#quote').html('<p> The Quote: ' + jd.quoteText + '

[2017-10-29 20:46] TheWillG commented on #15984
I solved this issue by simply added another regex conditional to the existing one.  This avoids the use of monkey patching global objects such as String.  I tested it for both .endsWith() and ['endsWith'], as well as verified it does not pick up on false positives.

[2017-10-29 21:33] QuincyLarson commented on #15792
@AbhishekChd Yes - if you can get that to work, expanding on-hover would be best :)

[2017-10-29 21:34] QuincyLarson commented on #15792
@adityaparab Yes - if you can get the menu to look better in night mode, that would be a welcome improvement! :)

[2017-10-30 10:33] cbhtesthub commented on #15072
Hello HamerWV.

I was just glancing through your problem. The first answer to your problem is correct. However, to be a little more detailed, look for your anchor tags `<a>`. You have them linked to `#`. Which is simply going to refresh your page and bring you back to the top of your page.

[2017-10-30 21:31] jhomme opened #16064 "Conflicting Instructions In JavaScript Variable Assignment Lesson"
#### Challenge Name

https://www.freecodecamp.org/challenges/understanding-uninitialized-variables

#### Issue Description

The instructions read differently than the error message when the system thinks the code does not work.

#### Instructions

Initialize the three variables a, b, and c with 5, 10, and "I am a" respectively so that they will not be undefined.

#### Error Message

a should be de

[2017-10-31 00:11] bcpete commented on #16064
I'd like to work on this!

[2017-10-31 02:46] SaujanUprety commented on #11500
s
has invited you to Wikibuy.

While you shop on Amazon, Wikibuy automatically
finds better offers from other sellers in 10 seconds.

SAVE WITH WIKIBUY ( http://wbuy.me/6XZLGB6?utm_campaign=referral&utm_source=referral_email&utm_medium=email )

( https://www.facebook.com/wikibuy )

( https://twitter.com/wikibuy )

ABOUT US ( https://wikibuy.com/ )

|

LEGAL TERMS ( https://wikibuy.com/our-terms/te

[2017-10-31 06:36] kartik-1799 commented on #8909
can @delsonscoelho why there is requirement of new css directory
while my code is
p,red-text{
 color:red; font-size: 16px; zoom:100%;
 }
and thanks for your code

[2017-10-31 11:24] quatridunull commented on #14948
I'll work on this!

[2017-10-31 20:31] #15951 closed

[2017-10-31 21:56] QuincyLarson commented on #4201
@raisedadead OK - great. Thanks for keeping us posted on this.

[2017-11-01 05:40] raisedadead opened #16070 "Support for Gmail "append keyword to email" like user ids"
Gmail allows users to append keywords with a `+` symbol in their user ids, like so someone.example+keyword@gmail.com

Currently we have a partial support (by virtue of default implementation) for such emails.

This is particularly an issue while sign-up when we receive a request to authenticate here:
https://github.com/freeCodeCamp/freeCodeCamp/blob/89306fb875382a5aa40251b04df073dd0cbc33ef/server/

[2017-11-01 05:43] raisedadead commented on #16070
Note this is a specific use-case and while not common for most users, yet considering the user base we have, we might run into a lot of cases, where this blocks user from sign in.

@BerkeleyTrue What are your thoughts? I am personally in favour of the hashed emails.

[2017-11-01 08:48] kennethlumalicay commented on #7925
Hi. I just submitted a PR with possible fix. #16071

**What I did:**
I first changed the streak calculation to use 24 hoursBetween instead of 1.5 daysBetween. Then I took the difference in hours of startOf('day') of the previous timestamp and current timestamp and compared it to hoursBetween to account for works that has been done the past 24 hours instead of the past day. (Sounds the same but pro

[2017-11-01 11:54] honmanyau opened #16072 "[Beta] Regarding Best Practice in Hashing Your Passwords"
#### Hashing Your Passwords

https://beta.freecodecamp.org/en/challenges/advanced-node-and-express/hashing-your-passwords

#### Issue Description
I think the following should be reviewed as, if I'm not mistaken, they are not considered best practice for implementing password hashing:

* A cost factor of 8 is apparently too small nowadays
* `bcrypt.hashSync()`, as the challenge points out, is threa

[2017-11-01 19:12] BerkeleyTrue commented on #16070
@raisedadead I'm not sure I understand the issue. Is it that if someone uses a keyword our auth logic won't work?

[2017-11-01 20:08] BerkeleyTrue commented on #8096
I'm of the opinion that we should make campers to use the old school class as @systimotic suggests. There is value in teaching the prototypical class, especially when you consider that the class syntax desugars down to prototypical classes and are also not considered classes in the classical inheritance (OOP) sense (i.e. java classes).

[2017-11-01 20:45] #12141 closed

[2017-11-01 23:41] anhtran1906 commented on #16047
superBlocks are an array loading from redux store. While loading, it renders the <div>No Super Blocks</div> html block until it has the list of the challenges. I think it's better if we add a <Loader/> instead of leaving it as a <div> of text like the above.

[2017-11-02 00:07] kennethlumalicay commented on #7925
Tried to dig deeper, found out the inconsistencies between the heatmap and the streaks is possibly caused by the heatmap. https://github.com/wa0x6e/cal-heatmap/issues/122

[2017-11-02 03:49] raisedadead commented on #16070
@BerkeleyTrue Yes, if someone uses the a keyword like in the example, its parsed incorrectly from the `req` object in the snippet I shared earlier.

So, if we have `someone.example+fcc@gmail.com` then the line is resulting in

[code]

Since its encoded as a get request parameter from the magic link. I was hoping a base64 hashing should be enough to solve this. But wanted to double check with you.

[2017-11-02 04:05] raisedadead commented on #7925
@kennethlumalicay I believe we should be letting users store their timezones (with some smart defaults) mostly because we plan to keep the server side logic agnostic of the frontend as we plan to make the frontend more and more statically hosted.

[2017-11-02 18:01] johnkennedy9147 opened #16075 "Redirect to Current Challenge does not work when change browser / system"
#### Issue Description

If you login to FCC from a different browser  or system you may not be redirected to what is currently your current challenge. Rather you will be directed to the last one you accessed on the browser you are currently logging in from.

Cookie currentChallengeId is storing the last accessed challenge. Could we do this by user profile instead?

[2017-11-02 18:45] BerkeleyTrue commented on #16070
@raisedadead I think this is a good idea. Thanks for bringing this to my attention.

[2017-11-02 19:16] adikash1997 commented on #15739
Hii, Can I help in this issue?

[2017-11-02 19:45] #15839 closed

[2017-11-02 20:29] BerkeleyTrue commented on #16047
If you are seeing the 'No super blocks' message this is an indication that the data isn't being properly loaded. I'll take a look at Beta and see what's going on

[2017-11-02 20:45] BerkeleyTrue commented on #16047
This may be an issue I have fixed in #15781
Can anyone replicate this locally?

[2017-11-02 20:45] sblasa commented on #15739
@QuincyLarson @bhaveshsgupta was the other issue #13798 fixed? I was just wondering when I could start work with this along with  @adikash1997 help.

Thanks!

[2017-11-02 20:47] BerkeleyTrue commented on #16047
closing in favor of #15972

[2017-11-02 20:47] #16047 closed

[2017-11-02 20:54] BerkeleyTrue commented on #15938
@jnmorse thanks for the suggestion. I'll put together an npm package.

[2017-11-02 21:13] QuincyLarson commented on #13798
Hi @BhaveshSGupta could you give us a quick update on how this is going?

[2017-11-02 21:13] QuincyLarson commented on #15739
@sblasa We are still in the process of doing this. Thanks for your patience.

[2017-11-02 22:19] BerkeleyTrue commented on #15938
released here https://www.npmjs.com/package/eslint-config-freecodecamp

[2017-11-02 22:21] #15796 closed

[2017-11-02 22:40] QuincyLarson commented on #7925
@raisedadead I think there must be a simpler way to handle this rather than relying on users to set their timezones. Many of them use VPNs and travel.

Can we build in enough affordance that the streak doesn't get broken when someone changes time zones? I think currently we sustain the streak as long as it's within a 36 hour window.

[2017-11-02 23:16] QuincyLarson commented on #16027
@BerkeleyTrue any ideas?

[2017-11-02 23:19] BerkeleyTrue commented on #16027
No I don't have any. The error does not indicate an orphaned identity but points to the code returned by Github isn't validating

[2017-11-02 23:30] BhaveshSGupta commented on #13798
@QuincyLarson  For now we can just removed ionic dependence by making changes listed [here](#issuecomment-289208390) and using images listed [here](#issuecomment-311570179). For this if you can host this files on S3 and give me the link for same it won't take much time to do other changes.

[2017-11-03 01:03] kennethlumalicay commented on #7925
@QuincyLarson I could be wrong but I don't think we sustain the streak within 36 hour window. Afaik the prepUniqueDays creates an array of timestamps that are 24 hours between and we compare it with betweenDays which is 1.5 days but the difference between unique days value could only be 1 or >2 so it doesn't really have any decimal that is being used in the calculation of streaks.

[2017-11-03 01:52] DaveOrDave commented on #16027
Hello.  Thanks for looking into it.  This was happening before I deleted and re-created the accounts.  I did the deletions/re-creations in an attempt to fix the problem.

[2017-11-03 02:01] kennethlumalicay commented on #7925
How do we get the req.user.timezone? Because the dummy doesn't have timezone as a property so `const timezone = user && user.timezone ? user.timezone : 'UTC';` always default to UTC. Do we set it according to user location?

If we have user.timezone the streaks would be consistent with user.timezone but the heatmap would only always be consistent with client's timezone.

### Different scenarios
##

[2017-11-03 04:11] iroshanAV opened #16076 ""Oops! Something went wrong. Please try again later" when trying to update my email"
When i try to change/update my email one FCC, it says "Oops! Something went wrong. Please try again later"

![screenshot 520](https://user-images.githubusercontent.com/16167479/32360360-15e51750-c07b-11e7-8702-ac3198e8e4de.png)

What could be the reason?

[2017-11-03 05:07] QuincyLarson commented on #7925
@Kenneth-LJS I was under the impression we allowed an extra 12 hours of leeway, but that may have changed. If you've been looking closely at the code, I would trust your understanding of how it fits together.

Regarding your scenarios, it's OK for the calendar to be slightly offset. Very few campers have noticed this or complained about it. Campers won't mind that much. But it is not OK for the st

[2017-11-03 05:08] QuincyLarson commented on #16027
@DaveOrDave could you send me an email with your email address and I can look into fixing this for your specific account? Then if anyone else reports this, we can re-open this issue.

[2017-11-03 05:08] #16027 closed

[2017-11-03 06:57] qmikew1 commented on #16064
The actual instructions are pretty clear (and aren't conflicting)
because they don't ask one to evaluate the tests and if the correct
values are initialized (as directed), the challenge is passed/completed.

The initial state of errors when one
lands on/accesses lesson is reflecting
tests on expected values associated with adding
1, 5, and string concatenation of ' String!'
to each of the variable

[2017-11-03 16:26] DaveOrDave commented on #16027
Sure.  I'll do it in just a moment.  I really appreciate you looking into this.  I'm really enjoying FreeCodeCamp, and I want to be able to share what I'm doing at FreeCodeCamp on GitHub.  Thanks!

[2017-11-03 18:41] jhomme commented on #16064
Hi,
I have a feeling I pointed you to a wrong link, because I did not see
any math or concatination. Perhaps you should close this and let me
reinvestigate. I apologize.

Jim

On 11/3/17, Serenity <notifications@github.com> wrote:

--
==========

Jim Homme
http://www.jimhommewebdev.com
Twitter: @jimhomme
Facebook: http://www.facebook.com/jimhomme
LinkedIn: https://www.linkedin.com/in/jimhomme

[2017-11-03 21:07] mariobro commented on #15941
Have all images been moved over already or is this issue still open? If it's still open and someone is patient enough to teach me how to do so I don't mind trying it out!

[2017-11-04 14:34] stratospapazoglou commented on #14669
Neither I can't login with github. I have already sent an email to team@freecodecamp.com. Can you help?
![error message](https://user-images.githubusercontent.com/33263269/32406265-f430b4da-c17d-11e7-82ac-40fd886e5a57.jpg)

[2017-11-04 15:23] umpengfei commented on #3630
I also lost all of my progress. Could you help me fix this? Thanks.

[2017-11-04 18:13] raisedadead commented on #14669
@stratospapazoglou
Yes, we have disabled new signups via GitHub, you can expect to see this button gone soon too(when we release next version).
If you are signing up for the first time, please do so via the email, and then link up GitHub through the settings on your profile.

Thanks.

[2017-11-05 09:16] stratospapazoglou commented on #14669
Thank you!

2017-11-04 20:15 GMT+02:00 mrugesh mohapatra <notifications@github.com>:

[2017-11-06 18:59] rcohane commented on #16064
This issue should be closed. jhomme didn't realize that the code below "// Do not change code below this line" changed the values of the variables he initialized. The error message is correct.

[2017-11-06 19:56] rcohane commented on #13103
There are different bugs in the live and beta version of the site. On the live site, when you change a line other than the first one and don't reference the "difference" variable, "Only change the first line" is still green. If you do use the "difference" variable in a different line in the program then the checkpoints work properly.

![screen shot 2017-11-06 at 2 50 31 pm](https://user-images.git

[2017-11-07 15:20] Middi opened #16080 "Style guide alternative logo wrong colour underline."
#### Issue Description
Color of the underline of the fire portion of the logo for the alternative logo in png, jpeg and eps is white and should be green.

#### Screenshot
<img width="492" alt="screen shot 2017-11-07 at 15 16 34" src="https://user-images.githubusercontent.com/15717148/32501066-f28e1ae8-c3ce-11e7-9000-709be8787734.png">

#### Link
https://design-style-guide.freecodecamp.org

[2017-11-07 16:43] BerkeleyTrue commented on #15818
Yes, main.js is no longer used in the current app.

[2017-11-07 16:48] BerkeleyTrue commented on #15917
@dhcodes that happens when a request for the map data does not include a lang tag and defaults to english

[2017-11-07 21:34] mstellaluna opened #16081 "Limit Camperbot thanks to one or two campers at a time"
#### Challenge Name

#### Issue Description
To prevent brownie/cookie spamming we need to limit camperbot's thanks to one or two people at a time rather than allowing a large list of people. This needs to apply to all rooms in the FCC Chat.

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

![image](https:/

[2017-11-07 21:52] mstellaluna commented on #16081
wrong repo closing

[2017-11-07 21:52] #16081 closed

[2017-11-07 22:29] jonathan-grah commented on #15955
@sanatankc; unfortunately @JustusFT has grabbed that one!

If you still want to help out, check any of the issues with the [`help wanted`](https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted) label, read our [Contributing Guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) and  feel free to ask for help in our [Contributors](https://gitter.im/FreeCodeCam

[2017-11-08 05:15] johntyree commented on #9657
Somehow I didn't notice your reply! Sorry about that. I'll open a new bug to track the reworking of the question.

[2017-11-08 05:25] johntyree opened #16083 ""Exact Change" algorithm challenge should return single data type."
#### Challenge Name

https://www.freecodecamp.org/challenges/exact-change

#### Issue Description

My own two cents as an experienced developer is that this problem teaches newcomers that it's totally normal and acceptable for your functions to return completely different types depending on arbitrary input conditions. I know javascript is not statically typed, but this is the stuff that bugs are m

[2017-11-08 05:26] johntyree commented on #16083
See https://github.com/freeCodeCamp/freeCodeCamp/issues/9657#issuecomment-280932294 for motivating comment.

[2017-11-09 13:17] mstellaluna opened #16084 "FCC's Manage a Book Trading Club deafult accounts login issues"
#### Challenge Name

Back End Development Certification Section
Manage a Book Trading Club
https://www.freecodecamp.org/challenges/manage-a-book-trading-club

#### Issue Description

The FCC example is not working properly. Users cannot login to see the full functionality of the app.
This happens for both the test account and the admin account.
Getting error "This password is not correct".
It does

[2017-11-09 13:56] tiagocorreiaalmeida commented on #16084
![image](https://user-images.githubusercontent.com/17684951/32608897-b659afbe-c555-11e7-8dd9-c8a1a560afc1.png)

The request button is missing aswell

[2017-11-09 16:48] Kangroo111999 commented on #3329
Could anyone tell me why this is so ? Because I don't see the difference.

[2017-11-10 01:10] #15715 closed

[2017-11-10 01:10] #15938 closed

[2017-11-10 05:52] scottcinatl commented on #4411
A common error with this problem is forgetting to put a semicolon after you create a new instance. This can seem a little picky since javascript's automatic semicolon insertion should be taken place here.

// TypeError: "Beast" is not a function - (notice the missing semicolon)
myCar.nickname = "Beast"

// Correct solution with no errors
myCar.nickname = "Beast";

[2017-11-11 13:32] mstellaluna opened #16086 "FCC Website is down"
#### Challenge Name

#### Issue Description
FreeCodeCamp.org is currently down.
Error 502 - Bad Gateway
it's being reported by several users.
The FCC Forum doesn't not appear to be affected.

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

![image](https://user-images.githubusercontent.com/22984739/326899

[2017-11-11 13:32] mstellaluna commented on #16086
@QuincyLarson @BerkeleyTrue

[2017-11-11 14:20] mstellaluna commented on #16086
Camperbot is also affected. Generating 'api offline' when thanking

[2017-11-11 15:39] BerkeleyTrue commented on #16086
@mstellaluna Thank you for letting us know. We have got the site back up and looking into the cause.

[2017-11-11 15:39] #16086 closed

[2017-11-12 09:49] Barkha54 commented on #16080
Hi, can you tell me where I will find this file? All the images seems to be hosted on Amazon AWS and I'm not able to find them on my local setup. I would like to take up this issue.

[2017-11-12 18:45] PhysRex opened #16087 "[beta] D3 : "Identifier 'dataset' has already been declared" error"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/data-visualization-with-d3/change-styles-based-on-data

#### Issue Description

Going through the D3 challanges in beta, there are multiple ones that have always show the error "Identifier 'dataset' has already been declared." It appears to be a bug because the solution works if the `const dataset` line is commented out.

This happen

[2017-11-12 23:27] rcohane commented on #12637
A landing page with introductory text has been added for the section and the issue should be closed.
![screen shot 2017-11-12 at 6 25 51 pm](https://user-images.githubusercontent.com/21317235/32704686-f5aeed86-c7d6-11e7-85f2-cf5921084338.png)

[2017-11-13 06:56] JB-Walker opened #16089 "Callback Functions are introduced without a description"
#### Challenge Name
https://www.freecodecamp.org/challenges/iterate-over-arrays-with-map

Callback functions are first introduced here, but there is no description given or link to outside reference.

[2017-11-13 10:25] GCa opened #16091 "Not possible to claim certificate, even though all required challenges are marked completed"
#### Challenge Name

Claim Your Front End Development Certificate

#### Issue Description

I've completed all * marked challenges but I've been unable to claim the certificate. When I try to follow the steps I'm stopped at the third step by the message _Looks like you have not completed the neccessary steps. Please return to the challenge map._
However, there is no indication on which challenge is

[2017-11-13 14:38] itsjzt opened #16092 "feature/ can we add more hidden tests"
#### Issue Description
It's very easy to return test result values directly instead of writing the algorithm. Can we add more hidden test cases?

#### ScreenShot
![smart](https://user-images.githubusercontent.com/22629916/32730410-00282080-c8ad-11e7-9a15-41a9f7761f85.png)
Another exaxmple
![another_smart](https://user-images.githubusercontent.com/22629916/32730632-bf1522a4-c8ad-11e7-84cc-31d90967e

[2017-11-13 14:40] sanatankc commented on #16092
+1

[2017-11-13 16:53] d33con opened #16093 "Study group searches show groups abroad"
#### Issue Description
https://study-group-directory.freecodecamp.org/
When searching for a local study group the city names fetch any city worldwide with that name and report the distance as the same. I am in the UK and it is also showing me US cities with the same name as nearby UK cities

#### Screenshot
![fcc](https://user-images.githubusercontent.com/13669754/32737730-c1f7da9a-c892-11e7-829c-

[2017-11-13 17:04] Shikhargupta1 commented on #16093
Hey any suggestions on how to stop these emails for good..

On Mon 13 Nov, 2017, 10:26 PM Oli Bullen, <notifications@github.com> wrote:

[2017-11-13 17:45] JB-Walker opened #16094 "Descriptive text of Filter method flawed"
#### Challenge Name
https://www.freecodecamp.org/challenges/filter-arrays-with-filter

The last section states "Note: We omit the second and third arguments since we only need the value," however the second and third arguments were not previously described.

[2017-11-13 17:50] texas2010 commented on #16093
@Shikhargupta1
looks like you may have accidentally subscribed to all notifications for the [FreeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp) repository. To stop receiving notifications please visit the [subscriptions page](https://github.com/FreeCodeCamp/FreeCodeCamp/subscription) and select "Not watching". Additionally, you can visit the [GitHub Help page on managing notification deli

[2017-11-13 17:58] Shikhargupta1 commented on #16093
Hey thanks there
Didn't really think someone would respond.
Learning python and Java right now by the way and these emails were just
not at all helpful, annoying really.
So ya thanks.

On Mon 13 Nov, 2017, 11:24 PM Lance, <notifications@github.com> wrote:

[2017-11-13 19:24] meutley commented on #16050
It isn't a rule that the alt attribute cannot contain a hyphen. However, as @username1001 mentioned, SEO is one concern. Another is accessibility - screen readers use the alt attribute, and characters such as hyphens can be an inconvenience for those users.

Though I don't know the exact reason, this FCC challenge is designed to only allow whitespace (space, tab, line breaks), underscores, alphanu

[2017-11-13 23:07] arielcamus opened #16095 "Why is SQL not part of the FCC curriculum?"
#### Issue Description
As a developer, I've found myself countless of scenarios where a NoSQL database was not the right solution for an application. Why is SQL not part of the FCC curriculum?

Also, what's the best place to ask about why some things are in the curriculum and some others are not?

[2017-11-14 03:45] 4mifix commented on #16050
https://www.w3schools.com/tags/att_img_alt.asp We as developers have to learn to use the resources that are available to solve some of these issues for ourselves. The link above will give you all of the information that you need on this and Google always works.

[2017-11-14 18:27] mstellaluna opened #16096 "Campberbot not issuing cookies/brownies"
#### Challenge Name

#### Issue Description
Since the FCC website crash the other day, camperbot is no longer issuing cookies/brownies.
He does respond to other commands such as find, botstatus, eightball, rooms.
This is affecting all rooms in chat not sure if it is affecting the challenges or the forum.

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or

[2017-11-14 18:28] mstellaluna commented on #16096
@QuincyLarson @BerkeleyTrue

[2017-11-14 18:42] BerkeleyTrue commented on #16096
Thanks @mstellaluna for staying on top of things. We recently upgraded camperbot so this could be the cause. I will look into this shortly

[2017-11-14 19:33] mstellaluna commented on #16096
@BerkeleyTrue thank you :) let me know if you need me to test camperbot when you are ready.

[2017-11-14 20:34] BerkeleyTrue commented on #16096
fixed. Thanks for the help @mstellaluna

Happy Coding

[2017-11-14 20:34] #16096 closed

[2017-11-14 20:35] mstellaluna commented on #16096
thanks !!

[2017-11-15 06:45] raisedadead commented on #16095
Hi @arielcamus thanks for the issue. I strongly advice you to take it up in the [Forum](https://forum.freecodecamp.org) and maybe even our Quora pages.

This way you are able to get strong community feedback on feature/curriculum requests.

You can then still comeback and open an issue on this tracker for actual discussion on the implementation.

As for why we do not have SQL, IMHO we have chosen

[2017-11-15 06:45] #16095 closed

[2017-11-15 06:48] raisedadead commented on #16095
I am closing this, for now to keep the relevance on fixing issues. Please feel free to re-open once again when this becomes relevant.

[2017-11-15 06:53] #16093 closed

[2017-11-15 06:53] raisedadead commented on #16093
Issue moved to [freeCodeCamp/study-group-directory #53](https://github.com/freeCodeCamp/study-group-directory/issues/53) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-15 07:03] raisedadead commented on #16092
@itsjzt

Thanks for the issue, unfortunately adding hidden tests is just circumventing the problem of dishonesty. There will always be a way where users can submit such solutions for example searching this public codebase.

Adding hidden tests are also less helpful when someone is trying to genuinely debug their algorithm.
They see the challenge failing, but do not know the expected results.

We h

[2017-11-15 07:03] #16092 closed

[2017-11-15 07:10] raisedadead commented on #16091
Hi @GCa ,

Thanks for reporting. And sorry about the issue you are facing.
I am tagging along @freeCodeCamp/moderators for this for help.

Here is their profile https://www.freecodecamp.org/Gca

@QuincyLarson can you maybe check in the backend if we have something missing?

[2017-11-15 07:14] raisedadead commented on #16084
@freeCodeCamp/moderators I am not sure who is the original author/maintainer of the example app. Can anyone pitch in to guide on this?

[2017-11-15 07:16] #16080 closed

[2017-11-15 07:16] raisedadead commented on #16080
Issue moved to [freeCodeCamp/assets #148](https://github.com/freeCodeCamp/assets/issues/148) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-15 10:30] Sarvesh8486 opened #16097 "Duplicate name space created in soap request using node-soap"
#### Issue Description

I am using the node-soap library for calling soap request in node js.

it has following request payload format:
[code]
for this i have created args as:
[code]
and passing it as:
[code]
but on printing the ```client.lastrequest``` the payload has duplicate namespaces as:

[code]
here ns0 is repeating in every param.

The problem may be in the way i am passing args.

how to r

[2017-11-15 14:31] raisedadead commented on #16097
Please use stack overflow instead

[2017-11-15 14:31] #16097 closed

[2017-11-15 17:02] InNoobWeTrust opened #16098 "Unexpected behaviour if I use assert in my code for challenge"
#### Challenge Name

Truncate a string

#### Issue Description

Inside the function, before doing the operation, I would like to check the argument first for sure
[code]
My code produces the visually correct result on result panel but the tests are all failing. When I comment out the assert line, it passes all the tests.

I think there is a problem when handling user code if they use assert() like

[2017-11-15 22:28] thmsdnnr opened #16100 "[beta] Console.log outputs do not appear in display"
Hi @BerkeleyTrue, Quincy asked me to write an issue about this & tag you on it after I mentioned it in the Arcade Mode Gitter chat.

Previously, we closed issue https://github.com/freeCodeCamp/freeCodeCamp/issues/10977 because it was believed to be fixed with a React update. However, the console.log() behavior is still not displaying as expected.

#### Issue Description
Go to any challenge that re

[2017-11-16 04:30] J36miles commented on #16084
@clnhll, are you able to assist on this?
https://github.com/clnhll/bookjump

[2017-11-16 04:55] ChristianLapinig commented on #16089
@raisedadead I can take this one. Do you guys want it to be a link to a reference where it says callback in the description or a separate section called references/resources after the description?

[2017-11-16 05:47] raisedadead commented on #16089
@ChristianLapinig Awesome! Thanks for helping us out with this.

I think we would prefer a short description in the challenge it self.

Also note that this has to go in in two separate branches with pull requests for each `backup/master` and `staging`

Let us know if you need any assistance.

[2017-11-16 05:53] raisedadead commented on #16098
@InNoobWeTrust

Can you share what's the output on your browser's console window in developers tools (Press <kbd>F12</kbd>)? We would love some screenshots too.

[2017-11-16 05:56] raisedadead commented on #16100
I think we are still working on it, even for releasing to beta.

[2017-11-16 06:35] InNoobWeTrust commented on #16098
Here is the screenshot:
<img width="960" alt="freecodecampissue" src="https://user-images.githubusercontent.com/23432432/32877173-d0db3970-cad2-11e7-83c0-0fb31a48159b.png">

Here is the console output:
[code]
Somehow assert is not available for user code. I don't know exactly why, may be the extensions like Ublock Origin or Violent Monkey in my browser cause unexpected behaviour or assert is not a

[2017-11-16 14:12] raisedadead commented on #16098
Its actually expected.

Your code is being run in the browser and hence you need to use a browser's implementation for instance like doing a `console.assert` rather than a plain `assert` like you would do with a testing framework or library.

On that note, I personally think a if..else is a much better option in this case.
Please reach out to the forum for more assistance on your code.

I'll go ah

[2017-11-16 14:12] #16098 closed

[2017-11-16 14:57] jkriel87 commented on #7122
I am having the same problem.

See below:

![reauthroization](https://user-images.githubusercontent.com/30698334/32897794-31eb128c-caef-11e7-963a-6ce88912303d.JPG)
![freecodecamp via github](https://user-images.githubusercontent.com/30698334/32897806-372f2da0-caef-11e7-834b-702bcc3fbd0e.JPG)
![failed-login](https://user-images.githubusercontent.com/30698334/32897814-3c45baca-caef-11e7-8fd8-87dc421

[2017-11-16 16:03] InNoobWeTrust commented on #16098
Oh, thanks. I didn't know there is a difference in ```console.assert``` and plain ```assert```. I've seen the use of ```assert``` somewhere and assume that it is a feature of javascript itself, turn out I was so careless...

Anyway, thanks for taking time on this, I'll be more careful and check the console first before raising an issue. 😉

[2017-11-17 06:46] ChristianLapinig commented on #16089
@raisedadead just sent a pull request which will go into ```backup/master``` but wasn't really sure where it goes in ```staging```. I would think it does under Understand the Hazards of Using Imperative Code?

[2017-11-17 09:13] ja5087 commented on #16094
Maybe adding a description next to "...the current value (we've called that val) as an argument." would work?

Something like: "The callback may also take the `index` of the current element and the current `array` as arguments.

[2017-11-17 14:47] ja5087 commented on #16094
I saw a similar issue (#16089) that said you needed this added to `backup/master`, so I submitted a PR. I couldn't find this file or challenge in `staging` either.

[2017-11-17 17:17] raisedadead opened #16104 "feat(auth): Integrate OAuth 2.0 for access to API"
We need to implement OAuth 2.0, with the below checklist:

- [ ] Investigate adding OAuth 2.0 and cost of implementation
  - [ ] Investigate schema and access control
  - [ ] Investigate creating / storing app identity

- [ ] Check integration via https://github.com/strongloop/loopback-component-oauth2

     **Update:** My intial investigation shows they are not maintaining it well and it seems to

[2017-11-18 10:35] shroudedcode commented on #1349
@donniereese @benschenker I just wanted to open another issue about this, because I experience exactly the same thing. My console gets flooded with errors like this:

![image](https://user-images.githubusercontent.com/29176678/32979245-cd57d33c-cc51-11e7-810a-2a0ebbf3319e.png)

[2017-11-18 19:19] JB-Walker opened #16107 "Recursion all but required for many Intermediate Algorithms, but it has not yet been introduced"
#### Challenge Name
https://www.freecodecamp.org/challenges/steamroller

Hint 3 states: "You will definitely need recursion...." However, there has not yet been any mention of recursion in the lessons. Recursion needs to be taught (or at the very least mentioned) in the lessons no later than Steamroller.

(The last few lessons have been grueling to solve without recursion.)

[2017-11-19 09:13] kevindessely commented on #15967
Like @bgates has said, the `n` number of fibs are too huge for the browser to run especially the test that involves 4,000,000 fib and the solution above are done in a growing array. Which is not an optimized solution.

I have come up with a solution where by, I always keep track of the last two sequence of the fibs instead of the entire sequences of fibs. Which save lots of memory and the addition

[2017-11-19 12:10] willnwhite opened #16108 "Shopping List misuses arrays, should use objects"
#### Challenge Name
Shopping List

#### Issue Description
Each item has a name and a quantity, so should be represented as `{ name: "Chocolate Bar", quantity: 15 }`, not `["Chocolate Bar", 15]`. The latter relies on whoever's using the data to remember that name is at index 0, quantity at 1 (when they want the quantity, they have to do `item[1]`, rather than `item.quantity`. This approach doesn't

[2017-11-20 22:33] ooade commented on #16084
I suggest we move these basejumps examples to FreeCodeCamp Organization, or we re-create them :man_shrugging:

[2017-11-20 22:44] raisedadead commented on #16084
@JosephLivengood @QuincyLarson
Are we able to assist on this by moving the same to Gomix?
This is a potential show stopper.

[2017-11-20 22:50] raisedadead commented on #16104
/cc @BerkeleyTrue

[2017-11-20 23:33] BerkeleyTrue commented on #16104
@raisedadead I'd like to see a separate of our oauth platform and core. This way they can move independently.

I'm not a big fan of relying on loopback anymore than we do. This whole loopback 2->3 business has really soured me on this platform. I'd rather we custom built then rely on unsupported platforms. This is also not as difficult, so I have been told.

[2017-11-20 23:45] raisedadead commented on #16104
@BerkeleyTrue Yup, that's totally awesome, and agreed.

I have seen the frustration first hand while trying to upgrade, and can relate to your advice. Are you okay with some draft proposals then about a bit of rearchitecting (with backward support) the platform then?

I mean we do plan to have an independent static web-app and a api-only backend? Is that right?

[2017-11-21 00:07] BerkeleyTrue commented on #16104
@raisedadead yes the dream is a static site and a backend api. It won't be completely separate as that would make dev too complex to support new contributors.

Also, there are a couple things I am investigating that would help us move away from loopback and are tangentially relevant to this issue.

We will most likely move to a graph db (I'm currently talking to the Neo4j peeps). This will support

[2017-11-21 23:34] JB-Walker opened #16111 "Very important information omitted in the intro to the algorithms"
The intro to the algorithm challenges is a great idea, but it makes no mention of the fact that the 'hint' section is now providing more than hints - it is now beginning to  include basic, intermediate, and advanced solutions to the challenge. After people solve their algorithms, they can now compare their solutions to the approach that a professional developer would take. These solutions are an i

[2017-11-21 23:38] JB-Walker commented on #16107
Fixing issue #16111 should provide an indirect fix to this issue as well,

[2017-11-22 11:07] kevcomedia opened #16112 "Make Instances of Objects with a Constructor Function - Can pass using a plain object"
#### Challenge Name

https://www.freecodecamp.org/challenges/make-instances-of-objects-with-a-constructor-function

#### Issue Description

It is possible to pass the challenge by assigning `myCar` with a plain object, then giving it `wheels` and `nickname` properties.

Related forum post:
https://forum.freecodecamp.org/t/make-instances-of-objects-with-a-constructor-function-right-code/160347

###

[2017-11-23 02:32] #12721 closed

[2017-11-23 02:43] BerkeleyTrue commented on #15849
Is this still an issue for @charlottejoy ?

[2017-11-23 02:44] #12869 closed

[2017-11-23 02:45] #12867 closed

[2017-11-23 04:41] ogzcoder commented on #15849
I am still willing to work on this if @adityaparab never found a fix

[2017-11-23 06:01] reji66 opened #16114 "required to populate cascaded Combo boxes with the selected item of previous data element"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

[2017-11-23 10:10] adityaparab commented on #15849
@ogzcoder: sure go ahead. I’m not finding enough time from my work schedule to work on my open source ventures.

I already have code fix for this. Let me know if you want it, I’ll share it soon here.

[2017-11-24 19:02] QuincyLarson commented on #15822
@raisedadead Now that #15891 has landed, are you interested in starting working on this? We are getting closer to shipping beta, and this issue is on the critical path :)

[2017-11-24 19:13] raisedadead commented on #15822
@QuincyLarson I have already made a PR, see linked above.

[2017-11-24 19:14] QuincyLarson opened #16115 "[beta] Add React and Redux challenges to seed directory once they're working"

[2017-11-24 23:03] thmsdnnr commented on #12755
Hey @systimotic are you still working on this? If not I'd be happy to take it over for this week.

[2017-11-25 06:57] littledago22 commented on #12755
Itsvhotts

[2017-11-25 18:26] #16072 closed

[2017-11-25 19:34] QuincyLarson commented on #12755
@systimotic I've started this process by updating the seed files. Here's the PR if you want to take a look and merge: https://github.com/freeCodeCamp/freeCodeCamp/pull/16116

[2017-11-25 19:39] QuincyLarson commented on #15849
@ogzcoder Thanks for looking into this. Please keep us posted and open a pull request when your fix is ready. Let us know if we can do anything to help :)

[2017-11-25 19:50] texas2010 commented on #16114
@reji66
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/fr

[2017-11-25 19:50] #16114 closed

[2017-11-25 20:01] QuincyLarson commented on #16084
@raisedadead @mstellaluna I've reached out to the project creator on Twitter and asked him if he can fix this in his app. On beta, we've moved this project over to a practice project - it's no longer part of the core curriculum. But ideally, we should host our own official version on Glitch.

[2017-11-25 20:16] QuincyLarson opened #16118 "Move take-home project examples to freeCodeCamp's Glitch account"
- [x] [Book trading club](https://beta.freecodecamp.org/en/challenges/coding-interview-take-home-projects/manage-a-book-trading-club) - Needs to remix [the Book Trading Club on Glitch](https://thing-exchange.glitch.me/books), update .env, and update challenge description
- [x] [P2P Video app](https://beta.freecodecamp.org/en/challenges/coding-interview-take-home-projects/p2p-video-chat-application

[2017-11-25 20:36] charlottejoy commented on #15849
I've tried it on mobile (Chrome, Android 6.0.1) and laptop in Chrome. I'm able to click the button to continue. Back button shows saved work. So it seems that it is working for me.

[2017-11-25 21:36] blairfrandeen opened #16119 "[beta] Misleading Comment in "Match Characters that Occur Zero or More Times" Challenge"
#### Match Characters that Occur Zero or More Times
https://beta.freecodecamp.org/en/challenges/regular-expressions/match-characters-that-occur-zero-or-more-times

#### Issue Description
The challenge description includes sample code with a comment that states:
`let sRegex = /s.*/; // Searches for words starting with s`,
This comment is misleading, because the above regular expression will match a

[2017-11-25 21:37] QuincyLarson commented on #16091
@GCa I checked out your projects and they look solid. I'm not sure what bug caused you to be unable to claim the cert, because other people aren't having trouble doing that. We're overhauling these certs for beta, and it should be fixed then.

I went in and manually granted you the cert in the database. Congratulations!

[2017-11-25 21:44] QuincyLarson commented on #16091
@BerkeleyTrue When I checked this camper's database record, there was no `"isFrontEndCert": false` property. I think this is what was preventing him from being able to claim the cert. Can you update the code to create such a property if it doesn't exist?

[2017-11-25 22:44] QuincyLarson opened #16121 "Update sitemap.xml to reflect new URL structure for challenges."

[2017-11-25 23:19] hamza-hajji commented on #16091
I'm also facing this problem, should I complete the advanced algorithms too?

[2017-11-26 01:03] GCa commented on #16091
@QuincyLarson, @raisedadead, many thanks for your help :smiley:
I'm really glad this was solved. I was going crazy trying to find what I still had missing. :sweat_smile:

[2017-11-26 04:22] adityaparab commented on #15849
@charlottejoy: clicking back buttons pulls up page from local browser cache. The problem comes up when you directly jump to a problem that you have already solved.
Instead of clicking back, try pasting the same url in a new tab. The code disappears

[2017-11-26 06:14] Ewgen9 opened #16123 "Cloused"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-11-26 09:16] cdrainxv commented on #16112
I would love to take this up. I've noticed that this challenge is not in the staging branch, but it's in the [backup/master](https://github.com/freeCodeCamp/freeCodeCamp/blob/38fbd6651f37d917f7bb4a1377b3d2676f8838d1/seed/challenges/01-front-end-development-certification/object-oriented-and-functional-programming.json#L114). Am I right in assuming that I can send the fix to that branch?

[2017-11-26 09:43] cdrainxv commented on #16108
The challenge's singular purpose is to introduce multi-dimensional arrays (in this case a 2-D array). There is no requirement to actually retrieve any of the values in the array. In my opinion this challenge is placed correctly with respect to its preceding and following challenges.

[2017-11-26 14:40] charlottejoy commented on #15849
Thanks @adityaparab.
I've done as you've suggested. I do see my saved code when pasting the challenge link into a new tab in the same browser or going to a new tab and clicking on the challenge. I assume the challenge has no check-mark because there's no more beta login, but my code is there for me in Chrome and Firefox.
Perhaps the issue is solved, or I'm not clear on this part of the issue. For

[2017-11-26 16:23] #16123 closed

[2017-11-26 22:41] QuincyLarson commented on #16091
@hamza-hajji I've fixed this for you manually, too. We'll wait for @BerkeleyTrue to fix the underlying issue.

[2017-11-26 22:46] BerkeleyTrue commented on #16091
@hamza-hajji and @GCa can you now claim your certificate?

@QuincyLarson This would not fix the issue as the api nor does mongodb require the property to be defined in order to be updated.

[2017-11-27 00:47] JB-Walker opened #16124 "onmouseover labels for the color key are wrong on the calendar page"
Moving left to right, the labels currently read : "less than 1 items", "between 1 and 2 items", "between 2 and 3 items", "more than 3 items"

They should read: "zero items", "1 item", "2 items", "3 or more items"

![labelswrong](https://user-images.githubusercontent.com/17031960/33246442-ff97bf86-d2d9-11e7-8f0c-5c0127731c09.jpg)

[2017-11-27 09:56] Aqleem commented on #3357
![image](https://user-images.githubusercontent.com/26087895/33260879-0fd9ba12-d383-11e7-9264-6baaa41a03f6.png)

[2017-11-27 09:56] Aqleem commented on #3357
those red x’s are talking about line 2 in your code

[2017-11-27 10:13] honmanyau commented on #13095
It seems as though this type of tests are currently not being run for any of the back-end exercises after a breaking change at some point.

Are the back-end challenges using the same testing logic as the "regular" JavaScript exercise? The reason I'm asking is because the seed data (`[challenge].test.testString`) suggests that an XHR should be made at some point (using `jQuery.get()` (only the rele

[2017-11-27 11:46] GCa commented on #16091
@BerkeleyTrue
I'm sorry, the error message _Looks like you have not completed the neccessary steps. Please return to the challenge map_ is still there. If I try to follow the steps to claim the certificate I'm stopped at the third step of [this](https://www.freecodecamp.org/challenges/claim-your-front-end-development-certificate).

However, my profile shows the certificate because it has been manu

[2017-11-27 14:06] willnwhite commented on #16108
Just _using_ an array as an object teaches bad practice. I think the challenge needs a better example, e.g. a bitmap can be represented with a 2D array.

[2017-11-27 15:44] BerkeleyTrue commented on #16091
@QuincyLarson Did you manually give them their certificates?

[2017-11-27 20:40] #15822 closed

[2017-11-27 21:23] raisedadead opened #16126 "Mitigation strategy for users with GitHub auth only accounts."
We have defaulted to email only auth, and some users may not have email at all who have used, GitHub only auth.

This needs, to be checked and a mitigation strategy has to be added for such cases.

Refer: https://github.com/freeCodeCamp/freeCodeCamp/pull/15985#discussion_r153313142

[2017-11-27 21:33] #12780 closed

[2017-11-27 21:52] mazer-rakham opened #16127 "Change coloro of text missing semicolon"
#### Challenge Name
https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-change-the-color-of-text/16775

#### Issue Description
The semicolon is missing and confusing people. I had someone I recommended this course to have issues.

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-11-27 22:26] BerkeleyTrue commented on #12726
This is fixed in beta

[2017-11-27 22:26] #12726 closed

[2017-11-28 00:59] JacksonBates commented on #13806
I just tested this in Firefox 57 and it no longer seems to be a problem:

![image](https://user-images.githubusercontent.com/4337740/33297116-75b7878c-d433-11e7-89fd-9e974678a4dd.png)

Or am I missing something? Do we want it to work in older versions of FF too?

[2017-11-28 07:45] SvetaSR opened #16128 "[beta] D3 - const variables fail tests until browser refresh"
#### Data Visualization with D3: Work with Dynamic Data in D3
https://beta.freecodecamp.org/en/challenges/data-visualization-with-d3/work-with-dynamic-data-in-d3

#### Issue Description
When running the test twice, the second time always fail because the const variable (dataset) has already been declared on the first time. The test returns the following error:
`"Identifier 'dataset' has already be

[2017-11-28 12:34] a7mam7ma opened #16129 "[beta] cannot use/navigate to any challenge."
#### Challenge Name

#### Issue Description

I can't navigate to any of the challenges either by clicking on its link in map or by finishing the getting started challenge.

it gives me a `something went wrong` message after i get to the final step of the getting started challenge and nothing happens if i click on a challenge link from map or copy paste the link of the challenge from the map.

####

[2017-11-28 13:26] cdrainxv commented on #16127
The semi-colon isn't necessarily if you only have one style in the element. It's only required to separate multiple styles.

[2017-11-28 13:52] raisedadead commented on #16129
Hi @a7mam7ma,

This could be a build issue.

Just to note that beta is heavily being patched right now, for QA. Some unstablity is hence expected.
Please keep reporting.

Thanks for your contribution and happy coding!

[2017-11-28 13:58] mazer-rakham commented on #16127
I know that, but your course is not letting it pass with one style and no semicolon

[2017-11-28 13:59] mazer-rakham commented on #16127
*the course

[2017-11-28 14:04] raisedadead commented on #16127
Hi,

We have updated such wiki articles on our new guides platform. Please visit https://guides.freecodecamp.org and feel free to add/edit as necessary.

Now coming to the issue being discussed over here:

@mazer-rakham I request you to please share the details following this template (that you were also presented while reporting)

https://raw.githubusercontent.com/freeCodeCamp/freeCodeCamp/stagin

[2017-11-28 14:11] raisedadead commented on #16124
Hi @JB-Walker

Thanks for reporting.

Do you mind confirming this is the case on the beta sire or the main site, also please provide additional info as presented in the issue template, regarding the environment.

Happy coding!

[2017-11-28 14:21] raisedadead commented on #16112
Hi, @cdrainxv

If you fail to find the challenge then its an indicator that it was chosen to be removed in favor of a better challenge/example or replacement.

At @kevcomedia do you think we would need this in the new curriculum? I would like to know your opinion.

Else this can be closed.

Happy coding!

[2017-11-28 14:48] JB-Walker commented on #16124
Main site. I don't know whether it also occurs on beta (no account there).

Environment? Hopefully this is what you asked for:
- https://www.freecodecamp.org/jb-walker
- Chrome Version 62.0.3202.94 (Official Build) (64-bit)
- Dell Latitude E6420 Laptop
- Windows 10 Pro Version 1703
- OS Build 15063.726

[2017-11-28 16:08] raisedadead commented on #16124
@JB-Walker Perfect, that's what we needed. Thanks a lot.

[2017-11-28 16:19] raisedadead commented on #16124
Can anyone reproduce this, preferably on a windows machine?

[2017-11-28 20:47] Mattd1234 commented on #15955
Is this topic still open?

[2017-11-29 01:14] kevcomedia commented on #16112
I wanted to make a quick run through the new JavaScript challenges, but I can't navigate to any of them. But if there are better challenges than this one in the new curriculum, then there's probably no reason to keep this.

[2017-11-29 02:33] scissorsneedfoodtoo commented on #16124
Sure, I can reproduce the issue on my Windows machine here at work.

- https://www.freecodecamp.org/scissorsneedfoodtoo
- Windows 7
- Chrome Version 62.0.3202.94 (Official Build) (32-bit)

I looked into it a bit and it seems that the issue has to do with how legends in the Cal-HeatMap module works (documentation [here](http://cal-heatmap.com/#legend)). It takes an array of N values as arguments an

[2017-11-29 05:19] raisedadead commented on #16112
Oh snap, yes. I know its being worked upon. Lets keep this open.

[2017-11-29 16:53] #16124 closed

[2017-11-29 18:27] raisedadead opened #16134 "[beta] /settings and /settings/update-email routes are broken"

[2017-11-29 18:58] JB-Walker opened #16135 "bad link: "Oops! That page doesn’t exist or is private.""
The hint link is broken on this challenge:

https://www.freecodecamp.org/challenges/storing-values-with-the-assignment-operator

[2017-11-29 19:01] raisedadead commented on #16135
Thanks. Fixed.

[2017-11-29 19:01] #16135 closed

[2017-11-29 23:24] #16126 closed

[2017-11-29 23:30] #16070 closed

[2017-11-30 02:32] samil19 opened #16136 "//noprotect not working for me"
#### Challenge Name
https://www.freecodecamp.org/challenges/smallest-common-multiple

#### Issue Description
I got the problem described on this post https://github.com/freeCodeCamp/freeCodeCamp/issues/13348, so i try to use //noprotect but for some reason it didn't work for me.

#### Browser Information
I tried on Chrome, Opera, Explorer and Edge.

Desktop

Also i tried on my phone, Samsung Brows

[2017-11-30 05:11] raisedadead commented on #16136
Hi @samil19

Thanks for reporting, this is an different issue that we are looking at. The problem here is those global variables that have been defined in the code you shared:

[code]

Your code, and logic themselves are correct. And Its a Okay to have globals. But these lead to unpredictable side-effects.

Our test runner, executes the test cases one after another in series. Hence the last used g

[2017-11-30 05:11] #16136 closed

[2017-12-01 01:37] FMGordillo commented on #5808
It seems that FreeCodeCamp guide has left something!
You need the env var "redirect_uri", it worked for me!

My example

`
APP_URL=https://dynamicwebapp-1-laspark.c9users.io/
redirect_uri=https://dynamicwebapp-1-laspark.c9users.io/auth/github/callback
`

[2017-12-01 04:29] EstebanBorai commented on #16108
I'm thinking about an array of objects where each index represents a category from a grocery store based on the different categories you are able to find when you visit the market.
So the two dimension array would look like:

`const groceryStore = [
    [{
      product: 'Jam',
      price: 1.50
    } (...)
    ],
    (...),
    `
Here you can find an index representing a category (you can use a M

[2017-12-01 06:18] samil19 commented on #16136
Thaank youu very much, counter was a variable that i was using in another solution to this problem and i forgot to delete, just put mcm inside the main function and that's it

[2017-12-01 06:39] raisedadead commented on #16136
@samil19 sure, happy to help.

Also, please note that you can get answers when you are stuck over at our [Forum](https://forum.freecodecamp.com) and the chat rooms.

[2017-12-01 10:09] cdrainxv commented on #16108
Objects haven't been taught at this stage yet (based on the map). # However, a simple coordinate system would suffice for this challenge -- most likely everyone will know what x and y values. How about just getting them to "plot" five points inside of an array?

`var coordinates = [[12, 4], [23, 56], ... [89, 12]];`

In my honest opinion I think too much time is being afforded to this lesson consi

[2017-12-01 10:13] KentShikama opened #16137 "Reset Password Link on freecodecamp.org is returning a "Oops! Something went wrong. Please try again later""
#### Issue Description

1. Navigate to https://www.freecodecamp.org/forgot (make sure to be logged out)
2. Send yourself a reset link
3. Click the email link and try to reset your password
4.  See the "Oops! Something went wrong. Please try again later"

#### Browser Information

* Browser Name, Version: Firefox, 58
* Operating System: Ubuntu 16.04
* Mobile, Desktop, or Tablet: Desktop

[2017-12-01 10:18] Beesu commented on #16137
why？

发自网易邮箱大师
On 12/01/2017 18:16, Kent Shikama wrote:
Issue Description
Navigate to https://www.freecodecamp.org/forgot (make sure to be logged out)
Send yourself a reset link
Click the email link and try to reset your password
See the "Oops! Something went wrong. Please try again later"
Browser Information
Browser Name, Version: Firefox, 58
Operating System: Ubuntu 16.04
Mobile, Desktop, or Tab

[2017-12-01 10:19] Beesu commented on #16137
Who are you? I don't know you

发自网易邮箱大师
在2017年12月01日 18:17，18589530119@163.com 写道：
why？

发自网易邮箱大师
On 12/01/2017 18:16, Kent Shikama wrote:
Issue Description
Navigate to https://www.freecodecamp.org/forgot (make sure to be logged out)
Send yourself a reset link
Click the email link and try to reset your password
See the "Oops! Something went wrong. Please try again later"
Browser Information
Browse

[2017-12-01 14:46] scissorsneedfoodtoo commented on #16119
These are all good points.

I also noticed that the challenge can be solved without using the * character at all. If we want to keep with the Star Wars title element of the challenge, I could rework it to require both the * and . characters, since the latter was introduced in an earlier lesson. But I'm thinking it might be better to try and introduce the concept of the * character by itself. Howev

[2017-12-01 16:22] willnwhite commented on #16108
Though coordinates works much better than the shopping list, in my own code I'd use an array of `{x, y}` objects, rather than relying on a 0 = x, 1 = y convention.

If we can't think of a worthwhile example of use of a multidimensional array, should the curriculum cover it at all? Is it counter-intuitive that arrays can be nested?

[2017-12-01 21:16] KentShikama commented on #16137
It works now!

[2017-12-01 21:16] #16137 closed

[2017-12-01 21:40] QuincyLarson commented on #16091
@BerkeleyTrue Yes - I manually reviewed their work and toggled their "is___Cert" properties to true for the sake of expedience while we fix this bug.

[2017-12-01 21:50] BerkeleyTrue commented on #16091
The second two statements disprove your initial claim. More investigation is need to find the root cause.

[2017-12-02 23:08] zk433 commented on #15942
The original post has been updated with the most recent designs of the Settings and User Profile pages, as well as new related issues (specifically #12794 to get the new certificates working with the new curriculum).

[2017-12-03 05:06] wahajs00 commented on #16129
same isuue with me can able to click link

[2017-12-03 08:58] yinsang opened #16141 "Passing Values to Functions with Arguments"
#### Challenge Name

Passing Values to Functions with Arguments
https://www.freecodecamp.org/challenges/passing-values-to-functions-with-arguments

#### Issue Description

I am a old hand for javascript .
first of all；
I used
` const functionWithArgs = ()=> {
//something;
}
`
the first time didn't passed;
and then I wrote the right code,bug   I can't passed it from here; I was so confused !
I saw

[2017-12-03 14:14] texas2010 commented on #16137
@Beesu
looks like you may have accidentally subscribed to all notifications for the [FreeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp) repository. To stop receiving notifications please visit the [subscriptions page](https://github.com/FreeCodeCamp/FreeCodeCamp/subscription) and select "Not watching". Additionally, you can visit the [GitHub Help page on managing notification delivery met

[2017-12-03 14:49] a7mam7ma commented on #16129
i tried testing it in a remote desktop machine using (rabb.it) and the beta website worked with me flawlessly so i think you are right.

but my local machine keeps giving me the same error message and a request time out in the console, i will keep on testing every now and then to check if it is stable.

[2017-12-03 20:24] koshl opened #16142 "<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-12-03 20:41] #16142 closed

[2017-12-04 01:06] Flarp commented on #14234
I will probably not be able to work on this unless I can get help from someone.

[2017-12-04 04:33] IsaacAbrahamson opened #16144 "More specific language on non-profit projects"
A person just asked on our forums about waiting to hear about being accepted to a non-profit project, and this is a semi-regular occurrence. I think we should change some language to make it more clear that campers are building applications used by non-profits, not working for non-profits directly as was the case in the past.

[2017-12-04 04:37] IsaacAbrahamson commented on #16144
Also, I'd like to have a go at rewording some of it, but I can't find where the main page is... can someone direct me to the file?

[2017-12-04 20:25] lunadendron commented on #16091
Hi! I just wanted to let you all know that I'm having he exact same problem.

[2017-12-04 20:34] krisb1220 commented on #16141
Your example uses ES6 Arrow Functions but does not declare it in the js hint comment. Here's my code that I used to fix your "const" issue

[code]

[2017-12-04 20:35] #16141 closed

[2017-12-04 20:56] raisedadead commented on #16144
Hi @IsaacAbrahamson I am not sure if I understand which text they are referring to. Can you let us know which page on the website are they referring for more clarity? I'll be sure to find the code for you?

[2017-12-04 22:28] QuincyLarson commented on #16091
@BerkeleyTrue To be clear, in situations where campers didn't have a "isFrontEndCert" property I manually added one to their profile, then set it to true.

A lot of people are reporting this issue. When you say "More investigation is needed to find the root cause" does that mean you're actively working on this?

[2017-12-04 22:32] BerkeleyTrue commented on #16091
No, this just means that the root issue is not having that field initially undefined. A quick way to test this is to set the field to false and asking the camper to attempt to login again.

[2017-12-05 02:25] BerkeleyTrue commented on #16129
@a7mam7ma Can you try a hard refresh (ctrl + shift + r)?

[2017-12-05 06:18] #16134 closed

[2017-12-05 06:45] raisedadead opened #16145 "[beta] request from react view is not hitting the update email API"

[2017-12-05 12:11] JacksonBates opened #16147 "New users progress can be wiped unintentionally"
#### Issue Description

Many campers are reporting to the forum that all their progress has been wiped: https://forum.freecodecamp.org/search?q=lost%20progress

Steps to replicate:
1. create a new account with email sign-up
2. do not verify your email address (may not be the issue)
3. You’ll need to sign in again as a returning camper to see challenges
4. complete a number of challenges - two is f

[2017-12-05 12:50] kevcomedia opened #16148 "Domain name in Twitch API passthrough instructions and actual domain name don't match"
#### Challenge Name

https://www.freecodecamp.org/challenges/use-the-twitchtv-json-api

#### Issue Description

The domain name in the Twitch API passthrough instructions (`https://wind-bow.gomix.me/twitch-api`) doesn't match the page's actual domain name (`https://wind-bow.glitch.me/`). Using the `gomix.me` one for the project causes a CORS warning, while using `glitch.me` doesn't.

The link in t

[2017-12-05 13:16] JacksonBates commented on #16147
x-post from forum discussion:

Update:

I have tried a few more times and not been able to replicate it, but I noticed a weird thing.

I caught one attempt on video that worked and I noticed that the default user avatar was broken when my progress got lost. When I tried later and the progress wasn't lost, the user avatar was also not broken. I wonder if this means there is an issue with the s3 buc

[2017-12-05 15:25] littledago22 commented on #16148
Stop with the emsils

[2017-12-05 15:29] raisedadead commented on #16147
HI @JacksonBates thanks for the report.

Yup, possibly just a error with the network.

Nope, they are stored on the User object in the DB, which is a dynamic instance of MongoDB.

[2017-12-05 15:41] raisedadead commented on #16147
From the threads in the forum this looks like its sporadic? Its not reproducible locally though.

[2017-12-05 15:42] raisedadead commented on #16148
Hi @littledago22 ,

Looks like you have subscribed to all emails from freeCodeCamp.
Please follow the link below for how to unsubscribe:

https://forum.freecodecamp.com/t/faq-unsubscribe-from-github-emails-on-issue-tracker/78944

Happy Coding!

[2017-12-05 16:21] raisedadead commented on #16148
Hi @kevcomedia thanks for pointing. We have removed this challenge on staging.

This line needs to be updated, changing `gomix` to `glitch` at all its occurrences.

https://github.com/freeCodeCamp/freeCodeCamp/blob/122f685f769d699e52deac2c1dd34fe50ee8169e/seed/challenges/01-front-end-development-certification/intermediate-ziplines.json#L171

**Potential contributors:**
Please make a pull-request a

[2017-12-05 17:38] urohit011 commented on #16148
I would like to take this. Can you please help me in getting started?

[2017-12-05 18:58] troubleinparadise commented on #9826
Why is this issue closed? Clearly still a problem.

[https://www.freecodecamp.org/challenges/save-your-code-revisions-forever-with-git](url)

[2017-12-05 21:19] AurelianSpodarec commented on #14036
![image](https://user-images.githubusercontent.com/10155855/33631266-5e374048-da0a-11e7-8475-7a5a8aacfca1.png)

It doesn't work - this is bugged.

[2017-12-06 04:19] rcohane commented on #13103
I would like to work on the bug on the beta site. The bug has to do with the following test:

`assert(/var\\s*difference\\s*=\\s*45\\s*-\\s*33;?/.test(code),'message: Only subtract one number from 45.');`

The test only allows for 33 to be subtracted from 45, but the test is just supposed to be checking that one number is subtracted from 45. The actual number shouldn't matter since the value of th

[2017-12-06 15:04] kudzaidotnet opened #16150 "Donate Page Not working"
The link to the "Donate" page on the following page: https://www.freecodecamp.org/challenges/become-a-supporter ....... is going to an error page: https://donate.freecodecamp.org

Can i fix it? I'm new to GitHub!

![2017-12-06](https://user-images.githubusercontent.com/33347607/33668133-7a3853e0-da64-11e7-8a86-1f9cb8b86143.png)

[2017-12-06 15:16] raisedadead commented on #16150
This is working for me. Can you check again and maybe try a hard refresh?

[2017-12-06 15:18] raisedadead commented on #16148
Sure, you can start by setting up the local dev environment. If you are stuck reach out to the
[Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors).

[2017-12-06 17:27] raisedadead commented on #16150
I am going to go ahead and close this. Please let us know if this is still broken.

[2017-12-06 17:27] raisedadead commented on #16150
/cc @QuincyLarson

[2017-12-06 17:27] #16150 closed

[2017-12-06 17:34] raisedadead commented on #16148
This is still open for contribution on the `staging` branch.

[2017-12-06 17:38] raisedadead commented on #16128
Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/16087

[2017-12-06 17:38] #16128 closed

[2017-12-06 17:44] raisedadead commented on #16076
Duplicate of #15876

[2017-12-06 17:44] #16076 closed

[2017-12-06 18:43] #15965 closed

[2017-12-06 18:43] #16145 closed

[2017-12-06 18:56] raisedadead commented on #15876
The issue with regards to this discussion is now resolved on both staging and production.
Closing.

The PR attached to this issue is still open for discussion though.

[2017-12-06 18:56] #15876 closed

[2017-12-06 18:59] raisedadead commented on #16041
The challenge has an alternate API that is available on the production site.

This is the API just for your reference:
https://wind-bow.glitch.me/twitch-api

Going ahead and closing this.

[2017-12-06 18:59] #16041 closed

[2017-12-06 19:02] StevenDStanton opened #16154 "Bug preventing the last IDE line from being usable"
#### Challenge Name
Effects various challenges at different times

#### Issue Description
At certain points the very last line on the IDE is not usable. You can bypass this by clicking just before the last line of code and pressing back space I Found. Video below

Chrome 62.0.3202.94
Windows 10 Profesional
Desktop

#### Screenshot
https://www.youtube.com/watch?v=cv3--_Hy1Qk

[2017-12-06 19:05] raisedadead commented on #15972
I can reproduce the timeout on the bundle download by turning on the the throttling in Chrome Dev Tools.

[2017-12-06 19:11] raisedadead commented on #16154
Hi @StevenDStanton

Thanks for reporting.

Unfortunately this has been an issue that we have seen in the past that keeps coming back.

Do you mind taking a screenshot of your DevTools console tab?
You can do so Hit <kbd>F12</kbd>, and then select the console tab, or hit <kbd>Esc</kbd>

Then simply take a screenshot (video not required).

[2017-12-06 19:13] raisedadead commented on #16154
In any case, anyone interested in investigation, please look in the `backup/master` branch.
I am guessing this has something to do with the wrapping and code-mirror.

[2017-12-06 19:20] StevenDStanton commented on #16154
I have taken the Screenshot, however, I doubt it will be of much use as the console is completely empty.

If you want a list of addons I use I can provide that as well

![ss](https://user-images.githubusercontent.com/7123954/33680748-9502107c-da90-11e7-8c6c-a9b48192561a.png)

[2017-12-06 19:28] raisedadead commented on #16154
Nope, I don't think add-ons are an issue here. You can quickly confirm this by simply launching an incognito window(which has all add-ons disabled).

[2017-12-06 21:02] raisedadead commented on #13798
@QuincyLarson and others interested

Happy to announce that Font Awesome has now released the the version 5.0.0
It has all the icons that we need.

https://fontawesome.com/icons?d=gallery&m=free

So, we would not be needing any maintenance of the icons at our end.

Hence the migration is as good as adding the deps on the new packages as documented on official docs above.

[2017-12-06 21:13] raisedadead commented on #13798
I have started some work over here at my fork. Feel free to push to it via pull request.

[`staging...raisedadead:feat/upgrade-fontawesome`](https://github.com/freeCodeCamp/freeCodeCamp/compare/staging...raisedadead:feat/upgrade-fontawesome)

[2017-12-07 03:02] JosephLivengood commented on #16154
@raisedadead Im looking into it, Im able to get reproducible behavior where the cursored line is dependent on how many lines get wrapped how much

[2017-12-07 04:19] raisedadead commented on #16154
@JosephLivengood Awesome! Thanks for looking into it.

[2017-12-07 04:48] JosephLivengood commented on #16154
@raisedadead The source is the css/page changing after the editor has been configured and initiated. I cannot determine exactly what it is and I'm sure it will differ from people but I do have a catch-all solution working that also fixes this issue when lines are wrapping strange.

Basically, `editor.on('mousedown', () => editor.refresh() );`, which is uses the only solution CodeMirror has (to cal

[2017-12-07 05:17] raisedadead commented on #16154
@JosephLivengood

Great! I get what you mean. I don't remember exactly how we had tackled this the last time, with cursor jumps.

So, coming to your query:
For the `staging` branch I am not sure if we have this issue, but if we do, it should be something like hooking on to the `componentDidMount` or similar for the editor component. Maybe @BerkeleyTrue can guide more on that.

For the `backup/mast

[2017-12-07 05:21] JosephLivengood commented on #16154
@raisedadead Ill look into reproduction and fixing it on `staging` tomorrow. Should the fix that works on the live version be pr'd against `backup/master` as well?

[2017-12-07 05:24] raisedadead commented on #16154
Yeah, sure why not. If you have something ready, lets add this.

[2017-12-07 05:29] JosephLivengood commented on #16154
Should be easy to get the `staging` version once I get to the correct component and test it tomorrow. PR incoming for `backup/master` now.

[2017-12-07 10:23] evaristoc commented on #8418
New rooms scheduled for archiving:
* FreeCodeCamp/NewYorkCity (users: 392, id: 5593982115522ed4b3e3263f)
* FreeCodeCamp/CoreTeam

Currently exploring @abhisekp approach to archiving before initiating the process of downloading the data.

[2017-12-07 20:32] evaristoc commented on #8418
@QuincyLarson :

I was trying to use the great package made by @abhisekp: https://www.npmjs.com/package/gitter-archive-cli but unfortunately it didn't work in my computer. It is giving a 404 error but I don't know why.

I will likely work on this in Python then. My current code seems to be outdated though. Apparently I am also hit by the rate limits with an `459 error` - didn't happen before, I ma

[2017-12-08 00:17] #12807 closed

[2017-12-08 00:19] QuincyLarson commented on #15716
Update: @BerkeleyTrue says the UI will now support multiple coding panes but we don't have a system in place to execute multiple panes.

[2017-12-08 00:19] #15716 closed

[2017-12-08 00:19] QuincyLarson opened #16156 "Ability to execute multiple code panes on a challenge"

[2017-12-08 00:26] BerkeleyTrue commented on #12762
iframes are now immutable

[2017-12-08 00:26] #12762 closed

[2017-12-08 06:14] BerkeleyTrue commented on #16147
@JacksonBates This gives me a starting point to look then.

From your steps, I see two possible entry points to investigate. The signout and signin. But I have my doubts about this as it would mean most campers would be losing their progress, not a few. So it must be some combination that we are overlooking.

Was anyone able to reproduce locally?

[2017-12-08 09:17] rajatvijay opened #16157 "Confusing Instructions for React Challenge 2 => Build a Campers Leaderboard"
#### Challenge Name
Build a Camper's Leaderboard

https://www.freecodecamp.org/challenges/build-a-camper-leaderboard

#### Issue Description

The description of this challenge is confusing:

1. The video provided shows older objectives.
2. The API shown in the video is also diff than the one provided in the objectives
3. It is also not clear whether we have to make an API call or we can just get t

[2017-12-08 11:09] evaristoc commented on #8418
Another option, by @ladybugtju :
https://github.com/ladybugtju/ffcGitterData/blob/master/fccGitterData.js

[2017-12-08 11:17] evaristoc commented on #8418
This is a previous message by @abhisekp to be kept here as reference: https://github.com/freeCodeCamp/freeCodeCamp/issues/8418#issuecomment-252860430

[2017-12-08 12:32] a7mam7ma commented on #16129
@BerkeleyTrue yeah and i tried incognito mode too, same problem.

[2017-12-08 13:59] QuincyLarson commented on #16147
@raisedadead I just reproduced this in production on my first try.

@BerkeleyTrue This *could* be the main reason (hopefully only reason) campers are losing their progress.

[2017-12-08 14:03] QuincyLarson commented on #16091
@BerkeleyFalse OK - next time I encounter a situation like that I'll do this and ask them to try again, and report back here with the results.

[2017-12-08 14:52] raisedadead commented on #16091
@QuincyLarson FYI, Berkeley**False** is a zombie! Berkeley**True** is the ninja. :man_shrugging:

[2017-12-08 15:05] raisedadead opened #16158 "Gitter chat rooms archiving"
Moved from https://github.com/freeCodeCamp/freeCodeCamp/issues/8418 owing to its freshness

As mentioned by `@evaristoc`

----
New rooms scheduled for archiving:
* FreeCodeCamp/NewYorkCity (id: 5593982115522ed4b3e3263f)
*  FreeCodeCamp/CoreTeam

Currently exploring `@abhisekp` approach to archiving before initiating the process of downloading the  data:

https://github.com/freeCodeCamp/freeCodeCam

[2017-12-08 15:05] raisedadead commented on #8418
@evaristoc please continue on the new thread linked above.

[2017-12-08 15:06] raisedadead commented on #16158
/cc @evaristoc @QuincyLarson @abhisekp @ladybugtju

[2017-12-08 15:17] raisedadead commented on #16075
Hi,

Thanks for the reporting
Yes, this is something I believe we are doing in one of the next release of the platform.
The current challenge is stored on the User Object.

But, that said I can't speak of a date, of the availability as we are working to get the beta out.
Stay tuned.

For now, I'll close this as resolved in `staging`.

[2017-12-08 15:17] #16075 closed

[2017-12-08 15:21] raisedadead commented on #10056
We have transitioned to a smaller set of navigation on the beta, I guess we could close this @QuincyLarson ?

[2017-12-08 16:12] evaristoc commented on #16158
Thanks, @raiseadead!

[2017-12-08 19:23] nathanhannig commented on #16148
I will work on the staging branch to add the missing UPDATE and correct the url

[2017-12-08 19:30] raisedadead commented on #16148
@nathanhannig awesome, thanks a lot!

[2017-12-08 19:41] #11477 closed

[2017-12-08 19:44] raisedadead commented on #12252
Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/11360

[2017-12-08 19:44] #12252 closed

[2017-12-08 19:45] #11674 closed

[2017-12-08 19:48] #12000 closed

[2017-12-08 19:48] #16127 closed

[2017-12-08 19:50] raisedadead commented on #11360
Although this is the oldest, closing in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/11360 which has more relevant technical discussion.

[2017-12-08 19:50] #11360 closed

[2017-12-08 19:52] raisedadead commented on #15879
Fixed.

[2017-12-08 19:52] #15879 closed

[2017-12-08 20:18] raisedadead commented on #16144
@IsaacAbrahamson please reopen when you have more information, requested above. We closing issues while we prioritise on beta.

[2017-12-08 20:19] boniverski commented on #16031
Hi, I would like to help with this issue. To be clear, in every challenge SCSS syntax should be changed to SASS or should be both included?

[2017-12-08 20:52] DovidM opened #16160 "Moore's law question is not addressed in the lesson"
#### Challenge Name

https://www.freecodecamp.org/videos/computer-basics-chips-and-moores-law

#### Issue Description

Question 3: "Moore's Law has slowed down in recent years." according to the video would be "false", as it says in the video and in the text accompanying it that "Moore's Law is the observation that the amount of transistors fit on each chip has doubled **every** two years since 19

[2017-12-08 21:06] raisedadead commented on #16147
Hi @BerkeleyTrue

I have managed to reproduce this locally, using the NODE_ENV=production.
Looking deeper.

[2017-12-08 23:03] Mandihamza opened #16163 "Consider adding Subresource integrity to Bootstrap code examples."
#### Challenge Name

Bootstrap: Use Responsive Design with Bootstrap Fluid Containers

#### Issue Description

Subresource Integrity (SRI) is a security feature that enables browsers to verify that files they fetch (for example, from a CDN) are delivered without unexpected manipulation.

#### Browser Information

* Browser Name, Version: Chrome 63.0.3239.84
* Operating System: macOS 10.12.6 (16G10

[2017-12-08 23:35] systimotic commented on #16160
Good catch @DovidM! This is no longer an issue in the beta, because these quizzes were removed. In a case like this one, the ideal solution would be to update the video to mention that progress has slowed down, but updating video's is really hard. That's the main reason for removing the quizzes.

@raisedadead Can this be closed?

[2017-12-09 02:17] sblack4 commented on #14234
@Flarp do you have an idea for a curriculum? I feel like the generator lesson could be fun

[2017-12-09 02:23] Flarp commented on #14234
@sblack4 How to make one, how to use one, and real world applications. That's my idea, anyways.

[2017-12-09 02:32] sblack4 commented on #14234
@Flarp I'm down, that sounds like fun

[2017-12-09 02:36] sblack4 commented on #14234
@Flarp , @HKuz Do you know if we [still can't use ES6](https://github.com/freeCodeCamp/freeCodeCamp/issues/14234#issuecomment-292021710) ?

[2017-12-09 02:36] Flarp commented on #14234
@sblack4 Awesome. Before I go any further, I should run a refresher with iterators. I haven't touched JS in months.

[2017-12-09 02:37] sblack4 commented on #14234
@Flarp javascript is like riding a bike

[2017-12-09 02:41] Flarp commented on #14234
@sblack4 is there a punchline

[2017-12-09 02:57] sblack4 commented on #14234
@Flarp hold on... when I think of one I'll let you know

[2017-12-09 05:25] onelharrison commented on #16087
Info: I tested this and a few other cases that use `const dataset` on later versions of Chrome (62 and 63) and got no errors.

[2017-12-09 05:30] onelharrison commented on #16129
Info: I'm able to navigate just fine on Firefox Quantum and Chrome 63.

[2017-12-09 05:38] onelharrison commented on #16121
@QuincyLarson, I'll take this one.

[2017-12-09 05:53] raisedadead commented on #16129
@onelharrison are you on windows as well.

[2017-12-09 05:54] raisedadead commented on #16160
Thanks @systimotic

[2017-12-09 05:54] #16160 closed

[2017-12-09 05:56] raisedadead commented on #16163
@Mandihamza awesome, could you please make the pull request?

[2017-12-09 06:10] #16148 closed

[2017-12-09 06:45] #16119 closed

[2017-12-09 07:05] MIFind commented on #11792
Hey , here my answer
var myStr="FirstLine\n\\SecondLine\\\rThirdLine";

[2017-12-09 07:10] #15984 closed

[2017-12-09 07:33] raisedadead commented on #8096
Yup, I agree.

Just to clarify that for the scope of this challenge, we should limit the user to learning prototypal inheritance concepts .

https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/Inheritance

Its a critical feature that JavaScript has.

Its imperative that this difference from Classical Inheritance <http://www.tutorialspoint.com/cplusplus/cpp_inheritance.htm>, is made k

[2017-12-09 10:01] colinthornton opened #16165 "Variable name in challenge description is misleading."
#### Basic JavaScript: Understanding Case Sensitivity in Variables
https://beta.freecodecamp.org/en/challenges/basic-javascript/understanding-case-sensitivity-in-variables

#### Issue Description
In the example code, there is a variable named "thisVariableNameIsTooLong".  If taken literally, this sounds like the variable name is unacceptable due to some character limit.  As this is not the case, I

[2017-12-09 11:55] mpontus commented on #16087
I believe this issue has been fixed as part of this PR: #16149

Tests are now being executed in a fresh frame, which prevents the collision with the scope from previous run.

[2017-12-09 12:00] mpontus commented on #15024
Unable to reproduce.

[2017-12-09 12:49] raisedadead opened #16166 "[beta] Search Challenges in Map"
- [ ] Add Search box on the map similar to previous version.
- [ ] Search should be fuzzy.
- [ ] Search should be available from all pages.

[2017-12-09 12:59] raisedadead opened #16167 "[beta] Toggle Collapse Map"
- [ ] Add toggle collapse to the Map

[2017-12-09 13:16] colinthornton commented on #16165
I've not made a contribution before, so I'd like to try to take this one on.  Just made a fork.

[2017-12-09 13:22] raisedadead opened #16168 "[beta] Fix the UI of the static Public Profile"
We are doing a overhaul for the public profile page by a upgrading them to react pages.
Refer: https://github.com/freeCodeCamp/freeCodeCamp/issues/15942
Refer: https://github.com/freeCodeCamp/freeCodeCamp/issues/15729

But, while that is deferred to until after the release of beta, we want fixes to the currently broken UX on the setting page which is a static server rendered page available here:

[2017-12-09 14:19] raisedadead commented on #16084
@QuincyLarson could you layout the steps to create and host a Glitch project under freeCodeCamp?

[2017-12-09 14:23] #16064 closed

[2017-12-09 14:25] Em-Ant commented on #16084
Hi @raisedadead, how are you?
I'm about to start working on [this PR](https://github.com/freeCodeCamp/freeCodeCamp/issues/16118). Is this related ?

[2017-12-09 14:33] raisedadead commented on #16050
@meutley Thanks for your comment, yup indeed what you point is correct.

Suggested clarification could be added to the challenge:

That said, challenge should accept any chars, as per the spec (refer MDN).

[2017-12-09 14:34] raisedadead commented on #16084
Hi @Em-Ant I am doing great, nice to have you back! Yup this can be taken up as a part of that thread. Thanks.

[2017-12-09 14:35] raisedadead commented on #16084
Closing in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/16118

[2017-12-09 14:35] #16084 closed

[2017-12-09 15:31] Em-Ant commented on #16118
@karuppiah7890 are you the owner of the [p2p chat](https://unequaled-cement.glitch.me/) glitch project ? It works but I cannot access the code to remix it. Is it private ? I found a similar public project on your glitch account, but it doesn't work. If you are the owner of the working project, can you please give me access to the source code ? You can drop a comment here or reach me in gitter.

[2017-12-09 15:34] #16165 closed

[2017-12-09 16:02] karuppiah7890 commented on #16118
I don't think the source code should be visible since it's a challenge and
no one should try to see the code. And I will check with Quincy and let you
know about moving the project to glitch, since I don't know much about
this.

And about the other similar public project, I will check on it :)

On Dec 9, 2017 9:04 PM, "Emanuele Antonelli" <notifications@github.com>
wrote:

[2017-12-09 16:13] Em-Ant commented on #16118
@karuppiah7890 to remix the project under the FCC glitch account (as stated in the description of this issue) I need to access your project's source page. Then the project can be made private again in FCC if it's ok with Quincy. You can even make it public just for 10 minutes, and let me know when you are ready, if you want. Anyway please check with @QuincyLarson,  and let me know. Thanks.

[2017-12-09 16:33] Flarp commented on #14234
@sblack4 email me when you get one (and so we can have communication without spamming the issue)

[2017-12-09 17:00] onelharrison commented on #16129
@raisedadead Yes, I'm on windows 10.

[2017-12-09 17:21] karuppiah7890 commented on #16118
Oh, I am sorry. Now I get it that you want to keep it private under FCC's
glitch account. Makes sense. I also thought about this when I put up the
challenge with my project link. But I was careful not to delete it so the
links don't get broken. I will make it public and comment here. The project
is also in my GitHub account as "p2p-videochat" but I have to check which
one is up to date

[2017-12-09 17:43] rcohane commented on #15806
I was able to reproduce this issue on Chrome, but not on Safari. I'm running Mac OS. On Safari, the menu items are only highlighted when the pointer is hovering over them.

On Chrome, the first time you click on Map, the map is opened and Map is not highlighted in the navbar. Each time you click on Map after that, it remains highlighted. If you click anywhere else on the page or reload the page, i

[2017-12-09 18:49] Mandihamza commented on #16163
Hey @raisedadead! Sure, do you want me to add hashes to the other examples as well, or just make a PR for this commit? Here you can see similar places where the same update can be made: https://cl.ly/2X2H2g1D090B.

[2017-12-09 19:40] anhtran1906 commented on #15972
I can't reproduce this issue on my local machine. Could you tell me how to reproduce it?
Also I was involved in the "No Super Blocks" bug and want to understand why #16047 relates to this issue. Could someone explain for me to see if I could continue helping with this issue?

[2017-12-09 19:51] anhtran1906 commented on #13806
I aslo tested this in Firefox 57.0.1 and all the tests passed. Should we just mention what version of Firefox will work well with fCC on Beta release?
<img width="1280" alt="screen shot 2017-12-09 at 2 50 59 pm" src="https://user-images.githubusercontent.com/20694114/33798962-6d51824e-dcf0-11e7-9786-b7de43bf6dff.png">

[2017-12-09 20:55] onelharrison commented on #16168
@raisedadead, I'll tackle this.

[2017-12-09 21:12] anhtran1906 commented on #16168
Hi I have a question about sign-in functionality on the beta site (on branch staging). I registered an account on the live site but when I reused the email account on the beta site on my local host, the site does not allow me to sign in (I've never received an email from this message)
<img width="1486" alt="screen shot 2017-12-09 at 4 04 31 pm" src="https://user-images.githubusercontent.com/206941

[2017-12-09 21:16] onelharrison commented on #16168
@anhtran1906, you have to setup up mailhog. Then, you can use whatever email to sign in locally. Mailhog will capture any outgoing emails sent by the local fcc app. See [CONTRIBUTING.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) for more details.

[2017-12-09 21:36] anhtran1906 commented on #16168
@onelharrison Thanks for your comments. I asked the question in Gitter also so I deleted mine on here to avoid duplication. @raisedadead I also found this UI issue of the available-to-hire button on the Profile page:
![availabletohire-button-ui-issue](https://user-images.githubusercontent.com/20694114/33799702-dcad269e-dcfe-11e7-9fb1-fe04202d258d.gif)
Basically when you resize your browser window,

[2017-12-09 22:22] anhtran1906 commented on #14211
I tried to reproduce this issue on both Firefox (57.0.1) and Chrome (62.0.x) and all the tests passed. I even tried to do the previous challenge and moved on to this challenge and all the tests still passed. Is this still an error and should this issue be opened?

[2017-12-10 01:19] anhtran1906 commented on #15024
I'm unable to reproduce as well. Using Chrome (62.0.x). This behavior also appears in #14211

[2017-12-10 02:38] anhtran1906 commented on #13095
I started the Managing Packages with npm from the first challenge. I used this [https://glitch.com/edit/#!/alabaster-click](url) to change the code on Glitch and then passed the Glitch URL back to fCC test but the program throws this error:
<img width="1050" alt="screen shot 2017-12-09 at 9 25 42 pm" src="https://user-images.githubusercontent.com/20694114/33801431-026a577e-dd29-11e7-9909-1b91ed1c9

[2017-12-10 04:31] andyguo1023 commented on #15024
Unable to reproduce using Google Chrome Version 62.0.3202.94 (Official Build) (64-bit)

[2017-12-10 05:52] raisedadead commented on #16168
@anhtran1906

Yes, please. If we do not have a issue logged already. Thanks.

[2017-12-10 05:54] raisedadead commented on #16163
Hi @Mandihamza ! Yup, while you are at, you can add them all to your PR. Thanks a lot.

[2017-12-10 06:14] raisedadead commented on #16129
@onelharrison Thanks for the additional clarification.

[2017-12-10 06:25] #16031 closed

[2017-12-10 06:35] raisedadead commented on #15024
Thanks everyone, I am closing this as not reproducible any more. Please log a fresh issue, if you happen to come across this.

[2017-12-10 06:35] #15024 closed

[2017-12-10 06:36] raisedadead commented on #14211
Thanks everyone, I am closing this as not reproducible any more. Please log a fresh issue, if you happen to come across this.

[2017-12-10 06:36] #14211 closed

[2017-12-10 06:41] raisedadead commented on #15100
This is now fixed.

Happy coding!

[2017-12-10 06:41] #15100 closed

[2017-12-10 06:44] raisedadead commented on #13400
This is resolved. Please open a new issue if you are still facing the issue.
Happy coding!

[2017-12-10 06:44] #13400 closed

[2017-12-10 07:02] raisedadead commented on #16157
Hi thanks, for reporting. Yes this challenge has gotten stale with the old videos. We are doing away with this challenge and moving it to the Take home projects on our new curriculum

One of the team members (@Em-Ant) is migrating the same under our ownership to Glitch.

I understand that this is a required project on the Certification path on the production site.
@QuincyLarson can you please guid

[2017-12-10 07:09] raisedadead commented on #13021
This is now resolved, thanks.

[2017-12-10 07:09] #13021 closed

[2017-12-10 07:16] raisedadead commented on #13103
@rcohane are you still interested in fixing this?

[2017-12-10 08:39] krishnaa208 commented on #13953
it was working perfectly fine this morning on Chrome but Showing Error Message "Something went wrong, please Try again" when i am trying to Click on Finish OR clicking on any challenges . I also tried using Firefox but Same Problem

[2017-12-10 10:05] raisedadead commented on #16157
Update: Here is the link on how its going to work going forth https://forum.freecodecamp.org/t/freecodecamps-new-certificates-heres-how-were-rolling-them-out/141618

[2017-12-10 10:15] Em-Ant commented on #16118
@karuppiah7890 I fixed the non-working public app, and remixed it.

[2017-12-10 14:31] Em-Ant commented on #16118
[PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/16172) ready !!!

[2017-12-10 15:09] rcohane commented on #13103
@raisedadead Yes, I changed the test to:

`"assert(/var\\s*difference\\s*=\\s*45\\s*-\\s*[0-9]*;{1}/.test(code),'message: Only subtract one number from 45.');". `

Now it checks that only one number is subtracted from 45 and that number doesn't have to be 33. I'll create a pull request.

[2017-12-10 15:13] raisedadead commented on #13103
@rcohane awseome. thanks for working on this.

[2017-12-10 15:16] raisedadead commented on #16118
@Em-Ant great work.. thanks a lot.

[2017-12-10 15:16] raisedadead commented on #16157
To be moved in https://github.com/freeCodeCamp/freeCodeCamp/issues/16118

[2017-12-10 15:17] raisedadead commented on #16118
I am linking more topics as I find. If that's okay? Or do we want to track them separatly to be easy for you?

[2017-12-10 17:23] #16168 closed

[2017-12-10 17:44] mpontus commented on #13860
Can't reproduce the issue as per [these instructions](https://github.com/freeCodeCamp/freeCodeCamp/issues/13860#issuecomment-285906489). The end result is tests passing.

Tested in Firefox and Chrome:
`Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:57.0) Gecko/20100101 Firefox/57.0`
`Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.84 Safari

[2017-12-10 19:01] #16118 closed

[2017-12-10 19:44] onelharrison opened #16174 "[beta] Instruction content overflow"
#### Issue Description

I first noticed this issue on [adjust-the-margin-of-an-element](https://beta.freecodecamp.org/en/challenges/basic-css/adjust-the-margin-of-an-element). The contents of the instruction section overflow their boundaries.

I also noticed the same issue in multiple other challenges.

#### Browser Information

* Browser Name, Version: Firefox Quantum, Google Chrome 63
* Operatin

[2017-12-10 20:18] raisedadead commented on #16087
Yes, thanks a lot for confirming.

[2017-12-10 20:18] #16087 closed

[2017-12-10 20:19] anhtran1906 opened #16175 "[beta] Fix UI problem with the available-to-hire button"
#### Issue Description
When you sign in to your account on the beta site and navigate to your Setting page by clicking "Update your setting" button, you will see the "Are you available to hire?" button to toggle between "Available" and "Unavailable". However, when you resize your browser window, the label on the button ("Unavailable"/"Available" will be out of the button box. A quick fix I could t

[2017-12-10 20:20] anhtran1906 commented on #16168
@raisedadead Thanks for confirming. I opened the issue at #16175. Please confirm the tags on the issue and my solution so I could go ahead and fix it.

[2017-12-10 20:30] raisedadead commented on #16175
Agreed. Thanks for looking into this.

[2017-12-10 20:33] raisedadead commented on #16174
@onelharrison thanks for the report, while this is something we are already aware off.

We maybe wating for the core challenge infrastructure to be ready, before diving into the UX. Please keep reporting any such issues.

This is primarily becasue we can then focus on having a cleaner way to get the feedback and do some A/B testing.

/cc @QuincyLarson @BerkeleyTrue

[2017-12-10 20:35] anhtran1906 commented on #16175
@raisedadead thanks for confirming. Working on it now

[2017-12-10 20:39] raisedadead commented on #15972
I can reproduce on the beta site by throttling at Slow/Fast 3G. The AJAX request for the bundle timesout.

@BerkeleyTrue
I am not sure, if we can leverage any of the webpack's code spliting? or some form of a pre-loading animation, etc. to wrap around the intial bundle loading.

Related report: https://github.com/freeCodeCamp/freeCodeCamp/issues/16129

[2017-12-10 20:39] raisedadead commented on #16129
Closing in favor of linked issue.

[2017-12-10 20:39] #16129 closed

[2017-12-11 00:18] TylerDelRosario commented on #16147
I'd like to confirm this bug.
I used Tdel2015@outlook.com as the e-mail address.
The browser was Firefox Developer Edition: 58.0(64-bit)
The challenges I used as sample challenges: Reverse a String and Factorialize a Number.
Moreover, the default user avatar was also broken as @JacksonBates mentioned.
Also, when I signed back in and lost my progress, the avatar was restored to it's default image.

[2017-12-11 00:23] TylerDelRosario commented on #16107
I did this challenge a while back, and there used to be a link called 'Recursion' on the helpful links section.

[2017-12-11 00:39] blairfrandeen commented on #16111
I would like to second this, and add that the "flow" of completing challenges (particularly algorithm challenges) should be changed to encourage users to compare their solution to other solutions prior to pressing ctrl+enter to move on to the next challenge. It's too easy to pass the challenges with inefficient code or poor practices. I've learned a great deal from reading through and understandin

[2017-12-11 00:55] onelharrison commented on #16174
@raisedadead, understood. I'll keep reporting anything I come across. Thanks for the info.

[2017-12-11 04:15] #16175 closed

[2017-12-11 04:31] raisedadead opened #16177 "Check if GitHub is already linked to an existing account"
Steps:
- Create account for Alice and link it to GitHub profile of Alice via update profile.
- Sign out
- Create account for Bob and link it to GitHub profile of Alice via update profile.

We want to prevent this for user name collision that can come from this path.

[2017-12-11 06:00] raisedadead commented on #16147
So, on local with a pristine DB and NODE_ENV=production
I get this:

[code]

I followed steps from @QuincyLarson:

Here are the steps I took:

1) Created an account
2) Signed into that account (without doing the email verification step)
3) Completed a challenge
4) Signed out
5) Opened up localhost:3000 in an incognito tab and signed into the same account

The progress should be wiped. And if you g

[2017-12-11 06:01] raisedadead commented on #16147
Unsure of the cause here, but this looks like duplicate requests to same end points.

[2017-12-11 07:39] mpontus commented on #12755
I'm going to take four commits from the top:
- [ ] [`54c11a0`](https://github.com/freeCodeCamp/freeCodeCamp/commit/54c11a0de9436935cb26f74324354d76d5f20939)
- [ ] [`78e86f5`](https://github.com/freeCodeCamp/freeCodeCamp/commit/78e86f514f90dc3fd392a52fa52feb180a91f3af)
- [ ] [`aefcf9c`](https://github.com/freeCodeCamp/freeCodeCamp/commit/aefcf9c2acf9def066947ce5c55196fab1ab3e00)
- [ ] [`52edced`](h

[2017-12-11 10:09] sammoorhouse commented on #11360
This _is_ #11360! Did you mean to close #12252 and leave this issue open?

[2017-12-11 11:01] raisedadead commented on #11360
Ah, sorry I meant to close this in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/15134

[2017-12-11 14:18] raisedadead commented on #15972
Nope the network speed is not the only issue here, I tried disabling the cache and it did work without issues on the slow network.

[2017-12-11 16:16] Mandihamza commented on #16163
@raisedadead I'm having some issues with the squash.  Can you point me in the right direction?

[2017-12-11 19:13] #16163 closed

[2017-12-11 19:54] BerkeleyTrue commented on #16115
@no-stack-dub-sack

The error indicates the process that takes the content of the editor and updates the appropriate section in redux. It seems like this part may have a bug. I'll take a look and see if I can track it down.

Yes, the test suite is insufficient. We are hoping to change this in the future to use the same modules that the browser uses. I believe @raisedadead was looking into this.

[2017-12-11 20:10] bonham000 commented on #16115
The other two things the challenges will need at this point are availability of original, un-transpiled code and mock document in the test environment.

If we can provide `editor.getOriginalCode()` that would be great because that's how we are converting those tests now.

The other is availability of a `document` within the test environment for the ReactDOM challenges.

[2017-12-11 20:19] raisedadead commented on #16115
Yes, I have been trying to research and integrate this.

And just to note, I think https://github.com/ternjs/acorn and some of the community plugins (for react) should give us the necessary base to build up on.

[2017-12-11 20:22] raisedadead commented on #16115
Of course, with Karma (a test runner) and any compatible testing library that we choose, we should have them tested in browser (even in CI environment) too.

[2017-12-11 20:29] bonham000 commented on #16115
We are also seeing very strange results with `npm test`, e.g.

<img width="488" alt="failure" src="https://user-images.githubusercontent.com/18126719/33852302-d5a31694-de6e-11e7-8400-07ce9aa2d18e.png">

which occurs even though all of our individual tests that we add pass.

[2017-12-11 20:29] BerkeleyTrue commented on #16115
@bonham000 yes, this is an issue that rears its head from time to time but I have not been able to track down.

[2017-12-11 20:36] JanetShuman opened #16182 "New lessons weren't added to previous work."
#### Issue Description

I started yesterday with 116 completed lessons and did 54 more.  The 54 did not show up in my completed history.  In the screenshot, please note the 116 below my name and the 54 at the right.
How the issue developed:  I had used this early in the year and tried to login again and continue.  When I logged in, it showed me at [0] under my name.  Following advice from others i

[2017-12-11 20:37] #13103 closed

[2017-12-11 20:42] raisedadead commented on #16182
Please note that the lessons are not numbered, those are your brownie points, https://forum.freecodecamp.org/t/free-code-camp-brownie-points/18380

Seems this is related to #16147

[2017-12-11 20:46] BerkeleyTrue commented on #16100
This should be fixed in beta.

Happy Coding

[2017-12-11 20:46] #16100 closed

[2017-12-11 20:47] BerkeleyTrue commented on #16115
@bonham000 @no-stack-dub-sack I've got a pr that should fix the issue in the video. Mind giving it a test/merge?

[2017-12-11 21:10] QuincyLarson commented on #16182
@JanetShuman Sorry for the inconvenience this bug has caused!  We are working on fixing this. I will close this issue in favor of our discussion about this bug on #16147

[2017-12-11 21:10] #16182 closed

[2017-12-11 21:11] QuincyLarson commented on #16147
@raisedadead OK - that's a good start. Please keep investigating this, and let me know if I can do anything to help. This is our absolute top priority right now - even higher than beta (though I think we can work on the two in tandem).

[2017-12-11 21:12] QuincyLarson commented on #16118
@Em-Ant Awesome! Thank you for moving these!

[2017-12-11 21:13] QuincyLarson commented on #16157
@rajatvijay Thanks for pointing this out. We are removing the videos completely on beta. So this inconsistency will cease to exist in a couple weeks when we ship beta.

[2017-12-11 21:13] #16157 closed

[2017-12-11 21:16] BerkeleyTrue commented on #16147
@raisedadead Are you now able to reproduce?

[2017-12-11 21:28] raisedadead commented on #16147
@BerkeleyTrue Yes, but not consistently enough, meaning if I purge my DB completely and start afresh, I can get this with the steps that I have mentioned from Quincy above.

But then on with every other account this goes inconsistent.

Also, I had to set `NODE_ENV=production`.

What, my initial investigations reveal is that their duplicate requests for every action (do you remember the chrome cach

[2017-12-11 21:31] raisedadead commented on #16147
Also, to note that the relevant fields for challenges and the solutions challengeMap are missing from the affected user.

I think there is a rogue UPSERT or similar query somewhere that we are missing.

[2017-12-11 21:32] BerkeleyTrue commented on #16147
Could this be a old migration script?

[2017-12-11 21:37] denzuko commented on #16044
@walllFlower Yeah that appears to be the bug itself. What ever test is being ran behind the scenes is only evaluating the `var myList = new Array(5);` portion and ignoring everything else.

![how it breaks](https://user-images.githubusercontent.com/19776/33854974-23b7d5bc-de89-11e7-935f-eb7b7f5b9ff3.png)

While its my understanding that the challenge is to have an array of arrays, with the first e

[2017-12-11 21:38] BerkeleyTrue commented on #15972
I'm guessing something being saved to localStorage is not the correct format?

[2017-12-11 21:39] #16121 closed

[2017-12-11 21:39] raisedadead commented on #16147
I am not sure, but this affects only new accounts (which are unverified), potentially. As a emergency, I highly recommend, we add a notice on the welcome page after signup step:

"We are currently investigating an issue with accounts, please verify your email, before starting"

or similar.

[2017-12-11 21:41] BerkeleyTrue commented on #16147
I don't see how this is an issue with verification as we don't very any accounts

[2017-12-11 21:43] BerkeleyTrue commented on #16147
@raisedadead I don't think we have enough data to point to email verification. Historically we haven't used verification

[2017-12-11 21:48] QuincyLarson commented on #8096
@raisedadead @BerkeleyTrue OK - it sounds like we just need to update the lesson copy to clarify they should use prototypical inheritance - and not ES6 classes - to solve this. @raisedadead Would you be interested in updating the copy since you've put a lot of thought into the reasoning behind this?

[2017-12-11 21:51] billionairekid89 commented on #16118
How can I unsubscribe

Sent from my iPhone

[2017-12-11 21:52] HKuz commented on #14234
Hi @Flarp and @sblack4 - unfortunately, I'm not sure about the ES6 issue, I've been out of the loop on the platform updates. Maybe try asking in the chat room, and check if anyone else knows. Cheers for your renewed interest in creating these challenges!

[2017-12-11 22:11] bonham000 commented on #16115
@BerkeleyTrue this seems to help and resolve the previous error. It's easier to test solutions against challenges now. However, the app still doesn't seem to be working completely. I still have to clear local storage and challenges do not seem to always update when I change the code.

Also, it seems like the `tail` code is not being applied in the editor before the test are run.

[2017-12-11 22:18] raisedadead commented on #16147
Yes, that totally makes sense, that the verification step is never been an issue.

I am fairly confident that the `create` and the `verify` calls (yeah, loopback's implementation 😞) in the same execution path on the User object are the trouble here.

I think this is the point where the User object is not updated correctly (and potentially malformed).

We should try and go back to sending the email

[2017-12-11 22:30] bonham000 commented on #16115
Also, there are problems with the preview pane for the React challenges.

Not all the challenges create components with the same name. If the preview is trying to render a component, .e.g. `MyComponent` somewhere, it will only work if the challenges has a component with that name, which is not all of them.

[2017-12-11 22:32] BerkeleyTrue commented on #16147
I believe I've tracked down the cause.

It is here: https://github.com/freeCodeCamp/freeCodeCamp/blob/backup/staging/server/boot/home.js#L17

To replicate:

Create new account: you should have a broken image. This is because we do not add a user.picture on account creation

Navigate directly '/': Since you do not have an image you will have a default one added and then the user.save method will be

[2017-12-11 23:59] rossijonas commented on #16167
I've forked FCC today... I'll try my first open source contribution and this issue seems a good point to start. Is there anyone already helping this one?

[2017-12-12 03:04] jrwestgarth commented on #14089
I didn't understand that line either - my best guess was that by including the container-fluid class in the <div> sections then it addressed that point and passed the exercise.

[2017-12-12 05:04] QuincyLarson commented on #16158
@raisedadead Awesome - sounds good. It's a shame @abhisekp's tool doesn't seem to work at the moment, because I could imagine a lot of communities being able to use that. But if it's faster to just download the data using Python, that works too :) Thanks for digging into this!

[2017-12-12 05:05] QuincyLarson commented on #10056
@raisedadead Yes - I don't think it's worth improving at this point. We only use a few of these slide challenges, and they're short - I think the longest one is like 4 slides.

[2017-12-12 05:05] #10056 closed

[2017-12-12 05:06] QuincyLarson commented on #16091
@BerkeleyTrue OK - next time I encounter a situation like that I'll do this and ask them to try again, and report back here with the results. 👍

[2017-12-12 05:09] QuincyLarson commented on #13798
@raisedadead Awesome! Are you're sure it has everything we need? For example, I couldn't find a D3 icon in there, and we use it for our landing page. We may have to keep a few SVG files, but I'm confident we can get rid of the redundant Ionic icon library :)

[2017-12-12 05:13] QuincyLarson commented on #16150
@kudzaidotnet This is the only instance I've heard of regarding the donate page being inaccessible. I'm going to close this issue, but let me know if you're still having problems getting it to load.

[2017-12-12 05:46] raisedadead commented on #16167
Hi @rossijonas thanks for looking into this, this might be taken care of until after beta is shipped. I recommend you should start with the issues labled as "help wanted" on the tracker.

You can hang out with us in the [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors), for any assistance.

Thanks and Happy coding!

[2017-12-12 12:22] raisedadead commented on #13798
I have opened an [official request](https://github.com/FortAwesome/Font-Awesome-Pro/issues/232#issuecomment-351034682)

For now we could use the official logo (available as SVG)
https://github.com/d3/d3-logo

[2017-12-12 15:49] QuincyLarson commented on #13798
@raisedadead OK - that would be great. Note that it took more than a year and hundreds of +1's on the GitHub issue before the Font Awesome team added the freeCodeCamp logo, so it may take a long time.

We are currently already using the official D3 logo on the landing page so we don't need to change anything. I was just pointing out that we will still need some SVG files in addition to the icons p

[2017-12-12 17:30] evaristoc commented on #16158
@QuincyLarson

No worries. My code is currently in Python so it is easier to modify that one.

Sorry for being too late though - I made a wrong assumption about the behaviour of the duration of the download process worsened by a line in my code and I entered into EXPONENTIAL TIME (0o0) when downloading data from the Casual room. THREE DAYS DOWNLOADING DATA!! First time in my life, never happened t

[2017-12-12 18:37] shabeermothi commented on #16177
Hi. Am interesting in getting this feature done. How do i get started?

[2017-12-13 01:10] QuincyLarson commented on #16158
@evaristoc Thrilled to see this backup underway! Let me know if I can do anything to help :)

[2017-12-13 02:31] #16147 closed

[2017-12-13 02:31] BerkeleyTrue commented on #16147
Fixed!

[2017-12-13 02:33] BerkeleyTrue commented on #16115
I don't understand this statement. Can you clarify?

[2017-12-13 05:05] inoabrian commented on #16177
I will also try working on this issue.

[2017-12-13 06:15] raisedadead commented on #16177
Thanks guys.

You might have to check the docs for [Loopback 3.0](https://loopback.io) and maybe looking into the [User-Credential.js](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/models/User-Credential.js) is a place to start understanding how it all ties together.

We don't have excellent documentation on our architecture. But that's what we have for now. Drop us comments her

[2017-12-13 10:49] evaristoc commented on #16158
/home/ec/Documents/MainComp_Programming/FreeCodeCamp/chatrooms_deprecated/newyorkcity_chatroom.json.tar.gz

[2017-12-13 15:30] angelfeliz commented on #16050
I see this is a good issue for started. I will finish setting up the project tonight and do the test on the chanllege. Can I write @raisedadead suggestion in italic <i>Alt attribute hence ideally should not contain special chars unless needed.<i/>, right after the: Note that in most case. img elements are self-closing.?

[2017-12-13 15:54] raisedadead commented on #16050
@angelfeliz

Thanks for your interest in fixing. I think we do not need italicizing here.

Lets keep it like so;

That said, you would also have to work on the tests that are failing for special chars.

Happy coding!

[2017-12-13 18:11] meda123 commented on #16177
Hi! I know two other people are working on this issue. Could I take a look as well? Looks like an interesting project.

[2017-12-13 19:11] IsaacAbrahamson commented on #16144
@raisedadead, yes sorry, I completely forgot about it. Please focus on the beta, I need to ask some of the users about their confusion.

[2017-12-13 19:14] raisedadead commented on #16144
Sure, thing... I am tagging @QuincyLarson to follow along just in case, he has any idea on this any way.

He is usually getting a lot of queries or so I believe.
Thanks once again!

[2017-12-13 20:29] IsaacAbrahamson commented on #16144
@raisedadead, a person just asked again about this on the forums 20 minutes ago, so I think nows a good time to at least bring it up. Here are the most recent questions:

The most recent one from today:
https://forum.freecodecamp.org/t/how-long-time-wise-is-the-waiting-list-for-nonprofit-projects/163619

A few others from the past few months:
https://forum.freecodecamp.org/t/ive-got-my-certificate

[2017-12-13 20:49] raisedadead commented on #16144
Great thanks for bringing this up. Although not a direct code-base issue, we should be adding the clarifications to the about or similar FAQ sections.

@QuincyLarson you are probably the best person to clarify these queries, or at least set the guidelines for such.

[2017-12-13 20:51] raisedadead commented on #16144
And @IsaacAbrahamson great work compiling all these together! 👍 ✨

[2017-12-13 23:31] BerkeleyTrue commented on #16115
@no-stack-dub-sack and @bonham000

We just landed two PR's that should improve the process.

The first is the issue with the editor not updating code.

The second one fixes the issue of sourcing the original user code.

The next bit that I'll be working on is getting the react components to render in the preview. It seems we need multiple files for this. The user code and an html code to render re

[2017-12-13 23:53] QuincyLarson commented on #16144
@IsaacAbrahamson Yes - there may be confusion since we called it "open source for good" on the map. I can rename it.

[2017-12-14 00:10] bonham000 commented on #16115
@BerkeleyTrue this sounds great we'll check out the updates from the PRs soon.

About preview, what I meant is that in each challenge we have which previews React code we take the root component in that challenge and render it to a DOM node in our page using ReactDOM to create the preview. This requires us to know the name of the root React component, which is not the same in all the challenges (e

[2017-12-14 00:12] BerkeleyTrue commented on #16166
We removed this feature. We will adding in @Bouncey 's search feature as a replacement.

Happy Coding

[2017-12-14 00:13] BerkeleyTrue commented on #16167
@QuincyLarson Thoughts on this. I remember at some point we decided to remove the buttons on the map feature.

[2017-12-14 00:22] BerkeleyTrue commented on #16115
This would be handled in the head/tail code

Hmmm, this should be a simple enough addition

Do you mean it is not being added to the code or that you need access to the head/tail string outside of the eval?

[2017-12-14 00:23] BerkeleyTrue commented on #16115
code links/examples would probably clear up the confusion quicker

[2017-12-14 01:06] bonham000 commented on #16115
@BerkeleyTrue the main thing we thought we saw is that the head tail code was not present around the user's code when the tests were executed, or at the very least if it was there it wasn't transpiled.

If we can agree on a name for the component to be preview rendered, e.g. `PreviewComponent`, we can add this to the `tail` code for all the challenges and assign it to the appropriate component for

[2017-12-14 01:39] BerkeleyTrue commented on #16115
I believe this is most likely.

The way it's implemented this should be completed controlled from the seed definition.

[2017-12-14 04:04] inoabrian commented on #16177
@raisedadead
I successfully setup the environment, could you please reiterate the bug and expected behavior.
"
What we want is to check if a Credential/Identity Object is not already attached to the User.
If yes, then we throw off an API error that its already linked or similar.
"

Is this happening for all methods of sign-in that are not the default email?

[2017-12-14 05:14] raisedadead commented on #16166
Hi @BerkeleyTrue

We might anticipate Navigation UX issues a lot after we ship the new batch of challenges.

Sure, I don't know the motivation behind removing the search, currently its annoying to reach any challenge while browsing. Even more is the case for ability to fuzzy search like we can in the production.

I am not sure, if you are talking about the Elastic Search Feature which I remember @

[2017-12-14 05:18] raisedadead commented on #16154
@JosephLivengood I'll go ahead and close this, we have several updates being landed on the staging so its, more suitable to check after we have shipped beta.

Thanks a lot for fixing this on production.

@StevenDStanton Please check at your side, if the issue has resolved. We have pushed the patches to the website!

Happy coding!

[2017-12-14 05:18] #16154 closed

[2017-12-14 05:24] raisedadead commented on #16177
@inoabrian awesome!

Nope, we are interested only in the GitHub update profile path. You just need the GitHub keys in ENV.

This can be reproduced with the steps in the opening post.

[2017-12-14 05:30] inoabrian commented on #16177
@raisedadead I will message you in the gitter chat.

[2017-12-14 05:36] raisedadead commented on #16177
Sure, anytime. Thanks a lot.

[2017-12-14 12:40] alaminos opened #16190 "Sort Arrays with .sort - confusing description of how it works"
#### Challenge Name
https://www.freecodecamp.org/challenges/sort-arrays-with-sort

#### Issue Description
This description is highly confusing:

  _`sort `can be passed a compare function as a callback. The compare function should return a negative number if a should be before b, a positive number if a should be after b, or 0 if they are equal._

Here's what's wrong:

* It talks about a compare fu

[2017-12-14 15:59] IsaacAbrahamson commented on #16144
Thanks, @QuincyLarson, hopefully, this will make it more clear to people!

[2017-12-14 15:59] #16144 closed

[2017-12-14 16:23] anku255 opened #16191 "Cannot submit API Projects (Submitting refreshes the page)"
#### Challenge Name

[Timestamp Microservice](https://www.freecodecamp.org/challenges/timestamp-microservice)

#### Issue Description

I cannot submit any API Project after completion. When I enter the glitch and Github URL and press submit, it just refreshes the page.

I have not used the boilerplate given by FCC and created my project from scratch. Please let me know if that's a problem.

**Glit

[2017-12-14 18:30] QuincyLarson commented on #16166
@raisedadead I'll check with @Bouncey and see whether he can incorporate his search box into the nav bar in advance of shipping beta.

[2017-12-14 20:10] raisedadead commented on #16166
Sure, @QuincyLarson in that case, lets leave this open and blocked.

[2017-12-15 06:10] raisedadead opened #16192 "[beta] Opening/Closing Map should scroll to current challenge"

[2017-12-15 06:21] raisedadead opened #16193 "[beta] Code not executable"
There is a new error leaving all challenges not executable.

This is for example on the Hello World Challenge.

![image](https://user-images.githubusercontent.com/1884376/34029765-293dc6d6-e190-11e7-9c45-7b4a94439d9b.png)

[2017-12-15 12:30] ferdi81 opened #16195 "open source codebase and curriculum. Learn to code and help nonprofits."
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-12-15 13:00] abdurajak commented on #16195
link ehi

[2017-12-15 13:02] raisedadead commented on #8096
Hi @QuincyLarson and everyone involved.

I took some time, to review this challenge and the entire discussion. Since this discussion is quite old, I thought it best to take some time and not deviate without correct assessment and triage.

**The summary of the current status:**

A. _Reconciliation_ on the OP and the subsequent discussion is about allowing ES6 Classes in the challenge.
B. _Encourage

[2017-12-15 13:03] abdurajak opened #16196 "www.globe.com.ph"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-12-15 13:04] abdurajak commented on #16196
lin

[2017-12-15 15:16] QuincyLarson commented on #8096
@raisedadead Note that we're moving the advanced algorithms (including this challenge) out of the main curriculum completely and into the interview prep section.

We would indeed benefit from having two versions of this challenge (maybe with slightly different themes like "make a dog" focused on prototypical inheritance). We should have both of these in the algorithm challenges.

[2017-12-15 15:23] raisedadead commented on #8096
Perfect. That sounds like a plan. Thanks for confirming.

[2017-12-15 15:24] #16196 closed

[2017-12-15 15:26] raisedadead commented on #16196
@abdurajak please do not spam the issue, tracker.

Here is our [Code of Conduct](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CODE_OF_CONDUCT.md)

[2017-12-15 15:28] raisedadead commented on #16195
@ferdi81  @abdurajak please do not spam the issue, tracker. Please refer our [Code of Conduct](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CODE_OF_CONDUCT.md)

[2017-12-15 15:28] #16195 closed

[2017-12-15 15:29] #16193 closed

[2017-12-15 15:29] BerkeleyTrue commented on #16193
Nice Catch!

[2017-12-15 15:32] raisedadead commented on #16191
We need help in assessment. Can any one check and confirm the issue in submissions?
@anku255 do you have any screenshots? Could you also check your browser's Dev Tools console, for logs if any?

[2017-12-15 15:33] raisedadead commented on #16191
@anku255 were you able to get any support in the Chat rooms and the forum?

[2017-12-15 15:35] Mr-Sonnet commented on #7976
# The Actual **Problem** is:

And we don't press` ctrl` + `enter` 🥇

**Just Submit your answer you will see a `success` massage.**

Thanks me later.
.

[2017-12-15 15:38] QuincyLarson commented on #16167
@BerkeleyTrue Yes - they are all collapsed by default and you can drill into them.

@raisedadead We don't want to complicate the UI with buttons. I think https://devdocs.io does a great job of this - a clean, intuitive, unambiguous sidenav.

So I'm going to close this issue.

[2017-12-15 15:39] #16167 closed

[2017-12-15 15:41] anku255 commented on #16191
@raisedadead No, I posted in forum 2 days ago but nobody replied. Also, I asked in chat but no body was able to help me. Then, I had to create this jssue.

[2017-12-15 15:44] BerkeleyTrue commented on #16192
Going by @QuincyLarson statement here this is not the direction we want to go. @QuincyLarson thoughts?

[2017-12-15 15:54] QuincyLarson commented on #16166
@raisedadead Sounds good. @Bouncey is making rapid progress on this: https://www.npmjs.com/package/react-freecodecamp-search

[2017-12-15 16:14] #14948 closed

[2017-12-15 16:40] raisedadead commented on #16192
Oh yes, I just realised that. If we are having search on the nav. I guess this is not necessary. Thanks.

[2017-12-15 16:40] #16192 closed

[2017-12-15 16:42] raisedadead commented on #16166
@QuincyLarson thanks for the updates.

[2017-12-15 17:00] abdurajak opened #16198 "HTTP INJECTOR PHILIPPINES VPN"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-12-15 21:53] #15809 closed

[2017-12-16 00:05] angelfeliz commented on #16190
I read the [Sort](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort) documentation, and what I see in the challenge description is a very short summary that  may get confusion some campers, but I suggest to take @alaminos alternative and modified a little with:

I think is good to keep the description of the challenge with the same words of the explanation

[2017-12-16 06:59] anku255 commented on #16191
@raisedadead I didn't think that screenshots will be helpful. Anyway, I am posting screenshots that also contain logs.

**Before Clicking Submit:**

![chrome_2017-12-16_12-25-29](https://user-images.githubusercontent.com/22813027/34068112-6f5a8268-e25c-11e7-87bb-712ad75a28d6.png)

**After Clicking Submit:**

![chrome_2017-12-16_12-25-48](https://user-images.githubusercontent.com/22813027/34068121-

[2017-12-16 07:36] anku255 commented on #16191
@raisedadead Hey! I found the bug. The problem is in my app URL `https://timestamp-fcc-.glitch.me/`. Notice, before `glitch`, there is a dash and dot. This is making the URL invalid. I came to know about this when I tried to submit the same project in beta (beta wasn't working for me before else this would have been solved days ago). In beta, I get an error message saying URL is invalid.

So, I th

[2017-12-16 07:36] #16191 closed

[2017-12-16 08:29] DevGrrrl commented on #7213
Jumping in because I accidentally marked a challenge as complete this morning when i haven't even started it. I accidentally linked a my wiki viewer to the random quote challenge and so it thinks I've completed it. I wish I could unmark the challenge because I think it looks dishonest. As a quick fix I'm going to create an empty pen with a message on it and link that to the challenge, but it's not

[2017-12-16 10:29] nicksavov commented on #13860
I also can't reproduce the issue. I'm using Firefox 57 on Mac.

We need a Windows user to test it in Firefox

[2017-12-16 15:03] mpontus commented on #12755
@QuincyLarson PR is out

I also looked through the rest of the commits and here's what I found:

 https://github.com/freeCodeCamp/freeCodeCamp/commit/a02fd05922a382c970814d7afdc7fd258a7ca2fa - already implemented
 https://github.com/freeCodeCamp/freeCodeCamp/commit/1947a1631a82674ba645873b9f3dcf7b1df1296f - already implemented
 https://github.com/freeCodeCamp/freeCodeCamp/commit/1e831cb02c788168ad

[2017-12-17 02:56] oyin-k commented on #16174
@raisedadead would it be fine if i find more of these issues and try to fix them?

[2017-12-17 20:06] nicksavov commented on #13860
I tested on a Windows computer with Firefox 57 and I couldn't reproduce the issue.

@Skarrix @systimotic @Douglasdc3 , could you check the issue one more time? Looks like it's resolved.

[2017-12-17 22:10] Ethan-Arrowood opened #16207 "Test ES6 Section"
## Tracking ES6 Section tests via this issue.
Will be using atomic commits and will merge completed challenges as I go.
✅ - All complete
⚠️ - challenges require QA (have been completed and merged)
⏳ - pull request requires review (pull requests at bottom of list)
✖️ - requires tests
1. ⏳ Introduction to the ES6 Challenges
2. ⏳Explore Problems with the var Keyword
3. ⏳Compare Scopes of the var and

[2017-12-17 22:27] Ethan-Arrowood commented on #16207
For discussion:
Some of the challenges test for `proper use of arrow function syntax`.
1. Why are we testing this? Shouldn't the code fail if they aren't using proper syntax?
  - testing for the absence of `function` and testing that the declared variables are of `typeof functionName === 'function'` should ensure the user is using an arrow function.
2. If we really wanna test proper arrow function

[2017-12-18 03:58] mstellaluna opened #16208 "Syntax Highlighting makes text illegible"
#### Challenge Name
Responsive Style Radio Buttons

#### Issue Description
When you accidentally make a typo in your code, the text is highlighted in a bright pink. unfortunately this makes the text illegible and hard to locate the error.

FCC is configured to use dark mode
Browsers are in light mode
#### Browser Information

* Browser Name, Version:  Edge 11, Chrome v63 (all 64-bit browsers)
* Op

[2017-12-18 11:15] scissorsneedfoodtoo commented on #16083
Hi there.

After reading your description of the problem and suggestions, I'd like to try and help with this. Hope to be able to submit a pull request within the next couple of days.

[2017-12-18 12:31] Bouncey opened #16210 "Unrelated test output logging to console"
Current staging has test output logging to the console. But the test output is from a completely separate challenge.

I am working in HTML & HTML5 but keep getting

[code]

[2017-12-18 12:52] Bouncey commented on #15849
Closing as resolved in staging

[2017-12-18 12:52] #15849 closed

[2017-12-18 16:48] #16166 closed

[2017-12-18 16:53] pocahontas123 opened #16212 "[BETA] Trouble to make FCC beta challenge work/loading"
Hi, every now and then , i have a terrible bug on FCC beta challenge.
When i start my journey, some time on the FCC challenge map, nothing is loading and i got the message “Some thing went work” every time i click on the left nav links.
It’s like some thing is not loading because when it work, the left links come from lowercase to uppercase.
But when it doesn’t work it stay in lowercase.
I tried o

[2017-12-18 18:46] theoutlander commented on #13095
I'm going to spend some time tonight looking at reproducing this problem. If I can successfully get that far, I will claim this issue.

[2017-12-18 19:49] #13726 closed

[2017-12-18 20:28] Ayush-Rawal commented on #16190
The compare function is not any 'named' or 'special' function, it can be any function that compares two elements of the same data type. Also the difference between f(a,b) and f(b,a) is just a matter of semantics as long as you define it appropriately.

While I believe the current description to be good enough, the description by @angelfeliz is indeed clearer.

P.S. not all objects can be compared

[2017-12-18 20:31] Ayush-Rawal commented on #16208
If nobody is working on it, I'd like to take this issue.

[2017-12-18 21:08] QuincyLarson commented on #16115
@BerkeleyTrue Just merged #16200 and these are now in staging! Woo-hoo! Thanks everyone!

[2017-12-18 21:08] #16115 closed

[2017-12-18 21:10] QuincyLarson opened #16213 "Modernize auto-testing framework"

[2017-12-18 21:13] Em-Ant commented on #13095
@honmanyau correct ! The tests should do an ajax call to the project background express app. The CORS headers should be edited in order to include beta.freecodecamp.org, but even if you do it manually on your project, it seems that no request is received from freecodecamp.

[2017-12-18 21:13] QuincyLarson opened #16214 "Front end challenges not working at all"
Here's an example of a D3 challenge that isn't working: http://localhost:3000/en/challenges/data-visualization-with-d3/add-document-elements-with-d3

And here's an example of a Sass challenge that isn't working: http://localhost:3000/en/challenges/sass/store-data-with-sass-variables

[2017-12-18 21:59] Ethan-Arrowood commented on #16207
Found issues with challenges #c23 - #c27
'Require is not defined' produced for challenges 23, 25, 27
'exports is not defined' produced for challenges 24, 26

[2017-12-19 02:05] #13095 closed

[2017-12-19 17:41] #16214 closed

[2017-12-19 17:51] raisedadead opened #16219 "Search Component"
Behaviour:
- [ ] Currently the search opens challenge links from the result in new tabs. Do we want that?
- [ ] It displays description, which is bit over whelming, can we hide it or suppress it with a expand (+) icon?

Bug:
- [ ] Search does not clear the placeholder test when clicked upon. Its cleared when typing starts.
- [ ] Search results are not grouped together correctly.
       <details>

[2017-12-19 17:54] raisedadead commented on #16212
Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/15972

[2017-12-19 17:54] #16212 closed

[2017-12-19 18:00] Ayush-Rawal commented on #16208
@mstellaluna , I've been unable to recreate the issue,

FCC is in night mode while my browser (Chrome v 63 x64) is in light mode.
Can you provide further details to recreate the issue?

[2017-12-19 18:01] BerkeleyTrue opened #16220 "Ignore babel errors while editing code."
These errors currently cause the error toast to pop up.

[2017-12-19 18:02] raisedadead commented on #15972
@BerkeleyTrue I dont have clean analysis, yet. But the consistent conditions to reproduce this are:

On production:
- Toggle the network throttle to a slow connection (available in Chrome).
-  Do NOT disable the cache (Available in Chrome).
- While the intial challenge page is loading and the map looks dash-ed, click on the UI.
- Note the console for the errors.

On Local:
 No analysis yet.

To me

[2017-12-19 18:20] QuincyLarson commented on #16174
@oyin-k Yes! Absolutely. We would love your help fixing these issues. If you see anything out of sorts, make sure there isn't already an issue. If there isn't one, go ahead and open it - no matter how small the issue may be. This will help us all a ton!

[2017-12-19 18:21] QuincyLarson commented on #16207
@Ethan-Arrowood Awesome! Thanks for keeping this list so nicely groomed and updated. It looks like you're rapidly converging on a PR. Let us know when it's ready - we'll QA and merge ASAP.

[2017-12-19 18:44] BerkeleyTrue commented on #15972
@raisedadead I don't think it causing the bundle to stop loading. I believe that it is causing an uncaught error to collapse the rx pipeline.

The map ui initially loads just the superblocks (SSR). The only challenge data loaded other then this is current challenge. I'm suspecting the action of clicking on a superblock in the map UI before the `fetchChallenges.complete` will cause an uncaught exce

[2017-12-19 19:17] Bouncey commented on #16219
@raisedadead please see #16218 re grouping and description.

I'm pretty sure the placeholder behaviour is default. I certainly don't remember it being any other way?

There is scope to make the `challenge` results use the `Link` component from react-router, but that, at the moment, would require us the build out an individual results UI for freecodecamp, much like we have in guides.

I went with r

[2017-12-19 20:00] raisedadead commented on #16219
Oh, yes I am just taking a note of all the things, and will strike off the things so that nothing is missed that we notice.

Perfect. Thanks for the information.

I think that the input field should blank out when we click inside it, just like it does, when we start typing. Of course, its not a huge issue, just a small UX feedback of a click inside the area.

I agree, we can come and fix this up l

[2017-12-19 20:01] raisedadead commented on #15972
Sure, will check first thing tomorrow.

[2017-12-19 21:49] QuincyLarson commented on #12755
@mpontus Awesome! Thank you for researching these! I've double checked and I agree. So you're saying that there are only about 3 left to tackle, right?

[2017-12-19 22:31] cassidypignatello opened #16222 "[beta] Undeclared variable on Size of the Set challenge causing error"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/coding-interview-data-structure-questions/size-of-the-set

#### Issue Description
The code that automatically loads on the page has an undeclared variable `index` on line 24 that throws an error when submitting your code. This is a pretty easy problem to catch, but I'm thinking it should be changed since it's in a part of the code tha

[2017-12-19 22:54] GCa commented on #16091
Hello,
I'm not sure if this may be related to the issue, but I was looking at the certificate link, and it appears that the issue date keeps being changed.

When the certificate was issued, the date was 25 November.
I checked today, and the certificate date has been changed to 19 December.

https://www.freecodecamp.org/gca/front-end-certification

Shall I open a new issue?

[2017-12-20 00:12] mpontus commented on #12755
@QuincyLarson Thanks Quincy!

I have also PR incomming for https://github.com/freeCodeCamp/freeCodeCamp/commit/a29a928f49ef0c0153ea1c8e25a5f40fa46a3190 and I will see what I can do about https://github.com/freeCodeCamp/freeCodeCamp/commit/9142aec8ad118fa4881a82a731e5d5c3ffc9752f tomorrow.

I would try to tackle the resubscription changes: https://github.com/freeCodeCamp/freeCodeCamp/commit/505778a

[2017-12-20 05:29] raisedadead commented on #16091
@GCa yes please, with the steps that you followed.

[2017-12-20 06:38] QuincyLarson commented on #12755
@mpontus Awesome! Thank you so much for jumping on these!

I'm not sure about the #505778a myself, the codebase has changed so much. You could ask @BerkeleyTrue for help QAing that.

We just updated the contributor guide a few days ago, so it should make it clearer how to create accounts on your locally-running version of freeCodeCamp: https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONT

[2017-12-20 07:01] raisedadead commented on #16222
@cassidypignatello thanks a lot for reporting.

This should be pretty easy fix, by adding `var` keyword.

To contributors:

Here are our [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md).

And if you need assistance reach us in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors).

[2017-12-20 10:11] GCa opened #16224 "Issuing date on certificate keeps changing"
#### FrontEnd Certification

https://www.freecodecamp.org/gca/front-end-certification

#### Issue Description

The date reported under the certificate changes each day.
The certificate was manually issued on the 25th of November ( [link](https://github.com/freeCodeCamp/freeCodeCamp/issues/16091#issuecomment-346967808) ).

I noticed this yesterday, as I loaded the page at https://www.freecodecamp.o

[2017-12-20 12:43] danielo515 opened #16226 "Use a docker image"
Hello,

Thank you for open sourcing freeCodeCamp.
I can see that you have a docker-compose file on your repository, but I think that freeCodeCamp will be benefited if you also provide a Docker file additionally.

The current approach has some problems that will be solved building a docker image and creating containers from it.
The first advantage is the isolation that docker images-containers prov

[2017-12-20 13:59] cassidypignatello commented on #16222
No problem! I'm happy to jump in and work on this one, I've never contributed before and thought it'd be a good opportunity to familiarize myself with the codebase. :)

[2017-12-20 14:17] raisedadead commented on #16222
Sure, please go ahead! Happy fixing.

[2017-12-20 14:33] raisedadead commented on #16226
Hi @danielo515 thanks for the feedback.

What you have proposed is an excellent idea from the DevOps perspective. We are already aware of the improvements and the benefits of the container setups.

But, to be honest, we aren't using docker setup in production yet, nor do we have any plans as of now or immediate future. There is no motivation as off now, but may be something we should do once we ma

[2017-12-20 14:33] #16226 closed

[2017-12-20 14:37] raisedadead commented on #16224
@freeCodeCamp/moderators  Heard of any such reports from others?

Can anyone check and confirm on local? Would have taken a look, but I am off until the weekend :disappointed:

[2017-12-20 15:04] jonathan-grah commented on #16224
@raisedadead; I've never encountered this issue before.
@GCa; Are you absolutely sure you did not reobtain the certificate on the "claiming" challenge?

[2017-12-20 16:09] raisedadead commented on #16224
@jonathan-grah just yo make sure, they are on the production. Hence we might have to investigate on `backup/master`

[2017-12-20 16:50] GCa commented on #16224
@jonathan-grah , I'm sure. The claiming challenge is still "stuck" for me.

This is the current status on the challenge for me:
![screenshot from 2017-12-20 17-48-26](https://user-images.githubusercontent.com/9579583/34218314-28afec68-e5ae-11e7-9c39-e24f7aa1068a.png)

[2017-12-20 16:55] Greenheart commented on #16224
This cert was manualy added to the database by @QuincyLarson somewhere around [Nov 26 2017](https://github.com/freeCodeCamp/freeCodeCamp/issues/16091#issuecomment-347044742).

Maybe this is an edge-case caused by the manual db-update? It would explain why it behaves differently than regular certs.

[2017-12-20 16:55] raisedadead commented on #16224
/cc @BerkeleyTrue

[2017-12-20 17:10] Greenheart commented on #15955
Closing this issue as the fix seems to have been merged. Thanks everyone! :)

https://github.com/freeCodeCamp/freeCodeCamp/pull/16038

[2017-12-20 17:10] #15955 closed

[2017-12-20 17:31] Greenheart opened #16228 "Challenge map is slow to show/hide"
#### Issue Description
On mid- to low-end, computers, the challenge map has a significant delay when opening/closing it, which affects the UX.

#### Questions
- What is causing this?
- Could it be fixed by...
  - hiding/showing the map without the animation?
  - experimenting with different techniques in CSS for hiding the map?
  - making sure the map is kept in the DOM at all times, to prevent he

[2017-12-20 18:00] Greenheart opened #16229 "System Design and Concept Questions: Array.prototype.map: Question 5"
#### [System Design and Concept Questions: Array.prototype.map](https://beta.freecodecamp.org/en/challenges/system-design-and-concept-questions/arrayprototypemap)

#### Issue Description
Question 6 has two issues:

### 1. The code sample doesn't produce any of the available choices.
![concept-question-bug](https://user-images.githubusercontent.com/6125097/34220952-a8bd7792-e5b6-11e7-9830-59942b593

[2017-12-20 18:05] Greenheart commented on #16229
The correct code that matches the currently correct answer:
[code]

[2017-12-20 18:13] Greenheart opened #16230 "System Design and Concept Questions: Array.prototype.map: Missing space in results view."
#### [System Design and Concept Questions: Array.prototype.map](https://beta.freecodecamp.org/en/challenges/system-design-and-concept-questions/arrayprototypemap)

#### Issue Description
There's a space missing before the number representing the total number of questions.
![screenshot-2017-12-20 learn to code with free online courses programming projects and interview preparation for developer](ht

[2017-12-20 18:33] BerkeleyTrue commented on #16224
This the expected behavior and only effects those who have had the cert flag manually added. The completion of the challenge marks the date at which you received the cert. The backend pulls this challenge for the date. Since it cannot find your challenge but you are none the less certified it will add todays date as a substitute. This is a failsafe mechanism to prevent crashing while rendering the

[2017-12-20 18:41] jonathan-grah commented on #16224
This issue can be closed as it is expected behaviour, albeit not ideal. This part of the codebase is rewritten for the beta release in the coming days. Thanks for the report @GCa 😃

[2017-12-20 19:01] Ethan-Arrowood opened #16231 "Proper Testing discussion"
Traditionally, challenges used
```"assert(code.match(/.../), 'message: ... ');"```
in order to test user input.
Recently, @BerkeleyTrue released a new untranspiled version of a users code via `getUserInput`. Now tests can be written like so:
```"getUserInput => assert(getUserInput('index').match(/../)...., 'message: ....');"```

Please use this issue to discuss the proper way to test challenges. I

[2017-12-20 19:14] Ethan-Arrowood commented on #16207
Is "use strict"; necessary for this section? Why do we make the users input it into the editors every challenge? should that just be auto inserted via "challengeSeed"?

[2017-12-20 19:35] BerkeleyTrue commented on #16231
To add some context for the changes:

The move to using this function is made in preparations for multifile challenges. `code` would not be sufficient to target multiple files as you could not know which file `code` would refer to.

In the future we may have challenges that have separate css/html parts that campers must edit to complete. Indeed, we will have challenges to teach the modules spec. T

[2017-12-20 19:45] #16222 closed

[2017-12-20 19:55] raisedadead commented on #16231
how about creating localStorage keys per file, while evaluating client side, and clearing them once tests are run and submitted successfully?

[code]

Or do you think we may run into space constraints?

[2017-12-20 21:52] mpontus commented on #12755
https://github.com/freeCodeCamp/freeCodeCamp/commit/a29a928f49ef0c0153ea1c8e25a5f40fa46a3190 can be checked off.

Sadly, I will not be able to address the two remaining commits before weekend. If anyone wants to help out, please feel free to.

[2017-12-20 22:46] angelfeliz commented on #16230
I can do this one, if I need any help searching where is that description, I will come back to ask, but first I'm going to find it for myself. On my way to fix the issue

[2017-12-21 01:15] #12794 closed

[2017-12-21 01:19] QuincyLarson opened #16234 "Update view to show new claimed certificates"
#### Issue Description

New claimed certificates aren't showing up on the profile yet.

#### Screenshot

![app30893198_user_and_camper_quincylarson_s_code_portfolio___freecodecamp](https://user-images.githubusercontent.com/985197/34235955-b1768f1e-e5ba-11e7-9df4-22543e5fb481.png)

[2017-12-21 02:28] Ethan-Arrowood opened #16235 "ES6 Import/Export Challenges Broken"
Identified in issue #16207 and PR #16201
The final 6 challenges in the ES6 section teach the user about using `import` and `export`.
Challenges 23, 25, 27 produce: `require is not defined`
Challenges 24, 26 produce: `exports is not defined`

Not sure where to start with this issue; however, we need to figure this out before launching Beta.

[2017-12-21 04:29] 67shafar commented on #16174
I can grab this one.

It looks like all the Dividers have been shifted 4 pixels off center, and to the left.
It makes the left side of the rendered challenges-instructions-panel look as if it were padded, but causes issues on the right side.

I think it would make more sense to remove the offset and replace it with actual padding for the panel contents.

I can submit a pull request for that.

[2017-12-21 05:50] QuincyLarson opened #16237 "Add isNewDataVisCert property"
#### Issue Description
On the user object, we will need both a `isDataVisCert` and an `isNewDataVisCert` property.

`isDataVisCert` should refer to what we will call the "Legacy Data Visualization Certificate" and is `isNewDataVisCert` should refer to the "Data Visualization Certificate".

[2017-12-21 05:59] QuincyLarson opened #16238 "Ability to claim legacy certificates"
#### Issue Description

All three of the legacy certificates should be claimable by campers who register before January 1, 2018.

The most logical place to add this imho is to the certificate section of the settings page (If a camper signed up before Jan 1, 2018, they will see a section called "legacy certificates" with an explanation that they can still claim these old certificates if they comple

[2017-12-21 06:02] QuincyLarson opened #16239 "Remove * required code from map"
![learn_to_code___freecodecamp](https://user-images.githubusercontent.com/985197/34242605-ef24c9e4-e5e1-11e7-9070-c8e4554adee1.png)

Note that the names of these projects have a * behind them. That means they are required.

We no longer need this logic, since each certificate consistently requires completion of its 5 required projects. So we want to get rid of:
- [ ] the "isRequired" property in t

[2017-12-21 06:05] QuincyLarson opened #16240 "Re-apply GitHub, Settings labels and email re-subscribe"
Please see the following commits:

- [x] Add label changes from commit 9142aec8ad118fa4881a82a731e5d5c3ffc9752f
- [ ] Add email re-subscribe from commit 505778acbf4b6ecf4b79941590714c854b2cf78c

These were applied to backup/master branch, but not staging. If any of this code needs to be added to staging, we should do so. Otherwise we can close this issue.

@raisedadead may I defer to you on this?

[2017-12-21 06:08] QuincyLarson commented on #12755
@mpontus Awesome! Thanks for confirming this.

I'm creating individual issues for the two remaining commits. Neither of these is mission critical - I think we can ship beta without them. But we'll see what we can do. Thanks again for all your hard work on this!

[2017-12-21 06:08] #12755 closed

[2017-12-21 06:25] #16174 closed

[2017-12-21 06:31] QuincyLarson opened #16242 "Line number column in code editor is too wide"
The line numbers in the code editor are about twice as wide as they need to be. I'm hoping we can make this narrow enough to

![learn_to_code___freecodecamp](https://user-images.githubusercontent.com/985197/34243419-43e620fa-e5e6-11e7-94c4-67915754d6cb.png)

@67shafar since you're on a roll with CSS fixes, this might be a good one for you to tackle :)

[2017-12-21 06:32] #15792 closed

[2017-12-21 07:02] QuincyLarson opened #16243 "Dark mode CSS improvements"
Here are several ways we could improve the CSS for dark mode for better contrast and accessibility:
![learn_to_code___freecodecamp](https://user-images.githubusercontent.com/985197/34244356-8862df08-e5ea-11e7-834e-ab40486e40fc.png)

[2017-12-21 08:30] jonathan-grah commented on #16234
@QuincyLarson, this is implemented with the overhauled profile. This has the ability to be properly tested once that PR is merged.

[2017-12-21 08:30] #16234 closed

[2017-12-21 09:57] systimotic commented on #13860
Thanks for checking this @mpontus @nicksavov! Some recent changes to the beta fixed this issue.

Happy coding!

[2017-12-21 09:57] #13860 closed

[2017-12-21 14:15] 67shafar commented on #16242
@QuincyLarson Sure, I'll grab this one too :)

[2017-12-21 16:10] angelfeliz opened #16245 "System Design and Concept Questions: Array.prototype.map: Question 2"
#### Challenge Name

System Design and Concept Questions: Array.prototype.map

#### Issue Description

https://beta.freecodecamp.org/en/challenges/system-design-and-concept-questions/arrayprototypemap

If you pick a wrong answer it will show the explanation message which point to a wrong answer, it should be [['A'], ['B'], ['C']]

#### Browser Information

* Browser Name, Version: Chrome (Versión

[2017-12-21 16:35] #16050 closed

[2017-12-21 16:36] raisedadead commented on #16240
Sure, I'll take care of these. Thanks for looping me in.

[2017-12-21 16:46] raisedadead opened #16246 "[beta] Certificates should be added to the static profile path"
Need to add the new certificate buttons to the static profile before we have the react profiles. This is blocker unless that feature is available.

The code that needs to be updated is here:

https://github.com/freeCodeCamp/freeCodeCamp/blob/5a18d1cf8091da919cd213017b55888ad83d320e/server/views/account/show.jade#L51-L58

The new certificate object ids are here:

https://github.com/freeCodeCamp/fre

[2017-12-21 16:46] AlyChloe commented on #16243
@QuincyLarson love to help out! I'll let you know if I have any questions.

[2017-12-21 16:49] raisedadead commented on #16246
Also please double check the routes while updating the links which are available here:

https://github.com/freeCodeCamp/freeCodeCamp/blob/5a18d1cf8091da919cd213017b55888ad83d320e/server/boot/user.js#L229-L272

[2017-12-21 16:50] raisedadead commented on #16246
Please refer to our [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md), and reach us in the [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors), for any assistance.

[2017-12-21 16:51] raisedadead commented on #16245
@angelfeliz thanks for reporting.

[2017-12-21 17:08] raisedadead opened #16247 "Search bar text color to be muted and icon to be fixed"
![image](https://user-images.githubusercontent.com/1884376/34266565-ae4110b8-e69f-11e7-9540-1a2c57f28600.png)

[2017-12-21 17:12] raisedadead commented on #16247
Looks like the icon issue is sporadic, but the color should definitely be muted down

[2017-12-21 17:16] cpheimbach commented on #16246
OK will give it a go on this issue.

[2017-12-21 17:25] cpheimbach commented on #16246
Hey @raisedadead, the user.json refers to a new Data Vis Certification (isNewDataVisCert) but there is only one route for data viz.

Is the one below what you want me to use?
` api.get(
    '/:username/data-visualization-certification',
    showCert.bind(null, certTypes.dataVis)
  );`

[2017-12-21 17:58] QuincyLarson opened #16248 "Map should be expand in right places to show current challenge"
Currently this is how the map looks when I navigate to a specific challenge:

![learn_to_code___freecodecamp](https://user-images.githubusercontent.com/985197/34268357-044bdee8-e646-11e7-9570-e77d5591857d.png)

Instead, when a challenge loads, the map should automatically expand the necessary challenge super-block and sub-block to show the current challenge, like this:

![learn_to_code___freecodec

[2017-12-21 18:00] QuincyLarson opened #16249 "When a user hides the map, it should stay hidden until toggled on again"
Even if a user toggles the map off, when they complete a challenge, the map will appear again on the next challenge. If the user toggles the map off, it should stay hidden until they toggle it back on, so that they don't have to keep hiding it on every challenge.

[2017-12-21 18:02] ZeroZipZilch commented on #16228
This applies to Google Chrome on mobile as well

[2017-12-21 18:05] QuincyLarson opened #16250 "Control+Enter keyboard shortcut should unlock the "Code locked. Unlock?" button and show a toast"
Scrolling to the bottom of lesson to unlock the code is tedious.

![learn_to_code___freecodecamp](https://user-images.githubusercontent.com/985197/34268687-41d23806-e647-11e7-9e0b-b744ed9b0f7a.png)

For power users who use the control+enter shortcut to run their code, the first time they press the control+enter shortcut, it should:

1. unlock their code
2. pop up a toast that says: "You've unlocke

[2017-12-21 18:11] raisedadead commented on #16248
I had opened a similar one earlier. https://github.com/freeCodeCamp/freeCodeCamp/issues/16192 😕

[2017-12-21 18:12] raisedadead commented on #16250
That's too big for a toast message, and most certainly is going to break on all screens.

[2017-12-21 18:15] raisedadead commented on #16237
This is already the case, we are missing the routes.
Refer discussion on https://github.com/freeCodeCamp/freeCodeCamp/issues/16246#issuecomment-353406672

[2017-12-21 18:15] raisedadead commented on #16246
Hi @cpheimbach you can leave the ones for the new data viz route, and proceed with the rest. Thanks.

[2017-12-21 18:32] cpheimbach commented on #16237
Hi guys,

I can offer to decorate the existing description of Data Vis Cert with a (Legacy) and put a commented out button for the new one in. Once you have the route that is an easy fix.

code or it didn't happen:

`if isDataVisCert
                        .button-spacer
                        a.btn.btn-primary.btn-block(href='/' + username + '/data-visualization-certification') View My Data Vis

[2017-12-21 18:35] raisedadead commented on #16237
@cpheimbach this issue is about something else, please proceed with the original thread instead. Also we would not need any commented code, which can be added later.

[2017-12-21 18:40] raisedadead commented on #16237
@QuincyLarson @jonathan-grah

Just to add that the Cert PR has some significant changes to the backend code which needed QA before a merge, I was hoping to do so, but I guess we went ahead with the merge.

This is fine since we are pressing for shipping beta, but I sincerely advice from my experience that we should not let the UAT(user acceptance test) fall behind.

The last thing we want is users

[2017-12-21 19:00] edgargonzalez2020 commented on #16245
I'm aware of the issue now and working on fixing it.

[2017-12-21 20:15] Jahrkor commented on #16239
The logic that render the  * is in Challenge.jsx, should i get rid of all the logic, removing the entire function that renders the * character?
`  renderRequired(isRequired) {
    if (!isRequired) {
      return '';
    }
    return <span className='text-primary'><strong>*</strong></span>;
  }`

[2017-12-21 20:23] raisedadead commented on #16240
@QuincyLarson quick query, can you guide with the verbiage that you would want from here:

https://github.com/freeCodeCamp/freeCodeCamp/blob/505778acbf4b6ecf4b79941590714c854b2cf78c/server/views/resources/unsubscribed.jade#L5-L10

Obviously this one from production is no longer relevant/updated, for beta.

[2017-12-21 20:24] raisedadead commented on #16240
I am back porting other code logic. PR is WIP.

[2017-12-21 20:38] #16207 closed

[2017-12-21 20:39] QuincyLarson opened #16254 "Refactor ES6 challenges to use functional use strict"
Example:

[code]

Some variables will need to be defined outside of this structure.

[2017-12-21 21:15] Godje commented on #9385
Having the same problem. Literally the same thing.
I have the button after the input. I tried many different solutions. Also I looked up a solution on the forum
I literally copy/pasted the official solution and it doesn't pass the test.

[2017-12-21 22:03] QuincyLarson commented on #16250
@raisedadead OK how about we assume that if they know the shortcut, they've previously run that warning, and we just run the code. No toast.

[2017-12-21 22:04] #16230 closed

[2017-12-21 23:05] QuincyLarson commented on #16239
@Jahrkor Yes - we no longer need that logic. Please remove it.

[2017-12-21 23:08] QuincyLarson commented on #16243
@AlyChloe Awesome! Sounds great! Please keep us posted on your progress :)

[2017-12-21 23:10] QuincyLarson commented on #16242
@67shafar I think I made a mistake. Even though this looks wide, when there are linting errors, their badges take up most of the horizontal space. I just noticed this when I QAing a challenge. As such, I don't think we should change this. Sorry for the false start.

[2017-12-21 23:10] #16242 closed

[2017-12-21 23:17] QuincyLarson commented on #16248
@raisedadead Ah, that issue as I understood it was about having a collapse button like we have in production. I'm not saying we should have a button or a separate search box or anything - just that when you arrive at a challenge, that challenge is already visible in the map.

[2017-12-21 23:46] jonathan-grah commented on #16237
Hey, this will be addressed in an upcoming pull request. Thanks for the report 👍

[2017-12-21 23:54] jonathan-grah commented on #16246
This is closed in relation to the closure of the pull request (#16251).

[2017-12-22 01:02] krisb1220 opened #16256 "Code linter throwing error on valid ternary statement"
#### Challenge Name

https://www.freecodecamp.org/challenges/record-collection

#### Issue Description

Code linter throwing error on valid ternary statement
#### Browser Information

* Chrome
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Null

#### Your Code

#### Screenshot

https://imgur.com/a/90f8F

[2017-12-22 01:50] 67shafar commented on #16242
@QuincyLarson no problem. I figured it out pretty quickly myself, but hadn't had a chance to make a comment.

Thanks

[2017-12-22 02:47] KhaledSamir commented on #16247
@raisedadead Let me work on this issue, please.

[2017-12-22 04:43] raisedadead commented on #16247
Sure, go ahead?

[2017-12-22 04:46] KhaledSamir commented on #16247
@raisedadead Thanks!.I started working on it. Unfortunately am not familiar with React but I'll keep you updated by tomorrow if I could figure it out.

[2017-12-22 05:05] raisedadead commented on #16247
You should reach out to [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors), for help.

[2017-12-22 05:07] raisedadead commented on #16250
Hi @QuincyLarson

May be a simpler way is to just update the button label from `Code Locked. Unlock?` to something more meaningful? like `Code Locked. Unlock? (Ctrl + Enter)`

And the tooltip is already identifying the warning.

So, yup we could be safe without a toast. 😅 !

[2017-12-22 05:07] KhaledSamir commented on #16247
@raisedadead Thank you, I figured it out!. I'll do the change and create a pull request.

BTW, the search icon is renderable right, I took a branch off Staging. Please check this out maybe you're on different or you don't have the latest script.

[2017-12-22 05:17] raisedadead commented on #16247
Yes, it started to be just fine, when I did a re-build. As I said before it is sporadic.

[2017-12-22 05:17] raisedadead commented on #16247
Looking forward to your PR.

[2017-12-22 05:30] QuincyLarson opened #16257 "Navigating to an invalid challenge URL just loads a blank page with a navbar - not a 404 page"
#### Issue Description
When I attempt to visit an invalid challenge URL, I don't get a 404 error - instead I get just a navbar with nothing below it.

For example: http://beta.freecodecamp.org/en/challenges/javascript-algorithms-and-data-structures-projects/i-am-the-black-knight

#### Browser Information
Using Chrome Version 63.0.3239.84 (Official Build) (64-bit) on MacOS

* Browser Name, Version:

[2017-12-22 05:33] QuincyLarson opened #16258 "Update beta lesson buttons to match production"
We need to update beta's lesson buttons to match production's. Here's a screenshot with additional detail:

![generate_random_whole_numbers_with_javascript___freecodecamp_and_learn_to_code___freecodecamp](https://user-images.githubusercontent.com/985197/34286606-4e10b68c-e6a7-11e7-9d93-1e1d41b3f03f.png)

[2017-12-22 05:37] QuincyLarson opened #16260 "loopProtect is not defined problem on beta"
With some of the challenges, such as the algorithm challenges, we're experiencing this problem:

![learn_to_code___freecodecamp](https://user-images.githubusercontent.com/985197/34286676-c09239a6-e6a7-11e7-80d3-4c8b32eaf09d.png)

This may be related to https://github.com/freeCodeCamp/freeCodeCamp/issues/13532, but I'm experiencing this in edge Chrome (Version 63.0.3239.84 (Official Build) (64-bit)

[2017-12-22 06:54] scissorsneedfoodtoo commented on #16260
I was poking around the developer console in Chrome on both freecodecamp.org and beta.freecodecamp.org. For some reason it seems like the following code is missing from the <iframe>#document<html><head><script> tag on the beta site:

  window.loopProtect = parent.loopProtect;
  window.__err = null;
  window.loopProtect.hit = function(line) {
    window.__err = new Error(
      'Potential infinite

[2017-12-22 07:01] Ethan-Arrowood commented on #16254
https://yuiblog.com/blog/2010/12/14/strict-mode-is-coming-to-town/

[2017-12-22 08:27] Bouncey commented on #16247
The icon relies on the font awesome font familiar being available. There is no reliable fallback font. @QuincyLarson maybe we should look at other options re the search icon?

[2017-12-22 09:24] raisedadead commented on #16247
Maybe we can see what others have done? Clearly this is not unique to us.

[2017-12-22 09:54] scissorsneedfoodtoo commented on #16260
I think I have a fix, though I'm really unsure if it's best practice or breaks anything.

Originally I tried editing common/app/routes/Challenges/utils/frame.js and adding the loopProtect code wrapped in a `<script>` tag to the header there. My thinking was to try to replicate the structure of the www.freecodecamp.org challenge pages. However, that didn't work (maybe it's out of scope?).

After tr

[2017-12-22 11:47] #16246 closed

[2017-12-22 13:37] KhaledSamir commented on #16258
@QuincyLarson I'll work on this one.

[2017-12-22 15:56] huyingjie opened #16264 "Beta: Dynamically Set the Coordinates for Each Bar"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/data-visualization-with-d3/dynamically-set-the-coordinates-for-each-bar

#### Issue Description

My code for the challenge

[code]
OS 10.13.2 (17C88)
Safari Version 11.0.2 (13604.4.7.1.3) showed I passed the challenge.
Version 63.0.3239.84 (Official Build) (64-bit) showed I did not pass.

[2017-12-22 16:24] huyingjie commented on #16264
After restarting the computer, chrome works now.

[2017-12-22 16:24] #16264 closed

[2017-12-22 16:26] QuincyLarson commented on #16250
@raisedadead I'm not a fan of tooltips, as they don't even work on touch screens. I agree that instead we should change the copy. Perhaps something like: "Code locked. Only run code you trust. Unlock? (Ctrl + Enter)" That will make it a multi-line button, but I still think it's better and more clear.

[2017-12-22 16:52] QuincyLarson commented on #16258
@KhaledSamir Awesome - thanks for grabbing this one! Please keep us posted and let me know if I can do anything to help :)

[2017-12-22 17:19] QuincyLarson commented on #16247
@Bouncey Perhaps we could check and only render the icon if Font Awesome is loaded? Then worst case scenario we'd just have text there, which wouldn't be so bad.

[2017-12-22 17:59] raisedadead commented on #16250
Yes.. it seems logical to me.

[2017-12-22 19:51] #16260 closed

[2017-12-22 21:55] QuincyLarson opened #16265 "Beta platform screen reader accessibility issues"
This accessibility feedback comes from Roger Newell, who has been working through www.freeCodeCamp.org using a screen reader fine, but is having a lot of trouble with beta.freecodecamp.org. Here is his feedback verbatim. We are looking for an accessibility-minded contributor to help improve these things.

He's discovered these issues using both the Windows screen reader NVDA and JAWS with Internet

[2017-12-22 23:00] QuincyLarson opened #16266 "Sign in process needs some sort of notification it hasn't crashed"
When signing in, there is a moment where the button turns a strange shade of green and nothing happens for about 30 seconds. This is a really long wait, and we should definitely find a way to make the wait shorter. But we should also show some sort of visual confirmation that it's working and it hasn't crashed.

![sign_in_to_freecodecamp_using_your_email_address___freecodecamp](https://user-images

[2017-12-22 23:01] QuincyLarson opened #16267 "Flash notifications overlap with the navbar"
We need to push these notifications down so there's a reasonable space between them and the navbar (perhaps 20px?).

![sign_in_to_freecodecamp_using_your_email_address___freecodecamp](https://user-images.githubusercontent.com/985197/34314466-9897534a-e739-11e7-9538-b41d63908c4d.png)

[2017-12-22 23:13] QuincyLarson opened #16268 "Select a Group of Elements with D3 instructions need to be clearer"
#### Challenge Name
Select a Group of Elements with D3 (https://beta.freecodecamp.org/en/challenges/data-visualization-with-d3/select-a-group-of-elements-with-d3)

#### Issue Description
This challenge requires using the `.text("")` method, which is not included in the challenge. We need to make sure it's somehow included in the instructions - otherwise people wouldn't necessarily know how to comp

[2017-12-23 00:25] KhaledSamir commented on #16258
@QuincyLarson Sure ... I'll keep you posted!

[2017-12-23 00:27] QuincyLarson commented on #16265
OK - so @inscriptioelectronicaaustralia tried using freeCodeCamp in Chrome, and he said virtually all of these issues are resolved, except for the issues explained in https://github.com/freeCodeCamp/freeCodeCamp/issues/12431. Since we don't intend to support IE at this point, I'm closing this issue as wontfix.