[2018-01-11 11:57] yoizfefisch commented on #16458
@raisedadead To solve the issue at hand, I would suggest the following 2 options:

1. Update the lesson to include the following:
[code]

2. Create a separate lesson for the `label` element after the `input` types are covered (BTW, should we not have one for `textarea`?).
In this lesson it would make sense to discuss the benefit of nesting the `input` element in a `label` element; that it makes th

[2018-01-11 12:38] chethanbhat commented on #16468
Hi @Asjas

Its really frustrating. Everyday i think of making some progress but not able to do so. Hope fcc teams fixes this !

[2018-01-11 13:16] Greenheart commented on #16463
@davinderpalrehal This is a great idea! Thanks for starting the discussion :smile:

Along with the questions earlier in this thread, the question that remains is how we prioritize this among other things we want to do. Another thought is to start small and try to limit the scope of the initial version of such a feature, to actually get something launched :)

[2018-01-11 14:11] systimotic commented on #16463
I agree with all the thoughts above. I think we can do a lot better in teaching best practices.

I do want to note that we should be careful that we don't make existing challenges more complicated than they need to be by doing this. Learning to code is already hard enough without having best practices thrown around from the beginning 😅

Dedicated challenges to best practices might be helpful too.

[2018-01-11 14:33] r1chard5mith commented on #16454
I know how to do this.

[2018-01-11 15:09] raisedadead commented on #16463
Yes, totally agree with you, the intent should always be:

- To be succinct instructions and not overwhelming the users, with a overload of information.
- A a few best-practice norms in some challenges, (NOT every challenge).

And keep a balance, by not trying to over complicate the verbiage in anyway.

[2018-01-11 15:41] sagarjhaa commented on #16304
@d-hamon I have created the Pull request but still waiting for it to be accepted.

[2018-01-11 19:32] raisedadead commented on #16468
Hi @chethanbhat @Asjas thanks for reporting,

As you maybe aware, we are ironing out issues on the beta platform.
While, we do that the beta website will be unstable, as a consequence.

You are more, than welcome to try out the platform, but please bear with us as the instability is expected.

Happy coding!

[2018-01-11 20:35] raisedadead commented on #16335
@mtrivera yes, this is open for contribution please see linked issue for details, on what is needed.

[2018-01-11 20:46] raisedadead commented on #16382
@AustinTice how is it going?

[2018-01-11 20:55] #16289 closed

[2018-01-11 21:01] raisedadead commented on #16208
Closing in favor of the technical discussion in #16243

[2018-01-11 21:01] #16208 closed

[2018-01-11 21:49] raisedadead commented on #16351
@sagarjhaa are you still working on this?

[2018-01-11 22:01] raisedadead commented on #16469
All traffic is served over CloudFlare's CDN in front of DigitalOcean. We have no special geo-setting that should block you from accessing the content.

We will take a look, but while we do, we recommend, you should lookup about issues from these providers in the location and the network you are on.

Note: If you are on the beta, site we are definitely seeing some spikes in the response times, most

[2018-01-11 22:17] systimotic commented on #16208
@raisedadead Did you mean https://github.com/freeCodeCamp/freeCodeCamp/issues/16319? The issue you mentioned has already been closed 😅

[2018-01-11 22:25] raisedadead commented on #16208
Oh yes, thanks for catching that @systimotic !

[2018-01-11 23:54] sagarjhaa commented on #16351
@raisedadead I got into an issue while doing a PR. I have fixed it on my local. I will try to do a pull request right now. Might need help as this is my second PR.

[2018-01-12 00:30] blaisck opened #16471 "Disable an element using jQuery's bug"
#### Challenge Name

https://www.freecodecamp.org/challenges/disable-an-element-using-jquery

#### Issue Description

I type `$("#target1").prop("disabled", "true");` instead of `$("#target1").prop("disabled", true);` and it's still work, I think it should be an error.

#### Browser Information

* Browser Name, Version: Google Chrome, 63.0.3239.132 (Official Build) (64-bit)
* Operating System: Mic

[2018-01-12 01:54] kevcomedia opened #16473 "Give a Background Color to a Div Element - second test won't pass even though the div's background is silver"
#### Challenge Name
Give a Background Color to a Div Element

#### Issue Description

If you give the div the wrong class name but the background color is correct, the second test ("Your div element should have a silver background.") should pass, but it doesn't.

#### Your Code

[code]
#### Screenshot

![image](https://user-images.githubusercontent.com/17902987/34856066-20bfa304-f77e-11e7-9066-3fb

[2018-01-12 01:54] huyenltnguyen commented on #16319
@BerkeleyTrue, I have a dumb question here. When you said I needed to pass the theme to the editors, did you mean passing it as a React prop or passing it in some kind of a Redux way? I tried implementing the former and found myself passing it 5-6 levels down. It feels a bit weird to me, so I decided to seek clarification first.

[2018-01-12 02:15] BerkeleyTrue commented on #16319
What do you mean by this?

[2018-01-12 02:41] r1chard5mith commented on #16312
Hi. I was looking at this, prompted by a user in the forum yesterday: https://forum.freecodecamp.org/t/issue-with-a-react-lesson-on-beta/168144

I was about to submit a (my first) PR for the fix to just this one challenge and then I found this thread. Did it get done or does it still need doing?

[2018-01-12 02:42] huyenltnguyen commented on #16319
@BerkeleyTrue In [common/app/App,jsx](https://github.com/freeCodeCamp/freeCodeCamp/blob/68c4485e12ecc5876e5ce713e817ea2727a05b8f/common/app/App.jsx), I did this:
[code]
Then I started passing `theme` to the Child component as a prop, and used React Dev Tool to track and kept passing the theme down the tree eventually to the Editor components.
https://github.com/freeCodeCamp/freeCodeCamp/blob/68c44

[2018-01-12 02:55] manikandanelangovan opened #16474 "Responsive Web Design Principles: Create a Media Query - Test won't pass"
#### Challenge Name
Responsive Web Design Principles: Create a Media Query
https://beta.freecodecamp.org/en/challenges/responsive-web-design-principles/create-a-media-query

#### Issue Description
Even though the correct answer was submitted it shows the error message, the output of the code is changed properly in the preview panel but the instructions panel is still showing the error message as "

[2018-01-12 03:08] saurishkar opened #16477 "Clarify instructions to raise a PR to Base Repo instead of Local Fork."
#### Target File
**CONTRIBUTING.md**

#### Issue Description
There is a scenario where I raise a PR to my local copy of FreeCodeCamp instead of the Base Repository.
If i merge my commits in the PR (since it is my local copy), my local fork of FCC gets the changes while the Base repository still remains unchanged.

**This can seem confusing (especially to First Timers), as it might seem to you that

[2018-01-12 04:37] raisedadead commented on #16351
@sagarjhaa sure, good luck. If you need any assistance please reach us in the [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors)

[2018-01-12 04:42] raisedadead commented on #16471
and it's still work, I think it should be an error.

Isn't that expected of the tests? What is the exact difference you are looking for?

[2018-01-12 04:57] AustinTice commented on #16382
@raisedadead I haven't been able to produce the correct functionality for this as of yet. I am struggling with understanding some of the syntax and have been doing some investigating into the issue. I don't want to hinder any part of the project due to my lack on knowledge in this area, but I will continue to work on this. Feel free to ask others to work parallel to me. Thanks for checking in!

[2018-01-12 05:41] vkWeb commented on #16474
@manikandanelangovan Confirmed.
@raisedadead This is strange. If the first test passed then It's obvious that the second test should pass too(In my opinion). As the font-size will be 10px on devices with less than or equal to 800px viewport only when a media-query is declared.

[2018-01-12 06:54] blaisck commented on #16471
The difference is in value `true`, I'm using double quotation mark and in the tutorial not use it.
If it's expected, then is `"true"` and `true` is same?

[2018-01-12 07:47] raisedadead commented on #16471
Hi @blaisck thanks for the additional clarification, I admit I missed the quotes :sweat_smile: !

Well, theoretically the incorrect code is actually correct, because in JavaScript a string values is considered truthy, which means you could use `"false"` and it would still pass! Or any string `"some string"`.

So, I agree we should update the tests to make this fail when boolean `true` is not used,

[2018-01-12 08:22] blaisck commented on #16473
Based on tutorial, you should name your class to `silver-background` so it won't show an error

[2018-01-12 08:33] rohan598 commented on #16473
Yes, the test checks if the class name is "silver-background" and then checks if it changes the background colour to silver. If you change the name of the class, it will flag an error.

[2018-01-12 09:12] rohan598 commented on #16470
It is not considered wrong because technically it is not wrong. However, it is not safe to do so and in some cases (like, a HTML document with large number of elements) it may produce an error. It is better practice to include all your jQuery code within  $(document).ready()
Refer to this link for clarity :
https://learn.jquery.com/using-jquery-core/document-ready/

[2018-01-12 09:47] kevcomedia commented on #16473
The tests are testing two things that are independent of each other. If the div is colored silver, the second test should pass regardless of whether or not the right class name is used.

[2018-01-12 09:58] rohan598 commented on #16473
Your argument is correct. But on testing with various class names and colour combination, I believe that the test is checking both the things together and not as separate entities, which should be rectified.

[2018-01-12 10:19] rohan598 commented on #16473
Just follow these steps to see for yourself why this error is occurring.

1) Open this link in google chrome :
 https://www.freecodecamp.org/challenges/give-a-background-color-to-a-div-element
2) Open developper tools
3) Look for a 'script tag' from the bottom. The one you should be looking for is just bellow
"<div id="ask-for-help-modal" tabindex="-1" class="modal>"
4) Open the script and check "

[2018-01-12 10:56] psitronic opened #16478 "[beta] Test fails in Perform New Updates on a Document Using model.findOneAndUpdate()"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/mongodb-and-mongoose/perform-new-updates-on-a-document-using-modelfindoneandupdate

#### Issue Description

The test does not pass. The glitch logs:
[code]

Fix: in ```server.js``` line 197 move the statement
[code]
in ```try {}``` after ```if(err) { return next(err) }```

#### Browser Information

* Browser Name, Version: Chrome, 62

[2018-01-12 12:40] bugwheels94 commented on #16390
Is it only me or everyone faces these many problems at the start? The webpack is not building properly I guess
![Uploading Screenshot 2018-01-12 18:04:51.png…](require is not defined)

[2018-01-12 13:22] raisedadead commented on #16390
@bugwheels94 can you please create a separate issue.

[2018-01-12 19:19] saurishkar commented on #16471
Hi @raisedadead, can i take this one up if nobody is working on it ?

[2018-01-12 19:47] raisedadead commented on #16228
This should be fixed with the recent updates. Closing. Please create a fresh issue if this persists.

[2018-01-12 19:47] #16228 closed

[2018-01-12 20:03] raisedadead commented on #16240
@QuincyLarson @BerkeleyTrue

We are now defaulting to a toast message after unsubscribe, on the current challenge, instead of a static landing page showing the link to resubscribe.

Do you want me to add back the static page, with the a link, in the toast is self? Or update the route to hit the static page?

Also, I would need you to help me with copy for the message on the static page (code snipp

[2018-01-12 20:05] raisedadead commented on #16471
Yes, sure. Happy contributing.

[2018-01-12 20:09] raisedadead commented on #16247
Closing this as I can't seem to get the icon issue any longer, I think it was previously because the builds and bundle pushing were slower, which I think we have sped up significantly thanks to Bouncy and Berkeley.

[2018-01-12 20:09] #16247 closed

[2018-01-12 20:22] raisedadead commented on #16286
The naviagation issues should be solved, other platform specific issues are already tracked. Closing.

[2018-01-12 20:22] #16286 closed

[2018-01-12 20:27] vkWeb commented on #16284
@raisedadead This will be fixed in my up-coming PR.

[2018-01-12 20:40] raisedadead commented on #16269
This is now fixed in recent updates, thanks for reporting. Closing.

[2018-01-12 20:40] #16269 closed

[2018-01-12 20:51] saurishkar commented on #16229
I am working on this one.

[2018-01-12 20:55] raisedadead commented on #16382
Sure thing @AustinTice please take your time, and drop your queries should you need any guidance on the code-base in here, we are there to help you help us!

[2018-01-12 21:11] raisedadead commented on #16229
ProTip: You can lookup the files by searching for challenge names on the github search on this repo.
[Example](https://github.com/freeCodeCamp/freeCodeCamp/search?utf8=%E2%9C%93&q=Array.prototype.map%3A+Question+5&type=)

[2018-01-12 21:14] saurishkar commented on #16229
@raisedadead I found the seed file and have made the changes for the First issue.
However, the second one seems to be an issue on the side of react component rendering.
The `<pre>` code for the first question renders outside of `<p>` tag , while all others are rendered inside it. That's why the first Question gets appended to all subsequent questions.

[2018-01-12 21:21] raisedadead commented on #16229
Okay, the second seems to be a platform issue, we should just take this separately, Can you please make a PR with your changes, and log a new one when its merged, for the second part ?

It should be the react views. I think, but will have to check.

[2018-01-12 21:24] saurishkar commented on #16229
Sure, yeah it seems a rendering issue.
I will raise a PR for the first one, meanwhile i am going through the React code if i can pinpoint the second.

[2018-01-12 21:25] raisedadead commented on #16273
There could be two separate issues here:

1. The URI error is because we are missing the correct APP_KEY_SECRETS from LinkedIn for beta URL.
2.

[2018-01-12 21:27] raisedadead commented on #16273
@QuincyLarson do you have access to the LinkedIn Developer dashboard?

[2018-01-12 21:30] raisedadead commented on #16274
To potential contributors:

The views for this page are in this directory
https://github.com/freeCodeCamp/freeCodeCamp/tree/staging/server/views/commit

The CSS is in the `main.less` file.

Please follow our [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md), and reachus in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) f

[2018-01-12 21:36] BerkeleyTrue commented on #16240
Can you elaborate on this?

[2018-01-12 21:40] raisedadead commented on #16312
Hi @r1chard5mith

Thanks for your interest in contributing.

We have pinged @StephenMayeux on their PR for this issue #16341 , if they are unable to revert or update in a few days, please feel free to make a pull request.

However, please make a note of the discussion on the PR thread as well, so that we do not miss anything.

Also, we have several other open issues tagged help wanted if you are l

[2018-01-12 21:47] raisedadead commented on #16240
Yes, sure.

When the user lands on the website from the email, they get a react toast that says they are unsubscribed.

I am proposing, to add a link in that toast message (similar to our reset code toast), which takes them to the static `unsubscribed.jade` view.

They have the option as the production to re-subscribe.

Or,

We can route them directly to the static page instead of landing on the c

[2018-01-12 21:48] saurishkar opened #16483 "[beta] Question 1 code gets appended to every other subsequent question."
#### Challenge Name

[System Design and Concept Questions](https://beta.freecodecamp.org/en/challenges/system-design-and-concept-questions/arrayprototypemap)

#### Issue Description

The code of Question 1 gets appended to all the other Questions.

#### Browser Information

* Browser Name, Version: Firefox 57.0.4 64-bit
* Operating System: Mac OSX Sierra
* Mobile, Desktop, or Tablet: Desktop

####

[2018-01-12 21:49] raisedadead commented on #16240
The former is a better UX in my opinion. The later is well a bit rude.

[2018-01-12 22:29] vkWeb opened #16484 "[Beta] Test-suite Rows Should have Adequate Spacing"
### Issue Description
@raisedadead
There should be adequate spacing on the test-suite rows for better readability.

**Before:**
![before_spacing](https://user-images.githubusercontent.com/26724128/34897785-e55cab0c-f815-11e7-824a-578cb42b0170.PNG)

**After:**
I've added `14px` top-margin between the rows. The code is ready. I'll raise a PR once the changes are finalized.
![after_spacing](https://u

[2018-01-12 22:42] BerkeleyTrue commented on #16240
Sounds good, @raisedadead. Let's go with the former.

[2018-01-12 23:32] vkWeb opened #16487 "[Beta] Navigation links are rendering Poorly"
### Issue Description
@raisedadead, @QuincyLarson The navigation links are not rendering properly. They look really weird.

**Before:**
Please notice how `Preview` & `Donate` link looks.
![before](https://user-images.githubusercontent.com/26724128/34899242-a8f0c010-f81d-11e7-9d6e-0346ec05ea1f.PNG)

**After:**
Decreasing the font-weight to `100` and increasing the font-size to `16px` makes them loo

[2018-01-12 23:34] briancmlee commented on #16274
Applying the `overflow-wrap: break-word` property to `.btn-primary` fixes the text expanding beyond boxes but brings up a new UX problem.
![freecodecamp overflow fix](https://user-images.githubusercontent.com/13359568/34899328-5cf2c4d6-f84c-11e7-90a8-26f89e70e2e4.PNG)
As can be seen in the screenshot, words that are too long have some characters that wrap into their own line, making it hard to rea

[2018-01-12 23:40] vkWeb commented on #16300
@QuincyLarson, @abohannon, @raisedadead. This issue has been fixed. [See comment on #16394](https://github.com/freeCodeCamp/freeCodeCamp/pull/16394#issuecomment-355724765).

[2018-01-12 23:40] #16300 closed

[2018-01-12 23:45] vkWeb commented on #16318
@raisedadead I think keeping the background color `#ffffff` is the most feasible solution. What do you say?
![2018-01-13 2](https://user-images.githubusercontent.com/26724128/34899752-cc682260-f820-11e7-873b-3b34f95f9d8a.png)

[2018-01-12 23:47] vkWeb commented on #16411
@sagarjhaa Any updates?

[2018-01-13 00:01] vkWeb commented on #16282
@raisedadead I can work on this.
**Before:**
![capture](https://user-images.githubusercontent.com/22984739/34316777-d14d7994-e76b-11e7-8ebb-d1224e6714af.png)

**After:**
I changed the background color of the modal footer to `#E0E0E0` because changing text or border color will not be a good idea.
![capture](https://user-images.githubusercontent.com/26724128/34900021-96b24860-f822-11e7-8979-6cf49cd7

[2018-01-13 00:04] vkWeb commented on #16327
@satyaim Please update us on your current status of work?

[2018-01-13 00:26] StephenMayeux commented on #16312
@raisedadead @r1chard5mith I'm so sorry but I haven't checked my messages. This PR fixes #16341 but not the other two that were mentioned (#16316 and #16314). I cannot do those right now, so I recommend someone else take over. The fix for this one is really simple, it's just of matter of moving some JSON inside the right pair of quotes.

[2018-01-13 00:40] r1chard5mith commented on #16312
OK, I'll take this and look at #16316 and #16314 in conjunction to see if they can all be done in one PR. If the other problems turn out to be materially different, should they be in separate PRs?

@StephenMayeux - did you find a better way to test the tests than just to edit them inside the object and reload the whole app? I was hoping there might somehow be a way to extract them and then stuff t

[2018-01-13 00:50] sagarjhaa commented on #16411
@vkWeb there is one thing I noticed that by default top and left are 0px and just setting the position clears the test. One suggestion from my end is to use something other than 0px it will help us clear the test and also let user see the difference in UI.
Let me know what do you think.

[2018-01-13 02:38] r1chard5mith commented on #16312
I found a weird problem with this and am looking into it now but I'm new here so if anyone can confirm, I'd appreciate.

I applied a fix to the test (function) string, the same as in this previous PR: https://github.com/freeCodeCamp/freeCodeCamp/pull/16341/files

And noticed that the closing `};` was then rendered to the screen as part of the test message. Then I noticed that that the same thing s

[2018-01-13 04:26] r1chard5mith commented on #16312
Ok, well, I went ahead and pushed the fix for this. I tried to find the source of the other error I mentioned about but without luck - I suspect it needs to be fixed at the point that the tests are getting called (and I don't know where that is yet) rather than here - *or* it needs some sort of fancy character-escaping trick that I don't know. Should I file it as a new issue? (or maybe it already

[2018-01-13 06:30] raisedadead commented on #16484
@vkWeb you can directly create PRs without issues, if you have a fix ready. I like your changes, lets fix them.

Thanks.

Happy contributing!

[2018-01-13 06:36] raisedadead commented on #16318
Yes, the preview is rendering user code, and hence applying styles their does not make sense, we should make is a whiter shade, however `#ffffff` maybe too blown out can you tone it down to something like `#fcfcfc`?

Thanks.

[2018-01-13 06:49] justinian336 commented on #16226
A docker image and versioning would be great for educational institutions incorporating the app into their curriculum, I support this proposal.

[2018-01-13 07:13] raisedadead commented on #16274
@briancmlee thanks for taking the time to look into this.

A simpler solution would be to lay the buttons horizontally instead? In the past we had fewer buttons, and hence vertical grouping made sense. Now that we have more we can lay them in a horizontal layout instead?

Thanks once again, happy contributing!

[2018-01-13 07:19] raisedadead commented on #16226
Yes, I 100% agree. We do want that, and will happily accept a PR, as long as the criteria above is met.

We want it so, because I am afraid, this may mean changes, to existing code-base for isolation. And while that is an ideal thing to have, its shifts focus from our immediate goal of making the platform stable first. Eventually we will get there.

Thanks.

[2018-01-13 07:19] saurishkar commented on #16348
just found an additional error in test cases. **The test cases do not account for library name in single quotes in the import statement.** Will be fixing this issue in the same PR i raise.

[2018-01-13 07:20] raisedadead commented on #16282
Sure thing, please make a pull request. Thanks.

[2018-01-13 07:26] raisedadead commented on #16487
This is a issue, limited to systems like Windows 10 32 bit, with possibly screens that are a bit older, the fonts antialiasing doesn't play well.

The same for instance on a retina or HD screen will look fairly crisp.

![image](https://user-images.githubusercontent.com/1884376/34903909-29ca591a-f861-11e7-85aa-f08458efe17f.png)

[2018-01-13 07:28] raisedadead commented on #16487
This how it looks without the bold

![image](https://user-images.githubusercontent.com/1884376/34903917-5d1e4452-f861-11e7-82e5-4cb83d72d136.png)

I think this also not too bad.

[2018-01-13 07:29] raisedadead commented on #16348
Awesome @saurishkar thanks a lot.

[2018-01-13 07:47] vkWeb commented on #16282
@raisedadead On the way.

[2018-01-13 07:48] vkWeb commented on #16318
@raisedadead Okay. I'll raise a PR for this as well.

[2018-01-13 07:52] vkWeb commented on #16411
@sagarjhaa Yes, you're right. As telling our campers to set the values to `0px` doesn't make sense. Maybe we should try like around `0.5px`. Your thoughts on this?

@raisedadead Should we do that? (Brother, sorry for keeping you busy.)

[2018-01-13 08:01] vkWeb commented on #16484
@raisedadead Okay, I'll keep that in mind 😄. PR is on the way.

[2018-01-13 10:48] saurishkar commented on #16378
Hi @mstellaluna,
I think the tests in the challenge are fine. The Wiki page needs to be updated to accommodate the condition for checking if the string does not contain any vowel.

In regard to this, i have raised a PR in freeCodeCamp/guides repo.
Reference : [Pull Request Details](https://github.com/freeCodeCamp/guides/pull/7998)

[2018-01-13 15:10] raisedadead commented on #16483
We need help in investigating the root cause for this.

[2018-01-13 15:29] BerkeleyTrue commented on #16319
There is no reason you need to import the themeselector at the top component. You can import it in the editor component directly.

[2018-01-13 18:55] no-stack-dub-sack commented on #16453
#16459 will take care of renaming "Side Panel" to "Lesson" for the Modern challenges.

@BerkeleyTrue I saw your note on my PR about "index" - I know the name comes from the challenge, and that this is by design, but are we going to keep that name in the nav? Or are we considering another way to make the Nav link names consistent?

[2018-01-13 22:23] mstellaluna commented on #15613
With beta on the way, I think we should re-open this discussion. The chat rooms (and their description) should better match the beta map layout.
example:
FreeCodeCamp main room -- main can handle any requests/general questions, welcomes, account issues
Help -> Merge into the FreeCodeCamp main room
HelpJavascript -> Can handle the JS section in beta
YouCanDoThis -> can be merged into casual ... the

[2018-01-13 23:15] warborn commented on #16483
I took a look and i found that the problem is due to the dangerouslySetInnerHTML behaviour inside the Quiz component (common\app\routes\Challenges\views\quiz\Quiz.jsx)
[code]

"I think this could be related to React's diffing algorithm that might not properly treat a component with a dangerouslySetInnerHTML statement if that component gets rerendered multiple times with different inner content." h

[2018-01-14 06:59] raisedadead commented on #16483
Hi @warborn nice work, and thanks for taking the time analysing this. Seems, fine to me. I think you should make a PR and we can proceed from there.

Happy contributing

[2018-01-14 07:00] raisedadead commented on #16274
@meajinkya @briancmlee yes, that is correct.

[2018-01-14 07:47] CthuKyaw commented on #16470
Hi @raalejandre, I am first timer. Can I work on this issue. If so, let me clear with the issue.
Did you mean the test should also check whether the required script is written inside `document.ready(function(){})`?

[2018-01-14 14:05] blaisck commented on #16470
@CthuKyaw : I hope like that. Because we came to freeCodeCamp to practice, so like @rohan598 said, **It is better practice to include all your jQuery code within** `$(document).ready()`

[2018-01-14 18:13] no-stack-dub-sack commented on #16453
@vkWeb Yes, the above PR also covers the React/Redux challenges, at least for the Side Panel -> Lesson change, this does not yet cover changing 'index' to 'Editor' as that is a bit more complex, and affects a functionality that is baked into how the modern challenges work.

[2018-01-14 18:30] warborn commented on #16453
@no-stack-dub-sack no problem, i'm happy to help

[2018-01-14 18:47] #16484 closed

[2018-01-14 19:56] raisedadead commented on #16487
Hi @vkWeb I am going to have to close this, official we support only latest LTS Devices / OS / Browsers, combination.

I think its a minor inconvenience only to a fraction of users, but changing this is going to affect all. We regret the inconvenience,  however if such an issue is raised by more user we can think of fixing this.

Thanks for reporting

[2018-01-14 19:56] #16487 closed

[2018-01-14 21:48] sagarjhaa commented on #16411
@vkweb, @raisedadead I tried and tested that 0.5px for both top and right works and it does give user the visual feedback that it positioned. Let me know and I will make changes and push it in.

[2018-01-15 00:00] TylerDelRosario commented on #16478
Could I take this issue?

[2018-01-15 00:11] briancmlee commented on #16274
@meajinkya Please don't take this the wrong way, but I don't think this is an issue that needs multiple people working on it.

@raisedadead How's this looking? Just applied `.btn-group-vertical` and some width styling.
![screenshot-2018-1-15 learn to code with free online courses programming projects and interview preparation for developer](https://user-images.githubusercontent.com/13359568/349224

[2018-01-15 01:00] briancmlee commented on #16274
@meajinkya Please don't take this the wrong way, but I don't think this issue needs more than two people working on it.

@raisedadead I've laid out the buttons vertically by replacing `btn-group` with `.btn-group-vertical` and removing the `.btn-group-justified`.
![freecodecamp pldege certificate text fix](https://user-images.githubusercontent.com/13359568/34922984-38cc33da-f9eb-11e7-8e40-ca88e3ad

[2018-01-15 03:25] meajinkya commented on #16274
No problem @briancmlee.
and yes this looks good!

[2018-01-15 05:50] vkWeb commented on #16411
@sagarjhaa Yes, please make the changes and push them. Good luck.

[2018-01-15 05:54] vkWeb commented on #16487
@raisedadead I'm heavily disappointed with this decision. As freeCodeCamp has a very huge community we should keep every small corner cases in mind.

[2018-01-15 05:57] vkWeb commented on #16453
@no-stack-dub-sack I understand. It's okay we'll look into that later on.

[2018-01-15 06:01] huyenltnguyen commented on #16319
Got it. Thanks, @BerkeleyTrue.

[2018-01-15 06:05] raisedadead commented on #16487
Yes, we are keeping it in mind. Closing an issue is not ignoring it. Just waiting if we get more feedback will find an optimal fix.

[2018-01-15 06:34] onelharrison commented on #16285
@raisedadead I'll tackle this one.

[2018-01-15 09:47] vkWeb commented on #16487
@raisedadead Okay then.

[2018-01-15 15:27] reddysridhar53 opened #16498 "Whenever the test run fails, the error list and icons alignment is not proper."
#### Challenge Name
Any challenge where the some of the error messages take more than one line and some takes only one line.

#### Issue Description
In the column where we run the tests on the code, there is a small UI break where the icons and the text are aligned.

#### Browser Information

* Browser Name, Version:  Google Chrome, 63.0.3239.84 (Official Build) (64-bit)
* Operating System: MacOS

[2018-01-15 15:36] haleyelder opened #16499 "Public Profile refresh to same screen"
#### Visiting Public Profile button in *settings panel* reverts back to page after trying to load
To see and track progress through beta, trying to view and click the "show me my public profile" button in the settings portion of my account reverts back to the page I currently on after attempting to load. Attempted this first late last week and still doing the same actions.

#### Browser Informatio

[2018-01-15 15:53] icarlossz commented on #16318
If this is a Dark Mode is more effective give the color #FFF to the text, not to the background, i think.

[2018-01-15 16:38] #16304 closed

[2018-01-15 16:59] vkWeb commented on #16318
@icarlossz Sorry, but I'm unable to understand that. Can you please elaborate that.

[2018-01-15 18:12] vbelolapotkov commented on #16248
Hey @BerkeleyTrue, I've updated the src code to solve map expand (no scroll yet) and used meta reducer as in Panes feature. Could you please have a look [here](https://github.com/vbelolapotkov/freeCodeCamp/commit/1b975489339042812e0c89a1e5bdd5967db52081)

[2018-01-15 19:02] vkWeb commented on #16280
@raisedadead Fixing this with #16501. I'll be waiting for your review. 😃

[2018-01-15 19:29] QuincyLarson opened #16504 "Navigating to /map should show just the map - no expanded challenges"
Currently when navigating to https://beta.freecodecamp.org/map, the behavior is it will show your current challenge (or the first challenge if you aren't authenticated).

Since a lot of people link directly to the map, we should create a view that is just the fully-expanded map - no challenge.

The navbar would only have the "map" option in it, since there wouldn't be any other tabs on this page.

[2018-01-15 19:36] QuincyLarson opened #16505 "Add Lite-Brite project to Interview Takehome Project section"
A camper built this awesome Lite-Brite app (based on the 1980s toy). It would make a fine addition to our practice projects collection.

Here's the demo: https://codepen.io/freeCodeCamp/full/eyLYXE

We need to create agile use stories for this, then add it to the Take Home Interview Projects section.

The challenge should be added to this directory: https://github.com/freeCodeCamp/freeCodeCamp/blo

[2018-01-15 19:38] QuincyLarson opened #16506 "After what happened in Hawaii, our "Nuclear Launch Detected" Starcraft reference isn't funny any more."
This reference should be removed, out of respect for those affected by Saturday's tragic false alarm.

[2018-01-15 19:59] vkWeb commented on #16504
@QuincyLarson I think this is will look awkward. We should think of another solution. Like for example, we should create a static learning map showing all the topics and certificates and all. What do you say?

[2018-01-15 20:06] vkWeb commented on #16505
@QuincyLarson I think I'll be able to do this. I just want to know how can I generate the challengeSeed?

Can I give this an attempt?

[2018-01-15 20:29] QuincyLarson commented on #16273
@mstellaluna @raisedadead We are in the process of removing LinkedIn and Twitter auth in favor of just having campers paste in the link to their LinkedIn and Twitter profiles manually.

[2018-01-15 20:29] #16273 closed

[2018-01-15 20:31] QuincyLarson commented on #16300
@vkWeb Thanks for catching this, and for closing the issue :)

[2018-01-15 20:32] QuincyLarson commented on #16327
@vkWeb It would seem @satyaim hasn't responded - would you be interested in helping tackle this issue?

[2018-01-15 20:43] QuincyLarson commented on #16504
@vkWeb We want a single source of truth for our map, so we wouldn't want this map to be different from the other ones.

[2018-01-15 20:50] QuincyLarson commented on #16388
@iabrenne How is this process coming along? One thing I didn't mention is that it would probably be easier to have all the articles follow a convention (having the Guide articles use the same name as challenges) so that we don't have to specify a guide article URL for each challenge, and the guide article URL can be inferred from the current challenge's name.

[2018-01-15 20:55] vkWeb commented on #16504
@QuincyLarson No - Like when a camper clicks on the map, we shouldn't show him our original map. Instead, we should present a graphical overview of our curriculum (a better term is 'learning-path').

Something similar to this:
![map](https://user-images.githubusercontent.com/26724128/34961181-41332a14-fa64-11e7-8b9d-58462867d0ca.PNG)

[2018-01-15 20:56] vkWeb commented on #16300
@QuincyLarson Always for freeCodeCamp. No thanks, Sir. :)

[2018-01-15 20:58] vkWeb commented on #16327
@QuincyLarson I investigated this issue. Actually, this is limited to react & redux challenges only.

[2018-01-15 23:30] iabrenne commented on #16388
@QuincyLarson I did not think of that approach. Instead I've been going through each article in the guide in alphabetical order ( currently on "f" ) and adding guideUrl property into that challenge object.

Once I was done adding all the available urls, I was planning on making a list of challenges lacking a guide. I have a mongo script looking for challenges missing guideUrl field :) It's not per

[2018-01-16 00:02] no-stack-dub-sack opened #16509 "asi: suppress 'missing semicolon' warning in editor"
@freeCodeCamp/moderators What does everyone think about suppressing the 'missing semicolon' linter warning in the editor?

<image src="https://user-images.githubusercontent.com/18563015/34965503-65eff798-fa22-11e7-889e-1aa7eb127201.png" height="200px" />

With [asi](https://tc39.github.io/ecma262/#sec-rules-of-automatic-semicolon-insertion), manually adding semicolons is rarely needed except in so

[2018-01-16 01:01] iabrenne commented on #16388
@QuincyLarson In the meantime, my plan of action for item 1 ( Clean up the existing Guide articles for each challenge ).

1. Get list of all article names under https://guide.freecodecamp.org/certificates , remove hyphens and sort alphabetically

2. Get a list of all challenge titles from freecodecamp.

3. Merge the two lists and get list that exists in 1 but not 2. I expect those will be guide ar

[2018-01-16 02:27] reddysridhar53 commented on #16506
shall I pick this up?

[2018-01-16 05:31] raisedadead commented on #16463
@QuincyLarson

Yes, you are right https://github.com/freeCodeCamp/freeCodeCamp/issues/6305 is related.
Well, its a very old issue on the roadmap.

But, this would be a really interesting feature, like you said 1 point for a project seems less, adding the granularity will be good thing.

**Do you think we can call them something other than "Brownie Points" ?**

This is because, some non native camp

[2018-01-16 05:34] raisedadead commented on #16463
P.S I found your comment from another issue https://github.com/freeCodeCamp/freeCodeCamp/issues/12460#issuecomment-310221195 where you say, that they could be called XP. Which seems really logical to me.

[2018-01-16 05:40] raisedadead commented on #16509
All, jokes aside, yes please, we should not be limiting / enforcing any style preferences, et al. Lets be flexible.

[2018-01-16 05:43] sagarjhaa commented on #16420
@raisedadead I would like to work on it.

[2018-01-16 05:43] raisedadead commented on #16506
Looks like there are open PRs for this already @reddysridhar53

[2018-01-16 05:44] #16506 closed

[2018-01-16 05:49] raisedadead commented on #16420
Yes, sure go ahead, any issue that is tagged help wanted, and does not have a open PR is open for contribution. You do not need confirmation.

Goodluck and happy contributing!

[2018-01-16 05:55] #16312 closed

[2018-01-16 06:07] sagarjhaa commented on #16420
Working on it.

[2018-01-16 07:06] r1chard5mith commented on #16312
I'm pretty annoyed that you closed this by taking the original pull request after telling me I could take it. Nobody replied to the comments I left above and now the issue is closed. There's no wonder this is a year behind schedule if you're squandering people's effort in this way.

[2018-01-16 07:35] iabrenne commented on #16388
@QuincyLarson

1. Got a list of all guide articles from https://guide.freecodecamp.org/certificates   ( count : 261 )
2. Got a list of all challenge titles from challenge collection in mongo ( count : 1887 ) . ( # will go down once I figure out which challengeTypes  to exclude e.g. intros, etc...)
3. Compared two files with diff -y

Out of 261 guide articles,
       195 have name/url that matches

[2018-01-16 08:05] reddysridhar53 commented on #16506
thank you @raisedadead , will look for something else then.

[2018-01-16 08:48] raisedadead commented on #16312
Hi @r1chard5mith , I understand that you are contributing for first time. I'll clarify your confusion.

Yes, we accepted a PR for this issue i.e #16312 made by @StephenMayeux i.e #16341
One of our contributors requested them to take the below two issues in conjuction to #16312

#16314
#16316

They are not obligated to do that, because their PR for this issue #16312 was approved, with a mere reques

[2018-01-16 09:53] r1chard5mith commented on #16312
I appreciate you taking the time to write that and I apologise for venting my frustration. I understand that you can only reply when you have time to do so, but I will point out that you wrote "if they are unable to revert or update in a few days, please feel free to make a pull request.However, please make a note of the discussion on the PR thread as well, so that we do not miss anything." which

[2018-01-16 10:28] raisedadead commented on #16312
Yes, I think this is the point of confusion, because no code was changed at all by me except for a simple rebase, of the commit.

Meaning, your commit was used as it is with all your changes only.

Anyways, thanks for reverting back, I urge you to simply push the changes and open a new PR.
Since you have deleted, the branch on GitHub, unfortunately you will do this over again.
And, in future when

[2018-01-16 14:38] linkenneth opened #16510 "[Security] JS challenges vulnerable to XSS"
Update: Details hidden, by mod.

[2018-01-16 14:54] StephenMayeux commented on #16312
@r1chard5mith I know it's frustrating but that comment was unnecessary, man. You've used freeCodeCamp to attain the Front End and Data Visualization certificates and have picked up a lot of useful skills along the way. And the core group of contributors have volunteered thousands if not tens of thousands of hours to get this ready so that people like us can learn. It's not perfect, but be thankful

[2018-01-16 14:57] raisedadead commented on #16510
Hi @linkenneth thanks for taking the time to report.

However, can we please request you to follow [responsible disclosure](https://en.wikipedia.org/wiki/Responsible_disclosure) in future, you can always contact privately on such issues, on our chat / email (team@freecodecamp.org) / twitter DM etc.

I, am available at https://gitter.im/raisedadead if you want to leave any additional info.

We are

[2018-01-16 14:59] raisedadead commented on #16510
/cc @QuincyLarson @BerkeleyTrue

[2018-01-16 15:06] #16510 closed

[2018-01-16 15:07] raisedadead commented on #16510
Closed, to reduce public visibility, we are still on top of this.

[2018-01-16 16:41] cxw42 opened #16512 "Challenge "Override Class Declarations by Styling ID Attributes" accepts two h1's, the first unclosed."
#### Override Class Declarations by Styling ID Attributes
[Override Class Declarations by Styling ID Attributes](https://www.freecodecamp.org/challenges/override-class-declarations-by-styling-id-attributes)

#### Issue Description
The below challenge code should not be accepted, but is.  Apparently the unclosed `<h1>` isn't being correctly filtered out by [this test](https://github.com/freeCodeCam

[2018-01-16 17:03] #16239 closed

[2018-01-16 17:56] BerkeleyTrue commented on #16453
fixed in 62e079c7215fc13296e934ff304b6894e4a45dca

[2018-01-16 17:56] #16453 closed

[2018-01-16 17:56] BerkeleyTrue commented on #16407
closed in 62e079c7215fc13296e934ff304b6894e4a45dca

[2018-01-16 17:56] #16407 closed

[2018-01-16 19:55] raisedadead commented on #16312
Hi, @StephenMayeux its okay, now.

I have gone ahead and retrieved the changes from my local copy.

I personally did not want @r1chard5mith 's efforts go waste, and they should get their well deserved credits for working on it, in the first place. We are super excited to welcome everyone, especially when when they are contributing to this code-base for first time.

**The commit reflects them as an

[2018-01-16 20:42] raisedadead commented on #16268
This is open for anyone to work on.

[2018-01-16 20:51] raisedadead commented on #16504
This is not trivial, with the current client side implementation. Static view is also no longer possible.

[2018-01-16 20:55] raisedadead commented on #16478
@TylerDelRosario sure.

[2018-01-16 21:17] raisedadead commented on #16356
Hi, sorry I am a little lost here, can anyone of you guys, elaborate a little on what is to be done?

[2018-01-16 21:18] raisedadead commented on #16474
We need help in analysis of this issue.

[2018-01-16 21:18] sagarjhaa commented on #16268
Working on it.

[2018-01-16 21:28] zandthecoder opened #16516 "Applied Visual Design: Modify Fill Mode of an Animation - Not accepting all valid answers"
#### Challenge Name
[Applied Visual Design: Modify Fill Mode of an Animation](https://beta.freecodecamp.org/en/challenges/applied-visual-design/modify-fill-mode-of-an-animation)

#### Issue Description
If you insert the "animation-fill-mode: forwards;" between "animation-name: background-color;" and "animation-duration: 500ms;" or above "animation-name: background-color;", the behavior is exactly

[2018-01-16 21:32] dhuber666 commented on #16468
Hi I have the exact same problem.
Another thing I found out in the Chrome Debugger Console.
Every time I click on `Submit and go to next challenge`, I get this error in Console:

`TypeError: Cannot read property 'challenges' of undefined`

Screenshot:

<img width="425" alt="screenshot at jan 16 22-32-05" src="https://user-images.githubusercontent.com/15130832/35013283-29413b2c-fb0d-11e7-88cd-d1b96

[2018-01-16 21:55] r1chard5mith commented on #16312
Thanks for your opinion @StephenMayeux, and for taking the time to look through my profile, but I haven't actually received any of the certificates. I was just playing for fun and it's beside the point in this case.

I understand that your time is valuable. So is mine. Did you see the question I asked you above?  Do you know a better way to edit and test the tests from the challenges?

@raisedadea

[2018-01-17 02:51] huyenltnguyen commented on #16512
The [beta version of this challenge](https://beta.freecodecamp.org/en/challenges/basic-css/override-class-declarations-by-styling-id-attributes) has a test case to cover this issue, so I think we just leave it at that and wait for the beta launch.

[2018-01-17 03:02] QuincyLarson opened #16517 "Update beta help / hint buttons to match productions"
We want beta's buttons (and modal) to be the same as productions.

![basic_javascript__storing_values_with_the_assignment_operator___freecodecamp_ _and_roman_numeral_converter___freecodecamp](https://user-images.githubusercontent.com/985197/35023471-66da0160-fb00-11e7-8476-a6b9b739ee8e.png)

Here's what we want the help modal to look like:

![roman_numeral_converter___freecodecamp_and_basic_javasc

[2018-01-17 03:04] QuincyLarson commented on #16388
@iabrenne Thanks for your patience - it sounds like you've gotten a ton done in the meantime!

Great! I figured this would be the case, since all of these articles were exported from the https://forum.freecodecamp.org/c/guide forum category.

Some of the challenge names may have changed slightly. We can update the titles of the guide articles accordingly. The guide articles should track the challe

[2018-01-17 03:04] TylerDelRosario commented on #16478
I'm sorry if this is an obvious question, but is there a way to start up and test a local version of freecodecamp?

[2018-01-17 03:13] huyenltnguyen commented on #16474
@manikandanelangovan The tests work fine. The challenge asks you to add a media query when the device's **height** is <= 800px. What you did was setting rule for max-**width**. 😄

[2018-01-17 05:44] raisedadead commented on #16312
Yes please.

[2018-01-17 05:56] raisedadead commented on #16478
@TylerDelRosario yes, thats a perfectly valid question, its documented in our [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md)

If you are just getting started we hangout in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors), you can ask questions there too.

[2018-01-17 11:31] matthras commented on #16415
I've got one or two ideas for a fix - will be testing some changes locally for the next few days before I submit a pull request.

[2018-01-17 16:44] alexch commented on #16373
I will take this on and add those instructions to either `challenge-style-guide.md` or `seed/README.md` while @raisedadead is working on a more comprehensive docs PR. And maybe even make a gulp script for it, if I'm feeling ambitious!

[2018-01-17 16:59] alexch commented on #16373
I've added these instructions on my branch and they should appear as part of #16511 momentarily

[2018-01-17 18:52] raisedadead commented on #16448
Hey there @Facundo-Corradini ! How is it going?

[2018-01-17 19:24] #16284 closed

[2018-01-17 19:46] raisedadead commented on #16510
We have fixed this in production. As a side effect, the sharing code URLs from profile, and viewing solutions from profiles is disabled.

This is side effect is temporary and is already handled more elegantly in the beta.

We will soon be adding a more clear warning notice on the profile page, for clarification.

[2018-01-17 20:58] alexch opened #16519 "move testfirst.org labs into FCC"
Many years ago, I taught a Ruby class with @ultrasaurus . Together we invented *test-first teaching* (so did a lot of others around this time, but it was new to us) and created http://testfirst.org to house our course materials. Over time the materials grew -- adding many Ruby tests, plus suites for JavaScript and Java, and an experimental "live" branch at http://testfirst.org/live -- but the site

[2018-01-17 21:00] alexch opened #16520 "npm run seed"
I can see what `node seed` does -- it runs seed/index.js -- but should that code be moved to use gulp instead, for conformity with `npm run test` et al.? It's confusing that some dev scripts are run with `npm run` and others with `node`.

[2018-01-17 21:49] Facundo-Corradini commented on #16448
Hey guys,

Been thinking how to go with this and working through the curriculum to see where it would fit better. But there's no really easy way out of this.  Any tag we would select will leave out use cases for the others, and trying to squeeze the different cases for each style on a single challenge will be a total cluster*** . The section is dealing with applied visual design anyway, not semant

[2018-01-17 22:53] BerkeleyTrue commented on #16248
@vbelolapotkov Looks good so far. Can you open up a PR? This makes it easier to get a dialogue going around the code.

[2018-01-18 00:54] no-stack-dub-sack commented on #16509
@raisedadead haha! Yeah, I know, dangerous ground 😄

The only other linter warning I can think of off hand that would be a stylistic type choice would be the `laxbreak` rule, which, when set to `true` would suppress warnings for what the linter thinks is a dangerous line break... take the popular ternary syntax, for example:
[code]
This would throw a linter warning about 'misleading line-breaks',

[2018-01-18 01:37] iabrenne commented on #16388
@QuincyLarson  Thank you so much for your response and guidance. I will proceed with submitting PRs against the Guide repo to get the names of the 66 guide articles changed to match the challenge names.

Few questions in the meantime.

Do I understand it correctly that we want to have challenges linked to guide articles on both beta and production? ( with updates to beta being tracked in the [1651

[2018-01-18 04:10] #16314 closed

[2018-01-18 04:10] #16316 closed

[2018-01-18 04:17] no-stack-dub-sack commented on #16509
@raisedadead @Ethan-Arrowood unless anyone dissents, I'll go ahead and make a PR for this tomorrow at some point.

@BerkeleyTrue @QuincyLarson do either of you want to weigh in on this?

[2018-01-18 04:37] BerkeleyTrue commented on #16509
I understand the desire but it is this very reason we do enforce it and why it is enforced in the codebase.

Semicolons are not a style choice. If they were then you would never run into errors because of their absence as apposed to 2/4/tab indenting which truly is optional.

They are important to enforce especially at an early stage as the errors that do happen when they happen are not helpful at

[2018-01-18 06:40] vasiliaskid commented on #10126
nice topic that i learn,

[2018-01-18 06:42] #16229 closed

[2018-01-18 06:53] #16274 closed

[2018-01-18 07:09] Ethan-Arrowood commented on #16509
I can see Berkeley’s point is valid. Personally I don’t use semicolons and
I rely on Babel or Prettier to inject them whenever I work on projects with
developers who do use them. Of course I’d never expect a new programmer to
do these things which is where I see a lot of validation in Berkeley’s
opinion.

As a common ground, could we ‘enforce’ semicolons as warnings instead of
errors? Red X’s are

[2018-01-18 07:26] BerkeleyTrue commented on #16509
@Ethan-Arrowood Warnings are usually ignored. Errors are not.

[2018-01-18 09:59] huyenltnguyen commented on #16516
@zandthecoder Thanks for reporting the issue.

This challenge's test strictly checks if we type the correct code && in the exact order.
https://github.com/freeCodeCamp/freeCodeCamp/blob/b1b8074733f2eba996383df4d2f7dfd7aecb23d5/seed/challenges/01-responsive-web-design/applied-visual-design.json#L2092
It shouldn't be that rigid. I'll raise a PR for this one later today.
Happy coding!

[2018-01-18 16:22] cxw42 commented on #16512
Thanks for letting me know!  I just tried it in my browser (same version as above - Chrome 63.0.3239.132).  The code above did fail the challenge, so the beta does take care of the fundamental problem.  However, not all the diagnostics are accurate:

![cropped](https://user-images.githubusercontent.com/10515894/35104244-4345faec-fc36-11e7-903f-a224a922437b.png)

Should I open a separate issue for

[2018-01-18 17:20] nicandromts commented on #16516
Hi, do u guys still think this is  an issue? any updates? I tried to reproduce the error but couldn't see it

[2018-01-18 17:20] #16332 closed

[2018-01-18 17:20] #16344 closed

[2018-01-18 18:05] raisedadead opened #16522 "Audit codebase to make sure all relative protocol URLs start with "HTTPS""
We have been using and recommending protocol relative URLs like so:

[code]

This was made popular by:
https://www.paulirish.com/2010/the-protocol-relative-url/

But, I believe, this something we should be NOT be doing now on, since the author have long since updated their advice.

More reference: https://jeremywagner.me/blog/stop-using-the-protocol-relative-url/

Hence we need to audit our code-b

[2018-01-18 18:07] raisedadead commented on #16522
/cc @freeCodeCamp/moderators

[2018-01-18 18:16] raisedadead commented on #16520
Yup, we recently updated the scripts to have `npm run develop` instead of `gulp` (default). I am thinking we could do a `npm run seed` ?

The scripts should be independent to differentiate  between different tasks.

Do you have any proposals in mind? How we should go about it? Ideally we would want to do a `npm run xxxx` for xxxx like instruction in the docs.

[2018-01-18 18:22] raisedadead commented on #16520
What would you like to add to the `gulp` scripts BTW?

I think we would want a common script that can (in pseudo code):
[code]

This should simply be a `npm run seed` eliminating the need for the `only-once`?

[2018-01-18 18:27] raisedadead commented on #16519
@alexch Thanks a lot for sharing your thoughts and interest on moving testfirst.org curricular content.

If you are willing to mentor the contributors, I think we can get this done in collaboration. But, before any confirmation We will have to defer to Quincy first for the thoughts.

@QuincyLarson I think Alex, has got some great ideas here. Do you mind sharing your thoughts as well?  IMHO this wo

[2018-01-18 18:33] #16411 closed

[2018-01-18 19:13] #16318 closed

[2018-01-18 19:24] raisedadead opened #16523 "[beta] Invalid ObjectId for Introduction to jQuery challenge"
We have an invalid MongoDB ObjectId set for the "Introduction to jQuery" challenge.

![image](https://user-images.githubusercontent.com/1884376/35116731-788fa03c-fcb2-11e7-9892-9d334678877d.png)

looking at the git blame:

https://github.com/freeCodeCamp/freeCodeCamp/blame/4ab129683bf9dc4e61d09589de79d49467138f71/seed/challenges/03-front-end-libraries/jquery.json#L13

This came from https://github

[2018-01-18 19:28] raisedadead opened #16524 "[beta] Update tests for checking valid ObjectId for challenges"
Checking for invalid Ids:

- [ ] We need to have some tests or update them for valid ObjectIds.
- [ ] We would also, as a precaution want to identify duplicate ObjectIds if present.
- [ ] Finally we would need to audit and fix up any, ObjectIds which are not valid.

See https://github.com/freeCodeCamp/freeCodeCamp/issues/16523
The documentation update is tracked via #16373

Our challenge ids have

[2018-01-18 19:31] raisedadead commented on #16516
@nicandromts,  I think @huyenltnguyen plans to take this on.

But,

Can you elaborate the steps you followed?

[2018-01-18 19:32] raisedadead commented on #16210
Hi @Bouncey is this still an issue? Can you guide on how to reproduce if yes?

[2018-01-18 21:10] raisedadead commented on #16509
Yup, I can see in the long term this can encourage a habit that should rather be avoided. Well initially seeing the error flag, I too thought this is a bit rigid, check.

But yeah, I 100% agree that we should encourage this practise.

Very very true. All the reason why I guess we should leave the "missing semi-colon errors" as they are.

[2018-01-18 21:16] raisedadead commented on #16499
Hi @haleyelder thanks for reporting. I cannot seem to reproduce this.

Can you please confirm that this redirected you back once again to the settings page itself, or the challenge that you were on?

Also, were there any "Something is not ..." like error messages / notifications ?

If possible, and you can reproduce this can you visit the DevTools's Console Tab on your browser? On windows its laun

[2018-01-18 21:26] Giagnus64 opened #16527 ""Record Collection" challenge Code Editor not changing console"
#### Challenge Name

https://www.freecodecamp.org/challenges/record-collection
#### Issue Description

When inputting anything into the code editor on the right side, the console on the left side only outputs the "collection". I have tried deleting local storage on the browser, clearing cache, refreshing, etc.

#### Browser Information

* Browser Name, Version:  | 50.0.2762.58 - Opera is up to dat

[2018-01-19 00:38] no-stack-dub-sack commented on #16509
@BerkeleyTrue @raisedadead @Ethan-Arrowood I can see the logic here. And I 100% agree that they are NOT a style-choice when it really comes down to it - the language does rely on them, and compilation would fail without them.

I guess my main point is that it really no longer matters whether or not you put them in your own code (to denote line breaks) &mdash; the lodash codebase (the most relied o

[2018-01-19 00:39] no-stack-dub-sack commented on #16509
@BerkeleyTrue what about `laxbreak`?

[2018-01-19 00:52] no-stack-dub-sack commented on #16312
@r1chard5mith to answer one of your questions above: no, unfortunately there is no better way to test your changes to seed files than to edit the seed, reseed the database, and restart the server. Yes, the feedback loop is pretty slow, and if you're just experimenting with stuff to see what works, it can get pretty frustrating. That said, it really does encourage you to think carefully about your

[2018-01-19 00:57] no-stack-dub-sack opened #16528 "Modern Challenges: unwanted bracket renders at end of async test messages"
As first raised by @r1chard5mith in #16312, any `async` test in the modern challenges (React, Redux, React-Redux) has an unwanted closing bracket that renders as text at the end of the test case message:

<image src="https://user-images.githubusercontent.com/18563015/35129506-f0292204-fc89-11e7-9aba-76db67503135.png" height="300px" />

@BerkeleyTrue this seems to be new since we changed the async

[2018-01-19 01:04] 0x0936 commented on #16424
I have a branch with this issue fixed. If no one else is working on it, I'll submit a PR with the fix being what @ooade suggested.

[2018-01-19 01:05] no-stack-dub-sack opened #16529 "Modern Challenges: when only one editor, default nav link to "Editor", else use file name"
[Per @BerkeleyTrue's suggestion](https://github.com/freeCodeCamp/freeCodeCamp/pull/16459#issuecomment-358042085), modify modern challenges editor nav link to default to "Editor" instead of "index" when there is only one editor tab. Set it up so that in the future, when we have multi-tab editor, it will default to file name:

[2018-01-19 01:08] r1chard5mith commented on #16528
Thanks @no-stack-dub-sack - I'll just add that part of the changes I made that ended up in https://github.com/freeCodeCamp/freeCodeCamp/pull/16515 fixed a similar issue with some non-async tests that was having a similar result.

` +        "assert.strictEqual(Enzyme.mount(React.createElement(MagicEightBall)).children().childAt(0).name(), 'input', 'message: <code>MagicEightBall</code>&apos;s first

[2018-01-19 01:29] no-stack-dub-sack commented on #16528
Thanks @r1chard5mith, hopefully @BerkeleyTrue will be able to shed some light on this, as he's much more familiar with the inner workings of how these tests are interpreted, executed, rendered. I've seen the other problem you mentioned before as well, and I too was unable to figure out how to correctly form these to fix the issue.

There's a lot of other higher priority issues going on now, to be

[2018-01-19 01:51] haleyelder commented on #16499
It seems to be working now, for the few times I've tried it, it was not properly redirecting. Good to see it now!

[2018-01-19 01:52] #16499 closed

[2018-01-19 04:59] raisedadead commented on #16499
Awesome! thanks for confirming... happy coding.!

[2018-01-19 05:12] raisedadead commented on #16509
I think yup. That would be the right thing to do. And we could add cautionary warnings there citing reasons, when the options are being turned on / off, etc.

[2018-01-19 05:42] raisedadead opened #16530 "[beta] Invalid ObjectId in Introduction to Arrays Challenge"
We have an invalid MongoDB ObjectId set for the "Introduction to Arrays" challenge.

Looking at the git blame

https://github.com/freeCodeCamp/freeCodeCamp/blame/76941a08d87f0806da1674d5d60a3ae0087cbfa7/seed/challenges/02-javascript-algorithms-and-data-structures/basic-data-structures.json#L8

This came from https://github.com/freeCodeCamp/freeCodeCamp/pull/12817

Fix:

We should update this to a

[2018-01-19 06:00] QuincyLarson commented on #16509
I agree with @BerkeleyTrue that everyone should use semicolons, and I think the resistance some developers have to them is a bit strange.

This said, there will be some developers who stubornly refuse to use them, and for those developers, basically all CodeMirror linting errors will lose their meaning. So I agree that it would be nice for those stubborn people to be able to toggle off missing sem

[2018-01-19 06:12] Asjas commented on #16530
Hi @raisedadead

I'll take a look at fixing this. Seems easy enough for a first time contribution :smile:

[2018-01-19 06:13] QuincyLarson commented on #16519
@alexch Yes - I remember talking with you about this. We would love to have more comprehensive coverage of testing as part of the core freeCodeCamp curriculum. Currently we have a section on testing, though it doesn't go very deep. If you can adapt these challenges to run on freeCodeCamp client-side, we'd be interested in including some of them.

Your game plan looks solid. You can definitely use

[2018-01-19 06:15] QuincyLarson commented on #16522
@raisedadead I agree with Paul Irish's logic here. @BerkeleyTrue what do you think? Should we create an issue to go through and turn these relative URLs into https URLs?

[2018-01-19 06:19] #16505 closed

[2018-01-19 06:19] vkWeb commented on #16424
@0x0936 Go ahead if you have the fix ready.

[2018-01-19 06:21] QuincyLarson commented on #16268
@sagarjhaa Welcome back! Thank you for your patience, and taking the initiative! Let us know if we can do anything to help. Thanks for keeping us posted on your progress :)

[2018-01-19 06:25] QuincyLarson commented on #16463
@raisedadead Yes - I think XP is something pretty universal. Brownie Points are colloquial here in the US, and related to boy scouts and girl scouts - thus camp-themed. But XP is simpler and more easily understood.

Changing the name won't fix the confusion around that number, though. What we need to do is multiply the number times 100. That way campers definitely won't confuse the number for the

[2018-01-19 06:26] QuincyLarson commented on #16327
@vkWeb OK - thanks for digging in deeper on this. Can you figure out why this is affecting the React & Redux challenges? If you can find the guilty code, we can discuss how to most elegantly fix it.

[2018-01-19 06:29] QuincyLarson commented on #16510
@raisedadead Awesome - thanks for the update. Please @-mention me when you create that pull request, as I have had campers asking me about not being able to view solutions.

[2018-01-19 06:33] raisedadead commented on #16530
Hi @Asjas super excited to see you getting ready for contributing to code on this code-base, Your issue reports here and work on guides are really great! Looking forward to a PR.

Happy contributing!

[2018-01-19 06:35] raisedadead commented on #16510
@QuincyLarson I have posted an announcement on the forum:

https://forum.freecodecamp.org/t/announcement-viewing-and-sharing-solutions-from-user-profiles-is-temporarily-disabled/169339

I'll let you know as soon as I have the update PR ready.

[2018-01-19 06:41] raisedadead commented on #16522
Note, this should only be done for URLs that we can confirm are served over https already.

[2018-01-19 06:50] raisedadead commented on #16524
From what I can see, we just need to check this as `isMongoId` and the specs are they should be a hexadecimal, 24 char string?

/cc @BerkeleyTrue

[2018-01-19 07:22] Ethan-Arrowood commented on #16463
Now I am imagining a future FreeCodeCamp where users have customizable avatars and campers can redeem their XP for special items and stuff 😂

In all seriousness though I really like this idea. What pops into my head as a possible technical implementation is an independent API from the main FreeCodeCamp curriculum page. This way we can implement this XP system across all FreeCodeCamp things. I'm al

[2018-01-19 07:28] egavett opened #16533 "Outdated Challenge Information - Safari/HTML5"
#### Challenge Name
[Use HTML5 to Require a Field](https://www.freecodecamp.org/challenges/use-html5-to-require-a-field)

#### Issue Description
While working through the exercise on HTML5 and the ‘required’ attribute, I noticed that the last line mentions:

However, while working on the exercise in Safari 11.0.2, I found that the ‘required’ field works as intended. Everything I’ve found says that

[2018-01-19 07:43] raisedadead commented on #16463
Yes, Ethan. We have an Open API project on the roadmap just for such things.

[2018-01-19 07:43] raisedadead commented on #16463
Yes, Ethan. We have an Open API project on the roadmap just for such things.

[2018-01-19 08:25] davinderpalrehal commented on #16533
@egavett is right Safari has supported the required for some time now. Can I work on this PR?

[2018-01-19 09:01] vbelolapotkov commented on #16248
@BerkeleyTrue I've created a PR but scrolling part is not solved yet.
I've tried to solve it with hash scroll as you suggested by updating location.hash in Challenge didMount for current challenge, but it doesn't work and I don't like the idea of manipulating location in a component.

So the other option is to handle pane scroll in Pane component itself as it holds the dom element which have to be

[2018-01-19 12:02] scissorsneedfoodtoo commented on #16379
Finally got around to renaming and updating the guide to this challenge.

Here's the PR:
[#8007](https://github.com/freeCodeCamp/guides/pull/8007)

[2018-01-19 13:12] psitronic opened #16537 "[Beta] The challenges menu does not expand"
#### Issue Description

The challenges menu does not expand.  No access to challenges.

In the Chrome browser console:
[code]
The MS Edge's console:
[code]
#### Browser Information

* Browser Name, Version: Chrome, 62.0.3202.94/ Microsoft Edge 41.16299.15.0
* Operating System: Win 10
* Mobile, Desktop, or Tablet: Laptop

[2018-01-19 13:31] Asjas commented on #16537
Hi @psitronic. Thanks for reporting.

This has been already been reported in issue #16468. The beta site is still unstable but they are working on it.

[2018-01-19 13:48] #16523 closed

[2018-01-19 13:50] raisedadead commented on #16537
Hi @psitronic @Asjas yesterday we have merged a lot of updates to resolve these issues, these should go live soon in a couple days.

[2018-01-19 13:50] #16537 closed

[2018-01-19 13:53] raisedadead commented on #16468
Update:

**We have merged a couple of changes and these should make the platform much stable and usable.**
Hopefully we will be deploying them on beta, in a couple days.

Thanks for your patience again.

[2018-01-19 13:56] #16530 closed

[2018-01-19 15:22] PolarisTLX commented on #16423
Hi there, this seems simple enough for me to fix.

I presume we simply need to modify the first test condition.
The description of the first condition should change from:
    "Your time tags should wrap around the text "Thursday, September 15<sup>th</sup>"."
to:
   "Your time tags should wrap around the text "Thursday, September 15<sup>th</sup>", with an opening AND closing tag."

And the code in

[2018-01-19 16:11] QuincyLarson commented on #16388
@iabrenne Sure - let me answer your questions one-by-one:

Don't worry about production - we have only been making changes to production when absolutely necessary. The staging branch will soon become production.

Yes - no need to remove it. @Bouncey is going to reconfigure the buttons anyway.

That's correct. On staging, there are no more type 2 or 6, and type 5 will probably get converted to type

[2018-01-19 16:54] plasteelin opened #16538 "All challenges in "Front End Development Certification" completed, but don't claim certificate."
#### Issue Description

I've completed all challenges in "Front End Development Certification" but I've not received the certificate.
On the Gitter Help channel I've been advised to wait 1-2 days until they check my challenges.
Then on the forum we found that progress on the map and progress in my profile don't match.
The last suggestion on the forum is to open an issue here on GitHub.

Any help w

[2018-01-19 17:30] BerkeleyTrue commented on #16524
@raisedadead Sounds good. `validator` has a `isMongoId` function. We we will need to add some functionality to check for duplicates though. This is usually caught with node seed, since mongodb auto rejects dup ids.

[2018-01-19 17:32] BerkeleyTrue commented on #16522
I'm for making cdn links explicitly https.

[2018-01-19 17:54] raisedadead commented on #16538
@BerkeleyTrue looks like this is recurring issue. Quincy, manually added a fix for a user.
Can you check in the backend, if we have all the flags for the user correctly set.

If you give some pointers, I can take up looking in the code for anything that is missed for any required flag that is not set, for some buggy logic.

[2018-01-19 17:56] raisedadead commented on #16538
Here is the previous issue for more context:

https://github.com/freeCodeCamp/freeCodeCamp/issues/16091

[2018-01-19 17:58] raisedadead commented on #16224
Not to be closed unless confirmed fixed.

[2018-01-19 17:59] Asjas commented on #16423
Hi @PolarisTLX

Yes you are on the correct path. Basically you need to setup a `local dev environment` using the [Contributing Guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md#forking-the-project) as a reference. Once you have a local dev environment you can then start changing code and testing if it works locally.

The code you will probably look for is in the [cha

[2018-01-19 18:01] raisedadead commented on #16533
@davinderpalrehal sure, why not. You just have to remove the note.

Here are our [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) and we can be reached for any assistance in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors)

[2018-01-19 18:01] Asjas commented on #16423
The only solution I've found was to write a really really long Regexp. But I'm not sure if it's really a good enough solution to PR.

[2018-01-19 18:03] raisedadead commented on #16538
@plasteelin if you agree, can we close this in favour of more technically relevant thread I listed above?

[2018-01-19 18:22] BerkeleyTrue commented on #16248
There is no reason to couple panes to their content. This should be done in the Map feature since this is a Map specific feature.

Yes, some combination of scrollTop/findDOMNode will be required.

[2018-01-19 18:53] davinderpalrehal commented on #16533
Awesome... will be submitting a PR in the next hour 😄

[2018-01-19 19:30] davinderpalrehal commented on #16533
Just submitted the PR, also realised I didn't follow all the guidelines, sorry guys

[2018-01-19 19:41] plasteelin commented on #16538
I agree, but what I do now?

[2018-01-19 19:51] raisedadead commented on #16538
Hi, I understand this is an inconvenience.

We request you to bear with us while we try to identify the bug.
You should proceed with the curriculum and we will update you once this is fixed. You will be able to claim your certificate then.

Rest assured your progress will be safe.

[2018-01-19 19:57] plasteelin commented on #16538
i.e when i passed back-end , i can claim and front-end?

[2018-01-19 20:08] sagarjhaa commented on #16268
@QuincyLarson I want to thank you for hosting freecodecamp and I am humbled to contribute.

[2018-01-19 22:19] alexch commented on #16520
Please forget I said anything about gulp. I was confused.

This is what I mean:

https://github.com/freeCodeCamp/freeCodeCamp/pull/16544/commits/8ed1b3a6031942d363680de4a356209ca19e5487

(I went ahead and implemented it on my own branch. I can cherry-pick it onto a new branch if you like, for separate PR review.)

Sorry, I don't know what `rev-manifest` is for or why it would ever not exist. It's

[2018-01-19 23:01] PolarisTLX commented on #16423
Alright I have the local dev environment up and running, and I have found the test in question in the applied-accessibility.json file.  And I think I have code required, however, I am not sure where to place this code.

I also think a RegExp is the quickest solution, and here is mine:
    /(\<time).*\>Thursday, September 15\<sup\>th\<\/sup\>\<\/time\>\./;

When testing it in a console, I verified

[2018-01-20 01:47] no-stack-dub-sack commented on #16509
@QuincyLarson This is an interesting point:

Anyway, I couldn't agree more that this is VERY low priority. If we're not considering suppressing the warning altogether, than offering linter options should, if ever, happen way down the line.

I'd say it's probably safe to close this at this point, and revisit when and if the time is right.

[2018-01-20 01:59] iabrenne commented on #16388
@QuincyLarson  - thank you. Sounds like item 4 in the description of this issue ( actual updating of the FCC code to link challenges to guide articles ) is being handled by @Bouncey in #16517.  I will focus on cleaning up the guide repo - renaming articles to match challenge titles and creating stubs for the missing challenges. Thanks again.

[2018-01-20 06:08] raisedadead commented on #16509
Yup, agreed.

[2018-01-20 06:08] #16509 closed

[2018-01-20 06:14] raisedadead commented on #16538
Yes @plasteelin you are correct, you can continue with solving the challenges. And later on visit to claim the certificates.

/cc @QuincyLarson

[2018-01-20 06:30] raisedadead commented on #16520
Ah.. right. Sorry I should have clarified.

Well, when a server is setup first time, a rev-manifest is created, I believe for versioning, its content change locally. And hence its "changes" are not tracked in `git`.

This file is to be populated for the first time using `npm run only-once`, and seeding the DB.
Then on `node seed` is used, whenever seed files are updated.

I am sure we could this m

[2018-01-20 07:37] Asjas commented on #16423
Okay so looking at the test for the time challenge you'll have to replace the current `assert($('time').text().match(/Thursday, September 15th/g)` with `assert(code.match(regexp))`. Then replace the word `regexp` with your RegExp. That should then work.

For reference on how the test should look you can also look at the `Jump Straight to the Content Using the main Element` challenge in the `applie

[2018-01-20 16:30] #16373 closed

[2018-01-20 23:01] QuincyLarson commented on #16510
@raisedadead OK - thanks! We definitely want this on the challenge map ASAP since that's where 99% of campers will see it.

[2018-01-20 23:03] QuincyLarson commented on #16463
@Ethan-Arrowood Yeah - it would be cool to be able to redeem these points for virtual goods, or have achievements. This was something we discussed about two years ago. I imagine such an ecosystem could crop up on external websites as well, through consuming the open API.

[2018-01-20 23:06] bugwheels94 commented on #16390
Despite a lot of effort, I cannot run the repo so not sure the "in progress" tag is suited on this given no activity.

[2018-01-20 23:48] bugwheels94 opened #16548 "require is not defined when running the repo"
When I am trying to run this repo then I am getting violation of content origin policy and "require is not defined error"

Terminal:
[code]
Browser Console:
[code]

#### Issue Description
Following contributing.md file should reproduce this issue

#### Browser Information
Google Chrome Version 63.0.3239.132 (Official Build) (64-bit)
Lubuntu 16.04.3 LTS xenial

[2018-01-20 23:48] bugwheels94 commented on #16390
Created issue https://github.com/freeCodeCamp/freeCodeCamp/issues/16548

[2018-01-21 01:08] Frasspira opened #16549 "Challenge count bug"
On FreecodeCamp I have completed 206 challenges, but when I look at my profile, it displays that I've only completed 2 challenges.Can someone please fix this?

![capture](https://user-images.githubusercontent.com/28991947/35189643-54a8a918-fe1d-11e7-84b8-6dc5229b3a82.PNG)

[2018-01-21 03:56] tienanh2007 commented on #16524
Hi, I have been using FCC for a while and learn a lot about web development. Now, I want to help by contributing. Could I try to do this? And if so how do I get started on this?

[2018-01-21 04:15] huyenltnguyen commented on #16512
@cxw42 Thanks for taking the time to investigate and for the detailed reports!

Your analysis looks correct to me. However, the tests in this challenge are designed to be independent of each other. It can be interpreted like this:
- Check if there is a `h1` with a `pink-text` class, don't care how many `h1`'s there are.
- Check if there is a `h1` with a `orange-text` id, don't care how many `h1`'s

[2018-01-21 05:41] vbelolapotkov commented on #16248
It makes sense, but at now scrollable div is rendered in Pane component.
So Map should find it's parent Pane node, current challenge node, and update pane's div scroll.
In this scenario I don't like the side effect: Map component updates Pane component dom.

May there is a way to render special pane for map, or update styling to make Map component scrollable. What do you think.

[2018-01-21 06:25] raisedadead commented on #16524
@tienanh2007 sure, this is the file where the tests are https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/test-challenges.js

We are using a package called `validator` which has a method that checks for a valid id using `isMongoId`.

You need to update the tests to check for this.

Check our [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRI

[2018-01-21 06:28] raisedadead commented on #16548
Is this also, breaking any functionality on the app?

[2018-01-21 06:33] raisedadead commented on #16549
Hi @Frasspira

Just to note a confusion around the points, its not the no of challenges, but the brownie points (XP) earned.

You are awarded 1 point, per challenge when successful in passing, and also when receiving a thanks from someone in our chat rooms.

https://forum.freecodecamp.org/t/free-code-camp-brownie-points/18380

That said, this needs to be looked backend to confirm your claim.

/cc

[2018-01-21 06:51] #16533 closed

[2018-01-21 10:35] huyenltnguyen commented on #16319
Hi @raisedadead, I know you're very busy, but I just want to give you an update.
I just checked the live beta, the dracula theme is available in night mode now, and it looks so beautiful!
However, you were right about the console. Its night mode display is horrible (screenshot below) and I should've added the logic there as well instead of just manually changing its background and text color. (In

[2018-01-21 11:43] raisedadead commented on #16319
@huyenltnguyen Sure, looking forward to it.. thanks for working on it.

[2018-01-21 11:47] raisedadead opened #16550 "[beta] Invalid ObjectId in Access an Array's Contents Using Bracket Notation challenge"
We have an invalid MongoDB ObjectId set for the "Access an Array's Contents Using Bracket Notation" challenge.

**Fix:**
We should update this to a valid ObjectId, See #16373 on how to do so.

This line needs to be updated with a valid ObjectId.

https://github.com/freeCodeCamp/freeCodeCamp/blob/7cbe4141ced9cf8409fd33a0eb85541370c7fa6c/seed/challenges/02-javascript-algorithms-and-data-structures/b

[2018-01-21 11:48] raisedadead commented on #16550
Here are our [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) and we hangout in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) for any assistance.

[2018-01-21 14:26] shovanch commented on #16550
Hi @raisedadead  I'll give it a try. Looking forward to submit PR ASAP.

[2018-01-21 15:40] raisedadead commented on #16510
@QuincyLarson PR is up. I have added this to the profile page actually, I think this is where the users usually go to visit the solutions.

[2018-01-21 15:40] raisedadead commented on #16510
I am working on one more, so that campers can view the solution without needing to execute it.

[2018-01-21 15:43] linkenneth commented on #16510
Thanks for the fix! Verified that the issue as it was no longer works. Sorry again for the irresponsible disclosure, hope it didn't cause too much trouble.

[2018-01-21 16:49] #16498 closed

[2018-01-21 16:52] bugwheels94 commented on #16548
I just noticed that Secured Policy Directive is getting violated in production too. However, things are looking different. Side by side difference

![screenshot 2018-01-21 22 21 33](https://user-images.githubusercontent.com/4629859/35196549-8b33f41a-fef9-11e7-8383-5f6dcccb689b.png)

[2018-01-22 00:05] QuincyLarson commented on #16248
@vbelolapotkov I'll defer to @BerkeleyTrue on this since he knows more about how this was implemented.

[2018-01-22 00:15] QuincyLarson commented on #16549
@raisedadead Yes - the cause of this is when a camper has a duplicate account. The navbar seems to look up the score based on the username, and the profile itself seems to look it up based on the email address, hence the two different values.

If fixed this by deleting @Frasspira's duplicate account.

This is pretty rare, and considering we're completely changing the navbar on beta, I'm just going

[2018-01-22 00:15] #16549 closed

[2018-01-22 00:19] QuincyLarson commented on #16379
Fixed by @scissorsneedfoodtoo's PR.

[2018-01-22 00:19] #16379 closed

[2018-01-22 00:20] QuincyLarson commented on #16522
@raisedadead @BerkeleyTrue Sounds like a plan!

I've updated the issue title and added the Help Wanted label.

[2018-01-22 00:51] QuincyLarson commented on #16268
@sagarjhaa We are thrilled to have you contributing!

[2018-01-22 00:58] #16268 closed

[2018-01-22 02:40] LorenpNYC commented on #16522
HELLO,
HOW DO I UNSUBSCRIBE FROM THESE EMAILS???

SICK AND TIRED OF MY PHONE CONSTANTLY BLOWING UP WITH FREE CODE CAMP BS!!!!

Sent from my iPhone

[2018-01-22 03:28] QuincyLarson commented on #16388
@iabrenne I just merged your PR. Great work so far! Yes - I think going ahead and creating the stubs to match the titles is all that remains to be able to close this issue :)

[2018-01-22 07:34] BerlinaLI opened #16553 "Cannot open drop-down menu of each session on Map page"
Cannot open drop-down menu of each session on Map.
[https://beta.freecodecamp.org/en/challenges/functional-programming/understand-the-hazards-of-using-imperative-code](https://beta.freecodecamp.org/en/challenges/functional-programming/understand-the-hazards-of-using-imperative-code)

#### Description
On the Map page, I cannot open sub-nav of each big session.
like when i clicked Responsive Web Des

[2018-01-22 07:49] Asjas commented on #16553
Hi @BerlinaLI

It seems you are experiencing the same issue as reported here #16468 and #16433. The FCC team are investigating the issue. They last mentioned in #16468 that they will be updating the beta soon with fixes so the site will hopefully be more stable.

[2018-01-22 14:48] ApeCogs commented on #7925
Hi, I'm writing because I saw @QuincyLarson comment on this [post](https://forum.freecodecamp.org/t/time-zone-anomaly-on-camper-profile-page-code-portfolio/169615/2).

I'm a  new camper and I have a "5 day streak" going on with activities recognized on:
Jan18 - 5 items
Jan19 - 24 items
Jan20 - 16 items
Jan21 - 2 items
Jan22 - 7 items
![fcc](https://user-images.githubusercontent.com/19677168/352262

[2018-01-22 15:07] kgalang opened #16554 "[Beta] Comment on where to code is misplaced in React challenge"
#### Challenge Name
React Write a Simple Counter

https://beta.freecodecamp.org/en/challenges/react/write-a-simple-counter

#### Issue Description

The default code tells you to define methods underneath the constructor. However, the default code doesn't include the explicit binding of these methods that need to go within the constructor. I'm not sure if the fix should be moving up the comment tha

[2018-01-22 15:37] kgalang opened #16555 "[Beta] React set state challenge doesn't need any code to pass tests"
https://beta.freecodecamp.org/en/challenges/react/set-state-with-thissetstate
#### Challenge Name
React Set State with this.setState()

https://beta.freecodecamp.org/en/challenges/react/set-state-with-thissetstate

#### Issue Description

The default code passes all tests no matter what you put. This has been verified by two other users on gitter.

#### Browser Information

* Browser Name, Version

[2018-01-22 15:59] vaheed-sediqi commented on #9047
just remove the Example code from above and run the code

// Example

// Only change code below this line

function reusableFunction(x, y) {
  var sum = x + y;
  console.log("Hi World");
}

reusableFunction();

[2018-01-22 16:12] kgalang commented on #16554
This issue is also in React: Create a Controlled Input challenge
https://beta.freecodecamp.org/en/challenges/react/create-a-controlled-input

I'm not sure if it is in any of the other react challenges yet. Still working through them

[2018-01-22 17:49] ATLowther commented on #16550
Hello @shovanch, were you unable to get to this? I'll try to take care of this right now.

[2018-01-22 18:59] IsaacAbrahamson commented on #14652
@erictleung, @raisedadead

Adding LinkedIn to profile seems to be broken on the production site. I had a camper on the forums who wasn't able to connect their accounts, so I tried, and I can't either. The error is `failed to fetch user profile`.

Again, this is on the production site, not beta. I wasn't sure if I should start a new issue or not, so I just commented here.

[2018-01-22 19:02] ReveurGAM commented on #14652
I am the camper who told Isaac, and that was my error.  Help!

[2018-01-22 19:03] BerkeleyTrue commented on #16520
@raisedadead you summery is correct. We must first verify that the manifest file exists in order for the seed script to run.

[2018-01-22 20:38] diogorighi commented on #16555
Hey, I have experience with react but not much experience contributing with open source projects. How can I be helpful?

[2018-01-22 20:53] QuincyLarson commented on #16388
@iabrenne Thanks for the update. I'm sad to hear you caught the flue. Please get plenty of rest and focus on recovering. Feel better soon!

[2018-01-22 20:56] QuincyLarson commented on #7925
@kennethlumalicay Please take a look at this. Any idea what might be causing @ApeCogs's issue?

[2018-01-22 21:00] QuincyLarson commented on #16538
@plasteelin I'm closing this issue and fixing your database record. Please try claiming your front end cert again and confirm that this worked :)

[2018-01-22 21:00] #16538 closed

[2018-01-22 21:11] BerkeleyTrue commented on #16538
@QuincyLarson we shouldn't be manually modifying records. This is an issue that has popped up more that once. We need to find the root of the issue and create a solution.

[2018-01-22 21:34] Asjas commented on #16555
Hi @diogorighi

This challenge can be found on [this](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/03-front-end-libraries/react.json#L1297) line in the challenge seed directory. It seems there are problems with the testing of this challenge. You can find the tests underneath the challenge contents.

You can see if you can find the problem and get a solution for it. Jus

[2018-01-22 21:42] kennethlumalicay commented on #7925
@ApeCogs do you know the time you did each challenge on jan 21 and 22?(even rough estimates) What is your timezone? Also do you use VPN?

[2018-01-22 22:11] diogorighi commented on #16555
Thanks, @Asjas! I'm working on it!

[2018-01-22 23:17] QuincyLarson commented on #16538
@BerkeleyFalse In this case, I added the following properties to the record:
[code]

Unlike the situation before where I created the property and toggled it for them. I may have misunderstood you last time we talked about this.

 It probably isn't worth the time investment of addressing this issue on backup/master. Is this likely to be an issue with beta?

[2018-01-22 23:23] BerkeleyTrue commented on #16538
Whether the values are there or not wouldn't effect the logic as loopback auto-populates it.
https://github.com/freecodecamp/freecodecamp/blob/backup/master/common/models/user.json#L148

Yes, as the logic is the same between both.

[2018-01-22 23:41] PolarisTLX commented on #16423
Alright I've successfully been running and modifying the local dev environment.

Then I modified the code on line 706 of file "applied-accessibility.json"
From:
"assert($('time').text().match(/Thursday, September 15th/g), 'message: Yo..."
To:
"assert(code.match(/<time.*>Thursday, September 15<sup>th<\/sup><\/time>/g), 'message: Yo..."

I can tell that it is being tested as I can modify the "messag

[2018-01-23 00:53] QuincyLarson commented on #16538
@BerkeleyTrue OK - I won't make any further changes when people report this sort of issue. I'll just refer them to https://github.com/freeCodeCamp/freeCodeCamp/issues/16091

[2018-01-23 01:35] r1chard5mith commented on #16380
This looks like a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/12699 ?

[2018-01-23 02:29] no-stack-dub-sack commented on #16554
@kgalang Nice catch, if you're still working through them, let's find out if this issue is in any other challenges so we can fix them all at once. This is likely because on the Alpha versions of these challenges, we were using arrow function syntax for binding methods to the class. The FCC environment doesn't support this, so we had to switch back to the good ol' fashioned way, and clearly we didn

[2018-01-23 05:15] raisedadead commented on #14652
@IsaacAbrahamson @erictleung thanks for reporting. Can you help us with some screen shots and / or browser console logs?

@BerkeleyTrue @QuincyLarson Can you guys add / ping me details to the LinkedIn Developer Dashboard etc.?

I'll take a look.

[2018-01-23 05:29] raisedadead commented on #16553
Hi @BerlinaLI yup, this seems to be a known issue at certain times. And as @Asjas said we are planning a update on beta... unfortunately we do not have a timeline to confirm. Thanks for reporting.

Closing as Duplicate of #16468

[2018-01-23 05:29] #16553 closed

[2018-01-23 05:34] raisedadead commented on #16554
@no-stack-dub-sack Since the change you suggest looks trivial enough, I am of the opinion that we can open separate issues per challenge, and tag them for first timers? What do you think?

[2018-01-23 05:54] shovanch commented on #16550
@ATLowther No problem, Go ahead

[2018-01-23 13:06] ReveurGAM commented on #14652
I was going to post a screenshot for you but, when I tried, instead of getting the error message "failed to fetch user profile" (which appears to be a cut & paste of the message), it returned me to my current exercise abruptly....??!!!

[2018-01-23 13:17] raisedadead commented on #14652
Ah.. okay no worries. Will try and check this. Thanks for reporting, and sorry about the inconvenience.

[2018-01-23 13:22] ReveurGAM commented on #14652
@raisedadead No inconvenience whatsoever.  If I remember, I'll try again later.  I believe someone is working on it, as the LinkedIn button has disappeared just now.
![image](https://user-images.githubusercontent.com/35181004/35277975-2a20be2c-000e-11e8-8009-2af36e0945c2.png)

[2018-01-23 15:05] kgalang commented on #16554
@no-stack-dub-sack I agree. Having to type the bind statements has helped me internalize the concept.

@raisedadead Sounds like a good plan to me!

I will keep you both updated in this thread if I find similar issues throughout the rest of the react challenges. Let me know if you'd like me to update you anywhere else.

[2018-01-23 15:17] ApeCogs commented on #7925
@kennethlumalicay - Jan 21st would have been around 22:30 - 23:30 EST. Jan 22nd would have been 09:00 - 10:00 EST. I do use a VPN sometimes but it's for work and the region don't change (eastern).

[2018-01-23 15:51] raisedadead commented on #16554
@kgalang awesome, please prefer creating separate issues, we could engage more contributions.

[2018-01-23 15:56] raisedadead commented on #14652
@ReveurGAM I can see on your profile, LinkedIn seems to correctly working. Can you confirm, that's indeed your profile?

To the best of my knowledge, no one is working on this. I'll check for any logs that may have been captured at our end about the original error.

[2018-01-23 16:14] ReveurGAM commented on #14652
Woohoo!  Someone fixed it! Thanks @raisedadead

[2018-01-23 16:15] raisedadead commented on #14652
Nope nobody did that...! Its working because of something more complex than this seems. Anyways, I am creating a new issue to track this.

Happy coding.

[2018-01-23 16:21] raisedadead opened #16559 "LinkedIn Scope issue "InternalOAuthError: failed to fetch user profile""
We have been getting InternalOAuthErrors for linkedIn recently on PRODUCTION.

Also reported by @IsaacAbrahamson in https://github.com/freeCodeCamp/freeCodeCamp/issues/14652#issuecomment-359528285

We need to update our config as per the suggested fix for the correct scope:
https://github.com/auth0/passport-linkedin-oauth2/issues/24#issuecomment-358279513

Just to note, this still links the profil

[2018-01-23 16:22] raisedadead commented on #16559
@BerkeleyTrue I confirmed this on the opbeat dashboard.

[2018-01-23 19:20] huyenltnguyen commented on #16516
@nicandromts, I was in the middle of something when I read your comment, and totally forgot to reply you, so sorry. Would you mind posting your code here, maybe I missed something?

@zandthecoder and @raisedadead, I have a second thought on this. I'm not convinced the test needs to be changed. This challenge is very straightforward: 'here is the code, copy and paste it to the editor and see the re

[2018-01-23 19:21] tarun7singh commented on #16522
@raisedadead
I am starting to work on this.

[2018-01-23 20:00] ReveurGAM opened #16561 "Beta: English error in Basic HTML and HTML5"
#### Challenge Name

[Basic HTML and HTML5: Link to External Pages with Anchor Elements](https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/link-to-external-pages-with-anchor-elements)
**-AND-**
[Basic HTML and HTML5: Nest an Anchor Element within a Paragraph](https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph)

#### Issue Descr

[2018-01-23 21:04] ReveurGAM opened #16562 "Beta: Distance calculations incorrect for finding a study group"
****Area & Link
[Join a study group](https://study-group-directory.freecodecamp.org/)

****Problem Description
(Sorry, I aborted a report before because there was no cancel button, but then this app wouldn't reload the template, so I'm writing without the template).

The website is not calculating distances correctly.  I highly doubt that CA is closer to Milwaukee, WI than WV, nor is it just past

[2018-01-23 21:05] jamesbuckley1 opened #16563 "Tutorials not loading properly in MacOS"
#### Issue Description

Tutorials are not loading properly some of the content is being cut off and I cannot progress in the tutorial. This happens in MacOS in latest versions of Chrome/Safari/Firefox. I have tried to open the tutorials with all browser extensions disabled. All other websites I visit are fine.

Interestingly, when I open Chrome dev tools to investigate and expand it, the rest of t

[2018-01-23 21:06] #16563 closed

[2018-01-24 01:03] BerkeleyTrue commented on #16248
This is probably the easiest approach. Adding a container div for the map, setting it to 100% hight width, then controlling the element scroll there.

[2018-01-24 01:16] #16555 closed

[2018-01-24 01:23] no-stack-dub-sack commented on #16550
@raisedadead are you sure this is the only challenge in this section with an invalid ObjectId by any chance? This was my section, and this was before I knew how to correctly generate them (and before we had documentation on how to do so) 😬

[2018-01-24 02:20] BerkeleyTrue commented on #16528
The logic that pulls the message happens here https://github.com/freecodecamp/freecodecamp/blob/staging/common/app/routes/Challenges/utils/index.js#L121

`('' + test).split('message: ').pop().replace(/\'\);/g, '')`

[2018-01-24 02:59] #16454 closed

[2018-01-24 04:22] QuincyLarson commented on #14652
@raisedadead @Bouncey is in the process of removing LinkedIn/Twitter/GitHub linking in favor of just having campers manually copy/paste their usernames or profile URLS. So we just need to fix this for the purpose of our deprecated authentication methods.

[2018-01-24 04:27] QuincyLarson commented on #16380
@r1chard5mith Yes good catch. Closing in favor of #12699.

[2018-01-24 04:27] #16380 closed

[2018-01-24 04:36] QuincyLarson commented on #16559
@raisedadead the only thing I can think of is that LinkedIn suddenly got stricter about HTTPS. I've updated all the URLs associated with our LinkedIn API key to use HTTPS.

[2018-01-24 04:38] QuincyLarson commented on #14652
@ReveurGAM OK - I set all the links associated with our LinkedIn API key to HTTPS (before they were HTTP and that may have been why this suddenly started failing). Could you try again and see if it works for you now?

[2018-01-24 06:47] vbelolapotkov commented on #16248
That's the way I'm trying to solve it now, will add this part to as well PR once implemented.

[2018-01-24 06:56] raisedadead commented on #16559
Yup, while using HTTPS is a good idea, we also need to update our config to limit the scope that is the `public_url` of the user in the request that we are making to LinkedIn API.

We are currently using a default config, that may have been breaking this in production.

[2018-01-24 06:59] raisedadead commented on #14652
@QuincyLarson The issue for @ReveurGAM is different and is resolved.

On beta, we are removing the profile linking as you said. Hence the only issue that remains in #16559 which is about deprecated logins.

We can go ahead and close this thread, if the removal of profile linking is done before beta, is launched.

[2018-01-24 07:00] raisedadead commented on #16550
@no-stack-dub-sack see #16524

[2018-01-24 08:01] Mkdeacon opened #16564 "Someone has temote access to all my acconts and servers"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2018-01-24 08:28] Asjas commented on #16564
@Mkdeacon I am not seeing anything logged in this issue? Can you explain what you mean by the issue title?

[2018-01-24 09:06] Mkdeacon commented on #16564
Someone is accessing through my home ip. They have been able to put malware in my cell phones. My apple and android phones are beinging accessed. Downloaded my google dashboard and stolen my idenity. They changed nfc settings and file shared all my files again today.  My addministration access has been changed on my server ss well as my pc. I found a software program called 5nine

[2018-01-24 09:26] Asjas commented on #16564
Hi @Mkdeacon

Unfortunately this isn't a support forum. Best you get technical assistance from a local computer shop.

[2018-01-24 11:07] ahmadabdolsaheb commented on #16474
@raisedadead @vkWeb @manikandanelangovan
the correct answer is:
`@media (max-height: 800px) {
     p {
       font-size: 10px;
    }
  }`
the tests are fine but the description could be improved by adding an example of max-**height** to make it less tricky.

[2018-01-24 13:37] ReveurGAM commented on #14652
I would just like to comment that I thought having LI, T and GH "integrated" as it was a good idea.  It's a selling point...

@QuincyLarson I would like to try, but since the error was intermittent, it worked for me yesterday and the button no longer exists in my settings on pre-beta FCC.

I would like to note that when I tried to use the LI link to log on to beta, I got this error:
![image](https

[2018-01-24 13:39] ReveurGAM commented on #14652
I tried adding LI to my beta profile and got the above error, as well.

[2018-01-24 13:54] tchaffee opened #16565 "Code Locked / Unlocked button is a confusing UX for beginners"
#### Issue Description
The "Code Locked" button on beta shows up on the very first challenge: "Say Hello to HTML Elements". I think this has to do with recent security improvements to prevent javascript injection via the URI? In any case, there is no code in my URI. The URI is https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/say-hello-to-html-elements. I am guessing maybe it's beca

[2018-01-24 14:33] no-stack-dub-sack commented on #16554
@raisedadead I definitely agree. These are perfect issues for first-times to get used to our process on.

@kgalang if you find any others, please open new issues as @raisedadead has suggested.

Thanks!

[2018-01-24 14:35] no-stack-dub-sack commented on #16550
@raisedadead ahhh, gotcha. This should def turn up a few :smile:

[2018-01-24 14:39] no-stack-dub-sack commented on #16528
ahh, got it. Should be an easy enough fix from here.

@r1chard5mith are you interested in taking this on? Let me know, otherwise I'm happy to do it.

[2018-01-24 14:39] raisedadead commented on #14652
Yup, this noted bug is getting resolved, by letting users just set a profile URL. As for authentication we have already a different email only approach.

[2018-01-24 14:42] raisedadead commented on #16474
@ahmadabdolsaheb sure.

[2018-01-24 15:29] raiden357 commented on #16348
I put let i = "function scope"; and let i = "block scope"; and it passed

[2018-01-24 16:24] #16550 closed

[2018-01-24 16:59] kgalang opened #16567 "[Beta] Typos within React Challenge"
#### Challenge Name
React: Use Advanced JavaScript in React Render Method

https://beta.freecodecamp.org/en/challenges/react/use-advanced-javascript-in-react-render-method

#### Issue Description

There are a few typos in the instructions and tests of this challenge. It instructs you to change the incorrect line number and also the tests spell "components" incorrectly.

#### Browser Information

*

[2018-01-24 17:00] kgalang commented on #16567
Please let me know if you guys would prefer that in the future I just resolve these types of issues myself. I just figured they are inviting issues for first timers.

[2018-01-24 17:08] systimotic commented on #16406
Good point @raisedadead, I somehow didn't realize that tap-dot did not show the challenge name on error, that's definitely a problem. 😅

`tap-difflet` in pessimistic mode does indeed seem to do a really good job. A progress indicator would be nice, but I can live without it.

Can you explain why you want the verbose logs on the CI? I don't understand the benefit of this. You mentioned in your orig

[2018-01-24 17:15] raisedadead commented on #16406
Well on CI having a default verbose mode, lets us (as maintainers) analyze the build, test, etc. clearly to the line. This is regardless of the fact that its failing or passing.

This is helpful in many cases, like for example I can clearly see what is actually the output of an install, etc,.

Yes, earlier without the `difflet` or the `dot` mode, it was impossible, to pin point a failure locally,

[2018-01-24 17:19] raisedadead commented on #16406
Yup in that build, the output is:

[code]

Which is fine to have locally, but I can't analyse if I wanted to which all tests have run out of those 1317. which do not have solutions? etc. This is OK to have CI side, for checking.

[2018-01-24 17:21] systimotic commented on #16356
@raisedadead Of course!

Here's an excerpt from the challenge description:

This is true, you can give it whatever name you want.
The issue is that the challenge test requires that name to be `myStringModule`, but it does not mention this requirement anywhere. It is only suggested by the seed, but not even hinted at in the test or description.

[2018-01-24 17:34] erictleung commented on #16567
@kgalang thanks for reporting this error! You're always free to take care of issues yourself, but you're more than welcome to offer this opportunity for first-time contributors :smile: Let us know what you want to do, no pressure.

[2018-01-24 17:35] #16564 closed

[2018-01-24 17:36] raisedadead commented on #16567
@erictleung actually we had requested @kgalang for these first timer issues

[2018-01-24 21:07] anhtran1906 commented on #16415
I could reproduce the problems and successfully added tests for the "</div>" and "</nav>" tag. My solution is that I added two new lines of test to test if the user's answer includes "</nav>" and does not include "</div>". @raisedadead please let me know if you're OK with this solution and I can create a pull request within the next 8 hours

[2018-01-24 21:33] QuincyLarson commented on #14652
@ReveurGAM OK - thanks for your feedback. The account integration was more reliable than asking users to input their own URL, but it also makes it less clear to campers for how they should update these accounts should they create a new one or change the username. That ambiguity is side-stepped if we just have a field they can update.

@raisedadead OK - so it can close this issue then?

[2018-01-24 21:34] #14652 closed

[2018-01-24 21:35] QuincyLarson commented on #16559
@raisedadead Do you know how we'd go about doing this? If this is breaking this aspect of production, then we should go ahead and make a hot-fix.

[2018-01-24 21:35] QuincyLarson commented on #16559
@raisedadead Do you know how we'd go about doing this? If this is breaking this aspect of production, then we should go ahead and make a hotfix.

[2018-01-24 21:37] QuincyLarson commented on #16522
@tarun7singh OK - thanks for jumping on this one. Please keep us posted on your progress with it, and let us know if you have any questions :)

[2018-01-24 23:33] #16416 closed

[2018-01-25 00:14] ReveurGAM opened #16568 "Beta:"Cannot set property 'credentials' of null" message"
#### Challenge Name

I'm not certain when it appeared, as I've been multi-tasking, but it may have shown up on Basic [HTML and HTML5: Add Placeholder Text to a Text Field](https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/add-placeholder-text-to-a-text-field)

#### Issue Description

I have no clue.  I just noticed it.  There is a blue bar above the challenge frame with the message:

[2018-01-25 00:24] theoutlander commented on #16356
Let's come to a consensus on what needs to be done here and I'll try to fix it when I get a chance.

[2018-01-25 00:25] theoutlander commented on #16356
I think this could also be marked as a first timer issue if it's an easy one. I am working on another issue as it is.

[2018-01-25 01:00] huyenltnguyen commented on #16568
Hi @ReveurGAM, thanks for reporting!
Are you referring to the 'JavaScript is disabled' message? This is a new feature, I believe. It's to prevent/minimize the risk of users executing malicious code. You'll need to click the 'Code Locked. Unlock?' to unlock, then click it again to run the code.

[2018-01-25 01:37] werne2j commented on #16529
@raisedadead @no-stack-dub-sack Working on this fix, should be pushing up a PR soon!

[2018-01-25 03:00] ReveurGAM commented on #16568
@huyenltnguyen No, please reread what I wrote.  I know why the JS message is there.  This is about the one in the blue bar at the top that I highlighted (grey).

[2018-01-25 04:19] raisedadead commented on #16415
@matthras please reach out to [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors), we will try and get your local setup up.

@anhtran1906 thanks for working on this. Please go ahead with a pull request, and we will guide with further feedback if needed.

Thanks and Happy contributing!

[2018-01-25 04:22] raisedadead commented on #16356
@systimotic got it, thanks for the additional clarification. I am sorry, I haven't looked at all of the ES6 curriculum in depth yet.

But, this does make sense. I think we should update the tests to allow for the import to be anything.

[2018-01-25 05:26] raisedadead commented on #16565
@tchaffee thanks for the report, closing this in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/16565

[2018-01-25 05:29] raisedadead commented on #16568
@ReveurGAM thanks for reporting.

@huyenltnguyen thanks for taking the time for looking at this, just to note we have https://github.com/freeCodeCamp/freeCodeCamp/issues/16250 for the UX confusion.

As for this issue, I am unable to reproduce this as of yet. Any help in the steps to get this, would be appreciated.

[2018-01-25 05:41] #16562 closed

[2018-01-25 05:41] raisedadead commented on #16562
Issue moved to [freeCodeCamp/study-group-directory #61](https://github.com/freeCodeCamp/study-group-directory/issues/61) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-25 08:49] raisedadead commented on #16469
Hi @capozzic1 is this still an issue for you?

[2018-01-25 08:49] #16469 closed

[2018-01-25 10:11] systimotic commented on #16568
@ReveurGAM That's weird 😕 I'm noticing it says there are nine errors in the console, can you show us what those are?

[2018-01-25 10:35] tchaffee commented on #16565
@raisedadead Issue #16250 describes a different problem. My concern is: how does a beginner know whether or not code is safe to execute? The user experience is bad because there is no way a beginner has the information to make that decision.

[2018-01-25 12:44] mriel commented on #7925
I'm having the problem. It usually happens when I do a challenge around 22:00 CST - 24:00 CST. Though I have lost my streak when I have done it on Sunday around 19:00 CST - 20:00 CST. This would also usually happen when I am around a 7 -8 day streak. Not using a VPN. If there is anything I can do more to help please let me know.

![screenshot-2018-1-24 learn to code with free online courses progra

[2018-01-25 13:18] raisedadead commented on #16565
Okay... this means we would need a step challenge, for on boarding.

[2018-01-25 13:18] raisedadead commented on #16565
@QuincyLarson do you have anything in mind?

[2018-01-25 13:28] ReveurGAM commented on #16568
I just got on and went to look at that page (I left the tab open but closed Chrome), and the error has reappeared, but on a different challenge.  Here's a screenshot.  It wasn't there last night.

I'm not sure what you mean by the nine errors....
![image](https://user-images.githubusercontent.com/35181004/35390453-252f3fbc-01a1-11e8-95d7-0b644fbc2dc0.png)

[2018-01-25 13:31] ReveurGAM commented on #16561
A more simplified approach would be:
"The text "link to freecodecamp.org" will be displayed as a link to click.   It is located between the opening and closing tags, and is called "anchor text."

[2018-01-25 14:00] raisedadead commented on #16568
@ReveurGAM can you click the console tab on the Dev tools? If there are errors in red ?

[2018-01-25 14:10] ReveurGAM commented on #16568
@raisedadead @systimotic
There are currently no errors in the console.  I will close the error and check this from a different computer as I must leave, then I will check again when I get home.

[2018-01-25 14:11] tchaffee commented on #16565
Or maybe revisit how we initially provided for this requirement? Is there any risk running code from local storage? I get the warning even when there is no code in the URI, and that seems like an unnecessary warning because that's just my saved work.

I don't know the background for this use case, but I think code in the URI is for sharing? And I'm guessing that's the real security risk?

Maybe we

[2018-01-25 14:49] raisedadead commented on #16565
The requirement is well established. We have had to address several XSS issues on production. The most recent one needed blocking the sharing completely. There are several vectors on how an unsafe code can be executed.

A user for example, could even copy paste code from anywhere, and this could in practice lead to such issues. The current fix does not prevent such a vector, but technically limits

[2018-01-25 14:56] kennethlumalicay commented on #7925
@ApeCogs I used some dummy data but I can't seem to reproduce it.

### timestamps:
[code]
I used 24 and 25 instead 21 and 22 to recreate your "today" and "yesterday".

### result:
![ape](https://user-images.githubusercontent.com/23107862/35394104-ce2d7f1c-01b4-11e8-935f-c6e8b179fbde.png)

@mriel you lost your current streak too? Could you provide a larger screenshot containing the heatmap and stre

[2018-01-25 15:04] raisedadead commented on #7925
Re-opening, because of ongoing discussion

[2018-01-25 15:38] mriel commented on #7925
@kennethlumalicay here is a my screenshot:

![screenshot-2018-1-25 learn to code with free online courses programming projects and interview preparation for developer](https://user-images.githubusercontent.com/3503355/35396583-bbfc523e-01b2-11e8-9c3c-86237071b5ab.png)

Most of the time my previous streaks have been 7-8 days. The next day I will do one lesson at night between 18:00 CST - 22:00 CST.

[2018-01-25 18:22] kennethlumalicay commented on #7925
In here it says you did something on 20.
![mriel](https://user-images.githubusercontent.com/23107862/35399993-a63d153a-01c3-11e8-9611-307a6383c3e7.png)

But in here there's nothing on 20.
![mriel-2](https://user-images.githubusercontent.com/23107862/35399999-aafde482-01c3-11e8-820f-1234f6080b36.png)

So I'm assuming your timestamps are being displayed with the wrong timezone.
[code]
So if you're n

[2018-01-25 18:48] tarun7singh commented on #16522
I have made a PR request to complete this issue.

[2018-01-25 20:08] #16522 closed

[2018-01-25 20:13] #16319 closed

[2018-01-25 20:31] raisedadead commented on #16568
@BerkeleyTrue would you have any idea on this?

[2018-01-25 20:58] BerkeleyTrue commented on #16568
@ReveurGAM Are you signing in by email or social auth?

[2018-01-25 22:44] systimotic commented on #16356
Agreed. I'm not sure if we can make the test allow any input because there is already some other code in the editor that requires a specific name, but if we can't do that, we should at least explicitly state the name required for this challenge in the description.

[2018-01-25 22:58] systimotic commented on #16568
I'm not well versed enough in RxJS and the codebase to really pinpoint the problem, but I did find something interesting. @BerkeleyTrue might be able to make more sense of it.

https://github.com/freeCodeCamp/freeCodeCamp/blob/2fcd9767005579b1f33433032f23012a19121ee7/common/models/User-Credential.js#L53
This line suggests that it possible for `_credentials` to be falsy. `null` just so happens to b

[2018-01-25 23:05] tchaffee commented on #16565
Which one? I understand fetching code from local storage as being *one* of the requirements. That makes sense to me - Campers shouldn't lose code they have started to work on.

Is there another requirement to run code from the URI? I don't know much about that, it just rings a bell from the security issue I saw a few weeks ago.

They seem like two different requirements with two different goals, a

[2018-01-25 23:33] BerkeleyTrue commented on #16568
Yes, nice catch @systimotic there should be an `else` statement there.

[2018-01-25 23:56] ReveurGAM commented on #16568
@BerkeleyTrue Email log-in.  So far, no error...

[2018-01-26 00:39] raisedadead commented on #16565
Thanks for your curiosity, about the architecture of the project. I would definitely like to answer all your queries, but I am afraid, explaining everything on this thread will not be enough or justified.

I understand that you are possibly getting started with this, so I'll try to be as clear as possible, but please do drop your queries if there is something unclear.

So, I'll take this query and

[2018-01-26 00:41] raisedadead commented on #16565
Hope this gives you some context? If not please feel free to add more queries. Happy contributing!

[2018-01-26 02:02] jeremiahfernandezzzz opened #16576 "Profile appears reset, cannot see certificate anywhere after completion"
#### Challenge Name

https://www.freecodecamp.org/jeremiahfernandezzzz

#### Issue Description

I have just completed all the challenges for the Back End Web Development Certification, including the last step which is "Your Back End Development Certificate", but my certificate does not appear on my profile. When i try to access the url where the certificate is supposed to be (freecodecamp.com/jere

[2018-01-26 02:36] anhtran1906 commented on #16414
@raisedadead I could take on this since I already submitted a similar PR at #16575. However, #16417 is also related to this issue and I'd like to fix these 2 issues in 1 commit. Could you advise me on how I could do this? Thank you!

[2018-01-26 02:48] mriel commented on #7925
I just did a challenge. This is what my status is:
01/25/2018 20:41 PM CST Reverse Arrays with .reverse
<img width="823" alt="screen shot 2018-01-25 at 8 46 08 pm" src="https://user-images.githubusercontent.com/3503355/35422975-fc5fabce-0210-11e8-9e27-ccef7648936b.png">
<img width="1165" alt="screen shot 2018-01-25 at 8 44 21 pm" src="https://user-images.githubusercontent.com/3503355/35422978-04b4

[2018-01-26 06:26] raisedadead commented on #16414
Sure, will leave comments on the PR.

[2018-01-26 06:45] raisedadead commented on #16576
Looks like there is a duplicate account accidentally created. @QuincyLarson can you please take a look?

/cc @BerkeleyTrue Is this still a recurring occurence?

[2018-01-26 08:12] ahmadabdolsaheb commented on #16474
@raisedadead @huyenltnguyen @vkWeb, made a PR yesterday. not sure if it gives a notification to the moderators or not :) let's :ship: it

[2018-01-26 11:31] ffahd commented on #13157
Ff

[2018-01-26 11:32] ffahd commented on #13157
Fffd

[2018-01-26 12:24] tchaffee commented on #16565
@raisedadead Your detailed explanation helps a lot. I have some more questions / observations which I hope will lead us to the best short term and long term implementation.

That's the weak point creating the security issues. I'm not saying it's avoidable, but just noting that it's something to brainstorm around in case someone out there has come up with a more secure way of providing the same fun

[2018-01-26 16:34] kgalang opened #16581 "[Beta] On site code editor and page not working when reloading/refreshing react challenge"
#### Challenge Name
React: Use Array.filter() to Dynamically Filter an Array

https://beta.freecodecamp.org/en/challenges/react/use-arrayfilter-to-dynamically-filter-an-array

#### Issue Description

On the above challenge, when you reload or refresh the page, the on site code editor doesn't load and stays on the black shimmering type animation and the formatting of the instructions change. Also,

[2018-01-26 16:55] kgalang commented on #16567
@204070 sure! Especially if you're a first timer, feel free to :)

[2018-01-26 19:54] tchaffee opened #16583 "[Beta] After using the 'reset code' feature, it still finds saved work."
#### Challenge Name
All challenges.

#### Issue Description
1. Change some code in the editing pane. Doesn't matter which challenge.
1. Press the 'Reset your code' button, and agree with the toast by clicking 'CLEAR MY CODE'.
1. Go to another challenge.
1. Return to your original challenge from step 1, and it will present the toast "I found some saved work". It will also change the "Run Tests" but

[2018-01-26 22:41] QuincyLarson commented on #16565
@raisedadead I don't know if you've met @tchaffee before but he's a prolific contributor to freeCodeCamp. He is an experienced developer, and one of the main people behind [our new testable projects](https://github.com/freeCodeCamp/testable-projects-fcc/).

We don't want to add more step challenges. If anything, we want to get rid of the step challenges we have.

This is because [people don't read

[2018-01-26 23:03] raiden357 opened #16584 ""str2 not defined" - es6: declare-a-readonly-variable-with-the-const-keyword"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/es6/declare-a-readonly-variable-with-the-const-keyword

#### Issue Description
the problem occurs because of this line of code(line 9):
`console.log(str2)`.

The console tries to log **str2** but the parameter doesn't exist.

solution: i just removed the 2 and made it **str** and it solves the problem, because it references the correc

[2018-01-26 23:05] QuincyLarson commented on #16576
@jeremiahfernandezzzz There was a duplicate account that was somehow blocking your account. I've deleted it, and it seems to be fixed. @raisedadead I'm not sure what caused these duplicate accounts in the past but we get fewer and fewer issues related to them with time.

[2018-01-26 23:06] #16576 closed

[2018-01-27 04:07] jeremiahfernandezzzz commented on #16576
thanks guys!

[2018-01-27 05:16] pooranp commented on #16567
Hi @kgalang , I'm a beginner and I was wondering if I'm allowed to work on this if it's already been requested by another user. I ask because this issue is still labeled with a 'help wanted' tag.

[2018-01-27 06:43] bqnguyen94 commented on #16554
I will give this a try!

[2018-01-27 14:33] hijazi commented on #13953
I'm facing a couple problems too.
![screenshot from 2018-01-27 16-33-07](https://user-images.githubusercontent.com/733890/35472868-d3a907a0-037f-11e8-8a93-158f3779fbc7.png)
I'm in Amman-Jordan

[2018-01-27 14:34] hijazi commented on #13953
I tried incognito after facing the "SOMETHING WENT WRONG, PLEASE TRY AGAIN LATER" issue on ordinary mode.

[2018-01-27 15:19] momitrahman opened #16587 "[Beta] In Firefox setting page can't align properly with navigation bar."
This alignment problem happen only in setting page. Its happen when browser zoom set in more than 40% and current monitor resolution set in 1920 * 1080 (16:9). But in 40% zoom setting page is harder to read. For more details please check below screenshots.
### Set in 40% zoom
![40 _zoom](https://user-images.githubusercontent.com/11898284/35473253-7731adc4-03a7-11e8-8a93-056c8ad14d4a.png)
### Set i

[2018-01-27 17:25] ukirderohit opened #16588 "(Beta Version) - Add Labels to Scatter Plot Circles"
#### Data Visualization with D3: Add Labels to Scatter Plot Circles

https://beta.freecodecamp.org/en/challenges/data-visualization-with-d3/add-labels-to-scatter-plot-circles

#### Issue Description

When Inspecting the SVG elements the console shows right data but the test fails.
(See ScreenShots)
#### Browser Information

* Google Chrome, Version: 63.0.3239.132 (Official Build) (64-bit
* Operati

[2018-01-27 19:18] ninadingole commented on #16588
The Text needs to be of format `34,<space>70`, but in this case, there is no space after comma. Could you try adding space to the text and run the example again.

[2018-01-27 19:24] ninadingole commented on #16584
I can resolve this issue if anyone approves that the str2 in the seed is not right.

[2018-01-27 22:28] ukirderohit commented on #16588
Yeah It Worked !! Thanks

[2018-01-27 22:28] #16588 closed

[2018-01-27 22:46] raisedadead commented on #16587
Just to confirm, in the 100% zoom, could you try a refresh and check that this is alignment still exists?

[2018-01-27 22:54] raisedadead commented on #16584
In this challenge, we ant these below changes:
https://github.com/freeCodeCamp/freeCodeCamp/blob/0e6feee1381b67efc55ea3682321f077a9d781ba/seed/challenges/02-javascript-algorithms-and-data-structures/es6.json#L127

`str2` to `str`

and
https://github.com/freeCodeCamp/freeCodeCamp/blob/0e6feee1381b67efc55ea3682321f077a9d781ba/seed/challenges/02-javascript-algorithms-and-data-structures/es6.json#L133

[2018-01-27 23:36] momitrahman commented on #16587
Yes it still exists after normal and hard refresh.

[2018-01-28 02:24] ninadingole commented on #16584
Ok I will make the changes and raise a PR, thanks for the confirmation.

[2018-01-28 02:30] ninadingole commented on #16528
@no-stack-dub-sack I will correct these typos I have done similar changes to other challenge.

[2018-01-28 04:27] ninadingole commented on #16561
@ReveurGAM your approach is good, I just want to add a few words to it:
"The text "link to freecodecamp.org" will be displayed as a link which a user can click. It is located between the opening and closing tags, and is called "anchor text."

@ReveurGAM @raalejandre Let me know which approach to take I will do the changes. 🌞

[2018-01-28 05:58] raiden357 commented on #16584
Should I close this issue now ?

[2018-01-28 07:41] anirudh991 opened #16590 "[Beta]Link to Internal Sections of a Page with Anchor Elements"
#### Challenge Name
Link to Internal Sections of a Page with Anchor Elements in Beta version

#### Link to the challenge
https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/link-to-internal-sections-of-a-page-with-anchor-elements

#### Issue Description
I've tried my code locally and it was working right, but not on freecodecamp challenge preview.
![screenshot from 2018-01-28 13-10-06

[2018-01-28 07:48] #16584 closed

[2018-01-28 08:26] ninadingole commented on #16590
@anirudh991 You have to change your anchor tag Text to `Jump to Bottom` it will work.

[2018-01-28 08:52] Bouncey commented on #16587
Thanks for the issue @momitrahman

This has already been addressed in a current PR #16412

Happy coding!

[2018-01-28 10:54] raisedadead commented on #16590
@anirudh991 can you elaborate, also please confirm with the forum and/or chat others are facing this?

[2018-01-28 12:07] #16567 closed

[2018-01-28 13:11] anirudh991 commented on #16590
Ah I was such a Idiot, Thanks @ninadingole I've corrected it

[2018-01-28 13:11] #16590 closed

[2018-01-28 15:00] ReveurGAM commented on #16561
Either is fine with me.

[2018-01-28 16:25] ninadingole commented on #16561
@ReveurGAM @raisedadead I will proceed with the changes.

[2018-01-29 10:11] YashasSamaga opened #16591 "red crosses wrongly marked for tests"
#### Compound Assignment With Augmented Subtraction
https://www.freecodecamp.org/challenges/compound-assignment-with-augmented-subtraction

Also happens in: https://www.freecodecamp.org/challenges/compound-assignment-with-augmented-addition

#### Issue Description
The challenge is completed and the success window (visible in the attached screenshot) does show up. However, the list of tasks in the

[2018-01-29 10:41] Bouncey commented on #16238
Once #16412 is merged I can add this functionality

[2018-01-29 12:51] jkao1 commented on #16581
Alright if I open a PR to this?

[2018-01-29 13:04] tchaffee commented on #16565
I think the existing button text could work if you also show a link under the button along the lines of "Why is my code locked?". Just a suggestion.

Also, I can try to take on this issue if no one else has time for it. I would need some help with someone pointing me to all the relevant code. But if there is someone more qualified and willing then for sure let them take this issue.

[2018-01-29 15:53] #16583 closed

[2018-01-29 16:03] #16334 closed

[2018-01-29 16:05] QuincyLarson opened #16596 "Fix Back end challenge completed modal"
On the back end challenges, make sure a modal pops up and that the user is not advanced to the next challenge until the user clicks the "go to next challenge" button in the modal.

[2018-01-29 16:11] #16524 closed

[2018-01-29 16:37] QuincyLarson opened #16597 "Resequence bio edit fields"
![cursor_and_settings___freecodecamp](https://user-images.githubusercontent.com/985197/35521859-6f87c402-04e0-11e8-9c97-8e9bb3ad2f18.png)

[2018-01-29 16:48] QuincyLarson opened #16598 "Report user button"
As a user, if I'm authenticated and viewing someone else's profile, I should be able to report them by clicking a "report user profile" button.

[2018-01-29 16:55] QuincyLarson opened #16599 "Update email settings"
![cursor_and_settings___freecodecamp](https://user-images.githubusercontent.com/985197/35522814-f3e3426a-04e2-11e8-8e64-7c5ec2b7c954.png)

[2018-01-29 17:03] QuincyLarson opened #16600 "Remove "available for hire" section of settings"

[2018-01-29 17:26] #16517 closed

[2018-01-29 17:48] ninadingole commented on #16599
I have the lastest pull of `staging` branch, however, I still don't see the first "Allow people to send me email" option. Otherwise, I could try working on this change.

[2018-01-29 18:44] vbelolapotkov commented on #16248
@BerkeleyTrue I've added a solution for setting map scroll to PR as well.

[2018-01-29 19:00] Bouncey commented on #16599
@ninadingole this issue as raised as part of a PR review. I should have added the in progress label sooner

Sorry for the confusion

[2018-01-29 22:02] Pinoy2400 opened #16601 "Understanding Case Sensitivity in Variables"
<img width="1240" alt="skaermbillede 2018-01-29 kl 23 02 03" src="https://user-images.githubusercontent.com/31646338/35536871-74863106-0548-11e8-85ad-26906482bec1.png">

Please help, what is missing here? I can't understand this..

[2018-01-30 00:09] kodster28 opened #16602 "Access an Array's Contents: Correct Answer, but Error so not Scoring"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/basic-data-structures/access-an-arrays-contents-using-bracket-notation

#### Issue Description

Input any correct answer into the coding pane (true, 'c', 7) and the system will pass me through to the next challenge and give a green check, but then say, "Something went wrong, please try again later.' No credit is given.

#### Browser

[2018-01-30 00:22] bennett-elder commented on #16601
camelCase is used on line 10 but PascalCase is used on line 5. In case-sensitive languages like JavaScript that makes them different variables. Try resetting the code to start from the beginning and make the tests pass one at a time. You got this.

A better area to get more help with exercises like that is the [Help with JavaScript](https://gitter.im/FreeCodeCamp/HelpJavaScript) gitter chatroom. T

[2018-01-30 00:40] bennett-elder commented on #16504
@vkWeb As long as it's centered better than in the screenshot, the proposed /map page would look very similar to the way freecodecamp.org/map looks now. Not too awkward....

Has there been a thread discussing the lack of visual cues in the new map as compared to the old one? The new map lacks the difference in font-size and the shaded background that helps distinguish the different levels of hiera

[2018-01-30 03:19] #16529 closed

[2018-01-30 03:37] QuincyLarson commented on #13953
@BerkeleyTrue It seems to be mostly affecting campers in the Middle East and Africa: Amman-Jordan, Nigeria, Cameroon, and Ghana. Any idea what could be causing this?

[2018-01-30 03:42] QuincyLarson commented on #16565
@tchaffee That would be great! Rather than have a link we just need to figure out a succinct way to explain it in as few words as possible, even if the button is two lines long. "I trust this code. Unlock it."

Again, we only want this button to show up when the code is not the camper's.

[2018-01-30 04:52] vkWeb commented on #16504
@bennett-elder

Ya, If we center the map and make some UI adjustments, we can make it look better.

Yes - I raised an issue about this a while ago that we should implement the map functionality as we have in production. In production's map, we have a 'collapse all' button, we can search challenges and the curriculum is divided into different sections and UI looks better there.

[2018-01-30 05:04] jurajmajerik opened #16604 "Install and Set Up Mongoose: typo in the test script"
#### Challenge: Install and Set Up Mongoose
https://beta.freecodecamp.org/en/challenges/mongodb-and-mongoose/install-and-set-up-mongoose

#### Issue Description
There is a typo in the testing script which checks for a presence of mongoose package within package.json file. It is asking for 'mongooose' instead of 'mongoose'. This is causing the test to fail.

[code]

[2018-01-30 05:30] #16474 closed

[2018-01-30 05:39] #16414 closed

[2018-01-30 05:39] #16415 closed

[2018-01-30 05:39] #16417 closed

[2018-01-30 05:39] #16419 closed

[2018-01-30 05:39] #16420 closed

[2018-01-30 05:39] #16422 closed

[2018-01-30 05:39] #16423 closed

[2018-01-30 05:39] #16424 closed

[2018-01-30 05:43] raisedadead commented on #16604
Nice catch @jurajmajerik !

To first timers:

This line needs to be updated:

https://github.com/freeCodeCamp/freeCodeCamp/blob/4346de64f3b82e447030d1108f8213ec5b1ee422/seed/challenges/05-apis-and-microservices/mongodb-and-mongoose.json#L83

Here are our [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) and we hangout in [Contributors Chat roo

[2018-01-30 05:48] raisedadead commented on #16602
I am unable to reproduce this, strangely. The error about "Something went wrong..." could be unrelated to the challenge itself.

Can you please take a screenshot of your DevTools console?
On Chrome, press <kbd>F12</kbd>, switch to the Console tab on the DevTools panel, see if there are errors in red?

[2018-01-30 05:52] raisedadead commented on #16601
Hi @Pinoy2400

Thanks for reporting this issue.

Here are some next steps that you should follow before we can help you with your query:
- Check [these troubleshooting steps](https://forum.freecodecamp.com/t/how-to-report-a-bug/19543) first.
- Please use the [Chat Rooms](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390) or try looking through our [forum](http://forum.freec

[2018-01-30 05:52] #16601 closed

[2018-01-30 05:57] raisedadead commented on #16591
Hi @YashasSamaga thanks for reporting, I am unable to reproduce as well. This can happen occasionally and usually [these troubleshooting steps](https://forum.freecodecamp.com/t/how-to-report-a-bug/19543) solve the problem.

I'll close this, for now. However, if you still face such issues, and the troubleshooting doesn't solve the problem, please open a fresh issue.

Happy Coding!

[2018-01-30 05:57] #16591 closed

[2018-01-30 06:01] ninadingole commented on #16604
I will work on this @raisedadead 😄

[2018-01-30 06:52] raisedadead commented on #16604
@ninadingole Thanks for your interest, however we are keeping this for first timers. if you do not mind there are a ton of other issues, where we could use help.

[2018-01-30 07:19] jurajmajerik commented on #16604
@raisedadead  @ninadingole I will take over this then. :)

[2018-01-30 08:27] ninadingole commented on #16604
no problem @raisedadead cool.

[2018-01-30 08:52] SarahCrowe opened #16607 "'Add my LinkedIn to my profile' button not working"
Hello. I am having trouble adding my LinkedIn to my FreeCodeCamp profile. When I click on the ‘Add my LinkedIn to my profile’ button I get taken to the most recent challenge that I was working on. When I go back to my profile page on FCC, the add LinkedIn button is still there and my LinkedIn has not been added. Please can someone help? Thanks

[2018-01-30 09:06] Asjas commented on #16607
Hi @SarahCrowe

This seems to have been reported in issue #16273 and #14652. Currently it is in the process of being removed in favour of just having campers paste in the link to their LinkedIn and Twitter profiles manually.

[2018-01-30 09:19] SarahCrowe commented on #16607
Thanks @Asjas

[2018-01-30 09:20] #16607 closed

[2018-01-30 09:51] ahmadabdolsaheb commented on #16516
@huyenltnguyen @nicandromts @zandthecoder @raisedadead  i have been surprised a lot with what the users can do. adding a comment to show where the user needs to insert the code would be a good compromise. in either case, I would be happy to redo the test or add the comment. please let me know what you think.

[2018-01-30 11:58] raisedadead commented on #16516
Actually we need both of the things:

1. Add a hint where the code goes like @ahmadabdolsaheb has intended
![image](https://user-images.githubusercontent.com/1884376/35565208-9caa5f14-05e2-11e8-8eeb-c01399382b92.png)

2. We still need the tests to be allowing, the CSS properties to be in a different order, because its still valid and should be acceptable.

[2018-01-30 11:58] raisedadead commented on #16516
This is just to make this friendly for anyone and everyone.

[2018-01-30 13:40] kodster28 commented on #16602
Oh, that is so weird!

It fixed itself today. So I guess I'm unable to reproduce the error as well?

Thank you for the prompt response!

On Mon, Jan 29, 2018 at 11:51 PM, mrugesh mohapatra <
notifications@github.com> wrote:

[2018-01-30 14:01] bennett-elder commented on #16504
I'm thinking something like this that uses font family, font size, font style, and a bit of graphics and color to make the map sections more distinct.

![quick-sidemap-a11y-mockup](https://user-images.githubusercontent.com/13042179/35569879-747206a6-059b-11e8-96f6-4d210ebc9347.png)

[2018-01-30 16:14] sakshamjain1398 commented on #16604
is this issue open to work on?

[2018-01-30 16:38] vkWeb commented on #16504
@bennett-elder The different levels of font-size looks great 👍 but I don't think we should apply different font-families to the different hierarchical levels of our map. Also, adding icons isn't a good idea.

[2018-01-30 16:48] raisedadead commented on #16602
Great, thanks for letting us know. Please open a fresh issue if you get this in future.

[2018-01-30 16:48] #16602 closed

[2018-01-30 17:08] raisedadead commented on #16565
I'll add a PR to update the label and close the other issue https://github.com/freeCodeCamp/freeCodeCamp/issues/16250

[2018-01-30 19:04] ninadingole commented on #16470
@raisedadead can I work on this issue ?

[2018-01-30 19:10] vaheed-sediqi commented on #3634
https://www.freecodecamp.org/vaheed-sediqi/front-end-certification

[2018-01-30 19:46] vaheed-sediqi commented on #3654
same problem here
https://www.freecodecamp.org/vaheed-sediqi/front-end-certification

[2018-01-30 19:46] raisedadead commented on #16470
@ninadingole Sure! look forward to a PR.

Happy contributing!

[2018-01-30 20:02] sgrayme commented on #7925
I observed how challenges are recorded during the last week and basically saw challenge dates and streak are going by UTC and the heatmap is using EST. This means I and other people in CST need to do challenges before 6pm to be counted for the same day on all the parts. And if I do challenges in the morning one day and in the evening on the next, goodbye streak.

Just a thought, the language learn

[2018-01-30 20:05] #16561 closed

[2018-01-30 23:42] #16280 closed

[2018-01-30 23:42] #16282 closed

[2018-01-30 23:55] HasanSakr commented on #6705
my linkedin account can't be added to my profile
any help?

[2018-01-31 00:03] HasanSakr opened #16610 "Can't add Google+ account to my profile"
I've got an account on your site and I've successfully added GitHub, Twitter and Linkedin to my profile, but it seems that the G+ account not found in my profile settings!

[2018-01-31 02:14] #16250 closed

[2018-01-31 07:30] #16483 closed

[2018-01-31 08:24] ahmadabdolsaheb commented on #16516
I'm on it

[2018-01-31 09:43] Bouncey commented on #16610
@HasanSakr Thanks for the issue. Are you maybe talking about signing in with google? I don't remember having G+ account linking feature.

[2018-01-31 12:22] HasanSakr commented on #16610
I mean that some profiles linked are linked to Facebook and Google plus.
Maybe the feature of adding Facebook and G+ to FCC account have been
removed.
Thank you Stuart

On Jan 31, 2018 11:47 AM, "Stuart Taylor" <notifications@github.com> wrote:

@HasanSakr <https://github.com/hasansakr> Thanks for the issue. Are you
maybe talking about signing in with google? I don't remember having G+
account lin

[2018-01-31 14:01] vkWeb opened #16613 "[Beta] 'Email-us' button in settings has the old 'team@freeCodeCamp.com' Email-ID"
### Issue Description
The Settings page has the old `team@freeCodeCamp.com` email address in the `email-us` button. I think it should be updated to `team@freeCodeCamp.org`.
@raisedadead Your thoughts on this?
![issue](https://user-images.githubusercontent.com/26724128/35627094-dc2dae58-06bd-11e8-8e4d-404b4f9a9d08.PNG)

### Browser Information

* Browser Name, Version: Chrome and Firefox (latest re

[2018-01-31 14:02] joao-neves95 opened #16614 "deleted"
deleted

[2018-01-31 14:14] vkWeb commented on #16327
@QuincyLarson I tried looking into this but I'm unable to find the bug that's causing this. By the way, I don't think this will create any problem for our campers. Also, the react & redux challenges are kinda very sensitive right now. So, maybe we should skip this.

[2018-01-31 16:33] chethanbhat commented on #13953
I am from India, and facing similar issue.  https://github.com/freeCodeCamp/freeCodeCamp/issues/16468

I had a doubt. Does slow internet connection cause this? Looks like most the country mentioned here have slower internet than north america or europe.

[2018-01-31 17:09] raisedadead commented on #16613
The button is actually to be removed completely.

[2018-01-31 17:30] gracemgately commented on #16613
Hi! I'd like to work on this issue. I was looking at the code and the href attribute doesn't seem to be working (maybe it was supposed to be a `mailto`?) -- I just want to make sure this is intentional and that it should all be removed regardless.

[2018-01-31 17:45] raisedadead commented on #16613
Yes, this button is to be removed completely

[2018-02-01 07:17] vkWeb commented on #16613
Great.

[2018-02-01 08:17] iabrenne commented on #15908
I would like to give this one a try, if that's OK? Also, it looks like something may have changed since this issue was created, as navigating to https://beta.freecodecamp.org/en/challenges/basic-css/ or https://beta.freecodecamp.org/en/challenges/basic-javascript gets to the "404 Oops we couldn't find that page error".

[2018-02-01 10:37] aniveshpandey opened #16618 "Navigation Switching Bug"
#### Issue Description

The camper profile page can be opened by clicking on the top-right corner in the navigation bar.
While switching from camper profile page back to the challenges page by clicking on the freeCodeCamp.org logo on the left of the navigation bar, the next challenge opens up even if the previous challenge is not solved.

#### Browser Information

* Browser Name, Version: Google C

[2018-02-01 11:50] #16613 closed

[2018-02-01 15:05] Bouncey opened #16619 "Declare a Read-Only Variable with the const Keyword has an issue"
The instructions on this challenge don't tie up with the tests.

One test asserts that the word `sentence` in all caps, but other tests are looking for a declaration of `str2`.

`str2` is not mentioned in the instructions.

There is a note saying that using all caps for `const` declarations is a common practise, this can be removed.

[2018-02-01 15:23] vkWeb commented on #16619
@Bouncey I think you forgot to put the challenge's link. Please update this issue.

[2018-02-01 15:28] vkWeb commented on #16618
@aniveshpandey Nice find 😄. This is a very critical. We need to fix this.
@raisedadead Bug confirmed.

[2018-02-01 16:22] #16619 closed

[2018-02-01 22:03] LiteSoul commented on #16468
The issue still persists! So it should be an open issue

[2018-02-01 22:08] LiteSoul commented on #16433
The issue is quite easy to replicate, just go to any Beta challenge, put some code so it PASSES the test, and you will see you get stuck. Unable to go to next challenge or drop-down the menus

[2018-02-01 22:15] tchaffee opened #16620 "Codepen Random Quote machine does not work anymore"
The Random Quote Machine Codepen example doesn't work any more.

https://codepen.io/freeCodeCamp/pen/qRZeGZ

It looks like all the JavaScript in the CodePen was deleted.

The CodePen was recently updated and was working, so this must have been done in the last few weeks. The only backup we have is the older version which gets quotes from an API. Is there any way to have CodePen restore the most re

[2018-02-01 22:19] tchaffee commented on #16565
Not sure where this leaves my offer to implement the new behavior. I can try to implement blocking only non-user code, but it seems like now is not the right time? Can someone please clarify?

[2018-02-01 22:20] LiteSoul commented on #13953
I'm in South America and this exact issue started appearing a couple of weeks ago. I would say this bug is quite big since you are literally stuck and can't do anything.
In my case is when I complete a challenge, run the test, passes, and can't go to next one (Ctrl+Enter). And the drop-down map menu is not working (can't manually click on some other challenge)

![beta](https://user-images.githubus

[2018-02-01 22:59] #16614 closed

[2018-02-02 05:55] raisedadead commented on #16565
I'll have to double check, how this works to give you very specific guideline on what is to be done, meanwhile I'll tag @BerkeleyTrue for his inputs.

[2018-02-02 06:11] Asjas commented on #16468
@LiteSoul Both issues are open. No-one has closed either issue

[2018-02-02 06:24] raisedadead commented on #16618
Unfortunately this is by design on the production. You can check that if you are on any page, the click on logo would take you to "next-challenge".

I agree its a inconvenience, but not a bug.

We have fixed this in beta, to be "current-challenge". Closing as we are only fixing work stoppers on production while we focus on beta.

[2018-02-02 06:24] #16618 closed

[2018-02-02 06:26] raisedadead commented on #16433
Hi @LiteSoul yes, thanks we need help in finding the root cause of the issue.

[2018-02-02 06:38] raisedadead commented on #16620
Hi @tchaffee I can update this pen, can you fork/share a working copy?

[2018-02-02 06:41] raisedadead commented on #16610
Yes, we are deprecating all social logins. And with beta, you will be able to add a profile, as you with just the link to your profile.

As for sign in, make sure you have your email updated with us. We will use that by default for sign in, etc.

Thanks.

[2018-02-02 06:41] #16610 closed

[2018-02-02 07:19] justinemar commented on #16620
Here's the cached page of the pen.

[google cached](https://webcache.googleusercontent.com/search?q=cache:dRAKeWMDmO8J:https://codepen.io/freeCodeCamp/pen/qRZeGZ+&cd=1&hl=en&ct=clnk&gl=ph)

[2018-02-02 08:46] raisedadead commented on #16620
Fixed.

@justinemar thanks a lot for sharing this.

[2018-02-02 12:43] tchaffee commented on #16620
The restored js is actually an older version. I recently updated the CodePen to use data from our own gist since the API was slow and breaking our tests. See https://github.com/freeCodeCamp/testable-projects-fcc/issues/218. Can you please re-open this issue and I will make those changes again, from memory.

Going forward, any ideas on how we can backup these pens in case the code gets clobbered ag

[2018-02-02 12:55] raisedadead commented on #16620
Well one way would be to create a curriculum directory and Pen sub-directories on the testable project repo. The Pen sub-directories can have 3 files for the Pen.

This way it will be version controlled?

[2018-02-02 12:57] raisedadead commented on #16620
Although, we are working towards being able to do this ourselves, on beta, as you maybe aware. So if its worth investing the effort is a real question.

I am okay with the versioning on GitHub though. Gists are a bit tedious to manage.

[2018-02-02 13:47] zk433 opened #16622 "Debugging challenges don't mark as completed"
#### Challenge Name

[Debugging](https://beta.freecodecamp.org/en/challenges/debugging/introduction-to-the-debugging-challenges)

#### Issue Description

The first two challenges (Introduction to Debugging Challenges and Use the JavaScript Console to Check the Value of a Variable) don't mark as 'done' upon completing.

#### Browser Information

* Browser Name, Version: Chrome, version 63.0.3239.13

[2018-02-02 14:37] Asjas commented on #16622
Hi @zk433.

Thank you for reporting this.

I just confirmed by testing this on `beta.freecodecamp.org` and mine doesn't mark the challenge as done either.

[2018-02-02 14:39] Asjas commented on #16622
I tested this locally and it seems to be marking the challenge as done. I wonder if it was patched in a PR and hasn't been pushed to prod yet. One of the freecodecamp team will know if it has been fixed.

[2018-02-02 14:41] tchaffee commented on #16620
For the time being I will create sub-directories in the testable project repo. Thanks for the suggestion.

[2018-02-02 20:28] raisedadead commented on #16622
Strange it works for me:

![image](https://user-images.githubusercontent.com/1884376/35753407-a599e054-0885-11e8-8851-b23cff16fe6a.png)

[2018-02-02 20:28] raisedadead commented on #16622
Could be a Windows specific issue?

[2018-02-03 03:06] damontian1 commented on #16327
@QuincyLarson I think [this](https://github.com/freeCodeCamp/freeCodeCamp/pull/16625) should fix it?

[2018-02-03 04:18] huyenltnguyen commented on #16622
I'm able to reproduce this issue on both live and local versions. It occurs when user is not logged in, and it's not just for the Debugging section but for the entire curriculum. Could this have something to do with localStorage or something like that?

[2018-02-03 05:46] QuincyLarson commented on #16565
@raisedadead Yes - I agree with you. Doing so is important and will save thousands of campers their sanity.

I've moved this to the "critical path" on our beta release Kanban: https://github.com/freeCodeCamp/freecodecamp/projects/1?fullscreen=true

[2018-02-03 05:50] QuincyLarson commented on #15908
@iabrenne Yes - that would great! We would welcome your help with this.

To answer your question, I don't think the https://beta.freecodecamp.org/en/challenges/basic-css/ URL ever worked. It was giving a 404 when we created this issue. Enabling that sort of URL pattern will address this issue :)

[2018-02-03 05:55] QuincyLarson commented on #16504
@bennett-elder I agree with @vkWeb - we want to keep everything Lato. We could potentially change the font size to give the map a more clear hierarchy.

As for items, we'd want to use .svg files and have them be monochromatic, like the ones located on our landing page:

![learn_to_code_and_help_nonprofits___freecodecamp](https://user-images.githubusercontent.com/985197/35763553-78e16070-0874-11e8-

[2018-02-03 07:52] zk433 commented on #16622
I am logged in when I have the issue.
@raisedadead it's possible, I have Windows. @Asjas , @huyenltnguyen , what OS are you using?

[2018-02-03 08:39] akhil070 commented on #16599
Good

[2018-02-03 08:56] vkWeb commented on #16327
@damontian1 That's great.

[2018-02-03 12:44] arielcamus opened #16628 "[Beta] Map view doesn't expand when accessing through a deep link"
#### Issue Description
When I click on a deep link (e.g. link to first challenge in Regular Expressions section), the website loads the corresponding challenge, but the map on the sidebar doesn't expand to show the corresponding challenge.

To replicate the issue just click on the following link:
https://beta.freecodecamp.org/en/challenges/regular-expressions/introduction-to-the-regular-expression

[2018-02-03 13:48] ahmadabdolsaheb commented on #16516
@raisedadead done.

[2018-02-03 13:55] raisedadead commented on #16628
Hi,

Thanks for reporting.

Could you try and post the screenshot of your DevTools? On a Chrome browser, on Mac you can do with <kbd>⌘</kbd> + <kbd>⌥</kbd> + <kbd>I</kbd>.

On the Dev tools widow, switch to the console tab, and see if errors are reported in red.

You can drag drop images, here in the comment box directly.

[2018-02-03 14:43] iabrenne commented on #15908
@QuincyLarson - yes, I will give this one a try!

[2018-02-03 17:18] huyenltnguyen commented on #16622
@zk433 I'm on Windows too.
I just did a quick check on the official FCC, the completed challenges don't get marked if I'm not signed in. So this is by design then, which means... nope, I can't reproduce it.

[2018-02-03 17:24] vkWeb commented on #16628
@raisedadead This seems like a duplicate of issue #16248 and PR #16531 will close the issue.

[2018-02-03 17:25] Getachew-Mulat commented on #7713
Not working... here is the screenshot...
![not working](https://user-images.githubusercontent.com/19872729/35769717-51fd3cf2-0920-11e8-99d0-22245d4840aa.PNG)

[2018-02-03 19:36] tchaffee commented on #16620
I found the most recent code for this in my own fork of the pen. It's fixed now in the official version. I will open an issue in the testable projects repo to back up all the source for all the CodePens.

[2018-02-03 19:36] #16620 closed

[2018-02-03 21:12] antonshevyrin opened #16629 "[Beta] Solution doesn't pass for challenge "React: Use Advanced JavaScript in React Render Method""
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/react/use-advanced-javascript-in-react-render-method

#### Issue Description

Correct solution doesn't pass. Maybe I am missing something but code does exactly what is asked in challenge description but last test doesn't pass.
"When text is entered into the input element and the button is clicked, the MagicEightBall component should

[2018-02-03 22:35] jkao1 commented on #16629
You have the correct solution. This should be an error with the challenge tests. I've reproduced this both in production and locally, on staging.

I will start working on a fix—the PR should be opened tomorrow.

[2018-02-04 05:40] bqnguyen94 commented on #16629
I found the bug. Can I submit a PR?

[2018-02-04 07:51] gareth-d85 opened #16632 "issue with viewing settings on firefox browser"
#### Issue Description
When I click on the setting button the page looks blank but if you scroll to the right the setting are there.
I tested in my chrome browser and the issue id not happen

#### Browser Information

* Browser Name, Version: Firefox dev edition, 59.0b6 (64-bit)
* Operating System: Windows 10
* Mobile, Desktop, or Tablet:

[code]

[2018-02-04 07:51] gareth-d85 commented on #16632
setting page bug

[2018-02-04 08:06] oluwatomigbekele commented on #16091
Hi! I'm  having he same problem.

[2018-02-04 10:27] jkao1 commented on #16632
Yeah...I get this on Firefox Dev Edition and Firefox. I've tracked down the bug and will open a PR soon.

[2018-02-04 10:44] jkao1 commented on #16629
@bqnguyen94 customarily, you would give the original responder a day or two to propose his/her solution. I had made my intentions clear in my previous comment.

Nevertheless, @maintainers, I've tested his solution locally and it works well.

[2018-02-04 10:45] gareth-d85 commented on #16632
Is it a simple fix?

[2018-02-04 10:55] jkao1 commented on #16632
I wish I could say yes, but since the CSS in freeCodeCamp is not scoped, any simple changes require a great amount of testing.

[2018-02-04 12:20] Asjas commented on #16622
I tested this on Windows 10 and Linux Mint. Neither completes the challenges for me.

[2018-02-04 13:17] cairotx opened #16634 "cant get the background image to work with (section.main aside.content.trending) it wont show"
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Creating a Responsive Web Design</title>
<link rel="stylesheet" type="text/css" media="screen" href="css/screen.css">
</head>
<body>
<div id="page">
  <header> <a class="logo" title="myLogo" href="http://codifydesign.com" ><sp

[2018-02-04 13:20] cairotx commented on #16632
I would uninstall firefox and reinstall clean version

[2018-02-04 13:58] clickingmouse opened #16635 "https://www.freecodecamp.org/challenges/no-repeats-please - not registering return value"
#### Challenge Name

#### Issue Description

it seems to not work, the auto check is not registering the return output from file... it registers if I hard code "return 2" and the auto check will register the 2, but it does not register any thing else such as return "Arr.length" or "return Arr[x]"

#### Browser Information

* Browser Name, Version:
Chrome Version 64.0.3282.119 (Official Build) (64-

[2018-02-04 14:55] antonshevyrin opened #16636 "[Beta] Solution doesn't pass for challenge "React: Use a Ternary Expression for Conditional Rendering""
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/react/use-a-ternary-expression-for-conditional-rendering

#### Issue Description

Correct solution doesn't pass. Behavior of "Preview" page matches challenge description but these tests don't pass:

- When a number of less than 18 is entered into the input element and the button is clicked, the button's inner text should read You Sha

[2018-02-04 15:37] lozadaOmr opened #16637 "Arguments Optional tests area missing"
#### Challenge Name

https://www.freecodecamp.org/challenges/arguments-optional

#### Issue Description

When the code to call the function is  `addTogether(2)([3]);` which raises `TypeError: addTogether(...) is not a function`.
If I refresh the browser or resume the challenge for later the tests area is not visible.
A valid input will make tests area visible again.

Tested by starting the challen

[2018-02-04 18:19] jkao1 commented on #16636
`this.state.input` is a string, and you cannot compare it to the integer 18.

In JavaScript, strings are compared lexicographically (you can think of this as a fancier version of alphabetical ordering, the difference being that alphabetic ordering only covers the 26 characters a through z). Here are a few examples:
[code]

[2018-02-04 18:54] jkao1 commented on #16636
I'll take a look at the tests and open a PR.

[2018-02-04 18:57] jpdail01 commented on #16473
I'd like to take a shot at this one

[2018-02-04 19:20] jkao1 commented on #16636
I've opened a pull request to fix these tests.

[2018-02-04 19:41] antonshevyrin commented on #16636
@jkao1 thanks for explaining and for fixing :+1:

[2018-02-04 19:43] jkao1 commented on #16636
@antonshevyrin anytime :smiley:

[2018-02-04 20:12] jkao1 commented on #16637
+1

[2018-02-04 20:52] gareth-d85 commented on #16632
I have tried uninstalling firefox but still no change.

[2018-02-04 22:04] mstellaluna opened #16640 "FCC Forum is down - Internal Server 500 error"
#### Challenge Name

#### Issue Description
freecodecamp forums are currently down.
receiving reports from users in chat
verified I am unable to access the forums

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

![image](https://user-images.githubusercontent.com/22984739/35782887-497f742a-09cd-11e8-8802-b

[2018-02-04 22:13] mstellaluna commented on #16640
@QuincyLarson @BerkeleyTrue

[2018-02-04 22:21] systimotic commented on #16640
/cc @m-henderson

[2018-02-04 22:58] BerkeleyTrue commented on #16640
Thanks for reporting @mstellaluna . I've pinged @QuincyLarson.

[2018-02-04 23:00] BerkeleyTrue commented on #16640
@QuincyLarson is aware and contacting discourse team.

[2018-02-04 23:26] BerkeleyTrue commented on #16640
discourse is working on getting the server up and running again.

[2018-02-05 01:11] BerkeleyTrue commented on #16640
We're back up!

Happy Coding!

[2018-02-05 01:11] #16640 closed

[2018-02-05 01:20] m-henderson commented on #16640
good deal (:

[2018-02-05 02:22] mstellaluna commented on #16640
Thank you !! :)

[2018-02-05 02:31] arielcamus commented on #16628
@vkWeb you are totally right. Glad to hear someone is working on fixing that already.

[2018-02-05 02:31] #16628 closed

[2018-02-05 07:00] raisedadead commented on #16629
Hey @antonshevyrin @jkao1 @bqnguyen94 !

Thanks guys, for pitching in and reporting and fixing this. Sorry about the delay, we will review and merge soon.

Happy coding!

[2018-02-05 07:02] raisedadead commented on #16634
Hi there please submit a fresh issue using the issue template presented to you will creating one.

[2018-02-05 07:02] #16634 closed

[2018-02-05 07:04] raisedadead commented on #16636
Hi guys, thanks for taking the time to report and fix, we will get this reviewed soon.

Happy contributing!

[2018-02-05 07:07] raisedadead commented on #16637
This is kind of due to the limitation on the challenge infrastructure in the production, while its agreed that the UX is due to the code being incorrect in the editor, it still should not happen.

We have moved to better platform on the beta. Until then this will remain as a limitation.
I'll let other's pitch in if we do need to investigate and fix this in productions?

/cc @freeCodeCamp/moderator

[2018-02-05 12:13] otarza opened #16642 "Redesign docker environment"
#### Issue Description

[docker-compose.yml](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/docker-compose.yml) is outdated, leading to broken installation of the project.

As discussed with @systimotic in Gitter room, I'll build relevant development environment for the project.

## Tasks to do:

- [x] Rename `docker-compose.yml` to `sample.docker-compose.yml` and add` docker-compose.ym

[2018-02-05 12:24] raisedadead commented on #16642
Thanks for the interest, and great to see that you are working on it, but that said please see https://github.com/freeCodeCamp/freeCodeCamp/issues/16226#issuecomment-353078476 while you work on this, for some of the criteria that we would like to be followed.

Happy contributing!

[2018-02-05 13:04] otarza commented on #16642
Hi @raisedadead,

Thanks for the info.

I don't expect any code changes for this issue, here is what I will need to change:

1. Rename `docker-compose.yml` to `sample.docker-compose.yml`;
2. Add `docker-compose.yml` to `.gitignore`;
3. Add a small sub-section in [CONTRIBUTING.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) describing docker installation steps.

There

[2018-02-05 13:36] zk433 opened #16643 "'Use strict' explanation missing"
#### Issue Description

In the ES6 challenges, there is  `"use strict"` included in the code. However, there is no explanation of its meaning or what it does anywhere.

I'd suggest a few sentences about 'use strict' should be included at the beginning of the section.

[2018-02-05 13:37] raisedadead commented on #16642
Perfect. Thanks a lot for taking this up.

[2018-02-05 13:55] ahmadabdolsaheb commented on #16448
@Facundo-Corradini, wha source do you have in mind for text-level semantics?

[2018-02-05 16:39] cairotx opened #16644 "cant get the image to show on the main nav"
I was watching tutorial about this project then when tried to add .svg image into the nav it didnt show in the browser.

#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

#### Screenshot

![screen shot 2018-02-05 at 10 32 20 am](https://user-images.githubusercontent.com/30858063

[2018-02-05 17:15] jkao1 commented on #16643
I'll open a PR later today proposing a short explanation; hopefully it will run well with the moderators.

### For those with the same issue
In short, `"use strict"` enables the "strict" mode. This mode catches common coding bloopers and "unsafe" actions (such as access to the global object).
[code]
If you want a more in-depth explanation you should read [John Resig's article](https://johnresig.co

[2018-02-05 17:35] JazzBrotha commented on #15639
Any progress on this? Otherwise, I can give it a stab.

[2018-02-05 17:45] JimHomme commented on #15639
Hi,
None that I am aware of. I can tell you the screen reader symptoms if you want. I definitely can’t tell you how to fix it yet. I’m just learning about using objects for lookups instead of switch statements. 😊

Thanks.

Jim

==========
Jim Homme
Team Lead
Digital Accessibility Group
Bender Consulting Services
412-787-8567
https://www.benderconsult.com/our%20services/hightest-accessible-technolo

[2018-02-05 17:52] JazzBrotha commented on #15639
@jhomme Yes, that would be great thanks!

[2018-02-05 17:57] JimHomme commented on #15639
Hi,
If you would like me to walk you through what is happening, I can do this later this evening US Eastern Time, if you have a Skype ID, you can send it to me privately and we can talk, or if you are in the US, we can talk on the phone.

Thanks.

Jim

==========
Jim Homme
Team Lead
Digital Accessibility Group
Bender Consulting Services
412-787-8567
https://www.benderconsult.com/our%20services/hig

[2018-02-05 18:08] kdesCode commented on #13953
Good Day
Have similar issues. From South Africa.
Interestingly when on a 4Mbps connection i have the issue. When using 3G around 10Mbps dont have the issue.
Needs to work on lower bandwidth to reach areas that dont have the bandwidth. These areas are the ones that need free education like freecodecamp.
Must getting working for Africa please.
Thanks

[2018-02-05 18:33] kdesCode commented on #16468
Hi All
Agreed still seems to be an issue.
Get the same error. Base in South Africa.
Interestingly on a 4Mbps Fiber connection i get the issue. On a 10Mbps +- 3G connection i do not get the message.  Perhaps some sort of time out setting some where not allow lower bandwidth connections to download all. Just a guess.

[2018-02-05 18:36] akubie opened #16645 "BETA: Applied Accessibility: Improve Accessibility of Audio Content with the audio Element, not detecting closing </audio> tag."
#### Applied Accessibility: Improve Accessibility of Audio Content with the audio Element

https://beta.freecodecamp.org/en/challenges/applied-accessibility/improve-accessibility-of-audio-content-with-the-audio-element

#### Issue Description

I tried to complete the task at hand. I believe it is done correctly, but it is saying that I still require a closing audio tag. You can see from the image

[2018-02-05 18:57] JazzBrotha commented on #15639
I don't live in the US, but Skype would be fine. Unfortunately, I'm not available today. I will have a look at the issue tomorrow and let you know my thoughts, and then we can set up a time to Skype. @jhomme Sounds good?

[2018-02-05 19:05] ReveurGAM opened #16646 "BETA: English suggestion for Basic CSS: Use a CSS Class to Style an Element"
#### Challenge Name
Basic CSS: Use a CSS Class to Style an Element
https://beta.freecodecamp.org/en/challenges/basic-css/use-a-css-class-to-style-an-element
#### Issue Description
1) It says:

Is it really created by referencing it in the style tag/CSS file?  I thought creation happened in the HTML tag/HTML file?  Or, does referencing it with CSS cause it to be added to the DOM?

If not, then it w

[2018-02-05 19:17] ReveurGAM opened #16647 "BETA: Online fonts alternative to Google"
#### Challenge Name
Basic CSS: Import a Google Font
https://beta.freecodecamp.org/en/challenges/basic-css/import-a-google-font

#### Issue Description
1) You reference the Google fonts site, which is a good place to get fonts, but you know that some countries block Google.  Why not choose an alternative, such as one of these:
www.1001fonts.com/
www.fontspace.com/category/handwriting
https://www.cs

[2018-02-05 19:36] ReveurGAM opened #16648 "Please delete"
Please delete.

[2018-02-05 19:47] #16648 closed

[2018-02-05 19:59] JimHomme commented on #15639
Hi,
Maybe it would be helpful to know that I suspect that somewhere the tabindex is set to something other than 0. It’s acting like it to me. I know this because accessibility testing is my day job. Usually, if you have NVDA turned on, and you are arrowing through text, and then try to tab to a link you haave previously read, this is the case, when focus misses the link or button. NVDA also hates

[2018-02-05 20:48] SilentGamelan commented on #16458
I also spotted this issue while going through the beta curriculum; yoizfefisch mentioned he had raised it here, so I hope it is ok to add my comment to the discussion.

I'd second his suggestions above, that a separate lesson for ```label``` be created after the input types are introduced.

I think that introducing the ```id``` element in a lesson prior to that for ```label``` shouldn't present a

[2018-02-05 20:57] ReveurGAM opened #16649 "BETA: Teaching negative margins"
#### Challenge Name
Basic CSS: Add a Negative Margin to an Element
https://beta.freecodecamp.org/en/challenges/basic-css/add-a-negative-margin-to-an-element

#### Issue Description
The current order of challenges teaches about margin, padding and border, then goes to negative margin sizes.  Wouldn't it be better to teach about the individual parts of margin (e.g. margin-bottom:0;), border and padd

[2018-02-05 21:14] ReveurGAM opened #16651 "BETA: separated margin & padding attributes taught, but clockwise notation accepted; minor formatting error too"
#### Challenge Name
Basic CSS: Add Different Padding to Each Side of an Element
https://beta.freecodecamp.org/en/challenges/basic-css/add-different-padding-to-each-side-of-an-element

Basic CSS: Add Different Margins to Each Side of an Element
https://beta.freecodecamp.org/en/challenges/basic-css/add-different-margins-to-each-side-of-an-element

Basic CSS: Use Clockwise Notation to Specify the Pad

[2018-02-05 21:23] SilentGamelan commented on #16645
I also have this issue: receiving error message "cannot read property 'length' of null" and failing checks despite closing ```<audio>``` tag being in appropriate place.

![bug-audio_source_failing_checks](https://user-images.githubusercontent.com/28412081/35829326-72396450-0aba-11e8-8c90-a66d7eb1dacf.JPG)

**Browser Information**

- Browser Name, Version: Vivaldi 1.13.1008.44
- Operating System: W

[2018-02-05 21:37] jkao1 commented on #16645
Isolated the error locally. I'll be opening a PR/fix later today.

[2018-02-05 22:38] anbe6083 commented on #16257
I get the same issue with Google Chrome: Version 63.0.3239.132 (Official Build) (64-bit). I'd like to take this on.

[2018-02-05 22:59] jkao1 commented on #16643
I'd like to point out how my PR differs from #16650:
- **It provides an example.** Most JavaScript beginners do not understand what the "unsafe actions" in #16650 are; I provide a two-line code example (long enough to let the user understand, but short enough to not clutter the page with directions).
- **It is more sensibly worded.** The explanation in #16650 is not only a run-on sentence, but it

[2018-02-06 04:18] #16554 closed

[2018-02-06 04:55] nugrohosetiawan commented on #13878
Your code is wrong..
To use two class in image is
 `<img class="smaller-image thick-green-border"`

[2018-02-06 05:02] QuincyLarson commented on #16640
Here's my quick explanation of what happened in case you're curious: https://forum.freecodecamp.org/t/why-the-forum-went-down-earlier-today/172818

[2018-02-06 05:03] QuincyLarson commented on #16257
@anbe6083 Sure - do you already have the freeCodeCamp codebase running on your computer?

[2018-02-06 05:09] QuincyLarson commented on #16458
@raisedadead @davinderpalrehal I am wary of adding "optional" tests or bonus tests, as they introduce further ambiguity into the challenge. People will think: "do I need to do these?" and skip them, but then have a feel anxious about it later.

Instead, I think we need to just decide: do we need an extra challenge? If so, where should that challenge be located?

@raisedadead is right - we don't wa

[2018-02-06 05:12] QuincyLarson commented on #16637
@jkao1 @lozadaOmr Are either of you able to reproduce this problem on [beta's version of Arguments Optional](https://beta.freecodecamp.org/en/challenges/intermediate-algorithm-scripting/arguments-optional)?

[2018-02-06 05:20] QuincyLarson commented on #15908
@iabrenne Awesome! It's all yours. Thanks for keeping us posted on your progress. Let us know if we can do anything to help :)

[2018-02-06 05:23] QuincyLarson commented on #16327
@damontian1 OK - I've asked @Bouncey to QA this :)

[2018-02-06 05:27] QuincyLarson opened #16654 "Algorithm challenges are in wrong sequence"
Intermediate algorithms should come before the algorithm projects. I'll fix this real quick.

![applied_visual_design__introduction_to_the_applied_visual_design_challenges___freecodecamp](https://user-images.githubusercontent.com/985197/35843128-19b973e4-0acc-11e8-8905-295b469a6a96.png)

[2018-02-06 05:29] ahmadabdolsaheb commented on #16368
@raisedadead @QuincyLarson should I work on that?

[2018-02-06 05:42] momitrahman commented on #15972
\# I am facing this same issue for long time. Application can't load properly and then 'Something went wrong' message popup.

\# In browser console in both Firefox and Chrome browser this message logged:
[code]
\# I want to clear some fact  when I face this loading problem:
- Last month I was using 8Mbps speed then application was load properly.
- This month i change my speed 8Mbps to 4Mbps then t

[2018-02-06 05:55] davinderpalrehal commented on #16458
@QuincyLarson I get your point for having optional tests, and also agree @raisedadead about overloading the campers.

I think the `id` attribute has been introduced before while doing the bootstrap module maybe just explain the different functions of the `id` with regards to labels.

[2018-02-06 05:55] hamzaerbay commented on #16644
Most probably, img src path doesn't match with your image folder path. Could you put here your HTML structure and file organization?

[2018-02-06 07:39] GlynL opened #16656 "[beta] Basic Node & Express - TypeError: Cannot read property 'stack' of undefined"
#### Challenge Name
https://beta.freecodecamp.org/en/challenges/basic-node-and-express/meet-the-node-console

#### Issue Description
Using **Glitch** - below error in console on opening -
cannot read property 'stack' of undefined.

If coding console.log("Hello World");  as per challenge instructions, will print before error but not pass tests.

If attempting to run **locally** cannot run 'npm star

[2018-02-06 09:53] Bouncey commented on #16632
Closed via [comment](https://github.com/freeCodeCamp/freeCodeCamp/pull/16633#issuecomment-363369568)

[2018-02-06 10:10] #16327 closed

[2018-02-06 10:18] #16581 closed

[2018-02-06 10:19] Bouncey commented on #16210
I haven't seen this again. Closing

[2018-02-06 10:19] #16210 closed

[2018-02-06 10:40] ahmadabdolsaheb commented on #15012
@owususamuel I see what you mean, the tests are too strict. I could fix this a moderator approves that tests need to be changed. @BerkeleyTrue

[2018-02-06 10:51] jkao1 commented on #16656
This is a problem with the `[fcc-express-background](https://www.npmjs.com/package/fcc-express-background)` module itself, though it's hard to track down the error without the package being open sourced.

[2018-02-06 11:07] raisedadead commented on #16468
Hi @BerkeleyTrue @Bouncey

From what I understand the only way to cleanly get around this is to have a pre-loading animation while the bundle is available.

The issue, is that actions done while the bundle is in flight, break due to the RX pipeline. I am not an expert, so do not have a pin point cause. And this subsequently results in the exception being thrown. Post which everything is blocked.

[2018-02-06 11:10] raisedadead commented on #16368
Yes sure @ahmadabdolsaheb ! Do propose your challenge ideas on this issue thread, for feedback

[2018-02-06 11:14] raisedadead commented on #16368
Then on we can have a PR.

[2018-02-06 11:36] raisedadead commented on #15972
@momitrahman thanks for the analysis, well I think this is due to this https://github.com/freeCodeCamp/freeCodeCamp/issues/16468#issuecomment-363389780

[2018-02-06 11:53] yoizfefisch commented on #16458
@QuincyLarson @raisedadead I think we can keep it simple by removing the `for` attribute from the radio button lesson. As I mentioned in my first comment, the `label` element with its `for` attribute are covered later in the applied accessibility section.

In the radio button lesson, add a few words to explain that wrapping the `input` element inside the `label` element makes the label's text clic

[2018-02-06 11:59] ahmadabdolsaheb commented on #15726
@raisedadead i would like to work on this if it is still available?

[2018-02-06 12:01] lozadaOmr commented on #16637
@QuincyLarson Could not reproduce on beta version.

Although, I also attempted to change the code and hard reload chrome or
view the challenge from a link, noticed that the code gets reset to the default one.

Browser Information
- Google Chrome, Version 59.0.3071.115 (Official Build) (64-bit)
- elementary OS 0.4.1 Loki
- Laptop

[2018-02-06 12:02] ahmadabdolsaheb commented on #16368
sounds great @raisedadead, I will update you with a list of challenges.

[2018-02-06 15:36] JazzBrotha commented on #15639
Great, thanks! I will start working on this and let you know my progress.

[2018-02-06 15:53] #16471 closed

[2018-02-06 16:01] #16528 closed

[2018-02-06 16:21] JainJuhi opened #16657 "map doesn't show my completed tasks"
i logged on to freecodecamp after 10 days. And it doesn't show my comp[eted tasks on the map. it says i have completed only 25 tasks. i had actually completed 258 tasks. when i go to my profile it still shows 258 tasks completed.
**on map: 25
on profile:258
actually completed :258**
there is a bug, please fix it soon.

[2018-02-06 17:05] jkao1 commented on #15726
@ahmadabdolsaheb this challenge doesn't exist on beta; I guess it was cut out of the program.

[2018-02-06 18:37] raisedadead commented on #15726
Yup, this was removed in beta, but @ahmadabdolsaheb if interested you are welcome to open a PR against the `backup/master`.

[2018-02-06 21:02] BerkeleyTrue commented on #16468
@raisedadead I'm going to add source maps to beta so we can pinpoint where the error is happening. Hopefully we can find it without having to resort to loading icons, which would remove all the work we are doing make ssr happen.

[2018-02-06 21:51] BerkeleyTrue commented on #16468
Testing locally it appears the first initial error (the xhr timeout) is the map service.

<img width="693" alt="rosetta_code_problems__comma_quibbling___freecodecamp" src="https://user-images.githubusercontent.com/6775919/35885704-925bf8ea-0b43-11e8-95e0-c3780d7ade15.png">

This is most likely leading to the other errors but I'm not able to replicate. Adding source maps should help illuminate the

[2018-02-06 22:30] Bouncey commented on #16468
How about splitting the map service into two separate services.

- map service: provides data for rendering the map UI only
- challenge service: provides data relevant to the current block/superblock only. Provides other blocks/superblocks on request.  I.e the user finishes a block and moves on to the next block. Logic for this could be `when executing a challenge, check to see if the current chal

[2018-02-06 23:27] zk433 opened #16659 "A typo in 'Modify an array stored in an object' challenge"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/basic-data-structures/modify-an-array-stored-in-an-object

#### Issue Description

There is a typo in the description of the challenge. It says:

when, in fact, the data key contains five keys (username, joinDate, organization, friends and location). I think it should be changed so that campers don't get hang up on it (like I did).

[2018-02-06 23:27] zk433 commented on #16659
I'm happy to fix the typo and submit a PR tomorrow.

[2018-02-06 23:39] BerkeleyTrue commented on #16468
That could be done, the map service would just deliver the map tree. We then use the rest api (which has limit/skip) to get the rest of the information. This would add some complexity but it wouldn't be so bad.

[2018-02-06 23:52] jkao1 commented on #16659
Go for it!

[2018-02-07 01:05] Bouncey commented on #16468
Would you even need to skip/limit? We could just request by block name. If my current challenge is in the ES6 block, I don't need the redux block, or any of the others. Only the ES6 block.

If I click on a challenge outside of my block and the data is not in the store, I could have a loader rendered while the challenge service brings me the data for that block.

We could even take it as far as cac

[2018-02-07 01:09] BerkeleyTrue commented on #16468
We could just pull a block and all it's challenges, but keep in mind that some blocks have dozens of challenges.

[2018-02-07 01:17] Bouncey commented on #16468
That's what I was trying to say. One block's worth of challenges in a single payload is a lot lighter than all of the challenges from every block. If the user doesn't need it right away, we shouldn't send it.

[2018-02-07 01:31] BerkeleyTrue commented on #16468
Agreed

[2018-02-07 02:56] byronholmes opened #16660 "BETA: On Managing packages with NPM, get error 'Unexpected token < in JSON at position 0""
Managing Packages with NPM, How to Use package.json, the Core of Any Node.js Project or npm Package
https://beta.freecodecamp.org/en/challenges/managing-packages-with-npm/how-to-use-packagejson-the-core-of-any-nodejs-project-or-npm-package

Whenever I put in my glitch URL to test my JSON, I get the error 'Unexpected token < in JSON at position 0".

I have tried this in Chrome and Firefox (latest v

[2018-02-07 06:01] bqnguyen94 commented on #16660
Can you give the first few lines of your `package.json`? This error usually means the receive content is not in JSON format.

[2018-02-07 08:36] kdesCode commented on #16468
I am no expert and know very little. Just started the journey to learn all this.
But just another guess, is there no where one can change the timeout limit? Perhaps make it higher to allow lower bandwidth connections time to download.

[2018-02-07 11:00] byronholmes commented on #16660
Sure, here it is:

{ "author" : "John Doe",
	"name": "fcc-learn-npm-package-json",
	"dependencies": {
		"express": "^4.14.0"
	},
	"main": "server.js",
	"scripts": {
		"start": "node server.js"
	},
	"engines": {
		"node": "4.4.5"
	},
	"repository": {
		"type": "git",
		"url": "https://idontknow/todo.git"
	}
}

The url is:

https://glitch.com/edit/#!/crimson-swim?path=package.json:17:1

Also, the de

[2018-02-07 12:04] jkao1 commented on #16660
I've encountered this error whenever React flips a table and receives or tries to process an HTML file rather than JSON. The causes of this include:
- Glitch broke , and is giving back an unhandled error on their side
- React silently broke and flipped a table
- Incorrect paths to certain assets in the `index.html`.

I'll take a look at these possible faults locally.

[2018-02-07 12:26] Onwa2014 commented on #6855
Hello forks, after struggling for few minutes,  I have manage to come up with a solution.

// Example
var ourArr = [ 9, 10, 11, 12];
var ourTotal = 0;

for (var i = 0; i < ourArr.length; i++) {
  ourTotal += ourArr[i];
}

// Setup

// Only change code below this line
var myArr = [ 4, 6, 10];
var  total = 0;
for (var  i = 0; i < myArr.length; i++) {
  total += myArr[i];
}

[2018-02-07 12:27] jkao1 commented on #16660
I've confirmed the error. We are encountering `Unexpected token < in JSON at position 0` because Glitch is sending back HTML. The error contained within the HTML:
[code]

UPDATE: Working on a fix; will open a PR soon.

[2018-02-07 12:45] kodster28 opened #16661 "Completed Beta Certification (Javascript Algorithms and Data Structures), but Not Seeing Certificate"
#### Claim Your JavaScript Algorithms and Data Structures Certificate
https://beta.freecodecamp.org/en/challenges/claim-your-javascript-algorithms-and-data-structures-certificate/claim-your-javascript-algorithms-and-data-structures-certificate

#### Issue Description
I'm able to go through all of the steps for claiming my certificate, and then FCC tells me it has been added to my profile page.

Bu

[2018-02-07 12:59] Bouncey commented on #16468
@kdesCode Whilst that would help in alot of cases, the simple fact is we are sending around 6MB of challenge data to everyone, even when they don't need it. The fix suggested is to send selected chunks of challenges that are relevent to the user.

This will reduce the amount to be downloaded, which will have the side effect of reducing the time required for the request to complete.

[2018-02-07 13:17] Bouncey commented on #16661
Thanks for reporting this. I have a PR that addresses this issue #16412

[2018-02-07 13:29] jkao1 commented on #16468
The direction of this issue's discussion is apparent: Apollo client with GraphQL/Express server. This is just something I wanted to propose, but a migration would definitely delay the release greatly.

[2018-02-07 13:53] raisedadead commented on #15972
Closing this in favor of related #16468

[2018-02-07 13:53] #15972 closed

[2018-02-07 14:56] SavaVuckovic commented on #16477
Hey, I am just learning about contributing to open source and came across this.
I think it's a valid issue, and would like to resolve it as my first contribution if it hasn't been resolved yet.
I have a feeling it will help other first timers like myself.

[2018-02-07 15:03] raisedadead commented on #16477
@SavaVuckovic sure, please go ahead.

[2018-02-07 17:20] SavaVuckovic commented on #16477
@raisedadead Thank you, I am going to submit a PR tomorrow.

[2018-02-07 17:33] byronholmes commented on #16660
Jason, Bao, thank you both very much.

[2018-02-07 18:55] utkarshsingh99 commented on #16651
Instead of focussing on the solutions, we can remove the first two Challenges and mention the margin-left,margin-right, etc properties. The content might be a 'little' long, but if written properly, it could be made more concise.

[2018-02-07 19:00] utkarshsingh99 commented on #16651
As for the minor formatting error, I would be happy to modify it and submit a PR within an hour once I have your permission for it.

[2018-02-07 19:07] #16446 closed

[2018-02-07 20:39] iabrenne commented on #15908
@QuincyLarson  I may need a little guidance. I believe I need to get familiarized with react/redux routing here. I'm going through this tutorial [An Introduction to the Redux-First Routing Model](https://medium.freecodecamp.org/an-introduction-to-the-redux-first-routing-model-98926ebf53cb) and also looking through the code in the common/apps/routes folder. Am I on the right track? Are there any ot

[2018-02-08 03:18] anhtran1906 commented on #16257
@QuincyLarson I already have fCC codebase running on my local machine and have had 2 PR accepted. I am investigating on this problem and looked at some files such as Challenges.jsx, Challenge.jsx and understood these React components. However, I'm not sure where to look at for invalid link access. It would be great if you could point me to the right resource. I have background knowledge in React/R

[2018-02-08 05:47] #16516 closed

[2018-02-08 05:53] #16629 closed

[2018-02-08 06:02] #16473 closed

[2018-02-08 06:06] #16636 closed

[2018-02-08 06:18] #16645 closed

[2018-02-08 06:19] #16659 closed

[2018-02-08 06:22] #16568 closed

[2018-02-08 06:25] iabrenne opened #16665 "Test if a Value Falls within a Specific Range - always fails"
#### Test if a Value Falls within a Specific Range

https://beta.freecodecamp.org/en/challenges/quality-assurance-and-testing-with-chai/test-if-a-value-falls-within-a-specific-range

#### Issue Description
The test always fails. It appears that there are two problems in /freeCodeCamp/seed/challenges/06-information-security-and-quality-assurance/quality-assurance-and-testing-with-chai.json:

1. Tes

[2018-02-08 06:31] raisedadead commented on #16635
Hi @clickingmouse thanks for reporting, and sorry about the delay in getting back to you.

Unfortunately, this is due the use of Global vars in your code, which is a limitation on our code editor. This is as per design.

So unless, specified you should not be using globals.

Because the tests run consecutively, and the last values of your globals.

A simple way to avoid globals (which is a good pr

[2018-02-08 06:31] #16635 closed

[2018-02-08 06:40] raisedadead commented on #16665
@iabrenne sure, please go ahead. and thanks for reporting.

[2018-02-08 06:41] raisedadead commented on #16657
/cc @QuincyLarson looks like they have a duplicate account. Can you check?

[2018-02-08 08:37] zk433 commented on #16647
Hi @ReveurGAM ,
thank you for your post.
As for other free fonts, I quickly looked through them but from what I can see, you need to download them to your computer in order to use them. The advantage of Google fonts is that you can link to it without having to download it. Please correct me if I'm wrong and I missed the option to link to the fonts on the sites you mentioned.

As for the lack of ex

[2018-02-08 12:46] #16643 closed

[2018-02-08 12:57] raisedadead commented on #16646
Here is what we think this needs;

Point 1: I think wording it as `declaration` makes it less ambiguous.

Point 2: Agreed, this rewording helps calrify.
Point 3: I guess we should be having a separate challenge for this one.

[2018-02-08 13:01] raisedadead commented on #16644
Hi there,

Thanks for reaching out, however we are unable to help you with this query.

Please use the [Chat Rooms](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390) or try looking through our [forum](http://forum.freecodecamp.com) for help with a specific challenge and any coding assistance.

**IMPORTANT:**
Please NOTE that this tracker is for reporting bugs and enhanceme

[2018-02-08 13:01] #16644 closed

[2018-02-08 13:02] ahmadabdolsaheb commented on #15726
@raisedadead done.
@ResamVi thanks for the code.

[2018-02-08 13:03] raisedadead commented on #16637
Hi @lozadaOmr in that case, I think we will have to close this. The fix for the issue is costly and we would rather focus on making the beta ready for now. Sincerest apologies for the inconvenience.

[2018-02-08 13:03] #16637 closed

[2018-02-08 13:14] tchaffee commented on #16565
I am still happy to give this a go if someone can point me to the parts of the code in question. I'm sure I could find it myself, but if someone is already familiar with the code it will save some time. Could someone let me know what the status of this is?

[2018-02-08 13:21] raisedadead commented on #16647
Hi @ReveurGAM thanks for the feedback.

There is a basic, philosophy that we follow, curate content from the community contributions and keep it as simple as possible.

Here is our challenge style guide if you are very keen on why:
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenge-style-guide.md

We urge, you to keep the issue reports succinct if possible, which will help us

[2018-02-08 13:21] #16647 closed

[2018-02-08 13:23] SavaVuckovic commented on #16477
So I was about to submit a PR, and I was wondering if I could attach an image for reference?
My solution would look like [this](https://www.dropbox.com/s/hmwoh342agix5rv/fixone.png?dl=0)
Otherwise my solution would look like [this](https://www.dropbox.com/s/4o2xadxqta6zx4s/fixtwo.png?dl=0)

[2018-02-08 13:34] raisedadead commented on #16651
@utkarshsingh99

I think there is worth in teaching these progressively and keeping the challenges. To an expert/advanced eye this may look a little too easy, or redundant, but trust me new comers usually feel this is good to be a exercise.

But, we would love a pull request for the formatting issue on the fourth challenge in the OP.

Thanks for your interest in tackling that.

@ReveurGAM

Thanks

[2018-02-08 13:36] raisedadead commented on #16477
You should open a PR, and if necessary drag drop images right in the text area of the PR description (GitHub auto uploads these)

[2018-02-08 13:38] raisedadead commented on #16649
Agreed. These could be re-ordered. Thanks a lot for pointing out.

[2018-02-08 14:35] SavaVuckovic commented on #16477
@raisedadead Thank you for your help :)

[2018-02-08 14:51] JazzBrotha commented on #15639
Now, I have done some research into this issue and I have found a few different problems. First off, as you said, after pressing the "reset your code" `button` the notification `element` is not focusable by tabbing through the `DOM`. Secondly, the notification information gets totally lost to the screen reader user since it does not receive focus immediately after pressing the "reset your code" `b

[2018-02-08 15:38] iabrenne opened #16668 "Test if One Value is Below or At Least as Large as Another - always fails"
#### Test if One Value is Below or At Least as Large as Another
http://localhost:3000/en/challenges/quality-assurance-and-testing-with-chai/test-if-one-value-is-below-or-at-least-as-large-as-another

#### Issue Description
This test always fails. Looks like the problem is that only first element in the assertions array is checked
inside freeCodeCamp/seed/challenges/06-information-security-and-qual

[2018-02-08 15:57] JimHomme commented on #15639
Hi,
Before I answer, how is the React library doing this? I don’t mean in code, but from a user point of view, for example, is it inserting content into the DOM, making it visible, what tags is it using? Etc.? And I’m asking because I’m not confident enough in my ability to read the code and figure this out just yet. I’m willing to try, though.

Thanks.

Jim

==========
Jim Homme
Team Lead
Digital

[2018-02-08 19:33] LiteSoul commented on #16468
Well, anything is better that the current state which is virtually unusable.
Me learning GraphQL is just months away, sorry I can't contribute right now... but maybe Bouncey suggestion is simpler

[2018-02-08 19:45] thadia opened #16669 "All my Certs are gone"
#### Challenge Name

Certificates gone
https://www.freecodecamp.com/thadia/back-end-certification

#### Issue Description
Example: https://www.freecodecamp.com/thadia/back-end-certification
Error: Looks like user thadia is not Back End Certified

I believe all my progress is as I remember it. Just that the links to the certs that I have added to LinkedIn are not working and not sure when they stop

[2018-02-09 00:51] ojongerius commented on #16559
Reading through https://github.com/auth0/passport-linkedin-oauth2/issues/24 and looking at the config used in your code the `scope` looks fine, but the `profileFields` need being set -unless you prefer catch the exception and shrug.

I'm not familiar with this code base, but based on @raisedadead's suggestion to just catch the exception it sounds like we don't really care what is returned at all.

[2018-02-09 02:28] ojongerius commented on #16559
@raisedadead @QuincyLarson just got back from lunch, have created and linked a PR to this issue.

[2018-02-09 02:41] no-stack-dub-sack commented on #16528
@ninadingole nice job! I hate regexp, so I commend you for taking this on 😄

[2018-02-09 05:36] raisedadead commented on #16669
@QuincyLarson @BerkeleyTrue this could be another case of duplicate accounts.

[2018-02-09 09:17] oluwatomigbekele opened #16671 "Need help getting front end certificate"
#### Challenge Name

#### Issue Description

I’ve finished the last challenge for the Front End Web Development Certfication and the “Claim Your Certificate” step, but every time I try to access the certificate, it returns the message “oluwatomigbekele has not yet agreed to our Academic Honesty Pledge”.I need help pls.

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobil

[2018-02-09 12:52] davinderpalrehal commented on #16458
@yoizfefisch it probably adds to the usability part of things but might be something that campers can learn more of once they have mastered the basics when they start thinking of user experience. I mean the only thing the the `for` attribute really adds is that if a user clicks on the label the field associated to it is highlighted or selected.

[2018-02-09 13:15] raisedadead commented on #16671
/cc @QuincyLarson @BerkeleyTrue

[2018-02-09 13:16] raisedadead commented on #16671
I'll try and take a dig at this over the weekend. It was not reproducible last time I checked on local, and seems to be continuously coming up on production.

[2018-02-09 15:14] DubaniWarrior commented on #13953
I can confirm the same issue in South Africa.

[2018-02-09 17:38] JazzBrotha commented on #15639
The notification `element` is inserted into the `DOM` when clicking on the "reset your code" `button`. This is the `html` structure of the notification `element`:

[code]

Some of the style attributes you see are inherited from the `react-notification` `module` and some are set manually. The style attributes are what make the notification `element` visible immediately for non-screenreader users.

[2018-02-09 21:20] BerkeleyTrue commented on #13953
This issue has been confirmed. Please do not comment unless you have additional information that has not already been stated.

Happy Coding

[2018-02-09 21:23] BerkeleyTrue commented on #16671
@raisedadead let me know and I can get you some actual data to test against.

[2018-02-09 23:45] Zigg1 opened #16674 "Minor text update needed"
On the map page, under the "Basic Front End Development Projects" drop down menu, there is the "Get Set for our Front End Development Projects" challenge, which is a 7-part slide-show. Within the slides, on slide 6/7, there are instructions to add "Bootstrap" as external CSS within the code editor in the website codepen.io using the "Quick Add" drop-down menu.

<strong>The problem is,</strong> wit

[2018-02-10 03:07] ReveurGAM opened #16675 "BETA: Minor English error"
#### Challenge Name
Basic CSS: Use Attribute Selectors to Style Elements
https://beta.freecodecamp.org/en/challenges/basic-css/use-attribute-selectors-to-style-elements

#### Issue Description

In the third paragraph:

Unless style is an adjective, it needs to have an s to follow subject-verb agreement.

I.E. This selector matches and **styles** elements with a specific attribute value.

You might

[2018-02-10 04:27] Manish-Giri commented on #16649
I'll take a look into this.

[2018-02-10 05:20] akkatracker commented on #16675
I think *styles* is a better fix.

I'll submit a PR

[2018-02-10 06:03] lalov1 opened #16677 "Able to past tests without finishing challenges"
#### Challenge Name
React: Compose React Components
https://beta.freecodecamp.org/en/challenges/react/compose-react-components

#### Issue Description
I was able to move forward without reaching all the challenge statements including the following:
"Nest two components inside of Fruits — first NonCitrus, and then Citrus. Both of these components are provided for you in the background. "I was able