[2022-05-30 13:20] #45950 closed

[2022-05-30 15:09] bellhuffstutler commented on #46215
makes sense, but shutting off commands that should cause a pass to make it less likely for people to use GUI to cheese it seems weird to me? But i'm not familiar with how any of this particular thing is set up, so I'm not going to push I just wanted to bring it to people's attention in case it was actually a bug and not an intended feature. If it's an intended feature we could probably just close

[2022-05-30 15:22] Nirajn2311 commented on #45623
What about `chinese-traditional`? Are they getting a separate subpath or a different language code?

[2022-05-30 15:32] moT01 opened #46233 "Colored markers step 60 fails on safari"
### Describe the Issue

[Step 60 of the colored markers project](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-colors-by-building-a-set-of-colored-markers/step-60) fails in Safari.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-colors-by-building-a-set-of-colored-markers/step-60

### Expected behavior

It not to fail.

### Addi

[2022-05-30 15:49] ShaunSHamilton commented on #46233
@moT01 Which version are you using. I was unable to reproduce with: `5.0 (Macintosh; Intel Mac OS X 10.16) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.0 Safari/605.1.15`

[2022-05-30 15:56] Nirajn2311 commented on #46233
I was able to reproduce this issue in Safari v15.5. I think this version breaks it and not v14.

[2022-05-30 15:58] #45919 closed

[2022-05-30 16:00] ShaunSHamilton commented on #46233
Can either of you reproduce this for `49`, `60`, and `66`? They all use similar tests.

[2022-05-30 16:04] moT01 commented on #46233
I'd rather not share my version... 13.1.2

[2022-05-30 16:06] Nirajn2311 commented on #46233
Yup, the tests don't pass for any of these challenges

[2022-05-30 16:11] Sboonny commented on #46163
About step 15:

I agree hints and description should be changed, and they should account for added HTML tags as well.

![image](https://user-images.githubusercontent.com/88248797/171029619-b3d71c07-c97e-4a31-9347-825f7ce43d2c.png)

[code]

the code above shouldn't pass,

[2022-05-30 16:55] lasjorg commented on #46233
I wonder if the support for the new color spaces (lab/lch/hwb) has anything to do with it? Did anyone check what value the helper is returning on that version of Safari?

https://developer.apple.com/documentation/safari-release-notes/safari-15-release-notes
https://bugs.webkit.org/show_bug.cgi?id=205675
https://caniuse.com/?search=lab()

[2022-05-30 16:59] #46153 closed

[2022-05-30 17:01] raisedadead commented on #45623
They are already at the location where should be and are completely unrelated to this migration.

[2022-05-30 17:04] Sboonny commented on #46215
Here is the [markdown file](https://github.com/freeCodeCamp/learn-bash-by-building-a-boilerplate/blob/main/TUTORIAL.md#850-make-directory), you can find it in its repo [main branch](https://github.com/freeCodeCamp/learn-bash-by-building-a-boilerplate). If you open the [1.0.2v branch](https://github.com/freeCodeCamp/learn-bash-by-building-a-boilerplate/tree/v1.0.2), you will find the [850.test.js](

[2022-05-30 17:11] bellhuffstutler commented on #46215
Thanks! I'll check it out!

[2022-05-30 17:16] lasjorg commented on #46163
I agree, we should test that the style element has been removed as well.

[2022-05-30 17:26] bellhuffstutler commented on #46215
[code]

It already has it, but it's looking for the wrong folder.

When you make the website folder, you're in Projects already, so the `../` at the beginning will check outside of that folder, the one with `Project` and `swift-5.6.6-RELEASE-ubuntu20.04` in it. I'll work on a fix and see if the checks for the other tests do that.

Also, I went back into the course, and i have no lesson it's just t

[2022-05-30 17:32] ShaunSHamilton commented on #46163
The suggestions in the first post sound like a plan.

---

An issue with the _help wanted_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

[2022-05-30 17:42] Sboonny commented on #46215
You are totally right

There was no need for that. This is embarrassing, but I linked the wrong file here is [280 markdown](https://github.com/freeCodeCamp/learn-bash-by-building-a-boilerplate/blob/main/TUTORIAL.md#280-make-directory), and here is its [280.test.js](https://github.com/freeCodeCamp/learn-bash-by-building-a-boilerplate/blob/v1.0.2/freeCodeCamp/test/280.test.js).

[2022-05-30 17:46] bellhuffstutler commented on #46215
I was actually about to edit my comment to say the one i was looking for was actually 280 now that I'm going through everything haha

So, with 280.js it seems like it's literally as simple as changing this `&&` to a `||` unless i'm real dumb:

[code]

That way it'll check if there is either a folder called "website" in the Projects folder, or if you did the command

I mean, we could even do someth

[2022-05-30 17:55] Sboonny commented on #46215
[code]

Doing this will make your attempt pass, but it will undermine Tom concerns. If I am not misunderstanding the code above.

We can merge your idea with the original intent, to make your attempt pass.

for example

[code]

[2022-05-30 17:57] Sboonny commented on #46215
Unfortunality, I didn't need to test script in RDB yet, but you can check [freecodecamp chat](https://chat.freecodecamp.org/channel/contributors)

[2022-05-30 17:57] bellhuffstutler commented on #46215
oh that's a really smart way to do it and it locks out GUI modifying!

I need to finish the javascript course so I know I can do that lmao

but yeah no that looks like a correct way to do it and I can just see if there are any other lessons that particular code would work in

also thanks for the link! I'll do that

[2022-05-30 18:07] bellhuffstutler commented on #46215
Yeah it can work for all of them like:

[code]

Should I just go through and make those changes or ask about it in chat?

[2022-05-30 18:30] moT01 commented on #46215
I don't think any of these tests need changing in this way - the instructions tell you what command you're supposed to use. What about using the copy command, that would pretty much be the same - do we add a third check? What other commands can be used to get that folder or file to exist? We can't add a check for all of them. The tests aren't like that only so users can't use the GUI, they're supp

[2022-05-30 18:32] bbsmooth opened #46236 "Scrolling on touch devices does not work consistently in editor in Steps"
### Describe the Issue

There are regions of the editor in the new Steps challenges that do not scroll properly when using a touch device:

- The left gutter (line numbers)
- The "Check Your code" button and its expanded results/hint box

This issue is also affecting our ability to implement fixes for PR #46217.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/lear

[2022-05-30 18:33] bellhuffstutler commented on #46215
Why would we ever need the cp command in this instance though?

mv for rename is super common and a thing that people do quite often using BASH it just seems super weird to cause it to fail when the fix is so easy, and someone else is offering to put in the work to make it feasable?

But, it's your project, I was just mentioning an issue that I had, and we came to a solution, I can't make you impl

[2022-05-30 18:48] Nirajn2311 commented on #46233
The value returned by the helper is `background-color: rgb(0, 127, 0);`

[2022-05-30 19:13] moT01 commented on #46215
Maybe they don't know the mv command. You're right, mv is common for renaming. I just don't think these changes are necessary - and this seems quite rare. The instructions are to use `mkdir website`, not with a typo and then use mv to rename it.

This is my opinion anyway - I hope I'm not discouraging you. I'll leave this open, if someone else from the curriculum team says to do it, then we can. R

[2022-05-30 19:17] bellhuffstutler commented on #46215
The thing is:

I have had this problem.
There is no downside to implementing the fix that we have suggested (and I have offered to implement)
And people make typos

Yes, it's an edge case

But it's an edge case that we have a proposed fix that solves both the issue and stays within the want to not allow GUI renaming, and it is harmless to implement.

It's not for everyone? But it definitely helps

[2022-05-30 19:58] lasjorg commented on #46233
So the value is correct just not the property.

[code]

Is there a reason why we are checking `background` and not `background-color`?

[2022-05-30 20:01] moT01 commented on #46233
The instructions for all three of those steps have you change the property from `background-color` to `background`.

[2022-05-30 23:02] moT01 commented on #46186
Yes, this is a duplicate of that one. We can close this and continue the conversation there.

[2022-05-30 23:02] #46186 closed

[2022-05-31 00:25] lasjorg commented on #46003
We might have to qualify that a bit. Here is how MDN words it.

---

So are we talking about something like this?

41. Have them add the border to all fieldset elements.

42. Have them remove the border from the last fieldset element using `:last-of-type`

43. Have them combine 41 and 42 using `:not(:last-of-type)`

[2022-05-31 00:39] moT01 commented on #46003
No, your step 43 wouldn't be there @lasjorg. The other two are correct.

41: add border to all `fieldeset` elements with `border: 3px solid #3b3b4f`
42: remove border from last element with:
[code]
43: would be the current step 42.

And the `:not` just wouldn't be there anymore.

[2022-05-31 05:08] lasjorg commented on #46003
That is how I understood it initially as well. I'm guessing adding a new challenge wouldn't be super easy to do. Although, removing the `:not()` selector also affects all the seed code.

I just think that it would be a shame not to show the `:not(:last-of-type)` as it's such a common task applying the same styles to all but the first or last sibling elements. And it is made a lot cleaner using `:n

[2022-05-31 05:54] lasjorg opened #46244 "Navigating to a fragment counts as an external link"
### Describe the Issue

I assume the idea of the link alert is to avoid the camper accidentally navigating away from the challenge page. But it would be nice if fragment links would work as expected.

Something like this seems to work.

`https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/templates/Challenges/utils/frame.ts`

[code]

Is there any reason not to do this?

### Affected

[2022-05-31 08:17] uday03meh commented on #46097
Hi! Can someone please assign this issue to me?

[2022-05-31 08:21] Sboonny commented on #46097
Thank you @uday03meh for your interest.

There is no assignment, after you have read this guide https://contribute.freecodecamp.org/#/

Make a pull request.

[2022-05-31 08:23] ojeytonwilliams commented on #46210
Agreed, users are always free to search if they want to, but we should try to make our lessons self-contained if possible.

I just tried doing the lesson myself and found it frustrating to keep getting the hint

when I had wrapped the rule correctly, but the `@media` rule was wrong.

[code]

should trigger a different hint.

That sounds good to me, though I'd word it slightly differently to be mor

[2022-05-31 09:46] Sboonny commented on #44845
I am wondering, if there is something more I may do?🤔

[2022-05-31 11:44] Kernix13 commented on #44845
Sorry Shoomy, I must have missed your reply to me. What PRs? It looks like half of the original issues are marked as completed. Should I fix the remaining ones?

[2022-05-31 11:53] Sboonny commented on #44845
No worries🍻

After each task there have been pull request, hoping to fix the issue.

If you are okay with the changes, I have implemented and you are okay with how the file looking.

I am happy to work on it again, if I missed anything

[2022-05-31 11:56] Kernix13 commented on #44845
Got it - I'm okay with the changes - go ahead and close it.

[2022-05-31 12:13] #44845 closed

[2022-05-31 12:23] ahmadabdolsaheb commented on #46178
@bbsmooth changing the contents of the `test-feedback` for the screen-reader when the tests are run is restricting the duration of the animation.

I was wondering if it would be possible to aria hide the `test-feedback` and have an sr-only alternative to display the required info to screen readers.

That way we could lock the desired sr behavior in a test easier.

[2022-05-31 12:23] moT01 commented on #46003
Adding a new challenge with my changes would require changing the seed code on all steps after it. So no, it wouldn't be super easy - but we do have some [helper tools for adding new steps](https://contribute.freecodecamp.org/#/how-to-work-on-practice-projects), among other things. I believe they will add the step, and bump the title and whatever else on all the other ones after it. So that would

[2022-05-31 12:49] #46210 closed

[2022-05-31 15:37] moT01 commented on #46215
I ran this by one of the team members. You seemed pretty excited to work on this, and like we said, there isn't really a downside to add this - so if you want to give it a try, go for it.

One thing you mentioned:

I don't think that's true. The tests run from `projects/freeCodeCamp` so you need to go back a level to get to `projects`

Also, this part of the test you suggested:
`lastCommand[0] ===

[2022-05-31 15:41] bellhuffstutler commented on #46215
Thank you!

Also yeah, I know the ../website part is wrong now, I was just saying that based off the info I was given, and i was told 850 was the test when it was a different test, and I just didn't edit it, because it was clarified in later messages.

Also thank you for the tip, and I'll look at the INIT commit after I finish eating and then get to work making the changes.

[2022-05-31 15:43] moT01 commented on #46215
Also, I wrote those instructions some time ago - they may be a little outdated or not as refined as they could be.

[2022-05-31 15:49] bellhuffstutler commented on #46215
No worries, they look pretty solid, but I'm sure if I have any questions I can find somewhere to ask about them

[2022-05-31 16:03] bbsmooth commented on #46178
@ahmadabdolsaheb The test result/hint content must be available to screen reader users on the page so that they can go through it manually if needed, so we can't just announce it using an sr-only alternative and hide the actual content from the user. The way it is working now is that we have turned the `#test-feedback` into an aria live region and the screen reader will automatically announce any

[2022-05-31 16:16] bellhuffstutler commented on #46215
@moT01 So I do have a question.

The tests don't show up in the main repo. I have my fork checked out on `v1.0.2`, is that the way you would like me to do it? Then I can make the changes, push the changes to a new branch on my repo and then set the PR.

Or is there another way I should be doing it that you would prefer?

[2022-05-31 17:07] moT01 commented on #46215
Just for maybe some help - here's how I would do it.

-fork the repo and clone it locally, make sure all the changes are pulled in, etc
-create and checkout the latest version branch - v1.0.2
-create and checkout a v1.0.3 branch off of that
-rebase that branch to the root and edit the `INIT` commit
-make all your test fixes
-continue and finish the rebase
-push the new branch to your fork
-checkou

[2022-05-31 17:09] bellhuffstutler commented on #46215
Sounds good!

I'll work on that now then thank you

[2022-05-31 18:15] lasjorg commented on #46003
So does removing the `:not()` selector we have to remove it from all the following seed code. I'm not sure I understand what happens to the current step 42, wouldn't that need to get pushed forward as well?

---

Explaining both selectors in one step without making the step too wordy will be challenging.

I know this is too long but I can't really figure out how to condense it.

Step 41

[2022-05-31 19:25] lasjorg opened #46258 "Building a Cafe Menu - Step 78: submit button is missing"
### Describe the Issue

Edit: might just have been a glitch because now I can't reproduce it. I think a hard refresh fixed it.

There is no visible submit button, if you press `Ctrl + Enter` it shows up.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/step-78

### Your code

[code]

### Expected behavior

To have a button.

[2022-05-31 19:26] bbsmooth opened #46259 "(a11y) Keyboard users can't access all content in Steps"
### Describe the Issue

There are two bugs related to this issue. Both assume that the user is only using the keyboard to navigate the page and interact with the content.

1. Keyboard users are not able to access the result/hint after triggering the Check Your Code button when the button is near the bottom of the page and there are no editor lines below the Check Your Code button.

2. Keyboard use

[2022-05-31 19:31] lasjorg commented on #46258
I will just close this, seemed like a glitch.

[2022-05-31 19:31] #46258 closed

[2022-05-31 20:00] bbsmooth commented on #46259
The more I think about this, I don't think that zoom is actually necessary to demonstrate the second bug. With the default 100% zoom it is still possible to have the instructions be too long and skip on keyboard scroll if you reduce the height of the view port. Granted, this takes a tall instructions box and a short view port, but the point is that we will have a variety of users with different vi

[2022-06-01 03:00] Dorsalus commented on #45215
The forward slash seems like can come at the end of any tag within the head after the link and test as valid, the below code passed the check with the additional trailing forward slash in the closing title tag
[code]
This also tests as valid
[code]

[2022-06-01 07:26] #46244 closed

[2022-06-01 07:39] #45106 closed

[2022-06-01 14:23] Juma-n opened #46271 "Juma-n"

[2022-06-01 14:29] nhcarrigan commented on #46271
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to have been opened accidentally.

If you think we're wrong in closing this issue, please request for it to be reopened and add further clarification. Thank you and happy coding.

[2022-06-01 14:41] ahmadabdolsaheb commented on #46178
Thank you for your detailed explanation. I am looking into ways to make the lower jaw behave more consistent without duplication. I will pick you up on your offer if I cannot find a plausible way.

[2022-06-01 17:02] bbsmooth commented on #46259
I think PR #46272 would technically be enough to address Bug 1. While the user would not be able to use the arrow keys to scroll down to see the result/hint, they would still be able to bring them into view by Tabbing to the "Ask for Help" button below. But in order to rely on this solution at least one of the buttons would always need to be available below the results/hints.

[2022-06-01 17:33] lasjorg commented on #45922
I pushed what I have just in case.

[2022-06-01 17:36] bellhuffstutler commented on #46215
ah cool cool i'll try that

[2022-06-01 18:14] ShaunSHamilton commented on #45922
@lasjorg I started with the calculator, but am now mostly just playing with the Drum Machine

[2022-06-01 18:19] admrush commented on #36446
If your certain code is correct but still getting error the solutions is to set your timezone and time to automatic in your PC settings.
See more at https://enddesign.medium.com/a-problem-you-might-have-while-doing-the-chain-middleware-to-create-a-time-server-challenge-from-44027ca483b9

[2022-06-02 11:26] ShaunSHamilton commented on #45922
@lasjorg I cannot seem to fail the Drum Machine, but I have no idea what change worked... I converted the example to v18, by changing it into functional components, and it just works.

[2022-06-02 11:57] ShaunSHamilton commented on #45563
@freeCodeCamp/dev-team I would like to get a jump on this. Specifically, to do with the moderation dashboard.

My current thinking is:
- Any request to an existing page that is hidden (i.e. user settings == private, `isBanned` == true, etc.) yields an FAQ page with potential reasons

1) Should this be as generic as possible? Or, should the page contain only relevant information? That is, `if isBan

[2022-06-02 12:43] lasjorg commented on #45922
@ShaunSHamilton I made a PR for it. It was only the one display test that was failing and all it needed was again a small delay. I would assume the latest version of the CDN link has that fix.

If the PR for the calculator is acceptable then all that is left is the 25 + 5 clock.

[2022-06-02 12:44] ShaunSHamilton commented on #45922
🤦‍♂️ Right. My bad.

[2022-06-02 12:54] lasjorg commented on #45922
It's all good. If you figure something out for the 25 + 5 clock let me know. Still not sure how to fix that, or at least what I have tried so far didn't do much.

[2022-06-02 13:57] jeremylt opened #46295 "Confusion In Test Output"
### Describe the Issue

Occasionally users are confused by the test output, as changing the contents of `FCC` can result in a message about capitalizing the variable name.

### Affected Page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/declare-a-read-only-variable-with-the-const-keyword

### Your code

[code]

### Expected behavior

Two possibiliti

[2022-06-02 14:04] jeremylt opened #46296 "Unneeded Check for Semicolon"
### Describe the Issue

Why are we checking for a semicolon in this challenge again? The check leads to somewhat confusing test output, and I thought we were pushing towards 'any valid syntax must be allowed to pass'?

### Affected Page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/increment-a-number-with-javascript

### Your code

[code]

### Expec

[2022-06-02 14:21] ShaunSHamilton commented on #46296
Thanks, Jeremy.

I agree. We should change the tests in this file to not check for the `;`
- https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/increment-a-number-with-javascript.md

---

An issue with the _first timers only_ label is open for contribution to first-timers. The first comprehensive PR cre

[2022-06-02 16:33] Sboonny commented on #46295
I think a more lenient approach is to not care about the content of the variable, unless I am missing something.

[code]

Here is the file [declare a read only variable](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/declare-a-read-only-variable-with-the-const-keyword.md)

[2022-06-02 16:34] jeremylt opened #46298 "Quiz 33 - Quotes Around Value"
### Describe the Issue

It would be clearer if we put quotes around the value we want the user to use.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-33

### Your code

I have seen this mistaken answer a few times:
[code]

### Expected behavior

Suggested text:
To prevent unnecessary repetition, target the `before` pseu

[2022-06-02 16:35] jeremylt commented on #46295
I think we should care about the content of the variable - I have seen learners blindly capitalize everything on the line instead of understanding that they should only make the variable name ALL_CAPS.

[2022-06-02 16:40] Sboonny commented on #46295
If I am understanding this correctly, people tried to capitalize `const`.

I am in favour of the second one, to make it clearer that they should focus only on variables.

[2022-06-02 16:43] jeremylt commented on #46295
They capitalize parts of the string itself, which can be an indication that they don't understand what all should and should not be changed.

[2022-06-02 16:48] ShaunSHamilton commented on #46298
Thanks, Jeremy.

I agree, the description should read:

Here is the file needing changed:
- https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6145ed1f22caab087630aaad.md

---

An issue with the _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed

[2022-06-02 17:13] Sboonny commented on #46295
Wait, I thought that's normal, I almost finished front-end frameworks projects without understanding React, jQuery, and bootstrap.😅

I like your intent. It isn't possible for everyone to understand the steps, and stopping them on something that isn't required in the test feels harsh to me.

So I am in support of the second possibility, which splits the test. Although I would prefer not stopping th

[2022-06-02 17:39] jeremylt commented on #46295
https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/declare-a-read-only-variable-with-the-const-keyword.md

Suggested test change:

`FCC` should be a constant variable declared with `const`.

[code]

The string assigned to `FCC` should not be changed.

[code]

Suggested lesson content change:
# --instruc

[2022-06-02 17:41] jeremylt opened #46299 "CatApp Step 63 - Malformed Code Passing"
### Describe the Issue

Can we prevent this malformed code from passing?

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-63

### Your code

[code]

### Expected behavior

Bad code is bad. Bad code should not be marked as good.

### Screenshots

_No response_

### System

All

### Additional context

_No response_

[2022-06-02 18:13] jeremylt commented on #46299
I haven't see this come up on the forum too much, so I doubt this is a likely error. Just thought I'd ask though. I'm fine closing this issue, but thought we should at least discuss.

[2022-06-03 10:10] #46062 closed

[2022-06-03 15:10] #46299 closed

[2022-06-03 15:12] ojeytonwilliams commented on #46299
Thing is, this code is pretty bad and it does rather weird things when the browser tries to parse it.  I see this:

[code]

when I put in the bad code.

Regexes are a pain, though.

[2022-06-03 16:44] #46215 closed

[2022-06-03 16:57] #36841 closed

[2022-06-03 20:35] #46298 closed

[2022-06-03 21:34] c-ehrlich opened #46315 ""Build a freeCodeCamp Forum Homepage" demo project uses outdated API endpoint"
**Describe the bug**
The [sample project](https://codepen.io/freeCodeCamp/full/JqdoMV) for the [Take Home Projects - Build a freeCodeCamp Forum Homepage](https://www.freecodecamp.org/learn/coding-interview-prep/take-home-projects/build-a-freecodecamp-forum-homepage) fails to load data because it makes a request to an endpoint that returns a 500 (due to an expired cert, according to the response).

[2022-06-03 21:37] c-ehrlich opened #46316 ""Take Home Projects - Build a Nightlife Coordination App" - Dead demo project"
**Describe the bug**
The [demo project](https://yoyo44.herokuapp.com/) for [Take Home Projects - Build a Nightlife Coordination App](https://www.freecodecamp.org/learn/coding-interview-prep/take-home-projects/build-a-nightlife-coordination-app) links to a dead page.

[2022-06-03 23:28] JordanMooree commented on #46316
Thank you @c-ehrlich for reporting this issue!

This issue appears to be very similar to issue #44310, so we are closing it as a duplicate.

If you think we're wrong in closing this issue, please request for it to be reopened and add further clarification. Thank you and happy coding!

[2022-06-03 23:28] #46316 closed

[2022-06-03 23:55] JordanMooree commented on #46315
Thanks, @c-ehrlich for catching this. @freeCodeCamp/dev-team we need a change on the link for freeCodeCamp's Codepen `line 15` for the [sample project](https://codepen.io/freeCodeCamp/pen/JqdoMV?editors=1010) from
[code]
to
[code]

[2022-06-04 10:08] MoiraX opened #46332 "New RWD (cafe menu, step 65) tests accept incorrect answer"
### Describe the Issue

While I was replying to a forum question, I realised that step 65 of the Cafe Menu section accepts an incorrect answer.

The challenge is to nest an anchor element inside a `p` element, like this:

`<p><a href="https://www.freecodecamp.org">Visit our website</a></p>`

But the student had nested the p element inside the anchor element, like this:

`<a href="https://www.freec

[2022-06-04 11:14] Sboonny commented on #46332
Here is the file

 https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3ef6e0a81099d9a697b550.md#L18

 I think, it's best to not do anything.

The next challenge isn't about css, and they can see the correct format in it

[2022-06-04 11:38] Sboonny commented on #46236
https://forum.freecodecamp.org/t/cant-view-entire-elements/514572/5

Is this forum related to this issue?

[2022-06-04 14:52] RandellDawson opened #46338 "Create a Stateful Component challenge appears to allow invalid solution for 2nd test"
### Describe the Issue

A user [asked a question related to this challenge](https://forum.freecodecamp.org/t/explain-2-different-solutions/514603) wondering why his solution passed.  I then realized the 2nd test test is not working as intended.  The user is supposed to assign a string to a `name` property of `this.state`. The user's solution assigns an uninitialized variable `name` as a property.

[2022-06-04 15:14] RandellDawson commented on #46338
After a bit of research, it appears that assigning `name` as a property that is uninitialized is the same as writing:

`this.state = {
  window.name
}
Since the window has no name, it is just an empty string.

[2022-06-04 16:09] #46296 closed

[2022-06-04 17:11] bbsmooth commented on #46236
@Sboonny Yes, this is the issue that is causing the problems in that forum post. I have a fix for it in my PR #46217. Hopefully we can get it to production this coming week.

[2022-06-04 21:49] ieahleen commented on #46295
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. For details look at Jeremy's comment above, https://github.com/freeCodeCamp/freeCodeCamp/issues/46295#issuecomment-1145129600.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instr

[2022-06-04 23:23] lasjorg commented on #46332
This is how the browser renders the HTML.

[code]

If we scope the selectors it should fail. We really do not need `find` or `children`, or the case-insensitive not exactly matching regex.

[code]

We can also extend the third test so that its assert message would trigger, with the incorrect code in question.

[code]

[2022-06-05 11:31] ThirstB1ood opened #46351 "Colored Markers step 49"
### Describe the Issue

After right changing code I face with one problem: "Your .red CSS rule should have a background property with the value rgb(255, 0, 0)."

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design#learn-html-by-building-a-cat-photo-app

### Your code

[code]

### Expected behavior

Submit and go to next challenge

### Screenshots

<img width="517" alt=

[2022-06-05 13:37] ieahleen commented on #46351
related to #46233, but not exactly a duplicate as it is about a different step

[2022-06-05 13:39] ieahleen opened #46354 "medical data visualizer test with out of context text"
Medical Data Visualizer tests have a test
[code]

the text in there is completely out of place

[2022-06-05 15:51] #46295 closed

[2022-06-05 16:19] ThirstB1ood commented on #46351
Thanks, I solve my problem by Google Chrome

[2022-06-05 16:19] #46351 closed

[2022-06-05 16:42] jdwilkin4 opened #46356 "freeCodeCamp readme does not list the new responsive web design course"
### Describe the Issue

The [freeCodeCamp readme](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/README.md) only shows the legacy Responsive web design courses.
<img width="358" alt="Screen Shot 2022-06-05 at 9 40 55 AM" src="https://user-images.githubusercontent.com/67210629/172061025-c99d52b2-11a3-414b-87b2-687a1a1fac58.png">

That needs to be changed to list the new Responsive Design co

[2022-06-05 18:09] Sboonny commented on #46142
It has been 11 days, before the last activity. So, before I close this.

We should decide either to change `<dfn>` or keep it.

If you wanna change, simply emote on this. If you are against it, simply ignore this, I will close it in 4 days.👍

[2022-06-05 18:26] PersianBlue opened #46358 "Learn Typography by Building a Nutrition Label - gets repetitive and a bit boring"
This isn't really a bug issue, more of a content/feature issue. I feel like it would be more intuitive if the class names (lg, md, sm-text, etc.) were spelled out to make them more intuitive, and then having understood what we were doing, we were just tasked to build each section of the nutrition label. As opposed to adding every new paragraph and divider one by one by one in this instance. Then i

[2022-06-05 18:26] JordanMooree commented on #46356
Yes, I agree with this. I think we should also update the projects to link to the new RWD projects as well.

![image](https://user-images.githubusercontent.com/27147016/172064595-9161d1f2-4a0d-4d7f-8e2c-d6e76913d2fb.png)

[2022-06-06 05:24] scissorsneedfoodtoo opened #46361 "The Ctrl / Cmd + Enter shortcut doesn't trigger the completion modal in the RWD projects"
### Describe the Issue

A learner on Twitter pointed out that using the Ctrl / Cmd + Enter shortcut to run the tests for the RWD projects doesn't trigger the completion modal.

Clicking the "Run the Tests (Ctrl + Enter)" button triggers the modal as expected if all the tests pass. But using the keyboard shortcut just runs the tests, and the shortcut has to be used again to actually submit the code

[2022-06-06 06:43] #45947 closed

[2022-06-06 11:46] ShaunSHamilton commented on #46315
Along with the change to the endpoint, and similarly to https://github.com/freeCodeCamp/freeCodeCamp/issues/46173 , we should port the example project over to `.rocks`.

[2022-06-06 11:49] ShaunSHamilton commented on #46315
For now, I have updated the example project to use the latest link.

[2022-06-06 13:52] ShaunSHamilton commented on #46361
Related: https://github.com/freeCodeCamp/freeCodeCamp/pull/43728

[2022-06-06 15:41] Sboonny commented on #46356
We may take the same approach as we did in `/learn`
![Screenshot_2022-06-06-17-37-45-64_e4424258c8b8649f6e67d283a50a2cbc](https://user-images.githubusercontent.com/88248797/172194733-82daa145-21a2-4032-acc7-069cfc823302.jpg)

[2022-06-07 00:51] bellhuffstutler commented on #46358
I will agree this one got a bit long, a lot like the balance sheet one.

Im not entirely sure a great solution though. The repetition is *really* useful for getting a bit more of an understanding tbh

I do like the idea of making the divs and classes a bit more clear/descriptive. Maybe use more sections and make the classes less condensed?

[2022-06-07 02:19] carly-kins opened #46372 "Campfire Mode doesn't trigger on multiple browsers unless you turn it on and off"
### Describe the Issue

Campfire Mode was not playing on my account. I did find a fix, but still wanted to report! Please note it could be affecting more than one page, but I only tested on the new responsive web design!

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/

### Steps to Reproduce

1. I'm logged in on my computer
2. Under settings, Campfire Mode is ena

[2022-06-07 08:52] raisedadead commented on #46372
@freeCodeCamp/dev-team We are somehow not tracking the setting into the local storage I believe?

[2022-06-07 09:03] ojeytonwilliams commented on #46372
We're using a hybrid of local storage and the session user, right now.  It would be best to remove all reliance on local storage, so that it's consistent across devices.

[2022-06-07 16:45] #46110 closed

[2022-06-07 16:48] nhcarrigan commented on #46372
The usage of local storage was restored as a temporary fix for another issue - I agree with Oliver that we want to move to relying on the session user, but this will require some component updates to pass the user into the props.

[2022-06-07 20:49] ojeytonwilliams commented on #46372
@nhcarrigan this sounds like something we might want to open for contributions, since it's definitely something we want, but isn't urgent. What do you reckon?

[2022-06-07 20:55] nhcarrigan commented on #46372
I agree. It's already got the help wanted tag, so I propose we leave it as such.

[2022-06-07 21:14] Ismailtlem commented on #46178
Hi,

For the changes we want to do on the editor, are there any wireframes we should respect when implementing the additional things ?

[2022-06-07 21:16] Dario-DC opened #46385 "Missing test in step 117 of city skyline project"
### Describe the Issue

missing test in step 117 of city skyline project
the code in the file is like this
[code]

### Affected Page

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e993d.md

### Your code

[code]

### Expected behavior

The missing test should be adde

[2022-06-08 11:37] #46142 closed

[2022-06-08 13:19] moT01 commented on #46385
The test on [step 118](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e993e.md) would probably be similar to what we want. Maybe something like this: `assert.equal(new __helpers.CSSHelp(document).getRuleListsWithinMedia("(max-width: 1000px)")?.find(x=>x.selectorText =

[2022-06-08 14:09] moT01 commented on #37434
@raisedadead will add this cause it's complex.

[2022-06-08 14:35] moT01 commented on #38947
Closing as fixed.

[2022-06-08 14:35] #38947 closed

[2022-06-08 14:36] raisedadead opened #46405 "Unify challenge testing for Curriculum in Browser & Tooling"
We do not have an overlap between how we run challenge tests (the tests that a user needs to pass when completing a challenge) in the browser and in the tooling (`npm run test:curriculum`).

While they should work in an ideal world. Sometimes they do not lead us to figure out workarounds like changing user stories which is not a good idea.

Older thread: https://github.com/freeCodeCamp/freeCodeCam

[2022-06-08 14:48] #39508 closed

[2022-06-08 14:54] moT01 commented on #39647
We need to continue to support Safari the best we can, so nothing needs to change here.

[2022-06-08 14:54] #39647 closed

[2022-06-08 15:11] ojeytonwilliams commented on #39739
I'll look into that, but I'm not sure if/when that will be possible.

[2022-06-08 15:20] moT01 commented on #40466
Closing cause we don't have the power.

[2022-06-08 15:20] #40466 closed

[2022-06-08 16:38] L4rryFisherman opened #46407 "Test too narrow, accepts `rating` only as a string."
### Describe the Issue

The instruction asks to:
1. filter the array
2. map the array to a new array
3. convert the `rating` variable to a number

It does not specify in what order these should be done. A sensible approach seems:
1. Map array to array1 while converting the 'rating' variable to a number.
2. Filter array1 to array2 with `rating` > 8

However the result is not accepted, because the t

[2022-06-08 21:19] #46407 closed

[2022-06-08 22:59] jeremylt opened #46411 "Feature: Mark editable regions on help posts in forum"
### Describe the Issue

The forum help posts submitted by users do not show the editable parts of the code. The snippets ('you code so far') have boilerplate code which makes it difficult to understand the actual edits made by the user.

### Steps to Reproduce

1. On any later step in the RWD project, click Ask For Help and look at the forum post contents.
2. The code snippet looks like so:

[code

[2022-06-09 01:20] nhcarrigan commented on #46411
The editor knows where the editable regions are, so we could probably include the `--fcc-editable-region--` markers in the forum post. 🤔

[2022-06-09 06:37] Sboonny opened #46414 "curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/create-a-model.md`http://mongoosejs.com/docs/guide.html`curriculum/challenges/english/05-apis-and-microservices/mongodb-and-mongoose/perform-classic-updates-by-running-find-edit-then-save.md`Instructions Link: https://mongoosejs.com/docs/schematypes.html#Mixed`"

[2022-06-09 06:37] #46166 closed

[2022-06-09 06:42] #46414 closed

[2022-06-09 10:09] ieahleen commented on #46411
sometimes users would go to change stuff outside of the defined editable region. Is there a way to point out that change when users change the lines in the editable region?

[2022-06-09 11:08] ojeytonwilliams commented on #46411
In the editor? We used to have that functionality. It should be possible to implement it again.

[2022-06-09 14:53] tugkankibar opened #46423 "On macOS keyboard shortcut is shown as Ctrl+Enter instead of Cmd+Enter"
### Describe the Issue

Even though on macOS it would seem that Ctrl+Enter does not work & Cmd+Enter does; website still tells you to use Ctrl+Enter.

I think this might end up being confusing for some - and should be fairly straightforward of a change.

### Affected Page

All coding pages

### Steps to Reproduce

You must use macOS for this issue.

1. Go to any coding challenge
2. Type your chang

[2022-06-09 17:32] L4rryFisherman commented on #38060
Experiencing the above error currently: `ReferenceError: React is not defined`

(OS x 12.4 Firefox 101.01 (64-bit) & Brave 1.39.111 (arm64))

<img width="1146" alt="Screenshot 2022-06-09 at 19 31 06" src="https://user-images.githubusercontent.com/99208478/172908728-5ebe8c5f-fc13-4343-9988-e54bf5912d92.png">

[2022-06-09 17:46] JordanMooree commented on #46385
Thanks for opening this issue.

This looks like something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

### Suggested change:
Add in the following test to [this file](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-bui

[2022-06-09 18:02] L4rryFisherman opened #46426 "All React Challenges Fail To Load Dependencies"
### Describe the Issue

Experiencing [this previously resolved issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/38060) currently: `ReferenceError: React is not defined`

(OS x 12.4 Firefox 101.01 (64-bit) & Brave 1.39.111 (arm64))

<img width="1146" alt="Screenshot 2022-06-09 at 19 31 06" src="https://user-images.githubusercontent.com/99208478/172908728-5ebe8c5f-fc13-4343-9988-e54bf5912d

[2022-06-09 20:07] tugkankibar commented on #46423
I've created the PR however;

https://github.com/freeCodeCamp/freeCodeCamp/pull/46428#issuecomment-1151568332

[2022-06-09 20:22] raisedadead commented on #46423
Do not worry, I think you are putting too much effort into it. Simply drop the changes to those files and as the bot mentioned, they will get updated eventually via our translation workflow.

As for the bug itself:

I am 100% sure at some point we introduced a regression, because `Ctrl + Enter` (in addition to the implicit Cmd + Enter) was working since the inception of the code editor.

@freeCode

[2022-06-09 21:19] L4rryFisherman commented on #46426
@raisedadead

Just tried on mobile hotspot, presumably AdGuard is blocking the domain from which the React is being loaded. Which I assume is out-of scope.

[2022-06-09 21:19] #46426 closed

[2022-06-09 21:23] LIGHTNINGSEVEN opened #46430 "Grammar error in Step 68 of Project 2 (CSS Cafe Menu) in new RWB"
### Describe the Issue

Hello all!

There's a grammar error on Step 68 of Project 2 (CSS Cafe Menu) in the new RWB.

It reads: "Change *the height the hr element* to be 3px."

It should read: "Change the *height* **of** *the hr element* to be 3px."

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/step-68

### Your code

[code

[2022-06-09 21:46] ieahleen commented on #46430
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3f26fa39591db45e5cd7a0.md

Please

[2022-06-10 03:53] #46385 closed

[2022-06-10 05:32] raisedadead commented on #46426
Ah - yeah. Thanks for for confirming.

[2022-06-10 08:18] ojeytonwilliams commented on #46423
I can't check this myself, since I don't have a mac, but it *should* work. This is the code:

https://github.com/freeCodeCamp/freeCodeCamp/blob/1083f1d5c5a58a4b399f1af4842abd96443aff0b/client/src/templates/Challenges/classic/editor.tsx#L427-L431

and

https://github.com/freeCodeCamp/freeCodeCamp/blob/1083f1d5c5a58a4b399f1af4842abd96443aff0b/client/src/templates/Challenges/components/Hotkeys.tsx#L4

[2022-06-10 08:41] tugkankibar commented on #46423
@ojeytonwilliams

I've shot a short video of the behaviour I am seeing; if that helps.

https://www.loom.com/share/9d590c0470c449b69e8fa83cbce5de45

[2022-06-10 09:01] #46338 closed

[2022-06-10 10:24] ojeytonwilliams commented on #46423
That does help, yeah. It seems to be ignoring the command button entirely, which is odd.

I can't investigate myself, but this will help anyone that has access to a Mac.

[2022-06-10 10:57] tugkankibar commented on #46233
This issue is reproducible on any step that checks for `background-color` to `background`. It only seems to happen on Safari; as Google Chrome works normal.

Furthermore; it seems to be some magic regarding `background` property being transformed. In the following screenshots, you can see it happening;

<img width="1570" alt="Screenshot 2022-06-10 at 12 43 46" src="https://user-images.githubuserco

[2022-06-10 13:28] #46430 closed

[2022-06-10 13:47] jeremylt opened #46443 "Users blindly copying example"
### Describe the Issue

I like this description better, but now users are blindly copying the example and jamming it into their code instead of reading the instructions.. I'm not sure how to help prevent that?

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-6

### Your code

Sample User Code:
[code]

### Expected behavio

[2022-06-10 14:35] ojeytonwilliams commented on #46443
I think this step introduces too many concepts at once.  First users are supposed to intuit that nesting is putting an element inside another element and then they're told that this makes the nested element a child of the parent.

I'd recommend dropping everything about parent-child relationship entirely and just talking about nesting.

[2022-06-10 14:52] moT01 commented on #46423
Thanks for the video @tugkankibar 👍

I don't recall if ctrl+enter ever worked on mac - I may or may not have ever used it. I just hit buttons without looking 😬

I'm not sure if you are trying to show something specific with those code snippets @ojeytonwilliams - that's the code on main. Which results in the current behavior.

Here's the current behavior I see (all on mac) - there's some nuance...

[2022-06-10 15:13] jeremylt commented on #46443
Something like this maybe:

---

Step 6

In the previous step, you nested the `h2` element, comment, and `p` element within the main element. Nested elements should be indented two more spaces than their parent element to improve readability, like this:
[code]
Add two spaces in front of the `h1`, comment, and `p` elements so your HTML is more readable.

[2022-06-10 15:31] moT01 commented on #46423
K, I think I found a fix.

ctrl+enter works when the hotkeys package/component is used. So crtl+enter actually does work on the legacy challenges when the instructions are focused. When the editor is focused, those hotkeys don't get used, the actions/hotkeys we add to the editor take over.

I made ctrl+enter work when the editor is focused by changing that line 431 @ojeytonwilliams mentioned to th

[2022-06-10 15:52] ShaunSHamilton commented on #46443
I would change the wording to:

The use of _"should"_ should be avoided.

[2022-06-10 15:54] jeremylt commented on #46443
Step 6

In the previous step, you nested the `h2` element, comment, and `p` element within the main element. Indenting nested elements two more spaces than their parent element improves readability:
[code]
Add two spaces in front of the `h1`, comment, and `p` elements so your HTML is more readable.

[2022-06-10 15:58] ojeytonwilliams commented on #46443
Nice, this flows well and is straight to the point.

[2022-06-10 16:05] ojeytonwilliams commented on #46423
Nice work, Tom.  I thought CtrlCmd was "Ctrl or Command", but it must be Ctrl on Windows and Command on Mac :man_facepalming:

I guess this has never worked properly.

[2022-06-10 16:13] jeremylt opened #46444 "Typo in challenge text"
### Describe the Issue

The 100 should be a superscript in the last line of this challenge.

### Affected Page

https://www.freecodecamp.org/learn/coding-interview-prep/project-euler/problem-168-number-rotations

### Your code

N/A

### Expected behavior

Should say

We may also consider better mathematical formatting?

### Screenshots

_No response_

### System

All

### Additional context

_No r

[2022-06-10 17:34] ShaunSHamilton commented on #46444
Seems like it has been like this for a while: https://github.com/freeCodeCamp/freeCodeCamp/pull/42782/files#diff-07874ce76ee81c81cbbf0aeef396a6bc5de9a00628ae20572e0fee082849c78c

I will open this up to first timers. The expected fix is to use MathJax (KaTeX-like) to render the following:

$$
n: 10 < n < 10^{100}
$$

---

An issue with the  _first timers only_ label is open for contribution. The fi

[2022-06-10 18:04] jeremylt commented on #46444
I actually saw a way to roll this into a fix that expands the challenge so that `const myCrapSolution = () => theAnswer` won't work.

[2022-06-10 18:16] raisedadead commented on #45307
From https://github.com/freeCodeCamp/freeCodeCamp/pull/45316

At some point when we fix the circular dependencies, we can change this file:

https://github.com/freeCodeCamp/freeCodeCamp/blob/55e71cb5995c214a860ec909b76286de17494b6d/.eslintrc.json#L37

to include a warning rule like this:

[code]

This comment is for future reference for someone interested in working on this (that is actually fixin

[2022-06-10 21:03] tugkankibar commented on #46423
@moT01 happy to give it a look and update the PR. Thank you 🙏

[2022-06-10 23:14] jinlikegold opened #46448 "console preview"
### Describe the Issue

In the new Responsive Web Design course, which I'm going through after completing the Legacy course, the preview window will reset to the top of the screen while adding new code in the console. This means that if I'm adjusting code that affects an element on the lower half of the screen, I can't see the result until I manually scroll down on the preview.

Frequently, especi

[2022-06-10 23:56] ieahleen commented on #46448
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue https://github.com/freeCodeCamp/freeCodeCamp/issues/46061, so we are closing it as a duplicate.

If you think we're wrong in closing this issue, please request for it to be reopened and add further clarification. Thank you and happy coding.

[2022-06-10 23:56] #46448 closed

[2022-06-11 01:03] jinlikegold commented on #46448
Great, glad it’s been brought up already and thanks for letting me know.

[2022-06-11 06:03] Bharath314 opened #46453 "New RWD: Test cases don't pass when you include a space between attribute and its value"
### Describe the Issue

In step 17 of Learn Basic CSS by Building a Cafe Menu, using a space between attribute and equals sign results in the code failing.

 I believe this is an issue because it goes against the principle "any valid syntax must be allowed to pass", which means that the tests not passing due to the presence of space is unexpected/ undesired behavior.

### Affected Page

https://ww

[2022-06-11 06:28] #46356 closed

[2022-06-11 06:58] #46444 closed

[2022-06-11 07:05] ieahleen commented on #46443
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc23991f86c76b9248c6eb8.md

What yo

[2022-06-11 07:25] Sboonny opened #46456 "curriculum/challenges/english/10-coding-interview-prep/rosetta-code/hofstadter-figure-figure-sequences.md`https://oeis.org/A005228``https://oeis.org/A030124``https://en.wikipedia.org/wiki/Hofstadter_sequence#Hofstadter_Figure-Figure_sequences`"

[2022-06-11 07:26] #46456 closed

[2022-06-11 17:42] Sboonny commented on #46453
Jeremy had similar issue pop up in discord, I am wondering how often does this come up?

Anyway a valid answer should pass.

[2022-06-11 19:38] ieahleen commented on #46453
The head elements have to be checked with regex, so probably every step that there is such an element tested

[2022-06-11 19:41] ieahleen opened #46463 "Html and css validation for projects"
### Is your feature request related to a problem? Please describe.

Sometimes users are able to submit projects that pass all the tests even if they have invalid html.

### Describe the solution you'd like

It could be an idea to add an extra validation step in which the html and css are validated, and users are unable to submit invalid html and css - like it happens with JavaScript, as that just

[2022-06-11 19:53] ShaunSHamilton commented on #46463
Hey Ilenia,

Are you able to share an example of invalid HTML?

The tests test the output (rendered) HTML. So, if the browser can understand what the Camper meant to do, then it will parse it as such. We specifically do not test the user code, where we can, because there are millions of permutations of valid code, and writing RegEx to capture all of these cases is difficult.

[2022-06-11 21:11] ieahleen commented on #46463
I will find an example of code that passes all tests but have issues with validity

I mean validation like this does
https://validator.w3.org/

[2022-06-12 07:46] JOSHI-owo commented on #46443
@ieahleen  Can you assign it to me?. I'm new to open source and would like to contribute.

I reviewed the first post of this issue, had I seen this earlier, I would have suggested to add bullet points. In that case user would have found in easy to read and understand.

[2022-06-12 07:52] gikf commented on #46443
Hey @JOSHI-owo

Issues are typically not assigned to specific person. You can read more about this at https://contribute.freecodecamp.org/#/FAQ?id=how-can-i-get-an-issue-assigned-to-me.

Issues labelled with `help wanted` or `first timers only` are open for contributions.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). Join us in [our chat room

[2022-06-12 12:03] Sboonny commented on #45553
I am wondering if this should be closed with Tom PR?

[2022-06-12 12:30] Sboonny commented on #45585
This issue requires changing this function, in [1.1.test.js](https://github.com/Sboonny/learn-celestial-bodies-database/blob/edfea3fbf650d5516766d6e039c3d242989f76d8/.freeCodeCamp/test/1.1.test.js#L105-L114)

[code]

  Does, changing `data_type` in `queryIntegerColumns`, help?

[2022-06-12 12:34] sidemt opened #46468 "Flash message stays displayed even after navigating to another page"
### Describe the Issue

I noticed that a flash message stays displayed even after navigating to another page. Was it always like this?

### Affected Page

any

### Steps to Reproduce

1. Perform any action to show a flash message (For example, change some settings)
2. Go to a different page
3. See the flash message

### Expected behavior

Flash message should disappear after navigating to a differ

[2022-06-12 12:47] jeremylt commented on #46443
Most of our text *does not* use bullet points. I don't think they are needed here, just some linguistic simplification.

[2022-06-12 15:32] AdamZaczek commented on #45553
It looks like it should @Sboonny . Thanks everyone for the help with this issue.

[2022-06-12 15:35] #45553 closed

[2022-06-12 15:59] L4rryFisherman opened #46470 "Typo in challenge instructions React - Array.map"
### Describe the Issue

Instructions say:

"Next, delete the comment in the `render()` method..."
instead of:
"Next, delete the `null` value in the `render()` method..."

### Affected Page

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/03-front-end-development-libraries/react/use-array.map-to-dynamically-render-elements.md

[2022-06-12 16:54] Njong392 commented on #46443
Are you currently working on this @JOSHI-owo ?

[2022-06-12 17:08] ShaunSHamilton commented on #46468
I think it has always been like this, and this, in my opinion, is expected behaviour.

The flash messages are supposed to be relatively important. So, the only reason they should _disappear_ is when a Camper closes them.

[2022-06-12 17:11] Ismailtlem commented on #46178
Hi @ahmadabdolsaheb ,

I am interested in going for this one first :  Add the modal progress bar to the button of the lower jaw.
I will start on that asap

[2022-06-12 17:43] JordanMooree commented on #46443
You do **not** need to seek permission before working on this. However, issues with the first-timers-only label are special issues that are designed for people who have not contributed to the freeCodeCamp codebase before. Sometimes we may get more than one pull request. We typically accept the most quality contribution followed by the one that is made first.

So feel free to begin working on this!

[2022-06-12 18:17] Sboonny commented on #40867
I am wondering if [PR 46220](https://github.com/freeCodeCamp/freeCodeCamp/pull/46220), closes this.

[2022-06-12 18:32] Njong392 commented on #46443
I've already created a PR for this, but should the fact that most IDEs already implement the indentation be mentioned?

[2022-06-12 18:34] jeremylt commented on #46443
The thinking is that this step explains why everybody adds indentation and why editors do this for users.

[2022-06-12 18:39] Njong392 commented on #46443
Ah okay. Got it!

[2022-06-12 19:06] bbsmooth commented on #46443
While we are at it, can we fix the hint as well. If you do nothing with the default code you get the following hint:

"Your h2 element should be below the main element's opening tag and its opening tag should start 6 spaces over from the start of the line."

But the `h2` is already below the `main` so I think this is just leading to more confusion.

Also, I had a camper tell me in the forums that

[2022-06-12 19:15] Sboonny commented on #46443
I remember suggesting a lenient approach, when the similar issue opened. I thought more space was implemented then.

[2022-06-12 19:25] Njong392 commented on #46443
I see what you mean by this. The hint is saying something slightly different from the instructions. Tried to solve the challenge based on the instruction and got the six spaces error.

[2022-06-13 04:04] Nirajn2311 commented on #46423
Here's an [issue](https://github.com/microsoft/monaco-editor/issues/102) I had created sometime back when working on the `editor`. Apparently the logic goes like this - the first word is Windows and the second one is Mac button.

[2022-06-13 05:18] Owais28 commented on #46468
I think some flash messages should disappear after sometime. For example, after signing up successfully a flash notification should disappear itself.

[2022-06-13 07:16] Sboonny opened #46475 "Hofstadter Figure-Figure sequences Rosetta challenge needs a better description"
In the challenge you are given sequences, and instructions. But we lack description of what the issue is. I am wondering if you have suggestions for it, because I can't seem to figure it out, even when researching it and the links didn't help me.

![image](https://user-images.githubusercontent.com/88248797/173300942-f8bd73b9-a70b-4f6f-9737-646c15f05c73.png)

----

Link for the step in freeCodeCamp

[2022-06-13 07:34] ojeytonwilliams commented on #40867
This will get fixed by the move from `chinese.freecodecamp.org` to `www.freecodecamp.org/chinese`, primarily by the PR I've set to close this (technically the NGINX config needs changing, too)

[2022-06-13 07:40] gikf commented on #46475
There isn't an issue per se. Goal is to have two functions, `ffr` and `ffs`.

`ffr` returns the value of `R` for the `n`, `ffs` value of `S` for the `n`.

`R` and `S` are sequences that depend on each other.

[2022-06-13 08:25] #46453 closed

[2022-06-13 09:42] BadLoaf opened #46478 "Test case missing in CSS variable challenge"
### Describe the Issue

The site accepts code without the required
```background-color: var(--building-color4);```
in the .bb4 selector
for Step 27 of the Learn CSS Variables by Building a City Skyline in the New Responsive Web Design course.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-variables-by-building-a-city-skyline/step-27

### Your code

[cod

[2022-06-13 10:16] BadLoaf opened #46481 "Unclear instructions in CSS variables challenge"
### Describe the Issue

Unclear Instructions in step 41 of the Learn CSS Variables by Building a City Skyline of the (New) Responsive Web Design course.

You want to add the same gradient to the next two sections. Instead of doing that, **create a new class called bb1-window,** and move the height and background properties and values from .bb1a **to the new class**.

I believe telling the user to

[2022-06-13 13:46] sidemt commented on #46468
Thank you @ShaunSHamilton . It's OK with me if it was by design. But I also agree with @Owais28 , I thought most of the flash messages are mainly used for letting users know the result of their action and don't need to stay there if user moved on to a different page.

I will close this issue for now as it was not a bug.

[2022-06-13 13:46] #46468 closed

[2022-06-13 14:06] ahmadabdolsaheb commented on #46178
@bbsmooth I am evaluating different lower jaw variations to see if we could save space and give feedback to users more concisely.  Are there any a11y drawbacks with the middle and left design. (the icon could have a test related label)

<img width="1892" alt="Screen Shot 2022-06-03 at 4 40 02 PM" src="https://user-images.githubusercontent.com/4591597/173369534-6f8eb625-b6e7-4794-9031-459f3c4ff810.

[2022-06-13 17:18] Sboonny commented on #41354
here is the file [curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/sudoku-solver.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/sudoku-solver.md)

I am planning to solve the project, first. then I will attempt to solve this, because of fCC honest policy

[2022-06-13 18:53] #46481 closed

[2022-06-13 22:55] moT01 commented on #46463
This is an interesting idea. I'm on the fence about it. I passed all the projects on .dev - I put the code I used into two different validators: https://www.freeformatter.com/html-validator.html & https://appdevtools.com/html-validator - I got quite a few errors. One found 13 issues, the other found 10:
![Screen Shot 2022-06-13 at 5 43 38 PM](https://user-images.githubusercontent.com/20648924/1734

[2022-06-14 00:21] moT01 commented on #46195
I commented on the PR. I don't think this change is necessary - but I guess if someone wants to do the work, I don't mind it either.

[2022-06-14 02:19] #46470 closed

[2022-06-14 05:08] bbsmooth opened #46492 "Cat Photo App - Step 6: Extra spaces after opening main tag causing test to fail"
### Describe the Issue

The camper's HTML was indented correctly but they accidentally added some extra spaces after the opening `<main>` tag which caused the test to fail.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-6

### Your code

[code]

### Expected behavior

Test should probably pass even with those extra spac

[2022-06-14 05:55] Njong392 commented on #46443
@jeremylt already proposed changes for the wording. If you scroll up for a bit I think you should see it.

[2022-06-14 07:12] ieahleen commented on #46463
I never had to nest a p in a label, I think the projects can all be passed with satisfying all of that
I think it will make campers ask more for help but it would also mean they have to better more their skills to pass

[2022-06-14 07:25] raisedadead commented on #46493
Moved the issue to this repo for better visibility and @Sboonny mentioned to me in the chat this is being discussed in the Chrominum tracker here: https://bugs.chromium.org/p/chromium/issues/detail?id=1329080#c7

[2022-06-14 07:28] raisedadead commented on #46493
And finally, the Chromium team has also closed this as a wontfix, because the behavior is intentional.

[2022-06-14 09:56] #46478 closed

[2022-06-14 10:56] toby016 opened #46495 "https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-colors-by-building-a-set-of-colored-markers/step-49"
### Describe the Issue

The code is correct but throw an error on certain browsers.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-colors-by-building-a-set-of-colored-markers/step-49

### Your code

[code]

### Expected behavior

Test should pass with the above codes.

### Screenshots

<img width="575" alt="image" src="https://user-images.githubusercont

[2022-06-14 11:45] Sboonny commented on #46492
You mentioned [in different issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/46443#issuecomment-1153263874)

This test has similar issue `assert(code.toLowerCase().match(/<main\>\n\s{6}<h2>/))` , I wonder what you mean by tabs

At first I thought you meant something like this `assert(code.toLowerCase().match(/<main\>\n\s{6,}<h2>/))` but reading it again, I noticed my misunderstanding.

[2022-06-14 12:01] Sboonny commented on #46463
Isn't this more complicated? I remember the intention is to teach the basic so someone can get a job, for me w3 validator isn't required to get a job.

But it does improve the skillset we can add a note about it, or make a "hardcore mode" which uses it

[2022-06-14 12:52] Sboonny opened #46497 "Making `/settings`' buttons consistent"
### Is your feature request related to a problem? Please describe.

There are 3 buttons with different innerText `View`, `Show Code`, `Show Solution`

~~Edit: did I just put same buttons twice🤦🤣, because I am currently away from laptop~~ check [setting](https://www.freecodecamp.org/settings)

![image](https://user-images.githubusercontent.com/88248797/173580640-e3ff6c6a-a3fb-4121-8156-cd681e39e8b8

[2022-06-14 16:52] ieahleen commented on #46463
I volunteer @Dario-DC for that!

---

I think it's something to keep in mind, also to raise quality of finished projects from campers, as a small thing going toward the university degree thing.

[2022-06-14 18:33] ieahleen opened #46500 "Typo (translions) in workflow title"
One of the workflows has title with "translions" instead of "translations"

![image](https://user-images.githubusercontent.com/26656284/173662805-bc316c15-c8fa-48fa-8e14-1bb15825bc84.png)

---

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

File: https://github.com/freeCodeCamp/freeCod

[2022-06-14 18:46] Sboonny commented on #46500
I had to remove first time only because it's hard to deal with `git config` and PAT following [our guidelines for contributing](https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-locally)

but hey, if first time can understand this error: then they can go ahead with it (refusing to allow an OAuth App to create or update workflow `.github/workflows/no-prs-to-translation.yml` without `w

[2022-06-14 20:51] QuincyLarson opened #46501 "freeCodeCamp articles don't get saved to @Pocket correctly"
**Describe the bug**
When saving freeCodeCamp articles to Pocket, articles don't get saved correctly, and instead it seems to save some more general metadata and say the article's author is "clearTimeout".

**Expected behavior**
Normally, Pocket should save the entire article so people can read it offline.

**Screenshots**
Video with behavior here: https://twitter.com/dk_prabhu/status/153676812318

[2022-06-14 23:10] bbsmooth commented on #46492
That P.S. comment was just me having a little fun with the fact that I can come off as sort of a kill joy because I'm always bringing up accessibility issues that can potentially create extra work. I didn't expect it to be taken seriously and I'm not expecting any of the curriculum to switch from spaces to tabs. But tabs are more accessible, so in the ongoing war between tabs and spaces, tabs win!

[2022-06-15 00:59] meaghangallant commented on #46091
Just want to note for others also stumbling across this: the title says step 15 but the description and given solution are for step 16

[2022-06-15 03:55] Sboonny commented on #46492
Oh this is embarrassing 😅. Well I don't think anyone thought of your opened issue as a killer joy, unless you have had advocated for Vim or Emacs 🤔

[2022-06-15 04:30] pdwarkanath commented on #46501
I reported this.

Phone: Pixel 4a
Browser: Brave

[2022-06-15 06:42] Bharath314 opened #46502 "New RWD : Concepts like `vh` and `rem` are never explained"
### Describe the Issue

In [step 7](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-forms-by-building-a-registration-form/step-7) of `Learn HTML Forms by Building a Registration Form`  , we are asked to set the height of the body element to 100vh. However, the unit vh was never introduced in earlier lessons and there is no explanation given at this step too as to what it i

[2022-06-15 09:23] Aarush-wadhia commented on #44668
Hello, I would like to contribute to this project.

[2022-06-15 13:10] ocBruno commented on #46178
Hey I wanted to take on the confetti at the end of each project and was wondering if I can use this package or we want something CSS only or in vanilla js?

https://www.npmjs.com/package/canvas-confetti
https://www.kirilv.com/canvas-confetti/

[2022-06-15 13:33] Sboonny opened #46510 "Unlimited forms created by spamming add items button in user setting"
### Is your feature request related to a problem? Please describe.

When you navigate to [/settings](https://www.freecodecamp.org/settings) scroll to portfolio setting and press `Add a new portfolio Item`
![thumb-Clipboard - June 14, 2022 8_34 PM](https://user-images.githubusercontent.com/88248797/173835500-6c4bb81a-8727-4dc7-981a-54b178cfef04.png)

 If you keep pressing them a number of times, yo

[2022-06-15 14:46] luojiyin1987 opened #46511 "the show code is wrong at https://www.freecodecamp.org/news/the-definitive-node-js-handbook-6912378afc6e/"
### Is your feature request related to a problem? Please describe.

![image](https://user-images.githubusercontent.com/6524977/173854553-ad8422c8-40e0-4021-8eaa-1d7981080480.png)
![image](https://user-images.githubusercontent.com/6524977/173854621-7153fdde-7928-4080-9991-541b51ff10c2.png)
![image](https://user-images.githubusercontent.com/6524977/173854800-6e8472b6-f4f9-4671-a100-851e5cbb92b4.png)

[2022-06-15 15:17] ieahleen commented on #45473
@gikf did you do all the projects? or there is something missing?

[2022-06-15 16:23] bbsmooth commented on #46443
Just more random thoughts on this.

Perhaps we should add some tests that look for the `<ul>` and `<li>` elements and then we could give feedback telling them that they should not add any new elements to the HTML and even recommend they restart the step.

[2022-06-15 16:50] bbsmooth opened #46513 "Ask for Help/Restart Step buttons take too long to show for some steps"
### Describe the Issue

I think it is taking too many tries before the Ask for Help/Restart Step buttons appear in the lower jaw for certain steps. The notorious step 6 in the Cat Photo App takes eight attempts! I understand the reasoning for not wanting to show those buttons immediately but I think we may want to put a reasonable max limit on the number of attempts before they show (3 perhaps). M

[2022-06-15 17:06] Sboonny commented on #46443
I do like the idea but as mentioned in issue #46513 , it takes a while before restart the step button shows up, so I vote for it but excluding `they restart the step`.

[2022-06-15 17:14] ieahleen commented on #45473
Ok, let's see if I can do it

[2022-06-15 18:10] jeremylt commented on #46492
I wish tabs over spaces was more common....

Anywho, +1 to the idea of adding a test to check that users don't just dump the sample indentation code in

[2022-06-15 18:11] jeremylt commented on #46443
+1 to the idea of adding a test to check that users don't just dump the sample indentation code in

[2022-06-15 18:12] jeremylt commented on #46513
Yeah, I agree with this. I think maybe 3 would be a good max?

[2022-06-15 18:16] sidemt commented on #39739
Thank you all for working on this! I noticed an issue with regards to translation.

It looks like if you nest markdown syntax within HTML tags, Crowdin (translation tool) can't parse them properly.

For example, the string below in [this file](https://github.com/freeCodeCamp/freeCodeCamp/blob/7fc4367abd0fd7cb29549f5045007ce594e02041/curriculum/challenges/english/02-javascript-algorithms-and-data-s

[2022-06-15 18:34] bbsmooth commented on #46178
@ahmadabdolsaheb Concerning the feedback for incorrect code, I think either the middle or right one would be fine. The middle one has the text "Code does not pass" so we would not want an aria label on the icon, we would want to hide the icon completely from SR users. The right one does not have that text so we would need to add an aria label or sr-only text that tells the user their code did not

[2022-06-15 20:57] bbsmooth commented on #46236
PR #46217 has been merged and is on production and we are now able to scroll the editor at any position using the line number gutter. It's not a perfect solution but probably good enough since getting vertical scroll to work on monaco's content and overlay widgets is probably not possible without fixing the monaco code itself.

[2022-06-15 20:57] #46236 closed

[2022-06-16 04:31] Bharath314 commented on #46502
I'm still going through the course so I'll let you know if they are explained later. But I still feel a brief one line explanation as to what they are is needed at least even if they are explored in detail in later projects. Just dumping them onto learners would only confuse them and send them down a rabbit hole of resources. I know I was.

[2022-06-16 06:15] thejefftrent commented on #3714
Weather.gov currently does not require an api key. However, at the time of writing the page says they are planning on implementing an api key

https://www.weather.gov/documentation/services-web-api

[2022-06-16 09:35] yassinefeteh opened #46517 "Freecodecamp"

[2022-06-16 09:45] raisedadead commented on #46195
I am going ahead and closing this. Thanks for taking the time to report this.

[2022-06-16 09:45] #46195 closed

[2022-06-16 09:54] #46517 closed

[2022-06-16 11:49] #46475 closed

[2022-06-16 13:24] moT01 opened #46523 "Move Legacy RWD to bottom of map"
### Is your feature request related to a problem? Please describe.

I'm not sure if we want to implement this yet, but we could discuss it and get a PR ready. We will want to move the legacy RWD to the bottom of the map.

### Describe the solution you'd like

Here's how I might like to see it:
![Screen Shot 2022-06-16 at 8 20 49 AM](https://user-images.githubusercontent.com/20648924/174079126-31d0

[2022-06-16 13:40] moT01 commented on #46510
To clarify a little, each time you click that "Add a new portfolio Item" button, a new form shows up to add an item. You can spam it and have a bunch of forms show up...

![Screen Shot 2022-06-16 at 8 32 11 AM](https://user-images.githubusercontent.com/20648924/174081509-91100a34-ca9f-4073-bde8-d180b6a0c625.png)

The bigger issue I see is that each time you click a save or remove button, it makes

[2022-06-16 13:43] Sboonny commented on #46523
Because the new JS is coming, too. I was thinking of adding buttons below the quotes, that toggle legacy and updated challenges.

Something like this, of course with different styling as well.

![image](https://user-images.githubusercontent.com/88248797/174083034-b5b3a08b-c212-41a6-826d-77f7872beaf5.png)

[2022-06-16 13:43] ahmadabdolsaheb commented on #46178
@bbsmooth thanks for the feedback. Since we will be bringing the success quote from the success modal to the lower jaw, would it be better to keep the congratulations notice or part of it sr-only. Here are some alternatives.

<img width="1269" alt="Screen Shot 2022-06-16 at 3 59 52 PM" src="https://user-images.githubusercontent.com/4591597/174082443-727e3ff7-040a-44fc-91a7-69b591061798.png">

[2022-06-16 14:45] moT01 commented on #45949
I think we should change this to a table so it looks like what's on the timeline page. Then they can all be buttons.

[2022-06-16 17:07] bbsmooth opened #46527 "CatPhotoApp - Step 43: Spacing requirements not stated in instructions"
### Describe the Issue

The test will only pass if there is a space between the `input` and the text "Indoor" but this is not stated in the instructions. It is explained in the hint but I feel that we should make it clear in the instructions to avoid confusion and frustration for the user.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-ca

[2022-06-16 18:05] JordanMooree commented on #46523
I think this would be a _really good_ approach. Showing the user what type of content they will learn will help them map out a learning roadmap for themselves.

[2022-06-16 20:12] bbsmooth opened #46530 "Consider changing monospaced font for code examples"
### Describe the Issue

I've had two different forum posts today in which the user thought the lowercase L was the number 1 in the HTML code examples, and I have seen this before today as well. I can definitely understand the confusion. In the example below, the user mistook the "ul" element for "u1".

![image](https://user-images.githubusercontent.com/5926192/174152579-ed5feca7-5d16-43ab-8465-6ae

[2022-06-16 23:50] bbsmooth commented on #46259
PR #46272 did not address Bug 1 sufficiently since the "Ask for Help" and "Reset Step" buttons do not appear until after a certain amount of failed checks.

[2022-06-17 07:22] Sembauke commented on #46523
I really like the idea @jeremylt suggested.

[2022-06-17 07:51] Eidan78 opened #46534 "Sign-in button missing visiting a profile page in portrait mode"
On a mobile browser or on a desktop one (under a width resolution of 456px ) there is no sign-in button to login in freecodecamp even in the burger menu in portrait mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit a profile page from the smartphone in portrait mode (Ex. [this page](https://www.freecodecamp.org/eidan))
2. Log out if logged in
3. The sign-in button is missing on the

[2022-06-17 07:59] #46527 closed

[2022-06-17 10:57] ieahleen commented on #46523
doesn't information security have Python in it? can we really put it above Python considering the curriculum is a linear path?

[2022-06-17 12:45] #45419 closed

[2022-06-17 13:45] ahmadabdolsaheb commented on #46523
ideally we would only need to have one RWD in the map.
We could have the versions in a dropdown at the top of the intro similar to react bootstrap docs.
<img width="231" alt="Screen Shot 2022-06-17 at 4 43 01 PM" src="https://user-images.githubusercontent.com/4591597/174310493-165a2789-4d52-4263-84e0-868781b2fe4c.png">

[2022-06-17 13:59] ahmadabdolsaheb commented on #46534
It does not show up for that specific device size. You should be able to see it if you tilt your device.
The best solution is to minimize the logo early so the sign in button could be displayed.

[2022-06-17 14:03] ahmadabdolsaheb commented on #46530
If the issue is wide spread, I am open to finding a better monospaced font across platforms.

[2022-06-17 14:04] Eidan78 commented on #46534
I agree with reducing the logo size, I edited the post with your suggestion. That's why I specified that it doesn't works in protrait mode but it does in landscape.

[2022-06-17 15:01] ahmadabdolsaheb commented on #46534
After a certain break point, we would need to use icons for the menu and the sign in button.

[2022-06-17 15:01] shootermv commented on #46534
i can see 'sign-in to change the theme' option at open menu, but for some reason it is disabled
![image](https://user-images.githubusercontent.com/1336862/174324351-b0bd0956-4643-4a5d-b0da-eef9079e07d8.png)

[2022-06-17 15:19] ieahleen opened #46537 "Html validation errors and warnings for Magazine practice project"
Related to: https://github.com/freeCodeCamp/freeCodeCamp/issues/46463#issuecomment-1155180861

The final code of the project has been validated with three different html validators (https://www.freeformatter.com/html-validator.html, https://appdevtools.com/html-validator, https://validator.w3.org/), resutling in these errors and warnings:

- [ ] `Warning: This document appears to be written in Eng

[2022-06-17 15:20] ahmadabdolsaheb commented on #46513
I don't have any hard data if the current strategy is working or not. We could potentially display both buttons side by side as button icons with hover based tooltips from the first attempt.

[2022-06-17 15:25] ieahleen opened #46538 "Html validation errors and warnings for Photo Gallery practice project"
Related to: https://github.com/freeCodeCamp/freeCodeCamp/issues/46463#issuecomment-1155180861

The final code of the project has been validated with three different html validators (https://www.freeformatter.com/html-validator.html, https://appdevtools.com/html-validator, https://validator.w3.org/), resutling in these errors and warnings:

~~- [ ] An “img” element must have an “alt” attribute
None

[2022-06-17 15:25] ahmadabdolsaheb commented on #46534
That is the theme toggle (light/dark) but you have to be signed in to access that.

[2022-06-17 15:27] Dario-DC opened #46539 "HTML validation errors and warnings for Cafe menu practice project"
Related to https://github.com/freeCodeCamp/freeCodeCamp/issues/46463#issuecomment-1155180861
The final code of the project has been validated with three different html validators (https://www.freeformatter.com/html-validator.html, https://appdevtools.com/html-validator, https://validator.w3.org/), resulting in these errors and warnings:

~~- [ ] Warning: Article lacks heading. Consider using “h2”-

[2022-06-17 15:30] ieahleen opened #46540 "Html validation errors and warnings for 9 RWD practice projects"
Related to: https://github.com/freeCodeCamp/freeCodeCamp/issues/46463#issuecomment-1155180861

The final code of the projects has been validated with three different html validators (https://www.freeformatter.com/html-validator.html, https://appdevtools.com/html-validator, https://validator.w3.org/), resutling in these errors and warnings:

All 9 projects have the error `Consider adding a “lang” a

[2022-06-17 15:30] jeremylt commented on #46523
I think ideally we should kill the legacy versions after a reasonable mourning period - that's maintenance debt that nobody wants to pay. Adding a drop down would make the interface more complex, imho.

Front End
- Responsive Web Design
- Javascript Algorithms and Data Structures
- Front End Development Libraries
- Data Visualization

Back End
- Back End Development and APIs
- Quality Assurance
-

[2022-06-17 15:31] ahmadabdolsaheb commented on #46497
Speaking of consistency,

It seems like we have three places where we show lists of projects and their solutions.
1) Portfolio timeline
2) Certification page
3) Settings

Ideally, they should be the same component and the same buttons for displaying the code.
ref https://github.com/freeCodeCamp/freeCodeCamp/issues/45949

[2022-06-17 15:33] Dario-DC opened #46541 "Html validation errors and warnings for Accessibility quiz practice project"
Related to https://github.com/freeCodeCamp/freeCodeCamp/issues/46463#issuecomment-1155180861
The final code of the project has been validated with three different html validators (https://www.freeformatter.com/html-validator.html, https://appdevtools.com/html-validator, https://validator.w3.org/), resulting in these errors and warnings:

- [ ] Warning : The “region” role is unnecessary for element

[2022-06-17 16:02] shootermv commented on #46534
So, can 'sign_in' button be also on the opened menu?

[2022-06-17 16:32] moT01 commented on #46523
I would vote to keep the legacy curriculum around. Those challenges are significantly different than the step based approach. It's a lot of good content that I hate to just get rid of. I don't think there's much for maintenance debt, we could just say that they are no longer being maintained.

[2022-06-17 16:57] bbsmooth commented on #46539
Yes, generally articles will have a heading near the top describing what the article is about, but it is not a requirement. I think the bigger issue here is whether each of the product/prices in the menu should be an article in the first place, but that's outside the scope of this issue.

[2022-06-17 17:11] bbsmooth commented on #46538
The validators are right on with this one. These images aren't decorative, they are the main focus of the page, so they should all have descriptive alt text if you want to be accessible. I know the purpose of this course is teaching flexbox, not accessibility. But as an accessibility enthusiast I don't think there is ever a bad time to incorporate accessibility :-) Of course writing good alt text

[2022-06-17 17:20] bbsmooth commented on #46537
I think you can ignore the warning about sections without headings as there is no requirement that they have one. To be honest, as far as accessibility is concerned, sections without an accessible name (assigned through either `aria-label` or `aria-labelledby`) are basically just `div`s as they really have no special meaning to assistive technology. But I understand that they do help authors organ

[2022-06-17 20:38] bbsmooth commented on #46178
I think this might be more of a UI/UX issue than an accessibility issue. I suppose you could make an argument that only using a check mark icon to signal success might be confusing/inaccessible to some people. But since our users will learn what it means relatively quickly (since they are doing this over and over again) I don't think this is a showstopper. I think it might be more of a question of

[2022-06-17 22:55] muhammedctgr opened #46544 "Legacy Full Stack Certification Issues"
**Describe the bug**
I have completed the necessary requirements to get the Legacy Full Stack Certification, whenever I click on the claim certification button, it displays nothing, leaving the page as it is, I emailed the support team about this, they agreed i've fulfilled the requirements to get Legacy Full Stack certified and they said its a bug, and I should open a github case about it, so her

[2022-06-18 04:49] ahmadabdolsaheb commented on #46523
We would need to keep it around until the localized versions has made the transition.

[2022-06-18 09:30] ieahleen commented on #45897
Other possibility altogether, I find a regex that makes the correct segnmentation on these directly from crowdin

[2022-06-18 15:22] palashgdev opened #46555 "feature: support for baseUrl in the tsconfig.json in project"
### Is your feature request related to a problem? Please describe.

In source code there are many place in which we can find `../../../utils`

### Describe the solution you'd like

By using baseUrl in tsconfig.json or path to specific repo

[code]

### Describe alternatives you've considered

https://www.typescriptlang.org/tsconfig#baseUrl
https://www.typescriptlang.org/tsconfig#paths

### Additio

[2022-06-18 16:40] superbkundan commented on #45419
No, How can this be closed without solving the issues? Did you add the
passed/not passed status in each of the steps of every curriculum? I just
checked now. You didn't. Plese do it.

On Fri, 17 Jun 2022 at 18:15, Ahmad Abdolsaheb ***@***.***>
wrote:

[2022-06-18 16:41] ajeetk1 commented on #46539
Headings are not must but essential to grab reader's attention. I believe well crafted heading give glimpse of "big idea" of article and it improves search engine optimization of page. Heading with semantic keywords adds call to attention to the most important idea of article.

[2022-06-18 16:43] bbsmooth commented on #45419
Hi @superbkundan I understand the confusion. It is closed because this fix has been merged into the main code base. But the new code hasn't been pushed to production yet. I don't know how often they push to production, but it should be showing up within the next few days I would think.

[2022-06-18 16:55] bbsmooth commented on #46539
Oh, and definitely the `html` tag needs a `lang` attribute. This is a level A [WCAG requirement](https://www.w3.org/WAI/WCAG21/Understanding/language-of-page.html).

[2022-06-18 17:15] superbkundan commented on #45419
Ok, thanks for the update.

On Sat, 18 Jun 2022 at 22:14, Bruce Blaser ***@***.***> wrote:

[2022-06-19 07:49] ahmadabdolsaheb commented on #46534
The position of the sign in button should be next to the menu button in the same order it is displayed on larger screens.

[2022-06-19 09:06] shootermv commented on #46534
Do you think this looks good?
![image](https://user-images.githubusercontent.com/1336862/174473707-b2da2d38-71e1-4087-b6f3-88c3bdc65527.png)

[2022-06-19 09:42] ieahleen commented on #45473
For the Arithmetic Formatter, the tests say

[2022-06-19 10:19] ojeytonwilliams commented on #46555
I'd rather not, honestly. My experience with this is that it makes the integration with tooling and other frameworks consuming the TS that bit more difficult. Considering that the gain (nicer import paths) is minor, I don't think it's worth it.

Finally, I'm not 100% convinced that the nicer paths are actually better. Since they look like package imports, the reader has to spend a moment checking

[2022-06-19 12:47] ieahleen commented on #45473
I seems I am not managing to figure out how to make the change to pytest in the file, I probalby need to delve deeper in the pytest documentation

[2022-06-19 12:53] gikf commented on #45473
Changing `main()` to `main(['-vv'])` in the `main.py` file should do that.

[2022-06-19 12:56] ieahleen commented on #45473
yes, it does!
and now it says lots more
[code]

I don't know if maybe now there is too much?

[2022-06-19 13:03] Sboonny commented on #39739
Thank you for bringing this up, I will update it

[2022-06-19 13:21] gikf commented on #45473
It can be a bit overwhelming for somebody not used to it, but that can be said about version without `-vv` as well.

[2022-06-19 15:32] #45473 closed

[2022-06-19 17:13] #46052 closed

[2022-06-19 18:02] Sboonny opened #46569 "Language switching option on news from the English language"
### Is your feature request related to a problem? Please describe.

while browsing news platform, if you tried to change to the Spanish language, you have to search for a [English article](https://www.freecodecamp.org/news/learn-react-in-spanish-course-for-beginners/), translated to Spanish.

From there, switching to the Spanish language is possible by clicking [the Spanish version of the article]

[2022-06-19 19:49] fygen commented on #45922
Hi my name is Fatih,
Is there something I can help you with? I am in 25+5 Clock project, I did the project fully functional for version 18.1.
I used 17.0.0 version, no luck :) I need this certification because I got 2 certificates and I have to continue, I need a job and this certificate should have to be in my CV. Or I might start the same project with older version. Thank you for your help and I

[2022-06-19 20:05] Sboonny commented on #45922
@fygen
Faith, I will answer here instead of the forum, you can check its repo here:

https://github.com/freeCodeCamp/testable-projects-fcc#testing-this-project

Here is the test itself:

https://github.com/freeCodeCamp/testable-projects-fcc/blob/main/src/project-tests/25-5-clock-tests.js

Although this issue isn't labeled help wanted, we are happy to hear your suggestions and what you will find

[2022-06-19 20:33] ieahleen opened #46572 "period inside code block in step 29 of ferris wheel project"
In step 29 of ferris wheel project the period at the end of the sentence is inside the code block.

The period should be put outside the codeblock.

---

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/cha

[2022-06-19 20:39] ieahleen opened #46573 "Word that shouldn't be in a codeblock"
Step 91 of set of colored markers: "blue" in this case is not a keyword, it shouldn't be in a codeblock.

---

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22

[2022-06-19 20:48] fygen commented on #45922
Thank you for your answer Muhammed I will be looking the information of
main page first and then check what I could do. Thanks

sincerely Fatih.

Muhammed Mustafa ***@***.***>, 19 Haz 2022 Paz, 23:05
tarihinde şunu yazdı:

[2022-06-19 21:35] lasjorg commented on #45922
@fygen If you need help with your project please open a thread on [the forum](https://forum.freecodecamp.org/).

If your project is not passing the tests using React 17 (or 18 using `ReactDOM.render`) then it is most likely an issue with your code and not the tests.

[2022-06-19 21:45] fygen commented on #45922
@lasjorg Here is the last state of my Clock [25+5 Clock](https://codepen.io/fygen/pen/WNMWvNX?editors=0011),

I opened a thread in FreeCodeCamp and @Sboonny guided me here. So many tests are failing and #time-left seems like not found, thats why I was looking for a solution. But the id with: time-left is there. Its a fully functional 25+5 Clock and I used useState & useReducer. Thank you for your

[2022-06-19 22:17] lasjorg commented on #45922
@fygen This issue is not the correct place to ask for help with your project. Use the forum thread instead.

If you check the example project you can see it passes all the tests, as does my own project. So it isn't an issue with the tests (with the correct version of React).

[2022-06-20 05:13] Sboonny commented on #41074
I had an issue similar to this. I lost the connection, paused the radio, then tried to resume the radio but couldn't.

When I lost my connection got this

       WebSocket connection to 'wss://coderadio-admin.freecodecamp.org/api/live/nowplaying/coderadio?last_event_id=1655700138%3A0' failed:

When I paused with connection lost, then unpaused got this

       Uncaught (in promise) DOMException: Th

[2022-06-20 06:56] palashgdev commented on #46555
- probably there are annotation that  comes into a picture like `@/utils` => from this we know that we are importing from local utils

- also let's say we are migrating or using the same utils in two different levels/components, as their path would be different but with this, we know which file it is pointing to

one good example is https://github.com/freeCodeCamp/freeCodeCamp/issues/44668 we woul

[2022-06-20 08:13] ojeytonwilliams commented on #46523
We will need a systematic way to retire old content, eventually, but until it becomes a maintenance problem there's no need to get rid of it.

The reorganisation of the map looks really nice, though.  Simply grouping things make it much clearer and less intimidating.

[2022-06-20 08:21] #46573 closed

[2022-06-20 09:53] ieahleen commented on #46539
And the closing html tag needs to be fixed, I will open this for help for the two things

[2022-06-20 10:07] Bharath314 opened #46579 "New RWD : Media Queries aren’t explained"
### Describe the Issue

In [step 20](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-20) of Learn CSS Flexbox by Building a Photo Gallery, we are asked to create a media query. However, media queries are explained neither in this challenge nor the ones prior to it. A brief explanation would be less blunt.

### Affected Page

https://

[2022-06-20 10:26] raisedadead commented on #46569
Your steps to reproduce this are not cohesive or clear to me. Can you write the issue as plainly as possible for a better understanding?

[2022-06-20 10:31] raisedadead commented on #46569
I read this atleast three times and I understand all you are asking is we have a menu item like below

<img width="207" alt="image" src="https://user-images.githubusercontent.com/1884376/174583162-e4ee645b-8ac4-49b0-9825-0a36d00fafde.png">

Correct?

[2022-06-20 10:31] Sboonny commented on #46539
what is stray start tag `html`? I am creating pr and can't understand it from looking at the code

[2022-06-20 10:35] raisedadead commented on #46544
@freeCodeCamp/dev-team to investigate

[2022-06-20 11:37] Senpaiada commented on #46091
I've been stuck on step 15 for a couple hours now i keep entering the code but it keeps saying incorrect

[2022-06-20 11:53] ieahleen commented on #46539
The tag at the end is an opening tag instead of a closing one

[2022-06-20 11:57] muhammedctgr commented on #46544
hi pls whats the status on this?

[2022-06-20 11:58] ieahleen commented on #46544
@muhammedctgr it needs to be investigated

[2022-06-20 11:59] muhammedctgr commented on #46544
says page not found....

[2022-06-20 12:04] muhammedctgr commented on #46544
noted, thank you. i'll wait.

[2022-06-20 12:21] Sboonny commented on #46579
I remember a forum post, in which someone used `@media` as a value, I do vote for changing the description.

Here is an example

[2022-06-20 12:32] shootermv opened #46584 "Storybook setup is broken"
**Describe the bug**
A storybook tool fails to run.

**To Reproduce**
Steps to reproduce the behavior:
1. clone project
2. run 'npm run storybook'
3. you will see following error at terminal

![image](https://user-images.githubusercontent.com/1336862/174602319-7dfea22a-6811-4c13-a266-a346455831a0.png)

**Desktop (please complete the following information):**
 - OS: windows, Ubuntu
 - Browser: [e.g

[2022-06-20 12:47] raisedadead commented on #46569
Thanks.

It's highly unlikely that we will implement this because it has been discussed in the past and confirmed that the majority of the users reach news articles from outside news.

I understand that we need to showcase more available languages, but I am not sure that we want a menu. I believe we do not want many options.

In fact, with the recent addition of "the thank you for supporting.." ba

[2022-06-20 12:48] raisedadead commented on #46569
I am going to go ahead and close this and we can reopen this after discussing internally.

[2022-06-20 12:48] #46569 closed

[2022-06-20 13:37] ojeytonwilliams commented on #46584
@shootermv thanks for the report.  I'm not 100% sure when this broke, but since that particular variant was added two months ago, it's likely not just that.

cc: @huyenltnguyen @ahmadabdolsaheb

To catch this sooner, is it possible to use `--smoke-test` to write a basic "Does this start?" test?

[2022-06-20 15:47] lasjorg commented on #46091
@Senpaiada If you need help with this please use [the forum](https://forum.freecodecamp.org/).

After it has been confirmed to be the correct code and if then the tests are still not passing you can post the code and your system information here in this issue so we can test it.

---

@LeandroM07 Is this issue for step 15 or 16? Your title and link do not match.

I have tested both steps in Firefox

[2022-06-20 19:17] ieahleen opened #46590 "Crowdin segmentation issue with compare-the-properties-of-two-elements.md"
In crowdin the file [compare-the-properties-of-two-elements.md](https://freecodecamp.crowdin.com/translate/690087755819f2f67b26dbee3be0eb53/20958/en-it/132) / ([this the file on GitHub](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/compare-the-properties-of-two-elements.md))

There is a single strin

[2022-06-20 20:14] #46544 closed

[2022-06-20 20:57] raisedadead commented on #46523
I hate to say this, but it can have a counter-effect. People don't read, skim over things, miss, or even outright ignore warnings. It isn't easy to convey the point across. We have seen this. We have known about this.

We could be hurting users by keeping things (APIs, features) that are deprecated and can and do create confusion. Some of the curriculum, like jQuery and React, are embarrassingly b

[2022-06-20 21:18] muhammedctgr commented on #46544
Many thanks to the dev team, I really appreciate the efforts...does this mean its been fixed? Still unable to claim the cert tho.

[2022-06-20 21:52] ShaunSHamilton commented on #46544
@muhammedctgr Once the next production build is deployed, this fix should be in. We typically do 1 - 2 deployments each week.

[2022-06-20 22:16] ojeytonwilliams commented on #46523
Right, and stuff will eventually need to be removed, but remember the vote between the Tom and Naomi doctrines? https://chat.freecodecamp.org/group/dev-team?msg=szHvX99fZLtpR5dCr Ultimately the consensus was that we wanted to keep things "playable" as long as possible, even if that isn't forever. That is to say, we agreed to do it Tom's way.

That's likely to be the long-term fate, but we decided

[2022-06-21 02:36] bbsmooth opened #46593 "Accessibility issue with labels in Registration Form course"
### Describe the Issue

There are two related issues:

- The label for the file input does not use a `for` attribute and this is causing the NVDA screen reader on Windows and ORCA screen reader on linux to not announce the label text when the user tabs to the input. I have a [codepen demo](https://codepen.io/bbsmooth/pen/WNMBjVK) to illustrate this.
- It is considered a [best practice to use a `fo

[2022-06-21 05:00] Sboonny commented on #46593
The concept is introduced early on in https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-57 , I don't see any issues with this. I am okay with it being implemented 👍

[2022-06-21 05:56] bbsmooth commented on #46537
Oh, and definitely the `lang` attribute needs to be added to `<html>`. [WCAG SC 3.1.1](https://www.w3.org/WAI/WCAG21/Understanding/language-of-page.html).

[2022-06-21 06:38] #46137 closed

[2022-06-21 06:40] #46492 closed

[2022-06-21 07:13] Bharath314 commented on #46579
We also have to include a description on what media queries are and their syntax. They aren't explained in previous challenges.

[2022-06-21 09:16] ieahleen commented on #46541
COnsidering that, I am closing this as wontfix

[2022-06-21 09:16] #46541 closed

[2022-06-21 10:32] ShaunSHamilton commented on #46555
Hello there,

I agree with Oliver on this one; more native configs makes reading and maintaining the code easier. Also, with how powerful text editors have become, changing an exported components path is relatively hassle free.

[2022-06-21 10:58] Dario-DC opened #46598 "Not explicit test in step 12 of Penguin project of new RWD"
### Describe the Issue

The description says: Use the `margin `property to horizontally center the `.penguin` element, and set the `margin-top` to `75px`.

Maybe we should explicitly say in the description that the test requires that `margin-bottom: auto` or change the test.

### Affected Page

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-d

[2022-06-21 13:25] moT01 commented on #46523
I think the long-term fate is a discussion we can revisit later if needed - unless we are sure we want to get rid of them soon, I don't think it's going to change what we need to do next. I would vote to go with something similar to [@jeremylt's initial suggestion.](https://github.com/freeCodeCamp/freeCodeCamp/issues/46523#issuecomment-1157903147) If/when we get to a point where there's many versi

[2022-06-21 13:39] moT01 commented on #46510
yea, like I mentioned, I don't think the batch updates are going to save us a ton here - but a little anyway.

I agree, but I don't think that's really an issue here. The onus is already on the user to click the save button, so that behavior already exists. With the batch updates, users could still click the save button after each form they add, or wait until they add as many as they want before s

[2022-06-21 14:27] raisedadead opened #46603 "Welcome bot is still broken"
This run https://github.com/freeCodeCamp/freeCodeCamp/runs/6986475254 should have added a comment on https://github.com/freeCodeCamp/freeCodeCamp/pull/46599

[2022-06-21 15:18] lasjorg commented on #46579
@ShaunSHamilton I don't see why we even need media queries for this. Part of what makes flexbox awesome is that we often do not even need media queries. Willy-nilly throwing in media queries without any explanation of how they work and just a syntax example seems a bit odd to me.

I should have a PR for this that just uses the flex-wrap for the responsiveness. But in my infinite wisdom, I started

[2022-06-21 15:42] shootermv commented on #46584
as far as i can see, tailwind want their variant to be prefixed with '@' or '&' -
![image](https://user-images.githubusercontent.com/1336862/174840407-6aa97110-ce8d-4407-955f-cf3a6c014cb5.png)
so, i can see that using :
`   plugin(({ addVariant }) => {
      addVariant('aria-disabled', '&[aria-disabled="true"]');
    })`
makes storybook not fail

[2022-06-21 16:37] nhcarrigan commented on #46603
Sure I can look in to this today.

[2022-06-21 16:39] hamozaerrechydy opened #46605 "Text error in the new responsive web design"
There is some wrong text in  (new) responsive web design | learn CSS transforms by building a penguin | step 104.

![Capture](https://user-images.githubusercontent.com/107209152/174851854-fad92c57-95c4-4c0f-a00d-f82514febfe8.PNG)

As you see in the image the text congratulate the user for completing the whole responsive web design certificate but this is not the last part of the certificate, there

[2022-06-21 17:16] ieahleen opened #46606 "remove quote from negative source in Magazine project"
A user on the forum (https://forum.freecodecamp.org/t/any-chance-a-lesson-example-featuring-a-woody-allen-quote-could-be-replaced/520343) ask if we can replace the Woody Allen's quote

[2022-06-21 17:21] ieahleen commented on #45985
I also think we should swap them, it would make more sense, considering that many things in the Ferris Wheel project are used in the Penguin project, and in the Penguin project they are not explained.
So you do the Penguin Project meeting for the first time many confusing concepts, and then find them expained in the next project, the Ferris Wheel.

[2022-06-21 18:06] lasjorg commented on #46579
@ShaunSHamilton Why are we using the images we are? They would appear to be promotional images for a website that doesn't seem to exist anymore. I think we should replace them with some freeCodeCamp images.

https://mobile.twitter.com/devalertme

@bbsmooth The images are very random and non-specific most are commercial in nature. I might wait and hear what people have to say about replacing them.

[2022-06-21 18:23] nhcarrigan commented on #46544
This should be live now!

[2022-06-21 18:31] bbsmooth commented on #46463
I was initially on the fence about this but I'm starting to lean more toward validation, or at least making them aware that validation is available and that their HTML should validate, as I have seen many examples lately in the forum of HTML that passes all of the HTML tests for a project but has a lot of errors in it. Perhaps we could add a link to the W3C validator and remind them that they shou

[2022-06-21 18:34] superbkundan commented on #45419
Great, thanks! Go on!

On Tue, 21 Jun 2022 at 23:02, Bruce Blaser ***@***.***> wrote:

[2022-06-21 19:48] thecodingaviator opened #46611 "Add forward and backward buttons to tools/challenge-editor"
Currently, the challenge editor needs you to go back to the listing of all challenges to move between challenges.
We want to make this be possible without leaving the code editor page.

cc: @ojeytonwilliams

[2022-06-21 20:46] nhcarrigan commented on #46579
These images were used in the demo on the curriculum expansion repo.

I'm more than happy to replace them.

[2022-06-21 20:49] muhammedctgr commented on #46544
👏🏼👏🏼🕺🏽....really appreciate this, I've been able to claim the full stack cert. Promise to make FCC proud.

[2022-06-21 21:06] lasjorg commented on #46579
Half of them are promoting what I would view as a third-party product. I can't see that being intentional.

I know there are some images from freeCodeCamp meetups, maybe that would be something we can use for this?

[2022-06-21 21:28] nhcarrigan commented on #46579
@ShaunSHamilton has a decent approach in some of the tests where the test expects a value, the hint text suggests a value, and then the seed code uses that value.

[2022-06-21 21:42] lasjorg commented on #46579
@nhcarrigan But we have no expected or suggested values if the user can set whatever they want as the value, right?

It seems the easier option is to just remind the user that the images should have an `alt` text and leave it at that. But if anybody has a good idea for this I'm all ears.

[2022-06-21 21:47] nhcarrigan commented on #46579
We could assert specific values after we land on some new images.

[2022-06-21 22:10] ShaunSHamilton commented on #46579
For other practice projects, we assert things like:

----

So, I imagine we could just:

[code]

[2022-06-21 22:15] lasjorg commented on #46579
@ShaunSHamilton Sounds like a plan 👍

I think you have me confused with someone who leaves his apartment :rofl:

[2022-06-21 22:17] lasjorg commented on #46579
@ShaunSHamilton Wait but what about the seed code? What should I put in the seed code for the following steps?

[2022-06-21 22:36] nhcarrigan commented on #46606
This is just a matter of replacing the image found at https://github.com/freeCodeCamp/cdn/blob/main/build/testable-projects-fcc/images/random-quote-machine.png to display a different quote.

[2022-06-21 22:43] nhcarrigan commented on #46611
We do have keyboard shortcuts for this, specifically intended for power users. I'm not sure if we need buttons for this, since the curriculum is designed to be linear.

[2022-06-21 23:00] ShaunSHamilton commented on #46579
`alt="lasse in the park"`

Here are some ~~examples~~ example:
- https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz/6133acc353338c0bba9cb553.md
-

[2022-06-21 23:38] lasjorg commented on #46579
@ShaunSHamilton I don't get it. I know we can test for the attribute and also test the string length (not that I see a length test as very useful). But if we didn't specify the content by letting the user create their own `alt` text how can we add that to the seed code in the following steps? We can't just use the same string for all of them, that would make the `alt` text incorrect.

I think the

[2022-06-22 06:59] rooben-me commented on #46606
@nhcarrigan can I take this issue , This is my first time contributing to open source :)

[2022-06-22 07:47] ojeytonwilliams commented on #46611
@nhcarrigan this would be for the challenge-editor dev tool, not the monaco editor.

@thecodingaviator and I were discussing possible improvements and I suggested that it might be nice to be able to navigate between steps directly rather than having to go back to, say, http://localhost:3300/14-responsive-web-design-22/learn-accessibility-by-building-a-quiz each time.

[2022-06-22 07:48] #45985 closed

[2022-06-22 08:12] #46584 closed

[2022-06-22 08:33] ieahleen commented on #46606
Hey @rooben-me, we typically do not assign issues to anyone other than long-time contributors.
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issu

[2022-06-22 08:36] thecodingaviator commented on #46611
![image](https://user-images.githubusercontent.com/34807532/174982963-50ebd94a-6bb2-4dd3-885e-358639499287.png)
@ojeytonwilliams from what I see, the code that needs to change is being done here  in "tools\challenge-editor\api\utils\getStepContent.ts"
Which is the API code that sends the data here "tools\challenge-editor\client\src\components\editor\Editor.tsx"
![image](https://user-images.githubu

[2022-06-22 09:15] ojeytonwilliams commented on #46611
I'd start by looking at

https://github.com/freeCodeCamp/freeCodeCamp/blob/a0c081348840bac9a6e28dc5b613248dd9d2eb89/tools/challenge-editor/api/utils/getSteps.ts#L9-L11

specifically the challenge order.  If you know the current step id and have access to the challenge order it should be reasonably straightforward to find the previous and next steps.

[2022-06-22 10:12] Dario-DC opened #46618 "Language change after refreshing the introductory page of a certification"
### Describe the Issue

If you go on the introductory page of **any** certification (such as https://www.freecodecamp.org/italian/learn/javascript-algorithms-and-data-structures/), including the introductory page of the whole curriculum (https://www.freecodecamp.org/italian/learn/), and you have set **a non-english language**, after refreshing the page it comes back to the english page. No matter

[2022-06-22 10:45] ojeytonwilliams commented on #46618
Hey @Dario-DC I'm closing this is a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/44818.

We do plan to fix this, but it's currently waiting for us to Dockerize learn since that will involve a large change in the infra. With luck, those changes will fix this, but if not we can revisit the problem then.

[2022-06-22 10:45] #46618 closed

[2022-06-22 13:27] raisedadead commented on #46523
That will not fly when we outright change a certification (superblock) name OR we split a superblock into two or combine two into one.

[2022-06-22 13:54] raisedadead commented on #46523
That & we do not want eyes on it (other than for nostalgic enthusiasts). The point is to "teach" things that are most relevant to land you a job—our end goal.

[2022-06-22 14:19] jeremylt commented on #46611
I'm not really sure that I see why this is needed either.

Anywho, a side effect of this will be users clicking ahead one step, copying the answer, and untimately ending up deep in the course with no skills but copy and paste. Are we ok with this outcome?

[2022-06-22 14:21] thecodingaviator commented on #46611
Hi @jeremylt , I believe this is for the `challenge-editor` which is a tool. I am attaching a screenshot below

![image](https://user-images.githubusercontent.com/34807532/175052913-cf5c6324-6697-49d9-9cc4-1a7d5e38250f.png)

@ojeytonwilliams can provide more context

[2022-06-22 14:23] jeremylt commented on #46611
Ah. This is a new whatchamacallit to me.

[2022-06-22 14:27] nhcarrigan commented on #40773
~~Going to run the merge dupes script today to at least address the underlying bug.~~ We need to coordinate a time to run this nvm.

We should look in to the API endpoint and validate the query that is being run.

Mrugesh proposes: Creating a separate app to handle this logic specifically, having NGINX route `/ue` to that app, and allowing that app (without loopback) to look up the documents by us

[2022-06-22 14:46] ahmadabdolsaheb commented on #46534
Just had a look at our localized versions. It seems like we need to show icons for instead of 'Menu' and 'Sign in' under 600px.

Feel free to work on the logic to replace the text with icons. Once ready, I will find the proper icon replacement.

[2022-06-22 14:49] moT01 commented on #40998
One last spot I see that I don't think was mentioned yet, the certifications themselves don't have the cert title translated.

[2022-06-22 14:57] #46590 closed

[2022-06-22 15:17] sidemt opened #46623 "Confirmation modal on signing out"
### Is your feature request related to a problem? Please describe.

In the menu on `/learn`, I keep clicking "Sign out" accidentally instead of "Change Language" while I'm working on translation. I wish there was a confirmation modal to prevent that.

I don't know how many users change the language setting frequently, but I would often switch between 2 languages when I read a translated website as

[2022-06-22 16:24] ShaunSHamilton commented on #46579
@lasjorg Well, we can just make it the final step.

The reason we have some tests checking for length is to try force Campers to think about the values they are using

[2022-06-22 16:27] ShaunSHamilton commented on #46623
If we do anything, I prefer the suggestion to move the "Sign out" further from "Change Language".

That is to say, I am very much against adding a modal to confirm you want to sign out.

[2022-06-22 17:05] #46555 closed

[2022-06-22 17:35] bbsmooth commented on #46579
OK, don't know why this didn't come to me earlier? I don't think it is a good idea to ask campers to create their own alt text for these images because that assumes that they can see the images in the first place. I think we either need to give them the alt text to enter or just don't do alt text for these in the first place and add a note explaining that this is intentional and that you would nor

[2022-06-22 17:40] lasjorg commented on #46579
That is probably the best option. We don't have any seed code to worry about and it won't break the flow of the challenge.

@bbsmooth How does a visually impaired developer add `alt` text? Is this not as good a time as any to test that part of their workflow?

[2022-06-22 17:45] bbsmooth commented on #46579
@lasjorg They would use the `alt` attribute just like anyone else would. My point was that we can't just ask them to add alt text for an image without them knowing what the image is in the first place. Unless we are going to explain what each image is then it isn't really reasonable to expect someone who can't see the image to add appropriate alt text. Or are we expecting them to find someone who

[2022-06-22 17:48] nhcarrigan commented on #46579
I remember reading that `alt` attributes could be omitted for images that were purely decorative and did not convey any relevant information. Is that an approach we could take here?

[2022-06-22 17:50] bbsmooth commented on #46579
@nhcarrigan Yes, purely decorative images should have empty alt text, but seeing as this is a photo gallery app and it exists purely for the purpose of showing photos I'm not sure these photos are decorative :-)

[2022-06-22 17:54] Sboonny commented on #46579
What about converting them to SVG? Image gallery is good place to take about different graphic format.

[2022-06-22 18:18] bbsmooth commented on #46579
I guess it depends on what you consider the purpose of this course and this particular step to be. To me, the purpose of this course is learning flexbox, not creating a photo gallery, so I don't see the images themselves as an integral part of this course and thus I don't think a camper should need to get assistance from someone else in order to create appropriate alt text. Also, I think people wh

[2022-06-22 18:40] lasjorg commented on #46579
I feel like we are getting into some chicken and egg territory. We want developers to use alt text for accessibility. We need to teach them this. If we don't teach them this because the developer might be visually impaired then who are we really hurting here? It strikes me as a bit ironic to skip this requirement because the user might be visually impaired.

Maybe we can add a note?

I mean it's n

[2022-06-22 19:28] bbsmooth commented on #46579
Yes, anytime you require images to complete a course you are going to have this dilemma.

If we are concerned with being 100% accessible here (not just in the HTML itself but also usability) then I think the correct way to do this is to give the user the alt text to enter for each image. Otherwise, we are going to have to make some decisions. The other options I've seen suggested so far are:

1. D

[2022-06-22 20:50] Sboonny commented on #46579
I will be honest, I don't think someone who want to contribute will read 30 comments, so I am adding one more. So are we
going to change this to `flex-grow`, `flex-shrink`, and `flex-base` test using lasjorg example

Or we stay with `media`.

[2022-06-22 21:24] lasjorg commented on #46579
1. I will defer the `alt` text decision to whatever consensus we can come to. I have already added it as the last step (we had two leftover steps that used to be for the media queries which I have used for this and one other thing so the step count remains the same). I also added the note suggested by @bbsmooth, thank you for that. As it is the last step I can easily remove it if need be.
2. We ne

[2022-06-23 04:11] bbsmooth commented on #46579
@lasjorg Dealing with the `alt` attribute on the last step seems like a winner to me! Also, just because we are on this topic, check out the `alt` text on this gallery: https://leedswf.co.uk/gallery/. No need to look at more than one image, they are all exactly the same.

[2022-06-23 08:10] ieahleen commented on #46579
That seems a really useful alt text... ok, so this seems to be going in the direction of fixinf half of #46538

If you need my opinion I vote for descriptive alt text, even if we have to give the user the text to use.

[2022-06-23 08:15] ieahleen commented on #46606
@rabtennamgyal as long as it's appropriate I would say yes

[2022-06-23 08:33] shootermv commented on #46534
how about following icons?
![image](https://user-images.githubusercontent.com/1336862/175254695-8d670ad8-7e24-4f0c-a571-0a922135cc64.png)

[2022-06-23 09:00] Bharath314 commented on #46579
I vote in favor of having alt text too. It's better to build good habits earlier on in budding developers. What's the consensus on the media query? Will it be dropped then.

[2022-06-23 10:52] ilenia-magoni opened #46629 "Trending articles should come all from single source"
Right now the trending articles are from different sources
 - for /learn, `trending.json` file in https://github.com/freeCodeCamp/freeCodeCamp/tree/main/client/i18n/locales
 - for /news, https://github.com/freeCodeCamp/cdn/tree/main/build/universal/trending
 - for forum, https://github.com/freeCodeCamp/forum-theme/blob/main/settings.yml

We need to have all footers take the articles from the same

[2022-06-23 11:23] ahmadabdolsaheb commented on #40831
Thanks for bringing this to my attention. Ideally we would need to list our icons, redesign them, and add them to the component library.

We could close this for now and resolve it in the component library.

[2022-06-23 11:23] #40831 closed

[2022-06-23 11:26] ahmadabdolsaheb commented on #46623
@ShaunSHamilton the modal seems like a convention. Is there a reason why you don't prefer it?

[2022-06-23 11:33] ahmadabdolsaheb commented on #46629
Related discussion: https://github.com/freeCodeCamp/news/pull/218

[2022-06-23 11:35] ShaunSHamilton commented on #46623
@ahmadabdolsaheb Personally, I dislike.

My bank does this thing where, after clicking "logout", it takes you to a new page (you are still signed in) so they can show you an advert. I then need to click a very small "Continue to logout" button in order to actually log out. This infuriates me, and the modal is its next equivalent.

I am not sure how much of a convention it is? I do not expect it, a

[2022-06-23 11:48] shootermv commented on #46534
pushed

[2022-06-23 14:54] ahmadabdolsaheb commented on #46623
Thanks for the feedback Shaun. A small inconvenience is intentional just to make sure users are doing what they think they are doing. I think we can initially adopt the modal convention and add the seconds as a follow up feature if needed.

[2022-06-23 15:36] ShaunSHamilton commented on #42621
@raisedadead We decided to go a different route: https://github.com/freeCodeCamp/freeCodeCamp/pull/45562

But we have not actually discussed what that route is: https://github.com/freeCodeCamp/freeCodeCamp/issues/45563

[2022-06-23 15:38] raisedadead commented on #42621
Ok - lets' discuss this over a call sometime early next week.

[2022-06-23 15:46] Nirajn2311 commented on #46629
I also remember asking in one of those repos if there was a way to automate the whole process

[2022-06-23 16:30] raisedadead commented on #46603
https://github.com/freeCodeCamp/freeCodeCamp/runs/7027667856 should have worked for PR https://github.com/freeCodeCamp/freeCodeCamp/pull/46632

[2022-06-23 17:31] bbsmooth commented on #46623
I like both the suggestion to put more space between the Sign out button and Change Language and adding a confirmation modal. If I had to choose one I would start with extra spacing.

Another option would be to have a Sign out button in the upper right and remove the sign out option from the menu, just like we do with the Sign it button, but I understand that we also have the avatar icon link in t

[2022-06-23 18:32] ieahleen opened #46637 "username shouldn't include "freecodecamp" (forum & learn)"
we have a bunch of forum users (that are not official accounts) that have "freecodecamp" in their username

![image](https://user-images.githubusercontent.com/26656284/175370001-1257b4d9-a215-4548-9312-72a0f861ab14.png)

I don't think such usernames should be allowed

[2022-06-23 20:07] lasjorg opened #46640 "Replace images used for flexbox gallery challenge"
### Describe the Issue

I think we need to replace some of the images used for this project as they look to be an advertisement for a third-party website `devalert.me`.

https://twitter.com/devalertme

@QuincyLarson Sorry to bother you, but I was wondering if we have any freeCodeCamp images that are available for public usage. Maybe we can use some images from a meetup or something like that for t

[2022-06-23 20:43] Nirajn2311 commented on #46603
The action has only read permissions hence the 403 error. We can either give the write permission only for `pull-requests` in the workflow file or change the permissions in the repo settings but the later option would mean that all scopes are given write permissions

[2022-06-23 21:11] ShaunSHamilton commented on #46637
We can easily restrict them, but none of them appear to be impersonating.
<img width="584" alt="image" src="https://user-images.githubusercontent.com/51722130/175400435-d985ab62-a5ce-41d2-ad81-6ec1ca10caae.png">

[2022-06-23 21:16] ieahleen commented on #46637
It would be a precaution, plus it could cause confusion to other users if someone with such username would be active in the forum

[2022-06-24 01:07] rabtennamgyal commented on #46606
@ieahleen Can someone please check my pull request ??

[2022-06-24 05:28] #46513 closed

[2022-06-24 07:22] #46598 closed

[2022-06-24 07:39] ahmadabdolsaheb commented on #46623
Spacing seems to be an issue across our layout specially in the main navigation and the dropdown menu.
Introducing spacing in a dropdown does not seem to be a common practice; however, we could increase the height of each item to make the clickable area larger so the items are not mixed up.

[2022-06-24 08:58] ieahleen commented on #46606
@rabtennamgyal remember to link the original issue, so that people are aware that you have made a pull request that closes it. Only Liam-boston PR is linked here.
To link an issue in a different repository, paste the whole link in the `Closes` line of the PR template

[2022-06-24 12:11] ahmadabdolsaheb commented on #46629
Here is the new CDN footer update: https://github.com/freeCodeCamp/cdn/pull/143

[2022-06-24 13:00] ahmadabdolsaheb commented on #46629
We should be able to pull the footer from the cdn during build for learn.
As of the forum, we could have an action that gets triggered when a pr is merged on the cdn, checks if trending has been updated and create a pr on the forum theme repo.

[2022-06-24 13:44] ahmadabdolsaheb opened #46646 "Language specific subpaths should have translated meta."
### Describe the Issue

Localized subpaths display english meta.

### Affected Page

https://www.freecodecamp.org/portuguese/

### Steps to Reproduce

If you search "freeCodeCamp Portuguese" you see English meta instead of Portuguese.

### Expected behavior

We want to make sure all /learn subpaths that are indexed and use the correct language's title, description, and other meta information, and

[2022-06-24 13:47] ahmadabdolsaheb commented on #46646
@nhcarrigan, the meta for some of the languages such as Spanish has been ported. I was wondering what would be the best way to get the rest translated and ported as well.

[2022-06-24 14:43] #46606 closed

[2022-06-24 15:04] lasjorg commented on #46640
Fork the CDN repo, and clone it down locally.

https://github.com/freeCodeCamp/cdn

Replace the images in the folder `build/curriculum/css-photo-gallery` and push the changes.

---

But we do not have any new images yet so there is nothing to replace them with.

[2022-06-24 15:09] nhcarrigan commented on #46646
We chose not to upload them because they aren't necessarily one-to-one translations. Things like keywords will be changed entirely to fit the more common search terms for the language and such.

[2022-06-24 15:11] nhcarrigan commented on #46646
@ahmadabdolsaheb the `meta-tags.json` files need to be updated directly on GitHub. Here is the Portuguese one: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/i18n/locales/portuguese/meta-tags.json

[2022-06-24 15:28] staranbeer commented on #46640
[link to pull request](https://github.com/freeCodeCamp/cdn/pull/146

[2022-06-24 16:55] sidemt commented on #44955
@ahmadabdolsaheb Can I start working on this in the way you suggested? The current Japanese font doesn't look good. Changing it to a better font should improve the impression of freeCodeCamp on Japanese users.

[2022-06-24 18:41] ahmadabdolsaheb commented on #46646
Cool, I will just ask our i18n team to update them directly.

[2022-06-24 21:59] ojeytonwilliams commented on #46646
Could we just make the keywords a special case then?  The rest look to be translatable.

[2022-06-25 06:51] arjunan-k opened #46658 "White empty tab space on the website"
### Describe the Issue

While opening the Freecodecamp website there is a white tab space on the right side of website if zoomed in. This is due to the scroll button on the right side. This is mostly common in the sites. But raising the issue to let you know if this is a bug that you were not aware of.
![white tab issue](https://user-images.githubusercontent.com/104669486/175761776-809b1808-ec0c-4

[2022-06-25 16:02] neeraj2713 commented on #46658
can i work on this issue?

[2022-06-25 18:00] JordanMooree commented on #46658
I can't reproduce this issue. I zoomed in 500% on:
Device: Desktop Monitor (1440p)
OS: Windows 10
Browser: Chrome
Version: 102

![image](https://user-images.githubusercontent.com/27147016/175785270-b0c48d98-5e04-48ba-a19d-47dda509d87a.png)

Can anyone else reproduce this?

[2022-06-25 18:13] JordanMooree commented on #46658
Hello @neeraj2713, once this issue gets help from moderators and users to reproduce and confirm its validity and fix, we will most likely label it as `Help Wanted` or `first timers only`. You do not need permission to work on `Help Wanted` or `first timers only` tagged issues.

For now, we will wait until we confirm the validity of this issue. In the meantime, feel free to browse through our issue

[2022-06-25 20:06] ShaunSHamilton commented on #46658
Hello there,

Would you mind sharing the resolution and width of your monitor?

I ask this, because zoomed in at that level, most monitors are not wide enough (high enough res) to cause the _Sign in_ button to appear.

[2022-06-26 00:26] bbsmooth opened #46667 "Cafe Menu Step 33 introduces class attribute without explanation"
### Describe the Issue

Step 33 of the Cafe Menu asks the camper to "Add the class name `flavor` to the French Vanilla `p` element." without explanation of what it means to add a class to an element. I believe this is the first time that a CSS class is mentioned as the Cat Photo App only deals with HTML. If I am wrong then I apologize for opening this issue.

### Affected Page

https://www.freecod

[2022-06-26 00:32] bbsmooth commented on #46667
And then sure enough, I just realized that the `class` attribute is introduced in step 28. Sorry for the bother.

[2022-06-26 00:32] #46667 closed

[2022-06-26 11:09] arjunan-k commented on #46658
@JordanMooree
Hlo sir, please try to scroll to the top most right after zooming in max. In the screenshot you just shared, I think that you have scrolled till menu button. there is still a 'Sign in ' button after that.
When I design websites sometimes I came across this issue. I think that this is due to the auto margin and padding of the body tag.
[code]
Still not sure this is due to my screen. I

[2022-06-26 11:10] arjunan-k commented on #46658
@ShaunSHamilton
hlo sir,
Still not sure this is due to my screen. I using a laptop of screen size 39.62 cm (15.6") diagonal, FHD (1920 x 1080), 144 Hz, IPS, micro-edge.

[2022-06-26 16:09] ahmaxed opened #46674 "Sitelink snippets on Google search results should include relevant information"
### Describe the Issue

Most freeCodeCamp related search results display snippets from a footer <p> tag instead of related information.

### Affected Page

freecodecamp.org

### Steps to Reproduce

When freeCodeCamp related topics are searched on Google, the results' snippets include the same <p> tag from the footer.

<img width="750" alt="Screen Shot 2022-06-26 at 6 03 58 PM" src="https://user-im

[2022-06-26 16:13] #39739 closed

[2022-06-26 17:23] #46361 closed

[2022-06-26 17:23] SaintPeter opened #46675 "Nutrition Label Ex 35-36: Should use Flexbox, not Float"
### Describe the Issue

I was helping a camper with this challenge today and they were confused about the need to add `overflow: hidden` to the `h1` element.  I was too, until I did some research and remembered that [containers don't clear floats automatically](https://css-tricks.com/containers-dont-clear-floats/) unless you use `overflow: hidden`.  This is very counter-intuitive and is not explai

[2022-06-26 18:07] Sboonny commented on #46675
At the final step, it looks the same except the font in `.calories-info span` aren't reading

[code]

anyway, I like the idea of redoing the challenge and polishing it, maybe even adding hints about grid concepts.

![image](https://user-images.githubusercontent.com/88248797/175827402-00646986-2d99-4978-a120-35b337b7a4ea.png)

here is the code, because I may have made a mistake.

<details>
 <summar

[2022-06-26 22:58] Payam101020 opened #46678 "Join"

[2022-06-27 03:29] luojiyin1987 opened #46679 "Step 12 requirements are not clear in cat photo app project"
### Describe the Issue

`Step 12
Turn the words cat photos located inside p element into a link using the same value for the href attribute as the link below the p element. The p element should show the same text in the browser, but the words cat photos should now be a link. Make sure to remove the a element with the text cat photos on the line below the p element.
`

I can't understand the requir

[2022-06-27 05:51] #46678 closed

[2022-06-27 05:54] Sboonny commented on #46679
I see three post in the forum related to this step, whenever I open it.

I think this line is confusing people the most. What I mostly see is `<a href="cat photo"></a>`

I think this line is confusing people too. What I see is people deleting the line, not the link

[code]

I suggest

[2022-06-27 07:22] ahmadabdolsaheb commented on #44955
@sidemt, I think we could move forward with the implementation described above. Please let us know if we could be of any help.

[2022-06-27 09:15] seths10 commented on #46530
I agree with @Sboonny. roboto is available on a lot of platforms

[2022-06-27 13:01] ieahleen opened #46683 "how-to-test-languages-locally.md needs to be updated for latest workflows"
The file seems to be at a before-typescript workflow, it needs to be updated to the current one.

[2022-06-27 13:12] #46539 closed

[2022-06-27 14:59] lasjorg commented on #46640
@ShaunSHamilton @nhcarrigan What are we going to do here? Do we just use the puppy images from the PR or what?

I really do not see how we can keep the current images and I'm not sure why they were approved. Do they not violate the fCC rules of no third-party promotion?

[2022-06-27 15:13] luojiyin1987 opened #46686 "Challenges request is not clear in https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-15"
### Describe the Issue

[code]
what the meaning of  ` Take all the elements currently located within the main element and nest them in a section element` ?
[code]
or
[code]
 ????
  I know how to do from  the hint `
The existing h2, comment, p element, and anchor (a) element should be between the opening and closing tags of the section element.`

if add  the hint to   challenges request,   people w

[2022-06-27 15:25] lasjorg commented on #46233
This has to be a bug. As far as I can tell, it is taking the shorthand property and expanding it into the longhand form(s) as if it was a computed property.

style
[code]

Safari:
[code]
Chrome:
[code]

Pretty sure that isn't how the `sheet` property is supposed to work.

---

BTW, I just figured out you can test Safari (well WebKit) on Linux using the GNOME Web/Epiphany browser.

[2022-06-27 15:51] jeremylt commented on #46686
I don't think this change is needed. `Nested` is a term of the art that should be used.

[2022-06-27 19:03] salehmalik121 commented on #46658
cant reproduce this issue.

[2022-06-27 22:42] jeremylt commented on #46443
It looks like maybe the PR for this got stuck? We're still getting a lot of questions on the forum related to users trying to paste in the example instead of adding spaces.

https://github.com/freeCodeCamp/freeCodeCamp/pull/46472

[2022-06-28 00:12] luojiyin1987 commented on #46686
Are  you sure ?

[2022-06-28 00:18] jeremylt commented on #46686
Am I sure that nested is a term of the art? Yes

[2022-06-28 00:34] jeremylt commented on #46686
'Nested' is a technical term. We need to consistently use technical language correctly.

We don't want to make the challenge text too long because people don't all of the text even when it's short. Verbose additional explanations belong in the hints.

I thought that we had the term 'nested' in Step 5, but I don't see it, so we should put it back there.

[2022-06-28 00:44] luojiyin1987 commented on #46686
[code]
Is more clear?

[2022-06-28 00:47] jeremylt commented on #46686
I still say we should not add more text to this lesson.

We should use the word 'nested' on Step 5.

[2022-06-28 01:04] luojiyin1987 commented on #46686
my meaning is   not add `The existing h2, comment, p element, and anchor (a) element should be between the opening and closing tags of the section element.` to   this lesson.
But  change  `Take all the elements currently located within the main element and nest them in a section element`  to  `Take all child  the elements currently located within the main element and nest them in a section element

[2022-06-28 03:56] gikf commented on #46686
For me adding _child_ to the sentence doesn't change anything, it's implied that all elements within other element are children elements of it.

Is the need to see hint to get deeper understanding about the task something bad?

[2022-06-28 04:15] #46686 closed

[2022-06-28 04:47] Sboonny commented on #46679
@luojiyin1987 the file hasn't changed https://github.com/freeCodeCamp/freeCodeCamp/blob/430f45655e50fd58b7162ad1082075a15ae076b3/curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa22d1b521be39a3de7be0.md#L3

@salehmalik121 Pull request was to his own fork, it didn't change freeCodeCamp original repo

[2022-06-28 05:08] luojiyin1987 commented on #46679
@Sboonny   thank you!

[2022-06-28 05:43] Sboonny commented on #46443
Let's push the hint and description change, and open a new issue about adding the test

[2022-06-28 11:12] ieahleen opened #46691 "Link in stern-brocot-sequence.md doesn't work"
I think it needs to be fixed. It makes the string on Crowdin incredibly confusing.

File is https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/10-coding-interview-prep/rosetta-code/stern-brocot-sequence.md

/cc @Sboonny

[2022-06-28 11:34] Sboonny commented on #46691
btw, how do you translate anchor with link, as it's text

example

[code]

[2022-06-28 11:38] ShaunSHamilton commented on #46640
@lasjorg Thank you for the ping. I have forwarded this to Quincy.

IMO, provided any images we use do not require attribution - we would like to attribute, but it gets difficult to do in the curriculum content.

[2022-06-28 11:40] ieahleen commented on #46691
come to the chat somewhere for this, this issue doesn't seam the best place

[2022-06-28 15:28] Sboonny opened #46695 "Strict step 1 with spacing, at building a cafe menu project"
### Describe the Issue

In step 1 of building a cafe menu, the `lang` attribute test is strict with space

Here is the markdown file

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f33071498eb2472b87ddee4.md#L22-L27

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-de

[2022-06-28 16:09] jeremylt opened #46697 "Menu Button on News Platform"
### Describe the Issue

An idea was proposed on the Discord.

Right now the news platform only has a link to the Forum, while the learn platform has a drop down menu with links to donate, curriculum, forum, news, radio, and language options. It might be nice to offer a similar set of links on the news platform.

### Affected Page

https://www.freecodecamp.org/news/

### Steps to Reproduce

N/A

##

[2022-06-28 16:12] SaintPeter commented on #46697
The other day I was searching for a specific challenge and I got a ton of forum responses.  I clicked through and was deeply annoyed that there was no button to take me to the main site/curriculum.  This would be a good change.

[2022-06-28 16:17] shootermv commented on #37615
hi
tried to mimic server error at 'save challenge' api
i cannot see the redirection to next challenge (as it says at the issue description), also not see any error message...
![image](https://user-images.githubusercontent.com/1336862/176229798-abf57876-2ab2-48ad-b934-023d59914954.png)

[2022-06-28 16:18] Sboonny commented on #46697
In a different issue, raisedadead mentioned they discussed adding menu in the past and it would be unlikely to add menu, but this discussion had a different point.

Here is the comment for context: https://github.com/freeCodeCamp/freeCodeCamp/issues/46569#issuecomment-1160406684

[2022-06-28 16:20] jeremylt commented on #46679
This back and forth in the PR probably is an indication that this was not ready for contribution yet....

Original text:
[code]

I've had good success on the forum by saying that the anchor element is being moved to replace the text `cat photos` in the `p`.

Possible fix:
[code]

[2022-06-28 16:55] SwapnilThatte commented on #46695
Can I work on this issue ?

[2022-06-28 18:22] #46691 closed

[2022-06-28 20:38] Liam-boston commented on #46679
^ very helpful, thank you.

[2022-06-28 21:32] iamhassaan commented on #46697
I can see there is a link to the "forum" and "donation" on the news page. However, there should be a link to take users to the main site as mentioned by @SaintPeter

[2022-06-29 02:24] #46695 closed

[2022-06-29 05:06] nhcarrigan opened #46705 "Bug in tests for Cat Photo App Step 49"
### Describe the Issue

The tests for the formatting are too strict and won't let valid code pass.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-49

### Your code

[code]

### Expected behavior

The above code should pass.

This code passes:

[code]

### Screenshots

_No response_

### System

- Device: [e.g. iPhone 6,

[2022-06-29 07:08] #45215 closed

[2022-06-29 07:24] Sboonny commented on #46705
here is failing test, in this markdown file https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804e1.md

but why it's failing is alluding me.

Anyway, I am in support of changing it to make it pass

[2022-06-29 07:57] ahmadabdolsaheb commented on #46530
Since we rarely change our fonts, we would need some digging into monospaced fonts to see what we need to consider before choosing one. Then preview code blocks from our challenges in the top choices and pick one.

[2022-06-29 12:42] ahmadabdolsaheb commented on #37615
if I remember correctly, this issue only happens on backend project submissions.

[2022-06-29 13:57] RandellDawson commented on #45922
Is there any plans to put a note or something for at least the 25+5 project regarding using React 17 vs. 18 when testing with the Test Suite?  This issue keeps popping up on the forum every day.  What is the status of fixing the tests to work with React 18?

[2022-06-29 14:03] YaaseenIbrahim commented on #46705
This code works:
`<fieldset> <label><input id="indoor" type="radio" name="indoor-outdoor" value="indoor"> Indoor </label> <label><input id="outdoor" type="radio" name="indoor-outdoor" value="outdoor"> Outdoor </label> </fieldset>`

But this code doesn't:
`<fieldset> <label> <input id="indoor" type="radio" name="indoor-outdoor" value="indoor"> Indoor </label> <label> <input id="outdoor" type="radio

[2022-06-29 14:04] QuincyLarson commented on #46640
Thanks for pointing this out. We are not sure how the use of these images passed QA, but it looks like the PR was merged 3 years ago. We can replace them with Creative Commons 0 images – preferably smaller file sizes, and hosted on freeCodeCamp's CDN. We might want to use cats to go with our theme.

[2022-06-29 15:21] #36118 closed

[2022-06-29 15:34] Sboonny commented on #46705
@YaaseenIbrahim finding this, without debugging is impressive, good job.

Yeab, this is helpful 🤍

[2022-06-29 16:44] #46683 closed

[2022-06-29 16:51] lasjorg commented on #45922
I was thinking of adding a note, I'm just not sure where to put it.

I have still seen some campers fail tests with React 18 on the challenges that should have been fixed. They might work now with the example project but that doesn't mean they can't fail for some campers. Switching to React 17 seems to be the only solution for some projects I have seen.

So should the note be for all of the challe

[2022-06-29 19:22] gikf commented on #46705
Test expects `input` to be first child node of the `label`. When there's text (spaces) before it, first node will be node with spaces. To check for `input` in all child nodes, and to ensure there's only one input per label, assertion can be changed to something like:

[code]

[2022-06-29 19:42] nhcarrigan commented on #45563
Yes. We want a single, generic page that lists a bunch of potential reasons, including privacy settings, `isBanned`, and `isCheater`.

The idea here is that we are protecting ourselves if we flag someone as `isCheater` when they did not intentionally cheat - we want to avoid making an implicit accusation.

[2022-06-30 04:12] shootermv commented on #37615
If issue exist obly at backend challenges, may be it can  be good to add this at issue description

[2022-06-30 04:43] austinjbrock commented on #46530
Roboto Flex could easily replace the current font family... Just a thought.

[2022-06-30 06:38] vanya31 opened #46717 "Issue in HTML challenge"
### Describe the Issue

In the fourth challenge of 'Learn HTML Forms by Building a Registration Form', the challenge gives an error of 'Link tag should be self closing'.
**The solution according to the challenge:**
<link rel="stylesheet href="styles.css"/>
**Whereas the solution should be:**
<link rel="stylesheet href="styles.css">

### Affected Page

https://www.freecodecamp.org/learn/2022/respon

[2022-06-30 07:03] Sboonny commented on #46717
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #44616, so we are closing it as a duplicate.

If you think we're wrong in closing this issue, please request for it to be reopened and add further clarification. Thank you and happy coding.

[2022-06-30 07:03] #46717 closed

[2022-06-30 08:28] #46003 closed

[2022-06-30 09:06] RayAsh37 opened #46718 "Typo in one of the challenges in the "Data Analysis in Python" curriculum"
### Describe the Issue

Out of the 2 points in the "More resources:" section, the first point has a typo that has caused it to render in an unintended manner.

Check this [link](https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-course/data-analysis-example-b)

### Affected Page

https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-pyt

[2022-06-30 10:17] Petrtolu commented on #46097
honestly having issue adding **class one**. could someone assist for step 16

[2022-06-30 10:20] Petrtolu commented on #46097
![image](https://user-images.githubusercontent.com/108340033/176654195-cef7e2fd-5b9a-450a-a480-525c82e41659.png)

[2022-06-30 10:32] Sboonny commented on #46097
@Petrtolu this isn't the right place to seek help in a steps.

 You should join discord https://chat.freecodecamp.org/home, or open topic in the forum https://forum.freecodecamp.org/

[2022-06-30 12:29] #46705 closed

[2022-06-30 12:31] spiderxp3 commented on #46697
I am interested to work on that.

[2022-06-30 13:13] spiderxp3 opened #46727 "Menu button for all categories available on footer of website like about, alumni network, sponsership."
### Describe the Issue

On clicking any link, pages redirected not have a go-back option or Menu button.
Bug is there on clicking support option.

### Affected Page

https://www.freecodecamp.org/news/about/

### Steps to Reproduce

1. Search for footer section in client mode.
2. Get articles section and create menu button with link to main website.

### Expected behavior

Improvement and more reli

[2022-06-30 13:19] ShaunSHamilton commented on #45563
**Support Cases**

1) Camper navigates to `/certification/sky020/...`. `sky020` has not claimed certificate
2) Camper navigates to `/certification/sky020/...`. `sky020` has had certificate revoked
3) Camper navigates to `/certification/sky020/...`. `sky020` has `showCerts: false`
4) Camper navigates to `/certification/sky020/...`. `sky020` has `isLocked: true` - _we really should rename this_
5) C

[2022-06-30 15:16] GrzywN opened #46728 "Tests are not passing when using new JS syntax (const [LOGIN, LOGOUT] = ['LOGIN', 'LOGOUT'])"
### Describe the Issue

Test doesn't pass even, if variables are declared using `const`. It's totally correct and it's working, but tests doesn't pass. Variables are `const`, but are made using the new syntax which I think tests doesn't support.

### Affected Page

https://www.freecodecamp.org/learn/front-end-development-libraries/redux/use-const-for-action-types

### Your code

[code]

### Expect

[2022-06-30 15:21] #46718 closed

[2022-06-30 15:45] ieahleen commented on #46728
The test is this one
[code]
it would need to be changed to support a destructuring assignment

this is the file
https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/03-front-end-development-libraries/redux/use-const-for-action-types.md

https://github.com/freeCodeCamp/freeCodeCamp/blob/e2d6b5eb5f5e2b78cf018a374375d6919425cf52/curriculum/challenges/english/03-front-e

[2022-06-30 15:47] ieahleen commented on #46727
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #46697, so we are closing it as a duplicate.

If you think we're wrong in closing this issue, please request for it to be reopened and add further clarification. Thank you and happy coding.

[2022-06-30 15:47] #46727 closed

[2022-06-30 16:32] ilenia-magoni opened #46729 "refactor challenge types for reliable client logic"
There are two issues here.  Firstly [...] that the client is performing ad-hoc logic. Secondly, that there isn't a good way to determine which challenges are JS projects.

With those two issues in mind, I think the way to go is as follows.  We have a challenge type `bonfire` that is functionally equivalent to the challenge type `js`.  I'd rename that `jsProject`, convert all the *other* challenges

[2022-06-30 16:37] ShaunSHamilton commented on #45563
Yes

[2022-06-30 18:14] MSK1582 commented on #46728
If no one's working on this, I can fix this quickly.

[2022-06-30 18:51] #46679 closed

[2022-07-01 09:44] robdll opened #46730 "test failing on "URL Shortener Microservice" challage when using NextJs"
### Describe the Issue

When trying to complete thee challenge it fails 3 of the 4 tests although the developed project works properly

Failed:You can POST a URL to /api/shorturl and get a JSON response with original_url and short_url properties. Here’s an example: { original_url : 'https://freeCodeCamp.org', short_url : 1}
Failed:When you visit /api/shorturl/<short_url>, you will be redirected to

[2022-07-01 10:32] #46006 closed

[2022-07-01 11:41] shootermv commented on #37615
so, after reading, and understanding more about this issue,
i will try to summarize  things i found out so far:
the bug happens **when** there is some problem with api server (error at request), and user trying to submit back-end challenge.
the bug is - that user present with "success" modal
the desired behavior is - user should not see any modal, but only a warning message about server failure

[2022-07-01 14:15] moT01 commented on #46730
The link to your repo doesn't work @robdll - not sure if it's private or you deleted it or what, but it doesn't seem to be there.

I tried to submit your project, I see a lot of CORS errors from the tests requests:
<img width="591" alt="Screen Shot 2022-07-01 at 9 09 14 AM" src="https://user-images.githubusercontent.com/20648924/176911186-aae0761f-f64b-4965-8071-0af5ff653905.png">
<img width="756"

[2022-07-01 15:44] jeremylt opened #46735 "Registration Form 30 - Too Strict of Test"
### Describe the Issue

The test for this challenge is a bit too strict with whitespace.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-forms-by-building-a-registration-form/step-30

### Your code

[code]

### Expected behavior

This code should pass

### Screenshots

_No response_

### System

All

### Additional context

_No response_

[2022-07-01 16:04] ojeytonwilliams commented on #46729
Sure, I think this can be broken down into a few PRs

JS:
- convert `bonfire` to `jsProject`
- convert all JS challenges to challengeType `js`
- simplify the client logic

Multifile
- convert from challengeType 0 to a new type
- simplify the client logic

Does that about sum it up?

[2022-07-01 19:44] nhcarrigan commented on #46735
[code]

Should be able to tighten up the replace regex. Or use `trim`.

[2022-07-01 19:53] nhcarrigan commented on #46730
I agree we should clarify the test descriptions to indicate the shape of the requests we are making.

[2022-07-01 22:44] #46640 closed

[2022-07-02 14:11] Sboonny opened #46747 "FormGroup @ahmadabdolsaheb"

[2022-07-02 16:08] Sboonny commented on #45459
Form control for chapter:

Need to alter the props to account for chapter need here is the link of the chakira component

https://github.com/chakra-ui/chakra-ui/tree/main/packages/form-control

[2022-07-03 00:34] bbsmooth opened #46750 "Unclear instructions for Registration Form Step 33"
### Describe the Issue

I've encountered this several times now in the forums. The test will only pass if the `textarea` is added at the end of the `fieldset` after all other inputs, but the instructions do not make this clear. Thus, campers are adding it at the beginning of the `fieldset` and although their HTML is correct, the test is not passing because they have added it in the wrong spot.

##

[2022-07-03 13:28] s-hackman opened #46752 "Step 49 onwards City Skyline Project"
### Describe the Issue

Step 49 suggests adding height of 100% to .bb2b

![image](https://user-images.githubusercontent.com/106757825/177041019-afe7a1d5-0f94-46fa-8c18-1b5a641a877e.png)

When I completed the project on VS code, the .bb2b building was still overhanging but this problem did not happen on the preview of the freeCodeCamp website.

![image](https://user-images.githubusercontent.com/106

[2022-07-03 16:56] robdll commented on #46730
@moT01 thanks for checking my issue.

I checked both the [repo link](https://github.com/robdll/short-url) and the [website link](https://short-url-six-sigma.vercel.app/) provided and are working, maybe there was a vercel/github issue when you tried to access them?

I've also tried to make the request

- via curl:
`curl -d "original_url=https://roberto.dilillo.dev" -X POST https://short-url-six-sig

[2022-07-04 00:46] #46735 closed

[2022-07-04 02:35] robdll commented on #46730
can confirm this is a cors issue, closing

[2022-07-04 14:18] ahmadabdolsaheb commented on #45459
Which prop is being used in the chapter that we are not passing in the component library?
Since chapter views are limited, it might be easier to create the components with learn specifications and use those props to control the component. does that make senes?

[2022-07-04 14:41] Sboonny commented on #45459
Instead of checking the chaikra library and comparing it with the current component, I am better off checking chapter itself for prop it's using.

for example, in this file https://github.com/freeCodeCamp/chapter/blob/main/client/src/components/Form/Fields.tsx
we are using `key` and `isRequired`, so I note these down and check if these 2 props are different from the props we are using.

depend on

[2022-07-04 15:54] Sboonny commented on #46750
I vote for adding clarifications, although I don't mind removing the restriction. It would be worried if this is the only challenge without these restrictions

[2022-07-04 16:15] Sboonny commented on #46747
styles from css

[code]

[2022-07-05 07:57] ahmadabdolsaheb commented on #45459
Here is what I propose we do. We could continue building the components with the learn spec and ship them. For the second sprint, we collect the Chapter requirements and update the components accordingly.

[2022-07-05 12:59] ahmadabdolsaheb commented on #46629
Had a discussion with a few of the dev team and here is the conclusion:
1. The CDN will be the single source of truth.
2. New prs to the trending links for each language will check if the new links have the required number of texts, links, and max chars for the links of each column.
3. Learn will pull from CDN on build
4. News pulls from CDN on build
5. Once CDN pr to the English trending articles

[2022-07-05 15:52] #46728 closed

[2022-07-05 17:43] #44616 closed

[2022-07-05 19:57] bbsmooth opened #46769 "Clarify instructions for Cafe Menu Step 14"
### Describe the Issue

Campers are creating the new rule set properly but are adding it below the existing rule sets instead of deleting them, which is necessary to pass this step. Even though the hint says "You should only have one selector in your style element." it doesn't seem that they understand what this means.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-desi

[2022-07-06 01:59] jdwilkin4 commented on #46769
I like this second option. I think adding this to the instructions will make it more clear.

[2022-07-06 03:36] LauraLangdon opened #46771 "CSS Flexbox Photo Gallery Step 1: language attribute causes error"
**Describe the bug**
The `html` opening tag is rejected if it contains a language attribute.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to New Responsive Web Design -> Learn CSS Flexbox by Building a Photo Gallery
2. Click on Step 1
3. Fulfill the listed requirements and include a language attribute in the `html` opening tag
4. Code is rejected with the hint "Your `html` element shou

[2022-07-06 06:41] bbsmooth commented on #46771
It looks like this will be fixed in [PR #46639](https://github.com/freeCodeCamp/freeCodeCamp/pull/46639/files).

[2022-07-06 08:32] Sboonny opened #46772 "In cat app photo project, meta element is mislabeled"
### Describe the Issue

as ieahleen mentioned in Crowdin, if `meta` written this way, then it is an element. While if it's written this way `<meta>`, it's a tag.

The description and the hint should be changed accordingly

[code]

### Affected Page

https://github.com/freeCodeCamp/freeCodeCamp/blob/f27c2e80898a59cae85fcd8d81d0a0d1251a8982/curriculum/challenges/english/14-responsive-web-design-22/l

[2022-07-06 12:37] ahmadabdolsaheb commented on #46697
@QuincyLarson, I was wondering if we should bring back the menu button on news which would include on search mobile, links to the forum and lean, etc.

[2022-07-06 14:03] nhcarrigan commented on #41255
@ahmadabdolsaheb

[2022-07-06 14:06] moT01 commented on #40896
Update on this: Many of those PR's that made changes to Euler just made an improvement to them that partially helps with the issue here, but doesn't make the full adjustment. So the list that hasn't been changed is still quite large.

[2022-07-06 14:17] ahmadabdolsaheb commented on #45563
Thinking out loud here:

Ideally if we know why something has gone wrong (incorrect username, showCert: false), we would need to communicate that early.

We can avoid redirecting if it is not necessary.

Since the scope of this faq/info page is limited, I think we should not make a help center or support page just yet.

How about using the 404 template, grouping the errors, and displaying a messag

[2022-07-06 14:17] nhcarrigan commented on #41510
@miyaliu666 if these quotes are good can we get them added?

[2022-07-06 14:20] ieahleen opened #46775 "documentation: add how to translate quotes to language lead handbook"
Quotes are in
`https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/i18n/locales/<language>/motivation.json`

[2022-07-06 14:23] nhcarrigan commented on #41995
Going to close this as stale - something we can ideally fix with Oliver's mega-rewrite of our client/curriculum logic.

[2022-07-06 14:23] #41995 closed

[2022-07-06 14:29] nhcarrigan commented on #42294
This fell under the radar, but here's a quick fix.

We should update the challenge to ask campers to add version 1.0.0 of `freecodecamp`: https://www.npmjs.com/package/freecodecamp

[2022-07-06 14:31] nhcarrigan commented on #42304
Going to close this as this is related to legacy content, which we don't want to invest our limited developer hours into maintaining.

[2022-07-06 14:31] #42304 closed

[2022-07-06 14:43] moT01 commented on #42621
In addition to the discussed "404" page or whatever we come up with, we should add this next to the timeline setting:
<img width="289" alt="Screen Shot 2022-07-06 at 9 42 13 AM" src="https://user-images.githubusercontent.com/20648924/177577406-593953f8-1a29-4a11-b253-7fcc851db5f6.png">

[2022-07-06 15:02] moT01 commented on #46658
I can't reproduce it either.

[2022-07-06 15:04] nhcarrigan commented on #46658
Going to close this as can't reproduce.

If anyone is able to reproduce again with some additional relevant information, feel free to let us know and we can re-open as needed.

[2022-07-06 15:04] #46658 closed

[2022-07-06 16:57] raisedadead commented on #45563
That is precisely what a dedicated page will be, isn't it?

To be clear, and we all understand this correctly, let's stop calling it a 404 😓. It's just a custom error page. Let's call it what it is and avoid confusion over any HTTP error pages to which Gatsby will automatically route a user when it sees a corresponding error.

Back on to track then:

When we find multiple validation failures, we n

[2022-07-06 17:07] Sboonny opened #46776 "(FEL): redux use const for action types doesn't accept a valid answer"
### Describe the Issue

As pointed out by @raditotev in the affected page, there is a valid solution, that isn't accepted by the tests. But if we keep adding to the regex, it will be too complicated, and it will get out of hand for new contributor to be able to help.

Radi comment: https://github.com/freeCodeCamp/freeCodeCamp/pull/46753#issuecomment-1174857836

@lulululu12345 has mentioned a regex

[2022-07-06 17:08] Mosesjespar commented on #46772
Me too man, but I have no idea how on how to actually contribute.Any help or guide?

[2022-07-06 17:12] Sboonny commented on #46772
@Mosesjespar [our guidelines for contributing](https://contribute.freecodecamp.org/#/)

[2022-07-06 17:13] ieahleen commented on #46776
uhm... try to reassign LOGIN and LOGOUT, if it gives error `TypeError: Assignment to constant variable.` you pass?
that would remove all those regex checks

[2022-07-06 17:29] raditotev commented on #46776
@ieahleen this doesn't work, [see here](https://github.com/freeCodeCamp/freeCodeCamp/pull/46753#pullrequestreview-1028861387):

For some reason the JS test runner allows constants to change.

[2022-07-06 17:30] raditotev commented on #46776
Thanks for opening this issue @Sboonny .

[2022-07-06 19:16] Sboonny commented on #46772
This issue is simple, I would fork the repo and use Gitpod `.gitpod.yml` should automatically set everything up, you will still need to create your own branch. But you can try locally if you want some experience with node, although I would not do that

[2022-07-07 02:00] jeremylt opened #46783 "Strict whitespace test"
### Describe the Issue

Overly strict whitespace tests

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-forms-by-building-a-registration-form/step-15

### Your code

[code]

### Expected behavior

The space between the input element and closing label tag shouldn't matter, right?

### Screenshots

_No response_

### System

All

### Additional context

_N

[2022-07-07 06:46] Sboonny commented on #46783
Here is the markdown file: https://github.com/freeCodeCamp/freeCodeCamp/blob/eca650dc699aaaa8846b64e9d1d5d642562e97eb/curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60f805f813eaf2049bc2ceea.md

we can use regex in these tests

Something like `/Enter Your First Name: <input\s*>\s*/`, but we have to use regex which is headache.

[2022-07-07 07:28] miyaliu666 commented on #41510
Can you wait for another week, so I can review them and translate the rest after finishing the translation of the first curriculum? Thanks for your huge patience! @nhcarrigan

[2022-07-07 08:12] ieahleen commented on #46776
No, right, all the user code is converted to `var` under the hood, @nhcarrigan was having the same issue

[2022-07-07 09:46] Sboonny opened #46785 "Typos in the hints of multiple files, testing for self closing link"
### Describe the Issue

as ieahleen mentioned in Crowdin, there are multiple files with typos in them. they say

[code]

These hints should be changed to

[code]

because they are testing if there is a single self-closing `link`

### Affected Pages

- [ ] [cafe menu hint](https://github.com/freeCodeCamp/freeCodeCamp/blob/37c886e9db77acd83fea5f50a84a3f5a6d4168e8/curriculum/challenges/english/14-res

[2022-07-07 15:02] #46537 closed

[2022-07-07 15:53] Sboonny commented on #46783
Sure, I don't mind, because they aren't required to type text in this step, but the description will be altered

[2022-07-07 15:54] jeremylt commented on #46783
I'm not sure I see why the description would be changed. I was thinking of this:
[code]

[2022-07-07 17:16] #46783 closed

[2022-07-07 19:03] #46772 closed

[2022-07-07 19:07] ieahleen commented on #46776
I propose

[2022-07-07 19:10] Sboonny opened #46794 "Line goes against our challenge document in skyline project"
### Describe the Issue

In step 5 of building a skyline project, there is a text that go against [challenge document](https://contribute.freecodecamp.org/#/how-to-work-on-coding-challenges?id=challenge-descriptionsinstructions)

This should be changed to

Here is the markdown file https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn

[2022-07-07 19:13] jez120 commented on #45553
Redirection back to origin site endless loop in Chrome, what should I do ? I am doing freecodecamp Learn Relational Databases by Building a Mario Database?

[2022-07-07 21:04] robdll opened #46797 "Wrong status code required to pass Invalid Url test in URL Shortener Microservice project"
### Describe the Issue

Last test of the `URL Shortener Microservice` requires the following:

The test fails if the response isn't returned with a 2xx status code.

Since the API is returning an error it would makes sense to return the response with a `400 Bad Request` status code.

Here is the [test file](https://github.com/freeCodeCamp/freeCodeCamp/blob/00488ab645ca0efa1adb3fcab73e458636aa07dd/

[2022-07-08 00:35] AdamZaczek commented on #45553
Could you post a video @jez120 so I can try to reproduce it?

[2022-07-08 00:55] #46794 closed

[2022-07-08 00:57] AdamZaczek commented on #45553
Thank you, for reporting @jez120 . I've fixed one issue that you might have experienced. Let me know if it was the one since I don't have many. details

[2022-07-08 01:22] #46769 closed

[2022-07-08 06:31] gikf commented on #46752
Could you include more detailed steps how to reproduce the issue? I wasn't able to get it look like that.

[2022-07-08 11:17] jez120 commented on #45553
Hi Adam thanks for your prompt response. Yes I am able to log on to Building a Mario Database. I like your Boilerplate course and also Mario Datase so far. Thanks and regards.

[2022-07-08 11:36] Sboonny commented on #46776
Because I don't want to make the regex text more complex, and the opportunity of changing it from regex isn't possible currently. I vote with Ieahleen suggestion

[2022-07-08 12:24] AdamZaczek commented on #45553
Awesome, I'm glad to hear that. Have fun coding @jez120!

[2022-07-08 13:35] #46775 closed

[2022-07-08 15:10] Sboonny opened #46809 "Typo in cramers rule challenge from rosetta code section"
### Describe the Issue

there is a typo in cramers-rule challenge, `determinates` is used instead of `determinants` which is wrong

these sentences

should be changed to

Here is the markdown file https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/10-coding-interview-prep/rosetta-code/cramers-rule.md

### Affected Page

https://www.freecodecamp.org/learn/coding-in

[2022-07-08 16:19] naomi-lgbt opened #46810 "Camper Feedback on Code Saving UX"
### Describe the Issue

Received this feedback via our support email:

These certification projects take a significant amount of work, so losing progress can be remarkably frustrating. We need to reconsider the logical flow we have here and see how we can improve it to prevent this going forward.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/build-a-tribute-page

[2022-07-08 17:07] #46752 closed

[2022-07-08 17:09] SaintPeter commented on #46810
Related:
You also get a scrollbar on the whole page, which is confusing and probably wrong.
![image](https://user-images.githubusercontent.com/553494/178038719-9e42b3d1-84a6-4f31-b80d-ae0175ead4b8.png)

[2022-07-08 19:04] ayaanraj commented on #46809
@Sboonny I wanted to work on this issue

[2022-07-08 19:07] Sboonny commented on #46809
@ayaanraj feel free to open pull request after you have read [our guidelines for contributing](https://contribute.freecodecamp.org/#/)

[2022-07-08 20:30] jeremylt opened #46813 "Dead Code in Example"
### Describe the Issue

We have code that does nothing in this example.

### Affected Page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/using-objects-for-lookups

### Your code

[code]

### Expected behavior

We should update the example to include meaningful example code.

Perhaps:
[code]

### Screenshots

_No response_

### System

All

### Addit

[2022-07-08 21:40] bbsmooth opened #46814 "Bugs in Colored Markers Step 2"
### Describe the Issue

I am able to pass this step by completely removing all HTML from the editor. I am also able to pass this step if I add the correct `head` and `body` elements but delete everything else. Finally, I am able to pass this test if I add the `body` element before the `head` element.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-colors

[2022-07-08 22:27] jeremylt opened #46815 "There is no Ryan"
### Describe the Issue

The challenge text mentions Ryan but there is no Ryan.

[code]

### Affected Page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-object-with-a-for---in-statement

### Your code

[code]

### Expected behavior

We should only mention parts of the example that exist, ideally.

### Screenshots

[2022-07-08 23:51] texas2010 commented on #46815
wow. Ryan was exist?  that is interesting.

[2022-07-09 07:29] ieahleen commented on #46815
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/iterate-through-the-keys-of-an-objec

[2022-07-09 07:30] ieahleen commented on #46813
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/using-objects-for-lookups.md

Please make

[2022-07-09 07:35] ieahleen commented on #46814
The querySelector tests can be tricked by the fact that some things are automatically added by the browser.

But all these, how can these pass if the code is empty?

https://github.com/freeCodeCamp/freeCodeCamp/blob/428de4154dbb41576bacc34ed31d7639a9a0d9d7/curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/61695ab9f6ffe951c16d03dd.md?pla

[2022-07-09 07:46] Dhruv-Gajjar commented on #46813
I would like to work on this issue.

[2022-07-09 07:52] ieahleen commented on #46813
Welcome @Dhruv-Gajjar, as described in the documentation, issues are up for grubs, they are not assigned, so feel free to work on it.

[2022-07-09 07:56] gikf opened #46824 "Dependency handling in boilerplates on Replit, and update status for Python Projects"
### Describe the Issue

When using boilerplate code forked to the replit, replit used to install dependencies on the first run using the _standard_ packager. That's not a case anymore for the boilerplates, probably due to some missing required configuration. Replit seems to have changed their dependency handling, relying more on the `replit.nix` file defining the environment. This affects both JS

[2022-07-09 08:00] #46809 closed

[2022-07-09 08:30] RandellDawson commented on #46824
I forked the boilerplate or the Arithmetic Formatter project and add a `replit.nix` file that looks like:
[code]
Next, I confirmed that using the import GitHub feature on repl.it did not change the `replit.nix` file in any way when it is imported and was able to run everything like it used to be.  So, I guess we just need to figure out what each boilerplate needs as far a `replit.nix` file and req

[2022-07-09 08:57] gikf commented on #46824
For python boilerplates that would be:

https://github.com/freeCodeCamp/boilerplate-arithmetic-formatter
[code]

https://github.com/freeCodeCamp/boilerplate-page-view-time-series-visualizer
[code]

https://github.com/freeCodeCamp/boilerplate-mean-variance-standard-deviation-calculator
[code]

https://github.com/freeCodeCamp/boilerplate-demographic-data-analyzer
[code]

https://github.com/freeCodeC

[2022-07-09 13:10] ShaunSHamilton commented on #46810
I am fine with moving the button somewhere else.

Personally, I dislike auto saving, and disable it anywhere I can. So, if we did implement it, I would like to be able to disable it.

[2022-07-09 15:34] Sboonny commented on #46810
I have the same opinion as Shaun.

I am wondering if it's possible for camper to create a project in GitHub, create a deploy key for said project then we can create a function that inject the HTML and CSS files they create into the GitHub repo

https://docs.github.com/en/developers/overview/managing-deploy-keys#deploy-keys

[2022-07-09 16:38] ShaunSHamilton commented on #46810
We should not force Campers to have a GitHub account. Especially, when they have just started HTML and CSS.

[2022-07-09 18:38] raditotev commented on #46776
There are two conditions to be fulfilled for this test:
1. User should use variable instead of string
2. Variable should be constant
I think the more declarative approach would be the following:
[code]
I think the above will work without being too implicit regarding the solution.
I would say the last  two `assert.isNotOk` could even be omitted because there is always a slim chance someone might wr

[2022-07-09 18:42] #46815 closed

[2022-07-09 19:32] bbsmooth opened #46834 "Survey Form Certification Project: Clarify tests for non-empty labels"
### Describe the Issue

There are three tests that test for non-empty labels:

"Your #name-label should not be empty."
"Your #email-label should not be empty."
"Your #number-label should not be empty."

I think the word "empty" is slightly ambiguous here. These tests appear to be looking for actual text inside the label. But if the user nests an `input` inside the label without text then the `labe

[2022-07-09 19:37] Sboonny opened #46835 "Line goes against our challenge document in skyline project"
### Describe the Issue

In step 17 of building a skyline project, there is a text that go against [challenge document](https://contribute.freecodecamp.org/#/how-to-work-on-coding-challenges?id=challenge-descriptionsinstructions)

This should be deleted

Here is the markdown file [curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a799

[2022-07-09 19:40] Sboonny commented on #46834
Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instructions in our guides. Join us in [our chat room](https://discord.gg/PRyKn3Vbay) or [the forum](https://forum.freecodecamp.org/c/contributors/3) if you need help contributing, our moderators will guide you through this.

Sometimes we may get more than o

[2022-07-09 19:43] ieahleen commented on #46776
there is a function to strip comments that can be used, so that the last two can be included

[2022-07-09 20:58] DeviousLab opened #46836 "Basic Node and Express - Use the .env File Test broken"
### Describe the Issue

When trying to test the 'Use the .env File' challenge, the Replit console crashes and the test fails on FCC's end. I believe this might be a issue similar to #40915.

### Affected Page

https://www.freecodecamp.org/learn/back-end-development-and-apis/basic-node-and-express/use-the--env-file

### Your code

Link to [Replit](https://replit.com/@DeviousLab/boilerplate-express#

[2022-07-09 21:15] Sherelle-S commented on #46835
Hi Sboonny! I'm back for another try! can I have this issue

[2022-07-10 04:10] Sboonny commented on #46835
@Sherelle-S yes, nice seeing you back. Feel free to 👍

[2022-07-10 04:58] nhcarrigan commented on #46675
@Sboonny We would not want to introduce `grid` here, as that's not taught until later in the curriculum.

However, this project does come immediately after the flexbox project, and would be a good opportunity to reinforce those concepts.

[2022-07-10 06:20] Sboonny opened #46840 "Missing code block around the hint"
### Describe the Issue

In step 36 of catAppPhoto project, the hint in line 33 missing code block

This should be changed to

Here is the markdown file [curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5ef9b03c81a63668521804d8.md#](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-h

[2022-07-10 06:33] bbsmooth commented on #46814
I stuck a `console.log(code)` in the first test and when there is no content in the editor `code` equals `<head></head><body></body>`. I don't know enough about how this works to know why that's the case, but that explains why it is passing when there is no content in the editor.

[2022-07-10 07:06] #46813 closed

[2022-07-10 13:14] Sboonny opened #46843 "Specify the number of project from full Projects is Complete"
### Is your feature request related to a problem? Please describe.

"When I submit the project it stops at 60%" is common to see in the forum or discord chat, those percentages seem to confuse many people

### Describe the solution you'd like

Saying 'X of Y Projects Complete'

### Describe alternatives you've considered

I have no idea

### Additional context

here is the completion model https:/

[2022-07-10 13:50] WaterBloom commented on #44827
@ahmadabdolsaheb Hello, sorry for the late reply.

After seeing this notification, I opened the curriculum on a random step to see if I could provide you with more information. I mostly forgot how the page was structured and my eyes just ran across the page in no specific order. "Check your code" was the first text I read, as it draws the most attention, and then "index.html".

I believe that woul

[2022-07-10 13:56] robdll commented on #46797
this has been solved by using [this solution](https://stackoverflow.com/a/72663223/2324133)
Next js requires to return a 202 on option method

[2022-07-10 13:56] #46797 closed

[2022-07-10 14:11] DeviousLab commented on #46836
This issue can be disregarded as after running `npm update --save` as suggested by [FCC](https://forum.freecodecamp.org/t/use-the-env-file-issue-resolved/444454) the error message no longer appears and the test functions properly.

It seems that the starter code for these challenges needs to be updated though:
![image](https://user-images.githubusercontent.com/53790060/178148509-e7e0922b-cc9c-40d8

[2022-07-10 16:14] #46840 closed

[2022-07-10 16:17] #46835 closed

[2022-07-10 17:35] Sboonny opened #46845 "Line goes against our challenge document in skyline project"
### Describe the Issue

In step 18 of building a skyline project, there is a text that go against [challenge document](https://contribute.freecodecamp.org/#/how-to-work-on-coding-challenges?id=challenge-descriptionsinstructions)

This should be deleted

Here is the markdown file [curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a799

[2022-07-10 23:12] CarstenNeubert opened #46846 "Colored Markers project step 12: inaccuracy in description"
### Describe the Issue

In the "Learn CSS Colors by Building a Set of Colored Markers" project, the step 12 description reads:

The div doesn't have any height by default, but as it's a block-level element it spans the entire width of the containing element (body).

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-colors-by-building-a-set-of-colored-marker

[2022-07-10 23:22] Sboonny commented on #46846
@CarstenNeubert  As not a native english speaker, I am confused. Can you provide more details, and an alternative you think will fit the current step?

[2022-07-10 23:33] lasjorg commented on #46846
I agree, it should only be height, not width. As you pointed out the element does have a width.

[2022-07-10 23:37] lasjorg commented on #46846
Suggested change, remove the "width or" from the sentence.

[2022-07-11 00:38] lasjorg commented on #46824
I made a few PRs but I might wait until I know if it's the correct fix or not. But every boilerplate I tried so far seems broken on import.

The language auto-detect on import is also failing on some of them. It looks like it is based on the percentage GitHub gives in the Languages statistics. If I add a `.gitattributes` and exclude the HTML files it fixes the auto-detect done by Replit.

.gitattr

[2022-07-11 07:08] ieahleen commented on #46846
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/616d50b93ba424d6282c9

[2022-07-11 12:34] Sboonny commented on #46845
Hi @Haririthanya, thanks for taking interest in it. Feel free to open pull request after you have read the guide, we have stopped assigning people unless they are an old contributor.

[2022-07-11 13:56] ieahleen opened #46852 "docs: add to the language lead handbook how to translate tip,warning,attention,note box headers"
It can be translated from the file https://github.com/freeCodeCamp/freeCodeCamp/blob/main/docs/index.html

The process should be added to the language lead handbook

[2022-07-11 14:11] jasoncarr95 commented on #46846
This is my first "real" contribution to open source (let alone to FCC), so although it is a pretty insignificant one, please feel free to provide me with any feedback and/or constructive criticism please!

[2022-07-11 14:24] moT01 commented on #46730
Did you see the addition I added to my comment @robdll?

I would try to change your app to handle a body that looks like what the tests are using - I think that's likely the problem.

[2022-07-11 16:17] #46846 closed

[2022-07-11 17:20] jeremylt opened #46854 "Bad Grammer"
### Describe the Issue

In this challenge the instructions say:

The phrase 'Except for the two radio inputs' is not a complete sentence.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-forms-by-building-a-registration-form/step-36

### Expected behavior

We should use complete sentences.

### Screenshots

_No response_

### System

All

### Additional

[2022-07-11 17:21] RandellDawson commented on #46824
To fix the issue for the Node challenges, I think we can just change the `.replit` file to be:
[code]

This will cause the import to occur when the Run button is clicked.

[2022-07-11 17:29] nhcarrigan commented on #46854
How's that?

[2022-07-11 17:29] jeremylt commented on #46854
I like it!

[2022-07-11 17:39] nhcarrigan commented on #46854
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/60fad1cafcde010995e15306.m

[2022-07-11 17:56] bbsmooth opened #46856 "Cafe Menu Step 18: Test fails if meta tags are not separated by newline"
### Describe the Issue

If the user adds the new `meta` tag on the same line as the first `meta` tag then the test will fail. The hint will tell the user that they should have two `meta` tags, which they do. As soon as the new `meta` tag is moved to a new line then the test will pass.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-basic-css-by-building-a-ca

[2022-07-11 18:18] KravMaguy opened #46857 "Bug: isDonating state on donation page should be false for a user that does not have an active subscription"
### Describe the Issue

If a user does not have an active donation subscription. isDonating should be false on donation page.

### Affected Page

https://www.freecodecamp.org/donate/

### Steps to Reproduce

1. Create a donation subscription
2. Wait sometime and Cancel recurring subscription
3. go to donations page
4. The wrong message is displayed:
![image](https://user-images.githubusercontent.c

[2022-07-11 18:44] utsav0 commented on #46854
Hey, new here.
Can I work on this?

[2022-07-11 18:46] robdll commented on #46730
@moT01 yes sorry,
I can confirm that was one of the issue, and i also solved the NExt js issue thanksto [this post](https://stackoverflow.com/a/72663223/2324133)

The preflight request was failing due to an agressive HTTP method filter.

If anyone has the same issue, make sure that you specify
[code]

[2022-07-11 18:46] #46730 closed

[2022-07-11 18:59] ieahleen commented on #46856
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/5f3477cbcb6ba47918c1da92.md

Change

[2022-07-11 18:59] jeremylt commented on #46854
Its open to anyone - go ahead

[2022-07-11 19:14] bbsmooth commented on #46854
My mother the English teacher would be proud.

[2022-07-11 23:05] bbsmooth opened #46863 "CatPhotoApp Step 6 is still not clear"
### Describe the Issue

For such a seemingly easy step this one is still a very popular topic in the forums. I think the fact that so many people are still struggling with it is telling us that the instructions are not clear enough. I also think the addition of the example code is confusing too many people into thinking they need to use it in the solution. I know that we now have a test that check

[2022-07-11 23:19] #46511 closed

[2022-07-12 01:21] lasjorg commented on #46824
I'm not sure there is much in the process that can be improved. It is pretty simple. You click the link and it imports the repo, you click the Run button and it (should) install the dependencies and run the code.

Replit just changed something and now the dependencies install fails for some users (me included, it just doesn't install the dependencies when I click Run). There are also some language

[2022-07-12 01:37] lasjorg commented on #46824
As for some other issues we have seen with Replit.

- Sometimes users fail challenges with their own IP and pass when using a VPN.
- We see SSL issues from time to time with the full page preview when it doesn't get a secure connection. The iframes used always seems to work with SSL (project preview and in-editor preview).

Both issues look related to the geolocation of the user. I don't really ha

[2022-07-12 02:10] 11HyperlinkBlocked11 opened #46867 "Lack of practice questions in courses"
### Describe the Issue

Curriculum lack practice questions after each course (little courses before cert projects).
It is easy to forget info after going through the course, so it would be great if there will be tests which test you on _everything_ you can learn from each course.
E.g. questions like

- What element is used for creating links?
- What semantic element is used for grouping related co

[2022-07-12 07:13] #46854 closed

[2022-07-12 07:16] #46845 closed

[2022-07-12 07:28] #46856 closed

[2022-07-12 07:32] ieahleen commented on #46867
You don't have to memorize everything, the quiz would give that impression, I am not keen on the idea

[2022-07-12 08:37] junilm opened #46868 "Issue in Learn CSS Animation by Building a Ferris Wheel Step 1"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
Correct answer is shown as incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to (https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-

[2022-07-12 10:28] ieahleen commented on #46868
I can't reproduce the issue, the code you posted is passing

[2022-07-12 11:32] #46867 closed

[2022-07-12 11:42] Sembauke commented on #46868
@junilm Please make sure that you disable any extensions that might interfere with completing the challenge.

[2022-07-12 12:04] gikf commented on #46824
I've double checked and `npm install` might not work in every case, if there's `package-lock.json`. Like in case of https://github.com/freeCodeCamp/boilerplate-express and required newer version of `fcc-express-bground` package than `npm install` installs.

The changes that @lasjorg did in https://github.com/freeCodeCamp/boilerplate-express/pull/96 covered the appropriate version of package, but a

[2022-07-12 14:14] lasjorg commented on #46824
I think the package version issue might have to do with the lockfile not having the correct version. I have refreshed the lockfile in all the PRs for good measure and to avoid any warnings about npm versions.

As for the config, I would prefer to use the syntax shown in the docs and have all the configs use the same syntax.

[2022-07-12 14:55] RandellDawson commented on #46824
@lasjorg So why are we seeing the problem with the NPM Node challenges where the fcc-express-background package is older when users start a brand new project on repl.it?

[2022-07-12 15:08] taylorafox1 commented on #45553
I'm having the same issue on Chrome trying to access the bash programs course and SQL part 1 course. I have cookies enabled but still getting stuck when it tries to redirect after logging in to codeally with my github signin.

[2022-07-12 15:19] AlvaroH1276 commented on #46868
@Sboonny It also worked for me and I did the same stuff.

[2022-07-12 15:45] jeremylt commented on #46863
I like these changes. I agree we should

1) Add before the example:

2) Replace last sentence:

I would perhaps suggest that we break up the last sentence into smaller pieces. I've been trying to push our sentences to be a bit more straightforward, especially for our ESL learners:

[2022-07-12 15:55] lasjorg commented on #46824
It really isn't a new issue, I have seen it happen many times in the past. It might have gotten worse now but I'm not even so sure of that. It might be related to the amount of users doing the challenges and their locations, plus the issue appears transient.

I'm not sure there is a good solution for it on our end. It seems like a bug Replit needs to fix so maybe we should open a support ticket wi

[2022-07-12 16:11] lasjorg commented on #46824
I'm not sure why.

Some of them also have really old files that, as far as I know, are no longer needed, the package.json file is often old and the information should be updated, and the main branch is still named gomix, etc. Usually when I have done a PR for some issue I have updated things like the package.json file, etc.

A lot of them really should be looked at and updated as needed. We also d

[2022-07-12 16:22] texas2010 commented on #46863
i would say one more thing.  somehow this lesson did not remind to add space to comment too.  since it said h2 and p element need to have space. 🤔    do we need to remind user to add space to comment too?   i know hint message will tell them too.

[2022-07-12 16:41] bbsmooth commented on #46863
"Use the space bar on your keyboard to add two more spaces in front of the h2, comment, and p elements..."

Are you saying we need to make the comment stand out a little more? Perhaps something like:

"Use the space bar on your keyboard to add two more spaces in front of the `h2` element, the comment, and the `p` element..."

[2022-07-12 16:53] jeremylt commented on #46863
I think explicitly saying 'use the space bar' could make a huge difference. That seems to help on the forum.

[2022-07-12 16:55] bbsmooth commented on #46863
I understand the need for conciseness, but I don't think we should sacrifice brevity for clarity. And I think it's better to try and prevent mistakes than fix them after the fact. The mistakes here are that they start adding the list tags from the example and then it blows up and they give up in confusion and frustration. If we tell them explicitly in the instructions not to make any changes to th

[2022-07-12 18:05] anlach commented on #45922
Hi @lasjorg - I'm going to take a look at the tests for the 25 + 5 clock. I've been going through the curriculum, and it took me a while to figure out it was my use of React 18 that was causing the tests to fail. The best way to avoid this issue for others in the future is to fix the tests, so I'm going to give it a shot. It might take me a while.

Please let me know if there have been any develop

[2022-07-12 18:18] jeremylt commented on #46863
So the current suggestion is

1) Add before the example:

2) Replace the last sentence:

and we're split on adding at the very end:

[2022-07-12 18:50] ojeytonwilliams commented on #46863
With instructions, I think brevity is very important. The more words we use the greater the likelihood people will skim/skip. It's always a tricky balance.

However, one thought just occurred to me. Wouldn't it be better to teach about indentation by only asking them to indent a single element? It should be clearer what we're asking if that's the case.

[2022-07-12 19:07] jeremylt commented on #46863
I'd vote that we try smaller changes, like explicitly saying 'use the spacebar' before making bigger changes like only indenting one child.

[2022-07-12 19:43] jdwilkin4 commented on #46863
Maybe we could mention why the starter code is different from the last step.
It could be part of the lesson.

Something like

In the previous step, you nested the h2 element, comment, and p element within the main element. Indenting nested elements two more spaces than their parent element improves readability.

We have already indented the comment and p elements for you. Use the space bar on your

[2022-07-12 19:49] jeremylt commented on #46863
I still think we should try something small (make the last sentence more explicit) before we do something big (change the starter code and task). We can always make more changes in the future. Steps 6 and 12 seem to be the catching the most questions right now, so we'll get lots of forum posts to see what errors are being made.