[2020-06-24 07:21] ahmadabdolsaheb commented on #39075
it could be any video. the idea is to have a template that inserts amp-youtube for imbedded youtube videos when viewed on amp.

[2020-06-24 07:53] ojeytonwilliams commented on #39048
@thecodingaviator since it's already been moved to 'done' on the project board, I'll create a new feature request to track the remaining points.

[2020-06-24 08:01] ojeytonwilliams opened #39123 "Smoother multiple choice UX"
**Is your feature request related to a problem? Please describe.**
Currently the user has to click back and forth between the answer radio buttons and the 'Check your answer' button.

**Describe the solution you'd like**
As soon as the user clicks on an answer, it could trigger the check automatically.

**Describe alternatives you've considered**
Leaving it as is, if this seems likely to encourage

[2020-06-24 08:13] ojeytonwilliams opened #39124 "a11y: keyboard navigation on video challenges"
**Describe the bug**
There is no visual indication that you have reached the radio buttons or the 'Check your answer' button via tab navigation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.dev/learn/scientific-computing-with-python/python-for-everybody/introduction-why-program
2. Tab through the page
3. See the embedded video and links get outlined
4. Once

[2020-06-24 08:49] ahmadabdolsaheb commented on #38958
After considering this feature, we have decided not move forward with it in the time being. Thank you @magnus195 for the feature request. Please let us know if you come across other functionalities that could further enhance our users' learning experience.

[2020-06-24 08:49] #38958 closed

[2020-06-24 08:55] ahmadabdolsaheb commented on #39042
@leira-sanchez , thank you for submitting this feature request. I am closing this issue due to lack of activity.

[2020-06-24 08:55] #39042 closed

[2020-06-24 08:58] ahmadabdolsaheb commented on #38820
@kabindrashrsth, how is the progress on this feature?
Additionally since no assignment is necessary, the first comprehensive PR will be considered for review.

[2020-06-24 09:57] Sky020 commented on #39124
I believe this has come about, because we hid the default input styles with the class: `video-quiz-input-hidden`
Giving the `label` a tabindex of `0` does the trick. The button needs this style changed:
[code]

[2020-06-24 10:24] ojeytonwilliams commented on #39124
Ah, thanks for taking a look.  Could you pop the changes in a PR?  It should be nice and easy to review.

[2020-06-24 11:40] ahmadabdolsaheb opened #39125 "Enabling A/B testing"
It would be helpful to have different versions of the site live so we could make more data-driven decisions regarding the changes that we introduce to the the client.

[2020-06-24 12:04] raisedadead commented on #39123
We were doing this intially or had thought of doing this. The idea is to encourage thinking over the problem and strongly discourage click-thru completions.

I am quite open to alternatives.

[2020-06-24 12:57] RandellDawson commented on #39082
Quite a while back we purposely removed most (I thought all) console.log statements that appeared after a function.  The idea was if the user wanted use a console.log statement, then that was their choice.  They do learn about them at some point in the curriculum.  I believe we should not have console.log statements by default on these challenges until we have introduced them (Debugging section).

[2020-06-24 12:59] jeremylt commented on #39082
Agreed. I'd just capture the output in a variable, personally.

[2020-06-24 13:04] moT01 commented on #39124
Side note: I believe there's a similar problem with pretty much all the challenges. [The first challenge](https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements): Can't reach the buttons with tab. Same with the [project pages](https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-projects/build-a-tribute-page): Can't reach

[2020-06-24 13:16] ojeytonwilliams commented on #39124
@moT01 is it getting stuck in the editor?  Unless you manually put it into accessibility mode, the editor automatically gets focus when you start a challenge and you have to Escape out.

[2020-06-24 13:31] moT01 commented on #39124
My bad, it looks like it does make it there. I thought it was skipping over them.

[2020-06-24 13:42] ojeytonwilliams commented on #39124
It does get stuck in the editor if you keep pressing tab, though.  Ideally it should tab onto the editor and then, if you want to use it, you press enter.  If you want to move on to console or preview, tab should do that for you.

[2020-06-24 14:16] thecodingaviator commented on #38781
@ahmadabdolsaheb apologies. I missed this.

When I'm on:
![image](https://user-images.githubusercontent.com/34807532/85573295-63bb9500-b653-11ea-8711-7fa4e45cc8e5.png)
 it does not redirect me to https://www.freecodecamp.org/learn even if I'm signed in.

[2020-06-24 17:17] ojeytonwilliams commented on #39123
That's true.  Requiring that extra step might just be enough impetus to encourage thinking rather than just clicking multiple times.  I'm not sure, so let's see if anyone has any clever ideas.

[2020-06-24 22:25] moT01 commented on #39096
Looks like this one is fixed, so I think it's safe to close this. If I am misunderstanding the issue or something, let me know and we can reopen it. Thanks 😄

For future reference @borntofrappe - if you put "Closes #xxxxx" in the PR description, with "xxxxx" as the issue number the PR closes, it will close the issue automatically when the PR is merged. 😄

[2020-06-24 22:25] #39096 closed

[2020-06-24 22:38] moT01 commented on #39097
I haven't gone through the the videos, is that something you would expect users to know at this point @borntofrappe?

After a short glance, I think I would go about it by asking something like this:
What code would produce the following matrix:
[code]

And have the potential solutions look more like the code in the video.

[2020-06-24 23:13] kabindrashrsth commented on #38820
@ahmadabdolsaheb So currently what I'm trying to do is: instead of rendering blocks (the renderBlock(superBlock) function) from components/Map/components/SuperBlock.js, I'm trying to call templates/Introduction/SuperBlockIntro.js from Map/components/SuperBlock.js and then render the blocks from SuperBlockIntro.js. So when you click on a superblock, it will open the superblock intro page of that su

[2020-06-24 23:32] moT01 opened #39127 "Audit navigation (opening new tabs only when necessary)"
You can go to [my profile](https://www.freecodecamp.org/mot01) and click on one of the certifications - it opens in the current tab. The only way to go back is to use the browsers back button. Seems like those should open in a new tab.

[2020-06-24 23:54] moT01 opened #39128 "[Python] Syntax highlighting for single backticks (code tags)"
I noticed some of the challenges, like [this one](https://www.freecodecamp.dev/learn/data-analysis-with-python/data-analysis-with-python-course/reading-data-introduction) still has some goofy looking highlighting...

<img width="390" alt="Screen Shot 2020-06-24 at 6 48 22 PM" src="https://user-images.githubusercontent.com/20648924/85638558-cf016900-b64b-11ea-8ee6-7b60ca245af8.png">

We need to cha

[2020-06-25 00:53] moT01 opened #39129 "[beta] Infosec cert out of order on settings page"
The map has the certifications in this order:
[code]

But the settings page has the certs in this order:
[code]

Pretty minor, but the `infosec` cert is in a different spot on the settings page. It could be changed to align with the map.

[2020-06-25 02:22] moT01 opened #39132 "Tests for some projects can be bypassed"
On the settings page, I can submit "legacy" projects and, if they are still part of the curriculum, they will automatically be filled in for that project as well.

For example, I can submit the timestamp microservice project like this...
<img width="393" alt="Screen Shot 2020-06-24 at 9 17 19 PM" src="https://user-images.githubusercontent.com/20648924/85645752-43de9e00-b660-11ea-954f-d0614af6cd7b.

[2020-06-25 07:35] ahmadabdolsaheb commented on #38781
That is by design, @thecodingaviator. Quincy wanted the landing page to be independent.

[2020-06-25 07:51] borntofrappe commented on #39097
I've gone through the videos, and I believe campers should be able to find the alternative solution. That being said, I see your point about providing a different data structure @moT01. Being closer to the solution provided in the video makes it easier, but it is still necessary to know about indexes and slice notation.

Either approach should work 👍

[2020-06-25 08:07] ojeytonwilliams commented on #39132
It's also possible to claim certifications where some have been submitted this way, which is not great.

So, just to state the obvious: the problem is with the non-legacy projects that appear in legacy certifications.  I think we could solve this by replacing the form with a link to the challenge.  @moT01 what do you think?

[2020-06-25 08:11] saideepesh000 commented on #39127
Hi, can i do this

[2020-06-25 09:49] ahmadabdolsaheb commented on #37144
related https://github.com/freeCodeCamp/freeCodeCamp/issues/38820

[2020-06-25 10:25] ahmadabdolsaheb commented on #38820
That makes sense, @kabindrashrsth . I would encourage you to get your work in a draft pr, so we could see your progress as well.

[2020-06-25 11:19] ahmaxed opened #41074 "Music stops after listening for an extended period of time"
Although music stops after after listening for an extended period of time, it is restored after switching between the streams.
Have you ran across such problem? @huyenltnguyen

[2020-06-25 11:25] ahmadabdolsaheb commented on #38538
https://github.com/AzuraCast/AzuraCast/issues/2793

[2020-06-25 13:16] moT01 commented on #39128
I believe code blocks with triple backticks get a white background if they're in the answer area. [code file](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/07-scientific-computing-with-python/python-for-everybody/conditional-execution.english.md) : [challege page](https://www.freecodecamp.dev/learn/scientific-computing-with-python/python-for-everybody/condi

[2020-06-25 13:21] moT01 commented on #39132
I like the second picture in the post there. Which, yes, is basically a link to the project - but it also has the solution there. Basically, just make them like all the others is what I was thinking.

[2020-06-25 13:27] ojeytonwilliams commented on #39128
Good point.  Why don't we make all the backgrounds (inline, multiline, answer and question) white in day mode and dark blue in night mode?  It improves the contrast and consistency.

[2020-06-25 13:44] moT01 commented on #39128
I tried to differentiate the questions from the answers by making the answers have a white background. So if we don't change that, then codeblocks(inline or multiline) wont have any background in the answers, or they will match anyway. And they will have the background in the questions. I don't think it looks too bad the way it is, but it does seem a little scattered. Hmm.

[2020-06-25 14:09] ojeytonwilliams commented on #39128
If we force them to be white everywhere they'll, effectively, have a background in the questions, because the page as a whole is grey.  It looks quite good, I think:

![image](https://user-images.githubusercontent.com/15801806/85735689-2a8c2f00-b6fe-11ea-866d-ac3c037ed5d4.png)

[2020-06-25 14:14] moT01 commented on #39128
Yea, I like that I think.

[2020-06-25 14:48] adil-s opened #39135 "screen reader doesn't announce auto complete suggestion"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.
I've been learning programming from freecodecamp for a while. the autocomplete feature used to work well, but it seems that it has broken for a while.
the iss

[2020-06-25 17:50] nhcarrigan commented on #39135
To my knowledge, the autocomplete feature itself was turned off a while ago. This may be the reason your screen reader is not responding as it did previously.

[2020-06-25 18:42] Ieahleen commented on #39135
yes, it was turned off. It was decided that typing everything helps memorizing stuff better.

You will find that once you move on to an actual code editor, instead of the learning environment in Free Code Camp, you will have autocomplete back.

[2020-06-25 19:36] adil-s commented on #39135
it doesn't work. even when I trigger using ctrl+space.  I also mension in the issue that accepting suggestion doesn't give me any indication that code has been change.  I mean, screen reader (NVDA) should announce what suggestion has been accepted.

[2020-06-25 19:38] adil-s commented on #39135
when I press ctrl+space the suggestion list comes up, but I'm not able to explore the list using up/down arrow because NVDA keeps saying the lastword.

[2020-06-25 19:41] sidemt commented on #17757
It looks like this issue still exists. I had to add `'https://www.freecodecamp.org'` to make the tests pass.

[2020-06-25 19:42] Ieahleen commented on #39135
the issue seems to be different then... it seems the autosuggestion has
been visually hidden, but has some functionality accessible by a screen
reader.

the autosuggestion feature has been turned off, or that was the intention,
so that students have to type everything to better remember it.

[2020-06-25 19:47] mariacappon commented on #12320
function functionWithArgs(a, b) {
  console.log(a + b);
}

functionWithArgs(7, 9);
functionWithArgs(1, 2);

[2020-06-25 19:49] ojeytonwilliams commented on #39135
As @Ieahleen and @nhcarrigan said, it has been disabled. However, I think we should reinstate the functionality in accessibility mode if we can.

[2020-06-25 20:00] nhcarrigan commented on #39135
@ojeytonwilliams - It seems that there is some error with the autocomplete functionality. I was just working on a lesson, and typing `this.` followed by the `ENTER` key caused the editor to autocomplete to `this.collection`.

[2020-06-25 22:49] Sky020 commented on #17757
I am re-working these challenges, and boilerplates to update them. Thank you, for confirming this is still an issue.

[2020-06-26 00:34] raisedadead opened #39138 "/forum → forum.freecodecamp.org"
We are migrating to the managed Discourse by the Discourse team. Until now we had been doing a semi-on-premise setup.

This migration unfortunately involves us going back to the subdomain for various technical limitations with the new setup.

We need to audit and update the links in the codebase.

Fallback redirects will be setup, but changing as many links as we can will take the load off of the

[2020-06-26 00:36] raisedadead commented on #39138
Because this is time sensitive, we would want prior contributors with familarity with the codebase to take a look at this to help us make the changes as quick as possible.

[2020-06-26 01:51] nhcarrigan commented on #39138
Hello~!

I've submitted a pull request that should have caught most of the /forum links and replaced them with the subdomain link.

[2020-06-26 04:19] doubleungoodkitsune opened #39140 "Update Code of Conduct"
It's recommended to update the Contributor Covenant to the [latest version](https://github.com/doubleungoodkitsune/newworldcode).

[2020-06-26 05:02] RandellDawson commented on #39138
@ojeytonwilliams What needs to be done (if anything) with the following sections of code?

Line 26 in [Header.test.js](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/components/Header/Header.test.js)

Line 20 in [NavLinks.js](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/components/Header/components/NavLinks.js)

[2020-06-26 07:51] ojeytonwilliams commented on #39138
I'll update those to the new location.  I think Nicholas's PR should cover everything else.

[2020-06-26 10:20] ahmadabdolsaheb commented on #39128
So we had a similar situation where we wanted distinguish between the codes and their backgrounds so we went with quaternary background to make styling simple and make sure they stood up from their background.

![image](https://user-images.githubusercontent.com/4591597/85846844-20763900-b7af-11ea-9c43-0c2b4e0bf98b.png)

Styling the code elements similar to regular text will make them less differen

[2020-06-26 10:38] raisedadead commented on #39140
Thanks for your report, we have our code of conduct here: https://www.freecodecamp.org/news/code-of-conduct which covers this. Its a quick 2 min read as well.

[2020-06-26 10:38] #39140 closed

[2020-06-26 12:59] ojeytonwilliams commented on #39128
I see what you mean about making it clear that the inline text is special.  However, we're (probably) going to run into contrast issues if we stick with the convention of pale background, darker box and even darker text.  If, instead, we go with a slightly darker background to contrast with the white box then it should be obvious that the box is special and we maximise the contrast with the text.

[2020-06-26 13:10] ojeytonwilliams commented on #39135
Yep, I see the problem, thanks @nhcarrigan.  It is invisibly (and inaudibly) switching between options when you use the arrow keys and then completing when you press tab or enter.  It is strange that the screen reader does not read out the word when you press tab.

[2020-06-26 14:22] moT01 commented on #39128
I think I like Ahmad's second example the best if it weren't for the green and blue text. Even on a white background, that green text is pretty tough. Maybe we should consider looking into changing that highlighting?

[2020-06-26 15:58] rajatgupta24 commented on #39127
Hi, @moT01
I'm interested in this, can you please guide me with this as i wasn't understand it using devTools.
Thank You.

[2020-06-27 07:57] simarpreetsingh-019 commented on #39075
ohh , i didn't know much about working on for templates, as i have just started with AMP, but, will try my best to do something

[2020-06-27 10:54] ragulinavajinth opened #39147 "Hi"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2020-06-27 11:02] #39147 closed

[2020-06-27 17:07] #39095 closed

[2020-06-27 18:29] thecodingaviator commented on #39127
@moT01 I think this is a great idea. Low effort as well. Do you want to wait for more input from the community?

[2020-06-28 10:12] ahmadabdolsaheb commented on #39014
I believe the one that is displayed for the forum maintenance is a a modified version of the maintance.html
https://twitter.com/LucasSorenson6/status/1276222689359912960/photo/1

[2020-06-29 07:47] ahmadabdolsaheb commented on #39128
All of our color/background combinations are within best practices so backgrounds should be alright as long we make them consistent across learn;

If we decide to go with white we need to lower the saturation on some of the  highlights.

I believe the current prism highlights are optimal for a slightly off white background.

Here is optimal steps to take in my opinion:

-  Decide on the on the opt

[2020-06-29 16:50] ojeytonwilliams opened #39152 "Video 'copy link' does not appear to work"
**Describe the bug**
When click on the embedded video a 'Copy link' icon appears in the top right.  Clicking on this should copy the video link into your clipboard, but it does not.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.dev/learn/scientific-computing-with-python/python-for-everybody/introduction-why-program
2. Click on the embedded video
3. Click on t

[2020-06-29 17:36] ojeytonwilliams commented on #39099
As far as I can see, the problem is that `get_file` does not let you pass any headers and the cdn rejects anything without a `User-Agent` header.  With that in mind, the following code lets you download the file:

[code]

@beaucarnes does that seem reasonable?

[2020-06-30 07:54] mbsyaswanth commented on #17763
@clandau
Finally, after 2 long days I was able to pass the test. Shocked to know that it was not passing due to indentation : )

[2020-06-30 11:24] raisedadead commented on #39099
We made some changes to our CDN config. @sanityto Can you verify this is resolved?

[2020-06-30 12:43] sanityto commented on #39099
It works now as expected @raisedadead.

[2020-06-30 14:47] raisedadead commented on #39099
Thanks for confirming. Happy coding.

[2020-06-30 20:49] ptkpyitheim commented on #39123
I'm going to look into this issue and see if I can just automatically check the correct answer instead of having to click through Check You Answer. If any of you have looked into this, any hints on how to go about it?

[2020-06-30 21:28] Sky020 commented on #39123
@ptkpyitheim , Automatically submitting the answer would be as easy as calling one already made function. My understanding is that we do not want this approach, and are looking for more ideas on reducing the faff, whilst not encouraging _half-hearted_ guesses.

[2020-06-30 22:25] RandellDawson commented on #38820
@ahmadabdolsaheb I think my comments on issue #39134 are relevant here.

[2020-07-01 12:05] PeterF521 commented on #39152
Yes, It doesn't work

[2020-07-01 14:24] andrewjbeattie opened #39155 "404 broken link for hint text (Basic Javascript: Return Early Pattern for Functions)"
There is a broken link to hint information on the "_Basic JavaScript: Return Early Pattern for Functions_" page.

Look for the text just before the "Run the Tests" button:

Remember that **[undefined is a keyword](https://www.freecodecamp.org/challenges/understanding-uninitialized-variables)**, not a string.

Click on the linked words "undefined is a keyword" and you will be taken to a 404 "Page N

[2020-07-01 15:16] RandellDawson commented on #39155
I suggest we change the note to:

This will get rid of the non-existent link and also remove the incorrect `keyword` reference.

[2020-07-01 16:44] nhcarrigan opened #39156 "Broken "Leaderboard" Link on Forum"
**Describe the bug**
The "Leaderboard" button in the top nav of the forums is still set to use the old link format - it links to `forum.freecodecamp.org/forum/users`.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to the [forums](https://forum.freecodecamp.org)
2. Click on the "Leaderboard" button.
3. Get the 404 page.

**Expected behavior**
The "Leaderboard" button should link to `f

[2020-07-01 17:36] raisedadead commented on #39156
Thanks for the issue.

This line here needs updating:
https://github.com/freeCodeCamp/discourse-users-nav/blob/b9baba51aeca02b55a48556ebc7106f0a8a51515/common/head_tag.html#L15

Any takers?

[2020-07-01 17:44] ptkpyitheim commented on #38710
Hi all,

I think I've come up with a solution that would solve the problem. But the solution would only solve for situations like single numbers wrapped in unnecessary parenthesis such as `(4-8+7)*(8)` or `(4-8+7)*(((8)))` for that matter.

However it won't work for situations like `((4-8+7))*8` where there are extra parenthesis for a collection of numbers and operations. It gets trickier to solve

[2020-07-01 17:47] nhcarrigan commented on #39156
I can give it a shot. 🙂

[2020-07-01 19:15] raisedadead commented on #39156
I merged your PR but I realised that we can switch back to the official component

https://github.com/discourse/discourse-users-nav

The repo we had was a fork for supporting subpaths, which is not relevant any longer. I am going to go ahead and archive it.

Thanks for the issue and the PR. Sorry for wasting your time, I should have realised this before requesting help.

[2020-07-01 19:17] #39156 closed

[2020-07-01 19:19] nhcarrigan commented on #39156
No worries! Always happy to get the opportunity to practise. 😅

[2020-07-01 21:35] sinclair-guthrie commented on #39155
I was looking into this and realized there's already been a fix for the broken link that's been merged in https://github.com/freeCodeCamp/freeCodeCamp/pull/38897

Not sure if we're still interested in updating the note, or if we want to leave it as is.

[2020-07-01 23:52] Sky020 commented on #39155
@RandellDawson , _sinclair_ is correct. The link should have been fixed by the last commit. Is there any reason this commit would not have been pushed to production?

[2020-07-02 05:51] PeterF521 commented on #39127
To open links in a new tab you need to use **'target:"_blank"'** arg.

[2020-07-02 09:27] FiberesimaJoseph commented on #38329
hello have work on this issue and seen some other contribution to this issue and the solution provide is this, which suit it most .
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, monospace;
  }

  p {
    font-size: 16px;
    font-family: monospace;
  }

  .thick-green-border

[2020-07-02 09:56] raisedadead commented on #39155
Yes, we are waiting on a release which is overdue. Should be out in a bit (spoiler alert: Its a big one \*wink\* \*wink\*).

I am closing this as "shipping".

[2020-07-02 09:56] #39155 closed

[2020-07-02 10:21] limvus opened #39158 "All Projects in Information Security and Quality Assurance pass without tests"
If I add random url and submit the project in "Information Security and Quality Assurance", it simply passes. No, tests are carried out.

[2020-07-02 10:58] Sky020 opened #39159 ""How to teach programming" News Article Broken"
**Describe your problem and how to reproduce it:**
The article appears to have been unfinished.
1) Go to: https://www.freecodecamp.org/news/how-to-teach-programming-to-teenagers-2ecd43846f0d/
2) See the article end abruptly

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/news/how-to-teach-programming-to-teenagers-2ecd43846f0d/

**Recommended fix, suggestions (how would y

[2020-07-02 11:35] #39014 closed

[2020-07-02 11:36] #38634 closed

[2020-07-02 11:37] #39138 closed

[2020-07-02 11:42] raisedadead commented on #39135
Thanks for reporting.

IMHO, we should disable the autocompletion, but I can see it to be aid for a11y reasons. We should figure out how to get this working conditionally.

[2020-07-02 11:45] raisedadead commented on #39158
Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/37185

[2020-07-02 11:45] #39158 closed

[2020-07-02 11:48] #39129 closed

[2020-07-02 12:29] moT01 commented on #39127
I believe that [right here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/components/profile/components/Certifications.js#L46), and [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/components/profile/components/TimeLine.js#L89) is where to update this. The first link is for the big links on a profile, and the second is for the cert links in peoples t

[2020-07-02 12:56] simarpreetsingh-019 commented on #39075
Pull request have been made , with some suggestions. Please review .

[2020-07-02 12:59] willnwhite commented on #37305
Hi. I've just been doing this project as a learner. It also needs a test/user story that will require the use of a persistent database (eg Mongo), because I can pass all the tests just using an in-memory data store.

[2020-07-02 13:13] willnwhite opened #39161 "URL shortener project's example looks like it's broken"
The URL shortener project's [example](https://thread-paper.glitch.me/) would not pass the project's tests.

[URL shortener project](https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/url-shortener-microservice)

[2020-07-02 13:55] raisedadead opened #39163 "Disable YouTube recommendations in embeded player"
We previously attempted this in https://github.com/freeCodeCamp/freeCodeCamp/commit/df6a4f649d762a347add209c7323c0f9bcf0288c, which had its own set of issues.

We need the Plyr to work natively with Youtube or alternatively make the YouTube embed not show related videos.

[2020-07-02 14:27] DavidJSykes commented on #39127
Is it okay if I have a go at making the changes? I haven't contributed before and this seems relatively straight forward

[2020-07-02 14:31] Mia1993-star opened #39165 "Get send back to the login screen after login in it's an endless loop"
**Describe your problem and how to reproduce it:**
https://www.freecodecamp.dev/learn/scientific-computing-with-python/scientific-computing-with-python-projects/arithmetic-formatter
When i click the ask for help button it ask me to login while I am already am logged in.
I get send to the next page
https://forum.freecodecamp.dev/categories
When i then try to login  with my google account it does no

[2020-07-02 14:33] willnwhite opened #39166 "Link from challenge page to challenge issues"
When, as a learner, I notice an issue with a challenge, there's no link for me to follow to start sorting it out. Instead, I have to find my way through freecodecamp.org. This makes me less likely to report the issue.

I'd like a link to the challenge's existing issues, so I can see if the one I've noticed has already been reported, as this is the starting point for reporting an issue.

[2020-07-02 14:44] moT01 commented on #39127
You certainly can @DavidJSykes. Several people have already asked to do this before you. We usually just accept the first PR that fixes the issue, so you don't need to ask.

[2020-07-02 14:48] PeterF521 commented on #39166
I don't understand

[2020-07-02 15:34] RandellDawson commented on #39166
@willnwhite It is always best to check with the forum first if you are having trouble with a challenge.  There are many times that users think something is wrong with the challenge tests, when in fact their code is incorrect.  If the members of the forum community determine your code runs fine, then you can always do a search on existing GitHub issues, to see if you find the same problem you are e

[2020-07-02 16:23] ojeytonwilliams commented on #39152
Since we're no longer using Plyr, this is moot.

[2020-07-02 16:23] #39152 closed

[2020-07-02 16:31] nhcarrigan opened #39169 "Legacy Certificates Not Labelled As Legacy"
**Describe the bug**
With the first wave of v7 going live, the Information Security and Full Stack certificates have correctly moved to a "Legacy" header. The certificates, themselves, have not been labelled as "legacy", however.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
The Legacy certificates

[2020-07-02 16:49] raisedadead opened #39170 "Update readme on the repository"
@QuincyLarson

We would want to update our [readme](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/README.md) to the current certifications.

Assigning to you because you are the best suited for this update.

[2020-07-02 16:52] lopeselio commented on #39163
Can I work on this ?

[2020-07-02 16:55] raisedadead commented on #39163
I think this is resolved by a recent PR. We are keeping this open for verification. We have lots of other issues open which we could use your help with.

Thanks.

[2020-07-02 17:03] raisedadead commented on #39166
Thanks for your report.

I agree with Randell.

We get a lot of false positives on GitHub about the curriculum. This is because often users have code that breaks tests and the challenge may not have an issue.

We ask users to follow the read-search-ask method to verify if there is indeed a something broken with a challenge. In our experience this helps us drill down to the specifics of an issue an

[2020-07-02 17:03] #39166 closed

[2020-07-02 17:05] raisedadead commented on #39165
The dev site is a staging/test instance. You should be using the live site. We just launched the Python curriculum on the live site BTW.

I will check the issues with the dev site. Chances are its broken. Can you confirm you are able to work on the production/live site:

https://freecodecamp.org/learn

[2020-07-02 17:17] raisedadead commented on #39165
Closing to avoid confusing contributors, I will have the dev site at parity with production soon

[2020-07-02 17:17] #39165 closed

[2020-07-02 17:19] raisedadead commented on #39161
Closing in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/37305

[2020-07-02 17:19] #39161 closed

[2020-07-02 17:21] raisedadead commented on #39021
Closing this but please reopen if you still this should be discussed more.

[2020-07-02 17:21] #39021 closed

[2020-07-02 21:51] nhcarrigan commented on #37185
Just to make sure this does not get overlooked - it looks like the **infosec** projects are now the **quality assurance** projects, and the "Stock Price Checker" and "Anonymous Message Board" were replaced by the "Sudoku Solver" and "American British Translator", respectively. 🙂

[2020-07-02 21:53] ojeytonwilliams commented on #39169
Hey @nhcarrigan thanks for bringing this up.  As for the URLs, they're not supposed to change.  The intention is that people can link to them from outside and rely on those links continuing to point to their certificates.

Once you have the newer one it should have a unique link (and not have the word legacy in it!).

[2020-07-03 01:59] niuniuanran opened #39172 "Unnecessary restriction on user's choice of single/double quotes"
**Describe your problem and how to reproduce it:**
The [Run Functional Tests using a Headless Browser](https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser) challenge tests on whether the user has asserted on browser texts. The test run by freeCodeCamp only passes when the user uses single quotes when passing ass

[2020-07-03 05:12] limvus opened #39173 "Example app link not working: APIs and Microservices Projects - URL Shortener Microservice"
Go to :
https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/url-shortener-microservice

Then click on:
 https://thread-paper.glitch.me/.

Expected:
- sample url shortner app

Sees:
- blank page with title: "listing directory/"
- blank page with character: "~ /"

[2020-07-03 05:25] crossphoton opened #39174 "Projects tests are broken"
**Describe your problem and how to reproduce it:**

Submit any link in the submission and it'll accept it and this is not on the dev website. Happening on all courses after the Python courses are live. I was able to claim all the certificates.

**Add a Link to the page with the problem:**

All the courses projects. (I tried Data Vis., ML, Data Analysis, Quality Assurance, Scientific Computation, I

[2020-07-03 05:36] scissorsneedfoodtoo commented on #39173
Thanks for reporting this @limvus. This seems to be a problem on Glitch's end, though it hasn't been reported on https://status.glitch.com/ yet.

I've reached out to the Glitch support team to see if they can restore the project. If they're not able to for some reason, we'll create a new sample project and update the link on the challenge page.

[2020-07-03 05:54] raisedadead commented on #39174
This is known and users are expected to follow the Academic  honesty policy:

Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/37185

/cc @freeCodeCamp/staff

[2020-07-03 05:54] #39174 closed

[2020-07-03 07:02] gikf opened #39175 "Data Analysis with Python Projects - pyproject.toml - 'description' is a required property"
**Describe your problem and how to reproduce it:**
Repl.it started to fail to update package configuration when `description` property is missing from `pyproject.toml` file.
[code]
There are currently 3 affected projects with this issue. This can be solved even by empty description as it is in one of the working projects - https://repl.it/@freeCodeCamp/fcc-demographic-data-analyzer#pyproject.toml.

[2020-07-03 09:49] ojeytonwilliams opened #39177 "Validate test text before next-curriculum goes live"
The test `text` strings need auditing before

https://github.com/freeCodeCamp/freeCodeCamp/pull/39176

goes into production.

[2020-07-03 11:57] ahmadabdolsaheb opened #39179 "Landing page redesign"
Here is a mock that illustrates the different sections that will be included in the redesign.

The followings will be implemented differently from the following mock:
- the camper images should be squared and form a perfect grid.
- the logo icon in each link button will display the most prominent technology that each certification teaches.
- the pattern in the background of the certification secti

[2020-07-03 17:50] povilasraciunas opened #39183 "Failure to unsubscribe from freecodecamp Quincy Larson emails"
Link: https://www.freecodecamp.org/ue/WWtGC_9cRB0T0oqlPD8sw
Pressing on the provided link throws user to page with error: "Oops! Something went wrong. Please try again in a moment."

Email:

Quincy Larson <quincy@freecodecamp.org> | Quincy Larson <quincy@freecodecamp.org> | 8:49 AM (12 hours ago) |   |  
-- | -- | -- | -- | --
Quincy Larson <quincy@freecodecamp.org>
to me | to me
to me

[2020-07-03 19:17] eoamegassi commented on #39060
Hi @scissorsneedfoodtoo, I encountered the same issues as @Symbolistic. I spent 4 days trying to guess the fields that the test software wanted. I eventually found them by testing the example application, however the test number 5 (ie log without filters) does not pass. I realized that the verification software was not doing it.

**Screenshots**
[Validation](https://prnt.sc/tbchtv)
[console.log's

[2020-07-03 19:40] medaminefh opened #39184 "Can You fix the typos in the landing page ? About the 40,000 freeCodeCamp.org graduates !"
**Describe your problem and how to reproduce it:**
the number of the graduates , it seems must be updated ...
Just want to try contributing on open source lol
**Add a Link to the page with the problem:**

https://www.freecodecamp.org/
**Recommended fix, suggestions (how would you update it?):**
50,000 freeCodeCamp.org graduates
actually you have the exact number

**If possible, add a screenshot he

[2020-07-03 20:45] RandellDawson commented on #39179
I really like the look of the home page!

[2020-07-03 22:47] RandellDawson opened #39185 "Forum Category Dropdown values are not full width"
**Describe the bug**
When trying to reclassify a category using the Category dropdown menu, the text content does not take up the full width of the dropdown.   This seems to have changed in the recent migration.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any preexisting topic.
2. Click on the Category dropdown to change the category,
3. See issue.

**Expected behavior**
I expect t

[2020-07-04 00:35] nhcarrigan opened #39186 "Certificate displays incorrect date"
**Describe the bug**
New certificate displays incorrect date.

**To Reproduce**
Steps to reproduce the behavior:
I can't say I'm really sure of the steps - I claimed the certificate just a few moments ago, and it is still 3 July 2020 local time. The certificate shows "Issued July 4, 2020" however.

**Expected behavior**
Certificate earned date should be based on local time?

**Screenshots**
![imag

[2020-07-04 18:16] D4rk-night commented on #38329
That was the best solution I found:

<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, monospace;
  }

  p {
    font-size: 16px;
    font-family: monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    width: 100px;
  }

  .silver-background {
    background-colo

[2020-07-04 20:38] raisedadead commented on #39183
Hi @povilasraciunas

Thanks for reporting, you had a duplicate account with us. I have now removed the duplicate account and set the unsubscription on your records.

You will not be receiving the weekly emails from Quincy. Sorry about the inconvenience.

[2020-07-04 20:38] #39183 closed

[2020-07-04 20:40] raisedadead commented on #39184
Not sure where you are getting that no from? Can you send us an email on team@freecodecamp.org instead for a clarification before we check and get this updated.

[2020-07-04 20:40] #39184 closed

[2020-07-04 20:41] raisedadead commented on #39186
Is this reproducible locally?

[2020-07-04 23:01] Sky020 commented on #38474
Reserrecting this with this conversation: https://forum.freecodecamp.org/t/a-strange-behavior-in-the-console-i-do-not-know-whether-it-is-a-bug-or-it-is-a-problem-of-my-browser/407951

Regarding this lesson: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/create-an-export-fallback-with-export-default

My thoughts:

[2020-07-05 05:21] obsessedyouth opened #39190 "Broken tests on multiple challenges in the Information Security with HelmetJS"
**Describe your problem and how to reproduce it:**
Multiple challenge tests fail for no obvious reasons related to the challenge -
1. Mitigate the Risk of Clickjacking with helmet.frameguard()
2. Prevent IE from Opening Untrusted HTML with helmet.ieNoOpen()
3. Disable DNS Prefetching with helmet.dnsPrefetchControl()

**Add a Link to the page with the problem:**
https://glitch.com/edit/#!/busy-ramb

[2020-07-05 09:03] shivam17299 opened #39191 "Spelling bug"
**Describe your problem and how to reproduce it:**

There is spelling mistake of "KERAS" instead of "KARAS" in first paragraph first row.

**Add a Link to the page with the problem:**
link: https://www.freecodecamp.org/learn/machine-learning-with-python/machine-learning-with-python-projects/cat-and-dog-image-classifier

**Tell us about your browser and operating system:**
* Browser Name:
* Browser

[2020-07-05 09:54] povilasraciunas commented on #39183
Hey Mrugesh,

Great many thanks! :)

On Sat, 4 Jul 2020, 23:39 Mrugesh Mohapatra, <notifications@github.com>
wrote:

[2020-07-05 10:50] vkWeb commented on #39186
@raisedadead when Date constructor is called on the server-side it outputs date in UTC, right?

[2020-07-05 12:12] Sky020 commented on #39191
Thank you, for spotting this. I am opening this to _first-timers_.

[2020-07-05 14:50] RandellDawson opened #39192 "learn: Change instructions to be less restrictive in Slice and Splice challenge"
In the [Slice and Splice](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-algorithm-scripting/slice-and-splice) challenge, the following line tells users to use `slice` and `splice`, but the tests do not force the user to use `slice` and `splice`.  Since this is an algorithm challenge, I believe we should let the users write the code any way that solves the probl

[2020-07-05 16:38] Sky020 commented on #39190
I can confirm this is an issue. It appears the likely cause is helmetjs renaming their middleware.

These are the new name:
`frameguard` -> `xFrameOptionsMiddleware`
`ienoopen` -> `xDownloadOptionsMiddleware`
`dnsPrefetchControl` -> `xDnsPrefetchControlMiddleware`

I cannot confirm anything wrong with the CSP tests.

[2020-07-05 17:41] ahmadabdolsaheb commented on #38540
The current social card meta uses green background
![image](https://user-images.githubusercontent.com/4591597/86538649-d3593c00-beff-11ea-9d77-8310bfb42fbc.png)

[2020-07-05 22:06] #39191 closed

[2020-07-06 11:00] scissorsneedfoodtoo commented on #39060
Hi @eoamegassi, thanks for your patience. All of this backend projects need some updates, whether that's to the installed packages or the instructions themselves. While we encourage people to use the example application to test the endpoints, we can be more explicit about the responses our test suite expects.

Could you post a link to your project for us to take a look at?

[2020-07-06 12:24] eoamegassi commented on #39060
Hello @scissorsneedfoodtoo, thank you for your answer. I finally managed to work around this problem.
Before I got all the data from the database before doing a javascript filter on it. Now, I make the filter directly at the database level with the query Model.find(). In the end I return the same result but now it performs the test.
I think this may be a problem with the async / await in the test

[2020-07-06 18:27] lasjorg commented on #39190
Some of the function names changed
https://github.com/helmetjs/helmet/blob/master/index.ts#L136

module aliases tests
https://github.com/helmetjs/helmet/blob/master/test/index.test.ts#L16

Shouldn't we get this fixed sooner rather than later? Unless someone jumps on this fairly quickly I'd suggest removing the `first timers only` label.

Side note: The way the tests are done (_router.stack) seems

[2020-07-06 18:46] Sky020 commented on #39190
@lasjorg You are right, it would be best to get it fixed sooner. I just expected someone to jump on it, as it is quick and easy.

The tests are done in a way that keeps us on our toes, regarding changes.

[2020-07-06 19:05] obsessedyouth commented on #39190
Is it okay if I raised a PR to fix this? or is someone else on it? I haven't really dug through the fcc code base so I'm not sure where the tests live but now that I know the root cause it seems simple enough.

[2020-07-06 19:23] Sky020 commented on #39190
@obsessedyouth , No one has mentioned to be working on it. Here is where the tests live: https://github.com/freeCodeCamp/freeCodeCamp/tree/master/curriculum/challenges/english/09-information-security/information-security-with-helmetjs

[2020-07-06 20:04] PeterF521 commented on #39192
I'll try to solve problem

[2020-07-07 00:03] RandellDawson commented on #39192
@PeterF521 Before creating a PR, let's wait for feedback from at least one of the users I tagged.

[2020-07-07 00:07] RandellDawson commented on #39190
Just to confirm, an old version of HelmetJS we specified in the project's `package.json` was not failing these tests?  If the old version was not failing, then why are we having to rewrite the tests?

[2020-07-07 03:39] lasjorg commented on #39190
@RandellDawson The starter boilerplate does not have helmetjs in the [package.json](https://github.com/freeCodeCamp/boilerplate-infosec/blob/gomix/package.json), the [first challenge](https://www.freecodecamp.org/learn/information-security/information-security-with-helmetjs/install-and-require-helmet) is to add it.

Not so sure locking the boilerplate to a specific version is the right choice, alt

[2020-07-07 03:44] lasjorg commented on #39190
Also just as an aside. If we want to keep backward compatibility with projects made before this change we have to check for both the old and new function names. Not sure what the consensus on this is?

[2020-07-07 04:00] erictleung commented on #39125
A/B testing could be useful but it might be good to specify a few things if this were to be implemented.

- What sort of elements would we change? (See below)
- Whose responsibility is it to view the analytics and coordinate changes on which experiment to use?

Users will most likely be on content related pages like the curriculum and the news routes. My assumption is that users would stay on the

[2020-07-07 04:39] scissorsneedfoodtoo commented on #39192
@RandellDawson, sure, that sounds like a good idea, especially since we're not testing for those methods.

[2020-07-07 05:24] thecodingaviator commented on #39192
@RandellDawson I think this sounds like a good improvement

[2020-07-07 05:37] scissorsneedfoodtoo commented on #39060
@eoamegassi, thanks for sharing your project and glad to hear that you were able to pass that test.

It's hard to say whether or not filtering later with JavaScript would work without seeing your code, though I imagine it would be fine. The fifth test only checks that there's an array called log, and that there's one object inside. It's pretty forgiving outside of that.

But again, I think we coul

[2020-07-07 05:40] PeterF521 commented on #39192
ok

[2020-07-07 05:59] ahmadabdolsaheb commented on #39125
We are mainly interested in improving time on site, sign-ups, donations, etc.

That would require split testing the followings:
- challenge UI, map UI, ...
- donation modal UI, interval, and copy, ...
- landing page, sign up button placement, ...

I will take on the testing for the time being.

[2020-07-07 06:53] ahmadabdolsaheb opened #39195 "update /learn footer based on /news"
The footer on /lean should be changed to look identical to /news.
Here is the footer on news: https://github.com/freeCodeCamp/news-theme/blob/master/partials/footer.hbs
and here is the footer styles https://github.com/freeCodeCamp/news-theme/blob/4b1e1a52c9900147095ee2d3202b43b0dc116870/assets/css/screen.css#L2204

[2020-07-07 08:17] ojeytonwilliams commented on #39186
@vkWeb timezones are tricky, but the server creates a `Date` object and then stores that.  There's no timezone information stored with it, so the date sent back is just `format(new Date(completedDate), 'MMMM D, YYYY')` i.e. the UTC date.

[2020-07-07 08:42] #38911 closed

[2020-07-07 10:22] Sky020 commented on #39190
If we must, I would suggest checking for both old and new, as _lasjorg_ mentioned. Originally, I assumed backwards compatibility was not a problem, because this is related to the lesson content, and not projects. So, all a user currently on them has to do, is update the version of Helmetjs in their package.json.

[2020-07-07 11:51] RandellDawson commented on #39192
@PeterF521 Go for it.

[2020-07-07 12:15] PeterF521 commented on #39192
Nice, I'm thinking use `asset.CallTracker` on the testString, but I first want to know what's the asset version used on this repository.
If you want that I use other way, please tell me. I also want to learn more about JavaScript

[2020-07-07 12:21] PeterF521 commented on #39192
Or use `typeof` keyword?

[2020-07-07 12:35] Sky020 commented on #39192
Hello @PeterF521 ,

There should be no need for either of those. The idea is to change the wording of this line of text:

To this:

There is no need to change the tests, as they do not check for the `slice` or `splice` methods.

[2020-07-07 12:38] PeterF521 commented on #39192
Thanks. It's very much easy!

[2020-07-07 13:10] #39192 closed

[2020-07-07 15:24] dstollbyu opened #39198 "Stubs in Hint pages can't be replied to or edited"
**Describe your problem and how to reproduce it:**
I’ve noticed that a number of hint pages for exercises have “This is a stub. Help the community by replying below with your hints and solutions. We can use those to create a guide article for this.”

There is no option to reply or edit the document, and I can understand that it’s to prevent a flood of unwanted edits. In that case, what should we d

[2020-07-07 16:04] PeterF521 commented on #39195
What do you want to do? Explain it better, please ;)

[2020-07-07 16:05] PeterF521 commented on #39179
Yes, I also like very much

[2020-07-07 16:08] PeterF521 commented on #39170
I'm interested

[2020-07-07 16:14] raisedadead commented on #39198
I think, creating an issue on this tracker is the best approach here. Hey @RandellDawson can you guide here.

[2020-07-07 16:57] lasjorg commented on #39190
I'm just calling the finished version of the code a camper would end up with from this section of challenges a "project". I know it isn't really a project.

Sure it is easy to fix, but you have to know what the problem is and to update the dependencies.

I guess there isn't any expectation that the code used to pass the challenges will be accessible or remain valid. Once you have passed all the ch

[2020-07-07 17:54] RandellDawson commented on #39198
If someone wants to suggest a solution for a challenge, would the Contributor's category not be the place for it?  Also, the user should explain what makes their approach unique.  If it is just a syntax change, we may not accept it.  It would need to be an algorithmic approach not already covered by the existing solutions.

[2020-07-07 18:00] vkWeb commented on #39186
@ojeytonwilliams Indeed - timezones are tricky. Thanks for confirming that datetime given back by Node is in UTC.

https://github.com/freeCodeCamp/freeCodeCamp/blob/511238d36e296378d454ac057c000afc2ebf3c5e/api-server/server/boot/certificate.js#L551

I saw the above code just now. You are absolutely correct @ojeytonwilliams.

I looked at @nhcarrigan's GitHub profile, he lives in USA. Timezone of US

[2020-07-07 18:07] RandellDawson commented on #39186
There are 3 time zones (PST, CST - GMT-6, EST ) in the mainland US or 5 times zone if you include Alaska (GMT-8) and Hawaii (GMT-10).  It also depends on the time of year, because of DST (Daylight Savings Time).

[2020-07-07 18:21] nhcarrigan commented on #39186
I am in the Pacific Timezone, which is currently PDT (due to Daylight Savings Time).
I claimed the certificate in question at approximately 17:18 PTD, which translates to 00:18 UTC (pushing the time into the next day). This may be the source of that bug.

[2020-07-07 18:31] vkWeb commented on #39186
@RandellDawson oh my god. Timezones are actually complex.

@nhcarrigan Amazing - I believe we have found the source of this bug.

IMO, the best solution to this issue will be to append "UTC" to the issued date to make things clear for users.

Going after local time will involve getting timezone from users via settings and then querying db for their timezone while claiming cert. This'll be bad in t

[2020-07-07 19:02] emrahkilic opened #39200 "Logical Mistake in JS course"
In JS Record Collection topic, there is a logical mistake. When you try to update the collection object, if the input is an empty track, then you completely delete the tracks array. Your aim should be to update the object, not to delete existing data inside the object.

Link of the course topic: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/record-co

[2020-07-07 19:40] RandellDawson commented on #39200
@emrahkilic

To what would you update the object in the case of an empty track input value?  How else would you be able to know when to delete the property from the object?

[2020-07-07 19:54] emrahkilic commented on #39200
You don't have to update it but you are not supposed to delete the existing data, right? Check out the element with id = 2548. You have nothing to add in tracks array but your code/logic delete the whole already existing array.  Why? This is problematic. It took hours for me to understand the logic behind because it's nonsense. Why would I want to delete my existing data if I don't have anything t

[2020-07-07 22:20] erictleung opened #39202 "Add "annotations" to news articles"
**Is your feature request related to a problem? Please describe.**
Not much of a problem. More of an enhancement to the news platform. Currently, there is no way to engage with the content or comment on certain sections to update the code to any updates or caveats from within the article. Comments could work, but are disconnected with the content and you have to go back and forth on the area of th

[2020-07-07 22:24] RandellDawson commented on #39200
@emrahkilic

According to the instructions, one of the requirements (rules) of of the function is to delete a property if the value passed to it is an empty string.  See below for the stated rule in the instructions.

So yes, you are supposed to delete the property "tracks" if the `value` argument is an empty string.

Like all challenges and real-life code, you will be given requirements that a pa

[2020-07-07 22:26] RandellDawson commented on #39200
I am closing this issue for now, since there is no bug in the challenge.  If you ask others on the forum about the problems you had with this challenge and they conclude a change is warranted, please reply back here and we can reopen the issue for further discussion.

Thank you.

[2020-07-08 02:33] jonathanihm opened #39204 "React PropTypes Challenge Unclear"
https://www.freecodecamp.org/learn/front-end-libraries/react/use-proptypes-to-define-the-props-you-expect

In the instructions and unit tests are ambiguous with the word "required".

It states:
"The Items component should include a propTypes check that requires quantity to be a number."

This is unclear as "requires" could mean that this check just simply needs to exist for the test to pass or tha

[2020-07-08 02:37] nhcarrigan commented on #39204
![image](https://user-images.githubusercontent.com/63889819/86868275-40e4a400-c089-11ea-8c77-b6801fa7d4f3.png)

I think the lesson instructions are pretty clear, but I do agree that the test case wording is ambiguous. I would propose that the test message be edited to mirror this instruction.

[2020-07-08 05:53] raisedadead commented on #39186
We should be able to allow users to set a timezone in their user profiles for the correct offset.

[2020-07-08 06:13] sanityto opened #39205 "Rosetta Code: Tokenize a string with escaping - swapped parameters in starting code"
**Describe your problem and how to reproduce it:**
`esc` and `sep` parameters are swapped in the starting code. As description and tests suggests second parameter should be separator character and third one escape character.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/coding-interview-prep/rosetta-code/tokenize-a-string-with-escaping

[2020-07-08 06:36] RandellDawson commented on #39204
I do not think the test text should just be a duplicate of the instruction.  That would be redundant.  Instead, we need to rewrite the text to reflect was is being tested.  See below for the current testString prettified:

[code]
The important part of the test in the return statement.  We are validating that we see the text "quantity:PropTypes.number.isRequired" and "Items.propTypes='" after remov

[2020-07-08 06:44] nhcarrigan commented on #39204
I cannot think of a more effective testString, personally. But for the test text, perhaps something like "The `Items` component should include a `propTypes` check to require a value for quantity and ensure that value is a number."

[2020-07-08 08:32] PeterF521 opened #39206 "challenges: add keyboard shortcut to run the tests"
**Is your feature request related to a problem? Please describe.**
If we stop to think better, It's so boring when we finish a challenge need to click in `Run the tests` button.

**Describe the solution you'd like**
It's more faster add a keyboard shortcut for this, like CTRL+ENTER.

**Additional context**
Add any other context or screenshots about the feature request here.
![Captura de ecrã de 20

[2020-07-08 10:19] emrahkilic commented on #39200
You are right, there is no bug in the challenge. What I tried to emphasize is that it makes more sense if the logic behind the challenge is rational. That's all. I tried not to delete the existing array while coding and it gave error. Anyway, challenge is challenge. I just wanted to inform you in this instance.

Thank you.

[2020-07-08 10:19] #39200 closed

[2020-07-08 12:04] Sky020 commented on #39205
Thank you, for pointing this out. Not a major issue, but makes sense to change. I am opening this up for _first-timers_

[2020-07-08 12:12] Sky020 commented on #39206
Hello there,

I will refer you to this guide: https://forum.freecodecamp.org/t/free-code-camp-hotkeys/59467

`Ctrl + Enter` does do exactly that, already. However, the editor frame must be in focus.

I am closing this for now.

[2020-07-08 12:12] #39206 closed

[2020-07-08 14:22] ptkpyitheim commented on #38710
@dostuffthatmatters  Just made a pull request that has a checking that removes extra parentheses around single digits. I haven't checked for situations like this though `1*2*(3*4)` where there are extra parentheses in non-single digits

[2020-07-08 16:38] PeterF521 commented on #39206
ok

[2020-07-08 20:59] moT01 commented on #39082
I'm going to vote against changing these. It doesn't seem worth the effort at the moment.

It doesn't sound too bad, but it feels like very little gain for a lot of work in my opinion. I would rather keep them somewhat consistent then change them one at a time as PR's for challenges come in.

[2020-07-08 22:21] #39205 closed

[2020-07-09 01:02] jonathanihm commented on #39204
https://www.freecodecamp.org/learn/front-end-libraries/react/review-using-props-with-stateless-functional-components

Has the same clarity issue, thanks!

[2020-07-09 14:14] ptkpyitheim commented on #39185
@ahmadabdolsaheb Hi! Have you had any progress on this bug? I see you self-assigned. I was wondering if you'd need any help? I'm trying to look into it right now.

[2020-07-09 14:18] ptkpyitheim commented on #39185
@RandellDawson Could you describe more in details how to reproduce the screenshot you have?

[2020-07-09 14:38] nhcarrigan commented on #39185
Hello~!

I can confirm this bug - it appears when trying to modify the categories of a topic after it has been posted.
![image](https://user-images.githubusercontent.com/63889819/87053695-1ee93f80-c1b7-11ea-8a1f-ac8e8883c8e7.png)

[2020-07-09 14:59] programmerraja commented on #38932
is still open ? i like to contribute can i?

[2020-07-09 15:03] Sky020 commented on #39186
Is this in line with what we are wanting:
![image](https://user-images.githubusercontent.com/51722130/87056463-9641c200-c1fd-11ea-8335-518b3be9438c.png)

![image](https://user-images.githubusercontent.com/51722130/87056495-a2c61a80-c1fd-11ea-8159-2621c7bf95a1.png)

Or, would something more explicit be necessary?

[2020-07-09 15:15] Sky020 commented on #38932
@programmerraja , Sorry, this issue has a linked pull-request that is likely to close the issue. You are welcome to work on other issues with the _help wanted_ label which do not have open PRs.

[2020-07-09 15:30] raisedadead commented on #39186
Something more along the lines of the snippet here:
https://www.freeformatter.com/time-zone-list-html-select.html

[2020-07-09 15:37] Sky020 commented on #39186
@raisedadead , Would it be beneficial for a JSON file to be made in the _api-server_ directory, in case the values need to be referenced elsewhere in the platform?

[2020-07-09 15:51] ojeytonwilliams commented on #39186
Even if they're only used in one place, it would be better to have the data imported from a separate file.  It's just less cluttered that way.

[2020-07-09 15:52] raisedadead commented on #39186
Just so its clear about the implementation, we will need to store the timezone on the user record, and do any computation of the display on the client only.

[2020-07-09 16:01] Sky020 commented on #39186
Thank you, for this clarification. Makes it easier, I suppose.

[2020-07-09 18:22] ahmadabdolsaheb opened #39217 "code block does not show horizontal scroll bar on Chrome, macOS"
When the the code in the code block is wider that the containing column, the horizontal scroll bar is not displayed.
Note: the horizontal scroll is displayed when the user scrolls horizontally, but it is not displayed otherwise.

for instance:
https://www.freecodecamp.org/learn/machine-learning-with-python/tensorflow/natural-language-processing-with-rnns-building-the-model

OS: macOS
browser: Chro

[2020-07-09 20:16] mainak-debnath commented on #38753
How about we change the question language to:
`Find the sum of the even numbers in the Finonacci sequence such that the numbers are less than or equal to n`
and add an extra example in the testing section
`fiboEvenSum(34) should return 44`

[2020-07-09 20:17] mainak-debnath commented on #38753
How about we change the question language to:
`Find the sum of the even numbers in the Finonacci sequence such that the numbers are less than or equal to n`
and add an extra test
`fiboEvenSum(34) should return 44`

[2020-07-10 00:19] nhcarrigan opened #39220 "Test Error on "Implement Selection Sort""
**Describe your problem and how to reproduce it:**
The tests for this challenge require the user to NOT use the `.sort()` function. The particular testString that checks this uses a regex, but that regex will match an occurrence of the word `sort` (case-sensitive), so using a variable name such as `sortedArray` will cause this test case to fail erroneously.

**Add a Link to the page with the probl

[2020-07-10 05:55] ahmadabdolsaheb commented on #39195
@PeterF521, thanks for taking a look. I updated the description. It should be easier to understand now.

[2020-07-10 06:01] ahmadabdolsaheb commented on #39185
@ptkpyitheim, please go ahead if you have a solution in mind.

[2020-07-10 06:13] ruhci28 commented on #39220
Hye. Can I Work on this .?

[2020-07-10 06:18] nhcarrigan commented on #39220
Hello~!

While your eagerness to contribute is admirable and I do not want to discourage you, I think it best if we wait until the issue has been triaged first. 🙂

[2020-07-10 06:32] ruhci28 commented on #39220
okay

[2020-07-10 07:46] JaydevSR opened #39222 "Add python language support to the rosettacode and project euler section."
I think that in addition to the javascript language and its tests, there should also be an option for solving problems in any other language like Python which is the most commonly used language on both the platforms.

[2020-07-10 07:53] ojeytonwilliams commented on #38753
Sorry for letting this slide - yes, that's what I think should happen.

Adding extra tests is effectively adding to the description, so I think that's enough. Any more than that and we start diverging from Project Euler while still calling the section 'Project Euler'.

[2020-07-10 09:51] ojeytonwilliams commented on #39220
Thanks for posting this @nhcarrigan, this definitely isn't working as intended.

@ruhci28 this is open for contributions now, so PRs are welcome.

[2020-07-10 10:16] ruhci28 commented on #39220
okay I will start working on that

[2020-07-10 10:22] Sky020 commented on #39220
Something similar to this should do: https://github.com/freeCodeCamp/freeCodeCamp/pull/38801/files

[2020-07-10 13:27] dddd-dev commented on #39222
s

[2020-07-10 13:57] ruhci28 commented on #39220
okay thanks for help

[2020-07-10 14:50] nhcarrigan commented on #39220
It looks like the issue is also present on the [Insertion Sort](https://www.freecodecamp.org/learn/coding-interview-prep/algorithms/implement-insertion-sort) and [Quick Sort](https://www.freecodecamp.org/learn/coding-interview-prep/algorithms/implement-quick-sort) challenges as well.

[2020-07-10 15:10] RandellDawson commented on #39185
I have updated the issue body to reflect what @nhcarrigan stated (which I should have done originally).

[2020-07-10 16:50] aminah-sc opened #39224 "Confusing question in: Python for Everybody - Conditional Execution"
**Problem:**

The question given on this page is: 'Which code is indented correctly to print "Yes" if x = 0 and y = 10?' Who can definitively say  anything about anyone's intention? It would be clearer to say something like, 'Which code is written correctly to print "Yes" if x = 0 and y = 10?'

**Link to the page with the problem:**

https://www.freecodecamp.org/learn/scientific-computing-with-pyt

[2020-07-10 16:58] nhcarrigan commented on #39224
Hello!

It sounds like you might have misread the question as "Which code is intended", when the question says "Which code is *indented* correctly". 🙂

[2020-07-10 17:00] aminah-sc commented on #39224
Alas, you are absolutely right, so sorry!

[2020-07-10 17:00] #39224 closed

[2020-07-10 17:01] nhcarrigan commented on #39224
No worries! Happens to all of us! 😅

[2020-07-11 08:16] PeterF521 commented on #39195
I understanded now!

[2020-07-11 08:32] PeterF521 commented on #39195
So do you want to upgrade the `Trending Guides`, right? I think that is better also add `Our Nonprofit` section on */news* page.

[2020-07-11 09:04] vkWeb opened #39231 "Make hierarchy more clear for /learn"
**Is your feature request related to a problem? Please describe.**
Recently I saw a tweet which I agree with:

![Screenshot (16)](https://user-images.githubusercontent.com/26724128/87220633-3f65f500-c383-11ea-9887-37e8993f9792.png)

**Describe the solution you'd like**
We need to make the hierarchy more clear. This issue is open for discussion.

[2020-07-11 18:43] QuincyLarson opened #39232 "Add to video courses links to repos"
We need to audit all of the video courses and add links to relevant repos, Jupyter Notebooks, and other resources.

For example, [this video challenge](https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-course/data-analysis-example-a) mentions a project but does not link to that project.

In this case, I believe all the necessary links for this particular video

[2020-07-11 20:17] omer727 commented on #38832
I'm on it (first timer 😊)

[2020-07-11 22:45] Azalen opened #39233 "Algorithms: Implement Insertion Sort - You can get it to pass even though the algorithm is not correct"
https://www.freecodecamp.org/learn/coding-interview-prep/algorithms/implement-insertion-sort

`
function insertionSort(array) {
  for(let i=1; i<array.length; i++){
    let toInsert = array[i];
    let j = i-1;
    while(j >= 0){
      if(toInsert < array[j]){
        array[j+1] = array[j];
      }
      else{
        array[j+1] = toInsert;
        break;
      }
      j--
    }
    console.log(ar

[2020-07-11 22:53] nhcarrigan commented on #39233
I am able to confirm this bug.

[2020-07-11 23:29] RandellDawson commented on #39233
Would either of you like to add the necessary test?

[2020-07-11 23:37] nhcarrigan commented on #39233
I will defer to @Azalen for the opportunity to make a contribution.

If they do not want to make this change, then I can go ahead and do so. 🙂

[2020-07-12 13:43] ilyaspiridonov opened #39235 "Proposed tool for community translations"
Please consider using [GitLocalize](https://gitlocalize.com) to manage community translations.
It's free, supports .md and syncs with GitHub directly.

[2020-07-13 00:21] c-logan opened #39238 "Graph/Shortest Path Coding Challenge Suggestion"
Hello all,

This is my first issue I have opened so please tell me if I am doing anything wrong.

After brainstorming possible additions to the coding challenges, I feel that adding a problem (or a few problems) related to graphs/shortest path algorithms could be considered... I've gone through the challenges and while there are problems on BFS and DFS, graph problems seem like a fairly major topi

[2020-07-13 02:53] ptkpyitheim commented on #39185
@RandellDawson For some reason I cannot reproduce the bug. Would you be able to send a link? I'm using MacOS and I'm using Chrome

[2020-07-13 03:12] c-logan commented on #35707
Is this issue still open for contributions/discussion?

[2020-07-13 04:19] ahmadabdolsaheb commented on #39195
The trending guides and the styles of the footer will be changed and the current news version of the footer is optimized for SEO so we will stick to that for this iteration.

[2020-07-13 04:30] ahmadabdolsaheb commented on #39231
I believe the issue request is regarding the map which will be split into multiple certification related mini maps when #39154 is finalized and merged.

[2020-07-13 05:31] RandellDawson commented on #39185
@ptkpyitheim If you go to any topic that you have already created and try to change the category, you should see the issue.  Can you show a screen shot of what you see when you attempt to change an existing topic's category?

[2020-07-13 06:09] raisedadead commented on #39235
Hi @ilyaspiridonov

Thanks for your recomendation. We are already in the process of integrating a tool. Although, its too early for us to announce the same, we are making good progress.

I would recommend to keep an eye out by joining our [community forum](https://www.freecodecamp.org/forum) to know when we make an announcement.

Happy contributing.

[2020-07-13 06:09] #39235 closed

[2020-07-13 06:12] raisedadead commented on #39231
Please continue on the #38820 thred instead.

[2020-07-13 06:12] #39231 closed

[2020-07-13 06:22] PeterF521 commented on #39195
Ok

[2020-07-13 11:07] vlbarner commented on #6541
Not a bug but the 'feature'.
Everyone, including myself, is overthinking the purpose of the test. Edit what is given ex. that first line (**var myStr = ""; // Change this line**) is the correct line to use. Writing the corrected line underneath and leaving the pretext 'as is' is the **error!** The programs sees the pretext as incomplete and ignores everything else.
That is my observation, what do

[2020-07-13 11:55] KartikSoneji commented on #39220
Note that adding this comment also fails the challenge:
[code]

While this passes:
[code]

Maybe it is better to do
[code]
or
[code]

[2020-07-13 13:12] #39082 closed

[2020-07-13 15:12] beaucarnes commented on #39232
Just made a PR with resource links for every Data Analysis video challenge.

[2020-07-13 17:51] moustachio-belvedere opened #39243 "Date Analysis with Python: demographic-data-analyzer has incorrect `assertAlmostEqual` function calls"
**Describe your problem and how to reproduce it:**
The three issues with the `assertAlmostEqual` function calls are as follows:

- an assertion error message is passed as a positional argument, resulting in the assertion not being called correctly. Changing this to pass as a keyword argument with keyword `msg` fixes this.

- the expected values in the assertion are rounded to one decimal place, bu

[2020-07-13 19:12] Sky020 opened #39244 "Python Project - Time Series Visualizer"
**Describe your problem and how to reproduce it:**
As mentioned in [this forum post](https://forum.freecodecamp.org/t/page-view-time-series-visualizer-test-error/409465), the tests appear to be missing a flag to allow the dataframe to be converted to an integer.

Whilst the README.md does allude to starting by converting the data to purely `index -> value`, I believe it would be more useful to inc

[2020-07-13 21:11] moustachio-belvedere opened #39245 "Date Analysis with Python: fcc-medical-data-visualizer error"
**Describe your problem and how to reproduce it:**
Pressing run brings up an error that appears to be unrelated to the user-written code, and related to the package dependency files:

[code]
**Add a Link to the page with the problem:**
https://repl.it/@freeCodeCamp/fcc-medical-data-visualizer#README.md

**Tell us about your browser and operating system:**
* Browser Name: Mozilla Firefox
* Browser

[2020-07-14 07:18] ojeytonwilliams opened #39250 "Delay offline warning?"
Would it be better to only show users the offline warning if they've been offline for a few seconds?  Since we retry failed submissions, they should be able to work successfully even if their internet is patchy.

[2020-07-14 07:29] #38832 closed

[2020-07-14 10:00] #37788 closed

[2020-07-14 12:46] IC1101Virgo commented on #39049
Hey!
I am new too. As I was reading the comments I saw you have a discord channel as well. However unfortunately I can't find your server room there? Can I join?
Thanks!

[2020-07-14 14:27] mbsyaswanth commented on #17744
Replacing double quotes(") with single quotes(') passed the test cases at FreeCodeCamp for me.

[2020-07-14 17:17] Ieahleen commented on #39049
Look at this article for the discord channel:
https://www.freecodecamp.org/news/freecodecamp-discord-chat-room-server/amp/

Il giorno mar 14 lug 2020 alle 14:46 Anjali Chaturvedi <
notifications@github.com> ha scritto:

[2020-07-15 08:35] Al3busse commented on #39190
In order to pass the test i had to go back to version: 2.3.0

[2020-07-15 09:17] obsessedyouth commented on #39190
Hi @lasjorg @Sky020 @RandellDawson can you guys please reach a consensus about what will be done regarding this issue? It seems it is starting to affect more campers. I think my PR addresses this and backward compatibility is extremely unlikely since I doubt anyone would try to attempt a lesson with an older version of a project using helmet.js

[2020-07-15 09:58] raisedadead commented on #39250
Yep, could be a good idea.

[2020-07-15 13:34] scissorsneedfoodtoo commented on #39075
Thanks for this contribution @simarpreetsingh-019.

This is working locally for be, though I had to update Ghost and restart to get the AMP version of the YouTube embed to render.

While digging more into this, it seems like the `amp-youtube` script controlled by Ghost in more recent versions: https://github.com/TryGhost/Ghost/pull/11058/files

Not sure if it's best to add it in the theme here, or

[2020-07-15 14:17] ptkpyitheim commented on #39185
Okay I see the issue now. I wish I knew I had to sign up for an account and create a new topic in order to see the bug. The original description assumed that and going to a preexisting topic doesn't necessarily means it's a topic I created.

I'll take a better look.

[2020-07-15 14:20] vikramvi opened #39257 "Tests passes even without any CSS"
Please refer to https://forum.freecodecamp.org/t/tests-passes-even-without-any-css/409817

Tell us what’s happening:

This exercise asks to create Survey form.
As per survey form; I’ve entered all the necessary HTML elements
After running the code in codepen all the tests are passed
Expected Result:

As user has not used any CSS, test must fail
As user is learning both HTML and CSS; user stories s

[2020-07-15 14:25] ptkpyitheim commented on #39185
It seems like there's a max-width that's being set. In my inspector I see that a max-width has been set for each `li` tags. Unselected that stretches out.

![Deselected](https://user-images.githubusercontent.com/36285777/87557065-155f4c00-c67d-11ea-8930-7c09bc5b66b4.png)
![Selected](https://user-images.githubusercontent.com/36285777/87557077-17290f80-c67d-11ea-8941-6ed944c1672a.png)

[2020-07-15 14:40] simarpreetsingh-019 commented on #39075
@scissorsneedfoodtoo That's great news that it worked, and thanks for referring to `allowedAMPAttributes` with `amp-youtube`. I was suggesting about that. Well if it's already implemented, I had to see other things for any other suggestion in which I could also help to contribute.
Just one doubt, will this contribution be added to repo? or I would have to wait for some more time with another issue

[2020-07-15 15:13] dstollbyu commented on #39198
If the contributor's category is the place to make suggestions, could that be indicated in the stub pages?

[2020-07-15 15:29] #38439 closed

[2020-07-15 15:35] raisedadead commented on #39198
That's actually how it should be. @RandellDawson do you know how we could possibly do this programatically.

[2020-07-15 16:09] Sky020 commented on #39257
Hello there,

I will leave this issue open for others to comment, but here is how I see it:

Firstly, the projects are there for users to practice _some_ of the topics taught in previous lessons. With emphasis on some, as (and this is seen in all of the projects continuing forward) the general idea is for the projects to become increasingly _difficult_, and, perhaps, expect more tools/techniques t

[2020-07-15 17:42] nhcarrigan commented on #39243
On this test, I think the comment in the `demographic_data_analyser.py` file might be incorrect?
I mistakenly looked for the top occupation in India *overall*, and that returned the expected `Prof-specialty`.

[2020-07-15 17:52] moustachio-belvedere commented on #39243
Interesting, so if you look at India overall for both "<=50K" and ">50K" then top profession is Prof-specialty? That's straightforward to fix then, but I guess we need to decide whether it is the comment that should be amended or the test.

[2020-07-15 17:52] Himanshunitrr opened #39263 "React: Pass an Array as Props Bug"
**Describe your problem and how to reproduce it:**
In the Front End Libraries Certification, there is a sub-unit in React portion named "React: Pass an Array as Props", in which we have to pass an array as props and to render them in p tag by using  .join() method. The question asks us to display the array in the p element as a comma-separated list. The problem is that if we use .join(",") then th

[2020-07-15 18:57] RandellDawson commented on #39263
@Himanshunitrr The actual file is [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/03-front-end-libraries/react/pass-an-array-as-props.english.md).  You will want to make sure to read [our documentation on  a working on coding challenges](https://contribute.freecodecamp.org/#/how-to-work-on-coding-challenges).  Before [creating a PR](https://contribute.

[2020-07-16 00:51] RandellDawson commented on #38691
It seems like we could get rid of the regex all together by writing the `testString` as:
[code]

and then referencing the _recordObject in an"After Test" section:
[code]

I tested this locally and it seems to allow the user to format the object anyway they want as long as they do not change the properties and values.  Since I wrote this rather quickly, I may be overlooking an edge case.

[2020-07-16 01:05] RandellDawson commented on #39257
Technically, this could be handled with versioning the actual test CDN.  When changes are introduced to the test scripts that would cause previously submitted projects to potentially fail any of the tests, then a new version is corrected an advertised to be used from a certain date on.  Then, when someone submits the project, we dynamically insert the latest CDN into the code to validate it works.

[2020-07-16 02:37] Himanshunitrr commented on #39263
Thanks a lot !

[2020-07-16 03:04] RandellDawson commented on #39198
@raisedadead I already have a query that gets the topic id  of any stub topic.  I have a script that can be modified to replace the content with anything you want.  I used the same script to create these stub pages when everything was ported over from the repo.

There are currently 698 stub pages.  Just let me know what you think the content should state and I can update all of them in one pass.

[2020-07-16 05:05] RandellDawson commented on #39185
I [reported the issue](https://meta.discourse.org/t/category-dropdown-content-not-full-width/157875) to Discourse and they acknowledged the issue and merged a PR to fix it about an hour after reporting.

@raisedadead What do we need to do to get this update from Discourse?  Will it just get added to their next release?

If it is just a matter of waiting till they ship to production, should I go ah

[2020-07-16 05:08] RandellDawson commented on #39185
@ptkpyitheim Sorry for any confusion in the issue description.  I forgot about the fact that moderators can go in and modify anyone's category.  I wrote the description without considering that normal users can only change their own topic.

[2020-07-16 07:58] manorius opened #39267 "React course, incorrect usage of setState"
Not sure if a bug per se but I believe the code that is used should reflect what is being taught.
In the React lesson “Use State To Toggle An Element”
https://www.freecodecamp.org/learn/front-end-libraries/react/use-state-to-toggle-an-element
it is advised not to use code like this
`
this.setState({
  counter: this.state.counter + this.props.increment
});
`
but this code style:
`
this.setState((st

[2020-07-16 09:29] ojeytonwilliams commented on #39267
Hi @manorius thanks for pointing this out.  The rationale for using the updater function is explained in the first challenge:

[code]

There's nothing intrinsically wrong with the object form - it's only a problem if it includes references to `this.state` or `this.props`.  However, there are examples of that mistake in subsequent challenges for example [here](https://www.freecodecamp.org/learn/fro

[2020-07-16 10:15] ahmadabdolsaheb commented on #39185
if we are not planning to update our discourse, I can make the necessary changes from our theme.

[2020-07-16 12:08] Himanshunitrr commented on #39263
Created a PR #39268

[2020-07-16 12:41] #38123 closed

[2020-07-16 13:01] raisedadead commented on #39198
Sure go ahead.

[2020-07-16 15:35] Sky020 commented on #39198
@RandellDawson , would it be possible to have the stub contain a link with a template for creating the post? Something including (at a minimum) the link to the stub?

[2020-07-16 16:26] raisedadead commented on #39198
Yup, we have the template on the contributing docs, right? That could be linked.

[2020-07-16 17:37] ruhci28 commented on #39267
hye can i work on this .?

[2020-07-16 17:38] ruhci28 commented on #39250
hye. can i work on this .?

[2020-07-16 17:44] ojeytonwilliams commented on #39250
@ruhci28, absolutely!  Anything with the `help wanted` label is available for anyone who wants it.  We typically merge the first accepted PR.

[2020-07-16 17:55] ruhci28 commented on #39250
ok Thanks

[2020-07-16 17:55] RandellDawson commented on #39198
Yes, the documentation has the template, but that would only be useful for the mods, since we have locked down the wikis.

I finished updating the 673 stub topics with the content we discussed earlier in this issue, but we can accomplish two things at once:
1. Use the same stub message I just used earlier at the top of the topic (below the heading back link to the challenge)
2. Add the template we

[2020-07-16 18:07] Manish-Giri commented on #39267
@Ruchika8 Go ahead.

[2020-07-16 18:17] Sky020 commented on #39198
@RandellDawson , sorry, miscommunication. What I meant is, users are posting asking for stubs to be changed, without providing a link to the stub. So, I was wondering how easy it would be for a template to be made similar to how using the _Ask for Help_ button on a challenge creates one...

[2020-07-16 18:24] lasjorg commented on #39190
@obsessedyouth Fixing the current issue is definitely a lot more important than any backward compatibility considerations. I think it might be fine to break old "projects".

I doubt that there are many people that will go back and re-run the tests on their old code. However, it is possible that some campers may have started doing the challenges and then moved on to something else, or took a break,

[2020-07-16 18:38] lasjorg commented on #39257
I don't think CSS is very relevant to this challenge project.

The main point is to use the form elements and attributes that are needed when creating an HTML form. And as said, to revisit some form related concepts previously taught in the curriculum.

[2020-07-16 18:45] RandellDawson commented on #39198
@Sky020 Can you take the existing Ask for help content and create a template with what you would want the topic to look like?

[2020-07-16 18:49] RandellDawson commented on #39190
@moT01 @ojeytonwilliams Any thoughts on this issue?

[2020-07-16 21:26] RandellDawson commented on #39198
Actually, I have come up with a way to add a link which creates a new topic like the Ask For Help button does.  Check out [this topic](https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-problem-305-reflexive-position/301959) to see how it looks.

@raisedadead If you and @Sky020 think this is a good idea, that I can run the script I created to do this for the 690+ stubs.  It will take ab

[2020-07-16 21:29] nhcarrigan commented on #39198
I really like the addition of that link.

[2020-07-16 21:45] Sky020 commented on #39198
@RandellDawson That is excellent! The only thing I might suggest is for the title to also be pre-filled. Perhaps something simple to sort through the topics in Contributors so we **know** it is a suggestion?

[2020-07-16 21:50] RandellDawson commented on #39198
I could add something but the user will still have to create a unique title because Discourse does not allow duplicate titles.  It also needs to be short to allow the user to add something to the end of it.  Any suggestions are welcome.

[2020-07-17 05:53] multiwebinc opened #39269 "Errors in challenge description"
**Describe your problem and how to reproduce it:**

The challenge says:

It should be “HTTP request”, not “HTML request”.

Also I don’t get the point in the third sentence “Since HTML is text-based, even if you don’t see the data, it doesn’t mean that it is secret”. What does HTML being text-based have to do with not seeing the data from a POST request? The response to an HTTP request doesn’t even

[2020-07-17 06:44] ruhci28 commented on #39267
hye @Manish-Giri  sorry to ask you but does you by mistake assign this to someone else .?

[2020-07-17 07:11] #39222 closed

[2020-07-17 07:27] ruhci28 commented on #39250
Hey , @ojeytonwilliams  I use setTimeOut function is i am going right.
`import React from 'react';
import PropTypes from 'prop-types';

import './offline-warning.css';

const propTypes = {
  isOnline: PropTypes.bool.isRequired,
  isSignedIn: PropTypes.bool.isRequired
};
const delayInMilliseconds = 5000;
function OfflineWarning({ isOnline, isSignedIn }) {
  return !isSignedIn || isOnline ? null : (

[2020-07-17 07:55] ojeytonwilliams commented on #39250
Hi @ruhci28 I think the logic should be as follows

[code]
and
[code]

the idea isn't just to delay the warning, it's to only show the warning if the user stays offline for a few seconds.

Does that help at all?

[2020-07-17 08:02] ruhci28 commented on #39250
Thanks @ojeytonwilliams

[2020-07-17 08:12] ojeytonwilliams commented on #39269
Agreed, thanks for pointing that out.

And, yes, the third sentence is misleading.  The paragraph in question is

I think what the challenge should say is the following:

Basically it's a warning that POSTs may look more secure, but you still need encryption!

[2020-07-17 08:13] vikramvi commented on #39257
Then how can new engineer is able to practice CSS learnt in the curriculum ?

I personally finding it hard to do exercise projects as CSS is not made mandatory

[2020-07-17 09:02] ojeytonwilliams commented on #39267
This is not assigned to anyone.  Whoever wants to work on it is free to do so.

[2020-07-17 09:12] #39232 closed

[2020-07-17 11:01] Sky020 commented on #39257
@vikramvi , CSS is _mandatory_ in every other project. So, you will practice it then.

[2020-07-17 11:42] SaumitraVerma opened #39271 "Use Brython in the new python courses"
brython can be used as an web based interpreter and can make the python courses like the others.

https://cdnjs.cloudflare.com/ajax/libs/brython/3.4.0/brython.min.js

[2020-07-17 11:53] kettultim opened #39272 "Fix typos on React Quiz news post"
There are a couple of typos in the 3rd paragraph on https://www.freecodecamp.org/news/how-to-build-a-quiz-app-using-react-and-typescript/

*Original*

*Fix*

[2020-07-17 12:31] Manish-Giri commented on #39267
@ruhci28 Yes, sorry. Tagged someone else due to Github autocomplete. You can work on this 👍

[2020-07-17 12:48] moT01 commented on #39190
How about rewriting the lesson that installs the package to make users install the specific version we were using when the lessons were written? This will keep everything compatible and save us from running into this issue again if something else in the package changes. I don't like teaching older versions of things, but it may be a good way to make sure things keep working - I think that would wo

[2020-07-17 13:09] RandellDawson commented on #39190
@moT01 That is a good point.  Many companies purposely do not upgrade a package, to avoid breaking existing code.

[2020-07-17 13:17] obsessedyouth commented on #39190
Well, this was an unexpected outcome but I'm happy this will get addressed either way.

[2020-07-17 13:34] ruhci28 commented on #39267
Okay Thanks

[2020-07-17 13:53] nakul251197 commented on #39269
Hello!
This is my first time contributing in the code. I would like to take up this issue if no one is working on it.

Thank You!

[2020-07-17 14:28] ojeytonwilliams commented on #39269
Welcome @nakul251197! No one else seems to have taken this up yet, so please do.

[2020-07-17 14:40] ojeytonwilliams commented on #39190
Yep, I agree with Tom.

The packages should definitely get pinned to specific versions and get updated when a contributor intends to move to new versions.  Ideally they should be updated to the latest stable builds, but it's important that the process is controlled.

[2020-07-17 14:50] ruhci28 commented on #39250
Hye , @ojeytonwilliams  does my code makes sense
import React from 'react';
import PropTypes from 'prop-types';

import './offline-warning.css';

var delayInMilliseconds= 5000;
const propTypes = {
  isOnline: PropTypes.bool.isRequired,
  isSignedIn: PropTypes.bool.isRequired
};
function OfflineWarning({ isOnline, isSignedIn }) {
  const [show_warning,setshow_warning]=React.useState(!isSignedIn ||

[2020-07-17 14:59] moustachio-belvedere commented on #39245
Closed as dupe of https://github.com/freeCodeCamp/freeCodeCamp/issues/39175

[2020-07-17 14:59] #39245 closed

[2020-07-17 15:27] lasjorg commented on #39190
I honestly think the real problem here is how we are testing for the middleware.

1. Depending on the internals of Express, especially internals declared using underscore (`_router.stack`) is surely bound to cause issues.

2. Looking at internal function names of middleware and not the publicly exposed middleware methods. The HelmetJS middleware method names have not changed (that would be a major

[2020-07-17 15:48] ojeytonwilliams commented on #39250
@ruhci28 are you developing this locally?  The reason I ask is this code has a few syntax errors that your editor should be warning you about.

As for the code itself, I like the direction you're going in.  A couple of points: `setTimeout` returns an `id`, not the result of the callback function.  What you need to do is trigger that timeout if `!isSignedIn || isOnline ? false : true` is `true` and

[2020-07-17 16:06] #39269 closed

[2020-07-17 16:24] ShaunSHamilton opened #39277 "chore: add ES6 import syntax throughout curriculum"
- [ ] Add ES6 import syntax

Following from a conversation on Gitter, after getting this error:
[code]
Either Babel should be enabled throughout, or something like _esm_ used.

[2020-07-17 16:47] Sky020 opened #39278 "Local Dev Connection Refused Error"
**Describe your problem and how to reproduce it:**
Running up fCC locally often leads to this error:
![image](https://user-images.githubusercontent.com/51722130/87810065-4a71c700-c854-11ea-89b6-021ce5403027.png)

Some useful logs:
DB:
[code]
Server:

Potentially related (but I have seen this error, before the one in question)
[code]

For full server logs, visit: https://github.com/Sky020/freeCodeC

[2020-07-17 17:27] ChoukseyKhushbu commented on #38753
Hello, @thecodingaviator. I am totally new to open source contribution and I want to contribute to this issue.
Can I take this up, if it is still open?

[2020-07-17 17:34] ojeytonwilliams commented on #39278
Thanks Shaun, I think it's a node compatibility problem.  fCC is only able to run on the current lts version, so if you try switching to that (`nvm install lts/*` makes that trivial) and reinstalling everything should be fine.

[2020-07-17 17:39] RandellDawson commented on #38753
@ChoukseyKhushbu I believe we have already decided not to reword the instruction and instead focus on adding extra tests.

[2020-07-17 17:48] ChoukseyKhushbu commented on #38753
@RandellDawson Okay, I think I may have misunderstood the conversations above. Apologies.

[2020-07-17 18:43] moustachio-belvedere opened #39280 "Data Analysis with Python Projects - Sea Level Predictor -- suggestion of removal of one test"
**Describe your problem and how to reproduce it:**
There is a test that checks the plot's x-ticks are exactly as expected, see line 25 of the test python file in the link below. This was not the x-ticks I got by default, so I had manually set the ticks to what the test required (a very minor change). This changing of x-ticks is not specified in the readme or comments yet setting the title, x-label

[2020-07-17 19:45] raisedadead opened #39282 "Harden Username Blocklist"
Reference: https://twitter.com/zersiax/status/1284098104711622661

A generic commonly accepted excludelist (serverside), and a profanity filter check on ~~client~~ server side using https://github.com/web-mech/badwords should cover most scenarios.

Edit: Client side validation is bad! Sorry it was late when I added this requirement.

[2020-07-17 20:11] #39263 closed

[2020-07-18 01:51] vikramvi commented on #39257
All the 5 projects passes without any CSS, which other project did you mean ?

[2020-07-18 02:02] hailelagi opened #39284 "Typo in scientific computing with python certificate"
**Describe your problem and how to reproduce it:**
There is a typo in the scientific computing with python certificate which displays "400" hours instead of "300" as the conservative estimated time of completion.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/certification/obsessedyouth/scientific-computing-with-python-v7

**Tell us about your browser and operating syst

[2020-07-18 02:14] nhcarrigan commented on #39284
This bug is also present on the Machine Learning and Data Analysis certificates.

![image](https://user-images.githubusercontent.com/63889819/87842459-7e9fb480-c861-11ea-9282-fae079610bb8.png)
![image](https://user-images.githubusercontent.com/63889819/87842466-89f2e000-c861-11ea-95b6-6be097da5ba6.png)

[2020-07-18 03:36] ruhci28 commented on #39250
Thanks @ojeytonwilliams  for the suggestion . yes the editor was giving error and that's why i ask you to review the code . I will implement the changes you tell .

[2020-07-18 03:48] RandellDawson commented on #39257
@vikramvi That is not true.  The Tribute project requires you to use CSS to pass two tests.  The Product Landing Page project requires you to use CSS to pass three tests.  The Technical Documentation Page project requires you to use CSS to pass two tests.  Finally, the Personal Portfolio project requires you to use CSS to pass 3 tests.

The only project that does not use tests for CSS is the Surve

[2020-07-18 06:30] Himanshunitrr commented on #39284
I went to https://github.com/freeCodeCamp/freeCodeCamp/tree/master/curriculum/challenges/english/12-certificates/ and saw some .md files. There were no certificate templates where one can fix the typos. (They might be in some other location) If so then tell me the right location please !

[2020-07-18 09:05] raisedadead commented on #39284
The correct estimates of the completion is defined in our API (used on the certificate):

https://github.com/freeCodeCamp/freeCodeCamp/blob/76879f9e7e77dc3bd263c55246c07c965bfded4e/api-server/server/boot/certificate.js#L182-L198

The map is just using a hard coded version of the same:

https://github.com/freeCodeCamp/freeCodeCamp/blob/76879f9e7e77dc3bd263c55246c07c965bfded4e/client/src/components/

[2020-07-18 09:20] Himanshunitrr commented on #39284
Let me fix this

[2020-07-18 10:53] dcsohn913 opened #39288 "Possible bug with Scientific Computing with Python Projects - Budget App"
**Describe your problem and how to reproduce it:**
If you go into test_module.py for the budget app challenge and scroll all the way down to the function test_create_spend_chart. The expected result is false. It says the expected results for the percentage withdrawal should be business - 0%, food - 70%, and entertainment - 20%.
Business should be at 10%.
Given:
        self.food.deposit(900, "depo

[2020-07-18 14:44] Sky020 commented on #39278
Thank you, for pointing that out, Oliver. It appears I need to set `nvm use` each time I open up WSL. However, after switching to the lts, I get the same errors. I have updated the linked logs.

[2020-07-18 15:00] ojeytonwilliams commented on #39278
It seems that Mongodb is refusing to connect.  I would check that it is starting automatically and see if it is producing any logs.

[2020-07-18 15:23] Sky020 commented on #39278
I have added all of the db logs to the above mentioned logs.

[2020-07-18 15:49] nhcarrigan commented on #39288
![image](https://user-images.githubusercontent.com/63889819/87856321-45079180-c8d3-11ea-8734-b57024a18da7.png)

From the challenge instructions,  the height of each bar should be *rounded down* to the nearest 10. 🙂

This does not appear to be a bug in the tests or the boilerplate code. As such, I am going to go ahead and close this issue. If you feel that this is in error, feel free to reopen the

[2020-07-18 15:49] #39288 closed

[2020-07-18 17:36] erictleung commented on #39280
Good catch. To be consistent, I think it might be nice to have the axis tick marks to be standardized. But then it might be good to just explicitly tell students what the ticks should be.

So I might suggest that we just add in the README that the x ticks should be

[code]

[2020-07-18 22:05] moustachio-belvedere commented on #39280
Sounds good. We could also add a comment in the template `sea_level_predictor.py` on line 18, next to the comment reminding people to add title and axis labels.

[2020-07-19 07:16] ruhci28 commented on #39250
Hello, @ojeytonwilliams  i made the changes in code can you review it.
![Screenshot 2020-07-19 at 12 45 20 PM](https://user-images.githubusercontent.com/59759735/87869467-c0457200-c9bd-11ea-8f72-214ddf57fd25.png)

[2020-07-19 10:20] ruhci28 commented on #39267
Hye, I changed the setState usage in challenges above mention by the @ojeytonwilliams.
![Screenshot 2020-07-19 at 3 44 06 PM](https://user-images.githubusercontent.com/59759735/87872592-7d909380-c9d7-11ea-8f0d-56d63cfdd757.png)
![Screenshot 2020-07-19 at 3 44 27 PM](https://user-images.githubusercontent.com/59759735/87872594-841f0b00-c9d7-11ea-99e1-4a9d3799fdff.png)

[2020-07-19 10:38] ojeytonwilliams commented on #39250
@ruhci28 that's looking really good!  The only thing I can see is that as well as clearing the timeout, the state need to be changed.  So, lines 14 to 16 should become:

[code]

This makes sure that the offline warning gets removed once the user is online again.

If you'd like to submit a PR with that, I think we should be able to merge this soon.

[2020-07-19 10:41] ojeytonwilliams commented on #39267
Hi @ruhci28, if you're happy with the code, please go ahead and create the PR so we can review it there.

[2020-07-19 10:46] Sky020 commented on #39278
Closing, until further development arises. Likely cause - slow start-up causing lack of concurrency.

[2020-07-19 10:46] #39278 closed

[2020-07-19 11:21] ruhci28 commented on #39267
okay

[2020-07-19 11:23] ruhci28 commented on #39250
okay i will submit a PR soon

[2020-07-19 12:51] RandellDawson commented on #39267
If we are going to do this right, then we should fix all such instances at the same time:

* [Add Event Listeners](https://www.freecodecamp.org/learn/front-end-libraries/react/add-event-listeners)
* [Create a Controlled FormPassed](https://www.freecodecamp.org/learn/front-end-libraries/react/create-a-controlled-form)
* [Optimize Re-Renders with shouldComponentUpdate](https://www.freecodecamp.org/l

[2020-07-19 20:06] Stephenklop commented on #39179
I really like it! Is someone already working on this?

[2020-07-19 20:44] ahmadabdolsaheb commented on #36819
If  users switch from the default theme ( dark ) to (light) and sign out, wouldn't they have to re-switch to light every time they sign in?

[2020-07-20 02:39] scissorsneedfoodtoo commented on #39075
@simarpreetsingh-019, thanks for your patience.

I don't think everything mentioned in my last post is implemented in our production Ghost instance, though I haven't been able to check on it directly.

Either way, someone on the team will need to implement the fix, either by updating our Ghost instance or adding those values to the `/current/core/frontend/apps/amp/lib/helpers/amp_content.js` file.

[2020-07-20 06:41] scissorsneedfoodtoo commented on #39272
Awesome, thanks for catching this @kettultim. :+1: :+1: I went in and fixed both of those typos.

The updated article text is here: https://www.freecodecamp.org/news/how-to-build-a-quiz-app-using-react-and-typescript/

[2020-07-20 06:41] #39272 closed

[2020-07-20 06:46] raisedadead commented on #36819
and why is that a concern? Isn't sign in === state ?

[2020-07-20 07:15] gimseng opened #39293 "Python courses are all youtube videos?"
**Is your feature request related to a problem? Please describe.**
Almost all Python learning courses (except for the projects) are youtube-videos plus multiple-choice-questions (MCQ).
The Python course, for e.g.,  asked me what's the output of 'x=5;x=x+1;print(x)', while they could have asked the learners to code this.

This feels more like the datacamp model rather than the dataquest model. I li

[2020-07-20 11:56] Sky020 commented on #39293
Hello there,

I recommend you read this article on the new version of the curriculum: https://www.freecodecamp.org/news/python-curriculum-is-live/

In short, the video lessons with multiple choice questions are more of a supplement/placeholder whilst the project-based section is being worked on.

If you have any more questions, the [forum](https://forum.freecodecamp.org) is a useful place to start

[2020-07-20 11:56] #39293 closed

[2020-07-20 14:22] uziau commented on #39267
Hi, if we change all of such instances, I'm afraid new learners will have the impression that this form is wrong:

[code]

which, as @ojeytonwilliams had pointed out, is not true.

Maybe a better way is to update the information in https://www.freecodecamp.org/learn/front-end-libraries/react/use-state-to-toggle-an-element, so instead of using words like:

[code]

We could say that there is an alte

[2020-07-20 15:20] RandellDawson commented on #39267
@uziau I have only suggested making the change to the functional version of `setState` in the challenges referenced above which were trying to update state with `this.state` or `this.props`.

[2020-07-20 16:30] gimseng commented on #39293
@Sky020 great, thanks ! That answered my questions and confusions. Is there anyway I can help or contribute to the Python upcoming interactive courses?

[2020-07-20 16:57] Sky020 commented on #39293
Glad to hear.

Excellent. This forum post outlines the best ways to contribute to the upcoming curriculum. There are links floating aroung to Python projects which still need QAing/creating.

[2020-07-20 17:17] beaucarnes commented on #39293
@gimseng All the new Python instructional content will be in the form of building projects step-by-step. We've already developed the projects and the best thing you can do to help is to QA the projects that have been developed. You can find the projects to review here (look for the ones with 'python' in their title): https://github.com/freeCodeCamp/CurriculumExpansion

What we are working on now i

[2020-07-20 17:19] gimseng commented on #39293
@beaucarnes great ! I was lost in the forum trying to figure out where the new exercises were. I will be sure to create issue tickets if I found bugs or any issues. Many thanks !

[2020-07-20 23:42] RandellDawson commented on #39267
@uziau Would you mind creating a separate issue for the challenge description change you would like to see.  This will make it easier, since it is a different scope of the current issue (which is strictly about changing the challenge seed code).  Once you create the new issue, I can add a `help wanted` label, so others can discuss what the exact wording should be.

Thank you

[2020-07-21 01:55] vikramvi commented on #39257
Thanks for pointing out but that is bare minimal CSS.
IMHO after doing this course amount of HTML learnt is 10X compared to CSS which is 0.5X. We're team of 6 folks learning together and got similar feedback from others as well.

My sincere request was to add more complex CSS so that new learners of this technology gets loads of benefits while doing projects

[2020-07-21 12:20] RandellDawson commented on #39257
@vikramvi Just to be clear, you are requesting more complex CSS requirements be added to the certification projects or to the curriculum challenges?

Adding more CSS requirements to the projects would start to restrict users' individual design expression and cause users' projects to start to all look the same.  As far as the CSS curriculum is concerned, we strive to cover most of basics of CSS and

[2020-07-22 05:21] vikramvi commented on #39257
curriculum challenges I meant; the current challenges doesn't really teach which, how, when, what of CSS ( CSS property ) to be used.

I agree that CSS is more like adding extra spices to the dish; but atleast teach new students what are basic CSS to be used through project.

ATM after struggling with CSS like hell; I'm looking at sample projects; re-doing it myself and trying to understand which,

[2020-07-22 10:36] ahmadabdolsaheb commented on #39179
Thank you @Stephenklop for you interest.
I am finalizing some details regarding the logos, and we will divide this issue into manageable pieces. I will keep you updated.

[2020-07-22 11:01] ahmadabdolsaheb commented on #36819
I am not sure what exactly that refers to.

[2020-07-22 13:29] raisedadead commented on #36819
It was a rhetorical question. Why does a user sign in on any platform? To save their settings, data, etc. so that it is available when they come back. Sign out typically means that the settings can be reset. I would recommed you use your best judgement in implementing this. There are no wrong answers.

[2020-07-22 14:51] Stephenklop commented on #39179
Awesome! Let me know.

[2020-07-22 16:35] ojeytonwilliams opened #39297 "Chore: audit dependencies"
We should make sure the `devDependencies` have all the dev tooling and none of the production tooling.  For instance, `copy-webpack-plugin` is in `devDependencies`, but is used in production.  Once we've done this, we can cut them out of the pipelines.

Also, some Babel packages are only included as dependencies of Gatsby, not directly in `package.json`, since Gatsby is just a site generator, I th

[2020-07-23 10:15] FrankGrimm opened #39299 "D3 project Bar Chart: Test not aligned with description."
**Problem description:**

The test for the Bar Chart project in the Data Visualization category is not aligned with the corresponding user stories.

"**User Story #10**: The data-date attribute and its corresponding bar element should align with the corresponding value on the x-axis." does not specify that the x-axis may only contain years instead of full dates.

[Description](https://github.com/f

[2020-07-23 10:17] harshil-darji commented on #16333
This link helped me out.

https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-how-to-use-package-json-the-core-of-any-node-js-project-or-npm-package/301528

[2020-07-23 10:38] ryanwinchester commented on #39299
It's very confusing

[2020-07-23 11:06] ahmadabdolsaheb opened #39300 "Text under the icon in block completion donation modal should be centered."
![image](https://user-images.githubusercontent.com/4591597/88279856-6ad6d100-cced-11ea-9032-83ee4a734482.png)

To replicate locally, submit any url to the data visualization projects. The modal should pop up after the last submission.

[2020-07-23 12:36] shraddhavp commented on #39300
want to work on the issue

[2020-07-23 12:37] shraddhavp commented on #39300
@ahmadabdolsaheb

[2020-07-23 13:31] JRodDynamite opened #39301 "Constructor call not checked in React lesson to create component from scratch"
**Describe your problem and how to reproduce it:**
In one of the React lessons, _[write a react component from scratch](https://www.freecodecamp.org/learn/front-end-libraries/react/write-a-react-component-from-scratch)_, one of the tasks mentioned is to "Make sure to call the constructor for your component, too." This is not checked in the solution.

The solution that I submitted was:
[code]

**Te

[2020-07-23 13:55] ojeytonwilliams commented on #39300
@shraddhavp please do - this issue is perfect for new contributors.

[2020-07-23 14:29] ruhci28 commented on #39297
Hii @ojeytonwilliams I want to work on this

[2020-07-23 14:37] ojeytonwilliams commented on #39297
Hey @ruhci28 I'd like to speak to @raisedadead about this before we make any large changes (he understands the pipelines far better than I do).  So, while you're very welcome to work on this, you might want to wait until I've got the OK from him.  That way you can be sure these changes are needed.

[2020-07-23 14:45] ruhci28 commented on #39297
yeah sure

[2020-07-23 14:54] ahmadabdolsaheb commented on #39300
@shraddhavp,  please go ahead 👍. No assignment is necessary as described in our [contribution docs](https://contribute.freecodecamp.org/#/index?id=where-do-i-start-if-i-want-to-work-on-an-issue). The first comprehensive PR will be considered for review.

[2020-07-23 15:17] christinealuo commented on #39301
Hello! I'm trying to get into open source and was wondering if this issue was taken or not and if it would be suitable for first timers 😊

[2020-07-23 15:56] Sky020 commented on #39301
@JRodDynamite , Thank you, for taking the time to bring this up.

I can confirm that this is an issue, and the likely fix is adding one more test along the lines of:

`assert(someRegex.test(code));`

@christinealuo , No one has eluded to be working on this issue. And you are welcome to submit a PR. No assignment is necessary as described in our [contribution docs](https://contribute.freecodecamp.o

[2020-07-23 15:58] christinealuo commented on #39301
@Sky020 Got it, thanks 🤗 I will work on getting a PR submitted soon!

[2020-07-23 16:18] shraddhavp commented on #39300
ok @ahmadabdolsaheb

[2020-07-24 01:43] donchanee opened #39306 "Edit: Help improve or add subtitles"
**Describe your problem and how to reproduce it:**
Data Analysis with Python Course

I went into the help to improve or add subtitles in the video on the Python course, but I couldn't fix it.

![image](https://user-images.githubusercontent.com/42461455/88353980-73391580-cd9a-11ea-94c5-4a6081d5476a.png)

Please open the permission to modify it.

**Add a Link to the page with the problem:**

https:/

[2020-07-24 05:30] Vinay0001 commented on #39300
how to find the file where we have to center the text?

[2020-07-24 05:39] Vinay0001 opened #39309 "error:unable to create file while cloning"
when i was cloning the repo locally there was an error:
C:\Users\Vinay\Desktop\CS projects\OpenSource>git clone https://github.com/Vinay0001/freeCodeCamp.git
Cloning into 'freeCodeCamp'...
remote: Enumerating objects: 253141, done.
remote: Total 253141 (delta 0), reused 0 (delta 0), pack-reused 253141R                                53141), 125.16 MiB | 3
Receiving objects: 100% (253141/253141), 1

[2020-07-24 05:59] RandellDawson commented on #39300
I could be wrong, but I believe the following lines can make use of the applicable offsets feature in Bootstrap.

https://github.com/freeCodeCamp/freeCodeCamp/blob/86f908744407da8c9190567001626fcd84cd4fbf/client/src/components/Donation/DonationModal.js#L114

https://github.com/freeCodeCamp/freeCodeCamp/blob/86f908744407da8c9190567001626fcd84cd4fbf/client/src/components/Donation/DonationModal.js#L1

[2020-07-24 06:13] RandellDawson commented on #39309
What version of Windows are you using?

[2020-07-24 06:44] Vinay0001 commented on #39309
it's windows 10 home edition.
and thanks! that worked.

[2020-07-24 06:44] #39309 closed

[2020-07-24 06:55] RandellDawson commented on #39309
Glad I could help.

[2020-07-24 07:56] abbathaw commented on #37305
I've added tests to this Microservice project in this PR #39311

[2020-07-24 08:58] scissorsneedfoodtoo commented on #17884
Fixed with https://github.com/freeCodeCamp/boilerplate-project-issuetracker/pull/1.

[2020-07-24 08:58] #17884 closed

[2020-07-24 09:47] umair-nasir14 opened #39313 "ISSUE IN CATS AND DOGS PROJECT"
**Describe your problem and how to reproduce it:**
The test data is not being found by flow_from_directory() even though if I run !ls  /root/.keras/datasets/cats_and_dogs/test it shows the 50 images.
It is reading training and validation data but not the test.
![1](https://user-images.githubusercontent.com/68095790/88379437-62010080-cdbc-11ea-87ef-0c6e4268aa5b.png)
![2](https://user-images.githubu

[2020-07-24 13:13] umair-nasir14 commented on #39313
As far as I have been told, flow_from_directory() expect expects a directory with a subdirectory. Maybe you need to add a directory with in test folder which stores images

[2020-07-24 15:44] secan commented on #39127
In general, W3C recommends against opening links into new tab, pages or pop-ups, because of accessibility concerns (https://www.w3.org/TR/WCAG20-TECHS/G200.html); maybe a better solution would be adding a link back to the profile in the certificate page.

[2020-07-24 16:26] ojeytonwilliams commented on #39127
@secan I agree that we should generally avoid opening new tabs.  We do need to be careful modifying the certificate, though. The goal for the certificate page is it should just show certificate itself, and nothing else, so you can display it to other people.  Any extra links would detract from that.

One possibility is to keep the current behaviour (navigation in a single tab), but add in a link b

[2020-07-24 17:32] DavidMatthewFraser opened #39315 "Responsive Web Design - Product Landing Page - Layout test 1 passes inconsistently"
Responsive Web Design - Product Landing Page - Layout test 1

_1. The navbar should always be at the top of the viewport'_ - can be passed AND not passed for the same code depending on the window size when the tests are run:

![Navbar-Issue](https://user-images.githubusercontent.com/47202564/88416903-41c24900-cd9e-11ea-97e2-3b43e814f56a.gif)

My Code: https://codepen.io/David_Mat_Fraser/pen/rNxPPM

[2020-07-24 17:35] RandellDawson commented on #39315
Please try using [our forum](https://www.freecodecamp.org/forum) first for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-07-24 17:35] #39315 closed

[2020-07-24 17:58] DavidJSykes commented on #39127
There are a lot of links on freecodecamp.org that open in new tabs, everything in the Trending Guides section for instance which does seem a bit strange to me. Would a dismissable popover for the certificates be a better idea? I'll try and code something up soon along those lines and see what you guys think.

[2020-07-24 19:08] moT01 opened #39316 "Logging in with Safari does not work"
Trying to log in with Safari throws me into some sort of redirect loop. Notice the address bar in the gif below.

![Jul-24-2020 14-06-06](https://user-images.githubusercontent.com/20648924/88426495-e8b2df00-cdb6-11ea-9770-2adec953e055.gif)

Here's a screenshot of the text at the end of the gif...

<img width="562" alt="Screen Shot 2020-07-24 at 2 06 31 PM 1" src="https://user-images.githubusercont

[2020-07-24 19:09] finhaa commented on #39217
Hey @ahmadabdolsaheb, I think this is an expected behavior as the same we can observe in the right scrollbar on the page right here in github and on the freecodecamp itself.

[2020-07-24 19:22] RandellDawson commented on #39127
@DavidJSykes Popups are typically frowned up, but  you might show a mockup first before writing a lot of code.

[2020-07-25 01:41] JoshuaPelealu commented on #39316
Have you tried restarting your browser and clearing the cache?

[2020-07-25 01:44] dboydgit commented on #39169
Is there an issue here? Was going to work on it, but not sure what the issue is.

[2020-07-25 10:01] Himanshunitrr commented on #39284
Everyone is doing the same mistake. Sir @raisedadead can you please elaborate on what is wrong and how it can be fixed.

[2020-07-25 14:35] moT01 commented on #39316
Thanks for the tip @JoshuaPelealu - I had cookies blocked that was causing it.

[2020-07-25 14:35] #39316 closed

[2020-07-25 15:59] RandellDawson commented on #39316
Maybe this should be documented on https://www.freecodecamp.org/news/support/?

[2020-07-25 20:36] Ieahleen commented on #39284
@Himanshunitrr : the values here are correct:
https://github.com/freeCodeCamp/freeCodeCamp/blob/76879f9e7e77dc3bd263c55246c07c965bfded4e/api-server/server/boot/certificate.js#L182-L198

what seems to be needed is to use those values here, instead of the hardcoded 300
https://github.com/freeCodeCamp/freeCodeCamp/blob/76879f9e7e77dc3bd263c55246c07c965bfded4e/client/src/components/Map/components/Supe

[2020-07-26 02:44] santimirandarp opened #39319 "Suggestion of an exercise for Javascript Constructors section"
I'm just proposing an exercise

Constructors area is important in javascript and there are no exercises integrating the knowledge.

Write a simplified version of the `.join` and `push` methods (of course the constructor does not create an array, idk how to achieve that, probably with a factory function instead). I've attempted a simple one:

[code]

[2020-07-26 09:15] Himanshunitrr commented on #39284
Thanks @Ieahleen
I went from one file to another to fix it, but couldn't though I enjoyed my effort !!

[2020-07-26 14:25] dyneskye opened #39320 "False Positive: Confirm The Ending Challenge"
**Describe your problem and how to reproduce it:**

During a challenge, testing various methods of completing them, I’ve noticed one of the coding questions seems to be a little too easy to pass and I believe it could be fixed with a simple additional test.

consider this code

[code]
This code will pass all the tests provided, even though, when the target is changed to for example “sage” it retur

[2020-07-26 16:29] raisedadead commented on #39284
@Himanshunitrr

This is a bit more involving (while the fix is easy) because you would need some familiraity with the codebase. (Magic numbers seem to be a consitent mistake in our design choices 😓)

1. We want to put all the values in a [config file](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/config) common to the client and API. (See the donation config, etc. for example)
2. We wan

[2020-07-26 16:30] raisedadead commented on #39284
@ahmadabdolsaheb in interest of time, I have assigned this to you instead.

[2020-07-26 16:38] Himanshunitrr commented on #39284
@raisedadead Will love to get familiarise with the code with some help !!

[2020-07-26 16:39] Himanshunitrr commented on #39284
Any tips regarding how should I start  ??

[2020-07-26 17:09] #38753 closed

[2020-07-26 22:17] OsakaStarbux commented on #39060
Hi @scissorsneedfoodtoo @Sky020, thanks for working on these backend challenges. I struggled with the Exercise Tracker too. I also tried to guess the correct output required for the exercise log. Looking at the test, though, it appears to be a problem with setting up the log in the database before the log route is tested. There's a missing date parameter. I submitted a pull request if you have tim

[2020-07-27 00:13] RandellDawson commented on #39320
@dyneskye I concur you have found an edge case missed by the current tests.  Go ahead and create a PR.

[2020-07-27 06:24] dyneskye commented on #39320
Will do. This is exciting!

[2020-07-27 06:24] dyneskye commented on #39320
Will do. This is exciting!

[2020-07-27 06:44] xAdvitya opened #39321 "link insertion"
when we are doing assignments that need glitch or github assignment its tiring to paste link again and again

it woud be good it same link remains pasted after we open next challenge , user still will be able to replace it with new glitch or github link if he/she wants

![Screenshot (373)](https://user-images.githubusercontent.com/54709416/88511443-6f0f3100-d002-11ea-8464-2a296e4f947b.png)

[2020-07-27 07:18] scissorsneedfoodtoo commented on #39169
Hi @nhcarrigan, thanks for catching this.

If I remember correctly, leaving the slug as `/information-security-and-quality-assurance` was a conscious decision so links to already claimed certificates don't break as @ojeytonwilliams mentioned. While we did change the URLs to other certificates in the past, we have to manage those redirects manually.

The new certificates have different names/versio

[2020-07-27 07:23] nhcarrigan commented on #39169
I ran into no issues when testing the certificates on the local instance with the development user. 🙂

[2020-07-27 08:50] ahmadabdolsaheb commented on #39300
@Vinay0001, you could search for "Nicely done" and it should come up. the DonationModal.js should come up.

[2020-07-27 08:59] ahmadabdolsaheb commented on #39217
Correct. the browser itself is expected to be scrollable, but I was wondering if it obvious to the user that code block is scrollable?

If it is not, we might need display the scrollbar.

[2020-07-27 09:30] ahmadabdolsaheb commented on #39284
We have a [config](https://github.com/freeCodeCamp/freeCodeCamp/tree/master/config) directory. We could introduce an exportable object with keys for certifications and values for hours.
Then, we need to replace all instances of certificate hours used in our codebase (e.x landing page, /learn, the api certificates.js) the config values so we have one source of truth.

[2020-07-27 09:32] #39300 closed

[2020-07-27 09:59] ahmadabdolsaheb commented on #39321
so you mean the link of a previous project should show up as default for the current one?

[2020-07-27 11:05] Advitya-sharma commented on #39321
yes of the previous challenge

[2020-07-27 12:31] RandellDawson commented on #39321
If each section used the same boilerplate throughout, the first lesson's solution link field would be empty with only the normal placeholder test , then local storage could be used to track/populate each proceeding lesson with the url used for the previous lesson  However, since some sub sections have multiple boilerplates, it might be confusing for users to auto-populate a previously used url for

[2020-07-27 13:13] ojeytonwilliams commented on #39127
@raisedadead while the PR that closed this was a good one, is worth leaving this open? I think it was a useful discussion for anyone that wants to submit a PR to align us with the W3C accessibility guidelines.

[2020-07-27 13:24] Advitya-sharma commented on #39321
but it would be great where it same link can be used eg:- glitch link

[2020-07-27 13:25] DavidJSykes commented on #39159
@Sky020 has this issue been fixed? Clicking the link seems to pull up the whole article now.

[2020-07-27 13:26] DavidJSykes commented on #39127
@ojeytonwilliams is it something that needs to be looked at across the entire site? Perhaps it's a bit broader than just the certificates links?

[2020-07-27 13:38] ojeytonwilliams commented on #39127
@DavidJSykes I think it is, yes.  Since this worsens accessibility, we should avoid it if possible.

I'll edit the title to reflect the broader discussion.

[2020-07-27 14:05] Sky020 commented on #39159
@DavidJSykes , Yes. All the content appears to be there.

Thank you, to whoever fixed it.

[2020-07-27 14:05] #39159 closed

[2020-07-27 14:05] pedromperezc commented on #39288
Hi guys.

I have the same problem with the test.

I think the sum of the three percentages has to be 100 %. If you look at the expected result, it is 90 %:
![image](https://user-images.githubusercontent.com/9473332/88551059-c7d9cc00-cff8-11ea-971b-3a33d585e804.png)

Rounding to nearest 10 7% is 10 %

[2020-07-27 14:10] nhcarrigan commented on #39288
Hello~! As I mentioned above, the challenge expects you to round *down* to the nearest 10. So 7% would become 0% 🙂

[2020-07-27 14:14] pedromperezc commented on #39288
Ahh, That's right I didn't see the word "down".

Thank you !

[2020-07-27 14:43] #39320 closed

[2020-07-27 14:46] finhaa commented on #39217
Yeah, correct!

I can't solve this doubt about that. In my view, I see the code block as something scrollable, but I can't guarantee that all users see it that way.

We may wait for more people on this discussion.

[2020-07-27 15:27] #39195 closed

[2020-07-27 21:53] multiwebinc commented on #38957
Adblock and Adblock Plus are very common extensions (each report over 10 million installs installs in the Chrome store and over 10 million combined in the Mozilla store) and likely a disproportionate number of devs use them. Could you maybe consider changing the class name to something else like `follow-me-btn`? This should be fairly trivial.

[2020-07-28 04:14] Advitya-sharma opened #39331 "QA challenges"
there is some issue with the QA challenges , even after writing right code it does not passes the test .
I started facing this issue from

`Quality Assurance and Testing with Chai - Run Functional Tests on an API Response using Chai-HTTP III - PUT method` challenge
one user is facing issue in the advance node and express challenges

some forum posts:-

https://forum.freecodecamp.org/t/cant-pass-te

[2020-07-28 08:03] #39163 closed

[2020-07-28 08:20] Dinesh9418 commented on #6541
try this ----->
var myStr = "I am a \"double quoted\" string inside \"double quotes\".";

[2020-07-28 08:35] #39282 closed

[2020-07-28 09:11] #39331 closed

[2020-07-28 10:13] gikf opened #39332 "Data Analysis with Python Projects - Medical Data Visualizer with matplotlib 3.3.0"
**Describe your problem and how to reproduce it:**
Making Medical Data Visualizer run with matplotlib updated to version 3.3.0 results in `test_heat_map_values` test fail due to differences in the ax data, comparing with 3.2.2 version of matplotlib.

[code]

Outputs from the test, wraps added by me to make it easier to compare. Difference is the three empty entries in 3.2.2 version that are not pr

[2020-07-28 11:11] LeQuadratico opened #39333 "Broken Link"
**Describe your problem and how to reproduce it:**
There is a dead link on https://www.freecodecamp.org/news/best-git-tutorial/, it is the link to the article about Git Hosting.
(https://guide.freecodecamp.org/git/git-hosting)

**Recommended fix, suggestions (how would you update it?):**
Remove the link.

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box)

[2020-07-28 11:19] Sky020 commented on #39232
Hello there,

I am just pinging this to make sure nothing has missed the pipeline, as the live platform still does not have the links?

[2020-07-28 18:19] namnguyen21 commented on #39333
I'd like to fix this by removing the 'For more on this ...' sentence.

[2020-07-28 20:48] JoeCodesStuff opened #39672 "Problem with "Build a Technical Documentation Page" (a Responsive Web Design Project)"
#### Issue Description
When trying to fulfill **[User Story No. 14: On regular sized devices (laptops, desktops), the element with id="navbar" should be shown on the left side of the screen and should always be visible to the user](https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page)**, the check for passing the test **fails*

[2020-07-29 02:44] scissorsneedfoodtoo commented on #39169
Awesome, thanks for confirming that @nhcarrigan. I'll close this for now, but please feel free to reopen it if you notice anything else that we missed earlier.

[2020-07-29 02:44] #39169 closed

[2020-07-29 04:11] raisedadead commented on #39333
Hi @namnguyen21 thanks for your interest in fixing this, however at the minute only the editioral team has access to the publication. I have assigned this to one of our editors instead.

[2020-07-29 04:46] scissorsneedfoodtoo commented on #39333
Thanks for reporting this @LeQuadratico. I happened to see this while browsing through open issues and decided to update the link. Now it points to https://www.freecodecamp.org/news/the-beginners-guide-to-git-github/.

[2020-07-29 04:46] #39333 closed

[2020-07-29 05:37] shraddhavp commented on #39313
is the issue open yet?I would like to take up the issue

[2020-07-29 05:54] umair-nasir14 commented on #39313
Yes this issue is absolutely open!

On Wed, 29 Jul 2020, 10:38 Shraddha, <notifications@github.com> wrote:

[2020-07-29 11:15] RandellDawson commented on #39333
@scissorsneedfoodtoo  Since the link was originally pointing to a Guide article about GitHub hosting, wouldn't one of the following be a better fit?
https://www.freecodecamp.org/news/hosting-custom-domain-on-github-pages-8c598248d2bc/

https://www.freecodecamp.org/news/create-a-free-static-site-with-github-pages-in-10-minutes/
Tue 5:48pm
I think the first one is better than the second article sinc

[2020-07-29 11:19] RandellDawson commented on #39198
I am closing this issue as there is now a link in the stub that allows a user to create a new topic in the Contributors category which will automatically have the challenge title and challenge url in it.

[2020-07-29 11:19] #39198 closed

[2020-07-29 13:15] moT01 commented on #39319
As far as I know, there will not be any new challenges added to the current curriculum with the exception of the coding interview prep section. This is in favor of the [project based curriculum](https://forum.freecodecamp.org/t/help-us-build-version-7-0-of-the-freecodecamp-curriculum/263546) in the works.

[2020-07-29 16:40] Sky020 commented on #37782
I am closing this to _triage_, as the solution in question has been modified, and passes the test conditions.

[2020-07-29 16:40] #37782 closed

[2020-07-29 17:11] NetScr1be opened #39671 "Script won't work locally"
#### Issue Description

Inserting  the testing script either via URL or downloading a copy and calling it locally results in display:none in Chrome developer console

N.B. Placing script in <html>, <head> or <body> make no difference

The code is written in visual studio and run via live server which opens it in a browser page. There are no other issues doing this. Page refreshes every time the co

[2020-07-29 17:35] Sky020 commented on #37820
Just going through: Are we leaving this open as _proof of discussion_, and planned to be closed after the release of v7?

[2020-07-29 17:47] Sky020 commented on #37827
Pinging this for _triage_ @scissorsneedfoodtoo : There are still lessons with links to Mozilla docs, and I cannot find equivalent forum guide posts. So, are we going to leave the links as is?

Closest guide post I found to the first mentioned lesson is [here](https://forum.freecodecamp.org/t/java-basic-operations-explained-with-examples/16714), but I am not even sure why such a guide post exists a

[2020-07-29 18:32] umair-nasir14 commented on #39313
And you're welcome to take up this issue!

[2020-07-29 19:21] RandellDawson commented on #37827
@Sky020 You might try to search https://freecodecamp.org/news to see if you can find a good article there.  Many of the most popular Guide Topics were transported to a corresponding news article.

Currently, there are only 4 challenges with MDN links:

* [Increment a Number with JavaScript](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/increment-a-nu

[2020-07-29 21:04] Sky020 commented on #37827
@RandellDawson , That is excellent! In this case, I suggest because other members were in agreement in the linked PR, we open this to _help wanted_ (or _first-timers_), and do as you have suggested above.

One point on my side:

Instead of removing the link, I suggest it be changed to direct to the challenge that introduces the `push` method.

So, if you agree, Randell, I leave it to you to open t

[2020-07-29 22:59] RandellDawson commented on #37827
So, if you agree, Randell, I leave it to you to open this to first-timers or otherwise.

It is funny you say that, because I actually meant to put that as an option.  Thanks for noticing!

Go ahead and label this issue however you see fit.

[2020-07-30 03:06] scissorsneedfoodtoo commented on #39333
@RandellDawson, the title for that old Guide article was a bit of a misnomer. While it seems like it'll talk about hosting a static site, it's actually about hosting a Git repository.

Unfortunately there's not a great news article that goes into all the different options, at least as far as I could tell.

[2020-07-30 03:15] scissorsneedfoodtoo commented on #37827
Wow, I totally missed this issue. Thanks for finding all the current challenges that still have those links, and for finding News equivalents @RandellDawson. Also, thanks for the ping @Sky020.

@brignano created #39337 recently. I'll see if I can suggest some News articles there.

[2020-07-30 04:08] RandellDawson commented on #39333
@scissorsneedfoodtoo Then I guess the link should just be removed?

[2020-07-30 06:24] scissorsneedfoodtoo commented on #39333
@RandellDawson, I think it's fine to leave it. The original guide article was pretty light on information, but the new link covers some of the stuff that was in there, like mentioning self-hosting and online options.

[2020-07-30 08:06] themagicbean commented on #17971
I'm not sure if this is the right place, but I still can't get FCC to recognize my glitch link for Node.js challenges:
https://glitch.com/edit/#!/brassy-exuberant-sesame?path=myApp.js%3A15%3A40 is logging to the console "Hello World" (am viewing it on Glitch)
https://www.freecodecamp.org/learn/apis-and-microservices/basic-node-and-express/meet-the-node-console - still won't pass

[2020-07-30 09:00] scissorsneedfoodtoo commented on #17971
Hi @themagicbean. To submit backend challenges, you need to submit the actual page, for example, https://brassy-exuberant-sesame.glitch.me/. To open the page in Glitch, just click "Show", then "In a New Window".

After that, just copy and paste the URL into the "Solution" text field on the challenge's page. Then our test suite should be able to run the tests correctly.

[2020-07-30 12:10] rashmikagamage commented on #39267
can i help?

[2020-07-30 14:11] JoshuaPelealu commented on #39321
What we might be able to do is just set a local storage that will contain something like this:
[code]

And then make the `I've Completed This Challenge` button trigger a function that will take the link, parse it into the json, and store it into the local storage.

Then have a function check if there is an input or if there is already a way to check if the challenge requires a link, and take the u

[2020-07-30 14:14] realAlpe opened #39340 "Google account creation, cannot change Email after creating a Google account"
**Is your feature request related to a problem? Please describe.**
When I created an account on https://www.freecodecamp.org/, I had the option to choose between four options: Google, GitHub, Facebook, and Email. I chose Google and now I am frustrated to see that I am not able to change to an account with an Email.

**Describe the solution you'd like**
Since I signed up with my google account I wo

[2020-07-30 14:16] russsaidwords commented on #38373
Can we add tabindex to the donation page as well? I can't tab through the form or the buttons available and that impacts accessibility. Thank you!

[2020-07-30 14:18] JoshuaPelealu commented on #39340
Are you saying that you have a gmail google accoutn, and you're trying to change it into a different email that is not gmail, or is it also a gmail email account?

[2020-07-30 14:22] realAlpe commented on #39340
I have a Gmail Google account and I cannot change it into a different email that is not Gmail. I don't think you can change from a Gmail Google account to another Gmail Google account, but I am not 100% sure about that statement.

[2020-07-30 14:41] JoshuaPelealu commented on #39340
Have you gone through the process of verifying your email and then refreshing the browser?

[2020-07-30 14:54] realAlpe commented on #39340
I have refreshed it multiples times. Just now I tried signing out and in again after verifying my Email. That seemed to verify my account.
But the issue with not being able to change from a Gmail Google account to an Email account still remains. Perhaps this issue is too cumbersome to solve, or in other words, too much effort for something so irrelevant. If that is the case I might consider closin

[2020-07-30 15:01] JoshuaPelealu commented on #39340
Why do you want to change it to a different email? Is there a specific reason?

[2020-07-30 15:07] realAlpe commented on #39340
I have multiple Emails and I have them sorted as well. That is, everything "productive" related goes into Email1 and everything else goes into Email2. In other words, Email2 is my junk Email. When I was creating a new account I was unsure whether I would stay on this platform for a longer, which is why I chose my Gmail Google account which is linked to the junk Email.

But as stated before, this i

[2020-07-30 17:05] themagicbean commented on #17971
Thank you.  Classic problem of "It doesn't work because I am not using it correctly."

[2020-07-30 19:46] HiThereImCam commented on #39284
@raisedadead  Can I hop on this bug? I have the time to familiarize myself with the codebase so that we can fix this issue.

[2020-07-30 20:57] ojeytonwilliams opened #39343 "pathMigration and LOCALE"
if `LOCALE` is not set in production, `pathMigration.json` does not get filled properly - it defaults to a single empty json object. In this case the server does not behave correctly, though it does boot without issues.

We need to do two things

- [ ] generate `pathMigration.json` correctly, regardless of the `LOCALE` value.
- [ ] fail fast if it is missing/empty.

We can default to `english` to

[2020-07-31 03:44] RandellDawson commented on #39267
@rashmikagamage There is already an open PR that is almost ready to be merged, so it is probably better if you find another issue to work on.  There are plenty to choose from though.

[2020-07-31 06:10] ruchivora commented on #38850
I think solution to this problem can be , before hitting the end point the path name should be converted to appropriate format . i.e if the path should always be in lower case then before hitting the end point convert the path name to lower case and then hit the corresponding end point

[2020-07-31 06:19] #37827 closed

[2020-07-31 07:40] ojeytonwilliams commented on #38850
Hi @ruchivora that sounds reasonable. If you've got time, a PR would be very welcome.

[2020-07-31 07:52] jimtryon opened #39345 "Rewording of JS: Comparisons with the Logical Or Operator"
**Describe your problem and how to reproduce it:**
In the mentioned challenge, it's not clear that the user has to check for invalid values instead of valid values. I wrote my solution as `if (val >= 10 || val <= 20) ` with the intent being that the code would check for 10 and 20, inclusive and after awhile, I could not get it to work so I asked for help in the Discord and found out that in order

[2020-07-31 11:42] Sky020 commented on #39345
Hello there,

I do not understand the confusion with the instructions. What would you propose as a change to the wording?

[2020-07-31 12:48] RandellDawson commented on #39345
Invalid values?

[code]
Based on the existing instructions, you know if `val` is not between 10 and 20 (inclusive), you must return `Outside`.  This means if `val` is less than 10 OR `val` is greater than 20, you must return `Outside`.

Your code would return `Outside` for the value 15.  Why?  Because the `val >= 10` is evaluated first and evaluates to `true`.  As learned in the exercise, when an

[2020-07-31 12:48] #39345 closed

[2020-07-31 13:39] LazaroFilm opened #39346 "Running test with a comment at the end makes the test fail."
**Describe your problem and how to reproduce it:**
Running the test will fail if you have anything commented after the code.
Deleting the comment line allows us to pass the test.
The presence of a comment should not affect the output of the test.

[code]
**Add a Link to the page with the problem:**
**Object Oriented Programming: Understand the Immediately Invoked Function Expression (IIFE)**
https

[2020-07-31 13:50] JoshuaPelealu commented on #39346
It looks like this is caused because the test is removing every whitespace and make the code one line, then test it with a regex, that test if the string ends with a `)` parentheses

[2020-07-31 14:04] JoshuaPelealu commented on #39346
This can be easily fixed by changing the regex string from instead of testing if it ends with a `()` it will test if it's an IIFE function. I can do this.

[2020-07-31 14:21] ojeytonwilliams commented on #39346
@LazaroFilm thanks for reporting this, it's definitely not working as intended.

@JoshuaPelealu, that's my assessment, too.  A PR would be very welcome.

[2020-07-31 17:43] realAlpe commented on #39340
Look above.

[2020-07-31 17:43] #39340 closed

[2020-07-31 20:22] RandellDawson opened #39348 "Next Curriculum editor bugs"
I figured we need to track known bugs with the new editor.  A few are listed below:

1. When an editable region marker is placed at the very top of the challenge seed code, the widget (upper and lower jaws) does not appear. See [step 66 of the Basic HTML Cat Photo App](https://github.com/freeCodeCamp/freeCodeCamp/blob/next-curriculum/curriculum/challenges/english/01-responsive-web-design/basic-htm

[2020-08-01 00:36] LazaroFilm opened #39350 "Use prefers-color-scheme for dark mode to change automatically."
**Is your feature request related to a problem? Please describe.**
The dark mode needs to be toggles manually from the settings menu.

**Describe the solution you'd like**
It would be great to use prefers-color-scheme to the color scheme changes automatically.

**Describe alternatives you've considered**
-
**Additional context**
https://web.dev/prefers-color-scheme/

[2020-08-01 04:33] carbasemin opened #39351 "Scientific Computing with Python Projects - Budget App - README.md - check_funds method."
I think the description of the check_funds method (https://repl.it/@freeCodeCamp/fcc-budget-app#README.md) is faulty.

![Screenshot from 2020-08-01 07-20-24](https://user-images.githubusercontent.com/47480108/89093987-1b1c9780-d3c8-11ea-8836-b77ff4c9555b.png)

It should be:
"A `check_funds` method that accepts an amount as an argument. It returns `False` if the amount is **greater** than the balan

[2020-08-01 13:30] VadimEv opened #39352 "Incorrect BigInt processing in web console"
As example, in Euler-48 challenge incorrect type error is shown: there are no conversion of BigInt object to number - instead first conversed to string, sliced and only after transformed  to number.
![Euler-48-error](https://user-images.githubusercontent.com/10043733/89102398-70c96200-d411-11ea-987d-81ab64a532c2.png)
I do believe it's some kind of glitch with console, not BigInt object itself,  be

[2020-08-01 17:02] Bouncey commented on #39352
I have confirmed the issue is in the the test runner. The provided solution working in the developer console.

[2020-08-02 07:19] shraddhavp commented on #39313
ok thanks @umair-nasir14  can you tell where I can find the file I am not able to find it

[2020-08-02 07:43] umair-nasir14 commented on #39313
Here's the link:

https://colab.research.google.com/drive/1JExptqHMk2x3jqsa_e7tdvGW04V48e-t?usp=sharing

[2020-08-02 09:12] Twaha-Rahman opened #39354 "Add LightHouse to GitHub workflows"
**Is your feature request related to a problem? Please describe.**

As of now, the FCC site's performance metrics are not measured by any sort of site analyzing tools. But it is becoming increasingly important to keep an eye out on the UI/UX, a11y etc scores.

**Google Webmasters** announced on May 28, 2020 that they'll be starting to incorporate [Core Web Vitals](https://web.dev/vitals/) to the S

[2020-08-02 09:18] Twaha-Rahman commented on #39354
Here's how the scores and optimizing tips looks like ->

https://storage.googleapis.com/lighthouse-infrastructure.appspot.com/reports/1596356088677-85438.report.html

(Please note I've generated these scores using the workflow on #39353 with the production version of FCC site. The production build was created by running `npm run build && npm run start`)

[2020-08-02 12:07] Ajay121code opened #39670 "Error in test script"
#### Issue Description

First step of the test is showing that I have done something wrong. but i have checked my code for 10000 times and it is absolutely correct.  also i have matched my code with the help code, my code is working just fine on codepen but it is showing this issue on vscode.

#### Browser Information

- Browser Name, Version: chrome
- Operating System: windows 7
- Mobile, Desktop

[2020-08-02 12:48] mhombach opened #39356 "Wrong number of padding-spaces in article about padding-function"
**Describe your problem and how to reproduce it:**
On "3. String padding" there in the line of ".padStart(10)", there are 10 spaces but there should only be 9. In this scenario this was very misleading.

**Add a Link to the page with the problem:**
https://medium.freecodecamp.org/here-are-examples-of-everything-new-in-ecmascript-2016-2017-and-2018-d52fa3b5a70e

**Recommended fix, suggestions (how

[2020-08-02 13:13] Ieahleen commented on #39356
Other article on /news that needs attention @raisedadead @AbbeyRenn

[2020-08-02 13:38] LazaroFilm opened #39357 "bug with: The globalTitle variable should not change."
In the exercise, one of the condition is "The globalTitle variable should not change."
but it returns an error if you modified the var (for debugging) at the top, even if your function doesn't mutate it.
The verification should be that the initial globalTitle variable is the same as the final one, instead of simply looking to match it to a string.

[code]

**Add a Link to the page with the problem

[2020-08-02 14:32] Sky020 commented on #39357
Hello there,

Ideally, I agree, the tests would be robust enough to account for something like this. However, there is usually a reason for the `// Only change code below/above...` comments, and users should not expect their code to pass, if they ignore this.

If others agree to change this, I would not be opposed to the first test being removed. I cannot see it being used in any meaningful way in

[2020-08-02 14:51] nhcarrigan commented on #39357
I would argue that, as this lesson comes after the `Debugging` section, users should be somewhat comfortable with using `console.log()`. Changing a global variable's hard-coded value seems like a less practical debugging method than logging a function call with the argument value to debug.

Additionally, as @Sky020 mentioned, the `// Only change code below this line` is present to indicate which p

[2020-08-02 14:52] Ieahleen commented on #39357
for debugging purposes, instead of changing a variable you are told to not change you should change the function call, wiritng there `urlSlug(" Winter Is  Coming")`

but, yeah, it's a thing that trips many up. But dealing with small details is also something that should be learned

[2020-08-02 15:21] RandellDawson commented on #39357
I believe the original purpose of the global variable was to actually pass a variable with a known value (`globalTitle`) to the function and validate that the function does not mutate it. However, the tests do not even check for this case.  Such a test would look like:
[code]

As @Ieahleen states, the user should be writing their own calls to the function to test it, instead of changing the global

[2020-08-02 15:28] nhcarrigan commented on #39357
I can go ahead and submit a PR if we'd like to go this route. 🙂

[2020-08-02 15:46] thevirtualbuddy commented on #39351
`# Check_fund method for Budget App
    def check_funds(self,amount):
	# Amount is the argument received
        # balanceBudget is the balanced budget
	balanceBudget = 0

        n = len(self.ledger)

	# Say our category which called is food,
	# and it has milk, cereal, eggs, bacon, bread
	# So, we calculate the budget of this food category

	for i in range(n):
            fundAvailable += self.l

[2020-08-02 15:49] thevirtualbuddy commented on #39351
`    def check_funds(self,amount):
	# Amount is the argument received
        # balanceBudget is the balanced budget
	balanceBudget = 0

        n = len(self.ledger)

	# Say our category which called is food,
	# and it has milk, cereal, eggs, bacon, bread
	# So, we calculate the budget of this food category

	for i in range(n):
            balancedBudget += self.ledger[i]["amount"]

	# Check if th

[2020-08-02 16:20] Ieahleen commented on #39357
@RandellDawson can a string even be mutated in that way? shouldn't strings be immutable and so that is not possible in any case? the test should be to make sure the user reference function parameter instead of a global variable even if the global variable is present, I think

To see if passed in argument is not mutated should be a thing to check with arrays and objects, as those are mutable

[2020-08-02 17:28] nhcarrigan commented on #39357
@Ieahleen you are correct that strings are immutable, but it *is* possible to reassign the value of the variable within the function (which is bad practise, thus the reason for the test I believe).

[2020-08-02 18:36] Ieahleen commented on #39357
@nhcarrigan I mean if the global variable is removed from the editor

you can't change a global string by operating on function parameter, right?

[2020-08-02 18:45] nhcarrigan commented on #39357
Correct - if we remove the global variable entirely, then it cannot be modified. If we leave it, it can only be modified by assigning the value to that variable name within the function.

However, in general it is bad practise to modify the values of a function's arguments directly - with strings, it is less harmful than it is with arrays, but I believe that was the intent behind this particular t

[2020-08-02 19:59] RandellDawson commented on #39357
I should not have used the word "mutable".  Looking at the challenge again, I think it would be fine to remove the global variable all together as it is not used in any other test (except the first).  So, my suggestion is to remove the `globalTitle` declaration and remove the first test, unless someone else can find a good reason to keep them.

[2020-08-02 20:28] RandellDawson commented on #39356
@Ieahleen @AbbeyRenn I edited the article to remove the extra space.  You may have to refresh the page to see the change.

I am closing this as resolved.

[2020-08-02 20:28] #39356 closed

[2020-08-02 20:46] nhcarrigan commented on #39357
I have some errands to run, but can submit a PR later this evening.

If anyone else would like to tackle this before then, let me know and I'll gladly step back and give you the opportunity! 🙂

[2020-08-02 21:14] nakul251197 commented on #39357
I would like to work on this issue, if that's okay with you @nhcarrigan .

[2020-08-02 21:18] nhcarrigan commented on #39357
By all means, go ahead! 🙂

As a note, issues labelled with the "help wanted" tag (like this one) don't require permission before submitting a PR - I only made my earlier comment to ensure my interest didn't deter other contributors.

Feel free to let me know if you have any questions!

[2020-08-02 22:09] KartikSoneji commented on #39220
@RandellDawson did you see my comment?

[2020-08-02 23:24] #39357 closed

[2020-08-02 23:28] RandellDawson commented on #39220
@KartikSoneji No I did not notice this comment before merging.  Sorry about that.  I am fine if you want to create a PR that implements something like the following for the 3 challenges PR #39230 affected.:

[code]

[2020-08-03 01:40] KartikSoneji commented on #39220
@RandellDawson I have created a pull request, please take a look.
#39360

[2020-08-03 02:41] scissorsneedfoodtoo commented on #38799
Hi @Ieahleen, thanks for reporting this. I was asked to fix this article and the rest of the series a little while ago. Just seeing the issue now.

All of the articles should have the correct code blocks now, and all the links should be pointing to the /news version of the article. Please let me know if you notice any other articles with these issues.

[2020-08-03 02:41] #38799 closed

[2020-08-03 05:12] 13-shivam commented on #17802
my answer which has run is
 <h4><s>Google</s>Alphabet</h4> <em><p>Google was founded by Larry Page and Sergey Brin while they were <u>Ph.D. students</u> at <strong>Stanford University</strong>.</p></em>

[2020-08-03 11:19] ahmadabdolsaheb commented on #39350
That is a feature we are working on in this pr.
https://github.com/freeCodeCamp/freeCodeCamp/pull/39292

Thanks for opening this issue. I will close it for now since the requested feature is under development.

[2020-08-03 12:11] #39350 closed

[2020-08-03 21:21] multiwebinc opened #39362 "Avoid Mutations and Side Effects incomplete error testing"
**Describe your problem and how to reproduce it:**

Part of the problem description states:

Therefore the following should not pass, however it does:

[code]

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/functional-programming/avoid-mutations-and-side-effects-using-f

[2020-08-03 21:23] nhcarrigan commented on #39362
![image](https://user-images.githubusercontent.com/63889819/89228641-dbef7180-d594-11ea-99d6-358d94d09889.png)

I can confirm that the code snippet you provided modifies the value of the global variable.

This could be corrected by adding a test to confirm that the value of `fixedValue` does not change after the function call.

[2020-08-03 23:01] RandellDawson opened #39364 "Bug: Avoid Mutations and Side Effects Using Functional Programming needs to validate the global variable is used in the incrementer function"
While reviewing a PR (#39363) that fixes a separate issue on the [Avoid Mutations and Side Effects Using Functional Programming](Avoid Mutations and Side Effects Using Functional Programming) challenge, I noticed the following test does not validate that the value returned from the `incrementer` function returns a value that is one larger than the `fixedValue` global variable's value.

[code]
A us

[2020-08-03 23:15] nhcarrigan commented on #39364
I think this is a good fix. The only other alternative I could think of would be a regex to test that the incrementer function references the `fixedValue` variable, but this method would catch more edge cases.

[2020-08-04 01:43] RandellDawson commented on #39364
When we can avoid using regex, we avoid regex.

[2020-08-04 01:45] nhcarrigan commented on #39364
I am 100% on board with avoiding regex. 🙂

I can go ahead and prepare a fix for this if you'd like, after the other PR gets merged or closed.

[2020-08-04 01:47] RandellDawson commented on #39364
I would like to open this one up for first timers, since we already have a "fix".  Let's see if anyone else comments about the suggestion before adding the label though.

[2020-08-04 02:27] c-logan commented on #39238
![Weighted_Graph](https://user-images.githubusercontent.com/54512885/89246180-889f1280-d5d8-11ea-851d-a55d33d90cb8.jpg)

[2020-08-04 05:08] Setarii opened #39365 "Regular Expressions: Positive and Negative Lookahead"
**Describe your problem and how to reproduce it:**
This solution requires GROUPING which we learn AFTER this lesson. This needs to be adjusted to require an answer that does NOT REQUIRE GROUPING.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/regular-expressions/positive-and-negative-lookahead

**Tell us about your browser

[2020-08-04 05:14] nhcarrigan commented on #39365
Hello~!

My apologies, but I do not see grouping in the solution you have shared. As stated in the instructions, a positive lookahead uses the syntax `(?=...)`, where the `...` is replaced with the characters you want to match. In the following lesson, grouping is taught - grouping takes the syntax `(set1|set2)`, where you replace `set1` and `set2` with the two alternative character sets you want

[2020-08-04 05:40] Setarii commented on #39365
Is `()` not a capture group? I may be missing something here. There was another issue with a much earlier lesson that apparently required parenthesis to group commands together that I also did not understand the solution of, because I did not know what the parenthesis even did, or that I was supposed to use them.

[2020-08-04 05:45] nhcarrigan commented on #39365
Going to copy the relevant instruction from this challenge so I can reference it more quickly:

There are a few different use-cases for parentheses in a regex, and lookaheads are one of them. The text I copied from the lesson instructions reads clearly to me - but my perspective is certainly not the only one. Is there a way you think these instructions could be worded more clearly? 🙂

[2020-08-04 05:49] thevirtualbuddy opened #39366 "Tracking button not working as expected on freeCodeCamp forum"
**Description of the bug**
The tracking button doesn't change to other options available.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the community forum : [https://forum.freecodecamp.org/](url)
2. Click on any topic from the home page.
3. Select the tracking button which is available at the right bottom corner.
4. Try changing to other options.
5. See an error, the button still sa

[2020-08-04 05:52] Setarii commented on #39365
Hmmm, no I suppose not in this specific case. But I was only confused because of the solution to this problem: https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-restrict-possible-usernames/301363 and this forum thread: https://forum.freecodecamp.org/t/restrict-possible-usernames-solution-requires-knowledge-not-introduced/395660, which, now that I've gotten a bit farther in the lessons,

[2020-08-04 05:52] #39365 closed

[2020-08-04 07:38] #37817 closed

[2020-08-04 11:15] thediveshsoni opened #39369 ""Go to Current Challenge" throwing 404 on click"
**Describe your problem and how to reproduce it:**
The 'Go To Current Challenge' button for logged in users is opening up a 404 page. https://www.freecodecamp.org/challenges/current-challenge

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn

**Recommended fix, suggestions (how would you update it?):**
Update the href attribute of 'Go to current challenge' link to po

[2020-08-04 11:51] SeasonLeee opened #39370 "Same result but different outcome based on the 'code style'"
**Describe your problem and how to reproduce it:**
In this challenge(screenshot below):
![image](https://user-images.githubusercontent.com/13610283/89290229-23582980-d68b-11ea-8dda-d251339f5955.png)

If I answer the question as I typed in the code editor, it won't pass... and get error like this:
![image](https://user-images.githubusercontent.com/13610283/89290450-7500b400-d68b-11ea-90ad-158794ea0

[2020-08-04 11:53] SeasonLeee commented on #39370
Actually I would love to check the 'freecodecamp' project code to give this issue a shot, but my schedule is quite full currently... but if this can wait to the weekend and no one check on it, I will be the first one to check on it~

[2020-08-04 12:30] Sky020 commented on #39364
This looks like a decent approach. However, would it not suffice to edit the first test to this, instead of creating a new test?

[2020-08-04 12:44] Sky020 commented on #39366
Thank you, for taking the time to report this.

I can confirm that this is also happening with me. I will also add that the button does change the value, but does not display this change. It appears to be an issue with the state change not being saved, when the component is reloaded.

However, (and someone else can confirm), I think this is a bug that needs to be reported to Discourse (the forum p

[2020-08-04 13:00] Sky020 commented on #39369
Hello there,

Could you please elaborate exactly the steps that lead to you encountering this error?

The _Go to Current Challenge_ button works as expected for me. However, if I click on the link you provided, then I am given the 404 page, due to the fact that I am redirected from here, instead of my profile. So, to clarify, you should not be using the link as a bookmark, as it will only work fro

[2020-08-04 13:05] Sky020 commented on #39370
Hello there,

The reason the code above does not pass:
[code]
is because of the spaces on either side of the `name`.

[Here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/03-front-end-libraries/react/render-state-in-the-user-interface.english.md) is the file containing the tests, and here is the failed assertion:
[code]
As you can see, your code would evalu

[2020-08-04 13:08] moT01 commented on #39369
Any idea what your current challenge is @thediveshsoni? I'm thinking there's a misalignment in the page name and the one that is being linked. I've seen it before - usually a special character that didn't get translated correctly when creating the slugs or something.

[2020-08-04 13:18] moT01 commented on #39370
There seems to be an inconsistency between how the test mocks the component and how a browser renders it. I see the spaces get removed on rendering in firefox...

<img width="644" alt="Screen Shot 2020-08-04 at 8 12 17 AM" src="https://user-images.githubusercontent.com/20648924/89298158-88c7fe00-d62a-11ea-874e-2ee2f5edcc73.png">

but the test is failing. Seems like we could probably fix this if so

[2020-08-04 13:44] RandellDawson commented on #39366
@Sky020 FCC should report it or at least check on their GitHub issues to see if it is an outstanding issue already.  Would you be up for the task?

[2020-08-04 13:44] moT01 commented on #39370
I may have prematurely went for the help wanted label - maybe we should discuss it a little more first.

[2020-08-04 13:56] RandellDawson commented on #39364
@Sky020 They are testing similar but different things.  The first one is testing if they changed the global variable and the third test is indirectly checking that but also validating they did not just use `return 5` in the `incrementer` function.

[2020-08-04 13:57] thevirtualbuddy commented on #39366
Thank you @Sky020  for putting down it appropriately.
I'm happy to be of some help to the FCC.

[2020-08-04 14:05] cklutzke opened #39371 "Misleading description of CSS flex-wrap"
**Describe your problem and how to reproduce it:**
The descriptions of the wrap and wrap-reverse options for "CSS Flexbox: Use the flex-wrap Property to Wrap a Row or Column" are misleading. wrap-reverse doesn’t wrap items from right-to-left (that would be the row-reverse value for the flex-direction property). I propose the following:

- wrap: In a row, wraps overflowing items below the previous

[2020-08-04 14:08] cklutzke commented on #39371
It looks like someone started to address this in a previous issue (#17736), but it wasn't deployed?
https://github.com/freeCodeCamp/freeCodeCamp/issues/17736

[2020-08-04 15:01] Sky020 commented on #39370
@moT01 , thank you, for pointing that out. In Chrome, the browser also trims the whitespace (for `h` elements), but the devTools do show the whitespace in the doc tree.

Seeing as the browser trims it, should we alter the tests to also `removeWhiteSpace`?

[2020-08-04 15:06] Sky020 commented on #39364
@RandellDawson , true, but do we care if they alter the variable (manually)? As in, can we make do with two tests total, because your suggestion already checks to see if the variable has been manipulated by the function?

[2020-08-04 15:07] Sky020 commented on #39366
@RandellDawson , Sure, I will look into it.

[2020-08-04 15:39] RandellDawson commented on #39364
I just want it to be clear to the user why the test is not passing.  Is it because they changed the global variable or that they did not use the global variable in the value returned?  I could be wrong, but I think adding the 3rd test makes it clearer what has happened to the user.

[2020-08-04 16:03] RandellDawson commented on #39364
So we are in agreement about adding the 3rd test?  If so, I will add the `first timer` label to it.

[2020-08-04 16:09] RandellDawson commented on #39371
[This PR](https://github.com/freeCodeCamp/curriculum/pull/70) was merged to address the issue reported in #17736.   So, it was deployed, but made the wrong changes?

[2020-08-04 16:15] cklutzke commented on #39371
If it was deployed, the change that was made did not correct the issue. The erroneous text reported in #17736 is the same as when the issue was reported.

[2020-08-04 16:35] MedRatid opened #39372 "Accepted answer error"
[This](https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-course/numpy-operations) accepts [0, 1, 2, 3, 4] as a correct answer, when it should be [20, 21, 22, 24, 24]
![Capture](https://user-images.githubusercontent.com/16351312/89319960-c81d3b80-d678-11ea-8256-1858af19fd4d.PNG)
![Capture](https://user-images.githubusercontent.com/16351312/89320081-ec791800-d678

[2020-08-04 16:42] RandellDawson commented on #39372
Why do you think the answer is `[20, 21, 22, 24, 24]`?

[2020-08-04 16:45] MedRatid commented on #39372
@RandellDawson The result in the second capture

[2020-08-04 16:48] MedRatid commented on #39372
@RandellDawson Ok my bad It asked for the value of "a"

[2020-08-04 16:48] #39372 closed

[2020-08-04 16:50] RandellDawson commented on #39372
Glad you figured it out.

In the future, please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can feel free to create an issue.  In general, GitHub issues are meant for reporting bugs and not necessarily for troubleshooting the code in your projects.

Thank you for understandin

[2020-08-04 16:53] MedRatid commented on #39372
Fair enough Thank you

[2020-08-04 17:30] Sky020 commented on #39364
Yes, I agree that the clarity will be beneficial.

[2020-08-04 18:10] Eddy-edd opened #39373 "Freecodecamp emission issue"
I believe there is an issue with the Testing Objects for Properties test on basic JavaScript. The coding section omits the setup section that should detail the values of myObj global variable. One has to rely on the result section to check which values are needed to construct the required code and pass the test.
![image](https://user-images.githubusercontent.com/24062280/89327530-c19cbd00-d694-11e

[2020-08-04 18:11] nhcarrigan commented on #39373
Hello~!

The function should be written to check the value of any property on any object - you should not need to see what the object would be in order to write this function. 🙂

[2020-08-04 18:23] RandellDawson commented on #39373
@Eddy-edd There is no need for a setup object, as the tests pass various objects with different property names.  The example in the challenge description shows one possible object and the results of what the function should return for that particular object when specific property names are passed as the second argument of the function.

I am closing this issue for now as this is not a bug with the

[2020-08-04 18:23] #39373 closed

[2020-08-04 18:52] moT01 commented on #39370
That would probably be fine enough I think @Sky020.

[2020-08-04 18:58] Eddy-edd commented on #39373
Thanks RandellDawson.

[2020-08-04 19:30] raisedadead commented on #39366
I am almost certain this is the broken theme. You can confirm by switching to the default Discourse theme available for debuging.

/cc @ahmadabdolsaheb

[2020-08-04 19:31] raisedadead commented on #39366
Yep, confirmed myself.

[2020-08-04 19:31] Sky020 commented on #39366
@RandellDawson , A Discourse member says that this is a modification, and not part of the default Discourse: https://meta.discourse.org/t/freecodecamp-topic-timeline-tracker-button-bug/159804/2

What do we do in this case?

[2020-08-04 19:48] #39362 closed

[2020-08-04 19:56] #38991 closed

[2020-08-04 19:57] #37611 closed

[2020-08-04 19:57] #39172 closed

[2020-08-04 20:45] RandellDawson commented on #39366
@Sky020 I did not think about the theme being the issue.  @raisedadead How were you able to guess this was the problem all along?

[2020-08-04 23:20] RandellDawson opened #39374 "Unable to run npm ci on Windows with latest version of master branch"
Because I go back and forth between the `master` branch (to test PRs hitting master) and `next-curriculum` (to work on the project-based curriculum), sometimes in the same day I will go back and forth 2-3 times.   As recent as two days ago, I was able to successfully run `npm ci` and `npm run develop` on the latest `master` branch with no issues.

I am not exactly sure what PR merged to cause me t

[2020-08-05 08:23] raisedadead commented on #39374
I do not have access to my Windows machine any longer to check this, but it seems you need to get `node-gyp` working. Here is a article that I found: https://spin.atomicobject.com/2019/03/27/node-gyp-windows might help. Not sure.

What you probably missing are the build tooling of `node-gyp` for your platform. On unix its `build-essentials`, on macOS its `xcode-commandline-tools` and on windows `w

[2020-08-05 08:26] raisedadead commented on #39366
I tested it with the default Discourse theme.

![image](https://user-images.githubusercontent.com/1884376/89389661-4fbf8480-d723-11ea-8b54-0072fadda86c.png)

I use this for my needs because the freeCodeCamp themes are broken for most admin areas, etc.

[2020-08-05 08:48] ahmadabdolsaheb commented on #39366
a lot of the icons were replaced with words one of which was the bell icon.
The word "tracking" should be replaced with "notification" so it would not be confused with "tracking" which is also a notification option.  let me if this would resolve this issue so I move forward with a pr.

[2020-08-05 09:28] #37023 closed

[2020-08-05 16:10] variousnabil opened #39375 "Confusing Placeholder at Backend Challenges"
i found a problem that cause confusion when first trying backend challenges because at the first introduction of the challenges we were instructed to use `glitch` to solve the problem, then at the challenges, the solution placeholder shown the `codepen` link. it's kinda confusing at first! i think it will be better that the placeholder shown the glitch link for better clarity.

https://www.freecod

[2020-08-05 16:13] nhcarrigan commented on #39375
Heya~! I agree this can be potentially confusing.

At a quick glance, this appears to be the case for all of the `API And Microservices` and `Quality Assurance` challenges, as well as the `helmetJS` challenges in `Information Security` - the projects, however, use the correct placeholder.

[2020-08-05 17:02] Sky020 commented on #39375
This should have been fixed by #38411 , but might have been undone with a more recent PR.

[2020-08-05 19:35] lasjorg commented on #39374
I see the same issue.

This seems to be a problem with fsevent (or packages with dependencies on it). As far as I can tell, fsevent is not supposed to build on non-Mac-OSX OSs and it was fixed in [fsevent 1.2.13](https://github.com/fsevents/fsevents/releases/tag/v1.2.13).

Troubleshooting dependencies and reproducing the steps is a pain in the behind, so this is just what I have found to work for

[2020-08-06 08:44] #39354 closed

[2020-08-06 09:44] SeasonLeee commented on #39370
Hi, thanks for the reply and the linking to file containing the test, it help me understand a lot of what's going on behind the error given on my problem submission, thank you!

However, I disagree at there that you initially thinking 'if no one disagree then just close this issue'

But to my relief, with more informations from @moT01   you decide to "alter the tests to also `removeWhiteSpace`", w

[2020-08-06 11:16] Sky020 commented on #39370
I am opening this up to be fixed. Problem statement:

- Tests need to be altered to first remove (trim) whitespace from the code, before being compared to the expected value.

Tests for this lesson are found here: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/03-front-end-libraries/react/render-state-in-the-user-interface.english.md

[2020-08-06 15:48] ChoukseyKhushbu commented on #39371
Hi @RandellDawson,
I would like to fix this issue if it's open for first-time contributors.
Can I?

[2020-08-06 16:27] aditya197322 opened #39376 "Site not loading"
**Describe the bug**
I was going great with this sites for a couple of days but today suddenly in the middle of my coding lesson it started showing me loading symbol and it just continues to show it. And now it has been atleast 3 hours since it is showing me loading

Desktop
 - OS: Windows 10
-Browser: Chrome

[2020-08-06 17:11] isaacton commented on #6568
// Only change code below this line
processed = processArg(7);

[2020-08-06 17:34] RandellDawson commented on #39371
@ChoukseyKhushbu We are still discussing here.  Once we put a help wanted label on it, some one is free to take up the task.

[2020-08-06 17:36] RandellDawson commented on #39376
Can you provide more information such as a screenshot of what you are seeing.  What challenge (include url) were you working on when this happened?  Does it happen on the main page or other lessons?

[2020-08-06 18:52] willmeck commented on #39376
@RandellDawson I am also seeing this. It happens with the learn section of the website. Here is my console log `GET https://www.freecodecamp.org/webpack-runtime-4cda38d3762cd23fb48d.js net::ERR_ABORTED 404`

[2020-08-06 18:58] RandellDawson commented on #39376
@willmeck Can you answer the same questions I asked the OP?

[2020-08-06 19:03] willmeck commented on #39376
![image](https://user-images.githubusercontent.com/2678328/89571626-fb390980-d7f5-11ea-976d-4e4193e812b1.png)

[2020-08-06 19:13] willmeck commented on #39376
Tried Edge which works fine, so far just experienced the problem on chrome

[2020-08-06 19:43] raisedadead commented on #39376
Thanks for reporting, chances are its a stale cache. While I am unable to reproduce this myseld, I just purged the file from our CDN.

Can you check again? If the same persists can you toggle the disable cache on Chrome and reload the page again? Like so:

![image](https://user-images.githubusercontent.com/1884376/89575251-239f2300-d84b-11ea-99df-592775d4b7cc.png)

[2020-08-06 19:46] raisedadead commented on #39369
Hi @thediveshsoni can you add more information to this thread when you get a chance?

[2020-08-06 19:46] #39369 closed

[2020-08-06 20:03] willmeck commented on #39376
Worked for me on Chrome now

[2020-08-06 21:13] raisedadead commented on #39376
Thanks, it should be a stale cache. Closing.

[2020-08-06 21:13] #39376 closed

[2020-08-07 03:19] SeasonLeee commented on #39370
Could this assign to me??? Oh my god... I would love to try this... please? thank you😆

[2020-08-07 09:57] Sky020 commented on #39370
@SeasonLeee , we do not typically assign issues to people, but you are welcome to work on anything with a _help wanted_ label. The first decent PR is QAed and merged.

Be sure to read the [contributing docs](https://contribute.freecodecamp.org/#/index)

[2020-08-07 17:04] lasjorg opened #39379 "rosetta code day of the week: Incorrect function name in text strings"
The last three tests are using `findChristmasSunday` as the function name for the text output (not the actual tests). The function name should be `findXmasSunday`. This is confusing and should be fixed.

This is a simple PR so I will label it first time only.

Challenge:
https://www.freecodecamp.org/learn/coding-interview-prep/rosetta-code/day-of-the-week

Challenge file:
https://github.com/freeCo

[2020-08-08 01:59] itshally opened #39382 "Some Coding Challenges on ES6 are showing ReferenceError: despite submitting correct answer"
I have been doing the **ES6** challenges on **JavaScript Algorithms and Data Structures** just fine until I reached these parts:

- [Use export to Share a Code Block](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/use-export-to-share-a-code-block)
- [Reuse JavaScript Code Using import](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es

[2020-08-08 15:50] manuGwalior commented on #39351
this is genuinely a mistake as how can the amount which needs to be withdrawn be more than the balance in the ledger. amount can only be withdrawn if it is less than the balance in ledger. however there can be a probability that a part of that amount can be deducted from balance but the challenge stated nothing for the same. also the test module asked for a False return value which i think is wron

[2020-08-08 15:52] RandellDawson commented on #39382
@ojeytonwilliams Is this related to Babel (see [this issue on Babel's repo](https://github.com/babel/babel/issues/9187))?

[2020-08-08 21:06] Mayank1795 commented on #39364
@RandellDawson The call to incrementor function inside the IIFE does not refer to the fixedValue variable created inside. That's why the assertion will give an error.
![te](https://user-images.githubusercontent.com/5724551/89719742-2d5e8d00-d9e9-11ea-8bde-f76c8ebaba08.png)

[2020-08-09 02:00] #39379 closed

[2020-08-09 02:36] RandellDawson commented on #39364
@Mayank1795 I should have tested the code before suggesting it.  The problem is closure.  The original `fixedValue` variable is declared in the same scope that the `incrementer` function is.  This means when `fixedValue` is referenced inside it, the function will always use the globally declared `fixedValue`.  We will have to come up with another way to do this.

[2020-08-09 09:10] weeisunthi-gmail commented on #39364
weeisunthi-gmail

[2020-08-09 12:15] Mayank1795 commented on #39364
@RandellDawson We can do something like this. Change the global variable to some other value for testing and later assign the original value. I will update the PR.

[code]

[2020-08-10 07:34] SeasonLeee commented on #39370
@Sky020 hey, sorry for the late reply, I was sick during the weekend but I still managed to read through the contribution guideline and understand the situation you have talked about.

So, if I can't search #39370 in the PR list, does that mean that I can still work on it?

Besides, there's a holiday coming in our country so our company plans to take the heat of holiday and make some promotion of

[2020-08-10 08:20] SeasonLeee commented on #39370
@Sky020 Hey, I posted something on the gitter but it seems no one online...

So, when I set up docker for the project, there one red error in the log:
![image](https://user-images.githubusercontent.com/13610283/89763546-55530b00-db25-11ea-949c-c4b4a3bb4afb.png)

Is that a big deal? Should I be concerned?

[2020-08-10 09:41] SeasonLeee commented on #39370
@Sky020 Hey, man, I just got some reply from gitter and it's said that's nothing to worry about regarding working with the project, but there's still problem that after I run `npm run docker:develop`

And after a while... I tried to access the project from browser by enter 'localhost:8000', but nothing happen!

The browser just shows this...
![image](https://user-images.githubusercontent.com/13610

[2020-08-10 10:18] Sky020 commented on #39370
Hello @SeasonLeee ,

Regarding working on this issue: There is no problem with you submitting  a PR for it. All I wanted to clarify is, we do not typically assign issues, and if someone else submitted a working PR before you, we would merge the first submitted PR.

Regarding issues when setting up locally: Unfortunately, I have hardly any experience with the Docker setup. So, your best bet for hel

[2020-08-10 10:34] Pablo-No opened #39389 "Basic CSS: Improve Compatibility with Browser Fallbacks tests fail on Firefox latest version"
**Describe your problem and how to reproduce it:**
My problem is that when doing "Basic CSS: Improve Compatibility with Browser Fallbacks" challenge the test fails despite I'm doing things well.
I've verified that in Chrome it works properly

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/basic-css/improve-compatibility-with-browser-fallbacks

[2020-08-10 12:09] RandellDawson commented on #39389
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-08-10 12:09] #39389 closed

[2020-08-10 13:25] Pablo-No commented on #39389
Created a [forum post](https://forum.freecodecamp.org/t/basic-css-improve-compatibility-with-browser-fallbacks-tests-fail-on-firefox-latest-version/414573).
I'll make a new comment when forum members determine whether my code is wrong or not.

Thank for your reply.

[2020-08-10 15:16] SeasonLeee commented on #39370
Hey, @Sky020  Thanks for the detail response

And,

1. I understand the issue won't hold for me if there's a PR for it, and I'm totally ok with it, because we are all want to contribute here, I don't mean to compete or something

2. Well, yeah, there are lots of kind people around the gitter, I hope I can solve the issue quicker with their help

3. By saying more logs, did you mean the entire inst

[2020-08-10 16:29] Sky020 commented on #39370
I cannot say...just more logs because the above you have posted do not appear to be related. Generally, we are only interested in the anomalous data which is logged, but, unless you know what that is, then providing all of the logs would be best. Let us continue this chat on Gitter, if you have more.

[2020-08-10 18:22] Pablo-No commented on #39389
Oops, it was a typo in background.

[2020-08-10 18:24] nhcarrigan opened #39392 "[BUG] - FCC Glitch projects unavailable"
**Describe your problem and how to reproduce it:**

The API provided for the Stock Price Checker project is currently unavailable. According to glitch, it appears to have reached its maximum hours for the month. It may be beneficial to find an alternate hosting platform. This issue was brought to my attention by a user attempting to complete this project.

**Add a Link to the page with the problem

[2020-08-10 20:31] #39220 closed

[2020-08-11 08:37] Easyvipin commented on #38850
Yes ,The path name is case sensitive ,although it should work fine in localhost , but if you deploy to some hosting site ,it will generate an internal server error.

[2020-08-11 08:57] Easyvipin opened #39394 "The demo link of Timestamp Microservice is not working in api-microservice Projects"
AFTER Clicking the link ..
![a](https://user-images.githubusercontent.com/55550953/89877910-6ca1ff00-dbde-11ea-888e-b445e8f50a6d.png)
The projects seems to be broken.
![sd](https://user-images.githubusercontent.com/55550953/89877931-762b6700-dbde-11ea-8f1b-11a240961b66.png)

[2020-08-11 10:32] ojeytonwilliams commented on #38474
I think we should suppress import/export errors entirely, since they're never informative.

[2020-08-11 14:30] #39170 closed

[2020-08-11 15:33] j836 opened #39396 "nonMutatingSort(globalArray) should not be hard coded."
I am facing this issue even though I have used the local variable arr.And I had also tried copying the local variable into another varialbe if in case the passed argument somehow may be mutating the array.
I had googled it several times and also posted the same on free code camp forum.But I didnt get any proper Solution for it.
Also , I am a newbie to javascript and if this is not a potential issu

[2020-08-11 15:36] nhcarrigan commented on #39396
Hello~!

Thank you for your interest in contributing to freeCodeCamp! Do you have a link to the challenge you believe has the bug?

[2020-08-11 15:38] j836 commented on #39396
I have just updated my comment.Thank you for quick reply1

[2020-08-11 15:40] j836 commented on #39396
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/return-a-sorted-array-without-changing-the-original-array

The above mentioned link shall redirect to the required page.
Thank you for your quick reply!

[2020-08-11 15:45] nhcarrigan commented on #39396
It appears this bug is related to the regex used for the test.
[code]

Your `arr2` variable is erroneously causing this test to fail, as the regex is matching the `2`. This test may need to be adjusted to account for these cases.

[2020-08-11 15:50] j836 commented on #39396
Thank You Sir @nhcarrigan !But I got the desired result..Thank You!

[2020-08-11 15:50] #39396 closed

[2020-08-11 17:01] Sky020 commented on #39394
I believe this is related to: #39392

[2020-08-11 17:12] #39267 closed

[2020-08-11 22:53] Aceeper2 commented on #39319
Got it!

[2020-08-12 06:44] SeasonLeee opened #39397 "Consider adding the 'delegated' flag to boost docker perf. on macOS"
**Is your feature request related to a problem? Please describe.**
Building project using docker on macOS is notoriously slow, after some googling, I found that there's some ways to boost the performance of this process.

*I post the link to the posts I read in here just in case someone want some reference*
[Performance tuning docker for mac(from community blog)](https://markshust.com/2018/01/30/p

[2020-08-12 09:51] gikf opened #39398 "Rosetta Code: Knapsack problem/Unbounded - one incorrect test"
**Describe your problem and how to reproduce it:**
One of the tests in this challenge has wrong result, both in test code and description. It says:
[code]
This isn't correct. For example: knapsack having 11 panacea, 3 ichor and 15 gold has value 75900, while being within the weight and value constrains:
[code]
This seems to be case of precision issue. Multiplication input item weights, volumes and

[2020-08-12 11:12] raisedadead commented on #39397
Sure, the docker setup guide has not seen much love lately. Its intial intention was to remove the friction of installing the services like MongoDB, etc.

However, it has become painfully slow when setting up from scratch.

Please feel free to open a PR for benifit of everyone.

[2020-08-12 18:02] richardtorres314 commented on #39060
@Symbolistic In the screenshots provided, the keys are not the same (ie - FCC's `userId` vs your `_id` keys). Were those eventually updated?

I'm currently having the same issue where all tests are failing (except for providing a link), though the output appears as though it should pass, for example, my failing output:

![`/api/exercise/users`](https://user-images.githubusercontent.com/7980806/900

[2020-08-12 22:38] dvbsknd opened #39399 "APIs/Timestamp Microservice: Sample Glitch project is offline"
In the [Timestamp Microservice project](https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/timestamp-microservice) project in the [APIs and Microservices Certification](https://www.freecodecamp.org/learn/apis-and-microservices/) an example Glitch project is given, but it's offline: https://curse-arrow.glitch.me/.

<img width="1332" alt="Screen Shot 2020-08-13

[2020-08-12 22:40] dvbsknd commented on #39399
I've just discovered this is a duplicate of #39394, so I'll close it.

[2020-08-12 22:40] #39399 closed

[2020-08-13 03:28] SeasonLeee commented on #39397
@raisedadead Thanks for the response!

So, which option do you recommend?

- modify the docker-compose.yaml file and make the PR
- add a new notice in the contribution guide for those who run the project from scratch

PS: thanks to the usage of flag `delegated`, I never hear those crazy fan noise from my old MBP anymore 😆 and the CPU usage of the docker is really low now~

[2020-08-13 06:07] raisedadead commented on #39397
Lets start by adding the flag like you have tested. We could merge the PR and keep it under observation for a few days. We would add a warning or remove/overhaul the docker setup if the flags break something.

[2020-08-13 07:02] this-isnt-me commented on #18159
I had the same issue, you can resolve it by using a previous version. Go to your package.json file and use version 3.21.1 anything more recent has the same.issue.

[2020-08-13 10:33] #37701 closed

[2020-08-13 11:03] ahmadabdolsaheb opened #39401 "Change the account creation flow"
On the weekly email blast confirmation page, replace the content with the followings

[/learn intro text]

- Quincy Larson, the teacher who founded freeCodeCamp.org

By the way, each Friday I send an email with 5 links about programming and computer science. I send these to about 4 million people. Would you like me to send this to you, too?

[ Yes ] [ No thanks ]

[2020-08-13 11:23] Mr1262 opened #39402 "Freecodecamp"
https://github.com/freeCodeCamp/freeCodeCamp/blob/42686db303493deb6cea853752559cb1ad4d736d/.github/CODEOWNERS#L14

[2020-08-13 11:35] Mr1262 opened #39403 "Understood. Could you drop that these features are deferred in the team chat. This PR could have landed yesterday, but I was under the impression that these features are being worked upon."
Understood. Could you drop that these features are deferred in the team chat. This PR could have landed yesterday, but I was under the impression that these features are being worked upon.

_Originally posted by @raisedadead in https://github.com/freeCodeCamp/freeCodeCamp/pull/39393#issuecomment-673413188_

[2020-08-13 11:35] Mr1262 commented on #39403
https://github.com/freeCodeCamp/freeCodeCamp/pull/39393#issuecomment-673413188

[2020-08-13 11:39] #39403 closed

[2020-08-13 17:24] AlanJereb commented on #39394
Hello,

The same problem goes for https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/exercise-tracker. Glitch demo won't load

[2020-08-13 18:40] Mvrs commented on #39401
Was this just edited? I was looking at this one and it had four steps. But what do expect the flow to be?

[2020-08-13 21:36] ahmadabdolsaheb commented on #39401
yes, we had a meeting :)

[2020-08-13 22:15] Mvrs commented on #39401
Oh~~~😅

[2020-08-13 22:24] lasjorg commented on #38426
@beaucarnes If we can get this video update it would be great.

It is confusing some campers that the code in the video does not match the requirements for the challenge. We do see a few forum posts about this now and then, so it would be nice to get this fixed if possible.

[2020-08-13 22:42] vishutdhar opened #39669 "When you click run tests before you start the project it shows that 1/17 tests have been completed."
#### Issue Description

#### Browser Information

- Browser Name, Version:
- Operating System:
- Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2020-08-14 13:01] ojeytonwilliams opened #39408 "Add CI for new languages"
As we add support for languages, we need to add tests to the CI.  If possible these tests should be run in parallel to the existing ones (to save time), but only contribute a single check on GitHub (to reduce noise).  It will be possible to control which tests are run via the `LOCALE` variable once https://github.com/freeCodeCamp/freeCodeCamp/pull/38040 has been merged.

[2020-08-14 20:38] ChrisJabb21 commented on #18159
@this-isnt-me  You are a lifesaver. I was having the same issue to and what you did helped me out, what helped was changing the version from 4.0.0 to another previous version like 3.21.1 to fix the ```helmet.hidePoweredBy() middleware should be mounted correctly```. error i kept getting. my code was right but the FCC site was just not letting me submit my glitch project link url.

My browser detai

[2020-08-14 22:30] arnabbarui5 commented on #16705
You just have to write this line

<input type="text" onChange={this.handleChange} value={this.state.input} />

`
class ControlledInput extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      input: ''
    };
    // change code below this line
    this.handleChange = this.handleChange.bind(this)
    // change code above this line
  // change code below this line

[2020-08-15 03:08] christinavoudouris opened #39411 "Quality Assurance: Advanced Node & Express: Registration of New Users - some tests won't pass"
I saw this issue is being addressed but thought starting a new thread might also be helpful to someone else.

I've been having trouble with the "Registration of New Users" exercise - When using Chrome, the first 3 tests won't pass even though I can register/login/logout. With Firefox, the first 2 don't pass, but it tells me that Login works.

I went ahead and completed the next 2 challenges: Hashi

[2020-08-15 07:39] christinavoudouris commented on #39411
Update: I've now got everything but the first test passing on both Chrome and Firefox.

[2020-08-15 08:36] christinavoudouris commented on #39411
Finally got it to work. I had to backtrack and keep everything in one file (server.js) for that first test to finally pass.

Hopefully this can still be useful for anyone else who worked ahead.

[2020-08-15 08:37] #39411 closed

[2020-08-15 13:04] xAdvitya opened #39412 "Metric-Imperial Converter sample project link not working"
got to
 - https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-projects/metric-imperial-converter
 - then go to sample project link
or
- go to https://incongruous-beard.glitch.me/

I tried in private tab but the problem presists

* Browser Name:  firefox
* Browser Version: latest
* Operating System: windows 10

[2020-08-15 14:02] codershona opened #39413 "i cannot save my progress in legacy front end projects section"
when i paste my project link i cannot save my progress in legacy front end projects section. Its showing me something really weird happened, if it happens again, please consider raising an issue on https://github.com/freeCodeCamp/freeCodeCamp/issues/new .

[2020-08-15 14:04] #39413 closed

[2020-08-15 14:04] codershona commented on #39413
its ok now

[2020-08-15 16:36] ApplePieAndCrime opened #39415 "Broken link"
**Describe your problem and how to reproduce it:**
Broken example link: https://curse-arrow.glitch.me/
Output (glitch): "Oops! This project isn't running."

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/timestamp-microservice

**Recommended fix, suggestions (how would you update it?):**

**If possible, add a s

[2020-08-15 20:08] Sky020 commented on #39415
Hello there,

I am closing this as a duplicate of #39394

[2020-08-15 20:08] #39415 closed

[2020-08-15 23:19] #37955 closed

[2020-08-15 23:19] #37599 closed

[2020-08-16 05:44] fuzzyray commented on #39394
It's not clear from this issue title, but none of the API and Microservices Project examples are working. I've been using the github repository links on the project page to get the user stories and description of what I am supposed to be doing.

Maybe we could consolidate it with #39392 and change the title to reflect that it is all of the example projects on Glitch?

[2020-08-16 18:43] nhcarrigan commented on #39412
Hello~!

I believe this is related to #39392 and is due to an issue with the glitch projects running out of CPU time.

[2020-08-16 18:51] nhcarrigan commented on #39392
@Sky020 - I've consolidated a list of the projects that are down, to hopefully prevent the need to create additional issues. 🙂

[2020-08-16 19:00] Sky020 commented on #39392
@nhcarrigan , That is excellent! It is nice to have it all here. I will go ahead an close the related issues, then.

_Weird about the Issue Tracker (I assumed all of the projects were under Joseph Livengood's account)_

[2020-08-16 19:02] Sky020 commented on #39394
Thank you, for this report. We have consolidated all of the projects into one issue. As such, I am closing this.

[2020-08-16 19:02] #39394 closed

[2020-08-16 19:02] Sky020 commented on #39412
Thank you, for this report. We have consolidated all of the projects into one issue. As such, I am closing this.

[2020-08-16 19:02] #39412 closed

[2020-08-17 01:38] RandellDawson commented on #39175
@beaucarnes Is this an issue still needing resolution?

[2020-08-17 01:49] RandellDawson commented on #38932
@Sky020 @scissorsneedfoodtoo See [my comment](https://github.com/freeCodeCamp/freeCodeCamp/pull/39084#pullrequestreview-446711596) on the original issue.  If we expect the user to use a type selector, then why don't we ask the user to use a type selector.  Other, the user should be allowed to create an `.h2` selector and specify `h2` in the `class` attribute.   Then, the testString changes in #390