[2016-12-23 23:02] splnlss opened #12192 "Doesn't submit correctly using brave browser"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2016-12-23 23:03] splnlss commented on #12192
Brave browser worked great until this challenge. I then had to switch to chrome

[2016-12-24 01:19] erictleung commented on #12189
@interglobalmedia no problem! Closing this as issue appears resolved. Happy coding!

[2016-12-24 01:19] #12189 closed

[2016-12-24 01:53] raymanbenson opened #12194 "Toy blast"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-12-24 02:54] QuincyLarson commented on #12194
This issue doesn't have any content. I'm closing it.

[2016-12-24 02:54] #12194 closed

[2016-12-24 03:02] QuincyLarson opened #12195 "Shop return path"
#### Issue Description
We recently moved our /shop over to GitHub.io. When a camper bought some stickers, PayPal used to send them back to /shop/confirm-stickers or /shop/cancel-stickers.

Now we just want to send them back to the map with a flash message.

![](https://cloud.githubusercontent.com/assets/985197/21464943/32632446-c953-11e6-8bc2-5d0e6e402b9b.png)

[2016-12-24 03:04] shapir commented on #10855
BleedingEnergy - any resolution for the above?

[2016-12-24 03:12] MHASSS commented on #11975
You were correct! I use both last path and adblock extensions. Opening the browser in incognito mode solved the problem. Thank you.
Might be a good idea to have a warning in webpage to avoid this happening to other people in future.

[2016-12-24 03:54] ladybugtju commented on #8418
@abhisekp Let the magic happen :) Cheers

[2016-12-24 06:47] Bene2dict opened #12197 "wrong code passed challenge for me"
Challenge [Remove an Element Using jQuery](https://www.freecodecamp.com/challenges/remove-an-element-using-jquery) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]
That was the code i

[2016-12-24 08:35] tanmay7270 opened #12198 "A workaround that bypasses challenge's limitation of not using `endsWith()` function."
#### Challenge Name

<a href = "https://www.freecodecamp.com/challenges/confirm-the-ending">Confirm the Ending</a>
#### Issue Description

**TL;DR:** Start reading after **Browser Information**.

**Detailed Description:**
FreeCodeCamp requires the camper to not use `.endsWith()` function to solve the given _Basic Algorithm Scripting_ challenge in any way:

However, a simple workaround can bypass t

[2016-12-24 10:17] romeio opened #12199 "hi."
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%20%20%0A%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%20%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20s

[2016-12-24 10:18] romeio opened #12200 "hi I need help about this issue Between the style tags, give the p elements font-size of 16px. Browser and Text zoom should be at 100%."
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%20%20%0A%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%20%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20s

[2016-12-24 11:04] JSWesterfield commented on #10944
@texas2010 You had time to comment to not help? smh. @meamay07  If you would look at the above examples, these guys initialized the variable(var) first, so there should be 3 sentences here:

var myStr=" ";
myStr+="This is the first sentence.";
myStr+=" This is the second sentence.";

Good Luck!

[2016-12-24 11:37] jrochet commented on #12114
I'm having the same symptoms as reported by the OP, except I believe I have the correct code:

`<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    bord

[2016-12-24 11:45] jrochet commented on #12114
And I solved it by zooming then unzooming my browser, which is Chrome (Version 55.0.2883.87 m) running on Windows 10 (10.0.10240).  My Windows DPI settings are standard / 100% but I do feel like the course is finicky because of Windows 10 scaling.  Or it's Chrome's fault entirely.  To confirm, I'm using Standard zoom settings in Chrome, not zoomed in or out, just 100%.  Chrome's web content settin

[2016-12-24 11:50] jrochet commented on #12114
Sorry to spam, but in fact, I now have to start each lesson by just zooming in or out a bunch (CTRL + mouse wheel (either up or down)) then instantly zooming back to normal.  This primes the WYSIWYG pane for action.

[2016-12-24 14:15] texas2010 commented on #10944
@JSWesterfield, GitHub Issues are for reporting bugs on the website only.

[2016-12-24 14:28] A010 commented on #6309
For me the only way to pass the test is to write the "extra" ''' }''' to make it
[code]
I think it's probably a bug. What do you thing campers?

[2016-12-24 14:59] Pothinus commented on #11860
Hello @Richbward,
I don't know if you figured this out or not. I just completed this challenge, and I was initially stumped until I realized that I wasn't fully understanding the question.
First, the class of row has already been created (After the second image), so for your "Info, like, delete" button you need to specify the col change(col-xs-6) as required in the challenge.  Next, you need to ad

[2016-12-24 15:08] gsharloks commented on #6309
Block-level scope does not exist，so you could not use “return” in the “{ }”

发自网易邮箱大师

On 2016-12-24 22:29 , A010<mailto:notifications@github.com> Wrote:

For me the only way to pass the test is to write the "extra" ''' }''' to make it

  if (wasThatTrue) {
  return "That was true";
}
{
  return "That was false";
}

I think it's probably a bug. What do you thing campers?

—
You are receiving this

[2016-12-24 15:17] OFFLlNE opened #12201 "Instructions !== tests"
Challenge [Sum All Primes](https://www.freecodecamp.com/challenges/sum-all-primes#?solution=%0Afunction%20isPrime(acc)%20%7B%0A%20%20%20%20if(acc%20%3C%202)%20return%20false%3B%0A%20%20%20%20for%20(var%20i%20%3D%202%3B%20i%20%3C%20acc%3B%20i%2B%2B)%20%7B%0A%20%20%20%20%20%20%20%20if(acc%20%25%20i%20%3D%3D%3D0)%0A%20%20%20%20%20%20%20%20%20%20%20%20return%20false%3B%0A%20%20%20%20%7D%0A%20%20%20%20

[2016-12-24 15:47] texas2010 commented on #12199
@romeio
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-12-24 15:47] #12199 closed

[2016-12-24 15:51] texas2010 commented on #12200
@romeio
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-12-24 15:51] #12200 closed

[2016-12-24 15:56] texas2010 commented on #12197
I can't pass it with that incorrect code. it seems it is not bug to me.

[2016-12-24 17:15] erictleung commented on #12201
@OFFLlNE thanks for the issue. The wording is meant to suggest the *possibility* (`"..number may..."`) of the number *not* being prime. This does not mean the number cannot be a prime number. It would be different if the challenge more directly said `The provided number will not be prime`. I hope that make sense. Closing as not a bug issue. Happy coding!

[2016-12-24 17:15] #12201 closed

[2016-12-24 17:19] erictleung commented on #12198
@tanmay7270 thanks for the issue. This issue should be fixed in the `staging` branch of FCC from this PR https://github.com/FreeCodeCamp/FreeCodeCamp/pull/10286. This just hasn't been pushed up to the production  site yet. Closing as resolved in staging. Happy coding!

[2016-12-24 17:19] #12198 closed

[2016-12-24 17:21] abhisekp commented on #8418
@QuincyLarson @ladybugtju Thanks. The magic is complete :smirk:
:point_right: **https://github.com/FreeCodeCamp/gitter-history**

-----

Github has a strict file size limit of 100 MB but gives a warning at 50 MB. I was able to push a 53 MB file (*`FreeCodeCamp/HelpFrontend` room archvie*) .
&mdash; https://help.github.com/articles/what-is-my-disk-quota/

----

The only remaining rooms are

- FreeC

[2016-12-24 17:21] erictleung commented on #12197
@Bene2dict I'm also unable to pass the challenge with the incorrect code. I get a `SyntaxError: Unexpected token .`. Do you have a screenshot of you passing the challenge with the incorrect code? Thanks!

[2016-12-24 17:26] erictleung commented on #12192
@splnlss thanks for the issue. Considering Brave is still in beta testing and isn't one of the more mature browsers like Chrome and Firefox, I'm not sure what we can do on our end. It probably isn't worth our efforts at this point to accommodate less mature browsers. But funny enough, it appears that Brave is based upon the Chromium browser. I'll leave this up to discussion of others.

cc/ @FreeCo

[2016-12-24 17:27] texas2010 commented on #12197
@erictleung, I got `SyntaxError: Unexpected token ..` too.

[2016-12-24 17:32] dhcodes commented on #12192
I wonder if this might have something to do with adblockers limiting some tests from running correctly as I've seen in another recent issue. Doesn't brave have a very strict ad blocker?

[2016-12-24 17:50] abiralsambhu opened #12204 "No responsive view"
Challenge [Use Responsive Design with Bootstrap Fluid Containers](https://www.freecodecamp.com/challenges/use-responsive-design-with-bootstrap-fluid-containers#?solution=%3Clink%20rel%3D%22stylesheet%22%20href%3D%22%2F%2Fmaxcdn.bootstrapcdn.com%2Fbootstrap%2F3.3.1%2Fcss%2Fbootstrap.min.css%22%2F%3E%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22styl

[2016-12-24 17:50] #12204 closed

[2016-12-24 18:14] shubh28494 opened #12205 "Your p elements should use the font Monospace. Why it doesn't work"
[code]

[2016-12-24 18:20] abiralsambhu opened #12206 "Test passed though Output is not responsive."
![screenshot from 2016-12-25 00 07 51](https://cloud.githubusercontent.com/assets/9899283/21468442/b8dcc88e-ca38-11e6-917b-e63fa1af64be.png)
Challenge [Make Images Mobile Responsive](https://www.freecodecamp.com/challenges/make-images-mobile-responsive#?solution=%3Clink%20rel%3D%22stylesheet%22%20href%3D%22%2F%2Fmaxcdn.bootstrapcdn.com%2Fbootstrap%2F3.3.1%2Fcss%2Fbootstrap.min.css%22%2F%3E%0A%3Cli

[2016-12-24 18:49] QuincyLarson commented on #12192
@splnlss I'm excited about Brave but complying with it is a relatively low priority. About 75% of campers are using Chrome, and Brave isn't even in the top 10 at this point:

![](https://www.evernote.com/l/Ar8eseGg6W5Mf4NPjMyQb_EzNvoBrymEtIMB/image.png)

You're welcome to dive in and try to make our platform Brave-compatible. If Brave starts to take off, we might be able to allocate more resources

[2016-12-24 18:50] #12192 closed

[2016-12-24 18:57] monzamatt12 opened #12207 "Won't let me continue because of no p tag cling tag"
My challenge is makes sure all p elements have closing tag
[code]

[2016-12-24 18:59] abiralsambhu opened #12208 "Passed all the bootstrap challenges but The Output is not responsive in any challenges except the first challenge"
![screenshot from 2016-12-25 00 56 45](https://cloud.githubusercontent.com/assets/9899283/21468513/1882a0e8-ca3d-11e6-89e9-0344e8f24b86.png)
Challenge [Make Images Mobile Responsive](https://www.freecodecamp.com/challenges/make-images-mobile-responsive#?solution=%3Clink%20rel%3D%22stylesheet%22%20href%3D%22%2F%2Fmaxcdn.bootstrapcdn.com%2Fbootstrap%2F3.3.1%2Fcss%2Fbootstrap.min.css%22%2F%3E%0A%0A%3

[2016-12-24 19:04] QuincyLarson commented on #8418
@abhisekp Amazing work. So now that these rooms are in version control, do you think we're safe to start deleting these rooms?

As far as the larger rooms, we might want to break them up into separate files by date. For example: FreeCodeCamp/FreeCodeCamp August 1 2015 - November 31 2015

This will make it easier for us to continue pushing updated archives to them.

This will be a huge public datas

[2016-12-24 19:10] JSWesterfield commented on #10944
My apologies this might be a incorrect button press.

On Sat, Dec 24, 2016 at 6:16 AM, Lance <notifications@github.com> wrote:

[2016-12-24 19:15] dincel commented on #12206
Because the page can not load the bootstrap since you didn't add "https:" at the beginning of bootstrap.min.css link. If you paste your code into a local HTML template and run it in your browser you will see the warning "Style sheet couldn't be loaded" in F12 developer tools.
Free Code Camp challenges only check if you entered the required code not the missing part from the already put system code

[2016-12-24 19:33] texas2010 commented on #10944
@JSWesterfield, it is fine. people have to go to Chat room or forum for ask help. but not this issue thread.  that is why I gave a link to that person.

[2016-12-24 22:03] splnlss commented on #12192
It's probably the built in ad blocking feature because Chrome seems to have the same issue on that page when an Ad-Blocker is enabled.
It's not a priority for me and I'm more than happy to switch, I just figured I would mention it as a bug, that's all. thx!

[2016-12-24 22:05] dhcodes commented on #12192
👍

[2016-12-24 22:11] systimotic commented on #9851
Thanks for waking us up @raisedadead 🙂
I think Stuart may have blocked this originally because he was waiting for my feedback.
To summarize, this mistake is easy to make and hard to detect. I can't come up with simple way to prevent this from happening without causing confusion.
I'll change this to discussing, any input on what we could do would be very much appreciated.

[2016-12-24 22:35] ShiveringCode opened #12209 "its saying im not using rgb to change the color. from what i can tell, i am. i even copied and pasted to make sure of no typo. i get check marks for changing the color , but it thinks im not using rgb"
Challenge [Use RGB to Mix Colors](https://www.freecodecamp.com/challenges/use-rgb-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20rgb(255%2C%200%2C%200)%0A%20%20%7D%0A%20%20.orchid-text%20%7B%0A%20%20%20%20color%3A%20rgb(218%2C%20112%2C%20214)%0A%20%20%7D%0A%20%20.sienna-text%20%7B%0A%20%20%20%20color%3A%20rgb(160%2C%2082%2C%2045)%0A%20%20%7D%0A%20%20.blue-t

[2016-12-24 22:43] Manish-Giri commented on #12209
@ShiveringCode CSS statements must end must `;`, which is missing on all four of your statements.

Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) first for help with issues like these, in future. Happy Coding!

[2016-12-24 23:00] texas2010 commented on #12209
@Manish-Giri is right about that.

closed this issue as don't have a bug.

[2016-12-24 23:00] #12209 closed

[2016-12-24 23:02] texas2010 commented on #12207
@monzamatt12
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-12-24 23:02] #12207 closed

[2016-12-24 23:05] texas2010 commented on #12205
@shubh28494, which challenge name?

[2016-12-24 23:10] texas2010 commented on #12106
@mcpurser, do you still have an issue with this?

by the way, @QuincyLarson have a question for you.

"oops" error and being sent back to the map?

[2016-12-24 23:27] Azbo400 opened #12210 "FreeCodeCamp streak doesn't update unless I do something after 6(PST)"
FreeCodeCamp streaks not updating unless it is after around 6 PST

Hello Everyone. In FCC for some reason, if I do not get any brownie points after around 6 PST it does not update for that day. Even if it is after 6 and I already got 7 brownie points, for some reason it doesn't update unless I get another.

Here is what I mean:
![image](https://cloud.githubusercontent.com/assets/12162628/21469070/

[2016-12-25 00:47] rosebudvee opened #12211 "Help!"
Challenge [Specify How Fonts Should Degrade](https://www.freecodecamp.com/challenges/specify-how-fonts-should-degrade#?solution=%0A%3C!--%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A--%3E%0A%20%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%0A%20%20h2%7B%0A%20%20fo

[2016-12-25 01:07] QuincyLarson commented on #12106
@texas2010 it's been 5 days and @mcpurser hasn't responded. I'm going to go ahead and close this issue, as I think it is resolved.

[2016-12-25 01:07] #12106 closed

[2016-12-25 03:02] tony-kunliu opened #12212 "unknown error, maybe a bug??"
Challenge [Manipulate Arrays With push](https://www.freecodecamp.com/challenges/manipulate-arrays-with-push#?solution=%0A%2F%2F%20Example%0Avar%20ourArray%20%3D%20%5B%22Stimpson%22%2C%20%22J%22%2C%20%22cat%22%5D%3B%0AourArray.push(%5B%22happy%22%2C%20%22joy%22%5D)%3B%20%0A%2F%2F%20ourArray%20now%20equals%20%5B%22Stimpson%22%2C%20%22J%22%2C%20%22cat%22%2C%20%5B%22happy%22%2C%20%22joy%22%5D%5D%0A%0A

[2016-12-25 03:02] tony-kunliu commented on #12212
Manipulate Arrays With push
An easy way to append data to the end of an array is via the push() function.

.push() takes one or more parameters and "pushes" them onto the end of the array.

var arr = [1,2,3];
arr.push(4);
// arr is now [1,2,3,4]
Instructions
Push ["dog", 3] onto the end of the myArray variable.

[2016-12-25 03:31] EXOTIC2096 opened #12213 "Email & password"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-12-25 04:22] AaronTakizad opened #12214 "Inconsistent Spelling"
Challenge [Override Class Declarations with Inline Styles](https://www.freecodecamp.com/challenges/override-class-declarations-with-inline-styles#?solution=%0A%3Cstyle%3E%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20black%3B%0A%20%20%20%20font-family%3A%20Monospace%3B%0A%20%20%20%20color%3A%20green%3B%0A%20%20%7D%0A%20%20%23orange-text%20%7B%0A%20%20%20%20color%3A%20orange%3B%0A%20%20%7D

[2016-12-25 05:04] ajitkumarsahu commented on #8974
just create a tracks array in your 5439 property .
it works

[2016-12-25 07:46] erictleung commented on #12214
@AaronTakizad thanks for the issue. They should all be `inline`.

[2016-12-25 07:47] #12213 closed

[2016-12-25 07:48] erictleung commented on #12212
@tony-kunliu Thank you for reporting this issue. Your code is incorrect.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://foru

[2016-12-25 07:48] #12212 closed

[2016-12-25 07:49] erictleung commented on #12211
@rosebudvee Thank you for reporting this issue. You've commented too much.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://fo

[2016-12-25 07:49] #12211 closed

[2016-12-25 07:51] erictleung commented on #12210
@Azbo400 thanks for the issue. This appears to be a duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7925. Closing in favor of existing issue, but thank for your observations about what time it doesn't update for you. That will help in fixing the issue. Happy coding!

[2016-12-25 07:51] #12210 closed

[2016-12-25 07:55] erictleung commented on #12208
@abiralsambhu I'm unable to reproduce your issue. The image is responsive for me.

![image](https://cloud.githubusercontent.com/assets/2754821/21470236/48520c2c-ca34-11e6-899c-d182a9abab2f.png)

cc/ @FreeCodeCamp/moderators

[2016-12-25 07:59] erictleung commented on #12206
@abiralsambhu thanks for the issue. I'm also unable to reproduce this issue.

![image](https://cloud.githubusercontent.com/assets/2754821/21470253/0be3dfee-ca35-11e6-8736-5a5cda5ed024.png)

@dincel fyi [Why does the CDN's have 2 // instead of http or https in front of the URL](http://stackoverflow.com/a/16903733/6873133)

cc/ @FreeCodeCamp/moderators

[2016-12-25 08:03] erictleung commented on #12205
@shubh28494 your code passes for me. Can you give more information about your issue? What browser are you using? What device are you on? Monospace should be built into your browser, which allows it to be rendered, but if you're using an older browser or not one of the mature browsers such as Chrome/Firefox/Safari, then you'll run into issues.

FYI [Challenge: Set the Font Family of an Element](htt

[2016-12-25 08:26] abiralsambhu commented on #12208
it worked with firefox but not with chromium browser.

[2016-12-25 11:09] Shashi-Bhardwaj commented on #9764
"FirstLine\n\\SecondLine\\\rThirdLine";    (try this)

[2016-12-25 11:10] Shashi-Bhardwaj commented on #9764
"FirstLine\n\\SecondLine\\\rThirdLine";    (try this)

[2016-12-25 11:23] Tejos16 opened #12215 "Factorialize a number"
Challenge [Factorialize a Number](https://www.freecodecamp.com/challenges/factorialize-a-number#?solution=%0Afunction%20factorialize(num)%20%7B%0A%20%20if%20(num%20%3C%200)%20%0A%20%20%20%20return%20-1%3B%0A%20%20%0A%20%20else%20if(num%20%3D%3D%3D%200)%3B%20%0A%20%20%20%20return%201%3B%0Aelse%20%20%0A%20%20%7B%20%20%0A%20%20return%20(num%20*%20factorialize(num-1))%3B%0A%20%20%20%20%7D%0A%7D%0A%0Af

[2016-12-25 12:17] karanveerprince opened #12216 "How can i solve this bug?"
Challenge [Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%20style%3D%22color%3A%20blue%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp%3E%

[2016-12-25 12:17] karanveerprince opened #12217 "How can i solve this bug?"
Challenge [Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%20style%3D%22color%3A%20blue%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp%3E%

[2016-12-25 12:52] Tejos16 commented on #12216
<h2 style="color: red">CatPhotoApp</h2>
you have to add red,then only it will not give error.Because in Instructions

[2016-12-25 13:58] raisedadead commented on #9851
Just went through, the thread, I think this should be closed as an edge case with the camper's code. I agree detecting such code is costly, and adding any instructions will cause confusion to users.

Closing. Feel free to continue the discussion or re-open, but in my honest opinion, this should be left as it is.

[2016-12-25 13:58] #9851 closed

[2016-12-25 14:01] raisedadead commented on #12217
Hi @karanveerprince

Thanks for the report.

The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-12-25 14:01] #12217 closed

[2016-12-25 14:01] raisedadead commented on #12216
Hi @karanveerprince

Thanks for the report.

The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-12-25 14:01] #12216 closed

[2016-12-25 14:03] raisedadead commented on #12215
Hi @Tejos16

Thanks for the report.

Your code is incorrect, the linter in the editor is giving you warnings, and error. Please re-check.

The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-12-25 14:03] #12215 closed

[2016-12-25 14:05] raisedadead commented on #12208
Closing in favor of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/12206

[2016-12-25 14:05] #12208 closed

[2016-12-25 14:09] raisedadead commented on #12132
Closing, you can comment on this thread with more information as requested above, and we will re-open.

[2016-12-25 14:09] #12132 closed

[2016-12-25 14:12] raisedadead commented on #12125
Hmm, I can see how the seed code and the examples are creating a confusion, need to revisit this challenge, and the other object access challenges a bit more.

/cc @FreeCodeCamp/moderators thoughts?

[2016-12-25 16:00] Loquito95 opened #12218 "Find the Length of a String"
Challenge [Find the Length of a String](https://www.freecodecamp.com/challenges/find-the-length-of-a-string#?solution=%0A%2F%2F%20Example%0Avar%20firstNameLength%20%3D%200%3B%0Avar%20firstName%20%3D%20%22Ada%22%3B%0A%0AfirstNameLength%20%3D%20firstName.length%3B%0A%0A%2F%2F%20Setup%0Avar%20lastNameLength%20%3D%200%3B%0Avar%20lastName%20%3D%20%22Lovelace%22%3B%0AlastNameLength%20%3D%20lastName.leng

[2016-12-25 16:29] erictleung commented on #12218
@Loquito95 Thank you for reporting this issue. Please adhere to the comments such as `// Only change code below this line.` in the editor. You've added code in the wrong place.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help c

[2016-12-25 16:29] #12218 closed

[2016-12-25 18:36] jaasmaz opened #12219 "im i doing some thng wrong here????"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2016-12-25 18:43] 16111973 opened #12220 "<h1>hello</>"
Challenge [Say Hello to HTML Elements](https://www.freecodecamp.com/challenges/say-hello-to-html-elements#?solution=%0A%3Ch1%3EHello%3C%2Fh1%3E%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; CrOS armv7l 8743.83.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.93 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My

[2016-12-25 18:44] texas2010 commented on #12220
@16111973
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-12-25 18:44] #12220 closed

[2016-12-25 18:44] 16111973 opened #12221 "<h1>hello</h1>"
Challenge [Say Hello to HTML Elements](https://www.freecodecamp.com/challenges/say-hello-to-html-elements#?solution=%0A%3Ch1%3EHello%3C%2Fh1%3E%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; CrOS armv7l 8743.83.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.93 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My

[2016-12-25 18:45] texas2010 commented on #12221
@16111973
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-12-25 18:45] #12221 closed

[2016-12-25 20:00] aaroncolby92 opened #12222 "trouble running tests for smaller-image class"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2016-12-25 20:24] pardhapraneeth123 opened #12223 "bug"
![screen shot 2016-12-26 at 1 50 06 am](https://cloud.githubusercontent.com/assets/24738694/21472758/49dfe534-cb0e-11e6-9e7c-de0c6c28f9af.png)
Challenge [Escaping Literal Quotes in Strings](https://www.freecodecamp.com/challenges/escaping-literal-quotes-in-strings#?solution=%0Avar%20myStr%3D%22I%20am%20a%20%5C%22double%20quoted%20%5C%22string%20inside%20%5C%22double%20quotes%5C%22.%22%3B%0A%0A%0A)

[2016-12-25 20:42] texas2010 commented on #12223
@pardhapraneeth123
Thanks for reporting this. it is not a bug. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-12-25 20:42] #12223 closed

[2016-12-25 20:43] texas2010 commented on #12222
@aaroncolby92
Thanks for reporting this. it is not a bug. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2016-12-25 20:43] #12222 closed

[2016-12-25 21:06] marti026 opened #12224 "h2 element blue"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%0A%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3A%20blue%3B%7D%20CatPhotoApp%0A%3C%2Fstyle%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip

[2016-12-25 21:23] pardhapraneeth123 opened #12225 "bug"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%3D%22hello%5Cn%5C*hi%5Cr%5C*end%5C%5C%5C%5C%22%3B%2F%2F%20Change%20this%20line%0A%0A%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please d

[2016-12-25 21:25] texas2010 commented on #12225
@pardhapraneeth123
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2016-12-25 21:25] #12225 closed

[2016-12-25 21:25] texas2010 commented on #12224
@marti026
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-12-25 21:25] #12224 closed

[2016-12-25 21:29] texas2010 commented on #12206
Oh, wait. we don't need to add the bootstrap link in the code.  inside challenge already has it.

[2016-12-25 21:36] texas2010 commented on #12206
@erictleung, he using Chromium web browser.   It could be Chromium have a problem with iframe css.

so not many people use it.  it is invalid to fix it.

[2016-12-25 22:25] guneyozsan opened #12226 "Test require additional statement other than listed in the question which also doubles default value"
#### Challenge Name
Adding a default option in Switch statements
https://www.freecodecamp.com/challenges/adding-a-default-option-in-switch-statements

#### Issue Description
Although the instruction list is as follows:
Write a switch statement to set answer for the following conditions:
"a" - "apple"
"b" - "bird"
"c" - "cat"
default - "stuff"

Tests require an additional case for "d" which also re

[2016-12-25 22:25] #12226 closed

[2016-12-25 22:27] guneyozsan commented on #12226
Sorry the sequential logic a, b, c, and then d made me misinterpret the test requirements.

[2016-12-25 23:34] magicknight opened #12228 "A bug"
Challenge [Passing Values to Functions with Arguments](https://www.freecodecamp.com/challenges/passing-values-to-functions-with-arguments#?solution=%0A%2F%2F%20Example%0Afunction%20ourFunctionWithArgs(a%2C%20b)%20%7B%0A%20%20console.log(a%20-%20b)%3B%0A%7D%0AourFunctionWithArgs(10%2C%205)%3B%20%2F%2F%20Outputs%205%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0Afunction%20functionWithA

[2016-12-25 23:51] #12228 closed

[2016-12-26 07:57] yunnysunny opened #12230 "Allow hosting of project code on Services other than Github"
Challenge [URL Shortener Microservice](https://www.freecodecamp.com/challenges/url-shortener-microservice) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

I finished the code for this challenge , bu

[2016-12-26 10:34] ouzatl commented on #7502
if (1<card && card< 7) {
count++;
}

[2016-12-26 10:35] ouzatl commented on #7502
var count = 0;
function cc(card) {
  var answer="";
  switch (card){
    case 10 :
    case "J":
    case "K":
    case "Q":
    case "A":
   count--;
  }

  if(1<card && card<7){
    count++;
  }

  if (count<=0){
    answer = count + " Hold";
  }
  else if(count>0){
    answer = count + " Bet";

  }

  return answer;

}

cc(10); cc(3); cc(2); cc('K'); cc('A');

[2016-12-26 11:47] raisedadead commented on #7502
@ouzatl please do not post solutions or code on this thread, you can visit chat rooms and forum for assistance on code.

[2016-12-26 11:52] raisedadead commented on #12230
@yunnysunny thanks we request hosting code on GitHub so that it's available to the reviewers.

If you have any test code that you do not want to be part of the repository you create on the GitHub, then you can isolate the code from the project and host only the parts that are necessary for the user stories of the challenge. But all the code that is the part of the solution for the challenge should

[2016-12-26 12:27] yunnysunny commented on #12230
Could I host the code for freecodecamp on another site, such as [Bitbucket](https://bitbucket.org) or [gitlab](https://gitlab.com). I correct what I have said. I don't want to host my practice projects on github, I only want to use it to show my open source projects.

[2016-12-26 12:36] raisedadead commented on #12230
Oh surely. Unless it's a solution for reviewing, you could host your code anywhere...!

[2016-12-26 13:15] yunnysunny commented on #12230
But you can not input the url of  project that not host on github. For example , after I submit a url from gitlab , https://gitlab.com/yunnysunny/time-parser, an error will show that : **You haven't supplied the necessary URLs for us to inspect your work.**

[2016-12-26 13:36] raisedadead commented on #12230
@yunnysunny

Thanks. Let me confirm this need from others in the team. But please keep in mind that **whichever service you host your code for Free Code Camp's solution, your code has to be public for reviewing**.

@QuincyLarson @Em-Ant
The OP wants to host their challenge on services other than GitHub, to separate their contribution profile and the personal profile.

I think we should allow hosti

[2016-12-26 13:44] linjojesan opened #12231 "I am 99% sure that I have this code right but it's not moving on to the next challenge."
Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-f

[2016-12-26 15:39] raisedadead commented on #12231
@linjojesan and you would be correct in saying in that as well. I can pass the challenge with the code above, please reset the challenge editor and try again.

Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge, before reporting.

Happy Coding.

[2016-12-26 15:39] #12231 closed

[2016-12-26 16:01] DomingoSanzPerez commented on #9016
Hy, my code was.

var a = 3;
var b = 17;
var c = 12;

// Only modify code below this line

+= a + 12;
+= b + 9; // in this line I change b for 9.
+= c + 7;

[2016-12-26 17:34] KickButtowski80 commented on #12078
I agree with Shubhamkumarsingh .
how can we resolve this issue?

[2016-12-26 17:48] texas2010 commented on #12078
@KickButtowski80, It is not the bug.  their code is incorrect. that is why it won't passed first place.

[2016-12-26 18:00] KickButtowski80 commented on #12078
how can we pass it through?

[2016-12-26 18:57] kosmasdamianos opened #12235 "failed to connect the local repository"
Hello,
I am trying  to connect my local repository with the remote repository, but it fails to do so. Instead I get the message " fatal: remote origin already exists " , afterwards it asks for my username which I provided and my password, which I couldn't type it in . When I click return, I get the following message " remote: anonymous access to kosmasdamianos/iTipper.git denied. fatal: Authentica

[2016-12-26 19:05] texas2010 commented on #12235
@kosmasdamianos, it seems your problem is nothing with FreeCodeCamp site.  sorry. this issue thread is only FreeCodeCamp repo.

[2016-12-26 19:05] #12235 closed

[2016-12-26 19:17] BartekKwapisz commented on #8435
I also tried this and it worked"
  // Only change code below this line.
var gear = 0;
var x="";
this.setGear = function(set){
   x = gear+set; };
this.getGear=function(){
   return x; };
};
Looks like when you write "gear += set;" it add first myBike.setGear(4) to myBike.setGear(3) what returns 7 when it checks for myBike.setGear(3) (because 4+3=7).

[2016-12-26 20:04] Aeolionx opened #12236 "Synchronization Issue in between multiple computers."
If while I have freecodecamp opened on my main computer and I complete anything on another computer, whatever I complete on the other computer does not sync up with other computers. In order to synchronize the completed lessons I have to go to my profile and click 'view solution' and resubmit it. Not a huge issue but might scare some people before they figure out how to sync it up.

I believe this

[2016-12-26 21:47] GeniaT commented on #10837
Hi, I see this issue as closed but I spent an hour trying to figure out why I the editor didn't pass the 5th test. Maybe include the // no protect information in the instruction?

[2016-12-26 22:33] akshay231 commented on #3078
you can try refreshing, i just checked - your code is working

[2016-12-26 22:41] systimotic commented on #12125
@raisedadead I agree. I've seen quite a few issues about dot notation vs. bracket notation. They show that the way we teach this isn't clear to many people. I'm not aware of whether the curriculum expansion takes care of this or not.
Some issues that I have recently come across that might be (somewhat) related:
https://github.com/FreeCodeCamp/FreeCodeCamp/issues/12141
https://github.com/FreeCodeCa

[2016-12-26 22:45] #12214 closed

[2016-12-26 22:45] dixon1305 commented on #7811
I'm still having the same problem. I have changed it many times and still get the same results

[2016-12-26 22:54] systimotic commented on #12206
Thanks for reporting this issue @abiralsambhu!
It seems this issue is unique to Chromium. I would've expected any bug that occurs in Chromium also to occur in Chrome, but weird things happen!
You mentioned in your issue that it does work fine in the first challenge. Can you please share the code and a screenshot from that?
Can you also please try a different browser, and check whether your browser

[2016-12-26 22:58] systimotic commented on #8841
Hi all! Some good points are made here. The projects are being redone in the curriculum expansion. Discussion of this can be continued in https://github.com/FreeCodeCamp/CurriculumExpansion/issues/59

[2016-12-26 22:58] #8841 closed

[2016-12-26 23:10] systimotic commented on #7697
How should we continue with this issue? I think moving it as @abhisekp suggested would be the way to go.
Should be mark that as help wanted here, or should we move this to the curriculum expansion?

[2016-12-27 00:04] iebert1 commented on #6143
Works well!

function multiplyAll(arr) {
  var product = 1;
  for (var i = 0; i < arr.length; i++){
    for (var j = 0; j < arr[i].length; j++){
     product *= arr[i][j];
    }
  }
  return product;
}
multiplyAll([[1,2],[3,4],[5,6,7]]);

[2016-12-27 00:59] aquasaurious commented on #12078
I thought it was a bug at first, but then I re-read the text to the left.  OP's code would work IRL, but there is another way to answer the question, and you'll see it when you read the explanation.

[2016-12-27 01:26] linjojesan opened #12237 "I think I found another bug. I entered this code and it's not progressing to the next challenge."
Challenge [Give a Background Color to a Div Element](https://www.freecodecamp.com/challenges/give-a-background-color-to-a-div-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20

[2016-12-27 01:56] Marmiz commented on #12237
Dear @linjojesan, your code has a typo in the `style` section.

If you look closely between `.smaller-image` and `.silver-background` there's a open curly braces that belong to nothing.
[code]

According to CSS rules, a browser will ignore all the invalid part of a stylesheet therefore your code won't pass.

Next time you have difficulties try asking for help in the [official help chat room](https

[2016-12-27 02:08] texas2010 commented on #12237
@Marmiz is right about that. It is not bug.   it is typo problem.

thank you.

[2016-12-27 02:08] #12237 closed

[2016-12-27 02:22] kent37 commented on #8845
I also have trouble reading colored text on a black background. A high-contrast setting which keeps the black background would be just as hard to read.

[2016-12-27 03:18] linjojesan commented on #12237
You're exactly right, damn typo's! I fixed it. Thank you, for your help!

On Mon, Dec 26, 2016 at 6:10 PM, Lance <notifications@github.com> wrote:

[2016-12-27 03:56] mszaf commented on #11882
@systimotic
I think what would be most helpful for users woukd be a test to check if they're using an incorrect object access method. Then they're given an explanation as to why they can't use their implementation if they use the wrong method.

Is more of a thing of if you have information written in the introduction some may not read it. If someone makes a mistake and is presented with the exact

[2016-12-27 05:54] QuincyLarson commented on #12230
@raisedadead @yunnysunny  Even after we move to GoMix, we still want campers to have the option of hosting their apps other places. The code just has to be publicly accessible. GitLab and BitBucket are fine.

[2016-12-27 05:54] #12230 closed

[2016-12-27 10:10] Indhumathivishalini opened #12238 "I couldn't able to figure out the issue.so please help me to findout."
Challenge [Nesting For Loops](https://www.freecodecamp.com/challenges/nesting-for-loops#?solution=%0Afunction%20multiplyAll(arr)%20%7B%0A%20%20var%20product%20%3D%201%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20for%20(var%20i%20%3D0%20%3B%20i%3C%20arr.length%3Bi%2B%2B)%20%7B%0A%20%20%20for(var%20j%3D0%20%3B%20j%3Carr%5Bi%5D.length%3B%20j%2B%2B)%0A%20%20%20product*%3Darr%

[2016-12-27 10:48] #12238 closed

[2016-12-27 11:04] mcube25 commented on #6112
earlier in the exercise it was explained that you can use bracket notation only were there is space in your variable but i cant see the connection now.

[2016-12-27 11:30] yeazes opened #12239 "Insert-Pointer-Issue in Chrome macOS fullscreen"
#### Challenge Name

https://www.freecodecamp.com/challenges/style-text-inputs-as-form-controls
But its the same with all other challenges.

#### Issue Description

Happens when using Chrome in macOS fullscreen and while hiding the toolbars (2nd in "Views" tab).
Then it often happens that when I try to click on certain spots on the code (for example the word personality in this challenge) then the

[2016-12-27 16:20] raisedadead commented on #12239
@yeazes can you confirm this is the same as #7847? And most certainly this is not related to the toolbar at all.

[2016-12-27 16:41] codelaw90 commented on #7806
I did the same thing, but it's not working. I really want to figure this out.

[2016-12-27 16:45] yeazes commented on #12239
Yes that is the same problem! Could be thats its not related to the toolbar and its hard to reliably reproduce it too.

[2016-12-27 17:04] francis951 commented on #5673
this code isn't working for me atall

var myStr="\\ \t \t \r \n"; // Change this line

what should i do friend am completely stuck!

[2016-12-27 17:09] raisedadead commented on #12239
@yeazes thanks for confirming, please follow along that other thread for work around, and we have fixed this in a new upcoming release. Please bear with us until its out.

Closing in favor of #7847 as a duplicate.

[2016-12-27 17:09] #12239 closed

[2016-12-27 17:11] santhu342 opened #12240 "Wrong h2 elements"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-12-27 19:02] kbakermemphis opened #12241 "Code editor not working properly"
#### Challenge Name

#### Issue Description

The code editor won't let me select or even navigate down to the last two lines of code. The 3rd line from the bottom it will let me select 2/3s of the line and the 4th line up will let me select about 3/4.

#### Browser Information

* Browser Name, Version: Google Chrome Version 55.0.2883.87 m
* Operating System: Windows 7
* Mobile, Desktop, or Tablet:

[2016-12-27 21:12] hoanluannguyen opened #12242 "Ask about: Make Object Properties Private"
Challenge [Make Object Properties Private](https://www.freecodecamp.com/challenges/make-object-properties-private#?solution=%0Avar%20Car%20%3D%20function()%20%7B%0A%20%20%2F%2F%20this%20is%20a%20private%20variable%0A%20%20var%20speed%20%3D%2010%3B%0A%0A%20%20%2F%2F%20these%20are%20public%20methods%0A%20%20this.accelerate%20%3D%20function(change)%20%7B%0A%20%20%20%20speed%20%2B%3D%20change%3B%0A%20

[2016-12-27 21:13] hoanluannguyen commented on #12242
Can you please help me out with it, I totally no glue with the instruction talking about

[2016-12-27 21:26] dbess1 commented on #12197
@Bene2dict Kindly show a screen shot of the challenge with the wrong code passing through. The challenge doesn't seem to go on because of the syntax error.

[2016-12-27 21:51] Dayfiri commented on #12242
Hey @hoanluannguyen,
This forum is only for submitting bugs. For problems with solving the assignments you can find find help [here](https://gitter.im/FreeCodeCamp/Help). There is enough people every day to give you a hand in your learning journey.
Wish you all the best in future learning and happy coding ;)

[2016-12-27 22:40] batable commented on #12019
The same happened to me

[2016-12-28 00:08] erictleung commented on #12240
@santhu342 thanks for the issue, but can you be more specific on what your issue is? Please fill out the missing information in the issue template, such as challenge name and what your code is. This will help us help you. Thanks!

[2016-12-28 00:10] erictleung commented on #12242
@hoanluannguyen Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/

[2016-12-28 00:10] #12242 closed

[2016-12-28 00:14] erictleung commented on #12236
@Aeolionx thanks for the issue. Your code solutions are saved in cache and in the database. So switching computers should not (as of now) show your code, unless you go to our profile, as you've mentioned. So this is the intended behavior of the website. It would be convenient if your code was just pulled down from the database.

cc/ @FreeCodeCamp/moderators this is probably a low priority change i

[2016-12-28 01:33] masters-george opened #12243 "Instructions for this module and the check points beneath the instructions have different values. Both should agree on the values of a, b, and c, respectively"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version: Chrome
* Operating System: Linux
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

Instructions
Initialize the three variables a, b, and c with 5, 10, and "I am a" respectively so that they will not be undefined.

Run tests (ctrl + enter)
Reset	Help	Bug

a = 7, b = 20, c = 'I am a S

[2016-12-28 03:23] erictleung commented on #12243
@masters-george Thank you for reporting this issue. The instructions are consistent. The tests are the results of running all of the code. Please consult the help rooms for more help.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the

[2016-12-28 03:23] #12243 closed

[2016-12-28 06:35] rahman20867 opened #12244 "Disable an Element Using jQuery passes with incorrect code."
Challenge [Disable an Element Using jQuery](https://www.freecodecamp.com/challenges/disable-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target1%22).prop(%22disabled%22%2C%20true)%3B%0A%20%20%7D)%3B%0Afcces%0A%0A%3C!--%20Only%20change%20code%20above%20this%20lin

[2016-12-28 08:42] kellykevin commented on #5673
Hello my friend ? can you try with this one line below ?
 var myStr = "FirstLine\n\\SecondLine\\\rThirdLine";
Thank you ...

On Tue, Dec 27, 2016 at 9:06 AM, francis Murungi <notifications@github.com>
wrote:

[2016-12-28 13:46] raisedadead commented on #12244
I cannot seem to pass the challenge with:

[code]

Please share screenshots if its passing.

[2016-12-28 13:48] raisedadead commented on #12186
Please comment below if this is still an issue.

[2016-12-28 13:48] #12186 closed

[2016-12-28 13:49] raisedadead commented on #12197
Please comment below if this is still an issue.

[2016-12-28 13:49] #12197 closed

[2016-12-28 13:50] rahman20867 commented on #12244
Type false like this ("false")

On Dec 28, 2016 8:48 AM, "mrugesh mohapatra" <notifications@github.com>
wrote:

[2016-12-28 13:56] raisedadead commented on #12244
[code]

This is invalid code, because now what you are passing is not a `boolean` but a `string`. And hence it resolves as true.

@FreeCodeCamp/moderators do you think we need any explicit checks for bad code, IMHO that's going to be a real world interpretation as well?

[2016-12-28 13:56] #12244 closed

[2016-12-28 13:59] raisedadead commented on #12141
@IsaacAbrahamson thanks.

[2016-12-28 14:00] raisedadead commented on #12143
Closing in favor of issue #12141

[2016-12-28 14:00] #12143 closed

[2016-12-28 14:02] raisedadead commented on #12141
Contributors need to refactor this challenge along with `[Updating Object Properties](https://www.freecodecamp.com/challenges/updating-object-properties)` as well. Please comment below with suggested refactoring for both before making a pull request.

/cc @erictleung thoughts?

[2016-12-28 14:03] raisedadead commented on #12125
thanks, @systimotic let's continue the discussion on #12141

[2016-12-28 14:03] #12125 closed

[2016-12-28 14:04] raisedadead commented on #12141
Also please check @systimotic' https://github.com/FreeCodeCamp/FreeCodeCamp/issues/12125#issuecomment-269246606

[2016-12-28 14:06] raisedadead commented on #12190
This is due to the automatic code execution on the jQuery challenges. Can anyone confirm if this is resolved  in the staging.

I will do so as well, but may be delayed in getting back.

[2016-12-28 14:09] raisedadead commented on #12173
@systimotic that project aims to target for backend challenges only.
@BerkeleyTrue do we have any plans to remove the storing code from visiting someone's solution in the cache?

[2016-12-28 14:13] raisedadead commented on #12236
Yes, that is the intended behavior. And yeah, I am not sure that this can be taken up soon enough, but Pull requests are welcome, I vote this can be tagged help wanted, post we deploy react challenges, so for now, I will just go ahead and tag blocked.

[2016-12-28 16:24] Archknight93 commented on #12236
hello

On Wed, Dec 28, 2016 at 3:14 PM, mrugesh mohapatra <notifications@github.com

[2016-12-28 16:39] c0d0er2 opened #12246 "JavaScript Help"
Challenge [Understanding Case Sensitivity in Variables](https://www.freecodecamp.com/challenges/understanding-case-sensitivity-in-variables#?solution=%0A%2F%2F%20Declarations%0Avar%20camelCase%20%3D%2010%3B%0Avar%20camelCase%20%3D%20%22A%20String%22%3B%0Avar%20camelCase%20%3D%209000%3B%0A%0A%2F%2F%20Assignments%0AcamelCase%20%3D%2010%3B%0AcamelCase%20%3D%20%22A%20String%22%3B%0AcamelCase%20%3D%209

[2016-12-28 16:46] texas2010 commented on #5673
@francis951 @kellykevin
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2016-12-28 17:15] Derp648 opened #12247 "i can't go to the link that i made"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2016-12-28 17:18] lrue412 commented on #12247
[code]
*href.

[2016-12-28 18:05] BacksSlash092 opened #12248 "When Submitting the variable var c="I am "; it wont continue."
Challenge [Understanding Uninitialized Variables](https://www.freecodecamp.com/challenges/understanding-uninitialized-variables#?solution=%0A%2F%2F%20Initialize%20these%20three%20variables%0Avar%20a%3D5%3B%0Avar%20b%3D10%3B%0Avar%20c%3D%22I%20am%20%20%22%3B%0A%0A%2F%2F%20Do%20not%20change%20code%20below%20this%20line%0A%0Aa%20%3D%20a%20%2B%201%3B%0Ab%20%3D%20b%20%2B%205%3B%0Ac%20%3D%20c%20%2B%20%2

[2016-12-28 18:14] texas2010 commented on #12246
@c0d0er2
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2016-12-28 18:14] #12246 closed

[2016-12-28 18:15] texas2010 commented on #12247
@Derp648
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-12-28 18:15] #12247 closed

[2016-12-28 18:16] texas2010 commented on #12248
@BacksSlash092
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2016-12-28 18:16] #12248 closed

[2016-12-28 19:43] dienluong commented on #3264
For those running into this issue, you can use this API instead: https://market.mashape.com/andruxnet/random-famous-quotes

Contrary to the API at forismatic, this one supports CORS.

[2016-12-28 20:34] vlavik007 opened #12250 "Unable to link GitHub account"
Hi everyone.
I get the following error.

I sent a message to the email.
So, I'd like to know: how much time they need to help me?
Thanks in advance.

[2016-12-28 20:39] #12250 closed

[2016-12-28 20:43] valishah commented on #12141
Hi @raisedadead ,
 By reading all the issues related to object notations i understood it's not obvious for a beginner. They seemed straight to me. In order to make it even simpler how about making these changes.

Accessing Objects :  (https://github.com/FreeCodeCamp/FreeCodeCamp/issues/12141)
[code]
I don't see any issue with Updating Objects . Correct me if i'm wrong.
Even i'm thinking to add Nes

[2016-12-28 22:11] joaoeffting commented on #3878
this is happening to me yet. Cannot run or reset my code and the browser freeze

[2016-12-28 23:09] QuincyLarson commented on #12236
@raisedadead this is a known long-time issue. @BerkeleyTrue thinks we can solve this as part of our move to a multi-file editor interface by writing changes to the database as they happen. I'm closing this issue since addressing this is already on our roadmap.

[2016-12-28 23:09] #12236 closed

[2016-12-28 23:22] greenfreq opened #12252 "Goal doesn't account for commented code"
Less of a bug in that the student can just erase the commented code and pass the challenge.  That said, if you comment out the second if statement, you will be met with the "You should have only one if statement" even though the code effectively has only one if statement.

Maybe the pattern matching doesn't take into account commented code.

Challenge [Comparisons with the Logical Or Operator](htt

[2016-12-28 23:25] robbawebba commented on #12054
I just noticed that another issue was submitted 5 days ago about the same problem (#12198) and was closed because the changes were already added to staging with PR #10286, as I noticed and commented about earlier, so this issue could probably be closed as resolved in staging. Happy holidays and happy coding!

[2016-12-28 23:45] fizzvr commented on #12103
Working with the latest changes.

[2016-12-28 23:55] tinaele opened #12253 "HI i have problem with this challenge,i have changed my browser zoom (100%) but it still doesn"t work"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%7D%0A%0A%20

[2016-12-29 00:10] texas2010 commented on #12253
@tinaele
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-12-29 00:10] #12253 closed

[2016-12-29 01:20] akkuraten commented on #12183
+1

[2016-12-29 02:56] erictleung commented on #12141
@raisedadead let's see if I can address this object issue.

So for the initial challenge on objects, ["Build JavaScript Objects"](https://www.freecodecamp.com/challenges/build-javascript-objects), the sample object has all the properties being strings. Maybe we can add in another sample object with different typed properties, like

[code]

This _might_ be more confusing but it does explore the pos

[2016-12-29 03:05] vmsilva19 opened #12255 "It seems okay, but I don't get the feedback. I think it's crashed or something (the lesson steps are green)"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2016-12-29 03:07] vmsilva19 commented on #12255
The lesson wasn't finished even seeming fine.

[2016-12-29 03:13] texas2010 commented on #12255
@vmsilva19,
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

by the way, you need to check link in href. that is your hint.
Happy Coding.

[2016-12-29 03:13] #12255 closed

[2016-12-29 04:02] jwebking commented on #11351
@harshtomar6 could you please explain how the **if statemen**t works in your while statement? I'm having trouble understanding how the **if statement** works in the while loop. Specifically, how the (n<r[i]) works. If I input 0, is n becoming 1, or -1? What happens if n is 11 to start with?

[code]

Thank you in advance.

[2016-12-29 04:48] libanali18 opened #12256 "img"
Challenge [Add Images to your Website](https://www.freecodecamp.com/challenges/add-images-to-your-website#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%

[2016-12-29 04:58] Marmiz commented on #12256
Hello @libanali18,
If you read the lessons checkmarks at the bottom-left of the screen you'll see that you are failing one:

In your code you are not providing any `alt` attribute; add that and you'll progress.

Also it's important mentioning that the `src` attribute must be enclosed in quotes:
`src=" "`

This tracking is for bugs only, please consider asking for help in the official [chat room](h

[2016-12-29 05:14] chiksl opened #12257 "Title Case a Sentence"
Challenge [Title Case a Sentence](https://www.freecodecamp.com/challenges/title-case-a-sentence#?solution=%0Afunction%20titleCase(str)%20%7B%0A%20%20var%20strArr%3D%5B%5D%3B%0A%20%20var%20newStr%3D%22%22%3B%0A%20%20strArr%3Dstr.split('%20')%3B%0A%20%20for(var%20i%3D0%3Bi%3CstrArr.length%3Bi%2B%2B)%7B%0A%20%20%20%20newStr%20%2B%3D%20strArr%5Bi%5D%5B0%5D.toUpperCase()%20%2B%20strArr%5Bi%5D.slice(1%2

[2016-12-29 05:22] Marmiz commented on #12257
That's because you are adding a space ( ` + "  "`) even at the end of the string.
In fact I have tested your code here: [repl.it](https://repl.it/Exzr/0)
And you see the output to be:
`'I\'m A Little Tea Pot '`

While the program expect: ``'I\'m A Little Tea Pot'` (no space at the end).
I know it's tiny but it's a difference :)

[2016-12-29 05:54] chiksl commented on #12257
Thank you!

[2016-12-29 06:17] chiksl commented on #12257
,,,
function titleCase(str) {
  var strArr=[];
  var newStr="";
  strArr=str.split(' ');
  for(var i=0;i<strArr.length;i++){
    newStr += strArr[i][0].toUpperCase() + strArr[i].slice(1,strArr[i].length).toLowerCase() + " ";
  }
  return newStr.slice(0,newStr.length-1);
}
,,,
Solved!

[2016-12-29 06:19] andreMc05 commented on #12141
How about saying that bracket notation is a more dynamic form of manipulating objects. You can use strings that can step outside of most of the JavaScript rules of declaration, like beginning with numbers and using string a with spaces as property names. You can also place variables inside of square brackets allowing properties to be assigned on the fly or via some side effect. Say for example you

[2016-12-29 06:38] gowthammurugan commented on #3204
![screenshot 4](https://cloud.githubusercontent.com/assets/24809769/21538102/7205c4ee-cdbf-11e6-9cad-76de7a116047.png)
how to clear?

[2016-12-29 07:30] #12256 closed

[2016-12-29 07:33] raisedadead commented on #12257
@Marmiz
Thanks a lot for helping out, we sincerely request you to redirect help issues to chat and provide guidance there, any code guidance on the tracker is discouraged.

[2016-12-29 07:33] #12257 closed

[2016-12-29 07:35] raisedadead commented on #12252
Agreed, this has been a long persisting problem. I know it's a minor inconvenience, however, we should look handling comments more elegantly.

[2016-12-29 07:37] raisedadead commented on #12240
Please comment with the requirement stated above, and we can re-open.

[2016-12-29 07:37] #12240 closed

[2016-12-29 07:38] raisedadead commented on #12205
Please comment with the requirement stated above, and we can re-open.

[2016-12-29 07:38] #12205 closed

[2016-12-29 07:38] raisedadead commented on #12206
Please comment with the requirement stated above, and we can re-open.

[2016-12-29 07:38] #12206 closed

[2016-12-29 07:58] libanali18 commented on #12256
how do fixed im really confused

[2016-12-29 09:54] siguniang commented on #6235
result = myNoun+" "+ myAdjetive+" "+ myVerb + " "+ myAdverb;
why need   +" "+  ,like this?

[2016-12-29 10:02] siguniang opened #12258 "Word Blanks ,why this writing code ,reason?"
![6](https://cloud.githubusercontent.com/assets/24384921/21541333/5bfdbb58-cdf0-11e6-9bc9-0f521428fbd2.png)

#### Word Blanks

#### Issue Description

why need add +"  "+?
result=myNoun+" "+myAdjective+" "+myVerb+" "+myAdverb;

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-12-29 10:06] siguniang commented on #9233
![25](https://cloud.githubusercontent.com/assets/24384921/21541463/8603e4a8-cdf1-11e6-8e6c-a7cd0a8f52ef.png)

[2016-12-29 10:18] Dayfiri commented on #11351
@jwebking
Hey man. For the logic behind converting number -> roman numeral, check [this](http://www.rapidtables.com/convert/number/how-number-to-roman-numerals.htm) link. I used this example as a logic which I later implemented in the code.

[2016-12-29 10:25] Dayfiri commented on #12258
@siguniang
Implementation of ` + " " + ` is there so that your output would be more tidy and readable.
output using ` + " " + ` --> `'cat little hit slowly'`
output without using it --> `'catlittlehitslowly'`

For future help please use FCC [help chat](https://gitter.im/FreeCodeCamp/Help) room. This forum is only for submitting bugs.
Thanks and happy coding ;)

[2016-12-29 10:47] siguniang commented on #7603
function wordBlanks(myNoun, myAdjective, myVerb, myAdverb) {
  var result = "";
  // Your code below this line
  result=myNoun+" "+myAdjective+" "+myVerb+" "+myAdverb;
  //result="dog, big, ran ,quickly";
  //result="cat, little, hit ,slowly";

  // Your code above this line
  return result;
}

// Change the words here to test your function
wordBlanks("dog", "big", "ran", "quickly");
wordBlanks("c

[2016-12-29 10:48] siguniang commented on #6251
function wordBlanks(myNoun, myAdjective, myVerb, myAdverb) {
  var result = "";
  // Your code below this line
  result=myNoun+" "+myAdjective+" "+myVerb+" "+myAdverb;
  //result="dog, big, ran ,quickly";
  //result="cat, little, hit ,slowly";

  // Your code above this line
  return result;
}

// Change the words here to test your function
wordBlanks("dog", "big", "ran", "quickly");
wordBlanks("c

[2016-12-29 11:01] snehashisc opened #12259 "Concat Issue"
Challenge [Concatenating Strings with Plus Operator](https://www.freecodecamp.com/challenges/concatenating-strings-with-plus-operator#?solution=%0A%2F%2F%20Example%0Avar%20ourStr%20%3D%20%22I%20come%20first.%20%22%20%2B%20%22I%20come%20second.%22%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0Avar%20myStr%20%3D%20'This%20is%20the%20start.'%20%2B%20'This%20is%20the%20end.'%3B%0A%0A

[2016-12-29 11:06] snehashisc commented on #12259
Looks like there is a bug. Even after displaying the right value it doesn't show the task to be completed.

[2016-12-29 11:32] bhuwan1998 opened #12260 "there's a typo in the guidelines with selecting the button, its $('#button').prop('disabled', true); instead of $("button").prop("disabled", true);"
Challenge [Disable an Element Using jQuery](https://www.freecodecamp.com/challenges/disable-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%24('%23target1').prop('disabled'%2C%20true)%3B%0A%0A%20%20%7D)%3B%0Afcces%0A%0A%3C!--%20Only%20change%20code%20above%20this%20line.%20--%

[2016-12-29 11:33] bhuwan1998 commented on #12260
the guidelines tell you to type $("button").prop("disabled", true); instead of $('button').prop('disabled', true);

[2016-12-29 13:44] dhcodes commented on #12260
@bhuwan1998 either will work and if you click the Reset Code button you'll see that there is no prescribed code in the editor so the camper could type it using `'` or `"`. Please reopen if I'm mistaking the issue.

[2016-12-29 13:44] #12260 closed

[2016-12-29 13:45] dhcodes commented on #12259
@snehashisc You have a small error in your code. Please consider asking for help in the chat room by clicking the Help button on the challenge. Also, reading the Note on the challenge may help.

[2016-12-29 13:45] #12259 closed

[2016-12-29 13:46] dhcodes commented on #12258
@Dayfiri is correct. The goal is for the end result to appear as a sentence would. Closing as resolved. Thanks @Dayfiri

[2016-12-29 13:46] #12258 closed

[2016-12-29 15:03] jwebking commented on #11351
@Dayfiri Thanks for the link, I appreciate it!

[2016-12-29 15:21] Arzani07 opened #12261 "Escape Sequences in Strings"
the code doesn't work

#### Escape Sequences in Strings

https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%3D%22FirsLine%20%5Cn%20%5C%5CSecondLine%5C%5C%20%5Cr%20ThirdLine%22%3B%20%0A%0A%0A

#### Your Code

[code]

[2016-12-29 16:42] jch1n commented on #1646
I have 3 #target5 button.. can someone help?

[image](https://cloud.githubusercontent.com/assets/23186465/21548679/be1a92e2-ce28-11e6-82bc-d837f39d9254.png)

[2016-12-29 16:57] CodeHawks opened #12262 "b= 9+ b; is bugged when changed to 9+=b;"
Challenge [Compound Assignment With Augmented Addition](https://www.freecodecamp.com/challenges/compound-assignment-with-augmented-addition#?solution=%0Avar%20a%20%3D%203%3B%0Avar%20b%20%3D%2017%3B%0Avar%20c%20%3D%2012%3B%0A%0A%2F%2F%20Only%20modify%20code%20below%20this%20line%0A%0A%20a%20%2B%3D%2012%3B%0A%209%20%2B%3D%20b%3B%0Ac%20%2B%3D%207%3B%0A%0A) has an issue.
User Agent is: <code>Mozilla/5

[2016-12-29 17:03] raisedadead commented on #12261
Hi @Arzani07

Thanks for the report.

The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-12-29 17:03] #12261 closed

[2016-12-29 17:04] raisedadead commented on #12262
Hi @CodeHawks

Thanks for the report. Your code is incorrect.

The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-12-29 17:04] #12262 closed

[2016-12-29 18:46] vikasmonga14 opened #12263 "Iam unable to solve this ? Between the style tags, give the p elements font-size of 16px. Browser and Text zoom should be at 100%."
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%20%20p%7Bfont-size%3A%2016px%3B%7D%20%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%2

[2016-12-29 18:46] rrosq opened #12264 "Saved Progress"
Challenge [Use an ID Attribute to Style an Element](https://www.freecodecamp.com/challenges/use-an-id-attribute-to-style-an-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-12-29 18:47] #12264 closed

[2016-12-29 18:58] texas2010 commented on #12263
@vikasmonga14
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-12-29 18:58] #12263 closed

[2016-12-29 19:04] vikasmonga14 commented on #12263
Thanx but how should I move to next challenge

[2016-12-29 19:40] KamalHunzai opened #12265 "Says propers Escape Sequences, I am not sure what's wrong with it."
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%20%3D'%5C%5Chello%20%5Cn%20Hello%20I%20am%20going%20do%20it%20%5Cr%20What%20is%20going%20on%20%5C%5C'%3B%20%2F%2F%20Change%20this%20line%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko

[2016-12-29 19:43] texas2010 commented on #12265
@KamalHunzai
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2016-12-29 19:43] #12265 closed

[2016-12-29 20:48] bradleybossard opened #12266 "b should be assigned to a rather than a assigned to b"
The last requirement of this challenge reads

a should be assigned to b with =

Shouldn't it read

b should be assigned to a with =

Challenge [Storing Values with the Assignment Operator](https://www.freecodecamp.com/challenges/storing-values-with-the-assignment-operator#?solution=%0A%2F%2F%20Setup%0Avar%20a%3B%0Avar%20b%20%3D%202%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0Aa

[2016-12-29 21:30] mecm1993 opened #12267 "Not performing check mark on #11 of HTML and CSS"
#### Style Multiple Elements with a CSS Class

https://www.freecodecamp.com/challenges/style-multiple-elements-with-a-css-class

#### Issue Description

Testcases of challenge were completed successfully, but challenge check mark is not working.

#### Browser Information

Currently working in Chrome.

* Browser Name, Version:  52.0.2743.116 m
* Operating System: Windows 7 Professional
* Mobile, De

[2016-12-29 21:31] #12267 closed

[2016-12-29 21:32] hamda11 opened #12268 "I did all the colours right,except for red and blue"
Challenge [Use RGB to Mix Colors](https://www.freecodecamp.com/challenges/use-rgb-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20rgb(225%2C%200%2C%200)%3B%0A%20%20%7D%0A%20%20.orchid-text%20%7B%0A%20%20%20%20color%3A%20rgb(218%2C%20112%2C214)%3B%0A%20%20%7D%0A%20%20.sienna-text%20%7B%0A%20%20%20%20color%3A%20rgb(160%2C%2082%2C%2045)%3B%0A%20%20%7D%0A%20%20.

[2016-12-29 21:35] almightyjokerr commented on #12266
// Setup
var a;
var b = 2;
var a= 7;
var b=7;

// Only change code below this line
b = a = 7;

should look like this

[2016-12-29 22:31] revisualize commented on #12266
The verbiage is correct on the challenge.

How do you assign the value of 7 to a variable `num`? ... `var num = 7;`
Now if you want you can use a variable to store values.
Like in mathmatics. `num` + 3 = 10 What is the value of `num`?
`var x = num + 3;` ... That outputs 10
So, you can do several things with variables. But, you need to understand that variables hold values and variables can be used

[2016-12-29 22:57] Rgalan08 commented on #6335
This worked for me....initializing p and place it with brackets " {}"
<style>
  .red-text {
    color: red;
  }

  p {
    font-size: 16px;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
<p>Purr jump eat the grass rip th

[2016-12-29 23:09] irtefa commented on #12268
for your rgb values for both red-text and blue-text, instead of picking '255' you picked '225'

[2016-12-29 23:16] mrgizmo commented on #7847
I have the same issue:
1. Can't position cursor in some areas, not with click, nor with keyboard arrows
2. When I try to delete something, other stuff is deleted, like cursor position is incorrect

This happens with chrome and firefox

[2016-12-29 23:16] abdelrahmansobhy opened #12269 "im stop in this test 15 :("
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%0A%3Cstyle%3E%0A%3Ccss%3E%0A%20%20%3Ch2%20style%3D%7Bcolor%3A%20blue%3B%7D%3ECatPhotoApp%3C%2Fh2%20style%3D%7Bcolor%3A%20blue%7D%3E%0A%3C%2Fcss%3E%0A%20%20%3C%2Fstyle%3E%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretc

[2016-12-29 23:23] ck7up commented on #7631
Utiliser un design réactif avec les conteneurs de fluide Bootstrap
 Réaliser des images mobiles
 Centre de texte avec Bootstrap
 Créer un bouton Bootstrap
 Créer un bouton d'amorçage d'élément de bloc
 Goût du bouton Bootstrap Couleur Rainbow
 Appeler Actions facultatives avec Info sur les boutons
 Avertissez vos utilisateurs d'une action dangereuse
 Utiliser la grille d'amorçage pour mettre les é

[2016-12-29 23:38] BerkeleyTrue commented on #12173
The code sharing overhaul would effect all challenges with solutions. The idea is to store code in redis and use ids to find that code instead of encoding them in the uri.

[2016-12-30 00:40] AkiraLaine commented on #12269
Hey! If you need help, please go to our [main](https://gitter.im/FreeCodeCamp/FreeCodeCamp) room or [help](https://gitter.im/FreeCodeCamp/Help) room. GitHub is for issues only. Happy Coding :smile:

[2016-12-30 00:40] #12269 closed

[2016-12-30 00:41] AkiraLaine commented on #12268
Hey! If you need help, please go to our [main](https://gitter.im/FreeCodeCamp/FreeCodeCamp) room or [help](https://gitter.im/FreeCodeCamp/Help) room. GitHub is for issues only. Happy Coding :smile:

[2016-12-30 00:41] #12268 closed

[2016-12-30 01:18] widal001 opened #12271 "Falsy Bouncer has JSON.stringify() incorrectly change NaN to null"
Challenge [Falsy Bouncer](https://www.freecodecamp.com/challenges/falsy-bouncer#?solution=function%20bouncer(arr)%20%7B%0A%0A%20%20function%20notFalse(item)%20%7B%0A%20%20%20%20if(item%20%3D%3D%3D%20false)%20%7B%0A%20%20%20%20%20%20return%20false%3B%0A%20%20%20%20%7D%20else%20if%20(item%20%3D%3D%3D%20%22%22)%20%7B%0A%20%20%20%20%20%20return%20false%3B%0A%20%20%20%20%7D%20else%20if%20(item%20%3D%3D

[2016-12-30 02:11] esaky commented on #8739
Getting the same error @erictleung

[2016-12-30 03:21] dhcodes commented on #12266
@revisualize is correct. Closing as resolved. Thanks @revisualize

[2016-12-30 03:21] #12266 closed

[2016-12-30 03:37] BerkeleyTrue commented on #12067
Are you talking about hints?

[2016-12-30 04:07] BerkeleyTrue opened #12272 "Refactor node-uuid to uuid"
Looks like `node-uuid` was renamed to `uuid` a while back and the `node-uuid` was left to stagnate. This should be a straight forward refactor. Make sure their have not been significant changes to the api.

Happy Coding!

[2016-12-30 04:12] #11627 closed

[2016-12-30 04:18] #11788 closed

[2016-12-30 04:30] esaky opened #12273 "Your a element should be nested within your new p element."
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2016-12-30 04:47] #12273 closed

[2016-12-30 04:50] esaky commented on #12273
<p>Click here for <a href="http://www.freecatphotoapp.com">cat photos</a>.</p> this shoule be added for the Fourth question.

[2016-12-30 05:10] #11830 closed

[2016-12-30 05:51] sanjithsan opened #12274 "Change the Font Size of an Element"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7Bcolor%3A%20red%3Bfont-size%3A16px.%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywh

[2016-12-30 06:02] raisedadead commented on #12067
Yes. I am not sure why the MDN links aren't available any longer in staging.

[2016-12-30 06:04] raisedadead commented on #7847
@mrgizmo thanks, please refer https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7847#issuecomment-260019777

[2016-12-30 06:37] QuincyLarson opened #12275 "Real time display of how many campers are using Free Code Camp"
We can hit Google Analytics realtime and show how many campers are using Free Code Camp at a given time. The plan is to replace the landing page with a simple call to action at the top of the page when a camper isn't logged in. My current copy is:

"Sign up to save your progress and hang out with the 502 campers who are coding here right now."

The number would change ever second based on the Goog

[2016-12-30 07:04] QuincyLarson opened #12276 "GitHub sign-in is not working on staging and beta"

[2016-12-30 07:40] ejang opened #12277 "Create Bootstrap Wells"
Challenge [Create Bootstrap Wells](https://www.freecodecamp.com/challenges/create-bootstrap-wells#?solution=%0A%3Cdiv%20class%3D%22container-fluid%22%3E%0A%20%20%3Ch3%20class%3D%22text-primary%20text-center%22%3EjQuery%20Playground%3C%2Fh3%3E%0A%20%20%3Cdiv%20class%3D%22row%22%3E%0A%20%20%20%20%3Cdiv%20class%3D%22col-xs-6%20well%22%3E%0A%0A%20%20%20%20%3C%2Fdiv%3E%0A%20%20%20%20%3Cdiv%20class%3D%2

[2016-12-30 09:00] erictleung commented on #12271
@widal001 thanks for the issue. Your issue isn't actually that it can't handle `null`, your code can't handle `NaN`.

[code]

cc/ @FreeCodeCamp/moderators what's weird, though, is that the page renders the `NaN` as `null`. Any ideas why this is? I'm sure it is some edge case or some initial code parsing I'm unfamiliar with.

[2016-12-30 09:02] erictleung commented on #12277
@ejang Thank you for reporting this issue. Your code is incorrect.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.free

[2016-12-30 09:02] #12277 closed

[2016-12-30 09:05] erictleung commented on #8739
@esaky thanks for the comment, but if you get stuck or have questions with a challenge, please ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help) to help you debug your error. Happy coding!

[2016-12-30 10:48] raisedadead commented on #12274
The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](http://forum.freecodecamp.com/c/free-code-

[2016-12-30 10:48] #12274 closed

[2016-12-30 11:38] lxl1001 commented on #12277
yes, I need

[2016-12-30 13:09] systimotic commented on #12271
Good catch @erictleung!
The `NaN` is displayed as `null` because the output is put through `JSON.stringify()`. JSON does not have `NaN` or `undefined` types, so they are converted to `null`.

I think showing the correct type in the output is important in this challenge. It could be fixed with a custom tail that converts the returned array into a string, adding quotes to the strings inside.
Would y

[2016-12-30 13:12] systimotic commented on #4201
As far as I'm aware the tests are currently done in the browser. Can this issue be closed?
/cc @FreeCodeCamp/moderators

[2016-12-30 13:23] systimotic commented on #12244
I think this challenge is good as is 👍
Nice work on experimenting @rahman20867! You always learn more if you experiment, keep it up!

[2016-12-30 15:22] smiley5396 opened #12279 "Class won't change text color."
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%C2%A0%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching

[2016-12-30 15:22] rohanayush opened #12280 "Rewrite same code"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-12-30 15:23] smiley5396 commented on #12279
[](u
![screenshot_20161230-101410](https://cloud.githubusercontent.com/assets/24832980/21567409/f2bed89a-ce79-11e6-8cd6-686032921100.png)

[2016-12-30 15:25] rohanayush commented on #12280
I have to again write the same code to work. First I have to delete a line in code suppose by using cut and then on pasting it ,the same code again works fine.

[2016-12-30 15:44] raisedadead commented on #12280
Looks like a duplicate of #7847. Can you check and follow the workaround mentioned there?

[2016-12-30 15:58] rohanayush commented on #12280
No its little different because just deleting one word or letter and then rewriting them doesn't works. I have to delete the whole line and write it again to work

[2016-12-30 16:04] raisedadead commented on #12280
I would recommend you try the workaround about pressing <kbd>enter</kbd>, once or twice and report. (Not delete anything).

Also, please share screenshots, the OS and Browser details as requested in the issue template and developer console logs (F12) --> Console tab.

[2016-12-30 16:34] ajain17 commented on #12279
I just copy pasted your code and it works fine for me.

The issue tracker is for reporting bugs only. Please use the help [chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](https://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

This issue can be closed.

[2016-12-30 17:15] rohanayush commented on #12280
![browserdetails](https://cloud.githubusercontent.com/assets/19414281/21569247/26881120-cee1-11e6-9315-1a5c4269803c.JPG)
![afteroneenterbeingpressed](https://cloud.githubusercontent.com/assets/19414281/21569260/425cb806-cee1-11e6-90b4-20fa446d4acc.JPG)
![state1](https://cloud.githubusercontent.com/assets/19414281/21569270/57eb64ce-cee1-11e6-9281-116e5f99e934.JPG)
State 1 is without any time enter

[2016-12-30 17:17] rohanayush commented on #12280
For clarity: For above comment-
  1. Browser details
  2.After enter has been pressed once
  3.Without enter being pressed
OS-windows 8

[2016-12-30 17:22] dhcodes commented on #12279
@smiley5396 this likely has to do with being on a mobile device. It's an issue with the non-breaking spaces generated by Chrome on Android. Remove the spacing and it will pass. See here: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7753

Closing as duplicate. Issue will be fixed on next site update.

[2016-12-30 17:22] #12279 closed

[2016-12-30 17:24] dhcodes commented on #4201
@systimotic thanks for looking at these issue deep-dives.

[2016-12-30 17:40] raisedadead commented on #12280
I am afraid the Screenshots do not help in understanding the issue... 😞 ! Do you have the console logs as stated in my comment above.

You can reach out to the [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors), if you need help in reporting the issue.

[2016-12-30 17:50] rohanayush commented on #12280
I had hit enter in the 10th line of code  i.e., after  ($(".target.nth-child(2)))              <enter pressed by me then>
.
.
").addClass("animated bounce");

Is this what you asked me for?

Excuse me, as I am new and thank you for your patience to look into the matter. :)

[2016-12-30 17:52] raisedadead commented on #12280
@rohanayush lets switch to the chat: [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors).

[2016-12-30 18:07] raisedadead commented on #4201
I would have loved to chime in, but considering this is a very old one, @BerkeleyTrue is the best judge of what this was about then.

[2016-12-30 18:08] dhcodes commented on #12272
I'll work on this.

[2016-12-30 18:52] artabstraction opened #12281 "Projects progressing but not updating in Phone View"
#### Challenge Name

This has happened for projects 9-12+ of the Responsive Design with Bootstrap section. I'm assuming it will continue as it's been.

#### Issue Description

I've been completing the Bootstrap projects with no problems, but the code does not update in the phone view. I'm progressing, and the code is correct, but it's not showing the changes I'm making in the simulated phone view.

[2016-12-30 19:15] xerokiryuu opened #12283 "Challenge Complete But The Loading Keeps On Going..."
#### Challenge Name
'Create a Set of Checkboxes'

#### Issue Description
I completed the challenge and It (the browser) gave a compliment as it (the browser) always does and I clicked on "Submit and go to my next challenge" button, but the problem that I'm facing is that, the loading keeps going on and on, I've waited for a significant amount of time just to rule out the "slow connection" thing. I

[2016-12-30 19:31] brianhankins commented on #11862
@ajain17, Are you still working on this? If not, I would like to work on this issue.

[2016-12-30 20:33] BerkeleyTrue commented on #12067
MDN links are no longer available in favor of hints. They need to be converted over to hints.

[2016-12-30 20:34] HaddadF opened #12285 "Cat App not resizing Image"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-12-30 20:41] BerkeleyTrue commented on #4201
Tests are still not run in the browser.

[2016-12-30 20:45] BerkeleyTrue commented on #12276
This is working fine on both ends for me. Can someone else confirm?

[2016-12-30 21:17] DarthOpto opened #12286 "#Target5 getting duplicated."
#### Challenge Name
Target the Parent/Childern of an Element using jQuery
https://www.freecodecamp.com/challenges/target-the-children-of-an-element-using-jquery

#### Issue Description
The ```$("#target5").clone().appendTo("#left-well");``` is duplicating the target 5 button in the left well.

#### Browser Information

* Browser Name, Version: Chrome 55.0.2883.95 (64-bit)
* Operating System: Mac O

[2016-12-30 21:19] raakesh commented on #12285
You should use class name _smaller-image_ in _img_ element.

Example:
`<img class= "smaller-image" src= "image link">`

[2016-12-30 21:26] kbakermemphis commented on #12241
That was it! Just had to hit enter, thanks.

On Tue, Dec 27, 2016 at 6:11 PM, Eric Leung <notifications@github.com>
wrote:

[2016-12-30 22:28] raisedadead commented on #4201
Ahhhhh, now I get it, @systimotic @dhcodes, Berkeley is talking about, the `npm run test-challenges`, these are "unit tests" that are validated against default solutions in CI.

This is a build validation step that is currently in console environment only.

JS Challenges are tested for breaks in the CI step, by validating against the solutions that you may see with the seed code in the JSON files.

[2016-12-30 22:30] raisedadead commented on #11862
@brianhankins please go ahead and make pull request if you are ready. Thanks.

[2016-12-30 22:34] raisedadead commented on #10163
Refer : https://github.com/FreeCodeCamp/FreeCodeCamp/issues/12067#issuecomment-269818773

Opening up to the community.

[2016-12-30 22:37] raisedadead commented on #12276
Yup, it works fine for both ends for me too. When I initially saw the issue, I got confused as well.
@QuincyLarson Can you specify some details, of the exact issue you might be facing?

[2016-12-30 22:42] raisedadead commented on #12283
This is most probably related to your browser extensions, can you test by opening the challenge in a new incognito window with all the add-ons disabled, in the recent past we have seen LastPass and Adblock-plus might be the conflicting ones mostly.

If it works in the incognito mode, then you could start by disabling your add-ons one by one, to confirm the one causing trouble.

[2016-12-30 22:44] raisedadead commented on #12285
Hi @HaddadF

Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](http:/

[2016-12-30 22:44] #12285 closed

[2016-12-30 22:49] raisedadead commented on #12286
Duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/5072, please search through closed issues as well before reporting.

[2016-12-30 22:49] #12286 closed

[2016-12-30 22:54] raisedadead commented on #12281
Hi @artabstraction! Apologies for the issue that you are experiencing.
Can you try and post the logs, from the Dev tools (Press <kbd>F12</kbd> --> Console Tab) for your browser? If there are any errors in red you could post them here for us to look into.

[2016-12-31 00:09] artabstraction commented on #12281
There were a few errors, but unfortunately I'm on another computer now and
can't seem to replicate the problem here. It's showing perfectly well on my
home desktop, but seems to be displaying oddly on Chrome on my work
desktop. I can post the logs on Tuesday, but unfortunately my office is
closed for New Years and won't be open till then. Is that a problem?

Thank you for all your help!
Sincerely,

[2016-12-31 02:07] #12272 closed

[2016-12-31 02:53] anamorell commented on #11612
make sure view is in default 100%

[2016-12-31 03:19] anamorell commented on #11895
keep the screen on default 100% and you will be able to get the cursor anywhere

[2016-12-31 03:39] QuincyLarson opened #12290 "Expand dropdown on hover"
The navbar dropdown should expand on hover. Here is the updated links JSON: https://gist.github.com/QuincyLarson/e5739f334bc72daf7cf77005099c2156

[2016-12-31 04:43] raisedadead commented on #12281
Oh! not a problem at all, I'll block this issue, and we can continue once again. BTW, I think as you mention it's at your workplace/office, there could be some firewall restrictions that may be a factor to your issue.

Logs will definitely help.

Let us know in the comments below.

[2016-12-31 06:23] erictleung commented on #12241
@kbakermemphis no problem! Sorry about the editor issues. The problem is with the code editor built-in and it has issues with really wide lines of code. So just a heads up of where this issue may pop up again. Closing as issue is duplicate of #7847. Happy coding!

[2016-12-31 06:23] #12241 closed

[2016-12-31 06:32] erictleung commented on #12271
@systimotic ah thanks! I missed the `.stringify()` part. I agree that the type should be correct. I think that should work, adding some code to modify the returned object just right should work.

Side note: man, JS is weird 😆

[2016-12-31 07:06] ittoufiq commented on #6896
var myStr = "This is the first sentence. " + "This is the second sentence.";
    myStr += "";

[2016-12-31 07:07] ohmiler commented on #3943
`function randomFraction() {

  // Only change code below this line.
  Math.random();
  return 2.122323;

  // Only change code above this line.
}`

[2016-12-31 07:24] ohmiler commented on #4561
[code]

[2016-12-31 08:19] sethpeters22 opened #12291 "Zoom issue"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3Bfont-size%3A%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20e

[2016-12-31 08:48] erictleung commented on #12291
@sethpeters22 Thank you for reporting this issue. Your code is incorrect. It doesn't follow the instructions laid out in the challenge. Please refer back to the challenge itself or the Gitter help rooms for more help.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Cod

[2016-12-31 08:48] #12291 closed

[2016-12-31 15:39] Kremr opened #12293 "Tribute page issue"
Challenge [Build a Tribute Page](https://www.freecodecamp.com/challenges/build-a-tribute-page) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/602.3.12 (KHTML, like Gecko) Version/10.0.2 Safari/602.3.12</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

The tribute page has an issue, in the caption stan

[2016-12-31 15:47] entrptaher opened #12294 "Finders Keepers: Passed the tests but I think either the tests were wrong or the rules set"
#### Challenge Name

https://www.freecodecamp.com/challenges/finders-keepers#?solution=%0Afunction%20findElement(arr%2C%20func)%20%7B%0A%20%20return%20arr.filter(func)%5B0%5D%3B%0A%7D%0A%0AfindElement(%5B1%2C%202%2C%203%2C%204%5D%2C%20function(num)%7B%20return%20num%20%25%202%20%3D%3D%3D%200%3B%20%7D)%3B

#### Issue Description

The rules says,
`findElement([1, 3, 5, 8, 9, 10], function(num) { ret

[2016-12-31 18:44] Mwamini opened #12295 "all my code are great but i dont pass the challenge/counting card challenge"
My code:
[code]

[2016-12-31 18:52] john-d-pelingo opened #12296 "Challenge Caesars Cipher has an issue."
Challenge [Caesars Cipher](https://www.freecodecamp.com/challenges/caesars-cipher#?solution=%0Afunction%20rot13(str)%20%7B%20%2F%2F%20LBH%20QVQ%20VG!%0A%20%20return%20str%0A%20%20%20%20.split('')%0A%20%20%20%20.map(letter%20%3D%3E%20%7B%0A%20%20%20%20%20%20var%20letterCharCode%20%3D%20letter.charCodeAt(0)%3B%0A%20%20%20%20%0A%20%20%20%20%20%20if%20(!(letterCharCode%20%3E%3D%2065%20%26%26%20letterC

[2016-12-31 19:18] William-Charles opened #12297 "not Accepting "Closed" as a string or as == "Closed""
Challenge [Exact Change](https://www.freecodecamp.com/challenges/exact-change#?solution=var%20changeDue%3B%0Avar%20drawerTotal%20%3D%200%3B%0A%0Afunction%20modularWhile(drawVal%2C%20curTar%2C%20curCoin)%7B%0A%20%20var%20counter%20%3D%200%3B%0A%20%20var%20arrBuild%20%3D%20%5B%5D%3B%0A%20%20%0A%20%20while(changeDue%20%3E%3D%20curCoin%20%26%26%20drawVal%20%3E%200)%7B%0A%20%20%20%20%0A%20%20%20%20if(c

[2016-12-31 19:35] josecab12 opened #12298 "ive asked a couple of people on the chat about this, they say the code is correct but even if i copy and paste their answer verbatim it says "Your page should have an image element. Your image should have a src attribute that points to the kitten image.""
Challenge [Add Images to your Website](https://www.freecodecamp.com/challenges/add-images-to-your-website#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3Cimg%20src%3D%22https%3A%2F%2Fbit.ly%2Ffcc-relaxing-cat%22

[2016-12-31 19:50] raisedadead commented on #12293
Thanks @Kremr fixed, good catch!

[2016-12-31 19:50] #12293 closed

[2016-12-31 21:13] havefuncoding opened #12299 "Instructions above and below RUN button mis-matching, challenge passing with above one"
**Challenge**: https://www.freecodecamp.com/challenges/understanding-uninitialized-variables
**Client**: Chrom 55.0.2883.95 (64-bit)
**Type**: Data Issue

**Actual**:  Instructions below the "Run..." button is -

1. a should be defined and have a value of **6**
2. b should be defined and have a value of **15**
3. c should not contain undefined and should have a value of **"I am a String!"**
4. Do

[2016-12-31 21:22] BerkeleyTrue commented on #12290
Why are you including a gist of the links?

[2016-12-31 23:45] #12276 closed

[2016-12-31 23:46] BerkeleyTrue commented on #12276
@QuincyLarson I'll hit you up on skype to help you resolve the issue.

[2017-01-01 01:01] greenfreq opened #12300 "Grammatical"
This is not really a bug, but I don't know where else to point it out.

The motorBike checklist should read "an engines attribute"  not "a engines attribute"

Challenge [Declare JavaScript Objects as Variables](https://www.freecodecamp.com/challenges/declare-javascript-objects-as-variables#?solution=%0Avar%20car%20%3D%20%7B%0A%20%20%22wheels%22%3A4%2C%0A%20%20%22engines%22%3A1%2C%0A%20%20%22seats%

[2017-01-01 02:50] Lorrie01 opened #12301 "this challenge is not functioning properly or needs to be re-worded."
Challenge [Local Scope and Functions](https://www.freecodecamp.com/challenges/local-scope-and-functions#?solution=%0Afunction%20myLocalScope()%20%7B%0A%20%20'use%20strict'%3B%0A%20%20%0A%20%20%0A%20%20console.log(myVar)%3B%0A%7D%0AmyLocalScope()%3B%0A%0A%2F%2F%20Run%20and%20check%20the%20console%0A%2F%2F%20myVar%20is%20not%20defined%20outside%20of%20myLocalScope%0Aconsole.log(myVar)%3B%0A%0A%2F%2F

[2017-01-01 03:32] dhcodes commented on #12300
While we're putting our grammatical hats on, I believe the line:

should read:

[2017-01-01 03:34] dhcodes commented on #12301
@Lorrie01 did you do this part of the instructions?

If so, please paste your code so we can troubleshoot. It may be helpful to visit the chat room and ask for help from other campers as well. You can do that by clicking the Help button on the challenge.

[2017-01-01 03:40] dhcodes commented on #12299
@havefuncoding I see what you mean, but the tests do ensure that the assignments of a, b, and c are correct. Opening for discussion. cc @FreeCodeCamp/moderators

[2017-01-01 03:42] dhcodes commented on #12298
@josecab12 you have an error in your code. You may want to ask again in the chat. Happy coding!

[2017-01-01 03:42] #12298 closed

[2017-01-01 03:47] dhcodes commented on #12297
Something does seem to be amiss with this.

[2017-01-01 03:52] dhcodes commented on #12296
@john-d-pelingo I believe this is a coding error. Some letters may need to be shifted 13 places one way, while others may need to be shifted 13 places the other way. Closing for now as I was able to get your code to work with a small change.

[2017-01-01 03:52] #12296 closed

[2017-01-01 03:55] dhcodes commented on #12295
@Mwamini you have a small coding error. Please ask for help in the chat room by clicking the Help button on the challenge page.

[2017-01-01 03:55] #12295 closed

[2017-01-01 03:58] dhcodes commented on #12294
@entrptaher the tests use your function with against the preset criteria. Therefore, while you may have modified the test in the console, the tests on the challenge are still using the same function which yields the correct results with the preset array.

[2017-01-01 03:58] #12294 closed

[2017-01-01 04:54] havefuncoding commented on #12299
@dhcodes I see what you mean, I had glossed over the lines 9-13. It makes sense now, closing, thank you

[2017-01-01 04:54] #12299 closed

[2017-01-01 05:17] ryzokuken commented on #12300
@dhcodes I would like to work on this. Could you point me to where the challenge messages are stored?

[2017-01-01 05:23] dhcodes commented on #12300
@ryzokuken

https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/object-oriented-and-functional-programming.json

[2017-01-01 05:54] KLRmarkie opened #12303 "Highlighting any text using keystrokes or a mouse is not possible in FCC editor."
I'm using Firefox version 50.1.0 and I cannot highlight any text in the FCC editor.  I have tried to do so with shift and the arrow keys and with my pointing device and have been able to do so.  The only success I have had is copying the image from the webpage which does me no service in editing.

Cheers.

[2017-01-01 06:24] #12303 closed

[2017-01-01 06:36] martincossani commented on #11173
it doesn't affect the output

[2017-01-01 09:43] Bouncey opened #12305 "Challenge - Friendly Date Ranges: Solution breaks build"
The current solution for `Friendly Date Ranges` currently breaks the build.

A PR is needed to update the solution in the seed files to be more robust.

The code for the challenge can be found [here](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/4598f5b42141a1d72e3f727059302e6eefb50f72/seed/challenges/01-front-end-development-certification/advanced-bonfires.json#L383)

[2017-01-01 09:46] a3j commented on #12301
hey @Lorrie01 , i completed this challenge not long ago. to clear things up, you need to remove `"console.log(myVar);"` at the bottom.

[2017-01-01 11:08] diogogomeswww commented on #3375
I don't understand.
The problem clearly says `If multiple pairs are possible that have the same numeric elements but different indexes, return the smallest sum of indexes.`

So for test case:
`[0, 0, 0, 0, 1, 1]
Indexes: [0,4], [1,5]
Values: [0,1],[0,1]`

The indexes 1+5 should be not included, hence the answer should be 0+4 = 4, right?

[2017-01-01 12:50] Lorrie01 commented on #12301
Thank you for your response and suggestions. Much appreciated!

Sent from my iPhone

[2017-01-01 15:42] JavaCodeZ opened #12307 "how can i change the size"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.smaller-image%20%7B%0A%20%20%20%20width%3A%20100px%3B%0A%20%20%7D%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%2

[2017-01-01 15:46] moondog5177 opened #12308 "problem keeps giving error that I'm not including enough Kitty ipsum text in my p elements.."
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%3Cstyle%3E%0A%20%20p%20%7Bfont-size%3A%2016px%3B%7D%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20am

[2017-01-01 15:53] Bouncey commented on #12305
It also seems the tests and instructions are out-dated. This challenge currently needs a full refactor.

cc\ @FreeCodeCamp/moderators this challenge has the potential to cause a headache every year.

If there is an alternative in the Curriculum Expension, can this challenge be retired?

[2017-01-01 15:58] Bouncey commented on #12307
@JavaCodeZ

You have successfully created the `.smaller-image` class, but you need to apply it to the `img` element for it to take effect.

This can be done in the same way that you applied the `.red-text` class to your `h2` element.

Normally GitHub issues are not for code help. In the future please us the `Help` button in the challenge you are having problems with and you will be taken to a dedi

[2017-01-01 15:58] #12307 closed

[2017-01-01 16:00] Bouncey commented on #12308
@moondog5177

Please read the challenge instructions again, with special attention as to what should be in your second `p` element.

Normally GitHub issues are not for code help. In the future please us the Help button in the challenge you are having problems with and you will be taken to a dedicated code help chat room.

Happy Coding

Closing because code help.

[2017-01-01 16:00] #12308 closed

[2017-01-01 16:20] Bouncey opened #12309 "Refactor for react-redux-form"
Please refer to [this comment](https://github.com/FreeCodeCamp/FreeCodeCamp/pull/12032#issuecomment-269728337)

`react-redux` have released a much improved module with greatly increase performance.

Unfortunately, we need to refactor all instances of `redux-form` into `react-redux-form` to be able to update `react-redux`

Please be sure to follow [CONTRIBUTING.md](https://github.com/FreeCodeCamp/F

[2017-01-01 21:36] dhcodes commented on #12301
Closing as resolved.

[2017-01-02 01:03] jonluvcodes opened #12311 "not letting run test?"
In html under Change the Color of Text
im change the color of h2 to blue and I did it but it not letting me run test I'm using a Galaxy S4 Mini

[2017-01-02 02:04] esaky commented on #8443
Hi guys,
The error came for me too. I just tried and changed the cat url ".jpg"
Now the "The finished input element should have valid syntax." is good.

but the second one "add cat url" is showing error !
![freecodecamp](https://cloud.githubusercontent.com/assets/10112128/21584015/948ca6bc-d0bd-11e6-8810-45af3e523094.PNG)

if we added the default code: "<input type="text" placeholder="https://bit.

[2017-01-02 02:16] esaky commented on #8443
The code is working now.
![freecodecamp1](https://cloud.githubusercontent.com/assets/10112128/21584059/41f53462-d0bf-11e6-87de-f6425ec2d3cb.PNG)

We thought to add the cat url in that placeholder, but then i added the text"cat photo url". and it shows good in all three.

am i right - or still it's a buggy.

Advise me !

[2017-01-02 02:27] esaky opened #12312 "[Solved] Add Placeholder Text to a Text Field"
Om Shakthi
Hi guys,
The error came for me too. I just tried and changed the cat url ".jpg"
Now the "The finished input element should have valid syntax." is good.

but the second one "add cat url" is showing error !
![freecodecamp](https://cloud.githubusercontent.com/assets/10112128/21584015/948ca6bc-d0bd-11e6-8810-45af3e523094.PNG)

if we added the default code: "<input type="text" placeholder="h

[2017-01-02 02:28] esaky commented on #12312
The code is working now.
![freecodecamp1](https://cloud.githubusercontent.com/assets/10112128/21584059/41f53462-d0bf-11e6-87de-f6425ec2d3cb.PNG)

We thought to add the cat url in that placeholder, but then i added the text"cat photo url". and it shows good in all three.

am i right - or still it's a buggy.

Advise me !

[2017-01-02 02:28] #12312 closed

[2017-01-02 02:39] craigstroman commented on #12309
Hi,

I would be interested in taking this on.

[2017-01-02 05:02] KLRmarkie opened #12313 "Error in instructions on Use an ID Attribute to Style an Element challenge."
I was working through the following instructions and noticed that the id attribute changed from "#cat-photo-element" to "cat-photo-form" later in the instructions.  I thought this might be an unnecessary stumbling block for someone else.

Here's an example of how you can take your element with the id attribute of **cat-photo-element** and give it the background color of green. In your style elemen

[2017-01-02 05:35] MiloATH commented on #12313
I believe this was done on purpose in order to eliminate people from copying the example code.

[2017-01-02 05:46] sergioatr opened #12314 "cant'pass this "Make sure each of your label elements has a closing tag""
Challenge [Create a Set of Checkboxes](https://www.freecodecamp.com/challenges/create-a-set-of-checkboxes#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%

[2017-01-02 05:53] erictleung commented on #12314
@sergioatr Thank you for reporting this issue. Your code is incorrect. You're missing a tag. Please use the help rooms if you're still stuck.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge

[2017-01-02 05:53] #12314 closed

[2017-01-02 05:55] BerkeleyTrue commented on #12305
I vote for removal.

[2017-01-02 05:56] erictleung commented on #12313
@KLRmarkie thanks for the issue. What @MiloATH has mentioned is correct. The code in the challenge description is just example code. Learning to code will require you to read and follow directions and apply some critical thinking to complete the challenges. Thanks for the feedback, but I believe the instructions are sufficient. Happy coding!

[2017-01-02 05:56] #12313 closed

[2017-01-02 05:58] erictleung commented on #12311
@jonluvcodes this is a duplicate issue of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7753, but this was fixed with a PR https://github.com/FreeCodeCamp/FreeCodeCamp/pull/11472. These changes haven't been pushed up to the production site. I would advise you to use a desktop/laptop if possible when completing the challenge. Closing as should be resolved in staging. Happy coding!

[2017-01-02 05:58] #12311 closed

[2017-01-02 06:27] QuincyLarson commented on #12290
@BerkeleyTrue I thought you mentioned you could add these when you went in and created the PR. I can do this myself, though.

[2017-01-02 06:41] QuincyLarson commented on #12305
I second @BerkeleyTrue's recommendation of removal. I'm making a PR now.

[2017-01-02 06:53] William-Charles commented on #12297
Whoa! Thank you!

On Sun, Jan 1, 2017 at 10:10 PM Milo Hartsoe <notifications@github.com>
wrote:

[2017-01-02 07:06] QuincyLarson commented on #12305
@BerkeleyTrue is there a way we can set this to "isBeta" to remove it for now until we can overhaul the challenge?  If we do, will CI still pass?

If there isn't a better way, could you just remove the challenge completely then push to production?

[2017-01-02 10:07] RomingArt commented on #12134
I am not sure, but I think I found a bug because the console states that I have the correct answer but it does not show exactly the answer I was suppose to have in the yellow boxed answer.
<img width="1229" alt="screen shot 2017-01-02 at 2 06 12 am" src="https://cloud.githubusercontent.com/assets/19600363/21587346/14a6916a-d090-11e6-969f-42d7c8e9cc91.png">

`var myStr="FirstLine\n\\SecondLine\\\rT

[2017-01-02 10:31] Shaun04 commented on #11740
You are doing it right in the first but the paragraph it should be
<p="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
try this it wil come right

[2017-01-02 12:11] shubham191 opened #12318 "run test failing"
Challenge [Create a Set of Radio Buttons](https://www.freecodecamp.com/challenges/create-a-set-of-radio-buttons#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobst

[2017-01-02 12:14] butisitcode commented on #11092
In the description text:

I'd be grateful if someone could clarify for me whether the array still exists after this statement is executed. If it does, how can the remaining values be accessed? Thanks!

[2017-01-02 12:52] systimotic commented on #12271
JS is weird, but I secretly love the weird things. 😄
To add to the weirdness of Not a Number (`NaN`):
[code]

I'm working on a PR to improve the logging output in general.

[2017-01-02 12:55] eXe201990 opened #12319 "i really don't know what is wrong down there ? can someone help me ?"
Challenge [Replacing If Else Chains with Switch](https://www.freecodecamp.com/challenges/replacing-if-else-chains-with-switch#?solution=%0Afunction%20chainToSwitch(val)%20%7B%0A%20%20var%20answer%20%3D%20%22%22%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20%0A%20%20switch(val)%7B%0A%20%20%20%20%20%20%0A%20%20%20%20%0A%20%20%20%20case(val%20%3D%3D%3D%20%22bob%22)%3A%20%0A%2

[2017-01-02 13:44] eagertolearn912 commented on #5176
need help

[2017-01-02 13:45] eagertolearn912 commented on #5176
it said i need to have a alt attribute

[2017-01-02 14:57] krcurry opened #12320 "Passing Values to Functions with Arguments"
functionWithArgs should be a function
functionWithArgs(1,2) should output 3
functionWithArgs(7,9) should output 16
Call functionWithArgs after you define it.

1It is accepting all my functions except 1 + 2 = 3, https://www.freecodecamp.com/challenges/passing-values-to-functions-with-arguments#?

 // Example
function ourFunctionWithArgs(a, b) {
  console.log(a - b);
}
ourFunctionWithArgs(10, 5); //

[2017-01-02 15:13] sashastark opened #12321 "Challenge [Accessing Nested Objects]"
Challenge [Accessing Nested Objects]
Hello, please help me, I don't know what else to do, I've already restarted it several times, nothing happened.

My code:
[code]

[2017-01-02 15:15] sashastark commented on #12321
I don't know whether it is a bug or not, I think I changed the code correctly, but it doesn't work

[2017-01-02 15:48] DAbidou commented on #4794
It is a bug or misleading info.

You have to add both classes `animated bounce` not only `bounce` in order to pass it.

I don't know why they keep the same misleading info for this long time.

[2017-01-02 15:48] yesthatguy commented on #11360
Is this still needed? Is anyone working on it?

If not, I can take it.

[2017-01-02 16:30] Srivastava-Sandeep commented on #12319
Hi @eXe201990

This is not a bug.
Here is the correct code.

function chainToSwitch(val) {
  var answer = "";
  // Only change code below this line

  switch(val){

    case("bob"):
    answer = "Marley";
      break;
    case (42):

    answer = "The Answer";
      break;
    case (1):
    answer = "There is no #1";
      break;
   case(99):
    answer = "Missed me by this much!";
      break;

[2017-01-02 17:04] widal001 commented on #12271
You guys have been the best! Thanks for triaging this and for inadvertently cluing me into some pretty cool quirks of JS along the way!

[2017-01-02 17:28] raisedadead commented on #12318
Hi @shubham191

Your code is not correct, there are typos amongst other issues.

Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-o

[2017-01-02 17:28] #12318 closed

[2017-01-02 17:30] raisedadead commented on #12319
Hi @eXe201990

Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](http

[2017-01-02 17:30] #12319 closed

[2017-01-02 17:33] raisedadead commented on #12320
Hi @krcurry

Thanks for the report. The issue tracker is for reporting bugs only.
I understand your frustration and are sincerely sorry for the same, but chat rooms do get busy at times, please be patient, and someone will surely help out.

You can also post on the forum.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](

[2017-01-02 17:33] #12320 closed

[2017-01-02 17:34] raisedadead commented on #12321
Hi @sashastark

Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](htt

[2017-01-02 17:34] #12321 closed

[2017-01-02 17:37] ulf1 opened #12323 "code is not running in FCC but works with node in the commandline"
## my comment
the code runs with node, e.g.
[code]

in FCC it doesn't work.
I'm using two while loops (outer and inner) what might be the cause.

## auto generated text
Challenge [Sorted Union](https://www.freecodecamp.com/challenges/sorted-union#?solution=%0Afunction%20mergeArrays(x)%20%7B%0A%20%20%2F%2F%20empty%20array%20as%20initial%20value.%20Combine%20two%20arrays%20several%20times.%0A%20%20r

[2017-01-02 17:40] Bouncey commented on #12309
:+1:

On Monday, January 2, 2017, Craig Stroman <notifications@github.com> wrote:

[2017-01-02 17:48] ulf1 commented on #12323
i substituted the inner while loop with a filter function but it still not work in FCC. no problem to execute with node in the command line.

[code]

[2017-01-02 17:52] Skinteastwood commented on #6530
This worked for me. Took me over an hour to change the bottom <p> red I added this to do it to unlock the challenge :       p {color: red; }

<style>
  .red-text   {
    color: red; }

  p { font-size: 16px; }
  p {color: red; }

</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text"> Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the

[2017-01-02 17:52] KLRmarkie commented on #12313
To each their own.

[2017-01-02 17:57] ulf1 commented on #12323
this is not working at FCC too. However it runs in node ...

[code]

[2017-01-02 18:03] ulf1 commented on #12323
nope ...
[code]

[2017-01-02 18:18] Tonytone916 opened #12324 "Radio Buttons Challenge, can't figure out what is wrong with my code"
Challenge [Create a Set of Radio Buttons](https://www.freecodecamp.com/challenges/create-a-set-of-radio-buttons#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobst

[2017-01-02 18:37] thewhisperinyourears commented on #12324
Would you mind closing the input tags properly?

Admin staff

[2017-01-02 18:38] jags8386 commented on #11702
`function confirmEnding(str, target) {
  // "Never give up and good luck will find you."
  // -- Falcor
  //var arr = str.split(' ');
  //str = arr[arr.length-1];
  str = str.substring(str.length-target.length);
  return str == target ;
}

confirmEnding("He has to give me a new name", "name");`

[2017-01-02 18:44] thewhisperinyourears commented on #12324
Is not lable is label btw

Admin staff

[2017-01-02 18:53] Tonytone916 commented on #12324
Wow! Thanks for the help! Can't believe I didn't see that.

[2017-01-02 18:53] #12324 closed

[2017-01-02 19:07] JulienGold commented on #12231
<p>Click here for <a href= # "http://www.freecatphotoapp.com">cat photos</a>.</p>

[2017-01-02 19:28] TravisClem opened #12325 "Cant click in certain sections of the code window."
Challenge [Taste the Bootstrap Button Color Rainbow](https://www.freecodecamp.com/challenges/taste-the-bootstrap-button-color-rainbow#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20

[2017-01-02 19:29] TravisClem opened #12326 "Issues adding code where its needed"
Challenge [Taste the Bootstrap Button Color Rainbow](https://www.freecodecamp.com/challenges/taste-the-bootstrap-button-color-rainbow#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20

[2017-01-02 19:30] adevenuto commented on #11360
I'm not sure if anyone is working on it. I remember through past emails
that solutions were discussed but some of the staff at FCC weren't sure if
it was worth the time and testing since they are currently focusing on
rolling out new curriculum (which this comment bug may or may not be a part
of). For a better answer you should contact someone at FCC directly.

On Mon, Jan 2, 2017 at 9:50 AM, Bria

[2017-01-02 19:32] TravisClem commented on #12326
I could not add btn-primary
I tried to click after btn-block but i could not click past btn-b <---- the rest of that line could not be selected and I tried to refresh the browser but the issue persisted.

[2017-01-02 19:35] TravisClem commented on #12326
so it finally was able to be entered but the problem persisted after i refreshed my browser again. and reset the code

[2017-01-02 20:05] TravisClem commented on #12326
yep still happening on line 37 even with different assignments

[2017-01-02 20:34] systimotic commented on #12326
Hi @TravisClem! Thank you for reporting this issue.

This is a known issue, which sadly is very common. See https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7847 for more information.

I am closing this as a duplicate.

If you think I'm wrong in closing this issue, please reopen it and add further clarification.
Happy coding!

[2017-01-02 20:34] #12326 closed

[2017-01-02 20:34] systimotic commented on #12325
This is a standard message notifying you that this issue appears to be very similar to issue https://github.com/FreeCodeCamp/FreeCodeCamp/issues/12326, so I am closing it as a duplicate.

If you think I'm wrong in closing this issue, please reopen it and add further clarification.
Happy coding!

[2017-01-02 20:35] #12325 closed

[2017-01-02 20:36] #12305 closed

[2017-01-02 20:45] systimotic commented on #12323
Hi @ulf1!

This seems to run on FCC for me, it just doesn't give the right output. When I run this in Node, I get the same output as when I run it on the website.
[code]
This is what I get in both, but the requested output is
[code]
Can you share the output you get in Node?

The reason you're not seeing any output in the window on the website is because you have wrapped your function call in a con

[2017-01-02 20:50] yesthatguy commented on #11360
Thanks! @BerkeleyTrue or @QuincyLarson can you confirm whether this is worth working on?

[2017-01-02 20:51] systimotic commented on #12297
Nice work on figuring this out @MiloATH! 👍

Global scope is something we've talked about before. I do not remember where, or what was decided. Do you know @dhcodes?

If we want to fix this, we should probably open a separate issue for discussion on how we handle global scope in general.

[2017-01-02 20:55] systimotic commented on #4201
Ah, thank you for the clarification @raisedadead!
That's certainly an interesting problem. Should we label this help wanted?

[2017-01-02 21:00] systimotic commented on #11360
@yesthatguy You're free to take this up! Check out [Bouncey's comment](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/11360#issuecomment-256024956) for some info on how to get started.

Happy coding!

[2017-01-02 21:19] yesthatguy commented on #12092
I'll take this and make the minor change.

[2017-01-02 21:28] sunshinescj opened #12327 "Counting Space Characters instead of Non Space"
Challenge [Invert Regular Expression Matches with JavaScript](https://www.freecodecamp.com/challenges/invert-regular-expression-matches-with-javascript#?solution=%0A%2F%2F%20Setup%0Avar%20testString%20%3D%20%22How%20many%20non-space%20characters%20are%20there%20in%20this%20sentence%3F%22%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0Avar%20expression%20%3D%20%2F%5CS%2B%2Fg%3B%20

[2017-01-02 21:47] systimotic commented on #12190
@raisedadead Sorry, I should have checked in staging right away. In staging, the error never shows up, neither when it's supposed to, or after it. Not sure if that means this issue can be closed 😕

[2017-01-02 21:59] systimotic commented on #9583
Hi @wjhurley! How's your progress on this?

[2017-01-02 22:02] systimotic commented on #12031
@Manish-Giri How's progress on this?

[2017-01-02 22:12] systimotic commented on #12327
Hi @sunshinescj! Thank you for reporting this issue.

There is an issue in your code. Please reread the instructions and try again. Note that lower case `s` matches space characters, while upper case `S` matches non space characters.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the chall

[2017-01-02 22:12] #12327 closed

[2017-01-02 23:06] Kennneth opened #12330 "HELP!!! Pretty sure my code is correct I just can't run a test, or possibly a bug. Any help would be great thanks."
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20c

[2017-01-02 23:12] BerkeleyTrue commented on #4201
I've assigned myself to this one.

[2017-01-02 23:15] BerkeleyTrue commented on #12290
I thought you mentioned that you where going to add these :)

In any case, that should be two issues. Adding links to a json list can be an FTO or a "help wanted" tag.

[2017-01-02 23:39] Kennneth commented on #12330
@VarCI-bot
This issue isn't with the challenge. There is a bug it won't let me run test. I've already did a hard refresh also. It brings the same code up every time and doesn't reset when I ask.

[2017-01-02 23:48] ramiksa11 opened #12331 "App"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-02 23:57] getoutb1 commented on #12331
Stop

On Jan 2, 2017 3:50 PM, "ramiksa11" <notifications@github.com> wrote:

[2017-01-03 00:05] ramiksa11 opened #12332 "Visa"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-03 02:25] dhb55 opened #12333 "Comment out HTML Problem"
Challenge [Comment out HTML](https://www.freecodecamp.com/challenges/comment-out-html#?solution=%3C!--%0A%0A%3C--Hello%20World--%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3C!--Hello%20Paragraph--%3E%0A--%3E%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to repro

[2017-01-03 02:30] dhb55 commented on #12333
i have followed the steps correctly, why is the very last part of the command not letting me complete the challenge, which says: Do not change the order of the h1,h2 or p in the code?

[2017-01-03 02:30] #12333 closed

[2017-01-03 02:38] felipeklafke commented on #12333
close comment

you opened comments more times that closed and order is wrong too...

you need comment <h1> tag and <p> tag

like this

<h2>CatPhotoApp</h2>

[2017-01-03 02:58] felipeklafke commented on #12330
.red-text
class="red-text"

[2017-01-03 03:25] erictleung commented on #12330
@Kennneth Thank you for reporting this issue. The "bug" is actually that your code is incorrect. If you've implemented the code right, you should see that the `<h2>` element turn red, but it isn't. Please ask questions in the Gitter chat rooms if you still need help. GitHub issues are not for coding help.

This is a standard message notifying you that this issue seems to be a request for help. Ins

[2017-01-03 03:25] #12330 closed

[2017-01-03 03:29] erictleung commented on #12331
@ramiksa11 please fill out the template and reopen this issue if there is a bug with the site. Closing issue because there is no information.

@getoutb1 Looks like you may have accidentally subscribed to all notifications for the [FreeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp) repository. To stop receiving notifications please visit the [subscriptions page](https://github.com/FreeCode

[2017-01-03 03:29] #12331 closed

[2017-01-03 03:29] erictleung commented on #12332
@ramiksa11 please fill out the issue template if there is an issue with the site. Closing issue as there is not enough information to help. Please comment back if you have more information. Happy coding!

[2017-01-03 03:29] #12332 closed

[2017-01-03 03:42] Manish-Giri commented on #12031
@systimotic My bad - just getting to this, been working on some of my other PRs, and then the break...

[2017-01-03 05:13] raisedadead commented on #12190
@systimotic thanks for confirming, I was doubtful and now I confirmed as well. Closing as resolved.

[2017-01-03 05:13] #12190 closed

[2017-01-03 05:56] sammoorhouse commented on #11360
My proposal was that (a) a regex isn't up to the task and (b) the code
needs to be parsed to take account for multi line comments, the string "if"
in variable names etc.

I have working code ready to checkin but someone (sorry, I forget who & I'm
on mobile) suggested I wait until after a Big Reorg.

That's all the context I have, sorry.

Cheers
Sam
On Tue, 3 Jan 2017 at 02:32, Timo <notifications@

[2017-01-03 06:30] Manish-Giri commented on #12271
These lines from the YDKJS series sums up the "weirdness" quite accurately -

[2017-01-03 07:04] #12290 closed

[2017-01-03 09:20] williamstar opened #12335 "Sorted Union Issue the Result is correct but it cant pass the examine"
the Result is correct but it cant pass the examine

here is the link for this problem

https://www.freecodecamp.com/challenges/sorted-union

Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36
[code]

[2017-01-03 10:09] Shooshte commented on #11257
@dhcode

I managed to avoid the issue by multiplying the floats with 10000, and then dividing the result before printing out the outpu.

[2017-01-03 10:34] Dayfiri commented on #12335
@williamstar
Can you please provide a link to a given exercise so others can easier see what exactly needs to be done. By the way, I copy/pasted your code and got this result:
![screenshot from 2017-01-03 11-30-41](https://cloud.githubusercontent.com/assets/16082563/21605257/2f5594f2-d1a8-11e6-9bbc-fef4bb056905.png)
For help with code and assignment please visit [Help](https://gitter.im/FreeCodeCa

[2017-01-03 10:37] ulf1 commented on #12323
Sorry. Delete the issue. I forgot to remove the duplicates, and it is not necessary to read arrays of arrays.

[2017-01-03 10:37] ulf1 commented on #12323
Sorry. Delete the issue. I forgot to remove the duplicates, and it is not necessary to read arrays of arrays.

[2017-01-03 10:37] #12323 closed

[2017-01-03 11:00] RishuK opened #12336 "Issue while running gulp on this project"
I am deploying this project locally for the first time.

I have ECMAScript6 enabled for javascript in my webstorm.

However, I keep seeing the following issue while trying to run the gulp command -

C:\opensource-projects\FreeCodeCamp\gulpfile.js:219
      reqHeaders: ({ url: { hostname } }) => ({
                   ^

SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)

[2017-01-03 11:05] williamstar commented on #12335
@Dayfiri i edit the issue and add the problem link above the code.

[2017-01-03 11:37] Dayfiri commented on #12335
@williamstar
Thanks for the link. I tried running your code in the FCC editor and it `return`s a good result on a naked eye. But if you dig a little bit more, you can see that it is not the only thing coming out.
![screenshot from 2017-01-03 12-31-19](https://cloud.githubusercontent.com/assets/16082563/21606581/ca8552d4-d1b0-11e6-87bc-c2b5bf580976.png)
As I console log the result, you can see many

[2017-01-03 12:52] williamstar commented on #12335
@Dayfiri Thanks. I didn't notice that FCC output will write to the dev-tool.It seems that I can't **assign the arguments to other variables**.when i try to modify the code below it pass the examine.

[code]

[2017-01-03 13:06] #12335 closed

[2017-01-03 13:46] TSIIAM commented on #12263
.red-text {
    color: red;
    p{font-size: 16px;}
  }
try this:

 .red-text {
    color: red;
}
    p{font-size: 16px;}

You closed the red-text tag wrong.

[2017-01-03 14:20] benjaminthedev opened #12337 "here link is not opening in a new tab."
Challenge [Get Geolocation Data](https://www.freecodecamp.com/challenges/get-geolocation-data#?solution=%0Afccss%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%20%20%0A%20%20if%20(navigator.geolocation)%20%7B%0A%20%20navigator.geolocation.getCurrentPosition(function(position)%20%7B%0A%20%20%20%20%24(%22%23data%22).html(%22latitude%3A%20%22%20%2B%20position.coords.latitude%20%2B%20

[2017-01-03 14:31] RishuK commented on #11226
If this issue is not closed, Can I take it up - First timer here

[2017-01-03 14:39] dhcodes commented on #12336
See if this thread helps and let us know if you get it remedied: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/11044

[2017-01-03 15:15] AkshayIyer12 commented on #11226
Done

On 3 Jan 2017 20:02, "RishuK" <notifications@github.com> wrote:

[2017-01-03 15:29] RishuK commented on #11226
You mean you did it?

[2017-01-03 16:38] RishuK commented on #12336
That worked, indeed a version issue. Thanks @dhcodes

[2017-01-03 16:53] jonkreativo opened #12338 "Can't get past this challenge because, even with zooms at 100%, the last test fails."
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20ame

[2017-01-03 16:54] yesthatguy commented on #11360
Yeah, I agree with @sammoorhouse. Here is a commit which adds some checking based on regex:
https://github.com/yesthatguy/FreeCodeCamp/commit/dff5b89d2301e92a4c810f8ab43fbfad9f2616d0

It works with multiline comments but is not robust to "if" in variable names or anything like that. In addition, it's pretty complicated. Instead of putting all the logic in the JSON, I'd be in favor of defining a he

[2017-01-03 17:02] #12031 closed

[2017-01-03 17:03] dhcodes commented on #12336
Closing as resolved

[2017-01-03 17:03] #12336 closed

[2017-01-03 17:04] dhcodes commented on #12338
@jonkreativo you have an error in your code. Please consider asking for help in the chat room by clicking the Help button on the challenge page.

[2017-01-03 17:04] #12338 closed

[2017-01-03 17:07] sonichanxiao commented on #758
Finally got work.

It seems when you create a project, in the name give something like "@username/packagename". And before you add a tag, try to use npm dist-tag ls to see what tags are there first.

But still want the author to update the instructions, get some newbie to test the steps and update. It will save a lot of time for many people.

[2017-01-03 17:08] RishabhAggarwal028 opened #12339 "Escape Sequences in Strings Issue"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%3D%22FristLine%5Cn%5C%5CSecondLine%5C%5C%5CrThirdLine%22%3B%20%2F%2F%20Change%20this%20line%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.71 Safari/537.36</code>.
Please

[2017-01-03 17:18] Hieuhuule opened #12340 "Size Your Images Challenge"
The code looks correct, but the editor won't register the success.

Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.smaller-image%20%7B%0A%20%20%20%20width%3A%20100px%3B%0A%20%20%7D%0A%20%2

[2017-01-03 17:20] Hieuhuule commented on #12340
When I link another image of a cat, the pixel width becomes a success, but the image element becomes a failure.
![image width](https://cloud.githubusercontent.com/assets/24836277/21616331/a50f5702-d1a6-11e6-9dc8-0288b00892d9.jpg)

[2017-01-03 17:29] aymohamed opened #12341 "Getting an error for testing the true value."
Challenge [Use Conditional Logic with If Statements](https://www.freecodecamp.com/challenges/use-conditional-logic-with-if-statements#?solution=%0A%2F%2F%20Example%0Afunction%20ourTrueOrFalse(isItTrue)%20%7B%0A%20%20if%20(isItTrue)%20%7B%20%0A%20%20%20%20return%20%22Yes%2C%20it's%20true%22%3B%0A%20%20%7D%0A%20%20return%20%22No%2C%20it's%20false%22%3B%0A%7D%0A%0A%2F%2F%20Setup%0Avar%20num%3B%0Afunc

[2017-01-03 17:34] Bouncey commented on #11360
@yesthatguy

The general consensus is that AST traversal is a good fit for our tests,
but we are waiting for the react version of FCC to go into production
before adding another technology to the stack

On Tuesday, 3 January 2017, Brian Salomaki <notifications@github.com> wrote:

[2017-01-03 17:55] Lapz commented on #12339
You solution is not correct that is why you are seeing an error. If you need help check out the gitter chatroom.[https://gitter.im/FreeCodeCamp/HelpJavaScript](url)

[2017-01-03 18:06] aymohamed commented on #12341
This works:

// Example
function ourTrueOrFalse(isItTrue) {
  if (isItTrue) {
    return "Yes, it's true";
  }
  return "No, it's false";
}

// Setup
function trueOrFalse(myCondition) {

  // Only change code below this line.
  if(myCondition) {
    return "Yes, that was true";
  }
    return "No, that was false";

  // Only change code above this line.

}

// Change this value to test
trueOrFalse

[2017-01-03 18:13] Lapz commented on #12341
I think that the starting code and the wording of the exercise is very confusing and should be changed to something more like this:
 `
function trueOrFalse(wasThatTrue) {

  // Only change `code` below this line.
  if(wasThatTrue === true ) {
    return "Yes, that was true";

  }
  return "No, that was false";

  // Only change code above this line.

}
`

[2017-01-03 19:55] Manish-Giri commented on #12341
@aymohamed Why're you setting up a `num` variable again?

[2017-01-03 19:57] a-computer-lover opened #12342 "i think they miss this mistake"
Challenge [Call out Optional Actions with Button Info](https://www.freecodecamp.com/challenges/call-out-optional-actions-with-button-info has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My cod

[2017-01-03 20:10] Manish-Giri commented on #12342
@a-computer-lover It's the default starter code from the [Make Dead Links](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol) challenge.

[2017-01-03 20:25] Kennneth opened #12343 "Code will not import lobster font"
Challenge [Import a Google Font](https://www.freecodecamp.com/challenges/import-a-google-font) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2017-01-03 20:32] DevSealTeam commented on #12343
I do not See Lobster Font Import code?

On Jan 3, 2017 3:26 PM, "Kenneth Harris" <notifications@github.com> wrote:

[2017-01-03 20:35] Kennneth commented on #12343
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
@DevSealTeam

[2017-01-03 20:41] Kennneth commented on #12343
snippet code provided didn't work
 https://www.freecodecamp.com/challenges/import-a-google-font
@DevSealTeam

[2017-01-03 21:10] dhcodes commented on #12343
@Kennneth your code works for me. Maybe try copying your code and then refreshing the browser. Also if you're on a mobile device, chrome sometimes has a non-breaking space issue so it may have to remove new lines.

[2017-01-03 21:12] dhcodes commented on #12342
@a-computer-lover while it may look odd, having the `.` apart from the anchor link keeps the period from being part of the link. This is intended.

[2017-01-03 21:12] #5358 closed

[2017-01-03 21:15] dhcodes commented on #12340
@Hieuhuule your code worked for me. Try copying your code, refreshing the browser, and then submitting again.

[2017-01-03 21:16] sanjaykt commented on #9862
Thanks for this.. This resolve my issue as well

[2017-01-03 21:18] dhcodes commented on #12337
I'm fine with this. First-timers only.

Change [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/5b14f1631b46d3f8e02b479c18a353e8669b96b9/seed/challenges/01-front-end-development-certification/json-apis-and-ajax.json#L490) to open the link in a new tab/window by adding `target="_blank"` to the anchor link.

Please follow the [contribution guidelines](https://github.com/FreeCodeCamp/Fre

[2017-01-03 21:19] Hieuhuule commented on #12340
@dhcodes Just tried it again, still no luck getting it going.  I'll have to try it on another computer when I get home.

[2017-01-03 21:30] Manish-Giri commented on #12340
@Hieuhuule Well in your first code, you were missing the quotes around the class name -
[code]

[2017-01-03 21:39] Hieuhuule commented on #12340
@Manish-Giri Attached is what my code is now.  The quotes around the class name doesn't seem to affect it.

![image width](https://cloud.githubusercontent.com/assets/24836277/21623992/9a14705c-d1ca-11e6-9a62-c3bba4a4996a.jpg)

[2017-01-03 21:51] dhcodes commented on #12340
@Hieuhuule what browser are you on?

[2017-01-03 22:02] Hieuhuule commented on #12340
@dhcodes I'm on Mozilla Firefox, exact details are Mozilla/5.0 (Windows NT 6.1; WOW64; rv:50.0) Gecko/20100101 Firefox/50.0

[2017-01-03 22:02] sevenok commented on #11491
Hey there, @flowerpini how did you fixed the issue? I have the same problem and exactly the same code as you.

[2017-01-03 22:11] sevenok opened #12346 "Bug with challenge: Target the same element with multiple jQuery Selectors"
It doesn't let me advance and for what I've checked my code is correct. Anyone knows how to solve this issue?

<script>
  $(document).ready(function() {
    $("button").addClass(animated);
    $(".btn").addClass(shake);
    $("#target1").addClass(btn-primary);
  });
</script>

<div class="container-fluid">
  <h3 class="text-primary text-center">jQuery Playground</h3>
  <div class="row">
    <div c

[2017-01-03 22:15] Manish-Giri commented on #12346
@sevenok Your code is incorrect, you're missing the quotes around the class names.

If you need help with a challenge, please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) first, in future. This place is for reporting issues with the website itself. Happy Coding!

[2017-01-03 22:15] #12346 closed

[2017-01-03 22:16] sevenok commented on #12346
Sorry dude, my bad.

[2017-01-03 22:17] Manish-Giri commented on #12346
@sevenok It's cool, not a problem :+1:

[2017-01-03 23:32] tmashuang commented on #12337
@dhcodes I would like to work on this issue as a first time contributor please.

[2017-01-03 23:36] baoqchau commented on #12337
Hello @dhcodes . I tried to change as you suggested but it still open in the same tab. I tried it with Chromium 55 and Firefox 50.0.1 Should we change it to something like `onclick="window.open` instead?

[2017-01-03 23:44] BEBEDYDY commented on #6383
function lookUpProfile(firstName, prop){
// Only change code below this line
  for(var i=0;i<contacts.length;i++){
    if(contacts[i].firstName===firstName){
      if(contacts[i].hasOwnProperty(prop)){
        return contacts[i][prop];
      }
      else{
        return"No such property";
      }
    }

  }return"No such contact";

// Only change code above this line
}

// Change these values to t

[2017-01-04 01:22] #12107 closed

[2017-01-04 01:34] abbutt opened #12348 "Bug"
Challenge [Specify How Fonts Should Degrade](https://www.freecodecamp.com/challenges/specify-how-fonts-should-degrade#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%2

[2017-01-04 01:49] #12337 closed

[2017-01-04 01:52] dhcodes commented on #12348
@abbutt you have an error in your code. Please consider asking for help in the chat room.

[2017-01-04 01:52] #12348 closed

[2017-01-04 02:02] Manish-Giri opened #12349 "Erroneous behavior in "Specify How Fonts Should Degrade"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-04 02:02] #12349 closed

[2017-01-04 02:08] romeepraj commented on #12296
I solved this problem with different approach just want to know you guys(@dhcodes, @john-d-pelingo ) views on it.

function rot13(str) { // LBH QVQ VG!
  var oldArray = str.split("");
  var newArray = oldArray.map(function(val){
    var charCode = val.charCodeAt(0);
    if(charCode<65){
       charCode = String.fromCharCode(charCode);
    }
    else if(charCode>=65 && charCode<=90){
         charC

[2017-01-04 02:19] Manish-Giri opened #12350 "Erroneous behavior in "Specify How Fonts Should Degrade" challenge"
#### Challenge Name

[Challenge Link](https://www.freecodecamp.com/challenges/specify-how-fonts-should-degrade#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20%3C!--h2%20%7B%0A%20%20%20%20font-family%3A%20

[2017-01-04 02:28] Prrk4pacific commented on #11052
I am having the same issue.  I am using chrome.  Here is my code:

<style>
  .red-text {
    color: red;
  }

  p{
    font-size: 16px;  
    font-family: Monospace;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
<p>Purr

[2017-01-04 02:29] Prrk4pacific commented on #11052
I am apearently having problems with my browser.

[2017-01-04 02:30] Prrk4pacific commented on #11052
Please ignore my comments.

[2017-01-04 02:37] QuincyLarson commented on #7944
@khaduch @SaintPeter @erictleung @sludge256 do any of you have any ideas how we might be able to redesign challenges to where changing function names don't break old solutions?

One idea I have is that we could redesign the challenge framework to check whether there's only one function in the code, go ahead and run it, assuming that there's a typo in the function name, or that the function name wa

[2017-01-04 02:38] QuincyLarson commented on #7925
This is still an issue that we get a lot of complaints about.

[2017-01-04 02:38] QuincyLarson commented on #8127
@bryanjenkins can you confirm that this is still an issue?

[2017-01-04 02:39] QuincyLarson commented on #7259
@extrememachinist can you confirm whether this is still happening on Android?

[2017-01-04 02:40] QuincyLarson commented on #8352
@hallaathrad @atjonathan did we ever end up submitting a bug to Firefox? I'm going to close this issue for now, as it sounds like it's not specific to our platform.

[2017-01-04 02:40] #8352 closed

[2017-01-04 02:41] QuincyLarson commented on #8408
@albert2309 can you confirm whether you're still experiencing this problem on IE?

[2017-01-04 02:42] QuincyLarson commented on #7195
@SaintPeter is this still something you're interested in implementing?

[2017-01-04 02:53] acweb-design opened #12351 "Submitted response with both src and alt. Receive error, not alt."
Challenge [Add Images to your Website](https://www.freecodecamp.com/challenges/add-images-to-your-website#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%

[2017-01-04 03:00] acweb-design commented on #12351
Found issue. There had to be a specific amount of character in the alt element. I first tried submitting using  alt="fcc-relaxing-cat", then tried alt="https://bit.ly/fcc-relaxing-cat" (just to see what it would do, I know not to put the url inside the alt element. Lastly, it worked using the whole description text alt="Author standing on a beach with two thumbs up.".

Correct me if I'm wrong, it

[2017-01-04 03:01] Nomso commented on #12351
I think your alt should have text and not a link

[2017-01-04 03:01] Nomso commented on #12351
Nevermind

[2017-01-04 03:03] acweb-design commented on #12351
all good

[2017-01-04 03:16] QuincyLarson opened #12352 "Unsubscribing to emails should unsubscribe duplicate accounts as well"
#### Issue Description
Campers will often accidentally create duplicate accounts (most of this is because we made the mistake of offering multiple authentication options).

When they unsubscribe from emails, we want to make sure they are unsubscribed from all emails for all accounts with that email address, including duplicate accounts.

The unsubscribe code just needs to be refactored to get all

[2017-01-04 03:17] QuincyLarson commented on #7726
We've removed this challenge completely so I'm closing this issue.

[2017-01-04 03:17] #7726 closed

[2017-01-04 03:17] QuincyLarson commented on #8693
@raisedadead @lahowitt is this still an issue?

[2017-01-04 03:18] QuincyLarson commented on #8743
We will merge the PR that remedies this as soon as we ship staging.

[2017-01-04 03:19] QuincyLarson commented on #5662
I agree with @ltegman that the solutions are only meant to help with CI and verify that the challenges are solvable. If a use case arises where we actually need a second solution, we can revisit this.

[2017-01-04 03:19] #5662 closed

[2017-01-04 03:21] QuincyLarson commented on #9015
@crashuniverse @pribilinskiy If you think this is suboptimal or a bad practice, would one of you be interested in updating the challenge?

[2017-01-04 03:22] QuincyLarson commented on #7931
We plan to completely overhaul the nonprofit projects section (and the map) in the near future, and this will become a non-issue. So I am closing this issue.

[2017-01-04 03:22] #7931 closed

[2017-01-04 03:24] QuincyLarson commented on #8814
Discussion on this has stalled out, so I'm closing this issue. We are keeping the map linear for the reasons that @BerkeleyTrue mentioned, but making it easier to drill into specific topics. Here's my mockup if you're interested: http://codepen.io/FreeCodeCamp/full/VKXyZJ

[2017-01-04 03:24] #8814 closed

[2017-01-04 03:24] #7623 closed

[2017-01-04 03:25] QuincyLarson commented on #9274
It looks like from what @BKinahan has said that this issue is resolved. Closing as stale.

[2017-01-04 03:25] #9274 closed

[2017-01-04 03:28] QuincyLarson commented on #9232
Our expanded curriculum will have a regex section before the algorithm challenges.

[2017-01-04 03:28] #9232 closed

[2017-01-04 03:35] esaky commented on #1983
Adding a container-fluid to form element solves too. is that right ?

[2017-01-04 04:11] dhcodes commented on #12351
@acweb-design thanks for this issue. It most likely had to do with the special characters in your alt tag, but either way this has been fixed and will be updated the next time the site is updated.

[2017-01-04 04:11] #12351 closed

[2017-01-04 04:12] raisedadead commented on #8693
Closing as stale, we haven't seen this issue pop up recently.

[2017-01-04 04:12] #8693 closed

[2017-01-04 04:21] raisedadead commented on #12339
Hi @RishabhAggarwal028

Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [fo

[2017-01-04 04:21] #12339 closed

[2017-01-04 04:21] xiangyu-sun opened #12353 "Filter succes when we didn't shift the first ARG out"
Challenge [Seek and Destroy](https://www.freecodecamp.com/challenges/seek-and-destroy#?solution=%0Afunction%20destroyer(arr)%20%7B%0A%20%20%2F%2F%20Remove%20all%20the%20values%0A%20%20var%20arg%20%3D%20Array.from(arguments)%3B%0A%20%20arg.shift()%3B%0A%0A%20%20return%20arr.filter(function(val)%7B%20return%20(arg.indexOf(val)%20%3D%3D%3D%20-1)%3B%7D)%3B%0A%7D%0A%0Adestroyer(%5B1%2C%202%2C%203%2C%20

[2017-01-04 04:27] raisedadead commented on #12340
@Hieuhuule do you mind copy-pasting your code in here?
resources: https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code

[2017-01-04 04:29] raisedadead commented on #12342
@a-computer-lover Closing as this is an intended behaviour for the challenge.

[2017-01-04 04:29] #12342 closed

[2017-01-04 04:37] acweb-design opened #12354 "Does not allow for me to click or move by arrows to the class section. I have to recreate the line of text. Does not let me edit basically"

[2017-01-04 05:45] raisedadead commented on #12354
Duplicate of #7847 , please follow the workaround mentioned in that thread.

[2017-01-04 05:45] #12354 closed

[2017-01-04 05:52] raisedadead commented on #7847
I have locked the conversation temporarily on this thread to collaborators only, this has been resolved in staging, and will be live soon.

The fix can be confirmed on the beta website.

The workaround currently on production website is:
Press the <kbd>Enter</kbd> key on the challenge editor and then proceed with the challenge.

Apologies for the inconvenience meanwhile.

Reach us in the chat room

[2017-01-04 05:54] QuincyLarson commented on #9123
@atjonathan me and @BerkeleyTrue have an idea to create a Redis-like interface similar to what they use on CodePen. This should solve this issue. It's on the roadmap, so I'm going to close this issue.

[2017-01-04 05:54] #9123 closed

[2017-01-04 05:55] QuincyLarson commented on #9402
@raisedadead is this how this works on your passwordless branch?

[2017-01-04 05:58] QuincyLarson commented on #9428
Since I've been manually importing new challenges myself, this hasn't been an issue. We'll address this when we overhaul the challenge creation process.

[2017-01-04 05:58] #9428 closed

[2017-01-04 06:03] #9291 closed

[2017-01-04 06:04] QuincyLarson commented on #8849
I believe our expanded challenges cover how the head element works and show included libraries, so I'm closing this issue.

[2017-01-04 06:04] #8849 closed

[2017-01-04 06:05] QuincyLarson commented on #9727
Since no one has explicitly proposed any new tests that I know of and it's been 6 months, I'm closing this issue.

[2017-01-04 06:05] #9727 closed

[2017-01-04 06:06] #9856 closed

[2017-01-04 06:06] #9059 closed

[2017-01-04 06:07] QuincyLarson commented on #9547
We are removing this challenge from our core curriculum (it will be an optional extra project) so I'm closing this issue.

[2017-01-04 06:07] #9547 closed

[2017-01-04 06:07] #7775 closed

[2017-01-04 06:08] QuincyLarson commented on #7082
We are removing videos from the updated curriculum, so I won't record a new video for this. So this issue is resolved. Thanks for everyone's help.

[2017-01-04 06:08] #7082 closed

[2017-01-04 06:11] QuincyLarson commented on #8597
@allonhadaya A belated thanks for your feedback on this.

We may implement some sort of GUID in our new https://github.com/FreeCodeCamp/nonprofit-email-service which we've already started using for these emails.

[2017-01-04 06:11] #8597 closed

[2017-01-04 06:12] suhussai commented on #12353
I don't think this is an issue with the challenge itself.

The `shift()` command removes the first element of a given array. In your case, it is applied to `arg` which is equal to `[[1, 2, 3, 1, 2, 3], 2, 3]` before the function call. After the function call, `arg` is equal to `[2, 3]`. The filter command then removes all elements inside `arr`, which is equal to `[1, 2, 3, 1, 2, 3]`, that are pres

[2017-01-04 06:12] QuincyLarson commented on #9913
We are moving all our back end projects to GoMix, so this will no longer be necessary.

[2017-01-04 06:12] #9913 closed

[2017-01-04 06:13] QuincyLarson commented on #9936
@explorervd @KindaIntellectual are either of you still experiencing this issue? What about when you're using beta.freecodecamp.com?

[2017-01-04 06:15] spoonhonda opened #12355 "Profile Lookup confuses with same param name and attribute name"
Challenge [Profile Lookup](https://www.freecodecamp.com/challenges/profile-lookup#?solution=%0A%2F%2FSetup%0Avar%20contacts%20%3D%20%5B%0A%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%22firstName%22%3A%20%22Akira%22%2C%0A%20%20%20%20%20%20%20%20%22lastName%22%3A%20%22Laine%22%2C%0A%20%20%20%20%20%20%20%20%22number%22%3A%20%220543236543%22%2C%0A%20%20%20%20%20%20%20%20%22likes%22%3A%20%5B%22Pizza%22%2

[2017-01-04 06:15] QuincyLarson commented on #7764
No one has brought this up since August. Is this still an issue? If so, we may want to restructure the challenge so it can be completed without noprotect.

[2017-01-04 06:16] QuincyLarson commented on #7033
@dhcodes thanks for confirming this. I'm closing this since no one has complained further about it.

[2017-01-04 06:16] #7033 closed

[2017-01-04 06:17] QuincyLarson commented on #9657
@dskloet @universse are either of you still interested in improving this challenge to cover this corner case?

[2017-01-04 06:18] raisedadead commented on #9402
Currently, the user will have to open the email and click on a link like any other email. This feature is a Gmail only (maybe yahoo allows it too), where you see something like below.

![image](https://cloud.githubusercontent.com/assets/1884376/21633268/95eaacfe-d273-11e6-8ae3-b7d30eb99d18.png)

Instead of the View Issue, it will display login and will directly hit an endpoint with the the auth to

[2017-01-04 06:19] QuincyLarson commented on #7413
Thanks for pointing these things out. We are covering these concepts much better in our expanded curriculum, which we will release soon.

[2017-01-04 06:19] #7413 closed

[2017-01-04 06:20] #10142 closed

[2017-01-04 06:21] QuincyLarson commented on #10554
@evaristoc I'm closing this due to inactivity and my inability to reproduce it.

[2017-01-04 06:21] #10554 closed

[2017-01-04 06:23] QuincyLarson commented on #10109
@BerkeleyTrue should we use that spinner you implemented while loading challenges? Will this still be an issue on staging?

[2017-01-04 06:26] QuincyLarson commented on #10611
@kennyklee @northless @Binkythebomb @sqro2 would any of you be interested in trying to improve the tests for this challenge to prevent this from happening?

[2017-01-04 06:26] #10574 closed

[2017-01-04 06:27] #10802 closed

[2017-01-04 06:29] QuincyLarson commented on #10731
Thanks for your feedback @fuecisla. We're switching to vanilla JS for API calls in our new JSON API section in our expanded curriculum.

[2017-01-04 06:29] #10731 closed

[2017-01-04 06:30] QuincyLarson commented on #6845
@rawreef the best place to maintain this list would be on our forum: https://forum.freecodecamp.com/t/free-code-camp-hotkeys/59467

[2017-01-04 06:30] #6845 closed

[2017-01-04 06:31] suhussai commented on #12352
I'd like to work on this. Just wondering about the tests though. You mentioned how one could manually test it, but what about codifying the test?

[2017-01-04 06:31] QuincyLarson commented on #8207
Thanks for your feedback, everyone. We've moved Record Collection to the advanced algorithms section.

[2017-01-04 06:31] #8207 closed

[2017-01-04 06:32] #10458 closed

[2017-01-04 06:32] #9340 closed

[2017-01-04 06:33] QuincyLarson commented on #9650
Thanks to everyone for the attention to detail. We are switching away from Heroku/C9 and over to GoMix so these instructions will soon change.

[2017-01-04 06:33] #9650 closed

[2017-01-04 06:36] QuincyLarson commented on #9037
@erictleung it looks like you didn't get around to making this copy change to the Pairwise challenge copy. Do you still think this is a change worth making?

[2017-01-04 06:40] kennyklee commented on #10611
@QuincyLarson If the man himself reaches out, I'm going to say yes. 👍  My day job is running a startup (product side, no coding), but I would say I'm intermediate level with JS.  Any tips on how to get started..specifically around tests?

[2017-01-04 06:54] abroham commented on #12340
I'm having the same exact problem! Also using Mozilla Firefox. I'll switch over to Chrome and see what's up.

[2017-01-04 07:05] abroham commented on #12340
I've tried it again and it went through. The error I kept having was that apparently I didn't have smaller-image ("smaller-image") in my img element. This was untrue. However, my pixel width was approved and accounted for.
Here is what I have:
![capture](https://cloud.githubusercontent.com/assets/24896108/21634037/c902c59a-d219-11e6-899d-9ec1e6a1eef4.JPG)

[2017-01-04 07:05] abroham commented on #12340
I'm going to reset it and try again

[2017-01-04 07:06] AkshayIyer12 commented on #11226
Yeah I had solved the issue and posted the screenshot.

Regards
Akshay Iyer

On Tue, Jan 3, 2017 at 9:01 PM, RishuK <notifications@github.com> wrote:

[2017-01-04 07:11] abroham commented on #12340
It worked again. Just drop   class="smaller-image"   right into the img Element you already have.
![capture](https://cloud.githubusercontent.com/assets/24896108/21634124/5b48929a-d21a-11e6-9bca-5cd7cc36f50c.JPG)

[2017-01-04 07:16] crapio99 opened #12356 "hi. im setting the class to pink and I have created the pink text class but it is not letting me submit."
Challenge [Prioritize One Style Over Another](https://www.freecodecamp.com/challenges/prioritize-one-style-over-another#?solution=%0A%3Cstyle%3E%0A%20%20%0A%20%20%0A%20%20.pink-text%20%7B%0A%20%20%20%20color%3A%20pink%0A%20%20%7D%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20black%3B%0A%20%20%20%20font-family%3A%20Monospace%3B%0A%20%20%20%20color%3A%20green%3B%0A%20%20%7D%0A%20%20%0A%3C%2

[2017-01-04 07:18] Manish-Giri commented on #12356
@crapio99 Your code is missing the `;` in the statement `color: pink`. Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) if you need help with challenges like these.

Happy Coding!

[2017-01-04 07:21] bryanjenkins commented on #8127
Yes, I just checked and it still outputs CCCC and passes all tests.

[2017-01-04 07:26] erictleung commented on #12356
@crapio99 yes, as @Manish-Giri has pointed out, you need a semi-colon to complete the challenge. Please use the Gitter chat rooms in the future for initial questions. Happy coding!

[2017-01-04 08:02] getoutb1 commented on #12356
Stop

On Jan 3, 2017 11:28 PM, "Eric Leung" <notifications@github.com> wrote:

[2017-01-04 08:02] getoutb1 commented on #8127
Stop

On Jan 3, 2017 11:22 PM, "Bryan Jenkins" <notifications@github.com> wrote:

[2017-01-04 08:03] getoutb1 commented on #12340
Stop

On Jan 3, 2017 11:13 PM, "Abe" <notifications@github.com> wrote:

[2017-01-04 08:03] getoutb1 commented on #11226
Stop

On Jan 3, 2017 11:08 PM, "Akshay Iyer" <notifications@github.com> wrote:

[2017-01-04 08:20] erictleung commented on #9037
@QuincyLarson I think the instructions are still worth changing. Strictly reading the instructions can be confusing, especially when you start looking at the challenges tests.

There hasn't been much activity on this issue, either by people coming to this issue or asking people online to clarify. Either way, I still think the instructions should be changed. I still like the second paragraph to be

[2017-01-04 08:32] bharg commented on #12300
Is the fix done? Else, I'd like to take it up.

[2017-01-04 08:36] erictleung commented on #7944
@QuincyLarson I like the idea. We can try executing the function name we expect, and if it doesn't find anything, we can search for a function definition and execute it instead. This is probably best from a user experience perspective. On the other hand, it could be confusing that the typo function would work, because it isn't the function name we see in the challenge tests (if shown). So this cou

[2017-01-04 08:45] mincheolk opened #12357 "bug.. i think it's some errors"
Challenge [Add Borders Around your Elements](https://www.freecodecamp.com/challenges/add-borders-around-your-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%2

[2017-01-04 08:49] erictleung commented on #12357
@mincheolk Thank you for reporting this issue. Your code is slightly incorrect.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http

[2017-01-04 08:49] #12357 closed

[2017-01-04 10:53] What-The-feu opened #12358 "Amswer Matches, but it Still shows i'm wrong"
Challenge [Title Case a Sentence](https://www.freecodecamp.com/challenges/title-case-a-sentence#?solution=%0A%0Afunction%20titleCase(str)%20%7B%0A%20%20var%20yo%3D%22%22%3B%0A%20%20var%20arrayOfStrings%3Dstr.split(%22%20%22)%3B%0A%20%20for(i%3D0%3Bi%3CarrayOfStrings.length%3Bi%2B%2B)%7B%0A%20%20%20arrayOfStrings%5Bi%5D%3DarrayOfStrings%5Bi%5D.toLowerCase()%3B%0A%20%20%20%20yo%2B%3DarrayOfStrings%5

[2017-01-04 11:17] raisedadead commented on #8127
Hello!

Looks like you may have accidentally subscribed to all notifications for the [FreeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp) repository. To stop receiving notifications please visit the [subscriptions page](https://github.com/FreeCodeCamp/FreeCodeCamp/subscription) or click on the image below and select **"Not watching"**.

[![image](https://cloud.githubusercontent.com/assets/

[2017-01-04 11:55] Hieuhuule commented on #12340
The same code worked once I switched over to Chrome so thats what I suggest others who have the same problem do.

[2017-01-04 11:55] #12340 closed

[2017-01-04 12:57] aymohamed commented on #12341
@Manish-Giri , I was trying to create a global variable that works for the test case. But everything works now. Thanks though.

[2017-01-04 13:58] aymohamed opened #12359 "logical OR operator question"
Challenge [Comparisons with the Logical Or Operator](https://www.freecodecamp.com/challenges/comparisons-with-the-logical-or-operator#?solution=%0Afunction%20testLogicalOr(val)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0A%20%20if%20(val%3E%3D10%20%7C%7C%20val%3C%3D20)%20%7B%0A%20%20%20%20return%20%22Inside%22%3B%0A%20%20%7D%0A%20%20%20return%20%22Outside%22%3B%0A%20%20%0

[2017-01-04 14:10] dhcodes commented on #12359
@aymohamed you have an error in your code. You can get code help by clicking the help button on the challenge and asking for help in the chat room.

[2017-01-04 14:10] #12359 closed

[2017-01-04 14:17] carloslocoo opened #12360 "I am not sure if sum of all primes actually has the correct answer."
I am not sure if if there is something wrong with my code or the answer is actually bad. 143 is not a prime number, however in my isPrime function I had to include it as a prime in order for it to work.

[code]

[2017-01-04 14:39] dhcodes commented on #12358
@What-The-feu you have an error in your code. Consider asking for help in the chat room by clicking the help button on the challenge page.

[2017-01-04 14:39] #12358 closed

[2017-01-04 14:40] dhcodes commented on #12358
@What-The-feu in this case, it's because you are adding quotes to the string at the end. You don't need to add those as it is already a string when it is returned. The quotes in the test are just to indicate the expected result.

[2017-01-04 14:45] systimotic commented on #12031
@Manish-Giri No problem! Thanks for the PR!

[2017-01-04 15:11] joaofreires commented on #12360
Well, your code have a bad ideia about implementations. Let's think about it, 37 is a prime number, and your code doesn't know this, then every time 37 is multiplied with another prime bigger than 31, your code will think that number is prime too.  Another error are when you pass primes number too, when you pass 11 to your functions `isPrime`, your code try do: `(11%11 === 0)` and it is true, but

[2017-01-04 15:36] joaofreires commented on #12355
Hello!
Well, your argumentation is good, but i think that it's good to learn how the language works. It's like scopes.
Another point is about logic, you want find "firstName" then you'll find it in "firstName" propety, this make sense. It's just how i think.

[2017-01-04 16:48] iBrooks opened #12362 "Sample Code is hidden due to failed text wrapping."
Challenge [Condense arrays with reduce](https://www.freecodecamp.com/challenges/condense-arrays-with-reduce#?solution=%0Avar%20array%20%3D%20%5B4%2C5%2C6%2C7%2C8%5D%3B%0Avar%20singleVal%20%3D%200%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0AsingleVal%20%3D%20array%3B%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (K

[2017-01-04 17:05] spoonhonda commented on #12355
I considered your point of argument before I posted this.  I don't agree that this is a good way to teach a student about scopes since it was never clarified in the instructions.  It just fosters confusion and/or wrong assumptions that "firstName" is the same thing throughout the code. A student can actually pass the challenge without even realizing there's a difference.  So the student is not lea

[2017-01-04 17:15] manurag15 opened #12363 "html challenge"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%7D%0A%20%20%3Cp%3E%7Bfont-size%3A16px%3B%7D%0A%20%20%20%20%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ips

[2017-01-04 17:45] systimotic commented on #12363
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free-code-camp-o

[2017-01-04 17:45] #12363 closed

[2017-01-04 18:50] raisedadead commented on #12362
Can you please share your viewport size?

[2017-01-04 18:51] Ardigi opened #12364 "everytime I get to a new excercise it doesn't let me place my cursor past the most recent change.."
Challenge [Add Placeholder Text to a Text Field](https://www.freecodecamp.com/challenges/add-placeholder-text-to-a-text-field#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-fam

[2017-01-04 19:06] ad22323n commented on #6143
Can someone explain these for loop to me please.
for(var i=0; i<arr.length; i++){
    for(var j=0; j<arr[i].length; j++)

[2017-01-04 19:20] codelaw90 commented on #6541
This is still confusing. I did as it says in the instructions, but still not working.

[2017-01-04 19:23] leonardocaltei commented on #12172
@FahadYousafMahar Hello, I've finished this challenge and I've the same problem, your post here helped a lot! Can you explain your code? My code its a lot more big hahahaha I'm curious with your logic, here's my code:

`<div class="well">
function factorialize(num) {
  var estoque = [];
  var resultado;
  var i;
  var bat = i;
  if (num === 0){
    return 1;
  } else if (num == 1) {
    return 1;

[2017-01-04 19:25] gristow commented on #9037
I still would vote to just delete the sentence:

This resolves the issue and has the added advantage of making the question more readable.

[2017-01-04 19:40] kumar-neelabh opened #12365 "Buttons not on same line"
In this challenge, the buttons in the well are supposed to be displayed all on the same row, but i'm getting two on one row and the third in another.
https://www.freecodecamp.com/challenges/add-id-attributes-to-bootstrap-elements

#### Browser Information
Google Chrome. Windows 10. 15.6'' Laptop Screen.

`Code`
[code]
#### Screenshot
https://cloud.githubusercontent.com/assets/20921834/21656310/a2e

[2017-01-04 19:48] #12365 closed

[2017-01-04 19:59] djokester opened #12366 "Issue with JS: Modify Array Data Challenge"
#### Challenge Name: Javascript: Modify Array Data With Indexes

https://www.freecodecamp.com/challenges/modify-array-data-with-indexes

#### Issue Description

Minor Bug. Usually when the semicolon ";" is missing in the code a TypeError is displayed. However in this challenge,
myArray[0] = 3
does not raise this error and we are able to pass on to the next challenge.
#### Browser Information

* Br

[2017-01-04 20:27] jel111 commented on #4411
no it doesn't. I thought this should do it and is exactly what I have .

[2017-01-04 21:19] djokester opened #12367 "Issue with Golf Code Challenge"
#### Challenge Name: Golf Code (JavaScript)

https://www.freecodecamp.com/challenges/golf-code

#### Issue Description

Challenge Solution is being accepted and passed despite missing semi-colon ";" in the code.

#### Browser Information

* Browser Name, Version: Google Chrome, Version 55.0.2883.87 (64-bit)

* Operating System:  Ubuntu 16.10
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[

[2017-01-04 21:38] erictleung commented on #9037
@gristow I like the simplicity of the instructions after removing that sentence but it doesn't explain what to do if/when there are multiple pairs of elements like in the contested test of `pairwise([0, 0, 0, 0, 1, 1], 1)`. Yes, you can look at the challenge tests but I think these instructions should also be present in the instructions themselves.

[2017-01-04 21:39] erictleung commented on #12364
@Ardigi sounds like a duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7847. Closing as duplicate. Please take a look at that thread for some work-arounds to the issue until they are fixed. If your issue is different from the one linked, please comment back with updates. Happy coding!

[2017-01-04 21:39] #12364 closed

[2017-01-04 21:48] erictleung commented on #12360
@carloslocoo this challenge does have an answer. Your solution is unique and creative. Take a look at prime number algorithms for better methods. If you have questions about a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2017-01-04 21:48] #12360 closed

[2017-01-04 21:57] Bouncey commented on #12352
@suhussai If you can find a graceful way to use a unit test for this then by all means submit a PR, but it is not a prerequisite for the PR itself :+1:

[2017-01-04 22:08] Bouncey commented on #12362
Confirmed on `staging` at view-port width > 1742px (with horizontal scroll bar)

I would suggest either/and:
- shortening variable/param names to decrease the line length
- try adding in some `<wbr>` elements to allow the text to wrap i.e. `array.reduce(<wbr>function....`

[2017-01-04 22:38] Dayfiri commented on #12367
@djokester
[HERE](http://stackoverflow.com/questions/2846283/what-are-the-rules-for-javascripts-automatic-semicolon-insertion-asi) you can see that JavaScript inserts semicolons automatically in specific cases.
That is not a bug but the way language works.

[2017-01-04 22:49] systimotic commented on #12367
Hi @djokester! Thank you for reporting this issue.
Dayfiri's link has some good explanation as to why this can be seen as intended behaviour.
Bouncey responded in the other issue you opened about this (https://github.com/FreeCodeCamp/FreeCodeCamp/issues/12366), so I'm closing this as a duplicate. If you have any questions or anything else to say about this, it would be great if you could do it the

[2017-01-04 22:49] #12367 closed

[2017-01-04 22:53] Bouncey commented on #12341
@aymohamed I'm glad you managed to squash your bug!

Happy Coding!

[2017-01-04 22:53] #12341 closed

[2017-01-04 23:10] systimotic commented on #12350
Good catch @Manish-Giri!
The tests for this challenge are [here](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/12366). The tests are only checking for an opening comment tag and a closing comment tag. They don't look at what's in between at all (apart from whether it's a comment automatically generated by our code).
The test should be adjusted to check whether it's actually the link element

[2017-01-04 23:22] systimotic commented on #12353
Good investigation work @suhussai.
@xiangyu-sun The last line summarises it: It works fine if that first element is in the array, because none of the items inside of the array are ever going to be equal to the array.

I'm closing this issue as resolved. If you think I'm wrong in closing this issue, please comment and reopen.
Happy coding!

[2017-01-04 23:22] #12353 closed

[2017-01-04 23:23] systimotic commented on #12280
@rohanayush @raisedadead Any updates on this?

[2017-01-04 23:39] #12271 closed

[2017-01-04 23:42] #9735 closed

[2017-01-04 23:44] BerkeleyTrue commented on #8743
The PR is waiting on pug to come out of beta.

[2017-01-04 23:57] smileytechguy opened #12368 "Suggestion for new challenge: 100 doors"
#### Challenge Name
100 doors problem

#### Issue Description
The 100 doors problem is as follows:
[code]

#### Your Code

[code]
I use the jsc CLI interface a lot, so thats why I use log().  Check out https://github.com/smileytechguy/sample_projects/tree/master/100_doors for more implementations.

This challenge would require implementation of multiple for loops, or as I had a while and for loop.

[2017-01-05 00:06] danieltoy opened #12369 "Completed challenges not moving on to next, nor awarding credit on Map"
#### Challenge Name
https://www.freecodecamp.com/challenges/make-circular-images-with-a-border-radius
(issue occurs on every challenge I try)

#### Issue Description
Problem:
When successfully completing a challenge and running a successful test and then clicking "submit and go to my next challenge", it does not go to the next challenge, nor is credit awarded on the Map nor profile. See the video

[2017-01-05 00:48] gristow commented on #9037
Ok -- I think I'm finally understanding what was meant by the original wording. How does this read to you, @erictleung?

To me the word "encounter" is problematic as it suggests they may exist, but should not be used, whereas in fact they are expected to be used.

[2017-01-05 01:31] erictleung commented on #9037
@gristow sounds good to me!

[2017-01-05 01:38] azlegend opened #12370 "mobile.facebook.com"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-05 01:56] danieltoy commented on #12369
@erictleung It was happening with all challenges. Cleared cache/cookies and tried in incognito with no results. However it's working on my home computer just fine (was originally being done on my laptop at work). Must be a hardware/network issue or something. Thanks!

[2017-01-05 01:58] #12369 closed

[2017-01-05 02:05] esaky opened #12371 "Warn your Users of a Dangerous Action - Code not working."
Challenge [Warn your Users of a Dangerous Action](https://www.freecodecamp.com/challenges/warn-your-users-of-a-dangerous-action#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-f

[2017-01-05 02:07] esaky commented on #12371
Create a new button element with the text "Delete".
**# All of your Bootstrap buttons should have the btn and btn-block classes.**
Your new button should have the class btn-danger.
Make sure all your button elements have a closing tag.
This is my Code:
  **# <button class="btn btn-block btn-primary">Like</button>
  <button class="btn btn-block btn-danger">Delete</button>**

[2017-01-05 02:08] esaky commented on #12371
**# <button class="btn btn-block btn-primary">Like</button>
  <button class="btn btn-block btn-danger">Delete</button>**

[2017-01-05 02:17] esaky commented on #8739
Ok, got it. But for bugs i should ask ! From yesterday i getting this error, one of the user send me the right code( I used the same) - not working.
https://www.freecodecamp.com/challenges/warn-your-users-of-a-dangerous-action
All of your Bootstrap buttons should have the btn and btn-block classes.
Your new button should have the class btn-danger.
Make sure all your button elements have a closing

[2017-01-05 02:20] gristow commented on #9037
Happy to put in a PR for this unless you want to @erictleung.

[2017-01-05 03:25] erictleung commented on #12371
@esaky Thank you for reporting this issue. You code is incorrect. Just add a button, don't modify an existing one. Ask questions in the help room if you're still stuck.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom

[2017-01-05 03:25] #12371 closed

[2017-01-05 03:28] erictleung commented on #12368
@smileytechguy thanks for the new challenge suggestion. Although this issue fits in this repository, I think the [CurriculumExpansion](https://github.com/FreeCodeCamp/CurriculumExpansion/issues) repository is a better place to suggest new challenges. Please close this issue and open it in the other repository. Thanks!

[2017-01-05 03:31] ChadBailey opened #12374 "Editor doesn't place cursor properly"
#### Challenge Name
All challenges are impacted (at least all beginning challenges)

#### Issue Description
Editor does not place cursor correctly. Highlighting text is offset by 1-2 rows until an event occurs which corrects the editor. Events that correct the editor 1) Begin typing anywhere. 2) click on one of the curly-brackets in the CSS section.

#### Browser Information
* Google Chrome Versio

[2017-01-05 03:40] smileytechguy commented on #12368
@erictleung Just got your gitter message too!  Will do!

[2017-01-05 03:40] #12368 closed

[2017-01-05 03:40] smileytechguy commented on #12275
I like this!! Great idea!

[2017-01-05 03:43] erictleung commented on #12374
@ChadBailey sounds like you're going through this issue https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7847. Please take a look at the issue thread for some work-arounds for this issue and report back here if that is your issue. Thanks!

[2017-01-05 03:51] ChadBailey commented on #12374
@erictleung thank you for your quick response. I didn't know what search terms to use (actually struggled coming up with a topic name). Can confirm this appears to be related to text wrapping. I would imagine the resolution will work once it is released.

[2017-01-05 03:51] #12374 closed

[2017-01-05 03:56] KamIsHere commented on #4411
The answer is above you @jel111 . Good Luck!!!!!

[2017-01-05 04:21] QuincyLarson commented on #8743
@BerkeleyTrue OK - thanks for the clarification.

[2017-01-05 04:27] QuincyLarson commented on #8127
@bryanjenkins Thanks for confirming this. I've added the help wanted tag.

[2017-01-05 04:30] QuincyLarson commented on #7944
@erictleung I think both of those solutions are potentially viable, but I agree that it would be better to not have to have to add the function name as a field on every single challenge. I am going to close this issue for now and if you think of a graceful way to let the user know that they've somehow mistyped the function name (or in most cases, deleted boilerplate), we can reopen this and you ca

[2017-01-05 04:30] #7944 closed

[2017-01-05 04:32] #9037 closed

[2017-01-05 04:32] QuincyLarson commented on #10611
@kennyklee awesome! Thrilled to have your help with this. Please let me know if I can answer any questions about this, and yes - the contributors chat room is the best place to get help.

[2017-01-05 04:33] QuincyLarson commented on #9402
@raisedadead thanks for the additional explanation. I agree that this would be a useful feature, and that it should be implemented later on after we finish more pressing authentication issues.

[2017-01-05 04:46] Manish-Giri commented on #8127
@QuincyLarson I had submitted a [PR](https://github.com/FreeCodeCamp/FreeCodeCamp/pull/11389) for this issue in `staging`. It was reported in this [issue](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/11351).

Maybe the changes would reflect when `staging` is merged with the production branch.

[2017-01-05 05:51] Cdw2828 opened #12375 "Confused"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-05 06:24] samsidx opened #12376 "Unable to proceed to next challenge"
#### Challenge Name

https://www.freecodecamp.com/challenges/make-circular-images-with-a-border-radius

#### Issue Description

I have completed challenge "Make Circular Images with a Border Radius", it shows it is correct but not proceeding to next challenge neither showing completed in Map. Could someone help with that?
Or should this be added to issue tracker? It also not showing in my profile

[2017-01-05 07:13] raisedadead commented on #8127
Closing, thanks @Manish-Giri !

[2017-01-05 07:13] #8127 closed

[2017-01-05 07:16] #12280 closed

[2017-01-05 07:16] #12375 closed

[2017-01-05 07:19] raisedadead commented on #12376
Your profile is available at https://www.freecodecamp.com/samsidx not `samdix1`, can you try some common debugging steps.

Logout. Clear all your cookies, login and submit the above code again.

[2017-01-05 07:32] raisedadead commented on #12281
@artabstraction closing this for now. please report back and we can re-open. happy coding!

[2017-01-05 07:32] #12281 closed

[2017-01-05 07:33] raisedadead commented on #12283
Closing this for now. Please report back after you get a chance to re-visit the issue with the troubleshooting mentioned above, happy coding!

[2017-01-05 07:33] #12283 closed

[2017-01-05 07:45] Cafam opened #12378 "Storing Values with the Assignment Operator"
Challenge [Storing Values with the Assignment Operator](https://www.freecodecamp.com/challenges/storing-values-with-the-assignment-operator#?solution=%0A%2F%2F%20Setup%0Avar%20a%3B%0Avar%20b%20%3D%202%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0Ab%20%3D%20a%20%3D%207%3B) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko)

[2017-01-05 09:04] arsho opened #12379 "MongoDB Runnning Problem using the instruction"
Challenge [Store Data in MongoDB](https://www.freecodecamp.com/challenges/store-data-in-mongodb) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.

When we try to run mongodb in c9 using the command: mongod --port 27017 , we get error "ERROR: Insufficient free space for journal files". The screen

[2017-01-05 09:20] lekysma opened #12381 "i cant't get passed this, and yet my code looks legit..help please ?"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%0A%3Cstyle%3E%0A%20%20h2%7B%20color%3A%20blue%3B%7D%0A%3C%2Fstyle%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%2

[2017-01-05 09:21] arsho commented on #12378
What is the issue?
Read the instructions carefully.

- Do not change code above the line
- a should have a value of 7
- b should have a value of 7
- a should be assigned to b with =

If you have any problem understanding the problem, share your problem with other campers in gitter. Gitter link: [https://gitter.im/FreeCodeCamp/HelpJavaScript](https://gitter.im/FreeCodeCamp/HelpJavaScript)

[2017-01-05 11:35] way3edgyentertainment opened #12384 "Returns correct value but it does not pass"
Challenge [Find the Longest Word in a String](https://www.freecodecamp.com/challenges/find-the-longest-word-in-a-string#?solution=var%20curlength%3D0%3B%0Avar%20maxlength%3D0%3B%0Avar%20arr%3D%5B%5D%3B%0Afunction%20findLongestWord(str)%20%7B%0A%20%20arr%3Dstr.split('')%3B%0A%20%20for(i%3D0%3Bi%3Carr.length%3Bi%2B%2B)%7B%0A%20%20%20%20if(arr%5Bi%5D!%3D'%20')%7B%0A%20%20%20%20%20%20curlength%2B%3D1%

[2017-01-05 11:39] samsidx commented on #12376
Okay, I tried what you said it still doesn't work. Stuck at submission as follows.
<img width="704" alt="screen shot 2017-01-05 at 5 08 09 pm" src="https://cloud.githubusercontent.com/assets/7347072/21679354/ad2775ea-d369-11e6-8e9a-b2fa36d09ff2.png">

[2017-01-05 11:59] siguniang commented on #12143
![image](https://cloud.githubusercontent.com/assets/24384921/21679895/670fef34-d381-11e6-90ca-4da21377affa.png)

[2017-01-05 12:00] siguniang commented on #12143
why miss?
![image](https://cloud.githubusercontent.com/assets/24384921/21679921/8c456612-d381-11e6-9bac-4423c9bd6e40.png)

[2017-01-05 12:00] raisedadead commented on #12376
Can you repeat this in a incognito window with all add-ons disabled? Add-ons like LastPass, AdBlocker etc. can cause issues, and consider the modals as pop-up ads.

[2017-01-05 12:05] raisedadead commented on #12381
Hi @lekysma ! Your code is incorrect.

The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](htt

[2017-01-05 12:05] #12381 closed

[2017-01-05 12:10] raisedadead commented on #12384
Hi @way3edgyentertainment

In your code you have:

[code]

These are declared as globals and our challenge testing code currently, doesn't support having global declarations (except for some challenges).

There is an ongoing discussion in #9199

Until we have a mechanism to figure out more about this, please refactor your code to use declarations within a scope.

For example, in your case just by

[2017-01-05 12:10] #12384 closed

[2017-01-05 13:36] systimotic commented on #12281
Hi @artabstraction! Did you get a chance to look a the logs? Don't worry, there's no hurry, just making sure you didn't forget about it 🙂

[2017-01-05 13:50] esaky commented on #3374
`<div class="btn btn-primary"><input type="text" class="form-control" placeholder="cat photo URL" required><button type="submit"><i class="fa fa-paper-plane">Submit</i></button></div>`

Give the submit button in your form the classes btn btn-primary. Why is this error there ?

[2017-01-05 15:11] esaky commented on #7201
This code make it right.
[code]

[2017-01-05 15:36] raisedadead commented on #12376
Please proceed with removing the addons one by one to know which one is the culprit. Or alternatively keep using incognito, whatever you prefer by your preference.

[2017-01-05 15:37] debashispanda opened #12385 "Make Object Properties Private"
#### Challenge Name

Make Object Properties Private

#### Issue Description

I am not able to find a bug in this snippet.

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-05 15:52] Jamesb1997 opened #12386 "If I type img { width: 100px;}, it works, but if I type .smaller-image etc, it does not"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2017-01-05 16:13] robbawebba commented on #12385
Hi @debashispanda! After looking over the challenge along with your code, I noticed that the issue is with the code you are submitting and not with the challenge itself.

You seem to be mixing up the purposes of the `setGear(set)` and `getGear()` functions. Remember, getter functions are meant to just *return* (get) the value of a private variable, and setter functions are meant to *change* (set)

[2017-01-05 16:23] esaky commented on #1548
`i thought and added the code #left-well and #right-well as id in the text <h4>.`