[2022-10-01 10:57] ieahleen commented on #47736
The challenge passes with this code, please return to the forum and follow the debugging steps offered there.

[2022-10-01 10:57] #47736 closed

[2022-10-01 11:00] ieahleen opened #47740 "Mismatch between text and practice projects sequence"
https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98d5.md

In this step it says

but the flexbox practice project comes before this one. This has to be removed or changed to indicate a previosu project.

[2022-10-01 11:02] Shubham-Rasal commented on #47738
Working on it!

[2022-10-01 11:14] Shubham-Rasal commented on #47738
Hey @ieahleen ,
Please can you go through the changes and see if they can be merged ?

[2022-10-01 11:39] shardul08 commented on #47740
I think removing it would be better

[2022-10-01 11:39] chrischma commented on #47568
The easy solution that worked for me:
Try again with Google Chrome instead of Safari.

[2022-10-01 11:41] ieahleen commented on #47738
@Shubham-Rasal a bit of patience please, someone will review it

[2022-10-01 12:35] rahulraheja49 commented on #47740
I think replacing it with a line like **"You have learnt about this in the challenge [challenge-name]"** and then linking the challenge link would be a good idea so that a learner can directly go to that challenge by clicking on the link.

This was the challenge where it was taught: **learn-css-flexbox-by-building-a-photo-gallery**

[2022-10-01 12:47] munyanezaarmel commented on #47728
thanks, @ieahleen I was wrong

[2022-10-01 12:51] ashutoshshisodia commented on #47655
Can we encrypt the entities and update them in database that the user wants to be made private? That way, we would not end up deleting them and it would not be an issue even if the database gets compromised.
Also, we can decrypt them to plain text anytime we want, or when the user wants.

[2022-10-01 13:25] sanyamgandhak commented on #47655
Hi there , Please assign to me

[2022-10-01 13:54] jeremylt commented on #47740
**if** we replace instead of remove, perhaps

Though I'm not sure we need this line

[2022-10-01 14:53] ShaunSHamilton commented on #47655
@sanyamgandhak
Only issues with the https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted or https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not

[2022-10-01 16:05] bbsmooth commented on #46675
Sorry, I didn't look at this as closely as I should have the first time. With the way this is currently marked up, I don't think "Calories" should be a heading. The "Nutrition Facts" `h1` heading is good, but the next heading in this is really "Amount per serving", which should be an `h2`. This should be a heading because it describes the rest of the information below it. "Calories" is really just

[2022-10-01 16:18] ieahleen commented on #46675
I will rework the headings, thank you @bbsmooth

[2022-10-01 16:21] Sanga-byte29 commented on #47598
please assign this issue i will resolve this

[2022-10-01 16:23] singhshrey27 commented on #47456
Can you assign this task to me , I would like to work for it

[2022-10-01 16:30] ieahleen commented on #47598
Hey @Sanga-byte29, thank you for your interested in contributing, but this issue is not open for contributions, please look at issues with labels https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only or https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted

[2022-10-01 16:57] naomi-lgbt commented on #46675
And also because nutrition labels are printed and don't need semantic HTML. 😅

[2022-10-01 18:19] Aman123lug commented on #47649
@moT01  okay thanks

[2022-10-01 19:23] arunsukumaran commented on #47737
A year, occurring once every four years, which has 366 days including 29 February as an intercalary day.

[2022-10-01 20:27] #47622 closed

[2022-10-01 21:15] adi-uchiha commented on #45949
Hey , Can I work on making that component?

[2022-10-01 21:20] adi-uchiha commented on #45194
Can I work on this ?

[2022-10-01 21:29] jeremylt commented on #45194
Sure. We don't assign issues - we accept the first complete PR that addresses the issue.

In ttis case, we are looking for someone to update the description of the challenge so that is clear that we want a non-mutating push.

[2022-10-01 22:41] dannygr664 commented on #46530
I am happy to take this on!

[2022-10-02 01:30] ErSuyog16 opened #47770 "Rising a test issue for the youtube video I am creating for freeCodeCamp"
this is the issue for video I am creating **Please Ignore**

[2022-10-02 02:53] Srisuma13 commented on #46259
@naomi-lgbt @bbsmooth I would like to work on this if it is up for grabs.

[2022-10-02 03:01] bbsmooth commented on #46259
@Srisuma13 Well, I'm not sure an actual solution has been decided on this yet since I'm the only one who has commented on this. I'm kind of surprised that this has a help wanted tag on it. I threw out a few possibilities but no one else chimed in, so I don't know what would be an acceptable solution or I would probably have just implemented it myself a while ago. Have you looked into this yourself

[2022-10-02 03:31] jeremylt commented on #47770
Please use your own repositories for test issues

[2022-10-02 03:31] #47770 closed

[2022-10-02 04:29] aharna commented on #46502
hey, I would like to work on this issue

[2022-10-02 06:58] nawed2611 commented on #46411
The page mentioned in the issue isn't loading up at the moment

[2022-10-02 09:12] DerrykBoyd commented on #46061
I gave this a try. It didn't work out. I needed to jump through some hoops to even get the scroll position from the iframe into the Preview component via a postMessage. But even with that data, I wasn't able to programatically set the scroll position of the iframe on render.

[2022-10-02 09:41] SandhyaR1007 commented on #47738
Starting on it.

[2022-10-02 10:37] Sboonny opened #47774 "Typos in new JavaScript make an RPG game"
### Describe the Issue

There is a typo in Step 45, the word `propertry` is misspelled.

Here is the typo

https://github.com/freeCodeCamp/freeCodeCamp/blob/f80e34a9509f3208c01524ea25dd573fcacbe760/curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a7bfabe119461eb13ccbd6.md#L14

it should be

----

in step 26, `you

[2022-10-02 10:40] Sboonny opened #47775 "Code sentence in make RPG game confuses Crowdin"
The period at the end of this sentence is confusing Crowdin. It breaks the code sentence into two

Here is the sentence

`You are in the town square. You see a sign that says Store.`.

Here is how it looks in Crowdin: [step 48 in Crowdin](https://freecodecamp.crowdin.com/translate/690087755819f2f67b26dbee3be0eb53/34639/en-ptbr?filter=basic&value=17#q=1217913)

here is the file:

https://github.com

[2022-10-02 10:47] Sboonny commented on #47740
I think, it's better to say,

but, the description should be about the current issue, and it's easy to navigate between projects, so I vote delete it

[2022-10-02 11:02] guptadeepak8 commented on #47774
Is anybody working on this issue? if not I would like too

[2022-10-02 11:03] aneeshgupta25 commented on #47774
Hello.. I would like to contribute to this issue.. Kindly assign me the same

[2022-10-02 12:24] JUSTICEESSIELP commented on #47728
[ieahleen](https://github.com/ieahleen) please assign this project to me and label it hacktoberfest

[2022-10-02 13:02] gefgu opened #47778 "Add link icon and button to headings in blog."
### Is your feature request related to a problem? Please describe.

![example](https://user-images.githubusercontent.com/53129852/193455339-8cb0f6a9-5062-452b-8f0f-f81e469a3995.png)
If you hover the `Insertion Sort` algorithm, you can't easily get a link like `https://www.freecodecamp.org/news/sorting-algorithms-explained-with-examples-in-python-java-and-c#insertion-sort` to reference this section

[2022-10-02 13:26] code08-ind commented on #47778
I can do that if you assign me that

[2022-10-02 13:28] neha-gunta commented on #47778
Hello, I would like to take up this issue.
Apart from a 'chain-link' icon, we can even use icons like a reference book or paper like the images in this:

https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/OOjs_UI_icon_reference.svg/1024px-OOjs_UI_icon_reference.svg.png
or
https://t4.ftcdn.net/jpg/02/48/02/41/360_F_248024184_FtFWfUKe4qBDMgYP9jZNMAsdgLFwCtDI.jpg

Do let me know your views on

[2022-10-02 13:31] code08-ind commented on #47778
If you can share the link of the blogs.

[2022-10-02 13:36] gefgu commented on #47778
@neha-gunta I think the 'chain-link' icon works best for this case.

[2022-10-02 13:38] gefgu commented on #47778
@code08-ind and @neha-gunta I'm not maintainer of this project and, thus, I can't assign any of you. In my experience, the best you can do is to provide a high-quality PR in a short-time and wait for it to be approved.

[2022-10-02 13:40] gefgu commented on #47778
The best I can do for help you both is when one of you provide a high-quality PR, I can ping one of the maintainers for them to merge.

[2022-10-02 14:27] #47774 closed

[2022-10-02 14:39] ethandpark commented on #47775
I gave it a go, used a code block for the instruction itself and then switched up the wording for the hint section

[2022-10-02 15:18] jeremylt commented on #47778
This issue has not been marked ready for contributions. Please be patient and let the team decide if and what changes may be needed.

[2022-10-02 15:20] ieahleen commented on #47775
Things like this don't need to have the file changed, we can change the segmentation on crowdin.

I will fix it from there

[2022-10-02 15:27] ieahleen commented on #47775
![image](https://user-images.githubusercontent.com/26656284/193462088-b9468c42-b571-40fc-a332-700b57ed32e8.png)
Here, it's a single string now.

[2022-10-02 15:27] #47775 closed

[2022-10-02 16:30] ieahleen commented on #47728
@JUSTICEESSIELP thank you for your interested in contributing, but this issue is not open for contributions, please look at issues with labels https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only or https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted

[2022-10-02 16:36] ieahleen commented on #47740
I mean, yeah, deleting is maybe better!

An improvement for the project could be to change the instructions to use flexbox to consider that it has been already introduced in an other project. That may be for an other issue tho

[2022-10-02 17:18] yashdev9274 commented on #47649
Fine, then I'll work on it too.

[2022-10-02 17:56] ieahleen commented on #47778
@yashdev9274
thank you for your interested in contributing, but this issue is not open for contributions, please look at issues with labels https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only or https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted

[2022-10-02 17:56] bbsmooth commented on #47728
We do this incremental building of an element(s) in a lot of places. So even though something doesn't start out as accessible, it does become accessible at some point. I'm guessing in this case we only add the button and not the text in this step in order to keep it short and simple. And as @ieahleen pointed out, the text is added in a later step. If we don't want to make a change to this step the

[2022-10-02 18:15] ieahleen commented on #46411
To update this, the breadcrumb is now present in the template. That part of the issue is solved.

We probably want to discuss how/if we want to highlight editable region and changes in respect of the seed code.

Maybe even a general test on the curriculum that checks if the test outside the editable region still matches the seed code

[2022-10-02 18:17] ieahleen commented on #46411
@nawed2611 Sorry, this issue is not actually open for contributions

[2022-10-02 18:57] bbsmooth commented on #47456
In addition to @ShaunSHamilton's four steps above, I think we need a fifth step to pull the terms and conditions checkbox out of the fieldset it is currently in. The account type radio button grouping should be in its own fieldset with a legend, but this legend would not apply to the terms and conditions checkbox. I don't think the terms and conditions checkbox needs to be in a field set at all, i

[2022-10-02 23:05] DerrykBoyd commented on #45194
I've read through the full thread and submitted a PR that I think should satisfy most, if not all, concerns with the description.

[2022-10-03 00:41] himanu commented on #47649
Hi @moT01, could you please explain the feature which needs to be implemented or the final goal of this issue?

On official website, I have tried navigating the language menu using the keyboard, it was working fine.
By pressing the enter, the language selector can be opened and can be navigated by pressing key-up and key-down.

**What I understand** is this issue is only about adding navigation-re

[2022-10-03 03:37] bbsmooth commented on #47649
This is correct. The keyboard functionality for the menu and language submenu is fine now, nothing needs to be fixed there. The first part of this issue was explaining that at one time the keyboard functionality was accidentally broken and that we would have some tests in place to test for that so that we don't accidentally break it again and not notice. It also suggests the bare minimum we would

[2022-10-03 04:35] Arka90 commented on #47778
please assign it to me i would really like to contribute

[2022-10-03 04:56] Mfonn commented on #44923
Hi, can I please be assigned this issue @naomi-lgbt @ieahleen

[2022-10-03 05:03] bbsmooth commented on #47778
I would not use the github implementation as a model as it is not accessible because you can't get to it with the keyboard. Also, the link is completely hidden from assistive technology because it has `aria-hidden="true"` set on it.

A much more accessible implementation can be found on the following page:

[Overlays Underwhelm at ID24
](https://adrianroselli.com/2022/09/overlays-underwhelm-at-id2

[2022-10-03 05:39] bbsmooth commented on #44923
Did we come to a consensus that using `div.frame` to explain the box model is the way to go here?

I personally don't think we need the images if we use `div.frame`. What we might need to do is add a background color to it so that the user can see the space that it takes up and can see the changes as we have them add width, padding, margin and border.

I do wonder if this issue is ready to be impl

[2022-10-03 07:34] ahmadabdolsaheb commented on #46843
@akhilpamwani, there is an open pr for this issue. Feel free to look into other issues that might interest you.

[2022-10-03 08:18] nawed2611 commented on #46411
<img width="316" alt="image" src="https://user-images.githubusercontent.com/83456083/193531487-ad022616-e4d0-46e3-a1b5-001ad8bb0aaa.png">

[2022-10-03 08:23] #45194 closed

[2022-10-03 08:29] riddhitech commented on #45510
Can you please assign me this issue,I want to contribute.

[2022-10-03 08:58] ahmadabdolsaheb commented on #45949
So we have three tables, one in the certification, on in the settings, and one in the timeline.

They should all essentially be the same bootstrap table element with different  styling props (condensed: boolean;
  striped: boolean) and different columns.

We have traditionally used striped and condensed when we have a large list of data (timeline), but I am open to unifying our tables.

We could a

[2022-10-03 09:25] saw-jan commented on #47649
@moT01 and others, I have proposed PR #47791 for this issue. Please, have a look if that is acceptable or not.

[2022-10-03 09:34] Himanshuiiit commented on #47456
The main problem of the radio button can be fixed using required property. I also found few more problems with the form, some of those are as follows: -
1. The create password field is creating some problem with respect to format.
2. The three sections doesn't have any heading to them.
3. The fields are not marked whether they are required or not.

Please allow me to work in these issues and fix t

[2022-10-03 10:06] ShaunSHamilton commented on #47456
This does not work, as per the discussion above.

[2022-10-03 12:07] ahmadabdolsaheb commented on #47598
I would close this issue for now to reduce confusion. We can discuss this further in the upcoming component library.

[2022-10-03 12:07] #47598 closed

[2022-10-03 12:08] nayabatir1 commented on #47740
Unless we need to remind the user that this topic was taught in this section, deletion is preferable choice for me.

[2022-10-03 12:11] nayabatir1 commented on #47737
Is this issue resolved  ?

[2022-10-03 12:15] Sboonny commented on #47740
Okay, I am opening the issue.

The description should be changed to this.

[2022-10-03 12:23] JaySable82 commented on #47523
Heyy @naomi-lgbt where would i get the good first issue as beginner!!!

[2022-10-03 12:23] ahmadabdolsaheb commented on #45510
@riddhitech , please go ahead 👍. No assignment is necessary as described in our [contribution guidelines](https://contribute.freecodecamp.org/#/index?id=where-do-i-start-if-i-want-to-work-on-an-issue). The first comprehensive PR will be considered for review.

[2022-10-03 15:02] riddhitech commented on #45510
Sir, where is the code , I am a begineer , finding difficulty to find.

[2022-10-03 15:12] moT01 commented on #45949
I can see that being potentially helpful on the settings page. In the other two places, everything is completed, so it would just be a list of check marks or something. We do have the solution column - we could potentially use that to display "Not Completed" or something on the settings page if we want to convey that info somehow while not taking up more space.

[2022-10-03 15:25] moT01 commented on #47740
This looks like a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/47555 - there's a few more suggestions over there we should consider. One example that just changes the instructions, and another that breaks this up into three steps.

[2022-10-03 15:34] #47740 closed

[2022-10-03 15:50] moT01 commented on #47728
I don't think we need to change anything here. We do this throughout the curriculum, specifically the new curriculum, where we add empty elements and fill them in later. I would vote to leave these as they are. I know the new front end curriculum probably won't be ready for a while, but these challenges will become legacy and not maintained at some point. We have discussed that want to minimize (o

[2022-10-03 15:53] lasjorg opened #47803 "Technical Documentation Page - a header element with elements inside it should not count as empty"
### Describe the Issue

The test is looking for `innerText` content and doesn't count other elements as content. A `header` element with other elements inside it is not an empty element and should not be flagged as such.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/build-a-technical-documentation-page-project/build-a-technical-documentation-page

### Your code

[2022-10-03 15:56] bbsmooth commented on #47456
Sections do not require headings.

This is a valid point. If an input field is required it should be visibly marked as required somehow. But this is out of scope for this particular issue.

[2022-10-03 16:32] lasjorg opened #47805 "Building a Set of Colored Markers - Step 5: Remove whitespace requirement for content attribute in meta element"
### Describe the Issue

The test is looking for a string with a space in it that isn't required.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-colors-by-building-a-set-of-colored-markers/step-5

### Your code

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-

[2022-10-03 17:13] nayabatir1 commented on #47457
Hey, I would like to work on it. Can anyone tell what should test cases cover.

[2022-10-03 17:35] MayurSMahajan commented on #41373
First of all I am a beginner to open source and javascript. Is this still an issue, if it is let me tell what I think the issue is:
Currently the links News, Forum and Radio links all appear in an dialog window, which appears when you click the Menu Button.
Something like this :
![image](https://user-images.githubusercontent.com/47064215/193641759-37fcc820-1138-4286-94a6-2939d2860fad.png)

The fix

[2022-10-03 18:35] Saul-BT commented on #47805
Can I work on this?

[2022-10-03 19:08] nayabatir1 commented on #47803
Hey @lasjorg I've used same html and css provided in codepen. All tests are passing for me.

![image](https://user-images.githubusercontent.com/91016903/193658002-644da33f-0080-4885-9740-35fad97b76a3.png)

Also I tried to console `innerText`, all the text are displaying fine. I don't any reason test should fail.

![image](https://user-images.githubusercontent.com/91016903/193658652-0684c365-fa72-4

[2022-10-03 19:48] Avijit-1352 commented on #47805
hi can I work on this?

[2022-10-03 20:06] Ankitchaudharyy opened #47809 "Invalid Name and location in user profile"
### Describe the Issue

Numeric digits and invalid (random) text is allowed in Name field in Profile page.
Invalid or non-existent locations can be entered.

### Affected Page

https://www.freecodecamp.org/settings

### Steps to Reproduce

1. Go to 'https://www.freecodecamp.org/settings'
2. Click on Name / location field input box.
3. You can enter all characters.

### Expected behavior

For Names

[2022-10-03 20:07] Ankitchaudharyy commented on #47809
I can work on this issue, if approved.

[2022-10-03 20:13] lasjorg commented on #47803
That isn't the original HTML. The new HTML now has a `p` element with a pipe `|` symbol which counts as text.

But I was wrong in saying the text had to be a direct text node of the header element as it can be text inside a direct child element. But the main point still stands.

Original
[code]

New (notice the `<p> | </p>` element)

[code]

[2022-10-03 20:23] lasjorg commented on #46997
An issue with the help wanted or first timers only label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues with contributing,

[2022-10-03 20:27] lasjorg commented on #47805
@Avijit-1352 It looks like there already is a PR open for this. But have a look for other issues with the `help wanted` label.

[2022-10-03 20:31] moT01 commented on #41373
Yes, this is still an issue @MayurSMahajan. See the [images above](https://github.com/freeCodeCamp/freeCodeCamp/issues/41373#issuecomment-848569978) for how we might want it to look - the bottom two are the main site. I'm not quite sure how we want it, but something close to that I presume. This will probably be a little tricky - everything still needs to be responsive, so the buttons would have t

[2022-10-03 20:31] nayabatir1 commented on #46997
What I meant was what cases should the tests cover ?

[2022-10-03 21:09] ShaunSHamilton commented on #47809
Thank you for taking the time to open this.

We are specifically lenient on the characters allowed in these fields; you never know when someone's name will contain a number: https://www.wikidata.org/wiki/Q93418989

Also, a location with a dropdown of the hundreds of thousands of locations does not sound useable or maintainable. Also, seeing as we do not use the location value for anything official

[2022-10-03 21:12] naomi-lgbt commented on #44923
Going to remove https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted from this issue as we seem to still be discussing the implementation.

[2022-10-03 21:23] nayabatir1 commented on #47803
This strange behavior 1st code block has innerText still it fails

On FCC (with 1st code block)
![image](https://user-images.githubusercontent.com/91016903/193684692-b6322df9-c7de-4b77-a353-0d012d8ce8fc.png)

On local system / codepen (with 1st code block)
![image](https://user-images.githubusercontent.com/91016903/193685201-cc057bd0-ffb9-4456-afb2-603991d0e9f4.png)

[2022-10-03 22:01] moT01 commented on #47457
It should test that the hotkeys (ctrl+enter) run the tests when the instructions or test area is focused

[2022-10-03 22:23] hbar1st commented on #47602
Yes I started noticing other tests allowing additional code to pass as well. For eg step 2 cat photo to app allows me to define 6 lines of headers from h1 to h6 and it passes.

My thought though is that this person's solution doesn't show that they understood what to do here. Oh well. Also it can be frustrating to tell someone how to fix their code and then they say something like : oh you were wr

[2022-10-04 01:44] #46887 closed

[2022-10-04 02:11] AkashsRepositories commented on #47738
Working on it. Will update soon.

[2022-10-04 02:38] AkashsRepositories commented on #47738
Raised a MR regarding this. Please check.

[2022-10-04 02:46] bbsmooth commented on #41373
When the platform links are pulled out of the main menu I would use an unordered list and then wrap the list in a `nav` and give it an accessible name with `aria-label="platform"` (using translation for "platform" of course).  Or if not "platform", whatever we want to refer to these links as.

Currently in the curriculum main menu we use an icon to signify that the links to the other platforms ope

[2022-10-04 04:33] Sboonny commented on #47157
We don't assign issue, unless to active contributors.

Because of Ahmad comment I am opening the issue for contribution. What is needed:

- replace the help and reset buttons to icons
- add tooltips to them

If you would like to fix this issue, please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instructions

[2022-10-04 05:11] livinglifemeaning commented on #47513
Doesn't 'overflow: hidden' not work on the body and html elements in mobile? I was facing an issue maknig the mobile version of a website and I had to apply the overflow property to the main element that wrapped my content for it to work properly on mobile.

https://stackoverflow.com/questions/14270084/overflow-xhidden-doesnt-prevent-content-from-overflowing-in-mobile-browsers

[2022-10-04 06:10] nayabatir1 commented on #47457
What is the best place to write test cases ?
Any reference file ?

[2022-10-04 06:20] bbsmooth commented on #47157
Implementing accessible tooltips is not easy. The WCAG requirements are very hard to meet. And of course there may be issues with hover on touch devices. @SleemBee444, you'll notice that if you use the keyboard to focus those icons at the top of a youtube page that the tooltips don't show (except for the search magnifying glass). Yes, even the big sites don't implement them accessibly.

I would fo

[2022-10-04 07:36] Sboonny commented on #47809
I vote to remove the location field 👍

[2022-10-04 07:38] ahmadabdolsaheb commented on #41373
Just a little update on the issue. We would need to expose the platform links on desktop screen sizes. Since the space is limited in the navigation bar (different translations might require more space), I would be cautious about adding the icons for the exposed platform nav items.

Additionally @bbsmooth , I discussed @oriooctopus exposing the language selector; However, it would be reduced to an

[2022-10-04 07:47] Sboonny opened #47816 "Line goes against our challenge document in skyline project"
### Describe the Issue

In step 20 of building a skyline project, there is a text that go against [challenge document](https://contribute.freecodecamp.org/#/how-to-work-on-coding-challenges?id=challenge-descriptionsinstructions)

This should be changed to

Here is the markdown file [curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/6153a3952fa

[2022-10-04 08:51] vinayak-0017 commented on #47809
hey @Sboonny can you assign me this issue , I would love to help out by removing that location input field.

[2022-10-04 09:12] ShaunSHamilton commented on #47809
@Sboonny We cannot delete the field just so quickly. I was making a passing comment about my thoughts on the field.

This sort of decision would result in the removal of data in the DB, which cannot just _happen_.

[2022-10-04 09:19] ojeytonwilliams commented on #47809
Also, it's not redundant, it's displayed on the user's profile. The only issue is that it's not identified as such.

Being able to display your location is a nice feature, so I don't see that it needs to be removed.  Why not simply add "Location: " in front of it?

[2022-10-04 09:31] lmssr commented on #47816
Hello, can I work on this issue ?

[2022-10-04 09:32] ShaunSHamilton commented on #47809
This is very off-topic for the current issue thread. I do not think that is necessary - I cannot think of another platform that does that

[2022-10-04 09:40] ojeytonwilliams commented on #47809
This platform does.  Admittedly it uses an icon, not text, but the point stands.

[2022-10-04 10:48] ojeytonwilliams commented on #47457
@nayabatir1 cypress/integration/default/learn/challenges/multifile.js is probably the best place for these tests.  There are a few similar tests that you can look at, the obvious difference being we'd want to shift the focus to the instructions before trying to trigger the hotkey.

[2022-10-04 13:56] jeremylt opened #47824 "Euler - Solution Efficiency"
### Describe the Issue

As each test runs independently, some of my Euler solutions that use an initialization function incur a mild time penalty in the test suite. We should refactor the Euler solutions I provided to avoid this performance penalty. I can do it or coach another user, but either way I can't help until next week.

### Affected Page

Various

### Expected behavior

Reduced test suite

[2022-10-04 13:57] IvanoskiHarmonia commented on #47816
No need to ask if you can work on it, this are open to first timers.

[2022-10-04 15:00] ieahleen commented on #47737
@nayabatir1 there is an open issue for this PR

[2022-10-04 15:02] ieahleen commented on #47728
Considering the discussion, I am closing this issue. You can request to have it reopened if you think it's needed.

[2022-10-04 15:02] #47728 closed

[2022-10-04 15:35] bbsmooth opened #47827 "Immediate accessibility fixes for RWD: Learn Accessibility by Building a Quiz"
### Describe the Issue

[ ] The "CSS" `h2` and the `textarea` have the same `id` value. This is affecting screen reader users since this involves an input and associated label.
[ ] The logo in the upper left needs alt text. I would suggest it just be "freeCodeCamp".

### Affected Page

A lot of them :slight-smile:

### Your code

N/A

### Expected behavior

- Either the "CSS" `h2` or the `textarea

[2022-10-04 16:04] bbsmooth opened #47830 "Potential accessibility fixes RWD: Learn Accessibility by Building a Quiz"
### Describe the Issue

The following is a list of accessibility issues ranked by severity. I don't expect that all of these will be implemented. This is more of a "in a perfect world" scenario (especially toward the bottom of the list). A few of these are complex enough that if we decide to fix them we should probably create new individual issues for them so that we can discuss them more.

**Some

[2022-10-04 16:13] ShaunSHamilton commented on #47827
Seeing as the logo is non-functional, do we want the alt to be null? `alt=""`? If it does require an `alt`, then this should get its own step, and a clear description as to why it needs one should be given.

I suggest changing the `id` of the `textarea` (and associated `label for`) to `question`.

[2022-10-04 16:16] ShaunSHamilton commented on #45091
Does this not defeat the purpose of a `header`? Should we scrap the `header` all-together from this project?

[2022-10-04 16:46] bbsmooth commented on #47827
Per [WCAG 1.1.1: Non-text Content](https://www.w3.org/WAI/WCAG21/Understanding/non-text-content.html), the logo does require alt text. Functionality isn't the deciding factor here, it's if the image conveys information (i.e. is not purely decorative), which this image clearly does.

Do we want to split this off into its own issue if we are going to create a new step?

[2022-10-04 16:54] ShaunSHamilton commented on #47827
I would say yes, but it is not fun to deal with the merge conflict, when two PRs are opened at the same time.

[2022-10-04 17:09] #47816 closed

[2022-10-04 17:16] ieahleen commented on #47627
We kind of go back to #46463

In this specific case we can patch it up with a test that check there is only one attribute of that type.

[2022-10-04 19:09] Jasmine-maryj commented on #46997
is anyone working on step 30?

[2022-10-04 19:42] CaydenBurns commented on #46747
I see this is still open but also saw that Sboonny submitted 4 tasks. I would love to take up this issue and implement a solution. Sorry if this is a redundant question but is this still available to work on? Thank you very much!

[2022-10-04 20:33] Jasmine-maryj commented on #46997
<li>
                  <label for="first-ans"><input type="radio" id="first-ans"><br>
                </li>
                <li>
                  <label for="second-ans"><input type="radio" id="second-ans"><br>
                </li>
              </ul>
            </fieldset>
          </div>
          <div class="question-block">
            <p>2</p>
            <fieldset class="question" name="

[2022-10-04 22:35] Sboonny commented on #46747
@CaydenBurns this neither labeled help wanted or first time only, if you are interested in helping there are issues which labeled help wanted or first time only

[2022-10-04 22:37] CaydenBurns commented on #46747
I'm not looking for a first-time-only issue to solve, looking to add some quality code to an existing issue. I will look for a help wanted sign. my apologies.

[2022-10-05 10:19] MayurSMahajan commented on #41373
Okay guys! I am working on this issue.

[2022-10-05 10:39] ieahleen commented on #46997
If it has to require a specific id, it has to be the one used in the next step

[2022-10-05 10:51] ieahleen commented on #47809
I don't think we need to remove either field, nor limit them. People can choose to dispaly what they want on their profile.

I mean, freeCodeCamp uses "on Earth... for now" as location, who we are to limit people!

[2022-10-05 11:10] ShaunSHamilton commented on #46843
@ahmadabdolsaheb Do we want to remove the existing loading bar in favour of `X out of Y`? Or, do we want to replace the text? Or, do we want both?

a)
<img width="328" alt="image" src="https://user-images.githubusercontent.com/51722130/194046732-1416277a-b249-48fc-a0fc-b556cad15769.png">

b)
<img width="313" alt="image" src="https://user-images.githubusercontent.com/51722130/194047179-5dc71e6f-53e

[2022-10-05 11:33] ieahleen opened #47847 "freeCodeCamp profile is missing indications of fields"
![image](https://user-images.githubusercontent.com/26656284/194050783-42296fd9-f3d2-4f63-9582-d88ef5986288.png)

When you read a profile it's not clear that those are Name, Location, About

![image](https://user-images.githubusercontent.com/26656284/194050839-7ed5864f-073c-4247-8c5b-c7724d24246a.png)

Maybe @bbsmooth can give some accessibility indications?

[2022-10-05 11:34] ieahleen commented on #47809
I'm closing this in favor of #47847

[2022-10-05 11:34] #47809 closed

[2022-10-05 13:41] ahmadabdolsaheb commented on #45949
Would having a  view button signify a project's completion?

[2022-10-05 14:45] jeremylt opened #47854 "Step 12 Minor Tweek"
### Describe the Issue

The changes to Step 12 on Cat Photo App seem to be paying off.

One last common issue seems to be the period inside of the anchor text. Should we add a dynamic hint?

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-12

### Your code

[code]

### Expected behavior

Clear hint indicating to remove th

[2022-10-05 15:14] jeremylt commented on #47476
Do we want to open this for contributions with my last suggested wording?

[2022-10-05 15:19] Doraemon23 commented on #47038
So the solution would be to replace every comment with a number and create a section in the description with information about each comment?

[2022-10-05 15:44] ieahleen commented on #47038
Yes, the information provided by the comments should instead be provided by the project description

[2022-10-05 15:45] moT01 commented on #47316
Thanks for your interest @ebenezer0311, but no - we are still discussing this issue, and I think we will end up leaving this as it is for now.

Your best bet is to look for an issue with a `help wanted` or `first timers only` label. Those are all open for contribution - although, some may have an open PR to fix the issue so you may want to avoid those. If you find an issue without one of those lab

[2022-10-05 15:59] moT01 commented on #45949
It does - I'm not sure how obvious it is to campers though. Actually, the timeline already does have a completed column to show the date completed. So we will want to keep that I think.

[2022-10-05 16:38] bbsmooth commented on #47847
Hey @ieahleen How do I get to that profile you displayed in your first pic?

[2022-10-05 17:08] Doraemon23 commented on #47038
Can you check if #47858 is able to fix this problem?

[2022-10-05 17:11] Ayush-singla27 commented on #46502
Hey, is it fine to add one line explanations for em and vh wherever it is mentioned first in the project.
Also, can we provide a link like [this](https://www.freecodecamp.org/news/css-unit-guide/) so that the user can look into it if he /she wants to.

[2022-10-05 17:19] YuriDevAT commented on #47523
Hi. I am an Accessibility Developer. If this issue is still open, I would like to work on this.

[2022-10-05 17:23] jeremylt commented on #47824
There are several. I can fill in more details next week.

[2022-10-05 17:34] ieahleen commented on #47847
Thank you @bbsmooth , it's at freecodecamp.org/ieahleen

[2022-10-05 17:50] nayabatir1 commented on #47854
Why do we need to add extra information, as per instruction `cat photos` is without period(.).

[2022-10-05 18:17] bbsmooth commented on #47523
There is already a PR open for this (see above) and it is just about to be merged.

[2022-10-05 18:35] bbsmooth commented on #47847
There are quite a few accessibility issues with this profile page, but I'll stick to the topic at hand. For the personal information displayed in your first pic above, there is no requirement that you need to label what each of these are. Yes, it is not clear what some of these are, but it is not clear for everyone, regardless of how you are accessing the page, so there is no accessibility issue h

[2022-10-05 18:43] #47523 closed

[2022-10-05 18:54] Sboonny commented on #47523
Do I open new issue for [donate](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/pages/donate.tsx) and [profile](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/components/profile/profile.tsx) missing `h1`?

[2022-10-05 19:05] Al3nMicL commented on #46502
To contribute, I think you should follow the requirements in this [guide](https://contribute.freecodecamp.org/#/index?id=learning-platform)?... Not a %100 sure, since I've never contributed to the learning platform myself, but this is what I found after some digging around

Please correct me anyone if I am wrong, thanks

[2022-10-05 19:31] ppeters0502 commented on #47847
I tested out adding translatable labels next to the Name, Location, and Bio to make it a little clearer. If this looks ok, and there aren't any accessability issues, I can submit a PR with these changes.
![image](https://user-images.githubusercontent.com/6621379/194146362-22449247-be9e-4570-b156-e239fa0dc208.png)

[2022-10-05 19:44] Sboonny opened #47860 "Typos in new JavaScript make an RPG game"
### Describe the Issue

There is a typo in Step 108, the word `property` is single while it should be `properties`.

Here is the typo

https://github.com/freeCodeCamp/freeCodeCamp/blob/6dd8c6241be330bd3b32b7af6756f60473fc88c7/curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8d81f539f004776dd9b1e.md#L12

----

in

[2022-10-05 20:10] void-hr commented on #47860
I would like to work on this.

[2022-10-05 20:11] Sboonny commented on #47860
@void-hr feel free to open a pull request, after you have read [our guidelines for contributing](https://contribute.freecodecamp.org/#/).

[2022-10-05 20:27] KravMaguy commented on #47854
which option do you want?
1. clear hint to remove the period
2. accept a link text with a period at the end

Ive done #2

[2022-10-05 21:02] jeremylt commented on #47854
We haven't decided yet

[2022-10-05 21:03] void-hr commented on #47860
@Sboonny I have opened a PR please let me know if there are any changes or improvements that needs to be done.

[2022-10-06 00:17] hvaandres commented on #45938
Thank you guys for your help. I forgot about this but I was able to make it work

[2022-10-06 03:13] moT01 commented on #47854
Change the test so it so it doesn't matter where the period is.

[2022-10-06 03:21] moT01 commented on #47847
I think I would prefer to leave this how it is - but I'm not against adding some labels either. That looks pretty decent. I wonder if it would look better with the colons all lined up - e.g. the colon (`:`) on each line would be horizontally centered. Hmm, I think that `about` section allows quite a lot of characters so that may not work well.

[2022-10-06 03:29] #45676 closed

[2022-10-06 03:55] lasjorg commented on #47476
@jeremylt I think so, just make sure both of the `new` keywords are inside a code block and `constructor` for the class constructor. As they are both actual code and should be shown as such.

I think the second sentence might need to be changed slightly, but I'm not sure how best to word it.

---

At the very least the use of code blocks around the word `constructor` in the original text is wrong

[2022-10-06 04:13] KravMaguy commented on #47854
Sure no problem, is this open to working on it or not? I've been told the
issue is not open to accepting pull requests

On Wed, Oct 5, 2022, 8:13 PM Tom ***@***.***> wrote:

[2022-10-06 07:20] ojeytonwilliams commented on #47847
It's not terrible as is, but I think there's room for improvement.

However, I'm not sure we need labels for all of them, since Name should be self-explanatory and About probably is, too. That said, Location being the only one with a text label looks a little strange.  We could try using a icon (with aria-label) for Location and see how that looks.

@ahmadabdolsaheb what do you reckon?

[2022-10-06 08:20] jeremylt commented on #47854
There is a label when its ready for contribution.

I don't think we care about the period, so I'm fine making the test more flexible and letting the period be optionally included.

[2022-10-06 09:00] Sboonny commented on #47157
I want this to move forward, so we can use the icons used in our mobile app. If they are confusing, then we can change both for better ones, which is a plus.

Here is the mobile app design: [The Figma design](https://www.figma.com/file/4XPlUi8QGWsmyV7hA8r86m/learn-mobile?node-id=79%3A3123), the figma design is missing the reset button, so here it's: [Reset Button](https://fontawesome.com/icons/arr

[2022-10-06 10:26] #47860 closed

[2022-10-06 12:23] jeremylt commented on #47854
I closed the PR because having this discussion in a PR tends to pull the contents of the changes back and forth as the discussions work towards consensus.

WWe have three consistent votes for the second, to accept the period inside or outside of the anchor, but in a consistent location. Placing the period in a location that turns the words into gibberish should not be allowed.

I generally like re

[2022-10-06 13:18] saw-jan commented on #46061
@Sembauke @moT01 I have created a PR for this with my idea (#47870). What do you guys think? Please, have a look.

[2022-10-06 13:41] IIvexII opened #47871 "Showing both options as view in selection menu while claiming certificate"
### Describe the Issue

It looks like there is a typo on this page.

### Affected Page

https://www.freecodecamp.org/settings#certification-settings

### Expected behavior

It should show the view code and view as website.

### Screenshots
![Screenshot from 2022-10-06 18-42-40](https://user-images.githubusercontent.com/41378765/194328860-7fa3f3a2-bb15-4dbf-9b4f-f37dd5a7e518.png)

### System

- Dev

[2022-10-06 13:51] ShaunSHamilton commented on #47854
I am all for keeping programming what it is - absurdly specific. So, I like the suggestion to make the hint dynamic/specific.

Either, have a test specifically looking for a `.` within the textContent. Or, use a dynamic hint to say "expected X, but found Y".

[2022-10-06 14:53] ieahleen commented on #47871
It's doing the same in a certification page
![image](https://user-images.githubusercontent.com/26656284/194345914-b6f598e9-6388-4b36-821c-4b1316ef7640.png)
(https://www.freecodecamp.org/certification/ieahleen/responsive-web-design)

[2022-10-06 15:21] bbsmooth commented on #47157
@Sboonny Tooltips on these buttons aren't for screen reader users. Screen reader users will hear the accessible name of the button when they focus it (e.g. if we use `aria-label="reset code" then they will hear "reset code button" when they focus the button). So we do not need to do anything special for screen reader users like adding extra text about being a tooltip. Basically, screen reader user

[2022-10-06 15:57] #46530 closed

[2022-10-06 17:13] Sboonny commented on #47157
With these comments, I am comfortable opening this for contribution, we can add temporary tooltips as bbsmooth described and prefect it, later.

What is required:

- [ ] two Icons button for (submit, and reset)
- [ ] `title`, `aria-label`, and `aria-describedby` to the buttons
- [ ] add temporary tooltip for the two button
- [ ] innerText for tooltips should be the same as `aria-label` in the butt

[2022-10-06 17:21] bbsmooth commented on #47157
Hey @Sboonny most of the above sounds good but I'm not quite sure I understand everything. Are we going to rely on the `title` attribute and the browser's default tooltip behavior to display them? If so, then we don't need to do anything special other than add `aria-label` for the accessible name and set `title` to the same value. So we wouldn't need `aria-describedby` or `aria-hidden` on anything

[2022-10-06 17:51] nayabatir1 commented on #47627
Is this issue resolved ?

[2022-10-06 17:52] Sboonny commented on #47157
I haven't added them to allow for contribution to choose what they are comfortable with. That being said, I always prefer the default behaviors, because it is easier to spot its issue 🤔, and easier to alter slightly to our needs. I will update my previous comment 👍

[2022-10-06 17:52] ieahleen commented on #47627
@nayabatir1 no, but there is a PR open that targets this issue

[2022-10-06 17:55] nayabatir1 commented on #47627
From my past experience it's better to not create pr if an issue already has  a pr.
Do let me know if that pr is not up to the mark and new pr are welcome.

[2022-10-06 18:06] ppeters0502 commented on #47847
I know we're still kind of on the fence about whether labels are needed or not. I tweaked my original changes I screenshotted earlier to line the labels up and put the responses in a <Col> so that they don't bleed past what would look normal. I think this looks better, but I totally understand if we go towards not having labels:
![image](https://user-images.githubusercontent.com/6621379/194386701-

[2022-10-06 18:54] bbsmooth commented on #47157
@Sboonny For the default browser behavior, you only need the first two items and you can just add a note on the second item that the values of `aria-label` and `title` should be the same. That is all you need to do to use the browser's built in tooltip functionality.

If we aren't going to use the default behavior then that second list you have is going to need a lot more checkboxes :-) Also, if w

[2022-10-06 19:19] nayabatir1 commented on #47627
Hey I did some research and found that
* even if add duplicate attribute is added, DOM node only consider the first one and just ignore the rest. [reference](https://html.spec.whatwg.org/multipage/parsing.html#parse-error-duplicate-attribute)
* 'getAttribute()` will return only first attribute

I'm not sure how to validate this.

![image](https://user-images.githubusercontent.com/91016903/19439956

[2022-10-06 19:42] ShaunSHamilton commented on #47627
This is why I disagree with trying to test for this - there are an infinite number of incorrect ways Campers can get the correct output.

We would need to use RegEx.

[2022-10-06 20:18] nayabatir1 commented on #47627
One cannot test by accessing DOM node, inorder o test it we need to check actual text that user has entered in the input box.

[2022-10-06 21:11] bbsmooth commented on #47627
I completely understand this sentiment. If you want to close this issue and forget about it, it won't hurt my feelings :smiling_face_with_tear: But the specs definitely do not allow it and the W3 validator will throw an error. But I suppose you could have this problem with every step. I think @ieahleen was onto something and this is really more an issue of whether we should validate the HTML. So y

[2022-10-06 21:55] ShaunSHamilton commented on #47627
As such, I am closing this in favour of the previously linked PR tracking possible HTML validation. _no hurt feelings_

[2022-10-06 21:55] #47627 closed

[2022-10-06 23:42] KravMaguy commented on #47854
The user can either have a period at the end of the link or not. and display a dynamic hint otherwise. Is the work I did good?

problem is equal only take two parameters I cant do equal(userInput, "cat photos"||"cat photos")
should we change modify this:

https://github.com/freeCodeCamp/freeCodeCamp/pull/44279/files/8a535e7489b96754df62a7e3e8879ec1689c3c62

[2022-10-06 23:47] ShaunSHamilton commented on #47854
No. We specifically want to make sure Campers do **not** include a period in the link.

[2022-10-07 02:19] moT01 commented on #47854
My suggestion to...

comes because I recall a very similar conversation on another issue. My original position in that conversation was similar to yours @ShaunSHamilton - programming doesn't allow typos, so why would we? But I was overruled because we don't want people to get stuck in spots like this. They completed the main learning task of adding the anchor element, but just misplaced a period -

[2022-10-07 05:23] bbsmooth commented on #47157
Just want to add that I spent most of today searching for accessible react tooltip components, just to see what was out there, and was greatly disappointed except for one, the [MUI React Tooltip component](https://mui.com/material-ui/react-tooltip/#basic-tooltip). This implementation is extremely accessible and appears to be highly configurable and customizable. Not sure if we would consider using

[2022-10-07 07:04] raisedadead commented on #47871
@Sboonny Is this related to something you were working on recently?

[2022-10-07 07:08] UditNS commented on #47871
Where I can find the code for making the changes ?

[2022-10-07 07:12] raisedadead commented on #47871
You should follow these [contributing guidelines](https://contribute.freecodecamp.org)

[2022-10-07 07:33] surajrane42 commented on #47871
Hello, I am interested in working on it

[2022-10-07 07:57] sonnguyen112 opened #47887 ""Exercise Tracker" typo in `substring` method"
### Describe the Issue

I have pass all test case of "Exercise Tracker" challenge except the 7th test case("you can POST to /api/users/:_id/exercises with ..."), I tried many way but still can't pass this test case. When i open the console of Chorm, i found the bug "Date.now(...).subtingr is not a function" when i click on the button "I've completed this challenge" to submit the `project```

### A

[2022-10-07 08:29] ieahleen commented on #47887
Please provide the link to the project that you submitted

[2022-10-07 08:36] lasjorg commented on #47476
My only small concern is with this part of the sentence.

It makes it sound like you call the `constructor` directly using `new`.

There is some level of indirection between the class and the `constructor` I'd like to verbalize. I know the word "invoked" does carry some level of indirection but I'm not sure if that will be clear enough to a beginner.

The class _is_ the constructor.

[code]

But I

[2022-10-07 08:43] gikf commented on #47887
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/05-back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker.md

Line https

[2022-10-07 08:55] Sboonny commented on #47871
@raisedadead yes, this passed my radar in reviewing #47525, we can revert it, and I should be adding a fix shortly

[2022-10-07 09:03] Prince-Mendiratta commented on #47871
Hi, @Sboonny! Could you assign this issue to me instead? I've already started implementing a fix and adding the respective texts for each locale.

[2022-10-07 09:09] KravMaguy commented on #47854
ok ive fixed it.

https://github.com/freeCodeCamp/freeCodeCamp/commit/25078213a76767e789a2c6a7f1592e90f16840ed

[2022-10-07 09:10] Prince-Mendiratta commented on #47871
Sounds awesome, thanks!
Also, which preview icon are we talking about? I'll make sure to add that as well.

[2022-10-07 09:14] surajrane42 commented on #47887
Hello, I am interested in working on it

[2022-10-07 09:14] Sboonny commented on #47871
@Prince-Mendiratta, in this PR #46251 tom added `<FontAwesomeIcon icon={faExternalLinkAlt} />`, tom add icon to previewing iframe icon.

because the button do similar thing, I wanted to add the icon as well.

[2022-10-07 09:28] ieahleen commented on #46675
I am working on trying to make the label as compact as it was, leaving the same design
the current
![image](https://user-images.githubusercontent.com/26656284/194521484-e10d632b-17eb-407c-9e0a-e10265561e4d.png)

my replica
![image](https://user-images.githubusercontent.com/26656284/194521570-1882fef8-e08f-40a0-9fb5-41a7eb3f579d.png)

I will manage, evetually

[2022-10-07 09:47] ieahleen opened #47891 "Update front end demo project URL's"
Describe the Issue
All the data viz projects were created on our .rocks domain. We just need to replace the codepen URL's with the new addresses in the curriculum files of those five projects.

Here's the URL's:
https://25--5-clock.freecodecamp.rocks
https://drum-machine.freecodecamp.rocks
https://javascript-calculator.freecodecamp.rocks
https://markdown-previewe.freecodecamp.rocks
https://random-

[2022-10-07 09:51] Prince-Mendiratta commented on #47871
@Sboonny To which buttons should I add the preview icon? Should I add this as a separate PR to keep things atomic or should I add it as a commit to the current PR?

[2022-10-07 09:55] Sboonny commented on #47871
You are right, the current issue is about typo.  👍

We can merge your work in, and I will create a new issue about the icons, maybe we can think of an icon for `View` button that isn't a dropdown there, as well. 🤔

[2022-10-07 09:58] Prince-Mendiratta commented on #47871
The `faExternalLinkAlt` icon renders something like this. It implies an external redirection, rather than an iframe popup but I guess that's just me nitpicking.

![image](https://user-images.githubusercontent.com/54077356/194527365-08ce88f6-6907-467a-b4f5-f757e554a4b4.png)

[2022-10-07 10:01] Sboonny commented on #47871
Opening a new issue for this, and adding icon to view button. 👍

[2022-10-07 10:02] ieahleen commented on #47887
@surajrane42 hey there, I suggest reading our contributing guidelines! as it says, all issues with https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only and https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted labels are up for grabs

[2022-10-07 10:03] ieahleen commented on #47871
If the project is an external link I agree with the use of that icon, if it's a modal I am not sure

[2022-10-07 10:25] Anuran12 commented on #47891
@ieahleen  i would like to do this. I started open source contribution a few days ago .

[2022-10-07 10:25] surajrane42 commented on #47887
@ieahleen I have fixed this issue and raised a PR.
https://github.com/freeCodeCamp/freeCodeCamp/pull/47892

[2022-10-07 11:03] ShaunSHamilton commented on #47854
@moT01 I suppose that is a fair point. My reason for sticking with requiring specificity is we have the ability to say: "We expected `some text`, but you put `some text.`".

We could even go as far as pointing out the diff.

[2022-10-07 11:21] NNRepos opened #47893 "Exercise Tracker first test false positive"
### Describe the Issue

on the [exercise tracker website](https://www.freecodecamp.org/learn/back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker), the first test says "You should provide your own project, not the example URL.".
obviously i provided the example URL, but then the test has passed.

### Affected Page

https://www.freecodecamp.org/learn/back-end-develo

[2022-10-07 11:53] Anuran12 commented on #47891
@ieahleen  will it count for Hacktoberfest?

[2022-10-07 12:42] #47887 closed

[2022-10-07 13:28] 20RitikSingh commented on #45585
I want to work on this

[2022-10-07 13:31] 20RitikSingh commented on #47468
I want to work on this.

[2022-10-07 14:02] kclalit64 commented on #47891
@ieahleen the project URLs you have provided are not accessible. [Error: DNS address could not be found.]

[2022-10-07 14:14] rffontenelle opened #47906 "code-blocks containg punctuation are broken in multiple translation strings in Crowdin"
### Describe the Issue

Code blocks containing punctuation (e.g. dot and question mark) get broken in Crowdin into more than one translation string, when should be contained in a single translation string.

This is same issue as #47775 but for other strings and files, and it was solved (without editing the source code) by applying the proper setting in Crowdin as can read in that issue's comments.

[2022-10-07 14:19] RJ025 commented on #47891
@ieahleen  i have changed all mentioned projects URL please check

[2022-10-07 14:19] kclalit64 commented on #47893
Please confirm if the issue is resolved

[2022-10-07 14:23] kclalit64 commented on #47891
@Anuran12 I know, but Isn't it a good habit to look into that before opening an issue?

[2022-10-07 14:52] ieahleen commented on #47893
This one fails if you use the sample project provided at the top of the page

The palceholder url doesn't point anywhere and all the other tests fail

[2022-10-07 15:00] ieahleen commented on #47906
Crowdin breaks by sentence, it doesn't make any distinction on text inside a code block.

The global fix would be to find a way to not break strings if the punctuation is inside code blocks. (between `<code>` and `</code>`)

This should be the file that contains the segmantation rules
https://github.com/freeCodeCamp/crowdin-config/blob/main/segmentation/segmentation.srx

I (or someone else) will c

[2022-10-07 15:11] RohitShah1706 commented on #47891
I have a good experience with JS & node JS, can I updated the content.

[2022-10-07 15:33] NNRepos commented on #47893
@ieahleen oh, i guess there are 2 example URLs, i misunderstood. should i close this?
or do you want me to create a PR to clarify the description (or even better, use the same URL in both cases)?

[2022-10-07 15:46] raisedadead commented on #47891
There is an PR in the works that is going to fix this. We are locking this thread to avoid too many "Can I help" comments.

Please read [contributing guidelines](https://contribute.freecodecamp.org) to help us help you.

[2022-10-07 17:36] nayabatir1 commented on #47854
If instruction provided says `some text`, I don't think we should allow `some text.`

[2022-10-07 18:05] bbsmooth commented on #47854
Just throwing out another option that I alluded to above. Reword the sentence to something like:

"View more cat photos from our collection."

And have the link text be "more cat photos". This gets rid of the awkward "Click here" at the beginning of the sentence, which if you think about it, the "Click here" should be the link. But really, "Click here" is so mid-90s early internet. We shouldn't be

[2022-10-07 18:21] KravMaguy commented on #47854
Very cool, i'd like to do it, does this feature currently exist somewhere in fcc? if not, it would be a seperate feature request and have its own issue yes?

Agreed, I think it is enough for most users who have made it this far to figure out what needs to be done in order to pass the challenge:

![image](https://user-images.githubusercontent.com/37171082/194624198-d841c2a8-aa57-4273-8bca-81cfe8de7

[2022-10-07 18:39] nayabatir1 commented on #47847
This is neat 🔥

[2022-10-08 07:06] Beast71421 opened #47921 "Automatically add the contributers images in readme file and make it more beautifull"

[2022-10-08 07:06] Beast71421 commented on #47921
Hi can i have this issue i would like to work on this.

[2022-10-08 07:58] raisedadead commented on #47921
Thanks for the recommendation. While that would be awesome, we have considered and decided against that in the past and are not going to do so for foreseeable future.

[2022-10-08 07:58] #47921 closed

[2022-10-08 08:04] Avijit-1352 commented on #47555
can i work on this

[2022-10-08 08:11] #47871 closed

[2022-10-08 08:33] Sboonny opened #47923 "Replacing the preview icon, with clearer one"
A camper mentioned in his comment, that this icon below indicate to them that it's an external link not a popup.

![image](https://user-images.githubusercontent.com/88248797/194698227-7d9735a0-b547-4653-815b-a615c3cf19a3.png)

We can change it to clearer icon that show, that it's a popup.

The original comment for context: https://github.com/freeCodeCamp/freeCodeCamp/issues/47871#issuecomment-1271

[2022-10-08 08:44] Sboonny opened #47924 "Add Icons to the settings page buttons"
### Is your feature request related to a problem? Please describe.

In the settings page, we have changed `show-code` and `show-solution` to `view`  for consistency. With the extra spaces freed, we can add icons for the setting page. Mainly to differentiate between normal `View` button and `View` Dropdown.

![View button](https://user-images.githubusercontent.com/88248797/194698509-2a12fce1-24e6-4

[2022-10-08 08:55] AhmedIbrahim336 commented on #47924
If this feature will be accepted I can implement it!

[2022-10-08 10:25] ShaunSHamilton commented on #47555
@Avijit-1352
An issue with the https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted or https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read

[2022-10-08 14:40] SiddheshKukade opened #47933 "Search page enhancements"
### Describe the Issue

Currently, the Search page of `FreeCodeCamp`shows a list of results but doesn't show what are the results for and the text in the search bar is also cleared in the new tab of the search query. This is not good for enhancing User Experience. I have suggested some changes below . I would like to work on them please assign issue to me

### Affected Page

https://www.freecodeca

[2022-10-08 14:41] SiddheshKukade commented on #47933
Dear Maintainers ,  I would like to work on this issue.

[2022-10-08 16:04] sonnguyen112 opened #47934 ""Exercise Tracker" typo in substring method"
### Describe the Issue

When i click the "I've completed this challenge" button in "Exercise Tracker" challenge, the "Date.now(...).substingr is not a function" still appear, i think in source code still have some typo bugs, so i use grep to find "substingr" and i found 4 bug

### Affected Page

https://www.freecodecamp.org/learn/back-end-development-and-apis/back-end-development-and-apis-projects

[2022-10-08 16:25] gikf commented on #47934
Thank you for reporting this issue.

This is a standard message notifying you that the problem you mentioned here is present in production, but that it has already been fixed in code base. This means that the next time we push to production, this problem should be fixed. Because of this, we're closing this issue.

Files in languages other than English will be updated using the translation workflow

[2022-10-08 16:25] #47934 closed

[2022-10-08 17:23] RJ025 commented on #47513
is someone working on this issue

[2022-10-08 17:25] bbsmooth commented on #47933
As far as accessibility is concerned, the new results page should have a `<title>` that describes the purpose of the page. So in this case the title should probably at least include the phrase "search results" and even better if it could include the string searched for (e.g. "Search results for [query string]"). All of this should come before "freeCodeCamp.org". This is a [WCAG 2.4.2](https://www.

[2022-10-08 17:51] nayabatir1 commented on #47401
Will this be considered for hacktoberfest ?

[2022-10-08 19:52] Prince-Mendiratta commented on #47923
I found it interesting, that [Windows UX guidelines](https://docs.microsoft.com/en-us/windows/desktop/uxguide/ctrl-command-buttons) say you should use ellipsis (…) when there is some additional action required after the action (popup, dialog, confirmation) and it isn't clear by the action itself.

So maybe an ellipsis of some kind: in button's label or in the icon?

More so, it's a part of [Apple'

[2022-10-08 20:34] KravMaguy opened #47937 "Feature: diff"
@moT01 I suppose that is a fair point. My reason for sticking with requiring specificity is we have the ability to say: "We expected `some text`, but you put `some text.`".

We could even go as far as pointing out the diff.

_Originally posted by @ShaunSHamilton in https://github.com/freeCodeCamp/freeCodeCamp/issues/47854#issuecomment-1271447172_

This would possibly prevent users from making extr

[2022-10-08 20:55] KravMaguy commented on #47937
![image](https://user-images.githubusercontent.com/37171082/194727516-4f0560f2-b16c-4a20-94bb-259feea682be.png)

[2022-10-08 21:11] RandellDawson commented on #47854
Not sure what you mean by "made it this far".  The test is in a particular order so that the correct hint is given.  I would just stick with creating the hint, so that it says  "We expected some text, but you put some text." as @ShaunSHamilton suggested.  Creating a diff seems unnecessary because you can just tell the user what they have and what is expected without creating a diff.

[2022-10-08 21:13] #47893 closed

[2022-10-08 21:19] raisedadead commented on #47933
BTW, it's freeCodeCamp or freeCodeCamp.org - never FreeCodeCamp - the "f" is small as in camelCase like iPhone and eBay

[2022-10-08 21:21] raisedadead commented on #47937
Please use the issue template correctly, and give the issue a [succinct](https://www.google.com/search?q=succinct+meaning) title.

Also, check our contributing guidelines.

[2022-10-08 21:39] KravMaguy commented on #47854
Ok, I had referenced this. I hope it solves it.

https://github.com/freeCodeCamp/freeCodeCamp/commit/25078213a76767e789a2c6a7f1592e90f16840ed

then it was suggested "We could even go as far as pointing out the diff." that is why I thought that what I had done was perhaps not enough.

[2022-10-08 22:06] nayabatir1 commented on #47854
@KravMaguy It is advisable to create PR for issue with label `help wanted`.
Read contribution guideline for more info.

[2022-10-08 23:17] bbsmooth commented on #47923
I think these guides are saying that the ellipses should be added when the button opens a window that requires the user to enter more information or perform another action. This isn't the case here, so I don't think they are warranted in this instance.

If we want to use a new icon then I would suggest we use one that has [two windows, one overlapping the other](https://www.onlinewebfonts.com/icon

[2022-10-09 02:40] SiddheshKukade commented on #47933
Ok sir 👍 can I work on this  ?

[2022-10-09 02:43] SiddheshKukade commented on #47933
@bbsmooth  I agree 👍

[2022-10-09 04:08] Hariom8799 opened #47941 "Add contributor label in readme file"
![194721540-e2c06f16-cdcf-4d0d-8f58-964f96d5fd95](https://user-images.githubusercontent.com/76242202/194737505-3ca7a84b-146a-4dce-a018-d1babaf530e0.png)
Like that

[2022-10-09 06:52] belphegor-s commented on #47941
I want to contribute, please assign this to me.

[2022-10-09 06:53] Hariom8799 commented on #47941
@belphegor-s bro pls find another one

[2022-10-09 06:54] Hariom8799 commented on #47941
pls assign me

[2022-10-09 07:04] Sboonny commented on #47906
can we delete the emotes [creating step guideline](https://contribute.freecodecamp.org/#/how-to-work-on-coding-challenges?id=challenge-descriptionsinstructions)? I will be honest, I can't wrap around the string and fix its broken three sections

anyway here are my attempts, if we decided to keep the emoji

[code]

[code]

[2022-10-09 07:16] Sboonny commented on #47941
Because freeCodeCamp isn't only the repo, it will be unfair to add contributors section because it will leave a lot more people who do contribute to freeCodeCamp but not in code.

[2022-10-09 07:16] #47941 closed

[2022-10-09 08:10] ieahleen commented on #47906
Only one afterbreak, I think, also you don't need to write all the sentence, you can stop earlier
So like this should work
[code]

[2022-10-09 08:22] Prince-Mendiratta commented on #47923
I agree with the use of some kind of variation of that icon. There's a small issue though, there's no such icon in the font awesome library for this so we'll have to find a different way to implement this.

[2022-10-09 08:49] Sboonny commented on #47906
I used the full sentences because I was trying to get the third broken code sentence, which was carrying the emoji.

[2022-10-09 11:10] Omkar0803 commented on #47157
I would like to contribute, can assign me issues?

[2022-10-09 11:11] Omkar0803 commented on #46358
I would like to contribute, can assign me issues?

[2022-10-09 11:12] Omkar0803 commented on #47513
I would like to contribute, can assign me issues?

[2022-10-09 11:13] Omkar0803 commented on #46411
I would like to contribute, can assign me issues?

[2022-10-09 11:16] Sboonny commented on #47157
there is no assignment @Omkar0803, feel free to open a pull request after reading our [guideline](https://contribute.freecodecamp.org/#/)

[2022-10-09 12:01] Hermione2408 commented on #44475
Can you tell what needs to be done and assign it to me?

[2022-10-09 14:25] hbar1st opened #47949 "typo descedant should be descendant in build-a-survey-form.md"
### Describe the Issue

the word descendant is misspelled multiple times as "descedant" int the file build-a-survey-form.md

https://forum.freecodecamp.org/t/small-typo-in-freecodecamp/561536/3

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/build-a-survey-form-project/build-a-survey-form

### Your code

N/A

### Expected behavior

correct the spelling

### Screen

[2022-10-09 14:35] luojiyin1987 opened #47950 "Content error in news article"
https://www.freecodecamp.org/news/github-super-linter

### Is your feature request related to a problem? Please describe.

[code]
there two `Lint Code Base`

### Describe the solution you'd like

[code]
should be only one a  `Linit Code Base`

### Describe alternatives you've considered

should delete some  to keep one .

### Additional context

![image](https://user-images.githubusercontent.com/6

[2022-10-09 15:39] ieahleen commented on #47906
In some way I guess that we could manage
[code]
I think we can figure out a general rule that would work

[2022-10-09 15:58] ieahleen commented on #47949
Thanks for opening this issue.

This looks like something that can be fixed by "first-time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files: see the first comment of the issue.

Please make sure you read our [guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instruct

[2022-10-09 17:20] AugustinMauroy opened #47952 "I18n fr"
### Is your feature request related to a problem? Please describe.

An I18n fr section

### Describe the solution you'd like

An I18n fr section

### Describe alternatives you've considered

An I18n fr section

### Additional context

An I18n fr section

[2022-10-09 18:00] ArsalanAli915 commented on #47949
Hi @hbar1st, I am first time contributing to Hacktoberfest. could assign this issue to me.

[2022-10-09 18:18] nayabatir1 commented on #47933
I'm getting lot of warnings. Any suggestion ?
![image](https://user-images.githubusercontent.com/91016903/194773001-1282ad41-972e-485d-8488-98336f4ca02c.png)

[2022-10-09 18:49] bpires commented on #47738
Hey @AkashsRepositories and @SandhyaR1007, this issue already has a PR open that addresses the situation:

![image](https://user-images.githubusercontent.com/86871991/194774034-e69c9aab-7163-40c9-a100-6bd5971ed808.png)

You should always check if there are any PRs open before starting to work on an issue. All subsequent PRs are likely to be closed by the maintainers without notice.

Also, when you

[2022-10-09 19:25] ShuvamBag commented on #47924
hello sir, I want to work on this issue.

[2022-10-09 19:26] ShuvamBag commented on #47950
hello sir, I want to work on this issue.

[2022-10-09 19:43] oriooctopus commented on #41373
Regarding the language selector, I think that if we accompany the icon with the initials of the language, that would be the most clear. Regarding concerns about this taking too much space, the accompanying text could disappear below a certain breakpoint. Perhaps it only shows up above tablets width and below only the icon shows.

I like [this example](https://miro.medium.com/max/1400/1*QnfCBUQrHMM

[2022-10-09 19:43] hbar1st commented on #47949
We typically do not assign issues. Instead, we accept the first pull request that comprehensively solves the issue.

If you would like to fix this issue, please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instructions in our guides. Join us in [our chat room](https://discord.gg/PRyKn3Vbay) or [the forum](htt

[2022-10-09 19:54] raisedadead commented on #47933
The news repository is a particular case.

To work with it locally, you must set up [Ghost](ghost.org) on your local machine. Once you do, you can create keys for, say, English and add them to your `.env` file. Look at the sample file for reference. You don't need all, any one language should be fine - I would go with English.

Now - even with that, we would have to make an exception when you are

[2022-10-09 20:08] nayabatir1 commented on #47457
@raisedadead Could you pls share an update on this pr?

[2022-10-09 20:19] #47949 closed

[2022-10-09 20:28] raisedadead commented on #47457
We appreciate you taking the time to help us.

However, keep mentions and review requests to a minimum. We understand you are excited about contributing, and our maintainers will get back to you as soon as they get a chance.

Happy Contributing.

[2022-10-09 20:29] raisedadead commented on #47952
See https://contribute.freecodecamp.org/#/how-to-translate-files

[2022-10-09 20:29] #47952 closed

[2022-10-09 20:32] raisedadead commented on #47950
Check the contribution guidelines.

[2022-10-09 20:33] raisedadead commented on #47950
Because this is not a codebase issue, I am forwarding this to our editorial team who updates the content. Thanks for letting us know, it will be resolved in the next few teams.

[2022-10-09 20:33] #47950 closed

[2022-10-09 21:13] Sboonny commented on #47924
thank you for the interest, @ShuvamBag, but issues label with https://github.com/freeCodeCamp/freeCodeCamp/labels/status%3A%20discussing aren't open for contribution, because it is in discussion state, and we don't know if it's needed or wanted yes.

you can look up https://github.com/freeCodeCamp/freeCodeCamp/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22, if you are interesting on open

[2022-10-09 21:34] RandellDawson opened #47954 "Exercise Tracker test is not working as intended"
### Describe the Issue

I notice when submitting the sample project url, my own project url, and several other valid exercise project urls, that at least as of today (Oct 9, 2022), the following test:

I looked into this after noticing forum users having issues with this test.

When I look in the browser console, I see the following error:

    at _callee$ (frame-runner.ts:129:15)
    at c (frame-

[2022-10-09 21:35] #47954 closed

[2022-10-09 21:49] Gerschuk commented on #47513
I think you can fork the repo, solve the issues and made a pull request with the solutions.

[2022-10-09 22:34] nayabatir1 commented on #47933
@raisedadead Ghost link is not working.
On clicking it taking me to https://github.com/freeCodeCamp/freeCodeCamp/issues/ghost.org

[2022-10-10 03:27] Prince-Mendiratta commented on #47649
Hi @Sboonny, is this issue available again for contributions? I'd like to work on this.

[2022-10-10 04:26] mehdibouaziz commented on #47923
Font awesome has an icon that could have the same meaning: [window-restore](https://fontawesome.com/icons/window-restore?s=solid&f=classic)

Alternatively Material Icons has a specific preview icon if these can be used? [preview icon](https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Apreview%3A)

[2022-10-10 05:37] ragnarok-02 commented on #45510
I am a beginner. I would like to contribute to this issue. Can you please help me find the code and related details, and assign this to me?

[2022-10-10 06:36] bbsmooth opened #47958 "Make Cafe Menu Step 36 instructions a little clearer"
### Describe the Issue

Most of the description for step 37 is about styling `p` elements. It even states that "you need to apply some styling to the `p` elements". But then suddenly the last line instructs the user to add a `class` to an `article`, which seems a little confusing and out of place. This caused a least one camper to add a new `p` element in this step and apply the class attribute to

[2022-10-10 06:44] LAS3RBOY commented on #47456
Maybe a simple thing is to add a form validation using Javascript there in order to pass it checked during the submission of the form.

[2022-10-10 07:40] raisedadead commented on #47933
https://www.google.com/search?q=ghost.org

[2022-10-10 08:07] KravMaguy commented on #47401
@Adelinked yes, you do not increase the index each time you run your place function. Also I think perhaps it should be `if (isDefined(child2) && etc..` and not `else if`. I hope the pull request solves the issue.

[2022-10-10 10:31] Sboonny commented on #47649
@Prince-Mendiratta, you have to communicate with @saw-jan, so both of don't get in each other ways while improving the test.

But the issue won't be closed after their PR, there are still tests need to implemented based on this comment

https://github.com/freeCodeCamp/freeCodeCamp/pull/46644#issuecomment-1210022946

[2022-10-10 10:45] Prince-Mendiratta commented on #47649
I could create a branch based off @saw-jan 's PR and send a new PR with all the new tests so we could have all the tests added in one PR and the majority of relevant discussion being there if @saw-jan is alright with this?

[2022-10-10 11:06] bakerfield commented on #46598
had a hard time figuring this out. thanks young king

[2022-10-10 12:43] AkashsRepositories commented on #47738
Got it. Thanks for pointing it out.

[2022-10-10 12:55] amitaryansingh commented on #47778
Hello Sir

i can fix this issue.can you assign it to me?

[2022-10-10 13:16] raisedadead commented on #47933
We typically do not assign issues. Instead, we accept the first pull request that comprehensively solves the issue.

Issues labeled with `help wanted` or `first timers only` are open for contributions.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). We prioritize contributors following the instructions in our guide. Join us in [our chat room](h

[2022-10-10 13:24] gefgu commented on #47778
@amitaryansingh this issue is still being discused. Have a look at this [suggestion](https://github.com/freeCodeCamp/freeCodeCamp/issues/47778#issuecomment-1264699026)

[2022-10-10 13:38] Akash7649 commented on #47588
I can doo it please assign it to me

[2022-10-10 13:38] Akash7649 commented on #47588
I can do it please assign it to me

[2022-10-10 14:13] ahmadabdolsaheb commented on #47316
Thank you all for your feedback. The breadcrumb in its current form allows sufficient navigation to related challenges and courses.

As a result, I am closing this issue. Please let me know if this issue has not been addressed properly.

[2022-10-10 14:13] #47316 closed

[2022-10-10 14:18] ahmadabdolsaheb commented on #47157
I agree, we should go with having a representative icon that has the same text for `aria-label` and `title`.

[2022-10-10 14:22] ahmadabdolsaheb commented on #45949
Yes, we should keep the number of columns as they are for now imho.

[2022-10-10 15:10] Sboonny commented on #47924
thank you for the interest, @Wolverine-08 and, @prreff123 , but issues label with https://github.com/freeCodeCamp/freeCodeCamp/labels/status%3A%20discussing aren't open for contribution, because it is in discussion state, and we don't know if it's needed or wanted yes.

you can look up https://github.com/freeCodeCamp/freeCodeCamp/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22, if you are

[2022-10-10 16:33] ppeters0502 commented on #47847
I went ahead and submitted a PR with these changes, if everyone else thinks we shouldn't need the labels, I can close the PR. If everyone approves of the changes, if I could get a hacktoberfest label applied, that would be great!

[2022-10-10 21:09] #47629 closed

[2022-10-10 21:15] nayabatir1 commented on #47649
Hey I have written tests as pr [#46644 comment](https://github.com/freeCodeCamp/freeCodeCamp/pull/46644#issuecomment-1210022946)

- [x] When the main navigation menu is expanded and keyboard focus is on an item in main menu, the Esc key should close the menu and put keyboard focus on the Menu button.

- [x] When focus is on the Change Language item in the main menu, the up arrow should open the la

[2022-10-11 05:13] AbhishekKC16 commented on #47958
Hello Sir, can you assign this issue to me?

[2022-10-11 05:13] kartikey-katara-sn11 commented on #47958
Hello bbsmooth Sir!!
Please assign me to this issue. I'd like to contribute.

[2022-10-11 05:15] kartikey-katara-sn11 commented on #47937
Hello KravMaguy Sir!!
Please assign me to this issue. I'd like to contribute.

[2022-10-11 05:29] souravsasmal01 commented on #47655
Hello sir , can you assign this issue to me?

[2022-10-11 06:12] Sboonny commented on #47958
I think it's better to slightly change this line, it's talking about changing `p` styling. We can keep the limelight on `article` by mention it as `p` element's parent.

Or

The reason I am suggesting this, because the issue seems rare, and I don't want too much change to description, if it's a rare issue.

[2022-10-11 07:21] ojeytonwilliams opened #47971 "Clean up unused files and exports"
As discussed in https://github.com/freeCodeCamp/freeCodeCamp/pull/47836 there are several unused files and exports.  We should remove all of these from the codebase.

The full set of tasks is:

- [ ] Remove unused files
- [ ] Add missing dependencies
- [ ] Remove unused exports
- [ ] Remove unused types
- [ ] Remove duplicate exports

The files with issues are:

--- UNUSED FILES (8)
src/assets/ico

[2022-10-11 07:23] raisedadead commented on #47937
Re-open a fresh issue when you are ready.

[2022-10-11 07:23] #47937 closed

[2022-10-11 07:23] ojeytonwilliams commented on #47971
Please remember to read the [contribution guidelines](https://contribute.freecodecamp.org/#/index) and that we do not assign issues. The first PR that solves the issue will be merged.

[2022-10-11 07:59] MoiraX commented on #46332
Hi Muhammed

I'm not sure whether I'm allowed/supposed to reply to these mails - if not,
please let me know!

Anyway, I did wonder whether I should even raise this as an issue.
But given that the test lets the incorrect code through, I felt I should at
least flag it as a problem.

I don't think it will happen too often, though - they'd need to both
misunderstand the instructions and get the closin

[2022-10-11 09:28] mehdibouaziz commented on #47958
I think that what's missing is explaining shortly why we add the class to the parent element and not directly to the `p` elements. Like you said, the confusion comes from why we are suddently targeting the `article` element, when the focus of the lesson was styling the `p` elements.

i.e we don't `need` to target the parent element, it's just cleaner.

@Sboonny what do you think ?

[2022-10-11 13:23] ahmadabdolsaheb commented on #47847
The redesign of the Profile is way overdue. How about organizing the user information section in the following way. It should make things more obvious.

<img width="483" alt="Screen Shot 2022-10-11 at 4 22 36 PM" src="https://user-images.githubusercontent.com/4591597/195102593-b94ecde6-f867-4a00-b568-5a9cb25da87e.png">

[2022-10-11 13:54] moT01 opened #47980 "Hide breadcrumbs when in CodeAlly container (relational database challenge)"
### Describe the Issue

A [recent PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/47577) changed the way the breadcrumbs behave a little or something. They are now showing up when you are inside an embedded CodeAlly container and it doesn't look quite right (see screenshot).

### Affected Page

https://www.freecodecamp.org/learn/relational-database/learn-bash-by-building-a-boilerplate/build-

[2022-10-11 14:02] #46502 closed

[2022-10-11 14:04] moT01 opened #47981 "Reword docs, news articles, and other from remote containers to dev containers"
### Describe the Issue

The VS Code "remote containers" extension is now called "dev containers". This affects documentation, news articles, readme's, and probably other stuff where we reference the remote containers extension. The biggest issue is probably that the VS Code command to run the extension changed - so where we tell people to run the `Remote Containers: Rebuild Container`, it's now `D

[2022-10-11 14:17] moT01 commented on #47655
See [the comment above](https://github.com/freeCodeCamp/freeCodeCamp/issues/47655#issuecomment-1264387328) @sanyamgandhak.

We are still figuring out how we want to fix this, I would look for another issue. Thanks for your interest in contributing 🎉

[2022-10-11 14:25] #47588 closed

[2022-10-11 14:37] #47891 closed

[2022-10-11 14:39] ieahleen commented on #47073
The project is now at heat-map.freecodecamp.rocks, and the issue doesn't seem present.

![image](https://user-images.githubusercontent.com/26656284/195121637-41c36866-a5e2-486d-8cc1-74e0dd79149c.png)

As such I am closing this issue, you can request to have it reopened if you think it needs more work

[2022-10-11 14:40] moT01 commented on #41373
That language selector and icon look real good @oriooctopus. I feel like I recall a conversation about adding a language selector in the nav and we decided against it because you don't really need to switch languages much. Once you are on the language you want, you don't need to change anymore.

[2022-10-11 14:53] #47266 closed

[2022-10-11 15:02] PrakritiShetty commented on #47356
Hi, can this issue be assigned to me?
Also, can the hacktoberfest label also be added to this issue

[2022-10-11 15:02] ieahleen commented on #47980
The files to change will be somewhere in what #47577 changed, I am opening this for contributions.

If you would like to contribute, please read the [Contribution Guidelines](https://contribute.freecodecamp.org/#/) and reach out in the contributors subforum or chatroom for any questions.

[2022-10-11 15:20] #45091 closed

[2022-10-11 15:26] saw-jan commented on #47649
I have added the additional tests in PR https://github.com/freeCodeCamp/freeCodeCamp/pull/47791#issuecomment-1274069643

[2022-10-11 15:49] Devanshu011 commented on #47971
I want to work on these.

[2022-10-11 15:49] sidemt opened #47983 "CatPhotoApp Step 12 (the part "by placing these words inside of opening and closing anchor tags")"
### Describe the Issue

I know many people have been working on improving this step. I see currently there is another issue #47854 open (it's about how to deal with `.` ). Hope you don't mind me opening another issue here.

Currently the latter part of the instruction says:

The starting code look like this:
[code]

As an ESL leaner, it seems less confusing to me if the instruction said "**by addi

[2022-10-11 15:51] moT01 commented on #47980
I think I added something in redux for showing the iframe - we could probably use that to determine if we want to display the breadcrumbs or not. e.g. `if (showIframe) -> hide breadcrumbs`.

[2022-10-11 16:08] A-5ingh commented on #47980
@ieahleen I'd like to contribute to this.

[2022-10-11 16:19] jeremylt commented on #47983
Changing

to

makes sense to me

[2022-10-11 16:22] jeremylt commented on #47854
I think this is a bit more work but ultimately a better fix.

[2022-10-11 16:57] Prince-Mendiratta commented on #47980
@moT01 We do want to show the breadcrumbs on this page, right?
![image](https://user-images.githubusercontent.com/54077356/195153681-c8a6d56c-88e3-4e5a-948e-f77641efd2b7.png)

This page also uses breadcrumbs but also uses the iframe.

[2022-10-11 17:05] moT01 commented on #47980
correct, only on the main page you first land on [here](https://www.freecodecamp.org/learn/relational-database/learn-bash-by-building-a-boilerplate/build-a-boilerplate) - after you click start the course, hide them.

[2022-10-11 17:39] nayabatir1 commented on #47983
It feels like both are same thing, just a way of writing things differently

[2022-10-11 18:03] ieahleen commented on #47980
I think Tom meant to say that also the page with the "Run with CodeAlly" button should not have breadcrumbs

[2022-10-11 18:06] ieahleen commented on #47983
Let's see if this change would help...

Thanks for opening this issue.

This looks like something that can be fixed by "first-time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-phot

[2022-10-11 18:07] moT01 commented on #47980
Yes, I misread that other message. We only want the breadcrumbs on the page you first land on when you click that link I shared. After you click 'start the course', hide the bread crumbs.

[2022-10-11 18:12] ieahleen commented on #47555
I would suggest to

I like this, it feels much less handholding, considering flexbox was alredy introduced earlier.

[2022-10-11 18:21] ieahleen commented on #47981
A few hits:

 - [ ] https://www.freecodecamp.org/news/near-curriculum/
 - [ ] https://www.freecodecamp.org/news/what-is-docker-learn-how-to-use-containers-with-examples/
 - [ ] https://web3.freecodecamp.org/near
 - [ ] https://www.freecodecamp.org/news/put-your-dev-env-in-github/
 - [ ] https://web3.freecodecamp.org/web3
 - [ ] freecodecamp.org/news/solana-curriculum/
 - [ ] https://www.freecodeca

[2022-10-11 18:48] ieahleen commented on #47981
These are on i18n news
 - [ ] https://www.freecodecamp.org/portuguese/news/curso-de-bancos-de-dados-relacionais-como-aprender-sql-no-vscode-usando-o-docker-e-o-freecodecamp/
 - [ ] https://chinese.freecodecamp.org/news/how-to-run-freecodecamps-relational-databases-curriculum-using-docker-vscode-and-coderoad/
 - [ ] https://www.freecodecamp.org/espanol/news/por-favor-todos-pongan-su-entorno-de-desa

[2022-10-11 19:08] ieahleen commented on #47981
For these, it's this file here
https://github.com/freeCodeCamp/web3-site/blob/main/src/pages/superblock.tsx

[2022-10-11 21:47] cw66786 commented on #47073
![image](https://user-images.githubusercontent.com/103803383/195204368-3defac59-224d-43cf-9638-a6284723650c.png)

when I go to heat-map.freecodecamp.rocks, the prolems are still present on the x and y axis

[2022-10-11 21:50] jeremylt commented on #47824
See what I have here:
https://github.com/freeCodeCamp/freeCodeCamp/pull/47990

These challenges should receive a similar update:
https://www.freecodecamp.org/learn/coding-interview-prep/project-euler/problem-47-distinct-primes-factors
https://www.freecodecamp.org/learn/coding-interview-prep/project-euler/problem-50-consecutive-prime-sum
https://www.freecodecamp.org/learn/coding-interview-prep/proj

[2022-10-11 21:59] ninjaboy667 commented on #47073
Yes, I m still getting the same issue. @ieahleen I noticed that for your graph they start at 60, 70, 80 instead of 59,69,79. Is this screenshot from an update that has not been pushed yet?

[2022-10-11 22:54] #46057 closed

[2022-10-12 04:55] Yatharth-Jain commented on #47456
Hey There i would love to work on it as my first Open Source contribution.
Also as i mentioned it is my first Contribution ,I also may required guidance sometimes.

So if these are acceptable please assign this task to me

[2022-10-12 05:18] UnicornAriel1 commented on #45666
Hello, I can take this one if you'll assign it to me. Thanks!

[2022-10-12 07:53] ieahleen commented on #47073
@ninjaboy667 no, I took the screenshot at https://heat-map.freecodecamp.rocks/

[2022-10-12 08:11] #47983 closed

[2022-10-12 10:36] #47980 closed

[2022-10-12 12:41] vedo18 commented on #47971
Hello, can you assign this issue to me. I am a good participant to solve this issue.

[2022-10-12 13:02] ieahleen commented on #47906
This doesn't work.

<details>

[code]

</details>

And also this doesn't work

<details>

[code]
</details>

[2022-10-12 13:05] hbar1st opened #48002 "Project to build a quiz doesn’t teach method attribute"
### Describe the Issue

Step 14 of the “Learn Accessibility by Building a Quiz” project asks people to “ make the form submit to https://freecodecamp.org/practice-project/accessibility-quiz, using the correct method”

And when they try what they learned so far (adding the action attribute) they are unable to pass and instructed via hints that they needed a method attribute set to post value.

this

[2022-10-12 13:33] ShaunSHamilton commented on #48002
Again, we need to be careful with the way we are constantly updating these projects. We need to keep in mind the actual learning outcomes for the projects; this one aims to teach accessibility. So, this is not the project to teach about the `method` attribute.

If we change anything here, it might make more sense to add a lesson to the `Registration Form` project

[2022-10-12 14:20] #47476 closed

[2022-10-12 17:44] PiyushAryan commented on #47971
Assign me this issue I want to work on this

[2022-10-12 18:05] being-nitin commented on #47923
can you assign me this task?

[2022-10-12 18:25] Amit89480 commented on #47824
hey, can You share some afftected page to me so that I can fix that?

[2022-10-12 18:26] jeremylt commented on #47824
You can find them here: https://github.com/freeCodeCamp/freeCodeCamp/tree/main/curriculum/challenges/english/10-coding-interview-prep/project-euler

[2022-10-12 18:34] Sboonny opened #48011 "Line goes against our challenge document in building a registration form project"
### Describe the Issue

In step 8 of building a registration form project, there is a text that go against [challenge document](https://contribute.freecodecamp.org/#/how-to-work-on-coding-challenges?id=challenge-descriptionsinstructions)

This should be changed to

Here is the markdown file https://github.com/freeCodeCamp/freeCodeCamp/blob/1459bc6879ce700830e710f30764b4562f2f52d3/curriculum/challe

[2022-10-12 18:59] nayabatir1 commented on #47157
Can anybody help with the file where actual change needs to be done.

[2022-10-12 19:01] PiyushKeshari24 commented on #48011
Can you please review and merge my PR? #48012

[2022-10-12 19:19] raisedadead commented on #48011
As a new contributor, we encourage you to read our [contributing guidelines](https://contribute.freecodecamp.org) specifically the "How to open a PR" section.

We expect our contributors to be aware of the process specific to this project. Following the guidelines religiously earns you the respect of fellow maintainers and saves everyone time.

Some examples of this are:

1. Do not edit files dire

[2022-10-12 20:16] DavidRod1865 commented on #48011
If this PR is still available, I'll like to work on it.

[2022-10-12 20:34] mehdibouaziz commented on #47157
hi,
I just saw that there is another PR for the same issue but I had mine ready:
- replaced the text inside help and reset buttons with simple svg icons similar to the figma design
- added title and aria-label for default browser tooltip - the tooltip uses the translate function to have a localised text
- removed the btn-block class to allow a more compact UI which will allow more icons in the fut

[2022-10-12 20:37] AaronRohrbacher commented on #47456
@dhairyapatel1506 Is this issue taken? Happy to work on this and submit a PR.

[2022-10-12 20:45] soumya0S commented on #48011
I would want to make a Pull request if this issue still exists.

[2022-10-13 00:36] Florenciasicre commented on #40896
@moT01  @gikf  can you review my PR for problem 125?

[2022-10-13 03:17] sonicx180 opened #48016 "Reduced unused Javascript"
I ran a lighthouse test on free code camp and it said to reduce unused Javascript.

See screen shot here:

![Screenshot 2022-10-12 8 16 05 PM](https://user-images.githubusercontent.com/83236320/195491062-adcb0977-16c4-4f37-9bf2-71cb44b2a0c3.png)

Another screen shot :

![Screenshot 2022-10-12 8 16 47 PM](https://user-images.githubusercontent.com/83236320/195491156-64f8c55d-f5b9-4d50-8523-21bccd3e7

[2022-10-13 03:19] sonicx180 commented on #48011
@raisedadead I think you can use github.dev for that.

[2022-10-13 04:21] PiyushKeshari24 commented on #48011
@raisedadead Please accept my apologies. I am new and still learning.

Things which I implemented after learning from your comments are.
- I have updated the PR title to comply with [Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0/)
- I won't add mentions/review requests unnecessarily
- From now on I will create a separate branch for any changes and not commit directly to the m

[2022-10-13 05:32] Sboonny commented on #48011
@PiyushKeshari24 thank you for taking care of this.

@DavidRod1865, @soumya0S. The contribution guideline, that  raisedadead linked should answer most of your questions.

@sonicx180 there is no mentioning of GitHub Dev environment in the guideline, if you are uncomfortable setting it up locally, our section about Gitpod should do the trick.

[2022-10-13 05:53] Dumitrash-C opened #48020 "My error is approved !? Responsive Web Des./Label design /step 58"
### Describe the Issue

I’ve made a mistake in the code and it got accepted (screenshot below).
Instead of “_margin-left: 2em_” it accepts my wrong answer  of “_margin: 2em_”.
Seems to be a bug. I’m using the latest Firefox browser with no AdBlocker.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-typography-by-building-a-nutrition-label/step-58

### Your co

[2022-10-13 07:37] Mani-07 commented on #48020
@Dumitrash-C  - Can you assign this defect to me. I will take care of this.

[2022-10-13 08:12] Dumitrash-C commented on #48020
@Mani-07 - It seems like I'm not able to.
Could this [status: waiting triage](https://github.com/freeCodeCamp/freeCodeCamp/labels/status%3A%20waiting%20triage) be the issue? Needs approval from a moderator as a valid issue.

[2022-10-13 09:34] being-nitin commented on #47923
allright sir

[2022-10-13 10:26] ShaunSHamilton commented on #48020
Thank you for taking the time to open this.

I do not think there is any issue here. You have accomplished the goal of adding the correct amount of left margin.

At the end of the day, we cannot test for all cases of: You should add left margin, without changing the colour, font size, padding, etc...

I will leave this up for discussion

[2022-10-13 10:31] #48011 closed

[2022-10-13 10:32] astitva0011 commented on #48016
assign this to me

[2022-10-13 10:49] Dumitrash-C commented on #48020
@ShaunSHamilton
Thnaks for the reply. I did use different types od approaches before and am grateful for not being narrowed down with my approach.

[2022-10-13 12:13] Sembauke commented on #48020
I think we should close this, the answer is correct. You have added a  `margin` of `2em` . But I see what you mean as it specifically asks you to add a margin on the left. Not on all sides.

[2022-10-13 12:28] ieahleen commented on #48016
@astitva0011 We typically do not assign issues. Instead, we accept the first pull request that comprehensively solves the issue.

Issues labelled with `help wanted` or `first timers only` are open for contributions.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). We prioritize contributors following the instructions in our guide. Join us in [ou

[2022-10-13 16:25] Dario-DC opened #48027 "Mistake in the text of new JS challenge"
**Describe the bug**
The sentences linked below use "have" instead of "be". Since `monsters` is an array containing objects, the value mentioned should be an object.

- https://github.com/freeCodeCamp/freeCodeCamp/blob/58d794f3e92baa16fb62dfeee66b7713630f3c49/curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8d81

[2022-10-13 18:02] ojeytonwilliams commented on #48020
This isn't something we need to fix.  As Shaun said, we err on the side of leniency. Since the text does not specifically prohibit you from adding other margins, the tests should not enforce that.

[2022-10-13 18:02] #48020 closed

[2022-10-13 18:47] Adelinked commented on #47401
yes, but the issue is my wrong solution passes the tests

[2022-10-13 19:38] yrhemendra commented on #46178
Hello Sir, Can you assign this issue to me? I have a good sense of visual presentation.

[2022-10-13 20:28] ankitptl96 commented on #9582
// Setup
var collection = {
    "2548": {
      "album": "Slippery When Wet",
      "artist": "Bon Jovi",
      "tracks": [
        "Let It Rock",
        "You Give Love a Bad Name"
      ]
    },
    "2468": {
      "album": "1999",
      "artist": "Prince",
      "tracks": [
        "1999",
        "Little Red Corvette"
      ]
    },
    "1245": {
      "artist": "Robert Palmer",
      "tracks"

[2022-10-13 20:36] DylanDevelops commented on #47085
I'm not sure if you are still working on this issue @ahmadabdolsaheb, but I found [this](https://vercel.com/blog/introducing-vercel-og-image-generation-fast-dynamic-social-card-images). This could be something beneficial! Heres a [video ](https://www.youtube.com/watch?v=6rYzM_oWi7A) explaining some of the stuff with it.

[2022-10-13 22:21] naomi-lgbt commented on #47981
I fixed up the English articles, except for https://www.freecodecamp.org/news/put-your-dev-env-in-github/ which requires new screenshots - we may want to see if the author is interested in updating that one.

[2022-10-13 22:40] Aakashbansal837 commented on #48027
hey, @naomi-lgbt @ieahleen @Dario-DC,

is anyone working on this one? If not can you please assign this one to me? Thanks

[2022-10-14 04:00] subrat611 commented on #48027
hi, @Dario-DC @naomi-lgbt can I work on this issue?

[2022-10-14 04:36] SaurabhBudhwani26 commented on #48027
Hello, @Dario-DC , can you assign this issue to me?

[2022-10-14 05:02] IamPratikSinha commented on #48027
Hi, @Dario-DC @naomi-lgbt  can you assign this issue to me?

[2022-10-14 06:07] Aakashbansal837 commented on #48027
Hi @subrat611 i already raised the pr for this.

[2022-10-14 06:08] Aakashbansal837 commented on #48027
@SaurabhBudhwani26 @IamPratikSinha  i already raised the pr for this.

[2022-10-14 06:35] subrat611 commented on #48027
Is this Issue closed or not

[2022-10-14 06:44] Aakashbansal837 commented on #48027
@subrat611 PR is not merged yet. Issue will be auto closed once pr is merged.

[2022-10-14 07:16] #47805 closed

[2022-10-14 07:17] adhiramaa commented on #48027
Hello ! sir can I work on this issue

[2022-10-14 08:44] ieahleen commented on #48027
@Aakashbansal837 @subrat611 @SaurabhBudhwani26 @IamPratikSinha @adhiramaa

We typically do not assign issues. Instead, we accept the first pull request that comprehensively solves the issue.

Issues labelled with `help wanted` or `first timers only` are open for contributions.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). We prioritize contri

[2022-10-14 09:05] swayamg20 commented on #48027
Is this issue still open?

[2022-10-14 09:15] DhruvLamba commented on #41403
Can you please assign me this issue

[2022-10-14 09:22] ieahleen commented on #41403
@DhruvLamba

We typically do not assign issues. Instead, we accept the first pull request that comprehensively solves the issue.

Issues labelled with `help wanted` or `first timers only` are open for contributions.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). We prioritize contributors following the instructions in our guide. Join us in [ou

[2022-10-14 09:26] ieahleen commented on #46178
@yrhemendra
We typically do not assign issues. Instead, we accept the first pull request that comprehensively solves the issue.

Issues labelled with `help wanted` or `first timers only` are open for contributions.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). We prioritize contributors following the instructions in our guide. Join us in [our

[2022-10-14 12:55] raisedadead commented on #48016
@sonicx180

Thanks for bringing this up.

Please look at closed issues #40419 and #37742 for more context on what we have done in the past. You are welcome to research past PRs and the codebase as well.

I am going ahead and closing this because of issues requesting perf improvements usually go stale. We - the maintainers - know perf & benchmark issues exist, and you always have scope to improve.

[2022-10-14 12:55] #48016 closed

[2022-10-14 14:09] shaan2610 commented on #48027
Is the issue still open?

[2022-10-14 14:46] CHOKHANIYASH commented on #48027
Hi, can I work on this issue?

[2022-10-14 16:15] anupp-11 commented on #47971
Hello! Please assign me on this issue, i want to work on this.

[2022-10-14 17:08] hbar1st opened #48043 "hint for Learn Typography by Building a Nutrition Label - Step 50 needs a space between class names"
### Describe the Issue

The first hint shown in step 50 of Learn Typography by Building a Nutrition Label places two class names together without any space in between so it is hard to read.
The hint is shown if we do not enter any code and simply click on the Check Your Code button.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-typography-by-building-a-nut

[2022-10-14 17:58] DhruvLamba commented on #41403
okay Thanks:)

[2022-10-14 18:08] naomi-lgbt commented on #48027
Hi friends,

Thank you all for your interest in contributing. Please take the time to review our [contributing guidelines](https://contribute.freecodecamp.org) - we have a few PRs open for this issue that are blocked because they need to be updated to match our guidelines.

[2022-10-14 18:23] ieahleen commented on #48043
`.daily-value.sm-text` this is a selector for an element that has both classes, a space in between would change the meaning

[2022-10-14 18:30] nayabatir1 commented on #46372
Hey I want to work on this issue, could you let me know what needs to be done here.

[2022-10-14 18:33] nayabatir1 commented on #48043
It's a selector but for display purpose (hint text) we can separate them.

[2022-10-14 18:36] ieahleen commented on #48043
Or

I don't want to see a wrong selector, `.daily-value .sm-text` means the element with classe `sm-text` descendant of the element with class `daily-value`

[2022-10-14 18:45] nayabatir1 commented on #48043
`div.daily-value` it references only one dom node. If you feel like we can use this

[2022-10-14 19:22] ieahleen commented on #48043
I am going to change all the project soon, so this may even be a moot point...

[2022-10-14 21:51] KravMaguy commented on #46411
is this issue still seeking contributions? the links attached describing the issue dont exist.

[2022-10-14 22:01] KravMaguy commented on #46372
Im unable to reproduce the steps as outlined in the issue.

Im getting exactly this expected behavior. Should this issue still be open? If so please describe steps to reproduce and desired behavior.

[2022-10-14 22:07] naomi-lgbt commented on #46372
Log in on Computer A
Under settings, Campfire Mode is enabled.
My volume is turned up!
I go to the (New) Responsive Web Design course
The serenade of the Guitar plays!
Log in on Computer B
I go to the (New) Responsive Web Design course
The serenade of the Guitar does not play as I type or click on items :(

[2022-10-15 00:13] naomi-lgbt commented on #48043
Could just change it to `.daily-value` not sure why we need to mention both classes.

[2022-10-15 04:35] JP-GECT commented on #46523
Hi, I am a freeCodeCamp user, in my opinion its not a good option to remove or take the legacy courses to the bottom,
wouldn't it  be like depreciating its value?. I would suggest to give it a separate block with equal importance..

[2022-10-15 06:07] rajesh604 commented on #48043
Can you tell me how to improve my programming skills to start working for opensource organisations in gsoc i know programming languages but I am not able to solve issues

[2022-10-15 06:11] 6gaurav13 commented on #47597
Please asign this issue to me for correction

[2022-10-15 08:43] raisedadead commented on #46523
Thanks for your feedback.

We are retiring these courses because the content has become outdated. We have the newer certifications for you. This way, you can be skilled with the latest concepts and topics.

Also, retiring older certifications doesn't affect you as a user because you still get to keep the certifications you claimed in the past.

[2022-10-15 09:25] hbar1st commented on #48043
Actually it would be helpful to repeat the instruction "after your last .divider" in the hint as when reading the current hint, the referenced element is not even in the current view (you have to scroll up past the editing region to find it)

[2022-10-15 10:55] nayabatir1 commented on #48043
I agree `.daily-value` is sufficient.

[2022-10-15 12:54] SanskarJain007 commented on #48043
We could just change it to `.daily-value` .

[2022-10-15 17:32] lucyferu commented on #47555
there are the steps in which flexbox is mentioned (and assumed not to been known) :

[13](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-variables-by-building-a-city-skyline/step-13); [20](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-variables-by-building-a-city-skyline/step-20); [32](https://www.freecodecamp.org/learn/2022/responsive-web-design/

[2022-10-15 17:37] lucyferu commented on #47554
i do that anyway, it just that the "lessons" style suddenly changed.
sometimes new codes are introduced, sometimes they're not.
i think it would be better to have a continuity.

sorry, haven't managed to get around this list yet.

[2022-10-15 19:19] Kannan0017 commented on #48043
We could just change that to .daily-value .

[2022-10-16 05:28] Abhi7717 commented on #47456
hello sir, can you assign this issue to me?

[2022-10-16 13:15] ahmadabdolsaheb commented on #47085
@DylanDevelops, thanks for the update. Really appreciate it.

[2022-10-16 14:57] stabbystabstab opened #48079 "Learn Git Lesson gives incorrect definition of soft and medium resets"
### Describe the Issue

There's a definition in a Relational Database Learn Git lesson that is not strictly correct. This instruction is given:

The problem is the next instruction which says:

This was not a "soft" reset. This was a "medium" reset. `--medium` is the default. `--soft` would leave changes in the staging area.

The original author probably indended "soft" meaning "not hard" but "sof

[2022-10-16 15:40] Guillon88 opened #48080 "learn-the-css-box-model-by-building-a-rothko-painting/step-41 typo"
### Describe the Issue

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-41

Step 41
Use the border-radius property on the .two selector, to set its top-left and bottom-right radii to 8px, and top-right and bottom-left radii to 10px.

should be

Step 41
Use the border-radius property on the .two selector, to set its top-left a

[2022-10-16 15:43] stabbystabstab commented on #48079
PR: https://github.com/freeCodeCamp/learn-git-by-building-an-sql-reference-object/pull/15

[2022-10-16 17:23] jeremylt commented on #48080
Radii is correct. Radii is the plural of radius.

[2022-10-16 17:23] #48080 closed

[2022-10-16 18:23] Sboonny opened #48083 "Inconsistency in step 21 in photo gallery project"
in the description of step 21 it mentions adding 5 characters, while the hint is asking for five letters.

this isn't something that casing issue because I think in either cases (inputting letters or characters) the test will succeed, but I don't think it's accessible to accept `!@#$%^&*(` or hint about it as an answer.

we should change characters in that steps to letters, but should we add test

[2022-10-16 18:37] Sboonny opened #48084 "Sentence structure, in step 174 of new JS RPG project, is harming translation effort"
### Describe the Issue

There is a typo in Step 174, the structure of the phrase is harming translation effort as mention in crowdin by translator

here is the sentence

https://github.com/freeCodeCamp/freeCodeCamp/blob/6df93646db629a535c3ae193aee1c8e16d33feed/curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa2a

[2022-10-16 18:45] getcoder-top commented on #47971
hiii, i want to contribute to this please accept my pull request.
i use freecodecamp and want to contribute to it

[2022-10-16 18:50] Sboonny opened #48085 "Typo on how to open pull request document"
in the document, the instruction header says this:

because how the following instruction looks

[code]

I agree with the camper suggestion, in the original issue

Can we clear the empty line in the code block, it's annoying me 🤣

 here is the file

https://github.com/freeCodeCamp/freeCodeCamp/blob/6df93646db629a535c3ae193aee1c8e16d33feed/docs/how-to-open-a-pull-request.md#L191

here is the origin

[2022-10-16 19:02] Sboonny opened #48087 "Missing code block in step 154 of new JS rpg project"
## the issue

In the step, the hint says the following:

## the file

https://github.com/freeCodeCamp/freeCodeCamp/blob/6df93646db629a535c3ae193aee1c8e16d33feed/curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa226207f33d3ad4c6f546.md#L27

<s>
### Additional context

If you would like to fix this issue, please m

[2022-10-16 19:03] rffontenelle commented on #48084
Your suggestion LGTM

[2022-10-16 19:08] TechGeek3 commented on #48087
Can I contribute to this?

[2022-10-16 19:11] Sboonny commented on #48087
yes, feel free to open PR, after reading our guideline 👍

[2022-10-16 19:14] ieahleen commented on #48087
Remember that spaces do not appear in a code block at the beginning or end. Are spaces important in that step?

[2022-10-16 19:24] rffontenelle commented on #48087
@ieahleen It seems so, yes. Reading the source file, the intention is to create a "`text.innerText` + Your [weapon] breaks." string. This step adds "Your", making sure there is a space before the previous sentence and a space after "Your" before what will be the result of running `inventory.pop()` .

[2022-10-16 19:32] Sboonny commented on #48087
Welp.

We have different issue, using quotes doesn't stop people from adding/removing space https://freecodecamp.crowdin.com/translate/690087755819f2f67b26dbee3be0eb53/34723/en-ptbr?filter=basic&value=0#q=1220701

what about using `" Your "`

[2022-10-16 19:48] ieahleen commented on #48087
Maybe `" Your "` or

Something that makes clear to add the spaces and also that describe how to add them (updating the `remember that spacing matter`)

[2022-10-16 19:55] getcoder-top commented on #47738
please accept the pull request

[2022-10-16 20:00] Sboonny commented on #48087
I am leaning towards your suggestion, because I can see mine spawning multiple threads in the forum about "using quotes but not passing the test"

[2022-10-16 20:10] getcoder-top commented on #48085
hiii, Please accept the pull request

[2022-10-16 20:18] ieahleen commented on #47738
@getcoder-top please follow the contributing guidelines first :)

[2022-10-17 00:20] AkashsRepositories commented on #47738
@ieahleen What is @getcoder-top missing out from the guidlines? Itvwould be great if you can point out.

[2022-10-17 07:45] ieahleen commented on #47738
@AkashsRepositories

As a new contributor, we encourage you to read our [contributing guidelines](https://contribute.freecodecamp.org).

We expect our contributors to be aware of the process specific to this project. Following the guidelines religiously earns you the respect of fellow maintainers and saves everyone time.

Some examples of this are:

1. Do not edit files directly through GitHub – w

[2022-10-17 10:01] ieahleen commented on #46411
The links exist, the issue is open for contribution

[2022-10-17 10:07] ieahleen commented on #47555
Step 13 has already a PR dedicated

The others also will need to be changed to not spoon feed flexbox. The hints can probably stay the same, the instructions will need to be less "use thie exact property with this exact value" and more "use flexbox for this purpose"

I wonder if we can expand the scope of this issue or open a new one...

Thank you @lucyferu for the report on the steps that have th

[2022-10-17 10:10] ieahleen commented on #48087
I think it's even more important to make sure learners notice that here:
https://github.com/freeCodeCamp/freeCodeCamp/blob/6df93646db629a535c3ae193aee1c8e16d33feed/curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa226207f33d3ad4c6f546.md?plain=1#L10
there is a space at the start of the code block.

[2022-10-17 11:04] KravMaguy commented on #46411
Affected Page
https://forum.freecodecamp.org/t/the-submit-should-display-quiz-step-40/516112

On Mon, Oct 17, 2022, 3:01 AM Ilenia ***@***.***> wrote:

[2022-10-17 11:09] KravMaguy commented on #46411
for me this link does not exist.

this is not described so clearly

[2022-10-17 11:14] ieahleen commented on #46411
ah, that one, it was deleted by the author. But you can see many cases on the forum of users failing tests because they changed code outside the editable region, helpers can't detect that situation easily.

that's the point of the issue... decide what to implement.

[2022-10-17 11:55] ieahleen commented on #48084
You mean this?

That would totally work I think

[2022-10-17 13:16] ieahleen commented on #48083
I am not sure we need to worry about this. If someone uses 5 random characters for all the alt attributes they are not going to see the hint, if instead they do too short alt texts maybe the hint will help. The alt attributes are tests as
[code]
so just their length is counted, not their content

[2022-10-17 13:28] Sboonny opened #48101 "RTL layout for freeCodeCamp curriculum"
### Is your feature request related to a problem? Please describe.

With 100% of the three Arabic front end libraries proofread in Crowdin, we need to change the pages Layout to account for this.

The layout that need to be changed are as follows:

<details><summary>The Header and Footer layout</summary>

![image](https://user-images.githubusercontent.com/88248797/196185925-7fc2de6a-86fc-4e12-b3f4

[2022-10-17 13:54] OyinOlamide commented on #48085
Hello @Sboonny Please is this still open? And how can I work on it?

[2022-10-17 14:09] #48085 closed

[2022-10-17 14:16] 20RitikSingh commented on #47117
can i contribute?

[2022-10-17 16:36] getcoder-top commented on #47824
hiiii, i am interested in in this project can you share some pages affected

[2022-10-17 16:37] jeremylt commented on #47824
See the discussion above for the affected pages

[2022-10-17 17:27] #47457 closed

[2022-10-17 17:31] #47401 closed

[2022-10-17 17:39] getcoder-top commented on #48043
can i work on it

[2022-10-17 17:39] getcoder-top commented on #48043
please assign this issue to me

[2022-10-17 17:52] getcoder-top commented on #47981
is the issue still open

[2022-10-17 18:36] nayabatir1 commented on #46372
Is setting sound volume manually part of requirement ?
Can't we just leave it to system sound volume?

[2022-10-17 18:43] ShaunSHamilton commented on #47981
@getcoder-top

---

The changes to resolve this PR require admin/write access to the `/news` platform.

[2022-10-17 18:44] ShaunSHamilton commented on #47981
@naomi-lgbt Did you ping/email/contact the author yet?

[2022-10-17 18:48] ieahleen commented on #47555
reopening for the other steps

[2022-10-17 18:49] ieahleen commented on #48043
@getcoder-top We typically do not assign issues. Instead, we accept the first pull request that comprehensively solves the issue.

Issues labelled with `help wanted` or `first timers only` are open for contributions.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). We prioritize contributors following the instructions in our guide. Join us in [o

[2022-10-17 18:51] ieahleen commented on #46372
@nayabatir1 volume is already implemented, that's not what this issue is about

[2022-10-17 18:58] nayabatir1 commented on #46372
Let me re-phrase
I looking at the code, I found that audio volume is being set manually. Any specific reason for setting volume level.

My bad there is option to set volume level. Didn't saw that.

[2022-10-17 19:10] ieahleen commented on #46372
because so users have freedom to set the volume to what they want

[2022-10-18 09:25] AugustinMauroy opened #48108 "I18n french"
### Is your feature request related to a problem? Please describe.

Add I18n French

### Describe the solution you'd like

//

### Describe alternatives you've considered

//

### Additional context

_No response_

[2022-10-18 11:53] getcoder-top commented on #45666
is this issue still open to contribute,

[2022-10-18 12:15] getcoder-top commented on #47555
hiii, ieahleen can you please explain the issue,

[2022-10-18 12:29] getcoder-top commented on #47555
hiii,
can you please explain the issue to me

[2022-10-18 12:37] getcoder-top commented on #47456
if add required in the html will it be fine,

[2022-10-18 12:38] getcoder-top commented on #47456
is this issue open [dhairyapatel1506](https://github.com/dhairyapatel1506)

[2022-10-18 13:43] ieahleen commented on #45666
@UnicornAriel1 @getcoder-top
We typically do not assign issues. Instead, we accept the first pull request that comprehensively solves the issue.

Issues labelled with `help wanted` or `first timers only` are open for contributions.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). We prioritize contributors following the instructions in our guide

[2022-10-18 13:48] ieahleen commented on #47555
The steps [20](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-variables-by-building-a-city-skyline/step-20); [32](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-variables-by-building-a-city-skyline/step-32); [66](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-variables-by-building-a-city-skyline/step-66); [71](https://www.f

[2022-10-18 15:03] yashd0068 commented on #47824
hey , I am interested in this project , can you assign this issue to me .

[2022-10-18 15:07] jeremylt commented on #47824
We don't assign issues.  We accept the first complete PR that addresses the issue.

[2022-10-18 18:28] getcoder-top commented on #47738
hiii, @AkashsRepositories for the first point i am not directly editing from git i am forking and then cloning then making the changes then then creating trhe pull request which following guidlines

[2022-10-18 18:30] getcoder-top commented on #47738
other than that what is the issue here only the typo, then the pull request had the changes and the issue it passed through all the checks , then also it was closed

[2022-10-18 18:38] Sboonny opened #48118 "Sentence that needs improvement in the new JS rpg project"
@Dario-DC, reported sentence that looks weird, and I agree. it is used in 4 files

here is the sentence

https://github.com/freeCodeCamp/freeCodeCamp/blob/2f841a56dbe06a8f374d6eff6669664f000993c5/curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8eff21c0b0f6ebe5b8e38.md#L32-L38

https://github.com/freeCodeCamp/fr

[2022-10-18 18:41] getcoder-top commented on #47738
This sentence is missing a word
[freeCodeCamp/curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa2999ec27ec516655eba6.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/762945baf260afde16f4fd5191ce50a1dc20e3cc/curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-

[2022-10-18 18:46] Sboonny opened #48119 "Typo in new JavaScript make an RPG game"
### Describe the Issue

There is a typo in Step 156, the word `or` is used to refer to the `AND` operator.

Here is the typo

https://github.com/freeCodeCamp/freeCodeCamp/blob/2f841a56dbe06a8f374d6eff6669664f000993c5/curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa234322d4ad3e8bce42cc.md#L10

it should be `AND

[2022-10-18 18:55] getcoder-top commented on #47738
@ieahleen  @AkashsRepositories

[2022-10-18 19:20] ieahleen commented on #47738
@getcoder-top the missing word is "to", "you should use compound assignment to add". If you need help please reach out to the contributors chat room, your PR is still not following guidelines AND including unrelated changes.

[2022-10-18 19:23] jsmayo commented on #47513
I tested adding 'overflow:clip;' in both Chrome and Safari, both passed. I tried the latest version of Safari as well as changing the user agent to match that of the original described above, which passed as well.

[2022-10-18 19:24] bbsmooth opened #48121 "(a11y) Keyboard focus indicator"
### Describe the Issue

We are relying on the browser's default keyboard focus indicator for quite a few focusable elements and it just isn't very accessible in certain browsers (looking at you Chrome). We really need to settle on a focus indicator color and then make sure every focusable element uses it for the focus outline. I've been using our CSS custom variable `--blue-mid` for things I've wo

[2022-10-18 19:47] LeGrandMAG commented on #48119
Hello, I would like to work on this issue.

[2022-10-18 21:05] aadityarajkashyap commented on #48119
hello,can i resolve the issue?

[2022-10-18 21:58] naomi-lgbt commented on #47981
Not yet. On the todo list.

[2022-10-19 00:05] shanethecrane opened #48124 "Salon Appointment Subtask 1.1 :16 Not Passing When it Should"
### Describe the Issue

All of the tests for the Salon Appointment pass except for:

"If you pick a service that doesn't exist, you should be shown the same list of services again"

### Affected Page

https://www.freecodecamp.org/learn/relational-database/build-a-salon-appointment-scheduler-project/build-a-salon-appointment-scheduler

### Your code

[code]

### Expected behavior

When i run the .s

[2022-10-19 04:33] #48119 closed

[2022-10-19 04:42] gikf commented on #48124
Could you share dump of your database as well?

[2022-10-19 06:02] bbsmooth opened #48126 "Preserving Tab key behavior in the monaco editor"
### Describe the Issue

The default behavior for the Tab key in the monaco editor is to add a tab (or remove a tab with `Shift + Tab`). But this effectively creates a Tab trap in the editor. The solution is to use `Ctrl + M` to change the behavior of the Tab key so that it instead moves focus to the next focusable element on the page (or previous focusable element for `Shift + Tab`). As an alterna

[2022-10-19 07:00] Abhay5855 commented on #47447
@alfonsusac Can I take up this issue?

[2022-10-19 08:04] alfonsusac commented on #47447
Sure!

[2022-10-19 08:26] naomi-lgbt commented on #48126
This is what makes the most sense to me, but I'm also not a keyboard-only user. But generally, when I toggle something I expect it to stay toggled until I toggle it again.

[2022-10-19 08:38] ahmadabdolsaheb commented on #48121
That makes sense and you cannot go wrong with mid-blue. We can move forward with adding the outlines here and reapply them to the upcoming component library (some already have them).

[2022-10-19 08:39] Abhay5855 commented on #47447
@alfonsusac Thanks I will work on it can you assign it to me as well

[2022-10-19 10:08] Sboonny opened #48133 "Typo on how to open pull request document"
in the document, there is a sentence saying this:

But this section is talking about assigning proofreading, it should be changed to this:

 here is the file

[Search for the user that will become contributor.](https://github.com/freeCodeCamp/freeCodeCamp/blob/3653ff4e18e1ab4a967a89bf3c0a1eff2bdba813/docs/language-lead-handbook.md#L311)

here is the original issue

https://freecodecamp.crowdin.com

[2022-10-19 10:30] ShaunSHamilton commented on #47447
@Abhay5855
An issue with the https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted or https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read t

[2022-10-19 11:03] Aman-zishan commented on #48133
I can take this up

[2022-10-19 12:01] Sboonny commented on #48101
I have created a branch with files in it, to act as sandbox for the changes here it's https://github.com/Sboonny/freeCodeCamp/tree/Arabic-curriculum-subtree

[2022-10-19 12:12] #48133 closed

[2022-10-19 12:25] ojeytonwilliams commented on #48126
i.e. if they accidentally hit Ctrl + M without noticing?  I think that will be rare enough that we don't have to worry.  As long as Ctrl + M toggles back and forth between the two modes, that should be solid.

[2022-10-19 12:32] ahmadabdolsaheb commented on #47356
@PrakritiShetty, there is an open pr for this issue. Feel free to work on any of the remaining components https://github.com/freeCodeCamp/freeCodeCamp/issues/44668

[2022-10-19 12:50] IJustWannaLearnSomething opened #48138 "Test issue (Please Ignore)"
This is a test

[2022-10-19 12:53] ieahleen commented on #48138
Use your own repo for testing, do not spam other repos, thank you.

[2022-10-19 12:53] #48138 closed

[2022-10-19 13:01] hbar1st commented on #47464
I asked about this feature a few weeks back. (and since then I have fielded 2 similar requests on the forum. One person was okay to reset everything. I was not). I wanted this so I can reset the JS/frontend and on progress because I want to redo these courses. Does the current process of reset also clear the certifications? I'm not sure if people will want that so it is important to specify if cle

[2022-10-19 13:26] shanethecrane commented on #48124
--
-- PostgreSQL database dump
--

-- Dumped from database version 12.9 (Ubuntu 12.9-2.pgdg20.04+1)
-- Dumped by pg_dump version 12.9 (Ubuntu 12.9-2.pgdg20.04+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_

[2022-10-19 13:27] shanethecrane commented on #48124
[salon.txt](https://github.com/freeCodeCamp/freeCodeCamp/files/9820876/salon.txt)

GitHub doesn't "support .sql files", so I made it a .txt instead

[2022-10-19 14:34] imvetri commented on #17486
@thecodingaviator , @RandellDawson  @moT01  @QuincyLarson Thanks a lot for getting this done. I noticed youtube video about ML from freecodecamp. :)
<img width="407" alt="Screenshot 2022-10-19 at 8 04 15 PM" src="https://user-images.githubusercontent.com/6542274/196721443-93b07cec-c206-4895-8613-3f8d951ec442.png">

[2022-10-19 14:43] imvetri opened #48141 "Is there a plan for adding research ?"
Hi,

freecodeCamp' is doing amazing job. I'm amazed by @QuincyLarson and supporting members keeping this going.

Phd / Masters / Bachelors shouldn't restrict an individual from chasing their ideas. Some curious minds believe in themselves and may find it hard to get it in reality.

I'm not asking for one more curriculum like I asked in the past and I'm unable to put it in right words.

To be crisp

[2022-10-19 14:57] raisedadead commented on #48141
Hi @imvetri

Thanks a lot for this question. Could you re-open this on our forum instead? This open-ended question makes a good fit there instead of the issue tracker.

As a staff member, I can say that we are happy to discuss this and think there are some plans. But again, it's best to discuss this on the forum.

[2022-10-19 15:02] jeremylt commented on #47824
Please read my last comment. We do not assign issues.

Please read all comments on this issue so that you understand what needs to be done.

[2022-10-19 15:05] gikf commented on #48124
Thanks. This doesn't seem to be related to the test code, or otherwise caused by project internals, but the script itself.

As such, the more appropriate place for asking for help with solving project is freeCodeCamp forum.

Please click the **"Ask for help"** button on the challenge on freeCodeCamp, which will help you create a question in the right part of the forum. Volunteers on the forum usua

[2022-10-19 15:05] #48124 closed

[2022-10-19 15:15] #48141 closed

[2022-10-19 15:16] imvetri commented on #48141
@raisedadead I'm not doing it. I'm not comfortable with other interfaces other than github.

[2022-10-19 15:19] rohanprichard commented on #48118
Can I be assigned to this?

[2022-10-19 15:35] imvetri commented on #48141
@raisedadead  If you were in charge of maintaining these topics, why wouldn't you copy paste my contents over there? leave this opened until someone else notices it rather than closing it.

[2022-10-19 16:32] Sboonny commented on #48118
contribution isn't open for issues with label https://github.com/freeCodeCamp/freeCodeCamp/labels/status%3A%20discussing, you are more than welcome to discuss how to improve it

[2022-10-19 18:27] ahmadabdolsaheb commented on #47923
Both [two windows, one overlapping the other](https://www.onlinewebfonts.com/icon/273031) and [window-restore](https://fontawesome.com/icons/window-restore?s=solid&f=classic) both are plausible.

[2022-10-19 19:47] nayabatir1 commented on #47738
Is this not resolved yet?
I can re-open my pr.

[2022-10-19 22:14] nayabatir1 commented on #45949
Hey I would like to work on this issue.
To summarise, make table component which looks like [this](https://github.com/freeCodeCamp/freeCodeCamp/issues/45949#issuecomment-1198093516) with some configurations.
Also I have to use this components in 3 different places mentioned [here](https://github.com/freeCodeCamp/freeCodeCamp/issues/46497#issuecomment-1158992698)

[2022-10-19 22:16] Tracerract opened #48145 "Bookmarked Certifications were no longer usable"
### Describe the Issue

I'm working on my Front End Cert. I had a bookmark for my first two certs, and had also added them to my LinkedIn, like the button suggests doing. I was trying to check something and clicked my bookmark only to find out that it wasn't working anymore. I got lucky.

I've somewhat looked through #42621 and #45562 so I realize that this is a solution to a problem I didn't even

[2022-10-20 06:16] utkarshaskumbhar commented on #47456
Name : Utkarsha Kumbhar
College: Cummins college of engineering for women
Department: computer Engineering
"I would like to work on this issue as it will be my first issue , please can you assign me?"

[2022-10-20 07:26] ahmadabdolsaheb commented on #47924
We currently have the dropdown icon such as the following:

<img width="807" alt="Screen Shot 2022-10-19 at 4 05 52 PM" src="https://user-images.githubusercontent.com/4591597/196700053-a0869ea6-cd8f-4357-86c6-5acddbae5c35.png">

For external links we could add the one we use in the dropdown navigation.
What other states do we need to cover?

[2022-10-20 07:36] sauravkumar8178 commented on #44668
Hello sir, can you assign this issue to me. I am very interested to solving this issue.

[2022-10-20 07:45] ahmadabdolsaheb commented on #44668
@sauravkumar8178 , please go ahead 👍. No assignment is necessary as described in our [contribution guidelines](https://contribute.freecodecamp.org/#/index?id=where-do-i-start-if-i-want-to-work-on-an-issue). The first comprehensive PR will be considered for review.

[2022-10-20 07:48] Sboonny commented on #47924
In the dropdown there is `veiw code`, and `view project` links. Should we add icons in them as well?

the consistency mentioned in [this issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/46497#issuecomment-1158992698), should be account for, as if the icons functional in these section, as well. 🤔

I think that's all I can think of currently

[2022-10-20 10:52] ieahleen commented on #47738
@nayabatir1 if you can quickly fix this it may be ideal

[2022-10-20 10:55] ieahleen commented on #47456
@utkarshaskumbhar We typically do not assign issues. Instead, we accept the first pull request that comprehensively solves the issue.

Issues labelled with `help wanted` or `first timers only` are open for contributions.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). We prioritize contributors following the instructions in our guide. Join us i

[2022-10-20 10:56] ieahleen commented on #47555
@denquinlan We typically do not assign issues. Instead, we accept the first pull request that comprehensively solves the issue.

Issues labelled with `help wanted` or `first timers only` are open for contributions.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). We prioritize contributors following the instructions in our guide. Join us in [our

[2022-10-20 11:16] ieahleen commented on #48145
For other privacy options, like certifications private, the certs are hidden in the profile. Maybe it can be extended 🤔

[2022-10-20 12:08] #47157 closed

[2022-10-20 12:40] #47738 closed

[2022-10-20 13:27] adhiramaa commented on #47118
<!DOCTYPE html>
I do this at the starting the code and the executed

[2022-10-20 13:28] adhiramaa commented on #47118
//<!DOCTYPE html>

[2022-10-20 13:28] adhiramaa commented on #47118
!DOCTYPE html

[2022-10-20 14:05] Prince-Mendiratta commented on #47923
I'd suggest we should move forward to replace the `faExternalLinkAlt` icon with the `faWindowRestore` icon. Should I move ahead and send over a PR?

This is the output -
![image](https://user-images.githubusercontent.com/54077356/196970942-4cc1c809-f59f-4e8f-8b01-46738ecca50f.png)

[2022-10-20 15:05] moT01 commented on #48087
Here's what I might do...

Description:
"Use the `+=` operator to add ` Your [weapon] breaks.`, with a space in front of `Your`, to the end of `text.innerText`.  Replace `[weapon]` with the last item in the `inventory` array using `inventory.pop()`, which will remove the last item in the array AND return it so it appears in your string."

Test 3:
"You should add `Your` with a space before and afte

[2022-10-20 15:13] kclalit64 commented on #45510
Is this issue still supposed to be open? On my smartphone, I'm currently looking at a different header (which I suppose, solves the mentioned issue)
![WhatsApp Image 2022-10-20 at 8 41 18 PM](https://user-images.githubusercontent.com/91486778/196988270-28c43984-8c2e-4d29-87e5-1b19b9629045.jpeg)

[2022-10-20 15:18] moT01 commented on #48145
Yea, this is a little goofy. We say that your certs will be private if timeline is private - but we still show the earned certs on the profile. That's not the cert itself, but it kind of makes you think those might be hidden if timeline is private.

For some context, the certs get hidden when timeline is private because we want to show the projects completed to earn a cert, on the cert. Hiding a t

[2022-10-20 15:53] moT01 commented on #48118
I would shorten them to just use `array`...

e.g. "Your fifth `locations` value should have a `button text` array with three `Go to town square` strings."

[2022-10-20 16:01] moT01 commented on #48083
I don't think there's much of a problem here either - we could maybe change 'letters' to 'characters' in the test to be more accurate - but as Ilenia pointed out, that would never cause a problem. The point here is to add alt text - if we want to make sure the text is descriptive, we should change the lesson to have them add specific text.

I think we are probably fine to just leave this how it is

[2022-10-20 16:05] bbsmooth commented on #48126
As someone who is constantly using this site with the keyboard only (for accessibility testing) I find it very annoying to have to keep doing `Ctrl + m`. Basically, I never want the Tab key to add tabs in the editor, and making this permanent has been on my list of things to do for quite some time now. Of course, I may not be a "typical" user of this site, but I do think that others who use this s

[2022-10-20 16:15] moT01 commented on #48002
The registration form is where it makes sense to me to add an explanation about this. That form doesn't have a method attribute so it uses `get` by default. The form includes sensitive information, so it fits nicely to add a step adding a post method there. I would be fine adding a help wanted label to do that - or we can work out more details if we want here first.

[2022-10-20 16:47] dojutsu-user commented on #48087
Hi @Sboonny,
I would like to contribute in this issue.

[2022-10-20 16:49] Tracerract commented on #48145
This is what I thought to be happening before, and I didn't realize that wasn't the case. I do think that removing the certification's dependancy on the timeline would allow this to resolve in a way that works for users that had their settings like I did and haven't noticed their broken cert links yet.

Also, I think that this solution is one method of solving that additional unintended behavior I

[2022-10-20 16:52] moT01 commented on #47847
I like Ahmad's design here - but it also doesn't include any labels. So I think we are probably leaning towards not adding labels. I looked a few profiles quick - twitter, github, our forum - they don't really include labels either. But they do seem to universally use some icons to indicate things where applicable...

Twitter:
![Screen Shot 2022-10-20 at 11 44 33 AM](https://user-images.githubuser

[2022-10-20 17:05] Sboonny commented on #48087
Feel free to open pull request after reading our guideline.

Here is canned details I forgot to mention, sorry about that.

If you would like to fix this issue, please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instructions in our guides. Join us in [our chat room](https://discord.gg/PRyKn3Vbay) or [the for

[2022-10-20 18:01] nayabatir1 commented on #45949
When ever I try to navigate to settings page, it redirects me to `localhost:3000/signin` page.
Any suggestions?

![image](https://user-images.githubusercontent.com/91016903/197023810-0459703c-5548-48af-be63-e63b40c646ac.png)

[2022-10-20 18:23] ShaunSHamilton commented on #48002
It should be quite simple to add one/two lesson/s in the registration-form project. So, I am happy opening this up for help.

**Goal**

- Add one (two if needed) lessons to the `learn-html-forms-by-building-a-registration-form` project
- This lesson should teach about the `method` attribute
- The goal should be to add `method="post"`

---

An issue with the https://github.com/freeCodeCamp/freeCode

[2022-10-20 22:27] nayabatir1 commented on #45949
when I tried to run `npm run develop:server`
I might be missing something, but I don't know what

![image](https://user-images.githubusercontent.com/91016903/197070835-8dc37189-8b54-4685-a058-3496134cdfd7.png)

[2022-10-20 22:37] naomi-lgbt commented on #45949
Have you set a `MONGOHQ_URL` in the `.env` file? By default, if you copied the `sample.env`, this is set to a local instance.

[2022-10-20 23:21] mcp1997 commented on #47554
I don't mean to speak for the original poster, but I feel the exact same way about this particular lesson, so I figured I would post a comprehensive list of what steps I personally thought could use some reworking:

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-3
This one isnt that bad since we also had to write this line of code in I bel

[2022-10-21 00:29] ShaunSHamilton commented on #47554
@mcp1997 Thank you for the detailed feedback. It is important to remember that the new curriculum format is designed to be heavily reliant on the hints, as well as the order they are given. The hints do often just give the answer as code to copy-pasta.

Here are my comments on some of the points:

There are no units. It is a fraction (ratio) of the width to the height.

The aspect ratio of the ful

[2022-10-21 00:29] ShaunSHamilton commented on #47554
Based on this, some immediate actionables might be:

1) `step-8`: Explain the `max` function.
  - Unfortunately, this is the only project that uses this function. So, we cannot easily explain it earlier.
2) `step-13`: Explicitly say: `Use the `>` selector to....`
3) `step-14`: Already being tracked in #48002
4) `step-35`: Rephrase to say something along the lines of: `Add a CSS -related question t

[2022-10-21 02:18] vkats90 opened #48164 "Relational Databases: Number guessing game:"
### Describe the Issue

In the tests for the number guessing game, the tests count printed empty spaces as guesses, and so If you code the game to print empty spaces for readability purposes, you will not subtests 8 and 13.

### Affected Page

https://www.freecodecamp.org/learn/relational-database/build-a-number-guessing-game-project/build-a-number-guessing-game

### Your code

[code]

### Expecte

[2022-10-21 03:43] mcp1997 commented on #47554
Thanks so much for your quick and detailed response, I really appreciate you taking the time to explain each step I mentioned. It does seem your philosophy is to have users struggle a bit, use hints, do some tweaking, trial and error, etc.

I was able to get through the lesson with my prior knowledge + some googling + hints, I may have just gotten a little carried away with trying to put myself in

[2022-10-21 04:06] Vishal101022 opened #48165 "Lack of a descriptive enough hint in step 22 of building skyline project"
### Describe the Issue

In the hint below it ask to create a new variable, but it doesn't say where we have to add. A camper like me add variable in **.bb2** which is normal we did same in **.bb1**, which cased confusion to a camper.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-variables-by-building-a-city-skyline/step-22

### Your code

[code]

### E

[2022-10-21 04:50] gikf commented on #48164
More context:
https://forum.freecodecamp.org/t/number-guessing-game-tests-8-and-13-wont-pass/564738
https://github.com/freeCodeCamp/learn-number-guessing-game/blob/3ab32fa2baf1e5abbe0df24693f8e3b3a709d4f3/.freeCodeCamp/test/1.1.test.js#L7-L32

As mentioned, the test is making another guess after each line printed out by script. Because of the way the number of guesses and the secret number is coun

[2022-10-21 05:09] nayabatir1 commented on #45949
I'm not local mognodb

[2022-10-21 07:33] ojeytonwilliams commented on #48126
@bbsmooth have you tried playing with `editor._standaloneKeybindingService.addDynamicKeybinding`? It might do what you need it to.

Eventually https://microsoft.github.io/monaco-editor/api/modules/monaco.editor.html#addKeybindingRule could be the way to go, but we can't currently update the editor to a version that includes this function.

[2022-10-21 08:44] ahmadabdolsaheb commented on #48101
Thanks @Sboonny for creating this issue, importing the translations and  submitting fixes.
I came across this guide for RTL styling that thought might be helpful: (https://rtlstyling.com/posts/rtl-styling/)

Initially we would need to have a branch that only has the added translation files. The UI and lesson translations should be working so we would know if we need to change the size of some elem

[2022-10-21 10:57] anand454 commented on #47513
i would like to contribute,can you assign me some issues.?

[2022-10-21 11:21] ahmadabdolsaheb commented on #47923
@Prince-Mendiratta, Sure.

[2022-10-21 13:02] #45510 closed

[2022-10-21 14:05] Ayush-singla27 commented on #48079
hey, i am was looking into this issue. Just wanted to confirm should i also change medium to mixed as suggested by @moT01 in the above PR?

[2022-10-21 14:36] footedroom575 commented on #48165
The step instructs where to add the other variable imo.

There is only 1 variable in the code `--building-color1` and it should be inferred that the other one goes right below it.

However, I still agree that the hint should be more meaningful in case someone misunderstood it.

Will add a new pr soon

[2022-10-21 15:45] ojeytonwilliams opened #48173 "Editor contents resets whenever tests are run"
Related to https://github.com/freeCodeCamp/freeCodeCamp/issues/46061

Any time the tests are run the preview iframe is recreated from scratch.  This is unnecessary, since the tests run in a separate frame.

https://github.com/freeCodeCamp/freeCodeCamp/pull/47870 fixes the most visible consequence of this - the preview scrolling back to the top.  However, this is still an unnecessary operation.

##

[2022-10-21 15:45] Sboonny opened #48174 "Arabic LearnUI strings aren't used by the Arabic curriculum in testing"
When testing Arabic LearnUI, after the Arabic strings have been imported in the curriculum.

The Arabic strings are ignored, and English strings are used instead, as shown in the issue below.

![image](https://user-images.githubusercontent.com/88248797/197236584-72b82e16-f9f8-423e-8e66-ccaba5fee5ca.png)

----

The unique Arabic string is me testing how they look from the devtools, sorry for the co

[2022-10-21 17:12] dojutsu-user commented on #48173
Hi @ojeytonwilliams @Sboonny,

Taking this up. Possible to assign the issue to me?

[2022-10-21 17:17] #47923 closed

[2022-10-21 17:18] Sboonny commented on #48173
We don't give assignments, after you have read our guideline, feel free to open PR.

If you would like to fix this issue, please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instructions in our guides. Join us in [our chat room](https://discord.gg/PRyKn3Vbay) or [the forum](https://forum.freecodecamp.org/c/co

[2022-10-21 17:21] #47649 closed

[2022-10-21 17:22] #46061 closed

[2022-10-21 17:25] #47824 closed

[2022-10-21 17:35] Sboonny commented on #48174
somewhere in this file, there is a logic that make it failback to english ui, I have no idea what it's

https://github.com/freeCodeCamp/freeCodeCamp/blob/33a95e4e102b1b080de60d55036914bd11b7450c/client/i18n/config.js#L1-L82

[2022-10-21 17:43] naomi-lgbt commented on #48165
We should change:

To:

[2022-10-21 17:50] naomi-lgbt commented on #48145
I think this is related to https://github.com/freeCodeCamp/freeCodeCamp/issues/45563, in that we want to stop redirecting "hidden" carts to the homepage and instead redirect to a FAQ page which will help clarify why a certification might be unavailable.

[2022-10-21 18:00] naomi-lgbt commented on #48174
Any time the `.env` values are changed, especially with the locale values, `npm run clean` should be run to remove any cached files that are now stale.

As a shortcut, `npm run clean-and-develop` will run `clean` and then start the dev server again.

Going to close this for now, but if you run in to additional issues feel free to ping in chat or on this thread.

[2022-10-21 18:00] #48174 closed

[2022-10-21 18:18] Sboonny commented on #48101
thanks to Naomi, we can link Arabic string consistently. we need to run `npm run clean-and-develop`, and it will throw the old english string and use the arabic string, I think 🤔

![image](https://user-images.githubusercontent.com/88248797/197262734-8bc1605b-3242-4f01-b03e-fc2a50c502e2.png)

[2022-10-21 18:39] moT01 commented on #47847
For this specific issue, I think we should either add another icon for the location, or just leave it all as is and close this - and create a separate issue for the redesign.

[2022-10-21 21:37] hbar1st commented on #47554
I just wanted to point out that the Markers project talks in some length about color contrast. (let me know if you want me to get a ref to the step(s)). It doesn't mention ratios. Maybe it can?

Randell just found another bug in this curriculum, please see:
https://forum.freecodecamp.org/t/learn-accessibility-by-building-a-quiz-step-56/565245

[2022-10-21 21:40] hbar1st commented on #47554
Also can someone fix the title of this issue to something that specifically mentions the build a quiz project? (It would make it easier to find if anything else comes up)

[2022-10-21 21:47] ShaunSHamilton commented on #47554
We can still do this, but we have started tracking projects with multiple issues through milestones: https://github.com/freeCodeCamp/freeCodeCamp/milestone/29

[2022-10-21 21:56] ShaunSHamilton opened #48182 "[accessibility-quiz]: step-56 fails valid code"
### Describe the Issue

**CORRECTION**

As described in the below forum post, the tests should account for the outcome of the code. Not just look at the specific StyleRule

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-56

### Code

[code]

### Expected Behaviour

The tests should be changed to allow for valid code to p

[2022-10-21 21:57] ShaunSHamilton commented on #47554
I have opened another issue to track step-56: https://github.com/freeCodeCamp/freeCodeCamp/issues/48182

[2022-10-21 22:02] hbar1st commented on #48182
I think Randell's point about this step was that putting the text-align: right in the .info input,.info label rule *should* also be accepted because it ultimately gets overriden by the .info input selector following it. (so the inputs stay on the left and the labels on the right)

(so it wouldn't be enough to change the description of the exercise)

[2022-10-21 22:10] ShaunSHamilton commented on #48182
@hbar1st Thank you for correcting. I have updated the original post.

[2022-10-21 22:34] Tracerract commented on #48145
I agree that it is related in that it's about certs not being shown, but I think that the solutions will likely be different.

As in: removing the timeline dependency for certs wouldn't resolve other things causing it to redirect to the home page, and changing the redirect page won't resolve previously shared functional links to certs being broken from the fix a few weeks ago.

[2022-10-21 22:46] bbsmooth opened #48183 "Vertical scroll bar issues in /learn steps and challenges"
### Describe the Issue

In the steps/challenges there is a vertical scroll bar on the body which is mildly annoying on the desktop layout but rather annoying on the mobile layout since the code editor in the steps and the info panel in the legacy challenges have their own vertical scroll bar and thus you have two vertical scroll bars side by side. This is also causing the tool panel buttons at the

[2022-10-22 04:14] Arghya46 commented on #48002
Hello sir, Can u assign this issuet to me?

[2022-10-22 07:47] victoremeka opened #48195 "Broken test in boilerplate-budget-app replit"
### Describe the Issue

When calculating percentage **spent**, the results are calculated based on deposits and not withdrawals as stated in the challenge description.

### Affected Page

https://replit.com/github/freeCodeCamp/boilerplate-budget-app

### Your code
[code]

### Expected behavior

Expects **test_create_spend_chart** to assert proper results

### Screenshots

![test_module py - boiler

[2022-10-22 08:34] gikf commented on #48195
Thank you for reporting this issue.

The each bar should show amount spend in single category to the total amount spend in all categories.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you crea

[2022-10-22 08:34] #48195 closed

[2022-10-22 09:01] hbar1st commented on #47554
Yes for me this is what works best when I don't know what to do in one of these steps. I click on Check first (before I type anything), then follow the hint. Then click on it again, and follow the hint etc. (so yes, I too have encountered a step or two where this method is the one that helps me get through it. First one to come to mind was step 56 because I didn't know why they wanted the new rule

[2022-10-22 10:16] ieahleen commented on #48145
The redirect to homepage is the desired behaviour if the certification is not available for whatever issue, it has a message on top saying that the certification is not available
![image](https://user-images.githubusercontent.com/26656284/197333904-3cea3293-602f-4da9-8023-e55676bcc28e.png)

[2022-10-22 10:58] ieahleen commented on #46675
About `float`, should it be removed completely?
or is it fine to keep it to align the percentages to the right?
![image](https://user-images.githubusercontent.com/26656284/197335430-b79a8c1a-5438-4d08-876e-c8d2053c404e.png)

[2022-10-22 15:08] Shyamjizoyo commented on #46492
i get error in this ?? how to solve ??

[2022-10-22 15:49] Sboonny commented on #46492
@Shyamjizoyo, Join [our chat room](https://discord.gg/PRyKn3Vbay) or [the forum](https://forum.freecodecamp.org/) if you need help in the challenge, our volunteers will help you there.

[2022-10-22 16:30] Sboonny commented on #48101
Javascript final projects editors aren't interactive in RTL layout

![image](https://user-images.githubusercontent.com/88248797/197350794-7319d480-d174-47f9-980b-8dc3549956f6.png)

[2022-10-22 16:33] Tracerract commented on #48145
That wasn't the issue I was bringing up here though. I was bringing up that my publicly shared cert links were broken and I wasn't informed in any manner, and had no way to find out other than getting lucky and clicking on my bookmark to view my cert.

The issue I'm trying to bring attention to is that there was a breaking change made, and there are likely other people out there who had their sett

[2022-10-22 17:03] Jaya-sys commented on #47924
Hello! I have some development experience and it will be an opportunity for me if you can assign this issue to me! Thankyou

[2022-10-22 17:05] Sboonny commented on #47924
thank you for the interest, @Jaya-sys, but issues label with https://github.com/freeCodeCamp/freeCodeCamp/labels/status%3A%20discussing aren't open for contribution, because it is in discussion state, and we don't know if it's needed or wanted yes.

you can look up https://github.com/freeCodeCamp/freeCodeCamp/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22, if you are interesting on open i

[2022-10-22 17:27] RohitPatel1122 commented on #48002
@ShaunSHamilton I have raised the PR for the fix. Kindly review.

[2022-10-22 17:30] #48165 closed

[2022-10-22 17:31] ieahleen commented on #48145
And removing the dependency from the timeline would fix that, as it means that even if the timeline is private, if you set the certificates to public then they are visible and not disabled.

The fact that a disabled certificate redirects to the homepage is intended

[2022-10-22 18:02] bbsmooth commented on #46675
I don't really have a dog in this float fight, but seeing as the project before this one teaches flexbox then perhaps that might be a reason to use flexbox here (in order to reinforce what they just learned). I think it would be a rather easy change. I was able to do it by removing the float and then adding `display: flex` and `justify-content: space-between` to the `p` ruleset. And then I had to

[2022-10-22 18:09] Jaya-sys commented on #47456
Hey i want to contribute to this issue. please assign this issue to me

[2022-10-22 18:10] ieahleen commented on #47456
@Jaya-sys it's good practice to read the comments of an Issue. Look at the last comment before yours.

[2022-10-22 18:13] Jaya-sys commented on #48183
Hi! can you please this issue to me?

[2022-10-22 19:10] nayabatir1 commented on #45949
What is the link for Portfolio timeline

[2022-10-22 19:12] BodhisattaKumar commented on #48173
hi i would like to work in this issue please assign

[2022-10-22 19:43] Tracerract commented on #48145
Yes, this is where I'm not sure how to help more though, cause I'm not sure of any specifics about the implementation that causes that dependency. Do you have any ideas on that front?

Woops, I'm sorry, I'd forgotten about the secondary effect that I'd found (where I wasn't 100% about intended behavior) and thought we had ended up off-topic. My bad.

[2022-10-22 20:21] jatinmark commented on #48183
Hello @raisedadead i want to work on this issue can you assign it to me

[2022-10-22 20:44] nayabatir1 commented on #48183
Hey, is there any documentation how `.md` files are rendered. Having hard time understanding it.

[2022-10-22 20:59] nayabatir1 commented on #48182
I'm just curious, isn't it bad practice to change same css properties twice. As it would hard to debug when working with real projects.

[2022-10-23 02:51] jdwilkin4 commented on #48173
Hi @BodhisattaKumar !

Please read through @Sboonny 's earlier reply 👍

[2022-10-23 04:23] DEBADRIBASAK commented on #43516
Is this issue still open? I would like to work on it.

[2022-10-23 05:08] Shyamjizoyo commented on #46492
Please help me !!

[2022-10-23 05:45] jeremylt commented on #46492
@Shyamjizoyo this is not as appropriate place to ask for help finishing the curriculum. As stated above, you can ask for help on the forum or chat.

[2022-10-23 06:35] Arunima007 commented on #48087
Hi, Can I contribute?

[2022-10-23 06:35] Arunima007 commented on #48087
Can you assign this to me?

[2022-10-23 06:36] Arunima007 commented on #45585
Can I work on this?

[2022-10-23 06:50] Feanor96 opened #48216 "Raising an issue for practice"
this is only for practice **please ignore**

[2022-10-23 07:41] ieahleen commented on #48216
Please use your own repo

[2022-10-23 07:41] #48216 closed

[2022-10-23 07:44] ieahleen commented on #48087
@DeeppriyaGupta @Arunima007
We typically do not assign issues. Instead, we accept the first pull request that comprehensively solves the issue.

Issues labelled with `help wanted` or `first timers only` are open for contributions.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). We prioritize contributors following the instructions in our guide.

[2022-10-23 08:56] #48087 closed

[2022-10-23 09:48] Feanor96 commented on #48216
sorry, will do that next time

[2022-10-23 13:36] marimeireles opened #48217 "Hello from PyScript"
### Describe the Issue

Hi!
I didn't know how to reach out to you folks, I saw you released a new track using PyScript.
I'm a core dev and I used freecodecamp to start getting into code so I have a deep love for the project and respect and appreciation for you work!
If you ever encounter some weird behavior or just would like some nice specific feature that would fit you well, please bring it up!

[2022-10-23 13:37] marimeireles commented on #48217
You can reach me: mariana@psychonautgirl.space
or my twitter :)
or through opening an issue on github
or through pyscript's discord community
cheers!

[2022-10-23 14:12] Jagrutiti commented on #48183
Hey @nayabatir1

Here is the markdown language syntax: https://www.markdownguide.org/basic-syntax/

If you use Visual Studio Code IDE you can preview your document here: https://code.visualstudio.com/docs/languages/markdown

[2022-10-23 17:17] nayabatir1 commented on #48183
@Jagrutiti This is not what I meant. I know how `.md` works.
What I meant was how `.md` files are rendered on browser with description, instruction and test cases etc.

[2022-10-23 20:14] VisShon commented on #48183
I think its a css related problem for hiding the scroll bar we can limit the page height first and then use ::scrollbar{display:none} to get rid of the scrollbar

[2022-10-23 21:51] arunsingh2004 commented on #47456
Hello Sir I want to contribute to this issue. please assign this issue to me..

[2022-10-23 22:19] RandellDawson opened #48225 "Check For Mixed Grouping of Characters needs additional tests and different solution for testing"
### Describe the Issue

The [Check For Mixed Grouping of Characters](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/regular-expressions/check-for-mixed-grouping-of-characters) challenge really should have an extra test (or two) to make sure the regex tested does not allow the strings `FranklinRoosevelt` or `EleanorRoosevelt`to evaluate to `true` as would be with the a

[2022-10-24 02:08] Vishal101022 commented on #48217
@marimeireles this is not an issue please don't do this , its against contributing guidelines so i request to @raisedadead to close this issue.

[2022-10-24 03:15] oriooctopus commented on #41373
@moT01 In general, language switching is not something people do often, but there's a reason it is located in the navbar on almost every website that supports it. The issue is not with easily accessing the language switcher, **it's about knowing that you can switch at all**. I had no idea that free code camp supported other languages for a long time because that functionality was buried in the men

[2022-10-24 03:28] oriooctopus commented on #41373
As a side note, from looking at the google analytics data on translation usages for FreeCodeCamp, we have a ton of people using FreeCodeCamp from non english countries, yet very small amounts of people using the translated versions of FreeCodeCamp. My take on that is it supports the idea that people don't know that FreeCodeCamp has translations. After all, many coding resources don't have translat

[2022-10-24 04:01] bbsmooth commented on #41373
There is no WCAG violation for using an icon button without text. I like the idea of adding the two letter language code next to it as that might make it a little more clear, but that's not required. If we think that people aren't realizing that other languages are supported because the language switcher is in the menu then I definitely agree that it's a good idea to move it out as a separate item

[2022-10-24 05:30] scissorsneedfoodtoo opened #48229 "Typo in the "Regular Expressions: Matching and Extracting Data" Challenge"
### Describe the Issue

This typo was recently sent into the support inbox.

In the Python for Everybody challenge, "Regular Expressions: Matching and Extracting Data", the example code includes a regex string with a typo: `lst = re.findall('\\S+@\\S+', s)`

However, the regex string should be `lst = re.findall('\S+@\S+', s)`, with single backslashes (`\`) before `S+`.

Here's a screenshot from th

[2022-10-24 06:23] ificiana commented on #48229
I believe it's not a typo.
Using a single backslash outside an r-string, in this case, violates PEP 8 conventions
In some IDEs, this shows up as a warning like: `PEP 8: W605 invalid escape sequence '\S'`

Valid options:
`lst = re.findall(r'\S+@\S+', s)`
`lst = re.findall('\\S+@\\S+', s)`

[2022-10-24 06:23] #48217 closed

[2022-10-24 07:12] scissorsneedfoodtoo commented on #48229
Thank you for pointing that out, @ificiana. I wasn't aware of the PEP 8 conventions regarding escape sequences.

In that case, this may need more investigation and discussion.

[2022-10-24 07:39] ojeytonwilliams commented on #48183
@nayabatir1 it's a little involved, but the short version is they're parsed into JavaScript objects and sourced by Gatsby. Gatsby then uses that data to build the pages.

I don't think that's the right place to look, though.  As @VisShon pointed out, the problem is to do with the page height.  At least one component is too tall meaning the page needs to be scrollable.

[2022-10-24 08:26] ojeytonwilliams commented on #41373
One way we could advertise the available languages is by showing a one-time modal giving people the option to switch.  @ahmadabdolsaheb this might be worth A/B testing to check that it doesn't frustrate people who just want to get started.

Regardless of whether or not we do that, I like @oriooctopus's suggestion of separating out the switcher for more visibility. We've plenty of space for a globe

[2022-10-24 12:35] ahmaxed opened #48234 "Help with the Portfolio redesign"
### Is your feature request related to a problem? Please describe.

The redesign of the Profile is way overdue. Here is the proposal for organizing the personal info section of the Profile and improving its aesthetics.

Design file:

https://www.figma.com/file/4M7uEe9kH8hgZdB07lBvj9/Untitled-(Copy)?type=design&node-id=0-1&mode=design&t=xDY6TLQqE5Ez0LF3-0

### Describe the solution you'd like

We c

[2022-10-24 12:40] ahmadabdolsaheb commented on #47847
That is a good idea. As Ilenia mentioned, the Profile info is not presented well. It would be better if we focus our attention to a redesign.

I am closing this issue in favor of #48234
Please let me know if this has been closed by mistake.

[2022-10-24 12:40] #47847 closed

[2022-10-24 12:50] ahmadabdolsaheb commented on #41373
@ojeytonwilliams, possibly after the completion of a few challenges. I wonder if there is a similar convention for that.

Since all seem to be in agreement, I think we should move forward with the icon and the Initials.
I only wonder if the English initials are meaningful for speakers of other languages?

[2022-10-24 13:19] ahmadabdolsaheb commented on #48101
Any branch anywhere would do.

Adding the direction attribute seems to be best practice.

Yes

That is expected. The direction of the spacing should be changed for some of the element for RTL, or we could rewrite the old styles using CSS Logical Properties.

Here are the actionable items for our recent meeting:
- Some Ui translations need adjustment
- The navigation needs to be mirrored
- The best

[2022-10-24 14:59] ShaunSHamilton commented on #48182
@nayabatir1 Often, it might be. However, it is very common practice. More so, within the same style definition:

[code]

Our main goal here is to allow correct code to pass. It might not be _best practice_, but it does achieve the given user story.

If we have lessons covering best practices, then we can/will/do enforce the code used/(not used).

[2022-10-24 15:30] gepetobio commented on #47475
Yep, I came here to open the exact same issue... tks @ghost for doing that. @ieahleen I may be wrong but I think this ticket shouldn't have been closed. Here's the screenshot of the code ran on my Jupyter Notebook:

![MyOwnStudies_ipynb_—_FreeCodeCamp-Pandas-Real-Life-Example](https://user-images.githubusercontent.com/1509314/197565035-6607db67-77e1-47a3-9465-1ec0913940c4.jpg)

[2022-10-24 16:06] ieahleen commented on #47475
The value of `a` has not changed, so the answer is correct

[2022-10-24 16:26] disabledandfab opened #48238 "[accessibility-quiz]: grammar"
### Describe the Issue

There's a consistent grammatical issue. The author uses "it's" to indicate possession, when the correct word is "its". Due to this, I am also willing to look for other grammatical errors. They could cause confusion, or, at the very least, annoyance.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-

[2022-10-24 16:43] ShaunSHamilton commented on #48238
@disabledandfab Thank you for taking the time to open this.

I am only able to see the use of `it's` in 2 challenges:
- step-8
- step-10

Would you mind sharing any more?

[2022-10-24 16:43] ShaunSHamilton commented on #48238
An issue with the https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

[2022-10-24 18:32] Sboonny commented on #48101
I was confused, we have `lang='en'` in the `html` element, here it's https://github.com/freeCodeCamp/freeCodeCamp/blob/bdc2f43c0059657bb49832b66b8abff02689c836/client/src/html.tsx#L21-L41?plain=1

but the test the check for `lang` value doesn't fail in this, https://github.com/freeCodeCamp/freeCodeCamp/blob/bdc2f43c0059657bb49832b66b8abff02689c836/client/src/components/app-mount-notifier.test.tsx#

[2022-10-24 22:23] #43516 closed

[2022-10-25 03:12] SWELLZ commented on #48234
I think an option to share your profile as a "card" would be cool. Maybe a share button with the option to share to Twitter, Instagram, as an image, etc. The card would have your name, username, streak, points, longest streak, and maybe recent badges? Sort of like how Snapchat allows you to export your profile info!

[2022-10-25 03:31] SWELLZ opened #48244 "Adding functional components to the React part of the Front-End Libraries course"
### Is your feature request related to a problem? Please describe.

There isn't any mention of functional components in the React section of the Front-End Libraries course. I believe, learning functional components is much more popular now and should be mentioned or taught to the user in one way or another

### Describe the solution you'd like

While React class components are still helpful to kno

[2022-10-25 06:27] #46997 closed

[2022-10-25 07:29] ojeytonwilliams commented on #41373
Probably not.  At least not for everyone.  I think it makes sense to keep doing it how we're are currently.  The question is how to represent the menu itself.  Just a globe?  I've seen a few icons used, like https://en.wikipedia.org/wiki/Language_Icon, but I've no idea how universal they are.

[2022-10-25 11:51] ieahleen commented on #48244
The redesign of the curriculum is also to add all the new features. Like the the Responsive Web Design certificate was update so all the others will be.

[2022-10-25 11:57] riccardopit opened #48248 "Generate Random Whole Numbers within a Range"
### Describe the Issue

I'm following the "JavaScript Algorithms and Data Structures" course. In the section "Basic JavaScript", lesson "Generate Random Whole Numbers within a Range" i think there is an error. The correct code is "Math.floor(Math.random() * (max - min + 1) + min)" but the lesson shows the following code "Math.floor(Math.random() * (max - min + 1)) + min". The code ckecker works co

[2022-10-25 12:39] ahmadabdolsaheb commented on #41373
Let's move forward with just a globe or a globe and  ISO language codes. Either way works for me.

[2022-10-25 12:52] ojeytonwilliams commented on #41373
I'm not keen on the ISO codes, honestly.  They're useful for developers, but using Latin characters for something that can be localised feels like a mistake.

[2022-10-25 13:02] ahmadabdolsaheb commented on #41373
Thanks for the feedback. Then we would want to have the currently used globe icon in the navigation.

[2022-10-25 13:20] jeremylt commented on #48248
Both answers are correct and produce identical results

[2022-10-25 13:20] #48248 closed

[2022-10-25 13:27] ahmadabdolsaheb commented on #48234
A share button would be a good option. OG Image Generation for news articles is on the road map. We could consider it for the profile once that  solution is deployed https://github.com/freeCodeCamp/freeCodeCamp/issues/47085

[2022-10-25 13:28] riccardopit commented on #48248
After a check, I agree with you. Thanks for the answer

[2022-10-25 14:15] ahmadabdolsaheb commented on #47924
@Sboonny, we probably could add the external link icon for elements navigating out of the website, but it is not necessary.

[2022-10-25 15:59] Sboonny commented on #47924
I am opening this for contribution then, we can add icon to `View` to make it look different from the dropdown. as mentioned in this comment, https://github.com/freeCodeCamp/freeCodeCamp/issues/47924#issuecomment-1285067542

---

If you would like to fix this issue, please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors follo

[2022-10-25 16:28] Jaya-sys commented on #47924
As you have opened this for contribution can I contribute to it? Can you assign this to me?

[2022-10-25 16:59] Sboonny commented on #47924
feel free to open a PR :+1: , after you have read our contribution guide

[2022-10-25 18:27] nayabatir1 commented on #47924
IMO we should wait for #48211, working on both issues simultaneously will lead to overwriting one change over another.

[2022-10-25 18:45] Sboonny commented on #47924
@nayabatir1, how so? 🤔 I thought the conclusion is to add something like our old icon from the preview `<FontAwesomeIcon icon={faExternalLinkAlt} />`

It should be one line 🤔, did I misread Ahmad comments?

[2022-10-25 20:29] nayabatir1 commented on #47924
@Sboonny yeah, you are right,
Instead of overwriting I should have written merge conflict.

[2022-10-26 06:06] juanpa123locko opened #48256 "Free code camp"

[2022-10-26 06:08] #48256 closed

[2022-10-26 06:12] Sboonny commented on #48118
there is no one has provided a better option yet, so I am opening this for contribution, and when the JS is published, we can come back to this when campers are taking the course.

You should follow Tom comment here https://github.com/freeCodeCamp/freeCodeCamp/issues/48118#issuecomment-1285793087

----

If you would like to fix this issue, please make sure you read [our guidelines for contributing

[2022-10-26 07:16] chirag-cyber commented on #48234
Under the profile section, we can add projects icon link to link our achievements and also our social media handles..

[2022-10-26 09:22] #48238 closed

[2022-10-26 10:28] ritikbanger opened #48257 "Please invite me to the GitHub Community Organization"
Hello, My name is Ritik Banger, I am a Full Stack Javascript Engineer with robust problem-solving skills and proven experience in creating and designing web apps in a test driven environment and deploy them to cloud servers.

I am an open-source contributor, I have created react18-input-otp npm package. I have also contributed to webpack, core-js, react-hook-form, and node-emoji.

I would like to

[2022-10-26 10:38] ojeytonwilliams commented on #48257
Hi @ritikbanger you're more than welcome to contribute to freeCodeCamp.  If you're unsure how best to help out, I would start is by reading our [contribution guidelines](https://contribute.freecodecamp.org/).

[2022-10-26 10:38] #48257 closed

[2022-10-26 10:47] ParthMadhvani2 commented on #48234
Hello, I think there must be a share button to share a portfolio. a section of achievements and projects made, and our social media handles must be included in the portfolio.

[2022-10-26 14:00] Sboonny commented on #48101
This is complicated.
- [IBM Plex Sans Arabic](https://fonts.google.com/specimen/IBM+Plex+Sans+Arabic?subset=arabic) does look nice, but the way it's typing `في` is making me worried about other RTL language. (it can be used for LearnUI)
- [Noto Naskh Arabic](https://fonts.google.com/noto/specimen/Noto+Naskh+Arabic?subset=arabic) is accessible, and look fine. Which is nice if we are going to use it

[2022-10-26 14:16] ojeytonwilliams commented on #46729
Still needing updates:

Multifile

- convert from challengeType 0 to a new type
- simplify the client logic

[2022-10-26 14:20] ojeytonwilliams commented on #48183
https://github.com/freeCodeCamp/freeCodeCamp/issues/46810 appears to be a duplicate of this

[2022-10-26 14:39] ieahleen commented on #47038
A possible solution that would not lengthed the project description is to change the comments in the boilerplate to numbers and add the comment number in the Tasks section, as the instructions are already present

[2022-10-26 14:42] ojeytonwilliams commented on #47102
Sounds good, Tom.  Does anyone want to take this up?

[2022-10-26 14:46] ojeytonwilliams commented on #47111
It sounds like quite an extensive rework would be required. Given that it's still recognisably art, regardless of screen size, I think it's fine as is.

[2022-10-26 14:46] #47111 closed

[2022-10-26 15:28] ojeytonwilliams commented on #47173
As a reminder, because I'll likely need my memory jogging:

The issue is that concurrent submissions to the api will...

1. trigger two checks to see if the submitted challenge is not in the db
2. both find that it is not
3. push the same challenge onto completed challenges twice

Also, I missed a solution last time I considered this: migrate to a datastructure that handles concurrent submissions

[2022-10-26 15:54] 1901124414ask commented on #48118
Hello Sir, can you assign me this issue? hacktoberfest#1

[2022-10-26 16:38] Sboonny commented on #48118
Although, we are trying to include everyone, you are right this is me trying to overengineer something simple.

It's good, but we should keep Tom suggestion. In HTML/CSS projects steps, we are using the same that Tom mentioned, so there will be comfort, and subtle hints that `array` is an object that carry variables.

[2022-10-26 16:39] Sboonny commented on #48118
@1901124414ask you can open a PR, after reading our guideline. more info in this comment https://github.com/freeCodeCamp/freeCodeCamp/issues/48118#issuecomment-1291550666

[2022-10-26 16:50] Sboonny commented on #46530
Bruce, I am wondering is there an open repo for the site mentioned in https://github.com/freeCodeCamp/freeCodeCamp/issues/46530#issuecomment-1240296183, I want to use something similar for RTL font issue https://github.com/freeCodeCamp/freeCodeCamp/issues/48101#issuecomment-1292098248

[2022-10-26 17:13] haweecodes commented on #48118
Your fifth locations value should have a `button text` property and an array value with three `Go to town square` strings.

@Sboonny kept most of the original wordings.

[2022-10-26 17:21] DylanDevelops commented on #47102
I'll work on these changes!

[2022-10-26 17:26] nayabatir1 commented on #48079
Is this still open for contribution ?

[2022-10-26 17:27] 1901124414ask opened #48267 "@1901124414ask you can open a PR, after reading our guideline. more info in this comment https://github.com/freeCodeCamp/freeCodeCamp/issues/48118#issuecomment-1291550666"
@1901124414ask you can open a PR, after reading our guideline. more info in this comment https://github.com/freeCodeCamp/freeCodeCamp/issues/48118#issuecomment-1291550666

_Originally posted by @Sboonny in https://github.com/freeCodeCamp/freeCodeCamp/issues/48118#issuecomment-1292317097_

[2022-10-26 17:30] DylanDevelops commented on #47102
So I'm trying to find the file but everything is all different. How do I find this?

[2022-10-26 17:33] Ayush-singla27 commented on #48079
@nayabatir1  My [PR](https://github.com/freeCodeCamp/learn-git-by-building-an-sql-reference-object/pull/16)  have been merged. I think this issue will soon be closed.

[2022-10-26 17:35] #48267 closed

[2022-10-26 18:02] mahassan opened #48270 "Word mistake that doesn't make sense."
### Describe the Issue

In [this](https://www.freecodecamp.org/learn/front-end-development-libraries/redux/use-a-switch-statement-to-handle-multiple-actions) page, the following line is incorrect English, it says

### Affected Page

https://www.freecodecamp.org/learn/front-end-development-libraries/redux/use-a-switch-statement-to-handle-multiple-actions

### Your code

NA

### Expected behavior

T

[2022-10-26 18:07] jeremylt commented on #48270
The original wording is correct - your proposal changes the meaning of the sentence.

[2022-10-26 18:07] #48270 closed

[2022-10-26 18:15] rffontenelle commented on #48079
@Ayush-singla27 If your PR should close this issue, consider next time use a keyword to [link your PR to the issue](https://docs.github.com/pt/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword). Using keywords like close, resolves, fixes, etc. will automatically close the linked issue as soon as your PR gets merged.

[2022-10-26 18:17] Ayush-singla27 commented on #48079
Ohk. Will keep that in mind next time.

[2022-10-26 18:24] rffontenelle commented on #48079
@Ayush-singla27 That linking works only in the original post, but we're past that point.

@stabbystabstab can still close, or just wait an admin spot this conversation and close it.

[2022-10-26 18:29] Ayush-singla27 commented on #48079
Ohk. Will keep that in mind next time.

[2022-10-26 19:41] bbsmooth commented on #46530
@Sboonny I didn't put this in a github repo because really it is not worthy as I basically threw it together quickly with no regard for best practices. Fortunately, it only consists of three small files ([index.html](http://font-selector.surge.sh/), [index.js](http://font-selector.surge.sh/index.js), and [style.css](http://font-selector.surge.sh/style.css)). Please feel free to pull them down and

[2022-10-26 19:58] bbsmooth commented on #48101
FYI, I came across this great guide on supporting rtl styling.

[RTL Styling 101](https://rtlstyling.com/posts/rtl-styling)

[2022-10-26 20:48] Sboonny commented on #46530
Thank you 💚

[2022-10-26 21:00] #48079 closed

[2022-10-27 01:12] mmatsumoto1026 commented on #48183
Hello,

As @SaintPeter (at [this comment](https://github.com/freeCodeCamp/freeCodeCamp/issues/46810#issuecomment-1179202071)) and @bbsmooth mention, I agree that the vertical bar on the body should be removed as it may confuse users. I think it should, especially in the desktop view.

But, after some coding effort, I noticed that perhaps in mobile view, the vertical scrollbar of `body` provides th

[2022-10-27 05:20] scissorsneedfoodtoo commented on #46824
Hey everyone, thank you for re-opening this and for all the extra testing and details you all did.

I just imported this project into Replit and everything seems to work as expected, so I think it's safe to close this.

Going forward, someone at Replit has mentioned that they're making a lot of changes on their end, and recommends that we remove the `.replit` and `replit.nix` files wherever possib

[2022-10-27 05:20] #46824 closed

[2022-10-27 06:30] Sboonny opened #48273 "Sentence that needs improvement in the new JS rpg project"
**Looking forward for reporting a security issue:**
@Dario-DC, reported sentence that needs more context, and I agree.

Here is the sentence

https://github.com/freeCodeCamp/freeCodeCamp/blob/a00844eac58a77f0a192a8443070a9699dbdb16e/curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8f14fe6d1fc72454648c7.md#L26

I

[2022-10-27 07:02] scissorsneedfoodtoo commented on #48229
After thinking more about this, I think it's safe to close this issue. I'll respond to the person who wrote into support individually, and send this older issue with an explanation and some examples: https://github.com/freeCodeCamp/freeCodeCamp/issues/41996

If other people raise this issue on the forum or in the support inbox, it might be worth taking another look at this, or adding a note about

[2022-10-27 07:02] #48229 closed

[2022-10-27 07:14] #48182 closed

[2022-10-27 07:20] scissorsneedfoodtoo opened #48274 "Remove `.replit` and `replit.nix` Files From Boilerplate Repos"
One of the Replit devs mentioned that they're making a lot of changes on their end, and recommends that we remove the `.replit` and `replit.nix` files from our boilerplate repos whenever possible. We should be able to do this in most of the boilerplate repos without issue.

There may be a couple of exceptions, though, like with the [Rust in Replit](https://github.com/freeCodeCamp/Rust-In-Replit) p

[2022-10-27 07:34] Sembauke commented on #48273
I suggest to keep it simple:

[2022-10-27 07:41] #48173 closed

[2022-10-27 10:13] MayurSMahajan commented on #41373
Hey guys! I have made some progress. I created a separate component for the links, and exposed it outside of the menu button. All of them are functional meaning if you click them they go to the desired page. This is how it looks.

![Screenshot (1)](https://user-images.githubusercontent.com/47064215/198257286-7fb5d8a6-7937-47ef-8abc-80170c48b568.png)

I still have to make it responsive. Once that i

[2022-10-27 10:13] MayurSMahajan commented on #41373
After the initial issue is solved I will try exposing the Language selector as well.

[2022-10-27 11:58] ahmadabdolsaheb commented on #48183
Thanks for looking into the issue everyone and helping with solution.
I believe the scrollbar issue surfaced when we moved around the breadcrumbs.

Here is the expected behaviour:
- The challenge/project ui does not need to have a scroll bar.
-  Each pane can have a scroll bar of their own based on their content.
- Mobile tool panel should be displayed at all times.

We had a solution that worked

[2022-10-27 13:18] #47102 closed

[2022-10-27 13:25] ShaunSHamilton commented on #48274
Excellent issue write-up, as always, Kris 🚀
I will tackle the Rust in Replit project.

[2022-10-27 13:37] raisedadead commented on #47933
After deliberation, we gave this some more thought and think that this is a non-trivial issue at the moment.

i.e, the OP is suggesting implementing a form of:

"Showing results for X, search instead for Y."

The search results are rendered from an Algolia-based index. While, in theory, it is possible to show this in the style the OP suggests, the implementation is involving and is a low priority

[2022-10-27 13:37] #47933 closed

[2022-10-27 14:15] Sboonny commented on #40749
I have closed this issue, because what's left is GitHub development link, which could be an issue of its own without this much noise.

[2022-10-27 14:15] #40749 closed

[2022-10-27 14:25] Sboonny opened #48278 "Link to an external site in advanced node and express section"
We have an external link in the below paragraph, which link to [this page](https://github.com/settings/developers)

here is the file:

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication.md

Ideally, the camper doesn't need to use external docs to pass the current step, but this

[2022-10-27 14:26] #46843 closed

[2022-10-27 14:36] #47924 closed

[2022-10-27 14:45] ahmadabdolsaheb commented on #41373
Thanks for working on this.
So the curriculum need to be added to the list =) (so users know where they are)
You could signify it being active with the a button border.
Also, the platform icons could go in the interest of saving space.

[2022-10-27 15:39] Sboonny commented on #48101
I have tried to create quick demo, but the font isn't different 😞 https://codepen.io/Sboony/pen/ZERYwqd

![image](https://user-images.githubusercontent.com/88248797/198335241-d53bd32f-14c2-41dc-85db-bf0ad1e65edc.png)

[2022-10-27 16:21] Sboonny commented on #48273
I think there is a leeway for spoiling, because this is the 3rd test. But I do agree short answers are better, what about:

[2022-10-27 17:02] ivaibhavraheja commented on #47456
Can you assign this issue to me ? i want to contribute

[2022-10-27 17:12] Jaya-sys commented on #47456
@ieahleen
Can you assign this issue to me ? i want to contribute

[2022-10-27 19:24] naomi-lgbt commented on #48278
I can prep an article real quick.

[2022-10-27 20:01] ShaunSHamilton commented on #48278
Let us not change this until #47349 is landed.

[2022-10-27 20:23] Dario-DC commented on #48273
What about this:

[2022-10-27 21:31] naomi-lgbt commented on #48274
Hey @scissorsneedfoodtoo we should be fine to open this for contribution yes?

[2022-10-27 23:45] michpara commented on #48118
Opened a PR for this issue!

[2022-10-28 03:50] naomi-lgbt commented on #48278
Article is live: https://www.freecodecamp.org/news/how-to-set-up-a-github-oauth-application/

[2022-10-28 05:54] Sboonny commented on #48273
I am opening the issue, you should apply Dario comment here https://github.com/freeCodeCamp/freeCodeCamp/issues/48273#issuecomment-1294023664

---

[2022-10-28 06:05] Rancho2002 commented on #48273
hey I wish to do this changes? Can I ?

[2022-10-28 07:25] nreiter29 opened #48285 "Learn Relational Databases by Building a Mario Database - Typo in hint"
### Describe the Issue

Writing issue in the hints

### Affected Page

https://www.freecodecamp.org/learn/relational-database/learn-relational-databases-by-building-a-mario-database/build-a-mario-database

### Your code

look at the screeenshot

### Expected behavior

Rename CREAT TABLE table_name(); into CREATE TABLE table_name();

### Screenshots

![image](https://user-images.githubusercontent.c

[2022-10-28 07:33] Sboonny commented on #48273
Sure, you can open a pull request with the changes, after you have read our contribution guide 👍

[2022-10-28 07:41] Rancho2002 commented on #48273
![image](https://user-images.githubusercontent.com/92109154/198531679-4e811883-0fb0-4c72-b46e-a49ca8603428.png)
I have to change this line to
'You should add your code in the first line of the ```update``` function'
this line, right? @Sboonny

[2022-10-28 08:09] scissorsneedfoodtoo commented on #48274
Thanks for opening up that PR @ShaunSHamilton. I'll take a look at it now.

@naomi-lgbt, yes, it should be fine to open this up for contribution now. I did a bit of testing with the different project types and didn't run into any issues after removing the `.replit` and `replit.nix` files.

The only real difference I noticed is that, while Replit seems to pick up a run command for Node projects fro

[2022-10-28 08:33] Sboonny commented on #48273
Yeab

[2022-10-28 09:07] ojeytonwilliams commented on #48101
@Sboonny currently we're serving pages with `lang=en` and then dynamically updating that to `lang=whatever-it-actually-is`.  As I understand it I18nextProvider does this for us, but I haven't dug into it.

This isn't ideal (we should generate html with the correct code), but I suspect it's fine for now.

[2022-10-28 09:09] Rancho2002 commented on #48273
hi @Sboonny I made a PR as you said

[2022-10-28 09:56] Sboonny commented on #48101
@ojeytonwilliams, true. I had a small discussion with raisedadead in here about this https://github.com/freeCodeCamp/freeCodeCamp/pull/48245#discussion_r1006968532

[2022-10-28 10:45] #48273 closed

[2022-10-28 12:41] ieahleen commented on #47456
@ivaibhavraheja @Jaya-sys as I already said, read the comments in the issue

[2022-10-28 14:20] moT01 commented on #48285
This is the [file with the typo](https://github.com/freeCodeCamp/learn-relational-databases-by-building-a-mario-database/blob/main/TUTORIAL.md#540-create-characters-table) - and here's some [info on how to work on those repos.](https://contribute.freecodecamp.org/#/how-to-work-on-tutorials-that-use-coderoad)

[2022-10-28 14:34] #48285 closed

[2022-10-28 15:31] moT01 commented on #48164
Hey, what do you think of [my solution](https://github.com/freeCodeCamp/learn-number-guessing-game/blob/v1.0.4/.freeCodeCamp/test/1.1.test.js#L12) @gikf @vkats90?

I added a check for empty lines, tested on my script and yours - both passed. Wondering if I'm missing anything though.

[2022-10-28 15:48] moT01 commented on #47258
I loaded the tutorial up locally for the first time in a while. I was unable to reproduce the getting stuck part of this issue. Sometimes it happens. There's some [troubleshooting steps to try here](https://forum.freecodecamp.org/t/running-the-relational-database-curriculum-in-your-browser/500231#issues-within-a-course-9) - otherwise, maybe just start over. The forum is the place to troubleshoot t

[2022-10-28 16:16] #47117 closed

[2022-10-28 17:40] #45585 closed

[2022-10-28 18:01] moT01 commented on #45666
I cannot reproduce this. I renamed some of my constraints and all the tests passed for me. I also do not see any tests that are checking the name of constraints, so I am going to close this.

If someone thinks there's still an issue here, feel free to bring it up and we can reopen it.

[2022-10-28 18:01] #45666 closed

[2022-10-28 19:33] #48164 closed

[2022-10-28 19:44] Arerib commented on #45940
<section>
          <h2>Desserts</h2>
<article class="item">
      <p class="dessert">Donut</p><p class="price">1.50</p>
      <p class="dessert">Cherry Pie</p><p class="price">2.75</p>
      <p class="dessert">Cheesecake</p><p class="price">3.00</p>
      <p class="dessert">Cinnamon Roll</p><p class="price">2.50</p>
 </article>
</section>

[2022-10-28 19:58] Arerib commented on #46125
<article class="item">
            <p class="dessert">Donut</p><p class="price">1.50</p>
          </article>
          <article class="item">
        <p class="dessert">Cherry pie></p><p class="price">2.75</p>
        </article>
        <article class="item">
        <p class="dessert">cheesecake></p><p class="price">3.00</p>
        </article>
      <article class="item">
    <p class="dessert">

[2022-10-28 20:34] Adelinked opened #48300 "Tests for remove-an-element-from-a-max-heap challenge passable with incorrect solution"
### Describe the Issue

The issue is with the tests of the [Coding interview prep/Data structures/Remove an Element from a Max Heap] challenge.
This time the tests are passable with a remove method that doesn't have a return value or has a fixed return value.

### Affected Page

https://www.freecodecamp.org/learn/coding-interview-prep/data-structures/remove-an-element-from-a-max-heap

### Your cod

[2022-10-28 23:01] abayo-luc commented on #9933
@musekwa @jacobsteenhuysen @robbiegod I hope you all kept coding, and now look back and laugh at this 😀 and also be proud that you did not quit!