[2020-05-20 13:07] git-singh commented on #38679
I can help with this.

[2020-05-20 13:08] git-singh commented on #38679
@raisedadead Can I help with this ?

[2020-05-20 13:32] peterimoh commented on #38679
Please guys. Can anyone help me with running freecodecamp offline on my
computer. I have a hard time accessing the internet where i am

On May 20, 2020 14:15, "git-singh" <notifications@github.com> wrote:

[2020-05-20 14:15] ojeytonwilliams commented on #38679
@git-singh please do, anything with the help wanted tag is open for contributions.

@peterimoh unfortunately that is not yet possible, but you can find the discussion here: #35755.  If you have any thoughts about how that might be done, please drop them in that issue.  Otherwise the forum is probably a better place to discuss this.

[2020-05-20 15:57] ltdan681 opened #38857 "Data Visualization Projects - Visualize Data with a Heat Map"
This project has two user stories that are listed as #16

![heat-map-user-stories](https://user-images.githubusercontent.com/46683727/82468623-069b5500-9a91-11ea-9baa-d938c1b1ef80.png)

[2020-05-20 18:51] virenb opened #38859 "Broken Link in 'Make a Person' Intermediate Algorithm Challenge"
**Problem:**
The Get Help -> Get a Hint link is broken for the Intermediate Algorithm Challenge, "Make a Person."  I looked through the forums and it does not look like a guide is there for this challenge.
The button currently directs the user to https://www.freecodecamp.org/forum/t/16020

**Link(s):**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/intermediate-algori

[2020-05-20 19:03] muskeinsingh commented on #38641
Is this still open? Can I pick this up?

[2020-05-20 21:48] Sky020 commented on #38857
Thank you, for spotting this. This is an easy fix; Here is the culprit file:
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/04-data-visualization/data-visualization-projects/visualize-data-with-a-heat-map.english.md

[2020-05-20 23:03] tannercd opened #38860 "Main anchor element missing href for 'FCC: Cash Register', relevant links section"
**Describe the bug**
The forum's [challenge guide](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-cash-register/16012) for the last JS project 'Cash Register' contains a broken link inside 'Relevant Links' underneath the problem explanation. It seems that the anchor element with innerText "Data Structure Array" is missing its `href=""` property.

I tracked down the correct MDN l

[2020-05-21 01:48] namitry opened #38862 "'Let’s Learn JavaScript Closures' article doesn't show the example codes"
**Describe your problem and how to reproduce it:**
The webpage lacks example codes.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/news/lets-learn-javascript-closures-66feb44f6a44/

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc.

[2020-05-21 01:54] JordanMooree commented on #38859
Hello, is anyone working on this? I would like to work on this issue

[2020-05-21 05:37] Twaha-Rahman commented on #38611
Ok.... I will look into Cypress when I have some time. Thanks for the quick response!

[2020-05-21 07:46] rajat641 commented on #38857
hi @Sky020 , Can I go ahead with this?

[2020-05-21 09:26] #38774 closed

[2020-05-21 10:45] Sky020 commented on #38641
@muskeinsingh , Sorry, this is not longer open. It was closed with PR #38659 .

[2020-05-21 10:45] #38641 closed

[2020-05-21 10:48] Sky020 commented on #38860
Thank you, for pointing this out to us. I have changed the guide to include a link to this _News_ article: https://www.freecodecamp.org/news/data-structures-101-arrays-a-visual-introduction-for-beginners-7f013bcc355a/

[2020-05-21 10:48] #38860 closed

[2020-05-21 10:52] Sky020 commented on #38857
Hello @rajat641 , As you are considered a _Contributor_ (made at least 1 contribution), I suggest you leave this open to _first timers_. Thank you, for your understanding.

[2020-05-21 11:10] Sky020 commented on #38859
Thank you, for pointing this out.

@RandellDawson , this Guide post went with the system delete. Is a new one in the pipeline?

[2020-05-21 12:28] Emmanuelsam124 opened #38867 "Unable to find out error"
I was doing one of the exercises in freecodecamp.org and the exercise asked that I make the height and width of an image 100 pixels each. I did it correctly but the test result keeps telling me to make the width 100 pixels and the height 100pixels. Below is my code. I am thinking the issue is from the freecodecamp website... Not sure
`<style>
  img{
    width:100px;
    height:100px;
  }
  </style

[2020-05-21 13:24] Sky020 commented on #38867
Hello there,

In general, I recommend you open an issue like this on the [forum](https://www.freecodecamp.org/forum). Remember, you can use the _Ask for Help_ button on the lesson page to automatically create a post in the forum.

Common issues people face with the _Responsive Web Design_ content is due to their browsers. If you have any browser extensions with access to freeCodeCamp, disable them

[2020-05-21 13:24] #38867 closed

[2020-05-21 13:55] b0c0de commented on #38857
Hey @Sky020
I figured I'll mention here. I was not aware that we could not do it ourselves.
I apologize for the inconvenience.

[2020-05-21 13:59] b0c0de opened #38868 "Solution required for project ?"
**Describe your problem and how to reproduce it:**
When we look at the file, it says "solution required" for projects that are required to be done for ie. Responsive Web Design certificate. Is there really a need for solution when in reality, we are just submittting our solution and our work?

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/cur

[2020-05-21 17:08] Emmanuelsam124 commented on #38867
Thank you. I resolved the issue already. I used another computer for it and
it worked.

On Thu, May 21, 2020, 2:25 PM Shaun Hamilton <notifications@github.com>
wrote:

[2020-05-21 22:48] raisedadead commented on #38868
That's just boilerplate code which does note reach the views. We need them in certain challenges for our CI tests.

[2020-05-21 22:48] #38868 closed

[2020-05-21 22:52] raisedadead commented on #38862
Thanks for reporting.

Could you also send an email to team@freecodecamp.org? I have pinged our team, but we could use some detailed feedback from you on the article via email which will get across directly to the editorial team.

Thanks.

[2020-05-21 22:52] #38862 closed

[2020-05-21 22:59] raisedadead commented on #38859
I reverted this. Mods need to be careful when approving deletions when users flags things.

[2020-05-21 22:59] #38859 closed

[2020-05-21 23:01] vardhinipawar commented on #38857
Hi can I work on this? I am a first-timer

[2020-05-21 23:07] raisedadead commented on #38821
Thanks for reaching out.

The stack is not designed to learn locally at the minute, we do not have any plans to implement or support the same.

[2020-05-21 23:07] #38821 closed

[2020-05-21 23:41] namitry commented on #38862
Hello,

I have informed that I cannot see the codes on this article, and was said
to send an email to you.
The article is this.
https://www.freecodecamp.org/news/lets-learn-javascript-closures-66feb44f6a44/

I appreciate your help.

Yuta

On Fri, May 22, 2020 at 7:53 AM Mrugesh Mohapatra <notifications@github.com>
wrote:

[2020-05-22 03:16] rajat641 commented on #38857
Hi @vardhinipawar ,

I think this issue has already been picked up. Feel free to claim an issue with label `first timers`.

[2020-05-22 03:52] ahmadabdolsaheb opened #38870 "News sub headlines are covered by navbar"
When a news article is navigated to using an id, the fixed navbar covers that id.

For example: when visiting the "Visual Studio Code" id of this article
https://www.freecodecamp.org/news/getting-started-with-react-a-modern-project-based-guide-for-beginners-including-hooks-2/#visualstudiocode

The sub headline "visual studio code" with the id `visualstudiocode` is covered by the navigation and use

[2020-05-22 04:03] ahmadabdolsaheb opened #38871 "Forum avatar list should not wrap."
The avatar list should include 5 items in a row without wrapping:

![Latest_Career_Advice_topics_-_The_freeCodeCamp_Forum](https://user-images.githubusercontent.com/4591597/82629760-5301a480-9bf9-11ea-82d6-f3701e63bc73.png)

possible solution:
set
.topic-list .posters {
    width: 165px;
}

[2020-05-22 04:51] ltdan681 commented on #38857
I think that I sent it through but I'm unsure if I did it correctly. It might still need someone with Write access to accept the edits?

[2020-05-22 05:01] vardhinipawar commented on #38857
Sure I can do that

[2020-05-22 05:39] FelixBoscoJ opened #38872 "Bug in Challenge: Use Multiple Conditional (Ternary) Operators."
**Describe your problem and how to reproduce it:**
    Bug - Test for below code fails with error: checkSign should use multiple conditional operators.
[code]
Screenshot -1:
![image](https://user-images.githubusercontent.com/38680932/82634777-4b9fc280-9c1c-11ea-86f0-708e2906ba6c.png)

Screenshot - 2:
![image](https://user-images.githubusercontent.com/38680932/82634070-7db02500-9c1a-11ea-8d46-3820f

[2020-05-22 05:48] jeremylt commented on #38872
I agree that some tweaking makes sense. I'd would help if we can capture the fact that the test fails if a) you aren't using a multiple ternary or b) the ternary isn't in the expected format.

[2020-05-22 05:52] ahmadabdolsaheb commented on #37615
@Twaha-Rahman, thanks for looking into this. Some of the files have been changed since the issue was created.

I have updated the description. Now you should be able to reproduce the issue.

[2020-05-22 07:42] psjishnu commented on #38870
@ahmadabdolsaheb  Is the code that needs to be modified is in repo https://github.com/freeCodeCamp/freeCodeCamp ?

[2020-05-22 07:58] tannercd opened #38873 "Anchor element missing href inside relevant links"
**Describe the bug**
The link 'JS Regex Resources' under Relevant links for the [Pig Latin challenge guide](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-pig-latin/16039) is missing its href property. The issue is right underneath the code explanation for solution number 2 and number 3 as the first list item in relevant links.

I found the same hyperlink in another challenge gu

[2020-05-22 11:41] Sky020 commented on #38871
Potentially:
[code]
`-webkit-fill-available` appears to work for Chromium-based browsers, but needs a fall-back for Firefox for the meantime.

[2020-05-22 11:52] Sky020 commented on #38872
I do not think this is what the challenge asks for: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Conditional_Operator

This is the code from the docs:
[code]

What you have constructed is:
[code]
I agree, you have _accomplished_ the task. However, the expected implemented logic is of the form:
[code]

So, perhaps we should change the challenge instructions to be more

[2020-05-22 12:00] Sky020 commented on #38873
Thank you, for pointing this out, the links have been updated.

[2020-05-22 12:00] #38873 closed

[2020-05-22 16:31] vardhinipawar commented on #38857
I can check it for you

[2020-05-22 16:52] namitry commented on #38862
Hi Yuta,

Thanks for letting us know. We will fix this article real quick :)

- Quincy Larson

The teacher who founded https://www.freecodecamp.org
I share useful things on Twitter at https://www.twitter.com/ossia

On Thu, May 21, 2020 at 6:41 PM Yuta Nomoto <nobo918@gmail.com> wrote:

[2020-05-22 19:16] tannercd opened #38874 "Anchor element missing href attribute in relevant links"
**Describe the bug**
Just another anchor element needing to be updated within [Search and Replace Challenge Guide](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-search-and-replace/16045) solution five.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Search and Replace Challenge Guide](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-search-and-repl

[2020-05-22 20:21] cr38t1v3m1ndxlx commented on #38629
Hello and good morning I hope to seek assistance with my process of learning and development. Where should I go to get started.

[2020-05-22 21:35] Sky020 commented on #38874
Thank you, for pointing this out. I have edited the post.

[2020-05-22 21:35] #38874 closed

[2020-05-23 02:42] namitry commented on #38862
Hi Quincy,

I saw the updated article, thank you for your quick work.
Now it seems very easy to grasp since I don't have to utilize my
imagination for imaginary codes...lol
I appreciate it!

Yuta

On Sat, May 23, 2020 at 1:52 AM freeCodeCamp <team@freecodecamp.org> wrote:

[2020-05-23 02:49] tannercd opened #38876 "Anchor elements missing href attribute in challenge guide"
**Describe the bug**
I found a few more broken links in the challenge guide for Intermediate Algorithm scripting.

**To Reproduce**

1. Go to [freeCodeCamp Challenge Guide: Sorted Union](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-sorted-union/16077)
2. Click solution number 4, labeled 'JS While Loop'.
3. Encounter the anchor element missing its href attribute

**Next Bug**

[2020-05-23 02:57] jordanliu commented on #38850
Steps to reproduce, please?

[2020-05-23 04:28] rajat29gupta opened #38877 "Formating issue when printing the certificate"
Describe the bug
I found formatting issue when I was printing the certificate using Google Chrome

To Reproduce
- Visit the link in incognito mode (Ctrl+Shift+N): https://www.freecodecamp.org/certification/fcc865bea72-a1c9-4112-b30b-ef8424d2deef/responsive-web-design
- Print the certificate using Google Chrome using Ctrl+P.

Expected behavior
- The certificate should be format properly

Screenshot

[2020-05-23 04:52] rajat641 commented on #38876
Hi @tannercd ,
I could reproduce all the issues you have mentioned and I found that `<a href="proper_link">` is missing in the code.
I am fixing it now.

[2020-05-23 06:22] tannercd commented on #38876
Hi @rajat641 ,

Ok great. Thank you for providing the fix. Let me know if I should close the issue myself or if you will close it upon completion.

[2020-05-23 06:49] rajat641 commented on #38876
Hi @tannercd ,
I'll close this upon completion.

[2020-05-23 07:00] FelixBoscoJ commented on #38872
Sir, please note: this repository is of [Free Code Camp](https://www.freecodecamp.org).

[2020-05-23 08:48] raisedadead commented on #38877
The certificate is meant to be digitally verifiable by design. If you insist on getting printed copy we recommend capture a screenshot and print the image instead.

[2020-05-23 08:48] #38877 closed

[2020-05-23 09:43] Sky020 commented on #38872
@FelixBoscoJ , haha. Yes, I am well aware. I linked to the Mozilla documentation to retrieve an example of Multiple Conditional Ternary Operators.

My point is still entirely valid.

[2020-05-23 11:38] Twaha-Rahman opened #38878 "Add ESLint plugin in Gitpod"
**Is your feature request related to a problem? Please describe.**

A lot of people use Gitpod for simple and quick fixes. Thus, it is essential that Gitpod's configuration should be pre-configured to give the user all the advantages it can. Currently if you want to use ESLint in Gitpod, you have to install it after Gitpod loads, which a lot people (especially who are starting out) won't know and

[2020-05-23 11:51] FelixBoscoJ commented on #38872
[code]
Please try the above code in this [challenge](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/use-multiple-conditional-ternary-operators).

[2020-05-23 12:00] Berkeley-Reject opened #38880 "Up and down arrow key don't work after typing JavaScript reserved words"
**Describe the bug**
Up and down arrow key don't work after typing JavaScript reserved words

**To Reproduce**
1. Navigate to a challenge in Basic JavaScript (Example: [Comment Your JavaScript Code](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/comment-your-javascript-code))
2. Write the following code:
[code]
3. Write `let` (or other JavaScript rese

[2020-05-23 12:12] Twaha-Rahman commented on #38880
Yeah, I just tested it. It's reproducible.

[2020-05-23 12:19] ojeytonwilliams commented on #38880
It looks like it happens if there's a syntax error.  Also it can be cleared by typing anything else.

I reproduced it by clearing the editor and then typing

[code]

At which point the cursor will not move up.  However, if you press `left`, everything starts working properly again.

[2020-05-23 12:24] Twaha-Rahman commented on #38880
Yeah... it's definitely not a big bug. Might cause minor annoyance though.

[2020-05-23 13:00] Sky020 commented on #38872
@FelixBoscoJ , I have, and I understand exactly why this issue was created. I am pointing out that the format of your solution is not what is expected, which is clearly seen in the example given in the lesson:
[code]
I agree, you have accomplished the task. However, the expected implemented logic is of the form:
[code]
Your solution does not contain `else if` logic.

[2020-05-23 13:07] FelixBoscoJ commented on #38872
Sir the condition to win the challenge is:

**Use multiple conditional operators in the checkSign function to check if a number is positive, negative or zero. The function should return "positive", "negative" or "zero".**

[2020-05-23 14:52] jeremylt commented on #38872
Perhaps the error message should be "... multiple conditional operators in the recommended format."

And perhaps adding a note along the lines of "It's is a best practice to format the multiple conditional operators so that each condition is on a separate line, as shown in the example, for readability."

[2020-05-23 15:13] ojeytonwilliams commented on #38880
Agreed.  It's not urgent, but it's definitely not working quite right.

[2020-05-23 16:52] Sky020 commented on #38872
I would be for adding a note similar.

[2020-05-23 17:32] Sky020 commented on #38763
Is anyone currently working on this?
Also, is the idea to implement a test that throws an error, if a challenge does not have the language in the extension?

[2020-05-23 20:50] magnus195 commented on #38837
Just had the issue with my middleware not passing at advanced Node. Had to add "Home page" to the template :|

[2020-05-23 21:27] AshNaz87 commented on #38870
Ah, yes.

Think there is a CSS hack to this type of problem. Not sure if that's desired though

[2020-05-23 22:36] magnus195 opened #38882 "Advanced Node.js and Express has a lot of broken tests"
**Describe your problem and how to reproduce it:**
I'm having a ton if issues with advanced Node.js. A lot of things seem to be broken.
My first major issue was where I had to create a middleware. It would not accept anything unless I added "Home page" to my template. This is an easy fix though, but very hard to understand in the middle of doing coding challenges.
My currrent issue is here:
[https

[2020-05-24 00:03] Twaha-Rahman commented on #37615
This does not work. I had replace `updateProjectForm` with `updateSolutionForm` to re-create the bug.

[2020-05-24 10:46] username1001 opened #38883 "Final Project"
The freeCodeCamp curriculum is lacking something, IMO. A project which is built from the heart of the developer.
I think FCC should have one final, CRUD application project, with specific user requests(i.e. should be secure, should be responsive, should allow anyone in the world to visit(if that's not already the case), whatever). Anyway a "final" *real* project, where the students submit to the f

[2020-05-24 11:39] scissorsneedfoodtoo commented on #38783
Thanks for creating an issue for this @thecodingaviator.

For the current challenges in the coding interview prep section, if there is an image, it was added to our S3 bucket manually and added to the challenge via a PR. Someone will have to create a PR for this, and hopefully improve the formatting, and add additional tests and a solution.

[2020-05-24 22:42] nwazuo commented on #38883
I think a constraint here would be how to go about testing the application. The challenges and projects currently on FCC are tested through automated tests. I don't know if that can properly implemented for a CRUD application

[2020-05-25 01:25] jeremylt commented on #38872
Closed? Was an update to the description merged?

[2020-05-25 01:48] FelixBoscoJ commented on #38872
@Sky020 It is not possible to implement if/else if/else logic using ternary Operator. But the task can be accomplished.

[code]

No, the expected implemented logic is of the form:
[code]

[2020-05-25 02:55] jeremylt commented on #38872
@FelixBoscoJ

Expected solution (one of 6, very similar to your final answer):
[code]

If-else version
[code]
A ternary, or multiple ternary, always can be written with if-else. The challenge and the description is accurate. We just want to add a clarifying comment or two to emphasize the best practice formatting for readability.

[2020-05-25 08:17] #38878 closed

[2020-05-25 11:53] moT01 commented on #38809
I pointed this out before, but this is something that is difficult to test for and I'm not sure it's worth trying to stop. People in the interview prep section are there for a reason. If you try to regex a stop to `return 510510`, or maybe just check for `510510`, people can still use `return 510511-1` or something like that. It's just too easy to get around I think.

What about a check against th

[2020-05-25 12:31] Sky020 commented on #38809
@moT01 You are right; I just wanted to get a _quick-fix_ out there.

The issue with this is, unless the test text does not give away the fact that it is looking at code size, because I could add any amount of garbage code to the end of my script. However, this in combination with another test might be beneficial.

This probably will not work: 1) Many of my return statements are equations of some-k

[2020-05-25 12:48] moT01 commented on #38809
I don't really like this, but what about removing the number from the tests?
Instead of `should return 510510`, it says `should return the correct number`. I don't like it because I use that number to try and figure out how write an algorithm sometimes. It doesn't really stop the direct return of a result, but users wouldn't know what the number is supposed to be anyway.

[2020-05-25 14:16] thecodingaviator commented on #38809
You know, I've been thinking, and now I don't think we need to touch any problem (in this section) to check if the user is really completing it.

Since this section is not backed by an fCC Certificate anyway, if the users just use workarounds, they're cheating themselves.

Thoughts @QuincyLarson ?

[2020-05-25 14:42] zluther89 commented on #38753
Hey everyone, first timer here. I would love to contribute to this issue but I am having trouble locating the code. I tried to read through the docs to find out how things are organized but I am having trouble finding anything. Can anyone point me in the right direction?

[2020-05-25 15:08] raisedadead commented on #38308
**Code Freeze for Coding Interview Prep Challenges**

There is a path chance incoming on the Python branch, which brings in a freeze on changes to CIP challenges. This is temporary and once we merge the python branch to master you will be unblocked.

`master`

![image](https://user-images.githubusercontent.com/1884376/82824632-49ad5c00-9ec7-11ea-9e6a-4c7e978de030.png)

`next-python-projects`

![im

[2020-05-25 15:15] vipranarayan14 opened #38895 "Link to "undefined is a keyword" is broken"
**Describe your problem and how to reproduce it:**
1. Visit https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/return-early-pattern-for-functions
2. Click on the link to undefined in Hint section.
3. It opens https://www.freecodecamp.org/challenges/understanding-uninitialized-variables
4. 404 is shown on the opened page.

**Add a Link to the page with the

[2020-05-25 15:38] raisedadead commented on #38895
Thanks for reporting.

Here is the correct link that should be updated on the challenge:

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/understanding-uninitialized-variables

[2020-05-25 18:42] lasjorg commented on #38880
I'm guessing it has to do with the changes we made to the editor in https://github.com/freeCodeCamp/freeCodeCamp/pull/38551

I think the arrow input is stuck inside a hidden suggest menu. I would need to look into it some more but here is a gif showing `suggest-aria-id` changing as I click the up and down arrow. I suspect this happens after triggering the menu and the arrow up/down input is suppos

[2020-05-25 19:02] ericblancas23 commented on #38882
are you still having this current problem?, also just to be sure do you mind pasting your middleware function here?

[2020-05-25 19:55] magnus195 commented on #38882
As said in above post, the bug affects the solution too. Nothing seems to pass those two points. And some issues are mentioned in issue #38837

My middleware is here:
[code]

[2020-05-25 20:51] mkochalko commented on #38895
Hello, this is my first time trying to contribute and hoping to help! To clarify you are looking to update the broken link with the correct link provided above?

[2020-05-25 22:07] Sky020 commented on #38895
Hello, @mkochalko .

Yes. If you go to the file in question: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/return-early-pattern-for-functions.english.md
The link at the end of the instructions needs to be updated.

@raisedadead , are you sure we want the link to refer to a challenge, and not one

[2020-05-25 22:08] JapneetSingh5 commented on #38895
I have opened a pull request, what do I have to do next?

[2020-05-25 22:14] JapneetSingh5 commented on #38895
Please guide me further, this is my first contribution to an open source project.

[2020-05-26 01:19] krisb1220 commented on #38882
@magnus195 Did you get through the challenges? I just finished them, so I'm able to answer any questions you may have. BTW, I had the same issue with registration. The issue was resolved when I cleared the FCC test user from my database. Apparently the test doesn't check if the user already exists.

Feel free to mention me or pop into the Gitter chatrooms, if you need any help :) Or, if you want,

[2020-05-26 06:28] raisedadead commented on #38895
From my initial investigation, that's what the original link was, which is it pointed to a challenge. I am open to other recommendations though.

[2020-05-26 13:26] Peppece commented on #38870
Did someone claim this? I'd be happy to

[2020-05-26 13:40] #38880 closed

[2020-05-26 13:44] raisedadead commented on #38308
Code Freeze for Information Security and Quality Assurance Challenges

We are splitting up the above cert into two different certifications with additional updates to them. (**You will still keep your past certificate**).

Hence this brings a freeze on the InfoSec and QA challenges.

[2020-05-26 16:11] ltdan681 commented on #38857
Hi @Sky020 I'm unsure if I am doing this correctly but I have a pending pull request. It needs approval to be submitted.

[2020-05-26 17:04] raisedadead opened #38904 "Node LTS 12.17 breaking all CI builds"
**All CI builds are currently breaking:**

![image](https://user-images.githubusercontent.com/1884376/82928995-9ca71200-9fa0-11ea-94de-6928890aa40e.png)

Thanks a lot to Node LTS releases, which are supposed to keep things stable.

**last successful run**

![image](https://user-images.githubusercontent.com/1884376/82929027-ad578800-9fa0-11ea-80ca-da35f7c67408.png)

**latest failed runs**

![image]

[2020-05-26 17:32] Sky020 commented on #38857
Hello @ltdan681 , sorry, things are quite busy. You have done what you needed to, and, as it stands, your PR is approved.

Thank you, for your patience.

[2020-05-26 17:35] ltdan681 commented on #38857
@Sky020 Ok thanks for the heads up!

[2020-05-26 19:16] jeremylt opened #38906 "Make A Person Test Suite Fragile"
**Describe your problem and how to reproduce it:**
The test suite for 'Make A Person' is a little fragile and needs some `// Only change...` comments.

The below code will fail the test suite even though the object definition is correct because a user changed the code outside of the object definition:
[code]

A fix is to add the `// Only change...` comments

New starter code:
[code]

**Add a Link

[2020-05-26 21:42] kabindrashrsth commented on #38820
@ahmadabdolsaheb hi, sorry for being late. I've spent days trying to figure out the codebase. I'm new to freeCodeCamp, could you please give me some pointers on solving this issue?

[2020-05-27 03:19] rajat641 commented on #38876
Hi @moT01 ,
Can you give me a little hint on how to reproduce this locally??

[2020-05-27 04:39] scissorsneedfoodtoo commented on #38876
Hi @tannercd, thanks for reporting this and for your detailed rundown. Makes it much easier to fix these broken links.

@rajat641, these all seem to be related to challenge guides on the forum. The permissions to edit each post are quite high, so a moderator will have to go in and fix each link.

I'll go through each of these and fix the links.

[2020-05-27 04:44] scissorsneedfoodtoo commented on #38876
Just finished updating these links. Thanks again for creating this issue, @tannercd.

Could you or @rajat641 go through and confirm all the links are working and pointing to relevant guide articles?

Will close this issue for now, but please @ mention me if you notice any issues.

[2020-05-27 04:44] #38876 closed

[2020-05-27 04:47] tannercd commented on #38876
Hi @scissorsneedfoodtoo, you're welcome. I tried to provide as much detail as possible since I'm not able to update the wiki at my current permission level.

I just checked out each of the updated links and everything is working. All bugs fixed. Thank you for closing this issue. Cheers!

[2020-05-27 05:02] rajat641 commented on #38876
Thanks a lot @scissorsneedfoodtoo . I was trying to understand the code for 2-3 hours and ended up finding nothing and So I commented here. It saved my time.

[2020-05-27 06:06] scissorsneedfoodtoo commented on #38876
Thanks for confirming all the links are working @tannercd. Your details made it really easy to find and fix them. Please feel free to open another issue if you find more broken links and @ mention me.

Sure, no problem @rajat641. Sorry for the confusion. The code in this repo mostly pertains to the /learn app. The Ghost theme for /news is in another repo and /forum is run on Discourse, and is almo

[2020-05-27 06:07] humblelad commented on #17154
Continuing the conversation here, wondered if there is a plan to include security.txt on the site. LIke freecodecamp.org/security.txt which contains the reporting template above.

[2020-05-27 06:27] Ukmandal commented on #10784
var Person = function(firstAndLast) {
  this.getFirstName = function() {
    return this.firstName;
  };
  this.getLastName = function() {
    return this.lastName;
  };
  this.getFullName = function() {
    return this.firstName + " " + this.lastName;
  };
  this.setFirstName = function(name) {
    this.firstName = name;
  };
  this.setLastName = function(last) {
    this.lastName = last;
  };

[2020-05-27 06:33] tannercd commented on #38876
No problem @scissorsneedfoodtoo . I'm glad I was able to help. If I find anymore broken links on the forum or challenge guides I will create an issue and @ mention you. Thanks again!

[2020-05-27 06:35] Ukmandal commented on #16379
function checkCashRegister(price, cash, cid) {
  // figure out change amount due:
  let change = cash-price
  let totalCid = 0
  let status = {status:'', change: []}

  let cidObj = {
    "PENNY": .01,
    "NICKEL": .05,
    "DIME": .1,
    "QUARTER": .25,
    "ONE": 1,
    "FIVE": 5,
    "TEN": 10,
    "TWENTY": 20,
    "ONE HUNDRED": 100}

  // figure out total of cid
  for (let i = 0 ; i < cid.

[2020-05-27 06:53] FelixBoscoJ commented on #38872
Nevermind.

[2020-05-27 06:58] #38904 closed

[2020-05-27 07:33] ojeytonwilliams commented on #38872
It looks to me like adding clarifying comments is the best solution.  So, let's leave this open until a PR gets merged.

[2020-05-27 07:41] roxyd commented on #17154
It will help prevent emails that are irrelevant or that did not follow the guidelines.

[2020-05-27 08:41] ojeytonwilliams commented on #38906
Good catch!  Rather than restricting what the user can do with `bob`, what do you think about adding the following code before the tests are run:

[code]

That way they can mess around with the object in their own tests, but it should be ready for the challenge tests.

[2020-05-27 09:33] raisedadead opened #38911 "Python Curriculum Release Checklist"
This is a checklist to be followed when we ship Python challenges globally.

**Please expand this list as needed**

@raisedadead: DevOps

- [x] Remove the `SHOW_HIDDEN` limitation on build agents and code.
- [x] Push deployment to production.
- [ ] Drop the challenges Collection.
- [x] Remove redirecting beta forum links to production forum.
- [x] Remove the banner on top of beta site.

@freeCodeC

[2020-05-27 10:41] ahmadabdolsaheb commented on #38911
I might be missing something, but there does not seem to be a straight forward way to access the python challenges. Since they are not listed in learn. and landing page links go to learn.

[2020-05-27 10:48] ahmadabdolsaheb commented on #38870
@psjishnu, the code is here. https://github.com/freeCodeCamp/news-theme

Please go ahead 👍. No assignment is necessary as described in our [contribution docs](https://contribute.freecodecamp.org/#/index?id=where-do-i-start-if-i-want-to-work-on-an-issue). The first comprehensive PR will be considered for review.

[2020-05-27 11:11] raisedadead commented on #38911
This is a checklist only issue. Please create fresh issues as you find them.

[2020-05-27 11:30] tosinibrahim96 commented on #38753
Hi @Sky020 , can I take this up as my first contribution?
According to what I've read in the thread, I need to an extra message to the instruction like @ojeytonwilliams suggested. Like `Your function should sum the even-valued Fibonacci numbers: fiboEvenSum(8) should return 10, not 7.`
Is this ok?

[2020-05-27 12:47] Sky020 commented on #38753
Hello @tosinibrahim96 , You are welcome to take this up. Unfortunately, after re-reading the suggested test text, I think it is a very odd description. I suggest we need something better.

@ojeytonwilliams ,

This sounds so pointless. It makes it sound like our tests are written:
[code]
I cannot imagine this is any more clarifying for a user than:

[2020-05-27 13:08] jeremylt commented on #38906
Agreed, I like this better.

Credit goes to ieahleen on the forums for catching this, I just whipped up the reproducer.

[2020-05-27 13:08] ojeytonwilliams commented on #38753
True. My wording looks a little weird unless already know what's going on.  Arguably even then.

Let's go with your wording. I think it conveys what I wanted to, but does so a little better.

[2020-05-27 13:17] ojeytonwilliams commented on #38906
Thanks to @Ieahleen, too then!

I think this should not be too hard to fix, so I'll pop the label on it.

[2020-05-27 15:16] ahmadabdolsaheb commented on #37615
@Twaha-Rahman, that makes sense. I updated the issue accordingly.

[2020-05-27 15:18] scissorsneedfoodtoo opened #38916 "Add white space to the top of the certificate so it's easier to print"
**Is your feature request related to a problem? Please describe.**
Currently the certificates lack any white space along the top border, making them difficult to screenshot and/or print:

![image](https://user-images.githubusercontent.com/2051070/83038660-2f66b000-a078-11ea-8679-ccb74f7f2597.png)

We should add some white space to the top of the page so the certificate is centered.

[2020-05-27 15:26] scissorsneedfoodtoo opened #38917 "Add links to projects required to claim certificate above the certificate itself"
Currently when you visit a person's certificate you only see the certificate that was issued.

We should add some text and links to the projects that were required to claim the certificate above the certificate itself. Each link should go to the solution that was submitted rather than the project page.

For example:

[code]

However, links to the JS Algorithms and Data Structures projects will nee

[2020-05-27 15:34] scissorsneedfoodtoo opened #38918 "Add a Show Solution button for certification projects on the timeline"
Currently when you complete a project it's shown on the timeline, but there isn't an easy way to see the solution that was submitted:

![image](https://user-images.githubusercontent.com/2051070/83040547-58884000-a07a-11ea-90f7-e0dcc0aa9676.png)

We should add a "Show Solution" button between the link to the project's page on the left and the date on the right. The button can be similar to the on t

[2020-05-27 15:37] scissorsneedfoodtoo opened #38919 "Update "Report This User" link"
On the profile page, we should change the text from "Report This User" to "Flag This User's Account for Abuse".

Also, we should change the email address it sends an alert to from team@freecodecamp.org to support@freecodecamp.org.

Cc @QuincyLarson for feedback on the text.

[2020-05-27 15:38] jasnkwcz commented on #38575
I'm a new contributor but as someone who has struggled with understanding unclear verbiage like this before, I'd really love to help out. Is there any way I can help contribute to this issue?

[2020-05-27 15:42] scissorsneedfoodtoo opened #38920 "Entry on the timeline when finishing the new Python certificates is not working"
Currently when you complete/claim a certificate there's an entry on the timeline:

<img width="582" alt="Screen Shot 2020-05-27 at 9 37 55 AM" src="https://user-images.githubusercontent.com/2051070/83041908-f3cde500-a07b-11ea-84ea-dd112b91ddf5.png">

This doesn't seem to be working for the new Scientific Computing with Python, Data Analysis with Python, and Machine Learning with Python certificate

[2020-05-27 15:51] hi-matbub commented on #38919
I'll jump on this

[2020-05-27 15:59] jasnkwcz commented on #38920
I'm a new contributor but I'd like to help out on this.

[2020-05-27 16:09] jasnkwcz commented on #38872
I'd like to jump on this, if possible. I'm a first-timer but really excited to learn!

[2020-05-27 16:12] Sky020 commented on #38919
@hi-matbub , it is good that you are willing to help, but perhaps wait for clarification on the text that should be implemented, before submitting any PR.

[2020-05-27 16:23] ojeytonwilliams commented on #38872
Go for it, @jasnkwcz. This should be a good issue for a first-timer.

I recommend taking a look at the [contribution guide](https://contribute.freecodecamp.org), and if you get stuck ask away in the [contributor's chat room](https://gitter.im/FreeCodeCamp/Contributors)

[2020-05-27 16:34] moT01 commented on #38920
I think this is mostly working. You just need to refresh the page before it shows up...
<img width="598" alt="Screen Shot 2020-05-27 at 11 34 12 AM" src="https://user-images.githubusercontent.com/20648924/83047462-06a9d080-a00e-11ea-8689-fe14352c72ab.png">

[2020-05-27 17:31] Advitya-sharma opened #38922 "checking of Projects after submission"
- When ever a user submits a projects their are no checks if the user has correctly completed the assignment,Its expected from the user to complete the tests and submit a 100% correct working assignment.

- though I don't have any simple solution for this issue but we can perform some validation checks on the submitted assignment.

- Instead of checking the link after submission, we can design a c

[2020-05-27 17:32] ahmadabdolsaheb opened #38923 "Python certificates show up on landing page when SHOW_HIDDEN is set to false"
ref #38914
ref #38913

[2020-05-27 17:38] moT01 commented on #38919
That text should be good. If there's a problem, it can be changed later.

[2020-05-27 18:25] raisedadead commented on #38922
Thanks for this report.

There are previously open issues on similar lines. I would request you to continue the discussion on them instead ?

Thanks.

[2020-05-27 18:25] #38922 closed

[2020-05-27 19:51] casraysa opened #38925 "Python for Everybody - Introduction: Elements of PythonPassed"
**Describe your problem and how to reproduce it:**
All the code should be aligned at the same starting position.

**Add a Link to the page with the problem:**
https://www.freecodecamp.dev/learn/scientific-computing-with-python/python-for-everybody/introduction-elements-of-python

**Tell us about your browser and operating system:**
* Browser Name: Google Chrome
* Browser Version: 78.0.3904.87 (Bui

[2020-05-27 20:03] moT01 commented on #38925
Yes, that appears correct. I confirmed this by [testing the code here](https://trinket.io/python/f7ad7f9864)
[Here's the file](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/07-scientific-computing-with-python/python-for-everybody/introduction-elements-of-python.md) that needs updating

[2020-05-27 20:29] Sky020 opened #38926 "Python for Everybody - More Conditional Structures"
**Describe your problem and how to reproduce it:**
The answer to this is incorrect. Due to the existance of the `try...catch`, the code does not get interrupted, and runs to completion:
[code]

**Add a Link to the page with the problem:**
https://www.freecodecamp.dev/learn/scientific-computing-with-python/python-for-everybody/more-conditional-structures

**If possible, add a screenshot here (you c

[2020-05-27 20:31] casraysa commented on #38925
Hi,

There is an extra space in the second and third line of code:

[cid:78f51308-c943-4d3a-b18b-404d31c0511a]

As you know, if you try to execute these lines of code copying and pasting in a Python interperter, it will give you an indentation error. That's what I mean.

Cheers,
Salva

________________________________
De: Tom <notifications@github.com>
Enviado: miércoles, 27 de mayo de 2020 22:03

[2020-05-27 20:49] Sky020 opened #38927 "Python for Everybody - Python Functions"
**Describe your problem and how to reproduce it:**
Not major, but seeing as there are not any list labels such as
[code]
It is confusing answering this:
![image](https://user-images.githubusercontent.com/51722130/83069729-51553800-a062-11ea-870f-98af11f95643.png)

**Add a Link to the page with the problem:**
https://www.freecodecamp.dev/learn/scientific-computing-with-python/python-for-everybody/p

[2020-05-27 20:53] Sky020 commented on #38925
Related: https://www.freecodecamp.dev/learn/scientific-computing-with-python/python-for-everybody/intermediate-strings
Unintended indentation

[2020-05-27 20:55] Sky020 commented on #38925
Related: https://www.freecodecamp.dev/learn/scientific-computing-with-python/python-for-everybody/python-lists
Unintended indentation

[2020-05-27 21:02] raisedadead commented on #38925
I am removing the first timer limitation on this to speed up turn around time on the python related dev work.

If you are a first timer, please feel free to make a PR regardless, we welcome a fix from you.

[2020-05-27 21:11] Sky020 opened #38928 "Python for Everybody - Regular Expressions"
**Describe your problem and how to reproduce it:**
I think the wording of the question should be re-done. Whilst I perfectly understood what was being asked for, there are **3** correct answers, as `.` does match _"a white space character"_.

**Add a Link to the page with the problem:**
https://www.freecodecamp.dev/learn/scientific-computing-with-python/python-for-everybody/regular-expressions

[2020-05-27 21:15] Sky020 opened #38929 "Python for Everybody - Networking Protocol"
**Describe your problem and how to reproduce it:**
Not Major: The sentence grammar should read:

Currently reads:

**Add a Link to the page with the problem:**
https://www.freecodecamp.dev/learn/scientific-computing-with-python/python-for-everybody/networking-protocol

[2020-05-27 21:21] Sky020 opened #38930 "Python for Everybody - Networking: Write a Web Browser"
**Describe your problem and how to reproduce it:**
Part of the code is contained within the parent `pre` tag, whilst the rest is contained within the child `p` tag. This leads to different font-sizes as well as different font-family. Also, causes separation/apparent indentation.

**Add a Link to the page with the problem:**
https://www.freecodecamp.dev/learn/scientific-computing-with-python/python

[2020-05-27 21:24] Sky020 commented on #38925
To whoever works on this: Please note, there are some code formatting issues linked to this: #38930

[2020-05-27 21:40] Sky020 opened #38931 "Python for Everybody - Objects: A Sample Class"
**Describe your problem and how to reproduce it:**
Code formatting needs fix, and solution is not correct. Solution should be:

But this is not even an option.

**Add a Link to the page with the problem:**
https://www.freecodecamp.dev/learn/scientific-computing-with-python/python-for-everybody/objects-a-sample-class

[2020-05-27 22:16] moT01 commented on #38925
Also note that you can [use markdown](https://contribute.freecodecamp.org/#/how-to-help-with-video-challenges?id=use-markdown-to-format-your-question) if you want. I would recommend it, but whatever works.

[2020-05-27 22:40] lasjorg opened #38932 "Wrong CSS selector type passes challenge"
The challenge is asking to use an element selector but the regex allows for a class selector.

Challenge: https://www.freecodecamp.org/learn/responsive-web-design/basic-css/import-a-google-font

Forum post: https://www.freecodecamp.org/forum/t/html-css-font-help/395209

[2020-05-27 23:11] AbderrazzakB commented on #18141
Hey, Did anyone found any solution? I have the exact same issue!

[2020-05-28 00:24] moT01 commented on #18141
Hey @AbderrazzakB, you should file a new issue if you are facing this problem. Perhaps it will get some more attention than trying to revive this one.

[2020-05-28 06:36] scissorsneedfoodtoo commented on #38932
Thanks for reporting this @lasjorg. I agree that this can be confusing even if the text makes it clear to use an element selector.

To anyone who works on this, it seems like changing the third `testString` to the following will fix this:

`assert(/^\s*h2\s*\{\s*font-family\:\s*(\"|")?Lobster(\"|")?(.{0,})\s*;\s*\}/gim.test(code));`

That change should still allow all valid rules targeting `h2`, b

[2020-05-28 07:10] #38916 closed

[2020-05-28 07:18] raisedadead commented on #38918
I am assigning this to @ahmadabdolsaheb to cut the turn around time and feedback loop.

[2020-05-28 07:21] raisedadead commented on #38917
I am assigning this to @ahmadabdolsaheb to cut the turn around time and feedback loop.

[2020-05-28 07:40] raisedadead commented on #38845
Thanks for your report. We recommend reaching out on the security channels for issues like this.

Can you be more succinct on the issues? The screenshot and your reports is quite vague?

[2020-05-28 07:44] raisedadead commented on #38842
something like `r` if its not used? In escape mode obviously.

[2020-05-28 07:57] ABourassine opened #38933 "I can’t see the code examples in this article"
Hello everyone,

https://discourse-user-assets.s3.dualstack.us-east-1.amazonaws.com/original/3X/7/9/792eba16694e0048d2f7a644e04b181204a2889c.png

As you can see in the image, there is no code to be found (and it’s the same with all the other examples in the article)
i’ve tried more than one browser and it’s all the same
link to the article: https://www.freecodecamp.org/news/how-to-write-simple-mod

[2020-05-28 08:14] Advitya-sharma commented on #38922
okok, can you share issue id

[2020-05-28 08:45] raisedadead commented on #38922
Sure, its a quick search away: https://github.com/freeCodeCamp/freeCodeCamp/issues/37185

[2020-05-28 08:50] #38923 closed

[2020-05-28 08:53] raisedadead commented on #38933
Thanks for your report.  We are pinging the editorial team to check and resolve this.

[2020-05-28 09:01] raisedadead opened #38934 "Confirm the shape of full-stack cert"
The fullstack cert doesn't yet include the the three new python certificates, however it does include the InfoSec Cert and QA Cert (that have been split from the single InfoSec & QA cert).

We need clarity on the what is happening to the retired projects (there are new required projects in both certs).

We also need clarity on what is required to claim the fullstack cert. As is it does not have th

[2020-05-28 09:28] ahmadabdolsaheb commented on #38820
@kabindrashrsth, sure.
Here is how I would approach it.

1) look into the graphql query that is used to build the landing page.
2) look into the graphql query that is used to build the map on the learn page
3) see how map node are rendered using /components/Map component
4) see how you could customize the queries or filter the nodes to display specific superblocks.
Then, display each of those supe

[2020-05-28 09:43] scissorsneedfoodtoo commented on #38933
Thanks for bringing this to our attention @ABourassine. I just finished updating the article.

Please feel free to @ mention me if you notice any other issues.

[2020-05-28 09:43] #38933 closed

[2020-05-28 10:09] ABourassine commented on #38933
thank you everyone it works now 👍

[2020-05-28 10:26] ojeytonwilliams commented on #38820
That sounds like a good plan.

I had one question, though.  If a user clicks on a superblock in the new map, do they get taken to a page with the superblock intro and the map?  Or should the superblock intro be presented the same way as a block intro (namely just the first link in the list of challenges)?

Personally I'd prefer the latter, as I feel it would make navigation easier.

[2020-05-28 10:30] ahmadabdolsaheb commented on #38918
implementing this functionality seems straight forward since we have a similar feature in the settings page.

the users' solutions should be stored in the redux store, however since the store and db are not in sync after the project submission, it takes a refresh for the solution to show up on the client.

I was wondering if we would need show the responses to show up specifically for project sinc

[2020-05-28 10:31] Twaha-Rahman commented on #38820
@ojeytonwilliams I'd prefer the latter too. (As it will make my life much easier when working on this PR 😅)

[2020-05-28 10:41] scissorsneedfoodtoo commented on #38918
@ahmadabdolsaheb, I think it would be fine if it takes a refresh to show the solution. It's my understanding that this feature is mainly to dissuade academic dishonesty, and to give potential employers an easy way to view live versions of person's projects.

[2020-05-28 10:50] ahmadabdolsaheb commented on #38820
we could go with the second one.

[2020-05-28 11:50] 1t1e1 commented on #38932
Hi. I understand the bug. I want to do this. Can I take it.

[2020-05-28 13:50] Ieahleen commented on #38932
@1t1e1 : as per [contribution guidelines](https://contribute.freecodecamp.org/#/index?id=where-do-i-start-if-i-want-to-work-on-an-issue) all the issues with Help wanted label are up for grabs and you do not need to seek permission before start working on them

[2020-05-28 13:53] Ieahleen commented on #38925
if someone wants to work on this, should they fix all the linked challenges in a single pull request?

[2020-05-28 14:04] Sky020 commented on #38925
@Ieahleen , that would make things much easier to keep track of, but I suppose not entirely necessary.

[2020-05-28 14:32] ojeytonwilliams commented on #38925
If someone only has time to do a few challenges, it's fine, though a single PR would be ideal. We can always edit this issue to track partial completion.

[2020-05-28 17:10] Sky020 opened #38938 "Numpy - Accessing and Changing Elements, Rows, Columns"
**Describe your problem and how to reproduce it:**
The output does not align with the question, nor does it align with the code. I suspect this is what the output was meant to be:
[code]
Also, I would suggest the formatting of the code to change. Ie. spacing between numbers and `[]`, and spacing between numbers.

**Add a Link to the page with the problem:**
https://www.freecodecamp.dev/learn/data-

[2020-05-28 18:00] raisedadead commented on #38934
@beaucarnes @QuincyLarson

I would like some inputs on the plans that was formulated how to mitigate this. Validations you would implement for the various scenarios.

1. Partial Curriculum Progress.
2. ~Past certifications~ (this is implemented and tested already)

[2020-05-28 18:15] lasjorg opened #38939 "Python for Everybody: malformed sentence in "Variables, Expressions, and Statements" challenge"
Challenge: https://www.freecodecamp.dev/learn/scientific-computing-with-python/python-for-everybody/variables-expressions-and-statements

Sentence has an extra "is" in it.

What is the symbol is used in an assignment statement?

Should be:

What is the symbol used in an assignment statement?

[2020-05-28 18:31] Ieahleen commented on #38925
it's not a thing I am being able to fix
it seems an issue more with how the file is rendered than with the file itself, in the file they are perfectly lined one below the other.
Probably there is some hacky way to remove that extra indentation trying to add and remove spaces or something, but it would require being able to see easily how changes you make affect the result and I don't have a setup

[2020-05-28 18:35] Sky020 commented on #38925
@Ieahleen , Have you tried using the `<code>` tags?

[2020-05-28 18:37] g4rry420 commented on #38932
hello, I am working on the issue, just one question ,  the last line testString should include gim.test(code));   OR gi.test(code));

[2020-05-28 18:40] Ieahleen commented on #38925
@Sky020 : Before that, I don't know how to use GitPod to check how that affects the challenge page without creating the pull request, so I will stay with the "I am not able to fix this"

[2020-05-28 18:41] lasjorg opened #38941 "Python for Everybody: python functions, better indication of multiple choice answers"
Challenge: https://www.freecodecamp.dev/learn/scientific-computing-with-python/python-for-everybody/python-functions

I'd prefer "Answers b and c are both true" instead of "b and c are both true", just to avoid any confusion. Or some other clear indication of multiple choice answers.

[2020-05-28 18:43] moT01 commented on #38925
I'm not sure exactly what you are trying to change @Ieahleen, but I think if you use markdown - it may be easier.

Here's the question in the OP with markdown...
[code]

Here's how the code part would look:

[code]

You can try out markdown right here in the github comments.

[2020-05-28 18:47] Ieahleen commented on #38925
@moT01 I don't know how to check if that works without creating the pull request and opening the gitpod environment from there, so for now I am going to study how GitPod works

[2020-05-28 18:48] moT01 opened #38942 "[Video challenges]: Code blocks are inconsistent"
### Code blocks have two different styles:

#### [Video challenge with code block in html tags...](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/07-scientific-computing-with-python/python-for-everybody/web-services-xml.english.md)
<img width="492" alt="Screen Shot 2020-05-28 at 1 29 28 PM" src="https://user-images.githubusercontent.com/20648924/83179372-92d

[2020-05-28 19:10] Ieahleen commented on #38925
ok, I have it, terribly hacky, and no markdown (it refuses to show anything at that point, so I imagine it can't be rendered like that): just adding a space before the first line of code will make all three lines match.
I am just going to figure out how to create a pull request (as draft, I imagine), and then move on to the other ones.
If someone else can make it work in an other way and wants to

[2020-05-28 19:13] viveksharmaui commented on #38845
I have added a Pull Request for this.

[2020-05-28 19:16] viveksharmaui commented on #38845
These issue are related to security best practices they are simply eslint security rules i think we should work on that, This will improve codebase and follows best practices.

[2020-05-28 19:35] raisedadead commented on #38845
We are aware of the PR. Can you expand on the specifics of the errors that this plugin catches along with a sample fix?

In the current state of the PR, all it has are cryptic warnings. Please note we are interested in adopting the practices, but not before we understand what these are.

I recommend you add some demo commits to the PR, that shows the errors (we are probably not keen on the warning

[2020-05-28 19:49] Sky020 commented on #38941
#38927

[2020-05-28 20:04] viveksharmaui commented on #38845
Sure! I will add a commit for fix within that PR I will get back to you.

[2020-05-28 20:09] Sky020 commented on #38932
@g4rry420 , probably best using:
[code]

[2020-05-28 21:07] QuincyLarson commented on #38934
@raisedadead I think we should call it the "Legacy Full Stack Development Certification" and it should include the first 6 certifications.

Once we've added the Relational Database Certification projects and merged the Data Visualization Certification into the Front End Libraries certification, we can create a new Full Stack Development Certification that you get for completing all 10 certificatio

[2020-05-28 21:22] raisedadead opened #38943 "Full Stack Development Certification - 2020"
Once we've added the Relational Database Certification projects and merged the Data Visualization Certification into the Front End Libraries certification, we can create a new Full Stack Development Certification that you get for completing all 10 certifications.

_Originally posted by @QuincyLarson in https://github.com/freeCodeCamp/freeCodeCamp/issues/38934#issuecomment-635608094_

**Important:*

[2020-05-28 21:24] raisedadead commented on #38934
Thanks for the confirmation. This needs some visual changes to the settings and timelines. From my guess this does not need any change to the API.

I am assigning @ahmadabdolsaheb to work on this.

Ahmad, this is a potential show stopper for shipping to production.

I have created https://github.com/freeCodeCamp/freeCodeCamp/issues/38943 to track this specifically.

[2020-05-28 21:26] raisedadead commented on #38943
This will be part of the implementation of the additional certifications. Blocked for now.

[2020-05-28 22:06] 1t1e1 commented on #38932
@g4rry420 I think it must be `gim`. I guess it part of regex and `m` stand for multi line. This will solve to pass challenge with rule that does not ask like `font-size:30px`.

@Ieahleen Thank you. I missed. Actually I found this document too late. newbie problems. :relieved:

[2020-05-28 23:36] kabindrashrsth commented on #38820
@ahmadabdolsaheb thank you. I'll give it a try.

[2020-05-29 01:20] StephenTanksley commented on #37760
If there's no movement on creating a new video to update this, I'd be happy to take a crack at it.

[2020-05-29 02:47] g4rry420 commented on #38932
#38944

[2020-05-29 03:11] mahitha22 commented on #38939
Hi, I am a beginner to open source projects and would like to make a contribution here.

I have cloned the project, created a new branch, made the changes to the text. When I do the commit by adding just the file that I edited, Git is giving a list of files "delete mode 100644 <filename>". Did I do something wrong? Could anyone please help.

Thank you

[2020-05-29 04:31] scissorsneedfoodtoo commented on #38942
@moT01, thanks for catching the code blocks in the answer section looking off. Didn't notice it at first -- maybe it required a refresh? But yeah, looks off with the darker background.

Tested this locally and it seems like we can just remove the language (py or python) from the triple backticks:

![image](https://user-images.githubusercontent.com/2051070/83221340-8374b000-a1b0-11ea-939e-7e3456c95

[2020-05-29 05:20] scissorsneedfoodtoo commented on #38938
Thanks for catching this @Sky020.

I remember copying the output directly from the repl.it console, but I must have messed up the spacing while adding the hashes. Took another look and this is what the console outputs:

[code]

So perhaps it can be:

[code]

Or with the spacing at the end like you suggest:

[code]

[2020-05-29 05:26] scissorsneedfoodtoo commented on #38919
Echoing what @moT01 said, go ahead and change the text to "Flag This User's Account for Abuse" for now. Looking forward to your PR @hi-matbub.

[2020-05-29 05:27] scissorsneedfoodtoo commented on #38920
Ah, interesting. This does seem to work locally but not on .dev for some reason.

[2020-05-29 05:56] scissorsneedfoodtoo commented on #38926
Thanks for reporting this, @Sky020.

As an alternative, perhaps the question could read:

[code]

Or perhaps the same code and ask the same question, "Which line would cause the script to immediately stop because of an error?"

[2020-05-29 06:05] scissorsneedfoodtoo commented on #38928
Another great catch @Sky020.

We could remove or change the last choice, and change the wording to something like "Which regex matches only a whitespace character?"

Alternatively we could change both the dots to other special characters and keep the question the same.

[2020-05-29 08:20] ojeytonwilliams commented on #38942
How about something like this:

![image](https://user-images.githubusercontent.com/15801806/83237350-2c151680-a195-11ea-8edf-6a5863841377.png)

this is with a background of `--secondary-background` and using https://github.com/freeCodeCamp/freeCodeCamp/pull/38730 to enable highlighting.  I'm not sure what the best background is. This one looks a little better than white and is a bit better from a

[2020-05-29 08:49] ojeytonwilliams opened #38947 "Feature request: high contrast mode"
**Is your feature request related to a problem? Please describe.**
Syntax highlighting lowers the contrast ratio of the text.  The use of colours is helpful for many users, but could make it harder to read for others.

**Describe the solution you'd like**
It should be possible for a user to disable syntax highlighting.  Possibly via a toggle, similarly to night mode.

**Describe alternatives you'v

[2020-05-29 11:00] Sky020 commented on #38938
@scissorsneedfoodtoo , well. What was your intent? I assumed the **output** was there as an example for what the end result should become. Ie. after performing:
[code]
Or, was the output just another representation of the output of the `np.array`?

I suggest it be the expected output of the code the user needs to select, as this helps the user clarify what needs to be done.

[2020-05-29 11:07] Sky020 commented on #38926
@scissorsneedfoodtoo , I would leave answering that question to someone who has an idea of what students should be able to answer at this point.

After watching the video, I would say this is too easy of a question:

So, I would go with this. But, perhaps get input from another mod...

[2020-05-29 11:09] Sky020 commented on #38928
@scissorsneedfoodtoo , This is what I was thinking too:

It requires the user to think a little more, but I would only have **1** `.`

[2020-05-29 11:51] Sky020 commented on #38928
Just looking at the file, it appears the parser is removing the backslashes:
[code]

[2020-05-29 11:57] JoshuaPelealu opened #38950 "Passing Algorithm Challenge, without actually writing an Algorithm."
**Describe your problem and how to reproduce it:**
I was trying to help a user with their challenges for JavaScript Intermediate Challenge. Then I looked at his code and the challenge, and it seems like the user is not using an algorithm. They wrote the code a little bit wrong, but I corrected it for myself and tried it, and it worked. Without even doing any algorithm. They just look at the test s

[2020-05-29 12:05] nansha3120 opened #38952 "Get Data from POST Requests"
can't get through the test. Challenge link:https://www.freecodecamp.org/learn/apis-and-microservices/basic-node-and-express/get-data-from-post-requests

My solution:
Link to live app:
https://heartbreaking-shimmering-stop.glitch.me
editable link:
https://glitch.com/edit/#!/join/730d4b1d-ce6c-4bc3-b330-334ecff974cc

[2020-05-29 12:52] moT01 commented on #38942
I would like to see the same background color for answers like in Kris's photo, but the code highlighting, like in Oliver's.

I think the only way to achieve this is to change some styles after the fact in the css.

[2020-05-29 13:00] Sky020 commented on #38952
Hello there,

That does not appear to be the correct boilerplate for the _Basic Node and Express_ challenges.

In general, I recommend you open a topic on the [forum](https://www.freecodecamp.org/forum), as this is not an issue with the source code.

I am closing this issue. Thank you.

[2020-05-29 13:00] #38952 closed

[2020-05-29 13:03] ahmadabdolsaheb commented on #38934
Are we referring to the following 7 certificates?

1. responsive web design
2. javascript data structures and algorithms
3. front end libraries
4. data visualisation
5. api and microservices
6. quality assurance
7. info security

[2020-05-29 13:57] raisedadead commented on #38934
Maybe @QuincyLarson and @beaucarnes have thought of how this to be mitigated? The certificates were split and did replace some projects?

So it has to be both ways?

[2020-05-29 14:06] wale-bant commented on #34833
Hello, @RandellDawson this issue still hasn't been fixed. I'd love to update the instructions to comply with the deprecated .remove() and use the latest deleteMany() .
Please let me know if it's a good idea to go ahead with this and submit a PR.

[2020-05-29 15:09] StephenTanksley commented on #37760
I checked out the video and it seemed to be factually accurate. Is the video update just needing to match the condition of "Equal" or "Not Equal" like the actual problem is asking for?

[2020-05-29 16:51] ojeytonwilliams opened #38955 "Preload video challenges"
**Is your feature request related to a problem? Please describe.**
Opening a new video challenge takes slightly longer than I'd expect

**Describe the solution you'd like**
Since a user is likely to be going through the challenges sequentially, it would be good if as much as possible was loaded in the background while they worked on the current challenge.

**Describe alternatives you've considered

[2020-05-29 17:10] sweatwork commented on #38842
Nope, didn't help.

[2020-05-29 17:29] raisedadead commented on #38842
Oh - I meant we would need to add this as a shortcut combination. It does not exist yet. 😅

[2020-05-29 19:39] KaiReidCasey opened #38957 "RWDC - CSS: Flexbox - Tweet - Tests Not Registering Correct Change to Follow Button"
**Describe your problem and how to reproduce it:**

I have not been able to pass the test titled, "Your .follow-btn should have a display property set to flex." I can pass all of the other tests. I believe this is a bug.

I have tried adding "display: flex;" to the empty space reserved for doing so on  "header .follow-btn {" (line 18) and to "header .follow-btn button {" (line 22). I have tried cr

[2020-05-29 19:51] Sky020 commented on #38957
Hello there,

I notice you have a browser extension enabled with access to freecodecamp.org

In general, we recommend users disable all extensions with access to freeCodeCamp, as they can influence the tests. Also, freeCodeCamp is advertisement free. So, not need for an ad-block ;)

Disable the extension, refresh the page, and try again. Let us know if it works.

[2020-05-29 20:05] KaiReidCasey commented on #38957
That did it, thank you! It was the Adblock Plus extension. It's enabled on all of my sites by default and I hadn't had an issue before.

[2020-05-29 20:05] #38957 closed

[2020-05-29 20:30] beasleyDOTcom commented on #37612
Hello everyone,
To get straight to the point, I would like to propose adding the need to name the getter and setter "temperature" to the instructions.

I think struggle, and digging on your own is an important part of learning. However, I spent 5 days this past week working on this lesson. I did as much as I could to research and learn the concepts needed to pass but still couldn't get it. I kept

[2020-05-29 21:33] moT01 commented on #38947
If the comments are the only contrast issue, maybe it would be easier to try and just change the color of those instead of creating a whole new contrast mode.

[2020-05-29 22:05] ojeytonwilliams commented on #38947
The WAVE tool shows problems with various things.  For example

HTML tags:

![image](https://user-images.githubusercontent.com/15801806/83308333-e7c25e80-a206-11ea-9a83-5cbe3b48f5de.png)

attributes and quotes:

![image](https://user-images.githubusercontent.com/15801806/83308590-661f0080-a207-11ea-9e57-ac6758e0d67f.png)

HTML comments:

![image](https://user-images.githubusercontent.com/15801806/

[2020-05-29 22:15] ojeytonwilliams commented on #38942
Makes sense to me.  They might look a little better with a dark border, but either way, I think the white background is the way to go.

[2020-05-29 23:59] magnus195 opened #38958 "Add a button to skip to the important part of python videos"
**Is your feature request related to a problem? Please describe.**
I have tried the python lessons. I must say, it is really good for beginners, but kinda annoying for those who know about the insides of a computer's hardware and software. The videos are very long, and I feel like if the older curriculums are 300 hours, python will be 900 hours per category.

**Describe the solution you'd like**
I

[2020-05-30 00:10] lasjorg opened #38959 "Lack of visual feedback with no explanation in grid-template-areas challenge"
Forum thread: https://www.freecodecamp.org/forum/t/possible-bug-in-a-lesson/396043

The challenge is asking the camper to make changes to the `grid-template-areas` string, but it has no effect because no `grid-area` is defined.

I think at least the challenge should explain that it has no effect just yet but that the next challenge will show how to use the `grid-template-areas` by using the `grid-

[2020-05-30 07:03] ahmadabdolsaheb commented on #38947
ref #38954

[2020-05-30 08:13] niteshseram commented on #38895
I think it should not refer to any link. It is just a hint for the learner.

[2020-05-30 09:27] niteshseram commented on #38895
Can I work on this?

[2020-05-30 09:49] sanityto opened #38960 "Scientific Computing with Python Projects - Budget App - README.md"
**Describe your problem and how to reproduce it:**
There are two errors in README.md for the Budget App project.
* Description of the _transfer_ method has swapped texts that should be used as description for the transfer in source and destination Budget Categories. The relevant test attached.

[code]
* Description of the _check_funds_ method is inconsistent with the relevant test - test_check_fun

[2020-05-30 09:59] sanityto opened #38961 "Scientific Computing with Python Projects - Polygon Area Calculator - README.md"
**Describe your problem and how to reproduce it:**
There's inconsistency between description of _get_picture_ method and relevant test. Description suggests to return _error_ when width or height is larger than 50, while test expects it also when the value is equal 50.

[code]

**Add a Link to the page with the problem:**
https://www.freecodecamp.dev/learn/scientific-computing-with-python/scientif

[2020-05-30 10:58] JapneetSingh5 commented on #38895
I have already posted a PR

[2020-05-30 11:35] Ieahleen opened #38962 "Record collection can pass with wrong solution"
**Describe your problem and how to reproduce it:**
This challenge has this test that requires the creation of the property: `After updateRecords(5439, "tracks", "Take a Chance on Me"), tracks should have "Take a Chance on Me" as the last element.`
If the code contain something like this:
[code]
in which the creation of the array and the push method are used in different if statements, it should no

[2020-05-30 13:09] ahmadabdolsaheb commented on #38934
Also,

I think it implies Relational Database will be a certification of its own.
In that case, 7 js certs, 3 python certs, and relational db would make 11 certs.

[2020-05-30 15:03] sweatwork commented on #38842
My bad, I misunderstood. Anyway, that'd be convenient.

[2020-05-30 16:29] mpinheir opened #38964 "Spelling issue - scientific-computing-with-python/python-for-everybody/networking-protocol"
**Describe your problem and how to reproduce it:**
Spelling issue at scientific-computing-with-python/python-for-everybody/networking-protocol
Current text: What type of HTTP **is** request is usually used to access a website?
Should be: What type of HTTP request is usually used to access a website?
![Screen Shot 2020-05-30 at 9 27 55 AM](https://user-images.githubusercontent.com/8754015/83333918-

[2020-05-30 19:04] souravjamwal77 opened #38965 "Python for Everybody - Objects: A Sample Class - Correct answer option is not given"
**Describe your problem and how to reproduce it:**
In the Problem, _A Sample Class _ in **Python for Everybody** the correct option for the answer is not given.
The correct answer should be **2 and 4**, but it's not given in the options for answers.

**Add a Link to the page with the problem:**
**Problem:** Python for Everybody - Objects a Sample Class

https://www.freecodecamp.dev/learn/scientifi

[2020-05-30 19:34] QuincyLarson commented on #38934
@ahmadabdolsaheb Just to be 100% clear, here are the two terms I've been using:

"Front 3" (called "front" because they can be done right on freeCodeCamp.org without any additional tools or servers)
1. Responsive Web Design
2. JavaScript Algorithms and Data Structures
3. Front End Libraries (will include the Data Visualization Certification, which will be merged in during phase 3)

"Back 7" (calle

[2020-05-30 19:46] sanityto opened #38966 "Data Analysis with Python Course - Numpy Operations - incorrect answer"
**Describe your problem and how to reproduce it:**
None of the available answers are correct. Without the `5` second option (marked as solution) would have the right numbers.

[code]

[code]

**Add a Link to the page with the problem:**
https://www.freecodecamp.dev/learn/data-analysis-with-python/data-analysis-with-python-course/numpy-operations

[2020-05-30 20:09] #38929 closed

[2020-05-30 20:32] Sky020 commented on #38965
Thank you, for pointing this out, but an issue has already been raised, and a PR is likely to fix.

I am closing this as it is a duplicate of #38931

[2020-05-30 20:32] #38965 closed

[2020-05-30 20:38] Sky020 commented on #38966
Confirmed. Thank you, for pointing this out. For whoever submits a PR for this, only the second answer option needs to be changed to:
[code]

[2020-05-30 20:39] moT01 opened #38967 "Update congratulatory email"
I got all the certs on .dev and got this email...

![Screen Shot 2020-05-30 at 3 33 30 PM](https://user-images.githubusercontent.com/20648924/83338622-c3f52c00-a28b-11ea-85ee-0757fe2cd3c7.png)

The link should be updated to `https://contribute.freecodecamp.org/`

[2020-05-30 21:01] Sky020 commented on #38962
The only way I can think of testing around this is to parse the code in such a way so as to remove all calls to the function, before tests.

[2020-05-31 02:06] nhcarrigan commented on #38950
Realistically this could be done with any of the algorithm projects. Seems against the spirit of things, but it would work.
I'd assume the code would get rejected if audited by the FCC team, but that takes time. I suppose we could add a test that looks for the `if (str == "eye)` type items.

[2020-05-31 03:47] souravjamwal77 commented on #38965
Thanks

[2020-05-31 04:37] scissorsneedfoodtoo commented on #38966
Thanks for catching this @sanityto. Please feel free to report any other issues you find and submit PRs to fix them if you're able to.

[2020-05-31 04:46] scissorsneedfoodtoo commented on #38938
@Sky020, right, my intent was to show what the expected end result would be after running `a[:, 2] = 20`. So really the output should be

[code]

not

[code]

like it is now. My mistake. I must have forgotten to change the output when I was writing these questions.

[2020-05-31 07:25] WAINGOR opened #38971 "where can I find challenge code?"
Hi all, I was interested to see how the coding challenges were actually built? Does anybody know where I can find the actual code of the js algorithmic challenges? Wherever I navigate to in the source code I cant seem to find anything except for .md formatted files.

[2020-05-31 08:29] ojeytonwilliams commented on #38971
Hi @WAINGOR.  The challenges are all stored as markdown, so if you're looking in curriculum\challenges, then you're looking in the right place.  Have a look at https://contribute.freecodecamp.org/#/how-to-work-on-coding-challenges if you want to learn more.  The contribute site is pretty comprehensive and tells you where you can look for extra info.

[2020-05-31 08:29] #38971 closed

[2020-05-31 12:15] niteshseram commented on #38966
@scissorsneedfoodtoo I want to work on this

[2020-05-31 12:18] niteshseram commented on #38966
@scissorsneedfoodtoo I think the answer is also wrong. It should be option 1? Please do confirm me on this.

[2020-05-31 12:50] niteshseram commented on #38926
I can work on this?

[2020-05-31 12:57] #38925 closed

[2020-05-31 12:57] #38927 closed

[2020-05-31 12:57] #38930 closed

[2020-05-31 12:57] #38931 closed

[2020-05-31 12:57] #38939 closed

[2020-05-31 12:57] #38941 closed

[2020-05-31 12:57] #38964 closed

[2020-05-31 13:14] #38857 closed

[2020-05-31 13:16] #38317 closed

[2020-05-31 15:47] #38966 closed

[2020-05-31 17:00] niteshseram commented on #38926
@Sky020  so, I am going with changes
`Which lines should be surrounded by a try block?` instead.
It is fine, I guess??

[2020-05-31 17:13] niteshseram commented on #38938
Is someone working on this? Can I work on this?

[2020-05-31 17:49] Sky020 commented on #38926
@niteshseram, Yes. I suppose something you can do is create a PR with that change, and other contributors can chime in, if they see it better another way. After changing the question, you will need to change the answers to match...

[2020-05-31 17:52] Sky020 commented on #38938
@niteshseram , I am unsure of anyone working on this. You can go ahead, if you want.

[2020-05-31 17:52] niteshseram commented on #38926
Okay, sure. Will be creating a PR by tomorrow.

[2020-05-31 17:55] niteshseram commented on #38938
Okay. I will be working on it.

[2020-05-31 18:12] mpinheir opened #38977 "Python for Everybody - Objects: A Sample ClassPassed - indentation and incorrect options"
**Describe your problem and how to reproduce it:**
I believe that there are two issues on this exercise:
1-Exercise sample code indentation does not appear to be correct.
2-I believe that the correct solution is 2 and 4 but that option is not listed.

**Add a Link to the page with the problem:**
https://www.freecodecamp.dev/learn/scientific-computing-with-python/python-for-everybody/objects-a-samp

[2020-05-31 19:24] sanityto opened #38978 "Data Analysis with Python Projects - Demographic Data Analyzer - missing pyproject.toml"
**Describe your problem and how to reproduce it:**
Demographic Data Analyzer project doesn't have `pyproject.toml` file to manage required packages (pandas in this case). There's `requirements.txt` file, but it seems that repl.it no longer uses it -
[repl.it thread](https://repl.it/talk/ask/requirementstxt-not-working/34267) - and its presence, without the _currently expected_ `pyproject.toml` fil

[2020-05-31 20:51] Sky020 commented on #38977
Thank you, for pointing this out. This has been:
Noticed in: #38931
and is closed by: #38953

[2020-05-31 20:51] #38977 closed

[2020-06-01 02:29] sparsh-99 opened #38980 "jQuery broken test"
**Describe your problem and how to reproduce it:**
1. Write your code
2. Click 'Run the Tests'
3. When it passes all your tests, again click on 'Run the Tests'
4. This time, it will show an error.

#### Note:- Error may not be generated from the second time clicking. So, go for 3rd time, the error will definitely come up.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/l

[2020-06-01 08:52] ojeytonwilliams commented on #38962
How about resetting `collection` to the expected object in `js-teardown`?  That way the user can `updateRecords` however they like, but we always test the same data.

[2020-06-01 09:07] niteshseram commented on #38962
This code is passing the test because `updateRecords()` function is called twice. One in the code section and another while doing assert. Just removing the `updateRecords()` from the code section might solved the problem if I am wrong.

[2020-06-01 09:27] Sky020 commented on #38962
Let us just fix this and: #38691

[2020-06-01 10:34] niteshseram commented on #38962
I was trying to fix but even I faced this #38691 issue. I couldn't figured out why?

[2020-06-01 11:41] Sky020 commented on #38980
Hello there,

This issue has been discussed on: https://www.freecodecamp.org/forum/t/problem-with-jquery-remove-classes-from-an-element-with-jquery/396303

And, if you are passing the tests, and returning to fail, it is not much of an issue. So, I will leave the same comment as I did in the forum:

I will leave this issue open, but, seeing as this challenge has existed for a long time, this issue

[2020-06-01 11:48] Advitya-sharma opened #38983 "Adding and modifying profile picture"
my FCC account is signed in with github,today I changed profile picture on github but the changes didn't reflected on FCC forum account,then I tried uploading manually but the image is cropped automatically and I can't modify if the crop was wrong .

syncing profile picture with github and giving option to user so that he/she is able to crop image that is uploaded

[2020-06-01 12:29] raisedadead commented on #38983
This is by design, we do not store any information that is not required by us. That includes the data from GitHub or other social providers.

For changing your image all you need is to give us a URL to the image. Like so:

![image](https://user-images.githubusercontent.com/1884376/83409243-ad88d500-a431-11ea-9a4d-aa8bc1370157.png)

[2020-06-01 12:29] #38983 closed

[2020-06-01 12:30] #38967 closed

[2020-06-01 12:33] ulantiger commented on #35700
I have tried many different things, but this worked for me:
/^\D(?=\w{6})(?=\w+\d{2})/g

[2020-06-01 12:35] raisedadead commented on #38958
This could be a source of skip-submit-next type behaviour and counter productive?

The video challenges are optional and are not required for you to complete the certification itself.

You could focus on checking out parts that you would want to learn about, even more so the questions on the challenges are already shown to the user. Meaning there is no reason to watch the same if you are absolutel

[2020-06-01 12:36] raisedadead commented on #38955
The player is an iframe embed that is controller by YouTube.

[2020-06-01 12:46] JoshuaPelealu commented on #38950
Well, I thought of a solution where the test just say, `The function will work with any string` and give in another test in the background without telling what it needs to be.

[2020-06-01 13:07] #38919 closed

[2020-06-01 13:08] #38942 closed

[2020-06-01 13:09] Sky020 commented on #38950
Whilst, ideally, the tests would be robust enough to prevent behaviour like this, we have discussed the fact that:
1) If a user _cheats_ in this way, they are _'shooting themselves in the foot'_.
 - The purpose of the curriculum is to teach.
 - The curriculum is free.
 - The certificate is counterfeit-able anyway.
2) No code-base is perfect, and someone will submit an _incorrect_ solution some-tim

[2020-06-01 13:09] magnus195 commented on #38958
I think adding such a button would be the opposite of skip-submit-next. Right now I read the questions and try to find something on google to help me understand. The videos are good, but they just might be a bit too in-depth for many people.
I'd vote for an _optional_ "skip to coding" button for those who have a bit of experience and just wants to learn coding.

[2020-06-01 13:33] raisedadead commented on #38958
**Understood. Its fine and should be OK.**

Wanting to skip means, a user is only interested in blowing past the challenges as a milestone and nothing more.

Learning is discovering things by any means available to you. Watching videos or doing a manual search on Google, StackOverflow is normal. It means you are putting an efforts (and doing the hard work) to find a solution. That is all that the

[2020-06-01 13:43] ojeytonwilliams opened #38984 "Project display on .dev"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
QA projects do not seem to be being synced correctly. If I look at my profile immediately after completion, they say 'Show Code' rather than 'ShowSolutions'.  Presumably the problem exists for other certificate

[2020-06-01 14:37] ojeytonwilliams commented on #38955
In that case any solution might be a bit hacky.  I'll leave this up for now, in case someone gets inspired.

[2020-06-01 17:05] sparsh-99 commented on #38980
Okay

[2020-06-01 17:54] ojeytonwilliams commented on #38980
While I agree that this isn't the highest priority (as there is a work around), it's still a bug.  Someone should not have to refresh the page to reliably pass the tests.

That said, it might not be easy to fix.  It's possibly a case of re-writing the tests to be async and `await`ing `$(document).ready()` in the tests, but I'm not sure.

[2020-06-01 19:33] neenjaw commented on #38837
Just came here to write this issue up as well.  This a good summary of the issues I have found with the exercises on glitch, so much that I decided to write them locally and use `ngrok` to tunnel them externally to be tested.

But to reiterate the biggest points that need some touching up:
- outdated node version (glitch supports to ver. 12.0.0), node package versions
- outdated mongo/mongoose con

[2020-06-01 19:37] neenjaw commented on #38837
Just to increase visibility, #37590 describes challenges with this exercise from another perspective

[2020-06-01 20:14] FranciscoImanolSuarez commented on #17382
Hello, how should I do to log in with our own credentials or service providers (Google)?

[2020-06-02 06:46] scissorsneedfoodtoo commented on #38966
@niteshseram, thanks for fixing this problem and helping us improve the curriculum! Also, congratulations on your first open source contribution. Looking forward to your next PR :+1: :+1:

[2020-06-02 06:51] raisedadead commented on #38984
I think this is related to a bug we recently fixed. I deployed a new version right about the time this issue was opened.

Do you want to give it another go? Let me know if you need a reset on the user object that you have been using.

[2020-06-02 07:04] #38938 closed

[2020-06-02 07:07] ojeytonwilliams commented on #38984
I just tried submitting the Port Scanner project and got this:

![image](https://user-images.githubusercontent.com/15801806/83490181-dea7ea80-a4af-11ea-9e57-cb103ccc3413.png)

then I reloaded and got:

![image](https://user-images.githubusercontent.com/15801806/83490366-321a3880-a4b0-11ea-8f91-317e2602d411.png)

so it's not fixed on .dev.

No need to reset the dev account just yet.  I'll let you k

[2020-06-02 07:23] #38895 closed

[2020-06-02 07:27] #38928 closed

[2020-06-02 07:39] niteshseram commented on #38966
@scissorsneedfoodtoo Thanks. Surely, I am looking forward to contribute more.

[2020-06-02 07:44] scissorsneedfoodtoo commented on #38876
@tannercd, great! Please do.

[2020-06-02 08:29] hassaanp commented on #38980
I believe this should be fixed with the following assert:
[code]

[2020-06-02 09:31] ojeytonwilliams opened #38987 "Boilerplate default to master"
This has been discussed a bit before, so this issue is just to keep track of things.

https://github.com/freeCodeCamp/boilerplate-mongomongoose/pull/24 is an example where a pull request was created accidentally due to the default branch being `gomix` not `master`.  To simplify the development process for users that want to create their projects with tools other than Glitch, I think we should swit

[2020-06-02 09:54] sanityto opened #38988 "Data Analysis with Python Projects - Page View Time Series Visualizer - test_box_plot_labels"
**Describe your problem and how to reproduce it:**
`test_box_plot_labels` in the `test_module.py` has expected ylabel on ax1 and ax2 as 'Page Views'. However if it's something else, the error will suggest that the correct label is 'Average Page Views'.
[code]
[code]

**Add a Link to the page with the problem:**
https://www.freecodecamp.dev/learn/data-analysis-with-python/data-analysis-with-python-

[2020-06-02 10:12] sanityto opened #38989 "Data Analysis with Python Projects - Medical Data Visualizer - draw_cat_plot() / CatPlotTestCase"
**Describe your problem and how to reproduce it:**
There appear to be inconsistency between `draw_cat_plot()` function and corresponding tests in `CatPlotTestCase`. `draw_cat_plot()` function returns plt, while `setUp` of the `CatPlotTestCase` expects function to return `fig` object.

[code]

[code]
Due to difference tests in the `CatPlotTestCase` ends up in exception.
[code]

**Add a Link to the

[2020-06-02 10:27] ojeytonwilliams commented on #38980
Unfortunately not, since that is basically `assert(anObject)` which passes.  `testString` needs to return an async function.

[2020-06-02 10:58] scissorsneedfoodtoo commented on #38809
Thanks for reporting this @thecodingaviator. This is definitely something we want to improve over time.

I do agree that anyone who cheats is just cheating themselves, and a lot of the solutions are freely available online. Still, we want to avoid letting people return a single number and passing a challenge if possible.

One thing we've done is adapt the functions to take arguments, adjust the de

[2020-06-02 11:09] hassaanp commented on #38980
oh yeah, you are right, my bad.

what about enclosing the assert inside the `document.ready` method?

[2020-06-02 11:15] scissorsneedfoodtoo commented on #38988
@sanityto, awesome, thank you for catching this. I'll go to the project boilerplate and fix this now.

[2020-06-02 11:52] Sky020 commented on #38980
I am unable to reproduce this locally. Is there a chance that there is some cache reason for this behaviour?

[2020-06-02 11:57] Sky020 commented on #38809
@scissorsneedfoodtoo , Yes, that sounds like a good plan.

In terms of the solution, are we wanting a solution that is as concise/performative as possible so campers can see how to improve? Or, are we wanting a solution that is simple, so campers can refer to workflow, if/when they get stuck?

[2020-06-02 11:57] hassaanp commented on #38980
Yes it cant be reproduced locally. I dont think its a cache issue. I believe the latency is too less - the document is loaded instantly whereas the actual environment is slower so we are able to get the mentioned behavior.

[2020-06-02 12:04] sanityto commented on #38988
@scissorsneedfoodtoo Yes, it looks fixed now.

[2020-06-02 12:48] moT01 opened #38991 "Convert all video questions to markdown style?"
The questions in the video challenges are a mix of markdown and html. [Some use markdown](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/07-scientific-computing-with-python/python-for-everybody/build-your-own-functions.english.md) - and [some use html style](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/08-data-analys

[2020-06-02 13:32] Sky020 commented on #38991
Personally, I find writing and reading any challenges with code much simpler and easier with MarkDown. I am not bothered, if the challenges without code in the question/answer use HTML, but then we have the situation without consistency.

[2020-06-02 16:21] ojeytonwilliams commented on #38991
It's a good question.  I think it would help to convert challenges like the one Tom linked to, as they are (at least to my eyes) needlessly hard to read.

As for the less obvious stuff, I've created a PR, https://github.com/freeCodeCamp/freeCodeCamp/pull/38992,  that deals with one confusing issue - namely that you had to quote numbers for the challenge to be parsable.  That leaves weird edge case

[2020-06-02 16:34] moT01 commented on #38991
I vote to just make them all markdown. It gives us a standard that gives people a concrete way to make them. And hopefully stop anyone from having to decide, 'should this use markdown', or 'can I leave it html'. Everyone will have an answer to that, and hopefully be on the same page.

[2020-06-02 17:24] JoshuaPelealu commented on #38950
Ok, so if the're purposely cheating, it's just their fault. FCC is a free resource that people can use. If they do not use it accordingly, they're just wasting their time. Understand, thanks for the replies.

[2020-06-02 17:24] #38950 closed

[2020-06-02 17:48] nhcarrigan opened #38994 "Possibly unclear instructions on "Check for the Presence of an Element with IndexOf""
**Describe your problem and how to reproduce it:**
The tests call for the function to return `true` or `false`. I ran into a user on the forums that was failing to get the tests to pass because they were returning `"true"` and `"false"` as strings, rather than boolean values.

I wonder if the instructions should be made a little more specific to clarify that the function needs to return boolean va

[2020-06-02 18:06] Sky020 commented on #38994
Whilst I can understand the confusion, the general adopted format has been:
- What is within the code tags is exactly what needs to be returned

In other exercises, if the user is asked to return a string, it should be

I say should be, because I just encountered another exercise where the test string was not following this format, but it is likely to be fixed.

[2020-06-02 19:34] tabaddor commented on #38850
Should pathnames be case sensitive? Is what you are saying that all routes /learn, /LEARN, /LeArN, should all take you to the same path?

[2020-06-03 03:09] BoCode84 commented on #38850
As per what I was able to find on StackOverflow, Case-sensitive URLs are a web-standard and GitHub does not allow any changes so, yes, there will be different web addresses if you type it differently.

[2020-06-03 03:29] nhcarrigan commented on #38994
That format makes complete sense to me.
The only reason I bring this up is that I know learning to code can be a frustrating experience for some, and an opportunity to eliminate potential confusion and alleviate some of the self-generated stress seems like a good move.

[2020-06-03 06:34] scissorsneedfoodtoo commented on #38809
@Sky020, awesome, thank you for all of your help with this.

We have a good mix of those two types of solutions spread across the coding interview prep section. Any solution is perfectly fine as long as it can pass all the test cases before the timeout. We'll add them to the Guide posts on the forum as we go and readjust as necessary if other solutions are submitted to the challenges here or on th

[2020-06-03 07:14] scissorsneedfoodtoo commented on #38961
Thank you for reporting this @sanityto.

In this case it seems like we can change the test (`self.rect.set_width(50)`) or the text in the readme to something like:

...If the width or height greater than or equal to 50, this should return the string: "Too big for picture.".

What do you think @beaucarnes?

[2020-06-03 07:25] scissorsneedfoodtoo commented on #38960
Thanks for reporting this @sanityto. Great catch with the `check_funds` method.

The first issue you noticed was reported here and fixed yesterday: https://github.com/freeCodeCamp/CurriculumExpansion/issues/280#issuecomment-635650893

And I just went into the Readme and fixed the second issue with `check_funds`:  https://repl.it/@freeCodeCamp/fcc-budget-app#README.md

[2020-06-03 07:25] #38960 closed

[2020-06-03 07:26] ojeytonwilliams commented on #38850
While using different cases does change the request, it's up to the server which page it sends back.  For example, this issue can be reached by going to `https://github.com/freecodecamp/freecodecamp/issues/38850` as well as `https://github.com/FREECODECAMP/freecodecamp/issues/38850`.

The problem is that, as Tom said, someone has a variant of /LEARN as their username. They would need to be told if

[2020-06-03 12:44] ojeytonwilliams commented on #38980
I am curious as to what's going on here.  My suspicion is that it's a timing issue, that for some runs the test gets evaluated before `document.ready`, but I'm not sure.

Since document ready is asynchronous, the assert will be called at some point after the test has already passed.  Take a look here:
https://github.com/freeCodeCamp/freeCodeCamp/blob/1244e9775f664707bc54d5f977a9b29a34615784/client

[2020-06-03 13:34] utkarsh48 commented on #17606
Try typing this as it is...
`h2 { font-family: Lobster; }`
it worked for me!

[2020-06-03 16:14] magnus195 commented on #38882
Is anything being done to this?

[2020-06-03 16:33] #38872 closed

[2020-06-03 20:22] tabaddor commented on #38799
I can look into this issue. Is there anything else I should know?

[2020-06-04 00:54] huyenltnguyen commented on #38988
I'm closing the ticket as the issue has been fixed. Thanks for reporting it, @sanityto

[2020-06-04 00:54] #38988 closed

[2020-06-04 04:46] thecodingaviator commented on #38809
Sounds awesome!

[2020-06-04 07:01] ojeytonwilliams commented on #38991
People seem broadly in favour, so PRs are welcome.  There's no need to change all the challenges in one go, but if anyone is planning to do a large batch please comment here (to avoid work duplication).

[2020-06-04 07:17] ojeytonwilliams commented on #38994
How about catching this with a test?

[2020-06-04 07:19] nhcarrigan commented on #38994
I like that idea. It provides a little extra clarity on *why* the test is failing for the user's code.

[2020-06-04 09:49] ahmadabdolsaheb opened #39002 "New certificates can be claimed whiteout submitting required projects on .dev"
Some users can claim python, new QA, and new infosec certifications without  submitting their required projects on .dev.

It seems the api does not find the cert challenge and proceeds by setting the related cert flag on the user object to true.

The issue can be resolved by reseeding the db locally.

I cannot reproduce this issue at the moment, but I will keep this open in case other users are ex

[2020-06-04 09:53] nhcarrigan commented on #39002
Hello!

I tested this issue, and I **was** able to claim the certifications without completing the projects.

[2020-06-04 09:55] ojeytonwilliams commented on #39002
@nhcarrigan could you check if you can see the certification after claiming it?  I'm just wondering if this is purely a client-side issue.

[2020-06-04 09:56] nhcarrigan commented on #39002
I am able to see the four certificates I could claim, yes.

[2020-06-04 10:02] ojeytonwilliams commented on #39002
Thanks for checking that.

In that case, while it seems likely that it will fine if the database is migrated, the api should definitely default to rejecting certifications it does recognise.

[2020-06-04 10:45] ojeytonwilliams opened #39003 "Cypress failing to install during ci"
For example:
https://github.com/freeCodeCamp/freeCodeCamp/runs/737483891

While Cypress installation is intended to be skipped locally, https://github.com/freeCodeCamp/freeCodeCamp/pull/38660, it needs to be installed for ci.  It's possible this is a caching issue, but we might simply need to provide `CYPRESS_INSTALL_BINARY` during ci.  Hopefully it's the former, since we don't want to have to kee

[2020-06-04 10:57] code-with-garvit commented on #39002
Yes We Can Claim Python Certification Without submitting the Projects.

[2020-06-04 11:04] Khrees2412 commented on #39002
that's really serious

[2020-06-04 11:11] JapneetSingh5 commented on #38871
Can I work on this one? is this still up for grabs?

[2020-06-04 13:26] scissorsneedfoodtoo commented on #38978
Hi @sanityto, thank you for bringing this to our attention. We went through all the projects and removed the `requirements.txt` files and made sure the `pyproject.toml` files are present.

Please feel free to reopen this issue if you notice other projects with this issue.

[2020-06-04 13:26] #38978 closed

[2020-06-04 14:33] raisedadead commented on #38934
@moT01 in his https://github.com/freeCodeCamp/freeCodeCamp/pull/38995#issuecomment-638586622 says:

Now, from the discussion in this thread, **it seems to imply** that we will have the certification renamed and anyone **who is midway or almost done** with the cert will have to go thru with additional projects for certification?

@QuincyLarson can you confirm this? IMHO, So far this thread has only

[2020-06-04 17:18] raisedadead commented on #39003
I think this will be addressed in the linked PR. Mind taking a look.

[2020-06-04 19:27] Sky020 commented on #38710
To triage this, why not have the tests `assert(eval(solve24('1234')) === 24)` or similar?

[2020-06-04 19:40] sesamsys opened #39007 "JS concatenation example typo"
**Describe your problem and how to reproduce it:**
Example on the page has a double space instead of a single.

`var ourStr = "I come first._" + "I come second."
// ourStr is "I come first.__I come second."`

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/concatenating-strings-with-plus-operator

**Tell us

[2020-06-04 20:18] Sky020 commented on #39007
I can confirm this. Thank you, for spotting it, and pointing it out.

[2020-06-04 23:15] nhcarrigan commented on #39007
Okay, I believe I have corrected this error.

[2020-06-04 23:26] dostuffthatmatters commented on #38710
@Sky020 Using eval is really unsafe - See: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/eval#Never_use_eval!

The code executed from a string is being executed with the same priviliges as if the caller did so. This would be a doorway for easier XSS attacks.

[2020-06-05 05:20] scissorsneedfoodtoo commented on #38920
This may be a one off issue related to https://github.com/freeCodeCamp/freeCodeCamp/issues/39002 where the new/split certificates (Quality Assurance, Information Security, Scientific Computing with Python, Data Analysis with Python, and Machine Learning with Python) were not seeded to the .dev database for some reason. I can confirm this is working locally like @moT01 mentioned above.

@jasnkwcz,

[2020-06-05 06:57] ahmadabdolsaheb commented on #38871
@JapneetSingh5, I will handle it today with other forum related issues.

[2020-06-05 09:56] Sky020 commented on #38710
@dostuffthatmatters . Ah, right. Completely slipped my mind. Thank you.

[2020-06-05 10:32] raisedadead commented on #38934
@QuincyLarson

Ahmad, Kris, Oliver and me met to discuss and QA the implementation in https://github.com/freeCodeCamp/freeCodeCamp/pull/38995. We hit some hurdles, while trying to address the requirement in the changes you requested for the Legacy Full Stack Development Certification.

After much deliberation we concluded this is what we can do to be able to mitigate all sorts of technical limitat

[2020-06-05 10:32] JapneetSingh5 commented on #38871
okay cool

[2020-06-05 10:32] JapneetSingh5 commented on #38871
Okay!

[2020-06-05 11:55] Advitya-sharma opened #39012 "assignment test not passing"
I was doing jQuery assignment questions and I faced a bug

here's how to reproduce it
1> submit a assignment
2> press Esc
3> submit the assignment (you code which is correct is still there)

I'm facing this now in jQuery questions but may be present elsewhere
https://www.freecodecamp.org/learn/front-end-libraries/jquery/disable-an-element-using-jquery

**Tell us about your browser and operating sy

[2020-06-05 12:29] Twaha-Rahman commented on #39012
I could reproduce the issue even in Chrome. This is not a **Vivaldi** specific problem.

[2020-06-05 12:32] scissorsneedfoodtoo opened #39013 "Rename Full Stack certification to Legacy Full Stack certification"
Once https://github.com/freeCodeCamp/freeCodeCamp/pull/38995 is merged, the settings page will describe how to claim a Legacy Full Stack certification.

However, if you claim the Legacy Full Stack certification, it will show as a Full Stack certification instead. This is a reminder that we need to change this before the new [2020 Full Stack Development Certification](https://github.com/freeCodeCam

[2020-06-05 13:07] Sky020 commented on #39012
Same problem as #38980.

[2020-06-05 14:03] ojeytonwilliams commented on #38980
Given that this has been reported for several challenges, I think it's reasonable to assume that all the challenges that rely on `document.ready` could have the problem.

[2020-06-05 14:05] ojeytonwilliams commented on #39012
Thanks for the report and checks, it seems like this problem affects several jQuery challenges.  We should track them in one place, though, so I'm closing this issue.

[2020-06-05 14:05] #39012 closed

[2020-06-05 14:08] #39007 closed

[2020-06-05 18:12] Sky020 opened #39014 "Maintenance Page Header is Covered by Nav"
**Describe the bug**
At 100% zoom on Chrome, the first line of the first sentence on the maintenance page is not visible.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://www.freecodecamp.org/forum (has to be under maintenance)
2. Ensure zoom is 100%
3. Break trackpad/scroll-wheel trying to scroll up enough to view text.

**Expected behaviour**
All text should be visible
**Scre

[2020-06-05 18:15] nhcarrigan commented on #39014
![image](https://user-images.githubusercontent.com/63889819/83909437-a3125800-a71d-11ea-9d05-678707e956df.png)
It seems to be working fine on my end. Zoom level set to 100%.

OS: Windows 10
Browser: Chrome
Version: Version 83.0.4103.97

[2020-06-05 18:26] Sky020 commented on #39014
@nhcarrigan , Your view has a tonne of margin at the top. That is odd.

[2020-06-05 19:05] kshashwat007 commented on #38329
Hi, Wanted to ask if its possible to work on this issue?

[2020-06-06 00:45] Twaha-Rahman commented on #39014
@Sky020 These margins can be due to different monitor sizes..... I'd guess @nhcarrigan is using 4K monitor.

@nhcarrigan Can you confirm it?

[2020-06-06 00:48] nhcarrigan commented on #39014
I'm on a 1080p display, with a 1920x1080 resolution.

[2020-06-06 00:50] Twaha-Rahman commented on #39014
Well then.... I'll check if I can reproduce the issue.

@nhcarrigan Thanks for clarifying!

[2020-06-06 03:33] ahmadabdolsaheb commented on #38779
Upon further review I could confirm that this is the default functionality for the footer on the search page.

Here is a similar example: https://community.smartthings.com/search

I don' think it is feasible to roll out a custom solution for this specific feature since doing so would be much more involved than changing the CSS.

[2020-06-06 03:33] #38779 closed

[2020-06-06 05:31] Twaha-Rahman opened #39015 "Missing SameSite header in CDN"
**Describe the bug**

All the modern browsers have started to enforce the `SameSite` header for security reasons. Previously, `None` used to be the default value, but recent browser versions made `Lax` the default value to have reasonably robust defense against some classes of [cross-site request forgery (CSRF)](https://developer.mozilla.org/en-US/docs/Glossary/CSRF) attacks.

FCC doesn't specify

[2020-06-06 05:32] Twaha-Rahman commented on #39015
I have made a PR that fixes this issue, it can found here -

https://github.com/freeCodeCamp/cdn/pull/51

[2020-06-06 05:35] nhcarrigan commented on #39015
I can confirm the presence of the bug.
![image](https://user-images.githubusercontent.com/63889819/83936888-c4eef780-a77c-11ea-9f5a-7ab351f701f2.png)

OS: Windows 10 (64 Bit)
Browser: Chrome
Version: 83.0.4103.97 (Official Build) (64-bit)

[2020-06-06 06:12] Twaha-Rahman opened #39017 "Formatting iconsistency in issue template"
**Describe the bug**

There's some formatting inconsistency in the issue templates.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to create an issue
2. Check the issue template and you'll find the formatting inconsistency

**Screenshots**

![Capture](https://user-images.githubusercontent.com/39026437/83937514-fbfdf100-a7ee-11ea-8357-8e892ddaaa33.PNG)

[2020-06-06 06:29] nhcarrigan commented on #39017
Good catch @Twaha-Rahman! Also want to thank you for helping a new contributor with the process of submitting a pull request.

[2020-06-06 06:49] ahmadabdolsaheb commented on #38417
I cannot reproduce this on chrome on Catalina.

[2020-06-06 06:53] nhcarrigan commented on #38417
I am also unable to reproduce this bug.

[2020-06-06 07:00] nhcarrigan commented on #38540
Hi folks!
The cdn still uses some [green logos](https://cdn.freecodecamp.org/platform/universal/fcc-og-1200-social-green.png).

This particular one appears on the forum:
![image](https://user-images.githubusercontent.com/63889819/83938403-b6a6d880-a788-11ea-8696-5e6683e69a43.png)

[2020-06-06 07:03] ojeytonwilliams commented on #39015
https://blog.chromium.org/2020/05/resuming-samesite-cookie-changes-in-july.html?m=1 Google's planning on rolling this out by the 14th of July, so we have a deadline.

[2020-06-06 07:08] ojeytonwilliams commented on #39015
Is there a quick way of auditing the site to see if any other resources need this header specifying?

[2020-06-06 07:10] #39017 closed

[2020-06-06 09:23] #18128 closed

[2020-06-06 09:23] #38920 closed

[2020-06-06 09:23] #39002 closed

[2020-06-06 09:38] raisedadead commented on #39015
Hi @Twaha-Rahman

Thanks a lot for the report.

Please note while we are scincerely grateful for the report and the PR. We highly recommend reporting security issues to our dedicated email for these. You would have been presented with this template when opening an issue:

![image](https://user-images.githubusercontent.com/1884376/83941089-260edd80-a806-11ea-906d-66a66682fb1e.png)

This gives us a

[2020-06-06 09:44] Twaha-Rahman commented on #39015
@raisedadead I've updated the PR accordingly!

[2020-06-06 09:46] raisedadead commented on #39014
I do not have Windows, and was unable to reproduce this. Here is the file that we serve directly off of NGINX during maintenance:

https://github.com/freeCodeCamp/error-pages/blob/master/maintenance.html

You should be able to test the same by grabbing a copy and using a local server like [`http-server`](https://github.com/http-party/http-server).

[2020-06-06 09:50] #38926 closed

[2020-06-06 09:52] #38994 closed

[2020-06-06 10:27] Sky020 commented on #39014
Thank you, for linking that. After opening I also did not get the same issue:
![image](https://user-images.githubusercontent.com/51722130/83942073-7119f800-a7e8-11ea-89c7-8c9a76a321fd.png)

But, if the screen is any bit smaller, the issue appears:
![image](https://user-images.githubusercontent.com/51722130/83942108-ac1c2b80-a7e8-11ea-9c0e-4ff8e638c4a5.png)

[2020-06-06 11:41] raisedadead commented on #39014
This was built in a bout of juggling servers and devops. It did not get the love it should have 😅.

Please feel free to update the CSS, layout, etc (its all in one single file and needs to be that way) and make a pull-request.

[2020-06-06 12:32] raisedadead commented on #39013
@scissorsneedfoodtoo I am assigning this to you, if its all the same considering you have worked closest to this in the last PRs.

[2020-06-06 12:35] #36535 closed

[2020-06-06 14:34] nhcarrigan opened #39018 "New Forum Header - "Curriculum" obscures menus on mobile"
**Describe the bug**
The new forum header seems to have added a link to the curriculum - this link remains on top of the view when the forum menu is opened, obscuring a couple of links, when the forum is viewed from a mobile device.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [forums](https://freecodecamp.org/forum)
2. Click on '"menu" or "profile" to open a sidebar.
3. "Curric

[2020-06-06 15:41] ojeytonwilliams commented on #39015
@Twaha-Rahman @nhcarrigan which pages did you see the warning on?

[2020-06-06 15:48] nhcarrigan commented on #39015
I get the warning on all of the /news pages, it seems.

[2020-06-06 16:48] Twaha-Rahman commented on #39015
I can see the warning on the **Test Suite**.

[2020-06-06 18:19] ahmadabdolsaheb commented on #39015
The issue seems to be resolved.
I would appreciate it if you could test, confirm, and close this issue accordingly. Thank you.

[2020-06-06 18:24] nhcarrigan commented on #39015
Hey @ahmadabdolsaheb,

Is the fix deployed on the live site? Because I am still seeing the error on the [/news](https://www.freecodecamp.org/news/) page.
Or was there somewhere else I should test the fix?

[2020-06-06 18:36] ahmadabdolsaheb commented on #39015
@nhcarrigan, thanks for looking into this.

There is similar issue with http://runkit.com/ which is a script injected in ghost.

It seems the issue with the freecodecamp.dev cookie has been resolved. can you confirm that?
![image](https://user-images.githubusercontent.com/4591597/83951902-a69d0080-a83d-11ea-9864-b0f31da1168a.png)

[2020-06-06 18:39] nhcarrigan commented on #39015
![image](https://user-images.githubusercontent.com/63889819/83951967-55175600-a7ea-11ea-90d0-162fe50b2515.png)
On the dev/news page, I get the runkit cookie but also show a freecodecamp.org cookie.

[2020-06-06 18:51] ahmadabdolsaheb commented on #39015
I see, how about freecodecamp.org/news?

[2020-06-06 18:52] nhcarrigan commented on #39015
That one appears to have been fixed now.

[2020-06-06 20:03] #38871 closed

[2020-06-06 20:07] imabp commented on #39015
It is still there on /news
![image](https://user-images.githubusercontent.com/53480076/83953631-6babc480-a85f-11ea-8194-9dc9562e9e5e.png)

[2020-06-06 20:15] Sky020 commented on #38871
Hey @ahmadabdolsaheb , I cannot explain this:
![image](https://user-images.githubusercontent.com/51722130/83953731-8fa8df00-a83a-11ea-9e01-ce2b4d7d60a2.png)

It appears to happen to random lists, but I have found at least 5 in 60 topics.

[2020-06-06 23:57] ahmadabdolsaheb commented on #39018
@nhcarrigan, thanks for reporting this issue.
I am closing this issue as I have updated the themes with a fix.
Feel free to reopen if the issue persists.

[2020-06-06 23:57] #39018 closed

[2020-06-07 02:18] Twaha-Rahman commented on #39014
I made a PR to the maintenance page that should make it responsive and fix this issue.

[2020-06-07 02:20] Twaha-Rahman commented on #39015
Shouldn't the warning appear in any site that uses the CDN? From my understanding, the CDN is missing header which show the warning. So, any FCC site (even the **Test Suite**) will show the warning cause it uses the CDN

[2020-06-07 06:43] nhcarrigan opened #39020 "Verbiage change for MongoDB and Mongoose/Install and Set Up Mongoose"
**Describe your problem and how to reproduce it:**
A couple of concerns were brought up in the Discord server regarding the verbiage on this challenge.

First, the language "make sure no space exists between both the variable and the `=` and the value and `=`" is not particularly clear, and could possibly be re-written to something like "make sure no space exists between the variable, the `=`, and

[2020-06-07 06:47] Twaha-Rahman commented on #39020
I agree. The instructions can be made simpler. Also, we should teach how to use the proper syntax in `.env` file.... not the GUI that Glitch offers.

[2020-06-07 06:53] Twaha-Rahman opened #39021 "Add issue template for Typo/Formatting Inconsistency/Unclear Instructions"
**Is your feature request related to a problem?**

Currently there's no issue template for **Typo or Formatting Inconsistency or Unclear Instructions** so all the Typo or Formatting Inconsistency or Unclear Instructions has to be reported as a bug. This isn't optimal as some maintainer later on has to come in to change the labels.

**Describe the solution you'd like**

I'd propose to have another

[2020-06-07 06:57] nhcarrigan commented on #39021
I agree with this. Should it also include the "unclear instructions" items? Technically they are not a bug, since they aren't an "error in a computer program"...

[2020-06-07 06:58] UnevenCoder commented on #39021
I agree 2 , labeling should be thought through again

[2020-06-07 07:02] Twaha-Rahman commented on #39021
Updated the issue to add **Unclear Instructions** too

[2020-06-07 07:15] nhcarrigan commented on #39021
I do wonder about automatically adding the "first timers welcome" label, though.
Just in case the issue is more in depth than anticipated, I wouldn't want a first time contributor to be discouraged if the work needed to be passed on to someone else.

[2020-06-07 07:18] Twaha-Rahman commented on #39021
I think we can decide about the label after some discussion....

[2020-06-07 07:51] jonasschmedtmann commented on #38013
Also couldn't update my email address a few days ago from [https://www.freecodecamp.org/settings](https://www.freecodecamp.org/settings). The link in the confirmation email would always just send me back to the FCC settings page, but the email was not changed.

I'm on a Mac using Chrome, with an Adblocker and a couple of other extensions, if that's relevant.

[2020-06-07 08:20] JapneetSingh5 commented on #38991
I would love to do it, will appreciate some guidance !

[2020-06-07 09:01] ojeytonwilliams commented on #38991
@JapneetSingh5 please do!  If you're worried about the 'first timers welcome' label, I added that to indicate that it should not be too hard, not that *only* first timers should submit PRs.

[2020-06-07 09:06] JapneetSingh5 commented on #38991
Awesome, I’ll get to work then!

[2020-06-07 13:15] Sky020 commented on #39021
Those labels are being discussed: https://www.freecodecamp.org/forum/t/lack-of-clarity-in-github-labels/400114

As for the templates: I agree, we could do with including templates for typos and clarification. I suppose the reason one was not made is that, in general, we do not expect an issue to be opened, but a PR to fix, if it truly is just a typo.

[2020-06-07 14:12] JapneetSingh5 commented on #38991
I am experiencing failed build tests.

[2020-06-08 06:30] Advitya-sharma opened #39025 "page not responding"
In certain challenges when I entered incorrect code the page stopped working, then the browser and at last the whole PC .

I faced problem in vivaldi and then in chrome but some times it only happens in vivaldi .

to reproduce the problem

- go to the link on google chrome
https://www.freecodecamp.org/learn/front-end-libraries/react/create-a-component-with-composition
- copy this code
[code]
- see

[2020-06-08 08:11] Sky020 commented on #39025
Hello there,

Whilst I can understand the confusion, this is not what the challenge asks for:
[code]
The reason your browser is freezing is because you are calling `<ParentComponent>` within itself. This causes a recursive call to the component that never ends. We have discussed implementing fail-safes for this kind of behaviour (#36118) , but the fact remains, you are not supposed to ever (in the

[2020-06-08 08:11] #39025 closed

[2020-06-08 11:21] ahmadabdolsaheb commented on #38329
@kshashwat007, please go ahead 👍. No assignment is necessary as described in our [contribution docs](https://contribute.freecodecamp.org/#/index?id=where-do-i-start-if-i-want-to-work-on-an-issue). The first comprehensive PR will be considered for review.

[2020-06-08 11:23] ahmadabdolsaheb commented on #38417
seems like it is being reported from windows machines. @nhcarrigan, what OS are you using?

[2020-06-08 11:38] Sky020 commented on #37890
Challenge: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/regular-expressions/match-anything-with-wildcard-period

Fails with:
[code]
Passes with:
[code]

[2020-06-08 12:02] ahmadabdolsaheb commented on #37023
Should this be similar to the copy that we have in the donation page, since donating to help people learn is more relatable than paying for servers?

"Donation from [username have helped  provided 250 hours of learning to people around the world each month"

Additionally, the number of learning hours change based on the number of people using our platforms. What is a good way to reduce every dolla

[2020-06-08 12:15] Sky020 commented on #38417
Just to add my experience - this is what I get in my console on that page:
![image](https://user-images.githubusercontent.com/51722130/84028624-f9cf9a00-a988-11ea-908b-2dcbf4aad086.png)

When I click on the emoji picker, nothing shows up anywhere on the page.

Also, every few seconds this request is made and errored out:
![image](https://user-images.githubusercontent.com/51722130/84028723-24b9ee00

[2020-06-08 12:17] moT01 commented on #38329
There's an actually an open PR to fix this @kshashwat007. I would look for another issue.

[2020-06-08 12:36] sanityto opened #39028 "Machine Learning with Python Projects - Linear Regression Health Costs Calculator - wrong notebook link"
**Describe your problem and how to reproduce it:**
Notebook linked from the project page contains full solution for the project.

**Add a Link to the page with the problem:**
https://www.freecodecamp.dev/learn/machine-learning-with-python/machine-learning-with-python-projects/linear-regression-health-costs-calculator
https://colab.research.google.com/drive/1h6SMDpC6o-6TFsgdizb3tk5zgE_DYWEo

[2020-06-08 12:42] moT01 commented on #38984
I haven't looked to confirm, but I believe those projects use one of the other views. The stock price checker, for example, must use the backend project template because it has the two urls - which is why it says 'show solutions' (live demo url + github code url). The port scanner must be using the front end project view or something, which only requires one url.

[2020-06-08 12:52] ojeytonwilliams commented on #38984
Yep, this what I have currently

![image](https://user-images.githubusercontent.com/15801806/84032202-41f5b900-a997-11ea-8e23-d516a1a0c20d.png)

Before I refreshed the page, it was displaying `Show Code` and now it's `Show Solution`.  In other words, yes, it should show a different button, but not this particular one.

I've not looked into this yet, but my guess is that the redux store is not gett

[2020-06-08 13:44] moT01 commented on #38984
That sounds right.

I believe there is some other similar problems. I think, for example, that when you claim a cert - then go to your portfolio, it won't be there until you refresh. And possibly something similar when you submit and/or claim legacy projects/certs.

[2020-06-08 14:26] raisedadead commented on #37023
I think we should have a call with Quincy, about this. Do you mind checking in with him and blocking some time. I am available at both your convenience.

[2020-06-08 14:29] lasjorg commented on #37890
The example/seed code moves `lastIndex` to 14.

[code]

I guess one easy option would be to change the example string to something like "_Fun with regular expressions!_", that should let all the tests pass and accept the global flag.

The problem is if the camper uses a different string to test the regex it may fail. So we might just have to reset `lastIndex` before running the tests.

[2020-06-08 14:37] #38629 closed

[2020-06-08 15:02] nhcarrigan commented on #38417
@ahmadabdolsaheb I am running Windows 10 Home, updated to the latest version.

[2020-06-08 15:22] Sky020 commented on #37890
I assumed it would be the exact same fix as what Tom did:
[code]

[2020-06-08 16:27] ojeytonwilliams commented on #37890
@lasjorg yep, that's what I concluded.

@Sky020 I think we can apply Tom's fix in `js-teardown`, rather than modifying the tests. Either works, but that should be more concise.

[2020-06-08 16:32] ojeytonwilliams commented on #38984
Thanks for the heads up and, yep, they're probably all symptoms of the same thing.

[2020-06-08 18:20] jeremyfiel commented on #38987
@ojeytonwilliams  I don't believe changing to master will have any ill effects. I also haven't seen any push back on the previous PR we changed for advanced node. {freeCodeCamp/boilerplate-advancednode/pull/9}

[2020-06-08 18:40] ojeytonwilliams commented on #38417
I've also been unable to reproduce this using Firefox and Chrome on both Windows and Linux.

One possibility is that it could be clashing with a browser extension.  @PATHAKABHISHEK @torates, could you try with the extensions disabled (via an incognito window, for example)?

[2020-06-09 06:54] hassaanp commented on #38980
@ojeytonwilliams agreed. It would be interesting to figure out a fix for this. I will try on my end but I hope other contributors are actively looking for ways to resolve this.

[2020-06-09 07:25] ojeytonwilliams commented on #38980
Yep, it would be good to understand why this is happening.  That may not be easy to discover, though, so I'd be happy with a PR that just modifies the tests to wait for `document.ready`.

[2020-06-09 10:54] Radoogle commented on #38882
Wow, I didn't expect this, not now when I'm so close to finish.
I totally agree with @magnus195 that there are a lot of broken test!!!!
So @krisb1220 if you can please help me!!!

Here is my issue:
I started the chapter "Advanced Node and Express" on the 9th of June (I believe the date is important also, because I see a lot of things have changed since 2 moths ago and probably since 17 days also s

[2020-06-09 11:01] Radoogle commented on #38882
LOLOLOLOLOL
five minutes later, I closed the freecodecamp tab, then reopened and tried again the magic button ("I've completed this challenge") and I think from the 3rd try I got lucky! and DESTROYED THE CHALLENGE! This is the very appropriate message that came with all the tests passed!
So now I move on, but keep in mind: if it doesn't work from the first try, keep trying till it does! And bother

[2020-06-09 11:25] magnus195 commented on #38882
That is now how it should be though. The part about express and passport can actually be very easy but when FCC has those broken tests, we risk learning the wrong thing and losing motivation to finish the courses. How can we know that the tests doesn't give false positives when it gives so many false negatives?

[2020-06-09 13:00] scissorsneedfoodtoo commented on #39028
Thanks for catching this @sanityto.

Could you take a look at this @beaucarnes?

[2020-06-09 13:24] ojeytonwilliams commented on #38882
@magnus195 Yeah, these challenges are something I'd like to improve.  You can see https://github.com/freeCodeCamp/boilerplate-advancednode/pull/6 for discussion of some of the issues surrounding this.  One is that Chrome silently discards headers during AJAX calls, so you can't tell if a login worked or not.

Help is very much wanted, but I think it might come down to either

- warning that Chrome

[2020-06-09 14:01] Radoogle commented on #38882
I ran out of luck!
For the next lesson "Advanced Node and Express - Serialization of a User Object" I believe I did right, but can;t get the tests to pass.
Pretty often (no change just submit) I get 2 out of 4:
![test 1,3](https://user-images.githubusercontent.com/52208792/84156867-b2bdd380-aa72-11ea-98bd-948de8788a79.jpg)

then the other 2:
![Tests 2, 4](https://user-images.githubusercontent.com/

[2020-06-09 14:16] magnus195 commented on #38882
Serialization and deseralization are pretty easy in passport.js but the tests didn't work as they should for me. What I recommend is watching YouTube tutorials or reading documentation. Then do the projects

[2020-06-09 15:33] boranaveen007 opened #39033 "nodemon restarting due to changes but isn't starting node file.js and doesn't reflect the changes but gives the same output."
nodemon restarting due to changes... but isn't starting `node file.js` and also doesn't reflect the changes made in the file.js but gives the same output as before.
tried installing nodemon locally and globally.
please help!
thank you.

![nodemon problem](https://user-images.githubusercontent.com/49654880/84167890-6aafa880-aa94-11ea-8bfc-b31c231ec7e5.jpeg)
![nodemon](https://user-images.githubuser

[2020-06-09 15:35] raisedadead commented on #39021
Can you elaborate with an example for more context?

[2020-06-09 15:43] raisedadead commented on #39033
Thanks for reporting, this tracker is for issues related to the freeCodeCamp.org's platform only, if you need help with the curriculum please reachout to the [community forum](https://www.freecodecamp.org/forum) instead.

[2020-06-09 15:43] #39033 closed

[2020-06-09 17:21] Ieahleen commented on #39021
The only template I think is missing is the one to report issues in guide or news articles, as this doesn't fit in any of the existing templates, where instead miswording for a challenge can still be considered a bug for that challenge

[2020-06-09 18:30] raisedadead commented on #39021
A PR is welcome for adding a template.

[2020-06-09 18:56] Ieahleen commented on #39021
Wasn't it being worked on? It was discussed in last mods meeting.
Anyway, I have no idea how.

[2020-06-09 19:06] raisedadead commented on #39021
I am not sure, if it is or who is supposed to (I will check with @scissorsneedfoodtoo). But if it's not here yet, its safe to work on it.

You would add a template in this directory:
https://github.com/freeCodeCamp/freeCodeCamp/tree/master/.github/ISSUE_TEMPLATE

You can copy paste an existing template, and work from there if it makes it easier and change the contents as needed. It would automatic

[2020-06-09 19:51] Ieahleen commented on #38200
As I see this is still open, there is this feedback that I think should be considered: https://www.freecodecamp.org/forum/t/why-is-there-a-winston-churchill-quote/401215

[2020-06-09 20:13] Ieahleen commented on #39021
That I have done, I just need ideas on how to finish it - and which tags to use

[2020-06-09 20:17] #39003 closed

[2020-06-09 21:57] lolleri200 opened #39037 "Npm start gives my this error"
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! reactnative@0.1.0 start: `react-scripts start`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the reactnative@0.1.0 start script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

[2020-06-10 00:15] krisb1220 commented on #38882
@Radoogle Can you post the link to your code?

[2020-06-10 00:19] krisb1220 commented on #38882
@Radoogle I got it actually. Just realized that you posted the link in your pics. I'm gonna check it out rn :)

[2020-06-10 00:41] krisb1220 commented on #38882
@Radoogle The problem is that the MongoDB client isn't correctly set up in the examples they give. MongoDB changed the way to connect to the DB after this was released. You can find the right way to connect in my post #38837 .. - in addition, they don't really go over the different syntax. For this project I used Mongoose instead. I just checked with your code and it let me login using the below c

[2020-06-10 01:06] magnus195 commented on #38882
I have no experience with contributing to these kinds of projects but are someone fixing the curriculum/tests?

[2020-06-10 03:35] ahmadabdolsaheb commented on #37023
I asked him about this during another call.

We could go with with the hours hours of learning and the multiplier that is based on hours of usage which translates roughly  about 50hr for 1 usd based on his last calculation.

let me know if you still would like to arrange an additional meeting.

[2020-06-10 04:10] ahmadabdolsaheb commented on #38417
Hmm, it is possible that this is a discourse issue and not something caused by our theme modifications. If you have access to the default theme or have a meta.discourse.org/ account, you could double check that.

[2020-06-10 04:32] ahmadabdolsaheb commented on #39037
You would need to `npm run develop`.

Please refer to the [docs](https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-locally) for setting up freecodecamp locally.

I am closing this issue for now. Feel free to reopen if this issue has not been resolved on your side.

[2020-06-10 04:32] #39037 closed

[2020-06-10 06:53] raisedadead commented on #37023
If you have a clear path forward, go ahead with the pull-request when you are ready and we can take it from there.

[2020-06-10 06:54] #38984 closed

[2020-06-10 07:54] DivyanshTiwari0 opened #39039 "Why is there a Winston Churchill quote here ?"
Right now Im seeing a Wisnton Churchill quote on my FreeCodeCamp home page.
As an Indian I am very offended by this. Please do some research he is responsible for more deaths then even Hitler. He engineered the death of millions of Indians in Bengal Famine.
Please remove him and his quotes from ever coming again.

[2020-06-10 08:00] Radoogle commented on #38882
@krisb1220 thank you!
I managed to pass that challenge, now I'm at #8 "Create new middleware". We'll see how it goes.
So the previous challenges I passed knowing that I did it right and just hit the submit button a bunch of times till I got lucky.
Among the changes I did was the one you mention: "URI should be of type String"
I kept the db connection with mongo, but changed the connection driver i

[2020-06-10 09:23] Sky020 commented on #38882
@magnus195 , I have been working my way through the lessons and boilerplate, and will hopefully have some fixes soon. It is just taking me a lot of time. I am also discussing removing Glitch as the recommended platform to host the challenges/projects.

[2020-06-10 09:43] pulkitgovrani commented on #38991
is it still open. If it is open then may i work on this

[2020-06-10 10:14] ojeytonwilliams commented on #38991
@JapneetSingh5 is https://github.com/freeCodeCamp/freeCodeCamp/pull/39022 intended to convert all the challenges?  If not, could you leave a note here?

@pulkitgovrani you're welcome to work on this, but it could save time to wait on @JapneetSingh5's response.

[2020-06-10 10:23] JapneetSingh5 commented on #38991
im working on 03-frontend roght now, we can divide folders i think

[2020-06-10 10:42] ojeytonwilliams commented on #38991
Great stuff.  Might be worth chatting on Gitter/discord to co-ordinate.  As you wish.

[2020-06-10 11:02] raisedadead commented on #39039
A pull-request is welcome.

[2020-06-10 14:36] borntofrappe opened #39041 "video is missing footage – python for everybody"
**Describe your problem and how to reproduce it:**

The video for the challenge _Python for Everybody - Relational Databases: Relationship Building_ cuts abruptly before the instructor has had a chance to finish the discourse.

**Add a Link to the page with the problem:**

https://www.freecodecamp.dev/learn/scientific-computing-with-python/python-for-everybody/relational-databases-relationship-bui

[2020-06-10 14:38] leira-sanchez opened #39042 "Bookmark/Save Articles for future reference"
**Is your feature request related to a problem? Please describe.**
When I come across articles I know I'd like to reference in the future, I leave the tab open. I would like a way to save them in freecodecamp.

**Describe the solution you'd like**
As a user, I would like a way to save or bookmark articles that I can reference later.

**Describe alternatives you've considered**
I've thought about u

[2020-06-10 17:07] ojeytonwilliams opened #39043 "Scaled images on /news"
**Describe the bug**
Unnecessarily large images are being served on the main /new page.

**To Reproduce**
Steps to reproduce the behaviour (on a > 768px wide screen):
1. Go to https://www.freecodecamp.org/news/
2. Inspect an image next to an article
3. See that the width on the screen is 283px
4. Check the downloaded image
5. See that it's 1000px wide

**Expected behavior**

The image served shoul

[2020-06-10 23:13] Ieahleen commented on #38200
now I have the new JSON file, there are some quotes that differ just for a symbol, I can delete them by hand or add a line to my code, just, which do you prefer, smart quote, or plain quote (or apostrophe maybe?)
[code]

here the "don't" is the only difference, and it happens a few more times, which one do you want me to keep?

[2020-06-11 05:39] scissorsneedfoodtoo commented on #39021
Hi @Ieahleen, thank you for your creating this template for guide/news articles. You're right that a template for these kinds of issues was discussed in the [last mod meeting](https://www.freecodecamp.org/forum/t/notes-for-the-may-8th-guide-meeting/385787).

Another thing we talked about was having links at the top of each guide article on the forum that will open an issue with the template you ad

[2020-06-11 06:37] crandalj opened #39047 "Improve description for Chai QA testing challenges"
**Describe your problem and how to reproduce it:**
The Chai challenges start off with [challenge link](https://www.freecodecamp.org/learn/information-security-and-quality-assurance/quality-assurance-and-testing-with-chai/learn-how-javascript-assertions-work) and it tells you to make asserts but not where exactly.
The glitch link does allow you to make a copy of the project, however it is unclear w

[2020-06-11 06:57] scissorsneedfoodtoo commented on #39047
@crandalj, thanks a lot for these details and your helpful suggestions. We'll take all of this into consideration while we update this project.

[2020-06-11 08:30] thecodingaviator opened #39048 "Issue with answers on How Neural Networks Work - How Deep Neural Networks Work"
**Describe your problem and how to reproduce it:**
On [this](https://www.freecodecamp.dev/learn/machine-learning-with-python/how-neural-networks-work/how-deep-neural-networks-work) Python curriculum challenge, the correct answer is already selected. Just so we're having the learner do something, I guess either rearranging the options or at the very least not having the correct option already selec

[2020-06-11 09:43] Twaha-Rahman commented on #39021
After reading your take on the issue, I agree that we should not label it `First Timers Welcome`. But IMHO, I don't think a typo/formatting inconsistency can be classified as bug. That is why I was proposing to have a simple issue template for typo/formatting inconsistency as there's a lot of issue that are labeled as `bug`. I also think it would be a good idea add a  `Typo` label to the issue. Ne

[2020-06-11 10:01] Teredell opened #39049 "Lesson: ES6: Write Arrow Functions with Parameters - allows pass with incorrect code"
**Describe your problem and how to reproduce it:**
The lesson on page will allow the user to pass the test using the following answer;
const myConcat = (arr1, arr2) => arr1.push(arr2);
console.log(myConcat([1, 2], [3, 4, 5]));

And the console below displays "3"
Further testing reveals it will also pass with the following code;
const myConcat = () => {};
console.log(3);
*The HINT answer also advis

[2020-06-11 10:10] bjorno43 commented on #39049
Confirmed. It you really want to go crazy and break the thing, even this is accepted:

[code]

[2020-06-11 10:14] rdm100 commented on #38200
Hi,

I had finished it apart from the testing. I couldn't get it tested because I couldn't get it set up locally because I have windows 10 home and not pro. Pro is needed for part of it to work normally and the workaround didn't work.

Can the repo be tested on gitpod?

[2020-06-11 10:40] Ieahleen commented on #38200
yes it can, I am actually working totally on gitpod. If you have the changes in your branch you can launch the gitpod workspace from your guthub brunch and you have a complete work environment there

[2020-06-11 10:43] ojeytonwilliams commented on #39049
I think this is the culprit:

[code]

That assert passes no matter what. If it's changed to

[code]

it should be fine.  @Teredell @bjorno43 seem reasonable?  If you think so, I'll open this up for first-timers.

[2020-06-11 10:43] raisedadead commented on #38200
@Ieahleen

I would say, just use your best judgement, there are no wrong answers with minor things like that. And if anything, this will go thru the QA on the PR. Yes, you would defnitely want to remove the duplicated strings of course.

@rdm100

and

Yes, it can be. You do not need to be on a physical machine per se.

We had recommended reaching out to the contributors channels on forum and chat,

[2020-06-11 10:46] bjorno43 commented on #39049
@ojeytonwilliams Yup. Seems fine to me. Go ahead and give it to first-timers.

[2020-06-11 10:54] raisedadead commented on #39021
and

With respect, that's exactly the kind of approach we want to avoid. Personally am quite opinionated that anyone (and I mean anyone) can work on anything. Every issue is trivial and complex at the same time. If I had my way, we would add the `first timers welcome` label on every issue.

What really matters is are you asking the right questions when you are contributing? Especially if you are n

[2020-06-11 11:01] ojeytonwilliams commented on #39021
@raisedadead if you have a chance, could you take a look at https://www.freecodecamp.org/forum/t/lack-of-clarity-in-github-labels/400114 ?

There's a bit of discussion about the labels we use, but having read your last comment, I'm no longer sure it would be setting the right tone.

[2020-06-11 11:12] raisedadead commented on #39021
Thanks for sharing that thread. I have clarified the intent.

[2020-06-11 11:21] Sky020 commented on #39048
I assume this applies to all of the Video Challenges with a solution of **1**?

[2020-06-11 11:40] rajatgupta24 commented on #39049
Hey,
I'm a beginner and wanted to do this can you please help me.

Thank You.

[2020-06-11 11:49] rdm100 commented on #38200
I had asked on the channel, but no one had suggested using gitpod. Anyway I figured out how to test the repo on gitpod so that is useful.

[2020-06-11 11:55] Ieahleen commented on #38200
I mean, if you have already finished, I will not be offended if you create the pull request, I am stuck anyway. I can work on something else.

[2020-06-11 12:10] Ieahleen commented on #39049
if you want to contribute, you should start with [the contributing docs](https://contribute.freecodecamp.org/#/index?id=our-open-source-codebase), and if need help you are welcome to ask in the [gitter contributors room](https://gitter.im/FreeCodeCamp/Contributors?source=orgpage), [discord channel](https://discord.com/channels/692816967895220344/715074489422970962) or [contributors subforum on the

[2020-06-11 12:14] rdm100 commented on #38200
would be cool to finish it. What are you stuck on?

[2020-06-11 12:22] ojeytonwilliams commented on #39049
@rajatgupta24 we'd like to reserve this for first time contributors for a bit.  If none of them takes it, we'll open it up to the rest of the community.

[2020-06-11 12:31] rajatgupta24 commented on #39049
@ojeytonwilliams sure 😊.

[2020-06-11 13:13] Ieahleen commented on #38200
I was stuck on making the JSON valid... but I resolved it, and I am actually almost ready to do the pull request. If you want to finish it, I will not, I will work on something else.

[2020-06-11 13:17] rdm100 commented on #38200
I have it fully working so I will submit the pull request if that is ok?

[2020-06-11 13:20] Ieahleen commented on #38200
go for it, I have already told so

[2020-06-11 13:24] rdm100 commented on #38200
thanks

[2020-06-11 13:31] thecodingaviator commented on #39048
It should be that case, even though I haven't personally verified it

[2020-06-11 14:28] Ieahleen commented on #38024
the discussion here stopped midway, there is any preferred way on the direction of this?

[2020-06-11 16:26] Advitya-sharma opened #39052 "White dots"
When I open FCC on firefox,I see some white dots on the screen

![SharedScreenshot](https://user-images.githubusercontent.com/54709416/84413390-2fe17800-ac2e-11ea-94d4-68242bbcdfb4.jpg)

[2020-06-11 16:30] ojeytonwilliams commented on #39052
Thanks for the report @Advitya-sharma

Could you right-click on the dots and Inspect Element?  Unfortunately I cannot see them on my machine, so any extra information you can give us will be a great help.

[2020-06-11 18:25] Sky020 opened #39053 "/learn Profile Requests and Console Behaviour"
**Describe the bug**
1) It appears a `console.log()` was accidentally left in the `Profile.js` script.
2) A request to my/(a user's) _page-data_ is returning a 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/learn
2. Open DevTools
3. See log `true` or `false` in console, due to: `console.log(showDonation);`
 - File: https://github.com/freeCodeCamp/free

[2020-06-11 18:55] ojeytonwilliams commented on #39053
I think it would be better to remove all the logs, since we can use the flash messages if we need to communicate information.

Ideally, all errors should go to Sentry. This currently does happen for the server, but we haven't implemented it for the client, yet. Basically because there's still a bit too much noise (like the page-data.json 404 in your screenshot).

[2020-06-11 20:04] raisedadead commented on #39053
Yep, git blame @ahmadabdolsaheb and me for missing it in the QA. Reference: https://github.com/freeCodeCamp/freeCodeCamp/blame/f6aaa5f38a37c6739291ca51790a1e660aec182c/client/src/components/profile/Profile.js#L126

This is an expected side-effect of us using Gatsby's routing to query and get the user profile available at `/your-username`.

Essentially, when you hit `/some-path`, we first let Gatsb

[2020-06-11 20:30] Ieahleen commented on #39053
any suggestions where to search? I am trying to search around, but there doesn't seem to be, or I am finding those in the challenges code

[2020-06-12 02:23] irlcatgirl opened #39057 "Should freeCodeCamp teach more than code?"
I had some thoughts given recent situations with COVID-19 and employability factors as well. So as the title states I was wondering if freeCodeCamp should teach more than code. The various critical thinking skills, in the United States a strong mastery of English Grammar (this will vary from country to country), understanding of discrete mathematics among other fields employers may value aside fro

[2020-06-12 03:38] AlvaroLuken opened #39058 "Super minor issue: unclear wording in coding challenge"
**Describe your problem and how to reproduce it:**
I just went through this coding problem in the Javascript Regex part of the certificate; it's super minor and should be just a small text fix: in the instructions it says 'Apply the regex myRegex on the string myString using the .test() method.' which implies to do write the code as the example states:
let testStr = "freeCodeCamp";
let testRegex =

[2020-06-12 05:57] vaibhqv commented on #10515
do u even know who is he

he is Quincy the founder of freecodecamp

[2020-06-12 07:40] Ieahleen commented on #39057
freeCodeCamp should focus on coding, if we try to spread it too thin, nothing will be able to be done. For anything else, https://www.khanacademy.org/ is doing a really good job. They have a lot of materials, and at the same time needs a lot of work to keep everything updated. I don't think freeCodeCamp should go away from the Code part.

And anyway, there is already a big update being done: https

[2020-06-12 08:12] ojeytonwilliams commented on #39053
@Ieahleen It's a bit tricky, because we use console logs as part of the challenge code, but the place to look is in `client/src`

@Sky020 could you explain why 'progress updates processed where possible' should appear in the console?

[2020-06-12 08:20] Ieahleen commented on #39058
there is also written in the starting code

how would you word it? the variable is already there, you just need to fix the right part of the assignment
saying "new variable" may mean that one has to write a new variable name

[2020-06-12 08:40] Ieahleen commented on #39053
there are a few, but they all seems needed where they are
[code]

[2020-06-12 08:44] Ieahleen commented on #39053
I don't know why, but it comes from file `client/src/redux/failed-updates-epic.js` line 98

[2020-06-12 09:00] ojeytonwilliams commented on #39053
@Ieahleen there are some `info`s, `error`s `warn`s, too. `grep -n "console\." * -R` gets me:

[code]

of which

[code]

probably should not be there.  I'd like to get @raisedadead's input before we remove them, though.  I think `components/Donation/DonateForm.js:175:    console.error(error);` should eventually make it to Sentry and possibly `redux/failed-updates-epic.js:100:          console.warn(

[2020-06-12 09:28] Symbolistic opened #39060 "APIs and Microservices Projects - Exercise Tracker & All of the API and Microservices section needs updating"
https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/exercise-tracker

**Describe your problem and how to reproduce it:**
My project was done and made correctly, but because of the user story passing requirements i had to spend over 40 extra hours to pass this thing

Why? Because the test wanted the information in fcc's specific order even though I followed the

[2020-06-12 09:39] ojeytonwilliams commented on #39060
Thanks for the write up @Symbolistic, the amount of detail will be a great help.

@Sky020 I know you've been looking at the backend challenges/projects in general, so I wondered if you had any thoughts on this.

[2020-06-12 10:24] thecodingaviator commented on #39057
My personal opinion would be that with the project-based and Python curriculums, the project already has a lot of its hands, and expanding into non-code skills kinds goes against the "Code" part of freeCodeCamp. It is, once again, my personal opinion, nonetheless, I'm tagging @QuincyLarson for their opinion.

[2020-06-12 11:07] Ieahleen commented on #35700
is this still a wanted change for the curriculum?
one thing it is missing is that the lookaheads look from the same position, this is a thing I have often to explain on the forum - adding this in the description, or anyway in a way that is less criptic than "will look for but not match" could be an improvement

various tests have been added since then, to check that the created regular expression

[2020-06-12 11:18] Sky020 commented on #39053
@ojeytonwilliams , Sorry - my language was too strong. I meant to say:

For no other reason than it is a debugging message. Re-thinking about it, I think it could be more useful being changed to `console.warn`, as that is how I interpret the message. After all, it is a `failedUpdate` component.

[2020-06-12 12:00] Sky020 commented on #39060
@Symbolistic , Thank you, for your time to share this. Personally, I also struggled my way through the _Advanced Node and Express_ as well as the projects. Much like you, it came with the benefit of increasing my debugging skills.

The projects/challenges have become more difficult to complete over time due to:
- Deprecation of tools
- Updating of boilerplate, but not description or tests, and vic

[2020-06-12 12:17] ojeytonwilliams commented on #39048
Could we avoid the problem by leaving the radio buttons unselected at the start?  It's slightly weird UX, since people expect radio buttons to always have one selected, but it should not be too confusing in the context of a multiple choice question.

[2020-06-12 15:34] Advitya-sharma commented on #39052
yeah,I tried to inspect but can't find anything
did you tried in firefox ?
![Screenshot (260)](https://user-images.githubusercontent.com/54709416/84519700-16a10000-acf0-11ea-951b-b9684af933a8.png)
![Screenshot (261)](https://user-images.githubusercontent.com/54709416/84519726-1c96e100-acf0-11ea-890e-1cb77d0ab59d.png)

[2020-06-12 16:04] ojeytonwilliams commented on #39052
Yep, I tried Firefox and I don't see them.  That's why I was hoping you could pin them down to a particular element!

At a guess, it's caused by a browser extension, but it's hard to tell.  If you can try disabling any extensions that would at least rule out that possibility.

[2020-06-12 18:28] #39053 closed

[2020-06-12 18:39] raisedadead commented on #39057
These are great ideas. However, we are keeping the tracker for concrete action items.

I encourage you to move the discussion to the forum instead. Thanks for your understanding.

[2020-06-12 18:39] #39057 closed

[2020-06-12 18:40] raisedadead commented on #39052
Try incognito/private window (which should disable all browser extentions/add-ons).

[2020-06-12 19:02] beaucarnes commented on #38989
Thanks for catching this @sanityto. I just fixed it.

[2020-06-12 19:02] #38989 closed

[2020-06-12 19:06] beaucarnes commented on #38961
I just updated the test so it matched the instruction.

[2020-06-12 19:06] #38961 closed

[2020-06-12 19:53] beaucarnes commented on #39028
I just made a PR adding in the correct link.

[2020-06-12 19:59] beaucarnes commented on #39041
I just uploaded the complete video and then made a PR with the videoID.

[2020-06-12 22:05] tannercd opened #39063 "Typo in the hints list of "Never Mutate State" Redux challenge guide"
**Describe your problem and how to reproduce it:**
Navigate to [Never Mutate State Redux Challenge Guide](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-never-mutate-state/301445). Scroll down slightly to view the "Hints" list. There are two list items with typos, "Hint 32" and "Hint 33".

**Add a Link to the page with the problem:**
[Never Mutate State Redux Challenge Guide](ht

[2020-06-12 22:08] nhcarrigan commented on #39063
Thank you for bringing this to our attention! As this is a forum post, I went ahead and corrected the typo. For forum post issues, I believe you can flag the post for moderator attention on the forum itself, rather than creating a GitHub issue, since the fix does not require a change on the GitHub repo. 🙂

[2020-06-12 22:13] tannercd commented on #39063
@nhcarrigan Your welcome! Okay, I will make sure to flag the post for moderator attention in the future. Some of the mods had previously instructed me to open an issue for "Broken anchor element links" and other bugs I had found while on the forum. Be well! 😃

[2020-06-12 22:13] #39063 closed

[2020-06-13 02:50] Jutkus opened #39064 "Solution for Exercise Contradicts Directions"
### **Link To Exercise:**
[https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-algorithm-scripting/repeat-a-string-repeat-a-string](url)

### **Link To Contradiction (Solution 3):**
["https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-repeat-a-string-repeat-a-string/16041"](url)

### Issue:

[2020-06-13 05:15] AlvaroLuken commented on #39058
Ah hey, you are 100% right - I don't know how I missed this! Thank you, it is perfectly fine as is.

[2020-06-13 05:15] #39058 closed

[2020-06-13 08:37] borntofrappe commented on #39041
That was remarkably quick @BeaCodes

I've watched the video at the new URL and it works swimmingly 👍

[2020-06-13 08:49] thecodingaviator commented on #39048
It is a valid workaround

[2020-06-13 09:00] thecodingaviator commented on #39064
I'll edit the forum post to remove the solution.

[2020-06-13 09:00] #39064 closed

[2020-06-13 09:42] #39041 closed

[2020-06-13 09:43] #39028 closed

[2020-06-13 09:47] #38906 closed

[2020-06-13 09:58] thecodingaviator commented on #38850
I totally agree that this is a problem in progress, but we don't know when we might add a link or something that clashes with another user in the future. I think changing the format to `freecodecamp.org/u/username` is a way to future proof against these problems.
cc: @raisedadead

[2020-06-13 10:04] ojeytonwilliams commented on #38850
@thecodingaviator if we can do that, it would simplify the client code and cut down on the number of unavoidable 404s.  Mrugesh will know if there's a reason not to beyond "it'll be a complicated rewrite".

[2020-06-13 11:08] raisedadead commented on #38850
We will not be using `/u/username` pattern, there are a lot of backlinks that will be broken.

We also reserve the right to claim a path for our use as needed. Its on the user's part to NOT choose that is something unconventional.

Practically why would you choose a username 'LEARN'?

We have claimed paths in the past, by sending a notification to users for the change.

That said, this is a valid

[2020-06-13 18:09] Advitya-sharma commented on #39052
but it does not opens in dark mode @raisedadead

[2020-06-13 23:44] raisedadead commented on #39052
Did you sign in?

[2020-06-14 04:16] DivyanshTiwari0 opened #39072 "Winston churchill quote not fixed"
On this fine morning, Im in a good study mood and I see this yet again
![winston](https://user-images.githubusercontent.com/66130777/84584587-e0fd3380-ae23-11ea-8b5e-496b7fbd3865.PNG)

[2020-06-14 04:18] DivyanshTiwari0 commented on #39039
Not fixed

[2020-06-14 04:38] nhcarrigan commented on #39072
Hello! I just wanted to let you know that we have heard you, and that we are not trying to ignore this. The Winston Churchill quotes slated for removal as part of #36069, which appears to be in the review process. 🙂

[2020-06-14 04:40] nhcarrigan commented on #39072
For the dev team: this issue appears to be linked to #39039.

[2020-06-14 04:47] lasjorg commented on #38980
Some observations:

1. If I have Disable Cache turned on under the network tab it always works for me. If I disable it, I can make the tests reliably fail.

2. As long as all the files have 0ms delay (memory cache) the test fails, the minute a vendors~chai js file has just a 1ms delay it passes the test (disk cache vs memory cache), [demo gif](https://imgur.com/a/Q12NjzF).

3. The two challenges t

[2020-06-14 08:06] Advitya-sharma commented on #39052
got it ! its an issue with `turn off the lights` extension
dots are getting triggered even if extension is turned off
only disabling removes the dots. @raisedadead

[2020-06-14 08:06] #39052 closed

[2020-06-14 08:36] raisedadead commented on #39072
Please do not open duplicate issues. It doesnt help you, doesnt help the maintainers of the repo.

There is already a related issue thread which is open. I had specifically mentioned the same in your original report.

[2020-06-14 08:36] #39072 closed

[2020-06-14 09:56] ojeytonwilliams commented on #38980
Nice QAing @lasjorg!

Presumably that tiny delay is enough for all the changes to appear in the DOM.

Good question.  I tried building the site (`npm run build:client`) and serving it using [serve](https://github.com/vercel/serve), but it's still not cached.  It might be getting cached when you use .org because of the cdn, but I'm not sure.  If that's right, it's something that we will have to dep

[2020-06-14 15:38] pinglinh commented on #38735
Is this the actual test file being used for the project? https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/exercise-tracker.english.md

[2020-06-14 16:13] Sky020 commented on #38735
@pinglinh , Yes, it is.

[2020-06-14 16:16] pinglinh commented on #38735
@Sky020 What framework is it? I was trying to work out how I could potentially add a fix to this so that it fixes the timeout issue. I also have this problem on my project and would really like this to be marked as done 😅

[2020-06-14 16:47] Sky020 commented on #38735
@pinglinh , Well, the file is a MarkDown file with the tests written in a yaml syntax, but that is parsed before being run. The tests are run using [Chai](https://www.chaijs.com/) asserts, but most of it is plain JS.

It may help to go through the above mentioned forum post.

[2020-06-15 08:50] darek-grund commented on #39043
@ojeytonwilliams the issue was indeed problem with incorrect hints from `sizes` attribute. I've created PR to `freeCodeCamp/news-theme` that fixes this issue

[2020-06-15 13:11] #38980 closed

[2020-06-15 13:12] #38200 closed

[2020-06-15 13:49] ojeytonwilliams commented on #39043
Thanks @darek-grund that PR looks good.

As noted in that PR, and in the [Ghost docs](https://ghost.org/docs/api/v3/handlebars-themes/responsive-images/#compatibility), images that are hosted on Unsplash will not get scaled.  If possible, that is something we should address.

[2020-06-15 14:36] darek-grund commented on #39043
@ojeytonwilliams I was not aware you are planning to host images on Unsplash. My fix will work as long as there are images with different sizes provided in `srcset` attribute. In other words it will automatically work with what you currently have on https://www.freecodecamp.org/news/ - in `srcset` there are already urls to images of different sizes. Looking at the urls it seems like created by Gho

[2020-06-15 16:21] #38934 closed

[2020-06-15 16:21] #39013 closed

[2020-06-15 16:25] raisedadead commented on #38609
We are reconsidering to do v6, v7 like versioning on the certifications.
/cc @freeCodeCamp/dev-team

[2020-06-15 17:30] raisedadead opened #39075 "AMP support for YouTube is not working/implemented?"
AMP support for YouTube is not working/implemented in Ghost. Needs investigation.

Context as reported by @AbbeyRenn:

https://twitter.com/carlfwalsh/status/1272198642313515009

[2020-06-15 17:35] raisedadead commented on #39075
Yep, it seems like its a special tag: https://amp.dev/documentation/components/amp-youtube/

[2020-06-15 21:18] ojeytonwilliams commented on #39043
@darek-grund I think it's down to individual authors to pick images to go with their articles.  Either way, there are currently Unsplash images on various articles.

And, yes, it would definitely have to be handled differently for those images, since Ghost will not do it automatically.  However, Unsplash does let you scale the images via a query parameter
`w=200`
![image](https://images.unsplash.c

[2020-06-16 04:10] scissorsneedfoodtoo commented on #38609
@raisedadead, was just coming back to start changing the slugs in https://github.com/freeCodeCamp/freeCodeCamp/pull/39026 and saw that it's been merged. Would be happy to create a new PR to replace 2020___ with v7 in a fresh PR.

Should we also use the same v__ versioning system for the flags in the DB? Or stick with years there and use v7 just for the slugs?

[2020-06-16 07:34] raisedadead commented on #38609
Hi @scissorsneedfoodtoo

Yes, I was about to get started on this, but if you are up for it, sure go ahead.

The idea is to use versioning but instead of the intitial thought of using year, because it could have unintended effects.

Here is what we are thinking:

v5 (legacy - pre 2018 certs)
v6 (2018 - 2019 certs)
v7 (2020 certs)

and so on. We also think we would be doing the same approach, i.e ad

[2020-06-16 08:28] ojeytonwilliams commented on #38980
I'm pretty sure this is now fixed on .dev - I can no longer reproduce the problem. @lasjorg could take a quick look and confirm/deny?

[2020-06-16 09:17] ahmadabdolsaheb commented on #38664
The footer requirements has changed.

[2020-06-16 09:17] #38664 closed

[2020-06-16 10:40] darek-grund commented on #39043
@ojeytonwilliams - generating images for different resultions is just first step - it's great we already have that possibility, but make Ghost use the images is another.
Is anyone working on how to use Unsplash images in freeCodeCamp news page? If not, I would be happy to help with that issue. Le me know if you are interested and we can discuss it in more details.

[2020-06-16 11:04] ahmadabdolsaheb commented on #39043
@darek-grund, thank you for the help. Please go ahead.

[2020-06-16 11:13] ahmadabdolsaheb commented on #39043
It might be a good first step to go through https://forum.ghost.org/ posts and ask a question there to see if a solution has already been developed for this issue.

[2020-06-16 11:36] #38870 closed

[2020-06-16 12:42] ahmadabdolsaheb opened #39078 "Update news live themes after modifying repo"

[2020-06-16 17:08] lasjorg opened #39081 "Remove example code from seed/starter code"
Challenge: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/generate-random-whole-numbers-with-javascript

Forum post: https://www.freecodecamp.org/forum/t/problems-with-generate-random-whole-numbers-with-javascript/404092

I think we should remove the example code from the seed code. We already have an example in the challenge text. Right now, it's jus

[2020-06-16 17:18] nhcarrigan commented on #39081
Okay to submit a PR for this? 🙂

[2020-06-16 18:33] lasjorg commented on #38980
@ojeytonwilliams Nice job, all the jQuery challenges pass for me now. Ran all of them in Chrome and a few in Firefox. Passed first try every time. :+1:

[2020-06-16 18:34] jeremylt opened #39082 "Minor - Output neither captured nor used"
**Describe your problem and how to reproduce it:**
For Basic JavaScript: Selecting from Many Options with Switch Statements, its a bit weird that `caseInSwitch(1);` is called but the output is not captured or used.
[code]
or
[code]
would be more typical.

See discussion here: https://www.freecodecamp.org/forum/t/basic-javascript-selecting-from-many-options-with-switch-statements-problem/404022/4

[2020-06-16 18:46] lasjorg commented on #39081
@nhcarrigan Fine with me. If nobody objects to the change we will use the PR.

[2020-06-16 18:52] nhcarrigan commented on #39082
A lot of the challenge seeds are set up with a function call at the end.
[Factorialize a Number](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-algorithm-scripting/factorialize-a-number)
[Spinal Tap](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/spinal-tap-case)

I believe the idea is having a funct

[2020-06-16 18:56] jeremylt commented on #39082
Sure, but it's weird to call a function that does not have side effects and not capture the output. Do we want to demonstrate an antipattern?

[2020-06-16 18:56] Sky020 commented on #39082
Just to expand on _nhcarrigan_: Campers are free as ever to wrap the pre-written function call in a `console.log()`. Personally, I am neither here nor there with this being a problem as:
1) Many challenges do not output anything to the console without the user taking initiative.
2) If we decide to add a `console.log` to the seed, then there are many challenges we would need to do this for...

[2020-06-16 19:00] jeremylt commented on #39082
Personally, I wouldn't add `console.log()` but I would capture the `return` value. The campers can decide what to do to sanity check the output.

That said, it's totally fair if we don't want to do it because we'll have v7 coming at some point in the future. But it is odd to call a function with no side effects and not capture the 'return' value.

[2020-06-16 19:09] Sky020 commented on #39082
Sorry, I am not understanding what you mean by this? What is an example of _"captur[ing]"_ the value?
The tests do use it, if that is what you mean...as in, the return is vital for the challenge.

[2020-06-16 19:11] ptkpyitheim commented on #38932
@scissorsneedfoodtoo

The regex works if you test it with

`h2 {
     font-family: "Lobster";
   }

h2 {
     font-family: Lobster;
   }`

but not
`
h2 {
     font-family: 'Lobster';
   }
`

So I added something to the regex. Regex101 says it should work. I linked it below. However, when I changed it in the code and test it locally, it doesn't work. It only works for Lobster with double quotes or

[2020-06-16 19:16] jeremylt commented on #39082
I mean doing this:
[code]
The tests do use the return value, yeah. It's just weird to me that we show examples in the `Do Not Change` part of the code of ignoring a return value on a function. The function executes and the result is discarded.

[2020-06-16 19:18] ptkpyitheim commented on #38932
@scissorsneedfoodtoo

Your regex works for

`
h2 {
     font-family: "Lobster";
   }

h2 {
     font-family: Lobster;
   }
`
but doesn't work for single quoted Lobster as such : ` 'Lobster' `

I changed the regex to be this and it works for all three test cases.

` assert(/\s*h2\s*\{\s*font-family\:\s*(\"|"|\')?Lobster(\"|"|\')?(.{0,})\s*;\s*\}/gi.test(code)); `

Making pull request soon.

[2020-06-16 19:46] Sky020 commented on #39082
Ok, now I understand. On the one hand, seeing as many of these challenges are merely focused on the syntax, having the user write something that does absolutely nothing is still useful. On the other hand, exactly as you mentioned, v7 does this combined with _functional_ functional programming.

So, shall we add some functionality to the seed? Or, leave it as is?

[2020-06-16 20:51] darek-grund commented on #38439
@ahmadabdolsaheb @ojeytonwilliams - Social metatags can be edited using Ghost Admin Panel. You can set metatags per page/post and `Search Page` should be no different.

1. In Admin Panel, go to `Pages` and click on `Search` page (yours may have different name). It will allow you to edit that page:
![image](https://user-images.githubusercontent.com/46841992/84825794-46b70e80-b022-11ea-94b3-5fb9c70a

[2020-06-16 20:52] ojeytonwilliams commented on #38980
Nice. Thanks for all your help. Looks like we've got to the bottom of it.

[2020-06-17 02:49] Symbolistic opened #39085 "You can pass Metric-Imperial Converter Project by just using the BASE Glitch Project given"
https://www.freecodecamp.org/learn/information-security-and-quality-assurance/information-security-and-quality-assurance-projects/metric-imperial-converter

I literally wanted to test if the helmetJS securities I added were working and passed, I ended up passing everything.
I commented out the helmetJS .use lines and still passed everything.

This section really needs to be updated, lol.

[2020-06-17 02:58] nhcarrigan commented on #39085
Related to #37815.

[2020-06-17 02:59] nhcarrigan commented on #39085
Related to #37185

[2020-06-17 04:45] scissorsneedfoodtoo commented on #38932
Awesome, thanks for catching that @ptkpyitheim and for submitting a PR so quickly.

[2020-06-17 07:25] ahmadabdolsaheb commented on #38439
@scissorsneedfoodtoo, would have better context, but the search page is not a regular page.

[2020-06-17 09:52] raisedadead commented on #39048
/cc @ahmadabdolsaheb

[2020-06-17 11:49] ojeytonwilliams commented on #39082
To give a bit of context, I *think* the tests used to rely on the return value from an `eval` of the user's code.  Hence the weird function calls that seem to do nothing.

That's no longer the case, so ideally these would be captured, logged or removed.  If anyone wants to do this, that's fine, but I wouldn't consider it a high priority - since it's just weird, rather than broken.

[2020-06-17 14:19] Mr-Bam opened #39088 "Save width platforms' panels for a client"
I think it will be great to have a feature to save the width of instructions-panel, editor-panel, preview-panel for a client in the local storage for example. Every lesson to change it's very boring.

[2020-06-17 15:39] huyenltnguyen commented on #39085
Hi @Symbolistic Thanks for reporting! As @nhcarrigan said, this issue has been reported in #37185, and in fact, there is already a PR to add tests for this project (https://github.com/freeCodeCamp/freeCodeCamp/pull/37891). We will try to review and get the PR merged as soon as we can.

I'm closing the issue as it is a duplicate. Thanks again for the report.

Happy coding!

[2020-06-17 15:39] #39085 closed

[2020-06-17 15:45] lasjorg commented on #39082
I think it's a good idea to have the function call. It shows how the function is called and what arguments are passed to the function without having to look at the test cases.

But I agree it would be better to use the return value.

Wrapping function calls in console logs can confuse some new learners just a bit I think. Capturing the return and logging it is more verbose but also more explicit a

[2020-06-17 16:30] MrFullStackDev opened #39089 "Content of certificate get's misplaced when zoomed in or zoomed out."
When we zoom in or zoom out the browser, the content inside the certificate ('This certifies that') get's misplaced.

Tested on Google Chrome 83, Microsoft Edge 83, and Mozilla Firefox Developer edition 78.

Out of these, it was fine on Mozilla Firefox Developer edition 78.

Regards

![ezgif com-crop](https://user-images.githubusercontent.com/43752898/85098807-4d5ba680-b219-11ea-9159-013459d69287.

[2020-06-17 16:35] nhcarrigan commented on #39089
I was able to reproduce this bug.

**Screenshot**
![image](https://user-images.githubusercontent.com/63889819/84924478-6deef980-b07d-11ea-9e7c-1be085d79a13.png)

**Steps to Reproduce**
1. Go to a certificate page on your portfolio.
2. Change your browser zoom level - I saw the bug at zoom levels 25%, 75%, 90%, 125%, and 175%.

**System Information**
OS: Windows 10 Version 1909
Browser: Chrome Vers

[2020-06-18 03:36] Diannekay50 opened #39091 "Community Forum"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-18 03:37] Diannekay50 opened #39092 "Typos"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Recommended fix, suggestions (how would you update it?):**

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2020-06-18 03:38] Diannekay50 opened #39093 "Unclear Instructions"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2020-06-18 06:06] ahmadabdolsaheb commented on #39048
That works. Unselected radio buttons seems to be a convention for multiple choice questions.
Additionally, we could display the multiple choice questions as a button group and avoid having the users select the multiple choice question and click on the Check Your Answer.

[2020-06-18 07:34] #39091 closed

[2020-06-18 07:34] #39092 closed

[2020-06-18 07:34] #39093 closed

[2020-06-18 07:45] thecodingaviator commented on #39089
On my machine, it's happening for multiples of 100/3.

[2020-06-18 08:19] raisedadead commented on #39078
Hi @ahmadabdolsaheb can you take up the activity.

[2020-06-18 08:20] thecodingaviator commented on #39089
/cc: @ahmadabdolsaheb

[2020-06-18 08:41] ojeytonwilliams commented on #39048
Just to check, do you mean: remove Check Your Answer and have the modal pop up as soon as the user clicks on the correct answer?

Also, since we're discussing UX, keyboard navigation is a bit tricky.  There's no visible indicator when you have the answers selected.

[2020-06-18 15:21] faraz16iqbal commented on #39049
Is this issue still open?

[2020-06-18 15:58] ojeytonwilliams opened #39094 "Remove globals in favour of env.json"
While Gatsby allows us to create globals in `gatsby-node.js` we also make use of `env.json` for that purpose.  We should DRY this out and use one (env.json seems the best).

See https://github.com/freeCodeCamp/freeCodeCamp/pull/38669#issuecomment-621254223

[2020-06-18 16:09] Ieahleen commented on #39049
@faraz16iqbal : the issue is still open, but someone is working on it, there is the `status: fix in progress` label to say that

[2020-06-18 16:42] Sky020 opened #39095 "Basic Node and Express: Breaking changes on Glitch"
**Describe your problem and how to reproduce it:**
As can be seen by the numerous topics opened on the forum, over the last few days, Glitch appears to have undergone some breaking changes causing the [fcc-express-bground-pkg](https://github.com/freeCodeCamp/fcc-express-bground-pkg) to error out.

Specifically: https://github.com/freeCodeCamp/fcc-express-bground-pkg/issues/4
**NOTE:** bowser is no

[2020-06-18 16:49] borntofrappe opened #39096 "Numpy - Copying Arrays Warning – unnecessary commas"
**Describe your problem and how to reproduce it:**

The challenge in the numpy module [Numpy - Copying Arrays Warning](https://www.freecodecamp.dev/learn/data-analysis-with-python/numpy/copying-arrays-warning) provides the different options separating the items with `,` comma characters

[code]

Since the challenge describes numpy arrays however, the correct syntax would be

[code]

I'd be more th

[2020-06-18 16:59] borntofrappe opened #39097 "Numpy - Initialize Array Problem – challenge structure"
**Describe your problem and how to reproduce it:**

In the numpy module, the [Numpy - Initialize Array Problem](https://www.freecodecamp.dev/learn/data-analysis-with-python/numpy/initialize-array-problem) challenge has a particular issue.

The challenge is introduced by the following line:

For accessibility, I though it would be best to add the original solution from the video. Something similar

[2020-06-18 19:12] Sky020 commented on #39097
Hey,

So, you are suggesting a new matrix for the question, so that it is not a _copy-pasta_ of the video?

[2020-06-18 19:43] borntofrappe commented on #39097
More than a new matrix another way to build the proposed one. Something like:

[code]

With the wrong options being slightly different. For instance mistaking the position of the `9` (playing on the topic of zero-based indexing)

[code]

Or again forgetting to provide the shape of the original array as a tuple

[code]

[2020-06-18 21:52] QuincyLarson opened #39098 "Rename Master branch to Main and modernize references to master-slave db replication"
We are changing freeCodeCamp's Master branch to "Main".

We are also going through our curriculum and our publication and changing references to Master-Slave Database Replication to "Primary" and "Replica".

Master was the default branch name on GitHub when we created this repo back in 2014, and [GitHub itself is changing this going forward](https://wersm.com/github-is-switching-to-more-inclusive-

[2020-06-19 02:02] scissorsneedfoodtoo commented on #38439
Thank you for all of those helpful details and screenshots @darek-grund. I was looking into the templates a little while ago, but handling it this way would be much easier.

[2020-06-19 04:59] Ukmandal commented on #12699
SASS use-each-to-map-over-items-in-a-list beta challenge impossible
---------------------------------------------------------
@each $color in blue, black, red {
.#{$color}-bg {background-color: $color;}
}

[2020-06-19 06:36] raisedadead commented on #39098
IMHO, instead of `main` we could do one better called it `dev` or `development` (I prefer later), which fits better in our context of other branches which we have been using for a while now:

~~master~~ development
production-staging
production-current

[2020-06-19 07:14] nhcarrigan commented on #39098
Hello~!

If help is welcome, I'd be willing to update the documentation to reflect the name change. 🙂

[2020-06-19 07:59] gikf opened #39099 "Machine Learning with Python Projects - HTTP 403 from CDN"
**Describe your problem and how to reproduce it:**
There seem to be issue with loading dataset from the `cdn.freecodecamp.org` when using `get_file()` function. The problem occurs only when both these conditions are fulfilled - using that function and when data is supposed to be downloaded from `cdn.freecodecamp.org`. So this currently applies only to `Cat and Dog Image Classifier` and `Linear Reg

[2020-06-19 08:32] Ieahleen commented on #39098
I will follow this issue, so that I can update the italian docs when the change is done, and start working on them to make them a bit better and updated

[2020-06-19 09:02] DivyanshTiwari0 opened #39100 "Jquery challenges broken"
One time challenges pass, other time they fail. Fully random. I know a similiar issue was reported but it was fixed and closed on June 15 while I experienced it yesterday.

[2020-06-19 09:10] ahmadabdolsaheb commented on #39078
updated on .dev and .org

[2020-06-19 09:10] #39078 closed

[2020-06-19 09:10] ojeytonwilliams commented on #39100
Hi @DivyanshTiwari0, thanks for the report.

This should be fixed on the staging site, https://www.freecodecamp.dev/learn/, but we don't immediately push everything to production.  This lets us test new changes (like that fix) to make sure they don't break something unexpected.  Since the fix is on the way, I'm closing this issue.

If you experience the same problem on the staging site, please re-

[2020-06-19 09:10] #39100 closed

[2020-06-19 10:24] ojeytonwilliams commented on #39096
That makes sense to me.  @borntofrappe a PR would be very welcome!

[2020-06-19 10:48] scissorsneedfoodtoo commented on #39060
Hi @Symbolistic, thank you for taking the time to share all of these details. They will really help us improve the backend projects and challenges in their current state, and in the upcoming project based curriculum.

You're right that the output for the test project wouldn't pass the current tests. Last month I went through all of the projects with DBs and migrated them from mLab to Atlas, and tr

[2020-06-19 11:03] ojeytonwilliams opened #39101 "Challenge freezing on incorrect input"
**Describe your problem and how to reproduce it:**
The Define the Head and Body of an HTML Document challenge freezes if you enter in code like

[code]

where the `body` tag is not closed.  This is a common enough mistake and the freezing is not directly caused by the user code - it's how our tests interact with it.

**Add a Link to the page with the problem:**

https://www.freecodecamp.org/learn/

[2020-06-19 11:22] Sky020 commented on #39101
Classic regex runaway.

Something closer to this should do:
[code]
I do not know why this would be used anywhere: `*?`

[2020-06-19 12:38] ojeytonwilliams commented on #39101
`.*?` some makes sense if you want to grab whatever's between, say, an opening and closing tag.  `\s*?`, on the other hand, doesn't, in part because white space does not really matter here, so we might as well remove it before trying to match.

[2020-06-19 14:32] borntofrappe commented on #39096
Apologies for the mess. I tried making a PR, but while updating the fork with the commits of the master branch, it seems the request was merged in the previous pull request I made for another challenge.

Do you have any suggestion on how to fix this? I'm so sorry, again apologies for this git-mess 😢

[2020-06-19 14:48] ojeytonwilliams commented on #39096
Don't worry, it happens.  So, the first thing to do is make sure you make a backup of your work, because you'll need to reset your master branch.  Once you've backed it up these are the steps

[code]

at this point your master will only have the commits that this remote has.

Now, create a new branch off master:

[code]

That branch is where you can put the commits to fix this issue.

The other PR

[2020-06-19 15:57] borntofrappe commented on #39096
Thank you thank you thank you @ojeytonwilliams

I thought creating a branch would be excessive for such a minor pull request, but indubitably, that was the way to go (I was also afraid you'd have way too many branches to juggle through)

Thanks again for the help 😄

[2020-06-19 16:45] A-coder-beep opened #39103 "My % operator somehow is not working"
**Describe your problem and how to reproduce it:**
my answer to the exercise is correct, however when i click on execute the tests it puts me that i did not use the operator% while i did it.

**Add a Link to the page with the problem:**
https://www.freecodecamp.dev/learn/javascript-algorithms-and-data-structures/basic-javascript/finding-a-remainder-in-javascript

**Tell us about your browser and o

[2020-06-19 16:50] nhcarrigan commented on #39103
Hello~!

I was able to reproduce this bug. After some digging, it looks like the `%` operator test will fail if the line does not end with a `;`.
I am not sure if this is considered a bug as ending lines with `;` is a *good practise*, but if there is agreement that this should be changed I believe I can update the test to not require the semi-colon.

[2020-06-19 16:50] A-coder-beep commented on #39103
ok i will try thanks!

[2020-06-19 16:51] A-coder-beep commented on #39103
IT WORKED THHHAAANKKKSSS

[2020-06-19 16:51] A-coder-beep commented on #39103
BRRUUUUH

[2020-06-19 16:51] #39103 closed

[2020-06-19 17:14] ojeytonwilliams commented on #39096
No problem, I'm glad you were able to sort it out!

[2020-06-19 18:17] A-coder-beep opened #39105 "I had the challenge all good but it says no"
**Describe your problem and how to reproduce it:**
I have the challenge all good but nevertheless, he tells me that I did not do the Variable part myStr should contain the string: I am a "double quoted" string inside "double quotes". so I don't know what to do.

**Add a Link to the page with the problem:**
https://www.freecodecamp.dev/learn/javascript-algorithms-and-data-structures/basic-javascrip

[2020-06-19 18:23] nhcarrigan commented on #39105
Hello~!

It looks like the issue is related to your code, not the tests. As such, I recommend moving to the [FCC forums](https://freecodecamp.org/forum). GitHub issues are for reporting bugs in the FCC code or requesting features, and the forums are intended for getting help with your code not passing the tests. 🙂

[2020-06-19 19:11] A-coder-beep commented on #39105
so i had the challenge false?

[2020-06-19 19:12] A-coder-beep commented on #39105
but when i looked the vidéo i=and the code in the vidéo was the same than my code

[2020-06-19 20:44] sriramvsharma opened #39108 "Test Case bug: Basic Node and Express - Use the .env File"
**Describe your problem and how to reproduce it:**

Bug Description: I am unable to pass the test case even though my code is doing exactly what the challenge is asking it to in order to pass the challenge.

![image](https://user-images.githubusercontent.com/6435829/85178028-4ee59880-b232-11ea-9921-4dfe78bdd1f4.png)

My code solution:

`app.get('/json', (req, res)=> {
  var response;
if (process.e

[2020-06-19 20:45] ojeytonwilliams commented on #39105
As @nhcarrigan suggested, the forums are the best place to get help. They're also great at determining if there's a problem with the site. If so, then please reopen this issue.

[2020-06-19 20:45] #39105 closed

[2020-06-19 20:54] Sky020 commented on #39108
Hello there,

There is already an issue up. So, I am closing this as a duplicate.

You can follow the issue here: #39095

[2020-06-19 20:54] #39108 closed

[2020-06-20 08:53] jonnangle commented on #39060
@scissorsneedfoodtoo it looks like the tests still fail when pointed at https://nonstop-pond.glitch.me/

[2020-06-20 16:29] lasjorg commented on #39095
Setting a User-Agent in the header for the http.request in `selfCaller` seems to fix it
https://glitch.com/edit/#!/basic-node-and-express-challenges-with-user-agent

Side note: it is failing the console log challenge but I think that's just because all the code is in one file and how the log challenge gets tested. I didn't really bother to look at it.

@Sky020 @ojeytonwilliams Can you confirm this

[2020-06-20 17:34] lasjorg commented on #39095
This is the starter project with a new link in the dependencies to [my repo with the headers fix](https://github.com/lasjorg/fcc-express-bground-pkg-LJ)
https://basic-node-and-express-challenges-with-new-pkg.glitch.me

As far as I can tell, everything seems to be working.

[2020-06-20 20:20] Sky020 commented on #39095
@lasjorg , I have not been able to access Glitch projects, for the whole day. So, will see if I can confirm some other time.

I was looking into simplifying the test routes, and completely removing the reliance on _fcc-express-bground-pkg_.

[2020-06-20 20:43] 0x476C31746368 opened #39110 "Autofill Bug"
**The Problem**
I wanted to type "Hello World" but something happened which i can't really explain so you can watch a video <a href="https://www.youtube.com/watch?v=ePd9P9D7uvA" title="O_O"> here. </a>
When i tried to delete the word "Hello" in the beginning it kept changing the selected word. Also at the end you can see after i type "wtf" and press enter 4 more "wtf" appear.

**Steps to Reproduce

[2020-06-20 20:54] nhcarrigan commented on #39110
Hello~!

This is usually an issue with your mobile device's autocorrect and keyboard settings. I recommend taking a look at the [FreeCodeCamp Mobile Coding article](https://www.freecodecamp.org/news/freecodecamp-mobile/) for instructions on installing a coding keyboard.

[2020-06-20 20:55] Sky020 commented on #39110
Hello there,

Whilst freeCodeCamp is made responsively, the main focus has always been for the challenges to be completed on a full-pc (not mobile). That being said, I suggest reading the tips mentioned in this article for using fCC on a mobile: https://www.freecodecamp.org/news/freecodecamp-mobile/

Unfortunately, we cannot cater for all, as of yet. So, I am closing this issue. If you have any mo

[2020-06-20 20:55] #39110 closed

[2020-06-20 21:34] JapneetSingh5 commented on #38991
I'm really sorry for the delay on this, I will open a pull request next week for sure.

[2020-06-21 00:23] PSN221B opened #39111 "Tests do not work as intended"
The first 3 test cases do not work. Clear the coding area (the one in the center) and still the 3 test cases will pass. The JQuery written to test the 3 cases is probably running on the example page layout (on the left).

Chrome and Mozilla both had the same problem.

[https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/define-the-head-and-body-of-an-html-document](url)

[2020-06-21 01:57] themagicbean commented on #17584
Having the same issue.  [Code](https://glitch.com/edit/#!/themagicbean-fccnode-problems?path=package.json%3A28%3A1) and [app link I submitted](https://themagicbean-fccnode-problems.glitch.me/).  (Actually, I tried all links Glitch would give me -- project, live app, code, and the "view" page link.)    Firefox 77.0.1 (64-bit, Win 10).

[2020-06-21 03:09] ptkpyitheim commented on #39111
So I tried doing
`$('head').length` in the console and it gives me undefined.

However, if I try just `$('head')` it gives me the content in the `head` tag of the HTML rendered on the browser. This doesn't necessarily checks what we write inside the "Code" for the task.

I wonder if there's another way to do this because apparently using jQuery code directly in our assert function of the tests don

[2020-06-21 03:40] ptkpyitheim commented on #38799
Hmm. So what are you suggesting here? Refactor the way the the original FCC website has it, integrate more explanations in it?

[2020-06-21 03:51] ptkpyitheim commented on #38575
How should we go about this? I have a feeling that the entire problem statement can be significantly shortened and still be more effective in delivering the concept

[2020-06-21 08:05] Ieahleen commented on #38799
these articles where migrated from medium once freeCodeCamp decided to have
its own publishing medium, various articles lost pieces in the migration.
This is one of those.

Ideally it should be restored as it was, with links pointing to
corresponding articles on /news

[2020-06-21 09:08] ojeytonwilliams commented on #39111
The preview lives in one iframe and the tests another. If you want to see what will happen in the tests, you can select the `fcc-main-frame` and query that.

The problem with this challenge is that the user's source goes through a bit of processing before it's put into the iframe and will always have a html element with a head and a body (hence the tests always passing).  While jQuery is great for

[2020-06-21 09:09] ojeytonwilliams commented on #39111
Related: #39101

[2020-06-21 11:01] PSN221B commented on #39111
But with regex we end up with the problem of catastrophic backtracking, in case of any missing tag because of the .*? as pointed out in issue #39101.

[2020-06-21 12:00] Sky020 commented on #17584
@themagicbean , Whilst this may not be the issue you are facing, please note: Glitch has been highly unstable, for the past month. The status of Glitch can be found here: https://status.glitch.com/

[2020-06-21 12:03] zepekenio9542 opened #39113 "it thte tile"
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2020-06-21 12:20] Sky020 commented on #39113
Hello there,

I am closing this issue, as it contains no information. If you are experiencing a bug, feel free to open a valid issue with more information. If you are needing help with something to do with the fCC curriculum, head over to the [forum](https://www.freecodecamp.org/forum), and search around/open a topic.

Thank you.

[2020-06-21 12:20] #39113 closed

[2020-06-21 15:49] ojeytonwilliams commented on #39101
@Sky020 what do you think to the following?

[code]

(or the same, without the `\s`s and applied to the code with whitespace removed)

As far as I could see the problem comes from expressions like `(.*)*` (with or without a `?`) which blow up.

[2020-06-21 15:51] ojeytonwilliams commented on #39111
@PSN221B yep, you do need to be careful with the regex, but I don't think an exponential explosion is inevitable.

[2020-06-21 16:32] Sky020 commented on #39101
@ojeytonwilliams ,Well, that would work, if we added more parentheses to prevent the `|` from applying to the `<\/body>`:
[code]
It is not nice to look at. So, I would prefer the spaces and tabs be removed, and the `\s` can go.

[2020-06-21 19:31] COAB1 opened #39115 "Python For Everybody - radio button options"
**Describe your problem and how to reproduce it:**
In the section of the Python For Everybody curriculum, when you are watching the video to answer the questions, the radio button comes already marked as the first option every time. This can be a little confusing for starters. I think it should come without the radio button marked.

**Add a Link to the page with the problem:**

[https://www.freeco

[2020-06-21 20:42] OfficielSalah opened #39116 "Back-end Problem"
**Describe your problem and how to reproduce it:**
So Basically i found out that it's possible to pass all the projects and earn the certificate Responsive Web Design and front-end libraries and maybe more i didn't check it yet just like in 5 minute or less ,how to do that :  you only need to make a new project in codepen and write some basic code and then paste the link of the project in freecode

[2020-06-21 21:25] ojeytonwilliams commented on #39101
Good point about the brackets.

We can remove the spaces by using `const noSpaces = code.replace(/\s/g, '')`, so that it will be easy to find when we use https://github.com/freeCodeCamp/freeCodeCamp/pull/38605

[2020-06-21 22:51] Sky020 commented on #39115
Hello there,

Thank you, for taking the time to report this. An issue for this has already been created (#39048). Therefore, I am closing this as a duplicate.

Thank you.

[2020-06-21 22:51] #39115 closed

[2020-06-22 00:43] themagicbean opened #39117 "Blog Instructions Unclear and Seem to Promote Copyright Infringement:"
(This bug report is not legal advice and should not be relied on in taking any course of action.   No attorney-client or other relationship is formed by this report, and no legal duties are intended to be formed.)

The quoted paragraph is extremely troubling, because (1) Medium (or FCC or whoever) could have secondary copyright infringement liability under some circumstances [(cite)](https://en.wi

[2020-06-22 05:46] ahmadabdolsaheb commented on #38947
ref #37166

[2020-06-22 05:49] ahmadabdolsaheb commented on #39048
Yes, what do you think?

[2020-06-22 07:27] ojeytonwilliams commented on #39048
Sounds good.  The only concern I have is that we don't want to encourage people to just guess. However, forcing them click back and forth between the radio buttons and 'Check your answer' probably does not solve that and it's definitely irritating.

[2020-06-22 08:08] scissorsneedfoodtoo commented on #39060
Thanks for the heads up @jonnangle. I made the changes last week but it seems like it wasn't saved. Glitch has had some problems with stability over the last couple of weeks, so maybe it had something to do with that?

I just made the changes again and tested it. Could you take a look and confirm https://nonstop-pond.glitch.me/ passes the `/add` test?

[2020-06-22 08:20] jonnangle commented on #39060
Yeah, I had to give up on glitch and use `ngrok` through to my laptop! All looks good now, thanks @scissorsneedfoodtoo!

[2020-06-22 10:34] raisedadead commented on #39116
Thanks for your recommendation. We have an open issue that discusses this. I am closing this as a duplicate.

[2020-06-22 10:34] #39116 closed

[2020-06-22 10:35] raisedadead commented on #39111
Is this a confirmed bug? If yes can we triage as such. Thanks.

[2020-06-22 10:43] #39081 closed

[2020-06-22 13:11] scissorsneedfoodtoo commented on #39060
Awesome! Thanks for confirming that @jonnangle. Hopefully things with Glitch improve soon.

[2020-06-22 16:33] nhcarrigan commented on #39014
We may need to reopen this issue as the bug is still present on a mobile device:
![](https://user-images.githubusercontent.com/63889819/85311948-05cc5900-b46b-11ea-803b-250ecec52c34.png)

This occurs in my browser and in the PWA.

**System Information**
OS: Android 10
Device: LG G7 ThinQ
Browser: Chrome Version 83.0.4103.101

[2020-06-22 17:06] ojeytonwilliams commented on #39111
It is certainly not working as intended.  The entirety of the user's code is inserted into the preview/test iframe's body at which point (I think) the `head` and `body` tags get stripped off.  Hence weird stuff like this https://github.com/freeCodeCamp/freeCodeCamp/pull/39112#issuecomment-647615569

In principle we can change this and, if we can do it, it would be an improvement. It will need care

[2020-06-22 17:28] QuincyLarson commented on #39117
@themagicbean Thanks for pointing this out. I enjoyed reading these articles you linked to.

Due to this ambiguity, I've gone ahead and removed this sentence from this old article. (We don't use Medium anymore, anyway.)

[2020-06-22 17:28] #39117 closed

[2020-06-22 19:28] simarpreetsingh-019 commented on #39075
Maybe I could help in this and do my first good issue. Where to see the code and can you provide youtube video links?

[2020-06-23 11:01] ahmadabdolsaheb commented on #39048
For now, let us unselect radio buttons and we take it from there.

[2020-06-23 11:45] ahmadabdolsaheb commented on #39075
Thanks @simarpreetsingh-019,
There is our theme repo. https://github.com/freeCodeCamp/news-theme

I highly recommend starting from here
https://ghost.org/docs/api/v3/handlebars-themes/google-amp/

and checking out the ghost forum for a solution.
https://forum.ghost.org/

[2020-06-23 11:47] simarpreetsingh-019 commented on #39075
@ahmadabdolsaheb  thanks for this. Could you also attach links of video that should be added to that page?

[2020-06-23 18:09] #39048 closed

[2020-06-24 05:13] thecodingaviator commented on #39048
@ojeytonwilliams w.r.t https://github.com/freeCodeCamp/freeCodeCamp/issues/39048#issuecomment-647338171 , should we leave this issue open?

[2020-06-24 05:22] thecodingaviator commented on #39082
If we're doing this for one challenge, we might as well do it for every challenge. Doing it just for one just doesn't make sense. In addition, referring to https://github.com/freeCodeCamp/freeCodeCamp/issues/39082#issuecomment-645326278 , I agree that this is weird and low-priority. As such, I'd consider it bikeshedding, but what do you guys think @freeCodeCamp/moderators ?

[2020-06-24 05:36] jeremylt commented on #39082
I agree that this is weird and low priority. I only brought it up because I was helping someone on the forum who got a bit confused by it.

On the forum we, or at least I, try to talk about to best practices or reasons for writing code a specific way. Thats not congruent with modeling code that wouldn't be used.

Pedagogicaly, I'd say it might be worth updating this any time we make other changes