[2018-02-10 09:21] #16654 closed

[2018-02-10 09:23] #16675 closed

[2018-02-10 10:24] bqnguyen94 commented on #16677
On it.

[2018-02-10 16:42] #16477 closed

[2018-02-10 19:18] smsrkr opened #16679 "Got certificate claim challenge marked complete before it should be possible"
#### Challenge Name

[Claim Your Front End Development Certificate](https://www.freecodecamp.org/challenges/claim-your-front-end-development-certificate)

#### Issue Description

I have got this checkpoint marked as complete before finishing all prerequisite challenges.

The certificate is not granted in fact, but the "Confirm" buttons in step 2/4 & 3/4 do not seem to work, and "Go to my next step

[2018-02-10 19:25] ooade opened #16680 "Add node as a dependency"
Solves issues like - It doesn't work on my machine.
Credits: https://twitter.com/housecor/status/962347301456015360

[2018-02-10 21:37] ReveurGAM opened #16681 "FCC (regular and Beta) marked as unsafe at public library"
#### Issue Description

I am at the public library and, when I tried to access FCC, regular and beta, I got the same warning (see screenshot).

#### Browser Information

* Browser Name, Version: Chrome Version 63.0.3239.132 (Official Build) (32-bit)
* Operating System: Windows 7 Pro
* Mobile, Desktop, or Tablet: desktop

#### Screenshot

![image](https://user-images.githubusercontent.com/35181004/

[2018-02-10 21:54] ReveurGAM opened #16682 "FCC Beta doesn't behave correctly at public library"
#### Challenge Name
Basic CSS: Use Attribute Selectors to Style Elements
https://beta.freecodecamp.org/en/challenges/basic-css/use-attribute-selectors-to-style-elements
and subsequent ones

#### Issue Description
When I loaded up FCC, I was unable to work on exercises or even navigate using map.  I tried refreshing the screen and even opening it in a new tab.  See screenshot section for more detai

[2018-02-10 22:06] ReveurGAM opened #16683 "FCC Beta Settings has errors at public library"
#### Issue Description

Most settings work (add Twitter, night mode, show public profile, pledge, etc.), others do not (GitHub, LinkedIn).
1) I am logged into GitHub, obviously, but the first time that I clicked on "add GitHub to my profile", I got the error message "Something went wrong."; after that, the screen refreshed if I tried again and there was a message saying it'd updated my profile: "W

[2018-02-10 22:48] Asjas commented on #16682
Hi @ReveurGAM Thanks for your report. This has already been reported in #16468 and #16433 and it is being investigated currently.

[2018-02-11 06:02] raisedadead commented on #16680
Please be precise in your issue reports. Closing, feel free to add the exact issue description and re-open.

[2018-02-11 06:02] #16680 closed

[2018-02-11 06:03] raisedadead commented on #16646
@KatFrog yes, please go ahead. You can check our [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) and reach out for assistance in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors)

[2018-02-11 06:18] raisedadead commented on #16683
Hi this is being resolved and tracked already in the settings page updates. Refer #16412

[2018-02-11 06:18] #16683 closed

[2018-02-11 06:21] raisedadead commented on #16682
Hi @ReveurGAM thanks for report, closing as duplicates of previous issues.

[2018-02-11 06:21] #16682 closed

[2018-02-11 06:25] raisedadead commented on #16681
We use CloudFlare as a CDN in front of our servers. As for the certs, I think they are provided by LetsEncrypt.

@BerkeleyTrue do you think this is due something at our end? I can not think of anything that would be causing this.

[2018-02-11 10:47] akshat-harit opened #16684 "animation-timing-function default is ease, not linear"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-visual-design/change-animation-timing-with-keywords

#### Issue Description

In the text "There are a number of predefined keywords available for popular options. For example, the default value is linear, which applies a constant animation speed throughout.", linear seems to be wrong. The default value seems to be ease (https

[2018-02-11 14:02] systimotic commented on #16681
Looks like our certificate should be good: https://www.ssllabs.com/ssltest/analyze.html?d=freecodecamp.org
![20180211_14-55-37_firefox](https://user-images.githubusercontent.com/7262039/36074113-bec7d826-0f3b-11e8-967d-0e7be8a41a8d.png)
It also says it should run fine on your version of Chrome (as it does for me).

@ReveurGAM Can you check if https://www.opensourceforgood.org/ gives you the same e

[2018-02-11 14:19] raisedadead commented on #16684
@akshat-harit thanks for reporting. Yes please go ahead.

[2018-02-11 14:28] BerkeleyTrue commented on #16681
I don't think this is on our end. We use industry standard certs provided by cloudflare.

[2018-02-11 14:37] ReveurGAM commented on #16681
@systimotic Hi, when I get back to the West Allis Library (Wisconsin), I will try to check.  I don't have this problem anywhere else, which is what makes it odd, but I thought I should report it because I don't want library users to be discouraged from using FCC.

[2018-02-11 16:12] vkWeb commented on #16681
@ReveurGAM Please try running in incognito mode. I'm 100% sure it'll work ;).

[2018-02-11 16:22] ReveurGAM commented on #16681
Next time I'm there, but I wouldn't be surprised if they disabled private browsing, given how locked down the computers are...

[2018-02-11 16:47] vinny1962 opened #16686 "PH7 license were do i start"
#### Learning

friendclass.net

#### Issue Description

I was told this is open source free software can anyone help me to get this fully functional or can anyone point a admin with years of experience seeking a new platform i believe PH7 is about the best i have seen so far.

#### Browser Information

* Browser Name, Version:
* Operating System: Linux
* Mobile, Desktop, or Tablet:

#### Your Code

[2018-02-11 17:26] Asjas commented on #16686
Hi @vinny1962. I am not sure what you are trying to ask but I suspect our gitter channel might be a better place to ask that. It can be found [here](https://gitter.im/FreeCodeCamp/FreeCodeCamp).

[2018-02-11 17:31] Bouncey commented on #16679
@smsrkr Thank you for reporting this issue. I have resolved this in an open PR #16664

[2018-02-11 17:49] #16686 closed

[2018-02-12 02:23] ReveurGAM opened #16692 "[beta] Move a Relatively Positioned Element with CSS Offsets - needs better verbiage"
#### Challenge Name
Applied Visual Design: Move a Relatively Positioned Element with CSS Offsets
https://beta.freecodecamp.org/en/challenges/applied-visual-design/move-a-relatively-positioned-element-with-css-offsets

#### Issue Description
I think it would be easier to understand the effect if it were explained that it's not really moving in the opposite direction, but rather it's moving away fro

[2018-02-12 03:08] vkWeb commented on #16681
@ReveurGAM Ya. So, try clearing all the browsing data (Including cache) and visit the site again.

[2018-02-12 03:09] rdev0rigin commented on #16674
I would agree that the slide could be updated for clarity.

The slide show's instructions are valid and would work for either Bootstrap3 or Bootstrap4. However if there is some future instruction that assumes Bootstrap3 is the version used it might confuse a camper.

`text-primary` is available with either version.
BS4: http://v4-alpha.getbootstrap.com/utilities/colors/#content
BS3: https://getboo

[2018-02-12 07:44] vkWeb opened #16695 "[Beta] There are two scrollbars in the Preview Panel"
### Issue Description
In many challenges eg. [Use a CSS Class to style an element](https://beta.freecodecamp.org/en/challenges/basic-css/use-a-css-class-to-style-an-element) or [Create a block element bootstrap button](https://beta.freecodecamp.org/en/challenges/bootstrap/create-a-block-element-bootstrap-button), there are two scrollbars in the preview panel. There should be a single scrollbar lik

[2018-02-12 08:07] vkWeb opened #16696 "[Beta] Broken tests in React, Redux and React & Redux Challenges."
### Issue Description
There a lot of broken tests in React, Redux and React & Redux Challenges. When clicking on **Run tests** the challenge log gets stuck on **// running tests** and **Something went wrong, please try again later** messages are displayed.

#### Broken tests in React section:
- [ ] [Use Array.map() to Dynamically Render Elements.](https://beta.freecodecamp.org/en/challenges/react/

[2018-02-12 10:31] AdityaOli opened #16698 "React: Write a React Component from Scratch test case issue"
#### Challenge Name
React: Write a React Component from Scratch

https://beta.freecodecamp.org/en/challenges/react/write-a-react-component-from-scratch

#### Issue Description

There seems to be an issue when I try to test the Write a React Component from Scratch module. For example:
It works completely fine when the answer is written as:
[code]
But, when there is only a bracket shifted down in th

[2018-02-12 12:52] KatFrog commented on #16646
Great!  I'll start on this today.

[2018-02-12 13:02] Bouncey commented on #16696
The `challengeSeed` for these challenges have unfinished declarations in them. Babel falls over trying to do it's thing.

The `challengeSeed` has an invalid `render` method in the `Component`. React Components/functions cannot return undefined, Babel falls over trying to do it's thing.

[2018-02-12 13:06] Bouncey commented on #16695
This can be fixed through CSS.

The CSS class for this panel is `challenges-preview`

[2018-02-12 14:09] JimHomme commented on #15639
Hi,
What creates the controls, such as the X that closes the div and the Reset button?

Thanks.

Jim

==========
Jim Homme
Team Lead
Digital Accessibility Group
Bender Consulting Services
412-787-8567
https://www.benderconsult.com/our%20services/hightest-accessible-technology-solutions

From: JazzBrotha [mailto:notifications@github.com]
Sent: Friday, February 9, 2018 12:47 PM
To: freeCodeCamp/free

[2018-02-12 15:14] Sahil624 commented on #14551
@QuincyLarson Can you please look into this problem. It seems to be some backend Problem.

[2018-02-12 15:30] ahmadabdolsaheb commented on #16368
The following is my proposed challenge list @raisedadead @Bouncey.

### challenge list

* Create a simple grid using the position and grid-template-columns property
* Adjust the columns of the grid using the grid grid-template-columns property
* Adjust the rows of the grid using the grid grid-template-rows property
* Control the placement of items on the grid using grid-column and grid-row
* Creat

[2018-02-12 15:56] sammcoe commented on #16698
I've got this.

[2018-02-12 17:28] sammcoe commented on #15838
FYI, this is a little less vanilla using MailHog on a Windows 10 system.  I imagine this has to do with the Windows implementation of the program in general, but it would give me a registration link that looked like:
`http://localhost:3000/passwordless-auth/?email=3Dc2FtdWVsLm0uY29lQGdtYWlsLm=\r\nNvbQ=3D=3D\u0026token=3DrnIUCMxEd6W5tBGf8Et1jQbNk8biLhGgIHODsPJ8MewjOKS0l8XErAoq=\r\nigMIYCK3`

When t

[2018-02-12 17:40] quimbyosis commented on #16695
Mind if I take a crack at this?

[2018-02-12 17:44] Bouncey commented on #16695
Go for it @quimbyosis 👍

[2018-02-12 18:13] raisedadead commented on #16671
Hi @BerkeleyTrue thanks, I am having a hard time getting my local setup running on the `backup/master` branch.

I'll get back as soon as I have that figured out, it crashing every time on the login path. I may have to double check for any dependency mismatch.

[2018-02-12 18:40] BerkeleyTrue commented on #16671
@raisedadead Protip: I have two instances of the fcc git. One forever on the backup/master to keep from having to switch the npm packages back and forth.

[2018-02-12 18:47] raisedadead commented on #16671
Yes, I have had the same as well, to avoid switching.

Its weird that I am getting this crash everytime only at the login:

[code]

[2018-02-12 20:45] BerkeleyTrue commented on #16671
Sounds like there is some function call with undefined arguments trying to destructure an array.

[2018-02-12 21:47] jkao1 commented on #16660
@raisedadead could you point me in the direction of where the requests are made for this particular component? I suspect this is a headers issue. I've looked through the actions, the epics, and the back-end components and have searched with console logs, Redux Logger, and `Redux DevTools`, yet I cannot pinpoint the source of the request.

[2018-02-12 22:01] SilentGamelan commented on #16458
Yeah, I'd agree with the above @yoizfefisch and @davinderpalrehal .

I think it would streamline the HTML section to move the ``for`` element out of its current place, which would also then avoid having to crowbar in an explanation of the ```id``` tag.

I don't think it adds much to the lesson as is, when it can just be covered soon after in the greater context of applied accessibility - I'd be in

[2018-02-12 22:54] sonutiwari commented on #16091
sonutiwari has not yet agreed to our Academic Honesty Pledge.

This message is coming along while I have completed each step. Kindly help @QuincyLarson

[2018-02-12 22:59] ReveurGAM commented on #16681
Ok, guys, I've made a special trip to the library. :)

First, please note this happens on the children's section's computers.  This does NOT occur on the adult computers so, if you're not interested in having kids study on FCC, you might as well close this.  It's probably the filtering from ContentProtect (www.contentwatch.com) and/or SAM (security account manager), so I guess you'd have to contac

[2018-02-12 23:00] ReveurGAM commented on #16681
BTW, after logging out of BFCC, I used Incognito to see if I'd get the error; I didn't.
![image](https://user-images.githubusercontent.com/35181004/36124603-4552e96e-1016-11e8-8f8a-e4f7b40538e3.png)

[2018-02-13 01:54] noorizzwan opened #16703 "# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml hs_err_pid*"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2018-02-13 03:39] bqnguyen94 commented on #16696
I’m on it

[2018-02-13 05:42] lalov1 opened #16705 "React: Create a Controlled Input"
#### Challenge Name
React: Create a Controlled Input

#### Issue Description
I think I have the correct code and it is working like it is supposed to, but I'm not passing the test.

#### Browser Information

Chrome 64 (64 Bit)
Windows 10
Desktop

#### Your Code
[code]
#### Screenshot
![screenshot 2018-02-12 22 35 57](https://user-images.githubusercontent.com/7785251/36135051-c7df27d8-1045-11e8-977

[2018-02-13 06:12] bqnguyen94 commented on #16705
You forgot to add `value` to `input`:

[2018-02-13 07:31] raisedadead commented on #16681
This is due to the protection software, being used at library. Unfortunately that is beyond the scope of this project.

Will have to close.

[2018-02-13 07:31] #16681 closed

[2018-02-13 08:50] ahmadabdolsaheb commented on #16368
# challenge sample
## Create a simple grid using the display and grid-template-columns property

**Challenge Description**

 Turning any element into a css grid is as easy as setting the display and grid-template-columns like the following;
[code]
 Note that number of units in the grid-template-columns property indicates the number of columns of the grid.

### Instructions
Create a grid with three

[2018-02-13 10:41] vkWeb commented on #16695
@masterchef2209 Thanks for showing interest but @quimbyosis is already working on this. You can consider looking at the To-Do card of beta-release [here](https://github.com/freeCodeCamp/freeCodeCamp/projects/1?fullscreen=true).

[2018-02-13 10:49] Bouncey commented on #16468
@BerkeleyTrue
![A graphiql view of the mapUi](https://user-images.githubusercontent.com/18572518/36146133-89c11248-10ab-11e8-84ad-c68b419321ad.png)

[2018-02-13 11:18] vkWeb opened #16707 "[Beta] All Backend Project Tests are Broken"
### Issue Description
All backend project tests eg. [Metricimperial Converter](https://beta.freecodecamp.org/en/challenges/information-security-and-quality-assurance-projects/metricimperial-converter) where we need to put our project's link seems to be broken. On entering `http://example.com/` all test gets passed and I'm pushed to the next challenge.

#### Challenges which needs to be fixed:
- [

[2018-02-13 11:33] jkao1 commented on #16707
This is an issue with our Glitch request. We are encountering a `Unexpected token < in JSON at position 0` error because Glitch is sending back HTML. The error contained within the HTML:

[code]

The issue is already being addressed in #16660.

[2018-02-13 11:45] #16696 closed

[2018-02-13 12:11] raisedadead commented on #16468
Sweeeet!

[2018-02-13 12:12] raisedadead commented on #16660
Requesting @Bouncey for assistance on this.

[2018-02-13 12:12] raisedadead commented on #16707
Thanks @jkao1

[2018-02-13 12:12] #16707 closed

[2018-02-13 12:15] raisedadead commented on #16368
@ahmadabdolsaheb thanks for working on this.
/cc @freeCodeCamp/moderators do weigh in your thoughts

[2018-02-13 12:15] jkao1 commented on #16468
Amazing! If you need any help with Apollo I'm down

[2018-02-13 12:29] Bouncey commented on #16660
@byronholmes @jkao1 This issue is present because the wrong URL is being used.
The backend challenges require the front-facing URL. In this case it is `https://crimson-swim.glitch.me`

It can be found here:
![glitchurl](https://user-images.githubusercontent.com/18572518/36149880-5f52988e-10b9-11e8-9ed4-0f556f688c56.png)

[2018-02-13 12:40] jkao1 commented on #16660
Thank you so much @Bouncey. I want to add feedback/instructions to prevent any confusion around this issue.

I'll open a PR adding sync validation to the URL, making sure a glitch URL with `.../edit/...` is not present in the form.

[2018-02-13 14:53] raisedadead commented on #16703
@noorizzwan please do not spam on the issue tracker. Refer our [Code of Conduct](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CODE_OF_CONDUCT.md)

[2018-02-13 14:53] #16703 closed

[2018-02-13 14:55] raisedadead commented on #16705
Thanks @bqnguyen94

@lalov1 can you check once again as per @bqnguyen94 suggestion. Happy coding!

[2018-02-13 14:55] #16705 closed

[2018-02-13 15:03] raisedadead commented on #16674
All of the challenges, were designed prior to Bootstrap 4 release which was released only recently.

If anyone is interested we can audit the challenges to see for anything that is incompatible. While doing so is going to take a while, and also we may have to bring it in only after beta is shipped.

I'll leave this open, for contribution on that note.

Once that is done the Slide maybe updated.

[2018-02-13 15:08] raisedadead commented on #16668
Hi @iabrenne yes please we would love a PR.

[2018-02-13 15:10] raisedadead commented on #16622
Hi @zk433 @Asjas could you check and report if there are any errors in your browser DevTools console?

[2018-02-13 15:59] Asjas commented on #16622
@raisedadead This is the only thing I get in the DevTool Console.

Chrome
[code]

FF Dev Edition
[code]

[2018-02-13 16:56] zk433 commented on #16622
@raisedadead  strangely, the challenges now mark as complete. I don't know why and what has changed, but it works on my side now.

[2018-02-13 17:41] vkWeb commented on #16622
@raisedadead I tried reproducing this, there are two cases:
- When I'm signed-in
The challenge gets completed and there's a tick mark on the map's block.
- When I'm not signed-in
The challenge gets completed but there's no tick mark on the map's block.

To reproduce, follow the below steps:
1. Open Incognito tab and try the challenges. They'll pass but they'll not be shown as completed on the map.

[2018-02-13 18:39] TJBarrettJR opened #16710 "[Beta] Learn About Self-Closing JSX Tags"
#### Challenge Name
[Learn About Self-Closing JSX Tags](https://beta.freecodecamp.org/en/challenges/react/learn-about-selfclosing-jsx-tags)

#### Issue Description

Removed the comments and closed the tags (Missed the br tag on first attempt failed then fixed) and then attempt failed but then the item rendered on the page.

Fail was from: The provided JSX element should render as is to the DOM nod

[2018-02-13 19:02] raisedadead commented on #16622
This behaviour is expected.

[2018-02-13 21:08] jkao1 commented on #16710
Thank you for reporting the issue! I don't believe we should add directions to render the component to the DOM. It would be inconsistent with the behaviors of all of the other React DOM element challenges.

The render line (shown below) is currently included in the seeds as a solution.
[code]
It is also tested for.

[2018-02-13 21:09] jkao1 commented on #16710
The render line (shown below) is currently included in the seeds as a solution.
[code]
It is also tested for. I'll just open a PR modifying the solution and removing the test.

[2018-02-13 22:29] jkao1 commented on #16710
It's interesting—the `challenge-node` id is reserved for exercises that render HTML Elements to the DOM; I'm not sure how it ended up in the seed file.

I've checked for this unnecessary `ReactDOM.render[ing]` in the other React challenges; no others exist.

[2018-02-13 22:52] TJBarrettJR commented on #16710
@jkao1 that makes sense on why it rendered twice, thank you!

So far I have not seen anything out of the ordinary with the other challenges, but I am still working through it.

[2018-02-13 23:08] TJBarrettJR commented on #16692
I wonder if there is a way to add an additional visual element to help with the confusion?

One idea would be to adjust the challenge to be with colored blocks like in this [Basic CSS](https://beta.freecodecamp.org/en/challenges/basic-css/adjust-the-padding-of-an-element) challenge.

I think adding an image like the above blocks showing before and after with the CSS could be hugely beneficial. May

[2018-02-14 00:25] lucasarvelo opened #16712 "Streak days counter with wrong values"
#### Issue Description
Inaccurate track of the streak days on the profile page.
The calendar keeps the track of the challenges but the streak days value was reset in 7 days.

#### Browser Information
* Browser Name, Version: Chrome, Version 64.0.3282.140 (Official Build) (64-bit)
* Operating System: Windows 10 Home
* Mobile, Desktop, or Tablet: Laptop

#### Screenshot
![streak_days_tracking_issue1

[2018-02-14 04:10] TJBarrettJR commented on #16712
Hey, it looks like this might be a duplicate of [this](#7925) active issue.

[2018-02-14 04:28] TJBarrettJR commented on #16674
I am going to be working through these challenges soon (for beta) and will run through them with both 3 and 4 to see if there is anything 'breaking'.

Currently, the beta curriculum explicitly states bootstrap 3.3.7 on this same slide and throughout the challenges. An update may be something to look into as a post beta review.

[2018-02-14 05:29] lalov1 commented on #16705
Yes, that works! Sorry about that...

[2018-02-14 06:38] raisedadead commented on #16674
Yup, that sounds good @TJBarrettJR

[2018-02-14 06:40] raisedadead commented on #16712
Yes thanks @TJBarrettJR

[2018-02-14 06:40] #16712 closed

[2018-02-14 11:00] Bouncey opened #16714 "Discussion: Disable JS build pipeline when preview is not required"
Whilst QA'ing #16617, I noticed considerable lag whilst using the code editor. I believe this lag is introduced through the combination of the 750ms debounce and the attempt to transform the campers code on the fly.

Should we disable the build pipeline when the preview pane is not required?

@BerkeleyTrue
cc @freeCodeCamp/moderators

[2018-02-14 11:19] #16684 closed

[2018-02-14 11:24] #16698 closed

[2018-02-14 11:30] raisedadead commented on #16714
Yes, that should be a good idea, unless there is a requirement on the build to be used by tests. Right?

[2018-02-14 11:35] Bouncey commented on #16714
The build is also triggered when the `Run Tests` button is pressed, so that shouldn't be an issue

[2018-02-14 11:50] #16406 closed

[2018-02-14 15:18] qmikew1 commented on #16692
I think the simplest way to illustrate would be to take advantage of the fact that there's live output to editor changes (i.e, user could see what's going on as they make changes). Maybe including some default values would help:

Example:
[code]
-Or-
a simple animated gif could illustrate the basic concept
![fcc_css_offset_concept](https://user-images.githubusercontent.com/13352783/36211675-eaf740

[2018-02-14 15:42] TJBarrettJR commented on #16714
I am trying to learn about how FCC works so I am sorry if this makes no sense. And if it does not, please help educate me because I am looking to get more involved.

Would it be possible to put in a toggle of transforming the code on the fly or not, even if the preview pane is used? Then a button to build the preview if the toggle is off? That way if any users experience any lag when the preview p

[2018-02-14 15:43] ReveurGAM commented on #16692
Well, whatever you folks decide.  My point is just that the current wording is actually going to cause confusion.  I've learned the offsets before, and this is the first time I've seen an exercise that made it confusing.

[2018-02-14 16:03] oluwatomigbekele commented on #16671
Thank you very much. It has been solved.

[2018-02-14 16:03] #16671 closed

[2018-02-14 16:32] TJBarrettJR commented on #16692
@ReveurGAM I do agree with you still on the wording, we are just brain storming some other ideas to accompany the words.
Something like:

@qmikew1 I like both ideas, I think the best would be expanding the gif to have the css next to it? Like for top it had the same gif but had css to the side that said "top: 10px;" to show what each did? Ideally, I would think we would want to have the learner ty

[2018-02-14 16:32] raisedadead commented on #16714
Hi @TJBarrettJR

That's awesome, and we would love to have you help us.

Then in challenges that do not need the preview pane it would automatically be off and hidden?
Maybe that is way more complex then I am making it sound, but it sounds like you are talking about building the basic functionality of that anyways.

Yes, we are talking about having this, internally by default. That is without any

[2018-02-14 16:55] #16710 closed

[2018-02-14 17:48] qmikew1 commented on #16692
I generally would agree that learners should be typing as much code as possible; however, in this specific context/challenge, it's not immediately apparent what should go there in terms of top/bottom/left/right (or units). The prior challenge [Change an Element's Relative Position](https://beta.freecodecamp.org/en/challenges/applied-visual-design/change-an-elements-relative-position) there is an e

[2018-02-14 17:50] #16677 closed

[2018-02-14 18:12] ReveurGAM commented on #16692
@TJBarrettJR I like your wording, and I also like the idea of a visual aid.  Not everyone learns from words alone, and FCC doesn't use many visuals.  Yes, you can play with the values and see it change in the preview panel, but I suspect some people don't realize/feel comfortable/or whatever doing that for a variety of reasons.  Anything that stacks the deck in the learner's favor, without taking

[2018-02-14 18:15] mikeATL commented on #16419
This is not working correctly.  It does not detect the </audio> closing tag and gives an error when it is there.
<img width="570" alt="screen shot 2018-02-14 at 1 14 28 pm" src="https://user-images.githubusercontent.com/36350834/36220571-105c0212-1189-11e8-8d6b-c7f9bda2df57.png">

[2018-02-14 18:19] qmikew1 commented on #16692
ty :smile: yep (did it in fireworks)

[2018-02-14 19:25] TJBarrettJR commented on #16692
@ReveurGAM I think there could be a lot of good discussion about the second part of what you put, but I think it may be better suited for the true [forums](https://forum.freecodecamp.org/).

For updating the wording for this challenge. I can certainly look into how to get going on that if you would like? If so, when I get home from work, I will read more into contributing and getting moving on thi

[2018-02-14 19:26] RexfordK commented on #12266
I had this same problem, the OP's answer is correct, except for the fact that the top part of the code should not be changed but all changes should be on the bottom half.  There is also  a slight bug with the page. I solved this by refreshing the page and trying again.

[2018-02-14 19:28] ReveurGAM commented on #16692
@TJBarrettJR Where in the forums would you suggest I put my idea?

If you are up to tackling the wording, I have no objections. Are you going to put in that image that @qmikew1 made? @raisedadead Is this okay with you folks?

[2018-02-14 19:37] TJBarrettJR commented on #16692
@ReveurGAM I would think [here](https://forum.freecodecamp.org/c/contributors) in the contributors category?

[2018-02-15 01:03] #16660 closed

[2018-02-15 04:41] anhtran1906 commented on #16257
@raisedadead hi I wonder if you could help me out with this task. I know where the problem is as above but I cannot add a viewType of type "invalid". Thank you so much

[2018-02-15 05:57] anhtran1906 commented on #16257
This is the UI/UX page I have right now for invalid URLs:
<img width="1113" alt="screen shot 2018-02-15 at 12 56 12 am" src="https://user-images.githubusercontent.com/20694114/36242658-267500aa-11eb-11e8-82af-b32ea1d79a7a.png">

[2018-02-15 06:24] raisedadead commented on #16257
Ok, seems fine to me, please make a pull request and we can have more feedback there. Thanks for working on this.

[2018-02-15 06:30] raisedadead commented on #16692
I think @TJBarrettJR suggestion in https://github.com/freeCodeCamp/freeCodeCamp/issues/16692#issuecomment-365664126 seems reasonable for the verbiage.

Also, I am in favor of the visual aid, @qmikew1 could you upload the GIF to imgur and share a link that can be embedded in the challenge?

And once ready we can have a PR, whosoever amongst you are interested in so.

[2018-02-15 08:17] ahmadabdolsaheb commented on #16368
@raisedadead as far as I understood the first commit should include a new Json named css-grid.json that has similar structure to the css-flexbox.json  but include the followings changes and info:
- change the order of responsive-web-design-projects.json to 7
- set order of css-grid.json 6
- the first challenge should be the introduction with "challengeType": 7.
- the rest of the challenges should

[2018-02-15 08:44] Bouncey commented on #16368
@ahmadabdolsaheb the [challenge style guid](https://github.com/freeCodeCamp/freeCodeCamp/blob/eacd4d7bb08875a995d92951dbad392e8aa1d206/seed/challenge-style-guide.md) has the answers you are looking for 👍

[2018-02-15 08:46] ahmadabdolsaheb commented on #16368
thanks @Bouncey,  this issue is in "deferred until after shipping beta", so the PRs would not be merged until after shipping beta?

[2018-02-15 09:04] raisedadead commented on #16368
We can merge a PR depending on how well we are able to QA, it. Differed status is just so that its not a high priority, for beta.

But that should in no way stop you from working on it in any way. Meaning, if we are able to get challenges QA-ed, we will push them through in the beta itself.

So, if you are ready please proceed with the PR. Thanks and happy contributing

[2018-02-15 09:35] qmikew1 commented on #16692
@raisedadead, @TJBarrettJR [here's the image link](https://i.imgur.com/eWWi3gZ.gif) -imgur can be kind of flaky (if so, I'll use my normal image hosting service)

[2018-02-15 09:42] ninadingole commented on #16692
@raisedadead do we want this image to be present just after the description of the challenge? I can do this.

[2018-02-15 10:37] ninadingole commented on #16190
@alaminos @angelfeliz
I feel to change the wordings as following:
`sort` can be passed a compare function as a callback like `.sort([compareFunction])`. The compare function should return a negative number if `a` is less than `b`, a positive number if `a` is greater than `b`, or `0` if both the values are equal. This returned value from the compareFunction will help the `.sort` method to decide th

[2018-02-15 11:22] BalesabuGodugu commented on #16629
seems fix solution doesn't pass for the challenge.

[2018-02-15 12:09] niketanmoon commented on #11481
type command npm init
then follow the instructions. when they ask you for git repository type git://github.com/yourgithubusername/repository.git

[2018-02-15 13:11] raisedadead commented on #16629
The fix has not been deployed yet, it may take us a while to get into the beta server.

[2018-02-15 13:14] raisedadead commented on #16692
@qmikew1 thanks for the image.

We are undertaking a separate task #15941 for moving over images. Please feel free to follow along and pitch in.

@ninadingole yes, that sounds right.

[2018-02-15 13:35] cxw42 commented on #16512
@huyenltnguyen I agree with your point about unit testing.  However, I am not sure the target audience (which has probably never heard of unit testing ;) ) is best served by totally independent messages, at least in this case.  I am going to see if I can get some input from some non-technical people I know.

[2018-02-15 14:45] rcohane commented on #12637
@BerkeleyTrue Why was this added to "Deferred" even though the missing introduction was added?

[2018-02-15 15:18] raisedadead commented on #12637
Thanks @rcohane

[2018-02-15 15:18] #12637 closed

[2018-02-15 15:54] ReveurGAM commented on #16692
@raisedadead So do you want the image on S3 or imgur?

Also, what about Quincy's note  that he wants to eliminate images, in that thread you just referenced (10/7/17)?

[2018-02-15 16:05] raisedadead commented on #16692
We want to takle this current issue with the imgur, and then on whenever the audit is done on the code-base, we can collectively move over everything to S3.

As for Quincy's comment, I think, we want to keep it to the minimum where it becomes essential.

[2018-02-15 16:06] ReveurGAM commented on #15941
@QuincyLarson On 10/7/17, you said "Very few of the challenges have images, and we're hoping that even fewer have images in the future. We hope to gradually remove a lot of the images that are currently in the curriculum to make it faster and simpler. For example, we've eliminated almost all of the slide challenges."

As an educator, I'm afraid I don't understand.  Images are one way to help learn

[2018-02-15 18:44] anhtran1906 commented on #16257
@raisedadead I opened a PR. Please take a look. Thanks!

[2018-02-15 19:07] andyguo1023 commented on #16377
I investigated the issue. I suspect the challenge was updated, or perhaps the issue was inherently there due to the misleading explanations provided.

`function truncateString(str, num) {
  // Clear out that junk in your trunk
  if (str.length > num && num > 3) {
    return str.slice(0, (num - 3)) + '...';
  } else if (str.length > num && num <= 3) {
    return str.slice(0, num) + '...';
  } else

[2018-02-15 20:02] QuincyLarson commented on #16458
@SilentGamelan @yoizfefisch @davinderpalrehal Great - it sounds like we've all reached a consensus on what needs to be done here. Which one of you would be interested in updating this challenge to remove its use of `for`?

[2018-02-15 20:04] QuincyLarson commented on #16463
Per discussion on https://github.com/freeCodeCamp/freeCodeCamp/issues/16458 we've decided to not pursue optional tests for the time being. I've elaborated on the reasoning behind this decision here: https://github.com/freeCodeCamp/freeCodeCamp/issues/16458#issuecomment-363312711

[2018-02-15 20:04] #16463 closed

[2018-02-15 20:14] QuincyLarson commented on #16368
@ahmadabdolsaheb A bit late to this discussion. Yes - as @raisedadead said, we may be able to merge this into the curriculum before shipping beta. Otherwise, we can QA and merge shortly afterward.

@raisedadead @ahmadabdolsaheb In your opinion, should we add this to the Front End Libraries section or should it immediately follow Flexbox in the Responsive Web Design section?

[2018-02-15 20:27] QuincyLarson commented on #16669
@thadia Thanks for your patience. I've fixed this. It was indeed an issue with a duplicate account in our database. Please see your profile now: https://www.freecodecamp.org/thadia

[2018-02-15 20:27] #16669 closed

[2018-02-15 20:28] QuincyLarson commented on #16565
@tchaffee Thanks for your patience.

@BerkeleyTrue Do you know where this logic resides in the codebase? Could you point @tchaffee in the right direction?

[2018-02-15 20:29] QuincyLarson commented on #16657
@JainJuhi It looks like this is now fixed so I'm closing this. https://www.freecodecamp.org/JainJuhi

[2018-02-15 20:29] #16657 closed

[2018-02-15 20:34] QuincyLarson commented on #15908
@iabrenne Thanks for your extreme patience. I hope the tutorial is going well. Yes - I believe that's correct, but we should ask @BerkeleyTrue about this. He is the most familiar with the routing logic in there.

[2018-02-15 21:01] ReveurGAM commented on #15941
@QuincyLarson I'm afraid you may be laboring under the misapprehension that I wrote that article...Are you referring to the Khan Academy link at the top? It worked for me just now.

As for images being unnecessary, I would beg to differ.  Yes, an image added as fluff, or that is poorly chosen, is unnecessary, however there are real reasons for using images.  I don't know your background, so please

[2018-02-15 21:30] milosrancic opened #16721 "it won't accept closed audio element"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-accessibility/improve-accessibility-of-audio-content-with-the-audio-element

#### Issue Description

It keeps asking me to close audio element, even though i closed it. Tried to reset code, even refreshed the page, still the same.

#### Browser Information

* Browser Name, Version: Google Chrome, Version 64.0.3282.167 (Offici

[2018-02-15 21:56] TJBarrettJR commented on #16692
@ninadingole are you taking care of this? Just want to verify if I should get started on it or not.

[2018-02-15 22:30] jkao1 commented on #16721
Could you provide a screenshot of the tests section? It would be helpful to know which test broke and what error it spouted out.

[2018-02-15 22:31] ahmadabdolsaheb commented on #16368
@QuincyLarson @raisedadead I think it should immediately follow Flexbox in the Responsive Web Design section.

Also, to avoid merge conflict, should I wait for the first PR to be merged before making other PR's for the upcoming challenges?

[2018-02-15 22:43] jkao1 commented on #16721
Strange...this was an issue about a week ago (#16645) and it was fixed by pull request #16653. Yet, I replicated this error (`"Cannot read property 'length' of null"` in the tests console) on <https://beta.freecodecamp.org>. However I've tested your code on my local staging branch and everything works fine.

#16653 was merged early last week, supposedly fixing the troublesome test we're encounteri

[2018-02-16 00:22] #16272 closed

[2018-02-16 00:22] #16384 closed

[2018-02-16 00:34] BerkeleyTrue commented on #15726
production is on a feature freeze. Since this change has already been made, this issue is no longer relevant.

Happy Coding

[2018-02-16 00:34] #15726 closed

[2018-02-16 00:44] BerkeleyTrue opened #16723 "Add webpack code-splitting to codebase"

[2018-02-16 00:48] BerkeleyTrue opened #16724 "Refactor Rx to use Rxjs"
We're already using the newer version of Rx on some non-production paths, but moving over the main codebase requires some forethought and testing.

[2018-02-16 01:02] BerkeleyTrue opened #16725 "Add reflective-bind babel plugin"
https://github.com/flexport/reflective-bind

This should allow use to use arrow functions as props freely without having to stress render churn. There are a couple of spots in the codebase that I added some logic to do this very thing. That logic will need to be removed.

This issue will require testing and forethought.

[2018-02-16 01:04] BerkeleyTrue opened #16726 "refactor redux-form to use react-redux-form"
This issue will require some initial knowledge of react/redux and the structure of the codebase

[2018-02-16 01:05] BerkeleyTrue opened #16727 "refactor codemirror to use eslint"

[2018-02-16 01:34] ninadingole commented on #16692
@TJBarrettJR yes, I am starting on this.

[2018-02-16 02:00] QuincyLarson commented on #15941
@ReveurGAM The link is indeed working again.

Thanks for your feedback. We may consider adding more images in the future.

Our feedback from campers suggests they aren't necessary in most cases.

[2018-02-16 02:47] QuincyLarson commented on #16368
@ahmadabdolsaheb OK - thanks for your feedback. Since these challenges may or may not be ready in time to make it into beta, I recommend continuing to design them on your branch and pushing to the PR.  Then we can merge all of the challenges at once once they are ready.

I left feedback on your PR. You're off to a great start!

[2018-02-16 02:57] mayurnagdev123 commented on #6670
Open the link of your certificate.Enable full screen and then press 'prt sc' key on your keyboard..
Open MS paint and then >right click>paste..
Select the image and crop it ..
Save it in png format..

[2018-02-16 03:09] ninadingole commented on #16651
@raisedadead I did some analysis and the tests for this challenge checks for paddings from the output pane. We need to add the test to assert user-written code.

[2018-02-16 03:49] raisedadead commented on #16721
Hi @jkao1 yup, we deploy staging branch to the beta.freecodecamp.org once every couple days, it is possible that the fix has not been deployed yet.

[2018-02-16 03:56] raisedadead commented on #16721
Yes, I just confirmed that we need to deploy a fresh release on the beta, sorry about the delay. I'll check with @BerkeleyTrue if it supposed to be done soon.

Closing as fixed.

[2018-02-16 03:56] #16721 closed

[2018-02-16 05:11] raisedadead commented on #16348
This is open for contributions.

[2018-02-16 05:39] davinderpalrehal commented on #16458
I would love to work on this.

[2018-02-16 06:18] vkWeb commented on #15688
@oscarwong67 I'm not able to reproduce this on my system. Please try entering ` https://fanatical-psychiatrist.glitch.me` once again and if the issue still persists, we'll have to look at the underlying functionality.

[2018-02-16 06:33] oscarwong67 commented on #15688
The bug has been fixed in the months since this issue was created, from
what I can tell.

On Thu, Feb 15, 2018 at 11:20 PM Vivek Agrawal <notifications@github.com>
wrote:

[2018-02-16 06:33] #15688 closed

[2018-02-16 07:33] ahmadabdolsaheb commented on #16368
@QuincyLarson thank you for the feedback. I will try to get it ready within a week or so. :)

[2018-02-16 11:43] vkWeb commented on #16382
@AustinTice How is everything going?

[2018-02-16 13:31] jkao1 commented on #16348
The "functional form" of `"use strict"` **is not** `"use strict()"`. `"use strict()"` is just invalid JavaScript. The functional form is when you put `"use strict"` as the first line of a function.
[code]

The reason why using `"use strict()"` worked in @mstellaluna 's case was because it didn't mean anything. It would have been the same thing as putting `"dog"`—JavaScript just ignores it.

The re

[2018-02-16 14:35] QuincyLarson commented on #16458
@davinderpalrehal Awesome! It's all you then. Please let me know if I can do anything to help. Looking forward to seeing your updated challenge(s).

[2018-02-16 14:36] QuincyLarson commented on #16368
@ahmadabdolsaheb Awesome! I'm excited to work through the rest of your Grid challenges :)

[2018-02-16 15:24] #16596 closed

[2018-02-16 15:55] Bouncey commented on #15908
@iabrenne The routing is already there, what you need to make this happen is check `this.props.params` in the [Challenges/Show component](https://github.com/freeCodeCamp/freeCodeCamp/blob/9f034f4f790b786256121845c9c2321381a4a725/common/app/routes/Challenges/Show.jsx#L73).

If `this.props.dashedName` is undefined and `this.props.block` is defined, then you are on a block index route and should disp

[2018-02-16 16:03] Bouncey commented on #16565
@tchaffee

You can check the URI with the [`pathnameSelector`](https://github.com/freeCodeCamp/freeCodeCamp/blob/2e410330f1e7a0395a599d0c290c7bbb1782f69e/common/app/Router/redux/index.js#L9)

You use it by passing it into the `mapStatetoProps` method of the [SidePanel component](https://github.com/freeCodeCamp/freeCodeCamp/blob/9f034f4f790b786256121845c9c2321381a4a725/common/app/routes/Challenges/

[2018-02-16 16:09] Bouncey commented on #16433
@Asjas @LiteSoul Can one of you confirm this is still an issue, I think this may have been fixed

[2018-02-16 16:25] Bouncey commented on #16726
👍 great @jkao1, go for it!

[2018-02-16 16:32] Bouncey commented on #16642
@otarza I have been working on this in a pet project, I will give you what I have so far if you wish to continue with it

### docker-compose.yml
[code]

### base.Dockerfile
[code]

### production.Dockerfile
[code]

I can't remember if I got the whole thing working, but i definitely got the db seeding during `compose`

Use it or not, I don't mind. Just thought you might find it useful

[2018-02-16 16:39] iabrenne commented on #15908
Thank you, @Bouncey. Very helpful! I will look through the code, make sense of it, and (hopefully) submit a PR soon.

[2018-02-16 18:09] Asjas commented on #16433
@Bouncey Thank you. :tada:

I can confirm that it is fixed. The map is no longer stuck and I can more around between challenges when I'm logged in.

[2018-02-16 18:49] #16433 closed

[2018-02-16 18:49] raisedadead commented on #16433
Thanks @Asjas

[2018-02-16 22:14] TJBarrettJR commented on #16692
@ninadingole @raisedadead I think that perhaps the image should be instead with a new guide page for this challenge instead of on the challenge itself. Based upon the discussion in [this](https://github.com/freeCodeCamp/freeCodeCamp/issues/15941) issue we may be better suited by having this image in the guide instead with any additional explanation we feel is needed.

I think the wording probably

[2018-02-16 23:18] #15917 closed

[2018-02-16 23:18] #16237 closed

[2018-02-16 23:18] #16271 closed

[2018-02-16 23:18] #16278 closed

[2018-02-16 23:18] #16279 closed

[2018-02-16 23:18] #16285 closed

[2018-02-16 23:18] #16587 closed

[2018-02-16 23:18] #16597 closed

[2018-02-16 23:18] #16599 closed

[2018-02-16 23:18] #16600 closed

[2018-02-16 23:45] otarza commented on #16642
Hi @Bouncey,

Thank you very much, this might be really helpful.

[2018-02-17 05:07] qmikew1 commented on #16692
@TJBarrettJR I like the guide idea (vs. in-challenge) - one of the issues with images is theming (general, page mode (night vs. not etc.) - and I feel like it's easy to break consistency.

[2018-02-17 07:01] akkatracker opened #16730 "U tag to underline - test doesn't check whether text is only thing underlined"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-visual-design/use-the-u-tag-to-underline-text

#### Issue Description

The test doesn't check for whether "Ph.D. students" is the only thing underlined - just whether it is. Unsure if this is the intention (if it is feel free to close), but if not, it needs to be fixed (however absolutely not critical).

#### Browser Informat

[2018-02-17 09:45] akkatracker opened #16731 "Bootstrap CDN URL doesn't wrap in Chrome"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-responsive-web-design-projects/get-set-for-our-responsive-web-design-projects

#### Issue Description

This wraps fine in Firefox on my Desktop, however doesn't wrap in Chrome on my Laptop - making the content extremely hard to copy without zooming out.

#### Browser Information

* Browser Name, Version: Chrome Version 64.0.3

[2018-02-17 10:44] arpitjindal97 commented on #16731
This [file](https://beta.freecodecamp.org/css/main-cb9d117fa4.css) needs editing, just `word-wrap: break-word;` needs to be added at this part
[code]
But i am unable to find this file in any of their repositories.

[2018-02-17 10:55] jkao1 commented on #16731
The file you linked is not actually in the codebase; it is just an asset that was versioned (that was the `-cb9d117fa4` at the end of the file) and thrown into a deployment with minified JavaScript.  (Speaking of minified, shouldn't our `gulpfile` minify our CSS? @raisedadead?)

Usually, the files you get by inspecting source are not exactly like that in the codebase. I recommend using our [contri

[2018-02-17 12:03] Bouncey commented on #16731
Instead of changing the font size, I would rather have some `<wbr>` elements here the url so it can wrap when needed

[2018-02-17 12:08] Bouncey opened #16732 "[Disscussion]: Remove 'squashed commits' requirement"
Now with `Squash and merge`, should we remove all references in the docs and Camperbot about squashing commits?

One reason for is, after reviewing a PR and requesting changes, we lose review comments made against a commit because it doesn't exist any more. This makes checking that requested changes were made more of a memory game.

[2018-02-17 12:32] arpitjindal97 commented on #16731
So, I ran the source locally. Found out that `gulp` is creating `main.css` but still don't know from where it is getting content.

`step-description` style doesn't exists in any of the files in `public/css/*.css` before running gulp

[2018-02-17 12:46] jkao1 commented on #16731
The `public/` directory holds the production build. The real styling happens in `step.less`.
![image](https://user-images.githubusercontent.com/15334952/36341048-3853f552-13b6-11e8-90b5-042c323c0779.png)

That file is located in the `common/app/routes/Challenges/views/step` directory. In the file you will see styling for `.step-description`:
[code]

However, I agree with @Bouncey that a custom tag

[2018-02-17 13:10] arpitjindal97 commented on #16731
When running the source locally, i can't click "Go to my next step".
There is some problem with `bundle.js`.

![screenshot_2018-02-17_18-36-03](https://user-images.githubusercontent.com/15676216/36341260-950d62dc-1411-11e8-880f-4998dcfe4d50.png)

I have never been comfortable with nodejs 😑

[2018-02-17 13:13] davinderpalrehal commented on #16458
This is awesome, @QuincyLarson will touch base with you on gitter later on should be starting work on this tonight. Thanks guys really looking forward to this.

[2018-02-17 13:18] Bouncey commented on #16731
@arpitjindal97 you need to point your browser to `localhost:3000`

[2018-02-17 13:23] arpitjindal97 commented on #16731
`localhost:3000` does not open at all. It keeps loading and never open.

Logs:

[code]

[2018-02-17 13:32] arpitjindal97 commented on #16731
Solved this issue, I have a device in my network whose hostname is `localhost` so it was connecting to the device rather than loopback.

Earlier, I manually wrote the IP Address in .env file to make mongo work but forgot about this.

[2018-02-17 14:36] ReveurGAM commented on #16692
@TJBarrettJR I'm afraid I don't know what you mean by a guide page.  Please explain.

What's wrong with the wording?

I don't follow about the theming.  Unless you're planning to make multiple images to match the themes, which is (IMHO) a waste of space, a single image should be fine.  If you really want to be strict, then you'd need to make sure that all images across the site followed a specific

[2018-02-17 15:14] TJBarrettJR commented on #16692
Hey, I linked the guide on the forums post we were talking in.

[2018-02-17 15:28] ReveurGAM commented on #16692
@TJBarrettJR Yup.  I noticed a typo in what I wrote.  I don't like the idea of putting an image meant to clean up an immediate comprehension problem into the guide.  But, again, it's not my site.

[2018-02-17 17:28] raisedadead commented on #16732
Yes the GitHub bot needs some love, which I intend to do.

[2018-02-17 20:58] vkWeb commented on #16730
@akkatracker The second test reads `The u tag should wrap around the text "Ph.D. students"`. This means it needs to be fixed. Will you be interested in tackling this?

[2018-02-17 22:45] akkatracker commented on #16730
I'm happy to leave it up for grabs

[2018-02-18 02:42] Brybro commented on #16665
@raisedadead - Is assigned or open to be worked on?

[2018-02-18 04:00] iabrenne commented on #16665
@Brybro - I was planning on subbing a PR for this but unfortunately didn't get a chance to. Don't want to speak for @raisedadead but I'd say go for it! :)

[2018-02-18 06:49] vkWeb commented on #16695
@quimbyosis Are you working on it?

[2018-02-18 07:12] vkWeb opened #16738 "Challenge Success modal should not repeat the same Quote"
### Issue Description
In production on completing a challenge, campers get different quotes on different challenges which motivate them on their journey. But in beta the quote `Happy Coding!` keeps on repeating on every challenge.
So, I think we should discuss whether it should be left as it is or should we implement the production's functionality.
@QuincyLarson, I'll be waiting for your input on

[2018-02-18 08:18] raisedadead commented on #16665
@Brybro sure thing, if you are ready please go ahead.

[2018-02-18 10:15] Bouncey commented on #16738
It seems like we have stopped calling the `updateSuccessMessage` action after a challenge mounts/updates. We should enable this again.

[2018-02-18 13:01] vkWeb commented on #16738
@Bouncey Thanks for the quick response. Yes, we should enable that functionality.

[2018-02-18 13:02] vkWeb commented on #16730
@akkatracker No issues.

[2018-02-18 13:43] JazzBrotha commented on #15639
Hey,

That is created in the `Tool-Panel.jsx` file:
[code]

[code]

[2018-02-18 19:39] Hzuni commented on #16730
I'd like to give it a shot. I think I see a fix, but might take a little bit since I've never tried an issue for this project before.

[2018-02-18 21:05] akkatracker commented on #16730
Sure, have a crack! If you need help, feel free to ask here or post in the
gitter

On 19 Feb. 2018 6:43 am, "Hasun Amarasekara" <notifications@github.com>
wrote:

[2018-02-18 21:45] warborn commented on #16738
I would like to work on this issue.

[2018-02-19 03:40] Brybro commented on #16665
@iabrenne @raisedadead - Since I am new to this project, do you mind explaining how I can go about producing this bug?

[2018-02-19 12:02] Bouncey commented on #16336
I have found the issue. It seems that the image search project was removed at the same time the exercise tracker project was added. For some reason, the exercise tracker project was given the id of the image search project.

@QuincyLarson [this commit](https://github.com/freeCodeCamp/freeCodeCamp/commit/b92d3cc62585afb0a6457d81849c27c7ff8a5e6b#diff-7feeb22a99fc88053d8290b0a3e0ab28) is responsible.

[2018-02-19 12:34] sahiljuneja opened #16745 "Button appears twice when running tests instead of just once."
#### Challenge Name

https://www.freecodecamp.org/challenges/clone-an-element-using-jquery

#### Issue Description

- Added the following to the editor as required by the challenge - `$("#target5").clone().appendTo("#left-well");`
- `#target5` appears in both the left and right wells.
- Click `Run tests`.
- `#target5` appears twice in the left well (instead of just once).

Seems like when it's tes

[2018-02-19 12:37] sahiljuneja commented on #16745
In the next challenge https://www.freecodecamp.org/challenges/target-the-parent-of-an-element-using-jquery, with the default code provided, `#target5` appears twice as well, instead of just once.

[2018-02-19 13:37] tchaffee opened #16746 "[BETA] The navbar "Map" link does not work from the User Profile / Settings page"
#### Issue Description
1. Go to https://beta.freecodecamp.org/en/settings
1. Click on the "Map" link in the navbar.
1. Nothing happens. The href attribute is set to #.

#### Screenshot

![image](https://user-images.githubusercontent.com/148813/36380367-cbe4450a-1560-11e8-814e-c8e8660b23ee.png)

[2018-02-19 14:46] Bouncey commented on #16336
This will also effect the ability to claim legacy certs.

I think the easiest way around this is generating a new `ObjectId()` for the exercise tracker project

[2018-02-19 14:47] Bouncey commented on #16238
Blocked due to [issue comment](https://github.com/freeCodeCamp/freeCodeCamp/issues/16336#issuecomment-366670527)

[2018-02-19 14:50] Bouncey commented on #16746
Thanks for reporting this issue, I have already addressed this in #16743

[2018-02-19 16:30] bqnguyen94 commented on #16745
This issue is already resolved in #7430. You can try it in the [beta version](https://beta.freecodecamp.org/en/challenges/jquery/clone-an-element-using-jquery).

[2018-02-19 16:55] QuincyLarson commented on #16336
@Bouncey Nice catch. I'll fix this real quick and open a PR.

[2018-02-19 18:18] tchaffee commented on #16746
Sorry about the dup issue. I did search open issues but didn't find that one. Closing as dup.

[2018-02-19 18:24] Bouncey commented on #16746
@tchaffee it is not a duplicate, I found whilst working it that area and just patched it as I went. We should keep this issue open just incase my PR does not get merged, in which case this will still be an issue

[2018-02-19 18:36] QuincyLarson opened #16748 "Improvements to project view"
Please see screenshot below. I've already removed the references to images from the seed file as part of another PR.

![coding_interview_take_home_projects__build_a_light-bright_app___freecodecamp](https://user-images.githubusercontent.com/985197/36392515-4208c7a0-1571-11e8-94c3-09d5c4d176cb.png)

[2018-02-19 19:23] vkWeb commented on #16748
@QuincyLarson Shouldn't we align the div to the center?

[2018-02-19 19:24] LiteSoul commented on #16433
For me the problem still persists, even after logging out or clearing cache. This is the error now:
![errepic](https://user-images.githubusercontent.com/22918889/36394070-4978a5e4-1591-11e8-97e2-feb9ec242c2c.png)

[2018-02-19 19:49] QuincyLarson commented on #16748
@vkWeb we want the text to be left adjusted and of a limited width for readability reasons.

[2018-02-19 20:19] QuincyLarson commented on #15918
@nsuchy How is this process coming along? I noticed you've been actively QAing [PRs related to this](https://github.com/freeCodeCamp/guides/pull/8078), but I'm just curious how close this is to completion overall.

[2018-02-19 20:21] vkWeb opened #16750 "[Beta] Required Improvements in Search functionality & its UX"
### Issue Description
@Bouncey I was playing with the search bar and found some glitches which need to be addressed.

- [ ] Right-clicking on output search modal or on opening chrome dev tools the modal disappears. It should disappear only when clicked outside the modal.
- [ ] The output search modal is overflowing i.e. it needs a scrollbar.
- [ ] The highlighting style of searched text needs to b

[2018-02-19 20:32] #16270 closed

[2018-02-19 20:32] #16283 closed

[2018-02-19 20:32] #16598 closed

[2018-02-19 20:32] #16661 closed

[2018-02-19 20:32] #16746 closed

[2018-02-19 21:03] nsuchy commented on #15918
I've largely been working more on writing content, I've QAed a few PRs that have fixed a lot of issues. I'll open another branch and check on what still needs to be done and will update you soon. Thanks.

[2018-02-19 21:16] LiteSoul commented on #16433
Yes! It's working now!

[2018-02-19 22:56] LiteSoul commented on #16433
Ok guys, I'm sorry to say that it's not fixed... I'm still stuck.
It worked a few minutes (on a 3Mbps connection), after I cleared the cache and logged in again.
Then turned off my laptop, when to another place (10Mbps) and the problem appeared again.
I don't have any weird chrome extension or anything, and I don't want to clear chrome cache every time... this is the error:

![errepic](https://use

[2018-02-20 05:29] vkWeb commented on #16748
@QuincyLarson Okay. Got it ;).

[2018-02-20 06:30] Brybro commented on #16478
@raisedadead - Is this still open?  If so, I can resolve it.

[2018-02-20 11:59] #16738 closed

[2018-02-20 13:45] LiteSoul commented on #16468
@chethanbhat , @dhuber666 , @kdesCode do you still experience the issue? It may have been fixed. I have it sometimes, but not all the time.

[2018-02-20 14:01] iamseanhooker commented on #5909
`<div class="col-xs-4">
      <button class="btn btn-block btn-primary"><i class="fa fa-thumps-up"></i>Like</button>
    </div>`

I am wondering why this is declared the right code and still not letting me pass the lesson? Interesting.

[2018-02-20 15:08] Bouncey commented on #16750
@vkWeb please raise this issue in [freecodecamp/react-freecodecamp-search](https://github.com/freecodecamp/react-freecodecamp-search)

[2018-02-20 15:09] #16750 closed

[2018-02-20 15:09] vkWeb opened #16753 "[Beta] Passwordless Auth is not working for existing users"
### Issue Description
Passwordless auth is not working for me, I'm unable to sign-in. Showing error: `ERR_TOO_MANY_REDIRECTS`.

### Browser Information
* Browser Name, Version: Chrome & Firefox (latest).
* Operating System: Windows 10 Pro 32 Bit.
* Mobile, Desktop, or Tablet: Desktop.

[2018-02-20 15:10] vkWeb commented on #16750
@Bouncey Done.

[2018-02-20 15:31] laszlotordacsanyi opened #16754 "Beta site error"
On Sun, Feb 18, 2018 at 1:02 PM, Laszlo Torda Csanyi <laszlotordacsanyi@europemail.com> wrote:
Dear FCC Team!

I wanted to submit my completed job in https://beta.freecodecamp.org/en/challenges/applied-responsive-web-design-projects/build-a-technical-documentation-page

#### Issue Description

but the submit fuction not working,does not go further for the next task, and the map section libraries d

[2018-02-20 15:51] raisedadead commented on #16753
Please share the version you are on at time of reporting, `latest` can mean anything.

Also, please add some screen shots, preferably of the browser DevTools as well.

[2018-02-20 15:54] raisedadead commented on #16745
Hi @sahiljuneja this is a long time bug, and unfortunately we do not have a fix for it on the production site (the URL you have shared).

We have made a better platform level changes, to address this in the beta version of our site which we plan to release next.

[2018-02-20 15:54] #16745 closed

[2018-02-20 15:58] raisedadead commented on #16754
Hi @laszlotordacsanyi

Thanks for reporting, this is an ongoing issue https://github.com/freeCodeCamp/freeCodeCamp/issues/16468

Please feel to follow along.

[2018-02-20 15:58] #16754 closed

[2018-02-20 16:20] raisedadead opened #16755 "[beta] make warning in delete progress / account more common to non-native speakers"
![image](https://user-images.githubusercontent.com/1884376/36435587-0cfbcce8-1688-11e8-8cf8-b0ed0130c49b.png)

This message needs to be more common to non-native speakers. Something on lines of

[2018-02-20 16:35] Pepperwheel commented on #5909
@iamseanhooker You’ve got a typo in your code: ‘thumps’ instead of ‘thumbs’. Hope that helps!

[2018-02-20 18:38] pachniakj opened #16756 "Beta does not work in Internet Explorer"
#### Issue Description
Hello All,

I am having browser issues with the Beta version of FreeCodeCamp on my work PC and am wondering if you know if there are settings that I may need to change. None of the links in the webpage seem to be working for me and the area where you normally type your code is a black box that has a vertical white line that moves horizontally across it from left to right. Le

[2018-02-20 18:47] tchaffee commented on #16753
I am seeing this same error when running a copy of the software locally. Here is what I'm seeing in the server logs:

[code]

I cannot find anywhere in the code why it is trying to go to `responsive-web-design-certificate` for the current challenge.

[2018-02-20 18:48] tchaffee commented on #16753
This is happening on multiple browsers. Confirmed Safari on Mac and Chromium on Ubuntu.

[2018-02-20 19:37] jkao1 commented on #16756
A persistent skeleton on the code mirror and the broken links usually mean something broke in React and the virtual dom flipped a table. Could you post a screenshot of the error console?

[2018-02-20 19:43] Brybro commented on #16755
![image](https://user-images.githubusercontent.com/12816276/36445484-09da3b4c-1644-11e8-8830-17e1fad2a156.png)

@raisedadead - How does this look?

[2018-02-20 20:37] jkao1 commented on #16755
@Brybro, small thing: the wording is a bit redundant. I recommend removing the part about how it's permanent. Anything that's irreversible is permanent.

[2018-02-20 21:38] jhomme commented on #15639
Hi,
In case this is helpful, I stumbled upon it.

https://reactjs.org/docs/accessibility.html

[2018-02-20 22:15] pachniakj commented on #16756
I am really new to coding so what is the best way to get to the error console?

Thanks!

[2018-02-20 22:20] pachniakj commented on #16756
Is this what you are looking for?

![error console](https://user-images.githubusercontent.com/36675471/36452382-2d19e092-168c-11e8-88d4-fffc29d262f9.png)

[2018-02-20 22:41] systimotic commented on #16756
@pachniakj Thank you for testing out the beta!

The new version of freeCodeCamp does not work on Internet Explorer. It's also a broken (although not quite as much) in Edge. I believe we do intend to support Edge, but not Internet Explorer. Chrome and Firefox work fine, can you try one of those?

[2018-02-20 22:43] Ishtmeet-Singh commented on #16756
@systimotic Those beta challenges are supposed to work alright? They seem not to be working. Whenever I try to expand the map, it's showing error "Something went wrong". I've been seeing this error for more than 2 days now. In console, it's throwing an error "require not defined". Maybe, you could check that?

[2018-02-20 23:30] alysabax commented on #16756
I am having the same issue as OP. except i am using a mac and am on chrome! its been like this for the last 48 hours! I am also unable to navigate away from this page once in. i.e unable to click to move to map or press the get help from the forum - just nothing happens!
<img width="1280" alt="screen shot 2018-02-21 at 10 00 47 am" src="https://user-images.githubusercontent.com/35865223/36454902-f

[2018-02-20 23:34] jkao1 commented on #16756
Can you send a screenshot of any potential error in the console?

[2018-02-20 23:39] alysabax commented on #16756
<img width="1280" alt="screen shot 2018-02-21 at 10 38 53 am" src="https://user-images.githubusercontent.com/35865223/36455261-7a636578-16f3-11e8-86f5-00ec19d717c3.png">

is this what you're after?
thanks for your help!!

[2018-02-20 23:48] alysabax commented on #16756
<img width="1280" alt="screen shot 2018-02-21 at 10 47 35 am" src="https://user-images.githubusercontent.com/35865223/36455543-ac8f01f0-16f4-11e8-8a95-3838d81ae64e.png">
this is what it says when i follow the link!

[2018-02-21 01:45] Brybro commented on #16755
@jkao1 Thanks for the feedback.  Just fixed it and updated my pull request!  Please let me know what you think!

[2018-02-21 02:29] jkao1 commented on #16755
Looks good!

[2018-02-21 03:15] QuincyLarson commented on #15918
@nsuchy Great - thanks for the update. Yes - I will do what I can to help get your PRs merged in as fast as possible. Just @-mention me :)

[2018-02-21 04:05] QuincyLarson opened #16758 "Adding 7 new sets of systems design questions to seed files"
@ocelotdive has created 7 sets of multiple choice questions for the Interview Prep section.

Here they are: https://github.com/OcelotDive/FCCquestions

We're looking for an open source contributor who can help port these text files over to freeCodeCamp's JSON files so that these challenges will be accessible from the challenge map.

Here's the file where they would go, which already includes a set

[2018-02-21 06:42] vkWeb commented on #16755
@jkao1 Please remove the italics style from text.

[2018-02-21 07:11] raisedadead commented on #16753
I am unable to reproduce on local, and the beta monitoring page does not have any such indication, leading me to the understanding that this is not happening on the beta site itself?.

Comments from OP or @tchaffee do not confirm if its the case for the beta site.

If at all this is reproduced at your end on local then this can be isolated to code changes within the last 4 weeks (since last deploy

[2018-02-21 07:29] jsparanoguy commented on #16758
Hi,
I'm on it, i'll start today after work !

[2018-02-21 07:48] vkWeb commented on #16753
@tchaffee Please log out and try signing in to the beta live site and tell if you're facing the same problem as I'm facing.

@raisedadead There's nothing in the console.

**Chrome[Version 64.0.3282.167 (Official Build) (32-bit)]**

![2018-02-21](https://user-images.githubusercontent.com/26724128/36468158-43c16622-1708-11e8-892b-79cdb4ab7c6c.png)

**Firefox[58.0.2 (32-bit)]**

![2018-02-21 1](https

[2018-02-21 07:53] Bouncey commented on #16753
@raisedadead @tchaffee @vkWeb I can confirm this and I have a fix for it. I found it yesterday and implamented it in a PR I am working on. I thought it was due to a unique set of circumstances I found myself in. But then I saw this comment from @tchaffee in  Contributors chat

I will have a patch submitted shortly

[2018-02-21 08:01] vkWeb commented on #16753
@Bouncey Great! I'll be waiting for the fix.

[2018-02-21 08:37] vkWeb commented on #16756
@jkao1 @systimotic @pachniakj Confirmed. I cleared all my browsing data i.e. cookies and cache and made a new account but still, I'm not able to proceed after the third step and the map is not responding to my clicks.

![2018-02-21 4](https://user-images.githubusercontent.com/26724128/36470247-2fce5136-1710-11e8-87e3-afff908c8c45.png)

[2018-02-21 10:24] cerushdope opened #16760 "Canno't create c9 account without credit card."
As I see in tutorial, in the past you could create account free but now I can't create c9 account without credit card. Any suggestions?

[2018-02-21 13:00] huyenltnguyen commented on #16760
Hi @cerushdope, FCC now recommends using https://glitch.com/ as a c9 alternative.

[2018-02-21 13:50] cerushdope commented on #16760
@huyenltnguyen  yeah, but how can I go on with the tutorial?

[2018-02-21 13:53] Ishtmeet-Singh commented on #16756
@alysabax I am using mac too and on chrome.

[2018-02-21 14:31] clickingmouse opened #16761 "False positive for install-and-set-up-mongoose"
Test script does not test for existence of mongoose.connect(<Your URI>)
As a result, following challenges took a big chunk of time (6 hours!) to debug, as did not think to look at the DB connection

https://deep-date.glitch.me/

#### Challenge Name

https://beta.freecodecamp.org/en/challenges/mongodb-and-mongoose/install-and-set-up-mongoose

#### Issue Description

#### Browser Information

* Brow

[2018-02-21 15:23] #16753 closed

[2018-02-21 15:23] huyenltnguyen commented on #16760
What tutorial are you referring to? Would you mind posting the link here?

[2018-02-21 15:44] systimotic opened #16762 ""Change the Color of Text" challenge does not load"
#### Affected challenge
[Beta: Change the Color of Text](https://beta.freecodecamp.org/en/challenges/basic-css/change-the-color-of-text)

## Issue description
There was a small mistake in a recent change, which prevents this challenge from loading correctly when it is loaded from the server. This means that it works fine when you browse to it using the map, but if you refresh the page or click [a

[2018-02-21 15:49] systimotic commented on #16756
Thanks for all of the extra information everybody! I've determined that there are at least three separate issues here:

1) The original issue with Internet Explorer reported by @pachniakj. Due to the error below, it does not run at all, regardless of which challenge you're currently doing.
![20180221_15-22-30_iexplore](https://user-images.githubusercontent.com/7262039/36485092-92caeb9a-171b-11e8-9

[2018-02-21 15:49] raisedadead commented on #16760
Yes, we need to update the production challenges to recommend using glitch instead.
For example this:

https://www.freecodecamp.org/challenges/manage-packages-with-npm

We anticipate moving to the newer beta edition where this is already done. But for now, its alright if we can replace the links in the challenges, with a a guide to using glitch as an alternative.

Contributions needed:

1. Create

[2018-02-21 15:50] raisedadead commented on #16760
P.S: The original issue https://github.com/freeCodeCamp/freeCodeCamp/issues/9826

[2018-02-21 15:55] Bouncey commented on #16756
@systimotic a fix for the issue that @vkWeb reported has just this moment been pushed to beta, please have another look :+1:

[2018-02-21 16:20] #16755 closed

[2018-02-21 17:23] raisedadead commented on #16756
We should ideally support all latest LTS browsers, just like major platforms.

Example:
https://getbootstrap.com/docs/4.0/getting-started/browsers-devices/
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/if...else > Scroll to bottom for a list.

[2018-02-21 19:12] systimotic commented on #16622
Works for me as well on Windows. I'll assume this has been fixed, as it can no longer be reproduced. If anybody else does still run into this issue, please leave a comment here.

Happy coding!

[2018-02-21 19:12] #16622 closed

[2018-02-21 19:27] systimotic commented on #16527
Thanks for reporting this issue @Giagnus64.

This was intended behavior. It will always show the value of the `collection` variable after running the code in the editor, thanks to the following line:
https://github.com/freeCodeCamp/freeCodeCamp/blob/938d38857e4ee512e213f6a63d735113367ce581/seed/challenges/02-javascript-algorithms-and-data-structures/basic-javascript.json#L5037
In the beta, this do

[2018-02-21 19:50] JazzBrotha commented on #15639
The imported notifications from the `react-notification` module are the real enemy  here as they don't contain any `role` or `aria` attributes or a semantic HTML structure. Even if you manage to `focus` the notification, you can't trigger the functionality for resetting the code via keyboard. The reason being that the HTML element for triggering that functionality is a `span` and not a `button`. I

[2018-02-21 19:56] JimHomme commented on #15639
Hi,
Thank you so much for working on this. I really appreciate it. This means so much.

Jim

==========
Jim Homme
Team Lead
Digital Accessibility Group
Bender Consulting Services
412-787-8567
https://www.benderconsult.com/our%20services/hightest-accessible-technology-solutions

From: JazzBrotha [mailto:notifications@github.com]
Sent: Wednesday, February 21, 2018 2:54 PM
To: freeCodeCamp/freeCodeCa

[2018-02-21 21:53] QuincyLarson commented on #16758
@jsparanoguy Awesome! Sounds great. I've set this to "in progress". Please keep us posted on your progress :)

[2018-02-21 22:28] jsparanoguy commented on #16758
@QuincyLarson i checked it more in depth, initialised the project on local, if i didnt musunderstood it, it will be ready for saturday night (at least saturday nitght for me, sunday morning for you i guess because of the timezone !)

[2018-02-21 23:07] idlesHand opened #16763 "Incorrect answer accepted and passed for challenge: Create a Bootstrap Button"
#### Challenge Name

https://www.freecodecamp.org/challenges/create-a-bootstrap-button

#### Issue Description

I rushed and misread the question and instead of creating a new button as requested I merely edited the existing button and it passed the checks. Realised in next challenge my mistake.

#### Browser Information

* Browser Name, Version: chrome v.64
* Operating System: Linux Mint
* Mobile

[2018-02-22 03:33] renisalcedo commented on #16762
Hi, can I take this one?

[2018-02-22 03:49] vkWeb commented on #16756
@systimotic My issue is fixed. Now, I'm able to sign-in and everything works fine. Thanks to @Bouncey.

[2018-02-22 04:58] #16756 closed

[2018-02-22 05:01] raisedadead commented on #16527
@systimotic yes, you are correct. This still needs to be handled in some challenges, by updating the seed code.

[2018-02-22 06:26] KarthikKadambi opened #16765 "Streak shows wrong value."
#### Challenge Name

Profile Page streak.

#### Issue Description

I have only completed challenges 3 day straight.(From 20th till 22nd feb). Instead of showing streak as 3 it shows 4.

#### Browser Information

* Browser Name, Version: Chrome
* Operating System: Mac 10.13.3
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]
#### Screenshot

<img width="1440" alt="screen shot 2018-02-22

[2018-02-22 07:00] Ishtmeet-Singh opened #16766 "Beta site not working."
Beta site does not seems to work fine since a couple of days. I cannot go to the next challenge, or use map. Whenever I try to click map, i get this error -
![screen shot 2018-02-22 at 12 28 08 pm](https://user-images.githubusercontent.com/30657558/36524441-030b7842-17cc-11e8-968b-d122beca4a94.png)
And when I try to click go to next challenge, this error occurs -
![screen shot 2018-02-22 at 12 27

[2018-02-22 07:12] thisiswhale commented on #16766
Also getting the same error with Firefox on Windows

[2018-02-22 09:47] #16762 closed

[2018-02-22 10:07] systimotic commented on #16766
This sounds like the issue @Bouncey fixed yesterday with #16759. Can you try clearing your cache and trying again?

[2018-02-22 10:12] Ishtmeet-Singh commented on #16766
@systimotic  I did. Still the same problem.

[2018-02-22 10:29] Bouncey commented on #16766
@Ishtmeet-Singh Thank you for reporting this issue. This is related to #16468 and is something I am actively working on.

What you could do to keep the challenges coming is navigate directly to the challenges themselves. Hovering over the challenge in the map will show you the address of the next challenege.
![hover for url](https://user-images.githubusercontent.com/18572518/36533311-1200926c-17bb

[2018-02-22 10:31] Bouncey commented on #16754
Cross-posting so that you can still keep working on the challenges until we get this fixed

![hover for url](https://user-images.githubusercontent.com/18572518/36533311-1200926c-17bb-11e8-8b88-513b546df09e.png)

[2018-02-22 10:31] Bouncey commented on #13953
Cross-posting so that you can still keep working on the challenges until we get this fixed

![hover for url](https://user-images.githubusercontent.com/18572518/36533311-1200926c-17bb-11e8-8b88-513b546df09e.png)

[2018-02-22 10:32] Bouncey commented on #16468
Cross-posting so that you can still keep working on the challenges until we get this fixed

![hover for url](https://user-images.githubusercontent.com/18572518/36533311-1200926c-17bb-11e8-8b88-513b546df09e.png)

[2018-02-22 10:44] systimotic commented on #16548
I'm also seeing the `require is not defined` error on the home page. It has also been reported in https://github.com/freeCodeCamp/freeCodeCamp/issues/15818, which also talks about the solution, so I'm closing this as a duplicate.

Happy coding!

[2018-02-22 10:44] #16548 closed

[2018-02-22 11:05] systimotic commented on #16765
I originally misread the issue when adding the labels 😅. I can't reproduce this issue. [My test account](https://beta.freecodecamp.org/en/fcc4d4f0d2f-f78d-4813-be11-a744dfb686d6) correctly shows a three day streak.

Calculating the streak correctly has been always caused issues. We still have https://github.com/freeCodeCamp/freeCodeCamp/issues/7925 open about it. I believe this may be a duplicate.

[2018-02-22 11:44] Ishtmeet-Singh commented on #16766
@Bouncey  Thank you for mentioning that. Yes, that's possible but by that way, I will not be able to see if the submission is right or wrong. Because, the popup that shows if you're going to move to the next level doesn't pops up.

I think I'll wait for the changes you make in PR and use it afterwards.

[2018-02-22 11:53] Ishtmeet-Singh commented on #16766
@Bouncey Actually, the way you said doesn't seems to work. Because, I cannot see the expanded version of the curriculum. So there are only the headings, and their "url" is something like - `https://beta.fcc.org/en/how-freecodecamp-works#Responsive Web Design`.
But it's not possible to navigation on them.

Here's an image to demonstrate, what I am trying to say.
![screen shot 2018-02-22 at 5 20 33

[2018-02-22 21:03] LiteSoul commented on #13953
That's not possible to do, since this bug prevents the map from working, the drop down doesn't work, the left column (map section) freezes and doesn't open sub-menus on click.

[2018-02-22 21:43] amberferrerolaub opened #16768 "Change the Color of Text challenge won't run test"
https://www.freecodecamp.org/challenges/change-the-color-of-text

I searched for the issue but couldn't find this exact problem - please forgive me if it's there... there's lots to search through. :)

I believe the code is correct but the "Run tests" button won't run the test after completing the challenge. I've tried in Firefox, Chrome and Safari. I've tried resetting the code, clearing cache, re

[2018-02-22 22:05] amberferrerolaub commented on #16768
Just realized my code was wrong and that was the issue! I guess I thought there would be more of an indicator that it was wrong. Sorry! :)

[2018-02-23 01:55] iabrenne commented on #16665
@Brybro - sorry for the delay in responding, but looks like you have figured it out :)

[2018-02-23 03:54] raisedadead commented on #16768
Do you mean the test messages were not shown with your code?

![image](https://user-images.githubusercontent.com/1884376/36577120-378b5286-187b-11e8-877e-ff157397cb79.png)

If that is the case, please share your code here.

[2018-02-23 06:25] akkatracker commented on #15729
Just going through old issues, was this fixed with #16743? https://github.com/freeCodeCamp/freeCodeCamp/pull/16743

[2018-02-23 07:13] raisedadead commented on #15729
Yup. Thanks @akkatracker

[2018-02-23 07:13] #15729 closed

[2018-02-23 07:42] vkWeb opened #16769 "[Beta] "Ctrl + Enter" hotkey not working for Projects"
### Issue Description
The Project sections mentioned below run tests/submit on pressing <kbd>enter</kbd> not on <kbd>ctrl + enter</kbd>:

- [ ] Front End Libraries Projects
- [ ] Data Visualization Projects
- [ ] Information Security and Quality Assurance Projects
- [ ] Coding Interview Take-home Projects

### Browser Information
* Browser Name, Version: Chrome(64.0.3282.186)
* Operating System: W

[2018-02-23 07:49] vkWeb opened #16770 "[Beta] On running tests, the lesson page should automatically scroll down"
### Issue Description
In production whenever tests are run, the lesson panel automatically scrolls down which makes it easier & faster to get information about failing/passing tests. But on Beta we don't have that functionality, scrolling down on each and every lesson is a cumbersome process. So, that functionality should be added.

### Browser Information
* Browser Name, Version: Chrome(64.0.3282

[2018-02-23 11:38] raisedadead commented on #16770
We are under a feature freeze, I am differing this until after beta is shipped, however PRs are still welcome.

[2018-02-23 14:18] ahmadabdolsaheb commented on #16368
here are the challenge descriptions. I would appreciate it if someone could proof read them and make them more readable while I prepare them for PR @moT01

#### Intro
"",
          "CSS grid is a revolutionary layout module that easily accommodates for the implementation of complex web designs in different devices and browsers. It works by creating a grid on which elements could be placed by speci

[2018-02-23 14:33] vkWeb commented on #16770
@raisedadead Okay. We'll do this after beta is shipped.

[2018-02-23 14:34] ahmadabdolsaheb commented on #16448
@raisedadead,
I think the challenges in question are the followings:

Set the font-size for Multiple Heading Elements
Set the font-weight for Multiple Heading Elements
Set the font-size of Paragraph Text
Set the line-height of Paragraphs

Until we find a good solution, I think we should differ them until after beta.
I could create a PR and remove them from seed.

[2018-02-23 16:42] raisedadead commented on #16448
Do you mean remove them now, If yes. I think they are best left as it is so that we are able to collect more feedback.

[2018-02-23 18:09] huyenltnguyen commented on #16760
@raisedadead Thanks for the link. I was totally unaware of the challenge (I went straight to the beta after I finished the front-end cert).

If I may throw in my two cents on the matter,

Agreed.
@QuincyLarson There is an idea just popped up in my head. What do you think about making a short youtube video on this, too? I think the visual would make it easier for users to follow, compared to having

[2018-02-23 18:30] huyenltnguyen commented on #16760
@cerushdope My recommendation, as a camper, is to learn back-end on the beta site (https://beta.freecodecamp.org/en/challenges/managing-packages-with-npm/introduction-to-the-managing-packages-with-npm-challenges). Please note that your progress on beta will be lost once it goes live, so remember to backup your solutions and save it somewhere else.

[2018-02-23 18:49] alysabax commented on #16762
<img width="1280" alt="screen shot 2018-02-24 at 5 48 33 am" src="https://user-images.githubusercontent.com/35865223/36611069-61ed4542-1926-11e8-8d99-693514abe0ab.png">

Hey! I'm still getting these errors!

[2018-02-23 18:53] HebleV opened #16772 ""Javascript is disabled. Something went wrong. Please try again later. " Error"
Unable to execute the first task due the javascript error.

I have just started React tutorials and unfortunately I keep getting the following error for the very first task "**Javascript is disabled. Something went wrong. Please try again later.**"

#### Challenge Name

React
**Create a Simple JSX Element**

#### Browser Information

* Browser Name, Version: Google Chrome, 64.0.3282.167
* Operatin

[2018-02-23 19:24] Whizkevina commented on #16772
Can you try Firefox and then review the code again....

[2018-02-23 19:28] alysabax commented on #16762
@systimotic  :)

[2018-02-23 19:49] vkWeb commented on #16772
@HebleV This issue will be fixed with #16370. @Bouncey Please look into this.

[2018-02-23 20:01] renisalcedo commented on #16762
Hi @alysabax I will take a look asap.

[2018-02-23 20:05] HebleV commented on #16772
@Whizkevina Yes the error shows up even for Firefox

[2018-02-23 20:05] HebleV commented on #16772
@vkWeb Ok thanks for the update

[2018-02-23 20:19] cerushdope commented on #16760
@huyenltnguyen  Alright. Guess everything is settled here. Thanks a lot.

[2018-02-23 20:19] #16760 closed

[2018-02-23 20:31] ahmadabdolsaheb commented on #16448
@raisedadead yes, removing them for now and adding them after beta when they are reworded or categorized more precisely. If they give the wrong idea of semantics, maybe we should not let campers go through them and learn concepts incorrectly : )

[2018-02-23 20:50] QuincyLarson opened #16773 "Projects should have a completion modal upon submission"
This is similar to https://github.com/freeCodeCamp/freeCodeCamp/issues/16596 but for projects.

[2018-02-23 20:51] QuincyLarson opened #16774 "Upon completing a challenge block, subsequent challenge block should be expanded in map"
When I complete the final challenge in a challenge block, and am redirected to the first challenge in the subsequent challenge block, the map should be updated to collapse the previous challenge block and expand the current one.

[2018-02-23 21:12] Facundo-Corradini commented on #16448
@ahmadabdolsaheb  sorry somehow I missed the notifications

The ones you quoted (font-size, font-weight, and line-height) are not directly related to semantics. Except if doing something weird, like having all your texts as `<p>` tags and adjusting the font size when trying to indicate set some as headers. But that clarification is perfectly taken care of in the introduction of the `<h>` and `<p>`

[2018-02-23 21:19] QuincyLarson commented on #16758
@jsparanoguy Awesome! I'm excited to see your work on it! Thanks for keeping us updated.

[2018-02-23 22:18] moT01 commented on #16368
@ahmadabdolsaheb looks great - I hope you like my modifications.

<h4>Intro</h4>
<p>"",<br>
"CSS grid is a revolutionary layout module that easily accommodates for the implementation of complex web designs. It works by turning an HTML element into a grid with your desired number of columns and rows on which children elements can be placed.<br><br>Due to its popularity, CSS Grid is supported by mos

[2018-02-23 22:22] QuincyLarson commented on #16368
@ahmadabdolsaheb Awesome! This is great!

I've gone through and updated the copy of all of these to make it sound like more natural American English.

Note that I dramatically simplified the intro to CSS Grid. These intros should be as succinct and plain-English as possible :)

Also note that I always spell CSS Grid with Grid capitalized. Even though capitalizing "grid" isn't required by the spec,

[2018-02-23 22:45] moT01 commented on #16368
Oh, by the way - I moved the align challenge up one spot - I thought it went better there... and I had a reason but I ended up not doing it - I was going to put something in the areas challenge like `similar to the previous challenge` - so If you want to move it back, go ahead - or if want me to do anything else, let me know

[2018-02-23 22:48] tchaffee commented on #16565
I started to take a look at this and I have a question. Can someone give me an example of how it's possible to do the following:

On the beta site I am only seeing a popup for solutions and no URI that loads code. So seemingly this has changed in Beta? Are there any other places where code could be loaded from a URI? Can someone point me to an example URI?

Thanks!

[2018-02-24 00:22] clickingmouse opened #16775 "Mongoose -Delete Many Documents with model.remove()"
#### Challenge Name
Delete Many Documents with model.remove()

https://beta.freecodecamp.org/en/challenges/mongodb-and-mongoose/delete-many-documents-with-modelremove

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

events.js:160

      throw er; // Unhandled 'error' event
      ^

[2018-02-24 01:12] huyenltnguyen commented on #16760
@cerushdope You're welcome. Happy coding!

[2018-02-24 06:14] raisedadead commented on #16565
@tchaffee that is correct, this use case is no longer valid:

It has indeed been replaced with a modal now, making it way safer than having to parse URI in the editor. So I think loading from URI is no longer in picture.

Now, this brings us to Code Locking / Unlocking. That is when the button should be shown.

Here are some scenarios that I can think of:

1. Campers can re-visit a challenge, from

[2018-02-24 06:17] raisedadead commented on #16565
Oh, yes and the just to note that the URI parsing is still available, and going no-where because the challenge editor is agnostic of the fact that we have a react profile view with modal for solutions.

I'll try and share an example URI if I get some time.

[2018-02-24 06:26] #16336 closed

[2018-02-24 06:30] raisedadead commented on #16238
@Bouncey if you are available, please proceed with this, I have merged the blocking PRs.

[2018-02-24 06:47] #16731 closed

[2018-02-24 06:58] #16730 closed

[2018-02-24 15:58] tchaffee commented on #16565
I would say it doesn't. If a camper copy / pastes code from somewhere else, it's on them to make sure they understand the code, and that the code is safe. This approach also rewards honesty and punishes cheating - if you don't understand what copied code does you should never be pasting it. You clearly could not have written it yourself if you don't understand it, so any damage you cause is a resu

[2018-02-24 16:18] Bouncey commented on #16770
We had this before, where did it go?

[2018-02-24 17:06] raisedadead commented on #16565
Yes, the first two points that you state are the lowest case scenarios for locking the code, to which I agree. And while ideally we should be blocking it. Its an costly thing to do.

Its saved as soon as any code is available in the editor. So copy pasting and typing are the counted in that.

This is the only case that needs to be handled. And again this not a priority for now. The use case for th

[2018-02-24 17:08] raisedadead commented on #16770
Probably, worth looking into the component scrolling.

[2018-02-24 19:34] jsparanoguy commented on #16758
Hi !
It's almost done there is only one problem i have, for the question 4 from https://github.com/OcelotDive/FCCquestions/blob/master/GeneralFCC.txt it doesn’t look like a choice question for me…
so i’m a bit stuck here ! i don't know how to handle this one, but everything else seems ok

[2018-02-24 22:19] elbaumpj commented on #16769
I'd like to take a crack at this when it's ready!

[2018-02-24 23:15] systimotic commented on #16762
@alysabax @renisalcedo Hi! This issue is indeed still present on https://beta.freecodecamp.org. This is because since it has not been updated since I merged @renisalcedo's fix. I can confirm that the fix worked when I tried it out locally. It should start working on the beta site as soon as it's updated, which I expect to be within a couple of days (usually when a major update/fix happens).

[2018-02-24 23:39] systimotic commented on #16766
Thanks for the fix Stuart!

@Ishtmeet-Singh If you refresh the page and don't interact with the challenge, you should still be able to use the map.

[2018-02-24 23:59] systimotic commented on #16769
Thanks for reporting this @vkWeb. This may be related to #16773 /cc @Bouncey

[2018-02-25 00:09] Asjas opened #16777 "[Beta] Challenge - Install and Set Up Mongoose test fails to pass"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/mongodb-and-mongoose/install-and-set-up-mongoose

#### Issue Description

When I submit the glitch app I receive a `timeout`. I checked what is being tested [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/05-apis-and-microservices/mongodb-and-mongoose.json#L79) and when I extended my Glitch url with `

[2018-02-25 00:30] Asjas commented on #16777
I'm posting a working url [here](https://stormy-seat.glitch.me/_api/file/package.json). It passes the Challenge and it also displays the file in the browser. But I need to setup the `server.js` to look like the code I posted above to work.

[2018-02-25 00:39] systimotic commented on #16768
Hi @amberferrerolaub! It looks like this was indeed caused by your code. But as @raisedadead mentioned, if the message did not show up at all, that would be an issue. If that's the case, please let us know and we'll reopen the issue.

Happy coding!

[2018-02-25 00:39] #16768 closed

[2018-02-25 00:44] Bouncey commented on #16769
@vkWeb the project challenge is a form, pressing enter on a form generally submits the form. The issue that's Timo referenced is that the project challenges do not display a completion modal once the challenge has been submitted.

Is it that Ctrl + Enter does not submit the challenge, but that was the expectation?

[2018-02-25 00:54] systimotic commented on #16377
I can confirm that the challenge requirements have been updated, which is why the previous solutions no longer work. Looking into it, I found out I was the one who made this change, one year ago 😄. More details on why it was changed can be found here: #12712

Once the beta is pushed to the live site, the forum and/or Guide article will have to be updated.

Happy coding!

[2018-02-25 00:54] #16377 closed

[2018-02-25 05:59] vkWeb commented on #16769
@Bouncey Yes, that was the expectation as its written on the button.
![capture](https://user-images.githubusercontent.com/26724128/36638595-1472697e-1a1f-11e8-8f78-c32fcf122ba6.PNG)

[2018-02-25 16:50] vkWeb commented on #16758
@jsparanoguy Yes - It is not a choice question, but we can make it a choice one. You can present the question in this manner:

**Q.1) Select the correct Numeric types to their correct size.**
a) Byte - 32 bits, long - 8 bits , int - 64 bits, short - 16 bits.
b) Byte - 8 bits, long - 32 bits , int - 64 bits, short - 16 bits.
c) Byte - 8 bits, long - 16 bits , int - 32 bits, short - 64 bits.
d) Byte

[2018-02-25 17:24] jsparanoguy commented on #16758
@vkWeb Thanksyou !

[2018-02-25 18:27] Hzuni commented on #16763
I'm able to replicate this issue. Were you planning on tackling this issue?

[2018-02-26 02:43] moT01 commented on #16368
@ahmadabdolsaheb @QuincyLarson @raisedadead I took the time to revise the challenges and changed some things based on the advice. Looking for some feedback, this is what I came up with...

<h4>Intro</h4>
[
"",
"<dfn>CSS Grid</dfn> helps you easily build complex web designs. It works by turning an HTML element into a grid container with rows and columns for you to place children elements where you

[2018-02-26 12:35] #16668 closed

[2018-02-26 12:41] ahmadabdolsaheb commented on #16368
@moT01 thanks a lot for the going through the challenges, splitting them and making them much smoother. Please use my bolded modifications as a reference only, and change them as needed.  I look forward to your final draft for finishing the challenges.

Intro
[ "", "CSS Grid helps you easily build complex web designs. It works by turning an HTML element into a grid container with rows and columns

[2018-02-26 12:44] #16695 closed

[2018-02-26 12:45] iabrenne commented on #15908
Just wanted to check in and let everyone know that I am still working on this. It is taking no me a while to get familiarized with the codebase, but am making good progress in understanding how the app is put together. Thank you.

[2018-02-26 15:53] vkWeb commented on #16257
@QuincyLarson @raisedadead I don't know why I'm not able to reproduce this issue anymore on live beta site but the PR is not yet merged. Navigating to an invalid URL shows me 404 page. Was it fixed earlier?

[2018-02-26 18:20] Bouncey commented on #16773
This will be required once we have selective block fetching, adding to pre-QA Critical

[2018-02-26 18:52] QuincyLarson commented on #15908
@iabrenne OK - thanks for the heads-up. I'm thrilled to hear that you're getting more familiarized with the codebase. Thank you for your help with this, and for keeping us posted on it :)

[2018-02-26 18:54] QuincyLarson commented on #16368
@ahmadabdolsaheb Did you see my suggested edits as well? I submitted mine just a few minutes before @moT01 did.

[2018-02-26 18:59] QuincyLarson commented on #16758
@vkWeb Thanks for the suggestion! That's a good set of potential answers.

@jsparanoguy how is this coming along? Let us know if we can do anything to help.

[2018-02-26 19:11] jsparanoguy commented on #16758
@QuincyLarson well i did what i could for the subtitles fields, i'm just waiting for the feedback from the PR if there is anything to change :) !

[2018-02-26 19:31] #13953 closed

[2018-02-26 19:31] #16468 closed

[2018-02-26 19:31] #16766 closed

[2018-02-26 19:55] QuincyLarson commented on #16458
I just got a message from @davinderpalrehal that he won't be able to resolve this issue. Is anyone else interested in helping us with it?

[2018-02-26 20:10] #16361 closed

[2018-02-26 20:52] ahmadabdolsaheb commented on #16368
Yes @quincylarson. @moT01 combined your suggestions in his second draft. It would be great if you could quickly go though the final verson and let us know if you have any suggestions before we post the final draft. : )

[2018-02-26 21:44] QuincyLarson commented on #16565
@raisedadead thanks for the clarification. I agree that we should only lock the button when the user first loads a challenge and there are code parameters in the URL. In all other situations, we shouldn't lock the code, and should just run it when the user clicks the button or hits ctrl+enter the first time.

[2018-02-26 21:48] QuincyLarson commented on #16368
@ahmadabdolsaheb This looks great. I would remove the "Note: the rows and columns are referred to as tracks in CSS grid" and the other two mentions of "tracks" since this is jargon and we don't want to overload the learner with jargon.

[2018-02-26 21:59] moT01 commented on #16368
@QuincyLarson thanks, we will take that as the challenges are close enough to set, that we can start writing the challenge seed code. @ahmadabdolsaheb Let me know if you want help doing that - Ill make those last few mods to the descriptions and hopefully they will be finished. Ill post a link.

[2018-02-26 23:20] jkao1 commented on #16726
@Bouncey, I only recently came across a problem with my packages that's interfering with my ability to work on this refactor. I `npm install`'d a new package to help with my debugging (`redux-logger`) and, if I visit the local site, it tells me that the `index.js`'s cannot be found in two npm packages, `store` and `react-notification`. These are the only packages in `package.json`. that are forks

[2018-02-27 00:39] t-cool opened #16779 "About localization"
I'm trying to set up the freeCodeCamp using Docker on my Macbook.
I found the learning material in seed directory.
All the data seem to be defined in each json file.
In the json files, there is a part named "translations."
For instance, this part seems to be the German translation.

[code]
I'd like to insert Japanese translation as "jpn".

How could I insert and how can I switch to Japanese transl

[2018-02-27 01:48] mstellaluna opened #16780 "Beta - Dark Mode - Profile Heat Map Streaks - Text Blends with Background"
#### Challenge Name

FCC Beta User Profile

#### Issue Description

When reviewing my beta profile, the heat map streaks text is blended with the background.
Needs to be changed to white to conform with the rest of the color scheme.

Missing/Illegible Text:
Longest Streak:
Current Streak:

#### Browser Information

* Browser Name, Version:  Version 64.0.3282.186 64-bit
* Operating System: Windows

[2018-02-27 01:51] mstellaluna opened #16781 "Beta - Dark Mode - Academic Dishonesty Policy - Text Illegible"
#### Challenge Name

FCC Beta User Profile

#### Issue Description

When attempting to read the Academic Dishonesty Policy while in dark mode, the text is illegible.
it is too light against the white background.

Text needs to be darkened

#### Browser Information

* Browser Name, Version:  Version 64.0.3282.186 64-bit
* Operating System: Windows 10 Professional (Latest Updates) 64bit
* Mobile, De

[2018-02-27 02:12] mstellaluna opened #16782 "Beta - External User Profile - "Something Went Wrong" error on loading"
#### Challenge Name

FCC Beta External Profile
My Profile URL used: https://beta.freecodecamp.org/en/mstellaluna

#### Issue Description

When attempting to view my public profile from another computer, the profile comes up but generates a "Something went wrong" error message.

Below is a screenshot of the error from the dev tools console.

#### Browser Information

* Browser Name, Version: Versio

[2018-02-27 02:38] mstellaluna opened #16783 "Beta - Dark Mode - User Profile - Confirmation Message Text Illegible"
#### Challenge Name

FCC Beta User Profile

#### Issue Description

When making changes to profile ( in this case switching from light mode and dark mode) the confirmation alert message at the top (you need to scroll up to see it) the text is illegible, its too light.

#### Browser Information

Browser Name, Version: Version 64.0.3282.186 64-bit
Operating System: Windows 10 Pro 64-bit
Mobile, Desk

[2018-02-27 02:46] mstellaluna opened #16784 "Beta - User Profile - Cannot unsubscribe from weekly emails - not toggling"
#### Challenge Name

FCC User Profile

#### Issue Description

Cannot unsubscribe from Quincy's weekly emails. It is not toggling and no account change
confirmation appears.

Appears to be a broken button.

there is no error in the dev tools console.

#### Browser Information

Browser Name, Version: Version 64.0.3282.186 64-bit
Operating System: Windows 10 Pro 64-bit
Mobile, Desktop, or Tablet: La

[2018-02-27 02:55] mstellaluna opened #16785 "Beta - User Profile - Certifications Settings - Unable to type in fields"
#### Challenge Name

FCC Beta User Profile - Certification Settings

#### Issue Description

I can't seem to be able to type into any of the fields nor am I able to copy/paste a URL
There is no error message that appears in the dev tool console when inspecting the element
I don't see the field as being disabled either

#### Browser Information

Browser Name, Version: Version 64.0.3282.186 64-bit
O

[2018-02-27 03:06] mstellaluna opened #16786 "Beta - User Profile - Dark Mode - About Settings - Hover on Tabs - Text Illegible"
#### Challenge Name

FCC Beta Profile - About Settings

#### Issue Description

When hovering over the tabs in the About Settings in the User profile,
the text becomes illegible as the :hover color is the same as the text
the text needs to be changed to another color

#### Browser Information

Browser Name, Version: Version 64.0.3282.186 64-bit
Operating System: Windows 10 Pro 64-bit
Mobile, Deskt

[2018-02-27 03:26] mstellaluna opened #16787 "Beta - Dark Mode - Search Results - Text Illegible"
#### Challenge Name

FCC Beta Search Bar

#### Issue Description

The search results in dark mode, the text is illegible
I cannot see any words just the orange highlight confirming my search results with my search value

#### Browser Information

Browser Name, Version: Version 64.0.3282.186 64-bit
Operating System: Windows 10 Pro 64-bit
Mobile, Desktop, or Tablet: Laptop

#### Your Code

[code]
##

[2018-02-27 05:30] moT01 commented on #16368
@ahmadabdolsaheb alright, I'm pretty satisfied - the formatting should be correct I think - change anything as you see fit.
[grid challenges](https://raw.githubusercontent.com/moT01/30days30sites/master/gridChallenges.txt)

[2018-02-27 07:04] raisedadead commented on #16779
See:
https://forum.freecodecamp.org/t/guidelines-for-translating-free-code-camp-to-any-language/19111

And then you will have to add an entry here:
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/utils/supported-languages.js

[2018-02-27 07:04] #16779 closed

[2018-02-27 07:39] vkWeb commented on #16785
@mstellaluna I think you have not completed the projects. Please try completing the "Build a tribute page" or any of the Applied Responsive Web Design Project, you'll find that these fields are automatically populated with your project links & then you'll be able to edit/enter your project links.

But yes from UX perspective we need to make this more clear.

[2018-02-27 07:42] vkWeb commented on #16784
@Bouncey Confirmed.

[2018-02-27 07:56] Bouncey commented on #16785
@vkWeb you can complete the project by either the challenge itself or this field in certificate settings. I never had this issue when building it??

[2018-02-27 08:38] jsparanoguy commented on #16787
Hi !
I'm up to do this one (i could take all the dark mode issue that @mstellaluna openned)

[2018-02-27 12:44] mstellaluna commented on #16785
@Bouncey @vkWeb the screenshot doesn't show it but when I click on it the :focus does become active and the cursor is there but it doesn't allow me to type in ... the fields that are not related of the Certificate areas (i.e Internet Presence) I am able to write in them

[2018-02-27 13:31] vkWeb commented on #16785
@Bouncey No - I'm not able to complete the projects by entering links on the certification settings fields. To reproduce please reset all your progress and then try again entering links.

[2018-02-27 14:08] Bouncey commented on #16785
@mstellaluna @vkWeb I am unable to reproduce locally, I have been all over the code for this whilst build [the claim legacy certs feature](https://github.com/freeCodeCamp/freeCodeCamp/pull/16788)

[2018-02-27 14:16] elbaumpj commented on #16458
@QuincyLarson I'd love to take a crack at this one!

[2018-02-27 14:21] nethanelkohen commented on #16786
I'd like to take care of this!

[2018-02-27 14:30] Bouncey commented on #16785
I have it, I hadn't rebased and was missing some new code. I believe I have fixed it also. PR incoming.

[2018-02-27 14:37] tchaffee commented on #16565
As soon as someone can give me an example of code in the URL, I can start working on this.

[2018-02-27 14:51] Bouncey commented on #16565
@tchaffee We test for code in the URI [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/6cf3fb60493fd96711b60f1a70db252725727d73/common/app/routes/Challenges/redux/code-storage-epic.js#L110).

You can dispatch an action to lock the code in the if block like this

[code]

[2018-02-27 14:51] nethanelkohen commented on #16786
@mstellaluna Would you be able to point me to the correct file? I'm having a bit of trouble navigating this on my machine. Thank you in advance

[2018-02-27 14:52] Bouncey commented on #16565
that should keep you productive until we can get you a code URI to play with

[2018-02-27 16:32] HebleV commented on #16783
Hey  I am on this.

[2018-02-27 16:34] vkWeb commented on #16785
@Bouncey You're a super hero ✨- From react settings page, faster initial fetch of challenges to react babel errors, beta has lifted up to an another level!

[2018-02-27 18:10] SemperPeritus commented on #16769
Can't reproduce.
Browser: Vivaldi | 1.14.1077.55 (Stable channel) (64-bit) (Chrome/64.0.3282.189)
OS: Windows 10 Pro 64-bit

[2018-02-27 19:05] moT01 opened #16791 "Beta: Search bar showing no results / not working"
#### Unable to get search results when using the search bar on beta

The issue seems to work like this:
**I can search successfully as many times as I want until I switch pages.**
For example: If I'm on the settings page, I can make searches just fine - then I go to the map page and searching doesn't work.
If reload the base url, the map is open and I can make searches - then go to the settings pa

[2018-02-27 19:21] moT01 opened #16792 "Beta: First time users can't open map from other pages"
#### Beta: First time users can't navigate to the map until they have selected a challenge

Here's what happened...
I created an account on beta for the first time and went straight to the settings page after logging in. From there I could not open the map. I was able to reload the base url to bring up the map page. I went to settings, and again could not open the map. It was only after reloading

[2018-02-27 20:33] mstellaluna commented on #16792
In my case, also from the settings page the map does not open. I have to go to my browser's address bar and head back to the beta's homepage to get the map to work.

[2018-02-27 20:55] QuincyLarson opened #16793 "flash messages sometimes don't show in Chrome"
Steps to reproduce:

1. Create a new account
2. claim a certificate, but don't accept the academic honesty pledge
3. attempt to view a certificate. In Firefox, you'll see a flash message:

![cursor_and_profile___freecodecamp](https://user-images.githubusercontent.com/985197/36754150-da64afac-1bcd-11e8-9ff2-d0bc84a79559.png)

But in Chrome you won't see the flash message - it will just redirect you

[2018-02-27 21:00] mstellaluna commented on #16791
added beta label

[2018-02-27 22:00] mstellaluna commented on #16791
To give further details, searching via the search bar is inconsistent.
there seem to be a few issues:

1) searching for ELEMENTS produces no results but elements gives results. Same if i search for CHECKBOX vs checkbox, uppercased search value isn't producing any results

2) searching for words in challenge names is inconsistent. If I search for 'html' and I know we do have HTML in the title of so

[2018-02-27 22:13] mstellaluna commented on #16792
Here are some screenshots to give a visual of what is happening:

from the main page:
![image](https://user-images.githubusercontent.com/22984739/36758038-257578ec-1be1-11e8-8494-3a48bc0025f9.png)

from settings page:
![image](https://user-images.githubusercontent.com/22984739/36758158-92454d08-1be1-11e8-896d-2a0ef19155ff.png)

[2018-02-28 02:37] mstellaluna opened #16795 "Beta - "HTML/HTML 5 - Link to Internal Sections of a Page with Anchor Elements" loads empty preview"
#### Challenge Name

#### Issue Description

When arriving at the "HTML HTML 5 - Link to Internal Sections of a page with anchor elements" lesson,
the preview loads an empty screen.

When you start to type in code the page suddenly refreshes and the preview pane is showing the contents from the previous challenge

On page refresh an error appears on the dev console, screenshot is available below

[2018-02-28 07:55] vkWeb commented on #16795
@mstellaluna I'm not able to reproduce it. I loaded many challenges of HTML section and they all are loading with the preview. Also, that typing behaviour is expected. I think we should close this?

[2018-02-28 10:41] Bouncey commented on #16478
@raisedadead @BerkeleyTrue, how do we update the boiler plate? Who owns the boilerplate projects on gomix?

[2018-02-28 11:19] raisedadead commented on #16478
I believe @Em-Ant should have the access to these, or @QuincyLarson

[2018-02-28 12:06] #16777 closed

[2018-02-28 12:43] mstellaluna commented on #16795
@vkWeb I am able to reproduce this error on two different computers and in the live copy and local copy of Beta. Please check with @Bouncey, @systimotic and/or @raisedadead  before closing this out.

[2018-02-28 13:51] #16783 closed

[2018-02-28 13:58] Bouncey commented on #16772
This is now resolved in staging, just waiting for it to be released in to the wild

[2018-02-28 13:59] #16772 closed

[2018-02-28 14:04] vkWeb commented on #16795
@mstellaluna No - I'm not a moderator, I cannot close issues 😅. Actually, I was asking you to close.

Okay, I'll try to confirm this in our contributor's chatroom.

[2018-02-28 14:07] vkWeb commented on #16772
@Bouncey Ya! ✨

[2018-02-28 14:15] mstellaluna commented on #16795
@vkWeb sorry i don't close any issues, i don't get involved that is why i tagged the core team members.

[2018-02-28 14:15] Bouncey commented on #13225
Closing as resolved in staging

[2018-02-28 14:15] #13225 closed

[2018-02-28 14:22] Bouncey commented on #16769
@vkWeb, I don't think there is an easy fix for stopping the form from submitting on pressing `enter`, It would require us to modify the `redux-form` package.

I cannot reproduce the `not submitting on crtl + enter` issue you mention.

[2018-02-28 14:26] vkWeb commented on #16795
@mstellaluna Okay.

[2018-02-28 14:36] Bouncey commented on #16791
@moT01 thank you for finding this issue and @mstellaluna thank you for the extra information.

Please can you raise points 1 & 2 in the freecodecamp/search repo, as they are related to how we query the search engine.

Point 3 I cannot reproduce, but I think it should go to the freeCodeCamp/react-freecodecamp-search repo, as that holds the code for the the search bar, and I think it would be best r

[2018-02-28 14:36] #16791 closed

[2018-02-28 14:41] vkWeb commented on #16769
@Bouncey I think you're using Firefox? This isn't reproducible in Firefox.

[2018-02-28 14:41] Bouncey commented on #16795
@mstellaluna this is a security feature in chrome that we are resisting the urge to modify. We only set the iframe (preview) to `allow-scripts` when you decide to edit/run the code.

@raisedadead have I got that right? Is there anything we could do to aid UX?

[2018-02-28 14:41] vkWeb commented on #16769
@Bouncey Also, entering https://example.com passes the test. Is this behaviour expected?

[2018-02-28 14:47] mstellaluna commented on #16795
@Bouncey the other challenges prior and after don't have this issue. the preview comes up as it should. this one particular one for some odd reason I need to type in the editor for it to show up... that's why I opened the issue

[2018-02-28 15:08] Bouncey commented on #16769
We have no test suite for projects, so yes. This is the same as the current production site also.

[2018-02-28 16:24] willimsbw opened #16800 "Pairwise Language Clarification"
#### Challenge Name

Pairwise: https://www.freecodecamp.org/challenges/pairwise

#### Issue Description

The phrasing of the rule: **"If multiple pairs are possible that have the same numeric elements but different indices, return the smallest sum of indices. Once an element has been used, it cannot be reused to pair with another."** could be interpreted multiple ways, for example:

1) If you have

[2018-02-28 16:35] raisedadead commented on #16795
@Bouncey @mstellaluna

There are a couple of things going on here. And I guess this is a bit tricky problem

To reproduce:
1. Start a incognito window.
2. Visit any challenge with the Cat Photo image for example https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/turn-an-image-into-a-link
3. You should see this happening.

So, I think this is not limited to any challenge.

Because,
If

[2018-02-28 17:04] #16784 closed

[2018-02-28 17:05] #16782 closed

[2018-02-28 17:05] #16785 closed

[2018-02-28 17:43] Bouncey commented on #16795
@BerkeleyTrue do we want to trigger the build pipeline on `appMount` to combat this?

[2018-02-28 19:04] QuincyLarson opened #16801 "Multiple choice challenge bug"
Steps to reproduce:

1. Start a multiple choice question challenge and answer one or more of the questions.
2. On the map, choose another multiple choice question challenge

You'll notice that whichever question you were on in the previous challenge, you'll stay on the subsequent challenge.

Here's a gif that demonstrates this:

![multiple choice bug mov](https://user-images.githubusercontent.com/

[2018-02-28 19:13] #16758 closed

[2018-02-28 19:22] #16748 closed

[2018-02-28 22:55] QuincyLarson commented on #16478
@raisedadead I have access to these, but @Em-Ant has the deepest understanding of them. I'll message him and see if he can fix this.

[2018-02-28 22:56] QuincyLarson commented on #16458
@elbaumpj Great! It's yours! Thanks for your help! Please keep us posted on your progress with this :)

[2018-02-28 23:00] QuincyLarson commented on #16368
@ahmadabdolsaheb @moT01 OK - great! Which of you is going to add these to the seed file? Excited to have coverage of these!

Also, since you're updating this, would you be interested in also adding a few challenges about CSS variables to the end of the basic CSS section? They are new, but they're widely supported by browsers. Here's an article we recently published on them: https://medium.freecode

[2018-03-01 03:31] davidstulajter commented on #10523
Still no luck, it is not working. #1E90FF still does not work.

[2018-03-01 06:04] raisedadead opened #16803 "[beta] Unable to get any challenges from a superblock that I did not start with in the first place."
Unable to get any challenges from a superblock that I did not start with in the first place.

1. Started with ES6, and then signed in on fresh instance of the browser.
2. Went to the HTML super block.
3. Clicked through a few challenges.
4. I am getting the empty state.

![image](https://user-images.githubusercontent.com/1884376/36829210-1a35a2a4-1d44-11e8-9265-0b83c284cae2.png)

[2018-03-01 06:04] raisedadead commented on #16803
/cc @Bouncey

[2018-03-01 06:05] raisedadead commented on #16803
Probably relates to a recent splitting of the superblocks?

[2018-03-01 06:28] Bouncey commented on #16803
@raisedadead are you getting anything weird in the terminal? Something like `getting challenges for undefined block`?

Do you see debug output for both the mapUi and challenge service for the page without challenge descriptions?

[2018-03-01 06:36] Em-Ant commented on #16478
Hi guus. The projects are owned by camperbot github account, so you should be able to access them. Anyway I'll have a look this evening.

[2018-03-01 07:08] vkWeb commented on #16769
@Bouncey Okay.

[2018-03-01 07:46] raisedadead commented on #16478
Thanks for the update @Em-Ant !

[2018-03-01 07:49] raisedadead commented on #16368
Yes, but probably not very soon.. we need to have testable platform for that. We are limited to the browser for now.

[2018-03-01 08:20] vkWeb opened #16804 "[Beta] Preview is improper during JS warning"
### Issue Description
On typing/editing, a JS warning comes up in the preview pane which distorts the preview. Here are some screenshots to clarify that. I'm seeing this issue since PR #16737 was merged.

**When there's no JS warning: The preview is complete as all the eleven hellos are printed properly.**

![without js](https://user-images.githubusercontent.com/26724128/36833859-ceaff920-1d56-11e

[2018-03-01 08:47] vkWeb commented on #16780
@mstellaluna PR incoming. It'll cover all night mode settings & profile page style issues.

[2018-03-01 09:32] Bouncey commented on #16803
So you are on the live beta site?

Re-do your steps to reproduce with the network tab open, you should see a request to

`/services/challenge;blockName=${theBlockYouJustClicked};lang=en...`

Has that resolved by the time you click on a challenge?

[2018-03-01 10:25] adiconstante commented on #16781
Hi, I'd like to work on this (:

[2018-03-01 11:31] raisedadead commented on #16803
Here is how its playing out on beta:

1. Visit a previous challenge from my solved challenges for example:
https://beta.freecodecamp.org/en/challenges/es6/compare-scopes-of-the-var-and-let-keywords

   Network Log:
   ![image](https://user-images.githubusercontent.com/1884376/36842306-4e237d2a-1d71-11e8-9c25-99d429c0db52.png)

   Which is:
   `https://beta.freecodecamp.org/services/challenge;block

[2018-03-01 13:09] Knochenmark commented on #16436
@raisedadead i am pretty sure you can close this. I think the original bug in the test suite was raised by me and @tbushman fixed this already. For reference https://github.com/freeCodeCamp/testable-projects-fcc/issues/273

[2018-03-01 14:08] ahmadabdolsaheb commented on #16368
@qunicyLarson, PR ready.
@raisedadead if you come across something that has a potential to be used for future react native challenges, could you please let me know.
@moT01 thank you for all the help.

[2018-03-01 14:08] tbushman commented on #16436
Hey, sorry. The Bar Chart Codepen still has misalignment. But it's code is not part of this repo. I'll need to contact the author or someone with access to it.

[2018-03-01 14:38] Bouncey commented on #16803
A quick update. I have reproduced this locally by throttling the network and selecting a challenge in a different block to my initial block.

If I click the challenge before the challenge service has resolved, I get the `Happy coding` placeholder text.

What is strange is that, after the challenge service has resolved, the challenge description/seed does not update.

I have created a loader to inf

[2018-03-01 14:43] mstellaluna opened #16808 "Beta - ARWD Projects - Tribute Page - Tests failing with assert errors when using CDN"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-responsive-web-design-projects/build-a-tribute-page

#### Issue Description

On my codepen I have a partially coded tribute page.
[Tribute Page](https://codepen.io/mstellaluna/full/wyNBNJ/)

There are no 'user stories' that I can find on the project description (this will be another issue).

I took the CDN https://gitcdn.link

[2018-03-01 14:45] oukokusen commented on #16803
close

[2018-03-01 15:08] rubber2018 commented on #8833
// Setup
function testNotEqual(val) {
  if (val != 99) { // Change this line (note: u don't have to put 99 into ' ').
    return "Not Equal";
  }
  return "Equal";
}

// Change this value to test
testNotEqual(10);

[2018-03-01 15:46] huyenltnguyen commented on #16368
@ahmadabdolsaheb I just saw your PR and came here to say thank you for the great work. CSS Grid is on my to-learn list, so I'm really looking forward to playing with those challenges (and QA'ing them, too) once they get merged. 😄

[2018-03-01 15:52] ahmadabdolsaheb opened #16809 "[beta] Adding CSS Variables Challenges"
@moT01 and I are interested in developing the CSS variables challenges and look forward for your challenge ideas and feedback.
@QuincyLarson

[2018-03-01 16:02] moT01 commented on #16368
@ahmadabdolsaheb + @moT01 - I put in quite the effort as well. Just trying to get credit where it's due - it was a team effort and I think we work pretty good together - I hope everyone likes them. @huyenltnguyen

[2018-03-01 16:41] ahmadabdolsaheb commented on #16368
Thank you  @huyenltnguyen : ). The CSS Grid Challenges would have not been possible without @moT01 who did most of the work. I hope you enjoy them.

[2018-03-01 17:22] huyenltnguyen commented on #16368
@moT01 Yes, thank you, too! Sorry, I saw the PR and was so exited that I didn't even scroll up this thread to read all the discussion 😅 Great work guys!

[2018-03-01 17:41] QuincyLarson commented on #16478
@Em-Ant Awesome! Thanks for looking at these. Please keep us posted :)

[2018-03-01 17:42] QuincyLarson commented on #16809
@ahmadabdolsaheb Awesome! Yes - I recommend using this a s a reference: https://medium.freecodecamp.org/everything-you-need-to-know-about-css-variables-c74d922ea855 and putting these at the end of the CSS section.

[2018-03-01 17:42] Knochenmark commented on #16436
@tbushman So the issue i linked is unrelated? Sorry, my bad then.

[2018-03-01 18:37] tbushman commented on #16436
@knochenmark It is related. The Bar Chart test now accommodates the official fCC Bar Chart Codepen misalignment with an 11px leeway. That code is not, however, part of this repo. I'll close this.

[2018-03-01 18:37] #16436 closed

[2018-03-01 18:41] mstellaluna opened #16810 "Beta - Projects - Add instructions where to locate user stories"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/applied-responsive-web-design-projects/build-a-tribute-page
#### Issue Description

On the main project description pages, there are no instructions on how a camper can find out how to locate the user stories.

If a camper just opens the working example and does not run the tests (it seems the user stories are located there), they wi

[2018-03-01 19:09] anhtran1906 commented on #16219
I wonder if anyone's been working on this because I'm interested in contributing to some of the feature/fix listed above.

[2018-03-01 20:32] mstellaluna opened #16811 "beta - set the font family of an element - passed without semicolon in CSS rule"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/basic-css/set-the-font-family-of-an-element

#### Issue Description

The challenge allows the code to pass when the semicolon is omitted from the CSS rule

#### Browser Information

Browser Name, Version: Chrome 64.0.3282.186 64-bit
Operating System: Windows 10 Pro 64-bit
Mobile, Desktop, or Tablet: Laptop

#### Your Code

[code]
###

[2018-03-01 20:52] Em-Ant commented on #16478
Hi @psitronic , can I see your code or your glitch project link ? I just tested it in beta.freecodecamp with the original project that I used to develop these challenges, and it worked. If you want I can share the link here or in gitter to compare the solutions.

[2018-03-01 21:25] moT01 commented on #16809
- First Draft:
### 1 Introduction to CSS Variables
  `CSS Variables` are a way to quickly change multiple CSS property values throughout your stylesheet. After setting up a variable and assigning it a value, you can style other elements by referencing that variable.

### 2 Invent a custom CSS variable
  To create a `CSS Variable` you just need to give it a name with `two dashes` in front of it, an

[2018-03-02 00:38] Uhurustar commented on #11631
`
function myLocalScope() {
  'use strict';

  console.log(myVar);
}
myLocalScope();

// Run and check the console
// myVar is not defined outside of myLocalScope
console.log(myVar);

// Now remove the console log line to pass the test`

[2018-03-02 00:40] Uhurustar commented on #11631
@staffordr  I posted the current code I have. I did a hard refresh on my Chrome browser and still this fails. Any ideas. I'm lost.

[2018-03-02 01:08] a7mam7ma opened #16812 "[beta] Applied Responsive Web Design Projects - guide links are broken"
#### Challenge Name

Applied Responsive Web Design Projects

#### Issue Description

When i click get hint on any of the Applied Responsive Web Design Projects it redirects me to a non-existing guide url.

**e.g**
[build a tribute page](https://guide.freecodecamp.org/certificates/build-a-tribute-page)
[Build a Personal Portfolio Webpage](https://guide.freecodecamp.org/certificates/build-a-personal

[2018-03-02 01:52] mstellaluna commented on #16812
@a7mam7ma Hello the projects do not have a Hint Guide for them. Within the instructions there is a working example link you can click on to view what is required. To find out the user stories, you need to click on the 'Run Tests' button and once its completed you need to select the green 'Tests' button to see the requirements.

[2018-03-02 02:46] a7mam7ma commented on #16812
@mstellaluna so get hint button should be disabled for projects, right?

[2018-03-02 04:20] mstellaluna opened #16813 "Beta - Add Different Margins to Each Side - Guide Page 404 Not Found"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/basic-css/add-different-margins-to-each-side-of-an-element

#### Issue Description

When selecting the 'Get Hint' button, it re-directs you to the guides but there is no guide page for this challenge.

Returns Page not found.

#### Browser Information

Browser Name, Version: Chrome 64.0.3282.186 64-bit
Operating System: Windows 10 Pr

[2018-03-02 04:34] mstellaluna opened #16814 "Beta - HTML/HTML5: Introduction to HTML5 Elements - Guide Page 404 Not Found"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/introduction-to-html5-elements

#### Issue Description

When selecting the 'Get Hint' button, it re-directs you to the guides but there is no guide page for this challenge.
Returns Page not found.
https://guide.freecodecamp.org/certificates/introduction-to-html5-elements

#### Browser Information

Browser Name, V

[2018-03-02 04:37] mstellaluna opened #16815 "Beta - Link to Internal Sections of a Page with Anchor Elements - Guide Page 404 Not Found"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/link-to-internal-sections-of-a-page-with-anchor-elements

#### Issue Description

When selecting the 'Get Hint' button, it re-directs you to the guides but there is no guide page for this challenge.
Returns Page not found
https://guide.freecodecamp.org/certificates/link-to-internal-sections-of-a-page-with-anchor-

[2018-03-02 04:42] mstellaluna opened #16816 "Beta - Declare the Doctype of an HTML Document - Guide Page 404 Not Found"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/declare-the-doctype-of-an-html-document

#### Issue Description

When selecting the 'Get Hint' button, it re-directs you to the guides but there is no guide page for this challenge.
Returns Page not found.
https://guide.freecodecamp.org/certificates/declare-the-doctype-of-an-html-document

#### Browser Informatio

[2018-03-02 04:46] mstellaluna opened #16817 "Beta - Define the Head and Body of an HTML Document - Guide Page 404 Not Found"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/define-the-head-and-body-of-an-html-document

#### Issue Description

When selecting the 'Get Hint' button, it re-directs you to the guides but there is no guide page for this challenge.
Returns Page not found.
https://guide.freecodecamp.org/certificates/define-the-head-and-body-of-an-html-document

#### Browser

[2018-03-02 04:48] mstellaluna commented on #16812
@a7mam7ma
I agree, I suggest to leave this issue open so it can be reviewed and discussed.
Thanks for opening the issue.
Happy Coding !

[2018-03-02 06:32] ahmadabdolsaheb commented on #16809
OK that was quick :) @moT01 .
- For the 8 and 9 we could use the this article https://medium.freecodecamp.org/learn-css-variables-in-5-minutes-80cf63b4025d.
- For 5 and 6, we should modify the titles to [verb] [object clause] format.

[2018-03-02 07:09] ahmadabdolsaheb commented on #16809
would doing something similar to this https://codepen.io/juliepark/pen/ddjPbO for the seed plausible?

[2018-03-02 10:07] vkWeb commented on #16787
@mstellaluna All issues related to search bar from freeCodeCamp repo are centralised in [one place](https://github.com/freeCodeCamp/react-freecodecamp-search/issues/55). Please, close this one. 😃

[2018-03-02 10:47] jimboqu opened #16818 "Github overriding my profile"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2018-03-02 10:47] #16818 closed

[2018-03-02 11:19] ahmadabdolsaheb commented on #16809
made this for the seed.
https://codepen.io/abdolsa/pen/rJRpZp

[2018-03-02 12:23] Bouncey commented on #16813
@mstellaluna, The guide does not have these pages as the challenges are not in production yet. As soon as the new challenges make it to the `master` branch, the guide will be updated

[2018-03-02 20:15] raisedadead commented on #16817
Probably worth moving tonthe guides repo if its just a case of the article missing? Or is the article URL incorrect?

What was the intended behaviour here @QuincyLarson ?

We did have an issue to track the movement of forum wiki to the guides.

[2018-03-02 20:23] mstellaluna commented on #16817
@raisedadead there are other lessons that point to guides these ones seem to be missing. They could be just misplaced into the Miscellaneous category of the guides which seems to hold a large amount of guides or they are stuck in the approval backlog.

[2018-03-02 20:26] raisedadead commented on #16812
Agreed.  I am of the opinion that the button could be removed for the projects

[2018-03-02 20:32] vkWeb commented on #16804
@raisedadead Input on this?

[2018-03-02 20:39] vkWeb opened #16822 "[Beta] Close button on modals should be removed"
### Issue Description
@Bouncey recently reactified settings page. In that modals have a close button, I don't think it's required. It should be removed. If the user/camper wants to close then we already have cross close (on the top right) and also we have a `Nevermind, I don't want to delete...` button.

![1](https://user-images.githubusercontent.com/26724128/36920741-bbecc4e4-1e87-11e8-83f7-0ac9b

[2018-03-02 22:41] QuincyLarson commented on #16817
@raisedadea @mstellaluna this is as-intended.

We have an open PR to add stubs for all of these challenges to the freeCodeCamp Guide. We are waiting on @Bouncey to figure out a way to be able to merge it, since it will involve us handling more than 4,000 pages on the Guide. This number of files is currently overwhelming Netlify and we're working on a work-around.

Hopefully we'll have this fixed i

[2018-03-02 22:41] #16817 closed

[2018-03-02 23:38] mstellaluna commented on #16817
@QuincyLarson okay i'll close out the other ones referencing this one . thanks !

[2018-03-02 23:38] mstellaluna commented on #16816
Reason for close, see  https://github.com/freeCodeCamp/freeCodeCamp/issues/16817

[2018-03-02 23:38] #16816 closed

[2018-03-02 23:39] mstellaluna commented on #16815
Reason for close, see  https://github.com/freeCodeCamp/freeCodeCamp/issues/16817

[2018-03-02 23:39] #16815 closed

[2018-03-02 23:39] mstellaluna commented on #16814
Reason for close, see  https://github.com/freeCodeCamp/freeCodeCamp/issues/16817

[2018-03-02 23:39] #16814 closed

[2018-03-02 23:39] mstellaluna commented on #16813
Reason for close, see  https://github.com/freeCodeCamp/freeCodeCamp/issues/16817

[2018-03-02 23:39] #16813 closed

[2018-03-03 01:15] QuincyLarson commented on #16809
@ahmadabdolsaheb This penguin looks great! I'm interested in seeing how you apply it to the challenges.

@moT01 This is a great draft. We probably won't want to have "1 Introduction to CSS Variables" - instead we want to just dive in. We want to treat these variables as though they're just another part of CSS - nothing special :)

Note that at this point this will be the camper's first exposure to

[2018-03-03 01:16] QuincyLarson commented on #16817
@mstellaluna Awesome - thanks for creating these issues and for closing them.

[2018-03-03 01:43] JonDevOps opened #16823 "No completed challenges are showing up in my profile page."
#### Challenge Name

All challenges

#### Issue Description

No completed challenges are showing up in my profile page as completed on the timeline.
Link to original issue description: https://forum.freecodecamp.org/t/ever-since-fcc-retired-third-party-sign-ups-the-progress-from-my-github-fcc-account-has-not-synced-with-my-email-fcc-account/177466/3

#### Browser Information

* Browser Name, Versi

[2018-03-03 06:45] dbarraca commented on #16801
I'm going to try tackling this bug.  Firsts, I'll have to read up on contributing to open source projects and freeCodeCamp bugs specifically.  I should be able to look more into this within the next few days

[2018-03-03 08:30] vkWeb opened #16824 "[Beta][Discussion] Do we really need preview, lesson and editor panel toggle controls?"
### Issue Description
I was thinking about all the possible ways of making the panel UI more interactive. @QuincyLarson suggested me to make it look like JSBin.com's panel controls but one question stuck my mind yesterday that "Do we really need the preview, lesson and editor panel toggle controls?". I really don't think so.

We should think as a camper in this case and I realised that a camper wi

[2018-03-03 08:36] Ishtmeet-Singh commented on #16766
@systimotic  @raisedadead  If we're completing challenges on Beta's site, will the progress get deleted one you move the beta curriculum on the main site?

[2018-03-03 08:41] Bouncey commented on #16766
@Ishtmeet-Singh last I heard on this topic was that any progress made on the beta platform will not be carried over when it is released.

[2018-03-03 08:48] jfines commented on #16824
If you're referring to a tiled type view or something like split panes?  Personally, I like seeing certain things at the same time rather than flipping back and forth between them. When I work in my editor I always use spit panes. I often place an html file in one pane then css and js in its own pane. I can flip back and forth between the latter but will always have my main file (html) open along

[2018-03-03 09:02] vkWeb commented on #16824
@jfines No, it's not off base.
So, shouldn't we remove the toggle controls of the panel, editor and lesson panes from the beta? As you said you work in split panes that's how fcc beta is designed too. So, toggling doesn't make sense to me. Anyways, there must be some thinking about why this functionality was implemented which core team members will tell.

Btw Even I'm a camper and everyone's opini

[2018-03-03 10:13] psitronic commented on #16478
Hi @Em-Ant! Sorry I was in a hospital for a few day and could not reply. The link to my code  https://glitch.com/edit/#!/fixed-shampoo?path=myApp.js:1:0 .

I still see in server.js the same problem with the lines displacement (in two places):
1)
`var update = require('./myApp.js').findAndUpdate;
router.post('/find-one-update', function(req, res, next) {
  var t = setTimeout(() => { next({message:

[2018-03-03 15:05] moT01 commented on #16824
@vkWeb I see a specific case toggling the lesson panel... I have a small screen and the editor panel wraps the code onto new lines which I find annoying - so I can close the lesson and see the editor more clearly.
There's a somewhat similar discussion here https://github.com/freeCodeCamp/freeCodeCamp/issues/16382 - I see you're active there. Also, probly a separate topic, but I think that editor p

[2018-03-03 15:10] Em-Ant commented on #16478
@raisedadead (or other reviewers) the PR is https://github.com/freeCodeCamp/boilerplate-mongomongoose/pull/2

[2018-03-03 18:47] jfines commented on #16824
**@vkWeb**

I can't really imagine another way of doing it. That doesn't mean there isn't one - just that I may not be creative enough to think of one. At any rate, shouldn't there be a way to control what you have to deal with or not? Having more control can be a double edged sword really. I can provide more flexibility (which is great) but than it can add complexity also. For what's being talked

[2018-03-03 19:08] jfines commented on #16382
It would be super cool to have a real easer egg. Something totally freaky but educational related. Something not easy to find that would spread through the grapevine like wildfire once someone did catch it.  (Strange combination of keys, clicking a certain area of the screen with a particular key or two held down at the same time, etc).  The easter egg could be something cool like a fireworks anim

[2018-03-04 00:57] QuincyLarson commented on #16824
The main reason we need control of the different panes is that we plan to add additional panes in the future. Right now, we just have a single code editor, but we plan to split it out into HTML, CSS, and JavaScript (and potentially even multiple files of each) - so we want to be able to control which is visible.

Also, many people are using different device sizes. It would probably only be practic

[2018-03-04 01:05] mstellaluna commented on #16824
Personally, I like being able to control the environment in which I am working in. Definitely the map is never open for me. I prefer to have only the lesson and the editor open. The preview pane I only open before running the tests for the lesson. I don't think it wise to enforce a certain view or layout on campers as each person works in their own comfort level.

[2018-03-04 02:07] QuincyLarson commented on #16382
@AustinTice Have you had a chance to work on this? Your concept looks solid - are you planning to implement it?

[2018-03-04 02:08] QuincyLarson commented on #16801
@dbarraca Awesome - consider this bug "assigned" to you. :) Please keep us posted, and if you need help, you can ask here or join gitter.im/freecodecamp/contributors

[2018-03-04 03:14] akkatracker opened #16826 "Beta - Dark Mode - Danger Zone - Incorrectly styled"
#### Challenge Name
FCC Beta Profile

#### Issue Description

Similiarly to #16781 (which addresses the academic honesty section and is being fixed with #16806) - the Danger zone needs to be restyled to make it night friendly - the white stands out to me and a gray would improve it.

Open to discussion though.

#### Browser Information

Browser Name, Version: Version 67.0.3360.0 (Official Build) c

[2018-03-04 08:56] klamgade commented on #16793
I am new about claiming certification in freecodecamp. Will this bug be only suitable or accessible to a member who has completed a course or a challenge? I am not sure if I can look on this bug. Please advise.

[2018-03-04 09:19] elvinasv opened #16827 "[Beta] Basic JavaScript - Mistake in example code"
#### Challenge
Javascript Algorithms And Data Structures - Basic JavaScript: Accessing Object Properties with Variables
https://beta.freecodecamp.org/en/challenges/basic-javascript/accessing-object-properties-with-variables

#### Issue Description
There's a minor mistake in the second example.
The example code says
[code]
![fcc-basic-js-example-code](https://user-images.githubusercontent.com/10553

[2018-03-04 12:20] vkWeb commented on #16824
@moT01, @jfines, @QuincyLarson, @mstellaluna Yes - I see a point in all of your opinions, panel toggle gives a lot of flexibility. Thank you so much for the response 😄.

Closing this issue since I've understood the reason "why this functionality was added".

[2018-03-04 12:20] #16824 closed

[2018-03-04 12:46] JonDevOps commented on #16823
I was rereading some other issues which also had the "support:accounts" label. Is this another "duplicate account" issue?

[2018-03-04 13:21] tushar-nitave commented on #16827
I will try to look into it.

[2018-03-04 17:20] nsuchy opened #16830 "Hardware based authentication"
I saw on beta that user authentication works through email. I would a second form of authentication considered. Being able to attach a FIDO/U2F key to your FCC Account and login simply by inserting the FIDO/U2F key for a quick login. What are your thoughts on this this?

[2018-03-05 00:11] mstellaluna commented on #16830
So, if I understand correctly I need to purchase a FIDO/U2F key that will hold the security pem to be able to authenticate?  No thanks. I don't want to purchase extra hardware to be able to able to use FCC.

@QuincyLarson what do you think?

[2018-03-05 01:46] nsuchy commented on #16830
@mstellaluna This would be an alternative to login, a quicker way than checking email, it wouldn't be required to use FCC.

[2018-03-05 02:56] magoun commented on #16830
I think this is a neat feature, providing it is an alternative method to log in, not required. I think hardware tokens of some form are part of the future.

[2018-03-05 04:39] #16248 closed

[2018-03-05 04:39] #16774 closed

[2018-03-05 04:50] mstellaluna opened #16833 "FreeCodeCamp.org is down -- 522 - Connection Time Out - Flaky Response"
#### Challenge Name

http://freecodecamp.org/

#### Issue Description

Production FreeCodeCamp.org is down, it is being reported by several users
I verified and cannot reach the site

FCC Forum does not appear to be affected ...

It seems to be flaky connection, it recovers and crashes again

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

####

[2018-03-05 04:51] mstellaluna commented on #16833
@QuincyLarson @BerkeleyTrue @Bouncey  FYI !

[2018-03-05 04:54] BerkeleyTrue commented on #16833
Thank you. DO is currently experiencing connectivity issues. I'll be monitoring while they fix the issue. As soon as they do everything should return to normal on it's own.

Happy Coding

[2018-03-05 04:54] #16833 closed

[2018-03-05 04:55] mstellaluna commented on #16833
@BerkeleyTrue Thank you for the update ! Greatly Appreciated.

[2018-03-05 05:00] BerkeleyTrue commented on #16833
Thanks for pinging us. Unfortunately there is not much we can do at this moment

[2018-03-05 05:56] mariniertje opened #16834 "Getting 522 (connection timed out) errors"
![522-error](https://user-images.githubusercontent.com/24515885/36959457-f4985af4-1ff6-11e8-9de4-4c2d03434816.JPG)

#### Challenge Name

#### Issue Description

While completing challenges, i keep getting 522 errors and slow response times.

#### Browser Information

* Browser Name, Version:  Chrome v63.0.3239.132
* Operating System: Windows8.1
* Mobile, Desktop, or Tablet: Laptop

#### Your Code

[2018-03-05 07:18] BerkeleyTrue commented on #16833
Looks like DO has resolved the issue. I'm gonna get some sleep. Good night all and happy coding

[2018-03-05 07:36] ayyanztech commented on #16834
N#ñ#b ?rNV !h!h!k)c*cvcxçn ? Ndxcgx/n( jff ? Fkjj)&b!!v&vgc '

On Mar 5, 2018 10:58, "mariniertje" <notifications@github.com> wrote:

[2018-03-05 08:15] AustinTice commented on #16382
@QuincyLarson, @vkWeb: Forgive me for my late reply. I have up to this point not been able to figure out how to implement this functionality. I would suggest that it be taken on by another member. My studies have kept me quite busy during this time, and I have not had as much time as I wished to thoroughly dive into react. I don't mind to continue working on it, but due to the fact it has been a c

[2018-03-05 08:49] Asjas commented on #16834
Hi @mariniertje. Please refer to issue #16833. This should resolve on its own.

[2018-03-05 10:53] HPringles opened #16835 "Beta - Dark Mode - Incorrect flash notification"
#### Challenge Name

FCC Beta Profile

#### Issue Description

When selecting dark theme, flash notification at the top of the page does not conform to night mode settings.

It is also a different style of flash notification to the other account updates(e.g making solutions private) and has some padding issues in chrome.

Steps to reproduce :

1. Navigate to profile page in beta
2. Turn on night m

[2018-03-05 10:54] harryingles commented on #16835
I intend to fix this bug myself - However I am new, so it may take a couple of days to get the PR sorted out.

[2018-03-05 11:09] HPringles opened #16836 "[BETA] When no challenges have been completed, timeline link in profile gives a 404 error"
#### Challenge Name

FCC Beta Public Profile

#### Issue Description

 When clicking the "Not challenges have been completed yet. Get started here" link, it redirects to a nonexistent page.

1. Using a new profile where no challenges have been completed, navigate to the public profile for the user
2. Click the link at the bottom of the page "Get started here"
3.  A 404 error will be displayed

###

[2018-03-05 11:10] harryingles commented on #16836
I will be looking into this issue myself

[2018-03-05 12:04] #16834 closed

[2018-03-05 12:05] raisedadead commented on #16823
Seems likely to me. @QuincyLarson can you check and resolve?

[2018-03-05 12:11] raisedadead commented on #16835
@harryingles thanks for your interest, however this may be differed until later. Sure, we need a little tweaking, but it can wait for now, where we have a feature freeze.

[2018-03-05 12:15] raisedadead commented on #16827
Thanks @tushar-nitave I have left some comments on the linked pull request, can you please make a fresh one following our [Guidelines for Contributing](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md), if you need any assistance, we are happy to offer assistance in our [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors)

[2018-03-05 12:18] raisedadead commented on #16792
/cc @Bouncey

[2018-03-05 13:19] GeneralFailer commented on #11068
Why has this been closed? I'm still reproducing this just fine on Firefox and Chromium.

[2018-03-05 13:40] harryingles commented on #16836
After a quick look through the code for this. I have located the error : common/utils/constantStrings.json is expected to have homeUrl however this has not been created.

[2018-03-05 22:15] #16773 closed

[2018-03-05 22:34] QuincyLarson commented on #11068
@GeneralFailer We can re-open it again. Since you can reproduce this would you be interested in attempting to fix it?

[2018-03-05 23:07] QuincyLarson commented on #16830
@nsuchy this would be cool but I think less than .1% of people would be interested in something like this at this point, and we have much higher priorities at the moment. Maybe something we can consider a few years down the road.

[2018-03-05 23:09] QuincyLarson commented on #16382
@AustinTice OK - thanks for confirming. This is now open for anyone who's seriously interested in tackling it. Please leave a note here so we know you're working on it.

We'd like to implement this like in @AustinTice's mockup here:

https://user-images.githubusercontent.com/16217050/34599525-72833cf8-f1b8-11e7-8a1f-bae9fa28044b.gif

[2018-03-05 23:51] QuincyLarson commented on #16808
@tchaffee @tbushman any idea what could be causing this issue?

[2018-03-05 23:53] QuincyLarson commented on #16808
@tchaffee @tbushman any idea what could be causing this issue?

[2018-03-06 00:08] tbushman commented on #16808
@mstellaluna It looks like a closing curly bracket (or two maybe) is missing after an Object in the embedded json. The console logs that the bracket was opened at line 334, which is an Object within the `keyframes' array.

[2018-03-06 00:13] tbushman commented on #16808
@QuincyLarson We've been looking into ways to encapsulate the test suite's scripts and styles. Unfortunately, the Mocha reporter modal won't run in an iframe as far as has been tried. ShadowDOM isn't working in all browsers.

[2018-03-06 00:16] christophherr commented on #16811
Hi @mstellaluna,
while it may not a best practice to omit the last semi-colon, it's valid.
https://www.w3.org/TR/CSS2/syndata.html#declaration
https://www.w3.org/TR/CSS22/syndata.html#declaration

[2018-03-06 00:49] mstellaluna commented on #16808
@tbushman hmm...I didn't notice... , i'll re-do the tribute page without the effect and try it again.

[2018-03-06 01:10] QuincyLarson commented on #16823
@JonDevOps Thanks for your patience. You had a duplicate account which was obfuscating your progress. I've deleted it and now everything looks good again: https://www.freecodecamp.org/JonDevOps

@raisedadead this seems to be a systematic issue that we need to fix. I think it's been reported several times. There are a lot of people with duplicate accounts in the system. Do you have any ideas for ho

[2018-03-06 01:10] #16823 closed

[2018-03-06 02:50] mstellaluna commented on #16808
@tbushman  I made a fork of the original one and I cleaned up the effects off of the tribute page. So it wouldn't interfere in any way. All you see now is just the image, titles and links.
I modified some of the content so i now pass 3/10 tests and let the other 7 fail on purpose.

this is the modified pen [Simplified Pen](https://codepen.io/mstellaluna/full/bLPWQe/)
this is what i am now seeing

[2018-03-06 03:39] tbushman commented on #16808
@mstellaluna You've got it right. Thanks. The problem is that CSS styles given directly to tags (`button`, `h1`) interfere with the test suite ui's respective tags. It is similar to this, # 269 at freeCodeCamp/testable-projects-fcc (https://github.com/freeCodeCamp/testable-projects-fcc/issues/269). Looking into ways to best encapsulate the test suite ui from Student projects (# 279 , # 270). In th

[2018-03-06 03:51] mstellaluna commented on #16808
@tbushman thanks for the reply. I will fix the 2nd copy as per your instructions and see what happens.Greatly Appreciated

[2018-03-06 03:53] tbushman commented on #16808
@mstellaluna OK cool. Thanks for your feedback.

[2018-03-06 04:06] raisedadead commented on #16823
@QuincyLarson this is going to be tricky with old accounts, that do not have an email associated with them.

On production, the easiest way is to have a feature, where users can request account merging which can be done post review by us.

On beta, we will have email only login, meaning this could be a problem for anyone who does not have an email associated with their social profiles.

Can I chec

[2018-03-06 04:28] raisedadead commented on #16800
Hi @willimsbw thanks for reporting the issue. We will try to get this clarified in the beta curriculum.

[2018-03-06 07:13] raisedadead commented on #16804
Thanks @vkWeb !

[2018-03-06 07:20] raisedadead commented on #16775
/cc @Em-Ant

[2018-03-06 07:47] GeneralFailer commented on #11068
No, sorry.

[2018-03-06 09:52] vkWeb commented on #16804
@raisedadead Any idea how can this be solved? I tried tweaking the CSS but during JS warning it adds up a second scroll bar which is not desired.

[2018-03-06 12:58] Bouncey commented on #16836
That is weird the linting didn't pick this up.

Are you OK to submit a PR for this @harryingles?

[2018-03-06 14:02] mstellaluna opened #16839 "Beta-CSS Grid- Align Elements Using Align Property - flex-end pushes elements off screen"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/css-flexbox/align-elements-using-the-alignitems-property

#### Issue Description

In the 'bonus' section, it suggests to try the other settings for align-items.
The align-items: flex-end pushes the elements in the preview out of view
Is there a way to make this preview area smaller so it stays in view?

#### Browser Information

Brow

[2018-03-06 14:31] raisedadead commented on #16839
Looks like this is a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/16804

[2018-03-06 15:35] idlesHand commented on #16763
I have had a brief look and the functions and regex are still beyond my js skills for at least a few more weeks.

First thoughts are to add a check for two buttons, one submit and the new button with the attribute 'btn'.

Or (this may catch less cases I think) to check that the like button is child to '<div>'
e.g. `assert($(\"div\").children(\"button\").length > 0` (I am guessing and stealing from

[2018-03-06 17:25] BerkeleyTrue commented on #16795
@Bouncey The current trigger is when the challenge loads, which for the initial load is SSR. Yes, appMount should be sufficient to trigger the preview after SSR.

[2018-03-06 18:15] #16257 closed

[2018-03-07 02:56] shubhamivane commented on #16763
If it is still open I would like to work on it.

[2018-03-07 03:05] shubhamivane commented on #16827
If it is still open I would like to work on it.

[2018-03-07 03:38] #16692 closed

[2018-03-07 03:41] raisedadead commented on #16692
Hi @TJBarrettJR @ReveurGAM @qmikew1 I merged a PR from @ninadingole for this issue, however as most of us are inclined that a guide is a better place for this additional help, it would be great if someone can create a article with the same image and link it in the challenge.

[2018-03-07 06:32] ahmadabdolsaheb commented on #16809
@QuincyLarson CSS Variables json is ready for PR; however, since CSS Grid PR and the CSS Variables both increment the order key in the responsive-web-design-projects.json file accordingly to place it at the end of the section, I think we should merge the CSS Grid PR, and then make a PR for the CSS Variables.

[2018-03-07 07:22] vkWeb opened #16843 "[Beta] Preview Pane resizing Bug"
### Issue Description
I recently noticed that on resizing the preview pane, it acts in an unexpected manner.

**Steps to reproduce:**
1. Try resizing other panes i.e. lesson, map, editor. They resize smoothly.
2. Then resize the preview pane and you'll see that sometimes it get stuck on a particular point.

I'm not uploading a GIF because there was a considerable amount of lag.
### Browser Informa

[2018-03-07 11:09] Bouncey commented on #16378
Guide PR merged

[2018-03-07 12:06] akkatracker commented on #16378
Is this good to close then?

[2018-03-07 12:28] Bouncey commented on #16378
@mstellaluna can you please confirm :+1:

[2018-03-07 12:58] harryingles commented on #16836
I will be looking tonight

[2018-03-07 13:34] #16801 closed

[2018-03-07 14:10] moT01 commented on #16843
@vkWeb I noticed this as well - it seems to be when you move your mouse too fast it will get stuck. If you go real slow the resizing will work.

[2018-03-07 14:10] tchaffee commented on #16565
@QuincyLarson Thank you. I was hesitant to start work on this without being able to test my work. I can set aside some time to look at this soon.

[2018-03-07 16:28] paulcarroty opened #16846 "Add "Spread syntax" MDN link to the Sorted Union exerices"
#### Challenge Name

https://www.freecodecamp.org/challenges/sorted-union

#### Issue Description

The patch is here: https://github.com/freeCodeCamp/freeCodeCamp/pull/16840

This case is described in [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax) together with `Function.prototype.apply`.

I think it will be a good addition to the helpful links.

[2018-03-07 17:58] Asjas commented on #16846
@paulcarroty You are linking to `www.freecodecamp.org` but the PR you submitted is targeting `beta.freecodecamp.org`. You are aware of this?

[2018-03-07 20:20] #16846 closed

[2018-03-07 21:55] qmikew1 commented on #16692
@raisedadead @TJBarrettJR @reveurGAM,  If it's not pressing (like within 48 hrs or something) I can put something together (assuming via the process in [guides readme](https://github.com/freeCodeCamp/guides) - ) Will take the guide-centric convo to gitter-contributors' channel for follow-up or questions etc. - Again though probably looking at 1-3 days

[2018-03-07 23:16] #16804 closed

[2018-03-07 23:16] #16839 closed

[2018-03-07 23:51] moT01 commented on #16809
Hey, @QuincyLarson - how exactly do you want these implemented? After reading this thread again I think you meant you want them at the end of the `Basic CSS` section? And not their own set of challenges, is that correct?

[2018-03-08 04:56] raisedadead commented on #16692
Hi @qmikew1 of course take all the time you need, and thanks a lot for taking contributing.

[2018-03-08 08:53] raisedadead commented on #16512
I agree for more tests to cover the use case in beta.

[2018-03-08 13:52] mstellaluna opened #16852 "Beta - CSS Grid - Use grid-column to control spacing - Add Visual Reference"
#### Challenge Name

http://localhost:3000/en/challenges/css-grid/use-gridcolumn-to-control-spacing

#### Issue Description

There isn't an issue with the challenge itself
But campers may have an issue visualizing the grid lines referred to in the challenge without a visual aid
Two possibilities.
Either:

1) we can add an external link to an image or reference documentation
2) add them to the prev

[2018-03-08 15:33] #16238 closed

[2018-03-08 15:56] QuincyLarson commented on #16565
@tchaffee Awesome! Glad I could help. Please let me know if I can do anything else to keep you un-blocked :)

[2018-03-08 16:13] #11068 closed

[2018-03-08 22:21] QuincyLarson commented on #16823
@raisedadead There are 218,084 accounts that don't have an email address associated with them.

[2018-03-08 23:32] #10807 closed

[2018-03-08 23:36] QuincyLarson opened #16855 "Legacy Authentication needs better error handling"
If you attempt to sign in using a legacy authentication method and it fails, beta will currently redirect you to `http://localhost:3000/auth/[social auth method]` and gives you a cryptic message.

![profile___freecodecamp](https://user-images.githubusercontent.com/985197/37182412-cf5726be-22f6-11e8-853f-e713188dfad0.png)

Instead, it should redirect you back to /deprecated-signin and tell you "We

[2018-03-08 23:50] QuincyLarson opened #16856 "Bad email address in authentication form should display validation errors"
On the /signin page, if I enter an invalid email address like "test@test" it will crash the app.

![sign_in_to_freecodecamp_using_your_email_address___freecodecamp](https://user-images.githubusercontent.com/985197/37182922-45b507de-22f9-11e8-9ea6-0fb7df9dcb21.png)

[2018-03-09 00:56] QuincyLarson opened #16857 "Flash messages need a margin"
Flash messages need a margin on top so they're not smashed up under the navbar.

![sign_in_to_freecodecamp_using_your_email_address___freecodecamp](https://user-images.githubusercontent.com/985197/37184698-57041008-2302-11e8-871c-cc8279829a01.png)

[2018-03-09 02:10] QuincyLarson opened #16858 "Create logic that redirects old challenge URLs to new beta URLs"
For example, `/challenges/check-for-palindromes` should redirect to `/en/challenges/javascript-algorithms-and-data-structures-projects/palindrome-checker`

[Here is a full list of current challenges on production](https://gist.github.com/QuincyLarson/c21fde97e43a27618694f12f3ee9e25a).

In situations where these lack a beta equivalent, they can just redirect to /map

Note that all existing projects

[2018-03-09 03:15] mackmmiller commented on #16857
I'd like to take this on if no one else is yet.

[2018-03-09 04:13] scissorsneedfoodtoo commented on #16800
@willimsbw, thank you for pointing this out. I remember having trouble with the wording of this problem when I was first going through the challenges.

I like the example at the bottom of your comment, especially as an addition to the already existing example. Perhaps the whole problem description could read:

Then the rest of the description can remain unchanged.

Would you you be interested in s

[2018-03-09 04:30] iabrenne commented on #15908
Still looking into it. I am making progress. Taking me a while to thift through all the reducers, observers, observables, million next functions, etc :)  But learning a lot, hopefully giving me enough background to help out with future issues. I think I finally found the spot where update is needed to get the dashedName of the first challenge in the block, block being provided by the user in the U

[2018-03-09 04:55] raisedadead commented on #16855
Looks like something has changed in the routing. I'll take a look. @Bouncey would you have an idea on this?

[2018-03-09 05:05] QuincyLarson commented on #16857
@mackmmiller Great! Thanks for tackling this one. Please keep us posted on your progress :)

[2018-03-09 05:07] QuincyLarson opened #16860 "In some situations 404 flash message is too wide"
![learn_to_code___freecodecamp](https://user-images.githubusercontent.com/985197/37191456-6076029a-2325-11e8-9ea0-c2307a0150ec.png)

The URL I visited to cause this was `http://localhost:3000/en/challenges/javascript-algorithms-and-data-structures-projects/palindrome-checkers` but any invalid challenge URL should produce this effect.

[2018-03-09 05:09] QuincyLarson opened #16861 "When updating settings, flash message is non-obvious"
Steps to reproduce:

1. Go to /settings
2. Update your email address
3. Nothing will seem to happen. It's only if you scroll to the top of the settings that you'll notice a confirmation flash message.

Screenshot:

![settings___freecodecamp](https://user-images.githubusercontent.com/985197/37191508-b7fd7070-2325-11e8-9afa-cd7238243db8.png)

[2018-03-09 05:14] QuincyLarson opened #16862 "Signing into an account that most recently completed a non-beta challenge causes a 404 error"
Steps to reproduce:

1. Checkout the backup/master branch
2. Complete a challenge
3. Switch to the staging branch
4. Attempt to sign in. The platform will attempt to redirect you back to your next challenge, but that challenge URL will have changed.

For example: `/challenges/check-for-palindromes` on backup/master becomes `/en/challenges/javascript-algorithms-and-data-structures-projects/palindro

[2018-03-09 06:40] vkWeb commented on #16860
@QuincyLarson I'll take care of this.

[2018-03-09 08:22] vkWeb opened #16863 "[Beta] Default Project view should be changed"
### Issue Description
@QuincyLarson The default project views i.e. when there are only two panes on the workspace viz. Map and main, the view is divided in the ratio 1:1(map and main occupy equal width). e.g. [Implement the Serialization of a Passport User](https://beta.freecodecamp.org/en/challenges/advanced-node-and-express/implement-the-serialization-of-a-passport-user) or any project view.

**

[2018-03-09 08:48] vkWeb commented on #16860
@QuincyLarson When I was working on this, I realized that clicking on `your current challenge` takes me to an unexpected page. It should direct me to the challenges. Adding the lang `en` on the URL fixed it.
Patching this with my incoming PR.

[2018-03-09 09:17] Bouncey commented on #16855
It looks like the react routes are picking this up as a request for a profile page. Could boot script order mitigate this?

[2018-03-09 12:22] vkWeb commented on #16857
@mackmmiller  Brother, I'm sorry that I took your issue. Actually, when I was fixing #16860, this issue seemed obvious to me as the changes required were related.

There are a lot of issues we need help with. you can explore them [here](https://github.com/freeCodeCamp/freeCodeCamp/projects/1?fullscreen=true). 😄

[2018-03-09 13:53] mackmmiller commented on #16857
@vkWeb, not a problem. Hadn't even started yet.

[2018-03-09 14:50] tchaffee opened #16865 "[BETA] Seed code and lesson both don't load sometimes"
#### Issue Description
Please see the screenshot. I'm adding only the screenshot and a short description for now in case this issue is already reported and is a duplicate. A search for existing issues did not turn up anything, so if this really is a new issue I'll add any required details.

I haven't been able to figure out exactly how to reproduce this, but I have seen it in both the local dev en

[2018-03-09 15:15] raisedadead commented on #16865
Hi @tchaffee thanks for reporting. Yes, this is a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/16865

[2018-03-09 15:15] #16865 closed

[2018-03-09 16:15] QuincyLarson commented on #16863
@vkWeb Thanks for the feedback. Yes - I agree - when there are only two panes, the lesson pane should have most of the width by default (users should still have the freedom to drag the map to expand it).

[2018-03-09 18:24] rajatkantinandi commented on #16863
Trying this for the first time.
Hope I succeed

[2018-03-09 19:35] QuincyLarson commented on #16863
@rajatkantinandi Great! Please keep us posted on your progress on this.

[2018-03-10 03:37] vkWeb commented on #16863
@rajatkantinandi We'll be waiting for your PR! :)

[2018-03-10 15:55] moT01 opened #16867 "Beta: preview panel covered by flash message"
When going through the challenges, the `JavaScript is disabled. Execute code to enable` flash message constantly shows up in the preview panel covering the preview itself. There's no way to close it - it doesn't fade out. It's really annoying, and it's pretty much on every challenge that shows the preview.
<hr>

![screenshot from 2018-03-10 09-45-07](https://user-images.githubusercontent.com/20648

[2018-03-10 16:34] bennettnw2 commented on #16867
I second this.  It is quite annoying to have that block your preview all the time

[2018-03-10 17:17] Em-Ant commented on #16775
Hi @clickingmouse, I'm trying to understand what is happening. Are the previous mongo challenges passing for you?  Can I have the link to your glitch project ?

[2018-03-10 17:54] Em-Ant commented on #16775
@clickingmouse I don't need your project. I found the problem. The result checking in server.js is not compatible with mongoose 5. I'll update the boilerplate and the github repo.

@raisedadead do you think I should update this PR https://github.com/freeCodeCamp/boilerplate-mongomongoose/pull/2/commits/afbb9cd46f2294b49b2e4db3745071a9438026e9 or open a new one ?

[2018-03-11 10:28] vkWeb commented on #16867
@moT01 Ya - It's annoying when you constantly need to look at the preview. I think we should display this message in challenge log. What do you say @Bouncey, @QuincyLarson?

[2018-03-11 10:50] vkWeb commented on #16867
@moT01 Ya - It's annoying when you constantly need to look at the preview. I think we should display this message in challenge log.
Something like this:

![capture](https://user-images.githubusercontent.com/26724128/37252512-fd90d932-2547-11e8-92aa-3a366f02a9be.PNG)

What do you say @Bouncey, @QuincyLarson?

[2018-03-11 10:52] Bouncey commented on #16867
@QuincyLarson @BerkeleyTrue, what are we trying to communicate with the flash? I don't remember any UX issue with respect to this from production?

[2018-03-11 19:13] NAAG1999 opened #16868 ""array variable name""
#### Challenge Name

#### Issue Description
Why am i getting different output if i use different variable   ##names.

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

![with anyother var name](https://user-images.githubusercontent.com/29707979/37257318-21228918-258e-11e8-84f2-47d8b91be24c.jpg)
![with name]

[2018-03-11 20:35] RandellDawson opened #16869 "FCC Weather API randomly returning Japan weather"
#### Challenge Name

https://www.freecodecamp.org/learn/coding-interview-prep/take-home-projects/show-the-local-weather

#### Issue Description
Many campers have been reporting issues with their weather projects via the forum Help category.  At first, I assumed it was just incorrect code being used, but then I noticed the issue my own weather project and countless others over the past week.  It ap

[2018-03-11 22:53] joker314 commented on #16868
What's happening here is that `name` is a little special in the global scope, because [`window.name`](https://developer.mozilla.org/en-US/docs/Web/API/Window/name) will *always* convert whatever you set it to into a string.

For example, if you do

[code]

Then you'll get `number`. But if you do

[code]

You'll get a `string`.

In your case, `['Nilesh', 'Ne', 'Na', 'da', 'ma']` gets converted to a

[2018-03-12 04:09] raisedadead commented on #16868
@NAAG1999 this issue tracker is for reporting issues in the freecodecamp.org platform only. Please reach out to forums and chat rooms in future.

@joker314 thanks for your comment.

[2018-03-12 04:09] #16868 closed

[2018-03-12 05:33] ahmadabdolsaheb opened #16870 "Beta - CSS Grid - CSS Grid should be capitalized in the challenges."
#### Challenge Name

All CSS Grid Challenges

#### Issue Description

CSS Grid should be capitalized in the title of the challenges.
To fix this issue, 'css-grid': 'CSS Grid', should probably be added after line 5 in the blockNameify function linked below.
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/app/utils/blockNameify.js#L5

#### Screenshot

![screen shot 2018-03-01 at 15

[2018-03-12 05:37] ahmadabdolsaheb commented on #16870
I would like to work on this issue if possible.

[2018-03-12 07:01] ahmadabdolsaheb opened #16871 "Beta - CSS Grid - Three Typo Corrections"
#### Issue Description
The following is a list of needed corrections that needs to be implemented.

1. Change __5px of the grid's height__ to __5px tall__
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/01-responsive-web-design/css-grid.json#L279

2. Change __\<cod>20px\</code>__ in the test message with __\<code>20px\</code>__ ( missing __e__)
https://github.com/freeCode

[2018-03-12 07:24] raisedadead commented on #16867
This is same as https://github.com/freeCodeCamp/freeCodeCamp/issues/16565 being worked upon. The flash, I believe was placed as an interim solution for a better locking mechanism, which we are planning to hopefully get away with in the linked issue.

[2018-03-12 07:25] raisedadead commented on #16870
@ahmadabdolsaheb sure thing

[2018-03-12 07:26] raisedadead commented on #16871
Sorry, I am a bit lost in the exact behavior here?

[2018-03-12 07:29] ahmadabdolsaheb commented on #16871
@raisedadead there are a couple of challenges that have typos or some sentences need to be changed. I was not sure If I need to make issues for them one by one or bundle them together in one issue since they are minor issues.

[2018-03-12 07:35] raisedadead commented on #16871
Ah the "bundle" word threw me off.

Sure if you could link the files to be changed in the opening post, we can open this to potential first time contributors.

Thanks for reporting!

[2018-03-12 08:01] ahmadabdolsaheb commented on #16871
@raisedadead I modified the description and added the files and line numbers.

[2018-03-12 08:55] ogzcoder opened #16872 "Running code in isolation, when global declarations are used"
#### Challenge Name
[Steamroller](https://www.freecodecamp.org/challenges/steamroller) in Intermediate Algorithm Scripting

#### Issue Description
I used a recursive function to complete this challenge and when tested the called challenge function returns the correct value but my challenge is not marked as completed and the tests do not pass.

#### Browser Information
Chrome Version 65.0.3325.146

[2018-03-12 11:46] raisedadead commented on #16872
Yes, this is a platform limitation with use of global methods.
While its also not recommended to use globals, I understand that this intent is not very clear.

The tests are not run in isolation, and hence the last value of your globals persist, breaking them.

We of course can't make any changes, to the current production at freeCodeCamp.org, however we should discuss the possibility of at least

[2018-03-12 12:23] JonDevOps commented on #16823
Is there any way to have users completed PROJECTS from one profile to be transfered to another NEW profile automatically(so you can tell old users to just create a new account and then go to setting and click "This" button to load all you challenges that are stored in the cloud from your other account to the new account, while automatically deleting the old account so you can only do the transfer

[2018-03-12 12:26] ahmadabdolsaheb opened #16873 "Beta - CSS Grid - Challenge titles should be properly capitalized."
#### Challenge Name

All CSS Grid Challenges

#### Issue Description

The titles of the challenges in CSS-Grid should be properly capitalized.

e.g. "Add columns with grid-template-columns" should be changed to "Add Columns with grid-gemplate-columns"

Note: the CSS properties in the title should not be capitalized, and CSS should always be capitalized.

This is the file to that contains the CSS G

[2018-03-12 12:27] ahmadabdolsaheb commented on #16873
@raisedadead probably first timers friendly.

[2018-03-12 13:07] schalkneethling opened #16874 "Using id for styling is an anti-pattern"
#### Challenge Name
Override Class Declarations by Styling ID Attributes

#### Issue Description
The above lesson as well as an earlier lesson in the current series, teaches students to use an id as a selector for styling elements. I personally feel that this should not be done.

While there can certainly be a lesson that explains that it is possible. I feel it should be framed with an understandi

[2018-03-12 13:11] #16478 closed

[2018-03-12 13:26] bennettnw2 commented on #16867
@raisedadead Thanks for looking into this for us. I'm a total newbie so please forgive my ignorance but it seems what #16565 references is not related to this.  I think it is more closely related to #16804.  The locking mechanism is fine.  We just want the notification of the locking to not block the preview pane. Thanks again!

[2018-03-12 14:06] raisedadead commented on #16867
Hi @bennettnw2 thanks, well I explain how this is related:

1. The code locking is so that we are able to lock any code that was not written by the user in the editor.
2. As a result, UI wise two things are notably displayed, the first is the button label in the issue which I linked and the second is the flash message as being discussed in this thread.
3. Now, these are there for the lack of bette

[2018-03-12 14:33] ahmadabdolsaheb commented on #16852
@mstellaluna @moT01 adding a visual reference is a great idea.
option 1 is easier. maybe we make a simple diagram internally for this challenge.
option 2, adding the lines is also easy. I could just add a border to the cells; however, I am not sure if it would be helpful unless we started adding text and numbers outside the grid which might make the seed more complicated.

[2018-03-12 15:07] ahmadabdolsaheb commented on #12635
@moT01 Great fit.
@HKuz How about the following draft?
When programs become more complex, you need to test them often to avoid breaking older functionalities as the new code is added. Chai is a testing library that could easily test the expected behaviors your programs. Using Chai you can write tests that describe your program's requirements and see if your program meets them.

[2018-03-12 15:17] NAAG1999 commented on #16868
am not getting that, how is 'name' special?? is it special for my IDE or the JavaScript??

[2018-03-12 15:35] irockersup commented on #16458
<a href="https://www.youtube.com/">Click here</a>

[2018-03-12 15:53] ashutupa commented on #16873
Hi,
I am going to contribute for the first time.
What i understood with the description that we have to capitalized the title in `css-grid.json` file.
let me know how to proceed and whether my understanding is correct or not?

[2018-03-12 15:58] ahmadabdolsaheb commented on #16356
If no one is working on this i would like to write a regex test for it and see if I can make it work.

[2018-03-12 16:04] raisedadead commented on #16873
Hi @ashutupa welcome to contributing to this codebase.

We would want to normalize the titles of the challenges as mentioned in the OP
like so:

"Add columns with grid-template-columns" should be changed to "Add Columns with grid-gemplate-columns"

You should follow our [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) and reach us in the [Con

[2018-03-12 16:13] raisedadead commented on #16356
Yes, please.

[2018-03-12 16:19] ashutupa commented on #16873
Thanks,
let me proceed with setup and update my progress here.

[2018-03-12 16:21] raisedadead opened #16876 "RFC: Prolific Contributor Badge/Certificate for Contributions."
I think its a good idea to award a prolific contributor badge/certificate to the community members who have done a prolific job in making the platform what it is.

I understand that there are ways that does display there work in the list of contributors. But to drive the curriculum we should consider a badge/certificate of appreciation.

This should recognise the common effort in driving across al

[2018-03-12 16:22] raisedadead commented on #16876
/cc QuincyLarson @BerkeleyTrue @Bouncey and @freeCodeCamp/moderators

[2018-03-12 16:27] raisedadead commented on #16874
We have always favored of linking best practices as supplementary guides / resources. Going by the philosophy I think a guide on the guides repo is a good idea.

Do you think we could merge this lesson into previous, or drop it all together without losing the connect?

[2018-03-12 16:31] #16870 closed

[2018-03-12 16:38] ganes1410 commented on #16871
@ahmadabdolsaheb  @raisedadead  can i take this up ??

[2018-03-12 16:42] raisedadead commented on #16871
@ganes1410 sure thing, here are our [Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) and you can reach us in [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) for any assistance.

[2018-03-12 17:13] ganes1410 commented on #16871
@ahmadabdolsaheb  @raisedadead for that third typo is it fourth or forth

[2018-03-12 17:32] raisedadead commented on #16871
Yes its numeric `fourth`. Thanks for catching.

[2018-03-12 18:32] raisedadead commented on #16855
[code]

Here is a sample log.

I tried changing the boot order of scripts, and I guess I am missing something.

On that note, why are we hitting all the three services for user anyway? Is it intended?

[2018-03-12 18:32] vipatron commented on #16843
I third this. Thank you @moT01. Whatever is causing this "sticky" behavior doesn't seem to activate if you sloooowly drag the resize bar.

Browser: Firefox 58.0.02
OS: Windows 8.1 64-bit
Device: Desktop

[2018-03-12 18:36] raisedadead commented on #16855
In any case, I strongly believe something in the routing is the culprit. The page from where this is triggered is a static page.

Hence for my understanding the request should have trickled down the express middleware list, unless I am mistaken.

[2018-03-12 18:42] moT01 commented on #16867
@raisedadead it doesn't quite clarify it for me - this issue is specifically addressing the fact that the flash message is in the way - are you saying we are just stuck with it being in the way? Or are you saying that it might be removed once he comes up with a solution for that issue?

[2018-03-12 19:09] HKuz commented on #12635
@ahmadabdolsaheb - looks good! I made some minor re-writes directly in your comment, feel free to make any other changes 👍

[2018-03-12 19:41] raisedadead commented on #16867
Yes, it will be removed once we have a way to display it only for very specific use cases (rare cases).

[2018-03-12 19:55] vipatron opened #16878 "Beta/Responsive Web Design/CSS Flexboxes Not displaying"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/css-flexbox/use-display-flex-to-position-two-boxes
https://beta.freecodecamp.org/en/challenges/css-flexbox/use-the-flexdirection-property-to-make-a-row
https://beta.freecodecamp.org/en/challenges/css-flexbox/use-the-flexdirection-property-to-make-a-column

#### Issue Description

The blue and orange flexboxes don't display because th

[2018-03-12 20:33] vipatron opened #16879 "Beta/Responsive Web Design erratum"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/css-flexbox/use-the-flex-shorthand-property

#### Issue Description

Just an error in the lesson. I don't want to sound arrogant - I had to read up on flexboxes when I used the non-beta version. The following block of text comprises the challenge instructions:

Followed by this explanation of behavior:

I believe that what will actua

[2018-03-12 20:46] moT01 commented on #16852
@ahmadabdolsaheb @mstellaluna - there really isn't an easy way to just add the lines on the grid itself, I'm sure we could figure that out if we want, but I propose this...

`The hypothetical horizontal and vertical lines that create the grid are referred to as lines. These lines are numbered starting with 1 at the top left corner of the grid and count right for columns:`
![columnlines](https://us

[2018-03-12 21:16] BerkeleyTrue commented on #16858
We discussed this a while ago. This is quite an expensive endpoint and we decided to remove it.

[2018-03-12 21:18] mstellaluna commented on #16852
@moT01 @ahmadabdolsaheb you mean to the lesson? I think that would be easiest. Kind of how I believe its the anchor challenge in the basic HTML has a image in the lesson..

[2018-03-12 21:22] BerkeleyTrue commented on #16861
This should be changed from a flash to a notification.

Note: flashes should be used for communications between a user and the backend (usually a fresh pageload is happening, but not always). We can also categorize notifications that need to be dismissed here.

Toasts for notifications to the user from the app that do not need to be dismissed.

[2018-03-12 21:23] BerkeleyTrue commented on #16862
how is this not the same as #16858?

[2018-03-12 21:28] #16803 closed

[2018-03-12 21:31] ojongerius commented on #16559
@raisedadead case closed?

[2018-03-12 21:32] #16792 closed

[2018-03-12 21:44] ojongerius commented on #16642
How is this work going guys? This would be so much win in regards to getting people up to speed.

[2018-03-12 21:48] moT01 commented on #16852
Yes @mstellaluna, those images would be directly in the description is what I had in mind.

[2018-03-12 21:49] moT01 commented on #16852
I can add those

[2018-03-12 21:50] Ethan-Arrowood commented on #16876
This sounds like a great idea! Would this be for FreeCodeCamp/FreeCodeCamp contributions only or for any FreeCodeCamp repository?

[2018-03-12 21:50] mstellaluna commented on #16852
@moT01 @ahmadabdolsaheb  yea that is easiest way and the camper can always easily refer back to it

[2018-03-12 23:22] joker314 commented on #16869
I think I've identified the issue! It's simply [reading from the cache](https://glitch.com/edit/#!/fcc-weather-api?path=data/cache.json:1:517), which contains the Japanese data.

The cache is only used if there are more than sixty requests in its queue [(line 50)](https://glitch.com/edit/#!/fcc-weather-api?path=server.js:50:4) That means that _sometimes_ it'll return correct results; but _sometime

[2018-03-13 00:33] joker314 commented on #16869
Okay, I think I [fixed the issue](https://glitch.com/edit/#!/jewel-tomato). I couldn't test it, though, because I lacked an API key -- and there is, of course, the risk of a DOS given that we never resort to caching.

So, improvements could be made. Should we, perhaps, reject requests where otherwise we'd be sending the Japanese data? This is up to y'all. My fix it temporary and I'll try to work o

[2018-03-13 01:30] miwojc opened #16880 "[Beta] Basic HTML and HTML5, inconsistent closing methods for input element"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/basic-html-and-html5/add-placeholder-text-to-a-text-field

#### Issue Description

input tag description is inconsistent within the beta freeCodeCamp. Sometimes is "self closed" by "/>" and sometimes is just closed by ">". Suggestion: align to the way it is described at Mozilla and w3school, that is closing by ">"

#### Browser Infor

[2018-03-13 02:20] mstellaluna commented on #16876
@raisedadead I think its a great idea. My question is, how would this work for the nomination and votes because people from FCC Chat don't tend to go on to the forums and vice versa. We have one camper in chat that has over 9000 brownies from helping campers.

Also, some people, such as myself, don't visibly contribute to FCC, its more of a behind the scenes.

[2018-03-13 02:20] BerkeleyTrue commented on #16867
That specific message is to indicate to the user that no js is running in the preview window. This is prevent uncompleted js code from crashing the preview window while the user is writing out their code (fun fact, writing "function" to an iframe script tag used to crash the client). When I originally wrote that flash message it was a simple span tag with text that rendered in the preview window b

[2018-03-13 02:54] vipatron opened #16881 "Beta/Responsive Web Design/CSS Grid Errata (Row/Column transposition)"
#### Challenge Name

https://beta.freecodecamp.org/en/challenges/css-grid/use-gridarea-without-creating-an-areas-template

#### Issue Description

Instructions for the challenge don't match the automated checks. (rows & columns are transposed)

The theory blurb states:

The challenge instructions state:

#### Browser Information

* Browser Name, Version: Firefox 58.0.2
* Operating System: Windows

[2018-03-13 03:02] moT01 commented on #16881
Thanks for pointing this out @vipatron, however, there's already an open issue for this. https://github.com/freeCodeCamp/freeCodeCamp/issues/16871
The third problem in that issue will solve this - and if you follow those instructions you can pass the tests.
You should close this issue since it's being fixed.

[2018-03-13 03:07] vipatron commented on #16881
I was spending so much time crafting this huge explanation all marked-down nicely. Haha. Will close. Thanks!

[2018-03-13 03:07] #16881 closed

[2018-03-13 03:32] moT01 commented on #16881
@vipatron and a great explanation it is. Be sure to search for your issue before creating - although that one might be tough to find even if you did.

[2018-03-13 03:57] #16559 closed

[2018-03-13 03:57] raisedadead commented on #16559
Thanks @ojongerius

[2018-03-13 04:01] raisedadead commented on #16867
Ah thanks @BerkeleyTrue I had a misunderstanding that this is tied to locking.

So, the effective solution is an alternative text in the message, to clarify the intent.

[2018-03-13 04:03] raisedadead commented on #16642
Hi @ojongerius we could use some help in QA of the linked PR.

[2018-03-13 04:15] raisedadead commented on #16876
Hi @Ethan-Arrowood It should be targeted to all domains of the community, including but not limited to codebase, forum, chat, youtube, etc., but the focus is towards an effort that increases the motivation to contribute back to the community and offer a recognition of such effort.

Hi @mstellaluna, I haven't thought much into the the workflow, and was hoping for inputs from the community, in this

[2018-03-13 04:28] raisedadead commented on #16872
Hi @BerkeleyTrue I believe you have been working on overhauling the testing logic, do you think there is a way to clarify the intent here, maybe with a notification for use of globals?

[2018-03-13 04:30] raisedadead commented on #15806
This seems to have been resolved.

[2018-03-13 04:30] #15806 closed

[2018-03-13 04:34] raisedadead commented on #16030
This is now resolved

[2018-03-13 04:34] #16030 closed

[2018-03-13 07:09] ahmadabdolsaheb commented on #16852
@moT01 @mstellaluna On the side note, would combining the two pictures save some space?

[2018-03-13 07:19] raisedadead commented on #16856
Its actually not crashing the app, and the backend is throwing the error correctly.
[code]
I think this needs, investigation to check why the error message isn't displayed as a flash message.

[2018-03-13 07:24] raisedadead commented on #16858
I agree, having to search though all of the challenges.

Maybe we should have the 404 with an additional pre-filled form for a search query (that re-uses the search) as a tradeoff?

[2018-03-13 07:28] raisedadead opened #16883 "Use Redis (or alternative) for session store instead of MongoDB"
I was checking the telemetry on the ops dashboard, and by far `freecodecamp.sessions.find` is the most (expected) used query.

We maybe able optimize the load by using a Redis session store instead of MongoDB?

[2018-03-13 07:28] raisedadead commented on #16883
/cc @BerkeleyTrue @Bouncey @QuincyLarson

[2018-03-13 07:35] MarkusToe commented on #16880
Hello! If this issue is still to have, I would like to volunteer.

[2018-03-13 07:40] YogeshSharma0201 commented on #16880
In the latest version of the code base, the input tags are closed by ">" and not "/>", so i don't this is an issue any more

Screenshot, when i ran it locally:
![input](https://user-images.githubusercontent.com/21025052/37328304-b1ce15f4-26bf-11e8-9253-caede252c23e.png)

[2018-03-13 08:20] schalkneethling commented on #16874
I feel very strongly about this one. Developers should understand from the start that using an id for styling is bad practice and should be avoided. I also think that talking about the details of this might be a bit to much at this point in the curriculum.

Perhaps this part needs to be rephrased with a link to more information? Perhaps there is a part of the curriculum where these types of topics

[2018-03-13 08:43] akinolajohn commented on #12312
Tried this too still isn't working

[2018-03-13 09:18] schalkneethling commented on #16874
I feel the same about `Override Class Declarations with Inline Styles` and `Override All Other Styles by using Important`

Perhaps we can add a "disclaimer" of sorts at the bottom of these lessons that links to information on why these are not good practice?

We can write a custom one or reference documentation that is part of `csslint`

[2018-03-13 09:21] schalkneethling commented on #16874
The one on `!important` does have a pretty good piece explaining when to use it:

[code]

[2018-03-13 11:03] JohnnyBizzel commented on #15224
[code]
This fails the "destructuring was used." test.

[2018-03-13 11:08] ForiDunk commented on #15224
[code]
This also failed the "destructuring was used." test.

[2018-03-13 11:22] mstellaluna commented on #16876
@raisedadead agreed. let me think of some ideas :)

[2018-03-13 11:46] mstellaluna commented on #16876
@raisedadead Okay.. quick idea.

How about each platform votes for its own since forum users aren't aware of chat users and vice versa.

So a poll can be put on forums which we the chat moderators can post the link intermittently into the rooms for chat campers to go vote.

Forum platform votes for forum users.
Chat platform votes for chat users.
Contributors room for the FCC Contributors (repo, F

[2018-03-13 12:04] raisedadead commented on #16874
Yes, think this is a much better idea.

[2018-03-13 14:24] BerkeleyTrue commented on #16883
@raisedadead do you have experience with redis?

[2018-03-13 15:17] ahmadabdolsaheb commented on #12635
@HKuz PR made. 👍

[2018-03-13 15:20] #16871 closed

[2018-03-13 15:23] #12635 closed

[2018-03-13 15:28] raisedadead commented on #16883
Nothing on production, so to be honest nope.

But that said, if we agree on the idea atleast. I can preparing something separate of beta timelines and get some research done into this.

[2018-03-13 15:30] raisedadead commented on #16883
I believe that a key-value store is much more suited to our long terms goals for the backend for things like sessions, and possibly other stuff which can be async from the DB queries?

[2018-03-13 16:06] joker314 commented on #16869
Right, I'm afk at this time; but I realised that the rate limiting is required. I'll fix my code soon so that requests are denied if too many API calls have been made.

[2018-03-13 16:09] ahmadabdolsaheb commented on #16356
@raisedadead, I looked into the challenge and I think @systimotic is right. Writing a test that checks for any entered value could be done, but If we allow the campers to use X with the * statement we should also check to see if X is used correctly in the lines below it. Since I cannot store the entered value, I cannot find a good way to check for it in the rest of the document. Here are my sugges

[2018-03-13 16:26] raisedadead commented on #16356
I would prefer the second option.

[2018-03-13 16:55] ashutupa commented on #16873
Hi guys,
I have done with my setup and created a PR, Who approves/reviews the PR?

[2018-03-13 18:44] JacobPie commented on #16856
What if you were to give the input part of it the type of "email". Doesn't HTML5 come with a way to ensure that the input is a valid email?

[2018-03-13 19:08] YogeshSharma0201 commented on #16861
I looked into this issue, whenever user backend is updated a message is Toasted through makeToast() in update-user-epic.js by complete Observable, but for this to happen the payload passed to complete Observable should contain 'message' key so that message's value can be displayed. But when email is updated the payload passed contains 'info' instead of 'message' key  so the message object becomes

[2018-03-13 19:31] tchaffee commented on #16565
The actual URL I needed to use is http://localhost:3000/en/challenges/javascript-algorithms-and-data-structures-projects/palindrome-checker?solution=function%20palindrome(str)%20%7B%0A%20%20str%20%3D%20str.toLowerCase().replace(%2F%5B%5CW_%5D%2Fg%2C%20%27%27)%3B%0A%20%20for(var%20i%20%3D%200%2C%20len%20%3D%20str.length%20-%201%3B%20i%20%3C%20len%2F2%3B%20i%2B%2B)%20%7B%0A%20%20%20%20if(str%5Bi%5D%

[2018-03-13 19:41] PolarisTLX commented on #16878
Have this resolved and creating pull-request shortly.

[2018-03-13 19:49] tchaffee commented on #16565
@Bouncey can you point me to some existing code that dispatches an action? Thanks.

[2018-03-13 19:52] raisedadead commented on #16856
I think its already the case.

[2018-03-13 20:04] joker314 commented on #16869
Okay, I now think I've created a solution in the short-term. I'm not sure what we want to do about scary data collection though -- the coordinates tend to be quite precise (should we round them for caching purpurses?). We should definitely mark things if they're from the cache, to make it clear it's not 100% accurate.

Anyway, for now, whenever the code tries to access the cache, it'll instead sen

[2018-03-13 20:08] JacobPie commented on #16856
So then wouldn't that be enough of an alert? Or am I missing something

[2018-03-13 20:13] raisedadead commented on #16856
Yes, the issue is its not triggered for some reason. Here is view if you are interested in debugging
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/server/views/account/email-signin.jade

Reach out to [Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) for any assistance in contributing.

Thanks.

[2018-03-13 20:23] raisedadead commented on #16869
Hi @joker314 I agree to your solution of rejecting with an error. Can you please make a PR? Thanks a lot for taking the time to investigate this.

[2018-03-13 20:25] raisedadead commented on #16869
@QuincyLarson could you guide who has access to this https://fcc-weather-api.glitch.me/ ? I can be delegated if you are the owner.

[2018-03-13 20:32] joker314 commented on #16869
@raisedadead I'd love to, but I've looked around and I'm not sure if glitch.me actually supports pull requests -- unless you also have a copy on GitHub or I'm missing something?

[2018-03-13 21:00] ojongerius opened #16889 "Implement an API"
I'd like to programmatically interact with FCC, and noticed openapi was, but is not longer support.

Looks like there is a desire to have an API that is open, but not maybe no OpenAPI -the REST standard.

I'd be happy to implement either or both. Let's flesh it out in this issue.

Deprecated project: https://github.com/freeCodeCamp/open-api
Related board: https://github.com/freeCodeCamp/freeCodeCa

[2018-03-13 21:03] raisedadead commented on #16869
@joker314 yup you are correct, we will update the project from your remix. Please ignore my previous comment.

I am waiting on Quincy on confirmation of the access to that project. Thanks a lot for your help with this.

[2018-03-13 21:55] Bouncey commented on #16565
Sure

[From within a component](https://github.com/freeCodeCamp/freeCodeCamp/blob/410bda2394575f78f8fd0e3405c10e013544425a/common/app/routes/Challenges/Show.jsx#L107)

[A single action from an epic](https://github.com/freeCodeCamp/freeCodeCamp/blob/410bda2394575f78f8fd0e3405c10e013544425a/common/app/routes/Challenges/redux/challenge-epic.js#L55)

[Multiple actions from a single epic](https://githu