[2017-02-23 11:53] Greenheart commented on #13456
@Jamayk Yeah, the development setup is by far the biggest barrier to contributing fixes to a project. I'm really happy that you saw it through and got this PR submitted! Great job! :smile: :1st_place_medal:

With a project like this, there's almost always something that can be done, so feel free to help out more if you want to :smile:

[2017-02-23 12:01] IanTeo commented on #12698
Hi, can I work on the formatting changes for "class Syntax" and "class getters and setters"?

[2017-02-23 12:02] Greenheart commented on #13456
To keep your local clone of the project updated, all you need to do is to
1. Make sure you're on branch `staging` (`git checkout staging`)
2. Make sure to have the `git remote` called `upstream` set to the git-URL to the freeCodeCamp/freeCodeCamp repository. (`git remote -v` can be used to verify). If not, run `git remote add <URL>`.
3. Run `git pull upstream staging` to pull down latest changes.

[2017-02-23 12:03] raisedadead commented on #13513
@Greenheart @RAYDENFilipp cool, we can add a note about this.

[2017-02-23 12:04] raisedadead commented on #13319
Oh, I had not checked, my bad. But your PoC uses `assert.deepEquals()` as well. Hmm, interesting issue.

[2017-02-23 12:07] raisedadead commented on #13540
@Nishkarsh-Awasthi thanks for your report.
@karuppiah7890 thanks for the comments, I suggest you guide help issues to chat room or forum and provide all assistance there.

Note : The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
-

[2017-02-23 12:07] #13540 closed

[2017-02-23 12:08] raisedadead commented on #13539
@AdamANDAdam thanks for reporting,

But the issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](ht

[2017-02-23 12:08] #13539 closed

[2017-02-23 12:20] raisedadead commented on #13531
@cdrainxv yup, thanks for debugging this. And while you are right about having no space between values and one space between attributes, I think this is still valid code.

We should probably relax the tests, given the fact that we are focusing not to involve standard practice in challenges, we have videos for those.

/cc @freeCodeCamp/moderators I am up for tagging this `help wanted`.

[2017-02-23 12:21] karuppiah7890 commented on #13540
@raisedadead Yeah, I get it. But I had no way to close the issue, so I just commented so that @Nishkarsh-Awasthi closes it asap.

[2017-02-23 12:22] karuppiah7890 commented on #13538
@raisedadead This is not an issue. This is a bug in the OP's code.

[2017-02-23 12:23] raisedadead commented on #13533
Closing in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/13532

[2017-02-23 12:23] #13533 closed

[2017-02-23 12:26] raisedadead commented on #13540
@karuppiah7890 Sure thanks for the comments, but we strictly do not encourage any assistance on the tracker, we have the chat rooms and the forum for that. You can help by simply redirecting such issues to those, the mods will close issues sooner or later (usually within hours).

Thanks for your help and contribution!

Happy coding.

[2017-02-23 12:28] raisedadead commented on #13538
Will close, post confirmation. The label is a intial triage.

[2017-02-23 12:43] al3tte commented on #13535
@Manish-Giri Doh! I used lowercase values on the other hex tests so I didn't even think to try that!

@cdrainxv On the other challenges the lowercase values were accepted, so you may want to consider changing one or the other, for consistency's sake, if nothing else.

Thank you both for the quick responses though! :grinning:

[2017-02-23 12:45] raisedadead commented on #13397
Coming very late to the party, I must manage my notifs better. Anyways, @Manish-Giri has a opened up #13534

To which I noticed that we have updated the challenge wording, but honestly I think that

is not addressing it, or clarifying.

I sincerely apologize for the delay in getting back when the PR was opened. May be we shoud just improve the part a bit more.

Manish, if you are at it already, ca

[2017-02-23 12:53] raisedadead commented on #13528
Hi @rmdawson71 thanks a lot for the report, I am closing this in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/13537, although yours was first, the other thread has gotten more discussion.

Feel free to follow along there. Thanks once again.

[2017-02-23 12:53] #13528 closed

[2017-02-23 12:56] raisedadead commented on #12780
The dependencies on some of the loopback components have to be upgraded and probably we would have to migrate to the recommendations.

I'll just put this on road map for now.

/cc @BerkeleyTrue

[2017-02-23 13:03] raisedadead commented on #12589
I'll close this in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/12589

[2017-02-23 13:03] #12589 closed

[2017-02-23 13:08] #13456 closed

[2017-02-23 13:08] raisedadead commented on #7925
@donofriov thanks a lot for the analysis, and great to hear that you are interested to look into this. Here is another related issue https://github.com/freeCodeCamp/freeCodeCamp/issues/7468 (has to do with log in state of the user)

If you need any assistance hit us up on the chat room.

The tests are at
https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/server/utils/user-stats.test.js

Wel

[2017-02-23 13:12] Greenheart commented on #12698
@IanTeo Sure! :smile:

[2017-02-23 13:16] Greenheart commented on #13319
@raisedadead It's not the exact equivalent to `assert.deepEquals()` - We should probably try to test the code using the **real** `assert.deepEquals()` algorithm before we can be sure that this issue is about the test case.

[2017-02-23 13:16] Manish-Giri commented on #13397
@raisedadead Understood! I'll come up with a few suggestions shortly..

[2017-02-23 13:19] Greenheart commented on #13531
@raisedadead Adding a couple of `\s*` (0 or more whitespace characters) to the regex could probably solve this issue. I agree, this is ready to be fixed :blush:

@Marmiz @cdrainxv Thanks for the excellent triaging!

[2017-02-23 13:19] billy-reilly opened #13544 "[beta] Map: 'Getting Started' hidden by map header on mobile"
http://beta.freecodecamp.com/en/map

The first map-accordion-panel-heading called 'Getting Started' is hidden by the map-fixed-header on mobile

iPhone 5 (safari) :
![16930978_10212033363526400_1970075049_o](https://cloud.githubusercontent.com/assets/22368483/23260454/d4b7f036-f9c9-11e6-9c06-b47aac8a74d5.jpg)

[2017-02-23 13:29] benschac commented on #13496
So who's the person who decides what goes on the roadmap and what features should be built? Is there any kind of formal way to propose a feature to the core contributors?

[2017-02-23 13:42] IanTeo commented on #12698
@Greenheart I have a few questions..
1. Is it sufficient to change the name from "class Syntax" and "class getters and setters" to "Using class Syntax" and "Using getters and setters"?
2. In "class Syntax", there are class declarations using lowerCamelCase (var spaceShuttle... and class spaceShuttle...). If I am not mistaken, these should have the first letter capitalised right?

[2017-02-23 13:45] pamela113 commented on #13531
The exercise says to remove all \.
 Then you should have two single quotes and four double quotes.
The last part , 3 of 3 says you should remove all \ that are used to escape quotes.
I have a pass on part one and part two the third one is not passing.
Thanks for your prompt response!
Pamela

Sent from my iPhone

[2017-02-23 14:32] JoubertBlanche commented on #13112
I had the same problem. Delete the return reusableFunction();
And then press run. It will mark the first challenge green. Rewrite it again and it will go through.

[2017-02-23 15:23] akampoori commented on #13518
Hi @raisedadead, thank you for your advice, i thought that but i do submit my work and just view others solution without submitting. The only thing it my be possible that i login in my other laptop but still i don't see why getting others solution as i just view it without submitting their solution. I just submit mine. I will try to clear my browser cache and cookies. Thanks.

[2017-02-23 15:23] akshanshshrivastava opened #13545 "confusion"
after the instruction first it says "Remove all the backslashes ( \ )"
and on the 3rd it says "Only remove the backslashes \ used to escape quotes."
That doesn't make sense to me.

#### Challenge Name

https://www.freecodecamp.com/challenges/quoting-strings-with-single-quotes#?solution=%0A%0A%0Avar%20myStr%20%3D%20%22%22%3Ca%20href%3D'http%3A%2F%2Fwww.example.com'%20target%3D%5C%22_blank%5C%22%3EL

[2017-02-23 15:24] #13518 closed

[2017-02-23 15:24] raisedadead commented on #13496
Yes, you can create issues on this issue tracker. We will triage as deemed necessary.

[2017-02-23 15:32] raisedadead commented on #13518
@akampoori Thanks for the describing the flow that you followed. I now have a better idea to what might be happening.

- You solved one challenge.
- You then visited some one else's challenge for reviewing their code.
- You went on with solving more challenges.
- Then you came back to the previous challenge (via the map).

If this is the case then yes, you would see the solution for someone else i

[2017-02-23 15:33] raisedadead commented on #13319
Yup that makes sense.

[2017-02-23 15:36] JosephLivengood commented on #13545
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-02-23 15:36] #13545 closed

[2017-02-23 15:43] raisedadead commented on #13538
@masters-george thanks for the report, for what its worth I can see that the '9' is needed as a string for this challenge to pass the test, but that would lead to a pain point of unintentional typos as in your submission.

This is not a requirement for the challenge's scope about teaching array shift and unshift operations.

We should just update the seed and the test to accept `9` as a number ins

[2017-02-23 16:21] robbawebba commented on #12698
Hello! Do you mind if I work on the last 3 unclaimed challenges: String Interpolation using Backquotes, Enhanced Object Literals: Simple Fields, and Enhanced Object Literals: Functions?

[2017-02-23 16:23] Manish-Giri commented on #13538
@raisedadead I'll do this!

[2017-02-23 16:30] masters-george commented on #13538
Thanks! That's an easy one to miss.

George Masters
instructional Designer /Trainer
408.242.4632

On Thu, Feb 23, 2017 at 3:50 AM, Karuppiah <notifications@github.com> wrote:

[2017-02-23 16:31] jdeprey commented on #13531
@pamela113 Did you get get it working?  After removing the extra spaces the final code should look like this:
`var myStr ='<a href="http://www.example.com" target="_blank">Link</a>';`

[2017-02-23 16:38] raisedadead commented on #13538
@Manish-Giri all yours.! 😉

[2017-02-23 16:58] BerkeleyTrue commented on #12780
@raisedadead What loopback components have been updated?

[2017-02-23 16:59] BerkeleyTrue commented on #13430
In this case react just throws away the DOM and rebuilds it. It does not throw a nebulous error.

[2017-02-23 17:14] raisedadead commented on #12780
I just took a second look at the warnings and the deprecations are not related to the warnings in the OP.

<blockquote>

**strong-remoting** deprecated The built-in CORS middleware provided by REST adapter was deprecated. See https://docs.strongloop.com/display/public/LB/Security+considerations for more details. node_modules/strong-remoting/lib/remote-objects.js:97:25

**loopback-explorer** deprec

[2017-02-23 17:17] BerkeleyTrue commented on #12780
Yeah, I don't plan on moving to 3 until after beta is stable and in production.

I've yet to see those warnings. Is that the message in its entirety?

[2017-02-23 17:28] raisedadead commented on #12780
Agreed.

For loopback warnings : Its the OP's block + what I have above.

[2017-02-23 18:37] kbaniqued opened #13549 "Change the Font Size of an Element - Zoom 100 % Issue?"
#### Challenge Name

https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element

#### Issue Description

It doesn't let me pass this challenge even though browser is currently 100%.

#### Browser Information

* Browser Name: Chrome Version: 56.0.2924.87
* Operating System: Windows 7
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]
#### Screenshot

![image](https://clou

[2017-02-23 18:39] OFFLlNE commented on #13549
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-02-23 18:39] #13549 closed

[2017-02-23 18:54] loopliagiba opened #13550 "[beta] Bug adding email to account"
#### Issue Description

I signed up with Github and then went to add my email and it said "Something went wrong please try again later".

#### Browser Information

* Browser Name, Version: Chrome, 56.0.2924.87
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

[code]
#### Screenshot

![image](https://cloud.githubusercontent.com/assets/16135183/23273915/d67a80a0-f9ce-11e6-8bd3-5c

[2017-02-23 19:44] leonidiudakov opened #13552 "button not working"
When  i've done everything i clicked the button  "Run tests", but it did not work. Also the button was staying green, when i clicked in the editor it started again being white

[2017-02-23 20:16] outofblue opened #13553 "what's wrong with this?"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%20%20font-size%3A%2016px%3B%20%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolor%20sit%20

[2017-02-23 20:25] OFFLlNE commented on #13553
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-02-23 20:25] #13553 closed

[2017-02-23 21:12] HowdyHero commented on #11860
Hello, I just finished this challenge. I did it correct adding the div classes as requested, to the ''RADIO'' buttons which are at the bottom of the code and not to the Like, Info and Delete buttons. Here is an example:

<div class="row">
      <div class="col-xs-6">
    <label><input type="radio" name="indoor-outdoor"> Indoor</label>
      </div>
      <div class="col-xs-6">
    <label><input typ

[2017-02-23 21:43] atjonathan commented on #13552
@leonidiudakov, please provide the challenge name and your code. Also include which tests pass and which don't.

[2017-02-23 22:10] Greenheart commented on #12698
@IanTeo
1. It seems like @dhcodes might just have updated the titles in the PR referenced just above this comment so you can leave the titles unchanged.
2. You're right, good catch! :+1:

If you want more tips and guidelines for creating challenges - see our newly added [Challenge Style Guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenge-style-guide.md).

@robbawebba Th

[2017-02-23 22:31] sue888 opened #13555 "[beta] Responsive Web Design Principles has 5 hrs for estimated duration"
This isn't an issue with a specific challenge so apologies if I'm going off script here - but there's only four challenges in this section and the estimated time on the map is 5 hours.  Will there be additional challenges?

[2017-02-23 22:43] achudoz opened #13556 "Diff Two Arrays Challenge passed using wrong results."
#### Diff Two Arrays

https://www.freecodecamp.com/challenges/diff-two-arrays

#### Issue Description

Wrong array consisting of excessive numbers of correct solution values being accepted as right.
Upon entering a wrong combination of .filter() and a for loop methods, which returns incorrect array (code below), all the tests and the challenge as a whole are considered successfully passed.
e.g. th

[2017-02-23 23:00] Manish-Giri opened #13557 "Amend Gitter chatroom description to include advice against posting direct answers"
Having spent quite some time in the Help (and HelpJS) chat rooms, I've seen many instances where people (especially newcomers) post direct answers to campers looking for help with specific challenges.

I think posting answers is detrimental to the camper's learning process in the long run. Many people just tend to copy-paste the answers posted, instead of understanding the logic involved. Needless

[2017-02-23 23:01] erictleung commented on #13556
@achudoz thanks for the issue. This challenge's tests have been [updated recently](https://github.com/freeCodeCamp/freeCodeCamp/pull/11912), which solve the issue you've brought up. You can check them out on [the beta site](http://beta.freecodecamp.com/en/challenges/intermediate-algorithm-scripting/diff-two-arrays) for yourself. Closing as resolved in staging. Happy coding!

[2017-02-23 23:01] #13556 closed

[2017-02-23 23:04] Greenheart commented on #13327
I really like what I can see in this thread - This definitely has many benefits!

[2017-02-23 23:12] erictleung commented on #13557
@Manish-Giri firstly, thanks for all your help in the Gitter rooms!

I feel from a teaching perspective, just posting answers to "help" others can be frustrating for both parties as you've pointed out. I'm not sure how we can enforce this rule of not posting the answers. As noble as these intentions are to prevent people from finding answers, you can easily Google the answers to many of these chal

[2017-02-23 23:14] coymeetsworld commented on #13557
I also spend a good chunk of time in the chatrooms and this is a recurring issue. Usually it's with people that don't know any better and they just want to help. In most cases when you ask nicely to not post direct answers people apologize and change. But others are adamant about not changing, some can even be rude about it. While those cases are rare, they all seem to be of the mindset that if th

[2017-02-23 23:26] coymeetsworld commented on #13557
@erictleung we understand we can't stop people from posting direct answers necessarily and we're not asking for more mods either, I'm not sure if that would help much. No one ever said to me "you're not a mod here" or anything like that so the issue isn't authority I don't believe. People mostly tend to be unaware that what they're doing isn't a helpful way of interacting with those who have issue

[2017-02-23 23:36] coymeetsworld commented on #13557
This isn't a request for a challenge, nor is it a bug. This is more of a feature request for gitter.

[2017-02-23 23:39] OFFLlNE commented on #13557
I think maybe adding a command to camperbot, when calling it would display that posting answers is now allowed (cbot should show the higher "power" status I think)

And those who keep giving answers to people who keep coming back, I just ignore those come-backers and tag the helper to keep helping him.

When one-day they come to ask for help again and there is no answer-giver, then I just tell the

[2017-02-23 23:42] texas2010 commented on #13557
.

[2017-02-23 23:47] texas2010 commented on #13557
I don't know why they didn't realized it is wrong to post answer.  but they know better because teacher told them do not show their answer to other students!  if they do. they are cheat.
I guess they forget about that?

I understand it is very common problem now (my opinion)
I am glad about we could find a way to solve this problem. I hope so.

[2017-02-24 01:05] rquattros commented on #12822
I came across the exact same solution and exact same error. Moved the variables to inside the function and it's now recognized as correct answer! Thanks!

[2017-02-24 01:46] texas2010 commented on #13531
@jdeprey
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-02-24 02:42] mbabaian commented on #13373
I am having the same issue that Pamela mentioned in Issue # 13373. My code is:

var myStr = "I am a \"doubled quoted\" string inside \"double quotes\".";

The console.log() window prints:
myStr = I am a "double quoted" string inside "double quotes."

So it looks it's marking me wrong is because "myStr" is being printed, but that's not an error on my part. I've done a hard refresh and cleared brows

[2017-02-24 02:50] lydatech commented on #13557
The issue IMO isn't in the posting of answers, its the posting of answers without any explanation. There are plenty of time where it is appropriate it give someone an answer either due to frustration or what have you but it is imperative that those answers come with an explanation of what the camper was doing wrong and why the solution works the way it does.

Too many times people who are trying t

[2017-02-24 02:51] JohnOKeefe15 commented on #12687
Would love to submit a PR. I will do that later tonight.

[2017-02-24 02:55] lydatech commented on #13557
The issue IMO isn't in the posting of answers, its the posting of answers without any explanation. There are plenty of time where it is appropriate it give someone an answer either due to frustration or what have you but it is imperative that those answers come with an explanation of what the camper was doing wrong and why the solution works the way it does.

Too many times people who are trying t

[2017-02-24 03:00] Manish-Giri commented on #13557
No one was being rude or impolite or yelling at anyone. All we do is say "please don't post direct answers" with a small explanation of why it's not beneficial. As Coy mentioned earlier, most people take it the right way, while a few people get offended.

Please don't make claims based on facts which aren't 100% accurate.

[2017-02-24 03:03] lydatech opened #13561 "[beta] Various Challenges. Cursor Jumping to Top of Page"
#### Challenge Name
Various

#### Issue Description
When entering code into the challenge, the cursor will randomly jump to the top of the page mid-word while typing. Tested in 2 Browser and on 2 systems.
This is a random issue and doesn't happen on every challenge

#### Browser Information

* Browser Name, Version: FireFox, Chrome (Latest and Greatest)
* Operating System: Windows 7, Windows 10
*

[2017-02-24 03:05] lydatech commented on #13557
This wasn't a claim. It was an observation and not directed specifically at you Manish-Giri and it HAS been observed so it isnt an unfounded claim

[2017-02-24 03:09] Manish-Giri commented on #13557
@lydatech May I know why this issue was closed?

[2017-02-24 03:15] lydatech commented on #13557
This is more for the forum than the Git Issues. Please direct it there for discussion @Manish-Giri

[2017-02-24 03:15] #13557 closed

[2017-02-24 03:35] #13457 closed

[2017-02-24 03:56] erictleung commented on #13557
@Manish-Giri I think @lydatech has a point I didn't think of. Not only is this issue not a bug, but posting in the forum will engage more of the people that are in the chat rooms themselves. So you can definitely have a better and thorough discussion there :+1: But thanks for bringing up the issue. I haven't helped in the Gitter rooms as much as you do but I can see the frustration.

[2017-02-24 04:13] pendragon8 opened #13562 "Bug report for Commenting Out segment"
#### Challenge Name

After completing task of Commenting Out, I still get blocked with a message, Do not change the order, which I have not done and reset this a few times unsuccessfully. Is this a bug?

#### Issue Description

Commenting out `<h1>` and `<p>` doesn't complete this step, it gives error message of changing the order. I tried several times to change it to some desireable lineup, but

[2017-02-24 04:15] pendragon8 commented on #13562
After following the directions, why am I still getting an error message about changing the order? Please help so I can continue!

[2017-02-24 04:28] johngarcia9110 commented on #13400
Same issue here on chrome 56.0.2924.87. Confirmed that refreshing the page and submitting the correct answer on the first try allows the test to be completed successfully.

If the correct answer is submitted after an incorrect answer, the test will fail on: The quotient variable should only be assigned once.

[2017-02-24 04:31] Marmiz commented on #13562
@pendragon8  there's a typo in how you commented your `p`; that's why your challenge is not passing.

Please also mind that this is a place of reporting issue, to ask help it's better to go on Gitter or post/search on the forum:
[Gitter Help Chat](https://gitter.im/FreeCodeCamp/Help)
[Forum](https://forum.freecodecamp.com/)

Happy coding 👍

[2017-02-24 05:09] #13091 closed

[2017-02-24 05:09] #13100 closed

[2017-02-24 05:09] #13327 closed

[2017-02-24 05:12] QuincyLarson commented on #13466
@Ethan-Arrowood thanks for offering to help.

@BerkeleyTrue what's the status of the ES6 transpilation?

[2017-02-24 05:15] QuincyLarson commented on #7925
@donofriov Yes - if you think that will fix it, great. Bump `daysBetween` to 2 and update the tests so they will pass.

If you're able to, please see if you can add some additional test coverage to make sure this is addressing the various corner cases that have cropped up (there are several issues related to streaks).

Thank you for your time and attention to this. This has been a major issue for

[2017-02-24 05:19] QuincyLarson commented on #13460
@nawazishali Thanks for your feedback. Instead of penalizing the user, we could fire a JavaScript notification that a hint was used, and track which challenges people need to use the hints on the most, and see if we can refine those challenges. I don't think we should penalize campers. Alternatively, we could make the hint time-unlocked.

If the camper spends more than 2 minutes working on a chall

[2017-02-24 05:21] QuincyLarson commented on #11060
@Bouncey are you interested in trying to tackle this again? Perhaps we could get @BerkeleyTrue to put the structure in place, then you could build the component?

[2017-02-24 05:46] AngShiYa commented on #13513
I can take this up. Will a note like this be clear enough?
"Using either of both `>` or `/>` to close the link tag are acceptable."

[2017-02-24 05:54] IanTeo commented on #13531
Hi, can I do this?

[2017-02-24 05:58] RAYDENFilipp commented on #13513
@AngShiYa Fantastic! Seems easy to get the message.

[2017-02-24 07:07] raisedadead commented on #13531
@IanTeo sure, please go ahead.

Here are the [Guidelines for Contributing](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md).

[2017-02-24 07:09] raisedadead commented on #13513
@AngShiYa Sure, please go ahead. Thanks.

[2017-02-24 07:24] Marmiz commented on #13460
If I can spare my two cents, I don't really like the "timing" approach.

It reminds me of those free-to-play pay-to-win games, where you have to wait for a certain time to have an important item to be available again... unless you pay to have it now.

I'm sure that, as an open source, we don't want to give the impression that we hold information.
Moreover, let's be honest, if a camper would want a

[2017-02-24 07:45] vivekshiva4 commented on #6190
@chrswndrs in your code "Hole-in-one"; you are missing ! this one.
"Hole-in-one!";

[2017-02-24 08:47] psunday commented on #7477
please someone should help me out with dis

[2017-02-24 08:48] psunday commented on #7477
convertToF(0) should return a number
convertToF(-30) should return a value of -22
convertToF(-10) should return a value of 14
convertToF(0) should return a value of 32
convertToF(20) should return a value of 68
convertToF(30) should return a value of 86

[2017-02-24 10:13] Johnishaya commented on #12529
here is the code:
<script>
  $(document).ready(function() {

  $("button").addClass("animated");
     $(".btn").addClass("shake");
     $("#target1").addClass("btn-primary");
  });
</script>

[2017-02-24 11:06] jdeprey commented on #13531
If extra whitespace is allowed where and how much should be acceptable?  As in, should spaces be allowed before and after the assignment operator as well as between `href` and `target`?

[2017-02-24 11:12] gogolab commented on #13561
I confirm. I noticed the same weird cursor jumps in many challenges.

[2017-02-24 11:30] hay-dee commented on #11226
Hi all, is this issue still open? Can i work on it?

[2017-02-24 12:03] raisedadead commented on #13531
If extra whitespace is allowed where and how much should be acceptable?

Any no. It does not matter, the browser will strip away anything that's not needed.

[2017-02-24 12:05] raisedadead commented on #13555
Nope that will probably be updated to newer estimates, thanks for the report.

[2017-02-24 12:07] raisedadead commented on #13550
Thanks for the report.

[2017-02-24 12:08] raisedadead commented on #13561
@lydatech @gogolab thanks for the report.

We have had this in the older infrastructure as well. We though this was resolved.
Sad to hear that this is back again.

Will look into it.

[2017-02-24 12:09] raisedadead commented on #13561
Refer #7847

[2017-02-24 12:43] Kenneth-LJS opened #13565 "[beta] Bug in Creating and Adding to Sets in ES6"
#### Challenge Name

[Creating and Adding to Sets in ES6](https://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/creating-and-adding-to-sets-in-es6)

#### Issue Description

I can't get the test to pass no matter what I write in the editor, it keeps giving this error:

![image](https://cloud.githubusercontent.com/assets/21071217/23303809/2f431078-fad1-11e6-97ad-5c4b2

[2017-02-24 12:44] Kenneth-LJS commented on #13565
Looking at the challenge code, it seems like the test has syntax errors and won't compile:

![image](https://cloud.githubusercontent.com/assets/21071217/23303867/87343ec4-fad1-11e6-98cf-e36bde2a4cb4.png)

Can I try and fix this?

[2017-02-24 12:58] Bouncey commented on #11060
Id be happy to have a crack at it, and if I need help I'll get in touch with Berkeley surely. I'll not be able to start this until next week though

[2017-02-24 13:00] hay-dee commented on #11226
Should the answer allow for other style changes that will not affect the text color? E.g.: will the answer style="background-color:green;color:white;margin-left:40px" be allowed?

[2017-02-24 13:14] cdrainxv commented on #13513
Should the above link also be updated to v3.3.7 considering that v3.3.7 is required and included in the seed code for these challenges? I only mention this to maintain uniform consistency.

[2017-02-24 13:18] benschac commented on #11060
If @Bouncey doesn't want to I'd love to work on this.  I learned a little
react :D

On Fri, Feb 24, 2017 at 12:23 AM, Quincy Larson <notifications@github.com>
wrote:

[2017-02-24 13:42] raisedadead commented on #13513
Yup, thanks @cdrainxv.

@AngShiYa if your taking a crack at this, could you please update the link as well, as noted above?

[2017-02-24 13:51] raisedadead commented on #13562
@pendragon8 your code is incorrect. Please proceed to the chat room or the forum.

[2017-02-24 13:51] #13562 closed

[2017-02-24 13:56] raisedadead commented on #13565
@Kenneth-LJS Sure, please go ahead and make a pull request. And while you are at this can you update the challenge seed code for the `;` being on the wrong line in [these lines](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/08-coding-interview-questions-and-take-home-assignments/coding-interview-data-structure-questions.json#L696-L697)

Here are our [Guidelines for Cont

[2017-02-24 13:58] AngShiYa commented on #13513
Sure :)

[2017-02-24 14:54] texas2010 commented on #12529
@Johnishaya
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-02-24 14:55] texas2010 commented on #7477
@psunday Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.
GitHub Issues are for reporting bugs on the website only.

Happy Coding.

[2017-02-24 14:59] texas2010 commented on #821
@thebaconnater, this issue is old.    if you need a help with this challenge.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-24 15:04] texas2010 commented on #12813
@mobieonekinobi, Code editor have an issue. you could reset it then do challenge.

https://github.com/freeCodeCamp/freeCodeCamp/issues/7847

by the way, that challenge dont have an issue.  anyone could pass that challenge.

[2017-02-24 15:09] nawazishali commented on #13460
@QuincyLarson I agree that penalizing could have a negative impact on the user but instead of time limitation we can have a quiz type of question related to the exercise so that the user first needs to search out on internet to get the knowledge required to unlock the Hint/Solution, This way we can push the user to get at least some knowledge about that particular exercise before he gets to the so

[2017-02-24 15:18] dshelton2007 opened #13568 "Escape Sequences in Strings"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%20%3D%20%22Firstline%5Cn%5C%5CSecondLine%5C%5C%5CrThirdLine%22%3B%20%2F%2F%20Change%20this%20line%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
P

[2017-02-24 15:19] texas2010 commented on #13373
@mbabaian
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2017-02-24 15:25] texas2010 commented on #13568
@dshelton2007
Thanks for reporting this. But your code is incorrect and you got typo.
GitHub Issues are for reporting bugs on the website only.
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2017-02-24 15:25] #13568 closed

[2017-02-24 16:10] gogolab opened #13569 "[beta] "ES6: Use Destructuring Assignment with Arrays": challenge seed contains part of description"
Challenge  use-destructuring-assignment-with-arrays  http://beta.freecodecamp.com/en/challenges/es6/use-destructuring-assignment-with-arrays  has an issue. User Agent is: <code>Mozilla/5.0  X11; Ubuntu; Linux x86_64; rv:51.0  Gecko/20100101 Firefox/51.0 </code>.

Challenge seed contains part of challenge description, possibly instead of the proper part of code:

`let a   8, b   6; // change code b

[2017-02-24 16:26] #13078 closed

[2017-02-24 16:30] #11226 closed

[2017-02-24 16:42] KhalifKahin commented on #13447
thank u very much

On 19 Feb 2017 13:34, "mrugesh mohapatra" <notifications@github.com> wrote:

Closed #13447 <https://github.com/freeCodeCamp/freeCodeCamp/issues/13447>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/freeCodeCamp/freeCodeCamp/issues/13447#event-968277526>,
or mute the thread
<https://github.com/notificatio

[2017-02-24 17:04] stephanmax opened #13571 "Test 2 on "Trigger Click Events with JavaScript" keeps failing"
Challenge [trigger-click-events-with-javascript](https://beta.freecodecamp.com/en/challenges/json-apis-and-ajax/trigger-click-events-with-javascript) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.

Please find my solution code attached. The second test `Your code should add an oncli

[2017-02-24 17:11] AngShiYa commented on #13569
I'll fix this.

[2017-02-24 17:12] Greenheart commented on #12687
@JohnOKeefe15 Great! I can review it but I found a small problem - you've opened the PR against your fork of the freeCodeCamp. Could you open a PR against https://github.com/freeCodeCamp/freeCodeCamp instead?

And no problem, I really like to pay things forward like how I was introduced to the world of OSS one and a half year ago! :smile:

[2017-02-24 17:40] #13513 closed

[2017-02-24 17:40] Greenheart commented on #13513
Thanks to everyone involved! This is the beauty of OSS collaboration at it's best! :smile:

[2017-02-24 18:51] dhcodes commented on #9079
In the beta, this challenge is moved to the "take-home" projects so it's not required for a certificate. Having said that, I know this has been a long-time issue and having re-read the user stories, I think we should recommend [Dark Sky] as it works over SSL. The reason I have hesitated to recommend it in the past is because it doesn't output the user location (city/state) as part of the API which

[2017-02-24 19:31] raisedadead commented on #9079
@dhcodes Sure thing, but I would also update the current pen in that case so that while we release beta, this one is resolved and campers do not face the issue.

Let me know, if you can get it working. I'll update the official pen.

[2017-02-24 20:35] #13312 closed

[2017-02-24 21:01] rarmatei commented on #13397
@Manish-Giri Thanks so much for correcting the wording. I recently made a change to the challenge and it got merged really quickly, so I didn't get a chance to hear more people's opinion on it. So appreciate you re-opening the discussion on this.

@raisedadead The reason I went with "Some CSS changes will be necessary for this." is because I thought it was slightly hinting at the solution, but not

[2017-02-24 21:24] #13466 closed

[2017-02-24 21:28] Ethan-Arrowood commented on #13571
I'll look into this after class

[2017-02-24 21:34] #13569 closed

[2017-02-24 21:36] Ethan-Arrowood commented on #13571
Issue is the test is expecting no space between the onclick and function keywords. I'll fix this tonight!

[2017-02-24 22:33] pamela113 commented on #13531
Hi,
Thanks Joseph!!  I logged out and logged back in and it worked.
Pam

On Thu, Feb 23, 2017 at 7:48 PM, Lance <notifications@github.com> wrote:

[2017-02-24 23:15] AdannaGithub opened #13575 "Applied Responsive Web Design Projects: Build a Tribute Page youtube video not playing"
<img width="1095" alt="screen shot 2017-02-24 at 23 13 11" src="https://cloud.githubusercontent.com/assets/18629431/23324688/38e426a6-fae7-11e6-88e6-503e2dda242a.png">
Challenge [build-a-tribute-page](https://beta.freecodecamp.com/en/challenges/applied-responsive-web-design-projects/build-a-tribute-page) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit

[2017-02-24 23:25] Greenheart commented on #13459
**Originally from a comment on #13343:**

This still allows the challenge to be passed

[code]

I see two approaches to making the tests more robust:
1. Use a regex to verify that the first line of the challengeSeed is intact, and that the `code` only contains one instance of the `=` character. **This is probably the best method**.
2. Alternatively we can verify that the array methods have actuall

[2017-02-24 23:29] Greenheart commented on #13459
@erictleung @Manish-Giri I could submit a fix for this right away.

[2017-02-25 00:04] Greenheart commented on #13571
@Ethan-Arrowood Great work with the triaging!

May I suggest that you replace the second test with one checking for `typeof document.getElementById('getMessage').onclick === 'function'` rather than the regex-based one?

This way, we could allow arrow functions to be used as event handlers as well.

[2017-02-25 00:08] Ethan-Arrowood commented on #13571
Ooh I like that! Okay I'll give it a shot :)

[2017-02-25 00:52] rifkegribenes opened #13578 "[beta] Convert strings to url slugs failing 1 test?"
Challenge [apply-functional-programming-to-convert-strings-to-url-slugs](http://beta.freecodecamp.com/en/challenges/functional-programming/apply-functional-programming-to-convert-strings-to-url-slugs) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce th

[2017-02-25 01:46] CodeFlowerChild commented on #13243
Mine is doing the same, I've tried doing the challenge in a new incognito window but no luck. Can someone help me get this fixed so I can move forward? Thank you.

[2017-02-25 02:21] vickiemitchell opened #13579 "Smallest common multiple is correct but returns incorrect"
Challenge [Smallest Common Multiple](https://www.freecodecamp.com/challenges/smallest-common-multiple#?solution=) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2017-02-25 02:41] QuincyLarson commented on #13460
@nawazishali that is a novel idea, and I like the fact that it pushes the learner to seek out information to unlock the hint. This said, you are right - this would be difficult to execute properly, and may just end up making the user experience frustrating.

I agree with @Marmiz that the timed unlock thing could become frustrating. We've made every other aspect of fCC completely accessible. People

[2017-02-25 02:48] QuincyLarson commented on #11060
@benschac that would be awesome. Yes - if you can figure out how to create a new view for each challenge category that has all the challenges in that category. Ideally, the route structure would be something like:

[code]

Please let me know if you have any questions - I'll do my best to keep you unblocked and moving forward.

[2017-02-25 03:18] JosephLivengood commented on #13579
`//nonprotect` at the top should be `//noprotect` and then it works.

Possibly we need to way to show this is the error when this happens? I was only able to tell when i plugged that test case into the code itself!

[2017-02-25 03:20] Ethan-Arrowood commented on #13578
I'll be happy to give this a shot! Will comment soon after investigating 👍

[2017-02-25 03:40] Ethan-Arrowood commented on #13578
Please reset this challenge and try it again. I was able to get all tests to pass using your exact code.

[2017-02-25 03:42] Ethan-Arrowood commented on #13538
@Manish-Giri How are you doing on this? Let me know if you'd like any help or want to pass it on to me.

[2017-02-25 04:09] rifkegribenes commented on #13578
that worked thanks! sorry i should have tried that first.

[2017-02-25 04:30] QuincyLarson commented on #8418
Our plan is to:
- [ ] download ALL messages from FreeCodeCamp/Help
- [ ] download ALL messages from FreeCodeCamp/HelpJavaScript
- [ ] download ALL messages from FreeCodeCamp/FreeCodeCamp
- [ ] download messages from all other rooms that occurred after Dec 24th

Once all these messages are in the https://github.com/FreeCodeCamp/gitter-history repo, I will go through and delete all rooms except for

[2017-02-25 04:30] johngarcia9110 commented on #13373
@texas2010 This particular challenge does hang even when the correct code is entered. Took multiple browser refreshes in order for it to accept my answer.

Code/solution for reference:

`var myStr = "I am a \"double quoted\" string inside \"double quotes\"."; // Change this line`

Test hangs on:

You should use two double quotes (") and four escaped double quotes (\").

Even though test passes on:

[2017-02-25 04:50] vikramnr commented on #13575
I also facing this issue. I have tried clearing cache memory and it still persists.

[2017-02-25 05:22] Woodshadow commented on #6525
Glad this post exists. I was very confused how to do undefined. The previous example the problem leads to doesn't really apply.  I'm not sure how else it could have been explained but it wasn't clear to me. Maybe there needs to be a glossary of terms somewhere. It is very hard to go back and find what I am looking for in FCC

[2017-02-25 05:27] eti8 opened #13581 "Typo in "HTML5 and CSS: Use Hex Code for Specific Colors""
https://www.freecodecamp.com/challenges/use-hex-code-for-specific-colors

"Like decimals, the symbols 0-9 **represents** values zero to nine."

It should be "...symbols 0-9 **represent** values...", right?

Otherwise, congratulations for the tremendous work on the site.
This is very helpful.

[2017-02-25 06:04] vignesh005 opened #13582 "basic html"
Challenge [Say Hello to HTML Elements](https://www.freecodecamp.com/challenges/say-hello-to-html-elements#?solution=%3Chtml%3E%0A%3Chead%3E%20%20%0A%3Cmarque%3E%3Ch1%3Etitle%3C%2Fh1%3E%3C%2Fmarque%3E%0A%3C%2Fhead%3E%0A%3Cbody%3E%20%20%0A%3Cbackground%3D%22name.%20extension%22%3E%0A%3Cp%3E%0Aany%20%0A%3Cp%3E%0A%3Cimgsrc%3D%22name.%20extension%22%3E%0A%20%20%3C%2Fbody%3E%0A%3C%2Fhtml%3E%20%20%0A%20%

[2017-02-25 06:05] #13578 closed

[2017-02-25 06:11] raisedadead commented on #13575
We are removing videos, these will be updated soon with images. Refer #12753

[2017-02-25 06:11] #13575 closed

[2017-02-25 06:44] raisedadead commented on #13579
We do throw off an error when loopProtect catches and breaks the execution. But this is logged in console.

Not sure, how we would move this to a notification.

[2017-02-25 07:31] avotg opened #13585 "sumPrimes(10) shouldn't return 17."
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-25 07:51] cdrainxv commented on #13582
@vignesh005: Your editor should not look like that. Please reset your code.

[2017-02-25 09:42] #13565 closed

[2017-02-25 09:50] #13531 closed

[2017-02-25 10:05] #13538 closed

[2017-02-25 10:12] #13571 closed

[2017-02-25 10:23] Greenheart opened #13586 "[beta] Consider changing title for "JSON APIs and Ajax: Trigger Click Events with JavaScript""
Challenge [trigger-click-events-with-javascript](http://beta.freecodecamp.com/en/challenges/json-apis-and-ajax/trigger-click-events-with-javascript) has an issue.

As this challenge is about adding an `onclick` handler for a DOM element, I think the title of this challenge should be changed to "Handle Click Events with JavaScript with the onclick Property".

If this challenge were to cover the top

[2017-02-25 10:30] Greenheart opened #13587 "[beta] Clicking the Bug button and then "Browse other issues" opens new tabs for both "Browse other issues" and "Create my github issue""
Challenge [trigger-click-events-with-javascript](http://beta.freecodecamp.com/en/challenges/json-apis-and-ajax/trigger-click-events-with-javascript) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:51.0) Gecko/20100101 Firefox/51.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

![bug-button](https://cloud.githubuserc

[2017-02-25 11:41] Greenheart commented on #13581
@eti8 Thanks for reporting this!

Don't worry about the bot - we haven't taught it proper manners yet... :smile:

I think an alternative might be "...symbols 0-9 **represent the** values...". What do you think?

[2017-02-25 13:20] pamela113 commented on #13373
Thanks John!

Sent from my iPhone

[2017-02-25 14:10] Kenneth-LJS opened #13590 "[beta] Minor code errors in many coding interview challenges"
#### Challenge Name

https://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/remove-from-a-set
https://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/perform-a-union-on-two-sets
https://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/perform-an-intersection-on-two-sets-of-data
https://beta.freecodecamp.com/e

[2017-02-25 14:23] #13524 closed

[2017-02-25 14:28] atjonathan commented on #13524
@devking1118, please reopen if this is a legitimate issue.

[2017-02-25 14:28] #13429 closed

[2017-02-25 14:56] #13590 closed

[2017-02-25 15:20] texas2010 commented on #13582
@vignesh005
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-25 15:20] #13582 closed

[2017-02-25 15:23] texas2010 commented on #13373
@johngarcia9110, this challenge dont have an issue.  she almost got it.

Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2017-02-25 15:43] systimotic commented on #11792
This issue was fixed in #13105 🎉

[2017-02-25 15:43] #11792 closed

[2017-02-25 15:58] systimotic commented on #12644
A little bit of clarification on this issue:

CSS tests can't be passed in Firefox. We don't yet know why, but it doesn't have anything to do with the CSP, as confirmed by @dhcodes. We're tackling this in #10749

There is a warning about the deprecation of the CSP `frame-src` property. This deprecation was specified in the CSP level 2 specification. In the CSP level 3 specification, this property

[2017-02-25 16:55] donofriov commented on #13585
Yes it should. This should be closed.

2 + 3 + 5 + 7 = 17

![image](https://cloud.githubusercontent.com/assets/4457953/23332975/2d7f657c-fb51-11e6-8fc5-8ce1f8786d26.png)

[2017-02-25 17:18] #13372 closed

[2017-02-25 17:21] KenzoM opened #13593 "YouTube video on Drum Machine project error"
Looks like there's an error on the YouTube video for the Drum Machine Challenge

#### Challenge Name
Front End Frameworks Projects: Build a Drum Machine

#### Browser Information

* Browser Name, Version:  Chrome 56
* Operating System: Macintosh; Intel Mac OS X 10_12_3
* Mobile, Desktop, or Tablet:  Desktop

#### Screenshot
<img width="1256" alt="screen shot 2017-02-25 at 9 17 29 am" src="https://

[2017-02-25 17:27] avotg commented on #13585
Sum all the prime numbers up to and* including the provided number*.

17 + 10 = 27

On Sat, Feb 25, 2017 at 8:56 PM, donofriov <notifications@github.com> wrote:

[2017-02-25 17:28] donofriov commented on #13585
10 is not a prime, 10 can be divided by 1, 2, 5, and 10.

[2017-02-25 17:31] avotg commented on #13585
The provided number may not be a prime.

On Sat, Feb 25, 2017 at 9:30 PM, donofriov <notifications@github.com> wrote:

[2017-02-25 17:32] avotg commented on #13585
doesn't that mean that we should sum up no matter what?

On Sat, Feb 25, 2017 at 9:31 PM, AVo T-G <21avo.tg@gmail.com> wrote:

[2017-02-25 17:43] dhcodes commented on #13593
@KenzoM thanks for the issue. The project videos will be removed soon per https://github.com/freeCodeCamp/freeCodeCamp/issues/12753

Closing this a result.

[2017-02-25 17:43] #13593 closed

[2017-02-25 17:44] eti8 commented on #13581
@Greenheart You're welcome.
It's the least I can do to show some gratefulness.

Yes, your alternative sounds even better.

[2017-02-25 17:44] dhcodes commented on #13585
Sum all the **prime** numbers up to and* including...

[2017-02-25 17:44] #13585 closed

[2017-02-25 17:46] KenzoM opened #13594 "[beta] CSS Pseudo-classes"
I was lucky enough today during my phone screen for (junior position) that I knew a bit about CSS's Psuedo-classes, particularly `nth-child(n)`.

I was looking at the beta FCC's curriculum and I don't see anything about Psuedo-classes.

Perhaps we can add more lessons about it to the curriculum?

[2017-02-25 17:51] dhcodes commented on #13581
First-timers only:
Here's the line to change per @Greenheart's recommendation: https://github.com/freeCodeCamp/freeCodeCamp/blob/c73bb44be92abaacb80deb327ff615b67c5b7317/seed/challenges/01-responsive-web-design/basic-css.json#L3124

[2017-02-25 18:19] Greenheart commented on #10749
I've successfully used native alternatives such as `document.querySelector('#someElement').style.insertPropertyHere` instead of `$('#someElement').css()`. It seems to be more reliable accross browsers, and seems to be more performant (~40 - 50 ms) on my computer.

As JS is getting more and more standardized, I feel like we should take advantage of what the environment gives us.

A simple solution

[2017-02-25 18:24] Greenheart commented on #13581
@eti8 As you reported it, would you like to make an open source contribution and fix this? Me and other contributors would be happy to guide you through the process! :smile:

See the links @dhcodes posted above for more info.

[2017-02-25 18:36] deepanshuchg opened #13595 "[Solved] It wasnt an error, I misinterpreted. Delete This"
No error.

[2017-02-25 18:58] orvi2014 commented on #13581
Can I contribute on this ?

[2017-02-25 19:31] Greenheart commented on #13581
@orvi2014 Thanks for asking! :blush: If @eti8 doesn't want it, I'll ping you.

Meanwhile, see if you can find any issue you find interesting and mention me (`@Greenheart`) and I will help you get started :blush:

[2017-02-25 19:51] eti8 commented on #13581
@Greenheart Yes, sure I'd be delighted to.

I'll go over the [free series](https://egghead.io/courses/how-to-contribute-to-an-open-source-project-on-github):
then the [contribution guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md)
and come back to you when I'm ready.

Thanks for being available for guidance, I really appreciate it.

[2017-02-25 21:08] BhaveshSGupta commented on #13493
I would like to try this, but I am still trying to figure how to do that..

[2017-02-25 21:26] #13595 closed

[2017-02-25 21:37] ajain17 commented on #13493
@BhaveshSGupta  go ahead, I havent started work on it.

[2017-02-25 22:04] engrmuri opened #13596 "CSS"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20h2%20%7B%0A%20%20%20%20%27red-text%27%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%

[2017-02-25 22:40] tommygebru opened #13597 "[beta][UX][enhancement] Issue with challenge"
http://beta.freecodecamp.com/en/challenges/basic-css/use-clockwise-notation-to-specify-the-padding-of-an-element
Basic CSS: Use Clockwise Notation to Specify the Padding of an Element

When the challenge begins there is a snippet of code `0px;`
That is not supposed to be in the "results" viewport of the phone template....
I cannot screenshot at the moment but a quick look at the page will show wha

[2017-02-25 22:53] OFFLlNE commented on #13596
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-02-25 22:53] #13596 closed

[2017-02-25 23:15] Greenheart commented on #12644
@systimotic Good points, I'd say we close this :+1:

[2017-02-25 23:53] Manish-Giri commented on #11961
@systimotic I see this has been open for a while. I'll do this..

[2017-02-25 23:54] cjnadz opened #13598 "cj"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-25 23:54] systimotic commented on #11961
@Manish-Giri Awesome! Ping me when you have a PR 🙂

[2017-02-25 23:54] cjnadz commented on #13598
Nonetheless

[2017-02-25 23:54] #13598 closed

[2017-02-25 23:56] systimotic commented on #8096
/cc @freeCodeCamp/moderators 👆

[2017-02-26 00:06] Manish-Giri commented on #11961
@systimotic How do you feel about adding a `note` after the last instruction? Something like -

I think this might be better than a code example like
[code]
which might make things too easy.

[2017-02-26 00:09] systimotic commented on #12683
@OFFLlNE This works for me now, can you check whether it works for you as well and close?

[2017-02-26 00:12] systimotic commented on #11961
@Manish-Giri I don't think we ever mentioned this before, so it's not really a reminder. I like the idea of changing the description and tests to say something like "all HTML after the closing style tag" or "... after the style element"

[2017-02-26 00:15] systimotic commented on #12644
It seemed like @dhcodes took a really good look at this as well, so I'll block this for his response. He can close if he agrees 👍

[2017-02-26 00:40] systimotic commented on #12694
If you're reading this, you saw that the issue was closed, which means that this issue has been fixed! 🎉

[2017-02-26 00:49] systimotic commented on #12802
Hi @P1xt, thanks for reporting this issue!

There is so much going on with the beta that nobody picked up on this issue. A few issues later somebody reported the same thing. I'm closing this in favour of that, as more progress has been made there.
https://github.com/freeCodeCamp/freeCodeCamp/issues/12807

[2017-02-26 00:49] #12802 closed

[2017-02-26 01:18] tyxpow opened #13600 "Can't pass? Browser is at 100%"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20.smaller-image%7B%0A%20%20%20%20width%3A%20100px%3B%0A%20%20%7D%0A%0A%20%2

[2017-02-26 01:19] Manish-Giri commented on #13600
@tyxpow You haven't added the class to the `img` element yet -
`<img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back. ">`.

Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) if you need help with challenges like these, in future. Happy Coding!

[2017-02-26 01:43] tyxpow opened #13601 "The link is dead but I can't pass the challenge? Did I place the "#" in the wrong place?"
Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-f

[2017-02-26 02:41] XXiphias commented on #13601
The link should look like <a href="#">, not <a # href="link">like you have.

I suggest you checkout FCC's Help room, it would be a better place to post these questions: https://gitter.im/FreeCodeCamp/Help

[2017-02-26 02:55] hay-dee commented on #13468
hi @Atomk can i work on this issue with you? I can make the below changes to the hover challenge:

- remove text-decoration concept
- Add description on pseudo-classes
- Insert example with :hover selector

[2017-02-26 03:18] bagzy commented on #13581
Hi Guys, I am not seeing that issue. Has this one been resolved?

[2017-02-26 03:37] eti8 commented on #13581
@Greenheart I went through the videos and over some of the guidelines.
I won't be able to contribute to this issue and fix it anytime soon.
Please feel free to assign/ping it to someone else (@orvi2014 or @bagzy or others).

Once trained and ready, I'll get back later this year to contribute to another issue/typo, I might spot as I'll progress through the tutorials.

Meanwhile, my best wishes to a

[2017-02-26 03:42] XXiphias commented on #13581
It looks like someone has fixed this, changing `represents` to `represent` as was initially suggested.

[2017-02-26 04:12] Kenneth-LJS opened #13602 "[beta] Many code warnings in default challenge code"
#### Challenge Name

[Delete a Node with One Child in a Binary Search Tree](https://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/delete-a-node-with-one-child-in-a-binary-search-tree)
[Delete a Node with Two Children in a Binary Search Tree](https://beta.freecodecamp.com/en/challenges/coding-interview-data-structure-questions/delete-a-node-with-two-children-in-a-bin

[2017-02-26 04:54] dilawarx commented on #8953
sorry it didn't help 👎

[2017-02-26 04:58] mpaluru opened #13605 "Add version tags and make "releases""
freeCodeCamp repo currently doesn't follow any software release processes. It would be really a good idea to start versioning the software and do "releases". See: [GitHub Help: Creating Releases](https://help.github.com/articles/creating-releases)

For example: v1.0.0, v1.1.2, v2.0.1 etc. (See http://semver.org/)

Some thoughts on how this can be done:
- Pick the git hash which is currently in pro

[2017-02-26 06:41] wizardMonkie commented on #10944
@erictleung
General feedback: As a beginner this lesson threw me off. I been writing everything down and "undefined" slipped by real good lol. Gotta watch out for information flooding. Holding someones hand is damaging but quick reminders about random past lessons would go a long way in a forward moving environment, background nagging keeps old info as fresh as new. Other than this one, all is wel

[2017-02-26 08:01] BrewBaby commented on #9764
'FirstLine\n\\SecondLine\\\rThirdLine';

no spaces and pay attention to caps

[2017-02-26 08:36] SDMG96 opened #13606 "Everything has passed except blue! i've done every colour the same way!"
- Give your h1 element with the text I am red! the color red.
- Use rgb for the color red.
- Give your h1 element with the text I am orchid! the color orchid.
- Use rgb for the color orchid.

- Give your h1 element with the text I am sienna! the color sienna.
- Use rgb for the color sienna.

Challenge [Use RGB to Mix Colors](https://www.freecodecamp.com/challenges/use-rgb-to-mix-colors#?solution=%

[2017-02-26 08:37] #13606 closed

[2017-02-26 13:12] evaristoc commented on #8418
Sorry @QuincyLarson asking why FreeCodeCamp/FreeCodeCamp?

[2017-02-26 15:04] dawpes opened #13608 "doesn't pass test"
Challenge [use-css-selectors-to-style-elements](http://beta.freecodecamp.com/en/challenges/basic-css/use-css-selectors-to-style-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 5.1; rv:50.0) Gecko/20100101 Firefox/50.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

[2017-02-26 16:07] BhaveshSGupta commented on #13608
This is a browser specific issue.

[2017-02-26 17:01] texas2010 commented on #13606
@SDMG96 you got typo in code.

Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-26 17:09] texas2010 commented on #13601
@tyxpow
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-26 17:09] #13601 closed

[2017-02-26 17:11] texas2010 commented on #13600
@tyxpow
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-26 17:11] #13600 closed

[2017-02-26 17:21] OFFLlNE commented on #13608
Thank you for reporting the issue.

Here are a couple suggestions:
1.Reload the page and run the tests again. A script may have crashed, preventing the tests from running.
2.Try the challenge in incognito mode. A plugin might be interfering with the tests.
3.Try the challenge in a different browser. There may be an issue with your version.
Please try these things in order and let us know what did

[2017-02-26 17:37] eladonline commented on #13523
this is the answer i got
Q: API calls return an error 401
A: Starting from 9 October 2015 our API requires a valid APPID for access. Note that this does not mean that our API is subscription-only now - please take a minute to register a free account to receive a key.

We are sorry for inconvenience but this is a necessary measure that will help us deliver our services to you faster and more reliab

[2017-02-26 18:05] erictleung commented on #13581
@XXiphias the change now incorporates the change with "the" to make it "represents **the** values..."

Whoever picks this might as well change the proceeding sentence as it is very similar to this issue.

[code]

[2017-02-26 18:18] erictleung commented on #8418
@evaristoc sounds like the answer is

A room called just  `freeCodeCamp` isn't really descriptive of what the room does, per se.

[2017-02-26 18:18] dragancajic opened #13610 "BootstrapCDN link typo & Best Practice"
Challenge [Use Responsive Design with Bootstrap Fluid Containers](https://www.freecodecamp.com/challenges/use-responsive-design-with-bootstrap-fluid-containers) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Ubuntu; Linux i686; rv:45.0) Gecko/20100101 Firefox/45.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

link with an issue is:
`<link

[2017-02-26 18:19] Mrblue27 commented on #13600
I am stuck on this task . I have done it several times and still getting the same results. What am  I missing and where should the correction be made.

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

[2017-02-26 18:39] erictleung commented on #13610
@dragancajic thanks for the issue! Two points for your issue.

The bootstrap CDN link was updated in the codebase recently with this merged PR https://github.com/freeCodeCamp/freeCodeCamp/pull/13570. It'll only some time until an update is pushed to the production site.

Our curriculum, especially early on in the bootstrap section, doesn't teach best practices. It focuses on getting learners up an

[2017-02-26 19:13] tommygebru commented on #13322
@manur1984 to opt out of github notifications unsubscribe from each thread you have contributed to or you can go to https://github.com/settings/notifications and manage them all there 👍

[2017-02-26 19:17] tommygebru opened #13611 "[beta] possibly a change in instruction is needed for challenge"
http://beta.freecodecamp.com/en/challenges/applied-visual-design/create-visual-balance-using-the-textalign-property
Applied Visual Design: Create Visual Balance Using the Text-align Property

The challenge works fine, its just that the instructions are a bit unclear, the challenge `requires the value "justify" but this is a new terminology `and it is not addressed in the instructions, this can be

[2017-02-26 20:00] erictleung commented on #13605
I like the idea of versioning freeCodeCamp's codebase from a software engineering perspective. This could be useful understanding the history of changes freeCodeCamp goes through. It might even be helpful for analytics purposes.

I'm just not sure how much more overhead it will be. @BerkeleyTrue already merges changes regularly to the `master` branch. There's constant development on freeCodeCamp a

[2017-02-26 20:19] no-stack-dub-sack commented on #13597
@tommygebru this is all I see in the phone at the start of the challenge:
![image](https://cloud.githubusercontent.com/assets/18563015/23343300/f99d4c06-fc36-11e6-9a85-38d152bd31e1.png)

[2017-02-26 20:21] XXiphias commented on #13600
The code you have in your style section looks fine @Mrblue27. The issue likely lies in your html which you did not post.

That said, as the post above yours says, use the <a href="https://gitter.im/FreeCodeCamp/Help">Help chat room</a> for assistance. This area is meant for bugs.

[2017-02-26 20:23] mpaluru commented on #13605
@erictleung @BerkeleyTrue I am not sure how often Berkley merges to master, but every time we merge to master that could be consider a release. From my experience working with GitHub, I don't think making a tag is a big overhead. `git tag -a v1.0 -m "Introducing version tags"` (See: https://git-scm.com/book/en/v2/Git-Basics-Tagging)

[2017-02-26 20:51] erictleung commented on #8096
@systimotic I'm fine with your suggestion. Sounds reasonable. So should we just add a `Note` about using ES5 syntax for this challenge then?

[2017-02-26 21:01] systimotic commented on #13608
Hi @dawpes! Thank you for reporting this issue.

This is an issue with CSS tests in Firefox. The main issue is https://github.com/freeCodeCamp/freeCodeCamp/issues/10749 This is a big issue that affects a lot of people, so we are looking to resolve it soon. For now, you'll have to switch to Chrome for any challenges with CSS tests in the beta.

Thanks you for trying out the beta, and happy coding!

[2017-02-26 21:01] #13608 closed

[2017-02-26 21:18] BhaveshSGupta commented on #12769
I would like to work on this

[2017-02-26 21:32] erictleung commented on #13611
@tommygebru agreed. This section needs some love and describe what "justify" means in the context of paragraphs. This could include information on centering, left, and right justification. [This page](https://developer.mozilla.org/en-US/docs/Web/CSS/text-align) might help in crafting a sufficient description of what you can do with `text-align`.

[2017-02-26 21:52] Atomk commented on #13468
@hay-dee Sorry for the delay in my response, of course you can work on it. To be honest these days I'm very busy so I don't know how much I can contribute.

[2017-02-26 23:12] erictleung opened #13613 "Hover State of Anchor Tag Test Insufficient"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/applied-visual-design/adjust-the-hover-state-of-an-anchor-tag

#### Issue Description

This challenge was updated recently with PR https://github.com/freeCodeCamp/freeCodeCamp/pull/13604. The second test now only requires that you change the color of the tag while hovering to blue.

This test only checks for the word `blue`. The instr

[2017-02-26 23:22] tommygebru commented on #13597
it was outside (and above the yellow box) of the structured code also it showed up in dev tools 👍

[2017-02-26 23:55] szib commented on #13613
Can I do this?

[2017-02-27 00:15] mahboobshah commented on #13613
can I?

[2017-02-27 04:44] BhaveshSGupta commented on #13508
@raisedadead This issue is because of #10749, You can see the test case it uses jQuery's CSS method

[2017-02-27 06:13] sandeeproy opened #13616 "No red text"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20h2%20.red-text%20%7B%0A%20%20%20%20%20color%20%3A%20red%3B%20%0A%20%20%20%20%20%7D%20%20%20%20%20%20%20%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20ev

[2017-02-27 06:27] sandeeproy opened #13617 "Not accepting comments"
Challenge [Specify How Fonts Should Degrade](https://www.freecodecamp.com/challenges/specify-how-fonts-should-degrade#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%7B%0A%20%20%20font-family%3A%20Lobst

[2017-02-27 08:13] atear10 opened #13619 "code works fine in chrome but not in codecamp compiler"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2017-02-27 08:23] Marmiz commented on #13619
@atear10 Your code worked fine for me.

Sometimes the website "jams"; in those cases try refreshing the page and submit your code again.

If that doesn't work try deleting the cache as well as reloading, then submit again your code.

[2017-02-27 08:23] Johnishaya commented on #13147
a=5 ; b = 10 ; c ="I am a";

[2017-02-27 08:47] #13619 closed

[2017-02-27 08:51] szib commented on #13616
I don't think it is an issue. Using `.red-text` as a selector is enough to solve the challenge, but you can also use `h2.red-text` (without space between them).

[2017-02-27 09:21] darkshadow4578 opened #13620 "Between the style tags, give the p elements font-size of 16px. Browser and Text zoom should be at 100%."
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-27 10:15] Xantherr opened #13621 "100% zoom issue"
![screenshot 76](https://cloud.githubusercontent.com/assets/26056758/23357339/68ad92e6-fd03-11e6-9f49-cd42f0cb44d2.png)

#### Challenge Name
https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20p%7B%0A%20%20%20%20font-size%3D16px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20cl

[2017-02-27 10:46] Marmiz commented on #13621
@Xantherr there's an error in your `p` style declaration.
Nothing to do with zoom at 100%.

Next time before assuming it's a bug, please consider asking for help in the official [help chat room](https://gitter.im/FreeCodeCamp/Help)

Happy coding 👍

[2017-02-27 11:59] Aaqilshaik commented on #12834
Even if u keep the dot( . ) , its still not working for me.

[2017-02-27 12:22] hay-dee commented on #13468
@Atomk hey no worries, thanks for your understanding. I can try to work on the remaining pointers raised in order to close this issue.

@Greenheart Is there a guide/reference available on how to add a new challenge page (for text-decoration) to the freeCodeCamp client?

[2017-02-27 12:39] Atomk commented on #13468
Little proposal for the text-decoration challenge:
"By default, the links created with the `<a>` tag are underlined. You can remove all the text decorations from of an element using `text-decoration: none;`."
The goal would be to remove the underline from the link. I don't think my choice of words is the best so feel free to improve!

[2017-02-27 12:46] marekjedlinski opened #13622 "JSON code has no effect (the call fails?)"
Challenge [Get JSON with the jQuery getJSON Method](https://www.freecodecamp.com/challenges/get-json-with-the-jquery-getjson-method) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; rv:47.0) Gecko/20100101 Firefox/47.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

**Clicking the "Get message" button does nothing (the message does

[2017-02-27 13:02] JacobMcCall2 opened #13623 "Had to change line below where stated not to."
Challenge [Using Objects for Lookups](https://www.freecodecamp.com/challenges/using-objects-for-lookups#?solution=%0A%2F%2F%20Setup%0Afunction%20phoneticLookup(val)%20%7B%0A%20%20var%20result%20%3D%20%22%22%3B%0A%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20var%20lookup%20%3D%20%7B%0A%20%20%20%20%22alpha%22%3A%22Adams%22%2C%0A%20%20%20%20%22bravo%22%3A%22Boston%22%2C%0A%20%2

[2017-02-27 14:15] Greenheart commented on #13581
@eti8 You're welcome when you're ready! We'll be around in the [Contributors chat room](https://gitter.im/FreeCodeCamp/Contributors) if you want to get in touch in the future.

Thanks, and happy coding! :)

[2017-02-27 14:35] Lexis9784 commented on #13561
Confirmed. Tested on Chrome with Windows 7. Cursor jumps to top of the page when hitting enter for a new line. First noticed on "Nest Many Elements within a Single Div Element" in Basic HTML.

[2017-02-27 14:37] systimotic commented on #13613
@erictleung There are so many options:
From @szib:
[code]
Thus also
[code]
and your originals
[code]
While the last three plus `rgb(0, 0, 255)` will cover most of the cases, maybe it would be a better idea to change the description to require use of the keyword `blue`

[2017-02-27 14:53] Marmiz commented on #13460
@QuincyLarson just came home and started working on a simple demo on my local copy; at least to have some initial screenshot/visuals on how it may looks like.

Hope to have it ready soon<sup>tm</sup>!

[2017-02-27 15:09] Ethan-Arrowood commented on #13617
@sandeeproy What is your issue with this challenge? If you need help understanding what to do please ask in the gitter help channel: https://gitter.im/FreeCodeCamp/Help
Otherwise if you think something is actually wrong with the challenge itself please elaborate and I will look into it.

[2017-02-27 15:10] Ethan-Arrowood commented on #13620
@darkshadow4578 Please fill out the rest of this issue or close it. If you need help with a challenge go to the public gitter channel: https://gitter.im/FreeCodeCamp/Help

[2017-02-27 15:17] Greenheart commented on #13616
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-02-27 15:17] #13616 closed

[2017-02-27 15:18] Greenheart commented on #13617
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-02-27 15:18] #13617 closed

[2017-02-27 15:20] dhcodes commented on #12644
I'm fine with closing this but maybe we should reopen https://github.com/freeCodeCamp/freeCodeCamp/issues/10595 as a way to track which challenges have had the tests updated per @Greenheart's suggestion in another thread (can't remember which) to use native functionality like `document.querySelector`

[2017-02-27 15:20] Ethan-Arrowood commented on #13623
@JacobMcCall2 This isn't an FCC issue. If you have questions regarding challenges please ask them here: https://gitter.im/FreeCodeCamp/Help
F.Y.I you can solve this challenge without editing the return line by assigning result := lookup[val];

[2017-02-27 15:24] Ethan-Arrowood commented on #13622
@marekjedlinski this is not a github issue. If you have questions regarding completing a challenge please ask in: https://gitter.im/FreeCodeCamp/Help
Anyways, your issue is you have spaces between the keywords 'class' & 'id' and then the '=' sign and then the appropriate string.

[2017-02-27 15:35] Greenheart commented on #13468
@Atomk Thanks for your help with this! A big part of contributing is actually about discussing ideas here on GitHub. I like to think of it as a big forum of interesting people whom I can learn from :smile:

@hay-dee Actually, there is a document about how we aim to structure challenges! [freeCodeCamp's Challenge Style Guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenge-

[2017-02-27 15:39] systimotic commented on #12644
@dhcodes That was suggested in #10749. To me, ideally we fix the jQuery CSS tests in Firefox rather than replace them. I'll close this, we can discuss the solution further in #10749 👍 Thanks a bunch for the triaging work on this @dhcodes!

[2017-02-27 15:39] #12644 closed

[2017-02-27 16:01] systimotic commented on #8096
@erictleung Yeah, that sounds like a plan. Do you have any ideas on how to add a note without confusing campers that don't know about ES6 yet?

[2017-02-27 16:15] texas2010 commented on #13621
@Xantherr you got typo in code.

Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2017-02-27 16:15] #13621 closed

[2017-02-27 16:18] texas2010 commented on #13622
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-02-27 16:18] #13622 closed

[2017-02-27 16:22] texas2010 commented on #13620
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-02-27 16:22] #13620 closed

[2017-02-27 16:26] Ethan-Arrowood commented on #13594
Whats the process of adding to the FCC curriculum? Can a community member make a submission? If so whats the proper way to do so?

[2017-02-27 16:35] texas2010 commented on #13623
@JacobMcCall2  Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.c

[2017-02-27 16:35] #13623 closed

[2017-02-27 16:37] erictleung commented on #13613
@systimotic mmm yeah, good point. Should we just change the seed code to use `black` instead of `#000` to make it consistent?

[2017-02-27 17:31] #13472 closed

[2017-02-27 17:49] Greenheart commented on #12683
I'm closing as I just verified that this is fixed in Chrome 56 and Firefox 51.

Thanks to everyone involved! :smile:

[2017-02-27 17:49] #12683 closed

[2017-02-27 18:11] Greenheart opened #13626 "[GitHub Workflow for Contributors]: Improve use of labels for reviewing PRs"
This is a continuation of [this discussion](https://gitter.im/FreeCodeCamp/Contributors?at=58b459bc4150746b151525c9) about how to use labels for PRs.

Instead of using the `blocked` label for PRs that have been reviewed but need further changes, we concluded that something like `changes requested` could be more friendly towards contributors than the `blocked` label.

If we want to make this change

[2017-02-27 18:32] QuincyLarson commented on #10749
@Greenheart this won't fix the underlying problem that the challenges aren't pulling in the libraries like they're supposed to, but if you want to refactor the challenges to use native JS instead of jQuery, you've got a green light from me :)

[2017-02-27 18:38] raisedadead commented on #13507
Closing, please clarify if you were able to proceed as directed?

[2017-02-27 18:38] #13507 closed

[2017-02-27 18:39] raisedadead commented on #13449
Closing, please clarify if you were able to proceed as directed in my comment earlier.

[2017-02-27 18:39] #13449 closed

[2017-02-27 18:39] raisedadead commented on #13520
Closing, please clarify as requested.

[2017-02-27 18:42] BhaveshSGupta commented on #13613
@erictleung @systimotic once we are able to solve #10749 then we can use $('a').hover().css('color'), which would check for all the cases

[2017-02-27 18:54] raisedadead commented on #13605
While versioning is a good idea, IMHO releases are not, as in case of other popular repositories, we are not distributing any pre-built binaries. Or as in case of JavaScript libraries, we aren't publishing to npm. In short, We are not building an app but a platform.

Sure a change log would help. Also, tagging is not the concern. Its simple process.

But that said, the actual overhead here is the

[2017-02-27 19:18] Greenheart commented on #10749
@QuincyLarson Could you please clarify this?

I was a bit unclear with my original message - I only suggest that we rewrite the **failing tests** with native solutions.

[2017-02-27 19:58] Greenheart opened #13627 "[beta] Minor formatting issue in "Introduction to the React challenges""
# Welcome, new contributors!

[Introduction to the React Challenges](http://beta.freecodecamp.com/en/challenges/react/introduction-to-the-react-challenges)

The last sentence needs an extra space before "freeCodeCamp".
[code]

To get started, please read the [Contribution Guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md). This helps you set up a local environme

[2017-02-27 20:16] BigCCP opened #13628 "Profile Lookup issue"
Each if statement works on its own, but when I put them all together the function does not work anymore. Spent a bit of time squeezing my brain to find out what the problem is, so any advice would be very much appreciated.

//Setup
var contacts = [
    {
        "firstName": "Akira",
        "lastName": "Laine",
        "number": "0543236543",
        "likes": ["Pizza", "Coding", "Brownie Points"]

[2017-02-27 20:17] BerkeleyTrue commented on #13605
@raisedadead the dead is correct.

A website doesn't necessarily need versioning since there is only ever one version of the site running at once. While fcc is open source and there are other versions of fcc running outside of our control, this is not the a use case of the fcc site.

I like to think of fcc as living software.

@mpaluru thanks for opening the issue and starting the

[2017-02-27 20:53] Lexis9784 opened #13630 "Codepen signup link leads to 404 error"
#### Challenge Name
Applied Responsive Web Design Projects --> Get set for our responsive web design projects

#### Issue Description

Link to codepen free signup page leads to a 404 (page not found) error. Should be linked to "https://codepen.io/accounts/signup/user/free"

#### Browser Information

* Browser Name, Version: Chrome
* Operating System: Windows 7
* Mobile, Desktop, or Tablet: Desktop

[2017-02-27 21:03] augmt commented on #8096
@systimotic I think the tests for this challenge should be flexible enough to allow both ES5 and ES6 syntaxes to pass.

ES6 class methods are non-enumerable for some reason, and there isn't a simple way to implement private data. But this challenge seems to be more about creating a data structure than enumerable or private properties. Both syntaxes can do that.

[2017-02-27 21:25] mpaluru commented on #13605
@BerkeleyTrue @raisedadead I agree with your concerns of having additional overhead with releases. The software should at least be versioned.

Currently FCC is being deployed only on freecodecamp.com. Since it's open source, other people can and would like to setup their own version of FCC websites either for internal/external use. If there are particular version tags, the user would then be able

[2017-02-27 21:50] BerkeleyTrue commented on #13605
It definitely is, it's just not using something like SemVar but Git.

If it is about what to point a latest tag to it should point to master (actually backup/master until we attempt to get the new curriculum in production), which will be what is currently running.

This end user should assume that if the master branch has been updated then their version is out of date.

While fCC is technically so

[2017-02-27 22:28] #13627 closed

[2017-02-27 22:35] tommygebru opened #13633 "[beta][ui][enhancement] remove hint button"
some challenges have a hint button.. I constantly hit the hint button instead of submit and spend too much time reviewing correct code for possible errors...

If I recall correctly javascript challenges have external links to MDN to explain new coding concepts and terminology....

We should consider doing the same with the basic HTML and CSS sections of the FCC curriculum, I dont think hints are a

[2017-02-27 23:29] donofriov commented on #13630
@Lexis9784 Looks like CodePen updated their URL so the old one was in FCC. I have an open fix for it now, just waiting on sign off. Good find!

[2017-02-27 23:30] #13630 closed

[2017-02-27 23:39] donofriov commented on #13628
Hey @BigCCP -- GitHub is used for raising issues with freeCodeCamp, like if there are bugs in the challenges. Gitter is the best place to get help from fellow campers! I see you have an account over there already, so I'll send you a message with some help working through this.

@members This can be closed.

[2017-02-28 00:12] erictleung commented on #13613
@BhaveshSGupta thanks for looking at this! I neglected to do my due diligence on looking at past issues and think a bit before posting :stuck_out_tongue_closed_eyes: Mmm so I guess this issue should just be blocked until #10749 gets resolved. I might have to play around with this issue a bit more. I'll keep this issue blocked for now.

[2017-02-28 00:13] Jamayk opened #13635 "Vague Description / Easy Task - Intermediate Algorithm Challenge - Missing Letters"
My solution checked all FCC tests and also returned 1 or more letters (if it was the case).
But then I had some more Qs: what if the letters have random order, what if my str contains other chars, and so on; then I checked FCC Wiki:

Clearly I was overthinking it; but **maybe description of the challenge should be a bit more accurate, like specify that the str is a-z, sorted, missing only one lett

[2017-02-28 00:29] mahboobshah commented on #13613
Thanks everyone. I will pick this issue after it is unblocked.

[2017-02-28 00:51] dwrz opened #13636 ""Diff Two Arrays" Should Test Multiple Identical Values"
I think I managed to kludge my way through this challenge, because the tests are too lax.

I've tested this on the Beta site, and the bug seems to exist there, too. This is despite the beta site's recent update (see: https://github.com/freeCodeCamp/freeCodeCamp/issues/13556).

The following program passes all the current tests on the challenge. However, if multiple identical values are included in

[2017-02-28 01:00] Kalinaki commented on #10494
I get something similar. I believe there is a contradiction between the 1st requirement and 2nd and 3rd requirements. The 1st requirement asks that your branch name is      add-"yournamehere"
At the same time your branch name should match your GitHub username.

Please verify.

[2017-02-28 01:16] no-stack-dub-sack commented on #13633
@tommygebru If I'm not mistaken, in beta, we are trying to eliminate outside links as much as possible, and so the hints are a good alternative. The general idea here is not to distract campers from the curriculum and at the same time, enforce the good habit of researching things on your own - a must have habit for every developer. So not sure that adding extra external links will be the best solu

[2017-02-28 01:20] no-stack-dub-sack commented on #13626
@Greenheart Where is the labeling guide located? I was thinking about this just the other day actually, so funny that you should bring this up. I think labeling in general could use some work, and a guide that explains how to appropriately label, both for PRs and for issues, should be more readily available. Perhaps I am missing something, but I have never come across the guide.

And to address yo

[2017-02-28 01:41] dwrz commented on #13636
I still don't feel very comfortable with my solution, but perhaps I'm wrong here.

http://math.stackexchange.com/questions/934378/why-cant-a-set-have-two-elements-of-the-same-value

Seems to suggest that a set with multiple items of the same element would condense to just one item for that element.

Maybe my math is not up to par -- apologies if that's the case.

[2017-02-28 01:57] XXiphias commented on #13400
Just had this happen to me. I had pasted in the correct answer and ran the test then got this error (the 3rd check failing). I reloaded the page and then re-ran the test and it worked.

[2017-02-28 02:34] idietmoran commented on #8096
I'm not sure if it helps, but you can use this to test it if you really wanted.

[code]

that returns this

[code]

[2017-02-28 02:39] tommygebru commented on #13597
@no-stack-dub-sack same issue with
Applied Accessibility: Standardize Times with the HTML5 Datetime Attribute
http://beta.freecodecamp.com/en/challenges/applied-accessibility/standardize-times-with-the-html5-datetime-attribute

[2017-02-28 03:26] erictleung commented on #8096
@systimotic mmm in beta, the "Make a Person" challenge is shown after the ES6 module. So by that time, we could just specify that you shouldn't use ES6 classes for this challenge.

@augmt I don't actually know too much about ES6 syntax yet (been on my list for a while :sweat_smile:) but if we can incorporate both ES5 and ES6 class definitions to work in the tests, then that would be the best.

[2017-02-28 03:28] erictleung commented on #13626
I also agree that the `blocked` label could be unfriendly and ambiguous. Maybe we should have a separate or add-on to the labels to be PR specific. We should definitely have something along the lines of `in progress` (which exists already) and create the `changes requested`. Status labels will be great signs for contributors and us triaging PRs.

[2017-02-28 03:39] Manish-Giri commented on #13626
Speaking of `changes requested`, isn't there already a Github default `changes requested`? Like I see [on this PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/13618).

![234](https://cloud.githubusercontent.com/assets/11348778/23390582/18eebebc-fd3d-11e6-82e0-59b8f6bd8366.png)

What do you think?

[2017-02-28 04:01] erictleung commented on #13636
@dwrz thanks for the issue. So in the strictest sense, `[1, 1, 2, 3]` is not a set because a set only contains unique values, unless a multiset, as you have pointed out. So having to check multiple values would not really be doing a symmetric difference between two "sets".

For this challenge, I think it's sufficient for what it is currently asking for. It is pretty defined and requires quite a bi

[2017-02-28 04:03] erictleung commented on #13626
@Manish-Giri good point. You can filter for those now on GitHub. Maybe we can just add `in progress` for those for easy visual recognition.

[2017-02-28 04:12] erictleung opened #13638 "Codepen sign up link for other languages needs updating"
#### Challenge Name

"Get Set for our Responsive Web Design Projects" (but for other languages)

#### Issue Description

Similar to an [earlier issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/13630), Codepen's sign up page has changed and the sign-up link needs to be updated for the other languages.

#### Changes Proposed

[This line](https://github.com/freeCodeCamp/freeCodeCamp/blob/st

[2017-02-28 04:18] mpaluru commented on #13605
Fair enough.

[2017-02-28 04:18] #13605 closed

[2017-02-28 05:16] Marmiz commented on #13638
I can take care of this if none steps forward :)

[2017-02-28 05:44] Rmanzo94 opened #13640 "Having problem to style my tribute page"
Challenge [Build a Tribute Page](https://www.freecodecamp.com/challenges/build-a-tribute-page) has an issue.
i cannot style my tribute page any classes i am using on html aren't working i don't know what's going on
![2017-02-27 1](https://cloud.githubusercontent.com/assets/24912113/23393171/d92c0b06-fd35-11e6-83ad-0a22ddb38027.png)

[2017-02-28 07:44] ZentoBot opened #13641 "Help, it wont post out the link!"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2017-02-28 07:55] #13628 closed

[2017-02-28 08:23] voidfare commented on #13640
Did you set your codepen up to use bootstrap? Click the "Settings" tab at the top right and double check.

[2017-02-28 09:15] OFFLlNE commented on #13641
Here are a couple suggestions:
1. Reload the page and run the tests again. A script may have crashed, preventing the tests from running.
2. Try the challenge in incognito mode. A plugin might be interfering with the tests.
3. Try the challenge in a different browser. There may be an issue with your version of Browser.
Please try these things in order and let us know what did and didn't work. I can

[2017-02-28 09:17] OFFLlNE commented on #13640
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-02-28 09:17] #13640 closed

[2017-02-28 09:44] Khamulenko commented on #10165
Between the style tags, give the p elements font-size of 16px. Browser and Text zoom should be at 100%.

[2017-02-28 10:18] sid-doshi commented on #13638
I can handle this if @Marmiz  dosent mind.

[2017-02-28 10:49] gouserizvi opened #13642 "please help me"
Challenge [Add a Submit Button to a Form](https://www.freecodecamp.com/challenges/add-a-submit-button-to-a-form#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobst

[2017-02-28 11:34] MayankJ30 commented on #711
Hey Buddy, How you doing? I just signed up on AskIITians . Do you know about it? I discovered it by chance and boy! it is one of the most comprehensive websites for Foundation (Grade 6-10th)/IIT-JEE/AIPMT preparation. They have tons of FREE Study Material. You know I don't advocate anything like this but I found it to be too good and couldn't resist. You could - Book a Free Trial Here Access Free

[2017-02-28 11:48] JosephLivengood commented on #13642
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-02-28 11:48] #13642 closed

[2017-02-28 12:15] AlastairTaft commented on #13110
Encase anyone else finds this issue. I hit this problem because I was missing a `<tbody />` tag inside my `<table /> element.

[2017-02-28 14:22] Marmiz commented on #13638
At all! :)
Good luck and happy coding!

[2017-02-28 14:28] systimotic commented on #13432
Certificates in the beta will be handled in https://github.com/freeCodeCamp/freeCodeCamp/issues/12794
@Greenheart Do you think this can be closed?

[2017-02-28 14:44] #13432 closed

[2017-02-28 14:57] systimotic commented on #13613
@BhaveshSGupta Good idea!
@erictleung I don't think we need to wait for that issue. That issue appears only in Firefox, and for all CSS tests. If we can get this to work in Chrome, it should also work in Firefox once that issue is resolved.

[2017-02-28 15:01] BeyondMedia01 opened #13644 "Can't pass the challenge. Won't accept correct code."
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-02-28 15:13] systimotic commented on #13430
Reason for this error seems to be that the seed file was like the following:
[code]
React wants to put everything that is between quotes inside a paragraph, so it becomes something like
[code]
which it seems to thoroughly dislike.
#13618 should take care of this

[2017-02-28 15:15] Barterr opened #13645 "[beta] Adjusting the color of various elements to complementary colors on Firefox"
Challenge doesn't count as complete on Firefox, same code works on Chrome just fine.

Challenge [adjusting-the-color-of-various-elements-to-complementary-colors](http://beta.freecodecamp.com/en/challenges/applied-visual-design/adjusting-the-color-of-various-elements-to-complementary-colors) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64; rv:51.0) Gecko/20100101 Firefox/51.0

[2017-02-28 15:23] donniereese commented on #13611
I agree with @tommygebru. However, I also think that the handholding needs to be kept to a minimum and encourage research.  With that, MDN already has such a good catalog of information.  Could we leverage that in some way?  For instance, anytime an element is mentions, simply include a link where it is mentioned to the appropriate page in MDN?

Also, visual aids work well, too.

[2017-02-28 15:37] raisedadead commented on #13633
We have a separate issue for implementation of Hint mechanism. I am closing this because we are not doing away with the hints for foreseeable future.

Thanks and happy coding!

[2017-02-28 15:37] #13633 closed

[2017-02-28 15:39] raisedadead commented on #13597
Please provide screenshots to assist us better with your query.

[2017-02-28 15:40] Barterr opened #13646 "[beta] create-texture-by-adding-a-subtle-pattern-as-a-background-image"
The tests are not recognizing it as right in either Firefox or Chrome, the code is below. I can see the pattern being applied in the preview so it should be right. Am I doing something wrong? If not it's a bug.

Challenge [create-texture-by-adding-a-subtle-pattern-as-a-background-image](http://beta.freecodecamp.com/en/challenges/applied-visual-design/create-texture-by-adding-a-subtle-pattern-as-a-

[2017-02-28 15:43] raisedadead commented on #13594
@KenzoM thanks a lot for this request, this helps us in identifying what recruiters are asking out there and tuning our curriculum further.

Sorry about the delay in getting back to you.

/cc @freeCodeCamp/moderators Any experts here for a insight on how and what to include?

[2017-02-28 15:46] raisedadead commented on #13594
Yes we welcome contributions from everyone, and would be grateful for them, please feel free to create an issue in this repository for initiating a request or https://github.com/freeCodeCamp/CurriculumExpansion, where you can discuss exact content of curriculum in depth.

Once confirmed you can make a pull request to add to the content where by you need to follow the [Guidelines for Contributing](

[2017-02-28 15:53] raisedadead commented on #13552
Please clarify as requested.

[2017-02-28 15:53] #13552 closed

[2017-02-28 16:18] tommygebru commented on #13597
@no-stack-dub-sack Is it possible I am seeing these issues because I have completed the preceding challenges?

[2017-02-28 17:29] sid-doshi commented on #13638
thanks @Marmiz

[2017-02-28 17:34] seunzone commented on #9858
Carefully watch the way I place the commas. I had same issue and discovered also that the commas has to be well placed:
`var myMusic = [
  {
    "artist": "Billy Joel",
    "title": "Piano Man",
    "release_year": 1973,
    "formats": [
      "CS",
      "8T",
      "LP" ],
    "gold": true
  },
  // Add record here
   {
"artist": "Fela Kuti",
"title": "Happy Boy",
"release_year": 2017,
"formats"

[2017-02-28 17:45] Ethan-Arrowood commented on #13646
Looking into this now. Will get back to you shortly :)

[2017-02-28 17:47] Ethan-Arrowood commented on #13646
No issue here, the url function requires you enter the url as a string.
background: url('https://i.imgur.com/MJAkxbh.png')
Will solve the problem and complete the tests.

[2017-02-28 17:48] KenzoM commented on #13594
Awesome, thanks for the reply @raisedadead !
I will see if I can come up with other CSS related stuff that may come in handy after my interview this week.

[2017-02-28 17:48] BhaveshSGupta commented on #13613
@systimotic I am trying to figure out vanilla, version for this, Still not close, If we do it by vanilla js it may also work on  Firefox. And that could be used for other challenges where this #10749 issue is there.

[2017-02-28 17:51] erictleung commented on #13646
@Barterr thanks for the issue, but as @Ethan-Arrowood has pointed out, you need quotes around the URL. This is also mentioned in the instructions

Closing as non-issue. Happy coding!

[2017-02-28 17:51] #13646 closed

[2017-02-28 18:10] Barterr commented on #13646
Ohh of course, my bad, sorry about that :)

[2017-02-28 18:45] RufusVS commented on #13600
I couldn't pass with Firefox, but when I switched the same lesson in Safari, it worked.

[2017-02-28 18:46] Ethan-Arrowood commented on #12844
Changed the color in the challenge.less file. Making a PR now :)
`
.refresh-icon {
  color: darkgreen;
}
`

[2017-02-28 19:00] hathcode opened #13652 "bug @ escape sequence or issue with instructions or both"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]
The code I have written ab

[2017-02-28 19:17] tommygebru opened #13653 "S3 outage - images won't load"
I am however able to see the alt message sometimes, but the svg log is failing to load.
''learn to code javascript at freeCodeCamp logo"
This is for all challenges and the website in general in beta

[2017-02-28 19:26] hathcode commented on #13652
var myStr = "FirstLine\n\\SecondLine\\\rThirdLine"; // Change this line

the above code passes (finally, pretty sure I had that at one point), but it DOES NOT produce ...

...which is the stated desired outcome.  The result of the code that passes is ...

or

...where Thirdline overwrights the SecondLine as you would expect with \r but no \n.

[2017-02-28 19:32] tommygebru commented on #13653
also the "results" phone templates are gone too...

[2017-02-28 20:05] systimotic commented on #13653
@tommygebru Thanks for reporting. We are aware of this issue. This is caused by an outage at AWS S3, where all of our images are hosted. https://status.aws.amazon.com/
A big part of the internet is affected by this. All we can do is wait and hope the AWS team fixes it soon, which I'm sure they will.
https://twitter.com/ossia/status/836651123092176897

[2017-02-28 20:15] Greenheart commented on #13626
Thanks for your feedback! :smile:

This is how I see the workflow after reading your comments:
* Avoid the `blocked` label - rather use a GitHub review to leave a `changes requested` status (which mods easily can see).
* Replace `QA` with `in progress`

I'm unsure about the next steps though. Maybe we don't need a more formal process than the above two steps - An easier process is more fun to work

[2017-02-28 20:15] tommygebru commented on #13653
@systimotic thanks for responding, I switched computers, because I thought it was my issue

[2017-02-28 20:15] pepehipolito opened #13654 "Impossible solution"
**Challenge** [Falsy Bouncer](https://www.freecodecamp.com/challenges/falsy-bouncer#?solution=%0Afunction%20bouncer(arr)%20%7B%0A%20%20%2F%2F%20Don't%20show%20a%20false%20ID%20to%20this%20bouncer.%0A%20%20return%20arr%3B%0A%7D%0A%0Abouncer(%5B7%2C%20%22ate%22%2C%20%22%22%2C%20false%2C%209%5D)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.

[2017-02-28 20:18] RufusVS opened #13655 "The cat picture links are not rendering in either Firefox or Safari even if I specify the URL in my address bar."
The cat picture links are not rendering in either Firefox or Safari even if I specify the URL in my address bar.

From my current lesson: challenges/use-the-bootstrap-grid-to-put-elements-side-by-side
[code]

[2017-02-28 20:22] cameren75 commented on #13655
I'm having the same problem.

[2017-02-28 20:24] BhaveshSGupta commented on #13655
@RufusVS actually this bit.ly link expands to https://s3.amazonaws.com/freecodecamp/relaxing-cat.jpg, If you might be not aware amazon s3 server are down due to some glitch. website http://www.isitdownrightnow.com/ is also down right now :D please wait for some time as soon as amazon is up this would be up.

[2017-02-28 20:24] systimotic commented on #13655
Thanks for reporting this issue! We're aware of this. See https://github.com/freeCodeCamp/freeCodeCamp/issues/13653#issuecomment-283146682 for more details. I'm closing this as a duplicate.

[2017-02-28 20:24] #13655 closed

[2017-02-28 20:36] Kalinaki opened #13657 "Major Issue with the way FreeCodeCamp teaches!"
I'm definitely a beginner and I'm really looking to actually understand the logic behind each step that needs to be taken when solving the challenges.

I have a major issue with the way FreeCodeCamp avoids actually teaching their campers(students).

Branches like:
- Basic Algorith scrpting
- Intermediate Algorithm scripting
- Advanced Algorithm scripting
- All the Front-end Projects

1.I consider

[2017-02-28 20:41] RayJaws opened #13658 "Image on side not showing"
Image on the side is not showing. All I see is a "?" in a blue box. I am using a Mac computer. Should this be an issue?

Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/602.4.8 (KHTML, like Gecko) Version/10.0.3 Safari/602.4.8</code>.
Please describe how to reproduc

[2017-02-28 21:17] systimotic commented on #13658
@RayJaws Thank you for reporting this issue. We're aware of this, it's caused by an outage at our image hosting provider, AWS S3. See https://github.com/freeCodeCamp/freeCodeCamp/issues/13653 for more details. I'm closing this as a duplicate.

[2017-02-28 21:17] #13658 closed

[2017-02-28 21:20] systimotic commented on #13653
**Update at 1:12 PM PST** from the AWS status page. Everything should be back to normal for us!
After refreshing your browser, images should load again. If not, please clear your cache and try again. I'm closing this issue. If it comes backup, please comment and reopen!

[2017-02-28 21:20] #13653 closed

[2017-02-28 21:20] systimotic commented on #13658
**Update at 1:12 PM PST** from the AWS status page. Everything should be back to normal for us!
After refreshing your browser, images should load again. If not, please clear your cache and try again.

[2017-02-28 21:21] systimotic commented on #13655
**Update at 1:12 PM PST** from the AWS status page. Everything should be back to normal for us!
After refreshing your browser, images should load again. If not, please clear your cache and try again.

[2017-02-28 21:21] systimotic commented on #13655
Update at 1:12 PM PST from the AWS status page. Everything should be back to normal for us!
After refreshing your browser, images should load again. If not, please clear your cache and try again.

[2017-02-28 21:42] rahsheen commented on #13657
I ran into the same thing, but then I discovered that the forums pretty much walk you through each challenge and even provide possible solutions after a Spoiler Alert warning. It would probably be better if the forum and even Gitter chat was given more visibility within the actual challenges.

[2017-02-28 21:43] #13163 closed

[2017-02-28 21:43] #13168 closed

[2017-02-28 21:52] AdelMahjoub commented on #13657
I guess no one can learn anything from a book just by reading the **Table of contens** pages.
Freecodecamp provides a road, a guideline, the rest is up to you.

[2017-02-28 21:55] erictleung commented on #13657
@Kalinaki thanks for taking the time to write up your feedback on the curriculum! We welcome feedback on it and hope to continually improve. Here are my responses to your points based on my opinion and understanding of the curriculum's philosophy.

This is philosophy in the challenges is to lower the barrier to which to get started with programming. Programming can be seen as this magically and my

[2017-02-28 21:59] atjonathan opened #13659 "Unused npm package "clipboard" should be removed."
**To First Timer:**
You will need to remove [this](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/package.json#L44) line. Please, check our [**Guidelines for Contributing**](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) and if you need any assistance reach out to the [Contributors Chat room](https://gitter.im/FreeCodeCamp/HelpContributors).

[2017-02-28 22:13] texas2010 commented on #13641
I am not sure what problem is.
I could pass this challenge with his code.

@ZentoBot please tell us what problem you get. thanks!

[2017-02-28 22:24] RufusVS opened #13660 "the kitten picture challenges end at a pretty ugly end result: (would your boss accept this?)"
#### Challenge Name
https://www.freecodecamp.com/challenges/line-up-form-elements-responsively-with-bootstrap
#### Issue Description
The final product of the kitten picture tasks is quite ugly (at least on firefox).   The "Loving" choice in personality section drops down a line instead of staying on the row.   And the button text on some buttons overflow or are too far to the right.
#### Browser I

[2017-02-28 22:31] erictleung commented on #13657
@Kalinaki just to be clear, I'm not saying that freeCodeCamp is "perfect." There are plenty of criticisms out there for it as well, for example [this one recently](https://forum.freecodecamp.com/t/no-disrespect-intended-but-is-this-just-a-quiz-site/84599). I'm saying that freeCodeCamp gives you a community to support your learning and framework to learn from. You shouldn't feel constrained by free

[2017-02-28 22:32] erictleung commented on #13660
Closing as duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/7842. Feel free to continue the conversation over there in case your concerns haven't been addressed yet. Happy coding!

[2017-02-28 22:32] #13660 closed

[2017-02-28 22:37] tommygebru opened #13661 "[beta][UI][UX][enhancement] new bonus section in the instructions panel of Css flexbox lessons"
Im sorry to bring up this issue again but it seems that freecodecamp is encouraging students to become familar with flexbox on Freecodecamp's website...

The problem with that is that I would have to Run the challenge over 5 times and close the Toast Modal Window the same amount of times....

Seems like a poor UX choice and a confusing one as well, I think the notification needs to be revised or w

[2017-02-28 22:59] Kalinaki commented on #13657
@erictleung I'm actually re-learning math on Khan Academy while I learn to coding here(although there are coding lessons and videos there as well).
Further more, I hope I wasn't misunderstood with my remarks. I completely understand the idea behind the Read-search-ask method and why it is so important in the field. I also respect the fact that we live in a time where everything is moving forward w

[2017-02-28 23:04] tommygebru opened #13662 "[beta] 404 error for external link"
http://beta.freecodecamp.com/en/challenges/applied-responsive-web-design-projects/get-set-for-our-responsive-web-design-projects

The button "Open link in new tab(this unlocks the next step)"
has a 404 destination

[2017-02-28 23:52] tommygebru opened #13663 "[beta] possible mistake, FCC: Test Suite"
I decided to work the projects on beta just to test everything out, it seems that the projects test suite, checks for almost every html element to have an id....

I think that is a mistake for class instead...

[2017-03-01 00:07] tommygebru commented on #13663
Also I am having a hard time getting this test to pass...

Layout #2
The <img> element should be centered within its parent element.

For the project: Tribute page

[2017-03-01 00:09] erictleung commented on #13662
@tommygebru thanks for the issue. This has been fixed in `staging` with this recent PR https://github.com/freeCodeCamp/freeCodeCamp/pull/13634. Closing as resolved in staging. Happy coding!

[2017-03-01 00:09] #13662 closed

[2017-03-01 00:58] fonsecapontes commented on #13659
Ok, I do this.

[2017-03-01 01:01] no-stack-dub-sack commented on #13663
@tommygebru please follow the "Report Bug" link within the test suite and report this issue there if you don't mind. That is the correct repo for opening test suite related issues. Also, it is not a mistake that the test suite checks for IDs. This is an essential part of how the test suite works - we are singling out specific elements using IDs in some cases, where appropriate.

When you open the

[2017-03-01 01:06] no-stack-dub-sack commented on #13663
@tommygebru Also, not sure where the actual issue is here - sounds like you were able to follow the directions and got the test to pass

[2017-03-01 01:19] no-stack-dub-sack commented on #13657
@Kalinaki

My feeling is that this is part of each individuals learning process, and I'm not saying this is why links like that are left out, but a lack of links like this _forces_ you to be resourceful. It is up to each individual to utilize the resources that are known to be available, how that individual sees fit.

I agree with @erictleung that freeCodeCamp is not perfect, however, it is a 100%

[2017-03-01 02:00] kevcomedia opened #13668 "Codepen sign-up URL 404 error"
#### Issue Description

The link to Codepen sign-up form (https://codepen.io/signup/free) leads to a 404 (both in live and beta). The actual URL to the sign-up form is https://codepen.io/accounts/signup/user/free

[2017-03-01 02:15] Kalinaki commented on #13657
I think, not 100% sure, but I got into the MUTATION challenge and there were lines written on the side. Then, like suggested, I went to the forums and basically discovered the same information that I assume someone took the time to write rather swiftly. When I refreshed the page the lines of text were gone.
This is exactly what I mean. Sure, the information is out there(in this case hints provided

[2017-03-01 03:25] Manish-Giri commented on #13668
@kevcomedia It's already been [taken care of](https://github.com/freeCodeCamp/freeCodeCamp/pull/13634)!

[2017-03-01 03:30] kevcomedia commented on #13668
Oh, I forgot to look up closed PRs. I guess this issue can now be closed.

[2017-03-01 04:55] jmesic0228 opened #13669 "Saying my text cannot be red even tough i typed blue"
Challenge [Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%20style%3D%22color%3Ablue%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp%3E%0A)

[2017-03-01 05:07] Barterr opened #13670 "Manipulating Complex Objects - Confused/Bug"
I don't understand why my code isn't passing.
The only test that isn't passing is: After updateRecords(2548, "artist", ""), artist should not be set
I tried it locally and the collection returned is exactly the same as the collectionCopy, the artist of 2548 (Bon Jovi) was not set to "", it is still the same value after running. Isn't this what was asked for?

Challenge [Record Collection](https://

[2017-03-01 05:15] hay-dee commented on #13468
@Greenheart many thanks for the guide! I did not realise that it was linked in the contributing file at the end.

[2017-03-01 05:26] rufusraja opened #13671 "zoom should be at 100%."
![screen shot 2017-03-01 at 12 23 49 am](https://cloud.githubusercontent.com/assets/11221731/23446977/9eacc1b0-fe15-11e6-9f59-1e03677caf20.png)
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%

[2017-03-01 05:53] erictleung commented on #13668
Closing as resolved. Happy coding!

[2017-03-01 05:53] #13668 closed

[2017-03-01 05:54] erictleung commented on #13671
@rufusraja Thank you for reporting this issue. Your code is incorrect. Check out your `smaller-image` class definition and make sure you've created it correctly.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for tha

[2017-03-01 05:54] #13671 closed

[2017-03-01 05:57] XXiphias commented on #13372
I believe the initial issue here has not been fixed. The code in the first post should complete all checks but it fails on the last one (Do not declare oopsGlobal using the var keyword).

[2017-03-01 06:25] PaulEasterbrook opened #13672 "Not accepting the alt attribute"
Challenge [Add Images to your Website](https://www.freecodecamp.com/challenges/add-images-to-your-website#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%

[2017-03-01 06:38] Russellmania91 opened #13674 "Tribute Page Challenge Issue"
In the Pen settings under CSS, when I try to add Bootstrap the link given in the example Tribute Page made by Quincy Larson is significantly different from the link that appears when I click "bootstrap" under Quick-add.  Is this just an updated version? I've noted there are some small differences in how it affects the final product.

![screen shot 2017-02-28 at 10 31 40 pm](https://cloud.githubuse

[2017-03-01 06:57] XXiphias commented on #13669
The challenge asks you to change it to red. It simply uses blue in the example.

In the future if you have an issue or question, I suggest you check out the FCC <a href="https://gitter.im/FreeCodeCamp/Help">Help Channel</a>. This area is meant for bugs and there you will get a faster response.

[2017-03-01 06:58] XXiphias commented on #13674
Yes, codepen recently updated their Bootstrap quick add to include the new beta of Bootstrap, v4.0.0. I have noticed in the help channels that some users have had issues using the new version of Bootstrap so I suggest you manually use the link to the old version, 3.3.5.

[2017-03-01 07:02] XXiphias commented on #13672
This is happening due to the alt you are using. The alt should be a description of the image. Having the `-` in there is breaking the check. If you change it into "relaxing cat" it will work.

On another note, you should have double or single quotes around both the image src url and the alt.

[2017-03-01 07:06] PaulEasterbrook commented on #13672
Actually i fixed this issue, but now idk how to take it down. Haha. Im new
to the site
On Wed, Mar 1, 2017 at 2:04 AM Chris Jantzen <notifications@github.com>
wrote:

--
Thank you,

Paul Easterbrook

[2017-03-01 07:09] XXiphias commented on #13670
I believe this is a new check that was added recently. Your code does not meet that test.

As per your code:
[code]
If the prop is `artist` and the `value == ""` your code does not do anything. Try adding an else to that if statement and you should be able to fix it.

[2017-03-01 11:07] #12687 closed

[2017-03-01 11:10] Jez55 commented on #13179
I had issue with the last test.
Later discovered that it is due to infinite loop protection enabled in browser.
Add // noprotect on the first line of your code to pass the test.

[2017-03-01 12:39] atuljha23 commented on #9764
var myStr = "FirstLine\n\\SecondLine\\\rThirdLine";

this will work ! :)

[2017-03-01 13:16] manwithgills opened #13676 "Bug: Basic JavaScript: Shopping List"
Challenge [shopping-list](http://beta.freecodecamp.com/en/challenges/basic-javascript/shopping-list) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]
This array should cause the challenge to pass but the

[2017-03-01 13:28] manwithgills opened #13677 "[beta] Basic JavaScript: Passing Values to Functions with Arguments"
Challenge [passing-values-to-functions-with-arguments](http://beta.freecodecamp.com/en/challenges/basic-javascript/passing-values-to-functions-with-arguments) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[co

[2017-03-01 14:24] systimotic commented on #13638
Closed in #13675

[2017-03-01 14:24] #13638 closed

[2017-03-01 14:27] Barterr commented on #13670
But isn't that what the test is asking for? To not do anything if it's artist and blank?

[2017-03-01 14:30] Barterr commented on #13670
Oh ok I got it now. I misunderstood this line:
If value is empty (""), delete the given prop property from the album.

Thought it was only when prop is "tracks" because of it being right after tracks stuff I guess, but it's supposed to be in all cases.

Thanks

[2017-03-01 14:30] #13670 closed

[2017-03-01 14:34] Ethan-Arrowood commented on #13676
I'll look into this and get back to you with my thoughts.

[2017-03-01 14:38] Ethan-Arrowood commented on #13676
Hi Chris,
I copied and pasted your code into my browser and everything worked fine. Were you testing this on a local branch of the beta? Make sure you do a hard refresh of your browser and clear your cache so your version of the beta is up to date. I'll let a mod know to close this issue.

[2017-03-01 14:39] Ethan-Arrowood commented on #13677
I'll look into this and get back to you.

[2017-03-01 14:41] Ethan-Arrowood commented on #13677
Similar to your last issue. Everything works fine when I copy and paste your code into my browser. I'd recommend clearing cache & cookies and doing a hard refresh. Thank you!

[2017-03-01 14:45] Ethan-Arrowood commented on #13674
This isn't really an github issue. This would be better discussed in the Gitter help channel or on the forums. @Russellmania91 if you could close this issue it would be much appreciated! I'll also let the mods know so they can close this as well.

[2017-03-01 14:50] Ethan-Arrowood commented on #13654
@pepehipolito Please discuss this in either the Gitter channels or the FCC forums. If you think this is actually a bug please elaborate more or propose how we can fix this. Thank you!

[2017-03-01 14:50] texas2010 commented on #13674
Codepen issue has nothing with freeCodeCamp site.

Happy Coding.

[2017-03-01 14:50] #13674 closed

[2017-03-01 15:00] Greenheart commented on #13677
@manwithgills Thanks for reporting this!

Do you mean that the freeCodeCamp console doesn't show info correctly, like in the screenshot below?
![console](https://cloud.githubusercontent.com/assets/6125097/23465294/1e2ba578-fe98-11e6-9e90-cdd65cdd77ba.png)

I think I've seen this issue before somewhere, but I don't know the status on fixing it.

[2017-03-01 15:01] #13672 closed

[2017-03-01 15:05] mitron6 commented on #12710
This more critical than it appears because the failure to scroll back to the top can cause students to miss important information. For some challenges, when a new challenge loads, there are no visual clues that the instructions displayed are not the beginning of the challenge text. So the student starts to work the challenge in the middle of the instructions potentially creating confusion, mistake

[2017-03-01 15:06] hathcode opened #13678 "passing without else statements"
Challenge [Logical Order in If Else Statements](https://www.freecodecamp.com/challenges/logical-order-in-if-else-statements#?solution=%0Afunction%20orderMyLogic(val)%20%7B%0A%20%20if%20(val%20%3C%205)%20%7B%0A%20%20%20%20return%20%22Less%20than%205%22%3B%0A%20%20%7D%20%0A%20%20%0A%20%20if%20(val%20%3C%2010)%20%7B%0A%20%20%20%20return%20%22Less%20than%2010%22%3B%0A%20%20%7D%20%0A%0A%20%20%20%20retu

[2017-03-01 15:10] texas2010 commented on #13669
@jmesic0228
Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](http://

[2017-03-01 15:10] #13669 closed

[2017-03-01 15:10] Ethan-Arrowood commented on #13101
How is this going? Could I give this a shot?

[2017-03-01 15:12] mitron6 commented on #13672
This error by the learner could have been caused by https://github.com/freeCodeCamp/freeCodeCamp/issues/12710 because the examples showing the quotes appear in the top of the instruction which might not have been visible because the scroll is not reset.

[2017-03-01 15:19] Greenheart commented on #13672
@mitron6 Thanks for sharing that! Like you wrote in the other thread, this could definitely be a bigger issue than we think.

[2017-03-01 15:23] Ethan-Arrowood commented on #13678
@hathcode This isn't a github issue. Please discuss this on the Gitter or Forum. If you think something else is wrong feel free to elaborate and we can discuss further.

[2017-03-01 15:48] Greenheart commented on #13678
@hathcode Thanks for reporting this!

As the `else` block can be removed when a function involves `return`s, this is valid code.

The challenge doesn't ask for the `else` block specifically, it only asks for the right functionality - which this code fulfills.

I'm closing this for now, but please add comments if you have further feedback.

Happy coding! :blush:

[2017-03-01 15:48] #13678 closed

[2017-03-01 15:48] hathcode commented on #13678
I'm not asking for help, Maybe I should have clarified further in the post.

Perhaps I inferred something from the directions I should not have.  As I understood it when I completed the challenge, else statements were required.  If that was the case, then a case passing without else cases is a bug, hence the posted issue.

On second look though, maybe all they wanted in the challenge was to reorde

[2017-03-01 15:58] Greenheart commented on #13661
@tommygebru Interesting thoughts, this could certainly be discussed as it's a big part of how campers experience working through the challenges.

Where did you discuss this earlier? Any issue? Forum? Gitter? Could be useful as a reference.

The current modal is a great way to show that the challenge is completed - but at the same time it might be disturbing as it doesn't exactly encourage experime

[2017-03-01 16:18] manwithgills commented on #13677
I will hard reset when I get back home and see if this corrects the issue.

Thanks,
Chris

On Wed, Mar 1, 2017 at 10:02 AM, Samuel Plumppu <notifications@github.com>
wrote:

[2017-03-01 16:24] BerkeleyTrue opened #13679 "test: nothing to see here"
help please

[2017-03-01 16:24] Russellmania91 commented on #13674
Thank you for your help guys.  Sorry for asking in the wrong place. Will ask in Gutter help channel or forum next time.

[2017-03-01 16:25] #13679 closed

[2017-03-01 17:03] texas2010 commented on #13674
@Russellmania91 No problem.

[2017-03-01 17:27] rufusraja commented on #13671
Ya got it @erictleung. Thank you.

[2017-03-01 17:31] #13663 closed

[2017-03-01 17:57] jmars125 opened #13681 "[beta] Width challange in CSS not working"
Challenge [adjust-the-width-of-an-element-using-the-width-property](http://beta.freecodecamp.com/en/challenges/applied-visual-design/adjust-the-width-of-an-element-using-the-width-property) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and inc

[2017-03-01 18:03] tommygebru commented on #13661
exactly @Greenheart its entirely confusing and not a great experience as i rework the curriculum
another thing I would like to bring up is the codepen test suite, while the intention and innovation is absolutely amazing... the codepen experience is not great, the refresh rate is separate from the codepen, and it feels slower on my older computer

[2017-03-01 18:14] Ethan-Arrowood commented on #13681
If you're having issues with your code please discuss in the forum or Gitter. This challenge works fine on my end so try hard refreshing your browser (or switching browsers entirely).

[2017-03-01 18:35] Greenheart commented on #13661
@tommygebru I think your other point would be well suited in https://github.com/freeCodeCamp/testable-projects-fcc

[2017-03-01 18:43] raisedadead commented on #13652
Two issues with your code:

- The link that you have provided shows that you have typos in the `l` vs `L`.
-  Ignoring that if I use the code in the opening post of the the thread you have an extra `\n` before the `ThirdLine`

Please try once again, closing as not an issue with code base.

Thanks and happy coding!

[2017-03-01 18:49] raisedadead commented on #13654
Hi @pepehipolito

Thanks for the issue, but I think you have some confusion with the understanding.

![image](https://cloud.githubusercontent.com/assets/1884376/23475463/ab333d56-fedd-11e6-8733-50799cc4d951.png)

Please clarify further exactly what you found that was an issue in this challenge.

[2017-03-01 19:00] KenzoM opened #13683 "[beta] Information Security & Quality Assurance section -not working"
Not sure if this has been issued already, but looking at the `Information Security & Quality Assurance section`, nothing seems to be working.

Perhaps someone is already working on adding the tests for this section?

[2017-03-01 19:09] raisedadead commented on #13657
@Kalinaki : Hey Kalin,

Thanks a lot for the issue, and the feedback. This helps us understand our audience/users (especially beginners like you). Trust me I share your frustration, but that said we are constantly trying to improve with suggestions and feedbacks.

I'll give you an example, why this is true.

We moved the wiki/help articles to forum, because that way they get a better search and ed

[2017-03-01 19:09] #13657 closed

[2017-03-01 19:16] raisedadead commented on #13681
@jmars125 In addition to what @Ethan-Arrowood has commented, it would be great if you can check this in an incognito window with all add-ons disabled, we have had issues with adblockers and password managers (LastPass) conflicting with the challenges in the past.

[2017-03-01 19:16] raisedadead commented on #13683
@Greenheart FYI

[2017-03-01 19:18] texas2010 commented on #13681
@raisedadead somehow ` &nbsp;` got in code editor. I could see it in developer tools. So i reset the code. it is still there. :S

[2017-03-01 19:20] Greenheart commented on #13683
@raisedadead It was a while since I worked on this section. I think @Em-Ant or @JosephLivengood knows this better :blush:

[2017-03-01 19:22] texas2010 commented on #13681
so I trying to do this challenge myself for test it. nope. I can't pass it.

[2017-03-01 19:23] raisedadead commented on #13681
@texas2010 thanks for the additional details, can you help us with browser / os / etc.

[2017-03-01 19:24] raisedadead commented on #13683
Thanks for guiding.

[2017-03-01 19:24] texas2010 commented on #13681
@raisedadead I use chrome on mac

[2017-03-01 19:25] raisedadead commented on #13681
I can pass the challenge with the same config as yours. Have you tried in an incognito window as well?

[2017-03-01 19:27] Ethan-Arrowood commented on #13681
Yeah this one works for me just fine Chrome Mac

[2017-03-01 19:28] texas2010 commented on #13681
@raisedadead yeah, I did test it on the incognito window.

I am not sure why it won't pass. odd.

[2017-03-01 19:29] Ethan-Arrowood commented on #13681
Try to type code in manually not just copy and paste

[2017-03-01 19:30] texas2010 commented on #13681
@Ethan-Arrowood, i did type code myself without copy and paste.

[2017-03-01 19:31] Ethan-Arrowood commented on #13681
@texas2010 hm. And you're positive you are running the most up to date version of FCC beta?

[2017-03-01 19:31] jmars125 commented on #13681
I'm using chrome on Windows 10 tried incognito and removing all extensions. Manually typed in the code same issue.

[2017-03-01 19:34] texas2010 commented on #13681
i think they did fixed it?  probably beta site is didnt get update.

https://github.com/freeCodeCamp/freeCodeCamp/issues/12687

[2017-03-01 19:41] texas2010 commented on #13681
oh odd, it was zoom issue....  my zoom was on 110%.  so i changed it to 100%. then i can pass it.

plus i read this. https://github.com/freeCodeCamp/freeCodeCamp/issues/12687#issuecomment-275102984

[2017-03-01 19:54] raisedadead commented on #13681
It would be the same for everyone visiting the website at https://beta.freecodecamp.com
Did you mean checking locally?

Anyways, @texas2010 just noticed that the other issue was closed with a fix only yesterday. Maybe we should wait for a fresh deployment in a day or two.

Thanks everyone for your comments.  I am blocking this once again pending further action.

[2017-03-01 19:58] texas2010 commented on #13681
Yeah, I use https://beta.freecodecamp.com/

[2017-03-01 20:03] Ethan-Arrowood commented on #13681
Yeah I was talking about locally. That how I usually run through things in
order to prevent duplicate issues.
On Wed, Mar 1, 2017 at 3:00 PM Lance <notifications@github.com> wrote:

--

Ethan Arrowood
Computer Science - WIT 2020
*Applied Mathematics & Business Management*
ethan.arrowood@gmail.com | *609.276.4043*
ethanarrowood.com | @arrowoodtech

[2017-03-01 20:21] hathcode commented on #13652
I had fixed that particular typo and got it passing as I mentioned.  The rest of my post still follows and holds true.  Did you read the rest of the post?  Perhaps it is a browser issue?  Even when I pulled up the devtools in Chrome and checked the console there, the output of the "passing" string is NOT what was requested in the challenge.  Maybe it is works in some browsers (as I have read that

[2017-03-01 20:25] raisedadead commented on #13652
My apologies, I missed on understanding the second comment on the thread.

[2017-03-01 20:28] raisedadead commented on #13652
The SO post surely helps. We have had this issue pop up quite a few times with issues such as the typos and unwanted chars.

What you explain sure is a case that needs to be handled.

Thanks for the report.

/cc @freeCodeCamp/moderators

[2017-03-01 20:34] raisedadead commented on #13652
@hathcode Just FYI, while we look at this once again. Different browsers have different implementations for the `\r` carriage return.

Chrome for instance chooses to ignore `\r` for a render on new line and while it renders `\n` on a new line.

[2017-03-01 21:06] cecilebertin commented on #13400
I had the same issue on Safari.

After a hard refresh of the page, it worked.

[2017-03-01 21:32] bonham000 opened #13684 "[beta] Adv. Data Structures Priority Queue Challenge Needs Revision"
Challenge needs revision [as noted here](https://forum.freecodecamp.com/t/help-with-priority-queue-challenge-on-beta-site/92221/8).

I'm working on this.

[2017-03-01 21:38] cecilebertin commented on #12865
This challenge is still bugged on Safari on the beta. I had the same issue as @marvellousdesign. I had to do a couple of hard refresh before it worked.

[2017-03-01 23:40] #12425 closed

[2017-03-02 00:04] TimLehner opened #13685 "Inconsistent unit test capitalisation fails task"
Challenge [Search and Replace](https://www.freecodecamp.com/challenges/search-and-replace#?solution=%0Afunction%20myReplace(str%2C%20before%2C%20after)%20%7B%0A%20%20arrayStr%20%3D%20str.split(%22%20%22)%3B%0A%20%20fixedString%20%3D%20%22%22%3B%0A%20%20for%20(i%20%3D%200%3B%20i%20%3C%20arrayStr.length%3B%20i%2B%2B)%20%7B%0A%20%20%20%20if%20(arrayStr%5Bi%5D%20%3D%3D%20before)%20%7B%0A%20%20%20%20%2

[2017-03-02 00:30] chrisscotthall opened #13686 "Deadlink needs to be updated 3/1/2017 PST @ 4:39PM PST"
#### Challenge Name
https://www.freecodecamp.com/challenges/get-set-for-our-front-end-development-projects

#### Issue Description
Link: https://www.freecodecamp.com/challenges/get-set-for-our-front-end-development-projects on (4/7) needs to updated to https://codepen.io/accounts/signup/user/free

#### Browser Information

* Browser Name, Version: Firefox
* Operating System: Windows 7
* Mobile, De

[2017-03-02 00:30] jawkneew8 commented on #13351
Also seeing this issue in the Add a Submit Button to a form page in Chrome.

URL: https://www.freecodecamp.com/challenges/add-a-submit-button-to-a-form
![submitbuttonissue](https://cloud.githubusercontent.com/assets/26078940/23487645/a7d1d6ec-fea4-11e6-8dc9-2c14c446537b.PNG)

The last line has the code for the button. The phone is displaying a button. It just doesn't like my button code.

[2017-03-02 01:02] fonsecapontes commented on #13645
I tested and this occurs because the result rgb in chrome is different in firefox.

Exemple: The color #09A7A1:
Chrome: RGB(9, 167, 161)
Firefox: RGB(8, 169, 164)

Maybe change the challenge can fix this. What is your opinion?

[2017-03-02 01:22] mahmudhasan019323 opened #13687 "Radio Buttons problem"
#### Challenge Name

[create-a-set-of-radio-buttons](https://www.freecodecamp.com/challenges/create-a-set-of-radio-buttons#?solution=%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A

[2017-03-02 01:28] dgillead opened #13688 "Keep getting "body tag should have family name of Open Sans and generic name sans-serif. Asked on gitter no help, not seeing what I'm doing wrong."
Challenge [use-a-google-font](http://beta.freecodecamp.com/en/challenges/applied-visual-design/use-a-google-font) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/602.4.8 (KHTML, like Gecko) Version/10.0.3 Safari/602.4.8</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

[2017-03-02 01:31] #13688 closed

[2017-03-02 01:48] erictleung commented on #13686
@chrisscotthall thanks for the issue. I'm making a PR to fix this now.

[2017-03-02 03:40] Manish-Giri commented on #13687
@mahmudhasan019323 Your code is incorrect. Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) for assistance with this challenge. Happy Coding!

[2017-03-02 04:44] Kalinaki opened #13690 "An issue with 'Branches aren't just for birds' challenge."
Challenge [Save your Code Revisions Forever with Git](https://www.freecodecamp.com/challenges/save-your-code-revisions-forever-with-git) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

1.From my understa

[2017-03-02 05:36] raisedadead commented on #13690
@Kalinaki thanks for the issue.

[`git-it`](https://github.com/jlord/git-it) has ended active support.

/cc @freeCodeCamp/moderators

[2017-03-02 05:38] raisedadead commented on #13687
Hi @mahmudhasan019323

Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [for

[2017-03-02 05:38] #13687 closed

[2017-03-02 08:15] Semisuperman opened #13692 "Hi,"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-03-02 08:17] erictleung commented on #13690
@raisedadead should we update this challenge to make use of the new updated Electron-ified version of the repository https://github.com/jlord/git-it-electron? I haven't tested it but it looks like they are supporting that over the original `git-it` repository.

[2017-03-02 08:18] #13692 closed

[2017-03-02 08:24] Semisuperman opened #13693 "I had to escape the escape on the brackets"
Challenge [Validate US Telephone Numbers](https://www.freecodecamp.com/challenges/validate-us-telephone-numbers#?solution=%0Afunction%20telephoneCheck(str)%20%7B%0A%20%20%0A%20%20%2F%2F%20Good%20luck!%0A%20%20var%20rex%20%3D%20new%20RegExp(%22%5E(1%20%7C1)%3F(%5C%5C((%5B0-9%5D)%7B3%7D%5C%5C)%7C(%5B0-9%5D)%7B3%7D)%7B1%7D(-%7C%20)%3F(%5B0-9%5D)%7B3%7D(-%7C%20)%3F(%5B0-9%5D)%7B4%7D%24%22)%3B%0A%0A%20

[2017-03-02 08:46] Deryckaus commented on #2914
turns out i had left a space between the SILVER- BACKGROUND

Jeez i am a newb

[2017-03-02 09:11] BhaveshSGupta commented on #13351
Hi @flowerboy777  Thank you for reporting this issue.

This is an issue with CSS tests in Firefox. The main issue is #10749 This is a big issue that affects a lot of people. For now, you'll have to switch to Chrome for any challenges with CSS tests in the beta.

Happy coding!

[2017-03-02 10:36] jdorman0 commented on #6255
Guys, I know this is not the medium as you should be [using the chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript), but I see so many people here doing the same thing, so I wanted to point this out.

Remember that when you use the logical operators, you are actually setting multiple conditions and they evaluate to true or false.

Example: `if (a || b < 0) return undefined;` that actually ev

[2017-03-02 11:55] ametthey opened #13694 "Not really a bug but suggestion"
Challenge [Word Blanks](https://www.freecodecamp.com/challenges/word-blanks) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

Hi, i'm not complaining about the exercise, but th

[2017-03-02 11:59] raisedadead commented on #13690
@erictleung yup, that was my initial thought. Someone will have to try out the app and go thru the challenge instructions

Tagging this as help wanted.

[2017-03-02 12:40] Cor73xX commented on #5623
@ MK-Emon ... You have a typo. Where you have " small" you should have "Small".

[2017-03-02 13:59] Manish-Giri commented on #13690
@raisedadead Can I take this? I've already done the newer version.

[2017-03-02 14:11] sandiwidi commented on #9789
Your code is incorrect (you have a capitalization error).
'k' 'K'

Please use the Help Chat to ask for assistance when writing code; issues are for reporting problems with the challenges or website.

Happy coding!

[2017-03-02 14:14] systimotic commented on #13652
We recently made some changes to this challenge in the beta, as there were a lot of problems like this.
First, we changed the sequence to something without `\r\n`, because as you noted, it acts weird.
Then we changed the tests to test each part more specifically, hoping to reduce the amount of people confused by typo's they made.

You can check out the [updated challenge](https://beta.freecodecamp

[2017-03-02 14:15] hathcode commented on #13652
Thanks @raisedadead for diving back into this.  I did notice that there were quite a few issues related to this  lesson.  Perhaps a rewrite is in order?  The issue did make me dive into the nuances of /r and /n, and I learned quite a bit!  But I'm sure y'all don't want this to keep popping up either.  Maybe just keeping it simple, clarify /r and /n a little more (maybe a link to the SO for more in

[2017-03-02 14:17] raisedadead commented on #13690
@Manish-Giri sure.

[2017-03-02 14:25] hathcode commented on #13652
@systimotic I think that's much better!  Seems to accomplish the desired goal and is much more straightforward.  May I still recommend a link to some clarification on /n vs /r?  Reason being the first time I learned them elsewhere I really didn't understand them very well, and this issue made me think about it in a different way and dive deeper.  They also seem to pop up in interview questions fro

[2017-03-02 14:29] systimotic commented on #13657
I would like to mention that we're planning on removing the MDN links, and adding hints in the beta. I can't show much yet as it's still a work in progress, but this seems a lot like what you're suggesting.
I really like the idea of linking back to challenges that introduce a method, rather than the MDN page. I'll keep that in mind.

[2017-03-02 14:45] erictleung commented on #13694
@ametthey thanks for the issue. The reason why the variable is set to an empty string is because of how the function is initialized, which is as

[code]

As you can see, there is also a return statement of `result`. If you have just `var result;`, there will be an error. This challenge is within the Basic JavaScript challenges and have not formally covered functions until eleven challenges later i

[2017-03-02 14:57] systimotic commented on #13652
@hathcode I get where you're coming from. I'd be open to adding a link if you could find a good resource.

One big advantage that the new version of the challenge has is that it no longer suggests that a carriage return creates a new line. We currently don't elaborate on the carriage return, backspace and form feed characters. I think that makes sense, as they are quite a bit more complicated to u

[2017-03-02 14:59] harvinderathwal commented on #13693
If you're having issues with your code please discuss in the forum or Gitter. This challenge works fine on my end so try hard refreshing your browser (or switching browsers entirely).

[2017-03-02 15:02] onpikono opened #13696 "[beta] Console output formatting of % character"
Challenge [make-circular-images-with-a-border-radius](http://beta.freecodecamp.com/en/challenges/basic-css/make-circular-images-with-a-border-radius) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[2017-03-02 15:13] raisedadead commented on #13652
Maybe a forum wiki article (re-worded) one based on the SO post should be a way to go?

[2017-03-02 15:15] systimotic commented on #13690
Would this be an update for backup/staging? It doesn't seem like the beta has git tutorials anymore.

[2017-03-02 15:15] raisedadead commented on #13693
@Semisuperman thanks for the report, but that's too little information for us to proceed. Can you clarify what exactly is your issue.

[2017-03-02 15:17] systimotic commented on #13654
Hi @pepehipolito!
`NaN` has caused confusion for many campers.  `NaN === NaN` is false, and `typeof NaN` is `"number"`. Yes, the type of Not a Number is number.

You could do a solution with `if` statements by using a condition like the following:
[code]
That code will only evaluate to `true` if `x` is `NaN`, but it's not the solution we want to see.
There are more ways of detecting `NaN`, but the

[2017-03-02 15:18] systimotic commented on #13652
@raisedadead That sounds like a great idea to me!

[2017-03-02 15:19] raisedadead commented on #13696
![image](https://cloud.githubusercontent.com/assets/1884376/23513354/b39c5124-ff89-11e6-9021-ee06b661a434.png)

[2017-03-02 15:22] systimotic commented on #13652
@hathcode Would you be willing to create a [forum](https://forum.freecodecamp.com/) article to explain these escape characters?
Here are our guidelines for creating a wiki article https://forum.freecodecamp.com/t/guidelines-and-rules-for-wiki-articles/51920
If you don't yet have the trust level and aren't in for browsing around on the forum, but you would like to write the article, you can share t

[2017-03-02 16:11] systimotic commented on #12844
Hi all! @tommygebru

I agree, the current version of the icon has a too light grey. However, I think changing it to green isn't great UX.
I'm used to all green tests meaning that I passed the tests.
What do you think about changing it to a darker blue or grey? #1d6280 is a dark shade of the current blue that gets a AAA from the WCAG guidelines. #575757 is the lightest shade of grey that would pass

[2017-03-02 16:29] systimotic commented on #13400
It's clear that a lot of people are having this issue. I can't quite figure out what's going on with it.

@erictleung The PR you linked, https://github.com/freeCodeCamp/freeCodeCamp/pull/11987, should've fixed the issues with the inclusion of the tail. The fact that it works after a hard refresh means that it worked, at least to some extent.

@freeCodeCamp/moderators Can anybody help triage? I'm q

[2017-03-02 16:49] pepehipolito commented on #13654
Thanks Timo,

I've been busy and unable to respond before but using NaN naked was giving
me issues. I ended up having to break up the code in a couple of sentences.
I got it working. Thank you.

On Thu, Mar 2, 2017 at 10:19 AM Timo <notifications@github.com> wrote:

--
Pepe Hipolito

[2017-03-02 16:58] donniereese commented on #13696
Looking into this, I can confirm that I get the same error as @onpikono with the provided code.  I am using the same version of chrome on Mac and can reproduce on a current local build of freecodecamp.

It looks as though the console prints out the literal characters and not the ascii code equivalent.

[2017-03-02 17:32] Ethan-Arrowood commented on #12844
Yes I'll make it happen today 😄

[2017-03-02 17:40] donniereese commented on #13696
Okay.  So, from what I found at [Stackoverflow: Displaying unicode characters in codemirror](http://stackoverflow.com/questions/19217531/displaying-unicode-characters-in-codemirror) and it's linked threads, Codemirror will display litteral html-code characters unless you specifically set up for decoding them.  It doesn't look as though there are many instances of them, if more than this test at th

[2017-03-02 18:35] annemvelez commented on #13694
I was stuck on this challenge for so long because I didn't know I was supposed to write result =
      result = "The " + myNoun + " is " + myAdjective + " and it " + myVerb + " " + myAdverb;
I kept writing
     ("The " + myNoun + " is " + myAdjective + " and it " + myVerb + " " + myAdverb);
or    (myNoun + myAdjective + myVerb + myAdverb);
or     ("I hate this assingment" + myNoun + myAdjective +

[2017-03-02 18:46] systimotic commented on #13654
I'm closing this as resolved.

[2017-03-02 18:46] #13654 closed

[2017-03-02 18:46] Margaret2 opened #13697 "Codepen Signup Link is Broken"
#### Challenge Name
[Get Set For Our Front End Development Projects](https://www.freecodecamp.com/challenges/get-set-for-our-front-end-development-projects), step 4/7

#### Issue Description
FCC's link to sign up to Codepen appears to be broken.

Currently it is https://codepen.io/signup/free which returns a 404.

I suggest updating the link to https://codepen.io/accounts/signup or https://codepen

[2017-03-02 18:48] texas2010 commented on #13697
eric did fix this in fcc site. you can check this. https://github.com/freeCodeCamp/freeCodeCamp/pull/13689

thanks.

[2017-03-02 18:48] #13697 closed

[2017-03-02 18:48] Margaret2 commented on #13697
haha, yeah just realized that, thanks @texas2010

[2017-03-02 18:48] systimotic commented on #13400
Ok, so I just tested this again, and I can confirm something very weird is going on.

@BerkeleyTrue mentioning you here, because I think this is an issue in the challenge framework stuff

#### Steps to reproduce in Firefox
The issue here seems different, but it may be related
1. Go to [the previous challenge](https://beta.freecodecamp.com/en/challenges/basic-javascript/multiply-two-decimals-with-j

[2017-03-02 18:56] #12769 closed

[2017-03-02 19:16] systimotic opened #13698 "[beta] Client and server rendering difference"
While reviewing #13618, I noticed a weird inconsistency between how the client and server render the challenge description.

### Client rendered
![chrome_2017-03-02_20-01-29](https://cloud.githubusercontent.com/assets/7262039/23522493/7ee404dc-ff83-11e6-8d5b-9be41477f843.png)
![chrome_2017-03-02_20-02-22](https://cloud.githubusercontent.com/assets/7262039/23522494/7ee54c84-ff83-11e6-9718-94dc3af37

[2017-03-02 19:31] systimotic commented on #10403
@raisedadead How do you suggest we handle this issue?
When you teach people to write, you don't start with punctuation. I can see how it makes sense to leave out the semicolon for this challenge.

[2017-03-02 19:41] systimotic commented on #11961
@Manish-Giri Hi! Are you still working on this?

[2017-03-02 19:47] systimotic commented on #8096
@erictleung Oh, nice catch! That does make things easier.

@augmt As campers should already know the ES6 version by the time they reach this challenge, I think it would make sense to teach them the ES5 version here.
They are bound to run into it in the wild somewhere, so I think it's a good idea to teach them about it.
Having to do the same thing in two challenges would be a bit weird.
The ES5 ver

[2017-03-02 19:48] Manish-Giri commented on #11961
@systimotic Hi! Yes, I'm just getting to this, and the other PRs, been a little help up lately.

[2017-03-02 19:49] systimotic commented on #13430
This should be resolved on the latest staging. Can anybody confirm?

[2017-03-02 20:08] Unr34ler opened #13699 "Optional Survey for Tests"
While doing tests sometimes I felt some test are too easy and others quite hard to solve. For some of them I could imagine, they are better split up into more tests to need better explanation. The goal might be to develop a more *even* learning curve or possibly add better links to external resources.

How about adding a small optional survey after each test like:

**Was it easy or difficult to so

[2017-03-02 20:20] erictleung commented on #13699
@Unr34ler thanks for the issue. This is a duplicate of a forgotten issue here https://github.com/freeCodeCamp/freeCodeCamp/issues/5441.

Here's some words from Quincy about it

[2017-03-02 20:39] sanatauqir commented on #13450
Thank you for submitting this issue @carlosvigil. I have been able to replicate this issue on my end and will look into it.

[2017-03-02 20:42] Unr34ler commented on #13699
I could imagine there might be a way to make it less obvious, like ..

* Show it only if the user used the 'Help' button before
* Show it if the user keeps doing mistakes
* Show it randomly
* Show it below the *Ctrl+Enter* confirmation button with a very light design
* Or only activate it temporarily (eg. one week)

Those are just some quick ideas. Someone might have a better one.

[2017-03-02 21:42] cecilebertin commented on #13676
Hi,
I am using Safari and using the beta.
Starting from this challenge in the list, I had to do a hard refresh for each challenge following that one to have my tests pass.
I hope this helps.

[2017-03-02 21:46] systimotic commented on #11961
@Manish-Giri Awesome! Yeah, I've managed to build up a large backlog myself as well 😅

[2017-03-02 21:50] cecilebertin commented on #13676
I did a hard refresh of my Map page and I didn't need a hard refresh for my challenges anymore.

[2017-03-02 22:04] Michael-Scott-Lynch commented on #12219
This didn't work for me.

[2017-03-02 22:10] Michael-Scott-Lynch commented on #12219
Had to perform a hard refresh a couple of times.

[2017-03-02 22:23] dwrz commented on #13636
Sorry for the late reply, and thanks for looking into this.

I think if I'm the only one who wasn't sure about this, then perhaps it might be more sensible not to mention anything, as it might just become a source of confusion. Standard set is probably the sensible default.

For anyone looking for further reference, this might also be useful: http://pythonhosted.org/multiset/.

[2017-03-02 22:23] #13636 closed

[2017-03-02 23:36] pamela113 commented on #13694
I'm still stuck on it now.  It's confusing and doesn't flow well as the next step from the previous assignment.

[2017-03-03 00:00] Rudedough commented on #3374
<input type="text" class="form-control" placeholder="cat photo URL" required>
    <button type="submit" class="btn btn-primary">Submit <i class="fa fa-paper-plane"></i></button>

[2017-03-03 00:04] artemklimenko96 opened #13702 "Does not run test, just gets frozen"
Challenge [Give a Background Color to a Div Element](https://www.freecodecamp.com/challenges/give-a-background-color-to-a-div-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20

[2017-03-03 00:05] #13702 closed

[2017-03-03 00:05] artemklimenko96 opened #13703 "Does not run the test, just gets frozen"
Challenge [Give a Background Color to a Div Element](https://www.freecodecamp.com/challenges/give-a-background-color-to-a-div-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20

[2017-03-03 00:06] #13703 closed

[2017-03-03 00:06] texas2010 commented on #13703
@artemklimenko96
Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](ht

[2017-03-03 00:07] kalunlee136 opened #13704 "Given code for the challenge does not show"
Challenge [interpolate-a-string-using-backquotes](https://beta.freecodecamp.com/en/challenges/es6/interpolate-a-string-using-backquotes) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

When I go to this c

[2017-03-03 00:11] texas2010 commented on #13694
@pamela113, if you got stuck, you could ask help at the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript).

Happy Coding.

[2017-03-03 00:11] pamela113 commented on #13694
finally passed after working on spacing.  Thanks!

[2017-03-03 01:39] Manish-Giri commented on #11961
@systimotic Done! Please review 👍

[2017-03-03 02:10] augmt commented on #8096
@systimotic Ok, I see your point and agree. :thumbsup:

If campers are required to use ES5 syntax, then how about adding an explicit test?

    assert(Person.toString().substr(0, 8) === 'function', 'message: You should use a (object constructor) function to define <code>Person</code>.');

Otherwise we could amend the challenge instructions by adding the word "function" to the first line—

 —or ins

[2017-03-03 02:36] carlosvigil commented on #13450
Thanks, I think better wording would be that the Community list snaps shut when mouse isn't hovering. A solution would be for the styling to be dependent on a tap/click to open and shut the menu items. I'd dive in the code but CSS isn't a strength yet and I'm assuming it's a style shared somewhere else too.

[2017-03-03 02:46] dna113p commented on #13704
I see the same thing!

This was my first real look at the code base, and I don't know what the next place to look would be, but when I removed all text from the seed description for this challenge and re seed it, the challenge will load. I tried to pinpoint exactly the cause but I couldn't find it.

[2017-03-03 05:16] Marmiz commented on #13704
To whom it may concern:

error thrown:

[2017-03-03 05:19] DeanDro opened #13708 "Arguments Optional when page is loading Chrome opens printer"
Challenge [Arguments Optional](https://www.freecodecamp.com/challenges/arguments-optional) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

When I am clicking to test my code the printer page i

[2017-03-03 05:39] erictleung commented on #13708
@DeanDro thanks for the issue. The [`print()`](https://developer.mozilla.org/en-US/docs/Web/API/Window/print) command is what is triggering your print popup.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that sp

[2017-03-03 05:39] #13708 closed

[2017-03-03 05:45] TangZiff commented on #12878
Similar problem and here is the confirmation: I can see 'Lobster' font installed, by checking Win10 -> Setting --> Font.

[2017-03-03 06:17] shashank7200 opened #13710 "[FCC - Beta] Youtube Playback Error"
Challenge [build-a-survey-form](http://beta.freecodecamp.com/en/challenges/applied-responsive-web-design-projects/build-a-survey-form) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.

## The error can be reproduced in Firefox & Google Chrome. Here's the Screenshot of the issue:

![Imgur](http://i.im

[2017-03-03 07:55] QuincyLarson commented on #13101
@Ethan-Arrowood sure - go for it. I don't think @BerkeleyTrue has had a chance to implement this yet.

Please take a crack at it and let us know if you have any questions. Thanks for your help!

[2017-03-03 07:58] QuincyLarson commented on #13594
@KenzoM yes - I don't think we cover this important CSS concept. You can create some challenges to cover this (maybe a few of them to drive home how this mechanic works). Please let me know if you have any questions - I'll be happy to help keep you unblocked :)

[2017-03-03 08:02] QuincyLarson commented on #10749
@Greenheart Yes - I agree that if rewriting these tests in native JavaScript will speed things up (and maybe make them easier for new contributors to understand) we should go forward with this.

My other comment was just regarding the fact that some tests may fail because we're not yet able to pull in all the right libraries - @BerkeleyTrue is still working on this.

[2017-03-03 08:02] QuincyLarson commented on #13460
@MAF27 Awesome - I'll look forward to seeing it :)

[2017-03-03 08:11] ametthey commented on #13694
Thanks @erictleung for your inside ! =) I'll try to contribute with my thoughts without troubleling too much.

[2017-03-03 08:26] Em-Ant commented on #13683
I'll check it this evening  (CET time) or tomorrow, and I'll let you know...

[2017-03-03 09:45] only1dallas opened #13711 "Construct JavaScript Objects with Functions needs clarification"
#### Construct JavaScript Objects with Functions

[Construct JavaScript Objects with Functions](https://www.freecodecamp.com/challenges/construct-javascript-objects-with-functions#?solution=%0Avar%20Car%20%3D%20function()%20%7B%0A%20%20this.wheels%20%3D%204%3B%0A%20%20this.engines%20%3D%201%3B%0A%20%20this.seats%20%3D%205%3B%0A%7D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0Av

[2017-03-03 09:51] rjkmurray commented on #13711
The code is getting more  complex each day. It is constantly making improvements and modification to adjust for new beta projects . pretty exciting

[2017-03-03 09:52] rjkmurray commented on #13711
The code is getting more  complex each day. It is constantly making improvements and modification to adjust for new beta projects . pretty exciting

[2017-03-03 09:52] rjkmurray commented on #13711
The code is getting more  complex each day. It is constantly making improvements and modification to adjust for new beta projects . pretty exciting

[2017-03-03 09:52] rjkmurray commented on #13711
The code is getting more  complex each day. It is constantly making improvements and modification to adjust for new beta projects . pretty exciting

[2017-03-03 10:09] tka16 commented on #3013
thanks s

[2017-03-03 10:10] schas002 commented on #13686
^^^ Hmm, shouldn't the issue be closed...?

[2017-03-03 11:02] ChloeB123 commented on #10523
Hey guys, just to give you a heads up, I'm still having this problem as well

[2017-03-03 12:40] rskristensen commented on #12208
+1
![img_0107](https://cloud.githubusercontent.com/assets/26088357/23551457/a66cc8de-ffe4-11e6-88d3-ee7a0ce38c36.PNG)

[2017-03-03 12:48] Quinn-H commented on #13431
Hi, @Greenheart @raisedadead Can I fix this issue ?

[2017-03-03 13:09] NathanielNat opened #13713 "have no idea hoe to do this"
Challenge [Stand in Line](https://www.freecodecamp.com/challenges/stand-in-line#?solution=%0Afunction%20nextInLine(arr%2C%20item)%20%7B%0A%20%20%2F%2F%20Your%20code%20here%0A%20%20arr.push(4)%3B%0A%20%20arr.unshift(1)%3B%0A%20%20%0A%20%20%0A%20%20return%20item%3B%20%20%2F%2F%20Change%20this%20line%0A%7D%0A%0A%2F%2F%20Test%20Setup%0Avar%20testArr%20%3D%20%5B1%2C2%2C3%2C4%2C5%5D%3B%0A%0A%2F%2F%20Dis

[2017-03-03 13:09] NathanielNat opened #13714 "have no idea how to do this"
Challenge [Stand in Line](https://www.freecodecamp.com/challenges/stand-in-line#?solution=%0Afunction%20nextInLine(arr%2C%20item)%20%7B%0A%20%20%2F%2F%20Your%20code%20here%0A%20%20arr.push(4)%3B%0A%20%20arr.unshift(1)%3B%0A%20%20%0A%20%20%0A%20%20return%20item%3B%20%20%2F%2F%20Change%20this%20line%0A%7D%0A%0A%2F%2F%20Test%20Setup%0Avar%20testArr%20%3D%20%5B1%2C2%2C3%2C4%2C5%5D%3B%0A%0A%2F%2F%20Dis

[2017-03-03 13:38] Greenheart commented on #13431
@Quinn-H Thanks, that would be awesome!

See [CONTRIBUTING.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) for help getting started and come chat with us in [the contributors chat room](https://gitter.im/FreeCodeCamp/Contributors) if you have any questions.

Happy coding! :smile:

[2017-03-03 14:28] Greenheart commented on #13430
This loads properly for me in Firefox 51 and Chrome 56.

Now the problem is that Firefox can't pass the tests since they rely on `jQuery.css()` - a known problem handled in another issue.

I think this is ready to be closed though. Thanks to everyone involved! :smile:

[2017-03-03 14:33] systimotic commented on #13713
Hi @NathanielNat! Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/

[2017-03-03 14:33] #13713 closed

[2017-03-03 14:34] #13430 closed

[2017-03-03 14:42] Greenheart commented on #13400
@systimotic Nice triage!

I agree.

[2017-03-03 14:42] systimotic commented on #13110
@Greenheart 1 and 2 are now fixed, only three is left. It seems like a good idea to me. Do you want to do this, or should we mark this first-timers-only? Maybe open a new issue for 3 alone?

[2017-03-03 14:57] systimotic commented on #13530
As Manish mentioned, the capture group here is only reused once, not twice, and they should be separated.
I think the test cases for this challenge could be extended.
1. A test case the checks whether for missing spaces in between: `"424242"` should not pass
2. A test case that confirms the proper length visibly: `"42 42"` and `"42 42 42 42"` should not pass

[2017-03-03 15:04] Ethan-Arrowood commented on #12844
<img width="351" alt="screen shot 2017-03-03 at 10 03 00 am" src="https://cloud.githubusercontent.com/assets/16144158/23555937/b530f502-fff8-11e6-8d7c-8a221f341871.png">
How does this look?

[2017-03-03 15:07] rskristensen commented on #12206
+1

![img_0107](https://cloud.githubusercontent.com/assets/26088357/23556054/247a05b6-fff9-11e6-867c-e3bd9eb9dc51.PNG)

[2017-03-03 15:19] hay-dee opened #13715 "Suggestions for improving challenge style guide"
#### Issue Description

Currently, the <a href="https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md" target="_blank">Contributing Style Guide</a> does not include information on obtaining a unique challenge ID. The appropriate way to obtain the ID would be to run the MongoDB <code>ObjectId()</code> method. In addition, the style guide could have an example/description on how

[2017-03-03 15:19] Ethan-Arrowood opened #13716 "Variable should be defined as 'let' not 'const' because it is changing."
#### Use the Spread Operator To Evaluate Arrays In-Place

https://beta.freecodecamp.com/en/challenges/es6/use-the-spread-operator-to-evaluate-arrays-inplace

#### Issue Description

The arr2 variable is defined as a const, but is supposed to be able to be redefined in the exercise.

#### Browser Information

* Browser Name, Version: Google Chrome, Version 56.0.2924.87 (64-bit)
* Operating System:

[2017-03-03 15:34] Greenheart commented on #13110
@systimotic This would be a good case for first-timers-only :blush:

I don't think we need a new issue - I'll just edit the original post and clarify what is left to be done.

[2017-03-03 15:46] systimotic commented on #13110
# First-timers only
Check out [CONTRIBUTING.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) to get your local development environment set up.

Change the title of the "Copy an Array with slice()" challenge to "Copy Array items using slice()"
The code for this challenge can be found [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/d424b7331ded350e297387b134f5a

[2017-03-03 15:48] ArleneAndrews opened #13718 "Please PLEASE add, in the text, a reminder to use nulls for social media links"
Challenge [Build a Personal Portfolio Webpage](https://www.freecodecamp.com/challenges/build-a-personal-portfolio-webpage) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

I had an attempted hack on m

[2017-03-03 15:49] Greenheart commented on #13110
@systimotic Haha looks like you're faster than me! :wink:

[2017-03-03 15:49] Marmiz commented on #13460
Sorry that took me so long, a cold found me with my guard down 😄

I started with the easiest approach here:
I've designed a new component for the `Hint` button, so far it toggles the visibility of a child component that handle the rendering of the hint text.

My idea was to split the concern so that: we can add any features to the button (eg: open in a modal / add analytics ..) and let the Childre

[2017-03-03 15:53] #13431 closed

[2017-03-03 15:56] systimotic commented on #12844
@Ethan-Arrowood Can you try a shade of grey as well? I think it would look better, as it's more similar to the text. We don't want this icon to stand out too much.

[2017-03-03 16:00] Greenheart commented on #13460
@Marmiz Nice work! I like the separation of concerns.

Perhaps the `HintButton` could allow multiple triggers (Analytics, modal and more) by accepting a callback function fired `onClick` where the consumer can decide what to do? :blush:

[2017-03-03 16:05] systimotic commented on #13473
Firefox finishes running, but doesn't pass because of #10749 (I've referenced this issue so many times now that I remember the first three numbers 😅)

The error:
[code]

`SCRIPT5007` links to [this MSDN page](https://msdn.microsoft.com/query/dev12.query?appId=Dev12IDEF1&l=EN-US&k=k(VS.WebClient.Help.SCRIPT5007))
Clicking the bottom line brings me to the end of the HTML file, that doesn't even have

[2017-03-03 16:08] Ethan-Arrowood commented on #12844
<img width="356" alt="screen shot 2017-03-03 at 11 07 50 am" src="https://cloud.githubusercontent.com/assets/16144158/23558452/aad9132e-0001-11e7-87bb-d59ecad0867a.png">
I like the grey more. What do you think @systimotic?

[2017-03-03 16:11] Greenheart commented on #12844
@Ethan-Arrowood I like the grey!

[2017-03-03 16:13] jake-steele commented on #13537
I can confirm this happened to me as well. (User Agent: Chrome Version 56.0.2924.87 (64-bit), Windows 10 Home (x64))

The same happened to me with the "Introduction to Arrays" challenge at the beginning of this section. I have tried refreshing or going to beta.freecodecamp.com and neither fixed the issue.

[2017-03-03 16:14] Greenheart commented on #13473
@systimotic Excellent triaging! This is at least a bit closer.

[2017-03-03 16:17] #13659 closed

[2017-03-03 16:17] systimotic commented on #13704
Thanks a lot for reporting @kalunlee136, and for investigating @dna113p and @Marmiz!
It looks like @szib is already working on a fix in #13712 👏

[2017-03-03 16:22] systimotic commented on #12844
@Ethan-Arrowood Agreed! I definitely like the grey more as well. Can you submit a PR?

[2017-03-03 16:30] systimotic commented on #13685
Hi @TimLehner! Thank you for reporting this issue.

Almost all challenges can be passed with cheating. For this challenge for example, you could do a switch statement that looks at the input, and returns the desired output. This works for almost all challenges. Because we don't currently have the ability to randomly generate test cases, this is inevitable.

A big part of the challenge here is to w

[2017-03-03 16:31] Ethan-Arrowood commented on #12844
Will do after class.
On Fri, Mar 3, 2017 at 11:23 AM Timo <notifications@github.com> wrote:

--

Ethan Arrowood
Computer Science - WIT 2020
*Applied Mathematics & Business Management*
ethan.arrowood@gmail.com | *609.276.4043*
ethanarrowood.com | @arrowoodtech

[2017-03-03 16:34] TimLehner commented on #13685
@systimotic Oh I clearly did not read the problem carefully enough! It appeared to me random how the casing was propagated. I understand now how the case was supposed to be preserved.

[2017-03-03 16:34] #13685 closed

[2017-03-03 16:37] systimotic commented on #13685
@TimLehner No problem! Happy coding!

[2017-03-03 16:42] systimotic commented on #13110
Removed `first-timers-only` and `help-wanted` to avoid getting duplicate PR's, as we often do with `first-timers-only`

[2017-03-03 16:46] Greenheart commented on #13716
@Ethan-Arrowood Nice catch!

Actually, this is solvable as it is - but this is most likely the intended way... :smile:

![copy-contents-of-array](https://cloud.githubusercontent.com/assets/6125097/23559820/89ea6c3a-0038-11e7-9bbc-8536e88d1da4.png)

I suggest that we slightly change the format of the `challengeSeed` to solve this:

[code]

[2017-03-03 17:56] Ethan-Arrowood commented on #13101
<img width="624" alt="screen shot 2017-03-03 at 12 55 31 pm" src="https://cloud.githubusercontent.com/assets/16144158/23562511/b6ab8538-0010-11e7-8d0d-2ee852087d01.png">
I'm having some issues getting the tests for these challenges to pass. Any tips? I've tried to live app link as well: https://excellent-memory.gomix.me/

[2017-03-03 17:57] Aque51 opened #13721 "chacha 20 polly 1365"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-03-03 18:09] Ethan-Arrowood commented on #13716
And I think we should add the hint to use the .push() function. Or hint to using something from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array .
I'll go ahead and make this change this evening.

[2017-03-03 18:10] TimHandy commented on #13520
Oh, sorry, I didn't see a notification of an update to this... I believe it was "Functional Programming: Introduction to Currying and Partial Application".

[2017-03-03 18:25] #13721 closed

[2017-03-03 18:27] raisedadead commented on #13718
Hey @ArleneAndrews Can you reach me on gitter to discuss this and understand your issue? I am on  the team for freeCodeCamp.

You can reach me here : https://gitter.im/raisedadead

[2017-03-03 18:27] #13718 closed

[2017-03-03 18:28] raisedadead commented on #13710
Refer https://github.com/freeCodeCamp/freeCodeCamp/issues/12753

[2017-03-03 18:28] #13710 closed

[2017-03-03 18:31] raisedadead commented on #13715
Yup, good idea. Could we not use a generator for this? I mean we have had an editor in the past, but it is now deprecated.

But a generator should be fairly good and a handly tool to implement that will generate an id and check that its unique among all of the available challenges.

[2017-03-03 18:47] Jacobycodes18 commented on #13449
Had the same problem, used this to get by the bug though.
<script>
  $(document).ready(function() {
    $("#target1").css("color", "red");
    $("#target1").prop("disabled", true);
    $("#target4").remove();
    $("#target2").appendTo("#right-well");
    $("#target5").clone().appendTo("#left-well");
    $("#target1").parent().css("background-color", "red");

  });
</script>

<div class="container

[2017-03-03 18:57] texas2010 commented on #13714
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2017-03-03 18:57] #13714 closed

[2017-03-03 18:58] #13686 closed

[2017-03-03 19:29] Bouncey commented on #13101
@Ethan-Arrowood what challenge is this for?

[2017-03-03 19:46] Ethan-Arrowood commented on #13101
https://beta.freecodecamp.com/en/challenges/managing-packages-with-npm/how-to-use-packagejson-the-core-of-any-nodejs-project-or-npm-package

[2017-03-03 20:37] raisedadead commented on #13711
Hi @only1dallas thanks for your issue.

Can you guide, does your confusion about semicolons and colons are specific to this challenge?
Do you feel that this is misleading our daunting?

Apologies, I am trying to determine what could be creating this confusion.

If possible can you share code snippets here to differentiate what you mean?

Thanks.

[2017-03-03 20:42] raisedadead commented on #13716
@Ethan-Arrowood we are removing MDN links in favor of having a hints feature for the challenges than simply pointing to a resource that users may find a bit daunting while learning.

Nevertheless thanks a lot for the issue, and your contributions.

[2017-03-03 23:03] Manish-Giri opened #13723 "Revoke certifications?"
This camper has "completed" the Front End and Back End Certifications, but all of his projects are either bogus links or link to FCC projects on codepen.

Not sure what the general course of action is, in cases like these, but just decided to mention it here so as to inform everyone (and the mods).

https://www.freecodecamp.com/KoalaPears

[2017-03-03 23:07] texas2010 commented on #13723
@BerkeleyTrue, this issue for you.
someone cheat on fcc challenges.

[2017-03-03 23:15] BerkeleyTrue commented on #13723
@Manish-Giri Thanks. In the future please PM me instead of posting their username here.

Happy Coding.

[2017-03-03 23:15] #13723 closed

[2017-03-03 23:19] Yevhenii-Kushvid opened #13724 "Problem while commiting the task. Some of issues are wrong marked even if they are correct."
Challenge [Sum All Odd Fibonacci Numbers](https://www.freecodecamp.com/challenges/sum-all-odd-fibonacci-numbers#?solution=var%20fiboNumbers%20%3D%20%5B1%2C%201%5D%3B%0A%0Afunction%20sumFibs(num)%20%7B%0A%20%20var%20number%20%3D%20num%3B%0A%20%20if%20(fiboNumbers.find(function(fibo_number)%7B%0A%20%20%20%20return%20fibo_number%20%3E%20number%3B%0A%20%20%7D))%20%7B%0A%20%20%20%20var%20sum_of_odd_ele

[2017-03-03 23:42] lukenolook opened #13725 "I had to copy paste the img-responi"
Challenge [Ditch Custom CSS for Bootstrap](https://www.freecodecamp.com/challenges/ditch-custom-css-for-bootstrap#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20%20%7D%0A%0A%20%20%0A%

[2017-03-03 23:44] lukenolook commented on #13725
at the beginning, the img-responsive class was already added correcly in the top img

[2017-03-03 23:44] #13725 closed

[2017-03-03 23:52] nativedone opened #13726 "[Beta] Basic HTML and HTML5: Bad Scroll behavior on insctrucions"
#### Challenge Name

Basic HTML and HTML5: Create a Bulleted Unordered List (But occurs in any challenge on HTML course)

#### Issue Description

Every time that you submit a challenge, the next challenge appear with the instructions scrolled. The link below points to the exact situation. So, you need to scroll up every time.

#### Browser Information

* Browser Name, Version: Chrome Version 56.0.

[2017-03-04 00:14] osbornhaz commented on #11961
Never would've figured this out w/o help, thx!

[2017-03-04 00:43] leekirby6 opened #13727 "Chrome displays error message in iframe - Unsual code detected"
**Update**
#### Please use Firefox while we come up with a fix. Apologies for the inconvenience.

----

Challenge [Add a Submit Button to a Form](https://www.freecodecamp.com/challenges/add-a-submit-button-to-a-form) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) **Chrome/57.0.2987.88** Safari/537.36</code>.

_Description edited

[2017-03-04 01:28] 126Andy opened #13728 "Suggest Non-Equality Operator Challenges"
Challenge [Comparison with the Strict Equality Operator](https://www.freecodecamp.com/challenges/comparison-with-the-strict-equality-operator) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.79 Safari/537.36 Edge/14.14393</code>.
Please describe how to reproduce this issue, and include links to screenshots if poss

[2017-03-04 01:29] cedmist opened #13729 "Won't grade code"
I don't know if my code is right but my main issue is that it isn't being graded. All it says is "TypeError: Assignment to read-only properties is not allowed in strict mode"
I am pretty sure I didn't do anything unusual to cause this but I just really want to figure out how to get my code graded so that I can keep learning.

Challenge [Understand String Immutability](https://www.freecodecamp.com/

[2017-03-04 01:39] Manish-Giri commented on #13729
@cedmist While you got the code right, with - `myStr="Hello World";`
You're still trying to change a letter of the `myStr` string - `myStr[0] = "H";`, which is not right, because strings are immutable.

The `// Fix Me` comment was there so you could edit the line and replace it with your new code. If you now delete this line - `myStr[0] = "H"; `,  it should work!

[2017-03-04 02:00] fonsecapontes commented on #13267
I maked the test and it pass.

The issue is the local memory of your pc.

[2017-03-04 02:26] erictleung commented on #10523
@ChloeB123 this is [resolved in the codebase](https://github.com/freeCodeCamp/freeCodeCamp/blob/d424b7331ded350e297387b134f5ab8e85631839/seed/challenges/01-responsive-web-design/basic-css.json#L3196), it just hasn't been pushed to the production site. In the meantime, just use the code found in the table description. But if you get stuck or have questions with a challenge in the future, please fir

[2017-03-04 02:28] erictleung commented on #13729
@cedmist as @Manish-Giri has pointed out, you almost got it but are still trying to edit an immutable string, which is the subject of the challenge. Remove your code that tries to edit the string and you'll be fine.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code

[2017-03-04 02:28] #13729 closed

[2017-03-04 02:33] erictleung commented on #13728
@126Andy thanks for the suggestion. Not sure if we need an extra challenge for this. In my opinion, it might be okay to just mention and show that you can also use a not equals (or not strict equals) as well. But then keep the challenge the same. I know this goes against the "teach one concept per challenge" we've set out for the challenges, but I think it should be okay to introduce the equality

[2017-03-04 02:35] erictleung commented on #13727
@leekirby6 thanks for the issue. Can you give more information on where you saw this notification? A screenshot might help as well if you're able to provide one. I don't get any notification from Chrome when I open the page. Thanks!

[2017-03-04 02:45] leekirby6 commented on #13727
Oh, i forgeted about screenshot.
![freecodecamp-error](https://cloud.githubusercontent.com/assets/10808157/23575467/3c9d58f2-00bf-11e7-8823-b5c95e21c53b.png)
Nothing happen when I use firefox.

[2017-03-04 02:54] Ethan-Arrowood commented on #13095
Having issues with the first challenge. It seems like getting the package.json file is failing on my Chrome browser (Mac). Any can confirm or could point me in the right direction to complete the first Author challenge?

[2017-03-04 03:06] QuincyLarson opened #13730 "Back end projects aren't using the correct view"
Our back end projects are still using the old project view ([like this](http://beta.freecodecamp.com/en/challenges/api-and-microservice-projects/timestamp-microservice)). They should instead use the new back end challenge view ([like this](http://beta.freecodecamp.com/en/challenges/managing-packages-with-npm/how-to-use-packagejson-the-core-of-any-nodejs-project-or-npm-package)).

I suspect this ca

[2017-03-04 03:14] #13535 closed

[2017-03-04 03:27] JosephLivengood commented on #13730
I can get it within 24 hours. Was originally going to include it with the pr for adding tests but I agree this needs to be viewed properly asap!

[2017-03-04 04:12] adetime opened #13731 "[Beta] Instructions on Create a Set of Radio Buttons are not so clear"
#### Challenge Name

Basic HTML and HTML5: Create a Set of Radio Buttons

#### Issue Description

The instructions say:

I think it should be:

Add a pair of radio buttons to your form. One should have the option of `indoor `and the other should have the option of `outdoor`. Both should have ` indoor-outdoor ` as name attribute.

Because the test fails if you try to use a different name, as shown

[2017-03-04 04:47] adetime commented on #13731
If you look the next challenge, that uses the same principles to checkbox, it has:

which highlights the inconsistency on the task's description of the challenge in discussion.

[2017-03-04 05:00] adgebana opened #13732 "Not passing the test cases when it actually does"
Challenge [Seek and Destroy](https://www.freecodecamp.com/challenges/seek-and-destroy#?solution=function%20filterOut(currentValue)%20%7B%0A%20%20return%20currentValue%20!%3D%3D%20this%3B%0A%7D%0A%0A%0Afunction%20destroyer(arr)%20%7B%0A%20%20%2F%2F%20store%20the%20arguments%20into%20a%20variable%20for%20easier%20readability%0A%20%20var%20args%20%3D%20Array.from(arguments)%3B%0A%20%20for%20(var%20i%

[2017-03-04 05:15] ramir141974 commented on #13732
No still on this way...

On Mar 3, 2017 22:03, "Aaron Dwayne Gebana" <notifications@github.com>
wrote:

[2017-03-04 09:17] doaafarahat opened #13745 "Nesting For Loops"
Challenge [Nesting For Loops](https://www.freecodecamp.com/challenges/nesting-for-loops#?solution=%0Afunction%20multiplyAll(arr)%20%7B%0A%20%20var%20product%20%3D%201%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20for(i%20%3D%200%20%3B%20i%20%3C%20arr.length%3B%20i%2B%2B)%7B%0A%20%20%20%20for(j%20%3D%200%20%3B%20j%20%3C%20arr%5Bi%5D.length%3B%20j%2B%2B%20)%7B%0A%20%20%20%20

[2017-03-04 09:31] hay-dee commented on #13586
@Greenheart can i propose the below changes to the description? I rephrased the portion on event handlers to hint that the "onclick" event handler is one of many. For the deletions, my intention is to reduce the information that the camper does not need to complete this particular challenge. This will help to prevent confusing the camper and allowing him to focus on learning one concept per challe

[2017-03-04 10:28] Bennpierce4077 commented on #5716
I'M AMAZED I came here because I was Stuck! I read all this advice that I could barely grasp by SMART, well meaning folks. I now believe they are all mistaken, because as it turns out, this is a "trick question" assignment!!! I just read the error message and asked "why is it trying to do that?" Because the code on line 7 told it to, that's why!! SPOILER ALERT!!!! All ya do is: Step 1. DELETE the

[2017-03-04 10:38] Manish-Giri commented on #13745
@doaafarahat The problem is that you're not accessing the actual numbers in the nested sub-arrays.

This issue tracker is for reporting bugs with the website itself. Please visit the [HelpJS Room](https://gitter.im/FreeCodeCamp/HelpJavaScript) if you need help with the challenge. Happy Coding.

[2017-03-04 12:00] szib commented on #13727
It might be related to Chrome Beta. See #12655. It works fine for me with stable Chrome. @leekirby6 Can you try it with stable Chrome?

[2017-03-04 12:10] leekirby6 commented on #13727
Thanks for rely. I prefer beta vesion than stable :
I used firefox !

[2017-03-04 13:54] systimotic commented on #5716
@Bennpierce4077 Hi! I'm glad you figured it out. That is indeed the intended solution. We're clarifying the instructions to hopefully make it more obvious.

[2017-03-04 15:27] BlackStarGr8 opened #13746 "R"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-03-04 15:27] BlackStarGr8 commented on #13746
04101BCB4B2F80015040125368933781F48BA67851776314

[2017-03-04 16:17] #13746 closed

[2017-03-04 16:25] t0cc commented on #13658
Image is loading **https://s3.amazonaws.com/freecodecamp/relaxing-cat.jpg** but _bit.ly_ redirection seems not to work with this exercise. Please don't use redirection services.

[2017-03-04 17:32] iansibindi commented on #13658
Responsively Style Radio Buttons

On Sat, Mar 4, 2017 at 7:26 PM, t0cc <notifications@github.com> wrote:

[2017-03-04 17:36] t0cc opened #13747 "[Suggestion] Create a Set of Radio Buttons OR create-a-set-of-radio-buttons"
This exercise https://www.freecodecamp.com/challenges/create-a-set-of-radio-buttons is introducing the **label** tag without explaining it beforehand.  Please, add a separate exercise for it before.

[2017-03-04 17:43] iansibindi commented on #13747
Create a Set of Radio Buttons

On Sat, Mar 4, 2017 at 8:38 PM, t0cc <notifications@github.com> wrote:

[2017-03-04 17:54] BhaveshSGupta commented on #13730
@QuincyLarson I can help with this tonight, I tried this on few challenges on my local and changing type worked.

[2017-03-04 18:09] BhaveshSGupta commented on #13593
@dhcodes As per #13730 I think the view of this needs to be changed too

[2017-03-04 18:21] jigar786 opened #13748 "3rd sub-challenge is not completing"
#### Challenge Name
hstand in line solution.

#### Issue Description
3rd subchallenge is not complementing and i think there is a issue

#### Browser Information
Chrome,firefox

#### Your Code
https://www.freecodecamp.com/challenges/stand-in-line#?solution=%0Afunction%20nextInLine(arr%2C%20item)%20%7B%0A%20%20%2F%2F%20Your%20code%20here%0A%20%20testArr.push(6)%3B%0A%20%20var%20removed%20%3D%20test

[2017-03-04 18:57] BhaveshSGupta commented on #13748
Hi @jigar786,

There are few small issue with your code, I would recommend you to discuss this over [here](https://gitter.im/FreeCodeCamp/HelpJavaScript). Tests are work fine as of now.

[2017-03-04 19:17] sethayers90 opened #13749 "Color changes but site says it didn't"
Challenge [use-css-selectors-to-style-elements](http://beta.freecodecamp.com/en/challenges/basic-css/use-css-selectors-to-style-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:51.0) Gecko/20100101 Firefox/51.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

[2017-03-04 19:18] sethayers90 commented on #13749
![screenshot from 2017-03-04 14-17-41](https://cloud.githubusercontent.com/assets/18181799/23581629/60e9ac08-00e5-11e7-8c26-b2791928e797.png)

[2017-03-04 20:50] z16844 opened #13750 "[Return Largest Numbers in Arrays] I've gotten same result, however I failed to pass"
#### Challenge Name

Return Largest Numbers in Arrays

#### Issue Description

As I mentioned on the title, I've gotten same result, however I failed to pass.

#### Browser Information

* Browser Name, Version: Safari 10.0.3(12602.4.8)
* Operating System: Mac OS X Sierra 10.12.3
* Mobile, Desktop, or Tablet: Laptop

#### Your Code

[code]
#### Screenshot

![2017-03-04 3 14 27](https://cloud.github

[2017-03-04 21:01] Em-Ant commented on #13683
I tried the first challenge and it's working. @KenzoM what url did you put in the input form ?
You have to put there not the boilerplate url (e.g. https://gomix.com/#!/project/your-project/) but the 'show live' url , i.e. https://your-project.gomix.me/.

@Greenheart  maybe we need to explain this better...

[2017-03-04 21:23] Gardemarin commented on #13750
Probably similar issue in "Basic JavaScript: Access Multi-Dimensional Arrays With Indexes".
![screen shot 2017-03-04 at 21 21 08](https://cloud.githubusercontent.com/assets/24617345/23582383/d1feeb16-0120-11e7-8273-1fff970fc295.png)

[2017-03-04 21:40] TimLehner commented on #1418
What is the status on this? I am currently attempting to solve this, and agree "aba" and "aba" are the same permutation. This inconsistency makes what could be a mathematically beautiful solution a mess.

[2017-03-04 22:10] shonery commented on #13449
I still have same problem, i have tried everything, and still -no pass...

[2017-03-04 22:21] #12844 closed

[2017-03-04 22:22] #13745 closed

[2017-03-04 22:32] Manish-Giri commented on #13530
I'll take this up..

[2017-03-04 23:24] systimotic commented on #13613
@BhaveshSGupta If you have a working jQuery solution, that would be fine as well! Once we solve #10749, that would mean that it would make your test work in Firefox as well.