[2021-04-10 20:33] JoshuaPelealu commented on #41791
Would putting the quotation marks outside of the code tag work? Something like this

Or might this just make it a lot more confusing?

[2021-04-10 21:38] ShaunSHamilton commented on #41791
This was one option, but I think this was an issue because different languages treat quotation marks in different ways. Nothing within a code block (backticks) gets translated. So, that kept it reasonably simple.

I loosely followed the translation effort. So, I am going to shut up now, and defer to others.

[2021-04-10 21:41] jovicon commented on #41785
Thanks for the contributors docs @ShaunSHamilton. So, I'll work on this today and create a PR for review.

Thanks again for your help.

[2021-04-11 00:35] huyenltnguyen commented on #41580
@ahmadabdolsaheb Thanks a lot! That sounds like a great plan. Now that it is up to us to be responsible for the components' HTML, what I would add as a criteria to our components is that they should be accessible and meet web accessibility requirements (https://www.w3.org/WAI/standards-guidelines/wcag/).

Here is the list of components that we are pulling from `@freecodecamp/react-bootstrap`:
- Al

[2021-04-11 09:26] miyaliu666 commented on #41510
Thank @leonfeng for translating the quotes. I'll do proofreading soon. As you mentioned on the Chinese forum there were some mistakes in the English version, could you create an issue, so we can modify them before translating? Thanks again!

@ojeytonwilliams We discussed about proofreader onboarding for other languages. I think @raisedadead will share a plan later. Each language should have more t

[2021-04-11 16:52] JoshuaPelealu commented on #41580
Tailwind injection are typically very fast on production because as we know it, it will shake the tree and only inject what we need. While from my OWN experience and others, injecting tailwind into dev, will take longer because it doesn't treeshake on dev.

[2021-04-11 21:59] pea-nut-z commented on #39470
input=9/
gives invalid number and invalid unit
input=9b
gives invalid unit

both should give the same output.

[2021-04-12 08:29] #41729 closed

[2021-04-12 08:32] ojeytonwilliams commented on #41510
It does, that makes perfect sense. Thanks, Miya.

[2021-04-12 14:37] Sembauke commented on #41791
I think this would be the best solution,  without the quotation marks. The sentence indicates that it should be a string so Campers will automatically write `console.log("Hi World")` instead of `console.log(Hi World)`.

[2021-04-12 15:15] #40763 closed

[2021-04-12 19:55] gikf commented on #41238
Please correct me if I'm wrong, but this also seems to be code no longer used and could be removed. Because how `error` in `fcctesting.js` is supposed to change? Only place explicitly using `error` variable is [server.js#L49 ](https://github.com/freeCodeCamp/boilerplate-project-metricimpconverter/blob/gomix/server.js#L49), but it's defined first in it own scope,

[2021-04-12 20:17] ShaunSHamilton commented on #41238
@gikf  `error` is defined in the global scope, and `app.get` takes a callback which will be run in a new thread, once that is invoked.

It is supposed to be set here: https://github.com/freeCodeCamp/boilerplate-project-metricimpconverter/blob/gomix/server.js#L50

I suspect the `let` is messing things up, because it is not in other projects: Example
- https://github.com/freeCodeCamp/boilerplate-moc

[2021-04-12 21:24] gikf commented on #41238
That makes more sense, thanks. It *should* be available globally to work. Declaring `error` again in `server.js` is one thing, another is exporting `error` only inside of the function from the `fcctesting.js`. That will need more changes than what's in the sample patch from @studio1202.

[2021-04-12 23:38] leonfeng commented on #41510
@miyaliu666 Here it is: https://github.com/freeCodeCamp/freeCodeCamp/issues/41769

The fact-checking is rather slow going though, as I'm literally Googling the quotes one by one... Any idea how we can open this up to contributions (assuming anyone else is interested)?

[2021-04-13 08:35] ahmadabdolsaheb commented on #41580
You are correct. TailwindCSS uses PurgeCSS to get rid of unused CSS.

We are currently using bootsttrap; however, it comes with design decisions that we had to overwrite over time.

[2021-04-13 09:12] ahmadabdolsaheb commented on #41403
How about showing the progress in the superblocks and only displaying a checkmark on the superblock icon?
<img width="544" alt="Screen Shot 2021-04-13 at 12 09 05 PM" src="https://user-images.githubusercontent.com/4591597/114528051-4d69de80-9c51-11eb-90f7-0d6231259cd0.png">

[2021-04-13 11:29] #41751 closed

[2021-04-13 15:30] moT01 opened #41803 "Remove comments in challenges?"
There has been some PR's to remove comments from a number of challenges recently. The general consensus seems to be to remove them when we can. This issue is for figuring out which ones we want to remove and which to leave it. Perhaps it's going to be a case by case basis and there won't be a blanket solution. One thing to maybe consider is to have some comments for the first few lessons in a new

[2021-04-13 15:37] moT01 commented on #41803
In one of the links above, @emerconghaile mentioned that he intended to "go through all lessons in the Basic Javascript module in small chunks" (to remove comments) and that he "recently finished this module and noticed there was a varied consistency of what did or did not have comments". I would be fine if he made PR for that section as he sees fit. From there, we can see if there's too many remo

[2021-04-13 17:02] nhcarrigan commented on #41803
I'm certainly a fan of removing more rather than less, since being able to read and understand existing code is an important skill.

[2021-04-13 20:17] markosankovic opened #41804 "Wrong text on "Standardize Times with the HTML5 datetime Attribute""
The sidebar text on "Standardize Times with the HTML5 datetime Attribute" says "The datetime attribute is an inline element that can wrap a date or time on a page."

https://www.freecodecamp.org/learn/responsive-web-design/applied-accessibility/standardize-times-with-the-html5-datetime-attribute

The attribute cannot be an inline element. Change it to: "The `time` element is an inline element that

[2021-04-13 20:37] IntegraterGithub opened #41805 "delete-your-jquery-functions should be merged with next challenge"
NOTE: This is not a major issue
Hi, on the jquery course there is a challenge called delete-your-jquery-functions where you delete the jquery function however I think this is a waste of challenge as you aren't exactly learning anything new or practicing a skill therefore you could merge it with the next challenge instead.

[2021-04-13 20:40] IntegraterGithub opened #41807 "Extremely Slow"

[2021-04-13 20:40] IntegraterGithub opened #41808 "Extremely Slow"
I have been coding alot on fcc lately but the connection is appalling after a few weeks. Here is what I have tried:
<ul>
<li>Clearing cache </li>
<li>Restarting computer </li>
<li>Asking arond</li>
<li>Closing all of my tabs</li>
<li> Making sure google chrome is only open</li>
<li>Checking with other people that it works for them and it does perfectly </li>

</ul>

[2021-04-13 20:55] #41807 closed

[2021-04-13 22:37] Russell-Burns opened #41809 "@kevcomedia The challenge did not want you to write your own `a` element."
@kevcomedia The challenge did not want you to write your own `a` element.
Instead it wanted you to just add the `p` tags with "View more " before it, like so...

[code]

Regardless, I have submitted PR #26441 that changes the wording to hopefully make this more clear to any other campers running in to the same issue

_Originally posted by @bannon-tanner in https://github.com/freeCodeCamp/freeCodeC

[2021-04-13 22:41] Russell-Burns commented on #41809
Hey guys. If you are having trouble with this solution it just requires an "s" added onto the http. Just wanted to add that clarification in case anyone was getting an unfinished solution.

<p>View more <a href="https://freecatphotoapp.com" target="_blank">cat photos</a>
  </p>

[2021-04-13 22:44] #41809 closed

[2021-04-13 23:37] JackMaunders commented on #41277
Hey, having had a look into the context around this I am happy to pick it up as my first contribution to freeCodeCamp, unless someone else has already started on it?

As well as some unit tests, I can take a look at some cypress tests too as mentioned by @ahmadabdolsaheb

[2021-04-14 04:34] gikf commented on #41277
Hey @JackMaunders I haven't followed it, but there's some work regarding cypress testing being done in #41602, feel free to check it and add your insights.

[2021-04-14 06:28] ahmadabdolsaheb commented on #41767
In the donation modal we have an image for supported payments.

[2021-04-14 07:16] raisedadead commented on #41767
Do you mind pointing us to the assets within the repo, thanks.

[2021-04-14 07:40] ahmadabdolsaheb commented on #41767
https://cdn.freecodecamp.org/platform/universal/form-payments.png

[2021-04-14 09:26] ShaunSHamilton commented on #41805
Hello there,

Thank you, for taking the time to open this. I would tend to agree with you. I suspect, when this was originally written, the intent was to prevent the previous/next challenge from being too cluttered/require too many steps.

I do not think anything will be done about these challenges though, as this is not a bug, and no more challenges for this version of the curriculum are being cr

[2021-04-14 10:43] ShaunSHamilton commented on #41803
Our main issue with the current layout is relying on existing seed code objects for tests. I am aware we have resolved some of these (I assume not all), by have a `--after-seed` object to test on, and/or by entirely removing the example object from the seed.

I am happy with whatever you decide on, but I do wonder how much more effort will go into these _cross-block_ changes, considering the chall

[2021-04-14 14:23] nhcarrigan commented on #41803
This is probably a good approach for these challenges in question as well.

Yes, though currently the editable region doesn't preclude changing other code.

[2021-04-14 15:14] Sembauke commented on #41808
Hey @IntegraterGithub,

Are you referring to the freecodecamp.org website or are you talking about the repository?

[2021-04-14 15:41] raisedadead commented on #41808
Hello @IntegraterGithub thanks for reaching out to us.

Sorry about the inconvenience you have been facing. We haven't received any recent reports about a similar issue from others. And like you said it has been working for others you know.

It's very much possible it could be down to the network / ISP etc. you are on. I think it's best you reach out to us on `support at freecodecamp dot org` emai

[2021-04-14 15:41] #41808 closed

[2021-04-15 06:54] sitek94 opened #41830 "Inconsistent styling of forum icon buttons"
**Describe the bug**
The following icon buttons of the of the `new topic` / `reply` dialog don't have their colors inverted on hover:
* `enter full screen composer`
* `minimize the composer panel`
* `toggle preview`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the forum: https://forum.freecodecamp.org/
2. Click on `+ New Topic`
3. Hover over the icon buttons on the right

**Expected

[2021-04-15 06:55] sitek94 commented on #41830
If someone will confirm that it is actually a bug, I'd be happy to fix that as my first contribution :)

[2021-04-15 07:14] gikf commented on #38540
Demo projects with green favicon:
https://request-header-parser-microservice.freecodecamp.rocks
https://url-shortener-microservice.freecodecamp.rocks
https://exercise-tracker.freecodecamp.rocks
https://file-metadata-microservice.freecodecamp.rocks

[2021-04-15 10:45] Ismailtlem commented on #40050
Hi,

- Any better solution to find if the url provided is valid apart from sending a get request to it ? A cors problem might appear that might block the incoming request. I tried also to use fetch with the following code on the About.js component but it also come with some misbehaviors
[code]
- How to call a flash message from the frontend ?
- If one wants to add a flash message that doesn't exis

[2021-04-15 10:59] ahmadabdolsaheb commented on #41830
I see, this is a bug. the icon color should be inverted.
Please make selector as specific as possible to avoid unwanted changes in other areas of the UI.
Our theme repo is here: https://github.com/freeCodeCamp/forum-theme/
And you could test your changes using theme creator: https://meta.discourse.org/t/beginners-guide-to-using-theme-creator-and-theme-cli-to-start-building-a-discourse-theme/108444

[2021-04-15 11:38] ahmadabdolsaheb commented on #41403
I think we optimized the query that shows the cert map to only pull the superblocks info. For displaying percentages we would probably need to pull all of the challenges like we used to.

[2021-04-15 12:13] ShaunSHamilton commented on #40050
@Ismailtlem

You need to dispatch an action (`createFlashMessage`), which takes an object describing the `type` and the `message`. The `message` should be one of: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/i18n/locales/english/translations.json#L410

If it is new, then you add the English to all files, and they will be translated on Crowdin.

Now that you know what we call it (t

[2021-04-15 14:48] ieahleen commented on #41791
I would not bet on the "automatically", but if it's just removing the quotes let's open it to first timers

[2021-04-15 15:37] sitek94 commented on #41830
Okay, thanks for the tips, I'll get on with it then :)

[2021-04-15 15:50] ieahleen commented on #40472
@freeCodeCamp/moderators

the discussion here has stopped

The issue is about the guide topics for the curriculum projects
for the JavaScript and Python projects that involve algorithms
 - (only JavaScript) do we keep current solutions?
 - do we accept new contributions from users?
 One pro in keeping solutions is to have a place from where to check if the solution is copied and pasted

 for all o

[2021-04-15 16:07] ieahleen commented on #41444
@moT01 it could be a good issue to open to first timers, change from `repl.it` to `replit.com`

[2021-04-15 20:40] andypants888 commented on #41791
Hello! This is my first time commenting on github like this. I would like to work on this issue. I am researching how to get started, but I was hoping to "reserve" the problem? Please let me know if there is something I am missing.

[2021-04-15 20:53] ShaunSHamilton commented on #41791
@andypants888
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues

[2021-04-15 21:37] jeremylt commented on #41654
Any decision on if we're opening this for first timers?

[2021-04-16 05:07] harshgoel05 commented on #41654
@LaurentLabine Can I work on this issue, being my first contribution to freeCodeCamp?

[2021-04-16 08:19] ahmadabdolsaheb commented on #41654
@harshgoel05, please go ahead.

[2021-04-16 08:40] #41791 closed

[2021-04-16 16:27] SparksCode opened #41841 "Typo in Data Analysis - Medical Data Visualizer"
**Describe your problem and how to reproduce it:**
In the below comment, 'cholestorol' should be spelt 'cholesterol'

Normalize data by making 0 always good and 1 always bad. If the value of 'cholestorol' or 'gluc' is 1, make the value 0. If the value is more than 1, make the value 1.

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/boilerplate-medical-data-visualizer/

[2021-04-16 16:46] Sembauke commented on #41841
Hey @SparksCode,

Thank you for making an issue on this. This should be pretty easy to fix so I am adding the first timers only label.

[2021-04-16 16:52] EKaxada commented on #41841
Can I take this up @Sembauke

[2021-04-16 17:03] jonathankerr commented on #41804
Hey @markosankovic good spot there I'll sort this 👍

[2021-04-16 17:03] Sembauke commented on #41841
Happy to see you want to contribute to the repository. But this issue is only available for people that haven't contributed before (because it has the first timers only label). You can contribute to any issue with the "[help wanted](https://github.com/freeCodeCamp/freeCodeCamp/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22)" label.

[2021-04-16 17:22] jschref opened #41843 "Missing Letters - Test Shortfall"
**Describe your problem and how to reproduce it:**
There is a missing test case in the "JavaScript Intermediate Algorithm Scripting - Missing Letters" challenge. The only test case which does not contain a missing letter, is one which contains the entire alphabet. This makes it possible to pass the challenge while having a string which is not missing any letters, but contains less than the entire

[2021-04-16 17:40] EKaxada commented on #41841
Ohh. Thank you. I didn't know "first timers only" really meant that literally

[2021-04-16 17:47] jonathankerr commented on #41843
Hey @jschref this has already been reported and was deemed to be a non-issue. Reference here: https://github.com/freeCodeCamp/freeCodeCamp/issues/34958

In the future please check if the same issue has already been opened, especially in this case as the the OP of the forum you've linked mentioned he had created an issue for this.

[2021-04-16 20:00] Hypermona commented on #41841
I would like to contribute can you guide me

[2021-04-16 20:04] Sembauke commented on #41841
Hey, @Hypermona we have a pretty good [documentation](https://contribute.freecodecamp.org/#/how-to-work-on-coding-challenges) that can guide you through this.
If you need any additional help. Let me know.

[2021-04-16 20:33] Hypermona commented on #41841
I have committed the 2 changes

[2021-04-16 20:45] Sembauke commented on #41841
Great now you can open a pull request so we can review your contribution.

[2021-04-16 21:33] Ismailtlem commented on #40050
Would only checking the extension of the image in the url as well as checking the presence of the http prefix (or https) with a regular expression be sufficient to check the correctness of a URL ? Not so sure about that

[2021-04-16 23:11] jonathankerr commented on #41323
Hey @ShaunSHamilton i've been working on some of the tests for this and i was wondering if i could get some clarification on the 6th test:

 "You can send a GET request to /api/threads/{board}. Returned will be an array of the most recent 10 bumped threads on the board with only the most recent 3 replies for each. The reported and delete_password fields will not be sent to the client."

When you m

[2021-04-17 04:19] #41804 closed

[2021-04-17 08:29] ahmadabdolsaheb commented on #40050
Here are the suggestions from chat:
If there's any error, CORS or otherwise, we could consider the image invalid and display flash error.

Here are some resources from image verification:
https://stackoverflow.com/questions/9714525/javascript-image-url-verify
https://stackoverflow.com/questions/8124866/how-does-one-use-the-onerror-attribute-of-an-img-element

Please let us know if you would need m

[2021-04-17 08:32] Hypermona commented on #41841
https://github.com/freeCodeCamp/boilerplate-medical-data-visualizer/pull/10#issue-617098650

[2021-04-17 08:32] #41841 closed

[2021-04-17 09:28] ShaunSHamilton commented on #40472
@ieahleen That is excellent booking. I have edited it slightly, so we can keep track.

---

My suggestion is still to keep the button, and remove the project solutions (and the calls to submit solutions). I like Nicholas' suggestion: https://github.com/freeCodeCamp/freeCodeCamp/issues/40472#issuecomment-747667812

[2021-04-17 10:30] gikf commented on #39348
Inconsistent and/or unwanted behavior:
* Write passing code.
* Check code with tests, regardless of way it's done (either button one of buttons, Ctrl + Enter shortcut), but don't submit it.
* Change code.
* Pressing button "Submit your code and go to next challenge (Ctrl + Enter)" will mark challenge as passed and go to next one, regardless if changed code would pass tests. Ctrl + Enter and other

[2021-04-17 12:37] sitek94 commented on #41830
I've found a way to invert the colors:

<p float="left">
  <img src="https://user-images.githubusercontent.com/58401630/115113132-fa619580-9f88-11eb-8e82-354f440678c2.gif" />
  <img src="https://user-images.githubusercontent.com/58401630/115113129-f6ce0e80-9f88-11eb-910b-db967bff183b.gif" />
  <img src="https://user-images.githubusercontent.com/58401630/115113130-f897d200-9f88-11eb-8c2c-90eb3d2ada

[2021-04-17 13:01] ahmadabdolsaheb commented on #37742
Here is current breakdown for learn.
<img width="1440" alt="Screen Shot 2021-04-17 at 3 53 07 PM" src="https://user-images.githubusercontent.com/4591597/115114032-d6588100-9f95-11eb-9c22-4ee1a0247da6.png">

My main concern in the app chunk at the moment which is the largest script that loads on landing page.

<img width="667" alt="Screen Shot 2021-04-17 at 3 53 54 PM" src="https://user-images.gith

[2021-04-17 14:13] Hypermona opened #41844 "Typo in Data Analysis - Boilerplate Medical Data Visualizer"
**Describe your problem and how to reproduce it:**
In the below line, 'collumns' should be spelled 'columns'

Group and reformat the data to split it by 'cardio'. Show the counts of each feature. You will have to rename one of the collumns for the catplot to work correctly.

**Add a Link to the page with the problem:**
https://github.com/freeCodeCamp/boilerplate-medical-data-visualizer/blob/master

[2021-04-17 14:52] #41844 closed

[2021-04-17 17:59] Teoman11 opened #41845 "Iptv"

[2021-04-17 19:04] #41845 closed

[2021-04-17 19:24] geochronology opened #41846 "Minor typo on CSS inline style lesson"
**Describe your problem and how to reproduce it:**
There is a minor typo on the lesson for CSS inline styles as part of the Responsive Web Design curriculum.

The challenge part of the lesson reads as follows:
`"Use an inline style to try to make our h1 element white. Remember, in line styles look like this:"`

The second instance of inline is here written as “in line” which is incorrect.

**Add a

[2021-04-17 19:40] ShaunSHamilton commented on #41846
Thank you, for taking the time to open this.

This is a simple issue. So, I have opened it up to first timers.

---

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read t

[2021-04-17 20:56] Dzheky commented on #41846
Can I work on this as my first code contribution to FCC?

[2021-04-18 09:54] #41846 closed

[2021-04-18 11:09] gracewest333 commented on #41654
Hi, I saw that this issue wanted to be done by someone a few days ago, but its still not been closed, I am also an newbie and am really eager to contribute so would be happy to help, and close it today. Was trying to find the template to change it, but couldn't find the file. Would it be possible for someone to point me to the right file? Thanks :)

[2021-04-18 11:32] gikf commented on #41654
Hey @gracewest333, it's this one -
https://github.com/freeCodeCamp/freeCodeCamp/blob/ad9b1f89d8ef21c8ecd81c95717ed7e5582ff380/client/src/templates/Challenges/redux/create-question-epic.js

[2021-04-18 11:33] gracewest333 commented on #41654
Thanks

[2021-04-18 15:17] ojeytonwilliams commented on #39348
@gikf I can confirm that that's definitely not what we intended to do.  The state should get reset as soon as the preview updates (i.e. after the user stops typing).  Thanks for the report!

[2021-04-18 15:48] Glitchy-Tozier opened #41850 "Order of <p>-tags isn't tested."
Maybe this was done intentionally to give learning programmers more leeway. If that's not the case though, it's a bug.

**Describe your problem and how to reproduce it:**
In the [Introduction to HTML5 Elements](https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/introduction-to-html5-elements)-challenge, the request clearly is to add the new tag AFTER the previous p-tag.

[2021-04-18 16:32] Sembauke commented on #41830
Hey @sitek94,

Please do open a PR so we can look at your solution.
If changes are needed we can discuss them there.

[2021-04-18 16:35] ahmadabdolsaheb commented on #41830
@sitek94, Yes and yes :)
Also feel free to audit the rest of the theme for similar inconsistencies.

[2021-04-18 16:40] #41654 closed

[2021-04-18 20:23] azatecas commented on #41578
I was about to report this issue glad it's already known. While changing to an alternative keyboard works, i feel the users should be notified of this issue and potential solutions in a modal or popup when on a mobile view. People starting out wont know to visit github issues

[2021-04-18 20:36] #40571 closed

[2021-04-18 20:48] QuincyLarson commented on #41578
@azatecas This is a good point. @nhcarrigan perhaps we could notify them "Hey it looks like your using Android. We recommend installing the freeCodeCamp Android app for a better coding experience. Or at least reading this: https://www.freecodecamp.org/news/freecodecamp-mobile/"

[2021-04-19 00:19] geochronology opened #41854 "Erroneous "your code should not have any divs" error on Firefox Developer Edition"
**Describe your problem and how to reproduce it:**
When doing the `nav`, `header`, and `figure` coding challenges on Firefox Developer Edition, I get an error "Your code should not have any divs" even when there are not any divs

**Add a Link to the page with the problem:**
* https://www.freecodecamp.org/learn/responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-th

[2021-04-19 00:54] JoshuaPelealu commented on #41850
I think this can go either way, but I'm leaning towards changing the directions, and removing the `after existing p element` to give the more leeway for newcomers, to somewhat like:

This is ofcourse just my opinion, I would love for others to pitch in...

[2021-04-19 03:40] JustinSingleton303 commented on #41850
I like the change.  The less explicit version seems to better describe how the page is already behaving.

[2021-04-19 07:20] ieahleen commented on #41854
Please try deactivating your browser extensions

[2021-04-19 08:01] Glitchy-Tozier commented on #41850
I agree that this sounds like a good change  :)

[2021-04-19 09:07] Sembauke commented on #41843
I think @jonathankerr is correct here.

As quoted by Randell Dawson:

(Or Any other value that is alphabetically correct)

I am closing this issue for this reason.

[2021-04-19 09:07] #41843 closed

[2021-04-19 11:30] ShaunSHamilton commented on #41850
As we do not want any confusion about what the `main` element should wrap. I suggest the following:

---

I am opening this up to first timers

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to cont

[2021-04-19 14:02] Glitchy-Tozier commented on #41850
Sure, I'll do my best!

[2021-04-19 14:15] Glitchy-Tozier commented on #41850
See #41859.

I wrote this. I changed the second line to improve it with `"only"`, while still keeping it similar to the previous description.
[code]

[2021-04-19 18:45] Glitchy-Tozier opened #41861 "Link in challenge doesn't respect `target="_blank"`"
**Describe your problem and how to reproduce it:**
In the **Nest an Anchor Element within a Paragraph**-challenge, in the description there's an example text+link. It is explicitly said that there's a `target="_blank"` attribute being used.
However, at the bottom of the example, the link after `"The final output of the example will look like this:"` doesn't take you to a new tab. This seems wrong

[2021-04-19 18:46] Glitchy-Tozier commented on #41861
Should I just do another pull request?

[2021-04-19 21:24] jonathankerr commented on #41323
Hey I've been working on more of the tests for this and noticed that the example project we give:
https://anonymous-message-board.freecodecamp.rocks/ would actually fail the two GET request tests. Currently sending a GET request to `/api/threads/{board}` and `/api/replies/{board}?thread_id={thread_id}` results in both the `reported` and `delete_password` fields being shown which goes against the r

[2021-04-20 04:46] jdwilkin4 opened #41863 "Bootstrap Fluid Containers lesson passes with incorrect answer"
**Describe your problem and how to reproduce it:**
Here are the instructions for the lesson
we should nest all of our HTML (except the link tag and the style element) in a div element with the class container-fluid.

This answer should not pass because the style element is included inside the div element.
[code]

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/front

[2021-04-20 05:48] ahmadabdolsaheb commented on #40419
Hey @Twaha-Rahman, we are working on improving the core web vitals and I am focused on code splitting at the moment.
There is a large 2MB chunk that is served on initial load that is causing some of the performance related issues.

More information is posted here: https://github.com/freeCodeCamp/freeCodeCamp/issues/37742

Let me know if you are still interested in helping out with improving the me

[2021-04-20 06:21] ahmadabdolsaheb commented on #37742
Here seem to be the three main issues to fix regarding this chunk.
1. Some modules are imported as whole which means treeshaking is not happening properly:
     - [ ] React-boostrap: some unused components are being imported.
     - [ ] Lodash: `babel-plugin-transform-imports` does not work, we could use `lodash-es` to remove unused methods.
     - [ ] rxjs/_ems5: dependency of redux-observable, r

[2021-04-20 09:17] Glitchy-Tozier opened #41865 "Back-button targets preview-page in coding challenge"
**Describe your problem and how to reproduce it:**
1. Go [here](https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/create-a-form-element).
2. Create the requested form.
3. Enter something in that text field and press enter.
4. A `Thank you!`-page appears in the preview section. **(see first screenshot)**

Everything is great up until now. Here comes the problem.

5. The

[2021-04-20 11:32] jonathankerr commented on #41863
Thanks for highlighting this issue @jdwilkin4 I'm happy to sort this 👍

[2021-04-20 11:32] ahmadabdolsaheb commented on #37742
crypto-browserify and its dependencies seems to be a large part of the chunk.

[2021-04-20 11:33] ShaunSHamilton commented on #41861
Thank you, for taking the time to open this.

Yes, this was _semi_-recently changed: https://github.com/freeCodeCamp/freeCodeCamp/pull/39800/files?file-filters%5B%5D=.markdown&file-filters%5B%5D=.md#diff-fac8c38218acdea5469da1593050f2586b7cbdaee567fba221a2e1637420f5da

There does not appear to be any necessary reason to stick with Markdown, in this case. As this is such a simple fix, I am inclined

[2021-04-20 11:37] ShaunSHamilton commented on #41865
Thank you, for taking the time to open this. To be honest, I am not sure why/how you managed to stumble upon this bug. It is quite funny.

I believe there is an `iframe` attribute we can attach which would resolve this behaviour, but I forget which one. _will edit this, once I find it_

[2021-04-20 14:11] raisedadead commented on #41830
We have enabled the `/styleguide` path on the forum for you all to debug things better. It's available here: https://forum.freecodecamp.org/styleguide

[2021-04-20 14:11] raisedadead commented on #41559
We have enabled the `/styleguide` path on the forum for you all to debug things better. It's available here: https://forum.freecodecamp.org/styleguide

[2021-04-20 16:17] sa-ritesh commented on #41861
Hello sir,
I am a first-time contributor, can you please help me by telling me how can I set this up in my local machine.
I had already cloned and installed the necessary packages but still could not run it.

[2021-04-20 16:47] Glitchy-Tozier commented on #41865
1. Yeah, it's pretty funny!
2. Not sure how i discovered this, maybe I just wanted to go back to the previous challenge...
3. Thank you for the video, I'll watch it as soon as possible.

By the way, I haven't advanced very far in the curriculum, but i suspect that this is reproducible in other challenges with input fields.

[2021-04-20 21:47] #41194 closed

[2021-04-21 02:20] ahmadabdolsaheb commented on #37742
@raisedadead, the projects builds fine without them. I know some of them are mentioned in the Gatsby v2 to v3 migration guide, but there is a change that we don't need them.

[2021-04-21 07:24] ojeytonwilliams commented on #37742
It's worth checking if we still need them, but at the time I added them they were all necessary.

[2021-04-22 01:36] dsuttler opened #41884 "Safari(v14.0.3) Menu & Sign In Missing from Navbar"
**Describe the bug**
A clear and concise description of what the bug is.
When navigating to the home page, the Menu and Sign In buttons in the top right corner are missing. Can not sign in to profile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'freecodecamp.org'
2. Try to locate Menu & Sign In
3. See error: Missing Menu and Sign In buttons on top navbar.

**Expected behavior**
A c

[2021-04-22 04:34] #41861 closed

[2021-04-22 06:33] ojeytonwilliams commented on #41884
@moT01 could you check this out on Safari?

First off, thanks for letting us know about the problem!  And, yes, you're very welcome to work on this issue.  If you haven't already taken a look, it's worth reading our [guide](https://contribute.freecodecamp.org/#/index?id=our-open-source-codebase) to contributing to freeCodeCamp.

[2021-04-22 06:51] ieahleen commented on #40472
So replace all the stubs with the "No hints for projects" message? What about those that have forum searches from the hint button? and those that have Hints?

[2021-04-22 08:09] ahmadabdolsaheb commented on #41884
I get a loader on /learn's navigation and the page itself. it seems like near 8% of users are affected.
How long have you been experiencing this issue?

@ojeytonwilliams, should we have a script that detect the browser and shows a flash accordingly? "For a better experience ...

<img width="1438" alt="Screen Shot 2021-04-22 at 11 03 40 AM" src="https://user-images.githubusercontent.com/4591597/115

[2021-04-22 08:36] ojeytonwilliams commented on #41884
Sure, what did you have in mind?

[2021-04-22 08:44] Glitchy-Tozier opened #41886 "HTML-challenges: links are inconsistent."
**Describe your problem and how to reproduce it:**
About **19** of the HTML lessons contain links, either in the html-code or in the description&instructions.

**16** of them use short links. (for example `freecodecamp.org`)
**2** of them use long links. (for example `www.freecodecamp.org`)
**1** uses a mixture of both.

I suggest using one style for all challenges.
Personally, I'm in favor of the

[2021-04-22 10:22] #41830 closed

[2021-04-22 10:40] #41070 closed

[2021-04-22 10:41] Nirajn2311 commented on #41884
Adding in a small detail, the same issue is on iOS devices also and in any browser on the phone.

[2021-04-22 10:48] ahmadabdolsaheb commented on #41854
I was not able to reproduce this. Could you try after deactivating your browser extensions?

[2021-04-22 11:18] ShaunSHamilton commented on #41884
Hey all, this is likely my fault with: https://github.com/freeCodeCamp/freeCodeCamp/pull/41858

I used a lookbehind in the regex, which I believe Safari does not support:
![image](https://user-images.githubusercontent.com/51722130/115705783-d923ef00-a364-11eb-9a86-72ab251ed53a.png)

[2021-04-22 11:40] Sembauke commented on #41884
You can open a PR and see if it fixes it. @ShaunSHamilton

[2021-04-22 13:36] #41884 closed

[2021-04-22 13:38] raisedadead commented on #41886
Thanks for reporting, I think we should swap them all for the `www` version. Will you be interested in taking credit by making a PR?

[2021-04-22 13:40] raisedadead commented on #38433
Hi @Nirajn2311 will you be interested in making a PR. I understand because haven't had any objections to your recommendation in a while we should go forth with this.

Thanks.

[2021-04-22 13:42] #38575 closed

[2021-04-22 14:22] Nirajn2311 commented on #38433
Sure will create a PR soon.

[2021-04-22 14:29] moT01 opened #41893 "[develop] Error loading editor with Safari"
Using `npm run develop` and Safari, trying to load a challenge that has the editor gives an error...
![Screen Shot 2021-04-22 at 8 22 03 AM](https://user-images.githubusercontent.com/20648924/115730367-dc5eb100-a34b-11eb-8a35-652ac4e766d6.png)

This pops up on the page and it is stuck. You can't close the pop up or get to the challenge in any way. I frequently saw this pop up on firefox as well, b

[2021-04-22 14:57] ShaunSHamilton commented on #40472
Yes, but Nicholas' wording so there is not ambiguity about whether we accept solution contributions or not.

Replace all with the "_No hints_..." message.

[2021-04-22 15:10] moT01 commented on #41730
Thanks for the solution @a2937. The consensus on the issue @gikf linked seems to be to remove solutions for certification projects, as to make it less tempting for people to copy and paste answers. So I think it's safe to say that we won't be adding this. If anyone thinks I am wrong in closing this issue, feel free to leave a comment and we can reopen it. Thanks and happy coding 🎉

[2021-04-22 15:10] #41730 closed

[2021-04-22 15:11] ShaunSHamilton commented on #41893
Tom, where is the trace for the error? Can you find the line (culprit) in the source?

[2021-04-22 15:16] Glitchy-Tozier commented on #41886
Unfortunately, my time and energy are very limited during the next weeks, so i won't be able to make a PR.  :/

[2021-04-22 15:16] ieahleen commented on #40472
for the few projects that have explanations or hints? keep, remove? I would be to make everything the same

[2021-04-22 15:17] raisedadead commented on #41893
The staging site is ready at https://www.freecodecamp.dev/learn is ready with 824d5f9fdf1e279c8f331a81cc94eeba5565515a if you want to test this on a prod build for differences.

[2021-04-22 15:27] ShaunSHamilton commented on #40472
Everything, for the projects, should be the same - no hints, and no explanations. Just a stub with the phrase:

If we so happen to add hints/clarification for whatever reason, then so be it. However, this should be one of the last resorts for the projects.

[2021-04-22 15:30] ieahleen commented on #40472
so for this, mods only can edit the guide articles, so that's on us

I don't know what's the process to have camperbot create new topics, but once that's done we can open changing the links iin the challenges files for contributors

[2021-04-22 15:36] raisedadead commented on #41886
No worries. Your help compiling the list is much appreciated.

--

Hi Contributors.

This looks something that can be fixed by "first time" code contributors to this repository.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instructions in our guides.

Here is how you should approach this issue:

1. Lo

[2021-04-22 15:37] raisedadead commented on #40472
@RandellDawson do we use some of the scripts you had created in the past to automate this?

[2021-04-22 15:52] Glitchy-Tozier opened #41894 "Doctype isn't case sensitive in challenge."
The layout of the bug-template changed dramatically, so I'm a little afraid I clicked on the wrong button. I couldn't find a better option though, so here's the issue:

**Affected page**
https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/declare-the-doctype-of-an-html-document

**Your code**
This is what get's accepted:

[code]

**Expected behavior**
Only uppercase `!DOC

[2021-04-22 15:59] Glitchy-Tozier opened #41895 "Add better ways of canceling out of the "please-donate"-popup."
**Is your feature request related to a problem? Please describe.**
It's a little annoying trying to cancel out of the "please-donate"-popup.

**Describe the solution you'd like**
Add two extra ways to cancel the pop-up:
1. Click on the darker side of the pop-up (the background, so to speak)
2. Click on the `ESC`-key

**Additional context**
Those are two very common ways to cancel popups, and for t

[2021-04-22 16:42] ShaunSHamilton commented on #41894
Hello there,

It appears the test was specifically designed to accept any casing for the text. In one sense, it does not matter, because browsers automatically convert lowercase to uppercase.

I will leave this open for others to comment, but I do not see a bug here.

[2021-04-22 16:47] Glitchy-Tozier commented on #41895
That's unfortunate but understandable. Thank you for your reply.

[2021-04-22 16:58] raisedadead commented on #41895
We are grateful for your understanding. And just to give you some additional context about us not being greedy here and we would love for more users to consider donating is:

- We get about half a million visits

  ![image](https://user-images.githubusercontent.com/1884376/115753643-0dc19600-a3b9-11eb-8239-ee34919efc3f.png)

- But we get about 20 people who donate :)

 ![image](https://user-images

[2021-04-22 17:01] raisedadead commented on #41894
You did not! We did change the template - streamlining it a little bit for our purposes. Thanks for reporting.

[2021-04-22 17:34] moT01 commented on #40749
I added a help wanted label. If anyone decides to work on this, I would try and keep the PR's to a reasonable size. Maybe a section or two at a time.

[2021-04-22 18:10] moT01 commented on #41444
Sounds good @ieahleen 👍 - Although, I'm not sure if adjusting those should close this issue or not. Other things may arise that could use updating.

[2021-04-22 18:29] moT01 commented on #41040
Sorry for the late response here - The only thing that comes to mind is [the discussion here](https://github.com/freeCodeCamp/freeCodeCamp/issues/38569) @ShaunSHamilton

[2021-04-22 18:36] moT01 opened #41898 "Logging out in espanol redirects to english home page"
If I am signed in as a user while on freecodecamp.org/espanol and log out, I am redirected to the english home page. chinese.freecamp.org redirects to the chinese page.

[2021-04-22 18:41] moT01 commented on #40997
The menu appears to be fixed for espanol:
![Screen Shot 2021-04-22 at 1 39 59 PM](https://user-images.githubusercontent.com/20648924/115768705-46894d00-a370-11eb-84b8-260f6d9df784.png)

Not sure if we want to keep this open.

[2021-04-22 18:44] #40997 closed

[2021-04-22 21:31] JustinSingleton303 commented on #41898
wrong endpoint in server code?  Thats what I would assume, but am not sure how to locate where the correct endpoint would be placed in the code.

[2021-04-22 21:36] moT01 commented on #38850
This is possibly a duplicate of, or closely related to: https://github.com/freeCodeCamp/freeCodeCamp/issues/35525

[2021-04-22 23:40] KL13NT opened #41905 "Broken Test Case [Responsive Web Design - Basic CSS - Import a Google Font]"
**Affected page**
[Responsive Web Design - Basic CSS - Import a Google Font](https://www.freecodecamp.org/learn/responsive-web-design/basic-css/import-a-google-font)

**Your code**

[code]

**Expected behavior**
Should pass all test cases 100%, but instead fails on the third test case "You should only use an h2 element selector to change the font".

**System (please complete the following informat

[2021-04-23 00:14] moT01 commented on #41905
The [test is here](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/basic-css/import-a-google-font.md#--hints--). The regex doesn't allow spaces there.
`/\s*[^\.]h2\s*\{\s*font-family\s*:\s*(['"]?)Lobster\1\s*(;\s*\}|\})` should work

[2021-04-23 00:32] moT01 commented on #37961
Sorry it's been so long on this one everyone.

I'm not sure we want to add more tests to this project. It's been pretty static for quite some time. Adding tests will break a lot of previously submitted projects. I don't mind the extra tests, it's probably good practice to use the for attribute. I could go either way, but I think we might just want to leave it alone.

[2021-04-23 01:34] moT01 commented on #41075
I am unable to reproduce this on a few different OS's and browsers. Can anyone confirm that this is still an issue? I think it may be resolved.

[2021-04-23 01:40] moT01 commented on #39238
Closing as stale. If anyone thinks I am wrong in closing this, feel free to leave a comment and we can discuss revisiting it. Thanks and happy coding 🎉

[2021-04-23 01:40] #39238 closed

[2021-04-23 01:50] moT01 commented on #39111
I believe this issue is resolved. The tests are using regex again, and I could not reproduce any issues. So I think it's safe to close. If anyone thinks I am wrong in closing this, feel free to leave a comment and it can be reopened. Thanks and happy coding 🎉

[2021-04-23 01:50] #39111 closed

[2021-04-23 01:54] moT01 commented on #39088
I think we would be okay adding this if anyone want to give it a try.

[2021-04-23 02:07] moT01 commented on #38809
I think we are safe to close this in favor of the issue linked above. Thanks for all the input on this everyone. If anyone thinks I am wrong in closing this, feel free to leave a comment and we can reopen it. Thanks and happy coding 🎉

[2021-04-23 02:07] #38809 closed

[2021-04-23 02:13] moT01 commented on #39319
Thanks for the input everyone. I think it's safe to close this for the reason mentioned. If anyone thinks I am wrong in closing it, feel free to leave a comment and we can revisit it. Thanks and happy coding 🎉

[2021-04-23 02:13] #39319 closed

[2021-04-23 02:26] moT01 commented on #39666
Do we want to move these to .rocks or something else? I thought I remember a mention of github pages at one point.

[2021-04-23 02:39] moT01 commented on #39593
I think we are safe to close this. We mention on the superblock pages to, `Complete the five <type> projects below to earn your <cert> certification.` It's also mentioned on [the message that pops up when you first visit /learn](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/i18n/locales/english/translations.json#L243). If anyone thinks I am wrong in closing this or has a suggestion

[2021-04-23 02:39] #39593 closed

[2021-04-23 02:53] moT01 commented on #40333
Does anyone know if a more permanent solution was implemented on the server to resolve this? I don't think this issue has popped back up in a while.

cc @freeCodeCamp/dev-team

[2021-04-23 03:05] moT01 commented on #40311
Hey @ieahleen, are there still reports for this coming in?

[2021-04-23 07:23] raisedadead commented on #40333
Seeing this thread for the first time. We did not make any config changes. If it does reappear, we should be able to configure the resources allotted to the process with PM2.

[2021-04-23 07:23] #40333 closed

[2021-04-23 07:25] #37961 closed

[2021-04-23 07:38] raisedadead commented on #41898
Here is the endpoint:

https://github.com/freeCodeCamp/freeCodeCamp/blob/73e5c4d935578e76c01e0248a7e6d042c99fb52b/api-server/src/server/boot/authentication.js#L70-L84

and most likely the issue is with the redirect "predictor" utility:

https://github.com/freeCodeCamp/freeCodeCamp/blob/73e5c4d935578e76c01e0248a7e6d042c99fb52b/api-server/src/server/utils/redirection.js#L61-L71

However we would wan

[2021-04-23 07:49] KL13NT commented on #41905
@moT01 Okay so, there's more than just that. I mentor a student based on the freeCodeCamp curriculum and a few of this bug have turned up so far. What is the Regex flavor? I tried running the Regex you provided in the fix using JavaScript and it fails.

[2021-04-23 07:54] KL13NT commented on #41905
Should I open another issue that's more general and mention this or continue in this one?

[2021-04-23 08:00] ieahleen commented on #40311
@moT01 Yes, but it seems more rarely, people that have not yet updated their browser or stuck with a device where they are not authorized to do the updates.

[2021-04-23 09:31] ojeytonwilliams commented on #41898
@raisedadead yes, that's the issue.  To fix it we can grab the `pathPrefix` from `getRedirectParams` and combine that with `origin` to get the desired redirect.

[2021-04-23 12:20] EboranBokaj commented on #41886
Hi, I hope everything is as it should be. This is my first PR so if there is anything I need to change please let me know, I appreciate the feedback. Thanks!

[2021-04-23 13:28] moT01 commented on #41905
Is there still an issue of concern here @KL13NT?

[2021-04-23 14:05] lasjorg commented on #41854
I have seen this reported before ([forum search](https://forum.freecodecamp.org/search?q=Your%20code%20should%20not%20have%20any%20div%20tags)) but I'm not really sure what the issue is. It seems to affect all the challenges that start out with a `div` that needs to be changed to a semantic element. Resetting the challenge and copy-pasting the code usually fixes it. Or switching browsers.

The tes

[2021-04-23 14:14] #41863 closed

[2021-04-23 14:15] lasjorg commented on #41894
As said, it is [case-insensitive](https://html.spec.whatwg.org/multipage/syntax.html#the-doctype) so I don't really see the need for the test to be case-sensitive. I agree that it's not a bug.

Although, the formatting presented in this issue would not be accepted as proper formating (from a code hygiene point of view). So I guess it comes down to if we should be checking code formatting and not j

[2021-04-23 14:23] lasjorg commented on #41767
@ojeytonwilliams Did you figure out what might be causing this?

Seeing as this is still an issue I would imagine it's a misconfiguration and not just a CDN hiccup.

[2021-04-23 14:24] #36740 closed

[2021-04-23 14:26] nhcarrigan commented on #39666
We could move some of them to GitHub Pages, though the ones built on React will take a bit of extra help to get deployed.

[2021-04-23 14:27] ojeytonwilliams commented on #41767
@lasjorg as far as I can tell the issue is that Netlify rejects requests with the 'wrong' Referer header.  So, Brave is fine because it sends one of our domains, but Chrome sends a codepen domain, which gets 403'd.

The plan is to re-do our infrastructure a bit so we can avoid this.

[2021-04-23 14:37] raisedadead commented on #41894
We do not need to do that. It's beyond the scope of the curriculum. However I am pretty sure code-style topics like linting, formatting is covered in our non-curricular resource like articles on `/news`

Closing, but please continue to add feedback.

[2021-04-23 14:37] #41894 closed

[2021-04-23 14:37] moT01 commented on #39666
This may have previously been answered, but I'm curious why we won't just put them on .rocks with the rest of the projects. They would all be in one place.

[2021-04-23 14:39] nhcarrigan commented on #39666
I don't remember seeing that discussion at all, tbh - and agree that .rocks would be the best solution.

[2021-04-23 16:01] #41535 closed

[2021-04-23 16:05] #40418 closed

[2021-04-23 16:06] ojeytonwilliams commented on #41767
@lasjorg Mrugesh worked some magic and it should be fine now.  Would you mind giving this a quick look to make sure we didn't miss something?

[2021-04-23 16:52] raisedadead commented on #41767
@lasjorg once you are happy with the QA, please close this as such. Thanks once again.

[2021-04-23 17:07] jeremylt opened #41911 "Stale Video - Nest Anchor Element"
**Affected page**

https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph

**Your code**
Typical user code:

[code]

**Expected behavior**

We've had an uptick of people blindly copying the help video from this challenge without reading the instructions:
This leads to campers failing the requirement

(This is generally a problem with

[2021-04-23 17:13] ieahleen commented on #41911
let's remove it, it's already that direction with other videos, once there is a discrepancy, the challenge win and the video is removed

[2021-04-23 17:38] #39015 closed

[2021-04-23 17:39] lasjorg commented on #41911
Seeing as this is an easy fix (I assume we just remove the URL) I will open this up to first-timers. If anyone disagrees feel free to remove the label.

[2021-04-23 17:46] lasjorg commented on #41767
@raisedadead it looks like you fixed it. :+1:

About the other image assets not using the `cdn.freecodecamp.org` URL. Should they be updated? I can open a new issue with a copy of what I already posted here just to keep track of it.

[2021-04-23 17:46] #41767 closed

[2021-04-23 17:48] raisedadead commented on #41911
Thanks for making this a first timers only. The only additional step I would be recommending is using [this template](https://contribute.freecodecamp.org/#/moderator-handbook?id=first-timer-only-issues) as an example to add clear instructions for first timers.

I am going to go ahead and take care of that here.

--

This looks something that can be fixed by "first time" code contributors to this r

[2021-04-23 17:52] ojeytonwilliams commented on #41767
Yes, please.  All the image assets should go through the cdn, so another issue to track that would be great.

[2021-04-23 17:56] JustinSingleton303 commented on #41898
Should that be done in the getRedirectParams function or should the path be put together from the data set returned by getRedirectParams in api.get?

[2021-04-23 17:56] raisedadead commented on #41072
Hi @Ismailtlem how is this coming along? Is this still an issue?

[2021-04-23 18:01] raisedadead commented on #41898
You need to construct the URL from the values you get from the `getRedirectParams` as a consumer of the function and not change its existing behavior. In simple terms the change is required within the endpoint handler.

[2021-04-23 18:41] lasjorg commented on #41911
@raisedadead Thanks for the help. I have added the template to a saved reply. Hopefully, I will remember to use it.

Also, I have a stupid question. How do you best "quote" the code and line numbers of a .md file? Do you just use the blame view or look at a commit/PR? I don't understand the commit link you have in your quote. It looks to be for something else?

[2021-04-23 18:46] JustinSingleton303 commented on #41898
That makes sense.

[2021-04-23 18:57] lasjorg opened #41913 "Unify assets to cdn.freecodecamp.org"
We should unify static assets to use the `cdn.freecodecamp.org` CDN. The CDN repo is here: https://github.com/freeCodeCamp/cdn

#### List of assets not using cdn.freecodecamp.org

Edit: all the below projects have been updated.

<s>
### Build a Tribute Page:

https://codepen.io/freeCodeCamp/pen/zNqgVx

The image is on flickr. Needs to be moved to CDN and have the Codepen updated.

`https://c2.stat

[2021-04-23 19:18] raisedadead commented on #41911
Oh - I just use the code view for a markdown file and then grab the permalink.

<details>
<summary>Details</summary>

Open file in code-view: It's the icon on the left at the top right of the file. Looks like this:

![image](https://user-images.githubusercontent.com/1884376/115919160-15a33800-a496-11eb-9e78-ac8ea2cf2cd5.png)

Getting the permalink by selecting the line (host shift for more lines):

[2021-04-23 19:36] KL13NT commented on #41905
There's a number of other lessons that suffer the same Regex bug, yes. @moT01

[2021-04-23 19:47] #41911 closed

[2021-04-23 19:48] raisedadead commented on #41913
The images can be added to the `build` folder by creating a new subdirectory with the name `codepen`.

[code]

This will make it automatically available at the path `https://cdn.freecodecamp.org/codepen/image-name.jpg`

Will you be interested in making a PR?

[2021-04-23 20:59] #40311 closed

[2021-04-23 22:09] binyamin commented on #41075
@moT01 I can't reproduce anymore.

[2021-04-23 22:19] Ismailtlem commented on #41072
It is still  not completely solved, the issue mainly is about the animation in the background which is independant from the background image. We need to agree on what to do regarding the animation for screens with a width larger than 750 px I think

[2021-04-24 03:52] JustinSingleton303 commented on #41898
I got the codebase installed locally is there a way to run just authentication.js?

[2021-04-24 07:13] Glitchy-Tozier opened #41916 "Requirements or description are wrong."
**Affected page**
https://www.freecodecamp.org/learn/responsive-web-design/basic-css/size-your-images

**Your code**
[code]

**Expected behavior**
I set the height instead of the width to 100px. As the image is a perfect square, this also changes the width.
Therefore, this code should either pass the challenge or the passing-requirements should be adjusted.

**Screenshots**
![image](https://user-i

[2021-04-24 07:54] Glitchy-Tozier commented on #41895
That's interesting.

1. It kind of makes sense; your target audience probably is people like high-school- or college-students, which don't have a lot of money to spend.
2. It would be really interesting to see how a change in the ease of canceling the pop-up would change that rate. (Tests like always showing the "cancel-able popup" to half of the accounts, while showing the "un-cancel-able popup"

[2021-04-24 09:23] Sembauke commented on #41916
Hey @Glitchy-Tozier,

I see what you mean, but the challenge asks specifically to change the width to 100px.
People won't set the height to 100px.

therefore I am closing this issue.

[2021-04-24 09:23] #41916 closed

[2021-04-24 09:27] Glitchy-Tozier commented on #41916
@Sembauke  Those requirements don't tell you the correct instructions though.
![Screenshot_20210424-112605_GitHub.jpg](https://user-images.githubusercontent.com/59611881/115954212-fb964380-a4ef-11eb-9600-5f39a135593e.jpg)

(I mean it IS 100px wide)

[2021-04-24 09:44] ShaunSHamilton commented on #41916
Hello there,

@Glitchy-Tozier As Sem mentioned, the whole point of the lesson is to introduce the `width` property, and it is made clear through the description, example code, and instructions:

As this is not an issue coming up on the forums, and the lessons are meant to be kept plain, and this version of the curriculum is changing, I do not see a need for anything to be done here.

[2021-04-24 10:43] #39991 closed

[2021-04-24 10:43] #41905 closed

[2021-04-24 10:46] Sembauke commented on #41916
Sorry, @Glitchy-Tozier  I might not have been clear enough!

[2021-04-24 11:19] Sembauke commented on #41905
Hey @KL13NT , I suggest you open a new issue with a list of the affected challenges if you are up to the task.

[2021-04-24 12:21] raisedadead commented on #41898
Not sure what you mean by running only one file?

The API server is an express based application (Loopback 3). You need to start up at least the api-server app. If you want to do that, you should be able to do that by navigating to `api-server` directory and using the run-script commands in its package.json

[2021-04-24 12:36] raisedadead commented on #41072
Hi @ahmadabdolsaheb

Can you list down the user-stories or action items to keep this feature request moving.

[2021-04-24 13:09] arunkumaralagesan commented on #41444
mind if i pick this up

[2021-04-24 17:43] Jaspreet099 commented on #41886
can I work on this issue ?

[2021-04-24 17:52] lasjorg commented on #41913
@raisedadead Right now we are using `testable-projects-fcc/images` for the example projects. That folder has the images used in the Personal Portfolio and Survey Form projects.

Do you want me to move them to a new `codepen` folder in the `build` folder along with the other images?

Or do we just keep using the `testable-projects-fcc/images` folder? It might be nice to keep all the "testable proje

[2021-04-24 18:10] lasjorg commented on #41911
@raisedadead Right, but you can only get to the code view from inside a commit, right? I mean I do not see the source view for .md files when just looking at the file.

Anyway, I will figure it out sorry to bother you with this I know you are a busy man.

[2021-04-24 18:13] ojeytonwilliams commented on #41886
Hi @Jaspreet099, please do.  This issue is open to people who haven't previously contributed to this repository.

[2021-04-24 18:26] Glitchy-Tozier commented on #41886
@Jaspreet099 @ojeytonwilliams Uhhh, isn't there already someone working on this? (#41900)

[2021-04-24 20:16] JustinSingleton303 commented on #41898
I'm trying to figure out what gets passed in pathPrefix, from getRedirectParams, when one signs out from the Spanish page. But when running the site locally, switching to Espanol leads to a "This site can't be reached" error.

Just for clarity's sake, I realize now that authentication.js is not meant to be run alone and I am using the "npm run develop" command to try and recreate this bug locally.

[2021-04-24 20:44] KL13NT commented on #41905
Sure thing.

[2021-04-24 21:05] KL13NT opened #41921 "Broken Test Case Regex"
This issue is an extension of #41905. Multiple challenges suffer the same regex incorrectness in CSS challenges. This is a list of affected challenges:
- [ ] [Specify How Fonts Should Degrade](https://www.freecodecamp.org/learn/responsive-web-design/basic-css/specify-how-fonts-should-degrade)
- [ ] [Size Your Images](https://www.freecodecamp.org/learn/responsive-web-design/basic-css/size-your-imag

[2021-04-24 23:31] WalidMoua commented on #41886
Hi @raisedadead  can i work on this issue?

[2021-04-25 09:36] Sembauke opened #41922 "footer inconsistency when visiting /learn"
When visiting `freecodecamp.org/learn`  (via the yellow button or directly from the URL)  it redirects to `freecodecamp.org/learn/`
This also happens on freecodecamp.dev

This URL does not have a footer.

When clicking on the menu and click the curriculum link. It redirects to `freecodecamp.org/learn`
which does have a footer.

**Affected page**
https://www.freecodecamp.org/ and https://www.freeco

[2021-04-25 18:41] lasjorg commented on #41913
@raisedadead I think I should just upload the images to the folder we are using now. That way we do not have to update all the projects to use a different file path.

1. I will make a PR on the CDN repo (see *note).

2. Make a PR on the testable-projects-fcc repo to update the projects.

3. Have someone with access to the fCC Codepen update the relevant projects.

*There is an issue with the CDN r

[2021-04-25 19:05] Sembauke commented on #40764
Shouldn't the API endpoint be updated to receive single values? To my understanding, it's only possible to send the entire object right now otherwise nothing is received back or the values are not updated.

[2021-04-26 04:46] ojeytonwilliams commented on #40764
Yes, that's correct, both client and server would need updating.

[2021-04-26 10:48] raisedadead commented on #41913
Sorry for the delay in getting back to you.

Yes - there is no requirement with the CDN for duplication. It's perfectly OK to have duplicated content if we want. The goal is to keep the images categorized hopefully for identifying the use.

However, I can see its best to use the current images folder for now. That will have least impact or changes elsewhere.

As for the issue with repo and Windows

[2021-04-26 10:52] raisedadead commented on #41911
Yes, that is correct. I browse the repo with top commit at the time of making a comment.

But again, you do not have to spell out every little detail for the first-timers, it's just a "the more the better" type thing.

[2021-04-26 10:57] Sembauke commented on #40764
Is this something that needs to be updated internally?

[2021-04-26 11:07] raisedadead commented on #41898
Ah - right. Sorry about sending you on a goose-chase.

When you build locally, we do not have a way yet to **develop** both `english` and `espanol` at the same time alongside the API app.

I am going to untag this from help-wanted and assign this @ojeytonwilliams instead.

Oliver, you should be able to test / reproduce and recommend a fix on our staging instance - not sure because this may be need

[2021-04-26 11:15] ojeytonwilliams commented on #41898
I was just in the process of going through the steps, when you commented Mrugesh!  I'll leave them here for the curious:

Unfortunately testing locally is quite a pain, because we use [pathPrefix](https://www.gatsbyjs.com/docs/how-to/previews-deploys-hosting/path-prefix/) since `/espanol/learn` is entirely separate from `/learn`.

It's a bit of a slow, memory intensive process, but you can do this

[2021-04-26 11:18] ojeytonwilliams commented on #40764
Do you mean by staff members? Nope, PRs are very welcome.

[2021-04-26 11:43] raisedadead commented on #40764
IMHO, I still think adding more endpoints to get around these non-burning issues are a band-aid and over engineered approach.

The issue at hand is the:

1. Client state of the user object
2. Client UI (a representation of the said state)
3. User object on the DB (via API)

are not in sync.

And let's see, we have asynchronous calls (ajax) to the API and we have a state-management library in the c

[2021-04-26 11:56] raisedadead commented on #41854
Hi @geochronology

Can you confirm the issue is reproducible only on Firefox developer edition and other browsers on your machine are fine? We would like to identify if and why the behavior would be different.

Thanks.

[2021-04-26 12:25] #41559 closed

[2021-04-26 13:00] ojeytonwilliams commented on #40764
Is it fair to say that we want to replace Redux with something easier to understand and maintain?  Apollo, maybe?

I've not played with it much, but the basic idea (let it worry about state management, so you don't have to) seems reasonable.

Regarding this particular issue, it just depends how soon we're going to get around to overhauling state management.  If it's soon, we should just block this

[2021-04-26 13:10] Sembauke commented on #40764
IMO, I have been looking and trying to find a solution for this problem for about 3 hours now. I came up with a solution that sends single flags.

only to see an updated flag return to its original state when another flag was changed. (Might be caused by me)

Then I went into looking at how the API was called by `sumbitProfileUI` it was very hard to understand.  I agree that some things should be

[2021-04-26 13:19] raisedadead commented on #40764
We can take simple smaller steps. [React 17 upgrade is around the corner](https://github.com/freeCodeCamp/freeCodeCamp/pull/41890) and we may want to go the hooks route while at it. If we do https://swr.vercel.app is a natural fit with the existing API

[2021-04-26 13:37] gmfuster commented on #41922
Nice find.  I assume the right away is to have the footer in both but please could somebody confirm?  I'm new (not a single PR yet) so I don't know.

[2021-04-26 13:42] gmfuster commented on #41886
Sorry for the question.  I saw somebody asked if they could take it.  I guess, if when we fetch the code it has been changed, we know it's already done, and if not, then we can send a PR and you may end up getting multiple ones but you will take one and disregard the other ones?

[2021-04-26 13:49] regybean commented on #41922
Hi can I work on this issue?(first timer)

[2021-04-26 16:37] lasjorg commented on #41913
I can, but I would assume the files are used somewhere (I don't know where). If they are, it might be better to wait until we are sure the usage will be corrected so we do not break anything.

I will try using Gitpod for the image uploads.

[2021-04-26 16:52] raisedadead commented on #41913
I will get that verified with the team. Meanwhile thanks for your understanding and using the workaround for this particular issue.

[2021-04-26 17:04] #41886 closed

[2021-04-26 17:09] raisedadead commented on #41886
Hi @Jaspreet099 @WalidMoua and @gmfuster we thank you for your interest in contributing to the codebase. We understand we may not have enough first-timer only issues for you to work on, however we always have a lot of things that you can help us with.

I encourage you to look at some the issues that are labeled help-wanted. These may not be trivial but we trust that with some help from the folks i

[2021-04-26 18:01] lasjorg commented on #41913
I created the PR: https://github.com/freeCodeCamp/cdn/pull/65

It took a little longer than expected as I had to add some environment variables to GitPod for it to work with GitHub private emails. I will post a link to the GitPod issue https://github.com/gitpod-io/gitpod/issues/387 with the info just in case anyone else needs it.

[2021-04-26 18:09] lasjorg commented on #41854
I don't think it is browser-specific, but I can't reproduce it so it's pretty hard to test. I'm guessing either the output in the test frame is stale somehow, or the jQuery selector for some reason fails.

[2021-04-26 19:02] raisedadead commented on #41854
Cool. I am going to close this for now.

@geochronology if you are still facing this, please confirm after you have tried this on the same browser with the extensions disabled. The easiest way is to use a private/incognito window.

We can re-open this if confirmed a bug.

[2021-04-26 19:02] #41854 closed

[2021-04-26 23:01] Ismailtlem commented on #40050
Hi, I made a first trial in this PR #41927

- Checkig the correctness of the URL is done with a regular expression. I am not sure that checking that a URL is valid with a request being sent is a good idea. An image can be valid even if there is some CORS error happening or if the server hosting the image dissmisses external requests.
- I added a parameter in the state for handling an incorrect ima

[2021-04-27 00:08] Ismailtlem commented on #41922
Hi guys,

No need to ask for permissions. You can directly start working on this issue if you want.
Have a look before at the contributing guide https://contribute.freecodecamp.org/

[2021-04-27 12:12] npiyush97 commented on #41922
@Sembauke
happening because of <a class="nav-link" href="/learn" aria-current="page">Curriculum</a>

[2021-04-27 12:14] npiyush97 commented on #41922
first it goes like this a class="nav-link" href="/learn">Curriculum</a
but after curriculum it goes aria-content='page' which add footer in div wrapper

[2021-04-27 12:14] npiyush97 commented on #41922
@Sembauke  you want to remove this or ???

[2021-04-27 12:39] ShaunSHamilton commented on #41922
Just for some context on this issue: https://github.com/freeCodeCamp/freeCodeCamp/issues/17307#issuecomment-453215235

The universal footer has been added, but I would like to get a sense of the usefulness of it, through analytics; @ahmadabdolsaheb Do you happen to have anything on the usage of the footer on `/learn/`?

---

Also, at a cursory look, this seems like something that would need to cha

[2021-04-27 15:27] ShaunSHamilton commented on #41323
@jonathankerr You are quite right. I am only just noticing this now. As this is the Information and Security section, it would make sense to not send through the sensitive information. As such, I suggest we change this user story's test:

To not look for the `reported` nor `delete_password` fields. At least, until we decide on a better method to test these kinds of things.

[2021-04-27 15:53] npiyush97 commented on #41922
i think simply adding footer .js layout below donate.js layout in learn.js layout will work ??

[2021-04-27 19:50] ShaunSHamilton commented on #41444
After #41933 is merged, we should audit the whole platform for the change from `repl.it` to `Replit`, as per:
- https://github.com/freeCodeCamp/freeCodeCamp/pull/41933/files#r621498674

After that, this issue should be closable. I will adjust the OP to reflect.

[2021-04-27 20:34] ShaunSHamilton commented on #41444
What still needs to be done:
- [ ] Mention of `Replit` should just be that - `Replit`, **not** `Replit.com`
- [x] A link to the Replit platform should link to `replit.com` - not `repl.it`
- [ ] The example link (placeholder) in `SolutionForm.js` should also be updated - remember, use the file search in your favourite editor to find the file.
- [x] No changes should happen to the other language fol

[2021-04-28 01:05] jonathankerr commented on #41323
Hey @ShaunSHamilton thanks for getting back to me and sorting that out. I'll have the remaining tests for this project sorted shortly.

[2021-04-28 06:50] raisedadead commented on #41893
Hey @moT01 did you get anywhere in grabbing traces or pointers to identify the root cause?

[2021-04-28 06:56] raisedadead commented on #41913
@lasjorg I have given Beau an heads up that we are going to be renaming the files under the `youtube` directory. You can proceed with a PR for the same. We would want all files to have kebab case.

[2021-04-28 11:14] ojeytonwilliams opened #41935 "Use a smaller amount of Lodash"
I made an attempt, https://github.com/freeCodeCamp/freeCodeCamp/pull/41931, to reduce the contribution of Lodash to our bundle size.  This worked, with moderate success, but I couldn't find a way use Mocha to test the curriculum.

The problem was that our Mocha tests rely on @babel/register which can't handle a ES module that imports another ES module.  It tries to require the second module, which

[2021-04-28 11:51] MKhasib opened #41937 "Streak broke"
The following two problems occured for the javascript course
I was going for a full month streak on freecodecamp and I was surprised that my submitted solution)one solution) yesterday was removed for some reason and when I came back today I saw that the question is not marked as solved even though I submitted it yesterday and passed!
The second issue that I solve ordered questions(same order as fr

[2021-04-28 12:44] regybean commented on #41922
Is there any reason I couldn't reproduce the bug when on development localhost, has the issue been fixed already, but not pushed to the live site?

[2021-04-28 13:10] #41423 closed

[2021-04-28 13:22] ojeytonwilliams commented on #41922
Sounds about right.  Precisely what, I'm not sure, but the fact it's not reproducible in development pretty much guarantees that this is another weird hydration issue.

Unfortunately, for bugs like this, development mode isn't very useful.  Reason being, the bug is caused by a difference between the static site produced by `gatsby build` and the fully 'hydrated' app - React, basically.  `gatsby de

[2021-04-28 14:07] gmfuster commented on #41444
I'll continue with this.

[2021-04-28 14:34] gmfuster commented on #41444
@ShaunSHamilton  Question: In file \freeCodeCamp\cypress\integration\learn\challenges\projects.js, I am changing the link to https://replit.com/@camperbot/python-project#main.py but the original https://repl.it/@camperbot/python-project#main.py is giving a 404 error.  Do you know what it should be?  Or maybe it doesn't matter? I'm not sure what the code that has it is doing anyway so not sure abou

[2021-04-28 14:37] ShaunSHamilton commented on #41444
@gmfuster Cypress is our testing framework. The link does not actually exist - never has. It is merely used as some input to test the sites behaviour.

Hope this clarifies.

[2021-04-28 15:18] #41448 closed

[2021-04-28 16:19] jeremylt opened #41940 "Confusing Function Argument - Check Obj for Prop"
**Affected page**
Add a link to the coding challenge with the problem.
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-data-structures/check-if-an-object-has-a-property

**Your code**
Copy and paste the code from the editor that you used in between the back-ticks below:

[code]

**Expected behavior**
The seed code and description for this challenge is confusing.

[2021-04-28 16:42] jeremylt commented on #41940
I'm also not exactly in love with the variable name `obj`, since we're looking at this.

[2021-04-28 17:06] raisedadead commented on #41937
Thanks for reporting.

Do you mind emailing us at `support@freecodecamp.org` from your registered email as well while we look into this? You do not need to add too many details other than a link to this issue for now.

[2021-04-28 17:32] ahmadabdolsaheb commented on #40403
I think we should keep the requirements as they are. We should add a message for the timeline privacy settings to tell the users that the projects will be listed in the certification as well..

[2021-04-28 19:59] dylanesque commented on #39299
What needs to happen for some forward motion on this? Barring that, what would the workaround be for this that doesn't break other tests? I'd be more than happy to help if there's something I could do!

[2021-04-28 23:48] moT01 commented on #41940
I assume it was intended that users should use the object passed to the function. The test text isn't exactly helping: `The function isEveryoneHere should return true if Alan, Jeff, Sarah, and Ryan are properties on the users object`

We could change them all to `the object passed to it` - e.g...

Instructions:
`Finish writing the function so that it returns true if the object passed to it contain

[2021-04-29 01:23] santi224m commented on #41355
I made a [pull request](https://github.com/freeCodeCamp/boilerplate-project-stockchecker/pull/16) to the ```freeCodeCamp/boilerplate-project-stockchecker``` repository to fix this issue. I removed the dependency on jquery and added the script.js file from the demo-projects.

[2021-04-29 07:25] raisedadead commented on #41935
It will be a combination of both reducing cruft and moving closer to real world tests. Going to close this unless you think more work is necessary. If true, reopen.

[2021-04-29 07:25] #41935 closed

[2021-04-29 07:27] raisedadead commented on #39299
@freecodecamp/moderators can you please help with this?

[2021-04-29 07:28] ojeytonwilliams commented on #41935
@raisedadead not urgently, no.  @ahmadabdolsaheb and I have been steadily reducing the bundle sizes, so once we've picked the low-hanging fruit I'll open another issue if there's minor tweaks we might do.

[2021-04-29 07:32] #39738 closed

[2021-04-29 07:32] raisedadead commented on #39738
![image](https://user-images.githubusercontent.com/1884376/116516345-223aec80-a8eb-11eb-8d0f-1935f4b03be8.png)

[2021-04-29 10:13] #41444 closed

[2021-04-29 11:32] gkhedekar5758 commented on #41921
are this still open? or these are resolved?

[2021-04-29 12:42] moT01 commented on #39299
As stated in the issue - seems like there's two options:
- Adjust the test to allow any type of date - (fixed in testable-projects repo)
- Adjust the user story to say that it has to be the year - (need a PR to testable-projects and main repos)

The first would probably be the better solution. But, either way works for me. Any interest in working on this @dylanesque?

[2021-04-29 13:49] raisedadead commented on #40405
Hey @ShaunSHamilton how do we proceed with this?

[2021-04-29 14:18] ShaunSHamilton commented on #40405
@raisedadead I like Nicholas' suggestion, but would definitely want to add something like:
[code]

In all fairness, the tests could be changed to accept any JS-approved date (we have done this with the Anonymous Message Board, IIRC). The above would definitely be the easiest, though.

[2021-04-29 14:31] Sembauke commented on #41921
Hey @gkhedekar5758 ,

You can still solve this issue!

[2021-04-29 15:13] #36849 closed

[2021-04-29 18:42] dylanesque commented on #39299
Yeah, I'll give this a go with a preference for the first solution.

[2021-04-29 22:52] JustinSingleton303 commented on #41237
is this still an open ticket or has a pull request been submitted to close this issue?

[2021-04-30 05:46] studio1202 commented on #41237
The reported bug seems still [there](https://github.com/freeCodeCamp/boilerplate-project-library/blob/gomix/server.js). I leave it to you guys.

[2021-04-30 06:47] miconian commented on #10749
I am having this issue in Chrome (on Mac).

[2021-04-30 09:33] #41009 closed

[2021-04-30 09:33] Sembauke commented on #41009
This seems to be outdated so I am closing this.

[2021-04-30 09:54] Sembauke commented on #40764
to get back to the issue,

It seems that what we want to do here is changing the user's settings data without sending the entire object.

Would a PATCH method resolve this?

@raisedadead

[2021-04-30 13:08] raisedadead commented on #40764
We would want the API and client to be slightly agnostic of each other, and hence think in those terms.

[2021-04-30 13:14] ieahleen opened #41950 "Tests need to accept both www and not www links"
PR #41900 has made all links consistent as `www` links

Now a lot of people that are using old solutions and the videos as guide are failing using not-www links

Tests need to be made to accept both kind of links in the 18 challenges affected by the PR

(discussion [here](https://chat.freecodecamp.org/channel/contributors?msg=283Aec3kzzaPuLcWe))

---

An issue with the _help wanted_ or _first time

[2021-04-30 13:45] lasjorg opened #41951 "Stacked Methods Do Not Pass with removeJSComments"
Challenge: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/use-the-filter-method-to-extract-data-from-an-array

Forum post: https://forum.freecodecamp.org/t/bug-found-in-this-challenge/458226

Is some part of the code processing chain causing this challenge to fail with the following code?

This fails

[code]

This passes:
[code]

The match for .

[2021-04-30 14:37] gracewest333 commented on #41950
I would like to help with this issue, if you could point me to the right place in the repository where you where thinking it is an issue. Thanks :)

[2021-04-30 14:45] ieahleen commented on #41950
@gracewest333 for this issue you would to need to check all the files that were changed by #41900 and see in which challenges the url is tested, and adjust the tests to allow for both versions of the url

[2021-04-30 14:53] gracewest333 commented on #41950
ok thanks

[2021-04-30 15:16] Sembauke commented on #41951
It fails because the  `code.match(/\.filter/g)` is not looking for inlined possibilities.

filter is inlined:
[code]

[2021-04-30 15:31] gracewest333 commented on #41950
Do you want me to change the files to also say stuff like "Now set the `src` attribute so that it points to the url `https://www.bit.ly/fcc-relaxing-cat` or `https://bit.ly/fcc-relaxing-cat` ". Rather than just "Now set the `src` attribute so that it points to the url `https://www.bit.ly/fcc-relaxing-cat` " to, each time it mentions the specific URL? Or is that overkill?

[2021-04-30 15:42] ieahleen commented on #41950
@gracewest333 no, that would invalidate the work to make the links consistent, make the tests more permissible, do not change the challenge text

please also change the tests in the other challenges in which an url is tested, of the 18 challenges less than 5 actually have a test involgin an url

[2021-04-30 16:41] ShaunSHamilton commented on #41951
To those confused by the error, I believe is was introduced in https://github.com/freeCodeCamp/freeCodeCamp/pull/41873 as mentioned here: https://github.com/freeCodeCamp/freeCodeCamp/issues/39925

Essentially, the transpiled code is converted to something like:
[code]

[2021-04-30 17:10] Ismailtlem commented on #41582
Is this issue completely done ?

[2021-04-30 17:20] lasjorg commented on #41951
@ShaunSHamilton Are we sure no other code is affected by this? I mean our test code might not trigger it as seen with this challenge (I assume the tests would have failed otherwise).

[2021-04-30 18:01] ShaunSHamilton commented on #41951
@lasjorg No, we are not. However, it comes up on the forum so rarely.

[2021-04-30 18:04] gikf commented on #41951
I can confirm one commit earlier than commit from https://github.com/freeCodeCamp/freeCodeCamp/pull/41873 - https://github.com/freeCodeCamp/freeCodeCamp/commit/ebe8f9934580f453531829a265969283c76c7514 doesn't have this issue.

[2021-04-30 18:46] gikf commented on #41951
Here's list of challenges, using similar match pattern, which can be affected depending how one format their code. 22 in total.

- https://github.com/freeCodeCamp/freeCodeCamp/tree/main/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/use-bracket-notation-to-find-the-last-character-in-a-string.md (1 hit)
	Line 42
- https://github.com/freeCodeCamp/freeCode

[2021-04-30 18:47] nhcarrigan commented on #41951
@gikf thanks for the list.

I might go ahead and look in to the option the `generator` has to not add white-space for formatting.

[2021-04-30 19:20] Elliria opened #41954 "Missing carriage returns in main example in lesson"
**Description:**
I ran into a slight hiccup in the [Networking: Write a Web Browser](https://www.freecodecamp.org/learn/scientific-computing-with-python/python-for-everybody/networking-write-a-web-browser) lesson, which is part of the **"Scientific Computing with Python"** course and figured I'd share in case something ought to be done to ease the way for the next person.

The carriage returns are

[2021-04-30 19:27] Elliria commented on #41954
Note that the [Networking: Text Processing](https://www.freecodecamp.org/learn/scientific-computing-with-python/python-for-everybody/networking-text-processing) lesson that immediately follows the one above uses the same example without the necessary carriage returns at the **8:14-minute mark** and again at the **9:02-minute mark**, so that lesson, too, may need a note beneath the video in the les

[2021-04-30 19:28] Elliria commented on #41954
Last, but not least, I plan on continuing to work my way through this breathtakingly awesome course, so I'd be happy to let you'all know if any of the lessons after this also have the same, or a similar, example in them without the carriage returns so those lessons can also get a note (or be handled however you'd like to handle them).

[2021-04-30 21:37] ojeytonwilliams commented on #41951
One option would be to keep a copy of the original user code around as another variable. Would that help at all?

Unfortunately I don't think Babel can *only* remove comments with zero side-effects.

[2021-05-01 02:19] lasjorg commented on #41951
@ojeytonwilliams @nhcarrigan Did we look at other libraries?

I tested a tiny bit using [strip-comments](https://www.npmjs.com/package/strip-comments) and it seemed to work. I only tested the challenge from this issue (without the PR) and the other challenge linked to in the other issue and then I just ran the `test:curriculum` script. Not really sure how to test it.

[2021-05-01 06:19] ojeytonwilliams commented on #41951
@lasjorg  Nope, I don't think so. That library looks promising though.

For testing purposes we could simply write unit tests that include strings that we know the old, Babel, approach modified and see if the new library handles them correctly.

Would you be interested in creating a PR?

[2021-05-01 11:55] B-meet opened #41956 "Bug in the coding challenges"
**Affected page**
Add a link to the coding challenge with the problem.

**Your code**
Copy and paste the code from the editor that you used in between the back-ticks below:

[code]

**Expected behavior**
It is not working like this
[code]
but the challenge is passed if We write it as
[code]

 - Device:  Laptop
 - OS: Windows 10
 - Browser:  chrome

[2021-05-01 16:54] lasjorg commented on #41951
@ojeytonwilliams I tested the lib against the unit tests we have (`npm test`). It is preserving the indentation before/after the comment which the tests do not expect (fails removeJSComments tests 2 and 4). Preserving the indentation and whitespace does seem more correct even if it leaves the code with some odd formatting. It literally just removes the comments and doesn't touch any whitespace (as

[2021-05-01 21:43] lasjorg commented on #41913
I have updated the initial post to reflect the updates done.

I will keep this issue open for now just in case anyone finds other assets that need to be updated. Just so we can keep a list of them here.

[2021-05-02 08:23] #41355 closed

[2021-05-02 10:47] Sembauke commented on #41550
If anyone experiences any issues with videos loading I am happy to reopen this issue.

[2021-05-02 10:47] #41550 closed

[2021-05-02 21:00] Ismailtlem commented on #41071
Is this still an issue ? Is it not resolved ?

[2021-05-02 21:26] Ismailtlem commented on #41940
I agree with what was being said :

- From a naming perspective, the name ``` obj ``` is not a great choice. It doesn't have any meaning and can only lead to confusions. Something like ``` userObject ``` as pointed by @moT01 is more appropriate
- I also agree on the fact that the instruction is unclear.

[2021-05-02 21:42] Ismailtlem commented on #41921
What's the issue in this challenge as an example https://www.freecodecamp.org/learn/responsive-web-design/basic-css/size-your-images ?

[2021-05-03 04:26] ahmadabdolsaheb commented on #41072
I will edit the description accordingly.

[2021-05-03 04:42] ahmadabdolsaheb commented on #40050
Thanks for working on this feature.

Adding a script is not necessary. The user should be able to recognize that their image is not matching the submitted image.

[2021-05-03 04:50] ahmadabdolsaheb commented on #41922
The universal footer has been added, but I would like to get a sense of the usefulness of it, through analytics; @ahmadabdolsaheb Do you happen to have anything on the usage of the footer on /learn/?

Nothing specific, but the links in the footer get more traffic once they are added there.

Rule of thumb: All of the pages except the challenge pages and project submission pages should have a footer

[2021-05-03 05:03] ahmadabdolsaheb commented on #41582
Almost. We would just need to linting related actions, and we should be good to go.

[2021-05-03 05:08] ahmadabdolsaheb commented on #41071
Closing this issue since the footer works as expected. thanks for noticing it.

[2021-05-03 05:08] #41071 closed

[2021-05-03 05:10] ahmadabdolsaheb commented on #41079
I am closing this replacing div with button has been addressed.

[2021-05-03 05:10] #41079 closed

[2021-05-03 05:28] ahmadabdolsaheb commented on #41076
Since we have laid down the foundation and we have a couple of cypress tests, we could add the tests as we go along.

[2021-05-03 05:28] #41076 closed

[2021-05-03 05:33] ahmadabdolsaheb commented on #41075
https://github.com/freeCodeCamp/coderadio-client/pull/135 seems to have resolved the issue.

[2021-05-03 05:33] #41075 closed

[2021-05-03 05:38] ahmadabdolsaheb commented on #41255
I am closing this issue since it is not reproducible and other fixes might have resolved it.

[2021-05-03 07:05] scissorsneedfoodtoo opened #41967 "Replace Selenium with Cypress in the testable-projects-fcc Repo"
Currently the automated test suite in the [testable-projects-fcc repo](https://github.com/freeCodeCamp/testable-projects-fcc) uses Selenium to run tests against each of the projects.

Because it can be difficult to keep Selenium and the web drivers for each browser in sync, we'd like to replace it with Cypress. Cypress now has support for Chrome and Firefox, and would allow us to pin browser versi

[2021-05-03 07:59] ahmadabdolsaheb commented on #41040
Either we would need to remove having usernames as a fallback , or having a public  name requirements when displaying certs.

I now it might be inconvenient, but I vote for removing the fallback for simplicity and keeping the public name as a requirement.

[2021-05-03 08:43] Sembauke commented on #41967
Let's say after you have written a test for this in Cypress how would you test if your written test works?

[2021-05-03 08:49] raisedadead commented on #41954
Hi @Elliria

Thanks a lot for the feedback and reporting this.

We are working towards building a fully interactive course for python and we will be retiring these video courses when they are ready late this year or early next year.

However, I understand we can update the current challenges by adding notes like you mentioned and updating the seed code in the UI which people may be copying like yo

[2021-05-03 17:37] dylanesque commented on #39299
Before I get started on this PR, I need some additional clarification: while working on the issue that led me to find this issue, I ran into something odd based on a forum suggestion to fix this test in my code. The repo is at (https://github.com/dylanesque/BarChart), the short version is that this test is failing for me because it seems to be reading the axis label as a tick, and throwing the 'in

[2021-05-03 19:37] Elliria commented on #41954
Thanks for taking it on.

That's a shame that these have to be retired. I'm really enjoying them. Hopefully I'll finish before you do that (I'm currently at 70% of the way through the course).

One solution that I noticed was in a later video that also contains the outdated code. It's the [chapter 12 socket1 exercise](https://www.youtube.com/watch?v=dWLdI143W-g) that's hosted on YouTube and linked

[2021-05-03 22:18] Ismailtlem commented on #41582
Is there recommanded way to divide this line https://github.com/freeCodeCamp/coderadio-client/blob/main/.github/workflows/cypress.yml#L17 into 2 lines ?
That's the only linting error in this file from what I see

[2021-05-04 05:40] raisedadead commented on #41954
Sorry, I should have clarified.

You will be able to work through them even when we retire courses. They will always be available under a legacy section. I am pretty sure if you are enjoying the current video-based challenges you are going to like the interactive curriculum too. That said it's going to be a while before they get released. Meaning I am confident you would have already completed you

[2021-05-04 07:33] ojeytonwilliams commented on #41582
[code]
should work.  How're you running into this error, though?  Lint should only be looking at .js files.

[2021-05-04 12:14] Ismailtlem commented on #41582
It's an error that I got from yamllint (https://yamllint.readthedocs.io/en/stable/)

It's a tool that checks the validity of a yaml file

[2021-05-04 12:44] renovate[bot] opened #41981 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-05-04 13:55] moT01 commented on #39299
I looked into this a little deeper. I believe D3 automatically gives the `tick` class to the elements when generating an axis. You have added the `tick` class to your [axis label](https://github.com/dylanesque/BarChart/blob/master/chart.js#L114). So it's trying to test it as if it's one of the ticks. Changing the class there to something else will pass the tests. I don't think that is the same iss

[2021-05-04 14:33] raisedadead commented on #41937
Hey @scissorsneedfoodtoo could you let us know how this went, is this a bug on ourside?

[2021-05-04 15:20] dylanesque commented on #39299
Thanks for taking a look, you're right, manually adding that class is what was causing the problem!

[2021-05-04 17:59] lasjorg commented on #41951
Looks like another one: https://forum.freecodecamp.org/t/command-chaining-bug-in-functional-programming-section-possible-incorrect-solution/458829

The first solution on the hints page to [Use the reduce Method to Analyze Data](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/use-the-reduce-method-to-analyze-data) is failing.

[2021-05-04 21:02] MKhasib commented on #41937
I don't know why the problem happened but I broke the streak yesterday(didn't submit any challenges)
Thanks for your time guys, I really appreciate it !

[2021-05-04 21:02] #41937 closed

[2021-05-04 21:18] Elliria commented on #41954
Oh, it's a relief that the courses will still be available and that I can definitely finish all the lessons. He really is a wonderful teacher. I'm not just sort of getting it like I would with many other teachers. What Charles Severance has done is make it so I actually **know** things. He tops off your tanks and makes it so you walk away from each of those lessons with really solid ground beneath

[2021-05-05 03:30] moT01 commented on #41893
[Here's what I see in my console](https://raw.githubusercontent.com/moT01/moT01/master/console.png). Looks like maybe the loadable and reach-router packages?

[2021-05-05 04:36] ManasMahanand commented on #41967
I would like to help. How can I help?

[2021-05-05 06:33] raisedadead commented on #41893
Thanks, and can you give us the exact (explaining to a 5yr old) steps to reproduce this as well. Will give it a shot on.

[2021-05-05 08:10] ojeytonwilliams opened #41994 "Tests for curriculum helpers"
The curriculum helper scripts could use some tests.  A recent breaking change to https://github.com/williamkapke/bson-objectid stops the helpers working, but https://github.com/freeCodeCamp/freeCodeCamp/pull/41677 is green.

[2021-05-05 08:11] psyfry opened #41995 "Bug: uBlock Origin breaks certain javascript challenges"
**Affected page**
Various challenges in "Basic javascript" lessons.
First fully-broken lesson I encountered: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/return-early-pattern-for-functions
Previous lessons gave same error, but were passable without disabling uBlock.
**Your code**
Copy and paste the code from the editor that you used in between the b

[2021-05-05 08:24] raisedadead commented on #41995
Hi there,

Thanks for reporting this.

Yes - We use some non-traditional ways to evaluate user code (text from the editor) within the browser's context with a `eval` and DOM snapshots.

This is typically the behavior that trips most extensions including like ad-blockers like uBlock Origin. Theres just not too much we can do about these factors that we do not control, unfortunately.

Glad to know t

[2021-05-05 08:24] Jardimjose opened #41996 "Error with multiple choice question in Python for Everybody"
The given regex syntax does not capture any of the results in the given answers which creates confusion when answer thing questions.

**Affected page**
Add a link to the coding challenge with the problem.
the problem was found here
https://www.freecodecamp.org/learn/scientific-computing-with-python/python-for-everybody/regular-expressions-matching-and-extracting-data

**Your code**
Copy and paste

[2021-05-05 08:54] scissorsneedfoodtoo commented on #41937
@raisedadead, I wasn't able to determine if it's a bug on our side or not. Looking at @MKhasib's record everything seems fine -- there were no obvious gaps in `progressTimestamps` or `completedChallenges`, at least as far as I could tell.

It may have been a temporary connection issue when the challenge in question was submitted.

[2021-05-05 09:03] gikf commented on #41996
Thank you for reporting this issue.

Backslash is escaped in string here and it's not considered as literally two backslashes, for that it would be needed to be defined as `r'\\S+@\\S+'` or `'\\\S+@\\\S+'`. On the screen it can be actually seen, that regex there is using the so-called raw strings (the `r` prefix). Here are some examples with the match results: https://replit.com/@sanityto/HandyTin

[2021-05-05 09:03] #41996 closed

[2021-05-05 09:09] raisedadead commented on #41937
Awesome. Thanks for confirming.

[2021-05-05 13:23] Sembauke commented on #41893
I've seen `component (DevOverlay) while rendering a different component (InnerLoadable)` on I believe Firefox.

[2021-05-05 13:24] moT01 commented on #41893
Run the site with `npm run develop`. Then, using Safari, go to the very first challenge.

[2021-05-05 13:29] psyfry commented on #41995
Thanks for the heads up about the google analytics. I can see how some people may take offense and it's not a cut-and-dry "disable adblocker" notification solution.
I personally don't care about google analytics for quality open resources like freecodecamp and plan on finishing the rest of the Javascript course material, so which would be most-helpful feedback data?
1. Keep strict ublock and repor

[2021-05-05 13:44] Sembauke commented on #41893
![image](https://user-images.githubusercontent.com/46919888/117150840-cffd3e00-adb8-11eb-9a6d-836e250562d8.png)

[2021-05-05 13:55] raisedadead commented on #41995
Hmm, I would say for now it really does not matter. Our implementation is limited in certain ways.

We put up a warning on some challenges (in the CSS section) I believe asking users to disable the extensions. We do not do a good job of explaining "why" because it's too complicated to explain how it works in a succinct way.

We have been exploring some ways to mitigate this:

1. One way would be b

[2021-05-05 14:01] raisedadead commented on #41893
So, I tried this and it looks like a dev-only issue and by visiting the page you are requesting things "too quickly" that gatsby's now "on-demand hyper-optimized dev-only" mode is not able to cope with.

This is DX issue and doesn't affect end users at all. I would close this a non-issue unless someone is interested in digging deep into this.

[2021-05-05 14:08] moT01 commented on #41893
The only problem with it is that when Safari specific issues come up, you have to `npm run build` to test/debug/fix things - which takes quite a while longer. Not a huge problem, but a fix would be nice.

[2021-05-05 14:54] raisedadead commented on #41994
Did that breaking change land? If so why & how?

[2021-05-05 15:45] ojeytonwilliams commented on #41994
Nope, because I saw that it was major bump and went and investigated.  I had to find this PR: https://github.com/williamkapke/bson-objectid/pull/37 before I realised that it was going to affect us, though, so I could easily have missed it.

[2021-05-05 18:44] gikf commented on #39243
Looks like wrong usage of arguments in `assertAlmostEqual` was fixed in https://github.com/freeCodeCamp/boilerplate-demographic-data-analyzer/pull/2.

Expected values of answers should be rounded to the nearest tenth, per specification in `README.md`. I'm not sure if this was added in the meantime, or if it was like that from the start, but this also seems to be solved.

Regarding `top_IN_occupati

[2021-05-05 18:44] #39243 closed

[2021-05-06 04:36] #41950 closed

[2021-05-06 13:29] moT01 commented on #39299
Do you have an example project that was having this issue @FrankGrimm?

[2021-05-06 13:32] FrankGrimm commented on #39299
No, sorry, I was just helping a friend that took the course back then and thought I'd file an issue on it.

[2021-05-06 16:17] renovate[bot] opened #42030 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Pending Approval

These branches will be created by Renovate only once you click their checkbox below.

 - [ ] fix(deps): update dependency react-redux to v7
 - [ ] fix(deps): update dependency react-responsive to v8
 - [ ] fix(deps): update dependency rxjs to v7
 - [ ] fix(deps): update dependency to-vfile to v7
 - [ ] fix(dep

[2021-05-06 16:23] raisedadead commented on #42030
This is an umbrella issue for tracking dependency updates. Should be used by @freeCodeCamp/dev-team only.

[2021-05-06 20:52] jdwilkin4 opened #42035 "Get help button does not work when clicked on"
When I use the chrome browser, the get help button does not open with the option to look at hints or ask for help on the forum.
A few people have mentioned this issue on the forum.
Like here.
https://forum.freecodecamp.org/t/cant-click-get-help/459154

This seems to be an issue with people using the chrome browser.

**Expected behavior**
When the get help button is clicked there should be a dropdo

[2021-05-06 21:01] jdwilkin4 commented on #42035
I just checked and the same problem occurs with firefox too.
I tried checking on safari but when I go to a challenge it goes to a white screen.

[2021-05-06 23:34] KL13NT commented on #41921
@Ismailtlem The following solution works:

[code]

while this doesn't:

[code]

Note the difference in spacing between `class="smaller-image"` and `class=" smaller-image "`.

[2021-05-07 01:26] SethFalco commented on #41921
I can see the CSS issue was already described in #41905.
Is it worth fixing this everywhere now, or might it be better to wait for the CSS parser? (#41942)

With the HTML issues, the flaw is that we're not trimming the attribute. Whitespaces should be allowed before and after the list of classes.

Alternatively, it could be worth changing the logic to `split` by `/\s*/` and check if the array `inc

[2021-05-07 01:37] KL13NT commented on #41921
@SethFalco

I think a parser would most definitely fix all of the related CSS bugs, but until the parser lands in production some users will still face issues with these challenges. If freeCodeCamp use some analytics for tasks passes/fails a more elaborate solution would be available. Right now, I have no idea about the the number of users who face this bug.

Would it even be possible? All I know

[2021-05-07 01:47] KL13NT commented on #41921
Also, freeCodeCamp could use an HTML parser like [hast](https://github.com/syntax-tree/hast) to parse HTML into an AST, a parser for CSS, and parser for JS if needed. Then all you'd need is traverse the AST to search for a test expected value. I don't know what the security/performance implications of this idea, but it'd completely remove the need for regex.

[2021-05-07 03:01] SethFalco commented on #41921
Yup, the tests are JavaScript, not just a regex. It's just a lot of them use regular expressions is all.
The tests are the `--hint--` sections of each document. ([Example](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/basic-css/size-your-images.md#--hints--))

I've already addressed the CSS/HTML issues, we'll see what others think.

R

[2021-05-07 11:04] rip3rs commented on #39668
add `<!DOCTYPE html>` at the top of the page, should fix the issue

[2021-05-07 18:37] lasjorg commented on #41995
@raisedadead I believe the warnings are still missing now after the (not so) recent changes to the layout.

https://github.com/freeCodeCamp/freeCodeCamp/issues/41417

It may have caused a slight increase in forum posts again, but it isn't as bad as I used to be (I think).

[2021-05-07 19:08] lasjorg commented on #41995
Sure. But I'm just not sure what the consensus was.

[2021-05-07 19:13] raisedadead commented on #41995
It wasn't getting conclusive so [I said](https://github.com/freeCodeCamp/freeCodeCamp/issues/41417#issuecomment-795844937) we should implement [Nick's suggestion](https://github.com/freeCodeCamp/freeCodeCamp/issues/41417#issuecomment-794892623).

[2021-05-07 19:13] SaintPeter commented on #39620
I believe that all of these issues were completed.  I'll close it out.

[2021-05-07 19:13] #39620 closed

[2021-05-07 19:17] jknapp25 opened #42058 "Indicator of module progress"
**Is your feature request related to a problem? Please describe.**
As a user, I constantly return to the module level (multiple courses) to see how far I have progressed in relation to the entire module. It would be nice if I didn't have to back to this level and scroll up and down it to get an indication of how much I have left.

**Describe the solution you'd like**
![image](https://user-images.g

[2021-05-07 19:23] lasjorg commented on #41995
So two PRs. One for the block note and one for the individual challenge.

[2021-05-07 19:30] jeremylt commented on #42058
See additional discussion here: https://forum.freecodecamp.org/t/new-feature-indicator-of-module-level-progress/459290

Personally, given the wide range of difficulty between challenges, I think this would be a bad statistic that makes it easy for users to infer incorrect information about their progress, as percent of challenges completed in a certification module is not related to amount of effo

[2021-05-07 19:40] jknapp25 commented on #42058
Luckily, this is software. If we try it, and it doesn't work, atleast then we have data to re-inforce that the idea doesn't improve the app.

[2021-05-07 19:44] jeremylt commented on #42058
"Because we can undo it" is not a good reason to present bad statistics. Data should not only be technically accurate, but meaningful and not lead readers to incorrect assumptions. fCC should strive to follow sound statistical principals and not teach bad habits by example.

I think we understand each other's opinions on the matter. Let's let others chime in.

[2021-05-07 19:46] raisedadead commented on #41995
Yup, sounds like a plan and we can close that other thread in favor of this.

[2021-05-07 19:49] jknapp25 commented on #42058
52/130 (40%) is not inacurrate. That is 100% accurate as _a gauge of percentage of challenges completed_.

Maybe a key thing to highlight here is that this feature is not an estimate of time remaining, but simply progress through a module.

[2021-05-07 19:55] jeremylt commented on #42058
All the percentage or ratio reveals is the percent/ratio of challenges completed. As I said, the data is *technically accurate** but not **meaningful** and **may lead readers to incorrect assumptions**.

The percent of challenges completed is, at best, only roughly correlated with the total time remaining for the user. Given the wide range of learning styles, processes, challenge difficulty, etc,

[2021-05-07 20:01] jsdisco commented on #42058
I'm not super passionate about it but I agree that this would be a useful feature, as long as it's in the format "number_completed/number_total". It'll be obvious to everyone who goes through the curriculum that the difficulty and the time you need to invest into a challenge increases. Just like it's obvious to everyone who's ever played a video game that the boss level won't be as easy as level 1

[2021-05-07 20:04] jknapp25 commented on #42058
To be fair, @jeremylt, the 300hrs estimate was quite demotivating for me

[2021-05-07 20:06] jeremylt commented on #42058
Adding UX clutter should have a purpose. What is the *actionable information* this would give the user? Why is it worth adding the clutter? Reported statistics must help the recipient make better decisions. That's the purpose of statistics. If we 'all know' (bad assumption) this statistic is not useful, then why add it?

[2021-05-07 20:08] jknapp25 commented on #42058
@jeremylt, @jsdisco just said "I agree that this would be a useful feature"

[2021-05-07 20:09] raisedadead commented on #42058
Hi @jeremylt

Thanks for your candid and honest feedback. We have been thinking about this and in fact we are not against the idea considering it does exist in a form here:

![image](https://user-images.githubusercontent.com/1884376/117502529-42c70e80-af9d-11eb-916a-cc5cbcf3ca12.png)

One of the ways, that users of the curriculum keep coming back is gamification. Does it keep users motivated? Yes

[2021-05-07 20:17] jeremylt commented on #42058
I am fine with (not 100% happy about) the fact that we have progress bars for each course. The variance in task difficulty is closer in the individual courses than it is across the entire module, so the statistic is not as bad as an aggregation across all courses in a module. The user can gain actionable information - a reasonable estimate of the time and effort required to complete the module.

A

[2021-05-07 20:24] raisedadead commented on #42058
I understand the goal should be able to make the UX more actionable, and like I said:

We are not inclined in anyway right now.

That could either be proceed with some form of the proposal by the OP or an objective rejection. I would urge to continue the deliberation on the forum thread instead.

Thanks for your understanding.

[2021-05-07 20:26] jknapp25 commented on #42058
Thank you all for taking time out of your day to discuss this. Especially, @jeremylt. This has been pretty constructive in my opinion.

Maybe it would be helpful to step back and discuss the role that metrics play within the app, because I don't necessarily agree that a ratio of completed modules is meaningless.

As a user, from the start I'm assuming variance of time-to-completion within challeng

[2021-05-07 20:42] jknapp25 commented on #42058
I think @jeremylt has made good points! It feels like we're at a bit of a stalemate though.

From experience, when stalemates like this are reached on an idea, the "[Fail fast](https://innolution.com/resources/glossary/fail-fast)" approach provides value. By trying something, then, at least we can say with greater confidence (and data) if it provided value or not.

[2021-05-07 20:51] ShaunSHamilton commented on #42058
@jknapp25 Thank you, for opening this feature request. We have spent a lot of time going back-and-forth between ideas. One of the main discussions occurred here: https://github.com/freeCodeCamp/freeCodeCamp/pull/39265

Ultimately, the decision was:

---

So, there is still scope to implement such a feature, but keeping in mind the discussion had in this issue, and the linked PR.

We welcome PoCs (

[2021-05-07 20:57] jsdisco commented on #42058
The estimate of "300 hours" is already very nebulous statistics, so I see little harm in adding much more descriptive information that only shows the number of challenges completed vs. total challenges.

I'm thumbs up for the feature because it saves the user the effort of having to click on each section to get that information.

[2021-05-07 20:58] nhcarrigan commented on #42058
The one thing I really want to touch on is that freeCodeCamp operates on a budget of limited funds from our generous donors. As such, our approach does not allow for a "try it and see if it works" mindset - every feature we implement needs to be deliberate, planned, and well thought out to avoid sinking our finite development resources into something that does not pan out.

[2021-05-08 18:22] lasjorg commented on #41995
We are basically reintroducing https://github.com/freeCodeCamp/freeCodeCamp/pull/38806 which as an aside originally also tried to deal with ad/script blockers.

Might it not be better to add the warning to the top of the RWD [start page](https://www.freecodecamp.org/learn/responsive-web-design) instead of the section blocks?

1. It's not just the Basic CSS section that has color challenges.

2. I

[2021-05-08 23:22] ShaunSHamilton commented on #39348
With latest `main`:
[code]

Not major, but could lead to other bugs.

Steps:
1) Have seed be (without space, incorrect editor is used):
[code]
2) Get annoyed by the _look_ of the Editor with space
3) Remove space at opening `--fcc-editable-region--` marker:
[code]
4) Get annoyed at Gatsby complaining
5) Complain to Oliver about Gatsby complaining

**Note**: Any change to the position of the `--fcc

[2021-05-09 15:48] usamaa18 opened #42073 "Factual error in Quality Assurance regarding zombie.js"
At the affected page the following code snippet is given:

And the corresponding explanation is:

But, according to the zombie.js documentation of the [assert.element()](https://github.com/assaf/zombie#assertelementselection-message) function, the second argument is supposed to be a message and not the number of elements found. To check that an element exists n number of times, assert.elements() s

[2021-05-09 23:58] ahmadabdolsaheb commented on #41373
Here is what I propose moving forward.
The landing page should be treated as an isolated app navigation wise.
We could expose a list of the related main platforms and select the platform that the user is currently on.

Here is an example:
/              ==>    news  forum curriculum
news     ==>   <ins>news</ins>  curriculum
learn     ==>    news  forum coderadio <ins>curriculum</ins>
forum   ==>

[2021-05-10 11:56] BertCatsburg commented on #41211
I am using i18next together with nextjs. Since nextjs is SSR, useSuspence is not possible yet. So, with some effort I found the setting to switch off useSuspence, and now I get the message that I can better use useSuspence. :-)

Can that check be modified so that it does not message when in SSR mode?

[2021-05-10 12:06] raisedadead commented on #41211
Here are the docs for react i18next: https://react.i18next.com, if you need help please consider seeking assistance on their community channels.

Thanks.

[2021-05-10 20:31] lasjorg commented on #41995
Also quick question.

I'm totally out of the loop on the i18n stuff. How does the text in intro.json get translated to the other languages? When adding content to the files in `client\i18n\locales` do we need to do anything special?

[2021-05-11 04:12] #42073 closed

[2021-05-11 10:06] saeedtlb commented on #41922
In **LayoutSelector.js** file there are 3 conditions for rendering **DefaultLayout.js** which specify should it contain Footer or not. In the second condition it was regex to check if URL contain learn don't show Footer but the regex was false because it match /learn but not /learn/ so I edit the regex and make the last / optional.
[code]
So In /learn or /learn/ we wont see Footer anymore.

[2021-05-11 11:55] ahmadabdolsaheb commented on #41580
@huyenltnguyen,  thanks for the initial storybook setup. Looking forward to the tailwind, RTL, Package publication, and including the first component into learn.

Generally speaking, performance is one of the main considerations for this migration.
As demonstrated in the webpack analyzer, react-bootstrap and react-overlay( used in bootstrap ) are taking a large part of the app JS chunk which is wh

[2021-05-11 13:49] jonathankerr opened #42098 "Typo in 'certification-card' translations"
Pointed out by igorgetmeabrain on the forum we have a small typo in the claim your certifiation card.

![typo](https://user-images.githubusercontent.com/80848313/117825844-8f456f00-b267-11eb-9146-640449e4c513.png)

**Affected page**
Line 564
https://github.com/freeCodeCamp/freeCodeCamp/blob/519c70f819720a0287d0c8b1f553498974867978/client/i18n/locales/english/translations.json

**Additional context

[2021-05-11 14:05] gikf commented on #42098
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Only file linked above needs to be changed, other language files, if needed, will be updated using the translation workflow.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instruc

[2021-05-11 14:40] JeForceX opened #42099 "The Tuples Collection: Incorrect Challenge for Topic"
**Affected page**
[Python for Everybody - The Tuples Collection](https://www.freecodecamp.org/learn/scientific-computing-with-python/python-for-everybody/the-tuples-collection)

**Your code**
[code]

**Expected behavior**
The Challenge for this topic should be something related to **Tuples** instead of **Dictionaries**.

**Screenshots**
![Screenshot](https://i.ibb.co/7tdJdtq/Screenshot-2021-05-11-

[2021-05-11 14:44] bodasheera commented on #42098
I have fixed the issue. This is my first time contributing in open source. Please check it @gikf https://github.com/freeCodeCamp/freeCodeCamp/pull/42100

[2021-05-11 15:10] #42098 closed

[2021-05-11 15:29] lasjorg opened #42101 "The strip-comments library may have broken Safari support"
I think we (well I) broke Safari support with this PR https://github.com/freeCodeCamp/freeCodeCamp/pull/41960.

In my defense, I can't test code on Safari and didn't even think about the use of unsupported regex in the library as it has so many weekly downloads on npmjs that I just assumed good browser support.

Here is an issue on the libs Github that seems to confirm it.
https://github.com/jonsc

[2021-05-11 15:30] Dorfieeee commented on #42101
It appears so.. I was just about to open an issue

[2021-05-11 15:36] lasjorg commented on #42101
God, Safari really is the new IE. They have had so long to implement this and still haven't. So annoying.

[2021-05-11 15:38] lasjorg commented on #42101
Who on the fCC team can and does test PRs using Safari? I would really hope we have some way of catching these bugs.

[2021-05-11 15:38] Dorfieeee commented on #42101
Is rollback possible?

[2021-05-11 15:45] lasjorg commented on #42101
It is. The problem is, it was fixing another bug https://github.com/freeCodeCamp/freeCodeCamp/issues/41951 with how we were removing comments. So we really need a new solution that works.

[2021-05-11 15:59] ShaunSHamilton opened #42102 "iPadOS Curriculum Incompatibility"
Opening any challenge page on an iPad (2 tested so far) yields a blank page.

Related forum post: https://forum.freecodecamp.org/t/lessons-not-loading-on-ipad-pro/459782

First device user-agent:
- `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1 Safari/605.1.15`

My device user-agent:
- `Mozilla/5.0 (iPad; CPU OS 10_3_4 like Mac OS X) AppleWeb

[2021-05-11 16:01] ShaunSHamilton commented on #42101
In the past, we have needed to rely on @moT01 or @ahmadabdolsaheb .

[2021-05-11 16:10] lasjorg commented on #42101
@Dorfieeee Thanks for the source dive. It's as suspected. We have been bitten by this before in our own regex tests.

[2021-05-11 17:08] ojeytonwilliams commented on #42101
At this point I'm wondering if we should just try to create a "good enough" regex ourselves.  Make sure it doesn't use any syntax that Safari can't handle and that it passes the tests (we should add a few more) and just use that.

[2021-05-11 17:23] lasjorg commented on #42101
@ojeytonwilliams Probably. I just wonder how long it will take for some other update to some lib to break. Safari really needs to implement this feature ASAP.

---

I know this is off-topic but is using `require` based on options considered bad practice?

In the strip-comment lib, the languages all have their own export, and only JS is used by default. So instead of just pulling in all the languag

[2021-05-11 17:27] lasjorg commented on #42102
OK, so it's the old version before the engine switch. That is what I expected, thanks.

[2021-05-11 17:38] ojeytonwilliams commented on #42101
Agreed, but at least we'd reduce the number of places where we can run into this.

Generally you don't want to require an entire package if you only want a bit of it.  So, if you're `require`ing rather than importing, you're already getting the whole thing and bundlers like Webpack can't help you.  This [post](https://insights.untapt.com/webpack-import-require-and-you-3fd7f5ea93c0) goes into it qu

[2021-05-11 19:42] gikf commented on #42099
Thank you for reporting this issue.

Question is related to both tuples and dictionaries. Dictionary `items()` method returns key - value pairs from the dictionary as tuples. Additionally tuple unpacking is used in the `for` loop, to unpack each pair to `k` and `v` variables.

Because of that I believe challenge's question shouldn't be considered as unrelated to the topic, and therefore I'm closin

[2021-05-11 20:12] ojeytonwilliams opened #42107 "Caching static assets"
### The problem

Pagespeed insights gives https://www.freecodecamp.org/ a relatively poor score (50-60 for mobiles and 80-90 for desktops) indicating that there is room for improvement.

One of the issues is that we do not cache our static assets for very long:
![image](https://user-images.githubusercontent.com/15801806/117874584-6fcb3800-b2a1-11eb-819a-7aca9558fb17.png)

while this does not direc

[2021-05-11 23:42] SAJJAD330 commented on #41580
Can we talk in whatsup .  My whatsup +923409094330.

On Tuesday, 11 May 2021, Ahmad Abdolsaheb ***@***.***> wrote:

to the tailwind, RTL, Package publication, and including the first
component into learn.

this migration.

react-overlay( used in bootstrap ) are taking a large part of the app JS
chunk which is what we serve on initial load.

chunk and improve our SEO down the line.

https://ci3.goo

[2021-05-12 01:46] scissorsneedfoodtoo commented on #41967
Hi @ManasMahanand, thanks for your patience. We'd certainly welcome the help. Feel free to explore the [testable-projects-fcc](https://github.com/freeCodeCamp/testable-projects-fcc) repo and let us know if you have any questions.

@Sembauke, thanks for the additional info. While it would be nice to test the projects on CodePen for extra assurance, we don't currently do that with Selenium.

All of

[2021-05-12 03:42] ManasMahanand commented on #41967
Oh! I misunderstood your original comment. I had thought you wanted to use Cypress to test Camper's code on codepen, or locally. I think @Sembauke thought the same.

What you would like to do is replace the tests that tests the tests that run on the Campers code... Got it.

[2021-05-12 07:19] krishgon opened #42110 "Raising a test issue for learning about open sourcing via FreeCodeCamp's open-sourcing course"
This is a test issue.

 **Please Ignore**

[2021-05-12 08:36] #42110 closed

[2021-05-12 08:39] ManasMahanand commented on #34259
I came across this same problem while working on #41967

And as mentioned, changing timezone fixes it. But I think there should be a proper fix.

[2021-05-12 08:46] ManasMahanand commented on #34259
I run into this issue when running yarn test locally.

![image](https://user-images.githubusercontent.com/41644157/117946029-89659180-b32c-11eb-87e9-e2a7183af2c5.png)

[2021-05-12 09:36] ManasMahanand commented on #34259
Seems like @scissorsneedfoodtoo's fix has been removed. When I made the same fix as was mentioned by him, it works!

Removed conversion to UTC on line 57, and no errors popup.

[2021-05-12 12:09] ojeytonwilliams commented on #42101
Right, but it should have the same consequences either way - namely excessive bundling.  Not that this library is particularly big, so it's not a huge deal.

I'm really curious to see what happens on your fork, because I'd have guessed that deferring the `require` to inside `parse` would still result in the lookbehind's being evaluated (when `parse` gets called) and Safari falling over.

[2021-05-12 16:07] texas2010 opened #42117 "freeCodeCamp Twitch Project broken"
the freeCodeCamp Twitch API project is broken.

nothing shows up on it.

https://codepen.io/freeCodeCamp/full/Myvqmo/

![Screen Shot 2021-05-12 at 11 06 14 AM](https://user-images.githubusercontent.com/9701609/118007820-1d762f80-b312-11eb-824e-44141598f267.png)

[2021-05-12 16:07] moT01 commented on #42102
I am experiencing this with:
[code]
It was confirmed by @texas2010 on chat that the latest version of Safari is working.
It was working for me on this version of Safari when I made this issue: https://github.com/freeCodeCamp/freeCodeCamp/issues/41893 - Quite sure that issue is unrelated.
Also, I noticed this issue when I was debugging the strip comments issue linked at the top yesterday. Reverted

[2021-05-12 17:04] moT01 commented on #42117
Should be good to go. 👍

[2021-05-12 17:04] #42117 closed

[2021-05-12 17:34] raisedadead commented on #42107
Thanks for the detailed spec and what are the limitations with our current stack, preventing us from implementing this?

[2021-05-12 17:49] ojeytonwilliams commented on #42107
The only issue I ran into was how to add `Cache-Control` headers to 404s.  We can do that easily with `serve`, as they show [here](https://github.com/vercel/serve-handler#headers-array), but I haven't been able to get NGINX to do that.

`proxy_intercept_errors` might the only change required to get NGINX to play ball, but I've not tested it yet.

[2021-05-12 18:24] raisedadead commented on #42107
OK - Thanks for the additional details.

Going through the details I am failing to understand the "The (proposed) solution" part. Are these:

- Setting it via Cloudflare
- Controlling the headers ourselves
- 404s

Three different approaches OR overlapping approaches?

[2021-05-12 18:25] #38433 closed

[2021-05-12 18:39] lasjorg commented on #42101
@ojeytonwilliams Right it doesn't work. I kind of spaced out about webpack as part of our build process, I just tested it with the libs own tests and normal node usage.

I guess you have to remove the HTML object from languages.js as the [other fork](https://www.npmjs.com/package/@tone-row/strip-comments) does. I did test that (using lambdatest) and it worked on macOS Mojave with Safari 12. I also

[2021-05-12 18:59] ojeytonwilliams commented on #42107
So, the problem is that serve is the only one I've been able use for both 200s and 404s.  Cloudflare and NGINX alone won't cut it:

Cloudflare can set `max-age` for 200s.
NGINX can set whatever we want for 200s (404s I'm not sure about, I'm still experimenting)

So, Cloudflare alone can't do everything (at least not without involving workers).  If we set `max-age` via Cloudflare we'd need somethin

[2021-05-12 19:20] ojeytonwilliams commented on #42101
Nice, it looks like that fork works, then.

It seems that the original repo is fairly lightly maintained these days ([minimal commits since 2019 ](https://github.com/jonschlinkert/strip-comments/commits/master)), so we'd either want to fork that or homebrew a solution.

Either way seems fine to me, but forking seems like the most straightforward approach to me.  We can then polish it as much or as

[2021-05-12 20:00] lasjorg commented on #42101
I like the idea of going with a fork. As you said, we can tweak it as needed.

[2021-05-13 03:58] ManasMahanand commented on #41967
I've been looking through the repo, and playing around with stuff to understand how it all works right now. One thing I'm confused about:

Under package.json, "scripts" you have "test" which is what is run when I run yarn test. And that runs "mocha".

But when I run yarn test, it also runs eslint, and some prettier stuff before it runs mocha. I don't get why it's doing that, and also how does moch

[2021-05-13 07:27] raisedadead commented on #42107
My honest recommendation is not chasing an implementation just yet, to save you time and efforts. Could you [confirm my previous query](https://github.com/freeCodeCamp/freeCodeCamp/issues/42107#issuecomment-839999357)?

Finally, the OP is slightly vague on the application that it is targeting. I am assuming you are talking about learn all this while.

[2021-05-13 07:30] scissorsneedfoodtoo commented on #41967
@ManasMahanand, sorry for the initial confusion.

But right, what we want to do is use Cypress to test the example projects in the testable-projects-fcc repo against the CDN loaded test suite, which is in the same repo.

About the eslint and prettier stuff that runs before the test, those are being triggered by `pretest` in `package.json`. I believe that's just an npm `pre` hook that runs before w

[2021-05-13 08:14] Nirajn2311 commented on #41533
Reopening the issue, as when I tried it in Edge in Macbook the issue was still there.

[2021-05-13 08:18] Sembauke commented on #41951
Closing this, tracking further in  #42101

[2021-05-13 08:20] ahmadabdolsaheb commented on #41995
So with #42091 merged, do we still need to keep this issue open?

[2021-05-13 08:27] raisedadead commented on #41995
Yes - see https://github.com/freeCodeCamp/freeCodeCamp/issues/41995#issuecomment-832707706

[2021-05-13 09:06] ojeytonwilliams commented on #42101
Hey @lasjorg we now have a fork: https://github.com/freeCodeCamp/strip-comments/  Since you're most familiar with all the issues surrounding this, would you be interested in leading the development? If you have any questions, you can drop them here or reach to me in [chat](https://chat.freecodecamp.org/) (I'm 'oliver' over there)

[2021-05-13 09:13] Sembauke commented on #41533
Hey @Nirajn2311,

I can't seem to reproduce this on Edge. Can you tell me what you did?

[2021-05-13 09:24] ojeytonwilliams commented on #42107
Yes, this is about learn. As I said initially, the pagespeed insights report for https://www.freecodecamp.org/ is pretty bad.  /learn is even worse (it scores around 40 for mobile)

Neither NGINX nor Cloudflare alone solves the problem, so they would need to be used in conjunction with serve.  So, there are three possibilities: serve + Cloudflare, serve + NGINX or serve alone.

[2021-05-13 10:30] raisedadead commented on #42107
Thanks.

I am going to clean up the fragmented information in the thread here and attempt to summarise the issue (before beginning to attack it with any implementation details - that's the easy bit):

1. The landing page (let's call it what it is) and the coding platform (at `/learn`) are the same. They are served from the same origin servers with varying JS, CSS, and other assets along with the p

[2021-05-13 10:39] Nirajn2311 commented on #41533
After checking with Sem, this issue now happens only for people who use MacOS. I think I've got a way to fix it and will update here tonight.

[2021-05-13 10:42] Sembauke commented on #41533
Great! Looking forward to your solution.

[2021-05-13 11:06] ahmadabdolsaheb commented on #41580
@mrugesh, would you like to have the component library completely isolated as an npm package?

[2021-05-13 11:14] raisedadead commented on #41580
Thanks for asking, I have tried and articulated the intent here: https://github.com/freeCodeCamp/freeCodeCamp/pull/41920#pullrequestreview-644913778, a TL;DR version is yes to isolation and a probable no to a npm package (just for now atleast)

[2021-05-13 11:45] ojeytonwilliams commented on #42107
I agree with argument overall, so I'll only respond where I disagree/want to clarify.

I agree with this.  This issue has limited scope, though, I focused on the headers as one way we can improve.  The vast majority of the problems we have stem from the size of the js bundles. Something @ahmadabdolsaheb and I have been addressing, but it's an ongoing project.

ETags are only really useful for asse

[2021-05-13 12:29] raisedadead commented on #42107
Correct - All of our entry points (`index.html`s, `404.html`s, etc.) in the SPA are exactly that.

We can either not cache them at all, which is great, OR we can smartly use ETags to speed up delivery for the entry points. Cloudflare will do the last mile delivery for us from its edge nodes.

The goal is to remove the ambiguity by the browser on the assets that are to be pulled. Sometimes, it requ

[2021-05-13 12:38] ojeytonwilliams commented on #42107
Ah, nice, I'd not thought about that, but it could be a big improvement.  Are you looking into it or shall I?

Sounds good.  Let me know if I can help.

It probably isn't, but I'm not the greatest at configuring NGINX.  I'll see what I can find out.

[2021-05-13 15:28] raisedadead commented on #42107
I am not looking into any perf-related issues at all. Please feel free to explore.

[2021-05-13 15:36] raisedadead commented on #42102
Hey @moT01 or anyone else interested. We just pushed a batch up to staging in case anyone wants to test it out.

[2021-05-13 15:47] moT01 commented on #42102
Looks like it works:
(iPad + (safari || firefox)) || (OSX + Safari) = Broken on production, Works on staging

[2021-05-13 15:49] raisedadead commented on #42102
Thanks for confirming.

[2021-05-13 15:49] #42102 closed

[2021-05-13 16:24] ShaunSHamilton commented on #42102
Just to mention it, I get the status `500` error on `.dev` on my iPad in Safari - the one that says this part of the site is under maintenance.

[2021-05-13 16:29] lasjorg commented on #42101
@ojeytonwilliams Sure, I can give it a go. I should warn you though. I'm not very proficient with regex, so I'm unlikely to make any improvements to the core parts of this lib.

I will create a PR removing the HTML regex needed for Safari compatibility.

[2021-05-13 16:30] raisedadead commented on #42102
It could be a temporary outage when the site was rolling over, try clearing cache? The site is up as far as I can tell.

[2021-05-13 16:50] ShaunSHamilton commented on #42102
I am still unable to access it, but it does seem unrelated to this, as I see the _details_ message with:
[code]

[2021-05-13 16:58] ojeytonwilliams commented on #42101
Awesome, glad to hear it.  You should have an invite to it now.

There's not a lot needing doing in terms of modifying the core functionality.  Off the top of my head we could start supporting ESM, maybe using https://github.com/getify/moduloze, but that's about it.

Also, thanks for creating that PR so quickly. I'll take a proper look tomorrow.

[2021-05-13 17:03] ojeytonwilliams commented on #42102
Well that's unexpected.  If you're still seeing this and could share the headers, that'd be awesome.

[2021-05-13 18:30] lasjorg commented on #42101
Where would this be? I don't see it anywhere.

[2021-05-13 19:06] ojeytonwilliams commented on #42101
Usually you get an email. It looks like you've already got maintainer access, though. You should be able to push directly, change settings and so on.

[2021-05-14 00:06] XuanLi-Leong commented on #39183
Hi @raisedadead , I'm having the same problem. This is my unsubscribe link: https://www.freecodecamp.org/ue/1C495Xaw8ToisryzCOKLs

[2021-05-14 04:16] scissorsneedfoodtoo commented on #39183
Hey @XuanLi-Leong, thanks for your patience.

Please send us an email at support@freecodecamp.org and I can help you with this.

[2021-05-14 10:18] Sembauke commented on #40257
Going to close this as stale for now @Twaha-Rahman, if you have any follow up feel free to reopen.

[2021-05-14 10:18] #40257 closed

[2021-05-14 11:25] ShaunSHamilton commented on #39348
One more thing:

Whilst testing #41797, I decided to see what it would be like to copy-paste the code, as some Campers develop locally to use their own editor. Instead of copying, I cut the code, and Gatsby errored out.
- Go to a challenge with code (`index.html`)
- Copy all of the code
- Delete
- Gatsby complains

[2021-05-14 13:53] gikf commented on #38679
Hey @raisedadead,

this seems to be done in #39036, or is there anything else that's still required?

[2021-05-14 13:58] raisedadead commented on #38679
Nope. Closing.

[2021-05-14 13:58] #38679 closed

[2021-05-14 14:27] Sembauke commented on #41805
Hey @IntegraterGithub,

As Shaun stated:

So therefore I will close this issue

[2021-05-14 14:27] #41805 closed

[2021-05-14 16:00] Sembauke commented on #40314
Is this issue still relevant @raisedadead?

[2021-05-14 16:20] raisedadead commented on #40314
Yes - I haven't gotten around to updating the pipelines.

[2021-05-14 18:22] Nirajn2311 commented on #42102
Curious question, how are you accessing the local dev in ipad?

[2021-05-14 18:30] ShaunSHamilton commented on #42102
@Nirajn2311 I think you might be confusing local development with what we are talking about - the staging platform of freeCodeCamp: https://freecodecamp.dev

Although, I can access a local development of freeCodeCamp by exposing the URL from GitPod.

[2021-05-14 18:32] Nirajn2311 commented on #42102
Ahh I dint realise you were talking of the staging platform. Also thanks for that Gitpod suggestion, I needed just that for some of my testing.

[2021-05-14 20:07] Nirajn2311 commented on #41893
I just tried it using Safari and din't face this issue.

[2021-05-14 20:23] ojeytonwilliams commented on #41893
@moT01 spotted an issue in the Monaco patch notes. It should be fixed now.

[2021-05-14 21:26] alirezaghey opened #42139 "Expand/Collapse courses arrows point to wrong directions"
**Describe the bug**
The arrow to the left of **Expand courses**/**Collapse courses** buttons points down when the list is in collapsed state and points up when the list is in expanded state.
This is opposed to standard behavior of similar features in other apps.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structure

[2021-05-14 23:43] jeremylt opened #42141 "Josephus Problem - Off By One"
**Affected page**
https://www.freecodecamp.org/learn/coding-interview-prep/rosetta-code/josephus-problem

**Your code**
[code]

**Expected behavior**
The code that passes the test suite (given above) provides different output than the traditional description of the problem. I think the test suite has an 'off by one' error in initializing the starting position.

Current output with solution that pa

[2021-05-15 00:53] bliotti opened #42142 "Accept Donations in Bitcoin"
Why not accept donations in Bitcoin? It can only help. Give users alternative ways to contribute!

Easy Setup. BitPay has been around for a while. (I am not affiliated to BitPay in any way)
https://bitpay.com/docs/donations

[2021-05-15 05:05] gikf commented on #42141
The issue seems to originate from the original challenge at the Rosetta Code, there's optional allowance for numbering prisoners from `1` in solution, and that's what's happening in the used solution - https://rosettacode.org/wiki/Josephus_problem#JavaScript.

Solution for the challenge also needs small change to use `i` for initial label, instead of `i + 1`.
https://github.com/freeCodeCamp/freeCo

[2021-05-15 07:00] ahmadabdolsaheb commented on #42142
Thanks you for your suggestion @bliotti.

Although we have been focusing on accepting single value recurring donations, we do accept [crypto donations](https://www.freecodecamp.org/news/how-to-donate-to-free-code-camp/#does-freecodecamp-accept-donations-in-bitcoin-or-other-cryptocurrencies) among other options.

We have been evaluating different crypto payment processors including open-source self

[2021-05-15 07:00] #42142 closed

[2021-05-15 07:01] #41893 closed

[2021-05-15 08:02] ahmadabdolsaheb commented on #42139
I agree, we should have the arrow pointing to the left when the courses are collapsed and down when they are expanded.

[2021-05-15 08:21] Nirajn2311 commented on #42141
I'm confused in the example given in the description, if the executioner starts at 0 and kills every 2nd prisoner then shouldn't the first prisoner that is killed be prisoner 2 and hence the killing order becomes 2,4,1,0. I think the challenge description is the one that has to be changed here. Also if numbering started from `1` then the above killing order is just incremented by 1 which still won

[2021-05-15 08:55] gikf commented on #42141
This is how I'm seeing it.
[code]

[2021-05-15 09:11] alirezaghey commented on #42139
Hi Ahmad,
I think you mean we should have the arrow pointing to the right when the courses are collapsed, right?

[2021-05-15 13:57] jeremylt commented on #42141
Killing every other would be 'safe', 'kill', 'safe' , 'kill', 'safe',.... But the current solution is 'safe', 'safe', 'kill', 'safe', 'kill', 'safe',...
The solution/tests definitely have an off by one

[2021-05-15 14:21] Nirajn2311 commented on #42141
I understood it wrongly @gikf . Also yea its the tests which are off by one. Looks like a good first issue.

[2021-05-16 08:35] Sembauke commented on #41062
People that want to work on this can follow this PR- / comment https://github.com/freeCodeCamp/freeCodeCamp/pull/41088#issuecomment-785039397

[2021-05-16 09:30] Sembauke commented on #40113
Hey @rahul1990gupta,

I am closing this issue/ feature request, there will be certain updates to the python certificates in [version 7 of the curriculum](https://www.freecodecamp.org/news/python-curriculum-is-live/).

Thanks for your interest though!

[2021-05-16 09:30] #40113 closed

[2021-05-16 11:22] Nirajn2311 commented on #41994
I'm interested in taking this up and wanted to know what kind of tests can be made.

[2021-05-16 13:24] alirezaghey commented on #42141
Hi,
I have a working solution for this, although not the most efficient one. It's relatively concise but using `splice` the time complexity is quadratic. Can I make a PR?

[2021-05-16 13:36] Sembauke commented on #39608
Closing this one, tracking further in https://github.com/freeCodeCamp/freeCodeCamp/issues/41417#issuecomment-794892623

[2021-05-16 13:36] #39608 closed

[2021-05-16 13:49] Sembauke commented on #42141
@alirezaghey, You can always open a PR. After that, we can give feedback and suggest changes if needed.

[2021-05-16 14:51] jeremylt commented on #42141
I'm not sure why you need to make a brand new solution. You just need to modify one of the existing solutions to reduce the starting value. In my solution, for example, you just set `let currPrisoner = -1`

[2021-05-16 14:56] Sembauke commented on #41865
Hey @ShaunSHamilton ,

After struggling to solve this issue with attributes the iframe provides, I made an example project that seems to work as it should.
https://intrepidgiddyinfo.semboot699.repl.co/

So my conclusion here is that it may not be the iframes fault but somewhere else in the code.

[2021-05-16 16:02] alirezaghey commented on #42141
Hi @jeremylt,
AFAIK, there is no compelling reason to completely change the original solution.
The original solution has a better time complexity.
The only benefit to my approach is that the code is less error prone, since we are not implementing a fundamental data structure from scratch, and the basic steps of the algorithm that solve the problem are easier to read, since they are not mixed with

[2021-05-16 16:05] jeremylt commented on #42141
A agree that the original solution is pretty convoluted.

[2021-05-16 18:04] #42141 closed

[2021-05-16 18:26] ArnoldGee commented on #42139
Hi. I'm new to contributing to FreecodeCamp, and just read the guidelines. With your permission, I will fork the project and try to solve the issue with a pull request.

[2021-05-16 19:02] Nirajn2311 commented on #41865
Shouldn't this PR #35180 have blocked the submission of forms in iframes itself.

[2021-05-16 19:12] Glitchy-Tozier commented on #41865
@Nirajn2311 I don't know the answer to your question but that sounds like a horrible thing to do.

As a student, seeing my form actually do something made me very happy.

[2021-05-17 03:45] ahmadabdolsaheb commented on #41580
Since we are moving forward with Typescript, it might be beneficial to scaffold the entire storybook setup using a TS package developer CLI such as [TSDX](https://tsdx.io/), that has Rollup, Jest, tsconfig, TSLint, storybook, etc out of the box. We would just need to add TailwindCSS config and RTL on the top. Thoughts?

[2021-05-17 07:15] #42139 closed

[2021-05-17 08:58] ojeytonwilliams commented on #41994
Awesome :+1:

Since we're not actively developing right now (@RandellDawson did a great job and we don't currently plan to extend it), the main thing we want is to make sure it doesn't break if we update dependencies.

It's worth considering tests like

- do the scripts create-empty-steps, create-next-step and so on behave as expected (i.e. acceptance tests)
- do the individual functions do what w

[2021-05-17 09:17] Sembauke commented on #41865
Looks like someone already did something to prevent this on anchor tags

[code]

[2021-05-17 09:47] Sembauke commented on #41865
We can always open a new tab instead of in the iframe.

[2021-05-17 09:53] ojeytonwilliams commented on #41580
I'm not sure about TSDX.

Firstly, it uses TSLint which was deprecated back in 2019 - TSLint's maintainers recommend people use typescript-eslint now.  Also, if we wanted to move on from it, is there an easy way to bail out?

[2021-05-17 13:21] raisedadead commented on #41580
As a general rule, we want to avoid tools that are opinionated.

[2021-05-17 13:22] raisedadead commented on #41533
@Sembauke I see the PR has not been merged yet. But the issue was closed, is this resolved?

[2021-05-17 13:51] moT01 commented on #41921
I don't think we need to worry about the template literals lesson. In other cases, I would like to allow spaces in those places, but this particular one specifies the exact output expected - So I think we would be fine to leave it.

[2021-05-17 14:29] Sembauke commented on #41533
@raisedadead My bad, did not see the pending reviewer on the PR.

[2021-05-17 14:32] ahmadabdolsaheb commented on #41580
I see, just to clarify we want the followings:
- We want an isolated testable TS module with its independent bundler.
- We would like the component library module to be the single source for the styles for learn.

[2021-05-17 14:41] raisedadead commented on #41533
It's all cool; I was just confused about the issue being closed manually. We usually leave issues to get autoclosed when a PR lands to avoid missing things.

[2021-05-17 14:58] pandichitra commented on #18028
yes! i couln't solve this in firefox but i was able to run this in googl chrome!!

[2021-05-17 15:18] SethFalco commented on #18028
I can vouch I've done the entire Responsive Web Design course on Firefox, and could pass every challenge/project.
I've just tested this solution now, and it's working for me. 🤔

@pandichitra If you have time, would you be able to elaborate on what actually failed for you?

[2021-05-17 15:26] raisedadead commented on #41580
Yes, we would probably prefer a bundler like webpack that we already have experience with but not necessarily married to.

[2021-05-17 15:43] Glitchy-Tozier commented on #41865
@Sembauke Either this, or prevent the bug and add a back-button to the "Form Submitted"-page.

[2021-05-17 16:58] alirezaghey commented on #41921
Hi,
I've created some amendments for all the pages except [ES6 Template Literals](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/create-strings-using-template-literals).
In the ES6 template literals' case, considering that the exact output is specified, I also don't think that allowing optional spaces would make much sense.

[2021-05-17 18:33] alirezaghey commented on #41132
Apparently, this is already resolved but not closed.

[2021-05-17 20:03] lasjorg commented on #41132
Closed by https://github.com/freeCodeCamp/freeCodeCamp/pull/41191

[2021-05-17 20:03] #41132 closed

[2021-05-17 20:42] #41533 closed

[2021-05-18 04:11] pandichitra commented on #18028
@SethFalco yeah i really don't know why ? But I could find the same problem as mentioned by @KemPavel. Once I tried doing it in chrome it didn't mention any all Passed .
<img width="947" alt="solution didn't pass" src="https://user-images.githubusercontent.com/42309745/118588883-e9d95080-b7bc-11eb-8b78-3cd3e3c8a649.PNG">
<img width="942" alt="passed" src="https://user-images.githubusercontent.com/

[2021-05-18 05:30] Nirajn2311 commented on #41865
Opening a new tab can be an alternative but imagine if a user is playing and suddenly a new tab opens, it feels jarry and may confuse them. I feel it's better if we loaded it in the iframe itself.

[2021-05-18 05:35] Nirajn2311 commented on #41994
Gotcha 👍

[2021-05-18 08:31] ShaunSHamilton commented on #18028
I am going ahead and locking this conversation, because this issue is old, and the platform/tests have changed a lot.

Please feel free to open a topic on the [forum](https://forum.freecodecamp.org), or a new issue. Thank you.

[2021-05-18 09:05] ojeytonwilliams commented on #41865
I think this is crucial.  Whatever we go with, we shouldn't lose this part of the current behaviour.

Agreed.  I think opening in the preview frame is a nice UX.  It should feel like that's the page they're creating and suddenly having that page spawn a new tab breaks that feeling.

[2021-05-18 10:39] miyaliu666 opened #42174 "[Challenge: Use a CSS Class to Style an Element] The code looks good, but can't pass the first test"
**Affected page**
[Use a CSS Class to Style an Element](https://chinese.freecodecamp.org/learn/responsive-web-design/basic-css/use-a-css-class-to-style-an-element)

**Your code**
Copy and paste the code from the editor that you used in between the back-ticks below:

[code]

**Expected behavior**
I create this issue on behalf of a learner who [reported on the Chinese forum](https://chinese.freecode

[2021-05-18 10:50] Sembauke commented on #42174
Hey, this might be caused by enabled extensions in the browser.  Try disabling them they might interfere with the current challenge.

[2021-05-18 10:50] miyaliu666 opened #42175 "Can we change the hint links of Chinese curriculum to English posts?"
Now the hint links in the Chinese curriculum are pointing to invalid Chinese forum posts. We discussed with Quincy before and agreed that we didn't want to translate the hints. Can we just update them to English forum posts? Thanks!

[2021-05-18 13:47] paulywill commented on #42175
All the links, or just s few of them?

[2021-05-18 13:50] paulywill commented on #42174
Can they also try another browser such as Firefox?

[2021-05-18 14:06] alirezaghey commented on #42174
I tested this on Ubuntu 20 with both Opera 76 and Firefox 88 for both English and Chinese versions of the page. All four combinations work correctly for me.

[2021-05-18 16:36] #41940 closed

[2021-05-19 02:58] miyaliu666 commented on #42175
All 'Get a Hint' links in the Chinese curriculum challenges.

[2021-05-19 05:23] nitishjoshi86 opened #42184 "Error of right option in data analysis with python course"
**Affected page**
Add a link to the coding challenge with the problem.
https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-course/numpy-operations

**Your code**
Copy and paste the code from the editor that you used in between the back-ticks below:

[code]

**Expected behavior**
Add a clear and concise description of what you expected to happen.

**The right answ

[2021-05-19 05:56] Nirajn2311 commented on #42184
Hi, the right option is correct. Remember we are asking for the **value** of `a`.

[2021-05-19 05:56] #42184 closed

[2021-05-19 08:54] AlexanderMike2018 commented on #34901
How can I solved that problem, **Use the value attribute with Radio Buttons and Checkboxes**?

[2021-05-19 10:48] huyenltnguyen opened #42186 "Add color tokens to tailwind config file"
We are in the progress of building a component library, and [TailwindCSS](https://tailwindcss.com/docs) is what we use for component theming.

The config file has been created, and further configurations will be added in the future. For now, we need to add color tokens to the file, in the `colors` object.

Link to the config file: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/tools/ui-com

[2021-05-19 10:53] huyenltnguyen commented on #42186
@ahmadabdolsaheb I'm using the color palette in the style guide as the starting point, but do you think we need other colors in /client's [variables.css](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/components/layouts/variables.css) as well?

[2021-05-19 11:54] nitishjoshi86 commented on #42184
You can go through the below screenshots.

**below ss shows issue in your course**

![image](https://user-images.githubusercontent.com/84433778/118808255-f3e77600-b8c6-11eb-90ba-1b64babb2406.png)

**below is the practical example of the correct answer I have raised the issue for**

![image](https://user-images.githubusercontent.com/84433778/118808399-1b3e4300-b8c7-11eb-9768-4fbd09002734.png)

[2021-05-19 12:12] ShaunSHamilton commented on #42184
Hello there,

Now, print the "value of `a`"...

[2021-05-19 12:12] Nirajn2311 commented on #42184
I understand. Ok, think what the last line ie. `a+20` is doing. Again, I'm saying we're asking the **VALUE** of `a`.

[2021-05-19 12:15] ShaunSHamilton commented on #34901
Hello @AlexanderMike2018 ,

If you need any assistance, feel free to reach out on the [forum](https://forum.freecodecamp.org/)

Happy coding 😃

---

This issue is old and resolved. As such, I am going ahead and locking it.

[2021-05-19 12:27] nitishjoshi86 commented on #42184
ok understood, was confused. Thanks.

[2021-05-19 14:29] alirezaghey commented on #40402
What is the chosen path to solve this issue? Or am I missing something?

[2021-05-20 07:04] #39697 closed

[2021-05-20 14:24] Aech10 opened #42192 "How to connect My watch with my pc"
I want to connect my watch and access its source code

[2021-05-20 14:33] ahmadabdolsaheb commented on #42186
Yes we should add variables.css in addition to the design style guide colors. The whole dark mode, layout, and accent colors might need another review, but that will come later.

[2021-05-20 15:32] huyenltnguyen commented on #42186
Thanks @ahmadabdolsaheb!

I have updated the issue description to lay out the requirements. I might need to discuss with you on the token naming (I'm considering using `foreground` and `background`), but that is just a minor thing that came into my mind. We can leave it for later since the color palette will be reviewed.

[2021-05-20 15:35] gikf commented on #42192
Issues in this repository are for freeCodeCamp codebase-related issues and discussions. I'm closing this issue as it is not related to either of these topics.

Thank you and happy coding.

[2021-05-20 15:35] #42192 closed

[2021-05-20 15:35] huyenltnguyen commented on #42186
I'm going to open this issue up for first-time contributor. If you are interested in helping us with this issue, please add a comment here to let us know.

Please also make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instructions in our guides. Join us in our [chat room](https://chat.freecodecamp.org/channel/cont

[2021-05-20 19:28] Nirajn2311 commented on #39348
Maybe the issue description could hold the list of issues that are put here in the form of checkboxes so its easier for any of us to know which of these issues are solved or not. Here's another thought, maybe each of these issues could be put up as their own issue and a new label named "Next curriculum bugs" could be assigned to them. Basically what I'm saying is it feels cluttered to put all the

[2021-05-20 22:01] ChrisPrzR commented on #42186
I'd like to work on this.

[2021-05-20 22:43] ChrisPrzR commented on #42186
There is a "darkviolet" color in the variables.css file.

```--purple-mid: darkviolet;```

I could not find a reference for it in the document, is there any specific color I should use?

[2021-05-21 05:19] jdwilkin4 opened #42201 "FCC curriculum is not loading in Philippines"
There have been a couple of posts in the forum and reddit page about users in the Philippines not being able to access the website.

https://forum.freecodecamp.org/t/website-not-loading-tried-everything/460889
https://www.reddit.com/r/FreeCodeCamp/comments/nfe7id/site_cant_be_reached/

Users are saying that the website does not load for them or they are getting this message.
"you appear to be offl

[2021-05-21 07:24] ojeytonwilliams opened #42203 "Create a separate warning if the server is unreachable"
**Is your feature request related to a problem? Please describe.**
Currently the client displays the "You appear to be offline, your progress may not be saved" message if the browser reports that it's offline or if challenge submission fails. However challenge submission can fail for several reasons and not necessarily because a user is unable to get online.

**Describe the solution you'd like**
A

[2021-05-21 07:46] ahmadabdolsaheb commented on #40402
We have not come to an agreement regarding the way to move forward yet.

The options are listed [above](https://github.com/freeCodeCamp/freeCodeCamp/issues/40402#issuecomment-750256121).

Once we reach an agreement, we should make the experience consistent across the app.

[2021-05-21 07:54] ahmadabdolsaheb commented on #41580
One of the component library documentation patterns include adding the styleguide as the storybook first page.

This might be a good strategy for us to adopt where we could add our styleguide to our storybook, build and deploy it at https://design-style-guide.freecodecamp.org/ and have it be the single source of truth for design.

[2021-05-21 07:57] alirezaghey opened #42204 "Challenge asks to call preventDefault but it has no effect on the results"
**Affected page**
https://www.freecodecamp.org/learn/front-end-libraries/react/create-a-controlled-form

**Your code**

[code]

**Expected behavior**
The challenge states:
_Note: You also must call event.preventDefault() in the submit handler, to prevent the default form submit behavior which will refresh the web page._

But calling `preventDefault()` doesn't have any effect. The tests pass withou

[2021-05-21 08:57] ahmadabdolsaheb commented on #42186
@huyenltnguyen I know there are different ways to setup the night mode.

How about adding a main.css to our tailwind setup and including all of our variables there.
Then we could set tailwind config colors to CSS variables.

Do you see any pros or cons for this setup?
We could build on @ChrisPrzR's pr if necessary.

[2021-05-21 09:11] Nirajn2311 commented on #42204
This is caused by the below code which is inserted into the iframes `head` tag. Since the page doesn't refresh for us, I guess it would be better for us to make a test for it so the user knows that line is required for the page to not refresh when a form is submitted.

https://github.com/freeCodeCamp/freeCodeCamp/blob/21dd80c47a0a5f4d50cad18ed06d9daf540fbab5/client/src/templates/Challenges/utils/f

[2021-05-21 09:28] raisedadead commented on #42201
Since this is not a technical issue with the codebase yet, we are requesting more information on the forum thread here: https://forum.freecodecamp.org/t/website-not-loading-tried-everything/460889/11?u=raisedadead

[2021-05-21 09:48] huyenltnguyen commented on #42186
Yeah I was looking for a way to keep the colors in a variable CSS file instead of porting them to the config file as well. [The article](https://levelup.gitconnected.com/tailwindcss-with-css-variables-513abe2e9a5) I read suggested the same approach as the one you shared.

With that approach, we would need to maintain a file with CSS variables and map the variables to a corresponding color property

[2021-05-21 10:00] raisedadead commented on #42174
Replied on the forum thread.

[2021-05-21 10:00] #42174 closed

[2021-05-21 10:22] ahmadabdolsaheb commented on #42186
I think that is a simple approach. How would the component color change from primaryText to primaryTextDark?

Do we need to add that logic per component based on the theme props it receives?

[2021-05-21 10:57] alirezaghey commented on #42204
I have a question and this may well be out of the scope of this issue/challenge:

Why are we testing every challenge on the frontend? If we tested on the backend we could employ standard testing libraries instead of custom methods involving regex or...
Setting up the infrastructure and rewriting tests would take much time and effort at the beginning but in the long-run, I imagine, it would be easi

[2021-05-21 11:18] #41921 closed

[2021-05-21 11:50] huyenltnguyen commented on #42186
To be honest, I haven't put much thoughts into the dark theme support. I have added an item for this in the main issue, but the traditional `.dark {}` way is what I have at the moment. However, I'm afraid that it might not work well with the CSS purging that Tailwind offers.

Happy to hear you thoughts on this.

[2021-05-21 12:00] huyenltnguyen commented on #42186
I skimmed the Tailwind doc yesterday and found that it provides a `darkMode` option in the config. I think I would try out and see if I can use the tokens I proposed this it.

Here is the doc: https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually

[2021-05-21 12:54] alirezaghey opened #42208 "Challenge implies using anti-pattern which may have unexpected results in real situations"
**Affected page**
https://www.freecodecamp.org/learn/front-end-libraries/react/render-conditionally-from-props

The lines 242-246 of the [file](https://github.com/freeCodeCamp/freeCodeCamp/blob/4d024f3e4bcbb0a0016e6a6bce01619c25e54dbc/curriculum/challenges/english/03-front-end-libraries/react/render-conditionally-from-props.md#L242-L246) read:
[code]
This implies that you can increment `counter` a

[2021-05-21 13:04] ShaunSHamilton commented on #42208
Hello there,

Thank you, for taking the time to open this. It appears this lesson was missed in the PR that closed the related issue: https://github.com/freeCodeCamp/freeCodeCamp/issues/39267

As such, I am going to open this to first-timers with the expected change being outlined as in the original post.

---

An issue with the _help wanted_ or _first timers only_ label is open for contribution.

[2021-05-21 18:14] Halu89 opened #42212 "Broken test or unclear instructions in Headless Browser II of the quality assurance curriculum"
**Affected page**
Add a link to the coding challenge with the problem.
https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser-ii

**Your code**
Copy and paste the code from the editor that you used in between the back-ticks below:

[code]

**Expected behavior**
Add a clear and concise description of what you expect

[2021-05-21 21:46] ShaunSHamilton commented on #42212
Hello there,

Thank you, for taking the time to open this. It appears this was missed with the previous PR: https://github.com/freeCodeCamp/freeCodeCamp/pull/42090 , and issue.

As such, it is a simple fix to correct the test at: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-usi

[2021-05-22 01:50] avishek2004 commented on #37774
use this code to solve the problem....thanks

<style>

  body {
    font-family: Arial, sans-serif;
  }
  header {
    display: flex;
flex-direction: row;
  }
  header .profile-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 4px;
  }
  header .profile-name {
    display: flex;
    margin-left: 10px;
  }
  header .follow-btn {
    display: flex;
    margin: 0 0 0 auto;
  }
  heade

[2021-05-22 01:51] avishek2004 commented on #37774
`<style>
  body {
    font-family: Arial, sans-serif;
  }
  header {
    display: flex;
flex-direction: row;
  }
  header .profile-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 4px;
  }
  header .profile-name {
    display: flex;
    margin-left: 10px;
  }
  header .follow-btn {
    display: flex;
    margin: 0 0 0 auto;
  }
  header .follow-btn button {
    border: 0;
    bord

[2021-05-22 08:58] #42212 closed

[2021-05-22 09:14] huyenltnguyen commented on #41580
@ahmadabdolsaheb Do you see https://design-style-guide.freecodecamp.org/ as a simple Storybook page, or will it be a documentation page like [Material UI](https://material-ui.com/) or [Tailwind](https://tailwindcss.com/docs)?

I personally prefer documentation page as it is more structured and we can have more content about our design system rather than just component-specific. But I'm obviously p

[2021-05-22 10:02] raisedadead commented on #41580
Actually, melding all of these resources under the `https://contribute.freecodecamp.org` might be a good idea. It should be possible for us to host this something along these lines:

https://contribute.freecodecamp.org --> Contributing Home/Landing Page
https://contribute.freecodecamp.org/translate --> Translations
https://contribute.freecodecamp.org/design --> UI Design Style Guide (redirecting t

[2021-05-22 10:05] raisedadead commented on #42201
Closing this in favour of the ongoing discussion on the forum. So far we do not have anything that points issues with the code or the infrastructure.

[2021-05-22 10:05] #42201 closed

[2021-05-22 15:23] Sembauke commented on #38819
This seems to be fixed.

[2021-05-22 15:37] Sembauke commented on #40164
Hey @VadimEv,
As Shaun stated:

and this seems also to be a stale issue.

I will close this issue for this reason.

[2021-05-22 15:37] #40164 closed

[2021-05-22 15:50] Sembauke commented on #40420
As we decided to remove Lighthouse from action workflow #42027 there would be no need to keep this open.

[2021-05-22 15:50] #40420 closed

[2021-05-22 16:02] Sembauke commented on #41256
Closing this one as a duplicate of #42175

[2021-05-22 16:02] #41256 closed

[2021-05-22 20:21] ShaunSHamilton commented on #38819
@Sembauke This is still an issue for me on Chrome. Which browser are you using?

[2021-05-23 00:04] huyenltnguyen commented on #41580
That works for me. Although we will need to add some extra publish and deploy config to Storybook (I didn't include it in the initial setup).

I can take a look at it, but I'm in the middle of other setup work right now, so it would be great if anyone here can help us with this 🙂

The [doc](https://storybook.js.org/docs/react/workflows/publish-storybook) mentions Chromatic as a publishing service.

[2021-05-23 09:16] Sembauke commented on #38819
Hey Shaun this works fine for me on Chrome version 90,
![image](https://user-images.githubusercontent.com/46919888/119254689-08be5500-bbb8-11eb-86b4-9e4083ad4f91.png)

[2021-05-23 11:48] suburban-daredevil commented on #42208
@ShaunSHamilton . I would like to work on this issue. Just for your kind information. Thanks!

[2021-05-23 12:14] ShaunSHamilton commented on #38819
Right, but the code you have is not what the lesson instructions ask for:
[code]

[2021-05-23 16:36] Nirajn2311 commented on #38819
Yup this issue is still there. Tested it in Mac.

[2021-05-23 17:14] suburban-daredevil commented on #42208
Hello @ShaunSHamilton,

I have opened a pull request for this issue. Can you please check?

Thanks

[2021-05-23 17:32] lasjorg opened #42226 "Update image link in React Markdown Previewer example project"
The [Markdown React example project](https://codepen.io/freeCodeCamp/full/GrZVVO) has an image link (React logo) that no longer works. The link is using Google URL Shortener and redirects to some WP site.

`https://goo.gl/Umyytc`
`https://techchronos.com/wp-content/uploads/SszarkLabs/stack-icon/cywBkaGwkMeDAuJbSt1k.png`

Not sure if we should add the logo to our CDN, or just use something like com

[2021-05-23 17:47] lasjorg commented on #42208
@suburban-daredevil There is already a PR for this which is awaiting requested changes. Let's give them a chance to change what is needed first. If it does not happen within a reasonable timeframe we can use your PR instead.

[2021-05-23 22:30] #41922 closed

[2021-05-24 02:20] suburban-daredevil commented on #42208
Thanks @ShaunSHamilton and @lasjorg for taking your time out and responding. I understand it completely. Thanks once again!

[2021-05-24 07:06] niteshseram commented on #42175
Hello, Can I work on this issue?

[2021-05-24 07:47] ahmadabdolsaheb commented on #41580
@huyenltnguyen, since storybook is partly a documentation tool, we could take advantage of that and host our the design style guide inside the storybook and have the whole thing live in https://contribute.freecodecamp.org/design. That way we could add more documentation and turn it into a design system. That being said, I do not have a strong preference either way.

ex.
https://developers.grafana.

[2021-05-24 07:58] ShaunSHamilton commented on #42175
@niteshseram
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues

[2021-05-24 10:02] ojeytonwilliams opened #42229 "Use react testing library plugins and associated eslint plugins in the client"
**Is your feature request related to a problem? Please describe.**
As mentioned by @huyenltnguyen [here](https://github.com/freeCodeCamp/freeCodeCamp/pull/42221/files#r637459504) there are some useful eslint plugins (`eslint-plugin-testing-library` and `eslint-plugin-jest-dom`) and testing library plugins `@testing-library/user-event` and `@testing-library/dom` that could help improve our client t

[2021-05-24 11:48] ahmadabdolsaheb commented on #40050
We would just need another pr to target the onError event of the profile images on the navigation and on the profile page and show the default image.

[2021-05-24 12:15] Nirajn2311 commented on #41580
I like Ahmad's idea as it keeps all design related documentation in one link. Also that will help out the new contributors as they don't have to search in two different places.

[2021-05-24 15:09] raisedadead opened #42232 "Localize ask-for-help template"
We want to localize the Ask-To-Help template that pre-fills the post on the forum.

![image](https://user-images.githubusercontent.com/1884376/119367773-ec154080-bccf-11eb-93a3-0df15bdc9ae2.png)

The above button which takes you to the forum should render this template:

![image](https://user-images.githubusercontent.com/1884376/119367918-12d37700-bcd0-11eb-97ce-9c9475d5d8f8.png)

In the localized

[2021-05-24 15:13] nhcarrigan commented on #42232
Should be able to tackle this today, I think.

[2021-05-24 15:14] raisedadead commented on #42232
Sure. Not a high priority, so take your time.

[2021-05-24 17:42] huyenltnguyen opened #42236 "Improve the accessibility of Code Radio app"
**Affected page**

https://coderadio.freecodecamp.org/

**To Reproduce**

I made a quick scan using the [axe DevTools](https://addons.mozilla.org/en-US/firefox/addon/axe-devtools/) browser add-on and found that the page has some critical accessibility issues.

We have 5 errors when the music is not played.

<img width="1680" alt="Screen Shot 2021-05-25 at 00 17 29" src="https://user-images.githubu

[2021-05-24 17:59] #42232 closed

[2021-05-24 19:39] Ismailtlem commented on #40050
This pr https://github.com/freeCodeCamp/freeCodeCamp/pull/41927 is still not deployed i suppose ?

[2021-05-25 05:14] jdwilkin4 opened #42240 "Small typo in the React for Beginners FCC article"
**Describe your problem and how to reproduce it:**
In this article, there is a code snippet in the Embedding JavaScript in JSX section that uses class instead of className.
[code]
The issue was brought up in this FCC forum discussion.
https://forum.freecodecamp.org/t/mistake-in-the-first-page/461687/5

I think it should be changed to className since the previous section of the article talked about

[2021-05-25 16:02] DySQRD opened #42246 "Typo in "Convert seconds to compound duration""
In this table, the left column represents the same duration as in the right column, but in seconds.
The left middle-left cell should be 86400 instead of 72**86400**59.

[Challenge: Convert seconds to compound duration](https://www.freecodecamp.org/learn/coding-interview-prep/rosetta-code/convert-seconds-to-compound-duration)

<img width="293" alt="2021-05-25 12_01_05-Learn Rosetta Code_ Convert se

[2021-05-25 16:21] gikf commented on #42246
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/10-coding-interview-prep/rosetta-code/convert-seconds-to-compound-duration.md

Please make sure you rea

[2021-05-25 18:09] #40314 closed

[2021-05-25 18:13] raisedadead commented on #36920
Ghost is pretty opinionated about anything that does not align with their roadmap. I do not see us maintaining a fork of Ghost (because of limited resources).

Closing.

[2021-05-25 18:13] #36920 closed

[2021-05-25 18:18] raisedadead commented on #39521
Hey @ShaunSHamilton how is this show stopper coming along?

[2021-05-25 19:19] ShaunSHamilton commented on #39521
@raisedadead Ah yes... I have updated the label, because it should have been removed by #41524 . _Can a PR automatically remove an issue's label?_

Otherwise, this issue is still open and _help wanted_ , as there are many packages which need their versioning fixed. If no one else, I can slot in some time for this tomorrow.

[2021-05-25 19:29] raisedadead commented on #39521
No rush. Thanks for confirming, I have removed the assignment since this is no longer a showstopper.

[2021-05-26 09:32] ojeytonwilliams opened #47468 "Migrate freeCodeCamp/strip-comments to TypeScript"

[2021-05-26 10:17] Sembauke commented on #42203
This seems like a needed feature, after what happened a couple of days ago.

[2021-05-26 11:06] ojeytonwilliams opened #42256 "TypeScript migration"
## Co-ordination

As discussed in the last contributors [meeting](https://forum.freecodecamp.org/t/office-hour-contributors-may-13-2021/458257/4) we're looking to migrate our client to TypeScript.

In order to help people work in parallel this issue can be used to track who is working on what. I've put a checklist of all the unmigrated files at the bottom.  If you want to work on a file or some fi

[2021-05-26 11:49] raisedadead commented on #42256
Because this is a refactor we would want to rename the files to `kebab-case` where possible.

[2021-05-26 11:56] Sembauke commented on #42256
- camelCase
- PascalCase
- snake_case
- kebab-case

[2021-05-26 12:32] zkindest opened #42257 "Exercise Tracker App: 7th test shows 'timed out' for data sorting(date field) error"
**Affected page**
https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/exercise-tracker

**My code**
[code]

**Expected behavior**
1. it should not say test timed out if sort options(see above) are not provided.

**Need Help (Optional)**
Please let me know if there's any better way to format date with mongoose.Thanks in Advance!!

[2021-05-26 12:49] ojeytonwilliams commented on #42203
Yeah, it should help us work out where the problem lies. Right now it doesn't tell us much

[2021-05-26 13:34] gikf commented on #42257
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions with

[2021-05-26 13:34] #42257 closed

[2021-05-26 16:00] raisedadead commented on #42240
We just streamlined the process a bit, and the fastest way to resolve typo and content errors are to send issues like these to the `editorial<at>freecodecamp.org`

You are still welcome to report issues on this tracker; we will forward the same to the email I mentioned earlier.

/cc @freeCodeCamp/moderators

[2021-05-26 16:00] #42240 closed

[2021-05-26 16:00] raisedadead commented on #41749
See https://github.com/freeCodeCamp/freeCodeCamp/issues/42240#issuecomment-848897634

[2021-05-26 16:00] #41749 closed

[2021-05-26 16:11] sykhan1st opened #42259 "Public setting not updating"
I select the setting and click on public, but not working.

[2021-05-26 17:00] lasjorg commented on #42240
@raisedadead So we don't have to do anything in/to the old issues?

How are the issues forwarded if I may ask, is it done manually or what?

[2021-05-26 17:22] tannerdolby opened #42261 "Sign in buttons do not have visible focus states for keyboard navigation"
**Affected page**
The affected page is [Sign in](https://auth.freecodecamp.org/login?state=hKFo2SAxMjVKYU5peWJONmY3VnBNQWoxZ2dBRU54WWNtQU1XZaFupWxvZ2luo3RpZNkgdzBUZm1oRmZfTWhDNE1GXzFVeXZDZHJkaDYzZWdDa06jY2lk2SBhVUR2OWpWcVRmeEJSRTFsNjBOQTVBZjd5VENHRTRjeQ&client=aUDv9jVqTfxBRE1l60NA5Af7yTCGE4cy&protocol=oauth2&response_type=code&redirect_uri=https%3A%2F%2Fapi.freecodecamp.org%2Fauth%2Fauth0%2Fcallba

[2021-05-26 17:26] jeremylt opened #42262 "Minor Naming inconsistency and Clarification"
Challenges
---

1) https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/use-bracket-notation-to-find-the-nth-character-in-a-string
2) https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/use-bracket-notation-to-find-the-last-character-in-a-string
3) https://www.freecodecamp.org/learn/javascript-algorithms-and-data-st

[2021-05-26 17:29] raisedadead commented on #42240
When you see any **content issue** with `/news` reported to you over any of the channels like the chat, forum, discord etc., you should send an email to `editorial<at>freecodecamp.org` with details like a link to the conversation, post etc. instead of reporting it here on GitHub.

Alternatively, as per your convenience & comfort, you can freely report here on GitHub, and one of us mods can send th

[2021-05-26 17:33] tannerdolby commented on #42261
There is `outline: none` in the CSS here which is the root cause.

<img width="384" alt="Screen Shot 2021-05-26 at 10 31 30 AM" src="https://user-images.githubusercontent.com/48612525/119705465-9e9eed80-be0d-11eb-8208-1aaeb924f80d.png">

[2021-05-26 17:36] tannerdolby commented on #42261
If we were to add `outline` and `outline-offset` to the `focus` state on those buttons like other buttons on the site have, that would do the trick to fix this issue.

[code]

[2021-05-26 17:56] jeremylt commented on #42262
It also might be worthwhile to hyperlink Ada Lovelace's name to her wikipedia page to encourage people to go learn about her.

[2021-05-26 18:01] raisedadead commented on #42261
Thanks for reporting and creating the PR. However, the code for this can be found here: https://github.com/freeCodeCamp/auth0-templates/blob/org-tenant/pages/login.html.

If you are still interested in making a PR, can you please make the same on the repo above, specifically to the `org-tenant` branch?

Thanks.

[2021-05-26 18:03] tannerdolby commented on #42261
@raisedadead Your welcome. Yeah sure thing, I will make the same PR on the repo above, specifically to the org-tenant branch. Thanks for the heads up!

[2021-05-26 18:05] raisedadead commented on #42261
Looking forward to it. Cheers.

[2021-05-26 18:18] tannerdolby commented on #42261
Just submitted PR over in `freeCodeCamp/auth0-templates`. Ping for review @raisedadead

[2021-05-26 18:55] Sembauke commented on #42259
Hey @sykhan1st,

Can you give us some more information?
Like which browser are you on?

[2021-05-26 19:09] krishna-saurav commented on #42256
@ojeytonwilliams  I would like to contribute. Can I get edit permission for the above comment?

[2021-05-26 19:43] lasjorg commented on #42262
I guess I'm fine with replacing the name Charles with Ada. Other than that, I really do not see an issue here. Not sure I care much either way.

I will note that any Wikipedia link would have to go on the hint page and not the challenge. We intentionally do not want external links on challenges as it breaks the flow and is just distracting.

[2021-05-26 19:47] jeremylt commented on #42262
Yeah, I feel most strongly about changing Charles to Ada. It feels like an incomplete old change to the example?

Personally, I do not know how many people will think of a porn star before the world's first programmer, but I wanted to bring it up because we saw it come up on the forum. Consistently using Ada in the example text should help mitigate the (small, in my eyes) potential concern.

[2021-05-26 19:52] #42261 closed

[2021-05-26 19:57] raisedadead commented on #42259
It looks like account support to me. @sykhan1st please share some screenshots, errors of your browser's console. Alternatively, you can email us: `support@freecodecamp.org` with the your account details.

[2021-05-26 20:26] ojeytonwilliams commented on #42256
I'm not sure it's possible to make an issue publicly editable. @raisedadead do you know?

@krishna-saurav if you let us know which you're looking at, I can add your name to the checklist.

[2021-05-27 00:16] sykhan1st commented on #42259
i am using Edge browser.

[2021-05-27 00:19] sykhan1st commented on #42259
going to email support, thank you

[2021-05-27 00:24] sykhan1st commented on #42259
[image: image.png]

On Wed, May 26, 2021 at 3:57 PM Mrugesh Mohapatra ***@***.***>
wrote:

--
Thank you

Shafiat Khan

[2021-05-27 02:21] krishna-saurav commented on #42256
@ojeytonwilliams  Np !! I would like to take up below files :
/client/src/components/search/searchPage/EmptySearch.js
 /client/src/components/search/searchPage/NoResults.js
 /client/src/components/search/searchPage/SearchPageHits.js
 /client/src/components/search/searchBar/NoHitsSuggestion.js
 /client/src/components/search/searchBar/SearchBar.js
 /client/src/components/search/searchBar/SearchBar.t

[2021-05-27 02:56] scissorsneedfoodtoo commented on #41749
Thanks for catching those typos, @lasjorg. I went in and changed the text `display` to `position` wherever applicable.

Please let us know if you notice issues in any other articles.

[2021-05-27 03:05] lasjorg commented on #42240
@raisedadead Thanks for the clarification.

How do we know when an article has been fixed, do we get an email reply back?

Personally, I think it just feels more organized using issues to track the reports.

- Can avoid people sending duplicate reports.
- A more centralized location for the report that allows others to verify or add to the report.
- Disputes or clarifications would be easier to ma

[2021-05-27 04:59] Anay21110 commented on #42203
Hello @ojeytonwilliams  ,
I am new to open source trying to make my first contribution,
I am interested in contributing in this issue, if the problem is not solved,
can you assign me this issue

[2021-05-27 06:03] suburban-daredevil commented on #42226
Hello @lasjorg. I would like to work on this issue. Can you please assign this issue to me? Thank you!

[2021-05-27 06:10] raisedadead commented on #42240
Hi @lasjorg

Respectfully, I think you are overthinking this. We don't mean to change the process. My recommendation is we trust mods enough to email the editors directly. We all are part of the same team :)

The editorial team uses email to work through every article submission (new & edits) from the authors as a part of their workflow. They process all the emails that they get, and even in 2021,

[2021-05-27 06:33] raisedadead commented on #42256
Sorry, GitHub issues are editable by maintainers (our moderators) only. I think commenting on this thread should be fine and someone from the team would be able to ~~scratch off~~ the files from the OP once we have a PR merged.

[2021-05-27 07:14] ojeytonwilliams commented on #42256
I've edited the checklist for those files. Thanks for taking these on @krishna-saurav

[2021-05-27 07:52] raisedadead commented on #42208
Hi @soham283 thanks for reaching out and we appreciate your help. We would like you to start here: https://contribute.freecodecamp.org/#/FAQ

Happy contribuitng.

[2021-05-27 08:17] alirezaghey commented on #42262
I would like to do this but thought this may be a good first issue. In the spirit of being welcoming to newcomers, I thought it may be appropriate to first raise this before jumping on it. Let me know ;)

[2021-05-27 08:29] scissorsneedfoodtoo commented on #39075
This appears to be resolved with our current version of Ghost.

Here's the AMP page for the article mentioned in the tweet above: https://www-freecodecamp-org.cdn.ampproject.org/v/s/www.freecodecamp.org/news/learn-javascript-by-making-digital-tabletop-games-and-web-apps/amp/?amp_js_v=a3

The videos all appear and are all converted to `amp-youtube` elements.

Note: The broken video is a video playl

[2021-05-27 08:29] #39075 closed

[2021-05-27 09:18] kkralik opened #42267 "Typo in medical data visualizer AssertionError message"
**Affected page**
https://github.com/freeCodeCamp/boilerplate-medical-data-visualizer/blob/master/test_module.py

Typo on line 47: word 'different' is missing the second 'e'

**System (please complete the following information):**
 - Device hp pc
 - OS: Windows 10
 - Browser: Opera GX
 - Version: 75.0.3969.267

**Additional details**
Typo on line 47: word 'different' is missing the second 'e'

[2021-05-27 09:40] ojeytonwilliams commented on #42203
Hi @Anay21110 thanks for the offer of help.  Please take a look at our [contribution docs](https://contribute.freecodecamp.org/#/index?id=introduction) if you would like to know about how to take part.

[2021-05-27 09:45] ShaunSHamilton commented on #42267
Closed by https://github.com/freeCodeCamp/boilerplate-medical-data-visualizer/pull/12

[2021-05-27 09:45] #42267 closed

[2021-05-27 09:45] n4i9kita commented on #42267
Hi there, can I do it?

[2021-05-27 09:46] ShaunSHamilton commented on #42267
@n4i9kita

Thank you, for your interest in contributing. This issue is already closed.

However, you are welcome to find an issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not re

[2021-05-27 10:37] ieahleen opened #42269 "Codepen template for projects - move test script to pen settings?"
It happens that a lot of people, even using the codepen template, when they start working on the projects delete everything that is in the html box and then start write their code, then when they want to test find that the test suite has disappeared
If the link is moved to the pen settings instead it will make it less likeley for users to delete it accidentally.

It may be worth considering

[2021-05-27 12:05] ShaunSHamilton commented on #42269
Yes, I like the idea of this.

If no one is opposed, I will go ahead and change the templates.

[2021-05-27 13:23] ShaunSHamilton commented on #42226
@suburban-daredevil

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any

[2021-05-27 14:43] mleonelli opened #42275 "Scientific Computing with Python: Probability Calculator: improving test_hat_draw"
**Affected page**
https://github.com/freeCodeCamp/boilerplate-probability-calculator

**Your code**
test_hat_draw first test is meant to validate that the submitted code returns a list of strings with the correct draw from the hat. To do so, it expects a list with blue and red in this order, but the draw can actually take any other kind of combination (BB, RB, BR, RR)
[code]

**Expected behavior**

[2021-05-27 15:29] gikf commented on #42275
I've updated link to the boilerplate repository.

Generally I think it's a good idea to add some additional checks here. I recall from some threads on forums, that problems with `draw` method behavior are often revealed further along the road, only because of wrong final result of experiments.

[2021-05-27 16:10] suburban-daredevil commented on #42226
Hello @ShaunSHamilton. Thanks for clarifying!

[2021-05-27 16:30] ieahleen commented on #40472
I've edited all existing guide articles, now only the forum search ones need new guide articles

[2021-05-27 16:35] ikthedar opened #42277 "Testing to learn about github issues features"
Testing to learn about github issues features.

[2021-05-27 16:42] #42208 closed

[2021-05-27 16:47] lasjorg commented on #42226
I'm still not sure if we should use the CDN or not? As far as I can tell, the logo license should allow us to have a copy on the CDN repo.

I might just open a PR and see if anyone has any concerns or not.

[2021-05-27 16:52] #42277 closed

[2021-05-27 16:53] ojeytonwilliams commented on #42277
Hi. If you want to experiment with Github, please do so on your own repositories.

[2021-05-27 16:58] ShaunSHamilton commented on #42226
Me neither. I will defer to others on this.

If you mean to add to the CDN, then by all means.

[2021-05-27 17:05] raisedadead commented on #40472
@ieahleen you are a rockstar! 🎉

[2021-05-27 17:06] lasjorg commented on #42226
PR https://github.com/freeCodeCamp/cdn/pull/72

[2021-05-27 18:04] ieahleen commented on #40472
@raisedadead for the missing ones, should I create the topics then someone can move them to camperbot, or there is a way to do that automatically?

[2021-05-27 22:10] lasjorg commented on #42226
Come to think of it. It doesn't have to be the React logo. Maybe we should just use the fCC logo instead?

[2021-05-27 22:26] RebekahKoon commented on #42262
Hi, this is my first time contributing to freeCodeCamp! Let me know if there are any problems with the changes.

Thanks!

[2021-05-28 03:21] scissorsneedfoodtoo commented on #42269
Thanks for creating an issue about this, @ieahleen. This is a great suggestion, and should hopefully make it easier for campers and everyone on the forum who helps debug projects.

@ShaunSHamilton, here's the link to the CodePen project we're using as a template: https://codepen.io/freeCodeCamp/pen/MJjpwO

I think we'll just want to check that, once the test suite is moved to the settings for the

[2021-05-28 05:55] akshatgarg12 commented on #42256
I would like to work on these  @ojeytonwilliams

/client/src/components/Header/index.js
/client/src/components/Header/components/AuthOrProfile.js
/client/src/components/Header/components/Login.js
/client/src/components/Header/components/MenuButton.js
/client/src/components/Header/components/NavLinks.js
/client/src/components/Header/components/NavLogo.js
/client/src/components/Header/components/Uni

[2021-05-28 07:05] mleonelli commented on #42275
Hi @gikf, I understood where the challenge is coming from. While in the main.py there is no initialization of random seed, in the unit tests the seed is set.
For this reason, within the `draw` function, the student must not set him/herself the seed but rather rely on the the main program.

I propose then to
1. Add a seed initialization in main.py
2. Add a small paragraph in the assignment to highl

[2021-05-28 07:18] ojeytonwilliams commented on #42256
Awesome, thanks @akshatgarg12, I've edited you in.

[2021-05-28 07:51] raisedadead commented on #40472
I have bumped your privileges on the forum, you should be able to create the posts and transfer them to camperbot.

[2021-05-28 08:22] ShaunSHamilton commented on #42269
@scissorsneedfoodtoo Is this message still true?

[2021-05-28 08:25] ShaunSHamilton commented on #42269
Well, that appears to be working. I have moved the script into the JS settings, and tested with my own account - works.

[2021-05-28 08:25] #42269 closed

[2021-05-28 14:32] ojeytonwilliams commented on #37742
One part of the main app bundle is Gatsby itself.  This seems unavoidable if we want to support a wide range of browsers. Reason being it's composed of core-js polyfills that're needed by some browsers.

We can reduce the bundle size a bit if we target fewer or more modern browsers, but obviously that comes with a chance that we exclude people. For reference it goes from 512.67kb -> 486.93kb if we

[2021-05-28 15:24] ieahleen commented on #40472
Left to do, change the Get a Hint link for the 20 projects still unchecked in https://github.com/freeCodeCamp/freeCodeCamp/issues/40472#issuecomment-820537307, any volunteer for this?
these are the topic links to use
Quality Assurance
https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-sudoku-solver/462357
https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-american-british-tra

[2021-05-28 15:42] alirezaghey opened #42294 "Moment.js is considered a legacy package and should be replaced with a recommended substitute"
**Affected page**
[https://www.freecodecamp.org/learn/apis-and-microservices/managing-packages-with-npm/expand-your-project-with-external-packages-from-npm](https://www.freecodecamp.org/learn/apis-and-microservices/managing-packages-with-npm/expand-your-project-with-external-packages-from-npm)

The challenge states:
*"Add version "2.14.0" of the "moment" package to the dependencies field of your p

[2021-05-28 17:32] moT01 commented on #40472
Nice job @ieahleen 🎉

So the task for that would be to take the number at the end of each of those URL's and put it in the front matter of each english challenge file as the `forumTopicId` - similar to what's at the top of [this one](https://raw.githubusercontent.com/freeCodeCamp/freeCodeCamp/main/curriculum/challenges/english/06-quality-assurance/quality-assurance-projects/issue-tracker.md). Seem

[2021-05-28 17:38] Sembauke commented on #42259
Hey @sykhan1st ,

I am closing this because you are receiving support by e-mail.
If this issue does appear to be a global issue feel free to reopen it again.

[2021-05-28 17:38] #42259 closed

[2021-05-28 19:23] Dripcoding commented on #42256
@ojeytonwilliams I'd like to work on these files:

 /client/src/components/profile/Profile.js
 /client/src/components/profile/Profile.test.js
 /client/src/components/profile/components/Camper.js
 /client/src/components/profile/components/Certifications.js
 /client/src/components/profile/components/HeatMap.js
 /client/src/components/profile/components/HeatMap.test.js
 /client/src/components/profile

[2021-05-29 08:26] alirezaghey commented on #42294
https://www.freecodecamp.org/learn/apis-and-microservices/managing-packages-with-npm/manage-npm-dependencies-by-understanding-semantic-versioning
https://www.freecodecamp.org/learn/apis-and-microservices/managing-packages-with-npm/use-the-tilde-character-to-always-use-the-latest-patch-version-of-a-dependency
https://www.freecodecamp.org/learn/apis-and-microservices/managing-packages-with-npm/use-t

[2021-05-29 16:03] #42262 closed

[2021-05-29 16:43] gikf commented on #42294
Instead of replacing Moment.js in challenges with another package, maybe just remove or change that note? Main point of these challenges is to learn how to use `npm`, this isn't really affected by the fact Moment.js will not be getting any new features.

[2021-05-29 18:16] vipranarayan14 commented on #40472
This is my first time here. I completed the "JavaScript Algorithms and Data Structures" Certification a few days ago. I learnt a lot. I thank you all very for creating and maintaining this wonderful platform.

This issue seems to be a simple one. I would like to help you with it.

[2021-05-29 19:45] HarshitPatel25 commented on #42294
Learn how to use npm.

[2021-05-30 00:12] bbsmooth opened #42304 "Remove or Update: Applied Accessibility/Use tabindex to Specify the Order of Keyboard Focus for Several Elements"
**Affected page**
https://www.freecodecamp.org/learn/responsive-web-design/applied-accessibility/use-tabindex-to-specify-the-order-of-keyboard-focus-for-several-elements

**Issue**
This lesson instructs the user to use a tabindex value greater than 0 which is an accessibility anti-pattern and strongly discouraged by accessibility experts. Furthermore, I feel it implies that using a positive value

[2021-05-30 01:10] allwrittenon opened #42305 "HTML 5 - Introduction to HTML 5 Elements"
It's asking for:

HTML5 introduces more descriptive HTML tags. These include main, header, footer, nav, video, article, section and others.

These tags give a descriptive structure to your HTML, make your HTML easier to read, and help with Search Engine Optimization (SEO) and accessibility. The main HTML5 tag helps search engines and other developers find the main content of your page.

Example us

[2021-05-30 01:11] #42305 closed

[2021-05-30 08:23] ShaunSHamilton commented on #42304
@bbsmooth Thank you, for taking the time to provide refs, and your detailed recommendation.

I strongly believe this lesson should not be removed, as `tabindex` is a useful, and frequently used attribute. Your point on using a positive integer in the lesson/challenge makes sense. So, I would think the best course of action be to change the examples to include the use of `-1`, and the instructions

[2021-05-30 09:07] kkralik opened #42307 "proposal for changing the example plot image"
**Affected page**
https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-projects/page-view-time-series-visualizer

My solution (passing tests with smaller figure sizes):
https://replit.com/@kkralik/boilerplate-page-view-time-series-visualizer#test_module.py

The provided example plot is:
![Figure_3](https://user-images.githubusercontent.com/75544188/120097818-78898