[2021-07-25 13:33] ShaunSHamilton commented on #43006
Seems `@babel/eslint-parser` allows it: https://astexplorer.net/#/gist/4155e2fa3e78133802cecb4ace3ceadb/6e051ec87a3c59b4e1428a60009b19e9ad5e971d

[2021-07-25 15:28] ieahleen commented on #42890
it works, closing the issue

[2021-07-25 15:28] #42890 closed

[2021-07-25 15:30] moT01 opened #43010 "Update README to link to specific blocks"
The links to curriculum blocks in the [main README file](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/README.md#1-responsive-web-design-certification) all just link to the top of the superblock page. We could link to the specific blocks with something like https://www.freecodecamp.org/learn/responsive-web-design/#basic-html-and-html5. Unless there's a reason we wouldn't want to do that,

[2021-07-25 15:58] ShaunSHamilton commented on #43010
Probably no reason, bar it is _slightly_ more maintenance if any block link changes - hardly a reason not to.

[2021-07-26 09:30] #43010 closed

[2021-07-26 19:55] #42938 closed

[2021-07-26 21:15] lasjorg commented on #43004
@ShaunSHamilton The behavior is not something I have seen before, or at least not to the extent we are seeing it right now. What was the reply back from the Replit team when reporting this? Did it get escalated or just dropped? It seems like an obvious bug on their end that needs to be fixed.

Not really sure I see how closing this issue is helpful. At least people can find the issue and we can tr

[2021-07-26 21:41] lasjorg commented on #43006
The issue is, it is allowing for invalid syntax and making tests pass that should fail.

[2021-07-26 21:56] ShaunSHamilton commented on #43004
As far as I am aware, it is still an open ticket on their end. I have gotten replies concerning a more recent ticket, but not this.

[2021-07-26 21:58] ShaunSHamilton commented on #43006
Right. Short of adding onto the plugin, I cannot think of a way to resolve this.

[2021-07-26 22:17] ojeytonwilliams commented on #43006
Sounds like we'd have to check the source and use regex, which isn't great.

[2021-07-27 02:20] Lochoa11 opened #43027 "Missing word in APIs and Microservices Intro"
https://github.com/freeCodeCamp/freeCodeCamp/blob/6fac38ef7d724efc469f7918a9e5013210e1f39c/client/i18n/locales/english/intro.json#L293

In this paragraph it seems like the word "apps" in line **293** it could want to say `...write back end-ready apps with Node.js...`

[2021-07-27 02:26] scissorsneedfoodtoo commented on #39595
Hi @NikIvan, thanks for your feedback.

I think a good first step would be to update the wording for this challenge to the following, which is based on @SaintPeter's suggestion above:

for the session middleware, near where we set `saveUninitialized: true`. This is necessary to tell Socket.IO which session to relate to.

If you're interested in implementing this fix, please check out our documenta

[2021-07-27 02:53] TharisikaSivaraja commented on #17420
.penguin {

    **/* Only change code below this line */
    --penguin-skin: _gray_;
    --penguin-belly: _white_;
    --penguin-beak: _orange_;
    /* Only change code above this line */**

    position: relative;
    margin: auto;
    display: block;
    margin-top: 5%;
    width: 300px;
    height: 300px;
  }
![Screenshot from 2021-07-27 08-22-02](https://user-images.githubusercontent.com/86947

[2021-07-27 03:39] gikf commented on #43004
From my understanding it still should be possible to run project manually (without using the RUN button) with:
[code]
But that's less convenient for beginners.

[2021-07-27 08:53] Sembauke commented on #43027
Issues labelled with help wanted or first timers only are open for contributions.

Please make sure you read our guidelines for contributing. Join us in our chat room or the forum if you need help contributing, our moderators will guide you through this.

[2021-07-27 09:27] #42861 closed

[2021-07-27 09:54] ahmadabdolsaheb commented on #41074
It was working well for me for 4- 5 months. I went ahead and updated the azuracast azurarelay and all their vms, and will be remove and read the components to isolate the issue locally.

[2021-07-27 14:12] moT01 commented on #38540
Only thing left to fix here is the demo projects it looks like. If we fix those two, we can get this closed and create new issues for individual icons as we find more.

[2021-07-27 14:16] moT01 commented on #38609
Do we still want to do this @mrugesh? Or would we be fine to just use that naming scheme moving forward so we can close this?

[2021-07-27 14:20] ojeytonwilliams commented on #38626
This is pretty stale and has been complicated by the TypeScript migration and the need for additional tooling: https://github.com/freeCodeCamp/freeCodeCamp/issues/42892

[2021-07-27 14:20] #38626 closed

[2021-07-27 14:20] moT01 commented on #38711
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-07-27 14:20] #38711 closed

[2021-07-27 14:26] #38850 closed

[2021-07-27 14:27] nhcarrigan commented on #38540
I'll tackle fixing those today.

[2021-07-27 14:36] moT01 commented on #39043
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-07-27 14:36] #39043 closed

[2021-07-27 14:40] moT01 commented on #39060
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-07-27 14:40] #39060 closed

[2021-07-27 14:51] moT01 commented on #39127
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-07-27 14:51] #39127 closed

[2021-07-27 14:57] moT01 commented on #39128
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-07-27 14:57] #39128 closed

[2021-07-27 15:03] moT01 commented on #39135
Is this still an issue @adil-s?

[2021-07-27 15:18] moT01 commented on #39202
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-07-27 15:18] #39202 closed

[2021-07-27 15:20] moT01 commented on #42962
Thanks for the suggestion @AbhinavXT, but I don't think we will be implementing this feature. I recommend using your browsers bookmarks to save articles you want to go back to.

[2021-07-27 15:20] #42962 closed

[2021-07-27 15:35] #39094 closed

[2021-07-27 18:49] HOuadhour commented on #41323
Hello @ShaunSHamilton

I've tried to create the 5th test for this project.
But I've got a (Test timed out)

I don't know because if it is because of the implementation of my code.
Or also The post request doesn't return a JSON it will do a redirect, and that redirect will do another get request.

I think this is a problem in general.

Here is my code.

I did a GET request at the beginning to get a

[2021-07-27 21:03] ahmadabdolsaheb commented on #41078
Having additional visualizers is a great idea; however I will close this feature request for now due to lack of interest.

We could revisit this feature once there is sufficient demand for it.

[2021-07-27 21:03] #41078 closed

[2021-07-28 00:31] #42991 closed

[2021-07-28 07:28] #43027 closed

[2021-07-28 12:32] digenaldo commented on #39190
I had the same problem, I managed to fix it with the following configuration in package.json:

[code]

[2021-07-28 13:29] kattmina commented on #42256
I have a delay - personal issues - I'm starting work on refactor this week, just letting you know. My apologies!

[2021-07-28 13:36] ojeytonwilliams commented on #42256
Thanks for keeping us posted, @kattmina.  Don't worry about the delay - take your time.

[2021-07-28 14:44] DanCouper opened #43049 "Unclear requirement on microservices/apis timestamp project"
## Affected page

Challenge on learn:

https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/timestamp-microservice

Challenge .md:

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/timestamp-microservice.md

## Your code

n/a

## Expected behavior

n/a

## Screenshots

[2021-07-28 14:54] ieahleen opened #43050 "Use Caution When Reinitializing Variables Inside a Loop needs stronger tests"
## Affected page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/debugging/use-caution-when-reinitializing-variables-inside-a-loop

## Your code

[code]

[code from this forum topic https://forum.freecodecamp.org/t/reinitializing-variables-inside-a-loop-solution/471296 ]
## Expected behavior

It shouldn't pass.

## Additional context

Maybe we need to add one other te

[2021-07-28 15:05] ieahleen opened #43051 "Arithmetic Arranger test suite diff output can be improved"
The test suite for the [Arithmetic Arranger project](https://www.freecodecamp.org/learn/scientific-computing-with-python/scientific-computing-with-python-projects/arithmetic-formatter) doesn't always have a well formatted diff

example:
![image](https://user-images.githubusercontent.com/26656284/127345705-d407af4c-691a-49e2-ac69-16a270b827d8.png)

I would expect to see it as
[code]

(note the last

[2021-07-28 16:16] Nirajn2311 commented on #43050
Yes, I agree that adding another test with different arguments will prevent the hardcoding issue. I'll go ahead and mark this as a first timers issue.

[2021-07-28 17:01] gikf commented on #43051
The output comes from the python's built-in `unittest` module. There is actually few bugs related to the `unittest` output on the python bugtracker. So changing it from this angle might not be straightforward.

A bit quick and dirty way might be splitting the strings in tests on the new-line character and compare them as two lists instead. Output for the above test would be:
[code]

Other option c

[2021-07-28 17:22] #38540 closed

[2021-07-28 17:53] QuincyLarson opened #43054 "Fix lighthouse accessibility issues for publication"
We only have 2 outstanding accessibility issues with freeCodeCamp's publication. If we can finish these, we will get the coveted 100% accessibility score 😄

![Cursor_and_How_to_Use_Webmentions_with_Gatsby_js_–_A_Beginner_s_Guide](https://user-images.githubusercontent.com/985197/127372096-9ae71c2e-b934-484e-b320-48bee3e76a12.png)

[2021-07-28 18:53] ieahleen commented on #43051
`pytest` seems much more clear

[2021-07-28 23:49] lasjorg opened #43058 "Allow bracket notation in Implementation of Social Authentication II"
[code]

Challenge: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/implementation-of-social-authentication-ii.md

Forum post: https://forum.freecodecamp.org/t/couldnt-pass-the-test-github-strategy-should-be-setup-correctly-thus-far/471350

[2021-07-29 00:17] moT01 opened #43060 "Cert renders differently depending on how you get there"
If you go to a certification that opens in the same tab, it has some padding at the bottom. Currently that would be by going to your settings page and opening a cert, or going to one of the superBlock pages where you have a cert and opening it:
![Screen Shot 2021-07-28 at 7 11 59 PM](https://user-images.githubusercontent.com/20648924/127412163-552b5b05-62c9-4453-8ce8-b0c1d3e2ce6f.png)

If you navi

[2021-07-29 01:08] ManasviGoyal commented on #43050
i would like to work on this. can you pls help me get started?

[2021-07-29 01:17] agracy2246 commented on #39572
Hi, I'm continuously getting 404 back on the passport-github section, when I am supposed ot be getting a profile. Any suggestionsd?

[2021-07-29 02:38] scissorsneedfoodtoo commented on #39572
Hi @agracy2246, for help with the coding challenges, please check out the forum at https://forum.freecodecamp.org. The contributors there are very active, and can help answer any questions you might have.

[2021-07-29 04:11] huyenltnguyen commented on #41074
Thanks, Ahmad! Let me know if you find anything suspicious.

On my end, I recently found that the issue sometimes can self-recover after 2 or 3 hours of stoppage. Though I wasn't consciously aware or keeping track of this, so I don't have any concrete conclusion yet.

[2021-07-29 06:45] ieahleen commented on #43050
Hello @ManasviGoyal,
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any

[2021-07-29 06:51] ieahleen opened #43064 "Making test function call visible in test text"
Continuing from https://github.com/freeCodeCamp/freeCodeCamp/pull/43052#issuecomment-888585380

This is a challenges with the function call used in the test not being visible in the test text. There may be others.
The test text should include the function call used.

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/ba

[2021-07-29 06:56] huyenltnguyen commented on #41074
I saw some errors in my console, not sure if they are thrown at the time the music stops, but I did a quick search and found a lot of search results for this. It appears to be a WebSocket-on-Firefox issue. This could at least explain my experience with CodeRadio since I have been using it mostly on Firefox, but I'll try with Chrome to see how the app performs there.

<img width="1680" alt="Screen

[2021-07-29 08:54] miyaliu666 opened #43067 "Translate the hints of challenges"
## Is your feature request related to a problem? Please describe.

Now it points to a Chinese forum post and shows nothing when people click "Get a Hint" button in the challenge of Chinese curriculum, for example, [this post](https://chinese.freecodecamp.org/forum/t/18276) ([the corresponding English post](https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-say-hello-to-html-elements/182

[2021-07-29 10:34] ojeytonwilliams commented on #43067
It should be possible to create something analogous to our current workflow, as long as the Discourse API allows it.  i.e. GET the current articles for upload and then POST the translations once they're approved.

Nick probably has a better idea about this than I do, though.

[2021-07-29 11:56] #40402 closed

[2021-07-29 12:38] NikIvan commented on #39595
I have opened PR.
Also, in my humble opinion, **Advanced Node and Express** has at least one more thing to improve.

There's no explanation of why do we add `store` as `MongoStore` and why do we need it.  I think it would be cool to extract this part into separate lesson and explain difference (pros and cons) between in-memory (by default) storage of session versus storing sessions in database.

P

[2021-07-29 15:41] nhcarrigan commented on #43067
The biggest challenge is going to be figuring out how to update the front matter in the curriculum files to link the appropriate forum post.

[2021-07-29 15:45] raisedadead commented on #43067
I think a really long time ago in one of our conversations with Randy, it was deliberated that the complexity & time involved in working on a way to translate the hint comments, vs working on the new editor & new curriculum was not worth it.

But I could be wrong.

[2021-07-29 16:37] moT01 commented on #43064
I'm not sure I understand here @ieahleen. Are you referring to this test:
[code]

How it doesn't say what exactly is being tested? The text should be more specific?

[2021-07-29 17:45] ieahleen commented on #43064
Sorry, it's this one:
All elements from the first array should be added to the second array in their original order.
assert.deepEqual(frankenSplice([1, 2, 3, 4], [], 0), [1, 2, 3, 4]);

it happens that users use ways that don't agree with an empty array, but fail to understand why it is failing, and the only way for them to see that it was an empty array was to use `console.log(arr1, arr2)` inside

[2021-07-30 06:39] scissorsneedfoodtoo commented on #43054
I was able to fix some of the issues in the [affected article](https://www.freecodecamp.org/news/how-to-use-webmentions-with-gatsby-beginners-guide/), and fixed what I could:

![image](https://user-images.githubusercontent.com/2051070/127600743-2cb1ea61-75d4-45ca-a8b6-749b4df6b164.png)

The last issue is referring to the contrast of some of the Prism.js code highlights. This is also an issue on /l

[2021-07-30 06:39] #43054 closed

[2021-07-30 07:38] ojeytonwilliams commented on #43067
That's probably true, but what do we want to do with the "Get a Hint" button?  Some options:

- Link to the English page
- Remove that button for the Chinese challenges

[2021-07-30 14:08] meronokbay commented on #42256
Can I pick up these two?
[code]

[2021-07-30 14:44] tanrax opened #43079 "Bad RSS Spanish"
In my RSS reader I couldn't see the latest Spanish-language articles, and as far as I can see it's a problem with the date. Currently it looks like this.

`<pubDate>mié., 14 jul. 2021 13:00:00 +0000</pubDate>`

But it should be the day of the week and mouth in English, capitalize and without the dot.

`<pubDate>Wed, 14 Jul 2021 13:00:00 +0000</pubDate>`

RSS Specification: https://www.rssboard.org

[2021-07-30 15:36] Sembauke commented on #42256
Yes I will ad you in!

[2021-07-30 15:46] #41967 closed

[2021-07-30 17:53] knrodriguez opened #43081 "Incorrect Auto-Translation"
## Issue
It seems the auto-translation for the Learn How to Deploy 12 Apps to AWS, Azure, & Google Cloud article by Beau Carnes is incorrect, and discusses a flexbox tutorial.

## Affected page

https://www.freecodecamp.org/news/learn-how-to-deploy-12-apps-to-aws-azure-google-cloud/

## Screenshots

![screenshot_docker_video_transcript](https://user-images.githubusercontent.com/18505368/127692800-

[2021-07-31 18:15] Fin2021 opened #43091 "Camp Test"

[2021-07-31 18:17] ieahleen commented on #43091
Please use your own repo for testing purposes

[2021-07-31 18:17] #43091 closed

[2021-08-01 07:41] iLtc commented on #43067
I think linking to the English page is better~

[2021-08-01 09:15] miyaliu666 commented on #42966
It works for me on Safari. I'll let the user check his browser or change another one. Thanks!

[2021-08-01 10:30] ieahleen commented on #43081
Thank you, I have notified the editorial team about this

[2021-08-01 10:32] ieahleen commented on #43064
So to add, I think the test text should be something like

The original text could be changed to be this, or the two could be combined in some way

[2021-08-01 23:53] ShamimRahmanSam commented on #17922
I'm having the same problems. I used your solutions though it's not working @thecodingaviator

[2021-08-02 02:22] scissorsneedfoodtoo commented on #17922
Hi @ShamimRahmanSam, I just checked this and the solution above is working in Chrome and Firefox on my end.

Please check your code for typos and check out the forum for help.

If you're still having issues after doing those things, please let us know and we can look further into this.

[2021-08-02 02:33] scissorsneedfoodtoo commented on #39595
Hi @NikIvan, thanks for those suggestions and for your PR. We'll review it as soon as we can.

At the moment, we're trying not to add any lessons to the curriculum unless absolutely necessary. I could see there being a quick explanation of those points in "Set Up Passport", but it's probably not necessary to add another lesson to go into the pros and cons of storing the session in-memory vs in the

[2021-08-02 10:19] huyenltnguyen opened #43098 "Remove react-hotkeys from Code Radio to reduce its bundle size"
## Affected page

https://coderadio.freecodecamp.org/

## To reproduce

I made a spot check on the bundle size as I was looking for some way to optimize the Code Radio app. And I found that `react-hotkeys` is taking a significant amount of the bundle size.

<img width="1680" alt="Screen Shot 2021-08-02 at 16 22 31" src="https://user-images.githubusercontent.com/25715018/127841808-a2a0cf3a-99ba-485

[2021-08-02 13:57] NikIvan commented on #39595
Not sure if we should continue conversation about user names issue in this topic but just to clarify:
With current logic if we try to make conversation between GitHub registered users and signup form registered users - one group of users would have same name `undefined` in chat because on client side we relate to either `name` or `username`.

From my understanding there are 3 ways to fix this:
- a

[2021-08-02 15:24] victor-duarte commented on #43098
@huyenltnguyen, currently there are a couple of items that are affected by hot keys listening to `space bar` for playing the music.

If the library is removed or not, the following items should be looked into:

- When pressing `space bar` on an focusable item, the action of the element is triggered and also the music is toggle. E.g history button; the menu opens or closes and the music also. I wou

[2021-08-02 16:23] DanielRosa74 commented on #43064
A suggestion to try to make the description a little clearer:

[2021-08-02 17:37] #43050 closed

[2021-08-02 18:13] beaucarnes commented on #43081
Fixed now!

[2021-08-02 18:13] #43081 closed

[2021-08-02 21:04] huyenltnguyen opened #43102 "Typos in function name"
There are some typos in function name in the Code Radio app: `stopCurrenttInterval` and `toggleIntterval`.

We should change `stopCurrenttInterval` to `stopCurrentInterval`, and `toggleIntterval` to `toggleInterval` instead.

Links to the code:
- https://github.com/freeCodeCamp/coderadio-client/blob/main/src/components/Footer.js#L51
- https://github.com/freeCodeCamp/coderadio-client/blob/main/src/

[2021-08-02 21:06] huyenltnguyen commented on #43102
This issue is open for first-time code contributors only.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). Join us in [our chat room](https://chat.freecodecamp.org/channel/contributors) or [the forum](https://forum.freecodecamp.org/c/contributors/3) if you need help contributing, our moderators will guide you through this.

Sometimes we may get

[2021-08-02 21:16] huyenltnguyen commented on #43098
Thanks @victor-duarte! The collision between the history button and the music player is actually new to me. You have found a bug there.

I'll be sure to address it and keep the app working as expected after the package removal :)

[2021-08-03 04:26] suryakantpandey commented on #43102
I would love to work on this issue

[2021-08-03 05:15] suryakantpandey commented on #43102
I have created a pull request with the required changes  https://github.com/freeCodeCamp/coderadio-client/pull/173
please have a look

[2021-08-03 11:27] ShaunSHamilton commented on #43049
Hey Dan,

I feel like I am missing some of the context for what the issue is. Would you mind sharing the forum thread link?

I would propose: The intent behind the test is:
- Not provide the actual used date (input), to prevent a Camper from feeling the need to hard-code
- As stated, not test every acceptable case, but expect the Camper to use the built in Date object API, and accept a common date

[2021-08-03 11:58] ShaunSHamilton commented on #39595
I agree with this. It would be wonderful, if we could go into full detail about all the ins-and-outs of Node/Express + Socketio. However, there is little bandwidth for changing the current lessons to do such, and I would discourage large amounts of effort being put into re-working the current version of the curriculum.

The `name`/`username` issue is being tracked here: https://github.com/freeCode

[2021-08-03 14:09] moT01 commented on #39257
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-03 14:09] #39257 closed

[2021-08-03 14:12] moT01 commented on #39277
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-03 14:12] #39277 closed

[2021-08-03 14:20] moT01 commented on #39321
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-03 14:20] #39321 closed

[2021-08-03 14:21] moT01 commented on #39671
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-03 14:21] #39671 closed

[2021-08-03 14:32] moT01 commented on #39668
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-03 14:32] #39668 closed

[2021-08-03 14:32] moT01 commented on #39471
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-03 14:32] #39471 closed

[2021-08-03 14:36] moT01 commented on #39531
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-03 14:36] #39531 closed

[2021-08-03 14:42] moT01 commented on #39590
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-03 14:42] #39590 closed

[2021-08-03 14:42] moT01 commented on #39591
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-03 14:42] #39591 closed

[2021-08-03 14:44] moT01 commented on #39597
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-03 14:44] #39597 closed

[2021-08-03 14:45] moT01 commented on #39599
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-03 14:45] #39599 closed

[2021-08-03 14:46] ojeytonwilliams commented on #39574
So, this has been sitting here for a while.

How about this for a relatively modest plan?

- [ ] convert all react-test-renderer tests to use react-testing-library

[2021-08-03 14:47] moT01 commented on #39617
Looks like this is fixed 👍

[2021-08-03 14:47] #39617 closed

[2021-08-03 14:47] moT01 commented on #39635
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-03 14:47] #39635 closed

[2021-08-03 14:53] moT01 commented on #39638
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-03 14:53] #39638 closed

[2021-08-03 14:57] moT01 commented on #39658
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-03 14:57] #39658 closed

[2021-08-03 15:01] moT01 commented on #39711
Thanks for the input, we will not be adjusting the existing challenges this much anymore in favor of the project based curriculum in the works. Thanks and happy coding 🎉

[2021-08-03 15:05] moT01 commented on #39737
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-03 15:05] #39737 closed

[2021-08-03 15:18] moT01 opened #43105 "What do we want to log in our console"
I made [a PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/43052) to update how the console behaved, but I think it could use some more discussion first.

[2021-08-03 15:26] ojeytonwilliams commented on #43105
One option:

[code]

[2021-08-03 16:56] robole commented on #39737
Hi @Mo1914 ,

It's a valid issue and no action was taken. Closing it just means you are choosing to ignore the issue. I would check with other people before doing this.

@ShaunSHamilton @ahmadabdolsaheb What do you think?

[2021-08-03 17:01] #43102 closed

[2021-08-03 17:30] ShaunSHamilton commented on #39737
@robole Thank you, for checking up. This issue was closed as part of a team meeting where many issues were closed after discussing them.

The main point to close was this being a feature request that is not openly requested by freeCodeCamp users, and wrapping table content could be just as easily seen as undesirable - it boils down to personal preference.

As an author, I would suggest you contact

[2021-08-03 17:45] robole commented on #39737
hi @ShaunSHamilton

I would give this context next time you close issues. Otherwise it can be interpreted like an issue is being ignored.

I spoke with abbey about this already. I removed a table from an article because it was too hard to read (as per screenshot). I avoided using a table in a subsequent article for this reason. This is a bug IMO, but it is your decision.

All the best

[2021-08-03 17:56] moT01 commented on #39737
Hey @robole, sorry for the lack of context. As @ShaunSHamilton pointed out, it's sort of a preference - if we wrap the text, there may be suggestions to unwrap it. Some tables will look better with wrapping text, and some not.

We can always open the issue back up if we want to discuss it further.

[2021-08-04 00:33] Laserbase opened #43110 "Cash Register Challenge - Remove ambiguities"
## Affected page

[javascript-algorithms-and-data-structures-projects/cash-registe](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-projects/cash-register)

# Problem

This issue has been raised in response to the following thread.
[unhandled-condition-in-cash-register-problem](https://forum.freecodecamp.org/t/unhandled-conditi

[2021-08-04 15:12] ojeytonwilliams opened #43114 "Curriculum refactor"
- [ ] remove the markdown files in client/src/pages/learn
- [ ] remove the redundant parts of the curriculum/schema/challengeSchema.js
- [ ] check if the numbers in say: curriculum/challenges/english/01-responsive-web-design can be removed without requiring re-approval of translations.

[2021-08-05 05:12] scissorsneedfoodtoo commented on #43079
Thanks for reporting this @tanrax.

I took a look and there doesn't seem to be a good way to fix this at the moment.

To get and format the dates, we use Ghost's [`date`](https://ghost.org/docs/themes/helpers/date/) helper, which uses Moment.js for localized dates under the hood. The `date` helper picks up the site language from the Ghost settings, and sets the locale Moment.js uses based on that.

[2021-08-05 13:24] christianztamayo commented on #42946
@ShaunSHamilton I'd like to take a stab at this. Would editing `authUser` or `blankUser`'s `acceptedPrivacyTerms` to `false` break other tests?

[2021-08-05 13:30] ShaunSHamilton commented on #42946
@christianztamayo Thank you, for your interest in contributing.

Off the top of my head, yes. (_maybe not `blankUser`_) The easiest way to find out would be to change it and locally run the tests.

[2021-08-06 04:52] #38959 closed

[2021-08-06 05:27] connersmartin commented on #43049
I think the problem might be that the test is specifically looking for `00:00:00 GMT`  where `toUTCString()` uses the user time zone. So in PST I was getting:
` 05 October 2011
{"unix":1317798000000,"utc":"Wed, 05 Oct 2011 07:00:00 GMT"}`
so it didn't pass until I added `dateVar.setUTCHours(0)`
and got
`05 October 2011
{"unix":1317772800000,"utc":"Wed, 05 Oct 2011 00:00:00 GMT"}`

[2021-08-06 12:17] #42396 closed

[2021-08-06 13:14] #43058 closed

[2021-08-06 15:42] Sembauke commented on #43105
What about this?

[code]

[2021-08-07 11:05] saba06 opened #43138 "Remove an Element from a Max Heap"
## Affected page

https://www.freecodecamp.org/learn/coding-interview-prep/data-structures/remove-an-element-from-a-max-heap
## Your code

[code]

## Expected behavior

insert method to add according to maxheap rules
## Screenshots

## System

- Device: laptop [e.g. iPhone6, Laptop]
- OS: Windows 10[e.g. iOS 14, Windows 10, Ubuntu 20.4]
- Browser: chrome [e.g. chrome, safari]
- Version: [e.g. 22]

[2021-08-07 16:13] #39233 closed

[2021-08-07 17:22] Jdanom commented on #39668
I've been trying to do this challenge for hours  I didn't know why links were not working read somewhere that inserting this
snippet  at the top of the pen

<style>
    section { height: 100vh; }
</style>

found out that it fixes the issue but it overflows the whole page ( I don't know why I'm just a newbie)

[2021-08-07 20:06] jdwilkin4 opened #43141 "Modify instructions for Nest an Anchor Element within a Paragraph challenge"
The [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph) comes up a lot in the forum.

It has come up over 50 times in the past couple of months.
https://forum.freecodecamp.org/search?q=Challenge%3A%20Nest%20an%20Anchor%20Element%20within%20a%20Paragraph%20after%3A2021-05-01

Most people

[2021-08-07 20:36] ShaunSHamilton commented on #43141
I would be happy to try this, but I suspect there will be little noticeable affect:

\- _Many people_

[2021-08-08 04:11] gikf commented on #43141
I came here to propose adding explicit test checking for number of `a` elements, but then noticed there's one already. Then perhaps rewording description of that test could help?

There should be only one `a` element.

[2021-08-08 06:43] Shigosag commented on #12722
This worked for me:
`/fiverr/`
`/*fiverr*/`

[2021-08-09 02:37] doineedthis opened #43151 "Translation mistake - cadena con valor 9000"
## Affected page

https://www.freecodecamp.org/espanol/learn/javascript-algorithms-and-data-structures/basic-javascript/understanding-case-sensitivity-in-variables

## Your code

[code]

## Expected behavior

There is a translation mistake in the third test case, where it says: "titleCaseOver debe definirse y tener una cadena con valor 9000". There it is implied that a string value must be assigne

[2021-08-09 07:25] #39595 closed

[2021-08-09 09:40] ieahleen commented on #43151
Thank you for your report, I will the translation team know.
If you want to join in the translation efforts you can join the Spanish chat room at https://chat.freecodecamp.org/channel/espanol

[2021-08-09 11:52] ieahleen commented on #43141
We have the same issue on this other challenge: https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/use-the-value-attribute-with-radio-buttons-and-checkboxes

People keep creating new elements instead of adding the `value` attribute to the existing elements

[2021-08-09 13:05] #43151 closed

[2021-08-09 13:28] jdwilkin4 commented on #43141
@ieahleen That challenge comes up a lot too.

@ShaunSHamilton I see your point about people not wanting to read directions. Hopefully we get a few people to notice it though .

[2021-08-09 14:34] Sembauke commented on #42528
Hey @gikfk, Are you still planning on working on this?

[2021-08-09 15:38] gikf commented on #42528
Hey @Sembauke, sorry, I haven't managed to start on this yet. If you'd want feel free to have a go at it.

[2021-08-10 14:12] moT01 commented on #39765
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-10 14:12] #39765 closed

[2021-08-10 14:14] moT01 commented on #39825
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-10 14:14] #39825 closed

[2021-08-10 14:16] moT01 commented on #39828
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-10 14:16] #39828 closed

[2021-08-10 14:17] moT01 commented on #39966
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-10 14:17] #39966 closed

[2021-08-10 14:21] moT01 commented on #40051
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-10 14:21] #40051 closed

[2021-08-10 14:22] moT01 commented on #40158
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-10 14:22] #40158 closed

[2021-08-10 14:26] moT01 commented on #40180
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-10 14:26] #40180 closed

[2021-08-10 14:30] moT01 commented on #40183
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-10 14:30] #40183 closed

[2021-08-10 14:34] moT01 commented on #40260
We will adress this with the new project based curriculum. The current curriculum is not getting new additions in favor of that. If you think this is still an issue - feel free to leave a comment, and it can be reopened. Thanks and happy coding 🎉

[2021-08-10 14:34] #40260 closed

[2021-08-10 14:43] moT01 commented on #40372
The Chinese forum is linking to the Chinese learn. The rest of the forum languages are sub-categories of the English forum - not sure if we can do anything about that or if it can be any better than it is at the moment. Close this?

[2021-08-10 14:55] moT01 commented on #40408
This process is in place - probably good to close.

[2021-08-10 14:55] #40408 closed

[2021-08-10 15:03] #40600 closed

[2021-08-10 15:04] nhcarrigan commented on #40695
Closing as resolved via https://github.com/freeCodeCamp/freeCodeCamp/pull/41186

[2021-08-10 15:04] #40695 closed

[2021-08-10 15:13] ojeytonwilliams commented on #39980
More discussion in: https://github.com/freeCodeCamp/freeCodeCamp/issues/40702

[2021-08-10 15:14] ojeytonwilliams commented on #40702
Closing since it's covering the same issues as https://github.com/freeCodeCamp/freeCodeCamp/issues/39980

[2021-08-10 15:14] #40702 closed

[2021-08-10 15:17] Sembauke commented on #43141
I think we can try this out and see if it helps @jdwilkin4

[2021-08-10 15:18] ojeytonwilliams commented on #40454
Since https://github.com/freeCodeCamp/freeCodeCamp/pull/42519 means that any resizing you do will be persisted between challenges and reloads, I think this problem is mitigated somewhat.

[2021-08-10 15:18] #40454 closed

[2021-08-10 16:43] Nirajn2311 commented on #43141
There's no harm in adding a small note at the end of the instructions. It might even clarify any doubt a user has.

[2021-08-10 16:45] #40332 closed

[2021-08-10 17:55] nhcarrigan commented on #40319
Once all of these are merged, this issue can be closed. 🙂

[2021-08-10 18:04] #40319 closed

[2021-08-11 00:01] doineedthis opened #43174 "Translation mistake - "This is the start.""
## Affected page

[https://www.freecodecamp.org/espanol/learn/javascript-algorithms-and-data-structures/basic-javascript/concatenating-strings-with-plus-operator](url)

## Your code

[code]

## Expected behavior

I think there is a translation mistake in the instruction where it says "This is the start." instead of "This is the start. ".
I think it could lead to errors when copying and pasting phr

[2021-08-11 06:04] scissorsneedfoodtoo commented on #38837
Thanks again @krisb1220 for all of these details and everyone else for your input.

Some general notes:
- We decided to remove Mongo, Mongoose, some other dependencies, and the Node version from the boilerplates and allow learners to install them as they work on the projects. This will allow for some extra practice with the command line and setup, and prevent us from having to review and merge pac

[2021-08-11 06:31] ieahleen commented on #43174
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #42455, so we are closing it as a duplicate.

If you think we're wrong in closing this issue, please request for it to be reopened and add further clarification. Thank you and happy coding.

[2021-08-11 06:31] #43174 closed

[2021-08-11 06:32] ieahleen commented on #42455
@patlehmann1

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues

[2021-08-11 09:39] gikf commented on #43138
I believe you are correct there's something wonky with the code. This may apply to two other challenges involving heap as well. I'm not entirely sure just changing the line 10 is enough to make it behave as it should.

[2021-08-11 13:26] ojeytonwilliams opened #43180 "Menu does not scroll on mobile"
## Affected page

https://www.freecodecamp.org and all sub-paths

## To reproduce

Steps to reproduce the behavior:

1. Go to https://www.freecodecamp.org on mobile with a small screen
2. Click on the menu button in the top right
3. See that the menu disappears off the bottom of the screen.

## Expected behavior

It should be possible to scroll within the menu if it's larger than the viewport.

##

[2021-08-11 14:54] Sembauke commented on #43105
What do you think @ojeytonwilliams?

[2021-08-11 15:00] #43064 closed

[2021-08-11 15:12] ojeytonwilliams commented on #43105
I do like that idea.  It's similar to something Randy suggested a while back.  I think this is something we could do independently of the option I suggested.

[2021-08-11 16:36] heysujal opened #43182 "Site logo and Menu overlapping for smaller screen sizes"
## Affected page

[Homepage](https://www.freecodecamp.org/)

## To reproduce

Steps to reproduce the behavior:

1. Go to https://www.freecodecamp.org/ on mobile device.
2. Or open chrome dev tools to view site for smaller screen size.
3. On decreasing the screen size the menu button overlaps with the logo which starts at screen size <418px. On decreasing size further for screen size <=300 it behav

[2021-08-11 16:52] ShaunSHamilton opened #43184 "Exercise Tracker Test and Description Improvement"
Following on from https://github.com/freeCodeCamp/freeCodeCamp/pull/43169#pullrequestreview-727412932, ideally, we would like to remove the massive amount of description needed on the [Exercise Tracker](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/05-apis-and-microservices/apis-and-microservices-projects/exercise-tracker.md).

**Expected Outcome**
- Campers

[2021-08-11 17:17] #43180 closed

[2021-08-11 17:24] ShaunSHamilton commented on #43182
Hello there,

Thank you, for taking the time to help the freeCodeCamp community. This issue has been resolved with: https://github.com/freeCodeCamp/freeCodeCamp/pull/43176

The fix is in staging, but has yet to be pushed to production.

As such, I am closing this as shipping. Thank you 🙂

[2021-08-11 17:24] #43182 closed

[2021-08-11 17:54] RafaelDavisH commented on #43151
@doineedthis Thank you for pointing this mistake. This and others similar to these strings have been corrected. Please, do continue to point out any mistake that you find.

[2021-08-11 20:30] jdwilkin4 opened #43185 "Incorrect solution provided for Divide the Grid Into an Area Template challenge"
A user on the forum had trouble passing a challenge using a solution provided in the video.
I led them to the correct solution but the video seems to be referencing a different challenge.
Even the hint page is incorrect and provides these instructions.

"Since the challenge requires you to make the cell labeled advert into an empty cell, change advert to a . (period) so that the code reflects the

[2021-08-11 21:20] ShaunSHamilton commented on #43185
Hey Jessica,

This appears to have gone out of sync with: https://github.com/freeCodeCamp/freeCodeCamp/pull/43059

I have updated the Guide Post, but this is open for contribution to _first timers_ to remove the video:

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign is

[2021-08-12 13:08] #40405 closed

[2021-08-12 13:16] Sembauke commented on #42175
Closing this as a duplicate of #43067

[2021-08-12 13:16] #42175 closed

[2021-08-12 16:17] NoorFakhry commented on #43184
Hey @ShaunSHamilton, when you say "other stories too", do you mean Exercises and users endpoints?

[2021-08-12 17:34] ShaunSHamilton commented on #43184
Hey @NoorFakhry . I think so? I mean, one example of a split-up user story has been given in the above description, and the same needs to be done with the other applicable user stories in the Exercise Tracker project.

[2021-08-12 19:19] StephNathai commented on #43185
Hi! Is this available to be picked up?

[2021-08-12 19:41] ShaunSHamilton commented on #43185
@StephNathai Yes, it is open for first time contributors to freeCodeCamp.

[2021-08-12 20:09] StephNathai commented on #43185
Great, I'm a first time contributor and would love to grab it.

[2021-08-12 21:31] DanielRosa74 commented on #42951
Right now, the menu says simply "Doar" (Donate, in Portuguese). Would that be enough to solve this issue?

![image](https://user-images.githubusercontent.com/58576743/129272751-14bb3a1a-cae6-43c4-8ab2-49b3004bd698.png)

[2021-08-13 06:57] rituraj8503 opened #43194 "Landing/Home Page UI Modifications"
## Is your feature request related to a problem? Please describe.

When I went to the landing/home page of [freeCodeCamp](https://www.freecodecamp.org/) I found the UI to be a little basic. Although I've heard the the curriculum is amazing I was wondering if we could slightly tweak the UI on the home page.

## Describe the solution you'd like

In particular, I was thinking about the logos of the d

[2021-08-13 10:45] ShaunSHamilton commented on #43194
Hello there,

Thank you, for taking the time to share your thoughts. For context, freeCodeCamp is largely designed to look command line -like. For more information, check out our [Design Style Guide](https://design-style-guide.freecodecamp.org/#vision).

That is the reason for the simple, and comparatively _plain_ style.

[2021-08-13 11:43] rituraj8503 commented on #43194
Ohh that makes so much more sense now. Thank you so much for the clarification. I will go ahead and close this issue.

[2021-08-13 11:43] #43194 closed

[2021-08-13 12:22] ngbeken1monday commented on #42201
2.Given the following form defined below:Modify this form in the following fashion:a) Add a function connected to the button to display all the data associated with the components in the form. This function is to be called whenever the user clicks the button.
b) Modify the form so that when the user clicks in each of the fields, their contents are highlighte

[2021-08-14 02:57] #42444 closed

[2021-08-14 02:57] #42502 closed

[2021-08-14 09:32] gikf opened #43201 "cannot submit JavaScript certification projects"
Submitting JavaScript project solution isn't saved. Api request to `/modern-challenge-completed` ends up with error.

[code]

I've found one way to fix it - to add default value to `files` either in
https://github.com/freeCodeCamp/freeCodeCamp/blob/59f17f237ba2abfdef28a3cf1b4a9dba12de0eee/api-server/src/server/boot/challenge.js#L223
or
https://github.com/freeCodeCamp/freeCodeCamp/blob/59f17f237ba2

[2021-08-14 13:55] ShaunSHamilton commented on #43201
The quick fix has been to roll-back production to before this bug. As such, this bug exists only on the `main` branch.

[2021-08-14 14:38] jyifan1 commented on #5920
// Setup
var recordCollection = {
  2548: {
    albumTitle: 'Slippery When Wet',
    artist: 'Bon Jovi',
    tracks: ['Let It Rock', 'You Give Love a Bad Name']
  },
  2468: {
    albumTitle: '1999',
    artist: 'Prince',
    tracks: ['1999', 'Little Red Corvette']
  },
  1245: {
    artist: 'Robert Palmer',
    tracks: []
  },
  5439: {
    albumTitle: 'ABBA Gold'
  }
};

// Only change code belo

[2021-08-14 19:48] lastrafda commented on #42528
I would like to work on this @Sembauke

[2021-08-14 23:53] Ladzies opened #43206 "Build error in the challenge 'Use a Ternary Expression for Conditional Rendering'"
Found a build error in the 'Use a Ternary Expression for Conditional Rendering' challenge

Tried on multiple browsers, still didn't work.

Exercise link: https://www.freecodecamp.org/learn/front-end-libraries/react/use-a-ternary-expression-for-conditional-rendering

![Screenshot](https://user-images.githubusercontent.com/34932547/129462857-6fb70d74-983d-4797-acd5-a9a2d5934e55.jpg)

- Device: [Mac

[2021-08-15 00:19] #43206 closed

[2021-08-15 02:33] meaberna opened #43207 "Failure to load/timing out due to "memory" [2 separate computers]"
## Affected page
https://www.freecodecamp.org/learn/front-end-libraries/react/pass-props-to-a-stateless-functional-component

## To reproduce

Steps to reproduce the behavior:

1. Go to above linked page
2. Click on attempt to change any code

## Expected behavior
After changing any of the code, the website will freeze causing an alert to pop up stating there is a problem with the page. The alert

[2021-08-15 04:13] gikf commented on #43207
Just to confirm, you wouldn't have some browser extension, which might be causing this?

[2021-08-15 06:36] iamarpitpatidar opened #43208 "Adding basic Typescript inside JavaScript Algorithms section"
## Describe the Issue
this is a proposal of adding basic typescript inside the javascript algo section. we all know the importance of types and I think we should give the users a basic taste of exactly it is and why one should use typescript while writing javascript.

Rest I leave it to you guys for more discussion.

[2021-08-15 07:48] Sembauke commented on #42528
Hey @lastrafda,
This is a pretty though one, let me know if you need some help.

[2021-08-15 09:08] ieahleen commented on #43208
Thank you for your request, but at this time the work is being focused on the new curriculum 7.0 and the Data Science curriculum.
This could be a proposal for next version of the curriculum, at this time no new challenges are being added to the current curriculum.

https://www.freecodecamp.org/news/python-curriculum-is-live/
https://www.freecodecamp.org/news/building-a-data-science-curriculum-with

[2021-08-15 16:02] meaberna commented on #43207
No browser extensions on either one.

Sent from my iPhone

[2021-08-15 17:06] #43208 closed

[2021-08-15 18:35] lastrafda commented on #42528
Thanks @Sembauke I'll let you know! I have a question
I was looking at a video challenge and I realized that you have to click inside the main tag o focus the "Check your answer" button in order to be able to use the previous challenge and next challenge hotkey, is this the expected behavior?

[2021-08-15 18:41] w286432531 commented on #43185
I tried to create a pull request for the first time ever. Please let me know if I made any mistake. Thanks.

[2021-08-16 10:45] shikhar13012001 commented on #43185
I made a pull, some checks are failing can someone help me? I am very new to this. Thankyou

[2021-08-16 14:31] SambariManikanta09 commented on #17966
Hey, The issue is I couldn't sign in, either by GitHub or email on Edge. But when I tried with Google Chrome I was able to sign in, As my college computers don't allow to download Google chrome I have to work ok Edge

[2021-08-16 17:58] ieahleen opened #43218 "Source strings on Crowdin not in English"
While going back to re-confirm the strings for the Italian translation of the curriculum, I found some source strings not in English

![image](https://user-images.githubusercontent.com/26656284/129608134-c60e1991-80d3-4315-b25a-2c68c7f8e2ee.png)

these are in 00-certificates in the Front End Development Libraries certificate folder

![image](https://user-images.githubusercontent.com/26656284/12960

[2021-08-16 18:05] ieahleen commented on #43218
making a PR to fix it just now

[2021-08-16 19:53] moT01 commented on #39739
Reopening, since the merged PR was reverted.

[2021-08-16 21:36] NikIvan commented on #41354
I've encountered same issue while was trying to use `assert.throws()` and `assert.doesNotThrow()` in some tests.

If adding this methods would be difficult, text of error in console should be fixed at least because now it's misleading. It says something like `each test should contain at least one assert` and obviously my tests contain asserts.

So maybe easy fix would be change description of this

[2021-08-17 08:16] miyaliu666 commented on #43067
Can we just link them to English pages?

[2021-08-17 14:14] moT01 commented on #40812
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-17 14:14] #40812 closed

[2021-08-17 14:20] moT01 commented on #40846
Fixed 👍

[2021-08-17 14:20] #40846 closed

[2021-08-17 14:24] #40873 closed

[2021-08-17 14:25] moT01 commented on #41069
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-17 14:25] #41069 closed

[2021-08-17 14:32] moT01 commented on #40890
How do you create or find the svg's for those @ahmadabdolsaheb?

[2021-08-17 14:36] ojeytonwilliams commented on #40893
All (most?) of the comments inside code blocks have been removed by hand.

[2021-08-17 14:36] #40893 closed

[2021-08-17 14:40] moT01 commented on #40969
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-17 14:40] #40969 closed

[2021-08-17 14:47] moT01 commented on #41000
Solved 👍

[2021-08-17 14:47] #41000 closed

[2021-08-17 15:11] StephNathai commented on #43185
@ShaunSHamilton can you let us know who this is assigned to? I thought we had to ask and wait to be assigned the ticket but I see two others are already trying to work on this.

[2021-08-17 15:27] #43218 closed

[2021-08-17 15:37] ShaunSHamilton commented on #40886
Hello there,

Thank you, for taking the time to open this. However, I am closing this issue as stale. That is, I have not seen this confusion come up on the forum, nor elsewhere on the platform.

Personally, see no issue in the wording of the user story. This is one clause: _"exact group of balls to attempt to draw"_ - the group is referring to the _group_ you draw, and therefore should be _exact_

[2021-08-17 15:37] #40886 closed

[2021-08-17 15:41] ShaunSHamilton commented on #40998
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues with contribu

[2021-08-17 15:47] ShaunSHamilton commented on #43185
@StephNathai Sure. As mentioned in my earlier reply:

As such, linked open PRs will be QAed with these ordered priorities in mind:
1) The highest quality PR - contributor has followed Contribution Guidelines, and contribution is an improvement
2) The first opened PR

We try to do this to best respect everyone's time. If a linked PR for this issue is _likely_, then please feel free to work on anoth

[2021-08-17 17:31] #43201 closed

[2021-08-17 20:29] moT01 opened #43224 "Going to a non existent cert loads a blank page"
Go to https://www.freecodecamp.org/certification/mot01/fake-cert

It seems to redirect to the home page, but it's just blank.

[2021-08-17 20:52] moT01 commented on #40998
Looks like the profile page has some similar issues:
![Screen Shot 2021-08-17 at 3 50 52 PM](https://user-images.githubusercontent.com/20648924/129798816-daa74bb9-c53b-47ba-a90e-e5636759785a.png)

[2021-08-17 21:03] nhcarrigan commented on #40998
![image](https://user-images.githubusercontent.com/63889819/129800277-ed6ab922-61fe-488f-975c-17ef79172174.png)

That might be due to no translations (due to rename)

[2021-08-17 21:17] moT01 commented on #40998
Possibly, but it doesn't seem like it - it's on production too. Production still has the folder as `12-certificates`. In the `espanol` version, it has everything translated...
![Screen Shot 2021-08-17 at 4 13 55 PM](https://user-images.githubusercontent.com/20648924/129801572-5b1f3e2a-9bc1-4d23-a213-7cbc6e3f0418.png)
Going to https://www.freecodecamp.org/espanol/mot01, shows all the certs in Engli

[2021-08-17 21:29] moT01 opened #43225 "top contributor link in non english profiles broken"
The top contributor link in user profiles of non English languages is broken

To reproduce:
go to https://www.freecodecamp.org/espanol/mot01
click the `top contributor` (`Contribuyente principal`) link
page hangs

It tries to take you to https://www.freecodecamp.org/espanol/top-contributors
Chinese goes to https://chinese.freecodecamp.org/top-contributors, which gives a 404

English goes to https:

[2021-08-17 22:51] nhcarrigan commented on #40998
This might be coming from the meta...

[2021-08-18 05:50] RZMiRaN opened #43228 "chai functional tests not passing on FCC but passed on Replit"
## Affected page

1. https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser
2. https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-and-testing-with-chai/run-functional-tests-using-a-headless-browser-ii

## Your code

https://replit.com/@miran1337/boilerplate-mochachai

[code]

## Expected behavio

[2021-08-18 07:04] gikf commented on #43228
Hey @RZMiRaN
this project was recently updated together with the boilerplate code. However due to unrelated bug, code on the production page was reverted to date before these changes. This makes project page tests not align with the bolilerplate.

The issue shouldn't occur on the staging website. Could you confirm tests are passing there? https://www.freecodecamp.dev/learn/quality-assurance/qualit

[2021-08-18 07:12] RZMiRaN commented on #43228
Hello sir @gikf , confirmed, the test is passing on the link you provided
![fccdev](https://user-images.githubusercontent.com/11421315/129854181-4bdd3bc6-741e-456b-8db2-db3003e975e6.png)

[2021-08-18 07:31] gikf commented on #43228
Great, thanks for confirmation! I don't have an exact timeline, but I'd say production code should be updated within couple of days.

[2021-08-18 08:20] RZMiRaN commented on #43228
Great, thank you for your time, much appreciated

[2021-08-18 08:20] #43228 closed

[2021-08-18 11:05] #43185 closed

[2021-08-18 14:18] RaspberryLime commented on #39647
Please don’t drop support for Safari. It’s the default browser on macOS, iOS and iPadOS. And yes, people do want to learn to code using those devices!

[2021-08-18 14:23] #43060 closed

[2021-08-18 14:31] RaspberryLime opened #43233 "Unable to select keyboard on iOS (Safari)"
## Affected page

https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements

## To reproduce

Steps to reproduce the behavior:

1. Go to https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements
2. Click on the “Code” tab.
3. Look at the bottom right of the screen. The button to bring up the keyboard is a

[2021-08-18 14:45] ieahleen commented on #43233
Does it appear if you scroll up?
![03436560-1526-46F1-A63E-05B32B46F1C5](https://user-images.githubusercontent.com/26656284/129919453-3536ee02-7cc7-4370-89c5-230b4132c721.jpeg)

[2021-08-18 14:48] RaspberryLime commented on #43233
I was going to say that it doesn’t scroll up, but if I try a dozen or more times to scroll/swipe up it might hit lucky and actually scroll up.

[2021-08-18 15:14] ieahleen commented on #43233
That doesn't seem ideal at all, the buttons below should be accessible. It seems the issue is bigger than first reported

[2021-08-18 15:17] #43141 closed

[2021-08-18 15:18] RaspberryLime commented on #43233
Also, if you have to scroll down to see the button (if or when scrolling works), you can’t see what or where you’re typing either. Very occasionally it’s possible when I can hit the sliver of button without scrolling, the coding section seems to work really well, so it’s a shame this is spoiling it.

[2021-08-18 15:22] ieahleen commented on #43233
I'll add the Help wanted label, someone may be able to figure out how to make the buttons accessible on mobile.

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the c

[2021-08-18 15:37] moT01 commented on #43225
Well, I don't think that article is translated to any other languages - so probably going to the English version for all of them would be fine for now.

But, I suppose ideally, we would check 'if translated article exists, go there, else go to English'

[2021-08-18 15:37] PATELKULDEEP commented on #43224
can I start working on this issue

[2021-08-18 15:41] ieahleen commented on #43225
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues with contribu

[2021-08-18 15:47] ieahleen commented on #43224
Should it redirect to the home page with one of those blue error messages at the top of the page or a 404 page?

[2021-08-18 16:11] moT01 commented on #43224
Not sure on the ideal behavior here - feels like it should just go to the [404 page](https://www.freecodecamp.org/sdfasdf).

[2021-08-18 16:21] ieahleen commented on #43224
Thank you @PATELKULDEEP for your interest in contributing to freeCodeCamp!

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here:

[2021-08-18 16:29] moT01 commented on #43233
Scrolling doesn't work when you try to scroll the editor. You need to try to scroll the whole web page by swiping the nav menu or the buttons at the bottom.

[2021-08-18 16:59] Nirajn2311 commented on #43233
The scrolling seems to be weird in iPhone. Its like there is one main scroller which controls the main view between navbar and the bottom bar and another scroller which controls the challenge description.

[2021-08-18 18:04] nhcarrigan commented on #43225
As a quick fix, are we pointing all languages to the English path?

[2021-08-18 19:27] nhcarrigan commented on #43225
Okay here's my proposed approach:

https://github.com/freeCodeCamp/freeCodeCamp/blob/21fbbe69d55f00b481df5b05b4edcbb01ab59c93/client/src/components/profile/components/Camper.tsx#L132
Change the `to` value here to `{t('links:top-contributors')}`

Add `"top-contributors": "https://freecodecamp.org/top-contributors"` to each of the `links.json` files in the `client/i18n/locales/` languages.

This wil

[2021-08-19 08:39] ShaunSHamilton commented on #42528
@lastrafda

Expected behaviour is using the `esc` key to allow the hotkeys to be targeted. That is, to enter navigation mode:

[2021-08-19 14:16] imrishabh18 commented on #42256
Are there any files left for migration?

[2021-08-19 16:30] nhcarrigan commented on #43207
Hello! Thank you for reporting this issue.

I am unable to reproduce this - can you share the specific changes you made to the code?

[2021-08-19 16:37] meaberna commented on #43207
This issue seems to be related to my account and I am unsure as to why.

I have now worked on 3 different machines... All having the same issue.

I don't know why/how to reproduce the issue. It happens at different points
during the code changing and in different lessons.

[Honestly after the 8th time changing the code on the 3rd lesson it
froze/cancelled on me, I just gave up.]

I end up skipping

[2021-08-19 16:39] Nirajn2311 commented on #43207
You said you tried it in incognito mode also, did you login to attempt the challenge or not?

Also if possible could try doing the challenges while logged in to your account in another PC.

[2021-08-19 17:14] ShaunSHamilton commented on #43207
@meaberna Hey there,

The reason we ask this:

Is browsers are likely to crash, if their memory/cpu is used up. For the freeCodeCamp curriculum, the most common cause of this is a Camper's code containing an infinite loop.

Example:
[code]

If you are looking for more examples of this, it is a common mistake: https://github.com/freeCodeCamp/freeCodeCamp/issues/36118

---

I realise you mention it

[2021-08-19 17:35] nhcarrigan commented on #43114
For number 3, removing the numbers will require re-translation.

[2021-08-19 17:40] nhcarrigan commented on #43067
That should be fine, yeah

[2021-08-19 17:56] meaberna commented on #43207
Yeah I often use a code editor and checker before entering the code into
the FreeCodeCamp browser window. So it shouldn't be an infinite loop issue

Depending on the machine I am working on I use VS Editor, Sublime, or
Notepad ++ to edit and then follow that up but checking the information in
Regex101 if necessary and JSFiddle
I use Fiddle to tidy up the code as well.

https://www.freecodecamp.org

[2021-08-19 18:19] nhcarrigan commented on #43051
![image](https://user-images.githubusercontent.com/63889819/130123115-cf04e9f2-a81e-474e-99fe-d1f3bfe24258.png)

I have to say it's still not incredibly clear, but is an improvement.

[2021-08-19 18:21] nhcarrigan commented on #42966
@miyaliu666 is this good to close?

[2021-08-19 18:28] nhcarrigan commented on #42836
We could potentially update the tests to be more like the front end tests:

`Passing the url daas;dlkfjadslkj shouldreturn { error: 'invalid url' }`

[2021-08-19 18:51] nhcarrigan commented on #42294
I'd be happy to slap together an example package we can use for this. If we want to go that route, I can set up the repository and package - I assume we'd need to get together to publish under freecodecamp @raisedadead?

[2021-08-19 19:04] gikf commented on #43051
What do you think about changing or adding tests, but just with 2 problems? It would limit the noise from more problems repeating the issue and still allow to show problem at the end of line or between problems.

[2021-08-19 19:06] nhcarrigan commented on #43051
I do think we want to keep one test with four problems, just to test the input is accepted, but cleaning up the rest would be a good idea.

[2021-08-19 20:13] ieahleen opened #43249 "Change "help translate" links to link to translated documentation for Italian and Portuguese"
The links that suggest users to help translate should point to the documentation in the language, not to the English one

For example, the Italian links file:

https://github.com/freeCodeCamp/freeCodeCamp/blob/1fec73cdf746f85cfe13ac48afff43e9eb44f068/client/i18n/locales/italian/links.json#L2

should link to the documentation in italian:

`https://contribute.freecodecamp.org/#/i18n/italian/how-to-t

[2021-08-20 04:05] madhhuurrii commented on #43249
Hii @ieahleen, I would like to work in this issue

[2021-08-20 04:31] gikf commented on #43249
Hey @madhhuurrii

no need to ask. Issues labelled with `help wanted` or `first timers only` are open for contributions. Issues are typically not assigned to a specific person. You can read more about this at https://contribute.freecodecamp.org/#/FAQ?id=how-can-i-get-an-issue-assigned-to-me.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). Join u

[2021-08-20 05:44] anshul2807 commented on #38380
Is this still an issue...? I'm new to this community and I'm looking forward for my first contribution.

[2021-08-20 05:51] anshul2807 commented on #43138
Is this still an issue??
I'm new to this community  and I'm still looking for my first contribution.

[2021-08-20 06:00] gikf commented on #43138
Hey @anshul2807

It is, issues labelled with `help wanted` or `first timers only` are open for contributions.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/). Join us in [our chat room](https://chat.freecodecamp.org/channel/contributors) or [the forum](https://forum.freecodecamp.org/c/contributors/3) if you need help contributing, our moderators

[2021-08-20 06:06] anshul2807 commented on #43138
Great...Now I can start working on this issue.

[2021-08-20 06:28] #43067 closed

[2021-08-20 06:29] raisedadead commented on #42294
Yes - something like `@freecodecamp/sample-package`

[2021-08-20 06:32] raisedadead commented on #38380
Yes - it is. Please be sure to read the [contributing guidelines](https://contribute.freecodecamp.org) first.

[2021-08-20 07:28] ojeytonwilliams commented on #42256
Everything is currently assigned, @imrishabh18, but to keep making progress I suggest we wait until all the outstanding PRs are reviewed and merged.  Once that's done, enough time will have passed that we can remove the assignments and open them up again.

@Sembauke @ShaunSHamilton does that seem reasonable?

[2021-08-20 08:26] sahilcode17 commented on #43249
I went through the site and after inspecting the link I found out that the link for the languages mentioned has errors in them, I would like to make a pr to this issue, can I?

[2021-08-20 09:50] ieahleen commented on #43249
@sahilcode17 do you mean helping with the translation? translations are not dons through github, you can read the page https://contribute.freecodecamp.org/#/how-to-translate-files to know how to help with translations

If it's about swapping the links as described in the first message in this issue, as already said, we don't assign issues, so you can do it

[2021-08-20 13:28] moT01 commented on #43233
Perhaps a little off issue - but one thing we could maybe do is add some PWA to the website. That would remove the browser buttons and address bar if you add it to your home screen. Giving more space.

If you go to coderadio.freecodecamp.org/ on your phone and add it to the home screen - it has this. Open it from your home screen - the browser stuff is gone.

The main site doesn't have it - so the

[2021-08-20 15:34] #43249 closed

[2021-08-20 15:56] ShaunSHamilton commented on #38380
@anshul2807 GitPod is set up to be a 1-button setup. That is, you do not need to use the `npm run seed` or `develop` commands - GitPod start with those commands already being run. You can see this in the `client:npm` and `server:npm` terminals.

So, what you can do, if you want, is kill those terminals, and restart the development process yourself. However, unless you are making specific changes w

[2021-08-20 18:30] sahilcode17 commented on #43224
@moT01  404 error page should be shown for all invalid links then  https://www.freecodecamp.org/certification/mot01/fake-cert could be valid link according to the codebase.

[2021-08-20 20:04] NoorFakhry opened #43257 "GET request from /api/users/ endpoint times out for the "Exercise tracker" demo project"
## Affected page

https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/exercise-tracker

## Expected behavior

 When you submit the demo Exercise Tracker link, tests for GET requests from /api/users/ endpoint should pass without a timeout

## Acual behavior

 When you submit the demo Exercise Tracker link, tests for GET requests from /api/users/ endpoint time o

[2021-08-20 20:33] gikf commented on #43257
For some reason relevant route - https://exercise-tracker.freecodecamp.rocks/api/users - takes almost 15 seconds to load. Not sure if this is caused by being sad because of loading 200 thousands users...

[2021-08-21 00:56] nhcarrigan commented on #43257
I've dropped the collections for the example project so it's started fresh, and confirmed this resolved the timeout issue.

@NoorFakhry you should be good to test your changes against the example again.

[2021-08-21 00:56] #43257 closed

[2021-08-21 03:44] doineedthis opened #43260 "Spanish translation of Counting Cards"
## Affected page

https://www.freecodecamp.org/espanol/learn/javascript-algorithms-and-data-structures/basic-javascript/counting-cards

## Your code

[code]

## Expected behavior

There is a minimal grammar mistake in the description section, where it says "una valor " instead of "un valor ".

## Screenshots

![2021-08-21-003205_1024x768_scrot](https://user-images.githubusercontent.com/88637919/13

[2021-08-21 05:37] ieahleen commented on #43260
Thank you for your report.
If you want to contribute to the translation you can join the chat at chat.freecodecamp.org and you can read the guide here: https://contribute.freecodecamp.org/#/how-to-translate-files

I will let the translators know

[2021-08-21 07:54] ieahleen commented on #42656
this actually happened again with last update

[2021-08-21 08:13] anshul2807 commented on #43138
![Screenshot (11)](https://user-images.githubusercontent.com/56274258/130315369-ed76b0a6-6e0b-4f79-a22e-2a4edcff5da9.png)

Code is running fine..
Can anybody tell me what's the issue..??
Here's the code --
[code]

[2021-08-21 12:44] RafaelDavisH commented on #43260
Thank you for pointing this error @doineedthis

It's corrected now.

[2021-08-21 13:01] #43260 closed

[2021-08-21 17:30] ieahleen commented on #38308
#42596 has been merged, is the Code Freeze over?

[2021-08-21 19:14] gikf commented on #43138
Max Heap is supposed to keep the greatest value at the start of array (here that's index `1`). However that's not happening in this version. For example:
[code]

[2021-08-21 19:31] bips03 commented on #43225
Has the issue been fixed? I am an amateur in this. Would love to know if the issue is resolved :)

[2021-08-21 19:35] ieahleen commented on #43225
@bips03 not yet, but there is a PR open that once merged is going to fix this issue

[2021-08-21 20:37] veedata commented on #35525
Hello, could I take up this issue?

[2021-08-21 20:47] ShaunSHamilton commented on #38308
@ieahleen Largely, yes, the ❄️ is over. However, the changes are not on production yet. So, have been easing out of the Code Freeze.

[2021-08-21 20:55] DanielRosa74 commented on #42656
Just to add that this is also happening in pt-BR. The entry is blocked for translation. I suspect this has to do with the double ampersand.

[2021-08-22 02:03] jdwilkin4 opened #43264 "Incorrect answer passes test for Set the font-size for Multiple Heading Elements challenge"
I was assisting a camper on the forum and found out that incorrect answers are allowed to pass the test.
This is my incorrect answer that still passes.
[code]
All of those headings in the style tags are supposed to be in the correct css format.
But it looks like the test will just accept one of them in the correct format.
## Affected page

https://www.freecodecamp.org/learn/responsive-web-design/a

[2021-08-22 05:42] anshul2807 commented on #43138
OK I Understand...Now It's working Corectly...kindly See my code
[code]

[2021-08-22 05:54] ieahleen commented on #43264
The tests check for the computed css property
https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/applied-visual-design/set-the-font-size-for-multiple-heading-elements.md

The easiest way would be to check that there is not inline style, adding a test maybe

[2021-08-22 08:06] roelofhoeksema commented on #39430
Hi @filbranden. I had the exact same issue. After [posting about it on the freeCodeCamp forum](https://forum.freecodecamp.org/t/data-analysis-with-python-broken-tests-in-the-first-2-exercises/474761) someone there suggested this solution:

The exercise notes:

The test fail because `assertAlmostEqual` can't compare numpy.arrays with lists. Converting them to generic python lists did it for me :) H

[2021-08-22 09:11] Nirajn2311 commented on #43264
Yes, we need another test to check if the user has used inline styles or not. Since jquery has been used check the heading font-size, I think we can go with a jquery solution for the new test.

We can use `.prop('style')` and check each of the heading if they have used inline style or not.

[2021-08-22 11:43] recarcoder opened #43266 "given wrong value to "n" js aAlgorithms"
<b>please change the value of "n" so the algorithm works</b>
<img src="https://raw.githubusercontent.com/recarcoder/imgweb/main/report.jpeg">
<h2>link to that page:https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/drop-it </h2>

[2021-08-22 11:56] gikf commented on #43266
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions with

[2021-08-22 11:56] #43266 closed

[2021-08-22 13:04] ahmadabdolsaheb commented on #40890
We followed the following steps for the other svgs:
1) We found the images for logos and turned them into svgs if necessary.
2) Optimize the size of svgs using an online tool ( there are a lot of them, [here](https://www.svgminify.com/) is one).
3) Rectified the optimized svg.

[2021-08-22 13:32] miyaliu666 commented on #42966
Yes, he changed browser and passed the test. Thanks!

[2021-08-22 13:32] #42966 closed

[2021-08-23 07:06] ojeytonwilliams commented on #35525
Hi @veedata, yes, definitely.  We have some [contribution docs](https://contribute.freecodecamp.org/#/) that help with getting started.

[2021-08-23 10:02] Wol7 opened #43273 "Eu"
## Affected page

## Your code

[code]

## Expected behavior

## Screenshots

## System

- Device: [e.g. iPhone6, Laptop]
- OS: [e.g. iOS 14, Windows 10, Ubuntu 20.4]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

## Additional context

[2021-08-23 10:18] ShaunSHamilton commented on #43273
Hello there,

As this issue does not contain enough information for us to debug or help, it is invalid. Therefore, I am closing this issue.

If you are looking for help with a challenge, please open a topic on the [forum](https://forum.freecodecamp.org/).

If you accidentally opened this, then there is not need to do anything. However, if you still are encountering an issue, then please edit your

[2021-08-23 10:18] #43273 closed

[2021-08-23 15:50] #43225 closed

[2021-08-24 02:53] scissorsneedfoodtoo commented on #38837
All of the points mentioned above, along with some others, should be fixed with the PRs in my last comment.

Thanks again everyone for your valuable feedback, and for helping us improve the backend curriculum.

[2021-08-24 02:53] #38837 closed

[2021-08-24 04:10] Arkadipta-Chatterjee commented on #38380
Is this still an issue?I am new to open source programming.Would like to work on this

[2021-08-24 04:12] anshul2807 commented on #38380
I'm already working on this issue.

[2021-08-24 05:02] jdwilkin4 opened #43283 "Typo in Basic Node and Express introduction"
This issue was brought up on the forum.
https://forum.freecodecamp.org/t/incomplete-typo-on-description-text-in-basic-node-and/473859

## Affected page

https://www.freecodecamp.org/learn/apis-and-microservices/#basic-node-and-express

## Paragraph with typo and incomplete sentence
The third paragraph second sentence needs to be rewritten.

Express makes it much easier to create a server and handl

[2021-08-24 07:12] TemitopeAgbaje commented on #43283
can i work on this?

[2021-08-24 07:20] mansijain980 commented on #42256
@ojeytonwilliams are there any files left unassigned and can be migrated to TS for JS?
Please let me know.

[2021-08-24 07:21] ann-lang commented on #43207
Hello, we are a group of researchers developing machine learning techniques to locate issues suitable for newcomers, and our model consider this issue as likely a "good first issue". May we recommend you to label it as "good first issue" so newcomers know where to choose?

Thank you!

[2021-08-24 07:22] ann-lang commented on #42656
Hello, we are a group of researchers developing machine learning techniques to locate issues suitable for newcomers, and our model consider this issue as likely a "good first issue". May we recommend you to label it as "good first issue" so newcomers know where to choose?

Thank you!

[2021-08-24 07:22] ann-lang commented on #43264
Hello, we are a group of researchers developing machine learning techniques to locate issues suitable for newcomers, and our model consider this issue as likely a "good first issue". May we recommend you to label it as "good first issue" so newcomers know where to choose?

Thank you!

[2021-08-24 07:23] ieahleen commented on #42656
@ann-lang thanks but it is not - this needs to be done through Crowdin pipeline

[2021-08-24 07:27] ieahleen commented on #43283
Thank you for your interest, @TemitopeAgbaje
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp

[2021-08-24 07:28] ashiskumar-1999 commented on #42256
@ojeytonwilliams, Is there any component that needs to migrate from JS to TS or any component that has the priority to build we can discuss about it.

[2021-08-24 07:32] TemitopeAgbaje commented on #43283
okay..Thank you

[2021-08-24 07:36] ieahleen commented on #43264
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/applied-visual-design/set-the-font-size-for-multiple-heading-elements.md

The

[2021-08-24 07:40] ieahleen commented on #38380
@Arkadipta-Chatterjee @anshul2807
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If

[2021-08-24 07:47] ojeytonwilliams commented on #42256
@mansijain980 @ashiskumar-1999 hey, thanks for the offer of help, but we're going to wait until the maintainers have had time to review and merge the existing PRs before we re-open assignments.

[2021-08-24 07:50] ashiskumar-1999 commented on #42256
Hey @ojeytonwilliams, Thanks for the reply.
Until is there any other issue that you wants to be solved currently?

[2021-08-24 08:01] ojeytonwilliams commented on #42256
Sure, we use "help wanted" and "first timers only" labels to highlight good issues for contributors to work on.  You can see them [here](https://github.com/freeCodeCamp/freeCodeCamp/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22+label%3A%22first+timers+only%22).  Also, the [contribution docs](https://contribute.freecodecamp.org/#/) have a lot of useful info about how to get started.

[2021-08-24 13:09] ShaunSHamilton commented on #43264
# Addition

This is a prime candidate for the [CSSHelp](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/utils/css-help.ts) component. The tests could easily be changed to use it. It only looks for the styles within `style` tags, and will ignore those set by the inline style attribute.

There should be no need to check for inline styles - just change the tests to only check the va

[2021-08-24 14:04] ieahleen commented on #43283
this is actually not an issue, also in production it is fine, there is written "like `/blog`"

The linked PR will fix a different typo in this string

[2021-08-24 14:15] ashiskumar-1999 commented on #41580
Hey @raisedadead, Can I take the Modal component?

[2021-08-24 14:17] moT01 commented on #41785
We have decided to keep these pages. Thanks and happy coding 🎉

[2021-08-24 14:17] #41785 closed

[2021-08-24 14:18] #41024 closed

[2021-08-24 14:19] #41025 closed

[2021-08-24 14:24] moT01 commented on #41032
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-24 14:24] #41032 closed

[2021-08-24 14:24] ojeytonwilliams opened #43289 "Block pages should be fleshed out"
## Is your feature request related to a problem? Please describe.

The block level pages are both orphaned (there are no links to them) and don't fit with the style of the superblock pages.  e.g. https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/ vs https://www.freecodecamp.org/learn/responsive-web-design/

## Describe the solution you'd like

These pages should match t

[2021-08-24 14:35] nhcarrigan commented on #41040
Discussing in issue triage meeting.

### Current Behaviour
1. When a camper sets the `name` to a non-empty string and `private`, the certificate renders with the `username`.
2. .When a camper sets the `name` to an empty string and either `public` or `private`, the certificate does not render and redirects to `/` with a flash message.

We should update the behaviour of #1 to mirror the behaviour of

[2021-08-24 14:37] nhcarrigan commented on #41112
Closing as wontfix for now, due to our current auth implementation.

[2021-08-24 14:37] #41112 closed

[2021-08-24 14:42] raisedadead commented on #41580
Thanks for reaching out @ashiskumar-1999, I recommend you join our contributors chat and get in touch with @huyenltnguyen who is leading the effort. For the most part you should be good though.

[2021-08-24 14:43] #41159 closed

[2021-08-24 14:45] #41174 closed

[2021-08-24 14:51] moT01 commented on #41236
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-24 14:51] #41236 closed

[2021-08-24 14:52] ieahleen commented on #41193
During the Issue Triage meeting the best course of action is to remove the image.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/applied-visual-design/move-

[2021-08-24 14:58] #41261 closed

[2021-08-24 14:59] #41264 closed

[2021-08-24 15:07] #41265 closed

[2021-08-24 15:33] ashiskumar-1999 commented on #41580
Hey @huyenltnguyen, Mind if I can ask for the link of the channel for contributors chat?
Also, what's your thought on taking myself the responsibilities of the Modal component?

[2021-08-24 15:43] moT01 commented on #41237
The four above PR's should close this issue after merged.

[2021-08-24 16:11] ShaunSHamilton commented on #41238
Once the above are merged, this should be closed.

[2021-08-24 16:49] Sembauke commented on #43224
There is logic already written for this

[code]
After some debugging on localhost, it seems that there is an endless loop in `useEffect`  when no valid cert is given.  This gives us an exceeded depth error, this prevents react from rendering in an infinity loop.

Here might be a useful link: https://typeofnan.dev/fix-the-maximum-update-depth-exceeded-error-in-react/

[2021-08-24 17:05] raisedadead commented on #41580
Go ahead and give this a quick read: https://contribute.freecodecamp.org - this should get you started

[2021-08-24 17:06] srijit2002 commented on #43264
I am a beginner in open source. can someone please guide me where to start?

[2021-08-24 17:06] #42946 closed

[2021-08-24 17:14] ieahleen commented on #43264
@srijit2002 start from reading my post above, it has what you need to start

[2021-08-24 17:26] #42455 closed

[2021-08-24 17:38] srijit2002 commented on #43264
@ieahleen can you please point me out which function of CSSHelp, I need to remove. So that, **_the tests only check the values of the stylesheet_**

[2021-08-24 17:42] ashiskumar-1999 commented on #41580
Thanks@raisedadead !😊

[2021-08-24 18:00] ieahleen commented on #43264
@srijit2002 , none. The file you need to change is that of the challenge. You will use the CSSHelper to write the new tests

[2021-08-24 18:02] ieahleen commented on #43264
maybe using the CSSHelper is too complex for first timers

[2021-08-24 18:07] srijit2002 commented on #43264
@ieahleen I am talking about the comment of @ShaunSHamilton

what are the changes I need to make?

[2021-08-24 18:10] ShaunSHamilton commented on #43264
@srijit2002 The tests currently check for the computed styles of the HTML elements. The `CSSHelp` component includes methods to parse the computed styles of the document stylesheet.

So, the `CSSHelp` component should be used instead of jQuery. The comment you quoted is saying there is not need to write a test looking for inline styles, because with the use of `CSSHelp` it does not matter if there

[2021-08-24 18:16] srijit2002 commented on #43264
Yeah, now it is much clearer. Thanks for your precious time. I am working on this and link a pull request soon.

[2021-08-24 18:18] patlehmann1 opened #43291 "update mongoDB constructor to useUnifiedTopology"
## Affected page

No pages are affected. This is just a warning coming from MongoDB when running the server. Low priority but could cause issues later on when the MongoDB Server Discovery and Monitoring engine is removed.

## To reproduce

Steps to reproduce the behavior:

1. Spin up FCC locally using `npm run develop`
2. See warning when MongoDB is initialized:
[code]

## Expected behavior

That

[2021-08-24 18:19] patlehmann1 commented on #43291
Sorry for labeling this a bug, I don't know how to remove it. It's really not, but it could be in the future.

[2021-08-24 18:26] #41138 closed

[2021-08-24 18:59] #41237 closed

[2021-08-24 19:07] #41238 closed

[2021-08-25 02:47] scissorsneedfoodtoo commented on #43079
Thanks again for bringing this to our attention, @tanrax.

This has been fixed in the new version of News. While we don't have a timeline for release yet, your RSS feeds for https://www.freecodecamp.org/espanol/news/ should work normally once it's rolled out.

Will close this for now. Please let us know if you notice any other issues.

[2021-08-25 02:47] #43079 closed

[2021-08-25 03:45] scissorsneedfoodtoo commented on #43289
Thanks for taking the time to write this up @ojeytonwilliams!

[2021-08-25 07:48] necessityOVO opened #43295 "can't get the right time by new Date().toString() or new Date().tolocaleString()"
## Affected page

the challenge says using `new Date().toString()` to get current time.

![image](https://user-images.githubusercontent.com/60960561/130748405-7d2c980b-911b-4122-808b-00731e5e362c.png)
[challenge link](https://chinese.freecodecamp.org/learn/apis-and-microservices/basic-node-and-express/chain-middleware-to-create-a-time-server)

but the time late for 8 hours;

![image](https://user-

[2021-08-25 07:55] huyenltnguyen commented on #41580
Hi @ashiskumar-1999, thanks for giving us a hand!

We have mostly completed the component library setup. I plan to start first with the Button component and try to document the development process to help onboard other contributors. My schedule has been a bit crazy lately, but I think I would have time for that in September.

The Modal component might be a bit complicated with the rendering in a R

[2021-08-25 08:54] ieahleen commented on #43295
IThank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions wit

[2021-08-25 08:54] #43295 closed

[2021-08-25 09:30] ashiskumar-1999 commented on #41580
Hey @huyenltnguyen ,
Cool. I am going through it. If you may Can I take responsibility to do it?
If my Modal will match your requirement then you can merge it with your codebase or else you can simply close it.

[2021-08-25 09:33] ashiskumar-1999 commented on #41580
You can also recommend sone component so that I can start the development.

[2021-08-25 14:39] patlehmann1 commented on #43291
I just tried to resolve this locally and I'm still getting the warning after throwing `useUnifiedTopology: true` [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/tools/scripts/seed/seedAuthUser.js#L146) and [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/api-server/src/server/datasources.production.js#L9-L10), so I'm a little stumped as to where the warning is coming fro

[2021-08-25 14:48] ashiskumar-1999 commented on #41580
Hey @huyenltnguyen, I have gone through the codebases of other component libraries. They all use the React portal. I can do it.

[2021-08-25 16:13] #41015 closed

[2021-08-25 16:15] raisedadead commented on #43291
We have been aware of this for a while now, and have had the same conclusion as you. There is an API rewrite planned that should help remove some of these warnings.

I am going to go ahead and close this as a wontfix for now though.

[2021-08-25 16:15] #43291 closed

[2021-08-25 16:21] #40890 closed

[2021-08-25 18:09] lasjorg opened #43302 "Switch challenge order"
We have a challenge using the `:root` selector before it is explained.

Forum post: https://forum.freecodecamp.org/t/the-root-selector/475234

[2021-08-27 15:52] moT01 opened #43328 "Can't really remove comments from comment dictionary"
I rewrote [a challenge](https://github.com/freeCodeCamp/freeCodeCamp/pull/43053) and removed comments from the seed code. I removed the comments from the dictionaries and the tests failed. Seems like when it got to one of the i18n versions of that challenge, it tried to find the comment that still existed in the seed of that file from the [map](https://github.com/freeCodeCamp/freeCodeCamp/blob/mai

[2021-08-28 01:43] amberream opened #43330 "Prevent Object Mutation with Object.freeze: Conflicting info"
## Affected page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/prevent-object-mutation

## Expected behavior

At the top, the challenge says, " Any attempt at changing the object will be rejected without an error."  A few lines later it says, "The obj.review and obj.newProp assignments will result in errors".

This seems to be conflicting information - will ther

[2021-08-28 01:52] amberream commented on #43330
Oddly, when I run the tests I can see an error in the log:
[TypeError: Cannot assign to read only property 'PI' of object '#<Object>']

But when I run the same code in jsFiddle there is no error in the console.

[2021-08-28 04:23] DanielRosa74 opened #43331 "Unnecessary pair of comments causing confusion on solving a challenge"
On the Front-end > React > Create a Controlled Input challenge, lines 7 and 9, there is a pair of "// Change code below/above this line" comments. They are, however, unnecessary to solve the challenge, produce an error if we try to insert anything within and lead the user to think they need to insert code there.

https://www.freecodecamp.org/learn/front-end-libraries/react/create-a-controlled-inpu

[2021-08-28 06:13] ieahleen commented on #43331
the first pair of comments is to bind `handleChange` to `this`, they are not unnecessary

[2021-08-28 06:20] anshul2807 commented on #43331
But what is the need to have a handleChange function...We can do without that...
![Screenshot (52)](https://user-images.githubusercontent.com/56274258/131208441-1bd44536-3127-4f4d-876c-00e4913597b2.png)

[2021-08-28 06:37] DanielRosa74 commented on #43331
@ieahleen , if you take a look at the second screenshot, by adding handleChange after the closing of the constructor (thus, within the second comment pair) and the input within the third pair, the challenge is solved. What is missing on the first comment? If there is anything missing, then we'd better check the Get a Hint part, as it does not mention anything related to what to insert there (betwe

[2021-08-28 07:10] ieahleen commented on #43331
you should write
`this.handleChange = this.handleChange.bind(this)` in the first set of comments
the definition of handle change in the second set of comments
and `onChange={this.handleChange}` in the element

[2021-08-28 07:12] ieahleen commented on #43331
it's more readable, and abstraction of components is the point of React

---

Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the righ

[2021-08-28 07:12] #43331 closed

[2021-08-29 20:43] SuperAayush commented on #42951
Hey! I am a fresher as well as new to open source and I want to fix this issue by creating a separate button for languages can you please guide me on how can I contribute to this project.

[2021-08-30 07:20] mansijain980 commented on #41580
I want to work on image and toggle button component, Its urgent to contribute for me. Please reply asap.

[2021-08-30 18:17] moT01 opened #43340 "Renamed file not getting translated with new translations from crowdin"
I renamed the English version of [a file](https://github.com/freeCodeCamp/freeCodeCamp/pull/42885/files#diff-3dd97fc546d08b3b628f712eb253cf8ceed7e0a5ea1d3196f71c9663833db683) in the Relational Databases section a little while ago - it's still one of the hidden upcoming changes sections

On Crowdin, the file has the correct name in the rest of the languages:
![Screen Shot 2021-08-30 at 1 03 12 PM](

[2021-08-31 03:48] ieahleen commented on #43340
yes, see renaming a challenge section here: https://contribute.freecodecamp.org/#/curriculum-file-structure

[2021-08-31 04:16] QuincyLarson commented on #42951
I agree 100% with what @ahmadabdolsaheb has suggested here:

We want a graceful way to be able to handle the fact that we now have lots of work languages. IMHO we should always use the word "Change Language" regardless of which language is selected. This way, if an English speaker accidentally changes the language, they can know how to switch it back. This will also be better than just having "Eng

[2021-08-31 06:19] mushaid01 commented on #8739
<h2>CatPhotoApp</h2>
<main>

  <img src="https://www.bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back.">

  <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
  <p>Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip the couch sleep in the sink fluffy

[2021-08-31 06:19] mushaid01 commented on #8739
<h2>CatPhotoApp</h2>
<main>

  <img src="https://www.bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back.">

  <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
  <p>Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip the couch sleep in the sink fluffy

[2021-08-31 06:22] mushaid01 commented on #8739
<h2>CatPhotoApp</p>
<main>
<img src="https://www.bit.ly/fcc-relaxing-cat alt=" relaxing cat">
<p>Kitty .........</p>
<p>lorem.....</p>
</main>

[2021-08-31 09:00] DanielRosa74 commented on #42951
Any choice that says something that can be read as "I am thankful" (which is what "obrigado/obrigada" means) will be subject to discussion, @QuincyLarson . Looking at the menu and considering all the other entries below it are nouns, except for the log out, I would even suggest "Doações", instead of "doar". As it is possible that the person has not donated yet when they click the link, it may soun

[2021-08-31 11:20] ahmadabdolsaheb commented on #42951
Here are the two tasks at hand:
1) For donating users, change the " thanks for donating" to  " thank you" that links to the donate page.
2) replace the language list with the "Change language:" on one line and a language dropdown on the second line.

[2021-08-31 12:16] DanielRosa74 commented on #42951
@ahmadabdolsaheb , I believe the change proposed in 1 will not work well in Portuguese. Please see my comment above.

[2021-08-31 12:34] moT01 commented on #43340
Thanks @ieahleen - sadly, I did a lot of work on those docs.

[2021-08-31 13:22] ahmadabdolsaheb commented on #41580
@mansijain980, thank you for your interest.  If you are in a hurry, I highly recommend adding the color tokens to the config (https://github.com/freeCodeCamp/freeCodeCamp/issues/42186) which is one of the setup steps needed before we could start working on the developing the components.

Additionally, the image component seems straight forward and does not require the theme support which is not im

[2021-08-31 13:56] #43340 closed

[2021-08-31 14:11] #41344 closed

[2021-08-31 14:17] moT01 commented on #41373
Is this something we still want @ahmadabdolsaheb?

[2021-08-31 14:20] moT01 commented on #41388
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-31 14:20] #41388 closed

[2021-08-31 14:25] nhcarrigan commented on #41417
![image](https://user-images.githubusercontent.com/63889819/131520438-550b9d89-6ebe-4789-b9d7-96eb80d4a0e2.png)

[2021-08-31 14:26] nhcarrigan commented on #41417
Closing this as fixed - banner is present on the superblock page. Feel free to request reopening if further review is required. :)

[2021-08-31 14:26] #41417 closed

[2021-08-31 14:32] nhcarrigan commented on #41442
Closing as the shift to the on-platform testing for the project based curriculum will make this less relevant. Feel free to re-open if further discussion is desired.

[2021-08-31 14:32] #41442 closed

[2021-08-31 14:33] moT01 commented on #41463
We want to go with the second option there - just use the light theme.

[2021-08-31 14:35] nhcarrigan commented on #41510
Hey @miyaliu666 where are we at with this?

[2021-08-31 14:40] #41529 closed

[2021-08-31 14:42] #41561 closed

[2021-08-31 14:44] moT01 commented on #43114
Related info: https://github.com/freeCodeCamp/freeCodeCamp/issues/41563

[2021-08-31 14:44] #41563 closed

[2021-08-31 14:48] moT01 opened #43350 "Detect OS and advertise mobile app"
@azatecas This is a good point. @nhcarrigan perhaps we could notify them "Hey it looks like your using Android. We recommend installing the freeCodeCamp Android app for a better coding experience. Or at least reading this: https://www.freecodecamp.org/news/freecodecamp-mobile/"

_Originally posted by @QuincyLarson in https://github.com/freeCodeCamp/freeCodeCamp/issues/41578#issuecomment-822058867_

[2021-08-31 14:49] #41578 closed

[2021-08-31 14:53] moT01 commented on #41582
Are you still working on this @Ismailtlem?

[2021-08-31 14:56] Ismailtlem commented on #41582
I think it's done

[2021-08-31 14:57] moT01 commented on #41769
Any progress on this @leonfeng?

[2021-08-31 14:58] moT01 commented on #41769
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-31 14:58] #41769 closed

[2021-08-31 15:00] #41803 closed

[2021-08-31 15:04] #41865 closed

[2021-08-31 15:05] moT01 commented on #41865
If anyone thinks this needs to fixed, feel free to leave a comment and we can reopen it. Thanks and happy coding 🎉

[2021-08-31 15:06] moT01 commented on #41913
I think it's safe to close this at this point. Feel free to leave a comment if any more are found 🌮

[2021-08-31 15:06] #41913 closed

[2021-08-31 15:08] moT01 commented on #41954
Thank you for reporting this issue.

This is a standard message notifying you that the issue has become stale, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened. Thank you and happy coding.

[2021-08-31 15:08] #41954 closed

[2021-08-31 15:19] moT01 commented on #41582
Awesome, I haven't interacted with that repo really - so it's in place then and this can be closed?

[2021-08-31 15:47] Ismailtlem commented on #41582
@ahmadabdolsaheb  ?

[2021-08-31 18:38] ahmadabdolsaheb commented on #41580
@ashiskumar-1999, I was wondering if you could share the links to the component libraries you looked into for the modal component?
Also did you have a change to look into tailwindUI overlays for samples of modal implementation using tailwind? https://tailwindui.com/#product-application-ui

[2021-08-31 20:52] ieahleen commented on #42951
@DanielRosa74 the "Thank you"
in the menu appear only if you are already donating, so in that case the thanking is after the act of donating

[2021-09-01 06:48] ahmadabdolsaheb opened #43357 "Modal buttons should match in size and font"
The button width and the button font of the completion modal when the user is not signed in should match the buttons of the completion modal when the user is signed in.

Modal when user is signed in:
<img width="678" alt="Screen Shot 2021-08-29 at 1 50 29 PM" src="https://user-images.githubusercontent.com/4591597/131624883-d27dbc48-a8ae-49f9-863a-ccc3d5e7fdc6.png">

Modal when user is not signed i

[2021-09-01 08:08] ahmadabdolsaheb opened #43358 "Certification card checks the "Set your name and make it public" requirement incorrectly."
It seems that "Set your name and make it public" check mark check for the name being public but not if the name is set or not.
Adding another checkmark for setting the username and linking it to the related setting section is a plausible solution.

After setting the name to public and clicking on the `claim certification` button displays the following flash message:

<img width="1440" alt="Screen

[2021-09-01 11:01] listentothefrog commented on #43350
Hi @moT01, thanks for pointing out this issue. I will take a stab at this issue and open pr :)

[2021-09-01 12:00] ahmadabdolsaheb commented on #41373
@moT01, yes. Optimally we would need coderadio to be a little more stable before exposing it in the main nav.

[2021-09-01 12:03] bottercode commented on #43224
Hey I want on work on this issue. Is it still open?

[2021-09-01 12:49] Sembauke commented on #43224
Yes it is, go for it😀

[2021-09-01 16:19] ShaunSHamilton commented on #43004
I am closing this issue, as the issue is not unique to freeCodeCamp projects/boilerplates, and is not easily reproducible.

If more information comes forth, please request this issue be reopened. Thank you.

[2021-09-01 16:19] #43004 closed

[2021-09-01 16:57] nhcarrigan commented on #43049
I feel like the purpose of this test is really to suggest to the camper that using `new Date(req.params.date)` is the ideal approach?

[2021-09-01 17:05] nhcarrigan commented on #43006
Hey folks,

Are we considering this as an edge case and wontfix? Or are we going to move forward with the regex approach?

[2021-09-01 17:23] nhcarrigan commented on #43207
Hey there @meaberna are you still experiencing this issue?

[2021-09-01 17:30] moT01 commented on #43357
I'm not seeing this on production + firefox...

Not signed in:
<img width="832" alt="Screen Shot 2021-09-01 at 12 13 54 PM" src="https://user-images.githubusercontent.com/20648924/131714972-0dcef664-0d51-4234-afbc-fca8e18cace5.png">

Signed in:
![Screen Shot 2021-09-01 at 12 15 06 PM](https://user-images.githubusercontent.com/20648924/131715005-56bb070b-00a8-457e-83ed-961f06b3968d.png)

Do you hav

[2021-09-01 17:39] nhcarrigan commented on #43330
I do agree that some clarification here would be beneficial.

Possibly changing that first line to `Any attempt at changing the object will be rejected, with an error thrown if the script is running in strict mode.

And the second line being `The obj.review and obj.newProp assignments will result in errors, because our editor runs in strict mode by default, and the console will...`

Thoughts?

[2021-09-01 17:58] nhcarrigan commented on #43110
The register would not be out of change in this circumstance, so should still be `OPEN`.

For what it's worth, the register is still `OPEN` while there is cash present because it is "open to receive more transactions", not because the drawer itself is physically open.

[2021-09-01 19:08] bottercode commented on #43224
hey can you just assign me?

[2021-09-01 19:32] ieahleen commented on #43224
@bottercode
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues w

[2021-09-01 20:17] ahmadabdolsaheb commented on #43357
the sign in button should be the same size as the rest in here.

[2021-09-01 21:51] moT01 commented on #43357
I see - I was looking at the two buttons below it in your image. The font size is off there.

[2021-09-02 04:05] Tanmay1407 commented on #43350
Hi! I do have a good hold over backend technologies but being new to Open Source can anyone guide me from where do I start?
As I would like to contribute to the following issue.
Thanks :-)

[2021-09-02 04:07] miyaliu666 commented on #41510
Let me review this later this week. Thanks! @nhcarrigan

[2021-09-02 08:01] Sembauke commented on #43350
Hey @Tanmay1407,

You can read our [contributor's guide ](https://contribute.freecodecamp.org/#/)to get started with contributing to the fcc repository.

Happy coding 😄

[2021-09-02 08:08] Sembauke commented on #43358
Hey Ahmad, if you would like I can fix this in #43335. Instead of adding a new step, we can check it in the current step, as it is a requirement "Set your name, and ake it public" in this step.

[2021-09-02 09:06] ahmadabdolsaheb commented on #41582
We would just need to add the linters and an action and this could be closed after that.

[2021-09-02 09:42] ahmadabdolsaheb commented on #43358
My only concern is that when users have made their name public and click on the "Set your name, and make it public" it will take them to the privacy settings not the name input area. This might cause confusion, but it is your call.

[2021-09-02 15:09] raisedadead commented on #43207
If you are still experiencing this issue, can you please reach out to `support@freecodecamp.org` as well to have someone from the team look at your account to help understand this better.

[2021-09-02 15:12] raisedadead commented on #43114
From https://github.com/freeCodeCamp/freeCodeCamp/pull/43353#issuecomment-910257506

[2021-09-04 05:27] andideve opened #43381 "Incorrect test goal - "Only use jQuery to add these classes to the element.""
Challenge Waypoint: [Target a Specific Child of an Element Using jQuery](https://www.freecodecamp.org/learn/front-end-development-libraries/jquery/target-a-specific-child-of-an-element-using-jquery)

The waypoint works correctly, however one of the test goals is You should only use jQuery to add these classes to the element.

[code]

[2021-09-04 07:21] ashiskumar-1999 commented on #41580
@ahmadabdolsaheb, I looked into the Carbon design system (https://www.carbondesignsystem.com/components/modal/usage/), Chakra-UI (https://chakra-ui.com/docs/overlay/modal) as a reference. About the TailwindUI overlays part, yes, I have gone through the code samples on the website.

[2021-09-04 07:26] ieahleen commented on #43381
Can you add more details on what the issue is here?

[2021-09-04 07:28] ieahleen commented on #43358
I would agree that have two separate checks that bring to two different sections of the settings would be a better user experience

[2021-09-04 07:48] andideve commented on #43381
There my code is working correctly, i am using jquery to add the classes into the element, but after testing it's wrong

[2021-09-04 09:02] ieahleen commented on #43381
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions with

[2021-09-04 09:02] #43381 closed

[2021-09-04 20:06] pawan43563 commented on #43350
Based on os we have to give pop up for installation right?

[2021-09-04 22:31] Celebrimor commented on #11989
Ah ok

[2021-09-05 15:14] gikf commented on #39348
I'm looking at #43364 and getting this funny behavior.
![editor](https://user-images.githubusercontent.com/60067306/132131498-909a860b-77c7-417f-833b-35d7ad939f56.gif)

If initial editable region is empty:
- after entering first character cursor is moved to the left of it
- one line below gets pulled into the editable region
- order of the files at the top are swapped

If initial editable region i

[2021-09-05 16:04] Sembauke commented on #43330
That seems like a good solution Nich, I'll put a help wanted label on it!

[2021-09-05 18:05] medaminefh opened #43387 "Open the sample projects on a new window ( project section )"
## Affected pages
#### Actually I think all the project pages, Like this one
[Build a survey Form](https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-projects/build-a-survey-form)

#### Instead of opening that Codepen sample project in the same window, I think it's better to open it in a new window

## System

- Device: Laptop
- OS: Ubuntu 20.4
- Browser: chrome
- Versi

[2021-09-05 18:20] Ismailtlem commented on #41582
Hi @ahmadabdolsaheb

- Do you mean adding a linter job ? In a different file or in the same one ? (maybe just renaming the file will be enough)
- What's the purpose of the action that needs to be added ?

[2021-09-06 08:18] ahmadabdolsaheb commented on #41582
=

Yes a seperate linter github action

linting :)
We have one for the learn repo.

[2021-09-06 14:29] ayangupta9 commented on #43387
Hi! Can I look into this issue?

[2021-09-06 14:46] ShaunSHamilton commented on #43387
Hey @ayangupta9 Thank you, for your interest in contributing. However, this issue has not been discussed yet.

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the con

[2021-09-06 14:48] ShaunSHamilton commented on #43387
@medaminefh Thank you, for taking the time to open this.

However, I am closing this as a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/39739

[2021-09-06 14:48] #43387 closed

[2021-09-06 15:08] ayangupta9 commented on #43387
@ShaunSHamilton  Thanks a lot for the clarification! Looking forward to becoming a long-time contributor in the near future 😃

[2021-09-06 15:36] himanu commented on #42574
@lasjorg you are right man. As a beginner, I can tell you it is mentally tiring

[2021-09-06 20:07] hygtfrde commented on #16705
class ControlledInput extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      input: ''
    };
    // Change code below this line
    this.handleChange = this.    handleChange.bind(this);
    // Change code above this line
  }
  // Change code below this line
  handleChange(event) {
    this.setState( {
      input: event.target.value
    })
  }
  // Change code

[2021-09-07 07:10] #43207 closed

[2021-09-07 08:26] Sembauke commented on #38611
Hey,
Going to close this one as outdated.
Will open a new one once new tests can be added.

[2021-09-07 08:29] code123-tech opened #43395 ""No Result found" Message should be shown on search result page."
The Search Result page should show an appropriate message to the user when no result is found on the search query.

When I made a query "responsiveness".
![query](https://user-images.githubusercontent.com/53444217/132310830-2ad14258-35ae-475c-9877-ebdb3cc76740.JPG)

Search Result page should show a message that "Result is not found", but it is showing as follows:
![noResult](https://user-images.gi

[2021-09-07 08:42] Sembauke commented on #36821
All these errors have seemed to disappear except one coming from the `react-lazy-load` package.
This might be solved soon as there is an [open issue](https://github.com/loktar00/react-lazy-load/issues/147) for it.

As for now, I am closing this issue.

[2021-09-07 08:42] #36821 closed

[2021-09-07 12:07] ShaunSHamilton commented on #43395
Hello there,

Thank you, for taking the time to report this. However, I am unable to reproduce what you have shown:
![image](https://user-images.githubusercontent.com/51722130/132341839-66c23abd-e715-40c2-bfcc-d449b9177421.png)

Pressing `Enter` does nothing, because there are no results. Would you mind sharing the steps to reproduce?

[2021-09-07 12:28] code123-tech commented on #43395
@ShaunSHamilton, Please go to this [link ](https://www.freecodecamp.org/) and then search any query.

[2021-09-07 12:30] Sembauke commented on #43395
This happens when you press enter with `no results found` @ShaunSHamilton

[2021-09-07 13:38] ShaunSHamilton commented on #43395
@code123-tech Thank you, for that.

It appears the behaviour is different for `/` and `/learn`. @ahmadabdolsaheb Which behaviour do we want?

[2021-09-07 14:48] #43357 closed

[2021-09-07 17:50] Pulkit007 commented on #43395
Hey I am very new to contributing.
Can someone please guide me how should I get started?

[2021-09-08 04:08] moT01 opened #43401 "(client): Remove sentence from donor success message that doesn't apply"
After making a donation, you get this success message whether you are signed in or not:
![Screen Shot 2021-09-07 at 9 14 31 PM](https://user-images.githubusercontent.com/20648924/132444771-9ba7e668-098f-42c4-9302-fb2acbc5c0e6.png)

I don't think that last sentence should show up if you aren't signed in. Doesn't really make sense.

[2021-09-08 08:22] Sembauke commented on #43395
Hey @Pulkit007 ,

I would recommend reading how to [ set freecodecamp up locally](https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-locally) and read our contributor guidelines.

Happy coding :smile:

[2021-09-08 08:29] Sembauke commented on #43358
Why not fall back to the username if the name is not set as discussed in #41040

[2021-09-08 08:35] ieahleen commented on #43350
@pawan43563 yes, and to the article about coding keyboards, in case people can't or don't want the app

[2021-09-08 08:37] ieahleen commented on #43358
@Sembauke we decided not to in the issue triage metting, see https://github.com/freeCodeCamp/freeCodeCamp/issues/41040#issuecomment-904698765

[2021-09-08 09:56] Sembauke commented on #43358
let's go with this then.

[2021-09-08 14:26] EhEhRon91 commented on #43401
Working on a fix for this. What is a good way to test donations?

[2021-09-08 15:20] moT01 commented on #43401
I would recommend just manipulating the component to show the success message without actually making the donation requests.

[2021-09-08 15:23] EhEhRon91 commented on #43401
I will give that a go. Thanks!

[2021-09-08 15:37] moT01 opened #43407 "Add tests for curriculum order"
[This PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/42182#discussion_r704011339) added a new block in responsive web design with the same order number as another and all the tests passed. The result was that the lessons jumped between the two blocks after finishing each lesson.

We could possibly add some tests to ensure that the superBlock order numbers are unique, the block order numbers

[2021-09-08 17:36] pawan43563 commented on #43350
okay would love to contribute can you assign me?

[2021-09-08 17:42] ieahleen commented on #43350
@pawan43563
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues w

[2021-09-08 20:34] ieahleen opened #43413 "typo in euler problem 260"
![image](https://user-images.githubusercontent.com/26656284/132581258-072763d8-0b24-473d-aa5e-b7cdcbd20239.png)

there is written stUnes instead of stOnes

---

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curr

[2021-09-08 20:38] ieahleen opened #43414 "typo in parsing html and saving data challenge"
![image](https://user-images.githubusercontent.com/26656284/132581667-abc062bc-d4b9-4248-bbbd-62ce8cbefa24.png)

the sentence needs to be fixed removing the second "we"

---

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/

[2021-09-08 22:37] Ismailtlem commented on #43358
where in the app can i find this page please ?
<img width="1440" alt="131635455-f9a832d3-59f3-4201-8e20-615756bd4fd0" src="https://user-images.githubusercontent.com/34961373/132594874-905e9fdc-f890-4f57-8418-96d7dc851228.png">

[2021-09-09 01:41] dharniel45 commented on #43414
Wow

[2021-09-09 01:47] jameshhe commented on #43414
Just submitted a pull request after fixing this typo! This is my first time contributing to open source, so please let me know if there're things that I should've done. Thank you for providing this opportunity for first-time contributors.

[2021-09-09 02:09] amberream opened #43417 "Sort an array alphabetically using the sort Method - need to specify the array should be returned from the function"
## Affected page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/sort-an-array-alphabetically-using-the-sort-method

## Your code

[code]

## Expected behavior

The instructions on this page say, "Use the sort method in the alphabeticalOrder function to sort the elements of arr in alphabetical order."  Since sort happens in place, I didn't reali

[2021-09-09 07:28] #43413 closed

[2021-09-09 07:29] #43414 closed

[2021-09-09 08:03] ieahleen commented on #43358
@Ismailtlem that can be found in any curriculum certification page just scrolling down below the projects

[2021-09-09 09:35] ieahleen commented on #43417
the tests say "should return", I'm not sure how much this would need to be changed, but yes, it would be more user friendly to make it more clear that the function should return the expected result

I don't know what would be the best way tho

[2021-09-09 10:25] gikf commented on #43417
Maybe something like this, added to the instructions?

[2021-09-09 10:43] ieahleen commented on #43417
That would work, let's go with it!

---

Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. ...
2. ...
3. ...

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors

[2021-09-09 11:10] EhEhRon91 commented on #43350
Think I have a fix for this, but not 100% sure if everything is done exactly how it should. Do I make a pull request and then have it reviewed (and make changes) or is it possible to have the branch reviewed beforehand? Fairly new to open source and would appreciate any advice!

[2021-09-09 12:10] ieahleen commented on #43350
@EhEhRon91 open a PR so that it can be reviewed, if changes are needed or there is something wrong etc, the review is for that

[2021-09-09 18:09] nhcarrigan commented on #43407
We will want to audit the order pre-launch too.

[2021-09-09 22:04] Ismailtlem commented on #42256
Hi,

Is typescript migration of those files assigned to anyone ?
` /client/src/templates/Introduction/components/Block.js
 /client/src/templates/Introduction/components/CertChallenge.js
 /client/src/templates/Introduction/components/CertificationCard.js
 /client/src/templates/Introduction/components/Challenges.js
 /client/src/templates/Introduction/components/ClaimCertSteps.js
 /client/src/templat

[2021-09-10 03:54] michaelsndr opened #43427 "Exercise about heading tags <h1> ... <h6>, accidentally refers to header tags <header>"
## Affected page

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-size-of-a-header-versus-a-paragraph-tag.md

https://www.freecodecamp.org/learn/responsive-web-design/applied-visual-design/adjust-the-size-of-a-header-versus-a-paragraph-tag

## Expected behavior

In the title and the first paragraph, head

[2021-09-10 06:51] Anurag5086 commented on #43427
I'm working on fixing this!

[2021-09-10 07:30] ieahleen commented on #43427
@Anurag5086 thank you for your entusiasm, this issue has not been triaged yet. Look at the issues with label "help wanted" to know what needs help.

[2021-09-10 07:37] Anurag5086 commented on #43427
Oh Okay! Thank you!

[2021-09-10 07:41] Sembauke commented on #43427
Thank you for bringing this up @michaelsndr,

I do agree that this is not correct as the header tag refers to some other HTML element.

In the challenge linked, we can change the header tag to heading (or plural) headings.
We should also look if there are other challenges that have the same.

@Anurag26  thanks for the quick response, but I will still like to hear the opinions of others.

[2021-09-10 07:47] Sembauke commented on #42528
I've tested some of the hotkeys and the previous and next challenge hotkey does not seem to work for me. Can anyone test this out?

[2021-09-10 09:00] ieahleen commented on #43427
checked the curriculum with `grep` on `header` string and careful scrolling, and found these files

curriculum/challenges/english/01-responsive-web-design/applied-visual-design/adjust-the-size-of-a-header-versus-a-paragraph-tag.md
curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/link-to-internal-sections-of-a-page-with-anchor-elements.md **(the example calls an `h1` elem

[2021-09-10 10:01] Sembauke commented on #43427
Let's see what others think of it

[2021-09-10 10:07] gikf commented on #42528
Any specific challenge type?
- classic challenges: `esc` ->`p` and `n` works for current and challenges that are changed to
- backend/project challenges: `esc` -> `p` and `n` works for current and challenges that are changed to
- video challenges: click on page -> `esc` -> `p` and `n` works for current challenge, after changing challenge with hotkey, it's needed to click again on page to be able t

[2021-09-10 10:10] #43330 closed

[2021-09-10 11:15] gurnoor-garry commented on #43395
Hey
Is anyone working on this project or could it be assigned to me?

[2021-09-10 11:21] lastrafda commented on #42528
For the video challenges I had to click on the page before entering navigation mode as @gikf said I thought it was a bug the other challenges worked just fine (this was some weeks ago)

[2021-09-10 11:47] gikf commented on #43395
Hey @gurnoor-garry

Issues are typically not assigned to anyone other than long-time contributors. You can read more about this at https://contribute.freecodecamp.org/#/FAQ?id=how-can-i-get-an-issue-assigned-to-me.

Issues labelled with `help wanted` or `first timers only` are open for contributions.

Please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#

[2021-09-10 14:19] jahantaila opened #43436 "Server Error after submitting API token"
## Affected page

## Your code

[code]

## Expected behavior

## Screenshots

## System

- Device: [e.g. iPhone6, Laptop]
- OS: [e.g. iOS 14, Windows 10, Ubuntu 20.4]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

## Additional context

[2021-09-10 14:19] jahantaila commented on #43436
`for word in list' error `

[2021-09-10 14:35] ShaunSHamilton commented on #43436
Hello there,

As this issue does not contain enough information for us to debug or help, it is invalid. Therefore, I am closing this issue.

If you accidentally opened this, then there is not need to do anything. However, if you still are encountering an issue, then please edit your description to include useful information such as:

- What you are trying to accomplish
- What the expected behaviou

[2021-09-10 14:35] #43436 closed

[2021-09-10 16:10] ShaunSHamilton commented on #43427
Both the HTML spec, and Mozilla refer to them as _"heading elements"_. So, I suggest we stick with that.

We should also take care with mentioning `tags` versus `elements`.
- This is a tag: `<h1>`
- This is an element: `h1`

[2021-09-10 17:59] Sembauke commented on #43427
@Anurag5086, are you up for the task?

[2021-09-10 19:58] Anurag5086 commented on #43427
@Sembauke Yeah sure. If you don't mind could you just brief me once what have we finally decided on? Would be really helpful! Thanks!

[2021-09-10 20:01] ieahleen commented on #43427
@Anurag5086 the changes mentioned here, making sure that the `h1` to `h6` elements are called headings, not headers, and check that `h1` is correctly called element, and `<h1>` is correctly called tag and if necessary change that

[2021-09-10 20:44] brimarq opened #43439 "Legacy Full Stack Certification "Issued" Date is incorrect"
**Describe the bug**
Yesterday, after completing my [Scientific Computing with Python certification](https://www.freecodecamp.org/certification/brimarq/scientific-computing-with-python-v7), I decided to revisit the links for my previously completed certs to verify that they were all still accessible. All seem to be there and in order except for my
[[Legacy] Full Stack Certification](https://www.fr

[2021-09-11 07:24] Anurag5086 commented on #43427
@ieahleen @Sembauke Yeah sure, sounds good! Working on it.

[2021-09-11 08:14] vishwasnavadak commented on #42256
Created the PR https://github.com/freeCodeCamp/freeCodeCamp/pull/43262 with the migrated files.

The PR is marked as `has-translation`. I haven't made changes related to i18n, but I did pulled the latest changes from upstream with rebase. Could anyone help me understand what is the issue with the PR?

[2021-09-11 15:27] jahantaila commented on #43439
I have the same problem, i'm using widows 10

[2021-09-12 07:26] abhinav-raman commented on #43417
Is this issue fixed? I am a first-timer and interested in contributing to this issue.

[2021-09-12 10:56] ieahleen commented on #43417
@abhinav-raman there is already an open PR targeting this issue

[2021-09-13 06:26] ahmadabdolsaheb commented on #43395
Thanks for opening this issue. We have reduced the size of the JS chunks which we ship to the users on the landing page in an effort to improve our SEO. Therefore, some functionalities including the Algolia  search dropdown have been removed to make the page load faster.

Since this is an expected behaviour, I will be closing this issue accordingly.

[2021-09-13 06:26] #43395 closed

[2021-09-13 06:48] ahmadabdolsaheb commented on #42256
@vishwasnavadak, thanks for letting us know. Please see the comment on your PR.

[2021-09-13 10:19] ojeytonwilliams commented on #42256
@Ismailtlem nope, they're all yours. I've edited you in.  Thanks!

[2021-09-13 12:02] ieahleen opened #43447 "comparing and sorting tuples challenge visual issue"
In this challenge the first possible answer appear differently from the others

![image](https://user-images.githubusercontent.com/26656284/133079984-16332f55-b57c-4b4b-88d2-1d448fd6b051.png)

https://www.freecodecamp.org/learn/scientific-computing-with-python/python-for-everybody/comparing-and-sorting-tuples

[2021-09-13 12:57] vamagithub commented on #42850
Hi i would like to contribute to this issue. can you please define problem statement. @ieahleen

[2021-09-13 15:00] rhollings commented on #43447
Is this because the answer is longer than the others? And they've added a scroll bar
Are you suggesting that they add code like such.. `overflow-x: hidden;`

[2021-09-13 15:22] #43417 closed

[2021-09-13 15:50] NoorFakhry opened #43448 "menu bar items doesn't disappear when pressing on certain item only in home page"
## Affected page

https://freecodecamp.org/

## To reproduce

Steps to reproduce the behavior:

1. Go to 'Home page'
2. Click on 'menu'
3. Scroll down to 'any item'
4. press on any item
5. The menu bar should disappear but it doesn't

## Expected behavior

After the user chooses a certain option like "Profile or Donate", the menu bar should disappear

## Actual Behavior

The menu bar doesn't disap

[2021-09-13 18:13] ahmadabdolsaheb opened #43449 "404 pages on news do not have trending links (all langs)"
Here is a 404 example: https://chinese.freecodecamp.org/news/1235r1t23/

<img width="1199" alt="Screen Shot 2021-09-13 at 9 08 23 PM" src="https://user-images.githubusercontent.com/4591597/133135204-ad51a077-1666-4e08-876a-8b9f855e9c7f.png">

[2021-09-14 08:13] smell-well opened #43453 ""Go to current challenge" button don't work"
## Affected page

https://www.freecodecamp.org/learn
In this page, I want to click the "Go to current challenge" button. No matter which page I opened last time, it will only jump to this page (the skewX property).. I don't know how to fix.

## Screenshot

![image](https://user-images.githubusercontent.com/58506662/133220360-9ddebf95-4265-4494-a400-9f3a48f9e036.png)
![image](https://user-images.gi

[2021-09-14 08:38] Shlok1999 commented on #43453
This button takes you to the last opened challenge/ tutorial you visited as there can be multiple unfinished topics. What is the exact change you want?

[2021-09-14 09:18] anonymous372 opened #43454 "translation : README.md file in Hindi"
### Readme file in hindi
![Hindi](https://gumlet.assettype.com/swarajya%2F2019-09%2Fc253d2af-84d3-41ad-b566-722b1e361b06%2Fh1.png?w=640&q=75&auto=format%2Ccompress)

[2021-09-14 09:20] #43454 closed

[2021-09-14 10:42] smell-well commented on #43453
No matter which page I opened last time, it will only jump to this page (the skewX property). It was normally available before andI have completed all the courses in order.

[2021-09-14 10:48] smell-well commented on #43453
when I learned the tutorial of skew, the network broke once. Don't if it is the reason that button always jump to the tutorial.

[2021-09-14 12:52] ojeytonwilliams commented on #43448
Reposting my comment from chat so it doesn't get lost:

[2021-09-14 12:57] ShaunSHamilton commented on #43447
Personally, I would not do anything about this, because it is just one of those things where someone complains if the code wraps, and someone else complains if there is a scrollbar.

[2021-09-14 12:58] ShaunSHamilton commented on #42850
@vamagithub  An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues

[2021-09-14 16:42] saras17 commented on #39521
thank you so much for the

Thank you for the suggestion. It helped me alot

[2021-09-14 17:17] ieahleen commented on #43447
I didn't notice at all it is a scrollbar 😓 it seemed a border or an empty thing or something like that

[2021-09-14 17:17] #43447 closed

[2021-09-15 09:27] ojeytonwilliams commented on #42528
Good catch @gikf I'll add a fix to Sem's PR.

[2021-09-15 10:57] khushi200701 opened #43462 "Shows offline and not saving my progress"
## System

- Device: Dell Laptop
- OS: Windows 10
- Browser: Brave browser (tried on chrome as well, same error)
- Version:

## Additional context

All pages are showing I am offline while I am clearly not, everything else works fine. Also, my progress isn't getting saved. Today's heatmap also is blank whereas I've been practiced all day.

## Screenshots
![Screenshot (146)](https://user-images.git

[2021-09-15 11:35] ShaunSHamilton commented on #43462
Hello there,

If you are unable to log in or keep getting “we cannot reach the server…” it may be that you have a duplicated account. To solve this issue you will need to write to `support@freecodecamp.org`.

Find more support FAQ’s here:

https://www.freecodecamp.org/news/support/

----

I am going to close this for now. If you have any more issues, be sure to reach out on the [forum](https://for

[2021-09-15 11:35] #43462 closed

[2021-09-15 14:19] najmieh opened #43464 "Spelling errors in the "where do I belong" lesson"
## Affected page

https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-where-do-i-belong/16094

## Your code

[code]

## Expected behavior

_Here there is an explanation for the third solution of this lesson. There are some errors in the spelling._

Once the array **it** is sorted, we directly apply the .findIndex() where we are going to compare every element in the array until we find wh

[2021-09-15 14:37] ShaunSHamilton commented on #43464
Thank you, for taking the time to open this. 🙂

I have edited the guide post to fix those typos.

For future cases where you find issues with the typos, it might be quicker/easier to open a topic in the _Contributors_ sub-forum on the [forum](https://forum.freecodecamp.org/).

[2021-09-15 14:37] #43464 closed

[2021-09-15 15:03] najmieh commented on #43464
Thank you.
Ok sure. I thought I should mention it here. :)

[2021-09-16 11:31] theshakeabhi commented on #43358
Hi Can I take it up? I have started to locally set up freeCodeCamp on my machine.

[2021-09-16 12:10] ieahleen commented on #43358
@theshakeabhi
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues

[2021-09-16 14:45] codingmickey opened #43469 "Regarding the "Go to current challenge" button on the homepage"
## Affected page

[The Freecodecamp homepage](https://www.freecodecamp.org/learn)

## Description

I had started the JavaScript Algorithms and Data Structures course on the website and completed the module of Basic Javascript in it but even when I press the **Go to current challenge button**
![image](https://user-images.githubusercontent.com/42518907/133632324-309de436-e159-4e30-a618-df56f654da87.

[2021-09-16 15:20] ieahleen commented on #43469
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #43453, so we are closing it as a duplicate.

If you think we're wrong in closing this issue, please request for it to be reopened and add further clarification. Thank you and happy coding.

[2021-09-16 15:20] #43469 closed

[2021-09-16 16:15] moT01 commented on #43453
I could not reproduce this. You could check your network tab in the dev tools - when you go to a new challenge, there should be a post request to `api.freecodecamp.org/update-my-current-challenge` - the challenge id will be in the request body. You can search the repo for that id to see what challenge it is. If the it should be the challenge you went to and not the skewX one. Looks like the respon

[2021-09-17 01:20] moT01 commented on #43449
The search also seems broken on these pages

[2021-09-17 05:44] scissorsneedfoodtoo commented on #37700
Hey all, just left a review in @Chris6077's PR. I also think that's an interesting point about whether storing IP addresses is a security issue.

I did some reading and it seems like a bit of a grey area. There's not much a person can do with just an IP address. At the same time, GDPR regulations consider an IP address, even dynamic ones that most of us have, to be personal identifying information

[2021-09-17 14:44] moT01 commented on #42373
Are we still wanting to make some updates to this @ShaunSHamilton?

[2021-09-17 14:52] moT01 commented on #42421
There doesn't seem to be a blanket solution for this. We are going to have to handle these on a case-by-case basis I think. If there are still concerns, feel free to bring them up and this can be reopened.

[2021-09-17 14:52] #42421 closed

[2021-09-17 15:01] moT01 commented on #42574
I wouldn't be opposed if someone wants to try and improve this - same goes for pretty much all of the lessons. Although, I don't think it's necessary. We will see if someone has an interest in working on it.

[2021-09-17 15:09] moT01 commented on #42836
I am in favor of changing the test text to be more specific, the URL shortener example could be changed to something like:
[code]
Certainly, the other tests could probably be better, as well - they will have to be fixed on a case-by-case basis as they come up I think. For now, maybe just fix this one.

[2021-09-17 15:17] ojeytonwilliams commented on #42892
Closed to consolidate in the main issue: https://github.com/freeCodeCamp/freeCodeCamp/issues/42256

[2021-09-17 15:17] #42892 closed

[2021-09-17 15:17] nhcarrigan commented on #43114
Some relevant conversation in #42902 for removing the numbers.

[2021-09-17 15:18] nhcarrigan commented on #42902
Closing in favour of above linked issue.

[2021-09-17 15:18] #42902 closed

[2021-09-17 15:20] moT01 commented on #42951
We could probably make the text in the menu wrap if it's too long as another fix in case the translation isn't short enough.

[2021-09-17 15:26] #43006 closed

[2021-09-17 15:34] moT01 commented on #43110
I don't think anything needs to be changed here. If you think I am wrong in closing this, feel free to leave a comment and it can be reopened.

[2021-09-17 15:34] #43110 closed

[2021-09-17 15:42] moT01 commented on #43289
These should be added to our crowdin workflow so they can be translated.

[2021-09-17 15:45] moT01 commented on #43302
I think the consensus is that we can just leave this as-is. If there are still concerns, feel free to bring them up and it can be discussed further.

[2021-09-17 15:45] #43302 closed

[2021-09-17 15:48] #43328 closed

[2021-09-17 15:57] moT01 commented on #43439
So, I think the issue here is that the full stack cert was claimed previously, then the python was released, you two then finished the python certs which was the last cert - and the full stack data was updated in the database. The api should check if the full stack cert has been previously claimed before updating that date.

[2021-09-17 16:07] scissorsneedfoodtoo commented on #43453
Thanks for your patience and for reaching out about this @smell-well. We've had some reports about this issue in our support inbox recently.

Usually the fix is to clear your browser's cache and cookies, then sign in again. Then once you complete another challenge, the "Go to current challenge" button should work as expected.

Could you try that and let us know if that fixes the issue?

[2021-09-17 17:20] ShaunSHamilton commented on #42373
@moT01 The only thing I would want done is this helper should be able to ignore _external_ stylesheets (e.g. Darkmode Browser Extensions), but will require some tinkering, and potentially adding something unique to the `styles` appended to the iframe.

**Short:** I would like this to stay open, for now. What needs to change is:
https://github.com/freeCodeCamp/freeCodeCamp/blob/5de0aae5da35927042a8

[2021-09-18 03:29] gionchat opened #43483 "Flutter可以开发Android、iOS、Web、Windows、Mac、Linux 和嵌入式应用，Flutter开发插件安装量已经超过1000万 Google广发英雄帖，希望广大英雄加入全球最牛逼跨平台技术Flutter阵营"
Flutter可以开发Android、iOS、Web、Windows、Mac、Linux 和嵌入式应用，Flutter开发插件安装量已经超过1000万
Google广发英雄帖，希望广大英雄加入全球最牛逼跨平台技术Flutter阵营

[2021-09-18 03:59] smell-well commented on #43453
@scissorsneedfoodtoo I have tried what you said and it did work. Thank you for your helping.

[2021-09-18 04:01] #43453 closed

[2021-09-18 04:09] #43483 closed

[2021-09-18 08:31] aaronmccollum opened #43484 "Basic JavaScript: course lesson could accept "let" or "const" in addition to "var""
## Affected page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/finding-a-remainder-in-javascript

## Your code

[code]

## Expected behavior

Expected behavior would be for the test to pass, since the `remainder` variable has been initialized correctly. This follows the example of other early Basic JavaScript lessons that accept the `let` keyword wh

[2021-09-18 09:43] ShaunSHamilton commented on #43484
Hello there,

This will be closed by the above mentioned PR.

[2021-09-18 09:46] aaronmccollum commented on #43484
Hey @ShaunSHamilton thanks! I appreciate you taking a look at this and linking it with a pre-existing PR that I missed. Hope all is well.

[2021-09-18 10:36] vytautasjar opened #43485 "Lost all the progress"
## Affected page

https://www.freecodecamp.org/learn

Hi, I've completed "Basic HTML and HTML5" and "Basic CSS" while signed in with my GitHub account, but when I open the curriculum page all the progress seems to be gone.

[2021-09-18 11:32] ieahleen commented on #43485
thank you for your report, we are trying to find the issue, and we are collecting all the reports together in this forum post so that maybe we can find the common factor: https://forum.freecodecamp.org/t/collation-completed-and-submitted-challenges-not-recorded/474250

[2021-09-18 15:08] #43484 closed

[2021-09-18 15:09] Sembauke commented on #43485
Thank you for reporting, you can receive further support on the forum as linked above.

I wish you a wonderful day!

[2021-09-18 15:14] Sembauke commented on #43105
So the questions to ask here is:

1. How do we log a gotten result written by the Camper.
2. How do we log the expected result?

Is it even possible, if so how would we achieve this.

[2021-09-18 15:15] moT01 commented on #43485
I feel like it might not be a bad idea to have an issue here to track this. I didn't know this was happening. Do we have any idea what the problem is?

[2021-09-18 15:19] Sembauke commented on #42951
@ahmadabdolsaheb What do you think about Tom's comment, can we put a help wanted label on it?

[2021-09-18 15:38] moT01 commented on #43105
I'm having second thoughts on this - it sounds good, but I'm not sure it makes sense for most of the challenges. Here's a test from a random CSS challenge: `The --penguin-belly variable should be declared in the :root and assigned the value pink.` Looking through a few others in RWD, I don't think it would work for anything in that section. Javascript is the place where you think it would be best,

[2021-09-18 15:56] ShaunSHamilton commented on #43485
@moT01 So far, nothing has stood out in the thread of what could be a commonality.

My bestest guess would be some sort of discontinuity between the Camper and the `update-challenge-complete` logic. Potentially caused by internet disconnects, or when we deploy new builds - but I have no basis for this.

I have been completely unable to reproduce any of these kinds of issues both with my production

[2021-09-18 16:38] nhcarrigan commented on #37700
I think anonymising the IP address is a good route to go - it ensures we aren't putting campers in a position where they need to handle data deletion requests, and offers a good opportunity to talk about the GDPR and data privacy compliance.

[2021-09-18 19:14] Sembauke commented on #43105
I agree

[2021-09-18 19:35] hamzawaleed0102 commented on #41580
@ahmadabdolsaheb @huyenltnguyen
I'm a SSE but new to open source, let me know if I can contribute in any way.

[2021-09-18 19:44] alirezaghey commented on #37700
How would this work? Like keeping hashes of the IPs and checking against them? Would this be GDPR compliant? How strong needs the hashing function be for GDPR compliance? Or does anonymizing here means just a reversible change, say ROT 13, that prevents only instant recognition upon seeing?

[2021-09-18 20:00] nhcarrigan commented on #37700
We'd leave off the last octet, so rather than storing `125.0.0.1` we'd store `125.0.0`.

[2021-09-19 02:46] nicolealdurien commented on #42256
Hi! I just added a PR [(#43490)](https://github.com/freeCodeCamp/freeCodeCamp/pull/43490) migrating ActionRow.js. My first open source PR ever, so please let me know if there's anything I can improve!

[2021-09-19 04:23] jdwilkin4 opened #43491 "A few typos in the first two tutorials of the Relational Databases course"
I love the new Relational Databases Course and I think the other fCC learners will too.

I just wanted to report some typos I found in the first two tutorials.
I marked all of the typos with their corresponding json id's.
I also put the typos in bold and suggested changes.

Thanks!

**Learn Bash by Building a Boilerplate**
https://raw.githubusercontent.com/freeCodeCamp/learn-bash-by-building-a-boi

[2021-09-19 11:46] shubhangi013 commented on #42256
Hi, is  `/client/src/templates/Introduction/components/Challenges.js` assigned to anyone?
If not, I'd like to work on it. Thanks

[2021-09-19 12:05] meronokbay commented on #42256
Can I pick up these files?
[code]

[2021-09-19 12:32] Jy411 commented on #43491
Where is the course? I can't find it

[2021-09-19 14:13] Tucker992 commented on #39748
Please reopen and investigate this issue. I attempted to access the link today and hit the 404 page as described by OP. When I searched INE's repository, there's no content related to Reading Data with Python and Pandas. Thank you.

[2021-09-20 06:28] bellebradley93 opened #43499 "Autho code removal snapchat"

[2021-09-20 06:42] scissorsneedfoodtoo commented on #43485
If the reports are anything like the emails we receive in the support inbox, a lot of the time the issue has something to do with Safari and/or an extension, usually an ad blocker.

There have also been a few cases where a VPN with a built-in ad blocker is the culprit. In cases where an ad blocker is involved, once the freecodecamp.org domain is allowed, the issue is usually resolved.

Also, some

[2021-09-20 06:50] #43499 closed

[2021-09-20 08:13] ahmadabdolsaheb commented on #42951
@Sembauke, yes. we should make it wrap  in addition to making it smaller.

[2021-09-20 08:33] ojeytonwilliams commented on #43105
It's definitely true that not all tests can (or should) be written in this style.  However, since some tests clearly could be, do we want to have a mixed output:

[code]

Something like that?

[2021-09-20 09:57] #43401 closed

[2021-09-20 10:31] Sembauke commented on #43105
How would we know which written style needs to be used?

[2021-09-20 10:50] ojeytonwilliams commented on #43105
As test authors? I assume you'd try to write tests such that they could give the detailed feedback and fallback to the empty message if it's not possible.

That's assuming we want this in the first place :man_shrugging:

[2021-09-20 11:57] ShaunSHamilton commented on #43491
@Jy411 Thank you, for your interest in contributing. However, issues with the _help wanted_ or _first timers only_ label are open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contrib

[2021-09-20 12:01] ShaunSHamilton commented on #43105
I have specifically been writing tests using their method assertions (e.g. Instead of `assert(truthy)`, `assert.isTrue(truthy)`) for this reason - in the case we want to have more granular output.

Largely, I am still in favour of this approach: https://github.com/freeCodeCamp/freeCodeCamp/pull/40518

But again, will it work for the new editor tests - they should be written as hints anyway (not ju

[2021-09-20 12:58] 7harshit20 commented on #43439
I would love to solve this as my first open-source contribution. I explored the certificate.js file, but I got confused in the below given part of code:

// if fullcert is not found, return the latest completedDate
        if (certType === 'isFullStackCert' && !certChallenge) {
          completedDate = getFallbackFrontEndDate(
            completedChallenges,
            completedDate
          )

[2021-09-20 14:51] ankitkumarsamota121 commented on #43407
Hi @moT01! I would like to work on this issue. So far this is what I have understood, the tests need to ensure  -
- `superBlockOrder` is unique for each `superBlock`
- `order` is unique for each block within a `superBlock`
- Challenge IDs inside `challengeOrder` of each block are unique
- Throw a warning if `order` numbers do not start at 1 or are not contiguous

I can find all the `order` numbers

[2021-09-20 18:14] ojeytonwilliams commented on #43105
I think that's a very good point.  We should focus on what we want for the project-based curriculum.  The soon-to-be-legacy console isn't really worth worrying about, imo.  It's not terrible as is.

So, since you and @nhcarrigan have been writing almost all the tests, what would you like to be able to do that you can't currently?

[2021-09-20 18:23] ShaunSHamilton commented on #43105
We have a few _features_, but there is nothing that has to be done, in terms of running the tests and their output.

[2021-09-20 18:53] #42528 closed

[2021-09-20 18:55] moT01 commented on #43407
That all sounds right @ankitkumarsamota121. I made a mistake - the challenges don't have an order number, they are just in an array for their order - looks like you noticed that. You could potentially see if those challenges ID's in the meta files match the ID's in their challenge files - I don't think there's a test for that. That's not entirely necessary, but it would provide some extra stabilit

[2021-09-20 19:45] moT01 commented on #43105
So should we just close this then? I agree that it's not worth the effort to slightly improve the existing console that already works quite well.

[2021-09-20 19:58] moT01 commented on #43439
Thanks for your interest @7harshit20 - I'm not positive that what I described is the problem. It's what I think is happening, and it might be quite difficult to reproduce. That does look like the area of the code where that check would need to happen. If you want to see if you can fix it, go for it 👍 I'm not sure how difficult it will be to fix it - or if the problem is even in the codebase. There

[2021-09-20 20:00] ShaunSHamilton commented on #43105
_When in doubt, close it_ 😉

I think we are happy with the current behaviour of the current editor/console.

If it comes up, we can open a new issue specifically for the new editor/output.

[2021-09-20 20:01] #43105 closed

[2021-09-20 20:02] moT01 commented on #43105
<generic close issue message here>

[2021-09-21 01:40] moT01 commented on #42256
I put you down for that file @shubhangi013
There's two open PR's for refactoring the DesktopLayout @meronokbay, we just forgot to mark it on here. I put you down for the other three

[2021-09-21 07:02] ankitkumarsamota121 commented on #43407
While working on the test for `superBlock` and `superOrder`, I noticed that for the superBlock `certifications` there are two superOrders -
- `0` for current challenges
- `12` for legacy challenges

Also, the legacy challenges have an extra field `isPrivate: true`.
So, should I avoid writing checks for challenges that are private?
Or should the `superOrder` for `certifications` be same for all cha

[2021-09-21 08:21] ahmadabdolsaheb commented on #41582
@Ismailtlem thanks for working on this 🙌

[2021-09-21 08:21] #41582 closed

[2021-09-21 10:50] Rahul4343 commented on #43491
use command properly

[2021-09-21 13:18] moT01 commented on #43407
You should be safe to change the superOrder to 0 for all the certs if you need to - I changed all the others in [this PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/43108/files). I must have just missed the legacy ones.

It looks like isPrivate is on all the certs, not just legacy. One thing I noticed is that some of the certs share an order. I'm not sure if that's is a problem - likely not

[2021-09-21 14:16] jeremylt opened #43516 "Global State Reset Bug"
## Affected page

All JavaScript Challenges

## Your code

Something introduced a bug in the runner for JavaScript challenge tests. Now the global variable space for each challenge is separate. This means that invalid solutions that [ab]use the global space are suddenly passing challenges.

For example, see the recursion challenges

https://www.freecodecamp.org/learn/javascript-algorithms-and-data

[2021-09-21 14:28] moT01 opened #43517 "Example code in hover + css animation doesn't work very good"
The example code in the description of [this challenge](https://www.freecodecamp.org/learn/responsive-web-design/applied-visual-design/use-css-animation-to-change-the-hover-state-of-a-button) doesn't really work. I'm guessing there's supposed to be a smooth animation, but it doesn't do that - and I can't really keep the image hovered because it changes sizes on hover, which causes me to not have i

[2021-09-21 15:19] ShaunSHamilton commented on #43516
Hey Jeremy,

I have not noticed a change in behaviour, but I do not see this as a bug.

Whilst the use of global variables is not recommended, according to the linked challenge instructions, their use is not prohibited. As such, the given example is a valid solution - recursion is used to solve the task, and the script outputs are correct.

Essentially, I see no issue with the current test runner

[2021-09-21 15:46] jjnilton opened #43518 "Build an Image Search Abstraction Layer challenge example API to recent queries not working"
## Affected page

https://www.freecodecamp.org/learn/coding-interview-prep/take-home-projects/build-an-image-search-abstraction-layer

## Your code

returns:

## Expected behavior

I think it should show the recent queries.
## System

- Device: [e.g. iPhone6, Laptop]
- OS: [e.g. iOS 14, Windows 10, Ubuntu 20.4]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]>

[2021-09-21 18:31] hamzawaleed0102 commented on #41580
Yes @ahmadabdolsaheb  that would be great 🎉. Please share a bit more details to help me get started easily.

[2021-09-21 21:25] Shofiya2003 commented on #43517
Can I take up this issue?

[2021-09-21 21:36] jamesgeer commented on #43517
Hi moT01,

I've created this [pull request](https://github.com/freeCodeCamp/freeCodeCamp/pull/43524) for the issue you raised.

This is my first open source contribution so I hope it all goes well!

[2021-09-22 04:09] tabhay563 commented on #43517
i will work on this issue

[2021-09-22 07:22] #43449 closed

[2021-09-22 08:08] ahmadabdolsaheb commented on #41580
We have a component library at https://github.com/freeCodeCamp/freeCodeCamp/tree/main/tools/ui-components
that uses storybook for managing and documenting UI components. It uses tailwind to style those components and rollup to bundle them.

A good starting point would be reading the TS related Storybook docs: https://storybook.js.org/docs/react/configure/typescript

[2021-09-22 08:18] hamzawaleed0102 commented on #41580
Thanks @ahmadabdolsaheb
Let me go through the docs and get back to you on this, most probably with a draft PR.

[2021-09-22 14:29] moT01 opened #43536 "Regex test on challenge doesn't allow no semi-colon"
From chat:

It's a minor edge case, I wouldn't object to a fix. The file is [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/applied-visual-design/center-an-element-horizontally-using-the-margin-property.md). I suppose the regex would need to check if it ends with `;` or some space and `}`. Also, there's no check making sure the p

[2021-09-22 14:42] ShaunSHamilton commented on #43536
Prime opportunity to use [CSSHelp](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/utils/css-help.ts)

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not re

[2021-09-22 15:28] jeremylt commented on #43516
I would assume it is a change somewhere here:
https://github.com/freeCodeCamp/freeCodeCamp/commits/main/curriculum/test/test-challenges.js

But this stuff is hieroglyphs to me and I don't see anything that would obviously cause the change.

[2021-09-22 16:02] ieahleen commented on #43516
if I remember correctly it was somewhere around the issue that is there if the global state stay the same with people using `test` regex method with the `g` flag, with tests failing because lastIndex advance and people not getting it

[2021-09-22 16:07] #43517 closed

[2021-09-22 16:21] jeremylt commented on #43516
That seems like a reasonable thing to do for the regex tests, but it lets a ton of bad code through for the rest of the JavaScript challenges.

[2021-09-22 19:58] hamzawaleed0102 commented on #41580
@ahmadabdolsaheb Here's the [link to the PR,](https://github.com/freeCodeCamp/freeCodeCamp/pull/43541) looking forward to your valuable feedback.

[2021-09-22 23:19] jeremylt commented on #43516
This also makes the Project Euler solutions run slower by wiping any cached values, which makes it harder to show the benefits of memoization for people doing the interview prep challenges.

[2021-09-23 01:06] jamesgeer commented on #43536
Hi @moT01, I've opened a pr regarding this issue.

I tried implementing a replacement code assessment to replace the regex, but the test cases always failed. (for me atleast).

For example, I tried:

    assert($('div').css('margin') == 'auto');

Is there a reason this works in [this file](https://github.com/freeCodeCamp/freeCodeCamp/blob/73e5c4d935578e76c01e0248a7e6d042c99fb52b/curriculum/challen

[2021-09-23 06:38] ieahleen commented on #43516
checking the regex challenges to add a test for the `g` flag may be a bit of work, but it can make so to revert the change. or it could be hidden by adding a `regex.lastIndex = 0` before each test run

[2021-09-23 09:03] Ismailtlem commented on #42256
I can take those as well :
[code]
If still not assigned to anyone

[2021-09-23 09:38] ojeytonwilliams commented on #42256
Sure @Ismailtlem, thanks for taking them on.

[2021-09-23 13:26] Mahmoud-Ostaz commented on #10760
<h2>CatPhotoApp</h2>
<main>
  <p>Click here to view more <a href="#">cat photos</a>.</p>

  <a href="#"><img src="https://www.bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back."></a>

  <p>Things cats love:</p>
  <ul>
    <li>cat nip</li>
    <li>laser pointers</li>
    <li>lasagna</li>
  </ul>
  <p>Top 3 things cats hate:</p>
  <ol>
    <li>flea treatment</li>
    <li>thunder</li>

[2021-09-23 16:37] #39675 closed

[2021-09-23 18:25] #43536 closed

[2021-09-23 21:26] Stev24 commented on #41072
Is this issue already fixed ? Or do you still need help ?

[2021-09-24 05:33] #37700 closed

[2021-09-24 06:33] scissorsneedfoodtoo commented on #43518
Thanks for reporting this @jjnilton. Turns out we had to update one of the environment variables for this project and give it a restart.

Will close this for now. But please try that endpoint again and let us know if you're still having issues.

[2021-09-24 06:33] #43518 closed

[2021-09-24 07:13] scissorsneedfoodtoo opened #43555 "Add a note about anonymizing IP addresses to the Stock Price Checker project"
Recently we [fixed an issue](https://github.com/freeCodeCamp/demo-projects/pull/59) with saving a user's IP address to the database for calculating likes.

We also added some functionality to anonymize IP addresses before saving it to the db. The method we went with was to set the last octet of an IPv4 address to 0 (127.0.0.1 --> 127.0.0.0), or the last 32 bits of an IPv6 address to 0:0 (2001:db8:

[2021-09-24 11:47] budbreaker commented on #42203
Hello I am eyeing this issue, trying my hand at contributing.
I just wonder whether server unavailability is reproducible on local environment and/or Gitpod.

[2021-09-24 12:33] ojeytonwilliams commented on #42203
Hey @budbreaker.  It certainly is and the following steps should replicate it:

1. in one terminal: `npm run develop:client`
2. in a separate terminal: `npm run develop:server`
3. sign in, if you are not already
4. shut down the server
5. navigate to a challenge
6. wait a few seconds to see the warning

[2021-09-24 13:44] ahmadabdolsaheb commented on #41072
@Stev24, the issue has not been resolved completely. You could see the issue if you visit Coderadio with a screen taller or wider than FHD.

[2021-09-24 20:32] budbreaker commented on #42203
hi @ojeytonwilliams
I am looking at the problem and it seems that the isOnline property is not being set correctly... which baffles me, because it's being set as such

https://github.com/budbreaker/freeCodeCamp/blob/cf3dc4d3b5656a9aa95bd7b76f6098d0f560a3a5/client/src/components/layouts/Default.js#L121-L122

but inside the offline-warning function with disabled server the values are following:

isO

[2021-09-25 03:56] Lakho145 opened #43563 "Index.md"
## Affected page

## Your code

[code]

## Expected behavior

## Screenshots

## System

- Device: [e.g. iPhone6, Laptop]
- OS: [e.g. iOS 14, Windows 10, Ubuntu 20.4]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

## Additional context

[2021-09-25 04:38] #43563 closed

[2021-09-25 08:33] ojeytonwilliams commented on #42203
Hey @budbreaker.  So, what's going on is that that function is only called when the `online` and `offline` events fire.  So, if you turn off your internet, that will trigger and correctly show the offline warning.  In addition there's a redux epic that dispatches an `onlineStatusChange` action when it's unable to reach the server: https://github.com/freeCodeCamp/freeCodeCamp/blob/e44610f1d02e53404

[2021-09-25 09:31] budbreaker commented on #42203
Yes, this will help greatly, because I was unsure whether there will be a need to implement some sort of heartbeat to check for server availability.

[2021-09-25 11:45] pranay101 commented on #43448
Hey, I am new to open-source and I would like to work on this issue.

[2021-09-25 13:26] ashiskumar-1999 commented on #42256
Hey @ojeytonwilliams, Can I take these for the typescript migration?
/client/src/components/landing/

[2021-09-26 10:54] nayabatir1 opened #43574 "Issue: Authentication with Socket.IO"
## Affected page

[challenge link](https://www.freecodecamp.org/learn/quality-assurance/advanced-node-and-express/authentication-with-socket-io)

## Your code

[code]

## Expected behavior

![image](https://user-images.githubusercontent.com/91016903/134804556-817a7fcf-3716-41b6-9912-8ea4de87e20c.png)
I've written above as mentioned in challenge description.

## Screenshots

![image](https://user-i

[2021-09-26 11:01] budbreaker commented on #42203
Hi @ojeytonwilliams
I am almost done with this, but I have stumbled upon one problem. I have added a new string into english `translations.json` file, but when I try to invoke it as the previous one was (`t('misc.server-offline')`), it will only say "misc.server-offline". Do I need to update something in order for the string to be usable as the others in translation files ?

[2021-09-26 11:20] gikf commented on #43574
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions with

[2021-09-26 11:20] #43574 closed

[2021-09-26 13:50] Sembauke commented on #42203
You can run  `npm run clean:client` and run develop again.

[2021-09-26 13:57] budbreaker commented on #42203
Yes thank you, I got my response in the chat meanwhile, so I deleted my comment here.

[2021-09-26 16:54] RaspberryLime commented on #43233
This is fixed in iOS 15. There are two ways of displaying tabs in Safari now, and it works both ways.

This is the new (default) way of displaying tabs and the URI bar in Safari:
![6E2D39E3-C1AC-4F94-8060-0DE285418D8F](https://user-images.githubusercontent.com/25120737/134816711-2e0fce97-c812-4cb3-adfc-4272f9a02202.png)

It is possible to switch to the old way:
![2C333507-BE47-40B2-AB5B-2763290387

[2021-09-26 18:14] jsgm opened #43578 "Adding a comment causes a valid answer to be wrong"
## Affected page
Adding a comment causes the result that should be correct to be returned as invalid in the following page:

[JavaScript Algorithms and Data Structures > ES6 > Compare Scopes of the var and let Keywords](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/compare-scopes-of-the-var-and-let-keywords)

## Your code

**Code used:**
[code]

**Console result

[2021-09-27 08:00] ojeytonwilliams commented on #43578
Thanks for the report @jsgm.  The problem is that comments are not removed from `(getUserInput('index'))`, only from the `code` variable.

A simple fix would be to re-write the test to use `code`.  For example:

[code]

[2021-09-27 09:15] Sembauke commented on #42256
Hey @ashiskumar-1999,

These seem to be taken already, sorry!

[2021-09-27 09:17] ashiskumar-1999 commented on #42256
@ojeytonwilliams
Okay, you can mention the file names that needs the migration and not taken away by anyone.

[2021-09-27 10:00] Sembauke commented on #42256
@ashiskumar-1999  sure here are some:
[code]

[2021-09-27 13:22] ahmadabdolsaheb opened #43585 "Claim cartification card shows completed step without signing in."
## Affected page

Certification pages

## Expected behavior

Users should be singed in before their requirements are checked.

## Screenshots

<img width="905" alt="Screen Shot 2021-09-27 at 4 12 39 PM" src="https://user-images.githubusercontent.com/4591597/134916697-5e1b8a35-7212-4b77-869a-de225fc8268f.png">

[2021-09-27 13:29] Sembauke commented on #43585
@ahmadabdolsaheb  This will be fixed in the pr I made #43335.

[2021-09-27 16:33] #43585 closed

[2021-09-27 18:12] elfransat commented on #43578
Hi,

Would I be able to have a go at this?

Thanks

[2021-09-27 18:25] elfransat commented on #43578
hi @gikf

This issue does appear to have the label first timers only as far as I can tell.

[2021-09-27 18:34] gikf commented on #43578
@elfransat, to use a different words - you are free to contribute, if you are first-time contributor, and you don't need to ask :slightly_smiling_face:

[2021-09-28 09:24] ashiskumar-1999 commented on #42256
Thanks @Sembauke , I am taking it.

[2021-09-28 09:40] silver919 opened #43591 "Raising a test issue for practicing"
This is a test issue created to practice. **Please ignore!**

[2021-09-28 09:42] #43591 closed

[2021-09-28 13:03] ShaunSHamilton commented on #42203
After looking over the #43576 implementation, it looks as though we would be best removing the _Camper offline_ logic, and, instead, simplify everything to:
- If Camper cannot reach server, Camper is disconnected

That is, the only thing we care about is whether or not the client can access the server. So, there is only one `online` state to keep track of.

@ojeytonwilliams and @Sembauke Thoughts?

[2021-09-28 14:51] jeremylt commented on #43516
Hmm, if it isn't possible to selectively reset the global space only for some challenges, that might be the way to go.

[2021-09-28 16:52] mirenbz commented on #17899
Hi, I don't have any contribution to make, just would like to express that I'm using freeCodeCamp as a teacher in my (undergraduate level) class and would love to have some of the features you listed for this "Classroom setting".

For me, having the ability to check progress on a group of students would suffice. I used to achieve something similar by scraping public profiles with Yahoo! Pipes, but

[2021-09-28 18:59] prashantaghoshal commented on #43578
Hi @gikf

Am an absolute newbie and this is my first first-step in Open Source World. Have submitted a PR to fix this issue. many thanks for providing this for a beginner to take up. While submitting the PR, i just realized that i have not taken care of the localization versions - Chinese, Spanish etc.  Will the update be pushed to these versions automatically? Else should i update those files too

[2021-09-28 19:08] gikf commented on #43578
Hey @prashantaghoshal

files in other languages don't need (nor should they) to be changed manually. They will be updated using the translation workflow.

[2021-09-28 22:35] prashantaghoshal commented on #43578
Hi @gikf

Many Thanks for your review and guidance. have updated accordingly.

[2021-09-29 08:21] ieahleen commented on #43555
Should this be opened for help, or there is discussion to be had first on this?

[2021-09-29 09:13] #43578 closed

[2021-09-29 09:24] ieahleen commented on #43516
let's open this for help and let's see if someone is willing to go through the regex challenges

[2021-09-29 09:27] ieahleen commented on #43114
to put it here, it will only needs to be re-approved if someone with manager access goes to Crowdin and use the _PRE-TRANSLATE from Translation Memory_ feature to retrieve all translations, then proofreaders will just need to double check and approve.

[2021-09-29 09:28] ieahleen commented on #43485
I will add Help Wanted to this issu, to help investigate the issue

[2021-09-29 12:29] Anay21110 commented on #39748
I have updated the link.

Waiting for the approvals !

[2021-09-29 14:20] Sembauke commented on #39748
@ieahleen, I can see a lot of confusion with the opened PR's. Could you be a little more specific on what the link should link to?

[2021-09-29 14:29] Nirajn2311 commented on #39748
Currently 4 files have broken links to a repo. The links have to be updated to https://github.com/krishnatray/RDP-Reading-Data-with-Python-and-Pandas

The 4 files with the broken links are:
* https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-course/reading-data-csv-and-txt.md
* https://github.com/freeCodeCamp

[2021-09-29 15:15] bkelley361 commented on #39748
I have updated all 4 links and submitted the PR.

[2021-09-29 22:07] #39748 closed

[2021-09-29 23:15] jdwilkin4 opened #43624 "Need to remove videos from HTML challenges using old image src url"
For the HTML and CSS challenges, the src url for the image tag was recently changed.

This is the old url
`src="https://bit.ly/fcc-relaxing-cat."`

This is the new one
`https://cdn.freecodecamp.org/curriculum/cat-photo-app/relaxing-cat.jpg`

We have campers using the old URL because they watched the video in the Get Help section.
For example,
[Forum post of user copying incorrect code from video](

[2021-09-30 05:29] gikf commented on #43624
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/add-images-to-your-website.md
2. https://github.com/freeC

[2021-09-30 05:57] bbsmooth commented on #42311
Sorry, it's been a while since I've had a chance to get back to this. Another suggestion for updating this challenge would be for the user to fix an inappropriate usage of `tabindex="0"` by having them remove it from the HTML. The challenge currently explains what `tabindex="0"` does to an element. It could then elaborate that this should only be used in very specific circumstances, such as for cu

[2021-09-30 06:23] bbsmooth commented on #42304
Sorry for the late reply. If someone wants to change this to be a tutorial on using `tabindex="-1"` I'm all for that. Or this could be updated to tell the user that you should never use a positive tabindexes and the challenge could require the user to remove them from the HTML. But if that's not going to happen then I think this lesson should be removed because it is implying that using a positive

[2021-09-30 06:41] deepto98 commented on #43624
Hi, I'd like to work on this issue, can you please assign this to me?

[2021-09-30 07:00] jdwilkin4 commented on #43624
Hi @deepto98 !

This issue has been marked with the first timer contributor label.

First timers only label are open for anyone doing contributions for first time to freeCodeCamp. You do not need permission to work on these.
Make sure to read the material that @gikf posted on how to contribute.

[2021-09-30 08:53] deepto98 commented on #43624
@jdwilkin4 Sure, thank you. I'll go through this.

[2021-09-30 11:40] EugeneGohh commented on #42509
Can I work on GraphQL query? Also, it seems like I can't find `Show.js`.

[2021-09-30 13:36] moT01 commented on #42509
I'm not sure that one is necessary @EugeneGohh. I put a question mark at the end of it because I wasn't sure. I'm pretty sure I used to see a warning about it in the console, but I just ran the code and don't see it anymore - so I'm guessing that issue would be fine how it is if we want to leave it. But if you want to look into it to find out if it's better to use one over the other, the [show fil

[2021-09-30 15:13] #43624 closed

[2021-09-30 16:53] kelvinsanchez15 opened #43639 "When selecting a language in the nav menu it opens in a new tab"
## Affected page

[https://www.freecodecamp.org/](https://www.freecodecamp.org/)

## To reproduce

Steps to reproduce the behavior:

1. Go to [https://www.freecodecamp.org/](https://www.freecodecamp.org/)
2. Click on 'Menu'
3. Select a language (ex. Español)
4. See how it opens in a new tab

## Expected behavior

It should open in the same tab.

## System

- Device: Laptop
- OS: Windows 104]
- Bro

[2021-09-30 17:42] Dhananjaymahajan2001 commented on #43639
hello i would like to work on this issue but i am quite new to open source so can you help me with which files to check for the code

[2021-09-30 17:50] diivi commented on #42838
I am having the same issue with node v14.18.0

[2021-09-30 18:02] ieahleen commented on #43639
@Dhananjaymahajan2001 thank you for wanting to contribute, this issue has not been triaged yet. Check our contributing guidelines at contribute.freecodecamp.org . Check issued with labels “first timers only” and “help wanted” to know where you can contribute.

[2021-09-30 18:06] diivi opened #43640 "Something went wrong installing the "sharp" module Cannot find module '../build/Release/sharp-linux-x64.node' on Ubuntu"
## Affected page

https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-locally?id=step-4-start-the-freecodecamp-client-application-and-api-server

## To reproduce

`npm run develop`
versions:
node v14.17.10
npm v6.14.13

## log
[code]

## error
![image](https://user-images.githubusercontent.com/41837037/135507257-c053e187-b717-453a-90fe-8a8904b470e7.png)

I have tried all other solution

[2021-09-30 18:38] ieahleen commented on #43640
Could you open a topic on the forum in #contributors sub forum? It’s the best place for support on setting up freeCodeCamp locally

[2021-09-30 18:38] #43640 closed

[2021-09-30 19:47] LauraJaime8 commented on #40998
Hi! I would like to contribute to this PR. Could it be possible?

It is my first time and I have seen that this PR has the help wanted tag.

[2021-09-30 19:50] LauraJaime8 commented on #39739
Hi!!! Is open for contributors now? Thanks!

[2021-09-30 20:10] nhcarrigan commented on #40998
Hey there @LauraJaime8,

I had started taking a look at this, but have been pre-occupied with other tasks. You're welcome to try a solution! You can refer to #43237 to see where I had gone.

[2021-10-01 01:40] starkkumarkk1611 commented on #43639
Hi, I can fix this issue assign me this issue. I have inspected the affected page there is a target blank attribute

[2021-10-01 01:46] vishwasnavadak commented on #42838
@diivi I suggest sticking to Node v14.17.0 for now if you are on M1 Mac.

[2021-10-01 04:30] #42893 closed

[2021-10-01 05:03] diivi commented on #42838
@vishwasnavadak tried switching too, still doesn't work, Gatsby is working though. Also, I am using a Linux machine

[2021-10-01 06:39] uttammanani commented on #43639
I want to work on this issue, please assign me this task. I can fix this for sure.

[2021-10-01 06:51] ieahleen commented on #43639
@starkkumarkk1611 @uttammanani thank you for wanting to contribute, this issue has not been triaged yet, check the “help wanted” or “first timers only” labels.

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you w

[2021-10-01 07:49] Nzamuyejoram commented on #43427
@ieahleen  Yeah cool. i really like that spirit ! Working on it

[2021-10-01 07:55] ieahleen commented on #43427
@Nzamuyejoram this issue has already a linked PR which is almost done, I wouldn’t advise you to work on it

[2021-10-01 08:03] ieahleen commented on #43233
This seems fixed, so I am closing the issue. If I am wrong please comment to have it reopened.

[2021-10-01 08:09] ieahleen commented on #40718
Ghost never answered, if it’s still an issue would it be worth it to reach again to them?

[2021-10-01 08:20] scissorsneedfoodtoo commented on #43555
I think we can open this up for help. It would make a good issue for first timers.

I'm not that familiar with GDPR and similar regulations, but I'm thinking a simple note at the end of the [project page](https://www.freecodecamp.org/learn/information-security/information-security-projects/stock-price-checker) should be enough.

The note could mention the importance of complying with data privacy

[2021-10-01 11:46] erickramon1235 opened #43656 "Hola ffb"
## Affected page

## Your code

[code]

## Expected behavior

## Screenshots

## System

- Device: [e.g. iPhone6, Laptop]
- OS: [e.g. iOS 14, Windows 10, Ubuntu 20.4]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

## Additional context

[2021-10-01 11:46] erickramon1235 commented on #43656
Nada

[2021-10-01 11:46] #43656 closed

[2021-10-01 11:47] erickramon1235 opened #43657 "Ggh"
## Affected page

## Your code

[code]

## Expected behavior

## Screenshots

## System

- Device: [e.g. iPhone6, Laptop]
- OS: [e.g. iOS 14, Windows 10, Ubuntu 20.4]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

## Additional context

[2021-10-01 11:47] ieahleen commented on #43656
Please use your own repo for testing how GitHub works, thank you

[2021-10-01 11:47] erickramon1235 opened #43658 "Hg"
## Affected page

## Your code

[code]

## Expected behavior

## Screenshots

## System

- Device: [e.g. iPhone6, Laptop]
- OS: [e.g. iOS 14, Windows 10, Ubuntu 20.4]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

## Additional context

[2021-10-01 11:48] #43657 closed

[2021-10-01 11:49] #43658 closed

[2021-10-01 12:59] SwarajBaral commented on #41072
hey @ahmadabdolsaheb, I have an idea. We can overlay the gif and bg-image and export it as a gif altogether. We can use the exported gif as the background image and a single gif is much easier to make responsive. Can I give it a try ?

[2021-10-01 13:04] moT01 commented on #43639
I feel like there was a reason that we had those open in a new tab, but I don't recall exactly why. I think we should leave it as-is for now, until we can figure out if that was intentional or not.

[2021-10-01 17:16] ieahleen commented on #43555
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/09-information-security/information-security-projects/stock-price-checker.md

Please make sure you read

[2021-10-01 17:34] #38380 closed

[2021-10-01 17:38] raisedadead commented on #40718
I might be wrong, but Ghost's team is rightfully opinionated about support on their forum. More often than not, their team does get a lot of backlash for something which is open-source.

We should probably get in touch with them again, but I think the best path forward is to develop our own tooling. I will take this up myself once I get more time post the 11ty work.

[2021-10-01 18:29] sandipanpanda commented on #43555
I am interested to fix this issue.

[2021-10-01 19:01] ieahleen commented on #43555
Hey @sandipanpanda
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any i

[2021-10-01 19:57] nhcarrigan opened #43668 "Project-Based Curriculum Features"
Migrating this information from a spreadsheet to an issue, to facilitate discussion and keep everything in one place. This is a mono-issue for the client-side features related to the new project based curriculum.

## Notes Tab (MVP)

We need to add a `notes` tab to the editor (on the `preview` side) to display additional information, complete test list, and solution section.

The solution for the

[2021-10-02 00:45] LilCthulu commented on #43555
Is this issue still open?

[2021-10-02 03:06] regromrob commented on #43448
@NoorFakhry Hi 👋🏾 I wanted to know if this issue is still up for grabs? If so I would love to be assigned.

[2021-10-02 05:50] ieahleen commented on #43555
@LilCthulu yes, but now there is a pr that will close this one

[2021-10-02 05:52] ieahleen commented on #43448
@regromrob we don’t assign issues, but it seems that there is a PR linked to this issue already.

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors doc

[2021-10-02 06:14] Tamanna-S commented on #43639
may i resolve this issue..?

[2021-10-02 07:01] ieahleen commented on #43639
@Tamanna-S this issue is blocked, look at issues with "help wanted" or "first timers only" to know what needs contribution

[2021-10-02 07:32] viroopaksh-utrayak commented on #43639
i know how to resolve this  issue

[2021-10-02 07:32] viroopaksh-utrayak commented on #43639
but how

[2021-10-02 07:35] Tamanna-S commented on #43639
okay.. thank you
@ieahleen i am beginner may you help me how to get started in it?

[2021-10-02 08:31] ieahleen commented on #43639
@viroopaksh-utrayak @Tamanna-S thank you for your interest but this issue is blocked, it is not open for contribution.

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not rea

[2021-10-02 10:10] ahmadabdolsaheb commented on #41072
@SwarajBaral, that makes sense. please go ahead with a pr.

[2021-10-02 10:38] manishreddy6305 commented on #43639
I can resolve this issue. Can you assign this issue to me?  Probably it may take 1-4 hour.

[2021-10-02 11:28] omkar-mulay commented on #43448
Hey @ieahleen ! I am new to opensource, i would like to work on this issue. Can you help me out on resolving this issue?

[2021-10-02 11:34] RotonEvan commented on #42304
Given that positive `tabindex` exists, I think it is necessary to specify a clear reason why they should not be used/preferred. If someone wants a specific line to add to specify, I'm ready to update that and the whole tutorial as well.

[2021-10-02 11:46] ieahleen commented on #43448
@omkar-mulay please read already written messages on an issue, I just answered the same exact post already

[2021-10-02 11:47] ieahleen commented on #43639
@manishreddy6305 before commenting on an issue please read already existing posts, I already answered to really similar posts already

[2021-10-02 12:35] SwarajBaral commented on #41072
@ahmadabdolsaheb okay then, I am on it.

[2021-10-02 12:45] ashiskumar-1999 commented on #42256
Hey @Sembauke, I have migrated the .js file to the .tsx file. I just want you to cross-check the code to find any ambiguities. Can I share the code sample here?

[2021-10-02 13:43] SwarajBaral commented on #41072
@ahmadabdolsaheb I have created the required pr. Please go through it and let me know if it needs any changes. Thank you.

[2021-10-02 13:46] manishreddy6305 commented on #43639
Sorry My bad .

[2021-10-02 14:35] thecodingaviator commented on #42256
Hello @ashiskumar-1999 i believe you can create a PR, we’ll review it for ambiguities and request changes.

[2021-10-02 15:19] ieahleen opened #43683 "video needs to be removed from testing objects for properties challenge"
The challenge "Testing objects for properties" has an outdated video, it needs to be removed.
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/testing-objects-for-properties

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1.

[2021-10-02 16:04] Urmi-Jana commented on #43683
Hi,
I'd like to work on this issue

[2021-10-02 16:51] #43683 closed

[2021-10-02 19:44] Le-Roi777 commented on #43639
Hi @moT01,

The HTML `<a>` tag links in the menu language options has the HTML `<a>` tag target attribute.

The target attribute value `target="_blank"` wil open the page in a new  window.
`<a target="_blank">Español</a>`

If you decide not to open the page in a new window, you can simply set the target attribute value to `target="_self"`, this is by default.
`<a target="_self">Español</a>`

[2021-10-02 19:53] ashan333 commented on #43639
Yess it will

On Sun, Oct 3, 2021, 12:51 AM Le-Roi ***@***.***> wrote:

[2021-10-02 20:24] neeraj-2 opened #43688 "Typo in Readme"
## Affected page

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/README.md

## To reproduce

Just go through the readme and check line number 13, which says:

## Recommended fix, suggestions

It appears that the singular verb 'is' does not agree with the plural compound subject Our full-stack web development and machine learning curriculum. Consider changing the verb to the plural form. So

[2021-10-02 20:28] #43688 closed

[2021-10-02 20:28] neeraj-2 commented on #43688
Realized it has already been fixed. Thanks

[2021-10-02 20:35] ieahleen commented on #43688
Curriculum is singular

[2021-10-02 23:00] RobertoMSousa commented on #42256
Hello.
What are the rules to select the files that are not migrate yet. I started working from top of the components and some of them it seems that are already taken.

[2021-10-03 05:44] satvik07-ynk commented on #43639
I can fix this issue, please assign me.

[2021-10-03 06:09] gikf commented on #43639
@satvik07-ynk Please read all comments in this issue.

[2021-10-03 08:25] TomerPacific commented on #42951
Is someone still working on this or is it open for contributions?

[2021-10-03 08:26] TomerPacific commented on #41463
@moT01 , is this still relevant? Wanting to help out.

[2021-10-03 08:31] ieahleen commented on #42951
@TomerPacific there is not a linked PR to this issue

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.fre

[2021-10-03 08:32] ieahleen commented on #41463
Yes, it was never fixed @TomerPacific

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#

[2021-10-03 10:57] ShaunSHamilton commented on #42256
@RobertoMSousa Hello there. It does not appear there are any files available to migrate at the moment. That is, all files have been assigned to those who previously requested them.

[2021-10-03 15:52] shadmankhan commented on #42107
Hi guys, I understand the importance of caching static assets. I have a suggestion, that we can add this caching process in the service-worker at the client-side. This also has various pros, that at this moment FCC doesn't have PWA (Progressive web app) support. We can bring the PWA feature as well as caching to the client-side. To achieve this, there are several ways, one of them is to use Google

[2021-10-03 18:00] gangov commented on #36841
hey there, I see that there's an assignee for this one, but does it need some work?

[2021-10-03 18:41] Bruno-366 opened #43701 "Passing challenge, solution link not being checked"
## Affected page

https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-projects/mean-variance-standard-deviation-calculator

## Your code

Solution Link

[code]

## Expected behavior

Right now, as long as I submit a valid URL, and press "I've completed this challenge", then it will mark the challenge as completed.

## Screenshots

![www freecodecamp org_learn_dat

[2021-10-03 18:47] Bruno-366 opened #43703 "unit tests for Python project "main variance standard deviation" are failing"
## Affected page

https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-projects/mean-variance-standard-deviation-calculator
https://replit.com/github/freeCodeCamp/boilerplate-mean-variance-standard-deviation-calculator

## Your code

[code]

## Expected behavior

I am sure that I have written an `calculate()` function that should pass the test.
The error seems to