[2020-09-25 17:38] Twaha-Rahman commented on #39574
As Oliver said [here](https://github.com/freeCodeCamp/freeCodeCamp/pull/39622#discussion_r491862505), I think we should use Percy for snapshot testing. Just saying it here to keep it all in one place.

@raisedadead Any thoughts?

[2020-09-25 19:10] #39674 closed

[2020-09-25 19:47] kevinsmithwebdev commented on #39687
@nhcarrigan Is there something wrong with regex? That is what it is using now, it's just that it doesn't match the description. I suppose we could parse the string manually. If the regex string is too arcane, perhaps the numbers could be captured out and tested separately. I would imagine still doing it with regex and it would be more verbose, but it might be a little more readable.

[2020-09-25 19:48] nhcarrigan commented on #39687
There is definitely nothing wrong with regex - it was just my understanding that the goal was to move away from using it in testing? I thought I saw some comments related to that, but I could have misread.

[2020-09-25 20:06] kevinsmithwebdev commented on #39687
Sorry, I'm not familiar with that conversation. (But in all fairness, I haven't been following this end of things much, I'm just getting back into it.)

[2020-09-25 21:25] ylevental opened #39696 "Javascript Calculator outputs correct results, but not all tests pass"
**Describe your problem and how to reproduce it:**

The test runs the following test twice:

`7. At any time, pressing the clear button clears the input and output values, and returns the calculator to its initialized state; 0 should be shown in the element with the id of "display"`

Additionally, it doesn't tell me what I did wrong.  All the results look fine.

**Add a Link to the page with the p

[2020-09-25 21:28] #39696 closed

[2020-09-25 21:29] ylevental commented on #39696
I forgot to add Infinity to when I was flattening the array

[2020-09-25 21:42] Twaha-Rahman opened #39697 "Capitalized letters in username silently gets converted to lowercase"
**Describe the bug**

While writing tests with Cypress, I found that in the `/settings` page when you try to change your username with a capital letter, it silently get's converted to lowercase. For example: if `Quincy` was input, it get's converted to `quincy`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/setting'
2. Click on the username change input and enter a username with ca

[2020-09-25 21:45] nhcarrigan commented on #39697
I'm seeing this in the actual input box itself. When I type "NHCARRIGAN", the input box shows "nhcarrigan" even before save.

[2020-09-25 21:55] Twaha-Rahman commented on #39501
Let's mock the search feature. We can test then.

[2020-09-25 22:04] RandellDawson commented on #39687
@nhcarrigan You are correct.  Where possible, we want to.  In this particular case, it is not possible with our existing test runner as the call to the function that they user writes just "runs" and it seems there is no way of looking at the values passed into the inside of the function.

[2020-09-26 07:54] mirceachira opened #39698 "Repl env does not setup properly because of missing description tag"
**Describe your problem and how to reproduce it:**
The repl environment for python projects doesn't install the dependencies properly for python challenges.

The problem is a missing description from the pyproject.toml file, under [tool.poetry].

This one I think has a 1 line fix, any value for description gets the env setup working, but I couldn't find another report of this issue. I hope here is

[2020-09-26 09:36] Sky020 commented on #39617
I agree with this. I was aware of the problem, and still got caught by it in this recent [forum post](https://forum.freecodecamp.org/t/qa-projects-metric-imperial-converter/420886/3)

So, let us make it official - Rex, your suggestion looks excellent.

[2020-09-26 09:40] Sky020 commented on #39698
Thanks for reporting this. The issue has already been reported:

Duplicate of #39175

As such, I am closing this.

[2020-09-26 09:40] #39698 closed

[2020-09-26 14:06] johntyree commented on #37942
Sounds good to me. As I mentioned before, the user stories as written already cover this as far as I'm concerned.

[2020-09-26 16:03] ItsOKayCZ commented on #39687
Hello, could I take this issue?

[2020-09-26 18:32] RandellDawson commented on #39687
@ItsOKayCZ Sure, I believe you can try to use the assert I referenced above.

[2020-09-26 20:00] kevinsmithwebdev commented on #39687
And do it for all the languages - I assume they'd all want these changes.

[2020-09-26 20:18] Ieahleen opened #39700 "embeds in forum sometimes have too big images"
In this forum post: https://forum.freecodecamp.org/t/help-needed-html/422742 the embed for the challenge link has a freecodecamp image that is a tad too big

![image](https://user-images.githubusercontent.com/26656284/94349590-1f6ed500-0046-11eb-9f9f-ecae932aa204.png)

confront with usual embed:
![image](https://user-images.githubusercontent.com/26656284/94349593-2ac20080-0046-11eb-97fb-835ba553cd

[2020-09-26 21:23] RandellDawson commented on #39687
Actually, this is not necessary.  The non-English versions of the curriculum will use the testString of the English file.  We will be making some change to the overall repo that will remove everything except the `description`, `instructions`, and test `text` of the non-English files.  Since, those are the only parts needing translation as we will use the English file for the other sections.

[2020-09-27 03:09] kevinsmithwebdev commented on #39666
Rather than having the examples in codepen, would it be good to just have them built as static pages, that they can just look at?

[2020-09-27 03:14] nhcarrigan commented on #39666
That's not a bad idea, I think.
Campers can still use CodePen to build their own work if they choose, but the source code for the examples would be less readily available. Still accessible in the dev tools, I believe, but that is a better alternative IMO.

[2020-09-27 05:55] mainak-debnath commented on #39687
Is this issue already taken?

[2020-09-27 09:52] scissorsneedfoodtoo commented on #39501
Hey @Twaha-Rahman, thank you for all of your help with testing. It's been awesome to see how quickly the testing coverage has improved with each of your PRs.

I'm all for mocking the search bar. Now that Cypress is in place, it will be good to make sure things like the up and down keys and mouse entering / leaving the dropdown is working as expected. I haven't looked much into it, but it should be

[2020-09-27 10:55] #39501 closed

[2020-09-27 11:33] raisedadead commented on #39692
Thanks for this recommendation, you are correct. It would be difficult to scale it on our available resources. So, I am going to rule it out at least for now sadly.

Let discuss our options here:

This one seems like a good interim solution and the least resistant path? I would let @mot01 and @RandellDawson leave some feedback though.

I am actually in favor of this, because if we had at least one

[2020-09-27 11:37] raisedadead commented on #39700
Thanks for reporting.

A quick fix to confirm if this is a bug is to check and rebuild the HTML for the post:

**more > post admin actions (wrench icon) > rebuild html**

Closing for now. Please re-open this issue if this persists and we will take a look.

[2020-09-27 11:37] #39700 closed

[2020-09-27 13:07] raisedadead opened #39704 "Use GitHub actions for testable-projects deployments"
We would like to use GitHub actions instead of travis CI for testing and deployments.

[2020-09-27 15:26] SaintPeter commented on #39692
You can see an example of what I'm talking about here:
https://github.com/freeCodeCamp/freeCodeCamp/pull/39615/files#diff-40bcd8c9d801a2a7814de509807dfa2dR177
I agree, it's it unsatisfactory.

In terms of putting a backend API on the either of the projects, I think it would be fairly straightforward and would improve our external test coverage.

Thinking out loud -
### Sudoku Solver

#### New User

[2020-09-27 15:57] eddiejaoude opened #39706 "Test issue for the YouTube video I am creating for FreeCodeCamp"
This is a test issue for a video I am creating. **Please ignore**

[2020-09-27 16:02] kevinsmithwebdev commented on #39666
Yeah, a clever coder could still find the code, but many of the beginners wouldn't know how, and at least it would be more work in that case.

[2020-09-27 16:22] Guru-coderZ commented on #39633
Is there an option to comment with videos

[2020-09-27 16:25] Guru-coderZ commented on #39633
I am not asking you to troubleshoot my code(I haven't shown it to you). There is an issue with the auto-completion
I am not able to add videos.
I want to show it to you.

[2020-09-27 16:41] Ieahleen commented on #39633
the freecodecamp editor doesn't have an autocomlpletion. But you can
provide a couple of screenshots, and a link to the page where you see this
happening.

Il giorno dom 27 set 2020 alle 18:25 Guru-coderZ <notifications@github.com>
ha scritto:

[2020-09-27 17:10] ojeytonwilliams commented on #39706
Hi. Please don't create spam issues as they create noise for the maintainers.  If you want to experiment, the best approach is to do so on your own fork.

[2020-09-27 17:10] #39706 closed

[2020-09-27 18:10] eddiejaoude commented on #39706
My apologies to the maintainers. I was keen to have the freeCodeCamp repo name in the video as it is for the freeCodeCamp YouTube channel. But I will do this in a fork in the future if this is preferred by the maintainers and the video will just have to show my GitHub username instead

[2020-09-27 18:23] raisedadead commented on #39679
I am open to creating a new branch on the upstream if you need to test it on CI by adding random commits? In theory you should be able to test it on a fork as well.

[2020-09-27 18:24] raisedadead commented on #39574
I clarified in on the original comment.

[2020-09-27 18:29] raisedadead commented on #39697
This behavior is intentional. At the minute we have a bug with case sensitivity and it works best if usernames are in small case.

[2020-09-27 18:31] nhcarrigan commented on #39697
I figured the behaviour was intentional, but should it be silent?
Maybe a note above/below the input that says "must be all lowercase letters"?

[2020-09-27 18:32] raisedadead commented on #39697
Yes, it could be part of the validation message. A PR is welcome to clear up the confusion.

[2020-09-27 23:12] RandellDawson commented on #39666
We are actually in the process of moving the front-end example projects off Codepen.

[2020-09-27 23:33] Nickgld commented on #39666
That would be awesome

[2020-09-28 02:36] moT01 commented on #39692
This seems to make the most sense to me. It's going to be more work initially - but being able to run the tests on the website makes it worth it I think. I think we should always try do this when we can. As Mrugesh said, "we are presenting both these projects as backend projects!" - making these adjustments would satisfy that and more closely align them with the other projects in this section. Do

[2020-09-28 05:45] aromalanil opened #39710 "Deprecated ComponentWillMount is present in React Section"
The React tutorial is containing ComponentWillMount lifecycle which is deprecated.

Page Link: https://www.freecodecamp.org/learn/front-end-libraries/react/use-the-lifecycle-method-componentwillmount

[2020-09-28 05:48] aromalanil opened #39711 "Make React Tutorial use Hooks"
# Description
At present, the React section in Front End Library Certification is using Class Components.
But since hooks are the new way of doing React and more people and adapting to Hooks, I suggest including Hooks in the program.

Also, I think for beginners hooks will be more welcoming and easy to the React world.

[2020-09-28 06:04] scissorsneedfoodtoo commented on #39470
@SaintPeter, awesome, thank you for looking into all that and coming up with some clever code to validate the input before doing any conversions.

I'll see if I can work what you have into the https://resonant-stupendous-wall.glitch.me/ example.

[2020-09-28 06:09] scissorsneedfoodtoo commented on #38416
@KartikSoneji, thanks for confirming that everything is working again.

It seems like that alert is coming from the test suite at https://github.com/freeCodeCamp/testable-projects-fcc. You may need to enable third party cookies to get that working, though it might not be a strict requirement. If you just want to check out the example project before you start building your own, it shouldn't be a pr

[2020-09-28 06:19] KartikSoneji commented on #38416
I agree, the popup is a minor issue since the page works as expected after dismissing it.

[2020-09-28 07:17] JimmyJoo commented on #39711
Yes, I was just thinking the same. I would love to contribute to including Hooks.

[2020-09-28 07:19] dvbsknd commented on #39572
I've managed to complete the challenge by cherry-picking changes from the updated one, so I'll close this issue.

[2020-09-28 07:19] #39572 closed

[2020-09-28 08:05] ojeytonwilliams commented on #39706
Well, this issue still exists if you want to reference it in your video.  However if you want to create multiple demo issues or PRs, it would be best if you did that in your own fork.  Doing it here means a lot of people will get unnecessary notifications.

[2020-09-28 08:13] ojeytonwilliams commented on #39711
@RandellDawson is the best person to guide here.  My understanding is that we'd love to include lessons with modern React concepts, but that we will be adding them in the upcoming curriculum, rather than the current one.

[2020-09-28 08:54] ojeytonwilliams commented on #39574
I should have replied here in the first place:

https://www.browserstack.com/open-source

It looks like they're happy to support OS projects, so we should be able to work something out.

[2020-09-28 10:50] aromalanil commented on #39711
If the team is planning to add this to the upcoming curriculum, I would suggest doing that as soon as possible, as the frameworks are regularly being updated the new curriculum also may get irrelevant soon. Also as @JimmyJoo said I also would love to contribute to include hooks.

[2020-09-28 11:14] raisedadead commented on #39692
That is correct, so any one who was in the middle of a project before we make the change would be affected. The users who have submitted it before the date of change should not be affected.

I think this is a small inconvenience that is fine?

[2020-09-28 13:57] SaintPeter commented on #39692
Yeah, I think I'd be willing to make the changes.  I have some time over the next month before I start my new job full time and this seems like an entertaining diversion.  I've already completed both projects, so I'd likely convert the projects then work backwards to the boilerplate.

There will always need to be a bit of duplication - I don't feel like the presentation of of the user stories in t

[2020-09-28 16:18] raisedadead commented on #39710
We should drop this challenge?

[2020-09-28 17:12] aromalanil commented on #39710
What is the point of including a deprecated lifecycle method ?

[2020-09-28 17:14] moT01 commented on #39710
Deprecated methods are still used in codebases so I vote to leave this. There's a note explaining that it is being deprecated.

[2020-09-28 17:20] #39710 closed

[2020-09-28 18:15] RandellDawson opened #39717 "Create single source of Machine Learning projects used with Google Colaboratory"
Create individual repos for the following Machine Learning certification projects under the freeCodeCamp organization on GitHub:

- Cat and Dog Image Classifier
- Book Recommendation Engine using KNN
- Linear Regression Health Costs Calculator
-Neural Networks SMS Text Classifier

Once created, the `learn` pages will need to be updated to include a link that will allow users to clone the GitHub re

[2020-09-28 19:55] ShaunSHamilton opened #39719 "Invalid PropTypes Sent to ShowSettings When Viewing Profile"
If the camper (unsure if this occurs in production, but I assume so), sets any profile-related settings to private, and views their profile, an empty object is passed to many props expecting arrays:

![image](https://user-images.githubusercontent.com/51722130/94479294-80281a00-01cc-11eb-8a49-50ff4c5528b3.png)

I have been working on this side of the platform, so can get to it soon, unless someone

[2020-09-28 20:56] ojeytonwilliams commented on #39719
Since you're already looking at this, please go ahead and create a PR.  If you do, tag me for review - I'd like to see what's going on here.

[2020-09-28 21:19] RandellDawson opened #39720 "Create single source of instructions and notes for back-end Node challenges"
Internally, we had several discussions about the pros and cons of moving all the instructions to a single place.  The final decision was to move all instructions and notes for the back-end Node challenges to `learn`.

Main reasons for decision:

- Creates a single source for user instructions to reside.
- Makes it easier to create translations of these challenges’ instructions.

Tasks:

1. Compare

[2020-09-28 21:21] nhcarrigan commented on #39720
I can jump in and start helping with some of these.

[2020-09-28 21:21] moT01 commented on #39720
I looked over this plan, and I think it looks good. Just keeping it as a discussion for a very short time in case anyone can point out any issues with making these changes.

[2020-09-28 23:12] RandellDawson opened #39721 "Create single source of user stories and notes for back-end Node certification projects"
Internally, we had several discussions about the pros and cons of moving all the user stories for the back-end certification projects to a single location. The decision was to move all the user stories and notes for the back-end Node projects to `learn`.

**Goals:**

- Creates a single source for user stories and instructions to reside.
- Makes it easier to create translations of these projects’ i

[2020-09-28 23:16] nhcarrigan commented on #39721
For this one, I've got a couple of PRs open to add tests.

Would it be preferred to roll these changes into those PRs or open new separate PRs?

[2020-09-28 23:16] RandellDawson commented on #39721
Just keeping it as a discussion for a very short time in case anyone can point out any issues with making these changes.

@Sky020 @nhcarrigan @SaintPeter We are aware there are a few PRs you all are working on related to one or more of these projects.  For now, just continue implementing your changes as you had planned, though I do suggest waiting until we open this issue up for PRs before creatin

[2020-09-29 00:14] moT01 opened #39722 "Create boilerplate repo's for python projects"
Create boilerplate repo's for these projects:

All Scientific Computing with Python and Data Analysis with Python Certification Projects
SHA-1 Password Cracker and Port Scanner from Information Security Certification Projects
Rock Paper Scissors from Machine Learning with Python Certification Projects

They're the python projects that only have their code on repl.it (non google colaboratory). Curr

[2020-09-29 01:20] SaintPeter commented on #39721
Can you please clarify what you mean by "test text"?  Is that the `- text` in the YAML?  Meaning that the only place the user stories will be found is there?

There is a potential issue with that for some of the untestable user stories.  Even with the changes I've proposed to the Sudoku Solver and American/British Translator, there are front-end specific user stories that we cannot test.  Is the e

[2020-09-29 01:28] nhcarrigan commented on #39721
Correct - I did have some tests I couldn't figure out.

Though if we end up rebuilding the projects to hit a backend API endpoint instead, that issue becomes moot.

[2020-09-29 13:28] moT01 commented on #39721
Those are those tests the functional/unit tests, correct? If that's the case, I don't think we should get rid of them. So that leaves either moving them along side the rest of the tests (at the bottom of each challenge page) - or moving the non testable user stories to the instructions area of the challenge page. Pretty sure there's several out there now that just put the text at the bottom of the

[2020-09-29 14:12] SaintPeter commented on #39721
I suppose we could check for the specific test names and look for "passed" and at least one assertion.  In conjunction with the actual testable endpoints, that does seem reasonable. I had been against using JUST the `/_api/get_tests` output, but using it for a smaller part would probably be ok.

We can add additional admonishments to the boilerplate `2_funcational_tests` file against each test tha

[2020-09-29 16:02] moT01 commented on #39721
I think for this issue then, those should just go down by the tests with the rest of them.

[2020-09-29 16:24] RandellDawson commented on #39721
This was not discussed before, but we do not want to add comments to the boilerplate code.  All instructions will need to be made in either the tests' `text` or in the `description` section as notes.  Why?  Because we are not translating the boilerplates.

[2020-09-29 16:39] Twaha-Rahman opened #39725 "Consider Circle CI for CI runner"
If we are keeping Docker as an build and deploy option (as said [here](https://github.com/freeCodeCamp/freeCodeCamp/pull/39708#issuecomment-699931851)), we would be able to use [Circle CI](https://circleci.com/open-source/) to speed up our build times a lot thanks to layered caching and other resources. Currently building and testing takes ~18 minutes or more, and it will keep increasing as time g

[2020-09-29 17:45] moT01 commented on #39097
Sorry for the delayed response here @Sky020. I am fine with that if you are.

[2020-09-29 17:58] ludocourbin commented on #39711
Hello there ! I'm a  junior developer ( I've learned a lot from you website and would love to give back )
 I'm confident I can learn a lot by making the change from class component to hooks in your react tutorial, how can I get going ? ( first time collaborating ! 🎊 )

[2020-09-29 18:00] moT01 commented on #39571
Coincidentally, I have an example chat app https://my-chat.glitch.me/ that we could use - But I am still going to vote to leave this be. These projects are part of a certification and users who have earned that certification would no longer have all the required projects they completed to get it. I believe that if we ever change these certification projects it is with the roll out of a new certifi

[2020-09-29 18:09] moT01 commented on #39435
I think we might be able to close this. The user stories are removed on master (/learn), and as we implement the changes for https://github.com/freeCodeCamp/freeCodeCamp/issues/39721, they should all be removed.

[2020-09-29 18:55] RandellDawson commented on #39711
@ludocourbin We are going to leave the existing class component lessons as there are still many code bases out there that use them still.  We will be incorporating new lessons in our project-based curriculum that is currently being built by staff.  We might post some GitHub issues around this in the future, but for now, you can take a look at any outstanding issue that has a `help wanted` label.

[2020-09-29 18:59] ludocourbin commented on #39711
Hello @RandellDawson, I'll go on and explore the issue with the corresponding tag as you mentioned. Thank you for your answer.

[2020-09-29 19:11] ShaunSHamilton opened #39728 "GitPod Environment Not Set Up for Tests"
When running an instance of the platform in GitPod, `npm run test:curriculum` throws this error:

[code]

Since the update of Puppeteer, I needed to run `sudo apt install libgbm1` to update, before the tests work. I assume something similar can be done for GitPod.

Useful resources courtesy of Mrugesh:

Our config:
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/.gitpod.yml

Documentation

[2020-09-29 19:55] #36743 closed

[2020-09-29 19:56] raisedadead commented on #39728
I think the way forward is to (create?) use a docker image that has the deps bundled on it. From the pupeeter docs, it seems we can tweak the `node:alpine` for this and use that on the config as per the docs from GitPod.

[2020-09-29 20:06] Sky020 commented on #39719
Just to update: In development, at least one challenge (not project) has to be completed, in order for this bug to appear.

[2020-09-29 20:27] ShaunSHamilton opened #39729 "Project Submission Throws Uncaught Error"
Submitting an invalid URL for the Front End projects does not behave as expected:
![image](https://user-images.githubusercontent.com/51722130/94611887-43c2ef80-029a-11eb-886e-bf505883573f.png)

https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-projects/build-a-tribute-page

**Expected**:
- No uncaught errors
- Camper is notified about misshapen URL

[2020-09-29 22:58] RandellDawson commented on #39175
@gikf The boilerplates have been fixed, so I am closing this issue.  If you are still experiencing an problems, please request it to be reopened

[2020-09-29 22:58] #39175 closed

[2020-09-30 04:37] #39722 closed

[2020-09-30 06:07] Twaha-Rahman commented on #39725
I'm currently closing this for now. I'll do some more research and get back to it.

[2020-09-30 06:07] #39725 closed

[2020-09-30 06:11] Twaha-Rahman commented on #39711
@ludocourbin If it is your first time contributing, you'll find the [contribution docs](https://contribute.freecodecamp.org/) very useful. Happy coding!

[2020-09-30 07:50] ludocourbin commented on #39711
Thank you @Twaha-Rahman for you helpful recommendation 😁

[2020-09-30 08:12] Ajax401 opened #39731 "Quality Assurance Project Personal Library Missing npm Package's"
![Npm missing pacjages](https://user-images.githubusercontent.com/15318962/94660535-0f851880-0306-11eb-93ac-078410f6e6e8.jpg)

**Describe your problem and how to reproduce it:**
I have recently started and completed Quality Assurance Project Personal Library.At first when i ran the server.js file in the terminal.The terminal stated i am missing epress,js(Error: Cannot find module 'express') module

[2020-09-30 09:05] ahmadabdolsaheb commented on #39574
A quick update on getting rid of redux. Although hooks and context could replace redux's state management, we use redux actions for handling impure functions as well.

We could useEffect for some of those functions; however, we should consider sticking with a library to manage application side effects such as redux-sage.

The more obvious way forward would be to rewrite epics to sagas, rewrite cla

[2020-09-30 09:32] raisedadead commented on #39717
What would be the repo names? It would be quicker for me to create them and Beau or someone else can fill in the code.

[2020-09-30 10:47] raisedadead commented on #39697
This line makes it lowercase:

https://github.com/freeCodeCamp/freeCodeCamp/blob/4e51e845bb1fd3d044ccc2b7a121584d172f5ebd/client/src/components/settings/Username.js#L99

This is something which we want to keep because of the current limitations.

But I am not sure about yet another alert type info, because already have a couple which would clutter the UI

![image](https://user-images.githubusercon

[2020-09-30 11:25] Twaha-Rahman commented on #39697
I think that `Username (lowercase only)` should be enough. (We could also use `Username (lowercase alphanumeric only)` if we want to be more explicit.)

[2020-09-30 11:32] Twaha-Rahman commented on #39612
I found some info about SW related issue here #35259. Just saying it here to keep all of it in one place.

[2020-09-30 12:00] raisedadead commented on #39574
Yup - that would be ideal.

I think current pain point is not just that we simply use redux but the implementations are quite convoluted. There are bits and pieces that are follow varying patterns and then are things in the wild that are just lying there unused and yet confusing enough if you are looking for something.

Here is an instance:

I have no clue how these are triggered - Look useful. Un

[2020-09-30 12:15] RandellDawson commented on #39731
@Sky020 Any thoughts?

[2020-09-30 12:33] Sky020 commented on #39731
@RandellDawson I cannot see any issue/reproduce this.

@Ajax401 Could you clarify what you did from landing on the [project page](https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-projects/personal-library)

The expected workflow is:
1) Click on "_this link_":

2) Repl.it will prompt asking which script command to use upon clicking "_Run_" (the default is `start`)
3) Click `Ru

[2020-09-30 12:58] moT01 commented on #39731
Not to this project @Sky020, @Randell and I downloaded all the projects that were on there and created repositories from them so we can keep track of them.

I was able to reproduce this with that workflow @Sky020, it looks like it's not running npm install...
![Screen Shot 2020-09-30 at 7 45 38 AM](https://user-images.githubusercontent.com/20648924/94686812-faea5580-02f0-11eb-97d2-e7f42f40de43.png

[2020-09-30 13:13] #39634 closed

[2020-09-30 13:50] Sky020 commented on #39731
@moT01 It works every time for me, and following runs do not require any installs. All I have to do is as mentioned - click 2 buttons on Repl.it

[code]

Would changing the fCC project (which is cloned) to include a `package-lock` help at all?

[2020-09-30 13:57] robole opened #39737 "News section - Table cells don't allow wrapping of text"
All tables are very wide and require a horizontal scrollbar. Text does not wrap, so everything is forced onto a single line in a cell.

![table-scroll](https://user-images.githubusercontent.com/3703647/94694541-8bfc1380-0367-11eb-9791-78c6c617be17.png)

## Link

Any article with a table.

## Fix

It should be resolved by removing the property below:

[code]

[2020-09-30 14:03] robole opened #39738 "News section - Level 5 heading (h5) style is inconsistent with other headings"
Level 5 heading is navy and center-aligned. The other headings are left-aligned and are black.

![h5](https://user-images.githubusercontent.com/3703647/94695556-9ff44500-0368-11eb-821c-c44951e57772.png)

[2020-09-30 14:34] moT01 commented on #39731
I feel like it wouldn't, but we could try it.

Okay, I missed a step, I didn't click the "done" button...
![Screen Shot 2020-09-30 at 9 26 14 AM](https://user-images.githubusercontent.com/20648924/94698725-368c1c00-02ff-11eb-9641-372b21b6d967.png)
I assume that's what you mean when you say "Repl.it will prompt asking which script command to use upon clicking "Run" (the default is start)"
That seem

[2020-09-30 15:06] moT01 opened #39739 "Standardize links in curriculum"
The curriculum (project and challenge pages) contain links to various places; github, codepen, replit, etc. Sometimes they open in a new tab, sometimes not. Sometimes they contain `rel="noopener noreferrer"`, sometimes not.

We could go through and make them all consistent? Adding `target="_blank" rel="noopener noreferrer nofollow"` to all of them?

[Here's a good article explaining the `rel` valu

[2020-09-30 15:49] Sky020 commented on #39739
I agree, `target="_blank"` should be used.

It sounds like `noopener` and `noreferrer` are useless in this case. So, do not include them (waste of space)

`nofollow` sounds like it could be beneficial, but SEO is a wormhole. So, I will not advise either way.

[2020-09-30 16:08] Ajax401 commented on #39731
RandallDawson:
Refference to your questions.
1. Yes i did click the FreecodeCamp link to start the project on repl it.
2. I did start the the server.js file by clicking run in the center top of screen.
3.The terminal  shows the error: cannot find module 'express'.
4.I have to manualy install packages with npm install 'package name'@latest. Each missing package example express.
of screen. It still

[2020-09-30 18:23] TaarnStar commented on #39737
Hi, I would like to help with this issue if it is possible

[2020-09-30 18:43] Sky020 commented on #39737
@TaarnStar Hello there,

This issue is not quite open for contributions (indicated by _help wanted_ or _first-timers only_ labels). So, I suggest you take a look at another issue with either of those labels, and circle back to this, if it is made ready for contributions. Also, be sure to checkout our [Contributing Docs](https://contribute.freecodecamp.org/#/)

[2020-09-30 18:53] TaarnStar commented on #39737
@Sky020 no problem, I will check issues  with _help wanted_ or _first-times_ to see how can I contribute.

Thank you for your time :-)

[2020-09-30 19:02] rajatgupta24 commented on #39739
Hi guys, I'm interested and want to work on this can you please guide me.

[2020-09-30 19:06] Sky020 commented on #39739
@rajatgupta24 Hello there,

This issue is not quite open for contributions (indicated by help wanted or first-timers only labels). So, I suggest you take a look at another issue with either of those labels, and circle back to this, if it is made ready for contributions. Also, be sure to checkout our [Contributing Docs](https://contribute.freecodecamp.org/#/)

[2020-09-30 19:11] rajatgupta24 commented on #39739
Ok Thanks @Sky020

[2020-09-30 20:38] Sky020 opened #39741 "React: Render Conditionally from Props Incorrect Line Reference"
The challenge seed has since been updated, and this paragraph is _out of line_ 😉

This should be reworded to not make a line reference.

I suggest:

---
Challenge: https://www.freecodecamp.org/learn/front-end-libraries/react/render-conditionally-from-props

[2020-09-30 20:55] RandellDawson commented on #39741
I agree.

[2020-09-30 21:00] HaramanJohal commented on #39741
Can I have a bash at this?

[2020-09-30 22:45] raisedadead opened #39743 "Crowdin Integration"
- [x] The language codes on Crowdin side should be as per our generic language naming conventions
- [ ] Create a document for reviewing and merging these PRs.
- [ ] Assign proof-readers in the community on Crowdin. Todo: an announcement?
- [x] ~~Tests did not fire on this PR itself?? But we could make that happen when lading `i18n-dev` to `master`?~~ The tests did fire, the actual run for this was

[2020-10-01 04:52] max-voronov commented on #39729
Maybe can use a pattern to enforce a correct URL. Please see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/url

In `FormFields` component if you add a pattern on the `FormControl` component it seems to solve the described problem but I think the pattern should be passed as part of the `options` prop and be applied conditionally.

[2020-10-01 06:45] codewithdev commented on #39738
I can work with it.

[2020-10-01 06:55] hectormikel opened #39748 "Missing Repository for Data Reading Section - Data Analysis with Python Certificate Course"
Hi. I clicked on the ‘Notebooks on Github’ to get the files needed for the Data Reading section but the page was not found (error 404). Is there another link where I can access these files? Thanks!

Here’s a link to the course: https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-course/reading-data-introduction

![image](https://user-images.githubusercontent.com/

[2020-10-01 06:59] ahmadabdolsaheb commented on #38917
I am removing my assignment in case another contributor is interested in making a pull request.

[2020-10-01 07:00] ahmadabdolsaheb commented on #38918
I am removing my assignment in case another contributor is interested in making a pull request.

[2020-10-01 07:34] nitnjain commented on #39097
Hey, I created my first PR. @Sky020 could you please review it.

[2020-10-01 07:46] ojeytonwilliams opened #39751 "Client Sentry integration"
**Is your feature request related to a problem? Please describe.**
Currently, errors in the client are silently ignored.

**Describe the solution you'd like**
Similarly to the api-server, it would be good if we could report errors to Sentry.

**Describe alternatives you've considered**
Nothing obvious leaps to mind - Sentry works well.

**Additional context**
We would need to be careful not to ove

[2020-10-01 08:24] codewithdev commented on #39748
this repo can be created by the author itself to check auto workflow pass by any user.

[2020-10-01 11:17] Sky020 commented on #38917
I am interested in taking this up 😃

[2020-10-01 11:26] #39741 closed

[2020-10-01 12:13] kostaslamo commented on #39729
I could take a look on that. Is there any other similar place on the ui where errors are caught and printed to the user?

[2020-10-01 12:28] Sky020 commented on #39729
@kostaslamo If you take a look at what happens with the [a clearly incorrect URL](https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-projects/issue-tracker)
![image](https://user-images.githubusercontent.com/51722130/94808858-a676d100-03e9-11eb-8068-7267c8647c45.png)

This is moreso an issue with just a slightly incorrect URL which still manages to match the validation, but sho

[2020-10-01 12:33] kostaslamo commented on #39729
Ok, so the fix in the bug should be this kind of validation under the lessons located here: https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-projects/

[2020-10-01 13:07] Sky020 commented on #39729
This bug has to do with the SolutionForm component, and the input validation for all projects. I have changed the title to reflect such.

[2020-10-01 14:15] kostaslamo commented on #39729
I will have a check for that and PR when ready.

[2020-10-01 15:11] dev-script commented on #39508
@QuincyLarson , @raisedadead  I would like to work on this issue.

[2020-10-01 15:54] Sky020 commented on #38917
@scissorsneedfoodtoo Kris, I will get a PR, once #39735 is through, also depending on if I want to leverage anything from #39695 . So, for now, clarification on styling would be very useful:
![image](https://user-images.githubusercontent.com/51722130/94832761-3b87c300-0406-11eb-9b9e-0776e1ce0024.png)

Is there anything (words) I should be deleting from the current certification? Or, just adding th

[2020-10-01 16:12] Omicron666 commented on #37612
yes this is currently terrible OOP example
imho, just get rid of conversion and formulas in get/set/constructor
and store/manipulate only with Farhenheit values by default (or Celsius, either way)
rename Class to FarhenheitTemperature
+ eventually add a new method getAsCelsiusValue()

[2020-10-01 16:29] santimirandarp opened #39765 "Is the express .env exercise correct?"
**Description**

Extract from the exercise:

[Link to the exercise.](https://www.freecodecamp.org/learn/apis-and-microservices/basic-node-and-express/use-the--env-file)

We write  a `.env` file holding a VAR=something. We can console log this variable, by running "Run" in a repl.it file.

But this is not the standard Node.js behavior. `npm start` or `node server.js` won't load any variable unless

[2020-10-01 17:55] raisedadead commented on #38917
Probably justify the text on the certs like we have on the landing page? Other than that it looks great to me.

[2020-10-01 18:15] raisedadead commented on #39508
Thanks for your interest.

I recommend taking a look at our Contributing guide here: https://contribute.freecodecamp.org, it has details about issues open for contribution. We tag them with the "help wanted" label.

[2020-10-01 18:31] raisedadead commented on #39743
Change of plans, we do not need to use the push event instead we will use manual runs only to avoid:

1. Noise
2. The integration can't update an existing PR.
3. Manual run and quick PR merge is the best we can do at the minute.

[2020-10-01 19:45] RandellDawson commented on #39717
This has been completed, so I am closing.

[2020-10-01 19:45] #39717 closed

[2020-10-01 21:13] Sky020 commented on #39097
Closed in #39773

[2020-10-01 21:13] #39097 closed

[2020-10-01 22:23] Sky020 commented on #39244
File with the problem: https://github.com/freeCodeCamp/boilerplate-page-view-time-series-visualizer/blob/master/test_module.py

Inside the `boilerplate-page-view-time-series-visualizer` repo

[2020-10-01 22:55] avijit1258 opened #39776 "Timestamp Microservice exercise test fails although manual investigation with the tests is work fine"
I have been trying to evaluate my code for the timestamp microservice challenge. But all the test cases fails. I tested manually with the testing set, it looks my code is working well for them. It looks like there is some bug causing the problem. Here is my public url for the timestamp microservice project. https://timestamp-microservice.avijitbhattacha.repl.co .

For further investigation, I put

[2020-10-01 23:13] avijit1258 commented on #39776
Actually, I was building the API from scratch without using the boilerplate code in Repl.it. So, in my server code this line was missing.

`var cors = require('cors');`
`app.use(cors({optionsSuccessStatus: 200}));`

After adding that my code worked like a charm.

[2020-10-02 00:03] Samibanley commented on #38566
I would like to take this on if this is still available.

[2020-10-02 00:05] avijit1258 commented on #39776
Is it possible to show some error message if the problem is not failing the test cases? That might a save a lot of time for other situations also.

[2020-10-02 00:08] nhcarrigan commented on #39776
We are working on improving the tests - one of the things under consideration is returning more clear error messages when a test does not pass.

However, our [forums](https://forum.freecodecamp.org) are the best place to get assistance with your code - if the community determines there is a bug in the curriculum itself, then an issue should be opened.

It does look like you've solved this issue, s

[2020-10-02 00:08] #39776 closed

[2020-10-02 03:26] TAbhay commented on #39765
Can you assign this issue to me ?

[2020-10-02 03:35] RandellDawson commented on #39765
@TAbhay We have yet to determine if this is a bug.  We will attach a `help wanted` label once we make the determination of what needs to done.

[2020-10-02 03:37] nhcarrigan commented on #39765
To address the issue:

I believe repl.it (like Glitch) parses the environment variables behind the scenes. It is true that local development (and possibly some hosting providers) will require the use of the `dotenv` package (or something similar). It is worth adding a note to this challenge explaining this?

[2020-10-02 03:46] RandellDawson commented on #39765
@nhcarrigan This is the same issue that was present on the Advanced Node challenges (and probably many others).  Maybe we just need to update the boilerplate to already have the `dotenv` package in `package.json` and add the `require('dotenv').config()` line as the first line of the `myApp.js` file.

[2020-10-02 03:52] santimirandarp commented on #39765
I - as someone that is learning - believe it is. But I cant speak for everyone. Also, I asked on repl.it, and no one gave me a clear answer of what happens when you press "Run" (cause it should just run `node start` but something else it's going on there).

And if you open up the event run from "Run" it's just imposible to understand (for me at least).

[2020-10-02 03:59] TAbhay commented on #39765
Just do
1) **npm install dotenv**
2) Add **require('dotenv').config()** in myApp.js file
3) Add **.env** file with **PORT = 3000**
4) Now **npm start**
It will work

[2020-10-02 04:01] TAbhay commented on #39765
https://repl.it/join/knrubabi-tabhay1

[2020-10-02 04:02] santimirandarp commented on #39765
If you read the issue, you'll find out I've done that, but that should be clear from the exercise. Plus that's not the main problem, the problem is that because something is loaded in the background, understanding how it works is made more difficult. For example, do you know why console logging a .env variable runs fine without the .dotenv package? You might do, I doubt someone that is learning wi

[2020-10-02 04:06] nhcarrigan commented on #39765
@RandellDawson I think that's probably the best approach. 🙂

[2020-10-02 06:34] ojeytonwilliams commented on #38566
Hi @Samibanley. It's still available - your PR would be very welcome.

[2020-10-02 06:50] rogfut opened #39779 "CORS blocking me from submitting package.json solution?"
**Describe your problem and how to reproduce it:**
I am trying to complete the first managing [packages challenge](https://www.freecodecamp.org/learn/apis-and-microservices/managing-packages-with-npm/how-to-use-package-json-the-core-of-any-node-js-project-or-npm-package) but after submitting what I believe to be the correct answer via my [repl.it URL](https://repl.it/@rogfut/ThoseIroncladMice#pack

[2020-10-02 06:56] nhcarrigan commented on #39779
Hello~!

The link you are submitting is to the `package.json` file. You should be submitting a live link to your project (I believe it would be `http://thoseironcladmice.rogfut.repl.run/`).

Go ahead and give that a shot. If that doesn't work, I recommend going to the [forums](https://forum.freecodecamp.org) for assistance with your code. For now, I am going to close this issue 🙂  If the community

[2020-10-02 07:01] rogfut commented on #39779
Neither using the [run url](http://thoseironcladmice.rogfut.repl.run/) nor the [repl project root url](http://thoseironcladmice.rogfut.repl.run/) work and both throw errors in google chrome and edge as well.  The first throws an insecure error (must be https), and the second a CORS error.

`Access to XMLHttpRequest at 'https://repl.it/@rogfut/ThoseIroncladMice/_api/package.json' from origin 'https

[2020-10-02 07:10] nhcarrigan commented on #39779
A quick glance at your code doesn't cause anything to pop out at me.
I am headed out for the night, so I will go ahead and reopen this for visibility. I do recommend making the forum post still. 🙂

[2020-10-02 07:22] rogfut commented on #39779
This can be closed, this forum post from today resolved my issue and did not throw a CORS error.  The trick is to click run in the repl.it project and paste in the link provided.  This wasn't clear from the instructions at the beginning of the packages challenge [here](https://www.freecodecamp.org/learn/apis-and-microservices/managing-packages-with-npm/)

![run](https://user-images.githubuserconte

[2020-10-02 07:22] #39779 closed

[2020-10-02 09:07] ahmadabdolsaheb commented on #38917
@raisedadead, here is an idea to make the project list cover all the corner cases that @Sky020 addressed above:

- The project list could be either above of below the certificate itself to avoid crowing the exiting elements.

- The list would consist of text items followed by a list to a solution. That way we could list both of links (solution, github) links in the same line.
- The JS solution cou

[2020-10-02 09:24] max-voronov commented on #39719
I've looked into this bug and have 2 observations:

1. When we do GET `user/get-session-user`, then inside the response, the type of `user.developmentuser.completedChallenges[index].files` will be array. It's actually an empty array for some reason.
2. When user completes a challenge and submits it, eventually we call a `submitComplete` redux action which updates the state with `completedChallenge

[2020-10-02 10:53] ojeytonwilliams commented on #39765
That makes sense to me, too.  We'd like to be as platform agnostic as possible and `dotenv` helps with that.

It might be worth re-wording the challenge slightly, too:

to

and

to

[2020-10-02 14:23] raisedadead commented on #39729
We should probably do a validation message that shows a warning when users submit URLs which are of the commonly mistaken types for example: the editor links, run links etc,

[2020-10-02 14:25] Kannndev commented on #39751
@ojeytonwilliams  I could pick this up if you could share me the auth token, project, organization, and sentry DSN URL details.

[2020-10-02 16:13] SaintPeter commented on #39692
@raisedadead, @moT01 -
We seem to have consensus on these and no serious objections to my proposed user stories.  I'll probably change and reduce the scope of the front-end facing stories as well.

If you give me the go-ahead then I'll start work on these this weekend.

Here is a rough plan:
1. Modify my existing projects to conform with the new user stories, create functional tests for them, etc.

[2020-10-02 18:19] Sky020 opened #39784 "docs: formatting issue on markdown templates"
Screenshots are quite self-explanatory:

From the [Afrikaans translation](https://contribute.freecodecamp.org/#/i18n/Afrikaans/flight-manuals/using-reply-templates):
![image](https://user-images.githubusercontent.com/51722130/94956235-bd015300-04e3-11eb-8806-f3ad9135c927.png)

From the [English Translation](https://contribute.freecodecamp.org/#/flight-manuals/using-reply-templates):
![image](https

[2020-10-02 18:26] Sky020 commented on #39784
To add to this issue:

- Navigate to the translations: https://contribute.freecodecamp.org/#/_translations
- Choose anything but English: https://contribute.freecodecamp.org/#/i18n/Afrikaans/index
- Click on a nav link such as _Reply Templates_: https://contribute.freecodecamp.org/#/i18n/Afrikaans/flight-manuals/using-reply-templates
- Try to navigate anywhere else: https://contribute.freecodecamp

[2020-10-02 18:34] moT01 commented on #39692
Sorry @SaintPeter, I'm hesitant here because the projects we have work pretty good - we just can't test them on the fCC side. If you want to just go for it, we can review what you come up with - but I can't promise they will be integrated. Like I said, I do like the idea - and @raisedadead seemed to be on board, as well - so we can likely make the changes. I would be sure to add users stories for

[2020-10-02 19:37] raisedadead commented on #39784
Thanks. I updated the description. Not required to be used here, we should use tools instead.

[2020-10-02 19:43] raisedadead opened #39785 "docs: incorrect relative linking in translations"
To add to this issue:

- Navigate to the translations: https://contribute.freecodecamp.org/#/_translations
- Choose anything but English: https://contribute.freecodecamp.org/#/i18n/Afrikaans/index
- Click on a nav link such as _Reply Templates_: https://contribute.freecodecamp.org/#/i18n/Afrikaans/flight-manuals/using-reply-templates
- Try to navigate anywhere else: https://contribute.freecodecamp

[2020-10-02 19:45] raisedadead commented on #39784
This is likely something to do with the files getting malformed somehow in flight from Crowdin? IDK I will have to investigate.

[2020-10-02 19:47] raisedadead commented on #39785
This should be a missed alias config or something. I will check this, thanks for letting me know.

[2020-10-02 19:53] raisedadead commented on #39692
I think the projects would be an improvement so go for it. As for the deployments - please work with the current state of master.

The new hosted versions can't go live as of now because of the deployment freeze, when the do it would be our responsibility to audit and update the links, etc.

The deployment freeze had to be extended because of oversight with the parser that we had not thought of.

[2020-10-02 20:28] SaintPeter commented on #39692
Sure, I'll break the user stories up and make them a bit more atomic.  The wording was just off the cuff, so we can polish them a bit.

I'll see what I can do over the weekend.

[2020-10-03 02:24] WebDevCaptain commented on #39704
Github actions have a limit of 2000 minutes on build time. Actions also have a known bug of cron jobs schedule.

BTW, what problems you are facing with TravisCI ??

[2020-10-03 02:28] nhcarrigan commented on #39704
Heya @WebDevCaptain - I believe that actions limit only applies to private repositories.

[2020-10-03 12:15] Sky020 commented on #39720
@RandellDawson
Randell, I have some time to work on the _Advanced Node_ section. I have a bit of experience with it, anyway.

[2020-10-03 13:22] tareq12345 commented on #39244
@Sky020  I have added a pull request can you review it

[2020-10-03 13:35] Sky020 commented on #39244
Hello @tareq12345 , Thank you, for your PR. However, _ricknjacky_ already opened a PR before yours. So, we are going to prioritise theirs.

We welcome you to work on another open issue.

[2020-10-03 16:24] Samibanley commented on #38566
Oh, do you all not assign issues?

[2020-10-03 16:27] nhcarrigan commented on #38566
Issues labelled with `help wanted` are open to contributions. Rather than assigning them, we accept PRs on a `FIFO` basis - the first PR that provides a *comprehensive* resolution for the issue is typically accepted.

If you have not done so already, I recommend reviewing our [contributing guidelines](https://contribute.freecodecamp.org) 🙂

[2020-10-03 16:54] ZITANIMohamed98 commented on #39785
Arabic translation have alot of grammatical errors can i work on this ?

[2020-10-03 17:55] SaintPeter commented on #39692
This morning I met with @nhcarrigan and @Sky020 on Discord and we had a detailed discussion about the **Sudoku Solver** project, in an effort to move it to a more back-end focused project, as discussed in this thread.

We came up with a new concept for the solver which will focus more on understanding the algorithm enough to test it properly by adding a new endpoint `/api/check` which takes a puzz

[2020-10-03 18:23] SaintPeter commented on #39692
@nhcarrigan and I also poked at the *American British Translator* stories and came up with the following:

### User Stories
1. I can enter a simple sentence into the text area and select whether to translate to British or American English from the dropdown menu.
1. I can `POST` to `/api/translate` with a body containing `text` with the text to translate, `locale` with either `american-to-british`

[2020-10-03 18:49] Sky020 commented on #39785
@ZITANIMohamed98  Thank you, for your interest in contributing. This issue is not related to the word translations of any language, but the routing of the page.

So, I recommend you find an issue with either a _help wanted_ or _first-timers only_ label. Those are open to contribution. Also, if you have not already, take a read of the [contributing docs](https://contribute.freecodecamp.org/#/index)

[2020-10-03 22:39] QuincyLarson commented on #39692
@SaintPeter Awesome. Congratulations. These user stories seem exhaustive and are crisply-worded.

Thanks again for everything you've been doing to help the community recently. I feel really grateful that you have a bit of downtime before your next job starts, and are investing that time and energy into helping improve the community.

[2020-10-03 22:47] SaintPeter commented on #39692
@QuincyLarson Thank you!  I am always glad to give back to this community which has given me so much knowledge and so much joy!

As a matter of fact, I just got the Data Visualization cert last month and it turns out that I'll be using it in my new job almost immediately.

I'll start work on refactoring the Sudoku Solver with these updated user stories soon.  I'll be reaching out to other folks on

[2020-10-04 00:37] raisedadead commented on #39697
Since we haven't had any objections lets go with `Username (lowercase only)`.

[2020-10-04 02:27] #38845 closed

[2020-10-04 03:06] g-rohit opened #39795 "Incorrect line number mentioned in the instructions of exercise "React: Render Conditionally from Props""
Incorrect line number mentioned in the instructions of exercise "React: Render Conditionally from Props"

It says: `On line 30, replace the comment with this expression to complete the variable declaration.` However, there is a comment on line number 30 and the correct line number where the given hint is applicable is 24.

![image](https://user-images.githubusercontent.com/43009327/95005990-88dd7d

[2020-10-04 03:12] nhcarrigan commented on #39795
You are correct that the line number mentioned is incorrect. 🙂

However, I'm not sure if it is best to rewrite that entirely, or change the line number to match the challenge seed code. I would like to hear from a couple other folks as to the best approach here.

[2020-10-04 03:36] RandellDawson commented on #39795
This issue was recently fixed when PR #https://github.com/freeCodeCamp/freeCodeCamp/pull/39742 was merged.  At this point, we are just waiting for the latest `master` branch to be deployed to production.  I am closing this as resolved.

[2020-10-04 03:36] #39795 closed

[2020-10-04 09:43] ojeytonwilliams commented on #39697
We could go with:

![image](https://user-images.githubusercontent.com/15801806/95012140-2ee9b180-0636-11eb-851c-b907c1f0b3ed.png)

but have the text "Characters must be lowercase".  So, rather than transforming each character, we just validate in the usual way.

[2020-10-04 10:08] jaenilparekh1234 commented on #39244
hi
what is this for?

[2020-10-04 12:05] ManasMahanand commented on #16445
Hey! What's the progress on this? I am available to help!

[2020-10-04 12:40] ManasMahanand opened #39796 "Issue Tracker project example link does not work!"
**Describe your problem and how to reproduce it:**
The following page has a link that leads to an example project, that the user has to replicate. That link seems to be broken.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-projects/issue-tracker

Broken link: https://issue-tracker--freecodecamp.repl.co/

**Tell us about your br

[2020-10-04 13:00] Sky020 commented on #39796
Thank you, for taking the time to report this. A fix is on the board.

This should be resolved in this PR: https://github.com/freeCodeCamp/freeCodeCamp/pull/39688

[2020-10-04 13:09] RandellDawson commented on #39796
I have restarted the demo.  I am closing this issue as the demo is now working again.

[2020-10-04 13:09] #39796 closed

[2020-10-04 18:43] Saifeddine1991 opened #39797 "3FF3wf8HFyuuP2V9wGMdZjVtKnTPsgzAyL"
3FF3wf8HFyuuP2V9wGMdZjVtKnTPsgzAyL

[2020-10-04 18:44] Saifeddine1991 commented on #39797
Please hello me

[2020-10-04 18:44] nhcarrigan commented on #39797
Hello,

It looks like this issue was opened by accident. I am going to go ahead and close it.

If you feel this should be reopened, please provide all relevant information.

[2020-10-04 18:44] #39797 closed

[2020-10-04 18:48] SaintPeter commented on #39692
@nhcarrigan and I spent the morning refactoring the Sudoku Solver boilerplate.

Here is a Repl.it of it:
https://repl.it/@SaintPeter/fcc-sudoku-solver-boilerplate-refactor

Live Code:
https://boilerplate-project-sudoku-solver.saintpeter.repl.co

Git Repo Branch:
https://github.com/SaintPeter/boilerplate-project-sudoku-solver/tree/feat/backend-refactor

We would appreciate any feedback before we mo

[2020-10-04 18:59] Sky020 commented on #39692
@SaintPeter One thing
- Probably best to remove all of the inputs and just change the contents, because it is not acting as an input:
[code]

[2020-10-04 19:29] SaintPeter commented on #39692
Humm, we forgot about that.  I think we had intended to make that work.  I talk with Nicholas and figure out one way or the other.

[2020-10-04 21:49] SaintPeter commented on #39692
Thanks @nhcarrigan for removing the input elements.  The Repl.it has been updated, as has my branch.

Once we get some consensus we'll move on to the American / British Translator rework.  Additional, likely both Nicholas and I will rework our existing Sudoku projects to work with the new boilerplate.

[2020-10-05 00:42] moT01 commented on #39692
Overall, this looks real good @SaintPeter @nhcarrigan 🎉  Here's some observations and things to consider...

The user stories on the boilerplate don't match what you have on replit as far as I can tell (the boilerplate still has the old user stories). Perhaps that was intentional since we are going be moving all those to /learn.

Correct if I'm wrong - I believe this is how it is supposed to work.

[2020-10-05 01:16] SaintPeter commented on #39692
@moT01 -

I'm not quite sure what you mean by this.  We did temporarily put the user stories in the README.md file, but since we understood the plan was to ultimately move them just to `/learn`, they'll likely be removed before I submit a PR.  The user stories should match what we shared a few messages above.

We were not really sure where to put this.  This is more "meta" information about how th

[2020-10-05 01:47] moT01 commented on #39692
My bad, not sure what I was looking at there.

Yea, I'm not sure. We may have to write up some instructions for the body of the challenge page to include some of those things. For now, maybe just leave it in there and move on.

[2020-10-05 04:54] Harshal0902 commented on #39672
Can I work on this Issue?

[2020-10-05 09:45] ahmadabdolsaheb commented on #16445
@ManasMahanand, thank you for your interest.
It would be great if you could look into the available css linters, compare them and see if there is anything better than stylelint.
Then, add the linter to our repo and  change the CSS files to make sure  the repo is linting error free.

[2020-10-05 11:50] bobbwhy opened #39798 "D3 Visualization: Add Classes 'Content Security Policy' error shows."
First, thanks for setting up this really great site...

**Describe your problem and how to reproduce it:**
* The task is to use attr to create a class of 'bar' on a set of divs created by d3.
* I did that and confirmed that the dom inspector shows those divs as having a class of 'bar'.
* It keeps saying that the divs do not have the class.

* In the dev tools console, there is this error, which ma

[2020-10-05 12:16] Sky020 commented on #39672
This seems like a reasonable change. The relevant code is here:
https://github.com/freeCodeCamp/testable-projects-fcc/blob/95a87141946174f5c77e14799478686b6c0348d8/src/project-tests/technical-docs-tests.js#L329

As it stands, I would not change the wording. There is nothing in it which seems to suggest the width **must** be that of the left-half.

So, for now, a change to allow the width of the `#

[2020-10-05 12:18] Sky020 commented on #39672
@Harshal0902 , You are welcome to work on any open issue with a _help wanted_ label. If you have not already done so, please read the [Contributors Docs](https://contribute.freecodecamp.org/#/)

[2020-10-05 13:33] ojeytonwilliams commented on #39798
Hey @bobbwhy, it looks like you have some Firefox addons running.  Could you try again with them off?  Just opening a private mode window might be enough.

[2020-10-05 13:41] Twaha-Rahman commented on #39697
So... have a warning like that would suffice?

[2020-10-05 13:47] ojeytonwilliams commented on #39697
@Twaha-Rahman it seems odd to treat capitals differently from any other symbol we're not allowing.  With that in mind I think we should just have a warning like that and remove https://github.com/freeCodeCamp/freeCodeCamp/blob/4e51e845bb1fd3d044ccc2b7a121584d172f5ebd/client/src/components/settings/Username.js#L99

@raisedadead is that reasonable?

[2020-10-05 13:51] JoeCodesStuff commented on #39672
Thanks, all! I'd have done it myself, but I was just trying to blaze through and complete everything as quickly as possible.

[2020-10-05 14:07] raisedadead commented on #39697
If we do want to remove the forced lowercasing in that input field we want to make sure its lowercased elsewhere before being sent to the API.

[2020-10-05 15:05] moT01 commented on #35541
Closing in favor of https://github.com/freeCodeCamp/freeCodeCamp/issues/35541

[2020-10-05 15:05] #35541 closed

[2020-10-05 15:08] ojeytonwilliams commented on #39697
Sure. What I'm suggesting is that it's forced to be lowercase by validation, so you can't click submit until all the characters are lowercase.

To be on the safe side, I think we should validate in here

https://github.com/freeCodeCamp/freeCodeCamp/blob/a48ed627adaeed622a099b87d990d917b65a7561/api-server/common/models/user.js#L730

as well.

[2020-10-05 15:52] KatFrog commented on #39672
Please assign this to me.  I'll fix it this week.

[2020-10-05 16:32] SaintPeter commented on #39692
Today @nhcarrigan and I updated the user stories on the Sudoku Solver as you had suggested @moT01. Our expectation is that these will ultimately end up in the `/learn` text, but for the moment they'll live in the `README.md`. The Repl.it and GitHub links above have been updated.

We also refactored the American/British Translator project.

Repl.it with code:
https://repl.it/@SaintPeter/fcc-america

[2020-10-05 17:29] moT01 commented on #39692
Nice job @SaintPeter @nhcarrigan 🎉

Things left to do:
- Make a PR with these boilerplates to their respective repos. Probably add a note not to merge them until everything hits production.
- Create example(solution) projects
- Make PR's to the demo-projects repo with those examples/solutions
- Move user stories to /learn and create tests

You can do them however you want. I feel like creating the

[2020-10-05 19:42] RandellDawson opened #39801 "bug: Sign In button in nav shows on .dev even if already signed in"
While QAing `.dev`, I notice when visiting the main landing page, the `Sign In` button is present on the nav bar even if I am already logged in.  This is quite confusing to me.  If I click on `Sign In` or `Curriculum`, I am taken to the same place (`/lean`).  Why not show the `Profile` and avatar when a user is already logged into the site?

[2020-10-05 20:08] dhanush1909 commented on #39738
Hi @codewithdev, Have you started working on this? If not I can take it up

[2020-10-05 21:59] udayanshevade commented on #38575
Hey @moT01 I tried out some different options. I'll post some screenshots in sequence.

---

(1) For the first code example, I tried a `while` loop comparing variable declarations.

Showcasing both a `while` and a `for` loop (in combination with the `if` statement in the challenge) might further cement the idea of the block scope.

I also reworded the text a bit:

<img width="891" alt="Screen Shot

[2020-10-05 22:18] davi-santos5 commented on #39665
Hi, it has been more than 10 days that I related [my question on the forum](https://forum.freecodecamp.org/t/incosistent-test-results-on-pomodoro-clock-project/422556), but I got no answer. What should I do?

[2020-10-05 23:03] Sky020 commented on #39665
@davi-santos5 Sorry about the wait. I have replied to your forum post.

[2020-10-05 23:05] davi-santos5 commented on #39665
Ok, thank you

[2020-10-06 06:22] ManasMahanand commented on #16445
@ahmadabdolsaheb Will do!

[2020-10-06 07:04] ashfaq92 opened #39803 "PDF file of coding challenges for future reference"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have already solved a challenge and I need to revise it for further challenges. For example, there was a random number generator formula in javascript course and now I have to scan whole curriculum one-by-one to see where was that formula.

**Describe the solution you'd like**
It would be great if you p

[2020-10-06 11:03] raisedadead opened #39804 "Update the Chinese language landing page to look similar to the English version"
- [ ] We need to: update the Chinese landing page to look like the English-language landing page and use the same assets and everything.
- [ ] Because it would not have a learn page yet, we would need links to the Chinese language forum

[2020-10-06 11:05] raisedadead commented on #39804
For now this file needs updating: https://github.com/freeCodeCamp/error-pages/blob/master/landing/cn/index.html, which will eventually be replaced by the core learn lading page later.

[2020-10-06 11:24] raisedadead commented on #39803
Thank you for this feature request.

IMHO, this is something that we will not be implementing.

While we do understand the need for you to go back and refer challenges, we have no plans of storing user solutions for practice challenges.

We also do not intend to make the curriculum available in any other format. The markdown files we have is solely intended to be used by our own parser to generate

[2020-10-06 11:24] #39803 closed

[2020-10-06 12:36] bobbwhy commented on #39798
Hey @ojeytonwilliams
Thanks for the quick reply.  I had one addon running and turned it off and the page worked.  Also it worked when I turned the addon back on.

My computer did a spontaneous restart since i posted this, perhaps there was something else going on?
Anyway, it seems not to be a problem now.

thanks again.
Robert

[2020-10-06 12:36] #39798 closed

[2020-10-06 13:19] ojeytonwilliams commented on #39798
Hi Robert, that's a bit strange, but I'm glad it's resolved itself.

[2020-10-06 19:40] Sky020 commented on #39721
@RandellDawson Sign me up for the URL Shortener project. I will keep track of the current PR against it, and work from there to implement these changes.

[2020-10-06 21:47] pasDamola commented on #39099
Hey guys, I'm still having this issue. I'm getting a 403 error on the https://www.freecodecamp.dev/learn/machine-learning-with-python/machine-learning-with-python-projects/cat-and-dog-image-classifier.

What can I do?

[2020-10-06 22:10] Arda13 opened #39810 "RegEx need to fix in Basic Javascript / Finding a Remainder in Javascript"
**Under Tests section text and textString do not match properly. If you only forget ' ; ' it still awaits for ' % ' **
**We need a separate test for ' ; ' check or fix the text like ' _Do not forget % or ;_ ' **

[Challenge Code](https://github.com/freeCodeCamp/freeCodeCamp/blob/2b9e38a17bd6039a1291f756157c94b3e57955db/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basi

[2020-10-07 00:12] RandellDawson commented on #39810
The `;` can be made optional in the regex instead.  Leaving the `;` off the end of the line does not affect the code.  The test is trying to get the user to implement a "best practice", but all we really care about is the code written is valid and accomplishes the task.

@Arda13 Are you interested in creating a PR to make the `;` at he end of the line optional?

[2020-10-07 05:50] rogfut commented on #38837
+1 for Exercise Tracker Project having outdated package versions for mongoose and mongodb.  Just today I was copying code blocks from the previous project, URL shortener, wondering why my mongoose save() method was failing to save the document.

[2020-10-07 07:25] pasDamola commented on #39099
I had to apply a workaround

To download the data, I used;
`!wget https://cdn.freecodecamp.org/project-data/cats-and-dogs/cats_and_dogs.zip `

Then to unzip it;
`!unzip cats_and_dogs.zip`

[2020-10-07 07:32] ojeytonwilliams commented on #39099
Thanks for reporting this @pasDamola, it seems to be the exactly the same problem as before.  @raisedadead did we the CDN config?

I was going to suggest a variant of the code I applied above, but that workaround is neat.  Thanks for sharing.

[2020-10-07 08:07] pasDamola commented on #39099
Thank you @ojeytonwilliams

[2020-10-07 09:30] dhanush1909 commented on #39738
started working on this

[2020-10-07 10:18] Sky020 commented on #39810
While we are at it, can we strip the code of whitespace? I much prefer looking at regex without the `\s*` everywhere.

[2020-10-07 10:30] Mushfiq-alt opened #39811 "Problem on the topic of Applied Accessibility: Give Links Meaning by Using Descriptive Link Text"
**Describe your problem and how to reproduce it:**
Every tag is ok. But it showing error.
**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/applied-accessibility/give-links-meaning-by-using-descriptive-link-text

**Tell us about your browser and operating system:**
* Browser Name: Chrome
* Browser Version:
* Operating System: Windows 10

**If pos

[2020-10-07 10:59] ishitacodes commented on #39737
Can I work on this?
I am a beginner

[2020-10-07 11:00] raisedadead commented on #39099
The URL in the comment is from the staging instance, please confirm you are on not on the staging site.

[2020-10-07 11:40] RandellDawson commented on #39810
@Sky020 I think that is fine.

FYI - There are a few helper functions available [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/utils/curriculum-helpers.js) that can be used in the testString by using `__helpers.methodName`.

For example, you could use it in the `testString` referenced in this issue like:

[code]

[2020-10-07 11:44] RandellDawson commented on #39811
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-10-07 11:44] #39811 closed

[2020-10-07 11:54] Mushfiq-alt commented on #39811
Everyone said no problem in the code after that I report this issue on
freecodecap github profile.

On Wed, Oct 7, 2020, 17:45 Randell Dawson <notifications@github.com> wrote:

[2020-10-07 12:03] RandellDawson commented on #39811
@Mushfiq-alt Can you please post a link here to the forum discussion topic?

Thank you.

[2020-10-07 12:41] ojeytonwilliams commented on #39099
It's happening in production, too.  Both .dev and .org link to https://colab.research.google.com/drive/1UCHiRuBLxo0S3aMuiDXlaP54LsxzrXHz#scrollTo=jaF8r6aOl48C and it has the issue.

[2020-10-07 12:43] ManasMahanand commented on #16445
Wait what do you mean add to repo?

Do you want me to install the linter as a dependency, like eslint is already?

Or is there a way of installing tests on github itself, so it won't allow merging unless the style guide is followed?

[2020-10-07 13:10] raisedadead commented on #39099
Thanks for confirming, can we get some error logs and steps to reproduce for reproduction. Is it exactly the same as the OP?

[2020-10-07 13:13] raisedadead commented on #39099
FYI here is the HEADERS config for CDN:

https://github.com/freeCodeCamp/cdn/blob/b40b5ee60c7c05145c45b87b10c2cbc9b5bd6547/build/_headers#L1-L6

[2020-10-07 13:29] raisedadead commented on #39099
OK - as mentioned in https://github.com/freeCodeCamp/freeCodeCamp/issues/39099#issuecomment-704749247 wget works so it could be issue with the `get_file` and we could use https://github.com/freeCodeCamp/freeCodeCamp/issues/39099#issuecomment-651261679 if its still valid.

I am no Python expert, so I will let someone else recommend a fix.

That said, the CDN config seems to be valid.

[2020-10-07 14:59] Sky020 commented on #39811
Just to add:

@Mushfiq-alt It appears you have included the _full-stop_ within the `a` tag, which, I believe, should not be included.

A link to the forum post would still be handy.

[2020-10-07 15:06] ManasMahanand commented on #16445
Ok, looks like stylelint is a good option itself. I am installing that.

For experimenting, I will set rules as suggested by OP. I will then remove all rules and open a pr. We can then discuss and set rules

[2020-10-07 15:07] ManasMahanand commented on #16445
https://stylelint.io/user-guide/rules/about

You can have a look at this link to see the types of rules that can be set

[2020-10-07 15:28] ManasMahanand commented on #16445
![image](https://user-images.githubusercontent.com/41644157/95352031-7050ba00-08df-11eb-9695-4d2387615a60.png)

currently there is already a lint:css command that uses prettier. We can change it to use stylelint.

Any how, I have installed it, and it successfully detects errors based on rules set. Shall I open a PR?

[2020-10-07 16:00] tomasvn commented on #16445
No need to remove prettier, prettier has config for stylelint rules that you can use to extend prettier config file

[2020-10-07 16:19] ManasMahanand commented on #16445
Awesome. Will work on it tomorrow.

[2020-10-07 16:33] QuincyLarson commented on #39804
@raisedadead I just talked with @miyaliu666  about this, and she is going to oversee the translation of the landing page as well as some of the key documents (code of conduct). For now we can use the use the same layout and copy and everything, and just link to the forum instead of linking to /learn. Then once we launch Chinese /learn we can update those links.

[2020-10-07 17:09] Mushfiq-alt commented on #39811
Look, full-stop now outside the a tag. Even though now its not working.

On Wed, Oct 7, 2020 at 9:00 PM Shaun Hamilton <notifications@github.com>
wrote:

[2020-10-07 17:15] RandellDawson commented on #39811
@Mushfiq-alt Please create a forum post to work on challenge code issues.  GitHub is only for reporting bugs with the lesson instructions and/or tests.  Thank you.

[2020-10-07 19:16] Amani76828 opened #39815 "My project"
https://code.sololearn.com/Wmm6BZEX2Et1/?ref=app

[2020-10-07 20:03] #39815 closed

[2020-10-07 20:04] RandellDawson commented on #39815
@Amani76828
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects. GitHub issues are meant for reporting bugs with the freeCodeCamp site and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-10-07 20:42] SaintPeter commented on #39692
We are ready to push out the Sudoku Solver update.  Linked above are the updates to the boilerplate, the tests for the site, and the updated demo project.

I am hosting my version of the demo project here:
https://sudoku-sample.pearlygatesoftware.com/

[2020-10-08 00:39] JanPoonthong commented on #4055
u using dark reader? or any chrome extensions for dark mode?

[2020-10-08 03:53] rupeshshitole commented on #1934
Correct Answer is,

$("#left-well").css("background-color","red");
$('#target1').parent().css('background-color','red');

[2020-10-08 05:12] scissorsneedfoodtoo commented on #38917
Hey @Sky020, thanks for your patience.

Awesome, it seems like you made some great progress here already! Also, thank you for bringing up all those corner cases. Those are all very good points to consider.

Like @ahmadabdolsaheb mentioned, it might be good just to have the text and links for each project above the certificate itself to avoid many of the issues you pointed out. I think it looks pre

[2020-10-08 06:08] QuincyLarson commented on #38917
@scissorsneedfoodtoo Thanks for bringing this to my attention.

@Sky020 This is a good way to show people's work. Rather than list these projects on the certification itself, we should list them below the certification with the following message:

As part of this certification, {name} built the following projects and got all automated test suites to pass:

* Project 1
* Project 2
* Project 3
* Pro

[2020-10-08 07:12] ManasMahanand commented on #16445
I didn't find prettier config for stylelint rules (or how to do that), but currently I have installed another package stylelint-config-prettier that will check for conflicts and will turn off any rules that does conflict.

What I am thinking is in lint:css command we can also run the stylelint command as well along with prettier

[2020-10-08 07:14] ManasMahanand commented on #16445
(Opinion) I feel that we can write all custom stylelint rules based on what makes sense for fcc, and even completely remove prettier. This is just an opinion, it is left to you guys to decide.

[2020-10-08 13:28] UsmanAhmadSaeed commented on #39804
@raisedadead I'd like to take this up. Can I? And do I need to know Chinese?

[2020-10-08 15:08] maayaankk opened #39819 "Raising a test issue for contributing to the Open-source Community"
This is the test issue I have created for testing purpose **Please Ignore**

[2020-10-08 15:55] nhcarrigan commented on #39819
Hi. Please don't create spam issues as they create noise for the maintainers. If you want to experiment, the best approach is to do so on your own fork.

[2020-10-08 15:55] #39819 closed

[2020-10-08 18:42] jeremylt opened #39820 "Typo - ES6 Const Array Mutatation"
**Describe your problem and how to reproduce it:**
In this challenge, there is a minor grammar issue.

should say

as "various" means the noun is plural.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/mutate-an-array-declared-with-const

**Tell us about your browser and operating system:**
N/A

**If possible, add a scr

[2020-10-08 20:02] #39810 closed

[2020-10-08 20:19] SaintPeter commented on #39692
Ok, everything is in place to roll this change out.

#### Sudoku Solver
[x] Boilerplate Updated, PR Created
[x] fCC Tests Updated, PR Created
[x] New Project Created, PR Created against `demo-projects`

#### American / British Translator
[x] Boilerplate Updated, PR Created
[x] fCC Tests Updated, PR Created
[x] New Project Created, PR Created against `demo-projects`

[2020-10-08 20:41] mwlai288 commented on #39820
I can take this if you want this done.

[2020-10-08 20:57] Sky020 commented on #39820
@mwlai288 Glad you are interested in this.

Any issue with _help wanted_ or _first-timers only_ labels are open to contribution. If you have not already, please read the [contributors docs](https://contribute.freecodecamp.org/#/index)

We will QA the first comprehensive PR for an issue.

[2020-10-08 21:51] Sky020 opened #39823 "Applied Visual Design: Adjust the background-color Property of Text CSS test too strict"
This lesson: https://www.freecodecamp.org/learn/responsive-web-design/applied-visual-design/adjust-the-background-color-property-of-text

Requires the semi-colon at the end of a last declaration in the block.
Passes
[code]
Fails:
[code]

---

The test should be changed to allow the missing semi-colon, provided the `background-color` declaration is last in the scope.

Similar implementation to this

[2020-10-08 22:37] Sky020 commented on #39765
Sounds like we are set on:
1) Add `dotenv` to the `package.json`
2) Require it in the appropriate location
3) Use Oliver's wording (above), for clarity

[2020-10-08 22:39] Sky020 commented on #39731
@RandellDawson Do you think there is anything we need to do here to clarify? Or, can this issue be closed?

[2020-10-08 22:48] Sky020 commented on #39631
@nhcarrigan Does #39822 solve (close) this?

[2020-10-08 22:49] Sky020 commented on #39631
Ignore that (_I am unable to edit the above comment, for some reason_), I just remembered the PR is targeting `/learn`.

[2020-10-08 22:51] nhcarrigan commented on #39631
I'm glad you pinged me on this though.

The `api.js` file was added to the boilerplate, but we neglected to clean up the erroneous `convertHandler` route. I'll grab @SaintPeter next time we're free to get that route removed. 😁

[2020-10-08 22:52] nhcarrigan commented on #39631
This should be closed with the merge of [the boilerplate PR](https://github.com/freeCodeCamp/demo-projects/pull/23) but we will need to add a commit to remove that extra route.

[2020-10-08 23:04] ShaunSHamilton opened #39825 "Backend Projects Pre-Installed Packages"
Regarding some of the backend projects:

On a few occasions, campers have had issues implementing their projects, because they use the versions of the pre-installed packages.

Specifically, this has been an issue with the MongoDB/Mongoose packages. Honestly, I realise this more-so falls on the camper, but I would rather have one of two things:
1) Remove all/most of the packages from the boilerplat

[2020-10-08 23:59] RandellDawson commented on #39731
I do not think anything needs to be done.

[2020-10-09 01:48] TheDesertKing opened #39826 "Chrome darkmode extensions incompatability"
CSS code not Checking Correclty if using DarkScreen Extension on Chrome.

https://www.freecodecamp.org/learn/responsive-web-design/basic-css/use-css-selectors-to-style-elements

**Tell us about your browser and operating system:**
* Browser Name: Chrome
* Browser Version: newest
* Operating System: windows 10

![Screenshot 2020-10-09 044328](https://user-images.githubusercontent.com/57393961/95532

[2020-10-09 01:54] baranork commented on #39820
Is this already fixed? If not, I could do it

[2020-10-09 02:08] baranork commented on #39823
I can do this! Do I need to be asigned?

[2020-10-09 05:48] #39244 closed

[2020-10-09 07:16] RJamesMaier opened #39828 "Include TypeScript Lessons as part of the freeCodeCamp Curriculum"
**Idea**
According to the most recent [stack overflow](https://insights.stackoverflow.com/survey/2020#most-loved-dreaded-and-wanted) survey, TypeScript is among the most loved languages and is becoming a more popular way of writing JavaScript.

**Solution**
TypeScript, particularly when compared to JavaScript, will probably be a bit much for a beginner, but perhaps in an "advanced" section, for th

[2020-10-09 08:10] ojeytonwilliams commented on #39828
Hi @RJamesMaier, it would be great if we could offer TypeScript lessons, but there's a bit of setup we'd need first.  While it should not be too difficult, since there's a [proof of concept](https://www.typescriptlang.org/play), we still have a bit of work left to do on the editor before we can extend it to cover TS.

Also, @RandellDawson is best placed to advise about how (and if!) we might go ab

[2020-10-09 09:41] #39731 closed

[2020-10-09 09:45] Sky020 commented on #39826
Hello there,

Thank you, for taking the time to open this issue.

Unfortunately, we cannot do much about external resources/tools affecting the experience. We have been aware of this, for quite some time, and there is a warning to campers here:
https://www.freecodecamp.org/learn/responsive-web-design/basic-css/

As such, I am closing this issue.

Thank you.

[2020-10-09 09:45] #39826 closed

[2020-10-09 09:48] Sky020 commented on #39823
@baranork We typically do not assign issues to anyone other than long-time contributors to avoid ambiguous no-shows.

If you are wanting to contribute, I recommend you take a look at the [Contributors Docs](https://contribute.freecodecamp.org/#/index)

[2020-10-09 09:49] ahmadabdolsaheb commented on #39574
I would love to, and believe SAGA & Redux need an issue of their own at this point.
I will look into best practices and create an issue accordingly, just in case other interested contributors get to work on it before I get a chance.

The `handleAPIError` belongs to a time where we wanted to have the top news articles show up on learn client. It was used in a `shortIdSaga` that no longer exist and

[2020-10-09 10:25] ojeytonwilliams commented on #39825
Is the problem that people use the package in the boilerplate, but try to use the current api?

If so, then why don't we take the packages out of the boilerplates, but put in advice about what packages they're likely to need?  That way the amount of guidance stays about the same, but the confusion should be reduced.

[2020-10-09 10:56] Sky020 commented on #39825
@ojeytonwilliams The issue arises when campers just fork/clone the boilerplate, and start creating the API without updating the packages already in the boilerplate.  So, MongoDB is already included, as is Mongoose. However, the versions are not up-to-date.

Then, a camper will go to the Mongoose docs, and copy the latest information on how to use the Mongoose API, but some methods could be incompa

[2020-10-09 11:04] ojeytonwilliams commented on #39825
Cool, that's what I assumed.

Agreed, but the boilerplate was giving guidance by having some pre-installed.  I'm fine with taking that away if you think the user stories give enough of a hint.

[2020-10-09 11:30] RandellDawson commented on #39825
I am going to offer my two cents worth here.  For the certification projects, I would like to see as few as possible packages preinstalled by us.  These projects are to meant validate users understand how to build an app based on user stories provided.

[2020-10-09 12:18] Symbolistic opened #39834 "I feel Linked Lists should be taught BEFORE having us do Circular Queue in the Advanced section"
I just took a step back to fully learn data structures and I am watching one of FCC's videos: https://www.youtube.com/watch?v=RBSGKlAvoiM

An amazing video. I just learned about linked lists and noticed something.

In FCC Interview Section: https://www.freecodecamp.org/learn/coding-interview-prep/data-structures/create-a-circular-queue

We are challenged to do circular queue, honestly in my opinio

[2020-10-09 13:57] TheDesertKing commented on #39826
Ah, my bad for not reading the note.
Thank you though, I really appreciate your site!

‫בתאריך יום ו׳, 9 באוק׳ 2020 ב-12:45 מאת ‪Shaun Hamilton‬‏ <‪
notifications@github.com‬‏>:‬

[2020-10-09 18:09] #39823 closed

[2020-10-09 21:01] mwlai288 commented on #39820
I haven't done it yet. You can do it.

On Thu, Oct 8, 2020, 9:54 PM Facundo Seib <notifications@github.com> wrote:

[2020-10-09 23:24] vkWeb opened #39914 "Scrimba's watch a video embed isn't working"
**Describe the bug**
Clicking on watch a video under help brings up scrimba video embed which doesn't play the video. This issue applies to all challenges where `watch a video` option is available.

![fcc-issue](https://user-images.githubusercontent.com/26724128/95639052-92e7fc00-0ab4-11eb-8719-7c0301d574e9.png)

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04 (64 bit)

[2020-10-09 23:30] RandellDawson commented on #39801
No one addressed this issue before the changes on `.dev` were merged to production.  @ahmadabdolsaheb Can you provide some insight here on why we want a Sign In button to appear if a user is already signed in?  It makes it appear that the site has a bug in my opinion, which is why I raised the issue before the changes were deployed to production.

[2020-10-10 00:09] RandellDawson commented on #39614
I am not a fan of using `em` tags for anything here.

[2020-10-10 04:36] Symbolistic commented on #39834
Also I think its broken
![image](https://user-images.githubusercontent.com/20589628/95645789-8f427e00-0a90-11eb-92ab-58c9d04115d6.png)

[2020-10-10 14:07] bitsandbytes1708 commented on #39914
I'm also using the latest version of chrome and I'm not having any issues, however, the video does look like that before it loads. Have you waited more than 10 seconds for it to load, and if so, have you tried reloading your page?

[2020-10-10 20:31] vkWeb commented on #39914
@bitsandbytes1708 Yes - I waited for around a minute. I have tried hard reloading the page too.

Update:
The issue was due to third party cookies being disabled by default by my browser.

[2020-10-10 20:31] #39914 closed

[2020-10-11 08:23] ShaunSHamilton opened #39925 "JSRemoveComments Causing Test to Fail"
Lesson: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/use-higher-order-functions-map-filter-or-reduce-to-solve-a-complex-problem

This code fails one particular test:
[code]
Whereas, if the spaces to the left of `.map` or `.filter` are removed, the code passes.

Helper Function: https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/sr

[2020-10-11 11:22] ojeytonwilliams commented on #39925
Good catch.  The issue here is that the test requires the `.` to be on the same line as the function and the helper produces

[code]

The helper should not do this, but, depending on how Babel handles whitespace, it might be unavoidable.  If that's the case, we'd need to audit challenges using `removeJSComments` and either `removeWhiteSpace` first or adjust the regex.

Also, this seems like a good

[2020-10-11 22:31] Eyob-T opened #39952 "Issue Tracker Project accepts incomplete solutions"
**Describe your problem and how to reproduce it:**
Go to https://www.freecodecamp.org/learn/quality-assurance/quality-assurance-projects/issue-tracker
Click the Repl.it link and run the project. Then copy the URL and paste it in the solution text box on the above link
Without writing any solutions, all the tests pass

**Add a Link to the page with the problem:**

**Tell us about your browser and o

[2020-10-11 23:50] VeraZab commented on #39765
Hey guys, linked a pr for adjusting the boilerplate code above, if you'd like to review.

[2020-10-12 07:28] Ieahleen commented on #39952
Yes, it is still a work in progress, see https://github.com/freeCodeCamp/freeCodeCamp/issues/37185

[2020-10-12 09:48] #39952 closed

[2020-10-12 16:17] moT01 commented on #39721
Note, I updated the text that should appear on /learn from this...
[code]

To what is now in the issue. I thought it was more concise this way, but we can change it back if we don't like it.

[2020-10-12 16:34] Sky020 commented on #39721
@moT01 I am wondering if we should not remove the mention of completing the projects locally?

This has to do with the cert projects, and their submissions should be publicly visible. So, either remove its mention in the list, or remove the

Being explicit about the need to host the project somewhere, once they are done.

[2020-10-12 16:39] moT01 commented on #39721
It does say to submit a "working demo" - perhaps we could add "publicly visible working demo" ?

[2020-10-12 16:46] moT01 commented on #39721
#6 says `Remove any user story information from a project’s landing page (i.e. index.html). The only thing that should remain would be example usage information.` - I know this is true for the example projects, but do we want to keep example usages in the boilerplates? Or just have a blank page?

[2020-10-12 16:52] Sky020 commented on #39721
I would definitely leave the example usages in the boilerplates -> Just remove the user stories

[2020-10-12 16:54] Sky020 commented on #39721
@moT01 I think, _"publicly visible working demo"_ should be ok. I still suspect some campers will submit `localhost:3000` 🤷‍♂️

[2020-10-12 17:00] ojeytonwilliams commented on #39721
Seems likely.  Can we catch those with validation?

[2020-10-12 17:05] Sky020 commented on #39721
@ojeytonwilliams Not in any way I can think that would not hinder development...

I frequently submit local URLs before finally pushing a test-passing project to something like Heroku to submit the challenge.

Although...perhaps we could interrupt `on-submission`, if the URL contains a local location? Just leave the tests able to run as is.

[2020-10-12 17:08] moT01 commented on #39721
I feel like I would rather just word it so it is understandable instead of trying to add code for that. What about this...

When you are done, make sure your project is hosted somewhere public and submit the URL to your working demo in the `Solution Link` field. Optionally, submit a link to your projects source code in the `GitHub Link` field.

[2020-10-12 17:35] moT01 commented on #39721
It says in the issue - "Once all changes have been deployed, the README.mds for each project in the demo-projects repo will be deleted." - do we want to remove those readme's on the demo projects or give them a link to the learn page like we're doing for the boilerplates? I am leaning towards having a link.

[2020-10-12 17:40] Nishaghoul opened #39963 "Sending request to join the learning community."
Please send me the link to join the online learning community.
Also, feel free to correct my mistakes, I am a newbie and I wish to learn.
Thanks in advance

[2020-10-12 17:41] Sky020 commented on #39721
I thought the thinking behind this was, there should be no way a camper will end up on a demo-project README. So, remove them?

[2020-10-12 17:48] SaintPeter commented on #39721
I'll remove the READMEs from the various Boilerplate PRs I have open.

[2020-10-12 17:50] Sky020 commented on #39721
@SaintPeter To clarify: It is not the READMEs in the boilerplates that need to be removed...it is the READMEs in the **demo-projects** which need to be removed.

[2020-10-12 18:23] ojeytonwilliams commented on #39721
Good point.  We could always disable the submit button if we detect localhost, but that's definitely something that's nice to have, rather than urgent.

[2020-10-12 20:23] Ieahleen commented on #39963
welcome to freeCodeCamp, this is the code repository for this open source project

the website is hosted at freecodecamp.org

[2020-10-12 20:23] #39963 closed

[2020-10-12 22:24] moT01 commented on #39721
Most of the PR's I have just stick to the issue. There's a number of other things I would like to do to the boilerplates and demo projects...

- Change the favicons
- Make all the titles uniform
- Make a uniform layout where we can - basically just have the project title and an hr
- Remove old assets (glitch/hyperdev, .gitconfig file)
- Create a .gitignore with a few things in it
- Maybe a uniform

[2020-10-12 22:35] SaintPeter commented on #39721
@moT01 Give me some standards and a `favicon.ico` file and I'll be happy to update my many PRs to include them.  I've been doing cleanup to the best of my ability, but I didn't want to poke stuff I wasn't familiar with.

[2020-10-12 23:06] TheEvilSkeleton opened #39966 "Remove Google Analytics"
**Is your feature request related to a problem? Please describe.**

Hi!

I'd like to ask if Google Analytics can be removed. Google has been heavily criticized[1][2] for abusing user's data, and there are posts about Google Analytics' problems[3][4]. I would love to see Google Analytics removed from freeCodeCamp!

**Describe the solution you'd like**

To switch to a more ethical alternative to Goo

[2020-10-13 07:16] ojeytonwilliams commented on #39721
Is there any way we can DRY this out? There's a lot of repetition in the boilerplates that it would be nice to centralise, but I'm not sure if there's a simple way.

Submodules should work, but then users would need to work with them and that's a bit of a pain. Does anyone know of a better approach?

[2020-10-13 08:02] EliBCC opened #39967 "Low contrast on "Divide the Grid Into an Area Template""
**Describe your problem and how to reproduce it:**
The exercise “Divide the Grid Into an Area Template” has a section where code is displayed. However, it is in a dull yellow font on a black background, and is difficult to read.
I would like to request that the font color be changed to a higher contrast color.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/respons

[2020-10-13 08:20] ojeytonwilliams commented on #39967
Thanks for pointing this out @EliBCC, it is incredibly hard to read.  How about the following?

![image](https://user-images.githubusercontent.com/15801806/95834609-79a5b080-0d3d-11eb-8c52-582a253cd3c6.png)

cc: @ahmadabdolsaheb

[2020-10-13 08:54] EliBCC commented on #39967
Looks a lot better! Does it conform to the 4.5:1 contrast ratio suggested in a previous FCC lesson?

[2020-10-13 09:17] ojeytonwilliams commented on #39967
Good question and no, it's not quite enough.  I tweaked it a bit further to

[code]

which looks like this:

![image](https://user-images.githubusercontent.com/15801806/95841363-90500580-0d45-11eb-9c49-37c9178889d1.png)

That passes.

[2020-10-13 09:43] rahul1990gupta opened #39969 "React: Add Inline Styles in React"
**Describe your problem and how to reproduce it:**
Correct answer doesn't get evaluated to true.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/front-end-libraries/react/add-inline-styles-in-react

**Tell us about your browser and operating system:**
* Browser Name: Firefox
* Browser Version:
* Operating System: Windows 10 Home

**If possible, add a screenshot her

[2020-10-13 10:19] Sky020 commented on #39969
Hello there,

You have not done what the lesson has asked. Whilst your code does cause the styling of the element to be what is expected, the lesson is about `inline-styles`, your code is not using _inline-styles_ to style the element, and so should not pass the challenge.

As such, I am closing this issue. In general, if you have further questions, I recommend you make use of the [forum](https://

[2020-10-13 10:35] dipayanDebTheCoder commented on #39820
Hello,

This is my first time participating in any open source project. I see that the issue is open. So if no one is working on this, then should I start working on it. I would be happy to give it a try .

Thanks in advance

[2020-10-13 11:14] #39820 closed

[2020-10-13 11:17] Sky020 commented on #39820
@dipayanDebTheCoder This issue is now closed, as there was a linked PR which has now been merged. However, we welcome you to work on other issues.

Any issue with help wanted or first-timers only labels are open to contribution. If you have not already, please read the [contributors docs](https://contribute.freecodecamp.org/#/index)

We will QA the first comprehensive PR for an issue.

[2020-10-13 12:12] raisedadead commented on #39966
Hi @TheEvilSkeleton

Thanks a lot for this feedback and recommendation.

While we will be discussing this with the team, the current work around that we recommend is to use an ad-blocker (although please be warned some of them might break freeCodeCamp's features like falsely flagging scripts on the learn platform).

We are investigating using server-side analytics more in favor of any of these cli

[2020-10-13 12:25] tushgaurav commented on #39967
Now, It looks a lot better.

[2020-10-13 15:43] ojeytonwilliams commented on #38918
Hi @dipayanDebTheCoder. You are correct. This issue is open to anyone and no-one else has said they're working on it. Regardless, issues like this are open for anyone, so please go ahead.

[2020-10-13 15:51] moT01 commented on #39721
Not even sure how submodules would work - we could have one per project, use it for basically all the boilerplate - then just add the submodule and additional code for each example project. Not sure if that actually helps or just complicates it in a different way. Most of these boilerplates and example projects do share a lot of code, but not all of them and many of the ones not on here, don't. I

[2020-10-13 16:03] RandellDawson commented on #39435
@nhcarrigan Are you fine with closing this issue and adding any relevant information as a comment to issue #39721?

[2020-10-13 16:05] nhcarrigan commented on #39435
Sure thing.

@SaintPeter and I worked together on a few of these items and I believe everything has been caught, but I'll make a note on the other issue to ensure it doesn't get lost in the shuffle. 🙂

[2020-10-13 16:05] #39435 closed

[2020-10-13 16:07] nhcarrigan commented on #39721
I believe we've caught them all, but just in case we missed any... an extra set of eyes to ensure there are no InfoSec related stories/tests on the QA projects would be greatly appreciated 😁

I closed #39435 to roll in to this issue.

[2020-10-13 16:26] RandellDawson commented on #39672
@KatFrog If you want to create a PR to fix the issue, definitely read the [Contributors Docs](https://contribute.freecodecamp.org/#/index) as referenced by @Sky020.  We will merge the first PR that addresses the issue.

[2020-10-13 16:53] moT01 commented on #39721
Do we want to try to incorporate these additions to the PR's already out there for adding tests? or should we keep them separate?

[2020-10-13 16:54] ojeytonwilliams commented on #39721
The approach would be to have the common stuff (package.json, dotenv, express etc.) in a single repo. Each project would have their own repos and be imported into the common one.

Probably the latter, but I figured there was *some* chance it was a sensible approach and I'm not keen on the amount of code repetition.  That said, the cure could be worse than the disease.

Anyway, I don't want to dera

[2020-10-14 02:15] geeknabil opened #39971 "Basic Algorithm Scripting: Find the Longest Word in a String (another easy way to solve this problem)"
Here is another easy way to solve this problem:

[code]

[2020-10-14 02:16] geeknabil commented on #39971
I am requesting a pull request for this solution!

[2020-10-14 02:18] nhcarrigan commented on #39971
Hello~!

Where are you wanting this solution to go? If you are looking at the markdown file for the challenge, the solution there is only used for testing changes to the challenge test or seed, and is not displayed to the end user.

If you are talking about the guide post on the forum for a challenge, then that change is proposed through our forum, not through GitHub. 🙂

[2020-10-14 03:28] #37305 closed

[2020-10-14 10:23] #38052 closed

[2020-10-14 10:23] #39507 closed

[2020-10-14 16:33] #39486 closed

[2020-10-14 20:18] Sky020 commented on #39720
@RandellDawson and @moT01 I am going to need a bit of guidance with how to do the Chai instructions. I will add my PR now, but it will likely need more challenges added

[2020-10-14 21:57] RandellDawson commented on #39967
I am opening this issue up to `first timers`.

[2020-10-14 23:54] erictleung commented on #39967
For first timers, this appears to be the lines of code you want to focus on to change based on what is mentioned in https://github.com/freeCodeCamp/freeCodeCamp/issues/39967#issuecomment-707610431

https://github.com/freeCodeCamp/freeCodeCamp/blob/05535d1e56bca7456b69510fa724493edf5fa1ca/client/static/css/prism.css#L102-L109

[2020-10-15 02:31] TonyBrokers opened #39978 "Raising a test issue for the youtube video"

[2020-10-15 02:33] nhcarrigan commented on #39978
Hello,

It looks like this issue may have been opened accidentally. As such, I am going to close it.

If you feel this issue should be reopened, please provide all relevant information.

[2020-10-15 02:33] #39978 closed

[2020-10-15 06:47] ahmadabdolsaheb commented on #39801
@RandellDawson this was by design; however, we came to your conclusion later on.  I will make pr to address this issue accodingly.

[2020-10-15 08:25] #39614 closed

[2020-10-15 10:25] csakou commented on #39967
I would like to take this if it's open for grubs. It will be my first time contributing to an open source project.

[2020-10-15 10:54] ahmadabdolsaheb commented on #16445
Thanks @ManasMahanand on your progress. I am tagging @ojeytonwilliams for a second opinion.

[2020-10-15 10:56] ojeytonwilliams opened #39980 "Donation tests"
We should have more tests for /donate and the donate form.  Cypress tests, if possible, so that we can confirm that the donation flow works correctly.  Since external services (PayPal and Stripe) are involved, we should find a way to stub those out.

For example:
https://github.com/freeCodeCamp/freeCodeCamp/blob/6de5144c8c7ec7b1d15c76480fdd66da72a12942/client/src/components/Donation/DonateForm.js#

[2020-10-15 11:11] ojeytonwilliams commented on #16445
I think prettier does a good job with formatting, so I'd rather keep that.  If we use https://github.com/prettier/stylelint-prettier then prettier is used as a plugin of stylelint and we get the best of both worlds.

[2020-10-15 11:17] Ironteen23 commented on #39967
HELLO I WOULD LIKE TO WORK IF ITS OK .
ITS MY FIRST TIME ,SO PLEASE GUIDE ME THROUGH

[2020-10-15 13:14] ahmadabdolsaheb commented on #39980
@Twaha-Rahman, since you have been  spearheading our test coverage expansion efforts, I was wondering if you have any thoughts on this matter before we start with the implementation?

[2020-10-15 18:10] EliBCC commented on #39967
I have been attempting to fix this issue. My first attempt to modify the code suggested by @erictleung was rejected because the prism.css file in that location is being removed.
My new approach is to use the prism-night.css file. Here is my proposed addition:
[code]

However, I have some questions.

I only noticed the issue with the css code block, but I suspect it may be a problem for other langu

[2020-10-15 18:56] ojeytonwilliams commented on #39967
Hi @EliBCC, my best guess is that your proposed change is a good one.  Reason being, the change hits both the font's colour and the background.  So, anywhere that was suffering from poor contrast will be fixed by your change, which is exactly what we want.

If you could make that change in your PR, we can QA it there.

[2020-10-15 19:18] EliBCC commented on #39967
I have made the changes here: https://github.com/EliBCC/freeCodeCamp/blob/master/client/src/components/layouts/prism-night.css
See lines 49 through 57.

How does QA work? Are you able to preview the website directly from GitHub?

[2020-10-15 19:40] ojeytonwilliams commented on #39967
Thanks, that looks good.  Could you push them onto your PR?

Almost, yeah.  When you create a PR we can open a version of the site (including the PR's changes) in GitPod and preview it using that.  It's neat.

[2020-10-15 19:49] EliBCC commented on #39967
I was able to figure out how to use GitPod. It looks like the changes work.
![image](https://user-images.githubusercontent.com/23089099/96177344-c0410980-0efb-11eb-86e7-71f5b9a59a16.png)

I noticed that in prism-night.css, there is already a rule for `token.operator`, `token.entity`, and `token.url`. None of the others have a background. I tried viewing the string without a background, too, and it

[2020-10-15 19:55] EliBCC commented on #39967
I'm not sure what you mean. I think the changes are pushed to my PR? Is the issue that I forked it instead of cloning?

[2020-10-15 20:31] ojeytonwilliams commented on #39967
You can see the PR commits here https://github.com/freeCodeCamp/freeCodeCamp/pull/39979/commits

I recommend taking a look at the contribution docs, they cover this sort of thing: https://contribute.freecodecamp.org/#/

[2020-10-15 20:59] EliBCC commented on #39967
Ah, I see, you mean on FCC. Here it is: https://github.com/freeCodeCamp/freeCodeCamp/pull/39987

[2020-10-16 03:43] Twaha-Rahman commented on #39697
I'll be getting back to this after I get #39622 merged. That way I can add the tests for this feature in this PR.

[2020-10-16 05:42] Twaha-Rahman commented on #39647
My main complain/concerns with Safari was -

1. Many weird CSS issues (especially since we are going to be using CSS Flexbox and Grid moving forward)
2. Can't test e2e due to Cypress not supporting it (it's in the road map though :thinking: )

For the above mentioned reasons, I think supporting Safari would be a painful experience since we'll have to not only find weird fixes for weird Safari bugs

[2020-10-16 05:48] Twaha-Rahman commented on #39980
I don't know much about the `/donation` page or it's features so can't say much about it.... but able to test it with Cypress would be a big plus without a doubt.

Also maybe add the search feature to the list too. The ability to test the `search` feature in the `navbar` would be a nice addition.

[2020-10-16 07:13] ojeytonwilliams commented on #39697
Thanks, Twaha. Take whatever time you need.

[2020-10-16 09:03] Ieahleen commented on #39971
if you want to contribute to the guide please open a topic in the [#contributors](https://forum.freecodecamp.org/c/contributors/3) subforum in the forum

[2020-10-16 09:03] #39971 closed

[2020-10-16 09:13] Ieahleen commented on #39967
@csakou @Ironteen23 thank you for your interest in contributing to freecodecamp

as our contributing docs say:

you don't need to ask for permission, the first comprehensive PR is the one reviewed. You could start reading the contributing docs, if you have not yet: https://contribute.freecodecamp.org/

[2020-10-16 09:17] Ieahleen commented on #39804
@UsmanAhmadSaeed instead, why don't you look at the issues labeled with [help wanted](https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted)?

[2020-10-16 09:25] Ieahleen commented on #38558
it may be worth it, it may create the wrong assumption that the conversion is somewahat magically done

[2020-10-16 09:28] Ieahleen commented on #38575
the challenge seems to have been updated since when this issue was opened, do you think there are still issues with this challenge?

[2020-10-16 09:32] Ieahleen commented on #39398
Yes, it seems you are right - do you want to propose a solution?

[2020-10-16 11:52] #39967 closed

[2020-10-16 14:33] UsmanAhmadSaeed commented on #39804
@Ieahleen I appreciate that. Except that, I've got busy and will remain so until the foreseeable future, so might not be able to contribute to any issues at all. I'd, however, try to contribute whenever I can.
Thanks and Best wishes!

[2020-10-16 14:56] raisedadead commented on #39980
It wont be trivial for a non-staff member to test these out without the Stripe setup (and PayPal etc). I recommend this to be taken up one of the Staff instead.

[2020-10-16 15:00] ojeytonwilliams commented on #39980
Sure, we can handle this - we just wanted to track it somewhere and see if anyone had any input.

[2020-10-16 15:49] ojeytonwilliams commented on #39647
Thanks Twaha, that makes sense.

I've taken a look at our analytics and they're similar to the ones Nicholas posted, so ignoring Safari would be ignoring quite a lot of users.  That said, it seems sensible not to claim we support it when it's likely to be buggy (for the reasons you outlined).

How about this: transpile for Chrome, Safari, Firefox, Edge and Opera i.e. the top 5 (in that order)? The

[2020-10-16 16:30] Dilip-Jain commented on #39834
is there any way I can help? like I have learned linked list, doubly linked list, circular, stack, queue.

[2020-10-16 17:08] udayanshevade commented on #38575
@Ieahleen that's strange, I wasn't able to see any updates. The challenge still looks the same for me.

[2020-10-16 18:45] steviehailey opened #39989 "Linear gradient explanation could be clearer"
Just a minor phrasing improvement suggestion for the 'create-a-gradual-css-linear-gradient' lesson, where it says

I found it confusing to say, "90deg makes a vertical gradient" - to me the result is a horizontal gradient. It might be clearer instead say, "90deg makes a gradient from left to right"

Link: https://www.freecodecamp.org/learn/responsive-web-design/applied-visual-design/create-a-gradu

[2020-10-17 00:13] JohnnyGow opened #39991 "Using a Generic font name gives error when answering"
**Describe your problem and how to reproduce it:**
This was discussed on the forum and it was suggested I submit it to GitHub.

The instructions of this challenge introduce the use of a “generic name” (optional) so I used “monospace” in the generic name.

font-family: FAMILY_NAME, GENERIC_NAME; .

I would then get the error:

" You should only use an h2 selector to change your font", which I was d

[2020-10-17 00:22] nhcarrigan commented on #39991
`testString: assert(/\s*[^\.]h2\s*\{\s*font-family\:\s*(['"]?)Lobster\1\s*(;\s*\}|\})/gi.test(code));`

[This is the test in question](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/01-responsive-web-design/basic-css/import-a-google-font.md). I would support modifying the test to allow for a fallback value as shown in the challenge description.

Before openi

[2020-10-17 07:16] geeknabil opened #39994 "variable names should be more descriptive."
for better learning quality in some challenges variable names should be more descriptive specially first few challenges on javascript basics section.

[2020-10-17 07:18] nhcarrigan commented on #39994
Hello~!

While I agree that variable names in general should be descriptive, the variables in the beginning lessons serve little practical purpose. The point of the lessons is to demonstrate some fundamental concepts, and using short variable names helps keep the focus on the lesson material in my opinion.

[2020-10-17 09:45] Ieahleen commented on #38575
oh, sorry, it seems the version I remember was changed before this then

[2020-10-17 11:48] ylevental opened #39995 "Rosetta Code: Day of the week test is worded incorrectly"
**Describe your problem and how to reproduce it:**

The test statement `findXmasSunday(2008, 2121)` should return `[1977, 1983, 1988, 1994, 2005, 2011, 2016]` doesn’t make sense, since 2008 is after 1977.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/coding-interview-prep/rosetta-code/day-of-the-week

**Tell us about your browser and operating system:**
* Browser

[2020-10-17 12:28] Ieahleen commented on #39995
there seems to be just an issue in the test text:
[code]

There is just to make so that the two functions, the one executed and the one written match. I will mark for first timers

[2020-10-17 13:46] ylevental opened #39997 ""Rosetta Code: Date format" sample day is incorrect"
**Describe your problem and how to reproduce it:**

The sample output in the sidebar has the date `Sunday, November 23, 2007`.  The date should read `Friday, November 23, 2007`.  Source: https://howlongagogo.com/date/2007/november/23 and many other websites.

**Add a Link to the page with the problem:**

https://www.freecodecamp.org/learn/coding-interview-prep/rosetta-code/date-format

**Tell us a

[2020-10-17 14:26] nhcarrigan commented on #39997
[code]

Looks like a fix would entail editing the challenge `description` - the tests themselves appear to be accurate.

I will open this up to first timers. @ylevental thanks for the catch! 😁

[2020-10-17 20:46] #39995 closed

[2020-10-17 21:01] #39997 closed

[2020-10-17 21:14] nhcarrigan commented on #39834
I'm not 100% sure I agree, here.

A queue is still first-in-first-out, even when it's circular. I can see how some of the syntax might be similar, because it's still class-based, but I would argue that the circular queue is more relevant to the other queue lessons than the linked list lessons.

[2020-10-17 21:15] nhcarrigan commented on #39748
![image](https://user-images.githubusercontent.com/63889819/96353667-2ad08180-1083-11eb-8adc-7fc8cd12efab.png)

I click that same link in the lesson and am able to get to the repository with no errors.

[2020-10-17 21:24] SaintPeter commented on #39721
See above for `Issue Tracker` Boilerplate and Demo Project updates.

[2020-10-17 21:28] nhcarrigan commented on #39631
This will be closed when freeCodeCamp/demo-projects#23 lands. 🙂

[2020-10-18 00:00] ylevental opened #40001 "Scalar addition issue on Element-wise operations"
**Describe your problem and how to reproduce it:**
For the challenge "Rosetta Code: Element-wise operations", it says that operation`("s_add",[[1,2],[3,4]],[[1,2],[3,4]])` should return `[[3,4],[5,6]]`.  However, to find this value, you simply add 2 to each element, which is scalar addition.  The second input should just be the number 2.

**Add a Link to the page with the problem:**
https://www.fr

[2020-10-18 00:09] nhcarrigan commented on #40001
A quick peek in to the relevant test shows:
[code]

The test itself calls the function as you've describe, so the `text` should be updated to match. I think this one could be opened to first timers. 🙂

Nice catch!

[2020-10-18 00:11] ylevental commented on #40001
Thank you!  I really like noticing these details

[2020-10-18 01:49] msreekm commented on #40001
I am a first time contributor, Can I take this issue?

[2020-10-18 03:31] nhcarrigan commented on #40001
Heya @msreekm~! Thank you for your interest in contributing!

As a heads up, issues labelled `first timers only` or `help wanted` are open for contribution and do not require permission. We typically accept the first comprehensive PR that fixes the issue.

If you have not done so already, I encourage you to read our [contributing guidelines](https://contribute.freecodecamp.org).

[2020-10-18 05:36] msreekm commented on #40001
ok will create a PR soon, thanks

[2020-10-18 13:40] Sky020 commented on #39991
Thank you, for taking the time to bring this up.

Importantly, the instructions do not mention anything about the generic font. In fact, they are quite clear about what is expected.

In my opinion, there is no issue here. Also, I do not see this confusion popping up on the forum.

Perhaps the point of discussion should be: Is it _best-practice_ to use the generic/fall-back? If so, then we should c

[2020-10-18 13:43] Sky020 commented on #39994
Thank you, for bringing this up. Although, a few examples of where/how you specifically would expect to see improvement would help.

I agree with @nhcarrigan , and worry that creating such an issue could easily delve into _bike-shedding_ with how _best_ to name things.

[2020-10-18 14:33] nhcarrigan commented on #39991
I do agree that I haven't seen much confusion for this lesson popping up on the forum. The lesson does ask the camper to set the font-family of the `h2` element to `Lobster` - but the next lesson covers the "font degradation" fall-back value.

Maybe it would be best to take this note (and the one below it) and move it to the next lesson?
![image](https://user-images.githubusercontent.com/63889819/

[2020-10-18 15:51] anilkhichar opened #40014 "`gatsby: command not found` on MacOs with latest version of master branch"
**Describe your problem and how to reproduce it:**
I have followed the local setup guide step by step. And the error is coming at:

`npm run develop`

I am getting the following error on running the above command:

[code]

**Add a Link to the page with the problem:**
https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-locally?id=step-4-start-the-freecodecamp-client-application-and-api-

[2020-10-18 16:21] Sky020 commented on #39991
@nhcarrigan Yes, I was thinking the same. It is just, this is the type of information I would expect when first encountering a new property.

[2020-10-19 00:11] frankiefab100 commented on #40001
Hi, i would like to work on this too

[2020-10-19 02:57] msreekm commented on #40001
create a PR

[2020-10-19 06:51] Ieahleen commented on #39748
As it seems is resolved, I'm closing this.

[2020-10-19 08:45] ahmadabdolsaheb commented on #39089
Hi @thecodingaviator, could you see if you can still reproduce this? if so, what browser/version. Thanks

[2020-10-19 11:53] JustSomeone1223 opened #40031 "Problem with Applied Visual Design: Set the font-size for Multiple Heading Elements challenge"
So, I tried submitting the following code:
[code]
When I ran it through the tests, all but the last one passed. Then I added in what I was supposed to do without removing the inline styles:
[code]
This one passed all the tests! I know we were supposed to put stuff in the style tag, but I discovered this issue because I didn't want to do so much typing. There doesn't seem to be some check in the la

[2020-10-19 12:43] raisedadead commented on #40014
Can you try a `npm ci` once again? Just in case it did not go thru. Also please share your node and npm versions.

[2020-10-19 12:46] travisboss opened #40032 "Basic JavaScript: Multiple Identical Options in Switch Statements"
**Describe your problem and how to reproduce it:**
The example shows

[code]

Should not have `result` should show `return` with the example this is in basic javascript, this could be confusing for the user new to javascript to think they should use `result` and not `return` for output.

**Add a Link to the page with the problem:**

https://www.freecodecamp.org/learn/javascript-algorithms-and-data

[2020-10-19 13:01] anilkhichar commented on #40014
Interestingly, after reinstalling Xcode, `npm ci` is giving another error:
[code]

[2020-10-19 13:15] Sky020 commented on #40031
Hello there,
Thank you, for taking the time to open this issue.

This is expected behaviour. Recently, the test for the `h6` element was changed, because the usual method of testing did not work on some browsers (Safari, if I recall).

So, unless we find a better method to test all of the elements, I would not advise any of the tests being changed. However, perhaps we could change the instructions

[2020-10-19 13:22] Sky020 commented on #40032
Thank you, for taking the time to open this issue.

I see no issue with the example. However, perhaps some clarification could be beneficial.

The idea behind the code is a fuller example would be:
[code]

Although, I have not seen this section of this lesson cause confusion on the forums.

[2020-10-19 13:57] ArielLeslie opened #40033 "Forum and News links are missing from navigation"
Users are not able to find any way to navigate to /news or /forum from freecodecamp.org

![screenshot](https://user-images.githubusercontent.com/6234475/96460662-ac89f180-11e0-11eb-8297-130cfd37fe02.png)

[2020-10-19 14:03] nhcarrigan commented on #39089
@ahmadabdolsaheb - I am no longer able to reproduce this bug.

[2020-10-19 14:12] Sky020 commented on #40033
For reference, here is the related issue linking to the PR which removed the links: https://github.com/freeCodeCamp/freeCodeCamp/issues/38808

[2020-10-19 14:13] nhcarrigan commented on #40032
[code]
The boilerplate for the challenge includes the `return` statement, and the example effectively demonstrates the code campers should base their work on when they solve the challenge - I am not sure this requires additional clarity.

[2020-10-19 14:15] nhcarrigan commented on #40033
The search bar does crawl the `/news` platform, so there is *some* connection there. But I would be in favour of restoring the two links, myself.

[2020-10-19 14:18] tanmayj2020 commented on #40001
I also would like to work

[2020-10-19 18:01] #39989 closed

[2020-10-19 18:29] #40001 closed

[2020-10-19 18:32] RandellDawson commented on #40032
I do not believe the suggested change is warranted here.  @moT01 Your thoughts?

[2020-10-19 18:46] raisedadead commented on #40014
I tried reproducing this on macOS and was unable to get the same errors.

I am not really sure of the environment differences. There are a few factors that could be affecting the local setup which can include your network / firewall, etc.

As is, these error logs do not make any sense from a repro standpoint.

I would encourage you to try a clean installation from scratch, (or use GitPod if you ar

[2020-10-19 18:46] #40014 closed

[2020-10-19 19:03] ylevental opened #40036 "The term "nVectors" in "Rosetta Code: Vector dot product" is undefined"
**Describe your problem and how to reproduce it:**
One of the test cases on the sidebar says `dotProduct(...nVectors) should return 156000`.  nVectors is undefined

Additionally, I notice that there are some tests where the text value doesn't match the actual test string.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/coding-interview-prep/rosetta-code/vector-dot-

[2020-10-19 19:13] nhcarrigan commented on #40036
The test in question:
[code]

Looking at the file, there are a few tests where the `text` value doesn't match the actual `testString`. These should probably be fixed. At the same time, the function calls in the `text` should be wrapped in `<code>` tags or backticks (<code>`</code>), I think.

[2020-10-19 20:31] parresh77 opened #40041 "[Critical] Scientific Computing with Python Projects - The solution link accepts any valid URL and passes the challenge."
For instance, I am taking the example of Budget App in Scientific Computing with Python Projects series(https://www.freecodecamp.org/learn/scientific-computing-with-python/scientific-computing-with-python-projects/budget-app).

When I type Google's URL as the solution link -
![image](https://user-images.githubusercontent.com/35279064/96508103-b90d5900-1277-11eb-8fb8-56690967a343.png)

and click "I

[2020-10-19 20:50] AliCemilcan opened #40042 "Running fcc locally, gets me 404 page couldnot be found error with a blank page"
**Describe your problem and how to reproduce it:**
I followed the documentation and download all the necessary softwares to run it locally but when "npm run develop"
It shows me a blank page with 404 page couldnot be found with the following errors

- Note that the development build is not optimized.
1. To create a production build, use gatsby build
2. Success Building development bundle - 164.624

[2020-10-19 21:20] Sky020 commented on #40041
Hello there. Thank you, for taking the time to report this.

This is expected behaviour. The tests are supposed to be completed on the app's side. We are looking at ways to test for them on fCC's side, in the future

Duplicate of: https://github.com/freeCodeCamp/freeCodeCamp/issues/37185

[2020-10-19 21:20] #40041 closed

[2020-10-19 21:26] Sky020 commented on #40042
Hello there,

In general, we recommend you join the Gitter or Discord channel mentioned in the [docs](https://contribute.freecodecamp.org/#/FAQ?id=i-am-stuck-on-something-that-is-not-included-in-this-documentation), to ask for help on the respective _Contributors_ channel. If you are likely going to need to paste a wall of text/errors, it might be beneficial to make use of the [forum's](https://fo

[2020-10-19 21:26] #40042 closed

[2020-10-19 22:32] moT01 commented on #40032
My initial thought was that it's fine how it is, but a quick forum search shows some people struggling here....
https://forum.freecodecamp.org/t/multiple-identical-options-in-switch-statements-help/219876
https://forum.freecodecamp.org/t/multiple-identical-options-in-switch-statements-need-help/263907
https://forum.freecodecamp.org/t/multiple-identical-option-in-switch-statements/185017
https://fo

[2020-10-19 22:37] travisboss commented on #40032
What about:

[code]

Since the importance of proper comments is illustrated right in the beginning of the lessons.

[2020-10-19 22:38] nhcarrigan commented on #40032
I took a quick peek at those forum posts - the first one seems to come from trying to condense the case statements (which the tests ask specifically for 9 distinct statements). The rest come from following the example too closely and missing the change in variable names.

I do agree that these suggestions would alleviate that - but at the same time, we have a number of examples that do *not* direc

[2020-10-19 22:57] moT01 commented on #40032
Good point @nhcarrigan - perhaps the instructions aren't clear enough then. Although it does say what to do fairly clearly I think.

What about just putting a declaration of `result` at the top of the example so it's more clear that it's a variable - it does just set the value out of nowhere. I would be fine if someone wants to improve this lesson, but I don't think there's a real problem with it.

[2020-10-20 05:58] ahmadabdolsaheb commented on #39089
Thanks for confirming @nhcarrigan. I will be closing this issue for now. @MrFullStackDev, please let me know if you are still experiencing this issue so we could reopen and resolve this issue accordingly.

[2020-10-20 05:58] #39089 closed

[2020-10-20 06:10] ahmadabdolsaheb commented on #40033
Thanks @ArielLeslie for bringing this to our attention. The navigation was simplified by design to allow some room for the  night/light switch and coderadio play button that are on the road map.

If there is a related forum topic to this issue, I would appreciate it if you could share the link as well.

@QuincyLarson, any preference on how we should proceed?

[2020-10-20 06:30] nhcarrigan commented on #40033
A couple of topics where it was mentioned:
https://forum.freecodecamp.org/t/button-of-the-forum/425558/3
https://forum.freecodecamp.org/t/why-the-forum-option-was-removed-from-the-main-site/425124

[2020-10-20 09:38] raisedadead commented on #40033
And reddit: https://www.reddit.com/r/FreeCodeCamp/comments/jdhwq1/is_the_freecodecamp_forum_shutting_down_soon

[2020-10-20 09:45] raisedadead commented on #40033
My personal opinion and 2 cents:

When I use YouTube (or Twitter), I find myself clicking through the nav to view a trending page or a subscriptions page. I find that intuitive and muscle memory. I do this daily, multiple times a day.

I do flip the dark-mode toggle on most sites, but that probably happens once in a blue moon, let alone daily or multiple times a day.

Good UX is a pretty straight

[2020-10-20 13:51] RandellDawson commented on #40031
I think this is about the only thing we can currently do.

[2020-10-20 16:50] QuincyLarson commented on #40033
@ArielLeslie We are planning on adding a few other options to the /learn navigation bar, such as the ability to switch from light to dark mode with a single click, and to start/stop Code Radio.

We have links to the forum in the footer and in the challenges themselves (the "ask for help" button).

Since about 90% of traffic to the forum comes from Google search (and about 99% of traffic to /news c

[2020-10-20 16:54] nhcarrigan commented on #40033
Heya Quincy~!

I'm not seeing a link to the forum in the footer.

It sounds like the link isn't the primary traffic driver, but I fielded quite a few questions on our discord as well regarding the loss of the link - so there is definitely some use-cases there. I'd fully support keeping the link in the footer though, if I could find it. 😅

[2020-10-20 17:19] nhcarrigan commented on #40043
Heya @OsakaStarbux,

My apologies for the delay in responding to this. We currently have a work-in-progress that will refactor this project a bit.

Invalid complete puzzles fail

These tests still remain, primarily to verify the error handling of the code - even if I provide a complete puzzle string, I should still receive feedback on whether the string is a valid puzzle or not.

This test has bee

[2020-10-20 19:37] nhcarrigan opened #40044 "Formatting error in Spinal Tap Case"
**Describe your problem and how to reproduce it:**

There is a formatting error in one of the test text strings for the Spinal Tap Case challenge. Because the sentence uses underscores, the parser is reading it as _italic_ syntax.

I believe this is a matter of escaping the `_` characters in the string - it might require a double-escape.

**Add a Link to the page with the problem:**

https://www.f

[2020-10-20 20:14] RandellDawson commented on #40044
@ojeytonwilliams Is one of the edge cases you were thinking about in issue https://github.com/freeCodeCamp/freeCodeCamp/issues/39177

[2020-10-21 02:26] jeremylt commented on #40033
My concern with this is twofold.

1) Sure, plenty of users access the forum and news via Google, but where do they learn about the forum and news? Since the forum is the recommended way to receive help, shouldn't we advertise it internally and make it obvious to new users that the forum is our recommended educational support community?

2) This makes freeCodeCamp feel more more like fragmented pie

[2020-10-21 05:24] vikramvi opened #40046 "JavaScript Algorithms and Data Structures Projects: Cash Register super confusing requirement"
**Describe your problem and how to reproduce it:**

[code]

what does this array means ?

1.01 ?   does this mean 1 dollar and 1 penny ?

  ["NICKEL", 2.05],  does this mean 2 dollar and 5 penny ?

  ["TWENTY", 60], what is 60 here ?

**Add a Link to the page with the problem:**

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/javascript-algorithms-and-data-structures-

[2020-10-21 07:41] ieahleen commented on #40046
when I did this challenge, I thought, or it's the number of pennies, or the value. Considering you can't have one hundreth of a coin, I was pretty sure it was the dollar amount.

Can you think of a way to make this clearer?

[2020-10-21 12:27] ahmadabdolsaheb opened #40050 "Broken images should be detected and replaced with proper graphics"
![image](https://user-images.githubusercontent.com/4591597/96719085-9ed79600-13b1-11eb-8f27-cd47bfb84f1b.png)

[2020-10-21 12:27] ahmadabdolsaheb commented on #40050
@ojeytonwilliams, should we show the default avatar or a broken image graphic instead?

[2020-10-21 13:21] ylevental opened #40051 ""Happy numbers" and "Iterated digits squaring" challenges are way too similar to each other"
**Describe your problem and how to reproduce it:**
The only real difference between the two is that for happy numbers, one returns "true" when the sums reach 1 and "false" when the sums reach 89, and for iterated digits, either 1 or 89 is returned.

On the official Rosetta Code website, the challenges require different results: https://rosettacode.org/wiki/Iterated_digits_squaring and https://rose

[2020-10-21 14:52] ArielLeslie commented on #40033
I actively looked for links to the forum and news in the footer and elsewhere and couldn't find any indication that the forum even existed except via "Ask for Help".

I understand that the nav links may not have provided much value in traffic generation, but I'm wondering if this was a deliberate choice in terms of goals for the freeCodeCamp community/experience.

I've always considered freeCodeCa

[2020-10-21 14:56] ylevental opened #40052 "Rosetta Code: Abundant, deficient and perfect number classifications takes far too long"
**Describe your problem and how to reproduce it:**
All values up to 20,000 have to be included, but I cannot find a method that fits time constraints.  I even looked at the official website and none of the solutions ran long enough: https://rosettacode.org/wiki/Abundant,_deficient_and_perfect_number_classifications#JavaScript

Also, it seems nobody managed to solve it yet: https://www.google.com/s

[2020-10-21 15:06] #40052 closed

[2020-10-21 15:06] ylevental commented on #40052
I did find something, I might submit a solution soon

[2020-10-21 15:35] ojeytonwilliams commented on #40044
Yes.  There are a few things like this and I'm the process of dealing with them.

[2020-10-21 15:40] ojeytonwilliams commented on #40050
A broken image graphic looks, to me, like the site is not working correctly.  I'd prefer the default avatar.

Ideally the user should be informed their avatar is broken on the settings page, if we can do that in a sensible way.  Maybe validate the image and warn if it does not return status 200?

[2020-10-21 17:05] RandellDawson commented on #40050
Why don't we just host the image for the avatar, so there would never be a broken image to begin with?

[2020-10-21 18:01] ojeytonwilliams commented on #40050
The avatar's fine.  We just just need to be able to handle the case where someone provides a link that doesn't point to an image.

[2020-10-21 20:14] schinj opened #40053 "Not able to skip Email Sign up."
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
Not able to skip Email Sign up.

**To Reproduce**
Steps to reproduce the behavior:
1. Login
2. Email Sign up page is shown
3. Scroll down to bottom
4. Click on `No thanks`

**Expected behavior**
Should be able

[2020-10-21 21:45] raisedadead commented on #40053
Hi @schinj thanks for reporting.

This looks like an issue with your freeCodeCamp account. Can you please check https://freecodecamp.org/support and follow the directions to resolve this?

Thanks.

[2020-10-21 21:45] #40053 closed

[2020-10-21 22:01] #36157 closed

[2020-10-21 22:03] #36611 closed

[2020-10-21 22:04] #36626 closed

[2020-10-21 22:07] raisedadead commented on #37865
We are recommeding https://contribute.freecodecamp.org/#/how-to-setup-wsl now. I am using this setup as my daily driver.

[2020-10-21 22:07] #37865 closed

[2020-10-21 22:10] raisedadead commented on #37967
Thanks, we have retired the docker setup for the lack of maintenance. We understand the need for isolation by some and recommend using GitPod instead.

[2020-10-21 22:10] #37967 closed

[2020-10-21 22:11] raisedadead commented on #37969
Thanks, we have retired the docker setup for the lack of maintenance. We understand the need for isolation by some and recommend using GitPod instead.

[2020-10-21 22:11] #37969 closed

[2020-10-21 22:11] #38115 closed

[2020-10-21 22:12] raisedadead commented on #38421
Thanks, we have retired the docker setup for the lack of maintenance. We understand the need for isolation by some and recommend using GitPod instead.

[2020-10-21 22:12] #38421 closed

[2020-10-21 22:15] raisedadead commented on #38841
301 are meant for permanent changes. The perfo gain is negligible considering the traffic patterns we get and Cloudflare does do the heavy lifting for caching.

[2020-10-21 22:15] #38841 closed

[2020-10-21 22:20] #39801 closed

[2020-10-21 22:22] raisedadead commented on #40033
Some updates about this: https://forum.freecodecamp.org/t/proposed-improvements-to-the-freecodecamp-forum-localization-approach/426565

We will be adding back the nav items. Thanks for your feedback everyone.

[2020-10-22 00:40] ylevental opened #40055 "Rosetta Code: Knight's tour tests likely don't output correct values"
**Describe your problem and how to reproduce it:**
In my opinion, I would recommend for this problem that only one path for an 8x8 chessboard is found.  See the official challenge: https://rosettacode.org/wiki/Knight's_tour

**The known issue though** is that one line of code says `knightTour(6, 6) should return 35`.  However, a 6x6 chessboard contains a closed tour, so the answer should be 36.  H

[2020-10-22 06:26] miyaliu666 opened #40058 "English forum loading slowly in China"
**Describe the bug**
https://forum.freecodecamp.org/ is loading very slowly (new incognito window, VPN off, failed after 3min today, succeed after 2min yesterday). But once it's open (VPN on, in 3s), I can fast visit the posts (VPN off).

**Expected behavior**
loading faster in China

**Screenshots**
![image](https://user-images.githubusercontent.com/19358186/96832809-ee7d9680-1471-11eb-924c-ac931

[2020-10-22 10:41] ojeytonwilliams commented on #40046
could be

If we want to keep the size of the challenge down, we could replace

and the example array with

[2020-10-22 10:44] ojeytonwilliams commented on #40046
Having said all that, I agree with @ieahleen that it was fairly clear from the context, so I'm not 100% convinced this needs changing.

[2020-10-22 12:55] raisedadead commented on #36829
Dumping some screenshots here for future docs:

**Editor (Set to Comfortable):**

![image](https://user-images.githubusercontent.com/1884376/96873777-fef23900-1492-11eb-93ac-95e138f2f982.png)

**Proofreader (Set to Comfortable):**

![image](https://user-images.githubusercontent.com/1884376/96874190-788a2700-1493-11eb-8315-054107631023.png)

**Proofreader (Set to Side-by-side):**

![image](https://

[2020-10-22 13:01] raisedadead commented on #39785
This should now have been resolved with a simplified navigation.

[2020-10-22 13:01] #39785 closed

[2020-10-22 13:03] raisedadead commented on #39784
Addressed via https://github.com/freeCodeCamp/freeCodeCamp/pull/40059

[2020-10-22 13:03] #39784 closed

[2020-10-22 13:26] raisedadead commented on #36829
Voting:

![image](https://user-images.githubusercontent.com/1884376/96878345-59da5f00-1498-11eb-94f5-e43322b52e0f.png)

[2020-10-22 14:08] Sky020 commented on #39785
@raisedadead This seems to be working well now. Only things I have noticed:
![image](https://user-images.githubusercontent.com/51722130/96883266-212a8d80-1478-11eb-9c17-e00720260236.png)

⬆️ _Moderator Handbook_ children end up as _Reply Template_ children. Not a big deal; nothing breaks.

2) Translations do not have the Introduction page: https://contribute.freecodecamp.org/#/i18n/Chinese/README

[2020-10-22 14:12] Sky020 commented on #39785
Also, if you traverse from a _right-to-left_ language (Arabic, Chinese), then go to English, the text remains _right-to-left:
![image](https://user-images.githubusercontent.com/51722130/96883995-ed039c80-1478-11eb-9dec-51bc486b391a.png)

[2020-10-22 14:16] raisedadead opened #40062 "docs: RTL is broken and does not reset when switching back"
Also, if you traverse from a _right-to-left_ language (Arabic, Chinese), then go to English, the text remains _right-to-left:
![image](https://user-images.githubusercontent.com/51722130/96883995-ed039c80-1478-11eb-9dec-51bc486b391a.png)

_Originally posted by @Sky020 in https://github.com/freeCodeCamp/freeCodeCamp/issues/39785#issuecomment-714522654_

[2020-10-22 14:18] raisedadead opened #40063 "docs: Multiple H1 elements on a page show children from each other"
![image](https://user-images.githubusercontent.com/51722130/96883266-212a8d80-1478-11eb-9c17-e00720260236.png)

⬆️ _Moderator Handbook_ children end up as _Reply Template_ children. Not a big deal; nothing breaks.

_Originally posted by @Sky020 in https://github.com/freeCodeCamp/freeCodeCamp/issues/39785#issuecomment-714520138_

[2020-10-22 14:18] raisedadead opened #40064 "docs: Translations do not have the Introduction page"
Translations do not have the Introduction page: https://contribute.freecodecamp.org/#/i18n/Chinese/README

_Originally posted by @Sky020 in https://github.com/freeCodeCamp/freeCodeCamp/issues/39785#issuecomment-714520138_

[2020-10-22 14:20] raisedadead commented on #39785
Thanks Shaun. Have some fixes on the way, some need to be investigated.

[2020-10-22 14:22] raisedadead commented on #40058
Can we get users from other regions / provinces / cities, etc. to confirm and add their reports as well? I would be able to forward this to discourse team.

[2020-10-22 14:23] ojeytonwilliams opened #40065 "docs: slow loading of assets"
Some of the assets (docsify code on unpkg and google fonts, at least) occasionally load painfully slowly (5 - 10 second waits).  Assuming the problem isn't anything at my end, it could be worth pulling those into our CDN.

[2020-10-22 16:26] #40064 closed

[2020-10-22 16:27] #40033 closed

[2020-10-22 16:39] 5Mountains opened #40067 "Incorrect description of test suites that break the logic of the task"
**Describe your problem and how to reproduce it:**
In order to find a bug, you should open the **[link](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-algorithm-scripting/repeat-a-string-repeat-a-string)** and check the description of the test suites, namely multiplication by 8: `repeatStringNumTimes("*", 8) should return "****".`

The task "Repeat a String Repe

[2020-10-22 16:52] nhcarrigan commented on #40067
Nice catch!

@ojeytonwilliams - is this one also a markdown parsing issue? I see the string in the file contains `********` but renders on the page as `****`.

[2020-10-22 16:59] ojeytonwilliams commented on #40067
Yes, that's right. If you look closely, you can see they're italicized.

This, and a bunch of related issues, will be fixed as part of moving to MDX.

[2020-10-22 17:47] 5Mountains commented on #40067
Great! Many thanks for your enthusiastic work!) 👍

[2020-10-22 18:10] nhcarrigan commented on #40067
I'll go ahead and close this as related to #36879. Thanks again @5Mountains for the catch~!

[2020-10-22 18:10] #40067 closed

[2020-10-22 18:14] nhcarrigan commented on #40044
This one, too, can be closed I believe.

[2020-10-22 18:14] #40044 closed

[2020-10-23 00:58] ealvarez968 commented on #40063
Hello, this looks interesting, can I help?

[2020-10-23 18:15] Sky020 commented on #38917
@QuincyLarson and @ahmadabdolsaheb I would still like clarification about the way the projects/solutions/code will be linked to:
![image](https://user-images.githubusercontent.com/51722130/97038828-4f38cc00-1563-11eb-98d6-41ff0f0f9224.png)

This was the easiest way to test (essentially, copy-pasta of the settings page)

Should the project names, just be links to:
1) Modal of code, if JS Data Struc

[2020-10-23 18:32] Sky020 commented on #38917
Also, how do we want the report to be handled? I have it routing to `/user/username/report-user`

This has the issue of expecting the reporter to be logged-in. Is this ok?

[2020-10-23 18:36] nhcarrigan commented on #38917
I think this is a very good idea, to be honest. Allowing unauthenticated reports inhibits the ability to track spam, and prevents a report from being traced back to a source - while spam/abuse might not be *likely* to happen, I think it's still good to take steps to mitigate it.

[2020-10-23 18:36] RandellDawson commented on #38917
At first this seemed logical to me, to create some accountability to those reporting the issue.  Otherwise, we could have a bunch of random "false alarms" where someone is just spamming someone's account.

However, if someone who has never been a member of freeCodeCamp discovers someone has copied their content (i.e. from their own app or website), they should not have to signup for an account jus

[2020-10-23 18:40] nhcarrigan commented on #38917
I think this is a valid concern - but rather than allowing unauthenticated/anonymous reports, could we add an alternate flow that allows for a direct email? Or something that does not require an fCC account but still provides some form of identification?

[2020-10-23 23:11] MakuraGaeshi opened #40073 "Issue with instructions of challenge: Scientific Computing with Python Projects - Budget App"
**Describe your problem and how to reproduce it:**
In the README, the instructions for the check_funds method ask for a method that returns False when the amount-argument is less than the balance and returns True otherwise.

Meanwhile the test expects the method to work the opposite way round, expecting a return of False when the amount is 20 and the balance is 10

**Add a Link to the page with th

[2020-10-23 23:35] Sky020 commented on #40073
Hello there,

Thank you, for taking the time to report this. We are aware of the issue here:

Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/39351

[2020-10-23 23:35] #40073 closed

[2020-10-23 23:45] Sky020 commented on #39351
Thank you, for opening this.

For anyone reading, before a fix: Change this:
[code]

To this in the `test_module.py` file:
[code]

@scissorsneedfoodtoo Can I get a sanity check here? I am opening this up to first-timers only

Here is the repo: https://github.com/freeCodeCamp/boilerplate-budget-app

The README description makes sense, but the tests do not, in my opinion. So, the README does **not**

[2020-10-24 09:17] robole opened #40074 "Logo link is inconsistent"
**Describe your problem and how to reproduce it:**
1. Go to https://www.freecodecamp.org/
2. Run a search. Type "Java" into the search field in the menu bar and hit enter.
3. On the search result page, click on the website logo. I would expect to brought back to `https://www.freecodecamp.org/`, but instead it brings me to `https://www.freecodecamp.org/news`.

**Recommended fix, suggestions (how wo

[2020-10-24 10:58] Sky020 commented on #40074
Hello there,

Thank you, for taking the time to report this. For as long as I can remember, this has always been the behaviour of the page. I do not expect this to change.

However, there might be discussion about adding `/learn` to the `/news` navbar. I will leave this up for clarification and discussion.

[2020-10-24 11:52] robole commented on #40074
Hi,

It is your call, but it is not intuitive the way is. I would suggest you change it regardless of how long it has been in it's current state.

[2020-10-25 00:32] RecodeExistence commented on #39531
Could anyone please advise how the error handling works in this case for FCC?
I have a solution that is working, but want to be sure I'm passing errors correctly.

[2020-10-25 20:26] IamSurrett opened #40089 "Quote Machine Tweet button doesn't work on CodePen due to Twitter's API"
**Describe your problem and how to reproduce it:**
The Tweet button on the Quote Machine project isn't working due to twitter.com refusing to connect and a ERR_BLOCKED_BY_RESPONSE error.
User story 10 in the instructions for this project states

So I did some digging in Twitter’s web intents documentation and found that **web intents cannot be loaded inside an iframe** (about halfway through Worki

[2020-10-25 20:55] RandellDawson commented on #40089
@IamSurrett Did you open a topic on [our forum](https://forum.freecodecamp.org) concerning this yet?

[2020-10-25 21:07] Sky020 commented on #40089
@RandellDawson Hey Randell, I directed _IamSurrett_ here: https://forum.freecodecamp.org/t/quote-machine-tweet-button-error-on-codepen-due-to-twitter-api/427126

[2020-10-26 07:05] scissorsneedfoodtoo commented on #39351
Thanks for your patience and for catching this @carbasemin. Also, thanks for @ mentioning me, @Sky020. Sorry I didn't see this sooner.

My first thought is that we don't need to change the test, but just the README like @carbasemin suggested. It seems like `check_funds` is supposed to be used by the other methods to make sure that there's a sufficient balance before calling `withdraw` or `transfer

[2020-10-26 09:59] ahmadabdolsaheb commented on #38917
I would prefer the following format for its simplicity:
project name: solution link, source link

[2020-10-26 10:24] ahmadabdolsaheb commented on #40074
I see the pain point. So currently we have three platforms. /learn, /news, /learn, and clicking logo which each of these platforms would take the users to the "home" of that platform.

By inserting 'java' and hitting enter, you are redirected to the news search page. Therefore, clicking on the nav would results in a redirection to that platform's home page( /news).

@ojeytonwilliams, any thoughts

[2020-10-26 10:41] ojeytonwilliams commented on #40074
I'm not sure, but if the logo indicated which platform you were on that might help.  Something as simple as saying "freeCodeCamp curriculum/news/forum" as appropriate, maybe?

[2020-10-26 14:22] raisedadead commented on #40074
Hi @robole thanks for your recommendation. This is a deliberate navigation choice and may change in future, for now we are keeping it as is.

[2020-10-26 14:40] IamSurrett commented on #39351
I'm willing to work on this one if it's agreed that the README needs to be changed instead of the test.

[2020-10-26 14:58] Sky020 commented on #39351
@IamSurrett Thanks, for your eagerness and patience. I was a bit quick with approving the change to be made.

So, right now, I suggest you leave your current PR open as is. Once we come to a consensus here, we will be sure to let you know which changes (if any) to make on your PR.

[2020-10-26 15:00] IamSurrett commented on #39531
Hey @ruhci28, do you need help working on this issue? I'm willing to help you with it or take it over if you aren't interested in working on it anymore

[2020-10-26 15:47] ojeytonwilliams commented on #39531
It's a little complicated, but, basically, errors thrown during a test's evaluation should just be reported as that test failing.

For example, try

[code]

in https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/passing-values-to-functions-with-arguments

In this case, the third test fails, because it passes in 7.

[2020-10-26 17:21] RecodeExistence commented on #39531
Oh no, the code makes perfect sense.
It was the throw Error bit exactly I was looking for, the method to pass my error string into in order to return to the user that the program was wrong :)

I'll try to edit my code to include that.

[2020-10-27 01:38] GarfieldLucy commented on #40058
![image](https://user-images.githubusercontent.com/10388720/97246316-066d6580-1838-11eb-8dac-44a179c30892.png)

![image](https://user-images.githubusercontent.com/10388720/97246318-08cfbf80-1838-11eb-99ec-6ab8668d5469.png)

OS：Mac OS
Browser： Chrome
Browser Version：86.0.4240.80

[2020-10-27 01:46] tEgRaT commented on #40058
3s with vpn on
15s with vpn off
iPhone, 4G, China UniComm, Shandong Prov.

[2020-10-27 01:47] MMMAY521 commented on #40058
10s No VPN
Android 4G

[2020-10-27 04:23] scissorsneedfoodtoo commented on #39351
@Sky020, no problem. I think it could work the other way around, we would just need to change the description a bit more and maybe change the method name to something like `over_budget`.

I heard back from @beaucarnes and he agrees that changing the README makes the most sense. The wording that @carbasemin suggested sounds good to me.

[2020-10-27 10:20] raisedadead commented on #40058
Related topic on Discourse meta: https://meta.discourse.org/t/its-slow-to-visit-hosted-discourse-in-china/109445

[2020-10-27 18:26] ojeytonwilliams opened #40111 "News tag error"
This appears intermittently in the news `ghost log`

[code]

Where `<somehash>` is the id (I assume it's not sensitive, but removed it on the off chance it was)

[2020-10-27 21:56] raisedadead commented on #40065
Can you confirm if these assets are being throttled by anything on your system/network? Testing this with VPN (On/Off) and extensions disabled etc.

[2020-10-28 02:40] aggreyah opened #40112 "arrithmetic_arranger coding challenge test cases. assertEqual parameter list order. the "expected" result should be the first parameter so when a user is comparing their results with the expected results there is no confusion."
**Describe your problem and how to reproduce it:**

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
* Browser Version:
* Operating System:

**If possible, add a screenshot here (you can drag and drop, png, jpg, gif, etc. in this box):**

[2020-10-28 06:25] #39351 closed

[2020-10-28 06:28] scissorsneedfoodtoo commented on #39351
Just mirrored the changes from @IamSurrett's PR in the Repl.it project: https://repl.it/@freeCodeCamp/fcc-budget-app#README.md

Thanks again everyone for your suggestions, reviews, and for this fix.

[2020-10-28 09:35] ojeytonwilliams commented on #40065
It's intermittent.  Right now everything is fine, but I'll test it properly if it's slow in the future.

[2020-10-28 10:54] dipayanDebTheCoder commented on #38918
Does this look good ? @ojeytonwilliams @ahmadabdolsaheb . Also while coding I noticed that completedChallanges has a field called files. Is that somehow related to the solution for the  submitted solutions. At the moment I can only see that the fields solution and githubLink is used.
![Screenshot (55)](https://user-images.githubusercontent.com/72683956/97426139-0a34e100-1939-11eb-848a-ae4b7d9eea0f

[2020-10-28 11:11] rahul1990gupta opened #40113 "Running Python in the browser for python courses @ FreeCodeCamp"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I have enjoyed learning front-end development through freecodecamp and it's smooth experience. Everything was in a single browser window: code, exercise instruction, web page and console.

Wouldn't it be nice, if we could have the same for

[2020-10-28 11:24] Sky020 commented on #38918
@dipayanDebTheCoder The `files` field is used in the _JavaScript and Data Structures_ projects. A modal should pop up showing the JS code.

[2020-10-28 11:26] dipayanDebTheCoder commented on #38918
@Sky020 Thanks. I will take a look at it and then do a PR request

[2020-10-28 11:41] ojeytonwilliams commented on #40113
Hi @rahul1990gupta thanks for taking the time to consider this carefully.  We are definitely interested in running Python in the browser, there's actually an open PR that shows how this could be done https://github.com/freeCodeCamp/freeCodeCamp/pull/39493.

At this stage we need to confirm that these in browser solutions can do everything we want (see https://github.com/freeCodeCamp/freeCodeCamp/p

[2020-10-28 13:48] ojeytonwilliams commented on #40112
Hi @aggreyah, could you add some context to help us understand the problem?  For example, which page has the problem and what should be happening?

[2020-10-28 14:49] rahul1990gupta commented on #40113
@ojeytonwilliams
Glad to hear that community and the dev team has been thinking about supporting python in the browser.

Looking forward to use it in the future.

[2020-10-28 15:32] raisedadead commented on #40065
Thanks closing this for now.

[2020-10-28 15:32] #40065 closed

[2020-10-28 19:49] aggreyah commented on #40112
https://github.com/freeCodeCamp/boilerplate-arithmetic-formatter. The test_module.py file. In the test cases, assertEqual parameters are mixed up. Istead of starting with the expected, it starts with the result.  A consequence is if a user writes a failing test, the left column tagged "Expected" is the actual result from the users implementation.
![arrithmetic_arranger_test_cases](https://user-ima

[2020-10-28 19:56] moT01 commented on #40089
Thanks for digging into this @IamSurrett.

I am not seeing a problem with the example project - I suppose since it's loading in a new tab. Can anyone confirm that? I assume that the test checks the `href` value and not that the twitter page will actually load so I'm not sure how much of a problem this is. We could possibly add a hint to tell users to use `target="_blank"` so that their tweet will

[2020-10-28 20:33] moT01 commented on #40036
Seems like an easy fix. So to be clear, we should do these to the tests:

- Replace the text of the last test with the whole function + argument that is being used in the test
- Align the text and testString so they match for the tests where they don't
- Add backticks around functions/code

[2020-10-28 20:41] moT01 commented on #40031
I am good with adding a note there. Something like this:

[code]

That whole thing could probably be shortened to something like this maybe:

[code]

I'm fine with it either way.

[2020-10-28 20:58] moT01 commented on #39991
I'm not sure I would move it to the next lesson - there's already an example there. I would be in favor of change the last three paragraphs of the instructions from this:
[code]

[2020-10-29 02:24] IamSurrett commented on #40089
Yes, all of the tests pass on my project.

The issue I was trying to raise was not that the tests were broken, but the idea that building something that passes a test but fails to work in a real-world scenario seems counter-productive. If the goal of a project is give users real-world experience, their final products should be something that work the way they are intended to work.

Maybe we could

[2020-10-29 02:37] scissorsneedfoodtoo commented on #40112
Hi @aggreyah, thanks for reporting this.

Just to confirm, are you using PyCharm? If so, this seems to be a longstanding issue:

* https://youtrack.jetbrains.com/issue/PY-27267
* https://youtrack.jetbrains.com/issue/PY-26471

Unfortunately, Pycharm assumes that the first parameter is `expected`, and the second is `actual`, and there doesn't seem to be a way to change this behavior in the settings.

[2020-10-29 12:16] evertonrbraga opened #40115 "Replace <Fragment> tags to <> around the projects"
**Describe the bug**
There are many <Fragment></Fragment> tags around the codebase. Please replace it to <></> in order to get a more concise and clear code.

<img width="516" alt="fragment" src="https://user-images.githubusercontent.com/25904662/97572379-e4561d80-19c6-11eb-82a4-b6510db66c97.png">

[2020-10-29 13:52] moT01 commented on #40089
The problem is, how do you know or test if a button actually opens up twitter with the correct tweet - a person could be looking at a project in an iframe or not. That's why I suggested adding a hint (adding `target="_blank"`) - which looks like it makes the links work. Switching to use tumblr isn't a bad idea - although I'm not sure it's worth the effort. Do they have the same problem? Will they

[2020-10-29 15:01] RandellDawson commented on #40031
I like @moT01's second shortened suggestion.

[2020-10-29 19:19] IamSurrett commented on #40089
That makes sense. I agree that if switching to a Tumblr button would break all the current projects, then it is not a great idea. I hadn't considered that aspect of it.

I tested the example project a few more ways and figured out a few things (both browsers are updated to the latest version and on default settings):

#### What works for me (and passes all the tests):
- Firefox with `target="_blan

[2020-10-29 20:01] nhcarrigan commented on #40089
I think @moT01's suggestion of adding a hint is a good approach here. Something like:

[2020-10-29 22:46] darren-stoll opened #40117 "Issue Tracker - Page stops being served after tests run"
**Describe your problem and how to reproduce it:**
Using repl.it.
In routes/api.js, when I make my express statement `.post((req, res) => {` into `.post(async (req, res) => {` with an await in the function, the following happens:

- Page loads fine initially
- When the tests run in the console, the page appears to refresh again
- I refresh the page manually once more, and it appears that repl.it i

[2020-10-29 23:45] IamSurrett commented on #40089
I just created a preliminary PR for this issue. I changed the hint to the following to try to make it as clear as possible and match the wording of the current instructions:

If there is a better wording or location for the hint, I can change it.

[2020-10-30 04:54] vikramvi opened #40119 "Front End Libraries Projects - Build a Random Quote Machine how to run in codepen is not at all clear"
**Describe your problem and how to reproduce it:**
1.  Challenge says

`You can build your project by forking this CodePen pen. Or you can use this CDN link to run the tests in any environment you like: https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js
`
2.  But it's not clear how to run real world react app which is created with create-react-app inside codepen
3.  Neither tutorial h

[2020-10-30 10:45] Sky020 commented on #40119
Hello there,

Could you provide a bit more information as to what you are struggling with?

CodePen has little to nothing to do with _create-react-app_; I doubt CodePen uses _create-react-app_ at all in the background. CodePen is just another online platform to view/host/edit basic pages.

Campers are encouraged to _Read-Search-Ask_:
1) Read given information and instructions
2) Search for what yo

[2020-10-30 14:39] ieahleen commented on #40089
this doesn't seem to work, I have suggested it someone having the issue, and the issue persist

[2020-10-30 16:17] haplorhine opened #40124 "argument vs parameter unclear usage of words"
**Describe your problem and how to reproduce it:**

The usage of the word "argument" ist unclear to me. The title of this challenge uses the word "parameter".

Then the instructions state:
"If an arrow function has a single argument, the parentheses enclosing the argument may be omitted."

But the following snippet cited from the instructions shows the **parameter** "item" without parentheses:
[co

[2020-10-30 16:25] nhcarrigan commented on #40124
Hello~!

I agree that the verbiage is wrong here. `Argument` should probably be replaced with `parameter` in the examples and text, with the exception of the top line (which, at a quick glance, is the only correct use of `argument`):

[2020-10-30 16:35] ojeytonwilliams commented on #40124
These are the ones that should be changed, I think.  In fact, we could use

instead.

[2020-10-30 16:47] nhcarrigan commented on #40124
I like that approach. Think this could be opened up to first timers?

[2020-10-30 18:11] Sky020 opened #40125 "Local Dev Tool to Change developmentuser's Settings"
Spending too much time working on the client side, it is becoming tedious to test features which require the developmentuser to have certain certificates/settings. The main one being time taken to claim the certs.

Is there scope to include a dev tool to complete certain operations with ease? What would this look like?
- A new npm script to `npm run dev:claim-all-certs`
- A simple interface to all

[2020-10-30 18:50] darren-stoll commented on #40117
I tried to replicate this issue locally, but fortunately I failed at doing so. I fixed the issue back in repl.it by adding `require('dotenv').config()` and installing it. I also reconfigured some things in my .env file by adding a PORT. Either one of those might have been the problem, but the issue is now fixed, so closing.

[2020-10-30 18:50] #40117 closed

[2020-10-30 22:14] ojeytonwilliams commented on #40124
Sure, that works.

[2020-10-31 01:17] DrFungi opened #40128 "Applied Visual Design: Make Motion More Natural Using a Bezier Curve TYPO"
**Describe your problem and how to reproduce it:**
The text reads: "Prior challenges covered the linear and ease-out cubic Bezier curves, however...."
but it should read: Prior challenges covered the linear and ease-out curves, however..."

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/applied-visual-design/make-motion-more-natural-using-a-be

[2020-10-31 01:24] nhcarrigan commented on #40128
It might not seem apparent, but `animation-timing-function` uses a cubic Bezier calculation even for pre-defined values such as `linear` and `ease-out`, according to [MDN]

[2020-10-31 09:42] ieahleen commented on #39608
is this about changing the flex challenge to avoid having the button blocked, or about adding the warning, or both?

[2020-10-31 11:09] ieahleen commented on #40032
this seems a good thing to do, and with that we could probably open this to first timers

[2020-10-31 16:21] nhcarrigan commented on #39608
I believe the conclusion reached was to change the name of the button to avoid ad-blockers from blocking it.

[2020-10-31 17:15] woftis commented on #40031
Any idea why it’s only the h6 that doesn’t work? I’ve made a PR with the above but wonder if removing the h6 altogether from this challenge might be slightly more elegant in lieu of not having a different way to test?

[2020-10-31 18:09] afilipa commented on #40051
Hey!

I was looking at this question and in fact your point @ylevental seems to be valid. The only difference I can see is that in **Rosetta Code: Happy numbers** there is nothing mentioning that the way to know that the number is not a happy number is to have a sum of 89.. If we use the link at the exercise, the info is:

So following this information the way we have to return false in the exerci

[2020-10-31 18:53] #40031 closed

[2020-10-31 18:59] #40124 closed

[2020-11-01 00:49] DrFungi commented on #40128
So it means that the text is indeed correct and it should not be changed. Thanks very much for your answer :+1:

[2020-11-01 00:49] #40128 closed

[2020-11-01 15:37] jeremyagray commented on #40036
I have a [branch](https://github.com/jeremyagray/freeCodeCamp/tree/fix/rosetta-vector-dot-product) that addresses these issues, but there is a further issue with the solution as the dot product is only defined for pairs of vectors, and any test with an odd number of vectors should either fail (since dot products should return scalars) or return a vector (the scalar product of the first vectors tim

[2020-11-01 15:56] Sky020 commented on #40036
@jeremyagray Just to point out, this issue is labelled _first timers only_. So, unless someone else is fine with removing that, I would not say 4 days is unreasonably long to expect an issue labelled _first timers only_ to be resolved, before opening it up.

[2020-11-01 16:25] DannyBoris commented on #40115
Is this already complete or i can have a go here?

[2020-11-01 16:56] evertonrbraga commented on #40115
Hey Danny, what's up? It was completed in parts, there are some bugs to solve yet. I'm gonna create another issue explaining better what happens and let you know, okay?

[2020-11-01 17:00] DannyBoris commented on #40115
sure

[2020-11-01 17:11] evertonrbraga opened #40143 "Eslint breaks path modules when I try to refactor <Fragment> tags"
I've refactored many Fragment tags to the new pattern <>. But when I tried to refactor Fragment tags of specific files, the pre-commit structure has been blocked it, displaying errors about paths. The picture below illustrates the situation: The same path works in one place (Login.js) and doesn't work in another one (MobileLayout.js).

* Browser Name: Google Chrome
* Browser Version: 86.0.4240.111

[2020-11-01 17:13] evertonrbraga commented on #40115
Hey Danny, the new issue is here: https://github.com/freeCodeCamp/freeCodeCamp/issues/40143

[2020-11-01 20:52] ojeytonwilliams commented on #40143
Hi @evertonrbraga this should be resolved if you run `npm run develop`. That file gets generated as part of that.

[2020-11-02 04:00] scissorsneedfoodtoo commented on #40112
Awesome, thanks for confirming that @aggreyah.

No need to close this now. Let's leave it open for now to get some feedback from others in the community. It seems like there are different preferences for the order of the parameters, and some testing libraries even enforce `assertEqual(expected, actual)`.

[2020-11-02 04:31] aggreyah commented on #40112
Okay cool.

[2020-11-02 07:42] ahmadabdolsaheb commented on #40125
Seeding different users for cypress tests could work. see here:

https://github.com/freeCodeCamp/freeCodeCamp/pull/38348#discussion_r501767557

[2020-11-02 09:33] ojeytonwilliams commented on #40125
We'd need to add the ability to switch between the different dev users, but that sounds good.

[2020-11-02 11:30] ojeytonwilliams opened #40158 "PostCSS"
We use `gatsby-plugin-postcss`, but I think we could do more with it.

For example, we already use `import 'style.css';` syntax, but we don't (as far as I can see) use CSS Modules to scope those files.  If we do start using this we will have to validate the style changes, but I think the increased modularity should make it easier to maintain.

cc: @ahmadabdolsaheb

[2020-11-02 12:04] ojeytonwilliams opened #40159 "Bring @freecodecamp/eslint-config inside the monorepo"
We currently have some eslint configuration in the published package and some inside freeCodeCamp/freeCodeCamp - this is a bit confusing.  Is there a good reason to maintain the eslint-config repo separately?

If not, I think we should manage it with Lerna instead.

[2020-11-02 13:22] raisedadead commented on #40143
Hi @evertonrbraga. I would recommend following our [contributing guide](https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-locally?id=set-up-freecodecamp-locally) closely. Closing but feel free to reach us in the help channels mentioned in the guide.

[2020-11-02 13:22] #40143 closed

[2020-11-02 14:45] raisedadead commented on #40111
We removed this error with this patch: https://github.com/freeCodeCamp/news-theme/pull/18. Not sure what the path forward is with the theme but closing, as this error is no longer in play.

[2020-11-02 14:45] #40111 closed

[2020-11-02 18:13] raisedadead commented on #40159
There is not, previously we had this because we were operating multiple repos. Please feel free to bring it in.

[2020-11-02 18:26] ojeytonwilliams commented on #40159
Okay, cool, thanks for confirming.  I think this would be a good issue for contributors, if anyone is interested.

[2020-11-02 18:33] raisedadead commented on #40058
Hi everyone,

Thanks a lot for taking the time to share your reports here. Discourse has confirmed that they do not have a solution for avoiding the GFW issues.

We will continue to host the Chinese forum ourselves to provide a better experience.

[2020-11-02 18:33] #40058 closed

[2020-11-02 18:34] VampSinatra commented on #34532
let haStr = "Hazzzzah";
let haRegex = /Haz{4,}ah/gi; // Change this line
let result = haRegex.test(haStr);
console.log(result);

[2020-11-02 20:51] farhankk360 opened #40163 "Data Structures: Implement Heap Sort with a Min Heap (Passing)"
Hey there,

Here is what the challenge description says regarding the sort method.
"The sort method should return an array of all the elements in the min heap sorted from smallest to largest."

I am literally returning an empty array and the challenge keeps on passing.

[Data Structures: Implement Heap Sort with a Min Heap](https://www.freecodecamp.org/learn/coding-interview-prep/data-structures/i

[2020-11-03 04:48] SaptarshiChakraborty commented on #35700
let sampleWord = "astronaut";
let pwRegex =   /^[a-z](?=\w{5})(?=\w*\d{2})/i;
let result = pwRegex.test(sampleWord);

[2020-11-03 05:35] dipayanDebTheCoder commented on #40062
Are translations available ?. Because If I go to the page click on translation and select a language , then the language remains as english , just the LTR or RTL thing changes.
<img width="960" alt="issue" src="https://user-images.githubusercontent.com/72683956/97952697-57df9c80-1dc4-11eb-8736-fdd5079cc177.PNG">

[2020-11-03 09:43] VadimEv opened #40164 "Incorrect result processing Euler-81"
During Euler 81st challange I found that exactly the needed result in testMatrix is checked as wrong:
![Euler-81-error](https://user-images.githubusercontent.com/10043733/97969270-de01e000-1dd0-11eb-8031-bf0c06571b77.png)
reference code for challane is here: https://github.com/VadimEv/ProjectEuler100/blob/master/Euler-81.js
In console I added explicit output to highlight the value given in test ru

[2020-11-03 11:05] Sky020 commented on #40062
@dipayanDebTheCoder Not for many of the languages yet. They still need to be translated by contributors.

[2020-11-03 12:35] Sky020 commented on #40164
Thank you, for taking the time to report this.

The issue is the final line of the code: `pathSumTwoWays(testMatrix)` because your code alters the array (matrix).
1) This means `testMatrix` is changed, before the tests run
2) This is bad-practice, and suggest you change your code to copy the `arr`, and not change the argument passed in.

Moving forward with this, we have two options:
1) Leave the

[2020-11-03 12:37] ojeytonwilliams opened #40165 "Cypress test development mode"
By only testing the built site https://github.com/freeCodeCamp/freeCodeCamp/blob/b0e3d7369b669b7c91caf3dfc644fb2da5df0cbe/.github/workflows/cypress.yml#L58-L65

we miss errors, because Gatsby suppresses them in production.  For example bumping react-redux, https://github.com/freeCodeCamp/freeCodeCamp/pull/39941, passed all our tests, but introduced a bug with the hotkeys.

I think we should do at

[2020-11-03 14:53] Karthik-Kashyap opened #40166 "modify test parameters into an array"
Under the coding-interview-prep -> algorithms -> find-the-symmetric-difference.
The test cases should have the parameters in an array when the call is made. Instead it is sent as different objects.For example:
[code]
should be replaced with
[code]

https://www.freecodecamp.org/learn/coding-interview-prep/algorithms/find-the-symmetric-difference

* Browser Name: Chrome
* Browser Version: 85
* Opera

[2020-11-03 14:53] anderledani opened #40167 "Source code is not visible in tutorial"
in this tutorial: https://www.freecodecamp.org/news/ios-coreml-vision-image-recognition-3619cf319d0b/
source code is not visible, where it should be.[screenshot](https://i.gyazo.com/6d5fbd78d4ec60d45b948f1fae62d655.png)

[2020-11-03 15:04] ieahleen commented on #40166
why do you think this is needed?

[2020-11-03 15:08] Sky020 commented on #40166
Hello there,

The instructions say:

This: `sym([[1, 2, 3], [5, 2, 1, 4]]);` is a function taking only **1** array.

[2020-11-03 15:10] Karthik-Kashyap commented on #40166
@ieahleen okay so when I opened that page it only showed me:

[code]
So either all the test calls should be made into an array or the first line should have sym(...args) instead of sym(args).

[2020-11-03 15:12] ieahleen commented on #40166
@Karthik-Kashyap there are multiple ways to get a variable number of arguments, and in the Interview Prep section, you should know at least one without needing a prompt.

I don't think this change is needed.

[2020-11-03 15:15] Karthik-Kashyap commented on #40166
@ieahleen Oh okay, if it was delibarate decision to make the user choose the way to get variable number of args, then I have no issues with it being an issue.

Thank you.

[2020-11-03 15:28] #37942 closed

[2020-11-03 15:34] RandellDawson commented on #40166
@Karthik-Kashyap We can close it for you.

[2020-11-03 15:34] #40166 closed

[2020-11-03 15:46] ojeytonwilliams commented on #40167
Thanks for the report @anderledani, this definitely needs looking into.

@scissorsneedfoodtoo the gists are not showing up correctly.  Do you remember if there was a special trick to getting them working on Ghost?  They're visible in the Medium version, but not in the /news one.

[2020-11-03 16:03] bgbraithwaite commented on #39639
**Describe your problem and how to reproduce it:**
Add Flex Superpowers to the Tweet Embed
Your .follow-btn should have a display property set to flex.

Same as above, "write source code but not accepted by test"

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/css-flexbox/add-flex-superpowers-to-the-tweet-embed

**Tell us about your browser an

[2020-11-03 16:11] nhcarrigan commented on #39639
Heya folks~!

Please be sure that you've disabled any extensions, such as ad blockers, as these interfere with the tests. Ad blockers especially, which commonly block a twitter follow button from rendering.

Additionally, for help with code you have written it is best to use the [forum](https://forum.freecodecamp.org). Feel free to make a post there - if the community determines that there is a bu

[2020-11-03 16:21] bgbraithwaite commented on #39639
I didn't even think of that! Disabling uBlock Origin on freecodecamp.org fixed the issue, as did only disabling cosmetic filtering.

Thank you for a quick response!

[2020-11-03 19:46] raisedadead commented on #40165
Why not improve the unit test coverage?

Clearly there was no logic change in the dep bump, we should scope e2e to functional scope of the app and unit tests to the component scope. That should definitively determine broken features.

Now, as for:

If the e2e tests should have failed in the production mode, this clearly indicates the setup is not close to production. We should revisit that instead

[2020-11-03 20:00] ojeytonwilliams commented on #40165
If you mean behaviour of the app, then they definitely missed a behavioural change.  This broke how the hotkeys behave.  But, yes, we definitely want more of both types of tests.

The e2e tests are pretty close to production - they just don't cover this particular behaviour.  If the current set of e2e tests were running against the live site this bug would still have been missed.

I just think it'

[2020-11-03 20:51] IamSurrett commented on #40089
I think we should create a hint that solves the problem for all users, instead of just certain users like the `target="_blank"` workaround is currently doing. I know `target="_top"` works for both Firefox and Chrome (and passes all the tests), but because it replaces the current tab, there is a risk of users losing their work if they do not get a "save changes before leaving page?" notification. A

[2020-11-04 02:49] scissorsneedfoodtoo commented on #40167
Thanks for reporting this @anderledani. I went in and fixed the article. All the code sections should be there now: https://www.freecodecamp.org/news/ios-coreml-vision-image-recognition-3619cf319d0b/

@ojeytonwilliams, unfortunately there's no easy way to move them over. I've just been fixing articles as they get reported.

[2020-11-04 02:57] #40167 closed

[2020-11-04 12:48] shahidnsu opened #40170 "broken test"
**Iterate Odd Numbers With a For Loop
   This challenge test is broken. After writing the right code it doesn't pass the challenges.**

**https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/iterate-odd-numbers-with-a-for-loop**

**Tell us about your browser and operating system:**
* Browser Name: Chrome
* Browser Version: 86.0.4240.183
* Operating System:

[2020-11-04 12:53] ieahleen commented on #40170
your code doesn't satisfy the tests. Please open a topic on the forum for others to check your code before opening a bug report.

[2020-11-04 12:53] #40170 closed

[2020-11-04 14:40] #38918 closed

[2020-11-05 15:31] CipherGirl commented on #40159
Hi, I'm new to this repo. I'd like to work on this. What exactly I need to do here?

[2020-11-05 19:20] ojeytonwilliams commented on #40159
Hey @CipherGirl.  Thanks for the offer of help.

Basically, that eslint config should be brought inside the main freeCodeCamp/freeCodeCamp repository.  We don't need to import that package any more, it should be fine to have a single `eslintrc.json` file in the root of this repository.

[2020-11-06 12:13] raisedadead commented on #40176
Closing after moving outstanding issues from boilerplate repos, please reopen if this persists.

/cc @moT01

[2020-11-06 12:13] #40176 closed

[2020-11-06 12:14] raisedadead commented on #40175
Closing after moving outstanding issues from boilerplate repos, please reopen if this persists.

/cc @moT01

[2020-11-06 12:14] #40175 closed

[2020-11-06 14:41] ieahleen opened #40177 "The challenge "Testing Object for Properties" passes with wrong code"
**Describe your problem and how to reproduce it:**
The challenge "Testing Object for Properties" passes with wrong code:
https://forum.freecodecamp.org/t/testing-objects-for-properties-test/427200

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/testing-objects-for-properties

users find the old solutions, p

[2020-11-06 15:18] pjfoley23 opened #40178 "3 Questions To Watch Out For... article is missing embedded code examples"
**Describe your problem and how to reproduce it:**
Code examples referenced in article do not appear. Tried three different browsers to verify.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/news/3-questions-to-watch-out-for-in-a-javascript-interview-725012834ccb/

**Recommended fix, suggestions (how would you update it?):**
Contact author and restore content.

**If pos

[2020-11-06 16:31] RandellDawson commented on #40177
I created a PR to deal with this issue.

[2020-11-06 18:05] moT01 commented on #40119
You can use react on codepen by adding it in the pen settings @vikramvi...
![Screen Shot 2020-11-06 at 11 54 09 AM 1](https://user-images.githubusercontent.com/20648924/98398631-e5bac200-2026-11eb-816f-549aa78057c3.png)

There's also a "projects" area of codepen that I haven't used much, but they have a react template there I believe.

Like @Sky020 mentioned, create-react-app specifically doesn't

[2020-11-06 18:37] RandellDawson commented on #40119
I do not think we need to start teaching how to set up projects on Codepen for React or jQuery.  Codepen can change things in their UI and/or what libraries they support.  These kinds of discussions are what Read, Search, and Ask is all about.  A user can easily go to the forum and discover many different topics that have already covered how to do this.

[2020-11-06 19:16] #40063 closed

[2020-11-06 19:26] moT01 commented on #40119
Sounds good to me @RandellDawson - I think we are probably safe to close this then.

Thank you for reporting the issue @vikramvi. We don't think we will be making any changes around this for now, so we are going to close it.

If you think we're wrong in closing this issue, please request for it to be reopened and add further clarification. Thank you and happy coding.

[2020-11-06 19:26] #40119 closed

[2020-11-06 19:33] raisedadead commented on #40178
Hi @scissorsneedfoodtoo can you please take a look?

[2020-11-06 19:58] nhcarrigan opened #40180 "Update Boilerplate Code"
Refer to: https://github.com/freeCodeCamp/boilerplate-project-issuetracker/pull/15#discussion_r518700511

The following boilerplates use the `assertion-analyser.js` which needs to be updated per the above comment. The code in question should be on lines 66-69:
[code]

And should be replaced with @ojeytonwilliams' suggestion:
[code]

The following boilerplates use this code:
- [ ] [Mocha - Chai](ht

[2020-11-06 20:02] RandellDawson commented on #40180
Before anyone creates a PR, we should discuss if a package would be better that could be imported to each of the boilerplates instead.

[2020-11-06 20:10] nhcarrigan commented on #40180
A package would be more maintainable, I think - serving as a single source of truth, and eliminating the need to keep all of the boilerplates in sync.

That being said, we would then need to ensure the boilerplate `package.json` and `package-lock.json` include that package, and update the `test-runner.js` files to use it. 🙂

[2020-11-06 20:40] raisedadead commented on #40180
To be clear (excuse my lack of context on this), all of this only applies to all boilerplates in JS - Python ones are handled differently?

[2020-11-06 20:41] nhcarrigan commented on #40180
Correct - the python boilerplates do not seem to have a comparable file, either.

[2020-11-07 04:53] CipherGirl commented on #40159
Seems like @patlehmann1 resolved it.

[2020-11-07 06:08] scissorsneedfoodtoo commented on #40178
Thanks for reporting this @pjfoley23. Just went in and added the missing code sections: https://www.freecodecamp.org/news/3-questions-to-watch-out-for-in-a-javascript-interview-725012834ccb/

Please let us know if you find issues in any other articles.

[2020-11-07 06:08] #40178 closed

[2020-11-07 14:36] SaintPeter opened #40183 "Create package for server-side project courseware"
As per the discussion in #40180, and elsewhere, there are some ongoing issues with the server-side course wear used in the QA and some of the InfoSoc projects.

The proposal is to move this common course wear into a single package to reduce the overhead of maintaining it.

Here is a first pass analysis of what needs to be done:
  *  `assertion-analyser.js`
This code needs a bit of a cleanup to ens

[2020-11-07 14:47] SaintPeter opened #40184 "Create a package for server-side course-wear"
As per the discussion in #40180 and elsewhere, it makes sense to bundle up the course-wear for the QA projects and some of the InfoSoc projects into a package to simplify management of that code.

Here is an analysis of what needs to be done:
 * `assertion-analyser.js`
Needs some code cleanup and commenting.
  * `test-runner.js`
Can likely be used as is.
 *  `fcctesting.js`
This file has project s

[2020-11-07 14:50] #40184 closed

[2020-11-08 02:46] JoshuaPelealu commented on #40163
Has this worked everytime, even after you cleared your browser cache?

[2020-11-08 03:27] pqpq699 opened #40185 "Hey @CipherGirl. Thanks for the offer of help."
Hey @CipherGirl.  Thanks for the offer of help.

Basically, that eslint config should be brought inside the main freeCodeCamp/freeCodeCamp repository.  We don't need to import that package any more, it should be fine to have a single `eslintrc.json` file in the root of this repository.

_Originally posted by @ojeytonwilliams in https://github.com/freeCodeCamp/freeCodeCamp/issues/40159#issuecomment

[2020-11-08 03:40] #40185 closed

[2020-11-08 05:35] RandellDawson commented on #40163
@farhankk360 Can you please post your full code instead of a screen shot?

Thank you.

[2020-11-08 06:46] farhankk360 commented on #40163
@RandellDawson Sure,
[code]

[2020-11-08 06:48] farhankk360 commented on #40163
@JoshuaPelealu Yes couple of time but still the issues is there. I believe it's the `isSorted` method if you give it an empty array it returns true.

[2020-11-08 10:50] murtaza63 commented on #40180
I think boilerplate should be update according to package.json if test-runner.js is also  updated with package.json.

[2020-11-08 10:57] murtaza63 commented on #40036
nVectors product has no sense It should be two or triple vectors product. as   original vector product challenge at Rosetta Code.

[2020-11-08 11:26] VadimEv commented on #40164
Can confirm, made a deep copy with help of JSON.parse and JSON.stringify
IMHO it is worth mentioning in relevant challanges difference between shallow and deep copy in case of nested arrays/object with reference to existing [FCC article ](https://www.freecodecamp.org/news/how-to-clone-an-array-in-javascript-1d3183468f6a/)

[2020-11-08 11:30] murtaza63 commented on #39994
I 100% agreed with   geeknabil .

[2020-11-08 11:31] murtaza63 commented on #39994
I  agree with geeknabil .

[2020-11-08 17:31] huyenltnguyen opened #40193 "Offline warning message is hard to read in dark mode"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to /learn or /settings with the theme set to dark
2. Turn off internet connection and wait

**Actual behavior**
The offline warning message shows up, but the text is quite hard to read.

**Screenshots**

<img width="1680" alt="Screen Shot 2020-11-09 at 12 22 16 AM" src="https://user-images.githubusercontent.com/25715018/98472033-c7211a80-2222

[2020-11-08 18:36] Sky020 commented on #40193
WCAG does say the contrast is only 1.41: https://contrastchecker.com/?c=f5f6f7&b=add8e6

[2020-11-08 20:55] moT01 commented on #39571
Thanks for all on the input on this everyone - I think we're safe to close this for now. I wouldn't mind adding a chat app project to the take home projects. If anyone thinks that would be a good idea, feel free to create an issue around that for further discussion. Thanks and happy coding 🎉

[2020-11-08 20:55] #39571 closed

[2020-11-08 21:07] moT01 commented on #39692
Nice job again @SaintPeter and @nhcarrigan 🎉 I think we have this stuff rolled out, so we should be good to close this 😄 Let me know if I am mistaken.

[2020-11-08 21:07] #39692 closed

[2020-11-08 22:54] RandellDawson commented on #39994
@geeknabil @murtaza63 I you could make some specific suggestions for specific challenges, we could have something more concrete to discuss.  Otherwise, I agree with @Sky020 and @nhcarrigan here.

[2020-11-09 08:50] vrpcse commented on #40032
I would like to take up this issue fix.

[2020-11-09 09:00] Tracy-em commented on #40032
Hiền SôKiu

Vào 15:55, Th 2, ngày 09 tháng 11 năm 2020 rajapandi_vijayakumar <
notifications@github.com> đã viết:

[2020-11-09 11:27] alexhenrique commented on #9748
<h2>CatPhotoApp</h2>
<main>
  <p>Click here to view more <a href="#">cat photos</a>.</p>

  <a href="#"><img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back."></a>

  <p>Things cats love:</p>
  <ul>
    <li>cat nip</li>
    <li>laser pointers</li>
    <li>lasagna</li>
  </ul>
  <p>Top 3 things cats hate:</p>
  <ol>
    <li>flea treatment</li>
    <li>thunder</li>

[2020-11-09 11:30] alexhenrique commented on #9748
|*h2*|CatPhotoApp|*/h2*|
|*main*|
  |*p*|Click here to view more |*a href="#"*|cat photos|*/a*|.|*/p*|

  |*a href="#"*||*img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back."*||*/a*|

  |*p*|Things cats love:|*/p*|
  |*ul*|
    |*li*|cat nip|*/li*|
    |*li*|laser pointers|*/li*|
    |*li*|lasagna|*/li*|
  |*/ul*|
  |*p*|Top 3 things cats hate:|*/p*|
  |*ol*|
    |*

[2020-11-09 17:14] #40032 closed

[2020-11-09 17:15] nhcarrigan opened #40210 "Renaming Primary Branch"
I've created this issue in relation to the discussion in: https://github.com/freeCodeCamp/chapter/issues/434

GitHub made the decision (which many other tech companies have made) to identify language and terms that is not inclusive and replace those terminologies. As part of this, GitHub changed the default branch for *new* repositories from `master` to `main`.

For existing repositories, GitHub i

[2020-11-09 17:30] Sky020 commented on #40210
If this goes ahead:
1) Let us remember to update the DOCS!
2) Related: https://github.com/freeCodeCamp/freeCodeCamp/issues/38987

[2020-11-09 17:33] Sky020 commented on #40210
Also, this is likely a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/39098

[2020-11-09 17:35] nhcarrigan commented on #40210
Oops - I even commented on that issue, and here I completely forgot about it 😅

I'll go ahead and close this one.

[2020-11-09 17:35] #40210 closed

[2020-11-09 18:12] #39554 closed

[2020-11-10 03:38] lasjorg opened #40211 "Regular Expressions: Restrict Possible Usernames - Should lastIndex be reset?"
Challenge: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/regular-expressions/restrict-possible-usernames

forum post
https://forum.freecodecamp.org/t/bug-in-regular-expressions-restrict-possible-usernames/429606

I know we did this with other regex challenges
https://github.com/freeCodeCamp/freeCodeCamp/pull/39457
https://github.com/freeCodeCamp/freeCodeCamp/pull/379

[2020-11-10 07:01] ahmadabdolsaheb commented on #40193
The notification background is hardcoded and the font color is being handled based on theme.

We have let bootstrap handle the styling for the notifications since they handle the font color and the background and look well on both themes.

So doing the followings should do the trick.

Add `alert-info` as a class here:
https://github.com/freeCodeCamp/freeCodeCamp/blob/0c0611229e23e20000bd287736fa9d

[2020-11-10 08:17] ieahleen commented on #40211
I think it's a thing that should learned eventually, or instead of during the curriculum, it will happen in some  other future instance.
But if we want to make it more smooth experience, and leave the tidbit to be learned in other situations, it's also a valid thing, as the curriculum never touches on the g flag with the test method

[2020-11-10 08:35] litoopcmbjp340 commented on #40211
🖕

DUSTTOODIAMONDS ™®

On Tue, Nov 10, 2020, 03:22 Ilenia <notifications@github.com> wrote:

[2020-11-10 10:53] Nicolascrd opened #40212 "In challenge : "Sass: Create Reusable CSS with Mixins" doesn't validate with space around ":" character"
**Describe your problem and how to reproduce it:**

If you write the mixin properly but you include space in your declarations. For example :
-moz-border-radius : $radius

The validation system doesn't take it into account. Despite the fact that it works on the side where you can see the result.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/front-end-libraries/sa

[2020-11-10 11:39] ieahleen commented on #40212
This is a thing you will notice in most css challenges, it is not an isolated thing.

When the code is validated with regex, it is required you write `rule: value`

[2020-11-10 12:30] rammazzoti2000 commented on #40193
I think the best way is to implement luma-corrected calculations.
The first obvious implication of going with a luma-corrected approach is that, so the notification background color needs to switch to an RBG declaration for the backgrounds, calculate the luma from whatever method we choose, and use it on our foreground color declaration, which can (and will) still be HSL color.

I am saying this b

[2020-11-10 15:23] redshark25 commented on #40193
@ahmadabdolsaheb can work on this? I might need help. please guide me.

[2020-11-11 02:46] rustyyyyy commented on #39313
i have fixed issues you are having here is screenshot of code
![Screenshot (41)](https://user-images.githubusercontent.com/42319153/98759035-47e53f80-23f8-11eb-85ed-c8c9b7e73d8c.png)

[2020-11-11 02:47] rustyyyyy commented on #39313
https://colab.research.google.com/drive/1JExptqHMk2x3jqsa_e7tdvGW04V48e-t?usp=sharing

[2020-11-11 02:49] rustyyyyy commented on #39313
link of code fixes

https://colab.research.google.com/drive/1Ifu_qLobX6ohutmac-M3GIdgB8eBPTqh?usp=sharing

[2020-11-11 04:02] scissorsneedfoodtoo commented on #39099
Thanks for that workaround @pasDamola. It seems like the Book Recommendation [project boilerplate](https://github.com/freeCodeCamp/boilerplate-cat-and-dog-image-classifier) was already updated to use `!wget` and `!unzip` like you suggested. Now it's just the Cat and Dog Image Classifier boilerplate repo that needs to be updated.

Rather than maintain separate GitHub boilerplate repos and a Jupyter

[2020-11-11 08:29] prolland006 commented on #39697
Personnality I think this is nice like that. Nothing to do!

[2020-11-11 09:19] Nicolascrd commented on #40212
@ieahleen Should I close the issue then ? I'm a beginner at contributing

[2020-11-11 09:20] ieahleen commented on #40212
It was to put context to the report, I don't know if it's a thing to change or not

[2020-11-11 12:15] DhairyaBahl opened #40214 "Hint 1 is incomplete"
**Describe your problem and how to reproduce it:**

Hint 1 of the formula here is incomplete. Maybe I am wrong and it is done desperately. Or maybe it is not being rendered in my browser . Kindly check it.

**Add a Link to the page with the problem:**
https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-map-the-debris/16021

**Recommended fix, suggestions (how would you update it?):**

**

[2020-11-11 13:04] syauqy opened #40215 "Form element instruction typo on Applied Accesibility courses"
**Describe your problem and how to reproduce it:**
There is a typo on several pages of applied accessibility courses about adding **form** attribute.
Just go to the link that I provide below. I also share the screenshots of the issue.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/applied-accessibility/improve-form-field-accessibility-with-th

[2020-11-11 13:28] Sky020 commented on #40214
Hello there,

Thank you for opening this. I have fixed the issue, and it should be visible now.

I am closing this, but feel free to reopen if the issue perists.