[2016-09-21 01:48] dhcodes commented on #10826
@CostasDev I'm not sure this is a bug. I'd consider it more of a feature of the code editor. It does its best to prevent infinite loops by preventing the callstack from being overloaded. I think since it notifies you of how to override it, it's fine as-is.

[2016-09-21 02:07] dramirez757 commented on #7803
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    wid

[2016-09-21 02:13] dramirez757 commented on #7803
![line33](https://cloud.githubusercontent.com/assets/22228697/18695398/7ecfbc54-7f7f-11e6-8b30-0f5ae53d064d.png)

[2016-09-21 02:27] texas2010 commented on #7803
@dramirez757
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-09-21 03:42] QuincyLarson commented on #10803
@BerkeleyTrue I grouped it with these others because it was part of the same milestone. As far as I know, you can't have milestones that span across repos.

[2016-09-21 03:44] QuincyLarson commented on #10807
@BerkeleyTrue  this is just for Twitter and LinkedIn - not for GitHub.

We will handle GitHub collisions differently (https://github.com/FreeCodeCamp/FreeCodeCamp/issues/10802)

It's possible that this could orphan some accounts. Signing people out isn't an elegant solution, though. What other ideas do you have?

[2016-09-21 04:09] JHernandez1 commented on #9190
I am having the same issue with this one, the red and the blue wont process.

[2016-09-21 05:17] zagu commented on #8826
That's just sad @texas2010, the fact that you actually had to remove his code, he was only trying to help in an old thread.

[2016-09-21 05:19] texas2010 commented on #8826
@zagu, this thread is only issue tracker.  this place is not for help people in here.  they have to use chat room or forum.  sorry

[2016-09-21 05:27] EximiusPrime commented on #8826
My bad @texas2010 didn't mean to break the rules. :/ Now I know for next time.

[2016-09-21 05:30] texas2010 commented on #8826
@EximiusPrime, nah you didnt break the rules.  all good now

[2016-09-21 06:03] gerardoalfredo2 opened #10833 "Problem_running the code"
Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-f

[2016-09-21 10:50] CostasDev commented on #10826
hi @dhcodes  but the question is correct only if i add the first line, otherwise is incorrect

[2016-09-21 11:09] dhcodes commented on #10826
@CostasDev I don't think it's incorrect without that line; it's just that the tests don't run without that line to protect users from a possible infinite loop browser crash if they didn't break the while loop eventually.

[2016-09-21 13:09] Bouncey commented on #10833
@gerardoalfredo2 There is an issue with your code.

Please review the instructions for the challenge you are having issues with.

If you are still stuck, please click on the Help button underneath to challenge instructions, and you will be directed to a dedicated chat room for code help.

If I have misunderstood your issue, please provide more information.

Happy codings!

[2016-09-21 13:28] l-tong commented on #10819
I agree with Eric on enforcing best practices on coding style since someone might think it is fun to have var myArray    [0]  = 1;  And this might become a bad habit on real world coding.

[2016-09-21 13:41] Bouncey commented on #10826
@CostasDev @dhcodes IIRC the loop-protect library has always been cautious about `while` loops.

As @dhcodes says, it's not that there is an issue with your code, or with the challenge, it's more to do with a cautious approach towards protecting you and your browser from infinite loops.

This is something that the developers of loop-protect recognised and have added the ability to disable loop pro

[2016-09-21 14:13] anastasi5 commented on #6249
I don't think the question was very clear..  Again, no mention of using the
if/return command... I was going crazy trying to follow the example... I
may switch to codeacademy.

On Tue, Sep 20, 2016 at 7:41 PM, Lance <notifications@github.com> wrote:

[2016-09-21 14:22] CostasDev commented on #10826
ok thank you very much guys for your response !!

[2016-09-21 14:22] dhcodes commented on #10826
Closing this for now. @CostasDev please reopen if you have more to discuss.

[2016-09-21 14:22] #10826 closed

[2016-09-21 15:17] texas2010 commented on #10833
@gerardoalfredo2, Thanks for reporting this. I checked your code. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding..

[2016-09-21 15:17] #10833 closed

[2016-09-21 15:54] lebornjose opened #10834 "npm run start is not work"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-09-21 16:11] P1xt commented on #10806
@dhcodes No worries mate, at least I now have a fully functioning dev environment :)

[2016-09-21 16:25] markymarc009 opened #10835 "Increment bug"
Challenge [Counting Cards](https://www.freecodecamp.com/challenges/counting-cards#?solution=%0Avar%20count%20%3D%200%3B%0A%0Afunction%20cc(card)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0Aswitch%20(card)%20%7B%0A%20%20case%202%3A%0A%20%20case%203%3A%0A%20%20case%204%3A%0A%20%20case%205%3A%0A%20%20case%206%3A%0A%20%20%20%20count%20%3D%20count%2B%3D1%3B%0A%20%20%20break%3B%2

[2016-09-21 16:26] markymarc009 commented on #10835
Same goes for decrementing.

[2016-09-21 16:53] Bouncey commented on #10834
@lebornjose

Can you please explain what you are trying to do and what errors you are getting.

We need you to help us help you

[2016-09-21 16:59] Bouncey commented on #10835
Please follow the issue report template instructions. This helps by gathering the data required for us to reproduce the issue, without which we would only be guessing.

The solutions to the challenges are in the repo and in the forum, so please don't worry about giving the game away.

[2016-09-21 17:37] dhcodes commented on #10809
I will take a crack at this and update in a bit if I can't get it working.

[2016-09-21 17:50] QuincyLarson commented on #10809
@dhcodes OK - great. Note that you'll need to create Twitter and LinkedIn keys o-auth keys for the purpose of testing.

[2016-09-21 17:51] dhcodes commented on #10835
@markymarc009 While `count = count++` does seem to be acceptable code (per the console of my browser) I'm not sure it's a recommended practice as `count++` is self-assigning. In this case, `count++` works and is the preferred way to write the increment as `count=count++` has an unnecessary assignment. Likewise, `count+=1` is self-assigning so the assignment in `count = count+=1` is unnecessary (th

[2016-09-21 17:52] QuincyLarson commented on #10809
@dhcodes we originally had this functionality (it was built into the Hackathon Starter): https://github.com/sahat/hackathon-starter/blob/master/controllers/user.js#L198

[2016-09-21 17:56] yeastmaker opened #10836 "Test condition is wrong"
Challenge [Check for Palindromes](https://www.freecodecamp.com/challenges/check-for-palindromes#?solution=%0Afunction%20palindrome(str)%20%7B%0A%20%20%2F%2F%20Good%20luck!%0A%20%20str%20%3D%20str.toLowerCase().replace(%2F%5B%5Ea-z%5D%2Fgi%2C%20%22%22)%3B%0A%20%20return%20str%20%3D%3D%20str.split(%22%22).reverse().join(%22%22)%3B%0A%7D%0A%0A%0A%0Apalindrome(%221%20eye%20for%20of%201%20eye.%22)%3B%0

[2016-09-21 18:04] dhcodes commented on #10809
@QuincyLarson cool I'll check it out and modify as necessary. Thanks.

[2016-09-21 18:11] erictleung commented on #10835
@markymarc009 the incrementing is incorrect.

[code]

This `count = count+=1;` will only work because it does actually increment the `count`, albeit not the best way to. You should increment using `count++`.

If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-09-21 18:11] #10835 closed

[2016-09-21 18:42] internetbird opened #10837 ""Smallest Common Multiple" challenge - test fails for correct code"
#### Challenge Name
[https://www.freecodecamp.com/challenges/smallest-common-multiple](https://www.freecodecamp.com/challenges/smallest-common-multiple)

#### Issue Description
The following correct code fails for the last test : smallestCommons([23, 18])

#### Browser Information

* Browser Name, Version: Chrome, Version 53.0.2785.116 m (64-bit)
* Operating System:  Windows 10 64bit
* Mobile, Des

[2016-09-21 18:59] dhcodes commented on #10837
@internetbird this is more of a problem caused by the loop-protect feature of the editor that helps to prevent infinite loops and browser crashed caused by them. If you copy the failing test into the code editor, you'll see that it recommends adding `// noprotect` as the first line to override the loop-protection. If you do that, it will pass.

[2016-09-21 19:37] internetbird commented on #10837
@dhcodes  cool. thanks. I will close this issue

[2016-09-21 19:37] #10837 closed

[2016-09-21 20:04] doughballs commented on #7847
Hi...I was having the same issue and fixed it by taking my zoom back to 100%. Some of the exercises recommend that you to zoom out to see the full page. I was at 80% zoom and having issues with the cursor, when I zoomed in to 100% the issue went away. Purely observational - I haven't had the chance to test it on further exercises - and I haven't read EVERY post on this page, but it fixed it for me

[2016-09-21 20:15] erictleung commented on #10821
@voeung thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-09-21 20:15] #10821 closed

[2016-09-21 20:54] nfabacus commented on #10783
I have fixed my own site. But, the link you have on your site  https://codepen.io/FreeCodeCamp/full/Myvqmo/ is still not working.  I just wonder you may want to update the code?

[2016-09-21 21:12] Aenean opened #10838 "Help on Change font size of an element stage please"
My code:
[code]
It says, "Your p element should contain the first few words of the provided additional kitty ipsum text." but it does not accept whatever i type there..

[2016-09-21 21:16] texas2010 commented on #10838
@Aenean
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding..

[2016-09-21 21:16] #10838 closed

[2016-09-21 21:18] Aenean commented on #10838
I tried chat but did not get any answer, could you tell me what is incorrect in this code?

[2016-09-21 22:27] potager32 commented on #10275
so take out the h2 all together this is tricky for beginners???!!!!

[2016-09-21 22:28] potager32 commented on #10275
example  of style attributes pls

[2016-09-22 02:34] michaelachrisco opened #10840 "Login with multiple users"
#### Login issue

#### Issue Description

If a user logs in and works some code camp challenges and logs out, then another user logs in, that other user can see the previous users code and must reset the exercise.

#### Browser Information

Firefox

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:
Linux (Ubuntu 1604)

#### Screenshot

First user
![screenshot from 2016-09-

[2016-09-22 05:42] oswynl13l opened #10843 "beginner problem"
I cant run tests on my first challenge

[2016-09-22 05:56] zuphilip opened #10844 ""override" in the description should not be formatted as code"
Challenge [Prioritize One Style Over Another](https://www.freecodecamp.com/challenges/prioritize-one-style-over-another#?solution=%0A%3Cstyle%3E%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20black%3B%0A%20%20%20%20font-family%3A%20Monospace%3B%0A%20%20%20%20color%3A%20green%3B%0A%20%20%7D%0A%20%20.pink-text%20%7B%0A%20%20%20%20color%3A%20pink%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%3Ch1%20clas

[2016-09-22 08:18] Agonn opened #10845 "Completing this challenge without changing return value"
Challenge [Using Objects for Lookups](https://www.freecodecamp.com/challenges/using-objects-for-lookups#?solution=%0A%2F%2F%20Setup%0Afunction%20phoneticLookup(val)%20%7B%0A%20%20var%20result%20%3D%20%22%22%3B%0A%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20var%20lookup%20%3D%20%7B%0A%20%20%20%20%20alpha%3A%22Adams%22%2C%0A%20%20%20%20%20bravo%3A%22Boston%22%2C%0A%20%20%20%20%2

[2016-09-22 09:07] thyairdrigh commented on #10382
It's not a bug. You missed the empty-array-creating step (so did I :))

[2016-09-22 09:40] Aliyu-Maitama opened #10846 "resize the "fcc relaxing cat" image to 100px using ".smaller-image class""
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2016-09-22 09:43] CoderBug commented on #10725
![s](https://cloud.githubusercontent.com/assets/22156630/18743521/459d988a-806e-11e6-9fcd-846930f7e82a.png)

when input "house" i get result "Not found" but it wont pass me : /

[2016-09-22 09:43] Bouncey commented on #10840
Could this be managed with applying the user id into the localStorage key for the challenge?

[2016-09-22 09:46] CoderBug opened #10847 "Testing objects for properties"
![s](https://cloud.githubusercontent.com/assets/22156630/18743592/93a2007a-806e-11e6-8b1d-ee17141a21b7.png)
Challenge [Testing Objects for Properties](https://www.freecodecamp.com/challenges/testing-objects-for-properties#?solution=%0A%2F%2F%20Setup%0Avar%20myObj%20%3D%20%7B%0A%20%20gift%3A%20%22pony%22%2C%0A%20%20pet%3A%20%22kitten%22%2C%0A%20%20bed%3A%20%22sleigh%22%0A%7D%3B%0A%0Afunction%20chec

[2016-09-22 10:31] egglestn commented on #9314
When I had this error, the slashes were all correct: the problem was that I had "Firstline" instead of "FirstLine" (camel-case issue). It was really tricky to spot given that the error message made me think it was a problem with the slashes.

FreeCodeCamp, please could you upgrade the error message to suggest there might be an issue with the text itself?
"myStr should have encoded text with the pr

[2016-09-22 10:49] Bouncey commented on #10843
@oswynl13l Please follow the issue report template instructions. This helps by gathering the data required for us to reproduce the issue, without which we would only be guessing.

Have you tried pressing the `Run Tests (ctrl + enter)` button?

[2016-09-22 11:00] Bouncey commented on #10845
@Agonn the instructions are provided I feel are clear enough. Please read them again, if you are still having issues, click on the `Help` button in the challenge you are stuck on and you will be directed to a dedicated code help chat room.

GitHub issues are for reporting issues with freeCodeCamp and it's code base, not for help with challenges.

Like in this challenge, there is no test to check t

[2016-09-22 11:03] Bouncey opened #10848 "Test required for return statement."
Challenge [Using Objects for Lookups](https://www.freecodecamp.com/challenges/using-objects-for-lookups#?solution=%0A%2F%2F%20Setup%0Afunction%20phoneticLookup(val)%20%7B%0A%20%20var%20result%20%3D%20%22%22%3B%0A%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20var%20lookup%20%3D%20%7B%0A%20%20%20%20%20alpha%3A%22Adams%22%2C%0A%20%20%20%20%20bravo%3A%22Boston%22%2C%0A%20%20%20%20%2

[2016-09-22 11:05] Bouncey commented on #10848
Issue found whilst investigating #10845

[2016-09-22 11:05] #10845 closed

[2016-09-22 11:08] Bouncey commented on #10846
@Aliyu-Maitama There is an issue with your code.

Please review the instructions for the challenge you are having issues with.

If you are still stuck, please click on the `Help` button underneath to challenge instructions, and you will be directed to a dedicated chat room for code help.

If I have misunderstood your issue, please provide more information.

Happy codings!

[2016-09-22 11:08] #10846 closed

[2016-09-22 11:12] Bouncey commented on #10847
@CoderBug The devil is in the details.

Please check your code against the require return values.

You are almost there, but our tests are really choosy about what should be capitalised and what shouldn't.

I am closing this issue as it is for code help, and not an issue with freeCodeCamp itself

Happy coding and thanks for contributing :tada:

[2016-09-22 11:12] #10847 closed

[2016-09-22 11:20] xgqfrms-GitHub opened #10849 "what's wrong with this? Anybody can help?"
Challenge [Convert JSON Data to HTML](https://www.freecodecamp.com/challenges/convert-json-data-to-html#?solution=%0A%0A%0A%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%0A%20%20%20%20%24(%22%23getMessage%22).on(%22click%22%2C%20function()%20%7B%0A%E2%80%89%E2%80%89%20%20%20%20%24.getJSON(%22%2Fjson%2Fcats.json%22%2C%20function(json)%20%7B%0A%20%20%20%20%20%20%20var%20html%20%3D%20%22%22

[2016-09-22 11:23] Bouncey commented on #10844
I agree that consistency is best.

First-timers:

On [this](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/c0d41e1e4451f09862f87b44b6c32cf326c4c717/seed/challenges/01-front-end-development-certification/html5-and-css.json#L4307) line, change the `<code></code>` tags for `<em></em>` tags.

Follow the [contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) guidel

[2016-09-22 11:24] xgqfrms-GitHub commented on #10849
json.forEach is not a function ???
![jquery-error-json](https://cloud.githubusercontent.com/assets/18028768/18746438/f7f0dec6-80f9-11e6-84c8-e908733e2da1.PNG)
[code]

[2016-09-22 11:38] Bouncey commented on #10849
@xgqfrms-GitHub I cannot recreate your issue inside of the freeCodeCamp editor using your code. I can see from your first screenshot that you have the data rendered on the mobile screen, so I imagine you have passed the challenge on freeCodeCamp.

And obviously we cannot provide support outside of this.

One issue you will have is the `$.getJSON` request points to a file held on freeCodeCamp serve

[2016-09-22 11:51] xgqfrms-GitHub commented on #10849
Ok!

[2016-09-22 11:51] #10849 closed

[2016-09-22 12:29] faizal-saleem opened #10852 "Entering correct tested code but wrong output in this question."
#### Search and Replace
https://www.freecodecamp.com/challenges/search-and-replace#?solution=%0Afunction%20myReplace(str%2C%20before%2C%20after)%20%7B%0A%20%20return%20str%3B%0A%7D%0A%0AmyReplace(%22A%20quick%20brown%20fox%20jumped%20over%20the%20lazy%20dog%22%2C%20%22jumped%22%2C%20%22leaped%22)%3B%0A

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:

[2016-09-22 12:46] Bouncey commented on #10852
@faizal-saleem There is an issue with your code.

Please review the instructions for the challenge you are having issues with.

If you are still stuck, please click on the Help button underneath to challenge instructions, and you will be directed to a dedicated chat room for code help.

If I have misunderstood your issue, please provide more information and open this issue again.

Happy codings!

[2016-09-22 12:46] #10852 closed

[2016-09-22 12:52] jeffrath504 opened #10855 "Arguments Optional: Test case results are not being accepted"
Challenge [Arguments Optional](https://www.freecodecamp.com/challenges/arguments-optional#?solution=%0Afunction%20addTogether()%20%7B%0A%20%20var%20holdNumber%3D0%3B%0A%0A%20%20%0A%20%20if%20(arguments.length%20%3D%3D%201)%0A%20%20%20%20%7B%0A%20%20%20%20%20%20if%20(typeof%20arguments%5B0%5D%20!%3D%20%22number%22)%7B%0A%20%20%20%20%20%20return%20undefined%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%

[2016-09-22 12:59] razvanrujoiu opened #10856 "Doesn't see my element as being blue"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3Ablue%3B%7D%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20e

[2016-09-22 13:17] Bouncey commented on #10856
@razvanrujoiu There is an issue with your code.

Please review the instructions for the challenge you are having issues with.

If you are still stuck, please click on the Help button underneath to challenge instructions, and you will be directed to a dedicated chat room for code help.

If I have misunderstood your issue, please provide more information and open this issue again.

GitHub issues are

[2016-09-22 13:17] #10856 closed

[2016-09-22 14:30] euan-gwd opened #10857 "$(document).ready deprecated in jQuery3, use $(function() instead"
Challenge [Learn how Script Tags and Document Ready Work](https://www.freecodecamp.com/challenges/learn-how-script-tags-and-document-ready-work#?solution=fccss%0A%24%28function%28%29%7B%0A%20%20%0A%7D%29%3B%0Afcces%0A%0A%0A%3C!--%20Only%20change%20code%20above%20this%20line.%20--%3E%0A%0A%3Cdiv%20class%3D%22container-fluid%22%3E%0A%20%20%3Ch3%20class%3D%22text-primary%20text-center%22%3EjQuery%20P

[2016-09-22 14:32] euan-gwd commented on #10857
unneeded.

[2016-09-22 14:45] texas2010 commented on #10275
@potager32, Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.
GitHub Issues are for reporting bugs on the website only.

Happy Coding.

[2016-09-22 14:47] texas2010 commented on #10725
@CoderBug, Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.
GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-09-22 15:06] ivantedja opened #10859 "[beta] 500 TypeError: Cannot read property 'indexOf' of undefined"
Steps to reproduce:
- You need to be logged in
- Open new tab / window in your browser
- Visit homepage

You will see: `500 TypeError: Cannot read property 'indexOf' of undefined`

See snippets below:

[code]

`referer` header is not always exist so it's better to add conditional to check that

[2016-09-22 15:09] sjames1958gm commented on #10819
Since there is no indication what the error might be and no instruction or style guide saying no space is best practice, campers are going to get stumped on what the valid solution is, esp. if they go to get help and the people helping don't have any indication that this is a "best" practices issue.

[2016-09-22 15:40] codetweetie commented on #10844
Hello everyone,
I would like to work on this issue and I'm a first timer too.

[2016-09-22 16:07] codetweetie commented on #10844
Hi @Bouncey
I was wondering if I need to make the same change for other translations as well ?

[2016-09-22 16:09] Bouncey commented on #10844
@codetweetie it would be great if you could :+1:

[2016-09-22 16:28] codetweetie commented on #10844
Ok, I think I can.

[2016-09-22 16:58] Dnnsmoyo commented on #7960
Hello my code returns the  position after sorting but it doesnt seem correct i dont know why
function getIndexToIns(arr, num) {
  // Find my place in this sorted array.
  var j = [];
  var s = arr.concat(num);
   j = s.sort();
  if(j == s) {
    return j.indexOf(num);
  }
  return j;
}

getIndexToIns([40, 60], 50);

[2016-09-22 17:10] aman-kumayu commented on #10836
I too has the same issue with the "Check for Palindromes" challenge

My Code :

function palindrome(str) {
var newstr=str.replace(/[^a-zA-Z]/g,"");
  newstr=newstr.toLowerCase();
  var ar=[];
  ar=newstr.split("");
  ar.reverse();
  var str1=ar.join("");

  if(newstr.match(str1))
    return true;
  else return false;
   }
palindrome("1 eye for of 1 eye.");

The testcase is wrong , "palindrome("1 e

[2016-09-22 17:17] erictleung commented on #10819
@sjames1958gm thanks for the feedback. What we can do is have a note in the lesson/challenge that explores [accessing array data with indexes](https://www.freecodecamp.com/challenges/access-array-data-with-indexes) and mention that there shouldn't be any spaces between the array name and the square brackets.

Maybe add something like this to the end of the description and before the instructions.

[2016-09-22 17:20] erictleung commented on #10855
@jeffrath504 the output I get from your code running `addTogether(2)([3])` is `"23"`, not `undefined`.

Take a look at your line with `var temp = holdNumber + a;`

If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-09-22 17:20] #10855 closed

[2016-09-22 17:21] dhcodes commented on #10859
I have this issue when running the beta locally as well. I thought it was something I had done wrong on my install. Glad to know it can be fixed 👍

[2016-09-22 17:23] dhcodes commented on #10840
Closing as duplicate of #10413. Should be fixed by the new update per that thread.

[2016-09-22 17:23] #10840 closed

[2016-09-22 17:39] michaelachrisco commented on #10840
When can we expect this update to be live? Ill let our local group know as we are encountering this issue via Pair Programming sessions.

[2016-09-22 17:49] frogshelp commented on #6896
i am on the same challenge right now and it did exactly as jamigibbs wrote  but before i came looking for help and yes it still does not pass the part for the mystr+= will but the upper one for the var myster does not pass is thier a bug in it

[2016-09-22 17:57] Tess2016 opened #10861 "Concatenating Strings with the Plus Equals Operator"
Challenge [Concatenating Strings with the Plus Equals Operator](https://www.freecodecamp.com/challenges/concatenating-strings-with-the-plus-equals-operator#?solution=%0A%2F%2F%20Example%0Avar%20ourStr%20%3D%20%22I%20come%20first.%20%22%3B%0AourStr%20%2B%3D%20%22I%20come%20second.%22%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0Avar%20myStr%20%3D%20%22This%20is%20the%20first%20sente

[2016-09-22 18:26] texas2010 commented on #7960
@Dnnsmoyo, Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2016-09-22 18:41] ssanduli opened #10862 "No automatic scrolling"
Not sure if it is a bug. Sometimes you type something and the cursor is out of the screen. You don't see what you type unless you scroll down to the very bottom of the code input section. It would be great if you make it scroll down automatically when you type

[2016-09-22 18:51] dhcodes commented on #10840
@michaelachrisco I think they are shooting for the end of the month. As a stop-gap, if you have each person in the local group open a new Chrome incognito window before logging it, there shouldn't be any code in the editor.

[2016-09-22 19:18] Bouncey commented on #10861
@Tess2016 There is an issue with your code.

Please review the instructions for the challenge you are having issues with.

If you are still stuck, please click on the Help button underneath to challenge instructions, and you will be directed to a dedicated chat room for code help.

If I have misunderstood your issue, please provide more information and open this issue again.

GitHub issues are for

[2016-09-22 19:18] #10861 closed

[2016-09-22 20:57] #10769 closed

[2016-09-22 21:45] Bouncey commented on #10718
Do we need to make the instructions and tests more robust?

[2016-09-22 22:52] sjames1958gm commented on #10718
I think the instructions are ok, but I am a native English speaker. But I think that test should be changed to not let that pass.

[2016-09-22 23:27] Bouncey commented on #10808
Closing as stale, if you have any more to add, feel free to open this issue again

[2016-09-22 23:27] #10808 closed

[2016-09-22 23:52] alexanderholman commented on #10844
I hope I haven't stepped on anyones toes! I submitted a pull request as @codetweetie hadn't yet (as far as I can tell) and the last comment was 7 hours ago

[2016-09-23 02:36] ivantedja commented on #10859
@dhcodes frankly, I thought the same thing! 😄

[2016-09-23 02:50] QuincyLarson opened #10869 "Get GitHub to correctly detect our license"
GitHub recently introduced a new feature where it automatically lists the repo's license: https://github.com/blog/2252-license-now-displayed-on-repository-overview

@mgattozzi is working on this (https://github.com/FreeCodeCamp/FreeCodeCamp/pull/10842)

[2016-09-23 02:57] Its0 opened #10870 "Small "scripting-sensitive" bug which expose some JS function"
Challenge [Add Borders Around your Elements](https://www.freecodecamp.com/challenges/add-borders-around-your-elements#?solution=do%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A

[2016-09-23 03:53] DTCopp commented on #10856
I have the same problem - the code looks good but it is not recognized as "blue."

[2016-09-23 05:06] LarryMary commented on #1340
This just started happening to me yesterday after obtaining a Client ID and updating my twitch.tv app (http://codepen.io/LarryMary/pen/NRNAay). I'm on Windows 8.1 in both Firefox and Chrome. I had no problems when initially creating the app a few weeks ago. Seems like my computer has been flagged as a security risk or something.

[2016-09-23 05:27] lptje opened #10872 "Your a element should be nested within your new p element. doesn't work I think?"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2016-09-23 07:04] DragutinDjokovic commented on #5884
case (val = 1):
   answer = "alpha";
   break;

[2016-09-23 07:13] erictleung commented on #10872
@lptje thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: your code has a slight error so please take a look at the syntax error at the end of your code. Happy coding!

[2016-09-23 07:13] #10872 closed

[2016-09-23 07:21] raul5614 opened #10874 "Why wont it summit?"
Challenge [Change the Color of Text](https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%20style%3D%22color%3A%20blue%22%3ECatPhotoApp%3C%2Fh2%3E%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp%3E%0A)

[2016-09-23 07:24] #10874 closed

[2016-09-23 07:24] Manish-Giri commented on #10874
@raul5614 the instruction asks you to change the color to `red`.

What you have in your code is just taken from the example given on the left.

[2016-09-23 07:25] raul5614 commented on #10874
Yea i saw thanks

[2016-09-23 08:37] annunirmal commented on #10852
you are suppose to add after.slice(1) in your code which is as folows:
function myReplace(str, before, after) {
  var ind = str.indexOf(before);
  if (str[ind] === str[ind].toUpperCase()) {
   after = after.charAt(0).toUpperCase() + after.slice(1);
  }

  str = str.replace(before, after);

  return str;
 }

[2016-09-23 08:39] Bouncey commented on #10856
@DTCopp can you please provide the code you are having issues with.

Have you tried seeking help in the [HelpFrontEnd](https://gitter.im/FreeCodeCamp/HelpFrontEnd) chat room?

[2016-09-23 10:30] GarySiu opened #10877 "Assigned value should be uppercase for consistency?"
Minor nitpick

Challenge [Global vs Local Scope in Functions](https://www.freecodecamp.com/challenges/global-vs-local-scope-in-functions#?solution=%0A%2F%2F%20Setup%0Avar%20outerWear%20%3D%20%22T-Shirt%22%3B%0A%0Afunction%20myOutfit()%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20var%20outerWear%20%3D%20%22sweater%22%3B%0A%20%20%0A%20%20%0A%20%20%2F%2F%20Only%20change%2

[2016-09-23 10:33] codetweetie commented on #10844
@Bouncey @zuphilip Hi, I've submitted another PR, hopefully this time my PR looks ok. I'll be glad if you can let me know your comments on the PR so it'll help me to improve my future contributions. Thanks a mil in advance.

[2016-09-23 11:26] AlexArcanum commented on #10856
You cannot stylize the <p> or <h2> like that. The paragraph should not be nested inside <style>

[2016-09-23 11:37] #10844 closed

[2016-09-23 12:07] Bouncey opened #10879 "'Update your settings' redirects to /map"
#### Issue Description

When viewing my public profile, if I click `Update your settings` I am directed to `/map`

[2016-09-23 12:12] Bouncey opened #10880 "[beta] 'Update your settings' redirects to /map.0"
#### Issue Description

When viewing my public profile, if I click `Update your settings` I am directed to `/map`

[2016-09-23 12:12] #10880 closed

[2016-09-23 12:16] codetweetie commented on #10844
@Bouncey Thanks a mil for helping me to kick start my very first open source contribution, feeling proud of it!!

[2016-09-23 12:33] JuvasArray commented on #6249
The answer could be simplified like that:
function checkObj(checkProp) {
if (myObj.hasOwnProperty(checkProp))
return myObj[checkProp];
else return "Not Found";
}

[2016-09-23 12:48] yccai commented on #10392
Me too. But I do not know how to solve it.

[2016-09-23 12:50] ktajpuri commented on #10584
It Appears it has already been fixed
Completed Challenges
================
![image](https://cloud.githubusercontent.com/assets/10725893/18786176/26b75b8e-81ba-11e6-95da-4896ae56298a.png)

Incomplete Challenges
===============
![image](https://cloud.githubusercontent.com/assets/10725893/18786193/4285e8e4-81ba-11e6-8ec0-12cd6cd78033.png)

I think this issue can be closed.

[2016-09-23 12:51] leightcoder opened #10881 "correct answer but test wont run correctly,2nd time occurred"
hi,

Encountered this problem about challenge before last,thereabouts,where the code was correct but could not pass the test.Now again with this one challenge.Have ,cleared cache,cookies,reset code and restarted browser and pc,still the same problem.Also very difficult to get the cursor to where i need to enter the code.I am assuming the code below is correct that i have entered:

code   <h2 class

[2016-09-23 13:15] DavOnGit commented on #10816
Hi all,
i agree with __@Em-Ant__, we shoul'd explain that this project is about building an App that:
-  can do __image search__  using whichever __search engine API__ (pointing out that they should find and select the API service that best fits them)
- the App send query results JSON formatted with data about url,  alt, text...
- I can paginate through the responses by adding a ?offset=2 paramete

[2016-09-23 13:34] dhcodes commented on #10879
Confirmed. The routes are correct so I'm guessing it's something to do with the user-check functionality of this: https://github.com/FreeCodeCamp/FreeCodeCamp/blob/914e9f4b337724a5f4a24ebcfdf67058c7b0367e/common/app/routes/settings/index.js#L13

[2016-09-23 13:39] dhcodes commented on #10881
@leightcoder You have an error in your code. Please consider asking for help in the [Help Chat](https://gitter.im/FreeCodeCamp/Help) room on Gitter. As for the cursor issue, it's a known problem with the code editor that must be fixed by the maintainers of that repo. For the time being, if it happens again, click in the code, press Enter, and it should then function as normal. Happy coding!

[2016-09-23 13:39] #10881 closed

[2016-09-23 13:45] zelite commented on #10870
I believe the problem is that you're using the command `do` which is part of the [`do...while`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/do...while) statement. The editor is trying to protect you from creating an infinite loop which may crash the browser.

[2016-09-23 13:53] dhcodes commented on #10870
As @zelite said, this is because the editor is looking for a do function in JS.

[2016-09-23 13:53] #10870 closed

[2016-09-23 13:58] dhcodes commented on #10862
@ssanduli This works correctly on my end. Do you have an example or challenge where I can try to replicate this?

[2016-09-23 14:20] rockcoolsaint opened #10882 "Correct code but failing tests"
Challenge [Title Case a Sentence](https://www.freecodecamp.com/challenges/title-case-a-sentence#?solution=%0Afunction%20titleCase(str)%20%7B%0A%20%20var%20arr_str%20%3D%20str.split(%22%20%22)%3B%0A%20%20var%20arr_case%20%3D%20%5B%5D%3B%0A%20%20var%20new_str%20%3D%20%22%22%3B%0A%20%20%0A%20%20for%20(var%20i%20in%20arr_str)%20%7B%0A%20%20%20%20arr_case.push(arr_str%5Bi%5D.substring(0%2C1).toUpperCas

[2016-09-23 14:36] #10859 closed

[2016-09-23 15:07] texas2010 commented on #10874
@raul5614 Next time, Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.
GitHub Issues are for reporting bugs on the website only.

Happy Coding.

[2016-09-23 15:08] texas2010 commented on #10852
@annunirmal Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-09-23 15:28] abinayams1010 opened #10883 "Adjusting the Padding of an Element]"
@Challenge [Adjusting the Padding of an Element](https://www.freecodecamp.com/challenges/adjusting-the-padding-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.injected-text%20%7B%0A%20%20%20%20margin-bottom%3A%20-25px%3B%0A%20%20%20%20text-align%3A%20center%3B%0A%20%20%7D%0A%0A%20%20.box%20%7B%0A%20%20%20%20border-style%3A%20solid%3B%0A%20%20%20%20border-color%3A%20black%3B%0A%20%20%20%20border-wi

[2016-09-23 15:50] dhcodes commented on #10882
@rockcoolsaint While quite close, you do have an error in your code that is preventing the tests from passing. Please consider asking for help in the [Help Chat](https://gitter.im/FreeCodeCamp/Help) Gitter chat room.

[2016-09-23 15:50] #10882 closed

[2016-09-23 15:52] dhcodes commented on #10883
@abinayams1010 You have an error in your code. Please consider asking for help in the [Help Chat](https://gitter.im/FreeCodeCamp/Help) Gitter room for FCC.

[2016-09-23 15:52] #10883 closed

[2016-09-23 15:54] dhcodes commented on #10877
Tagging as possibly bike-shedding. Others feel free to share your thoughts.

[2016-09-23 15:55] Bouncey commented on #10879
Hmmm user must be undefined...

[2016-09-23 15:57] Bouncey commented on #10877
I'm :+1: for bike shedding

[2016-09-23 15:58] ivantedja opened #10885 "modify pull request template for testing guidance"
I think it is better to change the instructions for **Pre-Submission Checklist** ?

changed with

My previous pull request didn't pass the travis check because of linting problem although I did follow instructions from **Pre-Submission Checklist** to run `npm run test-challenges`.

[2016-09-23 16:03] Bouncey commented on #10885
## LGTM

First-timers only

Edit 'CONTRIBUTING.md' in the manner presented by @ivantedja

Be sure to use CONTRIBUTING.md to get set up to make the edit. If you get stuck, ask for help in the contributors chat on gitter.

Good luck, happy coding and thanks for contributing 🎉

[2016-09-23 16:04] dhcodes commented on #10885
So `npm test` will run the same tests as travis-CI?

[2016-09-23 16:06] Bouncey commented on #10885
Yes @dhcodes

Every day is a school day

[2016-09-23 16:10] ivantedja commented on #10885
@Bouncey `CONTRIBUTING.md` looks good to me, I meant `.github/PULL_REQUEST_TEMPLATE.md`

[2016-09-23 16:12] dhcodes commented on #10885
fixed it for @Bouncey

[2016-09-23 16:20] atjonathan commented on #10885
No, I believe `npm test` runs a different set of tests that `npm run test-challenges`. I believe `npm test` doesn't work on Windows.
cc/ @FreeCodeCamp/issue-moderators

[2016-09-23 16:54] BKinahan commented on #10885
Right, `npm test` also runs the file linting. The text in the PR template is correct that `npm run test-challenges` should be used to make sure all current and new tests pass, but should perhaps be amended to use `npm test` (with a text change reflecting what that command does differently from `npm run test-challenges`) so that linting errors can be caught before the PR stage.

[2016-09-23 17:16] dhcodes commented on #10885
But does it work on windows...

[2016-09-23 18:46] courtjester71 opened #10887 "Escaping Literal Quotes in Strings"
#### Challenge Name

Escaping Literal Quotes in Strings

https://www.freecodecamp.com/challenges/escaping-literal-quotes-in-strings

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

var myStr= "I am a\"double quoted\"string inside\"double quotes\"."; // Change this line

I've witnessed this exact same code

[2016-09-23 19:13] dhcodes commented on #10887
@courtjester71 You have an error in your code. I recommend asking for help in the [Help Chat](https://gitter.im/FreeCodeCamp/Help) room on Gitter.

[2016-09-23 19:30] nguyenhoaihuy commented on #5673
This is my solution:
var myStr ="FirstLine\n\\SecondLine\\\rThirdLine";

[2016-09-23 19:45] texas2010 commented on #5673
@nguyenhoaihuy, Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-09-23 20:11] courtjester71 commented on #10887
No im not using bs chats, waste of time working with a gagle who might know
somethimg, and why then has the exact same code worked just fine for
others? Ill look into it, but not on a chat. I want answers not rhetoric

On Sep 23, 2016 14:16, "Dylan" <notifications@github.com> wrote:

[2016-09-23 20:20] erictleung commented on #10887
@courtjester71 your code is incorrect. The string you need to pass the challenge is case- and space-sensitive. Chat rooms can be messy but that is the environment we use for coding help. If you have a colleague to work through and they have a working example, I would double check their work with yours. GitHub issues are only for true issues after you've tried and debugged all you can. Remember, pr

[2016-09-23 20:20] #10887 closed

[2016-09-23 21:34] smolaei commented on #9473
var gloveBoxContents = myStorage.car.inside["glove box"];

Remember:

properties with spaces must go inside brackets & quotes.

[2016-09-23 21:44] courtjester71 commented on #10887
Lol.....my eyes are pretty messed up....yeah ill look into it but on the
forums and legit coding sites never in a chat. They are worthlesd

On Sep 23, 2016 15:23, "Eric Leung" <notifications@github.com> wrote:

[2016-09-23 21:46] michaelachrisco commented on #10840
Thanks @dhcodes Will do!

[2016-09-23 23:59] texas2010 commented on #9473
@smolaei
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-09-24 02:11] frogshelp commented on #4243
i can help u got it right  but u forgt to change the return false; and rewrite it at the bottom of all of it with the {} brackets  and it should pass  so basically take and write it like this
function welcomeToBooleans() {
  return false;;  <-- change that from false
}

[2016-09-24 03:15] frogshelp commented on #9209
ok i just did this one and i had exact same issue as it states change trueorfalse to test  but however it still onc changed does not make it pass matter fact it says test is not defined  so i took luongthamas comment and used it  i  did a lil changing  so where u messed up like i had did  where our if(trueOrFalse) is has to be changed so example take the setup of function trueOrFalse(wasThatTrue)

[2016-09-24 03:18] frogshelp commented on #9209
@ erictleung that help room ignores ur request more often then not thiers been many times i asked for help an sat literally 3 hrs waiting and reposted my code and request for help 4 times and still got no help so thier needs to be a place such like this as an alternitive for help  so ur constant comments of go thier instead of here is just about useless as getting help in the help room

[2016-09-24 04:13] SasukeUchiha619 commented on #9721
How to resize the image?

[2016-09-24 04:13] SasukeUchiha619 commented on #9721
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }
  smaller-image {
    width: 100px;}
</style>

<h2 class="red-text">CatPhotoApp</h2>

<img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat ly

[2016-09-24 04:34] oswynl13l commented on #10843
Yup , bt there is no progress in the page , i click run test , bt the page
just goes on reloading , tell me wht should i type, it says type
hello world in the h1 space , bt it doesnt run

On Thu, Sep 22, 2016 at 4:22 PM, Stuart Taylor <notifications@github.com>
wrote:

[2016-09-24 05:00] frogshelp commented on #8459
change ur 7's to a 12  and it will work i just had same issue and thats all i did was make the bottom two 12's and my var =12 and  also u notice u got === only suppose to be == and it should pass

[2016-09-24 05:09] frogshelp commented on #6533
ur all so way off lol
it should be like this  add var myVal =12; at the top of the whole code then your
if (val == myVal) { should be reading that and at the bottom should be three
teststrict's looking like this
testStrict(10);
testStrict(12);
testStrict("12");
and it will pass thier is no flaw with the challenge nor are u removing any quuotes lol  as i just did all this and all mine passed

[2016-09-24 06:22] frogshelp commented on #8459
change the (val ===myval) to (val === 7) it will pass

[2016-09-24 06:28] erivancerqueira opened #10891 "Test is ok but sould faill"
#### Challenge Name

My code pass on test, but I think that should fail because i test if value !==false for all elements it shouldn't return false.

* Browser Name, Version: Firefox
* Operating System: windows 8
* Desktop

#### Your Code
[code]

[2016-09-24 06:39] QuincyLarson commented on #10804
@P1xt I went ahead and took a crack at this: https://github.com/FreeCodeCamp/FreeCodeCamp/pull/10873

[2016-09-24 07:28] QuincyLarson commented on #10816
@Em-Ant @DavOnGit great - this is the best time to update the user stories. Could you agree on what the final user stories should be, make sure that @Em-Ant's example project fulfills them, then post them here? I can update the seed files.

[2016-09-24 07:43] Em-Ant commented on #10816
@DavOnGit the problem is that pagination is specific to Google search. We (me, @Greenheart @Rafase282 ) wanted to change that user story, in order to return a variable number of items. This will make the project easier to test, if we add automated testing requirements.

#### Suggested user stories (from FreeCodeCamp/CurriculumExpansion#38):

- (Unchanged) I can get the image URLs, alt text and pag

[2016-09-24 08:57] RebusGlider opened #10892 "Syntax Error - Challenge: Use the Twitchtv JSON API"
Challenge [Use the Twitchtv JSON API](https://www.freecodecamp.com/challenges/use-the-twitchtv-json-api) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36</code>.
"UPDATE: Due to a change in conditions on API usage explained here, use the sample API response we provide at"

The link to the sample A

[2016-09-24 12:39] samanparsi opened #10893 "100% zoom in browser"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.smaller-image%7B%0A%20%20%20%20width%3A%20100px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%

[2016-09-24 13:02] #10877 closed

[2016-09-24 13:09] atjonathan commented on #10892
@RebusGlider, thanks for catching this!
This is weird, I cannot find this sentence in the [correct file](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/intermediate-ziplines.json#L161).

cc/ @FreeCodeCamp/issue-moderators

[2016-09-24 13:11] #10834 closed

[2016-09-24 13:11] #10742 closed

[2016-09-24 13:17] hallaathrad commented on #10892
Thinking this may be related to https://github.com/FreeCodeCamp/FreeCodeCamp/issues/10740. Please reopen if we're dealing with a different issue.

[2016-09-24 13:22] BKinahan commented on #10892
@atjonathan The change, with link error, is here: https://github.com/FreeCodeCamp/FreeCodeCamp/blob/backup/master/seed/challenges/01-front-end-development-certification/intermediate-ziplines.json#L175

Note the branch.

[2016-09-24 13:24] atjonathan commented on #10892
Reopening as `help wanted`. Note you will need to add the [line from master](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/backup/master/seed/challenges/01-front-end-development-certification/intermediate-ziplines.json#L175) to staging and fix the syntax errors.

[2016-09-24 14:05] #10892 closed

[2016-09-24 14:10] ivantedja commented on #806
@QuincyLarson @BerkeleyTrue

In CodeMirror's example, CodeMirror uses `CodeMirror.fromTextArea` to generate the "editor" and the "editor" is loaded from the `<textarea>`. Whereas in FCC, the `<textarea>` is empty and the "editor" is loaded using `editor.setValue(something)`.

So it means:
- "editor" initialize as empty
- JS call `editor.setValue(something)` to fill the "editor"
- UNDO at this poin

[2016-09-24 15:05] Sinfiotli commented on #9368
+1

[2016-09-24 15:06] DavOnGit commented on #10816
I agree with the above @Em-Ant suggested user stories but what about adding a new bullet like:
- Use whichever libraries, APIs or package you need to fulfill user stories.

as suggested by @eliecerthoms?

[2016-09-24 15:07] Bouncey commented on #10893
Is it in both browser/OS combinations that you can't progress past this challenge?

[2016-09-24 15:41] BerkeleyTrue commented on #806
@ivantedja Thank you for investigating. I was not aware that there was a codemirror solution for this.

[2016-09-24 15:45] texas2010 commented on #9721
@SasukeUchiha619, Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-09-24 15:51] texas2010 commented on #6533
@frogshelp
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-09-24 16:25] Bouncey commented on #10891
@erivancerqueira the instructions for that challenge ask that you return an array with all falsely values removed, which is what your code does.

From what I can see, the challenge and your code are working correctly.

[2016-09-24 16:25] ivantedja commented on #10885
@dhcodes I don't have Windows, but it seems that it won't work in Windows. I saw this in CONTRIBUTING.md:

and this

We might need to change wording targeting Windows (run `npm run test-challenges` only) and non-Windows users (run `npm test`). But I'm not sure will it cause confusion or not 😅

[2016-09-24 16:33] Bouncey commented on #10843
@oswynl13l can you post the code you have for the challenge you are having issues with please

[2016-09-24 16:52] ChBernat commented on #10891
What if I tell you that your code is messed up?

You're returning an empty array as an arrFilter - if that's okay is up to you, but your check whether value is true or false is wrong.

Why? Let me explain.

You're using an identity operator so your code is checking for types first and if those are wrong (in your case those are different!) than it returns false. Else, of course it will compare valu

[2016-09-24 16:57] eliecerthoms commented on #10816
I also suggest a direct link to really free Image Search API's, since it was a pain to find one until I settled for Flickr's. Didn't test much of google because they said that from 5,000+ request they would start to charge me. I reckon a credit card was then needed so I aborted. (Don't have one) Microsoft's bing is good too, but the same case applies. Imgur was really difficult for me to implement

[2016-09-24 17:07] RowingWolfe commented on #10788
I too am experiencing this bug. Using the latest Firefox Developer Edition.

[2016-09-24 17:27] karuppiah7890 commented on #10819
I changed the "description" property (whose value is a string array) in [this file](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/backup/staging/seed/challenges/01-front-end-development-certification/basic-javascript.json) which starts at line 1859. But the changes I made are not visible in the site, even if I restart the server. I am accessing the server at http://localhost:3001 . So, what am

[2016-09-24 17:36] karuppiah7890 commented on #10819
OK. Somehow I guessed that I have to run the

`npm run only-once`

command again, even though it says "only-once". And the output said some files were parsed. The file names were related to the names of the JSON files in the seed/challenges/ folder.

Is it like the JSON files are parsed and put in the mongo server ? And the site shows the data of the challenges from the server ?

[2016-09-24 17:36] Bouncey commented on #10891
@ChBernat this challenge suggests the use of the array.filter() method. The instructions state that you are given an array of values, and you are to return an array with no falsely values.

@erivancerqueira 's code is correct. Sure it could be smartened up a little but that comes with experience.

@erivancerqueira is testing his code with one of the test cases that requires a return of an empty ar

[2016-09-24 17:42] dhcodes commented on #10885
Will #10888 remove the necessity for this or am I reading that wrong? Seems like @BerkeleyTrue's PR may be a better option since it would work on both Mac and Windows.

[2016-09-24 17:44] ChBernat commented on #10891
Yeah, I was just writing this comments before even I could have looked at yours.

That's from where the confusion may comes from.

[2016-09-24 17:45] hallaathrad commented on #10581
Closed with #10899

[2016-09-24 17:45] #10581 closed

[2016-09-24 17:48] hallaathrad opened #10900 "Menu should show username on smaller screens"
As discussed on #10581, on smaller screens (where the nav becomes a hidden menu), the user settings link should also display the username.

Like this:

<img width="463" alt="screen shot 2016-09-13 at 12 00 30" src="https://cloud.githubusercontent.com/assets/2107110/18481300/b5340768-79a9-11e6-9b81-b3cdb6e18438.png">

[2016-09-24 17:49] hallaathrad commented on #10900
@marhyorh All yours :)

[2016-09-24 17:50] QuincyLarson opened #10901 "Back End challenge view that runs tests and saves project URL"
- As a user, when I click on a backend challenge from the map, I see:
  - a challenge description
  - a stack of tests with instructions (just like the other challenges)
  - a text field where I can enter my project's URL
- As a user, when I input the URL for my project, and click the "run test" button
  - the stack of tests tell me which passed and which failed
  - if all the tests pass, I get a

[2016-09-24 18:05] dhcodes commented on #10816
@Em-Ant fwiw, I was able to do pagination using the Bing API I believe. https://battle-mouse.hyperdev.space/

[2016-09-24 18:46] Em-Ant commented on #10816
@eliecerthoms I agree. I used google because i reverse-engineered the example project that was on fcc at that time. Setting up a google search account was quite difficult but it didn't require a credit card.
Are you sure a credit card is needed ? What do you recommend ?

[2016-09-24 19:05] marhyorh commented on #10900
@hallaathrad done :+1:

[2016-09-24 19:34] seif710 opened #10904 "cant solve iam new here"
Challenge [Add Borders Around your Elements](https://www.freecodecamp.com/challenges/add-borders-around-your-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%20%20%7D%0A%0A%20%20.thick-green-border%7Bborder-width%3A10px%3B%

[2016-09-24 19:43] #10900 closed

[2016-09-24 20:11] dhcodes commented on #10893
@samanparsi you have an error in your code. I don't believe it has anything to do with the zoom. Please consider asking for help in the [Help Chat](https://gitter.im/FreeCodeCamp/Help) room on Gitter.

[2016-09-24 20:11] #10893 closed

[2016-09-24 20:13] marhyorh commented on #10893
@dhcodes have you tried this challenge on mozilla?

[2016-09-24 20:16] dhcodes commented on #10893
@marhyorh yes. The code above works on Chrome and Firefox once corrected. I'm not on Win 8 though, but I'm fairly certain it's a code error.

[2016-09-24 20:36] dhcodes commented on #10904
@seif710 You have an error in your code. Consider asking for help in the Gitter [Help Chat Room](https://gitter.im/FreeCodeCamp/Help). There are many other campers who can help you. Happy coding!

[2016-09-24 20:36] #10904 closed

[2016-09-24 21:29] frogshelp opened #10905 "i think i may have found a bug in the test"
Challenge [Comparison with the Strict Inequality Operator](https://www.freecodecamp.com/challenges/comparison-with-the-strict-inequality-operator#?solution=var%20myval%3D%2010%3B%0A%2F%2F%20Setup%0Afunction%20testStrictNotEqual(val)%20%7B%0A%20%20%2F%2F%20Only%20Change%20Code%20Below%20this%20Line%0A%20%0A%20%20if%20(val%20!%3D%3D%2017)%20%7B%0A%0A%20%20%2F%2F%20Only%20Change%20Code%20Above%20this

[2016-09-24 21:34] erictleung commented on #10905
@frogshelp the challenge test are tests that are run in the background, independent of the function calls you make. In other words, in the background, the function call `testStrictNotEqual("bob")` is run and the result is checked. It doesn't check that you have typed it out yourself. I hope that makes sense. Closing this issue as there's no error. Happy coding!

[2016-09-24 21:34] #10905 closed

[2016-09-24 23:20] erictleung commented on #10891
I'm not sure how we would check for this kind of "loop hole." You could even run the following to pass.

[code]

So this might be a "feature" you're exploiting to complete the challenge.

[2016-09-24 23:23] eliecerthoms commented on #10816
@Em-Ant No, I just thought it would be since they said they'd automatically charge once you surpassed 5000 requests. Thanks for clarifying this. I see now Imgur, Bing, Flickr and Google can be added as options in a bullet.

[2016-09-25 00:04] neva78 opened #10907 "Kilometers/meter confusion"
Challenge [Map the Debris](https://www.freecodecamp.com/challenges/map-the-debris) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/52.0.2743.116 Chrome/52.0.2743.116 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

The earth's radius is given in km.
The [Wikipe

[2016-09-25 01:35] yplonggit commented on #10099
why you use card > 0

[2016-09-25 02:53] weltonBlazt opened #10908 "Coc"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-09-25 02:53] weltonBlazt commented on #10908
Ok

[2016-09-25 03:51] ivantedja commented on #10885
@dhcodes I'm sure that PR will have the same problem

[2016-09-25 04:09] #10908 closed

[2016-09-25 04:15] mgattozzi commented on #10869
So I've looked into this some more. Unless we split the licenses and make one of the LICENSEs non mark down Github won't recognize it with their code and the repo won't display the badge.

This means if the feature is wanted the License file must be split up unfortunately. That or a ticket is submitted to Github to patch their feature to recognize the license based on it having all of the contents

[2016-09-25 04:39] Jenny1985 opened #10909 "HELP ME"
#### Challenge Name

https://www.freecodecamp.com/challenges/make-instances-of-objects-with-a-constructor-function#?solution=%0Avar%20Car%20%3D%20function()%20%7B%0A%20%20this.wheels%20%3D%204%3B%0A%20%20this.engines%20%3D%201%3B%0A%20%20this.seats%20%3D%205%3B%0A%7D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0AmyCar%20%3D%20new%20Car()%3B%0AmyCar.topEngine%20%3D%20%22Sally%22%3B

[2016-09-25 04:45] Manish-Giri commented on #10909
@Jenny1985 Look at this instruction

You're expected to make a property with the name `nickname`, while your code has the name `topEngine`

[code]

Rewrite this line with the correct property name, and you should be good!

[2016-09-25 05:00] Jenny1985 commented on #10909
well now im super pissed at myself, thank u so much, i literally wasted 2 hours trying to figure this out

[2016-09-25 05:01] #10909 closed

[2016-09-25 05:05] QuincyLarson commented on #10869
@mgattozzi were you able to get the gem working locally?

[2016-09-25 05:25] hallaathrad opened #10910 "Portfolio example's images broken"
Once again, the portfolio's images are not working, this time due to a couple of changes reorganising the server, and they should be fixed as soon as I get access to codepen.
If any @FreeCodeCamp/issue-moderators has the password to our account, please reach out to me so I can sort this out asap.💃

Thanks all for your patience.

[2016-09-25 05:51] Bouncey commented on #10885
Is there another option for JSON linting that does support wildcard paths in windows? That would solve everything

[2016-09-25 06:14] Bouncey commented on #10885
Or, could [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/gulpfile.js#L133) be the reason wildcard paths just aren't working properly?

Does it not need to be seed/challenges/**/*.json to iterate through the folders in that dir?

[2016-09-25 06:18] hallaathrad commented on #10910
Problem solved 💨
In other news, do not edit codepen while on your phone. It sucks

[2016-09-25 06:18] #10910 closed

[2016-09-25 06:30] ivantedja commented on #10885
I think it is [https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/package.json#L22](this line).

`npm test` will run `pretest, test, posttest` under `scripts: {}`

I'm not really sure which one cause the fail though as I don't have Windows to test it 😢

[2016-09-25 06:46] froxas908 commented on #8146
So what do they mean by closing angle bracket?

[2016-09-25 07:36] hgdsraj commented on #10907
Because the radius, altitude, semi-major axis ans gravitational parameter are all exprssed in kilometers, the division of aTemp/GM provides the same ratio as if aTemp and GM were in meters.

Note: GM in meters is 3.986004418(9)×10^14 meters cubed per centisecond.
You will note that simply dividing this value by 1000 does not yield the given kilometers cubed per centisecond value from the problem s

[2016-09-25 07:56] gsuxlzt opened #10911 "Where do I belong not marking correct answers as correct."
Challenge [Where do I belong](https://www.freecodecamp.com/challenges/where-do-i-belong#?solution=%0Afunction%20getIndexToIns(arr%2C%20num)%20%7B%0A%20%20%2F%2F%20Find%20my%20place%20in%20this%20sorted%20array.%0A%20%20var%20res%20%3D%20arr.sort(function(a%2Cb)%7B%20return%20a-b%3B%7D)%3B%0A%20%20for%20(var%20x%20in%20res)%20%7B%0A%20%20%20%20if%20(res%5Bx%5D%20%3E%3D%20num)%20%7B%20return%20x%3B%

[2016-09-25 08:58] kolbasavert commented on #3543
var oldArray = [1,2,3,4,5];

// Only change code below this line.
var newArray = oldArray.map(function(val){
  return val += 3 ;
});

[2016-09-25 09:31] yplonggit opened #10912 "The description is wrog"
Challenge [Filter Arrays with filter](https://www.freecodecamp.com/challenges/filter-arrays-with-filter#?solution=%0Avar%20oldArray%20%3D%20%5B1%2C2%2C3%2C4%2C5%2C6%2C7%2C8%2C9%2C10%5D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0Avar%20newArray%20%3D%20oldArray.filter(function(val)%7B%0A%20%20return%20val%3C6%3B%0A%7D)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Win

[2016-09-25 10:18] SasukeUchiha619 commented on #2303
Make sure you have nested all HTML elements in .container-fluid. this is not compleated

[2016-09-25 10:28] SasukeUchiha619 commented on #2303
Your new image should be below your old one and have the class img-responsive.

[2016-09-25 10:32] SasukeUchiha619 commented on #2303
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    wid

[2016-09-25 10:55] Noigallardo opened #10913 "I'm stuck"
#### Build a Tribute Page

#### Browser Information

* Browser Name, Version: google chrome
* Operating System: windows 10
* Desktop

[2016-09-25 11:26] ktajpuri commented on #10913
Can you please elaborate? Where are you stuck ?
Please contact in gitter. Its almost always better.
https://gitter.im/FreeCodeCamp/HelpBackEnd

[2016-09-25 11:34] ktajpuri commented on #10912
I will like to fix this one please. I am a first timer. trying to describe the issue in a bit better.

The description for problem shows :
![image](https://cloud.githubusercontent.com/assets/10725893/18815042/f3a3f750-8341-11e6-935e-1e3d57fb1d2e.png)

Test Case shows :
![image](https://cloud.githubusercontent.com/assets/10725893/18815045/0bbaecf4-8342-11e6-8eb6-dc6699269754.png)

The text should h

[2016-09-25 12:29] xgqfrms-GitHub opened #10915 "$('button').addClass("animated bounce"); is ok!"
Challenge [Target HTML Elements with Selectors Using jQuery](https://www.freecodecamp.com/challenges/target-html-elements-with-selectors-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%24('button').addClass(%22animated%20bounce%22)%3B%0A%20%20%20%20%24(%22button%22).addClass(%22animated%20bounce%22)%3B%0A%20%20%7D)%3B%0Afcces%0A%0A%3C!--%20Only%20change%20code%20abo

[2016-09-25 12:30] xgqfrms-GitHub commented on #10915
**it seems not correct!**

[2016-09-25 12:31] #10915 closed

[2016-09-25 13:04] beardedtim commented on #8207
Just my two cents from helping people in Gitter with this problem:

It seems that students are not understanding that `obj[key]` is being resolved/boiled down into an actual value and instead is just some sort of magic. If instead of just showing them `obj[key][otherKey]`, I think it would be more effective if we showed them that to our computer `obj[key]` is a value, just like `obj` is.

I am not

[2016-09-25 13:41] DavOnGit commented on #10911
Actually your code don't pass the last test: infact if `num` is greater than the max value in `arr` your if condition is not true and the code exit.

[2016-09-25 14:05] humbrod99 opened #10916 "I am having problems with using a CSS class to style an element. I'm lost and need help."
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20.red-text%7B%0A%20%20%20%20.color%3Ared%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20

[2016-09-25 14:09] humbrod99 commented on #10916
I did it but nobody help me there. I waited like 20 minutes and nobody said anything to my problem but thanks anyway

[2016-09-25 14:10] #10916 closed

[2016-09-25 14:16] shubham1996 commented on #10911
As pointed out @DavOnGit your code isn't taking care of an edge case present in the last test case.
But the test cases are not being shown evaluated because you have overlooked the fact that a for-in loop is generally used to iterate over object properties, and the type of variable x in your loop will not necessarily be an number. Since the asserts in the test cases of this question expect it to b

[2016-09-25 14:27] Bouncey commented on #10912
I think there is a misunderstanding for non native English speakers. The instructions are asking to the same thing, but from different perspectives.

What the filter callback is doing in the example from @yplonggit provided is basically saying

If val is less than 6, return it. Else do nothing.

This will give us a new array where all values are less than 6, all values that are 6 or higher have be

[2016-09-25 14:42] gsuxlzt commented on #10911
Yes I realized that and changed my code accordingly. Thank you for your answers! This thread can be closed now.

[2016-09-25 14:42] #10911 closed

[2016-09-25 15:39] mgattozzi commented on #10869
I was looking all over and couldn't find it. However after researching I
found what gem they use buried in the docs. Let me retry again and I'll
keep you posted.

On Sun, Sep 25, 2016, 01:08 Quincy Larson <notifications@github.com> wrote:

[2016-09-25 16:17] Bouncey commented on #10891
@erictleung there is no loophole, that is a feature of the language. Some see it as an advantage over statically typed languages

That's basically saying if val it true, return val.

[2016-09-25 16:19] denied0311 commented on #2899
I am trying to give a background color to a <div> element. What i did worked and it changed the background color to "silver" as it was supposed to. yet it tells me it is wrong. my code is below: help please?

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p

[2016-09-25 16:20] BerkeleyTrue commented on #2899
The issue tracker is for reporting bugs only. If this is an issue for help with a challenge, please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-09-25 16:22] Bouncey commented on #10891
If you wanted to return all the falsely values, you would do

return !val;

[2016-09-25 16:58] erictleung commented on #10913
@Noigallardo thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help) or [HelpFrontEnd](https://gitter.im/FreeCodeCamp/HelpFrontEnd). Happy coding!

[2016-09-25 16:58] #10913 closed

[2016-09-25 17:04] ktajpuri commented on #10912
@Bouncey  You are correct. Do you think changing the description of the second test case as below to avoid confusion for non native English speakers?
* All the values of `newArray` should be less than 6.

[2016-09-25 17:38] neva78 commented on #10907
Many thanks for the explanation. One other aspect that puzzled me was I
thought the semi-major axis would equal (avgAlt * 2) + radius, to account
for the altitude at each of the two points above the earth that marked the
extremities of the ellipse.
I appreciate your help and understand if you don't have time to address
this point as well.

On Sun, Sep 25, 2016 at 8:39 AM, Raj Mahey <notifications@

[2016-09-25 17:45] texas2010 commented on #2303
@SasukeUchiha619
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-09-25 17:47] texas2010 commented on #3543
@kolbasavert
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-09-25 17:47] QuincyLarson commented on #10912
@ktajpuri I think we should stick with the "you should" structure used with the other tests, but we can definitely make it easier to understand for non-native English speakers. We strive to be easily understood in all of our copy on FCC.

[2016-09-25 17:50] texas2010 commented on #10843
@oswynl13l, which challenge you are on?
Please post your code on here. thanks

[2016-09-25 18:00] BerkeleyTrue commented on #10885
@Bouncey I think you are correct. The library that does the json linting itself does not take precautions for windows paths.

[2016-09-25 18:03] hgdsraj commented on #10907
As we are adding to the radius, and not the diameter, there is no need to
multiply by two. The radius is the distance from the center of the sphere
(the inner core) to the outer crust. This is not the distance across the
entire sphere.  Adding the avgAlt gives us the total radius, from the
center of the sphere to the object. We would only multiply by two of we
were considering the diameter.

Raj

[2016-09-25 18:13] LakunleD commented on #10847
The problem is the  letter F  in "Not Found". Change it to UpperCase F and it would pass

[2016-09-25 18:14] LakunleD commented on #10725
The problem is the letter F in "Not Found". Change it to UpperCase F and it would pass

[2016-09-25 18:17] neva78 commented on #10907
Ah, of course. I confused radius and diameter. Thanks again.
Best wishes,
Nick

On Sun, Sep 25, 2016 at 7:06 PM, Raj Mahey <notifications@github.com> wrote:

[2016-09-25 19:03] dhcodes commented on #10809
I'm opening this back up to anyone that wants it. I've spent a decent amount of time working on it but can't get it working.

[2016-09-25 20:12] Bouncey commented on #10912
@ktajpuri seeing as you have a PR open for this issue, can you please change the test message from:

`You should have filtered out all values from the array that are greater than 5.`

to

`<code>newArray</code> should be an array containing only the values from <code>oldArray</code> that are less than 6.`

Use `git commit --amend` to update your PR.

Please follow the advice from [CONTRIBUTING.md]

[2016-09-25 20:18] Bouncey commented on #10891
Closing as there is no issue that I can see.

If I have misunderstood your issue, feel free to open this issue again

Happy coding!

[2016-09-25 20:18] #10891 closed

[2016-09-25 20:53] ktajpuri commented on #10912
Thanks @Bouncey @QuincyLarson  for considering my PR. I have made the changes suggested. Please review the PR.

[2016-09-25 21:08] Bouncey commented on #10879
I've just had a quick play around with this, but to be honest I'm shooting from the hip, in the dark, blindfolded!

Things I learnt:
* `user` is indeed undefined when that module is read
* Nav bar profile picture and brownie points are not rendered at the time of 'user' being read

Could this be an async issue? @BerkeleyTrue

[2016-09-25 21:50] Bouncey commented on #10879
I have just seen this whilst QA'ing a PR.

When I clicked `Update my profile from github` this appeared in the shell:

[code]

It's getting as far as rendering the setting page, but then redirects to map when it hits `if (!user)`

Only after arriving at map am I declared to be signed in.

[2016-09-25 22:33] erivancerqueira commented on #10891
@Bouncey Exactly!! It's  saying if val it true, return val.I thought that this condition should apply only to the elements! == false that undefined and others should returned, but all it are treated as false and all are ignored which causes the code passes the test. But I understand that this is so that javascript is these values, [false, null, 0, NaN, undefined, ""], all as false.

[2016-09-25 23:00] #10912 closed

[2016-09-25 23:15] ajimenezrosa opened #10917 "Finders Keepers Issue"
Challenge [Finders Keepers](https://www.freecodecamp.com/challenges/finders-keepers#?solution=%0Afunction%20findElement(arr%2C%20func)%20%7B%0A%20%20%2F%2F%20Make%20num%20undefined%20by%20default%0A%20%20var%20num%3B%0A%0A%20%20%2F%2F%20Loop%20thorugh%20the%20array%20and%20use%20the%20function%20to%20check%0A%20%20for%20(var%20a%20%3D%200%3B%20a%20%3C%20arr.length%3B%20a%2B%2B)%20%7B%0A%20%20%20%2

[2016-09-25 23:28] odulzaides commented on #8974
In my code I kept getting the right results but not achieving a pass. Turns out I was not putting a return statement for the collection inside the function. That made it pass. Last detail was getting me!!!!

[2016-09-26 00:28] erictleung commented on #10917
@ajimenezrosa your code works. Can you elaborate on what your issue is?

[2016-09-26 01:30] dhcodes commented on #10907
Closing as seems to be resolved

[2016-09-26 01:30] #10907 closed

[2016-09-26 03:50] kbeni commented on #10838
your second <p> is wrong it should contain text :
Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip the couch sleep in the sink fluffy fur catnip scratched.

[2016-09-26 04:03] kbeni commented on #8909
same error
<style>
  .red-text {color: red;}
  p {font-size=16px;}
</style> please help

[2016-09-26 04:40] RudyBarroso opened #10919 "Picture slide show not moving to next picture."
//////JAVA///////

<script>
(function ($, window, undefined) {
    $(function(){
        var counter = 0,
            $items = $('.diy-slideshow figure'),
            numItems = $items.length;

        var showCurrent = function(){
            var itemToShow = Math.abs(counter%numItems);

            $items.removeClass('show');
            $items.eq(itemToShow).addClass('show');
        };

[2016-09-26 04:41] #10919 closed

[2016-09-26 05:29] oswynl13l commented on #10843
<h1>Hello</h1>
It says replace the h1 elemet by hello world
So o doing tht i cant get progress on the page its kinda hanged, wht should
i exactly type , nd where , plz help

On Sun, Sep 25, 2016 at 11:23 PM, Lance <notifications@github.com> wrote:

[2016-09-26 05:47] 93vishnu opened #10920 "there is a repetitive error"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-09-26 05:47] Bouncey commented on #10843
Change <h1>Hello</h1> to <h1>Hello World</h1> and press the 'Run tests' button.

This should give you an idea as to how the challenges work.

If we are asking you to do something, it is to be done in the black area on screen, this is called the code editor.

Hope this helps, happy coding :tada:

[2016-09-26 05:52] Bouncey commented on #10920
@93vishnu sorry to hear you are having trouble with freeCodeCamp and thank you for reporting it.

But we really do need more information. A challenge name would be good, a copy and paste of your code would be fantastic too. And if you could be more descriptive of the error, we might just be able to help you out!

In short, we need you to help us help you :smiley:

[2016-09-26 06:12] #8673 closed

[2016-09-26 06:24] ivantedja commented on #10879
It seems that `user` is defined only if we are within react app. `/username` has not been converted into react so `user` is undefined. It can be replicated via `/about` as well (not react-ed yet). Whereas it should work fine if `/settings` accessed from:
- `/challenges`
- `/map`
- `/settings` itself

[2016-09-26 07:24] Bouncey commented on #10797
Closing as code help

[2016-09-26 07:24] #10797 closed

[2016-09-26 07:43] frogshelp opened #10921 "do believe i found a bug in this challenge"
Challenge [Comparisons with the Logical Or Operator](https://www.freecodecamp.com/challenges/comparisons-with-the-logical-or-operator#?solution=%0Avar%20myval%20%3D0%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0A%20%20if%20(val%20%3E%3D%2019%20%7C%7C%20val%20%3C%3D%2020)%20%7B%0A%20%20%20%20return%20%22Outside%22%3B%0A%20%20%7D%0A%0A%20%20%20%7B%0A%20%20%20%20return%20%22Outs

[2016-09-26 07:50] Jiangmx commented on #10893
![2e0eb548-91d3-4a49-ad7c-669b44163b81](https://cloud.githubusercontent.com/assets/4746814/18826436/fa74a4d0-83ff-11e6-9741-ac6d550fde68.png)
![542067c4-f4f3-4643-80d9-f87d0f74dc97](https://cloud.githubusercontent.com/assets/4746814/18826462/16cab11a-8400-11e6-91d2-5b944ecfc170.png)
@dhcodes tried many ways,Did I misunderstand the question?

[2016-09-26 07:53] erictleung commented on #10921
@frogshelp thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Reset your code will help because it appears you have deleted the function declaration for `testLogicalOr` at the beginning. So your code should have some structure like

[code]

Each of the challenge tests will r

[2016-09-26 07:53] #10921 closed

[2016-09-26 07:59] frogshelp commented on #10921
no its not help its no matter what i do to the code the ones for should rrturn insde fails  every time and does not change  no matter how u change the code and i have reset  and refreshed my brower 3 times and no matter what i do those three for  should return inside does not pass at all and i do belive its caused by having to remove the second if statment  cause ive tried to add into one if statm

[2016-09-26 08:00] frogshelp commented on #10921
![image](https://cloud.githubusercontent.com/assets/19509837/18826883/b46f87b4-839d-11e6-9200-4261e3045a82.png)
and this is even after reseting the code

[2016-09-26 08:04] Marmiz commented on #10893
@Jiangmx if you look more carefoully, there's a typo in your code.
Specifically there's a colon in the class declaration:
[code]

My suggestion is to always turn to the [Help Chat](https://gitter.im/FreeCodeCamp/Help) before assuming there's a bug.
Happy coding :)

[2016-09-26 08:15] frogshelp opened #10922 "do belive i found a bug in this challenge"
Challenge [Comparisons with the Logical Or Operator](https://www.freecodecamp.com/challenges/comparisons-with-the-logical-or-operator#?solution=%0Avar%20myval%20%3D0%3B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0A%20%20if%20(val%20%3E%3D%2019%20%7C%7C%20val%20%3C%3D%2020)%20%7B%0A%20%20%20%20return%20%22Outside%22%3B%0A%20%20%7D%0A%0A%20%20%20%7B%0A%20%20%20%20return%20%22Outs

[2016-09-26 08:23] erictleung commented on #10921
@frogshelp thanks for the clarification. However, your code is incorrect. Please check which challenge tests that are failing and think about why they are failing.

Also, you have an isolated piece of code

[code]

that isn't doing anything. Please consult the [Help Room](https://gitter.im/FreeCodeCamp/Help) if you have any more questions. Happy coding!

[2016-09-26 08:26] marhyorh commented on #10922
You have some couple errors in your code, pls use this [Help Room](https://gitter.im/FreeCodeCamp/HelpJavaScript) and close the issue :+1:

[2016-09-26 08:30] Jiangmx commented on #10893
orz!Thank you.
Coding without IDE makes typo anywhere.

[2016-09-26 08:47] ktajpuri commented on #10922
I recommend reading this [if else] .(https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Statements/if...else)

[2016-09-26 09:02] ktajpuri commented on #10485
Can I work on fixing this one please?

[2016-09-26 09:22] erictleung commented on #10922
@frogshelp as I and others have pointed out, there are errors in your code. Please take a look at the help room for more help. Again, I would recommend looking at the challenge tests that your code is failing and figuring out why. Closing this issue as GitHub issues are not for coding help. Happy coding!

[2016-09-26 09:22] #10922 closed

[2016-09-26 10:34] asapuneha opened #10923 "HELP!"
Challenge [Escaping Literal Quotes in Strings](https://www.freecodecamp.com/challenges/escaping-literal-quotes-in-strings#?solution=%0Avar%20myStr%20%3D%20%22%5C%20I%20am%20a%20%5C%22double%20quoted%5C%22%20string%20inside%20%5C%22double%20quotes%5C%22%20%22%20%3B%20%0A%2F%2F%20Change%20this%20line%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/5

[2016-09-26 11:04] xgqfrms-GitHub opened #10924 "let ourName; why has ES 6 Warning ?"
Challenge [Declare JavaScript Variables](https://www.freecodecamp.com/challenges/declare-javascript-variables#?solution=%0A%2F%2F%20Example%0Avar%20myName%3B%0A%2F%2F%20let%20ourName%3B%0A%2F%2FES6%20%3A%20undefined%2C%20null%2C%20boolean%2C%20string%2C%20symbol%2C%20number%2C%20object.%0A%2F%2F%20Define%20myName%20below%20this%20line%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows

[2016-09-26 12:55] ktajpuri commented on #10924
@xgqfrms-GitHub  Please use [help chat room] (https://gitter.im/FreeCodeCamp/Help) as your first place when you have any confusion in a challenge.
In this challenge, you only have to edit lines below `// Define myName below this line` comment. You have declared it above. I guess this is the reason why the test is failing.

[2016-09-26 13:14] dhcodes commented on #10923
@asapuneha you have an error in your code. Please consider asking for help in the help chat room as directed by VarCI-bot above.

[2016-09-26 13:14] #10923 closed

[2016-09-26 13:16] dhcodes commented on #10485
@ktajpuri 👍  go for it :). If you have any problems, you can ask for help in the [Contributors chat room](https://gitter.im/FreeCodeCamp/Contributors)

[2016-09-26 14:37] tsalexey544 opened #10925 "Doesn't see my comments"
Challenge [Comment your JavaScript Code](https://www.freecodecamp.com/challenges/comment-your-javascript-code#?solution=%2F%2F%20d%20regularly%20add%20comments%20to%20clarify%20the%20function%20of%20parts%20of%20your%20code.%20Good%20commenting%20can%20help%20communicate%20the%20intent%20of%20your%20code%E2%80%94both%20for%20oth%0A%0A%2F*%20d%20regularly%20add%20comments%20to%20clarify%20the%20fun

[2016-09-26 15:05] texas2010 commented on #10924
I dont see any issue you have. so closed this issue since it dont have a problem

[2016-09-26 15:05] #10924 closed

[2016-09-26 15:20] ivantedja commented on #10925
it appears that the test is not allowing word `function`

cc @FreeCodeCamp/issue-moderators

[2016-09-26 15:28] texas2010 commented on #10924
@xgqfrms-GitHub, that challenge dont have a problem.  that challenge didnt ask you write let.  you suppose to write var.   this case is closed.

happy coding!

[2016-09-26 15:54] ktajpuri commented on #10925
This is intresting ! :+1:  @ivantedja you are correct. It appears this has occurred due to [this](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/6fdf5c61a7a6ec88053cfcf6e9195160b5071e1e/client/commonFramework/detect-unsafe-code-stream.js#L36-L43) line in `detect-unsafe-code-stream.js` of `commonFramework`

It appears , currently the test checks if you have a word function in the code it must be

[2016-09-26 16:22] dhcodes commented on #10925
The message isn't too bad as-is in my opinion. It's just that at this point in the curriculum, campers might not know what a function is. What do others think? cc@FreeCodeCamp/issue-moderators

[2016-09-26 16:40] dhcodes commented on #10862
Closing as stale.

[2016-09-26 16:40] #10862 closed

[2016-09-26 16:46] xgqfrms-GitHub opened #10926 "what's wrong with this?"
Challenge [Quoting Strings with Single Quotes](https://www.freecodecamp.com/challenges/quoting-strings-with-single-quotes#?solution=%0Avar%20myStr%20%3D%20'%3Ca%20href%3D%22http%3A%2F%2Fwww.example.com%22%20target%3D%22_blank%22%3ELink%3C%2Fa%3E'%3B%0Aalert(myStr)%3B%0A%0A%2F%2F%20var%20myStr%20%3D%20'%3Ca%20href%3D%22http%3A%2F%2Fwww.example.com%22%20target%3D%22_blank%22%3ELink%3C%2Fa%3E'%3B) ha

[2016-09-26 16:55] xgqfrms-GitHub commented on #10926
I just understand why?
but , after some times try, I passed!

var myStr = '<a href="http://www.example.com" target="_blank">Link</a>';
alert(myStr);

**it seems that, you shoul put your code on line 1 ? I'm not sure that!**

[2016-09-26 16:55] #10926 closed

[2016-09-26 17:09] xgqfrms-GitHub opened #10927 "myStr = "FirstLine\n\\SecondLine\\\rThirdLine";"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%3B%20%2F%2F%20Change%20this%20line%0A%0AmyStr%20%3D%20%22FirstLine%5Cn%5C%5CSecondLine%5C%5C%5CrThirdLine%22%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36<

[2016-09-26 17:12] ktajpuri commented on #10925
We should suggest in some way that use of word function might be causing the issue.

[2016-09-26 17:22] Bouncey commented on #10925
I had a PR somewhere for this that was reverted and I never got round to re submitting it. I'll dig it out tonight

[2016-09-26 17:25] dhcodes commented on #10927
Thanks for submitting this issue. I'm closing as I believe this is a duplicate of #10485. This should be fixed once a PR is made and merged from that thread and then pushed to the live site. In the meantime, please consider asking for help in the [Help Chat room](https://gitter.im/FreeCodeCamp/Help)

[2016-09-26 17:25] #10927 closed

[2016-09-26 18:39] dhcodes opened #10928 "Back End Certificate slide shows Full Stack image"
#### Challenge Name

https://www.freecodecamp.com/challenges/claim-your-back-end-development-certificate

#### Issue Description

Third slide says "Full Stack Development Certificate requirements". Should say "Back End Development Certificate requirements". This is true on `staging` and `backup/staging`.

The img link that needs to be updated is here: https://github.com/FreeCodeCamp/FreeCodeCamp/b

[2016-09-26 20:01] #9655 closed

[2016-09-26 21:28] Bouncey commented on #10928
Congrats on your backend cert :tada:!

[2016-09-26 21:31] dhcodes commented on #10928
Lol I haven't gotten it yet! Just saw this while testing a PR :+1

[2016-09-26 21:33] jihdeh commented on #10928
@dhcodes is help needed on this?

[2016-09-26 22:40] Bouncey commented on #10737
you could do something like

[code]

[2016-09-27 00:31] zarruk commented on #10892
So this means that we have to complete this challenge not calling the json but using the sample API response they're giving? Did I understand fine?

[2016-09-27 00:46] QuincyLarson opened #10930 "Improve CSP based on Google's guidance"
Google recently released a [CSP evaluator tool](https://csp-evaluator.withgoogle.com/). I ran our CSP through it and got this:
![](https://www.evernote.com/l/Ar9oJryDJw9FYJ1ItdU-Qtk6PNCMIlEuBrAB/image.png)

Note that this will require a lot of QA, as edge cases can be difficult to foresee.

[2016-09-27 02:38] dhcodes commented on #10928
@jihdeh sure, but I'm not sure who has access to the imgur assets, but if we can figure it out, then yeah it's all yours.

[2016-09-27 07:08] HQuser opened #10932 "FCC doesn't accept answers with global variables. Whether FCC should mention on challenge rules that global variables are not allowed or add a mechanism that can test challenges with global variables so that users can save their time and efforts."
Challenge [Steamroller](https://www.freecodecamp.com/challenges/steamroller#?solution=var%20result%20%3D%20%5B%5D%3B%0Afunction%20steamrollArray(arr)%20%7B%0A%20%20%2F%2F%20I'm%20a%20steamroller%2C%20baby%0A%20%20for(var%20i%20%3D%200%3B%20i%3Carr.length%3B%20i%2B%2B)%0A%20%20%20%20%7B%0A%20%20%20%20%20%20if(Array.isArray(arr%5Bi%5D))%0A%20%20%20%20%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%20%20s

[2016-09-27 07:58] Bouncey commented on #10920
@93vishnu please reopen this issue if you have more information

[2016-09-27 07:58] #10920 closed

[2016-09-27 08:00] Bouncey commented on #10843
@oswynl13l can this issue now be closed?

[2016-09-27 08:01] #10800 closed

[2016-09-27 08:27] Noigallardo commented on #10913
I used to open it in Internet Explorer, and its worked...
not working in Goggle Chrome

[2016-09-27 09:22] thaobktin commented on #10392
function isLess(a, b){
  return a < b;
}

[2016-09-27 09:54] nileshbj opened #10933 ""Submit challenge" doesn't progress if page not active for more than 3 minutes"
Challenge [Inform with the Paragraph Element](https://www.freecodecamp.com/challenges/inform-with-the-paragraph-element#?solution=%0A%3Ch1%3EHello%20World%3C%2Fh1%3E%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%3Cp%3EHello%20Paragraph%3C%2Fp%3E%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36</code>.
Please desc

[2016-09-27 09:55] nileshbj commented on #10933
I have to refresh page to get it working.

[2016-09-27 11:13] marhyorh commented on #10869
@mgattozzi Can it be done [this way](https://github.com/marhyorh/FreeCodeCamp). Having a main license, and a provisional license... or perhaps something else.

[2016-09-27 11:51] Bouncey commented on #10933
Can you please tell me:

What your Operating System is? (Windows, Mac, Linux)
What browser you are having issues with? (ie/Edge, FireFox, Chrome, Safari)

Have you tried it on different browsers?

I can't reproduce this at the minute

Many thanks

[2016-09-27 12:08] c-restha opened #10934 "manipulate array using unshift"
Challenge [Manipulate Arrays With unshift](https://www.freecodecamp.com/challenges/manipulate-arrays-with-unshift#?solution=var%20ourArray%20%3D%20%5B%22Stimpson%22%2C%20%22J%22%2C%20%5B%22cat%22%5D%5D%3B%0A%0AourArray.shift()%3B%20%2F%2F%20ourArray%20now%20equals%20%5B%22J%22%2C%20%5B%22cat%22%5D%5D%0A%0AourArray.unshift(%22happy%22)%3B%20%2F%2F%20ourArray%20now%20equals%20%5B%22happy%22%2C%20%22

[2016-09-27 12:56] texas2010 commented on #10926
@xgqfrms-GitHub
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.
you cant use this issue for ask help.

Happy Coding.

[2016-09-27 13:09] marhyorh commented on #10934
Pls make use of the [help room](https://gitter.im/FreeCodeCamp/HelpJavaScript) next time. In your code you changed the restricted code. You were asked not to change the code above myArray.shift() but you replaced `var myArray = ["John", 23], ["dog", 3]];` with `var myArray = ["John", 23, ["dog", 3]];`. I suggest you reset the code the pass in the appropriate code where you are supppose to place it

[2016-09-27 13:26] Bouncey commented on #10934
@c-restha You have change the initial value of `myArray`, this is one reason the tests are not passing.

Click the `Reset` button to amend this.

As @marhyorh said, github issues are not for code help, we have dedicated chatrooms for that on gitter. Click the `Help` button to be taken there.

Please re-read the instructions and remeber that javaScript is case sensitive, and so are our tests.

Clos

[2016-09-27 13:26] #10934 closed

[2016-09-27 15:09] erictleung commented on #10932
@HQuser thanks for the issue. This is a duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9063. So closing this issue in favor of the already present issue. Happy coding!

[2016-09-27 15:09] #10932 closed

[2016-09-27 15:37] erictleung commented on #10933
I can't reproduce this either. I'm on a Mac on Chrome.

[2016-09-27 16:15] boolean-cube commented on #10696
Getting an error for h1 class, yet seems right to me.

<style>
  body {
    background-color: black;
    font-family: Monospace;
    color: green;
  }
  .pink-text {
    color: pink;
  }
</style>
<h1 class:"pink-text">Hello World!</h1>

[2016-09-27 16:20] boolean-cube opened #10936 "h1 class returns error (error resolved)"
Challenge  Prioritize One Style Over Another  https://www.freecodecamp.com/challenges/prioritize-one-style-over-another#?solution=%20style%3E%20body%20%7B%20background-color%3A%20black%3B%20font-family%3A%20Monospace%3B%20color%3A%20green%3B%20%7D%20.pink-text%20%7B%20color%3A%20pink%3B%20%7D%20%20%2Fstyle%3E%20h1%20class%3A%20pink-text%20%3EHello%20World!%20%2Fh1%3E%20%20%20has%20an%20issue.%20Us

[2016-09-27 16:21] BerkeleyTrue commented on #10885
Can someone verify where it fails on windows?

[2016-09-27 16:24] fausty1 commented on #7976
This is how it is suppose to be :)
.red-text {
    color: red;}
  p{font-size:16px;}

[2016-09-27 16:46] #10936 closed

[2016-09-27 17:03] XenoDelMoto commented on #10025
Same issue
Chrome
Linux

[2016-09-27 17:18] Bouncey commented on #10025
@monstermeat @XenoDelMoto

To be sure, you are still hitting the `Run Tests (ctrl+enter)` button to complete the challenge?

I still can't reproduce.

@XenoDelMoto it would be great if you could paste your code here for us to see

[2016-09-27 18:26] XenoDelMoto commented on #10025
<link href="https://fonts.googleapis.com/css?family=Lobster"
rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    wid

[2016-09-27 19:09] martin-simonini opened #10941 "Valid answer is not recognized"
Challenge [Missing letters](https://www.freecodecamp.com/challenges/missing-letters#?solution=%0Afunction%20fearNotLetter(str)%20%7B%0A%20%20%2F%2Fconsole.log(str)%3B%0A%20%20var%20alpha%20%3D%20(%22abcdefghijklmnopqrstuvwxyz%22)%3B%0A%20%20strArr%20%3D%20str.split(%22%22)%3B%0A%20%20var%20start%20%3D%20alpha.indexOf(strArr%5B0%5D)%20%3B%0A%20%20for(i%20%3D%20alpha.indexOf(strArr%5B0%5D)%3Bi%20%3C

[2016-09-27 19:12] mgattozzi commented on #10869
I had suggested splitting it but I don't think @QuincyLarson really wants that. I think the next solution would be to patch licensee the gem used by github upstream to detect other file names and things. A lot harder and it depends on when Github updates it if they do use it. Otherwise, splitting seems to be most viable at this time unless I figure something else out.

[2016-09-27 20:01] marhyorh commented on #10869
Okay. I'll also try looking into other ways as well.

[2016-09-27 20:29] #10819 closed

[2016-09-27 20:45] erictleung commented on #10941
@martin-simonini thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help) to check if your code is correct first. Hint: `undefined` is a special reserved word, not just a string. Happy coding!

[2016-09-27 20:45] #10941 closed

[2016-09-27 20:52] QuincyLarson commented on #10928
@dhcodes @jihdeh you can't change the image - only add a new URL. So the new image could be uploaded anywhere and then that challenge (and its translations) would need to be updated.

We are going to replace the certifications with @atjonathan's updated ones soon anyway.

[2016-09-27 21:26] jamella1 commented on #8487
you just needed to capitalize the 'K' in King, pumpkin!

[2016-09-27 21:42] ktajpuri opened #10942 "[ Feature Request ] Provide transcript for videos or alternative options"
#### Challenge Name
All the video instructions

#### Issue Description
In some places access to youtube is blocked, e.g. colleges, schools or behind corporate proxy firewall. It would be really nice to have a transcript of the video with key screenshots. This would also help people with slow internet connection or costly mobile data plans to better understand the instructions.

#### Browser Inform

[2016-09-27 22:33] texas2010 commented on #7976
@fausty1
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-09-27 22:47] erictleung commented on #10942
@ktajpuri thanks for the request. Can you give an example of an instruction video? I'm assuming its not one of the video challenges. But I thought the video instructions usually have a small transcript summary below them.

[2016-09-27 22:49] Joyfisher opened #10943 "code is right, but it won't pass???"
Challenge [Escaping Literal Quotes in Strings](https://www.freecodecamp.com/challenges/escaping-literal-quotes-in-strings#?solution=%0Avar%20myStr%20%3D%20%22I%20am%20a%20%5C%22double%20quoated%5C%22%20string%20inside%20%5C%22double%20quotes%5C%22.%22%3B%20%2F%2F%20Change%20this%20line%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_4) AppleWebKit/600.7.12

[2016-09-27 22:52] texas2010 commented on #10943
@Joyfisher, Yes your code is correct. but you got typo in the word. that is why it wont passed.
GitHub Issues are for reporting bugs on the website only.
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2016-09-27 22:52] #10943 closed

[2016-09-27 22:53] utsab commented on #10848
@BerkeleyTrue and @Bouncey, I'd be happy to take this one if you want help.  I'm a first time contributor to the codebase and I'm looking for an easy one to fix.

[2016-09-28 00:09] afable opened #10944 "Challenge Concatenating Strings with the Plus Equals Operator More Info"
#### Challenge: Concatenating Strings with the Plus Equals Operator
https://www.freecodecamp.com/challenges/concatenating-strings-with-the-plus-equals-operator

#### Issue Description
In the instructions given, I provided the following code:
[code]

Resulting in...
[code]

Which is as expected but I think new coders may not understand (or have forgotten) why myStr begins with "undefined". I sugges

[2016-09-28 00:42] afable commented on #10944
I just noticed that the example ourStr already shows this procedure, so maybe the challenge is fine as is (I tend to overlook the examples which I assume is NOT what a new coder would do).

I've also seen from other challenges that string literals are generally initialized to "" instead of being just declared and not initialized, so I suppose it boils down to whether FCC wants campers to  deal wit

[2016-09-28 01:32] maz-net-au opened #10945 "Word Blanks challenge difficult for ESL campers (and a bit obtuse for people who have never heard of madlibs)"
Challenge [Word Blanks](https://www.freecodecamp.com/challenges/word-blanks) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

I wonder if this challenge is suitable for the large number of campers who spe

[2016-09-28 01:44] Bouncey commented on #10025
@xenodelmoto there is an issue with your code, please reread the instructions. If you are still stuck, please click the 'Help' button and you will be taken to a dedicated chat room where people can advise you on you code

[2016-09-28 01:46] courtjester71 opened #10946 "all titles"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]

[2016-09-28 02:13] courtjester71 opened #10947 "Comparisons with the Logical And Operator"
#### Challenge Name

https://www.freecodecamp.com/challenges/comparisons-with-the-logical-and-operator#?solution

#### Issue Description

once again this is bullshit, its all on your end

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-09-28 02:22] monstermeat commented on #10025
@Bouncey Yes, I was hitting the "Run tests" button like in every other assignment. However, the problem seems to have been corrected. I went again just now to the only assignment in the first four sections that was marked unfinished, didn't change a thing and tried again. This time, it worked.

[2016-09-28 04:33] oswynl13l commented on #10843
Yeah

On Tue, Sep 27, 2016 at 1:32 PM, Stuart Taylor <notifications@github.com>
wrote:

[2016-09-28 04:55] #10946 closed

[2016-09-28 04:58] erictleung commented on #10947
@courtjester71 thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: your code is slightly incorrect. Please take note of capitalization of letters that is required to pass the challenge. Please seek answers in chat rooms if you still have questions. Happy coding!

[2016-09-28 04:58] #10947 closed

[2016-09-28 05:06] erictleung commented on #10944
@afable thanks for the feedback. I want to say the challenges are built so that there is some guidance but not too much. There should be bits of critical thinking involved in solving the challenges.

In this case with the code you have where you initialize the variable first, the resulting string produces an unexpected `undefined` at the beginning of the string. This may (and probably should) rais

[2016-09-28 05:07] erictleung commented on #10558
@AndreiConstantinesu closing as stale. Feel free to comment if you're still having issues. Happy coding!

[2016-09-28 05:07] #10558 closed

[2016-09-28 05:19] ShubhaMathad opened #10951 "Link to external pages using anchor tag does not get submitted, nor display messages."
#### Challenge Name

https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%2

[2016-09-28 05:32] #10951 closed

[2016-09-28 05:33] ShubhaMathad commented on #10951
I had to take the next lesson, revisit, reload the page- though the code was the same, it worked fine now. Appears to have been intermittent issue of website.

[2016-09-28 06:16] akashvevo opened #10952 "The solution code doesn't pass the check!"

[2016-09-28 06:31] ThatToti opened #10953 "Can not submit with a correct answer!"
Challenge [Target the Children of an Element Using jQuery](https://www.freecodecamp.com/challenges/target-the-children-of-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target1%22).prop(%22disabled%22%2C%20true)%3B%0A%0A%20%20%20%20%24(%22%23target1%22).parent().c

[2016-09-28 07:06] imanaibolat opened #10954 "Escape Sequences in Strings"
![ice_screenshot_20160928-130456](https://cloud.githubusercontent.com/assets/19527886/18903675/36c4878e-857c-11e6-9194-1444e576cfb5.png)
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%20%3D%20%22FirstLine%2Fn%2F%2FSecondLine%2F%2F%2FrThirdLine%22%3B%20%2F%2F%20Change%20this%20line%0A%0A%20%0A) has an issue.
User

[2016-09-28 07:11] #10954 closed

[2016-09-28 07:15] erictleung commented on #10953
@ThatToti your code is incorrect. Please take a look at the instructions once more for a hint.

If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-09-28 07:15] #10953 closed

[2016-09-28 07:16] erictleung commented on #10952
@akashvevo can you give more information about which challenge and what solution code that doesn't pass? We need more information to be able to help with your issue. Thanks!

[2016-09-28 07:22] frogshelp commented on #10148
should of changed the 4 to the at the bottom as it does state change that value  as i have done so and i did same method you used in your code and all mine passed  so when i came looking for ideas on what i did wrong and why when i change the code in anyway with the else if statements supposed to me combined i notice u took out the if  and made it else but u never changed ur value at the bottom wh

[2016-09-28 07:28] frogshelp commented on #10148
my code passed all
function testElse(val) {
  var result = "";
  // Only change code below this line

  if (val > 5) {
    result = "Bigger than 5";
  }

  else {
    result = "5 or Smaller";
  }

  // Only change code above this line
  return result;
}

// Change this value to test
testElse(7);

instructions :
Combine the if statements into a single if/else statement.
so like i just explained  as

[2016-09-28 07:46] imanaibolat opened #10955 "Concatenating Strings with Plus Operator"
![ice_screenshot_20160928-134504](https://cloud.githubusercontent.com/assets/19527886/18904808/d2a1c356-8581-11e6-8530-23e9e2aca8c0.png)
Challenge [Concatenating Strings with Plus Operator](https://www.freecodecamp.com/challenges/concatenating-strings-with-plus-operator#?solution=%0A%2F%2F%20Example%0Avar%20ourStr%20%3D%20%22I%20come%20first.%20%22%20%2B%20%22I%20come%20second.%22%3B%0A%0A%2F%2F%2

[2016-09-28 07:47] imanaibolat commented on #10955
sorry I have forgotton dots

[2016-09-28 07:47] #10955 closed

[2016-09-28 08:48] nileshbj commented on #10933
Hey there, sorry for not being descriptive, I am on Win's 7 and my browser is Chrome Version 53.0.2785.116 m.
Steps to reproduce is simple, once you are on the challenge page and for some reason not active for more than 3 mins (consider to roughly 5 mins) or so and then once you are back and try to submit the challenge the loading screen gets stuck.

[2016-09-28 09:46] kattbab1 commented on #10952
I'm not sure what this venue is about to can someone please break it down in layman's terms I'm a computer retard give me some help

[2016-09-28 10:55] anarchyrucks commented on #10740
![screenshot](https://cloud.githubusercontent.com/assets/8762472/18910951/fc1240c4-8597-11e6-8b13-3ae746145f77.jpg)

There is no link provided for the sample API response.

[2016-09-28 11:04] texas2010 commented on #10954
@imanaibolat, I checked your code. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding..

[2016-09-28 11:59] ktajpuri commented on #10942
@erictleung  I am talking about all the videos in freecodecamp curriculum. [Example 1](https://www.freecodecamp.com/challenges/save-your-code-revisions-forever-with-git) , [Example 2](https://www.freecodecamp.com/challenges/start-a-nodejs-server). I understand that there are instructions on the left as checkboxes, but it would be better to have a complete transcript like coursera provides. It is a

[2016-09-28 12:34] KrisAlaine commented on #10669
Hi encountering almost similar. Green size is same with Red but won't pass.

[2016-09-28 13:07] CostasDev opened #10956 "Everything Be True - Javascript Intermediate algoritms"
' Exercise Question' ::
Check if the predicate (second argument) is truthy on all elements of a collection (first argument).

truthCheck([{"user": "Tinky-Winky", "sex": "male", "age": 0}, {"user": "Dipsy", "sex": "male", "age": 3}, {"user": "Laa-Laa", "sex": "female", "age": 5}, {"user": "Po", "sex": "female", "age": 4}], "age") should return false.

it is said that the property(second argument) m

[2016-09-28 13:14] #10956 closed

[2016-09-28 13:14] CostasDev commented on #10956
Sorry my mistake

[2016-09-28 13:29] dhcodes commented on #10928
@QuincyLarson Since this is a challenge slide, I'm not sure the @atjonathan's overhaul will affect this. I'm fine making the image and uploading it to imgur, but I thought FCC might have an account to promote reliability of assets.

[2016-09-28 13:34] #10843 closed

[2016-09-28 15:15] atjonathan commented on #10942
We will probably be removing these challenges with the new curriculum update. Close as `bike shedding`?

[2016-09-28 15:16] zelite opened #10958 "Beta Site - Javascript challenges tests accept everything"
Challenge [comment-your-javascript-code](http://beta.freecodecamp.com/en/challenges/basic-javascript/comment-your-javascript-code) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

![image](h

[2016-09-28 15:21] xgqfrms-GitHub opened #10959 "what's wrong with this ?"
Challenge [Counting Cards](https://www.freecodecamp.com/challenges/counting-cards#?solution=%0Avar%20count%20%3D%200%3B%0A%0Afunction%20cc(card)%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20var%20a%3B%0A%20%20%20%20switch(card)%7B%0A%20%20%20%20case%202%3A%0A%20%20%20%20case%203%3A%0A%20%20%20%20case%204%3A%0A%20%20%20%20case%205%3A%0A%20%20%20%20case%206%3A%20%0A%20%2

[2016-09-28 15:23] cyxconfluence opened #10960 "why it doesn't work?Always say:You need an a element that links to http://freecatphotoapp.com"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2016-09-28 15:25] xgqfrms-GitHub commented on #10959
var count = 0;

function cc(card) {
  // Only change code below this line
    var a;
    switch(card){
    case 2:
    case 3:
    case 4:
    case 5:
    case 6:
//         count ++;
        a = 1;
      break;
    case 7:
    case 8:
    case 9:
//         count = 0;
         a = 0;
     break;
    case 10:
    case  'J':
    case  'Q':
    case  'K':
    case  'A':
//         count --;

[2016-09-28 15:25] #10959 closed

[2016-09-28 16:19] goku582 opened #10961 "It's bugged"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2016-09-28 17:04] dhcodes commented on #10960
@cyxconfluence you have a small error in your code. Please consider asking for help in the chat room by clicking the Help button. Also check your URL closely.

[2016-09-28 17:04] #10960 closed

[2016-09-28 17:18] dhcodes commented on #10961
@goku582 Please click the help button and get feedback on your code in the chat room. You have an error and have not met one of the criteria.

[2016-09-28 17:18] #10961 closed

[2016-09-28 17:26] QuincyLarson commented on #10740
@anarchyrucks I've included it: http://forum.freecodecamp.com/t/use-the-twitchtv-json-api/19541

[2016-09-28 17:26] #10740 closed

[2016-09-28 17:28] QuincyLarson commented on #10928
@dhcodes I am replacing all of these certificate claiming challenges on Staging. So this challenge will cease to exist.

[2016-09-28 17:58] #10928 closed

[2016-09-28 17:59] xgqfrms-GitHub opened #10962 "what's wrong with this ?"
Challenge [Profile Lookup](https://www.freecodecamp.com/challenges/profile-lookup#?solution=%0A%2F%2FSetup%0Avar%20contacts%20%3D%20%5B%0A%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%22firstName%22%3A%20%22Akira%22%2C%0A%20%20%20%20%20%20%20%20%22lastName%22%3A%20%22Laine%22%2C%0A%20%20%20%20%20%20%20%20%22number%22%3A%20%220543236543%22%2C%0A%20%20%20%20%20%20%20%20%22likes%22%3A%20%5B%22Pizza%22%2

[2016-09-28 18:01] hippybear opened #10963 "Clicking Links in gitter containing the "#?solution=" parameter overwrites correct code and replaces it with the incorrect code."
#### Challenge Name
All challenges tested so far

#### Issue Description
UserA: Shares link containing the #?solution= with their incorrect solution
UserB: clicks link

![linkclicked__wrong__freecodecamp helpjavascript gitter](https://cloud.githubusercontent.com/assets/14003326/18925865/75212a26-856a-11e6-9f20-8bafec3d7359.png)

UserB[BeforeClick]
![before_free code camp](https://cloud.githubuserc

[2016-09-28 18:20] xgqfrms-GitHub commented on #10962
I just confused of the test cases 2 & 3!

There should be the same result?

"Sherlock", "likes" should return ["Intriguing Cases", "Violin"]
"Harry","likes" should return an array

[code]
![a](https://cloud.githubusercontent.com/assets/18028768/18926680/58f3678e-85eb-11e6-9d07-eb23a326ccbe.PNG)

[2016-09-28 18:37] xgqfrms-GitHub commented on #10962
After testing on Chrome, I found that here some bugs of my code!
![likes-error](https://cloud.githubusercontent.com/assets/18028768/18927241/abf4c336-85ed-11e6-8f24-d6eded638fa1.PNG)

[2016-09-28 18:43] xgqfrms-GitHub commented on #10962
This is the passed code!
[code]

[2016-09-28 18:43] xgqfrms-GitHub commented on #10962
OK, just coding!

[2016-09-28 18:56] XenoDelMoto commented on #10653
Same issue

[2016-09-28 19:14] #9449 closed

[2016-09-28 19:23] dhcodes commented on #10963
@hippybear If you go into your profile and look at the challenge, is it still your old code? I think your code is only overridden if the code in the challenge you clicked is correct, the tests pass, and you click Submit to go to the next challenge.

[2016-09-28 19:30] hippybear commented on #10963
@dhcodes no, I have done it a few times while helping people in the gitter rooms and I revisit some of my old challenges and its all wrong

[2016-09-28 19:54] TCS261deag opened #10964 "How is this not correct???"
Challenge [Use an ID Attribute to Style an Element](https://www.freecodecamp.com/challenges/use-an-id-attribute-to-style-an-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20fo

[2016-09-28 19:56] dhcodes commented on #10963
I cannot confirm. I tested this with a link in Gitter. The code was incorrect and I ran the tests. I then went to my profile and loaded my accepted solution and it was still my own from months ago. Also, I think this will be remedied by the new site update.

[2016-09-28 19:59] hippybear commented on #10963
Example link with Wrong code

https://www.freecodecamp.com/challenges/generate-random-whole-numbers-within-a-range#?solution=%2F%2F%20Example%0Afunction%20ourRandomRange(ourMin%2C%20ourMax)%20%7B%0A%0A%20%20return%20Math.floor(Math.random()%20*%20(ourMax%20-%20ourMin%20%2B%201))%20%2B%20ourMin%3B%0A%7D%0A%0AourRandomRange(1%2C%209)%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0A

[2016-09-28 20:02] TCS261deag commented on #10964
![screenshot 1](https://cloud.githubusercontent.com/assets/22304036/18930131/e41c88ec-8594-11e6-95c7-2be4ae3588d2.png)

[2016-09-28 20:03] hippybear commented on #10963
Clicking on the "View Solution" from my profile does show my code. But clicking on Map and clicking the link in the map to go to that challenge still has the wrong code. My solution must be stored? Im not usually going into my profile and clicking to view my solution when trying to help people in chat. I usually go to my map or click their link.

[2016-09-28 20:09] dhcodes commented on #10963
@hippybear Your solution is stored in the database and that's what you see when you click "View Solution". What you see from the map links is stored in your browser cache. As a workaround, you could right-click and open links from Gitter in an incognito window and they would not change what's in your cache.

[2016-09-28 20:09] QuincyLarson opened #10965 "Tail randomly outputs stale data"
The tail will randomly output content from previous challenges in the output box. I'll try to add a gif soon. This will prevent us from being able to QA the challenges.

[2016-09-28 20:31] genkibit commented on #10740
Ah, apologies. I forgot to close the <a> tag. Should I submit a PR with correction?

[2016-09-28 20:32] Fernando-Marquardt commented on #10964
Your form has an id of "cat-photo-form", but your CSS #id selector is "cat-photo-element".

[2016-09-28 20:34] TCS261deag commented on #10964
Wow I feel brain dead, thank you!

[2016-09-28 20:47] HKuz opened #10966 "Assert tests all returning true (Staging and Curr. Exp. Branches)"
For the `feature/curriculum-expansion` branch only. When this branch is running locally, the challenge tests are all passing, even when no answer / incorrect code is typed into the editor. The assert messages aren't showing on screen anymore either - it's just the green check mark. This started happening sometime after the Monday, Sept 26th merges for the branch.

Update: confirmed issue on both `

[2016-09-28 20:55] Bouncey commented on #10966
I noticed this on Tuesday just after midnight GMT, I had branched off staging.

I just thought I had broke something as I was working on tests...

[2016-09-28 21:15] Bouncey commented on #10966
So juts now I did

`git pull upstream staging`

`node seed`

`gulp`

Navigated to a challenge and just hit the `Run Tests` button and passed with a success toast. I entered no code into the editor.

I noticed two stack traces in the gulp terminal.
[code]

Certainly looks like it is related

[2016-09-28 21:19] Bouncey commented on #10966
Wait, does #10886 mean we have to change all the tests?

[2016-09-28 21:22] HKuz commented on #10966
@Bouncey - thanks for confirming, and adding that detail 👍 - I was trying to figure out what I broke locally, too. Staging was merged into the feature/curriculum-expansion branch Monday so likely same issue on both branches.

[2016-09-28 21:23] Bouncey commented on #10963
Or try and encourage markdown code blocks in gitter

[2016-09-28 21:46] Bouncey commented on #10966
So I changed this:
[code]

to this:
[code]

and the tests worked, but the view is broken.

Initially, the test suite looks like it should, messages and icons.

If the test passes, green icons and messages

If the tests fail, initial icons (not fail) and no message

If the tests pass once again, green icons and sometimes a message, sometimes not.

[2016-09-28 21:49] jhuynh85 commented on #5727
I'd like to work on this issue if it still needs fixing

[2016-09-28 21:57] erictleung commented on #10964
@TCS261deag sounds like the issue has been resolved. Happy coding!

[2016-09-28 21:57] #10964 closed

[2016-09-28 22:34] tsalexey544 commented on #10945
English is not my first. I can tell what I did: I just added random words =)

But I agree. If it was simpler would be more fun

[2016-09-28 22:53] KV144 commented on #3937
Can you explain. Just show a picture

[2016-09-28 23:13] stolenletters opened #10968 "Picture of text not accessible for screen readers."
#### Use the Bootstrap Grid to Put Elements Side By Side

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-09-28 23:15] texas2010 commented on #3937
@KV144, this issue is old.
if you need a help. Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-09-28 23:26] Fernando-Marquardt commented on #10945
English is my second language and I didn't find this challange difficult at all. A quick search explained what "madlibs" is and there is even a link to the Wikepedia.

But, I do agree that maybe there is a better way to explain the challange, without the use of the "madlibs" reference.

[2016-09-29 00:03] Fernando-Marquardt commented on #5727
Maybe change it to be like: https://www.freecodecamp.com/challenges/url-shortener-microservice or https://www.freecodecamp.com/challenges/timestamp-microservice. These ones give a bit more information.

[2016-09-29 03:41] afable opened #10969 "Record Collection URLs open in current window"
#### Challenge Name
https://www.freecodecamp.com/challenges/record-collection

#### Issue Description
`Mozilla Developer Network` and `Manipulating Complex Objects` URLs do not open in a new tab. I assume opening in a new tab is the desired behaviour based on previous challenges I have encountered. Also, I always assumed the icon that appears after the URL name suggested this behaviour.

* Browser

[2016-09-29 03:55] jhuynh85 commented on #5727
I'm going to go with @SaintPeter's suggestion:

Does that sound alright?

[2016-09-29 04:36] afable commented on #8207
I found the `Record Collection` challenge more difficult because a few challenges before it, the `Accessing Nested Objects` challenge would not accept the following code:

[Accessing Nested Objects challenge gives multiple warnings that both ['car'] and ['inside'] is better written using dot notation](https://www.freecodecamp.com/challenges/accessing-nested-objects#?solution=%0A%2F%2F%20Setup%0Ava

[2016-09-29 05:41] QuincyLarson commented on #10740
@genkibit yes please

[2016-09-29 05:55] Muhsin2016 commented on #9764
Hi after I tried differnt ways this is how this code works

var myStr = "FristLine\n\\SecondLine\\\rThirdLine";

[2016-09-29 05:57] Muhsin2016 commented on #9764
sorry, it has two backslashs before second and \r after the two backlashs of second;
var myStr = "FristLine\n\\SecondLine\\\rThirdLine";

[2016-09-29 06:00] Muhsin2016 commented on #9764
var myStr = "FirstLine\n\\secondLine\\\rThirdLine";

[2016-09-29 06:02] Muhsin2016 commented on #9764
some how when I post my code is not showing the right way again there are \\ before the secondand \\
\r before the third

[2016-09-29 06:04] QuincyLarson commented on #8418
Hi @abhisekp have you made any progress downloading these?

[2016-09-29 06:06] #10805 closed

[2016-09-29 06:52] VitaminVolcano opened #10970 "Test cases not working"
Challenge [Drop it](https://www.freecodecamp.com/challenges/drop-it#?solution=function%20dropElements(arr%2C%20func)%20%7B%0A%20%20%2F%2F%20Drop%20them%20elements.%0A%20%20return%20arr.filter(func)%3B%0A%7D%0A%0AdropElements(%5B1%2C%202%2C%203%5D%2C%20function(n)%20%7Breturn%20n%20%3C%203%3B%20%7D)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (K

[2016-09-29 06:55] #10970 closed

[2016-09-29 06:57] VitaminVolcano commented on #10970
Misunderstood the instructions.

[2016-09-29 07:16] erictleung commented on #10969
@afable thanks for the issue. You're right. They should open up in a new tab like all the other links.

[These two lines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/6ce5f14e779673ae117de41c664fea6989750bc9/seed/challenges/01-front-end-development-certification/basic-javascript.json#L4914-L4915) need to be edited so they have `target=\"_blank\"` within those links..

[2016-09-29 08:18] TuanAnhVu opened #10971 "FreeCodeCamp : Build a Tribute Page"
Challenge [Build a Tribute Page](https://www.freecodecamp.com/challenges/build-a-tribute-page) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[2016-09-29 08:24] erictleung commented on #10971
@TuanAnhVu can you give us more information about your issue? If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help).

[2016-09-29 08:51] ivantedja opened #10972 "[beta] Navigating to different challenges repeatedly should "reset" code editor's undo history"
Steps to reproduce:
1. go to one of a challenge
2. click "Map"
3. click another challenge
4. repeat step 2 and 4 as many as you want
5. CTRL-Z (undo) in the editor will restore the editor to previous challenge

Expectation:
- when a challenge is opened, the CTRL-Z (undo) history expected to be cleared

Related with [this](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/806#issuecomment-2493667

[2016-09-29 09:45] alexanderholman commented on #10969
A pull request with a fix for this has been made

[2016-09-29 09:58] ofuochi commented on #7356
I agree with @unc0mm0n. The test totally contradicts the instruction. It return 10 instead of 4.

[2016-09-29 10:16] alexanderholman commented on #10930
The best way to achieve this is via a HTTP header, or it can be done via a `<meta>` tag:

[2016-09-29 11:43] ofuochi commented on #9037
@erictleung How do I use your explanation for `pairwise([1, 1, 1], 2)`? given that the indices are as follow:
- Indices 0,1 with elements 1,1  => sum of indices is 0 + 1 = 1
- Indices 1,2 with elements 1,1.  => sum of indices is 1+ 2 = 3
Total = 1+ 3 = 4

Thus following your explanation, `pairwise([1, 1, 1], 2)` should return 4 which is not supposed to be. It is supposed to return 1 because it is

[2016-09-29 11:47] texas2010 commented on #10970
@VitaminVolcano, no problem.  you could go to [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) if you need a help.

Happy Coding.

[2016-09-29 11:50] texas2010 commented on #9764
@Muhsin2016
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2016-09-29 13:17] sinanalkaabi opened #10976 "help"
Challenge [Create a Set of Checkboxes](https://www.freecodecamp.com/challenges/create-a-set-of-checkboxes#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%

[2016-09-29 13:48] ArielLeslie opened #10977 "FCC's built-in console doesn't show console.log() output (Chrome)"
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36</code>.

The text in the FCC pseudo-console gives the impression that `console.log()` outputs will appear there.
[code]
I thought that the last FCC update added this feature but in Chrome 53.0.2785.116 on Windows, the browser console is still the only way to see `conso

[2016-09-29 13:48] internetbird commented on #10976
@sinanalkaabi  Notice that you have a spelling mistake on the last 3 label tags.

`<lablel>` should be `<label>`

[2016-09-29 14:17] anush6533 commented on #10056
Is the challenge solved ?

[2016-09-29 14:25] alexanderholman commented on #10969
Created a new PR ([#10978](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/10978)) without the issue number in the branch name.

[2016-09-29 14:29] alexanderholman commented on #10930
I wouldn't mind taking a look at this, though I imagine it would be easier to configure on your server (setting HTTP headers as oppose to getting the meta tag), but if you would rather the meta route, i could look at it this weekend?

[2016-09-29 14:46] #10969 closed

[2016-09-29 14:47] karuppiah7890 commented on #10977
Hey there. The console.log() statements will not show up in the output window ("FCC pseudo-console" in your words). Only the selected data shows up in the output windows, usually the return values of the functions (whose empty body is provided in the challenge) which are tested.

And generally the return value of the top-most function is displayed in the browser. There are challenges that do not h

[2016-09-29 14:52] dhcodes commented on #10977
Also fwiw, the console.log statements do show up in the browser Dev Tools and I think it's worth pointing campers there so they learn those tools as a side-effect.

[2016-09-29 15:07] texas2010 commented on #10976
@sinanalkaabi
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding..

[2016-09-29 15:07] #10976 closed

[2016-09-29 15:39] hippybear commented on #10963
Of course we encourage people to use markdown and share their code but let's be honest some of these people are struggling to make a simple string variable and getting them to master markdown is a bit of a challenge. Maybe there is a way to trim those URLs so that the solution parameter never shows up and all we can share as a user is the /challenges/name-of-challenge and the rest gets trimmed off

[2016-09-29 16:15] ivantedja commented on #10885
@dhcodes post a gist in [here](https://github.com/FreeCodeCamp/FreeCodeCamp/pull/10888#issuecomment-250294879). He even installed Windows to test it, thanks for you effort! 🎉

[2016-09-29 16:30] ivantedja commented on #10522
confirmed in beta, indentation problem,see screenshots

![error](https://cloud.githubusercontent.com/assets/1907854/18962857/aa75fd7c-869c-11e6-8e51-305c0ea907f8.png)

![indentation](https://cloud.githubusercontent.com/assets/1907854/18962865/ae604bcc-869c-11e6-84f6-e596bbb62f79.png)

[2016-09-29 16:31] ArielLeslie commented on #10977
@karuppiah7890 My suggestion is that if this is the intended behavior (as your comment indicates), then the text
[code]
should probably be changed.  Saying that  the statements will appear in the DevTools console "as well" is giving the impression that the statements can be seen in *both places*.

[2016-09-29 16:56] Martin922 opened #10979 "Having a Issue with this challenge"
Challenge [Target HTML Elements with Selectors Using jQuery](https://www.freecodecamp.com/challenges/target-html-elements-with-selectors-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%24(%22button%22).addclass(%22animated%20bounce%22)%3B%0A%20%20%7D)%3B%0Afcces%0A%0A%3C!--%20Only%20change%20code%20above%20this%20line.%20--%3E%0A%0A%3Cdiv%20class%3D%22containe

[2016-09-29 17:10] dhcodes commented on #10885
Didn't have to install windows, only set up a dev environment 😉 . It's a whole new world.

[2016-09-29 17:12] karuppiah7890 commented on #10977
@ArielLeslie I completely agree. I think it should be done. @dhcodes Your comments on this ?

[2016-09-29 17:13] ivantedja commented on #10458
It is because after clicking a button, the button will get a "focus" and there is a styling for "focus" which makes it darkgreen. Probably the purpose is to make it looks good when navigating with keyboard? See attachments

![focus](https://cloud.githubusercontent.com/assets/1907854/18964196/02455df4-86a2-11e6-8e27-eb215057ff3c.png)

![focus-on](https://cloud.githubusercontent.com/assets/1907854/1

[2016-09-29 17:14] erictleung commented on #10979
@Martin922 your code is slightly incorrect and it is causing some weird things to happen. The method `.addClass` is case-sensitive and that is a capital `C` in `Class`. Change it and you should be able to pass the challenge. If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-09-29 17:14] #10979 closed

[2016-09-29 17:28] dhcodes commented on #10963
@hippybear that is the way URLs will be in the react update. I'm not sure it's worth correcting on the current site.

[2016-09-29 17:28] dhcodes commented on #10977
I agree with the change

[2016-09-29 17:36] dhcodes commented on #10977
In [this file](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/4e5fbe513049dcc05f0cf7a3820941ebc0e60e25/client/commonFramework/output-display.js) and [this file](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/da4e81b52df34fa21613d85dd6b6426d17d1ddaa/common/app/routes/challenges/redux/reducer.js),
remove ` as well` from:

[code]

[2016-09-29 17:36] BerkeleyTrue commented on #10966
@Bouncey You do not have to change all the tests

[2016-09-29 17:38] BerkeleyTrue commented on #10965
You'll need to reset the challenge if the tail/head/tests are changed. There is already an issue to change this.

[2016-09-29 17:39] BerkeleyTrue commented on #10977
This is the current behavior with React.

[2016-09-29 17:41] dhcodes commented on #10977
@BerkeleyTrue you mean with React, it will show up in both the output box and the devtools console?

[2016-09-29 17:53] BerkeleyTrue commented on #10977
@dhcodes Yes, console.logs from will show up in the output window.

We run two different processes for each challenge, the main process that generates the output and the preview, and the test process, which will iterate through the tests.

The first process will actually proxy the calls to console.log so that it shows up in the output window.
The second will not and these will show up in the dev t

[2016-09-29 17:54] dhcodes commented on #10977
Sounds good. Let's close this then since it will be fixed by the React update?

[2016-09-29 17:54] #10977 closed

[2016-09-29 17:54] computerluca opened #10980 "Typo in Say Hello to HTML Elements"
Challenge [say-hello-to-html-elements](http://beta.freecodecamp.com/en/challenges/html5-and-css/say-hello-to-html-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Fedora; Linux x86_64; rv:44.0) Gecko/20100101 Firefox/44.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

In the description of the test case there is a typo
Your h1 elem

[2016-09-29 18:06] dhcodes commented on #10958
Closing in favor of #10966 as there is more dialogue there. Thanks for the issue @zelite

[2016-09-29 18:06] #10958 closed

[2016-09-29 18:08] DesignerDude24 commented on #10838
The instructions specifically state: "Your p element should contain the first few words of the provided additional kitty ipsum text".

Where did you read it should contain "Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip the couch sleep in the sink fluffy fur catnip scratched".  That's  a lot more than a "few" words.  Also, to the person stating the OP's code was wron

[2016-09-29 18:15] zelite commented on #10621
If you remove the inline style height ( https://github.com/FreeCodeCamp/FreeCodeCamp/blob/b112753154a2dbd9f65b0272528a82ba859b6641/common/app/routes/challenges/components/map/Map.jsx#L70 ) the full screen map will work properly.   You can test it here http://beta.freecodecamp.com/en/map by using the browser developer tools to remove the inline style of the "map-accordion center-block". I just don'

[2016-09-29 18:36] xgqfrms-GitHub commented on #10962
error of get  JSON nested JSON?
[code]

[2016-09-29 18:53] Bouncey commented on #10966
@BerkeleyTrue since 'tests as objects' was merged, the tests do not work on staging, unless they are converted to objects, and even then the tests suite ui is broken

[2016-09-29 18:54] BerkeleyTrue commented on #10966
I'll take a look.

[2016-09-29 18:58] xgqfrms-GitHub commented on #10962
coming soon...

[2016-09-29 19:00] BerkeleyTrue commented on #10966
PR up with fix

[2016-09-29 19:01] erictleung commented on #10980
@computerluca thanks for the issue. Yes, that is a small typo.

[This line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/4e893aaf088cd0d4c1814a7df293d5bd09e076c7/seed/challenges/01-front-end-development-certification/html5-and-css.json#L28) needs to be changed.

[2016-09-29 19:02] QuincyLarson commented on #10621
@zelite awesome - could you make a pull request for this?

[2016-09-29 19:02] QuincyLarson commented on #10965
@BerkeleyTrue I've tried that. It doesn't fix the issue.

[2016-09-29 19:05] QuincyLarson commented on #10458
@ivantedja can we clear the focus on click?

[2016-09-29 19:07] BerkeleyTrue commented on #10965
I'm closing not because I don't believe you, I'm closing this as a duplicate

See: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/10517

[2016-09-29 19:07] #10965 closed

[2016-09-29 19:31] QuincyLarson commented on #10930
@alexanderholman Sure - we would welcome your help. This is relatively low-priority, so this weekend is fine :)

[2016-09-29 20:15] QuincyLarson commented on #10901
@BerkeleyTrue this is the top priority. What is the status of this?

[2016-09-29 20:31] BerkeleyTrue commented on #10901
I'm working on it

[2016-09-29 20:45] graysage commented on #10788
Having a problem with the same bug.  This is my code, there doesn't seem to have anything wrong with it.
// Example
var ourArr = [ 9, 10, 11, 12];
var ourTotal = 0;

for (var i = 0; i < ourArr.length; i++) {
  ourTotal += ourArr[i];
}

// Setup
var myArr = [ 2, 3, 4, 5, 6];

// Only change code below this line
var total = 0;
for ( var i = 0; i < myArr.length; i++) {
  total =+ myArr[i];
}

[2016-09-29 20:55] QuincyLarson commented on #10965
OK - thanks for clarifying.

[2016-09-29 21:00] Deadpool37 commented on #10980
#8ed74570eaca2db6a8076fcc65de1b164628a14b

[2016-09-29 21:31] texas2010 commented on #10788
@graysage
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2016-09-29 21:38] xgqfrms-GitHub commented on #10962
![Uploading JSON-dot && JSON  bracket notation(string).PNG…]()

[2016-09-29 21:39] texas2010 commented on #10962
@xgqfrms-GitHub, Did you go to Help javascript chat room first?

[2016-09-29 21:41] xgqfrms-GitHub commented on #10962
**what's wrong with this?**
![xx](https://cloud.githubusercontent.com/assets/18028768/18973524/82ce1d02-86d0-11e6-8c76-929cc1dc0482.PNG)

[2016-09-29 21:41] #10962 closed

[2016-09-29 21:49] BerkeleyTrue commented on #10962
@xgqfrms-GitHub

The issue tracker is for reporting bugs only. If this is an issue for help with a challenge, please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-09-29 22:02] computerluca opened #10986 "Headline with the h2 Element"
Challenge [headline-with-the-h2-element](http://beta.freecodecamp.com/en/challenges/html5-and-css/headline-with-the-h2-element) has an issue.

If i click run test i can't see the text of the test cases and i can ALWAYS pass the challenge even if the code is not correct!

[2016-09-29 23:12] hippybear commented on #10963
@dhcodes Right on, I will close it out

[2016-09-29 23:12] #10963 closed

[2016-09-29 23:26] sm101001 opened #10988 "two minds are better than 1, maybe 3 will do!"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%20%20%0A%3Cp%20class%3D%22red%22%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20she

[2016-09-29 23:34] erictleung commented on #10986
@computerluca closing as duplicate of https://github.com/FreeCodeCamp/FreeCodeCamp/issues/10966. Happy coding!

[2016-09-29 23:34] #10986 closed

[2016-09-29 23:36] erictleung commented on #10988
@sm101001 your code is incorrect. Can you elaborate on what your issue (if any) is?

[2016-09-29 23:36] decksterr opened #10989 "Javascript: Sift through Text with Regular Expressions -- not accepting actual word pattern expression"
#### Challenge Name
Sift through Text with Regular Expressions
https://www.freecodecamp.com/challenges/sift-through-text-with-regular-expressions

#### Issue Description
The instructions clearly state

Hence i think the following regex ```/\band\b/gi``` or ```/(?:\b)and(?:\b)/gi``` where one actually considers the word boundaries in the expression should also be a valid answer, not just ```/and/gi

[2016-09-29 23:48] erictleung commented on #10989
@decksterr thanks for the issue. I agree that the tests should be better at allowing other regular expression patterns that solve the challenge.

[2016-09-30 00:33] abhisekp commented on #8418
@QuincyLarson I'm still working on this. Need a little bit more time.

[2016-09-30 00:42] troy1204 commented on #10820
I had the same problem today 9/29/2016....Had to keep on refreshing the page...Finally it passed the tests.

[2016-09-30 01:21] newyork-anthonyng commented on #10989
@erictleung If nobody else has worked on this yet, I'd like to make work on it and make a PR.

[2016-09-30 01:36] vdash2 opened #10990 "issue joining forum"
Regardless if I choose sign up or sign in, and I have tried on OS X 10.12 and Windows 10, I get the same error.  I Have tested in Safari, Chrome, Microsoft Edge.

<img width="906" alt="screen shot 2016-09-29 at 9 15 31 pm" src="https://cloud.githubusercontent.com/assets/22217542/18977929/b19b06de-868c-11e6-83dd-d0d4c1a6a6bc.png">
<img width="1075" alt="screen shot 2016-09-29 at 9 15 49 pm" src="ht

[2016-09-30 02:05] xelab1090 commented on #10990
I opened with Mozilla Firefox, and it worked for me.

[2016-09-30 02:25] tf2manu994 opened #10992 "Camperbot fails to give points if there is a bracket before a "thanks""
https://gitter.im/FreeCodeCamp/FreeCodeCamp?at=57edcc09d56b91170dfc75cd

[2016-09-30 03:40] blydiet commented on #6657
do you still need help with the code above?

[2016-09-30 04:42] evan-blake commented on #9314
"FirstLine\n\\SecondLine\\\rThirdLine";

;)

[2016-09-30 04:55] QuincyLarson commented on #8418
@abhisekp OK - thanks for confirming this is still under way. No rush 😃

[2016-09-30 05:30] lumenotti opened #10996 "Inherit Styles from the Body 2nd Exercise"
2nd Exercise in Inheritance of Body Styling seems to have a Bug. I followed the exercise to the tee.
Body Background begins with a color of black from exercise 1 in this section.

Instructions state to add an: <h1>Hello World</h1> which I did below the closing </style> tag.

Then it states to change the Body Style background-color to green.

Then add a font-family: Monospace; style to the body css

[2016-09-30 05:41] lumenotti commented on #10996
it also remained gray after I placed the style rule for font-family: Monospace;

[2016-09-30 06:03] JideLambo commented on #6255
I tried using this approach and it didn't work. I believe this is supposed to be correct

// Setup
function abTest(a, b) {
// Only change code below this line
if ((a || b) < 0){
return undefined;
} else {
// Only change code above this line

return Math.round(Math.pow(Math.sqrt(a) + Math.sqrt(b), 2));
}
}

// Change values below to test your code
abTest(2,-2);

[2016-09-30 06:20] rafid059 commented on #10992
I think this issue should be opened here:  https://github.com/FreeCodeCamp/camperbot/issues

[2016-09-30 06:38] tf2manu994 commented on #10992
Correct.

[2016-09-30 06:38] #10992 closed

[2016-09-30 06:52] Annamazing commented on #6657
No thank you x

Sent from my iPhone

[2016-09-30 07:11] #10980 closed

[2016-09-30 07:15] atjonathan commented on #10917
Closing as stale.

[2016-09-30 07:15] #10917 closed

[2016-09-30 07:16] atjonathan commented on #10952
Closing as stale.

[2016-09-30 07:16] #10952 closed

[2016-09-30 07:16] atjonathan commented on #10971
Closing as stale.

[2016-09-30 07:16] #10971 closed

[2016-09-30 07:16] atjonathan commented on #10988
Closing as stale.

[2016-09-30 07:16] #10988 closed

[2016-09-30 07:26] dev13579 opened #10997 "$("#target4").html("<em> target4 </em>"); don't work ?"
Challenge [Change Text Inside an Element Using jQuery](https://www.freecodecamp.com/challenges/change-text-inside-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target4%22).html(%22%3Cem%3E%20target4%20%3C%2Fem%3E%22)%3B%0A%20%20%20%20%0A%20%20%7D)%3B%0Afcces%0A%0

[2016-09-30 07:52] riteshtiwari opened #10998 "Problem in Description. Challenge "Compound Assignment With Augmented Addition""
#### Challenge Name

https://www.freecodecamp.com/challenges/compound-assignment-with-augmented-addition

#### Issue Description

The description isn't correct. Currently, its
myVar += 5; will add 5 to myVar.
It should be
myVar += 5; will add 5 to myVar and assign it back to myVar

[2016-09-30 08:03] ktajpuri commented on #10942
Where can I see the new curriculam structure?

[2016-09-30 08:04] Deadpool37 commented on #10997
Hey @dev13579 tell me if this works
`$("#target4").html("<em>#target4</em>");`
Make sure you are sending the correct text to the screen and that there are no whitespaces between the tags and the text

[2016-09-30 08:07] ktajpuri commented on #10942
I think it would also be good if we could organise live coding competitions open to all campers. What say? @atjonathan

[2016-09-30 08:16] Deadpool37 commented on #10996
@lumenotti This should do it
[code]

[2016-09-30 10:26] evaristoc commented on #8418
@abhisekp let me know how I can help. please also read my message above:
https://github.com/FreeCodeCamp/FreeCodeCamp/issues/8418#issuecomment-247571215

[2016-09-30 11:54] Dayfiri commented on #10997
![screenshot at 2016-09-30 13 51 58](https://cloud.githubusercontent.com/assets/16082563/18990862/36c8d90c-8715-11e6-916c-e1e7834d7620.png)

This works. Like @Deadpool37 said above me, write it without the whitespaces -> $("#target4").html("<em>#target4</em>");

[2016-09-30 12:15] texas2010 commented on #9314
@evan-blake
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-09-30 13:28] dhcodes commented on #10996
@Deadpool37 please don't share answers in the issues threads. @lumenotti please consider clicking the Help button and getting feedback on your code from other campers in the chat room.

[2016-09-30 13:28] #10996 closed

[2016-09-30 13:29] dhcodes commented on #10997
@dev13579 You have an error in your code. Please consider clicking the help button to get feedback on your code in the chat room. Happy coding!

[2016-09-30 13:29] #10997 closed

[2016-09-30 14:13] #5727 closed

[2016-09-30 14:19] texas2010 commented on #10989
@newyork-anthonyng, you can work on that.

[2016-09-30 14:20] texas2010 commented on #6255
@JideLambo
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2016-09-30 14:22] texas2010 commented on #10990
@vdash2, please use this. here link is forum issue. https://github.com/FreeCodeCamp/discourse/issues.

[2016-09-30 14:22] #10990 closed

[2016-09-30 14:28] texas2010 commented on #10997
@Deadpool37, please stop give answer to them on any issues.  this place is not for help them

[2016-09-30 14:33] dhcodes commented on #10998
While true, I actually think this explanation might be more confusing to a camper new to JS.

[2016-09-30 14:46] zelite commented on #10621
Unfortunately I don't have so much time for it. I posted here hoping to help some more seasoned contributor to track down the problem.

[2016-09-30 14:51] dhcodes commented on #10621
I've been working on this a bit, and one issue is that since the drawer and full-page map use the same module, I can't figure out how to modify one without negatively impacting the other. Would help if I knew React probably...

[2016-09-30 15:30] erictleung commented on #10998
I agree with @dhcodes on the matter. We can try to improve the wording as much as we can but I think a code example is best. Maybe we can add this into the description.

[code]

[2016-09-30 15:31] atjonathan commented on #10942
@ktajpuri, https://github.com/FreeCodeCamp/FreeCodeCamp/pull/10724 and feel free to open a new issue :smiley:

[2016-09-30 15:31] #10942 closed

[2016-09-30 15:36] Deadpool37 commented on #10997
@texas2010 The guy had already completed the code and was almost correct except for the fact that he didn't know that whitespaces in between tags are counted.

[2016-09-30 16:04] lumenotti commented on #10996
Thank you. Duh, I feel stupid. But, I think the instructions could have
been a little better.

On Fri, Sep 30, 2016, 4:19 AM Ananay <notifications@github.com> wrote:

--

Sent From Lynn's Mobile

[2016-09-30 16:23] dhcodes commented on #10966
Can someone else test the PR? My experience is in the PR thread.

[2016-09-30 16:24] Murdos67 commented on #10916
If you have not got it yet, you have to add the class to the h2 script line

[2016-09-30 16:27] dhcodes commented on #10996
I'm open to suggestions, but the error here was a confusion between background-color and color, the latter of which is what the instructions say to use.

[2016-09-30 16:30] dhcodes commented on #10997
@Deadpool37 it's not that we are discouraging your helpfulness, it's just that this venue is for legitimate bugs/problems with the site, not code errors. Had OP asked in the chat room, someone likely would've been able to point OP in the right direction as well. The [Gitter Help Chat](https://gitter.im/FreeCodeCamp/Help) or one of the other corresponding rooms is the best place to help other campe

[2016-09-30 17:13] MK-Emon commented on #5623
![git](https://cloud.githubusercontent.com/assets/20726260/19000275/7b26ad2e-8763-11e6-8ae3-30632ff65191.JPG)

I have done as said but still i am having this problem. plz help

[2016-09-30 17:24] foreverifilm opened #11000 "How do I change the font-size of the p element to 16px?"
<style>
  .red-text {
    color: red;
    font-size:16px;
  }

</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

<p class>Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip the couch sleep in the sin

[2016-09-30 17:33] ivantedja commented on #10458
@QuincyLarson yes we can blur it on click but it is still hovered so the button stay green. I'll submit a PR for you to take a look. I'm still new with react though so need a lot of review for best practice and suggestion for more efficient way.

[2016-09-30 17:44] dhcodes commented on #11000
@foreverifilm Please use the help button to ask for help from fellow campers in the Gitter chat room. They'll be able to point you in the right direction.

[2016-09-30 17:44] #11000 closed

[2016-09-30 17:51] foreverifilm commented on #11000
Where is the help button at? thank you.

[2016-09-30 18:16] dhcodes commented on #11000
On the challenge, it should be below the "Run Tests" button.

[2016-09-30 18:18] QuincyLarson commented on #10458
@ivantedja Great! would it be possible to disable the hover animation for on-off switch buttons like these as well? We could create a separate class that just applies to them with no hover effect and a blur on click. This is how Medium and many other sites seem to do this.

[2016-09-30 18:21] lumenotti commented on #10996
Thank you. Yes I missed the nuance of that instruction and stupidly kept
changing the color on the backgroun-color rule when I actully new better.

Suggestions are fine by me. I do like learning the hard way. It last
longer. :)

On Fri, Sep 30, 2016 at 12:30 PM, Dylan <notifications@github.com> wrote:

[2016-09-30 18:35] Martin922 commented on #10979
I did ask the help room and know one would help me that is why I posted here but your solution helped so thank you for that

[2016-09-30 19:28] xgqfrms-GitHub opened #11002 "there are many ways to pass this test!"
Challenge [Iterate Odd Numbers With a For Loop](https://www.freecodecamp.com/challenges/iterate-odd-numbers-with-a-for-loop#?solution=%0A%2F%2F%20Example%0Avar%20ourArray%20%3D%20%5B%5D%3B%0A%0Afor%20(var%20i%20%3D%200%3B%20i%20%3C%2010%3B%20i%20%2B%3D%202)%20%7B%0A%20%20ourArray.push(i)%3B%0A%7D%0A%0A%2F%2F%20Setup%0Avar%20myArray%20%3D%20%5B%5D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20thi

[2016-09-30 19:28] xgqfrms-GitHub commented on #11002
![ascii-emoji](https://cloud.githubusercontent.com/assets/18028768/19004181/2ef093f6-8787-11e6-89f1-0a965411263e.PNG)

[2016-09-30 19:28] #11002 closed

[2016-09-30 19:33] RolandGalaadsky commented on #10996
Є
30 вер. 2016 08:32, користувач "LG" <notifications@github.com> написав:

followed the exercise to the tee.

section.

made sure to execute the directives i the order give and

https://www.freecodecamp.com/challenges/inherit-styles-from-the-body-element#?solution=%0A%3Cstyle%3E%0A%20%20%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20green%3B%0A%20%20%7D%0A%0A%3C%2Fstyle%3E%0A%0A%3Ch1%3EHe

[2016-09-30 19:37] texas2010 commented on #5623
@MK-Emon
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2016-09-30 19:41] QuincyLarson opened #11003 "Test text is sometimes invisible"
#### Screenshot
I'm experiencing the following issue of test text disappearing:

![](https://www.evernote.com/l/Ar-C_lhBu4dJ_r4SQJS2l2HPKmTA_uU7bN0B/image.png)

[2016-09-30 19:45] #10517 closed

[2016-09-30 19:48] TheGr8Lemmoncawl commented on #10959
After case 9, you are setting the count to 0.  Try count += 0;

[2016-09-30 20:01] Callmemaci opened #11004 "The order sisn't changed for h1 h2 or p still not working"
Challenge [Comment out HTML](https://www.freecodecamp.com/challenges/comment-out-html#?solution=%0A%0A%3C!--h1%3EHello%20World%3C%2Fh1--%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3C!--p%3EHello%20Paragraph%3C%2Fp--%3E%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.79 Safari/537.36 Edge/14.14393</code>.
Ple

[2016-09-30 20:11] texas2010 commented on #11004
@Callmemaci, Thanks for reporting this. I checked your code. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding..

[2016-09-30 20:11] #11004 closed

[2016-09-30 20:56] anischyros opened #11005 "Bug in "Convert HTML Entities" challenge"
Challenge [Convert HTML Entities](https://www.freecodecamp.com/challenges/convert-html-entities#?solution=function%20convertHTML(str)%20%0A%7B%0A%20%20%20%20return%20str.replace(%2F%26%2Fg%2C%20%22%26amp%3B%22).replace(%2F%3C%2Fg%2C%20%22%26lt%3B%22).replace(%2F%3E%2Fg%2C%20%22%26gt%3B%22).replace(%2F%22%2Fg%2C%20%22%20%26quot%3B%22).replace(%2F%27%2Fg%2C%20%22%26apos%3B%22)%3B%0A%0A%7D%0A%0Aconve

[2016-09-30 21:07] dhcodes commented on #11005
@anischyros you have a small error in your code. Please consider asking for help in the [HelpJavascript room](https://gitter.im/FreeCodeCamp/HelpJavaScript) on Gitter. It also might be helpful to put the test case into the editor to see the output.

[2016-09-30 21:07] #11005 closed

[2016-09-30 21:28] QuincyLarson opened #11006 "Merge Wiki Contributing article into Contributing.md"
We want a single source of truth that reflects all the steps involved in setting up Free Code Camp locally and contributing to it. That single document should be Contributing.md

Currently, we also have http://forum.freecodecamp.com/t/how-to-fork-and-maintain-a-local-instance-of-free-code-camp/19116, which is a much more comprehensive article.

We should do the following:
- [ ] work all the points

[2016-09-30 21:49] QuincyLarson commented on #10133
@wjhurley I don't think a new article is necessary. I'm closing this issue.

[2016-09-30 21:49] #10133 closed

[2016-09-30 21:53] #9999 closed

[2016-09-30 22:46] Bouncey opened #11007 "Code Editor Not Rendering (Local instance)"
After pulling down the latest staging, The code editor will not render.

In my console I have:
`Refused to execute script from 'http://localhost:3001/js/bundle.js' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled.`

![screenshot from 2016-09-30 23-31-36](https://cloud.githubusercontent.com/assets/18572518/19008933/ea3c07b0-8766-11e6-8568-24b9fcb6604c.

[2016-09-30 23:29] adamisntdead commented on #11006
I'm up for this?

[2016-10-01 00:24] JHFDowning commented on #7847
I've been experiencing this issue since a very early exercise. I just hit 100.

OS: OSX
Browser: Chrome & Safari

[2016-10-01 00:24] Manish-Giri commented on #10998
Can I take this up?

[2016-10-01 01:36] ladybugtju commented on #8418
@evaristoc: Hi! Nice reading you :) I am curious about the way you approached this problem. No need to share the Token, would you please make a repo or anything else. Is there a way to figure out how much data there is in a room before running the script?  We could then estimate the required time. Did you download the 1.3G? Using NodeJS and writing data to a JSON file, 2 of the rooms gave me the f

[2016-10-01 02:59] hallaathrad commented on #10584
You're absolutely right, @ktajpuri :) thanks

[2016-10-01 02:59] #10584 closed

[2016-10-01 03:06] hallaathrad commented on #10515
Fixed 💃 Thanks for noticing this, @MoleManMike

[2016-10-01 03:06] #10515 closed

[2016-10-01 03:12] QuincyLarson commented on #11006
@adamisntdead great! Take a crack at it :) Happy Hacktoberfest!

[2016-10-01 03:21] erictleung commented on #10998
@Manish-Giri go for it!

[2016-10-01 03:33] hallaathrad commented on #9923
That one from the screen capture was fixed by @atjonathan with https://github.com/FreeCodeCamp/FreeCodeCamp/pull/10010

Was going to fix this but I could not find any occurrences.
Closing as it seems to be resolved.

[2016-10-01 03:33] #9923 closed

[2016-10-01 03:37] hallaathrad commented on #9873
Maybe we can add a breakpoint for screens between 960 and 1024 px wide...
It'd show the instructions on top, and then the code taking 2/3 and the phone taking 1/3.

Any takers? I think this could work, and it'd help some iPad users too.

[2016-10-01 03:41] hallaathrad commented on #9838
Hmmm You're right. this could be better. I'm on it.

[2016-10-01 04:11] #10337 closed

[2016-10-01 06:30] QuincyLarson commented on #8418
@evaristoc if you could also pull down all of the rooms and save them in a format that can be released as open data (CSV?) that would be extremely helpful. If you can pull the entire main room in less than a day, that means you should be able to pull most of the rooms quite quickly.

@ladybugtju once we have all the chatrooms archived and safely backed up, we can start deleting the rooms. The only

[2016-10-01 08:56] Bouncey commented on #10966
All assert tests are still returning true, even on beta.freecodecamp

[2016-10-01 08:58] KomitaSRB commented on #6530
Passing code:
`<style>
  .red-text {
    color: red;
  }

  p {
font-size: 16px;
}
</style>

<p class="red-text">kitty ipsum text</p>
<p>Purr jump eat the grass rip the couch scratched sunbathe, shed everywhere rip the couch sleep in the sink fluffy fur catnip scratched.</p>`

[2016-10-01 09:55] jadczakd opened #11009 "Test cases allow for erroneous code to pass through."
Challenge [Smallest Common Multiple](https://www.freecodecamp.com/challenges/smallest-common-multiple#?)

I hope that my comments in the code are enough. What's going on is basically what is described here - > https://youtu.be/Kl9gt33Hyg0 -> you can witness me finding the error as well.
the code looking for the smallest common multuple of a range of numbers using prime factorization

My code:
[cod

[2016-10-01 12:39] mahadi117 opened #11010 "Getting more done in GitHub with ZenHub"
Hola! @mahadi117 has created a [ZenHub](http://www.zenhub.com) account for the **FreeCodeCamp** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZH

[2016-10-01 12:58] Kaushishal commented on #5623
@MK-Emon

In your first else if return  statement S for "small" should be uppercase not lower case.

[2016-10-01 13:09] texas2010 commented on #6530
@KomitaSRB
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-10-01 14:29] #11010 closed

[2016-10-01 14:40] janschreiber opened #11011 "Use the Twitchtv JSON API: missing link"
Challenge [Use the Twitchtv JSON API](https://www.freecodecamp.com/challenges/use-the-twitchtv-json-api) has an issue.
Instruction no. 11 reads "UPDATE: Due to a change in conditions on API usage explained here, use the sample API response we provide at" Apparently a link to said sample response is missing.

[2016-10-01 15:24] P1xt commented on #11003
@QuincyLarson The problem might be more than the test text not appearing. My experience running tests on beta has been that any tests that appear blank actually are blank. For instance, if you get a challenge where all tests are blank you can literally change nothing in the code, hit run tests, and pass the challenge.

[2016-10-01 16:14] kumarkamesh opened #11012 "code is correct,but it won't pass"
Challenge [Escaping Literal Quotes in Strings](https://www.freecodecamp.com/challenges/escaping-literal-quotes-in-strings) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-10-01 16:21] atjonathan commented on #11011
@janschreiber, this has already been fixed 😄
We should be pushing this change to production shortly!

[2016-10-01 16:21] #11011 closed

[2016-10-01 16:24] 149203 commented on #11012
@kumarkamesh your code doesn't have a space before the word **string**

In the future, please post in the appropriate gitter channel first. If the consensus there is that it is a bug, then you should post here.

[2016-10-01 16:38] texas2010 commented on #11012
@kumarkamesh
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding..

[2016-10-01 16:38] #11012 closed

[2016-10-01 18:26] vxm007 commented on #10945
English is my first language and I still thought the exercise was a bit weird. A lot of these exercises I don't feel are very clearly laid out. The instructions are often worded in a weird way.. To me anyways.

[2016-10-01 21:09] DankKnight opened #11014 "Hoe"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-01 21:14] texas2010 commented on #11014
@DankKnight, Do you have a issue with FreeCodeCamp Site or challenge? if you do. Please fill that information.

[2016-10-01 22:16] Dirtier opened #11015 "How are we supposed to complete the Twitch project now?"
#### Challenge Name

Twitch.tv JSON API

#### Issue Description

The $.getJSON using jsonp work-around that FCC posted no longer works.
[code]
No matter what channel you use in the url, you still get 'Bad Request', 'No client id specified', 400.
So my question is, how are we supposed to still be able to complete this project if we aren't supposed to use our Client ID on Codepen pages?

[2016-10-01 22:52] texas2010 commented on #11015
@Dirtier, this has already been fixed.
We should be pushing this change to production shortly!

[2016-10-01 22:52] #11015 closed

[2016-10-01 23:28] nvrqt03 opened #11016 "Prioritize One Style Over Another - what am I missing?"
Challenge [Prioritize One Style Over Another](https://www.freecodecamp.com/challenges/prioritize-one-style-over-another#?solution=%0A%3Cstyle%3E%0A%20%20%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20black%3B%0A%20%20%20%20font-family%3A%20Monospace%3B%0A%20%20%20%20color%3A%20green%3B%0A%20%20%7D%0A.pink-text%7Bcolor%3Apink%7D%0A%20%20%0A%3C%2Fstyle%3E%0A%3Ch1%20class%3D%22pink-text%22%3

[2016-10-01 23:30] nvrqt03 commented on #11016
sorry!!!! missed the ; to make .pink-text{color: pink;}

[2016-10-01 23:33] #11016 closed

[2016-10-01 23:56] jhuynh85 commented on #10365
Is someone working on this issue? If not I'd like to take a crack at it

[2016-10-02 00:27] erictleung commented on #10365
@jhuynh85 go for it!

[2016-10-02 01:15] #11014 closed

[2016-10-02 01:16] QuincyLarson commented on #11003
@P1xt yes - I think this is the issue. I am experiencing exactly what you described.

[2016-10-02 01:17] QuincyLarson commented on #10966
@BerkeleyTrue it looks like this has become a blocking item for @HKuz's progress with the QA process.

[2016-10-02 02:13] dhcodes commented on #11007
@Bouncey Are you on > Node 6 and NPM 3? Also, you might need to run `rm -rf node_modules` and then `npm install` since some stuff has been changed over the past week.

[2016-10-02 02:18] codetweetie commented on #9979
Is this issue solved ? Atleast I don't see the double scrollbar on Firefox 48.0 (Ubuntu)

[2016-10-02 03:00] SamAI-Software commented on #9979
Seems like solved.

[2016-10-02 03:00] #9979 closed

[2016-10-02 06:52] zelite commented on #11015
I understand that this issue is closed that that there's already a workaround to avoid needing a Twitch account and a Client ID.

However, I would just like to comment that there have been many posts about needing a client ID which do not understand that the client ID is not the same thing as a API key and does not need to be kept secret.

from here: https://github.com/justintv/Twitch-API/blob/mas

[2016-10-02 09:49] karuppiah7890 commented on #11009
I think it's fair enough to add an extra test case to check if the camper has used arr.sort() for sorting the two numbers in the given array; which is wrong as arr.sort() sorts in alphabetical order if no comparison function is provided. @dhcodes @Bouncey Your comments ?

[2016-10-02 10:23] Bouncey commented on #11009
Sounds good to me. Let's add a test for smallestCommons([2, 10]), which should equal 2520.

[2016-10-02 10:35] lovelylion opened #11019 "Calculation Bug in "Return a Value from a Function with Return""
Challenge [Return a Value from a Function with Return](https://www.freecodecamp.com/challenges/return-a-value-from-a-function-with-return#?solution=%0A%2F%2F%20Example%0Afunction%20minusSeven(num)%20%7B%0A%20%20return%20num%20-%207%3B%0A%7D%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0Afunction%20timesFive(lol)%7B%0A%20%20return%20lol%20*%205%3B%0A%7D%0A%0AtimesFive(1000)%3B%0A) ha

[2016-10-02 10:47] karuppiah7890 commented on #11009
I will take this up ?

[2016-10-02 11:09] Bouncey commented on #11007
I just tried that and no change

[2016-10-02 11:26] elle747 opened #11020 "i don't understand this issue. I've tried every angle to this issue but still unable to uncomment h1"
Challenge [Comment out HTML](https://www.freecodecamp.com/challenges/comment-out-html#?solution=%0A%3Ch1%3EHello%20World%3C%2Fh1%3E%0A%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%20%0A%0A%3C!--hide%20tis%20bitch..%3E%0A%3Cp%3EHello%20Paragraph%3C%2Fp%3E%0A%3C!--why..%3E%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.11

[2016-10-02 11:32] Deadpool37 commented on #11020
@elle747
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only
Please use the Gitter chat room for getting challenge related help and if the concensus there is that this is a bug, then raise an issue here

[2016-10-02 11:40] texas2010 commented on #11020
@elle747
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding..

[2016-10-02 11:40] #11020 closed

[2016-10-02 11:49] karuppiah7890 commented on #11019
The solution is correct. You sure you are not able to pass the challenge after submitting results ?

[2016-10-02 12:08] Deadpool37 commented on #11019
I guess @lovelylion is able to pass the challenge but the console always returns 25. The error seems to be in [this line](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/f529067c046d74718a701788756c77100bd4d095/seed/challenges/01-front-end-development-certification/basic-javascript.json#L2658).

[2016-10-02 12:59] karuppiah7890 commented on #11007
Same bug over here!

[2016-10-02 13:05] karuppiah7890 commented on #11007
But the editor at localhost:3000 works!

[2016-10-02 13:24] karuppiah7890 commented on #11019
what tests are you talking about @Deadpool37 ?

[2016-10-02 13:32] Deadpool37 commented on #11019
Like I changed a .json file but I don't know how to run FCC locally to test if the error is removed.

[2016-10-02 13:45] karuppiah7890 commented on #11009
I have taken this up and solved the issue. But I couldn't test this at localhost:3001 due to this #11007. I checked the working at localhost:3000. It works fine. Should I make the pull request @Bouncey ? Or wait for the #11007 bug fix to test how it works even at localhost:3001 ?

[2016-10-02 14:24] karuppiah7890 commented on #11019
Oh. Is this your first time ? Have you tried looking at the [Contribution Guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md#contribution-guidelines) ? That should help you to get started. And look at the sections "Prerequisites" and "Getting Started" too.

[2016-10-02 14:30] Bouncey commented on #11009
@karuppiah7890 We would be better waiting so you can test locally

[2016-10-02 14:33] karuppiah7890 commented on #11019
And @Deadpool37 that's not an error actually. It's just that there's a static test for timesFive(5) and that shows up in the output. I don't think this is an error. But may be we could change the tail to show output based on the function argument used by the camper in the code editor. But that's not easy. And also, we need to capture the arguments and the timesFive() function call in the code edit

[2016-10-02 14:36] lovelylion commented on #11019
@karuppiah7890 I have read all the guides and prereq,,,
you have a function which gets input and multiply it with 5, and it is returning a static value of 25 regardless whatever the input i give...how do you think it is correct?

function timesFive(lol){
  return lol * 5;
}

correct behvaior should be if I pass 5 to function, then it return 25 but if I'm passing 1000, it should return 5000.
but ac

[2016-10-02 14:36] PFS32 opened #11021 "Git Challenges not available"
Challenge [Save your Code Revisions Forever with Git](https://www.freecodecamp.com/challenges/save-your-code-revisions-forever-with-git) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

In the challenge

[2016-10-02 14:45] #11021 closed

[2016-10-02 14:47] PFS32 commented on #11021
With no help from FreeCodeCamp, I figured out how to do the required challenges. It's a good thing FCC is free or I would stop using this thing.

[2016-10-02 14:59] karuppiah7890 commented on #11019
@lovelylion The output you see is a static test. It says " timesFive(5) == 25 ". And it doesn't simply say "25". It's just a test. But yes, we will try to get the arguments in the code editor and show it up in the output. I am waiting for @dhcodes comments.
And @Bouncey your comments on this please.

[2016-10-02 15:00] hallaathrad opened #11022 "Squashing and merging PRs"
As per discussions on the core channel, I'm creating this issue so we can document what sort of procedure we should establish for some PRs that go stale on account of their contributor abandoning them after being unable to squash multiple commits into one.

Though it is our belief as a community we should instil the good habit of squashing commits for the sake of repo sanity, some of the contribut

[2016-10-02 15:02] karuppiah7890 commented on #11009
@Bouncey Okay! :+1:

[2016-10-02 16:10] Greenheart commented on #11022
This is a good idea.

What do you think about something like the following?
* Auto-squash commits after ~2 weeks but give contributors a chance to learn themselves - and possibly even offer to guide them to make sure they feel their contribution is "accepted" and that we care enough to help them finish what they started.

When a contributor submits a PR that needs a squash before it can be merged,

[2016-10-02 17:24] hallaathrad commented on #11022
That sounds good to me.
Anyone else cares to chip in? This would be a change in policy that would influence all of the mods, so it's best if everyone has their say, or at least express their acknowledgement.

[2016-10-02 17:26] erictleung commented on #11019
@lovelylion thanks for the issue. This is a known issue https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9583. Please take the conversation over to the pre-existing issue. Also, fwiw here's a PR that was made for the issue but went stale https://github.com/FreeCodeCamp/FreeCodeCamp/pull/9651. Happy coding!

[2016-10-02 17:26] #11019 closed

[2016-10-02 17:32] erictleung commented on #11022
I agree that we should still expect people to squash their commits, but if that is all that is left to do, we can auto-squash it if time passes 👍  I'd be willing to help out.

[2016-10-02 17:33] atjonathan commented on #11022
:+1:

[2016-10-02 17:41] hallaathrad commented on #11022
So PRs stuck at squashing can be mergsquashed after completing two weeks of reaching that state. Ideally, one of us would still try to guide the contributor on how to squash properly.

Also, I've just thought... there's bound to be some who'd repeatedly not squash their PRs. How do we proceed in that case? I don't think rejecting their contribution would be the right approach, but squashing should

[2016-10-02 18:39] systimotic commented on #10968
Hi! I'm new here :wave: :grin:
I looked into this issue a little bit. The challenge we're talking about is [Use the Bootstrap Grid to Put Elements Side By Side](https://www.freecodecamp.com/challenges/use-the-bootstrap-grid-to-put-elements-side-by-side). It includes an image in the description, which can be found here https://i.imgur.com/FaYuui8.png This is also where you go if you click on the im

[2016-10-02 19:00] dhcodes commented on #11022
I'm fine with this. How do I squash the commits for them?

[2016-10-02 19:00] Greenheart commented on #11022
I've thought about another alternative. Maybe we could make use of the
combined squash-n-merge feature by default? I know, it won't teach
contributors as much but it would ease the burden on those of us who keep
track of the PRs and manage the autosquashing as well as on the
contributors who would have one less step and get a easier workflow. My
reasoning: why do something manually when you could

[2016-10-02 19:14] hristijankiko commented on #11007
I also have this issue but i just installed freecodecamp on my local machine few hours ago. When i try to load a challenge on localhost:3001 i get this error in console http://image.prntscr.com/image/5006c694534a468eb7301836f4067604.png

[2016-10-02 19:36] Abhishek-21 opened #11024 "the code isn't running despite several attempts"
<a href="http://freecodecamp.com"> link to Free Code Camp</a>
![image](https://cloud.githubusercontent.com/assets/22566343/19023192/8e998b1c-8905-11e6-85d9-5bd77219d27d.png)

[2016-10-02 19:43] Bouncey commented on #11024
@Abhishek-21 please follow the issue template, it helps gather information we use to help you.

Please return to the challenge you have issues with and copy the address in the address bar to this issue.

Along with that, can you please copy the code in the editor and paste it here also.

Without these we will just be guessing.

Please, help us help you.

[2016-10-02 20:19] afable commented on #10944
Closing since challenge seems fine as is.

[2016-10-02 20:19] #10944 closed

[2016-10-02 20:19] msanecki opened #11025 "Small bug in the instruction / explanation of the challenge"
Challenge [Style Multiple Elements with a CSS Class](https://www.freecodecamp.com/challenges/style-multiple-elements-with-a-css-class) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:38.0) Gecko/20100101 Firefox/38.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

It's not about the code, it's about the instruction of th

[2016-10-02 20:26] #10365 closed

[2016-10-02 20:35] hallaathrad commented on #11022
For the same reason we teach proper css while they could just use bootstrap alone.
Automation is dangerous when it implies forgetting or ignoring how it works.

In other repo management systems they don't offer this option, and it'll be useful for our campers to know how to squash. And beyond the knowledge, it's a matter of making sure they understand the importance of repo sanity. The whole check

[2016-10-02 21:14] shadikh commented on #6764
return "Not Found .";
it has to be with out   "  .  "    only  "  Not Found ";

[2016-10-02 22:44] elizabethfinedev commented on #11025
I think youre right, its not as accurate as it could be given that what its referring to is class attributes.

Maybe change it to something like: "But also remember that HTML class attributes don't use a period" ?

[2016-10-02 23:00] erictleung commented on #11025
Mmm I agree that this could be misinterpreted differently. Maybe we could change it to this.

Nonetheless, something to that effect should be used to replace the text.

[2016-10-02 23:17] HackAttack67 opened #11027 "Make Images Mobile Responsive Bugged"
Challenge [Make Images Mobile Responsive](https://www.freecodecamp.com/challenges/make-images-mobile-responsive#?solution=%3Clink%20href%3D%22http%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2

[2016-10-02 23:34] qualitymanifest commented on #11027
@HackAttack67 You are missing the `s` in `https` in the image src.

[2016-10-02 23:38] HackAttack67 commented on #11027
OMG thank you soooooooo much
i was stuck for hours

[2016-10-02 23:39] #11027 closed

[2016-10-03 02:06] swordv commented on #4150
Agreed, i struggled with them one as well. Wasn't clear till I read the above.

Thanks

[2016-10-03 02:59] #11025 closed

[2016-10-03 03:03] Greenheart commented on #11022
Ah I see. Good point Justin :)

söndag 2 oktober 2016 skrev Justin Richardsson <notifications@github.com>:

[2016-10-03 03:17] davidbrodrick32 commented on #5985
Hi,

Your friend davidbrodrick28@gmail.com has decided to give you 103 GB free cloud storage space with Degoo. With Degoo you never have to lose a photo ever again!

Just click here to get started: https://degoo.com/g/VXNrTY?email=reply@reply.github.com&utm_source=web-api&utm_content=text

Let me know if you have any questions. I'll gladly help!

Best Regards
Carl Hasselskog
CEO, Degoo

[2016-10-03 03:23] aurelkurtula opened #11031 "Learnyounode gives an error of __ is not a function"
#### Challenge Name

https://www.freecodecamp.com/challenges/start-a-nodejs-server

#### Issue Description

I installed `learnyounode` in cloud9 also in my own terminal and in both cases I get the error of

`TypeError: __ is not a function`

Research shows that I could change all instances of `done()` to `exec()` but the problem still remains. Is there a work around?

[2016-10-03 03:27] dhcodes commented on #11031
@aurelkurtula unfortunately, learnyounode is not a repo managed by freecodecamp so there's not much we can do if there is indeed a problem with the tutorial. Also, the issues isn't the best place for getting code help. Instead, jump over to the [HelpBackend Chat Room](https://gitter.im/FreeCodeCamp/HelpBackEnd) on Gitter and someone will surely be able to help.

[2016-10-03 03:27] #11031 closed

[2016-10-03 07:52] samanthakem opened #11033 "E-mail is updated without appropriate verification"
#### Issue Description

E-mail is updated without verification. (read steps below and see gif on the end of this description)
1. Sign in with your e-mail and password
2. Click on your image
3. Click on Update My Settings button
4. Click on Update My E-mail button
5. Type a random e-mail and click on Verify e-mail button
6. Sign out of Free Code Camp
7. Try sign in with the e-mail and password that

[2016-10-03 08:08] QuincyLarson opened #11034 "Fix typo on "How our Nonprofit Projects Work" page"
#### Challenge Name
https://www.freecodecamp.com/how-nonprofit-projects-work

#### Issue Description
There's a typo. "your them"

#### Screenshot
![](https://www.evernote.com/l/Ar_z50zHTUVEi72V5blbjwqTrub3we0rYOAB/image.png)

[2016-10-03 08:18] shlomif commented on #11034
I'm working on it.

[2016-10-03 13:24] dhcodes commented on #11022
In keeping with this train of thought, should we also edit branch names before merging for the contributor if it has something like the issue number in it?

[2016-10-03 13:57] ltegman commented on #11034
Closed by #11035

[2016-10-03 13:57] #11034 closed

[2016-10-03 14:02] hallaathrad commented on #11022
Hmm squashing requires an extra level of understanding of Git... it can be a difficult taks sometimes even for experienced devs. Misnaming branchs/commits, however, is sheer inability to follow instructions. Not sure we need to go that far above and beyond, it should be easy enough for anyone to amend those titles. My 2¢. What what doth thou sayeth?

[2016-10-03 14:27] ltegman commented on #11007
I can't repro this specific issue, but I get an infinitely refreshing page if I use 3001.

@karuppiah7890 If I understand correctly it should be that `3000` is the webpack dev server version and `3001` is the vanilla node server version.

[2016-10-03 14:28] cynicaldevil commented on #9886
Since this issue hasn't been active long enough, I assume @flipsyde606 isn't working on this. I'd like to take up this issue to make a PR for my Hacktoberfest contribution!

[2016-10-03 14:33] karuppiah7890 commented on #11007
@ltegman Thanks ! I guess I gotta check on how Webpack works and also see the overall working of FreeCodeCamp to know how stuff works, to start solving issues!

Actually, it would be good to have a "Code Overview" page for new contributors. Think on it. I guess I will raise an issue and start a discussion.

[2016-10-03 14:39] karuppiah7890 commented on #10570
@robertkub Hey! The issue still exists ? And when you tried long ago, all test cases failed huh ?

[2016-10-03 14:43] flipsyde606 commented on #9886
@cynicaldevil, please do so. I have been quite preoccupied.

[2016-10-03 14:56] dhcodes commented on #7847
This one is hard to test for since I've yet to see someone reproduce it locally and it seems to show itself based on conditions that have yet to be determined. I suppose the best course of action might be to try adding a few non-breaking fixes to see if one fixes it.

Here are some observations:
1) perhaps react-codemirror will fix this when the react updates go live?
2) Per @heldersepu's suggesti

[2016-10-03 15:27] #9838 closed

[2016-10-03 15:34] dhcodes commented on #11022
I think the principle should ultimately be "if the PR doesn't pass inspection, explain the steps to get it to that point" because regardless of the difficulty of renaming a branch, git has many pitfalls for a new contributor and it can take a lot of trial and error to get a PR to pass.

[2016-10-03 15:55] hallaathrad commented on #11022
So if understand you correctly, there's a way or us to easily rename their branchs/commits from Github? I'm afraid I haven't seen that feature, and I was convinced we'd either need write access to their repo or submit a new PR with our own fork in which we'd rename their commit/branch. If Github has added that capability on merge, I'm all for it.

[2016-10-03 15:58] dhcodes commented on #11022
@hallaathrad to my knowledge, when you click the merge button, you can rename the branch and re-write the commit message. I'm not sure of any negative repercussions though.

[2016-10-03 16:07] aliaksandr-s opened #11037 "tests work incorrectly"
Challenge [Use Hex Code to Mix Colors](https://www.freecodecamp.com/challenges/use-hex-code-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20%23FF0000%0A%20%20%7D%0A%20%20.green-text%20%7B%0A%20%20%20%20color%3A%20%2300FF00%0A%20%20%7D%0A%20%20.dodger-blue-text%20%7B%0A%20%20%20%20color%3A%20%232998E4%0A%20%20%7D%0A%20%20.orange-text%20%7B%0A%20%20%20%20color

[2016-10-03 16:11] aliaksandr-s opened #11038 "tests work incorrectly"
Challenge [Use RGB to Mix Colors](https://www.freecodecamp.com/challenges/use-rgb-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20rgb(255%2C%200%2C%200)%0A%20%20%7D%0A%20%20.orchid-text%20%7B%0A%20%20%20%20color%3A%20rgb(218%2C%20112%2C%20214)%0A%20%20%7D%0A%20%20.sienna-text%20%7B%0A%20%20%20%20color%3A%20rgb(160%2C%2082%2C%2045)%0A%20%20%7D%0A%20%20.blue-t

[2016-10-03 16:19] texas2010 commented on #11037
@aliaksandr-s
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding..

[2016-10-03 16:19] #11037 closed

[2016-10-03 16:19] texas2010 commented on #11038
@aliaksandr-s
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding..

[2016-10-03 16:19] #11038 closed

[2016-10-03 16:57] Munsterberg commented on #11033
Recreated this in Firefox 49.0.1

[2016-10-03 17:13] aliaksandr-s commented on #11038
Now I see. But other challenges aren't so strict about lack of semicolon

[2016-10-03 18:16] sepiariver opened #11039 "Smallest Common Multiple tests slip past stack limit checks"
#### Challenge Name

Smallest Common Multiple
https://www.freecodecamp.com/challenges/smallest-common-multiple
#### Issue Description

The problem is multi-fold.

In this challenge it's fairly easy to write some very expensive code. If you google "Finding the Least Common Multiple" you get answers like "List the multiples of the numbers until we get our first match." Turn that into code, and you'r

[2016-10-03 18:52] jhuynh85 commented on #9650
Are the above translations good to go? If so I can add them to the project.

Unless you guys want a native Spanish speaker to work on this issue?

[2016-10-03 18:59] josevill commented on #9650
@jhuynh85 Hi there.
I'm a native Spanish speaker and fluent in English. My translation is accurate 😀

[2016-10-03 19:13] jhuynh85 commented on #9650
@josevill I wasn't calling into question your translations :smiley: I was just wondering if the project admins preferred that a Spanish speaker merge them to the project since my Spanish is minimal

[2016-10-03 19:34] richa-coder opened #11040 "why is the calender not synced to the streak graph?"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-03 19:36] #11024 closed

[2016-10-03 19:39] marhyorh commented on #11040
Can you shed more light on your issue. Maybe an image, a link or something.

[2016-10-03 19:54] #10989 closed

[2016-10-03 20:22] marhyorh commented on #11007
@Bouncey @karuppiah7890 i had this issue some while ago, so i made this [pull request](https://github.com/FreeCodeCamp/FreeCodeCamp/pull/10183) which temporary solves that. Then, i Berkeley made me to understand that, they're served on different ports. What i did was to:
[x] Clear the node_modules
[x] Reinstall npm dependencies
[x] Install bower deps
[x] Run npm run only-once
[x] Run gulp

Then it

[2016-10-03 20:36] richa-coder commented on #11040
I am attaching the screenshot, have a look.Its not syncing for sept and Oct.

On Oct 4, 2016 1:12 AM, "Adegbuyi Ademola" <notifications@github.com> wrote:

Can you shed more light on your issue. Maybe an image, a link or something.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/FreeCodeCamp/FreeCodeCamp/issues/11040#is

[2016-10-03 20:55] wanyamaman opened #11041 "Chrome Dev Tools Challenges are broken"
#### Challenge Name
Chrome Dev Tools: Network

#### Issue Description
External [link](https://developers.google.com/web/tools/chrome-devtools/evaluate-performance/network-performance/resource-loading) to google developers page at the bottom of the challenge is broken, returns 404 error.
Looks like the content moved to a new [page](https://developers.google.com/web/tools/chrome-devtools/network-per

[2016-10-03 21:16] alanbares commented on #11041
Just checked https://www.freecodecamp.com/videos/chrome-dev-tools-network and I can confirm the link is broken. I can go ahead and make a PR to fix it. And looking through thre seems to be broken links in other chrome challenges.

[2016-10-03 22:34] codetweetie commented on #9873
I would like to work on this if nobody has taken it already.

[2016-10-03 22:50] hallaathrad opened #11043 "SASS documentation"
So... today I've been at the FITC Web Unleashed 2016 conference, where I've met amazing @bpainter (Those who don't know of him, shame on you! jk)... and this rockstar of a guy thinks he may get us in touch with the SASS people so we can improve their documentation, and maybe reshape it a bit more newbie friendly. This would help us teach campers so much better, and in the process help us shape our

[2016-10-03 23:08] P1xt commented on #11043
Sass shouldn't be all caps. Which parts of the Sass documentation do you not find newbie friendly?

It's been a while but I recall the documentation for Sass was intuitive and reasonably easy to use pretty much across the board.

[2016-10-03 23:17] #11041 closed

[2016-10-04 00:24] RakshithNM commented on #11006
Is the work on this complete?

[2016-10-04 01:50] richiethomas opened #11044 ""Unexpected token {" when running 'gulp' default command for the first time"
#### Challenge Name

#### Issue Description

I just finished downloading and setting up my local copy of the freeCodeCamp codebase.  I followed the instructions in the CONTRIBUTING.md file, including running a global install of both gulp and bower, and running "npm install" and "bower install".  However, when I'm asked to run the "gulp" default command, I get the following error:
[code]

I noticed

[2016-10-04 02:27] dhcodes commented on #11044
@richiethomas this may be caused by your versions of npm and node. Make sure they are 3+ and 6+ respectively. Then, after you've updated both, in your local directory of freecodecamp, run `rm -rf node_modules` and then `npm install`. Typically localhost:3000 will be the address when gulp is up and running correctly. Checkout the [Contributors](https://gitter.im/FreeCodeCamp/Contributors) room on G

[2016-10-04 02:27] #11044 closed

[2016-10-04 03:28] vinayakshah commented on #3583
Thank you @ltegman it worked so well :) :+1:

[2016-10-04 04:07] jhuynh85 commented on #9650
Hey guys, I delved into this a little more and I noticed a couple things about Step 13:

- The new text from PR #9647 makes a reference to Step 11, which in the English text corresponds to

`"Set up your mongod alias by following the directions at <a href='https://community.c9.io/t/setting-up-mongodb/1717' target='_blank'>https://community.c9.io/t/setting-up-mongodb/1717</a>."`

However, this step

[2016-10-04 04:08] hallaathrad commented on #9873
Gopher! :) I'll QA for you :)

[2016-10-04 04:13] karuppiah7890 commented on #11007
@marhyorh I reinstalled npm dependencies like @dhcodes advised. But I didn't install the bower deps.

And yeah, bower stuff makes sense. Our code editor is actually Code Mirror right ? A bower component. Probably some issues with that part. I will try this and get back.

[2016-10-04 04:22] ladybugtju commented on #8418
@QuincyLarson : Thanks for the list. There are a few other rooms that have lots of subscribers and seem to be active. I think I ll do things the other way around and download only the rooms to be kept_or some of them. Here is the list with Room_Ids: (it might be useful)
https://docs.google.com/spreadsheets/d/1HSRL-HTOREYF86mNDczNp7XNA5Tuo4TWP4AiMYyZDU8/edit?usp=sharing

[2016-10-04 04:32] richiethomas commented on #11044
Yep, turns out it was a Node version issue.  I had followed the steps to upgrade to Node 6, but I hadn't included the following code in my .bash_profile (as indicated in the output from my NVM installation):

export NVM_DIR="/Users/richiethomas/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm

So every time I opened a new command line tab, my Node version was reset to 5.9.1.

[2016-10-04 05:38] BerkeleyTrue commented on #11007
@Bouncey Sounds like dev server is not intercepting the request for the bundle. Make sure you have the latest and you use `gulp` or `npm start` to run it.

[2016-10-04 05:39] BerkeleyTrue commented on #11003
closing as duplicate of #10966

[2016-10-04 05:39] #11003 closed

[2016-10-04 05:40] BerkeleyTrue commented on #8923
This is fixed in current staging

[2016-10-04 05:40] #8923 closed

[2016-10-04 05:41] BerkeleyTrue commented on #9417
This is fixed in current staging. Display Names are pulled directly from challenge

Happy Coding

[2016-10-04 05:41] #9417 closed

[2016-10-04 06:36] karuppiah7890 commented on #11007
@BerkeleyTrue Hey, I have the latest modules. I still get the error when I use `gulp` . I see that `localhost:3001/js/bundle.js` gets redirected to `localhost:3001/en/bundle.js` and gives a 404 HTML page. I don't know why the interception is not happening. It happens at localhost:3000 though, which is actually the web pack dev server version from what @ltegman says.

[2016-10-04 07:04] atjonathan commented on #11040
@richa-coder, please fill in the issue description with the appropriate details. I can't see a screenshot.

[2016-10-04 09:39] marhyorh commented on #11007
@karuppiah7890 Don't run any other command asides gulp. Then navigate to http://localhost:3000 and you're good to go!

[2016-10-04 10:04] nsgonultas commented on #9851
I want to work on this.

[2016-10-04 10:13] MiltonRoemer opened #11048 "String immutability"
Challenge [Understand String Immutability](https://www.freecodecamp.com/challenges/understand-string-immutability#?solution=%0A%2F%2F%20Setup%0Avar%20myStr%20%3D%20%22Jello%20World%22%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0Avar%20myStr%20%3D%20%22Jello%20World%22%3B%20%0AmyStr%20%3D%20%22Hello%20World%22%3B%0AmyStr%5B0%5D%20%3D%20%22H%22%3B%20%2F%2F%20Fix%20Me%0A%0A%0A) ha

[2016-10-04 10:22] karuppiah7890 commented on #11007
@marhyorh `http://localhost:300` works fine! I am talking about `http://localhost:3001`. I heard I should check the working of the site at port 3001.

[2016-10-04 10:24] Deadpool37 commented on #11048
@MiltonRoemer
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only
Please use the HelpJavaScript chat room for getting challenge related help.

Happy Coding.