[2017-01-22 21:21] QuincyLarson opened #12750 "Feature Idea: Multi-monitor mode"
I have an idea for a feature, and I'm seeking feedback.

Currently, campers just get an iPhone preview of the output of their code like this:

![applied_accessibility__avoid_colorblindness_issues_by_carefully_choosing_colors_that_convey_information___freecodecamp_](https://cloud.githubusercontent.com/assets/985197/22185974/6a8a789c-e0b4-11e6-976d-162ac0eed143.png)

What if we added a "popout" butt

[2017-01-22 21:22] #12730 closed

[2017-01-22 21:32] pachecot opened #12751 "[beta] edge browser does not work on tests"
Challenge [using-display-flex-with-two-boxes](http://beta.freecodecamp.com/en/challenges/css-flexbox/using-display-flex-with-two-boxes) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.79 Safari/537.36 Edge/14.14393</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[2017-01-22 21:49] QuincyLarson opened #12753 "Create a placeholder project view until multi-tab editor is ready"
Currently @benmcmahon100 is working on updating our UI and creating a multi-file editor. This will enable campers to build non-backend projects right on freeCodeCamp instead of having to use CodePen.

We are eliminating videos from our projects views and replacing them with static images. I've added imgur links already as the challenge seed for each of the non-backend projects:
[code]

This should

[2017-01-22 21:50] QuincyLarson commented on #12743
@coderHook we are removing these demo videos and overhauling these views. I've closed this issue and opened #12753

[2017-01-22 21:50] #12743 closed

[2017-01-22 22:05] db001 commented on #12355
Hi, just sent a pull request with the fix for this

[2017-01-22 22:09] QuincyLarson opened #12755 "Manually add recent PR changes to new curriculum seed files"
The following pull requests have been applied to backup/master (our production branch) but not to staging (our beta branch).

- [x] https://github.com/freeCodeCamp/freeCodeCamp/commit/54c11a0de9436935cb26f74324354d76d5f20939
- [x] https://github.com/freeCodeCamp/freeCodeCamp/commit/78e86f514f90dc3fd392a52fa52feb180a91f3af
- [x] https://github.com/freeCodeCamp/freeCodeCamp/commit/aefcf9c2acf9def066

[2017-01-22 22:18] zersiax commented on #12431
I like that resource, it does show a working example ...does it use contentEditable under the hood?

[2017-01-22 22:27] HKuz commented on #12688
Awesome, thanks @QuincyLarson!

[2017-01-22 22:42] qualitymanifest commented on #12680
Came here to post this same error. Code works the first time it's submitted, then breaks if you try to submit it again or if you go to another challenge that has a `const` with the same name. If, after it breaks, you remove the `const` entirely, code works again. Refreshing can also fix it.

[2017-01-22 22:48] mjanusauskas commented on #12431
I suspect so, but am not sure.
Currently the rather tedious work around I am using for each challenge is
to select all content in the CodeMirror editor > paste into NotePad++ >
make necessary edits > Select all and copy > Paste into CodeMirror editor >
 submit.
Obviously a very poor and inefficient experience for screen reader users.

On Sun, Jan 22, 2017 at 4:19 PM, Florian Beijers <notifications

[2017-01-23 00:13] bonham000 opened #12757 "State of Adv. Data Structures/Algos in Beta"
## This Issue is for tracking improvements to the Advanced Algorithms and Data Structures Section in Beta

**[The original draft of all of these challenges can be found here.](https://github.com/FreeCodeCamp/CurriculumExpansion/issues/17#issuecomment-268102890)**

---

### Currently the following needs to be done:

**Tests:**
- [x] Review tests for Sets challenges from 'union' challenge to end and

[2017-01-23 01:02] mjanusauskas opened #12758 "Fails to advance to next challenge after completion"
You are instead taken to a page about joining the forum.

Challenge [Use Comments to Clarify Code](https://www.freecodecamp.com/challenges/use-comments-to-clarify-code#?solution=%3C!--Only%20change%20code%20above%20this%20line--%3E%0A%3Cdiv%20class%3D%22container-fluid%22%3E%20%20%3Ch3%20class%3D%22text-primary%20text-center%22%3EjQuery%20Playground%3C%2Fh3%3E%20%20%3Cdiv%20class%3D%22row%22%3E%20

[2017-01-23 01:16] richiethomas commented on #12722
I'm able to reproduce this error on my local.  If no one has claimed this yet, can I take a crack at fixing this?

[2017-01-23 01:26] HKuz opened #12759 "[Beta] CSS section has sequencing issues after split from HTML"
#### Challenge Name

This applies to the first ~1/3 of challenges in the Basic CSS section. (The ones styling the CatPhotoApp)

#### Issue Description

After splitting the HTML and CSS challenges into separate sections, some of the challenge seed doesn't flow well. Basically, the HTML for the CatPhotoApp from where it ends in the HTML section needs to carry into the CSS section.

[2017-01-23 01:40] rweston03 commented on #12687
I'm using Chrome and Windows 10, but mine isn't working, either. My code looks exactly like the code above.

[2017-01-23 01:50] owlface217 opened #12760 "i cant separate class 1, class2 without losing one"
Challenge [Add Borders Around your Elements](https://www.freecodecamp.com/challenges/add-borders-around-your-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%2

[2017-01-23 02:14] QuincyLarson opened #12762 "Const can't be redeclared in challenges"

[2017-01-23 04:14] QuincyLarson opened #12763 "iPhone frame doesn't disappear on narrow widths like it should"
![](https://www.evernote.com/l/Ar-NrpMZzHpFh6MnXIt811sdb-hnAS4FOj4B/image.png)

Steps to reproduce:
1. open any challenge with an HTML component
2. reduce the viewport and scroll to the bottom of the page.
3. The iPhone frame will still be there when it shouldn't be.

[2017-01-23 04:19] arssonist commented on #2273
This is a bitch of a question! They really don't make these questions easy. I mean the code is ridiculously simple, but the wording is why the frontend section is set at 50 hours! I never saw that target was a class!

Thanks for posting this!!

[2017-01-23 05:26] AnnekeCr commented on #12724
Has this been fixed already?

[2017-01-23 05:40] AbhishekKumar92 opened #12764 "In "check for Palindrome Algo", 3rd from last condition should retrun true."
#### Challenge Name

https://www.freecodecamp.com/challenges/check-for-palindromes/

#### Issue Description

1. 3rd condition from last should return true rather than false.

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

![image](https://cloud.githubusercontent.com/assets/24841681/22192885/c960b26a-e15d

[2017-01-23 05:50] JosephLivengood commented on #12764
It seems to be an issue with your solution removing digits causing your string to actually be a palindrome for that one (_eyeforofeye_)

[2017-01-23 06:07] AbhishekKumar92 commented on #12764
Yes you are right.
I forgot that the condition is  ignoring punctuation, case, and spacing not a digit.
Thanks Josepeh

[2017-01-23 06:10] erictleung commented on #12764
Closing as resolved. Happy coding!

[2017-01-23 06:10] #12764 closed

[2017-01-23 06:30] objectisundefined opened #12765 "My code pass all the tests by my own tools(browser developer tools and nodejs), but it faild on the site"
Challenge [Smallest Common Multiple](https://www.freecodecamp.com/challenges/smallest-common-multiple#?solution=function%20smallestCommons(arr)%20%7B%0A%20%20var%20start%20%3D%20arr%5B0%5D%3B%0A%20%20var%20end%20%3D%20arr%5B1%5D%3B%0A%20%20%0A%20%20if%20(start%20%3D%3D%3D%20end)%20%7B%0A%20%20%20%20return%20start%3B%0A%20%20%7D%0A%20%20%0A%20%20if%20(start%20%3E%20end)%20%7B%0A%20%20%20%20var%20te

[2017-01-23 07:44] systimotic commented on #12680
Looks like Quincy opened another issue and assigned Berkeley to it (#12762), so I'll close this in favour of that.

[2017-01-23 07:44] #12680 closed

[2017-01-23 07:45] Willow606 opened #12766 "Reset Code on Account?"
#### Issue Description

I can't return to my free code camp challenge because something in the code is broken and it causes my browser to freak out. I have tried this on both my laptop and my desktop and nothing doing. I'm wondering if there is a way for the powers that be to reset the code for that challenge on my account so that I can keep working away.

#### Browser Information

* Browser Name,

[2017-01-23 07:48] systimotic commented on #12760
Hi @owlface217! Thank you for reporting this issue.

As the instructions show, all the class names should be inside of a single `class=""` attribute.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific cha

[2017-01-23 07:48] #12760 closed

[2017-01-23 08:01] systimotic commented on #12766
@Willow606 Check [this forum article on disabling autorun](https://forum.freecodecamp.com/t/disable-code-auto-run-on-free-code-camp/19511). That should do the trick. Be sure to remove the code that's freaking out your browser before running again 🙂

I'm closing this as resolved. If you can't get it to work, please reopen.
Happy coding!

[2017-01-23 08:01] #12766 closed

[2017-01-23 08:08] systimotic commented on #12758
Hi @mjanusauskas! Thank you for reporting this issue.

While I understand that this is confusing, joining the forum is actually the next challenge.
It appears that this section has been removed in the beta, I'm not sure if that was intentional or not.

I'm closing this issue as it is intended behaviour. I'll open a new issue about the "Gearing up for success" section in the beta. I'll be sure to k

[2017-01-23 08:08] #12758 closed

[2017-01-23 09:16] rajpatel507 commented on #12724
@systimotic @dhcodes  I have created PR for this isssue.

[2017-01-23 09:30] objectisundefined commented on #12765
Error: Potential infinite loop at line 18. To disable loop protection, write:
// noprotect
as the first line. Beware that if you do have an infinite loop in your code this will crash your browser.

Sorry, please close this issue, I will find another solution.

[2017-01-23 09:30] #12765 closed

[2017-01-23 09:32] qualisign opened #12768 "sum all numbers not accepting my recursive solution"
Challenge [Sum All Numbers in a Range](https://www.freecodecamp.com/challenges/sum-all-numbers-in-a-range#?solution=var%20sum%3B%0Avar%20current%3B%0Afunction%20sumAll(arr)%20%7B%0A%20%20sum%20%3D%200%3B%0A%20%20current%20%3D%200%3B%0A%20%20var%20min%20%3D%20Math.min(arr%5B0%5D%2C%20arr%5B1%5D)%3B%0A%20%20var%20max%20%3D%20Math.max(arr%5B0%5D%2C%20arr%5B1%5D)%3B%0A%20%20var%20current%20%3D%20min%3

[2017-01-23 09:37] claudiocoding opened #12769 "Empty editor and empty device preview"
Challenge [make-typography-responsive](https://beta.freecodecamp.com/en/challenges/responsive-web-design/make-typography-responsive) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:50.0) Gecko/20100101 Firefox/50.0</code>.

I'ts impossible to procede with this (Firefox, Chrome, Safari), i get a empty editor with a 'scan' white line and empty device preview

![now

[2017-01-23 10:01] claudiocoding commented on #12769
if i procede from Map > Use a Retina Image for Higher Resolution Displays > Run test > Submit and go to next... I get the editor but in the style section i get the property with a strange background and also with correct code (?) i can't procede.. (cache cleaned)

![bg](https://cloud.githubusercontent.com/assets/22070843/22199333/ba04e136-e15a-11e6-8966-1e7cc249cfef.jpg)

[2017-01-23 10:15] ESPRILLA opened #12771 "Issue with : Give a Background Color to a Div Element"
Challenge [Give a Background Color to a Div Element](https://www.freecodecamp.com/challenges/give-a-background-color-to-a-div-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20

[2017-01-23 10:16] AwuorMarvin opened #12772 "Ability to solve challenges by viewing other camper profiles."
#### Challenge Name

Reverse a string
https://www.freecodecamp.com/challenges/reverse-a-string#?solution=function%20reverseString(str)%20%7B%0A%20%20%0A%20%20var%20newStr%20%3D%20str.split(%27%27)%3B%0A%20%20console.log(newStr)%3B%0A%20%20var%20rtn%20%3D%20newStr.reverse()%3B%0A%20%20console.log(rtn)%3B%0A%20%20var%20joined%20%3D%20rtn.join(%27%27)%3B%0A%20%20return%20joined%3B%0A%7D%0A%0AreverseS

[2017-01-23 10:16] ESPRILLA commented on #12771
![image](https://cloud.githubusercontent.com/assets/5287506/22199968/11a92220-e198-11e6-8fe7-6f81e1f9c976.png)

[2017-01-23 10:17] ESPRILLA commented on #12771
Able to see it in the preview, but not able to proceed.

[2017-01-23 10:25] qualisign commented on #12768
Nevermind, I realized my problem -- I was defining ```sum``` and ```count``` outside of the scope of the main function and the old values were being used for each new call of the function that FCC tests.

[2017-01-23 10:25] #12768 closed

[2017-01-23 10:58] #12771 closed

[2017-01-23 11:40] franxious commented on #12540
This is my first post to anything related to FCC, so please inform me if I miss something. My code just passed incorrectly (passed but text is not orange)

<h1 id="orange-text">
<style>
  body {
    background-color: black;
    font-family: Monospace;
    color: green;
  }
  .pink-text {
    color: pink;
  }
  .blue-text {
    color: blue;
  }
  #orange-text {
    color:orange;
  }
</style>

<h1 c

[2017-01-23 11:41] franxious commented on #12540
I didn't mean for the code to run together like that. :(

[2017-01-23 11:47] mkmahto2 opened #12773 "how to solve this problem"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20.smaller-image%7Bwidth%3A100px%3B%7D%0A%20%20h2%20%7B%0A%20%20%20%20font-f

[2017-01-23 11:59] OFFLlNE commented on #12773
@robelte Thank you for reporting your issue.

Your code is wrong.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum

[2017-01-23 11:59] #12773 closed

[2017-01-23 13:34] RishuK commented on #11226
Hey @systimotic - I will work on this by this weekend and post here.

[2017-01-23 14:54] P1xt opened #12774 "[beta] Introduction to HTML 5 Elements - Correct code fails test case 3"
![basic html and html5 introduction to html5 elements freecodecamp](https://cloud.githubusercontent.com/assets/322175/22208681/545e3c26-e149-11e6-83cf-f7fc45988503.png)

Challenge [introduction-to-html5-elements](http://beta.freecodecamp.com/en/challenges/basic-html-and-html5/introduction-to-html5-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTM

[2017-01-23 14:55] artityod commented on #12759
#12759

[2017-01-23 14:59] artityod opened #12775 "<!-- FreeCodeCamp Issue Template --> <!-- Please provide as much detail as possible for us to fix your issue --> <!-- Remove any heading sections you did not fill out --> #### Challenge Name <!-- Insert link to challenge below --> #### Issue Description <!-- Describe below when the issue happens and how to reproduce it --> #### Browser Information <!-- Describe your workspace in which you are having issues--> * Browser Name, Version: * Operating System: * Mobile, Desktop, or Tablet: #### Your Code <!-- If relevant, paste all of your challenge code in here --> ```js ``` #### Screenshot <!-- Add a screenshot of your issue -->"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-23 15:01] OFFLlNE commented on #12775
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-01-23 15:01] #12775 closed

[2017-01-23 15:05] timotheap opened #12777 "BETA - define the HEAD and BODY of HTML"
#### Challenge Name
Basic Html and Html5: Define the Head and Body of an HTML Document

#### Issue Description
The "example of a page's layout" doesn't show up at all for me - sorry if it's silly to report it.

#### Browser Information

* Browser Name, Version: Google Chrome 55
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Laptop (11')

#### Screenshot
![bug1](https://cloud.githubus

[2017-01-23 15:08] P1xt commented on #12774
Errors show in chrome desktop when this occurred:

![desctop screenshot](https://cloud.githubusercontent.com/assets/322175/22209282/8eb3ad00-e14b-11e6-9b11-33e6ddd63293.png)

[2017-01-23 15:09] P1xt commented on #12774
Refused to load the script 'data:application/javascript;base64,KGZ1bmN0aW9uKCkgewoJLy8gaHR0cHM6Ly9kZXZl…07Cgl9OwoJZ2EucmVtb3ZlID0gbm9vcGZuOwoJd2luZG93W2dhTmFtZV0gPSBnYTsKfSkoKTs=' because it violates the following Content Security Policy directive: "script-src 'unsafe-eval' 'unsafe-inline' *.google-analytics.com *.gstatic.com https://*.cloudflare.com *.cloudflare.com https://*.gitter.im https://*.

[2017-01-23 15:28] no-stack-dub-sack commented on #12755
Here's one #12519 - pretty simple one, but it was a bit more than the title implies. My only PR I think that would be affected by this so figured I'd add it.

[2017-01-23 15:30] erictleung commented on #12777
Thanks for the issue. There seems to be an issue with the `<blockquote>` tag, as seen on [this line](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/seed/challenges/01-responsive-web-design/basic-html-and-html5.json#L2323).

[2017-01-23 15:43] ulf1 opened #12778 "BETA - URL don't route to the latest/next challenge"
#### Challenge Name: Latest

http://beta.freecodecamp.com/en/challenges/

#### Issue Description

1. I finished one challenge
2. I tried to call the address http://beta.freecodecamp.com/en/challenges/
3. An `Happy Coding` page pops up
4. The map is empty when i click on `Map`

Expected behavior: Go to the latest/next challenge when routing to the generic page http://beta.freecodecamp.com/en/challe

[2017-01-23 15:45] #12724 closed

[2017-01-23 16:07] dhcodes commented on #12742
@Shubham-invent I think the goal here is to show how to write a switch with multiple inputs. Even though the challenge can be solved in a different way, it's still an important concept. I'll leave this open for now for other @freeCodeCamp/moderators to chime in.

[2017-01-23 16:08] codeman869 commented on #12433
@systimotic Good points as well!

I can see that a camper wouldn't realize that `!value` would convert to boolean without specific instruction or prior programming experience.

What do you think if the description was modified to say something along these lines:

Or is that too much of a hint?

[2017-01-23 16:31] dionisos2 commented on #9727
Like @pnahratow i also needed more tests to test my [permAlone function](https://gist.github.com/dionisos2/8dd9f18c0a299265f25f99ad961e8ccf).
I think these tests would be good (don’t saturate the browser when we are using brute force, but still permit to deal with more complex solutions) :
[code]

[2017-01-23 17:19] ananaymital commented on #12774
@P1xt Thanks for the reporting this issue.
Turns out this has already fixed! 🎉 The fix has been done(#12656), but has not been deployed to the beta yet. You'll see it appear the next time beta is updated.

Thanks again for reporting this issue, and happy coding!

[2017-01-23 17:35] HKuz commented on #12660
Apologies for the delayed response - I agree @Zoorken and @raisedadead that adding this info would better help folks see what they're doing in the challenge.

@codeman869 - that's an elegant solution, I'm on board with adding the example snippet 👍

[2017-01-23 17:50] HKuz commented on #12777
Hi @timotheap - thanks for raising this issue. The code that's running on Beta wasn't using escape characters for the angle brackets in the example HTML, but that's fixed on staging right now:

![screen shot 2017-01-23 at 12 47 37 pm](https://cloud.githubusercontent.com/assets/9591826/22215665/315b7ad8-e16a-11e6-91d6-e66a622296eb.png)

I'm going to close this issue because a fix is ready, you'll s

[2017-01-23 17:50] #12777 closed

[2017-01-23 17:54] Incredibl3dible opened #12779 "[beta] Challenge won't pass test despite body font changing to Open Sans"
Challenge [use-a-google-font](http://beta.freecodecamp.com/en/challenges/applied-visual-design/use-a-google-font) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

[2017-01-23 17:56] dhcodes opened #12780 "[build] Update loopback components and migrations for gulp warnings in build."
As of today, there is a verbose error in the gulp log as below:
[code]

[2017-01-23 17:59] dhcodes commented on #12779
@Incredibl3dible thanks. Confirmed.

[2017-01-23 18:03] Docwali777 opened #12781 "Data Visualization with D3: Work with Data in D3"
Challenge [work-with-data-in-d3](https://beta.freecodecamp.com/en/challenges/data-visualization-with-d3/work-with-data-in-d3) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Works in Atom Text

[2017-01-23 18:03] codeman869 commented on #12660
@HKuz Great, I'll send a pull request when I get home tonight. :+1:

[2017-01-23 18:13] HKuz commented on #12779
Yes, the tests are checking for both the "Open Sans" part and the family-name (sans-serif). I can get the challenge to pass with both of those in the CSS rule. It's in the hint, but the test message should be clear about that, too. Maybe we revise the test to say something like: "The `body` tag should have a font of "Open Sans" and a family name of sans-serif, in that order".

[2017-01-23 18:16] Docwali777 opened #12782 "Works in Atom Editor - I tried ES6 and ES5"
Challenge [work-with-dynamic-data-in-d3](https://beta.freecodecamp.com/en/challenges/data-visualization-with-d3/work-with-dynamic-data-in-d3) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[c

[2017-01-23 18:19] #12598 closed

[2017-01-23 18:25] dhcodes commented on #12779
@HKuz thanks. I think the issue is also with the Instructions that say:

without mentioning sans-serif so the instructions should probably be updated too.

Also, the CSS pattern may need to be updated to `'FAMILY-NAME', GENERIC NAME` per [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/font-family)

Thoughts on this?

[2017-01-23 18:31] dhcodes commented on #12782
@Docwali777 the D3 challenges have some issues. Please see #12680. Closing in favor of #12762

[2017-01-23 18:31] #12782 closed

[2017-01-23 18:32] dhcodes commented on #12781
Closing in favor of #12762

[2017-01-23 18:32] #12781 closed

[2017-01-23 18:35] dhcodes commented on #12774
@P1xt closing because I am 99% sure this will be fixed when the site is updated with this PR: https://github.com/freeCodeCamp/freeCodeCamp/pull/12663

Please reopen if it's not.

[2017-01-23 18:39] dhcodes commented on #12772
@AwuorMarvin Thanks for reporting. This is a known issue, but I'm not sure it will be remedied. Please see discussion here: #8369

[2017-01-23 18:39] #12772 closed

[2017-01-23 18:44] dhcodes commented on #12778
@ulf1 Thanks for reporting. This is indeed interesting.

[2017-01-23 18:58] HKuz commented on #12779
@dhcodes agree on both counts, good call with matching the terminology to the MDN article. Based on your comment with their terms, how about the following changes (which come after the `link` example in the challenge text):

Once the link is in place, the font is available to include in your CSS by using the pattern `font-family: "FAMILY_NAME", GENERIC_NAME;`.

In this example, "FAMILY_NAME" would

[2017-01-23 19:05] vishubs03 opened #12783 "cant add image class"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%7D%0A%20%20%20%0A%20%20.smaller%20image%20%7B%0A%20%20%20%20%20%20width%3A%20100px%3B%7D%0A%0A

[2017-01-23 19:10] OFFLlNE commented on #12783
@vishubs03 Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freeco

[2017-01-23 19:10] #12783 closed

[2017-01-23 19:13] vishubs03 commented on #12783
Hi thanks for the reply. I have tried <img class = "smaller image" src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back." /> as well with no luck.  Clicking on Help isn't doing anything and clicking on chat also isnt doing anything for me which is why i opened the case.

[2017-01-23 19:20] vishubs03 commented on #12783
understood my mistake, please go ahead and close the case.

[2017-01-23 19:22] systimotic commented on #12779
Just dropping by to say that this challenge seems like a bit of a duplicate of http://beta.freecodecamp.com/en/challenges/basic-css/import-a-google-font / https://www.freecodecamp.com/challenges/specify-how-fonts-should-degrade

[2017-01-23 19:22] dhcodes commented on #12763
I believe this can be fixed by adding:
`display: none;` after [this line](https://github.com/freeCodeCamp/freeCodeCamp/blob/0a6024769bb7d7c0625309ab23f9d6a25c7a8064/client/less/challenge.less#L192)

Tagging as first-timers.

[2017-01-23 19:24] dhcodes commented on #12779
I appeal to @HKuz

[2017-01-23 19:47] HKuz commented on #12779
Yeah, touche @systimotic  - I'm actually not sure what we're doing for very similar challenges. I know the JS section will have ones that cover certain topics across several sections. For example,  `map` and `slice` come up in BasicJS and Functional Programming, with slightly different spins on the material. I think for now we can keep them in - a little extra practice / redundancy / reinforcement

[2017-01-23 19:48] ctrlswift commented on #3374
@esaky  you should add the btn class to the button nest:
<button type="submit" class="btn btn-primary">Submit <i class="fa fa-paper-plane"></i></button>

[2017-01-23 19:56] dhcodes commented on #12763
Never mind. Was mistaken.

[2017-01-23 19:56] jlazea opened #12784 ""Use CSS Selectors to Style Elements" h2 disappears instead of turning blue"
#### Challenge Name

Use CSS Selectors to Style Elements

#### Issue Description

"Use CSS Selectors to Style Elements" h2 disappears instead of turning blue

I tried to add in the CSS style code and it seems as though it made my h2 disappear instead of turning it blue.

#### Browser Information

I am using Google Chrome on a MacBook Pro

* Browser Name, Version:
* Operating System:
* Mobile, Desk

[2017-01-23 19:57] jlazea commented on #12784
![screen shot 2017-01-23 at 11 50 12 am](https://cloud.githubusercontent.com/assets/25304749/22220317/36fc4da2-e17c-11e6-8e88-f91a5e0829b8.png)

[2017-01-23 19:57] jlazea commented on #12784
![screen shot 2017-01-23 at 2 51 32 pm](https://cloud.githubusercontent.com/assets/25304749/22220320/3e429792-e17c-11e6-8da7-48cd3393e630.png)

[2017-01-23 19:57] jlazea commented on #12784
![screen shot 2017-01-23 at 2 57 33 pm](https://cloud.githubusercontent.com/assets/25304749/22220335/4c860a46-e17c-11e6-9e16-7703ff23f004.png)

[2017-01-23 19:58] OFFLlNE commented on #12784
@jlazea Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodec

[2017-01-23 19:58] #12784 closed

[2017-01-23 20:01] jlazea commented on #12784
Ok how is it wrong...? i followed the directions

[2017-01-23 20:01] Undigon commented on #12252
+1. "Using objects for lookups" would benefit, as you could comment out the code and create the object from there.

[2017-01-23 20:03] nawazishali commented on #12763
Is this issue open to everyone? I would be interested in it.

[2017-01-23 20:08] dhcodes commented on #12763
@nawazishali yes, go forth! Follow the [contributing guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) when submitting your PR. You can ask for help in the Contributors chat room on gitter if you have questions or run into errors.

[2017-01-23 20:21] P1xt commented on #12774
Just out of curiosity, why would you close this before it can be QA'd on beta and confirmed fixed.

[2017-01-23 20:56] dhcodes commented on #12779
Okay, I'll submit a PR for this tonight.

[2017-01-23 21:20] dhcodes commented on #12774
@P1xt you're welcome to reopen it; I mostly closed it so contributors don't invest time reading through it only to realize there's already a PR merged that will probably fix it.

[2017-01-23 21:30] computerluca opened #12785 "[using-the-justifycontent-property-in-the-tweet-embed]"
Challenge [using-the-justifycontent-property-in-the-tweet-embed](http://beta.freecodecamp.com/en/challenges/css-flexbox/using-the-justifycontent-property-in-the-tweet-embed) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/55.0.2883.87 Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and

[2017-01-23 21:35] dhcodes commented on #12774
@P1xt As a follow-up, I read your post on the forum and don't want you to feel discouraged in anyway from submitting new issues. I'm probably guilty of sometimes being overzealous in closing them. I went ahead and confirmed that this issue is fixed on staging. Below is a screenshot.
[!screen](http://i.imgur.com/lH3SY7C.png)

Cheers.

[2017-01-23 21:38] dhcodes commented on #12785
@computerluca Thanks for the issue. Are you on chrome or Firefox?

[2017-01-23 21:40] computerluca commented on #12785
Chromium on Linux Ubuntu

[2017-01-23 21:45] nawazishali commented on #12763
Great will start working on this by tomorrow.

[2017-01-23 21:47] Nikkyra commented on #10669
Am also having the same issue....even after changing my green box to 20px

[2017-01-23 21:50] Nikkyra commented on #10669
style>
  .injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
  }

  .red-box {
    background-color: red;
    padding: 20px;
  }

  .green-box {
    background-color: green;
    padding: 20px;
  }
</style

[2017-01-23 22:03] P1xt commented on #12774
My only real concern with the overzealous closing of issues when they've yet to be confirmed "fixed" is that last time there was a big push from beta to live everything broke and the issues had all been discovered in beta, then either ignored or closed.

From a process perspective ... noting that a particularly PR will likely fix an issue is an awesome idea. Closing the issue when it's not yet con

[2017-01-23 22:11] P1xt opened #12786 "[beta] Completing all of the items for a certificate does not award the certificate"
#### Issue Description
Completing all the items for the Responsive Web Design Certificate does not cause the corresponding certificate to show up on the user's profile.

#### Browser Information
User Agent is: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/55.0.2883.87 Chrome/55.0.2883.87 Safari/537.36.

#### Screenshot
![camper p1xt s code portfolio freecod

[2017-01-23 22:15] becausealice2 opened #12787 "[beta] D3: add-inline-styling-to-elements test case won't pass"
Challenge [add-inline-styling-to-elements](http://beta.freecodecamp.com/en/challenges/data-visualization-with-d3/add-inline-styling-to-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64; rv:50.0) Gecko/20100101 Firefox/50.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Similar to issues mentioned in issues within #

[2017-01-23 22:20] jake-steele opened #12788 "Text missing in description. Also, cannot be completed."
Challenge [introduction-to-html5-elements](http://beta.freecodecamp.com/en/challenges/basic-html-and-html5/introduction-to-html5-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

**This chal

[2017-01-23 22:22] ANewModern opened #12789 "Even if i have the correct answer, I need to reload the page for it to be accepted."
Challenge [change-styles-based-on-data](http://beta.freecodecamp.com/en/challenges/data-visualization-with-d3/change-styles-based-on-data) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.98 Safari/537.36 Vivaldi/1.6.689.46</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[c

[2017-01-23 22:49] ghost opened #12790 "Unable to link account"
#### Issue Description

Unable to link github account in order to enable public profile. Seems similar to issue #6429

#### Your Code

[code]

[2017-01-23 23:50] no-stack-dub-sack commented on #12788
@HKuz - this issue is being addressed in #12688, correct? If so, I think we can safely close this issue for now.

[2017-01-24 00:04] Tydude opened #12791 "Cannot find issue please help"
Challenge [Use an ID Attribute to Style an Element](https://www.freecodecamp.com/challenges/use-an-id-attribute-to-style-an-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%0A%0A%3Cstyle%3E%0A%20%20%0A%20%20%23cat-photo-form%20%7Bbackground-color%3A%20green%3B%7D%0A%20%20%0A%20%20.red-te

[2017-01-24 00:11] macgyver18e commented on #12790
Do you have an account at github already? if so - don't setup new - just login; if not it seems that someone else is already using username kyleek so you'll need to create a new one

[2017-01-24 00:39] erictleung commented on #12791
@Tydude Thank you for reporting this issue. Your opening `form` tag should be on one line. Right now it is on two separate lines.

@freeCodeCamp/moderators the regex for the test doesn't detect new line characters so that is why the test fails. I don't know if we should change the test because it is an edge case. Thoughts?

[2017-01-24 00:56] no-stack-dub-sack commented on #12791
@erictleung I think it's worth changing to handle the edge case

[2017-01-24 01:07] no-stack-dub-sack opened #12792 "[beta] feature suggestion - "Previous Challenge" Hotkey"
I know everyone is swamped and there is a ton to do right now, but I thought I would bring this up...

With the removal of the foldaway map that we are all used to on the production site, navigating around challenges has become a bit more difficult. While the map loads very quickly, and is fairly easy to navigate around (although I wish it would save your spot when you navigate away from it &mdash

[2017-01-24 01:20] P1xt commented on #12786
I've actually now completed all starred items required for the Responsive Web Design and the JavaScript Algorithms and Data Structures Certificates and neither shows up on my profile.

Also, this time I payed attention to the text associated with claiming the certificate and they're referencing the old frontend cert requirements.

[2017-01-24 01:32] dhcodes commented on #12792
I actually thought about this the other day. I agree we should try to make this happen.

[2017-01-24 01:43] HKuz commented on #12788
@jake-steele - thanks for opening this issue. Your code is correct, but this challenge has caused some grief for QA-ers because the third test had a regex escape issue. (And as you noted, the challenge text formatting was all wonky, too).

@no-stack-dub-sack - the formatting and test were fixed and merged to staging in PR #12663   which closed the original issue of #12653. I think we can close thi

[2017-01-24 01:50] no-stack-dub-sack commented on #12792
@dhcodes sweet! Glad I'm not alone

[2017-01-24 01:51] HKuz commented on #12792
Great suggestions @no-stack-dub-sack  - I'm working on edits to fix sequencing issues in the catPhotoApp CSS challenges, and this would make checking my work a lot easier. I can imagine campers working through a set of challenges may want to pop back quickly to grab a method name, or check an example. 👍

[2017-01-24 01:53] no-stack-dub-sack commented on #12792
@HKuz Exactly! I'm experiencing the same thing in the sections I am working on. But I see this being useful beyond just our own work in fixing these up for the reasons you mentioned and more

[2017-01-24 01:56] dhcodes commented on #12792
Any reason not to also have a "next challenge" button?

[2017-01-24 02:02] Druzzy opened #12793 "Chrome problem editing"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2017-01-24 02:35] no-stack-dub-sack commented on #12792
@dhcodes Well, the "Run Tests" button already basically is that. Still want campers to have to pass before proceeding I guess?

[2017-01-24 02:37] kyleek commented on #12790
Yes this is my github account 'kyleek'. It will not let me sign in via github I just get an oops something went wrong error.

[2017-01-24 02:37] neuswcjr commented on #10557
Not working on Edge.

[2017-01-24 02:48] HKuz commented on #12727
@kprenesti - thanks for raising this issue, I agree with you completely. The challenge seems to end abruptly as it's written, and I think adding a little more direction would improve it.

I would suggest something like the following challenge text:

The `parseInt()` function parses a string and returns an integer. Here's an example:

`var a = parseInt("007");`

The above function converts the stri

[2017-01-24 02:49] no-stack-dub-sack commented on #12792
I will attempt to implement the "Previous Challenge" button, but we'll see if I'm able. I will report back here once I've experimented a bit since I think we need a few more up-votes before committing to this officially

[2017-01-24 03:27] dhcodes commented on #12774
@P1xt I see your point.

[2017-01-24 03:34] jake-steele commented on #12788
@HKuz Thank you! I'll keep going through and send in bugs as I see them. Sorry for the duplicate post! I'll try to be better about it in the future.

Keep up the good work!

[2017-01-24 03:35] #12788 closed

[2017-01-24 03:37] QuincyLarson opened #12794 "Get new certificates working with new curriculum"
Jonathan recently created the code and layout for the new certificates.

- [x] going through the "claim your ____ certificate" challenges grants camper the appropriate certificate
- [x] certificates have proper verbiage and all 9 have a different color that corresponds to one of the colors in our [design style guide](https://www.freecodecamp.com/design-style-guide/)
- [x] 3 old certificates and 6

[2017-01-24 03:47] QuincyLarson commented on #12791
@erictleung we would probably have to also add this to a lot of the other regex tests throughout the curriculum. Would you be interested in creating an issue to go through and improve these tests? What are some other edge cases we might want to tackle regarding these tests?

[2017-01-24 03:47] #12791 closed

[2017-01-24 03:47] QuincyLarson commented on #12763
@nawazishali Awesome! Thanks for jumping on this.

[2017-01-24 03:56] QuincyLarson commented on #12792
@no-stack-dub-sack rather than a previous and next challenge buttons, we are planning to re-implement the side-map, but make it a lot better. We want a searchable side map similar to [devdocs.io](http://devdocs.io/)'s. I've built a crude wireframe here: http://codepen.io/freeCodeCamp/pen/qRmMEq

@benmcmahon100 is currently working on this.

I'm going to close this specific issue for now.

[2017-01-24 04:13] TheeMattOliver commented on #12757
@bonham000 Hey Sean, I'm not sure if you're assigning issues, but if you are I'd like to take a crack at verifying Linked Lists solutions are passing all tests.

[2017-01-24 04:13] QuincyLarson commented on #12693
@no-stack-dub-sack Thanks for the PR. is this resolved?

[2017-01-24 04:18] wildlifehexagon opened #12796 "[beta] ES6 Intro link goes to middle of document rather than top"
#### Challenge Name

Introduction to the ES6 Challenges

#### Issue Description

When you click "Introduction to the ES6 Challenges" on the map page, it loads to the middle of the document rather than the top.

#### Browser Information

* Browser Name, Version: Chrome Version 55.0.2883.87 m (64-bit)
* Operating System: Win10
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]
#### Screen

[2017-01-24 04:26] bonham000 commented on #12757
I'm not exactly assigning but I think anyone wanting to work on these challenges should discuss it here so we don't get in each other's way! Currently, I'm been waiting on my last PR to be merged before I continue working on these.

But yes it would be great if you want to try to verify the Linked List solutions are working. I found a lot of problems with some of the other challenge tests/solution

[2017-01-24 04:32] TheeMattOliver commented on #12757
Cool, I'll jump on those and if I run into any trouble or power through them and can pick up another task to lighten your load I'll report back!

[2017-01-24 04:41] WaheedRehman commented on #12574
The issue is with spaces, remove the spaces and it works.

[2017-01-24 04:55] no-stack-dub-sack commented on #12472
I can go ahead and finish the codebase now that we've made the big curriculum merge into staging... I will work on a PR to finish this off in the next few days. Which is just seed files at this point for the codebase.

[2017-01-24 04:58] bonham000 commented on #12757
Ok! By the way, when my PR is merged that challenge seed file is going to look totally different so it may be hard to start a contribution to it right now before it gets merged!

[2017-01-24 04:58] no-stack-dub-sack commented on #12693
All the formatting and refactoring for these is now done, and I would say this section is pretty well QAd at this point. I've worked through all challenges several times and feel pretty good about them. Leaving this open for now though as it wouldn't hurt to get one more set of eyes on them at some point. And interested to see if @bonham000 has any additional Data Structure wisdom to add to the ar

[2017-01-24 06:15] sujaryan opened #12799 "not working"
Challenge [Add Placeholder Text to a Text Field](https://www.freecodecamp.com/challenges/add-placeholder-text-to-a-text-field#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-fam

[2017-01-24 07:19] dimahali opened #12800 "Require hidden test"
Challenge [Binary Agents](https://www.freecodecamp.com/challenges/binary-agents#?solution=function%20binaryAgent(str)%20%7B%0A%20%20if(%2201000001%2001110010%2001100101%2001101110%2000100111%2001110100%2000100000%2001100010%2001101111%2001101110%2001100110%2001101001%2001110010%2001100101%2001110011%2000100000%2001100110%2001110101%2001101110%2000100001%2000111111%22%20%3D%3D%20str)%7B%0A%20%20%20

[2017-01-24 07:51] Jonib3k commented on #12799
@sujaryan you mistyped a word **placeholder**

[2017-01-24 08:42] Shubham-invent commented on #12742
@dhcodes I agree with you let both the Answer be excepted or lets change the question.Because if a question can be solved with 3 cases we really don't need 8 cases.That wont be a good part in grooming a Coder.

[2017-01-24 09:01] systimotic commented on #12799
Hi @sujaryan! Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free

[2017-01-24 09:01] #12799 closed

[2017-01-24 09:06] systimotic commented on #12796
Hi @wildlifehexagon, thank you for reporting this issue!

This seems somewhat related to https://github.com/freeCodeCamp/freeCodeCamp/issues/12710, although not entirely the same. I think they have the same cause, but solving one might not solve the other.

@dhcodes Should we have two separate issues for these, or should we merge them into a single issue about the scrolling not resetting?

[2017-01-24 09:12] systimotic commented on #12786
@P1xt Thanks for checking out the beta and reporting this issue! (and for your amazing contributions to the forum as well!)

I believe the new certificates haven't been implemented yet 😅 https://github.com/freeCodeCamp/freeCodeCamp/issues/12794 is aimed at solving that. Should we close this issue in favour of that?

[2017-01-24 09:18] systimotic commented on #8096
What do you all think of requiring the ES5 version for this challenge, and ES6 for [this beta challenge](http://beta.freecodecamp.com/en/challenges/es6/class-syntax)?

[2017-01-24 09:27] #12731 closed

[2017-01-24 10:07] P1xt commented on #12786
@systimotic Yes, https://github.com/freeCodeCamp/freeCodeCamp/issues/12794 is more detailed in that it lists out specifics about what needs to happen in order to solve this completely.

[2017-01-24 10:07] #12786 closed

[2017-01-24 10:15] P1xt commented on #12794
Note: the "claim your ____ certificate" challenges need to have their verbiage checked as well.

For instance: http://beta.freecodecamp.com/en/challenges/claim-your-responsive-web-design-certificate/claim-your-responsive-web-design-certificate lists:

which does NOT correspond to the actual requirements for attaining that certificate. The actual requirement is completion of the Responsive Web Desi

[2017-01-24 10:16] atjonathan commented on #12794
@P1xt, yeah, these certificates were created without direct knowledge of the new curriculum.

[2017-01-24 10:23] P1xt commented on #12794
@atjonathan makes sense, there's so much new content and certificate design doesn't really depend on how everything landed in terms of divvying up into certificates. I'm just noting that in addition to granting the appropriate certificate, the challenge verbiage should be modified to reflect what content is required for granting that particular certificate. Right now the challenge verbiage seems t

[2017-01-24 10:43] P1xt opened #12801 "[beta] login state on subsequent visits"
#### Issue Description
Twice now I've been working through challenges on the beta site (logged in just fine) and closed out my browser at the end of the day. When I next returned to the site, the app redirected me to the last challenge I was working on but the editing and display panes were empty, and rather than my avatar and profile link in the nav, there is a link to "sign up".

No amount of cl

[2017-01-24 10:46] OFFLlNE commented on #12801
Yea, happened to me ALOT.
Also I just can't get off this redirected page in any easy way.
Almost none of the menu links redirect me(only shop). (Map) gives me map URL but I have to refresh this url for it actually to redirect me to there.
Waiting for big PR that would fix it and make it usable

[2017-01-24 10:46] P1xt commented on #12801
The following error is thrown to the console:

Uncaught Error: Minified React error #32; visit http://facebook.github.io/react/docs/error-decoder.html?invariant=32&args[]=52 for the full message or use the non-minified dev environment for full errors and additional helpful warnings.
    at n (http://beta.freecodecamp.com/js/bundle-0f6b2dba787d716232ef.js:1:24586)
    at s (http://beta.freecodecamp

[2017-01-24 11:11] P1xt opened #12802 "[beta] changes in the editor pane not reflected in the phone view"
#### Challenge Name
All challenges.

#### Issue Description
On the live/production site, if I'm making changes in the editor pane (for instance, modifying the color of some text) that change is immediately reflected in the display / phone view. On beta, I have to click the "run tests" button before my changes are rendered to the display / phone view.

#### Browser Information

* Browser Name, Vers

[2017-01-24 11:38] raisedadead commented on #12800
@dimahali

Thanks a lot for the report.

We have had discussed this in the past and we will not be implementing any system to automate checking for user's intended malpractices as illustrated by your example above.

This is because, we have an open code base, and its a matter of looking up such "hidden tests" and solving them,

If someone wants to flunk thru the challenges, it's completely fine, b

[2017-01-24 11:38] #12800 closed

[2017-01-24 12:14] raisedadead commented on #12790
Closing because OP has deleted their account.

[2017-01-24 12:14] #12790 closed

[2017-01-24 12:15] raisedadead commented on #12793
Please provide more information on the issue that you are facing.

[2017-01-24 12:21] raisedadead commented on #12749
Agreed we should not be checking for semi colons and probably need a better parsing for the script.
/cc @BerkeleyTrue

[2017-01-24 12:23] raisedadead commented on #12581
Please provide clarification as requested

[2017-01-24 12:23] #12581 closed

[2017-01-24 12:23] #12625 closed

[2017-01-24 13:27] dhcodes commented on #12796
I'm not sure. I think this may be unique to this challengeType. One easy fix could be to bump some of the content to a new frame as some of the other intros have done ([Example](http://beta.freecodecamp.com/en/challenges/applied-accessibility/introduction-to-the-applied-accessibility-challenges)). For now, let's leave it open as a separate issue.

[2017-01-24 13:42] dhcodes commented on #12789
@ANewModern thanks for the issue. This is related to #12762 so I'm closing this to prevent duplicate issues.

[2017-01-24 13:42] #12789 closed

[2017-01-24 13:43] #12660 closed

[2017-01-24 13:51] dhcodes commented on #12785
@computerluca your code will pass on Chrome. As the tests use `.css` assert methods, I believe this issue is caused by #10749 so I'm closing this one as a duplicate of that. Thanks again for submitting it so we can keep track of all the issues this is causing.

[2017-01-24 13:51] #12785 closed

[2017-01-24 14:03] kimbo330 commented on #12351
I think it might have to do with character length too. It gave me an error message when I just had a few words explaining what was in the image, but then I added some more and it was fine.

[2017-01-24 14:17] daulis809 opened #12803 "Campers can pass challenge without submitting any code to style."
#### Challenge Name

[Css Flexbox: Applying the Flex-direction Property to Create Rows in the Tweet Embed](http://beta.freecodecamp.com/en/challenges/css-flexbox/applying-the-flexdirection-property-to-create-rows-in-the-tweet-embed)

#### Issue Description

Since flex-direction is set to row by default, the campers can pass the challenge without submitting any code to the styling of the page.

###

[2017-01-24 15:11] ananaymital commented on #12803
@daulis809 Thanks for reporting this issue. You see `flex-direction` has a default value of `row`, so if the code doesn't change it's value or specify the property it would mean that `flex-direction` is still set to `row`.

What I would suggest is changing the `flex-direction` property of header to **`row-reverse`** (I checked and it is not present anywhere in the course). That way students can le

[2017-01-24 16:06] mjczyt opened #12804 "Chunky Monkey"
#### Chunky Monkey

https://www.freecodecamp.com/challenges/chunky-monkey#?solution=%20%20var%20lefted%2Csliced%20%3D%20%5B%5D%3B%0A%0A%20%20function%20chunkArrayInGroups(arr%2C%20size)%20%7B%0A%20%20%20%20%20%20sliced.push(arr.slice(0%2C%20size))%3B%0A%20%20%20%20%20%20lefted%20%3D%20arr.slice(size%2C%20arr.length)%3B%0A%20%20%20%20%20%20if%20(lefted.length%20%3D%3D%3D%200)%20%7B%0A%20%20%20%20%2

[2017-01-24 16:15] OFFLlNE commented on #12804
Thank you for reporting your issue.

Your code is wrong.(You call var outside the function, so all the tests run with that initial variable value)
Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com

[2017-01-24 16:15] #12804 closed

[2017-01-24 17:37] #12127 closed

[2017-01-24 17:41] nawazishali commented on #12763
@QuincyLarson  I am just trying to give back to the Community. You are my teacher Quincy & Thank You so much for making this awesome site for self learners.

I have a question about this issue, the questions is if iPhone Frame gets removed then where the result will get displayed? Currently If frame is removed result shows on a blank white area. Is this how it should be?

[2017-01-24 17:44] gt6089 commented on #12687
Also having this same problem, exactly as above. Tests don't pass, no errors in the console. Chrome, Windows 7.

[2017-01-24 17:46] #12779 closed

[2017-01-24 17:51] dhcodes commented on #12763
@nawazishali yep that is fine; as long as the results show; that's the important part.

[2017-01-24 17:54] DmitriiVacula opened #12805 "Please Help! Why does it say "Your form element should have the background-color of green.""
Challenge [Use an ID Attribute to Style an Element](https://www.freecodecamp.com/challenges/use-an-id-attribute-to-style-an-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20fo

[2017-01-24 17:59] OFFLlNE commented on #12805
Thank you for reporting your issue.

Your code is wrong.
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/

[2017-01-24 17:59] #12805 closed

[2017-01-24 18:14] raisedadead commented on #12693
Just a thought, do we plan to use, ES6 as seen in some challenge seed in this section, or that is a different issue?

[2017-01-24 18:43] Undigon opened #12806 "[Manipulating Complex Objects] Example is unsatisfactory as a guide"
Challenge [Manipulating Complex Objects](https://www.freecodecamp.com/challenges/manipulating-complex-objects) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:50.0) Gecko/20100101 Firefox/50.0</code>.

I think that it should stress the fact that you are looking at an array. This way, maybe new coders may recall that arrays need commas between... indexes, and pass th

[2017-01-24 19:05] no-stack-dub-sack commented on #12806
@Undigon Unless I am misunderstanding your meaning &mdash; the challenge pretty clearly states, twice, that this is an object on an array.

Once in the intro:

and once in the instructions:

[2017-01-24 19:08] JesiMarie opened #12807 "[beta] example screen content not visible until code is run"
Challenge [adjusting-the-padding-of-an-element](http://beta.freecodecamp.com/en/challenges/basic-css/adjusting-the-padding-of-an-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

The "phon

[2017-01-24 19:29] no-stack-dub-sack commented on #12792
@QuincyLarson as I mentioned to @raisedadead when we were discussing this the other day, I think this is a great idea, and I can't wait to see it in action! However, I guess the concern is, will this be implemented by the time the rest of the curriculum update goes to production, or is this an improvement that we're looking at a while down the road?

Even if its not too far off, a hotkey at the mi

[2017-01-24 19:33] BerkeleyTrue commented on #12749
We are not checking for semicolons. This is not a failure of our parsing script but how the browser interprets JavaScript.

The tail of this challenge (code added after users code) is an Immediately Invoked Function Expression (IIFE). Without the semicolons and because white space is meaningless in JavaScript, the browser interprets the IFFE  following `"happy coder"` as a function call instead of

[2017-01-24 19:33] #12749 closed

[2017-01-24 20:06] xgame92 opened #12808 "That Coudnt pass the test. I refresh it for make it true result."
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2017-01-24 20:19] systimotic commented on #12687
Thank you for confirming @rweston03 @gt6089!

/cc @freeCodeCamp/moderators Can anybody help triage? I can not reproduce 😞

[2017-01-24 20:23] systimotic commented on #12792
@no-stack-dub-sack I'd like to see a hotkey for previous challenge as well. I think this would be useful for Ben too. We're going to need this functionality for that update anyway, so I think it would be good to focus on that here. 👍

[2017-01-24 21:32] ricyoung commented on #6259
This is still happing.
I had to reset the code, redo the code, then refresh, then run tests to make it work.

[2017-01-24 21:35] raisedadead commented on #12801
Can't reproduce on local.
/cc @BerkeleyTrue

[2017-01-24 21:50] cnfairfax opened #12810 "Strange Code in Preview"
Challenge [standardize-times-with-the-html5-datetime-attribute](http://beta.freecodecamp.com/en/challenges/applied-accessibility/standardize-times-with-the-html5-datetime-attribute) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to

[2017-01-24 21:51] HKuz commented on #12792
+1000 for a hot-key! It would definitely be a great QA workflow improvement 😄 . More importantly, I think it'd be a nice UX feature for campers (particularly keyboard users), especially in certain sections where concepts carry over several challenges. For example, (when the React challenges get ported in), someone may need to quickly go back and check how to write the constructor because they forg

[2017-01-24 21:57] raisedadead commented on #12810
Yup confirmed. Thanks @cnfairfax !

![image](https://cloud.githubusercontent.com/assets/1884376/22268598/1ecdb2c4-e2ae-11e6-888d-f0242a59833d.png)

[2017-01-24 22:09] Brittanyw58 opened #12811 "This will not pass as all divs having closing tags"
Challenge [Responsively Style Radio Buttons](https://www.freecodecamp.com/challenges/responsively-style-radio-buttons) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2017-01-24 22:27] saracarlile commented on #12740
I was coming here to add that I couldn't find specific instructions on how to create a HyperDev project as well,  and wanted to make sure I wasn't missing anything.   It looks like these instructions need to be added prior to the section Managing Packages with Npm: Using Package.json, The Core of Any Node.js Project or npm Package.

It would also be helpful to change the reference of HyperDev on a

[2017-01-24 22:49] jake-steele opened #12812 ""Wrap Radio Buttons In A fieldset Element for Better Accessibility": Console Error and Script Displayed in Preview"
Challenge [wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility](http://beta.freecodecamp.com/en/challenges/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce

[2017-01-24 22:53] harjaz opened #12813 "Error when swapping "thick-green-border" and "smaller-image" within the class field"
Challenge [Add Borders Around your Elements](https://www.freecodecamp.com/challenges/add-borders-around-your-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

Swapping "thick-green-border" and "s

[2017-01-24 23:09] dhcodes commented on #12813
@harjaz Do you mean the order of the classes? Ex. `thick-green-border smaller-image` versus `smaller-image thick-green-border`?

I ask because I tried them both ways and it passed for me in Chrome. Blocking for now as unable to replicate.

[2017-01-24 23:40] gt6089 opened #12814 "[beta] Test passes without conditions being met"
CHALLENGE:
http://beta.freecodecamp.com/en/challenges/css-flexbox/using-the-flexdirection-property-to-make-a-row

ISSUE:
Clicking 'Run tests' button passes the tests without the test conditions being met. I did not add the CSS property flex-direction to the #box-container element, and give it a value of row.

BROWSER INFO:
* Chrome 55.0.2883.87 m
* Windows 7
* Desktop

SCREENSHOT:
![image](https:/

[2017-01-24 23:48] gt6089 commented on #12814
In fact, it looks like changing the code to meet the test conditions has no effect on the screen preview. The container elements continue to show as columns. This also seems to be true of the next challenge at least, Css Flexbox: Applying the Flex-direction Property to Create Rows in the Tweet Embed.

Incidentally, I need to click 'run tests' to see what I'm working with as the screen preview is b

[2017-01-24 23:55] RUTHVERTUDAZOPAYOT commented on #12814
[](url)www.ruthvertudazopayot.com [](url)

[2017-01-24 23:56] RUTHVERTUDAZOPAYOT commented on #12814
[@#[](url)]( #12481 )

[2017-01-25 00:26] texas2010 commented on #12778
wow. I test it too. yeah i confirmed too.

[2017-01-25 00:31] mjczyt commented on #12804
thanks a lot

[2017-01-25 01:25] uillianluiz opened #12816 "[beta] .challenges-instructions-panel div has static height"
#### Challenge Name
Beta challenges

#### Issue Description
The div `.challenges-instructions-panel`  height is only changed when first loaded.
This leads to two problems:

1. Resizing the browser screen up.
If the screen height increases, you get a scroll bar in the `.challenges-instructions-panel` div, and its height remains the same.
2. Resizing the browser  screen down.
If the screen height re

[2017-01-25 01:49] patsul12 commented on #12810
It looks like loop-protect is triggering on the copyright character towards the bottom of the exercise. Likely because of the semicolon.

With symbol:

![screenshot from 2017-01-24 19-47-40](https://cloud.githubusercontent.com/assets/6024604/22274806/37d0ba36-e26e-11e6-8ddb-8c075e04a2a3.png)

Without symbol:

![screenshot from 2017-01-24 19-46-58](https://cloud.githubusercontent.com/assets/6024604

[2017-01-25 03:34] dhcodes commented on #12814
@gt6089 Thanks for the issue. I believe this is very similar to #12803 where @ananaymital has pointed out that flex-direction defaults to `row`. We should work on a fix for both of these.

[2017-01-25 03:47] no-stack-dub-sack commented on #12693
@raisedadead so, since this section came after ES6, we thought it would be ok to use `let` and `const` in these challenges

However, if we want to remove it, that is fine too. The only reason it's really issue now is because of the linter settings. Which I believe we are working on in another issue?

[2017-01-25 03:49] mjanusauskas commented on #12431
After using the mentioned tedious work around to complete the HTML, CSS
and Bootstrap challenges I was disappointed to find that the next
challenge of building a basic tribute web page uses CodePen.

CodePen appears to have similar major accessibility issues with it's
editor. Very frustrating for a screen reader user.

On 1/22/2017 4:19 PM, Florian Beijers wrote:

[2017-01-25 04:09] KenzoM opened #12818 "[beta]Es6: Problems with the var keyword"
#### Challenge Name
https://beta.freecodecamp.com/en/challenges/es6/problems-with-the-var-keyword

#### Issue Description

I'm not sure if it is a bug or just me, but I can't seem to pass this challenge, even my simply commenting out `let redNosedReindeer = "Comet";` and re-ordering the code so the hoisting is done correctly to assign `redNosedReindeer` before `favorite`

#### Your Code

[code]
##

[2017-01-25 04:57] jake-steele commented on #12812
I believe this is actually the same issue addressed in #12810, so I'll go ahead and close this one!

[2017-01-25 04:57] #12812 closed

[2017-01-25 05:00] robbawebba commented on #12698
@HKuz If these are still up for grabs, I would like to work on the 3 arrow function challenges. I'll change the titles to follow the `'${verb} ${object clause}'` format as well :)

[2017-01-25 05:06] kazoo135 opened #12819 "Platform refusing to accept correct response to excersise"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%20%3D%20%22Firstline%5Cn%5C%5CSeondline%5C%5C%5CrThirdline%22%3B%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this i

[2017-01-25 05:10] erictleung commented on #12431
@mjanusauskas we suggest Codepen for the integrated text editor and quick rendering. However, I don't think we limit it to just Codepen. To finish your project, all you need to submit is a URL to your project up and running. So feel free to use whatever hosting service to render your projects. An alternative is to use GitHub pages https://pages.github.com/.

Note for contributors wanting to help,

[2017-01-25 05:12] erictleung commented on #12819
@kazoo135 Thank you for reporting this issue. Your code is almost there. Take a look at the text you need to type out more closely.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on Free Code Camp, which will take you to the help chatroom for that specific challenge. You can

[2017-01-25 05:12] #12819 closed

[2017-01-25 05:17] kazoo135 opened #12820 "Platform refusing to accept the correct answer"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%20%3D%20%22FirstLine%5Cn%5C%5CSeondLine%5C%5C%5CrThirdLine%22%3B%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this i

[2017-01-25 06:09] raisedadead commented on #12810
@patsul12 awesome! thanks for debugging this.

[2017-01-25 06:12] raisedadead commented on #12740
@saracarlile we are in the process of updating these, and should be fixed when we release the challenges into production.

The migration is tracked via https://github.com/freeCodeCamp/freeCodeCamp/issues/12071

[2017-01-25 06:22] raisedadead commented on #12820
`SeondLine ` check that its not a typo that is causing it to fail?

[2017-01-25 06:44] joshyu2009 opened #12822 "I got the solution, yet the site will not let me proceed."
Challenge [Factorialize a Number](https://www.freecodecamp.com/challenges/factorialize-a-number#_=_#?solution=var%20array%20%3D%20%5B%5D%3B%0Avar%20x%20%3D%201%3B%0Afunction%20factorialize(num)%20%7B%0A%20%20for(var%20i%20%3D%201%3B%20i%20%3C%3D%20num%3B%20i%2B%2B)%3B%7B%0A%20%20%20%20array.push(i)%3B%0A%20%20%7D%0A%20%20for(var%20j%20%3D%200%3B%20j%20%3C%20array.length%3B%20j%2B%2B)%20%7B%0A%20%2

[2017-01-25 06:57] erictleung commented on #12822
@joshyu2009 thanks for the issue. You have global variables in your code. Our challenge tests run your function over and over and if you have any global variables, they will change with each test. So move your global variables to within your function and your code will pass. Happy coding!

[2017-01-25 06:57] #12822 closed

[2017-01-25 08:09] bonham000 commented on #12757
Fyi @TheeMattOliver I just re-submitted my prior PR with a few additional changes to these sections. Once it is merged then by all means take a look at reviewing the Linked List challenges/solutions/tests if you still want to!

[2017-01-25 09:05] kyo99 opened #12824 "Word Blanks"
![image](https://cloud.githubusercontent.com/assets/24714529/22284013/056aca20-e307-11e6-91cc-234f66fed315.png)

Could someone help me explain what to do in this challenge. I really can't understand

[2017-01-25 09:18] SergiOca87 commented on #12818
Same issue, if it doesn't have a bug then it's not explained properly, I have tried every possible combination.

Also "favorite should return Santa's favorite reindeer.");" So we should delete the  "= redNosedReindeer +" from favorite as well? It's just overall confusing really.

[2017-01-25 09:36] sanjayk722 opened #12825 "Storing Values with the Assignment Operator"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-25 09:37] sanjayk722 opened #12826 "Storing Values with the Assignment Operator"
#### Challenge Name
Storing Values with the Assignment Operator

#### Issue Description
Do not change code above the line
a should have a value of 7
b should have a value of 7
a should be assigned to b with =

#### Browser Information
In JavaScript, you can store a value in a variable with the assignment operator.

myVariable = 5;

Assigns the Number value 5 to myVariable.

Assignment always goes

[2017-01-25 09:42] #12825 closed

[2017-01-25 09:48] sharadjob commented on #10309
Can Someone suggest if there's a problem with this code
I suppose it should be working perfectly fine?

`
function titleCase(str){
var arr=str.split(" ");
  var str1="";
 //arr[1][0].toUpperCase();
for (var i=0;i<arr.length;i++){

  str1+=arr[i][0].toUpperCase()+arr[i].toLowerCase()+" ";

}
  arr=str1.split(" ");
  var r="";
  for(i=0;i<arr.length;i++){
    r=arr[i][1];
    arr[i]=arr[i].replace(r

[2017-01-25 10:19] tmashuang commented on #12810
In order to keep the symbol and not have loop-protect code I just removed the semicolon after the &copy.

[2017-01-25 10:34] #12824 closed

[2017-01-25 10:37] raisedadead commented on #12826
What is the issue that you are facing?

The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](ht

[2017-01-25 11:17] systimotic commented on #12810
I think there is a more fundamental issue with loopProtect running outside of Javascript code that should be fixed (see https://github.com/freeCodeCamp/freeCodeCamp/issues/12683, of which this issue is a duplicate, I think).
@tmashuang Nice work on figuring out that the semicolon triggered loopProtect. We should probably dive into the source to see when it is activated.

[2017-01-25 12:01] systimotic opened #12828 "Editor focus and unfocus hotkeys"
#### Issue Description
In the switch to React, it seems like a lot features were lost. I fixed one of those previously (https://github.com/freeCodeCamp/freeCodeCamp/pull/11329), and now I found another one: https://github.com/freeCodeCamp/freeCodeCamp/pull/8241

I found this because I was searching issues about unfocusing the editor as suggested on the forum [here](https://forum.freecodecamp.com/t

[2017-01-25 12:13] raisedadead commented on #12828
Yes, please... and lets try and standardize this time, for simplicity

[2017-01-25 12:17] raisedadead commented on #12810
Yes, thanks @systimotic closing as a duplicate.

[2017-01-25 12:17] #12810 closed

[2017-01-25 12:25] Greenheart commented on #12687
@systimotic I can reproduce in Chrome 55.0.2883.87 (64-bit) for Ubuntu 16.04.

Seems like there could be some problem with the test case. I'll see if I find anything in the seed-files.

[2017-01-25 12:35] systimotic commented on #12431
I looked into this a bit. It seems like TeachAccess is using the [editor component from exerslide](https://github.com/facebookincubator/exerslide/blob/master/packages/exerslide/components/Editor.js). From what I can tell, what it's doing is copying all the content to the textarea.

Something else I ran into while working on #12828 is [CodeMirror's inputStyle option](https://codemirror.net/doc/manu

[2017-01-25 12:35] Greenheart commented on #12687
Here's the test for this challenge:
[code]

Either there's a problem with `.css()`, or with the comparsion (we should probably use `===` instead of `===`)

[2017-01-25 12:39] Greenheart commented on #12687
Hmm... Interestingly, the next challenge works without any trouble - Even though it uses a very similar test case.

[code]

[2017-01-25 12:40] zersiax commented on #12431
If anyone needs another example on how this should work I just stumbled across the online Orion IDE which does a heck of a lot of what I would want from a system like this. I doubt its open source though

[2017-01-25 12:44] systimotic commented on #12687
@Greenheart Thanks for confirming! Can you help debug by running `$('h4').css('height')` in the console? Make sure to switch context from `top` to `fcc-main-frame` first, and try in `fcc-test-frame` as well

[2017-01-25 12:48] systimotic commented on #12828
@raisedadead PR is #12828
Can you eleborate on what you mean by "try and standardize"?

[2017-01-25 12:50] zersiax commented on #12431
@QuincyLarson  yeah, send me a link to a sandbox where you have this running? I'll give it a whirl.

[2017-01-25 12:51] Greenheart commented on #12687
@systimotic You must mean `width` right? ;)

[2017-01-25 12:59] systimotic commented on #12687
@Greenheart Whoops! Yeah, I did mean width!
Nice find! So it's a rounding error huh... My initial thought is to round down the result, but there may be a more fundamental problem. I'm thinking there may be a border, margin or padding set that's altering the width? What I really don't understand is that I can't replicate it while I'm using the exact same version of Chrome. Almost makes me suspect s

[2017-01-25 13:02] HKuz commented on #12698
Excellent @robbawebba - those are all yours! And thanks for fixing the titles, too 👍

[2017-01-25 13:05] Greenheart commented on #12687
@systimotic Hahaha this is hilarious actually!

1. I'm using 110% zoom, which alters the size of elements...
2. jQuery returns the **computed CSS value**, not the original value from our code.

And we end up with a float value :smile:

When I reset my browser zoom, things work as expected

[2017-01-25 13:08] Gardemarin opened #12830 "[beta] Build a random quote machine issue"
#### Random Quote Machine

http://beta.freecodecamp.com/en/challenges/front-end-frameworks-projects/build-a-random-quote-machine

#### Issue Description

Can't open Youtube video (shows youtube screen with a white noise). So I thought that I need to reload the browser, but after a browser reloading, things get even worst.

#### Browser Information

* Browser Name, Version: Chrome, Version 55.0.288

[2017-01-25 13:09] systimotic commented on #12687
@Greenheart Wow, great find! Yeah, those zoom issues are really annoying... How should we go about fixing this? Would this be a good place for one of those warnings about 100% zoom (like in the Size your Images challenge), or should we only do a code test?

[2017-01-25 13:10] Greenheart commented on #12687
I'm not sure how to solve this but here's a few suggestions:

1. Add something like "Make sure that your browser zoom is set to 100%" either to the description, or as a test case
2. Find a way to bypass zoom levels and get the actual value the user specified in the code. RegEx-test on the `__source` that's sent into the `fcc-test-frame`?
3. Find a way to reset browser zoom for the `fcc-test-frame`

[2017-01-25 13:10] Greenheart commented on #12687
I think a code test could be efficient :blush:

[2017-01-25 13:20] Greenheart opened #12831 "[beta] Improve example for Applied Visual Design: Use the Strong Tag to Make Text Bold"
Challenge [use-the-strong-tag-to-make-text-bold](http://beta.freecodecamp.com/en/challenges/applied-visual-design/use-the-strong-tag-to-make-text-bold) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.

I see the value of this challenge, but I think the example could be improved.
How about if we inste

[2017-01-25 13:38] #12830 closed

[2017-01-25 14:10] P1xt commented on #12801
@raisedadead I just double-checked to confirm. Browsed back to the beta site (having not yet been there today) and I experienced the same issue I originally reported.

[2017-01-25 14:14] systimotic commented on #12431
@zersiax Hi! I'm not sure how to deploy a sandbox version of freeCodeCamp. Maybe Quincy can get one up for you, or I'd be happy to guide you through installing it locally.

[2017-01-25 14:26] zersiax commented on #12431
Either works :) I do have a node environment running, I would need to
dust it off though :)

[2017-01-25 14:34] systimotic commented on #12063
Hi! I found #8096, which is an older and more detailed issue on the same topic, so I'm closing this as a duplicate.

Happy coding!

[2017-01-25 14:34] #12063 closed

[2017-01-25 14:49] systimotic commented on #12431
@zersiax Local is probably the fasted solution 👍 Here is the shortened version of the setup guide (full guide is [CONTRIBUTING.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md)):
1. Make sure Node v6 and MongoDB v3 are installed
2. Clone freeCodeCamp
3. Make sure MongoDB is running throughout all of this
4. Run the following commands inside the freeCodeCamp cl:
[code]

[2017-01-25 15:16] TheeMattOliver commented on #12757
Hey there, definitely!

I'm trying to write a new test bc the remove method doesn't actually work the way it should.

Sent from my iPhone

[2017-01-25 15:16] ajain17 commented on #12831
I think its a good idea. Right now, even if we add the <strong> tag on h4, there is no visual effect. If others think the same, I can work on this.

[2017-01-25 15:19] ajain17 commented on #12826
What's the issue here? As I see in the screenshot, you need to follow the instructions and then run tests.

[2017-01-25 15:21] hackbook001 opened #12834 "Escaping Literal Quotes in Strings"
Challenge [Escaping Literal Quotes in Strings](https://www.freecodecamp.com/challenges/escaping-literal-quotes-in-strings#?solution=var%20myStr%20%3D%20%22I%20am%20a%20%5C%22double%20quoted%5C%22%20string%20inside%20%5C%22double%20quotes%5C%22%22%3B%20%2F%2F%20Change%20this%20line) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) C

[2017-01-25 15:26] brahms101 opened #12835 "Return Early Pattern for Functions"
missing } under  // Only change code above this line

reads

 // Only change code above this line

  return Math.round(Math.pow(Math.sqrt(a) + Math.sqrt(b), 2));
}

should read

// Only change code above this line

  return Math.round(Math.pow(Math.sqrt(a) + Math.sqrt(b), 2));
}
}

[2017-01-25 15:33] tommygebru opened #12836 "[beta] Night mode, buttons do not have a "web safe" border"
Working on MBP in Chrome browser

The page in night mode:
http://beta.freecodecamp.com/en/settings

 has 3 unselected buttons with a very dark border, is not accessible or "colorsafe"
.btn-twitter
.btn-linkedin
.btn-github

these buttons borders should be changed to
`border:inherit;`
[code]

[2017-01-25 15:34] tommygebru commented on #12836
![screen shot 2017-01-25 at 7 29 37 am](https://cloud.githubusercontent.com/assets/7606025/22296984/bfef5e92-e2d0-11e6-92c2-4a625eaae133.png)

[2017-01-25 15:41] OFFLlNE commented on #12835
@brahms101 Thank you for reporting the issue.

The code has only 1 opening curly brace, so it needs only 1 closing curly brace.
If you think I'm wrong in closing this issue, please reopen it and add further clarification.

Thank you, and happy coding.

[2017-01-25 15:41] #12835 closed

[2017-01-25 15:43] OFFLlNE commented on #12834
@hackbook001 Thank you for reporting your issue.

Your code is wrong. You are missing `.` in the end
This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of offici

[2017-01-25 15:43] #12834 closed

[2017-01-25 15:50] dhcodes commented on #12836
@tommygebru we recently made the off-on buttons have a border-color of `#777` on staging if you want to see if that solves it for the off-on switches. @raisedadead want to update the social ones too?

[2017-01-25 15:53] dhcodes commented on #12831
@ajain17 I agree and I recommend we add them around the word "Google" in the paragraph or around each link.

[2017-01-25 15:56] systimotic commented on #12831
How about wrapping "Stanford University"? I'm suggesting this because Google and the founder's names both appear twice, which is bound to cause confusion.

[2017-01-25 15:57] pyrosomida commented on #12818
"camper is loged" - typo - should be "logged".

[2017-01-25 16:02] dhcodes commented on #12831
Go with @systimotic's suggestion!

[2017-01-25 16:03] Gardemarin opened #12837 "[beta] FCC Test Suite sets all checkbox'es to the left top"
FCC Test Suite sets all checkbox'es to the left top

#### Issue Description

FCC Test Suite sets all checkbox'es to the left top with position attribute and hides it with opacity: 0
[code]

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Screenshot

![screen shot 2017-01-25 at 15 48 56](https://cloud.githubusercontent.com/assets/24617345/2

[2017-01-25 16:18] systimotic opened #12838 "[beta] Bug reporting issue"
When you use the "Bug" button on a challenge, in a lot of cases, the closing backticks are indented, which causes them to be displayed as code. This is particularly annoying when there is content (especially images) beneath the code in the bug report, as it then also displays as code.

This does not seem to happen consistently for all challenges, but it seems to be happening for a large amount of

[2017-01-25 16:19] robbawebba commented on #10022
Not sure if this issue is blocked or not since it's been awhile since the last comment, but just wanted to let you know that I'm experiencing this issue. I've tried removing `node_modules` and re-installing npm packages, and still the only way to see changes to the seed challenges is by running `gulp` again.

[2017-01-25 16:21] systimotic commented on #12811
Hi @Brittanyw58! Thank you for reporting this issue.

`</div>` is a closing tag for a div. Every div that is opened should also be closed.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You

[2017-01-25 16:21] #12811 closed

[2017-01-25 16:26] Greenheart commented on #12837
@Gardemarin I'm not sure I understand what you mean. Could you please clarify? :blush:

@freeCodeCamp/moderators I've never seen these test suites before. Are these the official ones that in the future will be integrated with freecodecamp.com?

[2017-01-25 16:28] dhcodes commented on #12837
@Greenheart each project now has a test-suite to make sure the user-stories are met. Ex. http://codepen.io/FCC_test_suites/pen/JbgXab

[2017-01-25 16:31] systimotic commented on #10022
@robbawebba Nope, this issue has never been fixed. I'm taking a look at it, but I don't expect that I'll be able to solve this. I think this is way above my level.

[2017-01-25 16:32] HKuz commented on #12693
@no-stack-dub-sack @raisedadead - I'd say using ES6 in a section is fair game if it comes after the ES6 one. I think we just need to be consistent within that section to use it or not (otherwise, it may be confusing to people just getting a handle on ES6). For example, in the Functional Programming section, the first 3 challenges use ES6 `const`, but the rest of the challenges use `var`. Certainly

[2017-01-25 16:32] ajain17 commented on #12831
Ok. I will work on this. Will follow @systimotic's suggestion. Thanks.

[2017-01-25 16:33] Gardemarin commented on #12837
My example:
http://codepen.io/Gardemarin/pen/wgqYWZ

[2017-01-25 16:38] Greenheart commented on #12838
Haha this sure must be annoying!

Confirmed on a few random challenges. If someone finds a bug button that behaves correctly, please post it here for reference.

Without knowing how the UI is implemented or where it can be found in the code, it seems like the GitHub page for the new issue is opened based on a dynamic link, populated with URL-formatted content from the current challenge.

To fix th

[2017-01-25 16:42] dhcodes commented on #12838
I believe this is the file but the opening backticks look the same as the closing ones: https://github.com/freeCodeCamp/freeCodeCamp/blob/549cfc305f75d8c6036a3cde65c47b518607b18c/common/app/routes/challenges/redux/bug-saga.js

[2017-01-25 16:45] Greenheart commented on #12837
@dhcodes Thanks! I thought these should be integrated with freecodecamp.com - but it makes sense plan that for the upcoming multi-file editor release.

@Gardemarin I understand your issue now after experimenting a bit. But I'm not sure how to fix it :confused:

[2017-01-25 16:47] HKuz commented on #12831
Jumping in late, I agree with the suggestions above! @ajain17 thanks for taking this on, one thing to note - this challenge is part of a series that all build on the same "card example". After making the changes for this challenge, you'll need to adjust the seed code in the following ones (`Use the u Tag to Underline Text` through `Use a Google Font`) to show the `<strong>` tags around "Stanford U

[2017-01-25 17:15] HKuz commented on #12728
Hi folks, I'm going to clean up the formatting/title capitalization/etc. for the last four challenges in the JS section (that are new). I'll fix this issue and #12727 as well.

[2017-01-25 17:15] HKuz commented on #12727
I'm working on formatting clean-up for these new JS challenges and will make this fix.

[2017-01-25 17:18] Greenheart commented on #12838
@dhcodes Nice catch!

Without knowing dedent too well, but after [reading about it](https://www.npmjs.com/package/dedent), it says that "Leading and trailing lines will be trimmed".

If we look at the resulting string sent to new GitHub issues, the dedent `dedent` package successfully removes the leading linebreak at the end of [line 15](https://github.com/freeCodeCamp/freeCodeCamp/blob/549cfc305f

[2017-01-25 17:38] raisedadead commented on #12801
We are aware of the issue and investigating, we just haven been able to reproduce it on local.

[2017-01-25 17:49] robbawebba commented on #10022
@systimotic same here 😅 Thanks for a response!

[2017-01-25 17:54] vaibhavdaren commented on #12826
@sanjayk722 Please read the question carefully and code accordingly.The question is correct.

[2017-01-25 17:55] KabbaKreek3 opened #12839 "This test needs a better explanation There are multiple times it says these colors and to switch them wihththe hex code.. i've gone through all of them and it still says its wrong"
Challenge [Use Hex Code to Mix Colors](https://www.freecodecamp.com/challenges/use-hex-code-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20%23FF0000%0A%20%20%7D%0A%20%20.green-text%20%7B%0A%20%20%20%20color%3A%20%2300FF00%0A%20%20%7D%0A%20%20.dodger-blue-text%20%7B%0A%20%20%20%20color%3A%20%232998E4%0A%20%20%7D%0A%20%20.orange-text%20%7B%0A%20%20%20%20color

[2017-01-25 18:04] tommygebru commented on #12836
Very cool #777 should be fine, a little brighter wouldnt hurt either

[2017-01-25 18:04] raisedadead commented on #12837
/cc @no-stack-dub-sack mind taking a look?

[2017-01-25 18:05] dhcodes commented on #12839
@KabbaKreek3 your code is indeed correct, but you are missing semicolons on each style. While this is not a pure requirement for CSS, it has been discussed before (see: https://github.com/freeCodeCamp/freeCodeCamp/issues/8274) and it's been decided that the tests should require a semicolon for single attributes too as this is a best-practice.

[2017-01-25 18:05] #12839 closed

[2017-01-25 18:05] Greenheart commented on #12807
I can confirm this for the Applied Visual Design challenges as well. It wouldn't surprise me if this affects all basic HTML/CSS challenges.

To fix this, we basically need to make sure the challenge framework updates the results view (the `fcc-main-frame` iframe) around the time when it displays "Your next challenge has arrived".

### The updated flow:
1. Challenge completed, user want to progress

[2017-01-25 18:08] Brittanyw58 opened #12840 "reopen 12811"
I know what a div tag is and I know how to close them! I have been to the help chatrooms and they are not helpful at all!!! They just tell me to do my coding like I did, and then say confusing things that don't answer my question. I have trying reopening my browser like they tell me to in the chat cuz that is the only thing that they can think of. I really want to move on, but it keeps saying my d

[2017-01-25 18:08] raisedadead commented on #10022
This is broken because the challenges are now sent to the client via a bundle.js (webpack) for react and while we might take a look at this in future, this is not a priority for now.

But that said its open for any one to take a look.

Current work around is, you simply need to stop the server, `node seed` and start with gulp again

[2017-01-25 18:08] tommygebru opened #12841 "[beta] Curriculum hours and certification"
The hours and certification have changed and should be reflected on this page
http://beta.freecodecamp.com/en/challenges/join-the-free-code-camp-community/learn-how-free-code-camp-works

Front end certification
now includes 3 prerequisite curriculums (and certifications):
-responsive
-javascript algo.
-frontend libraries
Total hours is 490 roughly 500 hours

[2017-01-25 18:09] dhcodes commented on #12840
@Brittanyw58 can you edit your post to include the challenge name and your code?

[2017-01-25 18:10] raisedadead commented on #12840
@dhcodes #12811

[2017-01-25 18:12] raisedadead commented on #12840
@Brittanyw58 sorry to here that you havent gotten help in the chat room, but this issue tracker is not for coding assistance.

You can either use the chat rooms or the forum. And someone will surely help out! Apologies, will have to close this.

The chat rooms do get a bit noisy at times, but trust me they and the forum are the best place to seek coding assistance.

[2017-01-25 18:12] #12840 closed

[2017-01-25 18:16] tommygebru opened #12842 "[beta][UI] Missing challenge in Map, Slice and Splice"
Both in normal and night mode, the challenge Slice and Splice is missing from the Map page.

The text is missing in this path
p>anchor>span "Missing text here"</-----react-text --->

[2017-01-25 18:16] dhcodes commented on #12808
@xgame92 your code worked for me. Occasionally there are glitches with storing challenges in the browser cache that a reload will fix. This should be resolved when the beta goes live.

[2017-01-25 18:16] #12808 closed

[2017-01-25 18:32] tommygebru opened #12843 "[beta][UI] Border-top for instruction"
All challenges already have a **hr** tag that comes after the title of challenge in the h4 element, with class="challenge-instructions-title" in the left-side panel or column of the page.

http://beta.freecodecamp.com/en/challenges/basic-css/change-the-color-of-text

However there is no **hr** tag that comes before the Instruction.

Codecampers need to be able to distinguish the introduction for t

[2017-01-25 18:39] tommygebru opened #12844 "[beta][UI][accessibility] icon color change for challenges"
The icon color for the challenges, testing div
`div.challenge-test-suite`
has a color that is not accessible at` #d9edf7`

Please change to the default color of `darkgreen`

[2017-01-25 18:42] Brittanyw58 commented on #12840
Responsively Style Radio Buttons

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  h2 {
    font-family: Lobster, Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8">

[2017-01-25 18:45] tommygebru opened #12845 "[beta][UI] projects found in Map with asterisk"
Projects found in Map with an asterisk
for example
`Visualize Data with a Bar Chart*`
Dont actually have a footnote or explanation for the asterisk either:

-on the project webpage,
-the bottom of the Data Visualization curriculum on the Map page itself
-the absolute bottom of the Map page itself

[2017-01-25 18:49] kaleb-ben-israel opened #12846 "Its a no-go wont move along to the next option/lesson ive completed and was told good job!"
Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-f

[2017-01-25 18:50] Brittanyw58 commented on #12840
Responsively Style Radio Buttons

<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  h2 {
    font-family: Lobster, Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8">

[2017-01-25 18:51] kaleb-ben-israel commented on #12846
using 32bit linux(Slackware) - firefox version 45.2.0
tried twice and both times its hung up after telling me good job ...

[2017-01-25 18:58] tommygebru opened #12847 "[beta][UI] a quick link to each of the 6 curriculums"
There is a lot to scroll on the Map page and it quickly becomes uncomfortable.

Proposing quick links for the Maps page if opened in full on desktop.

[2017-01-25 18:58] raisedadead commented on #12846
I can pass the challenge with code above but, it could be down to your browser. If you can will you check on a different on a different device.

[2017-01-25 19:01] tommygebru opened #12848 "[beta][UI] iframe change for each project's youtube tutorial"
Projects that include a youtube video has a set width which is 40% smaller than the parent div.

There should be a change in width for the iframe to have a `width:100%`

[2017-01-25 19:03] tommygebru commented on #12846
Works for me, working on mbp, google chrome browser

[2017-01-25 19:12] tommygebru opened #12849 "[beta][UI] update timeframe on the about page for upcoming courses"
About Page
http://beta.freecodecamp.com/en/about

the page still refers to these upcoming courses as slated for September 2016.
-React
-D3
-Sass

[2017-01-25 19:25] kaleb-ben-israel commented on #12846
well after taking a break, i just returned and tried this one again using another browser Vivaldi (1.6.689.46)  it worked fine .. guess it was my browser(firefox) ...  sorry for the troubles

[2017-01-25 19:25] #12846 closed

[2017-01-25 19:27] kaleb-ben-israel commented on #12846
it was my browser ... after taking a break i returned and tried another browser Vivaldi ... and it worked fine .... sorry for any troubles

[2017-01-25 19:30] #12355 closed

[2017-01-25 19:30] sushmitguleria opened #12850 "am stuck ...couldnt pass this ,help"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2017-01-25 19:30] mjanusauskas commented on #12431
Thank you for the information. I will investigate GitHub Pages as a
possible alternative.

On 1/24/2017 11:12 PM, Eric Leung wrote:

[2017-01-25 19:31] mjanusauskas commented on #12431
Yes, I would be happy to help with testing and/ QA.

On 1/25/2017 6:39 AM, Timo wrote:

[2017-01-25 19:31] raisedadead commented on #12850
Hi @sushmitguleria

Thanks for the report. Your code is not correct. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try l

[2017-01-25 19:31] #12850 closed

[2017-01-25 19:32] tommygebru commented on #12826
This challenge works, although i can understand the confusion...

Also returning the answer does not pass the challenge, because it is not specific to the instructions

for example
[code]

[2017-01-25 19:34] thomlom opened #12851 "Backend challenges are either not working or unclear"
Challenge [using-packagejson-the-core-of-any-nodejs-project-or-npm-package](http://beta.freecodecamp.com/en/challenges/managing-packages-with-npm/using-packagejson-the-core-of-any-nodejs-project-or-npm-package) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how to re

[2017-01-25 19:40] raisedadead commented on #12851
Duplicate of #12071
@thomlom thanks for the report and we are working on getting the migration done as soon as possible.

/cc @Em-Ant

[2017-01-25 19:40] #12851 closed

[2017-01-25 19:40] tommygebru opened #12852 "[beta][UX] notification-bar color choice suggestion"
The tooltip or small modal window that appears with each new challenge **and** with each test run, has a` background:black` and `color:white`

Please consider changing to ` background:yellow` and `color:black`

[2017-01-25 19:46] bonham000 commented on #12757
@TheeMattOliver sounds great! Feel free to message me on Gitter if you want to coordinate more about getting these tests working, I know that when I was looking through the challenges I realized some of the challenges had really inadequate tests.

[2017-01-25 19:50] becausealice2 opened #12853 "[beta] D3: Learn About SVG in D3 Constants and instructions"
Challenge [learn-about-svg-in-d3](http://beta.freecodecamp.com/en/challenges/data-visualization-with-d3/learn-about-svg-in-d3) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64; rv:50.0) Gecko/20100101 Firefox/50.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

The provided code for this challenge includes constants that, I

[2017-01-25 20:00] Em-Ant commented on #12740
@olddognewtrix123 sorry. The back-end challenges are still under development.

The view (elements of the page, and how they are placed on the screen ) that you see now is not the final one. It still needs to be released. There should be the url of a boilerplate project hosted on hyperdev (now https://gomix.com they renamed it) to be forked, and a form where you can insert the url of the cloned pro

[2017-01-25 20:03] Em-Ant commented on #12851
@thomlom  I am very sorry. This is not the final version of the view. Read [this comment(]https://github.com/freeCodeCamp/freeCodeCamp/issues/12740#issuecomment-275216589) for more details. Please be patient.

[2017-01-25 20:04] richiethomas commented on #12722
I believe I found the issue.  The two assertions which always pass are using RegEx patterns to check against a string stored in a variable called `code` in the file "basic-javascript.json".  I was able to log the string stored in `code` to the console.  It looks like this:
[code]

Looks like the `/*fcc*/` code comes from line 82 of "execute-challenge-saga.js".  As I'm new to the codebase, I'm not

[2017-01-25 20:25] TheeMattOliver commented on #12757
cool, will do.

On Wed, Jan 25, 2017 at 1:48 PM, Sean Smith <notifications@github.com>
wrote:

[2017-01-25 20:28] Em-Ant commented on #12740
@raisedadead it's not the same issue as https://github.com/freeCodeCamp/freeCodeCamp/issues/12071. In this case a special view all for the back-end projects is missing. @BerkeleyTrue is working on it. Should I reopen this ?

[2017-01-25 20:33] raisedadead commented on #12740
@Em-Ant we have freeCodeCamp/freeCodeCamp#12694  for the backend view already.

[2017-01-25 20:35] raisedadead commented on #12740
Let's continue on the original open threads instead. Thanks a lot for chiming in.

[2017-01-25 20:37] Borgaard opened #12854 "[beta][Minor] Typo in beta: Problems With the Var Keyword"
Typo in "logged":

Challenge [problems-with-the-var-keyword](http://beta.freecodecamp.com/en/challenges/es6/problems-with-the-var-keyword) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

[2017-01-25 20:50] systimotic commented on #12838
Thanks for helping with the hunt @Greenheart @dhcodes! I created a PR to fix this.

[2017-01-25 21:05] thanira commented on #10406
Thanks. I've started the challenges in my laptop and when logging in on my desktop I can see the numbers of projects, but not the page where I actually stopped. :( Do you know when new version will be available?

[2017-01-25 21:12] systimotic commented on #12433
@codeman869 I like it! I think "first" could be omitted, but I like the balance between pointing the camper in the right direction, but not telling them specifically which tool they should use. Do you want to create a PR for this?

[2017-01-25 21:15] LotusBlossom3 opened #12857 "The text won't turn blue."
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3A%20blue%3B%7D%0A%3C%2Fstyle%3E%20%20%0A%20%20%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20ea

[2017-01-25 21:23] petercollingridge commented on #12722
The question already asks for at least 5 characters in the comment, which the extra code inserted does not have. However the inserts code is matches as the regex `/(\\/\\*)[\\w\\W]{5,}(?=\\*\\/)/` matches the start of the first comment with the end of the last one. If it were changed to something like `(\\/\\*)([^\\*\\/]{5,})(?=\\*\\/)`, I think that would solve the problem as it would restrict th

[2017-01-25 21:26] systimotic commented on #12755
So this is quite a bit more than I expected. I expected to be able to find out when the changes were no longer retained, then log out all commits between then and now.
What I found out is that not all seed files were affected by this. Here's my plan of action
- [ ] Find out which files were affected
- [ ] Find out since when they were affected
- [ ] Use `git log` to get the changes between the dat

[2017-01-25 21:30] tommygebru commented on #12857
@LotusBlossom3

Your solution actually removed the h2 element tag for html.

This challenge works correctly, for more help please join the Freecodecamp chatrooms.
https://gitter.im/FreeCodeCamp/home

[2017-01-25 21:31] tommygebru commented on #12857
How do I close an Issue?

[2017-01-25 21:39] raisedadead commented on #12857
Hi @LotusBlossom3

Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](

[2017-01-25 21:39] #12857 closed

[2017-01-25 21:46] systimotic commented on #12427
I created a wiki post for this https://forum.freecodecamp.com/t/semicolons-in-javascript/80595
Edits are welcome! Every user on the forum that has been around for a few minutes gets "Basic" status and should be able to edit the wiki article.

I'm closing this issue as resolved. Thanks for reporting and investigating everybody!

[2017-01-25 21:46] #12427 closed

[2017-01-25 21:48] raisedadead commented on #12693
Yup, I think we should just proceed this way. Thanks for the feedback @no-stack-dub-sack @HKuz!
Cheers!

[2017-01-25 22:05] tommygebru commented on #12857
@raisedadead how can I close issues and become a Member or core contributor?

[2017-01-25 22:38] richiethomas commented on #12722
Just tested the regex you provided (everything on one line, everything on multiple lines, either the opening or closing tags on the same line as text and the other on a new line), and all these functioned as expected.  I did notice the following case passes:

[code]

There are 4 visible characters here, I assume the 5th character is the newline.  Do we want to count this as a character for the pur

[2017-01-25 22:49] zeyergit commented on #12350
@kcscott88
thanks for your suggestion about adding the redundant line of code.
i added the following and was able to pass the test:
 h2 {
    font-family: , Monospace;
  }
  h2 {
    font-family: Lobster, Monospace;
  }

One of the questions I had was where to put the comma after Lobster - before the comment out characters or after. I did it this way and it worked.

[2017-01-25 23:11] HKuz commented on #12853
@becausealice2 - I think this is a great suggestion, it removes any ambiguity from the instructions. As you noted, we can rephrase the instructions to say something like:

"Add an `svg` node to the `body` using `append()`. Give it a `width` attribute set to the `w` constant and a `height` attribute set to the `h` constant using the `attr()` method for each..."

As the person that opened the issue,

[2017-01-25 23:30] HKuz commented on #12843
@tommygebru - your suggestion has great timing! There was a recent discussion about how to show "Instructions" in each challenge, and folks decided on using an `<hr>` tag to visually split the challenge text from the instructions. You can read the comments [here](https://github.com/freeCodeCamp/freeCodeCamp/issues/12688#issuecomment-274316858). We're currently working on getting this into all the

[2017-01-25 23:58] Talkingbaby opened #12859 "[beta] challenge html/css output not visible until code is run"
Challenge [change-the-position-of-overlapping-elements-with-the-zindex-property](http://beta.freecodecamp.com/en/challenges/applied-visual-design/change-the-position-of-overlapping-elements-with-the-zindex-property) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how

[2017-01-26 00:06] becausealice2 commented on #12853
D3 is basically the only thing I can contribute to here, so I had to take the opportunity while I could ;)

I'll go ahead and make the fix :)

[2017-01-26 00:31] tommygebru commented on #12843
@HKuz For sure, that looks good!

[2017-01-26 00:39] tommygebru commented on #12859
Works well for me!
Working on MBP with Google Chrome

[2017-01-26 01:26] HKuz commented on #12853
Great, thanks so much @becausealice2 🎉 👍 ! If you haven't contributed to fCC before, check out the [Contributor's Guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md) to get set up, and ask any questions in the [Contributor's chat room](https://gitter.im/FreeCodeCamp/Contributors). And having folks work through challenges in any area and providing feedback is a huge he

[2017-01-26 01:38] wildlifehexagon commented on #12687
I'm getting the same error with 100% zoom. Also using Chrome and Windows 10.

[2017-01-26 02:41] emilze commented on #10564
I am having the same issue.

[2017-01-26 03:31] dhcodes commented on #12845
@tommygebru closing because this will be resolved by https://github.com/freeCodeCamp/freeCodeCamp/issues/12721

[2017-01-26 03:31] #12845 closed

[2017-01-26 03:51] tommygebru commented on #12721
Very cool thanks @dhcodes

[2017-01-26 04:23] no-stack-dub-sack commented on #12859
@Talkingbaby I can confirm this, when I loaded the challenge, the instructions refer to a red rectangle and a blue rectangle, but neither element is visible for me until I complete the challenge. I jumped right to this challenge and did not complete the one prior to it.

I am on Chrome, latest version, on Mac OSX 10.11.6

@tommygebru When you loaded the challenge, could you see the rectangles in t

[2017-01-26 04:27] tommygebru commented on #12859
Will the issue repeat if i reset the exercise?
otherwise it is pretty much an elusive bug to catch 😜

[2017-01-26 04:30] no-stack-dub-sack commented on #12859
@tommygebru the bug does not seem to repeat even if the code is cleared, so it is a bit elusive. I think if local storage was cleared it might reset the issue, but I wouldn't recommend doing that since other FCC data is likely stored there as well. So, it would seem this only occurs the first time the challenge is run, which of course is the most important time 😄

[2017-01-26 04:43] no-stack-dub-sack commented on #12807
@Greenheart also see #12859 - closing that one as duplicate, but this is def an issue in other areas as well like you hypothesized, I can confirm it as well for the Flexbox challenges.

[2017-01-26 04:43] no-stack-dub-sack commented on #12859
Actually, this was reported in #12807, please see that issue, closing this as duplicate

[2017-01-26 04:43] #12859 closed

[2017-01-26 04:49] kimtaejoon8 opened #12862 "How fix this error? Your h2 element should have the class red-text."
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3Ared%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3Ared%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20eve

[2017-01-26 04:54] no-stack-dub-sack commented on #12862
Hi @kimtaejoon8 the css looks good, but you have not actually given your HTML element the `class` yet.

In the future, please look for help in our gitter chat rooms (https://gitter.im/FreeCodeCamp/HelpFrontEnd) or on the [forum](www.forum.freeCodeCamp.com), as the issue tracker is for reporting bugs only. Good luck and happy coding!

[2017-01-26 04:54] #12862 closed

[2017-01-26 05:01] tommygebru commented on #12859
So I reset my browser history, the beta.fcc saved my points and map,
**the challenge page actually loaded without any divs!**
Applied Visual Design: Change the Position of Overlapping Elements with the Z-index Property

![screen shot 2017-01-25 at 8 56 29 pm](https://cloud.githubusercontent.com/assets/7606025/22320395/fd85ecb0-e340-11e6-85a1-45960cf6dd97.png)

**I reset the exercise and the divs a

[2017-01-26 05:01] kimtaejoon8 commented on #12862
thanks!!
Just starting to learn it and GitHub !!

On Wed, Jan 25, 2017 at 8:56 PM, Peter Weinberg <notifications@github.com>
wrote:

--

Kim 김태준 金泰俊​

mobile(USA): +1.949.295.5125

[2017-01-26 05:12] tommygebru commented on #12859
@no-stack-dub-sack  after re-reading your earlier posts

"@tommygebru When you loaded the challenge, could you see the rectangles in the smartphone element before you adjusted the z-index?"

In short, no.

[2017-01-26 05:13] no-stack-dub-sack commented on #12852
@tommygebru hmmm... I was about to say that I think everything looks fine as is, but I tried it out, and I don't think it's an altogether bad suggestion. Looks nice in both modes and I think is a bit more visible:

![image](https://cloud.githubusercontent.com/assets/18563015/22320649/190ec112-e35c-11e6-9959-d75407cbc6f1.png)

![image](https://cloud.githubusercontent.com/assets/18563015/22320670/4b

[2017-01-26 05:22] tommygebru commented on #12852
@no-stack-dub-sack
Actually I misspoke, the color should represent Freecodecamp to the fullest and should be a recommended color

https://www.freecodecamp.com/design-style-guide/

I think this is a great choice `#FF9C2A` with a text of  `#333333`

[2017-01-26 05:25] strongdan opened #12863 "This appears to meet all of the guidelines, but fails the first test"
Challenge [escaping-literal-quotes-in-strings](http://beta.freecodecamp.com/en/challenges/basic-javascript/escaping-literal-quotes-in-strings) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; CrOS x86_64 8872.76.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.105 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

[2017-01-26 05:26] no-stack-dub-sack opened #12864 "[beta] challenge passes without any code"
#### Challenge Name

http://beta.freecodecamp.com/en/challenges/css-flexbox/using-the-flexdirection-property-to-make-a-row

#### Issue Description

I guess since the default value for `flex-direction` is row, this test can pass without doing anything at all. Maybe a reg-ex is in order to make sure the user enters code?

[2017-01-26 05:31] strongdan opened #12865 "[beta] bug in "Quoting String with Single Quotes" challenge"
Challenge [quoting-strings-with-single-quotes](http://beta.freecodecamp.com/en/challenges/basic-javascript/quoting-strings-with-single-quotes) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; CrOS x86_64 8872.76.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.105 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[code]

[2017-01-26 05:37] tommygebru commented on #12865
Im seeing the same.
MBP using Google Chrome.

[2017-01-26 05:43] no-stack-dub-sack commented on #12842
@tommygebru Thanks for reporting this - would you like to fix it?

Looks like this issue was also reported in #12673. Since we are getting a MASSIVE number of new issues since releasing the beta curriculum, it would be more helpful than ever if you could check if issues already exist before opening new ones.

[2017-01-26 05:44] no-stack-dub-sack commented on #12673
closing as duplicate ☝️

[2017-01-26 05:44] #12673 closed

[2017-01-26 05:51] tommygebru commented on #12863
[closed][blocked] This is actually an incorrect solution...

[2017-01-26 05:56] tommygebru opened #12866 "[beta] the first flexbox challenge"
The flexbox challenges I assume have inappropriately large div heights...
starting with

Css Flexbox: Using display: flex with Two Boxes
http://beta.freecodecamp.com/en/challenges/css-flexbox/using-display-flex-with-two-boxes

[2017-01-26 06:04] tommygebru opened #12867 "[beta] the second flexbox challenge also has an issue"
I just completed the second flexbox challenge

Css Flexbox: Adding Flex Superpowers to the Tweet Embed
http://beta.freecodecamp.com/en/challenges/css-flexbox/adding-flex-superpowers-to-the-tweet-embed

However it doesnt make any sense as to what the lesson is exactly...

I guess what I am saying is it should have been a different or simple demonstration on the phone

[2017-01-26 06:10] tommygebru opened #12868 "[beta] Flexbox challenge 3 issue"
Css Flexbox: Using the Flex-direction Property to Make a Row
http://beta.freecodecamp.com/en/challenges/css-flexbox/using-the-flexdirection-property-to-make-a-row

The challenge passes without input or correct/requested solution.

**because**
`display:flex;`
is equivalent to
[code]

[2017-01-26 06:16] tommygebru opened #12869 "[beta] Flexbox challenge 4 issue"
Css Flexbox: Applying the Flex-direction Property to Create Rows in the Tweet Embed
http://beta.freecodecamp.com/en/challenges/css-flexbox/applying-the-flexdirection-property-to-create-rows-in-the-tweet-embed

After progressing from the previous challenge page, the Visual Display (phone) does not wipe away the previous challenges solution on the phone.

![screen shot 2017-01-25 at 10 13 57 pm](htt

[2017-01-26 06:19] tommygebru commented on #12869
Ok after glancing over the map, i understand that there is a pattern between, a lesson with colored divs (red & blue) and a tweet embed of Ossia

I am going to assume that the issue I presented in this challenge is also repeating, and it might actually be intentional

[2017-01-26 06:22] strongdan commented on #12865
Weird. I was using Chrome on a Chromebook.

Is it better for me to simply state the nature of the bug or should I attempt to fix the testing files and create a pull request?

[2017-01-26 06:35] tommygebru opened #12870 "[beta] Flexbox challenge 5 issue - similar to issue #12866"
[beta] similar to issue #12866
This is an important issue, because **the divs are too large** you can only see one color in the Solution Window (the phone).... and thus cannot discern that there are other boxes (or child elements).

Because the challenge ends and a modal pops up, you cannot learn from the Solution and see the difference between a `flex-direction:row` or a `flex-direction: column`

[2017-01-26 06:38] tommygebru commented on #12865
I believe its good to share as an issue first and get feedback...
also its pretty important to consistently provide screenshots also its easier to explain this way!

[2017-01-26 06:40] strongdan commented on #12865
Okay, I will do that in the future. I'm very new to all of this. I re-ran this challenge and got the same result - failed second test but passed first.

[2017-01-26 06:47] tommygebru commented on #12865
yeah - its an issue for sure

![screen-shot-2017-01-25-at-10 45 25-pm-compressor](https://cloud.githubusercontent.com/assets/7606025/22322355/47e8c912-e350-11e6-821d-b38c25d8a92f.png)

[2017-01-26 06:50] tommygebru opened #12871 "[TIP] When providing a screenshot to a github issue...."
[TIP] When providing a screenshot to a github issue, compressing the image file will reduce the upload time from `10 seconds to 1 second`

**also** the file will not be rejected for having an "inappropriate file format" which it gave me as a default error message

[2017-01-26 06:51] wildlifehexagon opened #12872 "[beta] Clicking to next challenge does not update display"
#### Challenge Name

Noticing this in the Applied Visual Design track, probably elsewhere too

#### Issue Description

When you complete a challenge, the next one loads but the right-hand display remains the same. It's not possible to see the initial display of the new challenge unless you manually hit "run code." This isn't an issue when subsequent challenges build off of each other, but it's not

[2017-01-26 07:06] tommygebru commented on #12872
Please try and share a screenshot accompanied with your issue

[2017-01-26 08:19] #11986 closed

[2017-01-26 08:42] fahadullah786 commented on #12857
First delete the privious h2 attributes and write the style element.
<style> </style>
second, write the code with bracket enclosed and semicolon.
<style> h2 {color:blue;} </style>
third, write the state of h2 that you wanted in that particular style and color.
<style> h2 {color:blue;} </style>
<h2> cat photo app </h2>
TEST RUN

[2017-01-26 08:46] marvellousdesign opened #12873 "[beta] Copying solution copies the lines numbers in the code editor"
#### Issue Description

I'm able to copy my solutions, but it also selects and copy the lines numbers too on the code editor for a challange.

#### Browser Information

* Browser Name, Version: Firefox 50.1.0
* Operating System: OSX 10.9.5
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]
#### Screenshot

![screen shot 2017-01-26 at 12 34 47 am](https://cloud.githubusercontent.com/asse

[2017-01-26 08:49] Ramona-Eikelenboom commented on #12872
Same issue here for all challenges in the Applied visual design track and the Applied accessibility track (probably also in other tracks).

The right-hand display doesn't update when I complete a challenge and go to the next challenge. The display continues to show the output from the previous challenge. The correct display only shows after I click the reset button or the run tests button.

![erro

[2017-01-26 09:32] Greenheart commented on #12807
@no-stack-dub-sack Nice detective work!

I'll see if I can find the code that could be used to fix this.

[2017-01-26 09:39] Greenheart commented on #12687
@wildlifehexagon So, even though you reset the browser zoom, you get the error? :blush:

[This challenge](http://beta.freecodecamp.com/en/challenges/applied-visual-design/adjust-the-width-of-an-element-using-the-width-property) only passes for me when I have the zoom at the original 100%.

I can only reproduce the bug when the zoom is greater than 100 or less than 100.

[2017-01-26 09:43] raisedadead commented on #12871
You should simply drag and drop the image in the github comment box. We rely on the native uploader provided by github than on any other third party services.

In my experience, it has been a consistent option, and works reliably.

[2017-01-26 09:48] theabstact237 commented on #7201
i was confused just like you

[2017-01-26 10:09] systimotic commented on #12687
To add to that, could you also try the tests mentioned in this comment https://github.com/freeCodeCamp/freeCodeCamp/issues/12687#issuecomment-275100288? Make sure to run them in the console, and switch the context to the iFrame.

[2017-01-26 10:14] systimotic commented on #12873
Hi @marvellousdesign! Thank you for reporting this issue.

I can not reproduce this on the same version of Firefox on Windows 10. Now matter how hard I try (Ctrl+a, select the text, select the numbers), I can't select the numbers.
Can you consistently do this? Does it happen on all challenges? Does it also happen in other browsers?

[2017-01-26 10:29] systimotic commented on #12674
Thanks for reporting @leonfeng! There has since been opened an issue that is a duplicate of this, but it has a bit more info, so I'll close this in favour #12801. Feel free to continue the conversation there!

[2017-01-26 10:29] #12674 closed

[2017-01-26 10:34] systimotic commented on #12774
@P1xt It looks like this is a duplicate of #12656. Can you confirm?

[2017-01-26 10:34] systimotic commented on #12801
Adding the description of #12674 to this:

[2017-01-26 10:39] thomlom commented on #12837
I'm experiencing the issue too.

It seems that all the `input` of type `checkboxes` don't have the checkbox because of the test suite.

With the test-suite imported :

<img width="1440" alt="capture d ecran 2017-01-26 a 10 56 23" src="https://cloud.githubusercontent.com/assets/16003285/22327280/b9e97d34-e3b6-11e6-9f52-11808c289de3.png">

Without the test-suite imported :

<img width="1440" alt="ca

[2017-01-26 11:02] systimotic commented on #12816
Thanks for reporting this issue @uillianluiz!
I can confirm that this is an issue, I ran into this a few times while working on the beta as well. I'm looking into a fix. If it's simple, expect a pull request soon, if it's complicated, I'll mark this "help wanted" 😄

[2017-01-26 11:07] zeyergit opened #12874 ""Size Your Images" challenge missing critical instruction"
Hi.
I could not find instructions on how to add the "smaller-image" class to an image link.
I understood the challenge but there is no actual example of how to add that to <img src...
In the end I asked someone in the chatroom and got the following: <img class="smaller-image" src="https://bit.ly/fcc-relaxing-cat" but I never would have known to put "class" next to "img" and move "src" on its own.

[2017-01-26 11:49] OFFLlNE commented on #12874
@zeyergit Thank you for reporting this issue.

I see MANY people come everyday with the same problem, that they do not know that they need to apply that created class to their image element.
If people would analyze what test is failing they should see that you need to use that class on image
`Your img element should have the class smaller-image.`

But I would agree, that extra line in the instruct

[2017-01-26 11:50] marvellousdesign commented on #12873
I updated my browser to Firefox 51.0 and I don't see this issue. Doesn't happen on Chrome. I've been using Freeter, it has a webpage wiget and it does happen there sometimes, not always.

[2017-01-26 11:55] himanshibhalla opened #12875 "how to add image"
Challenge [Add Images to your Website](https://www.freecodecamp.com/challenges/add-images-to-your-website#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%

[2017-01-26 11:55] #12875 closed

[2017-01-26 11:58] codehakase commented on #12875
Hello @himanshibhalla  your code should look like this:

[code]

Your `img` tag should be outside the `style` tag

[2017-01-26 11:59] marvellousdesign commented on #12865
I'm having this error too and mines doesn't see the back slashes been removed.

![screen shot 2017-01-26 at 3 57 11 am](https://cloud.githubusercontent.com/assets/24817921/22330580/cb762966-e37b-11e6-9eee-385f5d378d0a.png)

[2017-01-26 12:48] zeyergit commented on #12874
Hi Lauri,
I don’t think the issue is just telling people that the “img element” should have “class smaller-image”
The issue is that people don’t know HOW to break up the traditional “img src…” tag and modify it to accommodate the class.
They need to see an example. There’s no other way of knowing how to do this.

From: Lauri Välja <notifications@github.com<mailto:notifications@github.com>>
Reply-T

[2017-01-26 12:59] DmitriiVacula opened #12876 "I press Run tests and nothing happens, any mistakes or success aren't displayed at all."
Challenge [Target the same element with multiple jQuery Selectors](https://www.freecodecamp.com/challenges/target-the-same-element-with-multiple-jquery-selectors#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%24(%22button%22).addClass(%22animated%22)%3B%0A%20%20%20%20%24(%22.btn%22).addCladd(%22shake%22)%3B%0A%20%20%20%20%24(%22%23target1%22).addClass(%22btn-primary%22)%3B%0A%2

[2017-01-26 13:00] DmitriiVacula commented on #12876
PS: I tried refreshing the page and restarting chrome multiple times, didn't help!

[2017-01-26 13:04] DmitriiVacula commented on #12876
OK Problem solved after adding the new code again the third time. HOWEVER that was definitely a bug on that page.

[2017-01-26 13:10] systimotic commented on #12873
That's really weird 😕
@freeCodeCamp/moderators Can anybody reproduce?

[2017-01-26 13:11] OFFLlNE commented on #12876
@DmitriiVacula Thank you for reporting issue.

You code was wrong that you initially displayed in your issue.
Closing the issue since it seems to be resolved now.

Good luck coding

[2017-01-26 13:11] #12876 closed

[2017-01-26 13:21] soulchainer opened #12877 "[beta] Progress and brownie points reset on first login. Is it normal? Temporal?"
#### Issue Description
When you log into the beta, the progress and brownie points are all gone, reset. Shouldn't it be preserved? Or it will be added later or what? Because I believe that's kinda important.
And, if not, the new profile button **Reset all of my progress and brownie points** it's kinda funny :þ.

#### Browser Information
I don't believe this could be related with the browser, but h

[2017-01-26 13:30] srir4m opened #12878 "Wrong Behavior with "Specify How Fonts Should Degrade""
Challenge Link :
[click](https://www.freecodecamp.com/challenges/specify-how-fonts-should-degrade#?solution=%3C!--%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A--%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobst

[2017-01-26 13:34] soulchainer opened #12879 "[beta] Link to LinkedIn account doesn't work"
#### Issue Description

Trying to link to the user LinkedIn account doesn't work, it returns an error page (see below, in **Screenshot**). Plus, when hitting back in the browser, the button text is now «Remove my LinkedIn from my portfolio» and you can't also remove it, because you hit the same error everytime.

#### Browser Information

* Browser Name, Version: Firefox Developer Edition, 52.0a2
*

[2017-01-26 13:43] P1xt commented on #12774
@systimotic There's a slight possibility but it's quite remote. The issue on #12656 is one I've seen on a number of challenges where the grader just stops accessing whatever it needs to populate the various sections of the page. This issue, on the other hand is challenge specific, wherein the platform seems to be working fine but this particular challenge is incorrectly mis-grading one of the test

[2017-01-26 14:07] Greenheart commented on #12873
I can't reproduce with Firefox 50.1 (51 isn't published to the official Ubuntu repo yet).

To me it sounds like the issue is about the Freeter webpage widget. I wonder what browser it's based on - if we are lucky, some upstream fix might fix this issue.

[2017-01-26 14:53] kprenesti opened #12880 "HTML section listed 2nd in Map"
Challenge [say-hello-to-html-elements](http://beta.freecodecamp.com/en/challenges/basic-html-and-html5/say-hello-to-html-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.95 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

HTML section

[2017-01-26 15:00] 0xcrypto opened #12881 "Unable to remove twitter account"
#### Issue Description
I mistakenly linked wrong twitter account. Now I want to remove that account and link my twitter account. But there is no option to do so. Even after I have revoked access from twitter, there is no effect.

[2017-01-26 15:12] Greenheart commented on #12877
@soulchainer https://beta.freecodecamp.com runs on a different server, with a different database that gets reset once in a while. This exists to make it easier to test the site.

If your profile still exists at https://freecodecamp.com, there should be nothing to worry about.

Thanks for your help with testing the new curriculum! :smile: :sparkles:

[2017-01-26 15:28] soulchainer commented on #12877
I guessed that would be the case, but you know: it's a beta, isn't stated anywhere (that I could see), so issue to get a confirmation (and, if not the case, warn about it). Thanks for the info and the kind reply, @Greenheart :D. Closing this then ñ_ñ.

[2017-01-26 15:28] #12877 closed

[2017-01-26 15:33] raisedadead commented on #12873
Cant reproduce on Chrome, Firefox on macOS. Closing. Please comment if issue still persists to reopen.

[2017-01-26 15:33] #12873 closed

[2017-01-26 15:33] ajain17 commented on #12880
I think it's a good idea to enlist HTML before CSS in the map. Should I change the ordering of the courses? I fixed it locally can create a PR if needed.

[2017-01-26 15:35] Greenheart commented on #12807
I've most likely found where we need to update the results-view - [it's around this line](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/app/routes/challenges/redux/next-challenge-saga.js#L78)

The question now is how to trigger the challenge framework to execute the code without also executing the tests. I'll continue by looking how the regular execution of challenges works.

[2017-01-26 15:36] raisedadead commented on #12881
@0xcrypto here is forum post that would help
https://forum.freecodecamp.com/t/how-to-delete-twitter-account-from-free-code-camp/14991

[2017-01-26 15:36] #12881 closed

[2017-01-26 15:37] raisedadead commented on #12880
@ajain17 thanks please check for open PR's, I believe there is one already.

[2017-01-26 15:38] raisedadead commented on #12879
Thanks for reporting.
/cc @BerkeleyTrue

[2017-01-26 15:39] ajain17 commented on #12880
@raisedadead  I dont see one for this issue.

[2017-01-26 15:41] dhcodes commented on #12878
@srir4m does the challenge still pass? The reason I ask is that on beta this challenge says "if you have the Lobster font installed on your computer, the font may not degrade". Do you have Lobster installed in your system fonts?

[2017-01-26 15:42] cvorak commented on #10570
not passing on the latest version of Chrome.

[2017-01-26 15:50] Greenheart commented on #12877
@soulchainer No problem, happy coding! :relaxed: :man_technologist:

[2017-01-26 15:52] Manish-Giri commented on #12880
I guess this change is done in https://github.com/freeCodeCamp/freeCodeCamp/pull/12663 already?

[2017-01-26 15:55] raisedadead commented on #12880
@Manish-Giri thanks. @ajain17 thanks as well, let me check on staging, and will review your pull request as well.

[2017-01-26 16:07] HKuz commented on #12880
For what it's worth, the original issue for the ordering was #12646 - that was closed automatically when PR #12663 was QA'd and merged. This should be fixed on `staging` already (I see it ordered with HTML first, then CSS when I run it locally) - but I worked on the PR, so if someone else can confirm, much appreciated!

I'm not sure when the next push of `staging` is to beta, so this shows up for

[2017-01-26 16:10] ajain17 commented on #12880
@HKuz  I confirm that its fixed on staging. I checked with live site earlier. I will close my PR

[2017-01-26 16:16] ajain17 commented on #12874
I don't think we should add "you need to apply created class to your existing image element". That coupled with existing instructions is like handing over the solution directly. We may change`Your img element should have the class smaller-image.` to `The img element should have..` because your makes it seem like you should be creating one.  Another change I'd suggest is to change `Create a class c

[2017-01-26 16:20] ajain17 commented on #12864
Confirmed its an issue. Needs to be fixed.

[2017-01-26 16:21] systimotic commented on #10570
@cvorak Remember that you need at least 5 items in your array. If you put 5 items in there, does it work for you?

[2017-01-26 16:23] ajain17 commented on #12864
Should I create a PR? I fixed it on my local

[2017-01-26 16:28] Taylorbostick32 commented on #4178
I just finished this. Here is what i got. I hope it helps.

var Bike = function() {

  // Only change code below this line.
  var gear = 0;
  this.setGear = function(i) {
    gear = i;
  };
  this.getGear = function () {
    return gear;
  };
};

Whatever we put inside the parameters of setGear() becomes the value of gear, which getGear returns and holds that value as well.

[2017-01-26 16:42] raisedadead commented on #12880
Thanks everyone. Can confirm on local. Closing.

[2017-01-26 16:42] #12880 closed

[2017-01-26 16:51] HKuz commented on #12774
I think the first mention of the challenge-specific test issue was over in #12653 - which was closed automatically when PR #12663 was QA'd and merged. I think part of the confusion is that when subsequent issues about this specific challenge and the test were raised, I referenced the PR instead of marking them as duplicate issues 😞  . I'll go back and edit my comments on those, so it's easier for

[2017-01-26 17:04] zeyergit commented on #12874
Hi. I’m new to FCC and don’t want to overthink this but I just want to make sure I’m being clear.
What I’m saying is that I did not know how to break up an img ref and add this other element.
<a href="#"><img class="smaller-image thick-green-border" alt="A cute orange cat lying on its back. " src="https://bit.ly/fcc-relaxing-cat"></a>

In my opinion, the simplest way to make sure students know how

[2017-01-26 17:55] no-stack-dub-sack commented on #12872
closing this as duplicate - please see #12807

[2017-01-26 17:55] #12872 closed

[2017-01-26 18:01] no-stack-dub-sack commented on #12870
@tommygebru Hey man! Wow, you are killing it in reporting these issues, appreciate your hard work.

However, since many of these issues are very similar and related to the same section, do you think you would be able to perhaps condense all of these into one issue (at least all of the related ones) and create a checklist so that they can be better organized and easier to attack once we start getti

[2017-01-26 18:03] no-stack-dub-sack commented on #12869
@tommygebru Yeah, I noticed this too, but I think the repetition was intentional (see first challenge instructions) - if this was the only issue with this one, I think it's safe to close this.

[2017-01-26 18:05] no-stack-dub-sack commented on #12852
@tommygebru I actually consulted the styleguide before testing this out. and both are recommended colors!

[2017-01-26 18:12] no-stack-dub-sack commented on #12859
@tommygebru cool, thanks for double-confirming, I've closed this one though since it was reported elsewhere and we can continue the conversation there. :+1:

[2017-01-26 18:38] dhcodes commented on #12852
Should this change be made across the site or as a part of a 'high-contrast' mode as discussed in: https://github.com/freeCodeCamp/freeCodeCamp/issues/8845 ?

[2017-01-26 18:42] ajain17 commented on #12863
@strongdan  The code you have posted here seems to be working for me. What issue are you having?

[2017-01-26 18:45] ajain17 commented on #12866
@tommygebru what do you mean it assumes you have inappropriately large div heights? We are setting height to 500px for each div. Can you please elaborate your issue?

[2017-01-26 18:46] ajain17 commented on #12868
The fix for https://github.com/freeCodeCamp/freeCodeCamp/issues/12864 should fix this as well. I have a PR for the fix already. Let me know if I should create the PR ?

[2017-01-26 18:56] rmdawson71 opened #12883 "Missing Content from previous challenge"
Challenge [link-to-internal-sections-of-a-page-with-anchor-elements](http://beta.freecodecamp.com/en/challenges/basic-html-and-html5/link-to-internal-sections-of-a-page-with-anchor-elements#contact) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and

[2017-01-26 19:00] tgitari opened #12884 "Passing Values to Functions with Arguments"
![functionwithargs](https://cloud.githubusercontent.com/assets/23182966/22345860/6e4c2140-e3c7-11e6-9151-e352427b87dd.PNG)
Challenge [Passing Values to Functions with Arguments](https://www.freecodecamp.com/challenges/passing-values-to-functions-with-arguments#?solution=%0A%2F%2F%20Example%0Afunction%20ourFunctionWithArgs(a%2C%20b)%20%7B%0A%20%20console.log(a%20-%20b)%3B%0A%7D%0AourFunctionWithArg

[2017-01-26 19:01] tgitari commented on #12884
Could someone please tell me what it is that I am missing here.

[2017-01-26 19:01] tgitari commented on #12884
No one is helping me on the chat, that's why I posted here.

[2017-01-26 19:02] tgitari commented on #12884
I keep getting "ReferenceError: 'myfunctionWithArgs' is undefined"

[2017-01-26 19:08] #12884 closed

[2017-01-26 19:08] tgitari commented on #12884
Problem solved.

[2017-01-26 19:09] HKuz commented on #12868
Thanks for pointing this out @tommygebru - this is actually a duplicate of issue #12814 for this challenge, so I'm going to close this issue. Also, I'm in the process of consolidating all the Flexbox section to-dos (I think we can address most of the outstanding issues in one PR). I'll post the action items in issue #12803, which will include the good points you make about the div sizes.

@ajain17

[2017-01-26 19:09] #12868 closed

[2017-01-26 19:11] Greenheart commented on #12884
@tgitari Glad to hear that :blush:

Next time, please use the chatrooms (which you did), or [the forum](https://forum.freecodecamp.com) to get help. These issues are only for reporting bugs or discussing improvements.

[2017-01-26 19:12] ajain17 commented on #12868
@HKuz  sure. I'll wait to fix them all in on PR. Keep me posted.

[2017-01-26 19:15] HKuz commented on #12864
@no-stack-dub-sack, I'm reviewing and consolidating all the Flexbox section issues now. This looks like a duplicate of #12814 - so I'm going to close this issue. I'll put all the action items over in issue #12803 ( @ajain17 - see [my comment here](https://github.com/freeCodeCamp/freeCodeCamp/issues/12868#issuecomment-275481639) about adding to your PR 😄)

[2017-01-26 19:15] #12864 closed

[2017-01-26 19:17] tgitari commented on #12884
@Greenheart I never get help from the chatroom anymore everytime I post something.

[2017-01-26 19:18] ajain17 commented on #12864
@HKuz Sure. Could you give me links to all the issues I should be addressing in my pr? I see that even issue https://github.com/freeCodeCamp/freeCodeCamp/issues/12864 is caused by same thing.

[2017-01-26 19:22] radhefa opened #12886 "radhefa Foundation"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-26 19:23] #12886 closed

[2017-01-26 19:38] HKuz commented on #12803
@daulis809 thanks for the issue, indeed, the tests are passing without any changes given the default value. There are actually several open issues right now related to the Flexbox section, so I'm going to consolidate the discussion on fixing them here.

@ananaymital - I liked your idea about mixing the challenge up to use `row-reverse`, the only problem is that it makes the tweet embed look a litt

[2017-01-26 19:40] Greenheart commented on #12884
Do you post in the main chatroom? It's pretty crowded these days so it's hard to get noticed there.

Have you tried using the "Help"-button on challenge-pages? It will redirect you to the help chat room for the section you're currently on.

Otherwise, the [forum](https://forum.freecodecamp.com) or [our subreddit](https://www.reddit.com/r/FreeCodeCamp/) offer a more relaxed environment for getting

[2017-01-26 19:41] HKuz commented on #12814
@gt6089 @dhcodes - I've consolidated a number of the related Flexbox issues over in #12803. We have someone working on a fix (including this issue), and hopefully resolve this soon.

[2017-01-26 19:46] ajain17 commented on #12803
@HKuz  Great thanks for compiling everything. I'll start working on it.

[2017-01-26 19:48] HKuz commented on #12866
@tommygebru - thanks for pointing this out. I consolidated a number of the Flexbox issues over in #12803, and propose to size the `divs` with a `width: 200px;` and `height: 200px;`. This will show both boxes in their entirety in the mobile phone screen output area, so campers can see the result more clearly. We'll also make the fix for challenges `Using the Flex-direction Property to Make a Row` a

[2017-01-26 19:48] QuincyLarson commented on #12837
@no-stack-dub-sack should we refactor the test suite's CSS so that none of its styles pollute a project's own CSS?

[2017-01-26 19:50] ajain17 commented on #12866
@HKuz  I think instead of hardcoding the pixel value, we should set width to 100% and set height to 50%. What do you think?

[2017-01-26 19:50] ajain17 commented on #12866
This is how it will look.
![screen shot 2017-01-26 at 2 50 25 pm](https://cloud.githubusercontent.com/assets/5581487/22347662/cc715b78-e3d6-11e6-9106-258f428a8b01.png)

[2017-01-26 19:59] QuincyLarson commented on #12794
@atjonathan thanks for tackling this. Please let me know if I can be of any help. I'm happy to pair on this with you if necessary.

[2017-01-26 20:04] QuincyLarson commented on #12755
@systimotic sounds like a good plan. Please let me know if I can be of help with this.

[2017-01-26 20:10] HKuz commented on #12866
@ajain17 - that looks good and work, too!

[2017-01-26 20:16] #11891 closed

[2017-01-26 20:20] QuincyLarson commented on #12828
@systimotic I agree that this would be really helpful. Ideally, a single keystroke, rather than a sequence (kind of like how our ctrl+enter runs code).

[2017-01-26 20:32] polyguy opened #12889 "I can't seem to size Image. What's wrong?"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2017-01-26 20:40] RamiroPinol commented on #12889
It's working fine. Make sure you are doing it right

[2017-01-26 20:43] karlaloyolanique commented on #12889
That’s  correct!!!

[2017-01-26 20:56] dhcodes commented on #12889
@polyguy you have an error in your code. Please consider asking for help in the chat room by clicking the help button on the challenge page.

[2017-01-26 20:56] #12889 closed

[2017-01-26 21:05] radhefa opened #12890 "radhefafoundation"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-26 21:10] tgitari commented on #12884
Okay then that is probably why I don't get answers.​

Titus M Gitari
(913) 284-8915 Cell
(913) 484-1486 Home

*Strengths Finder Top 5 Themes:*

*Input* Futuristic * Includer * Developer * Restorative *

On 26 January 2017 at 13:41, Samuel Plumppu <notifications@github.com>
wrote:

[2017-01-26 21:24] vishwas0459 commented on #12433
What is wrong with below code?

`
function isFalse(value)
{
	return value ===true ;

}

function bouncer(arr) {

  for(var i=0;i<arr.length;i++)
  {

  	var x = Boolean(arr[i]);
  	if(!x)
  	{
  		 arr=arr.filter(isFalse,arr[i]);
  	}

  }
  return arr;
}
bouncer([7, "ate", "", false, 9]);
`

[2017-01-26 21:32] nalagic opened #12892 "Free"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-26 21:44] vishwas0459 commented on #12433
I got it.
Just changed return `return value ===true ; to return !value ==false ;
after reading the earlier comments again and again. Thanks @codeman869`

[2017-01-26 21:47] #12890 closed

[2017-01-26 21:47] #12892 closed

[2017-01-26 21:49] jdubbz1113 commented on #12874
I've just completed this challenge. Although I had no issue I agree with @ajain17 for those that do.
  You wouldn't want to just give the answer away but maybe make it more clear on what you are supposed to be doing.

[2017-01-26 22:02] ajain17 commented on #12883
I am unable to replicate the issue.

[2017-01-26 22:16] ananaymital commented on #12803
@HKuz @ajain17 actually I meant changing just the header so that it won't look very much different from the previous case.
![image](https://cloud.githubusercontent.com/assets/12645471/22352591/d5c34904-e442-11e6-8311-605aa3065161.png)
But if you think otherwise, it's fine.
Happy to help.

[2017-01-26 22:25] #12854 closed

[2017-01-26 22:37] ajain17 commented on #12803
^^ I like @ananaymital's idea of changing only the header.

[2017-01-26 23:00] #12015 closed

[2017-01-26 23:11] Kermet24 commented on #5709
You have var remainder = 11 % 3
but you should have
 var remainder = 11 % 3;

[2017-01-26 23:29] no-stack-dub-sack commented on #12871
That or copying an image and just pasting it in if you are using a snipping tool like pressing CMD + SHIFT + 4 works well too, that way the image never even has to be saved to your computer

[2017-01-26 23:32] renevilla opened #12893 "Escape Sequences in Strings Section Error"
#### Challenge Name
Escape Sequences in Strings Section
https://www.freecodecamp.com/challenges/escape-sequences-in-strings

#### Issue Description
The error is with the solution. the assignment is asking to give this soultion:
FirstLine
\SecondLine\
ThirdLine

the accepted solution for the escape sequence is incorrect because it accepts this solution:
var myStr = "FirstLine\n\\SecondLine\\\rThird

[2017-01-26 23:37] no-stack-dub-sack commented on #12865
Ok, this challenge def has an issue - confirmed. Funny because the same challenge works in production and actually has one more test case.

[2017-01-27 00:36] no-stack-dub-sack commented on #12865
Ok, so the issue with this is similar to what we're seeing in [this](https://github.com/freeCodeCamp/freeCodeCamp/issues/12722#issuecomment-275217533) issue... what's happening is that there's a multi-line comment that is invisible to users, and this test is counting all the quotes that are found in the `code` variable, which is now including the multi-line comment:
[code]
So I can make a quick PR

[2017-01-27 00:59] RomingArt opened #12894 "Manipulating Complex Objects - question"
Challenge [Manipulating Complex Objects](https://www.freecodecamp.com/challenges/manipulating-complex-objects) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

Hello everyone, I been tryin

[2017-01-27 01:24] marvellousdesign opened #12895 "[Beta]Word Blanks"
Challenge [word-blanks](http://beta.freecodecamp.com/en/challenges/basic-javascript/word-blanks) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:51.0) Gecko/20100101 Firefox/51.0</code>.

My solution doesn't pass some how.

[code]

![screen shot 2017-01-26 at 5 21 27 pm](https://cloud.githubusercontent.com/assets/24817921/22357307/efc5bf0a-e3eb-11e6-9a96-f7c6cef6

[2017-01-27 01:26] erictleung commented on #12895
@marvellousdesign thanks for the issue but your code is incorrect.

Happy coding!

[2017-01-27 01:26] #12895 closed

[2017-01-27 02:12] BerkeleyTrue commented on #12006
From what you are describing, this is what happens due to a device I added to make hot-reloading save the state of the redux store before forcing refresh. If this is correct, this does not happen in production.

[2017-01-27 02:41] celineguild commented on #12813
I am getting the same issue.

Ordering it as: thick-green-border smaller-image - passes the border related requirements and fails the latter
Ordering it as: smaller-image thick-green-border - passes the image related requirements and fails the latter

[2017-01-27 03:15] MysticRiver commented on #6546
I agree that this is confusing. It doesn't logically follow from the previous lessons and isn't quite clear. I think better instruction should be given. The fact that several people have an issue with this lesson should be onus enough to change ir.

[2017-01-27 03:52] marvellousdesign opened #12898 "[beta] Clicking challenges links in the map page..."
#### Issue Description
So when you scroll anywhere in the [map](http://beta.freecodecamp.com/en/map) besides the top, and click a link to the challenges. The position of the challenges page are focus on bottom rather than the top, so part of the content is covered when you first go to the challenges.
Chrome is just barely on the edge of the content.
The positions also depends if you have a bookmar

[2017-01-27 03:57] leonfeng commented on #12801
@raisedadead I just reproduced it on local. Please note that the issue only occurs if the current challenge is a project (at least in my experience).

[2017-01-27 03:59] no-stack-dub-sack commented on #12894
@RomingArt Sorry that you were not getting the help you were looking for - were you in the gitter chat rooms?

The key to this challenge is in the instructions here:

You will need to place a comma after every object in the array, unless it is the last object in the array.

Also, you should take a look at how many square brackets you have ( `[ ]` ) - if you have an odd number, something is up. All

[2017-01-27 04:02] #12275 closed

[2017-01-27 04:07] ajain17 commented on #12898
I can confirm this is a valid issue. Needs to be fixed.

[2017-01-27 04:29] ajain17 commented on #12893
It does not accept this solution `var myStr = "FirstLine\n\SecondLine\\rThirdLine";`. Also, your other solution `var myStr = "FirstLine\n\SecondLine\\n\rThirdLine";` is also incorrect.

Please check the desired output and your code. It doesn't match at all.

[2017-01-27 04:40] QuincyLarson opened #12899 "Remove all empty translations"
Some of the challenges in the seed files have translations with no text. These will cause errors when campers have selected these languages. These look like:

[code]

In this case, we would need to delete
[code]
We need to go through and delete all of these empty translations from seed files, and leave the empty `"translation": {}`

[2017-01-27 04:46] Quentin-jeon opened #12900 "Local Scope and Functions"
Challenge [Local Scope and Functions](https://www.freecodecamp.com/challenges/local-scope-and-functions#?solution=%0Afunction%20myLocalScope()%20%7B%0A%20%20%20%0A%20%2F%2F'usestrict'%0A%20%20var%20myVar%3B%0A%20%20%0A%20%20%0A%20%20console.log(myVar)%3B%0A%7D%0A%0AmyLocalScope()%3B%0A%0A%2F%2F%20Run%20and%20check%20the%20console%0A%2F%2F%20myVar%20is%20not%20defined%20outside%20of%20myLocalScope%

[2017-01-27 04:56] tommygebru commented on #12866
@ajain17 I would suggest even small blocks that make it very easy to distinguish a layout or orientation of the child elements before any flexbox code is introduced or changed

[2017-01-27 04:58] tommygebru commented on #12869
LOL if only I could @no-stack-dub-sack thanks for confirming

[2017-01-27 05:00] tommygebru commented on #12870
Wow very cool @no-stack-dub-sack as you can see I tired myself out and decided to spend the day tackling personal projects, I will be back tomorrow to contribute, after some good sleep!

[2017-01-27 05:02] tommygebru commented on #12871
Thanks guys i simply noticed that github had a hard time with my screenshots, they took really long and there was even a default error message for me once. So i used compressor.io before dragging and dropping into github!

[2017-01-27 05:10] tmashuang commented on #12899
@QuincyLarson I would like to take on this task.

[2017-01-27 05:11] envy7 commented on #12899
Can I help this seems easy, I'm a beginner.

[2017-01-27 05:15] tmashuang commented on #12899
@envy7 Sure, be sure to follow the [CONTRIBUTING.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md). Happy coding.

[2017-01-27 05:18] envy7 commented on #12899
@tmashuang thanks a lot, I'll get to work on it right away.

[2017-01-27 05:19] strongdan commented on #12863
@ajain17 This is working now for me too. I'm not sure what the problem was.

[2017-01-27 05:19] #12863 closed

[2017-01-27 05:27] no-stack-dub-sack commented on #12898
@marvellousdesign Interesting, I'm unable to reproduce this on Chrome / OSX 10.11.6

@freeCodeCamp/moderators can anyone else confirm this as well?

[2017-01-27 05:32] KenzoM opened #12901 "Border around texts"
#### Challenge Name
ES6: Arrow functions with higher order functions

#### Issue Description
Not sure if it is intended, but I see borders around the texts in the description for the challenge, as shown in the screenshot I've posted.

It looks like it is caused when using the `template literals`.

![screen shot 2017-01-26 at 9 25 19 pm](https://cloud.githubusercontent.com/assets/10217112/22361457/

[2017-01-27 05:39] no-stack-dub-sack commented on #12893
@renevilla yeah, there is no bug here, but the challenge instructions are a little confusing. Have you been able to solve it yet? At the very least, you have successfully brought a typo to light that needs to be fixed!

![image](https://cloud.githubusercontent.com/assets/18563015/22361568/0b8c1544-e429-11e6-9671-12e93bde2d2c.png)

[2017-01-27 05:41] BrendanSweeny opened #12902 "[beta] ES6: Arrow Functions. Tests pass with any input."
Challenge [arrow-functions](http://beta.freecodecamp.com/en/challenges/es6/arrow-functions) passes tests with any or no input.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.

It seems that the tests will pass without changing any code (as pictured). All tests passed with a blank code editor and when gi

[2017-01-27 05:42] no-stack-dub-sack commented on #12871
@tommygebru Hey, if it works, it works! 👍  I think we can probably close this though since not a bug and not directly FCC related.

[2017-01-27 05:42] #12871 closed

[2017-01-27 05:44] no-stack-dub-sack commented on #12870
@tommygebru sounds great! thanks!

[2017-01-27 05:53] raisedadead commented on #12801
@systimotic @leonfeng Thanks a ton, I have been running around the bushes for the root cause.
Also I am tagging this as help wanted.

[2017-01-27 05:59] no-stack-dub-sack commented on #12864
@HKuz - thanks for pointing out the duplicate, I ran a search too before opening this but didn't find it - wow, with all these issues things are getting a bit difficult to keep track of - you're doing a great job with this! Perhaps we can consolidate all the recent issues opened on flex box challenges into your issue and close those to to clean up the tracker a bit?

[2017-01-27 06:01] raisedadead commented on #12898
@marvellousdesign thanks.

And I must admit sheepishly that this is a known issue from the last time we pushed react.
I can't find the old issue no, or even if there was one earlier reported.

But here is some insight:

1. The pages that use our react infrastructure are generated and rendered on the client side.
2. This means they are within the same container as any react page, and we just simply

[2017-01-27 06:04] renevilla commented on #12893
Thank you for the responses, i was confused by the instructions of the exercise. Thank you for helping, and yes the typo is cut off. thanks for the help!

[2017-01-27 06:04] #12893 closed

[2017-01-27 06:04] raisedadead commented on #12828
@systimotic apologies for delay in getting back, we would want the keyboard shortcuts in tune with gmail and github and do that sitewide.

More reference:
https://help.github.com/articles/using-keyboard-shortcuts/

And maybe even list this in our wiki.

[2017-01-27 06:50] envy7 commented on #12899
@QuincyLarson there are a lot of seed files should I do all the changes in a single commit, or in multiple commits and then squash them? Does it make a difference.

[2017-01-27 07:05] jdubbz1113 opened #12903 "Mobile bug"
Create a border challenge
My code won't to through. It keeps saying for me to have a border around image

#### Browser Information

* Browser Name,Google chrome Version: 5.5
* Operating System: android
* Mobile,

#### Your Code

 link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }
.thick-green-border
  {
    border

[2017-01-27 07:06] jdubbz1113 commented on #12903
<img class="thick-green-border smaller-image"  src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back. ">

[2017-01-27 07:08] jdubbz1113 commented on #12903
I am sorry. I am trying to post the code for my image. I am on mobile at the moment and I'm having trouble. 😶

[2017-01-27 07:20] IAshishSrivastava commented on #12903
No opening bracket in line link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

[2017-01-27 07:34] raisedadead commented on #12900
Please provide more information of the issue that you are facing?

The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try loo

[2017-01-27 07:34] #12900 closed

[2017-01-27 07:37] raisedadead commented on #12899
@envy7 you can do it in anyway as it suits you, but make sure when you have opened the pull request it has one commit.

Also, refer the contributing guide, most things have been answered there to guide you!

Thanks and happy fixing!

[2017-01-27 07:42] raisedadead commented on #12774
Confirmed fixed on live site.

[2017-01-27 07:42] #12774 closed

[2017-01-27 07:45] raisedadead commented on #12656
@Greenheart when you have a moment can you please check and close, I think this is resolved.

[2017-01-27 07:55] okaysidd opened #12906 "It is not specified how many arguments will be given along with an array, so we cannot determine how to write the code for number of arguments not known."
Challenge [Seek and Destroy](https://www.freecodecamp.com/challenges/seek-and-destroy#?solution=%0Afunction%20destroyer(arr%2C%20a%2C%20b)%20%7B%0A%20%20arr%20%3D%20arr.filter(function(val)%20%7B%0A%20%20%20%20return%20val!%3D%3Da%3B%0A%20%20%7D)%3B%0A%20%20arr%20%3D%20arr.filter(function(val)%20%7B%0A%20%20%20%20return%20val!%3D%3Db%3B%0A%20%20%7D)%3B%0A%20%20return%20arr%3B%0A%7D%0A%0Adestroyer(

[2017-01-27 07:56] okaysidd commented on #12906
I have used two extra arguments here a and b, but that is temporary solution, because the number of extra arguments is not specified.

[2017-01-27 08:07] systimotic commented on #12828
@raisedadead No problem!
I wasn't able to spot hotkeys on GitHub that do what these keys should do.

You suggested `Ctrl + Shift + E` to focus the editor in #8193, so that's what I used. I can change it if it would be better as something else.
I used escape to unfocus the editor, as it's what I try automatically when I want to unfocus something.

I previously wrote a [wiki article about our keyboa

[2017-01-27 08:15] polyguy commented on #12889
Thanks for your reply.

I finally got it. I am new to coding & it going to take me a little time to get the hang of it.

Polyguy
     On Thursday, January 26, 2017 3:58 PM, Dylan <notifications@github.com> wrote:

 Closed #12889.—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-01-27 08:47] Greenheart commented on #12656
@raisedadead This challenge now works as expected! :blush:

Closing.

[2017-01-27 08:47] #12656 closed

[2017-01-27 09:16] systimotic commented on #12901
Thanks for reporting @KenzoM!

For some reason it's being wrapped in an image tag 😄 😕.
Happens in both Firefox and Chrome, but it's most visible in Chrome.

[2017-01-27 09:17] mh453Uol commented on #12906
Hello,

JavaScript functions have a built-in object called the arguments object.
The argument object contains an array of the arguments used when the function was invoked.

Some Code:
` fooBar(1, 123, 500, 115, 44, 88);

function fooBar() {
    for (var i = 0; i < arguments.length; i++) {
        console.log(arguments[i]);
    }
}

Output:
1
123
500
115
44
88
`
fooBar() does not define any paramet

[2017-01-27 09:19] raisedadead commented on #12828
I should be more clear in my views, sorry... :sweat_smile: !

So here you go:
- GitHub uses <kbd>g</kbd><kbd>i</kbd> for navigating to issues.
- Note these are to pressed individually a
- This works only when the focus is not on any textarea etc.
- We should standardize to something similar only using <kbd>f</kbd><kbd>e</kbd>for editor.
- We should probably standardize this for our other shortcuts

[2017-01-27 09:19] Greenheart commented on #12906
I understand the frustration because I remember having trouble with this one as well.

However, I don't believe there is any problem with this challenge. My tip is that you read the links provided in the final part of the instruction. There are ways to handle an unknown number of arguments.

In the future, please click the **"Help"** button on the challenge on freeCodeCamp instead of asking for he

[2017-01-27 09:19] #12906 closed

[2017-01-27 09:31] mh453Uol opened #12907 "Caesars Cipher Unclear Instructions"
Challenge [Caesars Cipher](https://www.freecodecamp.com/challenges/caesars-cipher) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

I have passed this challenge however the instructions a

[2017-01-27 09:54] OFFLlNE commented on #12903
@jdubbz1113 Thank you for reporting your issue.

This is common, that programming on Android, it won't let it pass correct code. Because android puts whitespaces/tabs the wrong way, so editor does not see the code sometimes because of that.
Next time try to use the ***Help*** button which takes you to Help room chat, where people could solve this problem for you. Check for other [Offical FCC rooms

[2017-01-27 09:54] #12903 closed

[2017-01-27 09:57] leonfeng commented on #12801
Root cause isolated: missing `</a>` from seed JSON files. Working on a fix.

[2017-01-27 10:02] AnastasiBu opened #12908 "please help me"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20%20

[2017-01-27 10:10] AnastasiBu commented on #12908
it is not a case
i do not understand where is mistake?!

[2017-01-27 10:22] systimotic commented on #12828
@raisedadead No worries!

✔️ 👍 This is what we currently do.

I would agree, but we're already using <kbd>g</kbd> for so many shortcuts, I think it would probably be better to stick to that. I was also under the impression that the "g" stood for "go", rather than the name of the product. This especially makes sense as all the hotkeys that don't "go" anywhere do not start with "g".

Yep, which is w

[2017-01-27 10:23] systimotic commented on #12801
Great catch @leonfeng!

[2017-01-27 10:27] #12433 closed

[2017-01-27 10:29] raisedadead commented on #12828
:100: x :100: !

[2017-01-27 10:30] okaysidd commented on #12906
Thank you for the answer as well as the advice.
Big help!

On Fri, Jan 27, 2017 at 2:51 PM, Samuel Plumppu <notifications@github.com>
wrote:

[2017-01-27 10:31] raisedadead commented on #12908
We request you to seek help for this in the chat rooms and the forums, as suggested above. Thanks and happy coding!

[2017-01-27 10:31] #12908 closed

[2017-01-27 10:42] raisedadead commented on #12907
The instructions do state the below:

So the effective range is not what you are doing in your code above.

Please reach out to the [JavaScript Chat Room](https://gitter.im/FreeCodeCamp/HelpJavaScript), for further assistance.

[2017-01-27 10:42] #12907 closed

[2017-01-27 11:11] leonfeng commented on #12816
Could you describe how to reproduce this issue? I can't get the side panel to behave like in the screenshots. Although in my case, the div's height remains static in single column mode (i.e. limited width). I'm using Chrome for Mac.

[2017-01-27 11:32] mayurdw opened #12911 "The comment line is on the wrong place I guess, it should be below return statement."
Challenge [Using Objects for Lookups](https://www.freecodecamp.com/challenges/using-objects-for-lookups#?solution=%0A%2F%2F%20Setup%0Afunction%20phoneticLookup(val)%20%7B%0A%20%20var%20result%20%3D%20%7B%0A%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%20%20alpha%3A%20%22Adams%22%2C%0A%20%20bravo%3A%20%22Boston%22%2C%0A%20%20charlie%3A%20%22Chicago%22%2C%0A%20%20delta%3A%20%22Denv

[2017-01-27 12:01] Greenheart commented on #12739
Another thing worth fixing for these tests are that they right now require explicit `"` for the import statement.

I think the regex should allow for either `"` or `'`, since the latter kind of string literals are very common.

This could be achieved by replacing `"` with `["']` in the regex.

[2017-01-27 12:10] atulsingh378 opened #12912 "need help"
cloud 9 is asking for credit card for signup please tell me alternative of this because i don't have credit card...and i want to make a full stack project in one month becoz i have to submit it as a major project in college plz help me..and my project topic is placement portal based on html css js as afront end and node.js as a back end..i need help plz fix this issue

[2017-01-27 12:18] #12912 closed

[2017-01-27 12:33] Greenheart opened #12913 "[beta] ES6: Export: One of Import's siblings - Tests not passing"
Challenge [export-one-of-imports-siblings](http://beta.freecodecamp.com/en/challenges/es6/export-one-of-imports-siblings) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.76 Safari/537.36</code>.

[code]

I'm unable to make the tests pass for this challenge, even though the code is correct.

The strange thing is that the tes

[2017-01-27 12:39] uillianluiz commented on #12816
@leonfeng For one column this problem behaves differently from the cases I showed before, however if you open the windows like this:
![image](https://cloud.githubusercontent.com/assets/6380314/22370634/8e699090-e479-11e6-9ec6-28d8bb5a9151.png)

Then, you resize its height up, the screen will behave like this:
![image](https://cloud.githubusercontent.com/assets/6380314/22370690/d2dcb2f2-e479-11e6-8

[2017-01-27 12:43] Greenheart commented on #12911
@mayurdw It looks like you've changed code both above and below the lines you were given.

After looking at the seed code given after pressing **Reset**, I don't think this is an issue.
My suggestion is that you reset your code, read the instructions again and only change code on the given lines.

In the future, please click the "Help" button on the challenge on freeCodeCamp instead of asking for

[2017-01-27 12:43] #12911 closed

[2017-01-27 12:52] Greenheart commented on #12902
I can confirm this with
* <code>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.76 Safari/537.36</code>
* <code>Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0</code>.

Looking into the seed-files, I found that the tests just were placeholders.
[code]

[2017-01-27 13:30] 23niru99 opened #12914 "How fix this error? Your h2 element should have the class red-text."
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3Ared%3B%7D%0A%3C%2Fstyle%3E%0A%0A%3Cstyle%3E%0A%20.red-text%20%7B%0A%20%20%20%20color%3Ared%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%2

[2017-01-27 13:37] dhcodes commented on #12914
@23niru99 you have an error in your code. Please consider asking for help in the chat room by clicking the Help button on the challenge page.

[2017-01-27 13:37] #12914 closed

[2017-01-27 13:51] aikawmhawm opened #12915 "http://www.opera.com"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-27 13:55] isaklafleur commented on #12508
[code]

[2017-01-27 14:22] dhcodes commented on #12889
@polyguy no problem. Just know that the chat room is the best place for code help. The issues board is in case you find a bug. I usually recommend confirming the bug with another person in one of the chat rooms before posting it. Happy coding!

[2017-01-27 14:22] dhcodes commented on #12915
@aikawmhawm you're welcome to reopen this, but please add further information by editing your post above.

[2017-01-27 14:22] #12915 closed

[2017-01-27 14:26] HKuz commented on #12867
@tommygebru - I think the original point of this challenge was partly to introduce the 'real world' tweet embed example (which has a lot of code), and partly to apply the `display: flex` concept introduced in the prior 'box' challenge. (You probably noticed the alternating pattern of these first challenges.) The change campers make here would be more obvious if the code loaded with the challenge,

[2017-01-27 14:40] ajain17 commented on #12893
@no-stack-dub-sack  I dont see any typo.
<img width="425" alt="screen shot 2017-01-27 at 9 39 49 am" src="https://cloud.githubusercontent.com/assets/5581487/22374534/914931a8-e474-11e6-926b-ce3bb9801dbc.png">

[2017-01-27 14:43] cvorak commented on #10570
It works with 5 items, issue never was here. Sorry for wasting your time.

[2017-01-27 15:26] Greenheart commented on #12902
I'm working on tests for this challenge.

[2017-01-27 15:36] codemasteroba opened #12916 "won't let me complete challenge"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-27 15:47] #12759 closed

[2017-01-27 15:51] OFFLlNE commented on #12916
Thank you for reporting your issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the "Help" button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [full list of official chatrooms](http://forum.freecodecamp.com/t/free-code-camp-off

[2017-01-27 15:51] #12916 closed

[2017-01-27 15:54] HKuz commented on #12902
@BrendanSweeny - thanks for raising this issue, there are quite a few missing/placeholder tests in this section that need to be written. We've consolidated the list over in #12698 if you're interested in working on any of these 😄

@Greenheart - can you coordinate with @robbawebba for the arrow function tests? He was working on cleaning those challenges up and I saw the discussion in the Contributo

[2017-01-27 15:59] Ghareebovich opened #12918 "word blanks / javascript"
Challenge [Word Blanks](https://www.freecodecamp.com/challenges/word-blanks#?solution=%0Afunction%20wordBlanks(myNoun%2C%20myAdjective%2C%20myVerb%2C%20myAdverb)%20%7B%0A%20%20var%20result%20%3D%20%22%22%3B%0A%20%20%2F%2F%20Your%20code%20below%20this%20line%0A%20%20myNoun%20%3D%20%22dog%22%3B%0A%20%20myAdjective%20%3D%20%22big%22%3B%0A%20%20myVerb%20%3D%20%22ran%22%3B%0A%20%20myAdverb%20%3D%20%22q

[2017-01-27 16:00] Greenheart commented on #12902
@HKuz Thanks for the heads up! I didn't notice the comments of that issue.

@robbawebba You can fix this if you want. I can find something else to work on :smile:

[2017-01-27 16:04] Greenheart commented on #12918
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Help"** button on the challenge on freeCodeCamp, which will take you to the help chatroom for that specific challenge. You can also view our [**full list of official chatrooms**](http://forum.freecodecamp.com/t/free-code-

[2017-01-27 16:04] #12918 closed

[2017-01-27 16:16] raisedadead commented on #12712
@systimotic Yes, I agree we should make the objective of this challenge simple. We should update the instructions and the test cases to reflect `num + 3`.

[2017-01-27 16:17] HKuz commented on #12864
@no-stack-dub-sack - no worries, that original one had a generic name making it hard to find. I only noticed it because I was consolidating the Flexbox issues to try and fix a bunch at once. There's an open PR from @ajain17 that I plan to look at today, which should close most of them and clean up the tracker a little. But agreed, my head is spinning trying to stay on top of and keep track of ever

[2017-01-27 16:24] pingspike opened #12919 "Link n Title for Exercise Is Missing on Map page, Basic Algorithm Scripting section."
The Link and Title for this Exercise Is Missing on the Map page in the Basic Algorithm Scripting section.  Missing title n link for an exercise on Map page, Basic Algorithm Scripting section.
![image](https://cloud.githubusercontent.com/assets/1571403/22378151/34900a9a-e4e7-11e6-91bc-e13da1374ee8.png)

Issue On URL (Map page, Basic Algorithm Scripting section):
https://beta.freecodecamp.com/en/map

[2017-01-27 16:36] raisedadead commented on #12706
Needs a bot more creative solution though, will take a look when I can, but keeping open for others to pitch in.

[2017-01-27 16:40] jonathanv7924 opened #12920 "Text should be blue(tried swapping blue-text and pink-text around)"
Challenge [Override Styles in Subsequent CSS](https://www.freecodecamp.com/challenges/override-styles-in-subsequent-css#?solution=%0A%3Cstyle%3E%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20black%3B%0A%20%20%20%20font-family%3A%20Monospace%3B%0A%20%20%20%20color%3A%20green%3B%0A%20%20%7D%0A%20%20.pink-text%20%7B%0A%20%20%20%20color%3A%20pink%3B%0A%20%20.blue-text%20%7B%0A%20%20%20%20%20%

[2017-01-27 16:45] quietmenace opened #12921 "HELP"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-27 16:56] jonathanv7924 commented on #12920
Almighty Google has provided me with the assistance I needed.

[2017-01-27 16:56] #12920 closed

[2017-01-27 17:21] #12921 closed

[2017-01-27 18:10] texas2010 commented on #12912
@atulsingh378, sorry, we can't help with your issue.  your issue is nothing with fcc repo.   FCC site and cloud 9 is separate. if you have an issue with cloud 9. you need to talk to cloud 9 support.

have a nice day.

[2017-01-27 18:44] no-stack-dub-sack commented on #12852
@dhcodes Not sure, what do you think about the current white on black? I mean, it's pretty visible, but the yellow/black does stand out a bit more

[2017-01-27 19:11] nikhiltom commented on #6960
@BerkeleyTrue I am also having the same problem. Could you help me please. Thanks in advance.

[2017-01-27 19:12] killerkaran opened #12922 "How to merge to jumbotron using css and html"
#### Challenge Name

https://www.freecodecamp.com/challenges/build-a-personal-portfolio-webpage
#### Issue Description
I can't merge two jumbotron using one container having one jumbotron and another container haaving another jumbotron  just below one another

#### Browser Information
google chrome

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code
HTML PAR

[2017-01-27 19:18] randelldawson opened #12923 "changes in editor do not change real-time - must click run tests"
Challenge [use-html5-to-require-a-field](http://beta.freecodecamp.com/en/challenges/basic-html-and-html5/use-html5-to-require-a-field) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

The issue I am report

[2017-01-27 19:19] #12883 closed

[2017-01-27 19:36] ajain17 commented on #12919
I can confirm this issue on the live site. However, it seems fixed on staging. So can we close this issue?

[2017-01-27 19:48] HKuz commented on #12919
Thanks for the issue, @pingspike - it looks like this has been raised over in #12842 so I'm going to close this as a duplicate. Feel free to make any comments and join the discussion over on that issue. And thanks for the QA help on the Beta site!

@ajain17 - thanks for checking staging! Let me figure out what PR fixed it and I can close the other issue, too.

[2017-01-27 19:48] #12919 closed

[2017-01-27 20:10] TheeMattOliver commented on #12757
Just waiting...

On Wed, Jan 25, 2017 at 2:25 PM, Matt Oliver <
mattoliver.mattoliver@gmail.com> wrote:

[2017-01-27 21:02] raisedadead commented on #12923
@rmdawson71 Hi, and thanks for the feedback, we deliberately disabled the "run on the fly" because, in some of the jQuery challenges we used to get weird errors.
There used to be exceptions thrown and that was more bad UX than now.

Also there was one particular challenge which had more DOM elements inserted than the code written in the editor.

This confused a lot of campers.

Sure, I agree that

[2017-01-27 21:04] raisedadead commented on #12922
Hi @killerkaran

Thanks for the report. The issue tracker is for reporting bugs only.

Please use the chat rooms:
- [`HTML/CSS help chat room`](https://gitter.im/FreeCodeCamp/Help)
- [`JavaScript help chat room`](https://gitter.im/FreeCodeCamp/HelpJavaScript)
- [`Other Official Rooms`](https://forum.freecodecamp.com/t/free-code-camp-official-chat-rooms/19390)

or try looking through our [forum](ht

[2017-01-27 21:04] #12922 closed

[2017-01-27 21:15] dizadi opened #12925 "<em> is italicizing for some reason with this code"
Challenge [Change Text Inside an Element Using jQuery](https://www.freecodecamp.com/challenges/change-text-inside-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target4%22).html(%22%3Cem%3E%20%23target4%20%3C%2Fem%3E%22)%3B%0A%20%20%7D)%3B%0Afcces%0A%0A%3C!--%20On

[2017-01-27 21:27] #12801 closed

[2017-01-27 21:34] raisedadead commented on #12925
Thanks for the report.

The spaces in between your code are causing the challenge to fail, well this should be fixed in the tests.

And to clear your confusion with the difference between `<i>` and `<em>`, check this:
https://developer.mozilla.org/en/docs/Web/HTML/Element/em

Tagging as help wanted.

/cc @freeCodeCamp/moderators should we add the link to clarify the difference, while updating the

[2017-01-27 21:53] ajain17 commented on #12925
@raisedadead  I think test should allow spaces (since we are testing whether the user knows how to use the functionality rather than the particular text they are using.

Also, this challenge won't be the right place to differentiate between <i> and <em> in my opinion.

[2017-01-27 21:54] #12659 closed

[2017-01-27 21:54] #12688 closed

[2017-01-27 21:56] erictleung commented on #12925
@raisedadead I like the idea of talking a little bit about the difference between `<i>` and `<em>`. I've seen couple issues here and there about people wanting to change it so it would be nice to clarify to those who are confused.

[2017-01-27 21:57] raisedadead commented on #12925
Yup, I agree that a clarification is required, may be just adding a MDN link should suffice.

[2017-01-27 22:04] ajain17 commented on #12925
Should I just add this link https://developer.mozilla.org/en/docs/Web/HTML/Element/em ?

[2017-01-27 22:09] DIZAD87 opened #12926 "Sorted Union Challenge not accepting results"
Challenge [Sorted Union](https://www.freecodecamp.com/challenges/sorted-union#?solution=%2F%2FSolved%2C%20but%20system%20won't%20take%20it%3A%20In%20process%0A%2F%2FVariable%20declaration%0A%20%20var%20arrCombine%20%3D%20%5B%5D%3B%0A%20%20var%20countInputDuplicates%20%3D%200%3B%0A%20%20var%20arrResult%20%3D%20%5B%5D%3B%0A%20%20var%20storeUnique%20%3D%20%5B%5D%3B%0A%20%20var%20countResultDuplicates

[2017-01-27 22:15] PortableStick commented on #12309
Sorry for the silence here, I had some person/professional stuff come up.  I've found that it's actually quite simple to keep the react-bootstrap components as react-redux-form takes a component prop.

I've got much of the forms changed from redux-form to react-redux-form, and created a simple decorator function in `common/app/utils/form.js` (still a WIP) that creates the inputs in much the same w

[2017-01-27 22:17] raisedadead commented on #12925
Yes please, maybe a one liner something along the lines of:
`Check this [link](< path to MDN>) to know more on the difference between <i> and <em> and their uses`

[2017-01-27 22:24] OFFLlNE opened #12927 "Failing to pass Introduction to Basic CSS"
#### Challenge Name
[Introduction to Basic CSS](http://beta.freecodecamp.com/en/challenges/basic-css/introduction-to-basic-css)

#### Issue Description
When trying to complete this challenge, it throws me "Something went wrong, please try again later"

#### Browser Information

* Browser Name, Version: Chrome 52.0.2743.116
* Operating System: OS X v.10.10
* Mobile, Desktop, or Tablet: MacBook

###

[2017-01-27 22:26] raisedadead commented on #12926
Hi @DIZAD87

Thanks for reporting, the code is valid, but the challenges fail because you have used global variables.

That said, I understand that you want to re-use and modularise, you could just refactor the code to something like this:

[code]

But if you absolutely want to use global variables, here is the relevant thread discussing the same
#9199

[2017-01-27 22:28] #12926 closed

[2017-01-27 22:32] systimotic commented on #10570
@cvorak No worries! Next time, please try the "Help" button first.

I'm closing this issue as it appears to have been an issue with a version of Chrome. Please reopen if it resurfaces. 👍

[2017-01-27 22:32] #10570 closed

[2017-01-27 22:34] ajain17 commented on #12925
ok. I will work on this

[2017-01-27 22:41] systimotic commented on #12706
@raisedadead I noticed that on other challenges where the head or tail were causing issues, the solution was removed entirely. Should we also do that here?

Also, [this](https://gitter.im/FreeCodeCamp/Contributors?at=588b995c5309d6b358771a8e) would also be helpful for the challenges where the head or tail is causing an issue.

[2017-01-27 22:44] systimotic commented on #12852
Can't get a lot more contrast than black and white! 😛

I like the yellow background for the attention grabbing, but I'm afraid it may be too much for the bigger toasts, like the reset code one.

[2017-01-27 23:01] Greenheart commented on #9583
Since this has been inactive for a while, I thought I'd give this a shot :smile:

[2017-01-27 23:39] jlucas42 opened #12928 "This should work..."
Challenge [Chunky Monkey](https://www.freecodecamp.com/challenges/chunky-monkey#?solution=function%20chunkArrayInGroups(arr%2C%20size)%20%7B%0A%20%20var%20subArr%20%3D%20%5B%5D%3B%0A%20%20for%20(var%20i%20%3D%200%3B%20i%20%3C%20arr.length%3B%20i%20%3D%20i%20%2B%20size)%20%7B%0A%20%20%20%20subArr.push(arr.slice(i%2C%20i%20%2B%20size))%3B%0A%20%20%7D%0A%20%20return%20subArr%3B%0A%7D%0A%0AchunkArrayI

[2017-01-27 23:58] OFFLlNE commented on #12928
@jlucas42 Thank you for reporting the issue.

Since you declare variables outside the function, the tests run always on the previously edited variables.
So if you would throw your variables inside the function you should be good to go.

Next time try to use ***Help*** button to see maybe someone in help chat might see the problem you had.

Good luck coding!

[2017-01-27 23:58] #12928 closed

[2017-01-28 01:31] Greenheart commented on #7110
### Ideas for tests:
1. I believe the tests have access to the `fcc-test-frame`, which would allow the following.
`assert(testDOM.querySelectorAll('img').length > 0, 'message: Should render valid images.')`

2. If we know how many images there should be (based on the input data we use to render), we can verify that we get the correct number of images.

3. If we have access to the input data, we ca

[2017-01-28 01:34] wildlifehexagon commented on #12687
@Greenheart I just tried it again, and oddly enough I got it to work on 80% zoom but nothing else.

[2017-01-28 01:42] Greenheart commented on #12687
@wildlifehexagon Then it could have something to do with your monitor resolution, like @systimotic pointed out earlier.

@systimotic This should most likely be a regex-test on the __source instead of a dynamic retrieval of the width. Finally a new task... ;)

[2017-01-28 01:43] wildlifehexagon commented on #12687
@systimotic Not 100% sure I'm doing this right, but when I input that code I get the following:

"245.00000610351563px"

[2017-01-28 02:01] sonniromeo opened #12931 "All about us"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-28 02:03] BrendanSweeny commented on #12902
Thanks for confirming the issue, @Greenheart, and for consolidating them all, @HKuz. I missed that thread. Let me get my local clone ready and perhaps I can help with some of those issues this weekend. First-timer here.

[2017-01-28 06:52] nhebb opened #12933 "Instructions for "Object Oriented Programming: Change the Prototype to a New Object""
Challenge [change-the-prototype-to-a-new-object](http://beta.freecodecamp.com/en/challenges/object-oriented-programming/change-the-prototype-to-a-new-object) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible

[2017-01-28 06:58] #12931 closed

[2017-01-28 07:43] pratickjha opened #12934 "problem using class element to change the color of heading"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%C2%A0.%20%7B%0A%20%20%20%20color%3A%20blue%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chas

[2017-01-28 07:44] #12934 closed

[2017-01-28 07:47] pratickjha opened #12935 "The color of heading is not changing help me please"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%C2%A0.red-text%20%7B%0A%20%C2%A0%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretch

[2017-01-28 07:49] pratickjha commented on #12935
This code seems correct but hte color in my browser is not changing.

[2017-01-28 07:49] bonham000 commented on #12757
Hey @TheeMattOliver it's been merged! Looks like we should be good to go for continued improvements here. If you want to take a look at the Linked List challenges I will confine my changes to the Sets, Circular Queue, and Graphs challenges.

[2017-01-28 07:50] pratickjha commented on #12935
No i am not looking for help its a bug.

[2017-01-28 07:52] Snowcat8 commented on #6657
The instructions are a bit annoying and not very clear. Takes awhile to get those as we approach the problem.

[2017-01-28 08:04] raisedadead commented on #12935
@pratickjha

You are on a mobile device, there are conflicting characters in the code (invisible spaces, that are not supported).

Please retry from a desktop, or reset and type the code once again from scratch.

[2017-01-28 08:06] raisedadead commented on #12711
Please calrify more as requested.

[2017-01-28 08:06] #12711 closed

[2017-01-28 08:07] raisedadead commented on #12762
Why are we blocked on this?

[2017-01-28 08:07] #12793 closed

[2017-01-28 08:08] raisedadead commented on #12813
Please clarify more as requested.

[2017-01-28 08:08] #12813 closed

[2017-01-28 08:08] raisedadead commented on #12820
Please clarify more as requested.

[2017-01-28 08:08] #12820 closed

[2017-01-28 08:08] #12826 closed

[2017-01-28 08:09] raisedadead commented on #12878
Please  check the above comment and confirm.

[2017-01-28 08:09] #12878 closed

[2017-01-28 08:15] #12935 closed

[2017-01-28 08:16] nwoodthorpe-test1 commented on #12935
![alt text](https://assets-cdn.github.com/images/icons/emoji/unicode/1f350.png?v7 "Logo Title Text 1")![alt text](https://assets-cdn.github.com/images/icons/emoji/unicode/1f58a.png?v7 "Logo Title Text 1")![alt text](https://assets-cdn.github.com/images/icons/emoji/unicode/1f4dd.png?v7 "Logo Title Text 1")![alt text](https://assets-cdn.github.com/images/icons/emoji/unicode/270f.png?v7 "Logo Title T

[2017-01-28 09:00] Greenheart commented on #12913
I am pretty sure this issue is caused by our transpilation of the code from ES6 to ES5. Since the code we're running tests against doesn't have the ES6 code, they can never pass for the regex-tests checking for ES6 syntax.

[2017-01-28 13:12] ilija03 opened #12937 "rename in md files"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2017-01-28 13:33] #12937 closed

[2017-01-28 13:52] pleabargain commented on #7270
I noticed that this exercise has thrown a lot of errors.
I did as suggested:
just clear code ,and refresh browser. ctrl + f5
still no joy

I copied the solution from the source(after failing to get ANYTHING to work) but even the source solition is not being accepted.
The history shows a change 8JAN. Is it possible that there was a new bug introduced?
here's the code:
https://goo.gl/sO7DXR

[2017-01-28 14:00] sonniromeo commented on #12931
I apologize I'm new at this and had no idea that I did that .

[2017-01-28 14:26] HKuz commented on #12933
@nhebb - good catch! Would you like to make this fix? Post here either way and no worries if not, I'll open it up to a first timer.

[2017-01-28 14:33] Greenheart commented on #12927
I can confirm this issue. Doesn't seem to be browser specific as I can reproduce in both Chrome and Firefox.

[2017-01-28 14:50] HKuz commented on #12698
Hi folks, FYI looks like there's an issue using regex tests to check for ES6 implementation in the camper's code for this section. It was isolated by @Greenheart in issue #12913 [(comment)](https://github.com/freeCodeCamp/freeCodeCamp/issues/12913#issuecomment-275836571). Basically, the code is transpiled into ES5 before the tests are run, so anything checking for ES6 syntax will fail.

[2017-01-28 14:59] HKuz commented on #12902
Sounds great @BrendanSweeny - if you'd like to help re-title and re-format some of the challenges in the ES6 section, it would be most welcome! Just post over in that issue what you're working on so others know 👍

[2017-01-28 15:21] chaturanga836 opened #12938 "I think there are some Bugs"
Challenge [Make Object Properties Private](https://www.freecodecamp.com/challenges/make-object-properties-private) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2017-01-28 15:25] HKuz commented on #12626
I'm closing this issue because PR #12676 with the intro slide and text was merged.

[2017-01-28 15:25] #12626 closed

[2017-01-28 15:43] than2042 opened #12939 "something wrong"
Challenge [Use Hex Code to Mix Colors](https://www.freecodecamp.com/challenges/use-hex-code-to-mix-colors#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20%23FF0000%3B%0A%20%20%7D%0A%20%20.green-text%20%7B%0A%20%20%20%20color%3A%20%2300FF00%3B%0A%20%20%7D%0A%20%20.dodgerblue-text%20%7B%0A%20%20%20%20color%3A%20%232998E4%3B%0A%20%20%7D%0A%20%20.orange-text%20%7B%0A%20%20%20

[2017-01-28 16:15] TheeMattOliver commented on #12757
Great!

Sent from my iPhone

[2017-01-28 17:29] lyrakisk opened #12940 "Chrome Dev Tools: I can pass the challenge without submitting any answer"
#### Challenge Name
https://www.freecodecamp.com/videos/chrome-dev-tools-elements

#### Issue Description
At the questions section, I can pass the challenge without submitting any answer, just by dragging left or right the question.

#### Browser Information
* Browser Name, Version: Firefox 51.0.1
* Operating System: Windows 7, 64 bit
* Mobile, Desktop, or Tablet: Desktop

#### Video
https://www.y

[2017-01-28 17:52] robbawebba commented on #12913
Do we know if there some sort of variable besides `code` that's accessible during testing and has the pre-transpiled code to test against in the ES6 challenges?