[2020-02-04 22:00] #38133 closed

[2020-02-04 22:10] QuincyLarson opened #38164 "Noindex /learn"
As part of cleaning up our Google footprint, we want to de-index /learn. We don't want people to arrive from Google to the middle of a challenge (because they most likely won't be ready to sit down and code right then and there).

So we need to add this to all pages of /learn

[code]

[2020-02-04 23:10] RandellDawson commented on #38164
What about keeping indexes on the introduction pages for each curriculum section?

[2020-02-04 23:16] Hash2C commented on #16869
I created this repo so it get's easier to test locally.
https://github.com/Hash2C/fccWeatherApiDraft

 I believe the 3 main use cases (for now) are already covered
- If coordinates are invalid/inexistent , send an error
else, convert the coords to a convenient format and then we try to hit the cache

- If the requested coordinates are cached
    - If the timestamp is within the acceptable delta: s

[2020-02-04 23:28] Hash2C commented on #16869
Just an idea: could we eventually have a data service, that tries to minimize the number of "available requests to the OpenWeather API (or others) that don't get made"? This service would feed, let's say, a MongoDB database - that would be our cache (we could use Memcached but that is probably too much, we don't need that extra speed)

Other ideia: Are there any past usage statistics of this servi

[2020-02-05 00:47] Hash2C commented on #16869
(for some reason I totally missed your message!)

Good point. Is it worth testing?

If we are allowed to do this, it may greatly increase the probability of achieving a successful solution.

Yes, using cached data right? I brought that < 2h question because I asked previously about the acceptable delay, I started coding assuming we can manage to send data at most 1 h old, just to get it started.

[2020-02-05 01:33] Hash2C commented on #16869
Are there standard tools for Testing and to make Requests in FCC projects?
For Requests I'm using (just because I decided to give it a try, instead of Axios)
www.npmjs.com/package/request
For testing I don't have much experience but I was thinking about Mocha.
But please let me know which tools better integrate with FCC

[2020-02-05 05:47] raisedadead commented on #38164
I do not think we would want to index anything from learn on the public search engines.

[2020-02-05 05:57] hassaanp opened #38165 "Validation for Regular Expression Challenge does not take account of newline in .trim check"
**Describe your problem and how to reproduce it:**
The [Regular Expression](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/regular-expressions/remove-whitespace-from-start-and-end) challenge disallows the usage of `.trim`.

However, the validation does not take newlines into account.

**Add a Link to the page with the problem:**
Here is a link to the relevant challeng

[2020-02-05 06:25] hassaanp commented on #38165
Created a pull request with the fix.

[2020-02-05 06:52] scissorsneedfoodtoo commented on #38148
We just ported over the original guide article mentioned above. Now the previously broken link points to https://www.freecodecamp.org/news/the-complete-guide-to-this-in-javascript/.

Thanks again for reporting this @LarryHu0217.

[2020-02-05 06:52] #38148 closed

[2020-02-05 14:24] ojeytonwilliams commented on #16869
The simplest solution is just to run `npm audit fix` and then commit the updated `package.json` and `package-lock.json`.  The new packages should not have any breaking changes from the previous, vulnerable ones.  However, that assumes the package authors have not accidentally introduced a breaking change, so it's worth manually checking your app after the fixes have been applied.

[2020-02-05 14:45] PiyushBhangale commented on #38009
Can I present some ideas related to this task and work on it accordingly?

[2020-02-05 17:21] DimplePatel opened #38167 "404 error when clicking podcast link on About page"
**Describe the bug**
When clicking the podcast hyperlink on the About page, it leads to a 404 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/news/about/
2. Click on the hyperlink 'freeCodeCamp Podcast'
3. Notice the 404 error at https://podcast.freecodecamp.org/

**Expected behavior**
The hyperlink should lead to the podcast page. Not sure if this i

[2020-02-05 17:25] DimplePatel opened #38168 "404 error for IEEE link on Python Example page"
**Describe the bug**
When clicking the hyperlink "IEEE site" on the Python Example page, the user is taken to a 404 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/news/python-example/
2. Click on the hyperlink 'IEEE site'
3. You are taken to a 404 error on the IEEE website: http://grouper.ieee.org/groups/754/

**Expected behavior**
The user is taken

[2020-02-05 17:34] RandellDawson commented on #38168
Maybe use the following Wikipedia link?

[2020-02-05 19:16] QuincyLarson commented on #38168
@DimplePatel Thanks for catching this. I've fixed this.

@RandellDawson I've used your recommended wikipedia link.

[2020-02-05 19:16] #38168 closed

[2020-02-05 20:43] bonginkosif commented on #37967
having the same issue two!

[2020-02-05 23:42] LarryHu0217 commented on #37967
What you did ?

[2020-02-06 02:36] Pranav2612000 commented on #38167
@DimplePatel Couldn't reproduce the issue. Which hyperlink are you referring to?
The one in

redirect me correctly.

[2020-02-06 02:37] Pranav2612000 commented on #38167
@DimplePatel Couldn't reproduce the issue. Which hyperlink are you referring to?
The one in

redirect me correctly.

[2020-02-06 04:03] andrescaroc opened #38170 "Unclear test output - use-array.map-to-dynamically-render-elements"
**Describe your problem and how to reproduce it:**

**1) Go to:** https://www.freecodecamp.org/learn/front-end-libraries/react/use-array.map-to-dynamically-render-elements
**2) Then:** look for the third expected test output on the left-bottom UI of the challenge.

**3) What it says:**

**4) what it should says:**

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/fro

[2020-02-06 04:09] andrescaroc opened #38171 "Broken link on Redux Challenge Intro Page"
**Describe your problem and how to reproduce it:**

**1) Go to:** https://www.freecodecamp.org/learn/front-end-libraries/redux/

**2) Find this text:** "Improve this intro on GitHub."

**3)** Link to GitHub to improve the intro is broken

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/front-end-libraries/redux/

**Tell us about your browser and operating system:**

[2020-02-06 04:14] moT01 commented on #38163
That little `3/3` with the wrench that is flashing at the beginning of the gif keeps switching from that to the built in vertical scroll bar that shows the same `3/3` that you can see later in the gif. It happens at a specific width or something and the vertical bar is off the page causing the horizontal scroll bar to show up and disappear.

[2020-02-06 04:14] RandellDawson commented on #38171
I am not even sure why that last sentence is present.  I think it is best if it is removed completely from the introduction.  If you see anymore links like this, please add them to this issue, so someone can create a PR to fix them all at the same time.

[2020-02-06 04:26] #37950 closed

[2020-02-06 04:59] moT01 commented on #37860
Closing as stale and unresponsive OP. Thanks for the report, let us know if you can provide more details.

[2020-02-06 04:59] #37860 closed

[2020-02-06 05:10] moT01 commented on #37850
Here's a list of the superblock pages...

https://www.freecodecamp.dev/learn/responsive-web-design/ - stub
https://www.freecodecamp.dev/learn/javascript-algorithms-and-data-structures/ - pretty plain
https://www.freecodecamp.dev/learn/front-end-libraries/ - stub
https://www.freecodecamp.dev/learn/data-visualization/ - stub
https://www.freecodecamp.dev/learn/apis-and-microservices/ - this one seems

[2020-02-06 05:35] scissorsneedfoodtoo commented on #38013
@nurpny, are you still having issues updating your email address? Also, please send an email to us at support@freecodecamp.org if you haven't already. We could take a closer look at your account and resolve this manually if necessary.

[2020-02-06 05:45] scissorsneedfoodtoo commented on #38037
@moT01 and @ojeytonwilliams, great discussion here. I've always wondered how this works and I think we're getting to the bottom of this longstanding issue.

The timestamps are stored as UTC in the database, so it may be the conversion from UTC to EST (or some other timezone) that's causing the large difference here.

@elMP, do you mind if I share some of the timestamps that are being stored in you

[2020-02-06 07:13] ahmadabdolsaheb opened #38244 "UI inconsistencies"
- [ ] date picker's text is not visible on hover mode:
![image](https://user-images.githubusercontent.com/4591597/73913941-461aa880-48c9-11ea-8ddc-0c237645a7a1.png)
- [ ] main category dropdown svg is not visible

[2020-02-06 07:37] ahmadabdolsaheb commented on #38009
@PiyushBhangale, sure. the first submitted pr will be evaluated first.

[2020-02-06 08:28] ahmadabdolsaheb commented on #38163
Thanks for submitting this issue @Sky020,

There is a similar behavior with the default theme. When the desktop UI loads and width changes, the vertical progress bar stays out of view. This is more apparent on the new theme since icons have been replaced with text and the buttons are wider.

I think this would be a none-issue since for that width discourse would not load the vertical scrollbar at

[2020-02-06 08:44] es-debug opened #38173 "Did not get a certificate after I completed the responsive web design tutorials and project"
If you are new to coding, we recommend you start at the beginning.

Responsive Web Design Certification (300 hours)

Basic HTML and HTML5
Passed28/28
IntroInformation
Introduction to Basic HTML and HTML5
Passed
Say Hello to HTML Elements
Passed
Headline with the h2 Element
Passed
Inform with the Paragraph Element
Passed
Fill in the Blank with Placeholder Text
Passed
Uncomment HTML
Passed
Comment o

[2020-02-06 08:48] #38173 closed

[2020-02-06 08:54] ojeytonwilliams commented on #38170
Thanks for the report, but the second child is `<br />`, so the test is correct.  I think this would be clearer if the `<br />` was alone on a separate line, so I can see a case for changing the seed to make this clearer.

[2020-02-06 10:47] DimplePatel commented on #38167
The one under the title "Does freeCodeCamp have a mobile app?"

[2020-02-06 11:46] ojeytonwilliams commented on #37850
seems to be problem with `zeit/serve`.  @raisedadead I fixed this locally by removing `"renderSingle": true` from `serve.json`.  I don't know of any cases where we have a single (non-html) asset in a directory that we want to serve, so it should be safe to remove this.

[2020-02-06 11:53] Sky020 commented on #38163
@ahmadabdolsaheb The GIF was not all that clear, but the issue is not so much with the blinking 3/3, but when I am scrolling through topics.
When I scroll (at a reasonable speed), the page jumps, causing me to scroll less than I am trying. This only happens with the beta themes. I showed the 3/3 flashing, because I thought it was connected.

Some of my hypotheses:
1) When scrolling past new posts,

[2020-02-06 12:49] Hash2C commented on #16869
I have been playing with the OpenWeather api (actually I should have done this from the beginning).
Did we know this? https://openweathermap.org/faq#error401
The relevant part

[2020-02-06 13:24] moT01 commented on #38037
I've been bouncing this around in my head for a few days and I don't see a single perfect solution.

I see two problems...
- this streak issue, in which the streak is calculated on our server with UTC time, I believe.
- the second issue is that, when viewing another persons profile - I see their data with my timezone. So the screenshot in the OP's description - I don't see it like that because his

[2020-02-06 13:54] moT01 opened #38175 "Font misalignment on introductions"
<img width="666" alt="Screen Shot 2020-02-06 at 7 36 58 AM" src="https://user-images.githubusercontent.com/20648924/73941870-a1da3700-48b3-11ea-9e4d-a9c81e8867a1.png">

In the screenshot, the font changes about midway through the introduction. Here's a list of introductions with this problem...
[basic css](https://www.freecodecamp.org/learn/responsive-web-design/basic-css/)
[applied accessibility]

[2020-02-06 14:06] moT01 commented on #38171
What do you think about removing the link to the redux website @RandellDawson? (the first word in the intro)

[2020-02-06 14:42] andrescaroc commented on #38170
Oh, I didn't know that <br /> count as a child, it was confusing for me. Maybe in a separate line would make it clear a you say.

[2020-02-06 15:15] RandellDawson commented on #38171
@moT01 I think for now, we can leave it alone.  I think the discussion of external links should be on a separate issue (if there is not already an outstanding issue).  I thought I had an open issue at one point about external links.  It may have gotten closed at some point (can't remember why).

[2020-02-06 16:21] ojeytonwilliams commented on #38037
I'm 99% sure the timestamps are just the UTC when the challenge was submitted:

https://github.com/freeCodeCamp/freeCodeCamp/blob/c76978bdfe233b3842aeb5f29f9f936578894b74/api-server/server/boot/challenge.js#L218-L223

Wouldn't the easiest solution be to have a single timezone that's updated when, say, the user submits a challenge?  Or via their profile, as Tom suggested.  That way people who don't

[2020-02-06 16:22] #38171 closed

[2020-02-06 16:49] nurpny commented on #38013
@scissorsneedfoodtoo. will send a separate email to the support team. thank you.

I'm using mac + chrome.
Currently my settings (https://www.freecodecamp.org/settings) shows:
 Your email has not been verified. Please check your email, or request a new verification email here.

The verification email sends me to "https://api.freecodecamp.org/confirm-email?email=****&token=******&emailChange=true" -

[2020-02-06 18:27] EkaterinaVu commented on #38175
It's probably because the second half of the text is wrapped directly in .intro-layout \<div> instead in \<p> element.

[2020-02-06 19:21] ojeytonwilliams commented on #38175
Yep, that's basically it.  Reason being, the markdown parser can't tell that the text should be interpreted as a paragraph since it's adjacent to raw html.  Ideally there should be no html at all, but it's probably sufficient to insert empty lines before the paragraphs that are being displayed incorrectly.

[2020-02-06 21:55] #38157 closed

[2020-02-06 21:55] moT01 commented on #38157
Fixed via https://github.com/freeCodeCamp/freeCodeCamp/pull/38160

[2020-02-06 22:06] moT01 commented on #38037
I need to read closer, took two comments to realize...

That should make things easier for some solutions.

An alternative might be to just ignore the timezone completely and make everything based on UTC time. At least it would be predictable.

I feel like we should get some more opinions on this. @freeCodeCamp/dev-team, @freeCodeCamp/moderators - feel free to chime in here.

[2020-02-06 23:23] RandellDawson opened #38177 "Refreshing page when on forum loads freeCodeCamp.org instead of the forum"
The title says it all.  Goto the forum and then refresh your page.  Instead of reloading the forum, the main freecodecamp.org site loads.

[2020-02-07 01:31] #37932 closed

[2020-02-07 04:27] shivam250 commented on #38175
.intro-layout is using inherit font-family called .. Roboto mono, monospace,, but for  .intro-layout p, . intro-layout li it's set to lato, sans-serief ...  This can be fix via setting font family for .intro-layout or by wrapping text into the p tag

[2020-02-07 06:43] RandellDawson commented on #7199
@AnirudhWT  The code does not work when you include them, because that is the point of the challenge.  There is nothing wrong with the current instructions.  Feel free to visit our [forum](https://freecodecamp.org/forum) to discuss this further.

Thank you.

[2020-02-07 08:33] EkaterinaVu commented on #38175
Those are .md files, and the rest of it is written in pure markdown. So just to be consistent, maybe they should be simply rewritten without any HTML tags inside, since there are only 5-6 files.

[2020-02-07 08:47] #38043 closed

[2020-02-07 08:54] ojeytonwilliams commented on #38175
@EkaterinaVu I think that's the best solution.

[2020-02-07 09:21] hassaanp opened #38178 "For loop validation does not take account of new lines in three challenges"
**Describe your problem and how to reproduce it:**
I identified three challenges where the for loop validation does not work if newlines are used in the arguments.

[code]

**Add a Link to the page with the problem:**
1. [Use the map method to extract data from an array](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/use-the-map-method-to-extrac

[2020-02-07 16:31] andrescaroc commented on #38171
Hey guys, the same issue is happening in the React and Redux section, please check: https://www.freecodecamp.org/learn/front-end-libraries/react-and-redux/

[2020-02-07 18:36] weiranwang99 commented on #38167
I clicked on the one under the title, but it doesn't show up. Is this still an issue?

[2020-02-07 18:59] LarryHu0217 commented on #37950
Could you provide more details about how to fix it?

[2020-02-07 20:58] RandellDawson commented on #37950
You would need to adjust the assert in the `testString` for the test.

[2020-02-07 22:16] bonginkosif commented on #37967
-  I Fork to own repository
- Clone from own repository
- the i did a (git remote add upstream https://github.com/freeCodeCamp/freeCodeCamp.git) then
i did (git remote -v)
- Run npm run docker:run-once

My my computer runs:
Distributor ID: Debian
Description: Kali GNU/Linux Rolling
Release: 5.2.0-kali3-amd64
- On my system i have
node v10.16.0
npm v6.5.0
Docker version 19.03.5, build 633a0ea838
do

[2020-02-07 22:21] bonginkosif commented on #37967
i've tried tried all solution i could get online still get the same error

but what i've figured out the problem starts when trying to install (husky)

    husky@1.3.1 install /app/node_modules/husky
    node husky install

[code]

[2020-02-07 22:36] andrescaroc opened #38182 "Duplicated test output: Connect Redux with the messages app"
**Describe your problem and how to reproduce it:**

**Go to:** https://www.freecodecamp.org/learn/front-end-libraries/react-and-redux/connect-redux-to-the-messages-app

**Look for:** Test outputs in the bottom-left corner

**Duplicated test output:** `The Presentational component should render an h2, input, button, and ul elements.`

**Add a Link to the page with the problem:**
https://www.freecod

[2020-02-07 22:57] andrescaroc commented on #38182
The same duplicated test output exist in the following Challenge:

**Go to:** https://www.freecodecamp.org/learn/front-end-libraries/react-and-redux/extract-local-state-into-redux

**Look for:** Test outputs in the bottom-left corner

**Duplicated test output:** The Presentational component should render an h2, input, button, and ul elements.

![Captura-de-pantalla-2020-02-07-a-la(s)-5 53 17-p -m]

[2020-02-07 23:44] RandellDawson commented on #38182
@andrescaroc You are correct, the 2nd test should actually state:

[2020-02-08 09:27] Pranav2612000 commented on #38167
The same link worked fine for me too.

[2020-02-08 11:14] raisedadead commented on #37850
OK - Thanks for confirming. I will update the config.

[2020-02-08 11:17] raisedadead commented on #37850
We should remove the intros, as discussed previously. This would involve some changes to the challenge parser and the gatsby config and pages generation logic etc.

[2020-02-08 11:19] raisedadead commented on #38177
This is a known issue after a recent discourse issue, unfortunately this is not an easy fix and we are investigating without any ETA on the resolution unfortunately.

[2020-02-08 12:59] raisedadead commented on #38037
Yes please.

[2020-02-08 15:39] #38142 closed

[2020-02-08 18:56] #37740 closed

[2020-02-08 20:40] ojeytonwilliams opened #38186 "Routing issue with certificates"
**Describe the bug**
Navigating to a certificate from elsewhere in the client vs reloading the same certificate page results in slightly different html being rendered.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://www.freecodecamp.org/ojeytonwilliams`
2. Click on the certificate and open the dev console
3. See that the body element has no attributes
4. Reload the page
5. See

[2020-02-10 00:43] #38178 closed

[2020-02-10 07:43] benjaminthedev opened #38189 "Broken Images In The Algorithm Guides Section - Images Coming From The FCC Forum?"
Hi folks,

It seems that there are broken images in the Basic Algorithms Scripting guides section.

For example, if you go to [Boo Hoo Algorithm](https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-structures/basic-algorithm-scripting/boo-who)

You will see broken images.

Another example is the speech balloon:

![Screenshot 2020-02-10 at 07 40 34](https://user-images.gith

[2020-02-10 09:44] DimplePatel commented on #38167
Closing the issue because link is now working for me

[2020-02-10 09:44] #38167 closed

[2020-02-10 14:00] raisedadead commented on #38189
@QuincyLarson now that we are in the process of deprecating the guide, can we have a standard message that we can use to point users about this and close issues like this?

[2020-02-10 15:24] #38186 closed

[2020-02-10 15:26] IvanDerlich opened #38190 "Regex Exercises"
This exercise:
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/regular-expressions/find-characters-with-lazy-matching

Can also be solve with this regex: ->      `/<h1>/`

* Browser Name: Firefox
* Browser Version:
* Operating System:  Unbuntu

[2020-02-10 15:37] ojeytonwilliams commented on #38190
Good point.  I think we should add a second test that checks the regex uses lazy matching.  Possibly even a third to forbid matching 'h1' directly.

[2020-02-10 16:36] AshNaz87 commented on #38190
@ojeytonwilliams I wish to work on this

[2020-02-10 17:32] santhosh-natarajan opened #38192 "Wrong data shows in strikes in profile page."
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
Camper profile strike to shows in the calendar have some issue, It shows tomorrows data

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the profile page
2. In the calendar view, you can see the erro

[2020-02-10 19:02] QuincyLarson opened #38194 "Show Tweet buttons when camper is viewing own certification"
When a camper is viewing their own certification, they can see a message that says "Tweet your certification".

The auto text should be "After 100s of hours of learning, I've earned @freeCodeCamp's [certification name] Certification."

[2020-02-10 19:06] QuincyLarson opened #38195 "Show "Add this certification to your LinkedIn profile" button"
As a camper, when I am logged in and viewing my own certification, I can see a button that says "Add this certification to your LinkedIn profile."

Once you've clicked it, it will use [the LinkedIn certification API](https://developer.linkedin.com/docs/guide/v2/people/profile-edit-api/certifications#) to add the certification to the campers' LinkedIn profile. And if possible, it should add freeCod

[2020-02-10 19:07] QuincyLarson commented on #38195
@ahmadabdolsaheb I am unsure of how much work this will require to incorporate it, so I am adding this to our roadmap and you can tackle it once you've finished more pressing features.

[2020-02-10 19:27] SamVarejao commented on #18056
The HOW :
mongo.connect( ... (err, client) => {
   const db = client.db("yourDataBaseName");
... })
The WHY:
As mentioned before, some FCC challenges are out of date, and Mongo changed a bit since these lessons came out/ were updated.
MORE INFO: http://mongodb.github.io/node-mongodb-native/3.0/quick-start/quick-start/

[2020-02-11 00:32] Hash2C commented on #16869
Hello guys, I have been more constrained than expected.
On my free time, I have been studying the OpenWeather api. Unfortunately it is not well documented.
I think I came up with a feasible strategy, using the bbox option, but I'm still testing.
I came up with this idea of creating a document with all the info I came across, the tests I'm doing.

@RandellDawson
You knew what you were saying :heavy

[2020-02-11 01:19] bonginkosif commented on #37967
is the any way i can bypass husky install ?

[2020-02-11 07:25] raisedadead commented on #36277
Relevant comment by @vanya829 https://github.com/freeCodeCamp/freeCodeCamp/issues/37825#issuecomment-562617696

[2020-02-11 07:25] raisedadead commented on #37825
Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/36277

[2020-02-11 07:25] #37825 closed

[2020-02-11 07:25] raisedadead commented on #38195
Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/36277

[2020-02-11 07:25] #38195 closed

[2020-02-11 07:28] raisedadead commented on #36796
We have been using twitter instead of the forum to discuss the articles. This way we have more engagement on the article as well.

[2020-02-11 07:28] #36796 closed

[2020-02-11 07:40] raisedadead commented on #38192
Duplicate of #38037

[2020-02-11 07:40] #38192 closed

[2020-02-11 08:11] ojeytonwilliams commented on #37967
That would be fixing a symptom of the problem.  I think that the root cause is the lack of permissions, and if you solve that husky should work fine.  I recommend searching for docker permissions problem and seeing if any of the fixes apply to you.

[2020-02-11 09:25] miyaliu666 opened #38197 "Please update title and meta contents for Chinese /news"
I want to update them like below, especially the `content`. Thanks!

[code]

[2020-02-11 16:17] #38190 closed

[2020-02-11 17:56] #38175 closed

[2020-02-12 05:04] hassaanp commented on #38182
Taking this up.

[2020-02-12 06:47] #38165 closed

[2020-02-12 06:56] raisedadead opened #38200 "Update congratulatory quotes"
Refers changes from #37952

The changes from the linked PR should go into the correct file, I believe there are multiple such files.

We need to audit and combine all of them to one, and at the same time move them into the common config location.

[2020-02-12 08:38] ahmadabdolsaheb commented on #37783
@raisedadead, instead of having a full server integration where each payment goes through our server to PayPal, we could use [PayPal smart buttons](https://developer.paypal.com/docs/subscriptions/integrate/#4-create-a-subscriptionl) that are paypal's preferred payment method for handling subscriptions.

 The button would handle the payment and we could update our api accrodingly using a onApproave

[2020-02-12 08:57] raisedadead commented on #37783
Unless PayPal has a webhook that can deliver a payload to our API, I will not trust any client side code to rely on the logic.

Client side logic is easily spoofed and beats the purpose of the server side validations.

[2020-02-12 09:00] ahmadabdolsaheb opened #38201 "https://www.freecodecamp.com/ does not redirect to org properly"
Although https://www.freecodecamp.com/ does not redirect properly to .org,  http:// does.

[2020-02-12 12:49] ahmadabdolsaheb opened #38202 "update design style guide to include fcc green."

[2020-02-12 13:43] mokrane-karar commented on #38037
Hi everyone! I'm curently facing the same problem! One mounth ago I have decided to make code everyday for the next 365 days and, I was realy motivated by the longest streak option, unfortunately the current streak is wrong since the last **3 days**. It should be **32** but it is **2**.  There is a second problem and maybe it is the cause of the first one, you can see in the second picture that th

[2020-02-12 14:49] raisedadead commented on #38201
Looks like the certificate has not been working on this domain for a while. We used to have a redirect always rule on the domain. I will check what changed.

[2020-02-12 15:17] #38182 closed

[2020-02-12 15:42] MohamedElidrissi opened #38204 "Some challenges' restrictions can be bypassed by re-assigning methods to different names"
Hey all, so after spending a few minutes trying to solve the [Steamroller challenge](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/steamroller) from the Intermediate Algorithm Scripting section, I decided to try and reassign the `Array.prototype.flat` to a new method I named `Array.prototype.flatten` for the fun of it but surprisingly

[2020-02-12 16:59] swatiparge commented on #37921
@ahmadabdolsaheb Has this been fixed?  Can I work on this?

[2020-02-12 18:30] bonginkosif commented on #37967
ok thank i'll get to it right away

[2020-02-12 20:07] QuincyLarson commented on #38200
@raisedadead Thanks for pointing this out and creating this new issue. Yes - these should all be in a single place, and should be easily editable by people who are unfamiliar with the codebase (since they're just strings of text).

[2020-02-12 20:17] QuincyLarson commented on #36796
@colbyfayock I agree that for now we can leave comments off, as moderating these also takes a lot of work, and discussions around these articles tend to be sparse. Once we release our updated /news client (which will most likely still use Ghost as the CMS for authors, but will use Gatsby for a headless Ghost rendering of the pages). And when we release that, we can add comments and some sort of ce

[2020-02-12 21:11] #38170 closed

[2020-02-12 23:30] QuincyLarson opened #38207 "HTTPS not working for freeCodeCamp.com redirect"
It seems HTTPS is not currently working on freeCodeCamp.com. This could be confusing some people who are still going to that domain, and it may be affecting backlinks.

For anyone reading this, freecodecamp.com redirects to freeCodeCamp.org. But some people still  mistakenly link to freeCodeCamp.com or visit it. So we need the https to work here.

<img width="1201" alt="Privacy_error" src="https:/

[2020-02-12 23:39] QuincyLarson commented on #38138
@raisedadead Thanks for your patience. Yes - here is my best guess at the /learn accounts for each of the 2019 top contributors' accounts. Note that not all of these will work and some may still be set to private: https://gist.github.com/QuincyLarson/e2a6e957cf9c7412ff9ea0956ff9ba3d

[2020-02-12 23:52] AshNaz87 commented on #38010
@ahmadabdolsaheb Is this getting the green light? If so, I'd like to help. A colour palette would also be useful

[2020-02-13 05:10] QuincyLarson commented on #38164
@RandellDawson We can create /news landing pages for each of these certifications and its subsections. These can be more keyword rich and betted designed for Google. Our current /learn pages aren't designed with traffic from Google in mind.

[2020-02-13 05:12] QuincyLarson commented on #37817
@Manish-Giri Did you ever get a chance to start working on this? This is still something we'd like to add to the profile pages. This little code tweak will make a big difference to millions of campers.

[2020-02-13 05:16] QuincyLarson commented on #38189
@benjaminthedev Thanks for reporting this.

@raisedadead Yes - how about the following for a standard response:

Thanks for reporting this.

We are in the process of improving all the guide articles and migrating them over to /news. (The Guide codebase and its many contributions will remain on GitHub.)

So rather than spending time to fix this specific issue, we will stay focused on finishing this

[2020-02-13 05:16] #38189 closed

[2020-02-13 07:05] hassaanp commented on #38204
I believe we can fix this by adding in checks for the usage of targetted prototype methods, like this:
[code]
@RandellDawson do you want me to push a fix for this and all other challenges where all Array methods are being validated? Let me know, I can take care of this ASAP :)

[2020-02-13 08:07] raisedadead commented on #38207
Duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/38201

[2020-02-13 08:07] #38207 closed

[2020-02-13 08:10] ahmadabdolsaheb commented on #37921
Not yet @swatiparge, please refer to #37701 for more discussion on the font issue.

Please look into the global.css in the theme repo for font selectors that we don't have on /learn that might be changing how the fonts look.

Feel free to submit your solution or to the add the the following pr.
freeCodeCamp/news-theme#87

[2020-02-13 08:21] raisedadead commented on #38138
Thanks for the list, I will add the years to these profiles.

Once I am done, I will let you know, so that you can post this on the forum. Anyone we missed should then be able to reach out to us and I can do the update on their profile.

[2020-02-13 08:23] ahmadabdolsaheb commented on #38010
Thanks for your interest. I will update you with the color palette in a week or so.
it seems like we will need to touch on the light theme as a whole to account for the color change in the navbar.

[2020-02-13 10:09] AshNaz87 commented on #37921
@ahmadabdolsaheb Looks like it's been fixed

[2020-02-13 10:20] terra9 commented on #37778
@ojeytonwilliams I am unable to replicate this issue locally, whereas i was able to replicate on the online version.

[2020-02-13 13:20] raisedadead commented on #38201
Created and assigned fresh origin certificates for .com domain. There will be browser caching of old certs for a while, but eventually it should resolve correctly.

[2020-02-13 13:20] #38201 closed

[2020-02-13 13:23] Sky020 opened #38209 "Unable to use browser "back" button to return to previous page"
**Describe the bug**
Within the _learn_ section of fCC, I am unable to use the browser's _back_ button to return to an earlier point in the page history. This is a minor issue, and only occurs under specific circumstances, but I wonder if it is indicative of another error in the matrix.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/ or any other fCC page.

[2020-02-13 13:59] ojeytonwilliams commented on #37778
@terra9 stupid question, but did you build a ghost site using the news-theme?  That's where you should see the bug.

[2020-02-13 15:20] RandellDawson commented on #38204
@hassaanp I think this will work.  Create a PR and we can test it out extensively.

Thanks.

[2020-02-13 15:30] RandellDawson commented on #38164
@raisedadead Based on what @QuincyLarson said above, is this a way we can just remove the introduction/landing pages from the curriculum?

[2020-02-13 15:59] raisedadead commented on #38164
Yes, I believe so.

[2020-02-14 01:29] LarryHu0217 commented on #38197
I can update this one.@miyaliu666

[2020-02-14 10:45] hassaanp commented on #38204
Hey, I have gone through the challenges library and tested out each where there were disallowed methods specified. There were several instances where adding newlines or reassigning the prototype method bypassed the checks.

I was able to modify the regex to prevent those bypass scenarios. I have verified the challenges on my end but would recommend someone else to test it as well.

[2020-02-14 13:57] moT01 commented on #38037
What do you think about getting rid of the streaks @raisedadead, I think that's where a lot of user frustration comes in. They might have a long streak going and all of a sudden it gets cut off by a timezone issue or something. I have been looking at this the last couple days, and it is proving to be complicated to get all of these aligned.

[2020-02-14 13:59] raisedadead commented on #38037
We have considered getting rid of the streak in the past. I will speak to the team internally and check their views on this.

[2020-02-14 14:06] ojeytonwilliams commented on #38037
The main problem re: the streaks is they're calculated in one timezone, but the heatmap and timeline depend on the user's timezone.  Unless they all match (which they will not for most people) it's not possible to completely rule out inconsistencies.

[2020-02-14 15:28] LarryHu0217 commented on #38175
I have solved the problem and have tested on my local host, and I want to submit the pull request  for applied accessibility. Please Let me know how can I do that?@ojeytonwilliams

[2020-02-14 15:41] raisedadead commented on #38209
Thanks for this additional detail.

[2020-02-14 15:42] #38177 closed

[2020-02-14 15:57] mokrane-karar commented on #38037
In my opinion, you should consider instead to maintain this option as many
people like me rely on it. Maybe you can fix definitely this problem if you
set only one time zone(heatmap and streak) fore all campers around the
world.

On Fri, Feb 14, 2020, 3:06 PM Oliver Eyton-Williams <
notifications@github.com> wrote:

[2020-02-14 16:09] RandellDawson commented on #38175
@LarryHu0217 This was resolved when PR #38196 was merged 3 days ago.  It is no longer an issue.

[2020-02-14 16:19] moT01 commented on #37570
It looks like this behavior has been reverted and/or improved. It's much better, so I am going to close this. If anyone thinks it's still an issue, leave a comment and we can reopen it.

[2020-02-14 16:19] #37570 closed

[2020-02-14 16:24] ojeytonwilliams commented on #38037
If we do keep the streaks, I think we should calculate them client-side.  That way the heatmap, timeline and streaks can all be calculated with the same timezone.

[2020-02-14 16:48] moT01 commented on #38037
I think that's the way we should go @ojeytonwilliams - the streak seems popular.

[2020-02-14 18:22] raisedadead opened #38218 "Edit icons are broken on the forum"
![image](https://user-images.githubusercontent.com/1884376/74556903-0452c780-4f85-11ea-8ece-ab361c65a78c.png)

[2020-02-14 18:25] raisedadead commented on #38037
set only one time zone(heatmap and streak) fore all campers around the
world.

Unfortunately that's easier said than done. We have been trying to keep this consistent for years now.

Yup, this was not possible until we released the new platform last nov. I think its doable, but I fear there will be corner cases regardless.

[2020-02-14 18:48] mokrane-karar commented on #38037
You can do a poll to see how popular it is but, at my point of view it seems to be pretty popular for those people like me who are doing the 100 days of code challenge and variants.

[2020-02-14 19:11] raisedadead commented on #38037
We understand that this feature is quite popular and also a source of frustration, if you go through all the closed issues on this repo.

From my experience of over 5 years with this project, I have not seen a perfect solution to this issue.

The reason being the timestamps for the challenges are centralised to the server for database consistency (a high priority). The client views (heatmaps, etc.

[2020-02-14 22:01] bonginkosif commented on #37967
i did the research and the answer to my problem was the root account, apparently you only need sudo to  run docker service and not to run containers

[2020-02-14 22:04] bonginkosif commented on #37967
`> @freecodecamp/freecodecamp@0.0.1 docker:run-once /home/User1/freeCodeCamp

Creating network "freecodecamp_default" with the default driver
Creating volume "freecodecamp_dbdata" with default driver
Creating volume "freecodecamp_node_modules" with default driver
Creating volume "freecodecamp_client_node_modules" with default driver
Creating volume "freecodecamp_server_node_modules" with default d

[2020-02-14 22:15] bonginkosif commented on #37967
thanks to you bro `ojeytonwilliams`

[2020-02-14 22:37] gignupg opened #38219 "Solution not working! - Find Characters with Lazy Matching (Regular Expressions)"
I think you have to revise the solution. It's not working!

[2020-02-14 22:48] Sky020 commented on #38219
**Issue**
Guide post solution does not pass tests.

I believe this became an problem, when this _issue_ on GitHub was merged:
https://github.com/freeCodeCamp/freeCodeCamp/issues/38190

Solution on Guide Post: https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-find-characters-with-lazy-matching/301341

Challenge in question: https://www.freecodecamp.org/learn/javascript-algorithms-an

[2020-02-15 06:07] raisedadead commented on #38037
The changes from Oliver's PR are live on the production platform.

[2020-02-15 07:33] hassaanp commented on #38219
This regex would work but I cannot modify the guidepost solution.

`/\<[a-z]*?[0-9]*?\>/`

[2020-02-15 07:41] joshuous commented on #18103
Hi, I encountered this issue today while attempting the Create New Middleware challenge, and only realized that the title needs to be explicitly set to "Home page". However, no such instruction is shown on the challenge notes.

Requesting to re-open this issue.

[2020-02-15 08:36] gignupg commented on #38219
Your solution works, but it's too complicated for someone who is just learning that there is a concept called lazy/greedy matching.
Also the escape character hasn't been taught so far (at least not with regular expressions), so we cannot expect students to use escape characters to solve this challenge!

[2020-02-15 08:51] ahmadabdolsaheb commented on #38163
I was not able to reproduce this. Let's keep this open and see if other users are experiencing this issue.

[2020-02-15 10:39] joshuous commented on #18103
### Problem
The **Create New Middleware** challenge fails even if users fulfill the given requirement:

- _A Get request to /profile should correctly redirect to / since we are not authenticated._

### Cause of problem
The [test](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/06-information-security-and-quality-assurance/advanced-node-and-express/create-new-

[2020-02-15 11:13] Sky020 commented on #38163
Since the beta themes were merged, I have not been able to reproduce it either. I would close this issue. If someone reopens it, or creates a similar one, then we will just need to remember.

Thank you, for your help

[2020-02-15 11:13] #38163 closed

[2020-02-15 11:30] Sky020 commented on #38219
I would expect the solution to look something like:
`let myRegex = /<.*?>/;`
All of that has been taught before. And is what the lesson was trying to get at: Use the `?` to fix the expression for _lazy matching_.

[2020-02-15 13:10] thecodingaviator commented on #18103
I think either solution is good enough. But, I haven’t done that section so someone else might be able to give a better opinion.

cc’ing: @freeCodeCamp/moderators

[2020-02-16 08:42] raisedadead commented on #38219
Hi @RandellDawson can you please take a look and update the guide if needed.

[2020-02-16 17:43] ndunn219 commented on #3714
wxdata.weather.com is deprecated as of 01/15/2020. :-(

[2020-02-16 18:00] interglobalmedia commented on #3714
I don't think there is ANY weather api that does NOT have an api key these days. Even the free ones. Eventually they too want to nab you via the key. The choice o f apis without keys is severely limited and not necessarily useful!

[2020-02-16 21:22] jovan-nikolic-dev opened #38223 "JS Algs & D.S. - Basic Algorithm Scripting: Slice and Splice (12th out of 16)"
**JavaScript Algorithms and Data Structures -> Basic Algorithm Scripting: Slice and Splice**

**_problem description_**
The instruction for this challenge says "The input arrays should remain the same after the function runs.".
However, the solution where "arr2" has been changed was accepted.
This is the solution that was accepted:
[code]
**Add a Link to the page with the problem:**
https://www.fr

[2020-02-17 05:25] ahmadabdolsaheb commented on #37921
I can still reproduce this on production, @AshNaz87
<img width="1440" alt="Screen Shot 2020-02-17 at 8 24 22 AM" src="https://user-images.githubusercontent.com/4591597/74625910-fe184300-515e-11ea-997d-41bad81f0937.png">
<img width="1440" alt="Screen Shot 2020-02-17 at 8 24 14 AM" src="https://user-images.githubusercontent.com/4591597/74625914-007a9d00-515f-11ea-9cf7-ed2b8c55bf45.png">

[2020-02-17 07:58] ojeytonwilliams commented on #37967
No problem, @bonginkosif. Is everything working for you now? If so, what did you do differently?  It would be great to see if there's something that needs changing in the docs.  Something to help avoid the problems you were having.

[2020-02-17 12:39] akdnfbf opened #38227 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/sbmadwq

[2020-02-17 12:41] #38227 closed

[2020-02-17 13:41] akdnfbf opened #38228 "WU AND MG TRANSFERS FOR 10-15% OF THE AMOUNT!!! 💰💰💰"

[2020-02-17 13:56] #38228 closed

[2020-02-17 14:43] helen119 opened #38229 "Wanna see my hot pics?💋💋💋"

[2020-02-17 15:24] #38229 closed

[2020-02-17 17:21] helen773 opened #38230 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/tza85ua

[2020-02-17 19:07] heken375 opened #38231 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/rupocj5

[2020-02-17 20:37] scdsfvd opened #38232 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/wyb476h

[2020-02-18 09:29] scissorsneedfoodtoo commented on #38056
@bobmatyas, thank you again for bringing this to our attention. We can close this now that https://github.com/freeCodeCamp/boilerplate-project-urlshortener/pull/15 was merged.

[2020-02-18 09:29] #38056 closed

[2020-02-18 15:54] #38223 closed

[2020-02-18 18:22] ArielLeslie opened #38233 "Restrict Possible Usernames should include the requirment "must begin with a letter""
**Describe your problem and how to reproduce it:**

As discussed at exhaustive length [here](https://www.freecodecamp.org/forum/t/username-constraints-are-incomplete/348773), the username requirements don't technically preclude the username "007". The requirement "Usernames should begin with a letter" should be added.
**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/

[2020-02-18 18:43] #38233 closed

[2020-02-18 21:09] RandellDawson commented on #38219
It seems @Sky020 updated it already.

[2020-02-18 21:09] #38219 closed

[2020-02-18 21:21] terrifricker opened #38234 "Incorrect Instructions: Applied-visual-design, lesson Lock-an-element..."
**Describe your problem and how to reproduce it:**
The current instruction is incorrect.  The current instruction is:
_Lock the #searchbar element to the top-right of its section parent by declaring its position as absolute. Give it top and right offsets of 50 pixels each._

The absolute position's default position is the top-right.  Giving top and right offsets moves the #searchbar towards the bo

[2020-02-18 23:14] RandellDawson commented on #38234
@terrifricker Not sure what you are talking about here.  If you do as requested in the instructions, it will work.  I suggest bringing this up on [our forum](https://www.freecodecamp.org/forum/).  If others there agree there is a problem, then feel free to request this issue to be reopened.

Thank you.

[2020-02-18 23:14] #38234 closed

[2020-02-19 06:58] ahmadabdolsaheb commented on #38202
closed in favor of #38010

[2020-02-19 06:58] #38202 closed

[2020-02-19 07:04] hassaanp commented on #38209
I have been trying to work on this but I have not been able to reproduce this on my local setup.

[2020-02-19 07:14] ahmadabdolsaheb opened #38235 "Universal nav links should not open in a new tab"
The top nav items on the forum and news does not open in a new tab.
We would like the same functionality on learn for consistency.

[2020-02-19 07:30] #38218 closed

[2020-02-19 08:53] ojeytonwilliams commented on #38235
Do we want all external links to navigate without opening a tab?  A quick search suggests that all the links in the footer open new tabs, as do a couple in `/accept-privacy-terms`.

I think it's better UX to leave tab opening to the user, but I thought I'd check.

[2020-02-19 10:44] AshNaz87 commented on #38235
If you decide to go ahead with this, I'd like to have a go at this

[2020-02-19 11:56] hassaanp commented on #38164
@raisedadead are you working on adding the meta tags? If not, I can give it a go.

[2020-02-19 13:02] ojeytonwilliams commented on #38209
@hassaanp I needed to build the site before I could see it locally.  To replicate the production environment you can use `npm run build:client`. Then copy [serve.json](https://github.com/freeCodeCamp/client-config/blob/master/serve.json) into `client` and finally run `npx serve -c ../serve.json client/public`

[2020-02-19 14:45] Jelliebeans opened #38237 "Status bar kudos"
**Is your feature request related to a problem? Please describe.**
This is just a humble suggestion. When we finish challenges, the status bar pops up and there is a new kudos above it. Kudos are fine and encourage learning, but I've noticed these are different from standard kudos and may incorporate pop culture. I actually wouldn't mind it but a couple of the the ones given have been distracting

[2020-02-19 15:07] ojeytonwilliams commented on #38237
Hi @Jelliebeans! Thanks for bringing this to our attention. There's been a bit of discussion about the quotes recently: #38200, but that's more an attempt to clean them up, rather than disable them entirely.

Adding an option to disable them is certainly possible, but I think @QuincyLarson will need to decide what the best course of action is.

[2020-02-19 19:25] #38237 closed

[2020-02-19 22:17] IvanDerlich opened #38238 "Title error?"
[Here](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/remove-elements-from-an-array-using-slice-instead-of-splice)

Shouldn't the title be?

### Functional Programming: Remove Elements from an Array Using ~slice~ *splice* Instead of ~splice~ **slice**

[2020-02-19 22:21] IvanDerlich commented on #38238
My mistake, the title was ok

[2020-02-19 22:21] #38238 closed

[2020-02-20 09:11] raisedadead commented on #38235
I think we want this to remain as is except for the navigation links up top on the navbar, which are the most used links on the platform. This is to make it consistent with the behaviour on forum and news.

@ahmadabdolsaheb can you proceed and make the changes. This will likely affect some of the routing. I would like to test this before working on the client app for chinese curriculum.

[2020-02-20 12:40] papanhere commented on #17861
I was also stuck for a minute, be careful with space and full stop.

<strong>Stanford University</strong>.  This is the right form.

[2020-02-20 15:32] hassaanp commented on #38209
Thanks, @ojeytonwilliams.
I was able to reproduce it locally. I am going to give a shot at fixing this. I believe this issue is similar to using the `<a>` tag in React (causes the entire app to rerender and lose state). I think there should be some workaround for this.

[2020-02-20 15:47] ojeytonwilliams commented on #38209
That's interesting!

It may not be relevant, and I don't want to distract you, but I noticed that `gatsby serve` does not have this problem, while `zeit/serve` (what `npx serve` calls) does.

[2020-02-20 15:49] raisedadead commented on #38209
I am more and more inclined on moving away from the `zeit/serve` and actually doing a docker based approach from the Gatsby docker image.

Thanks for all your investigations Oliver and Hassaan

[2020-02-20 16:07] hassaanp commented on #38209
@ojeytonwilliams

Thanks for the information. Should we configure `npx` to use gatsby instead?
I have been trying to go through the React Tree and the network tab and diff-ing it for the direct link and the new tab link. Also going through the code as well. So far, nothing promising has shown up. I wonder perhaps this has got to do with mixing client-side and server-side rendering. [This may be re

[2020-02-20 17:23] #37875 closed

[2020-02-20 18:35] raisedadead opened #38242 "logs for `npm test` are quite verbose and large"
The logs for `npm test` are quite verbose for some reason, making checking CI failures etc very difficult.  Currently is logging all the solution, code etc for challenges?

We need to avoid this.

[2020-02-21 08:55] ojeytonwilliams commented on #38209
We don't use `npx` in production, it's just a convenient way to run `serve` locally.  Also, according to their [docs](https://www.gatsbyjs.org/docs/gatsby-cli/#serve) `gatsby serve` is only intended for testing a production build, so probably should not be used in practice.

[2020-02-21 09:38] #38242 closed

[2020-02-21 18:56] LarryHu0217 commented on #38123
I can help this one. Do we need to change grey to gray?@RandellDawson

[2020-02-21 19:01] RandellDawson commented on #38123
@LarryHu0217 Nothing has been decided yet.  Still waiting on some other mods to chime in.

[2020-02-21 19:04] LarryHu0217 commented on #37701
I can work on this one,  if we still need this one. @ahmadabdolsaheb

[2020-02-21 19:07] LarryHu0217 commented on #38197
Can I help with this one ? @ahmadabdolsaheb

[2020-02-21 19:12] LarryHu0217 commented on #38009
Can I join this one@ahmadabdolsaheb

[2020-02-21 20:31] BoyeongYoon opened #38248 "Bronken links in Get a Hint from /learn Basic Algorithm Scripting: Find the Longest Word in a String"
**Describe your problem and how to reproduce it:**
The three relevant links under [Solution 2](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-find-the-longest-word-in-a-string/16015) are broken.

If I click the link, the browser shows that

"This site can’t be reached.
forum.freecodecamp.com’s server IP address could not be found."

So, I think that there must be according links

[2020-02-22 05:26] RandellDawson commented on #38248
I removed the middle link and added valid urls for the other two.  Let us know if you are still having trouble with this forum topic.

Thank you.

[2020-02-22 05:26] #38248 closed

[2020-02-22 07:17] hassaanp commented on #38204
@RandellDawson hi, did you get a chance to review this?

[2020-02-22 19:51] rdm100 commented on #38200
Hi, @QuincyLarson @raisedadead could I work on this?

Which file should the changes from [#37952 ](https://github.com/freeCodeCamp/freeCodeCamp/pull/37952) go into?

Also what are the multiple files that need audited and combined into one to then move on to the common config location?

[2020-02-23 02:26] Manish-Giri commented on #37817
@QuincyLarson I did, I had also spoken briefly with Mrugesh on the changes I intend to make for this, but I had to step away for a few weeks for interview prep. I'll get back on this right away, sorry for the delay.

[2020-02-23 18:20] mikecullen76 opened #38252 "TypeError: Cannot read property 'presets' of undefined"
Hello, I receive this error message:

TypeError: Cannot read property 'presets' of undefined

With this challenge:

https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-data-structures/add-items-to-an-array-with-push-and-unshift.english.md

Solution:

[code]

Link to page with problem:
https://www.freecodecamp.org

[2020-02-24 01:20] RandellDawson commented on #38252
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-02-24 04:51] MudassirAli619 commented on #10128
above <p> write <!-->

[2020-02-24 05:05] raisedadead commented on #38200
You should look at the linked pull request that we closed. Then a quick search using your favorite code editor will give you the list of the files.

We would want to keep the files in the common utils folder in the root of the repository.

[2020-02-24 09:01] ojeytonwilliams commented on #38252
This isn't a problem with the user's code, when I use their code the tests pass.  It's probably related to #38077 since I changed how the presets were loaded.

@mikecullen76 are you still seeing this problem?

[2020-02-24 14:29] mikecullen76 commented on #38252
@ojeytonwilliams Thank you, the problem is now solved.

[2020-02-24 14:29] #38252 closed

[2020-02-24 15:08] raisedadead commented on #38164
@hassaanp if you are interested in this here is a plugin that I intend to add to the client application:

https://github.com/itgalaxy/generate-robotstxt

Feel free to work on this.
Thanks.

[2020-02-24 15:56] ojeytonwilliams opened #38254 "Slow react tests"
**Describe your problem and how to reproduce it:**
Several React challenges have asynchronous tests that include numerous timeouts.  This can cause `npm run test` to fail randomly causing ci tests to, mistakenly, flag a commit as failing when it should not.  Most recently curriculum/challenges/english/03-front-end-libraries/react/add-event-listeners.english.md failed, but it may not be the only on

[2020-02-25 06:16] hassaanp commented on #38164
@raisedadead - acknowledged.

[2020-02-25 06:42] ahmadabdolsaheb commented on #37701
@LarryHu0217 yes please.

to compare you need to run ghost locally. here are some pointers:
https://github.com/freeCodeCamp/freeCodeCamp/issues/37921#issuecomment-585603396

[2020-02-25 06:45] ahmadabdolsaheb commented on #38197
Thank you for your interest. I need to look into our ghost config since we need to change meta only for specific pages.

do you have ghost running locally?

[2020-02-25 06:58] ahmadabdolsaheb commented on #38009
@LarryHu0217, of course. currently we will most likely include the dawn theme that is used the forum for now.

[2020-02-25 07:14] ahmadabdolsaheb commented on #38123
Although I agree with @RandellDawson and @moT01, it would not hurt to add gery to the test since some users are genuinely getting confused.

I'm fine with it either way.

[2020-02-25 07:23] RandellDawson commented on #38123
OK, someone go ahead and create a PR to allow either `grey` or `gray`.

[2020-02-25 07:29] hassaanp commented on #38164
Pushed a PR.

I have tested the code on my local setup by building the client and serving it via npx.
The learn page shows that the meta tag for `noindex` is added. The appropriate robots.txt is also generated.
I have used [this](https://www.gatsbyjs.org/packages/gatsby-plugin-robots-txt/) plugin to generate the robots.txt file. If I am not wrong, the plugin is built upon the one referenced by @ra

[2020-02-25 13:23] Senipah opened #38261 "Data Visualization with D3 - Array described as 3d has only 2 dimensions"
**Describe your problem and how to reproduce it:**

I'd like to submit a suggestion for a clarification in the explanation used in the following lesson:

# Data Visualization with D3: Use the d3.max and d3.min Functions to Find Minimum and Maximum Values in a Dataset

The instructions in this lesson refer to variable `positionData` which is defined as:

`const positionData = [[1, 7, -4],[6, 3, 8],

[2020-02-25 13:33] naima-shk commented on #38070
@Manish-Giri  Can i try this one ?

[2020-02-25 15:18] moT01 commented on #38261
How about this...
[code]

I would also get rid of the `Note` and `Fun fact` sentence.

[2020-02-25 15:48] rdm100 commented on #38200
Hi, @raisedadead this might be a stupid question, but I'm not sure what I should be searching for in the code editor?

I looked at the files in the repository on the branch from the closed pull request and do not see any other folders that contain a resources.json file, which is where the congratulatory quotes were stored within the api-server/server/utils/ folder.

[2020-02-25 19:23] Senipah commented on #38261
@moT01 Good suggestion. I think this still conveys the author's intended message without potentially misleading the student's understanding of what constitutes a dimension in the context of an array.

[2020-02-25 19:27] QuincyLarson opened #38265 "Forum badge images aren't showing up"
The badges page of freeCodeCamp's forum doesn't show the badge icons anymore. Even though we are emphasizing text over icons, this is a case where we do want to show the big icons that we had before.

Here's how our https://www.freecodecamp.org/forum/badges looks:

<img width="1385" alt="Badges_-_The_freeCodeCamp_Forum" src="https://user-images.githubusercontent.com/985197/75280136-7ff91380-57d2-1

[2020-02-26 00:26] chuckadams opened #38268 ""<b>Stanford University.</b>" is wrong"
**Describe your problem and how to reproduce it:**

If you didn't see the problem in the title, then you have lots of company.

An issue that comes up at least once a week involves the "wrap the bold tags around ``Stanford University’’ challenge (I can’t seem to find it in the TOC for some reason), where we have to tell people to not include the period at the end. I know attention to detail is a b

[2020-02-26 01:10] LarryHu0217 commented on #38197
Yes I have!@ahmadabdolsaheb

[2020-02-26 06:08] raisedadead commented on #38200
No worries, ask as many questions as you like. We are happy to help.

You would be correct, if you went looking for `resources.json`.

If your code editor allows searching in all files at once then look for one of the strings like `Over the top` for example, in all the files.

You would hit multiple json files. We would want them to be consolidated into one, which also means we replace how these o

[2020-02-26 06:41] raisedadead commented on #38164
Thanks for researching this and using a more customisable plugin. In this case, let's take this further and make sure that the only `/learn/*` paths are not indexed (which I assume the current PR does).

Also, I see there are options for picking up env values for host, etc. Lets implement those and configure this to be able to deploy for `www.freecodecamp.org`, `www.freecodecamp.dev` and so on.

[2020-02-26 08:59] raisedadead commented on #38268
Hi @chuckadams we should make the tests a little flexible instead. Please link the challenge in the OP and someone can pick this up.

[2020-02-26 09:22] ojeytonwilliams commented on #38261
If anyone wants to make a PR using Tom's suggestion, it would be very welcome.

[2020-02-26 14:56] AshNaz87 commented on #38261
I'd like to take this issue

[2020-02-26 15:01] RandellDawson commented on #38261
@AshNaz87 Looks like @Senipah has already created a PR for this issue.

[2020-02-26 15:17] rdm100 commented on #38200
@raisedadead cool thanks, ah ok, I hadn't realised my code editor did that, just because I've never had to do that before. I'm trying to get some open source experience and finding it difficult to get involved with different projects, as a lot of the bugs that I see seem too complex for me to fix.

I am quadriplegic from a spinal cord injury which has hindered me being able to get a development ro

[2020-02-26 16:35] AshNaz87 commented on #38261
Missed it 😨

[2020-02-26 17:07] rdm100 commented on #38200
@raisedadead @QuincyLarson  hey, ok so I found 3 files containing congratulatory quotes. I have compared the files in an app called DiffMerge to see the difference in content between them.

So I should take all unique content from the 3 files and consolidate them into one file containing congratulatory quotes and also remove the questionmarks, is that correct?

[2020-02-26 17:49] LarryHu0217 commented on #37701
I can't find the file that contain the word of news. What do you mean to run ghost locally. @ahmadabdolsaheb

[2020-02-26 17:54] LarryHu0217 commented on #38197
I am not sure about what is ghost running. Also, I can't find the update file in the Chinese file. Could anyone give the path maybe? @ahmadabdolsaheb @miyaliu666

[2020-02-26 18:02] LarryHu0217 commented on #38268
I can help with this one, if someone can specify which specify challenge and which is the actually issue on the page @chuckadams

[2020-02-26 19:09] #38235 closed

[2020-02-26 19:19] raisedadead commented on #38200
Hi @rdm100

Thanks a lot for sharing your story. freeCodeCamp strives to be a resource for everyone.

As for getting started, I highly recommend our [how to contribute to open source guide](https://github.com/freeCodeCamp/how-to-contribute-to-open-source).

As for this PR I would advice you to give [guidelines for contributing](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.

[2020-02-26 19:22] raisedadead commented on #38268
Hi @LarryHu0217 looks like this issue has been picked up by someone. I would encourage you to reach-out to [contributors chat room](https://gitter.im/FreeCodeCamp/Contributors) seeking help in identifying issues that you could help us with.

Issues that are tagged `help wanted` are open for contribution, and do not need prior approval. The first PR (that resolves the issue) is typically merged.

T

[2020-02-26 19:26] RandellDawson commented on #38268
@LarryHu0217 [This is the challenge file](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/01-responsive-web-design/applied-visual-design/use-the-strong-tag-to-make-text-bold.english.md) that needs the test (line 29) updated.

[2020-02-26 19:40] raisedadead commented on #38268
Hi @LarryHu0217 we have gone ahead and assigned you the issue, please let us know if you are interested and would be making a PR.

Thanks

[2020-02-26 23:47] LarryHu0217 commented on #38268
I think I figure out the solution. @raisedadead

[2020-02-26 23:49] LarryHu0217 commented on #38268
How can I submit my pull request? @RandellDawson

[2020-02-27 00:00] RandellDawson commented on #38268
@LarryHu0217 Start by [reading our contributing guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md).  You will need to also read the [How to work on coding challenges](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/docs/how-to-work-on-coding-challenges.md) guide.  If you get stuck or have further questions, please use our [Contributors channel on Gitter]

[2020-02-27 06:51] hassaanp commented on #38164
The default values are picked from the `siteMetadata` in the config, which I assume will have the appropriate `${siteMetadata.siteUrl}` defined when deploying for either mentioned URLs.

Yes, this PR is only targetting the `/learn/*` path. I have pushed another commit that removes the `noindex` header in the unmount lifecycle method to ensure it is not persisted across other paths.

[2020-02-27 07:02] ahmadabdolsaheb commented on #37701
so news is using a CMS called ghost. you need to install and run that locally.
https://medium.com/@letian1997/how-to-install-and-try-ghost-blog-in-your-own-computer-64616fc4fbfb

Additionally you should use our ghost theme https://github.com/freeCodeCamp/news-theme to compare the styles between navigation.

let me know if you have further questions.

[2020-02-27 07:10] ahmadabdolsaheb commented on #38197
we have a Chinese branch on our ghost theme
https://github.com/freeCodeCamp/news-theme/tree/lang-chinese

[2020-02-27 08:21] ahmadabdolsaheb opened #38277 "Adding Video format courses"
We are in the process of utilizing our popular youtube tutorials into video courses that include transcripts, and pop up multiple choice questions. In summary, large videos will be divided into smaller sections with multiple choice questions at the end of each.

Here are the user stories.
1) users should see the video courses in the learn map
2) users' progress should be saved
3) users should see

[2020-02-27 09:46] raisedadead commented on #38164
Gosh! That reminds me that we need to make this dynamic:

https://github.com/freeCodeCamp/freeCodeCamp/blob/882cddd80076b232882c8960a784499d95e816e7/client/gatsby-config.js#L12-L14

Will you be interested in handling that in this same PR. If not let me know we can tackle this separately.

[2020-02-27 10:35] ahmadabdolsaheb commented on #38197
@miyaliu666, I changed the tile and description from the ghost admin and then visiting general
Also I removed the top most message while I was at it.

thank you for your patience, and let me know if I could be of any help.

[2020-02-27 10:35] #38197 closed

[2020-02-27 12:58] rdm100 commented on #38200
@raisedadead I will check out all the links on contributing you suggest.

I have already searched the project with atom and found the 3 files that contain the congratulatory quotes.

I have also found how the 2 words.json files are wired to the code and logic and will be able to adjust that to the new consolidated file, but I cannot find any reference to the 3rd file that contains congratulatory q

[2020-02-27 13:27] raisedadead commented on #38200
If you did not find an import, it has been removed from use, which is good and should not affect your changes.

[2020-02-27 15:36] AshNaz87 commented on #38268
Am happy to do this if required

[2020-02-27 17:49] LarryHu0217 commented on #38268
[use-the-strong-tag-to-make-text-bold.english.zip](https://github.com/freeCodeCamp/freeCodeCamp/files/4263113/use-the-strong-tag-to-make-text-bold.english.zip)

[2020-02-27 17:50] LarryHu0217 commented on #38268
I just submit my solution first, and then find if  there is a way to open a new PR.
@chuckadams

[2020-02-27 17:53] RandellDawson commented on #38268
@LarryHu0217 Please refer to the contributing guidelines I reference in a previous reply.  Everything you need to know about creating a PR is in the documentation.  If you get stuck, ask questions in the [Contributors room on Gitter](https://gitter.im/FreeCodeCamp/Contributors).

Thank you.

[2020-02-27 18:39] alti21 commented on #37961
Hi can I work on this?

[2020-02-27 18:41] jonbesga commented on #15564
`/Tim{4}ber/g` doesn't actually work. And complains about the third test not being valid (testing the "Timmmmber" word)

I understand that the `g` flag is not stricly necessary. However, the test is misleading.

[2020-02-27 18:56] gromovadarya90 opened #38278 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 19:42] #38278 closed

[2020-02-27 19:49] gromovadarya90 opened #38279 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:01] #38279 closed

[2020-02-27 20:14] RandellDawson commented on #38278
@beaucarnes Can you please ban this user?

[2020-02-27 22:00] renata2216 opened #38282 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

[2020-02-27 22:05] #38282 closed

[2020-02-27 22:21] renata7738 opened #38283 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"

[2020-02-27 22:28] #38283 closed

[2020-02-28 02:07] a2-zubair commented on #38151
@raisedadead @scissorsneedfoodtoo @ahmadabdolsaheb
Hi guys, How do you doing? I have facing login problem once again. Below I share my problem, please take a look.

![1](https://user-images.githubusercontent.com/6688141/75503289-7dc7cc80-59ff-11ea-9884-5afb3d876030.jpg)
.
.
.
![2](https://user-images.githubusercontent.com/6688141/75503326-90da9c80-59ff-11ea-9f06-f874cf769d5c.jpg)
.
.
.
Also I trie

[2020-02-28 04:06] raisedadead commented on #38151
Hi I am unable to reproduce the issue in the screenshot, are you sure nothing on your network or a browser extension is blocking this.

Also we have removed GitHub login from forum in favor of the login using freeCodeCamp.org

You can always send yourself a forget password link on your email, in case you want to login directly to the forum.

[2020-02-28 05:18] a2-zubair commented on #38151
@raisedadead Hi, thanks for your reply. No, I'm not use any blocking extension. I don't know why I'm facing this problem second time in one month. You know that I'm using Firefox 73.0.1

But here is the chrome result, please take look below :

![4](https://user-images.githubusercontent.com/6688141/75512412-99d96700-5a1b-11ea-88d8-3a0f5de9d235.jpg)

after passing "I'm robot" I got this :

![5](http

[2020-02-28 06:25] helen78989 opened #38295 "Need to delete"

[2020-02-28 06:31] #38295 closed

[2020-02-28 06:47] raisedadead commented on #38151
Could this be your Internet Service Provider? Network (School or Work)? Can you share the general region you are in like City or Country (do no share specifics)? Is there any possibility of any censorship?

[2020-02-28 07:31] scissorsneedfoodtoo commented on #38151
@a2-zubair, I'm not able to reproduce this on the latest versions of Chrome or Firefox either.

It's possible that you're getting the old headers somehow, which is why you're getting those errors about the CORS policy and $ not being defined. That or there is an ad blocker running that we can't see.

Could you open an incognito window and try signing in there?

[2020-02-28 09:59] raisedadead commented on #38151
Their ISP / network etc. could be caching things disrespecting our CDN, for reasons of bandwidth. This is something we do not have control over mostly.

[2020-02-28 15:08] ojeytonwilliams opened #38299 "Chinese challenges needing auditing (Responsive Web Design)"
Following on from https://github.com/freeCodeCamp/freeCodeCamp/pull/38040 these are the Chinese challenges that may need looking at.

This issue only covers challenges in the **Responsive Web Design** certification.

All the challenges below have Description or Instructions sections with changes to the English version after December 1st, 2019.  Also, any challenges with `Tests` where at least one

[2020-02-28 17:01] ojeytonwilliams opened #38300 "Chinese challenges needing auditing (Javascript Algorithms and Data Structures)"
Following on from https://github.com/freeCodeCamp/freeCodeCamp/pull/38040 these are the Chinese challenges that may need looking at.  This issue covers Javascript Algorithms and Data Structures

First the challenges that have been moved

**Javascript Algorithms and Data Structures**

es6/understand-the-differences-between-import-and-require.chinese.md
renamed to
reuse-javascript-code-using-import

[2020-02-28 20:05] RandellDawson commented on #37961
@alti21 To resolve this issue involves more than just adding a new user story description.  You would also need to update the user story in the [testable-projects-fcc repo](https://github.com/freeCodeCamp/testable-projects-fcc) and update the applicable tests associated with the challenge.

[2020-02-28 22:14] AshNaz87 commented on #38268
@RandellDawson PR submitted

[2020-02-29 06:02] #38268 closed

[2020-02-29 08:19] RandellDawson commented on #38299
@raisedadead I have updated the issue body to show all the challenges that need to be reviewed since the work was started in December of 2019 on converting the English version to the Chinese version for the Responsive Web Design section.

[2020-02-29 12:51] naima-shk commented on #38070
@RandellDawson  Can i try this one please? :)

[2020-02-29 14:00] ikenna4peace commented on #38268
I don't really understand

[2020-02-29 15:31] hassaanp commented on #38164
Apologies for the delay.
I have pushed a commit to make the siteUrl dynamic via the .env
Kindly review @raisedadead

[2020-02-29 20:18] RandellDawson commented on #38070
@naima-shk Sure.  Go ahead and create a PR.

[2020-02-29 20:54] snigo commented on #38204
There will be countless other ways to reassign method :) Are you sure you want to track it with regex, it's a bit painful to watch to be honest.

Maybe something like this:
[code]

[2020-03-01 00:27] LarryHu0217 opened #38306 "404 error for Free Code Camp Pull Request"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
This is a broken website page when clicking on the hyper line on "How to Setup and Maintain a Local Instance of Free Code Camp" inside the the page titled "Editing via your Local Fork (Recommended)"

**To Repro

[2020-03-01 00:32] RandellDawson commented on #38306
@LarryHu0217 Can you tell us how you found that Guide page to begin with?  Was it linked from the contributing guide on GitHub?

[2020-03-01 00:34] LarryHu0217 commented on #38306
I find it on the GitHub contribution page.@RandellDawson

[2020-03-01 01:08] RandellDawson commented on #38306
@LarryHu0217 I meant where specifically?  Which document and where in the document is the link to this particular Guide page?

[2020-03-01 01:24] LarryHu0217 commented on #38306
I just search on the freecodecamp website. I don't remember which guideline

[2020-03-01 01:43] RandellDawson commented on #38306
Those guides are deprecated.  The only documentation for contributing you need to read through starts [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md).

[2020-03-01 04:46] a2-zubair commented on #38151
@scissorsneedfoodtoo @raisedadead Hi guys, thanks for your reply and support and  sorry for late reply. I don't know why this problem is happening? is it my ISP network or anything from my firefox browser like tracker and content blocking is enabled or something. But I also tried to login using chrome but same problem I faced there.

So, I don't know how to solve it but I found a way to login my a

[2020-03-01 06:35] #38261 closed

[2020-03-01 07:37] raisedadead commented on #38151
I am afraid we are unable to assist here, this seems to be something specific to your setup, system and network.

Apologies and good luck.

[2020-03-01 13:18] raisedadead commented on #38164
Left some additional comments, this is mostly ready.

[2020-03-01 13:20] raisedadead commented on #38306
Thanks for reporting this.

We are in the process of improving all the guide articles and migrating them over to /news. (The Guide codebase and its many contributions will remain on GitHub.)

So rather than spending time to fix this specific issue, we will stay focused on finishing this big migration as fast as possible.

[2020-03-01 13:20] #38306 closed

[2020-03-01 13:22] raisedadead commented on #38299
Hi @freeCodeCamp/chinese team, can you please go through the OP and prioritise this audit and any changes via pull requests.

Thanks.

[2020-03-01 13:40] raisedadead opened #38307 "[CODE FREEZE : snowflake:] | master branch on freeze"
Hello Everyone!

This issue is used to announce code freeze on branches as and when needed. If you find this issue open and pinned on the repo, the code freeze in effect.

<details>

<summary><strong>What is a code freeze?</strong></summary>

<br>

A code freeze is when we are not accepting any pull-requests without the approval of the @freeCodeCamp/dev-team. This is because we are in the middle o

[2020-03-01 13:41] raisedadead opened #38308 "[CODE FREEZE] master branch not accepting pull requests"
Hello Everyone!

This issue is used to announce code freeze on branches as and when needed. If you find this issue open and pinned on the repo, the code freeze in effect.

<details>

<summary><strong>What is a code freeze?</strong></summary>

<br>

A code freeze is when we are not accepting any pull-requests without the approval of the @freeCodeCamp/dev-team. This is because we are in the middle o

[2020-03-01 13:44] raisedadead commented on #38308
Code Freeze for https://github.com/freeCodeCamp/freeCodeCamp/issues/38299

Right now we want to be able to bring the Chinese translation for the Responsive Web Design certification at par with the English version.

All PRs will go thru the dev team for a little bit while the Chinese translation team if working on fixing the issue. This limitation will be lifted soon.

Thanks for your patience.

[2020-03-02 09:30] hassaanp commented on #38265
Hi,

I was able to find and fix the issue on my fork of the discourse-theme repo.
A little unsure of the workflow/guideline for submitting PRs to the target repository since it is disjoint from the main one.

Here is the [link to the PR](https://github.com/freeCodeCamp/discourse-theme/pull/20)

[2020-03-02 14:49] caleb-mabry opened #38310 "CSS Grid: Comment in the CSS"
**Describe your problem and how to reproduce it:**

The code is listed as
[code]
When you try to submit it is failing because there is a comment in the `grid-template-areas`. If you move the comment outside of the `grid-template-areas` the code will pass. I believe it would be better to have put it as:
[code]
**Add a Link to the page with the problem:**
[https://www.freecodecamp.org/learn/responsi

[2020-03-02 17:03] gullahoo commented on #37782
This apparently has to do with how Javascript's implementation of float.h will somehow read the exponent wrong and mix up its interpretation of the significand - in which case the problem which needs to be fixed lies deep in the roots of your Node.js.   If (and only if) you want more info I will forward a bit more about the barebones of it

[2020-03-02 17:11] Ieahleen opened #38311 "Changing order of rules, the tests fail [Applied Visual Design: Create Movement Using CSS Animation]"
**Describe your problem and how to reproduce it:**
In the Applied Visual Design: Create Movement Using CSS Animation challenge, if you add the left offset property as required by the challenge, but you add it above the existing top offset property, the tests fail

With code
[code]
the tests still say
[code]

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive

[2020-03-02 21:07] RandellDawson opened #38312 "Need to update a few challenges' test texts to wrap certain values in code tags to prevent translation in other languages"
Following up on the [comment on PR 38309](https://github.com/freeCodeCamp/freeCodeCamp/pull/38309#discussion_r386444356), the following English challenge tests need to be updated as described, as the non-English version were translating these when they should not have been translated.

* Standardize Times with the HTML5 datetime Attribute
**Issues:** All tests need to be re-translated

* Use the s

[2020-03-02 23:36] frankarinze commented on #37701
@LarryHu0217 if you need someone to join you on this issue i will be more than happy to help out

[2020-03-03 00:32] elisecode247 opened #38313 "Change Solution 2 for Algorithms: Inventory Update"
Link: https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-inventory-update/16019

Solution 2 uses nested maps to mutate the array. This is an anti-pattern.

[Source: MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map)

`.map()` is a higher-order function, and using it to mutate the calling array will confuse learners about its purpose.

[2020-03-03 01:08] RandellDawson commented on #38313
@elisecode247 We could change all the `map`s to `forEach`s.  Would that suffice?

[2020-03-03 03:25] elisecode247 commented on #38313
Yes, that works.

[2020-03-03 03:31] RandellDawson commented on #38313
@elisecode247 Done.

[2020-03-03 03:31] #38313 closed

[2020-03-03 05:48] millwala53 commented on #38312
I would like to work on this issue, please.

[2020-03-03 06:30] millwala53 commented on #38312
@RandellDawson  I have managed to fix all the issues, just need some clarification related to the first issue.
Standardize Times with the HTML5 datetime Attribute, When you say all tests need to be re-translated do you mean that the important text in each test e.g "Thursday, September 15&lt;sup&gt;th&lt;/sup&gt;" in test 2 need to be wrapped in a code tag so they aren't translated?

[2020-03-03 08:52] ahmadabdolsaheb commented on #38245
the above mentioned issue has been addressed and currently only Reply is capitalized on our theme for consistency.

[2020-03-03 08:52] #38245 closed

[2020-03-03 13:45] RandellDawson commented on #38312
@millwala53 I mean the Chinese version of this challenge was never updated with [the changes made to the English version on June 28th, 2019](https://github.com/freeCodeCamp/freeCodeCamp/commit/438e7d4c51389363a445040c4d518d01589734b2#diff-4959fbcb7d95c0dc2360d36bb5fd2807).  This means the all of the `text` needs to be modified so that the parts in quotes are surrounded by `code` tags and the rest

[2020-03-03 13:48] RandellDawson commented on #38312
@millwala53 In the time I wrote my last comment @Sky020 created a PR to resolve this issue.

[2020-03-03 15:27] #38164 closed

[2020-03-03 19:59] fernandousmail opened #38317 "Wrong instructions"
Challenge: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/nesting-for-loops

" Modify function multiplyAll so that it multiplies the product variable by each number in the sub-arrays of arr"

That would mean multiplying each number in the sub-arrays of ‘arr’ by 1, while the “official” solution of the challenge is (product *= arr[etc. etc.] since the p

[2020-03-04 14:18] moT01 commented on #38317
I see very few people making this mistake on the forum. I came across one post where someone did. So I guess, we could maybe make it a little more clear.

I don't like this because it's not really what the challenge was designed to have happen.

This isn't bad, but then the hints and solution would need to be updated. So I would prefer to just change the instructions around a little so it's more c

[2020-03-04 16:22] rdm100 commented on #38200
Hi there, I just submitted a pull request for this let me know if it is ok?

[2020-03-04 16:26] raisedadead commented on #38200
Thanks for the PR, its not made to the correct upstream repository. I recommend you read our [guidelines for contributing](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md), which has detailed steps.

[2020-03-04 17:12] mtorcellini commented on #38317
Hi, I've never contributed to an open-source project before and Free Code Camp is one of the resource that got me into coding in the first place, so if there's an opportunity to help it'd be awesome!

I was thinking that the instructions aren't too bad on this example, but it could help to include an example of how the code should work. I would probably just add a line under the current instructio

[2020-03-04 17:22] RandellDawson commented on #38317
I don't know about adding this example.  It feels unnecessary.

[2020-03-04 17:55] rdm100 commented on #38200
@raisedadead sorry I have read the guidelines for contributing, but do not understand  what I have done wrong, could you help guide me how to make the pull request to the correct upstream repository?

[2020-03-04 18:00] Sky020 commented on #38317
I agree with changing the wording. What about this:

Modify function `multiplyAll` so that it performs repeated multiplication on the `product` variable with each number in the sub-arrays of `arr`.
**<p align="center">OR</p>**
Modify function `multiplyAll` so that it multiplies each number in the sub-arrays of `arr` with one another times the `product` variable.

Those are the only ways I can thin

[2020-03-04 18:17] RandellDawson commented on #38200
@rdm100 You should have forked the `freeCodeCamp` repo and made changes on a branch of your fork and then targeted the `master` branch of the `freeCodeCamp` repo.  As it stands now, your branch may not include changes to the very files you modified, because you did not create your working branch off your forked `freeCodeCamp` repo.

[2020-03-04 18:19] RandellDawson commented on #38317
I personally do not see a reason to change this challenge at all, but if we were going to change it, then I would go with @Sky020's second option.

[2020-03-04 18:39] rdm100 commented on #38200
@RandellDawson thanks for the information. I thought I had forked the freeCodeCamp repo, so I'm not sure what I did wrong still, when I forked the freeCodeCamp repo the fix/update-congratulatory-quotes was the branch displayed, should the branch being displayed be the master when I fork the repository, so is that where I went wrong?

Thanks for your patience, much appreciated.

[2020-03-04 18:52] RandellDawson commented on #38200
@rdm100 You appear to have forked from:

which is 220 commits behind the `master` branch of the of the correct repo (shown below):

I suggest closing the PR you created,  fork the correct repo, and start the process over to create a pull request.

[2020-03-04 18:56] moT01 commented on #38317
I like this...

Use a nested loop to make the `multiplyAll` function return the product of all the numbers in the sub-arrays of `arr`.

[2020-03-04 19:01] rdm100 commented on #38200
@RandellDawson ah I see thank you for the correction. I thought the repository I had forked had been the original, when clearly I should have seen it had been forked already! I will redo it correctly and submit another pull request.

[2020-03-04 19:26] LSFerrand opened #38319 "Bug on CSS Grid: Divide the Grid into an Area Template"
I'm learning how to code on your site and it's super! Just that I'm blocked on one particular question on CSS Grid: Divide the Grid into an Area Template. The instruction was to change the "advert" cell into empty cell. I removed "advert" and put (.) but it didn't work and I cannot move on to the next question.

Original code:

.container{
"header header header"
"advert content content"
"footer fo

[2020-03-04 19:28] RandellDawson commented on #38319
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-03-04 19:28] #38319 closed

[2020-03-04 21:12] fernandousmail commented on #38317
I would take this sugestion:
_" Modify function multiplyAll so that it performs repeated multiplication on the product variable with each number in the sub-arrays of arr."_

That will be hard to crack but at least the logic would make sense. Or maybe this problem should be changed for another problem that serves a similar pedagogical purpose? Perhaps even worth removing?

[2020-03-05 08:47] ahmadabdolsaheb commented on #36819
It would be more straight forward to offer dark/light switch only for show it for logged in users, so we could keep track of the user preferences across devices and in the future across services.

we currently have the theme switch in the menu on the forum, I could move that to the navigation as well.

I am not sure if we are planning to offer themes on news at this point ?

[2020-03-05 10:18] raisedadead commented on #36819
I think tracking the theme and trying to sync it is a bad idea. Youtube, Twitter, etc. track it per browser in a cookie etc.

This is also the case for discourse:

![image](https://user-images.githubusercontent.com/1884376/75972018-a288dc00-5ef8-11ea-9fbe-ede1335d3dba.png)

You would be able to avoid the flash of the default/night theme, and not to mention if used correctly we would not need to sh

[2020-03-05 14:31] rdm100 commented on #38200
@raisedadead @RandellDawson @QuincyLarson Hi there, I just submitted a pull request for this let me know if it is ok?

[2020-03-05 14:33] raisedadead commented on #38200
Thanks, we will review it in due course. The dev team usually gets pings when a PR is opened. Thanks for your patience.

[2020-03-05 20:52] RandellDawson commented on #38299
@raisedadead I think we can close this issue now, since PR #38309 made changes as a result of the audit of the files above.

[2020-03-05 22:25] #36692 closed

[2020-03-05 22:28] RandellDawson commented on #36739
@raisedadead Should we close this?

[2020-03-05 22:35] RandellDawson commented on #38024
@snigo We could specify that in the instructions.  How could we test to make sure it is on one line?

[2020-03-06 02:27] #38299 closed

[2020-03-06 05:12] #36739 closed

[2020-03-06 06:17] graphetes commented on #12998
Why can't people actually help here, not many people to no one is in the chat.

[2020-03-06 06:28] RandellDawson commented on #12998
@graphetes If you need help with a curriculum challenge, please use [our forum](https://freecodecamp.org/forum) for the fastest response.

[2020-03-06 07:14] #38311 closed

[2020-03-06 08:29] povilasraciunas opened #38322 "Unsubscribe link not working"
1. Getting emails from quincy@freecodecamp.org
2. Tried clicking on unsubscribe link (https://www.freecodecamp.org/ue/WWtGC_9cRB0T0oqlPD8sw)
3. Getting "Oops! Something went wrong. Please try again in a moment." error message every single time I press on link.
4. Result: not possible to unsubscribe.

[2020-03-06 16:26] BoyeongYoon opened #38323 "Broken links from the forum"
**Describe your problem and how to reproduce it:**
The relevant links are broken.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-title-case-a-sentence/16088

**Tell us about your browser and operating system:**
* Browser Name:  Google Chrome
* Browser Version:
* Operating System: MacOS

**If possible, add a screenshot here (you can d

[2020-03-06 21:28] jeremylt opened #38325 "Rosetta Code Fibonacci - Off by One"
**Describe your problem and how to reproduce it:**
There is an off by one error in the challenge description vs the test suite for this problem. According to the challenge description (and all of the official descriptions of the sequence https://oeis.org/A000045), the Fibonacci sequence uses zero based indexing. The test suite uses one based indexing. The test suite should be updated to reflect ze

[2020-03-06 22:18] RandellDawson commented on #38325
@jeremylt I could be mistaken, but no where in the challenge does it state that the argument passed to the function represents the index.  Instead, it just refers to the `i`th term.  The 3rd term in the Fiboncci sequence would be 1.  The 5th term would be 3.  The 10th term would be 34.  That is what the tests are checking.

[2020-03-06 22:22] jeremylt commented on #38325
The description uses F_n and nth in conjunction. If the description uses F_n, n must be zero based indexing. I understand how the tests want you to code the solution. It's just mathematically incorrect given that the description refers to F_n.

[2020-03-06 22:28] RandellDawson commented on #38325
@jeremylt Would you mind highlighting what part of the link you referenced that state F_n is zero-indexed.  I am unable to see what you are referring to.

[2020-03-06 22:35] jeremylt commented on #38325
Sure
"A000045 		Fibonacci numbers: F(n) = F(n-1) + F(n-2) with F(0) = 0 and F(1) = 1."
F_0 and F(0) are equivalent nomenclature.
Zero based indexing is also the norm when students Google Fibonacci, so I think bringing this challenge in line with standard notation reinforces Googling for info.

[2020-03-06 22:57] RandellDawson commented on #38325
@snigo Comments?

[2020-03-07 02:15] fernandousmail opened #38328 "Program aplication is wrong"
Challenge: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/use-getters-and-setters-to-control-access-to-an-object

If user were to SET a farenheit temperature, it would be passed through the celsius to farenheit equation storing a wrong value

[2020-03-07 03:02] RandellDawson commented on #38328
@fernandousmail Not exactly sure what you mean.  The `Thermostat` should be initialized by passing a value in Fahrenheit.    After initialization, a user should be able to **set** the temperature in Celsius.  Regardless, the **get** should always return the value in Celsius.

[2020-03-07 03:02] RandellDawson commented on #38328
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-03-07 03:02] #38328 closed

[2020-03-07 07:04] enigma0160 opened #38329 "Broken Tests on challenge Basic CSS: Use Attribute Selectors to Style Elements"
**Describe your problem and how to reproduce it:**
This is expected to work, and it works in the preview.
There is a space before and after the `=` symbol.
[code]
It fails tests with this error, although it is expected to pass.
[code]
The same code without the spaces passes.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/basic-css/use-attribu

[2020-03-07 07:45] hassaanp commented on #38325
My two cents:
I believe that @jeremylt has a point. The formula described states f(0) = 1 f(1)=1 f(2) = 1 ... But the result expected is fibonacci(1) = 0 fibonacci(2) = 1 fibonacci(3) = 1 which can be a cause of confusion.

If we use the mathematical form, the solution should be:
[code]

In the current form, the solution expected is:
[code]

I know there is not much difference, but I remember goin

[2020-03-07 07:52] hassaanp commented on #38323
@RandellDawson the links mentioned have the incorrect base url. It is supposed to be `.org` instead of `.com`

Don't have access to edit this.

[2020-03-07 08:25] snigo commented on #38325
I agree with 0-based indexing, so `fibonacci(10)` would be `55`.

[2020-03-07 08:38] snigo commented on #38317
"Multiplying product variable by each number" sounds correct to me

I'm not sure it's possible to perform this without changing product variable. It's kinda implicit here

[2020-03-07 08:51] snigo commented on #38091
What if I run this:
[code]

In my opinion if you presume case insensitivity for the second argument (`'john' => 'John'`), it implicitly must be applied for the first argument as well, isn't it?

[2020-03-07 11:17] #38138 closed

[2020-03-07 11:19] raisedadead commented on #38138
![image](https://user-images.githubusercontent.com/1884376/76142413-79508300-6093-11ea-97af-42409124457c.png)

### 🎉 Congratulations and Thanks 🎉

[2020-03-07 12:33] hassaanp commented on #38325
@RandellDawson I have pushed the required changes for this to be according to base 0.
Kindly review. Thanks.

[2020-03-07 13:34] RandellDawson commented on #38323
@hassaanp Yes, we are aware of this problem.  There are actually hundreds of such instances I found across the Guide.  We are working on a solution.

[2020-03-07 13:53] RandellDawson commented on #38138
@QuincyLarson @raisedadead It might be nice to add a hover-over and/or link over the `Top Contributor` verbiage that links to a page explaining what it means to be awarded this honor.

I say this because right below this designation, the heat map shows.  My current heat map looks below, because I have finished most of the challenges and do not complete very many (if any) each day.  Some might thin

[2020-03-07 14:00] raisedadead commented on #38138
Sure, please create and tag a help wanted issue.

[2020-03-07 15:07] tsabunkar opened #38332 "CSS Grid: Divide the Grid Into an Area Template"
CSS Grid Challenge : Place the area template so that the cell labeled advert becomes an empty cell.

[code]
But still **not** able to pass the test case : container class should have a grid-template-areas property similar to the preview but has . instead of the advert area.

[2020-03-07 15:10] tsabunkar opened #38333 "CSS Grid: Use Media Queries to Create Responsive Layouts"
CSS Grid Challenge : When the viewport width is 400px or more, make the header area occupy the top row completely and the footer area occupy the bottom row completely.

[code]

But still **not** able to pass the test case : When the viewport is 400px or more, container class should have a grid-template-areas property in which the header and footer areas occupy the top and bottom rows respectively

[2020-03-07 15:53] raisedadead opened #38334 "Add a help text about top contributors on the profile"
_Originally posted by @RandellDawson in https://github.com/freeCodeCamp/freeCodeCamp/issues/38138#issuecomment-596090813_

We would want to have a link to the news article that @QuincyLarson has posted. It could be right below the "Top Contributors" in small text.

Here is the link:
https://www.freecodecamp.org/news/fcc100-top-contributors-2019

[2020-03-07 16:10] RandellDawson commented on #38323
@BoyeongYoon @hassaanp This issue is now resolved.  A change was made to the DNS settings, so that `forum.freecodecamp.com` now correctly forwards to `freecodecamp.com/forum`.

[2020-03-07 16:10] #38323 closed

[2020-03-07 16:12] moT01 commented on #38332
Thanks for reporting @tsabunkar. I am closing as a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/38310

[2020-03-07 16:12] #38332 closed

[2020-03-07 17:30] moT01 commented on #38138
Looks good @raisedadead - what do you think about putting the years in an "array" ...
<img width="416" alt="Screen Shot 2020-03-07 at 11 24 06 AM" src="https://user-images.githubusercontent.com/20648924/76147872-552a7d00-6066-11ea-9130-c14ccb070443.png">

[2020-03-07 19:23] rocnogu opened #38335 "curriculum not on 100%"
short story: curriculum not on 100%
long story:
""Basic HTML and HTML5"" is ""Not Passed"" because ""Use the value attribute with Radio Buttons and Checkboxes"" doesn't complete.
 I complete it 3 times and it shows: ""Basic HTML and HTML5
100% complete""

but in the curriculum is not.

[2020-03-07 19:41] RandellDawson commented on #38335
@rocnogu I am not understanding what the problem is.  Can you explain how we can recreate the issue?

[2020-03-07 19:47] rocnogu opened #38336 "Night mode doesnt work by me."
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' https://www.freecodecamp.org/settings
2. click on night mode ON
4. See error: Something is n

[2020-03-07 20:19] RandellDawson commented on #38336
@rocnogu Are you logged into your account when this happens?

[2020-03-07 21:12] BoyeongYoon opened #38338 "Broken link from the forum"
## **Describe your problem and how to reproduce it:**
There is a broken link to the MDN docs.
- [Current link](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/prototype)
- [Might be a correct link](https://developer.mozilla.org/tr/docs/Web/JavaScript/Reference/Global_Objects/Array/prototype)

## **Add a Link to the page with the problem:**
[freeCodeCamp Chall

[2020-03-07 22:23] RandellDawson commented on #38338
@BoyeongYoon I have fixed this issue.  In the future, please create a forum topic under the Contributors category for anything to do with forum topics related to curriculum hints/solutions.  The forum content is separate from the freeCodeCamp repo, so it is best to alert mods under that category instead of creating a GitHub issue.

Thank you for letting us know about this problem.  I am closing th

[2020-03-07 22:23] #38338 closed

[2020-03-07 22:51] BoyeongYoon commented on #38338
I will create a forum topic in the future for this kind of issue. Thank you.

[2020-03-07 23:19] rocnogu commented on #38335
@RandellDawson   i finish the assignment but the system doesn't recognize it.

[2020-03-07 23:32] rocnogu commented on #38336
@RandellDawson
bot or something? your comments look absolutely random with quite zero connection to the reality. either a bot or ... very unintelligent person. which is fine by me as long as you keep a distance from me. so, if you don't know a solution, DO NOT POST ANY COMMENTS.
it says: Member of freeCodeCamp.org but that means you actually know the system. do you?
can you go to https://www.freec

[2020-03-07 23:44] lihuelworks commented on #14784
Same problem. Looked at it couple of minutes then skipped it. Seems like the issue exists since 2016, according to this post in _[freecodecamp's forum](https://www.freecodecamp.org/forum/t/freecodecamp-challenge-guide-use-css-selectors-to-style-elements/18349
)_
![2020-03-07_20-37](https://user-images.githubusercontent.com/49965980/76154042-6bf7c080-60b4-11ea-8466-8b89dfa90fa8.png)

[2020-03-07 23:46] RandellDawson commented on #38335
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-03-07 23:46] #38335 closed

[2020-03-08 00:50] bonginkosif commented on #37967
Sorry for my late reply.... As you pointed out on your earlier comment about the root account permission, docker and mongod services must be run with a root privilege, on the search i did i found out  you cant run container with root account.

but for does who dont want to change the root account like me just need to create an additional account and on your terminal just need to change account by

[2020-03-08 01:01] lasjorg opened #38341 "Update redux challenge to allow for backticks"
The challenge:
https://www.freecodecamp.org/learn/front-end-libraries/redux/use-const-for-action-types

Forum thread with more information:
https://www.freecodecamp.org/forum/t/backtick-strings-not-accepted/356848

The proposed change to the test:
https://www.freecodecamp.org/forum/t/backtick-strings-not-accepted/356848/4

New contributors are welcome.

[2020-03-08 01:08] tsabunkar commented on #38310
Still facing this issue, Please merge your PR before Closing the open issue. It would be difficult to track.

[2020-03-08 01:10] tsabunkar commented on #38310
Still facing this issue, Any update on PR #38314

[2020-03-08 01:16] lasjorg commented on #38336
@rocnogu There is no need for personal insults or caps. You may want to go over the [Contribution Guidelines](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/CONTRIBUTING.md) and read the [Code of Conduct](https://www.freecodecamp.org/news/code-of-conduct/).

1. Do you get any error messages in the console when you try to switch modes?

2. Can you try in [Incognito mode](https://support.g

[2020-03-08 01:17] bonginkosif commented on #37967
one last thing with mongodb u must create an admin user then run `mongod --port 27017 --dbpath /data/db
mongo --port 27017
mongod --auth --port 27017 --dbpath /data/db
mongo --port 27017 -u "myUserAdmin" -p "abc123" --authenticationDatabase "admin"`and make sure you are permitted to read and write on /data/db and add security configuration `/etc/mongod.conf` by running `sudo nano /etc/mongod.conf`

[2020-03-08 02:40] rocnogu commented on #38336
@lasjorg
i dint yet started the insults. its called personal observation. look it up.

1 what consoles and what modes? (did you actually read the ''To Reproduce'' ????? i have the feeling you didnt)

2 i don't have firefox at all. never had.

[2020-03-08 02:43] rocnogu commented on #38335
how about you do it?
it's literally your job.
or you are here just to spam random stuff till people get pissed off and leave?

[2020-03-08 02:55] rocnogu commented on #38336
hm.. after bit thinking...
console is the settings page?
modes is night/light modes?

regardless firefox ill just repeat my self:
i tried to log in from microsoft edge and torch browser but it failed. should i open one more bug report?

[2020-03-08 03:05] rocnogu opened #38342 "Oops! Something went wrong. Please try again in a moment."
**Describe your problem and how to reproduce it:**
can't log in from other browsers(edge and torch) than chrome
it gives me the ""Oops! Something went wrong. Please try again in a moment."" error

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/?messages=danger%5B0%5D%3DOops%2521%2520Something%2520went%2520wrong.%2520Please%2520try%2520again%2520in%2520a%2520moment.

* Br

[2020-03-08 03:12] rocnogu opened #38343 "curriculum not on 100%"
""Basic HTML and HTML5"" is ""Not Passed"" because ""Use the value attribute with Radio Buttons and Checkboxes"" doesn't actually 'complete'.

pic1
I complete it 3 times and it shows: ""Basic HTML and HTML5
100% complete""

pic2
but in the curriculum its not complete.

@RandellDawson decided to close the first request without solving it.
so, someone else might. i hope.

![2](https://user-images.gi

[2020-03-08 03:18] rocnogu commented on #38336
firefox give the same error

[2020-03-08 03:21] rocnogu commented on #38342
edge and firefox do the same
logging with email code give the same error as well.

[2020-03-08 03:45] #38336 closed

[2020-03-08 03:47] RandellDawson commented on #38336
@ronaldcs I am closing this issue as you keep throwing out insults when we are only trying to help.

[2020-03-08 03:48] RandellDawson commented on #38335
I am a volunteer as most of Free Code Camp's contributors are.

[2020-03-08 05:11] thecodingaviator commented on #38343
I'm not sure what is happening with you. I have the challenge incomplete too but I get this:
![image](https://user-images.githubusercontent.com/34807532/76157026-4d7fdc80-6129-11ea-8aae-131dd37649f6.png)
![image](https://user-images.githubusercontent.com/34807532/76157028-5d97bc00-6129-11ea-97cd-4845210b1c3a.png)
What is the link you're working on?

[2020-03-08 06:52] hassaanp commented on #38343
@rocnogu
Can you try clearing your browser cache or using the incognito mode? See if that helps. Please share your browser information too so we can reproduce it.

[2020-03-08 07:02] hassaanp commented on #38342
Please take a look at this [comment](https://github.com/freeCodeCamp/freeCodeCamp/issues/37457#issuecomment-544905365)

[2020-03-08 10:34] raisedadead commented on #38336
Hi @rocnogu

I am from the freeCodeCamp.org Staff.

I would like to draw your attention that freeCodeCamp is safe place for all. You are currently in violation of our [code of conduct](https://www.freecodecamp.org/news/code-of-conduct/), with comments.

We sure understand that you would like to report something is broken or not working, but we absolutely do not tolerate any violation of the CoC.

[2020-03-08 13:02] hassaanp commented on #38342
This has been addressed in #37457
Closing this.

[2020-03-08 13:02] #38342 closed

[2020-03-08 13:45] moT01 commented on #38343
I cannot reproduce this. Is it only this challenge @rocnogu? Have you completed any other challenges that have counted after this first occurred? You could try logging in with a different browser.

[2020-03-08 14:07] RandellDawson commented on #38343
Since I had not actually worked through this challenge, in the list of challenge for that the section, itcorrectly showed that I had not.  I added my solution code and passed the tests.  After submitting, I went back to the list of the challenges in the section and validated, the radio button was marked.  I recorded a video of the process.  I used the latest version of Chrome.

![ezgif com-video-t

[2020-03-08 15:05] ojeytonwilliams commented on #38343
I think there is a problem with OPs account.  In the first screenshot there is a flash message (hidden beneath the completion modal) and I suspect that's saying that the server could not be reached.  The client behaviour will be weird if that's the case, so I don't think we can diagnose until their account has been fixed.

[2020-03-08 16:29] AshNaz87 commented on #38341
@RandellDawson Would like to do this

[2020-03-08 17:45] ahmadabdolsaheb opened #38344 "Calling a component within itself causes and infinite loop and freezes the browser"
to replicate:
- go to https://www.freecodecamp.org/learn/front-end-libraries/react/use-react-to-render-nested-components

- and nest TypesOfFood within itself as shown in the picture.

![image](https://user-images.githubusercontent.com/4591597/76168134-b4c77c00-617d-11ea-97ff-fec4af6b7eb9.png)

[2020-03-08 18:07] ojeytonwilliams commented on #38344
I think this is a duplicate of https://github.com/freeCodeCamp/freeCodeCamp/issues/36118.

[2020-03-08 18:07] krishnadevz commented on #38344
[code]
With this thing one challenge is ✔ but when i type **<TypesOfFood/>** After returning component  everything is freezed/browserToo now i cleared the issue to much extent i think only problem is with **<TypesOfFood/>** it is going in infinite loop hope this helps now  and problem is fixed ASAP

[2020-03-08 18:07] #38344 closed

[2020-03-08 18:09] krishnadevz commented on #36118
**In 2020 this 🔽 issue is coming please see and fix it ASAP**
[code]
With this thing one challenge is ✔ but when i type **<TypesOfFood/>** After returning component  everything is freezed/browserToo now i cleared the issue to much extent i think only problem is with **<TypesOfFood/>** it is going in infinite loop hope this helps now  and problem is fixed ASAP

[2020-03-08 18:11] #38343 closed

[2020-03-08 18:13] raisedadead commented on #38343
This user has been hostile in their queries. We have received email as well, I found and deleted their duplicate account. For now, we have take administrative steps preventing them from commenting on the GitHub tracker.

Issue stands closed, unless similar is reported by someone else.

[2020-03-08 18:17] krishnadevz commented on #36118
**issue is solved now i called that component incorrectly everyone can use the below code and see the difference and working  **
[code]

[2020-03-08 18:24] krishnadevz commented on #38344
**issue is solved now i called that component incorrectly everyone can use the below code and see the difference and working good but that infinite loop thing needs to fix ASAP**
[code]
@ojeytonwilliams @ahmadabdolsaheb

[2020-03-08 18:24] AshNaz87 commented on #38341
@RandellDawson PR submitted

[2020-03-08 18:45] rkdgr8 commented on #38333
This seems to be a common bug in all challenges related to grid-template areas. As rightly described in https://www.freecodecamp.org/forum/t/bug-in-one-of-the-css-grid-challenges/356023 , test cases pass only when all the comments are removed inside the grid-template-areas. Would like to resolve this issue as my first OSS contribution.

[2020-03-08 19:17] kotrotko commented on #7519
ahhahaha got it) cool

[2020-03-08 22:15] QuincyLarson opened #38346 "Mobile forum theme navbar disappears with scroll"
I've created a video demonstrating this bug here: https://youtu.be/MAq8fLMndmY

[2020-03-09 10:51] ojeytonwilliams commented on #37967
@bonginkosif thanks for letting us know.  Just to make sure I understand correctly, the main problem was that you were logged in as root?  You switched to a normal user and then it worked?

If that's the case I'll create a PR for the docs highlighting that you should not run as root.

[2020-03-09 14:55] AshNaz87 commented on #38346
@ahmadabdolsaheb Can help with this issue if you would like

[2020-03-09 15:47] thecodingaviator opened #38349 "Add test to Set the child prototype... challenge to check for correct output"
_Originally posted by @RandellDawson [here](https://github.com/freeCodeCamp/freeCodeCamp/pull/38267#discussion_r388450988)_

[2020-03-09 15:56] thecodingaviator commented on #38334
@raisedadead would it not be better to link to an article which just describes what Top Contibutors are? I believe the way we're doing it right now will need updatin every year and every new year, the previous article would get removed i.e. the article would not be linked to the year

[2020-03-09 16:01] RandellDawson commented on #38334
@thecodingaviator That is what [I suggested in my comment on PR 38138](https://github.com/freeCodeCamp/freeCodeCamp/issues/38138#issuecomment-596090813).

[2020-03-09 17:16] akhilkh2000 commented on #38349
Can you explain exactly where the issue is

[2020-03-09 18:14] marioweid commented on #38349
The issue i see is that, if i overwrite the eat function f.e. i still pass the test even if it doesnt print out "nom nom nom" like it should, based on the comment.
[code]
Console output:
[code]
Still passing the lession

[2020-03-09 18:47] Sky020 commented on #38329
Whilst I agree there is no reason the tests should not pass, I think it is important to note that having space on either side of the `=` is not good syntax, and could cause issue with integration with SASS. HTML is just so forgiving.
https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors

[2020-03-09 20:25] marioweid commented on #38349
We could spy on the console and assert, that after beagle.eat() is called, the spy got called once with "nom nom nom".
Since we are using chai allready, i assumed we could just use it in the markdown files.
My code so far (`./curriculum/challanges/english/02-javascript-algoriths-and-data-structures/add-methods-after-inheritance.english.md`):
[code]
Maybe it's helping someone :)

[2020-03-10 04:11] tsabunkar commented on #38333
Yes, @rkdgr8 you are correct just by removing the comments inside .container class the test case had passed. Thanks for your response. Please go-ahead and resolve this issue !!

[2020-03-10 04:13] #38333 closed

[2020-03-10 05:55] enigma0160 commented on #38329
Oh, I didn't know that wasn't good practice. It would be nice if it was mentioned in the lesson. I agree, if it's not good practice then, it would be best to fail the test and mention such an error message.

[2020-03-10 06:25] enigma0160 commented on #38310
This same problem exists on the following challenge as well:
https://www.freecodecamp.org/learn/responsive-web-design/css-grid/use-media-queries-to-create-responsive-layouts

[2020-03-10 08:37] ahmadabdolsaheb commented on #38334
I see your point, maybe we should have a link with definition of a top contributor a list of all 2018/2019 contributors. it would be updated annually, but it would be inclusive.

[2020-03-10 09:15] #38341 closed

[2020-03-10 09:17] ahmadabdolsaheb commented on #38346
sure, @AshNaz87.

[2020-03-10 10:39] ahmadabdolsaheb commented on #38325
I looked at formula, and some calculators implementations. they all seem to be  0 based.

[2020-03-10 10:43] #38325 closed

[2020-03-10 12:30] #38265 closed

[2020-03-10 13:48] jeremylt commented on #38325
Thanks everyone!

[2020-03-10 19:09] Sky020 opened #38352 "Right-Click on Monaco editor missing options"
**Describe the bug**
Right-clicking on the Monaco editor in a freeCodeCamp lesson brings up the options menu, but it appears to be missing features/options.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any lesson on the curriculum
2. Right-click on the editor
3. Behold the selection menu appearing miss-formatted.

**Expected behaviour**
I would expect to see more options. At the le

[2020-03-11 01:00] moT01 commented on #38352
What formatting do you mean? It looks fine to me, other than that the paste option is missing. I'm not sure where why that isn't there - it probably should be. Is there anything else missing that you noticed @Sky020?

[2020-03-11 01:10] moT01 commented on #38329
I don't think it's necessary to point out the best practices here. This is the basic css section so if it's valid css, it should pass the tests. I think just adjusting the one test would be enough. [Here's the file](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/01-responsive-web-design/basic-css/use-attribute-selectors-to-style-elements.english.md#tests)

[2020-03-11 01:29] moT01 commented on #38204
I may be a little late to the party here, but I don't think any of this is necessary. There's many ways on many of the challenges to pass the tests by hacking the tests. The project euler area, for example, only asks for a specific number to be returned on many of them. You could simply return that number without writing any algorithm. Most users aren't here to cheat themselves like that, and the

[2020-03-11 01:39] moT01 commented on #38091
I updated the solution to use `substring` instead of `substr` like mdn suggests.

[2020-03-11 01:39] #38091 closed

[2020-03-11 01:50] moT01 commented on #37970
I think it's safe to close this since the OP hasn't responded and nobody else seems to be having this issue. If you are still experiencing problems @sch-xiv, let us know and we can reopen this and try to figure out more.

[2020-03-11 01:50] #37970 closed

[2020-03-11 01:55] moT01 commented on #37969
Any luck here @Ronkiro?

[2020-03-11 02:17] moT01 commented on #37778
This looks fixed to me. I'm not sure when or where since there's still an open PR. Can anyone confirm if this is fixed or still an issue?

[2020-03-11 02:23] moT01 opened #38353 "Add a warning that browser extensions may cause issues"
More than a few times, someone has had issues passing a challenge because of interference from a browser extension(s). Seems to mostly happen in the CSS section or other areas where users are changing styles. [Original discussion here](https://github.com/freeCodeCamp/freeCodeCamp/issues/37774). We could probably add a warning about this.

[2020-03-11 02:24] moT01 commented on #37774
Closing in favor of that new issue specific for adding a warning.

[2020-03-11 02:24] #37774 closed

[2020-03-11 02:53] moT01 commented on #37228
How is this coming along? PR's for translating docs are welcome without an issue. If you want to keep this open to track your progress that's fine. But if you aren't using it any more, it can probably be closed. Thanks.

[2020-03-11 03:08] moT01 commented on #36535
Do we still want to keep this open @ojeytonwilliams? Probably safe to close I think.

[2020-03-11 03:17] moT01 commented on #34606
Closing as stale and a [duplicate issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/37820) exists with more discussion.

[2020-03-11 03:17] #34606 closed

[2020-03-11 04:42] QuincyLarson commented on #37662
@scissorsneedfoodtoo Yes - this seems to still be an issue. I'm glad to hear people can resubscribe if they're logged in, though we do still want to fix this.

[2020-03-11 04:49] raisedadead commented on #36535
I would hang on to this. I have a upcoming PR #38241 which should resolve most things.

[2020-03-11 04:51] raisedadead commented on #37778
Its not aligned yet?

![image](https://user-images.githubusercontent.com/1884376/76383498-11938400-6382-11ea-8f03-e1d98e7b8497.png)

[2020-03-11 07:34] Sky020 commented on #38352
@moT01 , I do not know how it appears on your screen. From the screenshot I sent, I presumed there are 3 missing options, and it looks as though something in their text has caused them to render as rectangles.

[2020-03-11 08:13] MyIrish1993 commented on #38352
What the hell is this? How did I end up on a geek thread

On Tue, Mar 10, 2020, 12:18 PM Shaun Hamilton <notifications@github.com>
wrote:

[2020-03-11 08:15] MyIrish1993 commented on #38352
What are you guys doing? Is this what nerds do? It's kinda cool y'all. Are
we deciphering NASA or what? I'm down

On Tue, Mar 10, 2020, 12:18 PM Shaun Hamilton <notifications@github.com>
wrote:

[2020-03-11 10:43] LastGenius-edu commented on #37228
There's not going to be any further progress on it.

Closing the PR.

[2020-03-11 10:43] #37228 closed

[2020-03-11 13:27] ojeytonwilliams commented on #38349
@marioweid it's a nice idea, but we only use the core `chai` package, not `chai-spies`.  A custom solution where you proxy `console.log` should work, albeit with a little more effort.

[2020-03-11 13:44] Sky020 commented on #38352
As I was trying to load fCC locally, I got this error and wondered if it is related:

[2020-03-11 13:50] moT01 commented on #38352
I don't think those rectangles are something missing. I've always just thought there were separators, like an `<hr>`. Seems to make sense since the options sort of have different categories. I suppose they could be something missing, but I don't think that's the case.

[2020-03-11 13:56] #38310 closed

[2020-03-11 14:01] RandellDawson commented on #38352
FYI - The screenshot on the left is what it used to look like before the site color changes and the one on the right is the current version.

![Untitled-3](https://user-images.githubusercontent.com/5313213/76424867-0cc0d700-6366-11ea-992f-209cc47653b8.jpg)

[2020-03-11 14:04] moT01 commented on #37778
It's a lot better than the original screen shot, but looks like it could still use some vertical alignment.

[2020-03-11 14:06] ojeytonwilliams commented on #38352
That's unlikely to be related.  Looks like the package did not download correctly, which should result it in failing to work at all, rather than behaving strangely.

[2020-03-11 14:07] Sky020 commented on #38352
@RandellDawson So it is just formatting?
Was it ever intended that the option to _paste_ not be available? Or, can that be opened as a feature request?

[2020-03-11 14:08] RandellDawson commented on #38352
@Sky020 It never had `paste`.  I personally prefer it does not.  It encourages users to copy/paste code instead of typing it out (which helps yours learn more).

[2020-03-11 14:13] #38352 closed

[2020-03-11 14:15] RandellDawson commented on #38352
I do think the separators are a bit too wide (vertically).

[2020-03-11 17:27] parvathy-santhosh opened #38355 "Internal footer links handling broken when cors required from .dev site"
**Describe the bug**
Internal footer links from the footer on FCC homepage are broken when accessed from

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'freecodecamp.dev'
2. Scroll down to the footer
3. Click on any of the internal footer links such as any of the trending guides or most of the links under the title Our Non Profit
4. 404 Error, the link that gets referenced is not to t

[2020-03-11 18:48] ojeytonwilliams commented on #38355
I'm not sure this is actually a bug.  As I understand it, when you go to https://freecodecamp.dev/news you're seeing a 'dummy' version of news with only some of the pages - hence all the 404s.

Also, the links should be external because `internal` links are purely for links to other parts of the Gatsby site (learn, settings, certification and so on) and news is a separate Ghost site.

[2020-03-11 20:44] AshNaz87 commented on #38346
@ahmadabdolsaheb Cannot replicate locally. Is there another channel where discussions can take place?

[2020-03-11 22:58] aguskurincic opened #38357 ""Run the Tests" button on freeCodeCamp doesn´t work"
I have a problem that the button doesn´t work AT ALL. It starts at "if/else" statements on the Javascript course. The button doesn´t run the code, literally nothing happens. I search already on the web for a solution but nothing, and I can´t continue practicing with this situation.

[2020-03-11 23:57] RandellDawson commented on #38357
@aguskurincic Do you see any errors showing in the browser console (not the FCC console)?

[2020-03-12 03:14] moT01 commented on #38357
Can you be more specific about your problem @aguskurincic? what exactly are you doing that causes this, what browser/operating system you are using - maybe some screen shots. Anything to help us understand the problem is a big help. Is it only one specific challenge? or is it many/all of the challenges?

[2020-03-12 08:01] hassaanp commented on #38349
I tried doing this
[code]

Unfortunately, this does not work.

[2020-03-12 08:51] ahmadabdolsaheb commented on #38346
should be able to if you toggle device toolbar in devtools and scroll up and down in multiple pages.
It is most likely that the display is set to none when scrolling down to open room for the title. but since we have already removed the tile, we should just make sure the local navigation is always displayed.

[2020-03-12 09:07] AshNaz87 commented on #38346
`/forum` doesn't render the forum in development. But yes, elements did have the declaration `display: none;`

[2020-03-12 09:25] ahmadabdolsaheb commented on #38355
Thanks for creating a detailed issue description, @parvathy-santhosh.
I think the links are working as intended as @ojeytonwilliams pointed out. the reason we are getting 404 is that we have not got around making all of those pages for .dev/news because we mainly use .dev for testing. I am going to close this issue for now. If you think this issue has been closed by mistake, feel free to reopen th

[2020-03-12 09:25] #38355 closed

[2020-03-12 11:14] ojeytonwilliams commented on #38349
@hassaanp that's almost right and it's a neat approach.  I played with it for a bit and came up with:

[code]

Since each test is isolated, there's no need to restore the original `console.log`.

[2020-03-12 11:19] hassaanp commented on #38349
@ojeytonwilliams awesome!
Do you mind if I push this or will you do that?

[2020-03-12 11:39] ojeytonwilliams commented on #38349
Not at all, go for it!

[2020-03-12 12:12] marioweid commented on #38349
@hassaanp
I guess you can add the change for all languages :)

[2020-03-12 13:29] RandellDawson commented on #38349
@marioweid No need to do that.  We are working to using the English version of the file's `textString` to work across all languages.  See PR #38040 for more information.

[2020-03-12 13:36] RandellDawson commented on #38349
@hassaanp Once we merge your PR, you can find all the challenges where we need to test for a specific value being logged to the console.

[2020-03-12 13:40] hassaanp commented on #38349
Acknowledged. Thanks for the heads up. I will push the fixes for all such instances.

[2020-03-12 14:17] RandellDawson commented on #38349
@hassaanp Make sure to put the others on a different PR, so as not to hold up your PR.

[2020-03-12 15:37] hassaanp commented on #38349
@RandellDawson
of course :)

[2020-03-12 16:17] snigo commented on #38353
Ok, I actually installed uBlock and was able to re-create the problem. It removes containing `div` based on `fanboy-social` filter, particularly `##.follow-btn` rule and it causes test to fail.

I guess we need to rename it to something without "follow" in the class name

[2020-03-12 17:13] ojeytonwilliams commented on #38353
If it is just classes with `follow-`, that's not so bad.  I could only find 5 challenges like that.

Any idea if `btn-follow` would be okay?  That would be a trivial fix.

[2020-03-12 17:28] snigo commented on #38353
I would rather use `.action-button-container`

[2020-03-12 17:34] ojeytonwilliams commented on #38353
Sure, both seem fine to me.

[2020-03-12 18:34] nkskalyan opened #38361 "Testing Objects for Properties - Tests too weak"
**Describe your problem and how to reproduce it:**
In https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/testing-objects-for-properties, my wife made the test pass with if else condition for all keys in the javascript object.
I expect the tests should have a stronger test enforcement by testing for other objects in codebase. Would love to contribute to th

[2020-03-12 18:48] raisedadead opened #38362 "Implement Infra for Lecture Challenges"
We are going to embed video lectures for the Python curriculum. We need additional infrastructure for the Youtube embeds.

We are going to use Plyr - https://github.com/sampotts/plyr for this.

This lib, has the below format for embedding videos:

[code]

We should be able to just use the `3muQV-Im3Z0` as the identifier from the markdown syntax and construct the player from it. The example above i

[2020-03-12 19:04] RandellDawson commented on #38361
@nkskalyan You could use the `Before Test` or `After Test` section in the challenge file, to create some additional objects to test.  The only issue of creating additional objects and tests for those objects, is that you would need to modify the instructions and code seed to make it where the `checkObj` function takes two arguments.  One for the property to check and one for the object being check

[2020-03-12 19:14] raisedadead commented on #38357
Hi @aguskurincic let us know with additional clarifications as requested above and we can have this re-opened. You can also reach out to our [community forum](https://www.freecodecamp.org/forum) for more help.

[2020-03-12 19:14] #38357 closed

[2020-03-12 19:26] RandellDawson opened #38363 "Having to add --no-verify to all commits to freeCodeCamp repo"
This may or may not affect others.  It could be a Windows only thing.  About 2 weeks ago, I started having to add `--no-verify` option to all of my commits to the freeCodeCamp repo.  @ojeytonwilliams and I attempted to figure out what settings may have changed in the repo that would affect Husky, but did not come up with any.

I first tried uninstalling and reinstalling Husky using the package.jso

[2020-03-12 20:40] Sky020 commented on #38363
Forgive me, if this has nothing to do with the issue, but could it be linked to this missing import:

This was linked to an error I got with the `lint` script.

[2020-03-12 21:43] RandellDawson commented on #38363
@Sky020 I do not think so. I have no trouble running the development site.  It is just affecting my ability to commit to the repo locally.  Really, the only trouble is that I have to add the extra option after I first run the commit to check for actual linting issues.  I basically have to run `npm commit -m "some message"` to check for linting issues and then `npm commit -m "some message" --no-ver

[2020-03-13 11:19] hassaanp opened #38365 "Discussion: The FCC Curriculum around OOP in JavaScript misses out on developing a complete understanding of what happens under the covers."
**Is your feature request related to a problem? Please describe.**
In the Object-Oriented JavaScript section, the curriculum is heavily invested in using single inheritance (classical inheritance) in almost all the challenges. In my opinion, this approach leaves the student an inadequate understanding of JavaScript's prototypal inheritance.

**Describe the solution you'd like**
I suggest we offer

[2020-03-13 12:04] ojeytonwilliams commented on #38365
@hassaanp Thanks for going through this in detail, this is great.  One other thing that might be worth mentioning is how to get at the prototype from an instance, i.e. `Object.getPrototypeOf()`.

@scissorsneedfoodtoo I'm not sure what the best place for this is.  Do you think the existing challenges need modifying/extending or would this be better as one of the new projects?

[2020-03-13 12:48] RandellDawson commented on #38365
@hassaanp We currently are not creating new challenges in the existing curriculum (with the exception of the Project Euler and Rosetta Code sections).  All new material would need to be presented in the new project-based curriculum.  If you can think of a concise way of modifying an existing curriculum challenge to cover the topics, that is fine, but I think what you are wanting to accomplish woul

[2020-03-13 13:07] hassaanp commented on #38365
@RandellDawson
I agree. This is more of a redesign of the module.

[2020-03-13 13:19] raisedadead commented on #38363
Hi Randell, we would need to eliminate causes and isolate the issue.

- Have you done a clean install of the repo and seen the same issue? Yes/No
- Have you cloned a fresh copy of the repo and seen the same issue? Yes/No
- Which version of `node` are you on?
- Which version of `npm` are you on?

[2020-03-13 13:47] aguskurincic commented on #38357
@RandellDawson it shows an undefined error in the console, but never happened with this page. The button must run the code anyways

[2020-03-13 13:52] aguskurincic commented on #38357
@moT01 I´m almost 67/68% of the course complete using Chrome, always works good. When this happens I change to Firefox, but still the same, it looks like is problem of the page. I´m using Widnwos 10 Pro. But this doesnt make sense, I did amost 3/4 parts of the course without problem, the page has a bug there I think. It´s the "Chaining If Else Statements" challenge. But the one before starts with

[2020-03-13 13:54] aguskurincic commented on #38357
Would be cool if you re-open this.

[2020-03-13 13:56] raisedadead commented on #38365
I think while this is a great suggestion.

However, IMHO I do not think that adding this to the curriculum would be useful given the fact that a major portion of our target audience who are just getting started to learning to code will be confused by this.

I think we can teach these concepts better with lectures on our Youtube channel.

[2020-03-13 13:57] aguskurincic commented on #38357
Forget it, I could solve it! Thanks

[2020-03-13 13:57] RandellDawson commented on #38357
@aguskurincic What was the issue?

[2020-03-13 14:16] RandellDawson commented on #38363
Yes

Yes

v10.15.0

6.4.1

[2020-03-13 14:28] aguskurincic commented on #38357
It had a couple of { } more than I need, really weird that the page doesn´t show you what is going on, since you are learning...

[2020-03-13 14:29] aguskurincic commented on #38357
@RandellDawson It had a couple of { } more than I need, really weird that the page doesn´t show you what is going on, since you are learning...

[2020-03-13 14:29] ojeytonwilliams commented on #38363
From our investigations, it seemed like it's some mismatch between different shells.  The error message appeared when husky tried to execute a command with cwd of `D:/some/path`, but it was running in git-bash, right?  Why it's started doing that all of a sudden, I don't know.

[2020-03-13 14:32] ojeytonwilliams commented on #38357
@aguskurincic do you remember what the buggy code was?  The console should be more informative than 'undefined error'.

[2020-03-13 15:11] raisedadead commented on #38363
Can you elaborate more on this?

[2020-03-13 15:31] beaucarnes commented on #38365
I agree that we should include a lot of the suggestions of @hassaanp in the new curriculum. In fact, it wouldn't take that much change to the new curriculum projects to introduce OO in the method suggested. However, I agree with @raisedadead  that we don't need to go into too much detail on all the parts, especially the prototype chain.

I think we can teach OO using the 5 steps laid out, but go l

[2020-03-13 15:36] ojeytonwilliams commented on #38363
I can go through my thinking, but clearly I don't understand it.

So, when `husky` tries to run a hook it calls

[code]

to get the directory.  On Randell's machine this is a Windows path (something like `D:\path\to\fcc`).

`cwd` is then used to execute a script via `execa`

[code]

we isolated the problem to there.  That command (`lint-staged`) fails to execute properly, an error is throw and the

[2020-03-13 15:59] RandellDawson commented on #38363
@raisedadead Adding to what @ojeytonwilliams said above, I manually modified the `execa.shellSync` line to use `/d/path/to/fcc` and it still did not work.

[2020-03-13 17:11] EnockKasaadha opened #38368 "Unclear instructions with the use of Glitch to submit challenges."
I was recently attempting to submit my code changes of the [APIs and Mcroservices certification ](https://www.freecodecamp.org/learn/apis-and-microservices/managing-packages-with-npm/) through the URL of glitch as instructed in the introduction but I was finding trouble with passing the tests because I was submitting a wrong URL. Instead of something like  `https://blush-tundra-dodo.glitch.me/` I

[2020-03-13 19:45] QuincyLarson commented on #38365
@hassaanp Thanks for your detailed feedback and ideas here.

Would you be interested in helping design this project so that it introduces learners to OOP in the way you think is optimal? https://github.com/freeCodeCamp/CurriculumExpansion/issues/254

I agree with @beaucarnes, @RandellDawson, and @raisedadead that we needn't update the current challenges to reflect this, and can instead stay focuse

[2020-03-13 19:45] #38365 closed

[2020-03-13 19:53] hassaanp commented on #38365
@QuincyLarson
I would love to help design this project.

Thank you everyone for the feedback and validation.

[2020-03-14 13:48] ahmadabdolsaheb commented on #38346
Yes so /forum is another application (discourse)
There are two ways for fixing this:
1) run discourse cli and connect it to discourse theme maker. Then pull our discourse theme, make changes and view your changes in the discourse theme maker.

2) or if the changes are minor, change the css using the devtools until you get the desired results and submit a pr.

[2020-03-14 23:59] kainesmicheal commented on #17820
that worked for me!, thankyou

[2020-03-15 03:37] Saikamesh opened #38370 "[Broken]CSS Grid: Use Media Queries to Create Responsive Layouts"
![issue](https://user-images.githubusercontent.com/51651413/76694682-dc49a780-669b-11ea-97d0-f6cbfa3f4f13.jpg)

**Describe your problem and how to reproduce it:**
It seems like the test is broken, even though the code is correct and all the test cases are satisfied it says Wrong.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/css-grid/use-med

[2020-03-15 04:53] RandellDawson commented on #38370
@Saikamesh This issue has been fixed on the `master` branch by PR #38351, but we are still waiting on deployment to production.  Should not be long until it is fixed on production.

I am closing as we are just awaiting on deployment.

[2020-03-15 04:53] #38370 closed

[2020-03-15 04:55] #38349 closed

[2020-03-15 17:36] irina6793 commented on #37921
Can I work on this issue?

[2020-03-15 20:58] ahmadabdolsaheb opened #38372 "donation page needs a twitter card"
the meta for the /donate page should be updated to display a twitter card.

![image](https://user-images.githubusercontent.com/4591597/76710460-bb736780-6718-11ea-940c-79639044e9af.png)

[2020-03-16 10:58] #38363 closed

[2020-03-16 11:14] scissorsneedfoodtoo commented on #38365
@hassaanp, these are all great suggestions. Like @beaucarnes, we shouldn't take a deep dive into step three, but it's certainly worth teaching a bit about the prototype chain.

Probably the best project to teach these concepts, at least in JavaScript, is the [Data Structures Shopping Cart](https://github.com/freeCodeCamp/CurriculumExpansion/tree/master/learn-data-structures-by-building-a-shopping-

[2020-03-16 13:01] raisedadead opened #38373 "Donation Implementation Enhancements"
General:
- [x] Get the button and the text labels for the donate amounts in the modal from config.
- [x] Get the button and the text labels for the donate amounts in the certificates from config.
- [x] Unify donation forms and make them atomic
- [ ] Unify component state for Paypal and Stripe (overlap processing message when displaying)
- [ ] Add [Guidestar](https://www.guidestar.org/App_Themes/Ma

[2020-03-16 13:24] ojeytonwilliams commented on #38373
From the linked PR:

I couldn't find much about this, just what Ahmad pointed out: that they try again 25 times over the next 3 days.  That's if they either don't get a response or the response is not 200.   So, I guess we trigger that if we think that if it's conceivable that something weird could happen causing a valid POST to fail when it hits /update-paypal and that subsequent POSTs could work

[2020-03-16 13:44] Tuuben commented on #37778
Is this still an issue? Could I take a look at it in that case. :)

[2020-03-16 19:02] #38372 closed

[2020-03-17 05:32] hassaanp commented on #38365
@scissorsneedfoodtoo, thanks for the heads up!
I will take a look at the project. I would definitely like to work on it.

[2020-03-17 09:54] Tuuben opened #38376 "General UI/UX improvements"
I've been going around the site a bit and there are a lot of small fixes that could be done to improve the UI/UX of FreeCodeCamp.org. For the sake of length, I kept it to the home view.

Here is a couple of things.

**Make clickable list buttons full width.**

Currently:
![before-list](https://user-images.githubusercontent.com/22411478/76843091-f58d5800-6843-11ea-83df-8d0af2882b1f.gif)

Full width

[2020-03-17 11:31] ojeytonwilliams commented on #38376
Just to make sure: the change to search is the addition of lines separating the results, not the removal of the blue background?  An indicator of the currently selected result is important.

That caveat aside, these look like good changes.

[2020-03-17 11:41] Tuuben commented on #38376
No, the blue background on hover is good. I would keep it.

[2020-03-17 14:38] moT01 commented on #38376
I like these - I would also change that blue hover on the search results to our dark blue. And possibly use a lighter blue for the background of the "since 2014" sentence - and include the companies in the box.

[2020-03-17 14:43] DannyBoris commented on #38376
A newbie question. Are those suggestions that you want to implement or is it anyone can pull and try?

[2020-03-17 14:58] Tuuben commented on #38376
@DannyBoris I'm new to the project as well so I'm not too familiar with how things are done. But I guess if you want to tackle some part of this issue we could split the tasks. Since there are multiple things here and they're easy to separate. Then we could do 2 pull requests? Maybe @ojeytonwilliams can give some input on this? :) Otherwise, you can check issues tagged with "help wanted".

[2020-03-17 15:04] moT01 commented on #38376
These are suggestions for improvements @DannyBoris.

I would wait for more input for making a PR.

[2020-03-17 15:10] moT01 commented on #38368
I have seen this come up a number of times. Should we put a note in each challenge or just one in the introduction or maybe just one in the first challenge? I would word it something like...

`Be sure to submit a URL to a live demo of your project`

[2020-03-17 15:23] EnockKasaadha commented on #38368
I was thinking of including instructions on which  URL to copy and paste and where to find it once one is in glitch. A mere link to glitch is not enough for someone to submit in a challenge for a without inquiring.

I was also thinking of adding a link to someone's glitch account on every challenge that requires the use of glitch so that when someone leaves a challenge session and they come back a

[2020-03-17 15:26] RandellDawson commented on #38368
@moT01 I think the introduction would be the better place for the instruction.  Also, it might be worth creating a new article on https://freecodecamp.org/news that shows a basic tutorial on how to use Glitch for the FCC backend challenges.  The tutorial would be short and should include a section that specifically deals with how to identify the "live" url for a project.  We would link to that sec

[2020-03-17 15:51] DannyBoris commented on #38376
@Tuuben Hey,
Yeah let's take it easy. I have never actually contributed to open source and fcc seems like a good start (when it comes to small changes). ill also vote for waiting a bit more.
Thanks for the response

[2020-03-17 16:47] Sky020 commented on #38368
I might be making this up, but when I did those challenges, there was a placeholder text in the submission input that gave a _Glitch_ specific example link. Could this not be reintroduced? Having the _CodePen_ example in that side of the curriculum makes no sense.

[2020-03-17 16:51] ojeytonwilliams commented on #38376
If you don't mind waiting, then you'll waste less time creating a feature that's not quite what's desired.  Chances are the broad strokes are what's wanted, but perhaps not the specifics.  I can't speak for the core team, though.

As for the practicalities, small focused PRs are ideal.  They are easy to review and maintain, so splitting this into three different PRs (landing, search and curriculum

[2020-03-17 17:07] ojeytonwilliams commented on #38368
@Sky020 I don't see why not.  There's a `placeholder` prop being introduced for the Python projects:
https://github.com/freeCodeCamp/freeCodeCamp/blob/87b2d37dd6f69c65519e193c1a6d0dd971cc628b/client/src/templates/Challenges/projects/ProjectForm.js#L50-L53

it shouldn't be hard to adapt that.

[2020-03-17 18:38] raisedadead opened #38379 "Fix ESLint warnings"
We have a few warnings from ESLint that we should fix. Details below.

<details>
<summary>Logs</summary>

[code]

</details>

[2020-03-17 20:45] bonginkosif commented on #37967
yes simple as that

[2020-03-17 21:02] beaucarnes opened #38380 "Flash message when updating email address is incorrect."
I updated the email address for my freeCodeCamp account. A confirmation email was sent to me. I clicked the link in the email and then saw the following message:
![image](https://user-images.githubusercontent.com/1513130/76901061-e8d32900-6870-11ea-83d5-792f2bfbece1.png)
This message should be changed to be something like: "Success! You have updated your email address. Happy Coding!"

[2020-03-17 21:11] raisedadead commented on #38322
Hi @povilasraciunas

Thanks for reporting this.

As a work around, you can login to freeCodeCamp using the email that you receive the weekly emails on, and toggle the button off in the settings here:

https://freecodecamp.org/settings

Also, can you send us an email at: support@freecodecamp.org, with your registered email (the ones that you are getting emails from Quincy)?

We could look into your

[2020-03-17 21:11] #38322 closed

[2020-03-17 21:48] xmelsky opened #38381 "Sign In with GitHub gives 403 TypeError..."
**Describe the bug**
When trying to sign in with the link "Continue with GitHub" it shows
[code]

and in URL shows this link: `https://api.freecodecamp.org/auth/auth0/callback?code=6X57g2PAyhwjKAz-`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.freecodecamp.org/learn/'
2. Click on 'Sign in to save your progress'
3. On the next page click "Continue with GitHub"
4. See err

[2020-03-17 22:41] jleeent commented on #38381
Also having this issue when logging in with any of the sign-in options.

[2020-03-17 22:42] rtmcoder commented on #38381
same issue

[2020-03-17 22:46] phamin2001 commented on #38381
Same problem here!

[2020-03-17 23:06] lasjorg commented on #38368
Some people also try to submit files from their GitHub repo (e.g. the package.json) because of the "clone this repository on GitHub" line. I do like that we have a link to the starter code on GitHub but it's a bit unclear from the challenge text how it should be used.

It doesn't happen as often as submitting the incorrect Glitch link does, but it does happen every now and then.

[2020-03-17 23:09] lasjorg commented on #38353
Some dark mode/reader extensions also cause issues with color related CSS challenges. The problem is if we check the computed styles and the extension changes the colors.

[2020-03-17 23:56] Ordnas1 commented on #38381
Had this problem for a while but just logged in with my GitHub account.

[2020-03-18 07:20] xmelsky commented on #38381
It seems that issue has been already resolved

[2020-03-18 07:20] #38381 closed

[2020-03-18 08:56] ahmadabdolsaheb commented on #37921
@irina6793, please go ahead.

[2020-03-18 08:58] ahmadabdolsaheb commented on #37778
@Tuuben, yes. please do. :)

[2020-03-18 10:22] ahmadabdolsaheb commented on #38376
Thank you for the suggestions, here is my take:
1. let's implement the full width hover on map
2. I am onboard with search results padding and border addition. note: it should be updated for news, forum, and learn since the universal navigation is used across services.
3. the landing page could use an update. I believe the current mock looks good, but here are some considerations:

* the CTA butto

[2020-03-18 14:22] raisedadead opened #38386 "List of routes that need to be made public"
These should be available without any access tokens:

`http://api.freecodecamp.org`

- [ ] Used for public profile views.
  `/api/users/get-public-profile?username=${username}`
  `/api/users/exists?username=${username}`
- [ ] Used for confirming and email.
  `/confirm-email?email=c29tZW9uZUBleGFtcGxlLmNvbQ==&token=jwPKfACU9rWERpWM72zDIMD2fCF5giEuXLRR1e7uzDtZKa4NW6LuVI74IKfJlztt&emailChange=true`
-

[2020-03-18 15:10] ahmadabdolsaheb commented on #38346
The fix has been deployed to production. Please reopen this issue if the problem still persists.

[2020-03-18 15:10] #38346 closed

[2020-03-18 15:20] Sky020 commented on #38368
It seems that all of the challenges in the APIs and Microservices Certification are considered _Front-End_.
https://github.com/freeCodeCamp/freeCodeCamp/blob/802f9f68ba01ad929c97b64fe6a011edcae3943d/client/src/templates/Challenges/projects/ProjectForm.js#L48-L56
I suppose this is a feature that was not correctly implimented.

[2020-03-18 15:48] ahmadabdolsaheb commented on #38147
has this been resolved?

[2020-03-18 16:31] ojeytonwilliams commented on #38147
I'm not sure, since I never knew what caused it.  However, no one else seems to have have plus oned, so I guess it's not a problem.

[2020-03-18 16:31] #38147 closed

[2020-03-18 16:42] Sky020 commented on #38368
I found the culprit:
https://github.com/freeCodeCamp/freeCodeCamp/blob/802f9f68ba01ad929c97b64fe6a011edcae3943d/client/src/templates/Challenges/projects/backend/Show.js#L92-L94
I believe this can be changed to the Glitch link, as none of the back-end curriculum uses CodePen:
[code]
The main issue is the logic implemented in this section:
https://github.com/freeCodeCamp/freeCodeCamp/blob/802f9f68ba

[2020-03-18 17:05] #38386 closed

[2020-03-18 17:06] Sky020 commented on #38368
After commenting out the aforementioned logic, this is the output:
![image](https://user-images.githubusercontent.com/51722130/76987157-9fe7a700-693a-11ea-88df-837b138501f3.png)
Is this not what the page is supposed to look like? It provides the correct placeholders for both the Glitch and the GitHub.

[2020-03-18 18:07] RandellDawson commented on #38368
@Sky020 That is what it should look like.  I would make it even clearer by shortening the Solution link placeholder to be able to see more of the glitch link.  Something like:

And since **Github Link** is already a label above the 2nd input box, I would say we could shorten the other placeholder to:

[2020-03-18 22:51] AshNaz87 commented on #38376
Happy to chip in when consensus is gathered

[2020-03-18 23:40] RandellDawson commented on #38361
We are seeking PRs to fix this issue.

[2020-03-19 05:34] mawil583 opened #38390 "Link not working"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
There is a link that doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.freecodecamp.org/news/this-is-why-we-need-to-bind-event-handlers-in-class-components-in-react-f7ea1a6f

[2020-03-19 11:02] Sky020 commented on #38390
Going to the intended link: [You Don't Know JS](https://github.com/getify/You-Dont-Know-JS/blob/2nd-ed/objects-classes/ch2.md)
You can see that it is a work in progress. There is a previous version's content in the file. So, I do not know if the link should be changed to an alternate source, or if a _work-in-progress_ link will suffice.

[2020-03-19 17:32] DannyBoris commented on #38376
Hey all,
@ojeytonwilliams 's suggestions found reasonable. I be up for taking search once we can work on it

[2020-03-19 19:10] moT01 commented on #38376
It's probably safe to make some PR's at this point. The hover effect and search results have some clarity on what needs to be done there. Not sure on the landing page. I still like my suggestion of changing the blue hover on search to one of our other blue's. But I think if PR's are made, we can probably tweak things from there if needed.

[2020-03-19 19:47] andrescaroc opened #38393 "Timestamp Project Instructions need to be adjusted"
**Describe your problem and how to reproduce it:**
Go to: https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/timestamp-microservice
Click on: "... similar to this: https://curse-arrow.glitch.me/."
It will take you to: https://curse-arrow.glitch.me/
User story #5 says: "...having the structure {"error" : "Invalid Date" }"

**Compare to the following:**
Go to:

[2020-03-20 03:34] geoffreyjball opened #38394 "JSON APIs and Ajax: Render Images from Data Sources challenge accepts incorrect answer"
**Describe your problem and how to reproduce it:**
The **JSON APIs and Ajax: Render Images from Data Sources** challenge seems to accept an answer that it shouldn't.

Entering the following code passes the challenge:

[code]

However, `altText` on its own is not defined. It should be `val.altText`.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/data-visualization/

[2020-03-20 04:17] RandellDawson commented on #38394
@geoffreyjball Thank you for reporting this issue.  I have submitted a pull request that adds a new test to validate `val.altText` is used.

[2020-03-20 06:11] hassaanp commented on #38393
I have pushed a fix for this to the target repo.

https://github.com/freeCodeCamp/boilerplate-project-timestamp/pull/32

[2020-03-20 06:46] ThePrakashKumar opened #38397 "Test Gets Pass No Matter What URL I Submit"
No matter what URL I paste in the project section of APIs & Microservices and Information Security and Quality Assurance Certification curriculum all tests get a pass. As long as I put https:// followed by some string all test is passing. As for as I have observed this problem is happening in below project section:

**APIs and Microservices Projects**
* [URL Shortener Microservice](https://www.fre

[2020-03-20 06:52] raisedadead commented on #38397
Hi,

Thanks for your report. We recommend you to please search issues and check on the forum before adding a fresh report on the tracker.

This is an expected behaviour. We rely on the academic honesty policy for submissions.

Happy coding.

[2020-03-20 06:54] raisedadead commented on #38390
Thanks for the report, I am forwarding this to our editorial team.

[2020-03-20 08:15] ThePrakashKumar commented on #38397
I have already searched and reported in [forum](https://www.freecodecamp.org/forum/t/something-wrong-with-testing-in-apis-and-microservices-project-section/360919/). Here is another user reporting the same issue:
https://www.freecodecamp.org/forum/t/apisand-microservices-url-shortener-microservice/348800
And this is expected behavior? How the test working fine in the first two project of APIs and

[2020-03-20 08:56] scissorsneedfoodtoo commented on #38390
Thanks for reporting this @mawil583, and for finding the intended link @Sky020.

I went in and changed it to fCC's article, [The Complete Guide to this in JavaScript](https://www.freecodecamp.org/news/the-complete-guide-to-this-in-javascript/) for now. Perhaps we can go back and change it to the updated YDKJS article once the second edition is released.

[2020-03-20 08:56] #38390 closed

[2020-03-20 09:17] raisedadead commented on #38397
Thanks for the updates. @RandellDawson @scissorsneedfoodtoo please investigate.

[2020-03-20 10:58] Jrejoire opened #39673 "Js calculator test suite"
#### Issue Description

The test suite doesn't work for half of the questions of my Js calculator (from 8 to 15). I can verify them directly in the app but the test suite doesn't.

#### Browser Information

- Browser Name, Version: Chrome
- Operating System: Windows
- Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

https://codepen.io/Jrej/pen/RwPyyLV

Thanks for your help

[2020-03-20 11:38] carvalhais opened #38402 "Challenge suite not passing albeit correct solution"
**Describe your problem and how to reproduce it:**
The solution to this challenge seems to have a bug when run inside of Chrome. Even though the solution is correct (as stated by the ‘Hint’), it doens’t pass the suite of tests until you zoom in (with Ctrl+Mouse Wheel) to 150%.
Maybe this is related to the resolution of ones screen?

**Add a Link to the page with the problem:**
https://www.freecode

[2020-03-20 11:48] hassaanp commented on #38402
Hi @carvalhais,

That sounds strange.
I just confirmed that the validation for the problem only checks the values of height and width in the code.

I am guessing there was some other issue, but it definitely can't be due to the resolution of the screen.

[2020-03-20 12:09] Sky020 commented on #38402
@carvalhais , what extensions do you have enabled with access to freeCodeCamp?

[2020-03-20 13:50] connorhsm opened #38403 "Basic JavaScript divsion operator interacting with comment syntax highlighting"
**Describe your problem and how to reproduce it:**
When viewing the following lesson: Basic JavaScript: Divide One Decimal by Another with JavaScript
You can observe the division operator in the beginning code is interfering with the single line comment at the end of the line.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures

[2020-03-20 14:25] RandellDawson commented on #38397
@raisedadead @ThePrakashKumar I replied back to [this topic](https://www.freecodecamp.org/forum/t/something-wrong-with-testing-in-apis-and-microservices-project-section/360919) with more questions.

[2020-03-20 14:33] raisedadead commented on #38397
Hi @RandellDawson lets discuss here instead.

I vaguely remember Valery added the ability to test projects for the first few projects, and if I remember correctly, and we were supposed to write the tests for others.

I am not sure, if there is a PR waiting for this or something.

[2020-03-20 14:54] mehanix opened #38404 ""Advanced Node and Express - Set up a Template Engine" passes as correct despite wrong solution"
**Describe your problem and how to reproduce it:**
When setting up Pug for the first time, even though I didn't choose to **render** the index.pug page, but sent it (using app.sendFile), the FCC checker passed my solution as correct.

Code that wrongly passes tests:
[code]

Actual solution:
[code]

This is especially confusing for a beginner as the boilerplate comes with res.sendFile as a default,

[2020-03-20 15:30] ojeytonwilliams commented on #38397
@moT01 this looks familiar.  Weren't you working something related to this?

[2020-03-20 15:40] moT01 commented on #38397
Yea - tests don't exist for most of the backend projects so any URL passes. https://github.com/freeCodeCamp/freeCodeCamp/issues/37185 - there's a few open PR's to add tests for some of them.

[2020-03-20 15:41] #38397 closed

[2020-03-20 15:52] raisedadead commented on #38397
Thanks for the update @moT01 !

[2020-03-20 16:58] ThePrakashKumar commented on #38397
So I have to wait till the PR's get merged to my code.

[2020-03-20 19:19] raisedadead commented on #38397
You should not wait to submit the challenges, I would recommend you complete the projects to the best of your abilities sticking to the user stories and requirements and move ahead to get your certifications.

You can always re-submit this later, if you want to test it against the test suite in future.

[2020-03-20 20:31] #37783 closed

[2020-03-20 20:31] #37784 closed

[2020-03-20 21:39] #38379 closed

[2020-03-21 07:06] ThePrakashKumar commented on #38397
@raisedadead already completed some projects and doing the rest. And one more thing there are some open PR in the boilerplate repo and also did one but no one seems to respond there. Her is the link: https://github.com/freeCodeCamp/boilerplate-socketio/pulls
Thanks!

[2020-03-21 07:15] raisedadead commented on #38397
Thanks for those updates, would you be interested in contributing to these boiler plate repos?

Let me know, we can add you to the @freeCodeCamp/moderators team , which would give you access to review and merge pull-requests.

[2020-03-21 10:39] kevthew commented on #38402
im having the same issue here
[](https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-principles/make-an-image-responsive)

I followed along with the video but nothing the first test fails and the last test passes
heres my
 `<style>
.responsive-img {
  max-width: 100%;
  display: block;
  height: auto;
}

img {
  width: 600px;
}
</style>`

[2020-03-21 11:00] kevthew opened #38410 "Remove video for the challenge in question"
**Describe your problem and how to reproduce it:**
I followed along with the video entered the code exactly and the first test fails second test passes the code is correct so the test I think is broke

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-principles/make-an-image-responsive

**Tell us about your browser and oper

[2020-03-21 11:05] kevthew commented on #38410
worked in chrome only test I have had trouble with so far

[2020-03-21 11:44] Sky020 commented on #38402
@kevthew , Please note that the code in the video is an example, and not the solution to the challenge. You are not supposed to have `display: block` in the solution.

[2020-03-21 13:40] RandellDawson commented on #38410
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-03-21 14:41] kevthew commented on #38410
not n issue with code issue with test it worked in chrome and not edge test is broken on Microsoft edge

[2020-03-21 14:59] RandellDawson commented on #38410
What code did you try on Microsoft Edge?

What errors (if any) did you see in the browser's console (not the FCC console)?

[2020-03-21 15:01] kevthew commented on #38410
I followed the code in the video for help

[2020-03-21 15:04] kevthew commented on #38402
it worked on chrome with either solution the test is broke on edge

[2020-03-21 15:41] RandellDawson commented on #38410
Please post what you see in your browser's console.  Thank you.  Also, please post the code you tried.

[2020-03-21 16:29] slesarevns opened #38413 "Broken tests (APIs and microservices)"
**Describe your problem and how to reproduce it:**
Hi, I've noticed that "APIs and microservices" tests broken, to reproduce put any links to the solution field and click on ''I've completed this challenge" we'll have always the same result "100% complete"
![Без названия - 2020-03-21T182507 089] (https://user-images.githubusercontent.com/10522353/77231127-914ef900-6ba1-11ea-8403-8b12346ad336.png)

[2020-03-21 16:31] RandellDawson commented on #38410
@lasjorg I notice if I add the following console.log to the first test's testString (when testing locally):
[code]
I only see the following in Edge
[code]
vs the following in Chrome:
[code]

[2020-03-21 16:33] RandellDawson commented on #38413
Please see [this closed issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/38397) regarding why.

[2020-03-21 16:33] #38413 closed

[2020-03-21 17:24] seema-shaik commented on #35757
The body element should wrap around both the h1 and p elements.

[2020-03-22 00:40] lasjorg commented on #38410
What version of Edge are you running? @kevthew  and @RandellDawson

It passes for me in the Chromium-based version which is the only version I have, so I'd like to know what version you are running.

@RandellDawson Does it give you the same output if you run the log from the browser console? I get the full object when I run it in the console. Not sure where it is getting `-webkit-animation` from,

[2020-03-22 03:07] RandellDawson commented on #38410
@lasjorg I tested it using Edge version 44.18362.449.0 on Windows 10 Home.  It gives the same from the browser console. On Chrome it works as expected.

[2020-03-22 05:39] PATHAKABHISHEK commented on #38403
I am working on it

[2020-03-22 14:35] lasjorg commented on #38410
Well, I can't test it using that version (unless I set up a VM for it).

Not sure where it is getting the pixel value from, that seems very odd. I don't understand how `max-width` set to 100% would ever compute to a pixel value.

Using `$(selector).css(property)` should be the same as using getComputedStyle. Looking at the jQuery source I'm not sure why it wouldn't be the same.

Jquery source for

[2020-03-22 20:05] carvalhais commented on #38402
Apresentações : version 0_10
Web Store : version 0_2
Documentos : version 0_10
Google Drive : version 14_2
YouTube : version 4_2_8
User-Agent Switcher : version 2_0_0_4
Gmail Off-line : version 1_20
Google Agenda : version 4_5_10
Video Downloader professional : version 1_99_1
Planilhas : version 1_2
Editor do Office : version 134_193_207
Feedback : version 1_0
Documentos Google off-line : version

[2020-03-22 23:43] KartikSoneji opened #38416 "Error in all Certificate Project sample CodePens"
Forum post: https://www.freecodecamp.org/forum/t/error-in-all-certificate-project-sample-codepens/362201

I have 3rd Party cookies disabled on my Browser, and almost all of Certificate
Project sample CodePens are broken for me.

Eg: https://codepen.io/freeCodeCamp/full/KaNGNR

This is all that I see:
![image](https://user-images.githubusercontent.com/25801283/77266141-a4a6b500-6cc4-11ea-8058-e6924

[2020-03-23 00:07] torates opened #38417 "Emoji picker in the preference section of the forum profile is out of place"
**Describe the bug**
When in the forum's profile settings, and trying to change your 'about me' status in the preferences section, it's impossible to add Emojis thanks to the emoji-picker being out of place, and out of the website's flow.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to freeCodeCamp forum
2. Click on 'Profile'
3. Click in your username left to the bell
4. Click 'Prefere

[2020-03-23 00:16] KartikSoneji commented on #38416
Update: I am working on a PR: https://github.com/KartikSoneji/testable-projects-fcc

[2020-03-23 01:18] moT01 commented on #38417
I'm not seeing it on High Sierra + Firefox...
<img width="604" alt="Screen Shot 2020-03-22 at 8 13 45 PM" src="https://user-images.githubusercontent.com/20648924/77270534-350bd800-6c7a-11ea-9bd4-a9d0bc948320.png">

Are there any browser extensions you are using that might be altering styles? Have you tried any other browsers by chance?

[2020-03-23 04:39] PATHAKABHISHEK commented on #38417
# I am seeing this bug in Firefox and Chrome

![Screenshot (7)](https://user-images.githubusercontent.com/34957434/77281839-3e368c80-6cee-11ea-97e2-97f3d01540c3.png)

![Screenshot (8)](https://user-images.githubusercontent.com/34957434/77281841-40005000-6cee-11ea-8ae6-2f4fb52a04f3.png)

[2020-03-23 07:37] anilvrs90 opened #38418 "MongoDB and Mongoose - Perform Classic Updates by Running Find, Edit, then Save"
**Describe your problem and how to reproduce it:**
The tests seems to be broken, Please find the attached screenshots and code.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/apis-and-microservices/mongodb-and-mongoose/perform-classic-updates-by-running-find-edit-then-save

**Tell us about your browser and operating system:**
Browser Name:  Google Chrome
Browser V

[2020-03-23 11:15] AshNaz87 opened #38421 "EBUSY Error When Using Docker to Run Project Locally"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.

When running `npm run docker:run-once`, Husky reports that the git version is not supported and an `EBUSY` error appears while installing:

[code]
and

[code

[2020-03-23 12:02] #38394 closed

[2020-03-23 12:08] RandellDawson commented on #38418
Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-03-23 12:08] #38418 closed

[2020-03-23 15:23] Sky020 commented on #38402
@carvalhais That is a lot of extensions. I cannot see any that would interfere, but, just to confirm, I suggest denying access to fCC for all of them.

[2020-03-24 00:13] carvalhais commented on #38402
So, I have found the culprit, it turns out that's a Windows bug, somehow. The problem manifests whenever you have a custom resolution scaling setting turned on (Start menu → Settings → System → Display → Custom scaling, see attached file, but it's in my local language).

I have successfully reproduced the bug in two different computers, and in both the problem is gone whenever I disabled the custo

[2020-03-24 00:13] #38402 closed

[2020-03-24 00:47] moT01 commented on #36626
An alternative could be to just store the last 5 or 10 submitted challenges in local storage or something like that (or more). This way the hard work put in to a challenge won't immediately be lost, and they can refer back to it, but just for a little bit. And we wouldn't have to worry about the storage filling up.

@iabhishek07's case of going back through a weeks worth of challenges is probably

[2020-03-24 01:35] lasjorg opened #38426 "Scrimba Video for Basic HTML and HTML5: Create a Set of Radio Buttons needs updating"
Challenge: https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/create-a-set-of-radio-buttons
Video: https://scrimba.com/c/cNWKvuR

The HTML in the video does not have the proper nesting of input elements inside labels. A student can not pass the challenge using code from the video.

Test that fails using the code in the video:

@beaucarnes If it's possible to get this upd

[2020-03-24 01:37] lasjorg commented on #36590
@beaucarnes this still needs to be fixed, if possible.

[2020-03-24 12:24] DZuz14 commented on #38194
@ahmadabdolsaheb @QuincyLarson Hopefully this is somewhere along the lines of what you guys were looking for. https://github.com/freeCodeCamp/freeCodeCamp/pull/38431

[2020-03-24 15:03] RandellDawson opened #38433 "Test and/or solution for the Add Methods After Inheritance challenge seems to be incorrect"
After seeing a [question on the forum](https://www.freecodecamp.org/forum/t/dogs-own-properties/362853/2) concerning the [Add Methods After Inheritance](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/object-oriented-programming/add-methods-after-inheritance) challenge, I am wondering if either the following test's `text` and/or `textString` is incorrect.

[code]

If t

[2020-03-24 17:09] Sky020 commented on #38433
@RandellDawson If the test is `Dog should have the bark() method as an own property`, then, does this not satisfy that:
[code]
It is not the `beagle`s property, but the `Dog`.

[2020-03-25 02:52] MarkNixon opened #38436 "Rosetta Code-Strip Control Codes: Assertions Assert Incorrect Strings"
The testing assertion argument strings don't match the input strings. They're missing second slashes. Therefore the test won't accept correct answers:

![image](https://user-images.githubusercontent.com/5247545/77496724-e50f4b80-6e08-11ea-8d1d-eebdc1d681e6.png)

Test Page: [Strip Control Codes](https://www.freecodecamp.org/learn/coding-interview-prep/rosetta-code/strip-control-codes-and-extended-c

[2020-03-25 05:09] #38361 closed

[2020-03-25 09:07] Tuuben commented on #38376
@DannyBoris I've made a PR for the menu list. Are you still interested to take a look at the search?

[2020-03-25 14:29] Ayodeji97 commented on #17446
solution:
let ohStr = 'Ohhh no';
let ohRegex = /oh{3,6}\sno/i;
let result = ohReges.test(OhStr);

This should work....
'\s' will create a space

'i' will make it case insensitivity

[2020-03-25 16:09] QuincyLarson opened #38439 "/news search results page doesn't produce Twitter card"
Currently the search results page of /news doesn't have the necessary meta properties to produce a large Twitter card. I think we need an `og:image` and twitter image property for this. We also need the proper tags so that Twitter can display a summary. I imagine this is also the case with Facebook and LinkedIn. Here's an example of the card not rendering on Twitter:

https://twitter.com/ossia/sta

[2020-03-25 16:20] DZuz14 commented on #38439
I can tackle this pretty quickly if you guys want.

[2020-03-25 16:52] DZuz14 commented on #38439
Updating the headers to the following would fix the issue. Some necessary meta tags were missing.

[code]

[2020-03-25 17:02] DZuz14 commented on #38421
@AshNaz87  The latest release of his git version is all the way back in 2017-09-22. You should probably upgrade. Not really sure this needs to be an issue?

[2020-03-25 17:09] Sky020 commented on #38436
@MarkNixon , The tests do accept at least one correct answer:
![image](https://user-images.githubusercontent.com/51722130/77564802-31b35f00-6ebb-11ea-8c99-8bb650a0998a.png)
[code]

Is something not working on your end?

[2020-03-25 17:19] AshNaz87 commented on #38421
@DZuz14 to keep track of this. The complaint about the git version is specific to Docker

[2020-03-25 19:59] geoff616 opened #38440 "Donation page text showing wrong donation frequency"
When navigating to https://www.freecodecamp.org/donate/ and selecting a monthly donation, the text below says "Confirm your donation of $X / year with PayPal" when I would expect it to say "Confirm your donation of $X / month with PayPal"

This text is coming from:

https://github.com/freeCodeCamp/freeCodeCamp/blob/8866ed74c201be69ace03101fca942ce06f74ee7/client/src/components/Donation/DonateForm.

[2020-03-25 20:04] alexgignilliat commented on #38376
This is a great idea - willing to help if needed.

[2020-03-25 22:09] alti21 commented on #38440
Can I try this?

[2020-03-26 06:10] scissorsneedfoodtoo commented on #38439
@DZuz14, awesome, thank you for jumping on this so quickly.

Please go ahead and submit a PR to the news-theme repo and we'll review it right away: https://github.com/freeCodeCamp/news-theme

[2020-03-26 07:51] #38440 closed

[2020-03-26 09:39] #37633 closed

[2020-03-26 11:40] beggycev opened #38445 "TypeError: Cannot read property 'presets' of undefined"
**Describe your problem and how to reproduce it:**

1. Go to Curriculum-> jQuery -> lesson 1
1. Enter correct solution (tested with own code as well as sample solution from forum)
1. Output pane displays: _TypeError: Cannot read property 'presets' of undefined_

To me seems similar/same as #38252

**Add a Link to the page with the problem:**
[https://www.freecodecamp.org/learn/front-end-libraries/

[2020-03-26 12:07] ojeytonwilliams commented on #38445
Hi @beggycev, thanks for the report.  It looks like your browser has a old version of one of the scripts.  Right now production is using `app-832149905078e58275f3.js`, but I see from the logs that yours is using `app-293d778...`

If you've got a moment, could you confirm it's still not working, then open your dev console, go to the network tab and make sure 'disable cache' is checked.  Then try re

[2020-03-26 12:55] beggycev commented on #38445
Hi @ojeytonwilliams ,

it works now, thank you for getting back. This is something I did not think of.
Sorry for unnecessary issue.

[2020-03-26 13:23] Sky020 opened #38447 "Concatenating Strings with Plus Sign solution not working"
**Describe your problem and how to reproduce it:**
As described in the linked forum posts, the correct solution is not passing one of the test.
1) Go to lesson
2) Paste in correct solution: `var myStr = "This is the start. " + "This is the end.";`
3) See test fail

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javasc

[2020-03-26 13:28] Sky020 commented on #38447
Upon testing: Posting in this solution works, but only because of the added variable:
[code]
You can pass the challenge with this:
[code]

[2020-03-26 14:00] ojeytonwilliams commented on #38445
@beggycev not at all, you've shed some light on a problem - it should not be necessary to clear your case every time we update the site!

I'm going to reopen this for now, since it's a nice example of that type of problem.

[2020-03-26 14:46] lasjorg commented on #38447
I didn't test this but the seed code was changed (moved to challenge text) so now the solution code doesn't match.

Code changes:
https://github.com/freeCodeCamp/freeCodeCamp/commit/e0e633462807b69e08dfb5cc7171fcc9294b613f#diff-1b554bd4d9d3d478b0cf24500394c8cd
https://github.com/freeCodeCamp/freeCodeCamp/commit/e0e633462807b69e08dfb5cc7171fcc9294b613f#diff-076de93d4dcbbbf202da03cedb3e8482

[2020-03-26 14:58] moT01 commented on #38447
[Here's the file with the problem](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/concatenating-strings-with-plus-operator.english.md).

The second test needs to be changed, and the solution needs to be changed.

[2020-03-26 15:09] Sky020 opened #38448 "Delete properties from a JS Object solution not working"
**Describe your problem and how to reproduce it:**
Following the linked forum post, this challenge does not pass with the correct solution. Similar to #38447
1) Go to lesson
2) Type in solution: `delete myDog.tails;`
3) See test **2** never passes.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/delete-prop

[2020-03-26 15:11] DZuz14 commented on #38439
Yeah, I was under the assumption news was handles by the Gatsby app. I unfortunately don't have any time to learn how Ghost and handlebars works. If someone already familiar with had the information above, they could easily change all of the templates headers to display information in this style.

As of right now, I can see the home page, search results, and blog posts all contain different types

[2020-03-26 15:13] #38204 closed

[2020-03-26 15:19] Sky020 commented on #38448
Similar issue with https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/iterate-with-javascript-for-loops

This also has poor English: `Use a for loop to work to push the values 1 through 5 onto myArray.`

Should this go in its own issue? I feel there may be even more, and it will clog-up the repo.

[2020-03-26 15:23] Sky020 commented on #38448
Another lesson: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/count-backwards-with-a-for-loop

[2020-03-26 15:32] DZuz14 commented on #38439
If anyone else wants to pick this up, here are some links for easy reference:

- [Twitter Card Validator](https://cards-dev.twitter.com/validator)
- [Twitter Card Markup Reference](https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/markup)

- [Facebook Sharing Debugger](https://developers.facebook.com/tools/debug/)
- [Facebook Open Graph Reference](https://developers.faceboo

[2020-03-26 15:42] lasjorg commented on #38447
Yep, I saw that. I was trying to figure out Gitpod so I didn't post back. Still not 100% sure of the workflow.

But it's an easy enough fix so I think maybe we should let someone new get a commit in.

[2020-03-26 15:44] ojeytonwilliams commented on #38447
Let's not leave it too long, it'll be frustrating for people trying to learn.

[2020-03-26 15:47] lasjorg commented on #38447
This challenge is affected as well I'm guessing
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/concatenating-strings-with-the-plus-equals-operator

`testString: assert(code.match(/\w\s*\+=\s*["']/g).length > 1 && code.match(/\w\s*\=\s*["']/g).length > 1);`

[2020-03-26 15:59] RandellDawson commented on #38447
Due to the PR merged yesterday, there are several challenges that I am fixing right now that were using the match.length > 1.  The reason the tests did not break, is because the solutions still had the example code that was removed from the challenge seed of the challenges.  If there are any others like this particular challenge, please post here and I will fix them all in a single PR this morning

[2020-03-26 16:17] RandellDawson commented on #38447
Update:  There were only 42 files on that PR and only a few of the challenges were affected.  Almost finished with the PR that will fix this mess.  I also changed some of the tests to make them more robust at the same time.

[2020-03-26 16:38] lasjorg commented on #38447
Does code comments in the seed code need to be matched in the solution code?

Just in case it helps, here are some challenges that looks like the solution code needs to be changed in (some verification would be nice)
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/appending-variables-to-strings
https://www.freecodecamp.org/learn/javascript-algorithms-a

[2020-03-26 16:42] RandellDawson commented on #38447
@lasjorg I modified all of those and a few more.  The comments should not make any difference.  We had planned on removing the comments from the solutions at one point during this whole process, but we concluded a separate PR after all of set of 4 PR which consolidated comments in the JavaScript challenges would be better.  We can do that once we have validated my latest PR fixes the latest bugs.

[2020-03-26 16:45] lasjorg commented on #38447
Do we need a temporary pinned forum message just to acknowledge the bugs and avoid a flood of posts?

[2020-03-26 16:45] RandellDawson commented on #38448
@Sky020 Related to issue #38447

I have a PR on the way.

[2020-03-26 16:54] RandellDawson commented on #38447
My goal is to get this PR merged in the next 30 minutes and then ask @raisedadead to deploy to production as soon as possible.  @raisedadead Should we create a pinned message or just get this PR merged and deployed to production?

[2020-03-26 16:56] RandellDawson commented on #38447
@Sky020 @lasjorg Please feel free to review PR #38450.

[2020-03-26 16:58] raisedadead opened #38451 "DevOps: re-structure and re-work on deployment pipeline"
- [ ] Currently adding dependencies breaks the API deployments.

  We do not install dependencies on the VM because it will mutate the node_modules while we are serving the API. So, we have to stop the processes and then do install, build start.

  This is fine in production because we have multiple instances and can take them offline one by one.

- [ ] ... more.

[2020-03-26 17:03] raisedadead commented on #35559
Please drop us an email: <code>support@freecodecamp.org</code> from your registered email id with the username. This is most likely due to duplicate accounts.

[2020-03-26 17:03] #35559 closed

[2020-03-26 17:09] Leodau commented on #38451
Hello, how would you think it should be re-structured?. Could you please provide a description?

[2020-03-26 17:42] #38447 closed

[2020-03-26 17:42] #38448 closed

[2020-03-26 17:49] raisedadead commented on #38445
Closing in favour of https://github.com/freeCodeCamp/freeCodeCamp/issues/35259

[2020-03-26 17:49] #38445 closed

[2020-03-27 01:32] moT01 opened #38455 "Rosetta challenges out of order"
<img width="428" alt="Screen Shot 2020-03-26 at 8 07 49 PM" src="https://user-images.githubusercontent.com/20648924/77711367-c5119080-6f9e-11ea-941f-3d242afd153f.png">

The rosetta code challenges are all in alphabetical order except those first few. I did some digging and found that [this PR](https://github.com/freeCodeCamp/freeCodeCamp/commit/72bc067e6b81cba051a4fae1b9f26fb47f512435#diff-8f0e5ff

[2020-03-27 10:24] ahmadabdolsaheb commented on #38376
Thank you for your help everyone, I believe most of the items mentioned in this issue has been addressed.  Only the general aesthetics of the landing page remains that deserves an issue of its own.

I will close this issue for now. Please feel free to open an issue to discuss the landing page specifically.

[2020-03-27 10:24] #38376 closed

[2020-03-27 10:32] ahmadabdolsaheb commented on #38439
The news meta is handled by ghost automatically.
Some pages do not include social meta, which need further investigation.
Here is a good place to start for unifying the social meta for the gatsy app.
https://github.com/freeCodeCamp/freeCodeCamp/blob/master/client/src/head/meta.js

[2020-03-27 11:12] kingdopamine opened #38459 "Spelling error in the instructions"
**Describe your problem and how to reproduce it:**
You said 'LocalStartegy' instead of 'LocalStrategy'

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/information-security-and-quality-assurance/advanced-node-and-express/authentication-strategies
![Screenshot 2020-03-27 at 11 08 56](https://user-images.githubusercontent.com/22297192/77750340-7d7d1a00-701b-11ea-9ac6-

[2020-03-27 12:32] sohaibimalik commented on #38459
I'll take it up.

[2020-03-27 13:23] #38459 closed

[2020-03-27 18:25] kingdopamine commented on #16967
Just wasted hours of my life on this challenge due to the omission of very simple information critical to passing this challenge. How can FCC not include something as simple as "change the title from 'Hello' to 'Home page' in the instructions. What a piss take. I'm furious.

[2020-03-27 18:51] RandellDawson commented on #16967
@kingdopamine Would you mind creating a new issue for your complaint.  The original problem this issue was created for has been resolved, so to get a fresh pair of eyes on your issue, it is best to create a new issue.   Thank you.

[2020-03-28 06:08] scissorsneedfoodtoo commented on #38439
Hi @DZuz14, thanks for the additional details and for looking at different blogs posts. Making the meta tags uniform across the different apps is definitely something we should look into.

[2020-03-28 07:05] #38455 closed

[2020-03-29 01:07] lasjorg opened #38463 "Remove redundant challenge (or fix it)"
Challenge: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-data-structures/add-key-value-pairs-to-javascript-objects

The challenge is part of the Basic Data Structures. It seems completely redundant, not to mention incorrectly implemented.

1. It is redundant because we already have [a challenge](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-

[2020-03-29 06:38] ahmadabdolsaheb commented on #38277
duplicate of #38362

[2020-03-29 06:38] #38277 closed

[2020-03-29 09:46] ojeytonwilliams commented on #38463
I vote for adding examples.  It's true that it's repeating an earlier challenge, but refreshing people's memory seems fine to me.

Also, the next challenge, https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-data-structures/modify-an-object-nested-within-an-object, could do with an example as it's slightly more complicated.

[2020-03-29 12:52] KartikSoneji commented on #38416
I went through the [repository](https://github.com/freeCodeCamp/testable-projects-fcc), and turns out that the CodePens are not up to date with the repo.

The code in the repository **does not** use `localStorage`: https://github.com/freeCodeCamp/testable-projects-fcc/blob/master/src/projects/d3-bar-chart/index.js#L5

[2020-03-29 13:17] moT01 commented on #38463
I vote to keep it around as well. Redundancy is kind of the whole goal of the project based curriculum. I would give it a slight rewrite so that the examples show how to set values, and get rid of the current examples.

[2020-03-29 13:39] moT01 commented on #38436
To be clear, the text needs to be changed to match the assertions....

[code]

should be changed to...
[code]

and similar for the rest of the text.

[2020-03-29 20:34] AshNaz87 commented on #38463
@ojeytonwilliams What do you mean by adding examples? E.g. where it says `Add three more entries`, add more todos there?

[2020-03-29 21:03] AshNaz87 opened #38467 "Example could be added to explain to users how to modify an object within a nested object"
**Describe your problem and how to reproduce it:**
Follow up from issue #38463

**Add a Link to the page with the problem:**

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-data-structures/modify-an-object-nested-within-an-object

[2020-03-29 21:46] #38467 closed

[2020-03-29 21:46] RandellDawson commented on #38467
Closing as a duplicate of #38463

[2020-03-30 08:03] ojeytonwilliams commented on #38463
@AshNaz87 I meant demonstrations of the code we want users to write.  For example, in the description there should be something like

[code]

to remind them of the syntax for setting members.

I think there are enough todos.

[2020-03-30 08:45] ojeytonwilliams opened #38469 "Hotkey clash between search and save code"
Currently SearchBox from react-instantsearch-dom listens to the key event `s` and focuses the search box when it receives it.  When `ctrl+s` is pressed (to save user code) this also triggers the search listener and focuses the search box.

Ideally, if possible, the hotkeys should only be handled by react-hotkeys, which listens to `s` and `ctrl+s` separately.  If not, different hotkeys should be us

[2020-03-30 11:52] AshNaz87 commented on #37961
@RandellDawson Submitted a [PR](https://github.com/freeCodeCamp/testable-projects-fcc/pull/1073)

Next steps?

[2020-03-30 13:08] moT01 opened #38470 "Tab is 4 spaces in editor, should be 2"
This is pretty minor, and I'm not sure if it's in our control.

But if you go to any challenge that has the built in code editor.
Pressing tab adds four spaces to the code.
It would be nice to switch that to two if possible.

I think two spaces is the standard, but perhaps it's just my preference.

[2020-03-30 13:17] satyan-dot opened #38471 "mY Answer even it matches the answerObject.freeze(MATH_CONSTANTS); given it is still not going to the next and showing an error "You should not change original MATH_CONSTANTS." though I did not do any changes to MATH_CONSTANTS."
**Describe your problem and how to reproduce it:**
mY Answer even it matches the answerObject.freeze(MATH_CONSTANTS); given it is still not going to the next and showing an error "You should not change original MATH_CONSTANTS." though I did not do any changes to MATH_CONSTANTS.

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structure

[2020-03-30 13:18] #38471 closed

[2020-03-30 13:19] satyan-dot commented on #38471
Awaiting an immediate answer please.

[2020-03-30 13:33] satyan-dot commented on #38471
I am stuck please

[2020-03-30 13:59] RandellDawson commented on #38471
@satyan-dot Please use [our forum](https://www.freecodecamp.org/forum) for debugging the code of your projects.  If the forum members determine there is nothing wrong with your code, you can request this issue to be reopened.  GitHub issues are meant for reporting bugs and not troubleshooting the code in your projects.

Thank you for understanding.

[2020-03-30 14:13] AshNaz87 commented on #38470
Agree 👍

[2020-03-30 15:06] ojeytonwilliams commented on #38470
It's an option we can set: https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.itextmodelupdateoptions.html#tabsize

[2020-03-30 15:23] #38436 closed

[2020-03-30 15:30] satyan-dot commented on #38471
Thank you for your response

On Mon, Mar 30, 2020 at 7:29 PM Randell Dawson <notifications@github.com>
wrote:

[2020-03-30 16:05] tknick2 opened #38474 "freeCodeCamp JavaScript Console not responding appropriately"
**Describe your problem and how to reproduce it:**
"Challenge: Understanding the Differences between the freeCodeCamp and Browser Console" indicates that the freeCodeCamp console should display the string twice, but it only displays once, even when the challenge has been completed.

**Add a Link to the page with the problem:**

**Tell us about your browser and operating system:**
* Browser Name:
*

[2020-03-30 16:18] moT01 commented on #38474
The was written before our console was changed to behave more accurately. This may need a slight rewrite, or possibly just remove this challenge.

[2020-03-31 10:50] #38470 closed

[2020-03-31 14:24] Ieahleen opened #38478 "challenge Basic HTML and HTML5: Create a Form Element can pass with wrong code"
**Describe your problem and how to reproduce it:**
this challenge instruct to next the existing input element inside a form tag. It is possible to pass this challenge by creating a new input tag inside the form element without nesting the existing one.

The following code with two input elements passes:
[code]

**Add a Link to the page with the problem:**
https://www.freecodecamp.org/learn/respons

[2020-03-31 14:49] ojeytonwilliams commented on #38478
@Ieahleen thanks for reporting this!

How about an extra test to count the number of `<input>`s?

[2020-03-31 14:52] moT01 commented on #38478
Sounds good to me @ojeytonwilliams. I would make the text: `You should not any additional input elements.`

[2020-03-31 15:02] RandellDawson commented on #38478
I also suggest changing the instructions to:

[2020-03-31 15:06] RandellDawson commented on #38478
@ojeytonwilliams We don't really care if the user adds extra input elements outside the form element.  We just want to make sure there is just one input element nested with the desired action attribute nested inside the form element.

[2020-03-31 15:18] moT01 commented on #38478
I don't mind making users nest the existing input. I agree that the concept of the challenge is to add an action to a form. But if that were all we cared about, why check for an input at all? I think this little bit of extra work gives the challenge a little more depth without complicating it.

[2020-03-31 15:25] ojeytonwilliams commented on #38478
The first test could also be made into an equality, then. The second test checks that the form (with the nested input) has the right action.

[2020-03-31 16:22] marc-turner opened #38479 "React build error"
**Describe the bug**
ERROR in Console when doing "React: Review Using Props with Stateless Functional Components":
Won't render components. Tested in Chrome and Firefox. Occurs on other React leassons as well.

"unpkg.com/react-dom@16.4.0/umd/react-dom.production.min.js:110 Invariant Violation: Minified React error #152; visit https://reactjs.org/docs/error-decoder.html?invariant=152&args[]=Camper

[2020-03-31 20:02] ojeytonwilliams commented on #38479
Hi @marc-turner, you may need to clear your browser's cache.  If you open the dev console, go to the network tab, check disable cache and reload the problem might go away.

If not, I'd bring this up on the forum.

[2020-03-31 20:26] Sky020 commented on #38474
I have seen far too many campers stuck on challenges, because they rely on the fCC console entirely for debugging. So, I would suggest we just rewrite part of it. Perhaps, putting information/emphasis on how to effectively use the dev-tools.

[2020-03-31 20:34] #38037 closed

[2020-03-31 21:19] ojeytonwilliams commented on #38474
@Sky020 do you know what it's not doing properly?  I can see about improving it, if it's unhelpful.

[2020-04-01 02:46] ruslan-akhm commented on #38474
It actually works the way it supposed to for me.
I believe it's about unclear explanation.
The thing is, if you type:
`let output = "Get this to log once in the browser console and twice in the freeCodeCamp console";

console.log(output);
console.clear();

console.log(output);`

it will show two outputs in FCC console and only one in browser (I'm using Chrome)

[2020-04-01 05:36] djma777 commented on #16967
LMAO! This is my second round on the lessons and I still got stuck on this one. Been months since my first go, we still haven't fixed this. 💃

[2020-04-01 09:59] Sky020 commented on #38474
@ojeytonwilliams , users struggle with the recursive challenges, because they will `console.log` their final output (or similar), and it will match the tests, but the tests will not pass, because the actual output is multiple arrays. Something like this:
[code]
I will try to find an actual example, at some point.

[2020-04-01 10:42] ojeytonwilliams commented on #38474
An example would be great, thanks.  For what it's worth, I tried a recursion challenge and it's behaving as expected:

[code]
gives

[code]
in the fCC console and

[code]

in the dev console.  Not identical, but I think it's okay.

[2020-04-01 12:27] satyan-dot commented on #38471
Hi! Mr.RandalDawson
I could understand by running the code in the Chrome Browser - it is due to the browser issue and not that there is any wrong in the code i completed.
THIS IS FOR YOUR INFORMATION  PLEASE;
Reset

6
Nothing can be added to or removed from the properties set of a frozen object. Any attempt to do so will fail, either silently or by throwing a TypeError exception (most commonly, bu