[2018-06-29 18:15] AnonymousLords opened #17761 "Able to pass Restrict Possible Usernames with incorrect code"
This is the Regex challenge --> https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions/restrict-possible-usernames

The specification of the code you will write is:

Yet it never actually checks for it, meaning you could cheat with the code below:

[code]

--> https://repl.it/@John_Nicole/Regular-Expressions-17761

If you actually tested for that, a username l

[2018-06-29 18:15] ranavc32 commented on #17758
@Nirajn2311 , Thanks Man :) I wasn't able to notice this small typo. Thanks a lot 👍

[2018-06-29 18:16] BogdanDor opened #17762 "Sass: Use @for to Create a Sass Loop Test Bug"
#### Describe your problem and - if possible - how to reproduce it
Sass: Use @for to Create a Sass Loop

Tests don't passes in Google Chrome, but pass in Firefox.
It view correct.

My code:
<style type='text/sass'>
  @for $j from 1 to 6 {
    .text-#{$j} {font-size: 10px * $j;}
  }
</style>

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/front-end-libraries/sass/use-fo

[2018-06-29 18:20] AnonymousLords commented on #17758
Please try and post something like this on the FCC forums and confirm it is a actual issue before here.
--> https://forum.freecodecamp.org/

[2018-06-29 18:21] ranavc32 commented on #17758
@AnonymousLords , I will keep this in mind.

[2018-06-29 18:22] #17758 closed

[2018-06-29 19:10] davidzambo opened #17763 "Advanced Node and Express - Implementation of Social Authentication -> Test validation error with possible soultion"
#### Describe your problem and - if possible - how to reproduce it
Advanced Node and Express - Implementation of Social Authentication test validation fails,
although all steps done correctly and the live version of glitch project works fine.

As I reviewed the the validation test, I found a bug:
original : assert.match(data, /('|\")\\/auth\\/github('|\")[^]*get.*passport.authenticate.*github/gi,

[2018-06-29 19:31] #17729 closed

[2018-06-29 19:31] #17477 closed

[2018-06-29 19:31] #17577 closed

[2018-06-29 19:31] #17623 closed

[2018-06-29 19:31] #17723 closed

[2018-06-29 19:44] davidzambo commented on #17763
After examining the correct validation source (https://github.com/freeCodeCamp/freeCodeCamp/blob/master/seed/challenges/06-information-security-and-quality-assurance/advanced-express-tools.json)

I realised that the test can be passed if i us --> " <-- instead --> ' <--, and i do not put these options to the Auth.js file, because the validator tests the server.js file

[2018-06-29 20:16] hadiswais commented on #17760
I have same problem in Firefox today.

[2018-06-29 20:45] izakEstesJones commented on #17760
Same problem for me. Issue started today. All behavior was working as expected last night. Firefox 60 & 61, 64bit on MacOS 10.12.

Only the scrolling seems to be broken. Running the test with keyboard shortcut (cmd+Return) worked correctly.

[2018-06-29 20:47] dilipsingh94 commented on #17679
@Ems2theLee thanks

[2018-06-29 21:03] Matthew-Burfield opened #17764 "Issue with Javascript Algorithms - ES6 - use destructuring"
#### Describe your problem and - if possible - how to reproduce it
There is a type in the description. Where the text says "In the example above, the variable start is assigned..." it should say, the variable "startX"

I also found it really confusing having LOCAL_FORECAST declared in the global scope. I was using that for destructuring, instead of the variable being passed in which is technically

[2018-06-29 21:50] davidzambo opened #17765 "Authentication with Socket.IO test fails -> with possible solution"
#### Describe your problem and - if possible - how to reproduce it
At the "Authentication with Socket.IO" project the test fails and the project description is misleading,
because passportSocketIo npm package is actually passport.socketio, so the test regexp searching for something that not exists.

At the same time, when the validator checks the server.js file, it throws "You should correctly req

[2018-06-29 22:12] iccir919 opened #17766 "Find and Replace Window Covering Editor and Console of Curriculum Sections"
#### Describe your problem and - if possible - how to reproduce it
Code editor and console in any Curriculum section are covered by half of a window with 'Find' and 'Replace' in it.

#### Add a Link to the page with the problem
Any curriculum section

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version: Version 67.0.3396.87 (Official Build) (64-bit)
* Ope

[2018-06-29 22:17] mtrivera opened #17767 "D3: Create a Scatterplot with SVG Circles - Test is Passing But Should Fail"
#### Describe your problem and - if possible - how to reproduce it
#### Problem
Test is passing but it should fail. Circles are not rendered.
#### Reproduce
Insert the code below to pass test:
[code]

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/data-visualization/data-visualization-with-d3/create-a-scatterplot-with-svg-circles

#### Tell us about your browser and op

[2018-06-29 22:42] sharkeydavid opened #17768 "Lesson not loading"
#### Describe your problem and - if possible - how to reproduce it
Click to open task // OR // Progress from the previous task - opens page and nav bar appears with none of the lesson details showing. Profile card in corner loading constantly.

Console:

Bundle loading error true
loader.js:136 Loading the JSON for /responsive-web-design/applied-visual-design/create-a-more-complex-shape-using-css-a

[2018-06-30 00:08] #17724 closed

[2018-06-30 00:19] Atita commented on #17320
I have the same issue on my account I'm stuck in April even though  I was solving problems continuously until today.

![image](https://user-images.githubusercontent.com/2093920/42119436-5e156e80-7c14-11e8-9881-36070ca26614.png)

[2018-06-30 00:26] ivan3123708 opened #17769 "Advanced Node and Express - How to Use Passport Strategies - Bad Test"
#### Describe your problem and - if possible - how to reproduce it
In the above mentioned challenge, test called "A POST request to /login correctly redirects to /" always fails, despite the correct code.

I've searched for that code in the curriculum repo and found that the reason for this is poorly written test, specifically this line: ```assert.match(data, /Home page/gi``` which checks if the `

[2018-06-30 01:33] #17532 closed

[2018-06-30 02:15] jgibson02 commented on #17450
@QuincyLarson I have started working on a possible replacement demo that I could then write up some user stories off of, although it seems like the CORS header might not be enabled to be able to fetch that API feed?

[2018-06-30 02:17] #17624 closed

[2018-06-30 02:44] TheChristianFjord commented on #17740
I checked the console and figured it out. ( I had simply misplaced an = sign) Thank you for the feedback!

[2018-06-30 04:34] #17626 closed

[2018-06-30 05:19] Matthew-Burfield opened #17771 "javascript-algorithms-and-data-structures/es6/use-export-to-reuse-a-code-block"
#### Describe your problem and - if possible - how to reproduce it
The tests fail because the code loads without a space between the second variable "bar" and the equals sign. I.e.

`const bar= "foo";`

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-export-to-reuse-a-code-block

#### Tell us about your browser and opera

[2018-06-30 06:04] raisedadead commented on #17768
Hi there! 👋

Thanks for reporting, this issue. Can you please share a screenshot of the console tab on your browser's DevTools. On a macOS you can open it with  <kbd>Cmd</kbd> +  <kbd>Option</kbd> +  <kbd>I</kbd> and then click on the console Tab.

[2018-06-30 06:21] #17115 closed

[2018-06-30 06:22] #17210 closed

[2018-06-30 06:48] raisedadead commented on #17303
Hi @QuincyLarson can you please point them to a FAQ about common issues.

I am thinking the announcement should include a link a page to an FAQ that has granular details of all the changes that may come as a surprise to a subset of users. Its not clear for many users what's the difference between `map` and `curriculum` for example.

I believe instead of responding to thousands of supports requests

[2018-06-30 06:52] jonathanbcsouza commented on #15402
`<style>

  div{
    border-radius: 20px;
    width: 70%;
    height: 400px;
    margin: 50px auto;
    background: linear-gradient(35deg, #ccffff, #ffcccc);
  }

</style>

<div></div>`

[2018-06-30 09:35] mav1283 commented on #17756
@vandao288 Hey i just tweeted this problem on FCC and they're working on it :)

[2018-06-30 10:04] vandao288 commented on #17756
Thank you Paolo.

[2018-06-30 10:56] numoonchld commented on #17762
SAME ISSUE BUT IN FIREFOX:

**Describe your problem and - if possible - how to reproduce it**

Sass: Use @for to Create a Sass Loop

Results in the right most column look fine - but tests don't pass.

My code:
[code]

**Add a Link to the page with the problem**

https://learn.freecodecamp.org/front-end-libraries/sass/use-for-to-create-a-sass-loop/
Tell us about your browser and operating system

[2018-06-30 13:05] WizardOfAus commented on #17699
^^ Yes there is a typo in description.

[2018-06-30 13:06] MinSomai commented on #17679
same problem here.

[2018-06-30 13:37] Arronk opened #17772 "Regular Expressions: Restrict Possible Usernames - Test not working"
#### Describe your problem and - if possible - how to reproduce it

You can cheat this exercise by simply entering /../gi as all the "should match" tests have even digits and all the "should not match" tests are odd. I suggest this is updated so people like myself can not game the system.

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/javascript-algorithms-and-data-s

[2018-06-30 14:00] jjmgauna commented on #15330
<body>
  <script>
    const dataset = [12, 31, 22, 17, 25, 18, 29, 14, 9];

    d3.select("body").selectAll("h2")
      .data(dataset)
      .enter()
      .append("h2")
      // Add your code below this line

      .text((d)=>d+" USD");

      // Add your code above this line
  </script>
</body>

[2018-06-30 14:03] Pigums opened #17773 "Doens't display the buttons in order to run the code"
#### Describe your problem and - if possible - how to reproduce it
On some lessons, the 4 buttons "Run the Tests", "Reset All Code", "Get a hint" and "Ask for help" don't show up.

The problem started happening on the JavaScript - Object Oriented Programming.
It's completely random. Some lessons display the buttons, others don't.

#### Add a Link to the page with the problem
https://learn.freecode

[2018-06-30 14:39] L3gomancer commented on #17760
Same here, it started around Thursday.
I just relaunched FF (which upgraded to 61.0) and still the same problem.
Tabbing to the buttons "Run the tests", "Reset all code" scroll the frame down but my trackpad doesnt scroll with two fingers
2011 Macbook Pro, Sierra 10.12.3

[2018-06-30 14:40] jhomme opened #17775 "Accessibility: HTML <code> tag exposed in test results"
#### Describe your problem and - if possible - how to reproduce it

When taking lessons, in the HTML order, under the separater, where the page shows content that either says what the lesson is waiting for the user to do or when they have errors to fix, the NVDA screen reader sees <code> tags around the elements or keywords this piece of content referrs to. For instance, it might say something lik

[2018-06-30 14:50] jhomme opened #17777 "Screen Readers Do Not Report Completed and Incompleted Lessons In The Corriculum Screen"
#### Describe your problem and - if possible - how to reproduce it

When reading through the lists of lessons, screen readers automatically report that something is a link, which means that the user has not tried a lesson. Screen readers automatically report visited link, which means that the user has tried a lesson. Screen readers do not report whether a lesson was completed or incomplete. If thi

[2018-06-30 15:00] jhomme opened #17778 "Screen Readers do not report the expanded and collapsed state of headings on the Corriculum Screen"
#### Describe your problem and - if possible - how to reproduce it

Initially, when the user opens the curriculum screen, the page shows headings for the big sections of the site. If you click one, it displays content under that heading. I'm guessing that visually, it shows that clicking the headings will expand the content and contract it.

For screen readers and other people with disabilities, t

[2018-06-30 15:08] iamnijin commented on #12350
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }
  h2 {
    font-family: Lobster;
  }
  h2
  {font-family:Lobster,monospace;}
  p {
    font-size: 16px;
    font-family: monospace;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>
<main>
  <p class="red-text">Click here to view more <a href="#">cat photos</a>

[2018-06-30 15:09] iamnijin commented on #12350
h2 {
    font-family: Lobster;
  }
  h2
  {font-family:Lobster,monospace;}
  p {
    font-size: 16px;
    font-family: monospace;
  }

[2018-06-30 16:52] Shejtan commented on #6249
Why is this not working?

function checkObj(checkProp) {
  // Your Code Here

  return (myObj.hasOwnProperty(checkProp)===true) ? myObj[checkProp] : "Not found";
}

[2018-06-30 18:56] DivyanshBatham commented on #17713
@scissorsneedfoodtoo I see you have already fixed the typo, thanks for that and the info you provided.

Next time when I find an opportunity, I'll definitely submit a PR.

[2018-06-30 20:22] mvravn commented on #17403
This is still an issue, I just 'passed' with this:

function makeClass() {
  "use strict";
  /* Alter code below this line */
  class Thermostat {
    constructor(fahrenheit){
      this._fahrenheit = fahrenheit;
    }
    get b(){
      return this._fahrenheit;
    }
    set b(a){
      this._fahrenheit = a;
    }
  }
  /* Alter code above this line */
  return Thermostat;
}
const Thermostat = ma

[2018-06-30 21:22] osmi2017 commented on #16358
P1xt is rigth array.map is the key for this challenge but you shouldnot forget that it takes a function as a parameter

[2018-06-30 22:15] IvandCodes opened #17780 "Typo "autoatically" on Basic HTML and HTML5: Create a Set of Radio Buttons"
#### Describe your problem and - if possible - how to reproduce it

Basically, it's just a typo in "Basic HTML and HTML5: Create a Set of Radio Buttons" challenge. The word "autoMatically" is misspelled as "autoatically"

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/create-a-set-of-radio-buttons

#### Tell us about your bro

[2018-06-30 23:29] quintessentialArmory commented on #17769
I had the same issue and I solved it the same way.

[2018-07-01 00:10] lucasMontenegro opened #17781 "Advanced Node and Express - Failure to connect to database using MongoClient"
Hello. I was having trouble with the code in this challenge:
[Advanced Node and Express - Implement the Serialization of a Passport User](https://learn.freecodecamp.org/information-security-and-quality-assurance/advanced-node-and-express/implement-the-serialization-of-a-passport-user/)

The next code is not working:
[code]

Instead I had to do it this way:
[code]

Where `connection` is a MongoClie

[2018-07-01 00:11] conradkay opened #17782 "Issues with night mode on learn.freecodecamp.org"
Suggested labels:
 first timers welcome
 platform: client
 scope: settings
UX: user interface
#### Problems
###### IMPORTANT:
###### Highlighting text does not show up on the editor, this is very important as it is quite tiresome to have to manually delete each letter.
###### At the homepage:
* (allpages) The searchbar looks a bit bright but it looks mostly ok.
* (many pages that are not tall enou

[2018-07-01 00:15] conradkay commented on #17778
Thank you very much for contributing! Feel free to reach out on small issues as they would be extremely helpful for campers who have just completed the "Accessibility" portion of the curriculum.

[2018-07-01 00:44] tinydynamite00 commented on #17680
The flow from the login page to the FCC lessons has been updated since the issue was first submitted.
Close #17680

[2018-07-01 00:44] #17680 closed

[2018-07-01 00:49] skpupil commented on #17778
哦

[2018-07-01 01:32] eyeMNaughtReal commented on #17780
![image](https://user-images.githubusercontent.com/13009248/42130240-0eec7c10-7cad-11e8-979f-079187b35f9a.png)

[2018-07-01 03:16] conradkay commented on #17743
Confirmed to have happened on all OS's and browser version.

[2018-07-01 03:18] conradkay commented on #17740
I think there should be an "ERROR" message at the top of the screen(or just in the test boxes) as this can be confusing and annoying.

[2018-07-01 03:52] #17277 closed

[2018-07-01 03:53] #17736 closed

[2018-07-01 06:10] sharkeydavid commented on #17768
Hi, Issue is been resolved as I checked it this morning.

Thanks for the speedy responses all ends!!

[2018-07-01 06:10] #17768 closed

[2018-07-01 07:12] thatnini commented on #17780
This has already been fixed in [freeCodeCamp/curriculum/#48](https://github.com/freeCodeCamp/curriculum/pull/48) and should be appearing in production soon.

[2018-07-01 08:32] Em-Ant commented on #17131
I submitted a PR to the curriculum with the tests for the timestamp microservice https://github.com/freeCodeCamp/curriculum/pull/99 . The CI build fails, do you know why ?

[2018-07-01 10:55] #17248 closed

[2018-07-01 10:59] #17771 closed

[2018-07-01 11:38] raisedadead commented on #17511
@Bouncey I guess you are the best person to guide on this. Also we would want to take this opportunity to possibly do the directory restructuring (but more on that later)... lets hop on a call. @tchaffee @julianorafael and anyone else,  please DM me your emails on Gitter.

I'll be sending out the invite, and we can confirm on the time.

[2018-07-01 12:00] thatnini commented on #17782
Some of these issues have already been reported and already have PRs for them:-

- whitespace at bottom of page - [freeCodeCamp/learn/#206](https://github.com/freeCodeCamp/learn/pull/206)
- codeblocks - [freeCodeCamp/learn/#213](https://github.com/freeCodeCamp/learn/pull/213)
- upcoming lessons - [freeCodeCamp/learn/#210](https://github.com/freeCodeCamp/learn/pull/210)

I've open a [PR](https://gi

[2018-07-01 12:07] PortableStick opened #17784 "Write Concise Object Literal Declarations Using Simple Fields - Function output is not checked"
#### Describe your problem and - if possible - how to reproduce it

1) Add any code into the challenge field (other than a valid solution) that will not result in a syntax error.
2) Run the tests

Expected result:
The test should fail

Actual result:
The test passes

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/write-conc

[2018-07-01 12:15] stayreal123 commented on #16358
@Tirjasdyn  i Am having the same issue , fcc Es6 section is so broken. Very less instructions. No instruction of how to use map(), filter() , reduce() in previous challenges too .

[2018-07-01 12:15] stayreal123 commented on #16358
is there any proper solution to this prob ?

[2018-07-01 12:18] stayreal123 commented on #16358
@Omerdogan3 This is not the correct way , as you look in the challenge the desired output is
makeList(result.failure) should return:
 * [ <li class="text-warning">no-var</li>,
 *   <li class="text-warning">var-on-top</li>,
 *   <li class="text-warning">linebreak</li> ]
as your solution didn't print comma or ',' .

[2018-07-01 12:30] johnkennedy9147 commented on #17782
closed as duplicate of multiple issues

[2018-07-01 12:30] #17782 closed

[2018-07-01 13:01] TadashiCZ commented on #17412
On Windows on Opera it's the same. And also when I try to highlight something in the code editor I can't see what I highlighted because of the colour of the hightlight. (It's stays the same dark colour.)

[2018-07-01 13:12] TadashiCZ opened #17785 "Malfunctioning test in Basic CSS: Attach a Fallback value to a CSS Variable"
In lesson: https://learn.freecodecamp.org/responsive-web-design/basic-css/attach-a-fallback-value-to-a-css-variable student can edit just the penguin-top style without touching the penguin-bottom style and the tests are OK with that.

* Browser Name: Opera
* Browser Version: 55.0
* Operating System: Windows 10

[2018-07-01 13:15] BenEar50 commented on #17677
I have tried again a few times since posting and there has been no changes.

[2018-07-01 13:36] Kornelijus opened #17786 "Typo in Data Structures: Create and Add to Sets in ES6"
#### Describe your problem and - if possible - how to reproduce it
There's a typo in the test description:
`Your Set should only contains the values 1, 2, 3, Taco, Cat, Awesome.`

`contains` should be `contain`.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/coding-interview-prep/data-structures/create-and-add-to-sets-in-es6

#### Tell us about your browser and operat

[2018-07-01 13:40] anku255 commented on #17677
Hi @BenEar50! Did you try to open the URL in the incognito mode? Can you please post some screenshots?

[2018-07-01 15:16] CharmedSatyr commented on #17685
Resolved with [**Typo errors #39**](https://github.com/freeCodeCamp/curriculum/pull/39) in **freeCodeCamp/curriculum**.

[2018-07-01 15:16] #17685 closed

[2018-07-01 17:48] JuanFran928 opened #17787 "Basic Node and Express - Use the .env File FreeCodeCamp Challenge"
Hello everyone, I am stuck in this challenge of FreeCodeCamp related with Apis And Microservices Certification, it doesn't work for me.

**This is the message that appears to me on the screen when I am going to pass the test:**

_// running test
The response of "/json" does not change according to MESSAGE_STYLE
// tests completed_

**This is my code of glitch:**
let messageObject = {"message":"Hel

[2018-07-01 18:31] frank-rui opened #17788 "Bug in ES6: Create Strings using Template Literals with Err Msg: Invalid regular expression flags"
#### Describe your problem and - if possible - how to reproduce it
The Challenge, ES6: Create Strings using Template Literals, return an error message Invalid regular expression flags.

My solution is,
[code]
where the console log shows the correct solution,
[code]

And the full code is,
[code]

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-d

[2018-07-01 19:22] clandau commented on #17787
I think you may just have a problem with your code as I tried it and the tests seem to be working on my end.  Can you link your glitch project or email it to me at so.super@gmail.com?  I can try to take a look and help you troubleshoot.

[2018-07-01 19:58] zeb-stephen-downs commented on #17788
I can confirm that this and the related issue (https://github.com/freeCodeCamp/freeCodeCamp/issues/16358) has been preventing completion of this since December 2017.

[2018-07-01 20:17] MonikaPatelIT opened #17789 "selected text color not working - Dark mode"
#### Describe your problem and - if possible - how to reproduce it

On right side - codding panel, It doesn't change color of  selected text just for dark mode. but It does copy across selected text. It's working perfectly fine with light mode.
#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name: google crome
* Browser Version:  67.0.3

[2018-07-01 20:31] MonikaPatelIT opened #17790 "NOT FOUND on click "Go to the coding curriculum""
#### Describe your problem and - if possible - how to reproduce it
on click "Go to the coding curriculum" button on my home page redirected to this,

"NOT FOUND
You just hit a route that doesn't exist... the sadness."

#### Add a Link to the page with the problem
This issue is same as https://github.com/freeCodeCamp/freeCodeCamp/issues/17463

Trying to route from button click is:
https://learn.fre

[2018-07-01 20:50] skywalker212 opened #17791 "React Lifecycle: e.onNext is not a function error"
#### Describe your problem and - if possible - how to reproduce it
I am currently working on React: Optimize Re-Renders with shouldComponentUpdate and I have modified the code to pass the tests. As the challange describes, we should increment count in state and the OnlyEvens component should update only when the state count is even. I pass all the tests but when I click the button to increment the

[2018-07-01 21:14] alhazen1 commented on #16358
I'm in agreement with @scissorsneedfoodtoo that the regex in test case is too restrictive.

I'm no regex wiz but this is what I came up with /`<li class="text-warning">\$\{[\w\[\]]+\}</li>`/g (without the backslashes escaped for string). This would allow for... loop solutions that accessed the array with bracket notation arr[i] which appears to be disallowed with the current regular expression tes

[2018-07-01 21:34] alhazen1 commented on #17788
This "Invalid regular expression flags" error appears to be a recent development. Solutions that did not use bracket notation were passing tests without problem as recently as 6/30/2018.

 #16358 as mentioned by @zeb-stephen-downs has been an issue with that challenge for a while. The workaround for that - use map, forEach or for...of - is no longer an option though.

[2018-07-01 22:43] johnkennedy9147 commented on #17762
@BogdanDor @numoonchld can you try this and see if you get the same behaviour I did.

1st run - 5 failing tests, all of this type `Your .text-1 class should have a font-size of 10px`
Immediately click Run tests again.
2nd run - tests pass.

[2018-07-01 23:46] fr4p commented on #17788
I'm a new learner and ran into this one about an hour ago, been driving me mad.  Glad to see it's a bug!  Looks like you guys are all over it.

[2018-07-02 00:22] bgrgndzz commented on #17749
Alright, I've got nearly everything down, but I can't seem to get font awesome to work. I tried to go the traditional i tag approach, then I found the FontAwesome component in one of the files and tried that, but no luck. Can you help? @raisedadead

[2018-07-02 00:24] MonikaPatelIT opened #17793 "Stop displaying my public portfolio"
#### Describe your problem and - if possible - how to reproduce it
I can't see my public portfolio from "Show me  my public portfolio" button even though all my privacy setting is public.

#### Add a Link to the page with the problem
https://www.freecodecamp.org/monikapatelit

#### Tell us about your browser and operating system

* Browser Name: Crome
* Browser Version: 67.0.3396.99
* Operating Sy

[2018-07-02 01:38] huyenltnguyen commented on #17793
@MonikaPatelIT I think there was a change recently that set our profile completely private by default.

The funny thing is, the colors of the toggle buttons in night mode are the other way around, which means the selected options are in grey instead of green 🙃 I will report this issue later.

So if you want to make your profile public, you would need to manually set it back. I would suggest you sw

[2018-07-02 02:15] theREALaltoid commented on #17793
Would adding a different color to the buttons fix this issue?

[2018-07-02 02:20] RReddVar opened #17794 "Bug in media query challenge"
#### Describe your problem and - if possible - how to reproduce it
Following the steps and typing in the correct answer needed to pass the challenge still
gives me an error.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-principles/create-a-media-query

#### Tell us about your browser and operating system

* Browser Name: Ch

[2018-07-02 02:37] alhazen1 commented on #17794
@RReddVar

I just tried this challenge and it worked for me.

I believe that your media query is for 800px or greater not 800px or less.

I used this for my media query and passed
```@media (max-height: 800px)```

[2018-07-02 02:57] RReddVar commented on #17794
@alhazen1 Okay, I tried it and that did work. Thank you for helping me with that! Think the developers need to fix the instructions to show that a media query for 800px and max is required, and not the opposite. :P

[2018-07-02 03:22] huyenltnguyen opened #17795 "[UI] Settings page: Colors of toggle buttons are the other way around in night mode"
#### Describe your problem and - if possible - how to reproduce it
On Settings page, the colors of toggle buttons are the other way around in night mode.

#### If possible, add a screenshot here
![night-mode-before](https://user-images.githubusercontent.com/25715018/42143208-30f9a314-7dde-11e8-919f-8ca0a55bc863.png)

#### Desired result
![night-mode-after](https://user-images.githubusercontent.com

[2018-07-02 03:36] huyenltnguyen commented on #17769
@ivan3123708 You can raise a PR over the curriculum repo. Here is the repo's contributing guide: https://github.com/freeCodeCamp/curriculum/blob/dev/docs/CONTRIBUTING.md

[2018-07-02 03:47] vonalogue commented on #17788
I, too, have encountered this problem when using the map function exactly as people have shown.

[2018-07-02 04:13] kalzimonium commented on #17679
It's still occurring. Hasn't been fixed yet.

[2018-07-02 05:28] fr4p opened #17796 "ES6: Use export to Reuse a Code Block - Second test fails"
#### Describe your problem and - if possible - how to reproduce it

The preloaded editor code contains the statement:

const bar= "foo";

Unless a space is inserted between bar and the assignment operator, the second objective of this challenge fails.  I believe this is related to:

https://github.com/freeCodeCamp/freeCodeCamp/issues/17666

I think the variables used in this challenge have changed

[2018-07-02 05:32] thomlom commented on #17679
What error do you guys get ? This is working fine for me and has been fixed on my side.

[2018-07-02 05:39] abenjamin765 opened #17797 "Avatar image distorted"
#### Describe your problem and - if possible - how to reproduce it
The top-right avatar image gets "stretched" if a rectangular avatar is used. This is due to a min-width style applied to all images in #top-nav.

Adding `#top-right-nav img{min-width: 0;}` should resolve the issue.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/

#### Tell us about your browser and ope

[2018-07-02 05:43] alhazen1 opened #17798 "Project Euler: Problem 2: Even Fibonacci Numbers test answers off by one count"
#### Describe your problem and - if possible - how to reproduce it
**Two test cases have the wrong answers**
Instructions state that the first 10 numbers of Fibonacci series are 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...
The first test is to determine the sum of the even numbers in the first 10 Fibonacci series with an expected answer of 188.
I get 44 - I only see three even numbers in the first 10 of

[2018-07-02 05:43] Ems2theLee commented on #17679
@thomlom It's cleared for me now too. Might just need a hard refresh?

[2018-07-02 05:47] dilipsingh94 commented on #17679
@thomlom  thank it's working now

[2018-07-02 05:55] raisedadead commented on #17749
Yes of course. Please throw in a PR (with whatever you have), I'll be advising further on the code on that thread.

[2018-07-02 05:56] alhazen1 commented on #17794
@RReddVar  You're very welcome.

When you have time come back to comments and select the button to close this issue.

[2018-07-02 05:59] Vatspra opened #17799 "Glitch link is opening in the same Tab."
#### Describe your problem and - if possible - how to reproduce it

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system
* Browser Name:
* Browser Version:
* Operating System:

Backend project's glitch link is opening in the same tab.It would be great if it opens in another tav
#### If possible, add a screenshot here

[2018-07-02 06:16] ivan3123708 commented on #17769
@huyenltnguyen thanks for the answer, that's what I was looking for

[2018-07-02 06:19] petervann commented on #17679
Hey - wow - yes it is indeed working now!?!  I just passed that challenge!  Coolio and finally!?!  (FYI, though - I have two certs under my belt now, which means I have completed 10 projects, but my Welcome page says that I have only completed 5 out of 30 projects!?!  I was able to 'claim' both certs, so there is definitely a disconnect somewhere!?!)

[2018-07-02 07:46] wawraf opened #17800 "Metric-Imperial Converter"
#### Describe your problem and - if possible - how to reproduce it
I'm trying co complete QA Project - [Metric/Imp Converter](https://learn.freecodecamp.org/information-security-and-quality-assurance/information-security-and-quality-assurance-projects/metric-imperial-converter/). In my opinion everything is OK, however my solution can't pass 6/16 tests.

#### Add a Link to the page with the proble

[2018-07-02 08:01] saurishkar commented on #16390
@QuincyLarson I am afraid haven't got a proper look due to work related timelines. Although i am definitely interested to try my hands on this. I will like to collaborate with others if they have already started on this. Will be a good learning for me.

[2018-07-02 09:35] Chris2Brooks opened #17802 "Test passes when it shouldn't on "Applied Visual Design: Use the del Tag to Strikethrough Text""
#### Describe your problem and - if possible - how to reproduce it
On the "**Applied Visual Design: Use the del Tag to Strikethrough Text**" challenge there's an instruction to add _Wrap the del tag around "Google" inside the h4 tag and then add the word Alphabet beside it, which should not have the strikethrough formatting._

If you add the del tag to the Google word inside the ```<p>``` INSTEAD

[2018-07-02 09:57] Bouncey opened #17803 "Find a more graceful way to update blocks/challenges in the database"
Currently, the flow for updating the curriculum in the database is to delete them all and re-seed.

We should really upsert them using the id they have been assigned.

Requirements of the script

1. It should **not** remove all documents from the `block` and `challenge` collection in order to update the database
1. It should upsert any changes to the documents in the `block` and `challenge` collec

[2018-07-02 10:09] chrisbobek opened #17804 "Cascade vs Inheritance"
#### Describe your problem and - if possible - how to reproduce it
In "Basic CSS: Cascading CSS variables", the first paragraph ends with this sentence: "This effect is known as _cascading_." However, the effect being described in the paragraph is actually an instance of inheritance.

#### Add a Link to the page with the problem
`https://learn.freecodecamp.org/responsive-web-design/basic-css/casca

[2018-07-02 10:49] AndrewJBateman commented on #17788
I have encountered this problem when using the map function just like everyone else.

[2018-07-02 13:20] osmi2017 commented on #16358
const resultDisplayArray = arr.map((a) => {
  return `<li class="text-warning">${a}</li>`
});``

[2018-07-02 15:09] mcshakes opened #17806 "Misspelling on /10-major-freecodecamp-improvements-that-are-live-now/"
#### Describe your problem and - if possible - how to reproduce it
Simple misspelling. Needs to be "Lightning" instead of "Lighting"

#### Add a Link to the page with the problem
https://forum.freecodecamp.org/t/10-major-freecodecamp-improvements-that-are-live-now/192130

#### Tell us about your browser and operating system

* Browser Name: Firefox Dev Edition (Don't ask...)
* Browser Version: 61.

[2018-07-02 15:12] Flarp commented on #17382
@raisedadead if `NODE_ENV=development`, the code should never run in production anyway.

[2018-07-02 16:30] clandau commented on #17787
I helped Juan figure out the problem with his code and now his project is working.  This can be closed or deleted.

[2018-07-02 17:24] Ems2theLee commented on #17679
Seems to be working for everyone now, so I am going to close the issue. Thank you for taking care of it @thomlom!

[2018-07-02 17:36] 2series commented on #17788
Invalid regular expression flags. Solution??????

[2018-07-02 18:46] #17787 closed

[2018-07-02 19:03] MThicklin commented on #17701
If you place just '**<img alt="** ' at the top of, _Don't quote me on this as I haven't tested EVERY page_, pretty much any page and that good sized block of code appears in the result section.  I tried to add images but github wasn't a huge fan of them.  Here is an imgur link, The pictures have some additional information.

https://imgur.com/a/ZmL5yTi

#### Add a Link to the page with the problem

[2018-07-02 19:39] ExitSec opened #17807 "Web page hang on "Run the test" button within Basic Javascript For Loop"
The web page hang occurs when clicking the "Run the Test" button on the page linked below with the specified code. The page hangs until the timeout factor kicks in. This happens on both Windows Firefox and MacOS Chrome.  If it is possible I would like to try and help fix the problem with some possible direction.

[code]

The problem is when a moduler of 0 is run.

#### Link to the page with the pr

[2018-07-02 21:21] tchaffee commented on #17511
As a start to our discussion, I've tried to guess most of the differences myself by comparing the two formats.

It seems like `id`, `title`, `description`, and `challengeType` haven't changed?

The `tests` property is largely the same in terms of content, it's just better broken into properties now instead of the properties being sort of hidden in the test string.

Example of `test` property befor

[2018-07-02 21:39] tchaffee commented on #17511
Actually using grep I found challengeTypes of 0 through 7, although it seems like type 7 is now being used for something different?

Is [challengeTypes.js](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/app/utils/challengeTypes.js) still accurate?

Copy pasted here for reference:

[code]

[2018-07-03 00:49] kalzimonium commented on #17679
Still not working for me.

[2018-07-03 01:22] Ems2theLee commented on #17679
@kalzimonium Is it giving you the regex error or the unexpected token one? Could you screenshot your results?

[2018-07-03 01:41] conradkay commented on #17412
Issues all seem fixed. Night mode seems stable

[2018-07-03 03:54] ralomach commented on #17807
Hello! There is no problem, you just created an infinite for loop and that's why it's hanging.
Try a simpler solution, like starting with i = 1, and adding i += 2 until i < 10.

[2018-07-03 04:38] kevinsmithwebdev commented on #17788
At the risk of putting my foot in my mouth (sorry, new to open source)...

This issue is a recent one. Many have had problems on this test, usually because they hard code the answer instead or loop/map.  But for a few days now, answers that worked are no longer working. In the other repo, I see this is the test:

        {
          "text": "Template strings were used",
          "testString":

[2018-07-03 10:05] pcatana commented on #16358
Still getting `Invalid regular expression flags`

[2018-07-03 10:25] PizzaPokerGuy opened #17808 "React: Create a Component with Composition Failure"
#### Describe your problem and - if possible - how to reproduce it
The code does not detect that the correct code changes were made. In a passing case it is failing.

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/front-end-libraries/react/create-a-component-with-composition

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Versio

[2018-07-03 10:49] pcatana commented on #17796
Yep, Happened to me too.
Fix needed +

[2018-07-03 10:58] hbar1st commented on #17788
I wonder if the problem is that the last backtick is not escaped in the new code?
(Noticed that the first backtick is escaped but not the last)
I also notice that the double quotes are escaped but no the single quotes. Not sure why.

I also wonder if all the extra (double) backslashes are needed. Once I removed them (and some space matchers that seemed too much) and tested the regex on an external

[2018-07-03 11:14] pcatana opened #17809 "Public portfolio page doesn't update the 'commits graph'"
#### Describe your problem and - if possible - how to reproduce it
When being on my personal public portfolio page the 'commit graph' doesn't have the latest activity.

#### Add a Link to the page with the problem
https://www.freecodecamp.org/username

#### Tell us about your browser and operating system

* Browser Name:  Chrome
* Browser Version: 67.0.3396.99
* Operating System: Windows 10 latest

[2018-07-03 11:44] Chris2Brooks opened #17810 "Add note to text expecting quotation marks on URL on Applied Visual Design: Create Texture by Adding a Subtle Pattern as a Background Image"
#### Describe your problem and - if possible - how to reproduce it
On challenge **"Applied Visual Design: Create Texture by Adding a Subtle Pattern as a Background Image"** the test expects the URL to be in between quotation marks. Using it without quotation marks does pull the image through but doesn't pass the test. The test doesn't give an indication that it's the quotation marks. Maybe adding

[2018-07-03 11:57] hnryjmes commented on #16358
I just get `Invalid regular expression flags`

[2018-07-03 12:32] kalzimonium commented on #17679
Didn’t work last night at the time I posted that comment. Checked it out this morning and it was fixed. Thank you, sir. I’m good now :)

[2018-07-03 12:34] alhazen1 commented on #17788
@kevinsmithwebdev @hbar1st  I think this is just the latest of a couple changes in past day or so.
They seem to be having problems with escaping the last few characters.

This is what I saw recently (yesterday?) with / before li not escaped
```<\\s*/li\\s*>\\`/g)```

Now you are seeing with last backtick not escaped
```<\\s*\\/li\\s*>`/g```

I would think that
```<\\s*\\/li\\s*>`\\/g```
might fix

[2018-07-03 12:41] Chris2Brooks opened #17811 "Add info on how infinite looks like to challenge "Applied Visual Design: Animate Elements Continually Using an Infinite Animation Count""
#### Describe your problem and - if possible - how to reproduce it
On challenge **"Applied Visual Design: Animate Elements Continually Using an Infinite Animation Count"** you are to change the value of the animation iteration to infinite, however, the guide doesn't teach you what infinite looks like. Would be great if the challenge guide could be expanded to also teach how infinite is used in CSS

[2018-07-03 14:52] rembrandtreyes commented on #17802
@Chris2Brooks I just tried repeating this issue and it seems to not pass. In your console it also states that you must include the word Alphabet.

This is in the latests google chrome on Windows 7

![image](https://user-images.githubusercontent.com/15057964/42226875-1fe4b606-7eae-11e8-85fe-276afca578d4.png)

I believe you meant that this is incorrect but passes:
`      <h4>Google Alphabet</h4>

[2018-07-03 15:00] #17679 closed

[2018-07-03 16:25] Nei-V commented on #17291
One solution I found is not to close the final   "  } "  after the sass code until you write the iterator condition.
It still doesn't pass the test but at least it doesn't crash the browser tab.

[2018-07-03 16:49] Nei-V opened #17812 "Introduction to the React Challenges - better wording"
#### Describe your problem and - if possible - how to reproduce it
I don't know if this is the place, but the text on the first page of React has some grammatical mistakes.
Also, my English is not perfect, so the text might be improved further.

**the original text:**
"React, popularized by Facebook, is a open-source JavaScript library for building user interfaces. With JSX, it is used to create c

[2018-07-03 16:51] RyanW1004 commented on #17512
If you zoom out with the browser then the challenge doesn't work. Try having the browser at 100% zoom, that fixed the issue for me

[2018-07-03 18:13] ExitSec commented on #17807
Oh I totally understand, that slipped my mind! Thanks for the response.

[2018-07-03 18:13] #17807 closed

[2018-07-03 18:16] lynxlynxlynx commented on #17762
Clicking furiously worked here.

[2018-07-03 18:55] Nirajn2311 commented on #17812
Yeah it’s a grammar mistake, thanks for pointing it out. Any beginners are free to work on this in the curriculum repo.

[2018-07-03 18:56] Nirajn2311 commented on #17806
Will work on it.

[2018-07-03 19:14] frank-rui commented on #17412
The font color of the tutorial section feels too bright as its set to pure white. Its might help to ease the eyes that slightly lower the brightness.

As the font color of the coding column is more gray, if I dim the screen until the tutorial is less burning, the coding column could become too dark to distinguish the code.

Similar for the top navigation pan, which are too bright in contrast to th

[2018-07-03 20:42] marissa-cleroux commented on #17756
I'm doing it them on chrome and I'm having the exact same issue! Thank-you!

[2018-07-03 23:37] smlarkin opened #17813 "ES6: Create Strings using Template Literals NEVER passes tests"
#### Describe your problem and - if possible - how to reproduce it
If you look at he form for this section, this has been going on for a while now.  Basically, someone needs to rewrite the test.  it should not require a loop or array method to make it work.  After going through the forms for an hour, I realized no one can get it to pass.

#### Add a Link to the page with the problem
https://learn.

[2018-07-03 23:48] memilanuk opened #17814 "Search bar overhangs editor pane in Chrome"
#### Describe your problem and - if possible - how to reproduce it
Just started FCC, and found on the very first lesson that the search bar overhangs the editor pane, to the point where it obscures the first line of code - the one students are supposed to be editing!

The problem seems consistent on subsequent pages, and regardless of zoom level (I normally run between 130-150% zoom on my laptop,

[2018-07-04 00:01] alhazen1 opened #17815 "Passes without changing code Perform a Subset Check on Two Sets of Data"
#### Describe your problem and - if possible - how to reproduce it
This challenge can be passed without changing the code in the editor at all. Just click "Run the Test" and it passes.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/coding-interview-prep/data-structures/perform-a-subset-check-on-two-sets-of-data/

#### Tell us about your browser and operating system

*

[2018-07-04 00:37] zeb-stephen-downs commented on #17788
Yeah, if you remove the double backslashes and insert a backslash to escape that forward slash on the last li, it matches; I checked it with a regexp matcher online against the code I had written for the exercise. This is the last obstacle preventing me from completing my certificate.

`<li \s*class\s*=\s*(\"\s*text-warning\s*\"|\'\s*text-warning\s*\')\s*>\s*\$\s*\{(\s*\w+\s*|\s*\w+\s*\[\s*[\w]+\s

[2018-07-04 01:51] smlarkin opened #17816 "ES6: Import a Default Export"
#### Describe your problem and - if possible - how to reproduce it
This only works with "double quotes" but should work with single too;

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/import-a-default-export/

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

####

[2018-07-04 02:13] scissorsneedfoodtoo commented on #17813
Thanks for taking the time to report this issue, @smlarkin. You're right, it's an ongoing issue. The regex test was updated recently, though, and it should be pushed to production soon.

I'm closing this in favor of #16358.

[2018-07-04 02:13] #17813 closed

[2018-07-04 02:33] scissorsneedfoodtoo commented on #17788
Hi all, thank you for reporting this and coming up with different solutions. You're right, this is a recent problem that was caused by updating the regex to account for different solutions, but unfortunately we didn't escape that last forward slash. This was fixed recently and will hopefully be on the production site soon.

[2018-07-04 02:37] QuincyLarson opened #17817 "Help button should assign correct categories to forum posts"
In our old platform, clicking "ask for help" would help you create a forum post with the category "JavaScript" or "HTML-CSS" depending on what type of challenge you were solving.

We want for the new platform to do this, too.

Currently it just labels all questions with the "help" label.

![basic_html_and_html5__say_hello_to_html_elements___learn_freecodecamp_](https://user-images.githubuserconten

[2018-07-04 02:50] jmatty16 commented on #17291
Experienced same issue in Chrome. I had to add the @while last to my code to avoid it crashing before I could increment x.

[2018-07-04 02:51] #17788 closed

[2018-07-04 03:20] mjbenefiel commented on #16358
I’m still receiving errors for correct solutions, as well.

[2018-07-04 08:48] wawraf opened #17818 "Stock Price Checker - Internal Server Error (500)"
#### Describe your problem and - if possible - how to reproduce it
I've found two issues with this project.

First - dep `https://github.com/freeCodeCamp/boilerplate-project-stockchecker` contains incorrect call in `tests/1_unit-tests.js`. It requires stockHandler.js, whilst it simply does not exist and is completely redundant in this project.

Second - after removing unnecessary code, I try to ru

[2018-07-04 09:21] 9064911 opened #17819 "Lack of strings to test if provided pattern cover all requirements (regex)"
#### Describe your problem and - if possible - how to reproduce it
One of the RegEX challenge(share the link) specifies 3 rules. But there are not about string match test to cover/test all rules(rules 1, and 3)
Rule no.1 as following

And Rule no.3 specifies as following:

Correct me if I'm wrong, but it asks the camper, the RegEx pattern should not pass something like `C4`(should be failed becasu

[2018-07-04 10:54] jounsss commented on #17764
The test name "nested destructuring was used" isn't very helpful in this case when a specific variable is also tested.

[2018-07-04 11:10] 2series commented on #16358
still getting the> Invalid regular expression flags

[2018-07-04 13:34] #17769 closed

[2018-07-04 13:39] scissorsneedfoodtoo commented on #16358
Hi all. Thank you for taking the time to update us about this ongoing issue. Just wanted to let you all know that the regex test for this challenge was updated recently, and it should be pushed to production soon.

[2018-07-04 14:01] bodhish commented on #17817
@QuincyLarson, i am interested in taking this up.

[2018-07-04 14:06] jascci commented on #17791
Hi,
I get the same error on **React: Manage Updates with Lifecycle Methods** exercise.  My changes pass all the tests, yet I don't see the expected outputs in the console.  I get the same error on Chrome and FF.
Chrome: Version 67.0.3396.99
Firefox: 60.0
MacOS High Sierra

Anybody else getting the same?  If so, is it a bug in the exercises?

[2018-07-04 15:17] kunalbrainium commented on #1349
I have the same issue as @shroudedcode

[2018-07-04 17:29] #17794 closed

[2018-07-04 19:42] lucasMontenegro opened #17820 "Advanced Node and Express 11 - Tests should be done asynchronously"
So, I thought I should report something I found. My [app](https://github.com/quintessentialArmory/advanced-node2)* was being accepted/rejected at random by [this challenge](https://learn.freecodecamp.org/information-security-and-quality-assurance/advanced-node-and-express/registration-of-new-users/). Apparently the tests are not waiting for the server to respond and that causes them to fail (since

[2018-07-04 22:26] EthanEFung opened #17821 "Blocked Cross-Scripting Request causes failed fetching of required resources"
#### Describe your problem and - if possible - how to reproduce it
I have a working implementation of “ES6: Create Strings using Template Literals” but because of a Blocked Cross-Origin Request, some of the resources can’t be loaded.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/create-strings-using-template-literals

###

[2018-07-04 22:34] ChrisBrownie55 commented on #17189
@QuincyLarson  This should be closed, this error no longer exists. When tested, `<img src="https://bit.ly/fcc-relaxing-cat" alt="relaxing-cat">` passes all the tests.

[2018-07-04 23:31] lourdesr opened #17822 "Profile HeatMap not updating correctly"
I don't know if this is an issue or not. This is the first time I'm posting here. The heat map in our public portfolio does not update to the current day/month.

#### Steps to Reproduce

Make sure to set your profile heatmap to public.

1. Go to https://www.freecodecamp.org/yourusername
2. Scroll down to view the heat map.

#### Browser and operating system

* Browser Name: Google Chrome
* Browser

[2018-07-04 23:40] kcurtet commented on #17812
I can make a pull request for this issue?

[2018-07-05 01:23] raisedadead commented on #17189
Thanks @ChrisBrownie55

[2018-07-05 01:23] #17189 closed

[2018-07-05 03:42] Python-git commented on #12865
freecodecamp was great before all this beta nonsense came about. its been about a month now since released an yet you think all these basics would have been fixed. i am all for knew stuff added to the knew diet of code on the camps site but they really screwed up a lot of stuff that was working just fine an teaching people a solid way to learn an implement knew information to there brains. i notic

[2018-07-05 06:15] badarshahzad commented on #16354
I think my code is correct but still, it gave me an error any suggestions?
![issue](https://user-images.githubusercontent.com/19945367/42305500-a2d9134e-8044-11e8-9cf8-8e8b90212cca.png)

[2018-07-05 09:52] supuun opened #17823 "link is dead in 'Basic JavaScript'"
#### Describe your problem and - if possible - how to reproduce it
After clicking this link - 'Storing Values with the Assignment Operator' (https://learn.freecodecamp.org/storing-values-with-the-assignment-operator), it says 'NOT FOUND You just hit a route that doesn't exist... the sadness.'

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-dat

[2018-07-05 09:59] Nirajn2311 commented on #17823
Will work on it at the curriculum repo.

[2018-07-05 10:47] renojvarghese commented on #17750
Hey @QuincyLarson Here are a few ideas I came up with for an illustration. They are more like wireframes, to help demonstrate the idea.

The first scene is two hikers on a trail. One is helping the other climb a particularly large steep. It represents how freeCodeCamp contributes help programmers learn new skills through curriculum, blogs, and forums.
![badges_hike-07](https://user-images.githubus

[2018-07-05 11:19] haydmills commented on #17750
I'm interested! Any examples from around the web that you like?

Also, will the lanyard just have their name or also other info like city, state, country, job, etc?

[2018-07-05 12:34] vebr opened #17824 "Username Bug"
#### Describe your problem and - if possible - how to reproduce it
Bug username:
if you change your username with word start with 0 (or number) you will not can see your profile page

I change my username to '0x56ed' and i got this bug, so i change again to alphabetical.

#### Add a Link to the page with the problem
https://www.freecodecamp.org/0

[2018-07-05 14:13] StubRavi opened #17825 ""ES6: Use export to Reuse a Code Block" doesn't pass the test"
#### Describe your problem and - if possible - how to reproduce it
When attempting to export the variable, the challenge fails with error "foo is exported.
bar is exported."

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-export-to-reuse-a-code-block

#### Tell us about your browser and operating system

* Browser Name:

[2018-07-05 16:35] rperry99 opened #17826 "Can't View Certificates even though I accepted Academic Privacy Policy"
#### Describe your problem and - if possible - how to reproduce it
I am trying to view my certificates and when I click the "Show Certification" button, a red bar appears at the top of the screen telling me "rperry99 has not yet agreed to our Academic Honesty Pledge." On my settings page, it shows that I have accepted the Academic Honesty Policy.

#### Add a Link to the page with the problem
[http

[2018-07-05 19:01] Flarp commented on #14234
https://github.com/freeCodeCamp/curriculum/issues/68 Restarting `learn` takes about 7 minutes at a time, and I can't find another way to test my changes in `curriculum` as of now. Is there some way I can do it without having to wait such a long time?

[2018-07-05 23:11] randelldawson commented on #17712
I could be wrong, but it seems the following test:
[code]

[2018-07-06 01:47] sxnaprkhr opened #17827 "Fetch API instead of XHR API"
#### Describe your problem and - if possible - how to reproduce it
Fetch API should be added to the curriculum instead of the old XMLHttpRequest() as fetch uses promises which enables a cleaner and simpler API.

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/data-visualization/json-apis-and-ajax/get-json-with-the-javascript-xmlhttprequest-method/

#### Tell us about y

[2018-07-06 02:32] jonathan-grah commented on #17131
**Tests for API and Microservice Projects**
- [x] Timestamp Microservice
- [ ] Request Header Parser Microservice
- [ ] URL Shortener Microservice
- [ ] Exercise Tracker
- [ ] File Metadata Microservice

[2018-07-06 02:53] Nirajn2311 commented on #17825
You need to add export before the variable as you are exporting variables here and not functions( check example 1).

[2018-07-06 03:51] driverpizza commented on #17822
I am also having this issue, however my heat map has never worked since I began two weeks ago...

[2018-07-06 05:52] mirkocoppola80 opened #17828 "Bug on ES6: Create Strings using Template Literals"
#### Describe your problem and - if possible - how to reproduce it
I write the script as below but it returns this error test and in the hint section i have a X at “Template strings were used”

I can’t figure out which is the issue

#### Add a Link to the page with the problem
const result = {
  success: ["max-length", "no-amd", "prefer-arrow-functions"],
  failure: ["no-var", "var-on-top", "lineb

[2018-07-06 07:10] StubRavi commented on #17825
Still getting this error
![iss2](https://user-images.githubusercontent.com/34769076/42364688-aeec141c-8119-11e8-89b5-6d7f23cc0607.JPG)

[2018-07-06 07:15] StubRavi commented on #17825
According to the challenge, you are right. Now, it accepted the solution. But in the example, it is said that "Either approach is perfectly acceptable." why is the second approach not working?

[2018-07-06 08:08] Michael-Xie commented on #17764
Maybe prompts or hints would be helpful in this case.

Usually you work with what is being passed into the function, in this case, `forecast`, unless otherwise specified.

Furthermore, it tests you about function calling and what is being passed in. So for this case,

`LOCAL_FORECAST` is passed into ``getMaxOfTmrw()`

[2018-07-06 08:31] Michael-Xie opened #17829 "Use Destructuring Assignment to Assign Variables from Nested Objects"
#### Describe your problem and - if possible - how to reproduce it

Strict requirement for the solution, requiring only `max: maxOfTomorrow`.
This became more of an issue when the previous lesson was equally if not more confusing to understand.

Side issue: The console messages are confusing. There are two parts:
1. When there is a syntax error or the likes, Run Tests doesn't work. First reaction

[2018-07-06 08:42] mirkocoppola80 commented on #16358
Still getting Invalid regular expression flags

[2018-07-06 09:35] wawraf commented on #17818
One thing i found out is that, when functional test are launched, I'am receiving request headers without `x-forwarded-for`, and cannot read ip address.

Without this piece of code:
`const ip = req.headers['x-forwarded-for'].split(',')[0]`
tests are passing, however registering ip is disabled and app is not fully functional.

[2018-07-06 10:44] #17731 closed

[2018-07-06 10:44] #17775 closed

[2018-07-06 10:44] #17777 closed

[2018-07-06 11:17] hbar1st opened #17831 "uncaughtException.r.onerror (https://cdnjs.cloudflare.com/ajax/libs/mocha/3.0.2/mocha.min.js:1:978)"
#### Describe your problem and - if possible - how to reproduce it
Tried running the Portfolio test bucket in codepen and noticed an uncaught exception was being produced:

   3. The navbar should always be at the top of the viewport. Error: Script error. (:0)
       at uncaughtException.r.onerror
   (https://cdnjs.cloudflare.com/ajax/libs/mocha/3.0.2/mocha.min.js:1:978)

#### Add a Link to the pa

[2018-07-06 13:09] Nirajn2311 commented on #17825
@StubRavi Both the methods work but you are supposed to do it using the first one as instructed.
@QuincyLarson @Bouncey @raisedadead I think it will be better if the challenge accepted both types ie. foo should be exported using first method and bar should be exported using second method. Or the challenge should be split up into two sub-challenges.
Also there should be a space after bar and ‘=‘ .

[2018-07-06 14:01] zeb-stephen-downs commented on #16358
@mirkocoppola80 yeah, I'm not sure how often their merge/builds are. I don't think they've done one since May 30th though, so we're waiting on that for the changes to take effect.

[2018-07-06 15:04] rexiemedia commented on #17385
Since it was a typo on the assignment was it it not changed simple

penguin class should declare the --penguin-skin variable and assign it to gray.
Passed
penguin class should declare the --penguin-belly variable and assign it to white.
Passed
penguin class should declare the --penguin-beak variable and assign it to orange.

Instead of all these plenty grammar and drama

[2018-07-06 15:20] numoonchld commented on #17812
The explanation for all React lessons are overly complicated to explain simple things, and confusing.

There are a lot of words, but after reading it, I don't understand anything.

I am going to work through the tutorials in the original Documentation for React instead.

Maybe React documentation providers can collab with freeCodeCamp to put up their tutorial in this section.

[2018-07-06 19:22] NotSoV commented on #17822
Same issue. I'll be sure to post back if I find anything.

[2018-07-06 20:13] pingati3000 commented on #4956
Solution:

[2018-07-06 23:29] Snowcat8 commented on #17822
same issue-today

[2018-07-07 00:57] ammarasmro opened #17832 "Instructions about using a local variable without braces don't seem to work"
#### Describe your problem and - if possible - how to reproduce it
The instructions state that since we are using a local variable we don't need to use curly braces but I tried it and it's not passing the test case unless I add the braces. This only displays the text name which makes sense so I think the instructions should be corrected.

#### Add a Link to the page with the problem
https://learn.

[2018-07-07 03:43] bjorno43 opened #17833 "Challenge(s) doesn't verify proper closing tags"
#### Describe your problem and - if possible - how to reproduce it
The challenge **"Applied Accessibility: Use Headings to Show Hierarchical Relationships of Content"** (and possibly other challenges as well) doesn't verify proper tag closing.

To reproduce: Replace all `<h5>` tags with `<h3>` tags, but leave the `</h5>` tags as they are. The challenge will pass.

#### Add a Link to the page with

[2018-07-07 03:44] pinduli commented on #17699
As of July 6, 2018 @ 10:30pm CST there is no longer a typo in either .penguin-top or .penguin-bottom class. As a result, the lesson does not display correctly, but the tests still pass.

![untitled](https://user-images.githubusercontent.com/32426282/42406468-ff54c882-816d-11e8-85c2-ee56d7461ae3.jpg)

[2018-07-07 03:51] bjorno43 commented on #17833
Just verified that the same issue appears in different challenges as well.

[2018-07-07 03:56] ayerik commented on #17832
In the next paragraph it explains that in the render portion of the code you need the curly braces.  Where you don't need them us in declaring the variable.
________________________________
From: Ammar Asmro <notifications@github.com>
Sent: Friday, July 6, 2018 9:58:43 PM
To: freeCodeCamp/freeCodeCamp
Cc: Subscribed
Subject: [freeCodeCamp/freeCodeCamp] Instructions about using a local variable wit

[2018-07-07 05:16] mpmaan opened #17834 "Feature Request : Esc key hides the donation popup"
#### Describe your problem and - if possible - how to reproduce it
Pressing `Esc` key should disable/hide the donation popup. This way users won't have to scroll the page just to close the popup if they don't wish to donate.

[2018-07-07 06:31] lynxlynxlynx commented on #17402
There's a note now:

[2018-07-07 06:44] ooade commented on #17402
Okay. That seems valid.

[2018-07-07 06:44] #17402 closed

[2018-07-07 09:06] ammarasmro commented on #17832
You're right I guess I just missed that part but I still think that it can be rephrased to be clearer for example both statements could be mentioned together as a note

[2018-07-07 14:15] jooji-san opened #17835 "bug in 'basic code solution'"
#### Describe your problem and - if possible - how to reproduce it
Here's the code:
[code]
I don't think `<a href='https://forum.freecodecamp.com/images/emoji/emoji_one/rocket.png?v=3 ":rocket:"' target='_blank' rel='nofollow'>` should be there in the second if statement.
#### Add a Link to the page with the problem
https://guide.freecodecamp.org/certifications/javascript-algorithms-and-data-struc

[2018-07-07 15:09] Night-Walker-6 commented on #17789
Seems everything is working know!
![captura](https://user-images.githubusercontent.com/13293218/42412233-9800c8c2-81de-11e8-8def-f426e91a645d.PNG)
All selections visible!!!

[2018-07-07 17:12] dakshshah96 opened #17836 "Accept both background-color and background shorthand properties"
#### Describe your problem and - if possible - how to reproduce it
The "Applied Visual Design: Adjust the background-color Property of Text" does not accept if the `background` shorthand property is used even though both `background` and `background-color` have the same effect.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/

[2018-07-07 19:45] numoonchld opened #17837 "Too much advice and motivation."
#### Describe your problem and - if possible - how to reproduce it

The quotes that show up upon log-on are distracting and unnerving at times.

For example, when I opened up my page to do my challenges for the day, I see this quote:

**"There is nothing permanent except change." - Heraclitus**

I'm sure for the people with the luxury and privilege of a great philosophical mindset, it makes a lot

[2018-07-07 21:49] numoonchld commented on #17837
![image](https://user-images.githubusercontent.com/17598505/42414909-b9a4299a-825d-11e8-8a02-82141b3d73e0.png)

[2018-07-07 21:54] ghost opened #17838 "Sass challenge, font-size of 5px, where minimum could be 6px(chrome)."
#### Describe your problem and - if possible - how to reproduce it
Challenge needs specify CSS rules, that starts from 5px as font-size. Google chrome coems with minimum 6px for now(V67), user may not pass this test.

FF has no limit for minimum font-size, but it seems test just refresh the result page once before the test begins. So it's possible test goes before any other stuffs do things(like S

[2018-07-07 23:37] KoniKodes commented on #17812
Hi @Nirajn2311 ,
I'd be happy to help with this. Can you please guide me in the right direction? How do I edit the document in the the curriculum repo?

[2018-07-08 00:20] terryjreynolds commented on #17721
Looks like @cballin513 was able to resolve the issue. The splices are corrected. Shall I close the issue?

[2018-07-08 01:41] Nirajn2311 commented on #17721
Yeah you may close the issue.

[2018-07-08 06:24] guryanov-a opened #17839 "Wrong link to the tests for projects"
#### Describe your problem and - if possible - how to reproduce it
Link to the bundle with the tests in the description of the projects (`https://gitcdn.link/repo/freeCodeCamp/testable-projects-fcc/master/build/bundle.js`) gives

though link in the codepen examples (`https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js`) initializes the tests on the page.

#### Add a Link to the page wi

[2018-07-08 07:46] Python-git commented on #7880
actually its pretty unclear why is it that on one excersize it says to start your code where the only possible place would be would be where it states //change code below this line //!!
and on other exercises it wants you to to do the exact opposite. back an fourth. for a very very simple concept. more like manipulating the users of Arrays.

[2018-07-08 11:38] najuste commented on #17798
Oh, didn't even notice that(!) I started with 0 :/
BUT three is another bug (even if you go with one extra iteration for all other tests)
regarding the test case: '`fiboEvenSum(43) should return 1485607536.`'

The instructions state that '_...terms in the Fibonacci sequence [are those, ] whose values do not exceed four million, find the sum of the even-valued terms_.'
And the tests pass fine if yo

[2018-07-08 13:28] scissorsneedfoodtoo commented on #17828
@mirkocoppola80, thank you for taking the time to report this. You're right--this is a long standing issue that has affected many users. Like @randelldawson mentioned, it was fixed recently and that fix should hopefully be reflected on the live site soon. Please hang tight and your solution should work soon!

[2018-07-08 13:28] #17828 closed

[2018-07-08 13:44] #17675 closed

[2018-07-08 14:08] emh1010 opened #17840 "Adding Fallback Value to CSS var results in no change to CSS Image"
#### Describe your problem and - if possible - how to reproduce it
Basic CSS: Attach a Fallback value to a CSS Variable, when you add black as a Fallback Value to var(--penguin-skin) there is no change in the CSS Penguin image.  The last note in the exercise states "This style will be applied because of a typo in the variable name." however there is no typo in the variable name.  if I add a typo t

[2018-07-08 14:14] KoniKodes commented on #17812
Hi @Nirajn2311
How do I go on the branch to begin editing the file?
It's my first time trying to do this here.
Thank you.

[2018-07-08 15:39] Philosophist opened #17841 "ES6 challenge test failing due to case error"
#### Describe your problem and - if possible - how to reproduce it
Tests for [this es6 challenge](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/declare-a-read-only-variable-with-the-const-keyword/) are failing due to a case error. The original code says "sentence" for the variable being tested for, but the tests are testing for "SENTENCE." Campers can get passed this

[2018-07-08 15:43] Philosophist commented on #17841
This is such a simple fix that I decided to attempt to dig for the code here to fix it myself. However, I still don't know enough to find the error in the repository. Is there any chance I could get some guidance on how this was fixed to give me insight into contributing in the future? Everywhere I sought information on how to contribute was also going the long mile of installing things to do it.

[2018-07-08 17:07] Nirajn2311 commented on #17812
@KoniKodes have you set up a local copy of learn repo by following the steps given in [contributing.md](https://github.com/freeCodeCamp/learn/blob/master/CONTRIBUTING.md)

[2018-07-08 18:51] gforce2k5 commented on #17841
actually the requirements do require SENTENCE to be all caps:

[2018-07-08 19:09] 9064911 opened #17842 "ES6: Use getters and setters, lack of tests"
#### Describe your problem and - if possible - how to reproduce it
The challenge ES6: Use getters and setters to Control Access to an Object

Comes with weak tests which won't cover if user came up with all expected input.
Following code passes the result(also find the second url specified) since it's not completed
[code]
No any check/test if user added getter and setter method as syntax check, in

[2018-07-08 21:39] Philosophist commented on #17841
Oh. My bad. I don't recall that being there before.

[2018-07-08 22:13] KoniKodes commented on #17812
@Nirajn2311 I cannot set up locally. My machine causes issues...

[2018-07-08 22:52] huyenltnguyen commented on #17840
@emh1010 Thanks for reporting the issue. If I recall correctly, the variable was `--pengiun-skin`. It had a typo on purpose, as stated in the description, but probably someone overlooked and corrected it.

@moT01 I believe you are the author of this section. Can you confirm the typo thing?

[2018-07-09 02:00] chenjacky131 commented on #16358
Invalid regular expression flags for today,waiting for the update...

[2018-07-09 04:16] jsparadacelis commented on #16358
i try wiht map, for loops, etc, but i don found a solution. You can see it, maybe found a key idea. https://www.youtube.com/watch?v=XzExdQye1Ls

[2018-07-09 04:16] gforce2k5 commented on #17841
It's OK, I missed it as well on my first look

[2018-07-09 04:52] clandau commented on #17763
I've been trying to get this test to pass for a bit.
This didn't work:

        app.route('/auth/github/callback')
          .get(passport.authenticate('github', {
          failureRedirect: '/'}),
          (req, res) => {
            res.redirect('/profile');
        });

This finally did:

          app.route('/auth/github/callback')
          .get(passport.authenticate('github', {failureRedire

[2018-07-09 07:35] dada5000 opened #17843 "Front End Libraries Projects(the provided examples) are bugged in codepen."
#### Describe your problem and - if possible - how to reproduce it
Front End Libraries Projects -  projects are not showing correctly in codepen.

#### Add a Link to the page with the problem
https://codepen.io/freeCodeCamp/full/GrZVVO
https://codepen.io/freeCodeCamp/full/MJyNMd

#### Tell us about your browser and operating system

* Browser Name:
* Browser Version:
* Operating System:

#### If p

[2018-07-09 09:17] numoonchld opened #17844 "Code works but test doesn't pass - [React: Use a Ternary Expression for Conditional Rendering]"
#### Describe your problem and - if possible - how to reproduce it

Code works in the preview pane, doesn't pass test - in both Chrome and Firefox.

I type in a number and press that button after code initializes - and I get the right text change as required by the challenge, but when I run the tests, it says I haven't met two requirements.

#### Add a Link to the page with the problem

https://le

[2018-07-09 09:20] #17786 closed

[2018-07-09 09:35] #17823 closed

[2018-07-09 10:47] mpmaan commented on #17844
@numoonchld Your code is surely incorrect.
Try this:
1) Input 18 and click on button // correct output
2) Input 18 and click on the button again // incorrect output
In case 1, button correctly reads `Submit` before input and `You may enter` after input is submitted.
In case 2, button reads `you shall not pass` before input and `You shall not pass` after input is submitted.

[2018-07-09 11:09] numoonchld commented on #17844
Thanks - My code was wrong.

[2018-07-09 11:10] #17844 closed

[2018-07-09 11:20] mpmaan commented on #17841
@gforce2k5 I think that we should not change/update it. That would make things easier but reading the problem statement carefully is a skill that everyone should develop.
@Philosophist  Can you close this issue?

[2018-07-09 11:39] mpmaan commented on #17816
@smlarkin this issue has been fixed in the curriculum repo which stores all the challenges though it has not been updated in the main branch. Please close this issue.

[2018-07-09 11:43] mpmaan commented on #17832
@ammarasmro I think that the current text is okay.

It is referring to the reference made by the `name` variable.
Can you suggest some better sentence for the description?

[2018-07-09 11:57] mpmaan commented on #17780
@IvandCodes Please close this issue.

[2018-07-09 12:11] jan-koupil opened #17845 "ES6: Understand the Differences Between import and require - Bad test"
#### Describe your problem and - if possible - how to reproduce it
An extra whitespace in the import directive prevents the challenge from passing, e.g.
`import { capitalizeString  } from "string_functions";`
#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/understand-the-differences-between-import-and-require

#### Tell us a

[2018-07-09 12:14] mpmaan commented on #17796
@fr4p this has been fixed in curriculum repo and will be merged into master branch soon. Please close this issue.

[2018-07-09 12:22] mpmaan commented on #17845
@jan-koupil where is the extra whitespace?

[2018-07-09 12:32] mpmaan commented on #17806
@mcshakes Check #17483. Follow the instructions in the comment.

[2018-07-09 12:39] mpmaan commented on #17845
@jan-koupil I can fix this but I'm not sure that it should be fixed or not because it will give the wrong message that we can put unnecessary space characters anywhere in the code.

[2018-07-09 13:07] jan-koupil commented on #17845
On the other hand, this is almost undetectable error - and if you use e.g. repl.it, you see, that it works, and most languages incl. JavaScript take any number of whitespaces as one...

 Is there some kind of "hinting" - "yeah, this works, however the proper style does not recommend using more whitespace" or "Check your spacing" or something like that...

Maybe ... if you had an additional test, s

[2018-07-09 13:43] #17780 closed

[2018-07-09 13:44] IvandCodes commented on #17780
Thank you, everyone! The issue is closed.

[2018-07-09 14:13] mpmaan commented on #17845
@jan-koupil that seems reasonable..i'll look into it.

[2018-07-09 15:42] Philosophist commented on #17841
@mpmaan Sure. Sorry, I'm still unfamiliar with how to contribute on Github. Though, I would be careful with the reasoning you laid out. There are always more enriching ways to encourage attention to detail than random and unrelated side tasks that don't teach the user anything else.

[2018-07-09 15:42] #17841 closed

[2018-07-09 16:37] mpmaan commented on #17785
@TadashiCZ can you provide some more detail like a screenshot or code example?

[2018-07-09 18:44] randelldawson commented on #17812
I just created a PR with the changes suggested by @KoniKodes.

[2018-07-09 19:06] hbar1st opened #17846 "problem with instructions in topic: Regular Expressions: Match Characters that Occur Zero or More Times"
#### Describe your problem and - if possible - how to reproduce it
Please review the topic titled:
Regular Expressions: Match Characters that Occur Zero or More Times

I've pasted most of the text below for convenience. The problem I see is the line that says "//Returns ["g"] which is not correct as the regular expression /go*/ will not match anything in gPhrase.

Here's the text:
================

[2018-07-09 19:12] nickmansrob opened #17847 "[BUG] Applied Visual Design, background pattern"
#### Describe your problem and - if possible - how to reproduce it
The right solution isn't accepted. Code:
<style> body { background: url(https://i.imgur.com/MJAkxbh.png); } </style>

The preview shows the image correctly.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-texture-by-adding-a-subtle-pattern-as-a-backgrou

[2018-07-09 19:32] hollloh commented on #17839
i noticed this was addressed in [#416](https://github.com/freeCodeCamp/testable-projects-fcc/issues/416).
the solution to the problem (atm) is to use [this link](https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js).
(the one you mentioned that's default if you fork the codepen).

[2018-07-09 19:33] alifarukm commented on #7199
Here is my code is it same for your code . Please check your browser version and refresh the page . After that things you may use this code.Hopefully is helpfull .

function testLogicalOr(val) {
  // Only change code below this line

  if (val > 20 || val < 10) {
    return "Outside";
  }

  // Only change code above this line
  return "Inside";
}

// Change this value to test
testLogicalOr(15);`

[2018-07-09 19:49] gforce2k5 commented on #17847
you got the answer wrong, you have to enclose the url with either single quotes or double quotes
for example: 'background: url("***enter url here***")

[2018-07-09 20:05] nickmansrob commented on #17847
#ashamed ofcourse I needed the quotes, thanks!

[2018-07-09 22:03] scwong93 commented on #17834
When and where does the donation page pop up?

[2018-07-10 00:46] KoniKodes commented on #17812
Thank you @randelldawson
Is it possible to submit a pull request without having to yarn to my computer?
I thought that I used to be able to do that...

[2018-07-10 01:29] mpmaan commented on #17834
@scwong93 It pops up randomly after a challenge has been submitted successfully on [learn.freecodecamp website](https://learn.freecodecamp.org)

[2018-07-10 01:39] mpmaan commented on #17846
@hbar1st It seems correct to me.

Here `goRegex = /go*/` means that match a `g` and then match an `o` after `g`. `*` only applies to the selection that precedes it which is `o`.
You can use [regexr.com](https://regexr.com) for practice.
From [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp)

If you are satisfied, then please close this issue.

[2018-07-10 01:44] mpmaan commented on #17847
@nickmansrob You can always ask for help/feedback on Gitter regarding challenges. Can you close this issue?

[2018-07-10 02:00] hbar1st commented on #17846
Yes you are correct. Thanks for clarifying.

[2018-07-10 02:00] #17846 closed

[2018-07-10 06:16] mohitsinghdz commented on #16354
why not "export {foo, bar}" working?

[2018-07-10 08:11] doubleUTF opened #17848 "Link to Technical Page Test Suite CDN is Broken"
#### Describe your problem and - if possible - how to reproduce it
The link to the test suite is broken in the Technical Page project.

#### Add a Link to the page with the problem
[Build a Technical Documentation Page](https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page)
[Provided URL to Test Suite in above linked page](https://

[2018-07-10 08:39] chenjacky131 commented on #16358
@jsparadacelis  I follow the code on that video ,that doesn't work

[2018-07-10 08:40] AndrewJBateman commented on #16358
Hi, I am also still getting Invalid regular expression flags with:

const resultDisplayArray = arr.map(item => `<li class="text-warning">${item}</li>`);

[2018-07-10 10:00] nickmansrob commented on #17847
Thx for the hint!

[2018-07-10 10:02] #17847 closed

[2018-07-10 11:38] Naxiden commented on #16354
challange is broken i suppose

[2018-07-10 11:48] MikeForde commented on #12699
I struggled initially with same issues but so far I've got all to pass (up and including the @while example - not tried the others yet) - the issue seems to be white space
For some e.g. the @while example even needed to remove any indenting of the SASS bit

Try deleting any blank lines between the code and - if that doesn't solve it - not indenting the SASS code at all.
[using FCC with Safari 11.0

[2018-07-10 12:17] pedrobertao commented on #16358
It is still not working. Can we have a light here please ?

[2018-07-10 12:41] moT01 commented on #17840
@huyenltnguyen yes, there is supposed to be a typo in the variable name for those two classes - the way it is on the live site now is correct, I believe - but it looks like one of the tests isn't passing unless the typo is corrected

[2018-07-10 13:30] renojvarghese commented on #17750
Hey @QuincyLarson. I haven't heard anything about this in some time. Are there any updates to the issue?

And @haydmills. If you're interested, do you want to work on this project together? We can collaborate to get an awesome badge rolled out.

[2018-07-10 13:35] jooji-san opened #17849 "no Higher Order Functions exercise"
#### Describe your problem and - if possible - how to reproduce it
In following exercise I'm forced to write higher order arrow functions with map, filter and reduce without knowing anything about them. This is pretty weird.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/write-higher-order-arrow-functions

[2018-07-10 14:02] jooji-san commented on #17849
duplicate of #14903

[2018-07-10 14:29] JonDevOps opened #17850 "If i write the code for the map and send a pr will it be accepted?"
#### Describe your problem and - if possible - how to reproduce it

I want to bring the map back. I do not like having to click the curriculum link and having to go to a seperate page to go to the previous challenge or to view previous challenges (x) amount of challenges back or forward from the challenge i am completing. I think it was quicker and more convientient without leaving the page i am o

[2018-07-10 18:30] Flarp commented on #14234
Here's another block - https://github.com/freeCodeCamp/curriculum/issues/42

Due to not being able to work on this in continuous chunks, and no resolution to any of these as of yet, I can't really work on this as of now. I am not familiar enough with the codebase to be able to fix the first issue, but I might be able to tackle the second one.

[2018-07-10 23:28] jacobvarner commented on #12699
@MikeForde This worked for me when switching to Safari to get passed this one module. However, I still could not get it to work in any way while running it in Chrome 67.

[2018-07-11 00:40] haydmills commented on #17750
@renojvarghese yeah sure let's do it! I have a few ideas in mind. I'll post them once I get some time soon.

[2018-07-11 02:37] ndeyerl commented on #17808
When I submit what I believe is the correct code for the challenge, it crashes my browser.

<ParentComponent>
  <ChildComponent />
</ParentComponent>

[2018-07-11 03:07] ChrisBrownie55 opened #17852 "Function parameter not recognized when using arrow function"
#### Describe your problem and - if possible - how to reproduce it
### Functional Programming: Pass Arguments to Avoid External Dependence in a Function
In this lesson, I found that if you use an arrow function, the test `Your incrementer function should take a parameter.` fails, as it doesn't recognize that the function accepts parameters (probably a regex problem).

**My function:**
[code]

####

[2018-07-11 03:20] ChrisBrownie55 opened #17853 "Misuse of word `Refactor` in FP lesson"
#### Describe your problem and - if possible - how to reproduce it
In the sentence, **"Refactor (rewrite) the code so the global array bookList is not changed inside either function,"** the use of the word "refactor" is incorrect, and should simply be replaced with "rewrite". This is because to "refactor" is:

But in this instance, you're going from mutability to immutability which does change the

[2018-07-11 03:30] ChrisBrownie55 commented on #17848
The development link for the test suite is broken, however, if you switch to the production version it's still working just fine.

[2018-07-11 06:07] abenjamin765 opened #17854 "Sass: Use @for to Create a Sass Loop - Doesn't accept spaces"
#### Describe your problem and - if possible - how to reproduce it
The test will only accept:
[code]
But not:
[code]
#### Add a Link to the page with the problem
https://learn.freecodecamp.org/front-end-libraries/sass/use-for-to-create-a-sass-loop

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version: ?
* Operating System: macOS

#### If possible, add a sc

[2018-07-11 07:42] muratmer commented on #17408
Same issue with Chrome and firefox

[2018-07-11 08:55] jooji-san opened #17855 "Mistake in ES6 - Destructuring Nested Objects"
#### Describe your problem and - if possible - how to reproduce it

Is the bold text correct? because when I want to console.log start variable, it's not defined.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-destructuring-assignment-to-assign-variables-from-nested-objects/

[2018-07-11 09:19] wawraf opened #17856 "Data Structures challenges accept every solution - even without any code"
#### Describe your problem and - if possible - how to reproduce it
Challenges are accepted despite entered code (even without any).

#### Add a Link to the page with the problem
[Data Structures: Perform an Intersection on Two Sets of Data](https://learn.freecodecamp.org/coding-interview-prep/data-structures/perform-an-intersection-on-two-sets-of-data)
[Data Structures: Perform a Difference on Two

[2018-07-11 10:03] Badhan-abhishek commented on #5884
why my UI of freecodecamp is basic type?
![ca](https://user-images.githubusercontent.com/25399508/42564965-c9b4efee-851f-11e8-9f7f-d14ad81d6da1.JPG)

[2018-07-11 11:35] 9064911 opened #17857 "Lack of syntax check of ES6 shorthand functions(default code passed the test)"
#### Describe your problem and - if possible - how to reproduce it
The lesson about the ES6 shorthand function, the default syntax(no shorthand function) could pass the test

Seems the test is about output rather than syntax for this one.

#### Add a Link to the page with the problem
https://forum.freecodecamp.org/t/some-bug-write-concise-declarative-functions-with-es6/207819

https://learn.freeco

[2018-07-11 11:48] Amilight commented on #16354
@mohitsinghdz  @Naxiden In problem It is explicitly mentioned to use first method as opposed to second.

[2018-07-11 11:48] moT01 commented on #17799
this is the file where the problem is - https://github.com/freeCodeCamp/curriculum/blob/dev/challenges/05-apis-and-microservices/apis-and-microservices-projects.json - add `target="_blank"` to the glitch links in the descriptions

[2018-07-11 12:33] moT01 commented on #17804
@chrisbobek After reading a few articles, I can't find definitively if cascading is wrong here

[2018-07-11 13:01] nnabuihegabriel commented on #17804
I am having issues with my task here "btn btn-primary " under bootstrap
:style text input as forms control

On Wed, Jul 11, 2018, 13:39 Tom <notifications@github.com> wrote:

[2018-07-11 13:02] moT01 commented on #17790
this seems to be a problem for any challenge with a `.` in the title - there's at least a couple others

[2018-07-11 13:05] calandraz commented on #17831
Hi @hbar1st! I was able to look through your issue and found that the error is telling you that the test is expecting a value, specifically a link. To fix this you just need to create a link that points to your GitHub or FCC profile within a new tab. This should get you through that error. Good Luck!

[2018-07-11 13:07] nnabuihegabriel commented on #17790
I don't understand

On Wed, Jul 11, 2018, 14:06 Tom <notifications@github.com> wrote:

[2018-07-11 13:13] #17699 closed

[2018-07-11 13:13] #17840 closed

[2018-07-11 13:14] nnabuihegabriel commented on #17831
Thanks I have linked my github  account to my freecodecamp profile.
Once more thanks

On Wed, Jul 11, 2018, 14:09 Calandra Zellner <notifications@github.com>
wrote:

[2018-07-11 13:19] calandraz commented on #17831
@hbar1st were you able to fix the navbar error? I'm currently looking through it as well

[2018-07-11 13:29] calandraz commented on #17831
@hbar1st for the navbar situation you need to have a 'fixed' position. This can be addressed within your CSS.

[2018-07-11 13:37] WizardOfAus opened #17858 "Unclear instruction for JS Replacing If Else Chains with Switch Challenge"
#### Describe your problem and - if possible - how to reproduce it

Two of the tests are:
chainToSwitch("John") should be "" (empty string)
chainToSwitch(156) should be "" (empty string)

These are confusing as the question asks Change the chained if/else if statements into a switch statement and by chainToSwitch for the above two, the return needs to be specifically "" as default has been "Ate Ni

[2018-07-11 13:37] RenaudGagne opened #17859 "My profile was completely erased!"
#### Describe your problem and - if possible - how to reproduce it

I had an account connected to my github account: https://freecodecamp.org/cryptoctopus
Today, I was asked to sign-in since I cleared my cache this weekend. Now ALL MY PROFILE IS GONE.

I had finished all HTML/CSS + I was halfway through JAvascript...but since I was jumping around in the module, I no longer remember where I was at.

[2018-07-11 13:38] moT01 commented on #17804
@nnabuihegabriel ?

[2018-07-11 13:40] WizardOfAus commented on #17858
Proposed fix with PR

[2018-07-11 14:02] OahMada commented on #14501
Looking forward to this feature.

[2018-07-11 14:06] dlmvad opened #17860 "CSS Variables - incorrect wording on clues"
#### Describe your problem and - if possible - how to reproduce it
The wording of the clues on the CSS Variable page is incorrect

**what it says:**
penguin class should declare the **--penguin-skin** variable and assign it to gray.
penguin class should declare the **--penguin-skin** variable and assign it to white.
penguin class should declare the -**-penguin-skin** variable and assign it to oran

[2018-07-11 14:06] dlmvad commented on #17860
I'm happy to do this small change

[2018-07-11 14:08] #17821 closed

[2018-07-11 14:13] mpmaan commented on #17858
@WizardOfAus If `val` is `John` or `156` then none of the `if..else` condition will be executed and since the variable `answer` has been initialized to be an empty string then after the statement `return answer;` gets executed, an empty string will be returned.

`Ate Nine` will be returned only if `val` is `7`. What do you mean by default here?

[2018-07-11 14:22] mpmaan commented on #17860
@dlmvad Thanks for being willing to contribute. However, this issue has been fixed in the *dev* branch of [curriculum repo](https://github.com/freeCodeCamp/curriculum) and will be merged to the *master* branch soon.
You can try to fix other issues.
Please close this issue.

[2018-07-11 14:24] nnabuihegabriel commented on #17804
Yes

On Wed, Jul 11, 2018, 14:43 Tom <notifications@github.com> wrote:

[2018-07-11 14:29] Ieahleen commented on #17701
it's not only with the alt attribute, but anytime you have only one quote there are strange changes to the things being shown.
Here I have only an open quote on setting a class for an element, and the formatting is all gone now

With the corret quotes:
![image](https://user-images.githubusercontent.com/26656284/42578990-9bdeb552-8527-11e8-93ca-f92b275bdb9e.png)

With only one quote:
![image](https

[2018-07-11 14:31] dlmvad commented on #17860
@mpmaan thank you!

[2018-07-11 14:31] #17860 closed

[2018-07-11 14:43] mpmaan commented on #17855
@jooji-san Yeah, it seems correct to me.
For example

var {p: foo, q: bar} = o;
console.log(foo); // 42
console.log(bar); // true

var {p, q} = o;
console.log(p); // 42
console.log(q); // true

In the second case, you can access `p` and `q` because the values corresponding to `p` and `q` have assigned to `p` and `q`. However, in the first case, those values have been assigned to `foo` and `bar` so

[2018-07-11 14:54] mpmaan commented on #17857
@9064911 Thanks for opening this issue. I'll look into it.

[2018-07-11 14:54] hbar1st commented on #17831
The uncaught exception is a problem with the fcc code. Someone should check to see if the code has a problem.

[2018-07-11 15:11] calandraz commented on #17831
@hbar1st , so when you fixed the the profile link and the added position: fixed within your css the bug persisted? I made a copy of your project and once I added in those bits the errors were resolved.

[2018-07-11 15:22] iamskok commented on #16358
I get **Invalid regular expression flags** error.

const resultDisplayArray = arr.map((msg) => {
    return `<li class="text-warning">${msg}</li>`;
});

[2018-07-11 15:40] mpmaan commented on #17856
@wawraf  I'll look into it.

[2018-07-11 16:08] nabendu82 commented on #16358
I also get the **Invalid regular expression flags** error for below.
<img width="629" alt="screen shot 2018-07-11 at 9 37 41 pm" src="https://user-images.githubusercontent.com/17110163/42585231-aded94ae-8552-11e8-9fe2-081b9783883f.png">

[2018-07-11 16:30] #17855 closed

[2018-07-11 17:06] richardse08 opened #17861 "Tests pass when <strong> is used to wrap entire <p> element in challenge Applied Visual Design: Use the strong Tag to Make Text Bold"
#### Describe your problem and - if possible - how to reproduce it
Tests pass when <strong> is used to wrap entire <p> element in challenge "Applied Visual Design: Use the strong Tag to Make Text Bold"

The following will pass test:
`<p><strong>Google was founded by Larry Page and Sergey Brin while they were Ph.D. students at Stanford University</strong>.</p>`
Only the following should pass test:

[2018-07-11 17:08] doubleUTF commented on #17848
@ChrisBrownie55 Got it thanks, just wanted to report the fact.

[2018-07-11 17:10] JohnFlowerBouquet opened #17862 "Typo in Basic JavaScript: Understanding Uninitialized Variables"
There is misstatement between challenge instuctions which says:
Initialize the three variables **a**, **b**, and **c** with **5**, **10**, and **"I am a"** respectively so that they will not be undefined.  <--- Those values are accepted.
When challenge test suite(which is incorrect) says:
a should be defined and evaluated to have the value of **6**
b should be defined and evaluated to have the val

[2018-07-11 18:58] aimenbatool commented on #17862
Hi @JohnFlowerBouquet, Can you please explicitly tell about the typo as I didn't find any except "the" missing before "code" in "Do not change code below the line".

Is this to fix?

[2018-07-11 19:40] scwong93 commented on #17862
I've confirmed the challenge and it is correct. You add the values 5, 10, and "I am a" to the variables a, b, and c, respectively. Below the line "Do not change code below the line", you have:
a = a + 1;
b = b + 5;
c = c + " String!";
which will then lead to the test suite results.

[2018-07-11 19:51] scwong93 commented on #17853
You are correct, refactor is not the right word.

Submitted a PR to correct in the curriculum repo
https://github.com/freeCodeCamp/curriculum/pull/132

[2018-07-11 20:12] scwong93 commented on #17853
You are correct, refactor is not the right word.

Submitted a PR to correct in the curriculum repo
https://github.com/freeCodeCamp/curriculum/pull/133

[2018-07-11 20:52] ThomasBergman1987 commented on #13677
[code]

What's wrong with my solution?

Thank you in advance for any response.

[2018-07-11 21:08] kguevara commented on #16358
I’m still receiving  **Invalid regular expression flags** error.
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/create-strings-using-template-literals/

[2018-07-11 21:55] QuanVOLEMINH commented on #16354
@badarshahzad's solution worked for me.
Please use `Alt Shift F` to format code.

[2018-07-11 22:11] JonDevOps commented on #17850
I believe it was because they worked so hard on the curriculum and the fact that all the new curriculum courses were not within the map  was the reason the map was discontinued...hopefully just for the time being, until they add all the new courses to it. Just my thoughts.

[2018-07-11 23:45] ajhernandez95 commented on #16629
Still a bug on main site. Its keeping me from passing this exercise.

[2018-07-12 00:54] hbar1st commented on #17831
The bug did not persist when I changed the code. But again, the bug is an exception that is triggered by the code. Therefore the fix must be in the fcc side in order for the test to not fail in response to the code. Exceptions should either be caught or ignored but you cannot ask the user to change their usage to avoid a bug.

[2018-07-12 02:37] mpmaan commented on #17858
@WizardOfAus If everything is fine then please close this issue otherwise suggest some changes to be made because I think that the instructions are okay.

[2018-07-12 05:45] alexpedroza commented on #17479
still having this issue:
checked latest versions of Chrome & Firefox as well as IE edge on windows 10 OS
tried clearing cache & cookies & verified that the Element inspector reported correct font-sizes for each element!

[2018-07-12 05:55] WizardOfAus commented on #17858
I think the main issue is that from the follow up of the previous challenge using the default: as a case it can get confusing. But other than that it is ok.

[2018-07-12 05:55] #17858 closed

[2018-07-12 06:07] real-MaRs opened #17863 ""Update my Email" button does not do anything"
#### Describe your problem and - if possible - how to reproduce it
Enter valid and matching email and press "Update my Email"

#### Add a Link to the page with the problem
https://www.freecodecamp.org/settings/update-email

#### Tell us about your browser and operating system
Google Chrome
67.0.3396.99
Windows 7

#### If possible, add a screenshot here

[2018-07-12 07:54] jooji-san opened #17864 "ES6: Constructor Function - note about Capitalization"
#### Describe your problem and - if possible - how to reproduce it
They are named with capital letter first after convention and I think this should be noted in this challenge.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-class-syntax-to-define-a-constructor-function

[2018-07-12 08:00] jooji-san opened #17865 "Constructor function not explained before ES6"
#### Describe your problem and - if possible - how to reproduce it
'ES6: Use class Syntax to Define a Constructor Function' talks about class syntax without we knowing anything about constructor functions, but I think, it's important to know about constructor functions first.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/

[2018-07-12 09:38] roshad opened #17866 "ES6: Understand the Differences Between import and require"
require() is not a plain JS function, it is in Node.js. Should mention it.

[2018-07-12 10:48] MikeForde commented on #12699
No agreed, there's more to it than white space. What I did notice is that - with the @while example - if I keep pressing the "Run the Tests" button then - if there are no actual errors - after 4-5 presses, it works, whereas if there is a genuine error it never passes. Not exactly ideal behaviour but would suggest a low-level error rather than one linked to an actual syntactic error in the code bei

[2018-07-12 11:54] OumaimaTiguint commented on #16358
I tried it with map and everything and I still get Invalid regular expression flags

[2018-07-12 14:18] davidsimoes commented on #17788
@scissorsneedfoodtoo When will the fix roll out? Just to let you know it keeps showing the same error for my solution too:
`const resultDisplayArray = arr.map(el => `<li class="text-warning">${el}</li>`);`

[2018-07-12 14:31] scissorsneedfoodtoo commented on #17788
@davidsimoes, I'm sorry, I can't say for sure. I'm not able to do it myself, so we'll have to wait for one of the main team members to trigger the build of a new NPM package, then update the learn platform to use that rather than the current curriculum package.

Another member is working to further improve the challenge. You can follow his progress here: https://github.com/freeCodeCamp/curriculum/

[2018-07-12 14:54] dbaleeds commented on #16358
Confirmed still not working

[2018-07-12 17:08] moT01 opened #17867 "UI: Public portfolio button extends beyond the visual button"
The clickable area of the `Show me my public portfolio` button extends beyond the visual button (the red area in the screen shot is clickable)

![screen shot 2018-07-12 at 12 03 45 pm](https://user-images.githubusercontent.com/20648924/42648221-e4cd67be-85cb-11e8-8ab0-013176c1e6f6.png)

https://www.freecodecamp.org/settings

* Browser Name: firefox
* Browser Version: 60.0.1
* Operating System: hig

[2018-07-12 17:55] Nirajn2311 commented on #17867
I’ll look into it.

[2018-07-12 20:47] blkws commented on #17799
I created my first fix online. Having some trouble testing. Any good feedback?

[2018-07-12 21:06] lieberscott commented on #17618
For those who are continuing to fail the tests despite what has been printed here, I found a solution that worked for me!

You need to add the following code at the top of your server.js file:

[code]

This should work!

[2018-07-12 23:53] kuhlekt1v opened #17868 "CSS Flexbox: Add Flex .follow-btn ISSUE"
#### Describe your problem and - if possible - how to reproduce it
The CSS Flexbox: Add Flex Superpowers to the Tweet Embed lesson will not pass. Specifically there is an issue with the .follow-btn test.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/css-flexbox/add-flex-superpowers-to-the-tweet-embed

#### Tell us about your browser and operatin

[2018-07-13 02:02] ryanxmccarthy commented on #16358
Still not working, rather frustrating

[2018-07-13 03:18] hbar1st commented on #17683
just thought I should mention that many people hit this issue regularly because the starting code provided by the challenge doesn't have a space on the left side of the = sign and so if you just add the export statements, the challenge fails and you sit there wondering what you did wrong. (there's a 30 long  thread going on in the forum with people not able to figure this out)

[2018-07-13 04:05] utsab opened #17869 "Redesign proposal for public portfolio page"
I am the product lead for the [classroom mode](https://github.com/freeCodeCamp/classroom-mode/) codebase.  During our user interviews with teachers who intend to use FreeCodeCamp in their classrooms, we learned about their challenges with the existing progress timeline shown on the public portfolio page.  There is one key challenge:

Teachers want to quickly get a sense of a student's overall prog

[2018-07-13 06:53] #17845 closed

[2018-07-13 06:57] chenjacky131 opened #17870 "Intermediate Algorithm Scripting: Sum All Odd Fibonacci Numbers"
#### Describe your problem and - if possible - how to reproduce it
sumFibs(4000000) should return 4613732.
this is my code
[code]

#### Add a Link to the page with the problem
[fcclink](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sum-all-odd-fibonacci-numbers)

#### Tell us about your browser and operating system

* Browser Name: chrome

[2018-07-13 08:26] 9064911 opened #17871 "ES6: Use class Syntax, lack of check for constructor"
#### Describe your problem and - if possible - how to reproduce it
Test for this lesson may not check the syntax for any constructor syntax, instead looks like it's tested by output.

EIther user provide the constructor(correct/expected way) or not, challenge passes.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/use-class

[2018-07-13 09:08] jooji-san opened #17872 "Regular Expressions - asterisk"
#### Describe your problem and - if possible - how to reproduce it
I find this challenge's instructions pretty confusing. I made the hard part bold.

somehow this worked:
[code]
Here are tests:

1. Your regex chewieRegex should use the * character to match zero or more a characters.
2. Your regex chewieRegex should match 16 characters.
3. Your regex should match "Aaaaaaaaaaaaaaaa".
4. Your regex s

[2018-07-13 09:42] 2series commented on #12699
Hi all, whatever the issues are, they appear to be fix. Passed the challenge first time & i'm using Chrome Version 67.0.3396.87 (Official Build) (64-bit)

[2018-07-13 10:03] IceDune commented on #17872
The fourth test case checks if your regexp **doesn't match the string**. The regexp `/Aa*/` matches with only an 'A' followed by zero or more 'a's.
I feel the instructions are pretty clear.

[2018-07-13 10:20] jooji-san commented on #17872
Yeah, I know why /Aa*/ works, but it isn't clear why you should write /Aa*/ from instructions given.

[2018-07-13 15:00] LBWright commented on #17863
Bug repeatable. I'll see what I can solve this weekend.

[2018-07-13 15:44] ghost opened #17873 "Won't run tests"
#### I am trying to use freeCodecamp but the tests won't run. I am on the very first exercise (the one that asks you to make a heading that says "Hello World"), but after clicking "Run tests" nothing happened.

####
https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements

####

* Browser Name: Google Chrome
* Browser Version: Chrome 67
* Operating Syste

[2018-07-13 16:04] Nirajn2311 commented on #17873
I just checked it and it is working in safari iPad.

[2018-07-13 17:06] Chaoticonomist commented on #12699
Nope, still happening to me when I try the tests. Seem to only affect some users.

[2018-07-13 19:57] joker314 commented on #17872
Nowhere in the challenge does it say that the first character of the string must be `A`. I think you're meant to write `[aA]*`, but I might be wrong?

[2018-07-13 20:04] zxjq commented on #17873
Well, it's not working for me. Do you have any suggestions?

[2018-07-13 20:25] joker314 opened #17874 "Should we warn users after opening the developer console not to paste any text?"
#### Describe your problem and - if possible - how to reproduce it
This is a question, a little bit related to security. Other services, such as Discord and Facebook, create warning messages to deter users from needlessly pasting malicious content into their developer console -- which has full access to the current webpage's cookies.

Do we want to follow this pattern, and add our own?

This is do

[2018-07-13 21:05] joker314 commented on #17870
The provided code takes over half a second to run. I think that is what is causing the issue. I agree the error should be more verbose.

(For me, on Chrome 67 Windows 10) it takes 658μs to run.

What we should show is "sumFib(400..) took too long to run"

[2018-07-13 22:09] erictleung commented on #17872
@jooji-san yes, I believe I might have written these or at the very least contributed them, so as others have pointed out, that fourth test is there so that your regex is designed someone smartly not to just look for lowercase characters. Because the thing with regexes is that if you don't design/write them carefully, you may match things that you didn't intend to, and thus should rewrite them. So

[2018-07-13 22:13] zxjq commented on #17873
There were in fact three error messages.
![image](https://user-images.githubusercontent.com/41130963/42716162-30f9cce8-86c8-11e8-9891-c373e9808e96.png)
I hope this helps you figure out the problem.

[2018-07-13 22:49] tchaffee commented on #17382
@Nirajn2311 I did all that but am still getting an error.

Right after I get redirected to auth0 for the sign-in, it tries to go to URL http://localhost:3001/auth/auth0/callback?code=j2QobDLO6eKylrPB which crashes the app with the following:

[code]

[2018-07-13 23:07] andrew-prior commented on #13999
I know that this issue has been closed but I just encountered the same bug.

I have the line written as `req.onload = function () {` which failed the test. When I wrote it as `req.onload=function(){` it passed the test;

[2018-07-13 23:23] jwdunn1 opened #17875 "Type in D3: display-shapes-with-svg"
Third paragraph: "vales" should be "values"

![values](https://user-images.githubusercontent.com/4262131/42717864-f3dee668-86b8-11e8-9306-538319c9b3f8.png)

[2018-07-14 02:20] kalzimonium commented on #16354
This challenge along with others are broken. This is my solution and it doesn't even do anything when I run the test:
const export foo = "bar"
const export bar = "foo

I am leaving them for now until they're fixed. Going to contact Quincy or whoever.

[2018-07-14 02:50] chenjacky131 commented on #17870
@joker314  yes.maybe it's because of that. I change the recursion and it works

[2018-07-14 06:43] mahmoud-coo6 commented on #16378
here my solution , worked for me..

function translatePigLatin(str) {
  var length = str.length;
  var tab = [];
   if(str.match(/[aeiou]/gi) === null) {
        // Check if the string contains only consonants
        var temp;
       temp= str + 'ay';
       return temp;
              }

  for(var i=0; i<length; i++){
    var first = str.charAt(i);
    //voyelle
    if(first === "a" || first ===

[2018-07-14 13:31] Python-git commented on #2142
won't work I've tried multiple solutions

[2018-07-14 13:31] Python-git commented on #2142
not since beta 2018 july

[2018-07-14 14:37] lynxlynxlynx commented on #17872
See  #17632 for a discussion and some history.

[2018-07-14 14:41] lynxlynxlynx commented on #17865
It's just mentioned as an aside, but sure, it couldn't hurt to have a separate challenge somewhere.

[2018-07-14 14:45] scissorsneedfoodtoo commented on #2142
@Python-git, sorry to hear you're having trouble. I just tried the challenge and it seems to work fine. Do you have a screenshot? Also, what browser and version are you running?

[2018-07-14 14:53] lynxlynxlynx commented on #17195
This is also tracked in #12699

[2018-07-14 14:54] lynxlynxlynx commented on #17756
This is also tracked in #12699

[2018-07-14 14:55] lynxlynxlynx commented on #17854
This is also tracked in #12699

[2018-07-14 15:17] scissorsneedfoodtoo commented on #17872
Hi @lynxlynxlynx, sorry you're having trouble with this challenge. It was a long time ago, but I think I remember the original challenge having some issues with introducing both the `^` and `*` characters at the same time. I thought that was too much, so rewrote it to just introduce the `*` character. Also in the original challenge, the user didn't have to use the `*` character at all since all th

[2018-07-14 15:25] roshad opened #17877 "Redundant challenges in Js regex section"
[\W \w | \S \s | \D \d]
They all follow the same rule, merge them together can save some traffic.

[2018-07-14 15:27] Flarp opened #17878 "ES6 Proxies"
#### Describe your problem and - if possible - how to reproduce it

The current ES6 curriculum covers how to implement getters and setters on ES6 classes, but not actual objects using [Proxies](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy). I can't work on this now, I'm already tied up with generators and iterators, but it came to me while I was writing a

[2018-07-14 15:53] jeffersonnnn commented on #17817
@quincylarson totally stoked! how can i help here

[2018-07-14 15:59] lynxlynxlynx commented on #17872
I proposed a solution in the older bug. "Aa*" just doesn't fit the instructions well.

A simple expression with an asterisk will always be problematic when it comes to matching the empty string. So it's silly to try to force users too use it. "Aa*" is just hacky one-or-more emulation to get around the problem.

Another solution would be to introduce asterisk after the search-and-replace challenge,

[2018-07-14 16:56] Python-git commented on #2142
I fixed it. went from safari to chrome an Firefox

On Sat, Jul 14, 2018 at 10:48 AM Kristofer Koishigawa <
notifications@github.com> wrote:

[2018-07-14 17:00] scissorsneedfoodtoo commented on #2142
@Python-git, glad it worked out!

That's interesting. We'll have to do more testing with Safari. Thank you for reporting this.

[2018-07-14 17:29] typhoon93 commented on #16358
Right now neither MAP method nor the more simple but lengthy approaches work, same error - "Invalid regular expression flags" even though the other tests are passed

[2018-07-14 19:30] milosrancic opened #17880 "Typo in the example code"
#### Describe your problem and - if possible - how to reproduce it
In this challenge, everything is working as it's supposed to, but there's typo in the second code example.
Second variable is called `otherString` and on the next line `.split` method is being called on the variable from first example. It's just a typo, should be `var byDigits = otherString.split()` .

#### Add a Link to the page w

[2018-07-14 19:54] ivanduka opened #17881 "clear and vertical-aligned properties are referenced but wasn't introduced before in "CSS Flexbox: Use the align-self Property""
#### Describe your problem and - if possible - how to reproduce it

The description of the "CSS Flexbox: Use the align-self Property" lesson references "float", "clear", and "vertical-align". However, only "float" was explained in the previous lessons (specifically in the "Applied Visual Design: Push Elements Left or Right with the float Property"), but "clear" and "vertical-align" were not explai

[2018-07-14 21:04] QuincyLarson commented on #17450
@jgibson02 Have you made any progress on your possible replacement demo?

I'm still in favor of changing the subject of this project to something with an open API, like forum.freecodecamp.org. But if you've made progress on this I'd be interested in seeing it :)

[2018-07-14 21:54] ivan3123708 commented on #17820
I get tests to pass randomly, but there's always one that fails, so it's impossible to complete this challenge.

[2018-07-14 22:14] jgibson02 commented on #17450
I was having issues retrieving data from the https://forum.freecodecamp.org/latest.json API when making a request from CodePen. It seems like CORS would need to enabled on that API for campers to be able to use it there. For now I'll continue working on a demo by downloading a copy of the JSON.

[2018-07-14 23:50] Python-git commented on #2142
Thanks for reaching out

On Sat, Jul 14, 2018 at 1:03 PM Kristofer Koishigawa <
notifications@github.com> wrote:

[2018-07-15 01:04] KDCinfo commented on #17788
Just hit this as well. First with `.map()`, then tried a normal `for` loop while `.push()`ing the literals.

**Error:** `Invalid regular expression flags`

[2018-07-15 03:36] Nerajno commented on #17799
I think it should be ok... when someone tests... if its broken... I can fix it.

[2018-07-15 03:49] #17861 closed

[2018-07-15 08:51] jooji-san commented on #17872
@erictleung My main complaint is the general problem.

it doesn't explain that upper and lower case 'a' characters should be together side-by-side in one word. Based on this problem regex should also work on these strings: 'A', 'a', 'A a' and etc.

[2018-07-15 09:45] Nirajn2311 commented on #17654
Can someone close this issue as it is solved.

[2018-07-15 09:54] Nirajn2311 commented on #17347
What’s the progress of this issue?

[2018-07-15 11:39] scissorsneedfoodtoo commented on #17872
@lynxlynxlynx, right, the asterisk can be really tricky. But I think the problem with using that specific character set with the asterisk outside that can lead to matching empty strings or match infinitely. And while you bring up a good point about the search-and-replace challenge not being too regexy right now, I think the order of this challenge is fine. Having it directly after the "Match Chara

[2018-07-15 12:19] lynxlynxlynx commented on #17872
I linked the bug, just look at it. As for matching nothing or "infinitely", that's only somewhat of a test problem, since the feature works that way by design (and we're not testing against G-sized strings here).

[2018-07-15 13:26] jooji-san opened #17882 "Regex challenge - more strict Tests required"
#### Describe your problem and - if possible - how to reproduce it
the challenge below asks you to check usernames according to some rules. One of the rules is this:

i wrote this code, which clearly violates this rule, but still passes all the tests:
[code]
'cause this regex also matches with i.e. 'user7name', which should not be the case according to the rule above.
Here are the test and not a s

[2018-07-15 14:09] zxjq commented on #17873
I'm not sure what that means. JavaScript is allowed on my browser, although I believe that is not what you were referring to. Also, it still doesn't work with incognito mode.

[2018-07-15 14:16] Nirajn2311 commented on #17873
@zxjq could you post a list of your browser addons and extensions.

[2018-07-15 16:02] zxjq commented on #17873
I'd rather not. Why?

[2018-07-15 16:29] joker314 commented on #17873
@zxjq They think one of them might be interfering with freeCodeCamp.

Instead, could you, by method of binary search, determine whether an extension is the problem.

Disable all of your extensions. If that solves it, proceed with the below. If not, let us know.

CURRENT means all your extensions.

1. Disable half of CURRENT. Did that solve it? (***yes***: step 2, ***no***: step 3)
2. CURRENT is no

[2018-07-15 16:49] nicbovee opened #17883 "Product Landing Page should check src attribute or include a separate test that looks for <source> tags."
#### Describe your problem and - if possible - how to reproduce it
Currently, when running the test suite for the "Product Landing Page" project, test 6 is failing even though the code supplied is based on code provided in the [MDN guide for the <video> tag](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video)

The error one receives is: **"Cannot read property 'hasAttribute' of undefi

[2018-07-15 16:58] Nirajn2311 commented on #17873
@joker314 nice method, almost like a binary search.

[2018-07-15 17:32] lieberscott opened #17884 "Advanced Node & Express Issues Tracker project boilerplate needs change"
#### Describe your problem and - if possible - how to reproduce it
The index.html file for the Glitch clone of the Issues Tracker project needs a change. The form for deleting an entry should have id="testForm3". Currently it's "testForm2" and therefore doesn't work with the rest of the project.

I submitted a pull request to the Github repo as well for this.

#### Add a Link to the page with the

[2018-07-15 18:02] ThiagoRAD commented on #16358
Hey, if anyone found a way please tell meeee, I can't advance xD (i know i could skip it but oh my OCD)

[2018-07-15 18:13] zxjq commented on #17873
I disabled all of my extensions but it didn't work.
I still got this when I clicked Control-Shift-J.
![image](https://user-images.githubusercontent.com/41130963/42736745-2d5978d2-8839-11e8-9b1e-5bd48fe3bedd.png)

[2018-07-15 18:15] #17883 closed

[2018-07-15 18:46] #17622 closed

[2018-07-15 20:17] VirtuaBoza opened #17885 "ES6: Create Strings using Template Literals - "Invalid Regular Expression""
#### Describe your problem and - if possible - how to reproduce it
I "solved" ES6: Create Strings using Template Literals thusly:
[code]
Of the three tests, I pass "resultDisplayArray is a list containing result failure messages" and "resultDisplayArray is the desired output" but I cannot pass "Template strings were used" even though I obviously did use a template string. In the test console, the

[2018-07-15 20:46] #17885 closed

[2018-07-15 21:10] sedmo commented on #16354
@kalzimonium switch const and export

[2018-07-15 21:24] VirtuaBoza opened #17886 "ES6 import lessons specify "same directory," but including ./ fails tests"
#### Describe your problem and - if possible - how to reproduce it
In the ES6 lessons "**Understand the Differences Between import and require**" and "**Use * to Import Everything from a File**," you're asked to import from a file in the same directory. As noted in the former, "In most cases, the file path requires a ./ before it; otherwise, node will look in the node_modules directory first tryin

[2018-07-15 21:47] JohnFlowerBouquet commented on #17862
![typo](https://user-images.githubusercontent.com/38252717/42738722-d737b860-8888-11e8-9d86-19157e179b8e.jpg)

Correct me if I'm wrong but I understand that both underlined tips sections to this task should indicate the same values?
This is silly little typo but im kinda pedant :)

[2018-07-15 21:48] iamtirado commented on #17885
Did it get resolved?

[2018-07-15 21:52] iamtirado commented on #16358
Still not working for me.

[2018-07-15 21:56] VirtuaBoza commented on #17885
Somebody informed me that this same issue has been worked to close already, but it just hasn’t made it to production yet.

[2018-07-16 06:43] roshad opened #17887 "Accept Wrong answer"
#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions/positive-and-negative-lookahead/

Wrong Answer Accepted
/\w+(?=\w{5,})(?=\D*\d{2,})/

[2018-07-16 06:51] roshad commented on #17887
Oh, match, not select, then it's my misunderstanding.
Sorry, cannot delete.

[2018-07-16 07:02] joker314 commented on #17873
Interesting. Could you try to navigate to the grey links in the error messages?

If you get a warning about HTTPS not being secure, let us know.

But also, could you hit the padlock in the top left, and tell us which method of encryption it uses? (Or screenshot the entire thing)

[2018-07-16 07:13] ChrisBrownie55 opened #17888 "Change .innerHTML to .textContent for text changes"
#### Describe your problem and - if possible - how to reproduce it
In __"JSON APIs and Ajax: Change Text with click Events"__, it shows an example of how to change the text of an element via JavaScript and the method of doing so is outdated:

[code]

The problem here is __`.innerHTML`__. It shouldn't be used when only modifying text, the two better options are: __`.innerText`__ and __`.textContent

[2018-07-16 08:06] TadashiCZ commented on #17785
This code passes the tests even though I didn't change anything in the penguin-bottom class:
`.penguin-top {
    top: 10%;
    left: 25%;

    /* change code below */
    background: var(--penguin-skin, black);
    /* change code above */

    width: 50%;
    height: 45%;
    border-radius: 70% 70% 60% 60%;
  }

  .penguin-bottom {
    top: 40%;
    left: 23.5%;

    /* change code below */
    ba

[2018-07-16 08:36] nidafarooqui commented on #17825
![screenshot 2018-07-16 13 34 15](https://user-images.githubusercontent.com/8697408/42749421-1555eca6-88fd-11e8-8ca6-253487041368.png)

Removing the space before the equals sign allowed my test to pass but I thought I should mention this.

[2018-07-16 08:48] #17857 closed

[2018-07-16 09:22] mpmaan commented on #17785
@TadashiCZ this issue has been fixed in [curriculum repo](https://github.com/freeCodeCamp/curriculum) in dev branch and will be merged to master branch soon.

[2018-07-16 14:42] mirkocoppola80 commented on #14500
I am getting the same error:
Your .blog-post element should have a color of red.) and (Your h2 elements should have a color of red.

[2018-07-16 15:54] emmanuel19264 commented on #17788
I also encountered the same problem,  even tho my browser is up-to-date, chrome actually!
Thanks...

[2018-07-16 16:42] kalzimonium commented on #16354
@sedmo. You’re right. I got it twisted, but still didn’t work. Not even export { foo, bar } work. I’ve tried different browsers and still the same.

[2018-07-16 18:31] Nirajn2311 commented on #17887
@roshad could you close the issue.

[2018-07-16 18:48] roshad commented on #17887
close #17887

[2018-07-16 18:49] #17887 closed

[2018-07-16 19:18] wudifeixue commented on #17810
This part is indeed confusing, according to [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/url) quotation marks are not necessary either.

Here is where the source code of this challenge is:
https://github.com/freeCodeCamp/curriculum/blob/dev/challenges/01-responsive-web-design/applied-visual-design.json#L2299-L2315

[2018-07-16 20:20] WuerfelDev opened #17889 "Basic CSS Penguin error messages"
#### Describe your problem and - if possible - how to reproduce it
I get following error messages:
[code]
Should not always be `--penguin-skin` ;)

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/basic-css/use-css-variables-to-change-several-elements-at-once

#### Tell us about your browser and operating system

* Browser Name: Firefox
* Browser Ve

[2018-07-16 20:38] wajahatalimehr commented on #13613
you have to a link to the actual i.e; first 'a' rule like this way a: link {}

[2018-07-16 22:32] nathanhannig commented on #17693
I had the same issue running `npm run only-once`

Copying the commands and pasting them into the terminal ran the seeding with no issues.

Using Windows, Git Bash and Git Shell

[2018-07-16 23:00] profoundhub opened #17890 "loopback error: Model not found ?"
#### Describe your problem and - if possible - how to reproduce it
After attempting to seed the database:

/****/
Seeding Database
/****/

... \node_modules\loopback\lib\registry.js:317
  throw new Error(g.f('Model not found: %s', modelName));
  ^

Error: Model not found: flyer

[2018-07-16 23:08] profoundhub commented on #17693
I'm still having problems with this, even using Git Bash, i was using Powershell previously. Will try Git Shell now.

[2018-07-17 01:21] Nirajn2311 commented on #17889
I’ll work on it.

[2018-07-17 01:40] scissorsneedfoodtoo commented on #17889
@WuerfelDev, thank you for reporting this. This problem was fixed in https://github.com/freeCodeCamp/curriculum/pull/117, but hasn't been pushed to production yet. Please hang tight and the fixes should be reflected on the live site, soon!

[2018-07-17 01:40] #17889 closed

[2018-07-17 04:08] kalzimonium commented on #16354
@aryafathur nope, still didn’t work.

[2018-07-17 04:51] jumar98 opened #17891 "ES6: Create Strings using Template Literals"
#### Describe your problem and - if possible - how to reproduce it

3d Case not pass

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/create-strings-using-template-literals/

#### Tell us about your browser and operating system

* Browser Name: Google
* Browser Version: 67.0.3396.99
* Operating System: Windows

#### If poss

[2018-07-17 05:43] joseprograms commented on #17847
I think you need to add qoutation marks around the URL.

[2018-07-17 13:30] zxjq commented on #17873
I am unable to copy an image of the expanded info (whenever I open the snipping tool it collapses again), but all it says is, "Your connection to this site is not secure..."

[2018-07-17 13:33] zxjq commented on #17873
In case it helps, although I doubt it will, here is the most recent set of errors that appear in the console.
![image](https://user-images.githubusercontent.com/41130963/42820538-6bbced18-89a4-11e8-8e59-8c2a937e09d7.png)

[2018-07-17 14:02] sdabhi23 commented on #17799
Can I take up this issue if anyone else has not picked it up yet?

[2018-07-17 14:13] sdabhi23 commented on #17749
AFAIK the new site is built using react, and there's a better approach available than using the traditional i tags. I can help out with creating the relevant react components for the same!

[2018-07-17 15:25] surajkumarsharma commented on #15401
missing ; at the end

[2018-07-17 17:11] zxjq commented on #17873
There is no actual picture of a padlock. In its place is a red danger sign with the words "Not secure." The site I am on is the https one.

[2018-07-17 21:25] CQW-Code commented on #12699
Ran into the same issue-- FireFox 56.0.2.
Cleared all the whitespaces out; indenting etc checked.
Last two tests still failed.  Attempting to "spam" the Run Test button.. so far no luck.

[2018-07-17 21:59] joker314 commented on #17873
I am interested in the certificate: which encryption algorithm is being used?

[2018-07-17 22:09] johnkennedy9147 commented on #17722
closing as issue was resolved
@GMradu if you think you have found a new issue could you please create an issue and provide details of the problem and how to recreate it , thanks

[2018-07-17 22:09] #17722 closed

[2018-07-18 00:16] HaleyJ1387 opened #17894 "Freecodecamp issue with the react portion"
#### Describe your problem and - if possible - how to reproduce it
I have been trying to complete the 300 hours for the front end certificate and I started the react portion and it stops at this challenge (create a component with composition). From this challenge on, it freezes my screen and I have to completely shutdown the page. Please help!

#### Add a Link to the page with the problem
https://

[2018-07-18 01:01] zrfrank opened #17895 "Feature Request: Combined/Complete Guide of A Certificate (without the challenge part) for people with slow or restricted internet connection"
I wish to request a feature which will benefit people with a slow, limited or restricted internet connection, that providing a downloadedbale, combined/complete guide of a certificate, in one HTML, pdf, epub, etc. So that people can study the complete guide whenever and wherever possible, and then when connected, return to the normal procedure of completing each test and challenges.

This also has

[2018-07-18 03:20] Marmiz commented on #17894
Without looking at the code is hard to tell, but by the way you described it I fear you generated an infinite loop.

It's possible to generate infinite loop in React rendering function when rendering the same class as child component.

So in practice see here that I am rendering inside my class `foo` itself as so:
[code]

To unfreeze the responsive page try adding `?run=disabled` in the url, that

[2018-07-18 05:09] Mortiferr commented on #17894
Man I wish I had known this while doing the `while` loop section of SCSS. I'll remember `?run=disabled` now.

[2018-07-18 06:01] PhoeniXAbhisheK opened #17896 "Sass challenges are browser dependant, some won't pass in Chrome(Version 67.0.3396.99), but will pass in Mozilla Firefox(Version 56.0)"
#### Describe your problem and - if possible - how to reproduce it
For the following challenges, the correct codes do not pass in Google Chrome(Version 67.0.3396.99), but are successful when done the same in Mozilla Firefox(Version 56.0)

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/front-end-libraries/sass/store-data-with-sass-variables/
https://learn.freecodecamp.o

[2018-07-18 14:07] Wakesnill commented on #17615
@mpmaan how do I fix this problem. Am having the same problem and have no idea how to fix it

[2018-07-18 14:14] joker314 commented on #17891
Hi! Thanks for reporting this. However, this has actually already been covered in another issue, #17788. Here is the current official response:

Let's keep the conversation in one place and discuss this over there.

[2018-07-18 14:53] mpmaan commented on #17615
@Darkir Check if you haven't deleted/modified unnecessarily any pre-written code. You should ask for help related to challenges on [Gitter](https://gitter.im/FreeCodeCamp/YouCanDoThis?source=orgpage) or on the [forum](https://forum.freecodecamp.org/latest) or check out the [guide](https://guide.freecodecamp.org/certifications/).

[2018-07-18 15:12] Yonazar commented on #16358
Hey, i'm just another guy to write that it doesn't work still.

[2018-07-18 15:19] zdflower commented on #17403
It is still happening. This code passed the test (it's wrong because the setter doesn't set anything):

[code]

[2018-07-18 16:46] Puritanic opened #17897 "Basic CSS: Use CSS Variables to change several elements at once - issue"
#### Describe your problem and - if possible - how to reproduce it
Description of the task is wrong, you can see in the screenshot that all three variables are specifying `--penguin-skin`, which is an error I guess. Task passes if I ignore the task description and pass this code as the solution:
[code]

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/responsive-web-des

[2018-07-18 17:36] cdmccauley commented on #16358
I've seen that this is supposedly fixed and not yet deployed but, wanted to post in case it needs more info. I've confirmed the correct output with console.log() however, my solution does not pass the test "Template strings were used".
my code:
[code]
console output:
[code]

[2018-07-18 18:45] apurva5297 commented on #17817
i want to help

[2018-07-18 19:42] TheNewStyles commented on #16358
Still not working. const resultDisplayArray = arr.map(num => `<li class="text-warning">${num}</li>`);
// running test
Invalid regular expression flags
// tests completed

[2018-07-18 19:59] TheNewStyles opened #17898 "ES6: Use getters and setters to Control Access to an Object - can pass without proper validation"
#### Describe your problem and - if possible - how to reproduce it
With commented out code still passes tests

[code]

const Thermostat = makeClass();
const thermos = new Thermostat(76); // setting in Fahrenheit scale
let temp = thermos.temperature; // 24.44 in C
thermos.temperature = 26;
temp = thermos.temperature; // 26 in C

#### Add a Link to the page with the problem
https://learn.freecodecam

[2018-07-18 22:10] QuincyLarson commented on #13999
@andrew-prior Thanks for confirming this! I'm reopening the issue so we can further tighten up the tests :)

[2018-07-19 00:04] nathanhannig commented on #17318
I took a look and here are my findings. We, of course, know the main issue is that the Labels are not completely unique.

Label's `for` and Input's `id` are set in the <FormFields> component (.\common\app\routes\Settings\formHelpers\FormFields.jsx)

They get their value from the prop `fields` object and iterate over its keys to get the `name` property and create a field for each key. Legacy projec

[2018-07-19 02:14] chenjacky131 commented on #17195
try run test multiple times or try in another browser. that works for me

[2018-07-19 03:59] utsab opened #17899 "Feature Proposal: Users can enter a "class code" to join a classroom"
I'm a contributor to the new [classroom mode](https://github.com/freeCodeCamp/classroom-mode/) application for FreeCodeCamp.  Based on the discussion in this [thread](https://github.com/freeCodeCamp/open-api/issues/181#issuecomment-405049078), we would like to start tracking a user's number of attempts for each challenge.

Quincy mentioned that he would like to ensure that this data is viewable on

[2018-07-19 06:02] nathanhannig commented on #17318
It also appears that if you update the URL of a legacy or modern project, it will update the URL in both input fields. I don't know if this is expected behavior or a bug?

Are legacy and modern project of the same name considered the same or different? (I assume differently and should not be correlated)

However, any changes could cause an impact to existing user data. It is important to see how t

[2018-07-19 06:45] #17839 closed

[2018-07-19 06:45] #17848 closed

[2018-07-19 06:45] cj-sv commented on #17788
Can confirm, still having the issue as well. Hopefully gets pushed soon.

[2018-07-19 07:20] mihaid85 commented on #16358
Map method still doesn't work. With or without return.

[2018-07-19 08:35] manankalra opened #17900 "Uncomment HTML: Typo in the first sentence of the given description"
There's a typo in the **Basic HTML and HTML5: Uncomment HTML** section. The first sentence should contain _displayed **to** the end user_ instead of _displayed the end user_.

https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/uncomment-html

* Browser Name: Chrome
* Browser Version: Version 67.0.3396.99 (Official Build) (64-bit)
* Operating System: Windows 7 Professional

!

[2018-07-19 08:52] johnkennedy9147 commented on #17318
@nathanhannig yes, exactly.  Some projects from legacy are also used in the new curriculum so a submission to them count for the legacy certificate also, likewise if someone submitted a project for legacy they do not need to redo it for it to be eligible for the new certificates.  Any changes made to remove duplication of ids and for fields should not break this linkage.

Option 2 is what I would

[2018-07-19 09:10] mpisters commented on #15819
I have also this issue with my code (not very optimised):

[code]

[2018-07-19 13:41] #17875 closed

[2018-07-19 13:50] alex88K commented on #16358
still waiting for fix

[2018-07-19 17:33] LML013 commented on #16358
`const resultDisplayArray = arr.map(val=>{return `<li class="text-warning">${val}</li>`});`

Getting Invalid regular expression flags result.

[2018-07-19 18:22] nathanhannig commented on #17318
thanks for the feedback, I agree and will implement this way

[2018-07-19 18:30] Rapu786 opened #17901 "Small mistake in the instructions of Basic CSS: Use CSS Variables to change several elements at once"
#### Describe your problem and - if possible - how to reproduce it
----penguin-skin has been mentioned in places where --penguin-belly & --penguin-beak should present.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/basic-css/use-css-variables-to-change-several-elements-at-once
![error](https://user-images.githubusercontent.com/17670191/42962711-d

[2018-07-19 19:18] lebergamota commented on #14784
I have the same problem

[2018-07-19 19:20] mahmoud-coo6 commented on #12699
here trick for Sass: Use @for to Create a Sass Loop :
there is no second chance because there is bug in this challenge for sure..

<style type='text/sass'>

  @for $j from 1 through 5 {
  .text-#{$j} { font-size: 10px* $j; }
}

</style>

<p class="text-1" style="font-size:10px;">Hello</p>
<p class="text-2" style="font-size:20px;">Hello</p>
<p class="text-3" style="font-size:30px;">Hello</p>
<p cla

[2018-07-19 19:33] seely1991 commented on #16358
const resultDisplayArray = arr.map(x => `<li class="text-warning">${x}</li>`);

const resultDisplayArray = [ `<li class="text-warning">${arr[0]}</li>`, `<li class="text-warning">${arr[1]}</li>`, `<li class="text-warning">${arr[2]}</li>` ];

both don't work for me, I thought it was my code, but it seems like something is broken

[2018-07-19 20:02] QuincyLarson commented on #17899
Hi Utsab,

This is a cool feature idea. The settings view is the right place to put this.

We would want this to be a separate area of the settings page - that space is just for editing/previewing the bio and I think most people would miss that if we put it there.

It could be a section with the heading "Join a class" where they can enter a classroom code and it would say something like "You're no

[2018-07-19 20:03] QuincyLarson commented on #17899
This will involve updating our open API so I'm @-mentioning @ojongerius and @raisedadead here.

[2018-07-19 20:55] Unillu commented on #16629
I thought I was going crazy. I cannot pass this challenge even with the correct answer either.

[2018-07-19 22:32] chantelbok commented on #12687
I had this same problem and at 100% zoom in Chrome it did not work. I then went and checked in my display settings on my desktop and saw that I had custom scaling applied to text displays which I then turned off. Afterwards at 100% zoom it worked.

[2018-07-19 22:52] AT1452 commented on #17817
@QuincyLarson Any way I could take up this issue?

[2018-07-20 01:16] nathanhannig commented on #17884
You mentioned submitting a pull request. I do not see any in my search. Can you please post a link to it?

[2018-07-20 01:24] nathanhannig commented on #17884
I see that this is an issue with an existing open pull request on the boilerplate itself.
https://github.com/freeCodeCamp/boilerplate-project-issuetracker/pull/1

I think an admin should be made aware that the boilerplates are sitting with open PR that should be reviewed and see how this should be handled.

[2018-07-20 02:41] HaleyJ1387 commented on #17894
I tried the ?run=disabled and it still isnt working :( I can't complete the 300 hours without this section

[2018-07-20 03:41] lieberscott commented on #17884
Yes, I'm not sure why but seems my pull request didn't get submitted (I'm still a bit new to Github) but the pull request you linked to seems to make the same correction anyway.

[2018-07-20 06:04] tingxuanz opened #17904 "Typo in MongoDB and Mongoose - Delete Many Documents with model.remove()"
#### Describe your problem and - if possible - how to reproduce it
There is a typo in the first paragraph of 'MongoDB and Mongoose - Delete Many Documents with model.remove()' challenge page.  In the last sentence 'Pass to it a query ducument ...', 'ducument' should be 'document'.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/apis-and-microservices/mongodb-and-mongoo

[2018-07-20 06:11] nathanhannig commented on #17884
It looked like you submitted a PR to your own project, but never to the fCC codebase.

But fCC codebase takes a bit of set up. If you ever want to help here are the steps https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/CONTRIBUTING.md

[2018-07-20 06:13] tingxuanz opened #17905 "Typo in MongoDB and Mongoose - Perform New Updates on a Document Using model.findOneAndUpdate()"
#### Describe your problem and - if possible - how to reproduce it
There is a typo in the Hint paragraph. The second sentence 'o do that you need to pass ...'

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/apis-and-microservices/mongodb-and-mongoose/perform-new-updates-on-a-document-using-model-findoneandupdate

#### Tell us about your browser and operating system

*

[2018-07-20 06:14] nathanhannig commented on #17799
Yes, you do not need permission. Feel free to take it.

[2018-07-20 08:16] siviuki commented on #17854
bro same problem

[2018-07-20 09:23] Doug22 opened #17906 "Bad English"
First paragraph - needs a "to" inserted between "displayed '**_to_**' the end user." Full paragraph below.

Commenting is a way that you can leave comments for other developers within your code without affecting the resulting output that is displayed the end user.

https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/uncomment-html/

Is it a nitpick - sure. Do you have to chan

[2018-07-20 10:15] #17596 closed

[2018-07-20 10:40] #17880 closed

[2018-07-20 11:38] Waseemarif commented on #10485
It's not working
var myStr = "FirstLine\n\\SecondLine\\\n\t\rThirdLine";

[2018-07-20 11:39] Waseemarif commented on #10485
It's not working
var myStr = "FirstLine\n\SecondLine\\n\t\rThirdLine";
same Error: There should be a newline character between SecondLine and ThirdLine

[2018-07-20 12:57] renojvarghese commented on #17905
I can take this one

[2018-07-20 13:44] fgspechti opened #17907 "Uploaded wrong project as solution - accepted"
I hope I haven't overseen if there is already an issue reported. I started the challenge for Responsive Web Design and was working on the projects for this. After uploading the second project (the Survey Form) I could see that it wasn't accepted. So I refreshed the Curriculum page and could see that it was accepted - for the Product Landing page. It doesn't meet the specifications for that. Unfort

[2018-07-20 15:41] MaXFalstein commented on #17873
All of the links appearing to have caused errors a no longer in the code for this task.
I get zero console errors in Ghost Browser 2.1.0.2 on macOS 10.13.6.

[2018-07-20 15:47] MaXFalstein opened #17908 "Add date functions to core JS to allow current year to be added to footers in lesson code"
# Feature Request

[code]

Enabling ```<footer>&copy;2016 FCC Kitchen</footer>``` to become ```<footer>&copy;2018 FCC Kitchen</footer>```

[2018-07-20 16:14] joker314 commented on #17873
In which case, could @ghost try -- as well as determining the cryptographic algorithm those links are using -- press `Shift + Reload`?

[2018-07-20 16:35] nathanhannig commented on #17907
We will have to check the issue you mentioned occurring from the Challenge page.

**To fix:**
On the Settings page, the website requires a valid URL for these fields once you have changed them.

In order to remove the URL for Product Landing page, you will have to specify another URL since a "blank value" will not be saved.

I recommend leaving the value and just update it with the correct URL onc

[2018-07-20 16:37] nathanhannig commented on #17906
you are correct, thanks for bringing it to our attention.

[2018-07-20 16:42] nathanhannig commented on #17908
Hello, can you provide a link to a page you are speaking about? Thank you.

[2018-07-20 17:16] im-ironclad commented on #17901
I'm going to take a crack at this. Will update when I've been either successful or unsuccessful. This is my first contribution 🤘🏻.

[2018-07-20 18:50] MaXFalstein commented on #17908
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/adjust-the-color-of-various-elements-to-complementary-colors/

[2018-07-20 19:14] Tirjasdyn commented on #17734
it also passes with the following:

if ('Alan' in users) {
return true;
} else {
  return false;
}

Since all tests contains Alan it always passes if all you check for is Alan.

[2018-07-20 19:15] Nirajn2311 commented on #17268
@JBallin what’s the status

[2018-07-20 19:34] baisho commented on #16358
Tried to solve it today, but it still doesn't work.

[2018-07-20 19:50] #17888 closed

[2018-07-20 19:57] im-ironclad commented on #17897
This is the same as Issue #17901 (yours came first) but i'm taking a peek at it.

[2018-07-20 20:48] JBallin commented on #17268
@Nirajn2311 haven't had a chance to finish but I have this started. Will attempt to submit a PR this weekend.

[2018-07-20 21:48] nathanhannig commented on #17382
Are you still having issues?

- Setup freeCodeCamp repo
- Setup learn repo (optional)
- Created Auth0 account
- Create an application for fCC on Auth0 with required callback URL
- Copied required info to .env file
- Start/Restart freeCodeCamp repo
- I am able to authenticate locally

[2018-07-20 22:08] #17785 closed

[2018-07-21 00:34] nlakritz opened #17909 "Semicolon after inline style declarations is not consistent"
1.) Here, it is suggested to follow the semicolon convention for inline style declarations (see below): https://learn.freecodecamp.org/responsive-web-design/basic-css/change-the-color-of-text

```<h2 style="color: blue;">CatPhotoApp</h2>```
Note that it is a good practice to end inline style declarations with a ; .

2.) However, it is not maintained here (see below): https://learn.freecodecamp.org

[2018-07-21 02:20] im-ironclad commented on #17908
Hey MaX,

The code isn't generated quite the way you think it is, what you see is actually from json which functions aren't possible. However we agree that it is outdated and will work on changing that particular instance and related instances throughout the curriculum.

[2018-07-21 03:08] ByronCoder commented on #17909
Hello,

I am new to Github and contributing to Open source! I am confused on the different repos for freeCodeCamp. I have this repo (freeCodeCamp) and the curriculum repo.  I see the curriculum files are in the curriculum repo but this repo no longer has the seed files that the contributing doc says is where to edit challenges,  so I am trying to figure out where this change needs to be made. I ma

[2018-07-21 04:01] shimphillip opened #17910 "Create a Stack Class: None of the tests are working"
#### Describe your problem and - if possible - how to reproduce it
The tests don't pass unless I modify the code that the instruction tells you not to.
I had to actually declare 'let' keyword for variable 'collection' in order to proceed with the challenge and pass the tests.

This is the first line inside the function.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/c

[2018-07-21 04:10] shimphillip commented on #17910
I would like to create a pull request for this. Let me work on it! It's my first time in doing so.

[2018-07-21 04:30] shimphillip opened #17911 "Rendered html tags that are meant to be viewed plain html tags"
#### Describe your problem and - if possible - how to reproduce it
The instruction actually renders html tags that are meant to be viewed plainly as html tags.

<frame> and <iframe> are both being rendered causing a weird view. Also it doesn’t include full instructions like it does in a glitch template that is being provided for this curriculum.

#### Add a Link to the page with the problem
https:

[2018-07-21 04:30] shimphillip commented on #17911
Let me try creating a PR for this.

[2018-07-21 04:47] nathanhannig commented on #17910
Makes sense, I think you should go ahead

[2018-07-21 04:50] nathanhannig commented on #17911
Wow, that looks horrible, not sure how no one else noticed this. You must be one of the first people to get through this part. My screen doesn't even show the solution input or test section.

[2018-07-21 04:56] nathanhannig commented on #17909
It looks like the PR was submitted to fix the issue. But you are correct Byron that the change would be in Curriculum repo. I am actually not sure what seed is for at the moment.

FCC is undergoing heavy changes to split the codebase into separate parts to increase maintainability.

For faster help I recommend you join the Gitter chatroom for FCC  :)

[2018-07-21 05:37] bvipul commented on #17382
Okay, I will try. Thanks

[2018-07-21 11:33] thembones79 commented on #16358
I've tried it also with escape marks:

but it is still "Invalid regular expression flags"

[2018-07-21 14:40] SoyketHM commented on #14550
My Solution Is

return title.toLowerCase().split(/\s/).filter(x => x !== "").join("-");

[2018-07-21 15:41] procode200 commented on #17911
Hi @shimphillip. Just to let everyone know, this issue is also on the FCC Forum:
https://forum.freecodecamp.org/t/information-security-with-helmetjs-mitigate-the-risk-of-clickjacking-with-helmet-frameguard/

Users can discuss this there as well.

[2018-07-21 16:14] omendez30 commented on #16358
I too have tried to solve it, but continue to get the same "Invalid regular expression flags" as an output. 2 out of the three test are being passed but I continue to get the message.

const resultDisplayArray = arr.map(val =>`<li class="text-warning">${val}</li>`);

I also used a simple for loop and get the same result

[2018-07-21 22:30] QuincyLarson commented on #17817
@AT1452 @apurva5297 @jeffersonnnn  Yes - we would welcome your help with it. Could one of you dive in and tackle it, then open a pull request?

[2018-07-21 23:21] lieberscott commented on #17884
Cool, thanks!

[2018-07-22 02:44] OMahonyD commented on #15739
Hi @QuincyLarson, I've recently been reactivated in the coding world & have some experience with aria roles etc. Let me know if I can help with #a11y (accessibility) issues. Dan

[2018-07-22 03:06] amcmullan opened #17912 "ES6: Use Destructuring Assignment to Pass an Object as a Function's Parameters"
#### Describe your problem and - if possible - how to reproduce it
I think the examples could be more descriptive of what is actually required. Both code examples involve variables which have totally different syntax from passing destructured objects to a function. And thus, at least in my case, only add confusion.

I'm not suggesting excessive hand holding, but for challenges that specifically in

[2018-07-22 04:32] nathanhannig commented on #17284
this may run into reconciliation conflicts with my PR at https://github.com/freeCodeCamp/freeCodeCamp/pull/17903

I see the following challenges with this currently.
These are React components that are not hardcoded. A mapping of the challenges and their respective links might need to be implemented.
Legacy challenges will need to refer to their respective Modern challenge link.
An existing mappin

[2018-07-22 04:57] nathanhannig commented on #17906
this is a duplicate report
#17900
#17904

[2018-07-22 05:19] nathanhannig commented on #17912
I agree, specifically...

- the example shows an arrow function while the code is set up with an anonymous function which I think can be confusing to beginners.
- the example doesn't show the contents of profileData and leaves it up to the user to imagine the contents originally contained at least: name, age, nationality, location. While the code helps show the contents of the stats object.

I als

[2018-07-22 08:14] samah20 commented on #6551
<h2>CatPhotoApp</h2>
<main>
  <p>View more cat photos
    <a src="https://bit.ly/fcc-relaxing-cat">cat photos</a>
    </p>
  <a href="http://freecatphotoapp.com" target="_blank">cat photos</a>

  <img src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back.">

  <p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, ha

[2018-07-22 08:59] thobhanifreddy commented on #17799
I tried solving it but it is not passing all checks! can anyone help me it?

[2018-07-22 10:08] sdabhi23 commented on #17799
@thobhanifreddy from the output of tests it looks like your commit message does not follow the given guidelines

[2018-07-22 11:44] dikiaap commented on #12699
You may add your style attribute to div tag. This works for me.

[code]

![screenshot from 2018-07-22 18-38-20](https://user-images.githubusercontent.com/8542502/43045238-39a93126-8ddf-11e8-8c7e-6fd6b78d4a13.png)

[2018-07-22 12:54] carlawarde opened #17913 "Basic JavaScript: Understanding Uninitialized Variables"
#### Describe your problem and - if possible - how to reproduce it
The challenge works fine, it's just that there's some errors in the text.

Is the values you are required to initialise, but the challenge markers say something different:

b should be defined and evaluated to have the value of 15
c should not contain undefined and should have a value of "I am a String!"

#### Add a Link to the pag

[2018-07-22 12:56] #17913 closed

[2018-07-22 12:59] carlawarde commented on #17913
I had searched for a similar issue to mine before posting this issue, but I just didn't use the correct search criteria, I guess. Tried something else after I posted the issue and then found it, lol

The older issue has still not been resolved, however.

[2018-07-22 13:01] dikiaap commented on #12699
@mahmoud-coo6 Does your method work on [Apply a Style Until a Condition is Met with @while](https://learn.freecodecamp.org/front-end-libraries/sass/apply-a-style-until-a-condition-is-met-with-while/)?
I have a warning here: `Your .text-1 class should have a font-size of 5px.`
I'm pretty sure the font-size is 5px.

[2018-07-22 19:58] philFernandez commented on #17799
I've added target="_blank" to all of the glitch links. Doing PR now.

[2018-07-22 20:55] DenizDI7 commented on #13926
How the fuck am i supposed to type it then. This is my code and ive done the right things im supposed to do, but it still says im wrong?????????????????????????????????????

<style>
  div {
    height: 40px;
    width: 70%;
    background: black;
    margin: 50px auto;
    border-radius: 5px;
    position: relative;
  }

#rect {
  animation-name: rainbow;
  animation-duration: 4s;
}

@keyframes ra

[2018-07-22 21:22] HadrienAllemon opened #17914 "(Typo) variable names in the objectives and in the code editor differ."
#### Describe your problem and - if possible - how to reproduce it
In the challenge "Debugging: Understanding the Differences between the freeCodeCamp and Browser Console" the objective asks the user to `Use console.log() to print the outputTwice variable` whereas in the content, the user has access to two prewritten variables:  `outputOne` and `outputTwo`, no variable `outputTwice` exists.

####

[2018-07-22 21:23] HadrienAllemon commented on #17914
I'd like to give it a go.

[2018-07-22 21:43] ojongerius opened #17915 "No link to "about" page"
Hey team

https://www.freecodecamp.org does not have a link to the "about" page, which is at https://about.freecodecamp.org . I would expect it to live at the bottom of the page.

/cc @QuincyLarson

[2018-07-22 22:24] therealmuffinman opened #17916 "New Design....(Sigh)"
Let me start off by saying that I have learned a lot of good things at freeCodeCamp and my learning experience has always been enjoyable, until I logged in recently and noticed a couple of things.

So I'm not sure why the admins chose to redesign the website, (since it worked perfectly fine before). Having a new color scheme or layout on a website doesn't normally bother me, but the new design is

[2018-07-22 23:09] BrNaka commented on #16354
@badarshahzad posted the solution. Add a space after the variable 'bar'.

Do not work:
`export const foo = "bar";`
`export const bar= "foo";`

Works:
`export const foo = "bar";`
`export const bar = "foo";`

[2018-07-23 01:05] philFernandez commented on #17799
@sdabhi23 sorry, I just realized that you've already opened a good PR for this issue. I'm new at this.

[2018-07-23 02:16] Dsturge777 commented on #17756
I thought it was just me

[2018-07-23 05:00] tensigh commented on #17394
They still haven't fixed it.

[2018-07-23 05:02] tensigh commented on #17391
Someone needs to fix this; I kept working on this until I found a post that reported the error.

[2018-07-23 08:56] fantome149 commented on #17835
@jooji-san Kindly Close this issue as the error has been patched.

[2018-07-23 10:44] Eidan78 opened #17918 "PERSONAL PORTOFOLIO PAGE CHALLENGE - UNITY TEST LINK NOT WORKING"
Page:
https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage

The CDN link listed in the page challenge for the tests is not working:
https://gitcdn.link/repo/freeCodeCamp/testable-projects-fcc/master/build/bundle.js

I found out this link is working fine insthead:
https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js

* Bro

[2018-07-23 10:46] LogicBlows commented on #5583
"This is the start."+" "+ "This is the end.";

[2018-07-23 13:39] Nirajn2311 commented on #17918
On it.

[2018-07-23 13:51] Nirajn2311 commented on #17918
This issue has been fixed in [curriculum/#138](
https://github.com/freeCodeCamp/curriculum/pull/138) but the website has still not yet been updated to the recent version, so some errors are still there like this one and the penguin css typos etc.

[2018-07-23 14:32] miracle2542 commented on #14882
Dude, you have left out the curly braces for the last else statement; Your curly braces did not match.

[2018-07-23 15:35] CoderKlemen commented on #17896
I have the same problem, these challenges are not passing tests with correct solution. Tried both in Firefox and Chromium.

My setup:
Debian 9.5 ( 32bit )

Firefox ( version 52.9.0 (32-bit) )
Chromium ( version 67.0.3396.87 )

[2018-07-23 16:54] shvmsaini opened #17919 "FCC: Survey Page"
Hi,
I want you to know that there is a CSS selector in the FCC:Survey Page ( https://codepen.io/freeCodeCamp/full/VPaoNP ) that is #userAge , that is useless since there is no id with value userAge .
Thank you.

[2018-07-23 17:16] AlessioMaddaluno commented on #16358
Still not fixed! 😢

[2018-07-23 19:51] profoundhub commented on #17890
Still no solution, anyone else having this problem?

[2018-07-24 00:08] Johnny2136 commented on #17788
Still buggy... My solution, (though I tried the looping solution and some listed above)
**No luck**
[code]
yeilds:
[code]
I hate leaving assignments undone, does anyone have a workaround? 🐞

[2018-07-24 08:34] hnryjmes commented on #16358
I've now completed the rest of the JavaScript course, so this is the only thing preventing me from getting a certificate. If anyone could suggest a way to get the checks to work, so I can claim my certificate, I would really appreciate it!

[2018-07-24 09:05] #17909 closed

[2018-07-24 09:10] StepanBohdan commented on #10485
RESOLVE
var myStr = 'FirstLine\n\t\\SecondLine\nThirdLine';
'FirstLine\newline\tab\backslashSecondLine\newlineThirdLine'

[2018-07-24 09:43] salva73 commented on #17788
Same here

[2018-07-24 12:07] mrvkv commented on #17788
Still getting the same error while my code is right. Kindly fix the bug.

[2018-07-24 13:16] raisedadead commented on #17916
Hi @therealmuffinman

Thanks for the issue report and the feedback. We appreciate the gesture, however, please note that we have a [Forum](https://forum.freecodecamp.com) where you are more than free to discuss this. Some of your queries have already been answered by the community there.

This issue tracker is for reporting core development and technical discussions only. Also, we would like to po

[2018-07-24 13:16] #17916 closed

[2018-07-24 13:18] raisedadead commented on #17915
I have been long thinking about having a footer on all pages that link to all our services. But @QuincyLarson you will have to sign off on this first.

[2018-07-24 13:43] #17817 closed

[2018-07-24 14:43] coolcourd commented on #16358
yeah i have written it like 4 ways and it doesnt work. its busted. just skip it and move on

[2018-07-24 15:37] Cr0s4k commented on #16358
Still not working..

[2018-07-24 15:40] jahmzu opened #17920 "Previously able to Log into FCC - now unable to log in."
#### Describe your problem and - if possible - how to reproduce it
Before the most recent FCC update, I was able to log into Free Code Camp just fine. However, now, when I try to log in, by clicking on any of the 4 choices (continue with google, facebook, github, email), nothing happens. I open the Developers tools when I am on the login page, and notice the three issues:
1. Failed to load resourc

[2018-07-24 18:16] #17835 closed

[2018-07-24 20:39] blazk0 commented on #17788
this was driving me mad even tho my solution was correct
i even copied one of solutions and still no hope lol

[2018-07-24 20:42] lalov1 commented on #17299
I think it is showing from when I first started and doesn't have anything recent:
https://www.freecodecamp.org/lalov1

[2018-07-24 20:43] lalov1 commented on #17743
@d4mer Is your profile locked down? I can't view it.

[2018-07-24 20:48] LogicBlows commented on #11460
function myOutfit() {
  // Only change code below this line

  var outerWear = "sweater";  //outWear not outwear;

  // Only change code above this line
  return outerWear;
}

[2018-07-25 01:54] Nirajn2311 commented on #17905
@renojvarghese @tingxuanz this issue was fixed in [curriculum/#121](
https://github.com/freeCodeCamp/curriculum/pull/121), but it has not yet been shown up in the website as learn repo has to be updated to the recent version of curriculum repo.

[2018-07-25 01:55] Nirajn2311 commented on #17906
@Doug22 can you close this issue as it has been solved.

[2018-07-25 01:57] ArielLeslie commented on #17882
There are also no tests for the second part of third rule: "A two-letter username can only use alphabet letter characters."

[2018-07-25 02:08] scissorsneedfoodtoo commented on #17906
@Doug22, thank you for reporting this. This was recently fixed by @Nirajn2311, so I'll close this issue.

@nathanhannig, thanks for pointing out the duplicate issue. Will close that now.

[2018-07-25 02:08] #17906 closed

[2018-07-25 02:10] scissorsneedfoodtoo commented on #17900
@manankalra, thank you for pointing this out. This was recently fixed in https://github.com/freeCodeCamp/curriculum/pull/163, so I'll close this issue.

[2018-07-25 02:10] #17900 closed

[2018-07-25 06:17] adiabatic opened #17921 "[Feature request] Disable ligatures for code in the instructions panel"
#### Describe your problem and - if possible - how to reproduce it

Ligatures for character sequences like "fi" and "ffl" look weird and distracting when they show up in monospaced text (see screenshots).

#### Add a Link to the page with the problem

https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/write-higher-order-arrow-functions/ displays fi-ligatures in the instru

[2018-07-25 09:33] csuszka commented on #17822
Same issue (using Chrome ver. 63.0.3239.132)

[2018-07-25 09:45] #17914 closed

[2018-07-25 10:16] NiteshTyagi opened #17922 "Saas:Use @each to Map Over Items in a List"
#### Describe your problem and - if possible - how to reproduce it
My code to the corresponding given problem statement is correct but it doesn't pass the test cases.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/front-end-libraries/sass/use-each-to-map-over-items-in-a-list

#### Tell us about your browser and operating system

* Browser Name: Google Chrome
* Browser

[2018-07-25 11:31] dianadonisa commented on #17743
Describe your problem and - if possible - how to reproduce it
On my public profile, the longest streak calendar is from 2016 and not the current month/year.

Add a Link to the page with the problem
https://www.freecodecamp.org/diamaria

Tell us about your browser and operating system
Browser Name: Chrome
Browser Version:
Operating System: Windows 10

If possible, add a screenshot here

![image](ht

[2018-07-25 12:04] d4mer commented on #17743
It should be public. But Ill check it and correct if necessary

Sent from Edu's iPhone

[2018-07-25 12:52] d4mer commented on #17743
It is now public

Sent from Edu's iPhone

[2018-07-25 15:07] juandesouza opened #17923 "js bundle file does not exist"
On the Tribute page, the first Responsive Web Design project, is given the address of a CDN that we should use in order to test the project. The address of the CDN is: https://gitcdn.link/repo/freeCodeCamp/testable-projects-fcc/master/build/bundle.js
Two problems here. First, it is not informed how to implement the CDN in the project. Second, the bundle.js file does not exist, so it will never wor

[2018-07-25 15:08] ninadingole commented on #17901
@im-ironclad I will get this fixed if that's ok ?

[2018-07-25 15:13] im-ironclad commented on #17901
@ninadingole You can look into it, i've forgotten to make a note but I think in the source code that I was looking at it seemed to be fixed and possibly just not pushed live yet. Feel free to take over though!

[2018-07-25 15:43] moT01 opened #17924 "UX: Challenge code editor prompts get cut off"
In the code editor part of the challenges - the prompt/predictive text, whatever you want to call it, gets cut off

![screen shot 2018-07-25 at 10 39 09 am](https://user-images.githubusercontent.com/20648924/43211523-492738e0-8ff7-11e8-8c87-074aa4d0b9c0.png)

* Browser Name: firefox
* Browser Version: 60.0.1
* Operating System: high sierra

[2018-07-25 15:46] moT01 opened #17925 "Challenge console doesn't escape single quotes"
The single quote in the picture turns the rest of the text to red

![screen shot 2018-07-25 at 10 43 29 am](https://user-images.githubusercontent.com/20648924/43211724-d3e99a2c-8ff7-11e8-8283-65911fd298de.png)

* Browser Name: firefox
* Browser Version: 60.0.1
* Operating System: high sierra

[2018-07-25 16:08] procode200 commented on #17920
Try updating chrome.

[2018-07-25 17:13] ninadingole commented on #17901
@im-ironclad Thanks! I will work on this.

[2018-07-25 17:22] PolarisTLX opened #17927 "code / solutions to a challenge don't save / are erased"
#### Describe your problem and - if possible - how to reproduce it
After completing a challenge, your code / solution gets erased when you come back to the page later.  Even if you don't click "Reset All Code".

This prevents these challenges from bring a good resource to go back to.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/front-end-libraries/react/write-a-simp

[2018-07-25 17:57] Nirajn2311 commented on #17925
@moT01 which challenge?

[2018-07-25 18:00] Nirajn2311 commented on #17923
The issue for your second question occurs as the learn website is not yet updated to use the current version of curriculum, so the issue is fixed but it is not yet implemented.

[2018-07-25 18:02] Nirajn2311 commented on #17922
There has been a lot of problems regarding sass challenges here and we are working quickly to resolve the issues.

[2018-07-25 18:19] SubhrajyotiSen commented on #17923
The CDN link issue has been fixed in https://github.com/freeCodeCamp/curriculum/commit/a311e06e4e98818b0a8cef6429b2d5e49fbe5fbe

It just needs to go live on the website.

[2018-07-25 19:00] moT01 commented on #17925
https://learn.freecodecamp.org/front-end-libraries/redux/send-action-data-to-the-store/

[2018-07-25 20:49] CounterWiseClock opened #17928 "Basic JavaScript Instruction and Example Expect Wrong Value"
#### Describe your problem and - if possible - how to reproduce it
Basic JavaScript: Assignment with a Returned Value says that the "processed" value should be 2. Given the instructions, I believe it should be 10. A similar issue exists for the example code.

If instructions are followed correctly, it still runs appropriately and the user can continue . However, the supposed expected results can l

[2018-07-25 23:01] ByronCoder commented on #17928
I think it should be 2 because you are passing 7 into the processArg function that returns (num +3) / 5. When you pass 7 it would be (7 + 3) / 5  = 10 / 5 = 2.  processArg returns 2 therefore assigning the function to the processed variable will set it's value to 2.

[2018-07-25 23:08] flyfishingbarbara commented on #17756
it's still an issue - same prob. w the challenges list above.
troubleshoot with randall to NO AVAIL.
brower - chrome, tried clearing cache, reseting code, different spacing, look at chrome console - it's saying syntaxerror with first opening caret of style tag.
im moving on but would like to show for it that i have the correct answers in the curriculum.
please fix,
thanks for fixing

[2018-07-25 23:44] flyfishingbarbara commented on #12699
i had add background style to the div tags..... to get these bugged sass challenges to pass their test....!!
[code]

[2018-07-26 01:38] CounterWiseClock commented on #17928
Shoot, I mistook the single slash for a double slash. Didn't realize it was dividing. sorry for the mistake!

[2018-07-26 01:38] #17928 closed

[2018-07-26 02:21] mav1283 commented on #17756
@flyfishingbarbara  Good thing is you can still continue and get your certificate once you're done with the challenges, try following freecodecamp on twitter and dm them :)

[2018-07-26 02:46] Walter-lele commented on #17911
that's a good question

[2018-07-26 03:20] roshad opened #17929 "does not accept right answer"
Challenge page: https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sum-all-odd-fibonacci-numbers/

[code]
My function produces right numbers, but not accepted. It is of very low efficiency though.

[2018-07-26 04:54] HadrienAllemon commented on #17929
That's really weird, When I log this function with the mozzila developer console and fed it the argument 4000000 it returns the right awnser but in the freecodecamp console, any number above 1346269 fed to this function will return 2435423. Maybe it is because of the security over infinite loops ?

[2018-07-26 05:06] HadrienAllemon commented on #17929
I confirm, the editor will not go over 23,325,688 loops it is likely that it's an auto system to prevent stack overflows. Maybe an automatic message should be logged when the user exceeds the maximum number of loop in a challenge ?

[2018-07-26 06:07] #17929 closed

[2018-07-26 10:02] Lakshmiprasannaap commented on #14814
Hello,can anyone help me here!!!!!!
<style>
  div {
    height: 40px;
    width: 70%;
    background: black;
    margin: 50px auto;
    border-radius: 5px;
    position: relative;
    left: 0px;
  }

#rect {
  animation-name: rainbow;
  animation-duration: 4s;
}

@keyframes rainbow {
  0% {
    background-color: blue;
    top: 0px;
    left: 0px;
  }

  50% {
    background-color: green;
    top:

[2018-07-26 12:17] renojvarghese commented on #17905
Sounds good. @tingxuanz Could you close this issue?

[2018-07-26 13:08] SpikesDigital opened #17930 "Freeze the react lesson to run the code Needs to close the tab and restart but not solve"
#### Describe your problem and - if possible - how to reproduce it
Freeze the react lesson to run the code Needs to close the tab and restart but not solve

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/front-end-libraries/react/render-a-class-component-to-the-dom

#### Tell us about your browser and operating system

* Browser Name: Google Chrome
* Browser Version: V

[2018-07-26 13:22] bauerpm7 commented on #16358
Same problem;

``const resultDisplayArray = arr.map((a) => {
  return `<li class="text-warning">${a}</li>`
});``

returns the error "invalid regular expression flags"

[2018-07-26 14:48] #17581 closed

[2018-07-26 19:06] #17318 closed

[2018-07-26 19:40] nathanhannig opened #17931 "Settings page margins are overflowing causing horizontal scroll bar smaller screens"
#### Describe your problem and - if possible - how to reproduce it
Zoom or using smaller resolution causes the horizontal scroll bar to appear. Since the site uses a grid layout to accommodate smaller resolutions, a horizontal scrollbar should not appear.

The reason this is occurring is that the webpage is using more than 100% width.

This is because the .row class is not being offset on the row

[2018-07-26 20:01] nathanhannig commented on #17931
I will claim fix to issue

[2018-07-26 20:47] zeac084 commented on #7122
I am having a similar issue, can anyone help please?

[2018-07-26 21:29] nathanhannig commented on #17931
Issue located in `routes/Settings/Show.jsx` and `routes/Settings/Settings.jsx`

[2018-07-26 22:00] Chris6077 opened #17932 "Can't update URLs of projects after claiming certificate"
#### Describe your problem and - if possible - how to reproduce it

After claiming your certificate the "Save" button disappears. You can't update the links to moved websites without a save button. Therefore a few of the projects of my certification are unavailable on fcc. Please add a save button to certifications that are already 100% done.

#### Add a Link to the page with the problem

https://

[2018-07-27 00:49] #17905 closed

[2018-07-27 00:54] pickleat opened #17934 "Complementary Colors Test Incorrectly Implies Colors that are not Complementary"
#### Describe your problem and - if possible - how to reproduce it
It is a content issue.
The problem-set for this lesson implies that blue's complementary color is yellow, when blue's complement is ORANGE.
If we are teaching people about complementary colors, they should probably use the right complements. :) I'm sure it was just an accident, but I wanted to bring it to your attention.

#### Add

[2018-07-27 01:49] ByronCoder commented on #17934
Taking a crack at this. This will be my first contribution to this project.

[2018-07-27 02:08] ByronCoder commented on #17934
Submitted a PR. Not sure if I did this right. But, can someone take a look at this. https://github.com/freeCodeCamp/curriculum/pull/184  Its on the curriculum repo because that is where the json files are for the challenges. Thanks!

[2018-07-27 02:16] ByronCoder opened #17935 "Basic CSS: Attach a Fallback value to a CSS Variable (no typo in class name)"
#### Describe your problem and - if possible - how to reproduce it
Not sure if this is an issue, sorry if it isn't, but the instructions for this challenge seem to imply that there should be a typo in the variable as it says the style will be applied because of a typo in the variable name, but there are no typos so the style is not applied.  I know you can make the typo yourself to see the style a

[2018-07-27 02:20] nathanhannig commented on #17932
yep, the only temp workaround is if you didn't finish a legacy cert and you can update that value and save and it will also update the modern cert url. But not a perfect workaround.  Definitely, need it to allow you to save a new url after a cert is claimed.

[2018-07-27 04:42] Lakshmiprasannaap commented on #14814
It's not working for me??????
<style>
  div {
    height: 40px;
    width: 70%;
    background: black;
    margin: 50px auto;
    border-radius: 5px;
    position: relative;
    left: 0px;

  }

#rect {
  animation-name: rainbow;
  animation-duration: 4s;
}

@keyframes rainbow {
  0% {
    background-color: blue;
    left: 0px;
    top: 0px;

  }
  50% {
    background-color: green;
    left: 25px

[2018-07-27 08:38] johnkennedy9147 opened #17937 "HTTPS 301 redirects to invalid link"
#### Describe your problem and - if possible - how to reproduce it
if you try to connect to `https://freecodecamp.org` you are redirected to an invalid url `https://www.freecodecamp.org&request_uri/`

![image](https://user-images.githubusercontent.com/26827682/43310717-47f08d84-9180-11e8-90d1-64d7a7fd783f.png)

using http works fine

![image](https://user-images.githubusercontent.com/26827682/4331

[2018-07-27 08:40] johnkennedy9147 commented on #17937
@QuincyLarson @raisedadead @Bouncey
I think this needs urgent attention

[2018-07-27 09:49] Bouncey commented on #17937
Thanks @johnkennedy9147

[2018-07-27 09:51] Bouncey commented on #17937
Resolved in the back end, thanks for bring it to our attention @johnkennedy9147 :+1:

[2018-07-27 09:51] #17937 closed

[2018-07-27 11:18] Szlavicsek commented on #17788
problem still up, super annoying

[2018-07-27 11:48] Magvin commented on #16358
Confirm still not working.
Tried forEach, for loop,map..No idea what is going on with this challenge

[2018-07-27 12:17] mahmoud-coo6 commented on #12699
here the solution @flyfishingbarbara  : there some time not worked because there is bug in website
<style type='text/sass'>

  @each $color in blue,black, red {
  .#{$color}-bg { background-color: $color;}
}

  div {
    height: 200px;
    width: 200px;
  }
</style>

<div class="blue-bg"></div>
<div class="black-bg"></div>
<div class="red-bg"></div>
![35435](https://user-images.githubusercontent.c

[2018-07-27 13:01] moT01 commented on #17935
@SubhrajyotiSen  @ByronCoder I believe this is already fixed in the curriculum repo, and probably just not live yet https://github.com/freeCodeCamp/curriculum/commit/3abf7adce5d0ed67662b971335205aa521a5b275 @scissorsneedfoodtoo you fixed this issue right?

[2018-07-27 13:10] moT01 commented on #17901
this appears to be fixed in the curriculum repo and probably just not live yet - https://github.com/freeCodeCamp/curriculum/blob/dev/challenges/01-responsive-web-design/basic-css.json#L4555

[2018-07-27 13:15] #17897 closed

[2018-07-27 13:16] moT01 commented on #17901
Thank you for reporting this issue.

    This is a standard message notifying you that this issue is present in production, but it has been fixed in staging. Because of that, I’m closing this issue. When staging will be pushed to production again, your issue will be resolved.

    If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy cod

[2018-07-27 13:16] #17901 closed

[2018-07-27 13:16] moT01 commented on #17935
Thank you for reporting this issue.

    This is a standard message notifying you that this issue is present in production, but it has been fixed in staging. Because of that, I’m closing this issue. When staging will be pushed to production again, your issue will be resolved.

    If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy cod

[2018-07-27 13:16] #17935 closed

[2018-07-27 13:19] moT01 commented on #17391
Thank you for reporting this issue.

    This is a standard message notifying you that this issue is present in production, but it has been fixed in staging. Because of that, I’m closing this issue. When staging will be pushed to production again, your issue will be resolved.

    If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy cod

[2018-07-27 13:19] #17391 closed

[2018-07-27 13:23] moT01 commented on #17546
@johnkennedy9147 what did you have in mind for additional lessons? How about just a message in the first variable lesson that `CSS variables may not be supported in older browsers` or something

[2018-07-27 13:32] scissorsneedfoodtoo commented on #17935
@ByronCoder, thank you for reporting this.

@moT01, yes, this was fixed recently. It should be deployed soon!

[2018-07-27 13:34] moT01 commented on #17934
@ByronCoder the PR should have a link to this page where is says replace XXXXX with the issue number, somewhere in there anyway - then moderators know what issue it fixes and they can close it once the PR is merged

[2018-07-27 13:44] moT01 commented on #17806
Thank you for reporting this issue.

    It looks like this it has been fixed so I am closing this issue.

    If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-07-27 13:44] #17806 closed

[2018-07-27 13:48] moT01 commented on #17793
Thank you for reporting this issue.

    It looks like you figured this out so I am closing this issue.

    If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-07-27 13:48] #17793 closed

[2018-07-27 13:54] ByronCoder commented on #17934
Added the link to the PR

[2018-07-27 13:55] moT01 commented on #17727
@BenjaminJenney it is not supposed to bounce you around like that - has this problem continued or can anyone else confirm this?

[2018-07-27 13:56] moT01 commented on #17726
@NiteshTyagi were you able to get this to pass? Or have any idea what the problem is?

[2018-07-27 14:01] moT01 commented on #17660
@sidemt it looks like there is a setting to change your email now, have you been able to change it? If so, could you close this issue please.

[2018-07-27 14:05] moT01 commented on #17927
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue https://github.com/freeCodeCamp/freeCodeCamp/issues/17485, so I am closing it as a duplicate.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-07-27 14:05] #17927 closed

[2018-07-27 14:13] moT01 commented on #17431
Thank you for reporting this issue.

    It looks like the `Get a hint` button is back so I am closing this issue.

    If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-07-27 14:13] #17431 closed

[2018-07-27 14:14] moT01 commented on #17423
Thank you for reporting this issue.

    I am closing this issue as it seems to be fixed now.

    If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-07-27 14:14] #17423 closed

[2018-07-27 14:32] moT01 commented on #17424
@michaelbecker I see seemingly correct dates for my legacy front-end and back-end certs, but the legacy data visualization is showing today's date.
@QuincyLarson any thoughts on removing the "legacy" label - they do make a good point, although there would be two certs with the same name (data visualization) - which could be confusing or cause problems.

[2018-07-27 14:37] moT01 commented on #17361
Thank you for reporting this issue.

    This appears to be fixed so I am closing this issue.

    If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-07-27 14:37] #17361 closed

[2018-07-27 14:47] llllllllly opened #17938 "Responsive Web Design Principles: Create a Media Query that cannot be passed"
#### Describe your problem and - if possible - how to reproduce it

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Version: 67.0.3396.99
* Operating System: MacOS High Sierra

#### If possible, add a screenshot here
Responsive Web Design Principles: Create a Media Query that cannot be passed
![image](https://i.lo

[2018-07-27 15:25] #17938 closed

[2018-07-27 15:33] moT01 commented on #17932
what about going to the project page with the description and resubmitting a new a solution as a temporary workaround - that might work

[2018-07-27 15:40] moT01 commented on #17938
@llllllllly It helps to add a short description and a link to the page with the problem - I was unable to reproduce this in firefox or chrome

[2018-07-27 15:46] moT01 commented on #17918
Thank you for reporting this issue.

    This is a standard message notifying you that this issue is present in production, but it has been fixed in staging. Because of that, I’m closing this issue. When staging will be pushed to production again, your issue will be resolved.

    If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy cod

[2018-07-27 15:46] #17918 closed

[2018-07-27 16:16] jooji-san commented on #17487
That will be beneficial, too, but I think it's different from my proposal.

[2018-07-27 16:23] moT01 commented on #17891
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #17788, so I am closing it as a duplicate.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-07-27 16:23] #17891 closed

[2018-07-27 16:35] moT01 commented on #17894
@HaleyJ1387 these challenges are passable - sometimes trying to run tests without the correct code can cause issues - if you share your code someone might be able to figure out what the problem is.

[2018-07-27 16:44] moT01 commented on #17877
I went through the regex not having much experience with it - I thought it was nice to have separate challenges for each of them - they are very similar but not redundant in my opinion.

[2018-07-27 16:49] #17877 closed

[2018-07-27 16:58] moT01 commented on #17869
@utsab good idea - dont forget the completed date in there

[2018-07-27 17:04] moT01 commented on #17843
@dada5000 What's wrong with them?

[2018-07-27 17:05] moT01 commented on #17859
@RenaudGagne did your progress come back? Or is it still missing?

[2018-07-27 17:08] moT01 commented on #17849
Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #14903, so I am closing it as a duplicate.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-07-27 17:08] #17849 closed

[2018-07-27 17:20] moT01 commented on #17753
this is the file with the typo - https://github.com/freeCodeCamp/curriculum/blob/dev/challenges/05-apis-and-microservices/managing-packages-with-npm.json#L10

[2018-07-27 17:33] moT01 commented on #17716
Thank you for reporting this issue.

This issue appears to be fixed.

If you think I’m wrong in closing this issue, please reopen it and add further clarification. Thank you, and happy coding.

[2018-07-27 17:33] #17716 closed

[2018-07-27 17:38] HaleyJ1387 commented on #17894
Its not my code. I open the challenge and the whole page freezes before i
can do anything

On Fri, Jul 27, 2018, 9:38 AM Tom <notifications@github.com> wrote:

[2018-07-27 18:53] ravikishorethella commented on #17753
@moT01 @zeuslawyer Can I work on this one?

[2018-07-27 18:58] moT01 commented on #17753
@ravikishorethella yes

[2018-07-27 19:06] moT01 commented on #17894
have you tried another browser?

[2018-07-27 19:17] BenjaminJenney commented on #17727
Hi, op here, it hasn’t happened to me again and   It’s possible I may have
messed up on my end.

On Fri, Jul 27, 2018 at 9:58 AM Tom <notifications@github.com> wrote:

[2018-07-27 19:55] ravikishorethella commented on #17753
@moT01 The typo is already fixed in the cloned repo. What exactly should I do?

[2018-07-27 20:05] moT01 commented on #17753
I dont see it being fixed - when you run learn locally does it still show the typo? ...it's where it says `<head>-section` this in the description, the `<` and `>` probly need to be escaped - try `\<head\>`

[2018-07-27 20:14] HaleyJ1387 commented on #17894
I just cleared all the cache and cookies in chrome so I'll see if that
works, if not then I'll try a new browser😁

On Fri, Jul 27, 2018, 12:09 PM Tom <notifications@github.com> wrote:

[2018-07-27 20:17] ravikishorethella commented on #17753
Okay. Thank you @moT01

[2018-07-27 20:42] zohaib9613 commented on #14500
I have same problem with this challenge.

[2018-07-27 21:00] ayerik commented on #17849
________________________________
From: Tom <notifications@github.com>
Sent: Friday, July 27, 2018 2:09:35 PM
To: freeCodeCamp/freeCodeCamp
Cc: Subscribed
Subject: Re: [freeCodeCamp/freeCodeCamp] no Higher Order Functions exercise (#17849)

Thank you for reporting this issue.

This is a standard message notifying you that this issue appears to be very similar to issue #14903<https://eur03.safelinks

[2018-07-27 21:55] KBPsystem777 commented on #17545
I run to this same error just now. Accidentally, I entered `this.reset = this.decrement.bind(this)` which is wrong but it passed the test.

[2018-07-27 23:23] walmello24 commented on #17788
there is no way to get past from this exercise?

[2018-07-27 23:42] randelldawson opened #17941 "Give a Background Color to a Div Element - missing test allows challenge to pass without creating silver-background class to change background of div to silver per instructions"
#### Describe your problem and - if possible - how to reproduce it
Part of this challenge states:

There is currently not a test which validates a class name of silver-background is defined which specifies the background-color property's value to be silver.  The current tests only check:
1) That the existing div element's class attribute value is "silver-background".
2) That the final background c

[2018-07-28 00:05] PrinceOfShapeir opened #17942 "ES6 - Write Higher Order Arrow Functions - No negative integers included in seed"
For the task: "Use arrow function syntax to compute the square of only the **positive integers** (fractions are not integers) in the array realNumberArray and store the new array in the variable squaredIntegers."

`const realNumberArray = [4, 5.6, -9.8, 3.14, 42, 6, 8.34];`

The above seeded array does not contain negative integers, causing solutions to pass that do not actually check for them. As

[2018-07-28 09:07] povilasraciunas opened #17944 "Test failing in: Applied Visual Design: Create a Horizontal Line Using the hr Element"
#### Describe your problem and - if possible - how to reproduce it
Second part of test is failing, incorrectly stating that "The hr tag should come between the title and the paragraph."  although actually <hr> tag is already placed and displayed in results view as it should be.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/

[2018-07-28 09:33] roshad opened #17945 "right answer not accepted"
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/arguments-optional

my answer:
works fine in chrome v8.

    var args=[]
    function addTogether() {
      args = args.concat(Array.from(arguments))

      return args.length == 1 ?
        addTogether:
        args.some(n => typeof n !== 'number') ?
            undefined:
            args[0]

[2018-07-28 09:40] #17945 closed

[2018-07-28 11:33] puyanwei commented on #17944
I can confirm I am having this problem too. Been talking about it on the forum here - https://forum.freecodecamp.org/t/create-a-horizontal-line-using-the-hr-element-is-this-bug/212450/6

Seems like a recent problem...

[2018-07-28 11:36] courseiam commented on #17944
Same  issue for me too.

[2018-07-28 11:37] asheavenist commented on #17944
Here a link
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-a-horizontal-line-using-the-hr-element/

About browser:
Browser Name: Chrome
Browser Version: 67.0.3396.99 (Official Build) (32-bit)
Operating System: Windows 10

Here is screenshot
![error issues](https://user-images.githubusercontent.com/36536058/43356091-60612e90-9294-11e8-98b3-8fc31e051595.jpg)

[2018-07-28 14:43] mikel189 commented on #17894
I am having exactly same issue as HaleyJ1387 and after doing all the above-mentioned steps from the url to using a different browser. The page still crashes.

[2018-07-28 15:16] HadrienAllemon commented on #17871
I'm on it.

[2018-07-28 16:28] Myrmidonut opened #17946 "Night mode shows links as plain text"
#### Describe your problem and - if possible - how to reproduce it
When using night mode, links show up as plain text and cannot be distinguished from the rest of the description. It happens on every page that has a link. Even the ones without descriptions that just say it is a stub.

A simple underline is probably best, a different background for the link would make it stand out more, for better

[2018-07-28 18:04] yohanisgobai commented on #17944
Same Here

[2018-07-28 19:07] ravikishorethella commented on #17753
@moT01 Please check the submitted PR
https://github.com/freeCodeCamp/freeCodeCamp/issues/17753

[2018-07-28 19:14] Marzdor opened #17947 "Debugging: Understanding the Differences between the freeCodeCamp and Browser Console"
There is a typo.

---------------------------------------^ should be your not you

[2018-07-28 19:31] daldoy commented on #17944
Same here.

[2018-07-28 19:56] raditotev commented on #17744
Thanks to @moigithub the problem was identified. Tests were failing because of the Zombie version (possible change of method or functionality of pressButton).  I have changed the dependency to 4.3.0 and now everything is working fine.

[2018-07-28 22:05] moigithub commented on #17744
on version 6.2.1
.fill method doesnt return the Browser object anymore soo its not possible to do method chain

and .element method only check if the element exist
to check for "count" element, there are another method named elements (plural) which accept a count parameter

[2018-07-28 23:04] michaelbecker commented on #17424
I've been poking around the code a bit for this one. My guess is that in server/boot/certificate.js, line 427, completeDate is null, which would always give the current date for the ctor of the Date class when this happens. Which implies that somehow completeDate isn't getting set. I'm still working through lines 418-421 trying to guess what's going on there (my background is C / C++, so declaring

[2018-07-29 02:07] ravikishorethella commented on #17947
@Marzdor Can I work on this?

[2018-07-29 03:15] Hinageshichan commented on #17944
Same issue. I have seen references to a fix but have been unable to find. Anyone with resources here?

[2018-07-29 05:31] ktajpuri commented on #17382
I have tested it. Steps  @nathanhannig has mentioned work perfectly. I would just like to mention something which might not be obvious to someone. You need to have a userid and password which you can use to authenticate after the oAuth login screen is presented after you click on signin button in local FCC. For this you need to create a user in your oAuth application. Click on users in the left si

[2018-07-29 06:08] Nirajn2311 commented on #17947
@ravikishorethella you may start working on this, the challenges files are found in the curriculum repo.

[2018-07-29 08:14] NitronR commented on #17258
I have started working on this issue. I will do the following for now, suggestions are welcome:
1. Add the section for the Full Stack Developer Certification at the required position.
2. The section will contain heading and the text about the certification.

[2018-07-29 13:35] Crazypari commented on #17944
same issue, using chrome.

[2018-07-29 13:45] michaelbecker commented on #17424
Thanks @moT01 . I also found this last night https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment

So completedChallenges is an array pulled from the user object using destructuring with a default assignment. completedDate is looking through the completedChallenges array ("_.find(...)") trying to match id with the certId. I'll guess completedChalleng

[2018-07-29 16:51] mohandast52 commented on #14500
<style type='text/sass'>
  $text-color: red;

  .header{
    text-align: center;
  }
  .blog-post{
    color: $text-color;
  }
  h2 {
    color: $text-color;
  }
</style>
/* try this */