[2021-10-03 19:13] Bruno-366 commented on #43703
nevermind! forgot to add `.tolist()` to the numpy arrays :)

[2021-10-03 19:13] #43703 closed

[2021-10-03 19:18] gangov commented on #43701
I guess it's up to one's morals not to post links like that, but I also get your idea on the need for verification.

As a quick proposal for that, I'd say that we can whitelist only a few code-sharing platforms like Codepen, or directly GitHub and GitLab. In the long run, we can probably make a something that is inbuilt into the platform.

Looking forward to hearing your solutions to that @Bruno-3

[2021-10-03 19:44] ShaunSHamilton commented on #43701
Hello there,

Thank you, for taking the time to bring this up. This is not a bug, however. This is expected behaviour.

Campers are required to agree to an [Academic Honesty Policy](https://www.freecodecamp.org/settings#honest-policy), before claiming a certification. This means, to the best of their ability, they need to accomplish the given task(s). The Python projects come with built-in tests w

[2021-10-03 19:44] #43701 closed

[2021-10-03 23:15] Veercodeprog commented on #43491
hi,is it still open ?

[2021-10-04 04:56] TomerPacific commented on #41463
@ieahleen, I'll start working on it.

[2021-10-04 06:32] TomerPacific commented on #41463
I've gone over the project structure and am trying to pinpoint where the changes must occur.
I saw the following:

- themes.js is responsible for the light/dark theme
- certifications.tsx is responsible for rendering the different certifications
- cert-and-project-map.ts has all the projects for each certification
- Inside the templates/challenges/projects folder there is the Show.tsx which I am a

[2021-10-04 07:19] ieahleen commented on #41463
@TomerPacific for certification completion, you can take the solutions from the md file of the projects and submit those, so then you have a completed is cert to test stuff with

[2021-10-04 08:20] ojeytonwilliams commented on #36841
Hey @gangov I was planning to implement it myself, but never seemed to find a moment to finish it. You are very welcome to work on it if you are interested.

[2021-10-04 08:47] gangov commented on #36841
@ojeytonwilliams  thanks for the prompt reply, I'll give it a go

[2021-10-04 08:53] ojeytonwilliams commented on #36841
Awesome, I'm looking forward to seeing what you come up with.  Let us know if you need any further context/explanation.

[2021-10-04 09:04] gangov commented on #36841
I've set the project locally yesterday, so today I'm planning on knowing myself around afterwards I'll place my stuff. One question for now is what are the shortcuts that need to be listed? Is this topic okay for start:

[https://forum.freecodecamp.org/t/free-code-camp-hotkeys/59467](https://forum.freecodecamp.org/t/free-code-camp-hotkeys/59467)

[2021-10-04 09:31] ojeytonwilliams commented on #36841
That topic is quite out of date, I'm afraid. The hotkeys we use for freecodecamp.org are defined here: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/templates/Challenges/components/Hotkeys.tsx

[2021-10-04 11:27] riadh26 commented on #43491
I've created two PRs:

[freeCodeCamp/learn-bash-by-building-a-boilerplate#2](https://github.com/freeCodeCamp/learn-bash-by-building-a-boilerplate/pull/2)
[freeCodeCamp/learn-relational-databases-by-building-a-mario-database#3](https://github.com/freeCodeCamp/learn-relational-databases-by-building-a-mario-database/pull/3)

[2021-10-04 13:28] Sembauke commented on #43485
So I suggest we close this issue as there is no response from the original poster and no new campers have seemed to have the same issue.

[2021-10-04 15:20] ieahleen commented on #43485
@Sembauke on the forum there have been various people with the issue still

[2021-10-04 19:06] hamzawaleed0102 commented on #41580
@ahmadabdolsaheb I enjoyed working on TS configuration for UI components library. I'm up for any other ticket.

[2021-10-05 01:09] moT01 opened #43724 "Stripe card form placeholder text isn't legible in night mode"
![Screen Shot 2021-10-04 at 7 59 25 PM](https://user-images.githubusercontent.com/20648924/135944721-fd01523e-5a21-465c-a3db-3fb267fe05fc.png)

## To reproduce

Steps to reproduce the behavior:

1. Turn on night mode
2. Complete challenges until the donate modal shows up
3. Form has black? text on fCC blue background

[2021-10-05 06:44] jacob-oreilly commented on #39432
I’m currently taking a look into a possible solution on this!

[2021-10-05 10:17] Anu790j opened #43726 "Error in code"
## Affected page

## Your code

[code]

## Expected behavior

## Screenshots

## System

- Device: [e.g. iPhone6, Laptop]
- OS: [e.g. iOS 14, Windows 10, Ubuntu 20.4]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

## Additional context

[2021-10-05 10:50] ShaunSHamilton commented on #43726
Hello there,

As this issue does not contain enough information for us to debug or help, it is invalid. Therefore, I am closing this issue.

If you accidentally opened this, then there is not need to do anything. However, if you still are encountering an issue, then please edit your description to include useful information such as:

- What you are trying to accomplish
- What the expected behaviou

[2021-10-05 10:50] #43726 closed

[2021-10-05 12:41] ahmadabdolsaheb commented on #43724
So the place holder text appears when stripe loads in the background.
We should keep the form behind a loader and only display it once stripe loads.

[2021-10-05 13:39] moT01 commented on #43724
That would fix the font color of the placeholder text? Seems like some CSS would work, but you're closer to that area than me.

To be clear, I'm talking about the placeholder credit card number and expiration date in the screen shot. It might be hard to see the text, but it's there.

[2021-10-05 18:06] thisabhijeet commented on #43724
I think we can simply change the placeholder text color using css and it will probably work fine.

[2021-10-05 18:27] atharva20-coder commented on #43724
![Screenshot (46)](https://user-images.githubusercontent.com/69634375/136081253-544ac80e-337d-4c0b-b87d-de6571109740.png)

changing the color here would work

[2021-10-06 03:04] AdamHumble commented on #43439
Hello, may I please work on this issue?

[2021-10-06 04:43] satara2358 commented on #15221
function telephoneCheck(str) {
  // Good luck!
  let strreg=/^(1\s?)?(\(\d{3}\)|\d{3})[\s\-]?\d{3}[\s\-]?\d{4}$/g;
  return !!str.match(strreg);
}

[2021-10-06 05:07] TomerPacific commented on #41463
@ieahleen, I have opened a PR for this issue. Would you mind adding the hacktoberfest-accepted label to this issue?

[2021-10-06 05:30] RJamesMaier commented on #41580
Hey! I would love to help. I enjoy working with TS and love working on frontend components. Where can I help?

[2021-10-06 09:05] #41463 closed

[2021-10-06 13:04] moT01 commented on #43724
Just gave it a quick test:
Chrome 94.0.4606.61 - works - shows what's in @ahmadabdolsaheb's screen shot
Firefox 92.0 - doesn't work - shows what's in my screen shot

So it seems to be a firefox issue. Can anyone else reproduce this in firefox?

[2021-10-06 13:18] #42203 closed

[2021-10-06 16:20] RJamesMaier commented on #41580
Awesome thank you!

[2021-10-07 01:43] NoelCov commented on #43724
Yup. I'm using Firefox Developer and it looks like this:

![Screenshot_2](https://user-images.githubusercontent.com/73734505/136307087-65701a8c-980a-4115-9c13-cfdbfeb7bf1c.jpg)

[2021-10-07 15:32] gikf commented on #39348
Different with jumpy cursor:
- Make both html and css visible
- After each character written in the left frame, cursor jumps to the right frame.
- It happens regardless where is the editable region.
![editor2](https://user-images.githubusercontent.com/60067306/136414777-436190a3-64f2-40e3-ac57-d41dc545fa9a.gif)

[2021-10-08 14:31] ShaunSHamilton opened #43778 "TypeScript Migration"
## Co-ordination

As discussed in the last contributors [meeting](https://forum.freecodecamp.org/t/office-hour-contributors-may-13-2021/458257/4) we're looking to migrate our client to TypeScript.

No files will be assigned

**PRs will be prioritised by quality, then by date opened**

## Guidelines

Take a look at the [Codebase Best Practices](https://contribute.freecodecamp.org/#/codebase-best-pr

[2021-10-08 20:16] Nirajn2311 opened #43788 "Remove whitespace challenge can be passed by editing variable directly"
## Affected page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/regular-expressions/remove-whitespace-from-start-and-end

## Your code

[code]

## Expected behavior

The challenge shouldn't pass as the user is directly editing the `hello` variable. Another test should be added to this [file](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges

[2021-10-09 03:58] Prathamesh010 commented on #43788
I would like to work on this issue!

[2021-10-09 05:18] ManishOffi commented on #43788
Hey @Nirajn2311 ,
If you allow me then i contribute this issue?

[2021-10-09 06:51] ManishOffi commented on #43788
@ieahleen
Thanks!

[2021-10-09 17:45] #43788 closed

[2021-10-10 04:59] #43491 closed

[2021-10-10 08:10] Pranav2612000 commented on #43778
I'll also like to help with this. I can see a couple of PRs already. How do I know which unassigned files are still pending?

[2021-10-10 14:06] iepsen commented on #43098
Hi @huyenltnguyen! I have open a PR for this fix as your last activity was in August so I assumed you are not working on this ticket. Hope you like it! 😄

[2021-10-10 19:51] huyenltnguyen commented on #41580
Hey friends 👋

First of all, I'm sorry for being absent for a very long time and blocking the work. Covid hit and left me with mental bumps and bruises. I will need some time to get the balance back, but will try to be more responsive here as well as in the chat.

As @ahmadabdolsaheb mentioned, we will need to gather the specs for each component before implementing them. The requirements will be s

[2021-10-10 20:00] huyenltnguyen commented on #43098
@iepsen Ah, your assumption is correct. I unfortunately didn't get a chance to wrap this one up.

Thanks for working on this. I'll review the PR as soon as I can 🙂

[2021-10-10 20:01] JaySharma11 commented on #41072
Is this issue still open?

[2021-10-10 20:25] JaySharma11 commented on #41072
I was thinking what if we divide current background in 2 parts one from the left most end to the center including Saron and then the rest of the background from center to right end. After this we can use min width to scale only the part with Saron for small screen sizes and for screen size larger than that of the whole image we can scale both parts together.

P S. I'm still learning Web Developmen

[2021-10-11 05:46] Nzamuyejoram commented on #43427
@ieahleen . yeah cool. noted

[2021-10-12 15:30] ojeytonwilliams commented on #39348
I think, tentatively, that these are all fixed now.

Once https://github.com/freeCodeCamp/freeCodeCamp/pull/43777 and https://github.com/freeCodeCamp/freeCodeCamp/pull/43728 I think this can be closed.  Then we can just open single issues as and when new bugs are discovered/created.

[2021-10-13 02:32] GabeNedden commented on #42574
Hello, I agree that this challenge is too noisy. The set up is distracting for learners who may not know what part of the challenge to focus on. I would like to be assigned this issue if possible.

[2021-10-13 04:58] sitek94 commented on #41580
Hey everyone! 👋

I've been working a bit on alert component, and I've just opened a draft PR (#43835). I would really appreciate your feedback!

[2021-10-13 07:34] ieahleen opened #43836 "i18n: Python projects' instructions are not translatable"
For these projects the instructions are in the README file inside the boilerplate, as such they are not translatable.

I propose to add a copy of the projects readme inside the project file in the main repo.

List of projects that need it:
### Scientific Computing with Python
- [x] Arithmetic formatter #43854
- [x] Time Calculator #44152
- [x] Budget App #44125
- [x] Polygon Area Calculator #44152

[2021-10-13 08:43] ieahleen opened #43838 "GitPod: add installation of Cypress tests to workspace startup file"
The instructions in this part of the guide https://contribute.freecodecamp.org/#/how-to-add-cypress-tests?id=cypress-gitpod-setup
Could be added to the GitPod startup file instead of having to do it manually.

@ShaunSHamilton is it possible to do it now? Or the feature is still in preview?

[2021-10-13 10:42] ShaunSHamilton commented on #43838
@ieahleen Yes, it is possible. However, it adds about 5-7 mins to the start-up of the environment (when you click the GitPod button on a PR).

So, we specifically did not add this.

Also, I am concerned it would not work as expected, because the setup requires a keyboard to be selected. I do not fully understand why, but if this is done automatically, certain tests might not behave as expected.

[2021-10-13 10:55] Sembauke commented on #43836
CC: @nhcarrigan

[2021-10-13 23:21] nhcarrigan commented on #43836
Okay, I created https://github.com/freeCodeCamp/freeCodeCamp/pull/43854 as an example attempt so we can play with how this works.

My thoughts are:

- Currently challenge type 10 doesn't seem to support the `--instructions-- header. Might be something to poke @ojeytonwilliams about?
- We will likely want to remove the README from the projects in favour of the information on `/learn`, so we maintai

[2021-10-14 01:21] jeremyfiel opened #43856 "Bug: List of unique winning teams doesn't match the expected_output.txt"
repo: https://www.github.com/freecodecamp/learn-world-cup-database

In queries.sh, one of the challenges is to write a SQL statement to return a list of unique winning teams in the dataset. The expected_output.txt file has an incorrect list.

To Reproduce
Steps to reproduce the behavior:

seed the database with the instructions in the lesson
write a SQL statement to return the list of unique winni

[2021-10-14 08:23] ieahleen commented on #43778
@mendaomn files are not assigned anymore, just go for it

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute

[2021-10-14 15:35] StanleyDharan commented on #43778
Ill take on: /client/src/components/landing/index.js

[2021-10-15 00:58] moT01 opened #43873 "Use user tokens to save user's progress for challenges completed on external sites"
[This PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/43304) adds user tokens and some routing so users progress can be saved on .org when completing relational databases/coderoad challenges. As I was playing with the data science/colab notebooks recently - I realized we could use the tokens to save users progress on those, as well. Really, we could probably use them for any challenges that

[2021-10-15 05:49] nshah1729 opened #43874 "In the "Applied Visual Design" section of learning CSS, the definition of text-align:justify is not clear..We can set it to:"Stretches the lines so that each line has equal width (like in newspapers and magazines)""
![Screenshot 2021-10-15 at 11 15 57 AM](https://user-images.githubusercontent.com/58332678/137438663-881ea0db-209e-47f3-a173-af8e61e5087c.png)

[2021-10-15 05:49] nshah1729 commented on #43874
If possible please assign this issue to me! as I am new to open source

[2021-10-15 06:49] ieahleen commented on #43778
@StanleyDharan I suggest you put it in a draft, if you want precedence on it, a closed PR is not counted

[2021-10-15 12:17] ahmadabdolsaheb commented on #43668
An initial flash should be sufficient to grab the user's attention to the

![long](https://user-images.githubusercontent.com/4591597/137484601-afd813b0-fe2a-45eb-93af-ebe2f864f965.gif)

@QuincyLarson, we are developing the challenge note functionality. I just wanted to double check to see if the spec are still the same as the ones demonstrated in the mock above.

[2021-10-15 15:30] nhcarrigan commented on #43836
Yeah I think that's a solid approach.

[2021-10-15 15:33] #43639 closed

[2021-10-15 18:33] ieahleen commented on #43836
The change to the boilerplate should wait for a website deployment, so that campers aren’t left without instructions

[2021-10-15 18:50] Nightro-Fx commented on #34795
RIP

[2021-10-15 20:55] gikf opened #43890 "Celestial Bodies Database - Typo"
There are two small typos in the [Celestial Bodies Database](https://github.com/freeCodeCamp/learn-celestial-bodies-database) tutorial.

First paragraph of instructions instead of:
For this project, you need to log in to to PostgreSQL with psql to create your database. Do that by entering `psql --username=freecodecam --dbname=postgres` in the terminal. Be sure to get creative, and have fun!

Shoul

[2021-10-16 02:01] nshah1729 commented on #43874
When I'm trying to do the PR its showing this:
![Screenshot 2021-10-16 at 7 29 14 AM](https://user-images.githubusercontent.com/58332678/137569376-9632e964-3296-414d-b8a8-2154ffb24696.png)

[2021-10-16 13:31] itsAftabAlam opened #43894 "mails are not hyperlinked"
## Affected page

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/docs/FAQ.md

## To reproduce

two mails mentioned in this file , i.e it is non-clickable

## Recommended fix, suggestions

adding appropriate hyperlinks to those mails might be beneficial

[2021-10-16 13:32] itsAftabAlam commented on #43894
assigned to myself @itsAftabAlam

[2021-10-16 18:18] ShaunSHamilton commented on #43778
@oakj Whilst TypeScript is not all that different compared to JavaScript, I would not easily recommend using a migration as your first experience into TypeScript, unless you are already familiar with another strongly typed language.

There is nothing stopping you from trying, and you are more than welcome to get help from the freeCodeCamp community in your learning process. So, I will leave you wi

[2021-10-16 18:56] oakj commented on #43778
@ShaunSHamilton Thanks the reply! Appreciate the resources also. Will definitely go through the contributor docs and typescript docs!

[2021-10-16 21:10] mckoss opened #43902 "Test for common invalid solutions to challenges to ensure acceptance tests are strict enough."
## Affected page

https://www.freecodecamp.org/learn/responsive-web-design/css-grid/add-columns-with-grid-template-columns

## To reproduce

Steps to reproduce the behavior:

1. Go to code block line 14.
2. Enter "solution" of "grid-template-columns: 100px100px100px;"
3. Click "Run the Tests"
4. Result: Passes.

## Expected behavior

Expect: Run the Tests to FAIL (since spaces are required) - PR #

[2021-10-17 08:51] #43890 closed

[2021-10-17 12:15] nshah1729 commented on #43874
Please review the PR @moT01 @gikf

[2021-10-17 13:33] ieahleen commented on #43874
@nshah1729 please be patient, people will review when they can.

[2021-10-17 14:51] ericrasmusson420 opened #43906 "Link-to-external-pages-with-anchor-elements not working."
## Affected page

https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/link-to-external-pages-with-anchor-elements

## Your code

[code]

## Expected behavior

The test should have advance me to the next lesson. Instead it indicated a mistake -You need an a element that links to https://www.freecatphotoapp.com

## Screenshots

## System

- Device: [e.g. iPhone6, Laptop]IBM

[2021-10-17 14:52] nshah1729 commented on #43874
Alright!

[2021-10-17 15:11] sunflowermarmalade commented on #43906
You have put in a wrong line of code for the solution. It should be

`<h2>CatPhotoApp</h2>
<main>
<a href="https://www.freecodecamp.org">this links to freecodecamp.org</a>
<a href="https://www.freecatphotoapp.com">cat photos"</a>
<img src="https://cdn.freecodecamp.org/curriculum/cat-photo-app/relaxing-cat.jpg" alt="A cute orange cat lying on its back.">
<p>Kitty ipsum dolor sit amet, shed everywhe

[2021-10-17 15:13] #43906 closed

[2021-10-17 21:17] QuincyLarson commented on #43668
@nhcarrigan  > Showing the user the finished code before they start is probably discouraging, so we should just preview the result.

I agree – we should figure out a way to show the finished code. Lots of games do this – showing you the "course" ahead. Like Mario Kart: https://youtu.be/LyI6HwWqwIk?t=67

I recommend we figure out a way to show an iframe with the code running – perhaps as a sort of

[2021-10-18 12:31] gitrock opened #43910 "Learn Bash Scripting by Building Five Programs - minor corrections to text"
The following are a couple of minor corrections to the instructions text for the tutorial titled _Learn Bash Scripting by Building Five Programs_.

This tutorial is listed on [this page](https://www.freecodecamp.org/news/how-to-run-freecodecamps-relational-databases-curriculum-using-docker-vscode-and-coderoad/).

Thank you

## Minor corrections

There many interpreters  --> There are many interpre

[2021-10-18 14:07] ShaunSHamilton commented on #43894
Hello there,

Thank you, for taking the time to open this.

However, as mentioned in the linked PR, this is intentional to avoid spam and accidental mail.

As such, I am closing this issue.

[2021-10-18 23:45] TristanToye commented on #39751
@ojeytonwilliams is this still something that would be helpful?

[2021-10-19 04:08] moT01 commented on #43485
We could try and find someone who can reproduce this consistently. Maybe see if they're willing to pair up and we can try to find where the info is getting lost or not saved. Check the network requests - see if they going through as expected.

I thought it might have to do with user accounts - maybe they signed up with one method, and then used another and we have a duplicate email in the database

[2021-10-19 09:03] makisa99 opened #43929 "Broken React Test"
## Affected page

React Tutorial: Create a Component with Composition

## Your code

[code]

## Expected behavior

I expected it to pass the tests, but the page freezes.

## System

Windows 10 (Tried on multiple PCs).
Browser: Chrome (latest version)

## Additional context

As soon as i type that code in order to finish and pass the test. the page just freezes.

[2021-10-19 09:05] #43929 closed

[2021-10-19 11:12] JoeTurnerIO commented on #41580
I have experience building UI component libraries and would like to contribute. Are there any mocks for these components?

[2021-10-19 14:42] ieahleen commented on #43439
@jahantaila you can open a PR to fix this, if you think you know how

[2021-10-19 17:12] rksingh2001 commented on #43910
I will like to take up this issue

[2021-10-19 17:56] ieahleen commented on #43910
## Affected page

https://github.com/freeCodeCamp/learn-bash-scripting-by-building-five-programs/blob/main/TUTORIAL.md

## Additional context

This tutorial is using CodeRoad VS Code extension, specific guidelines how to contribute to them can be found on https://contribute.freecodecamp.org/#/how-to-work-on-tutorials-that-use-coderoad. Making PR for this issue will require following parts referrin

[2021-10-20 01:25] jeremyfiel opened #43936 "Bug: Most goals scored in a single game doesn't match the expected_output.txt"
repo: https://www.github.com/freecodecamp/learn-world-cup-database

In queries.sh, one of the challenges is to write a SQL statement to return a list of `Most goals scored in a single game` in the dataset. The expected_output.txt file has an incorrect value of `7`.

To Reproduce
Steps to reproduce the behavior:

seed the database with the instructions in the lesson
write a SQL statement to return

[2021-10-20 03:48] iccowan commented on #43936
I believe this is referencing the total number of goals scored by one team, which would be seven. I will add clarification in the tutorial.

[2021-10-20 10:16] nshah1729 commented on #43910
Alright!

[2021-10-20 10:57] nshah1729 commented on #43910
I have made a PR
Please review it.

[2021-10-21 02:52] lijiang2014 commented on #41510
[code]
    可以是
{
      "quote": "但行好事,莫问前程",
      "author": "增广贤文"
    }
[code]
应该是
[code]

[code]

应该是（第二个找不到合适的）

[code]

[2021-10-21 15:45] nhcarrigan commented on #39751
Yep that was perfect thanks @ojeytonwilliams!

[2021-10-21 19:49] AndreiD049 commented on #43439
Is there a way to test certificate claiming faster on dev environment?

[2021-10-21 20:06] ShaunSHamilton commented on #43439
@AndreiD049 You can change the `is...Cert` fields of the fully certified user to `false`, then seed the fully certified user:
[code]

The fully certified user data is in: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/tools/scripts/seed/certifiedUserData.js

[2021-10-21 21:54] hishamss commented on #43778
@ShaunSHamilton I would like to work on migrating **client>utils>challenge-types.js** to TS, but I noticed that 2 variable has the same value in this file :
const zipline = 3;
const frontEndProject = 3;

is this intentional or a mistake?

[2021-10-22 02:22] miyaliu666 commented on #41510
Sorry, I communicated in Chinese here and just realized it. I'll review the translations above asap. Thanks for your patience!

[2021-10-27 23:47] moT01 opened #44040 "Add campfire mode to nav menu"
We added Campfire mode(https://github.com/freeCodeCamp/freeCodeCamp/pull/42663). Wondering if we should put a button in the main menu next to the night mode button for it.

[2021-10-28 15:43] ShaunSHamilton opened #44050 "Multifile Editor Removes Hint onChange"
**To Reproduce**

1) Go to a challenge
2) Click the _Check your code_ button
![image](https://user-images.githubusercontent.com/51722130/139289822-e3c886aa-6713-4a08-b45f-92b8e755418e.png)

3) Type in editor
4) Watch hint disappear
![image](https://user-images.githubusercontent.com/51722130/139290071-5412953f-1a57-4513-8e5c-ed7fb110d512.png)

I assume this is not wanted behaviour, because it annoy

[2021-10-29 22:00] kalimann opened #44068 "Tribute page: Difference between project’s stated requirements in own page and in widget on codepen"
## Affected page

https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-projects/build-a-tribute-page

## Expected behavior

On the tribute page project’s page, it states:

while in the tests widget on the codepen of the tribute page, it states:

So a figure element is accepted through the widget, but not officially on the project page. Surely this must be a mistake.

[2021-10-29 22:30] ShaunSHamilton commented on #44068
Hello there,

Thank you, for taking the time to open this.

Here is more context: https://github.com/freeCodeCamp/testable-projects-fcc/pull/781

@lasjorg This is a stretch, but do you remember why the `/learn` user-stories remained the same?

[2021-10-30 00:25] lasjorg commented on #44068
@ShaunSHamilton I don't remember, but I don't think there was a reason for it. It's likely just an oversight.

[2021-10-30 14:38] adsingh14 commented on #41580
I would like to contribute.

[2021-10-30 19:26] ieahleen commented on #44068
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the file that you should be looking at to work on a fix:

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/responsive-web-design-projects/build-a-tribute-page.md

Please make sure you read [our guidelines

[2021-10-30 23:00] AishTron7 commented on #44068
Hi @ieahleen  Thanks for the clear instructions. I'm a first time contributor and I've submitted a pull request #44076 Please let me know if there's anything else that I need to do in order to solve this issue. :)

[2021-10-31 07:18] #44068 closed

[2021-10-31 13:38] Art-auto commented on #42541
I'm open to collaboration here. Let me know if you need any help

[2021-11-01 07:32] ahmadabdolsaheb commented on #44040
It would depend on our plans for this feature and how useful it would be to keep it accessible in the dropdown menu.
@nhcarrigan what do you think?

[2021-11-01 16:43] #44050 closed

[2021-11-01 16:53] Sembauke commented on #42541
@Art-auto You are welcome to work on this yourself 😄

[2021-11-01 16:56] Schawnnara commented on #36596
###

- jjjjjjjjj**

1.

**

[2021-11-01 16:56] Schawnnara commented on #36596
### hi

[2021-11-02 11:09] ieahleen opened #44096 "Adding link to workflow in CodeRoad tutorial repos"
All CodeRoad tutorials should have a link to the contributing workflow.

This issue can be used as masterlist.
I have started with https://github.com/freeCodeCamp/learn-world-cup-database/pull/8 , then once this is finalized and approved the same change should be done to all other projects.

I will list them here, then once it's time this can be open to contributions, and used as masterlist to kee

[2021-11-02 13:29] #43098 closed

[2021-11-02 15:15] gikf commented on #40896
There are also places with listed all answers, without the need to look for them one-by-one.

[2021-11-02 22:42] edmechem opened #44105 "Code Radio does not play in Safari on Mac"
## Affected page

https://coderadio.freecodecamp.org

## To reproduce

Steps to reproduce the behavior:
1. Launch Safari on a Mac
2. Go to https://coderadio.freecodecamp.org
3. Click on Play button or press Space Bar

## Expected behavior

Audio starts playing.

## Actual behavior

Audio does not start playing.

## Screenshots

<img width="932" alt="CodeRadioScreenshot-Safari-macOS" src="https://u

[2021-11-02 23:04] edmechem commented on #44105
Well ok then.  I hadn't tried all this with a brand-new user account.  Turns out it works fine with a new user account, so there's obviously something weird with my current Safari profile.  Also works in Flotato, so I can make a lightweight single site browser app for Code Radio, yay.

Closing for now, but I will say that - the other bug, about it not working in mobile Safari, does still affect me

[2021-11-02 23:04] #44105 closed

[2021-11-03 07:47] shayannosrat commented on #44096
@ieahleen i would love to work on this as my first contribution ❤️

[2021-11-03 10:58] #40627 closed

[2021-11-03 11:08] renovate[bot] opened #44109 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Pending Approval

These branches will be created by Renovate only once you click their checkbox below.

 - [ ] chore(deps): update dependency @rollup/plugin-commonjs to v21
 - [ ] chore(deps): update dependency @testing-library/cypress to v8
 - [ ] chore(d

[2021-11-03 13:08] iepsen commented on #41074
What browser and operating system are you using? I can't repro the issue using Chrome Version 95.0.4638.69 (Official Build) (x86_64) with macOS Monterey Version 12.0.1 (21A559). It's playing from around 2 hours without any interruption on main branch locally within a slow network preset.

[2021-11-03 14:31] moT01 commented on #44096
Thanks for adding all these @shayannosrat 🎉 and congratulations on your first contributions to freeCodeCamp 🎉

[2021-11-03 18:55] nhcarrigan commented on #44040
Let's leave this issue open for a bit - I'm not sure this is something people will toggle on and off enough to warrant taking up the space.

[2021-11-03 22:43] moT01 commented on #43936
This should be fixed 👍 We went with clarifying the instructions to "Most goals scored in a single game by one team".

[2021-11-03 22:43] #43936 closed

[2021-11-03 22:43] moT01 commented on #43856
This should be fixed 👍 Let me know if there's still a problem

[2021-11-03 22:43] #43856 closed

[2021-11-04 02:59] moT01 commented on #44096
Thanks for making the issue to track this @ieahleen 🎉 All done 👍

[2021-11-04 02:59] #44096 closed

[2021-11-04 08:24] #43902 closed

[2021-11-04 10:18] #35525 closed

[2021-11-04 18:43] MR-Kurl opened #44126 "Profile Settings issue on iPads"
Using FCC with students who only have school district iPads, ios 14.6. I want them to make their Name and Points public, but any attempt to go to settings and change them from Private fails on both Safari and Chrome on the tablets, the private button sticks on, and both buttons stay highlighted and stay selected, and it won’t save any settings changes and leaves their profiles private. Any suggest

[2021-11-05 03:24] cbenjamin2009 commented on #44126
I just tested this by browsing to freecodecamp.org/settings on my iPad air 2 running iOS 14.8 and was able to toggle between Private and Public without issue. This sounds like a possible Network related issue that School District IT department may be able to check firewall rules and settings?  It does appear that both buttons are pressed and highlighted for a moment and then the page updates with

[2021-11-05 08:00] Sembauke commented on #44126
Yes this may occur due to a slow network connection.

There should not be anything with your Ipads this issue has been known for a long time:
https://github.com/freeCodeCamp/freeCodeCamp/issues/40764

Does this seem like familiar behavior?

If it is, try changing the settings slowly until the "settings changes successfully" message pops up.

If it is not, please provide some video or picture to us

[2021-11-05 19:13] nhcarrigan commented on #43289
I can add these to Crowdin provided we're still planning on keeping them.

[2021-11-08 21:42] skaparate opened #44141 "Instructions on Create a More Complex Shape Using Css and HTML"
Hey everyone!

On the lesson [Responsive Web Design / Applied Visual Design / Create a More Complex Shape Using CSS and HTML](https://www.freecodecamp.org/learn/responsive-web-design/applied-visual-design/create-a-more-complex-shape-using-css-and-html), with regards to `::before` and `::after`, it says:

I think this is not actually correct. A more appropriate definition could be:

Otherwise it ma

[2021-11-09 02:02] MR-Kurl commented on #44126
Thanks. I will ask my IT department about possible firewall rules and settings.

[2021-11-09 06:35] #44126 closed

[2021-11-12 08:13] ashiskumar-1999 commented on #43778
Hey @ShaunSHamilton, Can I take on these files migration?
/client/src/client/frame-runner.js
/client/src/templates/Challenges/classic/MultifileEditor.js
/client/src/components/landing/index.js

[2021-11-12 11:41] ieahleen commented on #43778
@ashiskumar-1999 please check that there are not already PRs open for those, but otherwise you are free to go with them, files are not assigned and are always up for grabs in a first come first serve basis

[2021-11-12 16:08] lasjorg opened #44174 "Anonymous Message Board headers test"
Can someone explain why this code is needed? I'm specifically referring to the header removal before sending back the new headers object.

routes/fcctesting.js

https://github.com/freeCodeCamp/boilerplate-project-messageboard/blob/gomix/routes/fcctesting.js#L75

[code]

Just sending this back still lets the first three tests pass.

[code]

I'm not sure I understand how not removing the `access-con

[2021-11-13 12:12] ashiskumar-1999 commented on #43778
Thanks, @ieahleen, Let me check then.

[2021-11-14 06:08] ashiskumar-1999 commented on #43778
Hey @ieahleen, There are no PR open on the /client/src/client/frame-runner.js and
/client/src/templates/Challenges/classic/MultifileEditor.js files right now. Can I work on this?

[2021-11-14 10:29] Ismailtlem commented on #43778
Hi @ashiskumar-1999 ,

just go ahead, there is no need to ask for permission

[2021-11-16 06:07] #39408 closed

[2021-11-16 15:27] Emiliano-Russo commented on #44141
i'll do it (i like MDN definition)

[2021-11-17 11:50] ieahleen opened #44192 "Add instructions to real time multiplayer game"
Edit from @moT01: See [comment below](https://github.com/freeCodeCamp/freeCodeCamp/issues/44192#issuecomment-1190403770) for the new focus of this issue.

Related to #39721

The Secure Real Time Multiplayer game is missing user stories
reported here: https://forum.freecodecamp.org/t/where-are-the-user-stories/485714

[2021-11-17 12:26] ShaunSHamilton commented on #44192
I might be missing something, but that is like most of the other backend projects in that the user stories are in the test text:
<img width="586" alt="image" src="https://user-images.githubusercontent.com/51722130/142200264-2b6e1fc4-c274-492d-bea7-ed32bd459837.png">

That is, it looks like nothing is missing?

[2021-11-17 16:12] raisedadead commented on #44192
The user stories are made available on the challenge page, instead of the readme. That readme in the screenshot in the forum itself is misleading. It should be more verbose about where to find the instructions from.

Does anyone want to propose a template and take up updating the boilerplates on GitHub eventually?

[2021-11-17 21:53] ieahleen commented on #44192
I checked other backend projects, there is at least a brief description explaining what the project is about instead of just giving the link to the boilerplate

[2021-11-17 22:19] philross49 commented on #43233
Still problems with iOS and Safari on mobile!

Have to zoom out, then in to make the keyboard button appear. Can’t scroll up or down when in the code tab. Tilting for landscape brings up the keyboard button, but reduces usable screen to nothing. Rotating back the portrait gets rid of the keyboard and the button.

iOS mobile keyboard is also not great for this, I’ll be continuing on my MacBook!

![

[2021-11-18 05:13] raisedadead commented on #44192
I understand. We need to simply standardize this README in that case.

[2021-11-18 11:01] RaspberryLime commented on #43233
Do you have a link to the specific pages with the issue?

I’m finding some still work OK for me whilst others have changed. The very first page has changed like you describe for me.
![B2B9FA58-6471-4735-B24B-3B5C26411A87](https://user-images.githubusercontent.com/25120737/142403332-f233013d-b78c-4352-9ea5-851a83746bc9.png)

[2021-11-19 14:24] #44141 closed

[2021-11-19 23:50] ratnambica-nallala commented on #14024
hello I am getting Your first radio button on your form should be checked by default. This error how to fix it.
<label for="indoor"><input id="indoor" type="radio" <input type="ratio"name="indoor-outdoor" checked value="indoor"> Indoor</label>
    <label for="outdoor"><input id="outdoor"<input type="radio" type="radio" name="indoor-outdoor" checked value="outdoor"> Outdoor</label><br>
    <label f

[2021-11-20 11:57] kamatheuska commented on #44040
Hi there! first contributor here :) What about a submenu?
![submenu-1](https://user-images.githubusercontent.com/26850124/142725434-c1f63cf6-9437-4500-ad27-7372176822d3.png)
![submenu](https://user-images.githubusercontent.com/26850124/142725424-c9619c69-265b-4c9a-8435-aecd48561459.png)

[2021-11-20 16:04] httpanand opened #44230 "A github organization , slack community etc for freeCodeCamp users !"
### A github organization , slack community etc for freeCodeCamp users !

[2021-11-20 17:29] ieahleen commented on #44230
There is chat.freecodecamp.org

or the discord server

[2021-11-20 17:29] #44230 closed

[2021-11-20 19:02] gikf opened #44231 "Back End Development and APIs and Information Security projects description typo"
There's small typo in description of some _Back End Development and APIs_ and _Information Security_ projects. Sentence with:

Should have apostrophe in word _projects_ as written below:
Optionally, also submit a link to your **project's** source code in the `GitHub Link` field.

## Affected page

https://www.freecodecamp.org/learn/back-end-development-and-apis/back-end-development-and-apis-projec

[2021-11-22 09:14] ahmadabdolsaheb commented on #44040
I am leaning towards keeping the campfire mode as a hidden gem.

[2021-11-22 10:07] kamatheuska commented on #44040
@ahmadabdolsaheb Do you mind expanding on why to hide a feature? Maybe it's not working as it should yet?

[2021-11-22 13:05] pariksh1th commented on #44231
I would like to work on this issue

[2021-11-22 13:43] #39125 closed

[2021-11-22 17:33] sidemt opened #44242 "Mistake in the description of Problem 29: Distinct powers"
## Affected page

Coding Interview Prep > Project Euler > Problem 29: Distinct powers
https://www.freecodecamp.org/learn/coding-interview-prep/project-euler/problem-29-distinct-powers

## Expected behavior

The description says `ab` but I think it should be `a^b`

## Screenshots

![project_euler_29_issue](https://user-images.githubusercontent.com/25644062/142906868-fca9194e-fe77-4895-b198-4900f4e3

[2021-11-22 17:42] gikf commented on #44242
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-29-distinct-powers.md

Please make sure you read [our gu

[2021-11-22 17:54] gikf commented on #44231
Hey @pariksh1th,

thank you for being eager to contribute. This issue has already corresponding PR, which most likely will close the issue. Feel free to look at other issues labelled with `help wanted` or `first timers only`.

[2021-11-22 18:28] MxDui commented on #44242
Hi , I would like to work in this issue.

[2021-11-22 18:30] gikf commented on #44242
Hey @MxDui

Issues are typically not assigned to specific person, other than long-time contributors. You can read more about this at https://contribute.freecodecamp.org/#/FAQ?id=how-can-i-get-an-issue-assigned-to-me.

Issues labelled with `help wanted` or `first timers only` are open for contributions for all.

Please make sure you read [our guidelines for contributing](https://contribute.freecode

[2021-11-22 19:58] sidemt opened #44245 "Mistake in the alt text for the diagram in "Problem 199: Iterative Circle Packing""
In the challenge below, the alt text for the diagram is set to "a diagram of non-overlapping concentric circles".
But if my understanding is correct, they are not "concentric circles" (circles which share the same center).

## Affected page

Coding Interview Prep > Project Euler > Problem 199: Iterative Circle Packing
https://www.freecodecamp.org/learn/coding-interview-prep/project-euler/problem-1

[2021-11-23 02:48] pariksh1th commented on #44242
I did my first [ contrubution](https://github.com/freeCodeCamp/freeCodeCamp/pull/44248) 😆

[2021-11-23 05:09] Gers2017 opened #44249 "Exercise Tracker - Back End Development and APIs Projects | problem with toDateString test"
## Affected page

https://www.freecodecamp.org/learn/back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker
## Your code

[complete code on replit](https://replit.com/@Gers2017/boilerplate-project-exercisetracker#server.js)
[code]

## Expected behavior
I was expecting to pass the dateToString() test
but instead I keep getting this message
[code]

## Screenshots
![ima

[2021-11-23 05:51] Pavithradevadiga commented on #44242
Is this issue closed or can I still make my contribution.I am a first timer

[2021-11-23 17:50] #43407 closed

[2021-11-23 20:45] sidemt opened #44264 "Separate 2 variables currently in 1 tag (Problem 124: Ordered radicals)"
On Crowdin (translation platform), we are seeing the following string:
`The radical of $n, rad(n)$, is the product of the distinct prime factors of $n$.`

Here `n, rad(n)` are wrapped in 1 pair of `$` tag. (MathJax tag?)

We would like them to be in separate tags so that we can treat them properly in translations. As follows:
`The radical of $n$, $rad(n)$, is the product of the distinct prime fact

[2021-11-23 23:51] ShaunSHamilton commented on #44264
This makes sense to do. As such, I have opened this up to first timers.

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: htt

[2021-11-24 05:19] Dhananjaymahajan2001 commented on #44264
hello I think I understand the problem and can solve it so if possible can you assign this to me.
I think I  only have to make change here: https://github.com/freeCodeCamp/freeCodeCamp/blob/7907f623378b934cdfa47c80b77c5e88678e45a7/curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-124-ordered-radicals.md
pls correct me if i am wrong.

[2021-11-24 09:28] EdenSweden opened #44269 "Faulty code successfully passes tests in Insert an Element Into a Max Heap challenge"
**Describe the bug**

 **Insert an Element Into a Max Heap challenge (Coding Interview Prep Section--Data Structures):**
 I erroneously thought my code was working properly because I passed the challenge. But the array resulting from my code does not satisfy the max heap property.
**To Reproduce:**

1. Go to ['Insert an Element Into a Max Heap'](https://www.freecodecamp.org/learn/coding-interview-

[2021-11-24 10:19] gikf commented on #44245
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-199-iterative-circle-packing.md

Please make sure you re

[2021-11-24 10:33] asadrjhk commented on #44245
@gikf I would like to work on this.

[2021-11-24 10:37] gikf commented on #44245
Hey @asadrjhk

Issues are typically not assigned to a specific person, other than long-time contributors. You can read more about this at https://contribute.freecodecamp.org/#/FAQ?id=how-can-i-get-an-issue-assigned-to-me.

Issues labelled with `help wanted` or `first timers only` are open for contributions for all.

Please make sure you read [our guidelines for contributing](https://contribute.fre

[2021-11-24 11:07] asadrjhk commented on #44245
@gikf sorry about that, as this  was my first time in freeCodeCamp, I'll make sure to read the contribution guidelines

[2021-11-24 14:16] defestusPython commented on #13872
<div class="row"></div>

   <div class="row col-xs-4"><button class="btn btn-block btn-primary col-xs-4">Like</button></div>
   <div class="row col-xs-4"><button class="btn btn-block btn-info col-xs-4">Info</button></div>
   <div class="row col-xs-4"><button class="btn btn-block btn-danger col-xs-4">Delete</button></div>

[2021-11-24 17:32] #44231 closed

[2021-11-24 18:10] #44242 closed

[2021-11-24 20:22] nhcarrigan commented on #44264
Yes that looks like it would be a fix 🙂

[2021-11-24 20:28] nhcarrigan commented on #44249
Hi there,

I just tested submitting your project, and all the tests passed on my end.

[2021-11-25 06:37] #43439 closed

[2021-11-25 09:28] Sembauke commented on #44264
@Dhananjaymahajan2001 It seems like you have opened a pull-request on your origin not on the upstream. Did you mean to do this?

[2021-11-25 11:35] Dhananjaymahajan2001 commented on #44264
yes sorry i think i did it by mistake but i have made the changes now properly i think.
If there is anything wrong please point it out as i am quite new to open source would be helpful.

[2021-11-25 14:39] Prathamesh010 commented on #44269
The MaxHeap in the 3rd test case has one level of swaps and misses the case when there are multiple levels of swaps and that's why the above code passes it.

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/10-coding-interview-prep/data-structures/insert-an-element-into-a-max-heap.md

[2021-11-26 11:26] foolhardy21 commented on #43778
Hi, please let me know if I have to correct something. I would like to contribute more.

[2021-11-26 13:35] joanmdavis opened #44293 "Broken link on Scientific Computing with Python project pages"
## Affected pages
The link to the Learn Python Video Course is broken on these  pages:

* [Arithmetic Formatter](https://www.freecodecamp.org/learn/scientific-computing-with-python/scientific-computing-with-python-projects/arithmetic-formatter)
* [Time Calculator](https://www.freecodecamp.org/learn/scientific-computing-with-python/scientific-computing-with-python-projects/time-calculator)
* [Budge

[2021-11-26 21:19] sidemt opened #44297 "Mistake in the title of Project Euler Problem 283, "area * perimeter" should be "area / perimeter""
The current title is:
"Problem 283: Integer sided triangles for which the area * perimeter ratio is integral"

But it should be:
"Problem 283: Integer sided triangles for which the area / perimeter ratio is integral"

It is "/" on Project Euler's official site: https://projecteuler.net/problem=283

## Affected page

Coding Interview Prep > Project Euler > Problem 283: Integer sided triangles for w

[2021-11-27 08:25] gourcool commented on #44293
It is working fine you can check now

[2021-11-27 19:20] sidemt opened #44303 "Missing whitespace after a MathJax tag in "Problem 331: Cross flips""
I think we are missing a whitespace after the MathJax tag `$N × N$` in the following sentence.
[code]
Although it is rendered properly on the curriculum site, it is causing unnecessary QA warning on Crowdin translation platform. (See the screenshot below)

## Affected page
Coding Interview Prep > Project Euler > Problem 331: Cross flips
https://www.freecodecamp.org/learn/coding-interview-prep/proj

[2021-11-27 19:59] gikf commented on #44303
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/10-coding-interview-prep/project-euler/problem-331-cross-flips.md

Please make sure you read [our guide

[2021-11-27 22:27] sstonaker commented on #44303
I have submitted a pull request in an attempt to address this issue.

[2021-11-28 00:54] joanmdavis commented on #44293
I checked again and still get a 404 error for the Learn Python Video Course link on all the project pages.

[2021-11-28 02:05] chapuawe2 opened #44306 "Javasript Sets not logging on freeCodeCamp editor"
## Affected page

Javascript Code Editor

## To reproduce

Steps to reproduce the behavior:

1. Write the following code;
`const test = new Set([1,2,3,4,5]);`
`console.log("Output:", test);`

## Expected behavior

`Output: Set(5) { 1, 2, 3, 4, 5 }`

## Screenshots

![image](https://user-images.githubusercontent.com/46639243/143726075-59b66ac2-9bed-4cb3-a663-342446b229a8.png)

## System

- Device:

[2021-11-28 02:17] lasjorg commented on #44306
Same goes for Map.

[code]

I don't believe we teach Set or Map anywhere so it's maybe not super relevant. But the output should be as close to the browser console as possible I would think.

[2021-11-28 05:42] iLtc opened #44310 "Build a Nightlife Coordination App: Demo app is not working"
## Affected page

https://www.freecodecamp.org/learn/coding-interview-prep/take-home-projects/build-a-nightlife-coordination-app

## Your code

[code]

## Expected behavior

When I click the demo app link (https://yoyo44.herokuapp.com/), the demo app should pop up.

## Screenshots

<img width="1621" alt="Screen Shot 2021-11-27 at 9 41 24 PM" src="https://user-images.githubusercontent.com/4352234/1

[2021-11-28 17:57] gikf opened #44315 "Outdated reference to /utils/dasherize.js in docs"
In the _The `dashedName` Property_ section of _Curriculum File Structure_ documentation there's reference to `/utils/dasherize.js` file. That file no longer exists, and the relevant helper function is now in https://github.com/freeCodeCamp/freeCodeCamp/blob/main/utils/slugs.js file. It's needed to point to the correct file and/or adjust the wording in the section.

## Affected page

https://contri

[2021-11-29 05:22] #44303 closed

[2021-11-29 16:26] #44297 closed

[2021-11-29 18:51] ShaunSHamilton commented on #39719
Last I checked, this is resolved. Closing

[2021-11-29 18:51] #39719 closed

[2021-11-29 19:57] #44264 closed

[2021-11-29 20:43] #44269 closed

[2021-11-29 21:48] #44315 closed

[2021-11-29 23:16] shenlong3010 commented on #44293
None of them are broken anymore

[2021-11-30 01:14] joanmdavis commented on #44293
I tried the links again and still got 404.  I might not have been clear in my initial issue report. These are the steps I take to reproduce the error:

1. Go to the [Arithmetic Formatter project](https://www.freecodecamp.org/learn/scientific-computing-with-python/scientific-computing-with-python-projects/arithmetic-formatter) page.
2. Click the link [Learn Python Video Course ](https://www.freecod

[2021-11-30 05:46] #44249 closed

[2021-11-30 05:54] raisedadead commented on #44306
cc @freeCodeCamp/dev-team

[2021-11-30 11:05] ojeytonwilliams opened #44330 "Toggling night mode through the hamburger menu is silent"
## Affected page

All pages.

## To reproduce

Steps to reproduce the behavior:

1. Go to /settings
2. Toggle campfire mode on
3. Toggle night mode via the button (not the menu)
4. Hear pleasing guitar sounds
5. Toggle night mode via the hamburger menu
6. Hear the silence of the void

## Expected behavior

I expected to hear pleasing guitar sounds in both cases.

[2021-11-30 21:18] Gers2017 commented on #44249
Yeah I tested the project and it passed all the tests. I suppose it was fixed after I created the issue
@nhcarrigan thank you for letting me know

[2021-11-30 22:41] nhcarrigan commented on #44330
So in the prototype I had to rip this feature out, presumably because of that whole saga mess as well (it was causing issues where sound stopped playing if the camper clicked that toggle).

Wouldn't be too difficult to add back in. I propose we block this until #44320 is landed, and then open it up for `help wanted`.

[2021-11-30 23:50] ShaunSHamilton commented on #44330
Provided the current bug in #44320 is resolvable, it should close this.

[2021-12-01 04:16] #44245 closed

[2021-12-01 06:13] raisedadead commented on #44310
@moT01 let's transfer over the source code to the demo projects and get it hosted like the others.

[2021-12-01 10:17] #43049 closed

[2021-12-01 15:00] moT01 commented on #39666
If anyone is interested, the process would be to take the source code of each project from the [testable-projects repo](https://github.com/freeCodeCamp/testable-projects-fcc/tree/main/src/projects), maybe clean it up if needed at all, and move it to the [demo-projects repo](https://github.com/freeCodeCamp/demo-projects)

[2021-12-01 15:10] blentz100 commented on #38682
It took me a few days to solve this challenge. I ended up learning alot in the process - I might have learned more because of the ordering issue. If it can't be reordered - perhaps consider adding a disclaimer within the challenge. Something to the effect of: "some campers have found this challenge to be extra difficult, consider skipping it, doing all the others challenges and then doing this one

[2021-12-01 18:45] #44330 closed

[2021-12-01 21:48] ShaunSHamilton commented on #38682
@blentz100 Thank you, for commenting. This has come up before: https://forum.freecodecamp.org/t/restrict-possible-usernames-solution-requires-knowledge-not-introduced/395660/7

The challenge is very much completable solely with knowledge from previous lessons. Whilst the challenge can be considered _more difficult_ than any previous challenge, many Campers have been able to complete it, and, where

[2021-12-02 00:25] longjay6 opened #44354 "Still have issues with Override All Other Styles by using Important"
I followed the video of how to override with !important. However, it still shows that I my H1 element should have pink-text and blue-text.

My work:

[code]
Update: I had a probelm with google and switched to firefox. I was able to get passed it. Hope this helps other people.

[2021-12-02 12:40] raisedadead commented on #44354
Hi.

Thanks for reaching out.

We require you to fill in [the template presented to you](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/.github/ISSUE_TEMPLATE/01--issues-with-coding-challenges.md?plain=1) when you opened this issue. That helps us help you, and take an issue report seriously.

Please add details like a link to the affected page, your system details etc. That will help us re

[2021-12-02 17:22] moT01 opened #44364 "Remove normalize from /learn preview"
We discussed that the desired goal of the preview on /learn challenges would be to have it behave exactly (ideally) as a browser would natively. Things like how browsers have a margin by default. Right now, we use normalize to get rid of those things. So if a user writes code in our editor and sees it one way, then moves it to locally or hosted somewhere, it may look different. Wondering if we sho

[2021-12-02 23:47] ShaunSHamilton commented on #44364
@moT01 A few of the projects already do have those kinds of steps:

- [Learn Accessibility by Building a Quiz](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/01-responsive-web-design/learn-accessibility-by-building-a-quiz/step-001.md) - already has normalisation in boilerplate
- [Learn CSS Flexbox by Building a Photo Gallery](https://github.com/freeCodeCamp/fr

[2021-12-03 05:57] sidemt opened #44367 "Missing instruction and test case in "Problem 461: Almost Pi""
According to Project Euler's official site, the following string is missing at the end of freeCodeCamp's challenge.

[code]

Project Euler Official
https://projecteuler.net/problem=461

Since the function is renamed to `almostPi` in the freeCodeCamp's challenge, the missing string should be:
[code]

If we were to provide the same content as the Project Euler's site, it seems the test for `almostPi

[2021-12-03 07:45] gikf commented on #44367
That wasn't added on purpose when challenge was reworked, with current added solution internal tests would always time out. The same would be very likely for any solution user might try to submit (this is also applying to a number of other _Project Euler_ problems that weren't yet reworked). See #41333.

I guess there could be added some note that original problem was considering way higher input

[2021-12-03 09:14] sidemt commented on #44367
@gikf Sorry I didn't notice there have been reworks for these challenges.
But I still think the instruction is missing at the end. I guess we should add "Write a function almostPi to fulfill the above conditions" or something like that?

[2021-12-03 16:15] #40595 closed

[2021-12-04 05:28] rahulv1997 commented on #15471
<style>
.smaller-image
{
   width: 100px;
    }

</style>

<img  src="https://bit.ly/fcc-relaxing-cat" class="smaller-image"/>
<img class="smaller-image" />

[2021-12-04 08:25] renovate[bot] opened #44379 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Pending Approval

These branches will be created by Renovate only once you click their checkbox below.

 - [ ] chore(deps): update dependency @rollup/plugin-commonjs to v21
 - [ ] chore(deps): update dependency @testing-library/cypress to v8
 - [ ] chore(d

[2021-12-04 18:20] danfarrow commented on #44354
There’s a typo in the HTML which may or may not be part of the issue:

[code]

should be:

[code]

[2021-12-04 18:23] raisedadead commented on #44354
Thanks for clarifying, @danfarrow

The original issue is better suited for our community in the ask for the help section. I am going to go ahead and close this issue.

Happy coding!

[2021-12-04 18:23] #44354 closed

[2021-12-05 15:23] MattDClarke opened #44389 "Create a Linked List Class - Problem with test"
## Affected page
[Create a Linked List Class](https://www.freecodecamp.org/learn/coding-interview-prep/data-structures/create-a-linked-list-class)

## Your code

Code from the [freeCodeCamp Challenge guide solution](https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-create-a-linked-list-class/301628):
[code]

## Expected behavior

If the while loop is removed from the [solution code](ht

[2021-12-05 22:10] nickmccullum commented on #44293
I am getting this problem too.

[2021-12-06 01:56] iam-sandeep commented on #39190
This will work but you change the version of the helmet on other task

"dependencies": {
    "express": "^4.14.0",
    "helmet": "2"
}

[2021-12-06 13:33] sumitdadwal opened #44395 "Broken Link on- A fast new way to find people in your city to code with page"
I have recently found a broken link in this article on freecodecamp:
A fast new way to find people in your city to code with

the line where link is located is:

The link should lead to this URL:
https://study-group-directory.freecodecamp.org/

But instead it is leading to:
https://www.freecodecamp.org/study-group-directory

Which is showing 404 error.

screenshot
![freecodecamp](https://user-imag

[2021-12-07 08:29] gikf commented on #44395
Could you confirm that's this article? https://www.freecodecamp.org/news/the-fastest-way-to-find-people-in-your-city-to-code-with-c71c956456c8/

Link I'm seeing there is the one first one - https://study-group-directory.freecodecamp.org/

[2021-12-07 09:20] lasjorg opened #44400 "Set up Passport challenge: Allow for space after "secret" key in object"
The current regex will fail with this code.

`secret : process.env.SESSION_SECRET`

Forum: https://forum.freecodecamp.org/t/set-up-passport-session-and-session-secret-should-be-correctly-set-up/487881

Challenge: https://www.freecodecamp.org/learn/quality-assurance/advanced-node-and-express/set-up-passport

Tests: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english

[2021-12-07 12:44] sumitdadwal commented on #44395
I already informed it to the editorial team and they fixed it. Sorry I did not close the issue.

[2021-12-07 12:44] #44395 closed

[2021-12-07 12:44] sumitdadwal commented on #44395
fcv

[2021-12-07 14:32] cenkberry commented on #44040
campfire mode is so good , I liked...

[2021-12-07 17:43] justinrobinson1020 commented on #44400
I would like to work on this issue

[2021-12-07 19:21] raisedadead opened #44408 "FAQ about community leadership"
We want to encourage offering help as a leader within the community and document something in the FAQ of our contributing docs.

The idea is to point interested people in the right direction, whereby they can offer meaningful help and establish their credibility over a period of time. This should essentially help them in becoming a member of our awesome @freeCodeCamp/moderators team.

Please see m

[2021-12-07 19:24] nhcarrigan opened #44409 "Creating a "How to become a moderator" Guide?"
Original discussion: https://github.com/freeCodeCamp/freeCodeCamp/pull/44399#discussion_r764152816

We are looking in to the possibility of creating a guide for campers who are interested in becoming a moderator for one or more of our platforms. While we still intend to take the approach of **selecting moderators from active contributors in our community**, it might be beneficial for people to hav

[2021-12-07 19:24] nhcarrigan commented on #44409
Closing in favour of #44408 - Mrugesh was slightly faster than I was 🙂

[2021-12-07 19:24] #44409 closed

[2021-12-07 19:26] nhcarrigan commented on #44408
Ideally, I'd like to have an outline for each of our platforms, i.e. Forum, Chat/Discord, GitHub.

[2021-12-07 22:09] #44400 closed

[2021-12-07 23:35] #44364 closed

[2021-12-08 00:43] ShaunSHamilton commented on #44293
@beaucarnes I am not actually sure which resource this is/was supposed to link to. Do you have any idea what happened here?

[2021-12-08 01:22] ShaunSHamilton commented on #44306
My best guess is it has to do with the `.toString()` on the log here:
https://github.com/freeCodeCamp/freeCodeCamp/blob/cd9be3c291f5b4220ace46ce7f59a1b6418c1498/client/src/client/workers/test-evaluator.ts#L41-L47

But debugging has been a pain because that file does not hot-reload in the client.

[2021-12-08 06:49] ahmadabdolsaheb commented on #44040
@kamatheuska, thanks for the question. It would help with reducing cognitive load. I think we should only display what we have to to keep the UI as simple as possible. That being said, this is only an opinion. I don't have hard data on the matter.

[2021-12-08 14:08] beaucarnes commented on #44293
The missing link is for an article. I think this is the new link for the article: https://freecodecamp.org/news/learn-python-basics-in-depth-video-course/

Someone must have changed the link URL to get better SEO but didn't realize it was in the curriculum.

My suggestions is that we remove that link completely. I think we should remove the following text from all of the challenges linked above:
`

[2021-12-08 14:18] ShaunSHamilton commented on #44293
Yes, I am happy to have that text removed. I cannot imagine it is used/needed much by Campers who have reached the projects page.

[2021-12-09 04:29] raisedadead commented on #44408
Thanks, @nhcarrigan - I agree on an outline for each of the platforms is useful.

Side note: Here is some recommendation from Ariel in the earlier discussion:

For anyone interested in working on this we are welcoming proposals on the verbiage for the FAQ. We would love to hear and add the outline based on first-hand feedback from community leaders & contributors such as you.

[2021-12-09 04:41] raisedadead commented on #44408
And just to kick off the thought process, the idea is to have a FAQ that reads like so (or along the lines of):

--

### I am interested in being a moderator at freeCodeCamp. Where do I start?

Our community moderators are our heroes. Their voluntary contributions make freeCodeCamp a safe and welcoming community.

First and foremost we would need you to be an active participant in the community, a

[2021-12-09 09:40] Sembauke commented on #44306
I think it is because a `Map` does not have a instance of the `map` function

[2021-12-09 09:42] Sembauke commented on #44306
I think it is because a `Map` does not have an instance of the `.map()` function.

[2021-12-09 20:39] kamatheuska commented on #43778
@Ismailtlem @moT01  Hi there! I was wondering if we can think on a better way to check if there is an open PR for a certain file.

When I [created this PR]( https://github.com/freeCodeCamp/freeCodeCamp/pull/44251#issuecomment-989482443), and used the method suggested above (or somewhere else, I don't remember xD) to check for that, and there were none listed.

It was a fairly small contribution an

[2021-12-10 01:43] joshuaadamhenderson opened #44449 "Unusual comma characters"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
Some commas that haven't been there before have appeared under the output for certain tutorials recently. On the Bootstrap tutorial, one comma appears at the top of the output window, and during React tutorials

[2021-12-10 01:49] joshuaadamhenderson commented on #44449
![ss2](https://user-images.githubusercontent.com/47343175/145503576-ae6c44fd-4594-4896-ae14-cf7ad692c5c9.jpg)
![ss1](https://user-images.githubusercontent.com/47343175/145503580-e1f5f39d-0684-445f-836b-5d810c9ea89c.jpg)
![ss3](https://user-images.githubusercontent.com/47343175/145503582-90a0e9e6-db40-40e7-8424-63c4500a3242.jpg)

[2021-12-10 05:57] gikf commented on #44449
Issue seems to appear first in https://github.com/freeCodeCamp/freeCodeCamp/commit/86cc7579452e5975567529a4c254445d51ace167

[2021-12-10 09:47] rahulv1997 opened #44452 "SyntaxError: Unexpected token 'const'"
function freeObj()
 const MATH_CONSTANTS = {
    PI: 3.14.
};
 Object.freeze(MATH_CONSTANTS);
try {
    MATH_CONSTANTS.PI = 99;
  } catch(ex) {
    console.log(ex);
  }
  return MATH_CONSTANTS.PI;
 const PI = freezeObj(MATH_CONSTANTS);

SyntaxError: Unexpected token 'const'
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loader:1031:15)
    at Module._comp

[2021-12-10 11:25] ShaunSHamilton commented on #44452
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions with

[2021-12-10 11:25] #44452 closed

[2021-12-10 13:01] Ismailtlem commented on #43778
Hi @kamatheuska

You can use this tool https://tools.freecodecamp.org/ to check if some file is included in a PR or not

[2021-12-10 14:28] kamatheuska commented on #43778
Yeah, I used that one, and no PR's were created at that time for the files migrated in my PR. I could have used wrongly, since I cannot find any docs on how to write a query for it.

[2021-12-10 14:44] ShaunSHamilton commented on #43778
@kamatheuska The two PRs which migrated the same components were
- https://github.com/freeCodeCamp/freeCodeCamp/pull/43966 `landing/index.tsx` (opened 22/10)
- https://github.com/freeCodeCamp/freeCodeCamp/pull/43889 `landing/landing.test.tsx` (opened 15/10)

The important thing to remember about using the above mentioned tool is to use the original name of the file to search (not the migrated name

[2021-12-10 15:02] kamatheuska commented on #43778
That's awesome  feedback, thanks! @ShaunSHamilton

[2021-12-10 18:52] ShaunSHamilton commented on #44449
Thank you, for taking the time to report this.

As correctly pointed out above, the `heads` variable is an array, but it is being input directly into the template literal on line `110`.

This should be a simple fix.

An issue with the _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other

[2021-12-10 23:49] bbsmooth commented on #42304
I don't know how detailed you want to get for the explanation. This one is more of a high level explanation found on the [MDN tabindex documentation](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex). I've modified it slightly.

"Avoid using tabindex values greater than 0. Doing so may make it difficult for people who rely on a keyboard or other assistive technology to

[2021-12-11 03:33] luojiyin1987 opened #44468 "create-new-middleware challenges， about pug set code，can more simple"
## Affected page
https://www.freecodecamp.org/learn/quality-assurance/advanced-node-and-express/create-new-middleware

## Your code
[code]
it set pug as view engine, and   set  Express look for your templates in  './views/pug'

so   the code
[code]
can write into
[code]

[2021-12-11 04:05] shayaneshwar opened #44469 "unclear code instructions"
## Affected page

## Your code

[code]

## Expected behavior

## Screenshots

## System

- Device: [e.g. iPhone6, Laptop]
- OS: [e.g. iOS 14, Windows 10, Ubuntu 20.4]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

## Additional context

[2021-12-11 04:27] raisedadead commented on #44469
Hi,

Thanks for this report.

I recommend you first create a post on the forum with succinct details of the issue that you are facing. If others facing the same someone will surely guide you to report it as a bug here on GitHub.

As is we are going to have to close this.

Happy Coding.

[2021-12-11 04:27] #44469 closed

[2021-12-11 04:35] raisedadead commented on #44468
Hey there,

We understand you are having trouble with this challenge, could elaborate a bit more on this? It's unclear to us the exact issue you are facing.

Apologies in advance, if you did mean to post the issue report in the English version of the challenge, but we also have a Chinese language forum and this same challenge translated in Chinese here if that might help:

- https://chinese.freeco

[2021-12-11 07:16] luojiyin1987 commented on #44468
I  pass the challenge,   but I want write  more  clear code    @raisedadead

[2021-12-11 07:37] luojiyin1987 opened #44470 "the "Get a Hint" info is no use, in "registration-of-new-users" challenges"
## Affected page

https://www.freecodecamp.org/learn/quality-assurance/advanced-node-and-express/registration-of-new-users

click "Get a Hint" button   will to url
https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-registration-of-new-users/301561

but hint info is no use,   I change it ,but I can not pass challenges

at the end  I write  is to pass challenges
[code]

[2021-12-11 07:55] raisedadead commented on #44468
Thanks for confirming.

I would recommend you to post this on the forum for help with your solution to the challenge. This issue tracker is not for coding help, we are using it to only track bugs on the learning platform.

Happy coding!

[2021-12-11 07:55] #44468 closed

[2021-12-11 08:23] ieahleen commented on #44470
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions with

[2021-12-11 08:35] luojiyin1987 commented on #44468
ok

[2021-12-11 08:37] luojiyin1987 commented on #44470
ok

[2021-12-11 14:36] chapuawe2 opened #44475 "Exercise Tracker - Issue with one test case due to timezones"
## Affected page

[Exercise Tracker Project](https://www.freecodecamp.org/learn/back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker)

## Your code && Screenshots

You can check it deeply in the forum post: [Forum Post](https://forum.freecodecamp.org/t/exercise-tracker-datestring-format/488362)

## Expected behavior

To pass all test cases

## System

- Device: Lap

[2021-12-11 14:40] JakobBanes commented on #44449
Hi, I'm fairly new to github. I'm reading over contribution guidelines and will try to make a PR tonight.

[2021-12-11 15:39] sidemt opened #44476 ""Expand courses" and "Collapse courses" cannot be displayed correctly in Japanese"
In the screenshot below, "Expand courses" and "Collapse courses" are displayed by combining 3 strings `Expand` `Collapse` and `Courses` taken from `/client/i18n/locales/english/intro.json`

Can we change the translatable strings to `Expand courses` and `Collapse courses` ?
Not `Expand` + `Courses` and `Collapse` + `Courses` .

It is difficult to translate them correctly into a language with differ

[2021-12-11 19:33] #44449 closed

[2021-12-11 22:58] Canopius commented on #44306
Set is used in this [task ](https://www.freecodecamp.org/learn/coding-interview-prep/data-structures/create-a-set-class) under the coding interview prep section.

While using `console.log` is not specifically required for the task, the example code shown does have `console.log(set1)` with an expected output underneath which with this bug will not be displayed in the output. This would be quite mis

[2021-12-12 17:17] yessGlory17 opened #44479 "HELP PLEASE"
Failed loading boot script: /home/ozgur/Masaüstü/Open-Source/freeCodeCamp/api-server/src/server/boot/certificate.js
Error: Cannot find module '../../../../config/curriculum.json'
Require stack:
- /home/ozgur/Masaüstü/Open-Source/freeCodeCamp/api-server/src/server/utils/get-curriculum.js
- /home/ozgur/Masaüstü/Open-Source/freeCodeCamp/api-server/src/server/boot/certificate.js
- /home/ozgur/Masaüstü

[2021-12-12 17:34] ShaunSHamilton commented on #44479
Hello there,

For assistance with setting up freeCodeCamp locally, we recommend you reach out on either the [forum](https://forum.freecodecamp.org/) or the [Chat server](https://chat.freecodecamp.org/). As such, I am going to close this issue.

---

As for this error:
- It usually comes about due to an error during `npm run develop`. We suggest:
  a) Ensure you have the latest changes from `freeCo

[2021-12-12 17:34] #44479 closed

[2021-12-12 17:44] yessGlory17 commented on #44479
Thank you so much :tada:

[2021-12-12 18:08] kppk1985 opened #44480 "freecode"
<a href="https://gitpod.io/#https://github.com/freeCodeCamp/freeCodeCamp/pull/44474"><img src="https://gitpod.io/button/open-in-gitpod.svg"/></a>

_Originally posted by @gitpod-io[bot] in https://github.com/freeCodeCamp/freeCodeCamp/issues/44474#issuecomment-991656403_

[2021-12-12 18:08] #44480 closed

[2021-12-13 19:39] moT01 opened #44488 "Add a test bypass mode in development"
Testing challenges in development can be tough. I propose a `TEST_BYPASS_MODE` we can use in development to make the challenges always pass the tests.

[2021-12-13 19:50] ShaunSHamilton commented on #44488
Are you proposing just a flag to ignore all tests? Or, the ability to submit without passing?

Or, something more like `AUTOMATICALLY_ADD_EXPECTED_SOLUTION_MODE`?

[2021-12-13 20:35] moT01 commented on #44488
Either way would work. Ignore the tests was what I had in mind and would probably quite easy to implement.

[2021-12-14 00:39] lasjorg opened #44494 "Advanced Node and Express: Set up a Template Engine"
It would be nice if the example code given in [the Gist](https://gist.github.com/camperbot/3515cd676ea4dfceab4e322f59a37791) followed the [express docs](http://expressjs.com/en/guide/using-template-engines.html) on how to set up the template engine.

I also think the challenge is pretty vague about how to do it. Shouldn't it be teaching how to do it using `app.set` for the views path like the docs

[2021-12-14 11:18] ahmadabdolsaheb commented on #38308
Do we still need this?

[2021-12-14 11:45] ojeytonwilliams commented on #38308
We've just been pinning when there's a freeze and unpinning when it's done. I think we should keep the issue around for next time.

[2021-12-14 17:30] joanmdavis commented on #44293
@raquelocasio The [Curriculum File Structure](https://contribute.freecodecamp.org/#/curriculum-file-structure) page should help.

[2021-12-15 12:34] ShaunSHamilton commented on #44494
Hey Lasse,

I am obviously biased, but I think the description is quite explicit.

🤷‍♂️ It _can_, but, ultimately, I see nothing incorrect about the way the lesson shows it.

---

To clarify what you think would help?:

- Change lesson to teach what `app.set('views')` does from an Express point of _view_ 😉
- Change Gist (answer) to use `app.set('views')`, because it is mentioned in Express docs

[2021-12-15 15:24] lasjorg commented on #44494
Both, I think it would be helpful if we followed the [express docs](https://expressjs.com/en/guide/using-template-engines.html) so that if people look up how to set the view path in the docs it matches. So teach `app.set` for setting the path and make the example reflect it has well.

I realize there are multiple ways of doing it but using `app.set` seems the most straightforward and as said would

[2021-12-16 04:53] ColinSidberry commented on #44389
Can I take this one?

[2021-12-16 11:26] ojeytonwilliams opened #44514 "DX: hot-reloading challenges is broken."
## Affected page

All challenges in development.

## To reproduce

Steps to reproduce the behavior:

1. `npm run develop` in terminal
1. Go to localhost:8000/learn/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements
2. Open curriculum/challenges/english/01-responsive-web-design/basic-html-and-html5/say-hello-to-html-elements.md in your editor
3. Change some text below --descripti

[2021-12-16 21:38] chapuawe2 commented on #44475
I suggest to check in the client side with .toUTCString() and to modify the content of the requirements to encourage the user to implement .toUTCString() at the output of the server.

[2021-12-17 14:02] Lindakay82 opened #44521 "I help better understanding"
## Affected page

## To reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## System

- Device: [e.g. iPhone6, Laptop]
- OS: [e.g. iOS 14, Windows 10, Ubuntu 20.4]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

## Additional context

[2021-12-17 14:10] ShaunSHamilton commented on #44521
Hello there,

As this issue does not contain enough information for us to debug or help, it is invalid. Therefore, I am closing this issue.

If you accidentally opened this, then there is not need to do anything. However, if you still are encountering an issue, then please edit your description to include useful information such as:

- What you are trying to accomplish
- What the expected behaviou

[2021-12-17 14:10] #44521 closed

[2021-12-18 06:32] miyaliu666 commented on #44470
@luojiyin1987 passed this challenge, and he meant the hint was not helpful. Anyone wants to check the hint? Thanks!

[2021-12-18 06:37] miyaliu666 commented on #44468
I just met with @luojiyin1987 during the Chinese contributors meeting. He meant the code in the challenge could be improved. Could you check the challenge and confirm if it's necessary? Thanks! @raisedadead

[2021-12-18 08:12] raisedadead commented on #44468
While in practice the code that the OP shared is better, this challenge's scope (and for that matter any challenge on freeCodeCamp) is not to teach best practice while teaching a concept.

The idea is to limit the scope of the lesson to get the concept across without too many abstractions.

IMHO, the code in the current lesson eliminates the need for teaching setting options which are covered else

[2021-12-18 13:52] ieahleen commented on #44476
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues with contribu

[2021-12-18 13:54] ieahleen commented on #44470
@miyaliu666 the hints are a forum post, to suggest changes to the guild you can open a thread in the forum

[2021-12-18 22:54] Waqasahmad145 opened #44526 "Server crashes frequently"
The server is crashing frequently while accessing the javascript course, by refreshing the page it stucks in a loop of loading bars not enabling me to enter my profile. It would be really helpful for me if resolved. Thank you.

[2021-12-18 23:08] ShaunSHamilton commented on #44526
Hello there,

Would you be able to provide more information? We are unaware of any issue with the platform, and I am unable to produce such issue.

1) What browser and version are you using? (we suggest the latest version of Chrome)
2) Do you have any browser extensions with access to `freecodecamp.org`? (we suggest disabling all extensions)
3) What OS are you using?

[2021-12-18 23:11] Waqasahmad145 commented on #44526
1. Chrome (lasted version)
2. None
3. Windows

Thank you for considering.

[2021-12-18 23:19] Waqasahmad145 commented on #44526
It seems to be with javascript course only I assume. Firstly, once I run the tests for my challenge, it prompts me to submit and move to the next challenge but it crashes and becomes unresponsive. After that, when I refresh the page, it logs me out and loading bars are on a loop. After 2 to 3 mins it lets me in, one challenge later, all happens again.

[2021-12-19 13:59] PrashantSakre commented on #44476
Hi team, Do I have to change all intro.json files with there respective languages ? Or is handled through Crowdin translation ?

[2021-12-20 14:58] ahmadabdolsaheb commented on #43668
Here are a few considerations:

- Preferably we would want to have one RWD on the map (might be a personal preference, but sounds more intuitive).

- Additionally, we would need a way to navigate between the two versions of the curriculum. An alert section with a button should do)

- Since the new curriculum, editor, etc has not been tested by users yet and a large segment of our user are going to

[2021-12-20 17:24] #44476 closed

[2021-12-20 22:14] IbrahimSaffi commented on #44526
It is happening to me too for last two days. Now I have enabled VPN and it is working fine. So it could be location based issue. If issue repeats under VPN I will comment here.

[2021-12-21 02:07] moT01 commented on #44514
I was having issues with the hot reloading when trying to review the last practice project. Dug into it a little - I used a combo of the block and dashed name of the challenge for the gatsby id: ``{ id: `${challenge.block}-${challenge.dashedName}` }`` - no issues that I noticed. Might be one way to go that would probably work.

[2021-12-21 03:32] Waqasahmad145 commented on #44526
Thank you for considering. Working fine with VPN.

[2021-12-21 07:23] ojeytonwilliams commented on #44514
Good thinking! It would need to be something that's definitely unique, though. A sub-path like `responsive-web-design/basic-html-and-html5/say-hello-to-html-elements` would be guaranteed to be unique.

[2021-12-21 13:34] #44526 closed

[2021-12-21 20:19] ShaunSHamilton opened #44546 "Index Pages for Blocks"
Currently, we have pages such as [/basic-html-and-html5/](https://www.freecodecamp.org/learn/responsive-web-design/basic-html-and-html5/) coming from: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/pages/learn/responsive-web-design/basic-html-and-html5/index.md

Re: https://github.com/freeCodeCamp/freeCodeCamp/pull/44545

Do we want to keep all the old pages around, as well as a

[2021-12-22 04:17] #44470 closed

[2021-12-22 04:23] raisedadead commented on #44470
To elaborate what @ieahleen mentioned:

- Challenge hints are a helping tool. They are normally posted on the forum and updated when needed with help of the community moderators and contributors. These are not a bug per se, in the curriculum or the codebase.
- We are keeping this tracker to keep the discussions & threads for issues/bugs in codebase only. I think it's best to post on the forum firs

[2021-12-22 16:04] iRachana06 opened #44555 "`basic-node-and-express/use-the--env-file` - unable to proceed as test case failing"
Even after completing test case , getting error message - The response of the endpoint /json should change according to the environment variable MESSAGE_STYLE

## Affected page

https://www.freecodecamp.org/learn/back-end-development-and-apis/basic-node-and-express/use-the--env-file

## Your code

[code]

Env Variable is also set:
![image](https://user-images.githubusercontent.com/68515362/1471213

[2021-12-23 08:11] miyaliu666 commented on #44470
@raisedadead @ieahleen Thanks for the details. I've told @luojiyin1987 to report on the English forum.

[2021-12-23 16:27] #44408 closed

[2021-12-23 20:04] gikf commented on #44555
This passed for me, after moving `const mySecret = process.env['MESSAGE_STYLE']` into the callback function.

[2021-12-24 14:16] MarkPinto opened #44588 "Missing possible edge cases in Sorted Union challenge"
## Affected page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/sorted-union

## Your code

[code]

## Expected behavior

The code above should not pass the challenge however it does. For example uniteUnique([1, 3, 2, 3], [5, 2, 1, 4], [2, 1]) returns [ 1, 3, 2, 3, 5, 4 ]. [ 1, 3, 2, 3, 5, 4 ] has two 3s in it but it still pass the ch

[2021-12-24 21:30] ieahleen commented on #44555
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions with

[2021-12-24 21:30] #44555 closed

[2021-12-26 04:45] jeremyfiel commented on #40674
hi @ShaunSHamilton

This remains as a blocker for anyone using github clone to work on this section.

I have an Azure static web app of the site up and running but there is no `_api/` route for the test to read the `package.json` file.

The only way this challenge is passed is by using repl.it because they are exposing that endpoint.   Can these tests be updated to allow for any hosting of this ch

[2021-12-26 12:44] Ismailtlem commented on #41580
Hi everyone,
I am interested in taking part in this effort, I've made a Draft PR for the image component. Any feedback would be greatly appreciated

[2021-12-27 00:50] hacksanuj opened #44591 "Set the font-size for Multiple Heading Elements challenge not working"
## Affected page

https://www.freecodecamp.org/learn/responsive-web-design/applied-visual-design/set-the-font-size-for-multiple-heading-elements

## Your code

[code]

## Expected behavior

I have tried all the possible solution for this challenge, but it's not working. I have even tried the official solution, but it's not working. Only the h1 tag is working correctly and getting correct. The othe

[2021-12-27 04:05] jdwilkin4 commented on #44591
HI @hacksanuj !

The code you have shared works on my end. Please ensure that you have disabled any extensions that interface with the freeCodeCamp website (such as Dark Mode and Ad Blocker), and set your browser zoom level to 100%. Both of these factors can cause tests to fail erroneously.

You can also try another browser without extensions.
I ran the tests on google chrome without extensions an

[2021-12-27 04:05] #44591 closed

[2021-12-27 05:36] bbsmooth opened #44593 "Broken CSS property tests in new RWD certification when using Firefox"
## Affected page

There are multiple pages affected. I will use [step 25](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-25) in the Learn Accessibility by Building a Quiz course as an example.

When using Firefox, the code check is erroneously failing for `border: 0`. The current assert for this test is

[code]

Chrome-based browsers do re

[2021-12-27 05:54] gikf commented on #44593
Thanks for opening this issue.

As this sounds like a single issue type affecting multiple steps, one PR with multiple steps fixed seems right.

[2021-12-27 06:14] hacksanuj commented on #44591
Thanks, It's working now.
Although it was not working in brave browser, so I installed Firefox, and it worked there.

[2021-12-27 11:44] marsonya commented on #44588
I would like to help with this issue.

[2021-12-27 17:03] xoxoKaralee opened #44596 "RWD Beta, Create Cafe Menu, Cinnamon is spelled wrong."
## Affected page

Problem begins at Step 53 and continues throughout the rest of the tutorial (Step 92)
https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/step-53

## To reproduce

Am able to see in private browsing mode too.

## Recommended fix, suggestions

Wherever the code is located that has the word "Cinammon", fixing the spelling error so i

[2021-12-27 18:46] najmieh commented on #44596
I added a PR for this https://github.com/freeCodeCamp/freeCodeCamp/pull/44597
and appreciate any feedbacks :)

[2021-12-27 19:02] bbsmooth commented on #44593
I found/fixed three firefox-specific issues in the learn-accessibility-by-building-a-quiz course and have submitted a PR for them. This issue wasn't necessarily specific to just that course. I'm assuming there are other courses in the new beta that will also have this problem. I'm happy to start going through them as well. Do we want to keep this issue open as an umbrella issue for all of the cour

[2021-12-27 19:18] najmieh commented on #44593
Kinda a PR Collision! I can update mine for all the issues. Please let me know if I can do an update for this https://github.com/freeCodeCamp/freeCodeCamp/pull/44597 ?

[2021-12-27 19:20] bbsmooth commented on #44593
Since I have all three fixes in my PR, would it not be more convenient to just leave mine and remove yours?

[2021-12-27 19:21] najmieh commented on #44593
Sure. 100% agreed :)

[2021-12-27 19:56] ryangibbons94 opened #44602 "Learn HTML Forms by Building a Registration Form - Step 31 - missing word in instructions"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.
**Re: The BETA Version of the responsive web design course.

In the “Learn HTML Forms by building a registration form” section, in step 31 the prompt asks the

[2021-12-27 20:21] bbsmooth opened #44603 "Unclear instructions for RWD (Beta) / Learn Accessibility by Building a Quiz / Step 38"
## Affected page

[RWD (Beta) / Learn Accessibility by Building a Quiz / Step 38](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-38)

## Explanation

The final instructions for this step say:

"Then, give the `textarea` placeholder text describing an example answer."

Since the instructions mention "placeholder" I think it is safe to assum

[2021-12-27 20:45] gikf commented on #44593
I think this issue can be used for that for now.

[2021-12-28 08:58] Zeiccc commented on #44603
On

[2021-12-28 17:42] bbsmooth opened #44609 "RWD (Beta) Accessibility Anti-Patterns"
## Affected page

[Learn More About CSS Pseudo Selectors By Building A Balance Sheet / Step 44](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-44)
And by extension, steps 45 and 46.

## Discussion

There two accessibility anti-patterns in step 44:

A) Assigning a `tabindex` value greater than 0 to an element
B) I

[2021-12-29 03:06] #44602 closed

[2021-12-29 12:08] ahmadabdolsaheb commented on #41074
@iepsen, I have been experienced this more often when using a lower end device under load.
Also, here is a related issue: https://github.com/AzuraCast/AzuraCast/issues/1420

[2021-12-29 23:04] philsawa opened #44616 ""/" incorrectly required before ">", RWD Beta"
## Affected page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/step-17

## Your code

[code]

## Expected behavior

A) Expected not to see a space and forward slash before the closing less than sign of the meta element.

B)Expected to clear the stage without having to insert a forward slash.

## Screenshots

## System

- Device: LG G6 and Sa

[2021-12-29 23:13] senthusiva opened #44617 ""Learn HTML by Building a Cat Photo App" - Step 36 - Remove the word "is""
## Affected page

## Your code

[code]

## Expected behavior

## Screenshots

## System

- Device: [e.g. iPhone6, Laptop]
- OS: [e.g. iOS 14, Windows 10, Ubuntu 20.4]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

## Additional context

[2021-12-29 23:13] #44617 closed

[2021-12-29 23:24] senthusiva opened #44618 "The challenge description contains an unnecessary word in "Learn HTML by Building a Cat Photo App" - Step 36"
## Affected page
(https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-36)

## System

- Device: [Laptop]
- OS: [Kubuntu 21.10 x86]
- Browser: [chrome]

## Additional context

The challenge description contains an unnecessary word:
The input element **~~is allows~~** you several ways to collect data from a web form.

### The correct way can be:

[2021-12-30 00:58] Kernix13 opened #44620 "Closing tags indenting"
## Affected page

Here are 2 examples:
https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/step-2
https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/step-4

## Your code

Step 2
[code]

Step 4
[code]

## Expected behavior

The closing tags do not align with the opening tag in some lessons after hit

[2021-12-30 01:06] Kernix13 opened #44621 "Correct answer not being accepted in Resp. Web Design (Beta)"
## Affected page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/step-17

## Your code

[code]

## Expected behavior

I expected to get a correct answer after clicking the Check Your Code button but I got an error message instead.

## Screenshots

![link-tag-bug](https://user-images.githubusercontent.com/66497948/147713631-2bafcb81-ea9b-4490-b

[2021-12-30 05:49] gikf commented on #44620
This isn't limited to new curriculum or _Responsive Web Design_. This happens also in _Front End Development Libraries_. This seems to be how Monaco Editor behaves, I'm not sure if there's way to tune that.

[2021-12-30 06:08] gikf commented on #44618
Thank you for reporting this issue.

This was fixed in #44592.

If you think we're wrong in closing this issue, please request for it to be reopened and add further clarification. Thank you and happy coding.

[2021-12-30 06:08] #44618 closed

[2021-12-30 06:11] buntured commented on #44621
Hey @Kernix13, try using the plural `styles.css` instead of singular `style.css`.

![Screenshot](https://user-images.githubusercontent.com/640624/147726274-0db2e05b-add0-4438-a8df-7200403cc211.jpg)

Thank you,
Buntu

[2021-12-30 07:00] bbsmooth commented on #42236
Are you still looking for help with accessibility enhancements for the radio? I'm currently preparing for the Web Accessibility Specialist certification offered by the IAAP and would be happy to help out.

[2021-12-30 08:51] gikf commented on #44616
`meta` is self-closing element, `/` is not required in it, but that don't seem to be an error per se. As far as I can tell both versions with `/` and without are accepted by tests.

Similarly `link` is self-closing, so it appears that both with `/` and without it should be fine. Some tests don't allow version without `/`. Pages that seem to be affected, with specific lines:
[curriculum\challenges\

[2021-12-30 11:56] Alexanderdev478 opened #44622 "javascript lesson 102:"
please there is an issue with that lesson,  i can't continue to the next challenge .. It seems there's a problem with it..

[2021-12-30 12:03] gikf commented on #44622
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions with

[2021-12-30 12:03] #44622 closed

[2021-12-30 13:43] Kernix13 commented on #44620
Got it. So should I click the Close issue button?

[2021-12-30 13:50] Kernix13 commented on #44621
I was really hoping I didn't miss something, and I did. I just changed style.css to styles.css and it worked. Sorry to waste your time.

[2021-12-30 13:50] #44621 closed

[2021-12-30 13:50] ahmadabdolsaheb commented on #42236
Yes, please feel free to take a look.
Additionally, we would also appreciate taking a look at the editor in our new curriculum. Here is a link: https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-1

[2021-12-30 13:56] Ajob41 commented on #42236
What is this for? Sorry I am little confused.

On Thu, Dec 30, 2021, 7:51 AM Ahmad Abdolsaheb ***@***.***>
wrote:

[2021-12-30 15:07] gikf commented on #44620
I wouldn't close it just yet. I know just a little about the editor, others may know how this could be tackled. Just wanted to clarify the scope of the issue.

[2021-12-30 18:51] whitwulf opened #44623 "RWD Ferris Wheel Step 1"
## Affected page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-animation-by-building-a-ferris-wheel/step-1

## Your code

[code]

## Expected behavior

Tests return error:
Your html element should be below the DOCTYPE declaration

## Screenshots

## System

- Device: [Desktop]
- OS: [EndeavorOS (Arch Linux)]
- Browser: [chrome]
- Version: [96.0.4664.110 (Official Build)

[2021-12-30 19:16] bbsmooth commented on #44623
I was able to fix this by adding the 'm' flag to the test so it takes multiple lines into account:

`assert(code.match(/^\s*<!DOCTYPE\s+html\s*>[\s\S]*<\s*html\s*>/gim));`

I'll go through the other steps in this course real quick to make sure there are no other issues and then submit a PR>

[2021-12-30 19:33] bbsmooth commented on #44623
I didn't find any problems with the other steps.

[2021-12-30 22:11] bbsmooth opened #44626 "RWD Beta: Test that requires DOCTYPE to be on its own line is failing"
## Affected page

Several. One example is [Learn HTML Forms by Building a Registration Form / Step 2](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-forms-by-building-a-registration-form/step-2)

## Your code

[code]

## Expected behavior

The hint for this step seems to indicate that the user must add the `html` element below the `DOCTYPE` (there must be at least one new

[2021-12-30 22:52] Kernix13 opened #44628 "RWD Beta: Step 81 Cafe 'gray' not accepted as correct color"
## Affected page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/step-81

## Your code

[code]

## Expected behavior

I set the a:visited color to “gray” which changed the link color in the preview pane and even displayed the color picker box in the styles.css view with the color gray but when I clicked Check Your Code it didn’t accept my answ

[2021-12-31 05:33] bbsmooth commented on #44603
I was going to fix this issue by updating the test in step 38 to check the placeholder attribute on the textarea but then I realized that if we make this change then the HTML in each step after 38 would also need to be updated to use the placeholder attribute as well. So the question is, do we want to use the placeholder attribute and update all of the remaining steps or do we want to reword the i

[2021-12-31 05:53] bbsmooth commented on #44626
One possible regex I am using as a solution for this [issue](https://github.com/freeCodeCamp/freeCodeCamp/pull/44625) is:

`assert(code.match(/\s*<!DOCTYPE\s+html\s*>(\r?\n)+<\s*html\s*>/gi));`

[2021-12-31 10:14] gikf commented on #44626
Affected pages:

[curriculum\challenges\english\14-responsive-web-design-22\learn-css-animation-by-building-a-ferris-wheel\step-001.md](https://github.com/freeCodeCamp/freeCodeCamp/blob/426b2f57c7a8ec7e1a9f2b6323392762ee843899/curriculum/challenges/english/14-responsive-web-design-22/learn-css-animation-by-building-a-ferris-wheel/step-001.md?plain=1#L54-L58):
[code]

[curriculum\challenges\english

[2021-12-31 11:13] gikf commented on #44603
@bbsmooth That's a good question. The _placeholder text_ matches wording from [step 22](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-22) referring to the added attribute. That would make me think, the intention is to use the attribute.

[2021-12-31 14:54] abgutmann1 commented on #44616
I also had the same problem. Apparently, you use a /> closing tag with link if you're using HTML5. The thing is up until this point, all self-closing elements we've worked with (like img and meta) have not required it. Perhaps what is needed here is further explanation on the instruction portion of the exercise.

[2021-12-31 17:54] franciscomelov opened #44656 "problem when hitting Space bar"
**Describe the bug**
when I hit the Space bar instead of giving an space it inputs more text.
When I want to write "hello world"
I write "hello" normally but when it the Space bar "hellohellohello " is the output

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  Responsive web design certification, "
2. Go to the first challenge "say hello to html elements"
3. Go to the "code" section
4

[2021-12-31 22:47] jeremyfiel opened #44634 "[Bug]: BETA - Building a Registration Form - Step 31"
## Affected page

[Learn HTML Forms By Building A Registration Form](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-forms-by-building-a-registration-form/step-31)

Challenge indicates adding options to the dropdown menu.  One of them is `freeCodeCamp YouTube` but the test is looking for `freeCodeCamp YouTube Channel`

This would be a #goodfirstissue for someone to contrib

[2021-12-31 22:54] xoxoKaralee commented on #44634
FYI i believe this is the same as closed issue [#44602](https://github.com/freeCodeCamp/freeCodeCamp/issues/44602)

[2021-12-31 23:37] bbsmooth commented on #44603
@gikf Agreed, this should probably be updated to use the placeholder attribute. Looks like I've got a lot of updates to include in the PR.

[2022-01-01 00:16] jeremyfiel commented on #44634
Looks like it.   Has this been deployed yet?

[2022-01-01 00:25] xoxoKaralee commented on #44634
No idea. I just have my own unrelated issue and am working through submitting a PR for it, and had remembered seeing this issue so i went to go find it. It looks like it was addressed and merged in PR #44607 , but I'm completely new to this whole process, so i'm still learning and not sure why it would still show as not fixed.

[2022-01-01 06:24] gikf commented on #44634
Thank you for reporting this issue.

This is a standard message notifying you that the problem you mentioned here is present in production, but that it has already been fixed in `main`. This means that the next time code is pushed to production, this problem should be fixed. Because of this, we're closing this issue.

If you think we're wrong in closing this issue, please request for it to be reop

[2022-01-01 06:24] #44634 closed

[2022-01-01 15:10] Browun opened #44638 "Remove invalid example of a PR title"
## Affected page

As stated in a [PR review](https://github.com/freeCodeCamp/.github/pull/6#discussion_r777112965) by @ieahleen, the example of a PR title (`docs(i18n): Chinese translation of local setup`) is misleading as this is not to be done manually; instead being perormed by automated pipelines.

[Prepare a good PR title](https://contribute.freecodecamp.org/#/how-to-open-a-pull-request?id=pr

[2022-01-01 18:26] bbsmooth opened #44639 "JAWS 2022 overly verbose with aria-roledescription attribute in monaco editor"
## Affected page

Any page with the monaco editor while using the JAWS 2022 screen reader with either Firefox or Chrome (and I'm assuming any other Chrome-based browsers).

## Explanation

The monaco editor has the aria-roledescription attribute set to "editor" on its textarea. This is causing JAWS 2022 to add the word "editor" to the beginning of each line and the phrase "end editor" to the end o

[2022-01-01 19:12] Kernix13 opened #44640 "RWD Beta: Markdown text not displaying on lesson page"
## Affected page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-forms-by-building-a-registration-form/step-31

## Your code

[code]

## Expected behavior

The text for the options was provided and for the third one the text is `freeCodeCamp YouTube`.

However, that option is wrong and you are prompted to use `freeCodeCamp YouTube Channel`.

The word "Channel" is not on t

[2022-01-01 19:26] xoxoKaralee commented on #44640
Hey! This has already been brought up:
Closed original issue #44602
PR in #44607

Again someone yesterday brought it up in a new issue #44634
if you check in here, the last comment explains what seems to be going on.

[2022-01-01 19:57] Kernix13 commented on #44640
Good, so it looks like it will be fixed soon. What would be a good way to see if an issue has already been created? Should I have searched for "step 31" or something unique with this problem? I'll try to remember to do a search first - sorry for the duplicate issue.

[2022-01-01 21:28] xoxoKaralee opened #44642 "Suggestion: Update "How to set up FreeCodeCamp Locally" with instructions to see RWD beta"
## Affected page
Currently, the instructions for setting up FreeCodeCamp locally has us copy `sample.env` to `.env` and suggesting not to change any keys. `sample.env` has `SHOW_NEW_CURRICULUM` defaulting to `false`. The `sample.env` and `.env` when using Gitpod also defaulted to `false`. From discussion in the Forums and the Contributor chat, I learned that in order to see the Responsive Web Desi

[2022-01-01 23:07] Kernix13 opened #44643 "RWD Beta: Rothko lesson Step 37 is wrong"
## Affected page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-37

## Your code

[code]

## Expected behavior

Step 37: The directions are to `Increase the blur of .three by 2 pixels` which would be `4px`, but that is the wrong answer and the message says to set it to 2px. But it was set to `2px` in Step 35. I can change t

[2022-01-02 02:13] #44596 closed

[2022-01-02 02:35] #44623 closed

[2022-01-02 16:18] xoxoKaralee commented on #44626
If the regex from @bbsmooth is the way we want to go, I'd be happy to start working on it in the pages linked by @gikf .

[2022-01-02 17:15] lasjorg commented on #44593
Seems related

https://forum.freecodecamp.org/t/can-someone-help-me-on-this-please/490861
https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-typography-by-building-a-nutrition-label/step-28

---

@bbsmooth does switching `equal` to `include` not work without the array? As far as I can tell it is looking for substrings.

So it seems like the needle `0px` should match the haystack `

[2022-01-02 17:27] lasjorg opened #44648 "Make tests stricter for challenge "Decrement a number with javascript""
You can pass the test by assigning 10 to the variable after decrementing it past that value.

It also doesn't seem like the...

...test is not working.

Incorrect code that is passing:

[code]

Forum: https://forum.freecodecamp.org/t/decrement-a-number-with-javascript-solution/490852

Challenge: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/decrement

[2022-01-02 17:42] Kernix13 opened #44649 "RWD Beta: Nutrition label code typo"
## Affected page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-typography-by-building-a-nutrition-label/step-61

## Your code

[code]

## Expected behavior

The behavior is fine, it's a typo in the code you are supposed to use. The paragraph text of `mcg` I assume should be `mg`, an abbreviation for milligram. Since you are expected to enter the text given as part of the les

[2022-01-02 17:55] gikf commented on #44640
Relevant fix is in production, as such I'm closing this issue.

Trying to search open and closed issues for something related to the problem, or taking a look at some titles of recently opened and closed issues usually should be enough to find, if there's already the issue on the same topic.

[2022-01-02 17:55] #44640 closed

[2022-01-02 18:00] gikf commented on #44649
Thank you for reporting this issue.

As far as I'm aware that's microgram, for which mcg is one of the used abbreviation. Because of that I'm going to close this issue.

If you think we're wrong in closing this issue, please request for it to be reopened and add further clarification. Thank you and happy coding.

[2022-01-02 18:00] #44649 closed

[2022-01-02 18:09] bbsmooth commented on #44626
@xoxoKaralee I was eventually going to get around to updating these but please, feel free to step in. My solution above was officially merged into main so I'm assuming that's acceptable to use for these as well.

[2022-01-02 18:15] gikf commented on #44593
Another affected property is `background`.

I mentioned this in related PR, tests could target more precisely the desired property. For example, when set should be `border: 0;`, check in test value of `borderWidth`, rather than the general `border`.

[2022-01-02 19:11] Kernix13 commented on #44649
Oh, I did not know that was an accepted abbreviation - yes, go ahead and close this.

[2022-01-02 20:41] xoxoKaralee commented on #44593
Safari also has issues with background. [Here ](https://forum.freecodecamp.org/t/rwd-beta-colored-markers-need-help-or-to-verify-bug/490422/10) is my forum post about it. Not sure if this is related or not. It passed in chrome, but not on Safari.

[2022-01-03 07:27] gikf commented on #44643
From my understanding `filter: blur(2px)` added on `.three` element will apply another blur effect, effectively increasing the overall _bluriness_ of `.three`.

Consider example, where at that step `filter: blur(2px)` is applied to `.frame` and `filter: blur(0px)` to `.canvas`:
[code]
`.canvas` is child element of `.frame`, but it is still blurred.

[2022-01-03 10:14] ShaunSHamilton commented on #40674
@jeremyfiel I am not sure I understand the issue.

We (from the boilerplate) add those routes. There is nothing Replit specific in that boilerplate:
https://github.com/freeCodeCamp/boilerplate-infosec/blob/8fbd158cb85be2351ebfae0a5852e39865b9f1fe/server.js#L49-L54

[2022-01-03 10:38] ShaunSHamilton commented on #44609
@bbsmooth As always, a huge thank you for taking the time to share your expertise.

What you have shared makes sense. Unfortunately, as Campers have likely no knowledge of JavaScript at this point, we cannot make use of some of the alternative recommendations.

I suppose we do not want to remove the usage/teaching of `:hover` or `:focus` or `tabindex`. I suggest we take this issue, and discuss fro

[2022-01-03 11:47] ShaunSHamilton commented on #44642
Hello there,

Thank you, for taking the time to open this.

As mentioned in the [forum thread](https://forum.freecodecamp.org/t/using-gitpod-to-preview-changes-not-seeing-rwd-beta/490724/6), the main reasons to not include a note about this is:
a) This section is under development, and, as such, subject to rapid change - the guidelines could easily become outdated
b) Most of this development was b

[2022-01-03 11:53] ShaunSHamilton commented on #44620
Thank you, for taking the time to open this.

As @gikf mentioned, this is mostly expected behaviour, and we have not specifically coded this behaviour in the editor.

The only solution to this I am aware of is to include a plugin for HTML/CSS syntax. However, this would add unnecessary overhead to the build/client, and I do not think worth the effort.

Our general rule of thumb with the editor has

[2022-01-03 11:53] #44620 closed

[2022-01-03 12:14] ShaunSHamilton commented on #44656
Hello there.

If you are using a mobile device, the default keyboard does not always play well with the freeCodeCamp editor. I recommend you read the [article on using a mobile device](https://www.freecodecamp.org/news/freecodecamp-mobile/) to view some tips - most importantly, check out the coding keyboards listed as they interface with the editor well.

[2022-01-03 12:14] #44656 closed

[2022-01-03 12:16] #44628 closed

[2022-01-03 13:07] aburto22 opened #44659 "Unclear instructions in Learn SQL by Building a Student Database: Part 2"
## Affected page

Learn SQL by Building a Student Database: Part 2 (Completing locally)

## Issue

There are some excercises where the instruction are a bit missleading. For example, take this excercise:

You’re doing great. Next, use the most efficient join to get the rows needed if you were asked to get the first name, last name, major, and GPA of students who are taking Data Science or have a g

[2022-01-03 13:10] ShaunSHamilton commented on #44603
Thank you, for opening this.

When I wrote this, I vaguely remember reading a resource mentioning using the `placeholder` attribute on `textarea` was not the recommended approach. However, as I cannot find that, I agree using the `placeholder` attribute in this case seems like the better option.

Yes, this will require a rewrite for all subsequent lessons. However, this usually is a simple _Find a

[2022-01-03 13:10] aburto22 opened #44660 "Learn SQL by Building a Student Database: Part 2 - Wrong solution for last challange"
## Affected page

Learn SQL by Building a Student Database: Part 2 (Completing locally).

## Issue

In the last excercise, we are asked to:

List of courses, in alphabetical order, with only one student enrolled:

The correct answer given in hints is the following:

SELECT course FROM students RIGHT JOIN majors USING(major_id) INNER JOIN majors_courses USING(major_id) INNER JOIN courses USING(cour

[2022-01-03 13:12] bbsmooth commented on #44603
Perfect. I'll submit a PR for this in just a bit.

[2022-01-03 13:26] ShaunSHamilton commented on #44638
Hello there 👋

If anything is done here, I would not remove it from the examples - I would change it to include something else that is relevant. Reason being, it is nice to have an example showing `docs(i18n)`.

[2022-01-03 14:10] franciscomelov commented on #44656
I installed CodeBoard Keyboard for Coding and works fine.
Thanks

[2022-01-03 14:37] ahmadabdolsaheb commented on #41074
I am playing coderadio on a simple html js on codepen and still getting the errors. it seems to be an issue with browsers throttling html5 audio elements in background tabs. We need a way to keep the tab "active" and catch the connection error and replay accordingly.

Here is the codepen: https://codepen.io/abdolsa/pen/dyVdgNM

[2022-01-03 14:57] iepsen commented on #41074
This is what I see on console:

Is it the same you are seeing?

[2022-01-03 14:58] bbsmooth commented on #44609
@ShaunSHamilton I would probably argue that we might not want to introduce `tabindex` in these new courses. Yes, it is a part of the HTML standard, but its legitimate use cases are quite limited and require JS, such as managing focus in SPAs or custom widgets, so it is going to be hard to use `tabindex` properly without adding a lot of complexity.

I can think of one example where JS is not needed

[2022-01-03 16:03] raisedadead commented on #40970
This is now in implementation and will be ever-evolving.

Resources: https://staff-wiki.freecodecamp.org/docs/intro-to-platform#infrastructure-as-code

[2022-01-03 16:04] raisedadead commented on #40718
We have moved over to JAMStack, so this workflow will not be of significance any longer. Going to have to close this for now as a wont-fix.

[2022-01-03 16:04] #40718 closed

[2022-01-03 16:06] raisedadead commented on #39704
Implemented.

[2022-01-03 16:06] #39704 closed

[2022-01-03 17:00] xoxoKaralee commented on #44642
I understand and appreciate you taking the time to discuss! It's my understanding that each curriculum will be going under revision and I assume, each have it's own beta period (where people will be able to raise issues and help make changes).

I guess I'm not understanding how the beta shows up on the website, shows up here on github, but wont show up when running the test environment (as the scr

[2022-01-03 18:23] bbsmooth commented on #44626
I'm beginning to wonder if we should even have a requirement that the DOCTYPE be on its own separate line? I can't seem to find any documentation that says this is required and the W3C HTML validator accepts it without being on a new line. Also, we don't seem to be enforcing separate lines for other types of tags. But the DOCTYPE does need to be the first element on the page, which I don't think w

[2022-01-03 18:57] broadsword-MO commented on #39058
Since I blew some time on this as well following the **same path** as the OP, and since this is the very first lesson on Regex, and since the test parameters at the bottom of the page *should* return `true` **without** the `result` variable being used (as a `console.log()` will verify)...

If I could suggest... This situation would be much clarified with a very small addition to the instructions.

[2022-01-03 19:08] ShaunSHamilton commented on #44648
I am happy with this being changed, but, personally, I see no issue here:
- The lesson teaches the  `--` operator, and that has been used.

If the lesson were to give an `h1` element the text `Hello, World!`, and you did this, I would not expect you to fail the tests:
[code]

**Aside**
_I might be becoming pessimistic in my teaching pedagogy, but we cannot truly expect to keep changing all these l

[2022-01-03 19:13] ShaunSHamilton commented on #44593
Thank you, for bringing this up. We have multiple tests following the `assert.include` pattern specifically because Firefox appears to be "the odd one out".

However, as you did in one PR, Bruce, perhaps we are just better testing - wherever we can - for the specific "sub-property" - like @gikf suggested.

This would not be feasible for some tests/lessons where we ask/expect Campers to use the lon

[2022-01-03 21:50] #44603 closed

[2022-01-04 00:49] moT01 opened #44664 "[beta] RWD Task List"
## Task 1: Move RWD beta to live

- [x] Rename step files so they can be translated (https://github.com/freeCodeCamp/freeCodeCamp/pull/45146)
- [x] Update helper functions so they work with new filenames (https://github.com/freeCodeCamp/freeCodeCamp/pull/44769)
- [x] Enable uploading new files to crowdin (should work automatically after above two are merged)
- [x] Swap beta and legacy locations on

[2022-01-04 10:49] ahmadabdolsaheb opened #44668 "UI Components Library"
## Description:
We need a better way of managing our styles and components. In order to achieve that we should create our own light-weight component library that uses Storybook (isolate the components and document them) and tailwindCSS (style each component) and make sure it meets the [web accessibility requirements](https://www.w3.org/WAI/standards-guidelines/wcag/).

## Todo list:
<details>
  <s

[2022-01-04 10:49] #41580 closed

[2022-01-04 10:53] ahmadabdolsaheb commented on #44668
@sitek94, @huyenltnguyen, @Ismailtlem here is the new home for our UI component lib :)

[2022-01-04 11:09] ojeytonwilliams commented on #44306
I dug into this a little bit: the problem is that https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/utils/format.js relies on a fallback https://github.com/browserify/node-util when running in the browser.  This fallback does not know how to handle sets or maps and just returns `{}`.

If anyone wants to work on this, the obvious approach is to check if the input is an `instanceof`

[2022-01-04 11:54] MadhaviMandalia commented on #44546
Hello @ShaunSHamilton
So should we keep this pages or remove them? let me know how can I be helpful with this.

Thanks.

[2022-01-04 12:02] ShaunSHamilton commented on #44546
@MadhaviMandalia Thank you, for your interest in contributing. This issue is not open for contribution, because we still need to discuss:

Once a decision has been made for an issue, the `help wanted` or `first timers only` labels are added, and then it is open for contribution.

[2022-01-04 12:06] MadhaviMandalia commented on #44546
Ok. @ShaunSHamilton Thanks

[2022-01-04 12:15] ShaunSHamilton commented on #44626
As far as the tests go, I suggest we stick with this:
- If the HTML spec can parse it, it is valid, and should be accepted, unless the instructions specifically say, for example, _"add a semi-colon at the end of the value"_

So, as I can see in the spec, there is no requirement for the DOCTYPE and the `html` element to be on separate lines:
- https://html.spec.whatwg.org/#the-doctype
- https://htm

[2022-01-04 15:56] bbsmooth commented on #44626
Would you agree with me then that instead of testing for DOCTYPE being on a separate line we should be testing that the DOCTYPE is the first element on the page? This brings us back to another [issue](https://github.com/freeCodeCamp/freeCodeCamp/pull/44625) I found in which there are JS comments in the code string before the HTML begins:

[code]
Not impossible to work around, just wanted to make w

[2022-01-04 16:22] nhcarrigan commented on #44609
Thanks for bringing this up @bbsmooth!

Yes, I agree that removing `tabindex` is a good approach. I'll be looking at modifying this project to use an HTML table, after discussion with Shaun, at some point this week. 🙂

[2022-01-04 16:23] bbsmooth commented on #42236
@ahmadabdolsaheb I've started making accessibility updates to the radio and have already submitted three PRs.

[2022-01-04 16:43] xoxoKaralee commented on #44626
It wouldnt surprise me if that's the why the test was written that way, because if doctype isnt the first element, how else would you check it's current placement? It would be in relation to the html tag, right?

[2022-01-04 16:44] ShaunSHamilton commented on #44626
Ideally, yes. As I mentioned below, we do have a solution to the comment thing, but it is a work-in-progress.

https://github.com/freeCodeCamp/freeCodeCamp/pull/44625#issuecomment-1003978797

[2022-01-04 20:03] abgutmann1 opened #44676 "RWD Beta: Step 90 - Incomplete Instructions (Learn CSS Colors by Building a Set of Colored Markers)"
Hi!

In Step 90 of the "Learn CSS Colors by Building a Set of Colored Markers" course, there is a piece of information missing from the instructions, which regards adding the color red to the box-shadow property. As a newbie learner, I could deduce the correct answer and complete the exercise, but perhaps updating the instructions would avoid any future confusion by other people.

**Link:** https:

[2022-01-05 08:11] gikf commented on #44643
Thank you for reporting this issue.

Per above comment this is not an error, as such I'm closing this issue.

If you think we're wrong in closing this issue, please request for it to be reopened and add further clarification. Thank you and happy coding.

[2022-01-05 08:11] #44643 closed

[2022-01-05 10:18] ahmadabdolsaheb commented on #41074
If you are referring to the codepen, some browsers error out because the audio plays automatically. I added a button so it should not show you that error.

This is the error:
`GET https://coderadio-relay-blr.freecodecamp.org/radio/8010/radio.mp3 net::ERR_CONNECTION_CLOSED 200`

Here is a summary of the issue: https://stackoverflow.com/questions/70532842/how-to-avoid-background-tab-throttling-for-a

[2022-01-05 10:29] ahmadabdolsaheb commented on #42236
@Ajob41, I agree that this issue's main focus has shifted. I will summarize and recreate another one shortly.
@bbsmooth thanks for the prs.

[2022-01-05 10:58] gikf commented on #44593
I've looked for cases where shorthand `border` or `background` are checked (`.*(\.border[^\w\-]|\.background[^\w\-])`) and tried them on Firefox. Found just one step left, not passing because of it.

[2022-01-05 11:09] Ajob41 commented on #42236
Sounds good.

On Wed, Jan 5, 2022, 4:29 AM Ahmad Abdolsaheb ***@***.***>
wrote:

[2022-01-05 18:31] ojeytonwilliams opened #44690 "Challenge editing UI"
MVP

- A user can create, delete and update challenges without needing to open another editor (this can make use of the cli in tools/challenge-helper-scripts)
- A user can easily navigate between steps
- A user can run it locally alongside the client, so they can see their changes taking shape.

Nice to have

- A user can see an overview (scrollable?) of the entire project
- A user can click a but

[2022-01-05 18:31] ojeytonwilliams opened #44691 "Curriculum structure update"
Fundamental:
- [x] Merge any outstanding PRs to the new project based lessons
- [x] Rename each step from `step-123.md` to the id of that step

DX:
- [x] Update our cli tooling tools/challenge-helper-scripts @ojeytonwilliams
- [x] Implement a challenge editing UI https://github.com/freeCodeCamp/freeCodeCamp/issues/44690

[2022-01-05 18:47] nhcarrigan commented on #44691
I'll spend today putting together a tool to do this for us so we aren't renaming anything manually.

[2022-01-05 19:14] import-brain commented on #44648
Yes, I believe that if a user uses the solution that @lasjorg stated, they know how `--` works already, which fulfills the objective of the lesson.

[2022-01-05 20:13] lasjorg commented on #44648
@ShaunSHamilton I don't think your example is equivalent at all. The end value is supposed to be the result of decrementing, not just assigning a final value.

Clearly, they do not if they can not decrement the starting value to the final value that is asked for. I see no reason why anyone that understands what the challenge is asking for would do that assignment.

---

I would think a test with a

[2022-01-06 01:09] kamarel commented on #44676
![image](https://user-images.githubusercontent.com/84261846/148311912-a05961c2-2488-42d0-98ad-f6a02a426be3.png)

box-shadow: 0 0 20px 0 red

[2022-01-06 06:17] bbsmooth commented on #44639
This issue has now officially been confirmed as a bug in JAWS 2020. I have a fix for this on my local copy (it just removes the `aria-roledescription` attribute from the monaco editor). I've tried to start a discussion in the Contributors section of the forum about how we could roll this fix out but haven't had any bites yet. I do believe that we could apply the fix for everyone and it would not c

[2022-01-06 11:11] ojeytonwilliams opened #44696 "[beta] RWD misleading error messages"
## Affected page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/step-2

## Your code

[code]

## Expected behavior

Tests should fail because the text is incorrect (it should not be surrounded by spaces or newlines).

## Actual behavior

You see the hint:
[code]

Also, it's quite easy to fail this challenge by having spaces or newlines around

[2022-01-06 18:25] import-brain commented on #44648
You're right, my bad. As I understand it, you want to use regex to check if an assignment is present, and if it is, fail the tests?

I think that would work well.

[2022-01-06 19:26] #44676 closed

[2022-01-06 21:38] nhcarrigan commented on #44696
The title element isn't stripped away, so I think we could query the DOM and look at the `textContent`.

[2022-01-06 22:11] lasjorg commented on #44648
1. The second test should be updated. Right now you can leave the initial code even though the test says it should be replaced. It should test that `myVar = myVar - 1;` is not present in the code.

2. Check that no assignment is used.

[2022-01-06 23:41] lasjorg opened #44705 "Is code comment removal broken?"
Forum thread: https://forum.freecodecamp.org/t/anonymous-functions-right-solutions-doesnt-pass-the-test/491397

---

Another example, I would expect this code to pass if the comment was removed.

[code]

challenge: https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/declare-a-read-only-variable-with-the-const-keyword

[2022-01-06 23:59] DevOps-DoDo opened #44706 "The new RWD beta took up a lot of my laptops memory"
## Affected page

[RWD](https://www.freecodecamp.org/learn/2022/responsive-web-design)
## Your code

[code]

## Expected behavior

I started using the new RWD beta yesterday. I did the HTML section, then moved on to the CSS cafe menu. The further I got in the CSS challenge, the slower the website got till it became next to useless. I checked it wasn't my internet so checked the processes. Chrome w

[2022-01-07 00:42] import-brain commented on #44648
I see, thank you for the clarification!

[2022-01-07 11:01] ShaunSHamilton commented on #44690
Are we set on having this tooling within the main repo?

[2022-01-07 11:08] ojeytonwilliams commented on #44690
I think we should. It's intended to be run locally when you're working on the main repo.  Putting it in another repo just creates extra friction.

[2022-01-07 15:19] ShaunSHamilton commented on #44705
@lasjorg This appears to be an issue with the use of `getUserInput`:

https://github.com/freeCodeCamp/freeCodeCamp/blob/c242c6495dc5ad3dc5b64fe4a57df6700abee26c/client/src/client/frame-runner.ts#L122-L124

I will look into this now to confirm.

[2022-01-07 15:32] xoxoKaralee opened #44716 "RWD Beta Rothko Painting lesson improvements"
## Is your feature request related to a problem? Please describe.

It's my opinion that the RWD Beta Rothko painting lesson could be improved by changing the wording of many of the steps. Currently, many steps tell you exactly what to put.

Example:
[code]

## Describe the solution you'd like

Solutions that I would like include less handholding and more information that lets you practice what you

[2022-01-07 17:19] sidemt opened #44718 "Feature request: Functionality to make it easier to find a specific step of project-based curriculum"
## Is your feature request related to a problem? Please describe.

The new [Responsive Web Design (Beta)](https://www.freecodecamp.org/learn/2022/responsive-web-design/) certification does not have names for each step. This is making it difficult to look for a specific step.

Adding some sort of functionality to allow users to search through the curriculum (especially the project-based curriculum)

[2022-01-07 17:27] sidemt commented on #44718
I personally want the search for the curriculum (not only for the project-based curriculum but for all of them) but it seems it has been removed for some reason in the past, so I don't want to underrate that decision. But I used it a lot as a learner.

[2022-01-07 23:31] bbsmooth commented on #44626
I have submitted a [pull request](https://github.com/freeCodeCamp/freeCodeCamp/pull/44720) that fixes the source of this issue (css comments before the html in the code string) which if approved will allow us to easily test that the DOCTYPE declaration is the first element in the HTML.

[2022-01-08 00:14] jeremylt opened #44721 "Refactor Global Variables Out of Functions Strangeness"
## Affected page

[Refactor Global Variables Out of Functions](https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/refactor-global-variables-out-of-functions)

## Your code

This is the starter code:

[code]

## Expected behavior

The starter code for this challenge is strange.

1) Why the space between the function name and the ()s for the arguments

[2022-01-08 01:07] xoxoKaralee commented on #44626
@bbsmooth should i close my initial pull request since you said in your pull request that you were going to fix the others once yours gets approved and merged? I dont mind helping update the other docs with the new test once it's approved if you want me to. either way, just let me know !

[2022-01-08 06:12] #39432 closed

[2022-01-08 11:15] ReubenMenezes opened #44726 "Text says RBG instead of RGB"
## Affected page
https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-colors-by-building-a-set-of-colored-markers/step-37

![image](https://user-images.githubusercontent.com/46624582/148642012-35e1b1c6-0fcc-4f90-b116-9e90335bd89c.png)

[2022-01-08 11:48] gikf commented on #44726
Thanks for opening this issue.

This looks something that can be fixed by "first time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/step-037.md

Please m

[2022-01-08 11:52] ahmadabdolsaheb commented on #41072
Note: lighthouse suggest using video formats instead of gif for animations.
If there is a performance benefit, we might altogether do a video format if we end up having the Saron gif and the background in one file.

<img width="896" alt="136167257-62e44d6d-2a75-4ca9-a362-f9f38802bd5d" src="https://user-images.githubusercontent.com/4591597/148643070-b176943f-0f89-4fbc-9ba5-b495c6c618aa.png">

[2022-01-08 12:25] ReubenMenezes commented on #44726
Thank you so much! Will do

[2022-01-08 21:39] ankitkandari opened #44730 "Exercise Tracker microservices test broken"
## Affected page

https://www.freecodecamp.org/learn/back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker

## Solution link

https://replit.com/@ankitkandari/freecodecamp-exercisetracker

## Forum link

https://forum.freecodecamp.org/t/exercise-tracker-test-broken-for-date-to-be-string/491710

## Expected behavior

Test should be passed as no issue in data

## Fail

[2022-01-08 21:39] ankitkandari commented on #44730
Exercise tracker test broken

[2022-01-09 06:11] #44726 closed

[2022-01-09 09:44] jdwilkin4 opened #44731 "Typo in Lesson 10 in Learn Bash Scripting by Building Five Programs"
## Affected page

In lesson 10 of Learn Bash Scripting by Building Five Programs, the directions tell you to use this command: `chmod +x questionnnaire.sh`.
But the command has added an extra `n` in  questionnaire.
The correct command should be `chmod +x questionnaire.sh`

## Screenshots

![Screen Shot 2022-01-09 at 1 42 10 AM](https://user-images.githubusercontent.com/67210629/148677117-c81a7ddb-

[2022-01-09 11:29] huyenltnguyen commented on #44731
I'm going to mark this issue for first-time contributors.

Here is the file you should be looking at to work on a fix: https://github.com/freeCodeCamp/learn-bash-scripting-by-building-five-programs/blob/main/TUTORIAL.md#901

Please make sure you have read [our contribution guidelines](https://contribute.freecodecamp.org/#/). Join us in [our chat room](https://chat.freecodecamp.org/channel/contribu

[2022-01-09 13:10] akshat-o5 commented on #44731
Can I work on this issue?

[2022-01-09 13:35] akshat-o5 commented on #44731
Hello, I have worked on that issue and solved it. Also made the PR , please refer it.

[2022-01-10 04:09] sidemt opened #44735 "RWD Beta: Tooltip in the editor should not be displayed"
When you mouse over on a HTML tag in the editor, a tooltip will be displayed.
~~But when the tag is near the top of the editor area, the tooltip gets hidden by the header area.~~

## Affected page

Any of the new Responsive Web Design Beta page such as:
https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-2

## To reproduce

Steps to reproduce t

[2022-01-10 06:49] ShaunSHamilton commented on #44735
Thank you, for opening this, Yoko.

@freeCodeCamp/dev-team Can we remember if the tooltip is supposed to show at all?

Personally, I am for the _further information_ tooltip (as shown above), but I cannot remember if we had discussed outright removing all extraneous UI features.

[2022-01-10 07:03] ShaunSHamilton commented on #44706
Thank you, for taking the time to share this.

---

For others' benefit: https://forum.freecodecamp.org/t/fcc-responsive-web-design-beta-bugs-i-found-today/491301

[2022-01-10 07:08] ShaunSHamilton commented on #44718
To mention: This functionality already exists as a shortcut.
- On a challenge, press `ESC` to unfocus the editor
- Press `n` to go to next challenge
- Press `p` to go to previous challenge

[2022-01-10 08:04] sidemt commented on #44718
Thanks @ShaunSHamilton I didn't know that. Is there any place users can know those shortcuts?

And @xoxoKaralee the above information may help you 🙂

[2022-01-10 08:11] ShaunSHamilton commented on #44718
We were close to making this explicit: https://github.com/freeCodeCamp/freeCodeCamp/issues/39635

It was not a high priority for the curriculum. We could probably create a dedicated issue for this to implement something like: https://github.com/freeCodeCamp/freeCodeCamp/pull/38203

[2022-01-10 08:26] sidemt commented on #44718
I did some search too and found an open issue #36841 for shortcuts modal.

[2022-01-10 08:46] ojeytonwilliams commented on #44735
I don't remember discussing it, either, but I like having them.  If we leave them in for now, then we can see if users find them irritating or not.

[2022-01-10 09:03] #44514 closed

[2022-01-10 09:58] sidemt commented on #44735
Actually, I didn't notice this tooltip until today, so I don't know when it was added. I thought it's just me didn't know that, but maybe not...

[2022-01-10 13:31] Etkesmeci opened #44740 "RWD Beta, Cat, Step 55: Possible bug at the hints"
## Affected page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-55

## Your code

[code]

## Expected behavior

I believe the hint was supposed to be "The new label element should be located directly to the right of your checkbox. Make sure there is a space between the two elements." this.

## Screenshots

<img width="1440" alt="Ekran Res

[2022-01-10 14:53] moT01 commented on #44706
I found a few posts related to chromebooks using a lot of memory:
https://www.reddit.com/r/chromeos/comments/eispxh/high_memory_usage_in_chromeos_for_seemingly_no/
https://support.google.com/chromebook/thread/13108902/high-memory-leakage-and-cpu-usage-from-browser-in-os-76?hl=en

Didn't look over them, but it seems like it might be a problem with chromebooks and/or chrome OS. Do other sites use an

[2022-01-10 17:53] DevOps-DoDo commented on #44706
No, not had any other website doing it. And since reporting it, I've gone on and none of the other lessons do it.

[2022-01-10 18:23] moT01 commented on #44706
So, to be clear - all the new RWD lessons you tried (linked in description) cause this - but none of the current/old lessons have issues? If you haven't already, want to try a few of them again to see if it happens every time?

[2022-01-10 20:29] nhcarrigan commented on #44740
<img width="433" alt="image" src="https://user-images.githubusercontent.com/63889819/148834663-82012f89-4531-4ab9-875c-9151512f0fb4.png">

Looking at the initial seed code, the space is already there - it looks like the test assumes that wrapping the text means leaving the space alone.

[2022-01-10 20:30] nhcarrigan commented on #44730
Hi there, it looks like you successfully received guidance on your forum post.

We'll go ahead and close this issue. Making a forum post for questions about your code is the way to go 🙂

[2022-01-10 20:30] #44730 closed

[2022-01-10 20:38] nhcarrigan commented on #44721
The linked PR resolves #1 in this issue.

For #2, we could probably move away from having variables in the seed code and instead assert the function returns the expected value 🤔

[2022-01-10 21:04] nhcarrigan commented on #44716
I'd definitely be open to improving the descriptions on these. We can make them less explicit, to encourage campers to think about what they've learned a bit more.

We want to ensure the hint text remains clear, though, so campers are not stuck and lose the flow-state.

Assuming there are no objections, I'd be willing to open this up for `help wanted`. PRs could solve all of the files at once, or

[2022-01-10 21:12] Etkesmeci commented on #44740
So should “Make sure there is a space between the two elements.” be added to the hint I was given or was the hint given the wrong one?

[2022-01-10 21:36] nhcarrigan commented on #44740
I think that would be a good clarification, yeah. We want that space to be there as it affects the layout of the page.

[2022-01-11 07:23] ShaunSHamilton commented on #44716
Yes, I agree - open this up for contribution. Provided the sentences can be short and clear enough, they should encourage Campers to think more. This should only be the case if they have previously encountered the syntax.

If a Camper gets stuck, then the hints should contain the explicit answer. _I doubt any of these will need to be changed_

---

An issue with the _help wanted_ or _first timers

[2022-01-11 14:47] #44740 closed

[2022-01-11 22:14] ieahleen commented on #44731
@akshat-o5 please link this issue in the PR, otherwise they are not linked

[2022-01-11 23:41] marks1974 opened #44754 "Safari bug - RWD Beta - step 43 - Learn Typography by building a Nutrition Label"
## Affected page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-typography-by-building-a-nutrition-label/step-43

## Your code

[code]

## Expected behavior

I cannot get past this step using Safari 15.2 on Mac OS 12.1. I have checked the same lesson in Firefox and the same code gets marked as correct. However, in Safari it just keeps saying my code is wrong. I have not had a

[2022-01-12 08:01] jdwilkin4 opened #44759 "Typos in RDB student database part 1"
## Affected page
Here is the lesson with the typo.
https://github.com/freeCodeCamp/learn-sql-by-building-a-student-database-part-1/blob/main/TUTORIAL.md#840-add-course_id

It currently says "Next is the courses. "
But I think it would be better to say "Next are the courses. " or "Now we are going to work on the courses".
Or something along those lines.

Also found this typo here
https://github.com

[2022-01-12 09:58] Etkesmeci opened #44760 "Cert Projects: Changing wording for ease of translation"
## Is your feature request related to a problem? Please describe.
While I was trying to translate <a href="https://www.freecodecamp.org/learn/2022/responsive-web-design/build-a-personal-portfolio-webpage-project/build-a-personal-portfolio-webpage"> build a personal portfolio webpage</a> to Turkish this came to my mind.

Just to mention, we try to avoid the combination of code-block and non-code-bl

[2022-01-12 10:13] deniselemonaki opened #44761 "Typo in Beta Responsive Web Design Certification, Learn CSS Colors By Building a Set of colored markers project"
## Affected page

Here is the lesson with the typo:

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-css-colors-by-building-a-set-of-colored-markers/step-047.md

It currently says "You may already be familiar with decimal, or base 10 values, which go from 0 - 10", whereas it should say  "You may already be familiar with decimal

[2022-01-12 11:08] Etkesmeci commented on #44760
I was also going to ask whether changing this "Or you can use this CDN link to run the tests in any environment you like: https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js" to "Or you can use <a href="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js">this CDN link</a> to run the tests in any environment you like." this would be more consistent as the previous sentence

[2022-01-12 15:30] ShaunSHamilton commented on #44760
For the most part, I recommend we not change anything with the user stories or wording on the current certification, because most of this will be changing with: https://github.com/freeCodeCamp/freeCodeCamp/pull/44564

[2022-01-12 15:56] Etkesmeci commented on #44760
I see, sorry for bothering you guys with minor details.

[2022-01-12 15:56] #44760 closed

[2022-01-12 16:40] moT01 opened #44767 "Improve project blocks on new curriculum superblock pages?"
I was looking at the new curriculum, the certification projects blend in with the rest of the projects pretty good. I played around with it in the dev tools real quick and came up with this:
![Screen Shot 2022-01-10 at 8 32 22 AM](https://user-images.githubusercontent.com/20648924/149182906-0344239e-ec11-4dcb-b764-fbe48b41f1b3.png)

Wondering if we should do something to distinguish the cert proje

[2022-01-12 16:52] moT01 commented on #44754
I can confirm this issue

[2022-01-12 16:54] ShaunSHamilton commented on #44767
YES! I vote for that, **and** adding the word "Certification" before the word `Project`.

[2022-01-12 17:55] ojeytonwilliams commented on #44735
Yep, we discussed that and decided against it.

I was in favour of them, but you make a good point about them being distracting.  We want the learners to focus on the things we're trying to teach rather than some random element they happen to have moused over.

So, I guess I'm changing my vote to "stop showing the tooltips".

[2022-01-13 05:35] #44761 closed

[2022-01-13 19:41] #44389 closed

[2022-01-13 20:38] #41323 closed

[2022-01-13 21:42] nhcarrigan commented on #44759
Hey @moT01 is this something we could open up for contribution?

[2022-01-13 22:25] nhcarrigan commented on #44767
<img width="585" alt="image" src="https://user-images.githubusercontent.com/63889819/149418650-a2b979b9-4f26-469d-b88c-0c11aea145c4.png">

[2022-01-13 22:54] bbsmooth commented on #44639
I now have a working solution in place that will allow the user to toggle the `aria-roledescription` attribute off and on. I've added an option to the monaco editor's F1 menu that adds a key-combination command to toggle the attribute (I'm using Ctrl+Alt+J at the moment). The toggled state is saved to local storage so it persists across sessions. This is modeled on how the "Accessibility Mode" fea

[2022-01-14 06:15] jdwilkin4 opened #44772 "Typo in Learn SQL Student Database course part 2"
There is a missing word in the directions here.
In your student info script, add echo statement at the bottom like the other to print the results of the suggested query.

The word "an" should be added before echo statement.
Fix: add an echo statement...

This is an easy fix, so I have added the first timers only label.
Here is the file you need to fix:
https://github.com/freeCodeCamp/learn-sql-by-

[2022-01-14 07:02] ahmadabdolsaheb commented on #44767
We could replace the first sentence "This project is a requirement ..." with a tag to make it stand out.
Also experimenting with different icons and backgrounds is an option.

<img width="789" alt="Screen Shot 2022-01-14 at 9 56 11 AM" src="https://user-images.githubusercontent.com/4591597/149464614-49038f19-814d-4162-823c-72619e8559b3.png">

[2022-01-14 07:42] spandanghosh commented on #44772
Bug fixed according to requirement

[2022-01-14 16:13] deniselemonaki opened #44782 "Suggested edit for step 18 in Learn basic CSS by Building a Cafe Menu project in Responsive Web Design(Beta)"
## Affected page

The prompt currently says:

"So the styling of the page looks similar on mobile as it does on a desktop or laptop, you need to add a meta element with a special content attribute."

I think it it makes more sense to say:

"For the styling of the page to look similar on mobile as it does on a desktop or laptop, you need to add a meta element with a special content attribute."

Her

[2022-01-15 02:10] youngwitty opened #44787 "The server could not be reached and your progress may not be saved. Please contact support if this message persists"
**Looking forward for reporting a security issue:**
Please report security issues by sending an email to `security@freecodecamp.org` instead of raising a GitHub issue.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and

[2022-01-15 11:28] sidemt opened #44790 "TensorFlow course: Links to the Colab notebooks are missing"
In this video, it is mentioned that "there is a link in the description", but I can't find it on the /learn platform.
https://www.freecodecamp.org/learn/machine-learning-with-python/tensorflow/core-learning-algorithms

When I searched on the forum I found this post:
https://forum.freecodecamp.org/t/tensorflow-course/492207
And I found the links in the description of the original video on YouTube.

[2022-01-15 12:11] snehas2001 commented on #12417
<p>view more pictures
    <a href="http://freecatphotoapp.com" target="_blank">cat photos</a>
    </p>

[2022-01-15 21:59] Halu89 opened #44795 "Step 1110 in the Bike Shop relational DB course"
It seems like the test
[code]
 is looking for a semi-colon after the `echo "$AVAILABLE_BIKES"` command

## Expected behavior
[code]
should be passing the tests

[2022-01-15 22:18] Halu89 commented on #44795
[code]
seems to work ?

[2022-01-15 23:10] Kernix13 opened #44796 "RWD Beta: Grid Magazine section Step 24"
## Affected page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-grid-by-building-a-magazine/step-24

## Your code

[code]

## Expected behavior

I expected it to pass. I also tried:
[code]
I even went to step 25 and copied/pasted the complete tag from that lesson and it failed. It wasn't clear if I should add `<img` and ` />` or not. You can see the empty `img` tag above

[2022-01-16 05:14] jdwilkin4 commented on #44796
Hi @Kernix13 !

I was able to pass with the following code
<img width="720" alt="Screen Shot 2022-01-15 at 9 09 32 PM" src="https://user-images.githubusercontent.com/67210629/149648121-e9cab86b-cd5c-4410-83a6-2aee97a63468.png">
I think the issue is that people don't realize that with this new editor, you can edit other lines of the html file like on line 154.
I guess a possible solution would be t

[2022-01-16 05:39] gikf commented on #44796
Easier might be just including the whole `<img />` in the editable region at the start.

[2022-01-16 11:28] ieahleen commented on #44787
as it is about your personal account you will neep to contact support@freecodecamp.org

You have not given enough infos here to be able to help. I am closing this issue.

[2022-01-16 11:28] #44787 closed

[2022-01-16 12:39] Kernix13 commented on #44796
Ok, I tried it exactly as you have it with nothing on lines 155 and 162 AFTER removing ` />`, also with the code starting on 155 and having the code end on line 160 which also worked. I think it would be best to either:

- have the user enter the entire `img` tag (with `<img />` removed from line 154), or
- have `<img ` on line 154 and the closing ` />` on the first line following the editor

Is t

[2022-01-16 16:12] SaarthakMaini commented on #44782
@deniselemonaki #44799 This is my pull request is it correct?

[2022-01-16 19:01] marks1974 commented on #44754
I have found another bug like this one in step 65 which asks for the following code to be entered:

[code]

It won't pass in Safari but passes without any issues in Firefox.

![screenshot_145](https://user-images.githubusercontent.com/13849426/149673970-0d664d47-f2cd-476c-aad4-479ad098debd.png)

![screenshot_146](https://user-images.githubusercontent.com/13849426/149674013-84c70ec7-93f1-4429-90c9-

[2022-01-16 21:36] marks1974 opened #44801 "Safari issue in RWD beta - learn more about CSS Pseudo Selectors"
## Affected page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet/step-2

## Your code

[code]

## Expected behavior

The above code does not pass when submitted in Safari. I checked the same step using Firefox and it passed ok.
## Screenshots
![screenshot_150](https://user-images.githubusercontent.com/13849426/1496789

[2022-01-16 22:14] jdwilkin4 commented on #44796
If we add the entire `img` tag in the editable part, then we might consider altering the text to say create a third `img` element instead of give your third `img` element.

Any issue that is marked with a help wanted label is up for grabs.
You are free to make a PR.
But also, more people will probably comment on the issue with their two cents after the weekend.

[2022-01-16 22:24] Kernix13 commented on #44796
Ok, so should I just go ahead and do that? Since all three `img` tags were created a few steps prior, I think it would make sense to remove the closing part of the tag from above the editor and add it below the editor. However, what is actually doing the tests, checking what was entered? Wouldn't that have to be updated as well? Is it JavaScript? Does the code for that check need to be changed to

[2022-01-17 06:22] gikf commented on #44796
I'd consider just moving editable region, to contain `<img />`. This requires adjusting just single step and keeps consistent with previous steps. Adding `img` in this step would need removing it from previous steps. Similarly if editable region would be added inside of `<img` `/>`, some previous steps might need changing to keep it consistent.

Tests are using code below each hint in the `--hints

[2022-01-17 08:30] #44772 closed

[2022-01-17 08:57] #44721 closed

[2022-01-17 11:39] Kernix13 commented on #44796
Done - moved it to be between the `--fcc-editable-region` lines and pushed the change.

[2022-01-17 13:36] #44796 closed

[2022-01-17 14:33] c-ehrlich opened #44806 "Exercise Tracker Challenge - Code with incorrect functionality passes tests"
## Affected page

https://www.freecodecamp.org/learn/back-end-development-and-apis/back-end-development-and-apis-projects/exercise-tracker

## Your code

### The backend route that passes FCC tests despite not working correctly (see comments)
[code]

### An example of the incorrect behaviour caused by this bug that the tests don't catch

#### All exercises for this user
`GET /api/users/61e5689b039

[2022-01-17 15:02] #44782 closed

[2022-01-17 15:33] huyenltnguyen opened #44808 "Incorrect links on Contribute page"
## Affected page

https://contribute.freecodecamp.org/#/index?id=translations

## To reproduce

The Italian and Portuguese curriculum links in the "Translations" section are both pointing to the Spanish page.

## Recommended fix, suggestions

- Change the Italian link to https://www.freecodecamp.org/italian/learn
- Change the Portuguese link to https://www.freecodecamp.org/portuguese/learn/
- The

[2022-01-17 15:34] huyenltnguyen commented on #44808
This issue is open for first-time contributors only.

Please make sure you read [our contribution guidelines](https://contribute.freecodecamp.org/#/). Join us in [our chat room](https://chat.freecodecamp.org/channel/contributors) or [the forum](https://forum.freecodecamp.org/c/contributors/3) if you need help contributing, our moderators will guide you through this.

Sometimes we may get more than

[2022-01-17 16:41] UrviSinghal28 commented on #44808
Hi fixed this issue #44809

[2022-01-17 23:18] juanalbglz opened #44813 "Wrong object properties on JS Curriculum"
## Affected page
https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/accessing-object-properties-with-bracket-notation

## Expected behavior
Show actual object structure

## Screenshots
![image](https://user-images.githubusercontent.com/2136913/149846506-810cb772-bde1-4818-9375-c70b1cd6d923.png)

## System

- Device: Desktop
- OS: W10
- Browser: Brave
- Ve

[2022-01-18 00:01] mhblatch commented on #44759
Hi, I would love to handle these typos!

[2022-01-18 00:18] mhblatch commented on #44306
Hi, I would really like to work on this.

[2022-01-18 00:59] jdwilkin4 commented on #44759
Hi @mhblatch !

This issue has the help wanted label so you are free to work on it.
Make sure to read through the [contributing docs](https://contribute.freecodecamp.org/#/index) and the section on how to contribute to [lessons using coderoad](https://contribute.freecodecamp.org/#/how-to-work-on-tutorials-that-use-coderoad).
Let us know if you have any questions.

[2022-01-18 08:47] ShaunSHamilton commented on #44806
Hello there,

Thank you, for taking the time to open this.

I follow what you are saying until here:

Would you mind clarifying how the query limits based on "Jogging" and "Weights"?

---

I see the response does not match the query, but I cannot see any other filter for:

[code]

[2022-01-18 09:07] ShaunSHamilton commented on #44813
Thank you, for taking the time to open this.

This is an interesting bug. @ojeytonwilliams Any immediate ideas?

**To Reproduce**
1) Go to https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/accessing-object-properties-with-dot-notation
2) Complete and submit challenge
3) Hover over the call to the `testObj` variable on line `9` or `10`

[2022-01-18 09:17] gikf commented on #44813
It's not needed to submit or complete challenge. `Esc` + `n` or `p` will reproduce it too, also over multiple challenges, ie:
1. https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-javascript/accessing-object-properties-with-dot-notation.
2. `Esc` + `n` + `n`.
3. Hovering over `testObj` on line `10` will show properties from dot notation challenge.

[2022-01-18 11:21] ShaunSHamilton opened #44818 "Trailing `/` in i18n Redirects to `/learn`"
Noticed in: https://github.com/freeCodeCamp/freeCodeCamp/pull/44809

**To Reproduce**

1) Go to: https://www.freecodecamp.org/portuguese/learn/
2) See `301` redirect to `/learn`

OR

1) Go to https://www.freecodecamp.org/learn/
2) Choose another language
3) Refresh the page
4) See `301` to `/learn`

[2022-01-18 14:57] #44759 closed

[2022-01-18 19:39] moT01 commented on #44818
More not working:
https://www.freecodecamp.org/portuguese/learn/responsive-web-design/
https://www.freecodecamp.org/portuguese/learn/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements/
https://www.freecodecamp.org/portuguese/learn/responsive-web-design/#basic-html-and-html5

Working:
https://www.freecodecamp.org/portuguese/learn/responsive-web-design
https://www.freecodecamp.org

[2022-01-18 22:36] WaterBloom opened #44827 "Suggestion: Wider context for code in RWD Beta"
In RWB, the placement of the instructions interrupts the code and makes indentation unclear, especially for a beginner that may not know what to look for yet.

I noticed several instances where putting longer, uninterrupted part of the code in the highlighted editor might help with clarity.

<h2>Examples</h2>

<a href="https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-bui

[2022-01-19 00:13] Roburlion opened #44828 "Minor typo in javascript-algorithms-and-data-structures > object-oriented-programming > understand-own-properties"
## Affected page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/object-oriented-programming/understand-own-properties
## To reproduce

There is a typo in one of the code blocks.  There is an extra space in the following line between "name" and "=":

this.name  = name;
## Recommended fix, suggestions

Remove the extra space.

## Screenshots
![Screenshot 2022-01-18 180

[2022-01-19 01:12] Kernix13 opened #44830 "RWD Beta: Transform Penguin: Steps 55, 82, 88"
## Affected page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-transforms-by-building-a-penguin/step-55

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-transforms-by-building-a-penguin/step-82

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-transforms-by-building-a-penguin/step-88

## Your code

Not applicable

## Expecte

[2022-01-19 04:47] realandrew opened #44831 "Error with step 36 of the Learn HTML by Building A Cat Photo App in the Beta RWD"
## Affected page

[https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-36](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-36)

## Expected behavior

Step 36 says

However this is false, anchor tags are not self-closing. I believe it meant to say `img` which is the self-closing tag intro

[2022-01-19 07:52] JayNewbie commented on #44831
Good eye!

[2022-01-19 08:47] ShaunSHamilton commented on #44830
Hello there,

Thank you, for opening this. This bug is (documented here](https://github.com/freeCodeCamp/freeCodeCamp/issues/43668), but I will leave this open as a specific issue to tackle.

If I correctly recall, we did actually already fix this, but the bug appears to have made its way back 🤷‍♂️

[2022-01-19 12:18] Kernix13 commented on #44830
I searched to see if it was already reported but I guess
I didn't search well enough. It looks like the example shows Step 55 in the Penguin section. BTW, I found 1 Step in the Ferris Wheel section that does the same thing.

[2022-01-19 12:38] Palakash27 commented on #44828
Hey, can I take this one??

[2022-01-19 12:49] Palakash27 opened #44835 "Minor UI issue in homepage, while toggling night mode."
**Affected Page**
https://www.freecodecamp.org/learn and all the pages in which we are flashing `We have updated your preferences` this message on changing of `Night Mode`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.freecodecamp.org/learn' and sign in/ sign up
2. Click on 'Menu' button on navigation bar and select night mode `ON/OFF`
3. After selecting the night mode,

[2022-01-19 12:50] Palakash27 commented on #44835
I am capable of fixing this issue. Please let me know if I can. Thanks.

[2022-01-19 13:13] DarshanVaishya opened #44836 "RWD Beta: Redundant step in "Building a rothko painting" challenge"
## Affected page
https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-20
https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-28

## Your code

In step 20 we add the following code to `.one` element

[code]

This will create vertical margin of 20px and horizontall

[2022-01-19 13:16] DarshanVaishya commented on #44836
Forgot to mention that issue with padding is fixed in [step 21](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-21) and [step 22](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-22).

[2022-01-19 15:08] jdwilkin4 commented on #44831
Hi @realandrew !

Thank you for bringing up this issue.
This is an easy fix to change anchor elements to img elements.
I have added the first timers only label for those who are interested in making their first PR.

[2022-01-19 15:20] jbarryfl commented on #44831
Could I take this issue? I'm looking for a good first contribution.

[2022-01-19 15:42] jdwilkin4 commented on #44831
Hi @jbarryfl !

Any issue with the first timers only label is up for grabs.
The first PR that has the correct changes will be reviewed and merged into the main codebase.
Here is the file that needs changing.
https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/step-036.md

Happy contributing !

[2022-01-19 19:21] DevOps-DoDo commented on #44706
Correct. I will try again and get back to you.

[2022-01-19 20:17] ieahleen commented on #44588
Note: for anyone willing to take on this issue, you may need to adjust the solution function

---

@marsonya
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contr

[2022-01-19 22:19] #44828 closed

[2022-01-19 22:20] Kernix13 opened #44845 "RWD Beta: Subjective changes and unclear directions"
## Affected page

Cafe Menu:
https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/step-3
https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/step-85

Registration Form:
https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-forms-by-building-a-registration-form/step-33
https://www.f

[2022-01-20 00:09] Roburlion commented on #44828
Yes, go for it!

Sorry I didn't get back to you sooner. It's been a hectic day.

On Wed, Jan 19, 2022, 6:38 AM Aakash Pal ***@***.***> wrote:

[2022-01-20 00:43] Palakash27 commented on #44828
No worries. I have fixed this issue ☺️☺️

[2022-01-20 08:13] #44831 closed

[2022-01-20 09:31] c-ehrlich commented on #44806
Thanks for the response :) Maybe my example was unnecessarily complicated.

Imagine a user with these exercises:
[code]
Now imagine a project/solution that applies `limit` before `from` and `to`. For a query for `GET /api/users/foo/logs?from=2022-02-19&to=2022-02-21&limit=1`, this server would return 0 objects.

This is because it would first apply `limit=1`, so now all that's left is Exercise 1.

[2022-01-20 11:01] srkds commented on #44731
Hello,

I am following guidelines
- created a new branch
- installed coderoad v0.9.3
- committed changes on file TUTORIAL.md
- now running command ```coderoad build```
  and getting error
[code]

Please can anyone give any suggestions

[2022-01-20 11:22] gikf commented on #44731
The latest _version_ branch from the repository needs to exist locally:
[code]

[2022-01-20 17:26] nhcarrigan commented on #44845
Thank you for taking the time to share such in-depth feedback. I'm going to open this issue up for discussion, as I think a lot of these have merit and we can find some better approaches.

This is intentional behaviour, to allow campers to have multiple "files" open at a time. It's less necessary in the lessons, but will likely be quite helpful in the certification projects once we've migrated tho

[2022-01-20 17:37] WPDChristos commented on #39232
I cannot find the exercises guys, sorry!

[2022-01-20 17:41] moT01 commented on #44836
This seems to be the case. The code added on Step 28 changes nothing in the preview. The margin is already at what you are asked to change it to. I would be fine with removing this step. I'm not sure exactly what all needs to be done to do that. There's some [helper scripts](https://contribute.freecodecamp.org/#/how-to-work-on-practice-projects) for working with the practice projects that may help

[2022-01-20 17:41] nhcarrigan commented on #44836
@moT01 we have the helper script to delete + reorder the steps, so that part isn't too terrible.

[2022-01-20 17:47] nhcarrigan commented on #44827
I don't believe we would go this route, as the instructions UI was specifically designed to allow us to highlight the section of code a camper should be editing. I do agree some of these regions could be tweaked a bit 🙂

[2022-01-20 17:48] nhcarrigan commented on #44818
@ojeytonwilliams do we have a redirect that might be doing this?

[2022-01-20 17:51] moT01 commented on #44818
I want to say that the `chinese` redirect is catching the `chinese-traditional` URLs

[2022-01-20 18:03] WaterBloom commented on #44827
Thank you for reading through it! I will admit I added that secondary suggestion because of a personal issue as well, as I find the page a bit overwhelming and every time I click on the next step, it takes me a while to find and re-focus on the editor. I think there's just a lot going on visually, but I'm not a UI/UX designer so I don't have specific suggestions except for the fixed placement.

[2022-01-20 18:15] nhcarrigan commented on #44806
Probably wouldn't hurt to add a test that checks both at once. 👍🏻

[2022-01-20 18:18] moT01 commented on #44827
I'm fine with changing the three lessons mentioned here, but we could maybe use a discussion on how those regions should be. There's probably going to be many steps where the editable region could be bigger or smaller or different. Maybe we need some hard rules on how to apply them. Something like - for HTML steps, include the parent element in the region. For CSS steps, include the whole selector

[2022-01-20 18:21] ojeytonwilliams commented on #44818
location /name/ {
    proxy_pass http://127.0.0.1/remote/;
}

This might be relevant.  What I don't understand is why https://www.freecodecamp.org/espanol/ is fine, as is https://www.freecodecamp.org/espanol, but https://www.freecodecamp.org/espanol/learn/ is not.  If it were just that /espanol/ was being replaced with /, I'd have thought that would be a problem for all espanol links, not just sub

[2022-01-20 18:24] moT01 commented on #44813
I vote to hide that helper box.

[2022-01-20 18:32] ojeytonwilliams commented on #44818
[code]

Yeah, that question mark is messing us up.  It makes the `/` optional, so `/chinese-traditional` matches when it shouldn't.

[2022-01-20 18:37] moT01 commented on #44806
I would be fine with fixing this test. @c-ehrlich seems willing to make a PR - so why not. I think we would accept one if you want to do that @c-ehrlich 👍 Thanks

[2022-01-20 19:00] ojeytonwilliams commented on #44813
True, we did discuss that.  I'll hold off trying to fix this until we decide.

[2022-01-20 19:41] moT01 commented on #44801
I couldn't reproduce this on Safari 13.1.2. The test that is failing for you, @marks1974, is checking for a single `div` element: `assert(document.querySelectorAll('div')?.length === 1);`. Seems like a strange one to fail. There must be quite a few tests like that throughout that would be causing you problems. A quick search shows as many as 127:

![Screen Shot 2022-01-20 at 1 32 37 PM](https://us

[2022-01-20 19:59] moT01 commented on #44754
The problem with step 43 - the test:
`assert(document.querySelector('.daily-value.sm-text')?.lastElementChild?.previousElementSibling?.innerText.match(/Total Fat 8g[\s|\n]+10%/));`

Checks the `innerText` of the `previousSibling`. Safari renders it as:
![Screen Shot 2022-01-20 at 1 50 51 PM](https://user-images.githubusercontent.com/20648924/150412338-a96feec3-dc4c-4cf6-89b6-ac718b16c556.png)

Fir

[2022-01-20 20:07] moT01 commented on #44754
For step 65 - Safari doesn't support [scoll-behavior](https://caniuse.com/?search=scroll-behavior). I think we have [a helper function](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/utils/css-help.ts#L95) that can the values in the stylesheet or something that might work here. Otherwise, maybe resort to regex.

[2022-01-20 20:07] nhcarrigan commented on #44616
Weird that prettier auto-closes `meta` tags with `/>`.

I'd be fine with making the `/` optional in these tests.

[2022-01-20 20:11] wbenarto commented on #44836
Did a PR on this issue:

https://github.com/freeCodeCamp/freeCodeCamp/pull/44856

Please refer and approve as you see fit. I explained all changes in the PR as well.

Thank you

[2022-01-20 20:17] moT01 commented on #44660
You're right @aburto22. Thanks for spotting this. I will put a help wanted label on it in case anyone want to try and fix it. Otherwise, I can give it a fix when I get to it.

[2022-01-20 20:22] moT01 commented on #44659
Thanks for reporting @aburto22. I agree that these could be a little more clear.

[2022-01-20 20:54] moT01 commented on #44616
If they're both valid, ideally, they would both pass.

[This PR](https://github.com/freeCodeCamp/freeCodeCamp/pull/42195) should be getting in soon, which can help us with these tests. The reason they're all in regex is cause some of these elements weren't being rendered as hoped. `link` elements, for example, were rendering in the `body` of the preview, not the `head`. When that PR gets in, it sh

[2022-01-20 21:27] Kernix13 commented on #44830
70 steps for just the English version or all languages? How did you perform the search? What makes the directions appear in the "correct" location for all the other lessons?

Would you paste in links of all the steps where this happens? I had to search for Step 65 until I found it in the Quiz section. So far, it seems as if row 1 in the CSS file is the first row in the editor and that there is a f

[2022-01-20 22:06] moT01 commented on #44830
That screen shot is VS Code. I have the repo opened in it. You can search for things. I searched for that pattern at the top
[code]
Make sure the `.*` is checked at the top right there to enable regex searches.

[2022-01-20 22:57] marks1974 commented on #44801
I just tried step 2 again and this time it passed. I honestly thought it was a bit odd that it did not initially pass as shown by my screen shots.

The funny thing is that earlier in the week I was doing a different part of the beta and initially one of the steps (I can't remember which) would not pass for me in Safari but was fine in Firefox. I started to write a new issue on Github and was about

[2022-01-20 23:56] PabloPenia opened #44857 "Last test on js calculator should give a different result"
## Affected page

[JS Calculator](https://www.freecodecamp.org/learn/front-end-development-libraries/front-end-development-libraries-projects/build-a-javascript-calculator)
## Expected behavior

5 * - + 5 = 25

## Additional context

_User Story #13: If 2 or more operators are entered consecutively, the operation performed should be the last operator entered (excluding the negative (-) sign). For

[2022-01-21 08:55] scissorsneedfoodtoo commented on #44626
We've had a couple of reports in the support inbox that the negative lookbehind used in some of these tests is failing in Safari, so it's great that either #44651 or #44829 (pending update) will take care of that as well.

At the moment #44829 seems more flexible, and allows valid code to pass without forcing a particular style. It'll also be good to move away from regex for this type of test.

[2022-01-21 09:04] srkds commented on #44731
Mentioned PR.

[2022-01-21 12:09] Kernix13 commented on #44830
I was not able to duplicate your search with the 2nd line having `--fcc-editable-region--`. I found the **Toggle Search Details** button and the **Open New Search Editor** button, but I could not find a way to ENTER onto a new line for the editable region line. Looks like there are 7 languages so that would be 10 Steps/Lessons where this happens. I found the 3 in my original message plus step 20 i

[2022-01-21 12:09] ShaunSHamilton commented on #44830
@moT01 We should definitely not use a temporary fix for this - resolve the issue at the editor

[2022-01-21 13:31] #44716 closed

[2022-01-21 15:21] c-ehrlich opened #44867 "boilerplate-advancednode: `npm i` fails on Apple Silicon because of incompatible Node version"
Note: I'm opening this issue here as it doesn't seem to be possible to open issues on the `boilerplate-advancednode` repository.

## Affected page

https://www.freecodecamp.org/learn/quality-assurance/advanced-node-and-express/set-up-a-template-engine
https://github.com/freeCodeCamp/boilerplate-advancednode/

## Your code

Running `npm i` on an Apple Silicon Mac results in the following error:

[c

[2022-01-21 17:01] Kernix13 commented on #44830
I did a search for `--fcc-editable-region--` and found some json and js files with that phrase in it. What are `markers`? I have to leave but I wanted to look at `tools\chalenge-parser\parse\plugins\add-seed.js` ana `add-seed.test.js`. The first one sets `--fcc-editable-region--` as a `const`, but I'm not sure exactly what these files do - just poking around. Where would you even begin to look for

[2022-01-21 17:43] sidemt commented on #40998
I think this issue might be in a higher priority now, since after the change in #44574 every user will come to settings page to claim certifications. I just noticed this issue too.

[2022-01-21 18:01] jeremylt commented on #44857
I think this test is fine.

If you remove all but the last operator, you get `5 + 5 = 10`.

We don't want to send users down the route of the complex parsing that Google is attempting to do.

[2022-01-21 21:01] PabloPenia commented on #44857
I think the gnome calculator is more accurate, when you hit more than 2 operators the last one is changed. But in the demo 2 operators change, the last "+" removes "-" and "*".
Anyway what happens after you submit the challenges on FCC? I can edit my code just to pass the tests and then edit it again?

[2022-01-21 21:10] jeremylt commented on #44857
I wouldn't describe it that way. In the demo when multiple operations are pressed, only the last one is used.

I could be wrong, but as I understand the intent, are three cases:

1) One operation is used => call that operation

2) Two operations are used AND the last one is - => call the first operation, using the - as a negative sign

3) More than two operations are used OR two operations are use

[2022-01-21 21:22] katkelsch1 opened #44871 "Typo on step 43 of the Beta Learn the CSS Box Model by Building a Rothko Painting"
## Affected page

## To reproduce

## Recommended fix, suggestions

## Screenshots

![typo on step 43 Rothko painting CSS Box Model](https://user-images.githubusercontent.com/98189777/150601805-bc767957-c944-4cb5-a010-a95bde06a4fd.png)

[2022-01-21 22:20] Kernix13 commented on #44830
For all the steps I looked at, they all have `--fcc-editable-region--` immediately following ```css. I looked at surrounding steps and they do not have that happen. I did a search in the `english` folder for:

[code]

I found 47 files (**not 70**) and they all have the same format with `--fcc-editable-region--` following the CSS codeblock:

- Accessibility Quiz: Steps 65, 66.
- Cafe Menu: Steps 15

[2022-01-22 04:57] KitaPDev commented on #44818
@ShaunSHamilton Hi, I would like the opportunity to work on this issue as part of my university's Software Development class. Can I be assigned to work on this?

[2022-01-22 09:15] jdwilkin4 commented on #44871
Hi @katkelsch1 !

Thank you for finding this typo.
I have added the first timers only label since this is an easy fix.

For those interested in fixing this issue, here is the file you need to change.
https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-the-css-box-model-by-building-a-rothko-painting/step-043.md

Proposed fix:
The bo

[2022-01-22 10:28] ninjacoder12 commented on #2834
Finally i did by disabling my dark mode
i guess you all should disable dark mode extension in your brouser during css test

[2022-01-22 10:35] ShaunSHamilton commented on #44818
@KitaPDev Thank you, for your interest in contributing. However, this issue is not currently open for contribution.

An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read t

[2022-01-22 10:48] jdwilkin4 opened #44875 "Typo in bash command for Advanced bash RDB course"
The directions say to enter the command `> stout.txt`. But the correct name of the file is `> stdout.txt`

## Affected page
https://github.com/freeCodeCamp/learn-advanced-bash-by-building-a-kitty-ipsum-translator/blob/main/TUTORIAL.md#50--stdouttxt

## Proposed fix
Enter `> stdout.txt` in the terminal to redirect nothing into the file.

## Screenshots

<img width="1171" alt="Screen Shot 2022-01-22

[2022-01-22 17:32] GoonerBrian commented on #44871
I'm going to start looking into this.

[2022-01-22 18:03] #44871 closed

[2022-01-22 19:51] GoonerBrian commented on #44731
I see this has been solved multiple times but I'm going to add to that as I complete my first contribution. Great documentation by the way! Super easy to setup my local environment!

[2022-01-22 20:14] katkelsch1 commented on #44871
Thank you for fixing the issue. It was the first time for me on Github. I'm
a total newbie in the webdev coding bootcamp.😀

On Sat, Jan 22, 2022, 11:03 AM Krzysztof G. ***@***.***>
wrote:

[2022-01-22 20:46] GoonerBrian commented on #44835
I'm a first time contributor and am also going to look into this.

[2022-01-23 22:27] kmbenjel opened #44883 "Learn Relational Databases by Building a Mario Database instructions wording"
Here it says `You can see the key for your name column at the bottom`, well, I think it was meaningless, we could rather say:

` You can see that the primary key is your name column at the bottom.`

![Screenshot from 2022-01-23 21-43-53](https://user-images.githubusercontent.com/14932601/150700253-0e1b0d3c-b8a5-4656-a910-529a303a929d.png)

[2022-01-24 02:45] FelipeSandes opened #44884 "Error in translating the page Make Motion More Natural Using a Bezier Curve"
## Affected page

https://www.freecodecamp.org/portuguese/learn/responsive-web-design/applied-visual-design/make-motion-more-natural-using-a-bezier-curve

## Your code

[code]

## Expected behavior

Correct values 0.311, 0.441, 0.444, 1.649.

## Screenshots

![erro](https://user-images.githubusercontent.com/57547388/150713558-1129e9df-fd5b-4b48-bbc9-c8d554d1cc03.jpg)

## System

- Device: Laptop M

[2022-01-24 10:54] DanielRosa74 commented on #44884
Changes done and will show on the next build. Thanks for pointing it out, @FelipeSandes! :)

[2022-01-24 11:03] #44884 closed

[2022-01-24 14:02] ShaunSHamilton commented on #44494
This issue is open for contribution. The only thing that should be changed is this file:

- https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/06-quality-assurance/advanced-node-and-express/set-up-a-template-engine.md

**Desired Change**

1) Lesson content to teach:
a) More information about `app.set('views')` from an Express point of view
b) The expected code is

[2022-01-24 14:05] ShaunSHamilton commented on #44690
What do we think about this being an editor extension?

[2022-01-24 14:07] ojeytonwilliams commented on #44690
Sounds good, but presumably we'd want to have that additionally rather than instead.  For one thing, we can't assume people are using VSCode (unless they're in Gitpod).

[2022-01-24 14:55] ShaunSHamilton commented on #44705
So, as I thought, the comments are not removed, if the test is of type `function`.

So, I am opening this as `help wanted`, because I have not investigated this enough to solve it myself.

**What needs fixing**

- We automatically remove comments for most challenges code, but this is not happening if the test is of the form `(getUserInput) => ...`

---

An issue with the _help wanted_ or _first ti

[2022-01-24 15:38] #43358 closed

[2022-01-24 15:51] DivyanshuBist opened #44892 "Typing error in the name of website"
## Affected page
https://www.freecodecamp.org/news/how-to-contribute-to-open-source-projects-beginners-guide/

## To reproduce
Typing error in the name of the website.

## Recommended fix, suggestions
Change 24 pull reuests->24 pull requests

## Screenshots

![image](https://user-images.githubusercontent.com/77827249/150815312-b8900ba1-bda0-4c2e-b09c-c2f7687fd136.png)

[2022-01-24 16:45] DivyanshuBist commented on #44892
Sure but how to do that.this is the first time I have raised an issue.

[2022-01-24 16:50] Sampathkumar-PN commented on #44892
We are provided with [Contributing guidelines](https://contribute.freecodecamp.org/#/index?id=our-open-source-codebase ).

[2022-01-24 18:07] deniselemonaki opened #44894 "Suggestion to avoid confusion for self-closing HTML elements, in Learn Basic CSS by Build a Cafe Menu in Responsive Web Design Certification"
[Step 3](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-basic-css-by-building-a-cafe-menu/step-003.md) mentions that  the `<meta charset="utf-8" >`  is self-closing element,  without making it  very clear how to write it.

Tests pass when the forward slash is not written.

<img width="744" alt="Screenshot 2022-01-24 at 7 31 25

[2022-01-24 18:21] ShaunSHamilton commented on #44827
I did bring this up, but we were on the fence with:

[2022-01-24 18:23] moT01 commented on #44892
Thanks for reporting @DivyanshuBist - I don't think this can be fixed with a PR. The author, or someone with access, will need to go and edit the article.

[2022-01-24 18:29] ShaunSHamilton commented on #44801
Thank you, for testing, and re-clarifying.

I am going to close this, for now. If we can determine an issue, then please ask, and we can reopen this.

[2022-01-24 18:29] #44801 closed

[2022-01-24 19:02] #44795 closed

[2022-01-24 19:10] #44731 closed

[2022-01-24 21:45] philsawa opened #44897 "RDB Student Database Part1 required spaces after "#"s to pass"
## Affected page
Where you add the first if statement

## Your code
Code _required_ to pass:
[code]

## Expected behavior
The code that _should_ pass:
[code]

## Screenshots
![spaces required before comments](https://user-images.githubusercontent.com/9974973/150869466-2090a99c-d4aa-47b1-a2d2-c888e9163252.PNG)

## System
- Device: Laptop
- OS: Windows 10
- Browser: VS Code
- Version: Version: 1.63.

[2022-01-24 22:08] nhcarrigan commented on #44735
I'm also in favour of removing it.

[2022-01-24 22:23] nhcarrigan commented on #44616
The above referenced PR has been merged. We should be good to move forward with updating the tests to move away from Regex and use DOM queries.

[2022-01-24 22:37] nhcarrigan commented on #44827
Yeah it seems like something that's more of a case-by-case basis than to have hard and fast rules for.

My proposed "general" approach would be to encapsulate anything the instructions mention. So if the instructions say "write a h2 below your h1", the h1 should be within the editable region.

[2022-01-25 06:11] thamognya opened #44901 "[Feature request] Add video links in README.md and website"
## Is your feature request related to a problem? Please describe.

I really like this readme.md and the website in general but the thing that frustrates me is that I have to go searching for the video link (i.e the tutorials on youtube) which makes it a bit unmotivating.

## Describe the solution you'd like

I would like to request a addition of the video links (i.e the tutorials on youtube) to th

[2022-01-25 08:51] ojeytonwilliams commented on #44735
Okay, no-one is in favour of keeping them, so I'm happy to open this up to contributions.

[2022-01-25 16:47] jdwilkin4 opened #44909 "Firefox doesn't accept the correct answer for Step 8 of the CSS transforms project"
An issue was brought up in the forum where the user could not pass the challenge using firefox.
https://forum.freecodecamp.org/t/learn-css-transforms-by-building-a-penguin-step-8/494080

They had the correct code and weren't using browser extensions.

## Affected page
https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-transforms-by-building-a-penguin/step-8

## Correct code th

[2022-01-25 17:58] sidemt commented on #44735
I updated the title & description accordingly.

[2022-01-25 21:35] moT01 commented on #44897
This looks correct @philsawa - thanks for reporting 👍

[2022-01-25 21:37] ShaunSHamilton commented on #44830
@Kernix13 We have had this bug before, and we should **not** do a temporary fix of adding spacing between the ERMs and code blocks.

The most likely place this will need fixing is:
https://github.com/freeCodeCamp/freeCodeCamp/blob/33ddfd01fa7d14734279d6b2b2e7c393834571b5/client/src/templates/Challenges/classic/editor.tsx#L471-L476

[2022-01-25 23:29] #44696 closed

[2022-01-25 23:30] Kernix13 commented on #44830
I'll take a look at that. What does the extension `tsx` stand for?

[2022-01-25 23:40] moT01 commented on #44901
Thanks for sharing your ideas @ThamognyaKodi. I, personally, don't think the readme is an appropriate place for video links. There's a link to our youtube channel in it, which has hundreds of videos on the channel. Is there some specific ones you were thinking of?

[2022-01-26 00:11] moT01 commented on #44894
The first test on step 3 requires a space in the tag:
![Screenshot from 2022-01-25 17-59-29](https://user-images.githubusercontent.com/20648924/151080037-aef4d97c-413f-43ae-a048-7ba89df4101a.png)
`<meta >` passes. The test shouldn't require a space. And if we change the hint to `You should have a <meta /> tag` or something - I think that would clarify it enough in case users forgot. I'm not oppose

[2022-01-26 01:21] moT01 commented on #44835
I'm not sure if this is something we want. You can feel free to look into it, but I can't promise we would accept the changes. Here's one of the longer messages:
![Screenshot from 2022-01-25 19-16-23](https://user-images.githubusercontent.com/20648924/151086834-039259c2-6c4d-45f1-a2e8-fd84fcc76989.png)
Perhaps there's a reason the text is how it is. The text may not be centered, but the content as

[2022-01-26 01:30] GoonerBrian commented on #44835
Thanks,  will do. It's also this way with the flash-message that popups when a user signs in for the first time. I'll play around with it. It's okay if you decide to kept it as-is. If you could, please keep this open until next Monday!

[2022-01-26 03:09] #44909 closed

[2022-01-26 04:57] filipkujawa commented on #44892
I believe this issue was fixed.

![image](https://user-images.githubusercontent.com/44206832/151106320-76e16926-455d-45fb-b87f-c8a7fa580bbd.png)

[2022-01-26 08:19] deniselemonaki commented on #44894
@moT01  I think tests passing with any valid method would be helpful 👍

[2022-01-26 10:47] Sembauke commented on #44892
The issue appears to be fixed by the author, thanks for reporting though.

Have a nice day, and happy coding :) !

[2022-01-26 10:47] #44892 closed

[2022-01-26 12:16] ShaunSHamilton commented on #44830
`tsx` is the TypeScript extension with JSX. That is, the file contains both TypeScript and JSX.

[2022-01-26 13:44] Kernix13 commented on #44830
Sorry, I should have searched that myself. I've never worked with TypeScript and only worked with React a few times.

There is a constant name for an object that is repeated: `viewZone`. First on line 485, then again on line 516, both with the same properties but the values are different. I thought you can not overwrite a variable that is declared with the `const` keyword. And isn't TypeScript "st

[2022-01-26 14:51] jdwilkin4 opened #44923 "Adding an alt attribute to steps 2-4 of the CSS Box Model project"
This might be a small issue, but I think for consistency sake we should always require users to add an alt attribute for their image tags.
In steps [2](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/step-2), [3](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-the-css-box-model-by-building-a-rothko-painting/ste

[2022-01-26 15:13] Sembauke commented on #44690
This does sound like a good idea, an easier way of editing challenges on the local version of the site itself (That is what I understand without any further knowledge).

But I do have some doubts.

It sounds like we are slowly trying to put together our own CMS. There probably already exists one that fits our needs and would save us a lot of time building our own.

[2022-01-26 17:27] ojeytonwilliams commented on #44690
Hey @Sembauke it's possible something exists that meets our needs.  If so, that's awesome.  However, we should bear in mind that we have very specific requirements for the format of the data. It needs to match the [schema](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/schema/challengeSchema.js), basically.

If that's something an existing CMS can do (maybe with a custom plugin?

[2022-01-26 18:03] PabloPenia opened #44925 "Codepen fails to load testable bundle"
[code]

Since yesterday, codepen is failing to load the bundle to test our projects. Just checked old projects which I know the bundle was working and get the same result.

On my local machine works fine.

Using latest Brave browser.

[2022-01-26 21:20] Kernix13 commented on #44830
I said it was declared twice, meaning in the global scope - or at least that is what I thought. I didn't notice that. My mistake, let me keep poking around...

[2022-01-27 00:04] kmbenjel opened #44930 "Keyboard Shortcut for Next Challenge without submitting the current one"
## Affected page

## Your code

[code]

## Expected behavior

## Screenshots

## System

- Device: [e.g. iPhone6, Laptop]
- OS: [e.g. iOS 14, Windows 10, Ubuntu 20.4]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

## Additional context

[2022-01-27 00:07] nhcarrigan commented on #44930
This actually exists, if you press `Esc` to get out of editor mode, you can press `n` to move to the next challenge and `p` to move to the previous.

[2022-01-27 01:48] kmbenjel commented on #44930
Aha thank you.

On Thu, Jan 27, 2022, 01:08 Naomi Carrigan ***@***.***> wrote:

[2022-01-27 01:49] #44930 closed

[2022-01-27 10:02] ieahleen opened #44932 "Typo in project description"
The project description in https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-projects/page-view-time-series-visualizer mention Seaborn as "Searborn" once, the typo should be fixed.

This looks something that can be fixed by "first time" code contributors to this repository. Here is the file that you should be looking at to work on a fix:

https://github.com/fre

[2022-01-27 10:28] ieahleen opened #44933 "We need to go through issues and comments on crowdin for suggested changes to challenges"
This is also a reminder to myself to do it.

[2022-01-27 15:19] sstonaker commented on #44923
Since the attribute is introduced early in the HTML section [Step 9](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-9) I think it would be beneficial to be consistent and use best practices for the remaining exercises.

It may be distracting for the box model since it is an illustration that is removed, however there are other courses such

[2022-01-27 15:40] elidrissidev opened #44938 "Drum Machine project's 6th test fails and throws an error"
The 6th test of this project is failing every time and throws the error `Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause().` in the browser console, after some research I've found this [thread on the forum](https://forum.freecodecamp.org/t/drum-machine-not-passing-last-test/239158), it seems that other people have faced it too.

## Affected page

https://w

[2022-01-27 20:10] elidrissidev commented on #44938
Tried on my desktop and now the tests pass, but the error is still thrown in console.

[2022-01-27 21:23] bbsmooth commented on #44923
@jdwilkin4 love your attention to accessibility :+1:

In these three instances I think it might be OK to just have a note saying that normally you always want to have an `alt` attribute describing the image but for brevity we are leaving them out since the images are temporary.

I think the real accessibility issue here is that these three images are being used to explain a concept. Thus, the text

[2022-01-28 00:53] Kernix13 commented on #44830
I can't figure that file out. There are so many variables and functions that I don't know where to start looking, plus I do not understand a lot of the code.

[2022-01-28 06:08] #44932 closed

[2022-01-28 11:49] ShaunSHamilton commented on #44830
@Kernix13 No worries. It is one of the largest files in our codebase. So, it takes a lot of time to read / get used to.

I will spend some more time looking into it.

[2022-01-28 14:28] ahmaxed opened #44955 "Adding Custom Fonts for Different Langauges"
Currently Lato does not support italic for Japanese and we optimally would like to support different fonts for different languages.

Here is the plan:
1) download the related woff files and place them in the [static directory](https://github.com/freeCodeCamp/freeCodeCamp/tree/main/client/static/fonts).
2) group all font assignments in css into one file for english, and dynamically load alternative

[2022-01-28 14:58] sidemt commented on #44955
I think Lato font doesn't have Japanese characters at all (not only italic) and some fallback font is used now. And that fallback font does not have italic.

When I had the same issue on /news, I chose 'Noto Sans JP' for Japanese news.
Noto Sans JP: https://fonts.google.com/noto/specimen/Noto+Sans+JP

The issue I created for news: https://github.com/freeCodeCamp/news-theme/pull/232

[2022-01-28 15:11] #44735 closed

[2022-01-28 15:52] sasha066 opened #44956 "Selecting Ukrainian redirects to Japanese, and sometimes just some of the content is displayed in Japanese"
## Affected page
https://www.freecodecamp.org/ukrainian/learn/ and all lessons.

## To reproduce

Steps to reproduce the behavior:

1. Go to https://www.freecodecamp.org/ukrainian/learn/
2. Click on menu button
3. Select "Українська" language

## Expected behavior

Displaying the site in Ukrainian.

## Screenshots

![s1](https://user-images.githubusercontent.com/71141771/151577127-0e4810c0-99aa-46

[2022-01-28 17:23] raisedadead commented on #44956
Thanks for your report. We are looking into this.

[2022-01-28 17:30] raisedadead commented on #44956
OK - We have reset the deployments can you please check again? You may need to do a hard refresh / reload the page.