[2022-08-19 20:59] ojeytonwilliams commented on #47324
Since we're discussing issues with the early challenges: I got a bit more parental feedback, just on step 1.

It wasn't obvious to my dad where to start. He read the instructions carefully, correctly understood he needed to modify the h1 element, but didn't realise we meant the _second_ h1 element.  The fact that there's what looks like an h1 element in the instructions threw him off.

Aside from

[2022-08-19 22:48] bbsmooth commented on #47324
Agree 100%. Should probably do both. Make it stand out more on the page and explain in step 1 how it works. And then in step 2 we could explain how to create a new line.

I also think it is potentially confusing that you can edit code outside of the intended editable region. I know this is probably not a popular opinion, and I am prepared to take the criticism :smile: but I really do think we shou

[2022-08-19 23:02] DylanDevelops commented on #47085
I'm totally willing to help with this when you guys are ready. I could help make the templates and also would love to learn exactly how you guys implement this!

[2022-08-20 06:08] ojeytonwilliams commented on #47324
It's tempting to put in a lesson about the editor, and we have considered this, but I think that is something we should do as a last resort. We still have room to improve the UI to make it clearer and the lessons to guide the user. If all our attempts fail, we can try a "lesson 0" which just teaches about the editor.

It does risk putting people off, as all tutorials do. They're very frustrating w

[2022-08-20 08:23] ieahleen commented on #47311
Actually, it's already there lol

[2022-08-20 08:23] #47311 closed

[2022-08-20 08:30] #47328 closed

[2022-08-20 09:26] ieahleen commented on #47290
https://github.com/freeCodeCamp/freeCodeCamp/issues/47073 related - can you check if your PR closes that too and if that's the case, add a second `Closes #XXXXX` for that issue too?

[2022-08-20 11:02] Jagrutiti commented on #47010
Hey everyone,

To resolve this issue I will replace instructions from [this comment](https://github.com/freeCodeCamp/freeCodeCamp/issues/47010#issuecomment-1206688744) instead of step 12.

I hope I have got it right.

[2022-08-20 17:45] lexyd commented on #44668
@ahmadabdolsaheb Amazing, ill take a look at the other components

[2022-08-21 06:22] dhairyapatel1506 commented on #47316
While this is definitely a genuine issue (that I myself face), I agree with @moT01 and @jeremylt that a side navigation bar isn't the best solution. The page is already divided into two parts in the lessons, so another side menu would only clutter things up and leave even lesser room for development. I think the drop-down idea suggested by @moT01 is great.

[2022-08-21 13:44] ieahleen commented on #47010
There is also https://github.com/freeCodeCamp/freeCodeCamp/pull/47320 about trying to improve step 12

[2022-08-21 16:43] Jagrutiti commented on #47010
I did not see a PR linked to the issue. Shall I delete this PR?

[2022-08-21 18:22] iarmankhan commented on #47299
@moT01 Wouldn't it be more helpful to have night-mode for non-logged in user as well, and also it defaults to system's theme?

[2022-08-21 19:27] devtahmid commented on #44718
I'm trying the shortcuts on the new RWD steps but the shortcuts dont work. For example on this page - https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-6

Can you please confirm if it works? They're really helpful for ones who one to quickly see which step contains what (if the person has prior knowledge of the steps)

[2022-08-21 20:16] usmanabdurrehman commented on #47257
I was looking to contribute to something. I will take this @ahmadabdolsaheb

[2022-08-22 03:02] velagandulasaiteja commented on #47316
@moT01 @jeremylt @ahmadabdolsaheb @dhairyapatel1506  Thank you for your inputs. I agree drop down idea will be the good solution.

[2022-08-22 05:34] cw66786 commented on #47073
I have forked the original and fixed this issue as well as issue  #47290
link here:  https://codepen.io/cw66786/full/wvmxeyw

Also forked the version submitted in #47290 and only fixed the y axis
link here:  https://codepen.io/cw66786/pen/GRxejmO

`  var yAxis = d3
    .axisLeft()
    .scale(yScale)
    .tickValues(yScale.domain())
    .tickFormat(function (month) {
      var date = new Date(0);

[2022-08-22 06:09] ayush12993 opened #47350 "Changing Readme.md"
This is just to edit Readme.md

[2022-08-22 06:54] #47307 closed

[2022-08-22 06:55] #47350 closed

[2022-08-22 07:54] ShaunSHamilton commented on #44718
@devtahmid We recently disabled the shortcuts by default, and you need to enable them in the settings:
<img width="525" alt="image" src="https://user-images.githubusercontent.com/51722130/185869041-fa9d148e-9681-4168-9388-90ff93e2cd25.png">

[2022-08-22 08:01] ieahleen commented on #47010
It's not linked, that was @jeremylt forgetfulness

[2022-08-22 08:59] ieahleen opened #47351 "translated challenges can fail because of translated comments in seed code"
### Describe the Issue

Running the tests in step 6 of Cat Photo App practice project in Portuguese the test

fail.

### Affected Page

https://www.freecodecamp.org/portuguese/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-6

### Your code

[code]

it's the starting code of the step

### Expected behavior

The comment in the seed code is translated. It shouldn't be or

[2022-08-22 09:18] #47302 closed

[2022-08-22 09:53] ojeytonwilliams commented on #47351
We *could* include translations in the tests, but I recommend removing any reliance on the translated text instead.

[2022-08-22 11:37] ieahleen commented on #47351
considering that the user add the english version in a previous step, maybe the comment is to not be translated

[2022-08-22 12:38] DanielRosa74 commented on #47351
Reverted the text back to English on Crowdin (comments.json) for the time being. It does not seem to influence any other part of the code. However, there may be other comments and producing the same results on the Portuguese version.

[2022-08-22 12:45] ojeytonwilliams commented on #47351
I think @ieahleen is right - since it's 'code' the user enters, it should not be translated. In other words, it should be added to the list of comments not to be translated.

[2022-08-22 14:00] ieahleen commented on #47351
so that would be move the string from
https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/dictionaries/english/comments.json
to
https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/dictionaries/english/comments-to-not-translate.json

do you know if there is something to change somewhere else, @ojeytonwilliams?

[2022-08-22 14:03] ojeytonwilliams commented on #47351
I think that covers it, @ieahleen, thanks!

[2022-08-22 14:11] ieahleen commented on #47351
considering this is breaking for the various translated curriculums, I am going to make a PR after the meeting

[2022-08-22 14:19] shootermv opened #47356 "Implement DropDownButton component"
### Describe the Issue

`/client/src/components/solution-display-widget/index.tsx`
`/client/src/templates/Challenges/components/tool-panel.tsx`
<img width="745" alt="image" src="https://user-images.githubusercontent.com/1336862/185940629-e6ed9bfa-553c-40d1-8005-6a493bcc804b.png">

### Affected Page

client/src/components/solution-display-widget/index.tsx

### Steps to Reproduce

1. Go to 'cirricul

[2022-08-22 18:15] raisedadead opened #47360 "Language selection menu - not intuitive about available languages"
### Describe the Issue

The language selection menu is not intuitive about the no. of available options. It's a bit paradoxical at the moment:

- You will not notice additional options until you start scrolling while being on top of the options.
- You will not start scrolling until you know there are additional options.

### Affected Page

https://www.freecodecamp.org/learn

### Steps to Reproduce

[2022-08-22 18:16] raisedadead commented on #47360
@ahmadabdolsaheb, this will start becoming evident with more languages on the list.

[2022-08-22 19:22] #47351 closed

[2022-08-22 19:49] hanswang123456 commented on #47109
@MahijithMenon, it would be good to close the issue if no PRs are needed.

[2022-08-22 19:53] Sboonny commented on #47109
@hanswang123456 I disagree

[2022-08-22 23:20] mmatsumoto1026 commented on #46824
Hello,

In fact, when I opened [this PR](https://github.com/freeCodeCamp/boilerplate-page-view-time-series-visualizer/pull/10), I encountered the issue which is mentioned by RandellDawson above, and I also found that Replit showed code example which use "channel = "stable-21_11"" in .replit file in [the Replit document](https://docs.replit.com/programming-ide/configuring-repl) .

I contacted custo

[2022-08-23 05:36] JimmyK1995 commented on #47225
Love the idea of having a QR code to scan for convience.
Will be working on this if it's up for grabs.

[2022-08-23 14:57] moT01 commented on #47258
Thanks for reporting @arqamgrt, sorry for the delay here. I was sort of able to reproduce this with voiceover on mac. It reads output from the actual terminal, but not the terminal in VS Code - both locally and in CodeAlly. So when you use the terminal in your local VS Code, it reads the output for you? If so, do you know why I am not getting that? Maybe some extension or program you have, or mayb

[2022-08-23 15:41] moT01 commented on #47111
I don't know if this necessarily **needs** to be fixed - but yea, that behavior is a little rough. If someone wants to fix it, I wouldn't oppose.

[2022-08-23 15:57] moT01 commented on #47109
I don't know how much of a problem there is here. Using the code that will not pass above (`<p class="bold">Serving size<span class="right"> 2/3 cup (55g)</span></p>`), you get the hint:

So that should let users know to remove the space. If you then remove the space to use this code: `<p class="bold">Serving size<span class="right">2/3 cup (55g)</span></p>` - the hint is:

Which should let them k

[2022-08-23 16:03] moT01 commented on #47266
I would change the description to this:

I wouldn't add the extra info about the meta tag.

[2022-08-23 16:10] moT01 commented on #47146
I don't think we need to try and make monaco format things the way we want. I'm not against it, but I feel like it might be difficult. If someone want to give it a try, I'm fine with that.

The ask for help button, however, really should have the exact code from the editor so we can be sure of a campers code when they post to the forum. I think we should at least fix that.

[2022-08-23 16:14] arqamgrt commented on #47258
@moT01 Are you trying on Windows? or mac. If you want to try it on windows, then use NVDA for this.
but in local, I have a problem. in the PostGreSQL course, first step is not working in local. same step if working fine in code ally.

[2022-08-23 16:29] moT01 commented on #47102
I do think that swapping step 11 and 12 might be better, but you could run into the same problem there. You would be adding a width and height, but nothing would show up on the page still. I would just change the descriptions cause it's easier.

Step 11:
Change the first sentence to "It's time to add some color to the marker."
And add "You will not see any changes after you add the CSS" after the

[2022-08-23 16:34] moT01 commented on #47258
Right, I will look into that @arqamgrt. I am on a mac.

So, to clarify, do you get the terminal output read when using the terminal in VS Code anywhere? I'm trying to figure out if it's something with VS Code or CodeAlly.

[2022-08-23 16:40] moT01 commented on #47057
Here's [the area of code where the challenges get filtered.](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/test/test-challenges.js#L176) If someone wants to add more options to test a single challenge, I'm fine with it.

[2022-08-23 17:02] arqamgrt commented on #47258
no no, I know this. vs code is completely fine here. the problem is only with codeAlly. in vs code, everything works fine including terminal.

[2022-08-23 17:03] hanswang123456 commented on #47109
@moT01, removing the leading/trailing white space from the span assertion could be an option. That way, the test only has to confirm the correct text(leading/trailing space) and let the general `p` tag test handle any spacing issues.

[2022-08-23 17:05] moT01 commented on #46997
I remember QAing this - I didn't have an issue with how it was, it may have even been my suggestion. I think the design was intentional, and not a lack of being fleshed out. It challenges campers a little more where many other steps are very hand holding. They just linked some labels to inputs a few steps before this, so they should know how. This should further cement how to do that by being a li

[2022-08-23 17:41] moT01 commented on #47109
Alright, I'm going to open this up for help. We want to change the test so it allows a space at the start of that span, but keep the test for the paragraph so the sentence is correct. It's the third test in [this file](https://github.com/freeCodeCamp/freeCodeCamp/blob/095cf332fe776e89deb2caf950fe1cc0522eec5d/curriculum/challenges/english/14-responsive-web-design-22/learn-typography-by-building-a-n

[2022-08-23 17:46] ieahleen commented on #47057
it could make sense
 - file name
 - project-dashed-name/step-#

[2022-08-23 19:15] #47294 closed

[2022-08-23 19:27] Xavier-Pierre-dev commented on #47109
When you are describing like this it's make sens but inside the hint for the test say :
Your `span` element should have the text `2/3 cup (55g)`.

But people can misinterpret, thinking that the span element must contain the text and not the exact text without space. After all ` 2/3 cup (55g)` contains `2/3 cup (55g)`.

<br>

I think the test could be change from :
[code]
to
[code]

I add an image

[2022-08-23 20:04] hanswang123456 commented on #47109
@Xavier-Pierre-dev, it might be better to remove spaces then check for exact occurrence of '2/3 cup (55g)' . This way if campers insert unwanted text, it won't pass.

Maybe something like:
 `assert(document.querySelector('span')?.textContent.trimStart() === '2/3 cup (55g)');` to remove whitespaces at the start.

And then do `assert(document.querySelectorAll('p')?.[1]?.textContent === 'Serving size

[2022-08-23 20:12] Xavier-Pierre-dev commented on #47109
I'm not sur to understand your point if you remove all the space then `2/3cup(55g)` will also pass.
![illustrategif](https://user-images.githubusercontent.com/81990309/186256242-160ce719-c5f6-4f1a-ad05-b30bcc3f6cb4.gif)

In fact with `includes` i already check if the text contains exactly `2/3 cup (55g)`. I put a gif to illustrate

[2022-08-23 20:19] hanswang123456 commented on #47109
Includes doesn't check for letters added to the start or end which can make error messages less specific.

[2022-08-23 20:22] moT01 commented on #47109
One issue I saw when I looked on the forum was people doing something like this: `<p class="bold">Serving <span class="right">size 2/3 cup (55g)</span></p>` (they put `size` in the span, not supposed to)

So using `.includes` would allow that to pass. I don't think we should be that lenient. Extra spaces, sure - extra text, I don't like it. I am fine with removing the whitespace before (and after?

[2022-08-23 20:29] hanswang123456 commented on #47109
@moT01 for the assertion on the `p` tag: `assert(document.querySelectorAll('p')?.[1]?.textContent === 'Serving size 2/3 cup (55g)')`, it seems like `textContent` is more specific than `innerText`:

[2022-08-23 20:31] Xavier-Pierre-dev commented on #47109
yes exactly but I think this is exactly what the hint ask here
Your `span` element should have the text ``2/3 cup (55g)``.

and ``2/3 cup (55g) something`` contain ``2/3 cup (55g)``

otherwise the hint should be changed to :
Your `span` element should only contain ``2/3 cup (55g)``.

in this case i think I think regex will be better :
![illustrategif2](https://user-images.githubusercontent.com/819

[2022-08-23 20:40] hanswang123456 commented on #47109
@Xavier-Pierre-dev, regexes do work. Include 1 optional whitespace at the start of the string so there is more flexibility for users. I think that would work well in conjunction with the `p` tag assertion.

[2022-08-23 20:49] Xavier-Pierre-dev commented on #47109
so here difference beetween the regex is that we can easily allow white space before and after the string so it's more near to
Your `span` element should **only** contain `2/3 cup (55g)`.

but at the same time the hint say :
Your `span` element should have the text `2/3 cup (55g)`.
and in this case I think the example I provide with include should work because `2/3 cup (55g) something` contains `2

[2022-08-23 21:03] hanswang123456 commented on #47109
I think only allowing whitespaces before the element works best. So something like your second version. `document.querySelector('span')?.textContent.match(/^(\s|)2\/3 cup \(55g\)$/)`

[2022-08-23 21:04] Xavier-Pierre-dev commented on #47109
yes I think also I was editing my comment at the same time to add this.

[2022-08-23 21:06] hanswang123456 commented on #47109
Feel free to open a PR and reviewers can review the code.

[2022-08-23 22:15] Tracerract commented on #46886
As someone that ran into this issue firsthand, I wanted to share some context.

The "Step 20" PR was merged, so Step 66 is now the first example of a media at-rule. I might be mistaken, but I think it might be the first of any at-rule used as well.

Step 66 does not use the word query once, nor does it provide context about at-rules. It mentions `@media` as an at-rule, provides the minimum syntax

[2022-08-24 06:05] JimmyK1995 commented on #44668
Gotta take part in this amazing project!
Will be taking on the dropdown button, I will write up an issue based on my research, and delete this comment afterwards.

[2022-08-24 08:15] ieahleen commented on #47257
@MahendraBishnoi29 issues are not assigned, please make sure to read our contributing docs if you want to contribute!

[2022-08-24 09:38] #47109 closed

[2022-08-24 15:17] moT01 commented on #46997
I came across this challenge: https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-flexbox-by-building-a-photo-gallery/step-21 - also doesn't say what to use for the values, just says to add something.

[2022-08-24 17:04] ShaunSHamilton commented on #46997
I specifically wrote this project adding boilerplate that did nothing to teach Campers - having Campers add a bunch of stuff they already know prevents them from learning anything in that lesson.

I am fine with this being changed. It was the first time this was done, and was more of a pedagogical test than anything else.

[2022-08-24 18:18] lasjorg opened #47375 "Suggest searching the forum before making a help thread"
### Describe the Issue

We should find a way to cut down on the number of support threads. Not just by improving the challenges but by improving the help the camper can find for themselves before even having to ask a question.

I think if we ask the camper to search the forum when making an "ask for help" thread it might do the trick. Or now that the forum can handle the same title for multiple th

[2022-08-24 19:26] ShaunSHamilton commented on #47375
I like the idea of linking to a search for the same title.

[2022-08-24 23:34] jakefair97 opened #47376 "Typo"
### Describe the Issue

There is a typo on the JavaScript Algorithms and Data Structures -> Functional Programming -> Understand Functional Programming Terminology page in the 6th paragraph.

### Affected Page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/functional-programming/understand-functional-programming-terminology

### Steps to Reproduce

Load the page

###

[2022-08-25 05:00] vedanshi555 commented on #47376
can you assign this issue to me?
@jakefair97

[2022-08-25 06:00] ShaunSHamilton commented on #47376
An issue with the _help wanted_ or _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues with contribu

[2022-08-25 06:02] vedanshi555 commented on #47376
okay👍🏻

[2022-08-25 11:36] #47376 closed

[2022-08-25 15:32] ieahleen commented on #47375
Well, there is already this...
![image](https://user-images.githubusercontent.com/26656284/186707877-0f6f16a0-1cf6-45a3-8853-783116422763.png)

[2022-08-25 16:57] jeremylt commented on #47375
Right, but posters already mash the 'Create Topic' button without reading, so it would be nice to catch them before that point.

[2022-08-26 01:54] moT01 commented on #46997
[Here's another](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-67) - If we want to fix all these, I would be fine with it. I actually prefer them the way they are, but they won't be much different if we want to explicitly define the values or whatever else for campers to enter - so I don't think it's that big of a deal.

[2022-08-26 13:11] JustLolo opened #47388 "a typo in DB curriculum"
### Describe the Issue

it should be --> important <-- instead of import

### Affected Page

 Learn Bash Scripting by Building Five Programs

### Your code

[code]

### Expected behavior

False. An **_important_** operator in that menu is =~. It allows for pattern matching. Using the same syntax but with this operator, check if hello contains the pattern el.

### Screenshots

![image](https://user

[2022-08-26 14:09] DylanDevelops commented on #47388
I'll fix this!

[2022-08-26 14:12] DylanDevelops commented on #47388
Just for reference, I will be fixing [this](https://github.com/freeCodeCamp/learn-bash-scripting-by-building-five-programs) issue in this repository.

[2022-08-26 14:30] DylanDevelops commented on #47388
Hey guys! I'm getting this error when typing `coderoad build` in the terminal. Anyone know how to fix? I created a seperate branch that is up to date.

[code]

[2022-08-26 14:38] gikf commented on #47388
@DylanDevelops For generating `tutorial.json` file, the coderoad cli requires for the _version_ branch to exist locally.

Detailed guidelines how to contribute to these tutorials can be found on https://contribute.freecodecamp.org/#/how-to-work-on-tutorials-that-use-coderoad. Please refer to the parts about making changes on the `main` branch.

Thank you and happy coding! 😊

[2022-08-26 14:39] DylanDevelops commented on #47388
Perfect. I have the typo fixed and ill make that branch work with coderoad. Thank you for your patience

[2022-08-26 15:59] lasjorg commented on #46997
That is the last step of the challenge and the values seem pretty much irrelevant to me.

---

My main gripe with this step is the fact that whatever values they choose won't be used in the next step and will change (which is unexpected). If they carried over I wouldn't mind it.

If there was an extra step where one of the values was specified (id or for) and then in the next step they had to conn

[2022-08-26 16:25] lasjorg commented on #47375
Would there be some way of using this idea to also prevent campers from posting duplicate threads for the same step? I guess it would require that the freeCodeCamp login was tied to the forum login which I don't think they are.

Anyway, just a thought I had.

[2022-08-26 17:00] #47388 closed

[2022-08-26 21:12] moT01 commented on #46997
I like that, and would be fine it 👍 What do you think - open it up for help?

[2022-08-26 21:45] lasjorg commented on #46997
Sure. I assume it will require adding a new step?

The docs for how to add new steps.
https://contribute.freecodecamp.org/#/how-to-work-on-practice-projects?id=insert-step-1

[2022-08-26 22:20] moT01 commented on #46997
I am on board with your suggestion. We could see what @ShaunSHamilton thinks.

For step 30, we could say something like:

Step 31:

[2022-08-27 01:56] xylvnking commented on #45377
In case anybody else ends up here, I couldn't get this to pass either, ended up here too, and used @ojeytonwilliams answer but removed the +20000 and it passed after submitting it a few times. I've had trouble with lots of the freeCodeCamp + replit tests not passing unless submitted multiple times, so always try a few times (in my experience). Thanks for the help, and the free education.

[code]

[2022-08-27 02:29] ShaunSHamilton commented on #46997
The more I go through this curriculum, the more I dislike the constant mention/requirement for the addition of specific values/attributes.

The point of the mentioned lessons is to make Campers aware of accessibility practices.

They already know about `id` and `for` attributes. So, my preferred _"fix"_ would be to change the test (hint) order such that the first hint suggests giving the `input` e

[2022-08-27 06:45] ieahleen commented on #47375
@lasjorg at this time the forum is hosted by Discourse, I imagine it would need to be self-hosted for more integration with the curriculum

[2022-08-27 09:05] kulraj710 commented on #47360
is this issue still being worked on? If not, I would like to take it.

[2022-08-27 15:36] KinzaaSheikh commented on #47375
Maybe it can be done by suggesting the related topics before the post goes live in the forums.

[2022-08-27 16:33] Adelinked opened #47401 "Tests for `remove-an-element-from-a-max-heap` challenge passable with incorrect solution"
### Describe the Issue

The issue is with the tests of the [Coding interview prep/Data structures/Remove an Element from a Max Heap] challenge.
In fact, I was able to pass the challenge by implementing a wrong remove method which only verifies the max heap property
for the root element. Passing this challenge without a 100% correct solution will create issues for campers for the next one (the heap

[2022-08-27 18:23] ShaunSHamilton commented on #47257
@ahmadabdolsaheb I do not think you are talking about the same issue (with your suggested fix).

[2022-08-27 18:33] MahendraBishnoi29 commented on #47257
@ShaunSHamilton can u suggest me the solution?

[2022-08-28 11:14] masterX89 opened #47407 "Miss md file when testing translations locally in chinese curriculum"
**Describe the bug**
I got an error about missing chinese `14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/62cc5b1779e4d313466f73c5.md` file when I want to test the chinese localization of RespWebDesignNew in curriculum

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `config/i18n/all-langs.ts` file
2. add `SuperBlocks.RespWebDesignNew` in `chinese` of `audi

[2022-08-28 13:49] gfr2003 commented on #47163
I believe that more challenges and support material would help

[2022-08-28 21:02] josamontiel opened #47411 "No search bar on mobile"

[2022-08-29 07:52] ieahleen commented on #47407
The file needs to be translated and approved on crowdin, and then downloaded by the automatic pipelines, until then freecodecamp builds will fail

[2022-08-29 12:22] ahmadabdolsaheb commented on #47316
Breadcrumbs are an established design pattern for nested content.  Adding a dropdown would not shorten the user journey considerably since choosing the right block ( chapter or project ) would be two clicks away. If a dropdown is added, we need to add a dropdown indicators which would further reduce the usable space in the crammed breadcrumbs navigation.

Since switching between blocks is possible

[2022-08-29 13:31] ahmadabdolsaheb commented on #44668
@JimmyK1995, thank you for your interest. The dropdown is being worked at here: https://github.com/freeCodeCamp/freeCodeCamp/pull/47043, feel free to contact @shootermv on the pull request for pairing or helping with writing the issue. but it does not have an issue yet. Feel free to create an issue so we could finalize the spec or

[2022-08-29 14:09] raisedadead commented on #47411
@ahmadabdolsaheb triage this when you get a chance.

[2022-08-29 14:12] #47375 closed

[2022-08-29 17:02] shootermv commented on #44668
@ahmadabdolsaheb,  actually i did opened issue already- #47356

[2022-08-30 08:21] ahmadabdolsaheb commented on #47360
That makes sense, I thought we fixed that.

`height: 19.9rem;` should be removed for `.nav-lang-menu` and
[code]

[2022-08-30 08:46] ahmadabdolsaheb commented on #47257
Thanks for letting me know, Shaun. I thing there are a few issues being discussed here:

1) Title not being visible Dylan's screenshot
2) Profile image not being visible  Naomi 's screenshot

First issue is could be resolved by changing the theme from `Staff - Debug` to any other theme. We hid the title and tags from the nav on our custom theme to free space for our lego and curriculum nav item.

[2022-08-30 08:48] ahmadabdolsaheb commented on #47411
@QuincyLarson, should we bring back the toggle menu button and place it to the right of the donate button?

[2022-08-30 09:12] ahmadabdolsaheb commented on #47356
Thank you for opening this issue.
I see another usage for this component in `/client/src/templates/Challenges/components/tool-panel.tsx`. Could you please include the component spec and implementation plan as well.

Here is the documentation's [Researching and Planning](https://contribute.freecodecamp.org/#/how-to-work-on-the-component-library?id=how-to-work-on-the-component-library) and the [butt

[2022-08-30 10:08] raisedadead commented on #47360
@kulraj710 or anyone else interested, this is up for grabs.

[2022-08-30 10:30] ShaunSHamilton commented on #47257
@ahmadabdolsaheb No, both Naomi and Dylan mention the same issue: When clicking on an anchor, the anchor element is hidden underneath the navbar.

[2022-08-30 10:33] ieahleen commented on #47407
it can be fixed by the chinese translators and proofreaders translating and approving those steps

[2022-08-30 11:35] ahmadabdolsaheb commented on #47257
Thanks for the explanation. I see it now, this should do the trick.

[2022-08-30 12:56] #46886 closed

[2022-08-30 13:13] moT01 commented on #47257
I don't think we're talking about quite the same issue @ahmadabdolsaheb.

I cannot (or do not know how to) reproduce the issue in @DylanDevelops's screen shot. The navbar is always at the top for me with the fCC logo and the rest of the universal nav. I never see a post title or anything like that in the navbar.

The issue I was referring to can be seen in @naomi-lgbt's screen shot. When you open

[2022-08-30 16:30] #45050 closed

[2022-08-30 19:39] naomi-lgbt commented on #47309
I'm in favour of changing the subforum slug - Discourse uses numeric IDs to track everything, so this shouldn't break any links. This will make things consistent with the other languages, though.

[2022-08-30 20:15] naomi-lgbt commented on #47309
The Portuguese slugs have been updated on the forum.

[2022-08-30 20:15] #47309 closed

[2022-08-30 20:44] Tracerract opened #47417 "Learn Responsive Web Design By Building A Piano - Step 32 - Media Query"
### Describe the Issue

For context, I mentioned in #46886:

The fix  #47389 resolves Step 27 (Thank you!), and introduces media queries (which was the title of that issue), so I'm bringing up Step 32 as it's own issue. If there was a better way to go about this please let me know.

This step requires the use of multiple conditions via 'and', but that syntax isn't shown or explained yet. The solut

[2022-08-30 21:23] JordanMooree commented on #47232
A few issues I've encountered while implementing the table:

I saw the following bootstrap CSS code for the table:
[code]

Notice this would require multiple tailwind variants to work. Then if I were to want my table condensed, it would require the following CSS:
[code]
---
I tried adding a variant with the following code(tried with * and without it):
[code]
but it doesn't work. It will get messy

[2022-08-30 23:53] cw66786 commented on #47073
Whoever runs the free code camp codepen.io has full permission to fork and use either of those. I'm assuming that is the only way to get this closed. If I am wrong and there is a way to fix this via pull request id gladly do that.

[2022-08-31 06:06] dhairyapatel1506 commented on #47316
@ahmadabdolsaheb Dropdown Indicators are never so big that they cause any significant change in space. It just needs to be as big as the text in the breadcrumbs to be perfectly visible. And as for the user journey, yes, both ways do require two clicks but with the dropdown menu the user wouldn't have to go to another page to access the blocks. The main reason for this feature-request is that while

[2022-08-31 09:46] ahmadabdolsaheb commented on #47316
Thank you for your explanation and the context. The issue is that the breadcrumbs is used across the curriculum and consumed by different viewports. So you could run to the following situations:

<img width="1065" alt="Screen Shot 2022-08-31 at 12 30 12 PM" src="https://user-images.githubusercontent.com/4591597/187647672-8af055dc-77d1-44ee-9b66-db6a8c486174.png">
<img width="373" alt="Screen Shot

[2022-08-31 10:14] ahmadabdolsaheb commented on #47299
So the logic should be the followings:
// if user has a set a preference, set the theme
// else if system setting has a theme, set the theme,
// else set the theme as default.

We could set the theme in the localstorage and pull it up on the upcoming sessions.
Reference: https://github.com/gaearon/overreacted.io/blob/master/src/html.js#L21-L48

[2022-08-31 11:47] #46593 closed

[2022-08-31 12:24] hanswang123456 commented on #47417
That would be a useful addition. Maybe add an example snippet.

[2022-08-31 14:11] naomi-lgbt commented on #45676
Will clean up the notebooks today - looks like the instructions have all been moved to learn

[2022-08-31 14:14] naomi-lgbt commented on #45736
Believe we can close this due to the CI added in #47116

[2022-08-31 14:14] #45736 closed

[2022-08-31 14:18] naomi-lgbt commented on #45922
These should all be fixed now, I believe.

[2022-08-31 14:24] naomi-lgbt commented on #46057
Believe we would need to catch + prevent the default form submit behaviour of refreshing the page.

[2022-08-31 14:33] moT01 commented on #46061
We could possibly get the window.offset or something to see how far the preview is scrolled - save it somewhere and then auto scroll to that when re-rendering. That sounds tricky and maybe not worth the effort, but if someone wants to give it a try, go for it.

[2022-08-31 14:36] naomi-lgbt commented on #46173
https://github.com/freeCodeCamp/demo-projects is the repo

[2022-08-31 14:41] naomi-lgbt commented on #46233
Believe this was intended to close in https://github.com/freeCodeCamp/freeCodeCamp/pull/47262

[2022-08-31 14:41] #46233 closed

[2022-08-31 14:44] naomi-lgbt commented on #46315
Going to close this - the migration to .rocks can be tracked in the issue Shaun linked above.

[2022-08-31 14:44] #46315 closed

[2022-08-31 14:46] naomi-lgbt commented on #46358
The repetition *does* help to reinforce concepts and get campers familiar with the concepts we are teaching.

PRs are certainly welcome to change the class names from `lg` to `large` - we'd also welcome a PR to adjust the flow of the project, if you're feeling ambitious.

[2022-08-31 14:49] naomi-lgbt commented on #46098
Closing this as the issue is resolved - we can use #46372 to track the move from localStorage to the user settings

[2022-08-31 14:49] #46098 closed

[2022-08-31 14:51] naomi-lgbt commented on #46405
What's the implementation plan here - running the challenges in Cypress would bog down our CI.

[2022-08-31 15:01] naomi-lgbt commented on #46463
We can remind them, but we can't add tests to assert it validates - because we can't break projects that previously passed.

The W3 validator is certainly helpful, but it's also an external link which we have been working to avoid in our curriculum.

[2022-08-31 15:06] moT01 commented on #46463
Update: all the new RWD practice projects have been validated and changes applied - so the rest of the discussion here can revolve around the certification projects.

[2022-08-31 15:40] Sboonny commented on #46463
I am saying this is an option, but I am highly against it. Although the projects are made for certifications and they aren't made for real world commercials, I think it's overkill.

---

About strict HTML, we can ask the editor to parse the Markdown file content as `xhtml+xml`, this is an old HTML spec from w3 when people thought that strict HTML is a good idea.

This will make HTML act as JavaScr

[2022-08-31 16:42] Dario-DC opened #47423 "Wrong word in step 17, 28, 37 of Building a registration form of RWD"
### Describe the Issue

The text refers to `id`s as properties instead of attributes.

### Affected Page

https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-registration-form/62ff919a7b5612c0670923a5.md, https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-

[2022-08-31 17:38] lasjorg commented on #45922
Well, the example projects pass now using React 18, but they are all old projects using class components.

Some projects are still failing when using functional components and hooks with React 18. I think the two projects that are the most problematic are the 25+5 clock and the calculator. My old 25+5 clock still fails with using React 18 with the latest PR code.

We may want to keep this issue op

[2022-08-31 18:05] ShaunSHamilton commented on #47423
My bad. I am happy for the mentioned references be changed to:

[code]

---

An issue with the _first timers only_ label is open for contribution by **first timers**. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so he

[2022-08-31 18:10] Sboonny commented on #47423
While we are trying to change it, can we switch the code blocks arrangements? This will help with Arabic translation.

Example

[2022-08-31 18:24] ShaunSHamilton commented on #47423
Let us go with:

[2022-09-01 05:44] raisedadead commented on #46405
The idea is to run the test cases in the browser economically. We will also need some form of the release plan. We can run one Cypress suite twice weekly (say on Sunday or Wednesday), and the release can happen the next day (Monday and Thursday).

The person doing the release can verify if some tests failed. I am sure with the flakiness of testing in general, some will. But all they have to do is

[2022-09-01 10:40] ShaunSHamilton commented on #46405
Is there a way to slow Cypress down?

If we only ran this once/twice per week, then we could get away with Cypress taking 3+ hours to complete, and this should reduce flakiness.

[2022-09-01 11:35] josamontiel commented on #47411
@texas2010 That is exactly the problem I run into, I want to read articles on the go and have a terrible time finding them on mobile.

I guess its a matter of where to put it, it's already pretty cluttered at the top on mobile.

Maybe a magnifying icon that drops down a search bar, maybe make sure it collapses when not in use to not add to the clutter?

[2022-09-01 13:20] miyaliu666 opened #47430 "wrong order of table contents in an English article"
### Describe the Issue

In [this article](https://www.freecodecamp.org/news/how-to-optimize-nodejs-apis/), two tables

| Method | Document Scanned |
| --- | --- |
| Without indexing | With indexing |
| 1039 | 1 |

| Method | Response Time |
| --- | --- |
| Without using Redis | With Redis |
| 900ms | 0.621 |

### Affected Page

https://www.freecodecamp.org/news/how-to-optimize-nodejs-apis/

### St

[2022-09-01 16:34] Sboonny commented on #47118
Because this is the last step in a project, and people can't see the right way to type it, I can see why we should make it strict.

But again, is it worth it? We aren't asking people to type `</meta>` tag and in follow-up projects they can see the right way.

We can add the regex back, and make it more strict. if you guys think it's worth it

[2022-09-01 16:42] raisedadead commented on #46405
You mean to run it less frequently. We could do something like a nightly build or something. But then we need to make sure we do not do more than one release at any cost in a day.

[2022-09-01 16:44] ShaunSHamilton commented on #46405
No. I mean the flakiness often comes from a page not having loaded before elements on it are accessed (timeouts). So, if we just slowed down the speed with which Cypress _clicks stuff_, then we might have a smoother experience more apt to an actual Camper.

[2022-09-02 05:04] kartikjoshi267 commented on #47430
Hey @miyaliu666
I would like to work on this issue, but I am not able to reproduce this issue on my local machine despite cloning it successfully.

[2022-09-02 09:35] Sembauke commented on #47411
Hey  @josamontiel,

If you use an Android device, I recommend using the freeCodeCamp app. To search articles on mobile in the meantime.

[2022-09-02 11:57] ojeytonwilliams commented on #46405
Yeah, that's all configurable. You can customise the various waits and the typing speed.

[2022-09-02 12:20] ieahleen commented on #47430
thank you for your interst in contributing, @kartikjoshi267 , the articles are in a CMS that only the editorial team can access.

Please check out the issues with "help wanted" label to find issues to which you can contribute to!

[2022-09-02 13:27] scissorsneedfoodtoo commented on #47430
Thanks for reporting this issue @miyaliu666. I just updated the article based on your suggestions, and it should go live after the next build.

Please take a look when you can and let me know if there are still issues with the table, or if you notice any other issues throughout the article.

And thanks for your interest in contributing @kartikjoshi267. Like @ieahleen mentioned, someone on the edit

[2022-09-02 13:27] #47430 closed

[2022-09-02 16:58] #47423 closed

[2022-09-02 17:45] Sboonny commented on #47417
While we are improving the description, should we include [4th level media queries](https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#syntax_improvements_in_level_4) in curriculum as extra steps. Or as it's known in curriculum as [range syntax](https://developer.chrome.com/blog/media-query-range-syntax/)

example

[code]

[2022-09-03 02:27] Tracerract commented on #47417
I do see your point, and I do agree that this would definitely be the place to explain that one in particular. I feel like that should fall under the scope of a mild rework/update for the 4th level media query though (as this wouldn't be the only new thing needing changed.)

### **I'm unsure what the standard is for CSS to be adopted by browsers before being taught in the curriculum.**

Specific t

[2022-09-03 03:44] miyaliu666 commented on #47430
Just checked it again and it looks good now:) @scissorsneedfoodtoo

[2022-09-03 04:31] 1LISA2 commented on #47417
![下载 (6)](https://user-images.githubusercontent.com/103248540/188255886-71ce3c98-3b7b-4f49-8c32-4797f49455ee.jpeg)
![下载 (2)](https://user-images.githubusercontent.com/103248540/188255889-37cba8ed-d65b-49d9-972e-bd796a9ecc08.jpeg)

[2022-09-03 04:31] 1LISA2 commented on #4741
![下载 (2)](https://user-images.githubusercontent.com/103248540/188255899-ee677287-bc38-4256-9871-f34eb7c82aa0.jpeg)
![images (2)](https://user-images.githubusercontent.com/103248540/188255901-8c954ffb-6fb7-4e1c-b17d-9609b1b1891d.jpeg)

[2022-09-03 04:32] 1LISA2 commented on #17413
!
![images (3)](https://user-images.githubusercontent.com/103248540/188255923-d60abe68-1c87-4038-a2d6-1d73ac9efbb7.jpeg)
[Uploading 下载.jpeg…]()

[2022-09-03 04:34] 1LISA2 commented on #17413
Black people are ugly and scary

[2022-09-03 04:37] 1LISA2 commented on #17413
I am afraid when I see black people, why do black people exist, black people still have a lot of AIDS, scaring people to death

[2022-09-03 12:46] Jagrutiti commented on #47038
Hey @ieahleen

I understand that this issue has some translation missing. But I did not understand how to proceed with the solution you have mentioned in the above comment.

[2022-09-03 22:31] trenz999 commented on #47257
I try the link heading but its backend? can you be more explainary

[2022-09-04 11:15] #46058 closed

[2022-09-04 11:15] #46126 closed

[2022-09-04 11:55] aakarshan-raj opened #47445 "test issues"
this is test issue, **please ignore**

[2022-09-04 13:52] gikf commented on #47445
Please don't use this repository for testing. Use your own fork or repository for that.

[2022-09-04 13:52] #47445 closed

[2022-09-04 16:09] alfonsusac opened #47447 "Input type submit - Learn Accessibility by Building a Quiz - Step 40"
### Describe the Issue

`<input type="submit">` already displayed a button with Submit text.
However, the hint says that `The submit should display the text Submit.`

I eventually figure out the correct answer by adding `value="Submit"` but is it necessary?

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-40

### Your cod

[2022-09-04 17:27] ieahleen commented on #47038
Insted of having comments for each section in which to add code, comments could be numbers instead, and referenced in the project description

[2022-09-04 20:48] Goodliv opened #47449 "PRICE TROFEUS TIARS WAR"
### Describe the Issue

`get`platform regards after wars on Word wide Fadiha//hebruw//
Repos epilog for Wars on Planet Erthe!
![20220902_171803](https://user-images.githubusercontent.com/51863008/188332604-4a0faaa2-b785-47e1-9587-b61c39226976.gif)
REGULUM7878
TERMINALS PROFILE ERROR TO FORMS SOLDIER

### Affected Page

Complete Acsses

### Steps to Reproduce

1. Go to '...'
2. Click on '...'
3. Sc

[2022-09-04 20:50] Goodliv commented on #47449
https://user-images.githubusercontent.com/51863008/188332910-a33980d2-a0c3-4e70-9cde-1fa5590428f1.mp4

[2022-09-05 00:34] Nardiy commented on #2841
where do you add target"_blank"

[2022-09-05 03:31] #47449 closed

[2022-09-05 08:50] ojeytonwilliams commented on #47447
Hi @alfonsusac thanks for the report. The `value` is not strictly necessary, since browsers will display something (typically "Submit") if you omit it.  However, it's a good practice to include it, so you can be sure the user sees the intended text.

With that in mind, it makes sense to split the test in two.

One test should check if the button exists and has the text "Submit" (and ignore inputs)

[2022-09-05 08:56] alfonsusac commented on #47447
Hi @ojeytonwilliams

This is my first time posting an issue here at freeCodeCamp. Did I add the wrong label? What will happen next? Is the issue resolved?

Thank you

[2022-09-05 10:02] ojeytonwilliams commented on #47447
Nope, you've done everything we'd want, thanks. Concise and clear issues are always helpful.

We typically discuss things a little (I'll add the discussing label to reflect that) before deciding on precisely how the issue should be addressed.  Once that's done, the issue will be opened up for contribution and automatically closed when the PR that fixes them is merged.

[2022-09-05 10:12] ojeytonwilliams commented on #46178
@RandellDawson suggested this to me in a private message: can we increase the width of the instructions and lower jaw on larger screens?  We could also consider preventing wrapping of inline code if the width is sufficient.

[2022-09-05 12:31] alfonsusac opened #47451 "Region Role and Section - Learn Accessibility by Building a Quiz"
### Describe the Issue

In Step 16 the tutorial told us to use both section and `role="region"`.
According to [MDN Web Docs about Region Role](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/region_role) states that

And in [MDN Web Docs \<section\> element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/section) also states that for best practice there should be a

[2022-09-05 12:49] alfonsusac opened #47452 "Template Post when clicking "Ask for Help" in Responsive Web Development"
### Describe the Issue

I feel like the base template for asking help in the Responsive Web Development Certification is a bit unintuitive.

First let me point out a couple of points:

1. The code block of HTML starts with `/* file: index.html */` as opposed to the HTML comments of ``. This will makes it harder to copy paste people's code and find the problem as some may overlook this comment whic

[2022-09-05 14:37] ShaunSHamilton commented on #47451
In general, we recommend bringing your questions to the forum where more people will see it, and it is more conducive for this kind of discussion.

---

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/region_role#description

The linked lesson teaches you to add `h2` elements to the `section` elements.

[2022-09-05 15:28] ShaunSHamilton commented on #47452
We have tried fixing this multiple times:
https://github.com/freeCodeCamp/freeCodeCamp/blob/921a8fdc4eb59f151cb51a52a6e32751cf73bcd5/client/src/templates/Challenges/redux/create-question-epic.js#L63-L76

It is caused by the `dedent` function, and I have never found a reliable way around it.

[2022-09-05 15:49] ShaunSHamilton commented on #46178
[code]
?

[2022-09-05 15:53] ojeytonwilliams commented on #47447
True, but we shouldn't constrain how we write tests now simply because we _might_ change how we display them in the future. We can always revert this if we go that path and it's causing confusion.

That said, changing the text is a pretty good idea. Since I'm incapable of picking from a list of options, how about

d) Submit answers

[2022-09-05 15:56] alfonsusac commented on #47447
I think send would be slightly better than submit as we have a lot of keywords with submit such as type="submit".

e) Finalize Answers (?)

That's what my uni has been using 🤣

[2022-09-05 16:06] ojeytonwilliams commented on #46178
Yep, but it's been adjusted relatively recently, so I was curious as to why we're limiting it.

[2022-09-05 17:30] hbar1st opened #47453 "Github - open a new issue - news editorial team email address should be displayed on github"
When opening a new issue on Github for the /new sarticles, the user is forced to click on a link to open their local mail software.
Some users do not use a local mail app and do not have it setup.

If we can simply add the email address to the description (see below for mockup) then someone can grab it and use it on their online mail server just as easily if they wish. I realise that this will byp

[2022-09-05 17:40] ShaunSHamilton commented on #47453
Hello there,

My understanding is we do not want to include too many (if any) obvious links to such email address, because it will cause an increase in spam (from bots scraping public sites like GitHub).

So, in the past, we have done as so: https://contribute.freecodecamp.org/#/FAQ?id=additional-assistance

[2022-09-05 19:06] hbar1st commented on #47453
I see the link you mentioned does have one email address posted in it. So should people email that instead (if they don't want to setup their mail app?)

[2022-09-06 13:22] dhairyapatel1506 commented on #47316
I understand your point now. And to answer your question, I do find myself going back and forth the blocks very often but that may vary for every person and course. For example, I've just started learning web development and I find html and css overwhelming because of all the things you're required to remember (and all of it just to make the site look a certain way!). So a lot of times I don't rem

[2022-09-06 15:46] Crissyukbr commented on #46151
Hello all... forgive me if I make any mistake here as it's my first time  using Git ...
I need help with the topic above, please. I have noticed that the question has been adjusted by FreeCodeCamp but I am getting the same error message with my CSS code below. I don't understand where the error is, what am I doing wrong?

#logo {
  width: max(100px, 18vw);
	background-color: #0a0a23;
	aspect-ratio

[2022-09-06 16:36] ieahleen commented on #47452
This can probably be obteined changing here
https://github.com/freeCodeCamp/freeCodeCamp/blob/921a8fdc4eb59f151cb51a52a6e32751cf73bcd5/client/src/templates/Challenges/redux/create-question-epic.js#L17-L29

Changing the `fileName` definition on lines 23-25 with a different behaviour if `fileType === 'html'`.

At this point it shouldn't be a ternary anymore, nested ternaries are pretty difficult to

[2022-09-06 16:58] SoumyaM07 opened #47455 "Freecode"

[2022-09-06 17:00] #47455 closed

[2022-09-06 17:24] ieahleen commented on #46151
@Crissyukbr please use the forum for asking for help, the Ask for help buttn is there just for this

[2022-09-06 17:29] dhairyapatel1506 opened #47456 "Learn HTML Forms by Building a Registration Form"
### Is your feature request related to a problem? Please describe.

The registration form currently accepts submissions with both radio buttons unchecked. The Account-Type must be a required parameter otherwise it beats the purpose of having it in the first place.

### Describe the solution you'd like

The simplest solution would be to add a checked attribute to any one of the two radio buttons.

[2022-09-06 18:06] sam1code commented on #47456
@dhairyapatel1506, Is this implementation in progress by anyone?
If not then I would like to work on this.

[2022-09-06 20:36] bbsmooth commented on #47456
This particular issue is sort of a thorn in the side of accessibility because HTML doesn't offer a great way to solve it. Setting one of the buttons to `checked` initially is a possible solution but it is probably not the "technically correct" solution as far as accessibility is concerned because it doesn't convey the sense of being required.

This is actually one of the few times where you need t

[2022-09-06 20:47] bbsmooth commented on #47452
Just a thought. Do we need to allow the user to even edit their "code so far"? A lot of times they will delete it for some reason and then we just end up asking them to put it back in. Maybe don't give them the chance in the first place? Then the only thing we would be asking them for is a description of their problem. And a lot of times they just skip over this completely and we just end up askin

[2022-09-06 21:10] ShaunSHamilton commented on #47456
@bbsmooth I did not even consider how this would be interpreted.

This does not solve the issue though, because, without JavaScript, the form would still be submit-able.

[2022-09-06 21:12] ShaunSHamilton commented on #47452
@bbsmooth Currently, without writing a Discourse plugin, we cannot do any validation on the submissions.

[2022-09-06 21:25] bbsmooth commented on #47456
Ya, there are some accessibility fixes that basically require JS to implement "properly". But I see your point, we aren't using JS for these forms so my "best" suggestion isn't really applicable here. In that case, I agree that setting one of them to `checked` is the best approach. I would not add `required` to any of them though. Instead, I would add a `legend` and then state that they are requir

[2022-09-06 22:02] ShaunSHamilton commented on #47456
That sounds like a plan.

Action items to resolve this issue:
1) Create at least one new lesson after the lessons adding the radios
2) Add the `checked` attribute to the first radio input
3) Add a `legend` with `Account type (required)` for text
4) Remove the word `Account` for each radio

[2022-09-07 11:56] moT01 opened #47457 "[learn: New RWD] Hotkeys don't work when instructions are focused"
### Describe the Issue

When doing the new RWD challenges, the hotkeys don't seem to work when the instructions or the tests text/hints are focused.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-2

### Steps to Reproduce

1. Go to https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-ca

[2022-09-07 12:53] blackpug9 opened #47459 "Learn CSS Grid by Building a Magazine - Step 65"
### Describe the Issue

There's a slight error in the instructions to Step 65 of the “Learn CSS Grid by Building a Magazine” project.

It says:

It should instead say "Now it’s time to style your **third** section." (as confirmed by freeCodeCamp staff, I first raised the issue in the [fCC forum](https://forum.freecodecamp.org/t/mistake-learn-css-grid-by-building-a-magazine-step-65/551699) -- link

[2022-09-07 14:30] scissorsneedfoodtoo commented on #46502
Thanks for reporting this @Bharath314.

We'll need to take a close look at this project and the ones before and figure out where `vh` and `em` are first introduced. Once we find the first step where each concept is introduced, we'll need to make sure it's properly explained.

[2022-09-07 14:44] scissorsneedfoodtoo commented on #46523
For now let's move the Legacy RWD certification to the bottom of the map, and we can tackle reorganizing the map in separate PRs.

[2022-09-07 14:46] ieahleen commented on #46530
@bbsmooth hey, did you ever went through in your search?

I am for Fira Code
![image](https://user-images.githubusercontent.com/26656284/188907985-4793b241-3be3-42bb-8532-4721a0bc75df.png)

[2022-09-07 14:48] scissorsneedfoodtoo commented on #46530
There are some great suggestions here already. @ahmadabdolsaheb suggested we could also look at what GitHub, Monaco, and VS Code are using by default.

[2022-09-07 15:07] scissorsneedfoodtoo commented on #46510
We discussed this in an issue triage meeting and decided that adding one form at a time is probably the way to go.

When a camper presses the "Add a new portfolio item" button, a form should be added to the page and the "Add a new portfolio item" button should be disabled or hidden.

Then after the camper fills out the form and presses the "Save this portfolio item" button, the "Add a new portfoli

[2022-09-07 15:56] random-pixels opened #47462 "Learn Intermediate CSS by Building a Picasso Painting - allow span for icons"
### Describe the Issue

When using icons, the use of the <i> tag is controversial because it is not semantic. The span tag should be used instead (and in fact, span was used by font awesome for a few years but they have reverted back to i in their documentation).
I'm wondering if the CSS projects could be updated to allow for the use of span as an alternative for users who want to learn how to cre

[2022-09-07 16:00] random-pixels commented on #47462
Sorry - I don't know how to edit the labels, but it's not a bug, more of a request

[2022-09-07 16:16] moT01 commented on #46523
Should we remove the cert projects from that superblock at the same time? or just move the button for now?

[2022-09-07 16:58] bbsmooth commented on #46530
@ieahleen I was actually putting together a quick web app to allow us to compare possible fonts. But then I had a death in the family and had to basically drop everything for the past few weeks. But I'm back now and I'll try to finish up my app in the next few days. Fira Code is definitely on the list.

[2022-09-07 18:05] ieahleen commented on #46523
Maybe both at the same time, for now the challenges are still there, but that is finally not the current curriculum for the Responsive Web Design. Maybe at the same time Responsive Web Design can loose the New part? If it's the only one it's not new anymore

[2022-09-07 18:07] ieahleen commented on #47462
@bbsmooth what do you think?

[2022-09-07 18:12] SaintPeter opened #47464 "Add Per-Module Progress Reset"
### Is your feature request related to a problem? Please describe.

I see a question about once a week from campers who would like to reset their progress on a single module, IE: Responsive Web Design, JavaScript, etc.  They have many reasons for wanting to do this - stepped away for a while and want to start over, etc.  The current UI makes it quite hard to "progress" through the challenges if yo

[2022-09-07 19:14] moT01 commented on #46523
K, so the tasks here:

1. Make the map look like this:
`Responsive Web Design` at the top
`Legacy Responsive Web Design` at the bottom
Just move the buttons for now. We can come up with different labels or headings another time.

2. Remove the certification projects from the Legacy RWD

These should be fairly easy - and we can keep this discussion in mind when we need to come up with something mor

[2022-09-07 19:57] ieahleen commented on #47452
As this is already about changing that part of the template, maybe this can aslo be added in.

When `challengeFile.ext` is `js`, `fileType` should be `javascript` for the forum code highlighting

https://github.com/freeCodeCamp/freeCodeCamp/blob/921a8fdc4eb59f151cb51a52a6e32751cf73bcd5/client/src/templates/Challenges/redux/create-question-epic.js#L26

[code]

![image](https://user-images.githubuse

[2022-09-07 20:04] bbsmooth commented on #47462
[Font Awesome's own docs](https://fontawesome.com/docs/web/add-icons/how-to#add-icons-to-html) give `span` as an alternative to `i` for adding an icon. But from what I can tell, almost all of their documentation uses `i`, so this one example is more of just throwing a bone to people who don't want to use `i`.

Yes, technically the `i` element is not semantically correct. Font Awesome, Bootstrap, a

[2022-09-07 21:53] bbsmooth commented on #46530
In my opinion, Roboto Flex (as found in Google fonts) does not make enough of a distinction between lowercase letter `l` and uppercase letter `I`.

[2022-09-07 23:38] DylanDevelops commented on #47459
I can fix this typo!

[2022-09-08 00:18] boontham33345 commented on #46198
[product_lifecycle.xlsx](https://github.com/freeCodeCamp/freeCodeCamp/files/9522433/product_lifecycle.xlsx)

[2022-09-08 00:24] boontham33345 commented on #47360
Good
[readme.txt](https://github.com/freeCodeCamp/freeCodeCamp/files/9522454/readme.txt)

[2022-09-08 04:16] bbsmooth commented on #47360
This is what makes the language menu full length so no vertical scroll bar appears. Originally, I had the language menu set so that a vertical scroll bar would appear if it was taller than the main menu. But it was decided that there shouldn't be a vertical scroll bar, the language menu should be as tall as necessary so no scroll bar was needed. Is this what we still want? Even as we continue to a

[2022-09-08 06:48] bbsmooth commented on #46530
Here's a link to my font comparison web app:

[Font Selector](http://font-selector.surge.sh/)

I'll probably be adding a few more. Let me know if you have any suggestions for other contenders.

@ieahleen I also think Fira Code is nice but if you look at the JS function example you'll see that it combines certain characters together (such as the arrow operator, >= and <=). While I personally think

[2022-09-08 07:46] #47360 closed

[2022-09-08 08:55] ahmadabdolsaheb commented on #46530
Thanks for putting the list together. ligatures are great but I am sure new users are going face issues if they cannot find in the keyboard what they see in the example code blocks.

[2022-09-08 09:18] alfonsusac commented on #47464
This is actually useful. Imagine if I just want to relearn front-end without resetting the progress on the algorithm course 🙄😱

[2022-09-08 09:36] alfonsusac opened #47466 "Learn CSS Grid by Building a Magazine - Step 64"
### Describe the Issue

The instruction can confuse people who are used to use `"` as the enclosing character for strings.

Id suggest giving a tip (?) that you can also use `'` to enclose strings.

Which brings me to this bug (see Your code section) which is accepted when I was first confused. Then I went to the next step to see what they meant by the question haha.

### Affected Page

https://ww

[2022-09-08 09:45] ojeytonwilliams opened #47467 "Multifile editor refactor"
While working on https://github.com/freeCodeCamp/freeCodeCamp/pull/47463 I ran into an issue where the props get 'stuck' on old values.  What happens is that not every function is recreated on each render. If that function closes over props, then whatever values props had on creation are used whenever the function is invoked (i.e. they're bound). Since the props may have changed by this point, the

[2022-09-08 09:49] ojeytonwilliams commented on #47457
The PR should fix the problem, but I think tests would be good to prevent regression, so I'll leave this issue up.

[2022-09-08 10:19] ojeytonwilliams commented on #47468
(moved to the main repo for visibility)

[2022-09-08 13:47] ieahleen commented on #46530
Fira Mono seems pretty similar
![image](https://user-images.githubusercontent.com/26656284/189138742-bd91f787-921a-4605-ab3f-f1fb81c15b7a.png)
The 0 changes, but the other characters that may be confused have the same level of distinction, so yeah, why not on Fira Mono!
(It seems that removing the ligatures from Fira Code is not that easy)

[2022-09-08 15:40] DylanDevelops opened #47471 "Building a Cat Photo App - Step 2"
### Describe the Issue

In the Cat Photo App Challenge, I think that the wording should be different. Right now it looks like this:

I believe that we should change the word `to` to say `through`. I think this makes it a little easier to understand that there are a bunch of `h` elements. After this change it would look like this:

### Affected Page

https://www.freecodecamp.org/learn/2022/responsi

[2022-09-08 15:40] DylanDevelops commented on #47471
This is totally my opinion but let me know if you think this is a change worth making.

[2022-09-08 16:10] bbsmooth commented on #47466
The following also mistakenly pass:

[code]

Notice that the space is before the double quote instead of after it.

[code]

Notice that the space is after the double quote instead of before it.

[2022-09-08 17:30] Sboonny commented on #47257
If you would like to fix this issue, please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instructions in our guides. Join us in [our chat room](https://chat.freecodecamp.org/channel/contributors) or [the forum](https://forum.freecodecamp.org/c/contributors/3) if you need help contributing, our moderators will

[2022-09-08 17:32] Sboonny commented on #46497
@Hdanzo yeab that would be lovely 👍.

If you would like to fix this issue, please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instructions in our guides. Join us in [our chat room](https://chat.freecodecamp.org/channel/contributors) or [the forum](https://forum.freecodecamp.org/c/contributors/3) if you need

[2022-09-08 17:33] Sboonny commented on #46510
If you would like to fix this issue, please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instructions in our guides. Join us in [our chat room](https://chat.freecodecamp.org/channel/contributors) or [the forum](https://forum.freecodecamp.org/c/contributors/3) if you need help contributing, our moderators will

[2022-09-08 18:05] DylanDevelops opened #47472 "Explanation Needed - Build a Cat Photo App"
### Describe the Issue

In the cat photo app depending on the step, people use either `""` or `''` for their code. Example:
`<a href="https://freecatphotoapp.com"></a>` can also be written as `<a href='https://freecatphotoapp.com'></a>`.

### Affected Page

Every step that has an example using either " or '

### Your code

[code]

### Expected behavior

I think that we should have some sort of exp

[2022-09-08 18:11] #47459 closed

[2022-09-08 18:20] lasjorg opened #47473 "Update title and text from rest parameter to rest property (or element)"
### Describe the Issue

A rest parameter would involve parameters.

The MDN article on [rest parameter](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/rest_parameters) only has function parameter examples and it links to the function definition part of the specs. The only instance I can find of the words "rest parameter" in the specs is under the [Parameter Lists](http

[2022-09-08 18:26] lasjorg commented on #47473
Just so I don't forget if it is changed the hint guide needs to be updated as well.
https://forum.freecodecamp.org/t/freecodecamp-challenge-guide-use-destructuring-assignment-with-the-rest-parameter-to-reassign-array-elements/301218

[2022-09-08 18:38] dhairyapatel1506 commented on #47456
@bbsmooth and @ShaunSHamilton sorry about the extremely late reply, and thank you both for your valuable contributions to the discussion. So if I've understood this correctly, the problem cannot really be solved without javascript so you've considered adding a legend stating that it's required to choose an account type?

[2022-09-08 18:44] ShaunSHamilton commented on #47456
@dhairyapatel1506 We decided to:

So, a new lesson explaining the need to make one of the inputs checked by default.

[2022-09-08 19:02] naomi-lgbt commented on #47407
Going to close this as this is intended behaviour. Our build validation fails if an audited certification does not have all of the challenges translated.

As noted in the contributing documentation, testing translations locally may require getting a download from Crowdin.

[2022-09-08 19:02] #47407 closed

[2022-09-08 19:10] dhairyapatel1506 commented on #47456
@ShaunSHamilton I personally think the legend isn't required if it doesn't help solve the problem raised by the issue. There is no need to mention that anything is required. Besides, adding a legend to only one of the three fieldsets (and that too in the middle) makes it look odd. Adding the checked attribute looks like the best solution at the moment.

[2022-09-08 19:14] ShaunSHamilton commented on #47456
@dhairyapatel1506 The reason for the legend is it is useful to give a way to know a selection needs to be made/changed. The selection is, in fact, required, but, currently, there is no indication of this.

[2022-09-08 19:20] naomi-lgbt commented on #47452
From what I have read, we can't install more plugins on a managed instance anyway.

[2022-09-08 19:23] dhairyapatel1506 commented on #47456
@ShaunSHamilton I understand what you're saying. But my point is that the name, email and password parameters are also required and yet we do not mention it to the user. Similarly, there is no need to mention that the account type is required because that would only look odd and besides the issue was never about mentioning that the account type is required to the user, it's about not letting the u

[2022-09-08 19:25] naomi-lgbt commented on #47453
I'm not sure how often that email is monitored, tbh.

However, campers who do not wish to use the mailto link are totally able to proceed with the issue creation flow instead - we make sure those issues are seen by the correct people.

I'm not sure there's anything to fix here, tbh.

[2022-09-08 19:26] ShaunSHamilton commented on #47456
The reason we do not mention the name, email, etc. as being required (using text) is because the HTML form validation does it for us.

We need to explicitly say the account type is required, because, those who use assistive tools (e.g. those with limited vision) will not be told by their tool the field is required (because we are not using the `required` attribute). Adding the text "Required" mean

[2022-09-08 19:50] bbsmooth commented on #47456
They can do this because they have JS available. We don't have JS available in this course since it is just HTML/CSS. So using the `checked` attribute to force a choice is the best option available.

In a real world application, I think you would add the `checked` option in the HTML as we are doing here and then if JS is available you would then remove the `checked` option and use the method I lin

[2022-09-08 20:15] dhairyapatel1506 commented on #47456
@bbsmooth That's right. I was just explaining why it isn't a technically right solution but the best option we have so there's no way around but to work with it.

[2022-09-08 21:07] mojo-KB commented on #47472
I would say we should add a recommended note suggesting using double quotes for a link in this case or any strings to keep the consistency.

[2022-09-08 21:10] bbsmooth commented on #46530
I do like Fire Mono, but I find the ampersand to be a little "weird". I think my real first choice might be Hack (which according to their documentation offers a way to customize glyph styles, so we could have a slashed zero with it). But really, any of these is going to be an improvement over what we have now so I'll be happy with whatever the consensus is.

[2022-09-08 22:53] naomi-lgbt commented on #47462
Generally, I'm a fan of ensuring the tests allow valid code to pass. HOWEVER, that applies specifically to different ways to write the same code - not to different code entirely.

Personally, with `i` being used by FontAwesome, I'm of the opinion that we should not change the tests to allow `span` elements. The instructions explicitly say to use `i` elements, and we should not allow campers to dev

[2022-09-08 22:55] naomi-lgbt commented on #47464
This is something that's pretty commonly requested.

The challenge is with our data structure, unfortunately. An option to reset a specific superblock would need to find all `completedChallenges` that are part of that superblock and remove them - and then do the same for `progressTimestamps`.

[2022-09-08 22:57] naomi-lgbt commented on #47472
I'd argue that this doesn't need to be clarified.

The tests are specifically written to allow single or double quotes, and the syntax highlighting will indicate that either is valid.

[2022-09-08 22:59] naomi-lgbt commented on #47473
I'm honestly tempted to just change this to `spread operator`.

[2022-09-08 23:10] bbsmooth commented on #47472
I kind of agree that it might be nice to let people know you can use either double quotes or single quotes for attribute values. I think Cat Photo App Step 8 is the first use of an attribute value. The example in that step uses double quotes. Would it be such a bad thing if we added a note letting them know they can use single quotes as well?

[2022-09-08 23:14] naomi-lgbt commented on #47472
My only concern with that is the more text we add, the greater the chance people don't read any of it.

[2022-09-09 01:32] SaintPeter commented on #47464
Step 1:
Enumerate challenges in the super block.

It's there code that already does this?

Step 2:
Build find a filter for the completed timestamps?

I mean, maybe not easy.

[2022-09-09 02:05] DylanDevelops commented on #47472
That's understandable, but I think leaving it up to them to decide is not necessarily a good idea. If you are learning, it's easier to be told that they are interchangeable so that you know for the future. If for the whole lesson you use quotation marks and then you try to read someone else's code and they have apostrophes, it might be confusing. We save the user confusion later on by just having

[2022-09-09 02:10] hbar1st opened #47474 "Step 15 Building a City Skyline curriculum is missing important information"
### Describe the Issue

In step 15 of the curriculum called Learn CSS Variables By Building a City Skyline, the instructions fail to provide the name of the variable that is being referenced.
The instructions say:
`To use a variable, put the variable name in parentheses with var in front of them like this: var(--variable-name). Add your variable as the value of the background-color property of the

[2022-09-09 03:10] bbsmooth commented on #47472
@naomi-lgbt Ya, I get that, I don't want to turn these into chapters worth of text either :smile: But at the same time, people have to be expected to do a little bit of reading if they want to learn. Seems to me one additional sentence is worth the trade-off in this case.

[2022-09-09 03:14] DylanDevelops commented on #47472
Yeah even if some don't read, the people that do read will benefit from the information later on.

[2022-09-09 03:52] hbar1st commented on #47453
Thanks for your comment. I will close this issue.

[2022-09-09 03:52] #47453 closed

[2022-09-09 06:39] tahiraslammm opened #47475 "Wrong answer to the question"
### Describe the Issue

Given question is,  What is the value of a after you run the following code?
a = np.arange(5)
a + 20

and the correct answer is [20, 21, 22, 24, 24] but it's marked as wrong answer

### Affected Page

https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-course/numpy-operations

### Your code

a = np.arange(5)
a + 20

Result:
array([20, 21,

[2022-09-09 06:46] gikf commented on #47475
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions with

[2022-09-09 06:46] #47475 closed

[2022-09-09 08:10] ojeytonwilliams commented on #47472
Ideally we want each step to teach one thing at a time, so I'd be inclined towards creating a step just for that.  Students should have a better chance of recalling it if they actually have to use the information (even if it's just briefly).

[2022-09-09 09:26] mahassan opened #47476 "Confusing wording which should be changed"
### Describe the Issue

The difference between ES5 and ES6 construction is the removal of keyword function. The constructor in ES6 or function constructor in ES5 is invoked by a new keyword.

The wording of the question says

and then after code

### Affected Page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/use-class-syntax-to-define-a-constructor-function

##

[2022-09-09 10:32] Sembauke commented on #47472
I agree with Naomi.

Being a developer is all about trial and error and see what things work and things that don't. An entire new step for this seems excessive.

I think we should close this.

[2022-09-09 10:41] ojeytonwilliams commented on #47472
I would prefer that to bulking up an existing step, though.  That said, I'm fine with leaving this for users to discover on their own.

[2022-09-09 10:49] #47472 closed

[2022-09-09 10:51] Sembauke commented on #47472
Hey @DylanDevelops,
Thank you for opening this issue, we think is should be fine for users to discover this on their own.
We allow any of the quotation marks, as they are valid. (the tests will pass)

[2022-09-09 11:29] Sboonny commented on #40998
A camper talked to me about this issue, and it was difficult for them to understand, so I will update the original post to reflect on the requirement better

[2022-09-09 13:18] BryceAF opened #47478 "Search index."
### Is your feature request related to a problem? Please describe.

Yes, I recently completed "Learn Accessibility by Building a Quiz" in the "Responsive Web Design" lessons. Quite a few of the steps are very vague and ask us to use coding and info that wasn't covered in prior lessons that I can find.

### Describe the solution you'd like

It seems that a Search Index of some kind would be very he

[2022-09-09 16:00] jeremylt commented on #47476
I think saying that the keyword `function` is replaced with the keyword `constructor` is literally true but also not very useful of an observation.

[2022-09-09 16:06] jeremylt commented on #47474
The user is expected to use the variable they created on the last step: https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-variables-by-building-a-city-skyline/step-14

That is the only CSS variable that exists at this point in the project.

That said, people take breaks between steps, so it can be mildly unreasonable to expect users to remember details from previous steps.

P

[2022-09-09 16:44] hbar1st commented on #47474
yes please. Also I spent a long time trying to help someone because I didn't realize right away that the variable was being referenced from a previous step. (I could see the hints, but I couldn't understand why the hints were hinting at something I had never seen)

[2022-09-09 16:46] lasjorg commented on #47473
I assume you mean rest and not spread? Because in the context of the challenge it is rest.

The least specific verbiage would be "rest syntax", which would cover "rest parameter", "rest property", and "rest element".

I'm also not convinced `...` is an operator even though it is often called it.

---

Even though I came to the conclusion independently by reading the specs that it is a "rest elemen

[2022-09-09 16:53] santimirandarp commented on #47473
I agree that the wording isn't correct.

And so in that case, where it is collecting the rest of the array, it is certainly rest. And it is not an operator because it does not operate on array, as spread does.

Rest property sounds good to me.

[2022-09-09 17:04] lasjorg commented on #47473
I just noticed that the challenge already calls it a "rest element"

---

Here is one suggested change:

# Destructuring via rest elements

In some situations involving array destructuring, we might want to collect the rest of the elements into a separate array.

The result is similar to `Array.prototype.slice()`, as shown below:
[code]

Variables `a` and `b` take the first and second values from

[2022-09-09 17:06] SaintPeter commented on #47464
Since it's a rare occasion (max a few per week), I don't think that would be a significant consideration.  If it was happening once a minute, I might be concerned.

[2022-09-09 17:12] bbsmooth commented on #47474
Why not the best of both worlds?

[2022-09-09 17:14] jeremylt commented on #47474
Seems straightforward of a PR. I'll open it for first timers.

[2022-09-09 17:20] hbar1st commented on #47474
Thanks for the update. I had a question about updates and how they make it back to the what we see as users in the curriculum. Is there a schedule at all for a release or whenever someone's PR is accepted, it immediately is available to everyone who uses fCC?

[2022-09-09 17:27] ojeytonwilliams commented on #47464
It'll be about the same as the old way of submitting challenges (it recreated the challenge array each time). So, not long. The main thing is, as @SaintPeter said, it'll be rare.

[2022-09-09 18:03] zippytyro commented on #47464
Hey, I definitely want this feature, as[ mentioned on reddit](https://www.reddit.com/r/FreeCodeCamp/comments/x81sif/can_i_reset_the_progress_of_certain_modules_as_i/), thanks a lot @SaintPeter for opening this issue. :+1:

As this is requested by a lot of people, I guess the team could do something. People would use it very scarcely I assume. I started the module, completed a few then got busy. So

[2022-09-09 18:26] DylanDevelops commented on #47476
Should we make this change? Since it's not too complicated of an update to the wording and if it only helps better someone's understanding of the material, we should make the change. But let me know what you think.

[2022-09-09 18:28] naomi-lgbt commented on #47474
Releases aren't done on a specific schedule.

We merge `main` into `prod-staging` to trigger a staging release (on `freecodecamp.dev`), and merge `prod-staging` into `prod-current` to trigger a production release.

[2022-09-09 18:30] jeremylt commented on #47476
I think that this change removes the usefulness of that sentence. It should be about not what literal characters are changing on the screen but rather what those changes are accomplishing.

[2022-09-09 18:32] DylanDevelops commented on #47476
I definitely agree with this take.

[2022-09-09 19:00] rutterjt opened #47480 "Registration Form Step 29 Displays Text Input Instead of Checkbox"
### Describe the Issue

In step 29 of the Learn HTML Forms by Building a Registration Form challenge, there seems to be incorrect seed code. The checkbox for accepting terms and conditions is missing a `type="checkbox"`, so when the step first opens it displays a plain text input instead of a checkbox.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-for

[2022-09-09 19:19] naomi-lgbt commented on #47480
Whoops! Yeah, that should be fixed.

Thanks for opening this issue.

This looks like something that can be fixed by "first-time" code contributors to this repository. Here are the files that you should be looking at to work on a fix:

List of files:

1. https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-html-forms-by-building-a-re

[2022-09-09 19:44] rutterjt commented on #47480
Sounds good! I'll submit a PR to fix it!

[2022-09-09 19:46] naomi-lgbt commented on #47478
This has been on my list for a while. Ideally, we should attach a `topic` property to the challenge frontmatter, so we can define the topics a challenge teaches. We could then consume that data wherever we felt it would be helpful.

[2022-09-09 19:51] naomi-lgbt commented on #47476
I second Jeremy's stance - I don't see any need to change the verbiage here.

Thanks for opening this issue. We are closing this as "wont fix". If you think we're wrong in closing this issue, please request for it to be reopened and add further clarification. Thank you and happy coding.

[2022-09-09 21:16] jeremylt commented on #47476
Crap, never clicked the button

---

That said, the explanation is a bit awkward, at least in my eyes.

Perhaps something like this:

In ES5, an object can be created by defining a constructor function and using the `new` keyword to instantiate the object.

[code]

The `class` syntax replaces the constructor function:

[code]

[2022-09-09 21:56] bbsmooth commented on #47476
I think this is the potentially confusing part. The `class` example has a `constructor` method, but I'm guessing a lot of people will think of that as a "constructor function" and thus it doesn't look like the ES5 constructor function has been replaced. I think we just need to be a little more descriptive in the explanation. Perhaps something like:

[2022-09-09 23:03] DylanDevelops commented on #47476
I can make this change if we think it's worth it? Just lmk

[2022-09-09 23:11] DylanDevelops commented on #47471
should I work on this change since no one has picked it up or not?

[2022-09-10 03:30] shannonharrison118 commented on #47474
if no one is working on this issue yet, could i work on this?

[2022-09-10 05:36] #47480 closed

[2022-09-10 08:32] alfonsusac commented on #47478
Isn't that what were being done in the Legacy Curriculum? I kinda missed that where every step has a "Title" that I can skim through and go back to that particular step.

[2022-09-10 08:39] alfonsusac opened #47489 "Rotate CSS Property - Learn CSS Transforms by Building a Penguin - Step 84"
### Describe the Issue

Individual Transform is recently added to the [specification module level 2](https://drafts.csswg.org/css-transforms-2/#individual-transforms) and allows developer to use `rotate: 90deg` as opposed to `transform: rotate(90deg)`. Most browsers has adopted this feature and I can see it simplifies the coding experience as it is easier to remember.

Obviously it is new and migh

[2022-09-10 09:56] Sboonny commented on #47489
There are multiple steps that require, using `transform: `, I have listed them below.

I think the test should accept the values, because they are rendered correctly and consider a correct syntax.

I have no Idea how to word the description tho

The files

- [ ] step 16: https://github.com/freeCodeCamp/freeCodeCamp/blob/ccc4a82016c6bb86b46f10a18e8b40fe756ffef7/curriculum/challenges/english/14-resp

[2022-09-10 11:05] laibamasod opened #47490 "JavaScript Algorithms and Data Structures: Final Task (CASH REGISTER)"
We have to create a function which takes in cash, payment and cash in drawer object, and return an object with change and status,
Here are a few examples:
checkCashRegister(19.5, 20, [["PENNY", 1.01], ["NICKEL", 2.05], ["DIME", 3.1], ["QUARTER", 4.25], ["ONE", 90], ["FIVE", 55], ["TEN", 20], ["TWENTY", 60], ["ONE HUNDRED", 100]]) should return {status: "OPEN", change: [["QUARTER", 0.5]]}

checkCas

[2022-09-10 11:43] hbar1st commented on #47490
Related to #43110
This exercise seems to be problematic for many.

[2022-09-10 12:46] gikf commented on #47490
Thank you for reporting this issue.

This is a standard message notifying you that this issue seems to be a request for help. Instead of asking for help here, please click the **"Get Help"** button on the challenge on freeCodeCamp and choose the **"Ask for help"** option, which will help you create a question in the right part of the forum. Volunteers on the forum usually respond to questions with

[2022-09-10 12:46] #47490 closed

[2022-09-10 14:00] hbar1st opened #47493 "Article on how to setup freeCodeCamp locally inadvertently gives mongodb server starting instructions twice, leading to confusion"
### Describe the Issue

Windows users attempting to follow each step outlined in the article https://contribute.freecodecamp.org/#/how-to-setup-freecodecamp-locally will encounter an error on the 2nd mongoDB server startup step because it was already started in an earlier instruction.

The first time mongoDB server is started is in the steps linked from "How to prepare your local machine". The sec

[2022-09-10 14:13] DylanDevelops commented on #47493
Is it this whole section that needs a disclaimer that just says something like:
<img width="1033" alt="Screen Shot 2022-09-10 at 8 11 07 AM" src="https://user-images.githubusercontent.com/48571264/189487176-ab791010-44a8-4e31-904b-db6cb97ccff2.png">

Would you like to typo up the best disclaimer you think would work best and then I can implement it.

[2022-09-10 14:19] ShaunSHamilton commented on #47493
I do not see a bug here.
There are specific instructions for working with WSL, and there are specific instructions for locally setting freeCodeCamp up.

Campers should not blindly follow any documentation. Let alone one that has you install software on your local pc. This is the issue here.

[2022-09-10 14:21] DylanDevelops commented on #47493
I just think a lot of newcomers not necessarily are going through blindly but they are only because they don't understand everything. If we add one line of a warning, those readers following with not a great understanding of what they are really doing will not run into this error.

Even if it helps 3 people I think its still a good addition.

[2022-09-10 16:43] hbar1st commented on #47493
It will help a lot more than 3 I assure you. (check discord for all previous run-ins, though they usually work around by installing mongodb again with the command from the error then get another error on seeding step etc)

Yes I think your suggestion to add a disclaimer above the box showing the mongod command would work perfectly.

[2022-09-10 17:52] ShaunSHamilton commented on #47471
An issue with the  _first timers only_ label is open for contribution by **first time contributors only**. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any

[2022-09-10 19:24] DylanDevelops commented on #47471
Oh, I'm not a first-timer I've don't this a bunch. just curious since its been open for a few days now and no one has picked it up.

[2022-09-10 20:14] ShaunSHamilton commented on #47471
That is not what I see.

<img width="586" alt="image" src="https://user-images.githubusercontent.com/51722130/189500361-9d2896ff-5f67-4ac4-9685-edbc565b3f64.png">

[2022-09-10 20:17] DylanDevelops commented on #47471
<img width="670" alt="Screen Shot 2022-09-10 at 2 16 59 PM" src="https://user-images.githubusercontent.com/48571264/189500441-42188e56-8801-4733-afbc-bec9bd969752.png">

[2022-09-10 20:17] DylanDevelops commented on #47471
i meant this ^

[2022-09-10 23:35] hbar1st commented on #47304
I agree with this. I am constantly having to zoom in and out again to see what is going on (and sometimes blindly copy the characters because I cannot tell and I from an L)

[2022-09-11 08:35] sejalmishra commented on #47474
Can I work on it if no one works on it?

[2022-09-11 08:39] sejalmishra commented on #47471
Hey, I am a first-timer can I work on this if no one else is?

[2022-09-11 12:09] yashkoli836 commented on #47474
Hey @hbar1st, I understood the problem that the instructions are not providing the name for the variable used.
And this can be solved by simply providing the name which is --building-color1 having a value #999.
And I would also like to ask If anybody is not working on this issue I would like to work on it.

[2022-09-11 13:45] jeremylt commented on #47474
Anyone can work on an issue - they are not assigned. We merge the first complete PR to address the issue.

The desired new text is listed above.

[2022-09-11 14:45] DylanDevelops commented on #47471
Yes, go for it @sejalmishra. Read the contributing guidelines and work on a different branch when making the change. Ask me if you need any help.

[2022-09-11 15:51] sejalmishra commented on #47471
Okay, sure thank you

[2022-09-12 02:36] #47010 closed

[2022-09-12 06:20] scissorsneedfoodtoo commented on #46501
Thanks for reporting this issue and for your help contacting the Pocket team, @pdwarkanath.

I just tried this with the Pocket app on Android and everything seems fine on my end now. I'm able to open an article on Chrome, save it to Pocket, and view the whole article in the Pocket app.

I also tried saving a couple of articles with the Pocket Chrome extension. Again, saving an article works and I'

[2022-09-12 06:20] #46501 closed

[2022-09-12 06:44] #47474 closed

[2022-09-12 11:19] #47417 closed

[2022-09-12 12:25] ahmadabdolsaheb commented on #46530
We initially almost went with Hack. I like the '&' in Hack better than Fira. If we could have a slashed zero, Hack would be my first choice too. I would like to hear about @ieahleen's feedback before we finalize our choice.

[2022-09-12 12:52] ahmadabdolsaheb commented on #47316
I understand that this is somehow unrelated to this issue, but to my understanding the new responsive web design steps are designed to be explanatory. So ideally students should not need to back and forth to complete a project. If you don't mind, could you share with me an instance where you had to go back to review a concept before completing a step.

[2022-09-12 13:03] ahmadabdolsaheb commented on #46178
@moT01 Yes there are a few items that need to go in. @ojeytonwilliams, so the sweet spot for readability is between 45 to 80 characters per line(if I am not mistaken).

Also in the current design our check button spread through block. If we extend the width of the instructions, it would look less like a button.  That being said, I would be happy to make change to improve the readability and

[2022-09-12 13:34] ahmadabdolsaheb commented on #47360
@bbsmooth thanks for bringing this up. Ideally we would need to show as many languages as possible in a viewport and display a minified scroll bar if the list exceeds the height viewport minus of the navigation.

We could show a scrollbar initially as you recommended, but the dropdown needs expand further than the main menu if needed.

[2022-09-12 18:23] lasjorg commented on #47476
I'm not sure why constructor is in a code block in the sentences.

We just call it a constructor function. The `constructor` method used with a class and a "constructor function" are two different things. It isn't even a constructor function until it is invoked using `new`. It becomes a constructor function by way of invocation, not definition.

I would suggest we remove the code block and only us

[2022-09-12 19:22] Sboonny opened #47505 "Missing code block in practice comparing different values challenge in old JavaScript certification"
In this line, there is a missing code block around word false

It should be like this

here is the file: https://github.com/freeCodeCamp/freeCodeCamp/blob/c15fd16ffe5d4a6ad6454ee975f0be339e324455/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/basic-javascript/practice-comparing-different-values.md#L18

---

## Additional Content

If you would like to fix this issue, ple

[2022-09-12 20:37] DylanDevelops commented on #47489
@Sboonny could you describe exactly what I need to change so I can go through all of these and update them accordingly :) I'm just very new so I might need a handhold through this process but I still would love to make these changes!

[2022-09-12 20:45] maciek5000 commented on #47505
I opened pull request

[2022-09-12 22:34] #47471 closed

[2022-09-12 22:46] #47505 closed

[2022-09-13 03:07] HydraLich00 opened #47507 "Technical Documentation Page test giving "None of your header elements should be empty" and other false errors."
### Describe the Issue

When trying to submit my code it always gives me the "None of your header elements should be empty" and "Each .nav-link should have text that corresponds to the header text of its related section" errors. None of my header elements are empty and all my nav-links have the exact text that is in the header of related sections. I posted in the forums and another user ran my exa

[2022-09-13 05:38] DylanDevelops opened #47509 "Step 35 - Build A Cat Photo App"
### Describe the Issue

The instruction asks you to add an action attribute to your form tag. The URL is `https://freecatphotoapp.com/submit-cat-photo` but I believe we should change it to `https://www.freecatphotoapp.com/submit-cat-photo` as it is how most people would type in a website and the link auto changes to that. When trying to do www in the URL in your code, it fails the check and I beli

[2022-09-13 09:55] Sboonny commented on #47489
We are using [chaijs](https://www.chaijs.com/) to test the code campers input, they are true and false statements.

If the value decided in assert function argument exist: example `assert.function(value) //true`, the camper will pass the tests.

So the tests like these `assert.notEmpty(new __helpers.CSSHelp(document).getStyle('.left-mountain')?.transform);` need to be changed to account for the po

[2022-09-13 11:02] Karorule commented on #43778
am a beginner

[2022-09-13 11:03] Karorule commented on #43778
if you could teach me coding and programming

[2022-09-13 11:09] ArshErgon commented on #47509
its working for me, `https://freecatphotoapp.com/submit-cat-photo` can you change the browser of yours? or maybe clean cookies?

[2022-09-13 11:14] ShaunSHamilton commented on #47507
Thank you for taking the time to open this.

This is a bit bizarre, because each test passes when run in the browser console. However, I see the same failing tests as you do in the UI.

[2022-09-13 12:13] mahassan commented on #47476
@lasjorg Thanks for the correction about the constructor function as I am new to this.

what @jeremylt reworded it is the way I think should be as it is not confusing and straight forward.

[2022-09-13 12:14] HydraLich00 commented on #47507
I changed the visibilty: hidden to display: none and it ran correctly.

[2022-09-13 12:59] PiyushBhangale commented on #47324
j

[2022-09-13 14:30] DHCJS commented on #47509
I've come across people using Mozilla and Opera sometimes have an issue.
Several things you can do:
1. Try to do it on your mobile phone
2. Restart and redo  your lesson
3. Change your browser

[2022-09-13 14:41] ahmadabdolsaheb commented on #47478
@naomi-lgbt that is a great idea. We also need to find a way to display the topic tags on the step grid/ challenge list.

[2022-09-13 15:27] DylanDevelops commented on #47509
This works: https://freecatphotoapp.com/submit-cat-photo. I'm saying I think we should change the URL to https://www.freecatphotoapp.com/submit-cat-photo because that's more normal to URLs.

[2022-09-13 16:10] DylanDevelops commented on #47489
What do you think is the best solution? This will be my first time having a pull request that actually changes coding

[2022-09-13 16:34] Sboonny commented on #47489
@DylanDevelops, I have no idea if people want to change it or people want it to be changed. And I am too sick to think of something

here is an example of logical example, I haven't tested it, in Gitpod, so use with cautious.

[code]

If you think more is needed, please head to [our discord](https://chat.freecodecamp.org/channel/contributors) or [the forum](https://forum.freecodecamp.org/c/contrib

[2022-09-13 16:45] DylanDevelops commented on #47489
I'll tag you cause I might need more help. Feel better!

[2022-09-13 16:46] bbsmooth commented on #47489
I'm going to disagree just a little here.

[Can I Use: CSS property: rotate](https://caniuse.com/mdn-css_properties_rotate)

Firefox has had this for a while now but Chrome/Edge have only had it for the last few new versions. People from all over the world use this site. Not all of them have the latest versions of things. If the rotation was crucial for my website then I would not use the `rotate`

[2022-09-13 19:12] lasjorg commented on #47476
I wouldn't say the `constructor` method is a replacement for a constructor function, if anything, I would say the `class` is.

---

Not sure if we need to rephrase anything here but we should at the very least remove the code blocks from the two sentences as they are used incorrectly.

In the context of a constructor function, `constructor` isn't a language construct, it's just what we call such a

[2022-09-13 19:23] naomi-lgbt commented on #47509
`www` isn't "more normal" to URLs.

In fact, this very page isn't on a www subdomain:

<img width="417" alt="image" src="https://user-images.githubusercontent.com/63889819/189990576-d4d07a4c-8281-41bb-b69c-d30319cc8e4b.png">

(if you visit the www subdomain it just redirects).

`www` is primarily an artefact from back in the early Internet days, and many sites don't really standardise how this is

[2022-09-13 20:29] yamamoto34 opened #47513 "Broken test: Step 5 of Learn CSS transforms by building a penguin"
### Describe the Issue

Instruction: Remove both the horizontal and vertical scrollbars, and prevent programmatic scrolling, using only one property.
Hint: You should give body and overflow of clip.
I typed in overflow: clip; to the list of properties: values; within the body selector. Even the hint is giving me the same answer, but the code will not pass. I tried different browsers, checked for e

[2022-09-13 20:48] DylanDevelops commented on #47509
That's true. I just feel people who are newer to coding might not familiar with subdomains and such so I think we should keep it to what kids learn in tech class in school these days and such.

or just let the test pass if they type www

[2022-09-13 21:14] jeremylt commented on #47513
This exact code is passing for me. It may be [another] Apple following web standards issue?

[2022-09-13 21:22] jeremylt commented on #47476
In ES5, an object can be created by defining a constructor function and using the new keyword to instantiate the object.

In ES6, a `class` declaration can have constructor method that is invoked with the `new`  keyword:

[code]

[2022-09-13 21:24] jeremylt commented on #47509
+1 to the idea that we don't need to stick `www` everywhere it might conceivably go. Sometimes you don't need it, and that's ok.

[2022-09-13 22:01] yamamoto34 commented on #47513
Quite possibly. It’s just so strange that all other tests have been fine, and this very simple one is the only one bugging out.

[2022-09-14 00:38] DylanDevelops opened #47514 "Step 55 - Build a Cat Photo App"
### Describe the Issue

The instructions tell you to put a `for="Loving"` attribute in the label. However, the instructions ask with a capital `L` but the answer is only accepted if there is a lowercase `L`.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-55

### Your code

[code]

### Expected behavior

Since the instru

[2022-09-14 02:00] jeremylt commented on #47514
Common mistake by learners.

The label text and the value of the for attribute are two different things. One should be capitalized and the other should not. The instructions are correct.

[2022-09-14 02:21] DylanDevelops commented on #47514
But the instructions are capital? I think you are misinterpreting my suggestion for what the instructions should be as the instructions that are in place currently.

[2022-09-14 02:23] jeremylt commented on #47514
No. Your suggested instructions are incorrect.

[code]

[2022-09-14 02:25] DylanDevelops commented on #47514
I'm talking about the `for="loving"`. the instructions never mention this as being lowercase so I struggled to figure out what was wrong because I typed it as `for="Loving"` and the check failed. I'm saying that it needing to be lowercase is not specified in the instructions. If they are could you point it out because then I am just blind?

[2022-09-14 02:27] jeremylt commented on #47514
What is the value of the id attribute for the input element?

[2022-09-14 02:30] DylanDevelops commented on #47514
Oh, I see now. That's my mistake. I was looking in the wrong place. Should we make this instruction clearer? It could have been just me but when reading that I was thinking that it was just giving an example since the usual format is an explanation and examples are the first part and then the second part is the instructions on what you need to do.

[2022-09-14 02:33] jeremylt commented on #47514
The explanation is the first part and the instructions are the second part though?

[2022-09-14 02:35] DylanDevelops commented on #47514
Yeah but this part:

is in the first part as well and it is technically giving you the instructions of what to do so you can press the check.

[2022-09-14 02:43] jeremylt commented on #47514
I still don't agree.

We don't want to turn this into yet another 'type along without thinking' tutorial.

[2022-09-14 02:45] DylanDevelops commented on #47514
That's true. I'm fine leaving it as is because it was just an honest miss when I was reading those instructions. Thanks for pointing that out!

[2022-09-14 02:50] #47514 closed

[2022-09-14 07:51] ieahleen commented on #46530
If the ampersand is weird, maybe Red Hat Mono? It should have everything - no ligatures, a sensible ampersand and a slashed zero. I don't have a particular preference honestly

[2022-09-14 08:34] ahmadabdolsaheb commented on #46530
Red Hat Mono is a great alternative, but Hack seems to have a larger community behind it.
If you all don't have any objections, I would like to move forward with the slashed Zero Hack.

[2022-09-14 10:09] ojeytonwilliams commented on #47513
It could be that it only has `overflowX` and `overflowY`.

@yamamoto34 if it's possible to open DevTools on your iPad, could you inspect the preview and click on the `<style class="fcc-injected-styles"></style>` element? Then please go to the console and type

`$0.sheet.cssRules[0].style.overflowX` and then `$0.sheet.cssRules[0].style.overflow`

The console *should* show `'clip'` for both, but if

[2022-09-14 11:54] ieahleen commented on #46530
Sure, if there is a slashed zero Hack, that would be pretty good

[2022-09-14 13:00] tom-raley commented on #46497
Is @Hdanzo working on this? If not, I'd love to take a crack at it. Doesn't seem it's been assigned to anyone 😄

[2022-09-14 13:05] Hdanzo commented on #46497
@tom-raley Hello! I am working on this at the moment 😄

[2022-09-14 14:40] yamamoto34 commented on #47513
I couldn’t exactly do what you said, but I was able to go to Settings>Safari>Advanced>Experimental Features and there was an option to turn on “CSS overflow: clip support” and the test passed! Thank you for helping me figure this out!

[2022-09-14 15:30] ojeytonwilliams commented on #47513
Interesting, thanks @yamamoto34!

I'll try creating a quick PR to test the hypothesis.  If you're up for a bit of testing, that would be awesome. No worries if not, though!

[2022-09-14 16:28] bbsmooth commented on #47513
According to [Can I Use](https://caniuse.com/css-overflow), support for `overflow: clip` has only been enabled by default for the latest version of Safari (16.0). So I think a lot of Safari users are going to have trouble with this step for a while. It might be a good idea to accomplish the goal in this step some other way. Or put in a disclaimer for Safari users.

[2022-09-14 16:50] yamamoto34 commented on #47513
Sure! Let me know how I can help.

[2022-09-14 17:05] ojeytonwilliams commented on #47513
@bbsmooth yeah, chances are we'll need to use regex :(

@yamamoto34 if you can, it would help if you can try going to the PR https://github.com/freeCodeCamp/freeCodeCamp/pull/47515 and clicking on the GitPod button. That should let you try that fix.

I'm not optimistic, to be honest, but it would be good to know.

[2022-09-14 20:12] jeremylt commented on #47266
+1 to the suggested wording change from @moT01

[2022-09-14 20:21] Smeagol2069 opened #47517 "Account Settings Keyboard Shortcuts"
### Is your feature request related to a problem? Please describe.

I feel like the settings page does not make it clear what the keyboard shortcuts are.

### Describe the solution you'd like

I think that the setting for keyboard shortcuts should hyperlink to the [guide detailing the keyboard shortcuts](https://forum.freecodecamp.org/t/free-code-camp-hotkeys/59467).

### Describe alternatives you

[2022-09-14 20:32] adilwahla opened #47518 "Add Data Structure & Algorithm's with Interview problems in JAVA"
### Is your feature request related to a problem? Please describe.

Alot of Newbies Like me we want **better DSA & Algorithm in Java** description **with actual Relevant problems** like on Leetcode hard/medium/easy solutions but there are very few shattered resources available I want them to be available in one single repository free for all

### Describe the solution you'd like

I would love to p

[2022-09-14 20:57] bbsmooth commented on #47517
I've been thinking we need something like this for a while now, but not just for the hot keys, but for any additional information that is not easily evident from the UI. I've got few accessibility issues in mind that affect JAWS users. It would be great to have a place to list these issues so that JAWS users could check there first.

[2022-09-15 00:38] Sboonny commented on #47518
freeCodeCamp aims to be self-sufficient, if you want to discuss this more I think contribution section in [our discord](https://discord.gg/WSwjBVQf) is a good start.

P.s

Because you seem passion about helping, and I am worried that you may create steps on your own, I want to warn you about leetcode terms of services. It has this paragraph in it

So be careful using their work.

[2022-09-15 00:38] #47518 closed

[2022-09-15 02:06] naomi-lgbt commented on #47517
I believe that post needs some updates, but yes, linking to it would be beneficial IMHO.

[2022-09-15 04:57] DylanDevelops opened #47519 "Step 4 - Build a Registration Form"
### Describe the Issue

The sentence is worded strangley:

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-forms-by-building-a-registration-form/step-4

### Your code

[code]

### Expected behavior

We should refphrase this sentence to something like:

### Screenshots

![image](https://user-images.githubusercontent.com/48571264/190318084-27bca777-61dd-46

[2022-09-15 07:19] Sembauke commented on #47519
An issue with the  _first timers only_ label is open for contribution by **first time contributors only**. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any

[2022-09-15 07:53] ojeytonwilliams commented on #47509
I think there's enough agreement that no change is necessary, so I'm closing this.

Thanks for the discussion, everyone.

[2022-09-15 07:53] #47509 closed

[2022-09-15 12:42] #45894 closed

[2022-09-15 13:34] Sboonny commented on #45091
If you would like to fix this issue, please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instructions in our guides. Join us in [our chat room](https://discord.gg/PRyKn3Vbay) or [the forum](https://forum.freecodecamp.org/c/contributors/3) if you need help contributing, our moderators will guide you through th

[2022-09-15 13:45] Sboonny opened #47523 "Skip to content Button for accessibility"
### Is your feature request related to a problem? Please describe.

I was trying to implement freeCodeCamp `Skip to content` button to Chapter, but there is none in freeCodeCamp. The button is used in websites like YouTube, this button will provide quality of life to people who access the site daily and give them chance to skip some annoys

### Describe the solution you'd like

Creating a skip to

[2022-09-15 14:17] ppeters0502 commented on #47523
I'd love to work on this issue if it's accepted as a feature request! So a button with a tabindex of 0 above that's hidden unless the user hits tab and then it would display above the navbar? Or would we want it to display within the navbar, like to the left of the search box?

[2022-09-15 14:26] Sboonny commented on #47523
@ppeters0502 good questions 👍, but I will defer to @ahmadabdolsaheb about how it will look, how should it be positioned, and if it's needed?

[2022-09-15 15:21] amitpanwar789 commented on #47519
Can i work in this issue ?

[2022-09-15 15:27] DylanDevelops commented on #47519
Go for it my friend! Just make sure to create a new branch when you make the changes!

[2022-09-15 15:46] blackboldse commented on #16705
First step will be making a function that changes the state variable `input`.
![image](https://user-images.githubusercontent.com/39994467/190446519-4e019e73-9d01-48c8-bea2-edc9f1008b58.png)

Add a `value` attribute which is equal to the `input` property of the component's `state`. Then add an `onChange()` event handler set to the handleChange() method.
![image](https://user-images.githubuserconten

[2022-09-15 16:55] bbsmooth commented on #47523
Having a skip to main content link at the very top of the page is a good idea. I was actually working on this a while ago but got distracted and forgot about it :facepalm:

This should be marked up as a link (`anchor` element) and should be the very first element on the page. I would place it as the first element in the `header`, before the `nav`. It can definitely be hidden by default and then on

[2022-09-15 19:21] bbsmooth commented on #47451
I responded to this in the [associated forum post](https://forum.freecodecamp.org/t/region-role-and-section-learn-accessibility-by-building-a-quiz/550755), but just to summarize here, in the real world, you would probably not add `role="region"` to these `section` elements since giving them an accessible name with `aria-labelledby` automatically gives them the role of "region" and the general rule

[2022-09-15 21:48] moT01 commented on #47517
The [PR that added the toggle for the shortcut keys](https://github.com/freeCodeCamp/freeCodeCamp/pull/45530) added a modal that shows the details of the shortcuts. You can access it by going to a challenge, pressing escape, then `shift + ?`. This is feels very hidden, which isn't terrible - I think we maybe just need a way to let users know that exists and how to see it.

[2022-09-16 02:09] moT01 commented on #47489
I think transform is still the norm, so I feel like I would prefer the lessons stick with teaching that. Although, perhaps we need a deeper conversation on it - what should we teach in a step when a newer property/syntax/whatever is only partially supported or fully supported, but only on newer browsers. Many people use older browsers and a site should try to accommodate as many browsers (users) a

[2022-09-16 02:31] moT01 commented on #47478
Not sure how we would display the tags on the grid, but I like this idea. We added a "notes" tab to the challenges a while back, none of the steps use it so it never shows up. It's a panel with a button next to the preview button to display it.

Just throwing this out there - we could maybe make a dictionary with tag definitions - add the tags to the steps, and put the definitions in the notes. So

[2022-09-16 02:43] moT01 commented on #47464
I'm curious @SaintPeter - is the issue that users want to reset their progress? or just that they want to go through the steps in order again? It's probably a combination of both. I don't really see why someone would want to reset their progress on a block if they can just go through the steps in order again - but I guess I don't need to know. If we reset their progress, do we take away their poin

[2022-09-16 03:50] moT01 commented on #47411
I feel like there's not enough buttons to need a menu button. I would collapse things in a way so that everything shows in a mobile/narrow window - similar to how the search goes below the nav on /learn when you have a narrow window.

Maybe:
| Logo | Donate |
|:-:|:-:|
| Search | Forum |

[2022-09-16 14:47] moT01 opened #47533 "Standardize spacing in challenge files"
### Describe the Issue

In the challenge files, some of the whitespace characters are tabs, others are spaces. It looks fine when you open a challenge:
![Screen Shot 2022-09-16 at 9 43 18 AM](https://user-images.githubusercontent.com/20648924/190666213-ee4ef428-5416-49b3-9f22-5431f7a7c27f.png)

But when you create a forum post:
![Screen Shot 2022-09-16 at 9 42 39 AM](https://user-images.githubuser

[2022-09-16 14:58] moT01 commented on #47452
The above PR fixed the comments in the code snippets. Looks like we just need to update the template to use headings.

Here's what the template currently look like:
![Screen Shot 2022-09-16 at 9 52 31 AM](https://user-images.githubusercontent.com/20648924/190668719-d4e1a186-52e4-4fd6-8059-9f209032aef7.png)

Here's what @alfonsusac's suggestion would look like:
![Screen Shot 2022-09-16 at 9 54 17 A

[2022-09-16 15:52] ojeytonwilliams commented on #47533
I think we should go the other way and standardize to tabs. @bbsmooth pointed out to me that this is better from an a11y perspective, because then it's up to the viewer how much they're indented.

[2022-09-16 15:54] SaintPeter commented on #47464
@moT01 There are two considerations:
1) Being able to progress from challenge to challenge in order
2) Keeping track of where they currently are in the challenges

Imagine that you had "life" happen in the middle of a cert.  You go off for a year or so and want to come back to work on the material again, but you don't remember the stuff you did before. You might have several weeks worth of progres

[2022-09-16 16:04] ojeytonwilliams commented on #47533
Good point. It may not make much difference in this case, because the tab spacing in the editor isn't configurable.

[2022-09-16 16:10] moT01 commented on #47464
The points are array of timestamps, I believe. When you do a challenge you haven't completed before, you get a new timestamp added. I guess we could be fine to just give them another point - as you said, they did do the step again.

That all makes sense. I was looking for easy solution, but I don't think my suggestion would be enough - so I am in favor of adding this. I think we should allow the r

[2022-09-16 16:12] ShaunSHamilton commented on #47452
I am happy with changing them to level 2 headings. _Personally, they look a bit big, but otherwise it makes sense._

However, this does not solve the dedent issue:
<img width="1096" alt="image" src="https://user-images.githubusercontent.com/51722130/190683338-7e8ad012-3935-4f7a-94e2-58e699bfd6c9.png">

[2022-09-16 16:17] ShaunSHamilton commented on #47533
We should not RegEx anything here. We should update the linter to fix this for us. I know we have some linting rules for Markdown. So, I am sure we can extend them to be specific about code blocks within Markdown.

[2022-09-16 17:07] moT01 commented on #47533
If we can define lint rules - I suppose that would be the way to go. Then a tab at the start shouldn't be too difficult. I still prefer the spaces.

[2022-09-16 17:14] alfonsusac commented on #47452
I prefer them at level 3 headings. When I open the forum and and see the template I just want to look at the content as soon as possible lol. This will make it so that the headings does not take much attention but still separated with other content.

[2022-09-16 18:20] bbsmooth commented on #47452
I just want to point out that heading levels should not be determined by looks but rather by their position in the heading hierarchy. If a heading looks out of place or is distracting in some way then this can be fixed with CSS. But the actual heading level number should be appropriate for where it is on the page.

[2022-09-16 19:50] ojeytonwilliams commented on #47533
If it's customizable, we should be able to use this https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.ICodeEditor.html#onDidChangeConfiguration to persist a setting. So, that should work.

[2022-09-17 00:53] naomi-lgbt commented on #47533
We seem to have the rule explicitly turned off:

https://github.com/freeCodeCamp/freeCodeCamp/blob/d6164c6313e51d4537a40e6f73afa48b9969e136/curriculum/challenges/.markdownlint.yaml#L11

[2022-09-17 02:52] luojiyin1987 opened #47535 "in [How to Sign and Validate JSON Web Tokens – JWT Tutorial](https://www.freecodecamp.org/news/how-to-sign-and-validate-json-web-tokens) about "SHA-256 is an Asymmetric Key Cryptography algorithm," is wrong"
### Describe the Issue

SHA 256 is a cryptographic hash algorithm which does not use any key. So there is no question of symmetric/asymmetric. A hash function is any function which maps an arbitrary length input into a fixed length output. A cryptographic hash is a hash algorithm which has the property of pre-image resistance and collision resistance.

but the author say "SHA-256 is an Asymmetric

[2022-09-17 04:28] KravMaguy commented on #46510
and after he deletes a form? you will also want the button to be re-enabled, but not in a case where the form he deletes is not the last form added.

[2022-09-17 05:20] KravMaguy commented on #46510
If he adds an item and doesnt save it then goes to edit another item and saves it, you will still want the add button to be disabled, else you would be allowing him to create two blank forms

[2022-09-17 07:05] ojeytonwilliams commented on #47533
@naomi-lgbt I don't believe that covers spaces inside code blocks.

[2022-09-17 11:44] vishalscodes opened #47540 "Request to add DOM Manipulation Coding Challenges for JavaScript"
### Is your feature request related to a problem? Please describe.

No, my feature request isn't related to a problem.

### Describe the solution you'd like

I want a dedicated section for DOM Manipulation to learn it. I feel it's an important topic to learn but there's no section to learn it here. Kindly add that Learning Section as it would be beneficial for us.

### Describe alternatives you've

[2022-09-17 13:38] moT01 commented on #47533
Some of this conversation feels a little off issue. I found a few files that had some tabs instead of spaces that didn't look good when creating a forum post - seems like it should be a simple fix. It feels a little bit like we are trying to put out a candle with a fire extinguisher. I say we just merge the PR I made to make the files consistent, and we can continue the conversation on some of the

[2022-09-17 15:23] rushikeshadhav commented on #47535
Can I take this up?
Just tell me what to add.

[2022-09-17 20:38] ShaunSHamilton commented on #47540
Hello there,

Thank you for taking the time to open this.

We do have this on the roadmap for the new curriculum. For now, we have the following sections on DOM manipulation:
- https://www.freecodecamp.org/learn/front-end-development-libraries/#jquery
- https://www.freecodecamp.org/learn/front-end-development-libraries/#react
- https://www.freecodecamp.org/learn/data-visualization/#json-apis-and-a

[2022-09-17 20:38] #47540 closed

[2022-09-17 21:30] MikeKochendorfer commented on #47467
Hi @ojeytonwilliams, I would love to give this issue a shot - I reviewed #47463 that you mentioned and I believe I have a good understanding of the problem you bring up here. I just have a clarifying question before jumping into it - you have titled this issue "Multifile editor refactor" but the changes you are proposing here are for the editor.tsx file not the multifile-editor.tsx file under clie

[2022-09-18 14:23] vishalscodes commented on #47540
I had meant DOM Manipulation in JavaScript.

[2022-09-18 14:39] unicmyce opened #47554 "feedback for New Responsive We Design course"
### Describe the Issue

i just noticed that, starting from the [Learn Accessibility by Building a Quiz 1](https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-1) class, i started to see many more codes i haven’t seen before, none of them really introduced, but was just told to write them down or had to research them based on the prompt.

it felt

[2022-09-18 14:47] lucyferu opened #47555 "feedback on Learn Css Variables By Building A City Skyline"
### Describe the Issue

this project assumes you haven't worked with Flexbox yet hence it just givesyou the code without it being a real challenge/test.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-variables-by-building-a-city-skyline

### Your code

[code]

### Expected behavior

just to be given directions about what to do (as per usual) without giv

[2022-09-18 16:52] ShaunSHamilton commented on #47540
https://www.freecodecamp.org/learn/data-visualization/json-apis-and-ajax/handle-click-events-with-javascript-using-the-onclick-property

Also, jQuery is a JavaScript library, and React is a JavaScript framework.

[2022-09-19 03:36] jdwilkin4 commented on #47535
HI @rushikeshadhav !

It looks like this issue has already been assigned.
But there are plenty of open issues marked with a `help wanted` label if you are interested in contributing. 👍

[2022-09-19 08:34] scissorsneedfoodtoo commented on #47535
Thank you for reporting this, @luojiyin1987, and for those helpful details.

I went in and fixed that typo. I also reworked a few paragraphs to make it clear that RSA256 is a combination of the RSA algorithm and the SHA-256 hashing algorithm, which are used together to sign and verify JWTs.

The changes should go live within the next few hours.

Please let us know if you notice other issues in thi

[2022-09-19 08:34] #47535 closed

[2022-09-19 13:41] ojeytonwilliams commented on #47533
Agreed. I've merged the PR, but I still think it would be a nice, if small, a11y improvement to switch to tabs.

[2022-09-19 16:18] antoninojob opened #47562 "Wrong Italian translation on Step 44 of (New) Responsive Web Design module"
**Describe the bug**
It should say "Sopra l'input di testo..." instead of "Sotto l'input di testo..."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Step 44 of (New) Responsive Web Design module in Italian
2. See error on last sentence of the instructions

[2022-09-19 16:22] antoninojob opened #47563 "Wrong Italian translation on Step 44 of (New) Responsive Web Design module"
### Describe the Issue

It should say "Sopra l'input di testo..." instead of "Sotto l'input di testo..."

**To Reproduce**
1. Go to Step 44 of (New) Responsive Web Design module in Italian
2. See error on last sentence of the instructions

### Affected Page

https://www.freecodecamp.org/italian/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-44

### Your code

[code]

[2022-09-19 16:22] #47562 closed

[2022-09-19 19:10] Dario-DC commented on #47563
Translation fixed @ieahleen

[2022-09-19 19:16] ieahleen commented on #47563
Thank you for reporting this! It has been fixed on crowdin, and will be brought to GitHub tomorrow by the automatic translation pipelines

[2022-09-19 19:16] #47563 closed

[2022-09-20 06:50] Nathanael-Whitrow opened #47568 "Learn CSS Variables by Building a City Skyline Step 40 broken"
### Describe the Issue

The test hints suggest applying a background, even though I am applying a background correctly.
After checking the MDN page here: https://developer.mozilla.org/en-US/docs/Web/CSS/background
I see that the 'background' property is shorthand for 'background-color'. As there is already a background-color property the new 'background' property must go after, however this isn't

[2022-09-20 07:12] ojeytonwilliams commented on #47467
Hey @MikeKochendorfer thanks for looking into this.  You've understood this correctly - it is `editor.tsx` that contains the majority of the editor code.  `multifile-editor.tsx` is basically just a wrapper around all the editors.

[2022-09-20 10:26] ahmadabdolsaheb commented on #47523
I agree with all the above :). For the styles, we could have an absolutely positioned div (outside view) and with an anchor element inside. When the anchor element is on focus, we could bring the div into view and placed it under the navigation to the left side of the screen.

[2022-09-20 11:25] Sboonny commented on #47523
With @ahmadabdolsaheb and @bbsmooth comments, I feel comfortable opening this for contribution.

---

If you would like to fix this issue, please make sure you read [our guidelines for contributing](https://contribute.freecodecamp.org/#/), we prioritize contributors following the instructions in our guides. Join us in [our chat room](https://discord.gg/PRyKn3Vbay) or [the forum](https://forum.free

[2022-09-20 14:18] trngapp commented on #47457
What is the update of this issue?

[2022-09-20 14:38] ieahleen commented on #47457
the PR was merged, and the feature is waiting on tests

[2022-09-20 16:10] jeremylt opened #47573 "Cat Photo App 5 - Confusing Hint"
### Describe the Issue

This code will produce the hint

but the actual issue is that the opening `main` tag is in the wrong place.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-5

### Your code

[code]

### Expected behavior

Hint for this code should indicate the problem with the opening `main`tag.

### Screenshots

[2022-09-20 18:21] WitchDevelops opened #47574 "Learn accessibility by building a quiz - step 37"
### Describe the Issue

The instructions say to give a **name** attribute to the  **select** element.

When I do it, code doesn't pass the tests, and the hint says:

For a novice, it is confusing. Are they the same? Probably not. Instructions are not clear here.
![Accessibility quiz step 37](https://user-images.githubusercontent.com/112077394/191334077-39e9ea77-9ad4-4ced-b009-7240869c079d.png)

##

[2022-09-20 18:36] ShaunSHamilton commented on #47574
Hello there,

This is intentional.

In order to link a `label` element to a form element (e.g. `select`), the `label` element needs a `for` attribute with a value matching the form element's `id` attribute.

So, you are instructed to give the `select` element an `id` attribute:

So, in the same way you are not explicitly told to give the `label` element a `for` attribute, you are not explicitly to

[2022-09-20 18:36] #47574 closed

[2022-09-20 18:42] WitchDevelops commented on #47574
Hello,

thank you for the clarification. I thought it was a mistake in
the instructions, but I was wrong. Now I understand :)

all the best,
Domi

On Tue, Sep 20, 2022 at 8:36 PM Shaun Hamilton ***@***.***>
wrote:

[2022-09-20 20:43] diivi commented on #47523
Please assign this issue to me

[2022-09-20 20:45] naomi-lgbt commented on #47523
Heya @diivi,

We typically do not assign issues. Instead, we accept the first pull request that comprehensively solves the issue.

[2022-09-20 23:11] moT01 commented on #47573
Here's [the file for that step.](https://github.com/freeCodeCamp/freeCodeCamp/blob/339c6713d2c4e89e7ebd0375199a8ee3be7b9bd6/curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dc2385ff86c76b9248c6eb7.md)

The third test says "Your `main` element's opening tag should be below the `h1` element. You have them in the wrong order." Seems like it's not check

[2022-09-20 23:50] moT01 commented on #47568
Here's [the file for that step.](https://github.com/freeCodeCamp/freeCodeCamp/blob/5bfd14a4a2d5d2f6f4cf3bee70a883362eb1eaba/curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98f0.md)

This seems quite strange. Here's a table with the output I see:

| Failing code in OP | Passing code in OP |
| - | - |
| <img width="327" alt

[2022-09-21 00:04] moT01 commented on #47555
I'm guessing that these instructions were written at a time when the flexbox project came after this skyline project. Since campers should have already gone through that flexbox project, I think we can change this. We could just make the instructions for this step a little less explicit. Here's one example:

"Center the parts of your building by turning the `.bb1` element into a flexbox parent. Us

[2022-09-21 00:11] moT01 commented on #47554
Thanks for reporting @lucyferu. We try to avoid this - ideally and generally, the first time a new concept/property/element is introduced, we like to give a short explanation on it, what it does, and the syntax, etc.

I don't suppose you know what specific steps you were seeing this on are? or what things you were asked to use that you hadn't been taught yet? If you're willing, a list of these wou

[2022-09-21 00:23] moT01 commented on #47513
I added the help wanted label here. The linked PR above, that is set to close this, isn't quite ready and has some more discussion on what we want to do.

[2022-09-21 00:41] moT01 commented on #47462
I'm pretty impartial here. The font awesome site gives you `i` elements if you want to copy code from their site to use. We are using font awesome, so sticking with `i` seems to make sense. But I don't usually mind allowing for more valid code to pass - their site also says span is a good option (as @bbsmooth mentioned). If someone correctly uses a span tag, which isn't an accident, why not? Now t

[2022-09-21 00:57] naomi-lgbt commented on #47462
I'm also a fan of allowing valid code to pass, but only as long as it follows the challenge instructions.

We have a lot of "set the background to red" instructions that have a few approaches - but this lesson does explicitly ask for the `i` element.

[2022-09-21 00:58] moT01 commented on #47299
Do we want to allow non-authed users to switch to night mode using the menu? I feel like we should. If so, we may not need some of this logic (or, may need more).

[2022-09-21 01:10] moT01 commented on #47057
Throwing a help wanted label in case someone wants to give it a try - seems like an addition with no downside.

[2022-09-21 02:11] naomi-lgbt commented on #47573
I don't think we necessarily need to look at the tag order (I do love to avoid regex).

I just think we need to write some more effective DOM queries. What we have isn't very robust.

[code]

We should be able to:

[code]

[2022-09-21 05:19] IvanoskiHarmonia commented on #47568
In my opinion the invalid case makes sense to me, because having two similar/same styles one after another is not only not desirable but also can lead to a bug that is hard to trace.

Here's what I mean:

[code]

So the hint make absolute sense in this case, the highlighted ```background``` shows you that you need to be using only background because gradient only works with the ```background``` pr

[2022-09-21 06:26] sh1nine96 opened #47576 "Raising test issue for the the YouTube video"
this is the test issue for the YouTube video, please ignore. Thanks

[2022-09-21 06:32] #47576 closed

[2022-09-21 10:07] ShaunSHamilton commented on #47554
If any of the code given in the _Accessibility Quiz_ project has not been introduced yet, I suggest the following:
- Automatically add the code as boilerplate
- Remove the lessons mentioning it
- Add a step mentioning the boilerplate automatically being added

The reason for this is the project is supposed to teach accessibility concepts - not CSS properties that are unrelated.

[2022-09-21 11:38] DHCJS opened #47579 "Learning CSS Variable By Building A City Skyline - Step 15"
### Describe the Issue

Please kindly check below the instruction.

I've confirmed with the admin about this typo issue, but this is my first time using GitHub and pardon me if this comes out not correct.

I think the Add Variable should be --building-color1 without a dash (-) between color and 1 because that is what we coded for the last time.

Looking forward to the admin acknowledging it. Thank

[2022-09-21 11:59] ShaunSHamilton commented on #47579
To clarify, the issue is `--building-color-1` needs to be changed to `--building-color1`:

[code]

[2022-09-21 12:00] ShaunSHamilton commented on #47579
An issue with the _first timers only_ label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contributors docs, please do so here: https://contribute.freecodecamp.org/#/

If you have any issues with contributing, be sure to

[2022-09-21 13:49] DHCJS commented on #47579
Should I close this issue and create a new PR instead?

[2022-09-21 15:05] Harry262530 commented on #47579
--building-color-1 needs to be changed to --building-color1;

[2022-09-21 16:18] #47579 closed

[2022-09-21 19:21] sh1nine96 commented on #47576
Thank you Jeremy. I am trying to learn Open Source. I hope I will be sensible very soon in terms of Open Source. Anyways thanks for the suggestion.

[2022-09-21 21:52] noecaseres commented on #13355
I'm facing the same issue. How have you fixed it?

[2022-09-21 22:36] bbsmooth commented on #46530
I have updated my font web app with a version of Hack with a zero slash. The only difference should be the zero. You can compare the original Hack and the new zero slash version to verify.

[2022-09-21 23:33] DylanDevelops commented on #47573
I can implement these changes. Let me just get this right. Would I replace the previous check with this?

[code]

[2022-09-22 08:54] ieahleen opened #47588 "accessibility quiz step 56 is confusing"
This step is confusing to many people

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-accessibility-by-building-a-quiz/step-56

Specifically the

You write the code required
[code]

and then it says

It uses precedence rules without talking about them.
The end result needs to be that the labels have `text-align: right;` and the inputs `text-align: left` so why are we asking yo

[2022-09-22 08:57] ieahleen commented on #46530
![image](https://user-images.githubusercontent.com/26656284/191704117-d45e41ee-d827-4e95-8082-026a5f490341.png)
 Looking at the various options. the `%` is weird, but it doesn't seem to be so unusual to cause confusion

[2022-09-22 12:57] ShaunSHamilton commented on #47588
I cannot answer why it was done like this.

I suppose we could change the tests and instruction to say:

[2022-09-22 15:46] bbsmooth commented on #46530
Agreed, the percentage sign could be a little better. I put back all of the other fonts so you can compare with the rest. I do think the percentage sign in something like Fira Mono is slightly better. But I also think that the one in Hack is adequate and will probably not cause confusion. Hopefully this isn't enough of a showstopper to prevent us from moving on with the slashed zero Hack?

If you

[2022-09-22 18:05] ieahleen commented on #46530
If it was for me, it would have the green light - @ahmadabdolsaheb ?

[2022-09-22 18:07] ieahleen commented on #47588
and change the tests, right now they specifically test for the new selector to be before the old one, so it would need to be reworked a bit. But I guess we can keep this all as one step, it seems doable.

Create new selector with rulws + add new rule to an already existing selector

Or is it too much?

[2022-09-22 19:25] ShaunSHamilton commented on #47588
I would say it is no more than we currently have. If there is still too much confusion after this change, we can always split it up.

[2022-09-23 02:14] Nathanael-Whitrow commented on #47568
@moT01 Yeah I think an extra test similar to what you suggest would be a good clarification, and is probably the quickest solution. However...
In the next couple of lessons the code gets moved to its own class and the background-color property is removed.
Perhaps there's a learning opportunity here? @IvanoskiHarmonia makes a good point.
Is it teaching bad code style? Should the background-color be

[2022-09-23 02:44] Nathanael-Whitrow commented on #47568
The relevant parts of how these CSS rules are defined to work:

- [linear-gradient()](https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient) returns an image
- [background-color](https://developer.mozilla.org/en-US/docs/Web/CSS/background-color) takes a single color value and is rendered behind any background-image. Its default value is transparent.
- [background](https://devel

[2022-09-23 04:21] IvanoskiHarmonia commented on #47568
@Nathanael-Whitrow I think teaching good practice should be included in the lessons, because having both is actually really hard not only to read but it also creates unexpected results that sometimes might lead you to 20-40 min of fix for really bad practices.

In my opinion and this is just speculations, I think that background-color overwrites something in the browser rules and the assert functi

[2022-09-23 05:54] bbsmooth opened #47597 "Remove bottom buttons in mobile layout for steps in RWD"
### Describe the Issue

Hey, what do you all say to removing the bottom buttons for the steps in the RWD course when in the mobile layout? There are three of them (Help, Reset, and Run) and these functions are already offered in the Step itself. So it's unnecessary duplication and will also free up just a little more screen space at the bottom.

### Affected Page

All steps in RWD course when in t

[2022-09-23 07:30] shootermv opened #47598 "'close' button of success alert, better to be aligned at the right"
### Describe the Issue

![image](https://user-images.githubusercontent.com/1336862/191909431-5212abdf-422f-44a8-bdd8-373a8c68017d.png)
https://www.freecodecamp.org/learn
the `close` button on the alert located at some distance from the right side

### Affected Page

https://www.freecodecamp.org/learn

### Steps to Reproduce

1. Go to '[learn](https://www.freecodecamp.org/learn)'
2. After loggin in

[2022-09-23 10:49] lucyferu commented on #47554
i can definitely try to send you a list, i will need to go back to them and check step by step and i can't do that right now, so bare with me a bit more? 😅

[2022-09-23 10:52] lucyferu commented on #47555
yeah, i think the three steps are cool.
they also sound less explicit than the first one you wrote which i think it's more effective.
i prefer when given directions without the actual code i need to use so i can try and fail and try again until i guess. 😸

[2022-09-23 11:17] divyanshraj0408 commented on #47598
It would also be better if the success message be on the extreme left of the page. Like this:
![Screenshot from 2022-09-23 14-17-21](https://user-images.githubusercontent.com/73312468/191949054-74d75642-102f-4705-9aab-1b9901d0d29f.png)

[2022-09-23 13:45] ahmadabdolsaheb commented on #47299
I think we should allow non-auth users to switch theme.
If users have not set a preference in the localhost and have a theme preference on their record, we could pull that data and set it accordingly if possible. Moving forward we would not want to use the user records for theme switching.

[2022-09-23 13:51] ahmadabdolsaheb commented on #46530
It is a green light for me as well. Thank you @ieahleen for your feedback and thank you @bbsmooth for the font web app.

[2022-09-23 14:10] ahmadabdolsaheb commented on #47597
I agree. That is a move in the right direction for now. The mobile experience need a redesign.
We are moving in the following direction for the mobile app. I am wondering if we could reimplement some of that design's features in learn directly.

https://user-images.githubusercontent.com/4591597/184894491-5a2c5ec9-4cf3-405e-98d7-8d998f27aad3.png

[2022-09-23 14:15] ahmadabdolsaheb commented on #47598
I see your point here. We are intentionally trying to keep the close button close its related content so the users eyes does not have to travel across the viewport to close the flash message.

Ideally we could make the message and the close button stay within a similar container that footer stays on, but for now I think it is a non-issue.

[2022-09-23 15:23] jeremylt opened #47601 "Cat Photo App - Step 56 Common Error"
### Describe the Issue

This is a common error on this Step - we should modify the hint to point out the capitalization

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-56

### Your code

[code]

### Expected behavior

User should receive hint that helps them see the capitalization error

### Screenshots

_No response_

#

[2022-09-23 15:49] hbar1st opened #47602 "catphotoapp step 56 allows incorrect solution to be submitted"
### Describe the Issue

The challenge on step 56 of the cat photo app project allows incorrect code to be submitted as correct.
The code that passes is:
[code]
However the correct solution is:
[code]
Link to the challenge: https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-56

### Affected Page

https://www.freecodecamp.org/learn/2022/responsi

[2022-09-23 16:03] bbsmooth commented on #47601
The current hint is:

"The new `label` element should have a `for` attribute with the value `loving`. You have either omitted the value or have a typo. Remember that attribute values should be surrounded with quotation marks."

Technically, the attribute value doesn't need to be wrapped in quotes since there are no spaces in the value. Also, it will pass if you don't use quotes for the value, so t

[2022-09-23 16:06] jeremylt commented on #47601
I'm not quite sure what the best way forward would be. I just know what most questions for this step on the forum are related to Loving vs loving.

[2022-09-23 16:30] Gerschuk commented on #47513
Hi everyone.
The clip property in css is deprecated. [https://developer.mozilla.org/en-US/docs/Web/CSS/clip](url)
I think this step needing change to use `clip-path` property.
Sorry for my english i'm work in it.
Regards.

[2022-09-23 16:44] ShaunSHamilton commented on #47601
We do have dynamic hints we can use: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/14-responsive-web-design-22/learn-css-transforms-by-building-a-penguin/61a8fe15a6a31306e60d1e89.md

[2022-09-23 16:52] moT01 commented on #47513
Thanks @Gerschuk

Yea, I think we should definitely change this lesson then - the `overflow: hidden` suggestion I made on the PR might be the better way to go for this particular step. I believe we use that `clip` property somewhere else in the curriculum, as I mentioned on the PR - we should maybe find where it is and see if we want to change that one (those ones?), as well.

[2022-09-24 00:10] IvanoskiHarmonia commented on #47257
The issue with the anchor jumps I think is that they might be pointing to multiple directions so it has no idea where to jump and it jumps to the last pointed section, I tried to fix it but nothing works really...

[2022-09-24 03:11] harshPoonia196 commented on #47573
This test says that the <main> tag should be started after the <h1> tag . But I didn't get that where to close the <main> tag .
But i did this and the test has been cleared.

    <h1>CatPhotoApp</h1>
      <main>
    <h2>Cat Photos</h2>

    <p>Click here to view more cat photos.</p>
    </main>

[2022-09-24 05:22] bbsmooth commented on #47597
One caveat to this is that while the Steps in the RWD do not need the buttons in the tool panel at the bottom, the certification projects do need them.

[2022-09-24 07:55] ieahleen opened #47608 "preview in new window disappears if resize the parent window"
### Describe the Issue

The preview-in-new-window is a really nice feature.
But if I want to have the editor parent page and the popped out window on the same screen I need to resize the parent window, and below a certain size, the preview window disappears.

### Affected Page

All with the preview window

### Your code

N/A

### Expected behavior

I would expect to not have the preview window dis

[2022-09-24 08:42] ieahleen commented on #47588
So seed code of next step would need to be
[code]

or should the selector be the same as above?, `.info label, .info input {}`

[2022-09-24 09:11] ojeytonwilliams commented on #47608
cc: @moT01

@ieahleen do you know what width triggers the disappearance?  My guess is that it's going from desktop display to mobile.

[2022-09-24 14:18] moT01 commented on #47608
I noticed this @ieahleen - and yes, that is the problem @ojeytonwilliams. The mobile layout just doesn't include that option at the moment. I wanted to get this feature live, it was a little trickier to add there - I didn't actually try, so it may not be that tricky. I suppose the minimum thing we could do is basically duplicate what we did in the desktop layout - you would probably have to click

[2022-09-24 15:47] ieahleen commented on #47555
@lucyferu that would be awesome if you can!

[2022-09-24 18:43] wojtekxtx commented on #43778
Im affraid that shit is always be shit, no matter what.

TS tries to shitbade dicks like `js`. Dickora !!!!!!!!!!!!!!!!!!

Simple test? Sure:

FUCK

[2022-09-24 18:54] wojtekxtx commented on #43778
This DDD was started on 8 october 2021. Till this day ( almost full year later ) it isnt done? Jesus! Any newbie developer with not so great knowledge would have finished migration long ago. Its plain simple.

And before you say things like: "there are countless files to migrate". True, but what? There are tools that automates migrstion. These tools **works**.

[2022-09-24 19:02] ShaunSHamilton commented on #43778
@wojtekxtx Fun fact: If you read through, this was started [on the 26th of May 2021](https://github.com/freeCodeCamp/freeCodeCamp/issues/42256).

We welcome contribution from yourself. Also I would be interested in seeing an example of these tools.

[2022-09-24 19:06] Sboonny opened #47616 "Lack of a descriptive enough hint in step 40 of building skyline project"
In the hint below it ask to add variable, but it's similar to how we ask colors to be added, which cased confusion to a camper

https://github.com/freeCodeCamp/freeCodeCamp/blob/2e4f1e31be28cd9d8287dd0fdf110aab4af11dde/curriculum/challenges/english/14-responsive-web-design-22/learn-css-variables-by-building-a-city-skyline/5d822fd413a79914d39e98f0.md#L35

I propose, applying the same approach in ie

[2022-09-24 20:47] wojtekxtx commented on #43778
Dont be lazy. Use Google.

I took date from header section of this issue........ if this was started earlier, than its even worse than I previously wrote.

[2022-09-25 00:33] bradtaniguchi commented on #43778
???

Then why comment on this issue?🤔

[2022-09-25 08:41] ieahleen commented on #47616
For that you need to use `assert.equal`.
First argument of `assert.equal` is the found value, and can be referenced with `--fcc-actual--`.
Second argument of `assert.equal` is the expected value, and can be referenced with `--fcc-expected--` in the hint text.

[2022-09-25 09:08] wojtekxtx commented on #43778
@bradtaniguchi By touching I meant: **developing code** for this wannabe serious project.

[2022-09-25 09:12] #47601 closed

[2022-09-25 09:16] Sboonny commented on #47616
I thought `assert.equal` will trim the spaces, but as showing in the image below it doesn't. That looks like a nightmare, so let's ignore my original suggestion

![image](https://user-images.githubusercontent.com/88248797/192136451-96dce0ea-9b93-4e8d-91bc-0beab501de18.png)

the camper mentioned the lack of `var` keyword, what about adding in the hints something like

[2022-09-25 19:16] ieahleen commented on #46173
I see the https://github.com/freeCodeCamp/freeCodeCamp/labels/status%3A%20on%20the%20roadmap label, there is someone already working on these?

[2022-09-25 19:55] bradtaniguchi commented on #43778
Do you have any examples of where freeCodeCamp is a "wannabe serious" project in regards to the current TypeScript migration?

I think having some clear code examples and advice on how to improve the TS migration wouldn't be too difficult for a pro such as yourself :)

[2022-09-25 21:22] wojtekxtx commented on #43778
@bradtaniguchi

Oh hell yeah; todays date - this issue creation date = (almost) a year. Year spent on what? Exactly thats my point. You ( project as a whole ) need one year for something that could easily be done in........ 2 weeks max!

Irony is that this is project that aims in helping people learning to code properly ( according tol standards etc ) and its members needs close to a year just to

[2022-09-25 21:27] jeremylt opened #47622 "Falsy Bouncer"
### Describe the Issue

The instructions imply that the original array must be modified, while we are fine with a non-mutating approach.

### Affected Page

https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/basic-algorithm-scripting/falsy-bouncer

### Expected behavior

Clearer instructions.

### Screenshots

_No response_

### System

All

### Additional context

_No re

[2022-09-25 21:57] bradtaniguchi commented on #43778
I believe all tasks have been accomplished by unpaid volunteers that devote their time and expertise. The fact it's getting done at all is really awesome IMO. It's not exactly easy to migrate over to a large and expansive codebase such as freeCodeCamp to TS, when there's "multiple hands in the pot" all at once. Getting it done in any form or fashion will be a big win.

I thought it was just code c

[2022-09-25 22:17] ShaunSHamilton commented on #47622
Would it be ok to just:

[2022-09-26 04:59] #47573 closed

[2022-09-26 08:48] wojtekxtx commented on #43778
@bradtaniguchi

Once you get proper toolset, Its a breeze. Im not saying that this is obstacle-free, ofc one or two can popup out-of-the-blue (normal thing), but overall its rather smooth.
Have done many migrations of even larger codebases in my life. All succesful.  From my experience, codebase of size of freecodecamp takes about 2 months from planning to completion. Some 75% of this 2 month's is

[2022-09-26 10:08] #47257 closed

[2022-09-26 10:15] ahmadabdolsaheb commented on #47257
@IvanoskiHarmonia, thank you for digging into this issue. The latest merged pr addresses issue by styling the elements with .anchor class. As a result I am closing this issue.

[2022-09-26 13:29] sidemt opened #47626 "Touching settings other than Campfire Mode triggers the sound"
### Describe the Issue

When Campfire Mode is on, actions like opening the Settings page, touching any fields under "Account Settings for [username]", or closing the flash message banner triggers the Campfire Mode sound.

I'm note sure which ones are expected sounds, but making sounds on unfocusing the fields or closing the banner feels too much to me.

### Affected Page

https://www.freecodecamp.

[2022-09-26 13:43] ieahleen commented on #47452
I think that with #47578 this can be considered fixed

[2022-09-26 14:14] ShaunSHamilton commented on #47626
All of these sounds are expected and configured here: https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/src/utils/tone/index.ts#L8

[2022-09-26 15:12] moT01 commented on #40895
I left the archived repos off the initial list because, I believe, you have to unarchive them to rename the branch. Not too difficult, but I didn't think it was worth it. Your call.

[2022-09-26 15:38] ShaunSHamilton commented on #40895
- The `CurriculumExpansion` repo should just need the currently open PRs to retarget.
- The `design-style-guide` repo should be easy, because it is deployed with GitHub Pages (just change  the default in the settings)
- Should the `videos-translation` repo be archived?
- `fcc-express-bground-pkg` might be easy, because we "recently" published it as an [NPM package](https://www.npmjs.com/package/fc

[2022-09-26 15:43] bbsmooth opened #47627 "Cat Photo App Step 44 allows multiple type attributes"
### Describe the Issue

Step 44 will pass if the new radio `input` is given multiple `type` attributes.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-app/step-44

### Your code

This will pass:

[code]

### Expected behavior

Step should fail if there is more than one `type` attribute, even if they all have the value `radio`.

[2022-09-26 15:51] ojeytonwilliams commented on #40895
@raisedadead for https://github.com/freecodecamp/client-config I believe this can be changed unless you're doing something fancy in the new devops approach.  Right now we just clone the repo when needed.

[2022-09-26 16:21] jeremylt commented on #47622
That would mean reversing output the test suite, but I think it would result in covering the same ideas.

[2022-09-26 16:44] wojtekxtx commented on #47626
@ShaunSHamilton
Fuck FCC

[2022-09-26 16:46] wojtekxtx commented on #47626
Map PIS !!!!!!!!!!!!!!!!!!!!!!!!

Fuck THIS FUCKED UP SHIT

[2022-09-26 18:15] bbsmooth opened #47629 "Cafe Menu Steps 13: Instructions are not clear"
### Describe the Issue

In step 13 the tests will fail if the two new selectors aren't added to the existing `style` element but this is not made clear in the instructions. If the user adds the selectors in a new `style` element then the hint they receive is not accurate.

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-basic-css-by-building-a-cafe-menu/step-

[2022-09-26 18:20] ppeters0502 commented on #47627
I was playing around with this issue, and was able to replicate it locally. Looks like the .getAttribute() JS function only returns the first attribute in an HTML element, so as long as the first "type" attribute is radio it passes the tests.
I was able to fix this with a regex check that looks explicitly for a type="radio" and checks for any additional "type" text in the input. I feel like this c

[2022-09-26 19:23] bbsmooth commented on #47629
I guess I should offer a suggestion for the new wording on the instructions.

[2022-09-26 20:03] ShaunSHamilton commented on #47627
At the end of the day, the output is correct - parsed HTML is valid.

[2022-09-26 20:19] bbsmooth commented on #47627
According to the [13.1.2.3 Attributes](https://html.spec.whatwg.org/multipage/syntax.html#attributes-2):

"There must never be two or more attributes on the same start tag whose names are an [ASCII case-insensitive](https://infra.spec.whatwg.org/#ascii-case-insensitive) match for each other."

[2022-09-26 20:20] jeremylt opened #47631 "Cat Photo App - Revenge of Step 12"
### Describe the Issue

Step 12 continues to plague users. I would be really good if we can get them to understand "copy-paste the previous anchor element into this new spot" without saying that explicitly.

(Follow-up from discussion on Discord with @bbsmooth @ieahleen @hbar1st)

### Affected Page

https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-by-building-a-cat-photo-ap

[2022-09-26 21:06] jeremylt commented on #47631
It also might help to change Step 11 to put different text inside of the first anchor element so they are easier to tell apart?

[2022-09-26 22:20] hbar1st commented on #47631
My suggestion for the second paragraph:

Now, turn the words `cat photos` inside of your `p` element into a new link by placing these words inside of a new anchor element.

Use `https://freecatphotoapp.com` as the href value.

[2022-09-26 22:41] hbar1st commented on #47304
I am middle-aged and need bifocals. The text of the instructions is also too small for me. I end up zooming in with the browser settings especially on instructions that have tiny one or two character commands. (Is it an l or an I ?)
Needs to be one font size larger in my estimation.

[2022-09-27 00:02] jeremylt commented on #47631
Typically we put the instructions all on one paragraph.

[2022-09-27 00:55] hbar1st commented on #47631
Like this?

Now, turn the words cat photos inside of your p element into a new link by placing these words inside of a new anchor element. Use https://freecatphotoapp.com as the value of the href.

[2022-09-27 00:58] jeremylt commented on #47631
Perhaps

Now, turn the words cat photos inside of your p element into a new link by placing these words inside of a new anchor element. Add a href attribute with the value of https://freecatphotoapp.com to this anchor element.

If we go the route of being super blatant.

[2022-09-27 01:03] hbar1st commented on #47631
I haven't had trouble with people saying they don't know what to put in the href.
Just trouble with people missing the whole point of this exercise (last two words only become links) And people deleting the rest of the text plus people adding extra text links of cat photos.
(I don't care about the small mistakes they do just the big misunderstandings that take a long time to fix, and/or that make

[2022-09-27 01:04] jeremylt commented on #47631
So we don't need to be explicit about the href?

Back to

[2022-09-27 01:06] hbar1st commented on #47631
I feel the placement of the href piece in the middle is hiding the intent (which is to put an anchor around the words in question) . That's why I wanted to move it down.

[2022-09-27 01:16] jeremylt commented on #47631
Ah. So assuming they don't know what 'link' means?

I don't love that wording. I think that version is worse but I'm not sure how to eliminate the idea of 'link'.

[2022-09-27 01:19] bbsmooth commented on #47631
My first try:

I do agree that we should use different words for step 11, so replace `cat photos` in the first paragraph with whatever words we ultimately decide on for that step.

I think that people are not making the connection from the previous steps that they have just turned a group of words into a link, so I think we should reiterate this at the beginning of the first paragraph. I think thi

[2022-09-27 01:26] jeremylt commented on #47631
We have had trouble with (a) leading to (a href=...)

Perhaps

Could be

I agree that re-iterating anchor=a is good but I'm not sure the best way to do it

[2022-09-27 01:29] bbsmooth commented on #47631
That works for me. Probably the better choice since we use this verbiage in step 11.

[2022-09-27 01:35] bbsmooth commented on #47631
Ya, it's unfortunate that everyone calls these links but yet we use the `anchor` element to create them and to compound that confusion, there is an actual `link` element :smile: In steps 10 and 11 we use "anchor (`a`) element" so I think for consistency's sake we should do the same in this step. Perhaps we only need to do it in the first paragraph and we can refer to them as "anchor tags" or "anch

[2022-09-27 06:47] #46510 closed

[2022-09-27 06:54] raisedadead commented on #40895
I have renamed this and re-installed the component on the forum. Yes - this can be archived. We probably never need to change anything in the code. Thanks for looking this up.

I have a job or two on the housekeeping instance and pipelines that I need to check but you are right. Thanks for looking this up. I will take care of it.

[2022-09-27 07:01] hbar1st commented on #47631
Not at all. I am only saying the URL is interrupting the sentence or lessening the directness/succinctness of the sentence when it is in the middle.

Compare these two first sentences:

vs.

(In the first sentence we say "new link by" while in the second "new link to")

The "to" bit is better left to the end (as per my last suggestion) so as to keep the emphasis on the "how" of it. (How should the

[2022-09-27 07:03] raisedadead commented on #40895
Just a few more to go...

[2022-09-27 09:18] imohsinal7 opened #47634 "Testing a Issue"
### Describe the Issue

Testing a issue

### Affected Page

UI Main

### Your code

Testing Code

### Expected behavior

Not Working

### Screenshots

_No response_

### System

- Device: [e.g. iPhone 6, Laptop]
- OS: [e.g. iOS 14, Windows 10, Ubuntu 20.04]
- Browser: [e.g. Chrome, Safari]
- Version: [e.g. 22]

### Additional context

_No response_

[2022-09-27 09:31] ieahleen commented on #46530
decided that, are you going to work on it yourself @ahmadabdolsaheb ?

[2022-09-27 09:32] ojeytonwilliams commented on #47634
Hi, please do not create issues PRs - they create noise for repository maintainers.  If you want to experiment, the best approach is to do so on your own fork.

[2022-09-27 09:32] #47634 closed

[2022-09-27 09:34] imohsinal7 commented on #47634
Hi
Okay sorry for that.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Oliver Eyton-Williams ***@***.***>
Sent: Tuesday, September 27, 2022 2:32:51 PM
To: freeCodeCamp/freeCodeCamp ***@***.***>
Cc: imohsinal7 ***@***.***>; Author ***@***.***>
Subject: Re: [freeCodeCamp/freeCodeCamp] Testing a Issue (Issue #47634)

Hi, please do not create issues PRs - they creat

[2022-09-27 10:08] hackathon19 opened #47636 "Hhn mm"
### Is your feature request related to a problem? Please describe.

J7kngnmmnbhn hhn

### Describe the solution you'd like

Jjjjjjmmbbhn hj bh

### Describe alternatives you've considered

Jjjnbyjnbjjmn ujjnghjn

### Additional context

_No response_

[2022-09-27 10:16] #47636 closed

[2022-09-27 11:54] hackathon19 opened #47637 "Kjnjikn"
### Describe the Issue

Jjjnunnbhhh

### Affected Page

Jjhhnn

### Steps to Reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### Expected behavior

Ijjjnnbjnnn

### Screenshots

Kkmnnjmnn

### System

- Device: [e.g. iPhone 6, Laptop]
- OS: [e.g. iOS 14, Windows 10, Ubuntu 20.04]
- Browser: [e.g. Chrome, Safari]
- Version: [e.g. 22]

### Additional context

Jjnnjn

[2022-09-27 12:24] jeremylt commented on #47631
I am still not sure that is needed.

We don't have to get this perfect and make this completly simple all in one shot. I think we the should give the learners a chance to synthesize the concepts 'anchor element with the href attribute = value' into 'link to value'.

I think this provides a better explanation of what happened than we currently have and gives the idea that we want them to do it agai

[2022-09-27 12:30] ShaunSHamilton commented on #47637
Please do not open invalid issues/PRs. This is creating noise, and potentially disturbing ~8500 developers who watch this repo.

[2022-09-27 12:30] #47637 closed

[2022-09-27 13:16] hbar1st opened #47642 "Step 44 NRWD Building Registration Form accepts CSS with a missing semi-colon"
### Describe the Issue

the NRWD Building Registration Form curriculum step 44 accepts a solution that is missing a semi-colon.
The solution given to it is:
[code]
When I put this code in to try it, i was expecting it to fail as it had a missing semi-colon at the end of the last style however, it passed the test and I was allowed to proceed to the next step.

Link to forum question for ref: https:

[2022-09-27 13:16] hackathon19 commented on #47637
Can you tell me how to contribute then i am beginner. I wants to contribute ?

[2022-09-27 13:25] ShaunSHamilton commented on #47637
@hackathon19

An issue with the https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted or https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not rea

[2022-09-27 13:30] ShaunSHamilton commented on #47642
This is valid CSS. The final CSS declaration in a rule does not need the semi-colon: https://developer.mozilla.org/en-US/docs/Web/CSS/Syntax#css_declaration_blocks

[2022-09-27 13:30] #47642 closed

[2022-09-27 15:05] hackathon19 commented on #47637
Can i create my own label with issue like beginner ?

[2022-09-27 15:29] ShaunSHamilton commented on #47637
No. Members of the freeCodeCamp organisation triage issues, and add the labels. Please read the above linked contributors docs.

[2022-09-27 16:07] hackathon19 commented on #47637
How to become member of freecodecamp organisation?

[2022-09-27 16:12] hackathon19 commented on #47637
Can i get job if i contribue?

[2022-09-27 16:28] byronkenoly commented on #47554
Everything has a bit of a learning curve. Just supplement the course content with books that expound more on the matter. You'll learn a great deal via your own research.

[2022-09-27 18:08] ShaunSHamilton commented on #47637
@hackathon19 Please make use of our dedicated channels to have this sort of discussion: [contributors channel](https://discord.com/channels/692816967895220344/715074489422970962), or on the [contributors sub-forum](https://forum.freecodecamp.org/c/contributors/3)

[2022-09-27 18:20] a-singh09 commented on #47456
@dhairyapatel1506 How to find in which folder we have to edit the HTML file?

[2022-09-28 02:46] tom-raley commented on #47588
I'd be happy to take this on!

[2022-09-28 06:15] #47626 closed

[2022-09-28 06:38] ojeytonwilliams opened #47646 "The user's code should be transformed alongside the injected code"
Since the head, contents and tail are evaluated together, they should be Babelified together.

Mostly this is not a problem, but there are edge cases where it breaks.  For example https://github.com/freeCodeCamp/freeCodeCamp/blob/main/curriculum/challenges/english/02-javascript-algorithms-and-data-structures/intermediate-algorithm-scripting/make-a-person.md tries to reassign a `const`.  This shoul

[2022-09-28 08:49] ieahleen commented on #47588
@tom-raley go for it
Issues with the https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted label are up fpr grabs, the first comprehensive PR received is reviewed. Issues are not assigned.

[2022-09-28 09:06] josamontiel commented on #47411
@Sembauke I'm on iOS unfortunately. I do have a pixel that I use from time to time but my daily is an iPhone.

@moT01 I agree, when we're on the news page, we really just wanna look up articles or even by categories like #react or #java etc.

[2022-09-28 13:25] ahmadabdolsaheb commented on #46674
@Hdanzo, yes please. Assignment is not needed.

[2022-09-28 13:59] moT01 opened #47649 "Add tests for navigating language menu with keyboard"
### Is your feature request related to a problem? Please describe.

See [comment 1](https://github.com/freeCodeCamp/freeCodeCamp/pull/46644#pullrequestreview-1067444828)

and [comment 2](https://github.com/freeCodeCamp/freeCodeCamp/pull/46644#issuecomment-1251502538)

[2022-09-28 14:10] ahmadabdolsaheb commented on #46530
Some pointers for the interested contributors:
The new fonts should be downloaded and added to the repo.
Every instance of roboto mono should be replaced with hack.

Note: The above-mentioned customized hack repo has a different font format that roboto mono in our repository. Please  evaluate both format and choose the more compatible/faster version.

[2022-09-28 14:31] ahmadabdolsaheb commented on #46637
The block list needs to be updated (freecodecamp) for learn [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/config/constants.js#L73)

The reserved usernames for the forum has been updated accordingly.

[2022-09-28 14:35] ShaunSHamilton commented on #46674
An issue with the https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted or https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contribu

[2022-09-28 14:35] ahmadabdolsaheb commented on #46646
The meta files has been updated. @ieahleen could you update the docs accordingly so we have some guidance for the next update.

[2022-09-28 14:44] ahmadabdolsaheb commented on #46674
@Hdanzo, this issue seems to be more involved than I expected, so it would be better if a team member with access work on it.

@raisedadead could you please provide some guidance on the next steps?

[2022-09-28 14:54] raisedadead commented on #46674
This issue needs more elaborate description before anyone can work on it. I will try and summarize this before opening up for contributions.

[2022-09-28 15:32] Dorfieeee commented on #47631
I can relate to this. The words `cat photos` and link `https://freecatphotoapp.com` being there already might make them question the given task. They will see those two *key words* there already and completely ignore the fact they should change something inside the `<p>` element.
They may be also thinking: "They don't expect me just to copy-paste it, right?" and get stuck there.

[2022-09-28 15:35] Aman123lug commented on #47649
@moT01  assign me i can work

[2022-09-28 15:41] moT01 commented on #47649
We don't typically assign issues @Aman123lug - the first PR that fixes the issue will be accepted. Feel free to work on it and create a PR 👍

[2022-09-28 16:16] moT01 opened #47652 "Reorder showCert checks"
### Describe the Issue

We want to move the `user.name` check [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/api-server/src/server/boot/certificate.js#L396) to below the `isLocked` check right below it. See [comment](https://github.com/freeCodeCamp/freeCodeCamp/pull/45562#pullrequestreview-1123751506)

[2022-09-28 16:23] moT01 opened #47653 "Don't update privacy settings until server has responded"
### Describe the Issue

I believe what is happening here is that we are saving privacy (and other?) settings to redux before they get saved in the database.

### Affected Page

https://www.freecodecamp.org/settings

### Steps to Reproduce

1. Go to your settings page: https://www.freecodecamp.org/settings
1. Change one of the privacy settings to public or private - **don't save the change** - reme

[2022-09-28 18:20] Hdanzo commented on #46674
Well, I am kind of confused now. Would this be open for contributing at some point then or is it only for team members?
Since I already worked on it and have something that I think might work, should I just stand by for any requirement changes?

[2022-09-28 18:29] raisedadead commented on #46674
@Hdanzo

Sorry about the confusion.

This issue came up in a meeting earlier today, and we figured that the issue goes deeper than the OP. So while you can still work on this, it will probably need more implementation (not just changing code in the repository, but more stuff elsewhere) to completely address what Google is indexing.

I am still in the process of analyzing the whole setup.

That sai

[2022-09-28 18:30] #42621 closed

[2022-09-28 19:35] naomi-lgbt commented on #46646
https://contribute.freecodecamp.org/#/language-lead-handbook?id=how-to-update-the-site-meta-data We do have this in our docs already.

[2022-09-28 20:06] nayabatir1 commented on #47622
Hi,
I would like to work on this issue.

[2022-09-28 20:35] jeremylt commented on #47622
We don't assign issues. We accept the first complete PR that addresses the issue adequately.

I'm ready to open this up to contributions, but let's let other maintainers chime in here.

[2022-09-28 21:05] QuincyLarson commented on #46697
@ahmadabdolsaheb I am fine with experimenting with having the menu button on /news. I suspect very few people use that donate button on /news, and it might be better served as a "sign in" button. I recommend you first talk with @oriooctopus about some of his ideas for the menu and language selection button first, so we can roll this out consistently across both the forum, /news, and /learn.

[2022-09-28 23:51] moT01 opened #47655 "Remove user data when set to private"
### Is your feature request related to a problem? Please describe.

Someone made a suggestion recently that kind of got lost, it was something like this... We want to remove potentially sensitive information from the database when campers set that information to private. For example, someone's name I suppose. When they set it to private, there's an expectation that nobody can see it - we still sto

[2022-09-29 01:18] bbsmooth commented on #46530
The font formats I used are woff and woff2, which I believe are the recommended formats for the web nowadays and the most popular (except for variable fonts, which I believe still use ttf). They are super compressed formats and thus also faster to load. Just in case anyone missed it above, a link to a zip file with the woff/woff2 files for Hack font with the added slashed zero:

[woff/woff2 font f

[2022-09-29 05:50] #46637 closed

[2022-09-29 10:53] Aman123lug commented on #47655
@moT01 i can work on it

[2022-09-29 11:35] ojeytonwilliams commented on #47655
@moT01 this makes a lot of sense. There was one issue, though.

What do we do with currently private stuff?  We can't (to my knowledge) delete people's data without their consent, so we'd need a way to handle the fact that this may be part of their user object. Both on the api and the client.

[2022-09-29 14:09] Sboonny opened #47660 "Typo in Step 121 of Create RPG game project"
### Describe the Issue

There is a typo in Step 121, the word `to` is missing in the sentence.

Here is the typo

https://github.com/freeCodeCamp/freeCodeCamp/blob/f80e34a9509f3208c01524ea25dd573fcacbe760/curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a8e49f4df7af5ae2d7a616.md#L14

it should be

### Additional

[2022-09-29 14:12] Shivashish-rwt commented on #47660
I would love to fix the issue can u assign it to me??

[2022-09-29 14:16] utkershrajvenshi commented on #47660
I would like to fix this issue as part of Hacktoberfest '22. Could you please assign it to me?

[2022-09-29 14:17] utkershrajvenshi commented on #47660
@Sboonny if I open PR right now, will it count for Hacktoberfest?

[2022-09-29 14:18] Sboonny commented on #47660
don't think so, it shouldn't have started yet

[2022-09-29 14:19] utkershrajvenshi commented on #47660
Yes, it has not. Anyways I will fix it..

[2022-09-29 14:22] Sboonny opened #47661 "Turn a quote into code block in Create RPG game project"
The quote block is harming translation, because it shows as a translatable string while it shouldn't be.

Here is the file

https://github.com/freeCodeCamp/freeCodeCamp/blob/f80e34a9509f3208c01524ea25dd573fcacbe760/curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62a2401b9842721796b72850.md#L12

this quotes should

[2022-09-29 14:33] Anuran12 commented on #47661
Hi @Sboonny  can you assign me.

But you have to guide me because i am newbie in open source. : )

[2022-09-29 14:45] Sboonny commented on #47661
we don't give assignment, feel free to open PR, after you have read our contribution guidelines

[2022-09-29 14:50] utkershrajvenshi commented on #47660
@Sboonny getting this error while modifying the .md file. Suggestions?
`ERROR

fcc-replace-challenge
  attempting to replace 15-javascript-algorithms-and-data-structures-22/learn-bas
ic-javascript-by-building-a-role-playing-game/62a8e49f4df7af5ae2d7a616.md

  2022/javascript-algorithms-and-data-structures is not a valid superblock`

[2022-09-29 15:13] ieahleen commented on #47660
You changed only this file?

To see this part of the curriculum you need the `.env` file, you need to set upcoming changes to `true`.
This line:
https://github.com/freeCodeCamp/freeCodeCamp/blob/f80e34a9509f3208c01524ea25dd573fcacbe760/sample.env#L60
to true

You will also need to rebuild the client — you may be good to go with `npm run clean-and-develop`

[2022-09-29 15:22] utkershrajvenshi commented on #47660
Ok. Will incorporate this suggestion and get back to you. Thanks!

[2022-09-29 15:29] utkershrajvenshi commented on #47660
Makes sense. I will interact in contributors chatroom at Discord in case of more setbacks.

[2022-09-29 15:44] #47653 closed

[2022-09-29 15:44] ieahleen commented on #47661
@Anuran12 the contributing docs says a lot — for more help reach out in forum or discord as said above

[2022-09-29 16:06] ieahleen opened #47663 "dev environment: docs and challenge editor open on same port"
The documentation opens on port 3200

The challenge editor uses ports 3200/3300

There is a clash there. It may need to move one of the two

[2022-09-29 16:18] moT01 commented on #47655
We currently just keep the info in the database. e.g. Fill in your info on settings - name, location, etc - set your profile to private - the info still shows up in all those forms from the database. Note that campers do have the option to delete the data themselves if they don't want it in the database.

I don't like randomly deleting campers info either - I wouldn't like it.

Trying to think thr

[2022-09-29 17:02] ppeters0502 commented on #47493
Is this issue now open for help? I wasn't sure what additional approval was needed, and I would love to get my first contribution on freeCodeCamp!

[2022-09-29 17:20] DylanDevelops commented on #47493
I would argue that this is a change worth making because people don't always read the documentation thoroughly. I know that this is on them at the end of the day, but I think if we can add a short disclaimer that could help someone, even if it's one person, it's a change worth making.

This issue has not been active for about 20 days now so I would say if you agree, create a pull request and make

[2022-09-29 17:21] DylanDevelops commented on #47663
What do we have to change to fix this issue?

[2022-09-29 17:37] naomi-lgbt commented on #47663
Heya @DylanDevelops,

The quickest fix would probably be to change this line:

https://github.com/freeCodeCamp/freeCodeCamp/blob/2c4b0adf4163bd01ce7ae2aeb6bd5649dc557d37/package.json#L68

Replacing 3200 with 3400.

[2022-09-29 17:39] ieahleen commented on #47663
And here! So the documentation is updated together
https://github.com/freeCodeCamp/freeCodeCamp/blob/2c4b0adf4163bd01ce7ae2aeb6bd5649dc557d37/docs/how-to-work-on-the-docs-theme.md?plain=1#L79

[2022-09-29 17:58] DylanDevelops commented on #47663
I can make this change if you wouldn't mind!

[2022-09-29 18:02] naomi-lgbt commented on #47663
Thanks for your interest in contributing! You've already contributed to our codebase, however - we prefer to leave https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only issues for folks who are new to our codebase so they have a chance to familiarise themselves.

[2022-09-29 18:03] DylanDevelops commented on #47663
that's fair! I guess now I know how to do it so it wouldn't make sense for me to contribute.

[2022-09-29 18:27] nayabatir1 commented on #47622
Can tell me what exactly needs to done here. As per task description `remove falsy values`, but above comments says return falsy values

[2022-09-29 18:35] jeremylt commented on #47622
We still have not decided on a final path forward and opened this up for contribution yet. Please be patient.

[2022-09-29 18:42] #47652 closed

[2022-09-29 18:48] #47631 closed

[2022-09-29 18:57] ieahleen opened #47669 "Update docs following latest PR changes"
And here! So the documentation is updated together
https://github.com/freeCodeCamp/freeCodeCamp/blob/2c4b0adf4163bd01ce7ae2aeb6bd5649dc557d37/docs/how-to-work-on-the-docs-theme.md?plain=1#L79

_Originally posted by @ieahleen in https://github.com/freeCodeCamp/freeCodeCamp/issues/47663#issuecomment-1262600581_

Following #47665 the docs need to be updated

[2022-09-29 18:58] ieahleen commented on #47669
I mean, the documentation should reflect the 3200->3400 change made in #47665.

[2022-09-29 19:02] ShaunSHamilton commented on #47493
An issue with the https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted or https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only label is open for contribution. The first comprehensive PR created will be reviewed and merged. We typically do not assign issues to anyone other than long-time contributors.

If you would like to contribute, and have not read the contribu

[2022-09-29 19:05] naomi-lgbt commented on #47622
I feel like we should also change this to expect a non-mutating solution only.

[2022-09-29 20:01] #47669 closed

[2022-09-29 22:15] DylanDevelops commented on #47661
Read through this and if you have any questions ask away! https://contribute.freecodecamp.org/#/

[2022-09-30 04:10] Sboonny commented on #47663
Reopened because the docs section still need to be updated

If you're going to update the docs, update the English file only

[2022-09-30 04:26] ShrishPande commented on #47663
is this issue still open

[2022-09-30 04:34] ShrishPande commented on #47661
Is this issue open
can you guide me a little it's my first time?

[2022-09-30 04:52] Sboonny commented on #47663
yes @ShrishPande, the docs [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/2c4b0adf4163bd01ce7ae2aeb6bd5649dc557d37/docs/how-to-work-on-the-docs-theme.md?plain=1#L79) tells people to expect port:3200, while we are using port:3400, which may cause confusion. opening a pull request to change the docs will solve this issue for good

[2022-09-30 04:55] Sboonny commented on #47661
There is a pull request addressing the change, so there is no need to open a new pull request.

You can check out [article about markdown](https://www.freecodecamp.org/news/markdown-cheat-sheet/), that issues was about switching to different markdown format

[2022-09-30 04:58] ShrishPande commented on #47663
@Sboonny do you mind checking it again ,because I think it has already been edited
its showing 3400 now

[2022-09-30 05:02] Sboonny commented on #47663
@ShrishPande no worries, can you link the change because the documents is talking about port:3200

Here is the docs, that I am talking about

https://github.com/freeCodeCamp/freeCodeCamp/blob/2c4b0adf4163bd01ce7ae2aeb6bd5649dc557d37/docs/how-to-work-on-the-docs-theme.md?plain=1#L79

[2022-09-30 05:06] #47661 closed

[2022-09-30 05:06] ShrishPande commented on #47663
@Sboonny I was talking about the main branch ,the link you sent just now ,it is not main branch

[2022-09-30 05:08] ShrishPande commented on #47663
@Sboonny so do I have to make changes in this branch
??

[2022-09-30 05:12] Sboonny commented on #47663
Nope, I was simply confused

https://github.com/freeCodeCamp/freeCodeCamp/blob/85b5254c48cb228b7604ec89804188b79e5fd390/docs/how-to-work-on-the-docs-theme.md#L79

[2022-09-30 05:12] #47663 closed

[2022-09-30 07:39] #46497 closed

[2022-09-30 08:15] #47493 closed

[2022-09-30 09:45] ieahleen commented on #46675
I have opened #47675 with just the solution updated. This one has also the last step included, which https://github.com/freeCodeCamp/freeCodeCamp/issues/46675#issuecomment-1166604399 didn't.

Could someone check it a moment? If it passes general scrutiny, I will work on adjusing all previous steps to that.

[2022-09-30 11:15] ahmadabdolsaheb commented on #46697
Related https://github.com/freeCodeCamp/freeCodeCamp/issues/47411

[2022-09-30 11:17] ahmadabdolsaheb commented on #46646
@naomi-lgbt, Thanks for letting me know. In that case, I will proceed with closing this issue.
@ieahleen, let me know if this issue has been closed by mistake.

[2022-09-30 11:17] #46646 closed

[2022-09-30 15:25] moT01 commented on #40895
demo-projects ✅

[2022-09-30 17:01] chrysillala commented on #45949
Hi, can I contribute to this issue? Would appreciate if you could share some guidance, thanks!

[2022-09-30 17:04] chrysillala commented on #46358
Hi, can I contribute to this issue? Would appreciate if you could give some guidance, thanks!

[2022-09-30 17:09] SaarthakMaini commented on #47588
I am not able to find the files to make the necessary changes.

If possible, could anyone redirect me

Thank you!

[2022-09-30 17:14] moT01 commented on #45949
There's [a comment on another issue (linked above)...](https://github.com/freeCodeCamp/freeCodeCamp/issues/46497#issuecomment-1158992698)

So I think we want to make a single component that displays a list of projects, probably so it looks like the timeline. Then we can use that component in those three places. Those three places all look a little different, so I'm not sure if we just want to unif

[2022-09-30 17:44] ieahleen commented on #47588
@SaarthakMaini the best way to work on the practice projects is with the challenge editor, as explained in [How to work on practice projects](https://contribute.freecodecamp.org/#/how-to-work-on-practice-projects)

[2022-09-30 18:16] Insidiae commented on #47588
I'd also be happy to take this on!

[2022-09-30 18:27] schalkneethling commented on #46173
@naomi-lgbt, where in the source are these two projects located? Thanks!

[2022-09-30 18:37] prathameshMoharkar commented on #47598
can you assign this issue to me as I have taken part in HacktoberFest and I am best in Web Development.

[2022-09-30 18:38] akhilpamwani commented on #46843
Hi ! I am interested to help but before please tell me the issue
in detail

[2022-09-30 18:54] naomi-lgbt commented on #46173
Which?

[2022-09-30 19:22] rakzool commented on #47629
i have and idea we can change the hint to say something like "use two seperate selectors for type : h2 and the paragraph tag" if no one is working on the issue i wold like to give it a try .

[2022-09-30 19:40] jeremylt commented on #47622
I would be good with that.

[2022-09-30 20:02] ieahleen commented on #47598
@prathameshMoharkar welcome, please check the issues labeled with https://github.com/freeCodeCamp/freeCodeCamp/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22help+wanted%22

[2022-09-30 20:06] ieahleen commented on #46358
I am going to tackle part of the issue in #47675 47675

[2022-09-30 20:31] m0hit-kumar commented on #47038
I would like to contribute to this issue, can you assign me the issue

[2022-09-30 20:44] naomi-lgbt commented on #47622
Going to open this up for first timers. The fix involves two changes:

Update this line to something like `Remove all falsy values from an array. Return the new array, do not mutate the original array.`

Add a test to check that the function is non-mutating.

[2022-09-30 20:56] ieahleen commented on #47038
@m0hit-kumar issues are not assigned generally, feel free to open a PR for all or part of the issue (all the projects may be a lot of work)

[2022-09-30 22:06] ieahleen opened #47686 "Small fixes notified on crowdin"
Just transcribing issues from crowdin.

In this line:
https://github.com/freeCodeCamp/freeCodeCamp/blob/d490c828197d68749e63ddaa5509fa1e0df20476/curriculum/challenges/english/06-quality-assurance/quality-assurance-and-testing-with-chai/assert-deep-equality-with-.deepequal-and-.notdeepequal.md?plain=1#L11
There is an extra comma before the anchor element that has to be removed.

In this line:
https

[2022-09-30 22:11] ieahleen opened #47687 "Missing backticks around variables"
This markdown table is missing backticks around the variables (third column).
https://github.com/freeCodeCamp/freeCodeCamp/blob/d490c828197d68749e63ddaa5509fa1e0df20476/curriculum/challenges/english/08-data-analysis-with-python/data-analysis-with-python-projects/medical-data-visualizer.md?plain=1#L29-L42

---

This looks like something that can be fixed by "first-time" code contributors to this re

[2022-09-30 22:30] ieahleen opened #47689 "Typo fixes"
In both the sentences on this line the word `href` should be surrounded with backticks:
https://github.com/freeCodeCamp/freeCodeCamp/blob/d490c828197d68749e63ddaa5509fa1e0df20476/curriculum/challenges/english/14-responsive-web-design-22/learn-html-by-building-a-cat-photo-app/5dfa22d1b521be39a3de7be0.md?plain=1#L23

In this line there is a period (full-stop) where there should be a comma.
https://g

[2022-09-30 22:49] moT01 commented on #46173
All the data viz projects have been created over there. Still need to do the front end libraries projects.

[2022-09-30 22:55] moT01 opened #47691 "Update data viz demo project URL's"
### Describe the Issue

All the data viz projects were created on our .rocks domain. We just need to replace the codepen URL's with the new addresses in the curriculum files of those five projects.

Here's the URL's:
https://bar-chart.freecodecamp.rocks/
https://scatterplot-graph.freecodecamp.rocks/
https://heat-map.freecodecamp.rocks/
https://choropleth-map.freecodecamp.rocks/
https://treemap-dia

[2022-09-30 23:01] KanishkKhurana commented on #47687
Hi @ieahleen , this seems like an issue that i can handle. I am new to freecodecamp repository and would love to contribute

[2022-10-01 00:11] twhite96 commented on #44668
I'd like to take a couple of these. Just let me know which ones; I am comfortable with most of these.

[2022-10-01 00:33] IvanoskiHarmonia commented on #47691
Hey @moT01,

Just to make sure you want this https://codepen.io/freeCodeCamp/full/GrZVaM replaced with  https://bar-chart.freecodecamp.rocks/ ?

[2022-10-01 00:42] slayeh17 commented on #47689
Hello, I want to work on this.

[2022-10-01 02:10] prajwal-144 commented on #47686
Hey, I would like to work on this.

[2022-10-01 04:29] Paari1263 commented on #47456
Is the comment for the issue accepted for the hacktoberfest contribution

[2022-10-01 04:35] SaarthakMaini commented on #47622
I can make the necessary changes.

Where do I have to add the test exactly?

[2022-10-01 05:20] amitturare commented on #47689
Heyy, is this assigned to anyone?

[2022-10-01 05:23] patil-prathamesh commented on #47689
I will work on this.

[2022-10-01 05:35] Preet-Sojitra commented on #46887
Is this issue still open?

[2022-10-01 05:49] m0hit-kumar commented on #47038
can you suggest then what I have to contribute? it will be easy for me to contribute

[2022-10-01 06:41] Aaroh1 commented on #47689
Hey! I would like to work on this issue.

[2022-10-01 07:12] maddy1381 commented on #47689
Hi I have fixed the issue and you can find the PR here #47722

[2022-10-01 07:28] nawed2611 commented on #46411
Hey, can i work on this issue?

[2022-10-01 07:39] dhruvjain896 commented on #47689
Is this issue available or has it been resolved?

[2022-10-01 08:08] naomi-lgbt commented on #46411
Go for it!

[2022-10-01 08:23] munyanezaarmel opened #47728 "Missing button text in Bootstrap Add Elements within Your Bootstrap Wells"
### Describe the Issue

in the instructions, they forgot to specify the button text and tests are passing without button text I think this is a good practice a button should always have a text and tests can not run without it for good practice

### Affected Page

https://www.freecodecamp.org/learn/front-end-development-libraries/bootstrap/add-elements-within-your-bootstrap-wells

### Your code

[c

[2022-10-01 08:46] #47689 closed

[2022-10-01 08:47] ieahleen commented on #47687
@KanishkKhurana Thank you for your interest! I suggest looking at issues that do not have linked PRs already

[2022-10-01 08:55] #47686 closed

[2022-10-01 09:11] ieahleen commented on #47038
The boilerplate code for the Python project is not translatable, all the comments should be moved to the file in the main repo, and the boileplate should be updated so that each section can be referenced.

For example one of the boilerplates has all these comments. https://github.com/freeCodeCamp/boilerplate-medical-data-visualizer/blob/main/medical_data_visualizer.py

What's missing in the projec

[2022-10-01 09:12] ieahleen commented on #46887
@Preet-Sojitra feel free to open a PR if you think you can fix the issue

[2022-10-01 09:16] #47687 closed

[2022-10-01 09:17] #47691 closed

[2022-10-01 09:42] SiddheshKukade commented on #47728
I would like  to work on this issue please assign me

[2022-10-01 09:47] ieahleen commented on #47728
The text of the buttons is added in a following step, this one
https://www.freecodecamp.org/learn/front-end-development-libraries/bootstrap/label-bootstrap-buttons

This may require more work than just adding the text on the reported step

[2022-10-01 10:19] sfbaygrl opened #47736 "Basic JavaScript - Understanding Uninitialized Variables- issue with this lesson"
**Looking forward for reporting a security issue:**
Please report security issues by following our security policy: `https://contribute.freecodecamp.org/#/security`

**Describe the bug**
A clear and concise description of what the bug is.
"was having an issue with this lesson asked for help on forum and was told to open an issue here, screen shot provided below"
**To Reproduce**
Steps to reproduce

[2022-10-01 10:19] ieahleen opened #47737 "Discordian Date challenge needs better leap year description"
https://github.com/freeCodeCamp/freeCodeCamp/blob/762945baf260afde16f4fd5191ce50a1dc20e3cc/curriculum/challenges/english/10-coding-interview-prep/rosetta-code/discordian-date.md?plain=1#L11

This challenge needs a better description of a leap year, see [wikipedia](https://en.wikipedia.org/wiki/Leap_year#Algorithm) for the requirements for a year to be a leap year.

[2022-10-01 10:20] Samaresh-Das commented on #47728
I would like to contribute to this issue. May I get assigned please?

[2022-10-01 10:24] ieahleen commented on #47728
@Samaresh-Das thank you for your interested in contributing, please look at issues with labels https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only or https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted

[2022-10-01 10:24] Weredime commented on #47737
Is it ok if I could work on this as a starter issue?

[2022-10-01 10:27] ieahleen commented on #47737
@Weredime all issues with the labels https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only or https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted are up for grabs. Fill free to open an issue.

[2022-10-01 10:39] ieahleen opened #47738 "Typos in challenges description"
1. This sentence is missing a word
https://github.com/freeCodeCamp/freeCodeCamp/blob/762945baf260afde16f4fd5191ce50a1dc20e3cc/curriculum/challenges/english/15-javascript-algorithms-and-data-structures-22/learn-basic-javascript-by-building-a-role-playing-game/62aa2999ec27ec516655eba6.md?plain=1#L20

---

2. Here the word `gallery` should not have quotes inside the code block
https://github.com/free

[2022-10-01 10:47] Shreyas250503 commented on #47691
@moT01
I want to contribute to this project.
Please assign me this task.

[2022-10-01 10:53] ieahleen commented on #47691
@Shreyas250503 thank you for your interested in contributing, but this issue is not open for contributions, please look at issues with labels https://github.com/freeCodeCamp/freeCodeCamp/labels/first%20timers%20only or https://github.com/freeCodeCamp/freeCodeCamp/labels/help%20wanted