[2016-10-17 22:45] Jan-Andre commented on #6960
Hello, I am also  having difficulties signing in  due to renaming accounts, Thanks in advance!

[2016-10-17 23:00] Bouncey commented on #11252
That's weird...

Maybe the tests could do with being deep equal?

[2016-10-17 23:02] #11241 closed

[2016-10-17 23:05] Bouncey commented on #11231
Lets move these challenges around :+1:

Remember to take the translations with you :smiley:

[2016-10-17 23:09] Bouncey commented on #11198
@BerkeleyTrue is `detect-unsafe-code-stream` and others now legacy code in staging?

[2016-10-17 23:32] BerkeleyTrue commented on #11198
Nothing in common framework runs in the app

[2016-10-17 23:48] RamiroPinol commented on #11252
It seems the problem is the last " " added to the sentence.
Your code returns "I'm a little tea pot ", should be "I'm a little tea pot"

[2016-10-18 00:47] dhcodes commented on #11252
@RamiroPinol is correct. The results have an space at the end. Remedy that and your tests will pass. Closing as resolved.

[2016-10-18 00:47] #11252 closed

[2016-10-18 01:34] slavo7 commented on #10909
var myCar = new Car ();
myCar.turboType = "twin";

i have the same problem and its not working ... and test is showing me that everything is ok

[2016-10-18 02:11] djsirena commented on #10856
I'm also having that problem.
style>
  h2 {color: blue;} CatPhotoApp
</style>
<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

[2016-10-18 03:09] im-zablon commented on #8435
Hi @alamitina I'm with @antsarandriamihaja on this one. I came across the same problem and wondered why it wasn't working. So I pasted the code on [repl.it](https://repl.it/DyvM/0) and it seems to work just fine with the ```+=```  method.

[2016-10-18 03:58] kingdame commented on #10721
Thanks alot!!

[2016-10-18 04:01] broldak commented on #11231
I can take care of this. (This is my first contribution, please let me know if I'm doing anything wrong.)

[2016-10-18 04:03] djsirena commented on #2747
Grammatically it should state "should be 'an L' ".

[2016-10-18 05:21] HNhung05 opened #11255 "Global Scope and Functions"
Challenge [Global Scope and Functions](https://www.freecodecamp.com/challenges/global-scope-and-functions#?solution=%0A%2F%2F%20Declare%20your%20variable%20here%0Avar%20myGlobal%3D10%3B%0A%0Afunction%20fun1()%20%7B%0A%20%20%2F%2F%20Assign%205%20to%20oopsGlobal%20Here%0A%20%20oopsGlobal%3D5%3B%0A%7D%0A%0A%2F%2F%20Only%20change%20code%20above%20this%20line%0Afunction%20fun2()%20%7B%0A%20%20var%20out

[2016-10-18 08:11] majiang666 commented on #6249
good!

[2016-10-18 10:38] Bouncey commented on #10022
Could this be fixed by implementing `sever/utils/getFromDisk$.js` in the gulp file again?

@BerkeleyTrue
cc/ @FreeCodeCamp/issue-moderators

[2016-10-18 10:43] Bouncey commented on #11255
@HNhung05 I can't see any issue, can you please supply more information :+1:

[2016-10-18 10:50] recurza commented on #11231
Working on it 😁

[2016-10-18 12:17] #11255 closed

[2016-10-18 13:39] yasserhussain1110 commented on #11226
Hey if this issue is still open can I work on this one??

[2016-10-18 13:46] zhouxiang19910319 opened #11256 "HTML5 and CSS- Size your images issue found. After clicking run tests webpage does not respond."
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20.smaller-image%20%7Bwidth%3A100px%3B%7D%0A%20%20h2%20%7B%0A%20%20%20%20fon

[2016-10-18 13:53] Shooshte opened #11257 "Exact Change - returning different output in freeCodeCamp test than codepen"
#### Exact Change

https://www.freecodecamp.com/challenges/exact-change
#### Issue Description

When I run my code locally, or in codepen it returns the required output. When I run in on the challenge page it returns a different result (I am logging output to console to see the results).

The result in the freecodecamp test is:
[["PENNY",0.49000000000000027]]

The result in [codepen](http://codepe

[2016-10-18 13:55] zhouxiang19910319 commented on #11256
`<img class="smaller-image" src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back. ">`

This is the correct code..... false alarm...

[2016-10-18 13:58] Bouncey commented on #11256
:+1:

[2016-10-18 13:58] #11256 closed

[2016-10-18 14:07] Yuki0916 opened #11258 "Issue about Increment a Number with JavaScript"
Challenge [Increment a Number with JavaScript](https://www.freecodecamp.com/challenges/increment-a-number-with-javascript) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]
In next cha

[2016-10-18 14:21] fahadabdullah91 commented on #10721
Thanks bro, it's helped me .

[2016-10-18 14:25] Marmiz commented on #11258
Hello @Yuki0916,

The challenge states:

So I guess it's ok that you won't pass that challenge.
I think the whole point is to make you use the `++` notation.

Happy coding!

[2016-10-18 15:34] Dayfiri commented on #11258
`You can easily increment or add one to a variable with the ++ operator.

i++;

is the equivalent of

i = i + 1;

Note
The entire line becomes i++;, eliminating the need for the equal sign.
Instructions

Change the code to use the ++ operator on myVar.
`

This is the explanation in assignment. Increment the `value` stored in `myVar`.
You can see that `i = i + 1` is incrementing value stored in var

[2016-10-18 15:34] Samlynx commented on #4773
somebody should help me out with this task
Your text input element should have the required attribute.

[2016-10-18 15:41] benjaminboruff commented on #1340
This is still happening. I have heard that the twitchtv project will soon be dropped. I don't think this is a browser issue per se; I use Cloud9IDE for my development (a web ide, in the same chrome browser that I also use for codepen) and I have no problems when using Cloud9. The issue only occurs when using codepen's sandboxed environment.

[2016-10-18 15:50] Dayfiri commented on #11257
I copy pasted your code in FreeCodeCamp editor in assignment and in codepen.

1. FreeCodeCamp example ~ 2 examples won't work and your `var notes`, `var numberOfNotes` are repeating with `var` everytime.
![fcc](https://cloud.githubusercontent.com/assets/16082563/19485328/299d9e1c-955b-11e6-8f29-bfa578a4c854.png)

2. Codepen ~ Same result as above. No errors, output is the same.
![codepen](https://

[2016-10-18 15:56] Yuki0916 commented on #11258
@Marmiz  @Dayfiri  Thank your support, I pass this chanllenge.

[2016-10-18 15:58] Marmiz commented on #11258
@Yuki0916 next time, consider going to [Gitter chat](https://gitter.im/FreeCodeCamp/Help) first;
you'll find tons of people happy to help there.

[2016-10-18 17:01] #11258 closed

[2016-10-18 17:19] Bouncey commented on #11060
I am working on a component for this 😃

[2016-10-18 19:39] Ammulubaipaneni opened #11259 "concat()"
Challenge [Concatenating Strings with Plus Operator](https://www.freecodecamp.com/challenges/concatenating-strings-with-plus-operator#?solution=%0A%2F%2F%20Example%0Avar%20ourStr%20%3D%20%22I%20come%20first.%20%22%20%2B%20%22I%20come%20second.%22%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0Avar%20myStr%20%3D%20%22This%20is%20the%20start.%22%20%2B%20%22This%20is%20the%20end.%22%

[2016-10-18 20:33] Nemo00 opened #11260 "What have I done wrong?"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2016-10-18 20:56] luongthomas commented on #11260
I've copy and pasted your code in the challenge and it passes the tests.

Google Chrome Version 53.0.2785.143 (64-bit)
MacOS Sierra

[2016-10-18 20:58] luongthomas commented on #11259
When concatenating two strings, they will be combined just as such.

For example, when myStr is evaluated, the resulting string will be:

`"This is the start.This is the end."`

I hope this helps.

[2016-10-18 21:37] Dayfiri commented on #11260
@Nemo00
The assignment said that you need to nest `<a></a>` inside `<p></p>` element. That part is alright.
But here is text from the assignment that said:
`so that the surrounding paragraph says "View more cat photos", but where only "cat photos" is a link, `and the rest of the text is plain text.`

Text inside `<a>like here</a>` will be a `link` anything outside of it will be `plain-text`.
You h

[2016-10-18 21:44] Dayfiri commented on #11259
@Ammulubaipaneni Assignments are strict about many things and one of them are `spaces`.
You need to put a `space` after `start.` like this `start. `. That is how you get a space when you concate 2 strings.

If you put `"hey" + "you"` you will get output of `heyyou`. But if you put space before the end of 1.sentence or the beginning of 2. one you will have a normal space, like this:
`"hey " + "you"

[2016-10-18 21:44] jacobjzhang commented on #11259
Yeah it should be:

`var myStr = "This is the start. " + "This is the end.";`

[2016-10-18 22:20] texas2010 commented on #11221
@ricardodataduen
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-10-18 22:37] roseberry commented on #3921
But what is the last </div> of all closing?? It wasn't there, or needed at the beginning of the challenge, and all new divs created during the challenge are already closed without it aren't they??

[2016-10-18 22:43] texas2010 commented on #11259
@Ammulubaipaneni
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2016-10-18 22:43] #11259 closed

[2016-10-18 23:06] BerkeleyTrue opened #11261 "Remove Code URI's"
They are unsafe and, due to some browser limitations, unreliable.

[2016-10-18 23:21] BerkeleyTrue opened #11262 "Add Redis storage for bins"

[2016-10-18 23:27] BerkeleyTrue opened #11263 "Save bins instead of solutions"
Instead of storing solutions directly on the user object we first create a Redis item for the solution and then store that id into the user challenge. This will make challenge storage uniform on the user object

[2016-10-18 23:31] BerkeleyTrue opened #11264 "Only verified users can create shared bin URLS"

[2016-10-18 23:40] BerkeleyTrue opened #11265 "Prevent challenges with `hypderdev.com` from running"
Any code with the URL `hyperdev.com` within the user generated text should not be allowed to run.

This will involve creating a new thrower here.

The purpose of this thrower would be to prevent ajax requests to the hyperdev domain

[2016-10-19 00:15] mantinone opened #11266 "Results of code sems to be correct, but does not pass tests."
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection#?solution=%0A%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%20%222548%22%3A%20%7B%0A%20%20%20%20%20%20%22album%22%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20%22artist%22%3A%20%22Bon%20Jovi%22%2C%0A%20%20%20%20%20%20%22tracks%22%3A%20%5B%20%0A%20%20%20%20%20%20%20%20%22Let%20It%20Rock%22%

[2016-10-19 01:13] oussamajibari commented on #6249
the problem was with the double quotes. use if (myObj.hasOwnProperty(checkProp)=== true) instead of if (myObj.hasOwnProperty("checkProp")=== true)

[2016-10-19 01:19] juniorcito32 commented on #743
h2 {
    font-family: Lobster, Monospace;
  }

  p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    width: 100px;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<img class="smaller-image thick-green-border" src="https://bit.ly/fcc-relaxi

[2016-10-19 01:46] creative46 opened #11267 "image is not turning into a link. please help"
Challenge [Turn an Image into a Link](https://www.freecodecamp.com/challenges/turn-an-image-into-a-link#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20

[2016-10-19 02:01] dhcodes commented on #11266
@mantinone you have an error in your code based on what you are returning. I think the issue here is that the return statement doesn't seem to function correctly in the output box.

[2016-10-19 02:03] dhcodes commented on #11267
@creative46 you have an error in your code. You are using the example code instead of applying the challenge to the code already in the editor. Please consider asking for help in the chat room by clicking the help button on the challenge.

[2016-10-19 02:03] #11267 closed

[2016-10-19 02:40] dhcodes commented on #11257
@Shooshte This is likely caused by how JS (and possibly even FCC and codepen) handles floating point integers. You can read more here: [http://floating-point-gui.de/](http://floating-point-gui.de/).

While I'm not sure how to remedy it for your code, someone in the [HelpJavascript](https://gitter.im/FreeCodeCamp/HelpJavaScript) may be able to help.

[2016-10-19 02:41] HNhung05 commented on #8835
You fix your code to :  // Setup
var myStr = "Jello World";

// Only change code below this line
myStr= "Hello World"; // Fix Me

[2016-10-19 02:44] zalos commented on #11188
Any word on this? Im getting issues deploying to Heroku. Im looking into this as well.

[2016-10-19 04:09] nkluistro opened #11268 "Clicker won't work."
Please scroll to **bold** text below (closer to the bottom of the page):

Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%2

[2016-10-19 04:15] pkinopk commented on #11243
Same issue here, my code:
`<style>
  .red-text {
    color: red;
  }
  p {
    font-size: 16px;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching at

[2016-10-19 04:23] sludge256 commented on #11268
The cursor should fix itself after you type something then delete it.

[2016-10-19 04:33] #11268 closed

[2016-10-19 04:56] recurza commented on #11231
It took much, much longer to setup than to finish coding this...

[2016-10-19 06:00] TrongT commented on #11243
you have to write the second half of it a new paragraph starting with Purr

[2016-10-19 06:20] yasserhussain1110 commented on #11265
@BerkeleyFalse I would like to work on it. But I'll probably need some help getting started.

[2016-10-19 07:38] beth-johnstone commented on #11243
I'm having the same issue, and I have put the second half of it into a new paragraph:

<style>
  .red-text {
    color: red;
  }
  p {font-size: 16px;}

</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>

<p Purr jump eat the gr

[2016-10-19 07:39] beth-johnstone commented on #11243
I'm having the same issue

[2016-10-19 08:00] ParadiseArtist commented on #11243
Do you want to paste in your code I'll see if I can fix it for you? @beth-johnstone

[2016-10-19 08:37] andmckvr13 commented on #11261
Is there an example of a URI that you'd like to remove? Seems like to this could be a good Junior contribution

[2016-10-19 09:30] Venikeee1 opened #11271 "Seek and Destroy. From the beginning the function destroyer has one argument to pass. But when we call this function we pass 3 values in it."
Challenge [Seek and Destroy](https://www.freecodecamp.com/challenges/seek-and-destroy) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:49.0) Gecko/20100101 Firefox/49.0</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:

[code]

[2016-10-19 09:53] Sidtharthan commented on #11243
p
{
font-size:16px;
}
you've missed semi-colon @TrongT

[2016-10-19 10:25] Maggi-89 opened #11272 "Challenge #20- Change the Font Size of an Element - Not working"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20%0A%20%20p%0A%20%20%7B%0A%20%20%20%20font-size%3D16px%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-tex

[2016-10-19 10:30] Maggi-89 commented on #11272
I made a mistake "font-size=16px;". This should be "font-size : 16px;".

[2016-10-19 10:30] #11272 closed

[2016-10-19 10:43] dt-freecodecamp opened #11273 "link-to-external-pages-with-anchor-elements (training info incomplete)"
#### Challenge Name

https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements

#### Issue Description

The supplied training info is incomplete.

#### Currently it states:
a elements, also known as anchor elements, are used to link to content outside of the current page.

#### Reality:
a elements can link to content inside or outside of the current page

[2016-10-19 11:49] Dayfiri commented on #11271
Your code works and it passes all the tests.
In your `destroyer` function you have 4 arguments and you don't need 1 of them.
`arr` is assigned to represent `[1,2,3,1,2,3]` array,
`val1` is assigned to represent number `2`,
and `val2` is assigned to represent number `3`.
`val3 is undefined` in this case.
You don't need `val3` and it's value is `undefined` but it passes the assignment because you've

[2016-10-19 12:55] killgrey commented on #6255
// Setup
function abTest(a, b) {
  // Only change code below this line

  if (a<0 || b<0) {
    return;
  }

  // Only change code above this line

  return Math.round(Math.pow(Math.sqrt(a) + Math.sqrt(b), 2));
}

// Change values below to test your code
abTest(-1,-4);

// Here's mine

[2016-10-19 13:36] divyasunflower33 opened #11274 "d"
Challenge [Say Hello to HTML Elements](https://www.freecodecamp.com/challenges/say-hello-to-html-elements#?solution=%3Ch%3Edi%3C%2Fh%3E%0A%3Ch1%3EHello%3C%2Fh1%3E%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots i

[2016-10-19 14:15] ccobol92 opened #11275 "Nesting an img to an a element"
#I've been trying to nest an img to an a element on lesson 29, I've asked to the community but they keep giving me the same answer.

This is the code I currently have:
<a href="#"><img src="https://bit.ly/fcc-running-cats" alt="Three kittens running towards the camera"></a>

Challenge Name
Turn an Image into a Link

* Browser: Safari
* Operating System: Mac
* Mobile, Desktop, or Tablet: Desktop

<

[2016-10-19 14:33] muhammadIrfanKhan1994 opened #11276 "need"
Challenge [Import a Google Font](https://www.freecodecamp.com/challenges/import-a-google-font#?solution=%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20h2%20%7Bfont-family%3Alobstar%3B%7D%0A%20%20p%20%7B%0A%20%20%20%20fon

[2016-10-19 14:52] texas2010 commented on #11274
@divyasunflower33
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-10-19 14:52] #11274 closed

[2016-10-19 15:03] xodus899 opened #11277 "Cursor Click"
Using arrow keys or the mouse, the cursor doesnt always go where you would like to put it. Sometimes you click and the cursor will go in a completely different place.

[2016-10-19 15:11] Manish-Giri commented on #11276
@muhammadIrfanKhan1994 the font is `Lobster`, not `lobstar`. Please visit the [help room](https://gitter.im/FreeCodeCamp/Help) for such issues in future.

[2016-10-19 15:20] dhcodes commented on #11273
Technically true, but the title of the challenge is called "Link to External Pages with Anchor Elements". Should we make a new challenge for internal links? There are a lot of questions in the chat about how to do internal anchor links. cc @FreeCodeCamp/issue-moderators

[2016-10-19 15:22] texas2010 commented on #6255
@killgrey, Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-10-19 15:23] texas2010 commented on #743
@juniorcito32
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-10-19 15:24] dhcodes commented on #11275
@ccobol92 your approach is fine but you're using the example img instead of the one that was originally in the editor. Reset your code and you'll see that the nested img for the challenge has a different src than the one you are using. In the future, please consider asking for help in the chat room by clicking the help button on the challenge.

[2016-10-19 15:24] #11275 closed

[2016-10-19 15:24] texas2010 commented on #8835
@HNhung05
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-10-19 15:24] dhcodes commented on #11276
@Manish-Giri is correct. Closing as resolved.

[2016-10-19 15:24] #11276 closed

[2016-10-19 15:26] dhcodes commented on #11277
@xodus899 unfortunately, this is a known issue. For now, there are some workarounds in #7847. Hopefully it will be remedied soon.

[2016-10-19 15:26] #11277 closed

[2016-10-19 15:26] texas2010 commented on #11243
@beth-johnstone,
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-10-19 15:27] texas2010 commented on #11272
@Maggi-89, no problem.  Next time, please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-10-19 15:39] beth-johnstone commented on #11243
Fixed it guys! Thanks everyone for your help :)

[2016-10-19 15:57] atjonathan commented on #11273
Yeah that sounds like a good idea.

[2016-10-19 16:23] mantinone commented on #11266
Oh, geeze.  I changed that at the beginning, then forgot that it was there.

Thanks!  Sorry for the false bug.

[2016-10-19 16:24] samar9314 commented on #11175
same for me the second objective("You need an a element that links to http://freecatphotoapp.com") is not accomplished with the same pile of code

[2016-10-19 16:56] vonne31 opened #11278 "problem"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2016-10-19 16:59] texas2010 commented on #11278
@vonne31
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-10-19 16:59] #11278 closed

[2016-10-19 17:45] praveenoswal17 opened #11279 "My code seems to be correct but not passing"
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-10-19 17:48] AkhilAkku95 commented on #5890
@raisedadead tnx broii :)

[2016-10-19 17:53] rocnogu opened #11280 "Your new image should be below your old one ."
Challenge [Make Images Mobile Responsive](https://www.freecodecamp.com/challenges/make-images-mobile-responsive#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobst

[2016-10-19 18:10] rocnogu commented on #11280
this also does not work !

  <a href="#"><img class="smaller-image thick-green-border" src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back. "></a>

  <p></p>

  <a2 href="#"><img class="img-responsiver thick-green-border img-responsiver" src="https://bit.ly/fcc-running-cats" alt="Few cats. "></a2>

[2016-10-19 18:12] erictleung commented on #11279
@praveenoswal17 thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help).

Briefly looking at your code, there are a few errors. Also, this snippet from the instructions may help.

Your lack of brackets for your control statements are valid but you'll need them for code blocks.

Ha

[2016-10-19 18:12] #11279 closed

[2016-10-19 18:13] jonatan-castaneda opened #11281 "Bug"
#### Challenge Name

Create a Form Element (It also happens in other Challenges)
https://www.freecodecamp.com/challenges/create-a-form-element
#### Issue Description

If I click on some line in the code editor, the cursor starts one line down. Example, if I click on line 22, when I start writing my code it appears on line 23 not in 22. It just happens in the first click, after this I'm able to cli

[2016-10-19 18:15] rocnogu commented on #11280
this also does not work !

![clipboard04](https://cloud.githubusercontent.com/assets/22155288/19531668/5e9ebd46-9630-11e6-9535-203ae59ac177.jpg)

[2016-10-19 18:16] erictleung commented on #11280
@rocnogu thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help).

Some hints:

1. `<a2>` elements don't exist. Only `<a>` elements.
2. You have some HTML elements that don't have closing tags.

Happy coding!

[2016-10-19 18:16] #11280 closed

[2016-10-19 18:17] erictleung commented on #11281
@jonatan-castaneda thanks for the issue but this is a known issue https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7847. Closing this issue in favor of the pre-existing issue. Read some posts in that issue thread for some quick solutions/workarounds. Happy coding!

[2016-10-19 18:17] #11281 closed

[2016-10-19 18:20] rocnogu commented on #11280
i did try the two <a> . does not work .

which one ? from which code ?
this "answer" is not helping at all .

[2016-10-19 18:33] elmo033057 commented on #10904
It must be something minuscule, I've got the same problem.

[2016-10-19 18:34] rocnogu commented on #11280
found it . img-responsive and img-responsiveR

very bad job @erictleung . very very bad .
i hope no one paying you to do it .

[2016-10-19 18:40] vonne31 opened #11282 "problem"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2016-10-19 18:45] texas2010 commented on #11282
@vonne31
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-10-19 18:45] #11282 closed

[2016-10-19 18:56] praveenoswal17 opened #11283 "code gives"
![github issue](https://cloud.githubusercontent.com/assets/20150659/19533048/d219781c-965b-11e6-9180-46677b9c2432.png)
Challenge [Generate Random Whole Numbers with JavaScript](https://www.freecodecamp.com/challenges/generate-random-whole-numbers-with-javascript#?solution=%0Avar%20randomNumberBetween0and19%20%3D%20Math.floor(Math.random()%20*%2020)%3B%0A%0Afunction%20randomWholeNum()%20%7B%0A%20%2

[2016-10-19 19:11] #10409 closed

[2016-10-19 20:55] dhcodes commented on #11283
@praveenoswal17 thanks for the issue. This has been caught in issue #11110 and fixed in the development codebase. Closing as duplicate.

[2016-10-19 20:55] #11283 closed

[2016-10-19 20:59] Aror opened #11284 "Image does not load"
[Screenshot](http://imgur.com/a/xi8Hx)

Challenge [Get JSON with the jQuery getJSON Method](https://www.freecodecamp.com/challenges/get-json-with-the-jquery-getjson-method#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%0A%20%20%20%20%24(%22%23getMessage%22).on(%22click%22%2C%20function()%7B%0A%20%20%20%20%20%20%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%20%20%20%20%

[2016-10-19 21:34] valeporti opened #11285 "Multidimensional array lenght issue"
#### Profile Lookup

https://www.freecodecamp.com/challenges/profile-lookup#?solution=%0A%2F%2FSetup%0Avar%20contacts%20%3D%20%5B%0A%20%20%20%20%7B%0A%20%20%20%20%20%20%20%20%22firstName%22%3A%20%22Akira%22%2C%0A%20%20%20%20%20%20%20%20%22lastName%22%3A%20%22Laine%22%2C%0A%20%20%20%20%20%20%20%20%22number%22%3A%20%220543236543%22%2C%0A%20%20%20%20%20%20%20%20%22likes%22%3A%20%5B%22Pizza%22%2C%20%2

[2016-10-19 21:44] HKuz commented on #11273
I think that's a good idea. For what it's worth, we've been keeping track of reordering and new challenge suggestions for HTML and CSS over in [this curriculum expansion issue](https://github.com/FreeCodeCamp/CurriculumExpansion/issues/74). If a camper wants to create the new challenge, I can help get them set up for the format and requirements. Otherwise, I can create something when I get to that

[2016-10-19 21:51] David-Moreira opened #11286 "Can't use font awesome"
Hello. I just started on FreeCodeCamp and I'm going through their program. At the moment I'm doing my Portfolio page. But I can't seem to pull any icons from font awesome.

Here's my pen: https://codepen.io/David-Moreira/pen/QKkLxv

I've added the font awesome css both trough codepen settings and link at the top of my HTML code.
I'm not sure what's wrong.

I know this might be a dumb issue, but if

[2016-10-19 21:52] #11286 closed

[2016-10-19 22:50] homerrowsky opened #11287 "Drop-it solution (passes grader) makes infinite loop in console(firefox & chrome ubuntu) and nodejs"
Challenge [Drop it](https://www.freecodecamp.com/challenges/drop-it#?solution=%0Afunction%20dropElements(arr%2C%20func)%20%7B%0A%20%20%2F%2F%20Drop%20them%20elements.%0A%20%20%2F%2Fvar%20keep%20%3D%20true%3B%0A%20%20while%20(!func(arr%5B0%5D))%20%7B%0A%20%20%20%20%20%20arr.shift()%3B%0A%20%20%20%20%7D%0A%20%20return%20arr%3B%0A%20%20%2F%2Freturn%20arr.slice(0)%3B%20this%20gives%20oK%2C%20but%20is%

[2016-10-19 23:39] #11285 closed

[2016-10-20 00:30] matthewshirley commented on #11284
Hey @Aror, there is a couple more things to learn before you render the images. This will be done in: "Render Images from Data Sources". "Get JSON with the jQuery getJSON Method" is just showing you how you can load an another file (/json/cats.json).

[2016-10-20 00:43] Aror commented on #11284
@matthewshirley looks like i went ahead of myself. Thanks for letting me know!

[2016-10-20 00:43] #11284 closed

[2016-10-20 01:34] homerrowsky commented on #11287
After reading past issues, realized this is a repetition.

[2016-10-20 01:34] #11287 closed

[2016-10-20 03:10] dhcodes commented on #11273
@HKuz I'd like to learn how. I'll try to catch you on gitter tomorrow.

[2016-10-20 03:35] yaseenagag opened #11288 "**SOLVED** Challenge: Title Case a Sentence"
function titleCase(str) {
  var result = "";
  var splitArray = str.toLowerCase().split(" ");
  for ( var i = 0; i < splitArray.length; i++ ) {
  result += splitArray[i].charAt().toUpperCase() + splitArray[i].slice(1) + " ";
  }
  return result.slice(0, -1);
}

titleCase("HERE IS MY HANDLE HERE IS MY SPOUT");

[2016-10-20 03:36] yaseenagag commented on #11288
[code]

[2016-10-20 03:38] yaseenagag commented on #11288
ANSWER = Here is My Handle Here Is My Spout

I decided to use result.slice(0, -1) to remove the extra space at the end of the string.

[2016-10-20 03:41] yaseenagag commented on #8280
use this when you return your result cap.slice(0 , -1)

[2016-10-20 05:10] Christopher37 opened #11289 "Can anyone help me"
Challenge [Understand String Immutability](https://www.freecodecamp.com/challenges/understand-string-immutability#?solution=%0A%2F%2F%20Setup%0Avar%20myStr%20%3D%20%22Jello%20World%22%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0AmyStr%5B0%5D%20%3D%20%22H%22%3B%20%2F%2F%20Fix%20Me%0Avar%20myStr%20%3D%20%22Hello%20World%22%3B%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0

[2016-10-20 07:28] Viltaria commented on #11289
In the challenge, it specifies why you cannot change the value of myStr through myStr[0].
It also tells you the correct way to change a string.

[code]

[2016-10-20 07:29] Robertphillips99 opened #11291 "browser must be set to 100% for completion but it is"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-20 07:29] #11291 closed

[2016-10-20 07:29] Robertphillips99 commented on #11291
browser must be set to 100% for completion but it is

[2016-10-20 07:50] #11289 closed

[2016-10-20 08:57] #11288 closed

[2016-10-20 09:01] Bouncey commented on #11266
@dhcodes the output window on staging acts as expected, but only with `console.log()`'s, I don't think there is an output otherwise.

[2016-10-20 10:16] karuppiah7890 commented on #11271
@Venikeee1 Your code will only work for 4 arguments max. The challenge actually wants you to create a function, which can tackle any number of arguments, other than the array, which is the first argument,

[2016-10-20 12:18] HKuz commented on #11273
@dhcodes excellent! I'll be around 👍

[2016-10-20 12:49] #11266 closed

[2016-10-20 14:03] raisedadead commented on #10351
I agree with @erictleung , it's completely upto you to leave out the last else. But having said that best practices are relative terms. As a beginner I should have a focus on learning the concepts if a if else if chain than that of confusing the core concept with additional practices.

Please note I am not saying that the best practices should not be followed at all, but then this challenge at thi

[2016-10-20 14:03] #10351 closed

[2016-10-20 15:38] Manish-Giri commented on #11273
Sorry to spam, but @dhcodes once you get to know, I'll hit you up on Gitter to learn about this process.

[2016-10-20 15:55] iamelmo1 opened #11292 "Not letting me edit my code !"
Challenge [Add Font Awesome Icons to all of our Buttons](https://www.freecodecamp.com/challenges/add-font-awesome-icons-to-all-of-our-buttons) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[c

[2016-10-20 16:03] iamelmo1 commented on #11292
</div>
<div class="col-xs-4">
<button class"btn btn-block btn-info"><i class="fa-fa-circle-info"></i></button> </div>
<div class="col-xs-4">
<button class"btn btn-block btn-danger"><i class="fa-fa-thrash"></i></button> </div>

its the correct code but i can't apply it, i even tried copy and pasting walls of code but it only lets me delete a certain amount of code.

[2016-10-20 16:06] Manish-Giri commented on #11292
@iamelmo1 just type any key in the editor, it should "reset". Then proceed as normal.

[2016-10-20 16:31] pinkbow commented on #11243
It's still not working.

[2016-10-20 17:25] 1ykumar opened #11294 "help"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2016-10-20 17:26] 1ykumar commented on #11294
how to set image 100px

[2016-10-20 17:50] Dayfiri commented on #11294
@1ykumar
You can find answer to that question [here](https://gitter.im/FreeCodeCamp/Help)

[2016-10-20 18:24] texas2010 commented on #11294
@1ykumar
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-10-20 18:24] #11294 closed

[2016-10-20 18:47] MacPrawn commented on #10564
The challenge also works for me - looks like this one is fixed already.

[2016-10-20 19:23] egossick commented on #1646
So what does the "2" do? Don't understand that and why it needed to be changed from "3". Thanks!

[2016-10-20 19:49] atjonathan commented on #10564
Thanks for letting us know @MacPrawn, @mattlindsey 😃

[2016-10-20 19:49] #10564 closed

[2016-10-20 20:25] dhcodes commented on #11273
Closing this as I'm writing a new challenge for the curriculum update. Thanks for the issue @dt-freecodecamp

[2016-10-20 20:25] #11273 closed

[2016-10-20 20:46] matthewshirley commented on #11243
Hey @pinkbow, could you share the code you're using?

[2016-10-20 20:55] erictleung commented on #11292
@iamelmo1 can you give more information on your issue? I understand you're unable to add your code but can you be more specific? I think the issue you're having is that when you try to edit code, you are adding the code in different lines that you intended. Please verify the issue you are having so that we can assist and/or fix your issue. Thanks!

[2016-10-20 20:57] Madsander opened #11295 "I cant resolve it"
Challenge [Storing Values with the Assignment Operator](https://www.freecodecamp.com/challenges/storing-values-with-the-assignment-operator#?solution=%0A%2F%2F%20Setup%0Avar%20a%20%3D%207%3B%0Avar%20b%20%3D%20a%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0

[2016-10-20 21:02] atjonathan commented on #11295
Please use the [Help](https://gitter.im/FreeCodeCamp/Help) chat room for getting challenge related help. Happy Coding!

[2016-10-20 21:02] #11295 closed

[2016-10-20 21:13] Bouncey commented on #11271
Passing this challenge in this way will no longer be possible after the next update. Please see #11235 for more details.

Maybe we can clear this up for campers by removing the `arr` argument in the function?

[2016-10-20 21:57] Cbhansen opened #11296 ""proceed to next challenge button error""
#### Challenge Name

https://www.freecodecamp.com/challenges/change-the-color-of-text#?solution=%0A%3Ch2%20style%3D%22color%3Ared%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sniff.%3C%2Fp%3E%0A

#### Issue Descr

[2016-10-20 22:28] pinkbow commented on #11243
Hello Matthew,

Here's the html:

<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Responsive Design!</title>

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" h

[2016-10-20 22:28] pinkbow commented on #11243
And here's the js:

$(document).ready(function() {

$("#menu").on("click",function(e){
     e.preventDefault();
     $("#bigMenu").slideToggle();
     console.log("clicked");
 });

});

[2016-10-20 23:56] Manish-Giri opened #11297 "Change instructions in "Make Dead Links using the Hash Symbol""
#### Make Dead Links using the Hash Symbol

https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol

#### Issue Description
Having spent some time in the help room, I frequently see many new campers trip on this challenge. Although the current instructions are not in any way vague or difficult to understand, there is something about it that leads most campers to come up with

[2016-10-20 23:59] IsmaelBarba commented on #5701
Thanks Irena. Im still lost on this one. But I really appreciate the help.

ish

[2016-10-21 00:57] erictleung commented on #11296
@Cbhansen thanks for the issue. Sorry to hear you're having issues submitting. I'm unable to reproduce your issue. I was able to run your code (it is correct) and I get the proceed to next challenge modal. The only thing I can suggest is trying to solve the challenge in another browser or computer. I'll leave this issue open in case someone is able to reproduce.

[2016-10-21 01:38] matthewshirley commented on #11243
@pinkbow which challenge are you trying to do? This is thread is for "Change Font Size Of An Element". I couldn't find out which one.

Check out the [help chat room](https://gitter.im/FreeCodeCamp/Help) if you still need a hand.

[2016-10-21 02:18] vladas1987 commented on #3628
you made syntax mistake:
<input type='text' placeholder='cat photo URL'>
 should be:
<input type="text" placeholder="cat photo URL">

[2016-10-21 02:19] vladas1987 commented on #3628
you should use not these '   ' ,  but "  "

[2016-10-21 03:34] vladas1987 commented on #2822
<style>
 body { background-color: black;
   font-family: Monospace;

  }
   .pink-text
  {
  color:pink;
  }
</style>
<h1 class="pink-text"> Hello World!</h1>

[2016-10-21 03:34] vladas1987 commented on #2822
<style>
 body { background-color: black;
   font-family: Monospace;

  }
   .pink-text
  {
  color:pink;
  }
</style>
<h1 class="pink-text"> Hello World!</h1>

[2016-10-21 04:01] vladas1987 commented on #11105
I have the same problem :(

[2016-10-21 04:06] vladas1987 commented on #11105
I found problem
need change from

 .fuchsia-text {
    color: 	#0F0;
  }

to

 .fuchsia-text {
    color: 	#F0F;
  }

[2016-10-21 04:30] abhisekp commented on #10857
I think we should move to a more compatible form of the DOM ready function.

What do you think @FreeCodeCamp/issue-moderators ?

[2016-10-21 05:10] the94air opened #11299 "the bootstrap MaxCDN link is not right"
#### Challenge Name
Use Responsive Design with Bootstrap Fluid Containers
https://www.freecodecamp.com/challenges/use-responsive-design-with-bootstrap-fluid-containers

#### Issue Description
the bootstrap MaxCDN link is not right

#### Browser Information

* Browser Name, Version: chrome V51.0.2704.79
* Operating System: Windows 7
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

[code]

[2016-10-21 05:13] #11231 closed

[2016-10-21 05:15] erictleung commented on #11299
@the94air thanks for the issue. This is a common way to tell the browser to just use whatever hypertext protocol is has. See more here http://stackoverflow.com/a/9646435/6873133. Happy coding!

[2016-10-21 05:15] #11299 closed

[2016-10-21 05:24] the94air commented on #11299
I didn't know that before.Thanks

[2016-10-21 05:25] BerkeleyTrue commented on #11198
@Bouncey I don't think you issue has anything to do with err-saga. Err saga does not generate errors it just prints them.

In my backend challenge PR errors in client code will be printed to the output window.

[2016-10-21 05:33] BerkeleyTrue commented on #10022
This issue will require some sort of websocket to re-initiate the 'fetchChallenges' action after the db has been re-seeded. getFromDisk is not practical anymore.

[2016-10-21 05:35] the94air opened #11300 "Bitly Shorten links"
#### Challenge Name
https://www.freecodecamp.com/challenges/make-images-mobile-responsive

#### Issue Description
bitly links isn't working in my country

[code]

#### Screenshot
![bitly images](https://cloud.githubusercontent.com/assets/18303390/19588042/b0bb18fe-976b-11e6-9da8-121076fcecad.PNG)

[2016-10-21 06:26] BerkeleyTrue commented on #11060
@Bouncey This involves changes to the way challenges are grouped, not just a component or a view

[2016-10-21 06:28] thanhlan1912 commented on #9181
https://m.facebook.com/profile.php?id=100005562164845

[2016-10-21 07:07] QuincyLarson opened #11301 "Twitter linking functionality broken on Staging"
#### Issue Description
Run staging locally and attempt to click "link my account with Twitter" on /settings

Twitter will attempt to send you back, but you'll arrive at http://localhost:3000/en/account instead of http://localhost:3000/account

Should /settings be under the /en/ subpath?

[2016-10-21 07:14] QuincyLarson commented on #10930
Hi @charlottetan thanks for your patience with my slow response.

Reading the documentation you linked to, I am inclined to agree with Google. There must be a better way.

@BerkeleyTrue what are your thoughts on this?

[2016-10-21 08:01] BerkeleyTrue commented on #11301
I'm not sure what this has to do with twitter linking.

The redirects from twitter should be /link/twitter/callback. These are not language subdomained.

Has this ever worked for you?
Does the account you are trying to link already linked to twitter?

[2016-10-21 08:40] SweetLearner opened #11302 "my tribute page"
Challenge [Build a Tribute Page](https://www.freecodecamp.com/challenges/build-a-tribute-page) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.79 Safari/537.36 Edge/14.14393</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

[2016-10-21 08:46] QuincyLarson commented on #11301
@BerkeleyTrue this works in production, but I've never tried it on staging. My local database's account has not yet been linked with Twitter. I suspect that if this path were correct it would work.

[2016-10-21 09:06] texas2010 commented on #2822
@vladas1987
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-10-21 09:06] chemicalrush opened #11303 "Challenge was doable (by copy/paste) but did not explain the code enough."
Edit: Figured it out, but decided to leave it up here so that people can see the "newb" thought process,

Solution: I overlooked .target in this code:

button class="btn btn-default target" id="target1"

Right after btn btn-default is the class target, followed by the id target. I just missed the first target.

Derp.

So for making the site more friendly to people being brain dead, like myself, I

[2016-10-21 09:56] knoahg commented on #6126
Thank you for the help

[2016-10-21 10:20] MikeWhite- opened #11304 "my mistake"

[2016-10-21 10:41] #11304 closed

[2016-10-21 12:54] knappsacks commented on #9878
I can't seem to get this one to work either. I keep getting an error message, `TypeError: arr.shift is not a function`.

`
function nextInLine(arr, item) {
  arr = arr.push(item);
  var nextUp = arr.shift();

  return nextUp;  // Change this line
}

// Test Setup
var testArr = [5,6,7,8,9];

// Display Code
console.log("Before: " + JSON.stringify(testArr));
console.log(nextInLine(testArr, 1)); // M

[2016-10-21 12:59] 0319 opened #11305 "Increment a Number with JavaScript Not Working"
Challenge [Increment a Number with JavaScript](https://www.freecodecamp.com/challenges/increment-a-number-with-javascript#?solution=%0Avar%20myVar%20%3D%2087%3B%0A%2F%2F%20Only%20change%20code%20below%20this%20line%0AmyVar%20%3D%20%2B%2BmyVar%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (X11; CrOS x86_64 8530.96.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.154 Safari/537.36<

[2016-10-21 13:17] lijulat commented on #9886
Is this taken?

[2016-10-21 14:09] ja5087 commented on #9878
@knappsacks You've set `arr` to `arr.push(item)`, which returns an integer representing the new length of the array. `arr` now has the value of `6`.  The key idea is that `arr.push(item)` modifies the array itself, and doesn't need the assignment.

[2016-10-21 14:15] dhcodes commented on #11297
I'm in favor of the text change. I'm not sure how to change the diagram or if it's worth the effort once we change the text.

[2016-10-21 14:24] dhcodes commented on #11305
@0319 this issue has come up before in #11258 and other issues. Ultimately, the goal of the exercise is to show incrementing without an `=` as seen in the Note on the challenge page instructions. In other words, it's not that your code doesn't work, it's that it isn't meeting the goals of what the challenge is trying to teach. Closing as duplicate.

[2016-10-21 14:24] #11305 closed

[2016-10-21 14:55] dhcodes commented on #11301
@QuincyLarson fwiw, it's working on staging on my end. I made an fcc testing app at https://apps.twitter.com and then used http://www.freecodecamp.com as the Website and Callback url. After linking Github, I successfully linked Twitter with this method and it sent me to the correct place.

[2016-10-21 15:30] jamesBanda63 opened #11307 "The relaxing cat link seems to not be responding"
The relaxing cat photo link is not responding and i dont really know whats the problem is
#### imge to website

https://www.freecodecamp.com/challenges/add-images-to-your-website#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0

[2016-10-21 15:31] #11307 closed

[2016-10-21 15:37] janicewilson commented on #10820
+1

[2016-10-21 16:06] kurkweb commented on #6112
wow, I hate when I look up the solution for things.  But dang do I feel dumb.  It's just asking you to dig deep.  So you make your var = 16.  Which is a number, which is the same number in your object.  Now lets use our var to look into the object. KK. Whyyyyyy not :)

[2016-10-21 16:16] BerkeleyTrue commented on #11301
@dhcodes Thanks for confirming that.

[2016-10-21 16:16] #11301 closed

[2016-10-21 19:10] NoirTyto opened #11312 "Help with Target the same element with multiple jQuery Selectors"
Target the same element with multiple jQuery Selectors
Wont let me pass.
Ive read the other issues found in the forum and went to Glitter and tried to get help but no luck. I also youtubed the problem and found a video of someone doing the exact same challenged and my code looked identical to his but mine dosent let me pass. ive reset my code and retired it a few times and refreshed my browser. I

[2016-10-21 19:32] NoirTyto commented on #11312
Oh ok sorry

[2016-10-21 19:32] #11312 closed

[2016-10-21 19:57] Bouncey commented on #11271
cc/ @FreeCodeCamp/issue-moderators

Shall we remove the `arr` argument from the function, as a gentle nudge towards the `arguments` object?

[2016-10-21 20:01] Bouncey commented on #11060
So it will need some sort of routing logic for the beginning/end of a block to show a landing page? That's a bit about me just for now

[2016-10-21 20:02] chocolatechimpcookie opened #11313 "Correct answer prints but is not being recognized"
# Golf Code under JavaScript course

**The test requests:**

[code]

**My code:**
**javascript**

[code]

**It says the following is not done:**

[code]

[2016-10-21 20:07] Harry97 opened #11314 "React-Bootstrap CDN not working"
#### Challenge Name

https://www.freecodecamp.com/challenges/build-a-recipe-box

#### Issue Description

While working on the recipe box challenge I decided to use react-bootstrap, but I kept getting errors in the console. So, I decided to try to build things locally and figure out the problem. I found that react-bootstrap didn't load in the first place. So, I think it would be nice to notify camp

[2016-10-21 20:17] #11314 closed

[2016-10-21 20:40] abhisekp commented on #11271
:+1: campers then have to do the following
[code]

or that maybe pre-filled in the challenge seed.

[2016-10-21 20:55] erictleung commented on #11313
@chocolatechimpcookie thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). **Hint**: look at the two tests you have pointed out and double check whether the strings it returns is *exactly* the same as what it requires. You have a missing character in the returned string. Happy

[2016-10-21 20:55] #11313 closed

[2016-10-21 21:16] techstonia commented on #11068
Strange. I can't reproduce the issue locally, but it definitely is present in the production.

[2016-10-21 21:31] Muliro1 opened #11315 "Stand in line"
#### Challenge Name

https://www.freecodecamp.com/challenges/stand-in-line#?solution=%0Afunction%20nextInLine%28arr%2C%20item%29%20{%0A%20arr.push%28item%29%3B%0A%20%20arr.shift%28%29%3B%0A%20%20%0A%20%20%0A%20%20return%20item%3B%20%20%2F%2F%20Change%20this%20line%0A}%0A%0A%2F%2F%20Test%20Setup%0Avar%20testArr%20%3D%20[1%2C2%2C3%2C4%2C5]%3B%0A%0A%2F%2F%20Display%20Code%0Aconsole.log%28%22Before%3A

[2016-10-21 21:34] RomaKushnir opened #11316 "header issue"
Hey everybody.  [Here is my portfolio](https://codepen.io/RomaKushnir/details/QKJxJE/) Scrolling below were portfolio pictures cross header is my problem yet. Header is transparent over that pictures. I also tried to embed background-size:cover to that pictures but failed. Don't mind to help me to fix my issue.
Thanks.

[2016-10-21 23:34] PedroCSSilva commented on #11315
Please be more specific.

[2016-10-22 00:09] Manish-Giri commented on #11315
@Muliro1 you're still missing a step of the challenge, look at this instruction -

and look at what you're returning.

If you're still stuck, visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) for further help.

[2016-10-22 01:23] erictleung commented on #11316
@RomaKushnir GitHub is not the place for code and project feedback. I would use one of the Gitter rooms as that is a better and suggested way to get feedback. [Here](https://gitter.im/FreeCodeCamp/HelpFrontEnd) is one of the rooms where you can feedback. Closing as not an issue with the FreeCodeCamp website. Happy coding!

[2016-10-22 01:23] #11316 closed

[2016-10-22 01:57] dcgit commented on #11226
I have submitted a pull request to fix this issue. The change allows common valid characters such as extra spaces while also validating exact keyword color as well as allowing the value white and it's hex version #ffffff

[2016-10-22 03:48] dhcodes commented on #11302
Closing for now. Reopen if the site has an issue.

[2016-10-22 03:48] #11302 closed

[2016-10-22 03:53] dhcodes commented on #11300
@the94air sorry to hear that bitly links don't work where you live. When the site gets its next update, the challenge will accept either the bitly link or the actual src of the file `https://s3.amazonaws.com/freecodecamp/running-cats.jpg` per #10306. The latter should work internationally. Thanks for notifying us of the issue, though.

[2016-10-22 03:53] #11300 closed

[2016-10-22 03:54] dhcodes commented on #11315
@Muliro1 you have an error in your code. Please consider asking for help in the chat room by clicking the Help button on the challenge or using the link posted by @Manish-Giri. Thanks.

[2016-10-22 03:54] #11315 closed

[2016-10-22 05:41] dana2402 commented on #7420
}
 .smaller-image { width: 100px;}
 </style>

<h2 class="red-text">CatPhotoApp</h2>

<img class="smaller-image" src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back. " >

[2016-10-22 05:41] dana2402 commented on #7420
}
 .smaller-image { width: 100px;}
 </style>

<h2 class="red-text">CatPhotoApp</h2>

<img class="smaller-image"

[2016-10-22 06:42] mmdock commented on #2642
No one seems to have cared about this for over a year, but I feel like I should bring this back up.
@benschenker I feel like I have to agree with @nickbarry on this.  I was genuinely confused for a moment as two waypoints has you delete those three addclass function calls, then the waypoint prior has you add a different three addclass function calls.  They exist for a few more waypoints until the

[2016-10-22 08:40] asiparsi930 opened #11319 "Roman Letters Testing Bug."
so i have been doing this challenge for the last 1-2 hours and i thought i finally got it.
the problem is that when i test numbers that are 1000 and above the results shows me the infinite loop massage.

this is my code:

![mycde](https://cloud.githubusercontent.com/assets/19238395/19618208/4755e196-984c-11e6-9f47-120a312ca229.jpg)

please help me here :)

[2016-10-22 09:53] Dayfiri commented on #11319
@asiparsi930
You need more work on it.
Your code is producing `infinite loop` and that is no good.
Check for help with code in the future here -> [help chat room](https://gitter.im/FreeCodeCamp/Help).

[2016-10-22 10:26] melkisedek opened #11320 "Wrong return values on side panel"
Challenge [Smallest Common Multiple](https://www.freecodecamp.com/challenges/smallest-common-multiple#?solution=function%20gcd(a%2C%20b)%7B%0A%20%20if(a%20%3D%3D%20b)%7B%0A%20%20%20%20return%20a%3B%0A%20%20%7D%20else%20if(a%20%3E%20b)%7B%0A%20%20%20%20a%20%3D%20a%20-%20b%3B%0A%20%20%20%20return%20gcd(a%2C%20b)%3B%0A%20%20%7D%20else%20if(b%20%3E%20a)%7B%0A%20%20%20%20b%20%3D%20b%20-%20a%3B%0A%20%20

[2016-10-22 11:51] evaristoc commented on #8418
@ladybugtju sorry for late response:
yes that could be a problem when using node but check: are you async the writing in chunks? try not to keep data in memory? I have been using python which doesn't have that limit.

[2016-10-22 12:07] texas2010 commented on #7420
@dana2402
Please do not post your solution on here. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-10-22 12:11] texas2010 commented on #11314
@Harry97, your issue is nothing with the fcc site.  if you need a help. you could go to chat room. okay

[2016-10-22 17:00] marienhof opened #11321 "Mistake"
Console shows that there's a mistake.

Challenge [Accessing Objects Properties with Variables](https://www.freecodecamp.com/challenges/accessing-objects-properties-with-variables#?solution=%0A%2F%2F%20Setup%0Avar%20testObj%20%3D%20%7B%0A%20%2012%3A%20%22Namath%22%2C%0A%20%2016%3A%20%22Montana%22%2C%0A%20%2019%3A%20%22Unitas%22%0A%7D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%3B%0A

[2016-10-22 17:10] PedroCSSilva commented on #11321
Yeah and there's a mistake on your code. Where's your "player" variable? This is the proper solution:

`// Only change code below this line;

var playerNumber = 16;       // Change this Line
var player = testObj[playerNumber];   // Change this Line
`

[2016-10-22 17:23] Bouncey commented on #11321
@PedroCSSilva what @marienhof is pointing out is that the output displays`testObj[playerNumber]` without it being assigned to player.

I can confirm this issue, but I have a feeling it is resolved in the react release. I will check it what I get a chance.

[2016-10-22 17:30] Bouncey commented on #11320
@melkisedek can you expand on what you mean by 'wrong return values on side panel'?

To you mean the wrong value is displayed on the little black 'output' window, or the return values are wrong for the test cases?

[2016-10-22 17:57] raisedadead commented on #7468
@QuincyLarson to the best of my knowledge I believe this is still an open issue and no one is working on this.

[2016-10-22 17:59] raisedadead commented on #6924
Nope. Unfortunately this is open. Tagging as Help Wanted. I might take a look once I get some time, but if any one is interested, please have a look.

[2016-10-22 18:00] melkisedek commented on #11320
The code above return lcm for the two numbers in the array. Someone in the forum informed me that it should have been for the **range** between and including the two numbers in the array.  I fixed it.

[2016-10-22 18:00] #11320 closed

[2016-10-22 18:34] aovsne commented on #11150
lmao.. this convo is kinna funny though!

[2016-10-22 19:57] systimotic opened #11323 "Snyk error on Windows"
Hello good humans!
There's a problem with Snyk on Windows. `snyk protect` requires the Unix `patch` utility. This issue is related to #11145, which includes the error log. `snyk protect` runs automatically after `npm install` because of the `prepublish` script. A possible solution is to install this tool manually on Windows, or use the [git command line tools](https://git-for-windows.github.io/),

[2016-10-22 20:01] systimotic commented on #11321
@Bouncey It's actually being assigned to the player variable in both the live version and the React version. I think @marienhof accidentally removed it.

[2016-10-22 20:10] fannster opened #11324 "Multiple challenge issues"
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20

[2016-10-22 20:13] fannster commented on #11324
I also have issues with add borders,  add rounded corners and make circular  image. They are all class issues. I am using a tablet and don't  know if that is causing  the problem

[2016-10-22 20:26] yasserhussain1110 opened #11325 "CSRF authentication problem"
I tried to set up the FCC server locally in my machine, following the instructions given here - https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md

edit(@berkeleyTrue):

Looks like #11058 is going to be delay a bit, so I've move this to confirmed again and added a help wanted tag.

The issue lies with a typo [here](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/cl

[2016-10-22 20:30] Islampk opened #11326 "i have a problem while replacing the value of href with # . could anybody help me"
Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-f

[2016-10-22 20:30] QuincyLarson commented on #7468
@raisedadead OK - thanks for confirming this.

[2016-10-22 20:39] yasserhussain1110 commented on #11326
Your code is wrong. Please ask for help here. https://gitter.im/FreeCodeCamp/Help

[2016-10-22 20:51] raisedadead commented on #11325
@yasserhussain1110 just curios did you also run `npm run only-once` if first time or `node seed` to actually feed the database with the challenges?

[2016-10-22 20:54] #11326 closed

[2016-10-22 20:54] #11319 closed

[2016-10-22 21:00] systimotic commented on #11324
Hi @fannster! Thanks for catching this issue. It seems like this is a common issue with mobile devices. They sometimes seem to insert non-breaking spaces rather than normal spaces, which (no pun intended) break the code. If you remove the spaces before the line with `width: 100px` on it, things work fine. Currently, there are two more open issues about this same thing: #11086 #7753 I definitely fe

[2016-10-22 21:04] raisedadead commented on #11323
Yeah that sounds about right, but this is probably just limited to Windows Dev Environment. Which means this is more specific to the Snyk integration itself and not free code camp's code base.

While I really like the idea, cause new contributors often get frightened with the complexity of setting up the env as such, I do suggest that this should be followed up with the Snyk team as well, for bett

[2016-10-22 21:11] fannster commented on #11324
Perfect thank u

[2016-10-22 21:11] #11324 closed

[2016-10-22 21:12] raisedadead commented on #7468
Yeah sure, if no one picks up, I'll be happy to take this on.

[2016-10-22 21:14] yasserhussain1110 commented on #11325
@raisedadead yup did that.

[2016-10-22 21:26] systimotic commented on #5667
Things have been quiet in here for a while! I just checked out the live version. The buttons have been moved to the top. There's still a major difference with @stefanivic's version though. To be honest, I quite like how what's up on the live site looks. The only downside to me is that it does take up a lot of space. Are we going to stick with what's live or with the new version? Should the other i

[2016-10-22 21:29] atjonathan commented on #5667
I'm happy to implement this new design if we agree on it. I personally still think that @stefanivic's proposal is an improvement over the current design.

[2016-10-22 21:30] raisedadead commented on #11325
This is bit strange, mind sharing your environment details like Browser, OS, etc. Not sure, but I don't believe that completing the challenge should require any authenticated requests at all.

Which it seemingly needs in your case in the logs above (403).

[2016-10-22 21:49] yasserhussain1110 commented on #11325
@raisedadead
My dev environment -

OS - Ubuntu 14.04
Browser - Google Chrome.

[2016-10-22 22:02] systimotic commented on #9851
I've delved into this issue a bit more. Going from @elisecode247's and @kevcomedia's findings, here's what I found.
The second argument of `Array.prototype.filter` is the optional `thisArg`. If you pass an object, it will set `this` inside the callback. Without `'use strict';`, this can only be an object. If what's passed as the `thisArg` isn't an object, it will set `this` to an empty object. Wit

[2016-10-22 22:15] raisedadead commented on #11325
Okay, I can reproduce this one. I am not sure of the reason yet. But, having said that its not breaking any functionality, that I could see. Or is it?

[2016-10-22 22:16] raisedadead commented on #11325
/cc @BerkeleyTrue maybe you have an idea, what this is is.

[2016-10-22 22:19] raisedadead commented on #9121
Closing as stale?

[2016-10-22 22:19] #9121 closed

[2016-10-22 22:20] systimotic commented on #5667
I do really like how much more compact the proposal is. I also prefer the buttons as they currently are. For consistency, it would probably be good to use the current button style. I think making the text larger could really help readability. The text here is smaller than in most places on FreeCodeCamp. Quincy has previously commented about [increasing the font size on FCC](https://medium.com/@qui

[2016-10-22 22:46] systimotic commented on #11325
I talked about this issue with @yasserhussain1110 on Gitter before. I thought I was doing the same thing, but I couldn't reproduce the issue. I now did manage to reproduce it. Here are my steps:
- Make sure you are logged in
- Go to any challenge

Both of these steps seem essential in order to reproduce. Although this is not breaking functionality, it does show an error toast to the user. If you l

[2016-10-22 22:50] systimotic commented on #11297
I agree with @dhcodes. The text change can make a major difference. I think changing the diagram probably won't make all that much of a difference. I'd say it's a go @Manish-Giri!

[2016-10-22 23:13] QuincyLarson commented on #5667
@systimotic yes - Bootstrap 4.0 boosts default font size to 17px which I think is a pretty good size. We'll implement this later after it is stable.

[2016-10-22 23:23] Dayfiri commented on #11321
@systimotic I think that is true. I fresh opened FCC page without being signed in. Went to this assignment and the assignment was already written:
`var player = testObj[playerNumber];`
I just clicked the button to `run code` and I passed without even doing anything

[2016-10-22 23:34] systimotic commented on #11321
Mmm, that's not what I got. That would also be an issue. For me, I get what I'm supposed to get, both when I load the page in a browser I usually don't use (= not logged in) or when I reset the challenge:
[code]

[2016-10-22 23:46] Dayfiri commented on #11321
@systimotic It is alright now. I think there are cookies so it might be a problem.
I entered a page from new browser (Opera), deleted everything from history. When I entered a page, it was alright. Here is an example:
![screenshot from 2016-10-23 01-44-20](https://cloud.githubusercontent.com/assets/16082563/19623239/8b3d5530-98c2-11e6-8ba2-e31590249f12.png)

[2016-10-23 00:05] shojaala commented on #5358
7241

[2016-10-23 00:19] welcometan opened #11330 "Your <style> should have a pink-text CSS class with its color set to pink."
Challenge [Prioritize One Style Over Another](https://www.freecodecamp.com/challenges/prioritize-one-style-over-another) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-10-23 00:21] erictleung commented on #11330
@welcometan although that color property for `.pink-text` only have one CSS property, we require that you have semi-colons at the end of each property. Yes, they aren't required but as you add more properties, these semi-colons will be needed. I hope that clears things up. Happy coding!

[2016-10-23 00:21] #11330 closed

[2016-10-23 00:33] shojaala commented on #11325
304 GET 98.934 ms - /services/map;lang=en?_csrf=undefined&returnMeta=true
304 GET 100.827 ms - /services/user?_csrf=undefined&returnMeta=true

[2016-10-23 01:06] zairmubashar opened #11331 "Incorrect Challenge Test Case result on Chrome"
#### Challenge Name

FEDC -> Basic Javascript -> Nest one Array within Another Array
https://www.freecodecamp.com/challenges/nest-one-array-within-another-array
FEDC -> Basic Javascript -> Store Multiple Values in one Variable using JavaScript Arrays
https://www.freecodecamp.com/challenges/store-multiple-values-in-one-variable-using-javascript-arrays
Probably more

#### Issue Description

After ge

[2016-10-23 01:06] zairmubashar opened #11332 "Incorrect Challenge Test Case result on Chrome"
#### Challenge Name

FEDC -> Basic Javascript -> Nest one Array within Another Array
https://www.freecodecamp.com/challenges/nest-one-array-within-another-array
#### Issue Description

`var myArray = [myArray];` is treated as a correct solution. Sometimes it isn't immediately treated as correct, but upon running tests a second time it is. I haven't ever had to run tests more than twice to have thi

[2016-10-23 02:21] Bouncey commented on #11325
I can confirm also

Ubuntu 16.04
Node 6.4
Chrome latest

On completing a challenge, brownie points do not increment with xhr 304 in the console.

If I navigate back to the challenge,

`state.challengesApp.isComplete: false  // this is from memory, could be elsewhere in state`

Previous code is loaded from local storage.

[2016-10-23 02:26] dhcodes commented on #11297
go forth and PR @Manish-Giri

[2016-10-23 02:30] dhcodes commented on #11321
I'm still not clear what the issue is. @marienhof, can you elaborate?

[2016-10-23 02:36] dhcodes commented on #11331
@zairmubashar I don't think this is an issue. The `myArray` variable is actually storing your nested array. This can be seen by opening the Dev Tools console in chrome and entering this code into the editor
[code]

You'll see that myArray is storing `[["a"]]`. Therefore, if you replace `myArray = [["a"]]` with `myArray = myArray` then it will still pass because myArray has already been set to a ne

[2016-10-23 02:36] #11331 closed

[2016-10-23 03:42] PrudhviBoggavarapu opened #11334 "not triggering"
Challenge [Create an Ordered List](https://www.freecodecamp.com/challenges/create-an-ordered-list#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monosp

[2016-10-23 03:50] dhcodes commented on #11334
@PrudhviBoggavarapu you have an error in your code. Please consider asking for help in the chat room by clicking the help button on the challenge.

[2016-10-23 03:50] #11334 closed

[2016-10-23 03:52] walterwilhelm commented on #11324
Add Images to your Website
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, Monospace;
  }
<img src="https://s3.amazonaws.com/freecodecamp/relaxing-cat.jpg" alt="Author standing on a beach with two thumbs up.">
  p {
    font-size: 16px;
    font-family: Monospace;
  }
</style>

[2016-10-23 04:08] petrgazarov commented on #6924
I'd be happy to take this one this week.

[2016-10-23 04:20] Kodin24 opened #11335 "This challenge has an issue :Target the Parent of an Element Using jQuery"
Entering this code which is correct, but Freecodecamp is not recognizing the resultChallenge [Target the Parent of an Element Using jQuery](https://www.freecodecamp.com/challenges/target-the-parent-of-an-element-using-jquery#?solution=%0Afccss%0A%20%20%24(document).ready(function()%20%7B%0A%20%20%20%20%24(%22%23target1%22).css(%22color%22%2C%20%22red%22)%3B%0A%20%20%20%20%24(%22%23target1%22).prop

[2016-10-23 04:52] chiptus commented on #11323
So you mean if I do npm install and get the error, i'm still good?
Can we add this to the notes for new contributors?
Also, using git bash worked.

[2016-10-23 05:16] erictleung commented on #11335
@Kodin24 thanks for the issue. However, your code doesn't exactly follow what is needed to pass the challenge. Please reread the instructions.

If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-10-23 05:16] #11335 closed

[2016-10-23 05:34] erictleung commented on #11332
@zairmubashar thanks for the issue. I wasn't able to fully reproduce your error but I think I know what is going on. The reason why it takes two tries for your code to work is that the tests are run right after each other and the values from the previous test run are still saved.

In other words, when you run the tests the first time, you get an array `myArray = [myArray]`, which when you `console

[2016-10-23 07:26] Drewfow94 opened #11337 "Problem with passing the tests on this challenge"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.71 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-10-23 07:46] chayano commented on #9878
thank yous

[2016-10-23 07:47] chayano opened #11338 "TaroEntarpries"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-23 08:02] MikeDisheng-Wang opened #11339 "Add Borders Around your Elements"
#### Challenge Name
Add Borders Around your Elements

#### Issue Description
this challenge must follow in order to finish:
<style>
  .thin-red-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
  }
</style>

if I switch border-color/width/style in different order, for example:
<style>
  .thin-red-border {
    border-width: 10px;
    border-color: green;
    border-

[2016-10-23 08:26] erictleung commented on #11339
@MikeDisheng-Wang no, the order shouldn't matter. However, the class name does matter. At least in your code example here, you have the class `thin-red-border` but the challenge requires `thick-green-border`. That will prevent you from passing.

If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hap

[2016-10-23 08:26] #11339 closed

[2016-10-23 08:28] erictleung commented on #11338
@chayano please fill in the issue template if you have a bug. If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Closing as the title is not descriptive and the issue template is not filled out. Please comment on this issue if you really have an issue. Otherwise, please use the chat rooms for coding

[2016-10-23 08:28] #11338 closed

[2016-10-23 08:30] erictleung commented on #11337
@Drewfow94 thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: `p` elements are elements themselves, not classes. Happy coding!

[2016-10-23 08:30] #11337 closed

[2016-10-23 09:35] systimotic commented on #11323
@chiptus Yep, it should all be fine. Adding this as a note is definitely an option. I think the best option would be to completely remove the source of the error, which is what we're talking about here. Thanks for confirming that git bash works!

[2016-10-23 10:40] chestnutcracker opened #11340 "it tells me that i have to link the a element but i think i already did it"
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2016-10-23 10:56] raisedadead commented on #11325
I could reproduce this on OSX without a user login.

[2016-10-23 10:57] raisedadead commented on #6924
@petrgazarov thanks. do checkout the contributing guide and reach out on the contributors chat if you need any assisstance

[2016-10-23 10:59] raisedadead commented on #11332
Looks like the trouble with using global vars?

[2016-10-23 12:18] texas2010 commented on #11340
@chestnutcracker, you got a typo in code.  that is why it won't passed.
this is your typo. `<a herf="http://freecatphotoapp.com">`

I closed this issue since this issue don't have a bug or problem.

[2016-10-23 12:18] #11340 closed

[2016-10-23 16:43] chiptus commented on #11265
I don't really understood what the issue is. Can you please elaborate?

[2016-10-23 17:37] Dayfiri commented on #11332
@raisedadead I would say it is a problem in assignment that doesn't require specific value inside the nested array. It passes when you give it to him `[[one_array]]` inside another.

1. Here we passed `ourArray` in myArray variable
![value_names](https://cloud.githubusercontent.com/assets/16082563/19628148/88198500-9957-11e6-9f07-a7db0e978ad9.png)

2. Here we passed myArray in myArray
![value_no_n

[2016-10-23 18:56] praveenoswal17 opened #11341 "Code lets pass user even if code is wrong because of inadequate number of cases"
Challenge [Confirm the Ending](https://www.freecodecamp.com/challenges/confirm-the-ending#?solution=%0Afunction%20confirmEnding(str%2C%20target)%20%7B%0A%20%20%2F%2F%20%22Never%20give%20up%20and%20good%20luck%20will%20find%20you.%22%0A%20%20%2F%2F%20--%20Falcor%0A%20%20var%20b%3D3%3B%0A%20%20str%20%3D%20str.split('')%3B%0A%20%20target%20%3D%20target.split('')%3B%0A%20%20if(target.length%20%3D%3D1%

[2016-10-23 18:59] praveenoswal17 commented on #11341
![new issue](https://cloud.githubusercontent.com/assets/20150659/19628672/da312d9c-9980-11e6-841c-481033b5c5c1.jpg)

[2016-10-23 19:24] praveenoswal17 commented on #11341
one of 4th or 5th case word should have more characters

[2016-10-23 19:38] Manish-Giri commented on #11297
Okay, on it. Thanks.

[2016-10-23 19:38] zairmubashar commented on #11332
@erictleung I think you're right, though it only takes two tries after I've already set ```myArray``` to something like ```1``` and failed the tests. I think that's because the default line ```var myArray = [];``` actually already sets ```myArray``` to ```[]``` before the user has a chance to play with the code.

I used
[code]
to arbitrary nest ```myArray``` in the method you suggested. I did noti

[2016-10-23 19:46] systimotic commented on #11341
This confused me at first. I didn't understand why the things that were happening were happening. I took a dive into your code, and I believe I understand it now. For anyone else, here is my commented out, console.log-ed upped version: [debugging confirm the ending](https://www.freecodecamp.com/challenges/confirm-the-ending#?solution=function%20confirmEnding(str%2C%20target)%20%7B%0A%20%20var%20b%

[2016-10-23 19:49] AlaeddineMessadi commented on #9314
This will work fine

`myStr= "FirstLine\n\\SecondLine\\\rThirdLine"; // Change this line`

[2016-10-23 19:56] gurung666 commented on #4405
<script>
  $(document).ready(function() {
    $("button")
    $(".btn")
    $("#target1").addClass("animated");
    $("#target1").addClass("shake");
    $("#target1").addClass("btn-primary");
  });
</script>

solution

[2016-10-23 20:21] shadowofbaraddun commented on #10954
Escape sequences are written with backslashes not forward slashes.

[2016-10-23 21:03] vonne31 opened #11342 "issue"
Challenge [Give a Background Color to a Div Element](https://www.freecodecamp.com/challenges/give-a-background-color-to-a-div-element#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20

[2016-10-23 21:12] Manish-Giri commented on #11342
@vonne31 you still need the css for `silver-background` class, in between the style tags

[2016-10-23 21:18] diomed commented on #11342
![your coding has an issue](https://files.gitter.im/diomed/7qba/thumb/aneurizma.gif)

stop opening  github issues for gods sake, and admit to yourself that problem is in your coding.

[2016-10-23 21:31] Sp00kyDan opened #11343 "System wants you to enter code incorrectly."
#### Challenge Name

Use Responsive Design with Bootstrap Fluid Containers

#### Issue Description

This particular page is requiring you to place your open `<div>` above style when it should be below it, and thus confused me as to why I wasn't allowed to run the test properly.

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[c

[2016-10-23 22:00] texas2010 commented on #4405
@gurung666
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-10-23 22:02] texas2010 commented on #11342
@vonne31
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-10-23 22:02] #11342 closed

[2016-10-24 00:14] BerkeleyTrue commented on #6924
Is this still in issue in staging? I changed the way the profile page pulls the meta information for a challenge.

[2016-10-24 00:22] BerkeleyTrue commented on #11323
Has anyone opened an issue with Snyk?

[2016-10-24 00:42] hallaathrad commented on #11043
Hmm I take it there's no interest in pursuing this issue. closing

[2016-10-24 00:42] #11043 closed

[2016-10-24 00:51] hallaathrad commented on #10507
The text is as @dhcodes describes. Closing, as I do agree the text should be self-explanatory enough this way. Please reopen if the wording should be changed.

[2016-10-24 00:51] #10507 closed

[2016-10-24 00:54] kdelagram commented on #11312
yea the code seems to be correct but doesn't pass the challenge...think there is an issue because if I copy and paste some code from the previous challenge and edit it to look just it does there, then it will pass...but if I write out the code instead of pasting it in then it won't pass...

[2016-10-24 01:18] hallaathrad commented on #10403
Though I agree on it being a good habit (one I apply myself without exception), since we're making an exception to the unspoken rule of not doing inline styling unless absolutely necessary for the sake of simplicity, we should also not add seemingly complex concepts like ending a phrase with a semicolon.
At that stage of the curriculum (first example of styling in the whole map) it is an unnecessa

[2016-10-24 02:32] dhcodes commented on #11343
@Sp00kyDan what do you mean by "place your open"?

[2016-10-24 02:56] othwald opened #11344 "Test fails for correct code."
I took the code directly from github that freecodecamp posted, and it still didn't work. Of the questions is this...smallestCommons([1, 5]) should return 60." It actually should be 5.

Challenge [Smallest Common Multiple](https://www.freecodecamp.com/challenges/smallest-common-multiple#?solution=%0Afunction%20smallestCommons(arr)%20%7B%0A%20%20%2F%2F%20Sort%20array%20from%20greater%20to%20lowest%0

[2016-10-24 03:52] Harry97 commented on #11314
I understand, but it does affect FCC one way or another. And, I've found out that the problem is solved by using non-minified version of both React and React-dom libraries, so I terminated the issue. You do have a point and I'mma keep it in my mind next time, thanks!

[2016-10-24 04:05] serdartkm opened #11345 "Sum All Odd Fibonacci Numbers"
Page failed to respond after clicking the test button at https://www.freecodecamp.com/challenges/sum-all-odd-fibonacci-numbers  link.
Clearing my browser's local storage and hard refreshing did not help. I could not finish this test and had to move to the next.

[2016-10-24 05:00] JTKnox91 commented on #11344
@othwald I found this prompt a bit confusing too. `smallestCommons([1,5])` is not asking for the smallest common multiple of `1` and `5` (which would be just `5`). Its asking for the smallest common multiple of `1`, `2`, `3`, `4`, and `5`. Which is in fact `60`. Does that answer your question?

[2016-10-24 05:00] jorgemonte opened #11346 "Challenge "Prioritize One Style Over Another" at freecodecamp (HTML/CSS)"
Challenge [Prioritize One Style Over Another](https://www.freecodecamp.com/challenges/prioritize-one-style-over-another#?solution=%0A%3Cstyle%3E%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20black%3B%0A%20%20%20%20font-family%3A%20Monospace%3B%0A%20%20%20%20color%3A%20green%3B%0A%20%20%7D%0A%20%20%0A%20%20.pink-test%7B%0A%20%20%20%20color%3A%20pink%3B%0A%20%20%7D%0A%0A%3C%2Fstyle%3E%0A%0A

[2016-10-24 05:02] jorgemonte commented on #11346
I'm quite sure I did everything that was requested but I can't still advance... I receive an "X" mark for those items:
(X) Your h1 element should have the class pink-text.
(X) Your <style> should have a pink-text CSS class with its color set to pink.

[2016-10-24 05:06] Manish-Giri commented on #11346
@jorgemonte looks like you did everything requested except spelling `pink-text` correctly.

[2016-10-24 05:24] jorgemonte commented on #11346
Thank you @Manish-Giri ! This is a typical "time-to-sleep" mistake hahah, thanks!

[2016-10-24 05:24] #11346 closed

[2016-10-24 05:32] erictleung commented on #11345
@serdartkm it sounds like you may have introduced an infinite loop into your code. Please read this for more information on how to make it un-stuck http://forum.freecodecamp.com/t/disable-code-auto-run-on-free-code-camp/19511. If you are not experiencing this infinite loop, then please give us more information about the issue you're experiencing and maybe some screenshots. Thanks!

[2016-10-24 07:00] usernameoccupied opened #11347 "Got stuck here...couldn't pass..."
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2016-10-24 07:15] rayedaslam commented on #11347
Everything is fine. What is the issue?

[2016-10-24 07:34] raisedadead commented on #11347
The issue tracker is for reporting bugs only. If this is a request for help with a challenge, please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Closing.

[2016-10-24 07:34] #11347 closed

[2016-10-24 08:43] Bouncey commented on #11341
Oh wow! @praveenoswal17 thanks for finding this bug, it seems so obvious when looking at it now.

But what an edge case to highlight it :+1: :smile:

-

## First-timers only!

Add another test that should return true, but with a  `target.length > 4`.

The code for this challenge lies [here](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/52990dd1aa4542b0c5fa2ae4212da2b6f4e70c42/seed/challenges/0

[2016-10-24 09:19] systimotic commented on #11341
@Bouncey I'd be in favor of also adding a test that has the last three or four characters equal, but only the very first character doesn't match. Something like `confirmEnding('Open sesame', 'game')`

[2016-10-24 09:23] praveenoswal17 commented on #11341
As @Bouncey pointed out, one more case where target.length>4 case should be added.

[2016-10-24 09:26] PedroCSSilva commented on #11341
@Bouncey, can I be assigned for this issue? I'm a first-timer

[2016-10-24 09:26] serdartkm commented on #11345
Hi everybody, thank you for your help. Finally I found the problem. I cleared the browser data and it seems to work.

[2016-10-24 09:26] #11345 closed

[2016-10-24 09:28] #9842 closed

[2016-10-24 09:33] Bouncey commented on #11325
Blocking as resolved, depending on #11058

[2016-10-24 09:41] systimotic commented on #11341
@praveenoswal17 I should clarify. Currently, checking the one length targets, returning true for the 4 length answers and returning false for everything else. Another passing solution would be to only check if the last two characters match. Adding a test that should return true with a target length larger than four fixes the first issue, but it doesn't help the second issue. A test like I suggeste

[2016-10-24 09:46] Bouncey opened #11348 "Stand in line has an issue"
#### Challenge Name

localhost:3000/en/challenges/basic-javascript/stand-in-line
#### Issue Description

When running multiple tests, the `console.log()`'s stack up in the `output` window, even after a hard reload and reset of my code.

[code]
#### Browser Information

- Browser Name, Version: Chrome latest
- Operating System: Ubuntu 16.04
- Mobile, Desktop, or Tablet: Desktyop
#### Your Code

[co

[2016-10-24 09:48] #9878 closed

[2016-10-24 10:02] flourmills opened #11349 "CSS style"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3A%20red%3B%7D%0A%3C%2Fstyle%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20gra

[2016-10-24 10:57] CptnRnz commented on #9120
did u solve it? im stuck here too i need help

[2016-10-24 11:04] mmcgabhann1955 opened #11350 "Curly bracket problem with style sheets"
HI,
I'm working on style sheets for the first time. You can see the correct code below but when I enter the curly brackets {} a small dash appears automatically before the first bracket and after the second bracket, like this
-{   }- . Can anyone offer a suggestion as to how to get rid of these dashes as I think they are interfering with my code. When I go to delete them, then the brackets disappe

[2016-10-24 11:12] systimotic commented on #11349
Hi @flourmills! There's an issue with your code. For coding help, please go to [the Gitter help room](https://gitter.im/freecodecamp/Help). The 'help' button on the challenge also takes you there. Here's a hint: the color should be blue, and the h2 element should still be there. You only need to remove the `style` attribute of the h2 element.

[2016-10-24 11:52] Bouncey commented on #11350
@mmcgabhann1955 Please reset the challenge and try again. You have deleted all elements from your code.

If you are still having problems passing the challenge, try the `Help` button, this will take you to a dedicated code help chat room.

GitHub issues are for problems/bugs with freeCodeCamp itself, not for help with challenges.

Happy Coding :+1:

[2016-10-24 11:52] #11350 closed

[2016-10-24 11:53] Bouncey commented on #11349
@flourmills as @systimotic says:

[2016-10-24 11:53] harshtomar6 opened #11351 "my code will give roman for 400 as CCCC but it still passess the test."
Challenge [Roman Numeral Converter](https://www.freecodecamp.com/challenges/roman-numeral-converter#?solution=%0Afunction%20convertToRoman(num)%20%7B%0A%20%20var%20roman%2CromanNumber%3D''%2Ci%2Cflag%3D0%2Cn%3Dnum%3B%0A%20%20var%20r%20%3D%20%5B1%2C4%2C5%2C9%2C10%2C40%2C50%2C90%2C100%2C500%2C900%2C1000%2C15000%5D%3B%0A%20%20%0A%20%20while(n%3E0)%7B%0A%20%20for(i%3D0%3Bi%3Cr.length%3Bi%2B%2B)%7B%0A%

[2016-10-24 11:53] #11349 closed

[2016-10-24 11:59] Bouncey commented on #11351
A test is needed for
[code]

[2016-10-24 12:09] Bouncey commented on #10592
I've just tried to QA #11306, but I cannot replicate on the production site

[2016-10-24 12:26] #7072 closed

[2016-10-24 13:13] Coderoe opened #11352 "Can we also check if the user uses unshift instead of push"
Challenge [Count Backwards With a For Loop](https://www.freecodecamp.com/challenges/count-backwards-with-a-for-loop#?solution=%0A%2F%2F%20Example%0Avar%20ourArray%20%3D%20%5B%5D%3B%0A%0Afor%20(var%20i%20%3D%2010%3B%20i%20%3E%200%3B%20i%20-%3D%202)%20%7B%0A%20%20ourArray.push(i)%3B%0A%7D%0A%0A%2F%2F%20Setup%0Avar%20myArray%20%3D%20%5B%5D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%

[2016-10-24 13:40] BerkeleyTrue commented on #11325
hmmm... waffle.io should move things with a PR to QA.

[2016-10-24 14:43] dhcodes commented on #11344
@othwald remove the semi-colon from this line `while (n !== newArr.length);` and it will work with the code even though the editor will put an X by that line requesting a semi-colon. The editor doesn't do this on the staging branch so when the new version of the site goes live, it will work without removing the semi-colon.

[2016-10-24 14:43] #11344 closed

[2016-10-24 14:51] matheenfazze opened #11354 "add images to websites"
Challenge [Add Images to your Website](https://www.freecodecamp.com/challenges/add-images-to-your-website#?solution=%0A%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%20%20%7D%0A%0A%20%20p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%20%20font-family%3A%20Monospace%3B%0A%20%20%

[2016-10-24 15:55] Manish-Giri commented on #11354
@matheenfazze Read the instructions all the way through. The image you should use is this -

https://bit.ly/fcc-relaxing-cat

[2016-10-24 15:57] dhcodes commented on #11354
@matheenfazze In addition to @Manish-Giri's recommendation, please consider asking for help in the Help Chat by clicking the help button on the challenge. Thanks and happy coding.

[2016-10-24 15:57] #11354 closed

[2016-10-24 15:59] Manish-Giri commented on #11351
@Bouncey Can I take this up?

[2016-10-24 16:05] dhcodes commented on #11348
Confirmed. I wonder if this has to do with how this challenge is constructed. Most don't console.log the tests in the editor.

[2016-10-24 18:37] eXo5 opened #11356 "Overring Styles in Subsequent CSS typographical error."
If you're reading this, just know that I'm a fucking moron. Thanks for your time, but disregard ENTIRELY lol

There's just a typo or an oversight.

#### Challenge Name

https://www.freecodecamp.com/challenges/override-styles-in-subsequent-css#?solution=%0A%3Cstyle%3E%0A%20%20body%20%7B%0A%20%20%20%20background-color%3A%20black%3B%0A%20%20%20%20font-family%3A%20Monospace%3B%0A%20%20%20%20color%3A%2

[2016-10-24 19:16] TrinNicole opened #11357 "Prior Bootstrap Classes Taught not showing up in subsequent code windows, in Lessons"
Hiya,

Prior Bootstrap Classes Taught not showing up in subsequent code windows, specfically the `<btn>,`  `<btn-block>'  <btn-info>, <btn-primary>,<btn-danger>, `for` the Bootstrap CSS lessons,, in Lessons. I thought at first that this was done on purpose so that we memorize the bootstrap classes but it is blatantly obvious in the first lesson on the list, and it bugs me a lot haha.

#### Challen

[2016-10-24 19:23] erictleung commented on #11356
@eXo5 thanks for the issue but commas aren't necessary when you add multiple classes to HTML elements. Your code is incorrect and that is why it is not passing the challenge. Please reread the instructions for how to complete the challenge, namely this snippet will help.

If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter

[2016-10-24 19:23] #11356 closed

[2016-10-24 19:43] kristianjaeger commented on #2277
That seems like a poor design for people who want to be able to debug their code and / or experiment with the mongo shell to see what's actually in the db...

[2016-10-24 20:10] Bouncey commented on #11348
The reason for the console.log's is to demonstrate to the what these array methods are doing.

Removing all the console.log's clears the issue with the challenge, but the chances of seeing the bug again are high when campers start using the output for console.logs instead of the dev console

[2016-10-24 20:35] Hsicairos1 opened #11358 "I don't see what I'm missing, am I missing something? **UPDATE: Got it!**"
Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-f

[2016-10-24 21:28] dhcodes commented on #11358
Closing as resolved.

[2016-10-24 21:28] #11358 closed

[2016-10-25 00:57] adevenuto opened #11360 "Comments are not ignored?"
Challenge [Comparisons with the Logical And Operator](https://www.freecodecamp.com/challenges/comparisons-with-the-logical-and-operator#?solution=%0Afunction%20testLogicalAnd%28val%29%20%7B%0A%20%20%2F%2F%20Only%20change%20code%20below%20this%20line%0A%0A%20%20if%20%28val%3C%3D50%20%26%26%20val%3E%3D25%29%20%7B%0A%0A%20%20%20%20%20%20return%20%22Yes%22%3B%0A%2F%2F%20%20%20%20%20%0A%20%20%7D%0A%0A%

[2016-10-25 01:12] iamalio commented on #11132
Same here...I really thought I was just not getting it but now I see I am not the only one. Also on Android.

[2016-10-25 05:12] ckinmind commented on #4794
$("#right-well button:nth-child(2)").addClass("animated bounce");

[2016-10-25 05:57] nikeinikei opened #11362 "Smallest Common Multiple's tests not validifying correct code"
Challenge [Smallest Common Multiple](https://www.freecodecamp.com/challenges/smallest-common-multiple#?solution=%0Afunction%20smallestCommons(arr)%20%7B%0A%20%20return%20arr%3B%0A%7D%0A%0A%0AsmallestCommons(%5B1%2C5%5D)%3B%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0; WOW64; rv:49.0) Gecko/20100101 Firefox/49.0</code>.

I thought I had this code right, but the tests tell me

[2016-10-25 07:15] meamay07 commented on #10944
var myStr="This is the first sentence.";
myStr += "This is the second sentence.";

what did I do wrong?

[2016-10-25 07:27] Sbusiey opened #11364 "text should be zoom to 100%"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20%0A%20%20.p%7Bfont-size%3A16%20pixels%7D%0A%20%20%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsu

[2016-10-25 07:38] Dayfiri commented on #11364
@Sbusiey
There are few mistakes in your code.
1. Create a new `<p></p>` element with Kitty ipsum text. No need to put any class name on that paragraph
2. In `<style>` tags use a `p` indicator for a paragraph. `dot(.)` is used on classes and you don't need class as I mentioned in example above
3. size is measured in `pixels` in this case. So if you wanna put a specific size, you will write:
`font-s

[2016-10-25 07:55] Dayfiri commented on #11362
[code]
This worked for me in assignment. When I entered the code at first, with arr values of `1 and 13` it told me there might be infinite loop on `line 12` and that I should use `// noprotect` at the beginning of the code. After I did that, as you see in the code, the assignment let me pass.
![screenshot from 2016-10-25 09-54-47](https://cloud.githubusercontent.com/assets/16082563/19677337/264dc

[2016-10-25 07:57] Sbusiey commented on #11364
@Dayfiri
thanks for help :+1:

[2016-10-25 08:02] Dayfiri commented on #11360
I think the problem is not in `// if``. Check the picture below
![screenshot from 2016-10-25 10-00-52](https://cloud.githubusercontent.com/assets/16082563/19677518/fdc81a4e-9a99-11e6-8b5a-8170ae2ac245.png)

[2016-10-25 08:05] #11364 closed

[2016-10-25 08:45] Dayfiri commented on #11357
Most of the exercises above that you mentioned have `btn` and `btn-default` class on `<button></button>` element. If not, then the assignment is to give them one.
Example of [Call out Optional Actions with Button Info](https://www.freecodecamp.com/challenges/call-out-optional-actions-with-button-info)
![screenshot from 2016-10-25 10-40-21](https://cloud.githubusercontent.com/assets/16082563/196787

[2016-10-25 08:53] QuincyLarson opened #11365 "freecatphotoapp.com is now a link farm site. We need to use a different URL that we control"
Some of our challenges refer to "freecatphotoapp.com" which I came up with as a joke domain. Well, apparently enough people were clicking on it that someone registered the domain and put up a link farm site.

Someone mentioned the site might have some NSFW content, as well, so we should definitely replace this sooner rather than later. We might want to change it for "freecodecamp.com/catphotoapp"

[2016-10-25 08:56] Dayfiri commented on #11343
@Sp00kyDan
If you read the assignment again, you can see that what needs to be done is:
`we should nest all of **our HTML** in a div element with the class container-fluid.`
Note that we need to put our whole HTML code inside `<div class = "container-fluid></div>`.
**Not** including `<style></style>` tags because style is for CSS and we *only* need HTML.
![screenshot from 2016-10-25 10-53-38](http

[2016-10-25 09:08] Dayfiri commented on #11365
Hi Quincy,
I would like to help with this one just I'm interested in more info about it if possible.
1. Is making "freecodecamp.com/catphotoapp" reference for creating new directory in FreeCodeCamp github repository ?
2. What would "polished-looking static HTML cat photo app" look like exactly ? Like static html page with a grid made of cat pictures or something similar to it ?

[2016-10-25 09:09] atjonathan commented on #11365
@QuincyLarson, me and @Bouncey created a catphotoapp for this purpose. github.com/atjonathan/catphotoapp :smiley: We can use this and host it on freecodecamp.com/catphotoapp?

[2016-10-25 09:11] Dayfiri commented on #11365
@atjonathan That looks nice. You should definitely use it. 👍

[2016-10-25 09:14] atjonathan commented on #11365
@Dayfiri thanks!

[2016-10-25 09:22] Bouncey commented on #11365
The idea behind [our CatPhotoApp](https://github.com/atjonathan/catphotoapp) was that it was interactive to the user, uploading cats and what-have-you, but isolated aswell.

So that if a user uploaded NSFW content, it would only be on their device. This removes the need for constant moderation from the freeCodeCamp team :+1:

[2016-10-25 12:32] Bouncey commented on #11362
If you leave the function call at the bottom of your code, loopProtect will display an error to you in the output window and in the dev console. It also terminates your code from running to save you from infinite loops, and to give you a chance to check that the code is ok to run.

The thing that is triggering loopProtect is:
- A long running loop, I'm not sure of the exact timings, but if you are

[2016-10-25 12:35] Bouncey commented on #11362
The reason the last two tests didn't pass is because loopProtect terminated the function call (which then returned undefined), but it could't let you know about it because there was no function call in your editor window.

[2016-10-25 12:37] Bouncey commented on #11362
If I have not understood the issue properly, please feel free to open the issue again with more information

[2016-10-25 12:37] #11362 closed

[2016-10-25 12:48] Bouncey commented on #11360
The test that is failing uses a regExp to count how many `if`'s there are in the code, regardless of comments.

It could be a good PR to work on.

-

The test counting the amount of `if`'s in the campers code should discount an `if` *if* it is in a single or multi-line comment.

A nice regExp can do this :+1:, but work with whatever you feel comfortable with :smile:

The code for this challenge is

[2016-10-25 12:50] Bouncey commented on #10745
A PR to fix this will be raised against #11360

[2016-10-25 12:50] #10745 closed

[2016-10-25 12:51] raisedadead commented on #11365
I own the https://fcc.rocks domain, and I was planning it as a "unofficial" showcase of some stuff, but would be happy to donate it (by pointing its NS records to whatever location need be) to the community if it suites and is acceptable.

/cc @QuincyLarson

[2016-10-25 13:35] dhcodes commented on #11357
As @Dayfiri said, they are there, they are just moved down the page to make room for the style section. Please reopen if we're mistaken about the issue.

[2016-10-25 13:35] #11357 closed

[2016-10-25 13:54] dhcodes commented on #11343
@Dayfiri seems to have laid it out nicely. Please reopen if we misunderstood the issue.

[2016-10-25 13:54] #11343 closed

[2016-10-25 14:24] kytwb commented on #11265
@yasserhussain1110 @chiptus I think the following is clear:

In the following issue description:

You could have use the search bar to look for [what is here refered as a `thrower`](https://github.com/FreeCodeCamp/FreeCodeCamp/search?utf8=%E2%9C%93&q=thrower).

I'm taking this issue if no answer from both of you within the coming days.
Good luck from there :smile:

[2016-10-25 14:33] chiptus commented on #11265
@kytwb so we should a new thrower to the the file you referenced that checks if hyperdev.com is in the text? I'll do it

[2016-10-25 14:48] kytwb commented on #11265
@chiptus I guess so :smile:

[2016-10-25 14:57] proeizaz95 opened #11367 "can you see the coding Nest the existing img element within an a element."
Challenge [Turn an Image into a Link](https://www.freecodecamp.com/challenges/turn-an-image-into-a-link#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20

[2016-10-25 15:15] reeversedev opened #11368 "View More is not showing"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2016-10-25 15:22] w00k09 opened #11369 "Stuck on Size your Images"
#### Challenge Name
Size your Images

#### Issue Description
Stuck on Size your Images will not pass "you image should be 100 pixels wide.  Browser should be at 100%

#### Browser Information

* Browser Name, Version:  Chrome Browser 53.0.2785.143 m (64-bit)
* Operating System: Windows 7
* Mobile, Desktop, or Tablet: Laptop

#### Your Code
<link href="https://fonts.googleapis.com/css?family=Lobste

[2016-10-25 15:27] w00k09 opened #11370 "Stuck on Size your Images"
![size you images](https://cloud.githubusercontent.com/assets/23043162/19692502/20ea6c50-9aa6-11e6-8c56-106a685ee64d.PNG)
Challenge [Size your Images](https://www.freecodecamp.com/challenges/size-your-images#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%2

[2016-10-25 15:27] #11369 closed

[2016-10-25 15:45] Bouncey commented on #11368
@reeversedev your code works for me. Blocking as I cannot reproduce.

[2016-10-25 15:46] Bouncey commented on #11351
Sure @Manish-Giri go for it 👍

[2016-10-25 15:47] erictleung commented on #11370
@w00k09 thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: check your `.smaller-image` class. You have a stray colon there. Happy coding!

[2016-10-25 15:47] #11370 closed

[2016-10-25 15:48] erictleung commented on #11368
@reeversedev I cannot reproduce either with the code you have in this issue. Can you give us a screenshot of you not seeing "View More"? Thanks!

[2016-10-25 15:51] erictleung commented on #11367
@proeizaz95 thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: take a look at the test that your code is not passing.

The key words here are "nest" and "existing." Hope that helps. Happy coding!

[2016-10-25 15:51] #11367 closed

[2016-10-25 15:53] w00k09 commented on #11370
Thanks you

[2016-10-25 16:15] buntheany commented on #3583
[](http://i.imgur.com/oaMqAWN.jpg)
For me not work

[2016-10-25 17:15] texas2010 commented on #10944
@meamay07
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2016-10-25 17:16] buntheany commented on #3583
`<script>
  $(document).ready(function() {
    $("button").addClass("animated");
    $(".btn").addClass("shake");
    $("#target1").addClass("btn-primary");
  });
</script>`

its solved. thanks

[2016-10-25 17:18] texas2010 commented on #4794
@ckinmind
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-10-25 17:18] texas2010 commented on #3583
@buntheany
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-10-25 17:28] Dave1089 opened #11372 "Code Formatting wiki link redirects to FreeCodeCamp Codebase Page"
### How I generated the issue:

I found it while giving proper code formatting link to a camper in Gitter Help Chatroom today
#### Issue Description

Link : [Code Format Wiki](https://github.com/freecodecamp/freecodecamp/wiki/code-formatting) redirects to
https://github.com/FreeCodeCamp/FreeCodeCamp codebase page
#### Browser Information

Chrome v 54.0 (64 bit)

Mac OS X

[2016-10-25 17:33] sludge256 commented on #11372
@QuincyLarson has hidden the repo wiki as it is no longer maintained. All links to wiki articles will redirect to the repo page now.

[2016-10-25 17:37] Dave1089 commented on #11372
well.. then Camper Bot shouldn't give this link when typed short command `'''` to give a camper suggestion to understand how one can format the code in gitter, many people often use this method. So it can be considered issue with camperbot I guess

[2016-10-25 17:44] erictleung commented on #11372
Looks like [this line of code](https://github.com/FreeCodeCamp/camperbot/blob/6013edabcb34159501270cce4fec5b2f64f76133/data/rooms/RoomMessages.js#L38) needs to be updated in the Camperbot codebase.

[2016-10-25 17:51] Manish-Giri commented on #11372
@erictleung [This](http://forum.freecodecamp.com/t/markdown-code-formatting/18391) looks like it could be an ideal replacement.

[2016-10-25 17:53] Dave1089 commented on #11372
@Manish-Giri Agree

[2016-10-25 18:12] TrinNicole commented on #11357
Hiya,

Unfortunately not what I meant....most of what's listed in my bug form
already is past those lessons. Particulars the first one.

Thanks,:)

Katrina

On Oct 25, 2016 4:48 AM, "Matko Hromin" <notifications@github.com> wrote:

[2016-10-25 18:21] othwald commented on #11344
Hi John,

  Yes it does! A new personal rule for me, no more late night programming.
Sorry for the brain freeze!

Thank you,
Kevin

On Mon, Oct 24, 2016 at 1:03 AM, John T. Knox <notifications@github.com>
wrote:

[2016-10-25 18:22] SimShaffer commented on #11296
I figured it out, I had the code right but instead of making a thick border like i was supposed to I made it a thin. I am pretty sure at least I completed the challenge so I don't have the code in front of me but I am pretty sure that's what happened. Thank you though!

    On Thursday, October 20, 2016 9:01 PM, Eric Leung <notifications@github.com> wrote:

 @Cbhansen thanks for the issue. Sorry t

[2016-10-25 18:23] ttaleg opened #11373 "l real estate job denver"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-25 18:24] Kodin24 commented on #11335
thanks got it...

On Sun, Oct 23, 2016 at 5:19 AM, Eric Leung <notifications@github.com>
wrote:

[2016-10-25 18:24] RomaKushnir commented on #11316
Thanks

2016-10-22 4:26 GMT+03:00 Eric Leung <notifications@github.com>:

[2016-10-25 18:27] Bouncey commented on #11372
Freecodecamp/camperbot#103 refers to this

[2016-10-25 18:36] erictleung commented on #11373
Closing as this is not an issue with the website. Please fill out the issue template if you have an issue. Happy coding!

[2016-10-25 18:36] #11373 closed

[2016-10-25 18:37] eXo5 commented on #11356
So so sorry to have wasted your time, I had hoped you would have seen my
edit to my comment. I figured it out shortly after posting. Thanks for
taking a look at it though.

On Mon, Oct 24, 2016 at 3:27 PM, Eric Leung <notifications@github.com>
wrote:

[2016-10-25 19:00] vonne31 commented on #11342
Aye boi aint u pose to be a ghost?? Stay off my line before i report ur rude azzz!!!

Sent from my iPhone

[2016-10-25 19:01] Cbhansen commented on #11296
Hello Eric,
Thanks for replying. It's appreciated. I was able to resolve the issue by
switching from Firefox to Chrome.

On Thu, Oct 20, 2016 at 6:00 PM, Eric Leung <notifications@github.com>
wrote:

[2016-10-25 19:02] texas2010 commented on #11342
@vonne31, what are you talking about? I am Free Code Camp member of issue mod.   I am not a ghost.

[2016-10-25 19:50] shayandamani commented on #10388
<style>
  body {
    background-color: black;
    font-family: Monospace;
    color: green;
  }
  .pink-text {
    color: pink;
  }
  .blue-text {
    color: blue;

    #orange-text {
      color: orange;
    }
</style>

<h1 id="orange-text">
<h1 class="pink-text blue-text"> Hello World!</h1>

This is how i have done still my h1 element did not change the color

[2016-10-25 19:53] Brian123456789 commented on #4150
This is not very good, it expects you to do something from several lessons back, but that example was with an H2 element. You have to basically guess at how to apply the tag.   class="smaller-image" Has to be inserted BETWEEN <img  (INSERT HERE)  src ="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back. "> .....plain as mud and was not covered earlier. So the only way to get

[2016-10-25 19:55] poylaroid opened #11374 "Can't get past this Borders and no help from chat...please help"
Challenge [Add Borders Around your Elements](https://www.freecodecamp.com/challenges/add-borders-around-your-elements) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-10-25 19:57] Manish-Giri commented on #11374
@poylaroid your CSS is incorrect
[code]

[2016-10-25 20:08] Luiko opened #11375 "Resource Link down from google documentation"
#### Challenge Name
[Chrome Dev Tools: Elements](https://www.freecodecamp.com/videos/chrome-dev-tools-elements)

#### Issue Description
Only this [link](https://developers.google.com/web/tools/chrome-devtools/inspect-styles/basics
) is down, there are [another](http://developers.google.com/web/tools/chrome-devtools) without problems

[2016-10-25 20:12] poylaroid commented on #11374
isn't that what I have?

[2016-10-25 20:14] Manish-Giri commented on #11374
yes, and that is wrong. You need to close out the style for one selector before beginning another.

[2016-10-25 20:28] texas2010 commented on #10388
@shayandamani
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-10-25 20:36] Luiko commented on #11375
There is another [link down](https://developers.google.com/web/tools/chrome-devtools/evaluate-performance/network-performance/resource-loading) on the [next ](https://www.freecodecamp.com/videos/chrome-dev-tools-network) video challenge, and probably in all the Chrome Developer Tools section.

[2016-10-25 20:38] QuincyLarson commented on #11365
@raisedadead actually, fcc.rocks would be good place to host it because it's much shorter that freecatphotoapp.com, and we won't have to worry about the CSS and everything else associated with the cat photo app.

@Bouncey so to be clear, other than the images already there, people will only see images they themselves upload to it?

[2016-10-25 20:57] atjonathan commented on #11365
@QuincyLarson, correct. We use local storage to store the images they upload. Only the default ones will be shown on everyone's.

[2016-10-25 20:57] #11374 closed

[2016-10-25 21:56] Bouncey commented on #11365
All images and likes are stored in localStorage. There is no database for this app.

[2016-10-25 21:56] vonne31 commented on #11342
I apologize! I thought u were a member who has been very rude lately when it comes to assisting members

Sent from my iPhone

[2016-10-25 21:56] TrinNicole commented on #11357
Hi,

Please re-open. Maybe I am missing something, and I'll post a screenshot as
soon as I can to illustrate,  but for most of the examples I posted, the
bootstrap code is in the HTML and not in the stylesheet.

 The classes are not defined, even though it is rendered in the fake app.
And, as I said, the lessons are no longer about doing those bootstrap
classes, have progressed beyond that.

That'

[2016-10-25 22:17] Manish-Giri commented on #11372
I can do this change, if it needs to be done.

[2016-10-25 22:35] Bouncey commented on #11372
@Manish-Giri If you want to have a crack at it, head on over to the [camperbot repo](https://github.com/FreeCodeCamp/camperbot) :+1:

[2016-10-25 22:58] QuincyLarson commented on #11365
@atjonathan @Bouncey ok - great! That's a solid approach to subtly solving the troll problem.

[2016-10-25 23:28] QuincyLarson commented on #11372
@Dave1089 thanks for catching this issue. Yes, I agree with everyone on this thread - we should move forward with the fix.

@Manish-Giri here is the new wiki article: http://forum.freecodecamp.com/t/markdown-code-formatting/18391.json (in .json form, with its contents converted to HTML)

You may need to modify CamperBot to be able to pull the HTML out and render it properly. Gitter does not seem t

[2016-10-26 00:16] styop88 commented on #7614
arr.push(item);
  return arr.shift();

[2016-10-26 01:27] dhcodes commented on #11357
@TrinNicole I see what you mean. In this case, the CSS is being added via an external style sheet (not within style tags within the code). This is communicated via the following excerpt from the first challenge in the Bootstrap section.

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

In this case, we've already added it for you to this page behind

[2016-10-26 01:39] dhcodes commented on #11375
Thanks for the issue @Luiko. It's been fixed by this pull request https://github.com/FreeCodeCamp/FreeCodeCamp/pull/11042 so it will eventually go live on the main site when the next update is pushed. Closing as duplicate.

[2016-10-26 01:39] #11375 closed

[2016-10-26 02:00] MohanL commented on #10154
Hello, I'd like to work on this issue.

[2016-10-26 03:41] nagesh-srivastava commented on #11323
I get the error while npm install on windows 10. please find the log
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\nages\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'snyk-protect' ]
2 info using npm@4.0.1
3 info using node@v4.6.1
4 verbose run-script [ 'presnyk-protect',

[2016-10-26 03:43] BerkeleyTrue commented on #11323
You are fine. Please continue on and ignore this error

[2016-10-26 03:45] guu-hologram opened #11376 "Bug with Nest an Anchor Element within a Paragraph Challange"
I see multiple people on here have been having this issue today. I am using:
Samsung Chromebook
Version 53.0.2785.154
Platform 8530.96.0 (Official Build) stable-channel daisy
Firmware Google_Snow.2695.117.0

I am stuck here as a result of this bug. Any help with this would be much appreciated. Thank
![screenshot 2016-10-25 at 11 44 22 pm](https://cloud.githubusercontent.com/assets/23064048/1971258

[2016-10-26 03:49] guu-hologram commented on #11376
@VarCI-bot I believe this is a bug. It's not allowing me to move forward even though the code is correct.

[2016-10-26 03:50] yasserhussain1110 commented on #11265
@kytwb okay. Thanks. I'll work on this one.

[2016-10-26 03:54] kytwb commented on #11265
@yasserhussain1110 this issue was already claimed by @chiptus

[2016-10-26 03:56] guu-hologram commented on #11376
I just restarted my chrom browser. That fixed the issue.

[2016-10-26 03:56] #11376 closed

[2016-10-26 03:58] nikeinikei commented on #11362
Thanks it works now, gonna keep this in mind when I encounter a similar issue, for sure.

[2016-10-26 03:58] yasserhussain1110 commented on #11265
@kytwb I claimed it before.

[2016-10-26 04:02] kytwb commented on #11265
@yasserhussain1110 you're right, my mistake

[2016-10-26 05:55] raisedadead commented on #11323
@nagesh-srivastava not related to issue but you need to bump to node 6 now.
@BerkeleyTrue on it.

[2016-10-26 06:29] raisedadead commented on #11323
### Possible solution for now unless they have a fix:

~ Snyk Team

[2016-10-26 10:03] marienhof opened #11378 "Unclear why the squared brackets from the previous challenge aren't present in this one"
Challenge [Accessing Nested Objects](https://www.freecodecamp.com/challenges/accessing-nested-objects) has an issue.
User Agent is: <code>Mozilla/5.0 (iPad; CPU OS 10_0_2 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) Version/10.0 Mobile/14A456 Safari/602.1</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

My code:
[code]

[2016-10-26 11:22] marienhof opened #11379 "My solution is right but console shows a mistake"
Challenge [Accessing Objects Properties with Variables](https://www.freecodecamp.com/challenges/accessing-objects-properties-with-variables#?solution=%0A%2F%2F%20Setup%0Avar%20testObj%20%3D%20%7B%0A%20%2012%3A%20%22Namath%22%2C%0A%20%2016%3A%20%22Montana%22%2C%0A%20%2019%3A%20%22Unitas%22%0A%7D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line%3B%0A%0Avar%20playerNumber%20%3D%2016%3B%20%

[2016-10-26 11:39] simo70 opened #11380 "Wrong error"
Challenge [Nest an Anchor Element within a Paragraph](https://www.freecodecamp.com/challenges/nest-an-anchor-element-within-a-paragraph#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%

[2016-10-26 11:42] sepiropht commented on #11379
you should declare a player variable and pass it the result like this
`var player = testObj[playerNumber]; `

[2016-10-26 11:43] #11380 closed

[2016-10-26 12:01] sepiropht commented on #11352
this issue is still free ? , can i work on that ?

[2016-10-26 14:00] vkstack commented on #11360
I want to fix this.
I checked the json **/FreeCodeCamp/seed/challenges/01-front-end-development-certification/basic-javascript.json**
I need a brief summay about how is it used.

[2016-10-26 14:04] dhcodes commented on #11379
I agree in the sense that the tests require assigning `testObj[playerNumber]` to a variable `player` but don't explicitly say that in the directions. Additionally example one uses a similar approach to the one above.

At the very least, I think we should change:

to:

[2016-10-26 14:06] dhcodes commented on #11378
@marienhof could you elaborate? The challenge before has a nested array and this has a nested object. The instructions on the previous challenge say:

so I'm not sure more explanation about the change is necessary.

[2016-10-26 14:15] Bouncey commented on #11379
Same issue as #11321

Keeping this issue

[2016-10-26 14:15] #11321 closed

[2016-10-26 14:20] Bouncey commented on #11379
The issue is that `testObj[playerNumber]` is displayed in the output window without being assigned to anything, which is counter-intuitive with regards to the other challenges which would normally only display the contents of the specified variable or the output of the challenge function

[2016-10-26 14:22] Bouncey commented on #11368
@reeversedev If you have anymore information please reopen this issue

[2016-10-26 14:22] #11368 closed

[2016-10-26 14:22] dhcodes commented on #11379
@Bouncey fwiw, it doesn't display when I run the tests with that code. Nothing displays.

[2016-10-26 14:37] Bouncey commented on #11379
Weird.

This is from my phone, but I'm pretty sure I saw the same on my desktop chrome
![img_1071](https://cloud.githubusercontent.com/assets/18572518/19730429/1fce6d2a-9b92-11e6-8af8-8428ae86eef2.PNG)

[2016-10-26 15:06] raisedadead commented on #11163
@Dayfiri twitter login + gitter is not supported on FreeCodeCamp chat rooms.

Please try this:
1. Logout from Github.
2. Logout from FreeCodeCamp.
3. **Clear your browser cache, cookies.**
4. Retry.

Let us know if the problem persists.

[2016-10-26 15:07] #11292 closed

[2016-10-26 15:08] atjonathan opened #11382 "Update UX on reset progress and delete account buttons"
Refer https://github.com/FreeCodeCamp/FreeCodeCamp/pull/10824

[2016-10-26 15:09] #10806 closed

[2016-10-26 15:10] raisedadead commented on #11101
Closing as stale.

[2016-10-26 15:10] #11101 closed

[2016-10-26 15:11] texas2010 commented on #7614
@styop88
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-10-26 15:39] adevenuto commented on #11360
Thanks for the response and information. I did a lot of research on regex
based on your suggestion and from what I found it seems like to build a
regex only solution to this it would involve a look-behind which JS doesn't
seem to support. Again, I'm not familiar with regex and just going of the
information I found online. I was able to put this bit of regex together
that finds 'if' if it preceded

[2016-10-26 15:40] chiptus commented on #11265
@yasserhussain1110 @kytwb Np, let Yasser have it

On Wed, Oct 26, 2016, 09:29 Yasser Hussain <notifications@github.com> wrote:

[2016-10-26 15:49] Bouncey commented on #11360
@adevenuto a look behind is not needed for this. You could do `code.match(<regEx for all if's>).length - code.match(<regEx for ifs in comments>).length === the number of ifs needed to pass the challenge correctly`

[2016-10-26 16:25] Thebigbignooby opened #11383 "Manipulate Arrays With push"
Challenge [Manipulate Arrays With push](https://www.freecodecamp.com/challenges/manipulate-arrays-with-push#?solution=%0A%2F%2F%20Example%0Avar%20ourArray%20%3D%20%5B%22Stimpson%22%2C%20%22J%22%2C%20%22cat%22%5D%3B%0AourArray.push(%5B%22happy%22%2C%20%22joy%22%5D)%3B%20%0A%2F%2F%20ourArray%20now%20equals%20%5B%22Stimpson%22%2C%20%22J%22%2C%20%22cat%22%2C%20%5B%22happy%22%2C%20%22joy%22%5D%5D%0A%0A

[2016-10-26 16:32] dhcodes commented on #11383
@Thebigbignooby you have an error in your code (letter case matters). Please consider asking for help in the help chat by click the Help button on the challenge.

[2016-10-26 16:32] #11383 closed

[2016-10-26 16:55] BerkeleyTrue commented on #11365
This is extremely strange as I still own the domain. I'm looking into it

[2016-10-26 17:00] BerkeleyTrue commented on #11365
I've changed the name servers and parked as well. These are propagating now.

[2016-10-26 17:06] raisedadead commented on #11365
Ah cool. thanks @BerkeleyTrue, BTW fcc.rocks is still up for grabs, we could do something with it... 😜 !!!

[2016-10-26 17:18] BerkeleyTrue commented on #11365
Ok, looks like that is working.

@Bouncey Can we move the app under the freecodecamp org?

[2016-10-26 17:18] #11365 closed

[2016-10-26 17:23] atjonathan commented on #11365
@BerkeleyTrue, I currently own the repository. Should FCC just make a fork?

[2016-10-26 17:25] thevishvajeet opened #11384 "Why this test is not getting accepted"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20.p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22

[2016-10-26 17:27] Manish-Giri commented on #11384
@thevishvajeet your code is incorrect. Please visit the [Help Room](https://gitter.im/FreeCodeCamp/Help) if you need assistance on this.

[2016-10-26 17:29] atjonathan commented on #11384
@Manish-Giri is correct.

[2016-10-26 17:29] #11384 closed

[2016-10-26 17:46] sepiariver commented on #11039
Thanks @Bouncey for the timer api tip :D

If the redirect weren't cached like that, I would agree that a comment to warn users would be the simplest "fix". Caveat emptor after all.

However, the fact that you can't access the _domain_ because of "redirect + process on page load" makes it an actual "bug" that needs handling, IMHO.

Thanks again. It's a pretty cool thing you folks are doing!

[2016-10-26 17:57] QuincyLarson commented on #11365
@atjonathan there's the issue of contributions to forks not counting toward GitHub's tracking of open source contributions. This is one reason why none of the repos on Free Code Camp's organization are forks. We want campers to get credit if they put in the time to improve something. So we should transfer the repo over to Free Code Camp if it's OK with you.

[2016-10-26 18:04] atjonathan commented on #11365
@QuincyLarson, I'm unable to transfer the repository due to not having admin rights.

[2016-10-26 18:11] Reekaser commented on #743
Euro paradise...make sure your img class is like this:
<img class= "smaller-image thick-green-border" src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back. ">

[2016-10-26 18:14] BerkeleyTrue commented on #11365
Thanks @atjonathan. Let's switch to gitter chat

[2016-10-26 18:32] Dayfiri commented on #11351
@harshtomar6
I just don't get it when you made roman numeral for 4 and 40, why didn't you make it for 400 as well ?

[2016-10-26 18:35] Dayfiri commented on #11163
@raisedadead I cleared everything in Firefox dev version 51 that I use. Chat only works if I open it in a new page and then log in. If I try to login from FreeCodeCamp page it always returns me to the beginning. I tried the same thing in *Opera* browser and it works alright.

[2016-10-26 18:37] RichardNoob commented on #10796
thanks that helped me solve two of my previous challenges

[2016-10-26 18:38] harshtomar6 commented on #11351
@dayfiri
Thats the bug. The algorithm checks for 4 and 40 but it dont checks for 400

[2016-10-26 18:40] Bouncey commented on #11351
@Dayfiri the PR for this issue will force the camper to provide for the case of 400 :+1:

[2016-10-26 19:04] atjonathan commented on #11365
Update: We have moved the repository over to FreeCodeCamp/catphotoapp 😃

[2016-10-26 19:06] Mongues commented on #11163
Hello world

[2016-10-26 19:07] Mongues commented on #11163
Okay thanks it needed checking for meeting up to date with the new

[2016-10-26 19:22] Thebigbignooby opened #11387 "I think there's a bug, this should work according to instructions"
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection#?solution=%0A%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%20%222548%22%3A%20%7B%0A%20%20%20%20%20%20%22album%22%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20%22artist%22%3A%20%22Bon%20Jovi%22%2C%0A%20%20%20%20%20%20%22tracks%22%3A%20%5B%20%0A%20%20%20%20%20%20%20%20%22Let%20It%20Rock%22%

[2016-10-26 19:41] erictleung commented on #11387
@Thebigbignooby thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Hint: please read the instructions again. Your code doesn't satisfy all the requirements of the challenge.

If you think there is a bug, please show explain why you think there is a bug and what the intended

[2016-10-26 19:41] #11387 closed

[2016-10-26 19:42] karlchvojka opened #11388 "Issue report : Using Objects for Lookups"
#### Challenge Name

[Using Objects for Lookups](https://www.freecodecamp.com/challenges/using-objects-for-lookups)

#### Issue Description

Nothing major. Need to move line 20 into the editable comments because line 20 needs to be changed to look through the object for the code to run.

#### Browser Information

* Browser Name, Version: Chrome latest
* Operating System: MSW 10
* Mobile, Desktop,

[2016-10-26 19:42] #10804 closed

[2016-10-26 19:48] sludge256 commented on #11388
It's not necessary because you can perform a variable assignment in the "// Only change code above this line" section.

[2016-10-26 19:49] #11388 closed

[2016-10-26 19:57] dhcodes commented on #11379
Console doesn't seem to output it on staging on my end. Have you checked it on staging @Bouncey ?

[2016-10-26 20:26] erocurim commented on #11086
Hey I did everything I could but this is not working, I have the same problem as @scoobydoobop
I tried this and appears a silver background but the warning persist "Your div element should have a silver background". Please any thoughts?

<div class="silver-background">

  <div class="silver-background"

  <p>Things cats love:</p>
  <ul>
    <li>cat nip</li>
    <li>laser pointers</li>
    <li>lasa

[2016-10-26 20:29] kitapsiz commented on #8622
This page has error and did not occur by user/me. And no one knows this step how to pass to next one.

[2016-10-26 20:32] kitapsiz commented on #9261
This page has error and did not occur by novicer/me. And no one knows how to pass to next challange.

[2016-10-26 20:34] kitapsiz commented on #10123
This page has error and did not occur by novicer/me. And no one knows this step how to pass to next one.

[2016-10-26 21:00] Dayfiri commented on #11351
@Bouncey that's nice and easy task to do. Good for new contributors :thumbsup

[2016-10-26 21:05] Dayfiri commented on #11379
var player = testObj[playerNumber]. That is all in it

[2016-10-26 21:12] Bouncey commented on #11198
I have just pulled the latest `staging` and tried this out again.

Running tests with an unfinished function declaration in the code causes the error toast, but nothing happens after that.

Output remains at `// running test`

The test-suite switches and remains in its initial state

There is no error message in `output`

It looks like `throwers()` is throwing the Error object correctly,

[code]

[2016-10-26 21:52] erocurim commented on #11086
I just solve it, thanks anyway

[2016-10-26 22:03] Bouncey commented on #11379
WOW that screen shot is big!

@dhcodes you are correct about resolved in staging.

@marienhof you deleted some of the seed code at some point, try pressing the reset button and trying again :+1:

[2016-10-26 22:03] #11379 closed

[2016-10-26 22:05] #11351 closed

[2016-10-27 03:20] gatewayJay opened #11390 "C9 and GitHub connecting issues"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-27 03:21] millennialtraveller opened #11391 "Element not detected as blue when written in blue?"
I have been trying to pass this lesson multiple times and believe there is an error. I don't know why the blue is not turning up!

My code is identical to the CSS style example:
<style> h2{color:blue;} CatPhotoApp</style>

[2016-10-27 03:21] millennialtraveller commented on #11391
<style> h2{color:blue;} CatPhotoApp</style>

[2016-10-27 03:22] millennialtraveller commented on #11391
I also used style tags open and closing,  but they're not showing up here. Cheers!

[2016-10-27 03:33] Manish-Giri commented on #11391
@millennialtraveller Your code is incorrect. Please visit the [help room](https://gitter.im/FreeCodeCamp/Help) if you need assistance on this.

[2016-10-27 03:56] erictleung commented on #11391
@millennialtraveller as it was pointed out, your code is wrong. Please reread the instructions for how to complete the challenge.

If you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding! (FYI, the style tags don't show up because GitHub uses Markdown for its forms. HTML is rendered as HTML

[2016-10-27 03:56] #11391 closed

[2016-10-27 03:57] erictleung commented on #11390
@gatewayJay thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). GitHub issues is not a place for coding help. Happy coding!

[2016-10-27 03:57] #11390 closed

[2016-10-27 04:59] QuincyLarson commented on #11365
@atjonathan awesome! Great work.

@raisedadead rather than purchase a special domain, we could just use something like bit.ly/catphotoapp and redirect to a GitHub pages site. Then we don't have to pay for another domain or host it anywhere.

[2016-10-27 05:00] BerkeleyTrue commented on #11365
@QuincyLarson If we are going that far, does that challenge even need a domain?

[2016-10-27 05:07] QuincyLarson commented on #11365
@BerkeleyTrue You're right - we could simply use example.com, which is designated for example usage. This would also teach campers indirectly that they should use this instead of random domains.

It would be simpler than having to bother with building and maintaining another app, and as far as I can tell there's nothing in the challenge that requires it to be a valid domain.

It's not as fun, but

[2016-10-27 05:28] ligun89 opened #11392 "How could this work...?"
function multiplyAll(arr) {
var product = 1;
// Only change code below this line
for (var i=0; i < arr.length; i++) {

for (var j=0; j < arr[i].length; j++) {
  product = (arr[i][j] * product);
}
}
// Only change code above this line
return product;
}

I thought understand how this logic works...

but, i can't understand how this command works... :'(

multiplyAll([[5,1],[0.2, 4, 0.5],[3, 9]]);)  -

[2016-10-27 05:42] raisedadead commented on #11365
Sounds good to me.

[2016-10-27 05:51] raisedadead commented on #11392
The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-10-27 05:51] #11392 closed

[2016-10-27 06:10] Bouncey commented on #11365
I might be bias 🙄, but I like the 'easter egg' value it adds.

We built CatPhotoApp due to many issues of camper clicking on the link in the preview and raising an issue that it didn't work properly. I think for a long time there was a php server error displayed, not sure.

As for maintenance, there are not that many moving parts, it's a SPA without a sniff of a router.

[2016-10-27 06:42] millennialtraveller opened #11393 "Possible error"
#### Challenge Name

Use CSS Selectors to Style Elements

https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0Ah2%20%7BColorado%3A%20blue%3B%7D%20%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%20%20%3C%2Fstyle%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot

[2016-10-27 06:52] raisedadead commented on #11393
Your code is incorrect, remember you gotta delete something and add something.

Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-10-27 06:52] #11393 closed

[2016-10-27 07:05] QuincyLarson commented on #11365
@Bouncey what URL will it be up at? I can update the challenges accordingly. I am making a general copy update PR for production anyway and can make this change as well.

[2016-10-27 07:24] Muliro1 opened #11394 "record collection"
Challenge [Record Collection](https://www.freecodecamp.com/challenges/record-collection#?solution=%0A%2F%2F%20Setup%0Avar%20collection%20%3D%20%7B%0A%20%20%20%20%222548%22%3A%20%7B%0A%20%20%20%20%20%20%22album%22%3A%20%22Slippery%20When%20Wet%22%2C%0A%20%20%20%20%20%20%22artist%22%3A%20%22Bon%20Jovi%22%2C%0A%20%20%20%20%20%20%22tracks%22%3A%20%5B%20%0A%20%20%20%20%20%20%20%20%22Let%20It%20Rock%22%

[2016-10-27 07:31] sludge256 commented on #11394
If you need help with the challenge please use the help button on the challenge page or visit the [forums](http://forum.freecodecamp.com/c/free-code-camp).

Closing this issue as it does not provide any details. If there is an issue with the challenge please provide details by editing the main post before re-opening this issue.

[2016-10-27 07:31] #11394 closed

[2016-10-27 07:38] atjonathan commented on #11365
@QuincyLarson, freecodecamp.github.io/catphotoapp :wink:

[2016-10-27 07:43] Bouncey commented on #11365
Are we using a CNAME for freecatphotoapp.com?

[2016-10-27 08:11] UmidBig commented on #4150
Thank you soooo much Brian123456789. You resolved my problem.

[2016-10-27 08:50] kiross opened #11395 "Challenge 18, browser and text zoom"
Challenge [Change the Font Size of an Element](https://www.freecodecamp.com/challenges/change-the-font-size-of-an-element#?solution=%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%20%20p%20%7Bfont-size%3B%2016px%3B%7D%0A%3C%2Fstyle%3E%0A%0A%0A%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%20class%3D%22red-text%22%3EKitty%20ipsum%20dolo

[2016-10-27 08:52] #11395 closed

[2016-10-27 09:35] atjonathan commented on #11365
That's usually the best way for setting it up. Tagging @BerkeleyTrue

[2016-10-27 09:49] msanecki opened #11396 "Global vs local scope - better explanation - shadowing instead of overiding"
It's about the Instruction. There is a term "override" used to explain the case.

I'd suggest to change it to "shadow". Please look at this explanation:
http://stackoverflow.com/questions/5373278/variable-shadowing-in-javascript

[2016-10-27 10:35] ca2mee opened #11397 "css"
Challenge [Import a Google Font](https://www.freecodecamp.com/challenges/import-a-google-font#?solution=%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20p%20%7B%0A%20%20%20%20font-size%3A%2016px%3B%0A%20%20%20%20font-fa

[2016-10-27 10:43] ktajpuri commented on #11397
What is the issue in this?

[2016-10-27 10:55] ca2mee commented on #11397
adding my font Losbter to my h2

[2016-10-27 11:28] raisedadead commented on #11397
The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

[2016-10-27 11:28] #11397 closed

[2016-10-27 12:32] #11341 closed

[2016-10-27 12:32] systimotic commented on #11352
@sepiropht There's already an open Pull Request for this one. There are lots of other open issues though, your contribution is more than welcome!

[2016-10-27 12:36] #11297 closed

[2016-10-27 12:42] #11352 closed

[2016-10-27 13:11] #11265 closed

[2016-10-27 14:10] tombarton opened #11398 "Stand in Line Challenge - State the format the result should be returned in [Copy]"
#### Challenge Name
Stand in Line (https://www.freecodecamp.com/challenges/stand-in-line)

#### Issue Description
The exercise instructions do not state how the first element of the array should be returned:

This could lead to confusion as there are multiple ways to extract the first element of the array. For example, if you used `spice(0,1)`, the output appears perfect but fails the unit tests a

[2016-10-27 14:25] TatjanaBezsazna opened #11399 "Selecting from many options with Switch Statements"
#### Challenge Name

https://www.freecodecamp.com/challenges/selecting-from-many-options-with-switch-statements

#### Issue Description
I am quite sure I did it correctly, and still it does not work...

#### Your Code

function caseInSwitch(val) {
  var answer = "";
  // Only change code below this line
  case 1:
    answer = "alpha";
    break;
  case 2:
    answer = "beta";
    break;
  case 3:

[2016-10-27 14:54] Bouncey commented on #11398
@tombarton Thanks for the issue.

[The return value of Array.prototype.splice()](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Array/splice#Return_value) is an array containing the element(s) removed from the original array. Not the element itself.

The challenge instructions ask you to return the element that was removed, not an array containing the element that wa

[2016-10-27 14:59] Bouncey commented on #11399
@TatjanaBezsazna There is an error in your code, please read the instructions again (take note of the example code in the instructions)

If you are still stuck, please use the `Help` button. This will take you to a dedicated chat room for code help.

GitHub issues are for issues with freeCodeCamp as a service, not for help passing challenges

Many thanks :+1:

Closing: code help

[2016-10-27 14:59] #11399 closed

[2016-10-27 15:00] #9980 closed

[2016-10-27 15:03] #10809 closed

[2016-10-27 15:05] tombarton commented on #11398
Thanks @Bouncey. It's probably my comprehension skills that need to improve!

I think it was the output box that threw me more than anything. It wasn't until I checked the console log that I realised my mistake.

[2016-10-27 15:05] #11398 closed

[2016-10-27 15:14] Bouncey commented on #11365
Haha - nice holding image @BerkeleyTrue

How is the cname generated? Does it come from the DNS?

[2016-10-27 15:20] Bouncey commented on #11365
Nevermind, got it :+1:

[2016-10-27 15:36] ca2mee commented on #11397
Adding my font Lobster in my h2

On Oct 27, 2016 11:46, "kamlesh tajpuri" <notifications@github.com> wrote:

[2016-10-27 15:37] arlworker opened #11400 "Coded everything but then also it is not running."
Using from my mobile
Using Google browser
Here is my code...

[code]

[2016-10-27 15:40] arlworker commented on #11400
My code
<style>
  .red-text {
    color: red;
  }
  p{
    font-size:16px;
  }

</style>

<h2 class="red-text">CatPhotoApp</h2>

<p class="red-text">Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff.</p>
<p>Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chas

[2016-10-27 15:44] millennialtraveller commented on #11391
I was actually referring to the following challenge with the blue text.The red text was the previous one... I don't understand why the h2 element isn't reading blue when I literally copied the example.

Thanks for the html explanation as well!

Get Outlook for Android

On Thu, Oct 27, 2016 at 2:59 PM +1100, "Eric Leung" <notifications@github.com> wrote:

@millennialtraveller as it was pointed out,

[2016-10-27 15:50] iamelmo1 commented on #11292
It's resolved thank you for your response. I'm new to coding so the
adjustment period is still there, it worked by typing a single symbol or
letter.

On Oct 20, 2016 4:58 PM, "Eric Leung" <notifications@github.com> wrote:

[2016-10-27 15:57] dhcodes commented on #11396
While true, I'd worry that this adds confusion for how the global vs. local scope appears to work and the term "shadow" obfuscates the idea imho.

[2016-10-27 16:24] raisedadead commented on #11400
Hi this challenge is known to have issues when visiting from a mobile browser, with white spacing characters.

If you can delete your code an write it from scratch, it should probably work.
Copy pasting from some other place will also break the code on mobile devices.

Let us know if it works.

[2016-10-27 16:54] #10000 closed

[2016-10-27 17:23] Bouncey commented on #11400
I'm going to try [this solution](http://stackoverflow.com/questions/1495822/replacing-nbsp-from-javascript-dom-text-node) out tonight to see if it removes `&nbsp;` from the campers code.

@arlworker can you please copy and paste the address bar from this challenge in here and please. It holds your code from the challenge and will give me something to test on 👍

[2016-10-27 17:26] erictleung commented on #11396
I really like the analogy of "shadowing" variables and I feel that it more aptly describes what is going in local vs global scope.

However, I agree with @dhcodes that is might confuse new coders. Because if we mention "shadowing," we would have to take the time to describe what that means.

The word "override" is a bit more common in everyday language and immediately understandable to our target

[2016-10-27 17:28] Bouncey commented on #11400
#7753 refers

[2016-10-27 17:45] kytwb commented on #11265
@yasserhussain1110 congrats! :champagne:

[2016-10-27 17:50] Compsight opened #11401 "Console Logging makes function fail"
Challenge [Sum All Primes](https://www.freecodecamp.com/challenges/sum-all-primes#?solution=%0Afunction%20sumPrimes(num)%20%7B%0A%20%20var%20i%20%3D%202%3B%0A%20%20var%20sum%20%3D%200%3B%0A%20%20%0A%20%20while%20(i%3C%3Dnum)%20%7B%0A%20%20%20%20var%20numOfDiv%20%3D%201%3B%0A%20%20%20%20%20%20%20console.log(%22i%3D%3A%22%2Ci)%3B%0A%2F%2F%20%20%20%20%20if%20(i%20%3D%3D%3D%202)%20%7B%0A%2F%2F%20%20%2

[2016-10-27 18:34] menlog opened #11402 "Specify How Fonts Should Degrade. Platform issue? Please help!"
#### Specify How Fonts Should Degrade

https://www.freecodecamp.com/challenges/specify-how-fonts-should-degrade
#### I'm Unable to proceed to the next step !!

After commenting out the call for Lobster font, all checks are green but when pressing submit the page keeps loading!

Tried a hard refresh, as well as logging out and deleting cache data from the browser in addition to confirming that the

[2016-10-27 18:43] menlog commented on #11402
The issue was solved by disabling addons.

[2016-10-27 18:47] Mohammadsaad3698 opened #11403 "Please help"
Challenge [Understanding Case Sensitivity in Variables](https://www.freecodecamp.com/challenges/understanding-case-sensitivity-in-variables#?solution=%0A%2F%2F%20Declarations%0Avar%20StUdLyCapVaR%3B%0Avar%20properCamelCase%3B%0Avar%20TitleCaseOver%3B%0A%0A%2F%2F%20Assignments%0AstudlyCapVar%20%3D%2010%3B%0AproperCamelCase%20%3D%20%22A%20String%22%3B%0AtitleCaseOver%20%3D%209000%3B) has an issue.
U

[2016-10-27 19:12] texas2010 commented on #11403
@Mohammadsaad3698,
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [HelpJavaScript chat room](https://gitter.im/FreeCodeCamp/HelpJavaScript) for getting challenge related help.

Happy Coding.

[2016-10-27 19:12] #11403 closed

[2016-10-27 19:21] Bouncey commented on #11401
@Compsight My guess is that your code plain overloads your browser and something steps in to terminate your code.

Your code passes on my machine, but I have over **_5000_** `console.log`'s in my console!!

The reason your code passes with the `consloe.log`'s commented out is because you are not eating up memory with the thousands up thousands of `console.log`'s.

I hope I have explained it well e

[2016-10-27 20:09] kodackoder commented on #11226
#cat-photo-form {
  background-color: green;
}
</style>
<form action="/submit-cat-photo" id#="cat-photo-form">
  <label><input type="radio" name="indoor-outdoor" checked> Indoor</label>
  <label><input type="radio" name="indoor-outdoor"> Outdoor</label>
  <label><input type="checkbox" name="personality" checked> Loving</label>
  <label><input type="checkbox" name="personality"> Lazy</label>
  <lab

[2016-10-27 20:09] kodackoder commented on #11226
IDK why its not turning green :(

[2016-10-27 20:10] kodackoder commented on #11226
I applied the Id#

[2016-10-27 20:25] dhcodes commented on #11378
Closing as resolved. Please reopen if you want to discuss.

[2016-10-27 20:25] #11378 closed

[2016-10-27 20:26] dhcodes commented on #11323
@raisedadead worth adding to the contributing.md documentation?

[2016-10-27 20:27] systimotic commented on #10885
Windows user here! I did some investigation. There are two parts that don't work on Windows.
## jsonlint
jsonlint doesn't work because of an issue with wildcard paths, as mentioned before. I took a quick look at its source. The CLI just takes the parameter passed in the command line and reads it with `fs.readFileSync()`. It's not iterating over multiple files anywhere, or doing anything with a glo

[2016-10-27 20:36] BerkeleyTrue commented on #10885
@systimotic Does replacing jsonlint with [jsonlint-cli](https://www.npmjs.com/package/jsonlint-cli) fix the issue?

[2016-10-27 20:38] BerkeleyTrue opened #11404 "Fix jsx typo in map header"
[autocompleted](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/common/app/routes/challenges/components/map/Header.jsx#L100) here is misspelled and should be campelCase to conform with jsx property naming conventions.

This fixes a React warning in development.

autocompleted => autoComplete

[2016-10-27 20:45] BerkeleyTrue commented on #11325
Looks like #11058 is going to be delay a bit, so I've move this to confirmed again and added a help wanted tag.

The issue lies with a typo [here](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/client/index.js#L32)

csrfToken should be just token. Please check first that you can replicate the issue, then make your change. Then verify that the issue has been resolved.

[2016-10-27 20:54] systimotic commented on #10885
It looks promising, I'll check it out right now. If it works, should I submit a PR?

[2016-10-27 20:56] BerkeleyTrue commented on #10885
A PR would be wonderful!

This should be a separate PR from the test-js issue

[2016-10-27 21:05] adevenuto commented on #11360
*Thanks for the response. I tried:*

*"assert(code.match(/if/g).length -
code.match(/(?:(\\/\\*[\\w\\s\\']*)|(\\/\\/[\\w\\s\\']))if/g).length === 1,
'message: You should only have one <code>if</code> statement');"*

*and it continues to fail. Whats strange is that each test works
individually.*

*I would like to log each statement to see what their returning, How would
I do this? I tried a console

[2016-10-27 21:17] lionelpelap opened #11408 "Java Objects"
Challenge [Declare JavaScript Objects as Variables](https://www.freecodecamp.com/challenges/declare-javascript-objects-as-variables#?solution=%0Avar%20car%20%3D%20%7B%0A%20%20%22wheels%22%3A4%2C%0A%20%20%22engines%22%3A1%2C%0A%20%20%22seats%22%3A5%0A%7D%3B%0A%0Avar%20motorBike%20%3D%20%7B%0A%20%20%22wheels%22%3A4%2C%0A%20%20%22engines%22%3A1%2C%0A%20%20%22seats%22%3A5%0A%0A%20%20%2F%2F%20Only%20ch

[2016-10-27 21:19] texas2010 commented on #11408
@lionelpelap, Do you have an issue with this challenge?

[2016-10-27 21:32] rocnogu opened #11411 "challenge N60."
Challenge [Responsively Style Radio Buttons](https://www.freecodecamp.com/challenges/responsively-style-radio-buttons#?solution=%20%20%0A%20%20%0A%20%20%0A%20%20%3Cdiv%20class%3D%22row%22%3E%0A%20%20%20%20%0A%20%20%20%20%3Cdiv%20class%3D%22col-xs-6%22%3E%0A%20%20%20%20%20%20%3Cbutton%20class%3D%22btn%20btn-block%20btn-primary%22%3E%3Ci%20class%3D%22fa%20fa-thumbs-up%22%3E%3C%2Fi%3E%20Like%3C%2Fbut

[2016-10-27 21:37] texas2010 commented on #11411
@rocnogu
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-10-27 21:37] #11411 closed

[2016-10-27 21:38] Manish-Giri commented on #11411
@rocnogu Your code is incorrect. You're nesting `button` elements, while you actually need to nest `radio` buttons - they are `input` elements of the `type` `radio`.

Not just that, you seem to have deleted most of the code from your link, and the challenge won't pass without it. Reset and start over.

[2016-10-27 21:40] msanecki commented on #11396
I think it important especially for greenhorns to get the base concepts right from the beginning.
@erictleung it's not about what is common but what is right, right? ;) Shadowing is also used in everyday language, the more sun the more use of the word
The global var stay in the shadow of local one because of the function scope....

[2016-10-27 21:41] texas2010 commented on #11411
@Manish-Giri, Remind you. this place is not for help people.  only report bug or typo on fcc site.  okay.

[2016-10-27 21:44] Iregress opened #11412 "Incorrect Validation in Repeat a String Repeat a String Project"
Challenge [Repeat a string repeat a string](https://www.freecodecamp.com/challenges/repeat-a-string-repeat-a-string#?solution=function%20repeatStringNumTimes(str%2C%20num)%20%7B%0A%20%20%2F%2F%20repeat%20after%20me%0A%20if(num%20%25%202%20%3D%3D%3D%200)%7B%0A%20%20%20var%20newStr%20%3D%20%22%22%3B%0A%20%20%20for(x%3D1%3B%20x%3C%3Dnum%3Bx%2B%2B)%7B%0A%20%20%20%20%20newStr%20%2B%3D%20str%3B%0A%20%20

[2016-10-27 21:47] Manish-Giri commented on #11411
@texas2010 Excuse me? The person just said he was in the help chat and didn't get any help. What is the big deal in letting him know where the problem with his code is? You already closed the issue before even telling him how to proceed, so I don't see what you're having a problem with.

[2016-10-27 21:49] rocnogu commented on #11411
ok . ok . wait  a sec .
1  i have no idea what is difference between "button" and "radio button"
2 . WTF connection have with the whole text . the system delete part of the text all the time .AND it does not have a requirement" use the full code" . i read and write it literally  as should be .
3 . if i write the code right, it is a bug . see "2" for more info and fix it .

@Manish-Giri . that actu

[2016-10-27 21:50] texas2010 commented on #11411
@Manish-Giri, because this issue is not for ask help. they have to use chat room or forum.
if you want to help someone. you have to use chat room or forum. okay.
GitHub Issues are for reporting bugs on the website only.

[2016-10-27 21:52] BerkeleyTrue commented on #11396
This is a common misconception and it usually hinders learning by introducing too many concepts to soon or to quickly.

It important that every challenge is teaching only one concept.

Which language? My concept of shadowing (in everyday use) is probably different from yours and is not applicable to this situation. Also, remember that the concept of shadowing is going to be new regardless since we

[2016-10-27 21:52] rocnogu commented on #11411
the people from the  FCC does not help at all  . i m looking for new better place to learn .
not helping to people is just an asshole thing . you are not obligated to do it . but you can .

[2016-10-27 22:05] msanecki commented on #11396
Please, to quick or to soon? look at the challenges in every second there is some new concept or construct.

In my opinion this challenge teach exactly one concept, the concept of shadowing.

@BerkeleyTrue what are you going to say if someone ask you about the difference between shadowing and overriding based on this stuff?

[2016-10-27 22:06] spot1000 commented on #11404
I wouldn't mind giving this a go as a first timer!

[2016-10-27 22:09] BerkeleyTrue commented on #11404
Sorry looks like there are already two PR's

[2016-10-27 22:24] spot1000 commented on #11404
womp womp, oh well, I'll keep looking around. Thanks!

[2016-10-27 22:34] Eclipseparadox commented on #11400
Code runs, browser is set to 100%. Will not pass the 100% browser check mark. How do i advance?

[2016-10-27 22:37] wlawler opened #11416 "My Code matches the example, yet I'm not getting a pass."
Challenge [Accessing Objects Properties with Bracket Notation](https://www.freecodecamp.com/challenges/accessing-objects-properties-with-bracket-notation#?solution=%0A%2F%2F%20Setup%0Avar%20testObj%20%3D%20%7B%0A%20%20%22an%20entree%22%3A%20%22hamburger%22%2C%0A%20%20%22my%20side%22%3A%20%22veggies%22%2C%0A%20%20%22the%20drink%22%3A%20%22water%22%0A%7D%3B%0A%0A%2F%2F%20Only%20change%20code%20below

[2016-10-27 22:43] Bouncey commented on #11416
@wlawler Please read the instructions and try again. If this does not help, try resetting the challenge, you might see something that will help you out. :+1:

If you are still stuck, please try the `Help` button just under the `Run tests` button, or our [forum](forum.freecodecamp.com).

GitHub issues are for issues with freecodecamp as a service, not for help with your code.

Closing this issue as

[2016-10-27 22:43] #11416 closed

[2016-10-27 22:48] Bouncey commented on #11412
@Iregress 3 is greater than 0, so I don't understand what you mean by non-positive?

3 is an odd number though, and your code suggests that you are checking for even numbers...

[2016-10-27 22:49] erictleung commented on #11412
@Iregress thanks for the issue but I think you might be misinterpreting the instructions. The first test provides a positive number, 3. Three (3) is a positive number because it is greater than 0 on a number line.

The last challenge test

is the test that actually points out the test of "if the 'num' variable is 'not a positive number', you are to return an empty string" that you point out becaus

[2016-10-27 22:49] #11412 closed

[2016-10-27 23:07] #11325 closed

[2016-10-27 23:13] BerkeleyTrue commented on #11323
Is it possible to detect a windows environment and not run?

[code]

[2016-10-27 23:17] Iregress commented on #11412
You're 100% correct. I completely misinterpreted the requirements.

I was trying to figure out why such an obvious issue had not been
reported...now I know :/

Thank you.

On Thu, Oct 27, 2016 at 6:53 PM, Eric Leung <notifications@github.com>
wrote:

[2016-10-27 23:17] deisemelo commented on #11337
If this wasn't a place to ask for help too, the website wouldn't direct you here.

[2016-10-27 23:21] Acke83 commented on #3239
Sorted?
try this...replace <form action="/submit-cat-photo"> with <form id="cat-photo-form"> . I was on it one hour :D

[2016-10-27 23:50] BerkeleyTrue commented on #11323
@systimotic What does `echo $(OSTYPE)` print?

[2016-10-28 00:07] erictleung commented on #11396
@msanecki using your argument on "it's not about what is common but what is right," the Stack Overflow post you initially linked to quotes the following.

The concept really being taught here is to extend your understanding of the concept of different scopes and how they play together. The previous two lessons introduce them individually, and this lesson hopes to use them together without introduc

[2016-10-28 01:22] QuincyLarson opened #11418 "Core team status on user profiles"
We plan to move archive our [core team Gitter chat room](https://gitter.im/freecodecamp/coreteam) and move our core team over to our new [contributor chat room](https://gitter.im/freecodecamp/contributors) - which is open to anyone who wants to contribute to our open source community through:
- open source codebase contributions
- YouTube videos
- Medium or Wiki articles
- Events through our Camps

[2016-10-28 02:59] DalaYahu commented on #8187
<img class=smaller-image src="https://bit.ly/fcc-relaxing-cat" alt="A cute orange cat lying on its back. ">

[2016-10-28 05:56] #3855 closed

[2016-10-28 05:57] #7330 closed

[2016-10-28 06:46] ligun89 opened #11422 "Plz find errors in my code"
function titleCase(str) {
  var temp;

  temp=str.split(' ');

  for(var i=0 ; i<temp.length ; i++)
    {
      temp[i][0].toUpperCase();
    }
  return temp.join(' ');
}

titleCase("I'm a little tea pot");

I don't know why this return value doesn't change to "I'm A Little Tea Pot".

#### Challenge Name
Title Case a Sentence

#### Issue Description

#### Browser Information

* Browser Name, Versi

[2016-10-28 06:53] erictleung commented on #11422
@ligun89 thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-10-28 06:53] #11422 closed

[2016-10-28 07:18] jonathanparhusip1012 opened #11423 "there something wrong in my sentence"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20eat%20the%20grass%20sn

[2016-10-28 07:45] atjonathan commented on #11418
@QuincyLarson, would it not be better to use badges?

[2016-10-28 07:49] QuincyLarson opened #11424 "New certificates that include number of hours"
One common request is for our certificates to feature the number of hours associated with completing them. So for the current certificates, this would be 400 hours, and for the new ones, it would be 200 hours.

@atjonathan did you end up creating these certificate templates yet? Or a way that dynamically generates them with a single view, based on their type?

The 6 new certificates will be:
- Res

[2016-10-28 07:56] Dayfiri commented on #11226
@kodackoder Try to read the assignment again.
Your job is to change color of `inline-style`, **not** of `class` or `id`. Change from original code, color from `green` to `white` in your **style** of `h1` element at the bottom

[2016-10-28 08:00] ivantedja commented on #11418
I think badge looks more beautiful. I'd like to work on this one. I'll use "text" for now, waiting for @QuincyLarson 's reply.

[2016-10-28 08:02] Dayfiri commented on #11423
@jonathanparhusip1012
There is more code in that assignment that is missing, like `<style></style>` tags and things in it. If this is a problem then *reset* the code.

[2016-10-28 08:24] lorduwahz commented on #11376
I also believe this is a bug. I am stuck here to.... How do I fix it?

[2016-10-28 09:26] akolybelnikov opened #11426 "the .push method in Record Collection challenge doesn't seem to bring the desired result"
My function passes all other tests but repeatedly throws error on the same one, even after I have reset my code twice and emptied the cache. Here is my function code:
[code]
and here is the error I've been getting:

![image](https://cloud.githubusercontent.com/assets/18685675/19802977/a846cf2e-9d06-11e6-9bd6-b852465d9971.png)

Could someone please test this? thanks.

[2016-10-28 09:27] systimotic commented on #11323
![command tests](https://cloud.githubusercontent.com/assets/7262039/19801512/cdf7f290-9cff-11e6-8090-a6f43387d941.png)
Any variation of the top two commands doesn't work either (different quotes, no quotes, no echo, different capitalization, etc.).
The `ver` command doesn't work on Git Bash, which leads me to believe it probably won't work on Unix systems either. That's not great though, as a comm

[2016-10-28 09:32] systimotic commented on #11296
This must've been a very weird issue where some state got stuck somewhere. The code from the link shared in the original report does work for me on Firefox. Sorry for the trouble Chris! @erictleung I think this can be closed.

[2016-10-28 09:44] systimotic commented on #10885
Both PR's were merged, the test suite works on Windows again!
@Bouncey I think this can be assigned to first-timers-only again

[2016-10-28 10:18] akolybelnikov commented on #11426
the issue was with my code, apologies for the false bug

[2016-10-28 11:08] systimotic commented on #10879
Was this fixed somewhere? https://github.com/FreeCodeCamp/FreeCodeCamp/pull/10824#issuecomment-253985467

[2016-10-28 11:34] Dayfiri commented on #11426
When I enter:
`updateRecords(2468, "tracks", "Free")` in callback function, I don't get `"1999"` as an element of `tracks`. There is only 1 element and that is `"Free"`

[2016-10-28 11:58] arshaukat opened #11427 "What is wrong with this code"
Challenge [Use CSS Selectors to Style Elements](https://www.freecodecamp.com/challenges/use-css-selectors-to-style-elements#?solution=%3Cstyle%3E%0A%20%20h2%20%7Bcolor%3A%20blue%3B%7D%20CatPhotoApp%20%3C%2Fstyle%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretching%20attack%20your%20ankles%20chase%20the%20red%20dot%2C%20hairball%20run%20catnip%20

[2016-10-28 12:00] msanecki commented on #11396
@erictleung I like your point of view. From my point of view the issue can get closed. I could write a wiki entry explaining this. Where can I find the wiki?

[2016-10-28 12:05] akolybelnikov commented on #11426
Thank you for confirming the issue @Dayfiri , it's exactly the case with me too. The question is if that's a bug.

[2016-10-28 12:12] raisedadead commented on #11323
Just chiming in.
On Windows echo doesn't work the way we are trying above. Commands are evaluated as they are.

[code]

[2016-10-28 12:15] raisedadead commented on #11323
You may use the output with pipe the output using `>`
Refer: http://stackoverflow.com/a/14574661/1932901

[2016-10-28 12:19] Dayfiri commented on #11426
@akolybelnikov I don't think it is a bug. It's just a problem in if/else statements because it makes difference which statement you give in a test at 1., 2. or 3. place for example. That matters a lot. Because code may be satisfied at 1. test and it won't go through other 2 or 3 tests that you made after. That becomes a problem in this kind of code.

[2016-10-28 12:19] Marmiz commented on #11427
@arshaukat You have a syntax error inside your code.

In the specific you have `CatPhotoApp` inside your `<style>` sections.
That's not supposed to happen.

Try to follow the instructions more carefully next time.
For instance the instruction start with:

<style>
</style>

So after the first step your code should look like:
[code]

You can proceed from here :)

I also suggest you to ask in the [He

[2016-10-28 12:20] #11427 closed

[2016-10-28 12:38] #11423 closed

[2016-10-28 12:38] raisedadead commented on #11423
The issue tracker is for reporting bugs only. Please use the [help chat room](https://gitter.im/FreeCodeCamp/Help) or try looking through the [forum](http://forum.freecodecamp.com/c/free-code-camp) for help with a specific challenge.

Happy Coding.

@Dayfiri thanks.

[2016-10-28 13:23] akolybelnikov commented on #11426
thank you @Dayfiri . I'm not sure if I learned something from this challenge, but your code works.

[2016-10-28 13:23] #11426 closed

[2016-10-28 13:57] Dayfiri commented on #11426
@akolybelnikov For more help come to [FCC help chat](https://gitter.im/FreeCodeCamp/Help). There is always people willing to help and explain the problems you might have.
Cheers !

[2016-10-28 13:57] guu-hologram commented on #11376
@lorduwahz Restarting my browser worked for me.

[2016-10-28 14:04] akolybelnikov commented on #11426
yes, thanks. apologies for starting the thread under bugs. i flasely believed this to be a bug.

[2016-10-28 14:17] Dayfiri commented on #11426
@akolybelnikov No problems. There are many cases like this on daily base. Thanks for trying to help anyway 👍

[2016-10-28 14:35] dhcodes commented on #11396
@msanecki [Here's the link](http://forum.freecodecamp.com/c/wiki) to the wiki, which is currently housed on the forum. You may need a few forum posts in order to be able to gain edit rights to the wiki. I'm not sure.

Specific wiki page for that challenge: http://forum.freecodecamp.com/t/challenge-global-vs-local-scope-in-functions/18194

Thanks all who contributed to the discussion.

[2016-10-28 14:35] #11396 closed

[2016-10-28 15:10] samuelsmith442 commented on #3672
p {
    font-size: 16px;
    font-family: Monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    width: 100px;
  }
</style>

<h2 class="red-text">CatPhotoApp</h2>

<p>View more <a href="http://www.freecatphotoapp.com">cat photos</a></p>

<img class="smaller-image thick-green-border" src="

[2016-10-28 15:35] atjonathan commented on #10879
Yeah, this has been resolved in staging. Thanks for bringing this to our attention @systimotic 😜

[2016-10-28 15:38] atjonathan commented on #11424
@QuincyLarson, they have to be manually created. Are these all 200 hour certs?

[2016-10-28 15:42] ivantedja commented on #10879
@atjonathan which commit resolve this one?

[2016-10-28 15:46] atjonathan commented on #10879
@ivantedja, not sure. Check the `staging` branch. I believe it was fixed accidentally!

[2016-10-28 15:50] ivantedja commented on #10879
@atjonathan lol thanks

[2016-10-28 15:53] systimotic commented on #10879
I've been trying to solve #10802 today. I'm not sure if I'll be able to do it, but I during my experimentation I found that this issue still seems to be present. If you visit any protected route from a non-React route (whether that's FreeCodeCamp itself or a link from a different site) you get redirected to the map. An issue way to replicate this issue is (given you're logged in) going to the shop

[2016-10-28 16:01] BerkeleyTrue commented on #11404
Looks like this issue is still open.

Please read the [Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) guidelines first. Then claim this issue. Any PR that does not conform to the guideline will be closed.

[2016-10-28 16:03] erictleung commented on #11296
Mmm sounds like we're still having some issues with Firefox.

@systimotic thanks, I'll go ahead and close it.

Happy coding all!

[2016-10-28 16:03] #11296 closed

[2016-10-28 16:09] BerkeleyTrue commented on #10879
navigating directly to /settings will redirect to map. I'm currently working on a shadow settings page to wait for user data to be loaded. At that point the page will load directly.

[2016-10-28 16:11] roddrec23 commented on #11426
recgwyn@gmail.com

On Oct 28, 2016 6:21 PM, "Andrey Kolybelnikov" <notifications@github.com>
wrote:

[2016-10-28 17:41] MandyShekhon opened #11430 "Please check code, it is not accepting it."
Challenge [Link to External Pages with Anchor Elements](https://www.freecodecamp.com/challenges/link-to-external-pages-with-anchor-elements#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20

[2016-10-28 18:05] KonSal commented on #11430
Removing the `www.` from your `a` element will pass your solution.

[2016-10-28 18:27] QuincyLarson commented on #11424
@atjonathan yes - all 6 new certs are 200 hour certs. We can use the same template for the old certs, but those will be 400 hour certs. Can you figure out a graceful way to show both?

[2016-10-28 18:27] QuincyLarson commented on #11424
@atjonathan yes - all 6 new certs are 200 hour certs. We can use the same template for the old certs, but those will be 400 hour certs. Can you figure out a graceful way to show both?

[2016-10-28 18:45] systimotic commented on #11430
Good catch @KonSal! Should we update the tests to optionally allow `www.`?

[2016-10-28 18:52] Dayfiri commented on #11430
In the assignment they give us the example of `http://freecatphotoapp.com`. I don't know why someone will put `www` on it's own when it's not needed or even mentioned.

[2016-10-28 18:55] egossick commented on #5631
Here is the correct solution:
var myVar = 87;

// Only change code below this line
myVar++;

[2016-10-28 18:55] egossick commented on #11305
Here is the correct solution:
var myVar = 87;

// Only change code below this line
myVar++;

[2016-10-28 18:58] texas2010 commented on #5631
@egossick
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-10-28 19:02] KonSal commented on #11430
Wouldn't that be somewhat of an inconsistency, given that in the following challenge `www` is being used.

[2016-10-28 19:33] systimotic commented on #11400
@Bouncey That looks like a really good fix. This is quite a common issue, hopefully it works.
@Eclipseparadox If you're still having this issue, try removing the spaces. If you need coding help, please click the help button in the challenge.

[2016-10-28 20:15] raisedadead commented on #11430
Yes, we should allow `www.` to be acceptable in this challenge as well as in the next.
@KonSal I agree in the next challenge we should remove the www (for consistency) from the seed (editor) code.

Any one up for fixing these?

@BerkeleyTrue you might want to enable Cloudflare SSL on this domain as well

[2016-10-28 20:21] KonSal commented on #11430
@raisedadead I could do it when I get back home. Seems suitable for a first timer like me to make his first commit.

[2016-10-28 20:27] raisedadead commented on #11430
@KonSal AWESOME! Looking forward to it.
Here is the contributing guide:
[Guidelines for Contributing](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md).

And here are some first timer goodies:
https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/seed/challenges/01-front-end-development-certification/html5-and-css.json#L1533

Please hit us up if you need any assistance

[2016-10-28 20:36] roddrec23 commented on #11426
---------- Forwarded message ----------
From: "Mrugesh Mohapatra" <notifications@github.com>
Date: Oct 29, 2016 4:30 AM
Subject: Re: [FreeCodeCamp/FreeCodeCamp] Please check code, it is not
accepting it. (#11430)
To: "FreeCodeCamp/FreeCodeCamp" <FreeCodeCamp@noreply.github.com>
Cc:

@KonSal <https://github.com/KonSal> AWESOME! Looking forward to it.
Here is the contributing guide:
Guidelines for C

[2016-10-28 22:19] rlegare opened #11434 "Code passes but not correct output"
Challenge [Escape Sequences in Strings](https://www.freecodecamp.com/challenges/escape-sequences-in-strings#?solution=%0Avar%20myStr%20%3D%20%22FirstLine%5Cn%5C%5CSecondLine%5C%5C%5CrThirdLine%22%3B%20%2F%2F%20Change%20this%20line%0A%0A%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36</code>.
Please

[2016-10-28 23:04] Dayfiri commented on #11434
@rlegare
I'm not shure what might be your issue but in my case, your code works.
![screenshot from 2016-10-29 01-02-48](https://cloud.githubusercontent.com/assets/16082563/19824900/a1188c2a-9d73-11e6-8f9c-be43e580e5b4.png)

[2016-10-29 01:13] sarahgobind opened #11435 "keeps saying h2 element is not red"
Challenge [Use a CSS Class to Style an Element](https://www.freecodecamp.com/challenges/use-a-css-class-to-style-an-element#?solution=%0A%3Cstyle%3E%0A%20%20h2%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%3C%2Fstyle%3E%0A%0A%3Ch2%20class%3D%22red-text%22%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3Cp%3EKitty%20ipsum%20dolor%20sit%20amet%2C%20shed%20everywhere%20shed%20everywhere%20stretchi

[2016-10-29 02:02] KonSal commented on #11435
When declaring styles in CSS, you have to either use an HTML tag, like the `h2` element, or a class, like `.red-text`.

So, by changing your CSS to:
[code]

will make you pass the challenge.

[2016-10-29 02:03] KonSal commented on #11434
@rlegare Chrome 54.0 and your code is working for me as well.

[2016-10-29 02:20] oburay opened #11436 "IS THERE ANY FAULT WITH MY ORDER OF CODES"
Challenge [Comment out HTML](https://www.freecodecamp.com/challenges/comment-out-html#?solution=%3C!%0A%0A%3C!Hello%20World--%3E%0A%0A%3Ch2%3ECatPhotoApp%3C%2Fh2%3E%0A%0A%3C!Hello%20Paragraph--%3E%0A) has an issue.
User Agent is: <code>Mozilla/5.0 (Windows NT 10.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.71 Safari/537.36</code>.
Please describe how to reproduce this issue, and incl

[2016-10-29 02:22] texas2010 commented on #11436
@oburay
Thanks for reporting this. But your code is incorrect.
GitHub Issues are for reporting bugs on the website only.
Please use the [Help chat room](https://gitter.im/FreeCodeCamp/Help) for getting challenge related help.

Happy Coding.

[2016-10-29 02:22] #11436 closed

[2016-10-29 02:29] Manish-Giri commented on #11404
@BerkeleyTrue I'm not a first-timer, but I can take this up, since it's open, and no one seems to be on it.

[2016-10-29 02:45] millennialtraveller opened #11437 "Personality attribute isn't showing..."
#### Challenge Name

https://www.freecodecamp.com/challenges/create-a-set-of-checkboxes#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-family%3A%20Lobster%2C%20Monospace%3B%0A%

[2016-10-29 02:47] millennialtraveller commented on #11437
There is also the opening form tag as well above the code. Didn't write that part...

[2016-10-29 02:48] vinhhv commented on #11404
I'll claim it as a first-timer, if it already hasn't been taking!

[2016-10-29 03:16] KatieLong4 opened #11438 "Please Help."
Challenge [Add Placeholder Text to a Text Field](https://www.freecodecamp.com/challenges/add-placeholder-text-to-a-text-field#?solution=%0A%3Clink%20href%3D%22https%3A%2F%2Ffonts.googleapis.com%2Fcss%3Ffamily%3DLobster%22%20rel%3D%22stylesheet%22%20type%3D%22text%2Fcss%22%3E%0A%3Cstyle%3E%0A%20%20.red-text%20%7B%0A%20%20%20%20color%3A%20red%3B%0A%20%20%7D%0A%0A%20%20h2%20%7B%0A%20%20%20%20font-fam

[2016-10-29 03:17] KatieLong4 commented on #11438
Why won't it let me go further.

Set the value of your placeholder attribute to "cat photo URL".

[2016-10-29 03:25] #11438 closed

[2016-10-29 04:13] BerkeleyTrue commented on #11404
@vinhhv Please follow the [guide](https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md) to ensure speedy acceptance.

[2016-10-29 06:01] erictleung commented on #11434
@rlegare I think that [this PR](https://github.com/FreeCodeCamp/FreeCodeCamp/pull/11206) fixes your issue if your issue is what @KonSal points out it to be. Closing this issue as it appears to be resolved when the updates are pushed live. If this is not what you were referring to, feel free to reopen this issue. Happy coding!

[2016-10-29 06:01] #11434 closed

[2016-10-29 06:04] erictleung commented on #11435
@sarahgobind thanks for the issue but if you get stuck or have questions with a challenge in the future, please first ask questions to the [Help Room](https://gitter.im/FreeCodeCamp/Help). Happy coding!

[2016-10-29 06:04] #11435 closed

[2016-10-29 06:11] erictleung commented on #11437
@millennialtraveller sorry to hear you're running into issues. Your code is correct. However, sometimes mobile browsers inject some invisible characters that mess up our tests. If I delete what looks to be two "spaces" in your second input checkbox, the challenge passes. Probably related to https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7753.

I guess all I can suggest is to finish the challe

[2016-10-29 08:01] reeversedev commented on #11368
I just realized that it was happening because of slow internet connection.

[2016-10-29 08:43] sammoorhouse commented on #11360
Hi all, I'm new here, looking to start helping out.

I don't think regex matching is the right model for interpreting client-submitted javascript - as @adevenuto is noticing, constructing a regular expression analyse code is next to impossible, because you also have to handle the multi-line comment.

Sorry if this has been discussed already. Getting hold of a parsed AST for the submitted code woul

[2016-10-29 08:47] Kwpolska opened #11441 "Dead links challenge should not mention jQuery"
Challenge [Make Dead Links using the Hash Symbol](https://www.freecodecamp.com/challenges/make-dead-links-using-the-hash-symbol) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2902.0 Safari/537.36</code>.

**Old Issue Description:**

This is bad advice. You should avoid links that point to `#`, unless you want a

[2016-10-29 09:38] QuincyLarson commented on #11360
@sammoorhouse yes - I for one would be very interested in seeing whether you implement AST parsing on top of our existing challenge infrastructure.

We use regex tests on some challenges where no more graceful solution has been implemented, but you are correct that these are generally suboptimal.

But your solution would need to be more reliable and still run quickly on the client side.

[2016-10-29 10:16] computerluca opened #11442 "Title of the webpage not changing"
In computer Basics series when you complete a quiz correctly it bring you to the correct page but the title of web page (displaying on the tab of the browser) doesn't change.

[2016-10-29 10:16] yitch opened #11443 "Conflicting statements in instructions and test"
Requesting for

However the final code is `  return val <= 5;`

similar to issue #7125 (https://github.com/FreeCodeCamp/FreeCodeCamp/issues/7125)

Challenge [Filter Arrays with filter](https://www.freecodecamp.com/challenges/filter-arrays-with-filter#?solution=%0Avar%20oldArray%20%3D%20%5B1%2C2%2C3%2C4%2C5%2C6%2C7%2C8%2C9%2C10%5D%3B%0A%0A%2F%2F%20Only%20change%20code%20below%20this%20line.%0A%0Ava

[2016-10-29 10:35] Bouncey commented on #11441
As the challenge indicates, the `#` is used as a placeholder link whilst in development. Without it, the page you are developing will be full of broken links.

This is not correct, you can use the `name` attribute like `<a name='about'>` to anchor a link in the same page . This example would like to an element with the id of about.

[2016-10-29 10:40] Kwpolska commented on #11441
I know about placeholder links, and `<a name>` is obsolete. I was mostly questioning the jQuery part.

[2016-10-29 11:13] liorchamla opened #11444 "Challenge Sorted Union has a bug and does not validate while I'm having the good results"
Challenge [Sorted Union](https://www.freecodecamp.com/challenges/sorted-union#?solution=function%20unite(arr1%2C%20arr2%2C%20arr3)%20%7B%0A%20%20return%20Array.from(arguments).reduce(function(all%2C%20current)%7B%0A%20%20%20%20return%20all.concat(current)%3B%0A%20%20%7D%2C%20%5B%5D).filter(function(element%2C%20index%2C%20array)%7B%0A%20%20%20%20return%20array.indexOf(element)%20%3D%3D%3D%20index%

[2016-10-29 11:14] computerluca opened #11445 "Strange behaviour when submit the last Question of Quiz of Computer Basic Series"
When I submit correctly the last question of a quiz of computer Basic Series It seems like It appears a question but this question disappear in seconds and it returns to new video of the series

[2016-10-29 11:44] #11404 closed

[2016-10-29 12:09] texas2010 commented on #11435
@KonSal
Please do not post your solution on here. You could help people at FreeCodeCamp Chat Room or Forum. GitHub Issues are for reporting bugs on the website only.

Happy Coding!

[2016-10-29 12:11] systimotic commented on #11444
Hey @liorchamla! Your code is indeed correct. The issue is that it appears you renamed your function. The tests are looking for a function named `uniteUnique`, but your function is named `unite`. Changing back the function name makes the challenge pass. If you need coding help, please click the "help" button on the challenge.
I'm closing this issue. If you believe I misunderstood the problem, feel

[2016-10-29 12:11] #11444 closed

[2016-10-29 12:17] #11408 closed

[2016-10-29 12:20] systimotic commented on #11443
Although technically the description and the test say the same thing, I can see how the inconsistency causes confusion. The description says to _keep_ all the values _smaller_ than 6. The test says to _remove_ all the values _greater_ than five. Any value smaller than or equal to five is smaller than six.
To avoid the confusion, I think it would be a good idea update either the test or the descrip

[2016-10-29 12:26] yitch commented on #11443
@systimotic: starting with the intent of teaching people to code. The instructions should be made clear (and not confuse users with english subtleties)

That being said, it's also real life situation to have users who give funny requirements and it would be necessary to search forums for answers. This could be an easter egg type question :)

[2016-10-29 12:30] KonSal commented on #11435
@texas2010 Alright! Sorry for that. I guess if I ever bump into an Issue like that again, will do just like what @erictleung said.

[2016-10-29 12:33] texas2010 commented on #11435
@KonSal, all good.

[2016-10-29 12:39] liorchamla commented on #11444
No you were right bro. The problem was the function name. But the weird thing is that I did not modify the function name. Maybe the exercise has changed between the time I did it in February and now. And so my code was good at this time but not anymore.

I found the same problem on the next challenge (old code that used to work but now doesn't anymore),  I just did a reset, and rewrite the same co

[2016-10-29 13:32] raisedadead commented on #11441
Is this a bad practise, yes sure it is. But at this point in the challenge the campers especially new campers are learning the basic concepts of the language.

Sure we can tell them that this should have been a button with some magic styling that looks like a link, but I am sire you would see how overwhelming that sounds for a beginner.

To my opinion we should be focused on getting the basics cor

[2016-10-29 13:37] Kwpolska commented on #11441
My question is, why do you even tell new campers about jQuery? *That* is irrelevant to them at the point they do this challenge.

[2016-10-29 13:48] systimotic commented on #11444
👍 I assume it saved your old code, and the challenge had been changed in the meantime. Sorry for the hassle, happy coding!

[2016-10-29 13:52] raisedadead commented on #11441
Yup, it could be anything (not just jQuery).

But,

gives campers an idea of possible use cases of a dead link. jQuery happens to be a common case, but we aren't talking explicitly about that right now.

As always we are open for suggestions, though.

[2016-10-29 13:57] dreamdone opened #11447 "need more lesson"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-29 14:01] systimotic commented on #11447
Hi @dreamdone! Can you please add more info to your issue? I'm afraid we can't help if we don't know what's wrong 😀
If you're looking for coding help, please click the help button on the issue.

[2016-10-29 14:06] roddrec23 commented on #11447
recgwyn@gmail.com

On Oct 29, 2016 10:00 PM, "dreamdone" <notifications@github.com> wrote:

[2016-10-29 16:58] systimotic commented on #11260
Hi @Nemo00! I believe @Dayfiri's suggestion solves your problem.
Next time, if you need coding help, click the "help" button in the challenge.
I'm closing this issue as resolved. If there is an issue with the challenge itself that I missed, please add more info and reopen the issue.
Happy coding!

[2016-10-29 16:58] #11260 closed

[2016-10-29 17:05] roddrec23 commented on #11260
recgwyn@gmail.com

On Oct 30, 2016 1:01 AM, "Timo" <notifications@github.com> wrote:

[2016-10-29 17:10] systimotic commented on #11303
Hi @chemicalrush! Thanks for sharing your though process. That's something that I also found confusing about `:nth-child(2)`. `.target:nth-child(2)` doesn't mean "the second child of target", it means "the element with that target class that is the second child". In reality, this seems to be useful in more cases, but it needed to 'click' inside my brain first.
This is just a bit of a weird case. I

[2016-10-29 17:21] systimotic commented on #11437
Hi @millennialtraveller! This is a really pesky issue. As @erictleung suspected, this issue is the same as #7753. The second space of the two he suggested to delete is a non-breaking space, which messes up the tests. I believe @Bouncey was trying to fix for this. Let's hope he can make it work, because this is a really annoying issue.
I'm closing this as duplicate for now. If removing those spaces

[2016-10-29 17:21] #11437 closed

[2016-10-29 17:34] systimotic commented on #11186
@dhcodes Did you make any progress on this?
I think this would be a useful addition, especially to test certificate completion, as that's hard to test otherwise.

[2016-10-29 17:50] systimotic commented on #11188
I'm no longer getting this running the latest staging. I believe this was fixed-but-broken, then fixed again in #11415
@Bouncey Can this be closed?

[2016-10-29 18:03] systimotic commented on #10522
Fixed in #11053

[2016-10-29 18:03] #10522 closed

[2016-10-29 18:10] justintre opened #11448 "yahoo my account"
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-29 18:24] Dayfiri commented on #11401
@Compsight
And it is not best practice as you can see on your example to do many loops inside another loop.
You have `while` inside another `while` and inside of it you have one more `for loop` and two `if`s.
You see what I think ?

[2016-10-29 18:48] systimotic commented on #11448
Hey @justintre! Can you elaborate on your issue please? Without more information, I'm afraid we can't help you 😅
If you're looking for coding help, please click the "Help" button in the challenge.

[2016-10-29 19:45] KerryRuddock opened #11449 "Hi. I created a freeCodeCamp about 6 months ago and decided to revisit my account only to discover my account appears to have been deleted? Is there a time limit to holding an account? Its been maybe 3 months since I had last signed on."
#### Challenge Name

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code

[code]
#### Screenshot

[2016-10-29 19:59] dhcodes commented on #11186
nope, been too busy. You're welcome to check it out if you have the time @systimotic

[2016-10-29 20:05] systimotic commented on #11449
Hi @KerryRuddock. That's no good. I personally don't know about limits or deleted accounts. I think your best bet is to email support at team@freecodecamp.com They have the tools to help you out with this.
I don't believe there's anything we can do about this on GitHub, unless support finds that there was indeed an error in the application. For that reason, I'm closing this issue.
Hopefully this w

[2016-10-29 20:05] #11449 closed

[2016-10-29 20:08] JustinRyanBlankenship commented on #9196
This is still happening for me on firefox...I am a camper.

[2016-10-29 20:13] JustinRyanBlankenship commented on #9196
This has been fixed on Chrome but is broke on firefox... I am using a Macbook.

[2016-10-29 20:41] wbrennan899 opened #11450 "codepen issues with https"
Challenge [Show the Local Weather](https://www.freecodecamp.com/challenges/show-the-local-weather) has an issue.
User Agent is: <code>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/601.7.8 (KHTML, like Gecko) Version/9.1.3 Safari/601.7.8</code>.
Please describe how to reproduce this issue, and include links to screenshots if possible.

If you are using a secure connection (https) to t